

/* Start:/bitrix/templates/b24_en_new/components/bitrix24/one.time.popup/winter_sale_special_2016/style.css?14818983164706*/
@font-face
{
	font-family: "BlissProItalic";
	src: url("/bitrix/templates/landing/font/BlissProItalic/BlissProItalic.otf");
	src: url("/bitrix/templates/landing/font/BlissProItalic/BlissProItalic.otf?#iefix") format("embedded-opentype"),
	url("/bitrix/templates/landing/font/BlissProItalic/BlissProItalic.otf") format("woff"),
	url("/bitrix/templates/landing/font/BlissProItalic/BlissProItalic.otf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family: 'OpenSansRegular';
	src: url('/bitrix/templates/landing/font/OpenSansRegular/OpenSansRegular.eot');
	src: local('Open Sans Regular'),
	url('/bitrix/templates/landing/font/OpenSansRegular/OpenSansRegular.woff') format('woff'),
	url('/bitrix/templates/landing/font/OpenSansRegular/OpenSansRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*START WindowPopup*/
.window-popup-in
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10000;
}

.window-popup-in.loading
{
	cursor: progress;
}

.window-popup-in.hide
{
	display: none;
}

.window-popup-in.show
{
	display: block;
}

.window-popup-in .shadow
{
	background-color: rgba(2, 46, 85, 0.78);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.window-popup-in.show .shadow
{
	opacity: 1;
}

.window-popup-in .content
{
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
	margin: auto;
	opacity: 0;
	padding: 20px;
	transform: scale(0.6);
	box-sizing: border-box;
	display: block;
	border-radius: 20px;
	width: 720px;
	height: 310px;
}

.window-popup-in .popup-content-image
{
	width: 400px;
}

.window-popup-in.show .content
{
	opacity: 1;
	transform: scale(1);
}

.window-popup-in.redirect-anim .content
{
	transform: scale(0.1);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	-o-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	transform: scale(0.1);
	opacity: 0.4;
}

.window-popup-in .close
{
	background-color: #28bef1;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 0;
	left: -45px;
	cursor: pointer;
}

.window-popup-in .close:after
{
	background: rgba(0, 0, 0, 0) url("/bitrix/templates/b24_en_new/components/bitrix24/one.time.popup/winter_sale_special_2016/../img/ent-sprite.png") no-repeat scroll -8px -127px;
	bottom: 0;
	content: "";
	display: block;
	height: 21px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 21px;
}

.window-popup-in .container-popup
{
	opacity: 1;
	transition: opacity 0.3s linear;
	height: 100%;
	position: relative;
	text-align: center;
}

.window-popup-in.loading .container-popup
{
	opacity: 0.3;
}

.window-popup-in .container-popup .title
{

}

.window-popup-in .container-popup .popup-logo,
.window-popup-in .container-popup .text
{
	display: inline-block;
	vertical-align: middle;
}

.window-popup-in .container-popup .text
{
	color: #3bc8f5;
	font-size: 45px;
	font-family: BlissProItalic;
}

.window-popup-in .container-popup .tooltip
{
	margin: 35px auto 25px;
	position: relative;
	text-align: center;
	color: #61707b;
	font-size: 23px;
	line-height: 30px;
	font-family: OpenSansRegular;
}

.window-popup-in .popup-main-text
{
	margin: 35px auto 25px;
	position: relative;
	text-align: center;
	color: #61707b;
	font-size: 23px;
	line-height: 30px;
	font-family: OpenSansRegular;
}

.window-popup-in .container-popup .btn-container
{
	text-align: center;
	margin-top: 25px;
}

.window-popup-in .container-popup .btn
{
	font-size: 15px;
	line-height: 27px;
	color: #535c69;
	border-radius: 50px;
	padding: 9px 20px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-family: OpenSansRegular;
	transition: background-color 0.2s linear;
}

.window-popup-in .container-popup .btn.green-btn
{
	background-color: #bbed21;
}

.window-popup-in .container-popup .btn.green-btn:hover
{
	background-color: #d6fa4c;
}

.window-popup-in .container-popup .btn:not(.green-btn)
{
	text-decoration: underline;
}

.popup-close-btn:hover
{
	background-image: url("/bitrix/templates/b24_en_new/img/shared/modal-hover.png");
}

.popup-close-btn
{
	background: rgba(0, 0, 0, 0) url("/bitrix/templates/b24_en_new/img/shared/modal.png") no-repeat scroll 0 0;
	cursor: pointer;
	height: 80px;
	position: absolute;
	right: 0;
	top: 0;
	transition: background-image 0.3s ease 0s;
	width: 48px;
}
/*END WindowPopup*/


/* End */
/* /bitrix/templates/b24_en_new/components/bitrix24/one.time.popup/winter_sale_special_2016/style.css?14818983164706 */
