

/* Start:/bitrix/templates/b24_en_new/css/index.css?145702067916596*/
/* CSS3 *******************************************************************************************************************************************************/
/* Transform **************************************************************************************************************************************************/
/* Transition *************************************************************************************************************************************************/
/* IE Filter **************************************************************************************************************************************************/
/* .mx-font 1 *************************************************************************************************************************************************/
/* .mx-font 2 *************************************************************************************************************************************************/
/* .mx-font 3 *************************************************************************************************************************************************/
/* .mx-font 4 *************************************************************************************************************************************************/
/* .mx-font 5 *************************************************************************************************************************************************/
/* .b-index-daily *********************************************************************************************************************************************/
.b-index-daily {
  font-size: 19px;
  line-height: 28px;
  font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #000000;
}
.b-index-daily .gl-wrap {
  width: 1140px;
  padding: 95px 0 87px;
}
.b-index-daily p {
  width: 450px;
  min-height: 112px;
  margin: 0;
}
.b-index-daily div.e-more {
  margin-top: 66px;
}
.b-index-daily .ib-daily-scene {
  position: absolute;
  top: 58px;
  right: 14px;
}
/* .ib-daily-scene ********************************************************************************************************************************************/
.ib-daily-scene {
  position: relative;
  z-index: 0;
  width: 620px;
  height: 392px;
}
.ib-daily-scene .i-people {
  background: url(/bitrix/templates/b24_en_new/img/index/daily/people.png?) no-repeat;
  width: 516px;
  height: 269px;
  position: absolute;
  z-index: 3;
  top: 37px;
  left: 69px;
}
.ib-daily-scene .i-notebook {
  background: url(/bitrix/templates/b24_en_new/img/index/daily/notebook.png) no-repeat;
  width: 372px;
  height: 218px;
  position: absolute;
  z-index: 3;
  top: 174px;
  left: 0;
}
.ib-daily-scene .ir-circle > li {
  position: absolute;
  background: no-repeat;
}
.ib-daily-scene .ir-circle > li.n1 {
  background-image: url(/bitrix/templates/b24_en_new/img/index/daily/circle-1.png);
  width: 174px;
  height: 173px;
  top: 17px;
  left: 25px;
}
.ib-daily-scene .ir-circle > li.n2 {
  z-index: 1;
  background-image: url(/bitrix/templates/b24_en_new/img/index/daily/circle-2.png);
  width: 289px;
  height: 289px;
  top: 0;
  left: 109px;
}
.ib-daily-scene .ir-circle > li.n3 {
  background-image: url(/bitrix/templates/b24_en_new/img/index/daily/circle-3.png);
  width: 268px;
  height: 267px;
  top: 76px;
  left: 273px;
}
.ib-daily-scene .ir-circle > li.n3:after {
  z-index: 2;
  content: ' ';
  background: url(/bitrix/templates/b24_en_new/img/index/daily/circle-3-2.png) no-repeat;
  width: 289px;
  height: 289px;
  position: absolute;
  top: -11px;
  left: -11px;
}
.ib-daily-scene .ir-circle > li.n4 {
  z-index: 1;
  background-image: url(/bitrix/templates/b24_en_new/img/index/daily/circle-4.png);
  width: 159px;
  height: 158px;
  top: 185px;
  left: 461px;
}
/* .b-index-about-us ******************************************************************************************************************************************/
.b-index-about-us {
  background: #f1f5f6;
  overflow: hidden;
}
.b-index-about-us .gl-wrap {
  width: 1140px;
}
.b-index-about-us .r-text {
  font-size: 19px;
  line-height: 28px;
  font-family: "Geometria", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #7e939b;
  position: relative;
  top: -1px;
  margin: 0 78px 0 0;
}
.b-index-about-us .r-text .l-wrap {
  height: 127px;
  display: table-cell;
  vertical-align: middle;
}
.b-index-about-us .r-text,
.b-index-about-us .r-list,
.b-index-about-us .r-list > li {
  display: inline-block;
  vertical-align: middle;
}
.b-index-about-us .r-list > li + li {
  margin-left: 65px;
}
/* .b-index-meet **********************************************************************************************************************************************/
.b-index-meet {
  font-size: 19px;
  line-height: 24px;
  font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #ffffff;
  background: #2fc7f7 url(/bitrix/templates/b24_en_new/img/index/meet/bg.jpg) 50% 100% no-repeat;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.b-index-meet h2 {
  color: inherit;
}
.b-index-meet .i-overlay {
  background: url(/bitrix/templates/b24_en_new/img/index/meet/overlay.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 521px;
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
}
.b-index-meet .gl-wrap {
  height: 684px;
  padding: 56px 0 0;
}
.b-index-meet .e-play {
  position: absolute;
  z-index: 100;
  top: 312px;
  left: 50%;
  margin: 0 0 0 -72px;
}
.b-index-meet .e-play a {
  display: block;
  background: url(/bitrix/templates/b24_en_new/img/index/meet/play-2.png) 0 0 no-repeat;
  width: 144px;
  height: 144px;
  text-indent: -9999px;
  overflow: hidden;
}
.b-index-meet .e-play a:hover + .i-hover {
  width: 325px;
  height: 325px;
  margin: -162px 0 0 -162px;
}
.b-index-meet .e-play .i-hover {
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  background: url(/bitrix/templates/b24_en_new/img/index/meet/play-hover.png);
}
.b-index-meet .l-bottom {
  position: absolute;
  z-index: 10;
  bottom: 55px;
  left: 0;
  width: 100%;
}
.b-index-meet .r-text {
  position: absolute;
  top: 0;
  left: 50%;
}
.b-index-meet .r-text:after {
  z-index: -10;
  content: ' ';
  background: url(/bitrix/templates/b24_en_new/img/index/meet/arrows.png) no-repeat;
  width: 887px;
  height: 427px;
  position: absolute;
  top: 136px;
  left: -538px;
}
.b-index-meet .r-text > li {
  position: absolute;
}
.b-index-meet .r-text > li .e-text {
  display: table-cell;
  height: 120px;
  vertical-align: middle;
}
.b-index-meet .r-text > li.n1 {
  top: 77px;
  right: 446px;
}
.b-index-meet .r-text > li.n2 {
  top: 136px;
  left: 360px;
}
.b-index-meet .r-text > li.n3 {
  top: 375px;
  right: 279px;
}
.b-index-meet .r-text > li.n3 .e-text {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 500px;
  height: auto;
}
.b-index-meet .ir-layers {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50%;
}
.b-index-meet .ir-layers > li {
  position: absolute;
  background: no-repeat;
}
.b-index-meet .ir-layers > li.n1 {
  z-index: 3;
  background-image: url(/bitrix/templates/b24_en_new/img/index/meet/layer-1.png);
  width: 603px;
  height: 354px;
  bottom: 193px;
  left: -402px;
}
.b-index-meet .ir-layers > li.n2 {
  z-index: 2;
  background-image: url(/bitrix/templates/b24_en_new/img/index/meet/layer-2.png);
  width: 868px;
  height: 509px;
  bottom: 31px;
  left: -401px;
}
.b-index-meet .ir-layers > li.n2 .i-shadow {
  background: url(/bitrix/templates/b24_en_new/img/index/meet/shadow-1.png) no-repeat;
  width: 604px;
  height: 372px;
  position: absolute;
  top: 43px;
  left: 47px;
}
.b-index-meet .ir-layers > li.n3 {
  z-index: 1;
  background-image: url(/bitrix/templates/b24_en_new/img/index/meet/layer-3.png);
  width: 1403px;
  height: 433px;
  bottom: 0;
  left: -682px;
}
.b-index-meet .ir-layers > li.n3 .i-shadow {
  background: url(/bitrix/templates/b24_en_new/img/index/meet/shadow-2.png) no-repeat;
  width: 850px;
  height: 470px;
  position: absolute;
  top: 1px;
  left: 280px;
}
html.ie8 .b-index-meet .i-overlay {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/bitrix/templates/b24_en_new/img/index/meet/overlay.png", sizingMethod='scale');
}
html.ie8 .b-index-meet .e-play .i-hover {
  width: 325px;
  height: 325px;
  margin: -162px 0 0 -162px;
  background: url(/bitrix/templates/b24_en_new/img/index/meet/play-hover-2.png) 0 0 no-repeat;
  display: none;
}
html.ie8 .b-index-meet .e-play a:hover + .i-hover {
  display: block;
}
/* .b-index-tariff ********************************************************************************************************************************************/
.b-index-tariff {
  text-align: center;
}
.b-index-tariff .gl-wrap {
  padding: 43px 0 67px;
}
.b-index-tariff .b-tariff-table .i-hover {
  visibility: visible;
}
.b-index-tariff .b-tariff-table .e-row-heading {
  font-size: 16px;
}
/* .b-index-buy ***********************************************************************************************************************************************/
.b-index-buy {
  font-size: 19px;
  line-height: 28px;
  font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #000000;
}
.b-index-buy .gl-wrap {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
  width: 1110px;
  height: 354px;
  padding: 51px 0 0;
}
.b-index-buy .gl-wrap:after {
  content: ' ';
  position: absolute;
  z-index: -10;
}
.b-index-buy h2 {
  margin-bottom: 22px;
}
.b-index-buy p {
  margin: 0 0 52px;
}
.b-index-buy .i-image {
  position: absolute;
  bottom: 0;
  background: no-repeat;
}
.b-index-buy.gm-gradient-line-bottom {
  padding-bottom: 3px;
}
.b-index-buy.n-inbox .gl-wrap {
  padding-right: 500px;
}
.b-index-buy.n-inbox .gl-wrap:after {
  background: url(/bitrix/templates/b24_en_new/img/index/buy/cloud-1.png);
  width: 802px;
  height: 255px;
  top: 48px;
  right: -66px;
}
.b-index-buy.n-inbox .i-image {
  right: 101px;
  background-image: url(/bitrix/templates/b24_en_new/img/index/buy/inbox.png);
  width: 391px;
  height: 260px;
}
.b-index-buy.n-marketplace .gl-wrap {
  padding-left: 532px;
}
.b-index-buy.n-marketplace .gl-wrap:after {
  background-image: url(/bitrix/templates/b24_en_new/img/index/buy/cloud-2.png);
  width: 511px;
  height: 211px;
  top: 90px;
  left: -35px;
  right: auto;
}
.b-index-buy.n-marketplace .i-image {
  left: 101px;
  background-image: url(/bitrix/templates/b24_en_new/img/index/buy/marketplace.png);
  width: 286px;
  height: 302px;
}
/* .b-index-review ********************************************************************************************************************************************/
.b-index-review {
  padding: 74px 0 39px;
  text-align: center;
}
.b-index-review h2 {
  margin-bottom: 30px;
}
.b-index-review .r-more {
  font-size: 13px;
  line-height: 21px;
  font-family: "Geometria Medium", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
  margin: 38px 0 0;
}
.b-index-review .r-more .e-num {
  font-size: 14px;
  color: #ffffff;
  font-family: "Geometria", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  border-radius: 16px;
  behavior: url(/bitrix/templates/b24_en_new/css/PIE.htc);
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  background: #2fc7f7;
  padding: 6px 13px 4px;
  margin: -15px 0 -15px 13px;
}
/* .b-slider.n-review *****************************************************************************************************************************************/
.b-slider.n-review .r-photo {
  background: 50% 50% no-repeat;
  display: block;
  position: relative;
  width: 108px;
  height: 108px;
  margin: 0 auto 20px;
}
.b-slider.n-review .r-photo i {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/bitrix/templates/b24_en_new/img/shared/photo-mask.png);
}
.b-slider.n-review .e-name {
  font-size: 13px;
  line-height: 21px;
  font-family: "Geometria Medium", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #000000;
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 1px;
}
.b-slider.n-review .e-company {
  font-size: 19px;
  line-height: 28px;
  font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #6a828c;
  display: block;
  text-align: center;
  margin: 0 0 25px;
}
.b-slider.n-review .r-text {
  font-size: 14px;
  line-height: 21px;
  color: #475155;
  position: relative;
  background: #f2f5f7;
  padding: 15px 20px 16px;
  border-radius: 6px;
  text-align: left;
}
.b-slider.n-review .r-text .i-pointer {
  background: url(/bitrix/templates/b24_en_new/img/shared/icons.png) 0 -700px no-repeat;
  width: 22px;
  height: 11px;
  position: absolute;
  z-index: 0;
  top: -11px;
  left: 50%;
  margin: 0 0 0 -11px;
}
/* .b-index-news **********************************************************************************************************************************************/
.b-index-news {
  padding: 45px 0 37px;
  text-align: center;
  color: #000000;
}
.b-index-news h2 {
  margin-bottom: 44px;
}
.b-index-news div.e-more {
  margin-top: 51px;
}
/* .b-slider.n-news *******************************************************************************************************************************************/
.b-slider.n-news {
  font-size: 13px;
  line-height: 21px;
  font-family: "Geometria Medium", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  text-transform: uppercase;
}
.b-slider.n-news .r-photo {
  display: block;
  position: relative;
  z-index: 0;
  background: no-repeat;
  width: 115px;
  height: 115px;
  margin: 0 auto 39px;
}
.b-slider.n-news .r-photo i {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/bitrix/templates/b24_en_new/img/index/news-photo-mask.png);
}
.b-slider.n-news .m-mark {
  display: inline-block;
  background: #daff45;
  padding: 3px 5px 0;
  margin: -3px 0 0;
}
.b-slider.n-news .e-heading {
  display: block;
}
.b-slider.n-news .e-date {
  display: block;
  color: #98acb4;
  margin: 0 0 10px;
}
.b-slider.n-news .e-arrow {
  top: 105px;
}
/* html.m-hide-index-content **********************************************************************************************************************************/
html.m-hide-index-content {
  /*.b-index-tariff {
        .r-star .l-wrap {
            visibility: hidden;
        }
    }*/
}
html.m-hide-index-content .b-index-daily .ib-daily-scene .ir-circle > li,
html.m-hide-index-content .b-index-daily .ib-daily-scene .i-people,
html.m-hide-index-content .b-index-daily .ib-daily-scene .i-notebook {
  visibility: hidden;
}
html.m-hide-index-content .b-index-about-us .r-list > li {
  position: relative;
  left: 500px;
  visibility: hidden;
}
html.m-hide-index-content .b-index-meet h2,
html.m-hide-index-content .b-index-meet .e-play,
html.m-hide-index-content .b-index-meet .l-bottom {
  visibility: hidden;
}
html.m-hide-index-content .b-index-meet .r-text {
  opacity: 0;
}
html.m-hide-index-content .b-index-meet .ir-layers > li {
  visibility: hidden;
  margin-bottom: -550px;
}
html.m-hide-index-content .b-index-meet .ir-layers > li .i-shadow {
  visibility: hidden;
}
html.m-hide-index-content .b-index-buy .i-image {
  visibility: hidden;
}
html.m-hide-index-content .b-index-buy .i-image {
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
html.m-hide-index-content .b-counter-section {
  /*
        .r-note {
            visibility: hidden;
        }
        */
}
html.m-hide-index-content .b-counter-section .b-counter.m-odometer.n-tasks .r-number {
  padding-left: 52px;
}
html.m-hide-index-content .b-counter-section .b-counter.m-odometer.n-tasks .r-number .odometer-digit {
  margin-right: -2px;
}
.blog-rss {
  background-image: url(/bitrix/templates/b24_en_new/img/index/rss.png);
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-left: 20px;
}
/* End */


/* Start:/bitrix/templates/b24_en_new/css/banner-new.css?147749059612215*/
.hidden-scroll {
	overflow: hidden;
}
#b-header .r-logo .e-wobbler
{
	display: none;
}
#c-content #js-index-companies-videobanner,
#c-content .video-content-banner
{
	position: relative;
	width: 100%;
	height: 705px;
	/*height: 580px;*/
	overflow: hidden;
}
#c-content #js-index-companies-videobanner
{
	background: url(/bitrix/templates/b24_en_new/img/en/index/video-index.jpg?1) no-repeat;
	background-size: cover;
	background-position: center top;
}
#c-content .video-content-banner .video-control-items
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(35,35,35,.5);
	z-index: 5;
}
#c-content .video-content-banner .control-block
{
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	z-index: 100;
}
#c-content .video-content-banner .control-block,
#c-content .video-content-banner .control-block h1,
#c-content .video-content-banner .control-block h3
{
	color: #fff;
}
#c-content .video-content-banner .control-block h1
{
	font-size: 3em;
}
#c-content .video-content-banner .control-block h1 span
{
	color: #2fc7f7;
}
#c-content .video-content-banner .control-block h3
{
	margin-top: 2%;
	font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 1.3em;
}
#c-content .video-content-banner .control-block .video-start-free
{
	max-width: 210px;
	margin-left: auto;
	margin-right: auto;
}
#c-content .video-content-banner .control-block .video-start-free .b-free-start
{
	float: none;
	position: relative;
	margin-top: 2.5%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 0 !important;
	top: auto;
	left: 0 !important;
	right: 0 !important;
	border-radius: 30px;
}
#c-content .video-content-banner .control-block .video-start-free .b-free-start .x-button
{
	padding: 10px 23px 10px 29px;
}
#c-content .video-content-banner .control-block .video-start-free .b-free-start .x-button.m-green
{
	border-radius: 30px;
	background-size: 100% 100%;
	width: 150px;
}
/*FIX*/
#c-content .video-content-banner .control-block .video-start-free .b-free-start .b-free-start-btn
{
	background-color: #bae516;
	border-radius: 30px;
}
#c-content .video-content-banner .control-block .video-start-free .b-free-start .b-free-start-btn > button.m-green
{
	padding: 5px 23px 5px 29px;
	color: #fff;
}
#c-content .video-content-banner .control-block .video-show-full-block
{
	margin-top: 3%;
	width: 100%;
}
#c-content .video-content-banner .control-block .video-show-full
{
	position: relative;
	display: inline-block;
	padding-left: 50px;
	color: #fff;
	font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 1em;
	cursor: pointer;
}
#c-content .video-content-banner .control-block .video-show-full:before
{
	content: ' ';
	position: absolute;
	top: -42%;
	left: -15px;
	width: 50px;
	height: 50px;
	background: url(/bitrix/templates/b24_new/img/index/play.png?1) 0 0 no-repeat;
	vertical-align: middle;
}
.popup-window-overlay
{
	opacity: 1;
}
.popup-window
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: none;
	background: #000;
	z-index: 10000!important;
}
.popup-window .popup-window-close-icon
{
	margin: 8px;
	/*background-color: none;*/
	background-color: #fff;
	background-position: -2px -122px;
	/*border: 1px solid transparent;*/
	border: 1px solid #fff;
	border-radius: 50px;
}
.popup-window .popup-window-content
{
	width: 95%;
	height: 100%;
	margin: 0 auto;
	background: #000;
}
.popup-window .popup-window-content #video-player
{
	width: 100%;
	height: 100%;
}
.popup-window .popup-window-content iframe
{
	width: 100%;
	height: 100%;
}
#c-content .video-content-banner .e-bitrix
{
	background: url(/bitrix/templates/b24_en_new/img/en/bnn/bitrix.png?1) 0 0 no-repeat;
	width: 142px;
	height: 142px;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
}
#c-content .b-index-bnn
{
	margin-top: 50px;
}
#c-content .b-index-bnn h1.head-title
{
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;
	color: #000;
	text-align: center;
}
#c-content .b-index-bnn .gl-wrap
{
	height: 1104px;
}
#c-content .b-carousel,
#c-content .b-circle-background,
#c-content .b-clouds
{
	visibility: hidden;
}
#c-content .m-ready-start .b-carousel,
#c-content .m-ready-start .b-circle-background,
#c-content .m-ready-start .b-clouds
{
	visibility: visible;
}
#c-content .b-index-bnn .gl-wrap
{
	background: url(/bitrix/templates/b24_new/img/bnn/path-new-prev.jpg?1) no-repeat;
	z-index: 10;
}
#c-content .b-index-bnn.m-ready-start .gl-wrap
{
	background: none;
}
#c-content .b-carousel
{
	top: 50%;
	bottom: auto;
	z-index: 0;
}
#c-content .b-carousel:before
{
	content: ' ';
	width: 843px;
	height: 843px;
	top: -416px;
	bottom: auto;
	position: absolute;
	left: -422px;
}
#c-content .b-carousel:before
{
	background: url(/bitrix/templates/b24_new/img/bnn/path-new-before.png?1) no-repeat;
}
#c-content .b-circle-background
{
	width: 843px;
	height: 843px;
	top: 152px;
	bottom: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: url(/bitrix/templates/b24_new/img/bnn/path-new-after.png?1) no-repeat;
	z-index: 0;
}
#c-content .b-bnn-list > li
{
	z-index: 5;
}
#c-content .b-index-bnn .b-bnn-list
{
	width: 843px;
	height: 376px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 260px;
	bottom: auto;
}
#c-content .b-carousel > li
{
	z-index: 50;
}
#c-content .b-carousel > li.n14 a
{
	background: url(/bitrix/templates/b24_new/img/bnn/icons-new.png) 0 -1167px no-repeat;
}
#c-content .b-carousel > li.n14.is-active a
{
	background: url(/bitrix/templates/b24_new/img/bnn/icons-active-new.png) 0 -1167px no-repeat;;
}
#c-content .b-carousel > li span
{
	position: absolute;
	/*width: 1px;*/
	/*height: 1px;*/
	/*line-height: 1px;*/
	color: #91a2aa;
	/*vertical-align: middle;*/
	white-space: nowrap;
}
#c-content .b-carousel > li > span > a
{
	height: auto;
	background: none!important;
	color: #91a2aa;
}
#c-content .b-index-bnn .r-menu li
{
	color: #91a2aa;
	font-size: 12px;
}
#c-content .b-index-bnn .r-menu li a
{
	margin: 6px 11px 7px;
	padding: 6px 0 3px;
	border-radius: 0;
	border-bottom: 1px solid #91a2aa;
}
#c-content .b-index-bnn .r-menu li.is-active a
{
	margin: 6px 0 7px;
	padding: 6px 11px 7px;
	color: #475155;
	background: #daff45;
	border-color: transparent;
}
#c-content .b-load-gap
{
	background: none;
}
#c-content .b-loader-container
{
	position: absolute;
	width: 250px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -125px;
	background: #2fc7f7;
	border-radius: 30px;
	z-index: 15;
}
#c-content .b-loader
{
	top: auto;
	left: auto;
	margin-top: 8px;
	margin-left: 23px;
}
#c-content .b-index-bnn
{
	background: none;
}
#c-content  .b-index-bnn .r-text > li
{
	color: #000;
	background: none;
}
#js-index-companies.b-counter-section.bx-main-cloud
{
	background: #2fc7f7;
}
#js-index-companies .b-counter .r-text .l-wrap
{
	color: #fff;
}
#c-content .b-index-bnn .r-details
{
	height: auto;
	top: 750px;
	bottom: auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
#c-content .b-index-bnn .r-free
{
	right: 10px;
	bottom: 120px;
}
#c-content .b-index-bnn .e-arrow
{
	display: none;
	top: 485px;
}

#c-content .b-index-bnn .r-details
{
	max-width: 210px;
	margin-left: auto;
	margin-right: auto;
	visibility: hidden;
}
#c-content .m-ready-start .r-details
{
	visibility: visible;
}
#c-content .b-index-bnn .r-details .b-free-start
{
	float: none;
	position: relative;
	margin-top: 2.5%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px 0 !important;
	top: auto;
	left: 0 !important;
	right: 0 !important;
	border-radius: 30px;
}
#c-content .b-index-bnn .r-details .b-free-start .x-button
{
	padding: 10px 23px 10px 29px;
}
#c-content .b-index-bnn .r-details .b-free-start .x-button.m-green
{
	border-radius: 30px;
	background-size: 100% 100%;
	width: 150px;
}
/*#c-content .b-index-bnn .r-details a
{
	border: 2px solid #fff;
}*/

#c-content .b-carousel
{
	z-index: 20;
}
#c-content .b-carousel > li
{
  background: url(/bitrix/templates/b24_new/img/bnn/item-new.png?1) no-repeat;
}
/* .b-banner-list > li.n4 *************************************************************************************************************************************/
#c-content .b-bnn-list > li.n4 .r-list > li.n1 {
  background-image: url(/bitrix/templates/b24_en_new/img/en/bnn/4/browser-new.png?1);

}
/* .b-banner-list > li.n5 *************************************************************************************************************************************/
#c-content .b-bnn-list > li.n5 .e-avatar span {
  background-image: url(/bitrix/templates/b24_new/img/bnn/5/avatar-new.png?1);
}
/* .b-banner-list > li.n9 *************************************************************************************************************************************/
#c-content .b-bnn-list > li.n9 .r-user > li.n3 {
  background-image: url(/bitrix/templates/b24_new/img/bnn/9/user-3-new.png?1);
}
/* .b-banner-list > li.n12 ************************************************************************************************************************************/
#c-content .b-bnn-list > li.n12 .e-tablet {
  background-image: url(/bitrix/templates/b24_new/img/bnn/12/tablet-new.png?1);
  width: 155px;
  height: 200px;
  margin-bottom: -172px;
}
/* .b-banner-list > li.n14 *************************************************************************************************************************************/
.b-bnn-list > li.n14 .e-circle {
  z-index: -10;
  background-image: url(/bitrix/templates/b24_new/img/bnn/14/circle.png?1);
  width: 165px;
  height: 165px;
  bottom: 44px;
  left: 110px;
  visibility: hidden;
}
.b-bnn-list > li.n14 .e-disk {
  background-image: url(/bitrix/templates/b24_new/img/bnn/14/disk.png?1);
  width: 93px;
  height: 93px;
  bottom: 68px;
  left: -99px;
  visibility: hidden;
}
.b-bnn-list > li.n14 .r-user {
  bottom: 0;
}
.b-bnn-list > li.n14 .r-user > li {
  visibility: hidden;
}
.b-bnn-list > li.n14 .r-user > li.n1 {
  z-index: 2;
  background-image: url(/bitrix/templates/b24_new/img/bnn/14/user-1.png?1);
  width: 137px;
  height: 152px;
  bottom: 37px;
  left: -305px;
}
.b-bnn-list > li.n14 .r-user > li.n2 {
  background-image: url(/bitrix/templates/b24_new/img/bnn/14/user-2.png?1);
  width: 175px;
  height: 126px;
  bottom: 106px;
  left: 49px;
}
.b-bnn-list > li.n14 .r-user > li.n3 {
  background-image: url(/bitrix/templates/b24_new/img/bnn/14/user-3.png?1);
  width: 194px;
  height: 90px;
  bottom: 9px;
  left: 65px;
}
.b-bnn-list > li.n14 .r-dots {
  z-index: 0;
  bottom: 0;
}
.b-bnn-list > li.n14 .r-dots > li {
  background-image: url(/bitrix/templates/b24_new/img/bnn/dots.gif?1);
  width: 50px;
  height: 14px;
  visibility: hidden;
}
.b-bnn-list > li.n14 .r-dots > li.n1 {
  bottom: 108px;
  left: -165px;
}
.b-bnn-list > li.n14 .r-dots > li.n2 {
  bottom: 144px;
  left: 3px;
}
.b-bnn-list > li.n14 .r-dots > li.n3 {
  bottom: 67px;
  left: 18px;
}
.b-bnn-list > li.n14 .r-file {
  z-index: 1;
  bottom: 0;
}
.b-bnn-list > li.n14 .r-file > li {
  background-image: url(/bitrix/templates/b24_new/img/bnn/14/file.png?1);
  width: 55px;
  height: 63px;
  opacity: 0.66;
  visibility: hidden;
}
.b-bnn-list > li.n14 .r-file > li.n1 {
  z-index: 1;
  bottom: 37px;
  left: -49px;
  margin: 0 0 0 -174px;
}
.b-bnn-list > li.n14 .r-file > li.n2 {
  bottom: 150px;
  left: 190px;
  margin: 0 0 -113px -239px;
}
.b-bnn-list > li.n14 .r-file > li.n3 {
  bottom: 4px;
  left: 225px;
  margin: 0 0 33px -274px;
}
html.ie8 .b-bnn-list > li.n14 .r-file > li {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=66%);
}
/* End */


/* Start:/bitrix/templates/.default/components/bitrix/news.list/reviews_slide/style.css?1461857414126*/
.r-list .r-text a
{
	margin-top: 5px;
	display: inline-block;
}

.b-index-review .r-more
{
	padding-bottom: 10px;
}

/* End */


/* Start:/bitrix/components/bitrix24/map.global/templates/.default/style.css?14666938088393*/
.b-index-map-cnr {
  color: #ffffff;
  font-family: "Geometria Light", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 19px;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 0;
  background: #fff url(/bitrix/components/bitrix24/map.global/templates/.default/img/map-bg.png) no-repeat;
  background-position: center center;
}
.b-index-map-cnr .gl-wrap {
  padding-top: 56px;
  padding-bottom: 56px;
}
.b-index-map-tip-cnr {
  padding-top: 20px;
  width: 75%;
  margin: auto;
  color: #000;
}
.b-index-map-btn-cnr {
  padding-top: 35px;
}
.bx-global-map {
  width: 1030px;
  height: 560px;
  border: 8px solid #fff;
  margin: auto;
  box-shadow: 0 10px 20px 0 rgba(0, 1, 1, 0.12);
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  color: #000;
  background: #fff url(/bitrix/components/bitrix24/map.global/templates/.default/img/loading_spinner.gif) no-repeat center center;
}
.bx-cluster-circle-small,
.bx-cluster-circle-medium,
.bx-cluster-circle-big,
.bx-cluster-circle-vbig {
  background-color: rgba(255, 255, 255, 0.7);
}
.bx-cluster-circle-small {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -25px;
  left: -25px;
}
.bx-cluster-circle-medium {
  height: 70px;
  width: 70px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 70px;
  position: relative;
  top: -35px;
  left: -35px;
}
.bx-cluster-circle-big {
  height: 90px;
  width: 90px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 90px;
  position: relative;
  top: -45px;
  left: -45px;
}
.bx-cluster-circle-vbig {
  height: 100px;
  width: 100px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  position: relative;
  top: -50px;
  left: -50px;
}
.bx-cluster-caption {
  font-family: "Geometria", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  color: #000;
}
.b-map-create-btn {
  font-family: "Geometria", "Helvetica Neue", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 2px 20px 2px 0;
  padding: 5px 10px 3px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0) url("/bitrix/templates/b24_en_new/img/form/button-green.png") repeat-x scroll 0 0;
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px #d5dde0;
  color: #fff;
  text-transform: uppercase;
}
.b-map-create-btn:hover {
  background-image: url("/bitrix/templates/b24_new/img/form/button-green-hover.png");
}
.b-map-create-btn:active {
  background-image: url("/bitrix/templates/b24_new/img/form/button-green-active.png");
  box-shadow: 0 0 0 2px #d5dde0, 0 1px 1px rgba(0, 0, 0, 0.15) inset;
}
@media (max-width: 1100px) {
  .b-index-map-cnr {
    padding-left: 15px;
    padding-right: 15px;
  }
  .b-index-map-cnr .gl-wrap {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .bx-global-map {
    width: 100%;
    margin: auto;
    height: 360px;
  }
  .b-index-map-tip-cnr {
    font-size: 0.8em;
    line-height: 1.2;
    width: 100%;
  }
  .b-map-create-btn {
    font-size: 10px;
    line-height: 16px;
    margin: 2px 10px 2px 0;
    padding: 4px 10px;
  }
}
.bx-cluster-circle-very-small {
  height: 30px;
  width: 30px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: -15px;
  left: -15px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bx-cluster-circle-small {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bx-cluster-dot {
  height: 5px;
  width: 5px;
  opacity: 0.8;
  border-radius: 50%;
  position: relative;
  top: -2.5px;
  left: -2.5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bx-cluster-circle-medium {
  height: 70px;
  width: 70px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 70px;
  position: relative;
  top: -35px;
  left: -35px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bx-cluster-circle-big {
  height: 80px;
  width: 80px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  position: relative;
  top: -40px;
  left: -40px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bx-cluster-circle-vbig {
  height: 90px;
  width: 90px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 90px;
  position: relative;
  top: -45px;
  left: -45px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bx-cluster-circle-small-act {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  position: relative;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: shadow;
  animation-timing-function: linear;
}
.bx-cluster-dot-act {
  height: 10px;
  width: 10px;
  opacity: 0.8;
  border-radius: 50%;
  position: relative;
  top: -5px;
  left: -5px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: dot;
  animation-timing-function: linear;
}
.bx-cluster-circle-medium-act {
  height: 70px;
  width: 70px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 70px;
  position: relative;
  top: -35px;
  left: -35px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: shadow;
  animation-timing-function: linear;
}
.bx-cluster-circle-big-act {
  height: 80px;
  width: 80px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  position: relative;
  top: -40px;
  left: -40px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: shadow;
  animation-timing-function: linear;
}
.bx-cluster-circle-vbig-act {
  height: 90px;
  width: 90px;
  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid #1e98ff;
  vertical-align: middle;
  text-align: center;
  line-height: 90px;
  position: relative;
  top: -45px;
  left: -45px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-name: shadow;
  animation-timing-function: linear;
}
.bx-cluster-caption {
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  color: black;
}
.bx-global-map table
{
  width: auto;
}
.bx-global-map td
{
  vertical-align: middle;
}
@-webkit-keyframes shadow {
  from {
    opacity: 0.8;
    border-color: #1e98ff;
  }
  10% {
    opacity: 0.8;
    border-color: blue;
  }
  40% {
    opacity: 0.8;
    border-color: #1e98ff;
  }
  70% {
    opacity: 0.8;
    border-color: #1e98ff;
  }
  to {
    opacity: 0.8;
    border-color: #1e98ff;
  }
}
@keyframes shadow {
  from {
    opacity: 0.8;
    border-color: #1e98ff;
  }
  10% {
    opacity: 0.8;
    border-color: blue;
  }
  40% {
    opacity: 0.8;
    border-color: #1e98ff;
  }
  70% {
    opacity: 0.8;
    border-color: #1e98ff;
  }
  to {
    opacity: 0.8;
    border-color: #1e98ff;
  }
}
@-webkit-keyframes dot {
  from {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
  }
  10% {
    opacity: 0.8;
    background-color: green;
  }
  40% {
    opacity: 0.8;
    background-color: green;
  }
  70% {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
  }
  to {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@keyframes dot {
  from {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
  }
  10% {
    opacity: 0.8;
    background-color: green;
  }
  40% {
    opacity: 0.8;
    background-color: green;
  }
  70% {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
  }
  to {
    opacity: 0.8;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/* End */
/* /bitrix/templates/b24_en_new/css/index.css?145702067916596 */
/* /bitrix/templates/b24_en_new/css/banner-new.css?147749059612215 */
/* /bitrix/templates/.default/components/bitrix/news.list/reviews_slide/style.css?1461857414126 */
/* /bitrix/components/bitrix24/map.global/templates/.default/style.css?14666938088393 */
