/* default styles for extension "tx_cwtwitter" */
	.cwtw-TweetWrap {
		margin-bottom: 1em;
	}
	.cwtw-TweetAvatar {
		float: left;
		width: 48px;
	}
	.cwtw-TweetAvatar-image {
		display: block;
	}
	.cwtw-Tweet {
		margin-left: 58px;
	}
	.cwtw-TweetMeta {
		font-size: .9em;
	}