.gicon-facebook-s {
  background-image: url('png/facebook-s.png');
}

.gicon-flag-cz-s {
  background-image: url('png/flag-cz-s.png');
}

.gicon-flag-en-s {
  background-image: url('png/flag-en-s.png');
}

.gicon-flag-es-s {
  background-image: url('png/flag-es-s.png');
}

.gicon-flag-fr-s {
  background-image: url('png/flag-fr-s.png');
}

.gicon-flag-ger-s {
  background-image: url('png/flag-ger-s.png');
}

.gicon-flag-it-s {
  background-image: url('png/flag-it-s.png');
}

.gicon-flag-nl-s {
  background-image: url('png/flag-nl-s.png');
}

.gicon-flag-pl-s {
  background-image: url('png/flag-pl-s.png');
}

.gicon-flag-ro-s {
  background-image: url('png/flag-ro-s.png');
}

.gicon-flag-ru-s {
  background-image: url('png/flag-ru-s.png');
}

.gicon-flag-tr-s {
  background-image: url('png/flag-tr-s.png');
}

.gicon-link-forward-prio-m {
  background-image: url('png/link-forward-prio-m.png');
}

.gicon-menu-close-m {
  background-image: url('png/menu-close-m.png');
}

.gicon-menu-open-m {
  background-image: url('png/menu-open-m.png');
}

.gicon-missingimage-l {
  background-image: url('png/missingimage-l.png');
}

.gicon-missingimage-xl {
  background-image: url('png/missingimage-xl.png');
}

.gicon-missingimage-xxxl {
  background-image: url('png/missingimage-xxxl.png');
}

.gicon-mobilede-logo {
  background-image: url('png/mobilede-logo.png');
}

.gicon-oba-s {
  background-image: url('png/oba-s.png');
}

.gicon-pageup-s {
  background-image: url('png/pageup-s.png');
}

.gicon-print-s {
  background-image: url('png/print-s.png');
}

.gicon-promobullets-m {
  background-image: url('png/promobullets-m.png');
}

.gicon-saved-cars-s {
  background-image: url('png/saved-cars-s.png');
}

.gicon-saved-searches-s {
  background-image: url('png/saved-searches-s.png');
}

.gicon-search-s {
  background-image: url('png/search-s.png');
}

.gicon-searchbike-xxl {
  background-image: url('png/searchbike-xxl.png');
}

.gicon-searchcamper-xxl {
  background-image: url('png/searchcamper-xxl.png');
}

.gicon-searchcar-current-xxl {
  background-image: url('png/searchcar-current-xxl.png');
}

.gicon-searchtruck-xxl {
  background-image: url('png/searchtruck-xxl.png');
}

.gicon-submenu-open-s {
  background-image: url('png/submenu-open-s.png');
}

.gicon-twitter-s {
  background-image: url('png/twitter-s.png');
}

.gicon-user-s {
  background-image: url('png/user-s.png');
}