/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.full {
    background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

.logo {
    max-width: 256px;
}

@media screen and (max-width: 344px) {
    .logo {
        max-width: 230px;
    }
}

@media screen and (max-width: 318px) {
    .logo {
        max-width: 150px;
    }
}

.img-center {
    margin: 0 auto;
}

.bigicon {
        font-size: 35px;
        color: #36A0FF;
    }

.ctabtn {
    font-size: 2em;
}