﻿/*
	---------------------------------------------------------------------------
	TEMA 1 - EM HÅNDBOLD
*/

.drfront .df-article.df-skin-32-tema-1,
.drfront .df-container.df-skin-tema-1 {
	/* sæt baggrunds-farve/grafik */
	background-color: #C20E1A;

	background-image: url('//asset.dr.dk/imagescaler/?file=/nyheder/htm/forside/img/em-haandbold-2016-ny.jpg');
	background-repeat: no-repeat;
	background-position: right top;

	/* fjern kommentarerne rundt om nedenstående når footer snippet er fjernet */
	border-bottom: 6px solid #000000;
}

/* header tekst farve */
.drfront .df-article.df-skin-32-tema-1 .text-header,
.drfront .df-article.df-skin-32-tema-1 .df-article-header .df-article-header-inner,
.drfront .df-container.df-skin-tema-1 .df-container-header .df-container-header-inner,
.drfront .df-container.df-skin-tema-1 .df-article .df-article-content .text-header {

	color: #ffffff;
	/*
	bund linje:
	første border angiver border for IE8 og under.
	anden linje angiver transparent border i moderne browsere.
	*/
	border-bottom: 0px solid #000000;
	border-color: rgba(229, 117, 28, 1.0);

}

/* teasertekstfarve */

.drfront .df-article.df-skin-32-tema-1 span.df-style-teaser,
.drfront .df-article.df-skin-32-tema-1 .df-style-teaser * {
	color: #ffffff;
}

/* kursiv billed label */
.drfront .df-article.df-skin-32-tema-1 p.label,
.drfront .df-container.df-skin-tema-1 .df-article .df-article-content p.label {
	background-color: #fff;
	color: #FCF!CO000000;
}

/* link tekst farve */
.drfront .df-article.df-skin-32-tema-1 a:link,
.drfront .df-article.df-skin-32-tema-1 a:visited,
.drfront .df-container.df-skin-tema-1 a:link,
.drfront .df-container.df-skin-tema-1 a:visited {
	color: #ffffff;
}

/* label tekst farve */
.drfront .df-article.df-skin-32-tema-1 span.label,
.drfront .df-article.df-skin-32-tema-1 .df-style-label-red,
.drfront .df-article.df-skin-32-tema-1 .df-style-label-red *,
.drfront .df-article.df-skin-32-tema-1 .df-style-label-blue,
.drfront .df-article.df-skin-32-tema-1 .df-style-label-blue *,
.drfront .df-container.df-skin-tema-1 span.label,
.drfront .df-container.df-skin-tema-1 .df-style-label-red,
.drfront .df-container.df-skin-tema-1 .df-style-label-red *,
.drfront .df-container.df-skin-tema-1 .df-style-label-blue,
.drfront .df-container.df-skin-tema-1 .df-style-label-blue * {
	color: #000000;
}

/* underrubrik tekst farve */
.drfront .df-article.df-skin-32-tema-1 .teaser,
.drfront .df-container.df-skin-tema-1 .teaser {
	color: #ffffff;
}

/* hvid baggrund på artikler */
.drfront .df-container.df-skin-tema-1 .bg-00-nyheder-default div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-1 .bg-01-nyheder-small div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-1 .bg-03-nyheder-theme div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-1 .bg-09-historie-default div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-1 .bg-10-historie-small div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-1 .bg-11-historie-theme div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content, .drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content {
	background: #FFF;
	padding: 20px;
}

/* fjern billedmargin på billeder på hvide artikler */
.drfront .df-container.df-skin-tema-1 .bg-00-nyheder-default div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-1 .bg-01-nyheder-small div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-1 .bg-03-nyheder-theme div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-1 .bg-09-historie-default div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-1 .bg-10-historie-small div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-1 .bg-11-historie-theme div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-1 .bg-default div.df-article-content .df-img-container {
	margin: -20px -20px 0px -20px;
}

/*
	---------------------------------------------------------------------------
	TEMA 2 - Jul
*/

.drfront .df-article.df-skin-33-tema-2,
.drfront .df-container.df-skin-tema-2 {
	/* sæt baggrunds-farve/grafik */
	background-color: #ff0024;

	background-image: url('//asset.dr.dk/imagescaler/?file=/nyheder/htm/forside/img/BG_forsidezone_jul.png');
	background-repeat: no-repeat;
	background-position: right top;

	/* fjern kommentarerne rundt om nedenstående når footer snippet er fjernet */
	border-bottom: 6px solid #7e0c0c;
}

/* header tekst farve */
.drfront .df-article.df-skin-33-tema-2 .text-header,
.drfront .df-article.df-skin-33-tema-2 .df-article-header .df-article-header-inner,
.drfront .df-container.df-skin-tema-2 .df-container-header .df-container-header-inner,
.drfront .df-container.df-skin-tema-2 .df-article .df-article-content .text-header {

	color: #ffffff;
	/*
	bund linje:
	første border angiver border for IE8 og under.
	anden linje angiver transparent border i moderne browsere.
	*/
	border-bottom: 0px solid #ff0024;
	border-color: rgba(229, 117, 28, 1.0);

}

/* kursiv billed label */
.drfront .df-article.df-skin-33-tema-2 p.label,
.drfront .df-container.df-skin-tema-2 .df-article .df-article-content p.label {
	background-color: #fff;
	color: #F6CB0D;
}

/* link tekst farve */
.drfront .df-article.df-skin-33-tema-2 a:link,
.drfront .df-article.df-skin-33-tema-2 a:visited,
.drfront .df-container.df-skin-tema-2 a:link,
.drfront .df-container.df-skin-tema-2 a:visited {
	color: #000000;
}

/* label tekst farve */
.drfront .df-article.df-skin-33-tema-2 span.label,
.drfront .df-article.df-skin-33-tema-2 .df-style-label-red,
.drfront .df-article.df-skin-33-tema-2 .df-style-label-red *,
.drfront .df-article.df-skin-33-tema-2 .df-style-label-blue,
.drfront .df-article.df-skin-33-tema-2 .df-style-label-blue *,
.drfront .df-container.df-skin-tema-2 span.label,
.drfront .df-container.df-skin-tema-2 .df-style-label-red,
.drfront .df-container.df-skin-tema-2 .df-style-label-red *,
.drfront .df-container.df-skin-tema-2 .df-style-label-blue,
.drfront .df-container.df-skin-tema-2 .df-style-label-blue * {
	color: #940505;
}

/* underrubrik tekst farve */
.drfront .df-article.df-skin-33-tema-2 .teaser,
.drfront .df-container.df-skin-tema-2 .teaser {
	color: #000000;
}

/* hvid baggrund på artikler */
.drfront .df-container.df-skin-tema-2 .bg-00-nyheder-default div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-2 .bg-01-nyheder-small div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-2 .bg-03-nyheder-theme div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-2 .bg-09-historie-default div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-2 .bg-10-historie-small div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-2 .bg-11-historie-theme div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content, .drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content {
	background: #FFF;
	padding: 20px;
}

/* fjern billedmargin på billeder på hvide artikler */
.drfront .df-container.df-skin-tema-2 .bg-00-nyheder-default div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-2 .bg-01-nyheder-small div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-2 .bg-03-nyheder-theme div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-2 .bg-09-historie-default div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-2 .bg-10-historie-small div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-2 .bg-11-historie-theme div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-2 .bg-default div.df-article-content .df-img-container {
	margin: -20px -20px 0px -20px;
}

/*
	---------------------------------------------------------------------------
	TEMA 3 MAD
*/

.drfront .df-article.df-skin-34-tema-3,
.drfront .df-container.df-skin-tema-3 {
	/* sæt baggrunds-farve/grafik */
	background-color: #88CFCB;

	background-image: url('http://asset.dr.dk/imagescaler/?file=/nyheder/htm/forside/img/Forside_Temazone_MAD_BG.png');
	background-repeat: no-repeat;
	background-position: right top;

	/* fjern kommentarerne rundt om nedenstående når footer snippet er fjernet */
	border-bottom: 6px solid #227477;
}

/* header tekst farve */
.drfront .df-article.df-skin-34-tema-3 .text-header,
.drfront .df-article.df-skin-34-tema-3 .df-article-header .df-article-header-inner,
.drfront .df-container.df-skin-tema-3 .df-container-header .df-container-header-inner,
.drfront .df-container.df-skin-tema-3 .df-article .df-article-content .text-header {

	color: #000000;
	/*
	bund linje:
	første border angiver border for IE8 og under.
	anden linje angiver transparent border i moderne browsere.
	*/
	border-bottom: 0px solid #FFF;
	border-color: rgba(229, 117, 28, 1.0);

}

/* kursiv billed label */
.drfront .df-article.df-skin-34-tema-3 p.label,
.drfront .df-container.df-skin-tema-3 .df-article .df-article-content p.label {
	background-color: #fff;
	color: #000000;
}

/* link tekst farve */
.drfront .df-article.df-skin-34-tema-3 a:link,
.drfront .df-article.df-skin-34-tema-3 a:visited,
.drfront .df-container.df-skin-tema-3 a:link,
.drfront .df-container.df-skin-tema-3 a:visited {
	color: #000000;
}

/* label tekst farve */
.drfront .df-article.df-skin-34-tema-3 span.label,
.drfront .df-article.df-skin-34-tema-3 .df-style-label-red,
.drfront .df-article.df-skin-34-tema-3 .df-style-label-red *,
.drfront .df-article.df-skin-34-tema-3 .df-style-label-blue,
.drfront .df-article.df-skin-34-tema-3 .df-style-label-blue *,
.drfront .df-container.df-skin-tema-3 span.label,
.drfront .df-container.df-skin-tema-3 .df-style-label-red,
.drfront .df-container.df-skin-tema-3 .df-style-label-red *,
.drfront .df-container.df-skin-tema-3 .df-style-label-blue,
.drfront .df-container.df-skin-tema-3 .df-style-label-blue * {
	color: #227477;
}

/* underrubrik tekst farve */
.drfront .df-article.df-skin-34-tema-3 .teaser,
.drfront .df-container.df-skin-tema-3 .teaser {
	color: #000000;
}

/* hvid baggrund på artikler */
.drfront .df-container.df-skin-tema-3 .bg-00-nyheder-default div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-3 .bg-01-nyheder-small div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-3 .bg-03-nyheder-theme div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-3 .bg-09-historie-default div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-3 .bg-10-historie-small div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-3 .bg-11-historie-theme div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content,
.drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content, .drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content {
	background: #FFF;
	padding: 20px;
}

/* fjern billedmargin på billeder på hvide artikler */
.drfront .df-container.df-skin-tema-3 .bg-00-nyheder-default div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-3 .bg-01-nyheder-small div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-3 .bg-03-nyheder-theme div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-3 .bg-09-historie-default div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-3 .bg-10-historie-small div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-3 .bg-11-historie-theme div.df-article-content .df-img-container,
.drfront .df-container.df-skin-tema-3 .bg-default div.df-article-content .df-img-container {
	margin: -20px -20px 0px -20px;
}
