.cb-kodukujundaja-2n {
	margin-top: 15px;
	overflow: hidden;
	width: 728px;
	min-height: 300px;
	background: url('//g.delfi.ee/kk/i/kk_2n_bg2.jpg') 0 0 no-repeat;
	position: relative;
}
.cb-kodukujundaja-2n__header {
	display: block;
	height: 55px;
	margin-bottom: 5px;
}
.cb-kodukujundaja-2n__right {
	display: block;
	height: 100%;
	width: 100%;
}
.cb-kodukujundaja-2n__prize-description {
	color: #FFF;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 240px;
	height: 75px;
	text-align: center;
	font-size: 11px;
	line-height: 14px;
	font-weight: 400;
	padding: 1em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.cb-kodukujundaja-2n > .content-sticky-wrap {
	width: 479px;
	float: left;
}
.cb-kodukujundaja-2n > .content-third-block {
	height: 215px;
}
.kodukujundaja-widget-countdown {
	margin: 0;
	text-align: center;
	min-height: 130px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.kodukujundaja-widget-countdown p {
	font-weight: 300;
	margin: 10px 0 16px 0;
	padding: 0;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #969da3;
}

.kodukujundaja-widget-countdown .kodukujundaja-count {
	font-size: 31px;
	font-weight: 300;
}

.kodukujundaja-widget-countdown .kodukujundaja-count > div {
	display: inline;
}

.kodukujundaja-widget-countdown .kodukujundaja-count > span {
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.kodukujundaja-widget-countdown a.kodukujundaja-btn {
	line-height: 40px;
	display: inline-block;
	width: 141px;
	height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: #00c2b2;
	border: 1px solid #00c2b2;
	border-radius: 10px;
	background: #fff;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.kodukujundaja-widget-countdown a.kodukujundaja-btn:hover {
	color: #fff;
	background: #00c2b2;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
