#tv-saated-5-block {
	margin-top: 15px;
}
#tv-saated-5-block a {
	color: black;
	font-size: 21px;
}
#tv-saated-5-block .content-third-block a {
	font-size: 18px;
}
#delfi-tv-saated-logo {
    margin: 15px 0;
}
#tv-saated-5-block .content-half-block,
#tv-saated-5-block .content-third-block {
	position: relative;
}
.tv-mask-big,
.tv-mask-small {
	top: 0;
	display: block;
	position: absolute;
}
.tv-mask-big {
	width: 355px;
	height: 215px;
	background: transparent url('http://g.delfi.ee/d/m/big_overlay.png') no-repeat left top;
}
.tv-mask-small {	
	width: 230px;
	height: 139px;
	background: transparent url('http://g.delfi.ee/d/m/small_overlay.png') no-repeat left top;
}
.tv-saated-vaata-btn {
	line-height: 30px;
	position: absolute;
	bottom: 0;
	padding: 0 14px;
	height: 30px;
	background: #1b9fd4;
	font-size: 17px;
	color: white;
}
#tv-saated-5-block .more-info {
	float: left;
	color: #1b9fd4;
	font-size: 14px;	
}
