/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('http://g.delfi.ee/misc/common/fonts/roboto-v15-cyrillic_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}