#ee_personal_choice_locinfo {
	font: bold 13px/18px Arial,Verdana,Helvetica,Sans-Serif;
	color: #1B1B20;
	display: block;
	background-color:#EEE;
	margin:5px 0 16px;
	padding:10px;
	overflow: hidden;
}
#ee_personal_choice_locinfo.loc_selected {
	margin:5px 0 16px;
	padding:5px 0 10px;
	background-color:#FFF;
	border-top:5px solid #6597d7;
}
#ee_personal_choice_locinfo .mainp {
	font: bold 16px/18px Arial,Verdana,Helvetica,Sans-Serif;
	color:#218cd2;
}
#ee_personal_choice_locinfo .extrap {
	font: bold 12px/18px Arial,Verdana,Helvetica,Sans-Serif;
	color: #525252;
}
#ee_personal_choice_locinfo .selsom {
	font: bold 18px/29px Arial,Verdana,Helvetica,Sans-Serif;
}
#ee_personal_choice_locinfo .ee_ps_l_ta {
	float: left;
	width: 525px;
}
#ee_ps_locinfo_st, #ee_ps_locinfo_sb {
	background: #DEEBF4 url('http://g.delfi.ee/el/p/ps/shadows.png') no-repeat center bottom;
	height: 24px;
	margin: 0px;
	padding: 0px;
}
#ee_ps_locinfo_st {
	background-position: center top;
}
#ee_fp_popup {
	width:689px;
	padding-left:16px;
	margin:0;
	/*position: relative;*/
	display: inline-block;
	background-color: #f8fcfe;
	border: 3px solid #6597d7;
	z-index: 98;
}
#ee_fp_popup .county {
	display: block;
	width:77px;
	margin-right:30px;
	padding:4px 0 4px 7px;
	background-color: #6597d7;
}

#ee_fp_popup .county a, #ee_fp_popup .county a:hover, #ee_fp_popup .county a:visited {
	font: bold 12px Arial,Verdana,Helvetica,Sans-Serif;
	color: #ffffff;
	text-decoration: none;
}
#ee_fp_popup ul.counties {
	padding: 0;
	margin:0 0 15px 7px;
}

#ee_fp_popup ul.counties a {
	font: normal 12px/18px Arial,Verdana,Helvetica,Sans-Serif;
	color: #333333;
}
#ee_fp_popup ul.counties li {
	width: 77px;
}
#ee_fp_popup .title {
	font: bold 22px Arial,Verdana,Helvetica,Sans-Serif;
	color: #1b1b20;
	display: block;
	margin: 20px 10px 20px 0;
}
#infobox {
	font: normal 12px/15px Arial,Verdana,Helvetica,Sans-Serif;
	color: #333;
	display: block;
	width:646px;
	padding-top: 13px;
	padding-left: 10px;
	height: 95px;
	border-top: 3px solid #6597D7;
	background: #E3EEF8 url(http://g.delfi.ee/el/p/ps/shadow.jpg) no-repeat left top;
	margin-bottom: 10px;
}
#infobox ul {
	display: block;
	float: left;
	width:424px;
	padding-left: 10px;
}
#infobox li {
	background: transparent url(http://g.delfi.ee/d/i/bulletgray.gif) no-repeat 4px 6px;
	padding-left: 10px;
	padding-bottom: 5px;
}
#infobox #cancel_selection {
	border-left: 1px solid #6597D7;
	float: left;
	padding: 23px 0px 23px 10px;
	margin:0 0 0 15px;
}
a.ee_personal_choice_select, a.ee_personal_choice_select:hover, a.ee_personal_choice_select:visited {
	color: #0062FF !important;
}
#ee_personal_choice_wrapper {
	position: relative;
}
#ee_personal_choice_wrapper a.eeps_short, #ee_personal_choice_wrapper a.eeps_short:hover, #ee_personal_choice_wrapper a.eeps_short:visited {
	position: absolute;
	left: 155px;
	top: 16px;
	font: bold 18px Arial,Verdana,Helvetica,Sans-Serif;
	display: block;
	color: #333 !important;
}
.ee_personal_choice_select.button39 {
	float:right;
}
