/* Lennujaam, Baltic Tours banner styles */
#lennujaam_728, #baltictours_728 {
	width: 728px;
	height: 200px;
	position: relative;
/*	margin-top: 17px; */
}
#lennujaam_728 div, #baltictours_728 div {
	float: left;
}
.lj_main_offer {
	margin-top: 100px;
	width: 400px;
	font-size: 46px;
	font-weight: bold;
	margin-left: 33px;
}
.lj_main_offer span {
	color: #ff0000;
}
.lj_more {
	width: 525px;
	font-size: 16px;
	height: 20px;
	overflow: hidden;
	margin: 12px 0 0 33px;
}
.lj_more span {
	font-weight: bold;
}
.lj_price {
	width: 290px;
	color: #ff0000;
	font-size: 72px;
	line-height: 128px;
	height: 140px;
}
a#lennujaam_728_link {
	width: 728px;
	height: 200px;
}

.lj_price, .bt_price, .bt_button {
	text-align: center;
	font-weight: bold;
}
.lj_price span, .bt_price span {
	font-weight: normal;
	font-size: 22px;
}
.lj_main_offer, .lj_more, .bt_offer, .bt_desc, .bt_price, .bt_button {
	color: #ffffff;
}
/* Baltic Tours styles */
.bt_offer {
	margin-top: 54px;
	width: 380px;
	height: 146px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	margin-left: 30px;
}
.bt_desc {
	width: 380px;
	font-size: 13px;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 4px;
}
.bt_price {
	width: 170px;
	font-size: 36px;
	line-height: 60px;
	height: 60px;
}
.bt_button {
	width: 120px;
	font-size: 20px;
	line-height: 60px;
	height: 60px;
	margin-left: 40px;
}
.bt_foto {
	margin-left: 24px;
	width: 267px;
	height: 172px;
}
#baltictours_728_link {
	width: 100%;
	height: 100%;
}
#baltictours_728_link, a#lennujaam_728_link {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background:url(http://g.delfi.ee/s.gif) transparent\9;
}
