.content-vertical-block {
	position: relative;
	overflow: hidden;
	width: 728px;
}
.content-vertical-third {
	position: relative;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 243px;
	margin-top: 15px;
	padding: 193px 0 0 ;
	padding-top: 193px;
	border-top: solid 4px;
}
.content-vertical-third.first + .content-vertical-third {
	width: 242px;
	padding: 193px 3px 0 3px ;
}
.content-vertical-block:before,
.content-vertical-block:after {
	position: absolute;
	top: 36px;
	bottom: 5px;
	display: block;
	width: 1px;
	content: '';
	background-color: #DADADA;
}
.content-vertical-block:before {
	left: 242px;
}
.content-vertical-block:after {
	right: 242px;
}
.content-vertical-third .article-image {
	position: absolute;
	top:   48px;
	right: 0;
	left:  0;
	width: 145px;
	margin: auto;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.content-vertical-third .article-image:hover {
	opacity: 0.7;
}
.content-vertical-third:nth-child(3) .article-image {
	left: 2px;
}
.content-vertical-third .article-title {
	font: bold 16px/18px 'Roboto', Arial, Verdana, sans-serif;
	text-decoration: none;
}
.content-vertical-third .commentCount {
	font: normal 16px/18px 'Roboto', Arial, Verdana, sans-serif;
	text-decoration: none;
}
.content-vertical-third .article-title-wrapper {
	padding: 5px 10px;
	text-align: center;
}
.content-vertical-third .article-title {
	color: #222;
}
.content-vertical-third .commentCount {
	color: #e6004e !important; /* #E31D1A */
}
.content-vertical-header {
	position: absolute;
	right: 0;
	left: 0;
	display: block;
	margin: auto;
	background: url('http://g.delfi.ee/g/i/vertical_logos.gif') no-repeat;
}
.content-vertical-lemmikloom {
	border-color: #CB0F5B;
}
.content-vertical-lemmikloom .content-vertical-header {
	top: 16px;
	width: 124px;
	height: 15px;
	background-position: 0 0;
}
.content-vertical-reisijuht {
	border-color: #25A8E0;
}
.content-vertical-reisijuht .content-vertical-header {
	top: 12px;
	width: 112px;
	height: 27px;
	background-position: 0 -16px;
}
.content-vertical-elutark {
	border-color: #848D54;
}
.content-vertical-elutark .content-vertical-header {
	top: 15px;
	width: 91px;
	height: 18px;
	background-position: 0 -44px;
}
.content-vertical-perejalaps {
	border-color: #FC678F;
}
.content-vertical-perejalaps .content-vertical-header {
	top: 12px;
	width: 86px;
	height: 19px;
	background-position: 0 -63px;
}
.content-vertical-catwalk {
	border-color: #000;
}
.content-vertical-catwalk .content-vertical-header {
	top: 17px;
	width: 86px;
	height: 11px;
	background-position: 0 -83px;
}
.content-vertical-alkeemia {
	border-color: #216F9D;
}
.content-vertical-alkeemia .content-vertical-header {
	top: 15px;
	width: 107px;
	height: 16px;
	background-position: 0 -95px;
}