@charset "UTF-8";

/*------------------------------------------------------------
ブラウザ固有のCSSをリセット
-------------------------------------------------------------*/

*{ letter-spacing: 0; }

html{ overflow-y: scroll; }

.gachaTxt{
text-align:center;
font-weight:bold;
font-size:80%;
margin:0;
}

body,div,ol,ul,li,
h1,h2,h3,h4,h5,h6,pre,form,fieldset,
input,p,blockquote,figure{
	margin: 0;
	padding: 0;
}

.gachaTable th{
font-size:80%!important;
}
.gachaBtn{
   border: 1px solid #e56d16;
    border-radius: 4px;
    color: #e56d16 !important;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 93%;
}

body{
background:#fdfdfd;
}
address,caption,cite,code,dfn,var,h1,h2,h3,h4,h5,h6{
	font-style: normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,small{
	font-size: 100%;
	font-weight: normal;
}
a{
text-decoration: none;
}
li{

padding:0;
margin:0;
}
dd{
margin:0;
}
fieldset,img,abbr{ border: 0; }

caption{ text-align: left; }

q{ quotes: none; }

q:before,q:after{
	content: '';
	content: none;
}

a{text-decoration: none; }

a:hover,
a:active{ outline: 0; }

img{
	border: 0;
	vertical-align: bottom;
	-ms-interpolation-mode: bicubic;
}

b,strong{ font-weight: bold; }

div{ word-wrap: break-word; }

sub,sup{
	position: relative;
	line-height: 0;
	vertical-align: baseline;
	font-size: 75%;
}
sup{ top: -0.5em; }
sub{ bottom: -0.25em; }

pre,code{
	font-size: 1em;
	font-family: sans-serif;
}

pre{
	overflow: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

form{ margin: 0; }

button,input,select,textarea,optgroup,option{
	margin: 0;
	font-family: sans-serif;
	font-size: 100%;
	vertical-align: baseline;
}

* html button,
* html input,
* html select,
* html textarea{ vertical-align: middle; } /* IE6 */

*+html button,
*+html input,
*+html select,
*+html textarea{ vertical-align: middle; } /* IE7 */

button,input{ line-height: normal; }

* html button,
* html input{ overflow: visible; } /* IE6 */

*+html button,
*+html input{ overflow: visible; } /* IE7 */

textarea{
	overflow: auto;
	vertical-align: top;
}

input[type="text"],textarea{ padding: 2px; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{ -webkit-appearance: button; }

button::-moz-focus-inner,
input::-moz-focus-inner{
	margin: 0;
	padding: 0;
	border: 0;
}
.writerBoxWrap{
width:100%;
font-size:12px;
padding:15px 0 15px 0;
border-bottom:1px #ccc dotted;
}
.writerBoxLeft{
width:30%;
float:left;
margin:10px 0 0 0;
}
.writerBoxRight{
width:68%;
float:right;
}
.writerBoxRight .writer dt{
font-weight:bold;
font-size:110%;
background:#f0f0f0;
padding:3px 0 3px 5px;
}
.writerBoxRight .writer dd{
margin:7px 0 7px 0;
}
.writerBoxRight .writer ul li{
margin:0;
border:none;
background:none;
}

/*--------------------------------------------------------
レイアウトの初期設定
-------------------------------------------------------*/
body{
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 62.5%;
	font-style: normal;
	line-height: 1.5;
}

table{
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
}

* html table{ border-collapse: collapse; } /* IE6 */
*+html table{ border-collapse: collapse; } /* IE7 */

hr{
	clear: both;
	height: 1px;
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	border-top: 1px solid #ccc;
	color: #ccc;
	font-size: 1.0em;
	line-height: 1.0em;
}
* html hr{ margin: 0 0 1.2em; } /* IE6 */
*+html hr{ margin: 0 0 1.2em; } /* IE7 */



/*.comment-author01{
	width:200px;
	float:left;
}*/
.comment-author01 span{
   font-size: 11px;
}
.comment-author01 .authname{
    color: gray;
}
.comment-author02{
/*	width:217px;
	float:right;*/
    color: gray;
    font-size: 11px;
}
.comment-report a{
	text-decoration: none;
	color: gray;
}
.getajcom{
	cursor: pointer;
}

.clonecom {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid;
    display: block;
    position: absolute;
    width: 100%;
}
/*ここから掲示板*/

#comreload{
display:block;
text-align:center;
padding:10px 0 10px 0;
color:#39f;
border-top: 1px solid #f0f0f0;
border-bottom:1px solid #f0f0f0;
background:url(http://terabat.altema.jp/wp-content/uploads/2015/02/koshin.png) no-repeat center;
background-size:18px;
background-position: 28% 48%;
}
.getajcom{
border-radius:4px;
border:1px solid #39f;
padding:2px 5px;
color:#39f;
font-size:80%;
display:inline-block;
margin-bottom:15px;
}
.comment-author span:first-child{
font-weight:bold;
}
.comment-reply-link a{
display:inline-block;
padding:3px 10px 3px 25px;
text-align:center;
color:#1E8CBE;
font-size:110%;
border:1px solid #f0f0f0;
border-radius:4px;
background:#ffffff;
font-weight:bold;
box-shadow:0 3px 0 #f0f0f0;
float:right;
background:url(http://terabat.altema.jp/wp-content/uploads/2015/02/henshin02.png) no-repeat left center;
background-size:13px;
background-position: 9px 5px;
}
.comment-author02{
font-size:10px;
}
#commentform #submit{
    background: none repeat scroll 0 0 #2ea2cc;
    border-color: #0074a2;
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    text-decoration: none;
padding:3px 0 3px 0;
border:none;
border-radius:4px;
box-shadow:none;
-webkit-appearance: none;
}
#commentform input,
#commentform textarea{
border-radius: 4px;
-webkit-appearance: none;
box-shadow:none;
}
#commentform textarea{
width:100%!important;
}
#comment-image-wrapper{
font-size:80%;
}
#author,#comment{
border:1px solid #2EA2CC;
}
#main-contents #commentform p {
margin:2px 0 2px 0;
}
#commentform #submit{
    display: block;
    margin: 10px auto;
    padding: 0.3em 1em;
    text-align: center;
    width: 145px;
    height:35px;
}
.comment_paging a,
.comment_paging .current{
background:none repeat scroll 0 0 #3a7c9e;
border-radius:4px;
color:#fff!important;
padding:5px 10px;
}
.comment_paging .current{
border: 1px solid #3a7c9e;
background:#fff;
color: #3a7c9e!important;
}
#comment_image{
width:300px;
margin: 10px 0 10px 0;
}
#dummy{
width:100%;
height:30px;
border:2px solid #ccc;
background:#f0f0f0;

}
#comment_close{
font-size:85%;
color:#39f;
}
#comment_close:hover{
color:#FFA90A;
}
.commentimgsub{
font-size:80%;
margin-top:14px;
}
#comment-image-wrapper{
margin-top:-10px;
}
#comment{
margin-bottom:5px;
}

/*ここまで掲示板*/

#dummy_comment{
margin-bottom:20px;
}
.gNaviWrap{
background:#34a3d1!important;
box-shadow:3px 3px #1e8fbe;
height:39px!important;
}
.movie{
border:none!important;
}
.movie td{
border:none!important;
background:#fff;
}
#game li{
background:none!important;
padding:0;
}
#game li a{
background:#fff;
display:block;
box-shadow:0 3px #f0f0f0;
border:1px solid #f0f0f0;
margin-bottom:8px;
padding:15px 0 15px 45px!important;
}

#game li:a:after{
  display: block;
  width: 5px;
  height: 5px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  -webkit-transform: rotation(45deg);
  content: "";
}


#game .nav55 a{
background:url(http://altema.jp/wp-content/uploads/2016/11/img-sorukuro1.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav54 a{
background:url(http://altema.jp/wp-content/uploads/2016/11/side-img-chain.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav53 a{
background:url(http://altema.jp/wp-content/uploads/2016/11/side-img-ff15.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}




#game .nav52 a{
background:url(http://altema.jp/wp-content/uploads/2016/11/0bfa0d3974354f70a08858d4f10fcad6.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav49 a{
background:url(http://altema.jp/sao/wp-content/uploads/2016/09/saoIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav48 a{
background:url(http://altema.jp/wp-content/uploads/2016/08/side-bureode.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}


#game .nav47 a{
background:url(http://altema.jp/wp-content/uploads/2016/07/side-trilink.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav46 a{
background:url(http://altema.jp/wp-content/uploads/2016/07/side-pokemongo.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}


#game .nav45 a{
background:url(http://altema.jp/wp-content/uploads/2016/06/side-sorakuro.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav44 a{
background:url(http://altema.jp/wp-content/uploads/2016/06/side-shadow.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}
#game .nav43 a{
background:url(http://altema.jp/wp-content/uploads/2016/06/side-shinobi.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;

}

#game .nav42 a{
background:url(http://altema.jp/wp-content/uploads/2016/06/side-val.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}

#game .nav35 a{
background:url(http://altema.jp/wp-content/uploads/2016/04/img-side20.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav36 a{
background:url(http://altema.jp/wp-content/uploads/2016/04/side-img-onpe.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}

#game .nav37 a{
background:url(http://altema.jp/wp-content/uploads/2016/06/side-dorapuro.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}




#game .nav38 a{
background:url(http://altema.jp/wp-content/uploads/2016/05/side-img-varu.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav39 a{
background:url(http://altema.jp/wp-content/uploads/2016/05/side-img-rasupiri.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}

#game .nav40 a{
background:url(http://altema.jp/wp-content/uploads/2016/05/side-img-samurai.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}

#game .nav41 a{
background:url(http://altema.jp/wp-content/uploads/2016/05/side-img-tori.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}


#game .nav15 a{
background:url(http://altema.jp/sevenknights/wp-content/uploads/2016/02/side-seven.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav13 a{
background:url(http://altema.jp/wp-content/uploads/2016/01/side-grimms.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav14 a{
background:url(http://altema.jp/wp-content/uploads/2016/01/side-arice.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}



#game .nav12 a{
background:url(http://altema.jp/wp-content/uploads/2016/01/side-buranai.png) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav01 a{
background:url(http://altema.jp/wp-content/uploads/2015/03/img-side04.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav02 a{
background:url(http://altema.jp/wp-content/uploads/2015/03/img-side02.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav03 a{
background:url(http://altema.jp/wp-content/uploads/2015/03/img-side03.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav04 a{
background:url(http://altema.jp/wp-content/uploads/2015/03/img-side01.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px ;
}
#game .nav05 a{
background:url(http://altema.jp/wp-content/uploads/2015/06/ffmoviusIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav06 a{
background:url(http://altema.jp/wp-content/uploads/2015/09/sironekoIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav07 a{
background:url(http://altema.jp/wp-content/uploads/2015/09/monhuexIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav08 a{
background:url(http://altema.jp/wp-content/uploads/2015/09/khuxIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav09 a{
background:url(http://altema.jp/wp-content/uploads/2015/10/ffbeIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}

#game .nav10 a{
background:url(http://altema.jp/wp-content/uploads/2015/10/ffgmIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav11 a{
background:url(http://altema.jp/wp-content/uploads/2015/10/hosidoraIcon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}

#game .nav30 a{
background:url(http://altema.jp/wp-content/uploads/2016/04/deji.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}

#game .nav31 a{
background:url(http://altema.jp/wp-content/uploads/2016/04/cri.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav33 a{
background:url(http://altema.jp/wp-content/uploads/2016/04/heaven.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}
#game .nav34 a{
background:url(http://altema.jp/wp-content/uploads/2016/04/pokekoma.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}

#game .nav50 a{
background:url(http://altema.jp/wp-content/uploads/2016/11/side-seven.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}

#game .nav51 a{
background:url(http://altema.jp/wp-content/uploads/2016/11/side-pokemonsunmoon.jpg) no-repeat left center,#fff;
background-size:36px;
background-position:5px 5px;
}









.gameDt{
font-size:80%;
margin:10px 0 0 0;
}
.gameDd{
font-size:90%;
margin:10px 0 10px 0;
}
.gameTitle{
margin-top:10px!important;
}
.gameTitle a:link{
color:#333!important;
}
#search-2{
background:#fff;
border-left:1px solid #34A3D1;
border-right:1px solid #34A3D1;
border-bottom:1px solid #34A3D1;
border-top:5px #34A3D1 solid;
padding: 10px;
}
#search-2 h3{
border:none;
margin: 0 0 5px 0;
color:#34A3D1;
}
#search-2 .search-box{
margin:0;
}
#game{
margin-bottom:-30px;
}
#searchsubmit{
background:#222;
color:#fff;
border:none;
}
#search-2 input{
border-radius:4px;
}
.redIcon{
color:#cc0000;
padding:3px;
}
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
table{border-collapse:collapse!important;}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
#main-contents .rankName{
margin-bottom:1em;
}
.rankRight{
}
.rankRight{
width:80%;
float:right;
}
.rankLeft{
width:15%;
float:left;
}
.rankBox{
border-radius:5px;
border:1px solid #f0f0f0;
width:100%;
background:#fff!important;
margin-bottom:20px;
box-shadow: 0px 3px 3px #f0f0f0;
}
.rankBoxInner02{
width:75%;
float:left;
}
.rankDl{
width:43%;
float:right;
margin:0;
}
.rankDl li{
float:left;
padding-left:20px;
list-style:none;
}
#main-contents .contents .rankBox h3{
background:#fffee8;
border:none!important;
border-left:8px solid #e9e7b9!important;
font-weight:bold;
margin:10px 0 15px 0;
border-radius:0;
color:#333;
text-shadow:none;
}
#main-contents .contents .rankBox h3::before{
border:none;
}
.rankAltema li{
list-style:none;
}
.rankAltema li:nth-child(1){
color:#EB5197;
}
.rankAltema li:nth-child(2){
color:#009EE2;
}
.rankRev{
padding:10px;
background:#f7f7f7;
}
.rankRev p{
font-size:120%;
font-weight: bold;
margin-bottom:10px!important;
}
.rankAltema span{
display: inline-block;
margin-right:10px;
}
.rankAltema span img{
vertical-align:middle;
}
.rankNumber{
background:#cc0000;
color:#fff;
padding:1px 15px 0 15px;
text-align:center;
display:inline-block;
margin-bottom:0.5em!important;

}
.rankName{
font-size:180%;
width:74%;
}
.rankOther li{
list-style:none;
font-size:85%;
}
.rankRev p{
font-size:85%;
}
.rankOther{
margin-bottom:0!important;
}
.rankBoxInner0{
padding:20px;
}
.big{
font-size:150%;
color:#cc0000;
font-weight:bold;
}
.ranking .rankingBox01 dt{
background:#C3DB62;
padding:5px;
color:#333;
margin: 0 0 15px;
}
.ranking .rankingBox01 dd{
background:#fff;
padding:10px 0 0 10px;
}
.ranking .rankingBox01{
width:100%;
}
.post h1{
font-size:160%;
}
.bbp-body a,
.bbp-body p
{
color:#333;
}
.rankBox{
position:relative;
}
.rankBox .rankDl{
position: absolute;
right:0;
top:34px;
}
.rankingOsusume .one{
text-align:center;
padding:10px;
background:#ffe5e5;
color:#da3232;
border-bottom:3px solid #da3232;
font-weight:bold;
}
.rankingOsusume .two{
text-align:center;
padding:10px;
background:#ffecd8;
color:#d87103;
border-bottom:3px solid #d87103;
font-weight:bold;
}
.rankingOsusume .three{
text-align:center;
padding:10px;
background:#fffadf;
color:#d6b502;
border-bottom:3px solid #d6b502;
font-weight:bold;
}
.rankingOsusume .rankingBox{
width: 32%;
float:left;
margin: 0 14px 0 0;
}
.rankingOsusume .rankingBox:nth-child(3){
margin-right: 0;
}
.rankingOsusume .rankingBox dd img{
display: inline-block;
margin-top: 15px;
}
.kakuseiTb td span{
display:block;
}
.execphpwidget li:first-child{
border-top:1px solid #f0f0f0!important;
}
.execphpwidget li{
border-bottom:1px solid #f0f0f0;
padding:5px 0 5px 0!important;
}
.execphpwidget li img{
width:15%!important;
vertical-align:middle!important;
padding-right:5px;
}

#main-contents .mokujiInfo {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #dde4e6;
    margin-bottom: 20px;
    padding: 5px;
}
#main-contents .mokujiInfo ul {
    margin-bottom: 12px !important;
    margin-left: 10px !important;
    margin-top: -10px !important;
}
#main-contents .mokujiInfo h2 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px !important;
    margin-top: 0 !important;
}
#main-contents .mokujiInfo ul li {
    font-size: 85%;
    list-style: outside none none !important;
padding:2px 0!important;
background:none!important;
border:none!important;
}
.lead {
    color: #777;
    font-size: 85%;
margin:10px 0 ;
}
.chart img {
    display: block;
    height: 30%;
    width: 100%;
}
.chart {
    border: medium none !important;
}
.chart td {
    border: medium none !important;
}
.chart tr:nth-child(1) td {
    border-bottom: 1px solid #acce15 !important;
    padding-bottom: 0 !important;
}
.chart tr:nth-child(2) td {
    padding: 5px 0 !important;
    text-align: center;
}
.chart td span {
    color: #acce15;
    font-size: 11px;
}
/* 評価投稿&表示 */

.toko {
    border-bottom: 1px solid #004c6b;
    color: #004c6b !important;
    padding: 0 0 5px;
}

.iineWrap {
    width: 100%;
}
.iine {
    background: #db6b0f none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 2px 10px 2px 15px;
}
.iinegray {
    background: #cccccc none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 2px 10px 2px 15px;
}
.iineWrap span {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #db6b0f;
    margin-left: 10px;
    padding: 3px 8px;
    position: relative;
}
.iineWrap span::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #fff transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    display: block;
    left: -5px;
    position: absolute;
    top: 7px;
    width: 0;
    z-index: 1;
}
#korinschedule th {
    font-size: 11px !important;
}
.iineWrap span::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #ccc transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    content: "";
    display: block;
    left: -6px;
    position: absolute;
    top: 7px;
    width: 0;
}
