@charset "UTF-8";

/*--------------------------------------------------------
インライン記述回収ここから
--------------------------------------------------------*/


#main-contents p {
    margin-bottom: 1.5em;
}
.topEvent .time{
font-size:80%;
color:#999;
}
.topEvent p{
border-bottom:1px dotted #ccc;
padding:2px 0 10px;
}
.pazudoraIcon{
display:inline-block;
margin:0 5px 0 5px;
background: #be2d3d;
border-radius:3px;
padding:2px 5px 2px 5px;
color:#fff;
}

.ffrkIcon{
display:inline-block;
margin:0 5px 0 5px;
background: #77ae18;
border-radius:3px;
padding:2px 5px 2px 5px;
color:#fff;
}
.mobiusIcon{
display:inline-block;
margin:0 5px 0 5px;
background: #34A3D1;
border-radius:3px;
padding:2px 5px 2px 5px;
color:#fff;

}

.monstoIcon{
display:inline-block;
margin:0 5px 0 5px;
background: #da780f;
border-radius:3px;
padding:2px 5px 2px 5px;
color:#fff;
}

.avabelIcon{
display:inline-block;
margin:0 5px 0 5px;
background: #0d91d5;
border-radius:3px;
padding:2px 5px 2px 5px;
color:#fff;
}

.mainTopImg a,
.mainTopImg02 a{
margin-bottom:3px;

}
.mainTopImg div{
width:18.5%;
float:left;
}
.mainTopImg02 div{
width:23.5%;
float: left;
}
.mainTopImg,
.mainTopImg02{
padding: 0 0 10px 0;
width:100%;
}
.mainTopImg dd,
.mainTopImg02 dd{
margin:0;
}
.mainTopImg img,
.mainTopImg02 img{
width:100%;

}

.kouryakuBox img:hover{
border:1px solid #FF7F00;

}
.kouryakuBox img{
border:1px solid #0b459e;
}

.mainTopImg02 img{

}
.mainTopImg div{
margin-right:30px;
}
.mainTopImg02 div{
margin-right:12px;
}
.mainTopImg div:last-child,
.mainTopImg02 div:last-child{
margin-right:0;
}
#container{
margin-top:0;
}

.gNaviWrap{
background:url();
height:56px;
}
#twitter-widget-2{
width:722px!important;
}

.kouryakuBox ul{
width:100%;
}
.kouryakuBox ul li{
width:45%;
float:left;
list-style:none;
}
.kouryakuBox ul li a{
float:left;
display:inline-block;
}
.kouryakuBox ul li span{
    display: block;
    float: left;
    margin-right: 3px;
}
.kouryakuBox ul li img{
vertical-align:middle;
}
.kouryakuTxt{
margin-top:20px;
}
li{
list-style:none;
}
.attachment-post-thumbnail{
vertical-align:middle;
}
.header-logo{
width:210px;
}
.post ul li{
padding:10px 0 10px 15px;
border-bottom:1px dotted #ccc;
background:#fff;
margin-bottom:0!important;
}
.post ul li:last-child{
border:none;
}

a{
color:#0b459e;
}

#container{
margin-top:0;
}
#header{
background:#fff;
}

#sidebar h3,
#sub-contents-in h3{

}

.gNavi{
width:1050px;
margin: 0 auto 0 auto;
}
.gNavi li{
float:left;
text-align:center;
list-style:none;
width:208px;
line-height: 38px;
border-left: 1px solid #a9e1f5;
}
.gNavi li:last-child{
border-right: 1px solid #a9e1f5;
}
.gNavi li a {
color:#fff;
text-decoration:none;
font-size:14px;
font-weight:bold;
}
.gNavi li a:hover{
text-decoration:underline;
}

#container{
padding:0;
}
#header{
color:#333;
}
.header-logo{
float:left;
width:243px;
padding-top:20px;
}
#header-in h1{
float:left;

}


.snsBox{
float:right;
}
.snsBoxHed{

margin-top:30px;
}
.snsBoxHed li{
display:inline-block;
width:100px;
}
.snsBoxHed .odd{
padding-left:10px;
}
.headerMenuBox li a{
color:#fff!important;
}

/*--------------------------------------------------------
インライン記述回収ここまで
--------------------------------------------------------*/

/*--------------------------------------------------------
非表示一括ここから(SP用とか色々)
--------------------------------------------------------*/

.sp-menu,
.sp-menuBtn,
.gNaviWrap,
#main-image,
.logoSP,
.snsBox {
    display: none;
}

/*--------------------------------------------------------
非表示一括ここまで(SP用とか色々)
--------------------------------------------------------*/

/*--------------------------------------------------------
1、サイト全体の背景設定
------------------------------------------------------*/

.headerMenuBoxBt{
display:none;
}

.snsBox{
float:right;
width:320px;
}
.headerMenuBoxBt{
background:#012C6B;
}


#header{
background:#fff;
color:#fff;
}
#header .header-logo a{
color:#fff!important;
font-size:80%;
}
.header-logo {
   float:left;
}
.header-logo img {
	width: 340px;
}
#header-in h1 {
padding-top:33px;
display: none;
}
.snsBox {
    float: right;
}
.snsBoxHed {
    margin-top: 30px;
}
.snsBoxHed li {
    display: inline-block;
    width: 100px;
}
.snsBoxHed .odd {
    padding-left: 10px;
}

#gNavi_button { display: none; }


/*--------------------------------------------------------
2、サイト全体の共通設定
-------------------------------------------------------*/

body{ color: #24244e; }

/*●リンク文字*/

a:link,
a:visited{ color: #0c749b; }
a:hover,
a:active{ color: #f60; }


/*--------------------------------------------------------
3、エリアの設定
--------------------------------------------------------*/

#container{
	position: relative;
}
.col2 #main-in,
.col2 #header-in {
    width: 955px;
}
.col2 #main-and-sub {
    width: 615px;
}
.col2 #sidebar {
    width: 300px;
}

/*--------------------------------------------------------
トップ
--------------------------------------------------------*/

#top{
	position: absolute;
	top: 0;
	background-color: #fff;
	font-size: 1.2em;
}

#top-in{
	position: relative;
	padding: 5px 0;
}

#top-menu{ text-align: right; }

#top-menu li{
	display: inline;
	margin-left: 1em;
	list-style: none;
}

#top-menu li a{
	padding-left: 12px;
	background: url(./images/icon/icon-arrow01.png) left center no-repeat;
}
.readTxt {
	margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    color: #24244e;
}


/*--------------------------------------------------------
ヘッダー
--------------------------------------------------------*/

#header{
	background-color: #fff;
	font-size: 1.2em;
}

#header-in{ padding: 1em 0; }

/*●ヘッダーロゴ（メインタイトル）*/
#header #header-title{
	float: left;
	width: 70.5%; /*ロゴ（メインタイトル）下の<h1>の1行の幅はこちらのwidthの値を変更*/
}

#header .header-logo{
	margin-bottom: 0.2em;
	font-size: 3em;
}


/*●ヘッダーロゴテキスト*/
.header-logo a{ text-decoration: none; }

.header-logo a:link,
.header-logo a:visited{ color: #333; }
.header-logo a:hover,
.header-logo a:active{ color: #f60; }


/*●ヘッダーテキスト・右上の文章*/
#header-in #header-text{
	float: right;
	width: 40%; /*・1行の幅はwidthの値を変更*/
	color: #333;
}

#header h1{
    float: right;
    font-size: 1.167em;
    margin-bottom: 1em;
    width: 390px;
}
.pc-head-navi {
    width: 550px;
    padding: 16px 0 0 0;
    float: right;
    color: #24244e;
    text-align: right;
}
.pc-head-navi p {
    margin-bottom: 6px;
}
.pc-head-navi ul {}
.pc-head-navi ul li {
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;
    border-right: 1px solid #ddd;
}
.pc-head-navi ul li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}
.pc-head-navi ul li a {
    color: #24244e;
}
.pc-head-navi ul li a:hover {
    text-decoration: underline;
}
.headermenuPC {
	background: #f1f3f5;
}
.headermenuPC .headermenuPCInner {
	width: 955px;
    margin: 0 auto;
    padding: 30px 0;
}
.headermenuPC .headermenuPCInner ul li {
	float: left;
    margin-right: 27px;
}
.headermenuPC .headermenuPCInner ul li:last-child {
	margin-right: 0;
}
.headermenuPC .headermenuPCInner figure {
	position: relative;
	width: 218px;
	height: 191px;
	background: #fff;
	overflow: hidden;
	border-radius: 6px;
}
.headermenuPC .headermenuPCInner figure img {
	opacity: 1;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.headermenuPC .headermenuPCInner figure:hover img {
	opacity: 0.8;
}
.headermenuPC .headermenuPCInner figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.headermenuPC .headermenuPCInner figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}


/*--------------------------------------------------------
グローバルナビ
--------------------------------------------------------*/

#global-nav{
	background-color: #fff;
	border-bottom: 4px solid #000;
} /*メニュー下のラインの設定*/

#global-nav dl{
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#global-nav dt,
#global-nav dd{
	margin: 0;
	padding: 0;
}


/*●メニューボタンを非表示*/
#global-nav .btn-gnav{ display:none; }


/*●グローバルメニュー*/
#global-nav .menu-wrap{ display: block; }

#menu{
	padding-bottom: 5px;
	font-size: 1.2em;
}

#global-nav #menu li{
	position: relative;
	float: left;
	margin: 0;
	border-right: solid 1px #000; /*右側のボーダーの色*/
	list-style: none;
	font-weight: bold;
}

#global-nav #menu li.first{ border-left: solid 1px #000; } /*一番左のメニューだけに追加指示*/

#global-nav #menu li{ white-space: nowrap; }

/*メニューのデザイン*/
#global-nav #menu li a{
	display: block;
	padding: 0.8em 2em;
	color: #333; /* メニューのフォントの色*/
	text-decoration: none;
}

#global-nav #menu li a:link,
#global-nav #menu li a:visited{ background-color: #fff; } /*すでに訪れたリンクの背景色*/
#global-nav #menu li a:hover,
#global-nav #menu li a:active{ background-color: #efefef; } /*マウスカーソルを乗せた時の背景色*/

#global-nav #menu li ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 12em;
}

/*ドロップダウンメニューのデザイン*/
#global-nav #menu li ul li{
	margin: 0;
	padding: 0;
	width: 12em;
	background-color: #eaeaea;
	border-top: 0;
	border-right: 0;
	white-space: normal;
}

#global-nav #menu li ul li a{
	display: block;
	padding: 0.8em 2em;
}

#global-nav #menu li ul ul{
	top: 0;
	left: 100%;
}

#global-nav .showMenu{ display: block!important; }


/*--------------------------------------------------------
コンテンツ全体
--------------------------------------------------------*/

#main-in{ padding-top: 1.5em; }

.contentsBox {
	border: 1px solid #ddd;
    padding: 10px 0 0 0;
    margin-bottom: 40px;
    box-sizing: border-box;
    box-shadow: 1px 3px 7px 0px rgba(230,230,230,0.7);
}
.contentsBox h2 {
	color: #24244e;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #0d9ce6;
    padding: 0 15px 5px 15px;
}
.contentsBox .inner {
	padding: 20px 15px;
}
.contentsBox .gameList {
	width: 575px;
    margin: 0 auto;
}
.contentsBox .gameList a {
	display: block;
}
.contentsBox .gameList img:hover {
	opacity: 0.8;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.contentsBox .gameList li {
	width: 140px;
    display: inline-block;
    text-align: center;
}
.contentsBox .gameList li figure {
	margin-bottom: 5px;
}
.contentsBox .gameList li:last-child {
	margin-right: 0;
}
.contentsBox .gameList li span {}
.contentsBox .gameList_underline {
	padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ccc;
}
.contentsBox .movieList {
    width: 279px;
    padding: 0 5px;
    display: inline-block;
}
.contentsBox .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	margin-bottom: 10px;
	height: 0;
	overflow: hidden;
}
.contentsBox .movieList .video-container iframe,
.contentsBox .movieList .video-container object,
.contentsBox .movieList .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.contentsBox .movieList .description {}
.contentsBox .movieList .description h3 {
	color: #24244e;
    font-weight: bold;
    margin-bottom: 5px;
}
.contentsBox .movieList .description .author {
	background: #f0f0f0;
    color: #24244e;
    padding: 3px 8px;
    font-size: 11px;
    margin-bottom: 5px;
}
.contentsBox .movieList .description .text {
    font-size: 11px;
    line-height: 15px;
}
.contentsBox .writerList {
    margin-bottom: 20px;
}
.contentsBox .writerList:last-of-type {
    margin-bottom: 10px;
}
.contentsBox .writerList .img {
	float: left;
	margin-right: 10px;
}
.contentsBox .writerList .img img {
	width: 120px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #ddd;
}
.contentsBox .writerList .img img:hover {
	opacity: 0.8;
    border: 2px solid #0d9ce6;
}
.contentsBox .writerList .profile {
	float: left;
    font-size: 13px;
    line-height: 21px;
    padding: 0;
}
.contentsBox .writerList .profile ul {
	height: auto;
    width: 450px;
}
.contentsBox .writerList .profile .name a {
	color: #24244E;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
.contentsBox .writerList .profile .tantou {
	color: #f95e00;
}
.contentsBox .writerList .profile .tantou i {
	margin-left: 5px;
}
.contentsBox .writerList .profile .tantou a {
    color: #f95e00;
}
.contentsBox .writerList .profile .tantou a:hover {
    color: #0d9ce6;
}
.contentsBox .writerList .profile .gameTop5 {
	margin: 10px 0 0 0;
	font-size: 11px;
	line-height: 16px;
}
.contentsBox .writerList .profile .gameTop5 span {
	font-weight: bold;
}
.contentsBox .writerList .profile .gameTop5 li {
	display: inline-block;
    padding-right: 7px;
    margin-right: 5px;
    border-right: 1px solid #ccc;
}
.contentsBox .writerList .profile .gameTop5 li:last-child {
	padding-right: 0;
	margin-right: 0;
	border: none;
}
.contentsBox .goodsRecommendTtl {
    border-bottom: 2px solid #888;
    border-left: none !important;
    padding-left: 0 !important;
    margin: 0 0 10px 0 !important
}
.contentsBox .goodsRecommendWrap {
    font-size: 12px;
    margin: 0 0 30px 0;
}
.contentsBox .goodsRecommendWrap:last-of-type {
    margin: 0 0 10px 0;
}
.contentsBox .goodsRecommendBox {}
.contentsBox .goodsRecommendBox li {
    width: 148px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 21px;
    position: relative;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.contentsBox .goodsRecommendBox li:hover {
    border: 1px solid #f95e00;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}
.contentsBox .goodsRecommendBox li:last-child {
    margin-right: 0;
}
.contentsBox .goodsRecommendBox .rank {
    position: relative;
}
.contentsBox .goodsRecommendBox .rank:after {
    content: " ";
    position: absolute;
    width: 40px;
    height: 30px;
    background-size: contain;
    vertical-align: middle;
    background: url(images/goods_rank-pc.png);
    top: -2px;
    left: 22px;
    background-size: 36px;
    background-repeat: no-repeat;
}
.contentsBox .goodsRecommendBox .rank p {
    text-align: center;
    line-height: 25px;
    padding: 0 0 0 17px;
}
.contentsBox .goodsRecommendBox .rank p span {
    color: #0d9ce6;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Arial;
    margin-right: 3px;
}
.contentsBox .goodsRecommendBox .box {}
.contentsBox .goodsRecommendBox .box figure {
    width: 148px;
}
.contentsBox .goodsRecommendBox .box figure img {
    width: 100%;
}
.contentsBox .goodsRecommendBox .box h5 {
    text-align: center;
    color: #0c749b;
    font-size: 13px;
    margin: 5px 0 0 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
}
.contentsBox .goodsRecommendBox .box .price {
    padding: 0 0 3px 0;
    font-weight: bold;
    text-align: center;
    color: #34a3d1;
    font-size: 11px;
    border-bottom: 1px solid #ccc;
}
.contentsBox .goodsRecommendBox .box .text {
    margin: 6px 0 0 0;
    font-size: 11px;
    line-height: 15px;
}
.contentsBox .goodsRecommendBox li .goodsRecommendLink {
    color: #24244e;
}
.contentsBox .toListLink {
	display: block;
    float: right;
    font-size: 13px;
    color: #0d9ce6;
    padding: 4px 45px;
    border: 1px solid #0d9ce6;
    margin-top: 15px;
}
.contentsBox .toListLink i {
	font-size: 16px;
    margin-right: 5px;
}
.contentsBox .toListLink:hover {
	color: #f95e00;
    border: 1px solid #f95e00;
}
.about {}
.about .mainImage {
    margin-bottom: 25px;
}
.about .aboutBox {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}
.about .aboutBox h2 {
    background: #1e8fbe;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
    margin-bottom: 15px;
}
.about .aboutBox p {
    line-height: 25px;
    margin-bottom: 10px;
}
.about .aboutBox .em {
    color: #111;
    font-weight: bold;
    font-size: 15px;
}
.about .aboutBox .mgnTop {
    margin-top: 30px;
}
.about .personBox .person {
    float: left;
    width: 145px;
    padding: 5px 0;
    text-align: center;
    margin-right: 11px;
    font-size: 12px;
}
.about .personBox .person:last-of-type {
    margin-right: 0;
}
.about .personBox .person figure {
    width: 140px;
    margin: 0 auto;
    border: 1px solid #34a3d1;
    margin-bottom: 3px;
}
.about .personBox .person figure img {
    width: 100%;
}
.about .personBox .person .profile span {
    display: block;
}
.about .aboutBox h3 {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 5px solid #1e8fbe;
    padding: 0 0 3px 0;
    margin: 0 0 10px 0;
}
.about .aboutBox table.gain {
    margin: 0 !important;
    border-top: 1px solid #ccc !important;
    border-left: none !important;
    font-size: 12px;
}
.about .aboutBox table.gain th,
.about .aboutBox table.gain td {
    padding: 10px 15px !important;
    font-weight: normal !important;
    border-right: none !important;
    border-bottom: 1px solid #ccc !important;
}
.about .aboutBox table.gain th {
    text-align: right !important;
    width: 30%;
    vertical-align: top;
}
.about .aboutBox table.gain td {
    text-align: left !important;
}
.about .aboutLink {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 540px;
}
.about .aboutLink a {
    display: block;
    background: #34a3d1;
    color: #fff;
    width: 250px;
    float: left;
    margin-right: 40px;
    text-align: center;
    padding: 10px 0;
    font-size: 13px;
    font-weight: bold;
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 0 3px 0 0 #17769e;
}
.about .aboutLink a:hover {
    opacity: 0.9;
}
.about .aboutLink a span {
    position: relative;
    padding-left: 1em;
}
.about .aboutLink a span:before {
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    top: -1px;
    left: -0.4em;
    color: #fff;
    font-size: 16px;
}
.about .aboutLink a:last-child {
    margin-right: 0;
}
.writer {}
.writer h2 {
    background: #1e8fbe;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 10px;
    margin-bottom: 35px;
}
.writerListPC {
    margin: 0 0 70px 15px;
}
.writerListPC a {
    display: inline-block;
    width: 99px;
    margin-right: 15px;
    margin-bottom: 20px;
    border: 1px solid #34a3d1;
}
.writerListPC a:hover {
    border: 1px solid #08597a;
}
.writer .writerProfile {
    color: #333;
    margin-bottom: 50px;
    border: 1px solid #aaa;
    padding: 15px;
}
.writer .writerProfile .first {}
.writer .writerProfile .first .left {
    width: 150px;
    float: left;
    margin: 0!important;
}
.writer .writerProfile .first .image {

    margin-right: 15px;
}
.writerListPC a img,
.writer .writerProfile .first .image img {
    width: 100%;
}
.writer .writerProfile .first .image img {
    border: 1px solid #34a3d1;
}
.writer .writerProfile .first .name {
    text-align: center;
    font-weight: bold;
    width: 140px;
    margin: 5px 0 0 0;
}
.writer .writerProfile .first .detail {
    float: left;
    width: 433px;
    font-size: 11px;
    margin: 0 !important;
    border-top: 1px solid #ccc !important;
    border-left: none !important;
}
.writer .writerProfile .first .detail th,
.writer .writerProfile .first .detail td {
    padding: 5px 10px !important;
    font-weight: normal !important;
    border-right: none !important;
    border-bottom: 1px solid #ccc !important;
}
.writer .writerProfile .first .detail th {
    background: #fafafa !important;
    width: 35%;
    text-align: right !important;
    font-weight: bold !important;
}
.writer .writerProfile .first .detail td {}
.writer .writerProfile .first .detail .title a {
    background: #34a3d1;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
    margin-right: 6px;
    text-align: center;
    border-radius: 5px;
}
.writer .writerProfile .first .detail .title a:hover {
    background: #08597a;
}
.writer .writerProfile .first .detail ul {
    margin: 0 0 0 19px;
}
.writer .writerProfile .first .detail ul li {
    list-style-type: decimal;
}
.writer .writerProfile .second {
    margin: 10px 0 0 0;
}
.writer .writerProfile .second h3 {
    font-weight: bold;
    border-bottom: 2px solid #0d9ce6;
    position: relative;
    padding: 0 0 0 1.8em;
    margin: 15px 0 5px 0;
}
.writer .writerProfile .second h3:before {
    content: '\f11b';
    font-family: FontAwesome;
    position: absolute;
    top: -3px;
    left: 0;
    color: #24244E;
    font-size: 18px;
}
.writer .writerProfile .second p {
    font-size: 12px;
    line-height: 17px;
}

/*●メイン画像*/
#main-image{
	padding-top: 1.5em;
}

#main-image-in{
	position: relative;
	padding-bottom: 1.5em;
}

#main-image img{
	width: 100%;
	height: auto;
}

#main-image .catch-copy{
	position: absolute;
	top: 1em;
	left: 1em;
	color: #fff;
	font-size: 3em;
}


/*●パン屑ナビ*/
#breadcrumbs{
	clear: both;
	margin-bottom: 1.5em;
	font-size: 1.2em;
}

#breadcrumbs li{
	display: inline;
	margin-right: 0.5em;
	line-height: 1.8;
	text-align: right;
	list-style: none;
}

#breadcrumbs li a{
	padding-right: 15px;
	background: url(./images/icon/icon-brc.gif) center right no-repeat;
}


/*--------------------------------------------------------
メインコンテンツ（本文）
--------------------------------------------------------*/

#main-contents{ font-size: 1.4em; }

#main-contents .contents{
	margin-bottom: 3.5em;
	padding: 0 10px;
}


/*●H2タグ*/

#main-contents h2{
    background: #004c6b none repeat scroll 0 0;
    color: #fff;
    font-size: 120%;
    font-weight: bold;
    margin: 10px 0 20px;
    padding: 10px 0 10px 12px;
}

#main-contents h2 a:hover,
#main-contents h2 a:active{ color: #f60; }

#main-contents h2.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}


/*●H3タグ*/

#main-contents h3 a:link,
#main-contents h3 a:visited{ color: #0c749b; }

#main-contents h3 a:hover,
#main-contents h3 a:active{ color: #f60; }

#main-contents h3.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}


/*●H4タグ*/
#main-contents h4{
   border-left: 6px solid #888;
    font-weight: bold;
    margin: 0 0 1.5em;
    padding-left: 6px;
}

#main-contents h4 a:link,
#main-contents h4 a:visited{ color: #333; }

#main-contents h4 a:hover,
#main-contents h4 a:active{ color: #f60; }

#main-contents h4.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}


/*●H5タグ*/
#main-contents h5{
	margin: 0 0 1.5em;
	padding: 0 0.8em 0.5em;
	border-bottom: 2px solid #414141;
	font-weight: bold;
}

#main-contents h5.img-title{
	margin: 0 0 1.5em;
	padding: 0;
	border: 0;
	background: none;
}

#main-contents h5 a:link,
#main-contents h5 a:visited{ color: #333; }

#main-contents h5 a:hover,
#main-contents h5 a:active{ color: #f60; }


/*●段落タグ*/
/*#main-contents p{ margin-bottom: 1.5em; }*/


/*●リストタグ*/
#main-contents ul,
#main-contents ol{
/*	margin: 0 0.8em 1.5em 1.7em;
	padding: 0;*/
}

#main-contents li{
/*	margin-bottom: 0.5em;
	line-height: 1.5em;*/
}


/*●引用タグ*/
#main-contents q{
	margin: 0 2px;
	padding: 0 8px;
	background: #efefef;
}

#main-contents blockquote{
	overflow: auto;
	margin: 0 1em 1.5em;
	padding: 1em;
	border: 3px solid #ddd;
	background: #efefef;
	color: #444;
}


/*●テーブルタグ*/
#main-contents table{
	margin-bottom: 1.5em;
	padding: 0;
	border-top: 1px solid #dde4e6;
	border-left: 1px solid #dde4e6;
}

/*「table」の1行目に「colspan」を利用する場合は「auto」を指定する*/
/*#main-contents table{ table-layout: auto; }*/

#main-contents th,
#main-contents td{
	padding: 0.5em;
	border-right: 1px solid #dde4e6;
	border-bottom: 1px solid #dde4e6;
}

#main-contents th{
	background-color: #f0f0f0;
	font-weight: bold;
	text-align: left;
}


/*●テーブルタグ スタイル01*/
#main-contents table.table-style01 th,
#main-contents table.table-style01 td{
	text-align: left;
	vertical-align: top;
}


/*●最新情報（リストタグ）*/
#main-contents ul.news{
	margin: 0 0 3.5em;
	padding: 0;
	padding-bottom: 0;
}

#main-contents ul.news li{
	margin-bottom: 1em;
	padding: 0 1em 1em;
	border-bottom: 1px dotted #414141;
	line-height: 1.4em;
	list-style: none;
}


/*●最新情報（定義タグ）*/
#main-contents dl.news{
	margin: 0;
	margin-bottom: 3.5em;
	padding: 0;
}

#main-contents dl.news dt{
	float: left;
	width: 9em;
	margin: 0;
	padding: 0;
	padding-left: 1em;
}

/*最新情報のアイコン設定*/
#main-contents dl.news dd.cat{
	float: left;
	overflow: hidden;
	width: 6em;
	height: 1.5em;
	padding: 0.1em 0.3em 0;
	border-bottom: none;
	background: #333;
	color: #fff;
	font-size: 0.858em;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#main-contents dl.news dd{
	margin: 0 0 10px 0;
	padding: 0 1em 0.8em 16.5em;
	border-bottom: 1px dotted #414141;
}

/*カテゴリの文字数が多い場合はコメントアウトを解除*/
/*#main-contents dl.news dd.cat{
	clear: none;
	width: auto;
}

#main-contents dl.news dd{
	clear: both;
	padding: 0 1em 0.8em 1em;
}*/
/*●最新情報2（定義タグ）*/
#main-contents dl.news02{
	margin: 0;
	margin-bottom: 3.5em;
	padding: 0;
}

#main-contents dl.news02 dt{
	display: block;
	margin: 0 0 0.5em 0;
	padding: 0;
	padding-left: 1em;
	font-weight: bold;
}

#main-contents dl.news02 dd{
	margin: 0 0 0.5em 0;
	padding: 0 1em 0.8em 1em;
	border-bottom: 1px dotted #414141;
}

#main-contents dl.news02 dd.cat{
	margin: 0;
	padding: 0 1em 0.5em 1em;
	border: 0;
}

#main-contents dl.news02 dd.cat ul{
	margin: 0;
	padding: 0;
	/zoom : 1;
}

#main-contents dl.news02 dd.cat ul:after{ content : ''; display : block; clear : both; height:0; }

#main-contents dl.news02 dd.cat li{
	clear: none;
	overflow: hidden;
	float: left;
	height: 1.5em;
	margin-right: 0.5em;
	padding: 0.1em 0.3em 0;
	background: #333;
	color: #fff;
	font-size: 0.858em;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}


#main-contents dl.news dd.cat{ font-weight: bold; }
#main-contents dl.news dd.cat.color01{ background: #4784bf; }
#main-contents dl.news dd.cat.color02{ background: #dd6673; }
#main-contents dl.news dd.cat.color03{ background: #39a869; }
#main-contents dl.news dd.cat.color04{ background: #e8ac51; }
#main-contents dl.news dd.cat.color05{ background: #a55b9a; }
#main-contents dl.news dd.cat.color06{ background: #aac863; }


/*●定義タグ スタイル01*/
#main-contents dl.dl-style01{
	margin: 0 0 3.5em;
	padding: 0;
}

#main-contents dl.dl-style01 dt{
	float: left;
	width: 9em;
	margin: 0;
	padding: 0 0 0 1em;
}

#main-contents dl.dl-style01 dd{
	margin: 0 0 10px 0;
	padding: 0 1em 0.8em 10em;
	border-bottom: 1px dotted #414141;
}


/*●定義タグ スタイル02*/
#main-contents  dl.dl-style02{
	margin-bottom: 1.2em;
	padding: 0;
	border: 1px solid #777;
	border-top: 0;
	background-color: #ddd;
}

#main-contents dl.dl-style02 dt{
	margin: 0;
	padding: 0.5em;
	border-top: 1px solid #777;
	border-bottom: 1px solid #777;
	font-weight: bold;
}

#main-contents dl.dl-style02 dd{
	margin: 0;
	padding: 0.8em 1.0em;
	background-color: #fff;
}


/*●チェックリスト（リストタグ）*/
#main-contents ul.checklist{
	margin: 0 0 1.5em;
	padding: 1em;
	padding-bottom: 0;
	border: 1px solid #414141;
}

#main-contents ul.checklist li{
	margin-bottom: 1.5em;
	padding-top: 5px;
	padding-left: 24px;
	background: url(./images/icon/icon-check01-red.png) left top no-repeat;
	list-style-type: none;
}


/*●戻る＆進むリンク*/
.link-next,
.link-back,
.link-next02,
.link-back02{ clear: both; }

.link-next,
.link-next02{ text-align: right; }

.link-back,
.link-back02{ text-align: left; }

.link-next a{
	padding: 3px 0 3px 15px;
	background: url(./images/icon/icon-arrow_r.png) 0 5px no-repeat;
}
.link-back a{
	padding: 3px 0 3px 15px;
	background: url(./images/icon/icon-arrow_l.png) 0 5px no-repeat;
}

.link-next02 a{
	padding: 3px 0 3px 15px;
	background: url(./images/icon/icon-arrow_r-red.png) 0 5px no-repeat;
}
.link-back02 a{
	padding: 3px 0 3px 15px;
	background: url(./images/icon/icon-arrow_l-red.png) 0 5px no-repeat;
}


/*●段組み*/
.box-wrap .box-l{
	float: left;
	width: 48%;
	margin: 0 0 1.5em;
	border: 1px solid #aaa; /*boxの枠線の指示*/
}

.box-wrap .box-r{
	float: right;
	width: 48%;
	margin: 0 0 1.5em;
	border: 1px solid #aaa;
}

#main-contents .box-wrap .title{
	margin-bottom: 1.5em;
	background-color: #999; /*boxのタイトルの背景色*/
}

#main-contents .box-wrap .title p{
	margin: 0 10px;
	padding: 5px 0;
	color: #fff;
	font-weight: bold;
}


/*●ランキング（リストタグ）*/
#main-contents .box-wrap .ranking{
	margin: 0 0 15px;
}

#main-contents .ranking li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #aaa; /*区切り線の指示*/
	background: none;
	list-style: none;
}

#main-contents .ranking li.end{
	padding-bottom: 0;
	border-bottom: none;
}

#main-contents .ranking p{ margin: 0 0 10px; }


/*●ページネーション スタイル01*/
#main-contents .cont-menu01{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#main-contents .cont-menu01 ul{
	position: relative;
	left: 50%;
	float: left;
	margin-left: 10px;
}

#main-contents .cont-menu01 li{
	position: relative;
	left: -50%;
	float: left;
	margin-right: 10px;
	list-style: none;
}

#main-contents .cont-menu01 li:last-child{ margin-right: 0; }

#main-contents .cont-menu01 li.cur{
	padding: 3px 10px;
	border: 1px solid #ccc;
	background-color: #959595;
	color: #fff;
	font-weight: bold;
}

#main-contents .cont-menu01 li a{
	display: block;
	padding: 3px 10px;
	border: 1px solid #ccc;
}

#main-contents .cont-menu01 li a:link,
#main-contents .cont-menu01 li a:visited{ background-color: transparent; }

#main-contents .cont-menu01 li a:hover,
#main-contents .cont-menu01 li a:active{
	background-color: #959595;
	color: #fff;
}

#main-contents .text-field{ width: 90%; }


/*●ページネーション スタイル02*/
#main-contents .cont-menu02{
	position: relative;
	overflow: hidden;
	width: 100%;
}

#main-contents .cont-menu02 ul{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}

#main-contents .cont-menu02 li{
	max-width: 50%;
	list-style: none;
}

* html #main-contents .cont-menu02 li{ white-space: nowrap; } /* IE6 */

#main-contents .cont-menu02 li.prev{ float: left; }

#main-contents .cont-menu02 li.next{ float: right; }

#main-contents .cont-menu02 li a{
	display: block;
	padding: 3px 10px;
	border: 1px solid #ccc;
}

#main-contents .cont-menu02 li a:link,
#main-contents .cont-menu02 li a:visited{ background-color: transparent; }

#main-contents .cont-menu02 li a:hover,
#main-contents .cont-menu02 li a:active{
	background-color: #959595;
	color: #fff;
}


/*●サイトマップ*/
#main-contents .sitemap li{ list-style: none; }

#main-contents .sitemap li a{
	display: block;
	padding: 3px 0 3px 20px;
	background: url(./images/icon/icon-arrow_r.png) 0 5px no-repeat;
}

#main-contents .sitemap ul{ margin-top: 1em; }

#main-contents .sitemap li li a{
	padding: 0 0 0 15px;
	border-left: none;
	background: url(./images/icon/icon-menu02.png) 0 6px no-repeat;
}



/*--------------------------------------------------------
サブコンテンツ / サイドバー
--------------------------------------------------------*/

#sub-contents,
#sidebar,
#sidebar-in,
#sub-contents-in{
	margin: 0;
	padding: 0;
}

* html #sub-contents,
* html #sidebar{ overflow: hidden; }

#sub-contents .sub-contents-btn,
#sidebar .sidebar-btn{ display: none; }

.sub-column{ font-size: 1.2em; }

.sub-column li{ list-style: none; }


/*●コンテンツ*/
.sub-column .contents{
	margin-bottom: 1.5em;
	padding: 0.5em 0;
}

.sub-column hr{ clear: both; }

.sub-column h3{
border-bottom:4px solid #fdd000;
font-size:130%;
padding:0 0 5px 0;
margin-bottom:10px;
}



/*●プロフィール*/
.sub-column .profile-img img{
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.sub-column .profile-txt p{ margin-bottom: 1em; }

.col1 .sub-column .profile-img,
.col2 #sub-contents .profile-img,
.col2r #sub-contents .profile-img{
	float: left;
	padding-right: 20px;
}


/*●テーブルタグ*/
.sub-column table caption{
	font-weight: bold;
	text-align: center;
}

.sub-column table{
	width: 90%;
	margin: auto;
	margin-bottom: 1.5em;
	padding: 0;
	border-top: 1px solid #dde4e6;
	border-left: 1px solid #dde4e6;
}

.sub-column table th,
.sub-column table td{
	padding: 0.5em 0.2em;
	border-right: 1px solid #dde4e6;
	border-bottom: 1px solid #dde4e6;
}

.sub-column table th{
	background: #f0f0f0;
	font-weight: bold;
	text-align: center;
}


/*●カレンダー*/
.sub-column table#wp-calendar tbody td{ text-align: center; }

.sub-column table#wp-calendar tfoot td{ border-right: none; }

.sub-column table#wp-calendar tfoot td#next{
	border-right: 1px solid #dde4e6;
	text-align: right;
}

.sub-column table#wp-calendar tbody td a{ display: block; }


/*●検索ボックス*/
.sub-column dl.search-box{
	margin: 0 0 16px;
	width: 100%;
}

.sub-column dl.search-box dt{
	display: block;
	float: left;
	width: 63%;
	margin: 0;
	padding: 0;
	padding-right: 5px;
}

.sub-column dl.search-box dt input{
	width: 95%;
	height: 1.4em;
	padding: 2px;
	border: 1px solid #aaa;
	color: #aaa;
	line-height: 1.4em;
}

.sub-column dl.search-box dt input.onfocus{ color: #333; }

.sub-column dl.search-box dd{
	float: left;
	margin: 0;
	padding: 0;
}

.sub-column dl.search-box dd input{
	height: 2em;
	padding: 0.1em 1em;
	line-height: 1.4em;
}


/*●お問い合わせ*/
.sub-column .contact .icon-contact{
	float: left;
	padding: 0 10px 10px 0;
}

.sub-column .contact .text-contact{ overflow: hidden; }


/*●サイドメニュー*/
.sub-column .side-menu{ margin: 0; }

.sub-column .side-menu li{ list-style: none; }

.sub-column .side-menu li a{
	display: block;
	padding: 12px 10px 12px 20px;
	background: url(./images/icon/icon-arrow_r.png) 2px 15px no-repeat;
}

.sub-column .side-menu li a:active,
.sub-column .side-menu li a:hover{
	background-color: #fc6;
	color: #fff;
}

.sub-column .side-menu ul{
	padding: 0;
	margin: 0;
}

.sub-column .side-menu ul ul{ padding: 0; }

.sub-column .side-menu li li{
	width: 95%;
	margin-bottom: 0;
	padding-left: 5%;
	border: 0;
}

.sub-column .side-menu li li a:link,
.sub-column .side-menu li li a:visited{
	padding: 6px 10px 6px 15px;
	border-left: none;
	background: url(./images/icon/icon-menu02.png) 2px 12px no-repeat;
}

.sub-column .side-menu li li a:active,
.sub-column .side-menu li li a:hover{ background: url(./images/icon/icon-menu02.png) 2px 12px no-repeat #fc6; }


/*●ランキング*/
.ranking{
	margin: 0;
	padding: 5px 0;
}

.ranking li{
	margin-bottom: 10px;
	padding: 0;
	border-bottom: 1px dotted #7070ba;
	background: none;
	font-weight: normal;
}

.ranking li p{ margin-bottom: 10px; }
.ranking li.end{ border-bottom: none; }

.ranking .no01 .item-name,
.ranking .no02 .item-name,
.ranking .no03 .item-name{
	color: #fe8528;
	font-size: 1.167em;
}

.ranking .no01 .item-name, .ranking .no02 .item-name,
.ranking .no03 .item-name, .ranking .no04 .item-name,
.ranking .no05 .item-name, .ranking .no06 .item-name,
.ranking .no07 .item-name, .ranking .no08 .item-name,
.ranking .no09 .item-name, .ranking .no10 .item-name{
	padding: 4px 0 4px 30px;
	font-weight: bold;
}

.no01 .item-name{ background: url(./images/icon/icon-rank01-01.png) left top no-repeat; }
.no02 .item-name{ background: url(./images/icon/icon-rank01-02.png) left top no-repeat; }
.no03 .item-name{ background: url(./images/icon/icon-rank01-03.png) left top no-repeat; }
.no04 .item-name{ background: url(./images/icon/icon-rank01-04.png) left top no-repeat; }
.no05 .item-name{ background: url(./images/icon/icon-rank01-05.png) left top no-repeat; }
.no06 .item-name{ background: url(./images/icon/icon-rank01-06.png) left top no-repeat; }
.no07 .item-name{ background: url(./images/icon/icon-rank01-07.png) left top no-repeat; }
.no08 .item-name{ background: url(./images/icon/icon-rank01-08.png) left top no-repeat; }
.no09 .item-name{ background: url(./images/icon/icon-rank01-09.png) left top no-repeat; }
.no10 .item-name{ background: url(./images/icon/icon-rank01-10.png) left top no-repeat; }

.ranking .no01 .item-name{ background: url(./images/icon/icon-rank01-01.png) left top no-repeat; }
.ranking .no02 .item-name{ background: url(./images/icon/icon-rank01-02.png) left top no-repeat; }
.ranking .no03 .item-name{ background: url(./images/icon/icon-rank01-03.png) left top no-repeat; }
.ranking .no04 .item-name{ background: url(./images/icon/icon-rank01-04.png) left top no-repeat; }
.ranking .no05 .item-name{ background: url(./images/icon/icon-rank01-05.png) left top no-repeat; }
.ranking .no06 .item-name{ background: url(./images/icon/icon-rank01-06.png) left top no-repeat; }
.ranking .no07 .item-name{ background: url(./images/icon/icon-rank01-07.png) left top no-repeat; }
.ranking .no08 .item-name{ background: url(./images/icon/icon-rank01-08.png) left top no-repeat; }
.ranking .no09 .item-name{ background: url(./images/icon/icon-rank01-09.png) left top no-repeat; }
.ranking .no10 .item-name{ background: url(./images/icon/icon-rank01-10.png) left top no-repeat; }

.ranking .item-img{ text-align: center; }


.col1 .ranking .item-img,
.col2 #sub-contents .ranking .item-img,
.col2r #sub-contents .ranking .item-img{
	float: left;
	padding-right: 20px;
}


/*●バナーエリア*/
.sub-column .banner{ margin-bottom: 10px; }

.sub-column .banner li{
	margin-bottom: 18px;
	list-style: none;
	text-align: center;
}

.col1 .sub-column .banner li,
.col2 #sub-contents .banner li,
.col2r #sub-contents .banner li{
	display: inline;
	margin-right: 8px;
}

/*--------------------------------------------------------
similar用
--------------------------------------------------------*/
#main-contents ul.similarList {
	list-style: none;
	margin: 0 0 25px 0;
}
#main-contents ul.similarList li {
}
#main-contents ul.similarList li span {
	display: table-cell;
	vertical-align: middle;
}
#main-contents ul.similarList li span.img {
	padding: 0 10px 0 0;
	width: 50px;
}


/*--------------------------------------------------------
フッター
--------------------------------------------------------*/

#footer{
	clear: both;
	padding-top: 30px;
	padding-bottom: 10px;
	background: #959595; /*フッター全体の背景色を指定*/
	color: #fff;
	font-size: 1.2em;
}

#footer a:link,
#footer a:visited{ color: #fff; }
#footer a:hover,
#footer a:active{ color: #f60; }

#footer h3{
	margin-bottom: 1em;
	padding: 0.8em;
	background-color: #fff;
	color: #333;
	font-weight: bold;
}

#footer-in li{ list-style: none; }

#footer .area01{
	float: left;
	width: 39%;
	padding-bottom: 20px;
}

#footer .area02{
	float: right;
	width: 60%;
	padding-bottom: 20px;
}

/*●アクセス情報*/
#footer .access{ padding: 0 1em; }

#footer .access p{ margin-bottom: 1em; }

p.accessmap{
	padding: 0px 0 3px;
	padding-left: 25px;
	background: url(./images/icon/icon-arrow02.png) left center no-repeat;
}


/*●フッターメニュー*/
#footer .footer-menu{
	overflow: hidden;
	width: 100%;
	padding: 0;
}

#footer .footer-menu ul{
	float: left;
	width: 42%;
	margin-right: 5%;
	padding: 1%;
}

#footer .footer-menu ul ul{
	float: none;
	width: auto;
	margin-top: 1em;
	margin-right: 0;
}

.footer-menu li{
    background: url("http://altema.jp/wp-content/uploads/2014/11/icon-ken.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    padding: 0 0 3px 25px;
}

.footer-menu li li{
	padding-left: 15px;
	padding-top: 0;
	background: url(./images/icon/icon-arrow03.png) left 5px no-repeat;
}


/*●フッターバナー*/
#footer-banner{
	clear: both;
	padding: 20px 0;
	border-top: 1px solid #ccc;
}

#footer-banner li{
	display: inline;
	list-style: none;
}


/*●コピーライト*/
.copyright{
	padding: 15px 0;
	background: #eaeaea;
	font-size: 1.2em;
	text-align: center;
}


/*--------------------------------------------------------
ページトップ
--------------------------------------------------------*/

.page-top{
	position: fixed;
	right: 0;
	bottom: 20px;
	z-index: 99;
	width: 182px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
}

* html .page-top{ display: none; }

.page-top a{
	display: block;
	padding: 10px;
	padding-left: 42px;
	border: 1px solid #fff;
	border-right: 0;
	text-decoration: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
}

.page-top a:link,
.page-top a:visited{
	background: url(./images/common/bg-pagetop.gif) 14px center no-repeat #999;
	color: #fff;
}

.page-top a:hover,
.page-top a:active{
	background: url(./images/common/bg-pagetop.gif) 14px center no-repeat #fc6;
	color: #f60;
}


/*------------------------------------------------------------
ソーシャルボタン
-------------------------------------------------------------*/

#main-contents .sb{
	width:100%;
	margin: 0;
	padding: 0;
}

#main-contents .sb li{
	display: inline-block;
	margin-right: 5px;
	vertical-align: top;
	list-style: none;
}

* html #main-contents .sb li{
	float: left;
	width: 130px;
	list-style: none;
} /* IE6 */

*+html #main-contents .sb li{
	display: inline;
	list-style: none;
} /* IE7 */

#main iframe.twitter-share-button{ width: 100px!important; }


/*------------------------------------------------------------
WordPress用
-------------------------------------------------------------*/

#main-contents  h2.post-title{
	margin-bottom: 1.5em;
}


.archive-title{
	margin-bottom: 2em;
	padding: 1em;
	background-color: #333;
	color: #fff;
	font-weight: bold;
}

/*●ウィジェットメニュー*/
.sub-column .widget-conts ul{ margin: 0; }

.sub-column .widget-conts ul li,
#recent-posts-2 ul li a{
    background: url("http://altema.jp/wp-content/uploads/2014/11/icon-arrow_r02.png") no-repeat scroll 2px 6px rgba(0, 0, 0, 0);
    padding: 3px 10px 3px 20px;
}

.sub-column .widget-conts ul li li{
	padding: 6px 10px 6px 15px;
	background: url(./images/icon/icon-menu02.png) 2px 12px no-repeat;
}

.sub-column .widget_recent_entries ul li,
.sub-column .widget_recent_entries ul li li,
.sub-column .widget_pages ul li,
.sub-column .widget_pages ul li li,
.sub-column .widget_nav_menu ul li,
.sub-column .widget_nav_menu ul li li,
.sub-column .widget-conts .ranking li,
.sub-column .widget-conts .ranking li li,
.sub-column .widget-conts .banner li,
.sub-column .widget-conts .banner li li{
	padding: 0;
	background: none;
	list-style: none;
}

.sub-column .widget_recent_entries ul li a,
.sub-column .widget_pages ul li a,
.sub-column .widget_nav_menu ul li a{
	display: block;
	padding: 12px 10px 12px 20px;
	background: url(./images/icon/icon-arrow_r.png) 2px 15px no-repeat;
}

.sub-column .widget_recent_entries ul li a:active,
.sub-column .widget_recent_entries ul li a:hover,
.sub-column .widget_pages ul li a:active,
.sub-column .widget_pages ul li a:hover,
.sub-column .widget_nav_menu ul li a:active,
.sub-column .widget_nav_menu ul li a:hover{
	background-color: #fc6;
	color: #f60;
}

.sub-column .widget_recent_entries ul ul,
.sub-column .widget_pages ul ul,
.sub-column .widget_nav_menu ul ul{
	padding: 0;
	margin: 0;
}

.sub-column .widget_recent_entries ul ul ul,
.sub-column .widget_pages ul ul ul,
.sub-column .widget_nav_menu ul ul ul{ padding: 0; }

.sub-column .widget_recent_entries ul li li,
.sub-column .widget_pages ul li li,
.sub-column .widget_nav_menu ul li li{
	width: 95%;
	margin-bottom: 0;
	padding-left: 5%;
	border: 0;
}

.sub-column .widget_recent_entries ul li li a:link,
.sub-column .widget_recent_entries ul li li a:visited,
.sub-column .widget_pages ul li li a:link,
.sub-column .widget_pages ul li li a:visited,
.sub-column .widget_nav_menu ul li li a:link,
.sub-column .widget_nav_menu ul li li a:visited{
	padding: 6px 10px 6px 15px;
	border-left: none;
	background: url(./images/icon/icon-menu02.png) 2px 12px no-repeat;
}

.sub-column .widget_recent_entries ul li li a:active,
.sub-column .widget_recent_entries ul li li a:hover,
.sub-column .widget_pages ul li li a:active,
.sub-column .widget_pages ul li li a:hover,
.sub-column .widget_nav_menu ul li li a:active,
.sub-column .widget_nav_menu ul li li a:hover{ background: url(./images/icon/icon-menu02.png) 2px 12px no-repeat #fc6; }

.sub-column .rss-date,
.sub-column cite{
	display: block;
	margin: 0.5em 0;
}

.sub-column .widget_links li{ overflow: hidden; }

.sub-column .widget_links li img{
	display: block;
}

.sub-column .banner{ margin-bottom: 10px; }

.sub-column .banner li{
	margin-bottom: 18px;
	list-style: none;
	text-align: center;
}

.col1 .sub-column .banner li,
.col2 #sub-contents .banner li,
.col2r #sub-contents .banner li{
	display: inline;
	margin-right: 8px;
}

#main .sub-column ul.banner li a{
	display: inline;
	padding-left: 0;
	background: none;
}

#main .sub-column ul.banner li a:link,
#main .sub-column ul.banner li a:visited{ color: #39f; }
#main .sub-column ul.banner li a:hover,
#main .sub-column ul.banner li a:active{ color: #fff; }


/*●メインコンテンツ内での検索*/
#main-contents dl.search-box{
	margin: 0 0 16px;
	width: 100%;
}

#main-contents dl.search-box dt{
	display: block;
	float: left;
	width: 63%;
	margin: 0;
	padding: 0;
	padding-right: 5px;
}

#main-contents dl.search-box dt input{
	width: 95%;
	height: 1.4em;
	padding: 2px;
	border: 1px solid #aaa;
	color: #aaa;
	line-height: 1.4em;
}

#main-contents dl.search-box dt input.onfocus{ color: #333; }

#main-contents dl.search-box dd{
	float: left;
	margin: 0;
	padding: 0;
}

#main-contents dl.search-box dd input{
	height: 2em;
	padding: 0.1em 1em;
	line-height: 1.4em;
}

#main-contents .post-tag{
	padding: 1em;
	background-color: #f3f3f3;
}

#main-contents .post-tag p{
	margin-bottom: 0;
}

#main-contents .sb{
	text-align: right;
}


/*コメントフォーム*/
#main-contents .trackback-url{ width: 70%; }

#main-contents p textarea{ width: 70%; }

#main-contents #submit{ padding: 0.3em 1em; }

#main-contents #author,
#main-contents #email,
#main-contents #url{
	width: 50%;
	padding: 0.3em;
}

#main-contents .comment-body em{
	font-weight: bold;
}

#main-contents .commentlist,
#main-contents .commentlist ul{
	margin-right: 0!important;
	margin-left: 0!important;
	padding: 0;
}

#main-contents .commentlist{ padding: 10px; }

#main-contents .commentlist li{
/*	margin-bottom: 2.5em;*/
	margin-bottom: 0.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	list-style: none;
}

#main-contents .commentlist li li{
	margin-top: 10px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 0;
	border-top: 1px solid #ccc;
	border-bottom: none;
}

#main-contents .comment-author,
#main-contents .comment-meta{ margin-bottom: 1em; }

#main-contents .reply{ clear: both; }

#main-contents .reply a{
	padding-left: 17px;
	background: url(./images/icon/icon-arrow_r.png) 0 4px no-repeat;
}


/*画像の回り込み*/
img.alignleft{
	float: left;
	padding-right: 30px;
}

img.alignright{
	float: right;
	padding-left: 30px;
}

img.aligncenter{
	display: block;
	margin: auto;
}


/*PS Auto Sitemap基本デザイン*/
ul#sitemap_list,
ul#sitemap_list ul{ margin: 0; }

#sitemap_list li{
	list-style: none;
	padding: 3px 10px 3px 20px;
	background: url(./images/icon/icon-arrow_r.png) 2px 8px no-repeat;
}

#sitemap_list li ul{
	margin-top: 0.5em;
	margin-bottom: 0;
}

#sitemap_list li li{
	padding: 6px 10px 6px 15px;
	border-left: none;
	background: url(./images/icon/icon-menu02.png) 2px 12px no-repeat;
}



/*●ページネーション WP用*/
#main-contents .cont-menu-wp{
	position: relative;
	overflow: hidden;
	width: 100%;
	/zoom : 1;
}

#main-contents .cont-menu-wp:after{ content : ''; display : block; clear : both; height:0; }

#main-contents .cont-menu-wp ul{
	overflow: hidden;
	width: 100%;
	margin: 0;
	margin-bottom: 1.5em;
	padding: 0;
}

#main-contents .cont-menu-wp li{
	max-width: 50%;
	list-style: none;
}

* html #main-contents .cont-menu-wp li{ white-space: nowrap; } /* IE6 */

#main-contents .cont-menu-wp li.nav-prev{ float: right; }

#main-contents .cont-menu-wp li.nav-next{ float: left; }

#main-contents .cont-menu-wp li.nav-next a{
	padding: 3px 0 3px 15px;
	background: url(./images/icon/icon-arrow_l.png) left 7px no-repeat;
}

#main-contents .cont-menu-wp li.nav-prev a{
	padding: 3px 15px 3px 0;
	background: url(./images/icon/icon-arrow_r.png) right 7px no-repeat;
}


/*コメントナビ*/
.navigation .alignright{
	float: right;
}
.navigation .alignleft{
	float: left;
}

.navigation:after{ content : ''; display : block; clear : both; height:0; }
.navigation{
	margin-bottom: 30px;
	/zoom : 1;
}


/*------------------------------------------------------------
floatの回り込みを解除
-------------------------------------------------------------*/

#top-in:after,
#header-in:after,
#global-nav-in #menu:after,
#main-in:after,
#main-and-sub:after,
.contents:after,
#main-contents dl.dl-style01:after,
.box-wrap:after,
dl.search-box:after,
#footer-in:after,
#main-contents .sb:after,
.contact:after,
#main-contents .cont-menu01:after,
#main-contents .cont-menu02:after,
.clearfix:after{ content : ''; display : block; clear : both; height:0; }

#top-in,
#header-in,
#global-nav-in #menu,
#main-in,
#main-and-sub,
.contents,
#main-contents dl.dl-style01,
.box-wrap,
dl.search-box,
#footer-in,
#main-contents .sb,
.contact,
#main-contents .cont-menu01,
#main-contents .cont-menu02,
.clearfix{ /zoom : 1; }


/*------------------------------------------------------------
　template created by web-rider
-------------------------------------------------------------*/
#main-contents .contents h3 {
    background: #eaeeef none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 8px 2px 8px 12px;
}

#main-contents .contents h3 {
    margin: 0 0 1.5em;
}

#main-contents h3 {
/*    font-size: 1.143em;
    font-weight: bold;
    margin: 0 0 1.5em;
    padding: 0 0 7px;*/
}
.article h2{
margin-bottom:20px;
}
.article h3 a{
color:#fff!important;
}
.comment-body .comment-author01{
background:#222;
color:#fff;
padding:2px 0 4px 10px;
}

.comment-body .fn{
color:#fff;

}
.comremove{
text-align:right;
font-size:80%;
position:absolute;
top:10px;
right:20px;
}
.comremove img{
width:50%;
display: inline-block;
padding-top:5px;
}
.comment-body{
padding: 10px;
box-shadow: 0 3px 3px #ccc;
border:none;
position: relative;
}

.clonecom{
border:none;
}
span.post-data{
font-size:90%;
display:inline-block;
margin: 0 5px 0 0;
}
.post ul{
margin-left:0!important;
}
input#sonotaInput { display: none; }
#main-contents .contact_inbound h2 {
    padding: 25px 0 0 0;
    background: none;
    color: #24244e;
    border-bottom: 3px solid #0d9ce6;
    display: table;
}
#main-contents .contact_inbound p {
    margin-bottom: 0;
    /*text-align: center;*/
}
.contact_inbound .form dl {
/*    margin: 40px auto;
    width: 650px;*/
}
.contact_inbound .form dt {
    margin: 0 0 1px 0;
    position: relative;
    font-weight: bold;
}
.contact_inbound .form dd {
    margin: 0 0 15px 0;
}
.contact_inbound .form dt span {
    display: inline-block;
    margin: 0 0 0 7px;
    padding: 0 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    position: absolute;
    top: 2px;
}
.contact_inbound .form span.req {
    background: #d66060;
}
.contact_inbound .form span.option {
    background: #9faba5;
}
.contact_inbound .form textarea {
    width: 97%;
margin-top:10px;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact_inbound select,
.contact_inbound input[type="text"],
.contact_inbound input[type="url"],
.contact_inbound input[type="email"] {
    padding: 8px;
    width: 97%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact_inbound select:hover,
.contact_inbound input[type="text"]:hover,
.contact_inbound input[type="url"]:hover,
.contact_inbound input[type="email"]:hover,
.contact_inbound .form textarea:hover {
    border-color: #0d9ce6;
}
.contact_inbound select#obo-year {
    width: 100px;
}
.contact_inbound select#obo-month,
.contact_inbound select#obo-day {
    width: 70px;
}
.contact_inbound .radio label {
    display: block;
    margin: 0;
    padding: 5px 0;
}
.contact_inbound .radio label:hover {
    cursor: pointer;
    opacity: 0.85;
}
.contact_inbound input[type="submit"] {
 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffa84c 0%, #ff7b0d 100%) repeat scroll 0 0;
    border-radius: 4px;
border:none;
    color: #fff;
    display: inline-block;
    font-size: 140%;
    margin: 30px auto;
    padding: 10px 0;
    text-align: center;
    width: 250px;
}
.contact_inbound input[type="submit"]:hover {
opacity:0.8;
    cursor: pointer;
}
.contact_inbound .formText {
    font-size: 90%;
    padding: 15px 0;
}
.contact_inbound .tel {
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #bbb;
}
.contact_inbound .ttl {
    font-weight: bold;
}
#main-contents .company_information h2 {
    padding: 5px 0 5px 6px;
    font-size: 100%;
    margin: 15px 0 10px 0;
    background: #eee;
    color: #444;
    text-align: left;
}
#main-contents .company_information p {
    margin-bottom: 10px;
}
.company_information dl {
    margin-bottom: 30px;
}
.company_information dl dt {
    font-weight: bold;
    position: relative;
    padding-left: 12px;
}
.company_information dl dt:before {
    content: '';
    display: block;
    width: 5px;
    height: 21px;
    background: #0d9ce6;
    position: absolute;
    left: 0;
    top: 0;
}
.company_information dl dd {
    font-size: 95%;
    margin: 5px 0 15px 0;
}
.company_information a.btn {
    display: block;
    background: #0d9ce6;
    color: #fff;
    width: 46%;
    float: left;
    text-align: center;
    padding: 10px 1%;
    border-radius: 5px;
}
.company_information a.btn:first-child {
    margin-right: 3%;
}
.company_information a.btn:hover {
    opacity: 0.8;
}
.company_information .media {
    clear: both;
    padding: 50px 0;
    text-align: center;
}
#main-contents .company_information table,
#main-contents .company_information th,
#main-contents .company_information td {
    border: none;
}
.company_information .media span {
    font-size: 85%;
    margin: 5px 0 0 0;
    display: block;
}