@charset "UTF-8";

/*--------------------------------------------------------
モバイル用レイアウト（640px以下の解像度のスクリーン含む）
--------------------------------------------------------*/

@media only screen and (max-width : 640px){


/*--------------------------------------------------------
サイト全体の共通設定
-------------------------------------------------------*/

.honbun{
display:none;
}
#header-in h1,
.snsBox{
display:none;
}
.headerMenuBoxBt button{
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 30px;
    height: 0;
    padding-top: 18px;
    background: #fff;
border:none;
}
.headerMenuBoxBt button::before,
.headerMenuBoxBt button::after{
       position: absolute;
    left: 0;
    content: "";
    width: 30px;
    height: 0;
    border-top: 3px solid #012C6B;
}
.headerMenuBoxBt button::before{
top: 4px;
}
.headerMenuBoxBt button::after{
  bottom: 4px;
}
.headerMenuBox ul {
font-size:1.4em;
}
.headerMenuBox ul li{
margin-bottom:4px;
}
.headerMenuBoxBt img:hover {
cursor:pointer;
opacity:0.8
}
#main-contents h2{
margin-bottom:0.5em;
}
#main-image{
display:none;
}

.mainTopImg img,
.mainTopImg02 img{
width:auto!important;
}
#main-contents ul, #main-contents ol{
margin-left:0;
margin-right:0;
}
#footer a:visited{
color:#fff!important;
}
.kouryakuBox img{
width: 50px;
}
.kouryakuTxt{
margin-top:10px!important;
}
.kouryakuBox ul li{
padding:10px 0 10px 0;
border-bottom:1px dotted #ccc;
}

.mainTopImg02 div{
margin-right:5px!important;
}
.mainTopImg div{
margin-right:5px!important;
}
.mainTopImg,
.mainTopImg02{
font-size:80%;
}
html{
	overflow-y: scroll;
	overflow-x: hidden;
}

html,body{
	width: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: #fff;
}

textarea,input{ max-width: 95%; }

input[type="submit"],input[type="image"],
input[type="reset"],input[type="button"],
input[type="file"]{ max-width: none; }

.sub-column dl.search-box dt, .sub-column dl.search-box dd { float: left; }
.sub-column dl.search-box dt input { width: 95%; }

.gNaviWrap{
display:none;
}
.gNavi li{
display:none;
}


/*●画像サイズの調整*/
img {
	height: auto;
max-width: 100%;
}

a{
	color: #39f;
	-webkit-tap-highlight-color: #fc6;
}


/*--------------------------------------------------------
エリアの設定
--------------------------------------------------------*/

#container{
	padding-top: 0;
	padding-bottom: 1.5em;
}


/*--------------------------------------------------------
トップ
--------------------------------------------------------*/

#top{
	position: relative;
	top: 0;
	height: auto;
	font-size: 1.2em;
}

#top-menu{
	float: none;
}

#top-menu li{
	text-align: left;
	display: block;
}
.gameDt,.gameDd {
	font-size: 11px;
}

/*--------------------------------------------------------
ヘッダー
--------------------------------------------------------*/

#header {
	/*position: fixed;
	z-index: 5000;
	border-bottom: 2px solid #ccc;*/
}
#header-in {
	padding: 5px 0 8px 0;
}

/*●ヘッダの回り込み解除*/
#header #header-title,
#header-in #header-text{
	float: none;
	width: 100%;
}

#header .header-logo{
margin-bottom: 0;
padding-top: 16px;
}

#header .header-logo img{
width:70%;
margin-top:-11px;
}

/*--------------------------------------------------------
グローバルナビ
--------------------------------------------------------*/

#global-nav{ border-bottom: 0; }

#global-nav dt{
	padding-left: 2.5em!important;
	background: url(./images/icon/icon-arrow05.png) 1em center no-repeat #333;
	color: #fff;
}

#global-nav #global-nav-in .menu-wrap{ display:none; }

#global-nav #global-nav-in #menu{ margin-bottom: 0; }

#global-nav #global-nav-in #menu,
#global-nav #global-nav-in #menu li{
	width: 100%;
	border: 0;
}

#global-nav #menu li.first{ border-left: 0; }

#global-nav #global-nav-in #menu li{
	border-bottom: 1px solid #fff;
	background-color: #eaeaea;
	white-space: normal;
}

#global-nav #global-nav-in #menu li.first{ border-left: 0; }

#global-nav #global-nav-in #menu ul{
	position: static;
	width: auto;
	padding-left: 10%;
}

#global-nav #global-nav-in #menu ul li{ width: 100%; }

#global-nav #global-nav-in #menu ul li:last-child{ border-bottom: 0; }

/*メニューのデザイン*/
#global-nav #global-nav-in #menu li a:link,
#global-nav #global-nav-in #menu li a:visited,
#global-nav #global-nav-in #menu li a:hover,
#global-nav #global-nav-in #menu li a:active{ background: url(./images/icon/icon-arrow04.png) 1em 1em no-repeat #eaeaea; }

#global-nav #global-nav-in #menu ul li a{ width: auto; }

#global-nav .btn-gnav{
	display:block;
	padding: 1em;
	cursor: pointer;
}


/*--------------------------------------------------------
コンテンツ全体
--------------------------------------------------------*/

#main-image .catch-copy{ font-size: 1.4em; }
span.post-data { display: inherit; }


/*--------------------------------------------------------
メインコンテンツ（本文）
--------------------------------------------------------*/

#main-contents {
	/*padding-top: 65px;*/
}
/*●最新情報の回り込みを解除*/
#main-contents dl.news dt,
#main-contents dl.news dd.cat,
#main-contents dl.dl-style01 dt{ float: none; }

#main-contents dl.news dt{ margin-bottom: 0.4em; }

#main-contents dl.news dt,
#main-contents dl.dl-style01 dt{
	padding-right: 1em;
	padding-left: 1em;
}

#main-contents dl.news dd.cat{
	display: inline-block;
	width: auto;
	margin: 0 1em 0.5em;
	padding: 0.3em 1em;
}

#main-contents dl.news dd,
#main-contents dl.dl-style01 dd{
	margin: 0 0 10px 0;
	padding: 0 1em 0.8em 1em;
}

/*●Tableをブロック表示に*/
#main-contents .table-style01,
#main-contents .table-style01 thead,
#main-contents .table-style01 tbody,
#main-contents .table-style01 tfoot,
#main-contents .table-style01 tr,
#main-contents .table-style01 th,
#main-contents .table-style01 td{ display: block; }

#main-contents .table-style01 th,
#main-contents .table-style01 td{
	float: left;
	width: 100%!important;
	box-sizing: border-box;
	-moz-box-sizing: padding-box;
}

#main-contents .table-style01{ /zoom : 1; }
#main-contents .table-style01:after{ content : ''; display : block; clear : both; height:0; }

.box-wrap .box-l,
.box-wrap .box-r{
	float: none;
	width: 100%;
}


/*Youtube動画*/
#main-contents .v-wrap{
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	padding-top: 30px;
}

#main-contents .v-wrap iframe,
#main-contents .v-wrap object,
#main-contents .v-wrap embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contentsBox {
	border: none;
	box-shadow: none;
	margin-bottom: 15px;
}
.contentsBox h2 {
	padding: 0 4px;
}
.contentsBox .inner {
	padding: 10px 5px;
}
.contentsBox .gameList {
	width: auto;
}
.contentsBox .gameList a {
	display: block;
	position: absolute;
    width: 100%;
    color: #333;
}
.contentsBox .gameList li {
	width: 100%;
    height: 45px;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.contentsBox .gameList li:after {
	content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    top: 13px;
    left: inherit;
    right: 0;
    border: none;
    color: #333;
    font-size: 19px;
}
.contentsBox .gameList li figure {
	margin-bottom: 0;
	margin-right: 10px;
	float: left;
}
.contentsBox .gameList li figure img {
	height: 45px;
}
.contentsBox .gameList li span {
	display: block;
    float: left;
    line-height: 45px;
    font-weight: bold;
}
.contentsBox .gameList_underline {
	padding-bottom: 0;
    margin-bottom: 0;
    /* アンダーラインって書いてるけどSPは上 */
	border: none;
    border-top: 1px solid #ccc;
}
.contentsBox .movieList {
    width: 100%;
    padding: 0;
    display: inherit;
    margin-bottom: 15px;
}
.contentsBox .writerList {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.contentsBox .writerList .img {
	width: 25%;
}
.contentsBox .writerList .profile {
    padding: 0;
    width: 70%;
}
.contentsBox .writerList .profile ul {
    width:auto;
}
.contentsBox .writerList .profile .name a {
	color: #24244E;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}
.contentsBox .writerList .profile .tantou {
	color: #f95e00;
}
.contentsBox .writerList .profile .tantou i {
	margin-left: 5px;
}
.contentsBox .writerList .profile .tantou a {
    color: #f95e00;
}
.contentsBox .writerList .profile .tantou a:hover {
    color: #0d9ce6;
}
.contentsBox .writerList .profile .gameTop5 {
	margin: 10px 0 0 0;
	font-size: 11px;
	line-height: 16px;
}
.contentsBox .writerList .profile .gameTop5 span {
	font-weight: bold;
}
.contentsBox .writerList .profile .gameTop5 li {
	display: inline;
}
.contentsBox .goodsRecommendTtl {
    border-bottom: 2px solid #888;
    border-left: none !important;
    padding-left: 0 !important;
    margin: 0 0 10px 0 !important
}
.contentsBox .goodsRecommendWrap {
    font-size: 12px;
    margin: 0 0 30px 0;
}
.contentsBox .goodsRecommendWrap:last-of-type {
    margin: 0 0 10px 0;
}
.contentsBox .goodsRecommendBox {
}
.contentsBox .goodsRecommendBox li {
    width: 100%;
    height: 100px;
    padding: 0;
    border: 1px solid #ccc;
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
}
.contentsBox .goodsRecommendBox li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.contentsBox .goodsRecommendBox li:before {
    content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    top: 35px;
    right: 5px;
    color: #333;
    font-size: 19px;
}
.contentsBox .goodsRecommendBox .rank {
    float: left;
    background: #0d9ce6;
    margin: 0;
    padding: 38px 5px 0 5px;
    height: 62px;
}
.contentsBox .goodsRecommendBox .rank:after {
    width: 26px;
    height: 24px;
    background: url(images/goods_rank-sp.png);
    top: 17px;
    left: 4px;
    background-size: 20px;
    background-repeat: no-repeat;
}
.contentsBox .goodsRecommendBox .rank p {
    line-height: inherit;
    padding: 0 !important;
    margin: 0 !important;
    color: #fff;
}
.contentsBox .goodsRecommendBox .rank p span {
    display: block;
    color: #fff;
    margin-right: 0;
    line-height: 25px;
}
.contentsBox .goodsRecommendBox .box {
    float: left;
    padding: 10px;
}
.contentsBox .goodsRecommendBox .box figure {
    width: 52px;
    float: left;
    margin-right: 10px;
}
.contentsBox .goodsRecommendBox .box h5 {
    text-align: left;
    float: left;
    margin: 0 !important;
}
.contentsBox .goodsRecommendBox .box .price {
    text-align: left;
    border: none;
    margin-bottom: 0 !important;
}
.contentsBox .goodsRecommendBox .box .text {
    margin: 10px 0 0 0 !important;
    float: left;
    clear: both;
}
.contentsBox .goodsRecommendBox li .goodsRecommendLink {
    position: absolute;
    width: 100%;
    top: 0;
    display: block;
}
.contentsBox .toListLink {
	text-align: center;
	float: none;
}
.contentsBox .toListLink i {
	font-size: 16px;
    margin-right: 5px;
}
.about .aboutBox table.gain th,
.about .aboutBox table.gain td {
    padding: 5px 10px !important;
}
.about .aboutLink {
    width: 100%;
}
.about .aboutLink a {
    float: none;
    margin: 0 auto;
    margin-bottom: 15px;
}
.about .aboutLink a:last-child {
    margin-right: auto;
}
.writer .writerProfile {
    padding: 15px 15px 5px 15px;
}
.writer .writerProfile .first .left {
    float: none;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
}
.writer .writerProfile .first .detail {
    width: 100%;
}
.writer .writerProfile .first .detail th,
.writer .writerProfile .first .detail td {
    width: 100%;
    display: block;
    text-align: center !important;
    padding: 5px 0 !important;
}
.writer .writerProfile .first .detail ul {
    padding: 0 0 0 2em;
    text-align: left;
}

/*--------------------------------------------------------
サブコンテンツ / サイドバー
--------------------------------------------------------*/

/*折り畳み*/
/*--------------------------------------------------------
#sub-contents .sub-contents-btn,
#sidebar .sidebar-btn{
	display: block;
	margin-bottom: 1em;
	padding: 1em;
	padding-left: 2.5em!important;
	background: url(./images/icon/icon-arrow05.png) 1em center no-repeat #333;
	color: #fff;
	cursor: pointer;
}

.sub-column #sub-contents-in,
.sub-column #sidebar-in{ display: none; }
--------------------------------------------------------*/

.sub-column .showSubConts,
.sub-column .showSidebar{
	display: block!important;
}

.col1 .sub-column .ranking .item-img,
.col2 #sub-contents .ranking .item-img,
.col2r #sub-contents .ranking .item-img,
.col1 .sub-column .profile-img,
.col2 #sub-contents .profile-img,
.col2r #sub-contents .profile-img{
	float: none;
	padding-right: 0;
}

.col1 .sub-column .banner li,
.col2 #sub-contents .banner li,
.col2r #sub-contents .banner li{
	display: block;
	margin-right: 0;
}

.sub-column dl.search-box{ width: 100%; }

/*.sub-column dl.search-box dt{
	margin-right: 0;
	margin-bottom: 0.4em;;
	width: 100%;
}*/
/*
.sub-column dl.search-box dt,
.sub-column dl.search-box dd{ float: none; }*/


/*--------------------------------------------------------
フッター
--------------------------------------------------------*/

#footer .footer-menu ul{
	float: none;
	width: 100%;
}

#footer .area01,
#footer .area02{
	float: none;
	width: 100%;
	margin-bottom: 2em;
}

.copyright{ padding-bottom: 40px; }

.copyright span{ display: block; }


/*------------------------------------------------------------
WordPress用
-------------------------------------------------------------*/

#main-contents .sb{
	text-align: left;
	padding-top: 1em;
padding-bottom:20px;
}

img.alignleft,
img.alignright{
	float: none;
	display: block;
	padding: 0;
	margin: auto;
}

/*--------------------------------------------------------
Gナビボタン用(非表示記述：design.css／表示記述：mobile_layout.css)
--------------------------------------------------------*/
#gNavi_button {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	background: url(http://terabat.altema.jp/wp-content/uploads/2015/02/bg-gnavi.png) top left repeat-x #fff;

}
#gNavi_button ul {
	list-style-type: none;
}
#gNavi_button ul li {
	float: left;
	width: 24.7%;
	height: 35px;
	border-left: 1px solid #B6DDEA;
	text-align: center;
}
#gNavi_button ul li:first-child {
	border: none;
}
#gNavi_button ul li img {
	max-width: 80%;
	max-height: 100%;
border:none;

}
#gNavi_button ul li{
box-shadow:0px 3px #1e8fbe;
}
#gNavi_button ul li a {
  background: none repeat scroll 0 0 #34a3d1;
    color: #fff;
    display: block;
    height: 23px;
    line-height: 2.1;
font-size:130%;
    padding: 6px 0;

    text-decoration: none;
}

/*--------------------------------------------------------
表示・非表示
--------------------------------------------------------*/
.logoPC,
.headermenuPC,
.pc-head-navi,
.writerListPC {
	display: none;
}
.logoSP {
	display: block;
}
/*--------------------------------------------------------
ドロワーメニュー
--------------------------------------------------------*/
.sp-menuBtn {
	display: block;
	float: right;
	width: 50px;
	height: 50px;
	margin-top: 2px;
	background: #0d9ce6;
	text-align: center;
	border-radius: 5px;
	position: relative;
    display: none;
}
.sp-menuBtn a {
	color: #fff;
}
.sp-menuBtn i {
	font-size: 35px;
    padding-top: 2px;
}
.sp-menuBtn span {
	position: absolute;
    bottom: 1px;
    left: 0;
    font-size: 11px;
    width: 100%;
    font-weight: bold;
}
.sp-menu {
	background: #fff;
}
.sp-menu ul {}
.sp-menu ul li {
	border-bottom: 1px solid #ccc;
	position: relative;
}
.sp-menu ul li a {
	color: #0c749b;
	padding: 10px 10px 10px 15px;
}
html.mm-blocking, html.mm-opened {
	overflow: inherit;
}
.mm-listview > li:not(.mm-divider):after {
	content: '\f054';
    font-family: FontAwesome;
    position: absolute;
    top: 11px;
    left: inherit;
    right: 10px;
    border: none;
    color: #0c749b;
}
.mm-opening #mm-blocker {
    background: rgba( 0, 0, 0, 0.3 );
    -webkit-transition: background 1s ease;
    -moz-transition: background 1s ease;
    transition: background 1s ease;
}

/*--------------------------------------------------------
ページトップ
--------------------------------------------------------*/

.page-top{
	right: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.page-top a{
	display: block;
	border: 0;
	border-top: 1px solid #fff;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.page-top a:link,
.page-top a:visited,
.page-top a:hover,
.page-top a:active{
	background: url(./images/common/bg-pagetop.gif) 14px center no-repeat #999;
	color: #fff;
}

div.reviewScoreBox {
	overflow: hidden;
	display: table;
}

.page-top:not(\*|*){ position: static; }/* Opera9以下 */

}

@media not screen and (1) { .page-top { position: static; } }/* Opera10以上 */

.contents{
padding-bottom:20px;
}
/* レビュー(点数)用特殊 */

@media
only screen and (max-width : 753px){
div.reviewScoreBoxArea {
	width: 100%;
	margin: 0 auto;
}
div.reviewScoreBox {
width:100%;
}
div.rvImg,
p.rvSup{
text-align:center;
}
div.rvImg img {
width:60%;
height:60%;
}
div.reviewScoreBox .rvText{
min-height:115px;
padding:10px 24px 15px 24px
}
.movieNone{
display:none;
}
.mainTopImg02 div{
width:45.5%!important;
}
.gameTitle{
min-height:18px;

}

#main-contents .rankName{
font-size:120%;
}
.rankLeft{
width:22%;
}
.rankLeft img{
width:80px;
}
.rankRight{
width:72%;
}
.rankBoxInner02{
float:none;
width:100%;
}
#main-contents ul.rankDl{
width:100%;
padding:20px 0 0 0;
}
.rankDl li{
width:40%;
text-align:center;
}
.rankAltema span{
display:block;
margin: 0 0 5px 0;
}
.rankBox h4{
margin:10px 0 10px 0!important;
}
.rankBox .rankDl{
position: static;
}
.rankDl li:nth-child(1){
margin-right:40px;
}
.rankDl li{
padding-left:0;
}
.rankingOsusume .rankingBox{
width: 32%;
float:left;
margin: 0 5px 0 0;
}
.rankingBox dt{
font-size:100%;
}
.mainTopImg02 div{
min-height:310px;
}
#gNavi_button{
display:none!important;
}
}

/*------------------------------------------------------------
　template created by web-rider
-------------------------------------------------------------*/
