@charset "UTF-8";

/*--------------------------------------------------------
モバイル用レイアウト
------------------------------------------------------*/

@media
only screen and (max-width : 640px){
.post{
border-top:1px dotted #ccc;
}
#main-contents h2.post-title{
display:block;
}
.archive-title{
font-size:130%;
}
#main-contents p{
margin-bottom:1em;
}
#main-contents .contents{
margin-bottom:10px;
}
.post .contents{
margin:10px 0 10px 0!important;
padding:10px 0 10px 0;
}
.link-next{
margin-top:-10px;
text-align:left;
}
.link-next a {
	background: none;
text-align:left;
padding:0;
}
.post-meta{
display:none;
}
.post-title{
display:none;
}
.article{
display:table;
width:100%;
}
.article .left{
display:table-cell;
}
.article .link-next{
display:table-cell;
width:80%;
vertical-align:top;
}
.article .left +p{
display:none;
}
.article .left a img{
width:85%!important;
vertical-align:middle;
}

.article .left a{
text-align:left;
}

.headerMenuBoxBt{
display:block;
}

.#main-contents p{
display:none;
}
.article .left a img{
width:30%;
}
.article .left a{
display:block;
text-align:left;
}
.kouryakuBox{
margin-bottom:20px;
}
.snsBox{
margin-top:-35px!important;
}
#header-in h1{
padding-top:0!important;
}
.snsBox{
width:342px;
}
.kouryakuBox ul li{
padding:10px 0 10px 0!important;
margin:0!important;
}
#main-contents ul{
margin:0!important;
}
#main-contents ul.similarList {
margin: 0 0 25px 0;!important;
}
.snsBox{
left:0%!important;
}
#footer{
background:#2E81C5!important;
}
#footer a:link{
color:#fff!important;
}
.kouryakuBox ul li{
width:100%!important;
}
.kouryakuBox ul .odd{
	padding:0 0 19px 0;
}
#container,
#top,
#header,
#global-nav,
#breadcrumbs,
#main-image,
#main,
#footer,
#footer-banner,
.copyright{
	width: 100%!important;
	min-width: 100%!important;
}

#top-in,
#header-in,
#breadcrumbs ol,
#global-nav-in,
#main-image-in,
#main-in,
#footer-in,
#footer-banner ul,
.copyright p{
	width: 98%!important;
	margin: 0 1%!important;
}

#sub-contents,
#sidebar,
#main-and-sub,
#main-contents{
	float: none!important;
	width: 100%!important;
}

/*--------------------------------------------------------
Gナビボタン用(装飾はmobile.cssで制御)
--------------------------------------------------------*/
#gNavi_button {
	display: block;
}
/*Gナビボタン用ここまで*/

#main-image img{ width: 100%!important; }



