@charset "UTF-8";
html,body {
        padding: 0px;
        margin: 0px;
    }
.swiper-container {
        width: 100%;
        height: 100%;
    }
.swiper-container .swiper-slide {
        width: 270px;
        }
.item {
    float: left;
    width: 260px;
    margin-right: 10px;
    color: #666;
}

.nend_carousel180 {
    width: 260px;
    overflow: hidden;
    border: solid 1px #dfdfdf;
    overflow: hidden;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
.nend_carousel180 a {
    color:#808080;
    text-decoration: none;
}
.nend_carousel180 .nend_img {
    width: 100%;
    overflow: hidden;
}
.nend_carousel180 .nend_img img {
    width: 100%;
}
.nend_carousel180 .nend_wrap {
    height: 81px;
    position: relative;
    margin: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
.nend_carousel180 .nend_short {
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.nend_carousel180 .nend_btn {
    width: 120px;
    overflow: hidden;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: #fff;
    background: #00b400;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.nend_carousel180 .nend_ad_define2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #ccc !important;
    margin-top:5px;
    font-size: 10px;
}