/* 
	Fancier Author Box
	Author: ThematoSoup
	Author URL: http://thematosoup.com
*/


/* Wrapper */
.ts-fab-wrapper {
	margin: 2em 0;
	clear: both;
}
.ts-fab-wrapper a {
	text-decoration: none !important;
}
.ts-fab-wrapper img {
	border: none !important;
}


/* Tabs list */
.ts-fab-list {
	overflow: hidden;
	margin: 0 !important;
	padding: 0 0 0 5px;
}
.ts-fab-list li {
	display: block;
	float: left;
	clear: none;
	list-style: none !important;
	margin: 0 5px 0 0 !important;
	padding: 0 !important;
	background: none !important;
}
.ts-fab-list li:before {
	display: none !important;
}
.ts-fab-list li a {
	display: block;
	line-height: 16px;
	height: 16px;
	padding: 8px 12px;
	background-color: #e9e9e9;
	border: 1px solid #e9e9e9;
	border-bottom: none !important;
	text-decoration: none;
	font-size: 13px;
	color: #333;
	font-weight: bold;
	
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}
.ts-fab-list li a:hover {
	color: #333;
}
.ts-fab-list li.active a {
	background-color: #333;
	color: #fff;
	border-color: #333;
}


/* Tab icons */
.ts-fab-list li a {
	background-image: url('../images/tab_icons.png');
}
	.ts-fab-list li.ts-fab-bio-link a {
		background-position: 8px 8px;
		background-repeat: no-repeat;
		padding-left: 27px;
	}
	.ts-fab-list li.ts-fab-bio-link.active a {
		background-position: -279px 8px;
		background-repeat: no-repeat;
		padding-left: 27px;
	}
		
	.ts-fab-list li.ts-fab-twitter-link a {
		background-position: 8px -42px;
		background-repeat: no-repeat;
		padding-left: 35px;
	}
	.ts-fab-list li.ts-fab-twitter-link.active a {
		background-position: -270px -42px;
		background-repeat: no-repeat;
		padding-left: 35px;
	}		

	.ts-fab-list li.ts-fab-facebook-link a {
		background-position: 8px -92px;
		background-repeat: no-repeat;
		padding-left: 23px;
	}
	.ts-fab-list li.ts-fab-facebook-link.active a {
		background-position: -284px -92px;
		background-repeat: no-repeat;
		padding-left: 23px;
	}		

	.ts-fab-list li.ts-fab-googleplus-link a {
		background-position: 8px -142px;
		background-repeat: no-repeat;
		padding-left: 30px;
	}
	.ts-fab-list li.ts-fab-googleplus-link.active a {
		background-position: -276px -142px;
		background-repeat: no-repeat;
		padding-left: 30px;
	}		
	
	.ts-fab-list li.ts-fab-latest-posts-link a {
		background-position: 8px -192px;
		background-repeat: no-repeat;
		padding-left: 27px;
	}
	.ts-fab-list li.ts-fab-latest-posts-link.active a {
		background-position: -280px -192px;
		background-repeat: no-repeat;
		padding-left: 27px;
	}
	
/* Showing only icons (no text) in widgets */	
.ts-fab-widget .ts-fab-list li a {
	text-indent: -9999em;
	padding: 8px 12px !important;
}	
.ts-fab-widget .ts-fab-list li.ts-fab-bio-link a {
	width: 4px;
}
.ts-fab-widget .ts-fab-list li.ts-fab-twitter-link a {
	width: 12px;
}
.ts-fab-widget .ts-fab-list li.ts-fab-googleplus-link a {
	width: 8px;
}
.ts-fab-widget .ts-fab-list li.ts-fab-facebook-link a {
	width: 0;
}
.ts-fab-widget .ts-fab-list li.ts-fab-latest-posts-link a {
	width: 4px;
}


/* Tabs content */
.ts-fab-tab {
	display: none;
	border: 2px solid #333;
	padding: 12px;
	background: #fff;
	min-height: 80px;
	overflow: hidden;
}
.ts-tab:first-child {
	display: block;
}
	.ts-fab-widget .ts-fab-tab {
		padding: 8px;
	}


/* In-tab layout (gravatar, text) */
.ts-fab-avatar {
	display: block;
	float: left;
	width: 80px;
	margin: 0 10px 10px 0;
}
	.ts-fab-no-float .ts-fab-avatar {
		float: none;
		margin: 0 0 12px;
	}
.ts-fab-text {
	/*margin-left: 96px;*/
	line-height: 1.5;
}
	.ts-fab-no-float .ts-fab-text {
		margin-left: 0;
	}
.ts-fab-avatar > img {
	width: 80px;
	max-width: 100% !important;
}


/* Tabs header */
.ts-fab-header {
	margin-bottom: 10px;
}
#main-contents .ts-fab-text h4 {
	clear: none !important;
	font-size: 18px;
	line-height: 1 !important;
	font-weight: bold;
	margin: 0 0 0.2em !important;
	line-height: 1;
	padding: 0;
	border: none;
}
#main-contents .ts-fab-text h4 a {
	color: #0c749b;
}
#main-contents .ts-fab-text h4 a:hover {
	color: #f60;
}
#main-contents .hitokoto {
	margin-bottom: 1em;
	font-size: 13px;
}
.ts-fab-description {
	font-size: 12px;
}

.ts-fab-follow {
	margin-top: 10px;
}

/* Social links */
.ts-fab-social-links {
	margin: 0.1em 0 0;
	text-align: center;
}
.ts-fab-social-links a {
	display: inline-block;
	margin: 0 1px;
	opacity: 0.5;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s; /* Firefox 4 */
	-webkit-transition: opacity 0.2s; /* Safari and Chrome */
	-o-transition: opacity 0.2s; /* Opera */
}
.ts-fab-social-links a:hover {
	opacity: 1;
}
#main-contents .ts-fab-content table.profile {
	font-size: 13px;
}
#main-contents .ts-fab-content table.profile th {
	width: 40%;
}
	
	
/* Latest posts */
.ts-fab-latest {
	margin: 0 !important;
	padding: 0 !important;
}
.ts-fab-latest li {
	list-style: none !important;
	line-height: 1.2;
	margin: 0 0 0.6em !important;
	clear: none !important;
	padding: 2px 3px;
}
.ts-fab-latest li.odd {
	background: #ecf7ff;
}
.ts-fab-latest li span,
.ts-fab-twitter-time {
	font-size: 12px;
}
.latest-see-all {
	font-weight: normal;
}


/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	left: -9999px;
}