﻿body {
    font-size: 11px;
    font-family: Tahoma;
    padding: 0;
    color: #333!important;
    background-color: #fff;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #1a1a1a;
}

.bullet {
    width: 3px;
    height: 3px;
    background-color: red;
    float: right;
    margin-left: 3px;
    margin-top: 8px;
}

.SubServHolder{
    text-align:center;
    margin-top:-4px!important;
}
.SubServHolder .horSpc5:last-child
{
    display:none!important;
}
.homeclose {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../Images/Close.png);
    width: 30px;
    height: 27px;
    cursor: pointer;
    z-index: 1000001;
}

.lead-container {
    padding: 4px;
    text-align: justify;
}
.leadTitr {
    color: #02215d !important;
}

    .leadTitr:hover {
        color: #1d60ff !important;
        text-decoration: none !important;
    }

.leadres {
    font-family: BNazanin_Mehr,Arial;
    font-size: 14px;
    color: #000000;
}

.toppic {
    width: 85px;
    height: 90px;
    position: absolute;
    top: 2px;
    right: 300px;
    display: none;
}

.keywordsholder {
    background-color: #d5d5d5;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
}

li {
    list-style: none;
}

.TabBoxWidth .Top img {
    display: none;
}

.btnServHolder
{
    display:block;
    text-align:center;
    padding:4px;
    border-radius:5px;
    background-color:#cccccc;
    color:#333;
    margin-bottom:6px;
    font-size:17px;
    margin-top:-10px;
}
.ImagePlayerPlay {
    width: 80px;
    height: 80px;
    background: url(../images/w_play.png) no-repeat;
    position: absolute;
    right: 195px;
    top: 170px;
    cursor: pointer;
}

.filmplayer {
    position: relative;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #034af3;
}

p {
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
}

h1 {
    font-size: 1.6em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.formPanel {
    border: solid 1px #d5d5d5;
    border-radius: 5px;
    width: 98% !important;
    margin: 0px 1% !important;
}

    .formPanel .frmhead {
        background-color: #d5d5d5;
        border-radius: 4px 4px 0 0;
        text-align: right;
        font-weight: normal;
        font-size: 16px;
        padding-top: 2px;
        padding-right: 5px;
    }

    .formPanel .frmBody {
        font-family: Tahoma;
        font-size: 12px;
        text-align: center;
        padding: 10px;
        direction: rtl;
    }

        .formPanel .frmBody select {
            font-family: Tahoma;
            font-size: 11px;
            border: solid 1px #ccc;
            border-radius: 5px;
            height:25px;
        }

        .formPanel .frmBody .txtDate {
            font-family: Tahoma;
            font-size: 11px;
            width: 80px;
            height: 25px;
            text-align: center;
            direction: rtl;
            border: solid 1px #ccc;
            border-radius: 5px;
        }

        .formPanel .frmBody input[type=submit] {
            font-family: Tahoma;
            font-size: 11px;
            width: 80px;
            height: 25px;
            text-align: center;
            direction: ltr;
            padding-top: -2px;
            border: solid 1px #ccc;
            border-radius: 5px;
        }

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

p {
    margin: 4px 0;
}

.clr {
    clear: both;
}

.fArl {
    font-family: Arial;
}

.fThm {
    font-family: Tahoma;
}

.fBNZN {
    font-family: BNazanin_Mehr,Arial;
}

.fBYKN {
    font-family: b yekan,Arial;
}

.w100 {
    width: 100%;
}

.redBorder {
    border: solid 1px red;
}

.inbodySotitr {
    width: 250px;
    float: right;
    margin: 5px;
}

.Plus {
    width: 50px;
    padding-right: 39px;
    height: 19px;
    padding-top: 3px;
    background: url(../images/plus.png) no-repeat;
}

.Minus {
    width: 50px;
    padding-right: 39px;
    height: 19px;
    padding-top: 3px;
    background: url(../images/minus.png) no-repeat;
}

.inbodySotitrL {
    width: 250px;
    margin: 5px;
    float: left;
}

.sotHead {
    background-color: #0096cb;
    width: 100%;
    height: 18px;
    font-weight: normal;
    color: #fff;
}

.sotText {
    border: solid 2px #0096cb;
    text-align: justify;
    font-size: 13px;
    padding: 5px;
    width: 236px;
}

.tPic3 {
    width: 180px;
    height: 120px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}

    .tPic3 img {
        width: 176px;
        margin: 2px;
        height: 116px;
        border: 0 none;
    }

.DisabledPanel {
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    filter: alpha(opacity=50);
    opacity: .5;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 250;
}

.f08 {
    font-size: 8px;
}

.f09 {
    font-size: 9px;
}

.f10 {
    font-size: 10px;
}

.f11 {
    font-size: 11px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 16px;
}

.f15 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 16px;
}

.f20 {
    font-size: 17px;
    line-height: 22px;
}

.f22 {
    font-size: 22px!important;
    font-weight: bold!important;
}

#ticker-area {
    width: auto;
    height: 23px;
    background: url(../images/array-news.png) right no-repeat;
    padding-top: 4px;
    float: right;
    line-height: 18px;
    overflow: hidden;
}

.fBld {
    font-weight: normal;
}

.fNrm {
    font-weight: 400;
}

.flR {
    float: right;
}

.flL {
    float: left;
}

.oHid {
    overflow: hidden;
}

.oVsb {
    overflow: visible;
}

.oScl {
    overflow: scroll;
}

.dNon {
    display: none!important;
}

.dBlk {
    display: block;
}

.dInl {
    display: inline-block;
}

.dInll {
    display: inline;
}

.vHid {
    visibility: hidden;
}

.alR {
    text-align: right;
}

.alL {
    text-align: left;
}

.alJ {
    text-align: justify;
}

.alC {
    text-align: center;
}


.cWht {
    color: #fff;
    font-family: BNazanin_Mehr;
    font-size: 17px;
}

.cBlu {
    color: #0d7db5;
}

.cBlu2 {
    color: #365f91;
}

.cGreen {
    color: Green;
}

.cGry {
    color: #828486;
}

.cGry2 {
    color: #efefef;
}

.cdGr {
    color: #7d7d7d;
}

.cGry3 {
    color: #666;
}

.cRed {
    color: #f22;
    font-family: BNazanin_Mehr;
    font-size: 14px;
}

.cRedElection {
    color: #f22 !important;
}

.cRed2 {
    color: #e63312;
}

.cBlu3 {
    color: #292663;
}

.drR {
    direction: rtl;
}

.drL {
    direction: ltr;
}

.noBorder {
    border: none 0;
}

.GrayBorder {
    padding: 3px;
    border: solid 1px #ccc;
    padding: 3px;
    border: solid 1px #ccc;
}

.RRadio {
    width: 10px;
    height: 10px;
    background: url(../images/radio-red.png) no-repeat;
}

.RArray {
    width: 7px;
    height: 7px;
    background: url(../images/redradio.png) no-repeat;
}

.BBullet {
    width: 5px;
    height: 5px;
    background-color: #000;
}

.GBullet {
    width: 5px;
    height: 5px;
    background-color: #00ae42;
}

.mT5 {
    margin-top: 5px;
}

.mB5 {
    margin-bottom: 5px;
}

.mL5 {
    margin-left: 5px;
}

.mR5 {
    margin-right: 5px;
}

.mL10 {
    margin-left: 10px;
}

.mR10 {
    margin-right: 10px;
}

.mT10 {
    margin-top: 10px;
}

.mB10 {
    margin-bottom: 10px;
}

.pT3 {
    padding-top: 3px;
}

.pB3 {
    padding-top: 3px;
}

.pR3 {
    padding-right: 3px;
}

.pL3 {
    padding-left: 3px;
}

.pT5 {
    padding-top: 5px;
}

.pB5 {
    padding-bottom: 5px;
}

.pR5 {
    padding-right: 5px;
}

.pL5 {
    padding-left: 5px;
}

.pL50 {
    padding-left: 50px;
}

.pT10 {
    padding-top: 10px;
}

.pB10 {
    padding-bottom: 10px;
}

.pR10 {
    padding-right: 10px;
}

.pL10 {
    padding-left: 10px;
}

.p10 {
    padding: 10px;
}

.p5 {
    padding: 5px;
}

.lnH16 {
    line-height: 16px;
}

.lnH18 {
    line-height: 18px;
}

.lnH20 {
    line-height: 20px;
}

.lnH22 {
    line-height: 22px;
}

.lnH23 {
    line-height: 23px;
}

.lnH24 {
    line-height: 24px;
}

.lnH25 {
    line-height: 25px;
}

.lnH30 {
    line-height: 30px;
}

img {
    border-radius: 3px;
    overflow: hidden;
}

.psRl {
    position: relative;
}

.psAb {
    position: absolute;
}

.psFx {
    position: fixed;
}

.psSt {
    position: static;
}

.horSpc {
    height: 10px;
}

.horSpc5 {
    height: 5px;
}

.horSpc10 {
    height: 10px;
}

.horSpc1 {
    height: 1px;
}

.horSpc2 {
    height: 2px;
}

.curP {
    cursor: pointer;
}

.Wrp {
    width: 1024px;
    height: auto;
}

.RightColumn {
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    position: relative;
    padding: 10px;
}

.Ghasedak {
    width: 205px;
    height: 94px;
    background: url(../images/jamnews.png) center right no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

.siteTitle {
    position: absolute;
    text-align: center;
    bottom: -5px;
    font-family: BNazanin_Mehr;
    font-size: 14px;
    width: 100%;
    color: #666;
    text-shadow: 0 0 5px #ccc;
}

.MainColumn {
    height: auto;
    border: 1px solid #ccc;
    padding-top: 5px;
    box-shadow: 0 0 5px #ccc;
}

.HeaderMain {
    height: auto;
}

    .HeaderMain .Top {
        height: 95px;
        background: url(../images/headernew.png) top center no-repeat!important;
        position: relative;
        width: 100%!important;
    }

    .HeaderMain .Bottom {
    }

.TopTools {
    width: 300px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 0;
}

.HeaderMain .Bottom .MainMenu {
    border: solid 1px #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    height: auto!important;
    padding-bottom: 5px;
}

    .HeaderMain .Bottom .MainMenu .Tops {
        height: 30px;
        margin: 5px!important;
        background-color: #6dbfe1;
        border-radius: 3px;
        margin-bottom: 2px;
        padding-right: 5px !important;
        width: auto!important;
        text-align: center;
        direction: rtl;
    }

        .HeaderMain .Bottom .MainMenu .Tops a {
            color: #fff;
            display: inline-block;
            margin: 4px;
            margin-left: 0px;
            font-family: BNazanin_Mehr;
            margin-right: 0px;
            font-size: 15px;
            font-weight: bold;
        }

        .HeaderMain .Bottom .MainMenu .Tops .Splt {
            margin: 3px;
            color: #fff;
            margin-top: 7px;
            margin-right: 0;
            margin-left: 0;
            display: inline-block;
        }

    .HeaderMain .Bottom .MainMenu .Bottoms {
        height: 23px;
        margin: 0px 4px;
        background: url(../images/l-logo.png) bottom left no-repeat;
    }

.ScrollNews {
    height: auto;
    text-align: justify;
    direction: rtl;
    position: relative;
    overflow: hidden;
}

.MainHolder {
    height: auto;
}

    .MainHolder .RightCol {
        height: auto;
        padding-top: 10px;
    }

    .MainHolder .LeftCol {
        height: auto;
        padding-top: 10px;
    }

.TabBox {
    height: auto;
    margin-bottom: 10px;
}

    .TabBox .Top {
        width: 100%;
        height: 25px!important;
        border-bottom: solid 1px #222;
    }

.Sel {
    color: #920705!important;
}

.TabBox .Top .TabSel {
    background-color: #222;
    color: #fff;
    font-weight: bold;
    font-family: BNazanin_Mehr !important;
    font-size: 16px !important;
    padding: 10px;
    padding-top: 0;
    padding-bottom: 2px;
    width: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    float: right;
    height: 25px!important;
}

.Blk-Bullet {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #b22025;
    float: right;
    margin-left: 5px;
    margin-top: 9px;
}

.TabBox .Center {
    width: 100%;
    height: auto;
    padding-top: 5px;
}

.FooterMain {
    width: 100%;
    height: 145px;
    background: #ddd url(../images/footer-logo.png) center 20% no-repeat;
    position: relative;
}


.LArray {
    width: 9px;
    height: 11px;
    background: url('../images/l-array.jpg') no-repeat;
}

.cblue {
    color: #fd5e07;
}

.TopNews {
}

    .TopNews .MainPic {
        text-align: center;
        overflow: hidden;
        text-align: center;
    }

        .TopNews .MainPic img {
            height: 100%;
            width: 100%;
            border: none 0;
        }

    .TopNews .ThumbHolder {
        background-color:#fafafa;
    }

        .TopNews .ThumbHolder .ThumbPic {
            text-align: center;
            overflow: hidden;
            margin-bottom: 2px;
            opacity:0.7;
        }

            .TopNews .ThumbHolder .ThumbPic img {
                width: 100%;
                height: 100%;
            }

        .TopNews .ThumbHolder .ThumbPicSel {
            opacity:1.0;
        }

            .TopNews .ThumbHolder .ThumbPicSel img {
            }

    .TopNews .TextHolder {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        bottom: 0;
        direction: rtl;
        padding: 5px;
        position: absolute;
        right: 0;
        text-align: right;
        width: 98%;
        z-index: 3;
        margin-right:1%;
        margin-left:1%;
    }

        .TopNews .TextHolder a {
            line-height: 200%;
            font-size: 20px;
            font-weight: bold;
        }

       
.pagergal {
    height: auto;
}

.TopNewsHolder {
    height: auto;
}

.Selected {
    color: #0054a5;
    font-weight: bold;
}

.TopNewsHolder .Text {
    height: 100%;
    padding: 1%;
    padding-bottom: 30px;
}


.Paging {
    height: 20px;
    background-color: #fff;
    border-radius: 9px;
    padding: 2%;
    padding-left: 5%;
}


    .Paging .Counters {
        width: 10px;
        cursor: pointer;
        height: 10px;
        float: left;
        color: #c6cdc6;
        background-color: #c6cdc6;
        font-size: 1px;
        margin: 2px;
        border-radius: 8px;
        overflow: hidden;
    }

.tPicM {
    height: auto;
    text-align: center;
    overflow: hidden;
}

    .tPicM img {
        border: 0px;
        width: 100%;
        height: 100%;
    }

.Paging .Counters.Sele {
    cursor: pointer;
    float: left;
    color: #CF1C09;
    background-color: #CF1C09;
    font-size: 1px;
    margin: 2px;
    overflow: hidden;
}

.TRooTitr {
    color: #28b7fd;
    font-family: Tahoma;
    font-size: 11px;
    width: 100%;
    line-height: 20px;
}

.TSoTitr {
    color: #828486;
    font-family: Tahoma;
    font-size: 11px;
    width: 100%;
    line-height: 20px;
}

.TabBoxWidth {
    width: 100%;
    height: auto;
}

    .TabBoxWidth .Top {
        width: 100%;
        height: 30px;
        border-bottom: solid 1px #222;
    }

        .TabBoxWidth .Top .TabSel {
            background-color: #222;
            color: #fff;
            font-weight: bold;
            font-family: BNazanin_Mehr;
            font-size: 19px;
            padding: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            width: auto;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            float: right;
            height: 29px;
        }

    .TabBoxWidth .Center {
        width: 100%;
        padding-top: 5px;
    }

    .TabBoxWidth .Items {
        height: auto;
        float: right;
    }

        .TabBoxWidth .Items .ItemsPic {
            height: auto;
            text-align: center;
            overflow: hidden;
        }

            .TabBoxWidth .Items .ItemsPic img {
                width: 100%;
                height: 100%;
                border: none 0;
            }

.MarqueeHolder {
    width: 170px;
    height: 30px;
    float: right;
    position: relative;
    overflow: hidden;
}

.MarqueeAbsoluteHolder {
    width: 99%;
    position: absolute;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    list-style: none;
    left: -25px;
}

.NewsMarqueeHolder {
    width: 92%;
    text-align: right;
    position: absolute;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 30px;
    list-style: none;
    left: -25px;
}

.MarqueeAbsoluteHolder li {
    padding: 4px;
}

.NewsMarqueeHolder li {
    padding: 4px;
    padding-right: 0;
    overflow: hidden;
    height: 16px;
}

.MarqueeAbsoluteHolder li a:link, .MarqueeAbsoluteHolder li a:visited {
    color: #000;
}

.MarqueeAbsoluteHolder li a:hover {
    color: #000;
}

.SliderNewsOnItem {
    width: 100%;
    height: 270px;
    background: #222;
    position: relative;
    overflow: hidden;
}

    .SliderNewsOnItem .ItemsHolder {
        width: 100%;
        position: absolute;
        height: 99%;
        left: 0;
        top: 5px;
    }

        .SliderNewsOnItem .ItemsHolder .Items {
            width: 246px;
            text-align: center;
            direction: ltr;
            overflow: hidden;
            margin: 5px;
            float: left;
        }

            .SliderNewsOnItem .ItemsHolder .Items h3 {
                display: block;
                margin: 5px 0;
                line-height: 18px;
                direction: rtl;
            }

            .SliderNewsOnItem .ItemsHolder .Items a:link, .SliderNewsOnItem .ItemsHolder .Items a:visited {
                color: #fff;
            }

            .SliderNewsOnItem .ItemsHolder .Items a:hover {
                color: #aaa;
            }

            .SliderNewsOnItem .ItemsHolder .Items img {
                width: 246px;
                height: 170px;
            }

    .SliderNewsOnItem .pager {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 8px;
    }

        .SliderNewsOnItem .pager span {
            display: inline-block;
            font-size: 0;
            margin: 0 2px;
            width: 8px;
            height: 8px;
            border-radius: 5px;
            background: #fff;
            cursor: pointer;
        }

            .SliderNewsOnItem .pager span.Sel {
                background: red;
            }

.pic {
    overflow: hidden;
    text-align: center;
    float: right;
}

    .pic img {
        width: 100%;
        height: 100%;
    }

.SportTopNews {
    width: 98%;
    background: #000;
    border-radius: 10px;
    height: 350px;
    padding: 1%;
}

    .SportTopNews .LargPic {
        height: 100%;
        width: 68%;
        float: left;
        background: #fff;
        text-align: center;
        direction: ltr;
        overflow: hidden;
        border: 1px solid #ddd;
        position: relative;
        border-radius: 10px;
    }

        .SportTopNews .LargPic img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        .SportTopNews .LargPic .caption {
            width: 96%;
            padding: 10px 2%;
            height: 70px;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: right;
            direction: rtl;
            background-image: url(../Images/bgtop.png);
            overflow: hidden;
        }

            .SportTopNews .LargPic .caption span {
                color: #fff;
                display: block;
                margin-bottom: 5px;
            }

            .SportTopNews .LargPic .caption a:link, .SportTopNews .LargPic .caption a:visited {
                color: #39bdf2;
                display: block;
                margin-bottom: 3px;
            }

            .SportTopNews .LargPic .caption a:hover {
                color: #ff0;
            }

            .SportTopNews .LargPic .caption p {
                color: #fff;
                display: block;
                margin-bottom: 3px;
            }

    .SportTopNews .ThumbpicHolder {
        width: 31%;
        float: right;
        height: 90%;
        position: relative;
        overflow: hidden;
    }

        .SportTopNews .ThumbpicHolder .ItemsHolder {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            position: absolute;
            top: 0;
            left: 0;
        }

            .SportTopNews .ThumbpicHolder .ItemsHolder .Items {
                width: 98%;
                height: 46%;
                margin: 6px 0;
                border-radius: 5px;
                padding: 1%;
                background: #666;
                cursor: pointer;
                text-align: center;
                direction: ltr;
                overflow: hidden;
            }

                .SportTopNews .ThumbpicHolder .ItemsHolder .Items.ItemsSel {
                    cursor: default;
                    background: #fff;
                }

                .SportTopNews .ThumbpicHolder .ItemsHolder .Items img {
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }

    .SportTopNews .pager {
        width: 31%;
        padding: 5px 0;
        float: right;
        margin-top: 3px;
    }

        .SportTopNews .pager span {
            display: inline-block;
            border-radius: 10px;
            background-color: #556;
            cursor: pointer;
            padding: 4px 8px;
            margin: 0 2px;
            color: #556;
            font-weight: normal;
            font-size: 13px;
            font-family: Tahoma;
        }

            .SportTopNews .pager span.Sel {
                background: #09bdf2;
                color: #09bdf2;
            }

.sliderHolder {
    width: 100%;
    display: block;
    float: right;
    position: relative;
}

    .sliderHolder .rightbtn {
        background: url(../images/btnright.png) no-repeat scroll center 44px #EEE;
        border-left: 1px dashed #DDD;
        border-radius: 0 0 5px 0;
        bottom: -3px;
        cursor: pointer;
        height: 100%;
        margin: 0;
        position: absolute;
        right: -3px;
        width: 23px;
    }

    .sliderHolder .itemsHolder {
        float: right;
        height: 185px;
        margin: 0 20px;
        overflow: hidden;
        position: relative;
        width: 92%;
    }

.archiveCalendar {
    height: 230px !important;
}

.sliderHolder .leftbtn {
    background: url(../images/btnleft.png) no-repeat scroll center 44px #EEE;
    border-right: 1px dashed #DDD;
    border-radius: 0 0 0 5px;
    bottom: -3px;
    cursor: pointer;
    height: 100%;
    margin: 0;
    position: absolute;
    left: -3px;
    width: 23px;
}

.sliderHolder .itemsloader {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

    .sliderHolder .itemsloader .items {
        width: 162px;
        height: 95%;
        margin: 3px 5px;
        float: right;
    }

        .sliderHolder .itemsloader .items .pic {
            overflow: hidden;
            text-align: center;
            width: 145px !important;
            height: 92px !important;
        }

            .sliderHolder .itemsloader .items .pic img {
                border: 3px solid #DDD;
                height: 82px !important;
                padding: 1px;
                width: 137px !important;
            }

                .sliderHolder .itemsloader .items .pic img:hover {
                    border-color: #aaa;
                }

        .sliderHolder .itemsloader .items .text {
            width: 100%;
            text-align: center;
            height: 45%;
            direction: rtl;
            overflow: hidden;
        }

            .sliderHolder .itemsloader .items .text a:link, .sliderHolder .itemsloader .items .text a:visited {
                color: #000;
                font-size: 17px;
            }

            .sliderHolder .itemsloader .items .text a:hover {
                color: #666;
            }

            .sliderHolder .itemsloader .items .text p {
            }

.Search-Box {
    width: 200px;
    height: 21px;
    background: url(../images/search-box.png) no-repeat;
    margin-bottom: 30px;
    display: none;
}

.MultiMedia {
    width: 100%;
    height: 450px;
    background-color: #252525;
    border-radius: 10px;
}

    .MultiMedia .Top {
        width: 94%;
        height: 13px;
        padding: 3%;
    }

.play-button {
    cursor: pointer;
    display: block;
    left: 15px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background: url('../images/w_play.png') center center no-repeat;
}

.photo-button {
  cursor: pointer;
    display: block;
    left: 15px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    background: url('../images/w_photo.png') center center no-repeat;
}

.MultiMedia .Top .Tab {
    background-color: #000;
    color: #fff;
    font-weight: normal;
    font-family: BNazanin_Mehr;
    font-size: 14px;
    padding: 8px;
    width: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    float: right;
    height: 20px;
    margin-right: 2px;
}

.MultiMedia .Top .TabSel {
    background-color: #fff;
    color: #000;
    font-weight: normal;
    font-family: BNazanin_Mehr;
    font-size: 14px;
    padding: 8px;
    width: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    float: right;
    height: 20px;
    margin-right: 2px;
}

.MultiMedia .Center {
    width: 97%;
    height: 84%;
}

    .MultiMedia .Center .Right {
        width: 70%;
        height: 100%;
        float: right;
    }

        .MultiMedia .Center .Right .MainPic {
            width: 100%;
            height: 80%;
            text-align: center;
            overflow: hidden;
        }

            .MultiMedia .Center .Right .MainPic img {
                width: 100%;
                height: 100%;
            }

    .MultiMedia .Center .Left {
        width: 30%;
        height: 100%;
        float: right;
    }

        .MultiMedia .Center .Left .Items {
            width: 90%;
            height: 22%;
            margin-bottom: 3%;
            text-align: right;
            direction: rtl;
        }

            .MultiMedia .Center .Left .Items .ThumbPic {
                width: 120px;
                height: 75px;
                float: right;
                text-align: center;
                overflow: hidden;
                margin-left: 5px;
            }

                .MultiMedia .Center .Left .Items .ThumbPic img {
                    width: 120px;
                    height: 75px;
                    border: none 0;
                }

.PicLead {
    text-align: center;
    overflow: hidden;
}

    .PicLead img {
        width: 100%;
        height: 100%;
        border: none 0;
    }

.servnewsbox {
    width: 100%;
    display: block;
}

    .servnewsbox .news {
    }

        .servnewsbox .news .items {
            margin-bottom: 5px;
            display: block;
        }

        .servnewsbox .news .pic {
            width: 100px;
            height: 70px;
            direction: ltr;
            text-align: center;
            border: 3px solid #ededed;
            float: right;
            overflow: hidden;
            margin-left: 5px;
        }

            .servnewsbox .news .pic img {
                height: 70px;
            }

        .servnewsbox .news .text {
            padding: 0 1%;
        }

            .servnewsbox .news .text h3 {
                margin: 3px 0;
                line-height: 18px;
            }

            .servnewsbox .news .text p {
                float: right;
            }

        .servnewsbox .news .newstitr {
            width: 96%;
            float: right;
            padding: 5px 2% 10px;
        }

            .servnewsbox .news .newstitr .bullet {
                width: 5px;
                height: 5px;
                background-color: #b22025;
                margin-left: 5px;
                display: inline-block;
                border-radius: 5px;
            }

        .servnewsbox .news a:link, .servnewsbox .news a:visited {
            color: #000;
        }

        .servnewsbox .news .newstitr a:hover {
            color: #777;
        }

.CenterSeparator {
    background: url(../images/center-separator.png) repeat-y scroll center top transparent;
    width: 100%;
}

.clear {
    clear: both;
}

.PagerHolder {
    direction: ltr !important;
    text-align: center;
}

    .PagerHolder .pagerItem {
        margin: 3px;
        color: #000;
        background-color: #eaeaea;
        font-family: BNazanin_Mehr,Arial;
        font-size: 16px;
        border-radius: 15px;
        display: inline-block;
        width: 24px;
        font-weight: bold;
    }

    .PagerHolder .Sel {
        margin: 3px;
        color: red;
    }

.fontsizecontroler {
    color: #3e70a4;
    text-align: left;
    border-radius: 5px;
    background: #eee;
    border: 1px solid #aaa;
    margin-right: 44px;
    display: inline-block;
}

    .fontsizecontroler span {
        display: inline-block;
    }

    .fontsizecontroler .smaller {
        cursor: pointer;
    }

    .fontsizecontroler .larger {
        cursor: pointer;
    }

.KeywordPic {
    width: 230px;
    height: 160px;
    background: #000;
    overflow: hidden;
}

    .KeywordPic img {
        width: 228px;
        height: 158px;
        margin: 1px;
    }

.NewTopNews {
    width: 100%;
    height: auto;
    background-color: silver;
    position: relative;
    overflow: hidden;
}

.NewTopNewsPic {
    width: 445px;
    height: 250px;
    text-align: center;
    overflow: hidden;
}

    .NewTopNewsPic img {
        height: 445px;
        width: 400px;
        border: none 0;
    }

.NewTopNews .Top {
    width: 440px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    height: 300px;
    background-color: #fff;
}

.picholder {
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
}

    .picholder img {
        width: 100%;
        height: 300px;
        border: none 0;
    }

.NewTopNews .Text {
    width: 375px;
    margin-right: 10px;
    height: 80px;
    padding: 10px;
}

.NewTopNews .Bottom {
    width: 100px;
    position: relative;
    height: 307px;
    overflow: hidden;
    margin-top: 4px;
}

    .NewTopNews .Bottom .Holder {
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        height: 92px;
        margin-bottom: 5px;
    }

.NewTopNewsLeft {
    width: 1px;
    height: 73px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.NewTopNewsRight {
    width: 1px;
    height: 73px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.NewTopNews .Bottom .Holder .TopItems {
    width: 100px;
    float: left;
    text-align: right;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-color: silver;
}

.NewTopNews .Bottom .Holder .Selected {
    width: 100px;
    float: left;
    text-align: right;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.NewTopNews .Bottom .Holder .TopItemsPic {
    width: 100px;
    float: left;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #fff;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 3px;
}

    .NewTopNews .Bottom .Holder .TopItemsPic img {
        height: 30px;
        width: 90px;
        border: none 0;
    }

.OverLoad {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tPic {
    float: right;
    width: 105px;
    height: 70px;
    padding: 2px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

    .tPic img {
        margin: 3px;
        width: 99px;
        height: 64px;
        border: 0 none;
    }

.ad-loader {
    width: 20px !important;
    height: 20px !important;
}

.HeadlineHolder {
    width: 100%;
    height: 79px;
    padding: 1%;
    border-radius: 5px;
}

.HeadPic {
    width: 120px;
    height: 75px;
    float: right;
    overflow: hidden;
    text-align: center;
    margin: 0;
    border: 1px #000000 solid;
    border-radius: 5px;
    background: url(../Images/headlines/0.JPG) no-repeat center;
}

    .HeadPic img {
        width: 120px;
        height: 75px;
        border: none 0;
    }

.servtopnews {
    width: 100%;
    height: 300px;
    display: block;
    background: #fafafa;
}

    .servtopnews .picholder {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        direction: ltr;
        position: relative;
    }

        .servtopnews .picholder img {
            height: 100%;
        }

    .servtopnews .caption {
        background-image: url(../images/bgtop.png);
        width: 96%;
        padding: 2%;
        position: absolute;
        bottom: 12px;
        right: 0;
        text-align: right;
        direction: rtl;
        padding-top: 1%;
        padding-bottom: 1%;
    }

        .servtopnews .caption span {
            display: block;
            color: #fff;
        }

        .servtopnews .caption a:link, .servtopnews .caption a:visited {
            color: #01a701;
        }

        .servtopnews .caption a:hover {
            color: #ff0;
        }

        .servtopnews .caption p {
            color: #fff;
        }

    .servtopnews .pagerholder {
        background-image: url(../images/bgtop.png);
        position: absolute;
        width: 96%;
        padding: 0 2%;
        bottom: 0;
        left: 0;
        text-align: left;
        direction: ltr;
    }

    .servtopnews .pagerItem {
        width: 8px;
        height: 8px;
        background-color: #fff;
        float: left;
        margin: 2px;
        cursor: pointer;
    }

        .servtopnews .pagerItem.sel {
            background-color: #ff0;
            cursor: default;
        }

.RightLogo {
    height: auto;
    display: block;
}
    .RightLogo img {
        width:100%;
    }

.footerCandidateInfoBack {
    position: fixed;
    left: 0;
    bottom: 55px;
    background-color: #000;
    background-color: rgba(0,0,0,0.80);
    width: 197px;
    height: 155px;
    border-radius: 0 15px 15px 0;
    filter: alpha(opacity=80);
    z-index: 10;
}

.footerCandidatesClose {
    position: fixed;
    left: 177px;
    bottom: 186px;
    width: 15px;
    height: 20px;
    background-color: #000;
    background-color: rgba(0,0,0,0.50);
    cursor: pointer;
    border-radius: 0 15px 0 0;
    color: #ff0;
    font-size: 12px;
    font-family: Tahoma;
    font-weight: normal;
    padding-top: 3px;
    text-align: left;
    z-index: 100;
    padding-left: 5px;
    filter: alpha(opacity=50);
}

#footerCandidatesInfo {
    position: fixed;
    left: 0;
    bottom: 55px;
    width: 197px;
    height: 155px;
    border-radius: 15px 0 0;
    cursor: pointer;
    z-index: 20;
}

.footerCandidatesTitle {
    color: #ff0 !important;
    font-family: tahoma;
    font-size: 11px;
    text-align: left;
    float: left;
    padding-left: 5px;
    display: block;
    margin: 5px 0;
}

.footerCandidatesItems {
    width: 134px;
    height: 107px;
    background: url(../images/candidate/blank.png) no-repeat;
    position: relative;
    clear: both;
}

.footerCandidatesIMG {
    width: 134px;
    height: 107px;
    border: none 0;
}

.footercandidatePercent {
    bottom: 3px;
    display: block;
    font-family: BNazanin_Mehr;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    text-align: center;
    width: 30px;
    left: 10px;
    height: 30px;
}

.Tribune {
    width: 99.5%;
    float: right;
    height: auto;
}

    .Tribune .Top {
        width: 100%;
        height: 35px;
    }

        .Tribune .Top .Tabs {
            width: auto;
            height: 30px;
            float: right;
            margin-right: 5px;
            margin-left: 5px;
            border-top: solid 1px #ccc;
            border-right: solid 1px #ccc;
            border-left: solid 1px #ccc;
            -moz-box-shadow: 0 0 5px #ccc;
            -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-family: 'BNazanin_Mehr',Arial;
            font-size: 14px;
            font-weight: normal;
            padding-right: 22.5px;
            padding-left: 22px;
            color: #000;
            padding-top: 5px;
            cursor: pointer;
        }

        .Tribune .Top .TabsSel {
            color: #fff;
            background-color: #888;
            cursor: pointer;
        }

    .Tribune .Center {
        width: 96%;
        height: auto;
        border: solid 1px #ccc;
        -moz-box-shadow: 0 0 5px #ccc;
        -webkit-box-shadow: 0 0 5px #ccc;
        box-shadow: 0 0 5px #ccc;
        border-radius: 5px;
        line-height: 22px;
        padding: 15px 2%;
    }

    .Tribune .Bottom {
        width: 100%;
        height: 20px;
    }

.Subjects {
    height: auto;
    background-color: #efefef;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}

    .Subjects .Titles {
        height: 36px;
        padding: 3px;
        padding-right: 45px;
        font-family: 'BNazanin_Mehr',Arial;
        font-weight: normal;
        font-size: 16px;
        color: #000;
        background: #f1dd58 url(../images/subj_plus.png) right center no-repeat;
        text-align: right;
        padding-bottom: 8px;
        position: relative;
        padding-top: 16px;
        margin-bottom: 10px;
    }

    .Subjects .DetPic {
        width: 75px;
        height: 50px;
        background-color: #fff;
        border-radius: 5px;
    }

        .Subjects .DetPic img {
            width: 71px;
            height: 46px;
            margin: 2px;
        }

    .Subjects .Titles .picsub {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: solid 3px #e4b90c;
        border-radius: 5px;
        position: absolute;
        left: 10px;
        top: -25px;
    }

        .Subjects .Titles .picsub img {
            width: 48px;
            height: 48px;
            margin: 1px;
        }

#PSearchHolder {
    margin: 0 auto;
    margin-top: 30px;
}

    #PSearchHolder td {
        vertical-align: middle;
    }

    #PSearchHolder select {
        width: 160px;
        height: 22px;
        border: solid 1px #c2c2c2;
        font-family: Tahoma;
    }

.PlayerInfoContent {
    width: 240px;
    height: 85px;
    background-image: url(../Images/Players/PlayerBoxBg.jpg);
    background-repeat: no-repeat;
    float: right;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 10px;
    position: relative;
}

.TeamInfoHolder {
    width: 156px;
    height: 89px;
    background-image: url(../Images/Players/TeamBoxBg.jpg);
    background-repeat: no-repeat;
    float: right;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 14px;
    position: relative;
}

.MoreLink {
    position: absolute;
    bottom: 3px;
    left: 11px;
    background: url(../images/Players/More.jpg) no-repeat scroll right top transparent;
    width: 45px;
}

    .MoreLink a {
        color: #fff;
        float: left;
    }

#FooterWrapper {
    background-color: #39bdf2;
    height: 100px;
    direction: rtl;
    position: relative;
    width: 100%;
}

    #FooterWrapper .Left {
        background: none repeat scroll 0 0 #9d0013;
        height: 100px;
        left: 0;
        position: absolute;
        width: 50%;
    }

    #FooterWrapper .Right {
        background: none repeat scroll 0 0 #0053bb;
        height: 100px;
        position: absolute;
        right: 0;
        width: 50%;
    }

#FooterContainer {
    margin: 0 auto;
    width: 969px;
    background: url(../images/Service/Sport/footerbg.jpg) no-repeat;
    height: 100px;
    text-align: center;
    position: relative;
}

.PlayeImageHolder {
    float: right;
    width: 68px;
    height: 76px;
    margin: 5px;
    overflow: hidden;
}

    .PlayeImageHolder img {
        height: 76px;
        border: none 0;
    }

.PlayerInformation {
    float: right;
    width: 150px;
    padding-top: 5px;
    text-align: right;
}

.PLogo {
    width: 27px;
    height: 15px;
    overflow: hidden;
    margin-top: 10px;
    float: right;
}

.PlayerSeachBoxHolder {
    width: 97.5%;
    padding: 10px 0;
    background-color: #ececec;
    border: solid 1px #d0d0d0;
    border-radius: 8px;
    margin: 5px 0;
}

    .PlayerSeachBoxHolder input[type=text] {
        border: 0;
        width: 180px;
        height: 22px;
        font-family: Tahoma;
        font-size: 12px;
    }

#livefilter-list {
    display: none;
    position: absolute;
    top: 28px;
    right: 42px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 10;
    width: 180px;
    max-height: 150px;
    overflow-y: scroll;
}

    #livefilter-list li {
        padding: 4px;
        text-align: right;
    }

.dNone {
    display: none;
}

.dBlock {
    display: block;
}

#PlayerInfoHolder {
    width: 100%;
    height: auto;
}

.PlayerInfoContent2 {
    width: 100%;
    height: auto;
    background-image: url(../Images/Players/PlayerBoxBg.jpg);
    background-repeat: no-repeat;
    float: right;
    margin-right: 0;
    margin-left: 4px;
    margin-bottom: 10px;
    position: relative;
}

.PlayeImageHolder2 {
    float: right;
    width: 132px;
    height: 152px;
    margin: 5px;
    margin-right: 0;
    overflow: hidden;
    background-color: #1a1a1a;
}

    .PlayeImageHolder2 img {
        height: 148px;
        width: 128px;
        margin: 2px;
        border: none 0;
    }

#mainLeagueTable tr:nth-child(2n+1) {
    font-family: tahoma !important;
    font-size: 11px !important;
}

#mainLeagueTable tr:nth-child(2n) {
    font-family: tahoma !important;
    font-size: 11px !important;
}

#UserBar {
    position: fixed;
    width: 100%;
    height: 15px;
    z-index: 100;
    border-radius: 0 0 5px 5px;
    background: #eaeaea;
    opacity: .6;
    text-align: center;
}

    #UserBar #UserBarSwitch {
        width: 16px;
        height: 16px;
        background: url(../Images/slidedown.png) no-repeat center;
        margin: 0 auto;
        display: block;
        cursor: pointer;
    }

    #UserBar #UserBarContent {
        display: none;
        height: 30px;
        text-align: right;
        padding: 7px 30px;
    }

    #UserBar .UserProfile img {
        float: right;
        padding: 2px;
        border: solid 1px #333;
        background-color: #888;
    }

    #UserBar .UserProfile a {
        padding-top: 7px;
        padding-right: 5px;
        font-family: Tahoma;
        font-size: 11px;
        color: #222;
        float: right;
    }

.NewSearch {
    width: 30px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 21px;
    display: none;
}

.JamNewsSearch {
    width: 36px;
    height: 19px;
    padding-left: 24px;
    background: url(../images/jamsearch.png) left center no-repeat;
    font-weight: normal;
    padding-top: 3px;
    cursor: pointer;
}

.GoogleSearch {
    float: left;
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.TxtSearch {
    border: none 0 !important;
    background-color: transparent !important;
    float: left !important;
    width: 110px !important;
    margin-top: 0 !important;
    color: #000 !important;
    font-family: Tahoma;
    font-size: 11px;
    text-align: right;
    padding-right: 10px;
}

.SearchBtn {
    width: 30px;
    height: 18px;
    background: url(../images/google-search.png) left center no-repeat;
    margin-top: 3px;
    font-weight: normal;
    padding-top: 3px;
    cursor: pointer;
}

.Sq {
    /*width: 40px;
    height: 40px;*/
    width: 250px;
    height: 44px;
    background: #eaeaea;
    float: right;
    margin: 7px;
    border-radius: 3px;
    cursor: pointer;
    text-align: left;
}

    .Sq .Text {
        color: #fff;
        font-family: 'B Koodak';
        font-weight: bold;
        font-size: 17px;
        padding: 4px;
        padding-left: 10px;
        float: left;
        display: block;
        float: left;
        display: none;
    }

.HomeJam {
    width: 100%;
    height: 20px;
    padding-top: 5px;
    background-color: #1a1a1a;
    text-align: center;
    font-family: Tahoma;
    font-size: 11px;
    color: #fff;
    z-index: 100000;
    direction: rtl;
    border-bottom: solid 2px orange;
    position: fixed;
    top: 0px;
    right: 0px;
}

.archiveCalendar .ui-datepicker-inline {
    width: 195px !important;
    font-family: Tahoma !important;
    margin-right: 2px;
}

.archiveCalendar .ui-datepicker .ui-datepicker-title {
    font-size: 11px !important;
}

.archiveCalendar .ui-state-default {
    font-weight: normal;
    text-align: center;
}

.MultiMedia .Top div {
    cursor: pointer;
}

.submenus {
    height: auto;
    position: absolute;
    top: 26px;
    right: 0px;
    z-index: 100000;
    display: none;
}

    .submenus a {
        color: #fff;
        width: 90%;
        display: block;
        margin-bottom: 5px;
        border-bottom: solid 1px #1a1a1a;
        padding-bottom: 10px;
        font-size: 11px;
        text-align: right;
        padding-right: 10%;
        padding-right: 10%;
        display: inline-block;
    }

        .submenus a:hover {
            color: orange;
        }

.menulink {
    cursor: pointer;
}

.Search-Box-tube {
    width: 197px;
    height: 30px;
    position: absolute;
    left: 1px;
    bottom: 5px;
    background: url('../Images/searchbox.png') no-repeat;
}

.txttubeseaarch {
    background-color: #fff;
    color: #1a1a1a;
    height: 26px;
    font-family: Tahoma;
    font-size: 11px;
    width: 135px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border: none 0px;
}

.Sbtn {
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    float: left;
    font-size: 11px;
    cursor: pointer;
}


.uptotop {
    width: 32px;
    height: 32px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    display: none;
    background: url('../Images/Up.png') no-repeat;
}

.multitype {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 42%;
    top: 40%;
}

.newram {
    height: 240px;
    width: 300px;
    position: absolute;
    left: 0px;
    bottom: 30px;
}

.Ramazan {
    background: url('../images/ramazan.jpg') no-repeat;
    width: 947px;
    height: 631px;
    margin: 0px auto;
    position: relative;
}

.Quran {
    width: 552px;
    height: 406px;
    background: url('../images/quran.png') no-repeat;
    position: absolute;
    right: 55px;
    bottom: 34px;
    cursor: pointer;
    opacity: 0.9;
}

.Mafatih {
    width: 261px;
    height: 200px;
    background: url('../images/mafatih.png') no-repeat;
    position: absolute;
    left: 70px;
    opacity: 0.9;
    top: 43px;
    cursor: pointer;
}

.Shahr {
    width: 178px;
    height: 167px;
    background: url('../images/shahr.png') no-repeat;
    position: absolute;
    top: 14px;
    opacity: 0.9;
    right: 27px;
    cursor: pointer;
}

.Play-Quran {
    width: 98px;
    height: 140px;
    background: url('../images/play-quran.png') no-repeat;
    position: absolute;
    bottom: 10px;
    opacity: 0.9;
    left: 10px;
    cursor: pointer;
    display: none;
}

.Pause-Quran {
    width: 98px;
    height: 140px;
    background: url('../images/pause-quran.png') no-repeat;
    position: absolute;
    bottom: 10px;
    opacity: 0.9;
    left: 10px;
    cursor: pointer;
}

.Mohr {
    width: 72px;
    height: 56px;
    background: url('../images/mohr.png') no-repeat;
    position: absolute;
    top: 160px;
    opacity: 0.9;
    left: 395px;
    cursor: pointer;
}

.newram .quran {
    width: 216px;
    height: 50px;
    float: left;
    background: url('../Images/ramazan/ramazan-quran.png') no-repeat;
    margin-bottom: 5px;
}

.newram .lastnews {
    width: 271px;
    height: 50px;
    float: left;
    background: url('../Images/ramazan/ramazan-lastnews.png') no-repeat;
    margin-bottom: 5px;
}

.newram .rooze {
    width: 277px;
    height: 50px;
    float: left;
    background: url('../Images/ramazan/ramazan-rooze.png') no-repeat;
    margin-bottom: 5px;
}

.newram .amal {
    width: 310px;
    height: 50px;
    float: left;
    background: url('../Images/ramazan/ramazan-amal.png') no-repeat;
    margin-bottom: 5px;
}

.GroupBox {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #332d33;
}

.GroupBoxLegend {
    font-size: medium;
}

.Table {
    width: 100%;
}

.Title {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-size: 20px;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    width: 100%;
}

.Cell {
    float: left;
    width: 50%;
    direction: rtl;
    background-color: #e4e4e4;
}

.bootmenu {
    width: 100%;
    height: 35px;
    background: #6dbfe1 url('../Images/bootstrap-side-menu.png') 99% center no-repeat;
    float: right;
    margin-right: 0px;
    margin-left: 5px;
    cursor: pointer;
    display: none;
    position: relative;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
}

    .bootmenu:after {
        float: right;
        margin-right: 10px;
        height: 30px;
        width: auto;
    }

.bootmenuholder {
    width: 150px;
    height: auto;
    background-color: #3eacda;
    position: absolute;
    right: 45px;
    top: 86px;
    z-index: 900000;
    padding: 5px;
    display: none;
}

    .bootmenuholder .Items {
        color: #1a1a1a;
        font-family: WKoodak;
        font-size: 14px;
        display: inline-block;
        padding-right: 5px;
        cursor: pointer;
        position: relative;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 100%;
        text-align: right;
    }

        .bootmenuholder .Items:hover {
            background-color: #eaeaea;
            color: #1a1a1a;
        }

            .bootmenuholder .Items:hover a {
                color: #1a1a1a;
            }

.smallcommenttextbox {
    margin-bottom: 5px;
}

.LanguageDate {
    height: auto;
    position: absolute;
    bottom: 33px;
    left: -5px;
}
.multititr:hover  , .multititr2:hover {
       color: #c1253e!important;
}
.bodyDetail {
    font-family: BNazanin_Mehr;
    font-size: 17px;
}
    .bodyDetail a {
        color: #000080;
    }
    .bodyDetail img {
        max-width : 100% !important;
        height: auto !important;
    }
    
.sharingbox {
    width: 32px;
    height: 180px;
    position: absolute;
    top: 0px;
    left: -322px;
}

    .sharingbox .tw {
        width: 32px;
        height: 32px;
        background: url('../Images/sharing/tw.png') no-repeat;
        margin-bottom: 5px;
        cursor: pointer;
    }

        .sharingbox .tw:hover {
            background: url('../Images/sharing/tw-over.png') no-repeat;
        }

    .sharingbox .instagram {
        width: 32px;
        height: 32px;
        background: url('../Images/sharing/instagram.png') no-repeat;
        cursor: pointer;
        margin-bottom: 5px;
    }

        .sharingbox .instagram:hover {
            background: url('../Images/sharing/instagram-over.png') no-repeat;
        }

    .sharingbox .fb {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: url('../Images/sharing/facebook.png') no-repeat;
        margin-bottom: 5px;
    }

        .sharingbox .fb:hover {
            background: url('../Images/sharing/facebook-over.png') no-repeat;
        }

    .sharingbox .telegram {
        width: 32px;
        height: 32px;
        cursor: pointer;
        background: url('../Images/sharing/telegram.png') no-repeat;
        margin-bottom: 5px;
    }

        .sharingbox .telegram:hover {
            background: url('../Images/sharing/telegram-over.png') no-repeat;
        }

    .sharingbox .gplus {
        width: 32px;
        cursor: pointer;
        height: 32px;
        background: url('../Images/sharing/googleplus.png') no-repeat;
        margin-bottom: 5px;
    }

        .sharingbox .gplus:hover {
            background: url('../Images/sharing/googleplus-over.png') no-repeat;
        }
.cBlk {
    color: #272727;
    font-family: BNazanin_Mehr;
    font-size: 15px;
    line-height: 20px!important;
}


@media (max-width:1200px) and (min-width:0px) {
    /*.HeaderMain .Bottom .MainMenu .Tops a {
        font-size: 11px;
        margin-top: 3px;
    }*/

    .TabBox .Top .TabSel {
        font-weight: bold;
    }

    .commentLink {
        font-size: 16px!important;
    }

    .voteholder h3 {
        font-size: 11px!important;
    }

    .detailImageHolder {
        margin-bottom: 10px;
    }

    .detailImageHolder3C {
        margin-bottom: 10px;
    }

    .languageBar {
        display: none;
    }

    .LanguageDate {
        height: auto;
        position: absolute;
        bottom: 70px;
        left: -5px;
    }

    .angosht, .WolrdHeader .Left, .barjamheader {
        
    }
}

@media (max-width:990px) and (min-width:0px) {
    .HeaderMain .Top {
        background: rgba(0, 0, 0, 0) url("../images/jamnews.png") no-repeat scroll center right!important;
    }

    .AdItem {
        /*display: none;*/
    }
        .TopNews .TextHolder a {
        font-size: 18px!important;
    }

    .TopNews .ThumbHolder .ThumbPic{margin-top:5px;}
}

@media (max-width:700px) and (min-width:0px) {
    .MainMenu {
        display: none;
    }

    .TopTools {
        bottom: -26px;
        left: 5px;
        z-index: 90000;
    }

    .bootmenuholder, .bootmenu {
        display: block;
    }
        .TopNews .TextHolder a {
        font-size: 18px!important;
    }

    .TopNews .ThumbHolder .ThumbPic{margin-top:5px;}
    
    .TabBoxWidth .detItems {
        display: none;
    }
    .HotTitle{font-size:22px!important;}
    .TopTools {
        width: 150px;
    }

    .TabBoxWidth .Maintitr {
        font-size: 12px;
    }

    .multilead {
        display: none;
    }

    .MainHolder .Lead {
        display: none;
    }



    .Otherlang, .iconMenu {
        display: none;
    }

    .DateBox span, .DateBox div {
        font-size: 14px!important;
    }

    .leadres {
        display: none;
    }

    .TopNews .TextHolder a {
        font-size: 18px!important;
    }

    .TopNews .ThumbHolder .ThumbPic{margin-top:5px;}
}
@media (max-width:1170px) and (min-width:0px) {
    .WolrdHeader .Left , .barjamheader{display:none!important;}
    .WolrdHeader {background-image: none !important;}
    .bootmenu{background-color:#326195 ;}
    .elctitle2{font-size:32px!important;}
}