﻿/*@font-face {
    font-family: 'BNazanin_Mehr';
    src: url('fonts/PRSWEB-Bold.eot');
    src: url('fonts/PRSWEB-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/PRSWEB-Bold.woff') format('woff'), url('fonts/PRSWEB-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BNazanin_Mehr';
    src: url('fonts/PRSWEB.eot');
    src: url('fonts/PRSWEB.eot?#iefix') format('embedded-opentype'), url('fonts/PRSWEB.woff') format('woff'), url('fonts/PRSWEB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: "BNazanin_Mehr";
    src: url("fonts/rosettatype-nassim-regular.eot") format("eot"), url("fonts/rosettatype-nassim-regular.woff") format("woff"), url("font/rosettatype-nassim-regular.ttf") format("truetype");
}

@font-face {
    font-family: "BNazanin_Mehr";
    font-weight: bold;
    src: url("fonts/rosettatype-nassim-bold.eot") format("eot"), url("fonts/rosettatype-nassim-bold.woff") format("woff"), url("fonts/rosettatype-nassim-bold.ttf") format("truetype");
}
