﻿.cd-top {
    display: inline-block;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 40px;
    right: 5px;
    box-shadow: #000000;
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../Images/ScrollToTop.png) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
        -webkit-transition: opacity .5s 0s, visibility 0s 0s;
        -moz-transition: opacity .5s 0s, visibility 0s 0s;
        transition: opacity .5s 0s, visibility 0s 0s;
    }

    .cd-top.cd-is-visible {
        visibility: visible;
        opacity: .6;
    }

    .cd-top.cd-fade-out {
        opacity: 1;
    }

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}
