﻿.transfers {
    width:100%;
    font-family:BNazanin_Mehr,Arial;
    font-size:12px;
    direction:rtl;
}
    .transfers .items {
        padding:5px;
        border: solid 1px #ccc; 
        border-radius: 3px;
        float:right;
        margin:5px;
        font-family:Tahoma;
        font-size:11px;
    }
    .even
{
    background-color:#eaeaea;
}