#vlightbox1 {
}
#vlightbox1 .vlightbox1 {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	
	text-decoration:none;
	text-align:center;
}
#vlightbox1 .vlightbox1 a{
	margin:0;
}
#vlightbox1 .vlightbox1 img{
	display:block;
	border:none;
	margin:0;
}
#vlightbox1 .vlightbox1 div {}

#vlightbox1 .vlightbox1:nth-child(even){

}
/*
#vlightbox1 .vlightbox1:nth-child(5n){
  -webkit-transform:rotate(-4deg) scale(0.9);
  -moz-transform:rotate(-4deg) scale(0.9);
  -ms-transform:rotate(-4deg) scale(0.9);
  -o-transform:rotate(-4deg) scale(0.9);
  transform:rotate(-4deg) scale(0.9);
  position:relative;
  left:-10px
}*/
#vlightbox1 .vlightbox1{
	-moz-transition:all 0.1s ease-out;
	-o-transition:all 0.1s ease-out;
	-webkit-transition:all 0.1s ease-out;
	transition:all 0.1s ease-out;
}
#vlightbox1 .vlightbox1:hover{
	
	z-index:10;
	-o-transform:rotate(0deg) scale(1.1);
	-moz-transform:rotate(0deg) scale(1.1);
	-ms-transform:rotate(0deg) scale(1.1);
	transform:rotate(0deg) scale(1.1);
}

/*
#vlightbox1 .vlightbox1:before,#vlightbox1 .vlightbox1:after{
    content:"";position:absolute;z-index:-1;bottom:8px;left:10px;width:50%;height:20%;max-width:300px;box-shadow:0 8px 16px rgba(0,0,0,0.6);
    -webkit-transform:skew(-15deg) rotate(-6deg);
    -moz-transform:skew(-15deg) rotate(-6deg);
    -ms-transform:skew(-15deg) rotate(-6deg);
    -o-transform:skew(-15deg) rotate(-6deg);
    transform:skew(-15deg) rotate(-6deg)
}
#vlightbox1 .vlightbox1:after{
    left:auto;right:10px;
    -webkit-transform:skew(15deg) rotate(6deg);
    -moz-transform:skew(15deg) rotate(6deg);
    -ms-transform:skew(15deg) rotate(6deg);
    -o-transform:skew(15deg) rotate(6deg);
    transform:skew(15deg) rotate(6deg)
}
*/