.site-logo {
    background-image: url(logo.png?v=2);
    background-size: 100%;
    height: 41px;
    width: 147px;
}

/* CLICKFRENZY STYLES */
div.clfr-stores {
    overflow: hidden;
}
div.clfr-store {
    float: left;
    margin: 0 20px 10px 0;
    position: relative;
}
div.clfr-store a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 180px;
    width: 180px;
}
div.clfr-store span {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    display: block;
    line-height: 120%;
    padding: 3px 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

/* OZBARGAIN10 STYLES */
div.ozb10-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    line-height: 200px;
    margin: 10px 0;
    position: relative;
    text-align: center;
}
div.ozb10-title div.ozb10-credit {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ddd;
    font-size: 75%;
    font-style: italic;
    line-height: 1;
    padding: 5px 10px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}
div.ozb10-title div.ozb10-credit a {
    color: #ddd;
}
div.ozb10-title h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline;
    font-family: serif;
    font-size: 300%;
    font-weight: normal;
    padding: 10px 20px;
}
ul.ozb10-countdown {
    overflow: hidden;
    padding: 0;
    margin: 10px auto;
}
ul.ozb10-countdown li {
    float: left;
    list-style: none;
    margin-right: 20px;
}
ul.ozb10-countdown span.ozb10-cdval {
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%) #000;
    border: #000 solid 1px;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 75px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    opacity: 1;
    text-align: center;
    width: 100px;
}
ul.ozb10-countdown span.ozb10-lbl {
    display: block;
    font-size: 85%;
    text-align: center;
}
ul.ozb10-stores {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.ozb10-stores li {
    float: left;
    margin: 0 10px 20px 0;
}
ul.ozb10-stores li a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 150px;
    width: 220px;
    position: relative;
}
ul.ozb10-stores li span {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    display: block;
    text-align: center;
    position: absolute;
    bottom: -5px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1px 2px;
}
ul.ozb10-stores-live {
    column-count: 4;
    column-gap: 20px;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
ul.ozb10-stores-live li {
    line-height: 1.4;
}
ul.ozb10-stores-live li span.ozb10-storeimg {
    display: none;
}
div.ozb10-cat {
    margin-bottom: 15px;
}
div.pageblock span.ozb10-cdval {
    font-size: 115px;
    height: 150px;
    line-height: 150px;
    width: 150px;
}
#ozb10-msg {
    background-color: #fffae8;
    border: #eee solid 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
}
#ozb10-msg h3 {
    text-align: center;
}
#ozb10-msg h4 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
}
#ozb10-msg span.ozb10-cdval {
    font-size: 45px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}
#ozb10-msg ul {
    cursor: pointer;
    display: inline-block;
    margin: 10px 0 0 0;
}
#ozb10-notice {
    background-color: #800;
    bottom: 0;
    color: white;
    cursor: pointer;
    font-size: 120%;
    opacity: 0.70;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
#ozb10-notice:hover {
    opacity: 1;
}
#ozb10-notice div {
    text-align: center;
}
#ozb10-notice i.fa-times {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
#ozb10-notice img {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 150px;
}
@media only screen and (max-width:800px) {
    #ozb10-notice {
        font-size: 100%;
    }
    #ozb10-notice img {
        width: 100px;
    }
}
@media only screen and (max-width:460px) {
    ul.ozb10-countdown li {
        margin-right: 10px;
    }
    ul.ozb10-stores li a {
        width: 135px;
        height: 100px;
    }
    ul.ozb10-stores-live {
        column-count: 2;
    }
    div.ozb10-title {
        line-height: 120px;
    }
    div.pageblock span.ozb10-cdval {
        font-size: 45px;
        height: 60px;
        line-height: 60px;
        width: 60px;
    }
    #ozb10-notice img {
        width: 75px;
    }
}
@media only screen and (min-width:460px) and (max-width:750px) {
    ul.ozb10-countdown li {
        margin-right: 15px;
    }
    ul.ozb10-stores-live {
        column-count: 3;
    }
    div.pageblock span.ozb10-cdval {
        font-size: 75px;
        height: 100px;
        line-height: 100px;
        width: 100px;
    }
}
