/*
Theme Name: DolarToday.com
Description: Portal informativo de noticias financieras de Venezuela
Version: 1.0
Author: DMolero
*/

/*
	- RESET	
	- GENERAL
	- HEADLINES
	- LISTS
	- FORMS
	- OTHER HTML
	
	- BASIC LAYOUT
	- TOP
	- HEADER
	- MENU
	- SUBMENU
	- CONTENT
	- SIDEBAR
	- FOOTER
	- COMMENTS
	- PAGING
	
	- BUTTONS
	- ICON BUTTONS
	- INFO BOXES
	- ICON LINKS
	- HORIZONTAL RULE
	- ICONS
	
	- WORDPRESS CSS
	- WIDGET CSS
	- SUPERFISH CSS
	- USEFUL
	- CLEARING
	
*/

@import url(https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif);

/*	##################################
   	RESET
	################################## */
	
html, body, ul, ol, li, img, hr, input, textarea, dl, dt, dd, form {
	margin: 0px;
	padding: 0px;
	border: none;
	list-style: none;
}

/*	##################################
   	GENERAL
	################################## */
	
body {
	// background: #f4f4f4 url(img/bg-dots.png);
	color: #505050;	
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 24px;
	background-color: #fafafa;
}

p, ul, ol {
	margin: 0 0 20px;
}

a {
	color: #3b5998;
}

a:active {
	position: relative;
	top: 1px;
}

small {
	color: #606060;	
	font-size: 11px;
	font-weight: normal;
}


/*	##################################
   	HEADLINES
	################################## */
	
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 10px;
	font-family: Georgia, serif;
}

h1 {
	margin: 0 0 20px;
	padding: 0px;
	line-height: normal;
	color: #404040;
	font-size: 32px;
	font-weight: normal;
}

h2 {
	margin: 0 0 10px;
	padding: 0px;
	font-size: 18px;	
}

.section-title-1 {
	position: relative;
	max-width: 920px;
	margin-top: 11px;
	line-height: 20px;
}

.section-title-1 h1,
.section-title-1 h2,
.section-title-1 h3 {
	margin: 0 0 10px;
	padding: 0 0 0 20px;
	line-height: inherit;
	background: url(img/bg-square.png) no-repeat 0px 5px;
	color: #404040;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.archive .section-title-1 h1,
.archive .section-title-1 h2,
.archive .section-title-1 h3 {
	margin-bottom: 20px;
}

#footer .section-title-1 h2,
#footer .section-title-1 h3 {
	margin-bottom: 10px;
	color: #fff;
	background-image: url(img/bg-square-light.png);
}

.widget_ts_video_teaser .section-title-1 h3 {
	max-width: 185px;
	margin: 15px 0 5px;
	color: #fff;
	background-image: url(img/bg-square-light.png)
}

#content .widget_ts_video_teaser .section-title-1 h3 {
	max-width: 250px;
}

#sidebar .widget_ts_video_teaser .section-title-1 h3 {
	max-width: 240px;
}

.section-title-1 h1 a,
.section-title-1 h2 a,
.section-title-1 h3 a {
	color: inherit;
	text-decoration: none;
}

.section-title-2 {
	position: relative;
	max-width: 900px;
	height: 30px;
	margin: 0 0 20px;
	padding: 5px 10px 0;
	line-height: 30px;
	background: #f4f4f4 url(img/bg-section-title-2.png) repeat-x;
	text-shadow: 1px 1px 0px #fff;
}

#sidebar .section-title-2 {
	margin-bottom: 10px;
}

#sidebar .section-3 .section-title-2 {
	margin-bottom: 20px;
}

.section-title-2 h1,
.section-title-2 h2,
.section-title-2 h3 {
	margin: 0px;
	padding: 0 0 0 20px;
	line-height: 30px;
	background: url(img/bg-square.png) no-repeat left center;
	color: #404040;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.section-title-2 h1 a,
.section-title-2 h2 a,
.section-title-2 h3 a {
	color: #404040;
	text-decoration: none;
}

.section-title-2 h1 a:hover,
.section-title-2 h2 a:hover,
.section-title-2 h3 a:hover {
	color: #3b5998;
}

.section-title-2 .action-link {
	position: absolute;
	top: 5px;
	right: 15px;
	line-height: 30px;
	font-size: 11px;
	text-decoration: none;
}

.section-title-2 .action-link:active {
	top: 6px;
}

.hentry h2,
.hentry h2 a {
	color: #404040;
	font-weight: normal;
	text-decoration: none;
}

#ts_category_teaser-4 .hentry h2 a {
        font-weight: normal;
	font-size: 20px;
}

.post h2 a:hover,
.video h2 a:hover {
	color: #3b5998;
}

#footer-bottom .post h2,
#footer-bottom .post h2 a {
	color: #fff;
}

.post.featured-post h2 {
	margin-top: 0px;
	font-size: 28px;
	line-height: normal;
}

.post-title h2 {
	margin-top: 0px;
}

h3 {
	margin: 0 0 10px;
	padding: 0px;
	font-size: 14px;
}

h4, h5, h6 {
	margin: 0 0 5px;
}

h4 {
	font-size: 13px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 11px;
}


/*	##################################
   	LISTS
	################################## */

ul,
ol {
	margin: 0 0 20px;
	padding: 0 0 0 15px;
}

li ul,
li ol {
	margin-bottom: 0px;
}

ul li,
ol ul li {
	list-style: square;
}

ol li,
ul ol li {
	list-style: decimal;
}

ul li small,
ol li small {
	font-size: 11px;
}

ul li small a,
ol li small a {
	color: inherit;
}


/*	##################################
   	FORMS
	################################## */
	
input.text, textarea.text {
	padding: 7px 10px;
	background: #fff;
	color: #444;
	border: 1px solid #e9e9e9;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

textarea.text {
	height: 134px;
}

.fielderror {
	color: red;
}


/*	##################################
	OTHER HTML
	################################## */

blockquote, address {
	margin: 0 0 20px;
	padding: 15px 20px 15px;
	background: url(img/bg-dots.png);
	color: #666;
	font-family: Tahoma, Helvetica, sans-serif;
	font-style: italic;
}

code {
    font-family: "Courier New", Courier, serif;
	overflow: auto;
	padding: 2px 4px;
	background: url(img/bg-dots.png);
	color: #666;
}

pre code {
	background: none;
}

pre {
    margin: 0 0 20px;
	padding: 10px;
	line-height: 22px;
	background: url(img/bg-dots.png);
	overflow: auto;
}

#content blockquote,
#content address {
	overflow: hidden;
}

dl {
    margin: 0 0 10px;
}

dt {
    font-weight: bold;
}

dd {
    padding: 0 0 10px;
}

small {
	font-size: 10px;
	font-weight: normal;
}


/*	##################################
   	BASIC LAYOUT
	################################## */
	
#main-wrap {
	width: 980px;
	margin: 0 auto;
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#wrap {
	width: 920px;
	padding: 10px 30px 10px;
	background: #fff;
}


/*	##################################
   	TOP
	################################## */

#top {
	height: 35px;
	padding: 5px 30px 0;
	line-height: 35px!important;
	background: url(img/bg-top.png) repeat-x;
	font-size: 11px;
}

#top-left,
.ts-menu-top-left {
	float: left;
	width: auto;
}

#top-right,
.ts-menu-top-right {
	float: right;
	width: auto;
}

#top ul {
	height: 30px;
	margin: 0px;
	padding: 0px;
}

#top li {
	float: left;
	margin: 0px;
	padding: 0px;
	background: none;
}

#top li ul {
	height: auto;
}

#top a {
	display: block;
	float: left;
	height: 35px;
	line-height: 35px;
	color: #505050;
	text-decoration: none;
}

#top a:hover {
	text-decoration: underline;
}



/*	##################################
   	HEADER
	################################## */

#header {
	position: relative;
	width: 920px;
	padding: 30px;
}

#logo {
	float: left;
	width: auto;
	margin-top: 12px;
	margin-left: -6px;
}

#logo-description {
	margin: 5px 0 0;
	line-height: 0px;
	color: #404040;
	font-family: Georgia, serif;
	font-size: 12px;
	font-weight: normal;
}

#header-right {
	float: right;
	width: auto;
	margin-right: -18px;
	margin-top: -5px;
	margin-bottom: -5px;
}

#header-date {
	position: absolute;
	right: 30px;
	bottom: -40px;
	line-height: 40px;
	color: #fff;
	font-family: 'Droid Serif', serif;
	font-size: 11px;
}


/*	##################################
   	MENU
	################################## */

.ts-menu-main {
	height: 40px;
	background: #333333 url(img/bg-dots.png);
}

.ts-menu-main ul {
	height: 40px;
	margin: 0 30px 0 28px;
	padding: 0 0 0 2px;
	background: url(img/bg-menu-item.png) repeat-y;
}

.ts-menu-main li {
	float: left;
	width: auto;
	background: none;
	list-style: none;
}

.ts-menu-main a {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 22px 0 18px;
	background: url(img/bg-menu-item.png) repeat-y right top;
	color: #fff;
	font-family: 'Droid Serif', serif;
	text-shadow: 1px 1px 0px #202020;
	text-decoration: none;
}

.ts-menu-main a:hover {
	text-decoration: underline;
}

.ts-menu-main a:active {
	top: 0px;
}


/*	##################################
   	SUBMENU
	################################## */

#sub-menu {
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	background: #f4f4f4;
	font-size: 11px;
	text-shadow: 1px 1px 0px #fff;
}

#sub-menu a {
	text-decoration: none;
}

#sub-menu a:hover {
	text-decoration: underline;
}

#sub-menu-left {
	float: left;
	width: auto;
	max-width: 620px;
	overflow: hidden;
}

#sub-menu-right {
	float: right;
	width: auto;
}


/*	##################################
   	CONTENT
	################################## */

#content {
	position: relative;
	float: left;
	width: 600px;
}

.ts-layout-2 #content {
	float: none;
	width: 920px;
}

.ts-layout-3 #content {
	float: right;
}

.box-wrap {
	margin: 0 -20px 0 0;
}

.page-template-page-tpl-videos-php .box-wrap,
.tax-video_tag .box-wrap {
	padding-bottom: 10px;
}

.page-template-page-tpl-videos-php #footer-bottom .box-wrap,
.tax-video_tag #footer-bottom .box-wrap {
	padding-bottom: 0px;
}

.hentry {
	padding: 0 0 10px;
}

.ts_category_teaser {
	max-width: 920px;
}

.ts_category_teaser .post {
	margin-right: 20px;
}

#sidebar .ts_category_teaser .post {
	padding-top: 5px;
	padding-bottom: 0px;
}

.widget_area_content-header .post,
.widget_area_single-bottom .post,
.widget_area_content-bottom .post {
	float: left;
	width: 450px;
	margin: 0 20px 0 0;
}

.widget_area_content-header.section-2 .post,
.widget_area_single-bottom.section-2 .post,
.widget_area_content-bottom.section-2 .post,
.widget_area_ts-footer.section-2 .post {
	margin-right: 21px;
}

.post-image {
	float: left;
	width: auto;
	margin: 0 20px 20px 0;
	color: #606060;
	font-size: 11px;
}

.post-image.right {
	float: right;
	margin: 0 0 20px 20px;
}

.ts_category_teaser .post-image {
	margin-bottom: 10px;	
}

.featured-post .post-image,
.post-image-dfa-large {
	float: none!important;
	margin: 0 0 15px!important;
}

#footer-bottom .featured-post .post-image,
#footer-bottom .post-image-dfa-large {
	float: left!important;
	margin: 0 20px 15px 0!important;
}

.ts-layout-2 .post-image-dfa-large {
	float: left!important;
	width: 600px!important;
	margin: 5px 20px 10px 0!important;
}

.ts-layout-2 .post-image-dfa-large.right {
	float: right!important;
	margin: 5px 0 10px 20px!important;
}

.ts-layout-2 #subpages .page {
	margin-right: 21px;
}

.section-2 .post-image {
	float: none;
	margin: 0 0 10px;
}

.post-image-dfa-medium,
.post-image-post-thumbnail {
	margin-top: 5px!important;
}

.post-image-dfa-medium {
	max-width: 205px;
}

.post-image-post-thumbnail {
	max-width: 135px;
}

.post-image-caption {
	float: left;
	width: auto;
	margin: 0 0 -10px;
	line-height: 20px;
}

.post-image-credit {
	float: right;
	width: auto;
	margin: 0 0 -10px;
	line-height: 20px;
}

.post-image-dfa-medium .post-image-caption,
.post-image-dfa-medium .post-image-credit,
.post-image-post-thumbnail .post-image-caption,
.post-image-post-thumbnail .post-image-credit {
	float: none;
	margin: 0px;
	clear: both;
}

.post-title {
	overflow: hidden;
}

.section-2 .post-title {
	overflow: visible;
}

.meta {
	margin: -5px 0 10px;
	padding: 0 0 0 20px;
	background: url(img/bg-square.png) no-repeat left center;
	font-size: 11px;
}

#footer-bottom .meta {
	background-image: url(img/bg-square-light.png);
}

.single #content .meta {
	margin-top: -15px;
}

.single #related .meta {
	margin-top: -5px;
}

.section-more {
	margin: -10px 0 0;
	padding: 0 0 10px;
}

.section-more a:hover {
	text-decoration: none;
}

#sidebar .section-2 .box-wrap,
#content-footer .section-2 .box-wrap {
	margin: 0 -25px 0 2px;
}

.section-2 .post,
.section-2 .page {
	float: left;
	width: 135px;
	margin: 0 20px 0 0;
}

.section-3 {
	max-width: 920px;
	margin: 0 0 30px;
	padding: 0px!important;
	background: #303030 url(img/bg-dots.png);
}

.archive .section-3 {
	margin-bottom: 20px;
}

.section-3 .section-content {
	margin: 0 -20px 0 0;
	padding: 0 0 0 20px;
}

.section-3 ul {
	margin: 0px;
	padding: 0px;
}

.section-3 li {
	float: left;
	margin: 0 20px 0px 0;
	padding: 0 0 10px;
	background: none;
	list-style: none;
}

#sidebar .section-3 ul {
	margin-bottom: 0px!important;
}

#content-footer .box {
	float: left;
	width: 290px;
	margin: 0 20px 0 0;
}

#content-bottom {
	margin: 0 -30px;
	padding: 20px 30px;
	background: #f4f4f4;
	text-align: center;
}

#single-bottom {
        margin: 0 -30px;
        padding: 20px 30px;
        background: #f4f4f4;
        text-align: center;
}

.action-link {
	padding-left: 10px;
	background: url(img/bg-arr-right.png) no-repeat left center;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
}

.actions-favorites {
	text-decoration: underline;
	cursor: pointer;
}

.post-tags,
.post-actions {
	font-size: 11px;
}

.post-actions a {
	color: inherit;
}

.post-actions .action-link {
	margin: 0 0 0 5px;
}

.page-template-page-tpl-videos-php .video,
.post-type-archive-video .video,
.tax-video_tag .video {
	position: relative;
	float: left;
	width: 205px;
	margin: 0 20px 0 0;
}

#ts-gallery {
	padding: 0 0 10px;
}

#ts-gallery h3 {
	margin-bottom: 20px;
}

#ts-gallery .ts-box {
	float: left;
	margin: 0 20px 20px 0;
}

.ts-layout-2 #ts-gallery .ts-box {
	margin-right: 21px;
}

span.favorites-remove {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 0 0 0 5px;
	padding: 0px;
	background: 
		url(img/bg-arr-cross-white.png) no-repeat center center,
		url(img/bg-dots-trans-dark.png);
	cursor: pointer;
	z-index: 10;
}

span.favorites-remove:hover {
	background: #3b5998 url(img/bg-arr-cross-white.png) no-repeat center center;
}

.category-description {
	margin-top: -10px;
}


/*	##################################
   	SIDEBAR
	################################## */

#sidebar {
	float: right;
	width: 300px;
}

.ts-layout-2 #sidebar {
	display: none;
}

.ts-layout-3 #sidebar {
	float: left;
}

#sidebar .section {
	padding-bottom: 10px;
	width: 100%;
}


/*	##################################
   	FOOTER
	################################## */
	
#footer {
	color: #808080;	
	font-size: 11px;
}

#footer a {
	color: inherit;
}

#footer-top {
	height: 50px;	
	line-height: 50px;
	padding: 0 30px;
	background: #303030 url(img/bg-dots.png);
	color: #bbbbbb;
}

#footer-top a {
	text-decoration: none;
}

#footer-top a:hover {
	text-decoration: underline;
}

#footer-top-left {
	float: left;
	width: auto;
}

#social {
	font-weight: bold;
	text-transform: uppercase;
}

#social img {
	margin: 10px 0 0 10px;
	vertical-align: top;
}

#footer-top-right {
	float: right;
	width: auto;
}

#footer-bottom {
	padding: 30px 30px 10px;
	background: #202020 url(img/bg-dots.png);
	color: #707070;
}

#footer-bottom .box {
	float: left;
	width: 290px;
	margin: 0 20px 0 0;
}

#footer-bottom a {
	color: #fff;
}

#footer-bottom .hentry {
	padding-bottom: 0px;
}

#subfooter {
	padding: 10px 30px 12px;
	line-height: 15px;
	background: #303030 url(img/bg-dots.png);
	color: #606060;
}

#subfooter-right {
	text-align: right;
}

#subfooter a {
	color: inherit;
}

#subfooter-logo {
	margin: 0 20px 0 0;
}

#subfooter-logo.right {
	margin: 0 0 0 20px;
}

a#totop {
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 30px;
	height: 30px;
	background:
		url(img/bg-arr-up-white.png) no-repeat center center,
		url(img/bg-dots-trans-dark.png);
}

a#totop:hover {
	background:
		url(img/bg-arr-up-white.png) no-repeat center center,
		url(img/bg-dots.png);
	background-color: #3b5998;
}

a#totop:active {
	position: fixed!important;
	top: auto;
	bottom: 14px;
}

/*	##################################
	COMMENTS
	################################## */
	
#commentform,
#respond {
	max-width: 600px;
}
	
.comments-title {
	position: relative;
	margin-bottom: 30px;
}

#respond .comments-title {
	margin-bottom: 20px;
}

.comments-title .action-link {
	float: right;
}

.comment-reply-link {
	margin: 0 0 0 3px;
	padding: 0 0 0 10px;
	background: url(img/bg-arr-left.png) no-repeat left center;
	color: #444;
	font-size: 11px;
	text-decoration: none;
}

#cancel-comment-reply-link {
	margin-left: 5px;
	text-decoration: none;
}

#cancel-comment-reply-link .action-link {
	float: none;
	background: url(img/bg-arr-left.png) no-repeat left center;
}

#commentlist {
	margin: -10px 0 0;
	padding: 0px;
}

#trackbacks {
	padding-top: 10px;
}

#trackbacklist {
	margin-bottom: 30px;
}

#commentlist li {
	padding: 0px;
	list-style: none;
}

#commentlist li ul {
	margin: 0px;
	padding: 0 0 0 20px;
}

.comment {
	clear: both;
}

.comment .avatar {
	float: left;
	margin: 5px 20px 30px 0;
}

.comment-meta {
	margin: 0px;
	font-size: 11px;
}

.comment-author {
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	font-style: normal!important;
}

.comment-text {
	overflow: hidden;
}

.comment-moderation {
	margin-bottom: 0px;
	padding-left: 10px;
	background: url(img/bg-arr-right.png) no-repeat left center;
}

.comment-locked {
	margin-bottom: -23px!important;
	text-align: right;
}

#respond form {
	position: relative;
	margin: 0 0 30px;
	padding: 15px 20px 10px;
	background: #f9f9f9 url(img/bg-dots.png);
}

#respond p {
	margin-bottom: 10px;
}

#respond input.text,
#respond textarea.text {
	width: 388px;
	border: none;
}

#respond textarea.text {
	width: 540px;
}

.depth-2 #respond {
	margin-left: -20px;
}

.depth-3 #respond {
	margin-left: -40px;
}

.depth-4 #respond {
	margin-left: -60px;
}

.depth-5 #respond {
	margin-left: -80px;
}

.depth-6 #respond {
	margin-left: -100px;
}

#commenterror {
	display: none;
	margin-left: 10px;
	padding-left: 25px;
	background: url(img/icons/20/alert.png) no-repeat left center;
	font-size: 11px;
}


/*	##################################
	PAGING
	################################## */

.ts-paging {
	height: 30px;
	margin: 0 0 20px;
	padding: 5px 15px 0;
	line-height: 30px;
	background: url(img/bg-dots.png);
	font-family: 'Droid Serif', serif;
	font-size: 11px;
	text-shadow: 1px 1px 0px #fff;
}

.ts-paging a,
.ts-paging span.current,
.ts-paging span.page-link,
.ts-paging span.page-pages {
	display: inline-block;
	margin: 0 10px 0 0;
	text-decoration: none;
	color: inherit;
}

.ts-paging span.page-link {
	text-decoration: underline;
}

.ts-paging span.page-pages {
	margin-right: 5px;
}

.ts-paging a .page-link {
	margin: 0px;
	text-decoration: none;
}

.ts-paging .right a {
	margin: 0 0 0 10px;
}

.ts-paging span.current {
	text-decoration: underline;
}

.ts-paging a:hover {
	color: #3b5998;
	text-decoration: underline;
}


/*  ##################################
	BUTTONS
    ################################## */

.btn {
	padding: 7px 25px 7px 28px;
	background: #3b5998 url(img/bg-arr-right-white.png) no-repeat 10px center;
	color: #fff!important;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
}

.btn-icon {
	padding-left: 40px;
	background-image: none;
	overflow: visible;
}

.btn:hover {
	background-color: #444!important;
}

#slides .btn:hover {
	background-color: #666!important;
}

.btn-big {
	padding: 7px 25px;
	background-image: url(img/bg-arr-right-white.png) no-repeat 20px center;
	font-size: 18px;
}

.btn-big.btn-icon {
	padding-left: 50px;
}


/*	##################################
   	ICON BUTTONS
	################################## */

a.btn {
	position: relative;
}

a.btn span.span-icon {
	position: absolute;
	top: 4px;
	left: 10px;
	width: 20px;
	height: 20px;
}

a.btn-big span.span-icon {
	top: 9px;
	left: 20px;
}

/*	##################################
   	INFO BOXES
	################################## */
	
.ts-info {
	position: relative;
	width: auto;
	margin: 0 0 20px;
	padding: 10px 20px;
	background: url(img/bg-dots.png);
}

.ts-info span {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
}

.info-icon {
	padding-left: 40px;
}

.ts-info-404 {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 24px;
	text-align: center;
}

#the404 {
	line-height: 350px;
	color: #3b5998;
	font-size: 400px;
	text-shadow: 10px 10px 0px #fff;
}


/*	##################################
   	ICON LINKS
	################################## */
	
.ts-link {
	padding: 3px 0 5px 25px!important;
}


/*	##################################
   	HORIZONTAL RULE
	################################## */

.ts-hr {
	height: 2px;
	margin: 20px 0;
	background: url(img/bg-dots.png);
	clear: both;
}


/*	##################################
   	ICONS
	################################## */

.icon-title {
	padding-left: 25px;
}

.icon-about {
	background:url(img/icons/20/about.png) no-repeat left center;
}

.icon-alert {
	background:url(img/icons/20/alert.png) no-repeat left center;
}

.icon-appointment {
	background:url(img/icons/20/appointment.png) no-repeat left center;
}

.icon-bulb {
	background:url(img/icons/20/bulb.png) no-repeat left center;
}

.icon-checked {
	background:url(img/icons/20/checked.png) no-repeat left center;
}

.icon-disc {
	background:url(img/icons/20/disc.png) no-repeat left center;
}

.icon-download {
	background:url(img/icons/20/download.png) no-repeat left center;
}

.icon-error {
	background:url(img/icons/20/error.png) no-repeat left center;
}

.icon-favorite {
	background:url(img/icons/20/favorite.png) no-repeat left center;
}

.icon-find {
	background:url(img/icons/20/find.png) no-repeat left center;
}

.icon-gear {
	background:url(img/icons/20/gear.png) no-repeat left center;
}

.icon-info {
	background:url(img/icons/20/info.png) no-repeat left center;
}

.icon-internet {
	background:url(img/icons/20/internet.png) no-repeat left center;
}

.icon-ipod {
	background:url(img/icons/20/ipod.png) no-repeat left center;
}

.icon-laboratory {
	background:url(img/icons/20/laboratory.png) no-repeat left center;
}

.icon-license {
	background:url(img/icons/20/license.png) no-repeat left center;
}

.icon-locked {
	background:url(img/icons/20/locked.png) no-repeat left center;
}

.icon-mail {
	background:url(img/icons/20/mail.png) no-repeat left center;
}

.icon-note {
	background:url(img/icons/20/note.png) no-repeat left center;
}

.icon-package {
	background:url(img/icons/20/package.png) no-repeat left center;
}

.icon-preferences {
	background:url(img/icons/20/preferences.png) no-repeat left center;
}

.icon-refresh {
	background:url(img/icons/20/refresh.png) no-repeat left center;
}

.icon-rss {
	background:url(img/icons/20/rss.png) no-repeat left center;
}

.icon-software {
	background:url(img/icons/20/software.png) no-repeat left center;
}

.icon-support {
	background:url(img/icons/20/support.png) no-repeat left center;
}

.icon-user {
	background:url(img/icons/20/user.png) no-repeat left center;
}


/*  ##################################
    WORDPRESS CSS
    ################################## */

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.aligncenter {
    margin-bottom: 20px!important;
}

.alignleft {
	float: left;
	width: auto;
	margin: 0 20px 20px 0;
}

.alignright {
	float: right;
	width: auto;
	margin: 0 0 20px 20px;
}

.alignnone {
	margin: 0 0 20px;
}

.wp-caption {
	color: #606060;
    font-size: 11px;
}

.wp-caption img {
	float: none;
	margin: 5px 0 0;
	padding: 0px;
	border: none;
}

.wp-caption-text {
	margin: 0 0 -15px;
}

.gallery {
	padding: 0 0 20px;
}

.gallery-icon img {
	border: none!important;
}

/** MULTISITE SIGNUP */

.mu_register {
	width: 100%!important;
	margin: 0 0 20px!important;
}

.mu_register h2 {
	margin: 0 0 10px;
	padding: 0 0 0 20px;
	line-height: 20px;
	background: url(img/bg-square.png) no-repeat 0px 5px;
	color: #404040;
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.mu_register form {
	margin-top: 0px!important;
}

.mu_register label {
	margin-bottom: 0px!important;
	font-weight: normal!important;
}

.mu_register #blog_title,
.mu_register #user_email,
.mu_register #blogname,
.mu_register #user_name {
	width: 330px!important;
	margin: 0px!important;
	padding: 8px 10px;
	background: #fff;
	color: #606060;
	border: 1px solid #ddd;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px!important;
}

.mu_register input[type="submit"] {
	width: auto!important;
	padding: 7px 25px 7px 28px!important;
	background: #3b5998 url(img/bg-arr-right-white.png) no-repeat 10px center;
	color: #fff!important;
	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 12px!important;
	text-decoration: none;
}

.mu_register .mu_alert,
.mu_register .error {
	width: 312px;
	margin: 5px 0 10px;
	padding: 10px 20px!important;
	background: url(img/bg-dots.png)!important;
	border: none!important;
	font-weight: normal!important;
}


/*  ##################################
    WIDGET CSS
    ################################## */

.textwidget,
.tagcloud {
	margin: 0 0 20px;
}

.tagcloud {
	line-height: normal;
}

.ts-bar {
	margin-bottom: 30px;
	padding: 10px 20px 20px;
	background: url(img/bg-dots.png);
}

#sidebar .ts-bar {
	width: 260px;
}

.bar-text {
	float: left;
	width: auto;
	line-height: 40px;
	color: #555;
	font-size: 20px;
	letter-spacing: 1px;
}

#sidebar .bar-text {
	margin-bottom: 15px;
}

.ts-bar .btn-big {
	float: right;
	width: auto;
}

#sidebar .ts-bar .btn-big {
	width: 240px;
	padding: 5px 10px;
	text-align: center;
}

.widget_archive select,
.widget_categories .postform {
	width: 300px;
	margin: 0 0 30px;
}

#footer-bottom .widget_archive select,
#footer-bottom .widget_categories .postform {
	width: 290px;
}

.widget_ts_search {
	margin: 0 0 30px;
}

.widget_ts_search .searchform .text {
	width: 278px;
}

.widget_ts_search .searchform .submit {
	display: none;
}

.widget_ts_features .wp-post-image,
.widget_ts_features .wp-post-image.left {
	float: left;
	margin: 0 20px 10px 0;
}

.widget_ts_features .wp-post-image.right {
	float: right;
	margin: 0 0 10px 20px;
}

#footer-bottom .widget_ts_features .wp-post-image,
#footer-bottom .widget_ts_features .wp-post-image.left {
	margin: 0 10px 5px 0;
}

#footer-bottom .widget_ts_features .wp-post-image.right {
	margin: 0 0 5px 10px;
}

.widget_ts_video_teaser .wp-post-image {
	float: none!important;
	margin: 0px!important;
}

.widget_ts_video_teaser li {
	position: relative;
}

.video-link {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 270px;
	height: 180px;
	background: url(img/bg-video-overlay.png) no-repeat center center;
}

.video-link:active {
	position: absolute;
	top: 0px;
}

#sidebar .video-link {
	width: 260px;
	height: 173px;
}

.page-template-page-tpl-videos-php .video-link,
.tax-video_tag .video-link,
#content-header .video-link,
#single-bottom .video-link,
#content-bottom .video-link,
#content-footer .video-link {
	width: 205px;
	height: 137px;
}

#wp-calendar {
	width: 100%;
	margin: 0 0 30px;
}

#wp-calendar caption,
#wp-calendar tfoot {
	margin-bottom: 10px;
	background: url(img/bg-dots.png);
}

#wp-calendar tfoot td {
	padding: 0 10px;
}

.widget_ts_contact {
	position: relative;
}

#tellafriend,
#backtocontact {
	position: absolute;
	top: 5px;
	right: 0px;
}

.widget_ts_twitter img {
	float: left;
	margin: 5px 10px 0 0;
}

.tweet-wrap {
	clear: both;
}


/*  ##################################
    SUPERFISH CSS
    ################################## */

/** ESSENTIAL STYLES */

.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}

.sf-menu {
	line-height:	1.0;
}

.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			75px; /* left offset of submenus need to match (see below) */
}

.sf-menu ul li {
	width:			100%;
}

.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-menu li {
	display: 		inline;
	position:		relative;
	width: 			auto;
	list-style: 	none;
}

.sf-menu a {
	display:		inline-block;
	position:		relative;
}

/** MAIN MENU */

.ts-menu-main .sf-menu li:hover ul,
.ts-menu-main .sf-menu li.sfHover ul {
	left:			-1px;
	top:			40px; /* match top ul list item height */
	z-index:		9999;
}

.ts-menu-main .sf-menu li:hover li ul,
.ts-menu-main .sf-menu li.sfHover li ul {
	top:			-999em;
}

.ts-menu-main .sf-menu li li:hover ul,
.ts-menu-main .sf-menu li li.sfHover ul {
	left:			75px; /* match ul width */
	top:			-10px!important;
}

.ts-menu-main .sf-menu li li:hover li ul,
.ts-menu-main .sf-menu li li.sfHover li ul {
	top:			-999em;
}

.ts-menu-main .sf-menu ul {
	height: auto;
	margin: 0px;
	padding: 12px 0 0;
	background: #fff;
	-moz-box-shadow:0 2px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
	z-index: 1;
}

.ts-menu-main .sf-menu li li {
	height: auto;
	margin: 0px;
	padding: 0px;
	background: none;
}

.ts-menu-main .sf-menu li li a,
.ts-menu-main .sf-menu li li a:visited {
	display: block;
	float: left;
	height: auto;
	padding: 0 20px 12px;
	line-height: 20px;
	background: none;
	color: #303030;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
}

.ts-menu-main .sf-menu li li a:hover {
	color: #606060;
}

.ts-menu-main .sf-menu li li a:active {
	top: 0px;
}

/** SMALL MENU */

.ts-menu-top-left .sf-menu a {	
	margin: 0 10px 0 0;
}

.ts-menu-top-right .sf-menu a {
	margin: 0 0 0 10px;
}

.ts-menu-top-left .sf-menu li,
.ts-menu-top-left .sf-menu a,
.ts-menu-top-right .sf-menu li,
.ts-menu-top-right .sf-menu a {
	height: 30px;
	line-height: 30px;
}

.ts-menu-bottom-right .sf-menu li {
	margin: 0 0 0 10px;
}

.ts-menu-bottom-right .sf-menu li,
.ts-menu-bottom-right .sf-menu a {
	height: 50px;
	line-height: 50px;
}

.ts-menu-top-left .sf-menu li:hover ul,
.ts-menu-top-left .sf-menu li.sfHover ul,
.ts-menu-top-right .sf-menu li:hover ul,
.ts-menu-top-right .sf-menu li.sfHover ul {
	left:			-10px;
	top:			35px; /* match top ul list item height */
	z-index:		9999;
}

.ts-menu-bottom-right .sf-menu li:hover ul,
.ts-menu-bottom-right .sf-menu li.sfHover ul {
	left:			-10px;
	top:			31px; /* match top ul list item height */
	z-index:		9999;
}

.ts-menu-top-left .sf-menu li:hover li ul,
.ts-menu-top-left .sf-menu li.sfHover li ul,
.ts-menu-top-right .sf-menu li:hover li ul,
.ts-menu-top-right .sf-menu li.sfHover li ul,
.ts-menu-bottom-right .sf-menu li:hover li ul,
.ts-menu-bottom-right .sf-menu li.sfHover li ul {
	top:			-999em;
}

.ts-menu-top-left .sf-menu li li:hover ul,
.ts-menu-top-left .sf-menu li li.sfHover ul,
.ts-menu-top-right .sf-menu li li:hover ul,
.ts-menu-top-right .sf-menu li li.sfHover ul,
.ts-menu-bottom-right .sf-menu li li:hover ul,
.ts-menu-bottom-right .sf-menu li li.sfHover ul {
	left:			75px; /* match ul width */
	top:			0px!important;
}

.ts-menu-top-left .sf-menu li li:hover li ul,
.ts-menu-top-left .sf-menu li li.sfHover li ul,
.ts-menu-top-right .sf-menu li li:hover li ul,
.ts-menu-top-right .sf-menu li li.sfHover li ul,
.ts-menu-bottom-right .sf-menu li li:hover li ul,
.ts-menu-bottom-right .sf-menu li li.sfHover li ul {
	top:			-999em;
}

.ts-menu-top-left li,
.ts-menu-top-right li,
.ts-menu-bottom-right li {
	list-style: none;
}

.ts-menu-top-left .sf-menu ul,
.ts-menu-top-right .sf-menu ul,
.ts-menu-bottom-right .sf-menu ul {
	height: auto;
	margin: 0px;
	padding: 10px 8px 2px!important;
	background: #fff;
	-moz-box-shadow:0 2px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.3);
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
	z-index: 1;
}

.ts-menu-top-left .sf-menu li li,
.ts-menu-top-right .sf-menu li li,
.ts-menu-bottom-right .sf-menu li li {
	height: auto;
	margin: 0px;
	padding: 0px;
	background: none;
}

.ts-menu-top-left .sf-menu li li a,
.ts-menu-top-left .sf-menu li li a:visited,
.ts-menu-top-right .sf-menu li li a,
.ts-menu-top-right .sf-menu li li a:visited,
.ts-menu-bottom-right .sf-menu li li a,
.ts-menu-bottom-right .sf-menu li li a:visited {
	display: block;
	float: left;
	height: auto!important;
	margin: 0px;
	padding: 0 5px 10px;
	line-height: 14px!important;
	background: none;
	color: #303030;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.ts-menu-top-left .sf-menu li li a:hover,
.ts-menu-top-right .sf-menu li li a:hover,
.ts-menu-bottom-right .sf-menu li li a:hover {
	color: #606060;
}

.ts-menu-top-left .sf-menu li li a:active,
.ts-menu-top-right .sf-menu li li a:active,
.ts-menu-bottom-right .sf-menu li li a:active {
	top: 0px;
}
    

/*  ##################################
    USEFUL
    ################################## */
    
.left {
	float: left;
	width: auto;
}

.right {
	float: right;
	width: auto;
}


/*  ##################################
    CLEARING
    ################################## */

.clear {
	clear: both!important;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}


/*  ##################################
    PLUGIN CSS
    ################################## */
    
/* Gravityforms */

.gform_fields {
	padding: 0px;
}

.gfield {
	margin: 0 0 10px;
}

.gfield_html {
	padding-top: 10px;
}

.gform_wrapper h3.gform_title {
	color: #404040;
}

.gform_wrapper input[type=text],
.gform_wrapper input[type=url],
.gform_wrapper input[type=email],
.gform_wrapper input[type=tel],
.gform_wrapper input[type=number],
.gform_wrapper input[type=password],
.gform_wrapper .textarea {
	line-height: 25px;
	background: #fff;
	border: 1px solid #e9e9e9;
	color: #444!important;
	font-family: Arial, sans-serif;
	font-size: 12px!important;
}

.chzn-search input,
.chzn-container-multi input {
	line-height: normal!important;
}

.gform_button,
.gform_next_button,
.gform_previous_button {
	padding: 7px 25px 7px 28px;
	background: #3b5998 url(img/bg-arr-right-white.png) no-repeat 10px center;
	color: #fff!important;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer;
}

.gform_next_button,
.gform_previous_button {
	padding-left: 25px;
	background-image: none;
}

.gform_previous_button {
	margin-right: 10px;
}

.gform_button:hover,
.gform_next_button:hover,
.gform_previous_button:hover {
	background-color: #444!important;
}

#sidebar div.wrapper {
	margin-left: 30px;
	line-height: 24px;
}
#sidebar div.wrapper:before {
   	content: url(img/bg-square.png);
	margin-left: -20px;
	margin-top: 7px;
	position: absolute;
}

table#wp-calendar tbody {
   text-align: center;
}
#header {
   padding: 20px;
}
.stockdown {
  font-weight: bold;
}
.stockup {
  font-weight: bold;
}
.currency {
  font-weight: bold;
}
.stocks-container {
   width: 920px !important;
}
.stocks-container {
	border-bottom: none !important;
	margin: -25px auto !important;
	padding: 0px 0px !important;
	height: 0px !important;
	overflow: visible !important;
}
.section-content {
   margin: 0 0px 0 0 !important;
}
#logo-description {
   font-size: 13px !important;
   font-family: Tahoma, Helvetica, sans-serif;
   margin: 0 0 0 48px;
}
.section-title-2 {
   position: static !important;
}
html[xmlns] .clearfix {
   display: inline-block !important;
}
#subfooter {
   width: 920px;
}
#twtr-widget-1 .twtr-join-conv {
 display: none;
}
#twtr-widget-1 .twtr-bd {
 font-size: 1.00em;
}
#twtr-widget-1 .twtr-bd a  {
 font-weight: bold;
 font-size: 1.00em;
 font-family: Calibri;
}
div.widget_ts_video_teaser  img { 
   height: 154px !important; 
}
div#sidebar .widget_wp-category-archive select { width: 100%; }

.widget_calendar_medium_size {
	width: 300px !important;
}
