.grid-lead-slideshow .flexslider-caption {
	font: normal 400 16px/120% "Open Sans", Arial, sans-serif;
}

.main-white {
	background: #fff;
	overflow: hidden;
}

body.section #wrapper .content .below-fold.wrapper {
	margin: 0 auto;
	max-width: 916px;
	width: auto;
}
body.section #wrapper .content .below-fold.wrapper .main {
	width: 100%;
}

body.section.category .below-fold .headlines .headline h3 {
	display: none;
}

body.section.category #wrapper .main-white .header {
	height: 60px;
	margin: 0 auto;
	width: 916px;
}
body.section.category #wrapper .main-white .content {
	margin: 0 auto 10px;
	width: 916px;
}
body.section.category #wrapper .main-white .header h1,
.page-template-page-twocolumn-php .main-white .section h1,
#page-header h1, #page-header h1 a {
	color: #4c4c4c;
	display: block !important;
	border: 0;
	font: normal 300 22px/60px "Open Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-transform: none;
}
#page-header h1 a {
	background: transparent url(images/gray-arrow.png) right center no-repeat;
	display: inline !important;
	padding-right: 20px;
}

body.section.home.sections-style-blue.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline h3 {
	background-image: none !important;
	color: white !important;
	font: normal 400 16px/50px "Open Sans", Arial, sans-serif !important;
	height: 50px !important;
	padding: 0 13px;
	text-shadow: none !important;
	text-transform: uppercase !important;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline a.more {
	background: transparent url(images/arrow-right-white.png) no-repeat right 15px !important;
	font: normal 400 16px/50px "Open Sans", Arial, sans-serif !important;
	height: 50px !important;
	padding-right: 25px
}

body.section.home.sections-style-blue.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline.news h3 {
	background-color: #4fc4ff !important;
}
body.section.home.sections-style-blue.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline.sports h3 {
	background-color: #173976 !important;
}
body.section.home.sections-style-blue.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline.entertainment h3 {
	background-color: #e50278 !important;
}

body.section.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul {
	background-color: transparent;
	padding: 0;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul {
	margin: 2px 0 0 -8px;
}
body.section.category.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li {
	float: none;
	height: auto;
	margin: 0 0 20px;
	min-height: 100px;
	overflow: hidden;
	padding: 0;
	width: 95%;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li {
	float: left;
	height: 285px;
	margin: 0 0 8px 8px;
	padding: 0;
	position: relative;
	width: 300px;
}
body.section.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.thumb {
	border: none;
	display: block;
	float: left;
	height: 100px;
	padding: 0;
	width: 179px;
}
body.section.category.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.thumb {
	margin: 0 8px 0 0;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.thumb {
	float: none;
	height: 178px;
	width: 300px;
}
body.section.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.thumb img {
	display: block;
	height: auto;
	width: 179px;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.thumb img {
	width: 330px;
}
body.section.category.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.title,
body.section.category.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.title strong {
	color: black;
	font: normal 400 16px/120% "Open Sans", Arial, sans-serif;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.title {
	color: black;
	display: block;
	font: normal 400 13px/18px "Open Sans", Arial, sans-serif;
	max-height: 75px;
	padding: 10px 0 0;
	width: 100%;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li.no-thumbnail a.title {
	background: url(images/cbs-eye-default-image.jpg) 0 0 no-repeat;
	padding-top: 188px;
}
body.section.home.section-style-best-of #wrapper .content .below-fold.wrapper .headlines.best-of-style .headline ul li a.title strong {
	display: block;
	font-weight: normal;
	padding: 0 10px;
}
body.category.section.sections-style-blue .content .below-fold.wrapper .headlines.best-of-style .headline a.more {
	display: none;
}

.category.category-news .headlines.best-of-style .headline .no-thumbnail a.title {
	background: transparent url(images/no-thumbnail-news.png) 0 0 no-repeat;
	display: block;
	min-height: 100px;
	overflow: hidden;
	padding-left: 187px;
}
.category.category-sports .headlines.best-of-style .headline .no-thumbnail a.title {
	background: transparent url(images/no-thumbnail-sports.png) 0 0 no-repeat;
	display: block;
	min-height: 100px;
	overflow: hidden;
	padding-left: 187px;
}
.category.category-entertainment .headlines.best-of-style .headline .no-thumbnail a.title {
	background: transparent url(images/no-thumbnail-entertainment.png) 0 0 no-repeat;
	display: block;
	min-height: 100px;
	overflow: hidden;
	padding-left: 187px;
}

#footer-markets-list a {
	font-family: "Open Sans";
	font-weight: 400;
}

.cols .big-left .latest-posts-shortcode a {
	color: black;
	display: block;
	float: none;
	height: auto;
	margin: 0 0 20px;
	min-height: 10px;
	overflow: hidden;
	padding: 0;
	width: 95%;
}
.cols .big-left .latest-posts-shortcode a img {
	border: none;
	display: block;
	float: left;
	height: 100px;
	margin: 0 8px 0 0;
	padding: 0;
	width: 179px;
}
.cols .big-left .latest-posts-shortcode a .caption p {
	font: normal 400 16px/120% "Open Sans", Arial, sans-serif;
	padding: 0;
}

.page-template-page-twocolumn-php .main-white .section,
.page-template-page-twocolumn-php .main-white .cols {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 916px;
}
.page-template-page-twocolumn-php .main-white .cols .big-left {
	width: 600px;
}


#page-header {
	margin: 0 auto;
	position: relative;
	background-color: #0085cf;
	color: white;
}
#page-header .top-listen-live {
	background: transparent url(images/top-listen-live.png) 0 0 no-repeat;
	display: block;
	height: 30px;
	overflow: hidden;
	position: absolute;
	right: 30px;
	text-indent: -500px;
	top: 15px;
	width: 140px;
}

.page-columns {
	padding: 0 10px 0 15px;
	width: 945px;
}

/*.page-columns .two-column {
    width: 620px;
}*/
body .section {
	border-bottom: none;
}

.big-left .entry-toolbar,
aside .listen-live-action {
	display: none;
}

#breaking {
	margin: 0 auto;
	width: 940px;
}


.blocks-wrapper {
	display: block;
	overflow: hidden;
	margin-top: 30px;
}

.content-text-block,
.radio-link-block,
.fsl-link-block,
.roadshow-app-block,
.yourday-app-block,
.radio-app-block {
	background: transparent url(images/about-us-blocks.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 270px;
	margin: 0 1px 1px 0;
	overflow: hidden;
	position: relative;
	width: 300px;
}

.roadshow-app-block,
.yourday-app-block,
.radio-app-block {
	height: 300px;
}

.radio-link-block,
.fsl-link-block,
.roadshow-app-block,
.yourday-app-block,
.radio-app-block {
	text-indent: -500px;
}

.content-text-block {
	background: #56a8e3;
	color: white;
	font: normal 400 16px/120% "Open Sans", Arial, sans-serif;
	padding: 0 25px;
	width: 250px;
}
.content-text-block strong {
	display: block;
	font-size: 22px;
	line-height: 120%;
	font-weight: normal;
	padding: 30px 0 10px;
}
.content-text-block span {
	display: block;
	padding: 0 30px;
}

.radio-link-block {
	background-position: -302px 0;
	width: 310px;
}
.fsl-link-block {
	background-position: -616px 0;
}

.roadshow-app-block {
	background-position: 0 -272px;
}
.yourday-app-block {
	background-position: -302px -272px;
	width: 310px;
}
.radio-app-block {
	background-position: -616px -272px;
}

.sidebar .sidebar-widget {
	margin-bottom: 20px;
}
.sidebar .sidebar-widget h3.title {
	background: none;
	border: 0;
	color: black;
	font: normal 400 16px/120% "Open Sans", Arial, sans-serif;
	margin: 0 0 10px;
	padding: 0;
	text-transform: uppercase;
}
.sidebar .sidebar-widget .top-stories .post-link-node {
	display: block;
	margin: 0;
	max-height: 250px;
	overflow: hidden;
	padding: 0;
	position: relative;
	text-decoration: none;
}
.sidebar .sidebar-widget .top-stories .post-link-node .caption {
	background-color: #4fc4ff;
	bottom: 0;
	color: white;
	font: normal 400 14px/120% "Open Sans", Arial, sans-serif;
	left: 0;
	position: absolute;
}
.sidebar .sidebar-widget .top-stories .post-link-node.no-thumbnail .caption {
	position: static;
}
.sidebar .sidebar-widget .top-stories.sports .post-link-node .caption {
	background-color: #173976;
}
.sidebar .sidebar-widget .top-stories.entertainment .post-link-node .caption {
	background-color: #e50278;
}
.sidebar .sidebar-widget .top-stories .post-link-node .caption .title {
	padding: 10px;
}
.sidebar .sidebar-widget .top-stories .view-all {
	background: transparent url(images/arrow-right-black.png) right center no-repeat;
	color: black;
	display: block;
	font: normal 400 15px/20px "Open Sans", Arial, sans-serif;
	height: 20px;
	margin: 10px 0 0;
	overflow: hidden;
	padding: 0 30px 0 0;
	text-align: right;
}
