@CHARSET "UTF-8";

html {
    overflow-y:scroll;
}
body {
    min-height:100%;
    font-family: Meiryo,wf_SegoeUI,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,"MS PGothic","Osaka", Arial,sans-serif;
    line-height: 1.2em;
    padding: 0;
    margin: 0;
    word-break: break-all;
}
h1, h2, h3, h4, p, ul, dl, dt, dd, p, form{
    margin: 0;
    padding: 0;
    font-size: 100%;
}
li {
    list-style: none;
}
nav,header,article,section,aside {
    display: block;
}
a img {
    border: none;
    vertical-align: bottom;
}
/***

***/
#contents {
    min-height: 800px;
    min-width: 1000px;
    width: 100%;
    overflow: hidden;
}
#preview #contents {
    background-image: none;
    min-width: 500px;
}
#contents:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
.wrapper {
    width: 994px;
    margin: 0 auto;
    position: relative;
}
.wrapper:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}

/***

***/
body > header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
}
body > header:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
body > header .right {
    width: 994px;
    float: right;
}
body > header h1,
body > header p {
    font-size: 120%;
    float: left;
    font-weight: bold;
    width: 110px;
}
body > header h1 a,
body > header p a{
    padding: 3px 5px 2px 5px;
    display: block;
    color: #0000de;
    text-decoration: none;
    color: #666666;
}
body > header h1 a img,
body > header p a img{
    float: left;
}
body > header h1 a:AFTER,
body > header p a:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
body > header h1 a:HOVER,
body > header p a:HOVER{
    background-color: #e3e3e3;
    text-decoration: underline;
}
body > header nav {
    float: left;
}
body > header nav ul{
    margin: 0 0.7em 0;
    font-size: 90%;
}
body > header nav li{
    float: left;
}
body > header nav li a{
    display: block;
    background-image: url('http://img2.exploader.net/images/svg/icon_menu_set.svg');
    background-repeat: no-repeat;
    background-position: 3px 3px;
    line-height: 17px;
    padding: 8px 5px 7px 28px;
    text-decoration: none;
    color: #333333;
}
body > header nav li:nth-child(1) a{background-position:5px -56px;}
body > header nav li:nth-child(2) a{background-position:5px -120px;}
body > header nav li:nth-child(3) a{background-position:5px -184px;}
body > header nav li:nth-child(4) a{background-position:5px -248px;}
body > header nav li a:HOVER{
    background-color: #e3e3e3;
    text-decoration: underline;
}
body > header form {
    float: right;
    position: relative;
    width: 15em;
    height: 2em;
    display: block;
}
body > header form div{
    display: block
}
body > header form div:nth-child(1) {
    position: absolute;
    left: 0;
    top: 3px;
    border: 1px solid #999999;
    background-color: #ffffff;
    width: 11em;
}
body > header form div:nth-child(2) {
    position: absolute;
    right: 0;
    top: 3px;
    border: 1px solid #4d90fe;
    width: 4em;
    background: #4d90fe;
}

body > header form input {
    border: none;
    margin: 0;
    font-size: 100%;
    display: block;
}
body > header form input[type="text"] {
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
    height: 22px;
    width: 90%;
    
}
body > header form input[type="submit"] {
    background-color: transparent;
    color: #ffffff;
    padding: 0;
    font-weight: bold;
    height: 22px;
    width: 100%;
}
body > header form:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}

/***

***/
body > article,
body > aside{
    width: 994px;
    margin: 0 auto;
}
.wrapper > article {
    float: right;
    width: 750px;
    padding-top: 0.7em;
}
.wrapper > aside {
    float: left;
    width: 180px;
    width: 234px;
    padding-top: 0.7em;
}

/***
広告
***/
section.center {
    border: 1px solid #999999;
    margin-bottom: 0.7em;
    padding-left: 2px;
    padding-top: 7px;
    padding-bottom: 3px;
    background-color: #ffffff;
}
section.center:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}

section.center section{
    width: 127px;
    overflow: hidden;
    float: left;
    position: relative;
    padding-bottom: 1em;
}

section.center section.game{
    padding-left: 2px;
    width: 232px;
    max-height: 170px;
    overflow: hidden;
}

section.center section h2,
section.center section p {
}

section.center section h2 {
    font-size: 90%;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 5px 0;
    line-height: 1.1em;
    color: #0000de;
    background-color: rgba(255, 255, 255, 0.9);
}

section.center section p{
    text-align: center;
}
section.center section img{
    max-width: 100%;
}
section.dmm_onlinegame {
    width: 550px;
}

section.preview {
    margin-bottom: 0.7em;
}

section.preview img{
    max-width: 100%;
    max-height: 100%;
}
section.ranking {
    float: right;
    width: 180px;
}
.pr1 {
    margin-bottom: 5px;
    margin-top: -3px;
}
.pr2 {
    background-color: #FFF5CA;
    max-height: 230px;
    overflow: hidden;
}

/***

***/
section.files{
    margin-bottom: 0.7em;
    position: relative;
    border: 1px solid #f39c12;
}
section.files h2{
    background-color: #f39c12;
    color: #ffffff;
    padding: 4px 0.7em 5px 0.7em;
}

.pr1 section.files{
    border: 1px solid #60afff;
}
.pr1 section.files h2{
    background-color: #60afff;
}
.pr1 section.files section.lock:before {
    content: none;
}
.pr1 section.files .list{
    padding-bottom: 5px;
    background-color: #d2e9ff;
}
section.files .pr2 section.lock:before {
    content: "PR";
    background-color: #60afff;
    background-color: rgba(96, 175, 255, 0.9);
    left: 0;
}

/* ソート */

section.files #sort {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 6;
  width: 15em;
}
section.files #sort a{
    display: block;
    padding: 4px 2.7em 4px 0.7em;
    position: relative;
    color: #0000de;
    background:#ffffff;
    text-decoration: none;
}
section.files #sort p {
    display: block;
}
section.files #sort p a{
    border-left: 1px solid #f39c12;
}

section.files #sort ul{
    border-left: 1px solid #f39c12;
    border-bottom: 1px solid #f39c12;
    display: none;
}
section.files #sort ul:AFTER {
    content:".";
    display:block;
    clear: left;
    height: 0;
    visibility: hidden;
}

section.files #sort a:hover {
    text-decoration: underline;
}

section.files #sort p a:after {
    display:block;
    content:"";
    position: absolute;
    top: 42%;
    right: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #000000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


section.files #listmode {
    position: absolute;
    right: 15em;
    top: 0px;
    z-index: 6;
    width: 6em;
    font-size: 100%;
    border: none;
    padding: 0 5px;
}


/* ページャー */
section.files > nav {
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;
    text-align: center;
    position: relative;
}
section.files > nav.top {
    border-bottom: 1px solid #e3e3e3;
}
section.files > nav.bottom {
    border-top: 1px solid #e3e3e3;
}
section.files > nav:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
section.files > nav ul {
    margin-left: 1em;
}
section.files > nav ul:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
section.files > nav ul li{
    float: left;
    margin: 0 0.4em;
}

section.files > nav ul li a{
    display: block;
    min-width: 3em;
    line-height: 1.5em;
    padding: 3px 0.7em 2px;
    color: #0000de;
    text-decoration: underline;
    font-size: 90%;
    border-bottom: 3px solid #ffffff;
}

section.files > nav ul li a:HOVER{
    background-color: rgba(240, 240, 240, 0.9);
    border-bottom-color: rgba(240, 240, 240, 0.9);
}
section.files > nav.top ul li.selected a{
    border-bottom-color: #dd4b39;
}
section.files > nav ul li.selected a{
    color: #dd4b39;
    text-decoration: none;
}
section.files > nav p {
    position: absolute;
    right: 3px;
    top: 50%;
    margin-top:-11px;
}
section.files > nav p a{
    display:block;
}
section.files > nav p img{
}


/* ファイル一覧 */
section.files .list{
    background-color: #FFF5CA;
    padding: 5px 0 0 1px;
    overflow: hidden;
}
section.files .list:AFTER {
    content:".";
    display:block;
    clear:left;
    height: 0;
    visibility: hidden;
}

section.files div .list {
    padding-top: 0;
}
section.files ul.list{
    background-color: #FFF5CA;
    padding: 5px 0 0 1px;
    overflow: hidden;
}
section.files .list .list {
    padding: 0;
}
section.files ul.list li{
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    height: 195px;
    width: 144px !important;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 0;
    background-color: white;
}

section.files ul.list li.minnano,
section.files ul.list li.netch,
section.files ul.list li.pr1,
section.files ul.list li.pr2{
    width: auto !important;
    clear: both;
    height: auto;
    text-align: center;
    border: none;
    background: none;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    float: none;
}

section.files ul.list > li > a > section{
    border: 1px solid #999999;
}
section.files ul.list > li > a > section h3{
    left: 1px;
    bottom: 1px;
    width: auto;
    right: 1px;
}
section.files .list li.minnano{
    height: 180px;
}
section.files .list li.netch{
    height: 180px;
}
section.files .list li.pr1,
section.files .list li.pr2{
    height: auto;
    margin-top: 0;
    margin-left: 0;
}
section.files .list li a{
    display: block;
}
section.files .list > a > section{
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    height: 193px;
    width: 142px !important;
    border: 1px solid #999999;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 0;
    background-color: white;
}
section.files .list a:HOVER section.free {
    border-color: rgba(46, 204, 113, 0.8);
}

section.files .list a:HOVER section.lock {
    border-color: rgba(243, 156, 18, 0.8);
}
section.files .list section:last-child:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
section.files .list section h3{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 80%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
    padding: 2px 3px 3px;
    z-index: 3;
}

section.files .list section h3 a{
    text-decoration: none;
}
section.files section p {
    display: block;
    text-align: center;
    background-color: #ffffff;
    margin-left: 0;
    overflow: hidden;
}
section.files section p:nth-of-type(1) {
    height: 189px;
    width: 142px;
    margin: 2px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
section.files section img {
    max-width: 100%;
    padding-top: 2px;
}
section.files .list > div.minnano{
    clear: left;
    margin: 0 0 0 4px;
    width: 730px;
}
section.files .list > div.netch{
    clear: left;
    margin: 0 auto 5px;
    width: 550px;
}
section.files > p {
    background-color: #E9FFE9;
}

section.files > p a{
    display: block;
    padding-top: 3px;
    padding-bottom: 2px;
    position: relative;
    color: #FFFFFF;
    font-size: 80%;
    line-height: 1em;
    margin: 0 auto;
    width: 30%;
    background-color: #2ecc71;
    border-top: 1px solid #2ecc71;
    border-left: 1px solid #2ecc71;
    border-right: 1px solid #2ecc71;
    border-radius: 10px 10px 0 0;
    text-align: center;
    text-decoration: none;
}

section.files section.free:BEFORE,
section.files section.lock:BEFORE{
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    padding: 0px 7px;
    line-height: 18px;
    font-size: 80%;
    z-index: 3;
}
section.files section.free:BEFORE {
    content: "FREE";
    background-color: rgba(46, 204, 113, 0.8);
}

section.files section.lock:BEFORE {
    content: "LOCK";
    background-color: rgba(243, 156, 18, 0.8);
}

section.files .time {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 33, 33, 0.7);
    color: white;
    text-align: right;
    font-size: 80%;
    padding-right: 5px;
    z-index:5;
}

section.files a:HOVER .time {
    display: block;
}
/* */
section#freefiles{
    border-color: #2ecc71;
}
section#freefiles h2 {
    background-color: #2ecc71;
}
section#freefiles > nav {
    border-color: #2ecc71;
}
section#freefiles .list{
    border-left-color: #2ecc71;
    border-right-color: #2ecc71;
    background-color: #E9FFE9;
    padding-bottom: 0;
}
section#freefiles #sort p a {
    border-color: #2ecc71;
}
section#freefiles #sort ul {
    border-color: #2ecc71;
}

/***

***/
section.files .date{
    background-color: #FFF5CA;
    padding: 5px 10px 0 5px;
    overflow: hidden;
}
section.files .date a:last-child:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
section.files .date section{
    width: 29%;
    background-color: #ffffff;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 10px 10px;
}
section.files .date section ul:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
section.files .date section li{
    width: 14%;
    text-align: center;
    float: left;
}

/***
認証ページ
***/
section#download {
    background-color: #FFF5CA;
    border: 1px solid #f39c12;
    margin-bottom: 0.7em;
    position: relative;
}
section#download h2 {
    background-color: #f39c12;
    color: #ffffff;
    padding: 5px 5.7em 5px 0.7em;
    font-size: 90%;
    white-space: nowrap;
    overflow: hidden;
}
section#download form.delete_button {
    position: absolute;
    background-color: #f39c12;
    padding-left: 5px;
    top: 3px;
    right: 2px;
}
section#download form.delete_button input{
    width: 5em;
}

section#download .thumbnail {
    float: right;
    width: 142px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: right;
}
section#download .thumbnail img{
    max-width: 142px;
    max-height: 190px;
}
section#download .information {
    margin-right: 147px;
}
section#download:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}

section#download dl {
    color: #666666;
    margin-top: 0.2em;
    margin-left: 0.7em;
}
section#download dl:AFTER {
    content:".";
    display:block;
    clear:left;
    height: 0;
    visibility: hidden;
}
section#download dt,
section#download dd {
    font-size: 80%;
    float: left;
}
section#download dt:AFTER {
    margin-left: 0.1em;
    content: "：";
}
section#download dd {
    margin-left: 0.2em;
    margin-right: 1em;
}
section#download dl dd:nth-of-type(3) {
    margin-right: 0;
}
section#download dl dt:nth-of-type(4) {
    display: none;
}
section#download dl dd:nth-of-type(4) {
    margin-left: 0;
    float: right;
}
section#download ul{
    margin-top: 0.6em;
    margin-left: 0.6em;
    margin-bottom: 0.6em;
}
section#download ul span {
    color: #009A57;
}
section#download p {
    margin-top: 0.7em;
    margin-left: 0.7em;
}

section#download section.tags {
    background-color: #ffffff;
    margin: 0.3em 0.3em 0;
    padding: 0.3em;
}
section#download h3,
section#download ul {
    font-size: 90%;
}
section#download section.tags ul:AFTER {
    content:".";
    display:block;
    clear:left;
    height: 0;
    visibility: hidden;
}
section#download section.tags ul li{
    float: left;
    margin-right: 0.5em;
    background-image: url('http://img2.exploader.net/images/svg/tag.svg');
    background-position: 0 3px;
    background-repeat: no-repeat;
    text-indent: 16px;
    white-space: nowrap;
}
section#download form.download {
    margin: 0.7em;
}
section#download .warning {
    color: red;
    font-size: 90%;
    margin-left: 0.7em;
}
section#download .warning:BEFORE {
    content: "※";
}
section#download .lock {
    font-size: 90%;
    margin-left: 0.7em;
    margin-bottom: 0.7em;
}
section#download .access{
    margin-top: 0.7em;
    clear: both;
    border-top: 1px solid #f39c12;
    font-size: 90%;
    background-color: #ffffff;
}
section#download .access:AFTER {
    content:".";
    display:block;
    clear:left;
    height: 0;
    visibility: hidden;
}

section#download .access h3{
    width: 6em;
    float: left;
    background-color: #f39c12;
    color: #ffffff;
    padding: 5px 0.7em 5px 0.7em;
}
section#download .access div.count{
    padding: 5px 0.7em 0 0.7em;
    float: right;
}
section#download .access p{
    margin: 0 0 0 7.4em;
    font-size: 90%;
}

section#download .access p a {
    display: block;
    padding: 5px 0.7em 0 1em;
    font-size: 110%;
}
section#download .dlkey {
    margin-bottom: 0.2em;
}

section#download .captcha:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
section#download .captcha .image{
    float: left;
    width: 55px;
}
section#download .captcha .right {
    margin-left: 55px;
    padding-left: 0.7em;
}

section.preview {
    text-align: center;
    margin-bottom: 0.7em;
}

section#download .error {
    color: red;
}

/***
ユニークランキング
***/
section.ranking{
    border: 1px solid #55bbff;
}
section.ranking h3{
    color: white;
    background-color: #55bbff;
    font-size: 90%;
    padding: 3px 0.3em 3px 0.3em;
}
section.ranking ul.list {
    padding-bottom: 4px;
    background-color: #cee0ff;
}
section.ranking ul.list:AFTER {
    content:".";
    display:block;
    clear:left;
    height: 0;
    visibility: hidden;
}
section.ranking ul.list li{
    position: relative;
    float: left;
    width: 55px;
    height: 80px;
    margin-top: 4px;
    margin-left: 4px;
}
section.ranking ul.list li a{
    display: block;
}
section.ranking h4{
    font-size: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
section.ranking p.count{
    font-size: 80%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    display: none;
}

/* フリー */
section#download.free {
    background-color: #E9FFE9;
    border-color: #2ecc71;
}
section#download.free h2 {
    background-color: #2ecc71;
}
section#download.free form.delete_button {
    background-color: #2ecc71;
}
section#download.free .access{
    border-color: #2ecc71;
}
section#download.free .access h3{
    background-color: #2ecc71;
}
/***
ヘルプページ
***/
article#help h1 {
    margin: 0.7em 0;
    font-size: 140%;
}
article#help > section {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 0.7em;
}
article#help > section h2 {
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0.7em 5px 0.7em;
}
article#help > section > section {
    margin: 0.7em;
    border-width: 1px;
    border-style: solid;
}
article#help > section > section h3{
    padding: 5px 0.7em 5px 0.7em;
    position: relative;
}
article#help > section > section p{
    padding: 0 0.7em 0 0.7em;
    position: relative;
}

article#help > section > section p:last-child{
    padding-bottom: 0.7em;
}
article#help > section > section ul{
    padding: 0 0.7em 0.7em 0.7em;
}
article#help > section.specification {
    border-color: #2ecc71;
    background-color: #f4fff4;
}
article#help > section.specification h2 {
    background-color: #2ecc71;
}
article#help > section.specification section {
    border-color: #2ecc71;
    background-color: #E9FFE9;
}
article#help > section.question {
    border-color: #f39c12;
    background-color: rgba(255, 245, 202, 0.5);
}
article#help > section.question h2 {
    background-color: #f39c12;
}
article#help > section.question section {
    border-color: #f39c12;
    background-color: rgba(255, 245, 202, 0.9);
}

article#help > section.question > section h3 {
    padding-left: 1.6em;
}
article#help > section.question > section h3:BEFORE {
    content: "Q.";
    position: absolute;
    top: 0.3em;
    left: 0.5em;
}
article#help > section.question > section p {
    padding-left: 1.6em;
}
article#help > section.question > section p:nth-of-type(1):BEFORE {
    content: "A.";
    position: absolute;
    top: 0em;
    left: 0.5em;
}

/***
利用規約
***/
article#agreement h1{
    margin: 0.7em 0;
    font-size: 140%;
}
article#agreement section {
    margin-bottom: 1em;
}
/***
アップロード
***/
article#upload > section {
    margin-top: 1em;
    padding-bottom: 0.5em;
}
article#upload h1{
    color: #ffffff;
    padding: 5px 0.5em 4px;
}
article#upload h2 span{
    font-weight: normal;
    font-size: 80%;
    margin-left: 0.7em;
}
article#upload h2 span:BEFORE {
    content: "※";
}
article#upload > section section {
    padding: 0.4em 0.7em 0;
}
article#upload > section section p span{
    font-size: 80%;
    color: red;
    margin-left: 0.5em;
}
article#upload > section section p span:BEFORE {
    content: "※";
}
article#upload > section p.submit {
    padding: 0.7em 0.7em 0.7em;
}
article#upload > section p.submit input[type="submit"] {
    padding: 5px 15px;
    font-size: 100%;
}
article#upload > section p.submit input[type="checkbox"] {
    margin-left: 1em;
}
article#upload > section p.explanation {
    padding: 0.4em 0.7em 0;
    font-size: 80%;
}
article#upload > section section p:nth-of-type(n+2){
    font-size: 80%;
    position: relative;
    padding-left: 1.2em;
}
article#upload > section section p:nth-of-type(2):BEFORE {
    content: "※";
    position: absolute;
    top: 0;
    left: 0;
}
article#upload section.form {
    border: 1px solid #e74c3c;
    background-color: #FFF5F5;
}
article#upload section.form h1{
    background-color: #e74c3c;
}
article#upload section.form p.description{
    padding: 0.4em 0.7em 0;
}
article#upload section.form section.file input{
    min-width: 25em;
    padding-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-top-color: #abadb3;
    border-right-color: #dbdfe6;
    border-left-color: #e2e3ea;
    border-bottom-color: #e3e9ef;
    border-radius: 3px;
    background-color: #ffffff;
}
article#upload section.form section.tag input{
    min-width: 25em;
}

article#upload section.help {
    margin-top: 0.7em;
    border: 1px solid #2ecc71;
    background-color: #E9FFE9;
}
article#upload section.help h1{
    background-color: #2ecc71;
}
article#upload section.help h2{
    color: #ffffff;
    padding: 5px 0.5em 4px;
    background-color: #2ecc71;
}
article#upload section.help dl{
    padding: 0.4em 0.7em 0.4em;
}
article#upload section.help dt{
    min-width: 15em;
    font-weight: bold;
}

/***

***/
article#upload_edit h1{
    margin-top: 0.3em;
    padding: 8px 0.7em 4px 0.7em;
    background-color: #e74c3c;
    color: white;
}
article#upload_edit section {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 0.3em;
}
article#upload_edit section:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
article#upload_edit section.information {
    border-color: #e74c3c;
    padding: 5px;
}
article#upload_edit section.information .thumbnail {
    float: left;
    margin-right: 5px;
    max-width: 142px;
    text-align: center;
}
article#upload_edit section.information .thumbnail img {
    float: left;
}
article#upload_edit section.information dt {
    margin-top: 5px;
}
article#upload_edit section.information dd {
    font-size: 90%;
    margin-bottom: 10px;
}
article#upload_edit section.preview_edit {
    border-color: #2ecc71;
    clear: both;
}
article#upload_edit section.preview_edit h2 {
    padding: 8px 0.7em 4px 0.7em;
    background-color: #2ecc71;
    color: white;
}
article#upload_edit section.preview_edit .description {
    font-size: 90%;
    padding: 5px;
}
article#upload_edit section.preview_edit .output {
    float: right;
    padding: 0;
    min-height: 800px;
    min-width: 564px;
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    border-right: none;
}
article#upload_edit section.preview_edit .images {
    padding-left: 5px;
}

/***

***/
article#deletion h1{
    margin: 0.7em 0;
    font-size: 140%;
}
article#deletion ul{
    margin-top: 1em;
    margin-bottom: 1em;
}
article#deletion ul li{
    margin-left: 2em;
    list-style: disc;
}
article#deletion .warning {
    color: red;
}
article#deletion form {
    padding-top: 1em;
}
article#deletion p.warning:BEFORE {
    content: "※";
}
article#deletion h2{
    background-color: #e74c3c;
    color: #ffffff;
    padding: 5px 0.7em 4px 0.7em;
}
article#deletion section.information {
    border: 1px solid #e74c3c;
}
article#deletion section p {
    padding-left: 5px;
}

/***
プレビュー
***/
#preview {
    background-color: #f5f5f5;
    min-height: 100%;
}
#preview #contents {
    text-align: center;
}
#preview article{
    text-align: left;
    display: inline-block;
    margin: 0 auto;
    width: auto;
    padding: 0;
    position: relative;
}
#preview article a{
    display: block;
    width: 100%;
    height: 100%;
}

#preview .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 234px;
}
#preview  .sidebar .return {
    text-align: left;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    margin-bottom: 5px;
}
#preview  .sidebar .return a {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    display: block;
}
#preview  .sidebar .return a:HOVER {
    background-color: #e3e3e3;
}
#preview .sidebar .return a:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
#preview section.nls {
    border-left: none;
}
#preview #preview_images div{
    padding: 5px;
}
#preview #preview_images img{
    max-height: 100%;
    max-width: 100%;
}
#preview #preview_panel {
    position: fixed;
    right: 16px;
    top: 10px;
    z-index: 3;
    display: block;
    padding: 0;
    font-size: 10pt;
    line-height: 32px;
    width: auto;
}
#preview #preview_panel div {
  float: right;
}
#preview #preview_panel .pages {
    min-width: 3em;
    text-align: right;
    color: #999999;
}
#preview #preview_panel .pages #preview_openpage {
    color: #258fb8;
    margin-right: 2px;
}
#preview #preview_panel .pages #preview_sumpage {
    margin-left: 2px;
    color: #000000;
}
#preview #preview_panel #button_dl,
#preview #preview_panel #button_list {
    color: #258fb8;
    margin-left: 8px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    padding: 6px;
    width: 20px;
    background-color: #ffffff;
    border: 1px #ffffff;
    border-radius: 5px;
    float: right;
    display: block;
}
#preview #preview_panel #button_list {
    margin-left: 4px;
}
#preview #preview_panel #button_dl img,
#preview #preview_panel #button_list img {
    float: left;
}

#preview #preview_list {
    display: none;
    padding-top: 60px;
    margin-left: 250px;
}
#preview #preview_list:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
#preview #preview_list a{
    width: 128px;
    height: 200px;
    margin-right: 10px;
    display: block;
    float: left;
    overflow: hidden;
}
#preview #preview_list a img{
    max-width: 100%;
    max-height: 100%;
}
#preview #button_top {
    position: fixed;
    bottom: 34px;
    right: 28px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    background-color: #dddddd;
    border: 1px solid #dddddd;
    border-radius: 28px;
}
#preview aside.left{
    width: 234px;
    position: fixed;
    top: 0;
    left: 0;
}
#preview aside.right{
    width: 234px;
    position: absolute;
    top: 0;
    right: 8em;
}


#preview.stick article {
  margin-left: 239px;
  margin-right: 0;
}
#preview.stick article #preview_list {
  margin-left: 0;
}
#preview.stick #contents {
    text-align: left;
}
/***

***/

article section.notfound{
    padding-bottom: 1em;
}

article#delete {
    padding-top: 1em;
}
article#delete section{
    padding-bottom: 1em;
}

/***
左カラム
***/

aside section {
    margin-bottom: 0.7em;
}
aside > div {
    margin-bottom: 5px;
}

aside section.word h2,
aside section.tag h2,
aside section.reaccess h2{
    background-color: #e74c3c;
    color: #ffffff;
    padding: 5px 0.7em 4px 0.7em;
}
aside section.word dl,
aside section.tag dl {
    border: 1px solid #e74c3c;
    padding: 4px 5px;
    background-color: #FFF5F5;
}
aside section.word dl:AFTER,
aside section.tag dl:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
aside section.word dd,
aside section.word dt,
aside section.tag dd,
aside section.tag dt{
    word-break: break-all;
    display: inline;
}
aside section.word dt,
aside section.tag dt{
    font-size: 90%;
}
aside section.word dd,
aside section.tag dd{
    color: #777777;
    font-size: 80%;
    margin-right: 0.1em;
    white-space: nowrap;
}
aside section.word dl a,
aside section.tag dl a{
    text-decoration: none;
}
aside section.word dl a:HOVER,
aside section.tag dl a:HOVER{
    text-decoration: underline;
}
aside section.reaccess dl {
    border: 1px solid #e74c3c;
}
aside section.reaccess dl dt{
    float: left;
    width: 2.4em;
    height: 2.4em;
    text-align: center;
    font-weight: bold;
    line-height: 2.4em;
    color: #000000;
}
aside section.reaccess dl a{
    text-decoration: none;
}
aside section.reaccess dl a:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
aside section.reaccess dl dd{
    margin-left: 2.4em;
    height: 2.4em;
    line-height: 1.2em;
}
aside section.reaccess dl dd div{
    font-size: 80%;
    overflow-x: hidden;
    margin-right: 5px;
    height: 1.4em;
    line-height: 1.4em;
}
aside section.reaccess dl a:HOVER dd div:nth-of-type(1){
    text-decoration: underline;
}
aside section.reaccess dl dd div:nth-of-type(2){
    color: #000000;
}
aside section.reaccess dl a{
    display: block;
    background-color: #f5f5f5;
}
aside section.reaccess dl a:nth-of-type(2n+0){
    background-color: #e5e5e5;
}

aside section.word ul:AFTER,
aside section.tag ul:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}
aside section.word li,
aside section.tag li {
    float: left;
    width: 50%;
    height: 3.6em;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}
aside section.word li a,
aside section.tag li a {
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    width: auto;
    height: 100%;
    border: 1px solid #e74c3c;
    text-shadow: 0 -1px 1px #000, 1px 0 1px #000, 1px 0 1px #000, 0 1px 1px #000, 1px 1px 1px #000, 1px 1px 1px #000;
    color: #ffffff;
    font-size: 90%;
    overflow: hidden;
    text-decoration: none;
    line-height: 1.2em;
}
aside section.word li:nth-of-type(2n) a,
aside section.tag li:nth-of-type(2n) a {
    border-left: none;
}
aside section.word li a:HOVER,
aside section.tag li a:HOVER {
    background-color: inherit;
}
aside section.word li a span,
aside section.tag li a span {
    padding-top: 5px;
    padding-left: 5px;
    display: block;
}


section.nls {
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
}
section.nls dt{
    text-align: center;
}
section.nls dd{
    font-size: 90%;
    margin-bottom: 0.3em;
    text-align: center;
    padding-top: 0.3em;
}

.js_download {
    
}

.js_download a{
    font-size: 90%;
    display: block;
    margin-right: 5px;
    float: left;
    width: 42%;
    line-height: 2em;
    border-top: 1px solid #ccc;  
    border-right: 1px solid #999;  
    border-bottom: 1px solid #999;  
    border-left: 1px solid #ccc;
    text-decoration: none;
    font-weight: bold;  
    cursor: pointer;  
    color: #666;
    border-radius: 3px;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;
    -moz-box-shadow: 1px 1px 2px #E7E7E7;  
    text-align: center;
    background-color: #E7E7E7;
    background: -moz-linear-gradient(top, #fff, #F1F1F1 1%, #F1F1F1 50%, #DFDFDF 99%, #ccc);  
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(0.01, #F1F1F1),
                 color-stop(0.5, #F1F1F1), color-stop(0.99, #DFDFDF), to(#ccc));
}
.js_download:AFTER {
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility: hidden;
}


#contents.jack_fixed {
    background-attachment: fixed;
}
#jack_left {
    position: absolute;
    right: 1000px;
    top: 0;
    width: 100%;
    max-width: 300px;
    min-height: 800px;
    height: 100%;
    text-align: right;
    pointer-events: auto;
}
#jack_right {
    position: absolute;
    left: 1000px;
    top: 0;
    width: 100%;
    max-width: 300px;
    min-height: 800px;
    height: 100%;
    pointer-events: auto;
}
#jack_left a,
#jack_right a{
    display: block;
    height: 100%;
    width: 99.5%;
}
#jack_left a{
    margin-right: 0.5%;
}
#jack_right a{
    margin-left: 0.5%;
}