﻿body{background-color: #fff;min-width: 1200px;}
.main{width: 1180px;padding: 0 10px;margin: 0 auto;}
.dot1 li{padding-left: 15px;background: url(/Public/images/index/dot.png) 0 4px no-repeat;}
.dot2 li{padding-left: 15px;background: url(/Public/images/index/dot.png) 0 -39px no-repeat;}
a:hover{text-decoration: none;}
.txt:hover,a.txt:hover{color: #ff5500;}
.area1,.area2,.area3,.area4,.area5,.area6,.area7,.area8{margin-bottom: 50px;}
i{font-style: normal;}
/*imgbox*/
.imgbox a{float: left;position: relative; display:block;}
.imgbox img{display: block;width: 110px;height: 70px;
	transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
}
.imgbox img:hover{opacity: .8;filter: alpaha(opacity: 80);}
.imgbox .txt{display: block;width: 100%;height: 14px;line-height: 14px;color: #333;text-align: center;margin-top: 8px;overflow: hidden;}
.imgbox .layer{position: absolute;left: 0;top: 0;display: none;width: 100%;height: 100%;background: url(/Public/images/index/play.png) 43px 27px no-repeat;background-color: rgba(0,0,0,.4);background-color: #000\9;}
.imgbox .classify{position: absolute;right: 0;top: 80px;width: 30px;height: 20px;background-color: rgba(0,0,0,.7);background-color: #000\9;color: #fff;line-height: 20px;text-align: center;font-size: 12px;}
.imgbox a:hover .txt{color: #ff5500;}
.imgbox a:hover .layer{display: block;}
/*imgbox1*/
.imgbox1{margin-left: -20px;}
.imgbox1 a{float: left;width: 135px;height: 100px;overflow: hidden;position: relative;margin-left: 20px;}
.imgbox1 a:hover{text-decoration: none;}
.imgbox1 a .txt{position: absolute;left: 0;bottom: 0;height: 26px;line-height: 26px;padding: 0 5%;width: 90%;overflow: hidden;color: #fff;text-align: center;background-color: rgba(0,0,0,.7);background-color: #000\9;}
.imgbox1 .layer{position: absolute;left: 0;top: 0;display: none;width: 100%;height: 100%;background: url(/Public/images/index/play.png) 43px 27px no-repeat;background-color: rgba(0,0,0,.4);background-color: #000\9;}
.imgbox1 a:hover .layer{display: block;}
.imgbox1 img{ display:block; width:100%; height:100%;
	transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
}
.imgbox1 img:hover{opacity: .8;filter: alpaha(opacity: 80);}
/*imgbox2*/
.imgbox2 a{float: left;position: relative;width: 130px;height: 112px;}
.imgbox2 img{width: 100%;height: 80px;}
.imgbox2 span{position: absolute;left: 0;bottom: 0;width: 120px;height: 32px;line-height: 32px;text-align: center;padding: 0 5px;overflow: hidden;background-color: #f5f5f5;color: #333;
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.imgbox2 a:hover span{background-color: #ff5500;color: #fff;}
/*txtlist*/
.txtlist li{height: 16px;line-height: 16px;margin-top: 16px;}
.txtlist .txt{float: left;color: #333;height: 100%;overflow: hidden;font-size:14px;}
.txtlist .date{float: right;color: #999;}
/*comtitle*/
.comtitle{height: 20px;line-height: 20px;margin: 20px 0;}
.comtitle h2{border-left: 5px solid #ff9500;padding-left: 8px;font-size: 20px;color: #4f5361;float: left;}
.comtitle .more{float: right;width: 22px;height: 22px;background: url(/Public/images/index/more.png) 0 -124px no-repeat;}
.comtitle .more:hover{background-position: 0 -186px;}
/*comtitle1*/
.comtitle1{width: 100%;height: 28px;line-height: 28px;padding-bottom: 10px;border-bottom: 2px solid #ff7f00;}
.comtitle1 h2{float: left;font-size: 22px;font-weight: bold;color: #e54d00;padding-left: 35px;background-image: url(/Public/images/index/comtitle1_icon.png);background-repeat: no-repeat;}
.comtitle1 ol{float: left;margin: 3px 0 0 25px;color: #ececec;height: 22px;}
.comtitle1 li{height: 22px;line-height: 22px;padding: 0 10px;margin: 0 10px;display: inline-block;_zoom: 1;*display: inline;
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.comtitle1 li a{color: #333;}
.comtitle1 li:first-child{border-left: 0;}
.comtitle1 li:hover{background-color: #ff5500;}
.comtitle1 li:hover a{color: #fff;}
.comtitle1 .more{float: right;color: #f25100;background: url(/Public/images/index/more.png) right 2px no-repeat;padding-right: 30px;font-size: 16px;}
.comtitle1 .more:hover{color: #e54d00;background-position: right -60px;}
.area2 .comtitle1 h2{background-position: 0 0;}
.area3 .comtitle1 h2{background-position: 0 -54px;}
.area4 .comtitle1 h2{background-position: 0 -108px;}
.area5 .comtitle1 h2{background-position: 0 -162px;}
.area6 .comtitle1 h2{background-position: 0 -216px;}
.area7 .comtitle1 h2{background-position: 0 -270px;}
.area8 .comtitle1 h2{background-position: 0 -324px;}
/*topArea*/
.topArea{width: 100%;padding: 20px 0;border-bottom: 1px solid #ddd;}
.topArea-cont{width: 1180px;height: 77px;margin: 0 auto;padding: 0 10px;}
.topArea h1,.topArea ul{float: left;}
.topArea h1{font-size: 0;padding-right: 35px;}
.topArea h1 a{display: block;width: 218px;height: 64px;background: url(/Public/images/index/topArea_logo.png) 0 0 no-repeat;}
.topArea ul{padding: 0 18px;width: 270px;height: 77px;border-left: 1px dotted #ddd;}
.topArea li{height: 22px;width: 270px;overflow: hidden;margin-bottom: 7px;}
.topArea ul h3,.topArea ul span{float: left;}
.topArea ul h3{font-size: 16px;font-weight: bold;}
.topArea ul h3 a,.topArea ul span a{
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.topArea ul h3 a{color: #333;padding: 0 5px;height: 22px;line-height: 22px;}
.topArea ul span{margin-top: 3px;}
.topArea ul span a{font-size: 13px;color: #666;padding: 0 5px;height: 18px;line-height: 18px;float: left;}
.topArea ul h3 a:hover,.topArea ul span a:hover{background-color: #ff5500;color: #fff;}
/*AdArea*/
.AdArea{padding: 20px 0;}
.AdArea .Ad{width:1000px;/*height:90px;*/float: left; overflow:hidden;}
.AdArea .infoWeekly{float: right;width:160px;/*height:90px;*/background: url(/Public/images/index/infoWeekly.png) 0 0 no-repeat; overflow:hidden;}
/*AdArea2*/
.AdArea2{ margin-top:-30px; margin-bottom:20px;}
.AdArea2 .Ad2{width:1000px;height:90px;float: left; overflow:hidden;}
.AdArea2 .infoWeekly{float: right;width:160px;height:90px; overflow:hidden;}
/*navbar*/
.navbar{background-color: #f9f9f9;padding: 18px 0;border-top: 2px solid #ff6a00;margin-bottom: 15px;}
/*navbar-gameType*/
.navbar-gameType{float: left;}
.navbar-gameType a{float: left;width: 94px;height: 12px;line-height: 12px;padding-top: 45px;border-right: 1px dotted #ddd;text-align: center;color: #787878;background-image: url(/Public/images/index/gameType_icon.png);background-repeat: no-repeat;}
.navbar-gameType a:hover{color: #ff5500;}
.navbar-gameType-1{background-position: 32px 0;}
.navbar-gameType-2{background-position: -64px 0;}
.navbar-gameType-3{background-position: -159px 0;}
.navbar-gameType-4{background-position: -254px 0;}
.navbar-gameType-5{background-position: -349px 0;}
.navbar-gameType-6{background-position: -443px 0;}
.navbar-gameType-7{background-position: -538px 0;}
.navbar-gameType-8{background-position: -637px 0;}
.navbar-gameType-9{background-position: -728px 0;}
.navbar-gameType-1:hover{background-position: 32px -99px;}
.navbar-gameType-2:hover{background-position: -64px -99px;}
.navbar-gameType-3:hover{background-position: -159px -99px;}
.navbar-gameType-4:hover{background-position: -254px -99px;}
.navbar-gameType-5:hover{background-position: -349px -99px;}
.navbar-gameType-6:hover{background-position: -443px -99px;}
.navbar-gameType-7:hover{background-position: -538px -99px;}
.navbar-gameType-8:hover{background-position: -637px -99px;}
.navbar-gameType-9:hover{background-position: -728px -99px;}
/*navbar-searchBox*/
.navbar-searchBox{border: 4px solid #ddd;border: 4px solid #ddd;float: left;margin: 7px 0 0 16px;}
.navbar form{height: 31px;border: 1px solid #ccc;padding: 1px 0;}
.navbar select{float: left;width: 62px;height: 31px;font-family: "Microsoft Yahei";line-height: 30px;padding-left: 5px;padding-bottom: 5px\9;
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	border: none;
	color: #666;
	margin: 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.navbar select{
		background-color: #fff; /* fallback color if gradients are not supported */
		background-image: url(/Public/images/index/select_arrow.png); /* For Chrome and Safari */
		background-position: 42px center;
		background-repeat: no-repeat;
	}
}
.navbar input{float: left;}
.navbar .searchBox-txt{width: 160px;height: 14px;padding: 8px 10px 9px 10px;border-left: 1px solid #ccc;}
.navbar .searchBox-btn{width: 39px;height: 33px;border: 1px solid #0073e6;margin-top: -1px;background: #007eff url(/Public/images/index/search.png) center center no-repeat;font-size: 0;cursor: pointer;
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.navbar .searchBox-btn:hover{background-color: #0073e5;}
/*navbar1*/
.navbar1{padding: 16px 9px;border: 1px solid #eaeaea;margin-bottom: 27px;}
/*navbar1-top*/
.navbar1 ul{border-bottom: 1px dotted #ddd;}
.navbar1 li{height: 25px;margin-bottom: 10px;line-height: 25px;color: #c6c6c6;}
.navbar1 li span{float: left;width: 57px;height: 25px;border-left-width: 3px;border-left-style: solid;background-color: #fcfcfc;color: #333;font-weight: bold;line-height: 25px;text-align: center;
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.navbar1 li div{float: left;width: 1100px;height: 14px;line-height: 14px;overflow: hidden;margin-top: 5px;}
.navbar1 li a{color: #333;padding:1px 5px; margin:0 10px;/*border-left: 1px solid #c6c6c6;*/}
.navbar1 li a:hover{color: #ff5500;text-decoration: none;}
.navbar1 li div a:first-child{border-left: 0;}
.navbar1-li-1 span{border-left-color: #ff6933;}
.navbar1-li-2 span{border-left-color: #4cc6ff;}
.navbar1-li-3 span{border-left-color: #98c227;}
.navbar1-li-4 span{border-left-color: #ffaa32;}
.navbar1-li-5 span{border-left-color: #007eff}
.navbar1 li:hover span{color: #fff;}
.navbar1-li-1:hover span{background-color: #ff6933;}
.navbar1-li-2:hover span{background-color: #4cc6ff;}
.navbar1-li-3:hover span{background-color: #98c227;}
.navbar1-li-4:hover span{background-color: #ffaa32;}
.navbar1-li-5:hover span{background-color: #007eff;}
/*navbar1-bottom*/
.navbar1-bottom{margin-top: 10px;}
.navbar1-tag{float: left;width: 18px;height: 100px;background: url(/Public/images/index/navbar1_tag.png) 0 0 no-repeat;padding: 7px 8px 0 8px;line-height: 20px;color: #ff7f00;}
.navbar1 .imgbox{margin: 10px 0 0 -10px;float: left;}
.navbar1 .imgbox a{float: left;margin-left: 30px;}
.navbar1 .imgbox .txt{width: 110px;}
/*area1-top*/
.area1-top{margin-bottom: 40px;}
/*slide*/
.slide{width: 430px;height: 254px;border-bottom: 1px solid #ddd;overflow: hidden;background-color: #f9f9f9;position: relative;}

.slide div{position: absolute;left: 0;top: 0;}
.slide a{float: left;;width: 430px;height: 254px;}
.slide img{display: block;width: 430px;height: 220px;}
.slide span{display: block;width: 300px;height: 34px;line-height: 34px;font-size: 16px;color: #333;overflow: hidden;padding: 0 10px;}
.slide a:hover{text-decoration: none;}
.slide a:hover span{color: #ff5500;}
.slide ol{position: absolute;right: 10px;bottom: 11px;z-index: 99999;}
.slide ol li{float: left;width: 10px;height: 10px;border-radius: 5px;background-color: #ccc;margin-left: 7px;}
.slide ol li.active{background-color: #ff5500;}
/*area1-left*/
.area1-left{float: left;width: 430px;}
.area1-left .comtitle{margin: 25px 0 20px 0;padding-bottom: 10px;border-bottom: 1px solid #ececec;}
.area1-left-1 .imgbox1,.area1-left-2 .imgbox1{float: left;}
.area1-left-1 .txtlist,.area1-left-2 .txtlist{float: right;width: 290px;margin-top: -15px;}
.area1-left-1 .txtlist .txt{font-size: 14px;}
.area1-left-1 .txtlist li,.area1-left-2 .txtlist li{margin-left: 20px;}
.area1-left-1 .txtlist li{width: 110px;float: left;}
.area1-left-3 .imgbox1 a{width: 130px;}
.area1-left-3 .txtlist{margin-top: 25px;}
.area1-left-3 .txtlist .txt{width: 360px;}
/*area1-center*/
.area1-center{width: 440px;float: left;margin: 0 40px;}
.area1-hotNews{padding-top: 70px;background: url(/Public/images/index/area1_center_tag.png) 0 0 no-repeat;border-bottom: 1px dotted #ddd;margin-bottom:22px;}
.area1-hotNews h2{font-size: 20px;font-weight: bold;text-align: center;margin-bottom: 16px;height: 22px;line-height: 22px;overflow: hidden;}
.area1-hotNews h2 a{color: #e54d00;}
.area1-hotNews h2 a:hover{color: #cc4400;text-decoration: none;}
.area1-hotNews div{text-align: center;margin-bottom: 22px;}
.area1-hotNews div a{color: #666;padding: 0 10px;border-right: 1px solid #ececec;}
.area1-hotNews div a:last-child{border-right:none;}
.area1-hotNews div a:hover{color: #ff5500;text-decoration: none;}
/**/
.area1-center h3{height: 25px;line-height: 25px;}
.area1-center h3 span{float: left;width: 40px;height: 25px;line-height: 25px;text-align: center;color: #fff;}
.area1-center h3 a{float: left;color: #006fcd;font-size: 18px;width: 390px;height: 25px;overflow: hidden;margin-left: 10px;}
.area1-center h3 a:hover{color: #0053a6;text-decoration: underline;}
.area1-center dt{float: left;}
.area1-center dt a{display: block;font-size: 16px;color: #333;width: 310px;height: 16px;line-height: 16px;margin-top: 16px;overflow: hidden;}
.area1-center dt a:hover{color: #ff5500;text-decoration: none;}
.area1-center dd{float: right;width: 110px;height: 106px;overflow: hidden;margin-top: 15px;}
.area1-center dd a{display: block;position: relative;width: 100%;height: 100%;}
.area1-center img{
	transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
}
.area1-center img:hover{opacity: .8;filter: alpaha(opacity: 80);}
.area1-center dd span{position: absolute;left: 0;bottom: 0;width: 98px;height: 26px;line-height: 26px;text-align: center;padding: 0 5px;overflow: hidden;border: 1px solid #eaeaea;background-color: #f5f5f5;color: #333;border-top: 0;}
.area1-center dd a:hover{text-decoration: none;}
.area1-center dd a:hover span{background-color: #ff5500;border-color: #ff5500;color: #fff;}
.area1-center-1,.area1-center-2,.area1-center-3{padding-bottom:19px;margin-bottom:19px;border-bottom: 1px dotted #ddd;}
.area1-center-1 h3 span{background-color: #f86866;}
.area1-center-2 h3 span{background-color: #318fff;}
.area1-center-3 h3 span{background-color: #42c981;}
.area1-center-4 h3 span{background-color: #ff9500;}
/*area1-right*/
.area1-right{float: right;width: 230px;}
.area1-right .Ad{display: block;width: 230px;height: 360px; position:relative;}
.area1-right .Ad a{ display: block;width: 230px;height: 360px; position:absolute; top:0; left:0; z-index:99;}
.area1-right .Ad embed{ width:230px!important; height:360px!important;}
.area1-right .comtitle{border-bottom: 1px solid #ff9500;margin:27px 0 10px 0;padding-bottom: 10px;}
/*ranklist*/
.area1 .ranklist li{width: 230px;height: 45px;padding-top: 9px;border-bottom: 1px solid #ececec;}
.area1 .ranklist .num{float: left;width: 20px;height: 20px;line-height: 20px;text-align: center;background-color: #4b9afa;color: #fff;}
.area1 .ranklist .ranktop3{background-color: #ff5a00;}
.area1 .ranklist div{float: left;margin-left: 8px;}
.area1 .ranklist .txt{display: block;width: 150px;height: 16px;line-height: 16px;color: #333;overflow: hidden;font-size: 16px;margin-bottom: 6px;}
.area1 .ranklist .txt:hover{color: #ff5500;}
.area1 .ranklist .desc{display: block;font-size: 12px;color: #999;height: 12px;line-height: 12px;width: 150px;overflow: hidden;}
.area1 .ranklist .date{float: right;width: 41px;height: 28px;line-height: 28px;text-align: center;font-size: 12px;color: #666;padding-top: 14px;background: #f5f5f5 url(/Public/images/index/calendar.png) 0 0 no-repeat;margin-top: -5px;}
/*area1-bottom*/
.area1-bottom{width: 1179px;height: 158px;border: 1px solid #ececec;border-top-color: #ff5500;border-left: 0;background-color: #fafafa;}
.area1-bottom-tag1,.area1-bottom-tag2{float: left;width: 24px;height: 110px;margin-top: -1px;color: #fff;background-image: url(/Public/images/index/area1_bottom_tag.png);background-repeat: no-repeat;padding: 50px 8px 0 8px;text-align: center;font-size: 18px;line-height: 22px;background-color: #ff9500;}
.area1-bottom-tag1{background-position: 8px 20px;}
.area1-bottom-tag2{background-position: -56px 20px;margin-left: 20px; background-color:#ff5500;}
.area1-bottom .imgbox{float: left;margin-top: 20px;}
.area1-bottom .imgbox a{margin-left: 20px;}
.area1-bottom .imgbox .txt{width: 130px;}
.area1-bottom .imgbox img{width: 130px;height: 100px;}
.area1-bottom .imgbox .layer{height: 100px;}
/*area2*/
.area2 .comtitle{margin: 20px 0 10px 0;}
.area2 .comtitle1 h2{background-position: 0 0;}
.area2-left{float: left;width: 860px;}
.area2-gamebox{width: 858px;border: 1px solid #ddd;}
.area2-gamebox ol{float: left;width: 199px;border-right: 1px solid #ddd;position: relative;left: -1px;}
.area2-gamebox ol li{width: 124px;height: 50px;border-top: 1px solid #ececec;background-color: #fcfcfc;line-height: 49px;color: #666;font-size: 16px;padding: 0 10px 0 65px;position: relative;cursor: pointer; overflow:hidden;}
.area2-gamebox ol li:first-child{border-top: 0;}
.area2-gamebox ol i{background-color: #5b676c;width: 47px;height: 49px;font-weight: bold;font-size: 22px;line-height: 49px;text-align: center;color: #fff;position: absolute;left: 0;top: 0;border-left: 1px solid #4d595d;}
.area2-gamebox ol li:hover{background-color: #fff4e5;border-color: #ffd2a6;color: #ff5500;}
.area2-gamebox ol li:hover i{background: url(/Public/images/index/area2_icon.png) 0 0 no-repeat;padding-right: 7px;border-left-color: #ff9500;}
.area2-gamebox ol li.active{background-color: #fff;width: 125px;}
.area2-gamebox ol li.active i{background: url(/Public/images/index/area2_icon.png) 0 0 no-repeat;padding-right: 7px;border-left-color: #ff9500;}
/*area2-gameboxCont*/
.area2-gameboxCont{padding: 20px;float: left;}
.area2-gameboxCont li{display: none;}
.area2-gameboxCont li.show{display: block;}
/*area2-gameboxCont-top*/
.area2-gameboxCont-top{padding-bottom: 15px;border-bottom: 1px dotted #ddd;margin-bottom: 19px;}
/*area2-gameboxCont-left*/
.area2-gameboxCont-left{float: left;width: 420px;}
.area2-gameboxCont-title h2{font-size: 24px;color: #cc4400;font-weight: bold;margin-bottom: 10px;height: 26px;line-height: 26px;overflow: hidden;}
.area2-gameboxCont-title h2 a{color: #333;}
.area2-gameboxCont-title h2 a:hover{color: #ff5500;}
.area2-gameboxCont-title h2 span{font-size: 14px;color: #999;font-weight: normal;margin-left: 18px;}
.area2-gameboxCont-desc span{float: left;height: 18px;line-height: 18px;padding: 0 5px;border: 1px solid #ececec;background-color: #fcfcfc;color: #666;margin-right: 10px;}
.area2-gameboxCont-left dl{margin-top: 20px;}
.area2-gameboxCont-left dt{color: #333;font-size: 16px;font-weight: bold;padding-left: 28px;background-image: url(/Public/images/index/area2_icon.png);background-repeat: no-repeat;height: 22px;line-height: 22px;}
.area2-gameboxCont-left dd{margin-left: -10px;}
.area2-gameboxCont-left dd div{width: 420px;height: 14px;line-height: 14px;overflow: hidden;margin-top: 10px;}
.area2-gameboxCont-left dl a{color: #333;padding: 0 10px;border-left: 1px solid #9a9a9a;float: left;}
.area2-gameboxCont-left dl a:first-child{border-left: 0;}
.area2-gameboxCont-left dl a:hover{color: #ff5500;text-decoration: none;}
dl.area2-gameboxCont-dl3 a{border-left: 0;width: 195px;padding-left: 10px;margin-top: 10px;background: url(/Public/images/index/dot.png) 0 4px no-repeat;height: 14px;line-height: 14px;overflow: hidden;}
.area2-gameboxCont-dl1 dt{background-position: 0 -326px;}
.area2-gameboxCont-dl2 dt{background-position: 0 -388px;}
.area2-gameboxCont-dl3 dt{background-position: 0 -450px;}
/*area2-gameboxCont-right*/
.area2-gameboxCont-right{float: right;}
.area2-gameboxCont-right span{display: block;width: 110px;height: 35px;padding-top: 30px;text-align: center;font-size: 18px;color: #12bc82;font-weight: bold;background: url(/Public/images/index/area2_icon.png) 0 -144px no-repeat;margin: -5px 0 12px 64px;overflow:hidden;white-space:nowrap;padding-left:4px;}
.area2-gameboxCont-right div{width: 180px;height: 250px;position: relative;}
.area2-gameboxCont-right div img{width: 100%;height: 100%;}
.area2-gameboxCont-right div i{position: absolute;left: -6px;top: 9px;background: url(/Public/images/index/area2_icon.png) 0 -249px no-repeat;width: 86px;height: 30px;font-size: 22px;color: #fff;font-weight: bold;padding-top: 7px;text-align: center;}
.area2-gameboxCont-right div small{font-size: 16px;font-weight: normal;}
/*area2-gameboxCont-bottom*/
.area2-gameboxCont-bottom a{width: 135px;height: 100px;}
.area2-gameboxCont-bottom a .txt{position: absolute;left: 0;bottom: 0;padding: 0 5px 0 25px;background-image: url(/Public/images/index/play.png);background-position: 6px -78px;background-repeat: no-repeat;text-align: left;width: 105px;}
.area2-gameboxCont-bottom a:hover .txt{display: none;}

/*area2-left-bottom*/
.area2-left-bottom .comtitle ol{margin-top: 3px;float: right;}
.area2-left-bottom .comtitle li{float: left;width: 16px;height: 16px;line-height: 16px;text-align: center;margin-left: 5px;color: #fff;background-color: #666;}
.area2-left-bottom .comtitle li.active{background-color: #ff5500;}
.area2-left-bottom .imgbox{display: none;border: 1px dashed #ddd;padding: 20px 0;}
.area2-left-bottom .show{display: block;}
.area2-left-bottom a{margin-left: 20px;}
.area2-left-bottom a img{width: 120px;height: 160px;}
.area2-left-bottom .imgbox .txt{width: 120px;}
.area2-left-bottom .grade{position: absolute;left: 0;top: 0;width: 50px;height: 25px;line-height: 25px;text-align: center;font-size: 16px;color: #fff;font-weight: bold;background-color: #20da9b;}
.area2-left-bottom .lang{position: absolute;right: 5px;top: 135px;width: 35px;height: 20px;line-height: 20px;text-align: center;font-size: 12px;color: #fff;background-color: rgba(0,0,0,.7);background-color: #000\9;}
/*area2-right*/
.area2-right{width: 284px;float: right; overflow:hidden;}
.area2-right .comtitle{border-bottom: 0;}
.area2-right-cont{height: 782px;border: 1px solid #ececec;background-color: #fafafa; margin-left:4px;}
.area2-right-cont dt{width: 55px;height: 23px;background: url(/Public/images/index/area2_icon.png) 0 -512px no-repeat;padding-left: 28px;color: #fff;line-height: 23px;margin: 19px 0 0 -4px;}
.area2-right-cont dd{width: 240px;line-height:30px;margin:20px 0 0 18px;background-color: #fff;}
.area2-right-cont dd a{display: block;color: #333;width: 220px;padding: 0 10px;height: 30px;line-height: 30px;overflow: hidden;}
.area2-right-cont dl.active dt{background-position: 0 -575px;width: 88px;}
.area2-right-cont a:hover{color: #ff5500;text-decoration: none;}
/*area2__end*/
/*area3-top*/
.area3-top{padding-bottom: 30px;}
/*area3-left*/
.area3-left{float: left;width: 390px;}
.area3-left .imgbox1{margin-bottom: 5px;}
.area3-left .imgbox1 a{width: 115px;height: 153px;}
.area3-left .imgbox1 .grade{position: absolute;left: 0;top: 0;width: 50px;height: 25px;line-height: 25px;text-align: center;font-size: 16px;color: #fff;font-weight: bold;background-color: #20da9b;}
.area3-left .txtlist{width: 190px;float: left;}
.area3-left .txtlist:first-child{margin-right: 10px;}
.area3-left .txtlist .txt{font-size: 14px;color: #666;}
.area3-left .txtlist .txt:hover{color: #ff5500;}
/*area3-center*/
.area3-center{float: left;width: 430px;margin-left: 40px;}
.area3-center-h2{font-size: 18px;margin-bottom: 28px;}
.area3-center-h2 a{color: #e54d00;}
.area3-center-h2 a:hover{color: #cc4400;text-decoration: none;}
.area3-center .txtlist li{font-size: 16px;height: 16px;line-height: 16px;background-position: 0 6px;}
.area3-center .txtlist li a{height: 16px;}
.area3-center .imgbox{margin-left: -20px;margin-top: 10px;}
.area3-center .imgbox a{margin: 16px 0 0 20px;}
.area3-center .imgbox .txt{width: 130px;}
.area3-center .imgbox img{width: 130px;height: 100px;}
/*area3-right*/
.area3-right{float: right;width: 280px;}
.area3-right .comtitle{padding-bottom: 10px;border-bottom: 1px solid #ececec;}
.area3-right .imgbox1 a{float: left;width: 130px;height: 80px;margin: 0 0 20px 20px;}
.area3-right .txtlist{border-bottom: 1px solid #ececec;}
.area3-right .txtlist li{height: 22px;line-height: 22px;background-position: 0 -30px;margin: 0;padding: 8px 0 8px 15px;border-top: 1px solid #ececec;}
.area3-right .txtlist .txt{width: 200px;font-size: 14px;}
.area3-right .txtlist .grade{float: right;;width: 38px;height: 22px;line-height: 22px;text-align: center;font-size: 12px;color: #fff;font-weight: bold;background-color: #20da9b;}
/*area3-bottom*/
.area3-bottom{border-bottom: 1px solid #ececec;padding-bottom: 20px;}
.area3-bottom .comtitle{margin: 0 0 20px 0;border-top: 1px solid #ececec;border-bottom: 1px solid #ececec;padding: 10px 0;}
.area3-bottom .comtitle ol{float: left;margin-left: 25px;color:#666;}
.area3-bottom .comtitle li{height: 22px;line-height: 22px;padding: 0 10px;margin: 0 10px;display: inline-block;_zoom: 1;*display: inline;cursor: pointer;}
.area3-bottom .active {background-color: #ff5500;color: #fff;}


	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.area3-bottom .comtitle li a{color: #333;}
.area3-bottom .comtitle li:first-child{border-left: 0;}

.area3-bottom .comtitle .more{background: none;width: auto;color: #333;}
.area3-bottom .comtitle .more:hover{color: #ff5500;}
.area3-bottom .imgbox{margin-left: -20px; display:none}
.area3-bottom .show{ display:block}
.area3-bottom .imgbox a{margin-left: 20px;}
.area3-bottom .imgbox img{width: 130px;height: 100px;}
.area3-bottom .imgbox .txt{width: 130px;}
/*area3__end*/
/*area4*/
/*area4-left*/
.area4{border-bottom: 1px solid #eaeaea; padding-bottom:15px;}
.area4-left{float: left;width: 390px;padding-right: 20px;border-right: 1px solid #eaeaea;}
.area4 .comtitle{padding-bottom: 10px;border-bottom: 1px solid #ececec;}
.area4-left ol{width: 390px;height: 32px;margin-top: 17px;border-bottom: 1px solid #ececec;}
.area4-left ol li{float: left;width: 75px;line-height: 31px;font-size: 16px;text-align: center;color: #666;cursor: pointer;}
.area4-left ol li:hover{border-bottom: 2px solid #ff9500;}
.area4-left ol li.active{font-weight: bold;color: #f47142;border-bottom: 2px solid #ff9500;}
.area4-left ul .show{display: block;}
.area4-left .imgbox{margin-left: -20px;display: none;}
.area4-left .imgbox a{margin: 20px 0 0 20px;}
.area4-left .imgbox img{width: 115px;height: 80px;}
.area4-left .imgbox .txt{height: 36px;width: 115px;text-align: left;line-height: 18px;color: #666;}
/*area4-center*/
.area4-center{float: left;width: 430px;margin-left: 20px;}
.area4-center-top{margin-bottom:28px;}
.area4-center-top .imgbox{float: left;}
.area4-center-top .imgbox img{width: 180px;height: 117px;}
.area4-center-top .imgbox .txt{width: 180px;font-size: 16px;height: 16px;line-height: 16px;color: #333;}
.area4-center .txtlist{float: left;margin: -15px 0 0 18px;}
.area4-center .txtlist li{width: 215px;font-size: 16px;height: 16px;line-height: 16px;}
.area4-center-bottom .imgbox{margin: -17px 0 0 -20px;}
.area4-center-bottom .imgbox a{margin: 17px 0 0 20px;}
.area4-center-bottom .imgbox img{width: 92px;height: 65px;}
.area4-center-bottom .imgbox .txt{width: 92px;height: 16px;line-height: 16px;font-size: 16px;color: #333;margin-top: 5px;}
/*area4-right*/
.area4-right{float: right;width: 280px;}
.area4-right .comtitle{margin-bottom: 0;}
.area4-right img{
	transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
}
.area4-right img:hover{opacity: .8;filter: alpaha(opacity: 80);}
.area4-right dl{border-bottom: 1px solid #ececec;}
.area4-right-dl1{padding: 20px 0;}
.area4-right-dl1 dt{width: 130px;height: 93px;overflow: hidden;float: left;position: relative;}
.area4-right-dl1 dt a{ display:block; width:100%; height:100%;}
.area4-right-dl1 dt img{ display:block; width:100%; height:100%;}
.area4-right-dl1 dd{float: right;width: 140px;}
.area4-right-dl1 dd h3{font-size: 16px;width: 140px;height: 16px;line-height: 16px;overflow: hidden;margin-bottom: 10px;}
.area4-right-dl1 dd h3 a{color: #333;}
.area4-right-dl1 dd h3 a:hover{color: #ff5500;}
.area4-right-dl1 dd ul{font-size: 12px;color: #999;}
.area4-right-dl1 dd ul li{margin-bottom: 6px;height: 16px;line-height: 16px;overflow: hidden;}
.area4-right-dl1 dd ul i{color: #666;}
.area4-right-dl1 dd div{font-size: 12px;}
.area4-right-dl1 dd div span{float: left;color: #999;font-family: "Arial";margin-top: 5px;}
.area4-right-dl1 .grade{position: absolute;left: 0;top: 0;width: 50px;height: 25px;line-height: 25px;text-align: center;font-size: 16px;color: #fff;font-weight: bold;background-color: #20da9b;}
.area4-right-dl1 .grade small{font-size: 14px;font-weight: normal;}
.area4-down{float: right;color: #0095ff;width: 62px;height: 22px;line-height: 22px;text-align: center;background-color: #fff;border: 1px solid #0088e7;margin-right: 5px;
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.area4-down:hover{background-color: #0088e7;color: #fff;text-decoration: none;}
.area4-right-dl2{padding: 10px 0;}
.area4-right-dl2 dt{float: left;margin-right: 10px;}
.area4-right-dl2 .grade{line-height: 32px;text-align: center;font-size: 20px;color: #09ca89;font-weight: bold;}
.area4-right-dl2 .grade small{font-size: 14px;font-weight: normal;}
.area4-right-dl2 dd{float: left;width: 214px;padding-left: 10px;border-left: 1px dotted #ddd;}
.area4-right-dl2 div{width: 140px;float: left;}
.area4-right-dl2 dd h3{font-size: 14px;width: 140px;height: 14px;line-height: 14px;overflow: hidden;margin-bottom: 5px;}
.area4-right-dl2 dd h3 a{color: #333;}
.area4-right-dl2 dd h3 a:hover{color: #ff5500;}
.area4-right-dl2 dd span{display: block;font-size: 12px;color: #999;width: 140px;height: 12px;line-height: 12px;overflow: hidden;}
.area4-right dl:last-child{ border-bottom:none;}
/*area4__end*/
/*area5*/
.area5 .comtitle1 h2{font-size: 18px;color: #666;font-weight: normal;padding-left: 25px;}
.area5 .comtitle1 h2 span{color: #666;font-weight: normal;font-size: 20px;cursor: pointer;margin: 0 15px;}
.area5 .comtitle1 h2 span.active{color: #e54d00;font-weight: bold;font-size: 22px;}
.area5 .box{display: none;}
.area5 .show{display: block;}
/*area5-left*/
.area5-left{float: left;width: 390px;}
.area5-left-dl{height: 153px;background-color: #f9f9f9;margin-bottom: 20px;}
.area5-left-dl span{float: left;width: 20px;height: 128px;padding: 25px 10px 0 10px;line-height: 24px;font-size: 20px;font-weight: bold;color: #fff;background-color: #20da9b;}
.area5-left-dl dl{float: left;width: 309px;height: 120px;border: 1px solid #ececec;border-left: 0;padding: 16px 20px 15px 20px;}
.area5-left-dl dt{width: 120px;height: 120px;border-radius: 15px;overflow: hidden;float: left;}
.area5-left-dl dt img{ display:block; width:100%; height:100%;}
.area5-left-dl dd{float: right;width: 170px;}
.area5-left-dl dd h3{font-size: 20px;color: #fff;font-weight: bold;height: 22px;line-height: 22px;margin-bottom: 8px;width: 170px;overflow: hidden;}
.area5-left-dl dd h3 a{color: #333;}
.area5-left-dl dd h3 a:hover{color: #ff5500;}
.area5-left-dl dd p{font-size: 12px;color: #666;line-height: 20px;height: 60px;width: 170px;overflow: hidden;margin-bottom: 5px;}
.area5-left-dl dd .enter{display: block;width: 57px;height: 20px;border: 1px solid #ff7f00;background-color: #ff9500;line-height: 20px;text-align: center;color: #fff;font-size: 12px;
	transition: background-color .1s ease-out;
	-moz-transition: background-color .1s ease-out; /* Firefox 4 */
	-webkit-transition: background-color .1s ease-out; /* Safari 和 Chrome */
	-o-transition: background-color .1s ease-out; /* Opera */
}
.area5-left-dl dd .enter:hover{border-color: #e64d00;background-color: #ff5500;text-decoration: none;}
.area5-left .imgbox{padding: 19px 19px 19px 0;border: 1px dashed #ddd;background: url(/Public/images/index/area5_icon.png) 0 0 no-repeat;}
.area5-left .imgbox a{width: 72px;margin-left: 19px;}
.area5-left .imgbox img{width: 72px;height: 72px;border-radius: 10px;}
.area5-left .txtlist{float: left;width: 120px;margin-right: 10px;}
.area5-left .txtlist li{margin-top: 20px;}
.area5-left .txtlist .txt{font-size: 14px;color: #666;}
.area5-left .txtlist .txt:hover{color: #ff5500;}
/*area5-center*/
.area5-center{margin-left: 40px;float: left;width: 430px;overflow: hidden;}
.area5-center .imgbox{margin: 0 0 0 -12px;width: 460px;height:213px;overflow: hidden;}
.area5-center .imgbox a{width: 72px;padding: 0 20px 20px 20px;border-right: 1px dotted #ddd;}
.area5-center .imgbox img{width: 72px;height: 72px;border-radius: 10px;}
/*area5-right*/
.area5-right{float: right;width: 280px;}
.area5-right .ranklist{border-top: 1px solid #ececec;}
.area5-right .ranklist li.active{height: 72px;}
.area5-right .ranklist li.active dl{display: block;}
.area5-right .ranklist li.active div{display: none;}
.area5-right .ranklist li div{display: block;height: 20px;line-height: 20px;}
.area5-right dl{width: 240px;height: 72px;padding-left: 40px;background: url(/Public/images/index/area5_icon.png) 0 -185px no-repeat;display: none;}
.area5-right dt{width: 72px;height: 72px;border-radius: 10px;overflow: hidden;float: left;}
.area5-right dt{
	transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
}
.area5-right dt:hover{opacity: .8;filter: alpaha(opacity: 80);}
.area5-right dt a{ display:block; width:100%; height:100%;}
.area5-right dt img{ display:block; width:100%; height:100%;}
.area5-right dd{float: right;width: 150px;}
.area5-right dd h3{font-size: 18px;height: 18px;line-height: 18px;margin: 5px 0 12px 0;width: 150px;overflow: hidden;}
.area5-right dd h3 a{color: #333;}
.area5-right dd h3 a:hover{color: #ff5500;}
.area5-right dd ul{font-size: 12px;color: #999;}
.area5-right dd ul li{margin-bottom: 10px;width: 150px;height: 12px;line-height: 12px;overflow: hidden;}
.area5-right dd ul i{color: #666;}
.area5-right .ranklist .ranklist-li{width: 280px;padding: 12px 0;border-bottom: 1px solid #ececec;line-height: 14px;height: 14px;}
.area5-right .ranklist .num{float: left;width: 20px;height: 20px;line-height: 20px;text-align: center;background-color: #4b9afa;color: #fff;}
.area5-right .ranklist .ranktop3{background-color: #ff5a00;}
.area5-right .ranklist .txt{float: left;;width: 95px;height: 14px;color: #333;overflow: hidden;margin: 0 10px 0 20px;line-height: 14px;}
.area5-right .ranklist .date{float: left;;color: #333;}
.area5-right .ranklist .classify{float: right;color: #006fcd;margin-right: 20px;}
/*area5-bottom*/
.area5-bottom .comtitle{margin: 30px 0 20px 0;border-top: 1px solid #ececec;padding-top: 10px;}
.area5-bottom .comtitle .more{background: none;width: auto;color: #333;}
.area5-bottom .comtitle .more:hover{color: #ff5500;}
.area5-bottom .slide1{position: relative;overflow: hidden;height: 100px;padding-left: 60px;width: 1120px;height: 100px;}
.area5-bottom .slide1 .prev,.area5-bottom .slide1 .next{position: absolute;top: 0;width: 38px;height: 98px;border: 1px solid #ececec;background-color: #fcfcfc;background-image: url(/Public/images/index/area5_icon.png);background-repeat: no-repeat;z-index: 2;}
.area5-bottom .slide1 .prev{left: 0;background-position: 12px -322px;}
.area5-bottom .slide1 .next{right: 0;background-position: 12px -406px;}
.area5-bottom .imgbox1{position: relative;margin: 0;}
.area5-bottom .imgbox1 a{width: 160px;height: 100px;margin: 0 20px 0 0;}
/*area5__end*/
/*area6*/
.area6-top{padding-bottom: 20px;border-bottom: 1px solid #ececec;margin-bottom: 10px;}
/*area6-left*/
.area6-left{float: left;width: 390px;}
.area6-top .area6-right .txtlist{margin-bottom: 15px;border-bottom: 1px solid #ececec;}
.area6-left dl{height: 110px;}
.area6-left dt{width: 160px;height: 110px;overflow: hidden;float: left;
	transition: opacity 0.3s ease-out;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
}
.area6-left dt:hover{opacity: .8;filter: alpaha(opacity: 80);}
.area6-left dt a{ display:block; width:100%; height:100%;}
.area6-left dt img{ display:block; width:100%; height:100%;}
.area6-left dd{float: right;width: 210px;}
.area6-left dd h3{font-size: 18px;height: 20px;line-height: 20px;margin: 5px 0 10px 0;width: 210px;overflow: hidden;}
.area6-left dd h3 a{color: #cc4400;}
.area6-left dd h3 a:hover{color: #ff5500;}
.area6-left dd p{font-size: 12px;color: #999;line-height: 18px;height: 72px;width: 210px;overflow: hidden;}
.area6-left .txtlist{margin-top:22px;}
.area6-left .txtlist .txt{width: 310px;}
/*area6-center*/
.area6-center{float: left;width: 430px;margin-left: 40px;}
.area6-center .txtlist{margin-top: 32px;}
.area6-center .txtlist .txt{width: 350px;}
.area6-center .imgbox1 a{width: 130px;height: 100px;}
.area6-center .imgbox{margin: -20px 0 0 -20px;}
.area6-center .imgbox a{margin: 20px 0 0 20px;}
.area6-center .imgbox img{width: 130px;height: 100px;}
.area6-center .imgbox .layer{width: 130px;height: 100px;}
.area6-center .imgbox .txt{width: 130px;font-size: 16px;height: 16px;line-height: 16px;margin-top: 10px;}
/*area6-right*/
.area6-right{float: right;width: 280px;}
.area6-right .txtlist li{margin: 0;padding: 10px 0 10px 15px;border-top: 1px solid #ececec;background-position: 0 14px;}
.area6-right .imgbox2{margin-left: -20px;}
.area6-right .imgbox2 a{margin-left: 20px;}
.area6-bottm .area6-right .txtlist li{padding:9px 0 10px 0;}
.area6-bottm .area6-right .txtlist .classify{float: left;color: #006fcd;}
.area6-bottm .area6-right .txtlist .txt{width: 235px;padding-left: 10px;border-left: 1px solid #999;margin-left: 5px;}
/*area6__end*/
/*area7*/
.area7-cont1{padding-bottom: 20px;border-bottom: 1px dotted #ddd;margin-bottom: 20px;}
.area7-left .imgbox,.area7-center .imgbox{float: left;}
.area7-left .imgbox img,.area7-center .imgbox img{width: 135px;height: 100px;}
.area7-left .imgbox .txt,.area7-center .imgbox .txt{width: 135px;height: 36px;line-height: 18px;color: #333;text-align: left;}
.area7-left .txtlist,.area7-center .txtlist{float: left;margin: -15px 0 0 18px;}
.area7 .txtlist li{font-size: 14px;height: 15px;line-height: 15px;}
/*area7-left*/
.area7-left{float: left;width: 390px;border-right: 1px solid #ececec;padding-right: 20px;}
.area7-left .txtlist li{width: 220px;}
/*area7-center*/
.area7-center{float: left;margin-left: 20px;width: 430px;}
.area7-center .txtlist li{width: 260px;}
/*area7-right*/
.area7-right{float: right;width: 280px;}
.area7-right .imgbox{margin: 0 0 14px -20px;}
.area7-right .imgbox a{margin-left: 20px;}
.area7-right .imgbox img{width: 130px;height: 96px;}
.area7-right .imgbox .txt{width: 130px;height: 36px;line-height: 18px;color: #333;text-align: left;}
.area7-right .txtlist{border-bottom: 1px solid #ececec;}
.area7-right .txtlist li{margin: 0;padding: 10px 0 10px 15px;border-top: 1px solid #ececec;background-position: 0 14px;}
/*area7__end*/
/*area8*/
.area8 .box{display: none;}
.area8 .show{display: block;}
.area8-tab{height: 39px;border-bottom: 1px solid #ddd;line-height: 39px;font-size: 16px;color: #999;border-left: 1px solid #ddd;border-right: 1px solid #ececec;margin-bottom: 20px;}
.area8-tab li{float: left; height: 39px;border-left: 1px solid #ececec;background-color: #fff;cursor: pointer; width:130px; text-align:center;}
.area8-tab li:first-child{border-left: 0;}
.area8-tab li:hover{color: #ff5500;}
.area8-tab li.active{color: #ff2a00;padding-bottom: 1px;}
/*area-left*/
.area8-left{float: left;width: 860px;overflow: hidden;}
.area8-left .imgbox{margin: -20px 0 0 -20px;padding-bottom: 20px;border-bottom: 1px solid #ececec;}
.area8-left .imgbox a{margin: 20px 0 0 20px; display:block; width:156px;}
.area8-left .imgbox img{width: 156px;height: 107px; display:block;}
.area8-left .imgbox .txt{width: 156px;font-size: 16px;line-height: 16px;height: 16px;}
.area8-left-txtlist{margin: 25px 0 0 -25px;}
.area8-left .txtlist{float: left;width: 415px;margin: -16px 0 0 25px;}
.area8-left .txtlist li{margin-top: 16px;}
.area8-left .txtlist div{float: left;width: 340px;height: 16px;line-height: 16px;overflow: hidden;}
.area8-left .txtlist .txt{margin-right: 10px; max-width:330px; overflow:hidden; float:none!important;}
.area8-left .txtlist .desc{ font-size: 12px;color: #999;width: 110px;height: 16px;line-height: 16px;overflow: hidden;}
.area8-left .txtlist .grade{float: right;;width:47px;height:24px;line-height:24px;text-align: center;font-size: 12px;color: #20da9b;font-weight: bold; border:1px solid #20da9b;margin-top: -5px;}
.area8-left .txtlist .grade:hover{ border:1px solid #ff7300;}
/*area8-right*/
.area8-right{float: right;width: 280px;}
.area8-right h2{ color:#C40}
.area8-right .comtitle{margin: 0;border-bottom: 1px solid #ff9500;padding-bottom: 10px;}
.area8-right .comtitle i{color: #7d8399;margin-left: 5px;}
.area8-right ol{padding: 10px;}
.area8-right ol li{color: #999;font-size: 12px;margin-right: 50px;float: left;}
.area8-right ol li.area8-right-tab{float: right;margin-right: 5px}
.area8-right .ranklist{border-top: 1px solid #ececec; margin-top:4px;}
.area8-right .ranklist li{width: 260px;padding: 12px 10px;border-bottom: 1px solid #ececec;line-height: 14px;height: 14px;}
.area8-right .ranklist .num{float: left;width: 20px;height: 20px;line-height: 20px;text-align: center;background-color: #4b9afa;color: #fff;margin-top: -5px;}
.area8-right .ranklist .ranktop3{background-color: #ff5a00;}
.area8-right .ranklist .txt{float: left;;width: 170px;height: 14px;color: #333;overflow: hidden;margin: 0 10px 0 20px;}
.area8-right .ranklist .txt:hover{color: #ff5500;}
.area8-right .ranklist .grade{float: right;color: #ff7300;font-weight: bold;}
.area8-right .ranklist .grade i{color: #999;font-weight: normal;}
/*friendLink*/
.friendLink{width: 100%;padding: 30px 0;background-color: #f9f9f9;border-top: 1px solid #ff6a00;}
.friendLink a:hover{text-decoration: underline;}
.friendLink-cont{width: 1180px;padding: 0 10px;margin: 0 auto;}
.friendLink-title{border-bottom: 1px solid #ddd;line-height: 30px;height: 30px;margin-bottom: 20px;}
.friendLink-title h2{font-size: 18px;color: #414648;float: left;border-bottom: 1px solid #858585;line-height: 30px;padding-right: 30px;}
.friendLink-link{margin-left: -20px;}
.friendLink-link a{margin: 0 0 12px 20px;float: left;color: #666;width: 130px;height: 14px;line-height: 14px;overflow: hidden;}
/*sidenav*/
.sidenav{position: fixed;left: 50%;top: 50%;z-index: 999;margin-top: -230px;margin-left: 619px;font-size: 12px;}
#sidenav{
-webkit-animation:bounceInDown 1s .2s ease both;
-moz-animation:bounceInDown 1s .2s ease both;
}
@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px)
    }
    80% {
        -webkit-transform: translateY(-10px)
    }
    100% {
        -webkit-transform: translateY(0)
    }
}
@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(30px)
    }
    80% {
        -moz-transform: translateY(-10px)
    }
    100% {
        -moz-transform: translateY(0)
    }
}
/*ie6*/
*html{background-image: url(about:blank); background-attachment:fixed;}
.sidenav{_position: absolute;_bottom: auto;_top: expression(eval(document.documentElement.scrollTop));_margin-top: 250px;}
/*ie6__end*/
.sidenav a{display: block;width: 48px;height: 48px;background-image: url(/Public/images/index/sidenav.png);background-repeat: no-repeat;margin-bottom: 7px;line-height: 48px;text-align: center;font-size: 0;color: #fff;}
.sidenav-1{background-position: 0 0;}
.sidenav-2{background-position: 0 -57px;}
.sidenav-3{background-position: 0 -114px;}
.sidenav-4{background-position: 0 -171px;}
.sidenav-5{background-position: 0 -227px;}
.sidenav-6{background-position: 0 -284px;}
.sidenav-7{background-position: 0 -341px;}
.sidenav-8{background-position: 0 -398px;}
.sidenav-share{background-position: 0 -452px;}
.backtotop{background-position: 0 -506px;}
/*hover*/
.sidenav-1:hover,.sidenav-2:hover,.sidenav-3:hover,.sidenav-4:hover,.sidenav-5:hover,.sidenav-6:hover,.sidenav-7:hover,.sidenav-8:hover,.sidenav-1.active,.sidenav-2.active,.sidenav-3.active,.sidenav-4.active,.sidenav-5.active,.sidenav-6.active,.sidenav-7.active,.sidenav-8.active{background-position: 0 -562px;font-size: 12px;}
.sidenav-share:hover,.sidenav-share.active{background-position: 0 -617px;}
.backtotop:hover,.backtotop.active{background-position: 0 -673px;}
/*sideNav__end*/
.footer{width: 100%;margin-top:0!important;background-color:#fff!important;}