.no-svg .i {
	vertical-align: middle;
}
.no-svg .i--account-minus {
    width: 16px;
    height: 16px;
    background-position: 0 0;
}
.no-svg .i--account-multiple {
    width: 16px;
    height: 16px;
    background-position: -26px 0;
}
.no-svg .i--account-plus {
    width: 16px;
    height: 16px;
    background-position: -52px 0;
}
.no-svg .i--arrow-left {
    width: 16px;
    height: 16px;
    background-position: -78px 0;
}
.no-svg .i--arrow-right {
    width: 16px;
    height: 16px;
    background-position: -104px 0;
}
.no-svg .i--camera {
    width: 16px;
    height: 16px;
    background-position: -130px 0;
}
.no-svg .i--cellphone {
    width: 16px;
    height: 16px;
    background-position: -156px 0;
}
.no-svg .i--check {
    width: 16px;
    height: 16px;
    background-position: -182px 0;
}
.no-svg .i--chevron-down {
    width: 16px;
    height: 16px;
    background-position: -208px 0;
}
.no-svg .i--chevron-left {
    width: 16px;
    height: 16px;
    background-position: -234px 0;
}
.no-svg .i--chevron-right {
    width: 16px;
    height: 16px;
    background-position: -260px 0;
}
.no-svg .i--chevron-up {
    width: 16px;
    height: 16px;
    background-position: -286px 0;
}
.no-svg .i--clock {
    width: 16px;
    height: 16px;
    background-position: -312px 0;
}
.no-svg .i--close {
    width: 16px;
    height: 16px;
    background-position: -338px 0;
}
.no-svg .i--close-circle-outline {
    width: 16px;
    height: 16px;
    background-position: -364px 0;
}
.no-svg .i--content-save {
    width: 16px;
    height: 16px;
    background-position: 0 -26px;
}
.no-svg .i--delete {
    width: 16px;
    height: 16px;
    background-position: -26px -26px;
}
.no-svg .i--download {
    width: 16px;
    height: 16px;
    background-position: -52px -26px;
}
.no-svg .i--earth {
    width: 16px;
    height: 16px;
    background-position: -78px -26px;
}
.no-svg .i--email-outline {
    width: 16px;
    height: 16px;
    background-position: -104px -26px;
}
.no-svg .i--facebook-box {
    width: 16px;
    height: 16px;
    background-position: -130px -26px;
}
.no-svg .i--folder {
    width: 16px;
    height: 16px;
    background-position: -156px -26px;
}
.no-svg .i--gender-female {
    width: 16px;
    height: 16px;
    background-position: -182px -26px;
}
.no-svg .i--gender-male {
    width: 16px;
    height: 16px;
    background-position: -208px -26px;
}
.no-svg .i--gender-male-female {
    width: 16px;
    height: 16px;
    background-position: -234px -26px;
}
.no-svg .i--heart {
    width: 16px;
    height: 16px;
    background-position: -260px -26px;
}
.no-svg .i--heart-broken {
    width: 16px;
    height: 16px;
    background-position: -286px -26px;
}
.no-svg .i--heart-outline {
    width: 16px;
    height: 16px;
    background-position: -312px -26px;
}
.no-svg .i--home {
    width: 16px;
    height: 16px;
    background-position: -338px -26px;
}
.no-svg .i--link-variant {
    width: 16px;
    height: 16px;
    background-position: -364px -26px;
}
.no-svg .i--login {
    width: 16px;
    height: 16px;
    background-position: 0 -52px;
}
.no-svg .i--logout {
    width: 16px;
    height: 16px;
    background-position: -26px -52px;
}
.no-svg .i--magnify {
    width: 16px;
    height: 16px;
    background-position: -52px -52px;
}
.no-svg .i--menu {
    width: 16px;
    height: 16px;
    background-position: -78px -52px;
}
.no-svg .i--minus {
    width: 16px;
    height: 16px;
    background-position: -104px -52px;
}
.no-svg .i--pencil {
    width: 16px;
    height: 16px;
    background-position: -130px -52px;
}
.no-svg .i--pinterest-box {
    width: 16px;
    height: 16px;
    background-position: -156px -52px;
}
.no-svg .i--plus {
    width: 16px;
    height: 16px;
    background-position: -182px -52px;
}
.no-svg .i--reddit {
    width: 16px;
    height: 16px;
    background-position: -208px -52px;
}
.no-svg .i--settings {
    width: 16px;
    height: 16px;
    background-position: -234px -52px;
}
.no-svg .i--star {
    width: 16px;
    height: 16px;
    background-position: -260px -52px;
}
.no-svg .i--star-outline {
    width: 16px;
    height: 16px;
    background-position: -286px -52px;
}
.no-svg .i--television {
    width: 16px;
    height: 16px;
    background-position: -312px -52px;
}
.no-svg .i--thumb-down {
    width: 16px;
    height: 16px;
    background-position: -338px -52px;
}
.no-svg .i--thumb-up {
    width: 16px;
    height: 16px;
    background-position: -364px -52px;
}
.no-svg .i--tumblr {
    width: 16px;
    height: 16px;
    background-position: 0 -78px;
}
.no-svg .i--twitter-box {
    width: 16px;
    height: 16px;
    background-position: -26px -78px;
}
.no-svg .i--upload {
    width: 16px;
    height: 16px;
    background-position: -52px -78px;
}
.no-svg .i--video {
    width: 16px;
    height: 16px;
    background-position: -78px -78px;
}
.no-svg .i--webcam {
    width: 16px;
    height: 16px;
    background-position: -104px -78px;
}
.no-svg .i--windows {
    width: 16px;
    height: 16px;
    background-position: -130px -78px;
}
.no-svg .i--youtube-play {
    width: 16px;
    height: 16px;
    background-position: -156px -78px;
}
.no-svg .i--local_offer {
    width: 16px;
    height: 16px;
    background-position: 0 -104px;
}
.no-svg .i--pencil2 {
    width: 16px;
    height: 16px;
    background-position: 0 -130px;
}

