@charset "UTF-8";
/* updated Nov22 v2 */
/*break out!*/
.main-container, .top-promos-wrapper {
	max-width: 3000px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
/*no breadcrumb navigation*/
.breadcrumbs {
	display: none;
}
.main {
	padding-top: 0;
}
.cms-home .top-promos-wrapper, .flexslider--home-promos {
    margin-bottom: 0;
}
.footer-container {
	margin-top: 0;
}
video::-webkit-media-controls {
    display:none !important;
}
/* FONT */
h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
 	 user-select: none;          /* Likely future */  
}
/*font tools*/
.capz{
	text-transform: uppercase;
}
.txt-right {
	text-align: right!important;	
}
.txt-left {
	text-align: left!important;	
}
.txt-center{
	text-align:center!important;	
}
.longword{
	word-wrap:break-word;
}
.text-shadow{
	text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.20);
}
.white {
	color: white;	
}
.black {
	color: #333232!important;	
}
/*responsive header sizing*/
.title1 {
	font-size: 2.7rem;
}
.subtitle1, .subtitle2 {
	font-size: 1rem;
    font-size: 16px;
    line-height: 1.45rem;
}
/* for use within 2 col */
.title2 {
	font-size: 2.5rem;
    font-size: 40px;
}
/* for use within 3 col */
.title3 {
	font-size: 2.1875rem;
	font-size: 35px;
}
.subtitle3 {
	font-size: 0.875rem;
	font-size: 14px;
}
.title1, .title2, .title3, .subtitle1, .subtitle2, .subtitle3 {
text-transform:none;
}
a:visited, a:hover{
	text-decoration:none;
}
/* width: 100% keeps imgs within container */
.imgContainer img, .imgContainer video {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
}
/*each row*/
.row {
	position: relative;
	display: block;
	min-height: 30vh;
	margin: 0;
	padding: 0 0 5vw 0;
}
/*add to row class for nude background*/
/* in use: class="row spacer nude" */
.nude {
	background: #FEF5F0;
}
.blue-to-pink{
background: #ffbfcc;background: -webkit-linear-gradient(left, #c5e6ff , #ffbfcc);background: -o-linear-gradient(right, c5e6ff, #ffbfcc);background: -moz-linear-gradient(right, c5e6ff, #ffbfcc);background: linear-gradient(to right, c5e6ff , #ffbfcc);
}
.row.spacer {
	padding: 5vh 0;
}
/* columns max width and center */
.col2-set, .col3-set {
    max-width: 1200px;
    margin: 0 auto;
}
/*limits images within cols to 90%*/
/*combined rules for col2 and col3*/
.col2-set .imgContainer, .col3-set .imgContainer {
    max-width: 500px;
    width: 90%;
    padding: 5%;
    margin: 0 auto;
}
/*row featuring cols*/
.feature-col, .feature-row  {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
/*row featuring left/right spots*/
.feature-row {
    padding: 5vh 10vw 0;
    max-width: 1500px;
    margin: 0 auto;
}
/*div within col that contains content*/
.feature-col {
    flex-direction: column;
    -webkit-flex-direction: column;
}
.feature-full-width {
	max-height: 90vh;
	overflow: hidden;
}
.feature-full-height {
    max-height: none;
}
/*titles within rows/colmns*/
.title-center-row {
    text-align: center;
    padding: 5vh 5vw;
}
.title-center-col {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 25%;
}
.title-right, .title-left {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 30%;
    text-align: center;
    margin-right: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.title-left {
    left: 20%;
    width: 30%;
}
.title-below {
	text-align: -webkit-center;
	text-align: -ms-center;
	text-align: center;
	width: 100%;
	max-width: 600px;
    margin: 0 auto;
}
.title-right, .title-left, .title-below {
    padding:3em;
	text-align: -webkit-center;
	text-align: -ms-center;
	text-align: center;
}

/*text and cta within full width banners*/
.banner_content {
	position: absolute;
	text-align: center;
	background: transparent;
	margin: 0;
	padding: 1em;
	width: 70%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
/*use the following in conjuction for top/l/r or bottom/l/r eg. class="banner_content left top">*/
.banner_content.top, .banner_content.left, .banner_content.leftleft, .banner_content.bottom, .banner_content.right, .banner_content.rightright {width:35%;}

.banner_content.top {
	top: 30%;
}
.banner_content.left {
    left: 33%;
}
.banner_content.leftleft{
    left: 25%;
}
.banner_content.bottom {
	top: 70%;
}
.banner_content.right {
    left: 66%;
}
.banner_content.rightright {
    left: 75%;
}
.banner_content.box {
    top: 55%;
    width: 40%;
    max-width: 100%!important;
    background-color: #ffd6de;
    padding: 10% 5%;
}
.banner_content.rectangle{
    width: 50%;
    max-width: 48vw!important;
    background-color: #fbd6ce;
    padding: 10% 5%;
}
.banner_content.circle {
    width: 35vw;
    height: 35vw;
    max-width: 100%!important;
    background-color: #f2ceda;
    padding: 10% 5%;
    border-radius: 50%;
}
/*font/content styles for within banner_content*/
.banner_content .title1, .banner_content .subtitle1 {
	color: white;
}
.banner_content .title1 {
	line-height: 1.25em;
}
.banner_content svg {
	max-width: 50vw;
}
/*basic img container*/
.imgContainer {
}
.imgContainer.center {
    padding: 0 10%;
}
.imgContainer.left {
    width: 60%;
    margin-left: 0;
}
.imgContainer.leftleft {
    margin-left: -10%;
    width: 75%
}
.imgContainer.right {
    max-width: 60%;
    margin-right: 0;
}
.imgContainer.rightright {
    width: 75%;
    margin-left: auto;
    margin-right: -10%;
}
.imgContainer.center {
    padding: 0 10%;
}
/* above has been updated, bitBigger may not be necc anymore */
.imgContainer.bitBigger {
}
/* promo */
.promo-icon {
    margin: 1em;
    width: 50px;
	height:auto;
}
span.promo-code {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5em;
}
span.button{
	margin-top:3em;
}
/*.hide-on-mob{display:block;}*/
.hide-on-desk{display:none;}

@media only screen and (min-width : 1400px) {
.title1 {
    font-size: 52px;
    font-size: 3.25rem;
}
.subtitle1 {
    font-size: 16px;
    font-size: 1rem;
}
.longword {
    word-wrap: normal;
}
.banner_content.circle {
    width: 30vw;
    height: 30vw;
    max-width: 100%!important;
    background-color: #f2ceda;;
    padding: 9% 2%;
    border-radius: 50%;
}
}


@media only screen and (width : 768px) {
.hide-on-mob{display:none;}
/*.hide-on-desk{display:block;}*/
.parallax-window {
	min-height: 75vh;
}
	.banner_content.remain-on-ipad {
    text-align: center!important;
    margin: 0!important;
    position: relative!important;
    left: 0!important;
    width: 100%!important;
    height: auto!important;
    top: 0!important;
    background: #FEF5F0!important;
    transform: none!important;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    padding: 5% 10%!important;
}
.feature-full-width, .feature-full-height {
	max-height: 100%;
	overflow: hidden;
}
.feature-row {
    padding: 5vh 0;
}
.imgContainer.left, .imgContainer.leftleft {
    margin-left: 1%;
    width: 55%;
}
.imgContainer.right, .imgContainer.rightright {
    width: 50%;
    margin-left: 49%;
    margin-right: 1%;
}
.title-left, .title-right {
    width: 40%;
    top: 50%;
}
.title-below {
    padding: 5% 10%!important;
}
}


@media only screen and (max-width : 767px) {
.main-container .main>:not(.toolbar-container) {
	box-sizing: border-box;
	max-width: 2000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}	
.title1, .title2 {
    font-size: 32px;
    font-size: 2rem;
}
.subtitle1, .subtitle2 {
    font-size: 16px;
    font-size: 1rem;
}
.row.spacer {
	padding: 0!important;	
}

.feature-row {
	flex-direction: column;
	-webkit-flex-direction: column;
	padding: 0;
}
.reverse {
	flex-direction: column;
	-webkit-flex-direction: column;
}
.feature-col .left, .imgContainer .right {
	margin-left: 0;
	max-width: 100vw;
	margin-right: 0;
}
.feature-col.right {
	margin-right: 0;
}

.title-right, .title-left, .title-below {
	padding: 3em;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
	width: 100%;
    transform: none;
    -webkit-transform: none;
}
.banner_content {
    text-align: center!important;
    margin: 0!important;
    position: relative!important;
    left: 0!important;
    width: 100%!important;
    height: auto!important;
    top: 0!important;
    background: #FEF5F0!important;
    transform: none!important;
    -webkit-transform: none!important;
    -ms-transform: none!important;
    padding: 5% 10%!important;
}
.banner_content .title1, .banner_content .subtitle1 {
	color: #333232;
}
.imgContainer, .imgContainer.left, .imgContainer.leftleft, .imgContainer.right, .imgContainer.rightright, .col2-set.imgContainer {
	max-width: 90%!important;
	width: 90%!important;
	margin: 0 auto;
	margin-top: 10%;
}
	.imgContainer.center {
    padding: 0;
}
	
}
	







