.bc-player-S1a2kqV_default.vjs-mouse .vjs-big-play-button {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    font-size: 3.5em;
}

.vjs-overlay-buttons {
    font-size: 70%;
   padding-bottom: 30px;
}

.vjs-overlay-buttons {
     font-size: 70%;
   padding-bottom: 30px;
}