@charset "utf-8";

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
	height:100%
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
 HTML5 tags 
header, section, footer,
aside, nav, article, figure {
	display: block;
}
*{ padding:0; margin:0;}
ul,li{ list-style:none;}
img{ border:none; vertical-align:middle}



a{color:#361512;  text-decoration:none;}

#bodybox a:hover,#bodybox_sub a:hover{ text-decoration:underline;}
html { overflow:-moz-scrollbars-vertical; overflow-x: hidden; overflow-y: auto;}/*1024下消除横向滚动条*/
body{min-width:981px;height:100%;background: url("/assets/img/tw_one/bottom00.jpg") no-repeat scroll center bottom;font-size:13px; line-height:22px; font-family:"Arial,新細明體"; color:#fae7d6;background-color:#fae7d6;}
#bodybox{min-width:981px; background:url(/assets/img/tw_one/top00_v1.jpg) no-repeat center top; color:#471c1c;margin:0 auto 116px; height:1649px;}
#bodybox_article{min-width:981px; background:url(/assets/img/tw_one/top00_v1.jpg) no-repeat center top; color:#471c1c;margin:0 auto 180px; height:1649px;}
#bodybox_detail{min-width:981px; background:url(/assets/img/tw_one/top00_v1.jpg) no-repeat center top; color:#471c1c;margin:0 auto 150px; height:1649px;}
	
.main{ width:981px; margin:0 auto;display:table;  background-color:#fae7d6;}
.index_container {height:106px; background:url(/assets/img/tw_one/top01_v1.jpg) no-repeat center top; position:relative;float:left;width:982px;background-size: 100% 100%}
.index_nav{ height:70px;  position:relative;float:left;width:981px;}
.index_detail{z-index: 12; height:142px;  position:relative;float:left;width:1169px;display:none;}
.index_nav li{ float:left; text-align:center;width:104px;height:60px;}
/*.index_nav  .now{ background:url(/assets/img/new/title_pomo.png) no-repeat}

*/

.index_nav li:hover{
background:url(/assets/img/new_home/title_pomo.png) no-repeat scroll 18px 0px}
}


.index_detail li{ float:left; width:125px; height:58px;padding-left:8px;text-align:center;}
.index_nav li.logo{ width:145px;}
.index_nav li a,.index_detail li a{ margin-top:10px;display:block;color:#ffcf91;text-align:center;text-align:center;}
#back {display:none;z-index: 10; width: 1057px; height: 210px; position: absolute;  top: 0px; background-color:#DCAB5B; opacity: 0.4;filter:alpha(opacity=40);}
.sub_nav li a{ display:block; height:90px; background:url(/assets/img/pic/nav.jpg) no-repeat 0 -100px;}
/*.index_nav li a.n01:hover{ background-position:0px 0;}
.index_nav li a.n02:hover{ background-position:-130px 0;}
.index_nav li a.n03:hover{ background-position:-260px 0;}
*/
.index_nav li.logo a{ background:none;}
/*.index_nav li a.n04:hover{ background-position:-610px 0;}
.index_nav li a.n05:hover{ background-position:-740px 0;}
.index_nav li a.n06:hover{ background-position:-870px 0;}

*/
.choice_server_list{
	position:absolute;
    left: 250px;
    top: 150px;
    z-index:100;
}
#choice_server_list a:hover{ color:#ffdf98; text-decoration:none;background-position:-117px 0px;}
.choice_server_list .close_server_button{
	float:right;margin-top:22px;margin-right:32px;
	cursor: pointer;display:block;width:21px;height:21px;
	background:url(/assets/img/new/close_server.png);
}

.choice_server_list .server_header{
	background:url(/assets/img/new_home/server_header.png);
	height:58px;
	width:501px;
}

.server_change_tab{
	background: url(/assets/img/tw_one/server_change_tab_1.png) no-repeat;
    height: 34px;
    width: 299px;
    margin: 0px 141px;
}
.choose_common_server{
	float: left;
	height:32px;
	width:149px;
}
.choose_world_server{
	float: right;
	height:32px;
	width:149px;
}

.card_change_tab{
	height:34px;
	width:299px;
	margin:0px 2px; 
}
.common_server_card{
	float: left;
	height:32px;
	width:149px;
	cursor:pointer;
}
.world_server_card{
	float: right;
	height:32px;
	width:149px;
	cursor:pointer;
}

.choice_server_list .server_middle{
	background:url(/assets/img/new_home/server_middle.png) repeat-y;
	min-height:150px;
	padding:0 30px;
}

.choice_server_list .server_foot{
	background:url(/assets/img/new_home/server_end.png);
	height:27px;
	width:501px;
}

.choice_server_list .server_title{
	background:url(/assets/img/new/server_list_title.png);
	height:27px;
	width:418px;
}

.choice_server_list .server_title1{
	background-position:0 0;
}
.choice_server_list .server_title2{
	background-position:0 -66px;
}
.choice_server_list .server_title3{
	background-position:0 -143px;
}

.choice_server_list .server_item{
	display:blocd;
	overflow:hidden;
	padding: 5px 0;
	text-align:center;
	width:450px;
}
.choice_server_list .server_div{
	float:left;
}

.choice_server_list .banner_area{
	width:412px;
	float:left;
	display:none;

}
.choice_server_list .banner_index{
	width:80px;
	height:23px;
	float:left;
	margin-left:0px;
	background:url(/assets/img/id_sxd/server_index.jpg) no-repeat -83px 0;
	color:#af0102;
	cursor:pointer;
}

.choice_server_list .banner_index_now{
	width:80px;
	height:23px;
	float:left;
	margin-left:0px;
	background:url(/assets/img/id_sxd/server_index.jpg) no-repeat 0px 0;
	color:#fff;
	cursor:pointer;
}
.choice_server_list .index_bar{
	width:412px;
	height:auto;
	float:left;
	margin-left:20px;
	border-bottom: 1px solid #dfa09a;
}
.choice_server_list .server_button_box{
	width:400px;
	float:left;
	margin-left:20px;
	margin-bottom:5px;
	padding: 5px 0 12px 10px;
	border-color: #dfa09a;
	border-width:0 1px 1px;
	border-style:solid;

}

.choice_server_list .now{
	display:block;
	width:412px;
	float:left;	
}





.choice_server_list .server_button{
	background:url(/assets/img/new_home/server_button.png) 0 0;
	height:31px;
	width:117px;
	
	margin:5px;
	text-align:center;
	line-height:30px;
	font-size:12px;
	color:#ffffff;

	display: block;
    position: relative;
}
.server_button .new{
    background-image: url("/assets/img/new_home/server_bit.png");
    background-position:-6px -1px;
    background-repeat: no-repeat;
    height: 18px;
    position: absolute;
    right: 4px;
    top: 0;
    width: 15px;
}
.server_button .hot{
    background-image: url("/assets/img/new_home/server_bit.png");
    background-position:-40px -1px;
    background-repeat: no-repeat;
    height: 18px;
    position: absolute;
    right: 4px;
    top: 0;
    width: 15px;
}
.showregform{
	z-index: 999999;position:relative;
}

.server_backone{
	z-index: 10;
	width:100%;
	height:100%; 
	position: fixed;
	overflow:hidden; 
	left: 0px; top: 0px;
	background-color: rgb(102, 102, 102); 
	opacity: 0.8;
	filter:alpha(opacity=80);
}
.backone{
	z-index: 99999;
	width:100%; 
	height:100%; 
	position: fixed;
	overflow:hidden; 
	 
	background-color: rgb(102, 102, 102); 
	opacity: 0.8;
	filter:alpha(opacity=80);
	left: 0px; 
	top: 0px;
}
.regform{
	color:#ffffff; 
	font-family:"Arial,新細明體";
	font-size:12px;
	line-height:20px; 
	height:300px;
	width: 606px;
	background:url(/assets/img/tw_one/main_back.png) no-repeat;
    left: 50%;
    top: 124px;
    position: absolute;
    margin-left: -310px;
    z-index: 999999;
}

.regform ul,.regform li { padding:0; margin:0; list-style:none;}
.regform .input_form{width:405px;height:225px;position: relative; left: 110px; top: 66px;}
.regform .close_button{width:20px;height:20px;position: relative; left: 540px; top: 8px;}
.regform ul{width:400px;}
.regform .input_form li{ text-align:left;font-weight:bold;margin-top:10px;}
.regform .input_form li span{
	margin-left:80px;
	color:#999999; 
	font-size:0.97em;
}
.regform .input_td{ width:200px; border:1px solid #B5BAAE; height:20px; padding:2px; margin-left:25px;}
.input_td:focus {
	border-color:rgba(82,168,236,0.8);
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);outline:0;outline:thin dotted \9;
}
.showregform {
	display:none;
}
.total_server_list{
	
	margin:0 auto;
	position:relative;
	width:970px;
	z-index:99999;
}
.regform a{ color:#f30; text-decoration:none;}
#btnok_input{
	background:url("/assets/img/tw_one/submit.jpg") no-repeat scroll;;
	width:157px;
	height:40px;
	border:0 none;
	cursor:pointer;
	
}
.regform .thirdLogin{
	float:left;
	margin:7px 10px;
	
}
.regform .input_form li .error {
	color:red;    
}


.index_nav li.navflash{ clear:both; width:815px; height:350px;position:absolute;top: 119px; right:-100px;}
.index_nav li.navvideo{ position:absolute; clear:both; width:195px; height:166px; top:183px; left:357px; z-index:99999}

.index_left{ float:left; width:251px; height:1432px; background:url(/assets/img/tw_one/top02_v1.jpg) no-repeat; position:relative;background-size: 100%;}
.index_left .left_container{margin-left:-5px;float:left;}
.index_left .start_game {
	position:absolute; left:-20px; top:134px; width:310px;
    background:url(/assets/img/new_home/start.png) no-repeat;
}
.start_game a {
    display: inline-block;
    height: 222px;
    left: 0;
    position: absolute;
    top: 0;
    width: 294px;
    z-index: 99999;
}
.index_left .login1 {padding-top:342px;color:white;}
	.conLogin{height:395px;}
	.login_box{ height:397px; width:233px;margin-left:10px; margin-top:10px;background:url(/assets/img/tw_one/login_v1.png) no-repeat center top;float:left;}
	
	.data_container{display:block;width:146px;float:left; float:left;margin-top:26px;}
	.controllers{width:103px;height:22px;margin-top:0px;margin-left:42px;display:inline-block;}
	.controllers_password{width:103px;height:20px;margin-top:4px;margin-left:42px;display:inline-block;}
	.controllers input {
		color:#626262;border:1px;background-color:#fffaf3;width:103px;height:22px;
	}
	.controllers_password input {
		color:#626262;border:1px;background-color:#fffaf3;width:103px;height:22px;
	}
	
	.form-actions {cursor: pointer;background:url(/assets/img/tw_one/login_three_v1.png) no-repeat;width:73px;height:51px;margin-top:24px;margin-right:11px;display:block;overflow:hidden;*zoom:1;float:right;}
	
	.login_choice{float:left;margin-left:4px;margin-top:20px;display:block;width:92px;height:40px;}
	.login_choice .remember_password{margin-left:20px;height:14px;}
	.login_choice .forget_password{margin-left:20px;color:white;font-size:12px;height:10px;}
	.wenhao{margin-left:2px;}
	.fo_pa{margin-left:4px;}
	.login_choice .forget_password a{color:white;}
	.reg{cursor: pointer;background:url(/assets/img/tw_one/reg_three_v1.png) no-repeat;float:right;margin-top:20px;margin-right:23px;display:block;width:111px;height:33px;}
	.newer_card{cursor: pointer;background:url(/assets/img/tw_one/newer_card.png) no-repeat;float:right;margin-top:24px;margin-right:42px;display:block;width:150px;height:38px;}
	.newer_card_in{cursor: pointer;background:url(/assets/img/new_home/newer_card.png) no-repeat;float:right;margin-top:29px;margin-right:44px;display:block;width:150px;height:38px;}
	.ad_server_list{float:right;margin-top:33px;margin-right:15px;display:block;width:205px;height:40px;}
	.ad_server_list .server_item_png{
		text-align:center;
    }
    .ad_server_list .server_item_png img{
        margin-top:2px;
    }
	.ad_server_list .server_item_name{
		cursor:pointer;color:#471c1c;
	}
	
	.ad_server_list .server_item_status{
        float:right;
        color:#ff0000;
	}
	
	.ad_server_item_login{
		height:19px;
	}
	.ad_server_item_reg{
		height:19px;
	}
	.third_login{float:right;margin-top:20px;margin-right:10px;width:220px;}
	
	.third_login a:hover img{
		
		opacity:0.8;
	}
	.left_banner{margin-left:11px;margin-top:5px;}
	.left_media{margin-top:6px;margin-left:11px;background:url(/assets/img/tw_one/media_back.png) no-repeat;
				width:235px;height:149px;
	}
	.left_media .media_content{
		float:left;
		width:62px;
		color:#626262;
		padding-top:48px;padding-left:10px;
	}
	.kefu_contact{
		float:left;
		margin-top:7px;margin-left:11px;background:url(/assets/img/tw_one/kefu_back.jpg) no-repeat;
				width:234px;height:184px;
	}
	.kefu_contact .kefu_content{
		padding-top:72px;padding-left:85px;
	}
	.left_intro{width:237px;height:214px;margin-top:8px;margin-left:11px;background:url(/assets/img/tw_one/intro_back.jpg) no-repeat;}
	.left_intro .left_text{
		height:60px;padding-top:58px;padding-left:18px;width:200px;line-height:19px;color:#000000
    }
	.ready_box{height:395px; width:237px;margin-left:10px; margin-top:11px;background:url(/assets/img/tw_one/reg_v1.png) no-repeat center top;float:left;}
	.ready_box .uname{width:200px;height:40px;margin-left:40px;margin-top:10px;}
	.ready_box .server_list{width:100px;height:26px;margin-left:75px;margin-top:15px;text-align:center;}
	.ready_box .button{width:100%;height:90px;}
	.ready_box .button .choose_server_list{
		cursor: pointer;background:url(/assets/img/new_home/choice_server.png) no-repeat;float:right;margin-top:33px;margin-right:44px;display:block;width:150px;height:38px;
	}
	.ready_box .button .button_list{
		float:left;margin-top:2px;margin-left:1px;display:block;width:100%;height:23px;
	}
	.ready_box .button .button_list .button_item{
		width:78px;float:left;
	}
	.ready_box .button .button_list .button_item a{
		color:#ffffff;
	}
	.ready_box .button .choicebutton{height:29px;width:93px;background:url(/assets/img/new/choicebutton.png) no-repeat;cursor:pointer;}

#register .btn{ height:30px; font-size:15px; padding:5px 0 0 0;}
	#register .btn a{ display:inline-block; width:110px; height:30px; background:url(/assets/img/pic/btn.gif) no-repeat; text-align:center; line-height:28px; color:#fff;}
	#register .btn a.b01{margin: 0 5px;}
	#register dl{ border:1px solid #C1C1C1; height:110px; background:#F1F1F1;   margin: 5px 0px 0 6px;}
	#register dl dt{ height:22px; text-align:center; color:#979797}
	#register dl dd{ float:left; width:60px; height:23px;padding: 0 0 5px 12px;;}
	#register h3{ text-align:center; font-size:12px; font-weight:normal; padding:5px 0 0 ; color:#555555;}
	#log_off {width:230px; height:200px; text-align:center;}
	#log_off h2{ height:30px;background:url() no-repeat center top; padding:5px 0 0 0; font-size:15px; text-align:center;}
	#log_off h2 a{ color:#FFF3E0}
	#log_off h3{ height:22px; font-size:12px; color:#F00; font-weight:normal}
	#log_off dl{ border:1px solid #C1C1C1; height:76px; background:#F1F1F1; margin:0 10px 0 0; text-align:center;}
	#log_off dl dt{ height:22px; }
	#log_off dl dd{ height:26px;}
	#log_off dl dd a{ border:1px solid #848484; background-color:#fff; display:inline-block; width:124px; height:22px; line-height:22px;}/*2013-01-16修改*/
	#log_off p{ padding:2px 0 0 0; text-align:center}
	#log_off p a{ display:inline-block; margin:0 13px 0;}
	.index_left p{ padding-bottom:5px;}
	.index_left h2{ text-align:center; padding-bottom:15px}
	.allseaver a{ display:inline-block; width:116px; height:27px; background:url() no-repeat;}
	.allseaver a:hover{ background-position:0 -27px;}
	.address{text-align:center; padding:37px 10px 0 0; height:175px; line-height:18px;}
	.link{ padding:0 5px; height:40px; overflow:hidden; width:200px;}
			#demo { width:1950px; height:35px; overflow:hidden; }
			#indemo { float:left; width:1000%; }
			#demo1, #demo2, #demo1 p, #demo2 p {float:left; }
			#demo1 p, #demo2 p { padding-left:7px;}		
	.link a{ float:left; margin-right:10px}
.index_right{ float:right; width:731px; height:100%;background:url(/assets/img/tw_one/top03_v1.jpg) no-repeat;}
.index_right .piaorou{ 
	height: 140px;
    position: relative;
    left: 515px;
    top: -7px;
    width: 279px;}
.index_right .ads{margin-top:352px;margin-right:0px;float:right; width:100%; height:200px;background:url(/assets/img/new_home/ad01.png) no-repeat; }
.index_right .introduce{
	float:right; width:100%; height:604px;
	margin-top:13px;
}
.index_right h2 {
    color: #503521;
    font-weight: bold;
    float: left;
    font-size: 14px;
    margin-top: 6px;
    /*margin-left: 20px;*/
    width: 100%;
    text-align: center
}

.introduce .left_content {
	width:491px;
	float:left;
}
.introduce .left_content .news{
	width:491px;
	height:304px;
	float:left;
	background:url(/assets/img/tw_one/news_back.png) no-repeat;
}
.news .news_title{
	margin-top:2px;margin-right:8px;float:right;
}
.game_data .gamedata_title{
    margin-top:1px;margin-right:9px;float:right;
}
.game_data .game_data_title{
	margin-top:1px;margin-right:9px;float:right;
}
.guide .guide_title{
	margin-top:1px;margin-right:7px;float:right;
}
.left_intro .left_intro_title{
	margin-top:1px;margin-right:11px;float:right;
}
.index_right .warrior{margin-top:10px;margin-right:0px;float:right; width:100%; height:350px;background:url(/assets/img/tw_one/character_back.jpg) no-repeat center top;}

.index_right .article_nav{color:white;margin-top:353px;float:left;width:731px;height:44px;background:url(/assets/img/new_home/article_nav.png) no-repeat;}
.position  a{
	color:#ffffff;
}
#article_title a:hover{
	text-decoration:none;
}
.index_right .article_content{float:left;width:727px;height:auto !important;height:600px; min-height:1084px;background-color:#fff6f2;border:1px solid #571c17;}
.index_right .article_top{float:left;width:731px;height:10px;background:url(/assets/img/new/top_back2.png) no-repeat;}
.index_right .article_buttom{float:left;width:727px;height:65px;}
.index_right h1{ font-size:25px;padding-top:20px;  color:#6b3532; height:30px;text-align:center;}
#con_Flash{width:550px;height:200px; padding:3px 0 0 6px;}
#control{height:37px;text-align:center;position:absolute; z-index:10; right:30px; top:155px;}
#control span{width:13px;height:13px;font-size:0;line-height:0;cursor:pointer;display:inline-block;background-color:#B4C6EE;border:1px solid #354B7C;margin:13px 2px 2px;}
#control span.active{background-color:#615D86;border:1px solid #483B69;}
.right_new{ float:left; height:215px; width:440px;padding: 22px 0 0; position:relative;}
	.nav_news{ height:35px; margin-left:7px;margin-top:36px;width:480px;background:url(/assets/img/tw_one/news_button.png) no-repeat;}
	.nav_news li{float:left;width:119px; height:35px; cursor:pointer; position:relative}
	.nav_news li span{ display:inline-block; width:120px; height:35px; background:url(/assets/img/tw_one/navnews.png) no-repeat 0 -200px;}
	.nav_news li.now span.t01{ background-position:0 0;}
	.nav_news li.now span.t02{ background-position:-119px 0;}
	.nav_news li.now span.t03{ background-position:-240px 0;}
	.nav_news li.now span.t04{ background-position:-360px 0;}
	.newstxt{width:464px; margin-left:16px; height:225px; position:relative;}
	
	.newstxt p{ height:25px;padding-top:6px;border-bottom:1px solid #8c2728;}
	.newstxt p span{ float:right; margin-right:8px;color:#8d0909;}

	.warrior_content{margin-left:7px;margin-top:35px;}
	.nav_warrior{ height:37px; width:396px;background:url(/assets/img/tw_one/title.png) no-repeat;}
	.nav_warrior li{float:left;width:79px; height:37px; cursor:pointer; position:relative;z-index: 10;}
	.nav_warrior li span{ display:inline-block; width:79px; height:37px; background:url(/assets/img/tw_one/titleon.png) no-repeat 0 -200px;}
	.nav_warrior li.now span.t01{ background-position:0 0;}
	.nav_warrior li.now span.t02{ background-position:-78px 0;}
	.nav_warrior li.now span.t03{ background-position:-157px 0;}
	.nav_warrior li.now span.t04{ background-position:-236px 0;}
	.nav_warrior li.now span.t05{ background-position:-315px 0;}
	
	.warriortxt{ margin:24px 0px;width:400px; height:190px; position:relative;z-index: 5;}
	
	.warriortxt p{ height:22px;}
	.warriortxt p span{ float:right;}
	.game_data{width:100%;float:left;height:289px;margin-top:10px;margin-left:0px;
				background:url(/assets/img/tw_one/data_back.jpg) no-repeat;
	}
    .game_data .gamdata_content{width:280px;height:216px;background:url(/assets/img/tw_one/content_back.png) no-repeat;}
    .game_data .accordionWrapper{display:inline-block; background-color:#806851; overflow:hidden;}
    .game_data .accordionWrapper img{vertical-align:top; border:0; margin:0; padding:0}
    .game_data .accordionWrapper div{display:inline; float:left; margin:auto;}
    .game_data .accordionWrapper div.gamdata_title{cursor:pointer;background:url(/assets/img/tw_one/title_back.png) no-repeat;}
    .game_data .accordionWrapper div.gamdata_content{display:none;}
	
	.game_data .gamdata_content li{
		float: left;height: 90px;text-align: center;width: 20px;margin-top:60px;padding-left:3px;
    }
	.data_text{float:left;width:465px;height:216px;margin-top:28px;margin-left:23px;}
    .data_text a{
    	color:#361512;
    }
    .data_text a:hover{
        color:#96342c;	
    }
    #data_text a:hover{
        
        text-decoration: none;
    }
	.data_text .data_text_block{
		line-height:21px;
		padding-bottom:25px;
	}
	.nav_data li{height:53px;width:142px;margin-top:15px;margin-left:5px;}
	.nav_data li span{margin-left:5px;}
	.nav_data li img{cursor:pointer;margin-top:4px;}
	.nav_data li.now{background:url(/assets/img/new/game_data_back.png) no-repeat}
.right_pic{ float:left; width:200px; height:145px;padding: 92px 0 0 35px;}
	.new01{ float:left; width:455px; height:450px; overflow:hidden; font-size:13px;}
	.new01 h2{ text-align:right; font-size:12px; height:21px; padding:3px 20px 0 0;}
	.new01 .nav_news{ padding-left:4px;}
	.new01 .nav_news li{ width:88px; height:35px;}
	.new01 .newstxt02{ padding:0 7px 0 260px; height:370px;}
	.new01 #btxt1{ background:url(/assets/img/pic/bg_play01.jpg) no-repeat;}
	.new01 #btxt2{ background:url(/assets/img/pic/bg_play02.jpg) no-repeat;}
	.new01 #btxt3{ background:url(/assets/img/pic/bg_play03.jpg) no-repeat;}
	.new01 #btxt4{ background:url(/assets/img/pic/bg_play04.jpg) no-repeat;}
	.new01 #btxt5{ background:url(/assets/img/pic/bg_play05.jpg) no-repeat;}
	.new01 .nav_news li span{ display:inline-block; width:88px; height:35px; background:url(/assets/img/pic/navplays.jpg) no-repeat 0 -200px;}
	.new01 .nav_news li.now span.p01{ background-position:1px 0;}
	.new01 .nav_news li.now span.p02{ background-position:-87px 0;}
	.new01 .nav_news li.now span.p03{ background-position:-175px 0;}
	.new01 .nav_news li.now span.p04{ background-position:-263px 0;}
	.new01 .nav_news li.now span.p05{ background-position:-351px 0;}
.newstxt02 span{ float:left;padding-right:10px;}
.new02{ float:left; width:300px; height:250px; overflow:hidden; padding-left:4px;}
.new02 h2{padding:10px 60px 0 0;}
.text01{ float:left; width:310px; height:270px;overflow:hidden}
.text01 h2{ text-align:right; height:35px; padding:0 25px 0 0;}
.text01 .text_list{ height:200px; padding:0 5px;}
.text01 .text_list li{ height:78px;}
.text01 .text_list li img{ float:left; margin-right:5px;}
.text02{ float:right; width:290px; height:265px; overflow:hidden }
.text02 h2{ text-align:right; padding:0 20px 0 0; height:40px;}
.text02 ul{ padding:0 10px 0 0; height:200px;}
.text02 ul li{ height:24px;}
.facebook{ float:right; width:290px; height:165px; padding:0 0 0 5px; overflow:hidden; }
/*内容页*/
#bodybox_sub{ background:url(/assets/img/pic/body_sub.jpg) no-repeat center top; color:#686868;}
.sub_nav{background:url(/assets/img/pic/sub_head.jpg) no-repeat;}
.sub_right{ float:right; width:709px; padding:0 25px;min-height:920px; _height:920px; background:url(/assets/img/pic/sub_right.jpg) no-repeat #fff;}
.sub_right h2{ height:55px;padding: 3px 60px 0 0}
.sub_right h2 span{ float:right; color:#fff; font-size:13px;}
.sub_right h2 a{ color:#fff;}
.sub_right h1{ text-align:center; font-size:20px; height:60px; border-bottom:1px solid #BEBEBE; color:#22353B}
.sub_right h1 span{ display:block; padding:10px 0 0 0; font-size:12px; font-weight:normal;}
.content{ min-height:800px; _height:800px; padding:5px 44px; line-height:24px;}
.fenge{margin:0 auto;width:604px;}
.titList{ height:50px; background:url() no-repeat; padding2px 0 0 10px;}
.titList a{ float:left; font-size:15px; margin-left:-1px; position:relative;display:inline-block; padding:3px 0 0 0; width:91px; height:30px; border-right:1px solid #DADADA; text-align:center; line-height:30px; font-weight:bold}
#bodybox_sub .titList a:hover,#bodybox_sub .titList a.now{border-bottom:1px solid #fff; color:#000;text-decoration:none; background:url() no-repeat center bottom;}
.titList span{ float:right; padding:8px 0 0 0;}	
.titList span a,.titList span a:hover{ border:none; background:none;}
.newList{ padding:0 10px; line-height:26px;}
.newList li{ height:32px; padding:5px 0 0 0;background:url() repeat-x left bottom;}
.newList li span{ float:right;}
.newList li a{ display:inline-block; margin-right:10px;}
.pagenum{ clear:both; padding:30px 0 10px; text-align:center;}
.pagenum a{ display:inline-block; margin:0 10px;}
.ulList{ min-height:900px; _height:900px;line-height:24px; padding: 0 20px 0 10px; margin-bottom:10px;}
.ulList h3{ padding:0 0 10px 0;}
.ulList .L01{ display:table; padding:10px;}
.ulList .L01 li{ float:left; width:326px; text-align:center; font-weight:bold; font-size:15px;}
.ulList .L01 li a{ display:inline-block; color:#000; width:195px; height:60px; text-align:center; padding:10px 0 0 10px; background:url() no-repeat;}
.ulList .L02 li{ font-size:13px; font-weight:normal;}
.ulList .L02 li a{ background:url() no-repeat; padding:5px 0 0 0;}
.ulList .L03{ display:table; padding:10px 0;}
.ulList .L03 li{ float:left; width:220px; height:50px; text-align:center;}
.ulList .L03 li a{ display:inline-block; width:140px; font-size:12px; text-align:center; padding:7px 0 0 17px; height:36px; background:url() no-repeat;}

/*活动页*/
.hdText{ clear:both;display:table; padding:10px; border:1px solid #B4B3B4; margin-bottom:10px; line-height:22px;}
.hdText .hdpic{ float:left; margin-right:10px;}

.fans{
	width:32%;float:right;height:373px;background:url(/assets/img/tw_one/fans.jpg) no-repeat;
}

.fans .fans_content{
	padding-left:25px;
	padding-top:56px;
}
.guide {
	margin-top:12px;width:32%;float:right;height:218px;background:url(/assets/img/tw_one/guide_back.png) no-repeat;
}
.guide .guide_content{
	margin-top:54px;margin-left:45px;line-height:28px;
}
.guide .guide_content a{
   text-decoration:underline;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {
display:inline-block;
}
.article_content .pagination{
	float:right;
	width:auto;
	margin:10px 5px;
}

.article_content .pagination div{
	
	float:left;
	width:auto;
	height:20px;
	margin:0 2px;
	padding:0 5px;
	border:1px  solid #dadada;
}



.game_rank{
    width: 234px;
    float: right;
    height: 373px;
    background: url(/assets/img/tw_one/fans.png?v=1) no-repeat;
    background-size:100% 100%;
}

.rank_content{
    width: 222px;
    height: 330px;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 8px;
    border-radius: 10px;
    margin-left: 6px;
}

.rank_list{
    width: 100%;
    height: 100%;
}

.rank{
    width:100%;
    height:26px;
    float:right;
}

#rank_0{
    background-color: #fea82d;
}

#rank_1{
    background-color: #ffbd5f;

}
#rank_2{
    background-color: #ffdfb2;

}

.rank_img{
    margin-left: 4px;
    float: left;
}

.rank_name{
    margin-left: 12px;
    height: 100%;
    width:50%;
    float: left;
    overflow: hidden;
}

.rank_sever_name{
    margin-left: 6px;
    height: 100%;
    width:13%;
    float: left;
    overflow: hidden;
    text-align: center;
}
.rank_value{
    margin-right: 6px;
    height: 100%;
    /*width:35%;*/
    float:right;
    text-align: right;
}