/*
	AnythingSlider v1.5.10+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider1 {
	float:left;
	margin: 0 auto;
	display: block;
	
	overflow: hidden; /* needed for Opera and Safari */
}

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider1 .thumbNav1 a.cur1, div.anythingSlider1 .thumbNav1 a {
	
	color: #000;
}
div.anythingSlider1 .anythingWindow1 {
	
}
div.anythingSlider1 .start-stop {
	
	
}
div.anythingSlider1 .start-stop.playing {
	
}
div.anythingSlider1 .start-stop:hover, div.anythingSlider1 .start-stop.hover {
	
}

/* Active State */
div.anythingSlider1.activeSlider1 .anythingWindow1 {
	
}
div.anythingSlider1.activeSlider1 .thumbNav1 a.cur1 {
background-image: url(../images/far/anythingslider/selected.png);	
}
div.anythingSlider1 .start-stop {
	
}
div.anythingSlider1 .start-stop.playing {
	
}
div.anythingSlider1 .start-stop:hover, div.anythingSlider1 .start-stop.hover {
	
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider1 .anythingWindow1 {
	overflow: hidden;
	position: relative;
	width: 99.5%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider1 {
	position: relative;
	padding: 0px 0px 0px 0px;
}
/* anythingSlider base */
.anythingBase1 {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingBase1 .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	
}

/* Navigation Arrows */
div.anythingSlider1 .arrow {
	position: absolute;
	display: block;
	z-index:1000;
	
}
div.anythingSlider1 .arrow a {
	display: block;
	
	width: 25px;
	text-align: center;
	outline: 0;
	
}
div.anythingSlider1 .arrow a span { display: block; text-indent: -9999px;z-index:10000; }
div.anythingSlider1 .forward { right: 0; }
div.anythingSlider1 .back { left: 0; }
div.anythingSlider1 .forward a {  }
div.anythingSlider1 .back a { }
div.anythingSlider1 .forward a, div.anythingSlider1 .forward a.hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";filter: alpha(opacity=50);opacity:0.5; background: url('../images/spritesArrow.png') no-repeat 0 -0px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -o-transition:all 0.5s; -ms-transition:all 0.5s;margin:1px 0 0 1px; }
div.anythingSlider1 .forward a:hover, div.anythingSlider1 .forward a.hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";filter: alpha(opacity=100);opacity:1;}
div.anythingSlider1 .back a, div.anythingSlider1 .back a.hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";opacity:0.5; background: url('../images/spritesArrow.png') no-repeat 0 -35px; -webkit-transition:all 0.5s; -moz-transition:all 0.5s; -o-transition:all 0.5s; -ms-transition:all 0.5s;margin: 1px 0 0 1px;}
div.anythingSlider1 .back a:hover, div.anythingSlider1 .back a.hover {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;}
div.anythingSlider1 .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
div.anythingSlider1 .back.disabled { display: none; }

/* Navigation Links */
div.anythingSlider1 .anythingControls1 { outline: 0; display: none; width:100%; text-align:center; }
div.anythingSlider1 .thumbNav1 { margin: 0; padding: 0; }
div.anythingSlider1 .thumbNav1 li { 
display: inline; 

}
div.anythingSlider1 .thumbNav1 a {
	font: 11px/18px Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 0px;
	height: 9px;
	width:9px;
	margin: 0 2px 0 0;
	background-image: url(../images/far/anythingslider/deselect.png);
	background-repeat: no-repeat;
	text-align: center;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
div.anythingSlider1 .thumbNav1 a {
		background-image: url(../images/far/anythingslider/deselect.png);
	
}
div.anythingSlider1 .thumbNav1 a:hover {
	background-image: url(../images/far/anythingslider/selected.png);
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider1.rtl .thumbNav1 a { float: right; } /* reverse order of nav links */
div.anythingSlider1.rtl .thumbNav1 { float: left; }    /* move nav link group to left */
div.anythingSlider1.rtl .anythingWindow1 {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider1 .start-stop {

	float: right;
	z-index: 100;
	
	
}
div.anythingSlider1 .start-stop:hover, div.anythingSlider1 .start-stop.hover { background-image: none; }

div.anythingSlider1, div.anythingSlider1 .anythingWindow1, div.anythingSlider1 .thumbNav1 a, div.anythingSlider1 .arrow a, div.anythingSlider1 .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}

/*
	AnythingSlider v1.5.10+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider2 {
	
	margin: 0 auto;
	display: block;
	
	overflow: hidden; /* needed for Opera and Safari */
}

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider2 .thumbNav2 a.cur2, div.anythingSlider2 .thumbNav2 a {
	
	color: #000;
}
div.anythingSlider2 .anythingWindow2 {
	
}
div.anythingSlider2 .start-stop {
	
	
}
div.anythingSlider2 .start-stop.playing {
	
}
div.anythingSlider2 .start-stop:hover, div.anythingSlider2 .start-stop.hover {
	
}

/* Active State */
div.anythingSlider2.activeSlider2 .anythingWindow2 {
	
}
div.anythingSlider2.activeSlider2 .thumbNav2 a.cur2 {
background-image: url(../images/far/anythingslider/selected.png);	
}
div.anythingSlider2 .start-stop {
	
}
div.anythingSlider2 .start-stop.playing {
	
}
div.anythingSlider2 .start-stop:hover, div.anythingSlider2 .start-stop.hover {
	
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider2 .anythingWindow2 {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider2 {
	position: relative;
	padding: 0px 0px 28px 0px;
}
/* anythingSlider base */
.anythingBase2 {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingBase2 .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
	
}

/* Navigation Arrows */
div.anythingSlider2 .arrow {
	position: absolute;
	display: block;
	z-index:1000;
	
}
div.anythingSlider2 .arrow a {
	display: block;
	
	width: 25px;
	text-align: center;
	outline: 0;
	
}
div.anythingSlider2 .arrow a span { display: block; text-indent: -9999px;z-index:10000; }
div.anythingSlider2 .forward { right: 0; }
div.anythingSlider2 .back { left: 0; }
div.anythingSlider2 .forward a {  }
div.anythingSlider2 .back a { }
div.anythingSlider2 .forward a:hover, div.anythingSlider2 .forward a.hover { background: url('../images/far/anythingslider/forward-over.png') no-repeat; background-position-y:50%; }
div.anythingSlider2 .back a:hover, div.anythingSlider2 .back a.hover { background: url('../images/far/anythingslider/back-over.png') no-repeat; background-position-y:50%;}
div.anythingSlider2 .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
div.anythingSlider2 .back.disabled { display: none; }

/* Navigation Links */
div.anythingSlider2 .anythingControls2 { outline: 0; display: none; width:100%; text-align:center; }
div.anythingSlider2 .thumbNav2 { margin: 0; padding: 0; }
div.anythingSlider2 .thumbNav2 li { 
display: inline; 

}
div.anythingSlider2 .thumbNav2 a {
	font: 11px/18px Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 0px;
	height: 9px;
	width:9px;
	margin: 0 2px 0 0;
	background-image: url(../images/far/anythingslider/deselect.png);
	background-repeat: no-repeat;
	text-align: center;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
div.anythingSlider2 .thumbNav2 a {
		background-image: url(../images/far/anythingslider/deselect.png);
	
}
div.anythingSlider2 .thumbNav2 a:hover {
	background-image: url(../images/far/anythingslider/selected.png);
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider2.rtl .thumbNav2 a { float: right; } /* reverse order of nav links */
div.anythingSlider2.rtl .thumbNav2 { float: left; }    /* move nav link group to left */
div.anythingSlider2.rtl .anythingWindow2 {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider2 .start-stop {

	float: right;
	z-index: 100;
	
	
}
div.anythingSlider2 .start-stop:hover, div.anythingSlider2 .start-stop.hover { background-image: none; }

div.anythingSlider2, div.anythingSlider2 .anythingWindow2, div.anythingSlider2 .thumbNav2 a, div.anythingSlider2 .arrow a, div.anythingSlider2 .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}
