BODY
{
	
}
DIV.SiteContainer
{
	/* border:1px solid #cccccc;*/
}
DIV.TopSiteDelimiter
{
	background-image: url('../images/far/blue_little_header_tile.gif');
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
DIV.Header1
{
	/* background-color:#E8E8E8;*/
}
DIV.HeaderContainer
{
	background-color:#3c7faf;
	border:1px solid #3c7faf;
	background-image:url('../images/far/glow_b.gif');
}
DIV.HeaderContainer2
{
	background-color:#3c7faf;
	border:1px solid #3c7faf ;
/*	background-repeat:no-repeat;
	background-image:url('../images/far/glow_b2.gif');
	background-position:left center;*/
	height:68px;
}
DIV.WelcomeContainer
{
	border:1px solid #CCCCCC;
	background-color:#e2eaf8;
}
DIV.BottomSearchContainer
{
	background-color:#3c7faf;
}
DIV.ServiceContainer
{
	border:1px solid #CCCCCC;
}
DIV.SearchMenu
{
	border:1px solid #CCCCCC;
	background-color:#e2eaf8;
}
.Block
{
	border:1px solid #E8E8E8;
	background-color:#fff;
}
.BlockTitleGray
{
	background-color:#E8E8E8;
	border-bottom:1px solid #E8E8E8;
	color:#284f7b;
	padding:3px 7px 3px 3px;
	text-align:right;
}
.BlockTitle
{
	background-color:#E8E8E8;
	border:1px solid #CCCCCC !important;
}
.BlockTopMenu
{
	border-bottom:1px solid #CCCCCC;
}
.BlockBottomMenu
{
	border-top:1px solid #CCCCCC;
}
.ContentBlockContainer
{
	
	
}
.BottomSiteContainer
{
	/* border:1px solid #cccccc;*/
}
.BlockTitleRight
{
	/* border-bottom:1px solid #CCCCCC;*/

}
.BlockRight
{
	background-color:#fff;
	float:right;
	
}
.AddContent
{
	background-color:#E8E8E8;
}
/* service Menu */
#page {
	BORDER-LEFT-COLOR: #CCCCCC;
	BORDER-BOTTOM-COLOR: #CCCCCC;
	COLOR: #333;
	BORDER-TOP-COLOR: #CCCCCC;
	BACKGROUND-COLOR: #fff;
	BORDER-RIGHT-COLOR: #CCCCCC;
}
.nav3 UL {
	BACKGROUND-IMAGE: url(../images/far/mt_gr.gif);
	BORDER-BOTTOM-COLOR: #CCCCCC;
	BORDER-TOP-COLOR: #fff;
}
.nav3 LI A {
	BACKGROUND-IMAGE: url(../images/far/ms_b.gif);
}
.nav3 UL UL {
	BORDER-TOP-COLOR: #CCCCCC;
	BORDER-BOTTOM-COLOR: #CCCCCC;
}
.nav3 LI.selected A {
	BACKGROUND-COLOR: #fff;
	BORDER-LEFT-COLOR: #CCCCCC;
	BORDER-TOP-COLOR: #CCCCCC;
	BORDER-RIGHT-COLOR: #CCCCCC;
	BORDER-BOTTOM-COLOR: #fff;
}
/* Content */
.pn-listpages-search{
	background-color:#dedee3;
}
.pn-listpages-search-text{
	border: solid 1px #CCCCCC;
	background-color: #ffffff;
}
.pn-listpages-title{
	background-color: #dee6cf;
}
.pn-listpages-comment{
	background-color: #f6f6f6;
}
.pn-listpages-link{
	color: #766d6b;
	text-decoration: none;
}
.pn-listpages-no-link{
	color: #174eb9;
}
.pn-listpages-table-border{
	border: solid 1px #CCCCCC;
}
.pn-subject-footer{
	background-color: #efefef;
	border-top: solid 1px #CCCCCC;
	border-right: solid 1px #CCCCCC;
	border-left: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
}
/*	contact_us	*/
.contactPic{
	border : solid 1px #CCCCCC;
}
.tdTabSheet{
	background-color : #E8E8E8;
}
.tbStandard{
	border : 1px solid #CCCCCC;
}
.tbStandardHeader{
	border : 1px solid #CCCCCC;
	background-color : #E8E8E8;	
}

.admin_menu {
	background-color:#E8E8E8;
	border:1px solid #CCCCCC;
	width:19%;
	padding-bottom:50px;
}

.menuitem {
	border:1px solid #CCCCCC;
	position:relative;
	padding:5px;	
	text-align:right;
	right:2px;
	border-right:1px solid #E8E8E8;	
}

.menuselecteditem {
	border:1px solid #CCCCCC;
	position:relative;
	background-color:#fff;
	padding:5px;
	text-align:right;
	right:2px;
	border-left:1px solid #fff;		
}

/*----- portal page content styles */
table.section {
	width:100%;
	float:right;
}

td.sectionheader {
	padding:8px;
	font-weight:600;
}

img.sectionheader {
	vertical-align:middle;
	margin-left:3px;
}

td.sectionbody {
	/*background-color:#fbfbfb;*/
	padding:10px 10px 10px 10px;
	/*border:1px solid #bfbfbf;	*/
}

td.sectionsolidbody {
/*	background-color:#fbfbfb;
	border:1px solid #bfbfbf;	*/
}

div.sectionbody {
	padding:10px 10px 10px 10px;
}

div.sectionfooter {
	background-color:#efefef;
	padding:5px;
	text-align:left;
}
.sectionhint {
	color:red;
	text-align:right;
}
.sectionpart {
	/*background-color:#fefdf2;
	border:1px solid #cdcdcd;	*/
	padding:8px;
}
hr.spliter {
	color:#e1e1e1;
}
td.splitertitle {
	color:#013a81;
}
/*------- portal list styles */
table.list {
	background-color:#fff;
	border-collapse:collapse;
}

td.listheader {
	background-image:url(../images/far/list_header_tile.gif);
	padding:4px;
	border:1px solid #cdcdcd;
	font-weight : 600;
	background-repeat: repeat-x;
	vertical-align: middle;
	background-position: bottom;	
}

td.listsection {
	background-color:#fefdf2;
	border:1px solid #cdcdcd;	
	font-weight:600;
}

td.listrow1 {
	background-color:#fff;
	border:1px solid #cdcdcd;	
}

td.listrow2 {
	background-color:#f5f5f5;
	border:1px solid #cdcdcd;	
}

.itemdescription {
	/*color:#47752c;*/
}

/*----- portal page content 2 styles */
table.section2 {
	width:100%;
	border:1px solid #CCCCCC;
	background-image:url(../images/far/blue_section_hader_tile.png);
}

td.sectionheader2 {
	padding:3px;
	font-weight:600;
}

img.sectionheader2 {
	vertical-align:middle;
	margin-left:3px;
}

td.sectionbody2 {
	padding:10px 10px 10px 10px;
}

td.sectionsolidbody2 {
}

div.sectionbody2 {
	padding:10px 10px 10px 10px;
}

div.sectionfooter2 {
	background-color:#e8e8e8;
	padding:5px;
	text-align:left;
}
.sectionhint2 {
	color:red;
	text-align:right;
}
.sectionpart2 {
/*	background-color:#fefdf2;
	border:1px solid #cdcdcd;	*/
	padding:8px;
}
hr.spliter2 {
	color:#e1e1e1;
}
td.splitertitle2 {
	color:#013a81;
}

.logSelectedRow{
	background-color:#3399ff;
	border:1px solid #cdcdcd;	
	color : #fff;
}
.logTb{
	border:1px solid #828790;
	border-collapse : collapse;
}
.logDetail{
	border:1px solid #828790;
}
.ThemePanel {
	padding:5px 0px 5px 0px;
	background-color:#000
}

.HelpContanier {
	border:1px solid #549fe3;
}
.photo_gallery_box{
	border:1px solid #CCCCCC;
}

/********************** Tabsheet ***********************/
.contentBlockTabsheet{width:675px !important}
.rightBlockTabsheet{float:right; width:4px; height:223px;background:url('../images/far/right_tabsheet.png') no-repeat scroll left top transparent}
.leftBlockTabsheet{float:right; width:3px; height:223px;background:url('../images/far/left_tabsheet.png') no-repeat scroll right top transparent}
.topBlockTabsheet{float:right; width:682px; height:4px;background:url('../images/far/top_tabsheet.png') no-repeat scroll right top transparent}
.bottomBlockTabsheet{width:682px !important; height:8px !important}
.back_tab1{float:right; width:100%; height:195px;background:url('../images/far/tab1.png') no-repeat scroll left bottom transparent}
.back_tab2{float:right; width:100%; height:195px;background:url('../images/far/tashilat_bg.png') no-repeat scroll left bottom transparent}
.back_tab3{float:right; width:100%; height:195px;background:url('../images/far/tab3.png') no-repeat scroll left bottom transparent}
.back_tab4{float:right; width:100%; height:195px;background:url('../images/far/tab4.png') no-repeat scroll left bottom transparent}
.back_tab5{float:right; width:100%; height:195px;background:url('../images/far/tab5.png') no-repeat scroll left bottom transparent}
.saman_bullet_list_tab{margin:30px 45px 0 0 !important}
.saman_bullet_list_tab li a:hover{color:#d97716}
.bg_row_nerkh td{padding:1px}
.nerkh_tab{height:200px !important; min-height:200px !important}
.table-nerkh-arz{line-height:15px}
#__divReportContainer__{margin-top:0px !important}
.table-nerkh-arz tr{height:16px !important}
.more_nerkh a{color:#002a8d !important; width:62% !important; float:left !important; padding-left:5px;background:url('../images/far/bullet-nerkh.png') no-repeat scroll left 5px transparent !important; text-align:right !important; }

/********************** News ****************************/
.main_news{float:right; width:286px}
.news_top{float:right; width:100%; height:33px;background:url('../images/far/top_news.png') no-repeat scroll right bottom transparent}
.news_right{float:right; width:7px; height:195px;background:url('../images/far/right_news.png') repeat-y scroll right bottom transparent}
.news_content{float:right; width:96%;padding:5px; background:url('../images/far/news_content.png') repeat-y scroll right bottom transparent}
.news_left{float:right; width:7px; height:195px;background:url('../images/far/left_news.png') repeat-y scroll right bottom transparent}
.news_bottom{float:right; width:100%; height:10px;background:url('../images/far/bottom_news.png') no-repeat scroll right bottom transparent}
.title_news{float:right; width:100px; color:#808080; margin-right:35px; margin-top:5px}
.saman_more_main{background:url('../images/far/bullet_archive.png') no-repeat scroll right 7px transparent !important; width:16% !important; padding-bottom:0px !important; padding-top:0px !important}
.saman_more_main a{color:#d97716 !important}
.saman_bullet_list_m li{background:url('../images/far/bullet_news_main.png') no-repeat scroll right 13px transparent !important; padding-right:10px !important}
.saman_bullet_list_m li a{color:#868282}
.saman_bullet_list_m{line-height:15px !important}
.saman_title_m a:hover{color:#000 !important}
.saman_news_rss a{float:left; width:30px; height:25px;background:url('../images/far/rss_pic.png') no-repeat scroll 7px bottom transparent; margin-top:-42px}
.saman_news_rss a:hover{background:url('../images/far/rss_pic_hover.png') no-repeat scroll 7px bottom transparent;}

/***************************************/
.smc_bullet_list{
	font-family:BMitra;
	font-size: 14px;
	font-weight:bold;
	line-height: 22px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.smc_bullet_list li {
	background: url('../images/far/bullet-1.gif') no-repeat scroll right 13px transparent;
	color: #FFFFFF;
	margin-right: 7px;
	padding-right: 15px;
	padding-top: 5px;
}

/*************ROSTAMZADE*********/
.footer_links{ width:360px; height:35px; float:left; direction:ltr; padding:0; margin:0; margin-left:10px;}
.footer_links ul{ list-style:none; padding:0;}
.footer_links ul li{ display: inline; float:left; color:#2f3e66;}
.footer_links ul li a{ margin-left:12px; margin-right:12px;}
/*************ROSTAMZADE*********/