/* main style sheet */
/* HTML Class */

@media screen {

	body {
		color: #000000;
		font-family: Tahoma, Verdana, sans-serif;
		FONT-SIZE: 11px;
		font-weight: normal;
		text-decoration: none;
	}

	a.help_link_selected {
		color: #FF0000;
		text-decoration: none;
		background-color : gray;
	}
	
	a.help_link_selected:link {
		color: #FF0000;
		text-decoration: none;
		background-color : gray;
	}
	
	a.help_link_selected:visited {
		color: #FF0000;
		text-decoration: none;
		background-color : gray;
	}
	
	a.help_link_selected:hover {
		color: #FF0000;
		text-decoration: none;
		background-color : gray;
	}
	
	a.help_link_selected:active {
		color: #FF0000;
		text-decoration: none;
		background-color : gray;
	}

	
	a.help_link {
		color: #0000FF;
		text-decoration: none;
	}
	
	a.help_link:link {
		color: #0000FF;
		text-decoration: none;
	}
	
	a.help_link:visited {
		color: #0000FF;
		text-decoration: none;
	}
	
	a.help_link:hover {
		color: #0000FF;
		text-decoration: none;
	}
	
	a.help_link:active {
		color: #0000FF;
		text-decoration: none;
	}
	
	table {
		font-family: Tahoma, Verdana, sans-serif;
		FONT-SIZE: 11px;
	}	
	
	div.deleteMsg {
		font-family: Arial,Helvetica,Sans-serif;
		font-size: 15px;
		border:1px solid #D6A30A;
		background-color: #FCEAB4;
		padding-top: 5px;
		padding-right: 5px;
		padding-left: 5px;		
	}
	div.okMsg {
		font-family: Arial,Helvetica,Sans-serif;
		font-size: 12pt;
		border:1px solid #D6A30A; 
	 	background-color: #F8D267;
	 	padding-top: 5px;
		padding-right: 5px;
		padding-left: 5px;		
		position: absolute; 
		width: 245px; 
		height: 18px; 
		z-index: 1; 
		top: 4%; 
		right: 35%;	
	}
	div.page-navigator {
		border-style: solid; 
		border-width: 1px; 
		padding-left: 4px; 
		padding-right: 1px; 
		padding-top: 1px; 
		padding-bottom: 1px; 
		background-color: #4F8CBB
	}
	
	a.page-navigator-link:link {
		color: #ffffff;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.page-navigator-link:visited {
		color: #ffffff;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.page-navigator-link:active {
		color: #ffffff;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.page-navigator-link:hover {
		color: #ffff66;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: underline
	}
}

@media print {
	body {
		background-color: #ffffff;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
	 }
	 
	a {
		color: #000000;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	
	hr {
		visibility: hidden; 
		display: none 
		}
}

pre {
	FONT-SIZE: 11px;
}
a.similink:link {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none;				
}
a.similink:visited {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}
a.similink:active {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}
a.similink:hover {
	color: #f3960b;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}
h1 {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}
h2 {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}
h3 {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: small;
}
h4 {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
/*font {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}*/
font.title {
	color: #ff0000;
	font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
	font-size: small;
	font-style: normal;
}
.small {
	font-family: Tahoma,Arial;
	FONT-SIZE: 11px;
}
.med {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: small;
}
.big {
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
fieldset {
	color: #ff6600;
	border: 1px solid #024656;
}

select {
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none
}
option {
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none
}
textarea {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
}
img{
	border: 0px;
}
/* custom calsses */
font.small {
	font-family: Tahoma,Arial;
	FONT-SIZE: 11px;
}
font.med {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}
font.medbold {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size:  x-small;
}
font.medwhite {
	color: #ffffff;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}
font.medred{
	color: #ff0000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}
font.medwhitebold {
	color: #ffffff;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
}
font.big {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.bigbold {
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.bigwhite {
	color: #ffffff;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.bigwhitebold {
	color: #ffffff;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.biggreen {
	color: #00586c;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.biggreenbold {
	color: #00586c;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.bigorange {
	color: #ff6600;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
font.bigorangebold {
	color: #ff6600;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	font-size: medium;
}
table.frameoutter {
	background-color: #ffffff;
	border-color: #d4d9db;
	border-style: solid;
}
@media screen {
	td.frameinner {
		border-style: solid;
		border-width: 1;
		border-color: #d4d9db;
		}
}
@media print {
	td.frameinner {
		border-style: solid;
		border-width: 0;
		}
}
.hidden{
	display:none
}
.visible{
	display:inline
}
td.caption{
	vertical-align: top;
	border-style: none;
	/*text-align: right;*/
	FONT-SIZE: 11px;
	font-weight: normal;
	color: #013A81;
	padding:4px
}
td.data{
	vertical-align: top;
	border-style: none;
	FONT-SIZE: 11px;
	font-weight: normal;
	text-align:justify;
	color: #000;
	padding:4px	
}
td.tips {
	vertical-align: top;
	border-style: none;
	FONT-SIZE: 11px;
	font-weight: normal;
	color: #000000;
	background:#FFFFE1;
}
td.hiddenData{
	vertical-align: top;
	border-style: none;
	FONT-SIZE: 11px;
	font-weight: normal;
	color: #000000;
	position: relative; 
	visibility: hidden; 
	display: none
}
input.checkbox {
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none
}
input.radio {
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	vertical-align: middle
}
input.text {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none
}
input.text-lov {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
}
@media screen {
	input.button{
/*		background: #ececeb;
		color: #000000;
		font-family: Tahoma, Verdana, sans-serif;
		FONT-SIZE: 11px;
		font-style: normal;
		font-variant: normal;
		line-height: normal;
		text-decoration: none;
		cursor : hand;*/
		}
}

@media print {
	input.button{
		visibility: hidden; 
		display: none
		}
}

@media screen {
	input.active_button
		{
	/*		border-right: #999999 1px solid;
			border-top: #999999 1px solid;
			FONT-SIZE: 11px;
			background: url(../images/active_button_back.gif) center 50%;
			text-transform: none;
			border-left: #999999 1px solid;
			cursor: hand;
			color: #000000;
			line-height: normal;
			border-bottom: #999999 1px solid;
			font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
			font-variant: normal;
			text-decoration: none;*/
		}
}

@media print {
	input.active_button{
		visibility: hidden; 
		display: none
		}
}
/** app select classes **/
td.mod-header-top {
	background-image: url('../images/app_select/top_bg.gif');
	background-repeat: repeat-x;
	margin: 0px
}
td.mod-header-bottom {
	background-image: url('../images/app_select/top_01-sm_bg.gif');
	background-repeat: repeat-x
}

/** items group classes **/
td.itemsgrp-titlebar {
	background-image: url('../images/items_group/title_bg.gif');
}
td.itemsgrp-caption {
	FONT-SIZE: 11px;
	font-family : tahoma;
	color: #000000
}

td.itemsgrp-bottombar {
	background-image: url('../images/items_group/bottom_bg.gif');
}

/** login page classes**/
table.border1{
	background-color: #b6c7e5;
}
table.border2{
	background-color: #ffffff;
}
table.input{
	background-color: #eeeeee;
}
td.copyright{
	color: #8d8d8d;
}
/** dbgrid classes **/
@media screen {
	table.grid-container {
		border:1px solid #cdcdcd;
		font-size:11px;
		border-collapse:collapse;
	}

	td.grid-header-first {
		background-image:url('../images/far/grid/header_tile.gif');
		background-repeat: repeat-x;
		background-position:bottom bottom;		
		color: #222;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		font-weight:600;
		text-align: center;	
		padding:4px;
		border:1px solid #cdcdcd;
		white-space:nowrap;		
		border-top:0px;
	}
	td.grid-header-etc{
		background-image:url('../images/far/grid/header_tile.gif');
		background-repeat: repeat-x;
		background-position:bottom bottom;
		color: #222;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		font-weight:600;		
		text-align: center;
		padding:4px;
		border:1px solid #cdcdcd;

		border-top:0px;		
	}	
	td.grid-normal-first{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		padding:3px;
		vertical-align: middle;
		border:1px solid #cdcdcd;		
	 }
	 td.grid-normal-etc{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		vertical-align: middle;
		padding:3px;
		border:1px solid #cdcdcd;				
	 }
	a.grid-header:link {
		color: #000000;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.grid-header:visited {
		color: #000000;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.grid-header:active {
		color: #000000;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.grid-header:hover {
		color: #000000;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration:  none
	}
	tr.grid-odd{
		background-color: #f5f5f5;	
	}
	tr.grid-even{
		background-color: #ffffff;
	}
	table.grid-footer {
		background-color: #ffffff;
		border:1px solid #cdcdcd;
		border-top:0px;		
	}
}
 
@media print {
	td.grid-header-first {
		background-color: #ffffff;
		color: #000000;
		font-family: Arial,Tahoma,Verdana,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-align: center;
		border: 1px solid #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
		}
	td.grid-header-etc{
		background-color: #ffffff;
		color: #000000;
		font-family: Arial,Tahoma,Verdana,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-align: center;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
		border-top: 1px solid #000000;
		border-right: none #000000;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		}	
	td.grid-normal-first{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		border-top: none #000000;
		border-right: 1px solid #000000;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
		vertical-align: top;
	 }
	 td.grid-normal-etc{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		border-top: none #000000;
		border-right: none #000000;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
		vertical-align: top;
	 }
	a.grid-header:link {
		color: #000000;
		font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.grid-header:visited {
		color: #000000;
		font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.grid-header:active {
		color: #000000;
		font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.grid-header:hover {
		color: #000000;
		font-family: Arial,Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration:  none
	}
	tr.grid-odd{
		background-color: #f8f8f8;
	}
	tr.grid-even{
		background-color: #e6e6e6;
	}
}

td.grid-normal-first input.text {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	width: 100%
}
td.grid-normal-etc input.text {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	width: 100%
}

td.grid-normal-first input.text-lov {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
}
td.grid-normal-etc input.text-lov {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma, Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
}

td.grid-normal-first select {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	width: 100%	
}
td.grid-normal-etc select {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	width: 100%	
}

td.grid-normal-first textarea {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	width: 100%	
}
td.grid-normal-etc textarea {
	background: #ffffff;
	border-bottom: #999999 1px solid;
	border-left: #999999 1px solid;
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	color: #000000;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	text-decoration: none;
	width: 100%	
}

td.grid-normal-first div {
	width: 100%	
}
td.grid-normal-etc div {
	width: 100%	
}

table.statusbar{
	background-color: #eeeeee;
	color: #000000;
	FONT-SIZE: 11px;
	font-weight: normal;
	display:none;
}
/** dblist classes **/
@media screen {
	table.list-container {
		border:1px solid #cdcdcd;
		font-size:11px;
		border-collapse:collapse;
	}
	
	div.list-container {
		padding:4px;
	}
	
	td.list-header-first{
		background-image:url('../images/far/grid/header_tile.gif');
		background-repeat: repeat-x;
		background-position:bottom bottom;				
		color: #222;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		font-weight:600;
		text-align: center;	
		padding:4px;
		border:1px solid #cdcdcd;
		white-space:nowrap;		
	}
	
	td.list-header-etc{
		background-image:url('../images/far/grid/header_tile.gif');
		background-repeat: repeat-x;
		background-position:bottom bottom;		
		color: #222;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		font-weight:600;		
		text-align: center;
		padding:4px;
		border:1px solid #cdcdcd;
		white-space:nowrap;
	}
	
	a.list-header:link {
		color: #ffffff;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.list-header:visited {
		color: #ffffff;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.list-header:active {
		color: #ffffff;
		font-family: Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration: none
	}
	a.list-header:hover {
		color: #f3960b;
		font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-decoration:  none
	}
	tr.list-odd{
		background-color: #f5f5f5;	
	}
	tr.list-even{
		background-color: #ffffff;
	}
	tr.list-odd:hover{
		background-color: #fffff1;	
	}
	tr.list-even:hover{
		background-color: #fffff1;
	}
	td.list-normal-first{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		padding:3px;
		vertical-align: middle;
		border:1px solid #cdcdcd;		
	}
	td.list-normal-etc{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		vertical-align: middle;
		padding:3px;
		border:1px solid #cdcdcd;				
	}
	td.list-new{
		color: #000000;
		background-color:#eeeeee;
		font-weight: normal;
		FONT-SIZE: 11px;
		padding:3px;
		border:1px solid #cdcdcd;		
	}	
	td.list-right-header{
		background-color:#fff;
		width:30%;
		padding:3px;
	}
	
	td.list-left-header{
		background-color:#fff;	
		width:70%;
		padding:5px;		
		text-align:left;
	}
}

@media print {
	td.list-header-first{
		background-color: #ffffff;
		color: #000000;
		font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-align: center;
		border: 1px solid #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
	}
	td.list-header-etc{
		background-color: #ffffff;
		color: #000000;
		font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
		FONT-SIZE: 11px;
		text-align: center;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		border-right: none #000000;
		border-top: 1px solid #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
	}
	tr.list-odd{
		background-color: #f8f8f8;
	}
	tr.list-even{
		background-color: #e6e6e6;
	}
	td.list-normal-first{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		border-right: 1px solid #000000;
		border-top: none #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
		vertical-align: top;
	}
	td.list-normal-etc{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		border-bottom: 1px solid #000000;
		border-left: 1px solid #000000;
		border-right: none #000000;
		border-top: none #000000;
		padding-left: 2;
		padding-right: 2;
		padding-top: 1;
		padding-bottom: 1;
		vertical-align: top;
	}
	td.list-newnormal{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		padding-left: 2;
		padding-right: 2;
		border: 1px solid #000000;
	}
	td.list-new{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		padding-left: 2;
		padding-right: 2;
		border: 1px solid #000000;
	}
}

/** filter classes **/
td.filter-header{
	background-color: #336699;
	color: #ffffff;
	font-family: Arial,Verdana,Tahoma,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	padding-left: 2;
	padding-right: 2;
	border: 1px solid #15487b;
}
td.filter-normal{
	background-color: #eef3f9;
	color: #000000;
	font-weight: normal;
	FONT-SIZE: 11px;
	padding-left: 2;
	padding-right: 2;
	border: 1px none;
}

/** submit lable classes **/
span.submit-lable{
	cursor: pointer;
}

span.submit-lable-over{
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

/** navigator classes **/
span.navigator-counter{
	FONT-SIZE: 11px;
	width : 70px;
}
td.navigator-cell{
	background-image:url('../images/far/grid/header_tile.gif');
	color: #014d5f;
	font-size: 14px;
	font-family:Courier New;	
	padding: 4;
	border:1px solid #cdcdcd;	
	border-top:0px;
}
td.navigator-cell-report{
	background-color: #eef3f9;
	color: #014d5f;
	FONT-SIZE: 11px;
	padding-left: 2;
	padding-right: 2;
	border-top: 1px solid #15487b;
	border-right: 1px solid #15487b;
	border-bottom: 1px solid #15487b;
	border-left: 1px solid #15487b;
}
table.navigator-report{
	background-color: #eef3f9;
	color: #014d5f;
	FONT-SIZE: 11px;
	padding-left: 2;
	padding-right: 2;
	border-top: 1px solid #15487b;
	border-right: 1px solid #15487b;
	border-bottom: 1px solid #15487b;
	border-left: 1px solid #15487b;
}
font.navigator-selected{
	color: #f3960b;
	font-size: 14px;
	font-family:Courier New;	
	font-weight: normal;
}

a.navigator-link:link {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}
a.navigator-link:visited {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}
a.navigator-link:active {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}
a.navigator-link:hover {
	color: #f3960b;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: underline
}
span.navigator-submit-lable{
	cursor: pointer;
}

span.navigator-submit-lable-over{
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

/** navigator 2 **/
td.navigator2-cell{
	padding-top:5px;
	color: #014d5f;
	font-size: 14px;
	font-family:Courier New;	
	height:30px;
}

table.navigator2-report{
	background-color: #eef3f9;
	color: #014d5f;
	FONT-SIZE: 11px;
	padding-left: 2;
	padding-right: 2;
	border-top: 1px solid #15487b;
	border-right: 1px solid #15487b;
	border-bottom: 1px solid #15487b;
	border-left: 1px solid #15487b;
}

font.navigator2-selected{
	color: #f3960b;
	font-size: 14px;
	font-family:Courier New;	
	font-weight: normal;
}

a.navigator2-link:link {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}

a.navigator2-link:visited {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}

a.navigator2-link:active {
	color: #014d5f;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: none
}

a.navigator2-link:hover {
	color: #f3960b;
	font-family: Tahoma,Verdana, Arial,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-decoration: underline
}

span.navigator2-submit-lable{
	cursor: pointer;
}

span.navigator2-submit-lable-over{
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}


/** page control classes **/
td.tab-normal{
	FONT-SIZE: 11px;
	background-color: #00586c;
	border-top-color: #136f84;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #136f84;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
td.tab-selected{
	FONT-SIZE: 11px;
	color: #B5D0D5;
	background-color: #007882;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #024656;
	border-right-color: #6daab1;
	border-bottom-color: #6daab1;
	border-left-color: #024656;
}
a.tab-link:visited{
	FONT-SIZE: 11px;
	color: #ffffff;
}
a.tab-link:link{
	FONT-SIZE: 11px;
	color: #ffffff;
}
a.tab-link:active{
	FONT-SIZE: 11px;
	color: #ffffff;
}
a.tab-link:hover{
	FONT-SIZE: 11px;
	color: #f3960b;
}

/** error & warning & message classes **/
table.error-border
{
	border-right: #590000 1px solid;
	border-top: #590000 1px solid;
	FONT-SIZE: 11px;
	border-left: #590000 1px solid;
	color: #ff0000;
	border-bottom: #590000 1px solid;
	background-color: #fcfbff;
}
td.error-header{
	background-color: #840000;
	color: #ffffff;
	font-family: Arial,Tahoma,Verdana,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-align: center;
	border: 1px solid #590000;
}
td.error-normal{
	FONT-SIZE: 11px;
	color: #ff0000;
	border: 1px none #590000;
}
table.warning-border{
	FONT-SIZE: 11px;
	color: #000000;
	border: 1px solid #000000;
	background-color : #FFFFF9;
}
td.warning-header{
	background-color: #FFFFCC;
	color: #000000;
	font-family: Arial,Tahoma,Verdana,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-align: center;
	border: 1px solid #590000;
}
td.warning-normal
{
	background-color : #FFFFF9;
	FONT-SIZE: 11px;
	color: #000000;
}
table.message-border{
	FONT-SIZE: 11px;
	color: #000000;
	border: 1px solid #000000;
	background-color : #FFEAEA;
}
td.message-header
{
	border-right: #590000 1px solid;
	border-top: #590000 1px solid;
	FONT-SIZE: 11px;
	border-left: #590000 1px solid;
	color: #000000;
	border-bottom: #590000 1px solid;
	font-family: Arial,Tahoma,Verdana,Helvetica,Sans-serif;
	background-color: #FFCCCC;
	text-align: center;
}
td.message-normal
{
	background-color: #FFEAEA;
	FONT-SIZE: 11px;
	color: #000000;
}
/** attachment classes **/
td.attach-header {
	/*background-color: #336699;*/
	background-color: #cedde3;
	color: #000000;
	font-family: Tahoma,Helvetica,Sans-serif;
	FONT-SIZE: 11px;
	text-align: center;	
	padding:2px;
	border-left: 1px solid #a2b7c0;
	border-right: 1px solid #dde7e6;
	border-top: 1px solid #dde7e6;
	border-bottom: 1px solid #dde7e6;
}

tr.attach-odd{
	background-color: #eaeef2;
}

tr.attach-even{
	background-color: #ffffff;
}

td.attach-normal{
	color: #000000;
	font-weight: normal;
	FONT-SIZE: 11px;
	border: 1px solid #dde7e6;
	padding-left: 2;
	padding-right: 2;
}

/*p {
	scrollbar-base-color: #005b70;
	scrollbar-arrow-color: #f3960b;
	scrollbar-darkshadow-color: #000000;
	scrollbar-width:100px;
	
}
div {
	scrollbar-base-color: #005b70;
	scrollbar-arrow-color: #f3960b;
	scrollbar-darkshadow-color: #000000;	
	scrollbar-width:100px;
}*/

td.preview_desc
{
	border-right: #000000 1px solid;
	FONT-SIZE: 11px;
	border-left: #000000 1px solid;
	color: black;
	border-bottom: #000000 1px solid;
	font-family: tahoma;
	background-color: ivory;
}
td.view_frame
{
	border-right: #000000 1px solid;
	padding-right: 5px;
	border-top: #000000 1px solid;
	padding-left: 5px;
	padding-bottom: 5px;
	border-left: #000000 1px solid;
	padding-top: 5px;
	border-bottom: #000000 1px solid;
	background-color: whitesmoke;
}
/* internet modules classes*/
td.web_menu-title {
	COLOR: #000000; 
	FONT-FAMILY: Tahoma, Verdana,Helvetica; 
	FONT-SIZE: 11px; 
}

td.web_menu-normal {
	COLOR: #505050;
	FONT-FAMILY: Tahoma, Verdana,Helvetica;
	FONT-SIZE: 11px;
	FONT-WEIGHT: normal;
	vertical-align: top;
	background-color: #FFFFFF
		
}

td.web_menu-block {
	vertical-align: top;
}

td.module-content {
	vertical-align: top;
}

td.menu-item {
}

span.description {
	color:#008200;
}
/** lookup area class **/
span.lookup 
{
	border-style: solid;
	border-width: 1px;
	border-color: gainsboro;
	width: 100%;
}

span.grid_lookup
{
	border-right: #669999 1px solid;
	border-top: #669999 1px solid;
	border-left: #669999 1px solid;
	width: 100%;
	border-bottom: #669999 1px solid;
}
/** toolbar class **/
table.toolbar 
{
	border: 1px solid #aaaaaa;
}
td.toolbar-bg
{
	background-image: url('../images/toolbar/toolbarbg.gif');
	background-repeat: repeat-x;
}
.toolbar-btn-normal 
{
}
.toolbar-btn-over
{
}
/** other class **/
td.print-title {
	FONT-FAMILY: Arial,Tahoma, Verdana, Helvetica;
	color: #000000;
	font-size: small;
}


/** tab sheet menu class **/
.mainMenu
{
	height: 20px; 
	margin: 0; 
	padding-left: 200px; 
	background: url(../themes/images/menu/tab_bottom.gif) repeat-x bottom;
}

.mainMenuItem
{
	color:red;
}

.mainMenuActiveItem
{
	/*background: #f8f8ff;*/
	background-color: #c8d8ec;	
}
	
.subMenu
{
}

.subMenuItem
{
}

.menu
{
	width:100%;
	border: solid 1px #c7d3df;			
}

.menuItems
{
	/*background-color:#e3ebf5;*/
	background-color:#527eb5;	
}

.subMenuItems
{
	/*background: #f8f8ff;*/
	background-color: #c8d8ec;
}

.subMenuActiveItem
{
	background: #ffffff;
}		

.menuLinkItems
{
	color:#ffffff;
}
/** wizard **/
.wizard 
{
	background-color: whitesmoke; 
}

.navigationBar 
{
	FONT-SIZE: 11px; 
	font-family: tahoma;
	
}		

.navigation 
{
    float: right;
    font-family: Arial;
    font-size: 11px;
    margin: 0px;
    width: 755px;
    
   /* background:url("../../images/far/bg_navigation.png") repeat-x scroll center bottom #FFFFFF;*/
}	
fieldset.dash{
	border-style: dashed;
	border-width: 1px; 
	border-color: #E4E4E4;
	color:black;	
}
fieldset.line{
	border-style:solid;
	border-width: 1px; 
	border-color: #E4E4E4;
	color:black;
}
/*bullet*/
td.bullet-list-header {
	background-color:#f5f6f6;
	border:1px solid #cedde3;
	padding:4px;
}

td.bullet-header {
}

td.bullet-footer {
	background-color: #e6e6e6;
}

tr.bullet-odd {
	background-color: #eaeef2;
}

tr.bullet-even {
}

table.bullet-list {
	/*border: gainsboro 1px solid; */
}

/*datalist */

table.data-group {
	border: solid 1px #c7d3df;
}

td.datalist-header-right {
	width: 35%;
	padding:5px;	
	background-color: #d4d7d8;
}

td.datalist-header {
	background-color: #e3e3e3;
}

td.datalist-header-left {
	padding:5px;
	background-color: #e3e3e3;
}

.calender-notselected {
	color: #999999;
}
.calender-selected {
	color: #800080;
	text-decoration: underline;
}

.datalist-caption {
	color: #996633;
}

.datalist-title {
	color: #4682b4;
}

.datalist-data {
}


/* option menu */

td.option-menuitem-rtl {
    padding-left: 2px;
    padding-bottom: 2px; 
    padding-top: 2px;
    height:20px;
    cursor:default;
    FONT-SIZE: 11px;
}

td.option-menuitem-ltr {
    padding-right: 4px; 
    padding-bottom: 2px; 
    padding-top: 2px;
    height:20px;
    cursor:default;
    FONT-SIZE: 11px;
}

td.option-menuicon-rtl {
    padding-right: 2px;
    padding-bottom: 2px; 
    padding-top: 2px;
    background-color: #e9eeee;
    width:25px;
    text-align:center;
    cursor:default;            
    height:20px;            
}

td.option-menuicon-ltr {
    padding-left: 2px;
    padding-bottom: 2px; 
    padding-top: 2px;
    background-color: #e9eeee;
    width:25px;
    text-align:center;
    cursor:default;            
    height:20px;            
}

td.option-delimiter
{
	font-size: 1px;
	height: 1px;
	border-top: #9ac6ff 1px solid;
}

td.option-delimitericon {
    font-size: 1px; 
    height: 1px;
    background-color: #e9eeee;            
}

div.option-select-rtl {
    width:100%; 
    border-top: #ffbd69 1px solid;
    border-left: #ffbd69 1px solid; 
    border-bottom: #ffbd69 1px solid; 
    height: 100%; 
    background-color: #ffe7a2;
}

div.option-select-ltr {
    width:100%; 
    border-top: #ffbd69 1px solid; 
    border-right: #ffbd69 1px solid; 
    border-bottom: #ffbd69 1px solid; 
    height: 100%; 
    background-color: #ffe7a2;
}

div.option-selecticon-rtl {
    width:100%; 
    border-top: #ffbd69 1px solid; 
    border-right: #ffbd69 1px solid;
    border-bottom: #ffbd69 1px solid; 
    height: 100%; 
    background-color: #ffe7a2;
}

div.option-selecticon-ltr {
    width:100%; 
    border-top: #ffbd69 1px solid; 
    border-left: #ffbd69 1px solid; 
    border-bottom: #ffbd69 1px solid; 
    height: 100%; 
    background-color: #ffe7a2;
}

div.option-normal-rtl {
    width:100%; 
    border-top: #f6f6f6 1px solid; 
    border-left: #f6f6f6 1px solid;
    border-bottom: #f6f6f6 1px solid; 
    height: 100%; 
    background-color: #f6f6f6;
}

div.option-normal-ltr {
    width:100%; 
    border-top: #f6f6f6 1px solid; 
    border-right: #f6f6f6 1px solid; 
    border-bottom: #f6f6f6 1px solid; 
    height: 100%; 
    background-color: #f6f6f6;
}

div.option-normalicon-rlt {
    width:100%; 
    border-top: #e9eeee 1px solid; 
    border-right: #e9eeee 1px solid;
    border-bottom: #e9eeee 1px solid; 
    height: 100%; 
    background-color: #e9eeee;
}

div.option-normalicon-ltr {
    width:100%; 
    border-top: #e9eeee 1px solid; 
    border-left: #e9eeee 1px solid; 
    border-bottom: #e9eeee 1px solid; 
    height: 100%; 
    background-color: #e9eeee;
}

div.wating-datalist-header {
	width:100%;
    border: #0099ff 1px solid; 
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#edf7ff', EndColorStr='#b0c8ff') ; 
	color: navy;
}

div.wating-datalist-selected {
    border: navy 1px solid; 
    background-color: #f8f8f8;
}

div.wating-datalist-notselected {
    border: #ffffff 1px solid; 
}

table.option-menu {
	width: 150px;
	border: #6593cf 1px solid;
	background-color: #f6f6f6;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='gray' , Direction=135, Strength=4);
	font-size: 10pt;
	font-family: Tahoma;
	height: 11px;
}


hr {
	color:#ebebeb;
}

.subject_container {
	background-color:#eaeff8;
}

.subject_title_link {
	color:#002d51;
}

.subject_description {
	color:#335a7c;
}

.subject_container_title {
	color:#002645;
}

.search_container {
	background-color:#f9f9f9;
	padding-left:20px;
	padding-right:20px;
	width:95.6% !important;
}

.ranking_orderby {
	color:#660000;
}

.ranking_statistics {
	background-color: #e2e2e2;
}

tr.search_result_conatiner {
	background-color: #f0f7fc;
}

img.thumbnail {
	border:1px solid #ddd;
	padding:2px;
	background-color:#fff;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=3);	
}

td {vertical-align:top}

/*-------- autocomplete ---------------*/
div.autocomplete {
	background-color:#fff;
	border:1px solid #bfbfbf;
	overflow:auto; 
	position:absolute;
}

table.autocomplete {
}

tr.autocomplete_header {
}

td.autocomplete_header {
}

tr.autocomplete_item {
}

td.autocomplete_item {
}

tr.autocomplete_selected {
	background-color: #bfbfbf;
	color: #fff;
}

span.autocomplete_matched {
	color: green;
}

/*------------misc-----------------*/
.form_container {
	padding:5px;
}
.dblist_header {
	border1:1px solid #bfbfbf;
	border-bottom:0px;
	padding:0px 4px 6px 4px;
	background-color1:#fff;
}
.required_feild {
	color:red;
}
.form_comment {
	color:green;
}
.bold_item {
	font-weight:600;
}

/* lov style sheet */
a.semilink{
	text-decoration: none;
	cursor: pointer;
}
a.semilink-over{
	text-decoration: underline;
	cursor: pointer;
}

/* light cartable */
.light_cartable_table {
	border:1px solid #aaccee;
	background-color:#fff;	
}
.light_cartable_header {
	background-color:#ffedb2;
	border-bottom:1px solid #aaccee;
	padding:4px					
}
.light_cartable_title {
	background-image:url(../images/far/cartable/light/img1.png);
	border-left:1px solid #cfcfc9;
	border-bottom:1px solid #7a8180;
	padding:3px;
}
.light_cartable_filter_desc {
	background-color:#FBFCE6;
	border-bottom:1px solid #aaccee;
	padding:5px 3px 5px 3px;
}
.light_cartable_filter {
	background-color:#e7f1fc;
	border-bottom:1px solid #aaccee;
	padding:3px;
}
.light_cartable_filter_item {
	float:right;
	margin-right:7px;
	padding:2px
}
.light_cartable_filter_item_selected {
	float:right;
	background-color:#6C9DCA;
	color:#fff;
	margin-right:5px;
	padding:2px				
}
.light_cartable_filter_item_selected a{
	color:#fff!important;
}
.light_cartable_item {
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	padding:7px;
}
.light_cartable_item2 {
	border-bottom:1px solid #fff;
	padding:7px;
}
.light_cartable_item3 {
	border-bottom:0px!important;
	border-top:0px!important;
	background-color:#fff!important;
	padding:7px;
}

.light_cartable_item7 {
	border-bottom:0px!important;
	border-top:1px solid #f8f8f8!important;
	background-color:#f8f8f8!important;
	padding:7px;
}				
.light_cartable_item4 {
	background-color:#f8fafd!important;
	border-top: 1px solid #ccd5e7!important;
	border-bottom: 1px solid #ccd5e7!important;					
}
.light_cartable_item5 {
	border-right: 1px solid #ccd5e7!important;
}
.light_cartable_item6 {
	border-left: 1px solid #ccd5e7!important;
}
.light_cartable_item_row:hover {
	background-color:#FCFCF3;
}				
.light_cartable_item_over {
	background-color:#FCFCF3;
	padding:7px;					
}				
.light_cartable_item_row {
	cursor:arrow;
}				
.light_cartable_pager {
	background-color:#ebf3fb;
	border:1px solid #aaccee;
	border-top:0px;
	height:25px;
	overflow:hidden;					
}
.light_cartable_item_bold {
	font-weight:bold;
}
.light_cartable_item_row_2 {
	background-color:#f8f8f8;
}
.light_cartable_btn {
	background-image:url(../images/far/cartable/light/img11.png);
	border:1px solid #bbb;
	float:right;
	cursor:pointer;
	height:14px;
	padding:3px 6px 3px 6px;
}
.light_cartable_btn2 {
	background-image:url(../images/far/cartable/light/img16.png);
	border:1px solid #bbb;
	float:right;
	cursor:pointer;
	height:14px;
	padding:3px 6px 3px 6px;
	color:#fff;
}
.light_cartable_btn:hover {
	border:1px solid #777;
}
.light_cartable_menu_container {
	background-color:#F7F7F7;
	padding:5px 5px 1px 5px;
	width:230px;
	border:1px solid #999;
	position:absolute;
}
.light_cartable_menu_group {
	padding:5px;
	white-space:nowrap;
	border:1px solid #E1DDDE;	
	background-color:#EEEBEC;
	margin-bottom:4px;
}
.light_cartable_menu_group_select {
	cursor:pointer;				
}
.light_cartable_menu_group_select:hover {
	background-color:#ffedb2;
	border:1px solid #F4D9B7;
}
.light_cartable_menu_item {
	padding:3px 20px 3px 3px;
	cursor:pointer;
	white-space:nowrap;
	border:1px solid #F7F7F7;	
	margin-bottom:4px;				
}
.light_cartable_menu_item:hover {
	background-color:#ffedb2;
	border:1px solid #F4D9B7;
}

.cartable_tooltip {
    font-size:11px;
	background-image:url(../images/far/cartable/icons/info_area.png);
	font-weight:normal!important;
}

.cartable_summary {
	margin:5px 20px 5px 20px;
	line-height:15px
}

.cartable_description {
	padding:4px;
	background-color:#FFFFE1;
	border:1px solid #bfbfbf;
}

.cartable_description_title {
	color:#fb5218;
	font-weight:bold;
}

.cartable_description ul {
	margin:5px 36px 5px 36px;
	padding:0px;
	color:#333;
	line-height:18px
}

.cartable_form_fotter {
	background-color: #fff;
}
.job_rezume_accepted
{
	background-color:green;
}
.job_rezume_not_accepted
{
	background-color:red;
}

.d_c_page_description
{
	width:465px;
}

.d_c_page_keyword
{
	width:465px;
}

td.grid-normal-first input.text {
	width:auto!important;
}



td.grid-normal-first input.text-lov {
	width:auto!important;
}

td.grid-normal-etc input.text-lov {
	width:auto!important;
}

td.grid-normal-first select {
	width:auto!important;
}

td.grid-normal-etc select {
	width:auto!important;
}

td.grid-normal-first textarea {
	width:auto!important;
}

td.grid-normal-etc textarea {
	width:auto!important;
}

.invite_friend_block
{
	background-color:#e9f2fb;
	font-weight:bold;
	padding:5px
}
.invite_friend_block_util
{
	border-top:1px solid #aaccee;
	background-color:#e9f2fb;
	padding:5px;
	font-weight:bold
}
.social_profile
{
	background-image: url(../images/far/social_network/sn_profile_body_back.png);
	background-repeat: repeat-x;
}
.nav3 ,#page{
	float:right;
	width: 100%;
}
/**********************update portal*********************/
@media screen {
	table.grid-footer input[type="submit"],table.grid-footer input[type="button"] {
		font-weight: bold;
		margin-left: 14px;
		border: 1px solid #AAA;
		padding: 3px 7px;
		color: #111;
		text-decoration: none;
		background: #DDD;
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		text-shadow: 0px 1px 0px white;
		background-size: 100% 100%;
		background: -webkit-gradient(linear, left top, left bottom, from(white), to(#CCC));
		background: -moz-linear-gradient(top, white, #CCC);
		background: -o-linear-gradient(top, white, #CCC);
	}
	table.grid-footer input[type="submit"]:hover,table.grid-footer input[type="button"]:hover {
		position: relative;
		background: -o-linear-gradient(top, #CCC, #DDD);
		background-size: 100% 100%;
		background: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#DDD));
		background: -moz-linear-gradient(top, #CCC, #DDD);
		background: -o-linear-gradient(top, #CCC, #DDD);
		cursor: pointer;	
	}	
}
/*****************DatePicker************************************/
.ui-datepicker-trigger{
    vertical-align:top;
    padding-right:3px;
    cursor: pointer;
    padding-top:1px;
}
.ui-icon {
   text-indent:-9999px;
}
.ui-datepicker-buttonpane button {
   font-family:'B nazanin',tahoma;
}
/**********************Pager***********************************/
.page{
	padding: 2px 5px;
	border-radius: 3px;		
	font-size: 11px;
	text-decoration: none;
	color: #717171;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	font-family:sans-serif;

}
.page:hover {
	color:#ffa200;
	font-weight:bold;
}
.page.active {
	border: none;
	background: #5a6b79;
	box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5), 0px 1px 0px rgba(255, 255, 255, .8);
	color: #F0F0F0;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
	padding:2px 6px;
}
.pager {
	padding:0 4px;
}
.pager:hover {
	padding:0 5px;
}
td.navigator2-cell{
	padding-top:15px !important;
}
font.navigator2-selected{
	font-size: 16px !important;
	font-family:tahoma !important;	
	margin-left: 1% !important;	
}
a.navigator2-link:link {
	FONT-SIZE: 16px !important; 
	text-decoration: none !important;
}
a.navigator2-link:visited {
	FONT-SIZE: 16px !important;
}
a.navigator2-link:active {
	FONT-SIZE: 16px !important;
}
a.navigator2-link:hover {
	FONT-SIZE: 16px !important;
}
td.list-normal-etc {
	padding:4px !important;
}
td.list-normal-first {
	padding:4px !important;
}

 td.grid-normal-operation-etc{
		color: #000000;
		font-weight: normal;
		FONT-SIZE: 11px;
		vertical-align: middle;
		padding:3px;
		border:1px solid #cdcdcd;
		text-align:center;				
	 }
