td.listheader
{
	text-align:center !important;
}
.rexTdImg {
	text-align: center !important;
}
.rexTdImg img {
	vertical-align: middle !important;
}
td.listrow1 {
    vertical-align: middle;
}
td.listrow2 {
    vertical-align: middle;
}
div.rexCurrencyDesc{
    background-color: #E9E9E9;
    border: 1px solid #CCCCCC;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}
div.rexCurrencyResult{
    background-color: #E9E9E9;
    font-weight: bold;
    margin: 5px 0 20px;
    padding: 8px 10px 0px 0px;
    text-align: right;
    height: 25px;
    border: 1px solid #CCCCCC;
    color: #000000;
}
.anythingWindow1{
	border:1px solid  #CCCCCC;
}