body {
/*	background: #F6F7EB;*/
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
/*	text-decoration: none;*/
	margin: 0px;
	padding: 0px;
}
/* remove border from link images */
a {text-decoration: none;}
li{
	list-style-type: none;
}
a:hover {
	text-decoration:underline;
}
a img {
	border: 0px;
}
/* table styles */
th {
	font-size: 12px;
	border:solid 1px;
	font-weight:normal;
}
td {
/*	text-align:left;*/
}

/* form control styles */

input, textarea, select, button {
	font-family: Tahoma, Verdana, sans-serif;
/*	background-color: transparent;*/
/*	background-color: #D9DCC2;*/
	font-size: 11px;
/*	border : 1px solid #4A8A9F;*/
}

table {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

/* anchor styles */
a {
	color: #035A63;
	text-decoration: none;
}

.sp-title a {
	font-size: 12px;
/*	font-weight: bold;*/
	text-decoration:none;
}

a.sp-logo {
	font-size: 16px;
/*	font-weight: bold;*/
	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	
	letter-spacing: 3px;
	text-decoration:none;
}

.sp-sub a {
	font-size: 11px;
}

/* header styles */
h3, h4, h5, h6 {
	font-size: 11px;
/*	font-weight: bold;	*/
}

.sp-normal { /* sp-normal is kept for backwards compatabilty of the theme */
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
/*	text-align:left;*/
}

.sp-title, h2 { /* sp-title is kept for backwards compatabilty of the theme */
	font-size: 12px;
	font-weight: normal;	
/*	font-weight: bold;*/
/*	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	*/
}

.sp-sub, small {
	font-size: 11px;
	font-weight: normal;
}

.sp-pagetitle, h1 { /* sp-pagetitle is kept for backwards compatabilty of the theme */
	font-size: 14px;
/*	font-weight: bold;*/
	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	
}

/* block styles */
.sp-block {
	width:100%;
/*	text-align:left;*/
	margin-bottom: 5px;
}
.sp-blocktitle {
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	padding:0.1em;
/*	font-weight: bold;*/
}
.sp-blockcontent {
}

/* styles for the minimize/maximize buttons*/
div.sp-leftblock span.minbox, div.sp-rightblock span.minbox{
	float:right;
}
/* theme specific styles */
.sp-logo {
	font-size: 16px;
/*	font-weight: bold;*/
	letter-spacing: 3px;
}

.sp-logo-small {
/*	font-weight: bold;*/
}

.theme-footer {
	border:solid;
	border-top:none;
	border-width:1px;
	text-align:center;
	padding:0.2em;
}
.theme-bottom-links {
	border:solid;
	border-top:none;
	border-width:1px;
	text-align:right;
	padding:0.2em;
}
.theme-top-links {
	border:solid;
	border-width:1px;
	text-align:right;
	padding:0.2em;
}
.theme-search {
	border:solid;
	border-top:none;
	border-width:1px;
	height:20px;
	text-align:right;
	padding:0.2em;
	margin-bottom:0.2em;
}

.theme-searchinput {
	display:inline;
}

table.theme-maintable {

}

table.theme-maintable td {
	vertical-align:top;
}

table.theme-maintable ,td.theme-maincontent {
	width:100%;
	padding-right:0.3em;
	padding-left:0.3em;
	
}

/* styles for legacy opentable1/opentable2 functions */
.table1, .table2 {
	padding: 5px;
	margin-bottom: 5px;
	border: 0px solid #D9DCC2;
}

/*menu*/
tr.wmenu-selected {
    background-color:#2f6bc1; 
    color: white;         
    width: 100%; 
    CURSOR: default;
}

tr.wmenu-notselected {
    width: 100%; 
    CURSOR: default;
}

div.wmenu-body {
	direction: ltr;
	text-align: left;
	background-color:white;
}

.tbContent
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 100%;
	margin: 0px;
}
.thContent
{
	background-color: #cedde3;
	border : 0px;
	font-size : 11px;
/*	font-weight : bold;*/
}
.tbHeader
{
	background-color: #cedde3;
	border : 0px;
	font-size : 11px;
/*	font-weight : bold;*/
}

.tdContent
{
	width: 100%;
}
.tdContentBorder
{
	background-color : #cedde3;
}
.tdContentFooter
{
	background-color : 	#cedde3;
}        
/*ul
{
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-image:url(../images/far/bb.gif) ;
}*/

.tbBorder{
    border:1;
    bordercolor:#CEDDE3;
    border-collapse: collapse;
}

/*search result*/
/*div.search-result-container {
	border: #b9D1DB 1px solid; 
	padding: 5px; 
	width: 98%; 
	height: 55px; 
    background-image:url('../images/far/search/tile_block.gif');
    background-repeat:repeat-y;
	margin-bottom: 11px;
}*/
/*div.search-result-container {
	border: gainsboro 1px solid; 
	padding: 5px; 
	width: 500px; 
	height: 55px; 
	background-color: ivory;
	margin-bottom: 11px;
}*/

span.search-result-header{
	font-family:Tahoma, Nazanin ,Times New Roman;
	font-size: 12px;
	color: #663333;
/*    color: #000000;*/
/*    padding-bottom:50px;
    background-color:#007200;*/
}

span.search-result-content {
	text-align: justify; 
	color: #515151;
}

td.search-result {
	font-size: 9pt; 
	color: #007200;
}

span.search-result {
	font-size: 9pt; 
	color: #0F4475;
}

/*systems homepage block*/
span.dataitem-header {
	color:#0B1274;
}

span.dataitem-title {
	color:#000000;
}

span.dataitem-caption {
	color:#05697f;
}

span.dataitem-data {
	color:#435b89;
}

img.dataitem-image {
	border: 1px solid #999999;	
}

input.system-search {
	background-color:#ffffff;
}

/* temp style*/
.tradio .tcheckbox
{
	border: #ffffff 0px solid;
}
.caption{
    font-family : Tahoma,Arial;
    color : #013a81;
}
.captionBold{
    font-family : Tahoma,Arial;
/*    font-weight : Bold;*/
}

.data{
    font-family : Tahoma,Arial;
}
.dataBold{
    font-family : Tahoma,Arial;
/*    font-weight : Bold;*/
}

.frmTable{
   	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
}
.h2{
/*	font-size: 16px;*/
	font-size: 12px;
	color : #FF7722;
	font-weight: normal;
/*	font-weight: bold;*/
/*	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	*/
	font-family: Tahoma, Verdana, sans-serif;	
	letter-spacing: 0px;
	text-decoration:none;
	/*width:100%; not used*/
	vertical-align : middle;
}

.h3{
	font-size: 11px;
/*	font-weight: bold;	*/
/*	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	*/
	font-family: Tahoma, Verdana, sans-serif;
	letter-spacing: 0px;
	text-decoration:none;
	width:100%
}
.frmHelp{
    background-color: #ffffe1;
 	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;	
	letter-spacing: 0px;
	color : #9c7600;
   	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-decoration:none;
	font-weight:normal
}
.hr{

}

.highlight-subject {
	color:red;
}

.subject-text {
	line-height: 20px;
}

.subject-link {
	color:yellow;
}

/*
.AmenuLevel1 : active{
color : red;
}
.AmenuLevel1 : hover{
color : green;
}
.AmenuLevel1 : link{
color : black;
}
.AmenuLevel1 : visited{
color : blue;
}
*/
.menuLevel1{
/*    background-color: #bad2dd;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.menuLevel1Selected{
/*    background-color: #ebedef;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.menuLevel2{
/*    background-color: #ebedef;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.menuLevel2tr{
/*    background-color: #ebedef;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
}
.menuLevel2Selected{
/*    background-color: #FFFFFF;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.serviceTitle{
/*    background-color: #bad2dd;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
    color : #003366;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}

/*style for forume cells*/
.forum-even {
	background-color: #f3f3f3;
}
.forum-odd {
	background-color: #eaeef2;
}


.pnTrOdd{
  	background-color: #EBF3Fb;
    border : 0px solid #000000;
	font-size : 11px;
}
.pnTrEven{
  	background-color: #FFFFFF;
	font-size : 11px;
    border : 0px solid #000000;
}
.tbList{
    border : 1px solid #cedde3;
	width : 100%;
	margin: 0px;
	rules : cols;
}

.formSpliter{
    height: 2px;
    color : #669999;
    text-align : center;
    width : 90%;
}

.rapidBlockTitle1 {
	color: #48494a;
}

.rapidBlockTitle2 {
	color: #284976;
}

.rapid_photo_gallery_image_cotainer {
	border:1px solid #112c50;
	padding:2px
}
.middlevalign{
	vertical-align:middle;
}


a.navigationbar {
	color : #155e9b;
}
.sp-admintable tr.sp-even {
	background-color: #EBF3Fb;
}
.sp-admintable tr.sp-odd {
	background-color: #FFFFFF;
}
.sp-even {
	background-color: #EBF3Fb;
}
.sp-odd {
	background-color: #FFFFFF;
}
.search-top{
background-color:#F5F8FA;
border:1px solid #ccdae1;
}
.search-item{
background-color:#F8F8F8;
border:1px solid #ccdae1;
}
TD.nav {
	border: 1px solid #848284;
	background-color: #D6E7FC;
	color: #000
}
.formhelp {
     border : 1px solid #acacac;
     text-color : #525252;
     width : 97%;
     padding-top : 10px;
     padding-bottom : 15px;
     padding-right : 10px;
     padding-left : 10px;
     text-align : justify;
}

.block-description {
	text-align:justify;
	color:#777777;
}
.overflowTable{
	table-layout:fixed;
	 }
.overflowTd {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.serviceMenuItem{
	color:#4C6174; 
	background-color:transparent; 
	CURSOR: hand
}

.serviceMenuItemSelected{
	color:#4C6174; 
	background-color:#E6F2E6; 
	CURSOR: hand
}
.serviceMenuTd{
	color:#4C6174; 
	border-bottom : 1px solid #DBE5ED;
}
.serviceMenuTdText{
	color:#4C6174; 
}
.photo_gallery-folder{
	background-color:#ffffff;
	border:1px solid #7b7e87;
}
.hoverHint {
	width: 200px;
	height: 200px;
	background-color: #fff;
	overflow: hidden;	
	padding: 3px;
	position: absolute;
	top: 0px;								
	left: 0px;
	background-image: url(../images/loading.gif);						
	background-position: center;		
	background-repeat: no-repeat;		
	border: 1px solid #aaa;	
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=3);
	z-index: 1000;
}
.standalone {
	padding:10px;
}
/* toolbar */
div#sistoolbarfloatingbar{
	overflow:hidden;
	width:100%;
	height:30px;
	position:fixed;
	bottom:0;
	left:0;
	z-index:900;
	padding-top:5px;	
}
div#sistoolbarfloatingbar .sistoolbarcontainer {
	margin:0px auto;
	width:85%;
	font-weight:bold;
	background-color:#f6f6f6;
	border:1px solid #BBB;
	border-bottom:0px;
	padding:2px 40px 0px 40px;
	-webkit-border-radius: 3px;    
    border-radius: 3px;	
    height:27px;
	-webkit-box-shadow:  0px -1px 4px 1px #e1e1e1;
    box-shadow:  0px -1px 4px 1px #e1e1e1;
	background-repeat:no-repeat;
	background-position:center center;
}
.sistoolbarcontainer input{
	border:1px solid #BBB;
	padding:3px;
	background-image: url('../images/far/toolbar/search.png');
	background-repeat:no-repeat;
	width:200px;
}
.sistoolbarcontainer .toolbar_icon{
	vertical-align:middle;
	margin-right:5px;
	cursor:pointer;
	width:16px;
	height:16px;
}
.smartseacrhitemsection {
	background-color:#eee;
	color:#000;
	padding:4px;
	border:1px solid #ccc;
	font-weight:bold;
	border-radius: 2px;
	/*border-bottom:1px solid #ccc;*/
}
.smartseacrhitem a{
	color:#000!important;
}
.toolbarmenu {
	overflow:hidden;
	width:206px;
	background-color:#fcfcfc;
	position:absolute;
	position:fixed;
	z-index:901;
	border:1px solid #BBB;
	background-position:center center;
	background-repeat:no-repeat;
	border-radius:4px;
	padding:6px 0px 6px 0px;	
    box-shadow: 0px 0px 4px 1px #e1e1e1;    
}
.toolbarmenu2 {
	height:100%;
	overflow:auto;
	padding:0px 3px 0px 3px;
}
.toolbarmenu2 img {
	vertical-align:middle;
}
.smartseacrhitem {
	padding:4px 10px 4px 4px;
	/*border-bottom:1px dashed #f1f1f1;*/
	border:1px solid #fcfcfc;
	white-space:nowrap;
	background-color:#fcfcfc;
	overflow:hidden;
	margin:2px 0px 2px 0px;
}
.smartseacrhitem:hover {
	background-color:#f5f9fd;
	border:1px solid #b3cce5;
	border-radius:2px;
}
.smartseacrhnoitem {
	padding:20px;
	text-align:center;
	line-height:21px;	
}
.auditreportheader, .auditreportheader2 {
	border-bottom:1px solid #dbdbdb;
	padding-bottom:10px;
	margin:0px 8px 8px 8px;
	color:#005c9c;
	font-size:12px;
	font-family:tahoma;
}
.auditreportheader2 {
	border-bottom:0px!important;
	margin:0px 8px 0px 8px!important;
}
.auditreportblock, .auditreportblock2 {
	background-color:#fff;
	padding:10px;
	border:1px solid #dbdbdb;
	border-radius:4px;
	box-shadow:  0px 0px 4px 1px #e1e1e1;
}
.auditreportblock2 {	
	padding:10px 10px 0px 10px!important;
}
.alanyticmaintable {
	width:621px;
	margin-top:10px
}
.alanyticmaintable td.aptd{
	vertical-align:top;
	padding-bottom:10px;
}
* html div#sistoolbarfloatingbar{
    position:absolute;
}
.alanyticmainwindow {
	padding:10px;
	background-color:#f7f7f7;
	width:650px;
	margin:20px auto 20px auto;
	border:1px solid #e1e1e1;
	border-radius:5px;
}
.alanyticwindowtitle {
	font-size:12px;
	font-weight:bold
}
.alanyticwindowtitle span {
	font-weight:normal;
	font-size:11px
}
.alanyticwindowtitle .close {
	vertical-align:middle;
	cursor:pointer
}
.toolbar_block_section .sectionheader {
	display:none!important;
}
.toolbar_block_section .sectionfooter, .toolbar_block_section .sectionfooter2 {
	background-color:transparent!important;
}
.toolbar_block_section .sectionfooter input, .toolbar_block_section .sectionfooter2 input {
	display:none;
	margin:0px!important;
}
.toolbar_block_section .sectionfooter input[type=submit], .toolbar_block_section .sectionfooter2 input[type=submit] {
	display:block;
}
.toolbar_block_section .sectionfooter td, .toolbar_block_section .sectionfooter2 td {
	direction:ltr;
}
.toolbar_block_section .section {
	background-image:none!important;
	border:0px!important;
	margin-bottom:0px!important;
}
.toolbar_block_section .section td {	
	padding:4px!important;
}
.toolbar_block_section .sectionbody, .toolbar_block_section .form_container {
	background-color:#fff;
	padding:10px;
	border:1px solid #dbdbdb;
	border-radius:4px;
	box-shadow:  0px 0px 4px 1px #e1e1e1;
}
._debug_info_template_name {
	margin:3px 0px 3px 0px;
	font-weight:bold;
	color:#000;
	display:none;
	border:1px dashed #bbb;
	background-color:#f1f1f1;
	padding:3px 10px 3px 10px
}
.toolbar_debug_info_table td{
	vertical-align:middle;
	padding:5px;
	color:#000!important;
}
.toolbar_updating {
	padding:3px;
	margin:0px 5px 0px 5px;
	float:right;
	/*font-weight:normal;*/
}

.EditPageItem {
	padding:10px 10px 0px 10px!important;
	background-color:#f7f7f7!important;
	border:1px solid #e1e1e1!important;
	border-radius:5px!important;
	width:800px!important;
	height:auto!important;
}
.EditPageItem .section {
	background-image:none!important;
	border:0px!important;
	margin-bottom:0px!important;
	background-color:transparent!important;
}
.EditPageItem .sectionheader {
	margin:0px!important;
	background-image:none!important;
	color:#000!important;
	border:0px!important;
	background-color:transparent!important;
}
.EditPageItem .sectionfooter {
	background-color:transparent!important;
	border:0px!important;
}
	
.EditPageItem .sectionsolidbody {
	border:0px!important;
	background-color:transparent!important;
}

.EditPageItem .sectionbody {
	background-color:#fff;
	padding:10px;
	border:1px solid #dbdbdb;
	border-radius:4px;
	box-shadow:  0px 0px 4px 1px #e1e1e1;
}

.EditPageItem .sectionfooter input {
	font-weight: bold!important;
	margin-left: 14px!important;
	border: 1px solid #AAA!important;
	padding: 3px 7px!important;
	color: #111!important;
	text-decoration: none!important;
	background: #DDD!important;
	border-radius: 12px!important;
	-webkit-border-radius: 12px!important;
	-moz-border-radius: 12px!important;
	text-shadow: 0px 1px 0px white!important;
	background-size: 100% 100%!important;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#CCC))!important;
	background: -moz-linear-gradient(top, white, #CCC)!important;
	background: -o-linear-gradient(top, white, #CCC)!important;
	background: -ms-linear-gradient(top, white, #CCC)!important;
	background: linear-gradient(top, white, #CCC)!important;	
	height:24px!important;
}
.sectionfooter2 input[type="submit"],.sectionfooter2 input[type="button"],.newButton,.active_button,.sectionfooter input[type="submit"],.sectionfooter input[type="button"] {
	padding: 3px 10px 3px 10px !important;	
}
.sectionfooter2 input[type="submit"]:hover,.sectionfooter2 input[type="button"]:hover,.newButton:hover,.active_button:hover,.sectionfooter input[type="submit"]:hover,.sectionfooter input[type="button"]:hover {

	padding: 3px 10px 3px 10px !important;		
}
.toolbar_block_section .section {

	background-color:transparent!important;	
}
.toolbar_debug_info_table td{
	color:#333!important;
}

.EditPageItem {
	padding:10px 0px 0px 0px!important;

}
.portletSettingsHeader, .portletSettingsHeader2 {
	border-bottom:1px solid #dbdbdb !important;
	padding-bottom:10px !important;
	margin:0px 8px 8px 8px !important;
	color:#005c9c !important;
	font-size:12px !important;
	font-family:tahoma !important;
}
.portletSettingsHeader2 {
	border-bottom:0px!important;
	margin:0px 8px 0px 8px!important;
}
.portletSettingsBlock, .portletSettingsBlock2 {
	margin:0px 15px 15px 15px !important;
	background-color:#f7f7f7 !important;
	padding:10px !important;
	border:1px solid #dbdbdb !important;
	border-radius:4px !important;
	box-shadow:  0px 0px 4px 1px #e1e1e1 !important;
}
.portletSettingsBlock2 {
	padding:10px 10px 0px 10px!important;
}
.sectionfooter2 input[type="submit"],.sectionfooter2 input[type="button"] {
	padding: 3px 10px 3px 10px !important;
}

#txtReferCode {
 width:72px !important;
}

.blindp {
    color: #cacaca;
    float: left;
    font-family: BMitra;
    font-size: 16px;
    padding-top: 22px;
    width: 152px;
}

.blind {
    float: left;
}

ul.affiliate li{
    padding-left: 10px;
    margin-left: 5px;
    list-style-type: none;
    background-position: right center;
text-align:right;
}