/*
Dark theme evoked by Konami 🎮 code (⬆️⬆️⬇️⬇️⬅️➡️⬅️➡️BA) on the Iowa State University homepage.
*/

body.wd-p-CookieMonster,
.wd-p-Responsive.wd-p-CookieMonster .wd-l-Content,
.wd-p-Responsive.wd-p-CookieMonster .wd-l-Footer-inner{
	background: #333;
	color: #fff;
}

.wd-p-CookieMonster .isu-Strip--alert{
	background: #c25a00;
}

.wd-p-CookieMonster .isu-Strip--alert .isu-Strip-content{
	background: #e1c1a5;
	border-color: #e1c1a5;
}

.wd-p-CookieMonster .isu-Feature,
.wd-p-CookieMonster .isu-Strip--beSocial{
	background: #444;
	color: #999;
}

.wd-p-CookieMonster .isu-Feature-header > h2 {
    text-shadow: 0 1px 2px #333;
}

.wd-p-CookieMonster .isu-Feature-header > h2, 
.wd-p-CookieMonster .isu-Feature-header > h2 > a {
    color: #fff;
}

.wd-p-CookieMonster .isu-Feature-content a {
    color: #fff;
}

.wd-p-CookieMonster .isu-Feature-content ul.block-list > li > a:hover {
    background-color: #555;
}

.wd-p-CookieMonster .isu-Strip--beSocial .isu-Strip-header,
.wd-p-CookieMonster .wd-l-PageFooter .wd-Nameplate{
	border-color: #aaa;
}

.wd-p-CookieMonster .wd-l-Footer-inner{
	border-color: #666;
}

.wd-p-CookieMonster .wd-l-PageFooter{
	background: #222;
	color: #ccc;
}

.wd-p-CookieMonster .wd-l-PageFooter a{
	color: #00b0ed;
}

@media screen and (max-width: 719px) {
	.wd-p-CookieMonster .wd-l-PageFooter{
		background: none;
	}
}

.wd-p-CookieMonster a.isu-FooterButton{
	background: rgba(255,255,255,0.3);
	border: 0;
	border-radius: 3px;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
}

.wd-p-CookieMonster .isu-FooterButton:hover{
	background: #fff !important;
	box-shadow: none;
	color: #222;
}
