
.hidden{
	display: none !important;
}

.wd-l-Ribbon .wd-Nameplate{
	margin-bottom: 16px;
}

.wd-l-Container-inner,
.wd-p-ShowSidebar .wd-l-Container-inner{
	background: #fff;
}

.wd-l-Sidebar{
	display: none;
}

/* Fix the side bar so it shows correct */
.wd-p-Responsive .wd-l-Sidebar {
	overflow: inherit;
}


@media screen and (max-width: 719px) {
	.wd-l-Sidebar{
		display: block;
	}
}


.wd-l-Content,
.wd-p-ShowSidebar .wd-l-Content{
	margin-left: 20px;
}

@media screen and (max-width: 719px) {
	.wd-l-Content,
	.wd-p-ShowSidebar .wd-l-Content{
		margin-left: 0;
	}
}

/* Fix the links up top so they are inline */
.wd-p-Responsive .wd-l-TopStripMenu-header {
	margin: 0 0 0 2px;
}



/* Icons
----------------------------------*/

.isu-Icon--facebook{
	color: #3b579d;
}

.isu-Icon--twitter{
	color: #00b0ed;
}

.isu-Icon--youtube{
	color: #cd201f;
}

.isu-Icon--facebook:hover,
.isu-Icon--twitter:hover,
.isu-Icon--youtube:hover{
	color: #333;
}

/* ISU Navigation
----------------------------------*/

.isu-MainNav{
	clear: both;
	overflow: visible;
}

.isu-MainNav .wd-Navigation{
	font-size: 14px;
	letter-spacing: -0.31em;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.isu-MainNav .wd-Navigation > .wd-Navigation-node{
	border-left: 1px solid #7e0e19;
	display: inline-block;
	letter-spacing: normal;
	position: relative;
	width: 16.6667%;
}

.lt-ie8 .isu-MainNav .wd-Navigation > .wd-Navigation-node{
	float: left;
	width: 16.61%;
	z-index: 1000;
}

.isu-MainNav .wd-Navigation > li > a{
	border-left: 1px solid #ac3440;
	color: #fff;
	display: block;
	letter-spacing: 1px;
	outline: none;
	padding: 4px 6px 6px;
	text-decoration: none;
	text-shadow: 0 0 0 #fff, -1px 1px 3px #333;
}

.isu-MainNav .wd-Navigation > li > a:focus{
	outline: 1px solid #dfbd00;
	position: relative;
	z-index: 20;
}

.isu-MainNav .wd-Navigation > li.active > a,
.isu-MainNav .wd-Navigation > li:hover > a{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAgCAYAAADT5RIaAAAAP0lEQVQY0wXBAQGAAAwEIf5CWMD2lpzge94LYsoJYpoTxGSU093UyJHRjmza0e20TY62E5OjoSEmO800Jyb4AcSzETNSokJqAAAAAElFTkSuQmCC");
	background-image: -moz-linear-gradient(#a41522, #b01724);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a41522), to(#b01724));
	background-position: center top;
	background-repeat: repeat-x;
	position: relative;
	z-index: 1100;
}

.isu-MainNav .wd-Navigation > li:hover > a[href="javascript:;"]{
	cursor: default;
}

.isu-MainNav .wd-Navigation > li:last-child{
	border-right: 1px solid #ac3440;
}

.isu-MainNav .wd-Navigation > li:last-child > a{
	border-right: 1px solid #7e0e19;
}

.isu-MainNav .wd-Navigation > li > ul{
	background-color: #e4dfcf;
	background-image: -moz-linear-gradient(#f2f2f2, #e4dfcf);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e4dfcf));
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
	display: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#e4dfcf);
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0 0 4px;
	position: absolute;
	text-align: left;
	width: 100%;
	z-index: 1000;
}

.isu-MainNav .wd-Navigation > li.active > ul,
.isu-MainNav .wd-Navigation > li:hover > ul{
	display: block;
}

.isu-MainNav .wd-Navigation > li > ul > li > a{
	color: #444;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 12px;
	text-decoration: none;
}

.isu-MainNav .wd-Navigation-subnav .wd-Navigation-link{
	transition: background-color 0.2s,  color 0.2s;
}

.isu-MainNav .wd-Navigation > li > ul > li > a:focus{
	background-color: rgba(223, 189, 0, 0.2);
	outline: 1px solid #dfbd00;
}

.isu-MainNav .wd-Navigation > li > ul > li > a:hover{
	background: #bebbaf;
	color: #222;
}

/* Slideshow
----------------------------------*/

.scroller{
	overflow: hidden;
	position: relative;
}

.scroller > .slide-container{
	position: relative;
	z-index: 10;
}

.scroller > .slide-container [role="tabpanel"]{
	display: none;
	position: absolute;
	z-index: 100;
}

.scroller > .slide-container [role="tabpanel"].active{
	display: block;
}

.scroller > .nav-container{
	position: absolute;
	z-index: 20;
}

.scroller > .nav-container > ul{
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.scroller > .nav-container > ul > li{
	cursor: pointer;
}

/* Footer
----------------------------------*/

.isu-FooterLinks{
	list-style: none;
	margin-bottom: 0;
	padding: 10px 10px 0;
	text-align: center;
}

.isu-FooterLinks li{
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}

.isu-FooterButton{
	background-color: #f4f3e8;
	background-image: linear-gradient(#fff, #eeeddd);
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 0 0 1px #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.4);
	color: #666;
	display: block;
	float: right;
	font-weight: bold;
	line-height: 15px;
	margin: 5px 0;
	outline: medium none;
	padding: 3px 5px;
	text-align: center;
	text-decoration: none;
}

.isu-FooterButton:hover {
	box-shadow: 0 0 12px #fff inset, 0 1px 3px rgba(0, 0, 0, 0.4);
	color: #444;
	text-decoration: none;
}

.isu-FooterButton:active {
	background-color: #f4f3e8;
	background-image: linear-gradient(#fff, #f4f3e8);
	border-color: #aaa;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

@media screen and (max-width: 719px) {
	.isu-FooterButton{
		float: none;
		margin: 0 0 10px;
	}
}
