@charset "utf-8";
@font-face{font-family:'icomoon';src:url('../iconmoon/icomoon.eot?-lzw6tv');src:url('../iconmoon/icomoon.eot?#iefix-lzw6tv') format('embedded-opentype'),url('../iconmoon/icomoon.woff?-lzw6tv') format('woff'),url('../iconmoon/icomoon.ttf?-lzw6tv') format('truetype'),url('../iconmoon/icomoon.svg?-lzw6tv#icomoon') format('svg');font-weight:normal;font-style:normal;}[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}.icon-1:before{content:"\e600";}.icon-2:before{content:"\e601";}.icon-3:before{content:"\e602";}.icon-4:before{content:"\e603";}.icon-5:before{content:"\e604";}.icon-6:before{content:"\e605";}.icon-7:before{content:"\e606";}.icon-8:before{content:"\e607";}.icon-9:before{content:"\e608";}.icon-10:before{content:"\e609";}.icon-11:before{content:"\e60a";}.icon-12:before{content:"\e60b";}.icon-13:before{content:"\e60c";}.icon-14:before{content:"\e60d";}.icon-15:before{content:"\e60e";}.icon-16:before{content:"\e60f";}.icon-17:before{content:"\e610";}.icon-18:before{content:"\e611";}.icon-19:before{content:"\e612";}.icon-20:before{content:"\e613";}.icon-21:before{content:"\e614";}.icon-22:before{content:"\e615";}.icon-23:before{content:"\e616";}.icon-24:before{content:"\e617";}.icon-25:before{content:"\e618";}.icon-26:before{content:"\e619";}
 	
 
@font-face {
    font-family: "Nessma-Light";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/HelveticaNeueLTW20-Ligh.eot") format("embedded-opentype"), url("/fonts/HelveticaNeueLTW20-Ligh.woff") format("woff"), url("/fonts/HelveticaNeueLTW20-Ligh.ttf") format("truetype"), url("/fonts/HelveticaNeueLTW20-Ligh.svg#HelveticaNeueLTW2045Light") format("svg");
}
@font-face {
    font-family: "Nessma-Roman";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/helvetica-arabic-roman.eot") format("embedded-opentype"), url("/fonts/HelveticaNeueLTW20-Roman.woff") format("woff"), url("/fonts/HelveticaNeueLTW20-Roman.ttf") format("truetype"), url("/fonts/HelveticaNeueLTW20-Roman.svg#HelveticaNeueLTW2055Roman") format("svg");
}
@font-face {
    font-family: "Nessma-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/HelveticaNeueLTW20-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/HelveticaNeueLTW20-Bold.woff") format("woff"), url("/fonts/HelveticaNeueLTW20-Bold.ttf") format("truetype"), url("/fonts/HelveticaNeueLTW20-Bold.svg#HelveticaNeueLTW2075Bold") format("svg");
}


 
.arabic_14{font:16px 'Nessma', 'sans-serif';text-align:right;direction:rtl;}
.arabic_12{font:14px 'Nessma', 'sans-serif';direction:rtl;}
.rtl{direction:rtl;text-align:right;}
.justify{text-align:justify;}
iframe{border:none;}
/*body{font-family:'Nessma-Roman', 'sans-serif';color:#444444;font-size:16px;background:rgba(0, 0, 0, 0) url("../images/background.png") repeat fixed 0 0;height:100%;}*/
body{font-family:'Nessma-Roman', 'sans-serif';color:#444444;font-size:16px;background:#e01a22 url("../images/ezel-habillage.jpg")no-repeat  top center;height:100%;}/*
body{font-family:'Nessma-Roman', 'sans-serif';color:#444444;font-size:16px;}*/
.date{font-size:12px;color:#b0b1b4;margin-bottom:8px;}
.cp-post-content .date{font-size:12px;color:#b0b1b4;margin-bottom:8px;padding-top:10px; text-align:right;}
.red{color:#c41b18;}
.sondage{list-style:none;}
.boxed_layout{width:1200px;margin:0 auto;background:#FFF;}
.wide_layout{width:100%;}
p{color:#444444;font-size:16px;font-family:'Nessma-Roman', 'sans-serif';}
.wrapper{box-shadow:0 0 5px rgba(0, 0, 0, 0.2);margin:0 auto;max-width:1200px;overflow:hidden;position:relative;background:#FFF;margin-top:345px;}
@media screen and (max-width:768px){#wrapper{margin-top:0px;}
}
.cp-header,
.cp-topbar,
.cp-logo-row,
.cp-megamenu,
.cp-featured-news-slider{width:100%;float:left;}
.m20{margin-top:20px;}
.m30{margin-top:30px;}
.m40{margin-top:40px;}
.m50{margin-top:50px;}
.m60{margin-top:60px;}
.m70{margin-top:70px;}
.m90{margin-top:80px;}
.m90{margin-top:90px;}
.m100{margin-top:100px;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.cp-topbar{height:40px;}
.cp-topbar ul{margin:0px;padding:0px;}
.cp-topbar ul li{display:inline-block;color:#fff;}
.toplinks{font-size:12px;}
.toplinks li{line-height:38px;list-style:none;padding:0 9px;}
.toplinks li:first-child{padding-left:0;}
.cp-topbar a{color:#fff;}
.cp-topsocial{line-height:38px;margin-right:8px;}
.cp-topsocial li{display:inline-block;margin-right:2px;margin-top:7px;overflow:hidden;border-radius:100%;}
.cp-topsocial a{border:1px solid #fff;height:26px;width:26px;text-align:center;line-height:23px;border-radius:100%;display:block;font-size:14px;}
.cp-toptools li{line-height:40px;background:rgba(255, 255, 255, .2);padding:0 14px;font-size:16px;}
.cp-logo-row{padding:25px 0;}
.cp-logo-row .logo{margin-top:0px; margin-left:25px;}
.cp-megamenu{border-top:1px solid #cccccc;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.21);position:relative;z-index:999;}
.cp-advertisement{margin-top:25px;text-align:right;width:auto;float:left;}
@media screen and (max-width:768px){.cp-advertisement{display:none; visibility:hidden;}}

@media screen and (max-width:768px){.cp-logo-row .logo{margin-top:0px; margin:0 auto; text-align:center;}}

/*@media screen and (max-width:768px){.cp-logo-row{display:none; visibility:hidden;} .logo{margin-top:0px; margin:0 auto; text-align:center;}} */

.sticky{}
.cp-mega-menu .slogo{display:none;}
.sticky .cp-mega-menu .slogo{display:block;}
.sticky .cp-mega-menu .shome{display:none;}
.cp-mega-menu .slogo img{margin:3px 0 0;}
.cp-featured-news-slider .item,
.cp-featured-news-slider .cp-post-thumb{position:relative;}
.cp-featured-news-slider .cp-post-content{position:absolute;left:0px;bottom:0px;background:rgba(0, 0, 0, .80);width:100%;padding:40px 30px 26px;z-index:99;}
.cp-featured-news-slider .cp-post-content h1{font-size:30px;font-family:'Nessma-Roman', sans-serif;font-weight:700;color:#fff;margin:0px;line-height:15px;margin-bottom:15px;}
.cp-featured-news-slider .cp-post-content h1 a{color:#fff;}
.cp-featured-news-slider .cp-post-content .cp-post-tools{margin:0px;padding:0px;}
.cp-featured-news-slider .cp-post-content .cp-post-tools li{float:left;margin-right:20px;color:#fff;}
.cp-featured-news-slider .catname{position:absolute;top:-15px;}
.cp-featured-news-slider .btn{padding:5px 14px;font-family:'Nessma-Roman', sans-serif;font-weight:900;font-size:14px;border-radius:2px;box-shadow:0 0 5px rgba(0, 0, 0, .5);text-transform:uppercase;color:#fff;}
.featured-slider img{width:100%;height:auto;}
.main-content{width:100%;float:left;padding:50px 0;}
.section-title{width:100%;float:left;clear:both;margin-bottom:25px}
.section-title h2{font: 26px/40px 'Nessma-Bold', sans-serif;margin:0 10px 0 0px;float:right;border-right:5px solid #000;padding:0 10px;text-transform:uppercase;}
.section-title small{font:400 14px/40px'Nessma-Roman', sans-serif;color:#888888;}
.cp-fullwidth-news-post-excerpt,
.cp-post,
.cp-thumb,
.cp-post-content,
.news-post,
.cp-news-post-excerpt{width:100%;float:left;position:relative;clear:both;}
.cp-post-content h3{margin:0px;padding:0px;font: 16px/20px "Nessma-Bold",sans-serif;font-weight:500;}
.cp-post-content h3 a{text-decoration:none;color:#222;}
.cp-thumb iframe{width:100%;border:0px;min-height:350px;}
.cp-fullwidth-news-post-excerpt .owl-theme .owl-controls{position:absolute;top:35%;z-index:999;left:0;width:100%;}
.cp-thumb img{width:100%;height:auto;}
.cp-news-grid-style-1,
.cp-news-grid-style-1 .grid{width:100%;float:left;clear:both;}
.cp-news-grid-style-1 .grid{margin:0px;padding:0px;margin-right:25px;margin-left:10px;}
.cp-news-grid-style-1 .grid li{list-style:none;max-width:90%;margin:10px;}
.cp-news-grid-style-1 .cp-news-post-excerpt{border-radius:3px;-webkit-border-radius:3px;overflow:hidden;box-shadow:0px 2px 4px 0 rgba(0, 0, 0, 0.13);margin-bottom:30px;position:relative}
.cp-news-grid-style-1 .cp-news-post-excerpt .cp-post-content{padding:0px 20px 20px 20px;width:100%; direction:rtl; text-align:right;}
.cp-news-grid-style-1 .cp-news-post-excerpt h3{margin:-6px 0 0 0;color:#222222;font: 16px/20px 'Nessma-Bold', sans-serif;}
.cp-news-grid-style-1 .cp-news-post-excerpt h3 a{text-decoration:none;color:#222;}
.cp-news-grid-style-1 .cp-news-post-excerpt .catname{position:relative;top:-15px;z-index:99;overflow:hidden;}
.catname{display:inline-block;}
.catname-btn{border-radius:2px;box-shadow:0 2px 3px rgba(0, 0, 0, 0.25);color:#fff;display:block;font:900 14px/30px"Nessma-Roman", sans-serif;height:30px;padding:0 15px;text-decoration:none;text-transform:uppercase;}
.catname-btn:hover{color:#fff;}
.cp-post-tools{margin:10px 0 0;padding:15px 0 0 0;width:100%;clear:both;}
.cp-post-tools li{list-style:none;display:inline-block;margin-right:14px;color:#888888;font-size:14px;line-height:24px;}
.cp-post-tools li:last-child{margin:0px;}
.cp-post-tools .fa{font-size:16px;}
.cp-news-post-excerpt:hover img{}
.cp-news-post-excerpt .owl-theme .owl-controls{position:absolute;z-index:99;width:100%;top:35%;}
.cp-news-grid-style-2,
.small-grid,
.small-post{width:100%;float:left;clear:both;padding:0px;}
.small-grid,
.small-post{margin:0px;}
.cp-news-grid-style-2 li{list-style:none;}
.cp-news-grid-style-2 .small-post{margin-bottom:20px;padding-bottom:20px;}
.small-grid .cp-thumb{width:100%;margin-right:15px;margin-bottom:15px;border-radius:2px;}
.small-grid .cp-post-content{float:none;width:auto;clear:none;}
.small-grid .cp-post-content h3{margin:15px 0 15px 13px ;font:500 16px/22px'Nessma-Bold', sans-serif;line-height:130%;}
.small-grid .cp-post-tools{margin:3px 0 9px 0;}
.small-grid .cp-post-content .cp-post-tools{clear:none;}
.cp-news-grid-style-2 .cp-fullwidth-news-post-excerpt{width:100%;float:left;border-bottom:#cccccc solid 1px;margin-bottom:20px;}
.cp-news-grid-style-2 .cp-fullwidth-news-post-excerpt h3{font:500 16px/22px 'Nessma-Bold', sans-serif;margin:16px 0 9px 0; }
.cp-news-grid-style-2 .cp-fullwidth-news-post-excerpt p{margin:10px 0 18px;color:#444444}
.cp-news-grid-style-2 a{color:#222222;text-decoration:none;}
.cp-news-grid-style-3{width:100%;float:left;clear:both;}
.cp-news-grid-style-3 .grid-holder {width:100%;float:left;box-shadow:0 1px 4px rgba(0, 0, 0, .20);border-radius:2px;padding:30px;}
.cp-news-grid-style-3 .grid-holder ul{width:100%;float:left;margin:0px;padding:0px;}
.cp-news-grid-style-3 .grid-holder ul{list-style:none;}
.cp-news-grid-style-3 .grid-holder .cp-thumb{margin-bottom:11px;}
.cp-news-grid-style-3 h3{font:500 16px/22px'Nessma-Bold', sans-serif;margin:0;  padding-top:10px;}
.cp-news-grid-style-3 h3 a {color:#222;text-decoration:none;}
/* .loadmore-holder {width:100%;float:left;margin-top:20px;text-align:center;overflow:hidden;position:relative;}
.loadmore,
.load{width:157px;height:41px;text-align:center;border-radius:2px;color:#fff;font:400 15px/40px'Nessma-Roman', sans-serif;text-transform:uppercase;text-decoration:none;box-shadow:0 2px 4px rgba(0, 0, 0, .23);display:inline-block;} */
.cp-news-grid-style-4{width:100%;float:left;clear:both;}
.cp-news-grid-style-4 .grid{margin:0px;padding:0px;}
.cp-news-grid-style-4 .grid li{list-style:none;}
.cp-news-grid-style-4 .cp-fullwidth-news-post-excerpt{border-radius:2px;overflow:hidden;position:relative;margin-bottom:30px;}
.cp-news-grid-style-4 .cp-fullwidth-news-post-excerpt .cp-post-content{position:absolute;z-index:99;bottom:0px;left:0px;width:100%;background:rgba(0, 0, 0, .8);padding:0px 20px 15px;}
.cp-news-grid-style-4 .cp-fullwidth-news-post-excerpt .cp-post-content h3{margin:0px;font:500 20px/21px'Nessma-Roman', sans-serif;}
.cp-news-grid-style-4 .cp-fullwidth-news-post-excerpt .cp-post-content h3 a,
.cp-news-grid-style-4 .cp-post .cp-post-content h3 a{color:#fff;}
.cp-news-grid-style-4 .cp-fullwidth-news-post-excerpt .cp-post-tools li,
.cp-news-grid-style-4 .cp-post .cp-post-content .cp-post-tools li{color:#fff;}
.cp-news-grid-style-4 .cp-post-rating{background:#fff;display:inline-block;border-radius:2px;font-size:15px;padding:7px 15px 6px;position:relative;top:-15px;}
.cp-news-grid-style-4 .cp-post-rating a{text-decoration:none;}
.cp-news-grid-style-4 .cp-post{width:100%;float:left;position:relative;margin-bottom:30px;overflow:hidden;border-radius:2px;}
.cp-news-grid-style-4 .cp-post img{width:100%;height:auto;}
.cp-news-grid-style-4 .cp-post .cp-post-content{position:absolute;bottom:0px;left:0px;background:rgba(0, 0, 0, .80);width:100%;padding:0 20px 15px;}
.cp-news-grid-style-4 .cp-post .cp-post-content h3{margin:0px;font:500 16px/21px'Nessma-Roman', sans-serif;}
.cp-news-grid-style-5,
.cp-news-grid-style-5 .cp-news-list{width:100%;float:left;clear:both;}
.cp-news-grid-style-5 .cp-news-list{margin-bottom:30px;border-radius:2px;overflow:hidden;box-shadow:0 1px 4px rgba(0, 0, 0, .13);}
.cp-news-grid-style-5 .cp-news-list li{list-style:none;}
.cp-news-grid-style-5 .cp-news-list ul{margin:0px;padding:0px;}
.cp-news-grid-style-5 .cp-news-list ul .col-md-6{padding:0px;}
.cp-news-grid-style-5 .cp-news-list img{width:100%;height:auto;}
.cp-news-grid-style-5 .cp-news-list h3{margin:0px;padding:0px;font: 16px/20px "Nessma-Bold",sans-serif;text-transform:uppercase;line-height:120%;}
.cp-news-grid-style-5 .cp-news-list h3 a{color:#222;}
.cp-news-grid-style-5 .cp-news-list .cp-thumb{margin-right:15px;}
.cp-news-grid-style-5 .cp-news-list .cp-post-content{padding:24px 30px 30px 15px;}
.cp-news-grid-style-5 .cp-news-list p{margin:0px;padding:0px;font:400 14px/24px'Nessma-Roman', sans-serif;color:#444444;}
.cp-news-grid-style-5 .cp-news-list .cp-post-tools{margin:8px 0 9px 0;}
.pagination-holder{width:100%;float:left;clear:both;}
.pagination-holder nav{text-align:center;background:none;box-shadow:none;height:inherit;line-height:inherit;}
.pagination-holder nav ul{margin:0px;padding:0px;}
.pagination-holder nav ul li:hover,
nav ul li.active{border-radius:100%;background:none;}
.pagination-holder nav ul li{margin-left:5px;display:inline-block;}
.pagination-holder .pagination>li>a,
.pagination-holder .pagination>li>span,
.pagination-holder .pagination>li:first-child>a,
.pagination-holder .pagination>li:first-child>span,
.pagination-holder .pagination>li:last-child>a,
.pagination-holder .pagination>li:last-child>span{width:40px;height:40px;border-radius:100%;border:0px solid #ddd;color:#222222;float:left;margin-left:0px;padding:0;position:relative;text-decoration:none;box-shadow:0 0px 3px rgba(0, 0, 0, .20);font:400 12px/40px'Nessma-Roman', sans-serif;}
.pagination-holder .pagination>.active>a,
.pagination-holder .pagination>.active>span,
.pagination-holder .pagination>.active>a:hover,
.pagination-holder .pagination>.active>span:hover,
.pagination-holder .pagination>.active>a:focus,
.pagination-holder .pagination>.active>span:focus{color:#fff;}
.sidebar{}.sidebar .widget{width:100%;float:left;clear:both;margin-bottom:40px;}
.sidebar .widget:last-child{margin:0px;}
.sidebar .widget h3.side-title{border-right: 5px solid #c41b18;
    color: #222222;
    font: 26px/40px "Nessma-Bold",sans-serif;
    margin: 0 0 20px;
    padding-right: 10px;
    text-transform: uppercase;}
.sidebar .widget .cp-newsletter-holder{border-radius:2px;width:100%;float:left;box-shadow:0 0 4px rgba(0, 0, 0, .20);padding:20px;}
.sidebar .widget .cp-newsletter-holder .input-group{width:100%;float:left;position:relative;}
.sidebar .widget .cp-newsletter-holder .form-control{background-color:#fff;background-image:none;border:0px solid #ccc;border-radius:2px;box-shadow:0 0px 4px rgba(0, 0, 0, 0.20);color:#222;display:block;font-size:14px;height:40px;line-height:40px;padding:6px 12px;transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width:83%;float:left}
.sidebar .widget .cp-newsletter-holder .btn.btn-submit{border:0px;color:#fff;border-radius:2px;box-shadow:0 0 4px rgba(0, 0, 0, .20);height:40px;padding:0 15px;margin-left:10px;}
.sidebar-textwidget p{font:400 14px/24px'Nessma-Roman', sans-serif;color:#444444;margin:0px;}
.side-featured-slider{position:relative;width:100%;float:left;}
.sidebar-featured-post .item{width:100%;float:left;border-radius:2px;overflow:hidden;position:relative;}
.sidebar-featured-post .item img{width:100%;height:auto;}
.sidebar-featured-post .item .cp-post-content{position:absolute;bottom:0px;left:0;background:rgba(0, 0, 0, .80);padding:28px 20px 20px;width:100%;}
.sidebar-featured-post .item .cp-post-content h3{font:500 16px/16px'Nessma-Roman', sans-serif;}
.sidebar-featured-post .item .cp-post-content h3 a{color:#fff;}
.sidebar-featured-post .item .cp-post-content .catname{position:absolute;top:-11px;}
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-prev,
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-next{width:30px;height:30px;text-align:center;box-shadow:0 0 3px rgba(0, 0, 0, .20);border-radius:3px;background:#fff;font-size:0;float:none;}
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-prev:after{content:"\f104";font-size:18px;font-family:FontAwesome;color:#0f0f0f;}
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-next:after{content:"\f105";font-size:18px;font-family:FontAwesome;color:#0f0f0f;}
.sidebar .popular-post .small-grid,
.sidebar .latest-posts .small-grid{margin:0px;padding:0px;}
.sidebar .popular-post .small-grid>li,
.sidebar .latest-posts .small-grid>li{list-style:none;margin-bottom:20px;padding-bottom:20px;border-bottom:#ccc solid 1px;width:100%;float:left;}
.sidebar .popular-post .small-grid>li:last-child,
.sidebar .latest-posts .small-grid>li:last-child,
.sidebar .popular-post .small-post,
.sidebar .latest-posts .small-post{margin:0px;padding:0px;border:0px;}
.sidebar .popular-post .small-grid h3 a,
.sidebar .latest-posts .small-grid h3 a{color:#222;}
.sidebar-video iframe{width:100%;border:0px;min-height:250px;border-radius:3px;}
.sidebar .most-commented ul{margin:0px;padding:0px;}
.sidebar .most-commented ul li{list-style:none;border-bottom:1px solid #ccc;line-height:50px;position:relative;}
.sidebar .most-commented ul li a{font:normal 500 16px/30px'Nessma-Roman', sans-serif;color:#222;}
.sidebar .most-commented ul li i{float:right;width:40px;height:30px;font:normal 500 16px/30px'Nessma-Roman', sans-serif;text-align:center;color:#fff;margin-top:10px;position:absolute;top:0;right:0;}
.sidebar .top-authors .authors{width:100%;float:left;margin:0px;padding:0px;}
.sidebar .top-authors .authors li{float:left;width:83px;height:83px;border-radius:2px;overflow:hidden;margin:0 7px 7px 0;}
.sidebar .reviews{width:100%;float:left;margin:0px;padding:0px;}
.sidebar .reviews li{list-style:none;border-bottom:1px solid #cccccc;width:100%;float:left;padding:9px 0 10px;}
.sidebar .reviews li:first-child{padding:0 0 10px;}
.sidebar .reviews li h4{clear:both;font:500 16px/26px'Nessma-Roman', sans-serif;margin:0px;}
.sidebar .reviews li h4 a{color:#222;}
.sidebar .reviews li h4 a:before,
.sidebar .cat-holder a:before{content:"\f104";font-family:FontAwesome;color:#888888;margin-left:10px;font-size:16px;}
.sidebar .reviews .cp-rating{float:left;margin-left:18px;}
.sidebar .reviews i.tag{float:right;width:32px;height:22px;background:#444;color:#cccccc;font-style:normal;text-align:center;line-height:22px;}
.sidebar .advertisement{width:100%;float:left;}
.sidebar .advertisement .ad-holder{width:100%;float:left;box-shadow:0 0 4px rgba(0, 0, 0, .20);text-align:center;padding:12px;border-radius:2px;}
.ad-holder{width:100%;float:left;text-align:center;}
.sidebar .advertisement .ad-holder img{width:100%;height:auto;}
.sidebar .cat-holder{margin:0px;padding:20px;box-shadow:0 0 4px rgba(0, 0, 0, .20);width:100%;border-radius:2px;width:100%;float:left;}
.sidebar .cat-holder li{list-style:none;line-height:32px;width:100%;float:left;}
.sidebar .cat-holder a{font:500 16px/32px'Nessma-Roman', sans-serif;color:#222;}
.sidebar .cat-holder .count{color:#fff;float:right;font:500 16px/30px"Nessma-Roman", sans-serif;height:30px;margin-top:5px;text-align:center;width:40px;}
.tags-widget a{display:inline-block;border:1px solid #cccccc;font:500 16px/40px'Nessma-Roman', sans-serif;border-radius:2px;padding:0 15px;margin:0 1px 5px 0;}
.tags-widget a:hover{box-shadow:0 0 4px rgba(0, 0, 0, .13);}
.footer{width:100%;float:left;clear:both;background:#222222;}
.footer-one,
.footer-two,
.footer-three,
.footer-four{width:100%;float:left;}
.footer-one,
.footer-two{padding:48px 0 50px;}
.footer-two{background:#1a1a1a}
.footer-three{background:#000000;padding:30px 0;}
.footer-four{background:#1a1a1a;padding:30px 0;}
.footer-four p{margin:0px;padding:0px;text-align:center;color:#999999;}
.footer-four a{color:#999999;}
.footer ul{margin:0px;padding:0px;}
.footer ul li{list-style:none;}
.footer-social{width:100%;float:left;text-align:center;margin:0px;padding:0px;text-align:right;}
.footer-social li{list-style:none;display:inline-block;margin-left:7px;}
.footer-social li a{width:44px;height:44px;border:1px solid #888888;text-align:center;line-height:40px;border-radius:100%;display:block;font-size:20px;color:#fff;}
.footer-social li a:hover{color:#fff;border-color:#fff;}
.footer-widgets h3{margin:0px 0 17px;padding:0px;font:700 18px/18px'Nessma-Roman', sans-serif;color:#fff;text-transform:uppercase;}
.footer .textwidget p{color:#888888;font:400 14px/24px'Nessma-Roman', sans-serif;}
.footer .cp-widget-content address{margin:0px;}
.footer .cp-widget-content .featured-posts>li,
.footer .cp-widget-content .reviews>li,
.footer .popular-posts .small-grid>li{border-bottom:1px solid #444444;margin-bottom:13px;padding-bottom:12px;width:100%;float:left;}
.footer .popular-posts .small-grid>li .cp-post-content{clear:none;float:none;width:auto;}
.footer .cp-widget-content .featured-posts h4,
.footer .popular-posts h4,
.footer .cp-widget-content .reviews h4{margin:0 0 12px;font:500 16px/16px'Nessma-Roman', sans-serif;}
.footer .cp-widget-content .featured-posts h4 a,
.footer .cp-widget-content .reviews h4 a,
.footer .popular-posts h4 a{color:#cccccc;}
.footer .cp-widget-content .featured-posts h4 a:before,
.footer .cp-widget-content .reviews h4 a:before{content:"\f105";font-family:FontAwesome;color:#888888;margin-right:10px;font-size:16px;}
.footer .cp-widget-content .featured-posts .cp-post-tools{margin-left:18px}
.footer .cp-widget-content .reviews .cp-rating{float:left;margin-left:18px;}
.footer .cp-widget-content .reviews .tag{background:#444444;width:32px;height:22px;font:normal 400 14px/22px'Nessma-Roman', sans-serif;float:right;text-align:center;color:#cccccc;margin-bottom:2px;}
.footer .popular-posts .small-grid img{max-height:79px;}
.footer .form-widget .material .input-group{border:1px solid #444444;border-radius:2px;width:100%;}
.footer .form-widget .material .material-input{background:#1a1a1a;margin:0px;padding:0px;border:0px;}
.footer .form-widget .material .material-input input{border-bottom:1px solid #444444;font:400 14px/40px'Nessma-Roman', sans-serif;height:41px;color:#888888;padding:0 0 0 10px}
.footer .material .material-input textarea{border-bottom:0px solid #444444;resize:none;font:400 14px/40px'Nessma-Roman', sans-serif;color:#888;padding-left:10px;}
.footer .form-widget .btn-submit{float:right;font:400 15px/40px'Nessma-Roman', sans-serif;color:#fff;text-transform:uppercase;padding:0px 25px;border-radius:2px;margin-top:10px;box-shadow:0 0 4px rgba(0, 0, 0, .13);}
.footer .tweets{margin:0px;padding:0px;}
.footer .tweets li{background:#222222;padding:20px;position:relative;margin-bottom:35px;border-radius:2px;line-height:24px;}
.footer .tweets li::before{border-left:17px solid transparent;border-top:34px solid #222222;bottom:-18px;content:"";height:0;position:absolute;right:26px;transform:rotate(60deg);-webkit-transform:rotate(60deg);width:0;}
.footer .tweets li a{color:#cccccc;}
.footer .tweets .tweets_txt{color:#888888;}
.footer .tweets .tweets_txt span{color:#444;font-style:italic;}
.gallery-widget #sync1 .item img{width:100%;border-radius:2px;height:auto;}
.gallery-widget #sync2{margin-top:10px;}
.gallery-widget #sync2 .owl-item img{margin:0 5px;border-radius:2px;}
.gallery-widget .owl-theme .owl-controls{position:absolute;top:40%;margin:0px;z-index:99;width:100%;}
.gallery-widget .owl-theme .owl-controls .owl-prev,
.gallery-widget .owl-theme .owl-controls .owl-next{float:left;width:26px;height:26px;text-align:center;line-height:26px;background:#fff;border-radius:2px;opacity:1;font-size:0;margin-left:-10px;}
.gallery-widget .owl-theme .owl-controls .owl-next{float:right;margin-right:-10px;}
.gallery-widget .owl-theme .owl-controls .owl-prev:after,
.gallery-widget .owl-theme .owl-controls .owl-next:after{content:"\f104";font-family:FontAwesome;font-size:20px;color:#000;line-height:18px;}
.gallery-widget .owl-theme .owl-controls .owl-next:after{content:"\f105";}
.footer .contact-widget ul{margin:0px;padding:0px;}
.footer .contact-widget li{width:100%;float:left;border-bottom:1px solid #444444;padding-bottom:17px;margin-bottom:14px;}
.footer .contact-widget p{color:#888888;font-size:14px;width:90%;float:right;text-align:left;margin:0px;line-height:24px;}
.footer .contact-widget a{color:#888;}
.footer .contact-widget .fa{color:#888;font-size:14px;line-height:24px;}
.home-layout2-featured-news{background:url(../images/headerbg-blue.jpg) no-repeat top center;background-size:cover;width:100%;float:left;padding:30px 0;}
.home-layout2-featured-news .cp-fullwidth-news-post-excerpt{border-radius:2px;overflow:hidden;position:relative;margin:0px;}
.home-layout2-featured-news .cp-fullwidth-news-post-excerpt .cp-post-content{position:absolute;z-index:99;bottom:0px;left:0px;width:100%;background:rgba(0, 0, 0, .8);padding:0px 20px 15px;}
.home-layout2-featured-news .cp-fullwidth-news-post-excerpt .cp-post-content h3{font:500 20px/21px'Nessma-Roman', sans-serif;text-transform:uppercase;}
.home-layout2-featured-news .cp-fullwidth-news-post-excerpt .cp-post-content h3 a,
.home-layout2-featured-news .cp-post .cp-post-content h3 a,
.home-layout2-featured-news .cp-fullwidth-news-post-excerpt .cp-post-tools li,
.home-layout2-featured-news .cp-post .cp-post-content .cp-post-tools li{color:#fff;}
.home-layout2-featured-news .cp-post-rating{background:#fff;display:inline-block;border-radius:2px;font-size:15px;padding:7px 15px 6px;position:relative;top:-15px;}
.home-layout2-featured-news .cp-post-rating a{text-decoration:none;}
.home-layout2-featured-news .cp-post{width:100%;float:left;position:relative;margin-bottom:30px;overflow:hidden;border-radius:2px;}
.home-layout2-featured-news .cp-post img{width:100%;height:auto;}
.home-layout2-featured-news .cp-post .cp-post-content{position:absolute;bottom:0px;left:0px;background:rgba(0, 0, 0, .80);width:100%;padding:0 20px 15px;}
.home-layout2-featured-news .cp-post .cp-post-content h3{font:500 16px/21px'Nessma-Roman', sans-serif;}
.home-layout2-featured-news .grid{margin:0px;padding:0px;}
.home-layout2-featured-news .grid li{list-style:none;}
.home-layout2-featured-news li:last-child.cp-post{margin-bottom:0px;}
.cp-news-list-style-2,
.cp-news-list-style-2 .cp-post-content{width:100%;float:left;clear:both;}
.cp-news-list-style-2 img{width:100%;height:auto;border-radius:2px;}
.cp-news-list-style-2 .cp-news-list{margin:0px;padding:0px;}
.cp-news-list-style-2 .cp-news-list>li{list-style:none;overflow:hidden;width:100%;float:left;margin-bottom:26px;position:relative;}
.cp-news-list-style-2 .cp-news-list h3{margin:16px 0 9px;font:500 20px/20px'Nessma-Roman', sans-serif;text-transform:uppercase;}
.cp-news-list-style-2 .cp-news-list h3 a{color:#222;}
.cp-news-list-style-2 .cp-news-list p{margin:5px 0 0;font-size:14px;line-height:24px;color:#444;}
.cp-news-list-style-2 .owl-theme .owl-controls{position:absolute;top:35%;width:100%;z-index:99;}
.cp-news-list-style-2 .owl-theme .owl-controls .owl-buttons .owl-prev,
.cp-news-list-style-2 .owl-theme .owl-controls .owl-buttons .owl-next{float:left;background:#fff;width:30px;height:30px;box-shadow:0 0 4px rgba(0, 0, 0, .23);border-radius:2px;font-size:0px;padding:0px;}
.cp-news-list-style-2 .owl-theme .owl-controls .owl-buttons .owl-prev{float:right;}
.cp-news-list-style-2 .owl-theme .owl-controls .owl-buttons .owl-prev:after,
.cp-news-list-style-2 .owl-theme .owl-controls .owl-buttons .owl-next:after{content:"\f105";font-size:20px;font-family:FontAwesome;color:#222;line-height:27px;}
.cp-news-list-style-2 .owl-theme .owl-controls .owl-buttons .owl-next:after{content:"\f104";}
.cp-banner-container{width:100%;position:relative;padding:0;float:left;}
.cp-banner-container img{width:100%;height:auto;}
.cp-banner-container .owl-theme .owl-controls{position:absolute;top:50%;width:100%;}
.tp-banner{width:100%;float:left;position:relative;}
.tp-banner-fullscreen-container{width:100%;position:relative;padding:0;float:left;}
.cp-banner-caption{position:absolute;top:35%;width:100%;text-align:center;color:#fff;}
.cp-banner-caption ul{margin-top:35px;}
.cp-banner-caption h1{font:700 60px/60px'Nessma-Roman', sans-serif;color:#fff;}
.cp-banner-caption li{font:400 24px/24px'Nessma-Roman', sans-serif!important;color:#fff;display:inline-block;margin:0 15px;}
.tp-banner-container .caption3 .cp-post-tools li .fa{font-size:24px!important;}
.caption4 a.readmore{background:#fff;padding:0 25px;font-size:15px;text-transform:uppercase;color:#222;line-height:40px;height:40px;display:inline-block;}
.cp-inner-main-banner{width:100%;height:250px;float:left;background:#096;text-align:center;padding:76px 0;box-sizing:border-box;-webkit-box-sizing:border-box;}
.cp-inner-main-banner_fixed{width:1200px;height:250px;float:left;background:#096;text-align:center;padding:76px 0;box-sizing:border-box;-webkit-box-sizing:border-box;}
.inner-title{text-align:center;}
.cp-inner-main-banner h1{color:#fff;font-size:48px;margin:0px;font-weight:500;}
.cp-inner-main-banner .breadcrumb{background:none;border-radius:0px;list-style:outside none none;margin:18px 0 0 0;padding:0px;color:#fff;}
.cp-inner-main-banner .breadcrumb>li+li::before{content:"\f104";font-family:FontAwesome;padding:0 10px}
.cp-inner-main-banner .breadcrumb a{color:#fff;}
.category-bg1{background:url(../images/fashion-catbg.jpg) no-repeat top center;background-size:cover;}
.category-bg2{background:url(../images/sports-catbg.jpg) no-repeat top center;background-size:cover;}
.category-bg3{background:url(../images/photography-catbg.jpg) no-repeat top center;background-size:cover;}
.top-banner-bg1{background:url(../images/topbannerbg1.jpg) no-repeat top center;background-size:cover;}
.cp-category-mainpost-style-1{width:100%;float:left;clear:both;}
.cp-category-mainpost-style-1 .cp-post,
.cp-thumb{width:100%;float:left;position:relative;border-radius:2px;overflow:hidden;}
.cp-category-mainpost-style-1 .cp-post-content{position:absolute;left:0px;bottom:0px;width:100%;background:rgba(0, 0, 0, .80);padding:20px 30px;}
.cp-category-mainpost-style-1 .cp-post-content h3{font-size:20px;font-weight:500;text-transform:uppercase;margin:10px 0 3px;line-height:20px;}
.cp-category-mainpost-style-1 .cp-post-content h3 a{color:#fff;}
.cp-category-mainpost-style-1 .cp-post-rating{background:none repeat scroll 0 0 #fff;border-radius:2px;display:inline-block;font-size:15px;padding:7px 15px 6px;position:absolute;top:-15px;}
.cp-category-mainpost-style-1 .cp-post-tools li{color:#fff;}
.cp-post-tools li i{margin-right:3px;}
.cp-category-page{width:100%;float:left;clear:both;margin-top:30px;}
.cp-category-page2,
.cp-category-post-slider{width:100%;float:left;clear:both;}
.cp-category-post-slider{box-shadow:0 0px 4px rgba(0, 0, 0, .22);overflow:hidden;border-radius:2px;position:relative;}
.cp-category-post-slider .cp-post-content{padding:16px 30px 17px;}
.cp-category-post-slider .cp-post-content h3{font-size:20px;line-height:20px;text-transform:uppercase;}
.cp-category-post-slider .cp-post-content h3 a{color:#222222;}
.cp-category-post-slider .cp-post-content .cp-post-tools{margin:8px 0 0;}
.cp-category-post-slider .owl-theme .owl-controls{position:absolute;width:100%;left:0px;top:40%;z-index:99;}
.owl-theme .owl-controls .owl-buttons div.owl-prev,
.owl-theme .owl-controls .owl-buttons div.owl-next{background:#fff;border-radius:3px;width:30px;height:30px;text-align:center;float:left;opacity:1;font-size:0;box-shadow:0 2px 4px rgba(0, 0, 0, .22);}
.owl-theme .owl-controls .owl-buttons div.owl-next{float:right;}
.owl-theme .owl-controls .owl-buttons div.owl-prev:after,
.owl-theme .owl-controls .owl-buttons div.owl-next:after{content:"\f104";font-family:FontAwesome;font-size:18px;color:#0f0f0f;line-height:24px;}
.owl-theme .owl-controls .owl-buttons div.owl-next:after{content:"\f105";}
.cp-category-list{margin:0px;padding:0px;}
.cp-category-list>li{list-style:none;width:100%;float:left;}
.cp-category-list .cp-fullwidth-news-post-excerpt{border:0px;margin-bottom:30px;}
.cp-category-list .cp-readmore{font-size:15px;font-weight:400;text-transform:uppercase;color:#222;box-shadow:0 0px 4px rgba(0, 0, 0, .22);border-radius:2px;line-height:40px;display:inline-block;padding:0 25px;}
.cp-category-list .cp-readmore .fa{font-size:20px;margin-left:5px;}
.cp-category-mainpost-style-4,
.cp-category-mainpost-style-4 .cp-thumb,
.cp-category-mainpost-style-4 .cp-post-content{text-align:center;border-radius:0px;}
.cp-category-mainpost-style-4 .cp-post-content h1{margin:0px;padding:0px;font-size:48px;font-weight:500;line-height:48px;}
.cp-category-mainpost-style-4 .cp-post-content h1 a{color:#fff;}
.cp-category-mainpost-style-4 .cp-post-tools{margin-top:15px;}
.cp-category-mainpost-style-4 .cp-post-tools li{color:#fff;}
.cp-category-mainpost-style-4 .cp-post-content{padding:24px 0 27px;}
.cp-news-grid-style-6{width:100%;float:left;clear:both;}
.cp-news-grid-style-6 .grid{margin:0px;padding:0px;}
.cp-news-grid-style-6 .grid>li{list-style:none;margin-bottom:30px;}
.cp-news-grid-style-6 .cp-post{width:100%;float:left;box-shadow:0 2px 4px rgba(0, 0, 0, .23);padding:20px;box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:2px;}
.cp-news-grid-style-6 .cp-thumb{}
.cp-news-grid-style-6 .cp-post-content{width:100%;float:left;}
.cp-news-grid-style-6 .cp-post-content h3{font-size:16px;line-height:22px;}
.cp-news-grid-style-6 .cp-post-content h3 a{color:#222;}
.cp-product-grid,
.cp-pro-box,
.cp-pro-rating,
.cp-pro-content,
.cp-cart-button,
.cp-product-grid .price,
.cp-single-post,
.cp-product-details{width:100%;float:left;clear:both;}
.cp-product-grid ul.grid{padding:0px;width:100%;float:left;}
.cp-product-grid ul.grid>li{list-style:none;margin-bottom:30px;}
.cp-product-grid ul.grid img,
.ad-holder img{width:100%;height:auto;}
.cp-product-grid ul.grid .cp-thumb{border-radius:0px;position:relative;z-index:9;}
.cp-pro-box{border-radius:2px;overflow:hidden;position:relative;box-shadow:0 2px 4px rgba(0, 0, 0, .23);text-align:center;}
.cp-inner-main-banner h1{font-size:36px;}
.cp-pro-rating{text-align:center;font-size:15px;margin:6px 0 10px;}
.cp-product-grid .price{margin-bottom:14px;}
.cp-cart-button .cart-button{font-size:15px;font-weight:400;display:inline-block;color:#fff;line-height:40px;padding:0 20px;text-transform:uppercase;box-shadow:0 2px 4px rgba(0, 0, 0, .23);border-radius:2px;}
.cp-pro-box .cp-pro-content{padding:13px 20px 20px;z-index:99;background:#fff;position:absolute;width:100%;left:0px;bottom:-65px;}
.cp-pro-box:hover .cp-pro-content{bottom:0px;}
.cp-product-grid ul.grid h3{font-size:20px;margin:0px;padding:0px;font-weight:500;line-height:26px;text-transform:uppercase;font-family:'Nessma-Roman', sans-serif;}
.cp-product-grid ul.grid h3 a{color:#222;}
.cp-product-grid .price del,
.cp-product-details .price del{font-size:18px;font-weight:700;color:#222222;font-family:'Nessma-Roman', sans-serif;line-height:22px;}
.cp-product-grid .price ins,
.cp-product-details .price ins{font-size:30px;font-weight:700;font-family:'Nessma-Roman', sans-serif;text-decoration:none;line-height:30px;}
.cp-product-details .cp-pro-content h3{margin:0px;font-size:20px;font-weight:500;text-transform:uppercase;color:#222;line-height:20px;margin-bottom:5px;}
.cp-product-details .cp-pro-content h3 a{color:#222;}
.cp-product-details .cp-pro-content{padding:0px;}
.cp-product-details .cp-pro-rating{text-align:left;}
.cp-product-details .cp-pro-rating strong{color:#888888;font-size:14px;font-weight:400;padding-right:10px;}
.cp-product-details .cp-pro-content .price{width:100%;float:left;margin-bottom:12px;}
.cp-product-details .cp-pro-content p{color:#444444;line-height:24px;}
.cp-product-details .cp-pro-content .check-list{margin:0px;padding:0px;}
.cp-product-details .cp-pro-content .check-list li{list-style:none;line-height:24px;color:#444444}
.cp-product-details .cp-pro-content .check-list li:before{content:"\f00c";font-family:FontAwesome;color:#444444;padding-right:5px;}
.cp-product-details .product-tools{border-top:1px solid #ccc;border-bottom:1px solid #ccc;width:100%;clear:both;padding:20px 0;float:left;margin:26px 0 17px;}
.cp-product-details .product-tools .brand-code,
.cp-product-details .product-tools .pro-tags{width:50%;float:left;padding:0px;margin:0px;}
.cp-product-details .product-tools .brand-code li,
.cp-product-details .product-tools .pro-tags li{list-style:none;line-height:26px;color:#888888}
.cp-product-details .product-tools strong{color:#222222;font-weight:400;}
.cp-add2cart{width:100%;float:left;}
.cp-add2cart #input_div{border:1px solid #ccc;border-radius:2px;float:left;width:auto;margin-right:30px;}
.cp-add2cart #input_div input[type="text"]{width:50px;background:#fff;border:0px;height:39px;line-height:39px;box-shadow:none;text-align:center;border-left:1px solid #ccc;border-right:1px solid #ccc;color:#888888;}
.cp-add2cart #input_div input[type="button"]{background:#fff;border:0px;width:28px;font-weight:bold;color:#999999;font-size:16px;line-height:37px;}
.cp-add2cart .cp-cart-button{float:left;clear:none;width:auto;}
.cp-pro-details-tabs{width:100%;float:left;margin-top:50px;}
.cp-pro-details-tabs .nav-tabs>li>a{border-radius:0px;font-size:20px;font-weight:500;color:#222222;text-transform:uppercase;border:0px;border-bottom:5px solid rgba(255, 255, 255, .0);}
.cp-pro-details-tabs .nav-tabs{border-color:#cccccc;}
.cp-pro-details-tabs .nav>li>a:hover,
.cp-pro-details-tabs .nav>li>a:focus{border:0px;background:#fff;border-bottom:5px solid #ccc;}
.cp-pro-details-tabs .nav-tabs>li.active>a,
.cp-pro-details-tabs .nav-tabs>li.active>a:hover,
.cp-pro-details-tabs .nav-tabs>li.active>a:focus{border:0px;border-bottom:5px solid #ccc;}
.cp-single-post .cp-post-content h1{font: 20px/120% "Nessma-Bold",sans-serif;text-transform: uppercase;font-weight:400; margin-bottom:20px;}
.cp-single-post .cp-post-content h1 a{color:#222;}
.cp-single-post .cp-post-content p{margin:8px 0 12px;color:#444444;font-size:16px;line-height:26px; font-weight: 300;}
 
/*.cp-single-post .cp-post-content blockquote{margin:30px auto;padding:0px;border:0px;width:75%;box-shadow:0 2px 4px rgba(0, 0, 0, .23);border-radius:2px;font-size:20px;font-weight:500;line-height:28px;position:relative;padding:30px 45px 33px;}
.cp-single-post .cp-post-content blockquote:before{content:"\f10d";font-family:FontAwesome;position:absolute;left:-25px;top:30px;width:50px;height:50px;border-radius:100%;text-align:center;line-height:50px;font-size:26px;color:#ffffff;box-shadow:0 2px 4px rgba(0, 0, 0, .23);}*/
.post-images{margin:27px 0 22px;padding:0px;width:100%;clear:both;}
.post-images li{list-style:none;}
.post-images img{width:100%;border-radius:2px;margin-bottom:14px;}
.post-images li strong{display:block;text-align:center;font-size:16px;font-weight:500;}
.cp-post-share-tags{margin-top:15px;}
.cp-post-share-tags,
.cp-author,
.cp-post-comments,
.cp-comments,
.cp-comments-form,
.cp-reviews,
.cp-review-form{width:100%;float:left;clear:both;}
.cp-post-share,
.cp-post-tags{width:100%;float:left;margin:0px;padding:0px;border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;/*height:100%;*/padding:10px 0}
.cp-post-share li,
.cp-post-tags li{list-style:none;display:inline-block;margin-right:7px;}
.cp-post-share a{border-radius:100%;display:block;border:1px solid #cccccc;width:35px;height:35px;text-align:center;line-height:32px;font-size:16px;color:#888888;}
.cp-post-share span,
.cp-post-tags span{font-size:18px;float:}
.cp-post-tags li{line-height:30px;}
.cp-post-tags a{line-height:30px;background:#60666b;border:none;display:inline-block;font-size:13px;line-height:18px;color:#fff;padding:3px 10px;text-shadow:none;margin:0 3px 5px 0;}
.cp-post-tags a:after{background:#60666b;border:none;display:inline-block;font-size:13px;line-height:18px;color:#fff;padding:3px 10px;text-shadow:none;margin:0 1px 5px 0;}
.cp-post-tags a:hover{color:#FFF;background:#900;}
.cp-author{position:relative;}
.cp-author .cp-author-thumb{width:8%;float:left;position:relative;z-index:99;top:30px;left:0;}
.cp-author .cp-author-thumb img{width:98px;height:98px;border-radius:100%;}
.cp-author .cp-author-details{width:92%;float:right;box-shadow:0 2px 4px rgba(0, 0, 0, .23);padding:27px 30px 20px 55px;border-radius:2px;position:relative;z-index:8;}
.cp-author .cp-author-details h3{margin:0 0 10px;padding:0px;font-size:20px;font-weight:500;line-height:20px;}
.cp-author .cp-author-details h3 a{color:#222;}
.cp-author .cp-author-details p{line-height:24px;color:#444444;}
.cp-comments,
.cp-reviews{margin:0px;padding:0px;}
.cp-comments li,
.cp-reviews li{list-style:none;width:100%;clear:both;}
.cp-comment-author,
.cp-review-author{width:83px;float:left;margin-right:15px;}
.cp-comment-author img,
.cp-review-author img{border-radius:2px;}
.cp-comments h4,
.cp-reviews h4{margin:0 0 8px;font-size:16px;font-weight:500;}
.cp-comments h4 a,
.cp-reviews h4 a{color:#222;}
.cp-comments .date-time,
.cp-reviews .date-time{color:#888888;margin-bottom:13px;}
.cp-comments p,
.cp-reviews p{margin:0px;}
.cp-comments li .cp-comments,
.cp-reviews li .cp-reviews{margin-left:100px;width:auto;}
.cp-comments .comments,
.cp-reviews .review{width:100%;float:left;margin-bottom:30px;}
.cp-review{padding-left:100px;width:100%;}
.cp-review .cp-rating{display:inline-block;margin-left:27px;}
.replay-comment{background:#ebebeb;height:35px;width:35px;border-radius:100%;text-align:center;line-height:35px;}
.replay-comment a{color:#999999;}
.cp-comments-form .input-group,
.cp-review-form .input-group{width:100%;}
.cp-comments-form .material-input.input,
.cp-comments-form .material-input.textarea,
.cp-review-form .material-input.input,
.cp-review-form .material-input.textarea{margin:0 0 30px;padding:0px;width:100%;float:left;}
.cp-comments-form .material-input.input .material-input.input,
.cp-comments-form .material-input.textarea .material-input.textarea,
.cp-review-form .material-input.input .material-input.input,
.cp-review-form .material-input.textarea .material-input.textarea{margin:0px;padding:0px;}
.cp-comments-form .material .material-input input,
.cp-review-form .material .material-input input{border:1px solid #ccc;width:100%;float:left;height:40px;border-radius:2px;font-size:14px;padding-left:15px;}
.cp-comments-form .material .material-input textarea,
.cp-review-form .material .material-input textarea{border:1px solid #ccc;width:100%;float:left;border-radius:2px;font-size:14px;padding-left:15px;resize:none;min-height:180px;}
.cp-comments-form .btn-submit,
.cp-review-form .btn-submit{border-radius:2px;box-shadow:0 0 4px rgba(0, 0, 0, 0.13);color:#fff;float:right;font:400 15px/40px"Nessma-Roman", sans-serif;margin-top:10px;padding:0 25px;text-transform:uppercase;}
.cp-review-form .material .material-input textarea{min-height:112px;height:112px;resize:none;}
.cp-review-form h3{margin:0 0 17px;padding:0px;font-size:20px;font-weight:500;text-transform:uppercase;}
.cp-pro-details-tabs .tab-content{padding:20px 0 0;}
.cp-review-form{margin-top:23px;}
.cp-authors-grid{width:100%;padding:0px;margin:0px;}
.cp-authors-grid li{list-style:none;}
.cp-authors-grid .cp-author-box{width:100%;float:left;clear:both;border-radius:2px;overflow:hidden;box-shadow:0 2px 4px rgba(0, 0, 0, .23);margin:15px 0;text-align:center;padding-bottom:18px;}
.cp-authors-grid .cp-author-box h3{margin:15px 0 12px;font-size:20px;font-weight:500;text-transform:uppercase;width:100%;float:left;}
.cp-authors-grid .cp-author-box p{color:#888;margin:0px;}
.cp-gallery-grid{width:100%;float:left;clear:both;padding:0px;margin:0px;}
.cp-gallery-grid li{list-style:none;margin:15px 0;}
.gallery-hover{width:0;height:0;position:absolute;z-index:8;text-align:center;background:rgba(0, 0, 0, .8);opacity:0;top:0px;left:0px;right:0px;bottom:0px;margin:auto;border-radius:50px;}
.cp-gallery-grid li:hover .gallery-hover,
.cp-gallery figure:hover .gallery-hover{opacity:1;width:100%;height:100%;border-radius:0;}
.cp-gallery-grid li:hover .gallery-hover a,
.cp-gallery figure:hover .gallery-hover a{width:78px;height:78px;opacity:1;}
.gallery-hover a{transition:all ease-in-out 0.5s;-webkit-transition:all ease-in-out 0.5s;width:0px;height:0px;display:block;position:absolute;left:0px;right:0px;bottom:0px;top:0px;margin:auto;opacity:0;}
.cp-gallery{width:100%;float:left;clear:both;}
.cp-gallery figure{overflow:hidden;position:relative;width:100%;float:left;}
.cp-gallery img{width:100%;height:auto;border-radius:2px;}
.cp-gallery .isotope:after{content:'';display:block;clear:both;}
.cp-gallery .isotope .item{float:left;padding:0 15px 0 15px;margin-bottom:30px;overflow:hidden;}
.cp-gallery .isotope .item{width:25%;height:250px;}
.cp-gallery .isotope .item.width2{width:50%;}
.cp-gallery .isotope .item.height2{height:530px}
.cp-gallery .cp-gallery-elite .isotope .item{width:33%;height:280px;}
.cp-gallery .cp-gallery-elite .isotope .item.width2{width:66.5%;}
.cp-gallery .cp-gallery-elite .isotope .item.height2{height:590px}
.cp-gallery .cp-gallery-masonry .isotope .item{width:25%;height:auto;}
.cp-gallery .cp-masonry-posts .isotope .item{width:33%;height:auto;overflow:visible;}
.cp-gallery .cp-masonry-posts-50 .isotope .item{width:50%;height:auto;overflow:visible;}
.cp-gallery .cp-masonry-posts-100 .isotope .item{width:100%;height:auto;overflow:visible;}
.cp-gallery figure img{width:100%;height:auto;}
@media (min-width:1200px){.cp-gallery .isotope .item{width:25%}
.cp-gallery .isotope .width2{width:50%}
}
@media (min-width:992px) and (max-width:1199px){.cp-gallery .isotope .item{width:25%;height:auto;}
.cp-gallery .isotope .width2{width:25%}
.cp-gallery .isotope .item.height2{height:auto}
}
@media (min-width:768px) and (max-width:991px){.cp-gallery .isotope .item{width:50%;height:auto;}
.cp-gallery .isotope .width2{width:50%}
.cp-gallery .isotope .item.height2{height:auto}
}
@media (max-width:767px){.cp-gallery .isotope .item{width:100%!important;height:auto!important;}
}
.cp-masonry-posts,
.cp-masonry-posts-50{width:100%;float:left;clear:both;}
.cp-masonry-posts .cp-post,
.cp-masonry-posts-50 .cp-post{box-shadow:0 2px 4px rgba(0, 0, 0, .23);border-radius:2px;}
.cp-masonry-posts .cp-post-content,
.cp-masonry-posts-50 .cp-post-content{padding:18px 20px 16px;}
.cp-masonry-posts .cp-post-content h3,
.cp-masonry-posts-50 .cp-post-content h3{margin:15px 0 15px;font-size:19px;font-weight:500;}
.cp-masonry-posts .sticky h3,
.cp-masonry-posts-50 .sticky h3{font-size:30px;font-weight:700;}
.cp-masonry-posts .cp-post-content p,
.cp-masonry-posts-50 .cp-post-content p{margin:0px;line-height:24px;}
.cp-masonry-posts .cp-post-content .cp-post-tools,
.cp-masonry-posts-50 .cp-post-content .cp-post-tools{margin:0 0 9px;}
.cp-masonry-posts .cp-post-content .cp-post-rating,
.cp-masonry-posts-50 .cp-post-content .cp-post-rating{position:relative;box-shadow:0 2px 4px rgba(0, 0, 0, .23);width:auto;display:inline-block;border-radius:2px;color:#FFF;padding:0 15px;line-height:30px;position:absolute;background:#c41b18;top:-15px;}
.cp-masonry-posts .cp-post-content .cp-post-rating2,
.cp-masonry-posts-50 .cp-post-content .cp-post-rating2{position:relative;box-shadow:0 2px 4px rgba(0, 0, 0, .23);width:auto;display:inline-block;border-radius:2px;color:#c41b18;padding:0 15px;line-height:30px;position:absolute;background:#fff;top:-15px;}
.cp-masonry-posts .cp-post-content blockquote,
.cp-masonry-posts .cp-post-content strong.link-post,
.cp-masonry-posts-50 .cp-post-content blockquote,
.cp-masonry-posts-50 .cp-post-content strong.link-post{margin:0px;padding:0px;border:0px;font-size:20px;font-weight:500;line-height:28px;padding-left:50px;position:relative;word-wrap:break-word;display:block;}
.cp-masonry-posts .cp-post-content blockquote:before,
.cp-masonry-posts .cp-post-content strong.link-post:before,
.cp-masonry-posts-50 .cp-post-content blockquote:before,
.cp-masonry-posts-50 .cp-post-content strong.link-post:before{content:"\f10d";font-family:FontAwesome;font-size:36px;position:absolute;left:0px;top:9px;}
.cp-masonry-posts .cp-post-content strong.link-post:before,
.cp-masonry-posts-50 .cp-post-content strong.link-post:before{content:"\f0c1";}
.cp-masonry-posts #cp-cat-slider,
.cp-masonry-posts-50 #cp-cat-slider{clear:both;float:left;position:relative;width:100%;}
.cp-masonry-posts .owl-theme .owl-controls{position:absolute;top:35%;left:0px;width:100%;z-index:99;}
.cp-author-box-large{box-shadow:0 2px 4px rgba(0, 0, 0, .23);width:100%;float:left;border-radius:2px;}
.cp-author-box-large .cp-author-details{width:100%;float:left;padding:17px 20px 20px;}
.cp-author-box-large .cp-author-details h3{text-align:center;font-size:20px;font-weight:500;margin:0px;}
.cp-author-box-large .cp-author-details small{text-align:center;color:#888888;font-size:14px;display:inherit;margin:7px 0 9px;}
.cp-author-box-large .cp-author-social{margin:0px;padding:0px;width:100%;float:left;text-align:center;}
.cp-author-box-large .cp-author-social li{list-style:none;display:inline-block;margin:0 4px 0 3px;}
.cp-author-box-large .cp-author-social li a{width:43px;height:43px;display:block;border:1px solid #ccc;border-radius:100%;font-size:20px;color:#ccc;text-align:center;line-height:43px;}
.cp-author-box-large p{line-height:24px;}
.p404{width:100%;float:left;text-align:center;padding:50px 0;}
.p404 h2{font-size:48px;font-weight:500;line-height:normal;color:#222222;margin:33px 0 20px;}
.p404 strong{color:#888888;font-size:20px;font-weight:500;text-transform:uppercase;}
.p404 .loadmore-holder{margin-bottom:50px;}
.p404 .navbar-form .form-control{width:500px;border:0;border-radius:2px;box-shadow:0 0px 4px rgba(0, 0, 0, .23);height:41px;line-height:41px;padding-left:15px;}
.p404 .btn-submit{border:0px;border-radius:2px;color:#fff;font-size:15px;line-height:41px;text-transform:uppercase;box-shadow:0 0px 4px rgba(0, 0, 0, .23);padding:0 15px;margin-left:2px;}
.cp-contact-form .material .material-input{margin:0px;padding:0px;}
.cp-contact-form .input-group{width:100%;}
.cp-contact-form ul{margin:0px;padding:0px;}
.cp-contact-form ul li.input-group{list-style:none;border-bottom:1px solid #cccccc;padding:20px 0;}
.cp-contact-form ul li{list-style:none;}
.cp-contact-form .input-group-addon{background-color:#fff;border:0;border-radius:0px;color:#888888;font-size:14px;font-weight:normal;line-height:1;text-align:center;width:41px;border-right:1px solid #ccc!important;height:21px;padding:0px;vertical-align:top;line-height:21px;}
.cp-contact-form .material .material-input input{border:0px;height:21px;padding:0 15px;font-size:14px;}
.cp-contact-form .material .material-input textarea{border:0px;padding:0 15px;}
.cp-contact-form .form-control{border-radius:0px;background:#fff;box-shadow:none;border:0px;}
.cp-contact-form .material .material-bar::before,
.cp-contact-form .material .material-bar::after{bottom:-21px;}
.cp-contact-form .form-control:focus{box-shadow:none;}
.cp-contact-form .btn-submit{border:0px;color:#fff;border-radius:2px;box-shadow:0 2px 4px rgba(0, 0, 0, .23);float:right;margin-top:30px;height:41px;line-height:41px;padding:0 25px;text-transform:uppercase;}
.contact-info ul{padding:0px;margin:0px;}
.contact-info li{list-style:none;color:#888888;border-bottom:1px solid #cccccc;padding:13px 0 17px;}
.contact-info .address-addon{float:left;width:27px;line-height:24px;}
.contact-info p{margin:0px;line-height:24px;padding-left:27px;}
.toggle-map{height:120px;line-height:120px;text-align:center;margin-top:50px;}
.toggle-map .btn-primary{background:none;border:0px;box-shadow:none;padding:0px;font-size:18px;font-weight:700;color:#fff;text-transform:uppercase;line-height:40px;outline:none;}
.toggle-map .btn-primary:focus,
.toggle-map .btn-primary:hover{outline:none;}
.toggle-map .btn-primary:hover,
.toggle-map .btn-primary:focus{background:none;}
.toggle-map .btn-primary .fa-map-marker{font-size:40px;text-shadow:0 2px 3px rgba(0, 0, 0, .23);margin-right:20px;}
.toggle-map .btn-primary.collapsed:after,
.toggle-map .btn-primary:after{content:"\f107";font-family:FontAwesome;height:26px;width:26px;text-align:center;line-height:26px;background:#fff;border-radius:2px;box-shadow:0 2px 3px rgba(0, 0, 0, .23);color:#0f0f0f;display:inline-block;margin-left:20px;}
.toggle-map .btn-primary:after{content:"\f106 ";}
.map_canvas{width:100%;height:550px;}
.map_canvas iframe{width:100%;}
.cp-no-margin{margin-bottom:0px;padding-bottom:0px;}
.cp-login-box{width:32%;margin:0 auto;box-shadow:0 2px 4px rgba(0, 0, 0, .23);padding:80px 30px 30px;box-sizing:border-box;-webkit-box-sizing:border-box;position:relative;margin-top:50px;display:table;}
.cp-login-box .user-pic{background:#fff;width:110px;height:110px;border-radius:100%;box-shadow:0 2px 4px rgba(0, 0, 0, .23);overflow:hidden;position:absolute;left:0px;right:0px;margin:auto;top:-55px;}
.cp-login-box .user-pic img{width:100%;height:auto;border:5px solid #fff;border-radius:100%;}
.cp-login-form ul{margin:0px;padding:0px;}
.cp-login-form .material .material-group label{color:rgba(0, 0, 0, .0);}
.cp-login-form .material .material-group label:before{content:"Remember me";color:#666;}
.cp-register-form .cp-login-form .material .material-group label:before{content:"I’ve read Terms & Conditions";color:#666;}
.cp-login-form ul li{list-style:none;margin-bottom:20px;clear:both;width:100%;float:left;}
.cp-login-form .input-group-addon{background:none;border:0px;border-right:1px solid #ccc!important;padding:0px;text-align:center;width:45px;color:#888888;font-size:15px;}
.cp-login-form .input-group{border:1px solid #ccc;border-radius:2px;padding:10px 0;width:100%;}
.cp-login-form .input-group .form-control{border:0px;box-shadow:none;padding:0 0 0 15px;height:21px;line-height:21px;font-size:14px;}
.cp-login-form .material .material-input{margin:0px;padding:0px;}
.cp-login-form .material .material-bar:before,
.cp-login-form .material .material-bar:after{bottom:-10px;}
.cp-login-form .material .material-checkbox:before{content:"\f00c";font-family:FontAwesome;background:#fff;color:#888888;padding:0px;font-size:10px;}
.cp-login-form .material .material-checkbox{border:1px solid #cccccc;width:15px;height:15px;border-radius:2px;}
.cp-login-form .material .material-group{margin:0px;padding:0px;float:left;}
.cp-login-form .material-group-item>label{font-size:14px;color:#888;font-family:'Nessma-Roman', sans-serif;}
.cp-login-form .btn-submit{float:right;color:#fff;box-shadow:0 2px 4px rgba(0, 0, 0, .23);border-radius:2px;height:40px;line-height:38px;padding:0 15px;font-size:15px;text-transform:uppercase;}
.cp-login-form .forgot{text-align:right;font-style:italic;}
.cp-login-form .or-sp{width:100%;float:left;text-align:center;margin:10px 0 16px;}
.cp-login-form .or-sp strong{width:40px;height:31px;border-radius:2px;box-shadow:0 2px 4px rgba(0, 0, 0, .23);display:inline-block;color:#fff;line-height:31px;position:relative;}
.cp-login-form .or-sp strong:before{position:absolute;width:70px;height:1px;background:#cccccc;content:"";left:-80px;top:15px;}
.cp-login-form .or-sp strong:after{position:absolute;width:70px;height:1px;background:#cccccc;content:"";right:-80px;top:15px;}
.cp-social-login{text-align:center;}
.cp-login-form .cp-social-login li{margin-bottom:10px;}
.cp-social-login h3{margin:0 0 7px;font-size:18px;font-weight:700;text-transform:uppercase;}
.cp-login-form .signup{width:100%;float:left;border-top:1px solid #ccc;text-align:right;margin-top:20px;padding-top:17px;font-style:italic;}
.cp-login-form input[type="file"]{padding-left:10px;}
.catname{overflow:hidden;position:relative;}
.cp-featured-news-slider .btn:hover{color:#fff;}
.ink{display:block;position:absolute;background:rgba(0, 0, 0, .5);border-radius:100%;transform:scale(0);color:#fff;}
.ink.animate{animation:ripple 0.65s linear;color:#fff}
@keyframes ripple{100%{opacity:0;transform:scale(2.5);}
}
.cp-thumb{background:#e2e2e2;max-width: 100%; height: auto;display:block; /*margin-top: 18px; margin-bottom: 18px;*/}
.cp-thumb:hover img{}
.cp-thumb img,
.gallery-hover,
.cp-gallery-grid img,
.cp-news-grid-style-1 .cp-news-post-excerpt h3 a,
.catname-btn,
.cp-news-post-excerpt img,
.footer-social li a,
.cp-thumb,
.cp-pro-content,
.cp-product-grid ul.grid>li,
.cp-cart-button,
.cp-post-content h3 a,
.cp-news-grid-style-3 .grid-holder .cp-thumb{transition:all ease-in-out 0.3s;-webkit-transition:all ease-in-out 0.3s;}
.cp-news-post{margin-bottom:30px;}
blockquote{margin:10px auto;padding-left:40px;border:0px;width:100%;box-shadow:0 2px 2px rgba(0, 0, 0, .23);border-radius:2px;font-size:20px;font-weight:500;line-height:28px;position:relative;padding:30px 30px 33px;}
blockquote:before{content:"\f10e";font-family:FontAwesome;position:absolute;left:-25px;top:15px;width:50px;height:50px;border-radius:100%;text-align:center;line-height:50px;font-size:26px;color:#FFF;background:#c41b18;box-shadow:0 2px 2px rgba(0, 0, 0, .23);}
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-prev,
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-next{width:30px;height:30px;text-align:center;box-shadow:0 0 3px rgba(0, 0, 0, .20);border-radius:3px;background:#fff;font-size:0;float:none;}
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-prev:after{content:"\f104";font-size:18px;font-family:FontAwesome;color:#0f0f0f;}
.sidebar-featured-post .owl-theme .owl-controls .owl-buttons div.owl-next:after{content:"\f105";font-size:18px;font-family:FontAwesome;color:#0f0f0f;}
.grid .owl-controls{position:absolute;z-index:99;position:absolute;left:0px;top:-70px;}
.grid .owl-controls .owl-buttons div.owl-prev,
.grid .owl-controls .owl-buttons div.owl-next{width:30px;height:30px;text-align:center;box-shadow:0 0 3px rgba(0, 0, 0, .20);border-radius:3px;background:#fff;font-size:0;float:none;}
.grid .owl-controls .owl-buttons div.owl-prev:after{content:"\f104";font-size:18px;font-family:FontAwesome;color:#0f0f0f;}
.grid .owl-controls .owl-buttons div.owl-next:after{content:"\f105";font-size:18px;font-family:FontAwesome;color:#0f0f0f;}
.borded{border-bottom:solid 3px #900;}
.CLEAR{clear:both;}
#alerte-info{background:#454545  none repeat scroll 0 0;height:45px;line-height:45px;margin-bottom:50px;margin-top:0px;vertical-align:middle;}
#alerte-info::after{clear:both;content:"";display:block;height:0;width:0;}
#alerte-info .picto-info{background:rgba(196, 27, 24, 1)  none repeat scroll 0 0;border-right:1px solid white;box-sizing:border-box;float:left;position:relative;text-align:center;width:100%;}
#alerte-info .picto-info img{height:25px;vertical-align:middle;}
#alerte-info .label-info{color:#ffffff;float:left;font-size:14px;font-weight:900;text-align:center;text-transform:uppercase;vertical-align:middle;width:100%;background:rgba(196, 27, 24, 1) none repeat scroll 0 0;}
#alerte-info .text-inf{}
#alerte-info .text-info{background:#454545 none repeat scroll 0 0;box-sizing:border-box;color:#ffffff;float:left;font-size:16px;font-weight:400;height:100%;padding-right:25px;vertical-align:middle;width:100%; height:45px;}
#alerte-info .text-info a{color:#ffffff;display:inline-block;height:100%;overflow:hidden;}
@media screen and (max-width:768px){#alerte-info{display:none; visibility:hidden;}
}
.widget_live{position:relative;margin:23px 17px 0 0;padding:4px 4px 4px 127px;height:45px;line-height:14px;background:url(../img/btn_play_live_arche.png) no-repeat 4px 4px;width:260px;}
.widget_live img{position:absolute;top:4px;left:47px;width:80px;height:45px;}
.widget_live ._titre,
.widget_live .description,
.widget_live .etat{margin-left:13px;font-size:12.8px;font-weight:bold;letter-spacing:-0.01em;text-transform:uppercase;}
.widget_live ._titre a{color:#1B1F20;color:inherit;text-decoration:none;}
.widget_live .description{white-space:nowrap;overflow:hidden;}
.widget_live .description .programme{font-size:11.5px;color:#696969;text-transform:none;font-weight:normal;}
.widget_live .etat{position:relative;display:block;margin-top:6px;width:250px;height:6px;background:#cfcfcf;}
.widget_live .etat .current{display:block;height:100%;background:#000;}
.widget_live .blocLien{display:block;position:absolute;top:0;right:0;bottom:0;left:0;background:white;}
.widget_live .blocLien:hover{opacity:0.2;-moz-opacity:0.2;-ms-filter:"alpha(opacity=20)";filter:alpha(opacity=20);}

   .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/******************** HOROSCOP *******************************/

.sign_wrapper  {
    margin-bottom: 25px ;
	text-align:center;
}
.sign_container {
    margin-right:25px ;
	margin-left: 25px ;
}
.sign_container div.col-md-1 {
    padding: 0;
	
}
.daily_horoscope_container div.sign_wrapper {
    text-align: center;
}
.daily_horoscope_container div.container h3 {
    margin-top: 20px;
}
.daily_horoscope_container {
     
    margin-top: 5px;
}
.sign_container img {
    margin-bottom: 4px;
    padding: 5px;
    width: 60px;
}
.img-circle {
    background-color: #212121;
}
 .img-circle {
    border-radius: 50%;
}
.sign_wrapper:hover img {
    background-color: #c41b18;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in 0s;
}
.sign_wrapper:hover a {
    color: #c41b18;
    cursor: pointer;
}
.sign_wrapper a {
    color: #444444;
    cursor: pointer;
	text-align:center;
}
.text_center{
text-align:center;
}

