body {
    direction: rtl;
}
body #mega_main_menu>.menu_holder>.menu_inner>ul>li.nav_search_box {
    float: left;
}
body .cp-megamenu #mega_main_menu>.menu_holder>.menu_inner>ul>li {
    float: right;
}
body #mega_main_menu li.default_dropdown.submenu_full_width.drop_to_center>.mega_dropdown,
body #mega_main_menu li.default_dropdown.drop_to_right .mega_dropdown,
body #mega_main_menu li.post_type_dropdown.submenu_full_width.drop_to_center>.mega_dropdown,
body #mega_main_menu li.post_type_dropdown.drop_to_right>.mega_dropdown {
    left: inherit;
    right: 0;
}
body #mega_main_menu li.default_dropdown>.mega_dropdown>li>.item_link {
    text-align: right;
}
body #mega_main_menu li.default_dropdown>.mega_dropdown>li.drop_to_right>.item_link::before {
    right: inherit;
    left: 1px;
    content: "\f104";
}
#mega_main_menu li.default_dropdown>.mega_dropdown li.drop_to_right>.mega_dropdown {
    right: 100%;
    left: inherit;
}
.main-banner,
.owl-carousel,
.bx-wrapper,
.owl-carousel .owl-wrapper-outer {
    direction: ltr;
}
.cp-featured-news-slider .catname {
    right: 30px;
}
.sidebar-featured-post .item .cp-post-content .catname {
    right: 20px;
}
.sidebar-featured-post .item .cp-post-content h3 {
    text-align: right;
}
.cp-featured-news-slider .cp-post-content h1 {
    text-align: right;
}
.cp-featured-news-slider .cp-post-content .cp-post-tools li {
    float: right;
    margin: 0 0 0 20px;
}
.sidebar .widget h3 {
    /*border-left: 0px solid #32aae1;
    border-right: 5px solid #32aae1;*/
    padding: 0 10px 0 0
}
.section-title h2,
.comment-reply-title {
    float: right;
    margin: 0 0 0 10px;
    border-left: 0px;
    border-right: 5px solid #000;
}
.section-title small {
    text-align: right;
}
.cp-post-tools li {
    margin: 0 0 0 14px;
}
.footer .contact-widget p,
.home-layout2-featured-news .cp-post .cp-post-content h3 {
    text-align: right;
}
.footer .contact-widget .fa {
    float: right;
    padding-left: 10px;
}
a.ft-logo {
    float: left;
}
.small-grid .cp-thumb {
    float: right;
    margin: 0 0 0 15px;
}
.sidebar .widget h3.border_none {
    border: 0px;
}
.sidebar .most-commented ul li i {
    float: left;
}
.sidebar .widget_categories a,
.sidebar .widget_archive li a,
.sidebar .widget_pages ul li a,
.sidebar .widget_meta li a,
.sidebar .widget_recent_entries li a,
.sidebar .widget_rss ul li {
    float: right;
}
.sidebar .widget_categories li,
.sidebar .widget_archive li,
.sidebar .widget_pages ul li,
.sidebar .widget_meta li,
.sidebar .widget_recent_entries li {
    text-align: left;
}
#wrapper .footer .widget h4 a:before,
.sidebar .widget_categories a:before,
.sidebar .widget_archive li a:before,
.sidebar .widget_pages ul li a:before,
.sidebar .widget_meta li a:before,
.sidebar .widget_recent_entries li a:before,
.sidebar .widget_nav_menu .menu-main-menu-container li a:before,
.footer .widget_categories ul li a:before,
.footer .widget_pages li a:before,
.footer .widget_meta ul il a:before,
.footer .widget_meta ul li a:before,
.footer .widget_recent_comments ul li:before,
.footer .widget_recent_entries ul li a:before,
.footer .widget_nav_menu .menu li a:before,
.footer .widget_archive li a:before,
.sidebar .reviews li h4 a:before,
.sidebar .cat-holder a:before {
   /* content: "\f104";*/
    float: right;
    margin: 0 0 0 10px;
}
.cp-post-tools {
    text-align: right;
}
.cp-single-post .cp-post-content blockquote:before {
    left: inherit;
    right: -25px;
}
.cp-author .cp-author-thumb {
    float: right;
    left: inherit;
}
.cp-author .cp-author-details {
    padding: 27px 55px 20px 30px;
}
.cp-comment-author,
.cp-review-author,
.cp-comments .thumb {
    float: right;
    margin: 0 0 0 15px;
}
div#respond {
    margin: 30px 0 0 0;
    width: 100%;
    float: left;
}
.cp-category-mainpost-style-4 .cp-post-tools {
    text-align: center;
}
.cp-news-grid-style-6 .cp-post-tools li {
    margin: 0 0 0 14px;
}
.images,
.contact-info .address-addon {
    float: right;
}
#main-woo .summary.entry-summary {
    text-align: right;
}
.check-list li:before,
.summary.entry-summary .quantity,
#comments .commentlist img {
    float: right;
    margin: 0 0 0 10px;
}
table.shop_attributes td,
table.shop_attributes th,
table.shop_attributes tr {
    text-align: right;
}
.related.products ul.products li,
#main-woo .products li {
    float: right;
    margin: 15px 0px 15px 30px
}
.footer .form-widget .material .material-input input,
.cp-contact-form .material .material-input textarea {
    padding: 0 40px 0 0;
}
body #footer .cp-contact-form .input-group-addon {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 1px solid #444444;
    border-right: 0!important;
    height: 100%;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.cp-contact-form .input-group-addon {
    border-left: 1px solid #ccc;
    border-right: 0!important;
}
.cp-category-list .cp-readmore .fa {
    float: right;
    line-height: 38px;
}
.cp-comments li,
.cp-reviews li,
#commentform>ul li,
#commentform .textarea-cp {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
}
#commentform>ul li label {
    position: absolute;
    margin: 0 10px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    width: 65px;
}
#commentform input[type="text"],
#commentform input[type="email"],
.comment-form-comment .comm-area {
    border: 0px;
    border-bottom: 1px solid #ccc;
}
.cp-comments-form .material .material-input textarea,
.cp-review-form .material .material-input textarea,
.comm-area .textarea-cp label {
    position: absolute;
    margin: 0 10px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
}
#commentform input[type="text"] {
    padding-right: 85px;
}
