/*
Theme Name: lightframe_white_buhidoh
Theme URI: 
Author: buhidoh
Author URI: 
*/

body { 
text-align:center;
line-height:1.3;
margin:0;
padding:0;
background-color:#f29ec2;                       /* 外側背景色 */
font-family:sans-serif;
} 
#outline { 
background-color:#ffffff;                     /* サイト背景色 */
}


/******************************************* ▼ サイトの幅 ▼ */
#outline { 
width:984px;                                         /* 全体 */
margin:0 auto; 
}
#center { 
width:572px;                                          /* 中央 */
float:left; 
} 
#left { 
width:202px;                                            /* 左 */
float:left; 
} 
#right { 
width:202px;                                            /* 右 */
float:right; 
} 
#center-left {             /* 計算して設定してください ------ */
width:408px;               /* プラグイン１＋余白＋プラグイン２ */
float:right;
text-align:left;
position:relative;
} 
/******************************************* ▲ サイトの幅 ▲ */



/******************************* ▼ リンクの色と下線の有無 ▼ */
a:link    {color:#4169E1; text-decoration:none;}      /* 通常 */
a:active  {color:#4169E1; text-decoration:none;}      /*実行中*/
a:visited {color:#4169E1; text-decoration:none;}      /*訪問済*/
a:hover   {color:#0000CD; text-decoration:underline;} /*マウス*/
/******************************* ▲ リンクの色と下線の有無 ▲ */



/********************************************* ▼ ヘッダー ▼ */
#header_outline {
border:0px;                     /* 外枠の色     */
margin-bottom:0px;                            /* ヘッダ下間隔 */
}
#header_body { 
background-color:#ffffff;                     /* 背景色       */
border:0px;                     /* 内枠の色     */
} 
/********************************************* ▲ ヘッダー ▲ */



/*************************************** ▼ ブログタイトル ▼ */
h1 { 
font-size:16pt;                                 /* 文字サイズ */
text-align:left;                                /* 左寄せ     */
margin:0px; 
}
                              /* ▽文字色とリンクの下線有無▽ */
h1 a:link    { color:#000000; text-decoration:none; } /* 通常 */
h1 a:active  { color:#000000; text-decoration:none; } /*実行中*/
h1 a:visited { color:#000000; text-decoration:none; } /*訪問済*/
h1 a:hover   { color:#0000ff; text-decoration:none; } /*マウス*/
                              /* △文字色とリンクの下線有無△ */
/*************************************** ▲ ブログタイトル ▲ */



/***************************************** ▼ サイト紹介文 ▼ */
.intro { 
font-size:10pt;                                 /* 文字サイズ */
color:#000000;                                  /* 文字色     */
text-align:left;                                /* 左寄せ     */
margin:5px 30px 10px; 
}
/***************************************** ▲ サイト紹介文 ▲ */



/************************************************* ▼ 記事 ▼ */
.ently_outline { 
border-bottom:#666666 1px solid;               /* 外枠の色/太さ/実線 */
background-color:#f0f0f0;               /* 背景色             */
margin-bottom:10px;                     /* 次の記事までの間隔 */
} 
.ently_title { 
font-size:16px;                    /* 文字サイズ(記事タイトル)*/
background-color:#ffffff;          /* 背景色    (記事タイトル)*/
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
text-align:left;                   /* 左寄せ    (記事タイトル)*/
padding:5px 20px;
margin:0;
word-break:break-all;
} 
                              /* ▽文字色とリンクの下線有無▽ */
h2 a:link    { color:#555555; text-decoration:none; } /* 通常 */
h2 a:active  { color:#555555; text-decoration:none; } /*実行中*/
h2 a:visited { color:#555555; text-decoration:none; } /*訪問済*/
h2 a:hover   { color:#0000ff; text-decoration:none; } /*マウス*/
                              /* △文字色とリンクの下線有無△ */
.ently_body { 
font-size:14px;                       /* 文字サイズ(記事本文) */
color:#000000;                        /* 文字色    (記事本文) */
border-top:   #666666 1px solid;      /* 枠(上)    (記事本文) */
border-left:  #666666 1px solid;      /* 枠(左)    (記事本文) */
border-right: #666666 1px solid;      /* 枠(右)    (記事本文) */
border-bottom:#666666 0px solid;      /* 枠(下)    (記事本文) */
} 
.ently_text {
text-align:left;                      /* 左寄せ    (記事本文) */
margin:5px; 
}
.ently_navi { 
text-align:right;                     /* 右寄せ(時刻・CM・TB) */
color:#555555;                        /* 文字色(時刻・CM・TB) */
padding:0px 10px 3px; 
} 

.ently_body a:link    {color:#4169E1; text-decoration:none;}      /* 通常 */
.ently_body a:active  {color:#4169E1; text-decoration:none;}      /*実行中*/
.ently_body a:visited {color:#4169E1; text-decoration:none;}      /*訪問済*/
.ently_body a:hover   {color:#0000CD; text-decoration:underline;} /*マウス*/

/************************************************* ▲ 記事 ▲ */



/*************************** ▼ 左側メニュー(プラグイン１) ▼ */
.plugin1_outline { 
border-top:   #e0e0e0 0px solid;                /* 個別枠(上) */
margin-bottom:5px; /* 次のプラグインまでの間隔 */
} 
.plugin1_title { 
font-size:10pt;                       /* 文字サイズ(タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
color:#555555;                        /* 文字色    (タイトル) */
background-color:#ffffff;             /* 背景色    (タイトル) */
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
padding:2px 15px; 
} 
.plugin1_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#000000;                            /* 文字色    (本体) */
background-color:#ffffff;                 /* 背景色    (本体) */
border-top:   #666666 1px solid;          /* 枠(上)    (本体) */
border-left : #666666 1px solid;          /* 枠(左)    (本体) */
border-right: #666666 1px solid;          /* 枠(右)    (本体) */
border-bottom:#666666 1px solid;          /* 枠(下)    (本体) */
padding:0px; 
line-height:1;
}
/* プラグイン1説明（上部） */
.p1u_description {
margin-bottom:7px;
}
/* プラグイン1説明（下部） */
.p1d_description {
margin-top:7px;
}
/*************************** ▲ 左側メニュー(プラグイン１) ▲ */



/*************************** ▼ 右側メニュー(プラグイン２) ▼ */
.plugin2_outline { 
border-top:   #e0e0e0 0px solid;                /* 個別枠(上) */
margin-bottom:10px; /* 次のプラグインまでの間隔 */
} 
.plugin2_title { 
font-size:10pt;                       /* 文字サイズ(タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
color:#555555;                        /* 文字色    (タイトル) */
background-color:#ffffff;          /* 背景色    (記事タイトル)*/
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
padding:2px 15px; 
} 
.plugin2_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#000000;                            /* 文字色    (本体) */
background-color:#ffffff;                 /* 背景色    (本体) */
border-top:   #666666 1px solid;          /* 枠(上)    (本体) */
border-left:  #666666 1px solid;          /* 枠(左)    (本体) */
border-right: #666666 1px solid;          /* 枠(右)    (本体) */
border-bottom:#666666 1px solid;          /* 枠(下)    (本体) */
padding:0px; 
line-height:1;
}
/* プラグイン2説明（上部） */
.p2u_description {
margin-bottom:7px;
}
/* プラグイン2説明（下部） */
.p2d_description {
margin-top:7px;
}
/*************************** ▲ 右側メニュー(プラグイン２) ▲ */



/*************************** ▼ 上部メニュー(プラグイン３) ▼ */
.plugin3_outline { 
border-top:   #e0e0e0 0px solid;                /* 個別枠(上) */
margin-bottom:5px;
} 
.plugin3_title { 
font-size:10pt;                       /* 文字サイズ(タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
color:#555555;                        /* 文字色    (タイトル) */
background-color:#ffffff;          /* 背景色    (記事タイトル)*/
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
padding:5px 20px; 
} 
.plugin3_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#000000;                            /* 文字色    (本体) */
background-color:#ffffff;                 /* 背景色    (本体) */
border-top:   #666666 1px solid;          /* 枠(上)    (本体) */
border-left:  #666666 1px solid;          /* 枠(左)    (本体) */
border-right: #666666 1px solid;          /* 枠(右)    (本体) */
border-bottom:#666666 1px solid;          /* 枠(下)    (本体) */
padding:0px; 
}
/* プラグイン3説明(上部) */
.p3u_description {
margin-top:5px;
margin-bottom:5px;
}
/* プラグイン3説明(下部) */
.p3d_description {
margin-top:5px;
margin-bottom:5px;
}
/*************************** ▲ 上部メニュー(プラグイン３) ▲ */



/********************************************* ▼ コメント ▼ */
.comment_outline { 
border:#e0e0e0 0px solid;           /* 外枠の/色太さ/実線     */
background-color:#FFFFFF;           /* 背景色                 */
text-align:left;                    /* 左寄せ                 */
margin-bottom:5px;                 /* 次のコメントまでの間隔 */
} 
.comment_title { 
font-size:10pt;                       /* 文字サイズ(タイトル) */
color:#555555;                        /* 文字色    (タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
background-color:#ffffff;             /* 背景色    (タイトル) */
text-align:left;                      /* 左寄せ    (タイトル) */
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
padding:5px 20px; 
} 
.comment_body { 
font-size:10pt;                   /* 文字サイズ(コメント本文) */
color:#000000;                    /* 文字色    (コメント本文) */
border-top:   #666666 1px solid;  /* 枠(上)    (コメント本文) */
border-left:  #666666 1px solid;  /* 枠(上)    (コメント本文) */
border-right: #666666 1px solid;  /* 枠(上)    (コメント本文) */
border-bottom:#666666 1px solid;  /* 枠(上)    (コメント本文) */
}

.comment_ol{
margin: 10px 10px 10px 1.5em;
padding: 0;
text-align: left;
word-break: break-all;
}
.comment_li{
margin-bottom:10px;
} 

.comment_text { 
text-align:left;                  /* 左寄せ    (コメント本文) */
margin:10px 20px;
}
.comment_navi { 
color:#555555;                    /* 文字色    (時刻・CM・TB) */
text-align:right;                 /* 右寄せ    (時刻・投稿者) */
margin:0px 10px 3px;
}
/* コメント諸項目（名前、URL等）の入力欄の幅 */
#subject,
#name,
#mail,
#url {
width: 50%;
}
/* コメント本文の入力欄の幅 */
#comment {
width: 95%;
}
/* コメントパスワード入力欄の幅 */
#pass {
width: 30%;
}
/********************************************* ▲ コメント ▲ */



/*************************************** ▼ トラックバック ▼ */
.trackback_outline { 
border-bottom:#666666 1px solid;             /* 外枠の/色太さ/実線   */
background-color:#FFFFFF;             /* 背景色               */
margin-bottom:5px; 
} 
.trackback_block_title { 
font-size:10pt;                 /*文字サイズ(ブロックタイトル)*/
color:#555555;                  /*文字色    (ブロックタイトル)*/
font-weight:bold;               /*太字      (ブロックタイトル)*/
background-color:#ffffff;       /*背景色    (ブロックタイトル)*/
text-align:left;                /*左寄せ    (ブロックタイトル)*/
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
padding:5px 20px; 
} 
.trackback_block_body { 
font-size:10pt;                   /* 文字サイズ(ブロック本文) */
color:#000000;                    /* 文字色    (ブロック本文) */
border-top:   #666666 1px solid;  /* 枠(上)    (ブロック本文) */
border-left:  #666666 1px solid;  /* 枠(左)    (ブロック本文) */
border-right: #666666 1px solid;  /* 枠(右)    (ブロック本文) */
border-bottom:#666666 0px solid;  /* 枠(下)    (ブロック本文) */
text-align:left; 
padding:10px 20px 0;
}
.trackback_title {
font-size:10pt;                   /* 文字サイズ(個別タイトル) */
color:#555555;                    /* 文字色    (個別タイトル) */
font-weight:bold;                 /* 太字      (個別タイトル) */
}
.trackback_body { 
font-size:10pt;                   /* 文字サイズ(個別本文)     */
color:#000000;                    /* 文字色    (個別本文)     */
margin-bottom:20px;
}
.trackback_navi {
border-top:#e0e0e0 1px solid;     /* 飾り線    (時刻・投稿者) */
text-align:right;                 /* 右寄せ    (時刻・投稿者) */
} 
/*************************************** ▲ トラックバック ▲ */



/******************* ▼ カテゴリ・検索・月別ナビゲーション ▼ */
.various_outline { 
border-top:#e0e0e0 0px solid;      /* 外枠の色/太さ/実線 (上) */
margin-bottom:5px; 
} 
.various_title {
font-size:10pt;                       /* 文字サイズ(タイトル) */
color:#555555;                        /* 文字色    (タイトル) */
font-weight:bold;                     /* 太字      (タイトル) */
background-color:#ffffff;             /* 背景色    (タイトル) */
text-align:left;                      /* 左寄せ    (タイトル) */
border-left:#FD8035 10px solid;          /* 枠        (記事タイトル)*/
border-right:#666666 0px solid;
border-top:#666666 0px solid;
border-bottom:#666666 0px solid;
padding:5px 20px; 
margin:0; 
}
.various_body { 
font-size:10pt;                           /* 文字サイズ(本体) */
color:#000000;                            /* 文字色    (本体) */
background-color:#FFFFFF;                 /* 背景色    (本体) */
border-top:   #666666 1px solid;  /* 枠(上)    (ブロック本文) */
border-left:  #666666 1px solid;  /* 枠(左)    (ブロック本文) */
border-right: #666666 1px solid;  /* 枠(右)    (ブロック本文) */
border-bottom:#666666 0px solid;  /* 枠(下)    (ブロック本文) */
} 
.various_text {
text-align:left;                          /* 左寄せ    (本体) */
}
.various_navi {
font-size:10pt;
line-height:2; 
text-align:center;                        /* 中央寄せ  (矢印) */
} 
/******************* ▲ カテゴリ・検索・月別ナビゲーション ▲ */



/********************************************* ▼ フッター ▼ */
#footer_outline {
border:0px solid #e0e0e0;                       /* 外枠の色   */
background-color:#ffffff;                       /* 背景色     */
}
#footer_body { 
font-size:9pt;                                  /* 文字サイズ */
color:#666666;                                  /* 文字色     */
border:1px solid #666666;                       /* 内枠の色   */
padding:5px; 
} 
                                              /* リンク       */
#footer_body a:link    { color:#666666; }     /* 通常         */
#footer_body a:active  { color:#666666; }     /* 実行中       */
#footer_body a:visited { color:#666666; }     /* 訪問済み     */
#footer_body a:hover   { color:#0000ff; }     /* オンマウス時 */
/********************************************* ▲ フッター ▲ */


/* カレンダー */
.calender td { text-align: center; }
th#sun { color: #CC3300; }
th#sat { color: #0066CC; }

/*** その他 ***/
p { margin: 2px 0; }
ul { margin:2px 0 5px 0; padding:0; } 
li { margin-left:20px; margin-bottom:3px; } 
form { margin:0; }
table { font-size:10pt; }
.c-both { clear:both; } 
.readmore { margin: 0px 0px 30px; text-align:center; word-break:break-all; } 
.readclose { margin: 10px 0; } 
.page_navi { margin:30px 1px; font-size:9pt; }
.page_navi2 { margin:10px 1px 30px; font-size:9pt; }

/* カレンダーの中央寄せ */
.calender{
margin-left: auto;
margin-right: auto;
} 

/* 引用部分 */
blockquote {
margin:2px;
padding:5px;
background:#f0f0f0; /* 背景 */
border:#cccccc 1px solid; /* 枠線 */
border-left:#cccccc 5px solid; /* 枠線(左) */
}

/* ブックマーク 拍手 */
.fc2_footer {
margin-top:20px; /* 上の余白 */
}

/* ▼ サイトマップ ▼ */
#sitemap {
margin-top:5px; /* 上の余白 */
text-align:left;
}

#sitemap ul.sitemap_list {
margin-left:30px; /* 各記事リストの左余白 */
}

.display_no {
display:none;
}

/* カテゴリ一覧へ戻る */
.pgtop {
text-align:right; /* 右寄せ */
}
/* ▲ サイトマップ ▲ */

/* プラグインの文字配置 */
.ta_left { text-align: left }
.ta_right { text-align: right }
.ta_center { text-align: center }

/* プラグイン内の入力欄幅設定 */
.plugin1_body input[type="text"],
.plugin2_body input[type="text"],
.plugin1_body textarea,
.plugin2_body textarea {
width: 90%;
}

/* ▼ FC2バトンのスタイル ▼ */

/* 質問番号(Q) */
.q_number {
color:#ff6600; /* 色 */
font-weight: bold; /* 太字 */
}

/* 質問本文 */
.baton_q {
margin-bottom:5px; /* 答えまでの余白 */
}

/* 答え番号(A) */
.a_number {
color:#ff6600; /* 色 */
font-weight: bold; /* 太字 */
}

/* 答え本文 */
.baton_a {
margin-left: 0px;
padding-bottom:2px; /* 罫線までの余白 */
border-bottom: dotted 1px #cccccc; /* 罫線 */
margin-bottom: 20px; /* 次の質問までの余白 */
}

/* ▲ FC2バトンのスタイル ▲ */

/**************************************************************/
/*
フッターにある著作権表示(リンク)さえ残して頂ければ
どんなにカスタマイズされても構いません。また、
どのようなサイトでも利用してくださって結構です。
                                FC2ブログのテンプレート工房
[lightframe_ver.05.1]     (http://10plate.blog44.fc2.com/)
*/
/**************************************************************/

/* ▼メニューバー▼ */
ul#menu_bar {
font-size: 12px; /* 文字サイズ */
height:25px; /* 高さ */
background-color:#76CCE0; /* 背景色 */
padding-left:0px;
margin-left:0px;
margin-top:0px; /* 上の間隔 */
margin-bottom:0px; /* 下の間隔 */
overflow:hidden;
}

#menu_bar li {
list-style-type:none;
float:left;
line-height:25px; /* 高さ */
margin:0px;
padding:0px;
}

#menu_bar li a {
display:block;
text-align:center;
width:140px; /* １つのメニューボタンの幅 */
color:#ffffff; /* リンク文字の色 */
background-color:#76CCE0; /* メニューボタンの背景 */
text-decoration:none;
}

#menu_bar li a:hover{
color:#ffffff; /* マウスが乗ったときのリンク文字の色 */
background-color:#00ccdd; /* マウスが乗ったときの背景色 */
text-decoration:none;
}
/* ▲メニューバー▲ */

/* ▼imgmask▼ */
.maskimg{
background-image: url("http://file.buhidoh.net/uploads/setting/1x1mask.png");
position:absolute;
bottom:0px;
width:100%;
height:45px;
word-break:break-all;
overflow:hidden;
cursor:pointer;
}
.masktext{
font-size:12px;
font-weight:bold;
line-height:15px;
margin:0px 2px;
display:block;
text-align:center;
}
.imgbox a:link,
.imgbox a:active,
.imgbox a:visited{
color:#ddd;
text-decoration:none;
}
.imgbox a:hover{
color:#fff;
text-decoration:none;
}
/* ▲imgmask▲ */

/* ▼imgmask topimg▼ */
.topimg img{
width:160px;
height:226px;
}
.topimg{
width:160px;
height:226px;
margin:2px;
position:relative;
float:left;
display:inline;
}
/* ▲imgmask topimg▲ */

/* ▼imgmask pagepickup▼ */
.pagepickup img{
width:200px;
height:auto;
}
.pagepickup{
width:200px;
height:200px;
margin:4px 0px;
position:relative;
overflow:hidden;
}
/* ▲imgmask pagepickup▲ */

/* タグリスト */
.tag_list {
margin: 0;
padding: 0px 0px 5px 0px; /* 文字位置(上・右・下・左) */
text-align: right; /* 表示位置(右) */
list-style-type: none;
}

/* ▼imgmask prank▼ */
.prank img{
width:136px;
height:auto;
}
.prank{
width:136px;
height:136px;
overflow:hidden;
margin:2px;
position:relative;
float:left;
display:inline;
}
/* ▲imgmask prank▲ */

/* ▼pagenavi▼ */
.navinow{
padding:3px;
}
.navino a{
border:1px solid #666;
padding:3px;
}
/* ▲pagenavi▲ */

img { -ms-interpolation-mode: bicubic; }

.readmore.pickupmore{
margin:0 0 56px;
}

/* ▼親子カテゴリ (折りたたみ) ▼ */

.main_menu_fold {
margin:5px; /* 全体の余白 */
}

/* 親カテゴリ */
div.main_list_parent {
font-weight:normal; /* 文字の太さ (太くしたいならbold) */
margin-bottom:5px; /* 下の余白 */
}

/* 子なしカテゴリ */
div.main_list {
font-weight:normal; /* 文字の太さ (太くしたいならbold) */
margin-bottom:5px; /* 下の余白 */
}

/* 子カテゴリ */
div.sub_list {
background-image: url("http://blog-imgs-55.fc2.com/b/u/h/buhidoh/branch.gif"); /*ツリー画像 */
padding-left:20px;
padding-top:2px;
padding-bottom:2px;
background-repeat: no-repeat;
background-position: left top;
}

/* 子カテゴリ (最後尾) */
div.sub_list_end {
background-image: url("http://blog-imgs-55.fc2.com/b/u/h/buhidoh/branch_end.gif"); /*ツリー画像(最後尾) */
background-repeat: no-repeat;
background-position: left top;
padding-left:20px;
padding-top:2px;
margin-bottom:10px; /* 下の余白 */
}

/* ▲親子カテゴリ (折りたたみ) ▲ */

/* ▼imgmask spimg▼ */
.spimg img{
width:250px;
height:352px;
}
.spimg{
width:250px;
height:352px;
margin:15px;
position:relative;
float:left;
display:inline;
}
/* ▲imgmask spimg▲ */

/* ▼人気記事▼ */
.en_in_title{
font-size:16px;
line-height:34px;
border-left:10px solid #FD8035;
padding-left:10px;
}
/* ▲人気記事▲ */

/* ▼関連記事▼ */
.relate_dt{
border-left: 10px solid #FD8035;
font-size: 16px;
line-height: 34px;
padding-left: 10px;
}
.relate_dd{
margin: 0;
}
.relate_ul{
border: 1px solid;
border-bottom: 0;
margin:0;
background:#ffffff;
}
.relate_li_nolink{
list-style:none;
border-bottom: 1px solid;
margin: 0;
padding: 4px;
}
.relate_li{
list-style:none;
border-bottom: 1px solid;
margin: 0;
padding: 4px;
}
/* ▲関連記事▲ */

/* ▼CSS button▼ */
.button_example{
border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; width:446px; font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: left; color: #FFFFFF !important; background-color: #d3d3d3;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #707070));
 background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
 background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
 background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
 background-image: -o-linear-gradient(top, #d3d3d3, #707070);
 background-image: linear-gradient(top, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.button_example:hover{
 border:1px solid #a0a0a0; background-color: #bababa;
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%, #575757));
 background-image: -webkit-linear-gradient(top, #bababa, #575757);
 background-image: -moz-linear-gradient(top, #bababa, #575757);
 background-image: -ms-linear-gradient(top, #bababa, #575757);
 background-image: -o-linear-gradient(top, #bababa, #575757);
 background-image: linear-gradient(top, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

.morelink{
text-align:center;
margin:20px 0px;
}
/* ▲CSS button▲ */

#acrp10_buhidoh2 td {
  padding: 0;
}
#acrp10_buhidoh2 > table {
  border-spacing: 0px;
}


/* ▼imgmask acrpage▼ */
.acrpage img{
width:200px;
height:200px;
}
.acrpage{
width:200px;
height:200px;
margin:2px 0px;
position:relative;
overflow:hidden;
}
/* ▲imgmask acrpage▲ */

/* ▼imgmask acrpagepick▼ */
.acrpagepick img{
width:136px;
height:136px;
}
.acrpagepick{
width:136px;
height:136px;
margin:2px;
position:relative;
overflow:hidden;
float:left;
display:inline;
}
/* ▲imgmask acrpagepick▲ */

#acrp9_buhidoh td {
  padding: 4px;
}

.rssbox ul{
margin:0;
padding:0;
text-align:left;
list-style:none;
font-size:14px;
line-height:1.2;
word-break:break-all;
}
.rssbox li{
padding:7px;
margin:0;
overflow:hidden;
border-bottom:1px solid #666666;
}

.centerbox .pagepickup{
margin:1px 2px;
float:left;
}

.centersbox .prank{
margin:1px 0;
width:160px;
height:200px;
}
.centersbox .prank img{
width:160px;
height:200px;
}

.button_download{
border:1px solid #ffad41; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:278px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF !important; background-color: #ffc579;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}

.button_download:hover{
 border:1px solid #ff9913; background-color: #ffaf46;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), top(#e78404));
 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}

.button_zip{
margin:0 2px;
border:1px solid #ffad41; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:210px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF !important; background-color: #ffc579;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}

.button_zip:hover{
 border:1px solid #ff9913; background-color: #ffaf46;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), top(#e78404));
 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}

.button_pdf{
margin:0 2px;
border:1px solid #ff6262; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;width:210px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF !important;
 background-color: #ff9a9a; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
 background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
 background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);
}

.button_pdf:hover{
 border:1px solid #ff3434;
 background-color: #ff6767; background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
 background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6767, endColorstr=#ff0d0d);
}

.dlbox{
text-align:center;
}

.fkgn .maskimg{
height:100%;
display:none;
}
.fkgn .masktext{
font-size:16px;
font-weight:normal;
line-height:1.2;
margin:10px;
}
.fkgn .imgbox a:hover .maskimg{
display:inline;
}
.fkgn .prank .masktext{
font-size:14px;
}

#footermenu{
list-style:none;
width:480px;
margin:5px auto;
}
#footermenu li{
margin:0;
padding:6;
float:left;
width:120px;
}

.various_text ul{
margin:0;
padding:0;
text-align:left;
list-style:none;
font-size:14px;
line-height:1.2;
word-break:break-all;
}
.various_text li{
padding:7px;
margin:0;
overflow:hidden;
border-bottom:1px solid #666666;
}

/* ▼imgmask floatpickup▼ */
.floatpickup img{
width:200px;
height:200px;
}
.floatpickup{
width:200px;
height:200px;
position:relative;
overflow:hidden;
}
/* ▲imgmask floatpickup▲ */

/* i2ipagerank */
.iSRctLink {
word-break:break-all;
}

/* linkwithin */

.linkwithin_inner{
margin:0 auto !important;
}
#linkwithin_text_0{
font-size:14px;
line-height:1.3;
>padding:0 0 5px !important;
}
.linkwithin_posts a div{
overflow:hidden;
}
.linkwithin_img_0 {
padding:1px !important;
}
.linkwithin_title {
margin-top:1px !important;
font-size:11px !important;
line-height:15px !important;
}

/* linkwithin like */
.linkwwrapper{
width:475px;
height:531px;
margin:0 42px 10px;
overflow:hidden;
}
#linkwoutbox{
width:476px;
}
.linkwbox{
width:118px;
height:177px;
float:left;
border-right:1px solid #ddd;
}
#linkwoutbox div.linkwbox a{
color:#000;
text-decoration:none;
cursor:pointer;
}
.linkwbox:hover{
background-color:#dde;
}
.linkwinbox{
display:block;
padding:6px;
}
.linkwpickbox{
display:block;
border:1px solid #ddd;
padding:2px;
}

.linkwtextbox{
display:block;
margin-top:3px;
font-size:11px;
line-height:14px;
height:56px;
overflow:hidden;
}

.more-link {
  display: block;
  margin: 5px auto;
  width: 468px;
}
.mlbnr {
text-align:center;
margin:5px auto 30px;
width:468px;
height:60px;
}
.bwp-rc-ulist{
ine-height:1.2;
margin-right:2px;
}
#cat.postform{
width:100%;
}
.comment-form-email,
.comment-form-url,
.comment-notes {
display:none;
}
#wp-calendar{
margin:0 auto;
}
.p3center{
display:none;
}

.form-allowed-tags{
display:none;
}

#categories-2.plugin1_outline div.plugin1_body.ta_left{
max-height:600px;
overflow:auto;
}

.tagcloud{
padding:5px;
}

.plugin1_body.ta_left ul{
line-height:1.2;
margin-right:2px;
}

.recentcomments{
max-height:160px;
overflow:hidden;
}

