/*
Theme Name: TheVodLocker
Theme URI: http://thevodlocker.com/
Description: Watch Free Movies And TV Shows
Version: 4.0
*/

P {
    font-family: Calibri;
}
body {
    margin: 0;
    height: auto;
    font: 13px Calibri;
    color: #666666;
    background: #fbf1be;
    text-align: center;
}
xbody * {
    margin: auto;
}
a,
a:visited {
    color: #2c6eaa;
}
p {
    margin-top: 4px;
    font-family: Calibri;
    text-align: left;
}
h2 {
    font: bold 19px Calibri;
    margin: 1px;
}
h3 {
    font: bold 18px Calibri;
    margin: 1px;
}
strong {
    font-size: 15px;
}
table {
    font: 13px Calibri;
    text-align: left;
}
small a {
    font-size: 11px;
    color: #227;
    text-decoration: none;
}
small a:hover {
    color: #119;
    text-decoration: underline;
}
textarea {
    border: 1px solid #AAA;
    color: #444;
}
input[type="submit"],
input[type="button"] {
    padding: 1px 5px;
}
.left {
    text-align: left;
}
.pad2 {
    padding: 2px;
}
.pad3 {
    padding: 3px;
}
.clear {
    clear: all;
}
.paging {
    margin: 10px 0 5px 0;
    font: 13px Calibri;
}
.paging a,
.paging a:visited {
    border: 1px solid #9aafe5;
    margin-right: 3px;
    padding: 1px 7px;
    text-decoration: none;
    color: #2e6ab1;
}
.paging a:hover {
    border: 1px solid #2b66a5;
    color: #000;
    background-color: lightyellow;
}
.paging b {
    margin-right: 3px;
    padding: 1px 7px;
    font-weight: bold;
    color: #FFF;
    background-color: #2e6ab1;
    border: 1px solid #0e4a91;
}
.paging small {
    font: 11px Calibri;
    color: #777;
    line-height: 18px;
}
#file_title {
    font: bold 18px Calibri;
}
.result_slot {
    background: #F3F6FB;
    border: 1px solid #c3d3dc;
    text-align: left;
    padding: 3px;
}
.result_slot td {
    font: 13px Calibri;
}
.result_slot input,
.result_slot textarea {
    border: 1px solid #AAA;
    color: #444;
}
.file_slot {
    background: #ECF3F9;
    border: 1px solid #CAD6E6;
    font: 13px Calibri;
}
.file_slot tr.hdr td {
    background-color: #DCE3E9;
    font-weight: bold;
    text-align: center;
}
.captcha_code {
    border: 1px solid #777;
    font: 19px Calibri;
    width: 50px;
    text-align: center;
}
.pic {
    border: 1px solid #909090;
}
form {
    margin: 0;
}
.txt12 {
    font-size: 12px;
}
.txt11 {
    font-size: 11px;
}
.div1,
.file_list {
    text-align: left;
    color: #484B50;
    font-family: Calibri, sans-serif;
    font-size: 11px;
}
.div1 {
    width: 500px;
    padding: 5px;
    top: -9999px;
}
.upload_input input {
    cursor: pointer;
    float: left;
    height: 30px;
    opacity: 0;
    width: 605px;
    z-index: 2;
}
.myForm,
.tbl1 input[type=text],
.tbl1 input[type=password] {
    font: 12px Calibri;
    border: 1px solid #838383;
    margin: 2px;
    padding: 1px;
}
.xrow {
    background: #ffffff;
    border: 1px solid #b3b3b3;
    padding: 2px;
    margin-top: 2px;
    font: 12px Calibri;
}
.xrow input {
    font: 12px Arial;
    border: 1px solid #c3c3c3;
    margin-top: 1px;
}
.xrow input.input_url {
    font: 12px Calibri;
    border: 1px solid #636363;
    margin-top: 1px;
    width: 90%;
}
.xrow a img {
    border: none;
    float: right;
    width: 16px;
    height: 16px;
}
.xfname {
    color: #333;
    font-weight: bold;
    float: left;
    height: 16px;
}
.xdescr {
    color: #999;
    font: 12px Calibri;
}
.fdescr {
    width: 325px;
}
#optidiv,
#optidiv2 {
    position: absolute;
    top: -9999px;
    margin-top: 2px;
    padding: 3px;
}
#div_file {
    position: static;
    top: -9999px;
}
#div_url,
#div_rs,
#div_tt,
#div_ff {
    position: absolute;
    top: -9999px;
}
.ok {
    font: bold 13px Arial;
    color: #1b1;
}
.err {
    font: bold 13px Arial;
    color: #911;
}
.err_div {
    font: bold 13px Arial;
    color: #911;
    border: 1px solid #ebb;
    background: #fff3f3;
    margin: 10px;
    padding: 5px;
    line-height: 150%;
}
.msg_ok {
    background: #dfd;
    border: 1px solid #8d8;
    padding: 5px;
}
#news {
    font-family: Arial, Calibri, Verdana;
    font-size: 13px;
}
#news a.title {
    font-family: Calibri, Arial, 'Trebuchet MS', Verdana, Sans-Serif;
    color: #3399CC;
    font-size: 17px;
    text-decoration: none;
}
#news_last {
    margin-top: 7px;
    width: 560px;
    text-align: left;
}
#news_last a {
    color: #447;
}
#cmt_form textarea {
    width: 99%;
}
.cmt {
    border: 1px solid #CCC;
    margin-bottom: 10px;
}
.cmt_hdr {
    background-color: #d7dfe4;
    padding: 4px;
    font-size: 11px;
}
.cmt_hdr a {
    text-decoration: none;
}
.cmt_hdr b,
.cmt_hdr b a {
    font-size: 13px;
    color: #202020;
}
.cmt_txt {
    padding: 5px;
}
#lang {
    position: absolute;
    top: 32px;
    padding: 3px;
    right: 0;
}
#lang ul {
    width: 90px;
    float: left;
    margin: 0px;
    padding: 0;
    list-style: none;
}
#lang ul li {
    text-align: left;
    padding: 3px;
}
#lang ul li a {
    color: #3b3b3b;
    text-decoration: none;
    display: block;
    width: 100%;
}
#lang img {
    border: none;
    margin-right: 3px;
}
#lang ul li {
    display: none;
    background: #e1e1e1;
    border: 1px solid transparent;
}
#lang ul .top {
    display: block;
    background: none;
    border: none;
}
#lang ul li:hover {
    border-color: #555;
}
#lang ul:hover li {
    display: block;
}
#lang_div {
    position: absolute;
    left: 0;
    display: none;
    top: 20px;
    background: #eee;
}
.data {
    border-collapse: collapse;
    background-color: #e9e9e9;
    width: 400px;
    margin-bottom: 3px;
}
.data TR TD {
    border: 1px solid #a3a3a3;
    font: 12px Arial;
}
.bar1 {
    border: 1px solid #a3a3a3;
    background-color: #f6f6f6;
    text-align: left;
    vertical-align: middle;
    height: 20px;
    width: 98%;
}
.bar2 {
    width: 1%;
    background-color: #c9c9c9;
    height: 20px;
    text-align: left;
}
.message {
    width: 400px;
    border: 1px solid #909090;
    font: 11px Arial;
    margin-top: 5px;
    text-align: left;
    padding-left: 3px;
    background-color: #f9f9f9;
}
.myLink {
    font: bold 13px Arial;
    color: #303030;
    text-decoration: none;
}
.myForm {
    font: 12px Calibri;
    border: 1px solid #e6e6e6;
    margin: 2px;
    padding: 2px;
}
.btn {
    font: 15px Calibri;
    margin-top: 3px;
    margin-bottom: 5px;
    padding: 2px 5px;
}
.btn2,
.btndiv {
    font: 13px Calibri;
    border: 1px solid #909090;
    background: #e9e9e9;
    padding: 2px 5px;
    margin: 2px;
}
.btndiv {
    width: 120px;
    height: 16px;
    text-align: center;
    padding: 1px 4px 0px 4px;
    margin: auto;
    margin-top: 1px;
}
div.tabbertab div.hover {
    background-color: #e9f3e9;
}
.tbl1 {
    text-align: left;
    border-collapse: collapse;
}
.tbl1 tr td,
.tbl1 tr th {
    border: 1px solid #c3c3c3;
    padding: 3px;
}
.tbl1 tr td {
    background-color: #FFFFFF;
    font-size: 12px;
}
.tbl1 tr.hi td {
    background-color: #F3F3F3;
}
.tbl1 tr:hover td {
    background-color: #E9F0FF;
}
.tbl1 tr td.pub {
    background-color: #E0FFE0;
}
.tbl1 tr.hdr td,
.tbl1 th,
.hdr {
    background-color: #d9d9d9;
    font-weight: bold;
    text-align: center;
}
.tbl1 tr.hdr2 td,
.tbl1 th,
.hdr2 {
    background-color: #d9d9d9;
    text-align: center;
}
.tbl1 tr td.rc {
    text-align: right;
    font-weight: bold;
}
.tbl1 tr td.top {
    vertical-align: top;
    padding-top: 5px;
}
.tbl1 tr td.rc i {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 90%;
}
.tbl1 tr.trhost td {
    background: #f3f3ff;
    padding: 5px;
    font-weight: bold;
}
.tbl1 tr.trhost td b {
    font: bold 15px Calibri;
}
.tbl1 tr.hi2 td {
    background-color: #D9ECFF;
}
.rrd {
    width: 400px;
    padding: 5px;
    margin: 5px auto 5px auto;
}
.tabberlive .tabbertabhide {
    display: none;
}
.tabber {}.tabberlive {
    margin-top: 1px;
}
ul.tabbernav {
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid #778;
    font: bold 12px Verdana, sans-serif;
}
ul.tabbernav li {
    list-style: none;
    margin: 0;
    display: inline;
}
ul.tabbernav li a {
    background: #F3F6FB;
    border: 1px solid #778;
    padding: 3px 3px;
    margin-left: 3px;
    border-bottom: none;
    text-decoration: none;
}
ul.tabbernav li a:link {
    color: #66A;
}
ul.tabbernav li a:visited {
    color: #667;
}
ul.tabbernav li a:hover {
    color: #000;
    background: #AAE;
    border-color: #227;
    text-decoration: none;
}
ul.tabbernav li.tabberactive a {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    color: #448;
}
ul.tabbernav li.tabberactive a:hover {
    color: #000;
    background: white;
    border-bottom: 1px solid white;
}
.tabberlive .tabbertab {
    padding: 5px;
    border: 1px solid #aaa;
    border-top: 0;
    background-color: #FFF;
    text-align: center;
}
.tabberlive .tabbertab h2 {
    display: none;
}
#utmodes input {
    border: 1px solid #d3d3d3;
    background: #f6f6f6;
    margin-right: 8px;
    font-family: Calibri;
}
#utmodes input.active {
    border: 1px solid #a3a3a3;
    background: #e3e3e3;
}
#upload_div {
    width: 750px;
    margin-top: 30px;
}
.upload_block {
    height: 280px;
    min-height: 280px;
    margin-top: 5px;
}
html>body .upload_block {
    height: auto
}
#progress_div {
    position: absolute;
    top: -9999px;
}
img.cat_img {
    border: 1px solid #b3b3b3;
    padding: 26px;
    background: #edf3fa;
}
.url2 {
    font-size: 12px;
    color: #227;
    text-decoration: none;
}
.trf-za {
    background-position: -24px 0;
}
.trf-al {
    background-position: -48px 0;
}
.trf-arabic {
    background-position: -72px 0;
}
.trf-by {
    background-position: -96px 0;
}
.trf-bg {
    background-position: -120px 0;
}
.trf-catalonia {
    background-position: -144px 0;
}
.trf-cn {
    background-position: -168px 0;
}
.trf-tw {
    background-position: -192px 0;
}
.trf-hr {
    background-position: -216px 0;
}
.trf-cz {
    background-position: -240px 0;
}
.trf-dk {
    background-position: -264px 0;
}
.trf-nl {
    background-position: -288px 0;
}
.trf-ee {
    background-position: -312px 0;
}
.trf-fi {
    background-position: -336px 0;
}
.trf-french {
    background-position: -360px 0;
}
.trf-galicia {
    background-position: -384px 0;
}
.trf-german {
    background-position: -408px 0;
}
.trf-gr {
    background-position: -432px 0;
}
.trf-il {
    background-position: -456px 0;
}
.trf-in {
    background-position: -480px 0;
}
.trf-hungary {
    background-position: -504px 0;
}
.trf-indonesia {
    background-position: -528px 0;
}
.trf-it {
    background-position: -552px 0;
}
.trf-is {
    background-position: -576px 0;
}
.trf-ie {
    background-position: -600px 0;
}
.trf-japan {
    background-position: -624px 0;
}
.trf-kr {
    background-position: -648px 0;
}
.trf-lv {
    background-position: -672px 0;
}
.trf-lt {
    background-position: -696px 0;
}
.trf-mk {
    background-position: -720px 0;
}
.trf-my {
    background-position: -744px 0;
}
.trf-mt {
    background-position: -868px 0;
}
.trf-no {
    background-position: -792px 0;
}
.trf-ir {
    background-position: -816px 0;
}
.trf-polish {
    background-position: -840px 0;
}
.trf-pt {
    background-position: -864px 0;
}
.trf-ro {
    background-position: -888px 0;
}
.trf-russian {
    background-position: -912px 0;
}
.trf-rs {
    background-position: -936px 0;
}
.trf-sk {
    background-position: -960px 0;
}
.trf-sl {
    background-position: -984px 0;
}
.trf-spanish {
    background-position: -1008px 0;
}
.trf-ke {
    background-position: -1032px 0;
}
.trf-se {
    background-position: -1056px 0;
}
.trf-ph {
    background-position: -1080px 0;
}
.trf-thai {
    background-position: -1104px 0;
}
.trf-turkish {
    background-position: -1128px 0;
}
.trf-ua {
    background-position: -1152px 0;
}
.trf-vn {
    background-position: -1176px 0;
}
.trf-wales {
    background-position: -1200px 0;
}
.trf-europeanunion {
    background-position: -1224px 0;
}
.icon {
    width: 100px;
    height: 90px;
    border: solid 1px #C3C3C3;
    position: relative;
    background: #FFFFFF;
    padding: 1px;
    text-align: left
}
.icon a:link,
.icon a:visited {
    height: 90px;
    width: 100%;
    display: block;
}
.icon a:hover {
    display: block;
    position: absolute;
    z-index: 999;
    left: -40px;
    top: -28px;
    width: 160px;
    height: 140px;
    border: solid 1px #C3C3C3;
}
.uploadifyQueueItem {
    background-color: #F5F5F5;
    border: 2px solid #E5E5E5;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 350px;
    text-align: left;
}
.uploadifyError {
    background-color: #FDE5DD!important;
    border: 2px solid #FBCBBC!important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    background-color: #E5E5E5;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
    float: left;
}
#fileQueue {
    margin-top: 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid #cecece;
    overflow: auto;
    height: 170px;
    width: 400px;
}
#btn_download {
    width: 250px;
    height: 40px;
    text-align: center;
    font: bold 13px Calibri;
    margin: 10px;
}
.morevids {
    display: block;
    position: relative;
    width: 200px;
    height: 112px;
    xfloat: left;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.morevids img {
    border: 1px solid #c3c3c3;
    width: 200px;
    height: 112px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
}
.morevids span {
    position: absolute;
    padding: 1px;
    right: 0px;
    bottom: 0px;
    background: #000;
    color: #fff;
    font: bold 10px Arial;
    opacity: 0.6;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.vid_block .vb_title {
    padding-top: 3px;
}
#div_extra {
    margin: 8px 3px 3px 3px;
}
#description {
    background: #f3f3f3;
    border: 1px solid #c3c3c3;
    padding: 3px;
    margin: 5px 3px 5px 3px;
}
a.vote {
    background: #e3e3e3;
    border: 1px solid #c3c3c3;
    padding: 3px;
}
#tags {
    margin-bottom: 10px;
}
#tags a {
    font: 12px Calibri;
}
#rating {
    background: #c33;
    position: relative;
    width: 100px;
    height: 5px;
    border: 1px solid #999;
}
#rating2 {
    background: #3c3;
    position: absolute;
    width: 30px;
    height: 5px;
    top: 0px;
    left: 0px;
    border-right: 1px solid #999;
}
#embed_div {
    display: none;
    margin-bottom: 10px;
}
#fviews {
    font: bold 16px Calibri;
}
#play_limit_box,
#over_player_msg {
    position: absolute;
    top: 50%;
    width: 468px;
    height: 50px;
    left: 50%;
    margin-left: -230px;
    margin-top: -40px;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #bbb;
    text-align: center;
    padding: 15px;
    display: none;
}
#over_player_msg {
    display: block;
    width: 400px;
    margin-left: -200px;
    height: 40px;
    font-weight: bold;
    opacity: 0.8;
    border-color: #aaa;
    border-radius: 5px;
}
#divinputfile input#filepc {
    cursor: pointer;
    float: left;
    height: 30px;
    opacity: 0;
    width: 605px;
    z-index: 2;
}
#divinputfile input#filepc {
    opacity: 0;
    -moz-opacity: 0.0;
    filter: alpha(opacity=00);
    font-size: 22px;
    position: absolute;
    width: 600px;
}
#fakefilepc {
    width: 338px;
    margin-top: 3px;
    border: 0px;
    background-color: transparent;
}
.vlist {
    margin-top: 5px;
    width: 100%;
    border-collapse: collapse;
}
.vlist TR TD {
    padding: 3px;
    border: 1px dotted #bbb;
}
.vlist div.link a {
    font-weight: bold;
    text-decoration: none;
}
.vlist div.descr {
    font-size: 10px;
    margin: 2px 0 2px 0;
}
tr td div.enc_status {
    height: 23px;
    width: 0%;
    background: #d3d3d3;
    float: left;
}
.enc_value {
    position: absolute;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    top: 0;
    left: 0;
}
tr td.enc_td {
    width: 230px;
    padding: 0;
    text-align: left;
}
.main_box_left {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 95%;
}
.main_box_right {
    float: right;
    width: 24%;
    margin-right: 2px;
    background: #f3f3f3;
    border: 1px solid #e3e3e3;
}
.box_hdr {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    letter-spacing: 1px;
    margin-bottom: 3px;
    padding-left: 35px;
    padding-bottom: 10px;
}
.vid_block {
    float: left;
    margin-left: 15px;
    margin-bottom: 7px;
    width: 212px;
}
.vid_block tr td {
    xpadding: 2px;
}
#tag_list {
    text-align: left;
    line-height: 20px;
    padding: 4px;
}
#tag_list a {
    margin-left: 7px;
    background: #f0f0f0;
}
#search_top {
    margin-top: 3px;
    border: 2px solid #c8c8c8;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    color: #c0c0c0;
}
.block_yellow {
    background: #FFD;
    border: 1px solid #DD9;
    padding: 3px;
    margin: 2px;
}
.qlink {
    position: absolute;
    top: 25px;
    padding: 3px;
    right: 100px;
}
.login_bg li,
.register_bg li {
    text-align: left;
    list-style: none;
    line-height: 30px;
    display: block;
    padding-left: 5px;
}
.login_bg li a,
.register_bg li a {
    color: #3b3b3b;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    padding-left: 38px;
    line-height: 31px;
    height: 31px;
    display: block;
}
.tbl_pre {
    text-align: left;
    border-collapse: collapse;
}
.tbl_pre tr td,
.tbl1 tr th {
    border: 1px solid #c3c3c3;
    padding: 6px;
}
.tbl_pre tr td {
    font-size: 12px;
}
.tbl1 tr.hi td {
    background-color: #F3F3F3;
}
.tbl1 tr:hover td {}.tbl1 tr td.pub {
    background-color: #E0FFE0;
}
.tbl1 tr.hdr td,
.tbl1 th,
.hdr {
    background-color: #3c3a3a;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.tbl1 tr.hi2 td {
    background-color: #D9ECFF;
}
.admin_nav {
    padding-bottom: 7px;
    background-color: #AF100A;
}
.admin_nav a {
    color: #ffffff;
    font-family: 12px;
    text-decoration: none;
}
div.video_ad.bigone {
    position: absolute;
    left: 168px;
    right: 168px;
    width: 314px;
    height: 275px;
    z-index: 9999;
    border: 0px solid #bbb;
    background-color: ;
    white-space: nowrap;
    top: 2px;
}
div.video_ad.exit {
    position: absolute;
    left: 168px;
    right: 168px;
    width: 314px;
    height: 275px;
    z-index: 9999;
    border: 0px solid #bbb;
    background-color: ;
    white-space: nowrap;
    top: 2px;
}
div.video_ad.watch {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 468px;
    height: 60px;
    z-index: 999;
}
#closeads {
    float: right;
    padding: 6px 6px 0 0;
}
#closeads_exit {
    float: left;
    padding: 6px 6px 0 0;
}
#closeads_m {
    padding: 6px 6px 0 0;
}
.clear {
    clear: both;
}
#videolist {
    margin-left: -30px;
}
#videolist .video {
    float: left;
    padding: 10px 10px 10px 41px;
    width: 200px;
}
#videolist .video .image {
    position: relative;
}
#videolist .video .image img {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px #777;
    box-shadow: 0px 1px 3px 0px #777;
}
#videolist .video .title {
    margin-top: 8px;
    overflow: hidden;
}
#videolist .video .image .length {
    position: absolute;
    color: #FFF;
    right: 5px;
    bottom: 5px;
}
.sharebut {
    margin-top: -2px;
    vertical-align: top cursor: pointer;
}
.videodetail {
    margin: 15px auto 10px auto;
    width: 642px;
}
.videodetail .mobilink {
    border: 2px solid #FFB400;
    padding: 3px 3px;
    background: #F16E16;
    width: 300px;
    height: 25px;
    border-radius: 7px;
    horizontal-align: center;
    text-align: center
}
.videodetail .lb {
    float: left;
    margin-top: 10px;
    color: #333!important;
}
.videodetail .rb {
    float: right;
    color: #333!important;
}
.videodetail #tags {
    margin-top: 5px;
}
.mb20 {
    margin-bottom: 30px;
}
.spliter {
    padding: 0px 10px;
    font-size: 0.8em;
}
.divider {
    background-color: #ddd!important;
    border: #ddd!important;
    height: 1px;
}
.videodetail hr {
    background-color: #CCC;
    color: #CCC;
    border: 1px solid #CCC;
}
.topnav {}.topnav ul {
    margin: 20px 0 0 20px;
}
.topnav ul li {
    display: inline;
    color: #235B8C;
    margin-right: 10px;
    padding: 5px 10px 0 10px;
    cursor: pointer;
}
.topnav ul li.selected {
    background-color: #FFF;
    color: #DC9D28;
    font-weight: bold;
    border: 1px solid #D5D5D5;
    border-bottom: 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.topsea {
    display: none;
    float: right;
    padding: 15px 20px 0 0;
}
.topsea_cat {
    margin: auto;
    padding: 15px 20px 0 0;
}
.catlist {
    display: none;
    position: absolute;
    z-index: 9999;
    width: 210px;
    margin: -40px 0 0 -225px;
    background-color: #FFF;
    padding: 7px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 4px 0px #999;
    box-shadow: 1px 0px 4px 0px #999;
}
.catlist .box_hdr {
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    font: 16px Calibri, Verdana, Arial;
    color: #777;
    text-transform: capitalize;
}
.catlist .tagitem {
    margin-top: 18px;
}
.content-1col-nobox table {
    margin-left: 20px;
}
.commentbot span {
    margin: 15px auto 10px auto;
    width: 642px;
    height: auto;
}
.box_body .vid_block .txt11 div {
    text-align: left;
}
.coverBox,
.coverList {
    margin: 6px 0;
    margin-left: -2px
}
.coverBox li,
.coverList li {
    display: inline-block;
    vertical-align: top;
    padding-left: 3px;
    position: relative;
    width: 150px;
    padding-bottom: 15px
}
.coverBox li img,
.coverList li img {
    display: block
}
.coverBox li .wrapper,
.coverList li .wrapper {
    display: block;
    position: relative;
    margin-top: -7px;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-in-out 0s
}
.coverBox li .wrapper a,
.coverList li .wrapper a {
    display: block;
    text-decoration: none
}
.coverBox li .wrapper .cover,
.coverList li .wrapper .cover {
    display: inline-block;
    position: relative
}
.coverBox li .wrapper .cover:after,
.coverList li .wrapper .cover:after {
    background: transparent;
    position: absolute;
    width: 140px;
    height: 204px;
    left: 0;
    content: "";
    -moz-transition: ease-in-out 450ms;
    -o-transition: ease-in-out 450ms;
    -webkit-transition: ease-in-out 450ms;
    transition: ease-in-out 450ms;
    top: 0
}
.coverBox li .wrapper ul,
.coverList li .wrapper ul {
    position: absolute;
    color: #fff;
    bottom: 10px;
    z-index: 1;
    opacity: 0
}
.coverBox li .wrapper ul li .fontIcon,
.coverList li .wrapper ul li .fontIcon {
    vertical-align: -1px;
    padding-right: 5px
}
.coverBox li .wrapper:hover .cover:after,
.coverList li .wrapper:hover .cover:after {
    background: rgba(0, 0, 0, 0.62);
    opacity: 1
}
.coverBox li .wrapper:hover:before,
.coverList li .wrapper:hover:before {
    left: 28px;
    background: none
}
.coverBox li .wrapper:hover:after,
.coverList li .wrapper:hover:after {
    opacity: 1;
    background: none
}
.coverBox li .wrapper:hover ul,
.coverList li .wrapper:hover ul {
    opacity: 1
}
.coverBox li .name,
.coverList li .name {
    max-height: 70px;
    overflow: hidden;
    display: block;
    color: #585858;
    max-width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: middle
}
.coverBox li:hover .linksCount,
.coverList li:hover .linksCount {
    opacity: 1
}
.coverBox .name {
    display: none
}
.coverImage {
    position: relative;
    margin-bottom: 5px
}
.coverImage img {
    -moz-border-radius: 3.1px;
    -webkit-border-radius: 3.1px;
    border-radius: 3.1px
}
.name {
    display: inline-block;
    font-family: Calibri;
    padding-top: 3px
}
.navindex {
    background: url(http://www.vodlocker.com/images/nav_bg.png) repeat-x;
    line-height: 25px;
    color: #F7F7F7;
    font-family: Calibri;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 15px;
    white-space: nowrap;
}
ul.page-numbers {
    list-style: none;
    margin-left: 20px;
    margin-bottom: 10px;
}
.page-numbers:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
ul.page-numbers li {
    display: block;
    float: left;
    margin: 0 4px 4px 0;
    text-align: center;
}
.page-numbers a,
.page-numbers span {
    line-height: 1.6em;
    display: block;
    padding: 0 6px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #888;
}
.page-numbers a span {
    padding: 0
}
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover {
    color: #000;
    background: #f7f7f7;
    text-decoration: none;
}
.page-numbers:hover {
    text-decoration: none
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



table {
  color: #333;
  font-family: Calibri;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #ed1c40;
  margin: 50px auto;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
  border-radius: 2px;
}

thead tr:first-child {
  background: #ed1c40;
  color: #fff;
  border: none;
}

th {font-weight: bold;}
th:first-child, td:first-child {padding: 0 15px 0 20px;}

thead tr:last-child th {border-bottom: 3px solid #ddd;}

tbody tr:hover {background-color: rgba(237,28,64,.1);}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}





ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
margin-left:5px;
margin-bottom:5px;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}

ul.triple{
  width:100%;
  margin-bottom:20px;
  overflow:hidden;
}

#triple li  {
float:left;
display:inline;
width:33.3333333%; 
padding-left:10px;padding-top:7px;padding-bottom:7px;
}

#triple li:nth-child(even) {
background-color:#f4f4f4;
}

.seasons {
    font-family: 'Lucida Grande', Arial, Helvetica, Verdana, sans-serif;
    padding: 6px 5px 5px 5px;
    margin: 0 0 1px 0;
    border: none;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
    background-color: #868686;
    text-transform: uppercase;
}