body {
    font-size: 62.5%;
    background-color: rgb(240, 240, 240);
    font-family: arial, sans-serif;
}
.container {
    padding-bottom: 0px;
    margin: 0 auto;
    font-size: 1.0em;
}
.header {
    height: 91px;
    xmin-height: 91px;
    height: 91px!important;
    xheight: 91px;
    background: url(http://www.vodlocker.com/images/header_bg.png) repeat-x;
    font-size: 1.0em;
}
.header-top {
    clear: both;
    width: 958px;
    height: 80px;
    background: rgb(218, 218, 218) url(http://www.vodlocker.com/img/bg_header_top.jpg) repeat-x;
    font-size: 13px;
}
.header-bottom {
    clear: both;
    width: 958px;
    min-height: 20px;
    height: auto!important;
    height: 20px;
    background: rgb(225, 225, 225) url(http://www.vodlocker.com/img/bg_header_bottom.jpg) repeat-x;
    font-size: 13px;
}
.navbar {
    background: url(http://www.vodlocker.com/images/nav_bg.png) repeat-x;
    white-space: nowrap;
    float: left;
    width: 100%;
}
.main {
    clear: both;
    width: 868px;
    padding: 2px 0 2px 0;
    font-size: 1.0em;
}
.content {
    display: inline;
    ;
    float: left;
    width: 868px;
    font-size: 13px;
    overflow: visible!important;
    overflow: hidden;
}
.footer {
    clear: both;
    width: 868px;
    padding: 5px 0 5px 0;
    font-size: 1.1em!important;
    font-size: 1.0em;
    overflow: visible!important;
    overflow: hidden;
}
.content_bg {
    background: url("http://www.vodlocker.com/images/content_bg.png") repeat-x scroll 0 0 transparent;
    min-height: 474px;
}
.sitelogo {
    xposition: absolute;
    z-index: 1;
    margin: 5px 0 0 0px;
}
.sitename {
    width: 300px;
    height: 70px;
    position: absolute;
    z-index: 1;
    margin: 27px 0 0 170px;
    overflow: hidden;
}
.sitename h1 {
    font-family: "trebuchet ms", arial, sans serif;
    font-weight: normal;
    font-size: 290%!important;
    font-size: 260%;
}
.sitename h2 {
    font-family: verdana, arial, sans serif;
    margin-top: -5px;
    padding-bottom: 2px;
    color: rgb(125, 125, 125);
    height: 20px;
    font-weight: normal;
    font-size: 130%!important;
    font-size: 120%;
}
.sitename a {
    text-decoration: none;
    color: rgb(125, 125, 125);
}
.sitename a:hover {
    text-decoration: none;
}
.navbutton {
    width: 400px;
    position: absolute;
    z-index: 2;
    margin-top: 26px;
    margin-left: 547px!important;
    margin-left: 550px;
}
.navbutton ul {
    float: right;
}
.navbutton li {
    display: inline;
    list-style: none;
}
.navbutton li a {
    padding-left: 3px;
}
.navbutton a:hover {
    text-decoration: none;
}
.navbutton a img {
    height: 32px;
}
.navglobal {
    width: 600px;
    position: absolute;
    z-index: 3;
    margin-top: 65px;
    margin-left: 349px!important;
    margin-left: 351px;
}
.navglobal ul {
    float: right;
    font-weight: normal;
}
.navglobal li {
    display: inline;
    list-style: none;
}
.navglobal li a {
    display: block;
    float: left;
    padding: 2px 5px 2px 5px;
    color: rgb(125, 125, 125);
    text-decoration: none;
    font-size: 130%!important;
    font-size: 120%;
}
.navglobal a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header-bottom .searchform {
    float: right;
    width: 430px;
}
.header-bottom .searchform form fieldset {
    float: right;
    border: none;
    padding-top: 5px;
    padding-right: 10px;
}
.header-bottom .searchform input.field {
    width: 15.0em;
    height: 1.2em;
    padding: 1px!important;
    padding: 2px;
    border: solid 1px rgb(200, 200, 200);
    background-color: rgb(255, 255, 255);
    font-size: 110%!important;
    font-size: 100%;
}
.header-bottom .searchform input.button {
    width: 4.5em;
    height: 1.6em;
    background-color: rgb(240, 240, 240);
    border: solid 1px rgb(150, 150, 150);
    text-align: center;
    color: rgb(100, 100, 100);
    font-size: 110%!important;
    font-size: 100%;
}
.header-bottom .searchform input.button:hover {
    cursor: pointer;
    border: solid 1px rgb(80, 80, 80);
    background-color: rgb(220, 220, 220);
    color: rgb(80, 80, 80);
}
.navbar li.dvr {
    padding-left: 42px;
    padding-right: 42px;
}
.navbar ul {
    list-style-type: none;
    line-height: 36px;
}
.navbar ul li {
    float: left;
    z-index: auto!important;
    z-index: 1000;
}
.navbar ul li a {
    float: none!important;
    float: left;
    display: block;
    color: #F7F7F7;
    font-family: Calibri;
    font-size: 16px;
    line-height: 36px;
    text-decoration: none;
}
.navbar ul li ul {
    display: none;
    border: none;
}
.navbar ul li:hover {
    position: relative;
}
.navbar ul li:hover a {
    text-decoration: none;
}
.navbar ul li:hover ul {
    display: block;
    width: 10.0em;
    position: absolute;
    z-index: 1000;
    top: 3.0em;
    margin-top: 0.1em;
    left: 0;
    padding: 0px 16px 0px 16px;
    border-top: solid 1px rgb(215, 215, 215);
}
.navbar ul li:hover ul li a {
    white-space: normal;
    display: block;
    width: 10.0em;
    height: auto;
    line-height: 1.3em;
    margin-left: -17px;
    padding: 4px 16px 4px 16px;
    border-right: solid 1px rgb(215, 215, 215);
    border-left: solid 1px rgb(215, 215, 215);
    border-bottom: solid 1px rgb(215, 215, 215);
    background-color: rgb(235, 235, 235);
    font-weight: normal;
    color: rgb(100, 100, 100);
}
.navbar ul li:hover ul li a:hover {
    text-decoration: none;
}
.navbar table {
    position: absolute;
    z-index: 1000;
    top: 0px;
    left: -1px;
    border-collapse: collapse;
}
.navbar ul li a:hover {
    position: relative;
    z-index: 1000;
    text-decoration: none;
}
.navbar ul li a:hover ul {
    display: block;
    width: 10.0em;
    position: absolute;
    z-index: 1000;
    top: 3.1em;
    t\op: 3.0em;
    left: 0px;
    marg\in-top: 0.1em;
    border-top: solid 1px rgb(215, 215, 215);
}
.navbar ul li a:hover ul li a {
    white-space: normal;
    display: block;
    w\idth: 10.0em;
    height: 1px;
    line-height: 1.3em;
    padding: 4px 16px 4px 16px;
    border-right: solid 1px rgb(215, 215, 215);
    border-left: solid 1px rgb(215, 215, 215);
    border-bottom: solid 1px rgb(215, 215, 215);
    background-color: rgb(235, 235, 235);
    font-weight: normal;
    color: rgb(100, 100, 100);
}
.navbar ul li a:hover ul li a:hover {
    background-color: rgb(225, 225, 225);
    text-decoration: none;
}
.content-1col-nobox {
    width: 868px;
    background-color: rgb(255, 255, 255);
    padding-top: 3px;
    background-color: #fff;
}
.content-2col-nobox-leftcolumn {
    display: inline;
    float: left;
    width: 478px;
    border-right: solid 1px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
}
.content-2col-nobox-rightcolumn {
    display: inline;
    float: right;
    width: 478px;
    border-left: solid 1px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
}
.content-3col-nobox-leftcolumn {
    display: inline;
    float: left;
    width: 318px;
    border-right: solid 1px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
}
.content-3col-nobox-middlecolumn {
    display: inline;
    float: left;
    width: 318px;
    border-left: solid 1px rgb(215, 215, 215);
    border-right: solid 1px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
}
.content-3col-nobox-rightcolumn {
    display: inline;
    float: right;
    width: 318px;
    border-left: solid 1px rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);
}
.content-1col-box {
    width: 958px;
    background-color: transparent;
}
.content-2col-box-leftcolumn {
    display: inline;
    float: left;
    width: 474px;
    background-color: transparent;
}
.content-2col-box-rightcolumn {
    display: inline;
    float: right;
    width: 474px;
    background-color: transparent;
}
.content-2col-box {
    width: 474px;
    background-color: rgb(255, 255, 255);
}
.content-3col-box-leftcolumn {
    display: inline;
    float: left;
    width: 313px;
    background-color: transparent;
}
.content-3col-box-middlecolumn {
    display: inline;
    float: left;
    margin-left: 10px;
    width: 313px;
    background-color: transparent;
}
.content-3col-box-rightcolumn {
    display: inline;
    float: right;
    width: 313px;
    background-color: transparent;
}
.content-3col-box {
    width: 313px;
    background-color: rgb(255, 255, 255);
}
.footer p {
    clear: both;
    line-height: 1.3em;
    text-align: center;
    font-weight: normal;
    color: #FFAB00;
    font-size: 13px;
    text-decoration: none;
}
.footer p small,
.footer p small a {
    font-size: 11px;
    color: #333333!Important;
    text-decoration: none;
}
.footer p.credits {
    clear: both;
    font-weight: normal;
}
.footer a,
.footer a:visited {
    color: #FFAB00;
    font-size: 13px;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: none;
}
.container::after,
.header::after,
.header-top::after,
.header-bottom::after,
.navbar::after,
.main::after,
.content::after,
.content div::after,
.subcontent::after,
.subcontent div::after,
.footer::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.content-1col-nobox:after,
.content-2col-nobox-leftcolumn:after,
.content-2col-nobox-rightcolumn:after,
.content-3col-nobox-leftcolumn:after,
.content-3col-nobox-middlecolumn:after,
.content-3col-nobox-rightcolumn:after,
.content-1col-box:after,
.content-2col-box-leftcolumn:after,
.content-2col-box-rightcolumn:after,
.content-2col-box:after,
.content-3col-box-leftcolumn:after,
.content-3col-box-middlecolumn:after,
.content-3col-box-rightcolumn:after,
.content-3col-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.corner-content-1col-top:after,
.corner-content-1col-bottom:after,
.corner-content-2col-top:after,
.corner-content-2col-bottom:after,
.corner-subcontent-top:after,
.corner-subcontent-bottom:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
p:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.taboola-below-article-thumbnails-2nd {
    !important;
}
.taboolac {
    !important;
}
.trc_related_container,
.trc_spotlight_widget,
.trc_elastic,
.trc_elastic_trc_12699 {
    !important;
}
@media print {
    .content-2col-nobox-rightcolumn {
        display: inline;
        float: right;
        width: 313px;
        border-left: none;
        background-color: rgb(255, 255, 255);
    }
}
@media print {
    .content-3col-nobox-rightcolumn {
        display: inline;
        float: right;
        width: 313px;
        border-left: none;
        background-color: rgb(255, 255, 255);
    }
}
.main p.demo {
    margin: 0;
    padding: 10px 20px 50px 20px;
}