.col-left .content-list .style-thumbnail ul li  .tr, .col-left .content-list .box .body .left .tr, .slider .slider-container .slides ul li .tr {
    background: url("../img/tr.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 84px;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
    width: 90px;
    z-index: 99;
}
.col-left .content-list .style-thumbnail ul li  .altyazili, .col-left .content-list .box .body .left .altyazili, .slider .slider-container .slides ul li .altyazili{
    background: url("../img/altyazi.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 84px;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
    width: 90px;
    z-index: 99;
}
.col-left .content-list .style-thumbnail ul li  .yerli, .col-left .content-list .box .body .left .yerli, .slider .slider-container .slides ul li .yerli {
    background: url("../img/yerli.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 84px;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
    width: 90px;
    z-index: 99;
}
.col-left .content-list .style-thumbnail ul li  .k1080, .col-left .content-list .box .body .left .k1080, .slider .slider-container .slides ul li .k1080 {
    background: url("../img/1080.png") no-repeat scroll 80px center rgba(0, 0, 0, 0);
    float: left;
    height: 40px;
    margin-left: 13px;
    position: absolute;
    width: 125px;
    z-index: 99;
}
.col-left .content-list .style-thumbnail ul li  .k720, .col-left .content-list .box .body .left .k720,.slider .slider-container .slides ul li .k720 {
    background: url("../img/720.png") no-repeat scroll 80px center rgba(0, 0, 0, 0);
    float: left;
    height: 40px;
    margin-left: 13px;
    position: absolute;
    width: 125px;
    z-index: 99;
}
.col-left .content-list .style-thumbnail ul li  .k480, .col-left .content-list .box .body .left .k480, .slider .slider-container .slides ul li .k480 {
    background: url("../img/480.png") no-repeat scroll 80px center rgba(0, 0, 0, 0);
    float: left;
    height: 40px;
    margin-left: 13px;
    position: absolute;
    width: 125px;
    z-index: 99;
}
.col-left .content-list .style-thumbnail ul li  .k360, .col-left .content-list .box .body .left .k360, .slider .slider-container .slides ul li .k360 {
    background: url("../img/360.png") no-repeat scroll 80px center rgba(0, 0, 0, 0);
    float: left;
    height: 40px;
    margin-left: 13px;
    position: absolute;
    width: 125px;
    z-index: 99;
}
.header .navigation ul>li
{
    padding-right: 0px !important;
}
.header .navigation ul>li.home
{
    padding-right: 15px !important;
}
.col-left .col-top .list-switcher li a
{
    padding: 0px 5px !important;
}
.col-left .col-top {
    padding: 10px 11px 5px !important;
}

.manga_updates{padding:10px 5px 0 5px;}
.manga_updates dl{margin-bottom: 17px;
    border-bottom: 1px dashed #ccc;}
.manga_updates dt{line-height:16px; height:16px;    }
.manga_updates dt a{color:#0077cc;}
.manga_updates dt .time{float:right;}
.manga_updates dd{line-height:22px; margin-left:24px; *zoom:1}
.manga_updates dd span{float:right; margin-right:10px;}
.manga_updates dt:after, .manga_updates dd:after{display:block; content:'clear'; clear:both; overflow:hidden; visibility:hidden; height:0;}
.manga_updates dd a { color: #45433F;}
.col-single .movie-meta {
    margin-top:0px !important;
}
.dl-horizontal .noBg
{
    background-color: white !important;
    padding: 0 !important;
    margin-top: 5px !important;
}
.chp_lst{
    margin:0 0 20px 0;
    list-style: none !important;
}
.chp_lst .val
{
    margin-left: -50px;

}
.chp_lst li{
    color:#000000;
    font-size:12px;
    line-height:20px
}

.chp_lst li a{
    color:#000000;
    text-decoration: none;
}

.chp_lst li a:hover{
    color:#335795;
}

.chp_list .icon-arrow-2
{
    color:#335795;
}

.chp_lst li .dte{
    float:right;
    display:inline-block;
    width:94px
}
.col-single .movie-meta .panel .panel-heading h1 {
    font-weight: bold !important;
    font-size: 14px;
}

.rm_rating {

}

.rm_rating>ul {
    list-style:none;
    padding:0;
    margin:0;
}

.rm_rating>ul>li {
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    color: white;
    padding-right: 10px;
}

.rm_rating>ul>li span[class^="icon-"] {
    vertical-align:-1px;
    color:#FFFFFF;
}

.col-right .similar-movies ul li {
    border-bottom: 1px dashed rgb(222, 209, 179);
}
.col-right .similar-movies img {
    width: 32px !important;
    height: 52px;
}
.col-right .similar-movies .mangaStatus {
    font-style: italic;
    font-size: 11px;
    margin-bottom: 8px;
}

.boldPanelTitle
{
    font-weight: bold !important;
    font-size: 14px;
}
.mangaChaterLink
{
    font-size: 12px;
    margin-right: 15px;
}

.footer .inner {
    padding: 12px !important;
}
.footer .inner .sitemap li a {
    font-size: 11px !important;
}
.footer .copyright {
    text-align: center;
}
.manga-list .manga-letters{
    text-align: center;
}

.manga-list .manga-letters a{
    background-color: #2C3E50;
    color: white;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
}
.manga-list .manga-letters a.active{
    background-color: rgb(211, 72, 54);
}

.manga-list-box
{
    margin-top:25px !important; border: 1px solid #eee;
    margin: 0 0 10px;
    padding: 5px;
}

.manga-item
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
}
.manga-item a
{
    color: #2C3E50;
}

.manga-list-box span.completed
{
    color: rgb(211, 72, 54);
    font-size: 10px;
}
.col-left .content-list .style-thumbnail ul li
{
    margin-right: 22px !important;
}
.col-left .content-list .style-thumbnail2 ul li:nth-child(4n+0) {
    margin-right: 22px !important;
}

div.manga-desc{
    background-color: #000;
    color: #fff;
    left: 0;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    top:0;
    text-align: center;
    font-size: 12px;
}

.col-left .content-list .style-thumbnail ul li a.thumbnail {
    border: 1px solid rgb(215, 212, 212) !important;
    border-radius: 0;
}

.col-left .content-list .box .title span[class^="icon-"] {
    padding: 11px 13px 8px !important;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    right:0px !important;
}
.col-left .content-list .box .title
{
    padding: 13px 13px 13px 12px !important;
}

.hot-manga .box
{
    background-color: #FFFFFF !important;
    border: 1px solid rgb(236, 228, 211);

}

.hot-manga .meta {
    background-color: #FFFFFF !important;
}
.hot-manga .right>ul>li {
    border-bottom: 0px !important;
    border-top: 0px !important;
    background-color: #FFFFFF !important;
}

.hot-manga .meta>ul li:last-child {
    border-right: 0px !important;
}
.hot-manga-dl-horizontal
{
    margin-bottom: 0px !important;
}

.hot-manga-dl-horizontal dt
{
    float: left !important;
    clear: left !important;
    text-align: right !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    font-size: 12px !important;
}
.hot-manga-dl-horizontal dd
{
    margin-left: 115px !important;
    background-color: #f5f1e8 !important;
    margin-bottom: 3px !important;
    padding: 2px 5px !important;
    font-size: 12px !important;
}

.no-effect
{
    color: #fff !important;
    text-shadow: none !important;
}

.no-effect span[class^="icon-"]
{
    color: #fff !important;
    text-shadow: none !important;
}
.col-left .content-list .box .body .right .summary {
    height: 85px !important;
}
div.manga-desc-index {
    background-color: #1a242f;
    color: #FFF;
    right: 0;
    opacity: 0.7;
    position: absolute;
    width: 25%;
    top: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
}

select.input-sm {
    height: 24px !important;
    font-size: 10px !important;
    padding: 1px 6px !important;
}

.img-responsive-2
{
    max-width: 100%;
}

.next-prev-links
{
    height: 24px;
    padding: 2px 8px !important;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    width: 45px;
    text-align: center;
}
.chapter_right_160x600
{
    position: absolute; top:0px; right:-170px;
}
.chapter_left_160x600
{
    position: absolute; top:0px; left:-170px;
}
.list-switcher-2
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.list-switcher-2 li {
    float: left;
}

.list-switcher-2 li a {
    display: block;
    background-color: #d34836;
    padding: 3px 6px !important;
    color: #fff;
    font-size: 15px;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
}

.list-switcher-2 li.report-err-btn
{
    margin-right: 5px;
}
.list-switcher-2 li.report-err-btn a
{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding: 3px 7px !important;
    background-color: #5CB85C !important;
}

.list-switcher-2 li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-switcher-2 li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.user-btns
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}


.user-btns li
{
    float: left;
}

.user-btns li a
{
    display: block;
    background-color: #d34836;
    padding: 4.7px 8px !important;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}

.user-btns li:first-child a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.user-btns li:last-child a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.user-btns li a.add_to_favorite_btn
{
    background-color:#5cb85c !important;
}

.user-btns li a.read_later_btn
{
    background-color:#5bc0de;
}
.page_chapter img
{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.page_chapter img.cursor-down
{
    cursor:url('../img/cursor-down.png'), auto;
}

.page_chapter img.cursor-right
{
    cursor:url('../img/cursor-right.png'), auto;
}
.page_chapter table{
    width: 100% !important;
}
.page_chapter img{
    max-width: 100% !important;
}
.resize-enlarge
{
    display: block;
    background-color: #FFFFFF;
    padding: 4.7px 8px !important;
    font-weight: bold;
    color: #555;
    font-size: 11px;
    text-decoration: none !important;
    border-radius: 4px;
}

.enlarge
{
    max-width: 95% !important;
}

.form-advanced
{
    font-size: 13px !important;
}
.form-advanced .col-md-9
{
    padding-right: 24px;
    padding-bottom: 4px;
}
.form-advanced .col-md-9 .form-control
{
    height: 27px;
    padding:5px;
}

.form-advanced ul.col-md-4
{
    list-style-type: none;
}

.manga-cat li
{
    cursor:pointer;
}
.manga-cat span
{
    width: 10px;
    height: 10px;
    background-color: #d34836;
    float: left;
    margin-top: 4px;
    margin-right: 9px;
}

.manga-cat span.icon-checkmark
{
    background-color: #FDFCFA !important;
    color: #2BCF69;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 9px;
}

.manga-cat span.icon-cross
{
    background-color: #FDFCFA !important;
    color: #ff0006;
    font-size: 18px;
    margin-top: 0px;
    margin-right: 9px;
}

.x-title
{
    background: #2c3e50;
    padding: 10px 5px 10px 10px;
    color: #fff!important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    margin: 13px 0 17px 0;
}

.x-title h3
{
    font-weight: bold;
    color: #fff!important;
    vertical-align: middle;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
.slider .slider-container .slides ul li a{
    font-weight: bold;

}
.manga-mini-title
{
    padding: 3px 5px;
    background-color: #2c3e50;
    font-size: 11px;
    border-radius: 4px;
}
.manga-mini-title a
{
    color: #fff;
}
.col-single .content-list .ratings ul
{
    margin-bottom: 30px;
}
.col-single .content-list .ratings
{
    padding-top: 0px !important;
}
.col-single .content-list .ratings ul li a {
    padding: 5px 28px 5px 20px !important;
}

.an-profile .alert
{
    margin-top:10px;
}
.col-left .content-list {
    background-color: #FFFFFF !important;
}
.hot-manga-color
{
    color: #d34836;
    margin-left: 10px;
    font-size: 12px;
    font-weight: bolder;
}

i.raw
{
    color:rgb(0, 199, 0) !important;
}
i.spoiler
{
    color:rgb(255, 174, 0) !important;
}

div#pageUpBtn{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 4%;
    right: 2%;
    display: none;
    text-indent: -9999px;
    background: url(../img/up.jpg) no-repeat;
    z-index: 999;
    cursor: pointer;
}
.tools .dropdown-backdrop { z-index: 0; }
.col-right .latest-comments>ul>li .comment{
    word-break: break-all;
    word-wrap: break-word;
}

.fixed_thumbs{
    width: 134px !important;
    height: 166px !important;
}

.rectangle_thumbs{
    width: 52px !important;
    height: 67px !important;
}
