@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("fontello/fontello.eot");
  src: url("fontello/fontello.eot?#iefix") format('embedded-opentype'), url("fontello/fontello.woff") format('woff'), url("fontello/fontello.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello-social';
  src: url("fontello/fontello-social.eot");
  src: url("fontello/fontello-social.eot?#iefix") format('embedded-opentype'), url("fontello/fontello-social.woff") format('woff'), url("fontello/fontello-social.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

[class^="social-"]:before,
[class*=" social-"]:before {
  font-family: 'fontello-social';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  line-height: 1em;
}

.icon-plus:before { content: '\2b'; } /* '+' */
.icon-plus-1:before { content: '\e817'; } /* '' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-minus-1:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-left-thin:before { content: '\2190'; } /* '←' */
.icon-left-1:before { content: '\e847'; } /* '' */
.icon-up-thin:before { content: '\2191'; } /* '↑' */
.icon-up-1:before { content: '\e845'; } /* '' */
.icon-right-thin:before { content: '\2192'; } /* '→' */
.icon-right-1:before { content: '\e846'; } /* '' */
.icon-down-thin:before { content: '\2193'; } /* '↓' */
.icon-down-1:before { content: '\e848'; } /* '' */
.icon-level-up:before { content: '\21b0'; } /* '↰' */
.icon-level-down:before { content: '\21b3'; } /* '↳' */
.icon-switch:before { content: '\21c6'; } /* '⇆' */
.icon-infinity:before { content: '\221e'; } /* '∞' */
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-home-1:before { content: '\e811'; } /* '' */
.icon-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-erase:before { content: '\232b'; } /* '⌫' */
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-pause-1:before { content: '\e851'; } /* '' */
.icon-fast-forward:before { content: '\23e9'; } /* '⏩' */
.icon-fast-fw:before { content: '\e856'; } /* '' */
.icon-fast-backward:before { content: '\23ea'; } /* '⏪' */
.icon-fast-bw:before { content: '\e857'; } /* '' */
.icon-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-to-end-1:before { content: '\e852'; } /* '' */
.icon-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-to-start-1:before { content: '\e854'; } /* '' */
.icon-hourglass:before { content: '\23f3'; } /* '⏳' */
.icon-stop:before { content: '\25a0'; } /* '■' */
.icon-stop-1:before { content: '\25aa'; } /* '▪' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-up-dir-1:before { content: '\e841'; } /* '' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-play-1:before { content: '\e84f'; } /* '' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-right-dir-1:before { content: '\e84d'; } /* '' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-down-dir-1:before { content: '\e840'; } /* '' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-left-dir-1:before { content: '\e842'; } /* '' */
.icon-adjust:before { content: '\25d1'; } /* '◑' */
.icon-cloud:before { content: '\2601'; } /* '☁' */
.icon-cloud-1:before { content: '\e85c'; } /* '' */
.icon-umbrella:before { content: '\2602'; } /* '☂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-1:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-star-empty-1:before { content: '\e806'; } /* '' */
.icon-check-1:before { content: '\2611'; } /* '☑' */
.icon-cup:before { content: '\2615'; } /* '☕' */
.icon-left-hand:before { content: '\261c'; } /* '☜' */
.icon-up-hand:before { content: '\261d'; } /* '☝' */
.icon-right-hand:before { content: '\261e'; } /* '☞' */
.icon-down-hand:before { content: '\261f'; } /* '☟' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-th-list:before { content: '\e81b'; } /* '' */
.icon-moon:before { content: '\263d'; } /* '☽' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart-empty-1:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-heart-1:before { content: '\e803'; } /* '' */
.icon-note:before { content: '\266a'; } /* '♪' */
.icon-note-beamed:before { content: '\266b'; } /* '♫' */
.icon-music-1:before { content: '\e800'; } /* '' */
.icon-th:before { content: '\268f'; } /* '⚏' */
.icon-layout:before { content: '\e80c'; } /* '' */
.icon-flag:before { content: '\2691'; } /* '⚑' */
.icon-flag-1:before { content: '\e81f'; } /* '' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-1:before { content: '\e82e'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-attention-1:before { content: '\e834'; } /* '' */
.icon-flash:before { content: '\26a1'; } /* '⚡' */
.icon-flash-1:before { content: '\e85d'; } /* '' */
.icon-record:before { content: '\26ab'; } /* '⚫' */
.icon-cloud-thunder:before { content: '\26c8'; } /* '⛈' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-scissors:before { content: '\2702'; } /* '✂' */
.icon-tape:before { content: '\2707'; } /* '✇' */
.icon-flight:before { content: '\2708'; } /* '✈' */
.icon-flight-1:before { content: '\e86f'; } /* '' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-pencil-1:before { content: '\e826'; } /* '' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-ok:before { content: '\e81a'; } /* '' */
.icon-ok-circle:before { content: '\2714'; } /* '✔' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-1:before { content: '\e819'; } /* '' */
.icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.icon-cancel-circle:before { content: '\e818'; } /* '' */
.icon-asterisk:before { content: '\2731'; } /* '✱' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-attention-circle:before { content: '\2757'; } /* '❗' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-plus-circle:before { content: '\e815'; } /* '' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-minus-circle:before { content: '\e814'; } /* '' */
.icon-right:before { content: '\27a1'; } /* '➡' */
.icon-direction:before { content: '\27a2'; } /* '➢' */
.icon-forward:before { content: '\27a6'; } /* '➦' */
.icon-forward-1:before { content: '\e824'; } /* '' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-cw-1:before { content: '\e844'; } /* '' */
.icon-left:before { content: '\2b05'; } /* '⬅' */
.icon-up:before { content: '\2b06'; } /* '⬆' */
.icon-down:before { content: '\2b07'; } /* '⬇' */
.icon-resize-vertical:before { content: '\2b0c'; } /* '⬌' */
.icon-resize-horizontal:before { content: '\2b0d'; } /* '⬍' */
.icon-eject:before { content: '\2ecf'; } /* '⻏' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-list:before { content: '\e005'; } /* '' */
.icon-left-bold:before { content: '\e4ad'; } /* '' */
.icon-right-bold:before { content: '\e4ae'; } /* '' */
.icon-up-bold:before { content: '\e4af'; } /* '' */
.icon-down-bold:before { content: '\e4b0'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-star-half:before { content: '\e701'; } /* '' */
.icon-ok-circle2:before { content: '\e702'; } /* '' */
.icon-cancel-circle2:before { content: '\e703'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-help-circle:before { content: '\e813'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-info-circle:before { content: '\e812'; } /* '' */
.icon-th-large:before { content: '\e708'; } /* '' */
.icon-eye:before { content: '\e70a'; } /* '' */
.icon-eye-1:before { content: '\e81c'; } /* '' */
.icon-eye-off:before { content: '\e70b'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tag-1:before { content: '\e81d'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-camera-alt:before { content: '\e70f'; } /* '' */
.icon-upload-cloud:before { content: '\e711'; } /* '' */
.icon-reply:before { content: '\e712'; } /* '' */
.icon-reply-all:before { content: '\e713'; } /* '' */
.icon-code:before { content: '\e714'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-export-1:before { content: '\e825'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-print-1:before { content: '\e827'; } /* '' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-retweet-1:before { content: '\e828'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-comment-1:before { content: '\e829'; } /* '' */
.icon-chat:before { content: '\e720'; } /* '' */
.icon-chat-1:before { content: '\e82a'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-location-1:before { content: '\e833'; } /* '' */
.icon-map:before { content: '\e727'; } /* '' */
.icon-compass:before { content: '\e728'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-trash-1:before { content: '\e832'; } /* '' */
.icon-doc:before { content: '\e730'; } /* '' */
.icon-doc-text-inv:before { content: '\e731'; } /* '' */
.icon-docs:before { content: '\e736'; } /* '' */
.icon-doc-landscape:before { content: '\e737'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-share:before { content: '\e73c'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-basket-1:before { content: '\e82d'; } /* '' */
.icon-shareable:before { content: '\e73e'; } /* '' */
.icon-login:before { content: '\e740'; } /* '' */
.icon-login-1:before { content: '\e82b'; } /* '' */
.icon-logout:before { content: '\e741'; } /* '' */
.icon-logout-1:before { content: '\e836'; } /* '' */
.icon-volume:before { content: '\e742'; } /* '' */
.icon-resize-full:before { content: '\e744'; } /* '' */
.icon-resize-full-1:before { content: '\e83b'; } /* '' */
.icon-resize-small:before { content: '\e746'; } /* '' */
.icon-resize-small-1:before { content: '\e83c'; } /* '' */
.icon-popup:before { content: '\e74c'; } /* '' */
.icon-publish:before { content: '\e74d'; } /* '' */
.icon-window:before { content: '\e74e'; } /* '' */
.icon-arrow-combo:before { content: '\e74f'; } /* '' */
.icon-zoom-in:before { content: '\e750'; } /* '' */
.icon-chart-pie:before { content: '\e751'; } /* '' */
.icon-zoom-out:before { content: '\e83d'; } /* '' */
.icon-language:before { content: '\e752'; } /* '' */
.icon-air:before { content: '\e753'; } /* '' */
.icon-database:before { content: '\e754'; } /* '' */
.icon-drive:before { content: '\e755'; } /* '' */
.icon-bucket:before { content: '\e756'; } /* '' */
.icon-thermometer:before { content: '\e757'; } /* '' */
.icon-down-circled:before { content: '\e758'; } /* '' */
.icon-down-circle2:before { content: '\e83e'; } /* '' */
.icon-left-circled:before { content: '\e759'; } /* '' */
.icon-right-circled:before { content: '\e75a'; } /* '' */
.icon-up-circled:before { content: '\e75b'; } /* '' */
.icon-up-circle2:before { content: '\e83f'; } /* '' */
.icon-down-open:before { content: '\e75c'; } /* '' */
.icon-down-open-1:before { content: '\e84c'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-left-open-1:before { content: '\e84b'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e84a'; } /* '' */
.icon-up-open:before { content: '\e75f'; } /* '' */
.icon-up-open-1:before { content: '\e849'; } /* '' */
.icon-down-open-mini:before { content: '\e760'; } /* '' */
.icon-arrows-cw:before { content: '\e843'; } /* '' */
.icon-left-open-mini:before { content: '\e761'; } /* '' */
.icon-play-circle2:before { content: '\e850'; } /* '' */
.icon-right-open-mini:before { content: '\e762'; } /* '' */
.icon-to-end-alt:before { content: '\e853'; } /* '' */
.icon-up-open-mini:before { content: '\e763'; } /* '' */
.icon-to-start-alt:before { content: '\e855'; } /* '' */
.icon-down-open-big:before { content: '\e764'; } /* '' */
.icon-left-open-big:before { content: '\e765'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-up-open-big:before { content: '\e767'; } /* '' */
.icon-progress-0:before { content: '\e768'; } /* '' */
.icon-progress-1:before { content: '\e769'; } /* '' */
.icon-progress-2:before { content: '\e76a'; } /* '' */
.icon-progress-3:before { content: '\e76b'; } /* '' */
.icon-back-in-time:before { content: '\e771'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-inbox:before { content: '\e777'; } /* '' */
.icon-inbox-1:before { content: '\e85a'; } /* '' */
.icon-install:before { content: '\e778'; } /* '' */
.icon-font:before { content: '\e779'; } /* '' */
.icon-bold:before { content: '\e77a'; } /* '' */
.icon-italic:before { content: '\e77b'; } /* '' */
.icon-text-height:before { content: '\e77c'; } /* '' */
.icon-text-width:before { content: '\e77d'; } /* '' */
.icon-align-left:before { content: '\e77e'; } /* '' */
.icon-align-center:before { content: '\e77f'; } /* '' */
.icon-align-right:before { content: '\e780'; } /* '' */
.icon-align-justify:before { content: '\e781'; } /* '' */
.icon-list-1:before { content: '\e782'; } /* '' */
.icon-indent-left:before { content: '\e783'; } /* '' */
.icon-indent-right:before { content: '\e784'; } /* '' */
.icon-lifebuoy:before { content: '\e788'; } /* '' */
.icon-mouse:before { content: '\e789'; } /* '' */
.icon-dot:before { content: '\e78b'; } /* '' */
.icon-dot-2:before { content: '\e78c'; } /* '' */
.icon-dot-3:before { content: '\e78d'; } /* '' */
.icon-suitcase:before { content: '\e78e'; } /* '' */
.icon-off:before { content: '\e86a'; } /* '' */
.icon-road:before { content: '\e78f'; } /* '' */
.icon-flow-cascade:before { content: '\e790'; } /* '' */
.icon-list-alt:before { content: '\e869'; } /* '' */
.icon-flow-branch:before { content: '\e791'; } /* '' */
.icon-qrcode:before { content: '\e868'; } /* '' */
.icon-flow-tree:before { content: '\e792'; } /* '' */
.icon-barcode:before { content: '\e867'; } /* '' */
.icon-flow-line:before { content: '\e793'; } /* '' */
.icon-ajust:before { content: '\e865'; } /* '' */
.icon-flow-parallel:before { content: '\e794'; } /* '' */
.icon-tint:before { content: '\e864'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-paper-plane:before { content: '\e79b'; } /* '' */
.icon-magnet:before { content: '\e7a1'; } /* '' */
.icon-magnet-1:before { content: '\e863'; } /* '' */
.icon-gauge:before { content: '\e7a2'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-cc-by:before { content: '\e7a6'; } /* '' */
.icon-cc-nc:before { content: '\e7a7'; } /* '' */
.icon-cc-nc-eu:before { content: '\e7a8'; } /* '' */
.icon-cc-nc-jp:before { content: '\e7a9'; } /* '' */
.icon-cc-sa:before { content: '\e7aa'; } /* '' */
.icon-cc-nd:before { content: '\e7ab'; } /* '' */
.icon-cc-pd:before { content: '\e7ac'; } /* '' */
.icon-cc-zero:before { content: '\e7ad'; } /* '' */
.icon-cc-share:before { content: '\e7ae'; } /* '' */
.icon-cc-remix:before { content: '\e7af'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
/*.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-rss-1:before { content: '\f09e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-left-circled-1:before { content: '\f0a8'; } /* '' */
.icon-right-circled-1:before { content: '\f0a9'; } /* '' */
.icon-up-circled-1:before { content: '\f0aa'; } /* '' */
.icon-down-circled-1:before { content: '\f0ab'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs-1:before { content: '\f0c5'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu-1:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-strike:before { content: '\f0cc'; } /* '' */
.icon-underline:before { content: '\f0cd'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-pinterest-circled-1:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-columns:before { content: '\f0db'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-gauge-1:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-user-md:before { content: '\f200'; } /* '' */
.icon-s-github:before { content: '\f300'; } /* '' */
.icon-github-squared:before { content: '\e862'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-s-flickr:before { content: '\f303'; } /* '' */
.icon-twitter-squared:before { content: '\e85f'; } /* '' */
.icon-s-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
/*.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-s-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
/*.icon-s-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin-squared:before { content: '\e870'; } /* '' */
/*.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-s-gplus:before { content: '\f30f'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-s-pinterest:before { content: '\f312'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-s-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-s-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-s-dribbble:before { content: '\f31b'; } /* '' */
.icon-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-s-stumbleupon:before { content: '\f31e'; } /* '' */
.icon-stumbleupon-circled:before { content: '\f31f'; } /* '' */
.icon-s-lastfm:before { content: '\f321'; } /* '' */
.icon-lastfm-circled:before { content: '\f322'; } /* '' */
.icon-rdio:before { content: '\f324'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-s-spotify-circled:before { content: '\f328'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */
.icon-s-instagrem:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-s-evernote:before { content: '\f333'; } /* '' */
.icon-flattr:before { content: '\f336'; } /* '' */
.icon-s-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-renren:before { content: '\f33c'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-s-paypal:before { content: '\f342'; } /* '' */
.icon-s-picasa:before { content: '\f345'; } /* '' */
.icon-s-soundcloud:before { content: '\f348'; } /* '' */
.icon-s-behance:before { content: '\f34e'; } /* '' */
.icon-google-circles:before { content: '\f351'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-smashing:before { content: '\f357'; } /* '' */
.icon-db-shape:before { content: '\f600'; } /* '' */
.icon-sweden:before { content: '\f601'; } /* '' */
.icon-logo-db:before { content: '\f603'; } /* '' */
.icon-picture:before { content: '\f304'; } /* '' */
.icon-picture-1:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\f30e'; } /* '' */
.icon-globe-1:before { content: '\e85b'; } /* '' */
.icon-leaf-1:before { content: '\e86d'; } /* '' */
.icon-lemon:before { content: '\f34b'; } /* '' */
.icon-glass:before { content: '\f378'; } /* '' */
.icon-gift:before { content: '\f381'; } /* '' */
.icon-graduation-cap:before { content: '\f393'; } /* '' */
.icon-mic:before { content: '\f3a4'; } /* '' */
.icon-videocam:before { content: '\f3a5'; } /* '' */
.icon-headphones:before { content: '\f3a7'; } /* '' */
.icon-palette:before { content: '\f3a8'; } /* '' */
.icon-ticket:before { content: '\f3ab'; } /* '' */
.icon-video:before { content: '\f3ac'; } /* '' */
.icon-video-1:before { content: '\e809'; } /* '' */
.icon-target:before { content: '\f3af'; } /* '' */
.icon-target-1:before { content: '\e858'; } /* '' */
.icon-music:before { content: '\f3b5'; } /* '' */
.icon-trophy:before { content: '\f3c6'; } /* '' */
.icon-award:before { content: '\f3c9'; } /* '' */
.icon-thumbs-up:before { content: '\f44d'; } /* '' */
.icon-thumbs-up-1:before { content: '\e820'; } /* '' */
.icon-thumbs-down:before { content: '\f44e'; } /* '' */
.icon-thumbs-down-1:before { content: '\e821'; } /* '' */
.icon-bag:before { content: '\f45c'; } /* '' */
.icon-user:before { content: '\f464'; } /* '' */
.icon-user-1:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\f465'; } /* '' */
.icon-users-1:before { content: '\e808'; } /* '' */
.icon-lamp:before { content: '\f4a1'; } /* '' */
.icon-alert:before { content: '\f4a5'; } /* '' */
.icon-water:before { content: '\f4a6'; } /* '' */
.icon-droplet:before { content: '\f4a7'; } /* '' */
.icon-credit-card:before { content: '\f4b3'; } /* '' */
.icon-credit-card-1:before { content: '\e860'; } /* '' */
.icon-monitor:before { content: '\f4bb'; } /* '' */
.icon-briefcase:before { content: '\f4bc'; } /* '' */
.icon-briefcase-1:before { content: '\e86c'; } /* '' */
.icon-floppy:before { content: '\f4be'; } /* '' */
.icon-floppy-1:before { content: '\e85e'; } /* '' */
.icon-cd:before { content: '\f4bf'; } /* '' */
.icon-folder:before { content: '\f4c1'; } /* '' */
.icon-folder-1:before { content: '\e830'; } /* '' */
.icon-folder-open:before { content: '\f4c2'; } /* '' */
.icon-doc-text:before { content: '\f4c4'; } /* '' */
.icon-doc-1:before { content: '\e831'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
.icon-calendar-1:before { content: '\e82c'; } /* '' */
.icon-chart-line:before { content: '\f4c8'; } /* '' */
.icon-chart-bar:before { content: '\f4ca'; } /* '' */
.icon-chart-bar-1:before { content: '\e861'; } /* '' */
.icon-clipboard:before { content: '\f4cb'; } /* '' */
.icon-pin:before { content: '\f4cc'; } /* '' */
.icon-attach:before { content: '\f4ce'; } /* '' */
.icon-attach-1:before { content: '\e80f'; } /* '' */
.icon-bookmarks:before { content: '\f4d1'; } /* '' */
.icon-book:before { content: '\f4d5'; } /* '' */
.icon-book-1:before { content: '\e866'; } /* '' */
.icon-book-open:before { content: '\f4d6'; } /* '' */
.icon-phone:before { content: '\f4de'; } /* '' */
.icon-phone-1:before { content: '\e82f'; } /* '' */
.icon-megaphone:before { content: '\f4e3'; } /* '' */
.icon-megaphone-1:before { content: '\e86e'; } /* '' */
.icon-upload:before { content: '\f4e4'; } /* '' */
.icon-upload-1:before { content: '\e823'; } /* '' */
.icon-download:before { content: '\f4e5'; } /* '' */
.icon-download-1:before { content: '\e822'; } /* '' */
.icon-box:before { content: '\f4e6'; } /* '' */
.icon-newspaper:before { content: '\f4f0'; } /* '' */
.icon-mobile:before { content: '\f4f1'; } /* '' */
.icon-signal:before { content: '\f4f6'; } /* '' */
.icon-signal-1:before { content: '\e859'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */
.icon-camera-1:before { content: '\e80b'; } /* '' */
.icon-shuffle:before { content: '\f500'; } /* '' */
.icon-shuffle-1:before { content: '\e84e'; } /* '' */
.icon-loop:before { content: '\f501'; } /* '' */
.icon-arrows-ccw:before { content: '\f504'; } /* '' */
.icon-light-down:before { content: '\f505'; } /* '' */
.icon-light-up:before { content: '\f506'; } /* '' */
.icon-mute:before { content: '\f507'; } /* '' */
.icon-volume-off:before { content: '\e837'; } /* '' */
.icon-volume-down:before { content: '\f509'; } /* '' */
.icon-sound:before { content: '\f50a'; } /* '' */
.icon-volume-up:before { content: '\e838'; } /* '' */
.icon-battery:before { content: '\f50b'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
.icon-search-1:before { content: '\e801'; } /* '' */
.icon-key:before { content: '\f511'; } /* '' */
.icon-key-1:before { content: '\e86b'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-1:before { content: '\e80e'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */
.icon-lock-open-1:before { content: '\e80d'; } /* '' */
.icon-bell:before { content: '\f514'; } /* '' */
.icon-bell-1:before { content: '\e835'; } /* '' */
.icon-bookmark:before { content: '\f516'; } /* '' */
.icon-bookmark-1:before { content: '\e81e'; } /* '' */
.icon-link:before { content: '\f517'; } /* '' */
.icon-link-1:before { content: '\e810'; } /* '' */
.icon-back:before { content: '\f519'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */
.icon-flashlight:before { content: '\f526'; } /* '' */
.icon-wrench:before { content: '\f527'; } /* '' */
.icon-hammer:before { content: '\f528'; } /* '' */
.icon-chart-area:before { content: '\f53e'; } /* '' */
.icon-clock:before { content: '\f554'; } /* '' */
.icon-clock-1:before { content: '\e839'; } /* '' */
.icon-rocket:before { content: '\f680'; } /* '' */
.icon-truck:before { content: '\f69a'; } /* '' */
.icon-block:before { content: '\f6ab'; } /* '' */
.icon-block-1:before { content: '\e83a'; } /* '' */

.social-rss:before { font-family: 'fontello'; content: '\e73a'; } /* '' */
.social-delicious:before { content: '\23'; } /* '#' */
.social-500px:before { content: '\30'; } /* '0' */
.social-grooveshark:before { content: '\38'; } /* '8' */
.social-forrst:before { content: '\3a'; } /* ':' */
.social-digg:before { content: '\3b'; } /* ';' */
.social-blogger:before { content: '\42'; } /* 'B' */
.social-klout:before { content: '\4b'; } /* 'K' */
.social-dropbox:before { content: '\64'; } /* 'd' */
.social-ebay:before { content: '\65'; } /* 'e' */
.social-github-1:before { content: '\67'; } /* 'g' */
.social-songkick:before { content: '\6b'; } /* 'k' */
.social-posterous:before { content: '\7e'; } /* '~' */
.social-appnet:before { content: '\e1'; } /* 'á' */
.social-github:before { content: '\f300'; } /* '' */
.social-flickr:before { content: '\f303'; } /* '' */
.social-vimeo:before { content: '\f306'; } /* '' */
.social-twitter:before { content: '\f309'; } /* '' */
.social-facebook:before { content: '\f30c'; } /* '' */
.social-gplus:before { content: '\f30f'; } /* '' */
.social-pinterest:before { content: '\f312'; } /* '' */
.social-youtube:before { content: '\f313'; } /* '' */
.social-tumblr:before { content: '\f315'; } /* '' */
.social-linkedin:before { content: '\f318'; } /* '' */
.social-dribbble:before { content: '\f31b'; } /* '' */
.social-stumbleupon:before { content: '\f31e'; } /* '' */
.social-lastfm:before { content: '\f321'; } /* '' */
.social-spotify:before { content: '\f328'; } /* '' */
.social-instagram:before { content: '\f32d'; } /* '' */
.social-evernote:before { content: '\f333'; } /* '' */
.social-skype:before { content: '\f339'; } /* '' */
.social-paypal:before { content: '\f342'; } /* '' */
.social-picasa:before { content: '\f345'; } /* '' */
.social-soundcloud:before { content: '\f348'; } /* '' */
.social-behance:before { content: '\f34e'; } /* '' */