html,body {
	background: #445798;
	font-family: "Helvetica", "arial", "Tahoma";
    font size: 14px;
	padding:0;
	margin:0;
	color: #EFF2FF;
	letter-spacing: 0.3px;
}


a {
	color: #ffc485;	
	text-decoration: none;
	text-shadow: 1px 1px 0px #0c123f;
}

a:hover {
    color: #ffdebb;
}

img {
	border:0;
}

.left {
	float: left;
}

.right {
	float: right;
}

div {
	text-shadow: 1px 1px 1px #02061F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	text-shadow: 1px 1px 1px #0c123f;
        font-weight: normal;
color: #f4f6fb;
}

.wrap {
	width: 960px;
	margin: 0px auto;
}

.tos {
	height: 200px;
	overflow: auto;
	padding: 10px;
	border: 1px solid #5A70B3;
}

fieldset legend {
	font-size: 120%;
	font-weight: bold;
}

#register label {
	font-weight: bold;
	float: left;
	width:225px;
}

.warning {
	color: #FF3300;
	background: url(./error.png) left no-repeat;
	padding-left: 22px;
	padding-top: 2px;
}

.require {
	color:#5A70B3;
	font-style: italic;
	font-size: 80%;
}

#header {
	height:150px;
	background: url(./head_back.png) repeat-x top #334484;
}

#header .wrap {
	width: 880px;
}

#logo {
	float: left;
	width: 480px;
	background: url(./head_sep.png) no-repeat right center;
}

#nav {
	float: right;
	margin: 0;
	padding:0px;
	position: relative;
	top: 75px;
	text-align: center;
	width: 400px;
    font-size: 12px;
}

#nav li {
	list-style-type: none;
	display: inline;
    font-size: 14px;
}

#nav li a {
    color: #f5f8ff;
    padding: 5px 5px;
}

#nav li a:hover {
	color: #ffd4a5;
	border-bottom: 2px solid #ffd4a5;
}

.box {
background: url(./box_back.png) repeat-x bottom #364481;
color: #ccd2ec;
border: 1px solid #333973;
}

.divider {
background: url(./divider.png) no-repeat top center;
padding: 10px;
clear: both;
}

#panel {
	background: url(./panel_back.png) repeat-x bottom #9ba9d5;
	border-top: 2px solid #a6b3da;
	border-bottom: 3px solid #374889;
	padding: 10px 0px;
}

#welcome {
	width: 880px;
	background: url(./welcomebox_back.png) no-repeat top center;
	border: 4px solid #455198;
	margin: 0 auto;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#welcome .box_dec {
	background: url(./board_shot.png) no-repeat 420px -30px;
}

#welcome h1 {
	padding: 10px;
	font-size: 22px;
	font-weight: normal;
}

#welcome img {
float: left;
}

#panel_nav {
	text-align: center;
	padding: 10px 0px;
	margin:0;
	background: url(./boxnav_back.png) repeat-x top;
	list-style-type: none;
}
#panel_nav li {
	display: inline;
}

#panel_nav a {
	color: #ffe0bf;
	padding: 10px 11.5%;
	font-size: 14px;
	background: url(./boxnav_sep.png) no-repeat left;
}

#panel_nav a:hover {
color: #fff;
}

#welcome h1 {
	padding: 24px 0px 0px 70px;
	font-size: 22px;
	font-weight: normal;
margin-bottom: 20px;
}

#welcome strong {
	color: #fff;
}

#blurb {
	padding: 0px 0px 10px 10px;
	line-height: 1.4em;
	font-size: 15px;
}

#blurb.index {
		width: 430px;
}

#register_btn {
height: 30px;
padding: 10px 10px 10px 130px;
}

#register_btn a {
}

#main {
	background: url(./main_back.png);
border-top: 2px solid #4f5b9d;
}

/******* Index *******/
#row1 {
	width: 888px;
	margin: 0 auto;
	clear: both;
	padding: 10px 0px;
	min-height: 217px;
}


#row1 div.box {
	width: 277px;
	float: left;
	font-size: 12px;
	-moz-box-shadow:  0px 1px 0px #6270AF;
	box-shadow: 0px 1px 1px #6270AF;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	min-height: 225px;
	/*border: 1px solid #363C7A;*/
}

#row1 h3 {
	margin-top: 5px;
	padding-left: 10px;
	font-size: 15px;
}

#row1 .desc {
	padding: 0px 8px;
	font-size: 12px;
	line-height: 1.6em;
}

#learn, #bound {
	margin-right: 25px;
}

#row1 div.box h2 {
	font-size: 20px;
	padding: 20px 0px 15px 60px;
}

#row1 img {
float: left;
padding: 2px;
}

#row1 h3 {
clear: both;
}

#row1 .box_dec {
	background: url(./box_dec.png) no-repeat top left;
	height: 100%;
}

#row2 {
	width: 888px;
	margin: 0 auto;
	padding: 0px 0px 30px 0px;
	clear: both;
	min-height: 240px;
}

#news, #resources {
	width: 430px;
	font-size: 13px;
	min-height: 250px;
	-moz-box-shadow:  0px 1px 0px #6270AF;
	box-shadow: 0px 1px 0px #6270AF;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	line-height: 1.4em;
}

#news {
	float: left;
}

#resources {
	float: right;
}

#news {
	margin-right: 20px;
}

#news h2, #resources h2 {
text-align: left;
padding: 20px 0px 12px 60px;
font-size: 20px;
}

#resources img,
#news img {
float: left;
}

ul.list {
	margin: 0;
clear: both;
	padding: 0px 10px 0px 20px;
}

.list li {
	margin-bottom: 3px;
}

.news_head .news_date {
	float: right;
	font-size: 11px;
	color: #c7cee4;
}

#dir_list {
	font-size: 14px;
	padding: 4px;
}


#footer {
	clear: both;
	text-align: center;
	background: url(./foot_back.png) repeat-x top;
	border-top: 3px solid #2F346D;
	font-size: 12px;
	padding: 15px;
	text-shadow: 1px 1px 0px #4b589b;
	line-height: 1.5em;
	color: #fff;
}

#footer a {
	text-shadow: 1px 1px 0px #3f4c8f;
}

#copyright {
	margin:0;
	padding:0;
}



/****** Learn ********/

#faq,
.easy,
#power,
#stress {
width: 886px;
font-size: 12px;
line-height: 1.5em;
margin: 0 auto;
background: url(./learn_back.png) repeat-x bottom #333a78;
	-moz-box-shadow:  0px 1px 0px #6270AF;
	box-shadow: 0px 1px 0px #6270AF;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px 0px #000;
}

#register, #testimonial, #faq_page {
padding-top: 15px;
}

#faq_page h3 {
font-size: 22px;
padding: 20px 0px 18px 60px;
}

#page h3, #register h3 {
font-size: 18px;
padding: 16px 0px 14px 0px;
}

#register dl, #testimonial dl, #faq_page dl {
margin: 0;
}

#faq_page dt {
color: #ffc485;
font-size: 14px;
}

#testimonial dt {
font-size: 14px;
padding: 6px;
}

#feature_list dt {
font-size: 14px;
font-weight: bold;
padding-top: 5px;
}

#testimonial dd, #faq_page dd {
line-height: 1.6em;
padding-bottom: 10px;
}

#faq_page img {
float: left;
}

#page .blurb, #register .blurb, #testimonial .blurb, #faq_page .blurb {
padding: 0px 10px;
}

.extra_padding {
padding: 10px!important;
}

#testimonial .divider, #faq_page .divider {
margin-top: 15px;
}


/****** Directory *****/

.directory #welcome {
height: 110px;
}
.directory #blurb {
float: left;
width: 48%;
}

#search_form {
float: right;
width: 40%;
padding: 45px 0;
text-align: center;
}

#search_form input {
background-color:#778AC2;
color:#DDDDDD;
border: 2px solid #455198;
}

#directory {
	padding-top: 10px;
}

#directory .row {
height: 100px;
}

#directory {
width: 888px;
margin: 0 auto;
}

#directory .row .box {
	width: 265px;
	float: left;
	font-size: 12px;
	padding: 6px;
	-moz-box-shadow:  0px 1px 0px #6270AF;
	box-shadow: 0px 1px 0px #6270AF;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
height: 80px;
}

.page_list {
	margin-top: 15px;
	margin-bottom: 15px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	background-color: #495CA2;
	border: 1px solid #5D6DAA;
	padding: 4px;
}

.pagecell {
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	background-color: #283779;
	border: 1px solid #283779;
	padding: 1px 3px;
}

.onpage {
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	background-color: #5C6EB1;
	border: 1px solid #5C6EB1;
	padding: 1px 3px;
}

#directory .row .box .subs {
	font-size: 10px;
}

#directory .box.one,
#directory .box.two {
margin-right: 25px;
}

#directory .box h3 {
font-size: 16px;
padding: 10px 0px 10px 40px;
}

#directory .box ul {
margin: 0;
width: 125px;
padding: 0px 5px;
list-style-type: none;
}

#directory .box ul.left {
float: left;
}
#directory .box ul.right {
float: right;
}

#directory .box img {
float: left;
padding: 1px 5px;
width:48px;
height:48px;
}