#violators_widget {
min-width:270px;
width:100%;
max-height:100px;
height:100px;
overflow:hidden;
margin:0px;
padding:0px;
font-family:Arial;
font-weight:bold;
position: relative;
}

#violators_widget .float_right {
display:inline-block;
float:right;
}
#violators_widget .float_left {
display:inline-block;
float:left;
}

#violators_header {
max-height:20px;
width:100%;
height:20px;
background-color:#900022;
color:#ffffff;
}

#violators_header .violators_title {
margin:3px 0px 0px 10px;
line-height:1;
}

#violators_widget .violators_paginator {
font-size:16px;
margin:3px 20px 0px 0px;
line-height:14px;
}

.arrow_left,
.arrow_right {
cursor:pointer;
}

#violators_list {
list-style: none outside none;
margin:0px;
padding:0px;
}

#violators_list li {
padding:10px 0px;
}

#violators_list li,
#violators_list li a {
display:inline-block;
max-height:80px;
width:100%;
height:80px;
overflow:hidden;
float:left;
}

#violators_list .violator_photo_container {
display:inline-block;
float:left;
width:68px;
height:68px;
border:1px solid #c7c7c7;
background-color:#ebebeb;
margin:0px 4px;
}

#violators_list .violator_photo {
width:65px;
height:65px;
padding:2px;
}

#violators_list .violator_photo_container,
#violators_list .violator_photo {
border-radius:50%;
}

#violators_list .faction_image {
float:left;
}

#violators_list a {
text-decoration:none;
color:#282828;
}

#violators_list .violator_icon {
margin:11px 15px;
}
