.header{min-width:980px;height:226px;background:url("bg-top00.png") repeat-x}
.header .menu{margin:0 auto;border:1px solid #fff;border-top:0;box-shadow:0 1px 3px #0f6d7f;-moz-box-shadow:0 1px 3px #0f6d7f;-webkit-box-shadow:0 1px 3px #0f6d7f;-o-box-shadow:0 1px 3px #0f6d7f;-ms-box-shadow:0 1px 3px #0f6d7f;background:#fefefe;background:-moz-linear-gradient(top,#fefefe 0,#f9f9f9 50%,#f4f4f4 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fefefe),color-stop(50%,#f9f9f9),color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(top,#fefefe 0,#f9f9f9 50%,#f4f4f4 100%);background:-o-linear-gradient(top,#fefefe 0,#f9f9f9 50%,#f4f4f4 100%);background:-ms-linear-gradient(top,#fefefe 0,#f9f9f9 50%,#f4f4f4 100%);background:linear-gradient(to bottom,#fefefe 0,#f9f9f9 50%,#f4f4f4 100%)}
@charset 'UTF-8';
/* Starter CSS for Menu */

#cssmenu:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAICAIAAAC3eAIWAAAAA3NCSVQICAjb4U/gAAAAI0lEQVQImWPwj0hh+v//PxPD//9M////Z/rP8J/p//9/MD4AGUETB+SFfCsAAAAASUVORK5CYII=);
  background-color: #606a77;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4f5864), color-stop(1, #49515b));
  background-image: -webkit-linear-gradient(top, #4f5864, #49515b);
  background-image: -moz-linear-gradient(top, #4f5864, #49515b);
  background-image: -o-linear-gradient(top, #4f5864, #49515b);
  background-image: linear-gradient(#4f5864, #49515b);
  -moz-box-shadow: inset 0 2px 0 #586270, inset 0 1px 0 #6b7888;
  -webkit-box-shadow: inset 0 2px 0 #586270, inset 0 1px 0 #6b7888;
  box-shadow: inset 0 2px 0 #586270, inset 0 1px 0 #6b7888;
  content: '';
  display: block;
  height: 8px;
  margin-bottom: 4px;
}
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-shadow: inset 0 1px 0 #0F6D7F, 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 #0F6D7F, 0 1px 1px rgba(0, 0, 0, 0.5);
 box-shadow: 0px 1px 3px #0F6D7F;
  background-color: #566171;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFEFEF), color-stop(1, #DCDCDD));
  background-image: -webkit-linear-gradient(top, #EFEFEF, #DCDCDD);
  background-image: -moz-linear-gradient(top, #EFEFEF, #DCDCDD);
  background-image: -o-linear-gradient(top, #EFEFEF, #DCDCDD);
  background-image: linear-gradient(#EFEFEF, #DCDCDD);
  height: 46px;
  text-align: center;
}
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
 width: 980px;
  margin: 0px auto;
}
#cssmenu ul li {
  float: right;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 100%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
/* Custom CSS Styles */
#cssmenu {
  width: auto;
  font: normal normal 400 17px/20px BKoodak;
}
#cssmenu > ul > li {
  margin: 0 8px;
}
#cssmenu > ul > li.has-sub:hover > a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu > ul > li:hover > a {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAbCAIAAAAyOnIjAAAAA3NCSVQICAjb4U/gAAAAGElEQVQImWP4//8/079//0jGf//+JVUPAADfUJPhbDTaAAAAAElFTkSuQmCC);
  background-color: #e2e2e2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #a8a8a8));
  background-image: -webkit-linear-gradient(top, #ffffff, #a8a8a8);
  background-image: -moz-linear-gradient(top, #ffffff, #a8a8a8);
  background-image: -o-linear-gradient(top, #ffffff, #a8a8a8);
  background-image: linear-gradient(#ffffff, #a8a8a8);
}
#cssmenu > ul > li.active:hover > a {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAbCAIAAAAyOnIjAAAAA3NCSVQICAjb4U/gAAAAJklEQVQImWP4MruP6d+/f0z//v5Fo/8x/fv3F41GyP8lUf2/v38BoDRPnb8AZS4AAAAASUVORK5CYII=);
  background-color: #cb7b72;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f49b8e), color-stop(1, #bd584d));
  background-image: -webkit-linear-gradient(top, #f49b8e, #bd584d);
  background-image: -moz-linear-gradient(top, #f49b8e, #bd584d);
  background-image: -o-linear-gradient(top, #f49b8e, #bd584d);
  background-image: linear-gradient(#f49b8e, #bd584d);
}
#cssmenu ul a {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAbCAIAAAAyOnIjAAAAA3NCSVQICAjb4U/gAAAAIUlEQVQImWP4+PEj09+/f5n+/fvH9PfvXzhG5uNik6gOAOTaUDaAXrIOAAAAAElFTkSuQmCC);
  background-color: #c2c2c2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #c8c8c8));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #c8c8c8);
  background-image: -moz-linear-gradient(top, #FFFFFF, #c8c8c8);
  background-image: -o-linear-gradient(top, #FFFFFF, #c8c8c8);
  background-image: linear-gradient(#FFFFFF, #c8c8c8);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(110, 110, 110, 0.506);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(110, 110, 110, 0.506);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(110, 110, 110, 0.506);
  color: #3c444d;
  font: normal normal 400 17px/20px BKoodak;
  line-height: 27px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(0, 0, 0, 0.149);
  border-left: 1px solid rgba(0, 0, 0, 0.149);
}
#cssmenu ul ul {
  width: 170px;
 right: 0px;
}
#cssmenu ul ul a {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 70%;
}
#cssmenu ul .active > a {
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAbCAIAAAAyOnIjAAAAA3NCSVQICAjb4U/gAAAANUlEQVQImXXMsQ0AIRTD0FMmvRlYnAm+TQEIGronxcrX2x80hUEDpNx2em0lx9wNj37+rX4AhN5PdtvsqRUAAAAASUVORK5CYII=);
  background-color: #c46a60;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ef7260), color-stop(1, #b04c41));
  background-image: -webkit-linear-gradient(top, #ef7260, #b04c41);
  background-image: -moz-linear-gradient(top, #ef7260, #b04c41);
  background-image: -o-linear-gradient(top, #ef7260, #b04c41);
  background-image: linear-gradient(#ef7260, #b04c41);
}
#cssmenu ul .has-sub {
  position: relative;
  background:none;
}
#cssmenu ul .has-sub ul {
  -moz-border-radius: 0 3px 3px 3px;
  -webkit-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.5);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA2CAMAAAAxtAOuAAAAolBMVEXp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enp6enCAApGAAAANXRSTlP9+vf08Ozp5eDc19POycS+ubOuqKOdl5GLhYB6dG5oYlxXUUxGQTs2MSwoIx8aFhMPCwgFAqv7N0MAAABMSURBVHheBcCDEcMAAADAj1Hbtr3/aj0/BEKRWCKVyRVKFVU1dQ1NLW0dXT19A0MjYxNTM3MLSytrG1s7ewdHJ2cXVzd3D08vbx/fP9L5BZigzasGAAAAAElFTkSuQmCC) repeat-x;
  background-color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e9e9e9), color-stop(1, #c8c8c8));
  background-image: -webkit-linear-gradient(top, #FFFFFF, #c8c8c8);
  background-image: -moz-linear-gradient(top, #FFFFFF, #c8c8c8);
  background-image: -o-linear-gradient(top, #FFFFFF, #c8c8c8);
  background-image: linear-gradient(#FFFFFF, #c8c8c8);
  padding: 3px 0;
}
#cssmenu ul .has-sub ul a {
  background: none;
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid transparent;
  text-align: right;
}
#cssmenu ul .has-sub ul .has-sub a:after {
  content: none;
}
#cssmenu ul .has-sub li:hover > a {
  border-bottom: 1px solid #1D2024;
  color: #FFF;
  background-color: #55616f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #56606f), color-stop(1, #3f4852));
  background-image: -webkit-linear-gradient(top, #56606f, #3f4852);
  background-image: -moz-linear-gradient(top, #56606f, #3f4852);
  background-image: -o-linear-gradient(top, #56606f, #3f4852);
  background-image: linear-gradient(#56606f, #3f4852);
  -moz-box-shadow: inset 1px 2px 0 #5c6778, inset 0 1px 0 #4e5866;
  -webkit-box-shadow: inset 1px 2px 0 #5c6778, inset 0 1px 0 #4e5866;
  box-shadow: inset 1px 2px 0 #5c6778, inset 0 1px 0 #4e5866;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
#cssmenu ul .has-sub li:hover > a:after {
  border-left: 0 none;
  background-color: #c35f54;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ea5f51), color-stop(1, #a9463b));
  background-image: -webkit-linear-gradient(top, #ea5f51, #a9463b);
  background-image: -moz-linear-gradient(top, #ea5f51, #a9463b);
  background-image: -o-linear-gradient(top, #ea5f51, #a9463b);
  background-image: linear-gradient(#ea5f51, #a9463b);
  -moz-box-shadow: inset -1px 2px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 #ce5448;
  -webkit-box-shadow: inset -1px 2px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 #ce5448;
  box-shadow: inset -1px 2px 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 #ce5448;
  content: '';
  height: 100%;
  width: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
#cssmenu ul .has-sub > a {
  padding-right: 0;
}
#cssmenu ul .has-sub > a:after {
  content: '▼';
  display: inline-block;
  font-size: 11px;
  text-align: left;
  height: 21px;
  width: 22px;
  text-shadow: 0 -1px 0 #101417;
}
#cssmenu ul .active > a:after {
  color: #FFF;
}
#cssmenu ul ul a {
  font-size: 14px;
}
.logo{width:962px;margin:0 auto;padding-top:12px}
.container{margin-top:-165px;min-height:370px}
.container>div{width:980px;background-color:#fefefe}
.container .bg-top{height:113px;background:url("bg-top-c.png") no-repeat}
.container .bg-center{margin-top:-8px;background:url("bg-cente.png") repeat-y}
.container .bg-bottom{height:62px;background:url("bg-botto.png") no-repeat}
.bg-center #box{padding:5px 20px}
.sidebar{width:328px;margin-top:-85px;overflow:hidden}
.sidebar>div{background:#f5f5f5;border:1px solid #e9e9e9;padding:8px;margin-bottom:10px;overflow:hidden}
.sidebar>div>div{background:#fff;border:1px solid #dedede;padding:7px}
.sidebar>div .title,.content .title{padding-bottom:4px;border-bottom:1px dashed #dcdcdc}
.sidebar>div .title h4{font-size:17px;color:#05566a;padding-right:39px;font-family:'BYekan',Tahoma,Arial,"Times New Roman",Times,serif}
.sidebar .login .title h4{background-position:right -8px}
.sidebar .login .text form{padding-bottom:7px}
.sidebar .login .text input{display:block;margin-top:10px;overflow:hidden;background:url('sprites0.png') right 0 no-repeat}
.sidebar .login .text input[type="text"],.sidebar .login .text input[type="password"]{width:245px;color:#838282;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;padding:6px 27px 6px 6px;border:1px solid #ccc;background-color:#fafafa;box-shadow:inset 0 0 3px 1px #e3e3e3;-webkit-box-shadow:inset 0 0 3px 1px #e3e3e3;-o-box-shadow:inset 0 0 3px 1px #e3e3e3;-ms-box-shadow:inset 0 0 3px 1px #e3e3e3;-moz-box-shadow:inset 0 0 3px 1px #e3e3e3}
.sidebar .login .text input[type="text"]:focus,.sidebar .login .text input[type="password"]:focus{background-color:#fffcf2}
.sidebar .login .text input#user{background-position:right -138px}
.sidebar .login .text input#pass{background-position:right -239px}
.sidebar .login .text input#submit{width:96px;height:33px;background-position:right -423px}
.sidebar .login .text input#submit:hover{background-position:right -378px}
.sidebar .login .text a{color:#575757;padding:0 5px;margin:0 3px}
.sidebar .login .text p a:first-child{padding-right:0;margin-right:0}
.sidebar .login .text a:hover,.content a:hover{color:#d7001e}
.sidebar .login p#error{color:red;padding-top:7px}
.sidebar .login p#logged{color:#575757;padding:10px 0;text-align:justify}
.sidebar .login p#logged a{padding:0;margin:0}
.sidebar .news .title h4{background-position:right -537px;padding-right:36px}
.sidebar .news .text{margin-top:3px;font: normal normal 400 13px/normal BYekan;}
.sidebar .news .text li a{color:#575757;background:url('sprites0.png') right -689px no-repeat;padding:2px 15px 2px 2px}
.sidebar .news .text li a:hover{background-position:right -622px;color:#d7001e}
.content{overflow:hidden;margin-right:0;margin-left:355px;text-align:justify}
.content .right{width:145px}
.content .margin{margin-right:155px;margin-left:0}
.content .right a{width:135px;height:50px;margin:0 auto;display:block;background:url('sprites0.png') right -908px no-repeat}
.content .right a:hover{background-position:right -838px}
.content .title h2{color:#00718d;line-height:normal;padding-right:7px;font-size:18px;font-family:'BYekan',Tahoma,Arial,"Times New Roman",Times,serif}
.content .text{padding-top:5px}
.content .text li{color:#004050;line-height:25px;padding:2px 24px 2px 0;font-size:13px;font-family:'BYekan',Tahoma,Arial,"Times New Roman",Times,serif;background:url('sprites0.png') right -1086px no-repeat}
.level{margin-top:10px;padding-top:20px;border-top:1px dashed #dcdcdc}
.level img{display:block;margin:0 auto}
.footer{margin-top:20px;min-width:980px;padding-top:15px;height:158px;color:#fff;background:url("bg-foote.png") repeat-x;text-shadow:0 1px 1px #ffffff;-moz-text-shadow:0 1px 1px #ffffff;-webkit-text-shadow:0 1px 1px #ffffff;-o-text-shadow:0 1px 1px #ffffff;-ms-text-shadow:0 1px 1px #ffffff}
.footer .right{color: #737373;width:650px;font: normal normal 400 13px/normal BYekan;}
.footer .right a:hover{color:#1d3d43}
.footer .right li{float:right}
.footer .right li::before{content:"|"}
.footer .right li:first-child::before{content:none}
.footer .right li a{padding:3px 7px}
.footer .right p{padding:4px 28px 4px 4px;background:url('sprites0.png') right -1201px no-repeat}
.footer .margin{margin-right:685px;margin-left:0;text-align:left;direction:ltr}
.footer .margin .left{width:50px}
.footer .margin .contact{margin-left:55px;margin-right:0;padding-top:10px}
.footer .margin li{padding:5px 0 5px 31px;background:url('icon0000.png') left 0 no-repeat}
.footer .margin li#tell{background-position:left 0}
.footer .margin li#mail{background-position:left -59px;color: #8d8d8d;}
.footer .margin #script_license{overflow:hidden;background:0;padding:4px!important;background-color:#428896;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;padding:5px;box-shadow:inset 0 0 3px 1px #2e626d;-moz-box-shadow:inset 0 0 3px 1px #2e626d;-webkit-box-shadow:inset 0 0 3px 1px #2e626d;-o-box-shadow:inset 0 0 3px 1px #2e626d;-ms-box-shadow:inset 0 0 3px 1px #2e626d}
.content .title h2{background:url("sprites0.png") right -1529px no-repeat;padding-right:33px}
.content .text img{max-width:520px;height:auto;display:block;margin:5px auto 9px auto;border:5px solid #eaeaea;border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;-moz-border-radius:4px;opacity:.9}
.content .text ._form{color:#5a5a5a}
.content .text ._form input,.content .text ._form textarea{width:200px;color:#838282;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;-ms-border-radius:4px;padding:6px;margin-bottom:10px;background-color:#fafafa;border:1px solid #CCC;box-shadow:inset 0 0 3px 1px #e3e3e3;-moz-box-shadow:inset 0 0 3px 1px #e3e3e3;-webkit-box-shadow:inset 0 0 3px 1px #e3e3e3;-ms-box-shadow:inset 0 0 3px 1px #e3e3e3;-o-box-shadow:inset 0 0 3px 1px #e3e3e3}
.content .text ._form input:focus,.content .text ._form textarea:focus{background-color:#fffcf2}
.content .text ._form,.content .text ._form label,.content .text ._form input,.content .text ._form textarea{overflow:hidden;display:block}
.content .text ._form tr td.one{width:85px}
.content .text ._form textarea{width:280px!important;max-width:380px!important;height:120px!important;max-height:250px!important}
.content .text ._form .desc{padding-right:20px;margin-top:-4px;margin-bottom:10px;color:#006ec5;display:none;background:url("informat.png") right center no-repeat}
.content .text ._form button[type="submit"]{width:100px;cursor:pointer;text-align:center;text-shadow:0 1px rgba(0,0,0,0.1);-moz-text-shadow:0 1px rgba(0,0,0,0.1);-webkit-text-shadow:0 1px rgba(0,0,0,0.1);-o-text-shadow:0 1px rgba(0,0,0,0.1);-ms-text-shadow:0 1px rgba(0,0,0,0.1);color:white;font-weight:bold;padding:9px 12px;margin-bottom:5px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;border:1px solid #039700;background-color:#03c300;background-image:-webkit-gradient(linear,left top,left bottom,from(#03C300),to(#03B000));background-image:-webkit-linear-gradient(top,#03C300,#03B000);background-image:-moz-linear-gradient(top,#03C300,#03B000);background-image:-ms-linear-gradient(top,#03C300,#03B000);background-image:-o-linear-gradient(top,#03C300,#03B000);background-image:linear-gradient(top,#03C300,#03B000)}
.content .text ._form button[type="submit"]:hover{border:1px solid #0ba108;text-shadow:0 1px rgba(0,0,0,0.3);-moz-text-shadow:0 1px rgba(0,0,0,0.3);-webkit-text-shadow:0 1px rgba(0,0,0,0.3);-o-text-shadow:0 1px rgba(0,0,0,0.3);-ms-text-shadow:0 1px rgba(0,0,0,0.3);background-color:#03c300;background-image:-webkit-gradient(linear,left top,left bottom,from(#03C300),to(#0BA108));background-image:-webkit-linear-gradient(top,#03C300,#0BA108);background-image:-moz-linear-gradient(top,#03C300,#0BA108);background-image:-ms-linear-gradient(top,#03C300,#0BA108);background-image:-o-linear-gradient(top,#03C300,#0BA108);background-image:linear-gradient(top,#03C300,#0BA108)}
.content #success{padding:7px 15px;margin-top:5px;margin-bottom:15px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;border:1px solid #43a800;box-shadow:0 0 5px #43a800;-moz-box-shadow:0 0 5px #43a800;-webkit-box-shadow:0 0 5px #43a800;-o-box-shadow:0 0 5px #43a800;-ms-box-shadow:0 0 5px #43a800;background:#8ecd4a;background:-moz-linear-gradient(top,#8ecd4a 0,#70a634 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8ecd4a),color-stop(100%,#70a634));background:-webkit-linear-gradient(top,#8ecd4a 0,#70a634 100%);background:-o-linear-gradient(top,#8ecd4a 0,#70a634 100%);background:-ms-linear-gradient(top,#8ecd4a 0,#70a634 100%);background:linear-gradient(to bottom,#8ecd4a 0,#70a634 100%)}
.content #success p{text-shadow:0 1px 1px #3ba500;-moz-text-shadow:0 1px 1px #3ba500;-webkit-text-shadow:0 1px 1px #3ba500;-o-text-shadow:0 1px 1px #3ba500;-ms-text-shadow:0 1px 1px #3ba500;color:#ebf7e5;padding:1px 0;font-size:13px;font-family:'BYekan',Tahoma,Arial,"Times New Roman",Times,serif}
.content .text ._form span.error,.content .text ._form #field_remember,.content .text ._form label[for="field_remember"]{display:none}
.errors{padding:7px 3px;overflow:hidden;margin-top:5px;margin-bottom:15px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;border:1px solid #c5482a;box-shadow:0 0 5px #c5482a;-moz-box-shadow:0 0 5px #c5482a;-webkit-box-shadow:0 0 5px #c5482a;-ms-box-shadow:0 0 5px #c5482a;-o-box-shadow:0 0 5px #c5482a;background:url("overlay0.png") #eb785c repeat;background:url("overlay0.png") repeat,-moz-linear-gradient(top,#EB785C 0,#D2583B 100%);background:url("overlay0.png") repeat,-webkit-gradient(linear,left top,left bottom,color-stop(0%,#EB785C),color-stop(100%,#D2583B));background:url("overlay0.png") repeat,-webkit-linear-gradient(top,#EB785C 0,#D2583B 100%);background:url("overlay0.png") repeat,-o-linear-gradient(top,#EB785C 0,#D2583B 100%);background:url("overlay0.png") repeat,-ms-linear-gradient(top,#EB785C 0,#D2583B 100%);background:url("overlay0.png") repeat,linear-gradient(to bottom,#EB785C 0,#D2583B 100%)}
.errors ul{margin-right:25px;list-style-type:decimal!important}
.errors li{width:270px;text-shadow:0 1px 1px #9e1f00;-webkit-text-shadow:0 1px 1px #9e1f00;-moz-text-shadow:0 1px 1px #9e1f00;-o-text-shadow:0 1px 1px #9e1f00;-ms-text-shadow:0 1px 1px #9e1f00;float:right;background:0;color:#f7e8e5;padding:1px 0}
.service_dash {	width:100%;	float:right;	height:1px;	border-bottom:1px dashed #d3d3d3;	padding:0 0 1px 0}
.service_solid {	width:100%;	float:right;	height:7px;	background:#dfdfdf;	margin:10px 0 0 0;	position:relative}

.rotate{
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	
	opacity:1;

	}	

.rotate:hover	
{ 
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg); 
	-o-transform:rotate(-20deg);
	
}
fieldset {
    font-family: sans-serif;
    border: 3px solid #1F497D;
    background: #ddd;
	padding: 5px 10px ;
}

fieldset legend {
    background: #1F497D;
    color: #fff;
    padding: 5px 10px ;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
}