@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/l/font?kit=yLiKt9OVy6MkiOgBnGdKjnJdYOaXQmJJnrO-zUgBuuVU6zmkqpIhZs3TXeclVQN-&skey=653237e53512d0de&v=v11) format('truetype');
}
