
#feed label[for=emailfeed] {
	display: none !important;
}

section.sidebar #feed .layer, section.aside #feed .layer {
	z-index: 145 !important;
	background: url(../img/white.png) no-repeat center 100px;
}

#autorizzazioni label.error {
	display: none !important;
}