table.cnss-social-icon tr td, table.cnss-social-icon, table.cnss-social-icon tr {
	padding:0 !important;
	margin:auto !important;
	border:none !important;
	vertical-align:middle !important;
	background:none !important;
}
table.cnss-social-icon tr td img{
	max-width:100% !important;
/*    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   
    zoom: 1;*/
}
/*table.cnss-social-icon tr td img:hover{
	opacity:0.5;
	filter:alpha(opacity=50);
	margin-top:-15px;
}*/
table.cnss-social-icon tr td a img, table.cnss-social-icon tr td a:hover img, table.cnss-social-icon tr td a img:hover{
	border:none !important;
}
table.cnss-social-icon tr td a img:hover, table.cnss-social-icon tr td a:hover img{
	max-width:100% !important;	
}
/*table.cnss-social-icon tr td img{
	margin-right:4px;
}*/