/*
 * Copyright 2009 Don Benjamin
 * Licensed under the Apache License, Version 2.0 (the "License"); 
 * you may not use this file except in compliance with the License. 
 * You may obtain a copy of the License at 
 *
 * 	http://www.apache.org/licenses/LICENSE-2.0 
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, 
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
 * See the License for the specific language governing permissions and 
 * limitations under the License.
 */
.searchform-label {
        display: none;
        float: left;
        width: 95%;
        overflow: hidden;
        font-size:1.1em;
        font-family: sans-serif;
        font-weight: bold;
        padding-top: 4px;
}
.searchform-input-wrapper {
        display: block;
       /* float: left; */
	text-align: right;
        width: 95%;
}
.searchform-input-wrapper .radio-button-wrapper input {
	float: left;
}
#sidebar .searchform-input-wrapper input,
.searchform-input-wrapper input,
.searchform-input-wrapper select{
       /* width: 100%; */
}
.searchform-param {
        clear: left;
}
.searchform-params {
        clear: left;
}
.searchform-controls {
        clear: left;
        text-align: right;
		padding:8px;
}
.searchform-spoiler {
	width: 100%;
	text-align: center;
	size: 0.5em;
	opacity: 50%;
	margin: 5px;
}
