	/* UOL ICONS */
@font-face {
    font-family:"UOLIcons";
    src:url('https://stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icones-e-setas.eot?v4');
    src:url('https://stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icones-e-setas.eot?#iefix') format('embedded-opentype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icones-e-setas.woff?v4') format('woff'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icones-e-setas.ttf?v4') format('truetype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-icones-e-setas/uol-icones-e-setas.svg?v4#uol-icones-e-setas') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'UOLLogo';
    src:url('https://stc.uol.com/c/webfont/projeto-grafico/uollogo/uollogo.eot');
    src:local('?'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uollogo/uollogo.eot?#iefix') format('embedded-opentype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uollogo/uollogo.woff?v5') format('woff'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uollogo/uollogo.ttf') format('truetype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uollogo/uollogo.svg#uollogoregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
/* UOL TXT REGULAR */
@font-face {
    font-family:'UOLText';
    src:url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-regular.eot?v5');
    src:local('?'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-regular.eot?#iefix') format('embedded-opentype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-regular.woff?v5') format('woff'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-regular.ttf?v5') format('truetype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-regular.svg?v5#uol-text-regular') format('svg');
    font-weight:normal;
    font-style:normal;
}
/* UOL TXT BOLD */
@font-face {
    font-family:'UOLText';
    src:url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-bold.eot?v5');
    src:local('?'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-bold.eot?#iefix') format('embedded-opentype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-bold.woff?v5') format('woff'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-bold.ttf?v5') format('truetype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-bold.svg?v5#uol-text-bold') format('svg');
    font-weight:bold;
    font-style:normal;
}
/* UOL TXT ITALIC */
@font-face {
    font-family:'UOLText';
    src:url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-italic.eot?v5');
    src:local('?'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-italic.eot?#iefix') format('embedded-opentype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-italic.woff?v5') format('woff'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-italic.ttf?v5') format('truetype'),
        url('https://stc.uol.com/c/webfont/projeto-grafico/uol-font/uol-text-italic.svg?v5#uol-text-italic') format('svg');
    font-weight:normal;
    font-style:italic;
}
/* EOF */
.item-menu,
#titulo-uol,
.titulo-album,
.cabecalho h1,
#conteudo-auxiliar .mod.manchete-teste ul li div.chapeu span { font-family:'UOLText', arial, verdana, sans-serif; -webkit-font-smoothing:antialiased; text-rendering:optimizeLegibility; text-shadow:0 0 1px transparent; }
/* EOF */
