html, body, div, .container, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:middle;background:transparent;}
@font-face{font-family:'open_sansregular';src:url('/fonts/OpenSans-Regular-webfont.eot');src:url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
url('/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Oswald';src:url("/fonts/oswald-regular-webfont.eot");src:url("/fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-regular-webfont.woff") format("woff"), url("/fonts/oswald-regular-webfont.ttf") format("truetype"), url("/fonts/oswald-regular-webfont.svg#oswaldregular") format("svg");font-weight:400;font-style:normal;}
@font-face{font-family:'Oswald';src:url("/fonts/oswald-light-webfont.eot");src:url("/fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-light-webfont.woff") format("woff"), url("/fonts/oswald-light-webfont.ttf") format("truetype"), url("/fonts/oswald-light-webfont.svg#oswaldlight") format("svg");font-weight:300;font-style:normal;}
@font-face{font-family:'Oswald';src:url("/fonts/oswald-bold-webfont.eot");src:url("/fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/oswald-bold-webfont.woff") format("woff"), url("/fonts/oswald-bold-webfont.ttf") format("truetype"), url("/fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");font-weight:700;font-style:normal;}
@font-face{font-family:'pt_sansregular';src:url('/fonts/PTS55F-webfont.eot');src:url('/fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
url('/fonts/PTS55F-webfont.woff') format('woff'),
url('/fonts/PTS55F-webfont.ttf') format('truetype'),
url('/fonts/PTS55F-webfont.svg#pt_sansregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'pt_sansbold';src:url('/fonts/PTS75F-webfont.eot');src:url('/fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
url('/fonts/PTS75F-webfont.woff') format('woff'),
url('/fonts/PTS75F-webfont.ttf') format('truetype'),
url('/fonts/PTS75F-webfont.svg#pt_sansbold') format('svg');font-weight:normal;font-style:normal;}
html{-webkit-text-size-adjust:100%;}
.clear{clear:both;}
a{text-decoration:none;}
body{font-family:'pt_sansregular',arial,sans-serif;font-size:16px;background:url("/images/bg.png") repeat #F8F8F8;color:#222;}
.left{float:left;}
.right{float:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.inline-block{display:inline-block;}
.hide{display:none;}
.container{margin:0 auto;width:1230px;}
.noborder{border:none!important;}
.lowercase{text-transform: lowercase}
.top10{margin-top:10px !important;}
.top20{margin-top:20px !important;}
.top30{margin-top:30px !important;}
.no-border{border: none !important;}
.padleft0{padding-left:0!important;}
.mt-20{margin-top:-20px !important;}
.mt-15{margin-top:-15px !important;}
.mt-10{margin-top:-10px !important;}
.mt-5{margin-top:-5px !important;}
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mb-20{margin-bottom:-20px !important;}
.mb-15{margin-bottom:-15px !important;}
.mb-10{margin-bottom:-10px !important;}
.mb-5{margin-bottom:-5px !important;}
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt16{padding-top:16px !important;}
.relative{position: relative !important;}
.absolute{position: absolute !important;}
h1, h2, h3, h4, h5, h6{font-family:'pt_sansbold',arial,sans-serif;}
.featured-video a, #latest a, #editors-choice a{color:#474747;}
#wrapper a:hover{text-decoration:underline;}
a:visited{color:#551A8B}
#header{background:#808084;margin-bottom:16px; overflow: auto;}
#logo{width:350px; margin-bottom: 18px;margin-left: auto;margin-right: auto;}
#header .upload{position: absolute; top:0;right:0}
#header .upload a{display: block; margin-top: 37px; background-color:#303037; color: #fff; padding: 10px 15px; border-radius: 4px; box-shadow: 0px 5px 28px 0px rgba(0,0,0,0.5);}
#header .upload a:hover{background-color:#232329;}
#header .upload.home a{margin-top: 58px;}
#searchform{margin-bottom: 20px;}
#search-input{border:none;background:rgb(255, 255, 255);border-radius:4px 0 0 4px;padding:6px 8px 6px 8px;vertical-align:top;width:305px;font-size:15px;margin:0;}
#search-submit{background:url("/images/sprite-sheet-new.png") no-repeat -125px 0px #303037;border-radius:0 4px 4px 0;border:none;color:#1662b8;cursor:pointer;margin:0;text-indent:-9999px;height:30px;width:30px;}
input#search-submit:hover{background-color:#232329;}
input#search-input::-webkit-input-placeholder{color:#808C9D!important;opacity:1 !important}
input#search-input:-moz-placeholder{color:#808C9D!important;opacity:1 !important}
input#search-input::-moz-placeholder{color:#808C9D!important;opacity:1 !important}
input#search-input:-ms-input-placeholder{color:#808C9D!important;opacity:1 !important}
#interact-header{ margin-top: 5px;color: #fff;font-size: 13px;}
#interact-header ul li{float: left;list-style-type: none;}
#interact-header ul li a{width: 26px;height: 26px; display: inline-block;background:url('/images/sprite-sheet-new.png') no-repeat;margin-left: 11px;}
#interact-header ul li a#header_facebook{background-position: 0px -202px}
#interact-header ul li:first-child {padding-top: 4px;}
#interact-header ul li a:hover{background-color: transparent}
#wrapper{width:836px;border:1px solid #cbcbcb;background-color:#fff;padding:12px 20px 20px 20px;position:relative;}
#wrapper.full-width{width: 1190px;padding-top: 20px}
.home #latest{width: 100%;}
.video-info{font-family:'pt_sansbold',arial,sans-serif;font-size:14px;text-transform:capitalize;margin:8px 0 20px;color: #8C8B8B}
.video-info .date, .video-info .author{vertical-align:sub;}
.video-info a{color: #8C8B8B!important}
.video-info .date{padding-right: 4px;}
.video-info .author{padding-right: 5px;padding-left: 8px;border-left:1px solid #eee;}
.video-info .cats{vertical-align:sub; padding-left: 10px;padding-right: 10px;border-left:1px solid #eee;}
.cat-page .video-info .date, .search-page .video-info .date, .archive-page .video-info .date{border-right: none}
.video-info .views{color:#c04874;padding:0 8px 0 2px;margin:0 8px 0 6px;vertical-align:sub;}
.video-info .comments{color:#06498a;vertical-align:sub;}
.video-info .comments a{color:#06498a!important;}
.video-info .comments a:hover{text-decoration:underline}
.video-info i{position:relative;top:-2px;margin-right:8px;}
.video-page a.ribbon.disable-cat + .video-info{margin-bottom:15px;}
.video-play-btn, .story-btn{position:absolute;width:36px;height:36px;left:0;bottom:0;background:url("/images/sprite-sheet-new.png") no-repeat 0px -17px;}
.story-btn{background-position: -36px -17px;}
#latest{ margin-top: 15px;}
#latest.ymal {width: 100%;margin-top: 0;}
.ymal .latest-third{ padding-bottom: 35px;}
.cat-page #latest, .search-page #latest, .archive-page #latest{margin-top:0;min-height:290px;width:100%;}
.archive-page #latest.left{float: none;}
.video-page #latest .latest-third:last-child, .story-page #latest .latest-third:last-child{border-bottom:none;margin-bottom:0;padding-bottom:15px;}
#latest h5, #editors-choice h5, #latest .headline, #editors-choice .headline{border-bottom:2px dotted #dadada;font-weight:400;font-size:21px;padding-bottom:5px;font-family:'pt_sansbold',arial,sans-serif;text-transform:capitalize;}
#latest .headline{margin-bottom:31px;color: #474747; margin-top: 15px;}
.latest-full, .latest-half, .latest-third{padding-bottom:27px;margin-bottom:30px;border-bottom:1px dotted #ddd;}
.latest-full h2, .latest-full h3{font-size:26px;font-weight:400;margin:-5px 0 0px;}
.latest-full .video-thumb div{height:320px;overflow:hidden;}
.latest-full .video-thumb, .recommended-half .video-thumb{position:relative;}
.latest-full .video-thumb img{width:600px;margin-top:-36px;}
.hide-headline h3, .hide-headline .video-info{display:none;}
.latest-half, .latest-third{margin-top:-6px;}
.latest-half .video-thumb, .latest-third .video-thumb{margin-right:25px;margin-top:9px;position:relative;}
.latest-half h2, .latest-half h3{font-size:23px;font-weight:400;}
.latest-half .video-thumb img{width:288px;height:200px;}
.latest-third h2, .recommended-half h2, .latest-third h4, .recommended-half h4{font-size:21px;font-weight:400;padding-top:3px;}
.latest-third .video-thumb img{width:200px;height:142px;}
.latest-third a.item{display: block;overflow: auto}
.latest-third .video-info{margin-bottom: 0}
#latest.ymal .latest-third:last-child {margin-bottom:15px;border-bottom:0;padding-bottom:0;}
#latest.ymal .headline {font-size:26px;margin:0 0 30px;border-bottom:1px dotted #ddd;padding-bottom: 1px;}
a.see-more{background:#005698;color:#fff!important;padding:4px 8px 5px;margin-bottom:10px;font-family:'pt_sansregular',arial,sans-serif;font-size:15px;}
a.see-more span{font-size:19px;line-height:16px;vertical-align:top;margin-left:3px;}
a.more-next{background:url('/images/arrows-right.png') no-repeat 73% 50% #063365;padding:4px 45px 7px 30px;}
a.more-prev{background:url('/images/arrows-left.png') no-repeat 14px 14px #063365;padding:4px 16px 7px 35px!important;}
a.see-more:hover{background-color:#021D3A;text-decoration:none!important;}
.more-videos{overflow:hidden;margin-top:35px;padding-bottom:25px;}
#editors-choice{width: 200px;padding-left: 18px;border-left: 1px dotted #ddd;}
.cat-page #editors-choice, .search-page #editors-choice{margin-top:0}
#editors-choice h5, #editors-choice .headline{margin-bottom:27px;text-transform:capitalize;color: #474747}
#editors-choice a{font-family:'pt_sansbold',arial,sans-serif;font-size:17px;font-weight:400;}
#editors-choice>div{margin-bottom:12px;padding-bottom:12px;border-bottom:1px dotted #ddd;}
#editors-choice>div:last-child{  margin-bottom: 0;padding-bottom: 0;border: none;}
#editors-choice>div:last-child .video-info{margin-bottom: 0;}
#editors-choice .views{padding:0;margin:0;border:none;}
#editors-choice-top{border-bottom: 2px dotted #dadada!important;padding-bottom: 0!important;position: relative}
#editors-choice-top .headline{border: none; padding-bottom: 4px; margin-bottom: 0; margin-top: -7px;}
.video-page #editors-choice-top .headline, .story-page #editors-choice-top .headline{margin-top: -1px;}
#editors-choice a#extras{position: absolute;display: inline;border: none;float: right;margin-bottom: 0;padding-right: 16px;color: #C98826;font-family: 'pt_sansbold',arial,sans-serif;font-size: 13px;font-weight: 300;text-transform: lowercase;top: 7px;right: 0;}
#editors-choice #extras:after{content:"";background: url("/images/sprite-sheet-new.png") no-repeat -35px -170px;width: 13px;height: 13px;position: absolute;margin-top: 2px;margin-left: 3px;}
#editors-choice a#extras span {position: absolute;width:212px;padding: 6px 10px;color: #FFFFFF;background: #474747;line-height: 18px;font-family: 'pt_sansregular',arial,sans-serif;visibility: hidden;border-radius: 3px;border: 1px solid #474747;text-transform: none;}
#editors-choice a#extras span:after {content: '';position: absolute;bottom: 100%;left: 77%;margin-left: -8px;width: 0; height: 0;border-bottom: 8px solid #474747;border-right: 8px solid transparent;border-left: 8px solid transparent;}
#editors-choice a:hover#extras span {visibility: visible;opacity: 0.95;top: 24px;right: -19px;margin-left: -110px;z-index: 999;}
.video-page #latest h5, .video-page #editors-choice h5{}
.ad-728{max-width:728px;margin:0px auto 10px;overflow:hidden;}
.ad-970{max-width:970px;margin:0px auto 10px;overflow:hidden;}
.mkt .ad-728{margin-top: 25px;}
.ad-300-right{float: right;margin: 5px 0 18px 20px;width: 300px;min-height: 250px;line-height: normal;}
.ad-300-left{float: left;margin: 5px 20px 18px 0px;width: 300px;min-height: 250px;line-height: normal;}
.ad-inline-300{margin: 5px auto 33px;width: 300px}
/*.home .ad-728{margin-top:17px;}*/
#video-content, #stories{padding-bottom:10px;}
#video-content .rev-headline , #stories .rev-headline, .zone .adbladetitle{color: #474747;font-family:'pt_sansbold',arial,sans-serif!important;font-size:26px!important;margin:30px 0 0px!important;border-bottom:1px dotted #ddd;}
.zone .adbladetitle{margin:25px 5px 8px!important;}
.fbvideo .rc-content, .fbstory .rc-content {margin-bottom: 20px;}
.fbvideo .rc-content .rc-text-top, .fbstory .rc-content .rc-text-top, .video-page .rc-text-top, .story-page .rc-text-top{right: 0;color: #A9A5A5!important; margin-bottom: 5px;}
#sticker .rc-branding{right: 0;color: #A9A5A5!important;margin-bottom: 8px;}
.fbvideo .rc-content .rev-headline, .fbstory .rc-content .rev-headline, .video-page .rev-headline, .story-page .rev-headline {margin-bottom: 0px!important;}
.rc-item .rc-headline{font-size: 17px!important}
#video-content .rc-branding, #stories .rc-branding{right: 2px!important;}
.rc-branding div {font-size: 12px!important;}
#video-content h1.headline, #stories h1.headline,
#video-content h2.headline, .cat-page h2.headline, #stories h2.headline{font-size:30px;font-weight:400;margin-bottom:10px;}
#video-content h1.headline, #stories h1.headline{margin-bottom: 5px;margin-top: 18px;color: #474747;}
#fb-comments h2, .fbvideo .rev-headline, .fbstory .rev-headline,
.videoinfo, #recommended-left{text-transform:capitalize}
.cat-page p, .search-page p{font-family:'pt_sansbold',arial,sans-serif;font-size:19px;}
.cat-page .headline{margin-bottom: 30px!important;}
.cat-page ul.subcategories{font-weight: 400;font-size: 19px;padding-bottom: 5px;margin: -10px 0 8px;padding-bottom: 18px;overflow: hidden}
.cat-page .subcategories li{list-style-type: none; float: left;padding: 8px 0;}
.cat-page .subcategories li a{color: #fff!important; padding: 4px 8px 5px;background-color: #005698;font-size: 15px;  margin-right: 15px;}
.cat-page .subcategories li a:hover{background-color: #063365;text-decoration: none!important;}
#video-content .ribbon, #stories .ribbon{position:relative;top:0;left:-30px;display:inline-block;padding:7px 12px 7px 30px;font-size:20px;}
#video-content .video-info, #stories .video-info{display:inline-block;margin-top:2px;margin-bottom: -3px;}
.share-btns{font-family:'pt_sansbold',arial,sans-serif;font-size:21px;text-transform:uppercase;font-weight:400;margin:10px 0 41px 0px;color: #474747;position: relative;}
.share-btns a{font-weight:300;font-size:17px;color:#fff;width:137px;display:inline-block;text-align:left;text-indent:30px;padding:3px 0;font-family:'pt_sansregular',arial,sans-serif;vertical-align:text-top;margin:0 0 0 12px;}
.share-btns a:hover{background-color:#03477C;text-decoration:none!important}
.share-btns a{  text-align: center;font-size: 20px;text-transform: capitalize; padding: 8px 0 7px;text-indent: 24px;width: 110px;font-family: 'pt_sansbold',arial,sans-serif;font-weight: 300;float: left}
.share-btns a.facebook{background-color:#32549a;margin-left: 0px!important;text-indent: 14px;width: auto;right: 168px;left: 0;border-radius:0 2px 2px 0;}
.share-btns a.facebook:before{background: url('/images/sprite-sheet-new.png') no-repeat -25px -53px;content:"";width: 15px;height: 15px;display: inline-block;position: relative;top: 0;left: -13px;}
.share-btns a.facebook:hover{background-color:#264789;}
.share-btns .share-more{position: relative;background-color: #808084;border-radius:2px;float: right;width: 41px;height: 41px;cursor: pointer}
.share-btns.multi-share a.facebook {width: 586px;}
.share-btns.multi-share.counter-on a.facebook {width: 531px;}
.show-share, .hide-share {position: absolute;background: #fff;-webkit-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: 400ms all ease-out;transition: 400ms all ease-out;}
.show-share {top: 18.5px;left: 12px;right: 11px;height: 4px;}
.hide-share {top: 12px;left: 19px;bottom: 11px;width: 4px;}
.share-more.open-share .hide-share {-webkit-transform: rotate(90deg);transform: rotate(90deg);}
.share-btns .share-more:hover{background-color: #6F6F73}
.share-btns-top{margin: 35px 0 30px!important; position: static;}
.share-btns-bottom{margin-bottom: 15px;margin-top: 15px;}
.share-btns-incontent, .fbvideo .share-btns.share-btns-incontent{margin: 0 0 35px!important;}
.share-btns-incontent .btn-container {overflow: hidden;}
.share-btns-incontent .btn-container .facebook {width: 100% !important;position: static !important;}
.share-btns-bottom .facebook{right: 188px!important; padding: 7px 0 8px;position: absolute;left: 197px!important;width: auto!important}
.share-btns-bottom .next-page{height: 41px}
.share-btns-bottom .next-page a{width: 188px;text-indent: 0;margin: 0;padding: 5px 0;line-height: 31px; height: 31px;color:#fff;}
.share-btns-bottom .inactive{background-color: #C7C7CA;pointer-events: none;cursor: default;}
.share-more a{display: block}
.share-more-box{display: none;float: left;}
.open-share + .share-more-box{display: block}
.share-more-box a{width: 41px;padding: 0;display: block;margin: 0; height: 41px;border-radius: 2px;margin-left: 10px; }
.share-more-box a.twitter{background: url('/images/sprite-sheet-new.png') no-repeat 0px -292px #2CA8D2;}
.share-more-box a.twitter:hover{background-color: #209BC5}
.share-more-box a.google{background: url('/images/sprite-sheet-new.png') no-repeat -41px -292px #CE4D39;}
.share-more-box a.google:hover{background-color: #BD3C28}
.share-more-box a.email{background: url('/images/sprite-sheet-new.png') no-repeat -123px -292px #617b7e;}
.share-more-box a.email:hover{background-color: #54696B}
.share-more-box a.pinterest{background: url('/images/sprite-sheet-new.png') no-repeat -82px -292px #C82828;}
.share-more-box a.pinterest:hover{background-color: #B51B1B}
.share-btns-top a.facebook{position: static;width: 482px}
.share-btns-top .share-more{float: left}
.share-btns .fb-like{float:left;margin-right: 0;padding: 0 10px;border-radius: 3px 0 0 3px;border-left: 2px solid #306199; border-top: 2px solid #306199;border-bottom: 2px solid #306199;background: #fff;height: 37px;width: 177px}
.share-btns .fb-like iframe{margin-top:6px;}
.share-btns .fb-like .fb-text{width: 50%;float: left;color:#306199;text-transform: capitalize;margin-top: 5px;position: relative}
.share-btns .fb-like .fb-text:after{content:"";background: url('/images/blue-right-arrow.png') no-repeat;width: 22px;height: 14px;position: absolute;top: 7px;right: 11px;}
.share-btns .fb-like .fb-iframe{width: 50%;float: left;}
.share-btns-top a.facebook, .share-btns-bottom a.facebook{border-radius: 0 2px 2px 0;margin-right: 10px;width: 381px; color: #fff;}
.video-page .share-btns-bottom, .fbvideo .share-btns-bottom{margin: 45px 0 40px!important;}
a.fb-share{background:#005698;color:#fff;border:1px solid #03477C;height:45px;line-height:44px;display:block;margin:0px auto 55px;width:530px;position:relative;text-indent:52px;font-size:23px;border-radius:4px;}
.fb-share .fb-icon{position:absolute;top:5px;left:5px;width:35px;}
a.fb-share span.fb-share-count{height:43px;position:absolute;top:1px;right:1px;background:none repeat scroll 0px 0px rgb(255, 255, 255);color:#03477C;text-shadow:none;font-size:23px;line-height:42px;text-align:center;padding:0px 10px 0px 20px;text-indent:0px;}
.fb-share span img{margin-left:-30px;margin-right:8px;margin-top:-4px;}
a.fb-share:hover{background:#03477C;text-decoration:none!important;}
.video-page a.fb-share-left, .video-page .fb-like-box{margin-top:50px;}
a.fb-share-left{float:left;width:470px;border-radius:0px;text-transform:capitalize;letter-spacing:-0.3px;margin-top:23px;}
a.fb-share-left span{border-radius:0px;}
.fb-share .fb-hide{vertical-align:top;}
#stories a.fb-share{margin-bottom:18px}
#top-bar{position: fixed;top: 0;background: #fff;width: 100%;display: block;height: 54px;box-shadow: 0px 0px 6px #555;z-index: 95;zoom: reset!important;margin: 0;}
#top-bar .container{overflow: hidden}
#top-bar .share-btns{margin: 6px 0px 0;}
#top-bar .share-btns a.facebook{right: 198px;left: 197px;position: absolute;}
#top-bar .next-page a{width: 188px;margin: 0;padding: 8px 0 7px;}
#top-bar .next-page span{vertical-align: middle;margin-bottom: 0;display: inline-block;}
#top-bar .inactive{background-color: #C7C7CA;pointer-events: none;cursor: default;}
.nav-page{overflow:hidden;margin-bottom: 10px;position: relative;}
.video-page .nav-page{  margin-top: 40px;}
.nav-page-bottom{ margin-top: 40px;}
.prev-page, .next-page{width:188px; background-color: #808084;border-radius: 2px;}
.prev-page a:hover, .next-page a:hover{background-color: #68686D;border-radius: 2px;}
.random-page{background-color: #303037;border-radius: 2px;position: absolute;left: 198px;right: 198px;}
.nav-page a{display:block;text-align:center;padding:5px 0;font-family:'pt_sansbold',arial,sans-serif;color:#fff;font-size:20px;line-height:31px;}
.nav-page a:hover{text-decoration:none!important;color:#fff;}
.prev-page a{text-indent:15px;}
.prev-page a:before{background:url("/images/sprite-sheet-new.png") no-repeat -109px -52px;content:"";width: 11px;height: 14px;display: inline-block; position: relative;left: -13px;top: 0px;}
.random-page a{text-indent:15px;}
.random-page a:hover{background-color: #232329;border-radius: 2px;}
.random-page a:before{background:url("/images/sprite-sheet-new.png") no-repeat -149px -50px;content:"";width: 18px;height: 18px;display: inline-block; position: relative;left: -12px;top: 3px;}
.next-page a{text-indent:-5px}
.next-page a:after{background:url("/images/sprite-sheet-new.png") no-repeat -97px -52px;content:"";width: 11px;height: 14px;display: inline-block; position: relative;left: 13px;top: 0px;}
/*.hide-prev{left: 0;}*/
.fbvideo .hide-prev {width:630px !important;}
/*.hide-next{right: 0;}
 *  *  *  *  *  * .hide-prev a{text-indent:224px !important;}
 *   *   *   *   *   * .hide-next a{text-indent:-154px !important;}*/
#stories .nav-page-top{margin:40px 0 32px;}
.nav-page .inactive{background-color: #C7C7CA;pointer-events: none;cursor: default;}
.player-wrapper{position:relative;padding-bottom:56%!important;height:0!important;}
.player-wrapper iframe{position: absolute;}
/*#player_wrapper{padding-bottom:56%!important;height:0!important;}*/
.player-wrapper #vimeoplayer{width: 100%;height: 462px;}
#recommended-videos{display:none;position:absolute;top:0px;left:0px;width:836px;height:93.2%;background-color:#000;z-index:2;color:#fff;padding-top: 2px}
#recommended-left{width:273px;float:left;text-align:center;height:100%;padding-left:5px;}
#recommended-videos .recommended-title{font-size:24px;font-weight:400;font-family:'pt_sansbold',arial,sans-serif;margin:71px 0 48px;}
.like-rec{font-size:17px;}
.like-rec iframe{height:20px;width:47px;vertical-align:text-top;margin-top:2px;margin-left:7px;background:#3F5AA7;border:1px solid #bccbe9!important;border-radius:3px;}
#recommended-videos a.facebook-rec{padding:7px 72px 10px 41px;/*background:url("/images/fb-icon-small.png") no-repeat scroll 5px 4px #005698;*/font-size:18px;letter-spacing:-0.5px;position:relative;top:30px;color:#fff;display:inline-block;border:1px solid white;}
#recommended-videos a.facebook-rec:hover{background-color:#03477C;text-decoration:none!important;}
#recommended-videos span.fb-share-count img{margin-left:-16px;margin-top:-2px;margin-right:2px;}
#recommended-videos .fb-share-count{background:none repeat scroll 0px 0px rgb(255, 255, 255);color:#03477C;font-size:18px;line-height:33px;text-align:center;padding:0 6px 0 8px;margin:2px 2px 2px 0;position:absolute;top:1px;right:1px;height:34px;letter-spacing:-1px;}
#replay{display:none;margin-top:115px;}
#replay span{cursor:pointer;padding:8px 11px 12px 47px;background:#191919;font-size:17px;border:1px solid #383939;}
#replay span:before{background: url('/images/sprite-sheet-new.png') no-repeat 0 -53px;content: "";width: 25px;height: 27px;display: inline-block; position: absolute;left: 11px;top: 9px;}
#replay span:hover{background-color:#111}
.videos{display:block;float:left;height:120px;width:174px;margin:9px 0px 0px 9px;overflow:hidden;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.videos a, .videos img{width:174px;height:120px;}
.videoinfo{cursor:pointer;display:none;color:white;font-size:14px;padding:10px 10px 0;height:110px;text-align:left;width:154px;position:absolute;background:url('/images/black-bg.png') repeat transparent;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.videos:hover .videoinfo{display:inline-block;}
#recommended-videos.rec-vid{background:#242424;}
#recommended-videos.rec-vid .rec-title{margin-top:58px;text-align:center;font-size:30px;font-family:'pt_sansregular',arial,sans-serif;}
.rec-vid .rec-videos{margin-left:auto;margin-right:auto;width:746px;margin-top:35px;}
.rec-vid .videos{margin:0;border:1px solid #fff;border-radius:0px;}
.rec-vid .videos{margin-top:0!important;}
.rec-vid .videos, .rec-vid .videos a, .rec-vid .videos img{width:214px;height:148px;}
.rec-vid .videoinfo{width:194px;height:138px;font-size:16px;}
.rec-videos .videos:first-child + .videos{margin-left:48px;margin-right:48px;}
.rec-vid .rec-btns{width:575px;margin:70px auto 0;}
#recommended-videos.rec-vid a.facebook-rec{font-size:23px;background: #005698;padding:8px 10px 9px 53px;top:0px;float:left;}
#recommended-videos.rec-vid a.facebook-rec:before{background: url('/images/sprite-sheet-new.png') no-repeat -155px 0;content:"";width: 35px;height: 35px;display: inline-block;position: relative;margin-right: 14px;}
#recommended-videos.rec-vid a.facebook-rec .fb-hide{vertical-align:top;}
#recommended-videos.rec-vid a.facebook-rec:hover{background-color:#03477C}
.rec-vid #replay{margin-top:9px;float:right;}
.rec-vid #replay span{font-size:23px;background-position:10px 9px;background-color:#111;padding:8px 11px 9px 47px;border:1px solid #fff;}
.rec-vid #replay span:hover{background-color:#000;}
#recommended-videos.rec-vid2 .rec-title{margin-top:27px;}
.rec-vid2 .rec-videos{margin-top:28px;position:relative;width:726px;}
.rec-vid2 .rec-videos .videos:first-child + .videos, .rec-vid2 .rec-videos .videos:first-child + .videos + .videos + .videos + .videos{margin-left:38px;margin-right:38px;}
.rec-vid2 .videos{margin-bottom:40px;}
.rec-vid2 .rec-btns{width:214px;position:absolute;bottom:40px;right:2px;margin:0!important;height:151px;}
#recommended-videos.rec-vid2 a.facebook-rec{font-size:19px;width:206px;padding:5px 0 0px 6px;vertical-align: top;line-height: 35px;height: 40px; display: inline-flex;}
.rec-vid2 #replay{float:none}
.rec-vid2 #replay span{font-size:19px;width:100%;display:block;position:absolute;bottom:0;padding:10px 0px 12px 0px;text-align:center;text-indent:36px;}
#rec-nav{text-align: center; margin-top: 40px;}
#rec-posts{position: absolute;bottom: 0;width: 100%;}
.rec-slider .rec-replay, .rec-slider .rec-next{width: 215px;display: inline-block;min-height: 200px;vertical-align: top;}
.rec-slider .rec-next{margin-left: 90px;}
.rec-slider .rec-replay img, .rec-slider .rec-next img{width: 215px;height: 141px}
.rec-slider .rec-replay a, .rec-slider .rec-next a{color: #fff;cursor: pointer}
.rec-slider .rec-replay h2, .rec-slider .rec-next h2{font-family: 'pt_sansregular',arial,sans-serif;font-weight: 400;margin-top: 3px;text-align: left}
.rec-slider .rec-replay-thumb, .rec-slider .rec-next-thumb{position: relative}
.rec-slider .rec-replay-thumb div, .rec-slider .rec-next-thumb div{background: rgba(12, 68, 148, 0.8);position: absolute;bottom: 0;right: 0;font-size: 17px;padding: 5px 9px 5px 30px;}
.rec-slider .rec-replay-thumb div:before{background: url('/images/sprite-sheet-new.png') no-repeat -105px -202px;content:"";width: 15px;height: 16px;display: inline-block;position: absolute;margin-left: -20px;margin-top: 3px;}
.rec-slider .rec-next-thumb div:before{background: url('/images/sprite-sheet-new.png') no-repeat -122px -203px;content:"";width: 10px;height: 15px;display: inline-block;position: absolute;margin-left: -20px;margin-top: 3px;}
.rec-slider .videos{border: none;}
.rec-slider h2.left{font-size: 24px;margin-left: 14px;}
.rec-slider .videos, .rec-slider .videos a, .rec-slider .videos img{ width: 193px; height: 127px;}
.rec-slider .videoinfo { width: 173px; height: 117px;border-radius:0}
.rec-slider .rec-slider-wrap{background-color: #171717;padding: 12px 0px 12px 12px}
.rec-slider .slider-nav{margin-right: 12px;}
.rec-slider #slider-prev, .rec-slider #slider-next{width: 55px;height: 33px;background-color: #171717;display: inline-block;margin-left: 13px;}
.rec-slider #slider-prev a{width: 55px;height: 33px;background: url('/images/sprite-sheet-new.png') no-repeat -105px -219px; display: inline-block;cursor: pointer;}
.rec-slider #slider-next a{width: 55px;height: 33px;background: url('/images/sprite-sheet-new.png') no-repeat -161px -219px; display: inline-block;cursor: pointer;}
.fbvideo .rec-slider .rec-slider-wrap{padding-left: 14px;padding-right: 0px;}
.fbvideo .rec-slider .videos, .fbvideo .rec-slider .videos a, .fbvideo .rec-slider .videos img {width: 190px;height: 125px;}
.fbvideo .rec-slider .videoinfo{width: 170px;height: 115px;}
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}	
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.grabbing { cursor:url(grabbing.png) 8 8, move;}
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);}
.video-desc{font-size:18px;line-height:30px;font-family:'pt_sansregular',arial,sans-serif;}
.video-desc .ad-headline{line-height: initial}
.video-page .video-desc{margin-top: 30px;margin-bottom: 35px;}
.video-desc p{margin-bottom: 22px;}
.video-desc a{color: #135FB3;}
.video-desc p em{vertical-align: top}
.video-desc p small{font-size: 13px;font-style: italic;color: #ABABAB;}
.video-desc p small a{color: #ABABAB;}
#more-info{font-family:'pt_sansbold',arial,sans-serif;margin-top:32px;font-size:19px;color: #474747;}
#more-info a{color:#135FB3;}
#more-info input{border:1px dotted #ddd;padding:4px 3px 5px;vertical-align:middle;color:#222;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;width:668px;}
#more-info a#more-information{color:#222}
#more-info div.observe{font-family:'pt_sansregular',arial,sans-serif;margin:10px 0 30px;}
#more-info #more a{text-decoration:underline;}
#disqus_thread{margin:35px 0 -10px;}
#disqus_thread a{color:#135FB3;}
.recommended{margin-bottom:30px;}
.recommended-half{margin-top:23px;width:280px;}
.recommended-half:nth-of-type(2n-1){float:left;}
.recommended-half:nth-of-type(2n){float:right;}
.story-content{margin-top:10px;}
.story-content a{color:#1251AB;}
.story-content p{font-size:18px;font-family:'pt_sansregular',arial,sans-serif;line-height:30px;padding-bottom:20px;}
.story-content p iframe{width:100%;height:400px;}
.story-content .embededContent .instagram-media{width: 100%!important;max-width: 100%!important;}
.story-content .embededContent{margin-bottom: 33px;text-align: center;margin-top: 0;}
.story-content .embededContent .fb-video-container{position:absolute;top:0;left:0;width:100%;height:100%;background-image:url('/images/loadvid.gif');background-repeat:no-repeat;background-position:center;background-color:#000;}
.story-content .embededContent .fb-post, .story-content .embededContent .fb-post span, .story-content .embededContent .fb-post span iframe{width: 100%!important}
.story-content .fb-media .fb-post, .story-content .fb-media .fb-post span, .story-content .fb-media .fb-post span iframe{display: block!important;margin: 0 auto!important;}
.story-content .embededContent #fb-root{display: none}
.story-content .embededContent #molvideoplayer{width: 100%;height: 605px;}
.story-content p .surveyiframe{height: 811px;}
.story-content p .instagramiframe{overflow: hidden; height: 100%; width: 100%; position: absolute;}
.story-content h2{font-size:22px;margin-bottom:20px;font-weight:400;}
.story-content .ad-336{max-width:336px;margin:-15px auto 27px;}
.story-content img{max-width:100%;display: block;margin-bottom: 3px!important;}
.story-content small{font-size:13px;font-style: italic;color: #ABABAB}
.story-content small a{color: #ABABAB}
.story-content p img + small{position: relative;top: -10px;}
.story-content ul, .video-desc ul{font-family:'pt_sansregular',arial,sans-serif;list-style-type:square;font-size:18px;list-style-position:inside;line-height:30px; padding-bottom:20px;margin-left: 40px;}
.story-content ul li{margin-bottom:2px;}
.story-content ul li strong{vertical-align:top;}
.story-content ol, .video-desc ol{font-family:'pt_sansregular',arial,sans-serif;list-style-position:inside;font-size:18px;line-height:30px; padding-bottom:20px;margin-left: 40px;}
.story-content ol li{margin-bottom:2px;}
.story-content blockquote, .video-desc blockquote{font-style:italic;clear: both;border-left: 3px solid #CCCACA;margin: 15px 0 30px 45px;padding: 4px 0 8px 10px;color: #918F8F;font-size: 18px;font-family: 'pt_sansregular',arial,sans-serif; line-height: 33px;}
.story-content blockquote p, .video-desc blockquote p{padding-bottom:0;padding-left: 13px;color: #918F8F;}
.story-content blockquote:before, .video-desc blockquote:before{content:"";  margin-right: 15px; margin-left: -55px;width: 27px;height: 23px;background: url(/images/sprite-sheet-new.png) no-repeat -100px -92px; display: block;position: relative;top: -4px;}
.story-content blockquote p:first-child, .video-desc blockquote p:first-child{margin-top: -36px;}
.story-content blockquote p:last-child, .video-desc blockquote p:last-child{margin-bottom: -16px;}
.story-content > p {position: relative;}
.story-content > p strong, .story-content > p em, .story-content > h2 em, .video-desc p strong{vertical-align: top;}
.story-content > p .social-menu { position: absolute; top: 14px; left: 5px; width: 50px;background: #eee;opacity: 0;-webkit-transition: all 250ms ease;
-moz-transition: all 250ms ease; -o-transition: all 250ms ease; transition: all 250ms ease; }
.story-content > p .social-menu a {background: url("/images/sprite-sheet-new.png") no-repeat;display: block;width: 40px;height: 40px;margin: 4px auto;/*opacity: 0.85;*/border: solid 1px #eee; }
.story-content > p .social-menu .facebook {background-position: 0 -115px;}
.story-content > p .social-menu .twitter {background-position: -40px -115px;}
.story-content > p .social-menu .gplus {background-position: -80px -115px;}
.story-content > p .social-menu .pinterest {background-position: -120px -115px;}
.story-content > p .social-menu .email {background-position: -160px -115px;}
.social-menu .at4-icon{ display: none!important}
.story-content > p img { margin: 0;padding: 0; }
.story-content > p img + br, .story-content > p .netseer_image_banner + br{ display: none }
/*.story-content h2 + p img{margin-top: 15px} */
.story-content h2 + p .social-menu{top:29px}
.story-content > p:hover .social-menu {opacity: 1;-webkit-transform: translate(10px, 0);-moz-transform: translate(10px, 0);-ms-transform: translate(10px, 0);-o-transform: translate(10px, 0);transform: translate(10px, 0); }
.story-content > p:hover .social-menu a:hover {opacity: 1;border-color: #fff; }
.story-content > p:hover .social-menu:hover {opacity: 1; }   
.share-heading{font-family:'pt_sansbold',arial,sans-serif;font-size:21px;text-transform:capitalize;color: #474747;}
.share-heading img{width:17px;margin-top:14px;}
.obj-post h2{margin-bottom: 12px;}
.obj-post .obj-head{padding-bottom: 12px;}
.obj-post .obj-img{margin-top: 0!important;padding-top: 15px;padding-bottom: 0!important;}
.obj-post h2 + .obj-img, .obj-post .obj-head + .obj-img{padding-top: 0px;}
.obj-post .obj-caption{margin-top: 12px;min-height: 20px}
.obj-post small{display: block;margin-bottom: 23px;margin-top: 2px;}
.obj-post small + .obj-caption{margin-top: -17px;min-height: 0}
.obj-post p em{vertical-align:top;}
.embededCaption + .obj-twitter{margin-top: -24px;}
#stories .share-heading{margin-bottom:20px;  margin-top: -15px;}
#stories .story-content + .share-heading {margin-top: 0px!important;}
#stories .fb-like-bottom{margin:35px auto;}
#sidebar{width:336px;}
#interact{padding: 6px 0 18px 0;margin: 0 18px 12px;border-bottom: 1px dotted #ddd;font-family:'pt_sansbold',arial,sans-serif;font-size:22px;text-transform:capitalize;color:#474747;overflow: hidden}
#interact span{line-height: 52px;}
#interact div{float: right}
#interact div img{width: 55px;}
#interact #interact_pinterest{margin-left: 11px;}
.ad-headline{font-size:13px; color: #ABABAB; font-family: 'pt_sansregular',arial,sans-serif;margin-bottom: 3px;}
#sidebar .ad-336 .ad-headline{text-align: left;margin-left: 18px;}
/*#sidebar .ad-336{border:1px solid #cbcbcb;background:#fff;padding:18px 0;}*/
#sidebar .ad-336{margin-bottom: 12px; margin-top: 18px;}
#sidebar .ad-300{margin: 18px auto 12px;width:300px;}
/*#sidebar .ad-336 + .ad-336{margin-top: 14px}*/
#sidebar .fb-page{margin:2px 16px 0px 16px}
.video-ad{margin-bottom:12px;}
.video-ad div, .video-ad object, .video-ad div img{width:336px!important;height:252px!important;}
#most-popular{background:#fff;/*border:1px solid #cbcbcb;*/border: none;margin-top:0px;padding:0px 18px 0px 18px;}
#most-popular-headline{background:#fff;color: #474747;text-transform:uppercase;font-family:'pt_sansbold',arial,sans-serif;font-size:20px;padding-bottom:7px;overflow:hidden;}
#most-popular-headline span{margin-top:4px;font-size:21px;text-transform:capitalize;}
.tabs{display:inline-block;}
.tab-links:after{display:block;clear:both;content:'';}
.tab-links li{float:left;list-style:none;}
.tab-links a{padding:8px 7px 5px;display:inline-block;font-size:17px;font-weight:400;transition:all linear 0.15s;text-transform:capitalize;color:#0C4494;}
.tab-links a:hover{text-decoration:underline;color:#222;}
.tab-links li + li + li a{padding-right:0;}
li.active a, li.active a:hover{color:#474747;text-decoration:underline;}
.tab-content{}
.tab{display:none;}
.tab.active{display:block;}
.most-popular-video{overflow:hidden;margin-bottom:22px;}
#sidebar .most-popular-video{border-top:1px dotted #ddd;padding-top:17px;}
.tabs .most-popular-video .video-thumb{position:relative;overflow:auto;width:50%;float:left;margin-right:10px;margin-top:5px;}
.most-popular-video img{width:100%;}
.most-popular-video div, .most-popular-video h2{color:#474747;font-family:'pt_sansbold',arial,sans-serif;font-weight:400;font-size:19px;}
.most-popular-video div:hover, .most-popular-video h2:hover{text-decoration:underline;}
#header .most-popular-video, #header .most-popular-video img{width:270px;}
#header .most-popular-video div, #header .most-popular-video h2{color:#fff;font-size:17px;font-family:'pt_sansregular',arial,sans-serif;line-height:25px;}
#header ul.categories-videos li > div + div{margin:5px 30px 0;}
#header ul.categories-videos li > div + div + div{margin:5px 0px 0;}
#header .most-popular-video{margin-top:5px;margin-bottom:5px;}
.categories-videos .video-thumb{position:relative;}
#sidebar-top{border: 1px solid #cbcbcb;background: #fff;margin-bottom: 10px;padding-bottom: 18px;padding-top: 12px;}
.story-page #sidebar-top{padding-bottom: 6px;}
#sidebar-newsletter{background-color:#f0c480;margin:18px 18px 13px 18px;padding-bottom: 17px;}
#sidebar-newsletter h3{color:#474747;font-size:22px;font-weight:400;padding:8px 0px 10px 68px;text-transform:capitalize;}
#sidebar-newsletter h3:before{content:"";background: url("/images/sprite-sheet-new.png") no-repeat -133px -155px;position: absolute;width: 43px;height: 43px;margin-top: 7px;margin-left: -52px;}
#sidebar-newsletter #email{width:60%;color:#7390b4;padding:6px 0;text-indent:10px;font-size:17px;font-family:'pt_sansbold',arial,sans-serif;text-transform:capitalize;border:none;margin-left: 17px;}
#sidebar-newsletter input#email::-webkit-input-placeholder{color:#696868!important;opacity:1 !important}
#sidebar-newsletter input#email:-moz-placeholder{color:#696868!important;opacity:1 !important}
#sidebar-newsletter input#email::-moz-placeholder{color:#696868!important;opacity:1 !important}
#sidebar-newsletter input#email:-ms-input-placeholder{color:#696868!important;opacity:1 !important}
#sidebar-newsletter #submit{ width: 27.5%;background:#cc8922;color:#fff;border:none;font-family:'pt_sansbold',arial,sans-serif;font-size:17px;text-transform:capitalize;padding:6px 0 6px;cursor:pointer;-webkit-appearance:none;}
#sidebar-newsletter #submit:hover{background-color:#C98826}
#back-top{position:fixed;bottom:20px;left:50%;margin-left:625px;}
#back-top a{width:45px;display:block;-webkit-transition:1s;-moz-transition:1s;transition:1s;}
.page{border:1px solid #cbcbcb;background-color:#fff;padding:25px 20px 20px 20px;font-family:'pt_sansregular',arial,sans-serif;}
.page h3{font-size:24px;font-weight:400;margin:5px 0 23px 0;color: #474747;}
.page p{margin-bottom:25px;line-height:25px;font-size:18px;}
.page p strong{font-weight:bold;vertical-align:top;}
.page a{color:#1251AB;}
.page a:hover{text-decoration:underline;}
.page a.career{font-family:'pt_sansbold',arial,sans-serif;font-size:19px;display:block;margin:-10px 0 20px 33px;padding-left:12px;background:url("/images/arrow-right-blue.png") no-repeat 0px 7px;}
.page ol, .page ul{margin:0 0 20px 50px;font-size:18px;}
.page ol li{margin:0 0 20px 0;}
.page ul{list-style-type:square;line-height:35px;}
.page hr{margin-bottom: 32px;margin-top: 35px;border: 0;border-bottom: 1px solid #cbcbcb;}
#contact{margin:40px 20px 0px 0px;padding:30px 0 25px;background:#f7f7f7;border:1px solid #ccc;}
#contact table tr td{padding-bottom:10px;font-size:18px;}
#contact table tr td .ginput, #contact table tr td select, #contact table tr td textarea{width:300px;padding:7px 5px;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border:1px solid #ccc;}
.upload-form .ginput, .upload-form select, .upload-form textarea{ width: 100%; padding:7px 5px;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);border:1px solid #ccc;}
.upload-form #contact {margin-right: 0; padding: 20px;}
.upload-form .form-group {margin-bottom: 25px;}
.upload-form .form-group input {box-sizing:border-box; font-size:14px;line-height: 1.4}
.upload-form label {display: inline-block; font-weight: bold; margin-bottom: 5px; max-width: 100%;}
.upload-form .form-group.error label {color: red;}
.upload-form .color-alert {color: darkred;}
.upload-form .loader {margin-right: 5px;}
#submit-container span {display:block;}
#contact table tr td select{width:312px;}
#contact #resume, #contact #file-select, #contact #image-select{font-size:15px;}
#contact textarea{height:80px;}
.contact-full p{text-align: center}
.contact-full form{width: 520px;margin: 40px 0 20px 0!important;padding: 45px 0 35px!important;}
#submit_button{background-color:#0C4494;color:#fff;border:none;border-radius:4px;font-size:17px;font-family:'pt_sansbold',arial,sans-serif;padding:7px 14px;cursor:pointer;float:right;-webkit-appearance:none}
#submit_button:hover{background-color:#093677;}
.careers #contact{width:100%;margin:0;}
.careers #contact table{width:94%;margin-top:3px;}
.careers #contact table tr td:first-child{width:32%;}
.careers #contact #subject{color:gray;}
.careers #contact textarea{width:98.3%!important;}
.advertise{padding-left:40px;padding-right:40px;}
.advertise h2{font-size:28px;font-weight:400;margin:22px 0 39px 0;color: #474747;}
.advertise h3{font-size:20px}
.advertise h3 a{font-weight:400}
.advertise p{line-height:30px;font-size:18px;}
.advertise-devices{margin:20px 5px 10px 0;}
.advertise-form{margin:35px auto 10px !important;width:490px !important;padding-bottom:18px !important;}
.advertise-form table{margin:auto;}
.advertise-form td:nth-of-type(7){vertical-align:top;}
.advertise-form .text-top{vertical-align:top;}
.advertise-form .required{font-size:13px;padding-bottom:5px;}
.advertise-visitors{width:1120px;margin-left:10px;}
.advertise hr{border:none;border-bottom:2px dotted #dadada;margin:50px 0;}
.advertise-social{width:360px;margin-left:15px;}
.advertise-mobile{width:473px;}
.advertise .get-mk{background:#E8E8E8;padding:15px 0;text-align:center;margin-bottom:-3px;}
#upload-left{width:582px;border-right:1px solid #CBCBCB;padding-right:20px;}
#upload-left h3{margin-bottom:28px;font-size:24px;}
#upload-left #submit-container{color:#222;font-weight:400;margin-top:8px;font-family:'pt_sansbold',arial,sans-serif;font-size:17px;text-indent:20px;}
#upload-left #submit-container img{margin-top:-4px;margin-right:6px;}
#upload-left .required-txt{font-size:12px;text-align:right;}
#upload-right{width:565px;}
#upload-left #contact{width:545px;padding:22px 20px 12px 15px;margin-bottom:0;}
#upload-left #contact table tr td .ginput, #upload-left #contact table tr td select,
#upload-left #contact table tr td textarea{width:100%;background:#fff;box-sizing:border-box;}
#upload-left #contact table tr td:first-child{width:132px;text-transform:capitalize}
#upload-left #contact table tr:first-child td{padding-bottom:0;}
#upload-left #contact table tr td{padding-left:5px;}
#upload-left #contact table .author-info{padding:10px 0 15px 4px;font-size:19px;font-family:'pt_sansbold',arial,sans-serif;font-weight:400;}
#upload-left #contact table tr td small{font-size:12px;}
#upload-right h3{margin-bottom:39px;font-size:24px;}
.accordion-wrap{position:relative;}
.accordion-title{padding:8px 10px 10px 30px;font-weight:400;background:#ff4669 url('http://upload.wimp.com/images/accordion_closed.gif') no-repeat 10px 14px;color:#fff;cursor:pointer;margin-bottom:5px;line-height:1.1em;}
.accordion-title:hover{background:#021D3A url('http://upload.wimp.com/images/accordion_closed.gif') no-repeat 10px 14px;}
.accordion-open{background:#222 url('http://upload.wimp.com/images/accordion_opened.gif') no-repeat 10px 17px;}
.accordion-content{width:100%;padding-top:10px;line-height:1.8em;}
.accordion-content ul{list-style-type:square;margin-left:18px;margin-bottom:15px;margin-top:-10px;}
.accordion-content ul li{line-height:25px;margin-bottom:5px;}
.accordion-content p img{width:100%;margin-top:5px;}
.accordion-content a{color:#1662b8}
.accordion-title{background-color:#063365;color:#ffffff;}
.accordion-title em{font-family:'pt_sansregular',arial,sans-serif;font-style:normal;font-size:20px;font-weight:300;}
.accordion-open{background-color:#021D3A;color:#ffffff;}
.search-sort{font-size: 16px;color: #474747;overflow: hidden;margin-bottom: 24px;font-family: 'pt_sansbold',arial,sans-serif;}
.search-sort a,.search-sort a:visited {color: #0C4494!important;}
ul.search-sort{list-style-type: none;}
ul.search-sort li{width: 100%;float: left;margin-bottom: 10px;}
.search-sort a.active{color: #474747!important;text-decoration: underline}
.search-sort span:hover{cursor: pointer}
.search-sort span{/*background: url("/images/sort-down.png") no-repeat 100% 60%;padding-right: 18px;*/text-decoration: underline;}
.search-sort div input[type="checkbox"]{vertical-align: inherit;margin-left: 0;} 
.search-sort div label{margin-right: 14px;line-height: 30px;font-family: 'pt_sansregular',arial,sans-serif;}
.search-sort input:disabled + label{color: #D0D0D0;}
.search-sort #checkAll + label{text-transform: uppercase; font-family: 'pt_sansbold',arial,sans-serif;}
.search-sort #search-btns{margin-top: 10px}
.search-sort #search-btns #search{background-color: #0C4494;border: none;padding: 6px 8px;color: #fff;font-size: 14px;cursor: pointer;-webkit-appearance:none}
.search-sort #search-btns #search:hover{background-color: #093677;}
.search-sort #search-btns #reset{background-color: #808084;border: none;padding: 6px 8px;color: #fff;font-size: 14px;margin-left: 5px;cursor: pointer;-webkit-appearance:none}
.search-sort #search-btns #reset:hover{background-color: #626267}
.search-sort div p{font-size: 16px;display: inline-block;}
#select-cat #cat-dropdown{display: none}
#select-cat.open #cat-dropdown{display: block}
#select-cat span img{margin-left: 5px;}
#select-cat.open span img {-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.help-page hr{border:none;border-bottom:1px dotted #ddd;margin:35px 0 35px;}
.help-page p strong{font-family:'pt_sansbold',arial,sans-serif;font-size:19px;}
.contact-left{float:left;width:50%;border-right:1px solid #CBCBCB;margin-bottom:30px;}
.contact-left p{margin-right:20px;}
.contact-right{float:right;width:48.4%;}
.switch-mobile{background:#303037;margin-bottom:20px;color:#fff;font-size:34px;padding:10px 0!important;}
.switch-mobile a{color:#fff;text-decoration:underline;}
.pagination{display:table;margin-bottom:12px;}
.pagination>ul>li{display:inline;float:left;}
.pagination>ul>li>a{position:relative;float:left;padding:4px 8px 5px;margin:0 1px;line-height:1.42857143;color:#fff!important;text-decoration:none!important;background-color:#808084;font-size:14px;min-width:14px;text-align:center;}
.pagination>ul>li#archives>a{background-color: #303037}
.pagination>ul>li#archives>a:hover{background-color: #232329}
.pagination>ul>li>a.active, .pagination>ul>li>a:hover{background-color:#56565A;}
.pagination>ul>li:first-child>a{}
.pagination span{background: url(/images/sprite-sheet-new.png) no-repeat -88px -51px; width: 7px;height: 10px;display: inline-block;margin-top: -3px;margin-left: 2px;}
.pagination a.left span{background-position: -80px -51px;margin-left: 0;margin-right: 2px;}
.pagination .disabled{padding:0 6px;line-height:30px;color:#4E4E50;}
.pagination>ul>li>a.active, .pagination>ul>li>a:hover {background-color:#303037}
.pagination>ul>li#archives>a, #search-submit {
    background-color: #0C4494;}
.pagination>ul>li#archives>a:hover, input#search-submit:hover {
    background-color: #093677;}
#nav-story{border:none;margin-bottom:50px;margin-top:22px;}
.story-page #nav-story{margin-top:30px;}
#nav-story a{background:#c57a06;color:#fff;font-size:19px;font-family:'pt_sansbold',arial,sans-serif;padding:6px 14px;}
.story-page #nav-story #prev-pg{ background: #cac7c7;padding: 7px 14px 7px 21px;}
.story-page #nav-story #prev-pg:before {background: url(/images/sprite-sheet-new.png) no-repeat -97px -69px;content: "";width: 10px;height: 18px;position: relative;display: inline-block;left: -10px;top: 2px;}
.story-page #nav-story #next-pg{ background:#c57a06;padding: 7px 21px 7px 14px;}
.story-page #nav-story #next-pg:after {background: url(/images/sprite-sheet-new.png) no-repeat -108px -69px;content: "";width: 10px;height: 18px;position: relative;display: inline-block;left: 9px;top: 2px;}
#nav-story a#prev-pg:hover{color:#fff;background-color:#bcb8b8;text-decoration:none;}
#nav-story a#next-pg:hover{color:#fff;background-color:#bb7407;text-decoration:none;}
#nav-story .story-one-page{position:relative;margin-left:-30px;margin-top: 1px;}
#nav-story .story-one-page span{background:url("/images/sprite-sheet-new.png") no-repeat -133px -34px;width:10px;height:16px;position:absolute;bottom:-22px;left:0;}
#nav-story .story-one-page a{padding:7px 14px 7px 30px;background:#005698}
#nav-story .story-one-page a:hover{text-decoration: none;}
#nav-story .right span#page-of{font-size:19px;font-family:'pt_sansbold',arial,sans-serif;color: #474747;vertical-align:top;margin-right:10px;}
#nav-story .right a span{vertical-align:top;line-height:21px;font-size:23px;font-weight:300;}
#nav-story .right a + a{margin-left:14px;}
#nav-story #prev-pg, #nav-story #next-pg{ font-size:20px;letter-spacing: 0.5px;font-weight: 300;}
.story-content #story-last-slide{ margin-bottom: 35px}
    .story-content #story-last-slide .left, .story-content #story-last-slide .right{width: 48%; font-family: 'pt_sansbold',arial,sans-serif;}
    .story-content #story-last-slide span{ display: block; text-align: center; font-size: 27px; font-family: 'pt_sansbold',arial,sans-serif; text-transform: capitalize; margin-bottom: 15px;}
    .story-content #story-last-slide .video-thumb{ height: 250px;margin-bottom: 5px;position: relative;overflow: hidden;}
        .story-content #story-last-slide .video-thumb img{  width: 100%; margin-top: -6px;}
        .story-content #story-last-slide  h2{ font-size: 19px}
        .story-content #story-last-slide h2 a{ color: #222;}
        .story-content #story-last-slide h2 a:hover{ text-decoration: underline;}
#stories hr, .fbstory hr{border:none;border-top:1px solid #b4b4b4;margin-bottom:36px;}
.featured-video a:visited, #latest a:visited, #editors-choice a:visited{color:#8C8B8B;}
#latest .headline a{color: #474747}
.archive-page .pagination{width:100%;background-color: #303037;line-height: 25px;border-radius: 2px;}
.archive-page .pag-top{margin:15px 0 26px;}
.archive-page .pagination a{padding:4px 8px 5px;font-size:14px;color:#fff!important;font-family: 'pt_sansbold',arial,sans-serif;}
.archive-page .pagination .archive-center{position:absolute;left:50%;margin-left:-60px;}
.archive-page .pagination span{line-height:16px;}
.archive-page .pagination a:hover{text-decoration:none!important;}
.archive-list{margin-top: 42px;margin-bottom: 20px;}
.archive-list .year, .archive-list .month a{text-align: center;font-family: 'pt_sansbold',arial,sans-serif;border-radius: 2px;line-height: 40px;display: block;}
.archive-list .year{font-size: 20px; color: #fff;background-color: #303037;margin-top: 35px;}
.archive-list .month-list{overflow: hidden;margin: 0.75% -0.75%}
.archive-list .month{width: 23.5%;float: left;margin: 0.75%;}
.archive-list .month a{font-size: 18px; color:#474747;background-color: #ededf1;}
.archive-list .month a:hover, .authors-page .authors-list a:hover{background-color: #e0e0e3; text-decoration: none!important;}
.archive-page a.see-more{margin-top:30px;}
.authors-list a{color: #474747; font-size: 18px;font-family: 'pt_sansbold',arial,sans-serif;display:block;background-color: #ededf1;margin: 1.5% 0;line-height: 40px;border-radius: 2px;}
.authors-page .headline{margin-bottom: 20px}
.authors-page .authors-list{margin-bottom: 25px;margin-top: 40px;}
.archive-list a:visited, .authors-list a:visited{color: #474747!important}
.home .loading{text-align:center;padding-bottom:15px;}
.home .loading a{background:url("/images/sinchronize.png") #005698 no-repeat 10px 8px;padding:5px 12px 5px 32px;color:#fff!important;font-size:17px;}
.home .loading a:hover{background-color:#063365;text-decoration:none!important;}
.adblade-dyna.zone-929 .zone{margin:0 -5px;}
div.adblade-dyna.zone-929 div.zone div.ad{width:33.3%!important;}
div.adblade-dyna div.advlabel a{color:#222!important;font-size:12px!important;}
.adblade-dyna.zone-929 .zone .ad a.description{font-family:'pt_sansbold',arial,sans-serif!important;font-weight:400!important;font-size:19px!important;line-height:22px!important;height:auto!important;margin-top:3px;}
div.adblade-dyna div.zone div:nth-of-type(5){clear:both}
div.adblade-dyna div.zone div.advlabel, div.adblade-dyna div.advlabel{bottom:-10px!important;top:inherit!important;z-index:10!important;}
.error-page #latest{width:100%;min-height:450px;}
.error-page h3{font-family:'pt_sansbold',arial,sans-serif;font-size:30px;text-align:center;margin:20px 0 30px;}
.error-page div{margin-top:35px;}
.error-page p{font-family:'pt_sansregular',arial,sans-serif;font-size:18px;margin-bottom: 20px;line-height: 30px;}
.error-page #searchform{margin-bottom: 36px;}
.error-page #search-input{border-bottom: 1px solid #cbcbcb;border-left: 1px solid #cbcbcb;border-top: 1px solid #cbcbcb; padding-bottom: 5px;}
.error-page #search-input::-webkit-input-placeholder{color:#808C9D!important;opacity:1 !important}
.error-page #search-input:-moz-placeholder{color:#808C9D!important;opacity:1 !important}
.error-page #search-input::-moz-placeholder{color:#808C9D!important;opacity:1 !important}
.error-page #search-input:-ms-input-placeholder{color:#808C9D!important;opacity:1 !important}
.report-btn{cursor:pointer}
#report-popup{width:100%;height:100%;top:0;left:0;display:none;position:fixed;overflow:auto;z-index:100;}
#report-bg{background-color:#222;opacity:.98;width:100%;height:100%;}
#report-popup img#reportissue_close{position:absolute;right:-18px;top:-18px;cursor:pointer;width:40px;}
div#report-wrapper{position:absolute;left:50%;top:50%;margin-left:-202px;margin-top:-160px;}
#report-popup form{max-width:300px;min-width:250px;padding:10px 30px 57px;border:2px solid #2A2326;border-radius:8px;background-color:#fff}
div#report-wrapper h2{font-size:28px;font-weight:400;}
div#report-wrapper hr{margin:10px -30px 20px;border:0;border-top:1px solid #cbcbcb;}
#report-popup form #reportissue_email, #report-popup form #subject, #report-popup form textarea{border:1px solid #cbcbcb;width:100%;padding:10px 0;margin-bottom:20px;text-indent:40px;font-size:17px;font-family:'pt_sansbold',arial,sans-serif;}
/*#report-popup form #subject{color:#ABABAB;background:url(/images/warning.png) no-repeat 13px 13px #f2f2ef;}*/
#report-popup form textarea{height:100px;background:url(/images/sprite-sheet-new.png) no-repeat -200px -40px;margin-bottom:16px;}
#report-popup form #reportissue_email{background:url(/images/sprite-sheet-new.png) no-repeat -200px -0px;}
#report-popup form #reportissue_email::-webkit-input-placeholder, #report-popup form textarea::-webkit-input-placeholder{color:#ABABAB!important;opacity:1 !important}
#report-popup form #reportissue_email:-moz-placeholder, #report-popup form textarea:-moz-placeholder{color:#ABABAB!important;opacity:1 !important}
#report-popup form #reportissue_email::-moz-placeholder, #report-popup form textarea::-moz-placeholder{color:#ABABAB!important;opacity:1 !important}
#report-popup form #reportissue_email:-ms-input-placeholder, #report-popup form textarea:-ms-input-placeholder{color:#ABABAB!important;opacity:1 !important}
#report-popup #reportissue_submit_button{margin-right:-2px;background-color:#063365;color:#fff;border:none;border-radius:4px;font-size:17px;font-family:'pt_sansbold',arial,sans-serif;padding:7px 14px;cursor:pointer;float:right;}
#reportissue_submit_button:hover{background-color:#021D3A;}
.overflow{overflow:hidden}
.video-page .videos{margin-top:27px;}
.video-page #recommended-videos .recommended-title{margin-top:70px;margin-bottom:68px;}
.listicle .ad-vertical-story{float:left;width:160px;margin-top:8px;}
.listicle .story-content{float:right;width:656px;margin-bottom:25px;}
.fbstory.listicle .story-content{width:686px;margin-bottom:0px;}
.listicle .story-content img{width:100%}
.listicle .story-content ul li{list-style-type:none;}
.listicle .story-content ul li a{font-family:'pt_sansbold',arial,sans-serif;}
.listicle .story-content ul li.inactive a{color:#8C8B8B;cursor:text;}
.listicle .story-content ul li a:hover{text-decoration:underline}
.listicle .story-content ul li.inactive a:hover{text-decoration:none}
.listicle .story-content ul li:before{content:"";line-height:1em;width:6px;height:6px;background-color:#135FB3;float:left;margin:10px 10px 0 0;}
.listicle .story-content ul li.inactive:before{background-color:#8C8B8B;}
.rc-eosheadline{font-size:21px;text-align:left;font-family:'PT Sans', PT Sans, Arial, sans-serif;color:#222222;font-weight:bold;margin-left:3px;margin-bottom:-16px;border-bottom:1px dotted #ddd;}
.rc-endofslideshow .rc-description{font-family:'PT Sans', PT Sans, Arial, sans-serif!important;font-weight:bold!important;font-size:19px!important;line-height:140%!important;text-align:left!important;margin-bottom:5px!important;}
.rc-endofslideshow .rc-branding{color:#222222 !important;font-size:10px!important;margin-right:2px!important;line-height:15px!important;font-family:'PT Sans', PT Sans, Arial, sans-serif!important;margin-bottom:2px!important;}
.rc-eoss .rc-description {margin-bottom:10px!important}
.rc-eoss .rc-branding {color:#222222!important; font-size:10px!important}
.rc-baheadline {margin-left:5px; margin-bottom:-16px; font-family:'pt_sansbold',arial,sans-serif; font-size:22px;}
.rc-belowarticle .rc-description {margin-bottom:10px!important}
.rc-belowarticle .rc-branding {margin-bottom:2px!important; color:#222222!important; font-size:10px!important}  
#sticker{ background: #fff; border: 1px solid #cbcbcb;  width: 298px!important;z-index: 10}
.cat-widget .most-popular-video .video-thumb{width: 50%;}
.most-popular-video div, .most-popular-video h2{font-size: 17px;}
.most-popular-video .video-thumb + div{padding-left: 160px}
.cat-widget{padding: 12px 18px 10px 18px;}
.cat-widget .heading{font-size: 21px; color: #474747;font-family: 'pt_sansbold',arial,sans-serif; margin-bottom: 5px;text-transform: capitalize;border-bottom: 1px dotted #ddd; }
.cat-widget .right{  display: block; width: 100%; background: #f2f2f2; padding: 4px 0; margin-bottom: 5px;text-indent: 10px; text-align: right;font-family: 'pt_sansbold',arial,sans-serif}
.cat-widget .right span{ font-size: 14px;}
.cat-widget .right select{ margin-right: 5px;font-family: 'pt_sansbold',arial,sans-serif}
.cat-widget .most-popular-video {border-bottom: 1px dotted #ddd; padding-bottom: 18px;margin-bottom: 13px;margin-top: 10px;}
.cat-widget div.most-popular-video:last-of-type{border-bottom:none;  margin-bottom: 0;}
.cat-widget .most-popular-video .video-thumb {position: relative;overflow: auto;float: left;margin-right: 10px;margin-top: 5px;}
.rc-widget .rc-description{font-size: 17px;}
.rc-widget .rc-wc{margin: 0!important}
.rc-widget .rc-branding{margin-top: -5px!important;margin-bottom: 15px}
#at-jumboshare{margin: 0px 0 25px -4px}
    .at4-jumboshare .at4-count-container{display: none;}
    .at4-jumboshare .at4-share-container{padding-left: 0!important;}
    a.at-svc-compact {background: #BEBCBC!important;}
    .at4-jumboshare a .label {font-size: 14px!important;;padding: 0 10px 0 0!important;;}
    .social-menu a.at300b .at4-icon{display: none;}
    .story-page #at-jumboshare{ margin-bottom: 35px;}
    .story2 #at-jumboshare{ margin-top: -17px;}
.quiz .pb_feed{margin-top: -10px!important;}
.quiz .pb_feed iframe{margin-bottom: -55px!important;}
.quiz .play_game_button{background: #005698;}
.quiz .rev-headline{margin-top: 40px!important}
.quiz .feed_main_section .play_main_container{margin-bottom: 0!important}
#yml-widget{margin: 5px 0 30px 0;overflow: hidden;}
#yml-widget .yml-entry{width: 24.25%;margin-left: 1%}
#yml-widget .yml-entry:first-child{margin-left: 0;}
#yml-widget .yml-entry img{width: 100%}
#yml-widget .yml-entry h2{font-family: 'pt_sansbold',arial,sans-serif;font-size: 17px;line-height: 22px;font-weight: 300;}
#yml-widget .yml-entry h2 a{color: #474747;}
#ad-warning{ background-color: #FDF384;margin-bottom: 11px;position: relative;opacity: 0; animation-name: example;animation-duration: 4s;-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/-moz-animation-fill-mode:forwards; /*FF 5+*/-o-animation-fill-mode:forwards; /*Not implemented yet*/-ms-animation-fill-mode:forwards; /*IE 10+*/animation-fill-mode:forwards; /*when the spec is finished*/}
@keyframes example {from {opacity:0;}to {opacity:1}}
#ad-warning:after{ background: url(/images/sprite-sheet-new.png) no-repeat 0px -155px;width: 11px;height: 11px;content: "";display: inline-block;position: absolute;left: 19px;}
#ad-warning p:before{ background: url(/images/sprite-sheet-new.png) no-repeat -159px -85px;width: 34px;height: 30px;content: "";display: inline-block;position: absolute;top: 8px;left: 8px;}
#ad-warning p{ font-family: 'pt_sansbold',arial,sans-serif;font-size: 15px;padding: 4px 4px 5px 52px;}
#sidebar .advertise-btn{margin: 12px 0;background: #fff;  padding: 8px; border: 1px solid #cbcbcb;text-align: center;font-family: 'pt_sansbold',arial,sans-serif;font-size: 17px;}
#sidebar .advertise-btn a{ color: #fff;  display: block;padding: 8px 0;  background-color: #D59129;}
.advertise .advertise-btn{color: #fff;  display: block;margin: 40px 0 50px;background: #D59129;  padding: 14px 0; text-align: center;font-family: 'pt_sansbold',arial,sans-serif;font-size: 20px;}
#sidebar .advertise-btn a:hover, .advertise .advertise-btn:hover{background-color: #CD871D;text-decoration: none}
.lazy-hidden {background: #f7f7f7 url('/images/ellipsis-lazy.gif') no-repeat 50% 50%;}
.latest-full .lazy-hidden{background-position: 50% 33%}
#home-footer a, .ias-trigger a {text-align: center;display: block;padding-left: 0;padding-right: 0;margin: 16px 0;background-color: #303037;padding: 0px 14px 0px;color: #fff!important;text-decoration: none!important;font-size: 20px;font-family: 'pt_sansbold',arial,sans-serif;border-radius: 2px;line-height: 40px;}
#home-footer a:before {background: url('/images/sprite-sheet-new.png') no-repeat -65px -157px;content: "";width: 14px;height: 14px;display: inline-block;position: relative;left: -15px;}
.ias-trigger a:before {background: url('/images/sprite-sheet-new.png') no-repeat -83px -157px;content: "";width: 16px;height: 16px;display: inline-block;position: relative;left: -13px;top: 1px;}
#home-footer a:hover, .ias-trigger a:hover{background-color: #232329}
iframe[src="https://archive.org/embed/KmartWeekOf02.02.1992"], iframe[src="https://archive.org/embed/Kmart30thAnniversaryProgram"], iframe[src="https://archive.org/embed/KmartDecember1990"] {height: 50px!important;}
.embed-container {position: relative !important;padding-bottom: 56.25% !important;/* padding-top: 30px !important;*/ height: 0 !important; overflow: hidden !important;margin-bottom: 20px;}
.embed-container iframe,.embed-container object,.embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#footer{width:100%;min-width:1230px;margin:20px 0 0 0;border-left:0;border-right:0;background:#132439;background:-moz-linear-gradient(top, #081525 0%, #132439 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #081525), color-stop(100%, #132439));background:-webkit-linear-gradient(top, #081525 0%, #132439 100%);background:-o-linear-gradient(top, #081525 0%, #132439 100%);background:-ms-linear-gradient(top, #081525 0%, #132439 100%);background:linear-gradient(to bottom, #081525 0%, #132439 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#081525', endColorstr='#132439',GradientType=0);border-bottom:1px solid rgb(39, 52, 73);}
#footer h3, #footer li, #footer a, #footer input{color:#eee;border:0;}
#footer h3:hover, #footer li:hover, #footer a:hover, #footer input:hover{color:#fff;}
#footer ul > li{list-style-type:none;padding:0;border:0;}
#footer .subfooter-outer{width:inherit;background-color:#808084;}
#footer .subfooter-outer > div{width:1230px;margin:0 auto;}
#footer .primary.subfooter-outer{background-color:#808084;}
#footer .primary.subfooter-outer > div{padding:25px 0;}
#footer .primary.subfooter-outer > div ul{text-align:left;}
#footer .primary.subfooter-outer > div ul li{float:none;padding:0;margin:0 31px 0 0;display:inline;}
#footer .primary.subfooter-outer > div ul li a{display:inline-block;line-height:30px;padding:0;color:#fff;font-size: 15px;font-family: 'pt_sansregular',arial,sans-serif;}
#footer .primary.subfooter-outer > div ul li a:hover{color:#fff;}
#footer .primary.subfooter-outer > div ul li.iconCredit{float:right;margin:0;}
#footer .primary.subfooter-outer > div ul li.iconCredit a{font-size:12px;color:#4B5570;}
/*#footer .primary.subfooter-outer > div ul:after{background:url('/images/sprite-sheet-new.png') no-repeat 0px -256px;content:"";position: relative;width: 183px;height: 35px;display: inline-block;top: -1px;float: right;}*/
.hidden{display:none !important;}
.transparent{opacity:0 !important;}
.screen-reader-text{position:absolute;top:-9999px;left:-9999px;}
html,body {margin:0;padding:0;height:100%;}
#page-wrap {min-height:100%;position:relative;}
#header + .container, .content-wrap {padding-bottom: 72px;}
#header + .home{padding-bottom: 96px;}
#footer {width: 100%;height: 79px;position: absolute;bottom: 0;left: 0;margin: 0;}
#home-footer {width: 100%;height: 72px;position: absolute;bottom: 0;left: 0;margin: 0;}
#wrapper .fb-post{display: block;text-align: center}
.twitter-tweet, .instagram-media, .twitter-video{margin-left: auto!important;margin-right: auto!important}
.embededContent blockquote{margin-left: 45px!important;}
.oyt-container {
	left: 0px; 
	width: 100%; 
	height: 0px; 
	position: relative; 
	padding-bottom: 56.2493%;

}
.oyt-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#search-collapse{position: fixed;top: 0;right: -100%;bottom: 0;display: block;float: left;width: 100%;height: 100%;z-index: 111;
-webkit-transition: all 0.20s ease-out;-moz-transition: all 0.20s ease-out;-o-transition: all 0.20s ease-out;-ms-transition: all 0.20s ease-out;transition: all 0.20s ease-out;
box-sizing: border-box;overflow-x: hidden;/*overflow-y: scroll;*/-webkit-overflow-scrolling: touch; }
.search-collapse-box{float: right; position: relative;width: 500px;background: #EDEDF1;height: 100%;box-sizing: border-box; overflow-x: hidden; overflow-y: scroll; -webkit-overflow-scrolling: touch;}
#search-collapse.search-collapse-active{right: 0; }
.search-collapse-title{font-family: 'pt_sansbold',arial,sans-serif;font-size: 18px;text-align: center;padding: 17px 10px 10px 10px;margin-bottom: 10px;}
.search-collapse-title h2{display: inline-block;}
#search-collapse a#btn-reset{font-family: 'pt_sansbold',arial,sans-serif;font-size: 18px;border-radius: 2px;background-color: #808084;color: #fff;padding: 0px 14px 0px;line-height: 40px;float: left;margin-top: 10px;cursor:pointer}
#search-collapse a#btn-reset:hover{background-color: #727275;text-decoration: none!important}
.search-collapse-content{background-color: #fff;border-radius: 2px;margin: 0 10px;}
#search-collapse a.filters{cursor: pointer;display: block;overflow: hidden;padding: 10px 15px 10px 10px;border-bottom: 1px solid #EDEDF1;color: #474747;background-color: #fff}
#search-collapse .filters.selected,#search-collapse a.filters:hover{background-color:#808084; color: #fff;}
#search-collapse a.filters:hover .selected-filters:after{background: url('/images/sprite-sheet-new.png') no-repeat 0px -203px;width:8px;height: 12px}
/*#search-collapse .filters span{display: none}*/
#search-collapse .search-collapse-sec .filters span{display: none}
#search-collapse .filters.selected span{background: url('/images/sprite-sheet-new.png') no-repeat -16px -203px;content: "";width: 11px;height: 11px;display: inline-block;position: relative;top: 5px;left: 5px;float: right;}
#search-collapse .filters h2{font-family: 'pt_sansbold',arial,sans-serif;font-size: 15px;display: inline-block}
#search-collapse .filters .selected-filters{float: right;}
#search-collapse .filters .selected-filters:after{background: url('/images/sprite-sheet-new.png') no-repeat -8px -203px;width:8px;height: 12px;content: "";display: inline-block;position: relative;top: 1px;left: 5px;}
#search-collapse .filters .selected-filters{margin-top: 2px;font-size: 13.5px;}
#search-toggle{text-align: center;display: block;color: #fff!important;font-family: 'pt_sansbold',arial,sans-serif;font-size: 20px; background-color: #303037; border-radius: 2px;line-height: 40px;margin: 20px 0 32px;}
#search-toggle:before {background: url('/images/sprite-sheet-new.png') no-repeat -27px -202px;content: "";width: 14px;height: 14px;display: inline-block;position: relative;top: 0px;left: -13px;}
#search-toggle:hover,#search-collapse #btn-done:hover,#search-collapse #btn-back:hover{background-color: #232329;text-decoration: none!important}
#search-collapse #btn-done, #search-collapse #btn-back{font-family: 'pt_sansbold',arial,sans-serif;font-size: 18px;display: block;text-align: center;border-radius: 2px;background-color: #303037;color: #fff;line-height: 40px;margin: 10px 10px 22px 10px;cursor:pointer}
/*#search-collapse #btn-back:before{background: url('/images/sprite-sheet-new.png') no-repeat -41px -203px;content: "";width: 8px;height: 12px;display: inline-block;position: relative;top: 0px;right: 5px;}*/
#search-collapse #btn-back{text-transform: uppercase}
#search-collapse #btns{margin: 0 10px;overflow: hidden}
#search-collapse #btn-done{width: calc(100% - 82px);float: right;margin-right: 0;}
#search-collapse #btn-close{color: #474747;cursor: pointer;text-decoration: underline; font-size: 13.5px;display: block;text-align: center;margin-bottom: 20px;position: absolute;bottom: 0;width: 100%;}
.menu-active{overflow: hidden}
.fp-video-top{margin-top: 43px!important}
#recent-posts{margin-top: 35px;margin-bottom: 10px;overflow: hidden}
#recent-posts-wrap{margin-left: 1px;}
#recent-posts h3.headline{color:#474747;font-size: 26px;margin: 0 0 22px;border-bottom: 1px dotted #ddd;padding-bottom: 1px;}
#recent-posts a{font-family: 'pt_sansbold',arial,sans-serif;font-size: 19px;line-height: 22px;margin-bottom: 5px;font-weight: 300;color: #474747}
#recent-posts a h2{margin-top: 5px;margin-left: 3px;}
#recent-posts .item{width: 32.33%;float: left;margin: 0.5%}
#recent-posts .item img{width: 100%;height: 180px;}
#sidebar-recent-posts{margin: 0 18px;}
#sidebar-recent-posts .item{margin-bottom: 18px;}
#sidebar-recent-posts h3.headline{color:#474747;font-size: 21px;margin: 0 0 22px;border-bottom: 1px dotted #ddd;padding-bottom: 7px;}
#sidebar-recent-posts a{font-family: 'pt_sansbold',arial,sans-serif;font-size: 17px;line-height: 22px;margin-bottom: 5px;font-weight: 300;color: #474747}
#sidebar-recent-posts a h2{margin-top: 5px;}
#sidebar-recent-posts .item img{width: 100%;height: 180px;}
.fb-counter a.facebook{left: 55px;}
.fb-counter .shares{position: absolute;text-align: center;color: #305891}
.fb-counter .shares .count, .fb-counter .shares .label{display: block}
.fb-counter .shares .count{line-height: 20px;font-size: 20px;}
.fb-counter .shares .label{font-size: 16px;margin-top: 4px;text-transform: capitalize;}
.fb-counter .shares + .fb-like{margin-left:55px}
.fb-counter a.facebook{ left: 252px!important;}
.fb-counter .shares.hide-counter{display:none}
.fb-counter .shares.hide-counter + .fb-like{margin-left:0}
.fb-counter .shares.hide-counter + .fb-like + a.facebook{left: 197px!important;}
.mkt-980 .container {width: 980px;}
.mkt-980 #wrapper {width: 584px;}
.mkt-980 .share-btns-top a.facebook {width: 434px;}
.mkt-980 .open-share + .share-more-box {margin-top: 10px}
.mkt-980 .share-more-box a.twitter {margin-left: 0px}
#fb-like-popup{display:none;position:fixed;z-index:1000;margin-top: -10px;width:300px;background:white;box-shadow:0 0 26px rgba(0, 0, 0, 0.5);border:1px solid rgba(0, 0, 0, 0.1);background-clip:padding-box;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size: 18px;color: #2a2a31;font-family: 'pt_sansbold',arial,sans-serif;}
#fb-like-popup .modal-header{position: relative;padding:35px 18px 35px 18px;background-color:#f2f2f2;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;}
#fb-like-popup .modal-header a{color: #3966a1;vertical-align: text-top;}
#fb-like-popup .modal-header .close {width: 47px;height: 47px;background: url('/images/close-btn-black.png') no-repeat;position: absolute;top: -24px;right: -24px;}
#fb-like-popup .modal-header .arrowdown {width: 23px;height: 50px;background: url('/images/black-arrow-down.png') no-repeat;position: absolute;bottom: -29px;left: 140px;}
#fb-like-popup .modal-fb{padding: 40px 18px 36px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px;}
#fb-like-popup .modal-fb .right{width: 190px;}
#fb-like-popup .modal-fb a.txt{margin-top: -6px;margin-bottom: 6px;color: #2a2a31;display: block;}
#fb-like-popup a:hover{text-decoration: underline}
.modal-overlay{display:none;opacity:0;filter:alpha(opacity=0);position:fixed;top:0;left:0;z-index:900;width:100%;height:100%;background:rgba(0, 0, 0, 0.7) !important;}
#fb-like-popup a.close{line-height:1;font-size:1.9em;position:absolute;top:30px;right:20px;text-decoration:none;color:#fff;font-weight:bold;width:15px;height:15px;background:url("/images/close-btn.v4.png") no-repeat transparent;background-size:15px;}
#share-popup{display:none;position:absolute;z-index:1000;width:268px;background:white;box-shadow:0 0 6px rgba(0, 0, 0, 0.5);border:1px solid rgba(0, 0, 0, 0.1);background-clip:padding-box;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
#share-popup .modal-header{padding:8px 15px;background-color:#808084;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;}
#share-popup header h3,#share-popup .modal-header h3{margin:0;color:#fff;font-size:20px;text-transform:capitalize;display:inline;}
#share-popup .modal-body{position:relative;}
#share-popup .modal-header {padding: 21px 24px 19px 24px; background-color: #fff; }
#share-popup .modal-header h3 {font-size:23px; line-height: 24px; padding-bottom: 19px; color: #272727;}
#share-popup a.close{line-height:1;font-size:1.9em;position:absolute;top:2px;right:3px;text-decoration:none;color:#fff;font-weight:bold;width:21px;height:21px;background-size:21px; padding: 10px;}
#share-popup .modal-header .close {color: #272727;background-image:url('/images/closenew.png'); background-repeat: no-repeat; background-position: center center; margin: 10px 12px 0 0;}
#share-popup .modal-body {padding: 0 24px 24px 24px;}
#share-popup .modal-body a {display:block; cursor: pointer; line-height:24px;font-family:arial,sans-serif;padding:8px 0 8px 0; color: #272727; font-size: 14px;}
#share-popup .copy-url-wrap { overflow: auto;}
#share-popup .copy-helper { font-size: 14px; color: rgba(0,0,0,0.5); padding-top:11px; line-height: 16px; padding-bottom:7px; font-family: arial, sans-serif;}
#share-popup a.copy-url { font-size: 14px; overflow: hidden; display: block; color: #175FB3; border-bottom:1px solid #ccc; padding: 0; height: 25px; white-space: nowrap;}
#share-popup input.copy-url { padding: 4px 0;color:rgba(0,0,0,.87);font-size:14px;line-height:16px;width: 100%;cursor:pointer;border: none; border-bottom: 1px solid rgba(0,0,0,.12); white-space: nowrap;}
#share-popup input.copy-url:focus {outline: none;}
#share-popup div.image { display: inline-block; vertical-align: bottom; margin-right: 24px;}
#share-popup div.image img { display: block; border: 0; position: relative;}
body.modal-open {
    overflow: hidden;
}
.share-more-box {float: right; display: block;}
.share-more-box a.share-open-modal {
       	background: url('/images/sharenew.png') no-repeat center center #808084;
       	background-size: 20px;
	margin: 0;
}

.fb-page-text {font-size: 15px;padding-bottom: 15px;}
.fb-page{margin-bottom: 20px!important;}
.fb-page .modal-header{background-color: #32549a;padding: 17px 18px;font-size: 20px;color: #fff;position: relative}
.fb-page .modal-header a{font-family: 'pt_sansbold',arial,sans-serif;color: #fff}
.fb-page .modal-header a:hover{text-decoration: underline}
.fb-page .modal-fb{padding: 32px 18px 20px 18px;border-left: 1px solid #cbcbcb;border-bottom: 1px solid #cbcbcb;border-right: 1px solid #cbcbcb}
.fb-page .modal-header .arrowdown {width: 23px;height: 50px;background: url('/images/blue-arrow-down.png') no-repeat;position: absolute;bottom: -25px;left: 140px;}
