.gsa_ac_box {
font-family: Arial, Helvetica, Sans-Serif;
padding: 0px;
border: 1px solid #2D556E;
z-index: 99999999;
overflow: hidden;
background: white;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
box-shadow: rgba(0, 0, 0, 0.54902) 0px 1px 6px;
padding: 15px 25px;
}
.gsa_ac_box {
border: none;
overflow: visible;
font: Arial 13px;
color: #666666;
}
.gsa_ac_results {
background-color: transparent;
overflow: hidden;
}
.gsa_ac_noresult {
margin-left: 0;
min-height: 40px;
font-size: 12px;
}
.gsa_ac_noresult p {
font-weight: bold;
margin-bottom: 5px;
}
.gsa_ac_noresult h1 {
font: bold 16px Arial;
color: #666666;
margin-bottom: 5px;
}
.gsa_ac_noresult h2 {
font: bold 13px Arial;
color: #666666;
margin-top: 0px;
margin-bottom: 2px;
}
.gsa_ac_noresult ol li {
margin-bottom: 5px;
margin-left: 35px;
list-style-type: decimal;
}
.gsa_ac_noresult a {
Font: Arial 13px;
color: #666666;
}
.gsa_ac_noresult ol li a:hover,
.gsa_ac_noresult ol li a.link-arrow:hover,
.gsa_ac_noresult ol li a.link-arrow:focus {
color: #f00;
}
.recomendationsList {
list-style: inherit;
list-style-type: disc;
margin-bottom: 15px;
margin-left: 20px;
}
.gsa_ac_item {
margin: 0;
cursor: default;
display: block;
line-height: 14px;
overflow: hidden;
text-align: left;
white-space: nowrap;
text-overflow: ellipsis;
height: 26px;
}
.gsa_ac_item a {
Font: Arial 13px;
color: #666666;
text-decoration: none;
}
.gsa_ac_item .col1 {
width: 300px;
float: left;
max-width: 335px;
min-width: 335px;
overflow: hidden;
font-size: 11px;
}
.gsa_ac_item .col1 {
width: 99px;
max-width: 99px;
min-width: 99px;
float: left;
margin: 0px 0px 0px 15px;
}
.gsa_ac_cat {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
height: 10px;
}
.gsa_ac_item .col1 .ac_cat {
font: Arial;
font-size: 13px;
font-weight: Bold;
float: right;
background-image: url("../img/groesser_als_transparent.png");
background-position: 6px 2px;
background-repeat: no-repeat;
display: block;
padding: 0px 10px 0px 15px;
white-space: normal;
}
.gsa_ac_item .col2 {
font-size: 13px;
cursor: pointer;
}
.gsa_ac_item .col2 .gsa_suggestion {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
.col2:hover,
.col2:focus,
.col2:active,
.gsa_allresults:hover,
.gsa_allresults:focus,
.gsa_allresults:active {
text-decoration: underline;
}
.gsa_ac_item .col2:hover {
color: #e60000;
}
.gsa_ac_item .col2:hover .gsa_secline {
text-decoration: underline;
}
.gsa_ac_over {
background-color: transparent;
cursor: pointer;
}
.search_terms a:hover {
color: #e60000;
}
.gsa_ac_footer .gsa_res a:hover,
.gsa_ac_footer a:hover {
color: #e60000;
text-decoration: none;
background-image: url("/static/img/groesser_als_transparent_red.png");
}
.gsa_ac_logo {
background-color: #fff;
line-height: 13px;
overflow: hidden;
border-top: 1px solid gray;
margin: 0;
padding: 3px 5px;
text-align: right;
vertical-align: middle;
}
.gsa_logo {
cursor: pointer;
font-size: 10px;
font-weight: bold;
color: #2D556E;
vertical-align: bottom;
}
.gsa_logo img {
vertical-align: text-bottom;
margin: 0;
padding: 0;
}
.gsa_ac_border {
background-color: #2D556E;
height: 2px;
line-height: 0;
border-width: 0;
margin: 0;
padding: 0;
}
.gsa_ac_loading {
background: white url('/static/img/indicator.gif') right center no-repeat;
}
.gsa_ac_odd {
background-color: #eee;
}
.gsa_ac_cat {
font-weight: bold;
font-size: 12px;
}
.gsa_ac_tab {
padding-left: 16px;
}
.searchTerms {
font-size: 12px;
}
.search_terms {
margin-bottom: 10px;
}
.searchTerms a:hover {
color: #e60000;
}
.gsa_mac_box {
border: none;
overflow: visible;
font: 13px Arial;
color: #666666;
}
.gsa_ac_results ul .gsa_icon {
width: 32px;
height: 32px;
margin: 0 10px 0 10px;
float: left;
text-align: center;
}
.gsa_ac_results ul .gsa_icon img {
/* define only the height makes the width dynamic according to the image aspect ratio */
height: 32px;
}
.gsa_ac_border,
.gsa_ac_logo {
display: none;
}
.hor_line {
border: 0;
border-top: 1px solid #eeeeee;
height: 1px;
background: #fff;
float: right;
width: 301px;
margin: 0px 18px 10px 0px;
padding: 0px 0px 0px 0px;
}
.gsa_mac_results {
background: #ffffff;
overflow: hidden;
padding: 0px 0px 0px 0px;
}
.gsa_mac_results ul {
list-style-position: outside;
list-style-image: none;
list-style: none;
padding: 0;
margin: 0;
border: 1px solid #C5C6C8;
}
.gsa_mac_results > ul > li[id] {
font: 12px/20px Arial;
border-top: 1px solid #c5c6c8;
margin: 0px 0px 0px 0px;
border-bottom-style: none;
overflow: hidden;
background-image: url(../img/search_arrow.png);
background-repeat: no-repeat;
background-position: right;
}
.gsa_mac_results ul li:first-child {
border-top: none;
}
.gsa_mac_noresult {
min-height: 40px;
font-size: 13px;
padding: 10px;
margin-left: 130px;
padding-right: 25px;
}
.gsa_mac_noresult a,
.gsa_mac_noresult a:link {
Font: Arial 13px;
color: #666666;
text-decoration: underline;
cursor: pointer;
}
.search_terms {
margin-bottom: 10px;
}
.gsa_mac_results .gsa_ac_item {
padding: 15px 45px 15px 10px;
text-overflow: ellipsis;
margin: 0;
cursor: default;
display: block;
height: 100%;
line-height: 14px;
overflow: hidden;
text-align: left;
white-space: nowrap;
}
.gsa_mac_cat {
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
height: 10px;
}
.gsa_mac_results .gsa_ac_item .col1 {
width: 99px;
max-width: 99px;
min-width: 99px;
float: left;
margin: 0px 0px 0px 15px;
}
.gsa_mac_results .gsa_ac_item .col1 {
width: 350px;
max-width: 335px;
min-width: 335px;
overflow: visible;
font-size: 11px;
}
.gsa_mac_results .gsa_ac_item .col1 .gsa_category {
font: Arial;
font-size: 13px;
font-weight: Bold;
white-space: normal;
}
.gsa_mac_results .gsa_ac_item .col1 .gsa_category a {
Font: Arial 13px;
color: #666666;
text-decoration: none;
padding: 0px 10px 0px 15px;
display: block;
}
.gsa_mac_results .gsa_ac_item .col2 {
width: 300px;
overflow: hidden;
font-size: 13px;
margin: 0px 15px 10px 0px;
padding: 0px 0px 0px 0px;
}
.gsa_mac_results .gsa_ac_item .col_head {
width: 295px;
overflow: hidden;
font-size: 13px;
margin: 0px 10px 10px 10px;
padding: 0px 0px 0px 0px;
}
.gsa_mac_results .gsa_ac_item .col_head {
width: 50px;
padding-top: 2px;
float: left;
overflow: hidden;
font-size: 11px;
}
.gsa_mac_results .gsa_ac_item .col2 .gsa_suggestion,
.gsa_mac_results .gsa_ac_item .col_head .gsa_suggestion {
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}
.gsa_mac_results .gsa_ac_item .col_head .gsa_description {
width: 285px;
overflow: hidden;
white-space: normal;
padding: 0px 10px 10px 0px;
margin: 0px 0px 10px 0px;
}
.gsa_ac_header {
background-image: url("/static/img/obenv3mod.png");
background-repeat: no-repeat;
width: 432px;
height: 16px;
overflow: hidden;
}
.gsa_ac_footer {
background-image: url("/static/img/untenv3.png");
background-repeat: no-repeat;
border: none;
height: 50px;
width: position: relative;
}
.gsa_ac_footer .gsa_res a {
font: Arial;
font-size: 13px;
font-weight: Bold;
color: #666;
float: right;
background-image: url("/static/img/groesser_als_transparent.png");
background-position: 0px 5px;
background-repeat: no-repeat;
text-decoration: none;
margin: 5px 15px 20px 0px;
padding: 2px 10px 0px 10px;
}
.gsa_ac_over {
background-color: transparent;
cursor: pointer;
}
.gsa_mac_results .gsa_ac_item .col1 .gsa_category a:hover,
.gsa_mac_footer .gsa_res a:hover,
.gsa_mac_footer a:hover {
color: #e60000;
}
.gsa_mac_results .gsa_ac_item .col2:hover,
.gsa_mac_results .gsa_ac_item .col2:focus {
color: #e60000;
text-decoration: underline;
}
.gsa_mac_results .gsa_ac_item .col2:hover .gsa_secline {
text-decoration: underline;
}
.search_terms a:hover {
color: #e60000;
}
.gsa_mac_results ul .gsa_icon {
width: 32px;
height: 32px;
margin: 0 10px 0 10px;
float: left;
text-align: center;
}
.gsa_mac_results ul .gsa_icon img {
height: 32px;
}
.gsa_mac_logo {
background-color: #fff;
line-height: 13px;
overflow: hidden;
border-top: 1px solid gray;
margin: 0;
padding: 3px 5px;
text-align: right;
vertical-align: middle;
}
.gsa_mac_logo {
cursor: pointer;
font-size: 10px;
font-weight: bold;
color: #2D556E;
vertical-align: bottom;
}
.gsa_mac_logo img {
vertical-align: text-bottom;
margin: 0;
padding: 0;
}
.gsa_mac_border {
background-color: #2D556E;
height: 2px;
line-height: 0;
border-width: 0;
margin: 0;
padding: 0;
}
.gsa_mac_loading {
background: white url('../img/indicator.gif') right center no-repeat;
}
.gsa_ac_odd {
background-color: #eee;
}
.gsa_ac_cat {
font-weight: bold;
font-size: 12px;
}
.gsa_ac_tab {
padding-left: 16px;
}
.gsa_mac_border,
.gsa_mac_logo {
display: none;
}
.hor_line {
border: 0;
border-top: 1px solid #eeeeee;
height: 1px;
background: #fff;
float: right;
width: 301px;
margin: 0px 18px 10px 0px;
padding: 0px 0px 0px 0px;
}
.gsa_mac_header {
width: 432px;
height: 16px;
overflow: hidden;
}
.gsa_mac_footer .gsa_res a {
font: Arial;
font-size: 13px;
font-weight: Bold;
color: #666;
float: right;
text-decoration: none;
margin: 5px 15px 20px 0px;
padding: 2px 10px 0px 10px;
}
input[type=text]::-ms-clear {
display: none;
}
#clearTextBox:hover {
cursor: pointer;
}
#header {
overflow: visible;
}
.btnHeader.buscar.active {
background: white;
border-bottom: none;
box-shadow: none;
border-radius: 4px 4px 0 0;
padding-bottom: 8px;
position: relative;
}
.btnHeader.buscar.active::before,
.btnHeader.buscar.active::after {
position: absolute;
content: "";
width: 10px;
height: 10px;
bottom: -3px;
border: 1px solid #C5C6C8;
border-top: none;
z-index: 1;
}
.btnHeader.buscar.active::before {
left: -11px;
border-radius: 0 0 4px 0;
border-left: none;
}
.btnHeader.buscar.active::after {
right: -11px;
border-radius: 0 0 0 4px;
border-right: none;
}
#searchContainer {
margin-top: 0px;
display: block;
border-top: 1px solid #C5C6C8;
padding: 7px 8px 0px;
position: relative;
margin-top: -5px;
border-bottom: 4px red solid;
}
#searchContainer::before {
position: absolute;
content: "";
background: white;
width: 38px;
height: 3px;
right: 6px;
top: -2px;
z-index: 0;
}
#searchContainer input.ui-input-text {
height: 26px;
margin: 0 0 10px 0;
padding: 5px;
}
.gsa_ac_box {
border: 0px solid #a1a1a1;
}
.gsa_ac_footer {
position: relative;
top: 0px;
}
.gsa_mac_box {
border: 0px solid #a1a1a1;
font-family: Arial, Helvetica, Sans-Serif;
padding: 0px;
border: 1px solid #2D556E;
z-index: 99999999;
overflow: hidden;
}
.gsa_mac_footer {
position: relative;
top: 0px;
}
.searchForm {
position: relative;
}
.searchForm .se-query img {
position: absolute;
top: 12px;
right: 12px;
}
.searchForm .se-query i {
top: 12px;
}
.searchForm .se-input:focus {
padding-right: 36px;
}
.searchForm .se-input {
border-radius: 6px;
padding-top: 12px;
padding-bottom: 8px;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}
.se-input::-ms-clear {
display:none;
}
.searchForm fieldset {
display: inline-block;
font-size: 12px;
}
.searchForm fieldset input {
/*display: none;*/
}
.searchForm fieldset.checkbox label {
width: 24.66%;
margin-bottom: 10px;
}
.searchForm fieldset label:hover,
.searchForm fieldset label:focus {
text-decoration: underline;
cursor: pointer;
}
.searchForm .tipoCliente {
width: 100%;
}
.searchForm .tipoCliente label {
padding: 5px 2% 5px 25px;
display: inline-block;
}
.searchForm .clienteSiNo {
width: 50%;
text-align: center;
}
.searchForm .clienteSiNo label {
padding: 5px 2% 5px 25px;
}
.searchForm .grupos {
border-top: 1px solid #b1b1b1;
width: 100%;
margin-top: 12px;
padding-top: 12px;
}
.searchForm .grupos label {
padding-top: 5px;
}
.searchFormHolder {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #b3b3b3;
}
.s {
background: url("/static/img/search_clear.png");
}
.botSubmit {
position: absolute;
right: 20px;
top: 21px;
width: 10%;
}
.botSubmit input {
border: 1px solid #b1b1b1;
border-radius: 3px;
margin: 0;
padding-left: 2px;
padding-right: 2px;
width: 100%;
height: 100%;
}
.searchFormSubmit {
color: #333;
background: #efefef;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e1e1e1));
background: -moz-linear-gradient(#fff, #e1e1e1);
background: -o-linear-gradient(#fff, #e1e1e1);
background: linear-gradient(#fff, #e1e1e1);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
border: 1px solid #c2c2c2;
color: #333;
padding: 0px 13px;
border-radius: 4px 4px 4px 4px;
cursor: pointer;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
line-height: 24px;
margin: 2px 0px 0 0;
outline: medium none;
overflow: visible;
text-decoration: none;
width: auto;
height: 35px;
}
.searchFormSubmit:hover {
background: #f3f3f3;
background: -webkit-linear-gradient(#fff, #e1e1e1);
background: -webkit-gradient(linear, left top, left bottom, from(#c4c3c3), to(#f3f3f3));
background: -moz-linear-gradient(#c4c3c3, #f3f3f3);
background: -o-linear-gradient(#c4c3c3, #f3f3f3);
background: -ms-linear-gradient(#fff, #e1e1e1);
background: linear-gradient(#c4c3c3, #f3f3f3);
filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c4c3c3', endColorstr='#f3f3f3');
}
.searchFormFilter {
padding-top: 25px;
}
.searchFormFilter label {
font-weight: normal;
}
.searchFormFilter a,
.searchFormFilter p,
.searchFormFilter .checked {
font-weight: bold;
}
.searchFormFilter .tg-active .tg-hide {
display: inline-block;
}
.searchFormFilter .tg-head i {
margin-left: 15px;
margin-top: 0;
}
.searchFormFilter .tg-body {
margin-top: 15px;
}
/* ABAJO ------------------------------------*/
.searchFormResults > li {
background: #ebebeb;
overflow: auto;
margin: 20px auto;
position: relative;
overflow: hidden;
}
.searchFormResults > li:first-child {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.searchFormResults > li:last-child {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
.searchFormResults > li:nth-of-type(2n) {
background: none;
}
.searchFormResults > li span {
display: block;
}
.searchFormResults > li a {
display: block;
text-decoration: none;
padding: 20px;
border: 1px solid white;
}
.searchFormResults a:hover,
.searchFormResults a:focus {
cursor: pointer;
border: 1px solid black;
}
.searchFormResults .group {
margin-top: 5px;
}
.searchFormResults .dTable {
display: table;
min-height: 100px;
}
.searchFormResults .dTable span {
display: table-cell;
vertical-align: middle;
text-align: center;
}
.searchFormResultsHigh .pb-box img {
height: 90px;
max-height: 90px;
max-width: 100%;
width: inherit!important;
text-align: center;
}
.searchFormResultsHigh .search-rating-dpc {
margin-bottom: 5px;
margin-top: 5px;
height: 20px;
}
.searchFormResultsHigh .search-rating-dpc span {
width: 20px;
background: url("../img/stars.png") no-repeat scroll left bottom transparent;
background: blue;
width: 74px;
margin-right: 10px;
height: 20px;
display: inline-block;
float: left;
}
.mod-nav {
background: transparent;
}
.searchFormResultsHigh.mod.mod-eq-height .search_reviews {
display: none;
}
.searchFormResultsHigh.mod.mod-eq-height .pb-box span.search_span_price {
display: none;
}
.mod-nav-romb.fijo {
position: fixed;
width: 100%;
z-index: 1;
top: 0;
}
.mod.mod-selectsizeheader.fijo + .content {
/*margin-top: 100px;*/
/*JVC correccion movil desplegar buscador*/
margin-top: 61px !important;
}
.tg-more a {
font: bold 16px/20px Arial, Helvetica, Sans-Serif;
color:#333;
}
/*RADIO
---------------------------------------------*/
.searchFormFilter .fm-radio label  {
background-image: none!important;
background-repeat: no-repeat;
color: #000 !important;
text-decoration: none !important;
margin: 10px 5% 10px 0; 
width: auto;
padding: 0;
}
.searchFormFilter .fm-radio label input:checked  {
background-image: none!important;
background-repeat: no-repeat;
color: #000 !important;
font-weight: 700;
text-decoration: none !important;
}
.searchFormFilter .fm-radio label:before{
content:"";
color: transparent;
font-size:16px;
background:#EBEBEB;
border: 1px solid #9E9E9E;
box-shadow: 0 1px 0 0 #B0B0B0 inset;
-webkit-box-shadow: 0 1px 0 0 #B0B0B0 inset;
-moz-box-shadow: 0 1px 0 0 #B0B0B0 inset;
display: inline-block;
height: 1em;
margin-right: 10px;
text-align: center;
vertical-align:bottom;
width: 1em;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
}
.searchFormFilter .fm-radio input:checked + label:before {
content:'•';
color: #428600;
font-family: arial;
font-size:17px;
line-height: 17px;
background-color:#428600;
-webkit-box-shadow: 0 0 0 4px #EBEBEB inset;
-moz-box-shadow: 0 0 0 4px #EBEBEB inset;
box-shadow: 0 0 0 4px #EBEBEB inset;
}
/*CHECK
---------------------------------------------*/
.searchFormFilter .fm-check label {
background-image: none !important;
background-repeat: no-repeat;
color: #000 !important;
text-decoration: none !important;
margin: 10px 0; 
padding: 0;
}
.searchFormFilter .fm-check label input:checked {
background-image: none!important;
background-repeat: no-repeat;
color: #000 !important;
font-weight: 700;
text-decoration: none !important;
}
.searchFormFilter .fm-check  label::before {
background: #ebebeb none repeat scroll 0 0;
border: 1px solid #9e9e9e;
border-radius: 4px;
box-shadow: 0 1px 0 0 #b0b0b0 inset;
content: "";
display: inline-block;
height: 1.5em;
margin-right: 10px;
text-align: center;
vertical-align: middle;
width: 1.5em;
}
.searchFormFilter .fm-check input:checked +  label::before {
background: #428600 none repeat scroll 0 0;
box-shadow: 0 1px 0 0 #285000 inset;
color: #fff;
content: "✓";
font-family: arial;
font-size: 13px;
height: 1em;
padding-bottom: 4px;
padding-top: 2px;
width: 1.4em;
}
.searchFormResultsHigh .pb-box h4 {
font-size: 14px;
}
.searchFormResultsHigh .pb-box strong {
display: block;
}
.searchFormResultsHigh .search-rating-dpc {
margin-bottom: 5px;
margin-top: 5px;
height: 20px;
}
.spaceh {
min-height: 100px;
}
.spacev {
min-width: 85%;
}
/* Rating  01*/
div.ratingok {
float: left;
padding-top: 5px;
padding-bottom: 10px;
vertical-align: middle;
width: 100%;
}
div.ratingok div.rankingok-container {
border: 0 none;
}
div.ratingok div.ratingok-content {
float: left;
height: 17px;
vertical-align: middle;
}
div.ratingok-01 {
background: url("http://www.vodafone.es/static/img/stars.png") no-repeat scroll left bottom transparent;
margin-right: 10px;
width: 74px;
}
div.ratingok-level {
background: url("http://www.vodafone.es/static/img/stars.png") no-repeat scroll left top transparent;
float: left;
height: 11px;
margin-top: 4px;
padding-bottom: 2px;
padding-top: 6px;
}
div.ratingok-link {
text-decoration: none;
}
span.ratingok-coments {
color: #333333;
float: left;
margin-right: 15px;
text-decoration: underline;
}
.searchFormResults div.ratingok {
display: block;
}
.searchFormResults div.ratingok a {
display: block;
border: none;
padding: 0;
text-decoration: none;
}
.searchFormResults > li a .w-15 img {
max-height: 100px;
}
.searchFormResults .dTable {
display: table;
min-height: 100px;
}
.searchFormResults .dTable span {
display: table-cell;
height: 100px;
min-width: 100px;
text-align: center;
vertical-align: middle;
}
.searchFormResults > li div.link-img {
display: block;
text-decoration: none;
width: 100%;
left: 1%;
position: absolute;
width: 15%;
top: 5px;
}
.searchFormResults > li div.link-img span a {
display: block;
text-decoration: none;
border: 1px solid rgba(255, 255, 255, 0);
padding: 0;
padding: 16px;
}
.searchFormResults > li div.link-img span a:hover {
border: 1px solid #007C92;
}
.searchFormResults > li div.link-img .w-15 img {
max-height: 100px;
max-width: 100px;
}
.searchFormResults > li a.link-tx {
border: 1px solid white;
display: block;
min-height: 140px;
text-decoration: none;
padding: 20px;
}
.searchFormResults > li a:hover.link-tx, .searchFormResults > li a:focus.link-tx {
border: 1px solid #007C92;
}
.searchFormResults p  {
margin: 0;
padding: 0;
}
.play-video {
background: transparent url("/static/img/play-icon.png") no-repeat scroll center center;
height: 32px;
margin-left: -10px;
position: absolute;
text-indent: -999999px;
top: 70px;
width: 32px;
}
/* Contenedor del video */
/* sacados del search_site_video.css */
#close {
z-index: 10001;
position: absolute;
text-indent: 0px;
padding-left: 0px;
width: auto !important;
padding-right: 30px;
background: url(../img/btn_overlay_close_button.png) no-repeat right center;
height: 18px;
font-size: 13px;
top: 25px;
cursor: pointer;
right: 25px;
text-decoration: none;
padding-top: 0px;
}
#overlay {
z-index: 10000;
text-align: left;
background-color: #ffffff;
margin: 0px auto;
padding-left: 0 px;
max-width: 790px;
width: 100%;
padding-right: 0px;
display: none;
height: auto !important;
border-radius: 6px;
box-shadow: 0 0 0 0 #cccccc;
}
#videoinfo {
color: red;
font-size: 14px;
font-weight: bold;
}
#yterror {
margin-bottom: 20px;
margin-left: 0;
padding-left: 0;
width: 100%;
}
#yterror * {
margin-bottom: 0px;
margin-right: 0px;
}
#ytpromo {
margin-bottom: 20px;
}
#ytpromo div {
float: left;
}
#imageholder {
margin-top: -20px;
float: left;
margin-bottom: 23px;
}
.search_image_yt {
margin-top: 20px;
float: left;
margin-left: 28px;
padding-left: 0;
}
#textholder {
margin-top: 24px;
margin-left: 120px;
font-size: 13px;
padding-left: 66px;
}
#ytholder {
margin-top: -5px;
width: 100%;
height: auto;
overflow: hidden;
margin-left: auto;
margin-bottom: 20px;
margin-right: auto;
}
#ytplayer {
width: 100%;
}
#yterror a {
line-height: 20px;
padding-left: 66px;
background: url(../img/search_arrow.png) no-repeat left center;
color: #333333;
font-size: 13px;
text-decoration: none;
}
#yterror a:visited {
color: #4c1638;
}
#yterror a:hover {
text-decoration: underline;
}
#yterror a:focus {
background-color: #f4f5d5;
}
h2.no_video {
line-height: 30px;
margin-top: 29px;
/*height: 25px;*/
color: #333333;
font-size: 26px;
font-weight: bold;
padding-top: 5px;
margin-left: 66px;
width: 710px;
}
h2.search_showvideo {
color: #333333;
font-size: 26px;
font-weight: bold;
line-height: 30px;
margin-left: 34px;
margin-right: 30px !important;
padding-left: 0;
padding-top: 54px;
}
h3.no_video_h3 {
line-height: 20px;
margin-top: 23px !important;
color: #333333;
font-size: 16px;
margin-left: 66px;
}
.search_video_promo {
line-height: 20px;
color: #333333;
font-size: 13px;
font-weight: normal;
}
#yterror h3 {
margin-top: 25px;
margin-bottom: 11px;
}
#yterror h3 {
margin-top: 25px;
margin-bottom: 9px;
}
span.span_video {
padding-right: 14px;
font-weight: bold;
}
#overlay_border {
border: 1px solid #cccccc;
margin: 0 auto;
text-align: center;
text-align: left;
z-index: 10000;
padding-right: 0px;
border-radius: 6px;
padding-bottom: 28px;
}
/* MOBILE------------------------------------------------------------------------
---------------------------------------------------------------------------------*/
@media only screen and (max-width: 766px) {
	
.mod-nav {
background: #fff;
}
.gsa_ac_box {
position: fixed !important;
/*top:94px !important;*/
}
.mod.mod-selectsizeheader {
width: 100%;
z-index: 1;
position: inherit;
top: inherit;
}
.wrapper .spring .content {
margin-top: 70px;
margin-top: 0!important;
}
.se-query.w-85, .botSubmit {
display: none!important;
}
.searchForm .se-query, .searchForm .botSubmit {
display: none;
}
.botSubmit {
top: 4px;
right: 10px;
text-align: center;
}
.botSubmit img {
position: absolute;
right: 0;
}
.botSubmit input {
opacity: 0;
cursor: pointer;
}
.searchForm {
margin-bottom: 20px;
}
.searchForm .se-input {
font-size: 14px;
}
.searchForm fieldset.checkbox label {
display: inline-block;
width: auto;
margin-right: 15px;
}
.gsa_ac_noresult p:first-child {
font-size: 14px;
}
.searchForm .se-query {
width: 85%;
padding-right: 0;
}
.searchForm .se-query i {
display: none;
}
.searchForm .se-input {
padding-left: 10px;
}
.searchForm .clienteSiNo {
width: 100%;
}
.search-box {
position: relative;
}
.search-box .se-query {
padding-right: 13%;
position: relative;
}
.search-box .imgSearch {
position: absolute;
right: 2%;
top: 4px;
text-align: center;
}
.search-box input.btn {
opacity: 0;
cursor: pointer;
position: absolute;
right: 2%;
top: 2px;
text-align: center;
width: 29px;
height: 30px;
}
.search-box .se-query img.imgClear {
position: absolute;
top: 11px;
right: 15%;
}
.search-box .se-query i {
top: 10px;
}
.search-box .se-input:focus {
padding-right: 36px;
}
.search-box .se-input {
border-radius: 6px;
padding-top: 8px;
padding-bottom: 6px;
font-size: 16px;
}
.searchFormHolder {
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #b3b3b3;
}
.nav-close {
display: none!important;
}
/*--------ARRIBA--------*/
.searchFormResultsHigh .plan-box-em {
margin: 0;
}
.searchFormResultsHigh li {
padding: 8px;
border: 1px solid #d8d8d8;
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
margin-bottom: 20px;
}
.searchFormResultsHigh .pb-box img {
height: 90px;
max-height: 90px;
max-width: 100%;
width: inherit!important;
text-align: center;
}
.searchFormResultsHigh .pb-box strong {
display: block;
}
/*--------ABAJO-------*/
.searchFormResults {
border-radius: 4px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
}
.searchFormResults > li {
margin: 0;
background: none;
border: 1px solid #d8d8d8;
margin-top: -1px;
}
.searchFormResults > li a {
border: 1px solid white;
padding: 10px;
height: 165px;
}
.searchFormResults > li a:hover,
.searchFormResults > li a:focus {
background: #f2f1f1;
border: 1px solid #d8d8d8;
}
.searchFormResults > li a strong {
white-space: nowrap;
display: block;
max-height: 30px;
overflow: hidden;
text-overflow: ellipsis;
}
.searchFormResults > li a .text {
display: block;
display: -webkit-box;
max-height: 75px;
margin: 0 auto;
-webkit-line-clamp: 4;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}
.searchFormResults > li a .w-15 img {
max-width: 100%;
}
.searchFormResults > li a .w-15 {
width: 30%;
float: left;
margin-right: 10px;
padding-top: 20px;
margin-bottom: 30px;
}
.searchFormResults > li div.link-img {
display: block;
left: 0;
position: absolute;
text-decoration: none;
top: 1px;
width: 30%;
}
.searchFormResults > li div.link-img span a {
border: 1px solid #fff;
display: block;
height: auto;
margin-left: 7px;
margin-top: 7px;
text-decoration: none;
width: 100%;
margin-bottom: 28px;
}
.searchFormResults > li div.link-img span a:hover {
background: #f2f1f1;
border: 1px solid #d8d8d8;
}
.searchFormResults > li div.link-img .w-15 img {
max-height: 100px;
max-width: 70px;
}
.searchFormResults > li div.link-img .dTable {
display: table;
min-height: 100px;
text-align: center;
width: 100%;
}
.searchFormResults div.ratingok {
display: inherit;
float: none;
padding-top: 5px;
padding-bottom: 10px;
vertical-align: middle;
width: auto;
overflow: auto;
}
.searchFormResults > li a .text {
display: block;
margin: 0 auto;
max-height: 40px;
overflow: -moz-hidden-unscrollable;
text-overflow: ellipsis;
}
.searchForm fieldset.checkbox label {
width: 100%;
}
.fijo {
position: fixed !important;
width: 100% !important;;
z-index: 10000 !important;;
top: 0 !important;
/*JVC Se pone el fondo del header en blanco para cuando se despluega el buscador*/
background: #ffffff;
}
#overlay {
left: 0 !important;
margin-top: -283.5px;
position: fixed;
top: 50%;
}
/*CORRECCIONES PARA DESPLEGABLE*/
.mod-selectsizeheader .mod-nav {
position: inherit !important;
}
#loginBox {
display: none !important;
}
.mod-nav.rhomb .logo {
float: left;
position: relative !important;
}
}
/* DESKTOP  ----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 767px) {
.se-input:focus + i + img + img + .btn {
opacity: 1;
top: 2px;
}
.se-query .btn:focus, .se-query .btn:hover {
border: 1px solid #909090;
top: 1px;
}
.searchForm {
background: #ebebeb;
border: 1px solid #b1b1b1;
padding: 20px;
margin-bottom: 46px;
}
.searchForm .tipoCliente {
border-right: 1px solid #b1b1b1;
width: 50%;
min-width: 380px;
}
.searchFormFilter .tg-body{
display:block;
}
.searchFormFilter .tg-active .tg-hide {
display: none !important;
}
/*.tg-hide {
display: none !important;
}*/
.searchFormFilter .tg-show {
display: none !important;
}
.searchFormFilter .tg-active {
display: none !important;
}
.searchFormFilter .tg-active, .searchFormFilter  .tg-show {
    display: none !important;
}
}
/* ALTO OCNTRASTE  ----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------*/
@media screen and (-ms-high-contrast-adjust: active) {
/* All high contrast styling rules */
.js .fm-check input {
left: 20px;
position: relative;
width: auto;
}
.js .fm-radio input {
left: 20px;
position: relative;
width: auto;
}
.searchForm fieldset.checkbox label {
margin-bottom: 10px;
width: 22.66%;
}
}
@media screen and (-ms-high-contrast: black-on-white) {
/* All high contrast styling rules */
.js .fm-check input {
left: 20px;
position: relative;
width: auto;
}
.js .fm-radio input {
left: 20px;
position: relative;
width: auto;
}
.searchForm fieldset.checkbox label {
margin-bottom: 10px;
width: 22.66%;
}
}
@media screen and (-ms-high-contrast: white-on-black) {
/* All high contrast styling rules */
.js .fm-check input {
left: 20px;
position: relative;
width: auto;
}
.js .fm-radio input {
left: 20px;
position: relative;
width: auto;
}
.searchForm fieldset.checkbox label {
margin-bottom: 10px;
width: 22.66%;
}
}