﻿@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,menu,nav,object,ol,p,pre,q,s,samp,section,select,small,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,tr,tt,u,ul,var,video{font-size:100%;font-family:inherit;font-weight:inherit;font-style:inherit;line-height:inherit;vertical-align:baseline;border:0;outline:0;padding:0;margin:0}html{font-size:100%;font-size-adjust:auto;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;-o-text-size-adjust:100%;text-size-adjust:100%}body{font-family:Helvetica,Arial,sans-serif;line-height:1;color:#000;background-color:#fff}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none}canvas{-ms-touch-action:double-tap-zoom;touch-action:double-tap-zoom}[hidden]{display:none}a{text-decoration:underline;color:#000}a:hover{text-decoration:none}a:active{background:0 0}small{font-size:75%}big{font-size:125%}em{font-style:italic}strong{font-weight:700}ins{text-decoration:none}del{text-decoration:line-through}sub,sup{font-size:75%;line-height:0}sup{vertical-align:super}sub{vertical-align:sub}pre{display:block;overflow:auto}code{font-family:'Courier New',Courier,monospace}ol,ul{list-style:none}table{table-layout:auto;border-collapse:separate;border-spacing:0;empty-cells:show}img{vertical-align:middle;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}button,input,select,textarea{vertical-align:baseline;-webkit-border-radius:0}button,input{line-height:normal}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}textarea{overflow:auto;vertical-align:top}input,textarea{-webkit-appearance:none}input[type=radio]{-webkit-appearance:radio}input[type=checkbox]{-webkit-appearance:checkbox}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button,input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{display:none}input[type=password]::-ms-reveal{display:none}input::-ms-clear{display:none}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}.clearfix:after{visibility:hidden;display:block;font-size:0;content:' ';clear:both;height:0}* html .clearfix,:first-child+html .clearfix{zoom:1}.cleaner{height:0;line-height:0;clear:both}
html,body,*{margin:0;padding:0;text-decoration:none;}
a{text-decoration:none;}
#header{width:100%;height:60px;background:#313D4C;}
.sitename a{font:800 1.5em 'open sans',sans-serif;position:relative;float:left;margin:14px 0 0 40px;color:#BCC4CC;text-shadow:0 1px 1px #000;text-transform:uppercase;}
.sitename b{color:#0aa849;} 
.buscar{width:250px;height:75%;margin-top:9px;background:url(/img/busca.png)no-repeat #262D37 left 14px top 14px;background-size:19px 19px;position:relative;float:right;right:20px;border-radius:14px;z-index:11;box-shadow:inset 0 0 10px #171c24;}
input{font:700 0.9em 'open sans',arial,sans-serif;background:none;color:#BCC4CC;margin:12px 0 0 45px;border:0;}
#busca{width:530px;background:#ededed;position:absolute;top:50px;right:0;border:0;color:#cfcfcf;font:400 12px 'open sans',arial,sans-serif;z-index:15;}
#busca a img{width:42px;height:60px;margin:4px;}

.filme{width:100%;display:block;height:69px;border-bottom:1px solid #ccc;transition:ease 0.4s;}
.filme:hover{background:#ccc;}
.link{font:700 1.1em 'open sans',arial,sans-serif;color:#242424;text-decoration:none;margin:25px 0 0 5px;float:left;}
.link:hover{text-decoration:underline;}

#nav{width: 100%;font:700 0.9em 'Open Sans', sans-serif; position: relative; margin:0; text-transform:uppercase;z-index:10;} 
#nav > a { display: none; }
#nav li { position: relative;}
#nav li:nth-child(5),#nav li:nth-child(8),#nav li:nth-child(9),#nav li:nth-child(10),#nav li:nth-child(15) { display:none;}
#nav li a { background: #262D37; color: #BCC4CC; display: block; transition: ease 0.4s;}
#nav li a:active { background-color: #161c24; }
#nav > ul { height: 44px; background-color: #BCC4CC;}
#nav > ul > li { width: 10%; height: 100%; float: left; }
#nav > ul > li > a { height: 100%; font-size: 1em; line-height: 3em;text-align: center; }
#nav > ul > li:not( :last-child ) > a { border-right: 1px solid #161c24;}
#nav > ul > li:hover > a,#nav > ul:not( :hover ) > li.active > a { background-color: #161c24 }


#corpo{width:100%;background:#1f1f1f;position:relative;float:left;}
.capas{overflow:hidden;}
.capas a img{width:9.91%;height:198px;overflow:hidden;display:block;position:relative;float:left;margin:1px 0 0 1px;}
.capas h2{background:#0aa849;font:700 0.9em 'open sans',sans-serif;text-transform:uppercase;color:#fff;width:100%;padding:11px 0 10px 10px;position:relative;float:left;}
.all{font:700 0.9em 'open sans',sans-serif;text-transform:uppercase;background:#036e2e;color:#fff;padding:4px 10px 4px 10px;border:3px solid #036e2e;margin-top:-37px;position:relative;float:right;right:4px;}
.leg{font:700 0.7em 'open sans',sans-serif;position:relative;z-index:1;float:left;background:#E7252E;color:#fff;padding:2px 4px 2px 4px;margin:157px 0 0 -73px;cursor:pointer;border-radius:3px;}
.ult{font:700 0.9em 'open sans',sans-serif;text-transform:uppercase;background:#036e2e;color:#fff;padding:4px 10px 4px 10px;border:3px solid #036e2e;margin-top:-37px;position:relative;float:right;right:120px;}

.play{margin:0px 0px 0px -9.91%;background:url(/img/play.png) no-repeat;background-size:cover;background-position:center center;width:9.91%; height:198px; opacity:0; z-index:998; position:relative;transition:0.3s ease;float:left;z-index:10;}
.play:hover{opacity:0.9}

.modalDialog { position: fixed;  top: 0; right: 0; bottom: 0; left: 0;  top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.9);z-index: 99999; opacity:0; -webkit-transition: opacity 400ms ease-in; -moz-transition: opacity 400ms ease-in; transition: opacity 400ms ease-in; pointer-events: none;}
.modalDialog:target { opacity:1; pointer-events: auto; }
.modalDialog > div { width: 500px; height:477px;position: relative; margin: 40px auto; background: #fff;}
.close { background: #b62025; color: #FFFFFF; font-size:30px;line-height: 30px; position: absolute; right: 7px; text-align: center; top: 7px; width: 36px; text-decoration: none; font-weight: bold;padding:2px; }

.thumb-tooltip {float:left;width:230px;height:95px;display:none;z-index:9999;position:relative;margin:50px -235px -45px -20px;background:#fff;z-index:11;border-left:0;box-shadow:0 0 1px #000;}
.thumb-tooltip.right {margin:50px 0 0 -335px;}
.thumb-tooltip b{font:700 0.7em 'open sans',sans-serif;text-align:center;color:#363636;background:#ededed;width:229px;padding:5px 3px 4px 3px;display:block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.thumb-tooltip .ano{font:700 0.7em 'open sans';color:#363636;width:56px;position:relative;float:left;background:url(/img/calendario.png)no-repeat left 3px top 3px;background-size:20px 20px;padding:6px 0 5px 27px;}
.thumb-tooltip .g{font:700 0.7em 'open sans';color:#363636;background:url(/img/generos.png)no-repeat left 4px top 4px;background-size:19px 19px;padding:6px 0 5px 27px;position:relative;float:left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.thumb-tooltip .hd{font:700 0.7em 'open sans';color:#fff;background:url(/img/hd.png)no-repeat #0268B2 left 6px top 6px;padding:6px 0 6px 35px;background-size:30px 20px;position:relative;float:left;width:228px;text-align:center;width:160px;margin:5px 0 5px 34px;}
.thumb-tooltip .dvd{font:700 0.7em 'open sans';color:#fff;background:url(/img/dvd.png)no-repeat #cc0000;padding:6px 0 4px 37px;position:relative;float:left;width:228px;text-align:center;width:160px;margin:5px 0 5px 34px;}
.thumb-tooltip .ts{font:700 0.7em 'open sans';color:#fff;background:url(/img/ts.png)no-repeat #ff6600;padding:6px 0 4px 20px;position:relative;float:left;width:228px;text-align:center;width:160px;margin:5px 0 5px 34px;}

#footer{width:100%;height:100px;background:#313D4C;position:relative;float:left;}
#footer a{font:700 0.8em 'open sans',sans-serif;color:#313D4C;background:#fff;padding:8px;margin:33px 0 0 18px;position:relative;float:left;border:1px solid #fff;transition:ease 0.4s;}
#footer a:hover{background:#fff;color:#262D37;}
.brand{font:800 1.6em 'open sans',sans-serif;position:relative;float:right;margin:37px 25px 0 0;color:#fff;cursor:pointer;text-transform:uppercase;}

@media screen and (min-width:1920px ){
#header{height:90px;}
.sitename a{font-size:2.1em;margin:22px 0 0 50px;}
.buscar{width:360px;height:70%;margin-top:16px;background-position:left 18px top 24px;border-radius:14px;}
input{font:700 1.2em 'open sans',arial,sans-serif;margin:18px 0 0 50px;border:0;}
#busca{width:700px;background:#ededed;position:absolute;top:65px;right:0;border:0;color:#cfcfcf;font:700 12px 'open sans',arial,sans-serif;}
#busca a img{width:50px;height:70px;margin:4px;}
.filme{width:100%;display:block;height:78px;border-bottom:1px solid #ccc;transition:ease 0.4s;}
.filme:hover{background:#ccc;}
.link{font:700 1.5em 'open sans',arial,sans-serif;color:#242424;text-decoration:none;margin:25px 0 0 5px;float:left;}
.link:hover{text-decoration:underline;}
#nav{font-size:1.2em;} 
#nav > ul {height: 56px;}
.capas a img{width:9.91%;height:278px;}
.capas h2{font-size:1.2em;padding:13px 0 12px 10px;}
.all{font-size:1.1em;padding:4px 10px 4px 10px;margin-top:-45px;right:8px;}
.play{height:278px;}
.thumb-tooltip {float:left;width:325px;height:132px;margin:75px -335px -45px -30px;}
.thumb-tooltip.right {margin:75px 0 0 -415px;}
.thumb-tooltip b{font-size:1em;width:100%;padding:7px 3px 7px 3px;}
.thumb-tooltip .ano{font-size:1em;width:74px;position:relative;float:left;background-position:left 7px top 6px;background-size:21px 21px;padding:5px 0 5px 32px;margin-top:1px;}
.thumb-tooltip .g{font-size:1em;padding:5px 0 5px 30px;background-position:left 3px top 7px;background-size:21px 21px;margin-top:1px;width:251px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}
.thumb-tooltip .hd{font-size:1em;padding:8px 0 8px 39px;background-size:40px 30px;width:240px;background-position:left 7px top 7px;margin:9px 0 0 40px;border-radius:0;}
.thumb-tooltip .dvd{font-size:1em;background:url(/img/dvd.png)no-repeat left top 3px #cc0000;padding:6px 0 6px 37px;width:205px;margin:3px 0 5px 30px;}
.thumb-tooltip .ts{font-size:1em;background:url(/img/ts.png)no-repeat left top 3px #ff6600;padding:6px 0 6px 20px;width:205px;margin:3px 0 5px 30px;}
#footer{height:130px;}
#footer a{font-size:1em;padding:8px;margin:45px 0 0 30px;}
.brand{font-size:2.6em;margin:40px 25px 0 0;}
}

@media screen and (min-width:1760px) and (max-width:1761px){
#header{height:83px;}
.sitename a{font-size:2.8em;margin:10px 0 0 53px;}
.buscar{width:328px;height:70%;margin-top:14px;background-position:left 17px top 23px;background-size:18px 18px;}
input{font-size:1.1em;margin:18px 0 0 48px;}
#busca{width:640px;top:60px;font:700 11px 'open sans',arial,sans-serif;}
#busca a img{width:45px;height:65px;margin:4px;}
.filme{width:100%;height:73px;}
.link{font:700 1.5em 'open sans',arial,sans-serif;margin:25px 0 0 5px;}
#nav{font-size:1.1em;} 
#nav > ul {height: 53px;}
.capas a img{height:256px;}
.capas h2{font-size:1.1em;padding:11px 0 11px 10px;}
.all{font-size:1em;margin-top:-41.8px;right:8px;}
.play{height:256px;}
.thumb-tooltip {float:left;width:300px;height:124px;margin:69px -285px -45px -28px;}
.thumb-tooltip.right {margin:55px 0 0 -390px;}
.thumb-tooltip b{font-size:0.9em;padding:7px 3px 7px 3px;width:100%;}
.thumb-tooltip .ano{font-size:0.9em;width:68px;padding:6px 0 5px 30px;margin-top:1px;background-position:left 7px top 6px;background-size:20px 20px;}
.thumb-tooltip .g{font-size:0.9em;padding:6px 0 5px 28px;margin-top:1px;width:205px;background-position:left 3px top 7px;background-size:20px 20px;}
.thumb-tooltip .hd{font-size:0.9em;padding:8px 0 8px 39px;width:220px;margin:8px 0 5px 38px;background-size:38px 28px;background-position:left 7px top 7px;}
.thumb-tooltip .dvd{font-size:0.9em;padding:6px 0 6px 37px;float:left;width:205px;margin:3px 0 5px 30px;}
.thumb-tooltip .ts{font-size:0.9em;padding:6px 0 6px 20px;width:205px;margin:3px 0 5px 30px;}
#footer{height:130px;}
#footer a{font-size:1em;padding:8px;margin:45px 0 0 30px;}
.brand{font-size:2.5em;margin:40px 25px 0 0;}
}

@media screen and (min-width:1600px) and (max-width:1680px){
#header{height:77px;}
.sitename a{font-size:1.8em;margin:20px 0 0 40px;}
.buscar{width:300px;height:70%;margin-top:14px;background-position:left 17px top 22px;background-size:16px 16px;}
input{font-size:1em;margin:18px 0 0 45px;}
#busca{width:580px;top:53px;font:700 10px 'open sans',arial,sans-serif;}
#busca a img{width:42px;height:60px;margin:4px;}
.filme{width:100%;height:70px;}
.link{font:700 1.5em 'open sans',arial,sans-serif;margin:25px 0 0 5px;}
#nav{font-size:1em;} 
#nav > ul {height: 49px;}
.capas a img{height:233px;}
.capas h2{font-size:1em;padding:11px 0 10px 10px;}
.all{font-size:0.9em;margin-top:-39px;right:8px;}
.play{height:234px;}
.thumb-tooltip {float:left;width:270px;height:112px;margin:63px -255px -45px -23px;}
.thumb-tooltip.right {margin:55px 0 0 -390px;}
.thumb-tooltip b{font-size:0.85em;width:100%;padding:7px 3px 7px 3px;}
.thumb-tooltip .ano{font-size:0.85em;width:62px;padding:6px 0 5px 27px;margin-top:1px;background-position:left 7px top 6px;background-size:18px 18px;}
.thumb-tooltip .g{font-size:0.85em;padding:6px 0 5px 27px;width:205px;background-position:left 3px top 7px;background-size:18px 18px;}
.thumb-tooltip .hd{font-size:0.85em;padding:7px 0 7px 39px;width:200px;margin:4px 0 5px 35px;background-size:34px 25px;background-position:left 7px top 6px;}
.thumb-tooltip .dvd{font-size:0.85em;padding:6px 0 6px 37px;float:left;width:205px;margin:3px 0 5px 30px;}
.thumb-tooltip .ts{font-size:0.85em;padding:6px 0 6px 20px;width:205px;margin:3px 0 5px 30px;}
#footer a{font-size:1em;padding:8px;margin:30px 0 0 30px;}
.brand{font-size:2.2em;margin:28px 25px 0 0;}
}

@media screen and (min-width:1280px) and (max-width:1281px){
#header{height:60px;}
.sitename a{font-size:1.8em;margin:10px 0 0 50px;}
.buscar{width:233px;height:70%;margin-top:10px;background-position:left 14px top 14px;background-size:18px 18px;}
input{font-size:0.8em;margin:13px 0 0 44px;}
#busca{width:460px;top:42px;font:700 12.5px 'open sans',arial,sans-serif;}
#busca a img{width:42px;height:60px;margin:4px;}
.filme{width:100%;height:68px;}
.link{font:700 0.9em 'open sans',arial,sans-serif;margin:25px 0 0 5px;}
#nav{font-size:0.8em;} 
#nav > ul {height: 38px;}
.capas a img{height:186px;}
.capas h2{font-size:0.8em;padding:11px 0 10px 10px;}
.all{font-size:0.7em;margin-top:-34px;}
.play{height:187px;}
.thumb-tooltip {float:left;width:215px;height:89px;margin:45px -255px -45px -20px;}
.thumb-tooltip.right {margin:35px 0 0 -290px;}
.thumb-tooltip b{font-size:0.65em;width:199px;padding:5px 3px 4px 3px;width:100%;}
.thumb-tooltip .ano{font-size:0.65em;width:50px;padding:5px 0 5px 24px;margin-top:1px;background-position:left 7px top 6px;background-size:18px 18px;}
.thumb-tooltip .g{font-size:0.65em;padding:6px 0 5px 27px;width:164px;background-position:left 3px top 5px;background-size:18px 18px;}
.thumb-tooltip .hd{font-size:0.65em;padding:6px 0 6px 32px;width:150px;margin:3px 0 5px 31px;}
.thumb-tooltip .dvd{font-size:0.65em;padding:6px 0 6px 37px;float:left;width:160px;margin:3px 0 5px 20px;}
.thumb-tooltip .ts{font-size:0.65em;padding:6px 0 6px 20px;width:160px;margin:3px 0 5px 20px;}
#footer{height:80px;}
#footer a{font-size:0.7em;padding:8px;margin:24px 0 0 18px;}
.brand{font-size:1.8em;margin:22px 25px 0 0;}
}

@media screen and (min-width:1024px) and (max-width:1120px){
#header{height:50px;}
.sitename a{margin:13px 0 0 25px;}
.buscar{width:184px;height:70%;margin-top:10px;background-position:left 10px top 12px;background-size:14px 14px;}
input{font-size:0.6em;margin:11px 0 0 30px;}
#busca{width:360px;background:#ededed;position:absolute;top:35px;right:0;border:0;color:#cfcfcf;font:700 12px 'open sans',arial,sans-serif;}
#busca a img{width:42px;height:60px;margin:4px;}
.filme{width:100%;height:68px;}
.link{font:700 0.8em 'open sans',arial,sans-serif;margin:25px 0 0 5px;}
#nav{font-size:0.6em;} 
#nav > ul {height: 29px;}
.capas a img{width:9.89%;height:147px;}
.capas h2{font-size:0.6em;padding:7px 0 7px 10px;}
.all{font-size:0.5em;margin-top:-25px;padding:2px 6px 2px 6px;}
.play{height:148px;}
.thumb-tooltip {width:178px;height:75px;margin:35px -255px -45px -20px;}
.thumb-tooltip.right {margin:35px 0 0 -234px;}
.thumb-tooltip b{font-size:0.5em;width:161px;padding:5px 3px 4px 3px;width:100%;}
.thumb-tooltip .ano{font-size:0.5em;width:42px;padding:5px 0 5px 21px;margin-top:1px;background-size: 23px 23px;background-position:left 5px top 3px;background-size:14px 14px;}
.thumb-tooltip .g{font-size:0.5em;padding:5px 0 5px 22px;margin-top:1px;width:119px;background-position:left 3px top 3px;background-size:14px 14px;}
.thumb-tooltip .hd{font-size:0.5em;padding:5px 0 5px 22px;width:130px;margin:3px 0 5px 24px;background-size:24px 15px;background-position:left 7px top 5px;}
.thumb-tooltip .dvd{font-size:0.5em;background-size: 37px 25px;padding:3px 0 6px 37px;float:left;width:130px;margin:3px 0 5px 15px;}
.thumb-tooltip .ts{font-size:0.5em;background-size: 37px 25px;padding:3px 0 6px 20px;width:130px;margin:3px 0 5px 15px;}
#footer{height:60px;}
#footer a{font-size:0.5em;padding:8px;margin:15px 0 0 14px;}
.brand{font-size:1.4em;margin:15px 25px 0 0;}
#button-click,#j-d{display:none;}
}

@media screen and (max-width : 768px){
#nav { position: absolute; top:0;left:0;font-size:1em;z-index:20;}
#nav li:nth-child(5),#nav li:nth-child(8),#nav li:nth-child(9),#nav li:nth-child(10),#nav li:nth-child(15) { display:block;}
#nav li a { background: #DA2026;color: #fff;}
#nav > a { width: 90px; height: 90px; text-align: left; text-indent: -9999px; background:url(/img/nav.png)no-repeat; background-position:center;background-size:90px 90px;position: relative; }

#nav:not( :target ) > a:first-of-type, #nav:target > a:last-of-type { display: block; }
#nav > ul { height: auto; display: none; position: absolute; left: 0; right: 0;}
#nav:target > ul { display: block; }
#nav > ul > li { width: 100%; float: none; }
#nav > ul > li > a { font-size:1.4em;height: auto; text-align: left; padding: 0 1em; /* 20 (24) */ }
#nav > ul > li:not( :last-child ) > a { border-right: none; border-bottom: 1px solid #911710; }
#nav li a:active { background-color: #038537; }
#nav > ul > li:hover > a,#nav > ul:not( :hover ) > li.active > a { background-color: #c71f16; }

#header{background:#23282A;height:90px;}
.sitename a{text-align:center;width:100%;font-size:2.2em;color:#fff;text-shadow:none;margin:22px 0 0 0;font-family: 'open sans', sans-serif;text-transform:uppercase;font-weight:700;}
.sitename b{color:#DA2026;}
#show{background:url(/img/busca2.png)no-repeat center center;position:absolute;top:0;right:0;width:90px;height:90px;background-size:50px 50px;display:block;z-index:30;}
#hide{background:url(/img/close.png)no-repeat #303E41 center center;position:relative;float:left;margin:10px 0 0 -56px;width:56px;height:56px;background-size:50px 50px;display:block;z-index:30;}

.thumb-tooltip {display:none;height:1px;width:1px;}
.thumb-tooltip.right {display:none;}
.thumb-tooltip b {display:none;}
.thumb-tooltip .ano {display:none;}
.thumb-tooltip .g {display:none;}
.thumb-tooltip .hd {display:none;}
.thumb-tooltip .dvd {display:none;}
.thumb-tooltip .ts {display:none;}
.play{display:none;}
.buscar{margin:14px 0 0 0;display:none;right:0;width:100%;background:#23282A right top 4px;border-radius:0;box-shadow:none;height:90px;background-size:70px 60px;}
#busca{width:100%;top:80px;border:0 !important;}
#busca a img{width:55px;height:80px;margin:4px;}
input{font-size:1.2em;color:#686868;margin:10px 0 0 15%;text-transform:uppercase;padding:15px 0 15px 0;text-align:center;width:70%;background:#fff;float:left;}
.filme{width:100%;background:#23282A;height:90px;border:0;}
.filme:hover{background:#303E41;}
.link{font:700 1.8em 'open sans',arial,sans-serif;color:#23282A;margin:30px 0 0 5px;color:#fff;}
.capas h2{font-size:1.1em;padding:11px 0 11px 10px;}
.capas a img{width:19.83%;height:220px;}
.all{right:5px;padding:6px;margin-top:-43px;}
.ult{display:none;}
.modalDialog{display:none;}
#footer{height:110px;}
#footer a{font-weight:400;font-size:1.4em;padding:12px;margin:30px  0 0 20px;}
.brand{font-family: 'open sans', sans-serif;font-size:2em;margin:34px 25px 0 0;text-transform:uppercase;font-weight:700;}
}

@media screen and (max-width:736px){
#busca{top:90px;}
.capas a img{width:19.81%;height:210px;}
.all{font-size:0.8em;margin-top:-40px;padding:6px 8px 6px 8px;}
.thumb-tooltip {display:none;height:1px;width:1px;}
.thumb-tooltip.right {display:none;}
.thumb-tooltip b {display:none;}
.thumb-tooltip .ano {display:none;}
.thumb-tooltip .g {display:none;}
.thumb-tooltip .hd {display:none;}
.thumb-tooltip .dvd {display:none;}
.thumb-tooltip .ts {display:none;}
.play{display:none;}
#footer{height:100px;}
#footer a{font-size:1.3em;padding:12px;margin:24px 0 0 24px;}
.brand{font-size:1.9em;margin:28px 25px 0 0;}
}

@media screen and (max-width:667px){
#nav > a:before, #nav > a:after {border: 3px solid #fff;}
.sitename a{font-size:2.2em;}
.capas a img{height:180px;}
.all{margin-top:-41px;}
#footer a{font-size:1.1em;padding:12px;margin:26px 0 0 20px;}
.brand{margin:29px 25px 0 0;}
}

@media screen and (max-width:640px){
.capas a img{width:19.81%;height:180px;}
.capas h2{font-size:1em;}
.all{margin-top:-40px;padding:6px 8px 6px 8px;}
.brand{font-size:1.6em;margin:33px 25px 0 0;}
}

@media screen and (max-width : 600px){
.sitename a{font-size:2em;}
#hide{width:52px;height:52px;background-size:50px 50px;margin:10px 0 0 -52px;}
input{font-size:1em;}
#busca a img{height:80px;margin:4px;}
.link{font:700 1.6em 'open sans',arial,sans-serif;margin-top:34px;}
.capas a img{width:19.81%;height:160px;}
.brand{font-size:1.5em;margin:35px 18px 0 0;}
}

@media screen and (max-width : 568px){
#nav > a:before, #nav > a:after {border: 2px solid #fff;}
input{font-size:1em;}
.capas a img{width:19.79%;height:165px;}
.capas h2{font-size:1em;}
.all{margin-top:-39px;}
.brand{font-size:1.4em;margin:35px 8px 0 0;}
}

@media screen and (max-width : 533px){
.link{font-size:1.5em}
.capas a img{width:19.77%;height:148px;}
.all{margin-top:-40px;right:6px;}
#footer{height:170px;}
#footer a{font-size:1em;margin:24px 0 0 65px;padding:14px;}
.brand{font-size:2em;margin:20px 120px 0 0;}
}

@media screen and (max-width : 480px){
.sitename a{font-size:1.8em;}
#hide{width:52px;height:52px;background-size:50px 50px;margin:10px 0 0 -50px;}
.link{font-size:1.3em}
.capas a img{width:19.75%;height:134px;}
#footer a{font-size:1em;margin:24px 0 0 54px;padding:14px;}
.brand{font-size:1.8em;margin:25px 110px 0 0;}
}

@media screen and (max-width : 414px){
#nav > a { width: 80px; height: 80px;background-size:70px 70px; }
#nav > ul > li > a { font-size:1em;}
#show{width:80px;height:80px;background-size:40px 40px;display:block;z-index:30;}
#header{height:80px;}
.sitename a{font-size: 1.6em;}
.buscar{height:80px;}
#busca{top:70px;}
input{text-align:left;padding-left:20px;}
.link{font:700 1.3em 'open sans',arial,sans-serif;overflow:hidden;}
.capas a img{width:24.66%;height:140px;}
.capas h2{font-size:0.8em;}
.all{margin-top:-35px;font-size:0.7em;padding:5px 6px 5px 6px;right:5px;}
#footer a{margin:24px 0 0 32px;}
.brand{margin:25px 80px 0 0;}
}

@media screen and (max-width : 375px){
.link{font:700 1.2em 'open sans',arial,sans-serif;overflow:hidden;}
.capas a img{width:24.66%;height:120px;}
#footer{height:160px;}
#footer a{font-size:1em;padding:12px;margin:25px 0 0 24px;}
.brand{font-size:1.5em;margin:22px 80px 0 0;}
}


@media screen and (max-width : 360px){
.sitename a{font-size: 1.3em;margin-top:25px;}
#nav > a {background-size:60px 60px; }
#show{background-size:30px 30px;}
.capas a img{width:24.64%;height:115px;}
#footer a{margin:25px 0 0 19px;}
.brand{font-size:1.5em;margin:22px 50px 0 0;}
}


@media screen and (max-width : 320px){
.sitename a{font-size: 1.4em;}
.bloco1 h1{font-size:0.9em;}
#hide{width:48px;height:48px;background-size:50px 50px;margin:10px 0 0 -48px;}

input{padding-left:10px;font-size:0.8em;}
.capas a img{width:24.64%;height:115px;}
#footer a{font-size:0.9em;padding:10px;margin:25px 0 0 15px;}
.brand{font-size:1.8em;margin:22px 70px 0 0;}
}