body{
font-size:11px;
font-family : Verdana, arial;
color:#5d5d5d;
margin:0 !important;
}
*{
margin:0;
padding:0;
}
a{
color:#3C65BE;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
.clr{
clear:both;
}
.left{
float:left;
}
/* .green {
color:#009900;
}
.red{
color:#ff3300;
} */
.style1{
color:green !important;
}
.social_shares {
    padding: 5px 0;
    text-align: center;
}
.album_details_page{
display:inline-block;
}
.headin {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 #ccc;
    padding: 6px 5px;
    text-align: center;
}
.heading{
  background: #1a83cd none repeat scroll 0 0;
    border: 1px solid #0d6cb4;
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
}
.title_2 {
    background: #333 none repeat scroll 0 0;
    padding: 10px 5px;
	color:#fff;
}
.cover {
    margin: 0 5px 0 0;
    height: 180px;
}
footer {
    background: #797979 none repeat scroll 0 0;
    border-bottom: 2px solid #ff0000;
    color: #fff;
    padding: 7px 0;
    text-align: center;
}
.footer {
    background: #595959 none repeat scroll 0 0;
    border: 1px solid #595959;
    color: #cccccc;
    font-weight: bold;
    margin-top: 1px;
    padding: 5px;
}
.shares a {
    background: #3b5998 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 4px;
}
.shares  .whatsapp {
    background:#16b508 none repeat scroll 0 0;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.heading > p {
  background: #0867af none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #fff !important;
    display: inline-block;
    margin: 4px 0;
    padding: 5px 14px;
}
.back-link {
    background: #444444 none repeat scroll 0 0;
    color: #fff;
    padding: 10px;
}
.back-link a{ 
    color: #fff !important;
}
.dd {
    margin:  3px 0 0;
}.imag_cover img {
    margin: 0 10px 0 0;
}
.box_l {
    background: #efefef none repeat scroll 0 0;
    margin: 5px 0;
    padding: 5px 8px;
}

.img_sr{
width:300px;
height:180px;
}
.f_link {
    background: #efefef none repeat scroll 0 0;
    margin: 5px;
    padding: 5px;
}

.app_info > a {
    display: inline-block;
    margin: 3px 0 0;
}

a img,:link img,:visited img{border:none;}
a:link{text-decoration:none;color:#006699;}
a:visited{text-decoration:none;color:#006699;}
a:active {text-decoration:none;color:#000000;}
.jatt a{display: inline-block;padding: 10px 5px;}
.jatt:hover{background-color:#E6E6E6;}
.jatt {border-bottom: 1px dashed #1A83CD;}
.jatt > a:hover {
   color: #333;
   font-weight: bold;
}
.head{
	 background: #1a83cd none repeat scroll 0 0;
    border-bottom: 5px solid #036cb6;
    color: #fff;
    font-weight: bold;
    margin-top: 1px;
    padding: 5px 8px 3px;
    text-transform: capitalize;

}
.footer{
	padding:5px;
	background:#595959; repeat-x;
	color:#cccccc;
	border:1px solid #595959;
	font-weight:bold;
	margin-top:1px;
	}
.footer a { 
color: #fff;
}
.style94, .style1  {color: #FF0000}
.blue-border {
    border: 1px dashed #1a83cd;
}
#tfnewsearch input:first-child {
    border: 1px solid #1a83cd;
}
.style98 {
color: #009900;
font-weight: bold;
}
.margin-left{
margin:0 0 0 5px;    
}
.footer {
    background: #595959 none repeat scroll 0 0;
    border: 1px solid #595959;
    color: #cccccc;
    font-weight: bold;
    margin-top: 1px;
    padding: 5px;
}






.jatt {
    border-bottom: 1px solid #f4f4f4;
}
.serch {
    background: #434343 none repeat scroll 0 0;
    bottom: -1px;
    margin: 0 0 -1px;
    padding: 5px 6px;
}
.serch > h3 {
    color: #fff;
    margin: 0; 
    padding: 3px 0;
}
.fb_sh {
    background: #efefef none repeat scroll 0 0;
    padding: 3px 5px;
}
.fb_sh > p {
    color: #6c2c21;
	 margin: 5px 0;
}.new {
    background: #ef3434 none repeat scroll 0 0;
    border-bottom: 2px solid #da1f1f;
    border-radius: 0;
    color: #fff;
    padding: 0 3px 0px;
}
.jatt a i {
    color: green;
    font-style: normal;
}.star {
    color: red;
    font-style: normal;
}

.next-movie {
    background: #3a5f34 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
	margin: 5px;
    display: inline-block !important;
    font-weight: bold;
    padding: 5px 4px !important;
    text-decoration: none;
}
.next-movie a {
    background: #3a5f34 none repeat scroll 0 0;
    border: 1.2px solid #284d22;
    border-radius: 3px;
    box-shadow: 0 11px 16px #4e7348 inset;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 1px 5px;
    text-decoration: none;
}
.red{
background:red;
}
.green{
background:green !important;
}
.orange{
background:orange !important;
}.imgset_color{
    height: 20px;
    position: absolute;
    top: 0;
}.main-rating-part
	{
		margin: 3px 0 0;
		
		position: relative;
	}
	
.main-rating-part > img {
    position: relative;
    z-index: 1;
}
 .count-stars1 {
    display: inline-block;
    margin: 1px 0 0;
} 
.cat-rate .main-rating-part {
    margin: 2px 0 0 4px;
	 top: 166px;
    position: absolute;
    right: 5px;
}
.cat-rate .main-rating-part > img {
    width: 82px;
}
.cat-rate .imgset_color {
    height: 16px;
    position: absolute;
    top: 1px;
}.cat-rate .count-stars {
    background: red none repeat scroll 0 0;
    border-radius: 0 10px 10px 0;
    color: #fff;
    margin: 0 0 0 -3px;
    padding: 4px 6px;
    position: absolute;
    top: 11px;
}
.cat_time{
float:left;
}
.bc-x {
  
    left: 0;
    position: absolute !important;
    z-index: 0 !important;
}
.ls_item {
    border-bottom: 1px solid #006699;
    box-sizing: border-box;
    display: inline-block;
    margin: 4px 0;
    max-width: 100%;
    padding: 5px;
	position:relative;
    vertical-align: top;
    width: 330px;
}.ls_item > a {
    display: block;
}.ls_item .cover {
    max-width: 100%;
    width: 100% !important;
}
.ls_item h3 {
    font-size: 11px;
    height: 25px;
    margin: 0;
    vertical-align: middle;
}
.ls_item p {
    margin: 0;
}.ls_item p span {
    color: #ef3434;
    margin: 0 5px 0 0;
}.add_on {
    color: green;
    font-style: italic;
}

.fb_sh > p {
    color: #6c2c21;
    margin: 5px 0;
}
.ls_item:nth-child(2n+1) {
    background: #efefef none repeat scroll 0 0;
}

div[class*="rows"]  div[class*="listed"]:first-child  .quality_1, div[class*="rows"] div[class*="listed"]:first-child  .left-design{
    background: #eb6174 none repeat scroll 0 0;
}
div[class*="rows"] div[class*="listed"]:nth-child(3) .quality_1, div[class*="rows"] div[class*="listed"]:nth-child(3) .left-design  {
    background: #2d89c5 none repeat scroll 0 0;
}
div[class*="rows"] div[class*="listed"]:nth-child(4) .quality_1, div[class*="rows"] div[class*="listed"]:nth-child(4) .left-design {
    background: #41bdb0 none repeat scroll 0 0;
}
div[class*="rows"] div[class*="listed"]{
     background: #fff none repeat scroll 0 0 !important;
    border: medium none;
    box-shadow: 0 1px 1px #eee;
    display: block;
    margin: 3px 0;
    position: relative;
}
div[class*="rows"] div[class*="listed"] .left-design {
    background: #eaa34b none repeat scroll 0 0 ;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}
div[class*="rows"] div[class*="listed"] a{
padding:10px;
display:inline-block;
}
.quality_1 {
    background: #eaa34b none repeat scroll 0 0;
    color: #fff;
    padding: 4px 10px;
}

.cover_large {
    height: 200px;
    max-width: 100%;
    width: 320px;
}
.thumb {
    display: inline-block;
    margin: 5px 4px;
}



/*--pag---*/

.pagination {
    background: #434343 none repeat scroll 0 0;
    box-shadow: -2px 2px 0 #e5e5e5;
    font-size: 12px;
    margin: 0 5px;
    padding: 0 3px;
}
div.pagination span.disabled {
    display: none;
}div.pagination a:hover, div.pagination a:active, span.current, .actives {
    background: #1a83cd none repeat scroll 0 0;
    border-radius: 20px;
    color: #fff;
}
.pagination > a, span.current, .actives {
    color: #fff;
    display: inline-block;
    margin: 5px 1px;
    padding: 5px 7px;
    text-align: center;
    text-transform: capitalize;
}

.detail .cover {
    height: 210px;
}
.detail.ls_item {
    width: 400px;
}

.detail .main-rating-part img {
    width: 110px;
}
.detail .cat-rate .imgset_color {
    height: 22px;
    position: absolute;
    top: 1px;
}
.social_shares img {
    background: #eee none repeat scroll 0 0;
    padding: 5px;
}
.detail .cat-rate .main-rating-part {
    right: 1px;
    top: 190px;
}

@media(max-width:400px){
.ls_item {
    width: 100%;
}

.album_details_page {
    width: 100%;
}
}




/*---rating_detail_page--*/
.count-rating .counting-ratings:nth-child(2) {
    padding: 10px 0 0;
}
.counting-ratings {
    display: table;
}
.counting-ratings > span {
    display: table;
}
.counting-ratings img {
    vertical-align: -12px;
}
.full {
    display: table-cell;
    margin: 5px 0;
    width: 100%;
}.full div {
    color: #000;
    font-size: 12px;
    padding: 4px 3px;
}
.five-star {
    background: #88b131 none repeat scroll 0 0;
}.four-star {
    background: #a4cc02 none repeat scroll 0 0;
}.three-star {
    background: #ecbc00 none repeat scroll 0 0;
}.two-star {
    background: #ff9f02 none repeat scroll 0 0;
}.one-star {
    background: #ff6f31 none repeat scroll 0 0;
}
.user-reviewss {
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
}
.bottom-review > img {
    border: 1px solid #666;
    border-radius: 10px;
    float: left;
    height: 40px;
    margin: 0 10px 0 0;
    padding: 1px;
    width: 40px;
}

.more-info {
    background: #efefef none repeat scroll 0 0;
    margin: 5px;
    padding: 5px;
}

.review-trate > p {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}.review-trate img {
    margin: 0 3px;
    vertical-align: bottom;
    width: 20px;
}.view-more .button {
    background: green none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
/*---end--*/
svg{
display:none;
}