
/***---------------------------IE 8--------------------**/
/*estilos generales*/
.registro .buttom.small{
padding: 10px 0\0/!important;}

/*estilos generales*/
img{ height: auto \0/;}

.barra-inf{  background: #22313F\0/;}
.apertura-destacado-left .noticiaindex img { height: auto\0/!important; width: auto\0/!important;}


/*MERCADOS Y COTIZACIONES*/
	#bolsas .ruta, #bolsas .ruta a {margin-top: 20px\0/!important;}
	.menu3 ul#menu-drop .li-ame a, .menu3 ul#menu-drop .ncab-en a{ padding: 3px 20px\0/!important;}
	.c-alerta form input[type="text"]{height: 37px\0/!important;}
	
/*MERCADOS Y COTIZACIONES*/


/*mercados-cotizaciones/divisas/*/
	 input.radius{height: 32px\0/!important;}
	.calc-divi select.radius{height: 33px\0/;margin-bottom: 20px\0/;float: none;}
	.calcu-box .calc-divi form input.button{height: 32px\0/;margin-top:30px\0/;font-size: 12px\0/;}
	.calcu-box .calc-divi form input.resultado{float: none\0/;}
/*mercados-cotizaciones/divisas/*/
/*MATERIAS PRIMAS FUENTE*/
	.buscador-categoria2 input{height: 32px\0/!important;}
/*MATERIAS PRIMAS FUENTE*/

/*M.continuo.Estadísticas*/
	.tablalista thead tr td ul li a.select{padding: 4px\0/;}
	.tablalista thead tr td ul li a{padding: 4px\0/;}
	.tablalista thead tr td ul li a:hover{padding: 4px\0/;}
/*M.continua.Estadísticas*/

/*endesa perfil*/
	.tablas-grandes caption p{float: left\0/;display: inline\0/;}
	.tablas-grandes caption p a{float: right\0/;}
/*endesa perfil*/

/*endesa historico*/
	.buscafechas input {padding: 0px 10px 25px 10px\0/!important;height: 37px\0/!important;}
	.buscafechas input {padding: 0px 25px 10px 10px\0/!important;height: 37px\0/!important;line-height: 37px\0/!important;}
	.buscafechas input:hover{line-height: 35px\0/!important;}
	.buscafechas input.button {line-height: 37px\0/!important;padding-bottom: 25px\0/!important;padding:none\0/;height:none\0/;width: 100px\0/!important;}
	.buscafechas input.button:hover{padding-bottom: 25px\0/!important;padding:none\0/;height:none\0/;width: 100px\0/!important;}
	.tablacot tr td.precio {font-size: 20px\0/!important;}
/*endesa historico*/

/*ENDESA/analisis-tecnico*/
	.ecott ul{padding: 0 0 0 30px\0/;font-size: 12px\0/!important;}
	.ecott li {list-style-position:outside\0/!important;}/*ENDESA/analisis-tecnico*/
/*empresas-finanzas (para el bocadillo de los comentarios)/*/
	small.num-coment{width: 650px\0/;}
/*empresas-finanzas/*/


/*sección tecnología*/
	.tecno .caja-tit-alfa {background:#fff\0/!important;}
/*sección tecnología*/
#tecnologia .col-h-d .min-pago a.button{}
/*finanzas-personales*/
	.bankimia  input{height: 32px\0/;} 
	.wrap-columns-int select{height: 32px\0/;padding: 0 0 2px 0 \0/;}
	.bankimia button .expand .radius small{padding-bottom: 20px\0/;}
/*finanzas-personales*/

/*pais_vasco/*/
	.masleidas ul li{list-style-position: outside\0/;}
/*pais_vasco/*/

/*productos*/
	.producto0 .button{font-size: 12px\0/;}
	.producto0 h3{font-size: 15px\0/!important;}
/*productos*/

/*elsuperlunes*/
	.wrap-columns-int b{font-weight: bold\0/;}
	.descargaSp .radius.left{ padding: 12px\0/; font-size:17px\0/;border-bottom: 2px solid #01527A\0/;}
	.descargaSp .radius{padding: 12px\0/; font-size:17px\0/;border-bottom: 2px solid #A34608\0/;}
	.cont-li b{font-weight: bold\0/;}
	#stylized input{height: 32px\0/;}
	#stylized button{padding-bottom: 12px\0/;}
	#stylized label{margin-top: 7px\0/;}
/*elsuperlunes*/

/*elsuperlunes*/
	.registro input{height: 42px\0/;}
/*elsuperlunes*/
	.pricing-table .price{font-size: 24px\0/; font-weight:bold\0/;}
	.pricing-table .bullet-item{padding: 20px\0/;}
	.pricing-table .cta-button{padding: 20px 10px 20px 10px \0/;}
	.ta-button .button.radius .small{padding: 10px\0/;}
	.myform input{margin-bottom: 17px\0/;}
	#hemeroteca .myform form div label.recordar{margin-top: 35px\0/;}
	button.radius, .button.radius{padding: 12px\0/;}
	/*servicios-inversor*/
	.button.b-ecot{padding: 10px\0/!important;font-size: 14px\0/!important;border-bottom: 2px solid #88281E\0/!important;}
	.button.b-ecot:hover{border-bottom: 2px solid transparent\0/!important;}
	.button.b-monitor:hover{border-bottom:2px solid transparent\0/!important;;}
	.button.b-monitor{padding: 10px\0/!important;font-size: 14px\0/!important;border-bottom: 2px solid #C14E02\0/!important;}
/*servicios-inversor*/
.tablapeq-capta tr td input{height:32px\0/!important;}
/*boletines*/

/*datos personales*/
	.box-reg2 input{padding:10px\0/!important;}
	.button.small{padding:10px\0/!important;}



/*cartera portada*/

.registro input{
	background: #34495E\0/;
	color: #000000\0/;
	border: none\0/;
	width: 119px\0/;
	line-height: 1.467\0/;
	padding: 10px 0\0/;
	cursor: pointer\0/;
}

/*cartera portada*/

.modulo-analisis div a img {margin-bottom: 85px\0/!important;}
/*datos personales*/

/*franquicias*/
.col-h-d .min-pago a.button{padding: 10px\0/!important;}
.c-alerta form input{}
/*franquicias*/

.c-alerta label.acepto{margin: 0px 0 0 5px\0/!important;}

/*formulario general*/
input[type='text'], input[type='password'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], textarea{
	color: #000000\0/;
	border: 1px solid #BDC3C7;
}

/***---------------------------IE 9--------------------**/