/*
    ORICON STYLE

    [Base]
    - Reset
    - Init

    [Layout]
    - Container
    - Header
    - Content
    - Footer

    [Sub Module]
*/
/* =========================================================
[Base]
========================================================= */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 10, ../../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 31, ../../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, ../../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 38, ../../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 41, ../../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes $name {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes $name {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* --------------------------------------------------
 Init
-------------------------------------------------- */
/* --------------------------------------------------
Init
-------------------------------------------------- */
/* line 10, ../../scss/_init.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
}

/* line 15, ../../scss/_init.scss */
body {
  color: #222222;
  font-size: 0.875em;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  line-height: 1;
}

/* line 22, ../../scss/_init.scss */
select,
input,
textarea,
button {
  font-family: inherit;
}

/* line 29, ../../scss/_init.scss */
* {
  word-wrap: break-word;
  word-break: break-all;
}

/* line 34, ../../scss/_init.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../../scss/_init.scss */
*:before,
*:after {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* line 48, ../../scss/_init.scss */
img {
  vertical-align: middle;
}

/* line 52, ../../scss/_init.scss */
a:link,
a:visited {
  color: #222222;
  text-decoration: none;
}

/* line 58, ../../scss/_init.scss */
a:hover,
a:active {
  color: #222222;
}

/* line 63, ../../scss/_init.scss */
a img {
  opacity: 1;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

/* line 69, ../../scss/_init.scss */
/*a:hover img {
  opacity: 0.5;
}*/

/* line 73, ../../scss/_init.scss */
.ie7 a:hover img,
.ie8 a:hover img {
  filter: alpha(opacity=50);
}

/* line 79, ../../scss/_init.scss */
.rollover a:hover img {
  opacity: 1;
}

/* line 83, ../../scss/_init.scss */
.ie7 .rollover a:hover img,
.ie8 .rollover a:hover img {
  filter: none;
}

/* =========================================================
[Layout]
========================================================= */
/* --------------------------------------------------
Container
-------------------------------------------------- */
/* --------------------------------------------------
HEADER-AREA
-------------------------------------------------- */
/* line 14, ../../scss/_layouts.scss */
.site-header {
  position: relative;
  z-index: 10;
  margin: 0 auto 40px;
}

/* line 20, ../../scss/_layouts.scss */
.site-header .inner {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 20px 0;
}

/* line 27, ../../scss/_layouts.scss */
.site-header .logo {
  display: block;
  width: 300px;
  margin: 0 auto 15px;
  text-align: center;
}

/* line 34, ../../scss/_layouts.scss */
.site-header .logo a:hover img {
  -ms-filter: none;
  filter: none;
  opacity: 1;
  background: #FFF;
}

/* line 41, ../../scss/_layouts.scss */
.site-header .tagline {
  display: block;
  width: 500px;
  margin: 0 auto;
  color: #4f4f4f;
  font-size: 0.86em;
  text-align: center;
  line-height: 1.1;
}

/* line 51, ../../scss/_layouts.scss */
.ie7 .site-header .tagline {
  line-height: 1.3;
}

/* line 55, ../../scss/_layouts.scss */
.site-header .social {
  position: absolute;
  top: 20px;
  right: 0;
}

/* line 60, ../../scss/_layouts.scss */
.site-header .social li {
  display: inline;
  float: left;
}

/* line 64, ../../scss/_layouts.scss */
.site-header .hnav {
  position: absolute;
  top: 60px;
  right: 0;
  font-size: 0.86em;
}

/* line 70, ../../scss/_layouts.scss */
.site-header .hnav p {
  padding-left: 10px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/common/icon-arrow01.png) no-repeat 0 1px;
  line-height: 1;
}

/* line 76, ../../scss/_layouts.scss */
.ie7 .site-header .hnav p {
  line-height: 1.3;
}

/* line 80, ../../scss/_layouts.scss */
.site-header .icon-facebook01,
.site-header .icon-twitter01 {
  margin-right: 9px;
}

/* --------------------------------------------------
NAVI-FIXED
-------------------------------------------------- */
/* clingify */
/* line 89, ../../scss/_layouts.scss */
.js-clingify-ztransform, .js-clingify-wrapper {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 95, ../../scss/_layouts.scss */
.js-clingify-wrapper {
  width: 100%;
}

/* line 99, ../../scss/_layouts.scss */
.js-clingify-locked {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

/* --------------------------------------------------
NAVI-AREA
-------------------------------------------------- */
/* line 109, ../../scss/_layouts.scss */
.site-nav {
  background: #0C50A3;
}

/* line 112, ../../scss/_layouts.scss */
.site-nav .inner {
  position: relative;
  width: 980px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  line-height: 30px;
}

/* line 120, ../../scss/_layouts.scss */
.gnav {
  float: left;
  background: #0A3F81;
  font-size: 0.93em;
}

/* line 125, ../../scss/_layouts.scss */
.gnav li {
  display: inline;
  background: #FFF;
  font-weight: bold;
}

/* line 130, ../../scss/_layouts.scss */
.gnav a {
  display: block;
  float: left;
  top: 0;
  left: 0;
  height: 30px;
  padding: 0 30px;
  background: #0C50A3;
  color: #FFF;
  line-height: 30px;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-backface-visibility: hidden;
}

/* line 144, ../../scss/_layouts.scss */
.gnav a:hover {
  position: relative;
  padding: 0 15px 0 45px;
  background: url("http://contents.oricon.co.jp/pc/img/_parts/common/sprite-gnav.png") no-repeat #3171bd;
}

/* line 149, ../../scss/_layouts.scss */
.gnav .is-active {
  background: #3171bd;
}

/* line 152, ../../scss/_layouts.scss */
.gnav a.home:hover {
  background-position: 18px 0;
}

/* line 155, ../../scss/_layouts.scss */
.gnav a.news:hover {
  background-position: 18px -30px;
}

/* line 158, ../../scss/_layouts.scss */
.gnav a.rank:hover {
  background-position: 18px -60px;
}

/* line 161, ../../scss/_layouts.scss */
.gnav a.special:hover {
  background-position: 18px -90px;
}

/* line 164, ../../scss/_layouts.scss */
.gnav a.ticket:hover {
  background-position: 18px -120px;
}

/* line 167, ../../scss/_layouts.scss */
.gnav a.prof:hover {
  background-position: 18px -150px;
}

/* line 170, ../../scss/_layouts.scss */
.gnav a.photo:hover {
  background-position: 18px -180px;
}

/* line 174, ../../scss/_layouts.scss */
#nav-search {
  float: right;
  width: 138px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
}

/* line 182, ../../scss/_layouts.scss */
#nav-search a {
  display: block;
  overflow: hidden;
  width: 133px;
  height: 0;
  padding-top: 20px;
  line-height: 2;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/common/sprite-search01.png) no-repeat 0 0;
  cursor: pointer;
}

/* line 193, ../../scss/_layouts.scss */
#nav-search a.is-active {
  background-position: 0 -30px;
}

/* line 197, ../../scss/_layouts.scss */
.ie7 .site-nav .gnav li a:hover,
.ie8 .site-nav .gnav li a:hover {
  top: -5px;
  left: -5px;
}

/* line 203, ../../scss/_layouts.scss */
.ie8 .wrapper-site-nav {
  overflow: hidden;
}

/* line 207, ../../scss/_layouts.scss */
.site-nav-search {
  display: none;
  overflow: hidden;
  width: 100%;
  *zoom: 1;
  padding: 10px 0;
  background-color: #083976;
  text-align: center;
  line-height: 1;
}

/* line 218, ../../scss/_layouts.scss */
.ie7 .site-nav-search {
  height: 38px;
}

/* line 222, ../../scss/_layouts.scss */
.site-nav-search .form-inner {
  display: table;
  *display: inline;
  width: 980px;
  margin: 0 auto;
  padding: 5px;
  background-color: #eeeeee;
  *zoom: 1;
  text-align: left;
  line-height: 0;
}

/* line 234, ../../scss/_layouts.scss */
.ie7 .site-nav-search .form-inner {
  width: 970px;
  height: 28px;
}

/* line 239, ../../scss/_layouts.scss */
.site-nav-search .wrap-select {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  width: 193px;
  vertical-align: middle;
}

/* line 247, ../../scss/_layouts.scss */
.ie7 .site-nav-search .wrap-select {
  float: left;
  width: 193px;
}

/* line 252, ../../scss/_layouts.scss */
.site-nav-search .select-categories {
  width: 188px;
  margin: 0;
  padding: 8px 10px 6px;
  background: #fff url(http://contents.oricon.co.jp/pc/img/_parts/common/bg-select01.png) no-repeat 95% 50%;
  color: #555555;
  line-height: 14px;
  border: none;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 28px;
}

/* line 267, ../../scss/_layouts.scss */
.ie7 .site-nav-search .select-categories {
  width: 168px;
  height: 12px;
}

/* line 272, ../../scss/_layouts.scss */
.site-nav-search .wrap-input {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  width: 744px;
  vertical-align: middle;
}

/* line 280, ../../scss/_layouts.scss */
.ie7 .site-nav-search .wrap-input {
  float: left;
  width: 744px;
  height: 28px;
}

/* line 286, ../../scss/_layouts.scss */
.site-nav-search .input-keyword {
  display: block;
  width: 739px;
  height: 28px;
  margin: 0;
  padding: 3px 0 3px 10px;
  font-size: 1em;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

/* line 299, ../../scss/_layouts.scss */
.ie7 .site-nav-search .input-keyword {
  float: left;
  width: 729px;
  height: 14px;
  padding: 7px 5px;
  background: #FFF;
}

/* line 307, ../../scss/_layouts.scss */
.site-nav-search .wrap-submit {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  border: 0px;
  width: 33px;
  height: 28px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/search/btn-search01.png) left top no-repeat;
}

/* line 315, ../../scss/_layouts.scss */
.ie7 .site-nav-search .wrap-submit {
  float: right;
  width: 33px;
  margin: 0;
}

/* line 321, ../../scss/_layouts.scss */
.site-nav-search .wrap-submit input {
  opacity: 0;
  border:none;
  width:33px;
  height:28px;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

/* line 327, ../../scss/_layouts.scss */
.site-nav-search .wrap-submit:hover input {
  opacity: 0.5;
}

/* --------------------------------------------------
Content
-------------------------------------------------- */
/* line 334, ../../scss/_layouts.scss */
.content {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 0 0 80px;
  *zoom: 1;
}

/* line 342, ../../scss/_layouts.scss */
.content:after {
  content: '';
  display: block;
  clear: both;
  *zoom: 1;
}

/* line 349, ../../scss/_layouts.scss */
.content-main {
  float: left;
  width: 660px;
  min-height: 600px;
}

/* line 354, ../../scss/_layouts.scss */
.content-main a {
  color: #3171bd;
  text-decoration: none;
}
/* line 357, ../../scss/_layouts.scss */
.content-main a:hover {
  text-decoration: underline;
}

/* line 362, ../../scss/_layouts.scss */
.content-sub {
  position: relative;
  float: right;
  width: 300px;
  min-height: 300px;
}

/* line 369, ../../scss/_layouts.scss */
.content-sub-02 {
  position: relative;
  float: right;
  width: 300px;
  min-height: 300px;
}

/* line 376, ../../scss/_layouts.scss */
.content-sub.stuck {
  float: none;
  position: fixed;
  bottom: 0;
}

/* line 382, ../../scss/_layouts.scss */
.sticky-wrapper {
  width: 300px;
  float: right;
  margin: 0 auto;
  position: relative;
}

/* line 389, ../../scss/_layouts.scss */
.go-page-top {
  clear: both;
  text-align: right;
}

/* --------------------------------------------------
Footer
-------------------------------------------------- */
/* Footer Home
--------------------------------------------------*/
/* line 400, ../../scss/_layouts.scss */
.section-footer {
  width: 980px;
  margin: 0 auto 50px;
  font-size: 0.86em;
}

/* line 406, ../../scss/_layouts.scss */
#footer-start {
  margin-bottom: 36px;
}

/* line 409, ../../scss/_layouts.scss */
.section-footer a:link,
.section-footer a:visited {
  text-decoration: none;
}

/* line 413, ../../scss/_layouts.scss */
.section-footer a:hover,
.section-footer a:active {
  text-decoration: underline;
}

/* line 417, ../../scss/_layouts.scss */
.section-footer .ttl {
  margin: 0 auto 20px;
}

/* line 420, ../../scss/_layouts.scss */
.section-footer .lead {
  margin: 0 auto 20px;
}

/* line 423, ../../scss/_layouts.scss */
.section-footer .block-social {
  margin: 0 -19px 0 0;
}

/* line 426, ../../scss/_layouts.scss */
.section-footer .block-social dl {
  float: left;
  width: 314px;
  margin-right: 19px;
}

/* line 431, ../../scss/_layouts.scss */
.section-footer .block-social dl dt {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dfdfdf;
  font-family: "Antic";
  font-weight: bold;
  font-size: 1.5em;
}

/* line 439, ../../scss/_layouts.scss */
.section-footer .block-social .facebook {
  position: relative;
  top: -10px;
  left: -10px;
}

/* line 444, ../../scss/_layouts.scss */
.section-footer .block-social .twitter p {
  margin: -5px 0 10px;
  padding: 5px 0 0 25px;
  font-size: 1.14em;
  font-weight: bold;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/footer/icon-twitter01.png) no-repeat 0 50%;
  height: 20px;
  display: block;
}

/* line 456, ../../scss/_layouts.scss */
.section-footer .block-social .google-plus p {
  margin-bottom: 10px;
  font-size: 1.14em;
  font-weight: bold;
}

/* line 461, ../../scss/_layouts.scss */
.section-footer .block-social .google-plus p .icon-status {
  position: relative;
  top: -2px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 16px;
  height: 17px;
  margin-left: 5px;
  text-indent: -9999px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/common/icon-check02.png) no-repeat 100% 0;
}

/* line 477, ../../scss/_layouts.scss */
.section-footer .list-group-site {
  margin: 0 -6px 0 0;
}

/* line 480, ../../scss/_layouts.scss */
.section-footer .list-group-site li {
  float: left;
  margin-right: 6px;
}

/* line 484, ../../scss/_layouts.scss */
.section-footer .block-customer {
  margin: 0 -20px -22px 0;
}

/* line 487, ../../scss/_layouts.scss */
.section-footer .block-customer .unit-customer {
  float: left;
  width: 180px;
  margin-right: 20px;
  line-height: 1.7;
}

/* line 493, ../../scss/_layouts.scss */
.section-footer .block-customer .unit-customer dl {
  margin-bottom: 20px;
}

/* line 496, ../../scss/_layouts.scss */
.section-footer .block-customer .unit-customer dt {
  margin-bottom: 15px;
  padding-bottom: 1px;
  border-bottom: 2px solid #dfdfdf;
  font-weight: bold;
  font-size: 1.14em;
}

/* line 503, ../../scss/_layouts.scss */
.section-footer .block-customer .unit-customer dd ul li {
  margin-bottom: 15px;
  padding-left: 15px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-blank03.png) no-repeat 0 5px;
}

/* line 509, ../../scss/_layouts.scss */
.section-footer .block-customer .unit-customer .gourmet {
  margin-top: 38px;
}

/* line 513, ../../scss/_layouts.scss */
.section-footer .block-customer .unit-customer .beauty {
  margin-top: 37px;
}

/* Footer Sitemap
--------------------------------------------------*/
/* line 519, ../../scss/_layouts.scss */
.section-footer-sitemap {
  padding: 50px 0 35px 0;
  background-color: #f9f9F9;
  font-size: 0.86em;
}

/* line 525, ../../scss/_layouts.scss */
.section-footer-sitemap a:link,
.section-footer-sitemap a:visited {
  text-decoration: none;
}

/* line 530, ../../scss/_layouts.scss */
.section-footer-sitemap a:hover,
.section-footer-sitemap a:active {
  text-decoration: underline;
}

/* line 535, ../../scss/_layouts.scss */
.section-footer-sitemap .ttl {
  margin: 0 auto 20px;
}

/* line 539, ../../scss/_layouts.scss */
.section-footer-sitemap .inner {
  width: 980px;
  margin: 0 auto;
}

/* line 544, ../../scss/_layouts.scss */
.section-footer-sitemap h3 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid #dfdfdf;
  font-weight: bold;
  font-size: 1.14em;
}

/* line 553, ../../scss/_layouts.scss */
.section-footer-sitemap h3 a {
  display: block;
  height: 15px;
  padding-left: 20px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right04.png) no-repeat 0 50%;
  line-height: 15px;
}

/* line 561, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap01 {
  float: left;
  width: 180px;
  margin-right: 15px;
}

/* line 567, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 {
  float: left;
  width: 562px;
  margin-right: 22px;
}

/* line 573, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap03 {
  float: left;
  width: 198px;
}

/* Sitemap 01 */
/* line 579, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap01 h3 {
  margin-bottom: 15px;
  padding-bottom: 0;
  *padding: 0;
  border-bottom: none;
}

/* line 586, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap01 li {
  font-weight: bold;
  font-size: 1.14em;
  margin-bottom: 8px;
}

/* line 592, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap01 li a {
  display: block;
  height: 15px;
  margin-bottom: 15px;
  padding: 0px 0 0 20px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right04.png) no-repeat 0 50%;
  line-height: 15px;
  *line-height: 18px;
}

/* Sitemap 02 */
/* line 603, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 .inner {
  width: 572px;
  margin: 0 -10px 0 0;
}

/* line 607, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 .unit-ranking {
  float: left;
  width: 180px;
  margin-right: 10px;
}

/* line 613, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 .unit-ranking h4 {
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: none;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4;
}

/* line 622, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 .unit-ranking ul {
  margin-bottom: 10px;
}

/* line 626, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 .unit-ranking li {
  margin-bottom: 15px;
  line-height: 1.2;
}

/* line 630, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap02 .unit-ranking li a {
  display: block;
  padding-left: 10px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right05.png) no-repeat 0 50%;
}

/* Sitemap 03 */
/* line 637, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap03 ul {
  margin-bottom: 20px;
}

/* line 640, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap03 ul li {
  margin-bottom: 17px;
}

/* line 643, ../../scss/_layouts.scss */
.section-footer-sitemap .sitemap03 ul li a {
  display: block;
  padding-left: 10px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right05.png) no-repeat 0 50%;
}

/* Special */
/* line 650, ../../scss/_layouts.scss */
.section-footer-sitemap .special {
  padding-top: 12px;
}

/* IE7 */
/* line 655, ../../scss/_layouts.scss */
.ie7 .section-footer .block-customer .unit-customer dd ul li {
  margin-bottom: 7px;
}

/* line 659, ../../scss/_layouts.scss */
.ie7 .section-footer-sitemap .sitemap01 li a {
  margin-bottom: 7px;
}

/* line 663, ../../scss/_layouts.scss */
.ie7 .section-footer-sitemap .sitemap02 .unit-ranking li {
  margin-bottom: 13px;
}

/* Footer Main
--------------------------------------------------*/
/* line 670, ../../scss/_layouts.scss */
.site-footer {
  position: relative;
  margin: 0;
  color: #ffffff;
  font-size: 0.86em;
}

/* line 677, ../../scss/_layouts.scss */
.site-footer a:link,
.site-footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

/* line 683, ../../scss/_layouts.scss */
.site-footer a:hover,
.site-footer a:active {
  text-decoration: underline;
}

/* line 688, ../../scss/_layouts.scss */
.site-footer .inner {
  width: 980px;
  margin: 0 auto;
}

/* line 693, ../../scss/_layouts.scss */
.icon-pageup01 {
  width: 40px;
  height: 40px;
  margin-right: 9px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-pageup01.png) no-repeat 0 50%;
}

/* line 701, ../../scss/_layouts.scss */
.site-footer .btn-pagetop {
  position: fixed;
  bottom: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}

/* line 710, ../../scss/_layouts.scss */
.site-footer .btn-pagetop a {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 716, ../../scss/_layouts.scss */
.site-footer .site-footer-top {
  padding: 16px 0 15px;
  *padding: 10px 0 10px;
  background-color: #246ABE;
}

/* line 722, ../../scss/_layouts.scss */
.site-footer .site-footer-top .unit-sitelink {
  float: left;
  width: 700px;
  margin: 0;
  *padding-top: 10px;
}

/* line 729, ../../scss/_layouts.scss */
.site-footer .site-footer-top .unit-sitelink ul {
  *margin-bottom: 5px;
  line-height: 1.7;
}

/* line 735, ../../scss/_layouts.scss */
.site-footer .site-footer-top .unit-sitelink ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  margin-bottom: 3px;
  padding-left: 10px;
  border-left: 1px solid #ffffff;
  line-height: 1.2;
  *line-height: 1.4;
}

/* line 747, ../../scss/_layouts.scss */
.site-footer .site-footer-top .unit-list-information {
  float: right;
  position: relative;
  *top: 12px;
  width: 173px;
  padding: 10px;
  background-color: #0c50a3;
  border-radius: 30px;
}

/* line 757, ../../scss/_layouts.scss */
.site-footer .site-footer-top .unit-list-information li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 0 0 10px;
  padding-left: 15px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-blank02.png) no-repeat 0 50%;
  line-height: 1em;
  *line-height: 1.3;
}

/* line 768, ../../scss/_layouts.scss */
.site-footer .site-footer-top .unit-sitelink ul li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

/* line 774, ../../scss/_layouts.scss */
.site-footer .site-footer-bottom {
  padding: 20px 0;
  background-color: #0c50a3;
}

/* line 779, ../../scss/_layouts.scss */
.site-footer .site-footer-bottom .site-footer-logo {
  float: left;
  width: 180px;
}

/* line 784, ../../scss/_layouts.scss */
.site-footer .site-footer-bottom .site-footer-logo .logo {
  margin-bottom: 28px;
}

/* line 788, ../../scss/_layouts.scss */
.site-footer .site-footer-bottom .license {
  float: right;
  width: 800px;
  line-height: 1.7;
  margin: -2px 0 0 0;
}

/* line 795, ../../scss/_layouts.scss */
.footer-main {
  background-color: #222222;
}

/* line 798, ../../scss/_layouts.scss */
.footer-main p {
  text-align: center;
}

/* line 801, ../../scss/_layouts.scss */
.footer-main p a {
  display: block;
  line-height: 60px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
}

/* line 808, ../../scss/_layouts.scss */
.footer-main p a span {
  position: relative;
  margin-left: 17px;
}

/* line 812, ../../scss/_layouts.scss */
.footer-main p a span:before {
  display: block;
  position: absolute;
  top: -5px;
  left: -22px;
  width: 15px;
  height: 25px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-sp01.png) no-repeat 0 50%;
  background-size: 100% 100%;
  content: "";
}

/* =========================================================
[Side Module]
========================================================= */
@-webkit-keyframes $name {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes $name {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes $name {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* --------------------------------------------------
Side Module
-------------------------------------------------- */
/*lig add start*/
/*stick
-------------------------------------------------- */
/*block-sub
-------------------------------------------------- */
/* line 35, ../../scss/_module_sub.scss */
.block-sub {
  margin: 0 0 40px;
}
/* line 37, ../../scss/_module_sub.scss */
.block-sub.block-sub-ad {
  margin-bottom: 0;
}
/* line 39, ../../scss/_module_sub.scss */
.block-sub.block-sub-ad + .block-sub {
  margin-top: 40px;
}
/* line 42, ../../scss/_module_sub.scss */
.block-sub.block-sub-ad + .block-sub-rank {
  margin-top: 30px;
}
/* line 45, ../../scss/_module_sub.scss */
.block-sub.block-sub-ad + .block-sub-talent {
  margin-top: 36px;
}

/*lig add end*/
/* line 52, ../../scss/_module_sub.scss */
.block-sub .ttl {
  margin: 0 0 10px;
}

/* line 56, ../../scss/_module_sub.scss */
.block-sub .list-entries a {
  display: block;
  overflow: hidden;
  *zoom: 1;
  padding: 5px;
  border-top: 1px solid #eeeeee;
  text-decoration: none;
  word-break: break-word;
}

.block-sub .list-entries .pr {
    background: rgba(0, 0, 0, 0) url("http://contents.oricon.co.jp/pc/img/_parts/icon/icon-pr01.png") no-repeat scroll 98% bottom;
    display: block;
    padding-bottom: 17px !important;
}

.block-sub .list-entries .pr2 {
    background: rgba(0, 0, 0, 0) url("http://contents.oricon.co.jp/pc/img/_parts/icon/icon-pr01.png") no-repeat scroll 98% bottom;
    display: block;
    padding-bottom: 17px !important;
}

/* line 66, ../../scss/_module_sub.scss */
.block-sub .list-entries a:hover {
  background: #f9f9F9;
  -webkit-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}

/* line 72, ../../scss/_module_sub.scss */
.block-sub .list-entries .thumb-l {
  float: left;
  padding-right: 5px;
  line-height: 1;
}

/* line 77, ../../scss/_module_sub.scss */
.block-sub .list-entries .thumb-r {
  float: right;
  padding-left: 5px;
  line-height: 1;
}

/* line 82, ../../scss/_module_sub.scss */
.block-sub .list-entries .wrap-text {
  overflow: hidden;
  padding: 3px 0 3px 3px;
  *zoom: 1;
  line-height: 1.5;
  vertical-align: middle;
}

/* line 89, ../../scss/_module_sub.scss */
.block-sub .list-entries .wrap-text dt {
  margin: 0 0 5px;
  line-height: 1.2;
  font-weight: bold;
}

/* line 94, ../../scss/_module_sub.scss */
.block-sub .list-entries .wrap-text dd {
  color: #555555;
  font-size: 0.86em;
}

/* line 100, ../../scss/_module_sub.scss */
.block-sub-goods .wrap-btn a,
.block-sub-gallery .wrap-btn a,
.block-sub-news .wrap-btn a,
.block-sub-latest .wrap-btn a {
  height: 36px;
  padding: 0;
  font-weight: bold;
  line-height: 36px;
  color: #FFFFFF;
}

/*block-talent
-------------------------------------------------- */
/* line 113, ../../scss/_module_sub.scss */
.block-sub-talent {
  margin-top: -4px;
}

/* line 117, ../../scss/_module_sub.scss */
* + html .block-sub-talent td li {
  float: left;
}

/* line 121, ../../scss/_module_sub.scss */
.block-sub-talent table {
  width: 100%;
}

/* line 124, ../../scss/_module_sub.scss */
.block-sub-talent td {
  border-bottom: 1px solid #eeeeee;
  vertical-align: middle;
}

/* line 128, ../../scss/_module_sub.scss */
.block-sub-talent td ul {
  display: table;
  *display: inline;
  width: 290px;
  *overflow: hidden;
  height: 44px;
}

/* line 136, ../../scss/_module_sub.scss */
.block-sub-talent td li {
  display: table-cell;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  *height: 44px;
  *line-height: 44px;
  *layout-grid-line: 44px;
}

/* line 145, ../../scss/_module_sub.scss */
.block-sub-talent a {
  display: block;
  *zoom: 1;
  text-decoration: none !important;
  cursor: pointer;
}

/* line 151, ../../scss/_module_sub.scss */
.block-sub-talent a:hover {
  background-color: #f9f9F9;
}

/* line 154, ../../scss/_module_sub.scss */
.block-sub-talent .num {
  width: 40px;
  font-size: 1.43em;
  font-weight: bold;
  text-align: center;
  font-family: "Antic";
}

/* line 161, ../../scss/_module_sub.scss */
.block-sub-talent .rank {
  width: 30px;
  *padding: 0;
  *height: 44px;
  *line-height: 44px;
  *layout-grid-line: 45px;
  vertical-align: middle;
}

/* line 170, ../../scss/_module_sub.scss */
.block-sub-talent .rank span {
  position: static;
  top: auto;
  left: auto;
  height: 44px;
  *line-height: 44px;
}

/* line 178, ../../scss/_module_sub.scss */
.block-sub-talent .name {
  *height: 44px;
  *line-height: 44px;
}

/* line 184, ../../scss/_module_sub.scss */
.block-sub-talent .name span {
  display: block;
  width: 175px;
  white-space: nowrap !important;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 44px;
}

/* line 194, ../../scss/_module_sub.scss */
.block-sub-talent .name.no-image span {
  width: 220px;
}

/* line 198, ../../scss/_module_sub.scss */
.block-sub-talent .thumb {
  width: 45px;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

/* line 206, ../../scss/_module_sub.scss */
.block-sub-talent .thumb {
  *float: right;
}

/* line 210, ../../scss/_module_sub.scss */
.block-sub-talent .thumb > img {
  max-width: 34px;
  width: auto !important;
  width: 34px;
  max-height: 34px;
  height: auto !important;
  height: 34px;
}

/* line 218, ../../scss/_module_sub.scss */
.block-sub-talent .icon-new01 {
  position: relative;
  left: -5px;
}

/*block-gallery
-------------------------------------------------- */
/* line 225, ../../scss/_module_sub.scss */
.block-sub-gallery {
  margin-top: -3px;
}

/* line 229, ../../scss/_module_sub.scss */
.block-sub-gallery .gallery-box {
  position: relative;
  border: 5px solid #eeeeee;
}

/* line 233, ../../scss/_module_sub.scss */
.block-sub-gallery .gallery-box .navi {
  position: absolute;
}

/* line 236, ../../scss/_module_sub.scss */
.block-sub-gallery .gallery-box .icon-prev01 {
  position: absolute;
  top: 80px;
  left: -8px;
  text-indent: -5000px;
}

/* line 242, ../../scss/_module_sub.scss */
.block-sub-gallery .gallery-box .icon-next01 {
  position: absolute;
  top: 80px;
  right: -8px;
  text-indent: -5000px;
}

/* line 248, ../../scss/_module_sub.scss */
.block-sub-gallery .unit-items {
  position: relative;
  border-bottom: 5px solid #eeeeee;
}

/* line 252, ../../scss/_module_sub.scss */
.block-sub-gallery .unit-items .item {
  float: left;
  overflow: hidden;
  width: 290px;
  height: 225px;
  text-align: center;
}

/* line 260, ../../scss/_module_sub.scss */
.block-sub-gallery .unit-items .item > a > p {
  display: table-cell;
  width: 290px;
  height: 193px;
  layout-grid-line: 193px;
  text-align: center;
  vertical-align: middle;
}
/* line 267, ../../scss/_module_sub.scss */
.block-sub-gallery .unit-items .item > a > p > img {
  max-width: 290px;
  width: auto !important;
  width: 290px;
  max-height: 193px;
  height: auto !important;
  height: 193px;
}

/* line 277, ../../scss/_module_sub.scss */
.block-sub-gallery .unit-items .item .caption {
  display: block;
  padding: 5px;
  border-top: 5px solid #eeeeee;
  text-align: center;
}

/* line 283, ../../scss/_module_sub.scss */
.block-sub-gallery .unit-items .item .caption {
  display: block;
  border-bottom: 5px solid #eeeeee;
  white-space: nowrap !important;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

/* line 293, ../../scss/_module_sub.scss */
.block-sub-gallery .thumbs li {
  float: left;
  width: 48px;
  height: 31px;
}

/* line 299, ../../scss/_module_sub.scss */
.block-sub-gallery .thumbs li > a > p {
  display: table-cell;
  width: 48px;
  height: 31px;
  layout-grid-line: 31px;
  text-align: center;
  vertical-align: middle;
}

/* line 308, ../../scss/_module_sub.scss */
.block-sub-gallery .thumbs li > a > p > img {
  max-width: 46px;
  width: auto !important;
  width: 46px;
  max-height: 31px;
  height: auto !important;
  height: 31px;
}

/* line 317, ../../scss/_module_sub.scss */
.block-sub-gallery .wrap-btn {
  border: 5px solid #eeeeee;
  border-width: 0 5px 5px;
}

/* line 321, ../../scss/_module_sub.scss */
.block-sub-gallery .btn-more {
  display: block;
  width: 100%;
  font-size: 0.93em;
}

/*block-goods
-------------------------------------------------- */
/* line 330, ../../scss/_module_sub.scss */
.block-sub-goods {
  margin-top: -7px;
}

/* line 334, ../../scss/_module_sub.scss */
.block-sub-goods .btn-more {
  display: block;
  width: 100%;
  font-size: 0.93em;
}

/* line 339, ../../scss/_module_sub.scss */
.block-sub-goods .btn-more span {
  position: relative;
}

/* Image Fix */
/* line 344, ../../scss/_module_sub.scss */
.block-sub-goods .list-entries .thumb-l > p {
  display: table-cell;
  padding: 0;
  width: 116px;
  height: 87px;
  layout-grid-line: 87px;
  text-align: center;
  vertical-align: middle;
  background-color: #F9F9F9;
  cursor: pointer;
}
/* line 354, ../../scss/_module_sub.scss */
.block-sub-goods .list-entries .thumb-l > p > img {
  max-width: 116px;
  width: auto !important;
  width: 116px;
  max-height: 87px;
  height: auto !important;
  height: 87px;
}

/* IE7-8 */
/* line 367, ../../scss/_module_sub.scss */
.ie7 .block-sub-goods .thumb-l,
.ie8 .block-sub-goods .thumb-l {
  display: block;
  layout-grid-line: 87px;
}
/* line 371, ../../scss/_module_sub.scss */
.ie7 .block-sub-goods a,
.ie8 .block-sub-goods a {
  cursor: pointer;
}

/*block-bnr
-------------------------------------------------- */
/* line 378, ../../scss/_module_sub.scss */
.block-sub-bnr li {
  margin: 10px 0 0;
}

/* line 381, ../../scss/_module_sub.scss */
.block-sub-bnr li:first-child {
  margin: 0;
}

/*block-attenton
-------------------------------------------------- */
/* line 387, ../../scss/_module_sub.scss */
.block-sub-attention p {
  color: #555555;
  font-size: 0.86em;
}

/* Image Fix */
/* line 393, ../../scss/_module_sub.scss */
.block-sub-attention .list-entries .thumb-l > p {
  display: table-cell;
  width: 116px;
  height: 87px;
  margin: 0 5px 0 0;
  padding: 0;
  layout-grid-line: 87px;
  text-align: center;
  vertical-align: middle;
  background-color: #F9F9F9;
  cursor: pointer;
}
/* line 404, ../../scss/_module_sub.scss */
.block-sub-attention .list-entries .thumb-l > p img {
  max-width: 116px;
  width: auto !important;
  width: 116px;
  max-height: 87px;
  height: auto !important;
  height: 87px;
}

/* IE7-8 */
/* line 417, ../../scss/_module_sub.scss */
.ie7 .block-sub-attention .thumb-l,
.ie8 .block-sub-attention .thumb-l {
  display: block;
  layout-grid-line: 87px;
}

/* line 424, ../../scss/_module_sub.scss */
.ie7 .block-sub-attention a {
  cursor: pointer;
}

/*block-news
-------------------------------------------------- */
/* line 432, ../../scss/_module_sub.scss */
.block-sub-news table {
  width: 100%;
}

/* line 436, ../../scss/_module_sub.scss */
.block-sub-news tr {
  background: #FFFFFF;
}

/* line 440, ../../scss/_module_sub.scss */
.block-sub-news th {
  width: 42px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #eeeeee;
  background: #FFFFFF;
  font-size: 1.429em;
  font-weight: bold;
  font-family: "Antic";
}

/* line 451, ../../scss/_module_sub.scss */
.block-sub-news th span {
  display: block;
  width: 40px;
  height: 45px;
  margin: 1px;
  line-height: 45px;
  background: #f9f9F9;
}

/* line 459, ../../scss/_module_sub.scss */
.block-sub-news td {
  padding: 0;
  border-bottom: 1px solid #eeeeee;
  vertical-align: middle;
}

/* line 464, ../../scss/_module_sub.scss */
.block-sub-news td:hover {
  background: #F9F9F9;
}

/* line 467, ../../scss/_module_sub.scss */
.block-sub-news td a {
  display: block;
  text-decoration: none;
  width: 250px;
  *width: 230px;
  height: 43px;
  line-height: 43px;
  padding: 0 10px 0 5px;
  white-space: nowrap !important;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 481, ../../scss/_module_sub.scss */
.block-sub-news .btn-more {
  display: block;
  width: 100%;
  font-size: 0.93em;
}

/* line 486, ../../scss/_module_sub.scss */
.block-sub-news .btn-more span {
  position: relative;
}

/*block-latest
-------------------------------------------------- */
/* line 492, ../../scss/_module_sub.scss */
.block-sub-latest .wrap-text {
  margin-top: -5px;
  font-size: 0.929em;
  font-weight: bold;
  width: 190px;
}

/* line 499, ../../scss/_module_sub.scss */
.block-sub-latest .wrap-btn {
  border: 5px solid #eeeeee;
  border-width: 0 5px 5px;
}

/* line 504, ../../scss/_module_sub.scss */
.block-sub-latest .btn-more {
  display: block;
  width: 100%;
  font-size: 0.93em;
}

/* line 509, ../../scss/_module_sub.scss */
.block-sub-latest .btn-more span {
  position: relative;
}

/* Image Fix */
/* line 514, ../../scss/_module_sub.scss */
.block-sub-latest .list-entries .thumb-r {
  width: 80px;
  height: 60px;
  margin: 0;
  padding:0;
  line-height: 60px;
  layout-grid-line: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #F9F9F9;
  cursor: pointer;
}
/* line 524, ../../scss/_module_sub.scss */
.block-sub-latest .list-entries .thumb-r > img {
  max-width: 80px;
  width: auto !important;
  width: 80px;
  max-height: 60px;
  height: auto !important;
  height: 60px;
}

/* IE7-8 */
/* line 537, ../../scss/_module_sub.scss */
.ie7 .block-sub-latest .thumb-r,
.ie8 .block-sub-latest .thumb-r {
  display: block;
  layout-grid-line: 60px;
}
/* line 541, ../../scss/_module_sub.scss */
.ie7 .block-sub-latest a,
.ie8 .block-sub-latest a {
  cursor: pointer;
}

/* block-recommend
-------------------------------------------------- */
/* line 548, ../../scss/_module_sub.scss */
.block-sub-recommend {
  margin-top: -9px;
}

/* line 552, ../../scss/_module_sub.scss */
.block-sub-recommend .wrap-text {
  font-weight: bold;
  /*width: 180px;*/
}

/* Image Fix */
/* line 558, ../../scss/_module_sub.scss */
.block-sub-recommend .list-entries .thumb-l > p {
  display: table-cell;
  width: 80px;
  height: 60px;
  margin: 0 5px 0 0;
  padding: 0;
  layout-grid-line: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #F9F9F9;
  cursor: pointer;
}
/* line 569, ../../scss/_module_sub.scss */
.block-sub-recommend .list-entries .thumb-l > p > img {
  max-width: 80px;
  width: auto !important;
  width: 80px;
  max-height: 60px;
  height: auto !important;
  height: 60px;
}

/* IE7-8 */
/* line 582, ../../scss/_module_sub.scss */
.ie7 .block-sub-recommend .thumb-l,
.ie8 .block-sub-recommend .thumb-l {
  display: block;
  layout-grid-line: 60px;
}
/* line 586, ../../scss/_module_sub.scss */
.ie7 .block-sub-recommend a,
.ie8 .block-sub-recommend a {
  cursor: pointer;
}

/*block-sales-ranking
-------------------------------------------------- */
/* line 595, ../../scss/_module_sub.scss */
.block-sub-rank-list > li + li {
  margin-top: 30px;
}
/* line 599, ../../scss/_module_sub.scss */
.block-sub-rank-list .sub-rank-title {
  height: 40px;
  margin-bottom: 10px;
  border-bottom: 2px solid #4F4F4F;
}
/* line 604, ../../scss/_module_sub.scss */
.block-sub-rank-list .sub-rank-title h2 {
  width: 300px;
  height: 30px;
  line-height: 45px;
  margin-left: 5px;
  padding-left: 45px;
  font-size: 16px;
  font-weight: bold;
  background-position: left center;
}
/* line 615, ../../scss/_module_sub.scss */
.block-sub-rank-list .sub-rank-title .title-single {
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-sales-rank-single.png) no-repeat;
}
/* line 619, ../../scss/_module_sub.scss */
.block-sub-rank-list .sub-rank-title .title-album {
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-sales-rank-album.png) no-repeat;
}
/* line 623, ../../scss/_module_sub.scss */
.block-sub-rank-list .sub-rank-title .title-dvd {
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-sales-rank-dvd.png) no-repeat;
}
/* line 627, ../../scss/_module_sub.scss */
.block-sub-rank-list .sub-rank-title .title-bluray {
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-sales-rank-bluray.png) no-repeat;
}
/* line 634, ../../scss/_module_sub.scss */
.block-sub-rank-list .list-entries a {
  padding: 1px;
}
/* line 637, ../../scss/_module_sub.scss */
.block-sub-rank-list .list-entries a .wrap-text {
  height: 42px;
  padding: 0;
}
/* line 641, ../../scss/_module_sub.scss */
.block-sub-rank-list .list-entries a .wrap-text p {
  width: 195px;
  padding-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}
/* line 649, ../../scss/_module_sub.scss */
.block-sub-rank-list .list-entries a .wrap-text p .rank-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
  padding-left: 5px;
  font-weight: bold;
  background: #F9F9F9;
}
/* line 663, ../../scss/_module_sub.scss */
.block-sub-rank-list .wrap-btn {
  border: 5px solid #EEEEEE;
  border-width: 0 5px 5px;
}
/* line 667, ../../scss/_module_sub.scss */
.block-sub-rank-list .wrap-btn a {
  height: 36px;
  padding: 0;
  font-weight: bold;
  line-height: 36px;
  color: #FFFFFF;
}
/* line 675, ../../scss/_module_sub.scss */
.block-sub-rank-list .wrap-btn .btn-more {
  display: block;
  width: 100%;
  font-size: 0.93em;
}

.block-sub-rank-list ul.list-entries li a p.thumb-l img {
max-width:42px;
max-height:42px;
}


/* Pulldown Box buy
-------------------------------------------------- */
/* line 685, ../../scss/_module_sub.scss */
.list-btn .buy {
  position: relative;
}

/* line 689, ../../scss/_module_sub.scss */
.buy a:hover .icon-arrow-bottom01 {
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-top01.png) no-repeat 0 50%;
}

/* line 693, ../../scss/_module_sub.scss */
.box-buy,
.box-buy-music {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  border-top: none;
  border: 2px solid #1F5AA2;
  background-color: #FFF;
  z-index: 10;
}
/* line 704, ../../scss/_module_sub.scss */
.box-buy a,
.box-buy-music a {
  text-decoration: none;
}
/* line 707, ../../scss/_module_sub.scss */
.box-buy li,
.box-buy-music li {
  line-height: 1.2;
}
/* line 709, ../../scss/_module_sub.scss */
.box-buy li:first-child a,
.box-buy-music li:first-child a {
  border-top: none;
}
/* line 712, ../../scss/_module_sub.scss */
.box-buy li a,
.box-buy-music li a {
  display: block;
  padding: 14px 20px;
  border-top: 1px solid #F3F3F3;
}
/* line 716, ../../scss/_module_sub.scss */
.box-buy li a:hover,
.box-buy-music li a:hover {
  background-color: #F3F3F3;
}

/* line 722, ../../scss/_module_sub.scss */
.ie7 .box-buy,
.ie7 .box-buy-music {
  width: 256px;
}

/* line 726, ../../scss/_module_sub.scss */
.ie7 .buy,
.ie7 .box-buy-music-small {
  width: 240px;
}

/* line 730, ../../scss/_module_sub.scss */
.ie7 .buy,
.ie7 .box-buy-music-middle {
  width: 234px;
}

/* line 734, ../../scss/_module_sub.scss */
.ie7 .buy,
.ie7 .box-buy-music-large {
  width: 256px;
}

/* Sub Local Navigation
-------------------------------------------------- */
/* line 742, ../../scss/_module_sub.scss */
.block-sub-nav {
  margin-bottom: 40px;
}
/* line 746, ../../scss/_module_sub.scss */
.block-sub-nav a:hover, .block-sub-nav a:active {
  text-decoration: none;
}
/* line 752, ../../scss/_module_sub.scss */
.block-sub-nav .ttl-menu {
  padding: 10px 15px;
  color: #FFF;
  background-color: #0c50a3;
  font-size: 1.143em;
  font-weight: bold;
  line-height: 1.3;
}
/* line 760, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav {
  border-right: 3px solid #EEE;
  border-left: 3px solid #EEE;
  border-bottom: 3px solid #EEE;
  font-size: 0.929em;
}
/* line 766, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav li {
  line-height: 1.5;
}
/* line 770, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav li .current {
  background: #f9f9F9;
  font-weight: bold;
}
/* line 775, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav li a {
  display: block;
  border-top: 1px solid #EEE;
  padding: 12px 30px 12px 15px;
  color: #246abe;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right03.png) no-repeat 95% 50% #FFF;
}
/* line 782, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav li a:hover {
  background-color: #F9F9F9;
}
/* line 786, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav .is-active {
  font-weight: bold;
}
/* line 788, ../../scss/_module_sub.scss */
.block-sub-nav .list-nav .is-active a {
  padding: 12px 15px;
  background-image: none;
  background-color: #F9F9F9;
}


.block-sub .block-sub-rank-list .list-entries .thumb-l {
  float: left;
  margin:0;
  padding:0;
  line-height: 39px;
  width:42px;
  height:42px;
  text-align:center;
  vertical-align: middle;
}
