@-webkit-keyframes fadeInA {
  /* line 132, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
  }

  /* line 135, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
  }

  /* line 138, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fadeInA {
  /* line 144, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
  }

  /* line 147, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
  }

  /* line 150, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInB {
  /* line 160, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 165, ../../scss/_mixins.scss */
  20% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 170, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInB {
  /* line 178, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 184, ../../scss/_mixins.scss */
  20% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 190, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInC {
  /* line 160, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 165, ../../scss/_mixins.scss */
  40% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 170, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInC {
  /* line 178, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 184, ../../scss/_mixins.scss */
  40% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 190, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInD {
  /* line 160, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 165, ../../scss/_mixins.scss */
  60% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 170, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInD {
  /* line 178, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 184, ../../scss/_mixins.scss */
  60% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  /* line 190, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInE {
  /* line 160, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 165, ../../scss/_mixins.scss */
  80% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 170, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInE {
  /* line 178, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 184, ../../scss/_mixins.scss */
  80% {
    opacity: 0;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  /* line 190, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInZ {
  /* line 203, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 208, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 213, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInZ {
  /* line 221, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 227, ../../scss/_mixins.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 233, ../../scss/_mixins.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* =========================================================
[Home]
========================================================= */
/* line 8, ../../scss/home.scss */
.home-primary {
  *zoom: 1;
  margin: 0 0 30px;
}
/* line 11, ../../scss/home.scss */
.home-primary:after {
  content: '';
  display: table;
  clear: both;
}

/* --------------------------------------------------
home news
-------------------------------------------------- */
/* line 21, ../../scss/home.scss */
.block-home-news {
  float: left;
  width: 530px;
}
/* line 24, ../../scss/home.scss */
.block-home-news .icon-movie01 {
  position: relative;
  top: -1px;
  margin: 0 3px;
}
/* line 29, ../../scss/home.scss */
.block-home-news .icon-new01 {
  position: relative;
  top: -3px;
  margin: 0 3px;
}
/* line 34, ../../scss/home.scss */
.block-home-news .tabs {
  overflow: hidden;
  width: 530px;
  height: 40px;
  margin: 0 0 3px;
  background: white url(http://contents.oricon.co.jp/pc/img/_parts/home/sprite-tab01.png) no-repeat 0 0;
}
/* line 40, ../../scss/home.scss */
.block-home-news .tabs:after {
  content: '';
  display: table;
  clear: both;
}
/* line 45, ../../scss/home.scss */
.block-home-news .tabs li {
  float: left;
  width: 20%;
  font-weight: bold;
}
/* line 50, ../../scss/home.scss */
.block-home-news .tabs a {
  display: block;
  overflow: hidden;
  height: 0;
  padding-top: 40px;
  background-image: url(http://contents.oricon.co.jp/pc/img/_parts/home/sprite-tab01.png);
  background-repeat: no-repeat;
  line-height: 40px;
}
/* line 60, ../../scss/home.scss */
.block-home-news .tab01 a {
  background-position: 0 0;
}
/* line 62, ../../scss/home.scss */
.block-home-news .tab01 a:hover {
  background-position: 0 -50px;
}
/* line 65, ../../scss/home.scss */
.block-home-news .tab01 a.is-active {
  background-position: 0 -100px;
}
/* line 69, ../../scss/home.scss */
.block-home-news .tab02 a {
  background-position: -106px 0;
}
/* line 71, ../../scss/home.scss */
.block-home-news .tab02 a:hover {
  background-position: -106px -50px;
}
/* line 74, ../../scss/home.scss */
.block-home-news .tab02 a.is-active {
  background-position: -106px -100px;
}
/* line 78, ../../scss/home.scss */
.block-home-news .tab03 a {
  background-position: -212px 0;
}
/* line 80, ../../scss/home.scss */
.block-home-news .tab03 a:hover {
  background-position: -212px -50px;
}
/* line 83, ../../scss/home.scss */
.block-home-news .tab03 a.is-active {
  background-position: -212px -100px;
}
/* line 87, ../../scss/home.scss */
.block-home-news .tab04 a {
  background-position: -318px 0;
}
/* line 89, ../../scss/home.scss */
.block-home-news .tab04 a:hover {
  background-position: -318px -50px;
}
/* line 92, ../../scss/home.scss */
.block-home-news .tab04 a.is-active {
  background-position: -318px -100px;
}
/* line 96, ../../scss/home.scss */
.block-home-news .tab05 a {
  background-position: -424px 0;
}
/* line 98, ../../scss/home.scss */
.block-home-news .tab05 a:hover {
  background-position: -424px -50px;
}
/* line 101, ../../scss/home.scss */
.block-home-news .tab05 a.is-active {
  background-position: -424px -100px;
}
/* line 105, ../../scss/home.scss */
.block-home-news .tab-contents {
  position: relative;
  padding: 0;
  border: 2px solid #eeeeee;
}
/* line 109, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body {
  display: none;
}
/* line 112, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body-inner {
  height: 265px;
  *height: 248px;
  padding: 18px 18px 2px;
  *zoom: 1;
}
/* line 117, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body-inner:after {
  content: '';
  display: table;
  clear: both;
}
/* line 124, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body.is-active {
  display: block;
}
/* line 127, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .pickup {
  float: left;
  width: 167px;
  border-right: 1px solid #eeeeee;
}
/* line 132, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .centering-image {
  display: table;
}
/* line 135, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .image {
  display: table-cell;
  height: 194px;
  width: 150px;
  layout-grid-line: 194px;
  vertical-align: middle;
  text-align: center;
}
/* line 142, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .image > img {
  max-width: 150px;
  width: auto !important;
  width: 150px;
  max-height: 194px;
  height: auto !important;
  height: 194px;
}
/* line 151, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .image-caption {
  padding-top: 5px;
  font-size: 0.86em;
  line-height: 1.5;
  word-break: break-word;
}
/* line 157, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .list {
  float: right;
  width: 304px;
}
/* line 160, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .list li {
  margin: 0 0 8px;
  vertical-align: top;
  font-weight: bold;
}
/* line 164, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .list li .icon-movie {
  margin: 0 3px;
}
/* line 168, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .list a {
  display: inline-block;
  width: 17.5em;
  padding-top: 1px;
  white-space: nowrap !important;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  line-height:18px;
}
/* line 177, ../../scss/home.scss */
.block-home-news .tab-contents .tab-body .list a:hover {
  color: #3171bd;
  text-decoration: underline;
}
/* line 185, ../../scss/home.scss */
.block-home-news .unit-footer {
  *zoom: 1;
  padding: 7px 8px 5px 5px;
  background: #EEEEEE;
}
/* line 189, ../../scss/home.scss */
.block-home-news .unit-footer:after {
  content: '';
  display: table;
  clear: both;
}
/* line 194, ../../scss/home.scss */
.block-home-news .unit-footer .btn-more {
  float: left;
  width: 210px;
  padding: 0;
  line-height: 28px;
  -webkit-trainsition: opactiy 0.2s linear;
  transition: opactiy 0.2s linear;
  word-break: break-word;
}
/* line 202, ../../scss/home.scss */
.block-home-news .unit-footer .btn-more span {
  display: inline-block;
  *display: inline;
  position: relative;
  top: 0;
  *zoom: 1;
  *top: -7px;
  width: 15px;
  height: 9px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right02.png) no-repeat 0 50%;
}
/* line 214, ../../scss/home.scss */
.block-home-news .unit-footer .link-top {
  float: right;
  *width: 200px;
  text-align: right;
  padding: 7px 10px 5px 5px;
  font-size: 0.93em;
  text-decoration: none;
  line-height: 1.2;
  word-break: break-word;
}
/* line 223, ../../scss/home.scss */
.block-home-news .unit-footer .link-top span {
  *display: inline;
  *position: relative;
  *top: -5px;
}
/* line 228, ../../scss/home.scss */
.block-home-news .unit-footer .link-top:hover {
  color: #3171bd;
  text-decoration: underline;
}

/* --------------------------------------------------
home ranking
-------------------------------------------------- */
/* line 240, ../../scss/home.scss */
.block-home-ranking {
  float: right;
  width: 430px;
  position: relative;
}
/* line 244, ../../scss/home.scss */
.block-home-ranking .tabs {
  overflow: hidden;
  width: 430px;
  height: 40px;
  margin: 0 0 3px;
  background: white url(http://contents.oricon.co.jp/pc/img/_parts/home/sprite-tab02.png) no-repeat 0 0;
}
/* line 245, ../../scss/home.scss */
.block-home-ranking .tabs:after {
  content: '';
  display: table;
  clear: both;
  content: '';
  display: table;
  clear: both;
}
/* line 258, ../../scss/home.scss */
.block-home-ranking .tabs li {
  float: left;
  font-weight: bold;
}
/* line 263, ../../scss/home.scss */
.block-home-ranking .tab01, .block-home-ranking .tab04 {
  width: 108px;
}
/* line 266, ../../scss/home.scss */
.block-home-ranking .tab02, .block-home-ranking .tab03 {
  width: 107px;
}
/* line 269, ../../scss/home.scss */
.block-home-ranking .tabs a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 40px;
  background-image: url(http://contents.oricon.co.jp/pc/img/_parts/home/sprite-tab02.png);
  background-repeat: no-repeat;
  line-height: 40px;
}
/* line 279, ../../scss/home.scss */
.block-home-ranking .tab01 a {
  background-position: 0 0;
}
/* line 281, ../../scss/home.scss */
.block-home-ranking .tab01 a:hover {
  background-position: 0 -50px;
}
/* line 284, ../../scss/home.scss */
.block-home-ranking .tab01 a.is-active {
  background-position: 0 -100px;
}
/* line 288, ../../scss/home.scss */
.block-home-ranking .tab02 a {
  background-position: -108px 0;
}
/* line 290, ../../scss/home.scss */
.block-home-ranking .tab02 a:hover {
  background-position: -108px -50px;
}
/* line 293, ../../scss/home.scss */
.block-home-ranking .tab02 a.is-active {
  background-position: -108px -100px;
}
/* line 297, ../../scss/home.scss */
.block-home-ranking .tab03 a {
  background-position: -215px 0;
}
/* line 299, ../../scss/home.scss */
.block-home-ranking .tab03 a:hover {
  background-position: -215px -50px;
}
/* line 302, ../../scss/home.scss */
.block-home-ranking .tab03 a.is-active {
  background-position: -215px -100px;
}
/* line 306, ../../scss/home.scss */
.block-home-ranking .tab04 a {
  background-position: -322px 0;
}
/* line 308, ../../scss/home.scss */
.block-home-ranking .tab04 a:hover {
  background-position: -322px -50px;
}
/* line 311, ../../scss/home.scss */
.block-home-ranking .tab04 a.is-active {
  background-position: -322px -100px;
}
/* line 315, ../../scss/home.scss */
.block-home-ranking .icon-prev01 {
  position: absolute;
  top: 178px;
  left: -3px;
  text-indent: -5000px;
}
/* line 321, ../../scss/home.scss */
.block-home-ranking .icon-next01 {
  position: absolute;
  top: 178px;
  right: -3px;
  text-indent: -5000px;
}
/* line 327, ../../scss/home.scss */
.block-home-ranking .tab-contents-wrapper {
  position: relative;
  overflow: hidden;
  height: 268px;
  border: 2px solid #eeeeee;
}
/* line 333, ../../scss/home.scss */
.block-home-ranking .tab-contents {
  position: relative;
  float: left;
  height: 268px;
  *zoom: 1;
  padding: 0;
}
/* line 339, ../../scss/home.scss */
.block-home-ranking .tab-contents:after {
  content: '';
  display: table;
  clear: both;
}
/* line 344, ../../scss/home.scss */
.block-home-ranking .tab-contents .unit-title {
  *zoom: 1;
  margin: 0 0 20px;
  padding: 0 9px 6px;
  border-bottom: 2px solid #555555;
}
/* line 349, ../../scss/home.scss */
.block-home-ranking .tab-contents .unit-title:after {
  content: '';
  display: table;
  clear: both;
}
/* line 354, ../../scss/home.scss */
.block-home-ranking .tab-contents .unit-title .ttl {
  float: left;
  font-size: 1.14em;
  font-weight: bold;
}
/* line 359, ../../scss/home.scss */
.block-home-ranking .tab-contents .unit-title .date {
  position: relative;
  top: 4px;
  float: right;
  font-size: 0.86em;
  color: #555555;
}
/* line 367, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body {
  float: left;
  width: 426px;
  *width: 410px;
  position: relative;
  *zoom: 1;
  padding: 19px 10px 0;
}
/* line 374, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body:after {
  display: block;
  content: '';
  clear: both;
}
/* line 381, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-rank a:hover, .block-home-ranking .tab-contents .tab-body .unit-rank a:active {
  text-decoration: none;
}
/* line 385, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-rank dt {
  margin: 0 0 5px;
  font-weight: bold;
  word-wrap: break-word;
  line-height: 1.3;
}
/* line 391, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-rank dd {
  white-space: nowrap !important;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 398, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 dl {
  margin-top: 18px;
}
/* line 401, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 dt {
  padding-left: 10px;
}
/* line 404, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 dd {
  padding-left: 10px;
}
/* line 407, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank02 dt, .block-home-ranking .tab-contents .tab-body .rank03 dt {
  font-size: 0.85em;
}
/* line 410, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-rank dd {
  color: #888888;
  word-wrap: break-word;
  line-height: 1.3;
  font-size: 0.85em;
}
/* line 416, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 {
  float: left;
  position: relative;
  width: 176px;
  *width: 160px;
  min-height: 211px;
}
/* line 422, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 a {
  display: block;
  padding: 0 15px 0 10px;
}
/* line 426, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 .centering-image {
  display: table;
  margin-bottom: 10px;
}
/* line 430, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 .image {
  text-align: center;
  vertical-align: middle;
  margin-left: 36px;
  width: 115px;
  height: 115px;
  layout-grid-line: 115px;
}
/* line 439, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 .image > img {
  max-width: 115px;
  width: auto !important;
  width: 115px;
  max-height: 115px;
  height: auto !important;
  height: 115px;
}
/* line 448, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 .num {
  position: absolute;
  top: 0;
  left: 10px;
  width: 36px;
  text-align: center;
  font-size: 2.14em;
  line-height: 1;
}
/* line 456, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 .num span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  top: -10px;
  width: 38px;
  margin: 0 auto;
  text-align: center;
}
/* line 467, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .rank01 dt {
  margin: 0 0 5px;
}
/* line 471, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r {
  float: right;
  width: 230px;
  border-left: 1px solid #eeeeee;
}
/* line 475, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .image {
  float: left;
  width: 77px;
  height: 77px;
  line-height: 77px;
  layout-grid-line: 77px;
  text-align: center;
  vertical-align: middle;
}
/* line 483, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .image > img {
  max-width: 77px;
  width: auto !important;
  width: 77px;
  max-height: 77px;
  height: auto !important;
  height: 77px;
}
/* line 492, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .rank-text {
  float: left;
  width: 100px;
  line-height: 1.3;
  margin-left: 10px;
}
/* line 498, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .num {
  margin: 0 0 5px;
  font-size: 1.43em;
  font-weight: bold;
  line-height: 1;
}
/* line 503, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .num span {
  position: relative;
  top: -1px;
  margin-left: 10px;
}
/* line 509, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .rank02 {
  border-bottom: 1px solid #eeeeee;
}
/* line 511, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .rank02 a {
  display: block;
  padding: 0 15px 15px;
}
/* line 516, ../../scss/home.scss */
.block-home-ranking .tab-contents .tab-body .unit-r .rank03 a {
  display: block;
  padding: 15px 15px 0;
}
/* line 523, ../../scss/home.scss */
.block-home-ranking .unit-footer {
  *zoom: 1;
  padding: 5px 7px 7px;
  background: #EEEEEE;
}
/* line 527, ../../scss/home.scss */
.block-home-ranking .unit-footer:after {
  content: '';
  display: table;
  clear: both;
}
/* line 532, ../../scss/home.scss */
.block-home-ranking .unit-footer .btn-more {
  float: left;
  width: 200px;
  padding: 0;
  line-height: 28px;
  -webkit-trainsition: opactiy 0.2s linear;
  trainsition: opactiy 0.2s linear;
}
/* line 539, ../../scss/home.scss */
.block-home-ranking .unit-footer .btn-more a {
  opacity: 0.7;
}
/* line 542, ../../scss/home.scss */
.block-home-ranking .unit-footer .btn-more span {
  display: inline-block;
  position: relative;
  top: 0;
  *zoom: 1;
  *top: -7px;
  width: 15px;
  height: 9px;
  background: url(http://contents.oricon.co.jp/pc/img/_parts/icon/icon-arrow-right02.png) no-repeat 0 50%;
}
/* line 553, ../../scss/home.scss */
.block-home-ranking .unit-footer .link-top {
  float: right;
  *width: 120px;
  padding: 7px 10px 5px 5px;
  text-align: right;
  font-size: 0.93em;
  text-decoration: none;
  line-height: 1.2;
}
/* line 561, ../../scss/home.scss */
.block-home-ranking .unit-footer .link-top:hover {
  color: #3171bd;
  text-decoration: underline;
}
/* line 565, ../../scss/home.scss */
.block-home-ranking .unit-footer .link-top span {
  *display: inline;
  *position: relative;
  *top: -5px;
}

/* IE7 */
/* line 576, ../../scss/home.scss */
.ie7 .block-home-ranking .tab-contents .tab-body .rank01 a {
  padding: 0 0 0 10px;
}
/* line 580, ../../scss/home.scss */
.ie7 .block-home-ranking .tab-contents .tab-body .unit-r .rank02 a {
  padding: 0 15px 15px;
  cursor: pointer;
}
/* line 584, ../../scss/home.scss */
.ie7 .block-home-ranking .tab-contents .tab-body .unit-r .rank03 a {
  padding: 15px 15px 0;
  cursor: pointer;
}
/* line 589, ../../scss/home.scss */
.ie7 .block-home-ranking .tab-contents .tab-body .rank01 .num span {
  top: 0;
  left: 0;
}
/* line 593, ../../scss/home.scss */
.ie7 .block-home-ranking .tab-contents .tab-body .rank02 .num span, .ie7 .block-home-ranking .tab-contents .tab-body .rank03 .num span {
  top: -15px;
}

#content-main .special_tab{ margin:10px auto 0; border-top:1px solid #222; border-bottom:1px solid #222;}
#content-main .special_tab li{ float:left; margin:8px 10px 8px 20px;}
#content-main .special_tab li a{text-decoration: none; color: #222; font-weight:bold;}
#content-main .special_tab li a:hover{color: #3171bd; text-decoration:underline;}
