﻿/********** ОБЩЕЕ ОФОРМЛЕНИЕ СТРАНИЦЫ ******************/
/* картинка background */
html {
    background-image: url('/img/back-header.png');
    background-repeat: repeat-x;
    background-position: 0 0;
}
body {
    font-family: Tahoma, sans-serif;
    background: url('/img/back-footer.png') repeat-x 0 100%;
}
/* Часть background под логотипом */
div.back1 { background: url('/img/back-1.jpg') no-repeat 50% 0 }
.rtl div.back1 { background-image: url('/img/back-1-rtl.jpg') }
/* Часть background в "подвале", под логотипом */
div.back2 { background: url('/img/back-2.jpg') no-repeat 50% 100% }

/********* BOX-1 - СПИСОК 42 ТРЕЙДЕРОВ ***************/
div.box-1 {
    background-image: none;
    border-radius: 8px;
    position: relative;
}
div.page { overflow: visible }

/* preload images, css3 */
div.page {
    background: url('/img/bsearch.gif') no-repeat -9999px -9999px,
    url('/img/c1h.png') no-repeat -9999px -9999px,
    url('/img/c3h.png') no-repeat -9999px -9999px;
}
.rtl div.page { background: url('/img/bsearch-rtl.gif') no-repeat -9999px -9999px }


/********** ФОРМА ПОИСКА ************/
div.header { background-image: none }

div.header div.logo a { width: 238px; height: 99px; background: url('/img/logo.png') no-repeat 0 0; left: -1px; top: -1px }
div.header div.dropdown { border: 1px solid #ff4ed0 }
.rtl div.header div.logo a { right: -9px }

/* спец. для ok-porn */
div.header div.category a.x { background-image: url('/img/category.png') }
div.header div.category span { padding: 7px 0 0 22px; font-family: Tahoma, sans-serif; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; font-smoothing: antialiased;}
.rtl div.header div.category span { padding: 7px 22px 0 0; }

.rtl div.header div.category a.x { background-image: url('/img/category-rtl.png') }

.rtl div.header h2 { right: 240px }
/********** ШАПКА ПЕРЕД БЛОКАМИ ********************/
div.title {
    background: url("/img/bb-2.png") no-repeat scroll left top #731818;
    border-radius: 6px;
    height: 20px;
    position: relative;
}
.rtl div.title { background: url("/img/bb-2-rtl.png") no-repeat scroll right top #731818 }
div.title h1 {
    line-height: 0.95;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

/********** НАВИГАЦИЯ И КНОПКИ *********/
div.nav {
    font-family: "Myriad Pro", Arial, sans-serif;
    font-size: 18px;
}
div.nav a {
    background: url("/img/bb-1.png") no-repeat scroll left top #f54b73;
    font-weight: bold;
    padding: 3px 7px 3px 7px;
    border-radius: 6px;
}
.rtl div.nav a {
    background: url("/img/bb-1-rtl.png") no-repeat scroll right top #f54b73;
}
div.nav a:hover, div.nav a.x, div.nav a.x:hover { background: url("/img/bb-2.png") no-repeat scroll left top #731818 }
.rtl div.nav a:hover, .rtl div.nav a.x, .rtl div.nav a.x:hover { background: url("/img/bb-2-rtl.png") no-repeat scroll right top #731818 }

/******** БОКС С RELATED ***********/
div.box-2 {
    background-image: none;
    text-transform: capitalize;
    border-width: 1px;
    border-radius: 8px;
}
div.box-2 a {
    background-position: 5px 6px;
    padding-left: 19px;
    margin-right: 12px;
    font-weight: bold;
}
.rtl div.box-2 a, .rtl div.box-2 a:hover { padding-right: 19px; background-position: right 3px top 7px }
div.box-2 a:hover { background-image: url("/img/x1.png"); }

div.thumbs-1 h3 { margin-top: 14px }
div.thumbs-1 .slot:hover .info a { color: #ffdce4  }

/* Закругления*/
div.thumbs-1 .slot .info,
    div.thumbs-1 div.img,
    div.thumbs-1 div.img img
    { border-radius: 8px }

/******* БЛОК С КАРТИНКАМИ ВНУТРИ НИШИ **********/
div.thumbs-2 p.c1 { background-image: url('/img/c1.png'); background-position: 5px 4px; padding-left: 20px; line-height: 20px }
.rtl div.thumbs-2 p.c1 { padding-right: 21px; background-position: right 5px top 5px; }
div.thumbs-2 .slot:hover p.c1 { background-image: url('/img/c1h.png') }
div.thumbs-2 p.c3 {
    background-image: url('/img/c3.png');
    background-position: 6px 2px;
    line-height: 16px;
}
.rtl div.thumbs-2 p.c3 { background-position: right 5px top 3px }
div.thumbs-2 .slot:hover p.c3 { background-image: url('/img/c3h.png') }
div.thumbs-2 .slot:hover p.c3 strong { color: #ffdce4	 }

div.thumbs-2 div.img b { background-image: none; background-color: #f991a7 ; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8 }
div.thumbs-2 div.img a:hover b { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); -moz-opacity: 1; opacity: 1; }

/* Закругления */
div.thumbs-2 div.img,
    div.thumbs-2 div.img img,
    div.thumbs-2 .slot .info
    { border-radius: 8px }

div.thumbs-2 .slot p.c0 { text-transform: capitalize }
div.thumbs-2 .slot:hover p.c0 { color: #ffdce4 }

div .slot:hover .info {
    background-color: #731818;
}
.slot:hover .info a { color: #ffdce4 }
.slot:hover .info a:hover { color: #f54b73 }

/******* ИНДЕКС КАТЕГОРИЙ, ПОПУЛЯРНЫЕ ПОИСКОВЫЕ ЗАПРОСЫ ********/
div.box-4 {
    background-image: none;
    text-transform: capitalize;
    border-radius: 8px;
}
div.box-4 li.clearfix > a { font-weight: bold }

/******* ТОП ТРЕЙДЕРОВ ******************/
div.box-3 {
    background-image: none;
    border-radius: 8px;
}

div.footer { color: #ffdce4; overflow: hidden }
div.footer div.logo a { background-image: url('/img/logo.png'); width: 238px; height: 99px; top: 37px; left: 6px }
div.footer p.left { color: #ffdce4 }
div.footer p.right { color: #731818 }
div.footer p.right a { color: #731818 }
div.footer p.right a:hover { color: #f54b73 }
div.footer div.copy  { height: 151px }
div.copy p:first-child { margin-top: 31px }
div.copy p.left { float: none; position: absolute; top: 98px; left: 0 }
div.copy p.right { float: none; position: absolute; top: 98px; right: 0 }
