/*
Theme Name: MediaTakeOut
Theme URI: 
Description: 
Author: 45PRESS Team
Author URI: http://www.45press.com
Version: 1.0
Tags:
License:
License URI:
*/

/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #e6e6e6;
    color: #000;
    overflow: auto!important;
}

a {
    -webkit-transition: color 250ms linear, background-color 250ms linear;
    transition: color 250ms linear, background-color 250ms linear;
    color: #ff0000;
}

a:hover, a:focus {
    outline: 0;
    text-decoration: none;
    color: #000;
}

button {
    -webkit-transition: color 250ms linear, background-color 250ms linear, border-color 250ms linear;
    transition: color 250ms linear, background-color 250ms linear, border-color 250ms linear;  
}

button:focus {
    outline: 0;    
}

.form-control:focus {
    border-color: #454545;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 69, 69, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(69, 69, 69, 0.6);
}

/* Side Shadow */
.side-shadow {
    position: relative;
}

.side-shadow:before,
.side-shadow:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    width: 27px;
    height: 100%;
}

.side-shadow:before {
    left: -27px;
    background: url('assets/img/bg/shadow-left.png') repeat-y center top;
}

.side-shadow:after {
    right: -27px;
    background: url('assets/img/bg/shadow-right.png') repeat-y center top;
}

/* Header */
#header>.container-fluid {
    background: #fff;
}

#header .header-logo {
    margin: 0 auto;
    padding: 25px 0;
}

/* Navigation */
.navbar {
    background: #b80000;
    border-color: #b80000;
    margin: 0 -15px;
    border-radius: 0;
    border: 0;
}

.navbar .container-fluid {
    /*max-width: 880px;
    padding: 0;*/
}

.navbar .navbar-collapse {
    padding: 0;
}

.navbar-brand {
    display: none;
}

.navbar-form {
    margin: 8px 0;
    padding-left: 12px;
    /*float: left;*/
}

.navbar-form .form-control {
    border-radius: 0;
}

.navbar-form .btn {
    border-radius: 0;
    background-color: #b80000;
    border-color: #b80000;
    color: #000;
    font-size: 25px;
    padding: 3px 6px;
    line-height: 1em;
}

.navbar-form .btn:hover,
.navbar-form .btn:focus {
    background-color: #b80000;
    border-color: #b80000;
    color: #fff;    
}

.navbar-nav>li>a {
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 20px;
}

.navbar-nav>li.current-menu-item>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
    background: #000;
    color: #fff;
}

.navbar-nav>li.mto>a {
    background: url('assets/img/logo/mto/mto-menu.png') no-repeat center center;
    background-size: 90%;
    min-width: 175px;
    text-indent: -9999px;

}

.navbar-nav>li.mto>a:hover,
.navbar-nav>li.mtos>a:focus {
    background-color: #000;
}

.navbar-nav>li.mto-news>a {
    background: url('assets/img/logo/mto-news/mto-news-menu.png') no-repeat center center;
    min-width: 175px;
    text-indent: -9999px;
}

.navbar-nav>li.mto-news>a:hover,
.navbar-nav>li.mto-news>a:focus {
    background-color: #000;
}

.header-ad {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.header-ad div {
    margin: 0 auto;
    max-width: 100%;
}

/* Main Elements */
#main>.container-fluid {
    background: #fff url('assets/img/bg/gradient.png') repeat-x center top;
    min-height: 725px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.container-fluid {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Posts */
h2.post-title,
h3.post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 800;   
}

h2.post-title a,
h3.post-title a {
    color: #ff0000;
}

h2.post-title a:hover,
h2.post-title a:focus,
h3.post-title a:hover,
h3.post-title a:focus {
    color: #000;
}

.zone1-post h2.post-title a,
h2.post-title a.external-post-link,
h3.post-title a.external-post-link {
    color: #000;
}

.zone1-post h2.post-title a:hover,
.zone1-post h2.post-title a:focus,
h2.post-title a.external-post-link:hover,
h2.post-title a.external-post-link:focus,
h3.post-title a.external-post-link:hover,
h3.post-title a.external-post-link:focus {
    color: #ff0000;
}

h1 span.intro,
h2 span.intro
{
    display: inline-block;
    text-transform: uppercase;
    color: #b80000;
    font-size: 48px;
    font-weight: 800;
    border-bottom: 1px solid #c1c1c1;
    padding: 0 10px 5px 10px;
    margin-bottom: 5px;
}

h1 span.headline,
h2 span.headline {
    display: block;
}

.post-date {
    float: left;
    /*margin-right: 10px;*/
    display: inline-block;
    font-weight: 800;
    border: 2px solid #b80000;
    color: #434242;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 8px;
}

.post-date span {
    display: block;
    line-height: 1em;
}

.post-date .month {
    font-size: 16px;
}

.post-date .day {
    font-size: 32px;
}

.post-date .year {
    margin-top: 2px;
    padding-top: 2px;
    border-top: 1px solid #434242;
    font-size: 15px;
}

/* Home */
/* Home Zone 1 */
.zone1-post {
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 15px;
}

.zone1-post h2.post-title {
    text-align: center;
    font-size: 30px;
    margin-left: 60px;
}

.zone1-post img {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

/* Home Zone 2 */
#zone2 {
    padding: 30px 0 45px 0;
}

.zone2-top-ad {
    text-align: center;
    margin-bottom: 30px;
}

.zone2-top-ad div {
    margin: 0 auto;
    max-width: 100%;
}

.zone2-post {
    background: #e6e6e6;
    border: 1px solid #d4d4d4;
    padding: 15px;
    margin-bottom: 15px;
}

.zone2-post .post-title {
    font-size: 24px;
}

.zone2-post img {
    margin-top: 15px;
    width: 100%;
    height: auto;
}

/* Home Zone 3, 4 & Archive */
.zone3-top-ad {
    text-align: center;
    margin-bottom: 30px;
}

.zone3-top-ad div {
    margin: 0 auto;
    max-width: 100%;
}

.line-title {
    position: relative;
    color: #b80000;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.line-title:before {
    content: " ";
    position: absolute;
    height: 2px;
    background: #7c7c7c;
    width: 100%;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1px;
}

.line-title span {
    background: #fff;
    z-index: 99;
    position: relative;
    padding: 0 10px;
}

.line-title.inner {
    margin-bottom: 30px;
}

.line-title.inner span {
    background: #f1f1f1; 
}

.zone-ad {
    text-align: center;
    min-height: 250px;
}

.zone-ad div {
    margin: 0 auto;
    max-width: 100%;
}

.zone3-post,
.zone4-post,
.archive-post
{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #7c7c7c;
}

.zone3-post .post-title,
.zone4-post .post-title,
.archive-post .post-title {
    font-size: 20px;
}

/*.zone3-post .post-title a,
.zone4-post .post-title a,
.archive-post .post-title a
{
    color: #ff0000;
}

.zone3-post .post-title a:hover,
.zone3-post .post-title a:focus
.zone4-post .post-title a:hover,
.zone4-post .post-title a:focus,
.archive-post .post-title a:hover,
.archive-post .post-title a:focus
{
    color: #000;
}*/

.archive-post img {
    margin-top: 15px;
    width: 100%;
    height: auto; 
}

/* Single Post */
.single-post .post-date {
    display: none;
}

.single-post-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    margin-left: 0;
}

.post-content-wrap {
    background: #fff;
    border: 1px solid #d4d4d4;
    padding: 20px;
    margin-bottom: 30px;
}

.post-content-wrap-top img {
    width: 100%;
    height: auto;
    margin-top: 15px;
}

.addthis_toolbox  {
    font-size: 14px;
    font-weight: normal;
}

.article-middle-ad {
    text-align: center;
    margin-bottom: 30px;
}

.article-middle-ad div {
    margin: 0 auto;
    max-width: 100%;
}

.article-bottom-ad {
    text-align: center;
    margin-bottom: 30px;
}

.article-bottom-ad div {
    margin: 0 auto;
    max-width: 100%;
}

.post-content {
    font-size: 16px;
    font-weight: 600;
}

.post-content p {
    word-wrap: break-word;  
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
    font-size: 20px;
    font-weight: 700;   
}

.post-content img {
    width: 100%;
    height: auto;
}

.post-content img+img,
.post-content img+noscript+img {
    margin-top: 10px;
}

.send-buttons {
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    text-align: center;
}

.send-buttons>li {
    display: inline-block;
    vertical-align: middle;
    max-width: 33.333333%;
}

/* Pagination */
.wp-pagenavi {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 1em;
}

.wp-pagenavi .pages {
    display: none;
}

.wp-pagenavi span, .wp-pagenavi a {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: #000;
}

.wp-pagenavi .current {
    color: #fff;
    background: #c4000c;
}

.wp-pagenavi a:hover, .wp-pagenavi a:focus {
    color: #c4000c;
}

/* Page */
.page-title {
    margin-left: 0;
}

/* Ads */
.zone-ad {
    margin-bottom: 15px;
}

/* Sidebar */
.follow-box {
    border: 1px solid #d6d6d6;
    padding: 2px;
    background: #fafafa;
    margin-bottom: 25px;
}

.follow-box .inside {
    background: #f8f8f8;
}

.follow-box .inside .inside-top {
    position: relative;
    background: #fff;
    padding: 10px;
    /*border-bottom: 1px solid #ededed;*/
}

/*.follow-box .inside .inside-top:after {
    content: ' ';
    position: absolute;
    display: block;
    bottom: -8px;
    left: 16px;
    width: 16px;
    height: 8px;
    background: url('assets/img/bg/follow-caret.png') no-repeat center center;
}*/

.follow-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}

.follow-links>li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    max-width: 20%;
}

.follow-box .inside .inside-bottom {
    background: #f8f8f8;
    color: #bcbcba;
    padding: 14px 10px 10px 10px;
}

.follow-box .inside .inside-bottom .form-control {
    font-style: italic;
    font-weight: 700;
    height: 38px;
    padding: 8px 12px;
    border-color: #e3e3e3;
    max-width: 171px;
}

.follow-box .inside .inside-bottom .btn {
    background-color: #454545;
    border-color: #454545;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 12px;
}

.follow-box .inside .inside-bottom .btn:hover,
.follow-box .inside .inside-bottom .btn:focus {
    background-color: #b80000;
    border-color: #b80000;
    color: #fff;    
}

.follow-box .inside .inside-bottom p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
}

.sidebar-ad {
    text-align: center;
    margin-bottom: 25px;
}

.sidebar-ad div {
    margin: 0 auto;
}

/* Footer */
#footer {
    background: #000;
    color: #fff;
    padding: 50px 0 85px 0;
}

#footer .footer-bottom {
    max-width: 665px;
    width: 100%;
    margin: 0 auto;
    padding: 26px 75px 0 75px;
    font-size: 14px;
    font-weight: 600;
    color: #8d8d8d;
}

#footer .copyright {
    display: inline-block;
    vertical-align: middle;   
}

#footer .footer-nav {
    display: inline-block;
    vertical-align: middle;
}

#footer .footer-nav ul {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-nav ul>li {
    display: inline-block;
    vertical-align: middle;
    margin-left: -3px;
}

#footer .footer-nav ul>li:first-child {
    padding-right: 8px;
}

#footer .footer-nav ul>li:not(:first-child):not(:last-child):after {
    content: '|';
}

#footer .footer-nav ul>li>a {
    font-size: 14px;
    font-weight: 600;
    color: #8d8d8d;
    text-transform: lowercase;
    padding: 0 8px;
}

#footer .footer-nav ul>li>a:hover,
#footer .footer-nav ul>li>a:focus {
    color: #fff;
}

/* Embeds & Media Elements */
iframe, video, audio, object, embed {
    max-width: 100%;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Lazy Load XT */
img.lazy {
    display: none;
}

.lazy-hidden {
    background: url('assets/img/lazyloadxt/loading.gif') no-repeat 50% 50%;
    opacity: 0.5;
}

.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

/* Responsive */
@media (max-width: 1279px) {
    /* General */
    .side-shadow:before,
    .side-shadow:after {
        display: none;
    }    
}

/* Responsive */
@media (max-width: 1199px) {
    /* Sidebar */
    .follow-box .inside .inside-bottom .form-group {
        width: 100%;
        margin-bottom: 10px;
    }

    .follow-box .inside .inside-bottom .form-control {
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 992px) {
    /* General */
    .main-left {
        width: 72%;
    }

    .main-right {
        width: 28%;
    }

    /* Navigation*/
    .navbar {
        text-align: center;
    }

    .navbar-nav {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-form {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
    }

    .navbar-nav>li {
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
    }
}

@media (max-width: 991px) {
    /* General */
    body {
        padding-top: 50px;
    }

    /* Header */
    #header>.container-fluid {
        padding: 0;
        background: none;
    }

    #header .header-logo-link {
        display: none;
    }

    .header-ad {
        padding: 15px;
    }

    /* Navigation */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
        margin: 0;
        background: #000;
        border-color: #000;
    }

    .navbar .container-fluid {
        max-width: 100%;
        padding: 0 15px;
    }

    .navbar .navbar-collapse {
        padding: 0 15px;
        background: #b80000;
        box-shadow: none;
        border-top: 0;
    }

    .navbar-nav>li.mto>a {
        background-size: auto;
        background-position: 15px center;
    }

    .navbar-nav>li.mto-news>a {
        background-position: 15px center;
    }

    .navbar-nav>li>a {
        padding: 10px 15px;
        font-size: 20px;
    }

    .navbar-nav {
        margin: 10px -15px 0 -15px;
    }

    .navbar-brand {
        display: block;
        height: 40px;
        /*width: 245px;*/
        width: 80%;
        width: calc(100% - 72px);
        margin: 5px 10px;
        padding: 0;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        /*background-size: 80%;*/
    }

    .navbar-brand.mto {
        background-image: url('assets/img/logo/mto/mobile-logo.png');
    }

    .navbar-brand.mto-news {
        background-image: url('assets/img/logo/mto-news/mobile-logo.png');
    }

    .navbar-toggle {
        border-radius: 0;
        background: #b80000;
        padding: 18px 15px;
        margin: 0;
        border: 0;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
        border-radius: 0;
    }

    .navbar-form {
        box-shadow: none;
        border-top: 0;
        border-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        float: none;
        padding-left: 0;
    }

    .navbar-form .form-group {
        margin: 0;
        float: left;
        width: 85%;
    }

    .navbar-form .form-control {
        width: 100%;
    }

    .navbar-form .btn {
        width: 15%;
    }
}

@media (max-width: 767px) {
    /* General */
    .col-sm-6 {
        max-width: 100%;
    }

    /* Post */
    h1 span.intro,
    h2 span.intro {
        font-size: 24px;
        padding: 0 5px 5px 5px;
    }

    .post-date .month {
        font-size: 12px;
    }

    .post-date .day {
        font-size: 22px;
    }

    .post-date .year {
        font-size: 12px;
    }

    /* Home Zone 1 */
    .zone1-post h2.post-title {
        font-size: 20px;   
    }

    /* Home Zone 2 */
    #zone2 {
        padding: 30px 0 0 0;
    }

    .zone2-post .post-title {
        font-size: 20px;
    }

    /* Home Zone 3, 4 & Archive */
    .line-title {
        font-size: 20px;
    }

    .zone3-post .post-title,
    .zone4-post .post-title,
    .archive-post .post-title
    {
        font-size: 16px;
    }

    /* Single Post */
    .single-post .post-date {
        display: block!important;
    }

    .single-post-title {
        font-size: 20px;
    }

    .single-post .post-content-wrap-top {
        min-height: calc(100vh);
    }

    .post-content {
        font-size: 14px;
    }

    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content h5 {
        font-size: 18px;
    }

    /* Footer */
    #footer {
        padding: 30px 0;
    }

    #footer .footer-bottom {
        text-align: center;
        padding: 26px 15px 0 15px;
    }

    #footer .footer-nav ul {
        text-align: center;
    }

    #footer .footer-nav ul>li {
        display: inline-block;
        margin-left: 0;
    }

    #footer .footer-nav ul>li:first-child {
        padding-right: 0;
    }

    #footer .footer-nav ul>li:not(:first-child) {
        display: none;
    }
}

@media (max-width: 480px) {
    /* Navigation */
    /*.navbar-brand {
        width: 265px;
        padding: 11px 15px;
    }*/

    /* Posts */
    .post-date {
        display: block!important;
        float: none;
        max-width: 50px;
        margin-right: 0;
        margin: 0 auto 10px auto;
    }

    /* Home Zone 1 */
    .zone1-post h2.post-title {
        margin-left: 0; 
    }

    /* Single Post */
    .single-post-title {
        margin-left: 0;
    }

}