em {
    font-weight: normal;
}
/* yandex share buttons hack */
.b-share-icon {
    background: none !important;
    float: none !important;
    margin: 0;
}

.b-share__handle {
    float: none !important;
}

.b-share-icon, .icon {
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.b-share-icon_facebook:before {
    content: "\e613";
}

.b-share-icon_twitter:before {
    content: "\e614";
}

.b-share-icon_vkontakte:before {
    content: "\e615";
}

.b-share-icon_moimir:before {
    content: "\e616";
}

.b-share-icon_odnoklassniki:before {
    content: "\e617";
}

.b-share-icon_facebook,
.b-share-icon_twitter,
.b-share-icon_vkontakte,
.b-share-icon_moimir,
.b-share-icon_odnoklassniki {
    margin: 0 3.5px;
    vertical-align: middle;
    font-size: 2rem;
    line-height: 1.285714285714286;
    transition: opacity 0.1s linear;
}

.b-share-icon_facebook:hover,
.b-share-icon_twitter:hover,
.b-share-icon_vkontakte:hover,
.b-share-icon_moimir:hover,
.b-share-icon_odnoklassniki:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.b-share-icon_facebook {
    color: #4a66ad;
}

.b-share-icon_twitter {
    color: #38a4dc;
}

.b-share-icon_vkontakte {
    color: #5f82ad;
}

.b-share-icon_moimir {
    color: #3866ae;
}

.b-share-icon_odnoklassniki {
    color: #ff661b;
}

.category.section .menu > .item.active {
    color: #3d5afe;
}

/* video/audio ico after article url */
.news-video-audio-url {
    margin: 0;
    text-decoration: none;
}

.news-video-audio-url img {
    float: none;
    margin: 0;
    vertical-align: middle;
}

@media only screen and (max-width: 299px) {
    .grid > .one-two-three-four-adaptive > .column {
        width: 100%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .grid > .one-two-three-four-adaptive > .column {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid > .one-two-three-four-adaptive > .column {
        width: 33%;
    }
}

@media only screen and (min-width: 1024px) {
    .grid > .one-two-three-four-adaptive > .column {
        flex-grow: 0 !important;
        width: 25%;
    }
}

/* news subscribe form on article page */
.section.subscribe-block {
    padding-bottom: 0;
    padding-top: 1px;
}

.subscribe-result-ok {
    color: green;
}

.subscribe-result-error {
    color: red;
}

#subscribe-form {
    padding-bottom: 1rem;
    margin-bottom: 1rem
}

#subscribe-form .red.header {
    color: #E20613;
    font-family: "playfair_displaybold", serif;
    font-size: 1.28571rem;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}

#subscribe-form input, #subscribe-form button {
    height: 30px;
}

#subscribe-form input[type="email"] {
    border: thin solid #e0e0e0;
    padding: 4px;
}

#subscribe-form.subscribed label,
#subscribe-form.subscribed input,
#subscribe-form.subscribed button {
    display: none;
}

.special.block {
    background: none !important;
}

.special.block.leaderboard {
    height: auto;
}

.full.article {
    margin-bottom: 2rem !important;
}

div.full.article div.inserted-video iframe {
    max-width: 100%;
}

/* for mobile static fragments */
@media only screen and (min-width: 768px) {
    .mobile_only {
        display: none !important;
    }
}

.advertising {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.advertising:after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.857142857142857em;
    line-height: 1;
    color: #424242;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.no-content.advertising {
    display: none;
}
.no-content.advertising:after {
    content: "" !important;
}

.advertising ins {
    text-align: center;
}
.full.article .advertising.adaptive {
    float: left;
    padding-right: 2.125rem;
}

@media only screen and (min-width: 1261px) {
    .full.article .advertising.adaptive {
        margin-left: -36.3%;
        padding-left: 1rem
    }
}
/*
@media only screen and (min-width: 1024px) and (max-width: 1260px) {
    .article .advertising.adaptive {
        max-width: 50%;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1024px) {
    .article .advertising.adaptive {
        width: 700px;
    }
}
@media only screen and (min-width: 450px) and (max-width: 750px) {
    .article .advertising.adaptive {
        width: 400px;
    }
}
*/
.last-articles .grid[class*="vertically divided"] > .row {
    padding: 0.5rem 0;
}

.section .grid > .column.last-articles > .red.header,
.last-articles > .red.header {
    margin: 0 0 0.5em;
}

.video-section-item .bordered.comment.section {
    padding-left: 0;
}

.author.article > .title {
    height: 7rem;
    line-height: 1.09;
    overflow: hidden;
}

.section .grid > .column > .header > a.go-to-rubric {
    /*float: right;*/
}

.section .grid > .column > .header > a.go-to-rubric:hover {
    color: #e20613;
}

figure {
    margin: 1em auto;
}

figure > a {
    display: block;
}

figure > a > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.video-section-item .bordered.comment.section {
    padding-left: 0;
}

.full.article .gallery[class*="full pravda"] {
    float: none !important;
    width: 136.3%;
    margin-left: -36.3%;
    padding-left: 1rem;
}

.full.article .gallery[class*="full pravda"] > .copyright {
    position: static;
    text-align: right;
}

@media only screen and (max-width: 1260px) {
    .full.article .gallery[class*="full pravda"] {
        width: 100%;
    }

    .full.article .gallery[class*="full pravda"] > img {
        display: block;
        margin: 0 auto;
    }
}

/* finindex */
.featured.finindex.block {
    display: block;
    margin-left: 34px;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
}

.featured.finindex.block .finindex-title {
    display: block;
    padding-top: 0.2em;
    font-family: 'playfair_displaybold', serif;
    letter-spacing: 1px;
    line-height: 1.4;
}

.featured.finindex.block table {
    font-family: 'ClearSans', sans-serif;
    font-size: 0.777777777777778em;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1;
}

.finindex-row {
    font-size: 12px;
    width: 180px;
}
.finindex-row span:first-child {
    color: #AA263B;
    display: inline-block;
    width: 40px;
}
.finindex-row span:nth-child(3) {
    float: right;
    width: 45px;
}

@media only screen and (max-width: 1260px) {
    .header.section .featured.finindex.block {
        display: none;
    }
}

.rss-section ul {
    list-style: none;
    padding-left: 0;
}
.rss-section .export-files-list {
    line-height: 20px;
    padding-bottom: 10px;
}

.rss-section .export-files-list li span {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    width: 10rem;
}

.rss-section .sections-list {
    line-height: 20px;
    padding-bottom: 10px;
}

.rss-section .sections-list li {
    padding: 10px 0;
}

.rss-section .sections-list li span:first-child {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    width: 10rem;
}

.rss-section .sections-list li span:nth-child(n+2) {
    display: inline-block;
    font-size: 12px;
    text-align: right;
    width: 10rem;
}

.rss-section a:hover,
.sitemap a:hover,
.static-page a:hover {
    color: #E20613;
}
/* hide social links in footer */
@media only screen and (max-width: 1023px) {
    .footer.section .column:first-child .menu {
        display: block;
        margin-left: 0;
    }

    .footer.section .menu > .item {
        margin: 0em 1em 0px 0em;
        line-height: 2em;
    }
}

.month-header {
    text-align: center;
}

.calendar:not(.header) .day > a {
    display: block;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    clear: both;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer .counters {
    margin-right: 18px;
    float: right;
}
.footer .counters span {
    float: right;
    width: 88px;
    height: 31px;
    margin: 0 0 5px 5px;
}
[class*="advertising adaptive"] {
    max-width: 100%;
    overflow: hidden;
    width: inherit;
    margin: 0 auto;
    clear: both;
    text-align: center;
}

.primary.column {
    max-width: 100%;
}


.link.article.story > .left.aligned.thumb {
    margin-bottom:1rem;
    margin-right:0.714285714285714em;
    width:23% !important;
}

.article.story .title > a {
    color: inherit;
    font-weight: bold;
    font-size: 14px;
}

.article.story > p {
    font-size: 14px;
}

.article.story > time {
    font-size: 12px;
}

.section.story {
    position: relative;
    margin-left: 37px;
    margin-right: 37px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

.section.story .header {
    color: #e20613;
    font-size: 1.285714285714286rem;
    font-weight: bold;
}

.detail {
    color: #1a237e ;
}

.button.round.story {
    border-radius: 0em;
    padding: 0.6em 0.5em;
}

.story.grid:not([class*="story divided"]) > .column:not(.row),
.story.grid:not([class*="story divided"]) > .row > .column {
    box-shadow: 0 0 0 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and (min-width: 400px) and (max-width: 767px) {
    .row.story .category {
        margin-top: 1em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .link.article.story > .left.aligned.thumb {
        margin: 0 auto;
        padding-bottom: 10px;
        width:50% !important;
    }
    .article.story .title > a {
        color: inherit;
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
        margin-left: 10px;
    }

    .article.story > p {
        margin-left: 13px;
    }

    .article.story > time {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .row.story .category {
        margin-top: 1em;
        padding-left: 15px;
        padding-right: 15px;
    }

    .link.article.story > .left.aligned.thumb {
        margin: 0 auto;
        width:50% !important;
    }
    .article.story .title {
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .article.story .title > a {
        color: inherit;
        font-weight: bold;
        font-size: 14px;
        margin: 0 auto;
    }

    .article.story > p {
        margin-left: 13px;
        margin-right: 13px;
    }

    .article.story > time {
        margin-left: 15px;
    }

    .button.round.story {
        border-radius: 0em;
        padding: 0.6em 0.5em;
        margin-left: 1px;
        margin-right: 5px;
    }
}
.bordered.section {
    padding-bottom: 2rem;
}

.red-color {
    color: #e20613;
}

.green-color {
    color: #2e7d32;
}

@media only screen and (min-width: 1024px) {
    [class*="hide-notebook-and-up"] {
        display: none !important;
    }
}

@media only screen and (max-width: 479px) {
    .tabs.section .header > .menu .item {
        font-size: 0.7em !important;
        text-align: center;
    }
}

.sticky {
    /*background-color: aquamarine;*/
}

.calendar:not(.header) .day a {
    font-weight: bold;
}

#archive-day-section .gallery.article .cover img {
    width: 100%;
}

#archive-year-section > .grid {
    text-align: center;
}

#archive-year-section .five.wide.column {
    min-width: 300px;
}

@media only screen and (min-width: 1261px) {
    #top-row.has-sf .fifteen.wide.column {
	width: 75% !important;
    }
    #top-row.has-sf .five.wide.column {
	margin-top: -4rem;
	width: 25% !important;
    }
    #top-row.has-sf .article .left.aligned {
	width: 66% !important;
    }
    .full.article .tags.box {
        clear: left;
    }
}
@media only screen and (max-width: 1260px) {
    #top-row.has-sf .fifteen.wide.column {
	width: 66% !important;
    }
    #top-row.has-sf .five.wide.column {
	width: 33% !important;
    }
    #top-row.has-sf .article .left.aligned {
	width: 100% !important;
    }

    .full.article .tags.box {
        float: none !important;
        clear: both;
        max-width: 100%;
        width: 100%;
    }

}
@media only screen and (max-width: 940px) {
    #top-row.has-sf .fifteen.wide.column {
	width: 60% !important;
    }
    #top-row.has-sf .five.wide.column {
	width: 40% !important;
    }
}
@media only screen and (max-width: 760px) {
    #top-row.has-sf .fifteen.wide.column {
	width: 50% !important;
    }
    #top-row.has-sf .five.wide.column {
	width: 50% !important;
    }
}
@media only screen and (max-width: 500px) {
    #top-row.has-sf .fifteen.wide.column {
	width: 100% !important;
    }
    #top-row.has-sf .five.wide.column {
	width: 100% !important;
    }
    #top-row.has-sf .five.wide.column .grid {
	text-align: center !important;
    }

    .subscribe-block .grid .column {
        width: 100% !important;
    }

    #subscribe-form input[type="email"] {
        margin-left: 9px;
    }
}
.leaderboard > .staticFragment > ins {
    min-width: 728px;
    width: 100%;
}

.blocked-msg {
    font-size: 1.3em;
    margin: 50px auto 100px;
    text-align: center;
    font-weight: bold;
}

.article .social.links .button.text {
    margin-top: 0;
    margin-bottom: 11px;
}

.fark-message .thumb {
    max-height: 150px;
}

.center.aligned.gallery{
    text-align: center;
}

span.print {
    width: 16px;
    height: 16px;
    background: url('/pix/printer.png') 100% 100% no-repeat;
    background-size: cover;
    display: inline-block;
}
.socnets a {
    font-family: 'ClearSans', sans-serif;
    font-size: 1.0625em;
    font-weight: 700;
    color: black;
}

.socnets dl {
    margin-left: 1rem;
}

.socnets dd {
    margin-bottom: 0.6rem;
}

.socnet-header {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;    
}

.facebook-header {
    background-color: #3b5998;
    color: white;
}

.twitter-header {
    background-color: #55acee;
    color: white;
}

.vk-header {
    background-color: #5B7FA6;
    color: white;
}

.mm-header {
    background-color: #168de2;
    color: white;
}

.ok-header {
    background-color: #f59944;
    color: white;
}

.yt-header {
    background-color: #bb0000;
    color: white;
}

.pager.menu .item a{
    color: inherit;
}

.comments-section {
    display: none;
}

.fotorama__arr {
    top: 400px;
}
.social.menu {
    padding-right: 0.5rem;
}

.activity.block {
    min-height: 450px;
}
