@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"), url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansBold/ClearSansBold.eot");
    src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"), url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot");
    src: url("../fonts/ClearSansItalic/ClearSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansItalic/ClearSansItalic.woff") format("woff"), url("../fonts/ClearSansItalic/ClearSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansLight/ClearSansLight.eot");
    src: url("../fonts/ClearSansLight/ClearSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansLight/ClearSansLight.woff") format("woff"), url("../fonts/ClearSansLight/ClearSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot");
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"), url("../fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
    /*font-style: 300;*/
    font-weight: normal;
}
@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot");
    src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.woff") format("woff"), url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: "PravdaFont";
    src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot");
    src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.woff") format("woff"), url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}
