@charset "UTF-8";
/********************************************************
/*          SLICK CAROUSEL - OPERATIONAL CSS            *
/*******************************************************/
.slick-slider {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.slick-dots li button:before,
.slick-next:before,
.slick-prev:before {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-list,
.slick-slider,
.slick-track {
	position: relative;
	display: block;
}

.slick-slider {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

.slick-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: 0;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	left: 0;
	top: 0;
}

.slick-track:after,
.slick-track:before {
	content: "";
	display: table;
}

.slick-slide {
	float: left;
	min-height: 1px;
	display: none;
}

.float-right,
[dir=rtl] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-loading .slick-list {
	background: url(/wp-content/themes/lifezette/images/ajax-loader.gif) center center no-repeat #fff;
}

@font-face {
	font-family: slick;
	src: url(../fonts/slick.eot);
	src: url(../fonts/slick.eot?#iefix) format("embedded-opentype"), url(../fonts/slick.woff) format("woff"), url(../fonts/slick.ttf) format("truetype"), url(../fonts/slick.svg#slick) format("svg");
	font-weight: 400;
	font-style: normal;
}
.slick-next,
.slick-prev {
	position: absolute;
	display: block;
	height: 100%;
	width: 90px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: 0 0;
	color: transparent;
	top: 0;
	padding: 0;
	border: none;
	outline: 0;
	z-index: 10;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
	outline: 0;
	background: 0 0;
	color: transparent;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
	opacity: 1;
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
	opacity: 0.25;
}

.slick-next:before,
.slick-prev:before {
	font-family: FontAwesome;
	font-size: 90px;
	line-height: 1;
	color: #fff;
	opacity: 0.75;
}

[dir=rtl] .slick-prev {
	left: auto;
	right: -25px;
}

.slick-prev:before {
	content: "";
}

.slick-next:before,
[dir=rtl] .slick-prev:before {
	content: "";
}

[dir=rtl] .slick-next {
	left: -25px;
	right: auto;
}

[dir=rtl] .slick-next:before {
	content: "";
}

/********************************************************
/*              SLICK CAROUSEL - THEME CSS              *
/*******************************************************/
.slick-dots {
	position: absolute;
	bottom: -40px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	border: 0;
	background: 0 0;
	display: block;
	height: 20px;
	width: 20px;
	outline: 0;
	line-height: 0;
	font-size: 0;
	color: transparent;
	padding: 5px;
	cursor: pointer;
}

.slick-dots li button:focus,
.slick-dots li button:hover {
	outline: 0;
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
	opacity: 1;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	font-family: slick;
	text-align: center;
	content: '\25EF';
	color: #b5b7b9;
	font-size: 12px;
	opacity: 1;
	line-height: 14px;
}

.slick-dots li.slick-active button:before {
	color: #cc3333;
	content: '•';
	font-size: 13px;
	line-height: 19px;
	opacity: 0.75;
}

.opacity-layer {
	width: 100%;
	height: 0;
	opacity: .4;
	z-index: 1;
	position: absolute;
}

.opacity-layer .overlay {
	position: relative;
	margin: 0 auto;
	height: 0;
	width: 1140px;
	text-align: center;
}

.opacity-layer .overlay:after,
.opacity-layer .overlay:before {
	content: '';
	position: absolute;
	width: 5000px;
	height: 440px;
	background-color: #000;
	right: 0;
}

.opacity-layer .overlay:after {
	right: 1140px;
}

.opacity-layer .overlay:before {
	left: 1140px;
}

.slick-slide a {
	color: #fff;
	outline: none;
}

.slick-home-carousel .slick-dots {
	bottom: -40px;
}

.slick-home-carousel .slick-dots li button:before {
	content: '\25EF';
	color: #b5b7b9;
	font-size: 12px;
	opacity: 1;
	line-height: 14px;
}

.slick-home-carousel .slick-dots li.slick-active button:before {
	color: #CC0033;
	content: '•';
	font-size: 13px;
	line-height: 19px;
}

.slick-home-carousel .slick-slide {
	position: relative;
	width: 380px !important;
	height: 440px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	max-width: 380px;
}

@media screen and (max-width: 750px) {
	.slick-home-carousel .slick-slide {
		width: 340px !important;
	}
}
.slick-home-carousel .slick-slide .colorblock {
	height: 150px;
	width: 100%;
	position: absolute;
	bottom: 0;
	opacity: .95;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.slick-home-carousel .slick-slide .colorblock .content {
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.slick-home-carousel .slick-slide .colorblock .content p {
	color: #fff;
	margin-top: 5px;
}

.slick-home-carousel .slick-slide .colorblock .content h3 {
	font-style: italic;
	font-weight: 600;
	font-family: abril-text;
}

.slick-home-carousel .slick-slide .colorblock .content .author {
	opacity: 0;
	-webkit-transition: all .4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.slick-home-carousel .slick-slide.slick-active {
	opacity: 1;
}

/********************************************************
/*                    MEDIA QUERIES                     *
/*******************************************************/
@media screen and (max-width: 750px) {
	.slick-home-carousel .slick-slide .colorblock .content .lifezette-btn {
		display: none !important;
		top: -45px;
		left: -10px;
	}

	.slick-home-carousel .slick-slide.slick-active .colorblock .content .lifezette-btn.lifezette-btn {
		display: block !important;
	}
}
@media screen and (min-width: 750px) {
	.slick-home-carousel .slick-slide.slick-active:hover .colorblock {
		height: 100%;
	}

	.slick-home-carousel .slick-slide.slick-active:hover .colorblock .content {
		padding-top: 40%;
		vertical-align: middle;
	}

	.slick-home-carousel .slick-slide.slick-active:hover .colorblock .content .author {
		opacity: 1;
		-webkit-transition: all .4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
}
.slick-slide {
	max-height: 440px;
	height: auto;
}

.slick-prev {
	left: 0;
}

.slick-next {
	right: 0;
}

.slick-cloned {
	opacity: 0.7;
}

.slick-active {
	opacity: 1;
}

.slick-editorial-carousel .slick-slide {
	max-height: 440px;
	opacity: .6;
	position: relative;
}

@media screen and (max-width: 750px) {
	.slick-editorial-carousel .slick-slide {
		width: 340px !important;
	}
}
.slick-editorial-carousel .slick-slide.slick-active {
	opacity: 1;
}

.slick-editorial-carousel .slick-slide .item-copy {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 30px 45px;
	opacity: 1;
	height: 176px;
}

.slick-editorial-carousel .slick-slide .item-copy h1,
.slick-editorial-carousel .slick-slide .item-copy h2 {
	text-align: left;
	margin: 0;
	padding: 0;
}

.slick-editorial-carousel .slick-slide .item-copy h1,
.slick-editorial-carousel .slick-slide .item-copy h2 {
	line-height: 46px;
	letter-spacing: .2px;
	margin-bottom: 18px;
}

.slick-editorial-carousel .slick-slide .item-copy h2 {
	font-size: 27px;
	line-height: auto;
}

.slick-editorial-carousel .slick-slide.slick-active .item-copy {
	display: block;
}

@media screen and (max-width: 750px) {
	.slick-editorial-carousel .slick-slide .item-copy {
		margin: 0;
	}

	.slick-editorial-carousel .slick-slide .item-copy h1,
	.slick-editorial-carousel .slick-slide .item-copy h2 {
		text-align: center;
	}

	.slick-editorial-carousel .slick-slide .item-copy h2,
	.slick-editorial-carousel .slick-slide .item-copy h1 {
		line-height: 28px;
	}

	.carousel-window {
		width: 100%;
	}
}
@media screen and (min-width: 970px) {
	.carousel-window {
		width: 100%;
	}
}
.slick-home-carousel .slick-slide {
	opacity: 0.2;
}

.slick-home-carousel .slick-slide.slick-active .colorblock .content p.short_excerpt,
.slick-home-carousel .slick-slide.slick-active:hover .colorblock .content p.long_excerpt {
	display: block;
}

.slick-home-carousel .slick-slide .colorblock .content {
	padding: 10px 20px;
}

.slick-home-carousel .slick-slide a {
	text-align: left;
	outline: none;
}

p.link.large,
p.link.medium {
	font: italic 18px museo-sans-condensed;
	font-weight: 700;
	margin-bottom: 0;
}

.slick-home-carousel .slick-slide .colorblock .content h3 {
	font-size: 20px;
}

@media (min-width: 750px) {
	.slick-home-carousel .slick-slide.slick-active:hover .colorblock .content {
		padding-top: 20%;
	}
}
.home-carousel .slick-slide.slick-active:hover .colorblock .content p.short_excerpt,
.home-carousel .slick-slide.slick-active .colorblock .content p.short_excerpt {
	display: block;
	color: #fff;
}

.editor-about .bio-content h2.big,
.editor-about .bio-content h1.big {
	color: #000;
}

.portfolio-item .lifezette-btn.top {
	padding: 2px 10px;
}

img.print_btn {
	width: 22px;
	padding: 5px 0;
}

.share-header.print_btn {
	margin-bottom: 2px;
	padding: 10px;
}

.share-header {
	padding: 0;
}

.home-carousel .slick-slide a {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1;
	left: 0;
	outline: none;
}

.slick-dots li button:before {
	content: '•';
	color: grey;
	font-size: 12px;
	line-height: 19px;
}

.home-carousel .slick-center .colorblock {
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}

.home-carousel .slick-slide h2,
.home-carousel .slick-slide h1 {
	font-style: normal;
	margin: 0;
}

.nobg a .colorblock {
	background-color: transparent !important;
	outline: none;
}

.home-carousel .slick-slide .short_excerpt span {
	color: #fff;
	text-transform: uppercase;
	font-style: normal;
}

p.link.medium {
	font: italic 18px museo-sans-condensed;
	font-weight: bold;
	margin-bottom: 0;
}

p.link.large {
	font: italic 18px museo-sans-condensed;
	font-weight: bold;
	margin-bottom: 0;
}

.home-carousel .slick-slide .colorblock .content h3 {
	font-size: 20px;
	margin-top: 0;
	color: #fff;
	margin-bottom: 0;
	max-height: 45px;
	font-style: italic !important;
}

.slick-editorial-carousel .slick-slide .item-copy h2
.slick-editorial-carousel .slick-slide .item-copy h1 {
	line-height: 68px;
	margin-bottom: 0;
	font-size: 38px;
}

.slick-editorial-carousel .slick-slide .item-copy h2.legacy {
	font-size: 24px;
	margin-bottom: 10px;
}

.home-carousel.slick-editorial-carousel .slick-slide {
	width: 585px !important;
	background-position: center center;
	min-height: 420px;
}

.home-carousel.slick-editorial-carousel {
	background-position: center center;
}

.images.slick-slide {
	background-size: cover;
	background-repeat: no-repeat;
}

.home-carousel.slick-editorial-carousel .slick-slide.slick-center {
	-webkit-filter: none;
	filter: none;
	-webkit-transition: -webkit-filter 2s linear;
	transition: filter 2s linear;
}

.images_inner:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg0JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 84%, rgba(0, 0, 0, 0.9) 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(84%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.9)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 84%, rgba(0, 0, 0, 0.9) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 84%, rgba(0, 0, 0, 0.9) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.9) 84%, rgba(0, 0, 0, 0.9) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 84%, rgba(0, 0, 0, 0.9) 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e6000000',GradientType=0 );
	/* IE6-8 */
}

.slick-center .images_inner:after {
	content: "";
	background-color: transparent;
	background: transparent;
}

.slick-center .images_inner img,
.slick-center .images_inner .grayscale {
	display: none !important;
}

.slick-active .images_inner img {
	background-position: center right;
	background-repeat: no-repeat;
	float: right;
}

.slick-track > .slick-active ~ .slick-active .images_inner img {
	background-position: center left;
	background-repeat: no-repeat;
	float: left;
}

.slick-track > .slick-active .content {
	width: 47%;
	overflow: hidden;
	text-align: left;
	position: absolute;
	right: 0;
	bottom: 0;
}

.slick-track > .slick-center .content {
	width: 100%;
	overflow: hidden;
}

.slick-track > .slick-active ~ .slick-active .content {
	position: relative;
}

.slick-active .subtitle {
	display: none;
}

.slick-center .subtitle {
	display: block;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.slick-active h2.title,
.slick-active h1.title {
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 24px;
}

.slick-center h2.title,
.slick-center h1.title {
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
	/*
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	*/
}

.slick-center h1.mega-title,
.slick-center h2.mega-title {
	font-size: 34px;
}

.home-carousel .slick-slide .colorblock .content {
	padding: 10px 20px 10px 20px !important;
	height: auto !important;
	min-height: 125px;
}

.slick-cloned .colorblock {
	background: transparent !important;
	background-color: transparent !important;
}

@media (min-width: 970px) and (max-width: 1199px) {
	.category-slider.slick-editorial-carousel {
		width: 100% !important;
	}

	.slick-editorial-carousel .slick-slide {
		max-width: 750px;
	}
}
@media (min-width: 750px) and (max-width: 970px) {
	.home-carousel.slick-editorial-carousel .slick-slide button.btn {
		display: none !important;
	}

	.home-carousel.slick-editorial-carousel .slick-slide.slick-center, .slick-editorial-carousel .slick-slide {
		width: 585px !important;
	}
}
@media (min-width: 750px) {
	.slick-home-carousel .slick-slide.slick-active:hover .colorblock .content {
		padding-top: 10px;
	}
}
@media (max-width: 750px) {
	.slick-home-carousel .slick-slide.slick-active:hover .colorblock .content {
		padding-top: 20%;
	}

	.tp-poll-container .poll-quiz .list-unstyled li .grey {
		width: 195px;
	}

	.home-carousel.slick-editorial-carousel .slick-slide.slick-center {
		width: 450px !important;
	}

	.slick-editorial-carousel .slick-slide .item-copy {
		position: relative;
	}

	section.main-content section.slick-editorial-carousel {
		margin-bottom: 50px;
	}

	.home-carousel.slick-editorial-carousel .slick-slide button.btn {
		display: none !important;
	}

	.slick-editorial-carousel {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.category-slider.slick-editorial-carousel {
		width: 100%;
		margin: 0 auto;
		float: none;
		padding-bottom: 10px;
	}
}
@media (max-width: 768px) {
	.category-slider.slick-editorial-carousel {
		width: auto !important;
	}

	.category-slider.slick-editorial-carousel .slick-slide .item-copy {
		max-width: 100%;
	}

	.slick-next, .slick-prev {
		width: 60px;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.slick-track > .slick-active .content {
		width: 30%;
	}

	.home-carousel .slick-center .colorblock .content {
		width: auto;
	}
}
@media screen and (min-width: 970px) {
	.category-slider.slick-editorial-carousel {
		width: 1320px;
	}
}
@media screen and (min-width: 750px) {
	.slick-home-carousel .slick-slide.slick-active:hover .colorblock {
		height: 160px;
	}

	.category-slider.slick-editorial-carousel {
		margin: 0 auto;
		float: none;
	}

	.category-slider.slick-editorial-carousel .opacity-layer {
		display: none;
	}

	.category-slider.slick-editorial-carousel .slick-next, .category-slider.slick-editorial-carousel .slick-prev {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
@media (max-width: 480px) {
	.slick-editorial-carousel .slick-slide .item-copy h2,
	.slick-editorial-carousel .slick-slide .item-copy h1 {
		line-height: 1em !important;
		margin-bottom: 5px !important;
		font-size: 22px !important;
		text-align: left;
		white-space: normal;
		height: 40px;
	}

	.slick-dots {
		overflow: hidden;
		height: auto;
		position: relative;
		margin: 0;
		bottom: -15px;
	}

	.slick-editorial-carousel .slick-slide .item-copy h2 {
		text-align: left;
		font-size: 20px;
		margin-bottom: 0;
		height: 46px;
	}

	.home-carousel .slick-slide .colorblock .content {
		padding: 30px;
		background-color: inherit !important;
	}

	.home-carousel.slick-editorial-carousel .slick-slide.slick-center {
		width: 290px !important;
	}

	.slick-editorial-carousel .slick-slide .item-copy {
		position: relative;
	}

	.slick-editorial-carousel {
		margin-top: 30px;
		margin-bottom: 50px;
	}

	.slick-editorial-carousel .slick-slide .item-copy {
		display: block;
	}

	.truncate, .slick-center h1.title, .slick-center h2.title, .editorial-page .hero-content h2, .editorial-page .hero-content h1 {
		white-space: normal;
	}

	.slick-center h2.title,
	.slick-center h1.title {
		line-height: 1.3em;
	}
}
.slick-next:before, .slick-prev:before {
	color: #fff !important;
}

.category-slider.slick-editorial-carousel .slick-slide .item-copy {
	padding: 10px 20px 20px;
	height: auto;
}

.slick-editorial-carousel .slick-slide:not(.slick-arrow) {
	max-height: 420px;
}

.slick-slide.slick-slide.slick-center .lifezette-background-carousel {
	background-color: rgba(204, 51, 51, 0.85) !important;
	opacity: 0;
	transition: opacity .5s;
}
.slick-slide.slick-slide.slick-center .polizette-background-carousel {
	background-color: rgba(102, 51, 102, 0.83) !important;
	opacity: 0;
	transition: opacity .5s;
}
.slick-slide.slick-slide.slick-center .momzette-background-carousel {
	background-color: rgba(255, 51, 153, 0.85) !important;
	opacity: 0;
	transition: opacity .5s;
}
.slick-slide.slick-slide.slick-center .healthzette-background-carousel {
	background-color: rgba(0, 204, 204, 0.87) !important;
	opacity: 0;
	transition: opacity .5s;
}
.slick-slide.slick-slide.slick-center .faithzette-background-carousel {
	background-color: rgba(51, 153, 51, 0.83) !important;
	opacity: 0;
	transition: opacity .5s;
}
.slick-slide.slick-slide.slick-center .popzette-background-carousel {
	background-color: rgba(255, 153, 0, 0.85) !important;
	opacity: 0;
	transition: opacity .5s;
}

div.colorblock {
	opacity: 0;
	transition: opacity .5s;
}

.slick-slide.slick-slide.slick-active:not(.slick-arrow):after {
	position: absolute;
	display: block;
	width: 100%;
	text-align: right;
	padding: 2px 0 0 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	font: 0.4em/1em verdana,arial,sans-serif;
	letter-spacing: 0.125em;
	font-style: normal;
	text-transform: uppercase;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	color: rgba(230, 230, 230, 0.62);
	content: attr(data-photo-caption);
	z-index: 2;
}
.images.slick-slide.slick-active.slick-center:not(.slick-arrow):after {
	/*
		top: -1.5em;
		text-align: right;
		padding-right: 1em;
		text-shadow: 0 0 2px rgba(0, 0, 2, 0.86);
		color: rgba(255, 255, 255, 0.62);
	*/
	/*background-color: rgba(0, 0, 255, 0.5);*/
	top: 0.5em;
	text-shadow: 0 0 2px black;
	color: rgba(255, 255, 255, 0.78);
	margin-left: -1.5em;
	transform: rotate(-90deg);
	transform-origin: right top 0;
}

.images.slick-slide:not(.slick-active,.slick-arrow) ~ .images.slick-slide.slick-active:not(.slick-center,.slick-arrow):after {
	bottom: 0.25em;
	transform: rotate(90deg);
	transform-origin: right top 0;
	/*background-color: rgba(255, 0, 0, 0.5);*/
	display: none;
}

.images.slick-slide.slick-active.slick-center:not(.slick-arrow) ~ .images.slick-slide.slick-active:not(.slick-arrow):after {
	bottom: 0.25em;
	width: auto;
	transform: rotate(-90deg);
	transform-origin: left top 0;
	/*background-color: rgba(0, 255, 0, 0.5);*/
	display: none;
}
