.clrfx {
  clear: both;
  display: block;
  height: 1px;
  opacity: 0; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.usmap_maptitle {
  font-size: 1.75em;
  line-height: 1.125em; }

.usmap_mapsubtitle {
  font-size: 1.25em;
  line-height: 1em; }

.usmap_footnote {
  color: rgba(0, 0, 0, 0.45);
  line-height: 1.125em;
  font-size: 0.5em; }

.usmap_footnote a {
  font-size: 1em;
  line-height: inherit; }

.usmap_wrapper {
  overflow: hidden;
  font-size: 0.82em;
  line-height: 1.125em;
  padding-top: 1.5em; }
  .usmap_wrapper .mapkey {
    float: right;
    margin: 1px 0 4px 9px;
    background-color: rgba(255, 255, 255, 0.28);
    text-align: center; }
    .usmap_wrapper .mapkey .mapkey-hdr {
      margin: 0 0 0.125em 0;
      padding: 0.22em 0 0 0;
      line-height: 1em;
      color: white;
      font-size: 1.25em;
      font-weight: bold; }
    .usmap_wrapper .mapkey .mapkey-region {
      text-align: center;
      padding: 0.025em 0.5em 0.05em 0.5em;
      display: block;
      height: 1em;
      line-height: 1.025em;
      color: rgba(255, 255, 255, 0.85); }
  .usmap_wrapper > h1, .usmap_wrapper > h2, .usmap_wrapper > h3, .usmap_wrapper > h4, .usmap_wrapper > h5, .usmap_wrapper > h6 {
    margin: 0;
    line-height: auto; }

.map-caption {
  visibility: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  color: rgba(255, 255, 255, 0.95);
  padding: 8px;
  border-radius: 0;
  font-size: 1.1em;
  line-height: 1.25em; }

/* "background": "radial-gradient(#0f0f0f 15%, transparent 16%) 0 0, radial-gradient(#0f0f0f 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.05) 15%, transparent 20%) 8px 9px", */
/*            "background-size": "12px 12px", */
/*            "background-color": "#111111" */
/* "background": "linear-gradient(27deg, #141414 5px, transparent 5px) 0 5px, linear-gradient(207deg, #141414 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #212121 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #212121 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1c1c1c 25%, #1b1b1b 25%, #1b1b1b 50%, transparent 50%, transparent 75%, #202020 75%, #202020)", */
/*            "background-color": "#1a1a1a", */
/*            "background-size": "20px 20px" */
.map-caption-fob {
  position: absolute;
  top: -1.3055em;
  margin-left: -20px;
  left: 50%;
  font-size: 1em;
  line-height: 1.33em;
  font-weight: normal;
  width: 40px;
  height: 1.33em;
  max-height: 1.33em;
  text-align: center;
  border: 0 solid rgba(0, 0, 0, 0.65);
  border-radius: 10px 10px 0 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: white; }

.infotip {
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  padding: 8px;
  width: 14em;
  font-size: 0.85em;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px #ddd; }

.infotip-inner {
  text-align: center;
  color: #CECECE; }
  .infotip-inner .state-label {
    padding: 0.15em 0;
    margin: 0;
    font-size: 1.13em; }
    .infotip-inner .state-label .circle {
      margin-left: 1em; }
  .infotip-inner .data-cols {
    padding-bottom: 0.025em; }
    .infotip-inner .data-cols div {
      margin: 0;
      padding: 0;
      line-height: 1.125em; }
    .infotip-inner .data-cols .col-001,
    .infotip-inner .data-cols .col-002 {
      float: left;
      width: 48.5%;
      padding: 0;
      margin: 0;
      font-size: 0.75em;
      font-weight: normal; }
      .infotip-inner .data-cols .col-001 .col-hdr,
      .infotip-inner .data-cols .col-002 .col-hdr {
        font-size: 1.125em;
        margin: 0;
        padding: 0.025em 0; }
    .infotip-inner .data-cols .col-002 {
      float: right;
      border-left: 1px solid #999;
      padding-left: 2px; }
    .infotip-inner .data-cols .col-footnote {
      color: #9E9E9E;
      font-size: 0.75em; }
  .infotip-inner .bold-red {
    color: #CC0033;
    padding-right: 0.125em;
    font-size: 1.75em;
    font-weight: bold;
    padding-bottom: 0.125em; }
  .infotip-inner .med-red {
    color: #CC0033; }
  .infotip-inner .bold-orange {
    color: #f05328;
    padding-right: 0.125em;
    font-size: 1.75em;
    font-weight: bold;
    padding-bottom: 0.125em; }
  .infotip-inner .med-orange {
    color: #f26827; }
  .infotip-inner .circle {
    border-radius: 2em;
    width: 2em;
    font-size: 0.82em;
    border-width: 0;
    display: inline-block;
    background-color: #bebebe; }
    .infotip-inner .circle.med-orange {
      background-color: #f26827;
      color: white; }
