.imgset {
	float: left;
	border: none;
	margin-right: 6px;
}

.serieslist-content {
	font-size: 1.2em;
	color: #000;
	text-align: left;
}

.serieslist-box {
	background: #fff;
	width: 90%;
	padding: 6px;
	margin: 10px auto 0 auto;
}

html>body .serieslist-box {
	height: auto;
} 	

h2.series-title {
	color: #000000;
	font-style: normal;
	padding: 0.5em 1em 0.5em 1.5em;
	font-size: 1.25em;
	line-height: 1.3em!important;
	letter-spacing: -0.0125em;
	font-family: Utopia, Georgia, "Times New Roman", Times, serif!important;
	font-weight: bold;
	margin-top: 0;
}
h2.series-title a {
	color: inherit!important;
	font-size: inherit;
	font-style: normal;
	font-weight: bold;
	letter-spacing: -0.0125em;
}
/************************************
 * Colin's Custom Styles
 ************************************/
 blockquote.seriesbox h6.series-meta {
	color: #fff;
	font-size: 0.80em;
	height: 2.7em;
	padding: 0.6em 0.82em 0.75em 0.5em;
	vertical-align: top;
	font-family: 'museo-slab';
	white-space: nowrap;
	text-transform: uppercase;
 }
 blockquote.seriesbox h6.series-meta:before {
 	content: " ";
 	background-image: url("images/open-book-icon.png");
 	background-repeat: no-repeat;
 	min-width: 1.35em;
 	height: 1.5em;
 	padding-right: 2em;
 	display: inline-block;
 	float: left;
}
blockquote.seriesbox h6.series-meta:before img {
	display: none;
}
.burgandy-theme blockquote.seriesbox h6.series-meta {
	background-color: #663366!important;
}
.pink-theme blockquote.seriesbox h6.series-meta {
	background-color: #FF3399!important;
}
.blue-theme blockquote.seriesbox h6.series-meta {
	background-color: #00CCCC!important;
}
.purple-theme blockquote.seriesbox h6.series-meta {
	background-color: #339933!important;
}
.orange-theme blockquote.seriesbox h6.series-meta {
	background-color: #FF9900!important;
}
.red-theme blockquote.seriesbox h6.series-meta {
	background-color: #CC3333!important;
}
.seriesbox,
blockquote.seriesbox {
	float: right;
	color: #252525;
	display: inline-block;
	border: none!important;
	min-width: 285px;
	width: 285px;
	margin: 0 0.25em 1.25em 1.25em;
	padding: 0!important;
	-webkit-box-shadow: 0px 0px 6px rgba(70,70,70,1);
	-moz-box-shadow: 0px 0px 6px rgba(70,70,70,1);
	box-shadow: 0px 0px 6px rgba(70,70,70,1);
}

.seriesbox .center {
	color: #252525;
	padding: 10px 5px;
}

/*Changed from UL to OL*/
ul.serieslist-ul, ol.serieslist-ol {
	padding: 0 1.5em 0.5em 3.25em!important;
	margin: 0!important;
	list-style-type: decimal;
   	font-family: Utopia, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;	
   	text-align: left;
   	font-size: 0.82em!important;
   	line-height: 0.9em!important;
   	color: #252525;
   	list-style-position: inside;
}

.serieslist-ul li,
.serieslist-ol li,
li.serieslist-li,
li.serieslist-li-current {
	padding: 0;
	display: list-item!important;
	font-style: normal;
  	text-indent: -1em;
   	line-height: 1em!important;
   	margin: 0 0 1.25em!important;
   	font-weight: bold;
}

li.serieslist-li-prepublish {
	padding: 0;
	display: list-item!important;
	font-style: normal;
  	text-indent: -1em;
   	line-height: 1em!important;
   	margin: 0 0 1.25em!important;
   	font-weight: normal;
}

.serieslist-ul li:before,
.serieslist-ol li:before,
li.serieslist-li:before,
li.serieslist-li-current:before,
li.serieslist-li-prepublish:before {
	content: normal!important;
	margin-right: 3px!important;
}

li.serieslist-li a,
li.serieslist-li span,
li.serieslist-li-current a,
li.serieslist-li-current span,
li.serieslist-li-prepublish a,
li.serieslist-li-prepublish span  {
	font-style: inherit;
	font-size: 0.96em;
	letter-spacing: -0.005em;
	font-family: Utopia, Georgia, "Times New Roman", Times, serif!important;
}
li.serieslist-li a,
li.serieslist-li a:link,
li.serieslist-li-current a:link,
li.serieslist-li-prepublish a:link,
li.serieslist-li a:visited,
li.serieslist-li-current a:visited,
li.serieslist-li-prepublish a:visited {
	color: #252525!important;
}
li.serieslist-li-prepublish,
li.serieslist-li-prepublish span {
   	color: #afafaf!important;
}
li.serieslist-li-prepublish a,
li.serieslist-li-prepublish a:link,
li.serieslist-li-prepublish a:visited {
	color: #afafaf;
}
/************************************
 * More Custom Styles
 ************************************/
.burgandy-theme li.serieslist-li a:active,
.burgandy-theme li.serieslist-li-current a:active,
.burgandy-theme li.serieslist-li-prepublish a:active,
.burgandy-theme li.serieslist-li a:hover,
.burgandy-theme li.serieslist-li-current a:hover,
.burgandy-theme li.serieslist-li-prepublish a:hover  {
	 color: #663366; 
}
.pink-theme li.serieslist-li a:active,
.pink-theme li.serieslist-li-current a:active,
.pink-theme li.serieslist-li-prepublish a:active,
.pink-theme li.serieslist-li a:hover,
.pink-theme li.serieslist-li-current a:hover,
.pink-theme li.serieslist-li-prepublish a:hover  {
	 color: #ff3399!important;
}
.blue-theme li.serieslist-li a:active,
.blue-theme li.serieslist-li-current a:active,
.blue-theme li.serieslist-li-prepublish a:active,
.blue-theme li.serieslist-li a:hover,
.blue-theme li.serieslist-li-current a:hover,
.blue-theme li.serieslist-li-prepublish a:hover,
.blue-theme li.serieslist-li:hover,
.blue-theme li.serieslist-li:active {
	color: #00cccc!important;
};
.purple-theme li.serieslist-li a:active,
.purple-theme li.serieslist-li-current a:active,
.purple-theme li.serieslist-li-prepublish a:active,
.purple-theme li.serieslist-li a:hover,
.purple-theme li.serieslist-li-current a:hover,
.purple-theme li.serieslist-li-prepublish a:hover  {
	 color: #339933!important; 
}
.orange-theme li.serieslist-li a:active,
.orange-theme li.serieslist-li-current a:active,
.orange-theme li.serieslist-li-prepublish a:active,
.orange-theme li.serieslist-li a:hover,
.orange-theme li.serieslist-li-current a:hover,
.orange-theme li.serieslist-li-prepublish a:hover  {
	color: #ff9900!important;
}


fieldset {
	padding-bottom: 15px;	
}

fieldset span a {
	font-size: 20px!important;
	font-family: Utopia!important;
}
fieldset span a:hover {
	text-decoration: underline;
}

.series-nav-left {
	float: left;
	margin-left: 15px;
}

.series-nav-right {
	float: right;
	margin-right: 15px;
}
/************************************
 * END Colin's Custom Styles
 ************************************/


.seriesbox .center a {
	color: red;
}

.seriesbox img {
	margin: 0px 12.5px 0 12.5px;
}

h3.series-title-post-page {
	font-size: 1.125em;
	color: #1E3A96;
	text-align: center;
}

p.series-description {
	font-style: italic;
}

.seriesmeta {
	background-color: #E5F3FF;
	font-size: .8em;
}

.stocpagination {
	clear: both;
	padding: 20px 0;
	position: relative;
	left: 465px;
	font-size: 12px;
	line-height: 13px;
	color: #fff;
}

.stocpagination a {
   display: block;
	text-decoration: none;
	color: #717171;
	font: bold 11px Arial, sans-serif;
	text-shadow: 0px 1px white;
	padding: 5px 8px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	background: #f9f9f9;

	background: -webkit-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	background: linear-gradient(top, #f9f9f9 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e8e8e8',GradientType=0 );
}

.stocpagination a:visited {
   color: #5F7BB3;
   background-color: #F1F6F5;
   text-decoration: none;
}

.page-numbers {
	background-color:transparent;
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	padding: 6px 9px 5px 9px;
	text-decoration:none;
	width: auto;
	color: #fff;
	background: #555;
	border-color: #c8d6d6 #9EADAD #9EADAD #c8d6d6;
}

.stocpagination a:hover {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.55);
	background: #fff;
	background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -o-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e8e8e8 100%);
	background: linear-gradient(top, #fff 0%, #e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e8e8e8',GradientType=0 );
}

.stocpagination a:active, .page-numbers.current:active {
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5), 0px 1px 1px 0px rgba(255,255,255,1);
}

.page-numbers.current:hover {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.9);
	background: #99cefc;
	background: -webkit-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	background: linear-gradient(top, #99cefc 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cefc', endColorstr='#57a1d8',GradientType=0 );
}

.page-numbers.current {
	color: white;
	text-shadow: 0px 1px #3f789f;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.8);
	background: #7cb9e5;
	background: -webkit-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -moz-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -o-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: -ms-linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	background: linear-gradient(top, #7cb9e5 0%, #57a1d8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb9e5', endColorstr='#57a1d8',GradientType=0 );

}



