﻿/* CSS Reset */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend,
input, textarea, button, select{ margin:0; padding:0; }
body, input, textarea, select, button {
	font-family:"돋움",dotum,sans-serif;font-size:12px; color: #404040; line-height:1.3;
}
img,fieldset{ border:0; }
ul,ol,li { list-style: none; }
em, address{ font-style: normal; }
a{ color:#404040;}
a:link,a:visited,a:active,a:focus{ text-decoration: none; }
a:hover{ text-decoration: underline;}
input[type='text'],textarea{ padding-left: 2px; }
input[type='radio'], input[type='checkbox'], img{ border: 0; }

table{padding: 0; border-collapse: collapse; border-spacing: 0px;}
hr { width:1px;height:1px; margin:0;padding:0;position:absolute;top:-10000px;left:-10000px;visibility:hidden;}

.hidd { 
	width:1px !important; height:1px !important; overflow:hidden !important; text-indent:-3000em;
	position:absolute !important; top:-20000px !important; left:-50000px !important; visibility:hidden;
}
.float_r { float:right !important;}
.float_l { float:left !important;}
.root { width:100%;display:block;}
.bgno { background: none !important; }

.ime_dis { ime-mode: disabled; }
.ime_act { ime-mode: active; }
.ime_inact { ime-mode: inactive; }
iframe { border: 0; margin: 0; padding: 0; resize: none;}