﻿body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend,
input, textarea, button, select{ margin:0; padding:0; }
hr { width:1px;height:1px; margin:0;padding:0;position:absolute;top:-10000px;left:-10000px;visibility:hidden;}
.wrap {
	width:100%; float:left; 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bg_bodyTop.gif") repeat-x; 
}
.container {width:980px; margin:0 auto; display:block; position:relative; z-index:10000;}
.content { min-height: 500px; }
/* header */
.header { width:980px; height: 130px; display: block; margin:0 auto; position: relative; z-index:100001; background-color:#fff;}
/* ------------------------------------------------------------------------------------ 
thin_nav */
.header .thin_nav { 
	width:100%; height:30px; display:block; position:absolute; top:0; left:0; z-index:100000;
	background:#f2f2f2 url("http://img.nocutnews.co.kr/nocut/v2/common/bg_bodyTop.gif") repeat-x;
}
.header .thin_nav li {
	height:100%; line-height:30px; float:left; position:relative; margin-right:10px; 
	letter-spacing:-1px; color:#8e8e8e; font-size:11px;
}
.header .thin_nav li a {color:#8e8e8e; display:block;}
/* layerbox */
.header .thin_nav li .layerbox {
	display:none; position:absolute; top:30px; background-color:#fff; border:3px solid #7589c4; 
	-moz-box-shadow:3px 3px 0 #cacaca; 
	-webkit-box-shadow: 3px 3px 0 #cacaca; 
	box-shadow: 3px 3px 0 #cacaca; 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#777777')"; 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#777777'); 

}
.header .thin_nav li .layerbox li {line-height:1.3;}
.header .thin_nav li .layerbox .btn_close {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/headLayerImg.gif") no-repeat 1px -121px; 
	position:absolute; top:6px; right:6px; display:block; width:13px; height:13px; 
	overflow:hidden; text-indent:-3000em; z-index:1000; 
}
/* hd_appdown layerbox */
.header .thin_nav li.hd_appdown .layerbox {width:415px; height:170px; left:-70px;}
.header .thin_nav li.hd_appdown .layerbox h3 {
	width:374px; height:47px; padding:8px 20px 0; background-color:#f8f7f8; display:block; line-height:1.3; 
	z-index:900; 
}
.header .thin_nav li.hd_appdown .layerbox h3 span {width:100%; display:block; font-size:12px; font-weight:normal;}
.header .thin_nav li.hd_appdown .layerbox ul {position:relative; width:375px; margin:10px auto 0; display:block;}
.header .thin_nav li.hd_appdown .layerbox ul li {
	position:absolute; top:0; left:0; width:100%; height:65px; line-height:normal; background:#fff; 
	margin-right:0; z-index:1000;
}
.header .thin_nav li.hd_appdown .layerbox ul li.sel {z-index:1100;}
.header .thin_nav li.hd_appdown .layerbox ul li p {
	width:100%; height:68px; border-bottom:1px solid #e0e0e0; position:absolute; top:0; left:0; 
	color:#757575; line-height:1.3; 
}
.header .thin_nav li.hd_appdown .layerbox ul li p img{float:left; width:58px; height:58px;}
.header .thin_nav li.hd_appdown .layerbox ul li p strong{
	width:305px; float:right; margin-bottom:2px; font-size:12px; color:#5767de; 
}
.header .thin_nav li.hd_appdown .layerbox ul li p em{font-weight:bold; width:305px; float:right;}
.header .thin_nav li.hd_appdown .layerbox ul li p span {width:305px; float:right;}
.header .thin_nav li.hd_appdown .layerbox ul li .btn {position:absolute; top:79px; text-align:center;}
.header .thin_nav li.hd_appdown .layerbox ul li .btn span{display:none;}
.header .thin_nav li.hd_appdown .layerbox ul li .btn:hover,
.header .thin_nav li.hd_appdown .layerbox ul li.sel .btn {text-decoration:none; font-weight:bold; color:#575757;}
.header .thin_nav li.hd_appdown .layerbox ul li .btn:hover span,
.header .thin_nav li.hd_appdown .layerbox ul li.sel .btn span {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/headLayerImg.gif") no-repeat center -193px; 
	width:100%; height:4px; display:block; position:absolute; top:-10px; left:0;}
.header .thin_nav li.hd_appdown .layerbox ul li.menu1 .btn {width:50px; left:0;}
.header .thin_nav li.hd_appdown .layerbox ul li.menu2 .btn {width:70px; left:51px;}
.header .thin_nav li.hd_appdown .layerbox ul li.menu3 .btn {width:50px; left:122px;}
.header .thin_nav li.hd_appdown .layerbox ul li.menu4 .btn {width:80px; left:176px;}
.header .thin_nav li.hd_appdown .layerbox ul li.menu5 .btn {width:58px; left:258px;}
.header .thin_nav li.hd_appdown .layerbox ul li.menu6 .btn {width:54px; left:318px;}
.header .thin_nav li.hd_home a,
.header .thin_nav li.hd_network a.btn {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/headLayerImg.gif") no-repeat; 
}
.header .thin_nav li.hd_home a { background-position: right 11px; padding-right: 6px;}
.header .thin_nav li.hd_network a.btn {background-position:74px -51px; padding-right:18px;}
/* hd_network layerbox */
.header .thin_nav li.hd_network .layerbox {width:125px; padding:15px 15px 5px; left:-25px;}
.header .thin_nav li.hd_network .layerbox .net_arrow {
	background:url("http://img.nocutnews.co.kr/nocut/v2/main/bul_layerboxArrow.gif") no-repeat center 0; 
	width:100%; height:6px; position:absolute; top:-7px; left:0; display:block;}
.header .thin_nav li.hd_network .layerbox ul li {width:100%; float:left; padding-bottom:6px; line-height:1.3;}
.header .thin_nav li.hd_network .layerbox ul li a {font-weight:bold;}
.header .thin_nav li.hd_network .layerbox ul li.net_local {
	border-top:1px solid #d7d7d7; padding-top:6px;
}
.header .thin_nav li.hd_network .layerbox ul li.net_local p { float:left; padding-top:6px;}
.header .thin_nav li.hd_network .layerbox ul li.net_local p a {
	font-weight:normal; float:left; padding-right:4px; line-height:1.5;
}
.header .thin_nav li.loginframe { margin-right:0; float: right;}

.header .thin_nav li.hd_rinfo { float:right; margin-right:0;}
.header .thin_nav li.hd_rinfo .days,
.header .thin_nav li.hd_rinfo .login,
.header .thin_nav li.hd_rinfo .socialbox { float:left;}
.header .thin_nav li.hd_rinfo .btn_join,
.header .thin_nav li.hd_rinfo .socialbox .btn {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/topbtn_l.gif") no-repeat 0 0; 
	height:18px; float:left; padding: 0 0 0 3px;margin: 6px 0px 0 10px;
}
.header .thin_nav li.hd_rinfo .btn_join span,
.header .thin_nav li.hd_rinfo .socialbox .btn span {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/topbtn_r.gif") no-repeat right 0; 
	padding: 3px 6px 3px 3px; cursor: pointer; float: left;line-height:12px;
}
.header .thin_nav li.hd_rinfo .days { color:#8E8E8E; margin: 8px 9px 0 0; float: left; margin: 0 0 0 0;}
.header .thin_nav li.hd_rinfo .socialbox .btn span { font-weight: bold; color: #5B7BCD; }
.header .thin_nav li.hd_rinfo .socialbox span.name { float: left; margin-left: 5px;}
/* --------------------------------------------------------------------------------------- */
.header .head_subtit { display:none;}
/* ------------------------------------------------------------------------------------ 
areabox */
.content { padding-top:25px;}
.areabox { width:295px; float:right; padding-top:25px;}
.bgon { background:#f8f8f8; padding-left:16px; padding-right:16px;}

/* ------------------------------------------------------------------------------------ 
footer */
.footer {
	width:980px; height:180px; display:block; margin:0 auto; clear:both; 
	padding-bottom:30px; position:relative; z-index:100000;
}
.footer .foot_pt{ width:100%; float:left; border-bottom:2px solid #404040; border-top:1px solid #e6e6e6;}
.footer .foot_pt li { float:left; padding:10px 42px 10px 41px;}

.footer .foot_info { width:100%; float:left; margin-top:22px; position:relative;}
.footer .foot_info .logo a{
	width:75px; height:28px; display:block; position:absolute; top:0; left:0; 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/imgFootinfo.gif") no-repeat; 
	text-indent:-3000em; overflow:hidden; 
}
.footer .foot_info .info {width:885px; height:30px; position:absolute; top:0; left:91px;}
.footer .foot_info .info a {color:#757575; letter-spacing:-1px; display:block;}
.footer .foot_info .info li {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/imgFootinfo.gif") no-repeat right -84px; 
	float:left;}
.footer .foot_info .info li a {padding:2px 12px;}
.footer .foot_info .info li.fir a { padding-left:0;}
.footer .foot_info .info li.last { background: 0 none;}
.footer .foot_info ul li.nclocal {position:relative; top:-1px;}
.footer .foot_info ul li.nclocal a { display: block; font-size: 11px; color: #858585;}
.footer .foot_info ul li.nclocal .sel { 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/imgFootinfo.gif") no-repeat -40px -127px; 
	padding:0; border: solid 1px #d1d1d1; width:65px; height:19px; line-height:19px; text-indent:3px; 
}
.footer .foot_info ul li.nclocal .sel:hover { text-decoration: none;} 
.footer .foot_info ul li.nclocal ul {
	width:61px; border:solid 1px #d1d1d1; background-color:#fff; padding:2px; 
	position:absolute; bottom:20px; left:0; z-index:100; 
}
.footer .foot_info ul li.nclocal ul li {padding:2px; text-align:center;}
.footer .foot_info ul li.nclocal ul li.bgno {background:none;}
.footer .foot_info ul li.nclocal ul li a {width:26px; padding:2px 0;}
.footer .foot_info .address {
	width:885px; height:35px; position:absolute; top:31px; left:91px;
	line-height:1.8; color:#a5a5a5; letter-spacing:-1px;
}
.footer .foot_info ul li.cbsi_sns {width:84px; margin-left:14px;}
.footer .foot_info ul li.cbsi_sns a {padding:0; margin-right:8px; float:left;}

/* paging */
.paging { width:100%; padding:20px 0; float:left; text-align:center;}
.paging a { padding:5px; font-weight:bold; color:#a2a2a2;}
.paging img.btn_arrow_ll,
.paging img.btn_arrow_l,
.paging img.btn_arrow_r,
.paging img.btn_arrow_rr { padding: 0 5px;}

.paging a:hover {text-decoration:none;}
.paging img,
.paging a.btn_prev,
.paging a.btn_next { position:relative;  }
.paging a.btn_prev,
.paging a.btn_next,
.paging img.btn_prev,
.paging img.btn_next { top:4px;}
.paging a.btn_prev,
.paging a.btn_next { padding:0;}
.paging a:hover,
.paging a.sel { color:#5e74b7; text-decoration:none;}

