﻿/* ------------------------------------------------------------------------------------ 
gnb */
.gnb {width:978px; height:38px; margin:0 auto; display:block; border:solid 1px #222d87; background:#1f4fa3;}
.gnb li.gnbm {
	width:100px; height:38px; float:left; border-right:1px solid #222d87; position:relative; z-index:100000; 
}
.gnb li.gnbm a.depth1 {
	width:100%; height:100%; display:block; text-indent:-3000em; overflow:hidden; 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/gnbMenu_140207.gif") no-repeat; 
}
.gnb li.m_news a.depth1 {background-position:0 0;}		 /* 뉴스 */
.gnb li.m_issue a.depth1 {background-position:-101px 0;} /* 이슈 */
.gnb li.m_en a.depth1 {background-position:-202px 0;}	 /* EN */
.gnb li.m_photo a.depth1 {background-position:-303px 0;} /* 포토영상 */
.gnb li.m_talk a.depth1 {background-position:-404px 0;}	 /* 톡 */
.gnb li.m_enter a.depth1 {background-position:-648px 0;} /* 연예 */
.gnb li.m_sports a.depth1 {background-position:-757px 0;}/* 스초프 */
.gnb li.gnbm a.depth1:hover,
.gnb li.gnbm a.depth1.mhover,
.gnb li.sel a.depth1 {border-bottom:1px solid #f8f8f8;}
.gnb li.m_news.sel .mbox,
.gnb li.m_issue.sel .mbox,
.gnb li.m_en.sel .mbox,
.gnb li.m_photo.sel .mbox,
.gnb li.m_talk.sel .mbox,
.gnb li.m_enter.sel .mbox,
.gnb li.m_sports.sel .mbox {display:block;}
.gnb li.m_news.sel a.depth1, .gnb li.m_news a.depth1:hover {background-position:0 -151px;}
.gnb li.m_issue.sel a.depth1, .gnb li.m_issue a.depth1:hover {background-position:-101px -151px;}
.gnb li.m_en.sel a.depth1, .gnb li.m_en a.depth1:hover {background-position:-202px -151px;}
.gnb li.m_photo.sel a.depth1, .gnb li.m_photo a.depth1:hover {background-position:-303px -151px;}
.gnb li.m_talk.sel a.depth1, .gnb li.m_talk a.depth1:hover {background-position:-404px -151px;}
.gnb li.m_enter.sel a.depth1, .gnb li.m_enter a.depth1:hover, .gnb li.m_enter a.depth1.mhover {background-position:-648px -80px;}
.gnb li.m_sports.sel a.depth1, .gnb li.m_sports a.depth1:hover, .gnb li.m_sports a.depth1.mhover {background-position:-757px -80px;}

.gnb li.gnbm.m_enter,
.gnb li.gnbm.m_sports {width:90px; }

.gnb li.m_rank {width:90px; overflow:hidden; border-right:0 none;}
.gnb li.m_rank a.depth1 {background:0 none; text-indent:0; display:none;}
.gnb li.m_rank a.depth1.sel {display:block;}

.gnb li.m_jebo {width:65px; overflow:hidden; border-right:0 none;}
.gnb li.m_jebo a.depth1 {background:0 none; text-indent:0; display:block;}

.gnb li.m_news a.depth1.mhover{background-position:0 -80px;}
.gnb li.m_issue a.depth1.mhover {background-position:-101px -80px;}
.gnb li.m_en a.depth1.mhover {background-position:-202px -80px;}
.gnb li.m_photo a.depth1.mhover {background-position:-303px -80px;}
.gnb li.m_talk a.depth1.mhover {background-position:-404px -80px;}
.gnb .mbox { 
	width:978px; height:304px; display:block; border:1px solid #033489; border-top:0 none; 
	position:absolute; top:39px; background-color:#f8f8f8; padding-top:5px; display:none;
}		 
.gnb li.m_news .mbox {left:-1px;}
.gnb li.m_issue .mbox {left:-102px; display:none;}
.gnb li.m_en .mbox {left:-203px; display:none;}
.gnb li.m_photo .mbox {left:-203px; display:none;}
.gnb li.m_talk .mbox {left:-405px; display:none;}
.gnb .mbox .bg_mbox {
	width:980px; height:5px; display:block; overflow:hidden; position:absolute; bottom:-6px; left:-1px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bg_gnbmbox.png") repeat-x; 
}
.gnb .mbox .btn_close {
	width:24px; height:24px; display:block; text-indent:-3000em; overflow:hidden;
	position:absolute; bottom:1px; right:1px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/btn_LayerClose.gif") no-repeat ;
}
.gnb .mbox .gnb_scategory {width:80px; height:273px; float:left; position:relative; top:10px; left:20px;}
.gnb .mbox .gnb_scategory li {width:100%; float:left; padding-top:3px;}
.gnb .mbox .gnb_scategory li .depth2 strong {display:block; line-height:19px;}
.gnb .mbox .gnb_scategory li a:hover,
.gnb .mbox .gnb_scategory li a.sel,
.gnb .mbox .gnb_scategory li.sel .depth2 {text-decoration:none; color:#567aba;}
.gnb .mbox .gnb_scategory li ul {
	width:102px; height:275px; display:block; position:absolute; top:0; left:80px; background-color:#f8f8f8;
}

.gnb .mbox .newsinfo {width:825px; height:289px; padding:15px 27px 0 25px; background-color:#fff; float:right; }
.gnb .mbox .newsinfo .info_l {height:273px; border-right:1px solid #ddd; float:left; padding-right:27px;}
.gnb .mbox .newsinfo .info_r {height:273px; float:right; }
.gnb .m_news .mbox .gnb_scategory li ul {display:none;}
.gnb .m_news .mbox .gnb_scategory li.sel ul{display:block;}
/* ====== .gnb li.m_news ============================= */
.gnb li.m_news .mbox .newsinfo {width:724px;}
.gnb li.m_news .info_l {width:344px; }
.gnb li.m_news .info_l .l_top {width:100%; float:left; margin-bottom:10px;}
.gnb li.m_news .info_l .l_top li {width:100%; float:left; line-height:20px;}
.gnb li.m_news .info_l .l_top li a {color:#404040; font-weight: bold;}
.gnb li.m_news .info_l .l_top .imgnews {padding-bottom:7px;}
.gnb li.m_news .info_l .l_top .img {width:80px; height:65px; float:left; overflow:hidden; }
.gnb li.m_news .info_l .l_top .img img{width:100%; min-height:65px; height:auto !important;}
.gnb li.m_news .info_l .l_top .txt {
	width:251px; float:right;  margin-top:10px; line-height:1.3;
	font-size:20px; letter-spacing:-2px; color:#000; font-weight:bold;
	height: 52px; overflow: hidden;
}
.gnb li.m_news .info_l .l_sectiontop li {
	width:100%; float:left; line-height:22px;
	overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
}
.gnb li.m_news .info_l .l_sectiontop li a {color:#373737;}
.gnb li.m_news .info_l .l_sectiontop li em a {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/line_layerB.gif") no-repeat right 0;
	color:#4d78c3; padding-right:8px; margin-right:8px;}
.gnb li.m_news .mbox .newsinfo .info_r {width:330px;}
.gnb li.m_news .info_r .r_mtop {width:100%; float:left; margin-bottom:8px;}
.gnb li.m_news .info_r .r_mtop li {width:100%; float:left; line-height:22px;}
.gnb li.m_news .info_r .r_mtop li a {
	width:75%; float:left; color:#373737;
	overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
}
.gnb li.m_news .info_r .r_mtop li a.fir { color: #567ab9; font-weight: bold; }
.gnb li.m_news .info_r .r_mtop li strong a {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/line_layerB.gif") no-repeat right 4px;
	width:auto; padding-right:8px; margin-right:8px;}
.gnb li.m_news .info_r .r_mtop li strong a:hover { text-decoration: none; }
.gnb li.m_news .info_r .r_keyword {
	width:100%; height:20px; padding:10px 0; margin-bottom:10px;
	border:1px solid #ddd; border-width:1px 0; display:block; clear:both;
}
.gnb li.m_news .info_r .r_keyword dt {
	width:37px; height:100%; float:left; text-indent:-3000em; overflow:hidden;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/ico_layerKeyword.gif") no-repeat 2px 0;
}
.gnb li.m_news .info_r .r_keyword dd { width: 293px; float: left; overflow:hidden; height: 100%;}
.gnb li.m_news .info_r .r_keyword dd a {
	line-height:22px; color:#567ab9; font-size:14px; letter-spacing:-1px; font-weight:bold; padding-right:12px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/line_layerB.gif") no-repeat right 1px;
}
.gnb li.m_news .info_r .r_keyword dd a.last { background:none; padding:0 0 0 5px;}

.gnb li.m_news .info_r .r_picnews {width:100%; display:block; clear:both;}
.gnb li.m_news .info_r .r_picnews li {width:99px; margin-right:15px; float:left;}
.gnb li.m_news .info_r .r_picnews li a{
	width:100%; display:block; font-size:11px; letter-spacing:-1px; color:#373737; overflow:hidden;
}
.gnb li.m_news .info_r .r_picnews li a.img {height:66px; margin:7px 0 9px;}
.gnb li.m_news .info_r .r_picnews li a.img img {width:100%; min-height:66px; height:auto !important;}
.gnb li.m_news .info_r .r_picnews li a.txt {height:28px;}
.gnb li.m_news .info_r .r_picnews li.last {margin-right:0;}
/* ====== .gnb li.m_issue ============================= */
.gnb li.m_issue .info_l {width:445px;}
.gnb li.m_issue .info_l .l_top {width:100%; float:left; margin-bottom:20px;}
.gnb li.m_issue .info_l .l_top li {width:100%; float:left; line-height:20px;}
.gnb li.m_issue .info_l .l_top li.list a {
	color:#404040; padding-left:7px; display:block;
	overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/dot_list1.gif") no-repeat 0 9px;
}
.gnb li.m_issue .info_l .l_top .imgnews {padding-bottom:7px;}
.gnb li.m_issue .info_l .l_top strong {width:100%; height:21px; line-height:13px; display:block;}
.gnb li.m_issue .info_l .l_top strong a{color:#ce393f;}
.gnb li.m_issue .info_l .l_top .img {width:127px; height:80px; float:left; overflow:hidden; }
.gnb li.m_issue .info_l .l_top .img img{width:100%; min-height:80px; height:auto !important;}
.gnb li.m_issue .info_l .l_top em a {
	width:305px; float:right;  margin:2px 0 5px; line-height:1.3;
	font-size:20px; letter-spacing:-2px; color:#000; font-weight:bold;}
.gnb li.m_issue .info_l .l_top .txt {
	width:305px; float:right;  line-height:1.3;letter-spacing:-1px; color:#8f8f8f; font-weight:bold;}
.gnb li.m_issue .info_l .l_top2 dl {width:205px; float:left; margin-right:18px;}
.gnb li.m_issue .info_l .l_top2 dl.last {margin-right:0;}
.gnb li.m_issue .info_l .l_top2 dl dt {width:100%; height:21px; line-height:13px; display:block;}
.gnb li.m_issue .info_l .l_top2 dl dt a{color:#ce393f; font-weight:bold; letter-spacing:-1px;}
.gnb li.m_issue .info_l .l_top2 dd {width:100%; float:left; line-height:20px;}
.gnb li.m_issue .info_l .l_top2 dd strong {width:100%; height:45px; display:block;}
.gnb li.m_issue .info_l .l_top2 dd a {
	color:#404040; padding-left:7px; display:block; letter-spacing:-1px;
	overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/dot_list1.gif") no-repeat 0 8px;
}
.gnb li.m_issue .info_l .l_top2 dd strong a {
	margin-bottom:5px; padding-left:0; white-space:normal; letter-spacing:-2px;
	color:#000; font-size:14px; background:none; 
}
.gnb li.m_issue .info_r {width:328px;}
.gnb li.m_issue .info_r .r_mtop {width:100%; float:left; margin-bottom:8px;}
.gnb li.m_issue .info_r .r_mtop li {width:100%; float:left; line-height:22px;}
.gnb li.m_issue .info_r .r_mtop li a {
	width:75%; float:left; color:#373737;
	overflow: hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
}
.gnb li.m_issue .info_r .r_mtop li strong a {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/line_layerB.gif") no-repeat right 4px;
	width:auto; padding-right:8px; margin-right:8px;}
.gnb li.m_issue .info_r .r_exclusive {
	width:298px; height:32px; padding:14px 15px; display:block; background:#f8f8f8; clear:both;}
.gnb li.m_issue .info_r .r_exclusive dt {width:100%; height:20px; display:block;}
.gnb li.m_issue .info_r .r_exclusive dt a {
	width:40px; height:100%; display:block; text-indent:-3000em; overflow:hidden;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_list2Tit2.gif") no-repeat;
}
.gnb li.m_issue .info_r .r_exclusive dd a {
	color:#3a3a3a; font-weight:bold; display:block;
	overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}
.gnb li.m_issue .info_r .r_picnews {width:100%; display:block; margin-top:14px; clear:both;}
.gnb li.m_issue .info_r .r_picnews li {width:99px; margin-right:15px; float:left;}
.gnb li.m_issue .info_r .r_picnews li strong a{
	width:100%; display:block; font-size:11px; letter-spacing:-1px; color:#373737; overflow:hidden;
	text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
}
.gnb li.m_issue .info_r .r_picnews li a.img {height:66px; margin:7px 0 9px;}
.gnb li.m_issue .info_r .r_picnews li a.img img {width:100%; min-height:66px; height:auto !important;}
.gnb li.m_issue .info_r .r_picnews li a.txt {
	height:28px;width:100%; display:block; font-size:11px; letter-spacing:-1px; color:#373737; overflow:hidden;
}
.gnb li.m_issue .info_r .r_picnews li.last {margin-right:0;}
/* ====== .gnb li.m_photo ============================= */
.gnb li.m_photo .mbox .gnb_scategory {left:15px;}
.gnb li.m_photo .mbox .gnb_scategory li a strong {}
.gnb li.m_photo .info_l {width:447px; padding-right:25px;}
.gnb li.m_photo .info_l .l_top {width:100%; display:block;}
.gnb li.m_photo .info_l .l_top dl {width:440px; height:110px; display:block; padding-right:7px;}
.gnb li.m_photo .info_l .l_top dt {width:248px; float:right; margin:7px 0 11px;}
.gnb li.m_photo .info_l .l_top dt a {font-weight:bold; font-size:11px; color:#373737;}
.gnb li.m_photo .info_l .l_top .img{width:175px; height:100%; float:left; overflow:hidden;}
.gnb li.m_photo .info_l .l_top .img img {width:100%; min-height:110px; height:auto !important; }
.gnb li.m_photo .info_l .l_top .txt {width:248px; float:right; }
.gnb li.m_photo .info_l .l_top .txt a {
	width:100%; height:31px; display:block; color:#7f7f7f; overflow:hidden; letter-spacing:-1px;
}
.gnb li.m_photo .info_l .l_top .txt strong a {height:35px; color:#373737; font-size:14px; margin-bottom:6px;}
.gnb li.m_photo .info_l .l_top ul {width:448px; height:60px; float:left; padding-top:5px;}
.gnb li.m_photo .info_l .l_top ul li {width:79px; height:50px;float:left; margin:10px 13px 0 0; position:relative;}
.gnb li.m_photo .info_l .l_top ul li em {width:100%; height:100%; display:block; overflow:hidden;}
.gnb li.m_photo .info_l .l_top ul li img{width:100%; min-height:100%; height:auto !important; }
.gnb li.m_photo .info_l .l_top ul li.last {margin-right:0;}
.gnb li.m_photo .info_l .l_top ul a {width:100%; height:100%; display:block;}
.gnb li.m_photo .info_l .l_top ul a span {
	width:85px; height:60px; position:absolute; top:-7px; left:-3px; display:none;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bg_gnblist4Img.gif") no-repeat; 
}
.gnb li.m_photo .info_l .l_top ul a:hover span,
.gnb li.m_photo .info_l .l_top ul a.sel span {display:block;}
.gnb li.m_photo .info_l .l_top2 {
	width:100%; height:76px; padding-top:10px; margin-top:10px; border-top:1px solid #ddd; float:left;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bg_gnglist4Top2.gif") repeat-x;
}
.gnb li.m_photo .info_l .l_top2 li {width:33%; text-align:center; float:left;}
.gnb li.m_photo .info_l .l_top2 li a { margin: 0 auto; }
.gnb li.m_photo .info_l .l_top2 li a.img {
	width:61px; height:40px; padding:0 6px 6px 0; display:block; margin-bottom:4px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bg_gnglist4Top2.gif") no-repeat 3px -104px; 
}
.gnb li.m_photo .info_l .l_top2 li a.img span{width:61px; height:40px; display:block; overflow:hidden;}
.gnb li.m_photo .info_l .l_top2 li a.img span img {width:100%; height:100%; height:auto !important;}
.gnb li.m_photo .info_l .l_top2 li a.txt {
	width:115px; color:#5779b9; font-weight:bold; display:block; overflow:hidden;
	text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
}
.gnb li.m_photo .info_r {width:328px;}
.gnb li.m_photo .info_r .r_mtop {width:100%; height:124px; display:block; margin-bottom:5px;}
.gnb li.m_photo .info_r .r_mtop dt {width:132px; float:right; margin:7px 0 11px;}
.gnb li.m_photo .info_r .r_mtop dt a {font-weight:bold; font-size:11px; color:#373737;}
.gnb li.m_photo .info_r .r_mtop .img{width:185px; height:124px; float:left; overflow:hidden;}
.gnb li.m_photo .info_r .r_mtop .img img {width:100%; min-height:124px; height:auto !important; }
.gnb li.m_photo .info_r .r_mtop .txt {width:132px; float:right; }
.gnb li.m_photo .info_r .r_mtop .txt a {
	width:100%; height:31px; display:block; color:#7f7f7f; overflow:hidden; letter-spacing:-1px;
}
.gnb li.m_photo .info_r .r_mtop .txt strong a {height:auto; color:#373737; font-size:14px; margin-bottom:6px;}
.gnb li.m_photo .info_r .r_picnews {width:100%; display:block; clear:both;}
.gnb li.m_photo .info_r .r_picnews li {width:154px; margin-right:19px; float:left;}
.gnb li.m_photo .info_r .r_picnews li a{
	width:100%; display:block; font-size:11px; letter-spacing:-1px; color:#373737; overflow:hidden;
}
.gnb li.m_photo .info_r .r_picnews li a.img {height:87px; margin:7px 0 9px;}
.gnb li.m_photo .info_r .r_picnews li a.img img {width:100%; min-height:100%; height:auto !important;}
.gnb li.m_photo .info_r .r_picnews li.last {margin-right:0;}
/* ====== .gnb li.m_talk ============================= */
.gnb li.m_talk .info_l {width:260px; padding-right:20px !important; border-right:0 !important;}
.gnb li.m_talk .info_l dl {width:100%; height:84px; display:block; margin-bottom:19px;}
.gnb li.m_talk .info_l dl dt {width:130px; float:right; margin:2px 0 4px;}
.gnb li.m_talk .info_l dl dt a {font-weight:bold; font-size:11px; color:#37a802;}
.gnb li.m_talk .info_l dl .img{width:121px; height:100%; float:left; position:relative;}
.gnb li.m_talk .info_l dl .img a {width:100%; height:100%; display:block; overflow:hidden; }
.gnb li.m_talk .info_l dl .img img {width:100%; min-height:100%; height:auto !important; }
.gnb li.m_talk .info_l dl .img strong {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/img_list5Ltop.png") no-repeat; 
	width:30px; height:20px; display:block; position:absolute; bottom:-6px; right:-5px; color:#fff;
	text-align:center; line-height:20px; 
}
.gnb li.m_talk .info_l dl .txt {width:130px; float:right; }
.gnb li.m_talk .info_l dl .txt strong a {
	width:100%; height:30px; display:block;  overflow:hidden; letter-spacing:-1px; color:#373737; margin-bottom:8px;
}
.gnb li.m_talk .info_l dl .txt  a.btn_participation {
	width:82px; height:24px; text-indent:-3000em; overflow:hidden; float:left;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/img_list5Ltop.png") no-repeat 0 -56px; 
}
.gnb li.m_talk .info_l li { 
	width:258px; float:left; margin-bottom:12px; position:relative; 
	background-color:#fff; border:solid 1px #dcdcdc; 
}
.gnb li.m_talk .info_l li span { 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bul_gnblist5Ltop.gif") no-repeat; 
	width:10px; height:12px; display:block; position:absolute; top:-10px; left:32px;}
.gnb li.m_talk .info_l li a { color:#757575; padding:5px 10px 10px; display:block; overflow:hidden;}
.gnb li.m_talk .info_l li p { color:#a1a1a1; padding:10px 10px 0 10px; }
.gnb li.m_talk .info_l li strong { display:inline-block;}
.gnb li.m_talk .info_l li em { 
	padding-left:11px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/news/view/img_debate.gif") no-repeat 5px -140px; 
}
.gnb li.m_talk .c_newszine { 
	width:258px; height:268px; float:left; border:solid #ddd; border-width:0 1px 1px; position:relative;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/img_gnblist5zine.gif") repeat-x 0 -221px;
}
.gnb li.m_talk .c_newszine .tit { width:100%; height:54px; display:block; }
.gnb li.m_talk .c_newszine .tit a {
	width:211px; height:25px; text-indent:-3000em; overflow:hidden; display:block; position:relative; top:10px; left:26px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/tit_gnblist5zine.gif") no-repeat; 
}
.gnb li.m_talk .c_newszine div {
	width:166px; height:200px; margin:0 auto; display:block; position:relative; overflow:hidden;
}
.gnb li.m_talk .c_newszine li {
	width:166px; height:200px; float:left; position:relative; 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/img_gnblist5zine.gif") no-repeat; 
}
.gnb li.m_talk .c_newszine li p {
	width:129px; height:45px; display:block; position:absolute; top:15px; left:11px; 
	font-size:11px; color:#b4b4b4; line-height:13px; 
}
.gnb li.m_talk .c_newszine li p img {width:45px; height:45px; float:left; margin-right:12px;}
.gnb li.m_talk .c_newszine li p strong {
	width:64px; color:#fff; background:#b4b4b4; display:inline-block; line-height:16px; padding:0 4px;}
.gnb li.m_talk .c_newszine li p em {font-weight:bold; padding-top:6px; display:inline-block;}
.gnb li.m_talk .c_newszine li .img {width:159px; height:82px; display:block; position:absolute; bottom:1px; left:1px;}
.gnb li.m_talk .c_newszine li .img img{width:100%; height:100%; position:absolute; top:0; left:0; z-index:10;}
.gnb li.m_talk .c_newszine li .txt {
	width:135px; height:32px; overflow:hidden; display:block; font-weight:bold; color:#2b2b2b; 
	position:absolute; top:72px; left:11px; 
}
.gnb li.m_talk .c_newszine .btn a {
	width:16px; height:17px; position:absolute; top:144px; text-indent:-3000em; overflow:hidden; display:block;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/img_gnblist5zine.gif") no-repeat; 
}
.gnb li.m_talk .c_newszine .btn a.btn_prev {background-position:-180px 2px; left:15px;}
.gnb li.m_talk .c_newszine .btn a.btn_next {background-position:-245px 2px; left:226px;}
.gnb li.m_talk .c_newszine .b_shadow {
	width:260px; height:8px; display:block; position:absolute; bottom:-9px; left:-1px;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/bg_gnblist5zine.gif") repeat-x; 
}

.gnb li.m_talk .info_r {width:265px;}
.gnb li.m_talk .info_r .r_mtop {width:100%; height:85px; display:block; margin-bottom:16px;}
.gnb li.m_talk .info_r .r_mtop dt {width:130px; float:right; margin:2px 0 4px;}
.gnb li.m_talk .info_r .r_mtop dt a {font-weight:bold; font-size:11px; color:#37a802;}
.gnb li.m_talk .info_r .r_mtop .img{width:125px; height:100%; float:left; overflow:hidden;}
.gnb li.m_talk .info_r .r_mtop .img img {width:100%; min-height:100%; height:auto !important; }
.gnb li.m_talk .info_r .r_mtop .txt {width:130px; float:right; }
.gnb li.m_talk .info_r .r_mtop .txt strong a {
	width:100%; height:30px; display:block;  overflow:hidden; letter-spacing:-1px; color:#373737; margin-bottom:5px;
}
.gnb li.m_talk .info_r .r_mtop .txt p img {width:25px; height:25px; border:1px solid #b4b3b1; float:left; margin-right:5px;}
.gnb li.m_talk .info_r .r_mtop .txt p strong {color:#676767; line-height:25px;}
.gnb li.m_talk .info_r .r_picnews {width:100%; display:block; clear:both;}
.gnb li.m_talk .info_r .r_picnews li {width:125px; height:100%; margin-right:15px; float:left;}
.gnb li.m_talk .info_r .r_picnews li strong a { font-size:11px; color:#37a802;}
.gnb li.m_talk .info_r .r_picnews li a.img {
	width:100%; height:85px; display:block; letter-spacing:-1px; color:#fefefe; overflow:hidden; position:relative;
}
.gnb li.m_talk .info_r .r_picnews li a.img img {width:100%; min-height:100%; height:auto !important;}
.gnb li.m_talk .info_r .r_picnews li a.img span,
.gnb li.m_talk .info_r .r_picnews li a.img em {
	width:100%; height:100%; display:none; position:absolute; top:0; left:0;}
.gnb li.m_talk .info_r .r_picnews li a.img:hover { text-decoration:none;}
.gnb li.m_talk .info_r .r_picnews li a.img:hover span,
.gnb li.m_talk .info_r .r_picnews li a.img:hover em {display:block;}
.gnb li.m_talk .info_r .r_picnews li a.img span {
	width:100%; height:100%; z-index:100; background:#000; opacity:0.6; filter:alpha(opacity=60); }
.gnb li.m_talk .info_r .r_picnews li a.img em {
	width:105px; height:65px; padding:10px; z-index:110; text-align:center; cursor:pointer; }
.gnb li.m_talk .info_r .r_picnews li.last {margin-right:0;}
.gnb li.m_talk .info_r .r_mission {width:100%; height:51px; float:left; margin-top:15px; clear:both;}
.gnb li.m_talk .info_r .r_mission dt {
	width:51px; height:100%; float:left; overflow:hidden; text-indent:-3000em;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/img_list5mission1.gif") no-repeat; 
}
.gnb li.m_talk .info_r .r_mission dd {
	width:214px; height:100%; float:left;
	background:#f8f8f8 url("http://img.nocutnews.co.kr/nocut/v2/common/img_list5mission1.gif") no-repeat 192px -56px; 
}
.gnb li.m_talk .info_r .r_mission dd a {
	padding:10px 35px 10px 13px; display:block; font-weight:bold; color:#373737;
}
/* -----------------------------------------------------------------------------------------------
gnb - searchbox*/
.gnb .searchbox {width:172px; float:right; border:1px solid #2e408e; margin:6px 6px 0 0; display:inline;}
.gnb .searchbox input { 
	width:135px; height:14px; padding:5px; float:left; border:0; background-color:#fff; 
}
.gnb .searchbox .btn_search { 
	width:26px; height:24px; float:right; text-indent:-3000em; overflow:hidden; 
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/btn_GnbSearch.gif") no-repeat; 
}

/* -----------------------------------------------------------------------------------------------
gnb - gnb_ban */
.gnb .gnb_ban {float:right; position:relative; top:-1px; right:10px;}
.gnb .gnb_ban a.depth1 {position:absolute; top:; right:0; z-index:1000; display:block; }
.gnb .gnb_ban a.depth1.sel {z-index:1100;}

/*2016개편후*/
.gnb_v2 {width:980px !important; margin:0 auto;position: relative; background:none !important; border: none !important; height: 40px !important; z-index: 10001; }
.gnb_v2 .nav { float: left; width: 660px; background-color: #1f4fa3;position: relative; z-index:50; }
.gnb_v2 .nav ul { width: 561px; float: left; padding-left: 26px;}
.gnb_v2 .nav ul li { float: left;padding-right:19px;}
.gnb_v2 .nav ul li a { 
	display: block;text-indent: -3000em;height: 15px; padding: 12px 0 13px;
	background: url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_bg_img_160421.gif") no-repeat;
}
.gnb_v2 .nav ul li.m1 a { background-position: 0 0;width: 25px; }
.gnb_v2 .nav ul li.m2 a { background-position: -60px 0;width: 25px; }
.gnb_v2 .nav ul li.m3 a { background-position: -118px 0;width: 26px; }
.gnb_v2 .nav ul li.m4 a { background-position: -178px 0;width: 25px; }
.gnb_v2 .nav ul li.m5 a { background-position: -237px 0;width: 39px; }
.gnb_v2 .nav ul li.m6 a { background-position: -309px 0;width: 58px; }
.gnb_v2 .nav ul li.m7 a { background-position: -400px 0;width: 39px; }
.gnb_v2 .nav ul li.m8 a { background-position: -472px 0;width: 26px; }
.gnb_v2 .nav ul li.m8 {padding-right: 0;}
.gnb_v2 .nav ul li.newest a { background-position: 0 -97px;width: 51px; }
.gnb_v2 .nav ul li.column a { background-position: -448px -97px;width: 50px; }
/*.gnb_v2 .nav ul li.vote2016 a { 
	background: url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_vote2016.png") no-repeat;
	width:128px; height:26px; margin:-11px 0 0 -50px; position:relative; left:-4px;
}*/

.gnb_v2 .nav ul li a:hover,
.gnb_v2 .nav ul li.sel a { border-bottom: 5px solid #fff; padding-bottom: 8px; }
/*.gnb_v2 .nav ul li.vote2016 a:hover,
.gnb_v2 .nav ul li.sel.vote2016 a { border-bottom: 0 none; padding-bottom: 13px; }*/
.gnb_v2 .nav .btn_allview { 
	float: right; width: 73px;display: block;height: 11px;text-indent: -3000em;cursor: pointer;margin-top: 14px;
	background: url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_bg_img.gif") no-repeat 0 -289px;
}
.searchbox_v2 { 
	width: 279px; border: 1px solid #d7d7d7;height: 29px;float: right;padding-left: 39px;padding-top: 9px;
	position: relative; z-index:50;
	background:#f7f7f7 url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_bg_img.gif") no-repeat -459px -273px;
}
.searchbox_v2 input { 
	width: 230px;padding-left: 9px; border:0; height: 15px; float: left;margin-top: 3px;
	background:#f7f7f7 url("http://img.nocutnews.co.kr/nocut/v2/common/input_txt_bg.gif") no-repeat 9px 0; 
}
.searchbox_v2 a.btn_search { 
	text-indent: -3000em;float: left;width: 40px; height: 20px;
	background: url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_bg_img.gif") no-repeat -475px -194px;

}

.allmenu { 
	clear: both; position: absolute; width: 948px; border: 1px solid #d7d7d7; border-width: 0 1px 1px;
	background-color:#fff;top: -100px;padding: 30px 0 0 30px;z-index: 1;opacity:0;height:0;
	transition: .2s ease;
	-ms-transition: .2s ease;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
}
.allmenu ul { display: none; }
.allmenu.open { 
	top: 40px; z-index: 49;opacity:1;height: 269px;
	transition: .3s ease;
	-ms-transition: .3s ease;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
}
.allmenu.open ul { display: block; }
.allmenu ul li { float: left; }
.allmenu ul li.n_depth {float: none;margin-bottom: 12px; line-height: 13px;}
.allmenu ul li ul { margin-top: 14px; padding-right: 29px;}
.allmenu ul li ul.local { width: 90px; height:192px; padding-right: 10px; }
.allmenu ul li ul.local li { float: left; width: 50%; }
.allmenu ul li a { font-weight: bold; font-size: 14px; line-height: 13px;}
.allmenu ul li li { float: none; width: auto; margin: 0 0 12px;}
.allmenu ul li li a { font-weight: normal; font-size: 12px; display: block;}
.allmenu .btn_layer_close { 
	position: absolute; right: 20px; bottom: 20px; width: 14px; height: 14px;display: block;text-indent: -3000em;
	background: url("http://img.nocutnews.co.kr/nocut/v2/common/gnb_bg_img.gif") no-repeat -238px -286px;
}
.right_menu { float: left;width: 110px; }
.right_menu li { width: 100%; margin-bottom: 15px; }
.right_menu li a { width: 100%;display: block; }
