﻿/* header */
.header h1 { width:395px;height:100px;display:block; position:absolute;top:30px;left:292px;}
.header h1 a {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/header_logo160219.gif") no-repeat;
	text-indent:-3000em; overflow:hidden;position:absolute;display:block;
	width:210px; height:78px; display:block; top:50%; left:50%; margin:-39px 0 0 -105px;
}
/*.header h1 { width:395px;height:100px;display:block; position:absolute;top:24px;left:292px;}
.header h1 a {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/header_logo140129a.gif") no-repeat 0 -88px;
	text-indent:-3000em; overflow:hidden;position:absolute;display:block;
	width:167px; height:62px; display:block; top:27px; left:101px;
}*/

/*.header h1 .ico_sewol {
	width:42px; height:75px; display:block; float:left; position:absolute; top:20px; left:50%;
	background:url("http://img.dramatok.com/common/ico_sewol1504.png") no-repeat;
	background-size:42px auto;
	margin-left:-140px; text-indent:-3000em; overflow:hidden; 
}*/

/*로고+국화이미지
	.header h1 a {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/header_logo140428.gif") no-repeat ;
	text-indent:-3000em; overflow:hidden;position:absolute;display:block;
	width:249px; height:83px; display:block; top:6px; left:101px;
}*/

/*로고+2016년새해이미지
	.header h1 a.logo_n {
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/logo_2016_newyear.jpg") no-repeat ;
	text-indent:-3000em; overflow:hidden;position:absolute;display:block;
	width:372px; height:100px; display:block; top:6px; left:0;
}*/
.header h1 span { position:absolute;top:0;right:6px;}
.header h1 a{ }
.header h2{ display:none;}/* 서브페이지에서만 노출 */
.header .head_adl,
.header .head_adr { width:234px;height:60px;display:block; position:absolute;top:50px; }
.header .head_adl { left:0;}
.header .head_adr { right:0;}
.header .head_adr2 { display:none;}
