﻿/* font-family: 'Nanum Gothic'; */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
/* font-family: 'Nanum Barun Gothic'; */
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

@import url(main_head.css);  
@import url('/jquery/plugin/swiper/css/swiper.min.css');
/* top ad */
.ad_top1 { background:#f7f7f7; float:left; width:100%; height:114px; text-align:center; }
.ad_top1 div {width:728px; display:block; margin:12px auto 10px; position:relative}
.ad_top1 p {position:absolute; top:72px; right:-70px}

/* content */
.content {width:660px; float:left; }
.content .section { overflow:hidden; zoom:1; border-bottom:1px solid #cacaca; padding-bottom:25px; margin-bottom:25px; }

/*크롬, 사파리 스타일*/
@media screen and (-webkit-min-device-pixel-ratio:0){/*데이블기사와 포토뉴스의 하단을 맞추기위한 스타일 수정*/
.content .section { padding-bottom:27px; margin-bottom:25px; }
}

/* content - pan1 */
.content .pan1 .top1 { width:100%; height:403px; }
.content .pan1 .top1 a { width:100%; height:100%; position:relative; display:block; }
.content .pan1 .top1 a img { width:100%; height:100%; position:relative;  }
.content .pan1 .top1 a span {
	width:100%; height:70px; line-height:70px; position:absolute; bottom:0; left:0; display:block;
	background-color:rgba(0,0,0,0.6); color:#fff; font-size:25px; letter-spacing:-1px;
	font-family: NanumGothic,'Nanum Gothic', 'Malgun Gothic', Dotum;
}
.content .pan1 .top1 a span strong { display:block; padding:0 20px; text-align:center; }
.content .pan1 .top1 a span strong img { width:50px; vertical-align:middle; margin-right:5px; }
.content .pan1 .top2 { overflow:hidden; zoom:1; margin:20px 0; }
.content .pan1 .top2 li {width:210px; float:left; margin-right:15px;background-color:#434343;}
.content .pan1 .top2 li:last-child {margin-right:0;}
.content .pan1 .top2 li a { display:block; font-size:16px; font-weight:bold; letter-spacing:-1px; color:#fff; }
.content .pan1 .top2 li a:first-child {width:100%; height:163px; overflow:hidden; position:relative;}
.content .pan1 .top2 li a:first-child img {
	width:100%; min-height:100%; height:auto; position:absolute; left:0; top:0;
}
.content .pan1 .top2 li a:first-child img.img_quick {width:42px; height:27px; min-height:27px; height:auto; }
.content .pan1 .top2 li a:last-child { height:40px; margin:15px; background-color:#434343; overflow: hidden; }
.content .pan1 .con_l { width:430px; float:left;}
.content .pan1 .con_l ul:first-child { margin-bottom:15px; }
.content .pan1 .newslist li { 
	display:block; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
}
.content .pan1 .newslist li a { 
	font-size:16px; font-weight:bold; letter-spacing:-1px; line-height:29px; color:#000; overflow:hidden;
}
.content .pan1 .newslist li .sub_title { 
	font-size: 13px; color:#055ec2; line-height: 1.2;display: block;position: relative; top: 3px;
}
.content .pan1 .con_r { 
	width:210px; float:right; overflow:hidden;padding-top:4px;
}
.content .pan1 .themenews { width:100%; height:135px; position:relative; margin-bottom:30px;}
.content .pan1 .themenews ul { position:relative; z-index:10;}
.content .pan1 .themenews ul li { width:100%; height:100%; float:left; position:relative; overflow:hidden;}
.content .pan1 .themenews li a {
	width:100%; height:100%; display:block; position:relative;
	letter-spacing:-1px; color:#fff; text-align:center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.content .pan1 .themenews li a img {
	width:210px; height:135px; vertical-align:top; opacity:0.2;
	position:absolute; top:0; left:0;
}
.content .pan1 .themenews li a strong {
	width:190px; height:62px; display:block; font-size:16px; margin:0 auto;
	position:relative; left:0; top:32px;
}
.content .pan1 .themenews li a span {
	width:190px; display:block; font-size:11px; margin:0 auto;
	position:relative; left:0; top:33px;
}
.content .pan1 .themenews ul li a:hover { text-decoration:none; }
.content .pan1 .themenews ul li:first-child { margin-bottom:23px;}
.content .pan1 .themenews ul li:first-child a { margin-bottom:23px; background:#112645 }
.content .pan1 .themenews ul li:last-child a { background:#453111; }
.content .pan1 .themenews ul li:first-child a:hover { border:5px solid #0078ff; }
.content .pan1 .themenews ul li:last-child a:hover { border:5px solid #ff8400; }
.content .pan1 .themenews ul li a:hover img { top:-5px; left:-5px; }
.content .pan1 .themenews ul li a:hover strong { top:27px }
.content .pan1 .themenews ul li a:hover span { top:28px; }
.content .pan1 .themenews p { position:absolute; right:10px; top:10px; z-index:20;}
.content .pan1 .themenews p span {
	display:block; background:rgba(256,256,256,0.2); width:8px; height:8px; overflow:hidden; zoom:1; 
	text-indent:-300px; display:inline-block; cursor:pointer;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
}
.content .pan1 .themenews p span.sel {background:#cacaca; }

.content .pan1 .editnews { width:100%; height:135px; }
.content .pan1 .editnews a {
	width:100%; height:100%; display:block; position:relative;
	letter-spacing:-1px; color:#fff; text-align:center; background:#434343;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
 }
.content .pan1 .editnews a img { 
	width:210px; height:135px; vertical-align:top; opacity:0.2;
	position:absolute; top:0; left:0; z-index:10;
}
.content .pan1 .editnews a strong {
	width:190px; height:62px; display:block; font-size:16px; margin-left:-95px;
	position:absolute; top:35px; left:50%; z-index:11; text-align:center;
}
.content .pan1 .editnews a:hover { border:5px solid #1b1b1b; }
.content .pan1 .editnews a:hover img { top:-5px; left:-5px; }
.content .pan1 .editnews a:hover strong { top:30px }

/* content - photonews */
.content .photonews h2 { 
	display:block; color:#000; font-size:14px; letter-spacing:-1px; font-weight:bold; margin-bottom:5px;
	font-family: NanumBarunGothic,'Nanum Barun Gothic', 'Malgun Gothic', Dotum;
}
.content .photonews p { width:394px; height:329px; float:left; overflow:hidden; position: relative;}
.content .photonews p a span { 
	display: block; position: absolute; left: 0; bottom: 0; padding: 15px;
	background-color: rgba(0,0,0,0.6);width: 364px;
}
.content .photonews p a span strong { 
	display: block; color:#fff; font-size: 14px;width: 100%;overflow:hidden; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	white-space:nowrap;
}
.content .photonews p a { display: block; width: 100%;height: 100%; }
.content .photonews a img { width:100%; height:100%; }
.content .photonews ul { width:266px; height:330px; float:right;}
.content .photonews ul li {
	width:132px; height:109px; float:left; margin:0 0 1px 1px; display:inline; overflow:hidden; 
}
.content .photonews ul li:nth-child(5),
.content .photonews ul li:nth-child(6) {margin-bottom:0; }
.content .photonews ul li a { overflow:hidden; width:100%; height:100%; display:block; position:relative;}
.content .photonews ul li a img {
	width:100%; height:100%;
	position:relative;
	transform:scale(1);
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	transition:all ease .35s;
	-moz-transition:all ease .35s;
	-webkit-transition:all ease .35s;
	-o-transition:all ease .35s;
}
.content .photonews ul li a:hover img { 
	opacity:0.4;
	transform:scale(1.15);
	-moz-transform:scale(1.15);
	-webkit-transform:scale(1.15);
	-o-transform:scale(1.15);
}
.content .photonews ul li.sel a img { opacity:0.4;}
.content .photonews ul li a .ico_slide {
    background: url("http://img.nocutnews.co.kr/nocut/v2/photo/ico_slide1.gif") no-repeat;
    width:17px; height:13px; display:block; position:absolute; right:10px; bottom:10px;
	text-indent:-300px; overflow:hidden; z-index:10;
}
/* content - pan2 */
.content .pan2 li { width:325px; height:325px; }
.content .pan2 li:nth-child(2n+1) { float:left; }
.content .pan2 li:nth-child(2n+2) { float:right; }
.content .pan2 li:nth-child(1) ,
.content .pan2 li:nth-child(2) { margin-bottom:10px;}
.content .pan2 li a {width:100%; height:100%; display:block; overflow:hidden; position:relative; }
.content .pan2 li a img { width:330px; height:auto; position:absolute; top:0; left:50%; margin-left:-165px;}
.content .pan2 li:nth-child(1) a img { width:420px; margin-left:-210px;}
.content .pan2 li a span { 
	display:block; width:100%; height:70px; color:#fff; font-size:16px; letter-spacing:-1px;
	padding:15px 30px; position:absolute; bottom:0; left:0; background-color:#434343;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.content .pan2 li a:hover { text-decoration:none; }
.content .pan2 li a:hover span { text-decoration:underline; }

/* content - sisaonair */
.content .sisaonair li {width:100%; overflow:hidden; zoom:1; margin-bottom:20px; background:#f8f8f8; }
.content .sisaonair li:last-child { margin-bottom:0; }
.content .sisaonair li img {float:left; }
.content .sisaonair li dl {float:right; width:315px; padding-right:30px; }
.content .sisaonair li dl a {color:#000;}
.content .sisaonair li dl dt { display:block; font-weight:bold; font-size:15px; letter-spacing:-1px; margin:15px 0 5px;}
.content .sisaonair li dl dd a {
	display:block; font-size:14px; letter-spacing:-1px; line-height:1.9; padding-left:8px;
	overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;
	background:url("http://img.nocutnews.co.kr/nocut/v2/common/dot_list1.gif") no-repeat 1px 11px;
}
.content .sisaonair li dl dd li {margin-bottom:0;}

/* content - pan3 */
.content .pan3 { border-bottom:0 none; padding-bottom:0;  }
.content .pan3 p { width:330px; height:331px; float:left; }
.content .pan3 p a {width:100%; height:100%; display:block; overflow:hidden; position:relative; }
.content .pan3 p a b { 
	width:450px; height:100%; position:absolute; top:0; left:50%; margin-left:-225px;
	display:block; text-align:center;
}
.content .pan3 p a b img { width:auto; height:83%; position:relative; }
.content .pan3 p a span { 
	width:100%; height:70px; display:block; padding:15px 30px; position:absolute; bottom:0; left:0;
	background-color:#434343; color:#fff; font-size:16px; letter-spacing:-1px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
}
.content .pan3 p a span strong { display: block; height: 40px; overflow: hidden; }
.content .pan3 p a:hover { text-decoration:none; }
.content .pan3 p a:hover span { text-decoration:underline; }
.content .pan3 ul { width:330px; height:331px; float:right;}
.content .pan3 ul li { width:164px; height:165px; float:left; margin:0 0 1px 1px; display:inline; overflow:hidden; }
.content .pan3 ul li:nth-child(3),
.content .pan3 ul li:nth-child(4) {margin-bottom:0; }
.content .pan3 ul li a { overflow:hidden; width:100%; height:100%; display:block;}
.content .pan3 ul li a img {
	position:relative; width:130%; height:auto;
	left:-20px;
	transform:scale(1);
	-moz-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	transition:all ease .35s;
	-moz-transition:all ease .35s;
	-webkit-transition:all ease .35s;
	-o-transition:all ease .35s;
}
.content .pan3 ul li:first-child a img {width:165%; left:-50px;}
.content .pan3 ul li a:hover img { 
	opacity:0.4;
	transform:scale(1.15);
	-moz-transform:scale(1.15);
	-webkit-transform:scale(1.15);
	-o-transform:scale(1.15);
}
.content .pan3 ul li.sel a img { opacity:0.4;}

.view_gnb { display: none; }
.right_adbn {position:absolute; right: -210px;top: -40px;display: block;}