﻿@import url('/jquery/plugin/swiper/css/swiper.min.css');
/* 메인 2단 영역 */
.areabox { float: right; width: 295px; }
.container .areabox h3 { 
	margin: 0 0 10px;float: none; border-bottom: 0; padding-bottom:0;font-size:15px; font-weight: bold;
	font-family:NanumBarunGothic,"Nanum Barun Gothic","Malgun Gothic",Dotum;letter-spacing:-1px;
	text-indent: 0; background-image: none;
}
.container .areabox .nocut_v,
.container .areabox .ad1,
.container .areabox .usernews,
.container .areabox .cardnews,
.container .areabox .podcast,
.container .areabox .mostview { margin-bottom: 22px; }

.v_vod .txt,
.img_wrap .txt a { 
	display: block;text-align: left;font-weight: bold;font-size: 15px; overflow: hidden;
	line-height: 120%;height: 39px;margin: 0 15px; letter-spacing: -1px; color:#000;
	font-family:"Nanum Gothic","Gulim",sans-serif !important;
}
.areabox .ad1,
.areabox .ad2 { width: 100%;height: 185px;display: block;margin-bottom: 19px;clear: both; }

.container .areabox .nocut_v h3,
.container .areabox .cardnews h3 { 
	height: 29px; line-height: 29px; margin-bottom: 0; border-top:1px solid #000;
	background-color:#fff;
}
.container .areabox .cardnews h3 { border-bottom: 1px solid #000; }
.container .areabox .nocut_v h3 a,
.container .areabox .cardnews h3 a {
	color:#000; display: block; margin-left: 15px; 
	background:url("http://img.nocutnews.co.kr/nocut/v2/main/btn_more.gif") no-repeat right center;
}
.container .areabox .nocut_v h3 a:hover,
.container .areabox .cardnews h3 a:hover { text-decoration: none; }
.container .areabox .nocut_v { margin-bottom: 21px; }

.videobox { width: 295px; height: 248px; background:#000; position: relative; margin-bottom:14px;}
.videobox iframe { width: 295px; height: 250px; display: block;position: absolute;top: 50%;margin: -125px 0 0 0;}
.videobox .btn_play  { 
	display: block; position: absolute; left: 50%; top: 50%; width: 86px; height: 86px;text-indent: -3000em;
	background: url("http://img.nocutnews.co.kr/mnocut/v3/common/btn_play.png") no-repeat 0 0;
	margin-left: -43px;margin-top: -43px;cursor: pointer;
}
.videobox a { display: block; position: absolute; top: 50%; margin-top: -110px; }
.videobox a img { width: 100%; display: block; }
.thumlist { clear: both; width: 100%; overflow: hidden; margin: 9px 0 0; }
.thumlist li { float: left; margin-right: 1px; width: 98px; height: 62px;}
.thumlist li a img { width: 100%; height: 100%; vertical-align: top; opacity:0.4;}
.thumlist li a:hover img,
.thumlist li.sel a img{ opacity:1; }
.thumlist li:last-child { margin-right: 0; width: 97px; }

.container .areabox .nocut_v { background-color:#f8f8f8; }
.newslist_ol { border-bottom: 1px solid #e7e7e7; }
.newslist_ol li { width: 100%; overflow: hidden; border-top: 1px solid #e7e7e7; }
.newslist_ol li a { float: left;width: 100%; font-family:"Nanum Gothic","Gulim",sans-serif !important;}
.newslist_ol li em { 
	font-style: italic; font-weight: bold; font-size: 12px; font-family:Verdana; float: left; width: 21px;
	color:#e93921;position: relative; top: 13px;left: 1px;
}
.newslist_ol li span {
	float: left;font-size: 14px; color:#000;margin: 12px 0 11px; width: 274px; height: 37px; overflow: hidden;
}
.newslist_ol li.img span { width: 160px; }
.newslist_ol li img { float: right; width: 80px; height: 60px; }

.container .areabox .cardnews .swiper-container { margin-bottom:1px; }
.container .areabox .cardnews .thumlist { margin-top: 0; }
.container .areabox .cardnews .thumlist li { height: 97px; }
.container .areabox .cardnews p.txt { display: none; }

.img_wrap { width:100%;position:relative; }
.img_wrap .swiper-container,
.img_wrap .swiper-wrapper,
.img_wrap .data { height:295px;}
.img_wrap .data { overflow:hidden;}
.img_wrap .data img { min-height:100%; height:auto !important; height:100%;}
.img_wrap img { width:100%; vertical-align: top;}
.swiper-container { width:100%;overflow:hidden; height:100%; margin-bottom:15px;}
.swiper-container .swiper-wrapper { width:100%; }
.swiper-container .swiper-wrapper li { float: left; width:100%;position:relative; }
.img_wrap .img_move a { 
	display:block; text-indent:-3000em;width:32px;height:40px;
	background: url("http://img.nocutnews.co.kr/v/content/img_btn_arrow.png") no-repeat;
	background-size:32px auto;
}
.img_wrap .img_move {position:absolute; left:0; top:50%; width:100%; height:0px; margin-top:-48px; z-index:10;}
.img_wrap .img_move a.btn_prev { background-position: 0 0; float: left; }
.img_wrap .img_move a.btn_next { background-position: 0 -40px;float: right;}

.podcast img { display: block; }
.areabox .photonews { float: none !important; }