.view-bloque-apertura-contenedor-home .views-row{
    width:25%;
    float:left;
}

.view-bloque-apertura-capitulos, .view-bloque-apertura-noticias, .view-bloque-apertura-fotos, .view-bloque-apertura-chismes, .view-bloque-apertura-videos {
    /*background-color:#02254b;*/
    color: #FFFFFF;
    display: block;
    float: left;
    padding: 0px;
    width: 990px;
}
.view-bloque-apertura-contenedor-home .view-content {
    padding: 0 1% 0 3%;
    width: 96%;
}

.view-bloque-apertura-fotos{


}
.view-bloque-apertura-chismes{


}
/*----------------APERTURA VIDEOS---------------*/
.view-bloque-apertura-videos .views-row
{
    margin-bottom: 1%;
    margin-right: 1%;
    padding-bottom: 1%;
    position: relative;
    width: 32%;
	min-height: 237px;
}
 .view-bloque-apertura-capitulos .views-row-2 .views-field-body, .view-bloque-apertura-capitulos .views-row-3 .views-field-body, .view-bloque-apertura-capitulos .views-row-4 .views-field-body, .view-bloque-apertura-capitulos .views-row-5 .views-field-body
 {
	display:none;
}

.view-bloque-apertura-videos .views-row-first .views-field-field-imagen
{
    width: 100%;
	margin-right: 0;
}

.view-bloque-apertura-videos  .icono-play {
background-image :url(../images/play-vid.png) ;
background-repeat:no-repeat;
background-position:left top;
background-size: cover;
width: 90px;
height: 90px;
position: absolute;
display: block;
left: 43%;
top: 22%;

}
.view-bloque-apertura-videos  .views-row-2 .icono-play, .view-bloque-apertura-videos  .views-row-3 .icono-play, .view-bloque-apertura-videos  .views-row-4 .icono-play, .view-bloque-apertura-videos  .views-row-5 .icono-play {
background-image :url(../images/play-vid.png) ;
background-repeat:no-repeat;
background-position:left top;
width: 35px;
height: 35px;
background-size: cover;
left: 20%;

}

/*---------------- FIN APERTURA VIDEOS---------------*/
/*---------------- APERTURA GALERIAS---------------*/
.view-bloque-apertura-capitulos .views-row {
    margin-bottom: 0;
    margin-right: 2%;
    padding-bottom: 1%;
    width: 22%;
}

.view-bloque-apertura-contenedor-home  .views-field-title {
text-shadow: 1px 1px 2px #000;
letter-spacing: 0;
}


.view-bloque-apertura-capitulos .views-row img {
    width: 100%;
	float:left;

}
.view-bloque-apertura-capitulos .views-row-2, .view-bloque-apertura-capitulos .views-row-3, .view-bloque-apertura-capitulos .views-row-4, .view-bloque-apertura-capitulos .views-row-5 {
    height: 220px;
	overflow:hidden;
}
.view-bloque-apertura-capitulos .views-row-2 .views-field-title a , .view-bloque-apertura-capitulos .views-row-3 .views-field-title a, .view-bloque-apertura-capitulos .views-row-4 .views-field-title a, .view-bloque-apertura-capitulos .views-row-5 .views-field-title a{
	font-size: 25px;
   
}
.view-bloque-apertura-capitulos .views-row-2 views-field-title .views-field-field-imagen-galeria, .view-bloque-apertura-capitulos .views-row-3 .views-field-field-imagen-galeria, .view-bloque-apertura-capitulos .views-row-4 .views-field-field-imagen-galeria {
    width: 100%;
	height:95px;
	overflow:hidden;
		margin-bottom:5px;

}
.view-bloque-apertura-capitulos .views-row-first img {
    width: 100%;
	margin-right: 0;

}
.view-bloque-apertura-capitulos .views-row-first {
    float: left;
    margin-bottom: 0;
    margin-right: 2%;
    padding-bottom: 0;
    position: relative;
    width: 50%;
	

}
.view-bloque-apertura-capitulos .views-row-first img {
    float: none !important;
    height: auto !important;
    margin: auto;
    text-align: center;
    width: 100% !important;
}
.view-bloque-apertura-capitulos .views-row-first .views-field-title, .view-bloque-apertura-capitulos .views-row-first .views-field-body  {

    line-height: 1em;

}
.views-field-field-imagen-galeria {
	text-align:center;
}
/*---------------- FIN APERTURA GALERIAS---------------*/
/*---------------- APERTURA NOTICIAS---------------*/


.view-bloque-apertura-fotos .views-row-first , .view-bloque-apertura-noticias .views-row-first img {
    width: 100%;
	margin-right: 0;

}

.view-bloque-apertura-fotos .views-field-field-imagen-personaje a {
    width: 50% !important;
	float:left;
	height: auto !important;
}
.view-bloque-apertura-fotos .view-header {
    float: right;
    padding-right: 2%;
    padding-top: 2%;
    width: 31%;
	margin-right: 0;
}
.view-bloque-apertura-chismes .views-row-2, .view-bloque-apertura-chismes .views-row-4,
.view-bloque-apertura-noticias .views-row-2, .view-bloque-apertura-noticias .views-row-4
{
	margin-right:0 !important;
}
.view-contenedor-exclusivas-clips- .views-row
{
	 width: 49%;
	margin-bottom: 1%;
	padding-bottom: 1%;
	margin-right: 2%;
	min-height:210px;
	
  
}
.view-bloque-apertura-fotos .views-row-4, .view-bloque-apertura-noticias .views-row-4 {
	border-bottom: none;
  
}

.view-bloque-apertura-fotos .views-row-last {
	margin-right: 0;
}
.view-bloque-apertura-fotos .views-row-first , .view-bloque-apertura-noticias .views-row-first .field-content a {
	 font-family: 'bebas_neueregular',sans-serif;
    font-size: 23px;
    line-height: 1em;

}
/*---------------- FIN APERTURA NOTICIAS ---------------*/





/*---------------- APERTURA JURADOS---------------*/


.view-bloque-apertura-noticias .views-field-body span {
	color: #fff !important;
     
}
.view-bloque-apertura-noticias .views-field-field-imagen-apertura {
	margin-bottom: 5px;
     
}

/*---------------- FIN APERTURA NOTICIAS ---------------*/
/*---------------- APERTURA JURADOS---------------*/
.view-bloque-apertura-chismes .views-row {
	position: relative;
}
.view-bloque-apertura-chismes .views-row-3 .views-field-title {
	bottom: -21px;	
}
.view-bloque-apertura-chismes .views-field-body {
	font-family: arial;
	line-height: 1.2em;
	font-size: 1.1em;
	display:none;

	
}

.view-bloque-apertura-chismes .view-footer .views-row-first, .view-bloque-apertura-noticias .view-footer .views-row-first   {
	min-height: 20px;

}

.view-bloque-apertura-chismes  .views-row-4  {
	   border-bottom: none;
   
}
.view-bloque-apertura-contenedor-home .view-bloque-apertura-chismes .view-content, .view-bloque-apertura-contenedor-home .view-bloque-apertura-noticias .view-content {
    float: left;
    width: 63%;
}
.view-bloque-apertura-chismes .view-footer, .view-bloque-apertura-noticias .view-footer {
    width: 300px;
	float:left;   
}
.view-bloque-apertura-noticias .view-footer .view  {
    height: auto !important ;
	float:left; 
	background-image: none !important;
	padding: 0  !important;
	  
}
.view-bloque-apertura-contenedor-home .view-bloque-apertura-noticias .view-footer .view-content, .view-bloque-apertura-noticias .view-footer .views-row {
    float: left;
    width: 100% !important;
	padding: 0  !important;
}
.block-31, .view-banner-pauta-apertura, .block-419, .block-201 {
    width: 100% !important;
	margin-bottom: 3%; 
	height: auto !important;
	background-image: none !important;
	
}
.view-banner-pauta-apertura {
	padding: 0 0 10px 0 !important;
	 width: 100% !important;
	 height: auto !important;
 
	
}
.view-bloque-apertura-chismes .view-banner-pauta-apertura .views-row-1, .view-bloque-apertura-chismes .view-banner-pauta-apertura .view-content {
    margin-right: 0  !important;
    width: 100% !important;
	background-image: none !important;
	padding: 0 0 5px 0 !important;
		 height: auto !important;
}

.view-bloque-apertura-chismes .views-row-2 .views-field-field-imagen, .view-bloque-apertura-chismes .views-row-3 .views-field-field-imagen, .view-bloque-apertura-chismes .views-row-4 .views-field-field-imagen, .view-bloque-apertura-noticias .views-row-2 .views-field-field-imagen, .view-bloque-apertura-noticias .views-row-3 .views-field-field-imagen, .view-bloque-apertura-noticias .views-row-4 .views-field-field-imagen   {
	width: 100%;
	float:left;
   
}
.view-bloque-apertura-chismes .views-row-2 .field-content a, .view-bloque-apertura-chismes .views-row-3 .field-content a  {
    font-size: 25px;
}


.view-bloque-apertura-videos .views-row-first, .view-bloque-apertura-videos .views-row-last, .view-bloque-apertura-capitulos .views-row-last, .view-bloque-apertura-capitulos .views-row-first {
	border-bottom: none;

}
/*.view-bloque-apertura-chismes {
	background-image: url("../images/colombia.png")!important ;
	background-position:top center;
	background-repeat:repeat-x;
	background-color:#e21265;
	padding-top: 20px;
}*/
.view-bloque-apertura-chismes {
	/*background-image: url("../images/apertura-trans.png")!important ;*/
	background-position:top center;
	background-repeat:repeat-x;
	/*background-color:#e21265;*/
	padding-top: 20px;
}

.view-bloque-apertura-videos {
	/*background-color:#1f85d8;*/
	 padding-top: 20px;
}
.view-bloque-apertura-capitulos {
	/*background-color:#81b428;*/
	padding-top: 20px;
}

.view-bloque-apertura-noticias {
	/*background-color:#ED9100;*/
	padding-top: 20px;
}


#content-brick {
    bottom: auto;
    display: block;
    float: none;
    height: 581px;
    left: auto;
    margin: 0;
    overflow: hidden;
    position: relative !important;
    right: auto;
    text-align: start;
    top: auto;
    z-index: auto;
}

#brick-pager #p1.selected {
    color: #E21265 !important;
}
#brick-pager #p2.selected {
    color: #1F85D8 !important;
}
#brick-pager #p3.selected {
    color: #8CBF2D !important;
}
#brick-pager #p4.selected {
    color: #A331EA !important;
}
#brick-pager #p5.selected {
    color: #ED9100 !important;
}
#content-brick .view {
	background-image: url("../images/apertura-trans.png");
	background-position:top center;
	background-repeat:repeat-x;
	height: 600px;
	background-size: contain;
	
}
#brick-pager {
    -moz-box-sizing: border-box;
    height: 60px;
    margin: 0 auto ;
    width: 990px;
    margin-top: -22px;
}
#brick-pager a {
    -moz-box-sizing: border-box;
    background-color: #2f2f2f;
    border-top: 7px solid ;
    color: white;
    display: block;
    float: left;
    font-family: 'bebas_neueregular',sans-serif;
    font-size: 40px;
    height: 59px;
    line-height: 55px;
     margin: -47px 0 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: border-top-color 0.8s ease 0s;
    width: 33.31%;
}
.brick-fullscreen {
    width: 100%;
}
.block-views-28050eb0c318ff9d969cfcbdd2b1ab79 {
	padding: 0;
    width: 100%;
	overflow: hidden;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(50, 50, 50, 0.30);
-moz-box-shadow:    0px 10px 10px 0px rgba(50, 50, 50, 0.30);
box-shadow:         0px 10px 10px 0px rgba(50, 50, 50, 0.30);
 margin-top: 10px;
}
.block-block-11 {
	position: relative;
	width: 100%;
	float: left;
}

#brick-pager a, .brick-prev a, .brick-next a{
    cursor:pointer;
}


#brick-prev {
    left: -700px;
}
#brick-next {
    right: -700px;
}
#brick-prev, #brick-next {
     bottom: 48px;
    display: block;
    font-size: 0;
    height: 581px;
    position: absolute;
    width: 60.8%;
    z-index: 6;
}
#brick-prev {
    transition: background 0.4s ease-in-out 0s;
	 background: url(../images/bt_prev.png) no-repeat right center rgba(5, 5, 40, 0.5);

}
#brick-next {
    transition: background 0.4s ease-in-out 0s;
	 background: url(../images/bt_next.png) no-repeat left center rgba(5, 5, 40, 0.5);

}





.views-field-field-orden {
    display: none;
}

#robapagina-apertura-idol {
	margin-bottom: 5%;
}
.view-bloque-apertura-noticias  .views-row .numero {
    width: 56px ;
	height: 56px;
	position:absolute;
	left: 0;
	top: 109px;
	background:url(../images/1.png) center top no-repeat;
}
.view-bloque-apertura-noticias .views-row-2 .numero {
	background:url(../images/2.png) center top no-repeat;
}
.view-bloque-apertura-noticias .views-row-3 .numero {
	background:url(../images/3.png) center top no-repeat;
}
.view-bloque-apertura-noticias .views-row-4 .numero {
	background:url(../images/4.png) center top no-repeat;
}
.view-bloque-apertura-noticias .views-row-5 .numero {
	background:url(../images/5.png) center top no-repeat;
}
