	.render-sondeo-home-cover-loading {
			width: 100%;
			background: url("../images/bg-recargavoto.png") repeat;
			text-align: center;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			display: none;

		}
	.render-sondeo-home-cover-loading img {
			position: absolute;
  			top: 50%;
  			left: 50%;
  			margin-top: -50px;
		}

   