/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*  se comentario la linea 2060 para solucionar supper banner  */
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold.eot');
    src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat-bold.woff') format('woff'),
         url('../fonts/montserrat-bold.ttf') format('truetype'),
         url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat-regular.woff') format('woff'),
         url('../fonts/montserrat-regular.ttf') format('truetype'),
         url('../fonts/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/lato-black-webfont.eot');
    src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black-webfont.svg#montserratregular') format('svg');
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', arial;
}
/*banner animado factor xf lanzamiento*/
.page-streamingrcn #lanzamiento
{
	bottom: 0;
    height: 450px;
    position: fixed;
    right: 0;
    width: 250px;
    z-index:39;
}
#lanzamiento
{
	bottom: 0;
    height: 550px;
    position: fixed;
    right: 0;
    width: 250px;
    z-index:50;
}
/*banner animado factor xf lanzamiento*/
#block-block-191 div, #block-block-181 div {
    display: block;
    margin: auto;
}
/**estilos dev streaming**/
.page-streamingrcn .player iframe {
    width: 100% !important;
	    height: 340px;
}
.front .player iframe {
    height: 100px !important;
    left: 11px !important;
    top: 0 !important;
    width: 178px !important;
}

/**fin estilos dev streaming**/

.cimacast
{
  /* width: 946px !important;*/
   display: block;
    text-align: center !important;
}
.cimacast .cimacast-video-thumb {
    display: inline-block;
    float: none !important;
	vertical-align: top;
}
/*LOGO DIOMEDES*/
.logo-dio
{
	float: right;
    position: absolute;
    right: -33px;
    top: 45px;
}
.logo-dio img
{
	width:70%;
	height: auto;
}
/*FIN LOGO DIOMEDES*/

#menu-ifrmae-canalrcn
{
	margin-bottom:0px !important;
	height:60px !important;
}


p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 0;
}
.views-field-body {
    line-height: 1.3em;
	font-size:14px;
	font-family: arial;
}
.view-banner-home-animado .views-field-body{
line-height: 0;
}
h2.block-title, .galerias-home h3{
    font-size: 40px;
	font-weight:normal;
	   font-family: 'Lato-Black';
	   width: 100%;
}
.views-field-title {
	     font-family: 'Lato-Black';
    font-size: 23px;
    font-weight: normal;
    line-height: 1em;
    margin-bottom: 7px;
}
.views-field-title a {
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;

}
.views-field-title a:hover {
	color: #196BAE;
}

.view-bloque-apertura-top5  .views-field-title a:hover {
	color: #a50505;
	text-shadow: 0px 0px 0px transparent;
}
.block-bloque-versus-home-block .views-field-title a:hover, .view-bloque-videos-home .views-field-title a:hover {
	color: #fff;
	text-shadow: 3px 3px 4px #000;
} 
.block-menu-menu-flotante, .page-temp-menu-iframe .block-menu-iframe-menu {
	/*background-color: rgba(248, 248, 248, 0.97);*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.5);
    left: 0;
    position: fixed;
    width: 100%;
	margin:-15px 0;
    z-index: 1000;
}
.block-menu-menu-flotante .first, .page-menu-iframe .block-menu-iframe-menu .first
{
    background-image: url("../images/logorcn-s.png");
    background-size: 80% auto;
    background-position: center center;
    color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
}
.block-menu-menu-flotante .menu, .page-temp-menu-iframe .menu {
    width: 990px;
	margin: 0 auto;
}
.botones-play {
    cursor: pointer;
    margin: 30px auto;
    width: 1382px;
	position: relative;
	display:none;
}
#play-button, #pause-button  {
 background: url("../images/play-bt.png") no-repeat scroll center top transparent;
    display: block;
    font-size: 0;
    height: 18px;
    margin-left: 40px;
    position: absolute;
    left: 0;
    top: -10px;
    width: 64px;
    z-index: 1;

}
#pause-button  {
	background: url(../images/pause-bt.png) center center no-repeat;
}
#pause-button.selected, #play-button.selected  {
	z-index:0;
}
.block-menu-menu-flotante h2, .page-temp-menu-iframe h2, .page-temp-menu-iframe #logo {
	display:none;

}
.context-temp-menu-iframe #block-block-466
{
	right:-120px;
}
.block-menu-menu-flotante .menu li, .page-temp-menu-iframe .block-menu-menu-iframe-menu .menu li {
	float:left;
	padding: 9px;
	border-right: solid 1px #B8BAC6;
	margin-left:0px;
}
.block-menu-menu-flotante .menu li.last {
display: none;
background: url(../images/menu-movil.png) center top no-repeat;
	width: 41px;
	height: 41px;
	display:none;
}
.block-menu-menu-flotante .menu li.last a {
	font-size: 0px;
	color:rgba(255,255,255,0.00);
	
}
.block-menu-menu-flotante .menu li.first a, .block-menu-iframe-menu .menu li.first a
{
	color:rgba(255,255,255,0.00);
}
.block-menu-menu-flotante .menu li.first a:hover
{
	color:rgba(255,255,255,0.00) !important;
}
.block-menu-menu-flotante .menu li a, .block-menu-iframe-menu .menu li a{
	color: rgb(0, 0, 0);
    font-family: "montserratbold";
    font-size: 1.06em;
    font-weight: normal;
    text-transform: uppercase;
 
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#suscripcion-mail
{
    background: rgba(0, 0, 0, 0) url("../images/boletin.png") no-repeat scroll left center / 94% auto;
    border-right: medium none rgb(255, 255, 255) !important;
    color: rgba(0, 0, 0, 0);
    font-size: 11px;
}

.block-menu-menu-flotante .menu li a:hover {
	color: #008DCC;
}

.page {
	 /*background-image: url("../images/bg-header-navidad2.jpg");*/
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    width: 100%;
	}
	.front #page-title {
		display:none;
	}
	#social {
		padding-top:5px;
	}
	#social div {
		float: right;
	}
	.instagram-logo {
  float: left !important;
  margin-right: 0.5em;
}
.section-header, .zone-footer-wrapper {
	margin: 0 auto;
    width: 990px;
	}
	/* CLASES FOOTER */
	.section-footer {
	width: 100%;
	background:url(../images/bg_footer.png) left top repeat-x #4c4c4c;
	float:left;
	color: #A6A6A6 !important;
	font-weight:normal !important;
	padding: 30px 0;
	}
	.section-footer h2 {
		display: none;
	}
	.section-footer h3 {
		border-bottom: solid 1px #565656; 
		margin-bottom: 10px;
		font-size:24px;
		font-weight:normal !important;
		
	}
	.section-footer a {
		color: #A6A6A6 !important;
		display: block;
		padding: 1px 0;
			-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
	}
	.section-footer .link-logo-rcn {
			background:url(../images/logo-footer-1.png) left top no-repeat;
			background-size: contain !important;
			width: 100px !important;
			height: 139px !important;
			float:left;
			font-size: 0px;
			display: block;
	}
	.section-footer .om-maximenu-tabbed-content {
			width: 85% !important;
			float:left;
			clear:none;
	}
	.section-footer .om-tabbed-content {
    float: left;
    width: 100%;
}
	.section-footer .om-menu-ul-wrapper {
			width: 15% !important;
			float:left;
	}
.section-footer .block-menu {
    border-right: 1px solid #565656;
    float: left;
    height: 400px;
    margin-right: 2%;
    padding-right: 2%;
    width: 21% !important;
}
.section-footer a:hover {
	color: #FFBE00 !important;
	padding-left: 10px;
	

}
	.section-footer .block-menu.last {
    border-right: none;
    margin-right: 0;
}
	.section-content, .region-content {
	width: 100%;
	margin:auto;
	position: relative;
	float: left;
	z-index:0 !important;

	}
	.page-streamingrcn .section-content, .page-streamingrcn .region-content {

	float: left !important;

	}
	.section-header {
		padding-top:15px;
	}
	a:link, a:visited {
    color: inherit;
    text-decoration: none;
}
	.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-17, .grid-18, .grid-19, .grid-20, .grid-21, .grid-22, .grid-23, .grid-24 {
    margin: 0;
    position: relative;
}
#logo {
    width: 100%;
}
	/* --------------------ESTILOS HEADER-----------------    */
	.site-name-slogan h1, .site-name-slogan h1 a, .block-menu-menu-secciones-principal-if h2.block-title, .block-menu-menu-canal-principal-iframe h2.block-title {
    font-size: 70px;
    font-weight: normal;
	font-size: 1px !important;
	color: #FFFFFF !important;
	display:none;
	}
	.zone-branding-wrapper {
	float: left;
	width: 14%;
	padding-top: 10px;
	}
	.region-branding {
	width: 96%;
	}
	.zone-header-wrapper {
	float: left;
	width: 100%;
	/*width: 96%;*/
	}

		.region-header-first {
	width: 100%;
	/*width: 85%;*/
	}
	.block-menu-menu-secciones-principal, .block-menu-menu-menu-principal , .block-menu-menu-secciones-principal-if {
	width: 100%;
	float:left;
	}
	.block-block-1 {
	width: 65% !important;
	float:left;
	padding-top: 5px;
	}
	.block-menu-menu-secciones-principal, .block-menu-menu-secciones-principal-if  {
	float: left;
    margin-right: 12%;
    width: 91%;
	}
	
	.block-menu-menu-secciones-principal, .block-menu-menu-secciones-principal-if  {
		text-align:right;
	}
	.block-menu-menu-menu-principal, .block-menu-menu-canal-principal-iframe {
		border-bottom: 1px solid #c6c6c6;
    border-top: 1px solid #c6c6c6;
    float: left;
    width: 100%;
	}
	.block-menu-menu-menu-principal ul.menu .first, .block-menu-menu-canal-principal-iframe ul.menu .first {
    margin: 0;
}
.block-menu-menu-menu-principal  ul.menu .last, .block-menu-menu-canal-principal-iframe ul.menu .last {
	background: url("../images/play-streaming.png") no-repeat scroll left center transparent;
    color: #7EA603;
    padding-left: 40px !important;
	margin-left: 1%;
	
}
.block-menu-menu-secciones-principal  ul.menu .last, .block-menu-menu-secciones-principal-if ul.menu .last {
	background: url("../images/boletin.png") no-repeat scroll 12px 12px transparent;
    border-left: 1px solid #CCCCCC;
    color: #7EA603;
    font-size: 1.8em;
    margin-left: 5%;
    padding-left: 44px;
    padding-top: 2px;
	
}
.block-menu-menu-secciones-principal a.active, .block-menu-menu-secciones-principal-if a.active {
	color: #000;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-ms-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
}
.block-menu-menu-secciones-principal  ul.menu .last a.active, .block-menu-menu-secciones-principal-if ul.menu .last a.active {
    color: #0d7dda;	
}
.block-menu-menu-secciones-principal  ul.menu li, .block-menu-menu-secciones-principal-if ul.menu li {
    border-left: 1px solid #B2B2B2;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 2%;
}
.block-menu-menu-secciones-principal  ul.menu li.first, .block-menu-menu-secciones-principal-if ul.menu li.first {
    border-left: none;
	 padding-left: 0;
	  margin-left: 0;
}
.block-menu-menu-menu-principal  ul.menu .last a.active, .block-menu-menu-canal-principal-iframe ul.menu .last a.active {
    color: #7EA603;
	font-size: 0.8em;	
}
.block-menu-menu-menu-principal  ul.menu a, .block-menu-menu-canal-principal-iframe  ul.menu a  {
    color: #000;	
	-webkit-transition: color 0.5s ease-out;
-moz-transition: color 0.5s ease-out;
-ms-transition: color 0.5s ease-out;
-o-transition: color 0.5s ease-out;
transition: color 0.5s ease-out;
}
.block-menu-menu-principal  ul.menu a:hover, .block-menu-menu-canal-principal-iframe ul.menu a:hover   {
    color: #0d7dda;	
}
.block-menu-menu-secciones-principal ul.menu a:hover, .block-menu-menu-secciones-principal-if ul.menu a:hover  {
    color: #cd2382;	
}
	.block-menu-menu-secciones-principal li, .block-menu-menu-menu-principal li, .block-menu-menu-secciones-principal-if li, .block-menu-menu-canal-principal-iframe li {
	width: auto;
	float: left;
	list-style-type: none;	
	font-family: 'Lato', arial ;
	}
	.block-menu-menu-secciones-principal li, .block-menu-menu-secciones-principal-if li {
		font-size: 2em;
		
	}
	.block-menu-menu-menu-principal li, .block-menu-menu-canal-principal-iframe li {
		font-size: 4em;
		background:url(../images/star.png) no-repeat center left ;
		padding-left: 24px !important;
	}
	.block-menu-menu-menu-principal li.first, .block-menu-menu-canal-principal-iframe li.first {
		background: none ;
		padding-left: 0 !important;
	}
.block-menu-menu-menu-principal	ul.menu li, .block-menu-menu-canal-principal-iframe	ul.menu li {
    margin-right: 0.1em !important;
	margin-left: 0;
}
	ul li.leaf {
    list-style-image: none;
    list-style-type: none;
}
li.expanded, li.collapsed, li.leaf {
    margin: 0;
    padding: 0;
}


/*****estilos menu 990px junio 14****/
#zone-branding-wrapper
{
	display:none;
}
#block-views-bloque-men-principal-block
{
	width:990px;
	position:fixed;
	z-index:10000;
}
#block-views-bloque-men-principal-block h2
{
	display:none;
}
/*****fin estilos menu 990px junio 14****/




/*--------------Bloque secciones home--------------------*/
.block-bloque-chismes-home-block, .block-bloque-capitulos-home-block, .block-0cb36e33e36e41b696ce827b1e7bcb72, .block-bloque-videos-home-block, .block-bloque-versus-home-block, .view-bloque-top-5-home, .block-bloque-redes-sociales-block, .block-131, .block-231, .block-bloque-iframe-deportes-block, .block-418, #block-views-integrarsondeosnewpauta-block {
	margin: auto auto 20px;
    max-width: 990px;
    padding: 5px;
    box-sizing: border-box;
}
.block-bloque-capitulos-home-block {
	margin: 0px auto 20px;
}
.block-418 h2, .block-block-420 h2 {
	text-align:center;
}

.block-0cb36e33e36e41b696ce827b1e7bcb72 {
	margin: auto auto 3%;
}
/*--------------Bloque chismes--------------------*/


.block-bloque-chismes-home-block .views-row  {
	width: 32%;
	float:left;
	margin-right: 2%;
}
.block-bloque-chismes-home-block .views-row img {
	width: 100%;
	height:auto;
    margin-bottom: 15px;
}
.block-bloque-chismes-home-block .views-row-last {
	margin-right: 0;
}
.view-bloque-apertura-contenedor-home .views-row img {
	width: 100%;
	height:auto;
}
/*--------------Bloque Capítulos--------------------*/

.block-bloque-capitulos-home-block .views-row img {
	width: 100%;
	height:auto;
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}
.block-bloque-capitulos-home-block .view-bloque-capitulos-home-primaria .views-row img {
	box-shadow: none;

}
.view-bloque-capitulos-home-primaria .views-row-1 {
	float: left;
    width: 100%;
    overflow: hidden;
    height: 480px;
    margin-bottom: 20px;
}
.view-bloque-capitulos-home > .view-header {float: left;width: 100%; /*margin-top: 93px;*/}
.view-bloque-capitulos-home > .view-content {float: left;width: 65%;   padding-right: 2%;}
.view-bloque-capitulos-home > .view-footer {    float: left; width: 300px; border-left: solid 1px #ccc; padding-left: 2%;}
.view-bloque-capitulos-home > .view-content .views-row {
	width: 48%;
    margin-right: 3%;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
.view-bloque-capitulos-home .view-content .views-row-even {
    margin-right: 0;
	
}
.produccion-view-row-1 {  background: #7ea603 none repeat scroll 0 0;
    clear: both;
    float: left;
    font-size: 20px;
    line-height: initial;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    width: auto; }

.block-bloque-capitulos-home-block .views-row-5
{
	clear:left;
}
.view-bloque-capitulos-home-primaria  .titulo-body-view-row-1 {
	color: #ffffff;
    font-size: 30px;
    left: 2%;
    line-height: 1.2em;
    position: absolute;
    top: 20px;
    width: 40%;
}
.cap-ver-mas a  {
        position: inherit;
    right: 20px;
    bottom: 20px;
    background: none;
    text-align: center;
    line-height: initial;
    padding: 5px 10px;
    width: auto;
    float: left;
    color: #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
    border: solid 1px #B2B2B2;
    margin-top: 5px;
 
}
.cap-ver-mas a:hover  {background: #7EA603; color: #fff;}
.view-bloque-capitulos-home-primaria .cap-ver-mas a  {
    position: absolute;
    right: 20px;
    bottom: 20px;
	    background: #7EA603;
    text-align: center;
    font-size: 18px;
    line-height: initial;
    padding: 5px 10px;
    width: auto;
    float: right;
    margin-bottom: 10px;
	color: #FFFFFF;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	display:none;
}

.titulo-body-view-row-1  h1,  .titulo-body-view-row-1  p { width:100%; float:left; text-align:left; margin-bottom: 7px;}
 .titulo-body-view-row-1  h1 {text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000; font-size: 30px;
    line-height: 1.2em;}

.view-bloque-capitulos-home > .view-header .views-row-1  .views-field-body {
	position:absolute;
	right:2%;
	bottom:60px;
	color: #FFFFFF;
	width: 30%;
}
.view-bloque-capitulos-home .views-row, .view-bloque-capitulos-home-primaria .views-row
{
	position:relative;
}
.view-bloque-capitulos-home-primaria  .play-icon{
	position:absolute;
	width:100%;
	height:600px;
	bottom:0;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.79+0,0+40 */
/*background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.79) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.79) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(135deg,  rgba(0,0,0,0.79) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	
background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.89) 0%, rgba(0,0,0,0) 56%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.89) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0) 100%);
background: linear-gradient(135deg,  rgba(0,0,0,0.89) 0%,rgba(0,0,0,0) 56%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3000000', endColorstr='#00000000',GradientType=1 );
}
.view-bloque-capitulos-home-primaria p {
	font-size: 15px;
	line-height:1.2em;
text-shadow: 0 0 5px #000000;
}
.block-bloque-capitulos-home-block .views-row-4 {
	margin-right: 0;
}
.block-bloque-capitulos-home-block .views-row-5, .block-bloque-capitulos-home-block .views-row-6, .block-bloque-capitulos-home-block .views-row-7, .block-bloque-capitulos-home-block .views-row-8 {
float: left;
    margin-right: 0.2%;
    width: 19.8%;
}
.block-bloque-capitulos-home-block .views-row-8 {
    margin-right: 0;
}


/*--------------Bloque Videos--------------------*/
.block-bloque-videos-home-block .views-row {
	float: left;
	width: 31%;
	margin-right: 2%;
	color: #FFFFFF;
	position:relative;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.block-bloque-videos-home-block .views-row .flecha-icon {
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
 .block-bloque-videos-home-block .views-row:hover {
-webkit-box-shadow: 0 0 10px 6px rgba(255,255,255,0.8);
box-shadow: 0 0 10px 6px rgba(255,255,255,0.8);
z-index: 3;
   /* transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);*/
}
.block-bloque-videos-home-block .views-row:hover .flecha-icon {
top: 70px;
}
.block-bloque-videos-home-block .views-row img {
	width: 101%;
	height:auto;
}
.block-bloque-videos-home-block .views-field-field-imagen {
   background-color: #000000;
    float: left;
    height: 233px;
    overflow: hidden;
    width: 50%;

}
.block-bloque-videos-home-block .views-row-4 .views-field-field-imagen, .block-bloque-videos-home-block .views-row-5 .views-field-field-imagen,.block-bloque-videos-home-block .views-row-6 .views-field-field-imagen {
	float:right;

}

 .block-bloque-videos-home-block .views-row {
	float: left;
    height: 233px;
    margin: 0.1%;
    width: 33.15%;
}
.block-bloque-videos-home-block .views-row-3, .block-bloque-videos-home-block .views-row-6, .block-bloque-videos-home-block .views-row-9 {
	margin-right:0;
}

 .block-bloque-videos-home-block .views-row-1 {
	 background-color: #0d7dda;
}
 .block-bloque-videos-home-block .views-row-2 {
	 background-color: #cd2382;
}
 .block-bloque-videos-home-block .views-row-3 {
	 background-color: #a5b200;
}
 .block-bloque-videos-home-block .views-row-4 {
	 background-color: #589D0A;
}
 .block-bloque-videos-home-block .views-row-5 {
	 background-color: #ED9100;
}
 .block-bloque-videos-home-block .views-row-6 {
	 background-color: #AB18D7;
}
 .block-bloque-videos-home-block .views-row-7 {
	 background-color: #FF1A02;
}
 .block-bloque-videos-home-block .views-row-8 {
	 background-color: #239323;
}
 .block-bloque-videos-home-block .views-row-9 {
	 background-color: #007EDE;
}
 .block-bloque-videos-home-block .views-field-title {
	 	float: left;
    font-family: 'Lato',arial;
    font-size: 1.8em;
    line-height: 1em;
    padding: 15px 2%;
    width: 46%;

}
 .views-field-nothing .play-icon {	 
	 position: absolute;
	 left: 10px;
	 bottom: 10px;
	 width: 53px;
	 height: 39px;
	
}
 .views-field-nothing .play-icon a {	 
	display: block;
	 width: 40px;
	 height: 39px;
	 background: url("../images/play.png") no-repeat scroll left top / 100% auto transparent;
}

 .views-row-4 .views-field-nothing span .play-icon,  .views-row-5 .views-field-nothing span .play-icon,  .views-row-6 .views-field-nothing span .play-icon {	 
	 right: 10px;
	 left:auto;
	
}
.block-bloque-capitulos-home-block  .views-field-nothing .play-icon {	 
	display: block;
	 width: 53px;
	 height: 39px;
	  left: 10px !important;
	 top: 10px;
	 right: auto !important;
}
.views-row .views-field-nothing-1 .flecha-icon {	 
	 position: absolute;
	 background:url(../images/arrow01.png) no-repeat left top;
	 left: 196px;
	 top: 10px;
	 width: 39px;
	 height: 79px;
}
.views-row-2 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow02.png) no-repeat left top;
}
.views-row-3 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow03.png) no-repeat left top;
}
.views-row-4 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow04.png) no-repeat left top;
	 left: 227px;
}
.views-row-5 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow05.png) no-repeat left top;
	  left: 227px;
}
.views-row-6 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow06.png) no-repeat left top;
	  left: 227px;
}
.views-row-7 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow07.png) no-repeat left top;
}
.views-row-8 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow08.png) no-repeat left top;
}
.views-row-9 .views-field-nothing-1 .flecha-icon {	 
	 background:url(../images/arrow09.png) no-repeat left top;
}
 .block-bloque-videos-home-block .views-field-body {
	 	float: left;
    font-family: arial;
    font-size: 1.1em;
    line-height: 1.2em;
    padding: 0 2%;
    width: 46%;
	font-weight:normal;

}
 .block-bloque-videos-home-block .views-row-4 .views-field-body,  .block-bloque-videos-home-block .views-row-5 .views-field-body,  .block-bloque-videos-home-block .views-row-6 .views-field-body, .block-bloque-videos-home-block .views-row-4 .views-field-title,  .block-bloque-videos-home-block .views-row-5 .views-field-title,  .block-bloque-videos-home-block .views-row-6 .views-field-title {
	 text-align: right;
}
.view-bloque-embeded-videos-home div {
	 z-index: 1  !important;
}
 .view-bloque-embeded-videos-home .views-field-field-video-1,  .view-bloque-embeded-videos-home .views-field-field-video-2 {
	 float: left;
    margin-bottom: 10px;
    padding-right: 0.3%;
    width: 49.8%;
	position: relative;
}
.view-bloque-embeded-videos-home .views-field-field-video-2 {
	padding-right:0;

}
.view-bloque-embeded-videos-home .innerWrapper {
    width: 100% !important;
	height: 278px !important;
}
.view-bloque-top-5-home > .view-content {width: 100%;float: left;}
.view-bloque-top-5-home .views-field-field-imagen {width: 50%;float: left; margin-right:2%;}
	.view-bloque-top-5-home > .view-footer {width: 300px;float: left;}
.view-bloque-top-5-home   .views-row {
	position:relative;
	float:left;
	padding-bottom: 15px;
	margin-bottom: 10px;

}
.cimacast.h .large {
    width: 100% !important;
}
.cimacast .cimacast-video-thumb {
    margin: 5px 0 !important;
}
.cimacast .lisv h1 {
    font-size: 17px !important;
    line-height: 1.2em !important;
}
.view-bloque-top-5-home .views-row, .view-bloque-top-5-home .numero {
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
background-color: #FFFFFF;
z-index: 100;
}
.view-bloque-top-5-home .views-row:hover {
	background-color:#f2f2f2;
	}
	.view-bloque-top-5-home .views-row:hover .numero {
		top: 20px;

	}
.view-bloque-top-5-home .views-field-title, .view-bloque-top-5-home .views-field-body {
	padding: 0 0 5px 0;
}
.view-bloque-top-5-home .views-field-body {
	padding: 0 0 40px 0;
}
.view-bloque-top-5-home .views-row img {
    width: 100% ;
	height: auto;
	border: 1px solid #FFFFFF;
}
.view-bloque-top-5-home .views-field-field-imagen {
	margin-bottom: 20px;
    float: left;
    width: 40%;
    margin-right: 2%;
}
.view-bloque-top-5-home .views-row .numero {
    width: 56px ;
	height: 56px;
	position:absolute;
	left: 5px;
    top: 5px;
	height: 35px;
	width: 35px;
	background: #E9E9E9 url("../images/1.png") no-repeat scroll center top / 100% auto;
}
.view-bloque-top-5-home .views-row-2 .numero {
	background: #E9E9E9 url("../images/2.png") no-repeat scroll center top / 100% auto
}
.view-bloque-top-5-home .views-row-3 .numero {
	background: #E9E9E9 url("../images/3.png") no-repeat scroll center top / 100% auto;
}
.view-bloque-top-5-home .views-row-4 .numero {
	background: #E9E9E9 url("../images/4.png") no-repeat scroll center top / 100% auto;
}
.view-bloque-top-5-home .views-row-5 .numero {
	background: #E9E9E9 url("../images/5.png") no-repeat scroll center top / 100% auto;
}
.view-bloque-top-5-home  .views-field-nothing-1 a {
	display: block;
	text-align: right;
    width: 96%;
    padding: 3px 2%;
	color: #000;
	position: absolute;
	 bottom: 15px;
	margin-top: 10px;
	font-family: 'Lato', arial ;
	font-size: 13px;
background: #dcdcdc;

}
.view-bloque-apertura-fotos {
	float:left;
	    width: 100%;
}
.view-bloque-apertura-fotos .views-row .views-field-field-imagen {
	float: left;
    width: 100%;
    position: relative;
    height: 100px;
    margin-bottom: 5px;
	border: solid 1px #ccc;
    overflow: hidden;
	-webkit-transition: all 1s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.view-bloque-apertura-fotos .views-row {
    margin-bottom: 20px;
	
}
.view-bloque-apertura-fotos .views-row:hover .views-field-field-imagen {
    height: 150px;
}
.view-bloque-apertura-fotos .views-field-title {
    color: #000;
	width: 100%;
	margin-bottom:0;

	font-size: 16px !important;
	-webkit-transition: all 1s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}
.view-bloque-apertura-fotos .views-row:hover .views-field-title {
	bottom: 0px;
	
}
.view-bloque-top-5-home  .views-field-nothing-1 a:hover {
background: rgb(66,66,66);

color: #7AC100;
}

/*------------SECCION VERSUS-------------- */
.view-bloque-versus-home  {
	width: 100%;
}
.view-bloque-versus-home .view-content {
	width: 72%;
	float:left;
	position: relative;
	margin-right: 2%;
}
.view-bloque-versus-home .view-footer {
  float: left;
  margin-top: -78px;
  position: relative;
  width: 26%;
}
.view-bloque-versus-home .view-footer h1 {
	font-size: 51px;
	font-weight:normal;
}
.view-bloque-versus-home .views-field-field-imagen-personaje a  {
	width: 50%;
	float:left;
	
}
.view-bloque-versus-home .views-field-field-imagen-personaje img  {
	width: 99% !important;
	height: auto !important;
	 border: 4px solid #6B179E;
	 -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.view-bloque-versus-home .views-field-field-imagen-personaje img:hover {
-webkit-box-shadow: 3px 5px 10px 5px rgba(0,0,0,0.5);
box-shadow: 3px 5px 10px 5px rgba(0,0,0,0.5);
position:relative;
z-index:2;
}
.views-field-nothing .versus {
	width: 113px !important;
	height: 170px !important;
	background: url("../images/vs.png") no-repeat scroll center top / cover transparent;
	position: absolute;
	 left: 44.5%;
	bottom: 32%;
	z-index: 3;
}
.views-field-nothing-1 .vota {
    left: 45%;
    position: absolute;
    bottom: 0;
	color: #fff;
	z-index: 3;
}
.views-field-nothing-1 .vota a {
	display:block;
	color: #fff;
	padding: 5px 20px;
	background: #6B179E; 
	font-size: 40px;
	font-family: 'Lato', arial ;
	 -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;

}
.views-field-nothing-1 .vota a:hover {
	background: #CD2382; 
}

.view-bloque-versus-home .view-content .views-field-title {
    left: -1px;
    position: absolute;
    top: 1px;
	background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
	width: 95.5%;
	margin-left: 5px;
    margin-top: 3px;
	padding: 1% 2%;
	z-index: 3;
}
.view-footer .view-lo-m-s-le-do .views-field-title {
    left: auto;
    position: relative;
    top: auto;
	font-size: 17px;
	background-color: transparent;
	margin-left: auto;
	 margin-top: auto;
	color: #000;
	padding: 0;
	display: block;
}
.view-bloque-versus-home .views-field-body {
	display: none;
}
.view-lo-m-s-le-do .views-row:hover a {
    color: #FFF;
	background-color: #7AC100 ;
}
.view-lo-m-s-le-do .views-field-title a {
padding: 5px 0;
    display: block;
    color: #000;
    font-size: 17px;
	line-height: 1.2em;
}

.view-lo-m-s-le-do .views-row  {
	    width: 85%;
    float: left;
    padding: 2px 2%;
    margin-left: 9%;
    margin-bottom: 2%;
	  list-style: decimal;
	  font-size: 20px;
	  color: #7EA603;
	  box-sizing:border-box;
	   -webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.view-lo-m-s-le-do li  {
	 border-bottom: solid 1px  #C1C1C1;
	     font-family: 'Lato-Black';
	 
}

.view-bloque-versus-home .view-lo-m-s-le-do .view-content {
	width: 100%;
	margin-right: 0;
}
.view-bloque-redes-sociales .view-header {
	width: 100%;
	float:left;
}
.view-bloque-redes-sociales .block-51, .view-bloque-redes-sociales .block-61 {
	margin-right: 1%;
	float:left;
	padding-top: 62px;
}
.view-bloque-redes-sociales .block-51 {
	background:url(../images/facebook-title.png) left top no-repeat;
}
.view-bloque-redes-sociales .block-61 {
	background:url(../images/twitter-title.png) left top no-repeat;
}
.view-bloque-redes-sociales .block-71 {
	background:url(../images/google-title.png) left top no-repeat;
		width: 23%;
	margin-right: 0;
	float:left;
	padding-top: 62px;
}
#first-time, .block-444 {
	display:none;
}
.block-search {
	 width: 30%;
    float: right;
    position: relative;
	padding-top: 5px;
}

#block-block-444 #styAvon {
    margin: 0 auto;
    max-width: 990px;
    width: 100%;
	text-align:center;
}
#edit-search-block-form--2 {
   -webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
 width: 80%;
height: auto;
 padding: 7px 5px;
 border: solid 1px #00bbff;
 -webkit-box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.2);
box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.2);
}
.custom-search-button {
	margin-left: -5px;
}
/*-------PARRILLA HOME-------- */
/*.block-parrilla-home {
 width: 100%;
 height: 100px;
 float: left;
     position: fixed;
    top: 22px;
 z-index:1000;
 margin-bottom: 20px;
 margin-top: 15px;
 border-top: 1px solid #CCCCCC;
 border-bottom: 1px solid #CCCCCC;
 -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    0px 0px 9px -1px rgba(0, 0, 0, 0.25);
box-shadow:         0px 0px 9px -1px rgba(0, 0, 0, 0.25);
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 47%, rgba(246,246,246,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}*/
.block-parrilla-home {
 width: 100%;
 height: 100px;
     position: relative;
 z-index:1000;
 margin-bottom: 20px;
 margin-top: 23px;
 border-top: 1px solid #CCCCCC;
 border-bottom: 1px solid #CCCCCC;
 -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.25);
-moz-box-shadow:    0px 0px 9px -1px rgba(0, 0, 0, 0.25);
box-shadow:         0px 0px 9px -1px rgba(0, 0, 0, 0.25);
background: rgb(255,255,255);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 47%, rgba(246,246,246,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 47%,rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
.flotante-parrilla{
	position: fixed;
	top:16px;
}
.parrilla {
	margin: 0 auto ;
    width: 990px;
}
.block-parrilla-home .programacion, .block-parrilla-home .programas {
 border-right: 1px solid #CDCDCD;
    float: left;
    min-height: 70px;
    padding-left: 0.3%;
   width: 15.6%;
}
.block-parrilla-home .programacion {
 border-right: none;
}
.block-parrilla-home	.player {
	/*margin-top: -20px;
	background: url(../images/mini-player2.png) left top no-repeat;
	height: 111px;*/
    float: left;
    padding-left: 18px;
    padding-top: 0px;
	width: 180px;
	}
.first-programa .envivo-programa {
	background-image:url(../images/bg-senal3.gif);
	
}
.first-programa {
	margin-left: -3px;
    padding-left: 5px;
	
}
.block-parrilla-home .programas {
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.block-parrilla-home .programas:hover {
-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
}


.titulo-programacion{
	font-family: 'Lato-Black';
    font-size: 1.7em;
    line-height: .6em;
    padding-top: 30px;
	}

		.ver-todo a {
	font-size: 1.3em;
	font-family: 'Lato', arial;
    color: #5c5c5c;
    line-height: 1em;
    font-size: 1em;
    margin-top: 10px;
    border: solid 1px #9B9B9B;
    padding: 2px;
    display: block;
	text-align:center;
	}
		.ver-todo a:hover {
			background:rgb(126, 166, 3);
			color: #FFF;
			
	
	}
 #ooyalaplayer_mini {
		width: 165px !important;
		height: 93px !important;
	}

		.parrilla .player  img{
		width: 91% !important;
		height: auto !important;
	}
	.programacion{
		 margin-left: 0;
    padding-left: 0;
	
	}
	.hora-programa {
	border-bottom: 1px dotted rgb(205, 205, 205);
    font-size: 1.3em;
	font-family: 'montserratbold';
	padding-top:20px;
	}
	.nombre-programa {
		text-transform:uppercase;
		font-weight:bold;
		  padding-right: 5px;
		  height: 21px;
		  line-height: 1em;
		  font-size: 11px;
		  margin-top:5px;
		  padding-bottom:2px;
		  overflow:hidden;
	}
		.nombre-programa a {
			display:block;
	}
		.nombre-programa a:hover {
			color: #C31057;
	}
	.first-programa {
		background-color: rgba(212,212,212,1.00);
	}
	.envivo-programa, .no-envivo-programa {
		  background-color: #7EA603;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1em;
    padding: 3% 1%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 98%;
	}
	.no-envivo-programa {
		 display:none;
	}
	.estado-programa {
		background-color: rgb(126, 166, 3);
    color: rgb(255, 255, 255);
    float: left;
    font-size: 12px;
    line-height: 1em;
    margin-left: -5px;
    padding: 1px 7px;
    width: 65%;
	}
	.estado-programa.luego {
		background-color: rgba(95,95,95,1.00);
		height: 19px;
    	padding: 7px 0 0 12px;
		margin-left:-3px;
	}
	.ruta-programa {
		background-color: #548900;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
	 line-height: 1em;
	  text-align: center;
    padding: 1px 2%;
    width: 25%;
		-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
	}
		.ruta-programa:hover {
		background-color: #ED045D;
	}
	.parrilla .innerWrapper {
    width: 165px !important;
	height: 93px !important;
}
/* ---------------PAUTA-------------------------- */

.block-91, .block-161, .block-171, .block-211, .block-backing-home-block {
   height: 0;
    margin: auto;
    position: relative;
    width: 990px;
	display: table;
}
.backing-izq, .backing-der {
    width: auto !important;
	height: auto !important;
	position:absolute;
	top: 0;
	z-index: 41 !important;
}
.block-161 .backing-izq, .block-161 .backing-der, .block-171 .backing-izq, .block-171 .backing-der, .block-211 .backing-izq, .block-211 .backing-der {
	top: 0;
}
.backing-izq {
	left: -399px;
	text-align: right;
	background-color: transparent !important;
}
.backing-der  {
	right: -399px;
	background-color: transparent !important;
}
.context-streamingrcn .block-211 .backing-izq {
	left: -177px;
	text-align: right;
}
.context-streamingrcn .block-211 .backing-der  {
	right: -160px;
}
#BarraExpander {
     float: left;
    left: 0;
    margin: 0;
    text-align: center;
    top: -40px;
    width: 100%;
    z-index: 999;
}

/*#Barrafijoalscroll, #Barrafijoalscroll-mov {
	position:fixed;
	width: 100%;
	bottom: 0;
	margin:auto;
	z-index: 900;
	text-align:center;

}*/
#eplAdDivRectangle  {
	float:left;
	width: 99%;
	text-align:center;
	background-color: #F4F4F4;
	border:solid 1px #E0E0E0;
	padding: 15px 0;

}

/* -----------STREAMING HOME------------- */
.block-streaming {
	 margin: auto auto 40px;
    width: 1210px;
}
.streaming-vivo {
		padding: 10px 0 30px;
		background-size: 100% 100% !important;
		background-position: center top !important; 
		-webkit-box-shadow:inset 0 0 15px 15px rgba(0,0,0,0.5);
box-shadow:inset 0 0 15px 15px rgba(0,0,0,0.3);
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
	width: 100%;
	margin:auto;
	text-align:center;

}
.block-streaming #ooyalaplayer_home {
	   height: 495px !important;
    margin: auto;
    width: 880px !important;
}
.block-streaming .title-streaming {
	font-size: 35px;
	font-family: 'Lato', arial ;
	color: #FFFFFF;
	
	}
	/*-----widget mundial------ */
	.block-141 {
		width: 1400px;
		margin:auto;
	
	}
	.widget_mundial iframe, .block-131 iframe {
		width: 100%;
		float:left;
		margin: 20px 0;
	}
	.block-51 iframe {
		width: 420px !important;
	}
	.programas #last {
	display:none;
	}
	.view-bloque-top-5-home .view-header .views-row, .view-bloque-top-5-home .view-header .views-field-body {
	background: transparent;
    font-family: 'Lato',arial;
    font-size: 30px;
    height: auto;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
	margin-bottom: 5px;
	}
		.view-bloque-redes-sociales .views-row-1 {
			display:none;

	}
	
	/*banner redirección */
	.redireccion {
		width: 720px;
		height:50px;
		margin: 0 auto ;
		background-color: #69A800;
		margin-bottom: 10px;
		-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
display: none;
	}
		.redireccion:hover {
		background-color: #D10C13;
	}
		.redireccion img {
		width: 100%;
		height: auto;
	}
		.programa.antes {
			-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
	.programa.antes:hover {
    opacity: 1;
}
.block-81 {
	float: none;
    margin-top: -6px;
	margin-bottom:-10px;	
	float: none;
    left: 0;
    margin: 5px auto;
    max-width: 1306px;
    position: relative;
    width: 100%;
	height:auto;
}
/*"block-block-81
{
	height:30px;
	margin:0 auto;
}*/
.botones  {
	height: 60px;
    margin: auto;
    position: relative;
    width: 1370px;

}
.boton-mostrar, .boton-ocultar {
	position:absolute;
	width: 450px;
	height: 45px;
	left: 34%;
	top:0;
		z-index: 2;
		text-align: center;
}
.boton-mostrar a, .boton-ocultar a {
	width: 450px;
	height: 45px;
	background:url(../images/mostrar.png) center top no-repeat;
	background-size: 100%;
	text-transform: uppercase;
	color: #FFFFFF;
		text-align: center;
		padding-top: 10px;
		display:block;
		cursor:pointer;
		-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
.boton-mostrar a:hover, .boton-ocultar a:hover {
	text-shadow: 2px 2px 3px #030303;

}
.boton-ocultar a {
	background:url(../images/ocultar.png) center top no-repeat;
	background-size: 100%;
}
.boton-mostrar.selected, .boton-ocultar.selected {
	z-index: 1;
}
/* -----ATENCION AL CLIENTE------------------ */
	.context-basic-page .zone-content-wrapper, .context-politica-de-proteccion-canalrcn .zone-content-wrapper {
	width: 1400px;
	margin: 20px auto 40px auto;
}
	.context-basic-page  h1 {
			font-family: 'Lato',arial;
    font-size: 40px;
	text-align:  left;
	font-weight: normal;
}
.context-basic-page  p {
  font-size: 14px;
//-moz-column-count: 2;
//-moz-column-gap: 20px;
//-webkit-column-count: 3;
//-webkit-column-gap: 20px;
//column-count: 3;
//column-gap: 20px;
}

.context-basic-page p strong {
    font-family: "Lato",arial;
    font-size: 1.9em;
    font-weight: normal !important;
}

	.context-basic-page  br {
		display:none;
}
	.context-basic-page  p a {
	/*border: 1px solid #D8D8D8;
	display: block;
	padding: 1% 2%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	margin-top:10px;
	margin-bottom: 10px; */
	text-decoration:none !important;
	font-size:1.1em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}
	.context-basic-page  p a:hover {
		background-color: rgba(135,221,252,0.57);
		color: rgba(110,110,110,0.98) !important;
}
/* ----- FIN ATENCION AL CLIENTE------------------ */
/* ----- PAUTA DESPLEGABLE------------------ */
.block-241  {
	  margin: auto;
    position: relative;
    width: 1389px;
		
}
.block-241 .formato-izq  {
	left: 0;
    position: absolute;
    top: -10px;
	z-index: 800;
		
}
/* ----- FIN PAUTA DESPLEGABLE------------------ */
/* ----- FIN ATENCION AL TELEVIDENTE------------------ */
.context-atencionaltelevidente .zone-content-wrapper {
	width: 970px;
	margin: 30px auto;
	text-align: center;
	
}
.context-atencionaltelevidente .zone-content-wrapper  input {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
 width: 40%;
height: auto;
 padding: 7px 5px;
 border: solid 1px #00bbff;
 -webkit-box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.2);
box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.2);
}
.context-atencionaltelevidente .zone-content-wrapper  .captcha {
    border: 1px solid #D3D3D3;
    padding: 7px 80px;
    width: 83%;
	text-align: center;
	 margin: 10px auto 20px auto;
}
.context-atencionaltelevidente .zone-content-wrapper  #edit-actions input {
    width: 30%;
}
.context-atencionaltelevidente .zone-content-wrapper .form-item, .form-actions {
    margin-bottom: 1.5em;
    margin-top: 1em;
}
.context-atencionaltelevidente .zone-content-wrapper .captcha .form-type-textfield input {
    background: none repeat scroll 0 0 #fff;
    font-family: arial;
    font-size: 25px;
    height: 35px;
    margin-left: 0;
    text-align: center;
    width: 22%;
}
.views-field-field-imagen-lanzamientos, .views-field-field-imagen-lanzamiento-peq {
    margin: 20px 0;
	width: 100%;
	float:left;
}
.views-field-field-imagen-lanzamientos img, .views-field-field-imagen-lanzamiento-peq img {
	width: 100%;
	height: auto;
}
.views-field-field-imagen-lanzamiento-peq {
   display:none;
    margin: 10px 0;
}
/***POLITACAS**/
#node-page-10341 p {
	width:95%;
	margin:1% auto;
	font-size:1.2em;
}
#node-page-10341 p strong
{
	font-family: 'Lato',arial;
    font-size: 1.6em;
	line-height:1em;
	padding:2% 0;
	font-weight:normal;
}
.context-politica-de-proteccion-canalrcn #zone-content-wrapper
{
	max-width: 1400px !important;
    padding: 3%;
    width: 75% !important;
	
}
.views-field-field-imagen-deportes {
	margin-bottom: 1%;
}
.view-integrarsondeosnewpauta .view-footer{
    width: 20%;
	float: left;
}
.views-field-field-imagen-deportes img {
	width:100% !important ;
	height: auto !important;
}
.block-bloque-iframe-deportes-block .views-field-body {
	width:79% ;
	float: left;
}

.block-wsgalerias-wsgalerias {
    margin-bottom: 50px;
}

.block-wsgalerias-wsgalerias h2
{
	background: url("../images/manito.gif") no-repeat scroll right center;
    width:100%;
    max-width: 990px;
    margin: 0 auto;
}
#block-block-311 {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

/*estilos toma home celia*/
.block-banner-home-animado-block
{
	width:100%;
	margin: 0px 0 0 0;
	padding: 5px 0 0 0;
	/*margin: 106px 0 0;*/
	
}
#div-gpt-ad-1477406500663-0
{
	height:auto !important;
}
#block-block-460
{
	display:none;
}










.block-banner-home-animado-block iframe
{
	width:100% !important;
	min-width: 100% !important;
	width: 100% !important;

}
.smallLabel {
	font-size:13px !important;

}
/*.front .webcam-vivo {
  margin: auto;
  max-width: 990px;
  min-height: 508px;
  width: 94%;
}*/
.front .webcam-vivo {
    margin: auto;
    max-width: 990px;
    min-height: 582px;
    width: 94%;
}
.front .webcam-vivo .player-webcam {
  float: left;
  width: 100%;
}
/*.front .webcam-vivo .player-webcam {
  float: left;
  width: 65%;
}*/
/*.webcam-bg
{
	background-image:url(../images/bg-quaker-990.png) !important;
	padding:24px 0 45px;
	/*background-color:#550E00 !important;
}*/
.webcam-bg
{
	padding-top:35px;
}
.front .webcam-vivo #ooyalaplayer {
  float: none;
  height: auto !important;
  margin:0 auto;
  width: 100% !important;
}
/*.front .webcam-vivo #ooyalaplayer {
  float: right;
  height: auto !important;
  margin-top:25px;
  max-width: 800px;
  width: 100% !important;
}*/
.front .webcam-vivo .hashtag {
  float: right !important;
  margin: 0.5em;
  width: 295px !important ;
}
.twitter-timeline.twitter-timeline-rendered {
  width: 100% !important;
}
.pd-embedded {
  margin: auto;
    width: 100%;
}
.views-field-field-t-tulo-video-1 .field-content, .views-field-field-t-tulo-video-2 .field-content {
    font-size: 25px;
    left: 0;
    position: absolute;
    top: -34px;
    width: 50%;
	font-family: 'Lato',arial;
	
}
.views-field-field-t-tulo-video-2 .field-content {
 right:0;
 left: auto;

}
#block-views-0cb36e33e36e41b696ce827b1e7bcb72 .content {
	position: relative;
}
#block-views-0cb36e33e36e41b696ce827b1e7bcb72 h2.block-title {
    font-size: 70px;
    font-weight: normal;
    margin-bottom: 10px;
}
/* --------ESTILOS TOMA DIOMEDES ----------------*/

.page-node-5691 .context-basic-page p {
    font-size: 24px;
}
#block-block-412 {
	position: fixed;
    right: 80px;
	top:0;
	z-index:10009;
}
.cimacast .lisv h1 {
    font-size: 15px  !important;
    line-height: 1.2em !important;
}
.cimacast.h .lisv
{
    min-height: 36px;

}
#eplAdDivBarraExpander  {
	position: relative;
	z-index: 100;
}
.block-421 {
	width: 100%;
	float:left;
	margin: 34px 0 10px;
}
/* PAUTA */
.Robapagina-300x250-DFP, .Boton1-300x100-DFP, .FooterBanner-970x90-DFP {
	display: block;
	float:left;
	margin: 5px 0;
	width:100%;
	
	}
	.BARRAEXPANDER-990x40-DFP {
	display: block;
	margin: 0 auto;
	width:100%;
	float: none;
	text-align: center;
	position:relative;
	z-index:40;
	}
	
	#block-block-427 > div > div > div > div > div, #block-block-427 > div > div > div > div > div > div {
		max-width: none !important;
		width: auto !important;
		z-index:0 !important;
	}
	
	#region-preface-first {
    position: relative;
    z-index: 100;
}
.skinizquierdo_160x600_DFP .content > div { float:right}
.SKinIzquierdo-160x600-DFP { height: 600px;
    left: 0%;
    position: absolute;
    top: 0;
    width: 190px;
	z-index: 2;}
.SKinDerecho-161x600-Home-DFP { 
    position: absolute;
    right: 0%;
    top: 0;
    width: auto;
	z-index: 2;} 
.LayerFijoalScroll-990x40-DFP { position:fixed; bottom:0; left:0; z-index:500; width:100%; text-align:center;}
.LayerFijoalScroll-990x40-DFP .content { width:100%; max-width:990px; margin:0 auto;}
.FooterBanner-970x90-DFP .content.clearfix > div {     margin: 0 auto; }
#div-gpt-ad-1435874535944-2 > div{
width: 100%;
text-align:center;
}
#div-gpt-ad-1436894379624-0 {
    text-align: center !important;
    width: 100% !important;
}
#styAvon > iframe {
    height: 420px;
}
#block-views-lanzamientos-block
{
	position:relative;
	min-height: 500px;
	z-index:1000;
	clear: both;
	margin: 1% 0;
}


/*sondeo a*/

.block-rcntv-sondeos-sondeo li img {
    height: auto;
    margin-bottom: 5px;
    margin-left: -30%;
    transition: all 1s ease 0s;
}
.block-rcntv-sondeos-sondeo .ulclase5 li img {
    width: 160%;
}
.block-rcntv-sondeos-sondeo .ulclase4 li img {
    width: 140%;
}
.block-rcntv-sondeos-sondeo .ulclase3 li img {
    width: 120%;
	margin-left: -8%;
}
.block-rcntv-sondeos-sondeo .ulclase2 li img {
    width: 130%;
}

.block-rcntv-sondeos-sondeo .ulclase2 > li:first-child {
    margin-right: 7%;
}

.block-rcntv-sondeos-sondeo li label {
    cursor: pointer;
    height: auto;
    overflow: hidden;
	-webkit-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;
position:relative;
}
.block-rcntv-sondeos-sondeo li {
    box-sizing: border-box;
    display: inline-table;
    margin: 0 0.4% 15px;
    text-align: center;
    /*width: 23%;*/
	 background-color:#565656;
    padding-bottom: 10px;
	color: #FFF;
		-webkit-border-radius: 12px 12px 0 0;
border-radius: 12px 12px 0 0;
}
.block-rcntv-sondeos-sondeo li:hover{
-webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
box-shadow: 0 0 3px 2px rgba(0,0,0,0.3);
}
#block-rcntv-sondeos-sondeo {
    padding: 20px 0;
	margin-right: 3%;
	box-sizing:border-box;
}
.render-sondeo-home > h3 {
    font-size: 2em;
    margin-bottom: 15px;
	line-height: 25px;
    text-align: left;
	font-weight: normal;
	    float: left;
}   
.block-rcntv-sondeos-sondeo .ulclase4 > li {
    width: 24.2%;
	    overflow: hidden;
}
.block-rcntv-sondeos-sondeo .ulclase3 > li {
    width: 32%;
}
.block-rcntv-sondeos-sondeo .ulclase2 > li {
    width: 27%;
}
.block-rcntv-sondeos-sondeo .ulclase2 .vote{
margin-top: 0;
    width: 50%;
    margin: 0 25%;
 clear: both;
}
.block-block-431 {
float:left;
}

.block-rcntv-sondeos-sondeo li label p, .block-rcntv-sondeos-sondeo ul {
    text-align: center !important;
	display: inline-block;
    margin-right: 4px;
	font-size: 0.95em;
}
.block-rcntv-sondeos-sondeo .block-inner {
    margin: auto;
    width: 100%;
}
.view-integrarsondeosnewpauta > .view-header {
  float: left;
    margin-right: 4%;
    width: 66%;
}
.view-integrarsondeosnewpauta > .view-footer{
	    float: left;
    width: 30%;

}
.view-integrarsondeosnewpauta .view-footer .view-content{
display:inline-block !important;
}
.view-integrarsondeosnewpauta .view-footer {
    float: left;
    width: 30%;
}
.view-integrarsondeosnewpauta .block-title {
    float: left;
}
.ulclase5 > li {
    margin-top: 40px;
    width: 19.2%;
}
.view-integrarsondeosnewpauta .view-footer h1{
font-size: 70px;
    font-weight: normal;
}


button, input[type="reset"], input[type="submit"], input[type="button"] {
    margin-top: 35px;
    width: 36%;
	font: bold 2em/1.2 Arial,sans-serif;
background: rgb(96,96,96);
background: -moz-linear-gradient(left,  rgba(96,96,96,1) 0%, rgba(68,68,68,1) 100%);
background: -webkit-linear-gradient(left,  rgba(96,96,96,1) 0%,rgba(68,68,68,1) 100%);
background: linear-gradient(to right,  rgba(96,96,96,1) 0%,rgba(68,68,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#444444',GradientType=1 );
color: #FFF;
text-shadow: none;
text-transform: uppercase;
font-family: "Lato",arial;
padding: 1% 1%;
border: none;
font-size: 3em;
}
button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
background: rgb(66,66,66);
background: -moz-linear-gradient(left,  rgba(66,66,66,1) 0%, rgba(30,30,30,1) 100%);
background: -webkit-linear-gradient(left,  rgba(66,66,66,1) 0%,rgba(30,30,30,1) 100%);
background: linear-gradient(to right,  rgba(66,66,66,1) 0%,rgba(30,30,30,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#1e1e1e',GradientType=1 );
color: #7AC100;
}
.view-lo-m-s-le-do view-id-lo_m_s_le_do view-display-id-block view-dom-id-e789e72ae8a1f9bba59953850dd97102 .views-field-title {
    font-size: 24px;
}
#creative_70836554417_0 > div{
   height: auto !important;
   margin:auto;
  }
 #creative_70836554417_0 > div > div{
   position: relative !important;
  }
  #block-block-301 #div-gpt-ad-1437780561576-3{
display: none;
}
#block-block-449 {
    text-align: center;
}
#block-block-449 div{
margin: auto;
}
#div-gpt-ad-1438710301484-1 {
    z-index: 999999999 !important;
}
#block-block-422 {
    position: relative;
    z-index: 42;
}

#block-block-457 {
    position: absolute;
    right: 0;
    top: 10%;
}
#block-block-456 {
    left: 0;
    position: absolute;
    top: 10%;
}
.progress-bar {
    background-color: #4fafff !important;
    box-sizing: border-box;
    font-weight: bold;
    padding: 2% 0;
    text-align: center;
}
#block-parrilla-parrilla-home .player {
    padding-bottom: 8% !important;
}

.boton-inscribete a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #793ba2 2%, #8b247f 100%) repeat scroll 0 0;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5) inset;
    color: #fff;
    display: block;
    font-family: "square721_regular";
    font-size: 34px;
    line-height: 1em;
    margin: 50px auto 0;
    padding: 2% 3%;
    text-align: center;
    text-shadow: 0 0 4px #030303;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
    width: 30%;
}

/*** apertura anonima ***/

#block-views-apertura-estrenos-block {
    position: relative;
	font-family: 'Lato' !important;
}
#block-views-apertura-estrenos-block .views-field-field-imagen-lanzamientos, #block-views-apertura-estrenos-block .views-field-field-imagen-lanzamiento-peq{
margin: 0;
}
.view.view-textos-apertura-estenos{
position: absolute;
}
.view.view-textos-apertura-estenos {
    color: rgb(255, 255, 255);
    font-size: 1.7em;
    position: absolute;
    right: 6%;
    text-shadow: -4px -3px 5px rgb(0, 0, 0);
    top: 35%;
    z-index: 9;
	text-align: center;
}
#block-views-apertura-estrenos-block .views-field-field-texto-principal{
	background-color: #DA0232;
	padding: 1% 7%;
	text-shadow: none;
}
#block-views-apertura-estrenos-block .view-apertura-estrenos{
background: rgba(0, 0, 0, 0) url("../images/apertura-3-animacion.gif") no-repeat scroll right center / 100% auto;
}
/*.view.view-textos-apertura-estenos {
    color: #fff;
    font-size: 2.1em;
    position: absolute;
    right: 3%;
    text-shadow: 1px 1px 2px #000;
    top: 45%;
    width: 50%;
    z-index: 9;
}*/
.views-field-php, .views-field-php-1 {
    display: inline-block;
}
.views-field-field-texto-redes1, .views-field-field-texto-redes2 {
	display: inline-block;
    margin-right: 35px;
}
#inst, #tw, #fa {
    background-size: 100% auto;
    height: 25px;
    margin-right: 5px;
    width: 25px;
	margin-top: 5px;
}
#inst{
background-image:url(../images/instagram.png);
background-repeat:no-repeat;
}
#tw{
background-image:url(../images/twitter.png);
background-repeat:no-repeat;
}
#fa{
background-image:url(../images/facebook.png);
background-repeat:no-repeat;
}
#block-views-apertura-estrenos-block .views-field-title{
background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: "Lato-Black" !important;
    font-size: 2em;
    padding: 6px 20px;
    position: absolute;
    z-index: 9;
}
#block-views-apertura-estrenos-block .views-field-field-texto-principal{
    color: #FFF;
    font-size: 2.2em;
    line-height: 1.1em;
    margin-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
	font-weight: bold;
}
#block-views-apertura-estrenos-block .views-field-field-texto-secundario{
	 color: #FFF;
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 58%;
    text-align: right;
    text-transform: uppercase;
}
#block-views-apertura-estrenos-block .view-footer .views-field-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
    font-size: 2em;
    margin: 2% 0;
    padding: 0;
    position: relative;
}
/*url se vea bn .views-field-field-imagen-lanzamientos{
margin: 0 0 -4%;
}*/
#block-views-apertura-estrenos-block .views-field-field-url-del-sitio a{
 color:#FFF;
    font-size: 1.4em;
}
#block-views-apertura-estrenos-block .views-field-field-url-del-sitio {
    display: none;
	
    font-size: 1.6em;
    position: relative;
    text-align: right;
    width: 86%;
}
#block-views-apertura-estrenos-block .views-field-field-url-del-sitio a {
    margin-right: 2%;
    position: relative;
    z-index: 9;
}
#block-views-apertura-estrenos-block .view-footer{
display: block;
clear:both;
}
#block-views-apertura-estrenos-block .view-footer .view-destacados-estrenos{
width: 70%;
margin: auto;
}
#block-views-apertura-estrenos-block .view-footer .view-destacados-estrenos .views-row {
    width: 32%;
    float: left;
    margin-right: 1%;
	margin-top: 2%;
	margin-bottom: 6%;
}
#block-views-apertura-estrenos-block .view-apertura-estrenos{
position: relative;
    clear: both;
    display: block;
	/*background-image:  url("../../../../../apertura/net.png"), url("../../../../../apertura/secuencia3.gif");
	background-position: left top, left top 76%;
    background-repeat: repeat, no-repeat;
    background-size: auto, 100% auto;*/
}
#block-views-apertura-estrenos-block .view-apertura-estrenos > .view-content{
position: relative;
min-height: 887px;
max-height: 887px;
overflow:hidden;
display: block;
clear:both;
}
.views-field-field-imagen-lanzamientos a {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
#block-views-apertura-estrenos-block .views-field-title a:hover {
	color: #D30030;
}
/*Acaba apertura especial*/

.page-iframe-menu-programas .page {
    background: transparent none repeat scroll 0 0;
}
/*.page-programas-menu-iframe #block-menu-menu-menu-secciones-principal-if .last, .page-menu-iframe #block-menu-menu-menu-secciones-principal-if .last{
    background: transparent none repeat scroll 0 0 !important;
	color: #000 !important;
	padding-left: 10px !important;
}
.page-menu-iframe .block-menu-menu-canal-principal-iframe, .page-programas-menu-iframe .block-menu-menu-canal-principal-iframe{
border-top: 0;
}
Esto fue para el cambio de las redes quitar linea y width
/*.page-menu-iframe .block-menu-menu-menu-secciones-principal-if, .page-programas-menu-iframe .block-menu-menu-secciones-principal-if{
border-bottom: 1px solid #CCC;
width: 100% !important;
}*/
.page-programas-menu-iframe .page {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#block-block-461{
text-align: center;
}
#block-block-461 div{
margin: auto;
}
/*esto es instagram*/
.view-bloque-redes-sociales .block-51,
.view-bloque-redes-sociales .block-61
{

	float:left;
	padding-top: 62px;
	width: 32%;
}
.view-bloque-redes-sociales .block-61{
	width: 33%
}
#block-instagram-block-instagram-block h2{
display: none;
}
.view-bloque-redes-sociales #block-instagram-block-instagram-block {
    background: rgba(0, 0, 0, 0) url("../images/redes-canal-instagram.png") no-repeat scroll left top;
}
.view-bloque-redes-sociales #block-instagram-block-instagram-block {
    float: left;
    padding-top: 62px;
    width: 33%;
    text-align: center;
}




/****animacion super finde***/
.iframe-superfinde
{
	bottom: 0;
    float: right;
    position: fixed;
    right: 0;
    width: 150px;
    z-index: 20000;
}

/**** carrousel estilos****/
.view-bloque-apertura-contenedor-home .view-bloque-apertura-chismes, .view-bloque-apertura-contenedor-home #content-brick .view, .view-bloque-apertura-chismes{
	/*background-color: #F7F877;*/
	background-image: none !important;
}
.view-bloque-apertura-contenedor-home .views-field-title {
    text-shadow: none;
	 margin-bottom: 2%;
}
.view-bloque-apertura-contenedor-home a{
color: #2f2f2f;
}
.view-bloque-apertura-contenedor-home .view-bloque-apertura-chismes .views-field-body, .view-bloque-apertura-contenedor-home .views-field-body, .view-integrarsondeosnewpauta > .view-content {
color: #2f2f2f;
display:none;
}
.view-bloque-apertura-contenedor-home .views-row-last, .view-bloque-apertura-contenedor-home .views-row-first{
 border-bottom: 0 none !important;
}
#brick-pager #p1.selected, #brick-pager #p2.selected, #brick-pager #p3.selected, #brick-pager #p4.selected, #brick-pager #p5.selected, #brick-pager #p5.selected {
    color: #7AC100 !important;
}
.view-bloque-apertura-contenedor-home .views-field-title a:hover{
color: #7AC100;
}
#brick-prev {
    background: rgba(247, 247, 247, 0.8) url("../images/bt_prev-1.png") no-repeat scroll right center;
}
#brick-next {
    background: rgba(247, 247, 247, 0.8) url("../images/bt_next-1.png") no-repeat scroll left center;
}

.view-bloque-apertura-chismes .views-row-2 .field-content a, .view-bloque-apertura-chismes .views-row-3 .field-content a {
    font-size: inherit;
}
.block-views-28050eb0c318ff9d969cfcbdd2b1ab79{
	box-shadow: none;
}
/**** carrousel estilos****/

/* redes sociales superior*/
.fb-head-content, .twitter-head-content, .googleplus-head-content, .instagram-head-content{
position:absolute;
padding: 5px;
right: 0;
}
.fb-head, .twitter-head, .googleplus-head, .instagram-head, .snapchat-head
{
float: left;
position:relative;
margin-right: 2%;
width: 16%;
color: #666666;
    font-size: 1.5em;
	cursor: hand;
	cursor: pointer;
	text-rendering: optimizeLegibility;
}
.instagram-head .instagram-logo{
	margin-top: -8px;
}
.instagram-head{
font-size: 1.4em;
line-height: 1.6em;
}
.googleplus-head{
font-size: 1.8em;
line-height: 1.3em;
}
.fb-head:hover{
color: #3B5998;
}
.twitter-head:hover{
color: #28A9E2;
}
.googleplus-head:hover{
color: #EA4335;
}
.instagram-head:hover{
color: #125688;
}
.snapchat-head
{
	font-size: 1.7em;
	margin-top:-2px;
}
.fb-head-bt img, .twitter-head-bt img, .googleplus-head-bt img, .instagram-head-bt img{
width: 100%;
}
.block-menu-menu-secciones-principal, .block-menu-menu-secciones-principal-if{
margin-right: 0;
width: 85%;
}
#block-block-466{
 float: right;
    position: relative;
    right: 2px;
    top: -9px;
    width: 18%;
    z-index: 20000;
}
.page-menu-iframe #block-block-466
{
    float: right;
    position: relative;
    top: 5px;
	right:0;
	height:57px;
} 
.page-menu-iframe #block-menu-menu-iframe-menu
{
    float: left;
    width: 80%;
} 


.fb-head-content div, .twitter-head-content div, .googleplus-head-content div, .instagram-head-content div{
display: block !important;
}
/*ico*/
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ayumnx');
    src:    url('../fonts/icomoon.eot?ayumnx#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ayumnx') format('truetype'),
        url('../fonts/icomoon.woff?ayumnx') format('woff'),
        url('../fonts/icomoon.svg?ayumnx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-google-plus:before {
    content: "\ea8b";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-snapchat:before {
  content: "\e900";
}
#block-block-466 .hidden, #block-block-466 .hidden iframe, #block-block-466 .hidden div{
	visibility:hidden !important;
}


/* redes sociales superior*/



.front #logo, .page-telenovelas #logo, .page-programas #logo, .page-streamingrcn #logo
{
	display:none;
}





/*****menu iframe programas****/
.page-menu-iframe h2, .page-menu-iframe #zone-branding-wrapper
{
	display:none !important;
}
.page-menu-iframe .section-header {
    padding-top: 4px;
}
.page-menu-iframe .zone-header-wrapper
{
	width: 100%;
}
.page-menu-iframe #zone-header-wrapper
{
	margin:0 -20px 0 0;
	float:none;
	width: 100% !important;
}
.block-menu-iframe-menu .first
{
    background-image: url("../images/logorcn-s.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    color: rgba(0, 0, 0, 0);
}
.block-menu-iframe-menu .menu li {
	float:left;
	padding: 9px;
	border-right: solid 1px #B8BAC6;
	margin-left:0px;
}

.page-menu-iframe .block-menu-iframe-menu .menu li a {
    color: rgb(0, 0, 0);
    font-family: "montserratbold";
    font-size: 1.01em;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
}

.page-menu-iframe .block-menu-iframe-menu .menu li.first a {
    color: rgba(255, 255, 255, 0);
}
.player-webcam > iframe {
    width: 100%;
}
/* ======== Widget Copa America ================ */
	#logo-cac-ext {
    float: left;width: 35%; padding-top: 40px;
	
	}
	#logo-cac-ext img {
    width:70%;
	margin-bottom:10px;
	}
#buttonIrCAC a {
	 display: block;
	     width: 100%;
    position: absolute;
    height: 150px;
	font-size: 0px;
	    top: 0;
		left:0;
}
/*.minaminExt{
	float:left;}*/
	#buttonIrCAC p{
    color: #474747;
   
    text-align: center;
    font-family: oswald;
    font-size: 1em;
}
.verOcultarqt {
   max-width: 360px;
    width: 100%;
    margin: auto;
	position: relative;
	display: block;
}

.block-cac-externo-goles-cac-externo #textQt {
	float: left; width:100%;
 
	
}

.block-cac-externo-goles-cac-externo #textQt:hover {
    color: #cc0000;
}
#textQt {
    font-family: oswald;
    font-size: 1.1em;
    margin-left: 4%;
    padding: 8px;
    text-align: center;
    width: 73%;
	    background: rgba(0, 0, 0, 0) url("http://www.deportesrcn.com/sites/all/themes/deportes_noticias/images/boton-partidos.png") no-repeat scroll left top;
    cursor: pointer;
	 display: table;
    margin: 20px auto;
    max-width: 380px;
    width: 100%;
}
#imgflechaqt {
    background: rgba(0, 0, 0, 0) url("http://www.deportesrcn.com/sites/all/themes/deportes_noticias/images/flecha-partidos-01.svg") no-repeat scroll left top;
    float: right;
    height: 15px;
    margin-top: 10px;
    width: 15%;
    position: absolute;
    right: 0;
    top: 22px;
}
.block-cac-externo-goles-cac-externo #imgflechaqt {
    float: right;
    background: url(../images/flecha-partidos-01.svg)left top no-repeat;
    width: 15%;
    height: 15px;
    margin-top: 10px;
}
.nota-ppal-aperturaTemph{ float:left; width:66%; margin:0 3% 0 0; }
.nota-ppal-aperturaTemph h2{ line-height:1.2em; font-size:30px; margin-bottom: 5px; font-weight: normal;}
.notas-second-aperturaTemph h2{  font-size: 23px; font-weight: normal;
    line-height: 1.2em; }
	.notas-second-aperturaTemph a, .nota-ppal-aperturaTemph a {  color: #000000; }
.notas-second-aperturaTemph { float:left; width:31%; }
.block-views-los-goles-cac-block {
    margin-bottom: 0;
	float: left;
}
.block-views-los-goles-cac-block .content, .block-las-historias-block .content {
    background: #555555 none repeat scroll 0 0;
    padding: 1%;
}
.block-views-los-goles-cac-block .view-footer, .block-las-historias-block .view-footer {
    float: left;
    width: 25%;
}
.block-views-los-goles-cac-block .views-row, .block-las-historias-block .views-row {
    float: left;
    margin-right: 1%;
    width: 24%;
}
.block-views-los-goles-cac-block h2 a:hover, .block-las-historias-block h2 a:hover {
    color: #8c8b8b;
}
.block-views-los-goles-cac-block a:hover, .block-las-historias-block a:hover {
    color: #ccc;
}
#block-quicktabs-copa-america-centernario {
    margin-bottom: 3%;
}
#block-quicktabs-fase-de-grupos, #block-quicktabs-copa-america-centernario {
    background: #e9e9e9 none repeat scroll 0 0;
	float: left;
	width: 100%;
}
.block-views-los-goles-cac-block a, .block-las-historias-block a {
    color: #fff;
	font-size: 21px;
    line-height: 1em;
}

.view-partidos-x-grupo .views-row, #quicktabs-container-fase_final_ .view-partidos-x-grupo .views-row {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.4) inset;
    float: left;
    padding: 12px 0 0;
    width: 50%;
}
.view-partidos-x-grupo .views-row .views-field-title, .view-partidos-x-grupo .views-row .views-field-title {
    text-align: right;
	font-size: 13px;
}

.view-partidos-x-grupo .views-row .views-field-field-imagen-equipo, #quicktabs-container-grupos .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo-1, .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo, .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo-1 {
    width: 15%;
}
.view-partidos-x-grupo .views-row .views-field-views-conditional, #quicktabs-container-fase_final_ .view-partidos-x-grupo .views-row .views-field-views-conditional {
    margin-top: 24px;
    text-align: center;
    width: 14%;
}
.view-partidos-x-grupo .views-row .views-field-field-imagen-equipo, #quicktabs-container-grupos .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo-1, .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo, .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo-1 {
    width: 15%;
}
.view-partidos-x-grupo .views-row .views-field-title, #quicktabs-container-grupos .view-partidos-x-grupo .views-row .views-field-title-1, .view-partidos-x-grupo .views-row .views-field-title, .view-partidos-x-grupo .views-row .views-field-title-1 {
    font-weight: bold;
    margin-top: 24px;
    text-transform: uppercase;
    width: 28%;
}
.view-partidos-x-grupo .views-row .views-field, #quicktabs-container-fase_final_ .view-partidos-x-grupo .views-row .views-field {
    float: left;
    font-family: "droid_sans",sans-serif;
}
.view-partidos-x-grupo .views-row .views-field-field-informacion-de-partido, .view-partidos-x-grupo .views-row .views-field-field-informacion-de-partido {
    background: #d8d8d8 none repeat scroll 0 0;
    color: #5b5b5b;
    font-size: 14px;
    padding: 2%;
    text-align: center;
    width: 96%;
}
.nota-second-1887 {
    margin-bottom: 15px;
}
.block-views-los-goles-cac-block h2 a, .block-las-historias-block h2 a {
    color: #555555;
	  font-size: 50px;
}
/*----TABS----*/
#block-quicktabs-fase-de-grupos, #block-quicktabs-copa-america-centernario {
	background: #e9e9e9;
	float: none;
    margin: 20px auto 0;
    max-width: 1200px;
	}
#quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs  {
	border-bottom: 1px solid #b3b3b3;
	font-family: 'oswald', sans-serif;
	text-transform: uppercase;
	padding: 5px 0;
	float: left;
	width:100%;
	margin:0;
	}
#quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs li, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs li {
	background: url(http://www.deportesrcn.com/sites/all/themes/deportes_noticias/images/ca-bg-tabs.png) no-repeat center left #cecece;
	text-decoration: none;
	padding:8px 10px 8px 20px;
	display: block;
	float:left;
	margin-bottom:0;
	font-size:16px;
	}
	
#quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs li a, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs li a {
	color: #5e5e5e;
	text-decoration: none;
	}
#quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs li.active, #quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs li:hover, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs li.active, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs li:hover { background:url(http://www.deportesrcn.com/sites/all/themes/deportes_noticias/images/ca-bg-tabs.png) no-repeat center left #91160c; cursor: pointer;}

#quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs li.active a, #quicktabs-fase_de_grupos .item-list ul.quicktabs-tabs li:hover a, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs li.active a, #block-quicktabs-copa-america-centernario .item-list ul.quicktabs-tabs li:hover a { color:#FFFFFF;}

#quicktabs-grupos div.item-list ul.quicktabs-tabs, #quicktabs-fase_final_ div.item-list ul.quicktabs-tabs, #quicktabs-grupos_cac_eeuu div.item-list ul.quicktabs-tabs, #quicktabs-fase_final_cac div.item-list ul.quicktabs-tabs{ padding:5px 0; }

#quicktabs-grupos div.item-list ul.quicktabs-tabs li, #quicktabs-fase_final_ div.item-list ul.quicktabs-tabs li, #quicktabs-grupos_cac_eeuu div.item-list ul.quicktabs-tabs li, #quicktabs-fase_final_cac div.item-list ul.quicktabs-tabs li{ 
background: none; padding:5px 10px; font-size:14px; font-weight:normal;
}
#quicktabs-container-grupos div.item-list ul.quicktabs-tabs li.first, #quicktabs-grupos_cac_eeuu div.item-list ul.quicktabs-tabs li.first, #quicktabs-fase_final_cac div.item-list ul.quicktabs-tabs li.first{ margin-left:0;}

#quicktabs-grupos div.item-list ul.quicktabs-tabs li.active, #quicktabs-grupos div.item-list ul.quicktabs-tabs li:hover, #quicktabs-fase_final_ div.item-list ul.quicktabs-tabs li.active, #quicktabs-fase_final_ div.item-list ul.quicktabs-tabs li:hover, #quicktabs-grupos_cac_eeuu div.item-list ul.quicktabs-tabs li.active, #quicktabs-grupos_cac_eeuu div.item-list ul.quicktabs-tabs li:hover, #quicktabs-fase_final_cac div.item-list ul.quicktabs-tabs li.active, #quicktabs-fase_final_cac div.item-list ul.quicktabs-tabs li:hover { 
	background: #3a3a3a; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}
#quicktabs-container-grupos, #quicktabs-container-fase_final_, #quicktabs-grupos_cac_eeuu, #quicktabs-fase_final_cac { float:left; width:94%; padding:1% 3% 3% 3%;}
#quicktabs-container-grupos h4 { text-transform: uppercase; font-size: 38px; font-family: 'oswald', sans-serif; margin:12px 0; display: table;}
.view-partidos-x-grupo .views-row, #quicktabs-container-fase_final_ .view-partidos-x-grupo .views-row { 
	width:50%;
	float:left; 
	background: #FFFFFF; 
	padding:12px 0 0 0; 
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
}
.view-partidos-x-grupo .views-row .views-field, #quicktabs-container-fase_final_ .view-partidos-x-grupo .views-row .views-field  { float:left; font-family: "droid_sans",sans-serif;}

.view-partidos-x-grupo .views-row .views-field-field-imagen-equipo, #quicktabs-container-grupos .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo-1, .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo, .view-partidos-x-grupo .views-row .views-field-field-imagen-equipo-1  { width:15%;}
.views-field-field-imagen-equipo img, .views-field-field-imagen-equipo-1 img { width:100% !important; height: auto !important; max-width: 76px;}

.view-partidos-x-grupo .views-row .views-field-title, #quicktabs-container-grupos .view-partidos-x-grupo .views-row .views-field-title-1, .view-partidos-x-grupo .views-row .views-field-title, .view-partidos-x-grupo .views-row .views-field-title-1  {	width:28%;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 24px;
}
.view-partidos-x-grupo .views-row .views-field-title, .view-partidos-x-grupo .views-row .views-field-title { text-align: right; }
.view-partidos-x-grupo .views-row .views-field-field-informacion-de-partido, .view-partidos-x-grupo .views-row .views-field-field-informacion-de-partido  {
	background:#d8d8d8;
	color:#5b5b5b;
	font-size:14px;
	padding: 2%;
	text-align:center;
	width:96%;
	}
.view-partidos-x-grupo .views-row .views-field-views-conditional, #quicktabs-container-fase_final_ .view-partidos-x-grupo .views-row .views-field-views-conditional  {
	width:14%; 
	text-align: center; 
	margin-top: 24px;
}
.view-partidos-x-grupo .views-row .views-field-views-conditional span, .view-partidos-x-grupo .views-row .views-field-views-conditional span  { 
	background:#444444; 
	color:#FFFFFF; 
	font-weight: bold; 
	padding: 0 5px;
}
#block-cac-externo-goles-cac-externo  {
    float: none;
    margin: auto;
    max-width: 1200px;
    width: 100%;
 
}
#block-cac-externo-goles-cac-externo img {
width: 100%;
height: auto;
 
}
.block-cac-externo-goles-cac-externo #textQt p {
    float: left;
    font-family: oswald;
    font-size: 1.1em;
    margin-left: 4%;
    padding: 8px;
    text-align: center;
    width: 73%;
}
#quicktabs-copa_america_centernario table {
  float: left;
    width: 96%;
    margin: 1% 2%;
}
#block-cac-externo-apertura-cac-externo {
    float: none;
    margin: 50px auto 0;
    max-width: 1200px;
	 position: relative;
    z-index: 0  !important;
	background: rgba(0, 0, 0, 0) url("http://www.deportesrcn.com/sites/all/themes/deportes_noticias/images/bg-copa7.png") no-repeat scroll right top;
}
.nota-ppal-aperturaTemph {
    font-size:16px;
}

#quicktabs-container-grupos .view-partidos-x-grupo table { float:left; font-family: "droid_sans",sans-serif;}
#quicktabs-container-grupos .view-partidos-x-grupo table img { height:65px !important;}
#quicktabs-container-grupos .view-partidos-x-grupo table .views-field-field-imagen-equipo { max-width: 25px;}
#quicktabs-container-grupos .view-partidos-x-grupo table td { vertical-align: middle; text-align: center;}
#quicktabs-container-grupos .view-partidos-x-grupo table th { text-align: center; font-weight: bold; padding:8px 0;}
#quicktabs-container-grupos .view-partidos-x-grupo table td.views-field-title { text-align: left;}
#quicktabs-tabpage-copa_america_centernario-0 li{ font-size: 14px !important; background:none !important; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; }
#quicktabs-tabpage-copa_america_centernario-0 li.active { background: #3a3a3a  !important; font-size: 14px !important;  padding: 8px 10px 8px 8px !important; }
table .views-field-field-imagen-equipo img {
    height: 50px;
    width: auto;
    margin: 2%;
}
tr.even, tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
tr.odd td {
    background: #fff none repeat scroll 0 0;
}
#block-quicktabs-copa-america-centernario h2 {display:none;}
#block-block-377 {
	width: 100%;
	float:left;
}
#block-cac-externo-apertura-cac-externo img {width:100%; height: auto;}
#quicktabs-copa_america_centernario .contextual-links-region {
    position: unset;
}
#quicktabs-container-copa_america_centernario img {width:20%; height:auto;}
#quicktabs-container-copa_america_centernario tr.odd td {
    vertical-align: middle;
}
#block-block-471{
position: relative;
display: block;
text-align:center;
}
#block-block-471 div{
margin: auto;
display:block;
}
/*======GOLES COPA AMERICA========= */
goles{float: left; width: 100%; margin:15px 0;}
goles div{float: left; width: 31.33%; margin: 20px 1% 5px; min-height:230px}
goles div:hover{cursor:pointer; color: #CC0003;}
goles div img {width:100%; height: auto;}
goles h2{font-size: 20px; font-weight: normal; line-height: 1.2em;}
#ooyala-goles-cac{float:left; width:100% !important; position: relative; margin-top: 10px;}
.cerrar {position:absolute !important; right:0; top: 20px; width:auto !important; height: auto !important; border: solid 1px #ccc; padding: 3px 10px ;    margin-right: 2%; background:#fff; z-index:1 !important;}
.cerrar:hover {background:#cc0000; color: #FFFFFF; cursor: pointer; }
#ooyala-goles-cac .innerWrapper {float:left; width:96% !important; /*height: 492px !important;*/ margin:  50px 2% 10px;}


/***web cam copa america**/
#block-views-player-copa-cm-rica-block
{
	background-image: url("../images/bg-copa-a.jpg");
    background-size: 100% auto;
    padding: 2% 0;
    text-align: center;
}
#block-views-player-copa-cm-rica-block a
{
	color: rgb(255, 255, 255);
    float: left;
    font-size: 1.5em;
    margin-bottom: 40px;
    width: 100%;
}


#block-views-player-copa-cm-rica-block
{
  background-image: url("../images/bg-copa-a.jpg");
    background-size: 100% auto;
    padding: 2% 0;
    text-align: center;
}
#block-views-player-copa-cm-rica-block a
{
  color: rgb(255, 255, 255);
    float: left;
    font-size: 1.5em;
    margin-bottom: 40px;
    width: 100%;
  line-height:1em;
}
.page-node-7301 #ooyalaplayer
{
      background: rgb(245, 222, 179) none repeat scroll 0 0;
    height: 360px;
    width: 719px !important;
}
/*** fin web cam copa america**/


/*streaming copa videos */
#ooyala-goles-cac {
    float: left;
    margin-top: 10px;
    position: relative;
    width: 45% !important;
}
#video-tabla #tabla-de-posiciones {
    float: left;
    overflow: hidden;
    width: 55%;
}
#ooyala-goles-cac .cerrar {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    height: auto !important;
    margin-right: 2%;
    padding: 3px 10px;
    position: absolute !important;
    right: 0;
    top: 50px;
    width: auto !important;
    z-index: 1 !important;
}
#video-tabla #ooyala-goles-cac > div {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 10000;
}
#video-tabla .tab-posiciones {
    float: left;
    margin-top: 50px;
    width: 100%;
}
#video-tabla .tab-posiciones div {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #c9c9c9 #c9c9c9 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    margin-right: 1%;
    text-align: center;
    width: 23%;
}
/* fin streaming copa videos */
.context-eventos #block-block-472 {
    margin: auto;
    max-width: 1200px;
    width: 80%;
}

.view-banner-especial-copa-am-rica-centenario img{
width: 100%;
height: auto;
}
#block-views-d0d07cbbcbe6561973bf129ba5e21b7b {
    margin-bottom: -2%;
    padding-top: 7%;
}
/* eurocopa section */
.block-eurocopa-externo {
    background: url("../images/logo-euro-home1.png") no-repeat scroll center 10px, #004180 url("../images/bg-eurocopa16.jpg") repeat scroll 0 0 / cover ;
    padding: 6px 2% 10px;
    width: 94%;
	max-width: 990px;
	margin: auto;
	box-sizing:border-box;
}
.block-eurocopa-externo .block-title a {
    font-size: 0;
}
.block-views-eurocopa-externo-block .views-row {
    float: left;
    margin-right: 1%;
    width: 24%;
	margin-bottom: 2%;
}
.block-views-eurocopa-externo-block .views-row img{
width: 100%;
}
.block-eurocopa-externo .views-field-title a{
color: #FFF;
font-weight: normal;
font-size: 0.7em !important;
    line-height: 0.8em !important;
}
.block-eurocopa-externo .views-field-title{
    line-height: 0.8em !important;
}
.footer-euroExt{
clear: both;
width: 40%;
margin: auto;
text-align: center;
color: #FFF;
letter-spacing: 0.08em;
background-color: rgba(0, 43, 86, 0.8);
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}
.footer-euroExt h2 {
    font-size: 20px;
}
#block-block-447
{
	text-align:center;
}
.context-atencionaltelevidente #edit-submitted-acepto-1{
    border: medium none;
    height: auto;
    width: auto;
	box-shadow:none;
}
.context-atencionaltelevidente #webform-component-acepto > label{
display: none;
}
.context-atencionaltelevidente .g-recaptcha {
    float: none;
    padding-right: 0;
    text-align: center;
    width: 100%;
}
.context-atencionaltelevidente .g-recaptcha div{
display: block;
margin:auto;
}
.context-atencionaltelevidente #webform-component-politica-de-proteccion-de-datos-personales-ante-el-canal-rcn{
margin-top: 5%;
}
.render-sondeo-home p {
    background-color: rgba(86, 86, 86, 1);
    /*bottom: 0;*/
    box-sizing: border-box;
    font-size: 0.85em !important;
    line-height: 1.2em;
    min-height: 35px;
    padding-bottom: 3%;
    padding-top: 4%;
    /*position: absolute;*/
    text-transform: uppercase;
    width: 100%;
	left: 0;
}
.view-bloque-embeded-videos-home .video div{
top: 0 !important;
z-index: 1 !important;
}





.view-bloque-capitulos-home .views-row .views-field-field-producci-n .field-content,
.view-capitulos-home-streaming .views-row .views-field-field-producci-n .field-content
{
	background-color: #7EA603;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 1em;
	right:2%;
    padding: 0.5% 2%;
    position: absolute;
    text-transform: uppercase;
    top: 2%;
	font-family: 'montserratregular';

}
.view-lo-m-s-le-do .views-row .views-field-field-producci-n .field-content
{
	
    box-sizing: content-box;
    color: #7EA603;
	background-color: transparent;
    font-size: 14px !important;
    right: 2%;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    top: 0;
    font-family: 'montserratregular';

}

element.style {
    border: 0 none;
    height: 250px;
    left: 0;
    top: 0;
    vertical-align: bottom;
    width: 300px;
}
/* apertura 990px*/
.block-banner-home-animado-block iframe {
    min-height: 100px;
}
/* apertura 990px*/
.block.block-block.block-478.block-block-478.even.block-without-title, #block-block-478 {
    margin: auto;
    max-width: 990px;
}
.block-block-467 div{
margin: auto;
}
.cont-exclusivas-clips   {
    max-width: 990px;
	width:100%;
    margin: auto;
	    margin-bottom: 20px;
		    padding: 0 5px;
    box-sizing: border-box;
}
.cont-exclusivas-clips  .views-field-title {
	 font-size: 17px;
	 line-height: 1.2em;
}
.view-bloque-apertura-chismes, .view-bloque-apertura-videos {
       width: 47%;
    height: auto;
    float: left;
    margin-right: 3%;
}
.view-bloque-apertura-chismes {
 border-right: solid 1px #ccc;
    padding-right: 2%;
}

.view-bloque-apertura-videos {
    margin-right: 0;
}

.view-bloque-apertura-chismes .views-row, .view-bloque-apertura-videos .views-row {
   width: 47%;
    float: left;
    color: #000;
    margin-right: 5%;
    font-size: 18px;
}
.view-bloque-apertura-chismes .views-row-even, .view-bloque-apertura-videos .views-row-even {
   margin-right:0;
}
.cont-backing-expander {
    width: 990px;
	margin: auto;
	position: relative;
	min-height: 90px;
	margin-bottom: 10px;
}
.view-contenedor-exclusivas-clips- > .view-content {
   display:none;
}
.view-contenedor-exclusivas-clips- > .view-header {
  float:left; width: 50%;
}
.view-contenedor-exclusivas-clips-  h3, .lo-nuevo-home h3 {
    font-size: 40px;
    font-weight: normal;
    font-family: 'Lato-Black';
}
.lo-nuevo-home h3 {
	text-align:left;
}
.backing-izq, #back-izq {
    position: absolute;
    left: -168px;
    top: 0;
    width: 160px;
    text-align: right;
	
}
.block-460 iframe {
    height: 60px !important;
	
}
.front #back-izq {
    left: -158px ;
	/*transition-property: top;
 transition-duration: 1s, 1s, 0.5s, 0.5s;*/

  
}
.front #back-der {
    right: -158px ;
	/* transition-property: top;
 transition-duration: 1s, 1s, 0.5s, 0.5s;*/

  
}
.backing-der, #back-der {
    position: absolute;
    right: -145px;
    top: 0;
    width: 160px; 
                 
}
.barraexpander {
    width: 100%;   
	float:left;                  
}
.float-back-izq {
    position: fixed !important;
	top:45px !important; 
	left: 50% !important;
    margin-left: -663px;               
}
#zone-postscript-wrapper {
	text-align: center;
	width: 100%;             
}
.float-163-back-der {
     position: fixed !important;
	top:45px !important; 
	right: 50% !important;
    margin-right: -640px;                
}
.front .float-back-izq {
	top: 140px !important; 
    margin-left: -653px; 
	left: 50% !important;
	 z-index: 2000;  
	          
}
.front .float-163-back-der {
	margin-right: -654px;
    position: fixed !important;
    right: 50% !important;
    top: 140px !important;   
	 z-index: 2000;   
	       
}
.views-field-field-imagen-responsive {
    display: none; 
	width:100%;                
}
.views-field-field-imagen-deportes { 
   width:100%;
}
.view-bloque-iframe-deportes img {  
   width:100%;
   height: auto;
}
.block-415 {  
   width: 990px;
    float: left;
    text-align: center;
    display: table;
    margin: auto;
    height: 150px;
}



/******carrucel home*****/
.producciones-titulo
{
	margin-top:25px;
}
.view-Rotador-producciones
{
	width:100%;
	overflow:hidden !important;
}
.view-Rotador-producciones img, .views_slideshow_cycle_main img
{
	width:100%;
	height:auto;
}

.views-slideshow-controls-text {
    bottom: 200px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 1000;
}
.views-slideshow-controls-text-pause
{
	display:none;
}
.views-slideshow-controls-text-previous
{
	 background-image: url("../images/prev-prod.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    color: transparent;
    float: left;
    left: 5px !important;
    padding-right: 15px;
    position: relative;
    top: 0;
}
.views-slideshow-controls-text-next {
    background-image: url("../images/next-prod.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 10px auto;
    color: transparent;
    float: right;
    padding-right: 15px;
    position: relative;
    right: 5px !important;
    top: 0;
}

/******fin carrucel home*****/



/***señan en vivo tw***/
#widgetTwitterNew
{
	float: right;
	margin-left:2%;
	margin-top:26px;
	display: block;
	display: none;
	
}
.page-streamingrcn .title-streaming {
    text-shadow: none;

}

/* barra */
.barraexpander {
    height: 0;
}

/*Eleciones Usa*/
#block-block-486, #block-block-487{
    display: block;
    margin: 1% auto;
    max-width: 990px;
    width: 100%;
}
#block-block-486 iframe, #block-block-487  iframe{
width: 100%;
}
#block-block-486 .iframeeleccioneseeuu {
    width: 100%;
    height: 1050px;
}
#block-block-487 iframe{
height: 763px;
max-height: 763px;
overflow: scroll;
}
@media (max-width: 800px) {#block-block-486 .iframeeleccioneseeuu {height: 946px;}}
@media (max-width: 600px) {#block-block-486 .iframeeleccioneseeuu {height: 1055px;}}
@media (max-width: 450px) {#block-block-486 .iframeeleccioneseeuu {height: 990px;}}
@media (max-width: 380px) {#block-block-486 .iframeeleccioneseeuu {height: 1460px;}}

/* usa widget*/
@media (max-width: 700px) {#block-block-487 iframe {height: 706px; max-height: 706px;}}
@media (max-width: 600px) {#block-block-487 iframe {height: 635px; max-height: 635px;}}
@media (max-width: 500px) {#block-block-487 iframe {height: 566px; max-height: 566px;}}
@media (max-width: 500px) {#block-block-487 iframe {height: 566px; max-height: 566px;}}
@media (max-width: 400px) {#block-block-487 iframe {height: 524px; max-height: 524px;}}
/*fin Eleciones Usa*/