@media only screen and (min-width: 990px) and (max-width: 3000px){
.context-streamingrcn #region-content {
    width: 62% !important;
}
.block-460 iframe {
    height: 1 !important;
	
}
}
@media only screen and (max-width: 989px){
/*footer***************/
.section-footer .om-menu-ul-wrapper, .om-maximenu.om-maximenu-block ul.om-menu, .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf, .section-footer .om-maximenu-tabbed-content {
    clear: both;
    display: block;
    float: none;
    width: 100% !important;
	height: auto;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link {
    display: block;
    float: none;
    margin: auto;
}
.section-header, .zone-footer-wrapper{
width: 100% !important;
}
.section-footer {
    background: #3f3f3f none repeat scroll 0 0;
    padding: 30px;
	box-sizing:border-box;
}
.section-footer .block-menu{
height: auto;
}
@media only screen and (max-width: 600px){
.section-footer .block-menu {
    border-right: 0 none;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 45% !important;
}
}
@media only screen and (max-width: 400px){
.section-footer .block-menu {
    width: 100% !important;
}
}
/*footer***************/
}
@media only screen and (min-width: 801px) and (max-width: 989px){
	.view-bloque-capitulos-home-primaria .views-row-1 {
    height: 418px;

}
.view-bloque-capitulos-home > .view-content {
    width: 55%;

}
.block-bloque-capitulos-home-block, .cont-exclusivas-clips, .block-integrarsondeosnewpauta-block {
    width: 96%;
    padding: 2%;
}
.view-integrarsondeosnewpauta > .view-header {
    width: 60%;
}
.view-integrarsondeosnewpauta .view-footer {
    width: 36%;
}
.page-streamingrcn #block-views-capitulos-home-streaming-block .view-capitulos-home-streaming .views-row {
    width: 100% !important;
}
.block-bloque-capitulos-home-block {
    margin-top: 120px;
}

/*.front .webcam-vivo .player-webcam {
    width: 57%;
}*/
	}
@media only screen and (min-width: 701px) and (max-width: 800px){
	.views-field-field-imagen-lanzamientos {
	display: none;
}

.block-banner-home-animado-block {
    margin: 0 0 0 0;
 
}
.views-field-field-imagen-lanzamiento-peq {
	display: table;
}

.views-field-field-t-tulo-video-1 .field-content {
    font-family: 'bebas_neueregular',arial;
    font-size: 25px;
    left: 0;
    position: absolute;
    top: -30px;
    width: 100%;
}
.view-bloque-embeded-videos-home .views-field-field-video-1 {
    margin-bottom: 41px;
}
.views-field-field-t-tulo-video-2 .field-content {
    bottom: 49%;
    left: 0;
    right: auto;
    top: auto;
	width: 100%;
}
.view-bloque-capitulos-home-primaria .titulo-body-view-row-1 {
    position: inherit;
    right: 0;
    bottom: 0;
    width: 100%;
}
.view-bloque-apertura-fotos .views-row, .view-bloque-apertura-noticias .views-row-first img {
    width: 48%;
    margin-right: 2%;
    float: left;
}
.view-bloque-apertura-fotos .views-row .views-field-field-imagen {
    height: 140px;

}
.produccion-view-row-1 {
    float: left;

}
.titulo-body-view-row-1 h1 {
    float: left;
    text-align: left;
	font-size: 28px;
}
.titulo-body-view-row-1 p {
    text-align: left;
	    color: #000;
}
.view-contenedor-exclusivas-clips- .views-row {
    min-height: 250px;
}
.view-lo-m-s-le-do .views-row {
    width: 100%;
    margin-left: 4%;
}
.view-bloque-capitulos-home-primaria  .play-icon{
	
background: none;
}
.view-bloque-capitulos-home-primaria .cap-ver-mas a {
    position: inherit;
	float: left;
}
.titulo-body-view-row-1 h1 {
    text-shadow: 0px 0px 0px #fff;
	color:#000000;
}
.view-bloque-capitulos-home > .view-content {
    width: 100%;
    padding-right: 0;
}
.view-bloque-capitulos-home > .view-content .views-row {
      width: 46%;
    margin-right: 3%;
    height: auto;
}
.view-bloque-capitulos-home > .view-footer {
    width: 85%;
    border-left: none;
    padding-left: 0;
}
.block-parrilla-home .programas {
    border: 1px solid #CDCDCD;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: auto;
    padding-left: 0;
    width: 19%;
    padding: 15px 2%;
    display: table;
}
.view-bloque-capitulos-home-primaria .views-row-1 {
    overflow: inherit;
    height: auto;
    margin-bottom: 20px;
}
#block-parrilla-parrilla-home .player {
    display: none;
}
 .block-parrilla-home .programacion {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: auto;
    padding-left: 0;
    width: 88%;
    padding: 5px 2%;
    display: table;
	min-height:inherit;
}
.ver-todo a {
    padding: 8px 2px;

}
.block-parrilla-home {
	background: none;
	border: none;
	    margin-top: 35px;
		position: initial;
}
.first-programa {
    background-color: rgba(212,212,212,0);
}
.cont-exclusivas-clips {
    width: 91%;
    margin: 0 5%;
    display: table;
}
.estado-programa {
    display: none;
}
.ruta-programa {
    line-height: 0.7em;
    padding: 1px 2%;
    width: 97%;
   
}
.titulo-programacion, .ver-todo {
       padding-top: 0;
    width: 40%;
    float: left;
	
    line-height: 1.8em;
}
.hora-programa {
    padding-top: 10px;
}
.view-bloque-top-5-home > .view-content {
    width: 100%;
    margin-right: 0;
}
.block-bloque-top-5-home-block .views-field-title, .block-bloque-top-5-home-block .views-field-body {
    padding: 0;
}
.view-integrarsondeosnewpauta .view-footer {
    width: 100%;
}
.block-bloque-chismes-home-block, .block-bloque-capitulos-home-block, .block-0cb36e33e36e41b696ce827b1e7bcb72, .block-bloque-videos-home-block, .block-bloque-versus-home-block, .view-bloque-top-5-home, .block-bloque-redes-sociales-block, .block-131, .block-231, .block-bloque-iframe-deportes-block, .block-418, #block-views-integrarsondeosnewpauta-block {
    padding: 5px 5%;
}
.view-contenedor-exclusivas-clips- h3, .lo-nuevo-home h3 {
    font-size: 30px;
}
.view-bloque-apertura-chismes, .view-bloque-apertura-videos {
    width: 100%;
    border: none;
    margin-right: 0;
	height: auto;
}
.block-bloque-capitulos-home-block {
    margin: 10px auto 20px;
}
.parrilla {
    margin: 0 auto;
    width: 100%;
	padding: 0 3%;
}
.view-integrarsondeosnewpauta > .view-header {
    float: left;
    margin-right: 0;
    width: 100%;
}
.block-parrilla-home {
    height: auto;

}
.block-bloque-capitulos-home-block {
    margin-top: 0px;
}


.front .webcam-vivo .player-webcam {
    width: 100%;
}
/*.front .webcam-vivo .player-webcam {
    width: 53%;
}*/
	
	}
@media only screen and (min-width: 0px) and (max-width: 700px){
.views-field-field-imagen-lanzamientos {
	display: none;
}
.views-field-field-imagen-lanzamiento-peq {
	display: table;
}

.views-field-field-t-tulo-video-1 .field-content {
    font-family: 'bebas_neueregular',arial;
    font-size: 25px;
    left: 0;
    position: absolute;
    top: -30px;
    width: 100%;
}
#widgetTwitterNew {
    width: 100%;
}
.view-bloque-embeded-videos-home .views-field-field-video-1 {
    margin-bottom: 41px;
}
.views-field-field-t-tulo-video-2 .field-content {
    bottom: 49%;
    left: 0;
    right: auto;
    top: auto;
	width: 100%;
}
.view-bloque-capitulos-home-primaria .titulo-body-view-row-1 {
    position: inherit;
    right: 0;
    bottom: 0;
    width: 100%;
}
.produccion-view-row-1 {
    float: left;

}
.titulo-body-view-row-1 h1 {
    float: left;
    text-align: left;
	font-size: 28px;
}
.titulo-body-view-row-1 p {

    text-align: left;
	    color: #000;
	
}
.view-bloque-capitulos-home-primaria  .play-icon{
	
background: none;
}
.view-bloque-capitulos-home-primaria .cap-ver-mas a {
    position: inherit;
	float: left;
}
.titulo-body-view-row-1 h1 {
    text-shadow: 0px 0px 0px #fff;
	color:#000000;
}
.view-bloque-capitulos-home > .view-content {
    width: 100%;
    padding-right: 0;
}
.view-bloque-capitulos-home > .view-content .views-row {
    width: 100%;
    margin-right: 0;
    height: auto;
}
.view-bloque-capitulos-home > .view-footer {
    width: 85%;
    border-left: none;
    padding-left: 0;
}
.block-parrilla-home .programas {
    border: 1px solid #CDCDCD;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: auto;
    padding-left: 0;
    width: 19%;
    padding: 15px 2%;
    display: table;
}
.view-bloque-capitulos-home-primaria .views-row-1 {
    overflow: inherit;
    height: auto;
    margin-bottom: 20px;
}
#block-parrilla-parrilla-home .player {
    display: none;
}
 .block-parrilla-home .programacion {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    height: auto;
    padding-left: 0;
    width: 88%;
    padding: 5px 2%;
    display: table;
}
.ver-todo a {
    padding: 8px 2px;

}
.block-parrilla-home {
	background: none;
	border: none;
	    margin-top: 35px;
		position: initial;
		height: auto;
}
.first-programa {
    background-color: rgba(212,212,212,0);
}
.cont-exclusivas-clips {
    width: 91%;
    margin: 0 5%;
    display: table;
}
.estado-programa {
    display: none;
}
.ruta-programa {
    line-height: 0.7em;
    padding: 1px 2%;
    width: 97%;
   
}
.titulo-programacion {
    padding-top: 0;
}
.hora-programa {
    padding-top: 10px;
}
.view-bloque-top-5-home > .view-content {
    width: 100%;
    margin-right: 0;
}
.block-bloque-top-5-home-block .views-field-title, .block-bloque-top-5-home-block .views-field-body {
    padding: 0;
}
.view-integrarsondeosnewpauta .view-footer {
    width: 100%;
}
.block-bloque-chismes-home-block, .block-bloque-capitulos-home-block, .block-0cb36e33e36e41b696ce827b1e7bcb72, .block-bloque-videos-home-block, .block-bloque-versus-home-block, .view-bloque-top-5-home, .block-bloque-redes-sociales-block, .block-131, .block-231, .block-bloque-iframe-deportes-block, .block-418, #block-views-integrarsondeosnewpauta-block {
    padding: 5px 5%;
}
.view-contenedor-exclusivas-clips- h3, .lo-nuevo-home h3 {
    font-size: 30px;
}
.view-bloque-apertura-chismes, .view-bloque-apertura-videos {
    width: 100%;
    border: none;
    margin-right: 0;
	height: auto;
}
.parrilla {
    margin: 0 auto;
    width: 100%;
	padding: 0 3%;
}
.view-integrarsondeosnewpauta > .view-header {
    float: left;
    margin-right: 0;
    width: 100%;
}
.front .webcam-vivo .player-webcam {
    width: 100%;
}
.front .webcam-vivo .hashtag {
    width: 97% !important;
	height: 132px !important;
}
.views-slideshow-controls-text {
	display:none;
}
}
@media only screen and (max-width: 989px){
	.page-streamingrcn .player iframe {
    height: 470px !important;
}
.cont-backing-expander {
    display: none;
}

}
@media only screen and (max-width: 900px){
	.page-streamingrcn .player iframe {
    height: 410px !important;
}

}
@media only screen and (max-width: 802px) {
	.producciones-titulo, .view-rotador-producciones {
		display:none;
}
.block-banner-home-animado-block {
    margin: 0 0 0 0;
 
}
}
@media only screen and (max-width: 800px) {
	.page-streamingrcn .player iframe {
    height: 380px !important;
}
}
@media only screen and (max-width: 700px){
	.page-streamingrcn .player iframe {
    height: 320px !important;
}
}
@media only screen and (max-width: 600px){
	.page-streamingrcn .player iframe {
    height: 270px !important;
}
.views-field-field-imagen-responsive {
    display: block !important;                 
}
.views-field-field-imagen-deportes {
   display: none !important;   
}

}
@media only screen and (max-width: 500px){
	.page-streamingrcn .player iframe {
    height: 220px !important;
}
	}
@media only screen and (max-width: 400px){
	.page-streamingrcn .player iframe {
    height: 174px !important;
}
#widgetTwitterNew {
    width: 87%;
	margin:30px 6%;
}

.front .webcam-vivo {
    min-height: 258px;
    width: 95%;
}
}