/**
 * @file
 *   CSS & media queries for responsive_menus_simple style.
 */

/* Responsive mode, engage! */
.responsive-menus.responsified {
 clear: both;
    left: 0;
    position: fixed;
    top: 0;
	height: 45px;
    width: 100%;
	z-index: 999;
	 background: url(../../../../../../themes/canalrcn/images/logo-movil.png) no-repeat 3% center #333;
	/*background: url(../../../../../../themes/canalrcn/images/logo-movil-navidad-2015.png) no-repeat 3% center #333;*/
	 -webkit-box-shadow:inset 0 -10px 12px 0 rgba(0,0,0,0.3);
box-shadow:inset 0 -10px 12px 0 rgba(0,0,0,0.5);

}
.responsive-menus.responsified h2, .responsive-menus.responsified .responsive-menus-simple li.last {
	display:none;

}

.responsive-menus.responsified span.toggler {
  padding: 7px 1px;
  display: block;
 background: url(../../../../../../themes/canalrcn/images/menu-movil.png) no-repeat 95% center transparent ;
  color: #000;
  box-shadow: 2px 2px 2px #000;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  outline: none;
  height: 30px;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #bbb;
}

.responsive-menus.responsified .responsive-menus-simple {
  display: none ;
  width: 100%;
  background: #333;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 2px 2px 2px #000;
    	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.responsive-menus.responsified.responsive-toggled .responsive-menus-simple,
.responsive-menus.responsified.responsive-toggled .responsive-menus-simple ul {
 display: block;
  padding: 0;
  margin: 0;
  	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.responsive-menus.responsified.responsive-toggled.absolute {
 left: 0;
    position: fixed;
    top: 0;
    z-index: 999;
	  	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.responsive-menus.responsified.responsive-toggled.absolute .responsive-menus-simple {
  position: absolute;
  z-index: 999;
  top: auto;
}

.responsive-menus.responsified .responsive-menus-simple li {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  clear: both;
  list-style: none;
}
.responsive-menus.responsified .responsive-menus-simple li:hover {


}


.responsive-menus.responsified .responsive-menus-simple li a {
  color: #D1D1D1;
  display: block;
 padding: 7px 5%;
  margin: 0;
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(0,0,0,0.9);
  text-decoration: none;
  text-transform: uppercase;
-webkit-box-shadow:inset 0 -5px 12px 0 rgba(0,0,0,0.3);
box-shadow:inset 0 -5px 12px 0 rgba(0,0,0,0.3);
}

.responsive-menus.responsified .responsive-menus-simple>li.last a {
  border-bottom: none;
}

.responsive-menus.responsified .responsive-menus-simple li ul li a {
  padding: 1em 0 1em 10%;
}

.responsive-menus.responsified .responsive-menus-simple li ul li ul li a {
  padding: 1em 0 1em 15%;
}

.responsive-menus.responsified .responsive-menus-simple li ul {
  display: block !important;
  visibility: visible !important;
  margin: 0;
  padding: 0;
}

/* Inactive rule */
.responsive-menus span.toggler {
  display: none;
}
