
.icon-arrow-down {
	background-image: url('/Content/img/icons/png/arrow-down.png');
	background-repeat: no-repeat;
}


.icon-arrow-left {
	background-image: url('/Content/img/icons/png/arrow-left.png');
	background-repeat: no-repeat;
}


.icon-arrow-right {
	background-image: url('/Content/img/icons/png/arrow-right.png');
	background-repeat: no-repeat;
}


.icon-arrow-up {
	background-image: url('/Content/img/icons/png/arrow-up.png');
	background-repeat: no-repeat;
}


.icon-audiobook {
	background-image: url('/Content/img/icons/png/audiobook.png');
	background-repeat: no-repeat;
}


.icon-delete {
	background-image: url('/Content/img/icons/png/delete.png');
	background-repeat: no-repeat;
}


.icon-ebook {
	background-image: url('/Content/img/icons/png/ebook.png');
	background-repeat: no-repeat;
}


.icon-facebook {
	background-image: url('/Content/img/icons/png/facebook.png');
	background-repeat: no-repeat;
}


.icon-link {
	background-image: url('/Content/img/icons/png/link.png');
	background-repeat: no-repeat;
}


.icon-location {
	background-image: url('/Content/img/icons/png/location.png');
	background-repeat: no-repeat;
}


.icon-music {
	background-image: url('/Content/img/icons/png/music.png');
	background-repeat: no-repeat;
}


.icon-periodicals {
	background-image: url('/Content/img/icons/png/periodicals.png');
	background-repeat: no-repeat;
}


.icon-pinterest {
	background-image: url('/Content/img/icons/png/pinterest.png');
	background-repeat: no-repeat;
}


.icon-settings {
	background-image: url('/Content/img/icons/png/settings.png');
	background-repeat: no-repeat;
}


.icon-twitter {
	background-image: url('/Content/img/icons/png/twitter.png');
	background-repeat: no-repeat;
}


.icon-video {
	background-image: url('/Content/img/icons/png/video.png');
	background-repeat: no-repeat;
}



.icon-question {
	background-image: url('/Content/img/icons/png/question.png');
	background-repeat: no-repeat;
}


.icon-alert {
	background-image: url('/Content/img/icons/png/alert.png');
	background-repeat: no-repeat;
}


.icon-crosshairs {
	background-image: url('/Content/img/icons/png/crosshairs.png');
	background-repeat: no-repeat;
}


.icon-zoom-out {
	background-image: url('/Content/img/icons/png/zoom-out.png');
	background-repeat: no-repeat;
}


.icon-zoom-in {
	background-image: url('/Content/img/icons/png/zoom-in.png');
	background-repeat: no-repeat;
}


.icon-tumblr {
	background-image: url('/Content/img/icons/png/tumblr.png');
	background-repeat: no-repeat;
}


.icon-map {
	background-image: url('/Content/img/icons/png/map.png');
	background-repeat: no-repeat;
}


/* Added for Redesign - 7/2015 */

.icon-account {
	background-image: url('png/account.png');
	background-repeat: no-repeat;
}

.icon-bookshelf-green {
	background-image: url('png/bookshelf-green.png');
	background-repeat: no-repeat;
}

.icon-bookshelf {
	background-image: url('png/bookshelf.png');
	background-repeat: no-repeat;
}

.icon-devices-blue {
	background-image: url('png/devices-blue.png');
	background-repeat: no-repeat;
}

.icon-devices {
	background-image: url('png/devices.png');
	background-repeat: no-repeat;
}

.icon-library-red {
	background-image: url('png/library-red.png');
	background-repeat: no-repeat;
}

.icon-library {
	background-image: url('png/library.png');
	background-repeat: no-repeat;
}

.icon-locate-pin {
	background-image: url('png/locate-pin.png');
	background-repeat: no-repeat;
}

.icon-chevron {
	background-image: url('png/chevron.png');
	background-repeat: no-repeat;
}

.icon-overdrive-logo {
	background-image: url('png/overdrive-logo.png');
	background-repeat: no-repeat;
}

.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
}

.icon-clear {
	background-image: url('png/clear.png');
	background-repeat: no-repeat;
}

.icon-facebook-circle {
	background-image: url('png/facebook-circle.png');
	background-repeat: no-repeat;
}

.icon-google-plus-circle {
	background-image: url('png/google-plus-circle.png');
	background-repeat: no-repeat;
}

.icon-mail-circle {
	background-image: url('png/mail-circle.png');
	background-repeat: no-repeat;
}

.icon-pinterest-circle {
	background-image: url('png/pinterest-circle.png');
	background-repeat: no-repeat;
}

.icon-twitter-circle {
	background-image: url('png/twitter-circle.png');
	background-repeat: no-repeat;
}