@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59FzzL_ViknYja72WQjtjGc-f24u6nTQnzO7oCbEaAVTg2r&skey=8be08dae698074e5&v=v4) format('truetype');
}
