@font-face {
	font-family: 'gudearegular';
	src: url('fonts/gudea-regular-webfont.eot');
	src: url('fonts/gudea-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gudea-regular-webfont.woff') format('woff'),
		 url('fonts/gudea-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	background: #27282b;
	font-size: 12px;
	color: #fff;
	font-family: 'gudearegular', arial, tahoma;
}
img {
	max-width: 100%;
}
#video_player {
	max-width: 100%;
}
h1 {
	font-size: 24px;
	color: #b2b5bf;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}
.wrapper {
	position: relative;
}
.goUp{
	background: #a04b49;
	background: rgba(160, 75, 73, 0.7);
	display: inline-block;
	padding: 20px 30px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	display: none;
}
.goUp:hover {
	background: #a04b49;
}
.container {
	margin: 0 auto;
}
.header {
	background: url(images/bg-header.png) repeat-x;
}
.header-content:before,
.container:before,
.container:after,
.header:before,
.header:after {
	content: '';
	display: block;
	clear: both;
}
.header-content {
	position: relative;
	border-bottom: 1px solid #191a1b;
	margin-bottom: 8px;
	width: 100%;
}
.header-content h1 {
	margin: 4px 0;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.breadcrumb {
	display: inline-block;
	margin-bottom: 5px;
}
.breadcrumb li {
	display: inline-block;
}
.breadcrumb li.active {

}
.breadcrumb li a {
	font-size: 14px;
	color: #6dacbc;
	text-decoration: none;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}
.breadcrumb li:first-child:before {
	content: "";
	padding: 0;
}
.breadcrumb li:before {
	content: "»";
	padding: 0 5px 0px 2px;
}
.select-box {
	position: absolute;
	bottom: 0;
	right: 0;
}
.select-box span {
	float: left;
	line-height: 35px;
	font-size: 13px;
	color: #b2b5bf;
	margin-right: 10px;
}
.dropdown-select {
	float: left;
	position: relative;
	margin-left: 4px;
	border: 1px solid #000;
	border-bottom: none;
}
.btn-select {
	width: 100%;
	background: #212224;
	margin: 0;
	border: 1px solid #2c2d30;
	color: #71b4c4;
	cursor: pointer;
	padding: 8px;
	font-size: 13px;
	text-align: left;
	width: 125px;
	height: 35px;
}
.dropdown-select .dropdown-menu {
	position: absolute;
	display: none;
	background: #212224;
	border: 1px solid #000;
	border-top: none;
	width: 100%;
	z-index: 999;
}
.dropdown-select.open .dropdown-menu,
.dropdown-select:hover .dropdown-menu {
	display: block;
}
.dropdown-select .dropdown-menu li a {
	cursor: pointer;
	padding: 10px;
	font-size: 13px;
	color: #afb1bb;
	float: left;
	text-decoration: none;
	width: 100%;

}
.dropdown-select .dropdown-menu li a:hover{
	background: #eb514c;
	color: #fff;
}
.dropdown-select .ico-caret {
	float: right;
	width: 10px;
	height: 8px;
	background: url(images/ico-caret.png) no-repeat;
	position: absolute;
right: 12px;
top: 50%;
margin-top: -2px;
margin-right: 0;
}
.dropdown-select.open .ico-caret,
.dropdown-select:hover .ico-caret {
	background-position: -10px 0;
}
.nav-top {
	padding: 5px 0px 9px;

}
.nav-top span {
	float: left;
	color: #b2b5bf;
}
.nav-top ul li {
	float: left;
	margin: 0 8px;
}
.nav-top ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #76bccd;
}
.nav-top ul li.active a, .nav-top ul li a:hover {
	text-decoration: none;
	color: #fff;
}
.nav-top .login {
	float: right;
}
.nav-top .login li {
	float: left;
	margin: 0;
	margin-left: 4px;
}
.nav-top .login li a {
	color: #e36d69;
}
.divider {
	color: #fff;
}
.logo {
	float: left;
	position: relative;
	z-index: 2;
	top: -9px;
	padding-left: 10px;
}
.nav-main {
	float: left;

}
.nav-main li {
	float: left;
	border-left: 1px solid #292a2d;
	padding: 2px 0;
	position: relative;
}

.nav-main li a {
	float: left;
	padding: 17px 16px 17px 15px;
	color: #b2b5bf;
	font-size: 20px;
	text-decoration: none;
}
.nav-main li.open a, .nav-main li a:hover, .nav-main li:hover a {
	color: #fff;
	background: url(images/bg-nav-active.png) repeat-x;
}
.drop-cat .container {
	margin-left: -5px;
	padding: 0;
	margin-right: 3px;
}

.nav-main li .drop-cat {
	background: #222325;
	background: rgba(34, 35, 37, 0.97);
	position: absolute;
	top: 100%;
	left: -522px;
	z-index: 123;
	display: none;
	border-bottom: 1px solid #2e2f32;
	padding-top: 10px;
}
.nav-main li.open .drop-cat,
.nav-main li:hover .drop-cat {
	display: block;

}
.nav-main li .drop-cat li {
	border: none;
	background: none;
	float: left;
	margin-left: 13px;
	margin-bottom: 8px;
	padding: 0;
	border: 1px solid #2f3134;
}
.nav-main li .drop-cat li:hover {
	border: 1px solid #fff;
}
.nav-main li .drop-cat li a {
	background: #ccc;
	position: relative;
	padding: 0;
	width: 120px;
	height: 90px;
}
.nav-main li .drop-cat li a img {

}
.nav-main li.active .drop-cat li a, .nav-main .drop-cat li a:hover{
background: none;
}
.nav-main li .drop-cat li a .caption-drop{
	background: #000;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	font-size: 14px;
	color: #fff;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.nav-main li .drop-cat .viewAll-drop a {
	background: #26272a url(images/ico-viewAll.png) 50% 30% no-repeat;
}
.nav-main li .drop-cat .viewAll-drop .caption-drop {
	background: none;
}


header input {
	height: 35px;
	background: #27282b;
	border-radius: 8px;
	border: none;
	color: #fff;
	padding: 10px 24px 10px 13px;
	width: 95%;
	margin: 11px 0px 11px 15px;
}
.search {
	float: left;
	border-left: 1px solid #292a2d;
	padding-right: 0px;
	position: relative;
	box-sizing: content-box;

}
.search input[type=submit] {
	position: absolute;
	margin-top: -13px;
	right: 20px;
	top: 50%;
	width: 25px;
	height: 25px;
	background: url(images/ico-search.png) no-repeat;
}
.ico-search {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(images/ico-search.png) no-repeat;
}
.ico-drop {
	display: inline-block;
	width: 55px;
	height: 55px;
	background: url(images/ico-drop.png) 50% 50% no-repeat;
	border: 1px solid #27282b;
	cursor: pointer;
}
.ico-play {
	display: inline-block;
	width: 56px;
	height: 56px;
	background: url(images/ico-play.png) 50% 50% no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -28px;
	margin-top: -28px;
	display: none;
}
.nav-main-drop {
	position: relative;
	float: left;
	margin-top: 1px;
	background: url(images/bg-nav-active.png) repeat-x;
}
.nav-main-drop.open .dropdown-menu{
	display: block;
}
.nav-main-drop .dropdown-menu {
	position: absolute;
	background: #ccc;
	overflow: hidden;
	width: 750px;
	display: none;
}
section ul{
	margin-right: -7px;
}

/******************************************************/
.text-content {
	font-size: 16px;
	color: #ccc;
	background: #212224;
	border: 1px solid #2C2D30;
	padding: 5px;
	padding-bottom: 20px;
	margin-bottom: 21px;
}

.text-content .right {
	float: right;
}

.text-content .right:before,
.text-content .right:after {
	content: '';
	display: block;
	clear: both;
}

.text-content em {
	font-style: italic;
}

.text-content p {
	margin: 10px 10px;
}


.text-content.justify {
	text-align: justify;
}

.text-content ol {
	padding-top: 5px;
	list-style-position: outside;
	list-style-type: decimal;
	font-weight: 700;
}

.text-content li {
	padding-top: 8px;
	font-weight: 400;
	margin-left: 10px;
}

.text-content ol > li {

}

.text-content strong {
	font-weight: bold;
}

.text-content a {
	color: #eb514c;
	text-decoration: none;
}

.text-content h2 {
	font-weight: bold;
}

.text-content .roman {
	font-size: 14px;
	font-weight: 700;
	list-style: upper-roman outside none;
	margin-left: 20px;
}

.text-content .latin {
	font-size: 12px;
	list-style: upper-roman outside none;
	text-align: left;
}

.text-content .latin2 {
	font-size: 12px;
	font-weight: 400;
	list-style: none outside none;
}

.contact-us .row {
	display: block;
	max-width: 500px;
}

.text-content .contact-us label {
	width: 20%;
	display: block;
	padding-right: 5px;
	margin-bottom: 5px;
	float: left;
	text-align: right;
}

.text-content .contact-us label.red {
	color: #f00;
}

form.contact-us {
	margin-top: 10px;
}

.contact-us .row:after {
	content: '';
	display: block;
	clear: both;
}

.text-content .contact-us textarea {
	width: 80%;
	max-width: 400px;
	display: block;
	margin-bottom: 10px;
	float: right;
}

.text-content .contact-us input {
	width: 80%;
	max-width: 400px;
	display: block;
	margin-bottom: 10px;
	float: right;
}
.text-content .contact-us select {
	width: 80%;
	max-width: 400px;
	display: block;
	margin-bottom: 10px;
	float: right;
}

.text-content .contact-us input[type=submit] {
	max-width: 100px;
	margin-bottom: 0px;
}

.contact-us.thank-you,
.error-404 {
	display: block;
	margin: 50px auto;
	text-align: center;
	font-size: 20px;
}

#adv_inplayer {
	display: none;
}

.inplayer {
	border: 2px solid #FFF;
	border-radius: 5px;
	text-align: center;
	width: 314px;
	background: rgba(73, 75, 73, 0.9);
}
.inplayer:before {
	content: "Advertisement";
	position: absolute;
	top: -18px;
	background: rgba(73, 75, 73, 0.9);
	right: 2px;
	border: 2px solid #FFF;
	padding: 2px 4px;
	border-radius: 5px 5px 0 0;
}
.inplayer iframe {
	margin: 5px;
}
.inplayer .btn {
	margin-top: 10px;
	margin-bottom: 5px;
	background: #c04b49;
	border: 1px solid #a04b49;
	color: #fff;
	cursor: pointer;
	padding: 8px;
	font-size: 13px;
	text-align: center;
	width: 125px;
	height: 35px;
}
.inplayer .btn:hover {
	background: #a04b49;
}
.inplayer .close {

}

/*THUMBNAIL*/
.thumbnail,
.thumbnail-by {
	width: 303px;
}
.thumbnail {
	float: left;
	margin-bottom: 5px;
	margin-right: 4px;
	border: 1px solid #2c2d30;
	position: relative;
	overflow: hidden;
	background: #212224;
	height: 192px;
}
.thumbnail .timevideo {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 7px;
	background: #333;
	background: rgba(33, 34, 36, .7);
	color: #eaeaea;
	z-index: 2;
}
.thumbnail a {
	width: 100%;
	float: left;
	border: 1px solid #000;
	position: relative;
	overflow: hidden;
}
.thumbnail a img {
	max-width: none;
	width: 100%;
}
.thumbnail a .progress-box {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

/******************************************************/
.thumbnail a .progress-box {
position: absolute;
left: 0;
top: 0;
z-index: 1;
width: 100%;
height: 100%;
overflow: hidden;
display: none;
float: left;
}
.thumbnail a .progress-box li {
position: relative;
top: 0;
left: 0;
height: 100%;
width: 10%;
float: left;
}


.thumbnail a .progress-box span {
width: 100%;
height: 6px;
background: #ccc;
float: left;
border: 1px solid #000;
border-bottom: none;
background: #3b6d78;
position: absolute;
bottom: 0;
left: 0;
}
.thumbnail a .progress-box li:hover span {
	background: #eb514c;
}
/******************************************************/
.thumbnail a .progress-box span:last-child {
	border-right: none;
}
.thumbnail a .progress-box span.active,
.thumbnail a .progress-box span:hover {
	background: #eb514c;
}

.container.slider {
	margin-top: 20px;
}

.flexslider li .thumbnail {
	width: 100%;
	float: none;
}

/*caption*/
.caption a {
	font-size: 16px;
	color: #fff;
	width: 100%;
	padding-bottom: 3px;
	height: auto;
	border: none;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.thumbnail:hover  a .progress-box,
.thumbnail:hover  a .ico-play {
	display: block;
}
.thumbnail:hover .caption a {
	color: #e36d69;
}
.caption {
	overflow: hidden;
	padding: 4px 9px;
	width: 100%;
	background: #212224;
	border-top: 1px solid #2c2d30;
}
.caption .views {
	float: left;
	width: 40%;
}
.caption .added{
	float: right;
	width: 60%;
	text-align: right;
}
.caption span {
	font-size: 13px;
	color: #b2b5bf;
}
.caption span strong {
	color: #6cacbb;
	padding-right: 3px;
}

/*THUMBNAIL-by*/
.thumbnail-by {
	height: 285px;
	margin-bottom: 5px;
	border: 1px solid #2c2d30;
	overflow: hidden;
	background: #212224;
	padding: 46px 0 73px;
	float: right;
}
.thumbnail-by h5 {
	font-size: 18px;
	text-align: center;
	color: #b2b5bf;
}
.thumbnail-by a {
	padding: 20px 0;
}
.thumbnail-by a img {
	width: 100%;
}
.thumbnail-by p {
	color: #6cacbb;
	text-align: center;
	font-size: 13px;
}

/*PAGINATION*/
.pagination {
	text-align: center;
	padding: 24px 0 21px;
	width: 100%;
	float: left;
}
.pagination li {
	display: inline-block;
}
.pagination li a {
	color: #fff;
	background: #212224;
	border: 1px solid #27282b;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
}
.pagination li.prev a,
.pagination li.next a {
	background: #393b41;
	width: 60px;
	border: 1px solid #424449;
}
.pagination li a:hover {
	background: #eb514c;
	border: 1px solid #2c2d30;
}
.pagination li.active a {
	background: #000;
	color: #eb514c;
}

/*SECTION CATEGORIES*/
.categories ul li.thumbnail .caption a {
	text-transform: uppercase;
	color: #eb514c;
	float: left;
	width: auto;
	height: auto;
	margin-bottom: 0;
}
.categories ul li.thumbnail .caption span {
	float: right;
}
.categories ul li.thumbnail:hover .caption,
.categories ul li.thumbnail:hover .caption a,
.categories ul li.thumbnail:hover .caption span {
	background: #000;
	color: #fff;
}
.viewAll {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 12px 0;
}
.viewAll a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: #e9e9e9;
	font-size: 16px;
	background: #393b41;
	padding: 13px 77px;
	border: 1px solid #42444c;
}
.viewAll a:hover {
	background: #eb514c;
	border: 1px solid #eb514c;
}

/*SECTION ADVERTISEMENT*/
.advertisement ul {
	margin-right: -8px;
}
.advertisement ul li {
	float: left;
	margin-right: 7px;
}
.advertisement ul li:first-child {
	margin-left: 0;
}

.zone-ntva_mobile-300-100,
.zone-footera_mobile-300-100 {
	width: 300px;
	height: 100px;
}

.zone-footer1-300-250,
.zone-footer2-300-250,
.zone-footer3-300-250,
.zone-footer4-300-250,
.zone-footera-300-250,
.zone-footerb-300-250,
.zone-footerc-300-250,
.zone-footerd-300-250,
.zone-ntv1-300-250,
.zone-ntv2-300-250,
.zone-ntv3-300-250,
.zone-ntva-300-250,
.zone-ntvb-300-250,
.zone-ntvc-300-250,
.zone-inplayer-300-250 {
	width: 300px;
	height: 250px;
}

.zone-underplayer-300x50 {
	width: 310px;
	height: 60px;
}

.zone-mob_header-300-100 {
	width: 300px;
	height: 100px;
}
.zone-mob_middle-300-100 {
	width: 310px;
	height: 110px;
	margin: 2px;
}
.zone-mob_footer-300-250 {
	width: 300px;
	height: 250px;
}

.show-menu{
	position:fixed;
	z-index:4;
	left:-230px;
	top:0;
	height:100%;
	width:214px;
	border-right:1px solid #1c1c1c;
	background:#161616;
	-webkit-box-shadow:5px 0 5px 5px rgba(0,0,0,.5);
	-moz-box-shadow:5px 0 5px 5px rgba(0,0,0,.5);
	box-shadow:5px 0 5px 5px rgba(0,0,0,.5);
}
.show-menu h3{
	background:#0f0f0f;
	color:#b3b3b3;
	font-weight:normal;
	font-size:14px;
	line-height:17px;
	text-shadow:0 1px 0 #000;
	padding:10px 12px;
}
.featured li{
	border-top:1px solid #1e1e1e;
	border-bottom:1px solid #000;
}
.featured a {
	display:block;
	color:#b3b3b3;
	font-size:14px;
	line-height:20px;
	text-shadow:0 1px 0 #000;
	padding:7px 7px 7px 46px;
	text-decoration: none;
}
.featured a:hover {
	background: #eb514c;
	color: #fff;
}
.featured form {
	position: relative;
}
.featured input {
	height: 35px;
	background: #27282b;
	border-radius: 8px;
	border: none;
	color: #fff;
	padding: 10px 24px 10px 13px;
	margin: 11px 0px 11px 15px;
}

.featured input[type=text] {
	width: 190px;
}

.featured input[type=submit] {
	position: absolute;
	margin: 0;
	padding: 0;
	margin-top: -13px;
	right: 20px;
	top: 50%;
	width: 25px;
	height: 25px;
	background: url(images/ico-search.png) no-repeat;
}





/*FOOTER*/
footer {
	width: 100%;
	margin-top: 45px;
	float: left;
	background: #212224;
}
footer .container {
	padding: 10px 30px 10px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
}
footer:before {
	content: "";
	display: block;
	border-top: 2px solid #212224;
	margin-top: -3px;
}
.list-footer {
	overflow: hidden;
	float: left;
}
footer .list-footer ul {
	float: left;
	font-size: 18px;
	line-height: 28px;
	color: #6cacbb;
	border-left: 1px solid #171719;
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: -9999px !important;
	padding-bottom: 9999px;
}
footer .list-footer ul:first-child {
	border-left: 0;
}
footer .list-footer ul:last-child {

}
footer .list-footer ul li a {
	font-size: 13px;
	color: #b2b5bf;
	text-decoration: none;
}
footer .list-footer ul li a:hover {
	color: #fff;
}
.logo-footer {
	float: right;
	border-left: 1px solid #171719;
	text-align: center;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	overflow: hidden;
	position: relative;
	padding-left: 20px;
	background: #212224;
}
.logo-footer p {
	color: #7f8186;
	margin: 17px 0;
}
.logo-footer p a {
	color: #eb514c;
	text-decoration: none;
}

/*VIDEO SECTION*/
.video-container {

}
.video-container .breadcrumb li,
.video-container .breadcrumb li a {
	font-size: 24px;
}
.video-container .breadcrumb li a {

}
.box-video {
	max-width: 900px;
	width: 100%;
	float: left;
}
.player {
	height: 535px;
}
.sidebar-banner {
	float: right;
	padding-top: 4px;
	border: 1px solid #343537;
	position: relative;
	border-radius: 4px;
}
.sidebar-banner:before {
	content: "Advertisement";
	position: absolute;
	right: 4px;
	margin-top: -16px;
	display: inline-block;
	background-color: #27282b;
	color: #b2b5bf;
}
.underplayer-banner {
	border: 1px solid #343537;
	position: relative;
	border-radius: 4px;
}
.underplayer-banner:before {
	content: "Advertisement";
	position: absolute;
	right: 4px;
	margin-top: -12px;
	font-size: 10px;
	display: inline-block;
	background-color: #27282b;
	color: #b2b5bf;
}
@media (min-width: 1020px) {
	.sidebar-banner {
		padding-top: 0;
	}
}
.frame-video {
	width: 100%;
}
.box-video .banner  {
	background: #000;
	overflow: hidden;
	height: 100px;
	text-align: center;
	display: block;
	margin: 5px 0;
	background: #212224;
	border: 1px solid #2C2D30;
}
.box-video .banner span {
	padding: 40px 0;
	display: inline-block;
	color: #fff;
}
.btn {
	cursor: pointer;
	width: 52px;
	height: 40px;
	background: #2a2c2f;
	background: -moz-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: -webkit-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: -o-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: -ms-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	border: 1px solid #1d1e20;
	box-shadow: 0 0 1px rgba(39,40,43,0.5);
	border-radius: 4px;
	color: #82848c;
}
.actions .btn,
.actions-opt  {
	margin-right: 8px;
}
.ico-like i{
	background: url(images/icons-video.png) no-repeat;
	width: 26px;
	height: 32px;
	display: inline-block;
}
.ico-dislike i{
	background: url(images/icons-video.png) no-repeat;
	width: 26px;
	height: 32px;
	display: inline-block;
	background-position: 0px -32px;
}
.ico-download i{
	background: url(images/icons-video.png) no-repeat;
	width: 17px;
	height: 31px;
	display: inline-block;
	background-position: -27px -3px;
}
.ico-share i{
	background: url(images/icons-video.png) no-repeat;
	width: 27px;
	height: 31px;
	display: inline-block;
	background-position: -45px -2px;
}
.ico-ilike i{
	background: url(images/icons-video.png) no-repeat;
	width: 27px;
	height: 31px;
	display: inline-block;
	background-position: -99px 0px;
}
.ico-flag i{
	background: url(images/icons-video.png) no-repeat;
	width: 27px;
	height: 31px;
	display: inline-block;
	background-position: -70px 0px;
}


.ico-like.gray i{
	background: url(images/icons-video_gray.png) no-repeat;
	width: 26px;
	height: 32px;
	display: inline-block;
}
.ico-dislike.gray i{
	background: url(images/icons-video_gray.png) no-repeat;
	width: 26px;
	height: 32px;
	display: inline-block;
	background-position: 0px -32px;
}
.ico-download.gray i{
	background: url(images/icons-video_gray.png) no-repeat;
	width: 17px;
	height: 31px;
	display: inline-block;
	background-position: -27px -3px;
}
.ico-share.gray i{
	background: url(images/icons-video_gray.png) no-repeat;
	width: 27px;
	height: 31px;
	display: inline-block;
	background-position: -45px -2px;
}
.ico-ilike.gray i{
	background: url(images/icons-video_gray.png) no-repeat;
	width: 27px;
	height: 31px;
	display: inline-block;
	background-position: -99px 0px;
}
.ico-flag.gray i{
	background: url(images/icons-video_gray.png) no-repeat;
	width: 27px;
	height: 31px;
	display: inline-block;
	background-position: -70px 0px;
}
.btn.ico-download.active i,
.actions-opt:hover .btn.ico-download i {
	background-position: -27px -33px;
}
.btn.ico-share i.active,
.actions-opt:hover .btn.ico-share i {
	background-position: -45px -32px;
}
.btn.ico-ilike i.active,
.btn.ico-ilike i:hover {
	background-position: -99px -31px;
}
.btn.ico-flag i.active,
.btn.ico-flag i:hover {
	background-position: -70px -31px;
}
.actions {
	padding: 10px;
	padding-bottom: 0;
	background: #212224;
	border-bottom: 1px solid #1a1b1d;
	overflow: hidden;
}
.info-videos p,
.info-videos span {
	color: #b2b5bf;

}
.info-videos strong {
	color: #fff;
}
.info-videos {
	overflow: hidden;
	font-size: 16px;
}
.info-videos .title {
	color: #6aa9b7;
	float: left;
	padding-right: 3px;
}
.row-info ul {
	display: inline-block;
}
.row-info ul li {
	float: left;
	margin: 0 3px;
}
a.btn {
	color: #82848c;
	text-decoration: none;
	padding: 5px 10px;
}
.row-info ul li a:hover {
	background: #36383c;
	color: #fff;
}
.col-info {
	float: left;
	margin-right: 80px;
}
.info-videos .row-info {
	padding: 17px 10px;
	border-bottom: 1px solid #1a1b1d;
	overflow: hidden;
}
.info-videos .row-info:nth-child(even) {
	background: #212224;
}
.info-videos .row-info:nth-child(odd) {
	background: #242527;
}
.actions-opt {
	background: #2a2c2f;
	background: -moz-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: -webkit-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: -o-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: -ms-linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	background: linear-gradient(top, #2d2f33 0%, #2a2c2f 50%, #26282a 100%);
	border: 1px solid #1d1e20;
	box-shadow: 0 0 1px rgba(39,40,43,0.5);
	border-radius: 4px;
	float: left;
	color: #8f919a;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
	margin-bottom: 10px;
}
.actions-opt .progress-info {
	float: left;
	width: 155px;
	padding: 5px;
	text-align: center;
}
.actions-opt .download-info {
	padding: 0 24px;
	line-height: 40px;
	text-align: center;
	float: left;
}
.actions-opt .btn {
	border-radius: 0;
	box-shadow: none;
	background: none;
	border: none;
	margin: 0;
}
.actions-opt .btn:first-child {
	float: left;
	border-right: 1px solid #1d1e20;
}
.actions-opt .btn:last-child {
	float: right;
	border-left: 1px solid #1d1e20;
}

.progressBar {
	background: #e56762;
	height: 3px;
	width: 100%;
	display: inline-block;
}
.progressBar .progress {
	background: #6dacbc;
	float: left;
	height: 100%;
}


.comments {
	background: #212224;
	border: 1px solid #202020;
	margin-bottom: 20px;
}
.btn-comment {
	color: #c3c3c3;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
	padding: 12px 10px;
	border: 1px solid #000;
	background: #2e3033;
	background: -moz-linear-gradient(top, #313337 0%, #2e3033 50%, #2a2c2f 100%);
	background: -webkit-linear-gradient(top, #313337 0%, #2e3033 50%, #2a2c2f 100%);
	background: -o-linear-gradient(top, #313337 0%, #2e3033 50%, #2a2c2f 100%);
	background: -ms-linear-gradient(top, #313337 0%, #2e3033 50%, #2a2c2f 100%);
	background: linear-gradient(top, #313337 0%, #2e3033 50%, #2a2c2f 100%);
}

.btn-comment .closed {
	float: right;
	color: #6dacbc;
	position: relative;
	padding-right: 25px;
	font-weight: normal;
	display: none;
}
.ico-close {
	background: url(images/icons-video.png) no-repeat;
	width: 15px;
	height: 17px;
	display: inline-block;
	background-position: -132px -7px;
	position: absolute;
	top: 0;
	right: 0;
}
.btn-comment .opened {
	float: right;
	color: #e56762;
	position: relative;
	padding-right: 25px;
	font-weight: normal;
}
.ico-open {
	background: url(images/icons-video.png) no-repeat;
	width: 18px;
	height: 15px;
	display: inline-block;
	background-position: -133px -40px;
	position: absolute;
	top: 0;
	right: 0;
}
.show-comments {
	padding: 15px 10px;
	overflow: hidden;
display: none;

}
.show-comments .pagination {
	padding: 0;
	padding-top: 5px;
}
.comment {
 color: #9c9fa8;
 font-size: 12px;
padding-top: 10px;
	overflow: hidden;
}
.comment .users-info {

}
.comment .users-info img {
	width: 30px;
	height: 30px;
}
.comment .users-info .name-user{
 color: #e56762;
 font-size: 14px;
 font-weight: bold;
 text-decoration: none;
}
.text-comm {
	padding: 10px 0;
	font-size: 14px;

	background: url(images/border-bg.png) bottom repeat-x;
}
.btn-comment.open .closed{
display: block;
}
.btn-comment.open .opened {
	display: none;
}

.typeComment {
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
}
.typeComment input{
	height: 35px;
	width: 90%;
	padding: 0 10px;
	border-radius: 4px;
}
.typeComment .btn {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	height: 34px;
	width: 83px;
	line-height: 23px;
}
.typeComment {

}

/* ================ download box =========== */

.download-box .site {
	width: 210px;
	float: left;
	position: relative;
}

.download-box .site img {
	width: 100%;
	height: auto;
	border: 1px double #2A2C2F;
	outline: 1px solid #1d1e20;
}

.download-box .site a {
	position: relative;
}

.download-box .site span {
	position: absolute;
	bottom: 2px;
	left: 0;
	z-index: 2;
	background: rgba(20,20,20,0.8);
	color: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.download-box .download {
	position: relative;
	display: block;
	text-align: center;
	width: 660px;
	float: right;
	margin-top: 12px;
}

.download-box .download:after.
.download-box .download ul:after {
	content: '';
	display: block;
	clear: both;
}

.download-box ul,
.download-box .join {
	width: 100%;
	display: block;
	text-align: center;
}

.download-box .join {
	padding: 10px 0px;
}

.download-box .join a {
	background: #6aa9b7;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
}

.download-box .join a:hover {
	background: #5B909C;
}

.download-box .price-box {
	position: relative;
}

.download-box .price {
	width: 100%;
	margin: 10px 0;
	text-transform: capitalize;
}

.download-box .price {
	margin: 10px 0px;
	background: #EFB29A;
	padding: 5px 10px;
}

.download-box .price a {
	color: #000;
	line-height: 28px;
	font-size: 20px;
	text-decoration: none;
	background: #EFB29A;
	padding: 5px 30px 5px 5px;
	height: 38px;
	overflow: hidden;
}


.download-box .price a span {
	color: #000;
	font-weight: bold;
}

.ribbon {
	width: 20px;
	height: 38px;
	background: #242527;
	position: absolute;
}

.ribbon.left {
	top: 0px;
	left: 0px;
}

.ribbon.left:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	width: 0;
	height: 0;
	border-right: 25px solid #EFB29A;
	border-top: 0 solid transparent;
	border-bottom: 31.5px solid transparent;
}

.ribbon.left:after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 0;
	height: 0;
	border-right: 25px solid #EFB29A;
	border-top: 31.5px solid transparent;
	border-bottom: 0 solid transparent;
}

.ribbon.right {
	top: 0px;
	right: 0px;
	width: 35px;
}

.ribbon.right:before {
	content: "";
	position: absolute;
	right: 20px;
	top: 0;
	width: 0;
	height: 0;
	border-left: 25px solid #EFB29A;
	border-top: 0 solid transparent;
	border-bottom: 31.5px solid transparent;
}

.ribbon.right:after {
	content: "";
	position: absolute;
	right: 20px;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 25px solid #EFB29A;
	border-top: 31.5px solid transparent;
	border-bottom: 0 solid transparent;
}

.download-box .price:hover,
.download-box .price:hover a  {
	background: #D47770;
}

.download-box .price:hover .ribbon.left:before,
.download-box .price:hover .ribbon.left:after {
	border-right: 25px solid #D47770;
}

.download-box .price:hover .ribbon.right:before,
.download-box .price:hover .ribbon.right:after {
	border-left: 25px solid #D47770;
}


.download-box .join a {
	font-size: 21px;
}

.download-box ul {
	margin-right: 0;
}

.download-box .download li {
	width: 165px;
	border-radius: 4px;
	margin: 0;
}

.download-box .download li + li {
	padding-left: 10px;
}

.download-box ul li a {
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	padding: 5px 10px;
	display: block;
	background: #C04B49 url('images/ico-save-gray.png') no-repeat 12px 7px;
}

.download-box ul li a {
}

.download-box li a small {
	font-size: 12px;
	width: 100%;
	display: block;
}

.download-box ul li a:hover {
	background: #A04B49 url('images/ico-save.png') no-repeat 12px 7px;
}

/* ========== inplayer =========== */


@media screen and (max-width: 760px) {
	.inplayer {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.inplayer {
		display: block;
	}
}

/*VISIBLE and CONTAINER*/
.visible-xs, .visible-sm, .visible-s, .visible-md, .visible-lg {
	display: none !important;
}
@media screen and (min-width: 320px) {
	.container {
		width: 300px;

	}
	.visible-xs {
		display: block !important;
	}
}
@media screen and (min-width: 480px) {
	.container {
		width: 460px;
		padding: 0 5px;
	}
	.visible-s {
		display: block !important;
	}
}
@media screen and (min-width: 768px) {
	.container {
		width: 750px;
	}
	.visible-sm {
		display: block !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.container {
		width: 1000px;
	}
	.visible-md {
		display: block !important;
	}
}
@media screen and (min-width: 1400px) {
	.container {
		width: 1220px;
	}
	.visible-lg {
		display: block !important;
	}
}

/*HIDDEN*/
@media screen and (min-width: 320px) {
	.hidden-xs {
		display: none !important;
	}
	.hidden-sm, .hidden-s, .hidden-md, .hidden-lg {
		display: block !important;
	}
}
@media screen and (min-width: 480px) {
	.hidden-s {
		display: none !important;
	}
	.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg {
		display: block !important;
	}
}
@media screen and (min-width: 768px) {
	.hidden-sm {
		display: none !important;
	}
	.hidden-xs, .hidden-s, .hidden-md, .hidden-lg {
		display: block !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.hidden-md {
		display: none !important;
	}
	.hidden-xs, .hidden-sm, .hidden-s, .hidden-lg {
		display: block !important;
	}
}
@media screen and (min-width: 1400px) {
	.hidden-lg {
		display: none !important;
	}
	.hidden-xs, .hidden-sm, .hidden-s, .hidden-md {
		display: block !important;
	}
}

/*HIDDEN*/
@media screen and (min-width: 320px) {
	.hidden-in-xs {
		display: none !important;
	}
	.hidden-in-sm, .hidden-in-s, .hidden-in-md, .hidden-in-lg {
		display: inline-block !important;
	}
}
@media screen and (min-width: 480px) {
	.hidden-in-s {
		display: none !important;
	}
	.hidden-in-xs, .hidden-in-sm, .hidden-in-md, .hidden-in-lg {
		display: inline-block !important;
	}
}
@media screen and (min-width: 768px) {
	.hidden-in-sm {
		display: none !important;
	}
	.hidden-in-xs, .hidden-in-s, .hidden-in-md, .hidden-in-lg {
		display: inline-block !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.hidden-in-md {
		display: none !important;
	}
	.hidden-in-xs, .hidden-in-sm, .hidden-in-s, .hidden-in-lg {
		display: inline-block !important;
	}
}
@media screen and (min-width: 1400px) {
	.hidden-in-lg {
		display: none !important;
	}
	.hidden-in-xs, .hidden-in-sm, .hidden-in-s, .hidden-in-md {
		display: inline-block !important;
	}
}

/*VISIBLE ADV*/
.v-xs, .v-sm, .v-s, .v-md, .v-lg {
	display: none !important;
}
@media screen and (min-width: 320px) and (max-width: 479px){
	.v-xs {
		display: block !important;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px){
	.v-s {
		display: block !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.v-sm {
		display: block !important;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.v-md {
		display: block !important;
	}
}
@media screen and (min-width: 1400px) {
	.v-lg {
		display: block !important;
	}
}

/*content-media*/
/*mobile*/
@media screen and (min-width: 320px) {
	.logo {
	width: 240px;
	padding-left: 10px;
	padding-right: 0;
	margin-top: 6px;
	}
	.nav-top {
	font-size: 8px;
	}
	.search {
	width: 140px;
	}
	.search input[type=submit]{
	right: 10px;
	}
	section ul {
		margin-right: 0;
	}
	.header-content h1 {
		font-size: 16px;
		line-height: 20px;
	}
	.thumbnail {
	width: 50%;
	height: auto;
	margin-right: 0;
	}
	.thumbnail a img {
		height: 110px;
	}
	.thumbnail a {
	height: auto;
	}
	.categories .thumbnail {
	height: auto;
	}
	.caption a {
	height: auto;
	font-size: 13px;
	/*padding-bottom: 11px;*/
	}
	.caption span {
	font-size: 10px;
	color: #b2b5bf;
	}
	.caption .views {
	width: 100%;
	margin-bottom: 2px;
	}
	.caption .added {
	width: 100%;
	float: left;
	text-align: left;
	}
	.categories ul li.thumbnail .caption a {
	float: none;
	display: block;
	margin-bottom: 2px;
	}
	.categories ul li.thumbnail .caption span {
	float: none;
	display: block;
	}
	.viewAll a {
	padding: 13px 0;
	font-size: 11px;
	min-width: 160px;
	max-width: 340px;
	}
	.pagination li a {
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	}
	.pagination li.prev a, .pagination li.next a {
	width: 60px;
	}
	.advertisement ul li {
	width: 300px;
	margin-right: 4px;
	}
	footer .container {
	padding: 10px 0 10px;
	}
	footer .list-footer {
		text-align: center;
	}
	footer .list-footer ul {
	width: 100%;
	font-size: 15px;
	padding-left: 5px;
	margin-bottom: 15px;
	line-height: 21px;
	padding-right: 0;
	margin-right: 0;
	text-align: left;
	border-top: 1px solid #171719;
	border-left: none;
	text-align: center;
	}
	footer .list-footer ul li {
	padding: 5px 0;
	line-height: 18px;
	}
	footer .list-footer ul:first-child {
		border-top: none;
	}
	footer .list-footer ul li a {
	font-size: 11px;
	}
	.logo-footer {
	float: none;
	border-left: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	display: inline-block;
	}
	footer .list-footer ul:first-child {
	padding-left: 0;
	}
	.player {
	height: 195px;
	}
	.video-container .breadcrumb li, .video-container .breadcrumb li a {
	font-size: 11px;
	}
	.actions-opt .progress-info {
	width: 150px;
	}
	.actions-opt .download-info {
	padding: 0 10px;
	width: 202px;
	}
	.actions .btn {
	margin-bottom: 10px;
	}
	.info-videos p, .info-videos span {
	line-height: 21px;
	}
	.col-info {
	margin-right: 20px;
	float: none;
	}
	.row-info ul {
	display: block;

	}
	.categor-list .btn {
		width: 100%;
		display: block;
		margin: 4px 0;
	line-height: 25px;
	}
	.row-info ul li {
	float: none;
	margin: 0 3px;
	}
	.typeComment input {
	width: 65%;
	}
	.info-videos .title {
	float: none;
	}
	.flex-direction-nav a {
	width: 30px;
	}
	.text-content .contact-us label {
		width: 100%;
		float: left;
		text-align: left;
	}
	.text-content .contact-us label,
	.text-content .contact-us textarea,
	.text-content .contact-us input,
	.text-content .contact-us select {
		width: 100%;
		float: left;
	}

	.download-box .site {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.download-box .site img {
		width: 210px;
	}
	.download-box .download {
		width: 100%;
	}
	.download-box .download li {
		width: 100%;
		font-size: 16px;
		margin: 0px auto;
		max-width: 200px;
	}
	.download-box .download li + li {
		margin-top: 10px;
		padding-left: 0px;
	}
	.download-box ul li a,
	.download-box ul li a:hover {
		background-position-x: 20%;
		background-position-y: 5px;
	}

	.download-box .join a  {
		font-size: 16px;
	}
	.download-box .price small {
		display: none;
	}

	.download-box .price-box {
		width: 300px;
	}

	.download-box .price a {
		font-size: 16px;
	}

}
/*bigmobile*/
@media screen and (min-width: 480px) {
	.logo {
	width: 240px;
	padding: 5px 0px 0 0px;
	margin-top: 0;
	margin-left: 50px;
	}
	.search {
	margin-left: 10px;
	width: 132px;
	}
	.search input[type=submit]{
	right: 0;
	}
	.select-box select {
	width: 90px;
	}
	.nav-top {
	font-size: 11px;
	padding: 5px 0px 20px;
	}
	section ul {
	margin-right: 0;
	}
	.header-content h1 {
		font-size: 16px;
		line-height: 20px;
	}
	.thumbnail {
	height: auto;
	}
	.thumbnail a img {
	height: auto;
	}
	.thumbnail a {
	}
	.categories .thumbnail {
	height: auto;
	}
	.caption a {
	height: auto;
	font-size: 14px;
	}
	.caption span {
	font-size: 12px;
	line-height: 17px;
	}
	.advertisement ul li {
	width: 300px;
	}
	.advertisement ul li:first-child {
	margin-left: 85px;
	}
	.pagination li a {
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	}
	.pagination li.prev a, .pagination li.next a {
	width: 45px;
	}

	footer .container {
	padding: 10px 0 10px;
	}
	footer .list-footer ul {
	width: 142px;
	font-size: 15px;
	padding-left: 10px;
	margin-bottom: 15px;
	padding-right: 10px;
	margin-right: 10px;
	text-align: left;
	border-top: none;
	border-left: 1px solid #171719;
	}
	footer .list-footer ul li a {
	font-size: 11px;
	}
	footer .list-footer ul:first-child {
	padding-left: 30px;
	}
	.logo-footer {
	float: none;
	padding-top: 20px;
	}
	.player {
	height: 280px;
	}
	.video-container .breadcrumb li, .video-container .breadcrumb li a {
	font-size: 14px;
	}
	.typeComment input {
	width: 80%;
	}
	.flex-direction-nav a {
	width: 40px;
	}
	.text-content .contact-us label {
		width: 20%;
		float: left;
		text-align: right;
	}
	.text-content .contact-us textarea,
	.text-content .contact-us input,
	.text-content .contact-us select {
		width: 80%;
		float: right;
	}

	.download-box .price-box {
		width: 300px;
		margin-left: 70px;
	}
}
/*tablet*/
@media screen and (min-width: 768px) {
	.logo {
		width: 290px;
		padding: 0 13px 0 12px;
		margin-left: 0;
	}
	.search {
	width: 200px;
	}
	.search input[type=submit]{
	right: 7px;
	}
	.nav-top {
	padding: 5px 0 18px 0px;
	}
	.select-box select {
	width: 122px;
	}
	.thumbnail {
	width: 244px;
	height: auto;
	margin-right: 4px;
	}
	.thumbnail a img {
		height: 180px;
	}
	section ul {
	margin-right: -7px;
	}
	.header-content h1 {
		font-size: 20px;
		line-height: 24px;
	}
	.thumbnail a {

	}
	header input {

	}
	.caption a {
	height: auto;
	font-size: 16px;
	}
	.viewAll a {
	font-size: 16px;
	min-width: 309px
	}
	.advertisement ul li {
	width: 300px;
	margin-left: 135px;

	}
	.advertisement ul li:first-child {
	margin-left: 0;
	}
	.pagination li a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	}
	.pagination li.prev a, .pagination li.next a {
	width: 60px;
	}
	.caption .views {
	width: 40%;
	margin-bottom: 0;
	}
	.caption .added {
	width: 60%;
	float: right;
	text-align: right;
	}
	footer .container {
	padding: 10px 0 10px;
	}
	footer .list-footer ul {
	width: 170px;
	font-size: 18px;
	margin-bottom: 0;
	}
	footer .list-footer ul li a {
	font-size: 13px;
	}
	.logo-footer {
		float: right;
		width: 200px;
		border-left: 1px solid #171719;
		padding-top: 0;
		padding-left: 10px;
	}
	.player {
	height: 440px;
	}
	.video-container .breadcrumb li, .video-container .breadcrumb li a {
	font-size: 18px;
	}
	.row-info ul {
	display: inline-block;
	}
	.row-info ul li {
	float: left;
	}
	.col-info {
		float: left;
	}
	.categor-list .btn {
	width: auto;
	display: inline;
	}
	.typeComment input {
	width: 87%;
	}
	.info-videos .title {
	float: left;
	}
	.flex-direction-nav a {
	width: 50px;
	}

	.download-box .site {
	width: 155px;
	margin: 20px 0px;
	}
	.download-box .download {
	width: 550px;
	}
	.download-box .download li {
	width: 135px;
	font-size: 12px;
	margin: 0;
	}
	.download-box .download li + li {
		margin-top: 0px;
		padding-left: 10px;
	}
	.download-box ul li a,
	.download-box ul li a:hover {
		background-position-x: 5px;
		background-position-y: 5px;
	}

	.download-box .price small {
		display: inline-block;
	}

	.download-box .price-box {
		width: 430px;
	}
}

/*desktop*/
@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.logo {
	/*padding: 0 10px;*/
	}
	.search {
	width: 247px;
	}
	.nav-top {
	padding: 5px 0px 20px 0px;
	}
	.btn-drop {
	margin-right: 15px;
	}
	.thumbnail {
	width: 245px;
	height: auto;
	}
	.thumbnail a img {
		height: 180px;
	}
	.header-content h1 {
		font-size: 24px;
		line-height: 28px;
	}
	.thumbnail a {

	}
	.thumbnail-by {
	width: 300px;
	}
	.caption a {
	height: auto;
	}
	.advertisement ul li {
	width: 300px;
	margin-left: 40px;
	}
	footer .list-footer ul {
	padding-left: 20px;
	width: 205px;
	}
	.logo-footer {
	width: 350px;
	}
	.nav-main li .drop-cat {
	left: -520px;
	}
	.drop-cat .container {
	padding-left: 80px;
	}
	.box-video {
	max-width: 680px;
	}
	.player {
	height: 410px;
	}
	.video-container .breadcrumb li, .video-container .breadcrumb li a {
	font-size: 24px;
	}
	.actions-opt .download-info {
	width: auto;
	}

	.download-box .site {
	width: 155px;
	margin: 20px 0px;
	}
	.download-box .download {
	width: 490px;
	}
	.download-box .download li {
	width: 122px;
	font-size: 12px;

	}
	.download-box ul li a,
	.download-box ul li a:hover {
		background-position-x: 5px;
		background-position-y: 5px;
	}
	.download-box .price-box {
		width: 380px;
	}
}

/*big-desktop*/
@media screen and (min-width: 1400px) {
	.search {
	width: 545px;
	margin: 0;
	margin-right: 0px;
	}
	.nav-top {
	padding: 7px 0px 19px;
	}
	.thumbnail {
	width: 300px;
	height: auto;
	}
	.thumbnail a img {
		height: 222px;
	}
	.thumbnail a {
	height: auto;
	}
	.header-content h1 {
		font-size: 24px;
		line-height: 28px;
	}
	.categories .thumbnail {
	height: auto;
	}
	.caption {
	padding: 8px 9px;
	}
	.caption a {
	height: auto;
	}
	.categories ul li.thumbnail .caption a {
	float: left;
	margin-bottom: 0;
	}
	.categories ul li.thumbnail .caption span {
	float: right;
	}
	.advertisement ul li {
	width: 300px;
	margin-left: 0;
	}
	footer .list-footer ul {
	padding-left: 100px;
	width: 300px;
	}
	footer .list-footer ul:first-child {
	padding-left: 30px;
	width: 220px;
	}
	.logo-footer {
	width: 370px;
	padding-left: 60px;
	}
	.logo {
	width: 280px;
	padding: 0 0px 0 4px;
	}
	.pagination {
	padding: 13px 0 21px;
	}
	.nav-main li .drop-cat {
	left: -455px;
	}
	.drop-cat .container {
	padding-left: 0px;
	}
	.box-video {
	max-width: 900px;
	}
	.player {
	height: 535px;
	}
	.video-container .breadcrumb li, .video-container .breadcrumb li a {
	font-size: 24px;
	}
	.typeComment input {
	width: 90%;
	}
	.actions-opt .download-info {
	width: auto;
	}

	.download-box .site {
	width: 210px;
	margin: 0;
	}
	.download-box .download {
	width: 660px;
	}
	.download-box .download li {
	width: 165px;
	font-size: 16px;
	}
	.download-box ul li a,
	.download-box ul li a:hover {
		background-position-x: 12px;
		background-position-y: 7px;
	}
	.download-box .price-box {
		width: 530px;
	}
}


/*content-media*/
/*mobile*/
@media screen and (min-width: 320px) {
	.sidebar-banner {
		margin-bottom: 10px;
		width: 100%;
	}
	.sidebar-banner div {
		float: left;
		width: 100%;
		text-align: center;
	}
	.sidebar-banner .ntv1 {
		margin-bottom: 2px;
	}
	.underplayer-banner {
		width: 100%;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.underplayer-banner div {
		width: 100%;
		text-align: center;
	}
}
/*bigmobile*/
@media screen and (min-width: 480px) {
}
/*tablet*/
@media screen and (min-width: 768px) {
	.sidebar-banner {
		margin-bottom: 5px;
	}
	.sidebar-banner div {
		width: 50%;
	}

	.sidebar-banner .ntv2 {
		margin-top: 0px;
	}
	.sidebar-banner .ntv3 {
		margin-top: 10px;
	}
	.underplayer-banner,
	.underplayer-banner div {
		display: none;
	}
}

/*desktop*/
@media screen and (min-width: 1024px) {
	.sidebar-banner {
		margin-top: 0px;
		width: 300px;
	}
	.sidebar-banner div {
		float: none;
		width: 100%;
	}
	.sidebar-banner .ntv2,
	.sidebar-banner .ntv3 {
		margin-top: 10px;
	}
	.underplayer-banner,
	.underplayer-banner div {
		display: none;
	}
}

/*big-desktop*/
@media screen and (min-width: 1400px) {
}


/*content-media*/
/*mobile*/
@media screen and (min-width: 320px) {
	.select-box > span {
		display: none;
	}
	.btn-select {
		font-size: 13px;
		width: 125px;
		height: 32px;
		padding: 8px;
	}
	.dropdown-select {
		margin-left: 0;
	}
	.dropdown-select + .dropdown-select {
		margin-left: 4px;
	}

	.dropdown-select .dropdown-menu li a {
		/*font-size: 10px;*/
	}
	.breadcrumb {
		display: none;
	}
	.breadcrumb li {
		display: inline-block;
	}
	.select-box {
		position: relative;
		margin-bottom: 37px;
	}

}
/*bigmobile*/
@media screen and (min-width: 480px) {
}
/*tablet*/
@media screen and (min-width: 768px) {
	.btn-select {
		font-size: 13px;
		width: 125px;
		height: 35px;
		padding: 8px;
	}
	.dropdown-select .dropdown-menu li a {
		font-size: 13px;
	}
	.breadcrumb {
		display: block;
	}
	.breadcrumb li {
		display: inline-block;
	}
	.select-box {
		position: absolute;
		margin-bottom: 0;
	}
}

/*desktop*/
@media screen and (min-width: 1024px) {
	.select-box > span {
		display: block;
	}
}

/*big-desktop*/
@media screen and (min-width: 1400px) {
}

/* shares */
.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 33px 33px;
	width: 33px;
	height: 33px;
}

.icon-close {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2222.46%2C2.661%2021.046%2C1.247%2011.854%2C10.439%202.661%2C1.247%201.247%2C2.661%2010.439%2C11.854%201.247%2C21.046%202.661%2C22.46%2011.854%2C13.268%2021.046%2C22.46%2022.46%2C21.046%2013.268%2C11.854%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-wechat {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cpath%20fill%3D%22%239DE60B%22%20d%3D%22M18.6%205.2c-3.2-1.8-7.2-2.1-10.7-.8-2.3.8-4.4%202.4-5.6%204.4-1.2%201.9-1.6%204.2-1%206.3.6%202.4%202.2%204.4%204.2%205.7-.4%201.1-.7%202.2-1.1%203.3%201.3-.7%202.5-1.3%203.8-2%201.5.5%203.1.7%204.7.7-.4-1.2-.5-2.5-.3-3.8.3-1.8%201.3-3.4%202.6-4.6%202.2-2.1%205.4-3%208.4-2.8-.6-2.7-2.6-5-5-6.4zm-8.6%205c-.2%201.1-1.7%201.6-2.5.9-1-.7-.7-2.4.4-2.7%201.1-.5%202.4.7%202.1%201.8zm7.8-.3c0%201.2-1.6%202-2.6%201.2-1-.7-.7-2.4.4-2.7%201.1-.4%202.3.4%202.2%201.5z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M31.4%2017.5c-.8-1.8-2.3-3.2-4-4.1-3-1.5-6.8-1.5-9.9%200-2.1%201.1-3.9%203-4.4%205.4-.4%201.7%200%203.6.9%205.1%201.4%202.3%203.8%203.7%206.4%204.2%201.9.4%203.8.2%205.6-.4%201.1.4%202.1%201.1%203.1%201.6l-.9-2.7c1.2-.8%202.3-1.9%202.9-3.2%201.1-1.8%201.2-4.1.3-5.9zm-10.6.6c-.3.8-1.5%201.1-2.1.5-.7-.6-.4-1.8.5-2.1.9-.4%202%20.7%201.6%201.6zm6.2.2c-.3.8-1.5.9-2%20.3-.3-.2-.3-.6-.4-.9.1-.6.5-1.2%201.2-1.2.9-.2%201.7.9%201.2%201.8z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-whatsapp {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%227%20-6%2033%2033%22%3E%3Cstyle%3E.st0%7Bfill%3Aurl%28%23SVGID_1_%29%3B%7D%20.st1%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3ClinearGradient%20id%3D%22SVGID_1_%22%20x1%3D%2223.5%22%20x2%3D%2223.5%22%20y1%3D%22-6%22%20y2%3D%2227%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%2355F473%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2308B825%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20width%3D%2233%22%20height%3D%2233%22%20x%3D%227%22%20y%3D%22-6%22%20class%3D%22st0%22%2F%3E%3Cpath%20d%3D%22M23.7-2c-6.8%200-12.3%205.5-12.3%2012.2%200%202.3.6%204.5%201.8%206.3L11%2023l6.8-2.2c1.8%201%203.8%201.5%205.9%201.5%206.8%200%2012.3-5.5%2012.3-12.2C36%203.5%2030.5-2%2023.7-2zm0%2022.4c-2.1%200-4-.6-5.7-1.7L14%2020l1.3-3.8c-1.2-1.7-2-3.8-2-6C13.3%204.6%2017.9%200%2023.6%200%2029.4-.1%2034%204.5%2034%2010.2c0%205.6-4.6%2010.2-10.3%2010.2z%22%20class%3D%22st1%22%2F%3E%3Cpath%20d%3D%22M20.8%205.1c-.2-.5-.4-.5-.7-.5h-.3c-.4%200-.8.1-1.1.4-.3.3-1.1%201-1.1%202.5s1.1%202.9%201.2%203.1c.2.2%202.1%203.3%205.1%204.5%202.4%201%203.1.9%203.6.8.8-.2%201.8-.7%202-1.4.3-.7.3-1.3.2-1.4-.1-.1-.3-.2-.6-.3-.3-.1-1.8-.9-2.1-1-.3-.1-.5-.1-.7.2-.3.4-.6.8-.8%201.1-.2.2-.5.2-.7.1-.3-.1-1.3-.5-2.4-1.5-.9-.8-1.5-1.8-1.7-2.1-.2-.3%200-.5.1-.6.2-.2.3-.3.4-.5.2-.2.2-.3.3-.5.1-.2%200-.4%200-.6.2-.2-.4-1.7-.7-2.3z%22%20class%3D%22st1%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-facebook {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Crect%20width%3D%2233%22%20height%3D%2233%22%20fill%3D%22%2335528F%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M22.77%2033V20.22h4.29l.64-4.98h-4.93v-3.18c0-1.44.4-2.424%202.467-2.424h2.637V5.18c-.456-.06-2.022-.196-3.843-.196-3.8%200-6.405%202.32-6.405%206.583v3.673h-4.3v4.98h4.3V33h5.144z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-twitter {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cpath%20fill%3D%22%232AA9E0%22%20d%3D%22M33%205.356c-1.214.538-2.52.902-3.888%201.066%201.398-.838%202.47-2.165%202.977-3.746-1.31.776-2.758%201.34-4.3%201.643-1.235-1.317-2.995-2.14-4.942-2.14-3.74%200-6.77%203.032-6.77%206.77%200%20.532.06%201.048.175%201.544-5.628-.282-10.616-2.977-13.956-7.073-.583%201-.917%202.164-.917%203.405%200%202.35%201.195%204.42%203.012%205.635-1.11-.035-2.154-.34-3.067-.847v.085c0%203.28%202.333%206.016%205.43%206.64-.568.154-1.166.236-1.784.236-.435%200-.86-.043-1.273-.12.862%202.69%203.362%204.646%206.325%204.7-2.317%201.817-5.236%202.9-8.408%202.9-.546%200-1.085-.033-1.615-.096C2.995%2027.878%206.554%2029%2010.377%2029%2022.83%2029%2029.64%2018.684%2029.64%209.737c0-.294-.006-.585-.02-.876%201.325-.954%202.472-2.146%203.38-3.504z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-qq {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Cpath%20fill%3D%22%233580C2%22%20fill-rule%3D%22evenodd%22%20d%3D%22M21.54%2016.654c-.14-.456-.667-.737-.702-1.052-.035-.316-.35-.877-.386-1.193-.035-.317-.56-1.966-.807-2.527-.245-.56-1.578-1.473-2.244-1.58-.665-.104-1.507-.14-1.682-.14-.175%200-.526.036-.807.176-.28.14-.876.385-1.086.63-.21.247-.105.562-.35.878-.246.316-.562.702-.772.982-.21.28-.386.49-.56.912-.176.42-.352.737-.352.947%200%20.21-.175.174-.035.595.14.42%200%20.596-.035.772-.035.175-.105.456-.316.667-.21.21-.56.56-.7.667s-.317.492-.246.703c.07.21-.035.596.35.737.387.14%201.333.246%201.474.246.14%200%20.21.035.456.175.245.14.28.352.175.562-.105.21-.105.246-.386.49-.28.247-.56.527-.56.527s-.457.28-.106.49c.352.21.772.175%201.053.21s1.438.14%201.578.14h.737l.912-.49s-.135-.317.07-.317c.63%200%201.086.105%201.086.246s-.035.28.21.385c.245.105.526.035.842.07.316.035.736.035.947%200%20.21-.035.842-.07.842-.07l.596-.246.07-.247s.035-.21-.245-.42c-.28-.212-.456-.492-.63-.597-.176-.105-.21-.386-.21-.386l.42-.246.386-.596s.28-.246.456-.175c.175.07%201.052-.07%201.052-.07s-.353-1.403-.493-1.86z%22%20clip-rule%3D%22evenodd%22%2F%3E%3Cpath%20fill%3D%22%23FD1E16%22%20fill-rule%3D%22evenodd%22%20d%3D%22M23.783%2022.618c-12.624%2011.577-21.145-.456-21.145-.456%209.433%2018.243%2022.828%205.754%2024.44%204.56%202.526-5.682-3.295-4.104-3.295-4.104z%22%20clip-rule%3D%22evenodd%22%2F%3E%3Cpath%20fill%3D%22%23FFF506%22%20fill-rule%3D%22evenodd%22%20d%3D%22M18.776%202.097C-1.7.525%201.876%2018.487%202.042%2020.487c3.506%205.136%205.225-.646%205.225-.646C4.06%203.017%2018.777%202.098%2018.777%202.098z%22%20clip-rule%3D%22evenodd%22%2F%3E%3Cpath%20fill%3D%22%2343A828%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20.688%202.438c-6.868-.94-3.006%204.313-2.19%204.787%2016.01%206.09%209.078%2019.102%209.078%2019.102C37.962%2010.235%2022.4%202.672%2020.688%202.437z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-tumblr {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20fill%3D%22%23314358%22%20d%3D%22M.24.167h255.52v256H.24z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M168.08%20170.918c-2.97%201.416-8.647%202.648-12.88%202.754-12.784.342-15.265-8.98-15.368-15.736V108.23h32.065V84.056h-31.954V43.382H116.56c-.385%200-1.057.337-1.152%201.192-1.368%2012.448-7.192%2034.296-31.416%2043.032v20.624h16.16v52.167c0%2017.863%2013.176%2043.24%2047.96%2042.64%2011.735-.2%2024.77-5.112%2027.647-9.353l-7.68-22.766%22%2F%3E%3C%2Fsvg%3E');
}


.icon-share-google {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2233%22%20height%3D%2233%22%20viewBox%3D%220%200%2033%2033%22%3E%3Crect%20width%3D%2233%22%20height%3D%2233%22%20fill%3D%22%23DE4A32%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M19.632%207.348h-5.208c-.69%200-1.432.08-2.22.242-.8.187-1.568.587-2.31%201.2C8.818%209.834%208.28%2011%208.28%2012.282c0%201.063.38%201.994%201.14%202.793.728.86%201.784%201.297%203.17%201.313.263%200%20.542-.018.838-.052-.05.137-.102.286-.16.45-.064.153-.097.345-.097.576%200%20.385.085.714.256.987.147.283.314.548.502.796-.608.017-1.37.093-2.29.23-.928.16-1.814.483-2.658.967-.75.45-1.27.97-1.556%201.566-.295.593-.443%201.132-.443%201.616%200%20.993.455%201.846%201.363%202.56.9.763%202.26%201.153%204.085%201.17%202.18-.034%203.846-.557%205.002-1.57%201.114-.977%201.67-2.1%201.67-3.366-.015-.893-.218-1.616-.608-2.168-.414-.544-.895-1.04-1.444-1.492l-.883-.727c-.127-.128-.26-.276-.394-.446-.158-.18-.238-.404-.238-.676%200-.28.078-.526.233-.74.132-.203.275-.386.43-.547.27-.238.528-.472.768-.7.217-.23.423-.48.617-.754.396-.562.6-1.31.617-2.246%200-.51-.057-.957-.172-1.34-.14-.382-.298-.713-.478-.994-.188-.298-.38-.548-.577-.753-.204-.195-.388-.344-.552-.446h1.606l1.608-.942zm-2.855%2014.26c.43.492.647%201.07.647%201.734%200%20.816-.315%201.484-.945%202.003-.648.527-1.585.8-2.812.816-1.368-.016-2.446-.322-3.234-.917-.83-.596-1.244-1.353-1.244-2.27%200-.47.095-.868.286-1.2.166-.315.37-.578.61-.79.248-.205.492-.362.733-.473.24-.102.426-.18.56-.23.563-.17%201.114-.293%201.653-.37.547-.05.887-.068%201.02-.05.224%200%20.42.007.584.024.97.68%201.684%201.255%202.14%201.723zm-.845-7.694c-.063.35-.205.69-.425%201.022-.457.47-1.028.716-1.714.74-.543%200-1.025-.165-1.447-.497-.422-.333-.766-.738-1.033-1.215-.55-1.022-.827-2.007-.827-2.952-.017-.715.172-1.363.566-1.942.468-.553%201.055-.838%201.76-.855.534.017%201.005.175%201.416.473.402.315.726.724.972%201.227.525%201.048.788%202.087.788%203.118%200%20.238-.02.532-.056.88zm11.824%201.584v-.014h-2.74v-2.792h-1.602v2.792h-2.756v1.558h.017v.06h2.74v2.738h1.602V17.1h2.806V15.5h-.067z%22%20clip-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}


.icon-share-reddit {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22256%22%20height%3D%22256%22%20version%3D%221%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23FFF%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FFF%22%20stop-opacity%3D%220%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20xlink%3Ahref%3D%22%23a%22%20id%3D%22b%22%20gradientUnits%3D%22userSpaceOnUse%22%20gradientTransform%3D%22matrix(-.59146%200%200%20.59146%20210.022%20142.232)%22%20x1%3D%22-344.153%22%20y1%3D%22274.711%22%20x2%3D%22-395.849%22%20y2%3D%22425.4%22%2F%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate(-373.642%20-318.344)%22%3E%3Crect%20transform%3D%22scale(-1%201)%22%20ry%3D%2235.488%22%20rx%3D%2235.488%22%20y%3D%22328.849%22%20x%3D%22-619.146%22%20height%3D%22234.99%22%20width%3D%22235.008%22%20fill%3D%22%236bc1ff%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23000%22%20stroke-width%3D%22.5%22%20stroke-linecap%3D%22square%22%20stroke-dasharray%3D%220.5%2C1%22%2F%3E%3Cpath%20d%3D%22M557.057%20338.895h-110.83c-29.337%200-52.954%2023.81-52.954%2053.385v108.128c.95%2023.086%204.602%208.49%2011.555-17.075%208.08-29.713%2034.396-55.683%2066.444-75.146%2024.462-14.855%2051.84-24.34%20101.68-25.243%2028.265-.512%2025.77-36.683-15.895-44.05z%22%20fill%3D%22url(%23b)%22%20fill-rule%3D%22evenodd%22%2F%3E%3Cpath%20d%3D%22M369.286%20125.286c0%2013.807-10.713%2025-23.93%2025-13.214%200-23.927-11.193-23.927-25s10.71-25%2023.926-25c13.216%200%2023.93%2011.193%2023.93%2025z%22%20transform%3D%22matrix(.86567%200%200%20.8665%20122.324%20335.304)%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%20stroke-width%3D%229.237%22%2F%3E%3Cpath%20d%3D%22M369.286%20125.286c0%2013.807-10.713%2025-23.93%2025-13.214%200-23.927-11.193-23.927-25s10.71-25%2023.926-25c13.216%200%2023.93%2011.193%2023.93%2025z%22%20transform%3D%22matrix(.86567%200%200%20.8665%20278.038%20335.784)%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%20stroke-width%3D%229.237%22%2F%3E%3Cpath%20d%3D%22M555.575%20385.773c-15.654-6.425-31.604-14.038-43.57-5.715-13.858%206.38-13.197%2027.28-12.144%2048.572%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%2210%22%2F%3E%3Cpath%20d%3D%22M497.857%20154.214c0%2032.15-36.936%2058.215-82.5%2058.215-45.563%200-82.5-26.066-82.5-58.217%200-32.15%2036.937-58.214%2082.5-58.214%2045.564%200%2082.5%2026.062%2082.5%2058.213z%22%20transform%3D%22matrix(1.036%200%200%201.0368%2069.27%20315.525)%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%20stroke-width%3D%227.719%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M583.432%20388.987c0%2010.848-8.154%2019.643-18.214%2019.643-10.06%200-18.214-8.795-18.214-19.643%200-10.85%208.155-19.643%2018.214-19.643%2010.06%200%2018.214%208.794%2018.214%2019.643z%22%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%20stroke-width%3D%228%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M476.41%20463.273c0%206.903-5.465%2012.5-12.204%2012.5-6.74%200-12.202-5.597-12.202-12.5%200-6.904%205.463-12.5%2012.202-12.5%206.74%200%2012.203%205.596%2012.203%2012.5zm63.51-1.073c0%206.905-5.463%2012.5-12.202%2012.5-6.74%200-12.202-5.595-12.202-12.5%200-6.902%205.463-12.5%2012.202-12.5%206.74%200%2012.202%205.598%2012.202%2012.5z%22%20fill%3D%22red%22%2F%3E%3Cpath%20d%3D%22M463.432%20496.487c27.11%2019.15%2047.543%2011.6%2067.143.714%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%2210%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.icon-share-kakao {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20fill%3D%22%23FFE812%22%20d%3D%22M256%20236c0%2011.046-8.954%2020-20%2020H20c-11.046%200-20-8.954-20-20V20C0%208.954%208.954%200%2020%200h216c11.046%200%2020%208.954%2020%2020v216z%22%2F%3E%3Cpath%20d%3D%22M128%2036C70.562%2036%2024%2072.713%2024%20118c0%2029.28%2019.466%2054.97%2048.748%2069.477-1.593%205.494-10.237%2035.344-10.58%2037.69%200%200-.208%201.76.933%202.433s2.484.15%202.484.15c3.272-.457%2037.943-24.81%2043.944-29.04%205.995.85%2012.168%201.29%2018.472%201.29%2057.438%200%20104-36.712%20104-82%200-45.287-46.562-82-104-82z%22%2F%3E%3Cpath%20fill%3D%22%23FFE812%22%20d%3D%22M70.5%20146.625c-3.31%200-6-2.57-6-5.73V105.25h-9.362c-3.247%200-5.888-2.636-5.888-5.875s2.642-5.875%205.888-5.875h30.724c3.247%200%205.888%202.636%205.888%205.875s-2.642%205.875-5.888%205.875H76.5v35.645c0%203.16-2.69%205.73-6%205.73zM123.112%20146.547c-2.502%200-4.416-1.016-4.993-2.65l-2.972-7.778-18.296-.002-2.973%207.783c-.576%201.632-2.49%202.647-4.99%202.647-1.322%200-2.642-.286-3.815-.828-1.654-.764-3.244-2.862-1.422-8.52l14.352-37.777c1.01-2.873%204.082-5.833%207.99-5.922%203.92.09%206.99%203.05%208.003%205.93l14.346%2037.758c1.826%205.672.236%207.77-1.418%208.532-1.175.54-2.493.827-3.814.827zm-11.12-21.056L106%20108.467l-5.993%2017.025h11.986zM138%20145.75c-3.17%200-5.75-2.468-5.75-5.5V99.5c0-3.31%202.748-6%206.125-6s6.125%202.69%206.125%206v35.25h12.75c3.17%200%205.75%202.468%205.75%205.5s-2.58%205.5-5.75%205.5H138zM171.334%20146.547c-3.31%200-6-2.69-6-6V99.5c0-3.31%202.69-6%206-6s6%202.69%206%206v12.896l16.74-16.74c.86-.86%202.044-1.335%203.328-1.335%201.498%200%203.002.647%204.13%201.773%201.05%201.05%201.677%202.4%201.763%203.804.087%201.415-.384%202.712-1.324%203.653L188.3%20117.22l14.77%2019.567c.965%201.28%201.374%202.857%201.15%204.445-.22%201.588-1.048%202.992-2.327%203.957-1.05.792-2.296%201.21-3.608%201.21-1.902%200-3.648-.868-4.793-2.385l-14.072-18.644-2.082%202.083v13.09c-.002%203.312-2.693%206.004-6.002%206.004z%22%2F%3E%3C%2Fsvg%3E');
}

.icon-share-line {
	background-image: url(images/icon-line.png);
}


/* share */

body.modal-open {
	overflow: hidden;
}

.shareContainer {
	display: none;
}

.shareContainer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	background-color: #000;
	background-color: rgba(100, 100, 100, 0.9);
}

.shareContainer h1 {
	font-size: 1.71429em;
	line-height: 1.16667em;
	letter-spacing: 0.035em;
	margin: 2em 2.91667em 0 2.08333em;
	color: #fff;
}

.shareContainer .panel {
	background-color: #000;
	color: #fff;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;

	width: 60em;
	height: 22em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30em;
	margin-top: -11em;
}

.shareContainer .close {
	position: absolute;
	top: 3.57143em;
	right: 3.57143em;
	z-index: 1
}


.shareContainer .shares {
	top: 9.5em;
	left: 3.57143em;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
	max-height: 70%;
	position: absolute;
}

.shareContainer .shares ul {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	height: 100%;
	display: block
}

.shareContainer .shares li {
	overflow: hidden;
	display: block;
	cursor: pointer;
	margin: 0 1.42857em 2.85714em 0;
	float: left;
}

.shareContainer .shares li:hover {
	background-color: #777777;
	background-color: rgba(77,77,77, 0.8);
}

.shareContainer .shares li .icon {
	float: left;
}

.shareContainer .shares li .label {
	margin-left: 1.42857em;
	min-width: 7.14286em;
	line-height: 33px;
	vertical-align: baseline;
	float: left;
}

@media screen and (min-width: 640px) and (max-width: 780px) {
	.shareContainer .panel {
		width: 32em;
		height: 32em;
		margin-left: -16em;
		margin-top: -16em;
	}
}

@media screen and (max-width: 640px), screen and (max-height: 500px) {
	.shareContainer .panel {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin-left: 0;
		margin-top: 0;
	}
	.shareContainer .close {
		top: 1em;
		right: 1em;
	}
}

section.message {
	margin-bottom: 10px;
	background: #BC3937;
}

section.message div.message {
	padding: 10px 5px;
	border: 1px solid #BC3937;
	text-align: center;
	color: white;
	border-radius: 3px;
	margin-bottom: 4px;
	font-size: 1.5em;
}

section.message div.message a {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}

section.message div.message a:visited {
	color: #fff;
}

section.message div.message a:hover {
	color: #e36d69;
}

section.message div.message a.dismiss {
	margin-left: 10px;
	font-family: sans-serif;
}
