@font-face {
font-family: "Segoe UI";
font-style: normal;
font-weight: normal;
src: local("Segoe UI"), url(//static-hp-neu.s-msn.com/_h/7fed7cf6/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI.woff) format('woff'), url(//static-hp-neu.s-msn.com/_h/5f222cb6/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI.ttf) format('truetype')
}

@font-face {
font-family: "Segoe UI Light";
font-style: normal;
font-weight: normal;
src: local("Segoe UI Light"), url(//static-hp-neu.s-msn.com/_h/87b36317/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Light.woff) format('woff'), url(//static-hp-neu.s-msn.com/_h/dca4446f/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Light.ttf) format('truetype')
}

@font-face {
font-family: "Segoe UI Semilight";
font-style: normal;
font-weight: normal;
src: local("Segoe UI Semilight"), url(//static-hp-neu.s-msn.com/_h/322c7185/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Semilight.woff) format('woff'), url(//static-hp-neu.s-msn.com/_h/c19cac16/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Semilight.ttf) format('truetype')
}

@font-face {
font-family: "Segoe UI Semibold";
font-style: normal;
font-weight: normal;
src: local("Segoe UI Semibold"), url(//static-hp-neu.s-msn.com/_h/bcc75797/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Semibold.woff) format('woff'), url(//static-hp-neu.s-msn.com/_h/6ce20e6e/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Semibold.ttf) format('truetype')
}

@font-face {
font-family: "Segoe UI Bold";
font-style: normal;
font-weight: normal;
src: local("Segoe UI Bold"), url(//static-hp-neu.s-msn.com/_h/1ed57650/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Bold.woff) format('woff'), url(//static-hp-neu.s-msn.com/_h/6eea77d4/webcore/fonts/SegoeUI/WestEuropean/Segoe-UI-Bold.ttf) format('truetype')
}

@font-face {
font-family: "ps_g";
font-style: normal;
font-weight: normal;
src: url(//static-weather-neu.s-msn.com/sc/ab/be8e75.woff) format('woff'), url(//static-weather-neu.s-msn.com/sc/4f/9e28ae.ttf) format('truetype')
}

@font-face {
font-family: "ps_w";
font-style: normal;
font-weight: normal;
src: url(//static-weather-neu.s-msn.com/sc/24/9de7d0.woff) format('woff'), url(//static-weather-neu.s-msn.com/sc/35/bd14cb.ttf) format('truetype')
}

html { background-color: rgba(0, 0, 0, 0);  font-size: 62.5%;  -webkit-text-size-adjust: 100%;  -ms-text-size-adjust: 100%;}
body{
    font-family: "Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,Sans-Serif;font-size: 13px;
    background:#003D75;
    line-height: 1.25;  height: 100%;  padding: 0;  margin: 0;
}

a{  text-decoration: none;  color: #222;}

.logo{display:inline-block;float:left;width:180px;height: 30px;padding: 11px 20px 10px 0;}
.logo a{color:#FFF}

.left-box{  background: rgba(0, 0, 0, 0.7);display:inline-block;float:left;  width: 180px;  margin-right: 10px;}
.e-left{  background: rgba(0, 0, 0, 0.7);
background: -moz-linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0, 0, 0, 0.7)),color-stop(100%,rgba(0, 0, 0, 0)));
background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.7) 0,rgba(0, 0, 0, 0) 100%);
background: -o-linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0) 100%);
background: linear-gradient(top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0) 100%);
height: 140px;}
.wrapper{
    display: block;
margin: 0px auto;
width: 100%; 

}
.ban-728{
display: inline-block;
float: left;
width: 65%;
padding: 5px 0;
text-align: center;
}
.left-box ul{  margin: 0;
padding: 10px 0 0 20px;}
.left-box li{  list-style: none;}
.left-box li a{display: block;
font-size: 115.38462%;
overflow: hidden;
padding: 4px 0;
text-overflow: ellipsis;
white-space: nowrap;font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
font-weight: lighter;  font-size: 115.38462%;white-space: nowrap;  color: #FFF;  text-shadow: 1px 1px 2px #000;}
.left-box li.first{color: #A3D2FF;
font-size: 115.38462%;
margin: 1px 0 4px 0;font-weight: normal;  text-shadow: 1px 1px 2px #000;}
.content{
display: block;    margin: 0px auto;
width: 1185px;
}
.city{  font-size: 353.84615%;
margin-right: 10px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);  color: #FFF;
position: relative;
height:55px;
padding: 0 0 10px;  zoom: 1;  display: inline-block;
float: left;
width: 70%;
font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
background-color: rgba(0, 0, 0, 0);  -webkit-font-smoothing: antialiased;  line-height: 1.25;}
.cc{font-size: 161.53846%;  color: #FFF;
position: relative;
height: 115px;
padding: 0 0 10px;  display: inline-block;
float: left;
width: 70%;
font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
background-color: rgba(0, 0, 0, 0);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);  zoom: 1;  line-height: 1.25}
.weather{  display: inline-block;
float: left;
width: 70%;}
.weather .ico{  display: inline-block;
float: left;
width: 50px;}
.weather .ico img{  width: 80%;}
.weather .we{  font-size: 161.53846%;
font-weight: lighter;
zoom: 1;
color: #FFF;
font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
display: inline-block;
float: left;
margin-top: 6px;}
.degree{display: inline-block;
float: left;
width: 66%;
height: 130px;}
.degree .de{font-size: 938.46154%;
font-family: HelveticaNeue-UltraLight,"Helvetica Neue",HelveticaNeue-Light,HelveticaNeue,helvetica,arial,sans-serif;
font-weight: lighter;
zoom: 1;
color: #FFF;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
line-height: 1.25;
display: inline-block;
float: left;}
.degree .cir{position: relative;
font-size: 615.38462%;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
top: 10px;
font-family: HelveticaNeue-UltraLight,"Helvetica Neue",HelveticaNeue-Light,HelveticaNeue,helvetica,arial,sans-serif;
font-weight: lighter;
zoom: 1;
color: #FFF;
line-height: 1.25;
display: inline-block;
float: left;
left: 8px;}
.degree .f{  background: rgba(0, 0, 0, 0.5);
display: inline-block;
float: left;
position: relative;
top: 30px;
left: 25px;
line-height: 2.3;
text-align: center;
color: #FFF;
text-transform: uppercase;
cursor: pointer;
font-size: 84.61538%;
font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
padding: 5px 10px;}
.forecast{display: inline-block;
float: left;
background: rgba(0, 0, 0, 0.7);
max-width: 700px;
padding: 10px 12px;
margin-left: 190px;
height: 250px;margin-right: 10px;}
.forecast h2{
text-transform: none;    margin: 0 0 16px 0;    padding: 0;    font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;    font-size: 161.53846%;
color: #FFF;
font-weight: normal;
}
.forecast ul{
margin: 0;
padding: 0;
}
.forecast li{
list-style: none;
display: inline-block;
float: left;
width: 100%;
border-bottom: 1px solid rgba(104, 104, 102, 0.9);
padding: 7.5px 0;
}
.forecast li .day{
font-size: 115.38462%;
line-height: 11px;
color: #FFF;
font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
display: inline-block;
float: left;
width: 335px;
margin-top: 13px;
}
.forecast li .ico{
display: inline-block;
float: left;
width: 30px;
height: 30px;
padding-right: 280px;
}
.forecast li .ico img{
width: 100%;
}
.forecast li .high{
display: inline-block;
float: left;
text-align: left;
font-size: 115.38462%;
line-height: 11px;
font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
color: #FFF;
width: 30px;
margin-top: 10px;
}
.forecast li .low{
display: inline-block;    float: left;    text-align: left;    font-size: 115.38462%;    line-height: 11px;    font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
color: #A5D6FF;
margin-top: 10px;
}
.ban-2501{display:inline-block;float: left;width:300px;height:250px;padding:10px;background: rgba(0, 0, 0, 0.7);}
.details{display: inline-block;
float: left;
background: #FAFAFA;
width: 800px;
min-height: 50px;
padding: 0 0 20px 0;

margin-top: 10px;margin-right: 6px;}
.details h2{text-transform: none;    margin: 0 0 16px 0;    padding: 8px;    font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;    font-size: 161.53846%;
color: #FFF;
font-weight: normal;background-color: #3B3B3B;height: 25px;}
.details span{display:inline-block;float:left;color:#FFF;line-height: 16px;font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
font-size: 100%;}
.details nav{color: #A5D6FF;
font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
font-size: 123.07692%;display: inline-block;float: right;margin-left: 15px;}
.details .feels{margin-right: 150px;}
.details .humidity{margin-right: 140px;}
.details .today{display: inline-block;
float: left;
width: 100%;
line-height: 45px;}
.details .tonight{display: inline-block;
float: left;
width: 100%;}
.wind{display: inline-block;
float: right;
background: #3B3B3B;
width: 370px;
min-height: 50px;
padding: 10px 12px;

margin-top: 10px;margin-left: 10px;position: relative;height: 150px;}
.wind h2{text-transform: none;    margin: 0 0 16px 0;    padding: 0;    font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;    font-size: 161.53846%;
color: #FFF;
font-weight: normal;}
.wind .t-l{background-image: url(../images/4.png);position:absolute;background-repeat:no-repeat;width: 12px;height: 69px;background-size: 100%;top: 90px;z-index: 99999999999999;zoom: 1;left: 31px;display: inline-block;}
.wind .t-s{background-image: url(../images/4.png);
position: absolute;
background-repeat: no-repeat;
width: 10px;
height: 74px;
background-size: 100%;
top: 99px;
z-index: 99999999999999;
zoom: 1;
left: 64px;
display: inline-block;}
.wind .m-l{background-image: url(../images/2.png);position:absolute;background-repeat:no-repeat;width: 60px;height: 60px;background-size: 100%;top: 57px;z-index: 99999999999999;zoom: 1;left: 7px;display: inline-block;}
.wind .m-s{  background-image: url(../images/1.png);
position: absolute;
background-repeat: no-repeat;
width: 34px;
height: 34px;
background-size: 100%;
top: 79px;
z-index: 99999999999999;
zoom: 1;
left: 52px;
display: inline-block;}
.wind .w{  display: inline-block;
float: left;
position: absolute;
left: 115px;
top: 100px;
font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;
font-size: 100%;
color: #FFF;}

.more{display: inline-block;
float: right;
width: 300px;
height: 120px;
padding: 10px;
background: rgba(0, 0, 0, 0.7);margin-top: 10px;margin-right: 10px;}
.more h2{text-transform: none;    margin: 0 0 16px 0;    padding: 0;    font-family: HelveticaNeue-Light,"Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;    font-size: 146.53846%%;
color: #FFF;
font-weight: normal;}
.more ul{
margin: 0;    padding: 0;
}
.more li{
list-style: none;
}
.more li a{
font-family: "Helvetica Neue",HelveticaNeue,helvetica,arial,sans-serif;    font-size: 100%;    color: #FFF;
}
.f-1{  display: inline-block;
float: left;
width: 1255px;}
div .desc{display:inline-block;float:left;background-color:#284d6a;width: 850px;height: 50px;overflow: hidden;}
.desc .t{display: inline-block;
float: left;
background-color: #003398;
width: 50px;
color: #FFF;
padding: 5px;
line-height: 14px;}
.top{display:inline-block;float:left;width:100%;height: 310px;}
.desc .ico{
display: inline-block;
float: left;
width: 20px;
height: 20px;
padding: 15px 10px;
}
.desc .ico img{width:100%}
.desc .temp{
display: inline-block;
float: left;
color: #FFF;
padding: 17px 0px;
}
.desc .cc{
display: inline-block;
float: left;
font-size: 15px;
padding: 14px 10px;
}
.search{  display: inline-block;
float: left;
width: 300px;position:relative;  /* left: 150px; */  top: 15px;  clear: both;}
.search #location{
height: 30px;
border: none;
width: 300px;
padding: 4px;
font-size: 1.8rem;
font-weight: 200;
color: #FFF;
vertical-align: middle;
background: url(http://static-weather-neu.s-msn.com/sc/Weather/i/80/8027cb6f3c8bb4c462fef84c81742e.png);
}
.search .submit{  background: url(../images/search.png) no-repeat;
position: absolute;
right: 15px;
top: 7px;
border: none;
width: 20px;
height: 20px;
cursor: pointer;
background-size: 80%;}
.left-t{
display: inline-block;
float: left;
width: 600px;
}
.left-t .cc{
height: 25px;
padding-bottom: 5px;
display: block;
width: 100%;
}
.left-t .time{
display: inline-block;
float: left;
width: 100%;
color: #FFF;
}
.left-t .ico{
display: inline-block;
float: left;
width: 75px;
}
.left-t .ico img{
width: 100%;
}
.left-t .temp{
display: inline-block;
float: left;
color: #FFF;
font-size: 70px;
margin-left: 25px;
width: 395px;
}
.left-t .feels{
display: inline-block;
float: left;
color: #FFF;
margin-left: 50px;
width: 365px;
}
.left-t .we{
display: inline-block;
float: left;
width: 100%;
color: #FFF;
font-size: 17px;
margin-bottom: 25px;
}
.left-t .win{
display: inline-block;
float: left;
width: 60px;
color: #FFF;
margin-right: 100px;
text-align: center;
}
.left-t .humidity{
display: inline-block;    float: left;
width: 60px;    color: #FFF;
text-align: center;
}
.bgdata1{background:#000; filter: alpha(opacity=40); opacity: 0.66;overflow: auto;padding: 10px 2px 10px 16px;width: 525px;border-radius: 10px;}

.right-t{
display: inline-block;
float: left;
width: 538px;
}
.right-t ul{
display: inline-block;
float: left;
margin: 0;
padding: 0;
width: 100%;
height: 24px;background:#d5ecfa;
padding: 7px 5px;
border: 1px solid #FFF;
}
.right-t ul.head{background:#142b3d;color: #fff;padding: 10px 5px;height: 20px;}
.right-t li{
list-style: none;
display: inline-block;
float: left;
width: 95px;
font-size: 12px;
text-align: center;
}
.right-t li.day{}
.right-t li.img{
width: 28px;
}
.right-t li.img img{
width: 100%;
}
.right-t li.temp{
width: 90px;
}
.right-t li.desc{
background: none;
width: 110px;
}
.right-t li.per{}
.right-t li.win{}
.table{
display: inline-block;
float: left;
width: 800px;
}
.table .head{
display: inline-block;
float: left;
width: 780px;
height: 20px;
background: #27465A;
padding: 10px 10px;
color: #FFF;
font-size: 16px;
}
.table .head2{
display: inline-block;
float: left;
width: 100%;
margin-top: 3px;
}
.table .head2 .he{
margin: 0;
padding: 0;
background: #3b3b3b;
width: 100%;
height: 40px;
}
.table .head2 li{display: inline-block;
float: left;
width: 90px;
list-style: none;color: #FFF;padding: 12px;}
.table .head2 .he .d{
width: 70px;

text-align: center;
}

.table .head2 .he .c{
width: 70px;
text-align: center;
}
.table .head2 .he .c img{width:100%}
.table .head2 .he .h{
width: 60px;
text-align: center;
}
.table .head2 .he .l{
width: 60px;
text-align: center;
}
.table .head2 .he .de{
width: 140px;
text-align: center;
}
.table .head2 .he .p{
width: 100px;
text-align: center;
}
.table .head2 .he .w{
width: 100px;
text-align: center;
}
.table .head2 .det{
margin: 0;
padding: 0;
display: inline-block;
float: left;
width: 100%;
height: 50px;
background: #fafafa;
border-bottom: 1px solid #FFF;
}
.table .head2 .det .d{
width: 70px;
color: #848484;
font-weight: bold;
font-size: 14px;
}
.table .head2 .det .c{
width: 70px;
color: #848484;    font-weight: bold;    font-size: 14px;
text-align: center;
}
.table .head2 .det .c img{width:45%}
.table .head2 .det .h{
width: 60px;
color: #848484;    font-weight: bold;    font-size: 14px;
text-align: center;
}
.table .head2 .det .l{
width: 60px;    color: #848484;    font-weight: bold;    font-size: 14px;
text-align: center;
}
.table .head2 .det .de{
width: 140px;    color: #848484;    font-weight: bold;    font-size: 14px;
text-align: center;
}
.table .head2 .det .p{
width: 100px;    color: #848484;    font-weight: bold;    font-size: 14px;
text-align: center;
}
.table .head2 .det .w{
width: 100px;    color: #848484;    font-weight: bold;    font-size: 14px;
text-align: center;
}
.ban7282{display:inline-block;float:left;width: 780px;text-align:center;margin: 20px 0px 5px 0; background:#3B3B3B; text-align:center; padding: 10px;}
.almanac{
display: inline-block;
float: left;
width: 800px;
border-top: 2px solid #6c7ba2;
background: #fff;
padding-bottom: 10px;
}
.almanac h2{
display: inline-block;
float: left;
margin: 0 0 10px 0;
padding: 10px;
width: 780px;
color: #363a39;
border-bottom: 1px solid #7E7E7E;
font-size: 20px;
font-weight: normal;
}
.almanac ul{
margin: 0;
padding: 10px;
display: inline-block;
float: left;
}
.almanac li{
list-style: none;
display: inline-block;
float: left;
width: 330px;
height: 5px;
padding: 0px 0px 7px 0;
}
.almanac li.tod{
font-size: 14px;
color: #333645;
font-weight: bold;
}
.almanac li.av{
font-size: 14px;    color: #333645;
font-weight: normal;
}
.almanac li.hig{
width: 150px;
color: #CCC;
font-size: 15px;
}
.almanac li.low{
width: 150px;
color: #CCC;    font-size: 15px;
}
.almanac li.pr{
width: 150px;
color: #CCC;    font-size: 15px;
}
.almanac ul li.rep{
font-size: 14px;    color: #333645;    font-weight: bold;
}
.almanac li.dash{
width: 150px;
font-size: 14px;    font-weight: normal;    color: #555;
}
.almanac li.hic{
width: 150px;
font-size: 14px;
font-weight: normal;
color: #555;
}
.almanac li.lowc{
width: 150px;
font-size: 14px;
font-weight: normal;    color: #555;
}
.almanac li.prc{
width: 150px;
font-size: 14px;
font-weight: normal;    color: #555;
}
.almanac ul li.rep{
font-size: 14px;    color: #333645;    font-weight: bold;
padding-top: 15px;
}
.right-side{
display: inline-block;
float: left;
width: 300px;
}
.left-side{
display: inline-block;
float: left;
width: 785px;
margin-right: 15px;
position: relative;
}
.ban-300{
display: inline-block;
float: left;
width: 100%;
margin-bottom: 15px;
}
.around{
display: inline-block;
float: left;
width: 280px;
background: #ECECEC;
padding: 0 10px 5px 10px;
/* border-top: 2px solid #6C7BA2; */
margin-bottom: 15px;
}
.around h2{
display: inline-block;    float: left;    margin: 0 0 10px 0;    padding: 10px;
width: 260px;    color: #363A39;    border-bottom: 1px solid #7E7E7E;    font-size: 20px;    font-weight: normal;
}
.around ul{
margin: 0;
padding: 0;
}
.around li{
display: inline-block;
float: left;
width: 100%;
height: 45px;
}
.around li .ico{
display: inline-block;
float: left;
width: 35px;
margin-right: 20px;
}
.around li .ico img{width:100%}
.around li .temp{
display: inline-block;
float: left;
width: 45px;
margin-top: 5px;
font-size: 18px;
color: #555;
}
.around li .city{
display: inline-block;
float: left;
font-size: 17px;
text-shadow: none;
color: #555;
width: 170px;
height: 35px;
padding: 0;
line-height: 6px;
margin-top: 11px;
}
.art2 {
float: left;
width: 150px;
height: 85px;
margin-right: 25px;
margin-left: 25px;
}
.mom-social-share.ss-horizontal {
margin: 0;
padding: 20px;
position: relative;
padding-bottom: 10px;
display: inline-block;
float: left;
width: 95%;
}
.mom-social-share.ss-horizontal .ss-icon {
float: left;
margin-right: 10px;
margin-bottom: 10px;
}
.mom-social-share.ss-horizontal .ss-icon {
float: right;
margin-right: 0px;
margin-left: 10px;
display: inline-block;
float: left;
width: 106px;
}
.mom-social-share .ss-icon span.icon {
display: inline-block;
line-height: 28px;
height: 28px;
text-align: center;
background: #5D72A4;
color: #FFF;
font-size: 11px;
}
.mom-social-share .ss-icon span.icon {
background: #5D72A4;
}
.mom-social-share.ss-horizontal .ss-icon span {
float: left;
}
.mom-social-share.ss-horizontal .ss-icon span.icon {
padding-left: 7px;
padding-right: 10px;
font-size: 12px;
width: 50px;
display: inline-block;
float: left;
}
.mom-social-share .ss-icon i {
font-size: 13px;
display: inline-block;
vertical-align: middle;
margin-right: 5px;
}
.mom-social-share .ss-icon i {
margin-left: 5px;
margin-right: 0;
}
.mom-social-share.ss-horizontal .ss-icon span.icon i {
margin-right: 4px;
font-size: 15px;
}
.mom-social-share .ss-icon span.count {
font-family: arial !important;
}
.mom-social-share.ss-horizontal .ss-icon span.count {
line-height: 26px;
padding: 0 9px;
padding-left: 6px;
position: relative;
font-size: 12px;
display: inline-block;
float: left;
width: 10px;
background: rgba(236, 236, 236, 0.7);
border: 1px solid rgba(200, 200, 200, 0.7);
color: #515151;
}

.mom-social-share.ss-horizontal .ss-icon span.count:after, .mom-social-share.ss-horizontal .ss-icon span.count:before {
right: 100%;
top: 50%;
border: solid rgba(0, 0, 0, 0);
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.mom-social-share.ss-horizontal .ss-icon span.count:before {
border-color: rgba(229, 229, 229, 0);
border-right-color: #EAEAEA;
border-width: 5px;
margin-top: -5px;
}
.mom-social-share.ss-horizontal .ss-icon span.count:after {
border-color: rgba(245, 245, 245, 0);
border-right-color: #F5F5F5;
border-width: 4px;
margin-top: -4px;
}
.mom-social-share .ss-icon.twitter span.icon {
background: #00BAFF;
}
.mom-social-share .ss-icon.googleplus span.icon {
background: #DB5C4B;
}
.mom-social-share .ss-icon.linkedin span.icon {
background: #2F70B0;
}
.mom-social-share .ss-icon.pinterest span.icon {
background: #F20000;
}

.foot4{position:fixed; bottom:0; z-index:99999999999; background:#ccc; padding:10px; width:100%; height:13px;}

.mainD{ margin:0 auto; overflow:hidden; width:1200px; background:#fff}

.top-head{
display: inline-block;
width: 100%;
min-height: 100px;
}
.f-top{
display: inline-block;
float: left;
width: 100%;
height: 110px;
background-color: #fff;
text-align: left;
}
.s-top{
background-color: #F0F0F0;
display: inline-block;
float: left;
width: 100%;
height: 50px;
color: #FFF;
text-align: center;
padding: 0;
}
.w-top-0{display: inline-block;
float: left;
width: 100%;
min-height: 626px;
z-index: 9999;
transition-property: background-image;
-webkit-transition-property: background-image;
transition-duration: 2s;
-webkit-transition-duration: 2s;
transition-timing-function: ease;
-webkit-transition-timing-function: ease;
background: url(../images/ab.jpg) no-repeat;background-size: 100% 626px;}
.w-top{display:block;margin:0 auto; width: 1050px;}
.temp-b{
display: inline-block;
float: left;
width: 197px;
padding: 0;
margin: 18px 0;
clear: both;
position: relative;
}
.temp-b1{
display: inline-block;
float: left;
font-size: 13rem;
color: #FFF;
line-height: 1;
top: -20px;
position: relative;
}
.temp-b2{
display: inline-block;    float: left;
font-size: 5rem;    color: #FFF;    line-height: 1;
}
.temp-b3{
display: inline-block;    float: left;
font-size: 4rem;    color: #FFF;    line-height: 1;
}
.sun{
display: inline-block;    float: left;
width: 232px;    padding: 0;
margin: 0;
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
}
.sun1{
display: inline-block;    float: left;
font-size: 2.6rem;padding: 2px 0;    color: #FFF;
width: 100%;
margin-bottom: .5rem;
line-height: 1.167;  font-family: "Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,Sans-Serif;
}
.sun1 span{opacity: .8;
font-size: 14px;}
.sun2{
display: inline-block;    float: left;
font-size: 1.3rem;padding: 2px 0;    color: #FFF;    line-height: 1;
width: 49%;
}
.sun2 span{opacity: .8;
font-size: 1.3rem;    line-height: 1;}
.sun3{
display: inline-block;    float: left;
font-size: 15px;padding: 2px 0;    color: #FFF;    line-height: 1;
width: 49%;
}
.sun3 span{opacity: .8;
font-size: 14px;line-height: 1;}
.sun4{
display: inline-block;    float: left;
font-size: 15px;padding: 4px 0;    color: #FFF;    line-height: 1;
width: 99%;
}
.sun4 span{opacity: .8;
font-size: 14px;line-height: 1;}
.win{
display: inline-block;    float: left;
width: 190px;    padding: 0;
margin: 40px 10px 10px 10px;
}
.win1{
display: inline-block;padding: 2px 0;    float: left;    font-size: 15px;    color: #FFF;    line-height: 1;
width: 49%;
}
.win1 span{  opacity: .8;
font-size: 14px;  line-height: 1;}
.win2{
display: inline-block;padding: 2px 0;    float: left;    font-size: 15px;    color: #FFF;    line-height: 1;
width: 49%;
}
.win2 span{  opacity: .8;
font-size: 14px;  line-height: 1;}
.win3{
display: inline-block;padding: 2px 0;    float: left;    font-size: 15px;    color: #FFF;    line-height: 1;
width: 49%;
}
.win3 span{  opacity: .8;
font-size: 14px;  line-height: 1;}
.top-right{
display: inline-block;
float: right;
width: 300px;
margin-top:16px;
}
.top-left{
display: inline-block;
float: left;
width: 734px;
margin-top:16px;
}
.top-left2{
display: inline-block;
float: right;
width: 745px;
margin-top:16px;
margin-left:5px;
}
.topleftads{
display: inline-block;
float: left;
width: 300px;
margin-top:16px;
}

.te{  display: inline-block;
float: left;
margin: 0;
padding: 0;
width: 170px;  border-bottom: 1px solid #96B1E2;}
.te:hover{  background-color: rgba(255, 255, 255, 0.1);
transition: background-color .3s;
-webkit-transition: background-color .3s;
transition-timing-function: ease;
-webkit-transition-timing-function: ease;}
.te li{
display: inline-block;
float: left;
list-style-type: none;
width: 100%;
text-align: left;
margin-left: 25px;
font-size: 60px;
}

.one{
border-bottom: none;
border-right: 1px solid #96B1E2;
border-top: 1px solid #96B1E2;
border-left: 1px solid #96B1E2;
margin-right:16px;
background-color: rgba(255, 255, 255, 0.1);
}
.one .one-1{    color: #FFF;    font-size: 21px;    font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;}
.one .one-2{}
.one .one-2 img{  width: 18%;}
.one .one-3{
padding: 0;
color: #FFF;
}
.one .one-4{    color: rgba(255, 255, 255, 0.6);
}

.two{background-color: rgba(255, 255, 255, 0.1);margin-right:16px;}
.two .two-1{color: #FFF;    font-size: 21px;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;}
.two .two-2{}
.two .two-2 img{  width: 20%;}
.two .two-3{padding: 5px 0;    color: #FFF;    }
.two .two-4{    color: rgba(255, 255, 255, 0.6);}

.three{background-color: rgba(255, 255, 255, 0.1);margin-right:16px;}
.three .three-1{color: #FFF;    font-size: 21px;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;}
.three .three-2{}
.three .three-2 img{  width: 20%;}
.three .three-3{padding: 5px 0;    color: #FFF;    }
.three .three-4{    color: rgba(255, 255, 255, 0.6);}

.four{background-color: rgba(255, 255, 255, 0.1);}
.four .four-1{color: #FFF;    font-size: 21px;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;}
.four .four-2{}
.four .four-2 img{  width: 20%;}
.four .four-3{padding: 5px 0;    color: #FFF;    }
.four .four-4{    color: rgba(255, 255, 255, 0.6);}


.boxc2{
margin-left:16px;
background-color: rgba(255, 255, 255, 0.1);
width:170px;
height:250px;
float:left;
}
.boxc2R1{
color: #FFF;
font-size: 21px;
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
text-align:center;
padding:2px 0;

}
.boxc2R2{
text-align:center;padding:5px 0;
}

.boxc2R3{
text-align:center;padding:1px 0; background:rgba(255, 255, 255, 0.1) none repeat scroll 0 0; margin:0 8px 10px; overflow:hidden; height:67px;
}


.boxc2R4{
text-align:center;padding:1px 0; background:rgba(255, 255, 255, 0.1) none repeat scroll 0 0; margin:0 8px; overflow:hidden; height:67px;
}

.txtc2{
font-size:18px;
color:#fff;
float:left;
width:30px;
padding:35px 0 0 5px;
}

.txtc3{
float:right;
width:110px;
font-size:58px;
color:#fff;
font-family:"Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,sans-serif;
}

.summary{
display: inline-block;
float: left;
width: 100%;
margin-top: 20px;
}
.te-all{
margin: 0;

padding: 0;
display: inline-block;
float: left;
width: 72px;
text-align: center;
padding-bottom: 10px;
min-height: 140px;
}
.te-all:hover{
background-color: rgba(255, 255, 255, 0.1);
transition: background-color .3s;
-webkit-transition: background-color .3s;
transition-timing-function: ease;
-webkit-transition-timing-function: ease;
}
.te-all li{
display: inline-block;
width: 80%;
text-align: center;
color: #FFF;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 2rem;
line-height: 1.3;
}
.te-all.one1{background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.15));
background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));}
.te-all.one1 .one1-1{
color: #FFF;
font-size: 1.3rem;
font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
}
.te-all.one1 .one1-2{
padding: 5px 0;
}
.te-all.one1 .one1-2 img{  width: 15%;}
.te-all.one1 .one1-3{
color: #FFF;
font-size: 1.3rem;height: 5.1rem;    margin-bottom: 1rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}
}
.te-all.one1 .one1-4{
color: #FFF;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2rem;    line-height: 1.3;
}
.te-all.one1 .one1-5{
color: #FFF;
opacity: 0.5;
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;
}

.te-all.two1{}
.te-all.two1 .two1-1{color: #FFF;
font-size: 1.3rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}
.te-all.two1 .two1-2{
padding: 5px 0;
}
.te-all.two1 .two1-2 img{  width: 15%;}
.te-all.two1 .two1-3{color: #FFF;
font-size: 1.3rem;height: 5.1rem;    margin-bottom: 1rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}}
.te-all.two1 .two1-4{color: #FFF;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2rem;    line-height: 1.3;}
.te-all.two1 .two1-5{color: #FFF;
opacity: 0.5;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;}

.te-all.three1{background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.15));
background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));}
.te-all.three1 .three1-1{color: #FFF;
font-size: 1.3rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}
.te-all.three1 .three1-2{
padding: 5px 0;
}
.te-all.three1 .three1-2 img{  width: 15%;}
.te-all.three1 .three1-3{color: #FFF;
font-size: 1.3rem;height: 5.1rem;    margin-bottom: 1rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}}
.te-all.three1 .three1-4{color: #FFF;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2rem;    line-height: 1.3;}
.te-all.three1 .three1-5{color: #FFF;
opacity: 0.5;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;}

.te-all.four1{}
.te-all.four1 .four1-1{color: #FFF;
font-size: 1.3rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}
.te-all.four1 .four1-2{
padding: 5px 0;
}
.te-all.four1 .four1-2 img{  width: 15%;}
.te-all.four1 .four1-3{color: #FFF;
font-size: 1.3rem;height: 5.1rem;    margin-bottom: 1rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}}
.te-all.four1 .four1-4{color: #FFF;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2rem;    line-height: 1.3;}
.te-all.four1 .four1-5{color: #FFF;
opacity: 0.5;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;}

.te-all.five1{}
.te-all.odd{background: -webkit-linear-gradient(top,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.15));
background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));
background: -ms-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.15));}
.te-all.five1 .five1-1{color: #FFF;
font-size: 1.3rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}
.te-all.five1 .five1-2{
padding: 5px 0;
}
.te-all.five1 .five1-2 img{  width: 15%;}
.te-all.five1 .five1-3{color: #FFF;
font-size: 1.3rem;height: 5.1rem;    margin-bottom: 1rem;font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;}
.te-all.five1 .five1-4{color: #FFF;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2rem;    line-height: 1.3;}
.te-all.five1 .five1-5{color: #FFF;
opacity: 0.5;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;}
.ad-300{
display: inline-block;
float: right;
width: 100%;
min-height: 250px;
margin-bottom: 15px;
}
.latest-news{
display: inline-block;
float: left;
width: 300px;
background-image:url(../images/d.png)}
.latest-news h1{
margin: 0;
padding: 10px 0;
display: inline-block;
float: left;
width: 100%;
color: #FFF;
font-family: "Segoe UI Bold","Segoe WP Bold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;    text-transform: uppercase;
border-bottom: 1px solid #000;
}
.latest-news ul{
margin: 0;
padding: 0;
}
.latest-news li{
display: inline-block;
float: left;
width: 100%;
padding: 10px 0;
border-bottom: 1px solid #DADADA;
}
.latest-news li a{}
.latest-news li img{
width: 85px;
height: 64px;
display: inline-block;
float: left;
margin-right: 5px;
}
.latest-news li span{
font-size: 1.3rem;    line-height: 1.384;
display: inline-block;
float: left;
width: 170px;
color: #FFF;
font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
}
.latest-news.article{}
.latest-news.article h1{
color: #222;
}
.latest-news.article li{}
.latest-news.article li a{}
.latest-news.article li span{
color: #000;
}
.center{
display: inline-block;
float: left;
width: 100%;
margin-top: 25px;
}
.center .c-left{
display: inline-block;
float: left;
width: 730px;
}
.center .c-right{
display: inline-block;
float: left;
width: 300px;
margin-left: 10px;
}
.center h1{border-bottom: solid .1rem #A0A0A0;display:inline-block;float:left;width:100%}
.c-left .f-topic{
display: inline-block;
float: left;
width: 426px;
height: 240px;
position: relative;
padding-bottom: 10px;
margin-right: 10px;
}





.l-box .historical {
clear: both;
padding: 1.5rem 0;
color: #FFF;
}
.l-box .historical h2 {
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 2rem;
line-height: 1.3;
border-bottom: .1rem solid rgba(255, 255, 255, 0.5);
margin-bottom: 2rem;
padding-bottom: 1rem;
font-weight: normal;
}
.l-box .hide {
display: none;
}
.l-box .historical .chartselection {
display: none !important;
}
.l-box .historical {
clear: both;
padding: 1.5rem;
color: #FFF;
}
.l-box .historical .mainpanel, .l-box .historical .hschart, .l-box .historical .chart-wrapper {
height: 100%;
}
.l-box .historical .hsinfo {
display: inline-block;
}
.l-box .historical .hsinfo {
padding-left: 2rem;
margin-left: 2rem;
border-left: .1rem solid rgba(255, 255, 255, 0.15);
float: right;
height: 100%;
width: 35rem;
}
.l-box .historical .dt {
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 2rem;
line-height: 1.3;
}
main[role=main] ul {
margin: 0;
padding: 0;
}
main[role=main] ul li {
list-style-type: none;
}
.l-box .historical .hsinfo li {
float: left;
width: 50%;
}
.l-box .historical ul p {
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 1.3rem;
line-height: 1.384;
margin: 1rem 0;
overflow: hidden;
white-space: normal;
}
.l-box .historical ul p span:first-child {
opacity: .6;
}

.l-box .historical .hschart {
overflow: hidden;
}
.l-box .historical .chart, .l-box .historical .hschart, .l-box .historical .mainpanel, .l-box .historical .overlay {
height: 35rem;
}
.l-box .historical .mainpanel, .l-box .historical .hschart, .l-box .historical .chart-wrapper {
height: 375px;
}
.l-box .hschart #hschartsvg {
margin-right: 0;
margin-bottom: 0;
overflow: hidden;
}
.l-box .hschart #hschartsvg svg {
width: 100%;
height: 100%;
}
.l-box .hschart #hschartsvg svg>g text {
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 1.3rem;
line-height: 1.384;
fill: #FFF;
opacity: .8;
}
.l-box .hschart #hschartsvg svg line {
stroke: #DFDFDF;
stroke-width: 1;
opacity: .3;
}
.l-box .hschart #hschartsvg svg .bar {
fill: #FFF;
stroke: #FFF;
opacity: .5;
}
.l-box .hschart #hschartsvg svg .hsbar {
fill: rgba(0, 0, 0, 0);
stroke: rgba(0, 0, 0, 0);
opacity: .4;
}
.l-box .hschart #hschartsvg svg .hsbar.active {
fill: #FFF;
stroke: #FFF;
}
.l-box .hschart #fontcalculator {
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 1.3rem;
line-height: 1.384;
position: absolute;
color: rgba(0, 0, 0, 0);
}
.normalsection{}
.l-box {
background-color: #01579B;display:inline-block;float:left;width:100%;  margin-top: 25px;
height: 590px;
}
.footer{  background-color: #333;
display: block;
/* float: left; */
width: 100%;

padding: 20px 0;
color: #FFF;
text-align: center;  margin: 0 auto;  clear: both;}
.footer a{color:#FFF}
.bol{}
.bol video{display: block;
text-align: center;
margin-left: auto;
margin-right: auto;}
.bol iframe{display: block;
text-align: center;
margin-left: auto;
margin-right: auto;}
.bol object{display: block;
text-align: center;
margin-left: auto;
margin-right: auto;}
.name{  display: inline-block;
float: left;
width: auto;
margin-top: 8px;
margin-left: 10px;
font-size: 3.6rem;
color: #FFF;
line-height: 1.167;
font-family: "Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,Sans-Serif;}
.m-top{
height: 50px;
overflow: hidden;
width:100%;
margin: 0 auto;
}
.m-top ul{
margin: 0 auto;
padding: 0;
display: block;
text-align: center;
width: 100%;
height: 50px;
margin-left: auto;
margin-right: auto;
}
.m-top li{
display: inline-block;
float: left;
text-align: center;
height: 36px;
font-size: 18px;
padding: 14px 25px;
border-left: 1px solid #ccc;
background: #F0F0F0;
width:91px
}
.m-top li:hover{
display: inline-block;
float: left;
text-align: center;
height: 36px;
font-size: 18px;
padding: 14px 25px;
border-left: 1px solid #ccc;
background: #F9F9F9;

}
.m-top li a{
color: #373c43;
transition: color .22s;
font-size: 19px;
display: inline-block;
font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
}
.sep{display: inline-block;
float: left;
width: 1px;
background: rgba(0, 0, 0, 0.15);
height: 250px;}
.sep.o{height:215px}
.ads728{  display: block;
width: 100%;
text-align: center;
margin-top: 20px;}

.stb-bsb {
margin: 1.5rem 0;
overflow: hidden;
}
.stb-bsb .stb-btn {
cursor: pointer;
float: left;
position: relative;
clear: both;
}
.stb-bsb .stb-box {
margin: .6rem 0 0 .6rem;
display: block;
height: 3.2rem;
position: relative;
text-align: left;
}
.stb-bsb .stb-box {
margin-left: 0;
}
.stb-bsb a.stb-facebook .stb-box, .stb-bsb button.stb-facebook .stb-box {
background: #4C66A4;
color: #FFF;
position: relative;
text-transform: none;
width: 13.8rem;
}
.stb-bsb .stb-text {
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 1.3rem;
line-height: 1.384;
margin: 0 .6rem 0 3.2rem;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
display: block;
max-width: 10rem;
padding-top: .6rem;
}
.stb-bsb a .stb-box::after, .stb-bsb button .stb-box::after {
position: absolute;
top: .1rem;
}
.stb-bsb a.stb-facebook .stb-box::after, .stb-bsb button.stb-facebook .stb-box::after {
color: #FFF;
content: "";
font-family: ps_g;
font-size: 2.2rem;
}
.stb-bsb a.stb-facebook .stb-box::after, .stb-bsb button.stb-facebook .stb-box::after {
left: 1.2rem;
}
.stb-bsb a.stb-twitter .stb-box, .stb-bsb button.stb-twitter .stb-box {
background: #55ACEE;
color: #FFF;
position: relative;
text-transform: none;
width: 13.8rem;
}
.stb-bsb a.stb-twitter .stb-box::after, .stb-bsb button.stb-twitter .stb-box::after {
color: #FFF;
content: "";
font-family: ps_g;
font-size: 2.2rem;
}
.stb-bsb a.stb-twitter .stb-box::after, .stb-bsb button.stb-twitter .stb-box::after {
left: .7rem;
}
.stb-bsb a.stb-email .stb-box, .stb-bsb button.stb-email .stb-box {
background: #A0A0A0;
color: #FFF;
position: relative;
text-transform: none;
width: 13.8rem;
}
.stb-bsb a.stb-email .stb-box::after, .stb-bsb button.stb-email .stb-box::after {
color: #FFF;
content: "";
font-family: ps_g;
font-size: 2.2rem;
}
.stb-bsb a.stb-email .stb-box::after, .stb-bsb button.stb-email .stb-box::after {
left: .3rem;
margin-left: .55rem;
}
h3.h-article{
padding: 0;  font-family: "Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 22px;
line-height: 1.19;color: #000;
padding-bottom: 2rem;padding-top: 1.2rem;
font-weight: bold;
border-top: 1px solid #333;
border-bottom: 1px solid rgba(0, 0, 0, 0.15);
margin: 1.5rem auto 0;
display: inline-block;
width: 1020px;
margin: 10px auto;
text-align:left;
}
#article p{  font-size: 1.8rem;
line-height: 1.444;
font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;  color: #333;}
.rand-a{
display: inline-block;
float: left;
width: 350px;
}
.rand-a h1{
margin: 0;    padding: 10px 0;    display: inline-block;    float: left;
width: 300px;
color: #000;    font-family: "Segoe UI Bold","Segoe WP Bold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;    text-transform: uppercase;    border-bottom: 1px solid #000;
margin-bottom: 10px;
}
.rand-a ul{
padding: 0;
margin: 0;
}
.rand-a li{
display: inline-block;
float: left;
width: 160px;
padding: 5px 0 5px;
}
.rand-a li a{
display: block;
}
.rand-a li img{
width: 140px;
height: 80px;
}
.rand-a li span{
font-size: 1.3rem;    line-height: 1.384;    display: inline-block;    float: left;
width: 130px;
color: #000;    font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
overflow: hidden;
height: 35px;
}
.sharingtb{position: absolute;
left: -110px;}

.nav23{
height: 25px;
padding: 15px 0 8px 24px;
width: 745px;
font-size:15px;
}

.article-list{
display: inline-block;
float: left;
width: 100%;
margin-top: 10px;
}
.article-list ul{
margin: 0;
padding: 0;
}
.article-list li{
display: inline-block;
float: left;
width: 210px;
border: 1px solid #DDD;
background-color: #F9F9F9;
margin-bottom: 20px;
margin-left: 20px;
padding: 10px;
height: 180px;
border-radius: 5px;
}
.article-list li:hover{
display: inline-block;
float: left;
width: 210px;
border: 1px solid #000;
background-color: #ECECEC;
margin-bottom: 20px;
margin-left: 20px;
padding: 10px;
height: 180px;
border-radius: 2px;
}

.article-list li a{
display: block;
}
.article-list li img{
width: 210px;
height: 120px;
}
.article-list li span{
font-size: 1.5rem;    line-height: 1.384;    display: inline-block;    float: left;
width: 100%;
color: #333;    font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
margin-top: 5px;
overflow: hidden;
height: 44px;
}
.my-list{
display: inline-block;
float: left;
width: 100%;
margin-top: 1px;
overflow:hidden;

}
.my-list ul{
margin: 0;
padding: 0;
}
.myplace{
display: inline-block;
float: left;
width: 340px;
border:10px #aabbcc solid;
height: 140px;
position: relative;
margin: 0 20px 20px 0;
}

.my-list div.place{
position: absolute;
top: 10px;
left: 13px;
padding: 1px 10px;
font-size: 1.5rem;    line-height: 1.467;
color: #FFF;
font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
background:#AABBCC;
}
.my-list div.temp{
position: absolute;
top: 31px;
left: 10px;
font-family: "Segoe UI Light","Segoe WP Light","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 6rem;
line-height: 1.167;
color: #FFF;
word-spacing: -16px;
}
.my-list div.weather{
font-size: 1.5rem;    line-height: 1.467;
color: #FFF;
position: absolute;
bottom: 15px;
left: 13px;
}
.mylistH1{
display: inline-block;
font-size:16px;
padding:0 10px 0 11px;
margin-bottom:22px;
background: #F6F6F6;
width:100%;
overflow:hidden;
}
.my-list div.temp-f{
position: absolute;
right: 95px;
top: 34px;
font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2.4rem;    line-height: 1.2;
color: #FFF;
}
.my-list div.temp-c{
opacity: .6;
position: absolute;
right: 95px;
top: 65px;    font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2.4rem;    line-height: 1.2;    color: #FFF;
}
.my-list div.wind-n{
font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;
font-size: 1.3rem;
line-height: 1.384;
top: 41px;
right: 5px;position: absolute;

color: #FFF;
}
.my-list div.wn-n{color: rgba(0, 0, 0, 0);    font: 0/0 a;    height: 1.5rem;    text-align: center;    transform: rotate(113deg);    -ms-transform: rotate(113deg);    -webkit-transform: rotate(113deg);    -moz-transform: rotate(113deg);    -o-transform: rotate(113deg);    width: 1.5rem;
float: left;top: 70px;right: 67px;position: absolute;    margin-right: .3rem;    margin-top: .2rem;    padding-right: 1.5rem;position:absolute;}
.my-list div.visibility{top: 65px;right: 15px;position: absolute;color: #FFF;font-family: "Segoe UI Semibold","Segoe WP Semibold","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 1.3rem;    line-height: 1.384;}
.a-date{display: inline-block;
float: left;
position: relative;
left: 40px;
color: #333;
font-size: 14px;  width: 100%;}
.related{
display: inline-block;
float: left;
width: 119%;
border-top: 1px solid #DDD;
}
.related h1{  display: inline-block;
float: left;
width: 100%;
padding: 10px 0;
color: #222;
font-size: 24px;
line-height: 26px;
border-bottom: 1px solid #DDD;
margin-bottom: 10px;
font-weight: normal;}
.related li{
display: inline-block;
float: left;
width: 220px;
box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
margin: 15px;
height: 225px;
}
.related li a{
display: block;
}
.related li img{
width: 100%;
}
.related li h2{
display: block;
width: 199px;
font-size: 14px;
margin: 0;
line-height: 21px;
font-weight: normal;
padding: 10px;
overflow: hidden;
height: 35px;
}
#imageContainer {
height: 540px;
display: inline-block;
float: right;
width: 680px;
margin-top: 10px;
position:relative;
right:25px;
}
#imageContainer .i-tit{
position: absolute;

top: 0;
left: 0;
width: 651px;
min-height: 35px;
background-color: #000;
color: #FFF;
text-align: left;
padding: 15px;
font-size: 22px;
}
#imageContainer .i-text{
background: rgba(0, 15, 26, 0.34);
position: absolute;
bottom: 16px;
min-height: 80px;
padding: 15px;
width: 651px;
color: #FFF;
text-align: left;
font-size: 16px;
}
.i-gallery{
display: block;

text-align: center;
width: 100%;
background-color: #fff;
}
.photo {
border: 1px solid #333;
width: 680px;
margin-bottom: 5px;
}
div.hoverscroll div.fixed-arrow {
display: block;
float: left;
background-color: #ccc;
background-position: center;
background-repeat: no-repeat;
}
div.hoverscroll div.fixed-arrow, div.hoverscroll div.arrow {
background-color: #666666;
}
div.hoverscroll div.arrow.left, div.hoverscroll div.arrow.right, div.hoverscroll div.fixed-arrow.left, div.hoverscroll div.fixed-arrow.right {
top: 0;
width: 40px;
height: 100%;
}
div.hoverscroll div.arrow.left, div.hoverscroll div.fixed-arrow.left {
left: 0;
}

#heroControl {
position: absolute;
top: 270px;
width: 681px;
height: 150px;
}
#heroControl a.next {
background: url(http://www.arabymotors.com/images/media-next-standalone.png) no-repeat scroll left top rgba(0, 0, 0, 0);
cursor: pointer;
height: 40px;
position: absolute;
right: 0;
width: 35px;
z-index: 999999;
}
#heroControl a.previous {
background: url(http://www.arabymotors.com/images/media-prev-standalone.png) no-repeat scroll left top rgba(0, 0, 0, 0);
cursor: pointer;
height: 40px;
left: 0;
position: absolute;
width: 35px;
z-index: 9999;
}
.offer-gallery {
padding: 0 0 10px;
position:relative;
right:25px;
}
.br {
display: block;
}
#gallery {
height: 80px;
overflow: hidden;
position: relative;
width: 680px;
margin: 4px 0 0;
display: inline-block;
float: right;
}

div.hoverscroll {
position: relative;
}
div.arrow.left, div.hoverscroll div.fixed-arrow.left {
left: 0;
}

div.hoverscroll div.fixed-listcontainer {
overflow: hidden;
float: left;
width: 600px;
}

div.hoverscroll ul.list {
list-style: none;
margin: 0;
padding: 0;
}
div.hoverscroll ul.list li.item {
display: block;
padding: 0;
}

.w-icon{position:absolute; padding:1px; margin-left: 160px; margin-top: -8px;}


.c-left .f-topic{
    display: inline-block;
    float: left;    
    width: 426px;
    height: 240px;
    position: relative;
    padding-bottom: 10px;
    margin-right: 10px;
}
.c-left .f-topic a{}
.c-left .f-topic img{
    width: 100%;
    height: 100%;
}
.c-left .f-topic span{
    position: absolute;
    bottom: 25px;left:40px;
    color: #FFF;
    font-weight: normal;    padding-bottom: .3rem;
    font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2.4rem;    line-height: 1.2;    max-height: 12.8rem;
}
.c-left .s-topic{
    display:inline-block;float:left;
    width: 278px;
    height: 240px;position: relative;
    margin-left: 10px;
    padding-bottom: 10px;
}
.c-left .s-topic a{

}

.c-left .s-topic img{
    width: 100%;
    height: 100%;}
.c-left .s-topic span{
position: absolute;
    bottom: 25px;left:15px;
    color: #FFF;
    font-weight: normal;    padding-bottom: .3rem;
    font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;    font-size: 2.4rem;    line-height: 1.2;    max-height: 12.8rem;
}
.c-left .o-topic{
    display: inline-block;
    float: left;
    width: 788px;
    margin-top: 15px;
}
.c-left .o-topic ul{
    margin: 0;
    padding: 0;
}
.c-left .o-topic li{
    display: inline-block;
    float: left;
    width: 138px;
    padding: 0 10px;height:215px
}
.c-left .o-topic li:hover{
    display: inline-block;
    float: left;
    width: 138px;
    padding: 0 10px;height:215px;
    background:#fff;
}

.c-left .o-topic li.last{width:138px}
.c-left .o-topic li:first-child{padding-left:0;border-left:none}
.c-left .o-topic li a{}
.c-left .o-topic li img{
      width: 100%;
    height: 90px;
}
.c-left .o-topic li span{
    display: inline-block;
    float: left;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.367;    color: #333;
    font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
}


.bnrhe{float:right;  height:90px; width:975px; padding:2px 0 0 0; text-align:right;}
.midLEFT{float: left; width: 807px;}
.mid2{
    width:1185px;
    margin:10px auto;   
    overflow: hidden;
    padding:10px 0;
}
.mid2_1{
    float:left;
    width:775px;
    background:#F0F0F0;
    padding: 16px;
}

.mid2_2{
    float:right;
}

.leftBox{;
    background:#F0F0F0;
    padding:10px 10px;
    text-align:center;
}


.i-text {
    background: rgba(0, 15, 26, 0.34) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    min-height: 30px;
    padding: 4px 10px;
    position: absolute;
    text-align: left;
    width: 356px;
     bottom: 10px;
}

.i-textSlide {
    background: rgba(0, 15, 26, 0.34) none repeat scroll 0 0;
    bottom: -140px;
    color: #fff;
    font-size: 16px;
    min-height: 30px;
    padding: 4px 10px;
    position: absolute;
    text-align: left;
    width: 565px;

}
.i-textSlideSS {
    background: rgba(0, 15, 26, 0.34) none repeat scroll 0 0;
    bottom: 50px;
    color: #fff;
    font-size: 16px;
    min-height: 30px;
    padding: 4px 10px;
    position: relative;
    text-align: left;
    width: 260px;
}

.box33{
    background:#F0F0F0;
    margin-bottom:20px;
    overflow: hidden;
    width:356px;
    padding-bottom:20px;

}

.box33title{
    padding:10px;
    background:#ddd;
    font-size:20px;
}
.box33M{padding:13px 0; clear:both; overflow: hidden;border-bottom: 1px solid #ddd; background:#fff}
.box33ML{float:left; width:100px; height:72px;padding: 0 0 0 10px;}
.box33MR{float:left; width:230px; height:72px; margin-left:10px;}
.box33MTXT{font-size:15px;}
.box33MDT{color:#666; padding-top:3px; font-size:11px}

.ads7C{background:#F0F0F0; padding:20px;text-align:center; margin:20px 0;}

.centerA{background:#F0F0F0; padding:15px;text-align:center; margin:20px 0;overflow: hidden;}

.centerATT{
    text-align:left;
    padding:10px 20px 15px 0;
    font-size:26px;
    font-weight:bold;
}

.stopic1{width:110px; padding:0 4px; overflow:hidden; background:#F7F7F7; float:left; margin-right:10px;}
.stopic2{padding:6px 0;}
.stopic3{text-align:left;  height:157px; font-size:17px; padding: 5px 4px;}
.stopic1:hover{background:#fff}

.pop4{width:251px;margin:0 10px 10px 0; float:left; height:200px}
.pop43{padding:0 0 5px 0}
.i-text2{
    background: rgba(0, 15, 26, 0.34) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    min-height: 30px;
    padding: 4px 10px;
    position: relative;
    text-align: left;
    width: 225px;
    bottom: 50px;
    left: 3px;
}
.i-text3{
    background: rgba(0, 15, 26, 0.34) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    min-height: 30px;
    padding: 4px 10px;
    position: relative;
    text-align: left;
    width: 750px;
    bottom: 41px;
    left: 3px;
}

.box33MR2{padding:13px 0; overflow: hidden; background:#fff}
.box33MLR{float:left; width:160px; height:100px;padding: 12px 0 0 10px;}
.imgtxts{padding:20px 0; margin:20px 0 0 0; background:#000; width:100%; text-align:center;}
.urltextq {color:#3399FF; font-weight:bold}
.urltextq:hover{color:#000; font-weight:bold}













.bp-vertical-share .mom-social-share {
    border-left-width: 1px;
    left: auto;
    right: 0;
}
.mom-social-share.ss-vertical .ss-icon {
    margin-bottom: 10px;
}
*::-moz-placeholder {
    color: #c6c6c6;
    opacity: 1;
}
*::-moz-selection {
    background: #b3d4fc none repeat scroll 0 0;
    text-shadow: none;
}
.mom-social-share.ss-vertical .ss-icon span.count::before {
    border-color: rgba(229, 229, 229, 0) rgba(229, 229, 229, 0) #eaeaea;
    border-width: 6px;
    margin-left: -6px;
}
.mom-social-share.ss-vertical .ss-icon span.count::after, .mom-social-share.ss-vertical .ss-icon span.count::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.mom-social-share.ss-vertical .ss-icon {
    margin-bottom: 10px;
}
*::-moz-placeholder {
    color: #c6c6c6;
    opacity: 1;
}
*::-moz-selection {
    background: #b3d4fc none repeat scroll 0 0;
    text-shadow: none;
}




.mom-social-share.ss-vertical .ss-icon span.count::before {
    border-color: rgba(229, 229, 229, 0) rgba(229, 229, 229, 0) #eaeaea;
    border-width: 6px;
    margin-left: -6px;
}
.mom-social-share.ss-vertical .ss-icon span.count::after, .mom-social-share.ss-vertical .ss-icon span.count::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.mom-social-share.ss-vertical .ss-icon span.count::after {
    border-color: rgba(245, 245, 245, 0) rgba(245, 245, 245, 0) #f5f5f5;
    border-width: 5px;
    margin-left: -5px;
}
.mom-social-share.ss-vertical .ss-icon span.count::after, .mom-social-share.ss-vertical .ss-icon span.count::before {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.mom-social-share.ss-vertical .ss-icon span.count {
    height: 23px;
}
.mom-social-share.ss-vertical .ss-icon span.count {
    display: block;
}
.mom-social-share .ss-icon span.count {
    font-family: arial !important;
}
#imageContainer {
  height: 540px;
  display: inline-block;
  float: right;
  width: 680px;
  margin-top: 10px;
    position:relative;
}
.photo {
  border: 1px solid #333;
  width: 680px;
  margin-bottom: 5px;
}
div.hoverscroll div.fixed-arrow {
  display: block;
  float: left;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
}
div.hoverscroll div.fixed-arrow, div.hoverscroll div.arrow {
  background-color: #666666;
}
div.hoverscroll div.arrow.left, div.hoverscroll div.arrow.right, div.hoverscroll div.fixed-arrow.left, div.hoverscroll div.fixed-arrow.right {
  top: 0;
  width: 40px;
  height: 100%;
}
div.hoverscroll div.arrow.left, div.hoverscroll div.fixed-arrow.left {
  left: 0;
}

#heroControl {
  position: absolute;
  top: 260px;
  width: 681px;
}
#heroControl a.next {
  background: url(http://www.arabymotors.com/images/media-next-standalone.png) no-repeat scroll left top rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0;
  width: 35px;
}
#heroControl a.previous {
  background: url(http://www.arabymotors.com/images/media-prev-standalone.png) no-repeat scroll left top rgba(0, 0, 0, 0);
  cursor: pointer;
  height: 40px;
  left: 0;
  position: absolute;
  width: 35px;
}
.offer-gallery {
  padding: 0 0 10px;
}
.br {
  display: block;
}
#gallery {
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 680px;
  margin: 4px 0 0;
  display: inline-block;
  float: right;
}

div.hoverscroll {
  position: relative;
}
div.arrow.left, div.hoverscroll div.fixed-arrow.left {
  left: 0;
}

div.hoverscroll div.fixed-listcontainer {
  overflow: hidden;
  float: left;
  width: 600px;
}

div.hoverscroll ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.hoverscroll ul.list li.item {
  display: block;
  padding: 0;
}
.i-gallery {
    display: block;
  text-align: center;
  width: 729px;
  background-color: #000;
  margin: 25px 0 25px 15px;
  padding: 0 15px;
}

.fbS{background:#E6E6E6 url("http://iddigital.net/images/social2.png"); background-repeat:no-repeat;height: 40px;width: 60px;background-position:-5px; margin: 0 12px;float:left;}
.TWs{background:#E6E6E6 url("http://iddigital.net/images/social2.png"); background-repeat:no-repeat;height: 40px;width: 60px; background-position:-155px; margin: 0 12px;float:left;}
.GooS{background:#E6E6E6 url("http://iddigital.net/images/social2.png"); background-repeat:no-repeat;height: 40px;width: 60px; background-position:-81px; margin: 0 12px;float:left;}
.RssS{background:#E6E6E6 url("http://iddigital.net/images/social2.png"); background-repeat:no-repeat;height: 40px;width: 60px; background-position:-231px; margin: 0 12px;float:left;}

.fbS:hover{background-position:-5px 2px; }
.TWs:hover{ background-position:-155px 2px;}
.GooS:hover{ background-position:-81px 2px; }
.RssS:hover{background-position:-231px 2px;}



.bnr160{border-right:1px #ccc solid; float:left; width:164px; padding:0 10px 0 0;}
.slide1{ float:right; width:585px; }