body{
	font-family: Verdana;
	background-color: #333;
}

.InnerWrapper{
	width: 950px;
	margin:0 auto;
}

#OuterWrapper{
	width: 100%;
	height: 100%;
}

#HeaderWrapper{
	height: 90px;
	background-color: #14805E;
    min-width: 990px;
}

.InnerWrapper ul li a:hover{
	text-decoration:none;
	color:#FFDF1B;
}

#slotsPromo a:hover{
	color:#FFDF1B;
}

a.slotsTandCs:hover {
	color:#FFDF1B !important;	
}

#Logo{
	padding-top: 19px; 
	padding-left: 5px;
}

#TopPromotionWrapper{
	/*height: 559px;*/
	background-color:#000;
	background: url('/home/images/landingpage/new/1x639px-Image-Slice.jpg') top center repeat;
}

#TopPromotionWrapper .highlighted{
	color: #FFDF1B;
}

#TopPromotion {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	background: url('/home/images/landingpage/new/1280x639px-Landing-Page-Image.jpg') top center no-repeat;
}

.dotGrSite #TopPromotion {	
	background: url('/home/images/landingpage/new/1280x559px-LandingPage-Image-gr.jpg') top center no-repeat;
	width: 1280px;
}



.dotGrSite #TopPromotionWrapper {	
	height: 709px;
	background: none;
    background-color: #000;
}

.dotGrSite .podiumRowsPanel{
	position: absolute;
    background: #14805E;
    width: 100%;
    height: 150px;
	top: 649px;
}


.dotGrSite #PodiumTopRow{
	top: 30px;	
	left: 0;
    right: 0;
    margin: 0 auto;
	position:relative;
	width: auto;
}

.dotGrSite #PodiumBottomRow{
	top: 35px;	
	left: 0;
    right: 0;
    margin: 0 auto;
	position:relative;
	display: block;
    text-align: center;
	width: auto;
}




.dotGrSite .PodiumBottomRowImageOne,
.dotGrSite #PodiumBottomRowTextOne,
.dotGrSite .PodiumBottomRowImageTwo,
.dotGrSite #PodiumBottomRowTextTwo,
.dotGrSite .PodiumBottomRowImageThree,
.dotGrSite #PodiumBottomRowTextThree{
	left:inherit;
	display:inline-block;
	position: inherit;
	margin-bottom: -15px;
}




.dotGrSite .PodiumBottomRowImageOne,
.dotGrSite .PodiumBottomRowImageTwo,
.dotGrSite .PodiumBottomRowImageThree{
	margin-left:60px;
}

#PodiumBottomRow div:first-child{
	margin-left:0px;
}



.dotGrSite #TopPromotionFirstLine{
	font-size: 23px;
	margin-top: 36px;
    line-height: 30px;
}
.dotGrSite #TopPromotionSecondLine{
	font-size: 46px;
	padding-bottom: 9px;
	margin-top: 0px;
	line-height: 47px;
}
.dotGrSite #TopPromotionThirdLine{
	font-size: 23px;
	line-height:30px;
}

.dotGrSite #TopPromotionFourthLine{
	margin-top: 0px;
}

.dotGrSite #FooterLogo {
	padding-top:60px;
}


#TopPromotionInfo {
	cursor: pointer;
	height: 280px;
	width: 293px;
	top: 16px;
	left: 176px;
	position: absolute;
	text-align: center;
	padding: 0px 3px;
}

.dotGrSite #TopPromotionInfo{
	top:18px;
}

#TopPromotionTitle{
	height: 95px;
}

#TopPromotionText{
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	padding-bottom: 18px;
	margin-top: -3px;
}

#TopPromotionBetNow{
	background-color: #FFDF1B;
	width: 200px;
	margin-top: 27px;
	color: #333333;
	font-size: 15px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	padding: 5px 57px;
}

#TopPromotionTerms{
	margin-top: 10px;
	font-size: 12px;
	color: #999999;
	font-weight: normal;
}

#TopPromotionMainArea {
	height: 409px;
	width: 1280px;
}

#TermsWrapper{
	width: 930px;
	margin: 0 auto;
}

#Terms{
	font-size: 11px;
	line-height: 15px;
	color: #8F8F8F;
	padding-left: 15px;
	min-height: 112px;
	position: relative;
	padding-bottom: 8px;
}

#TermsHeader{
	padding-top: 12px;
	padding-bottom: 8px;
	line-height: 18px;
	font-size: 11px;
	color: #8F8F8F;
	font-weight: bold;
}

#TermsLeft{
	float: left;
	width: 438px;
	text-align: left;
	max-height: 230px;
}

#TermsLeft ol, #TermsRight ol{
	margin-top: 0px;
	padding-left: 0px;
}

#TermsRight{
	text-align: left;
	float: right;
	width:438px;
}

#TermsBelow:hover{
	text-decoration: none;
	color: #FFDF1B;
}
#TermsFooter{
	font-size: 11px;
	color: #D1D3D2;
	font-size: 11px;
	position: absolute;
	right:0;
	bottom:5px;
	margin-top: -10px;
}

.NewBottomPodRow {
	margin: 0 auto;
	height: 267px;
	background-color: #14805E;
}

.NewTopPodRow {
	margin: 0 auto;
	height: 275px;
	background-color: #14805E;
}

.NewTopPodRowNoBottomRow {
	margin: 0 auto;
	height: 280px;
	background-color: #14805E;
}

.NewBottomPodRow .NewPodWrapper {
	margin-top: 0px !important; 
}

.NewBottomPodRow .NewPodTitleImage {
	margin-top: 0px !important; 
}

.NewPodWrapper{
	margin-right: 15px;
	float: left; 
	width: 300px; 
	display:inline-block;
	height: 275px;
}

.NewPodWrapperLeft{
	margin-right: 15px;
	margin-left: 10px;
	float: left; 
	width: 300px; 
	display:inline-block;
	height: 260px;
}

.TwoBigPods .NewPodWrapperLeft{
	margin-right: 50px;
	margin-left: 10px;
	float: left; 
	width: 440px; 
	display:inline-block;
	height: 275px;
}

.NewPodWrapperRight{
	margin-right: 10px;
	float: left; 
	width: 300px; 
	display:inline-block;
	height: 260px;
}

.TwoBigPods .NewPodWrapperRight{
	margin-right: 10px;
	float: left; 
	width: 440px; 
	display:inline-block;
	height: 275px;
}

.TwoBigPods .NewPodTitleImage {
	margin-left:70px;
}

.TwoBigPods .NewPodBetNow {
	width:440px;
}

.NewPodTitleImage{
	height: 56px;
	margin-top: 15px;
	width: 300px;
}

.NewPodTitleImage img {
	display: block;
	margin: 0 auto;
}

.NewPodTitleText   {
	margin-top: 0px;
	line-height: 22px;
	padding-bottom: 14px;
	font-family: verdana;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.NewPodTitleText  a, .NewPodTitleText  a:hover  {
	color: #FFDF1B;
	text-decoration: none;
}

.NewPodProductImage {
	height:100px;
	margin-bottom:15px
}

.NewPodBetNowContainer {
	padding-bottom: 56px;
}

.NewPodBetNow{
	width:300px;
	display:block;
	padding:0px;
	margin:0px;
	height: 30px;
	line-height: 30px;
	color:#FFF; 
	font-size: 11px; 
	font-weight: bold;
	Background-color: #09AE7D; 
	border-radius: 4px;
	text-decoration: none;
	text-align:center;
}

.NewPodBetNow:hover{
	background-color:#2EBA90; 
	text-decoration: none;
}

#FooterWrapper{
	background-color: #333333;
	padding-bottom: 30px;
}

#Footer{
	width: 950px;
	margin:0 auto;
	color: #999999;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
}

#FooterTerms{
	text-align: left;
}

#FooterTerms li{
	padding-top: 10px;

	padding-left: 22px;
}

#FooterTermsHeader{
	padding-top: 30px;
	font-weight: bold;
	line-height: 15px;
	font-size: 11px;
}

a.AnchorLink {
	color: #D1D3D2;
	font-size: 11px;
}

a.FooterAnchorLink {
	color: #B1B1B1;
	font-size: 11px;
	font-weight: bold;
}

a.AnchorLink:hover,
a.FooterAnchorLink:hover {
	text-decoration: none;
}

#FooterLogo{
	margin:0 auto; 
	padding-top:30px;
}

#FooterLinkWrapper{
	padding-top: 16px;
}

#FooterLinkWrapper a{
	font-size: 11px;
	color: #BBBBBB;
	font-weight: normal;
	padding-left: 17px;
}

#FooterLinkWrapper a:hover{
	color: #FFDF1B !important;
	text-decoration: none;
}

#IconWrapper{
	padding-top: 23px;
}

.FooterIcon{
	margin:5px;
	display: inline;
}

#CookiePolicy{
	padding-top: 12px;
	font-size: 10px;
	line-height: 18px;
	width:910px;
}

#Licensing{
	padding-top: 27px;
	line-height: 25px;
}

#BottomButtonWrapper{
	padding-top: 35px;
}

.dotGrSite #BottomButtonWrapper{
	padding-top: 0px;
}

#BackToTop{
	width: 120px; 
	height: 30px;
	line-height: 30px;
	color:#BBBBBB; 
	font-size: 11px; 
	font-weight: normal;
	Background-color: #3D3D3D; 
	border-radius: 4px;
	padding: 8.5px 27px;
}

#BackToTop:hover{
	text-decoration: none;
	Background-color: #5A5A5A; 
}

#flshMsg2 table {
	width: 498px !important;
}

#flshMsg1, #dBlur {
	position:fixed !important;
	top: 0px !important;
}

.InnerWrapper ul {
	margin-left: 5px;
	margin-top: 12px;
	width:1026px;
}

.InnerWrapper ul li {
	display: inline;
	list-style: none;
	margin-right: 9px;
	font-size:10px;
	font-family: Verdana, Arial, sans-serif;
	color: #FFF;
	zoom:1;
}

.InnerWrapper ul li a {
	color: #FFF;	
}

.NewPodTitleText h2 {
	font-size:1.5em;
}

#Footer #CookiePolicy  .tl {
	color: #999999;
}

#CookiePolicy a {
	text-decoration:none;
	color: #BBBBBB !important;
}

#CookiePolicy a:hover {
	text-decoration:none;
	color: #FFDF1B !important;
}

#TopPromotionFirstLine {
	margin-top: 24px;
	line-height: 20px;
	font-family: verdana;
	font-size: 15px;
	color: #FFF;
	font-weight:bold;
}

#TopPromotionSecondLine {
	margin-top:2px;
	line-height:72px;
	font-family: verdana;
	font-size: 78px;
	color: #FFDF1B;
	font-weight:bold;	
}

#TopPromotionSecondLine .firstCharacter {
	letter-spacing: -6px;
}

#TopPromotionSecondLine .percentSign {
	font-size: 53px;
}

#TopPromotionThirdLine {
	margin-top:0px;
	line-height:22px; /*unknown for now*/
	font-family: verdana;
	font-size: 23px;
	color: #FFF;
	font-weight:bold;	
}

#TopPromotionFourthLine {
	margin-top:6px;
	line-height:18px;
	padding-bottom:10px;
	font-family: verdana;
	font-size: 15px;
	color: #FFF;
}

#TopPromotionButton {
	width: 220px;
	height:40px;
	background-color:#FFDF1B;
	color:#000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-khtml-border-radius: 5px;
	display: inline-block;
	font-size: 20px;
	font-weight:bold;	
}

#TopPromotionButton:hover {
	background-color:#FFE946;
}

#TopPromotionFifthLine {
	margin: 0 auto;
	line-height:40px;
	text-align: center;
	
}

#TopPromotionSixthLine {
	margin-top:11px;
	line-height:18px;
	padding-bottom:10px;
	font-family: verdana;
	font-size: 11px;
	color: #FFF;	
}

#PodiumTopRow {
	position: absolute;
	left: 510px;
	top: 311px;
	height: 40px;
	width: 250px;
	text-align: center;
	cursor:pointer;
}

#PodiumBottomRow {
	position: absolute;
	left: 176px;
	top: 352px;
	height: 38px;
	width: 930px;
	cursor:pointer;
}

#PodiumTopRowText {
	font-family: verdana;
	font-size: 22px;
	color: #FFF;
	font-weight:bold;
	display: inline-block;
	margin-top: 8px;
	line-height: 22px;
}

#PodiumTopRowText .ampersand {
	color: #FFDF1B;
}

.PodiumBottomText {
	margin-top: 1px;
	position: absolute;
	font-family: verdana;
	font-size: 14px;
	color: #FFDF1B;
	line-height: 40px;	
}

#PodiumBottomRowTextOne {
	top: -1px;
	left: 65px;
}

#PodiumBottomRowTextTwo {
	top: -1px;
	left: 388px;
}

#PodiumBottomRowTextThree {
	top: -1px;
	left: 722px;
}

.PodiumBottomRowImageOne {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 25px;
	background: url('/home/images/landingpage/new/podium/40x40px-Figure-Icon.png') top center no-repeat;
}

.PodiumBottomRowImageTwo {
	position: absolute;
	width: 36px;
	height: 40px;
	left: 351px;
	background: url('/home/images/landingpage/new/podium/36x40px-Streaming-Icon.png') top center no-repeat;
}

.PodiumBottomRowImageThree{
	position: absolute;
	width: 34px;
	height: 40px;
	left: 688px;
	background: url('/home/images/landingpage/new/podium/34x40px-Inplay-Icon.png') top center no-repeat;
}

#FooterTerms ol {
	font-size: 11px;
	color: #B1B1B1;
}

div.NewBottomPodRow.TwoBigPods {
	z-index: 9999;
	position: relative;
}

#FooterWrapper .footerWrapperAdderss{
	padding-top: 12px;
    font-size: 10px;
    line-height: 18px;
    width: 910px;
}
