@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?9082625');
  src: url('../font/fontello.eot?9082625#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?9082625') format('woff'),
       url('../font/fontello.ttf?9082625') format('truetype'),
       url('../font/fontello.svg?9082625#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?9082625#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-gplus-squared-1:before { content: '\e800'; } /* '' */
.icon-angle-up:before { content: '\e801'; } /* '' */
.icon-youtube-squared:before { content: '\e802'; } /* '' */
.icon-videocam:before { content: '\e803'; } /* '' */
.icon-down-open-big:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-video:before { content: '\e806'; } /* '' */
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-video-1:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-angle-left:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-facebook-squared:before { content: '\e80c'; } /* '' */
.icon-twitter-squared:before { content: '\e80d'; } /* '' */
.icon-angle-right:before { content: '\e80e'; } /* '' */
.icon-picture:before { content: '\e80f'; } /* '' */
.icon-pinterest-squared:before { content: '\e810'; } /* '' */
.icon-gplus-squared:before { content: '\e811'; } /* '' */
.icon-mail-alt:before { content: '\e812'; } /* '' */
.icon-user:before { content: '\e813'; } /* '' */
.icon-doc-text-inv:before { content: '\e814'; } /* '' */
.icon-doc-text:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-twitter:before { content: '\e817'; } /* '' */
.icon-newspaper:before { content: '\e818'; } /* '' */
.icon-chart-bar:before { content: '\e819'; } /* '' */
.icon-tumblr:before { content: '\e81a'; } /* '' */
.icon-gplus:before { content: '\e81b'; } /* '' */
.icon-chart-bar-1:before { content: '\e81c'; } /* '' */
.icon-play:before { content: '\e81d'; } /* '' */
.icon-tumblr-1:before { content: '\e81e'; } /* '' */
.icon-pause:before { content: '\e81f'; } /* '' */
.icon-gplus-1:before { content: '\e820'; } /* '' */
.icon-stop:before { content: '\e821'; } /* '' */
.icon-camera:before { content: '\e822'; } /* '' */
.icon-fast-fw:before { content: '\e823'; } /* '' */
.icon-menu:before { content: '\e824'; } /* '' */
.icon-fast-bw:before { content: '\e825'; } /* '' */
.icon-share:before { content: '\e826'; } /* '' */
.icon-fancredcompound3:before { content: '\e827'; } /* '' */
.icon-up-open:before { content: '\e828'; } /* '' */