/* FONT DECLARATION */
#font
{
	font-size:10px;
}

@font-face {
  font-family: 'omnesSemiBold';
  src: url('../fonts/omnesSemiBold/omnesSemiBold.eot');
  src: url('../fonts/omnesSemiBold/omnesSemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/omnesSemiBold/omnesSemiBold.woff2') format('woff2'),
       url('../fonts/omnesSemiBold/omnesSemiBold.woff') format('woff'),
       url('../fonts/omnesSemiBold/omnesSemiBold.ttf')  format('truetype'),
       url('../fonts/omnesSemiBold/omnesSemiBold.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'omnesRegular';
  src: url('../fonts/omnesRegular/omnesRegular.eot');
  src: url('../fonts/omnesRegular/omnesRegular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/omnesRegular/omnesRegular.woff2') format('woff2'),
       url('../fonts/omnesRegular/omnesRegular.woff') format('woff'),
       url('../fonts/omnesRegular/omnesRegular.ttf')  format('truetype'),
       url('../fonts/omnesRegular/omnesRegular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'omnesMedium';
  src: url('../fonts/omnesMedium/omnesMedium.eot');
  src: url('../fonts/omnesMedium/omnesMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/omnesMedium/omnesMedium.woff2') format('woff2'),
       url('../fonts/omnesMedium/omnesMedium.woff') format('woff'),
       url('../fonts/omnesMedium/omnesMedium.ttf')  format('truetype'),
       url('../fonts/omnesMedium/omnesMedium.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'sourceSans';
    src: url('../fonts/sourceSansProRegular/sourceSansProRegular.eot');
    src: url('../fonts/sourceSansProRegular/sourceSansProRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourceSansProRegular/sourceSansProRegular.woff2') format('woff2'),
    url('../fonts/sourceSansProRegular/sourceSansProRegular.woff') format('woff'),
    url('../fonts/sourceSansProRegular/sourceSansProRegular.ttf')  format('truetype'),
    url('../fonts/sourceSansProRegular/sourceSansProRegular.svg#svgFontName') format('svg');
  } 

p, h1, h2, h3, h4, a, li{font-size:16px; letter-spacing:0.03em}
p, a, li{font-family:'omnesRegular', Arial, Helvetica, sans-serif;color:#000}
h1, h2, h3, h4, .bold {font-family:'omnesMedium', Arial, Helvetica, sans-serif;color:#000}

input, .emailButton{
	font-size:14px;
	font-family:'omnesRegular', Arial, Helvetica, sans-serif;color:#000;
}
