footer
{
	background-color: #000;
	width: 100%;
	height: 50px;
	/*position: relative;*/
	z-index: -50;
	bottom: 0px;
}

.terms
{
	margin: 0 0 0 15px;
	padding: 5px 0 0 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	width: 43.90779363336993%;
	/*width: 550px;*/
}

.terms > ul > li
{
	padding-left: 0.13003901170351106%;
	padding-right: 0.13003901170351106%
}

.terms > ul > li > a,
.terms > ul > li > p
{
	/*font-size: 12px;*/
	font-size: 0.65em;
}

.terms-mobile
{
	font: inherit;
	text-align: center;
}

.terms-mobile > ul > li,
.terms-mobile > ul > li > a
{
	font-size: 14px;
}


p.copyright {
    margin: 15px 0 0;
}

.copyright-mobile
{
	font-size: 0.85em;
}

.publicity
{
	margin: -30px 0 0 48.458149779735685%;
	padding: 0;
	border: 0;
	height: 100%;
	display: table;
	position: relative;
}

.publicity-mobile
{
	background-color: #333;
	border-style: solid;
	border-width: 1px;
	border-top-color: gray;
	border-bottom-color: gray;
}

.publicity-mobile .row
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.publicity-mobile .row > a
{
	color: white;
	/*text-decoration: none;*/
}

.social
{
	position: relative;
	top: 0;
	right: 0;
	margin: -37px 5px 0;
	float: right;
}

.social-mobile
{
	position: relative;
	top: 0;
	right: 0;
	margin: 40px auto;
	width: 348px;
	display: block;
}

.social-media
{
	height: 30px;
	width: 30px;
	margin: 0 3px;
	display: inline-block;
	vertical-align: middle;
}

.social-media-mobile
{
	height: 50px;
	width: 50px;
	margin: 0 3px;
	display: inline-block;
	vertical-align: middle;
}

.smm
{
	background-color:#333;
	margin-left: auto;
	margin-right:auto;
	padding-left: 0;
  	padding-right: 0;
}

@media(max-width: 871px)
{
	.publicity
	{
		margin-left: 39.45815%;
		top: -12px;
	}
}
