html,
body 
{
    height: 100%;
}

.carousel-mobile
{
    position: relative;
    height: 83%;
    width: 100%;
    overflow: hidden;
}

.carousel,
.item,
.active
{
    height: 100%;
}

.carousel-inner
{
    height: 100%;
}

.carousel-gradient
{
    background-image:url('../assets/web_grad.png');
    background-size:cover;
    background-position:left;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

.fill 
{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
}

.fill-mobile
{
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    background-position: right top;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    -o-background-size: 100% auto;
    background-repeat: no-repeat;
    z-index: -1;
}

/*FADE EFFECT*/
.carousel.fade 
{
  opacity: 1;
}

.carousel.fade .item 
{
  -moz-transition: opacity ease-in-out .8s;
  -o-transition: opacity ease-in-out .8s;
  -webkit-transition: opacity ease-in-out .8s;
  transition: opacity ease-in-out .8s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}

.carousel.fade .item:first-child 
{
  top:auto;
  position:relative;
}

.carousel.fade .item.active 
{
  opacity: 1;
  -moz-transition: opacity ease-in-out .8s;
  -o-transition: opacity ease-in-out .8s;
  -webkit-transition: opacity ease-in-out .8s;
  transition: opacity ease-in-out .8s;
  z-index:2;
}


@media (max-width: 1350px) and (max-height: 780px)
{
  .fill 
  {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      background-position: right center;
      -webkit-background-size: contain !important;
      -moz-background-size: contain !important;
      background-size: contain !important;
      -o-background-size: contain !important;
      background-repeat: no-repeat;
  }
}


/*@media (min-width: 720px)
{
  .fill 
  {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      background-position: right bottom;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -o-background-size: cover !important;
      background-repeat: no-repeat;
  }
}*/

@media (max-width: 1350px)
{
  .fill 
  {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      background-position: right center;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -o-background-size: cover !important;
      background-repeat: no-repeat;
  }
}

@media (min-width: 1351px)
{
  .fill 
  {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      background-position: right center;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -o-background-size: cover !important;
      background-repeat: no-repeat;
  }
}

@media (min-width: 1280px) and (min-height: 600px)
{
  /*.fill 
  {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      background-position: right center;
      -webkit-background-size: 100% 100% !important;
      -moz-background-size: 100% 100% !important;
      background-size: 100% 100% !important;
      -o-background-size: 100% 100% !important;
      background-repeat: no-repeat;
  }*/

  .fill 
  {
      min-height: 100%;
      min-width: 100%;
      width: 100%;
      height: 100%;
      background-position: right bottom;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -o-background-size: cover !important;
      background-repeat: no-repeat;
  }
} 