.intro-header
{
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: left;
    color: #f8f8f8;
    height: 100%;
    width:100%;
    position: absolute;
}

.intro-message
{
    position: relative;
    padding-top: 5%;
    margin-left: -20px;
    z-index: 50;
    max-width: 436px;
}

.intro-message-mobile
{
    position: relative;
    /*padding-top: 10%;*/
    padding: 0 10% !important;
    /*width: 80%;*/
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.intro-message-mobile > h1,
.intro-message > h1
{
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message-mobile > ul
{
    list-style: none;
    margin-left: 0%;
    z-index: 5;
    padding: 0;
}

.intro-message > ul
{
    list-style: none;
    margin-left: 0%;
    z-index: 5;
    padding: 0;
   /* padding-top: 20px;*/
}

.intro-message > ul > li
{
    background-image: url(../assets/arrowgreen.png);
    background-repeat: no-repeat;
    background-size: 1.2em auto;
    background-position-y: 4px;
    font-size: 18px;
    /*font-family: SourceSansPro;*/
    font-weight: 100;
    line-height: 1.5em;
    padding-left: 40px;
    color: white
}

.intro-message-mobile > ul > li
{
    background-image: url(../assets/arrowgreen.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 4px;
    font-size: 1.5em;
    font-family: omnesRegular;
    font-weight: 100;
    line-height: 1.5em;
    padding-left: 30px;
    padding-bottom: 2%;
    color: white;
}

.intro-message-mobile > p
{
    font-family: omnesRegular;
    font-size: 1.75em;
    color: white;
    min-width: 250px;
    /*padding-bottom: 25px;*/
}

.intro-message > p
{
    /*padding-left: 7%;*/
    font-family: omnesRegular;
    font-size: 1.25em;
    color: white;
}

.intro-message-mobile > p > span
{
    font-family: omnesMedium;
    font-size: 28px;
}

.intro-message > p > span
{
    font-family: omnesMedium;
    font-size: 28px;
}

#logoMobile
{
    margin: 5% 5%;
}

#signMobile
{
    margin: 7% 3% 2% 2%;
}

#ih-container
{
    margin-left: 8%;
}

#ccdd
{
    /*width:98.24579%;
    max-width: 350px;*/
    padding-top:2px;
}

#ccdesktop
{
    position: relative;
    float: right;
    color: white !important;
    font-size: 14px !important;
}

#ccdm
{
    /*width:75%;
    max-width: 350px;*/
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
}

#ccmobile
{
    position: relative;
    float: right;
    color: white !important;
    font-size: 14px !important;
}
