@media(max-width: 1199px) and (orientation : landscape)
{
	.landscape-logo
	{
		margin-bottom: -40px !important;
		top: -20px;
		/*width: 80px !important;*/
	}

	.landscape-sign
	{
		top: 23px;
	}

	.intro-message > ul > li 
	{
		font-family:'omnesRegular', Arial, Helvetica, sans-serif !important;
		font-size: 1.3em !important;
		font-weight: 100 !important;
		line-height: 1em !important;
	}

	.intro-message > p 
	{
		font-size: 14px !important;
	}

	.img-start
	{
		/*width: 250px !important;*/
		padding-top: 0px !important;
	}

	.fill 
	{
	  min-height: 100%;
	  min-width: 100%;
	  width: 100%;
	  height: 100%;
	  background-position: right center;
	  -webkit-background-size: contain !important;
	  -moz-background-size: contain !important;
	  background-size: contain !important;
	  -o-background-size: contain !important;
	  background-repeat: no-repeat;
	}
}

@media(max-width: 375px)
{
	.social-media-mobile
	{
		height: 40px !important;
		width: 40px !important;
	}

	.social-mobile > ul
	{
		width: 300px !important;
	}

	.social-mobile
	{
		width: 300px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		padding-left: 0 !important;
		padding-left: 0 !important;
	}
	.intro-message-mobile > ul > li
	{
		
		font-size: 1.1em !important; 
	}
}

/*NEED SOMETHING TO SOLVE LANDSCAPE ISSUE FOR SONY EXPERIA Z ULTRA*/
@media(max-height: 485px) and (max-width: 1024px) and (orientation:landscape)
{
	.intro-message
	{
		padding-top: 45px !important;
		/*margin-top: 10px !important;*/

	}

	.intro-message > p
	{
		font-size: 1.55em !important;
	}

}

/*TO SETTLE IPAD PORTRAIT ISSUE*/
@media only screen and (orientation: portrait) and (max-width: 768px)
{
	
	#myCarousel2
	{
		display: none !important;
	}

	#myCarousel
	{
		display: block !important;
	}

	header > .visible-xs
	{
		display: block !important;
	}

	.intro-message-mobile
	{
		width: 100% !important;
		padding-top: 5% !important;
	}

	.intro-message-mobile > ul,
	.intro-message-mobile > li,
	.intro-message-mobile > p,
	.intro-message-mobile > a
	{
		display: block !important;
	}

	.publicity-mobile
	{
		/*display: none !important;*/
	} 

	#ipadVisible
	{
		/*display: block !important;*/
	}

	.adjustWidth
	{
		/*width: 80% !important;*/
	}

	#logoMobile
	{
		margin-top: 3% !important;
		margin-bottom: 3% !important;
	}

	#signMobile
	{
		margin-top: 4% !important;
	}

	.intro-message-mobile > p
	{
		margin-top: -3% !important;
		padding-bottom: 7px !important;
		/*font-size: 1.5em !important;*/
	}

	.intro-message-mobile > ul > li
	{
		line-height: 1.5em !important;
		background-position-y: 7px !important;
		/*font-size: 1.15em !important; */
	}
}

