html,body
{
    margin:0 !important;
    margin-right: 0 !important;
    padding:0 !important;
    background-color: rgb(51, 51, 51)
}

.clear {
  clear: both;
}

@media(max-width: 450px)
{
    .center-block{
        padding-top: 10%
    }
}

/*IPHONE 6 PLUS*/
@media(max-width: 414px) and (max-height: 736px)
{
	.intro-message-mobile
	{
		padding-top: 5%;
	}

	.intro-message-mobile > p
	{
		padding-bottom: 0px !important;
		font-size: 1.5em !important;
	}
}

/*IPHONE 6 */
@media(max-width: 375px) and (max-height: 667px)
{
	.intro-message-mobile > ul > li
	{
		font-size: 1.2em !important;
	}

	.intro-message-mobile > ul
	{
		margin-bottom: -12px !important;
	}


	.intro-message-mobile
	{
		padding-top: 5%;
	}

	.intro-message-mobile > p
	{
		padding-bottom: 0px !important;
		font-size: 1.5em !important;
	}
}

/*IPHONE 5 */
@media(max-width: 320px) and (max-height: 568px)
{
	.intro-message-mobile > ul > li
	{
		font-size: 1.2em !important;
		line-height: 1.25em !important;
	}

	.intro-message-mobile > ul
	{
		margin-bottom: -5px;
	}


	.intro-message-mobile
	{
		padding-top: 5%;
	}

	.intro-message-mobile > p
	{
		padding-bottom: 10px;
		font-size: 1.25em !important;
	}
}

/*IPHONE 4*/
@media(max-width: 320px) and (max-height: 480px)
{
	.intro-message-mobile > ul > li
	{
		font-size: .7em !important;
		line-height: 1em !important;
		background-position-y: -1px !important;
		background-size: 15px !important;
	}

	.intro-message-mobile > ul
	{
		margin-bottom: -5px;
		margin-top: -8px;
	}


	.intro-message-mobile
	{
		padding-top: 5%;
	}

	.intro-message-mobile > p
	{
		padding-bottom: 0px !important;
		font-size: 1.2em !important;
	}
}

/*SAMSUNG GALAXY S4*/
@media(max-width: 360px) and (max-height: 640px)
{
	.intro-message-mobile > ul > li
	{
		line-height: 1.25em !important;
	}
}

/*SAMSUNG GALAXY S2*/
@media(max-width: 320px) and (max-height: 533px)
{
	.intro-message-mobile > ul > li
	{
		line-height: 1.2em !important;
		font-size: 1em !important;
		background-size: 15px !important;
		background-position-z: 0px;
	}
}

/*IPAD */
@media(max-width: 1024px) and (min-height: 768px) {

    .img-start {
        width: 390px !important;
    }

    .landscape-logo {
        width: 140px !important;
    }

    .landscape-sign {
        /*width: 230px !important;*/
        width: 140px !important;
        top: 40px;
    }

    #ih-container {
        padding-left: 8% !important;
        margin-left: 27px !important;
    }
}

/*BLACKBERRY Z10 */
@media(min-width: 200px) and (max-height: 700px)
{
	.intro-message > ul > li
	{
	   /* font-size: 1.5em !important;*/
	    line-height: 1.25 !important;
	    width: 100% !important;
	}
}

/*SONY XPERIA ULTRA SOMETHING ...*/
@media(orientation: portrait) and ()
{

}

#carousel-mobile-header, #mobile-header-static  {
  margin: 0 -15px 30px -15px;
}

#mobile-header-static .banner {
  max-width: 100%;
}

.mobile-header-signin {
  position: absolute;
  right: 0;
  width: 100%;
  z-index:100;
  vertical-align:middle;
}

.mobile-header-signin img {
  width: 30%;
  max-width: 110px;
  min-width: 50px;
  float: right;
  margin: 3% 1% 0 0;
}

#carousel-mobile-header .header_logo, #mobile-header-static .header_logo {
  max-width: 100px;
  width: 25%;
  z-index: 15;
  position: absolute;
  margin: 4% 0 0 4%;
}

#carousel-mobile-header .carousel-indicators {
  bottom: 0;
}

#carousel-mobile-header .carousel-indicators .active {
  background-color: #ff0000;
}
