#socialSharingNav{
	margin:0 3px;
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
	background-image:none !important;
	overflow: hidden;
	vertical-align:middle;
}

#socialSharingMobileNav{
    margin:0 3px;
    display: inline-block;
    width: 40px !important;
    height: 70px !important;
    background-image:none !important;
    overflow: hidden;
    vertical-align:middle;
}

.ra1-pw-popup.pw-popup-type_simplelist.pw-popup-side_right {
	right: 10px !important;
	left: initial !important;
	top: 70px !important;
	position:fixed !important;
}

span.pw-button-type-post-share {
  display: none;
  visibility: hidden;
}

#sideNav a.pw-button, #socialNavMobile a.pw-button{background-position:-160px 0 !important}
#sideNav a.navTwitter, #socialNavMobile a.navTwitter{background-position:-40px 0 !important}
#sideNav a.navInstagram, #socialNavMobile a.navInstagram{background-position:-80px 0 !important}
#sideNav a.navYoutube, #socialNavMobile a.navYoutube{background-position:-120px 0 !important}

#sideNav a.navFacebook:hover{background-position:0 -40px !important}
#sideNav a.navTwitter:hover{background-position:-40px -40px !important}
#sideNav a.navInstagram:hover{background-position:-80px -40px !important}
#sideNav a.navYoutube:hover{background-position:-120px -40px !important}
#sideNav a.pw-button:hover{background-position:-160px -40px !important}

#sideNav a{
	height:40px !important;
	width:40px !important;

	background-image:url(../assets/iconsSocial.png) !important;
	background-repeat: no-repeat;

	background-size:200px 80px !important;
	margin:0 3px !important;
	display:inline-block;
	vertical-align:middle;
}

#sideNav{
	position:relative;
	/*top:0;*/
	top: -53px;
	right:0;
	margin:0 15px;
	float: right;
	z-index: 100;
}

#sideNav ul{
	float:left;
}

#sideNav ul, #mainNav ul{
	display:table;
	position:relative;
	vertical-align:middle;
	margin:0 auto;
	height:60px;
}

#sideNav ul li{
	display:inline-block;
	vertical-align:middle;
	margin:10px 5px 0;
}

#socialSharingNav{
	margin:0 3px;
	display: inline-block;
	width: 40px !important;
	height: 40px !important;
	background-image:none !important;
	overflow: hidden;
	vertical-align:middle;
}

#mobileNav ul
{
	padding-left: 0;
}

#mobileNav img
{
	width:90%;
}

#mobileNav ul li
{
	text-align:center;
}

#mobileNav ul li a
{
	font-family: 'omnesMedium', Arial, Helvetica, sans-serif;
	color: #FFF;
	padding: 10px 0;
	display: block;
	font-size: 1em;
	border-bottom: #fff 1px solid;

}

/*#mobileNav ul
{
	display: inline-block;
	width: 60%;
	vertical-align: middle;
	padding-left: 15px;
}
*/

#mobileNav{
	/*position: relative;*/
	width: 100%;
	max-width: 100%;
	margin: 0;
	left:100%;
    -webkit-transition: 0.2s linear; /* For Safari 3.1 to 6.0 */
    transition: 0.2s linear;
    text-align: center;
}

.mobileNavFormat
{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:0 15px;
	float: left;
	width: 100%;
}

#socialNavMobile .countrySocial a{
	padding:0;
	border:0;
	float:none;
	display:inline-block;
}

#socialNavMobile .countrySocial{
	height:40px;
	padding:10px;
}

#socialNavMobile a{
	height:40px !important;
	width:40px !important;
	background:url(../assets/iconsSocial.png) !important;
	background-repeat:no-repeat !important;
	background-size:200px 80px !important;
	margin:0 3px !important;
	display:inline-block !important;
}

#tmmobile
{
	text-align: center;
	width:100%;
	max-width: 100%;
}

h1 { margin-top: 0; }

body {
    display: none;
}