#switch-lang {
    
    position: absolute;
    top: 10px;
    right: 10px; 
    border: 1px solid #BFBDBD;
    border-radius: 3px;
    padding: 1px;
}

.switch-lang2, .switch-lang-indo, .switch-lang-malay {
    
    position: absolute;
    top: 10px;
    right: 10px; 
    border: 1px solid #BFBDBD;
    border-radius: 3px;
    padding: 1px;
    display: none;
    margin-top: 1%;
}

.switch-lang-indo,
.switch-lang-malay {
  top: 7px;
}

.switch-active{float: left;
    /*border: 1px solid #BFBDBD;*/
    border-radius: 2px;
    background-color: #EFEFEF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 2px;
    }
 .switch-inactive{float: left;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    color: #E2E1E1;
    } 
 .switch-link ,.switch-link:hover,.switch-link:focus{font-family: trebuchet ms;
    font-weight: lighter;
    text-align: justify;
    word-wrap: break-word;
    color: #040404;
    text-decoration: none;
    font-size: 16px;
}
.switch-inactive-link ,.switch-inactive-link:hover{color: #E0DEDE; }
