﻿/*
Theme Name: khmer-press
Theme URI: http://khmer-press.com
Author: Khmerpress
Author URI: http://khmer-press.com
Version: 2.0.2
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#banner-container {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    /* margin-top: 15px; */
    background-color: #161a27;
	text-align: center;	
}

html {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button, input, select, textarea { margin: 0 }
:focus { outline: 0 }
img, video, object {
    max-width: 100%;
    height: auto!important;
}
iframe { max-width: 100% }
blockquote {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    padding: 0 10px 20px 27px;
    position: relative;
    margin-top: 25px;
}
blockquote:after {
    font-family: FontAwesome;
    position: absolute;
    content: "\f10d";
    font-size: 20px;
    width: 50px;
    top: 0;
    left: 0;
}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    margin: 5px 0 20px 0;
    line-height: 1.3em;
    padding: 8px 10px;
    overflow: auto;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFF7A8;
}
address {
    margin: 10px 0;
    font-style: italic;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 5px 7px;
    text-align: center;
    margin-bottom: 15px;
}
sub { font-size: 10px }
sup {
    font-size: 10px;
    top: -7px;
    position: relative;
}
.sticky {

}
.gallery-caption {

}
#gallery-1 img { border: 0!important }
.bypostauthor {

}
.wp-caption-text {
    margin-bottom: 0;
    width: 100%;
}
dl {

}
dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
}
dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    overflow: hidden;
}
/*-[ Framework ]--------------------*/
body {
    font: 14px/23px Noto Sans, sans-serif;
    color: #555;
    background-color: #EBEBEB;
}
::-moz-selection {
    background: #222;
    color: white;
    text-shadow: none;
}
::selection {
    background: #222;
    color: white;
    text-shadow: none;
}
#page, .container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
/* .post-single-content h1, .post-single-content h2, .post-single-content h3, .post-single-content h4, .post-single-content h5, .post-single-content h6 { text-transform: uppercase } */
.post-single-content h2 { font-size: 24px }
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 12px;
    color: #444;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 { line-height: 1.4 }
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
.sub-title { font-size: 12px }
p { margin-bottom: 10px }
a {
    text-decoration: none;
    color: #EE210B;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
a:hover { color: #EE210B }
a:link, a:visited, a:active { text-decoration: none }
/*-[ Main container ]---------------*/
.main-container {
    background: rgba(0, 0, 0, 0.5);
    width: 960px;
    margin: -85px auto -70px;
    clear: both;
    display: block;
    padding: 10px;
    position: relative;
    z-index: 99;
}
#page, .container {
    max-width: 960px;
    min-width: 240px;
}
#page {
    background: #fff;
    padding-top: 25px;
    min-height: 100px;
    float: none;
    clear: both;
    overflow: hidden;
}
#navigation ul .menu-item-has-children > a { padding-right: 30px }
.menu-item-has-children:after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    right: 16px;
    font-size: 14px;
    top: 14px;
    font-weight: bold;
}
#navigation ul li .menu-item-has-children:after {
    top: 9px;
    font-weight: bold;
}
/*-[ Header ]-----------------------*/
body > header {
    float: left;
    width: 100%;
    position: relative;
}
.main-header {
    background: #fff;
    border-bottom: 10px solid #000;
    position: relative;
    float: none;
    width: 100%;
    min-height: 247px;
}
.main-header .container {
    background: #fff;
    width: 960px;
}
#header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
#header h1, #header h2 {
    font-size: 38px;
    float: left;
    display: inline-block;
    line-height: 1;
    position: relative;
    margin-bottom: 0;
}
#logo a {
    text-transform: uppercase;
    float: left;
    line-height: 1;
}
#logo img { float: left }
.logo-wrap {
    margin: 15px 0;
    overflow: hidden;
    float: left;
}
.site-description {
    float: left;
    margin-top: 0;
    max-width: 350px;
    clear: left;
}
#header .header-search { float: right }
#header #searchform {
    max-width: 100%;
    float: right;
    width: auto;
    min-width: 206px;
}
#header #s {
    margin: 0 !important;
    width: 80%;
}
.widget-header {
    float: right;
    max-width: 77%;
    margin-bottom: 10px;
}
.widget-header .textwidget {
    float: left;
    margin-top: 46px;
    border-left: 1px solid #cccccc;
    padding-left: 20px;
}
/*-[ Navigation ]-----------------*/
.secondary-navigation {
    background: #010101;
    display: block;
    float: left;
    width: 100%;
}
.secondary-navigation a {
    color: #555555;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding: 14px 20px;
    text-transform: uppercase;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
.secondary-navigation a .sub {
    font-size: 11px;
    font-weight: normal;
    color: #9B9B9B;
}
#navigation > ul > .current-menu-item > a, #navigation > ul > .current-post-parent > a {
    background-color: #FFFFFF;
    border-top: 0px solid #FF4545;
    color: #FF4545;
    padding: 14px 20px 14px;
}
#navigation {
    margin: 0 auto;
    width: 960px;
}
#navigation ul { margin: 0 auto }
#navigation .menu {

}
#navigation ul li {
    float: left;
    position: relative;
    line-height: 24px;
}
#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited { display: inline-block }
#navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
#navigation ul li li {
    background: #fff;
    border-bottom: 0;
}
#navigation ul ul {
    position: absolute;
    width: 192px;
    padding: 20px 0 0 0;
    padding-top: 0;
    z-index: 400;
    font-size: 12px;
    color: #798189;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #fff;
}
#navigation ul ul li {
    border: 1px solid #EEE;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    background: #fff;
    color: #000;
}
#navigation ul ul a, #navigation ul ul a:link, #navigation ul ul a:visited {
    padding: 9px 42px 9px 18px;
    position: relative;
    width: 130px;
    border-left: 0;
    background: transparent;
    border-right: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    margin: 0;
}
#navigation ul ul li:last-child a { border-bottom: none }
#navigation ul ul {
    opacity: 0;
    left: -999em;
}
#navigation ul li:hover ul {
    left: auto;
    opacity: 1;
}
#navigation ul ul ul {
    top: -1px;
    border-top: 1px solid #eee;
}
#navigation li:hover ul ul, #navigation li:hover ul ul ul, #navigation li:hover ul ul ul ul {
    left: -999em;
    opacity: 0;
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul {
    opacity: 1;
    left: 190px;
}
#navigation .menu [class^="icon-"]:before, #navigation .menu [class*=" icon-"]:before {
    position: absolute;
    top: 15px;
    left: 18px;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
#navigation .menu ul [class^="icon-"]:before, #navigation .menu ul [class*=" icon-"]:before {
    top: 10px;
    left: 16px;
}
#navigation .menu ul [class^="icon-"]:hover:before, #navigation .menu ul [class*=" icon-"]:hover:before { color: #000 }
#navigation .menu [class^="icon-"] > a, #navigation .menu [class*=" icon-"] > a {
    padding-left: 40px!important;
    padding-right: 30px;
}
#navigation .menu ul [class^="icon-"] > a, #navigation .menu ul [class*=" icon-"] > a { padding-right: 20px }
#navigation ul li:before { color: #555 }
/* #navigation ul .current-menu-item:before, #navigation ul li:hover:before, #navigation ul ul li:before { color: #fff } */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after { clear: both }
.clearfix { *zoom: 1  }
a#pull { display: none }
/*-[ Content ]--------------------*/
.article {
    width: 61.4%;
    float: left;
    margin-bottom: 10px;
    padding: 0 3% 0 2%;
}
#content_box {
    float: left;
    width: 100%;
}
.post {
    float: left;
    width: 100%;
}
.single_post {
    background-color: #fff;
    width: 100%;
}
.single_post .post-info span, .single_post .post-info a { font-size: 12px }
.single_post .post-info span { margin-right: 5px }
.single_post .post-info i { color: #9B9B9B }
.single_page {
    background-color: white;
    padding-top: 0;
}
.post-content {
    overflow: hidden;
    clear: both;
}
.post-single-content {
    overflow: hidden;
    clear: both;
}
.readMore {
    font-size: 13px;
    font-weight: 700;
    color: #222;
}
.readMore a { color: #222 }
.frontPost .readMore a {
    color: #000;
    font-size: 12px;
}
.ss-full-width {
    background: white;
    overflow: hidden;
    padding: 0 2%;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.post.excerpt {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    background-color: #fff;
    width: auto;
}
.wp-post-image { float: left }
.bigfeatured-thumbnail {
    float: left;
    max-width: 100%;
}
#bigfeatured-thumbnail {
    float: left;
    max-width: 477px;
}
.featured-thumbnail { max-width: 100% }
#featured-thumbnail {
    float: left;
    margin-right: 2.5%;
    max-width: 250px;
    width: 42.4%;
}
.latestPost #featured-thumbnail { margin-top: 5px }
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
}
.title {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 21px;
}
.single-title {
    padding: 0 0 0 0;
    clear: both;
    margin-bottom: 5px;
}
.title a { color: #222;line-height: 1.6em;}
.page h1.title { padding-top: 0 }
.post-info {
    display: block;
    color: #999;
    font-size: 12px;
    width: 100%;
}
.post-info a { color: #919191 }
.post-info span { margin-right: 0 }
.post-info i { color: #000 }
.related-posts .post-info {
    clear: none;
    float: none;
}
.thecategory { margin-left: 0 }
/**********latest-posts***********/
.cat-posts {
    border-top: 5px solid #FF4545;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.frontTitle {
    font-size: 18px;
    line-height: 22px;
    margin: 5px 0 20px;
}
.cat-posts-1 .frontPost {
    float: left;
    margin-right: 4.2%;
    width: 30.5%;
}
.cat-posts-2 .frontPost {
    float: left;
    margin-right: 5%;
    width: 47.5%;
}
.cat-posts-1 #featured-thumbnail {
    margin-right: 0;
    width: 100%;
}
.post-info-home {
    color: #FF4545;
    float: left;
    font-size: 12px;
    margin: 12px 0;
    width: 100%;
}
.cat-posts .front-view-title { line-height: 1.3 }
.cat-posts-2 #featured-thumbnail {
    margin-right: 0;
    width: 100%;
    max-width: 280px;
}
.latest-posts {
    border-top: 5px solid #FF4545;
    float: left;
    width: 100%;
}
.latestPost .post-info {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
    color: #999;
}
.grid .post-info {
    margin-top: 10px;
    float: left;
}
article header {
    margin-bottom: 11px;
    width: 100%;
}
.single article header { margin-bottom: 10px }
.latestPost {
    border-bottom: none !important;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 25px;
    max-height: 204px;
    overflow: hidden;
    line-height: 0.5em;
}
.latestPost .title {
    clear: none;
    display: block;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.front-view-content { overflow: hidden }
.single_post header {
    width: 100%;
    margin-bottom: 8px;
}
article img.left, article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1em 0.5em 0;
    display: block;
    float: left;
}
article img.right, article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1em;
    display: block;
    float: right;
}
article img.center, article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 1em auto;
    display: block;
}
article img.aligncenter, article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
}
article ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
}
article ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
}
article ul ul, article ol ol, article ul ol, article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
article .iconlist { margin-left: 0 }
article .iconlist li { list-style-type: none }
/*-[ Tab widget ]------------------------------*/
#tabber {
    display: block;
    height: auto;
    margin: 0;
    overflow: hidden;
}
#tabber .inside {
    padding: 0 0 15px 0;
    margin-top: 0;
    border: 0;
}
#tabber ul.tabs {
    height: 40px;
    text-align: center;
    overflow: hidden;
}
#tabber ul.tabs li {
    background: none;
    float: left;
    display: inline;
    font-weight: bold;
    cursor: pointer;
    border-bottom: none;
    width: 50%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 0;
}
#tabber ul.tabs li a {
    background: #E8E7E7;
    color: #999;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    padding: 2px 0 2px 0;
    line-height: 2.6;
    width: 100%;
    border-bottom: 1px solid #E03F00;
    padding-bottom: 1px;
    text-shadow: 0 1px 0 #FFF;
}
#tabber ul.tabs li a.selected {
    margin: 0;
    color: #fff;
    text-decoration: none;
    line-height: 2.6;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24);
}
#tabber ul.tabs li.tab-recent-posts a.selected {

}
#tabber ul.tabs li a:hover {
    color: #222;
    text-decoration: none;
}
#tabber .inside li {
    list-style: none;
    padding: 15px 0 0 0;
    margin: 0;
}
#tabber .inside li:first-child { padding-top: 17px }
#tabber .inside li a {
    line-height: 1.4;
    display: block;
}
#tabber p { margin-bottom: 0 }
#tabber .inside li a:hover {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#tabber .inside li div.info {
    display: table;
    top: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
#tabber .inside li div.info .entry-title { margin-bottom: 0 }
#tabber .inside li .meta {
    display: block;
    font-size: 12px;
    color: #999;
}
#tabber .tab-thumb {
    border: 1px solid #f0f0f0;
    padding: 4px;
    background: #fff;
    float: left;
    display: inline;
    margin: 0px 12px 0px 0px;
}
.post-number {
    position: relative;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    font-weight: bold;
    color: #fff;
    bottom: 22px;
    background: #2DB2EB;
}
#tabber .inside .tabsSep {
    margin-top: 7px;
    width: 100%;
    height: 1px;
    background-color: #e8e5de;
    clear: both;
    float: left;
}
#sidebars #tabber .wp-post-image, footer #tabber .wp-post-image { margin-top: 4px }
/*-[ Tweets Widget ]---------------------------*/
.tweets li { margin-bottom: 15px!important }
/*-[ Custom Nav Widget ]---------------------------*/
.widget_nav_menu [class^="icon-"], .widget_nav_menu [class*=" icon-"] { display: list-item }
.widget_nav_menu [class^="icon-"] > a, .widget_nav_menu [class*=" icon-"] > a { padding-left: 5px }
.widget_nav_menu .sub-menu { margin-top: 8px }
.widget_nav_menu .menu-item-has-children:after { display: none }
/*-[ Text Widget ]---------------------------*/
.textwidget { line-height: 23px }
/*-[ Form Input ]------------------*/
input, textarea, select {
    background: #ddd;
    padding: 8px 12px;
    color: #666;
    border: 1px solid #D8D8D8;
    font-family: inherit;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea {
    overflow: auto;
    resize: vertical;
}
select {
    padding: 6px 10px;
    border-color: #D8D8D8;
}
input:focus, textarea:focus {

}
/*-[ Tables ]--------------------*/
table {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    border: 2px solid #F1F4F6;
}
thead {
    background: #F7F8F9;
    font-size: 14px;
    color: #585F65;
}
table th, table td {
    padding: 7px 15px;
    text-align: left;
}
thead th { padding: 14px }
tbody th {
    font-weight: normal;
    border-bottom: 1px solid #F5F7F9;
}
/*-[ Line ]---------------------*/
hr {
    border: none;
    border-bottom: 1px solid #E5E5E5;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 297px;
    margin: 35px 0;
    clear: both;
    position: relative;
}
/*-[ Search Form ]------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit {
    padding: 13px 0;
    border: 0;
    width: 33%;
    height: 42px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    color: white;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background-color: #FF4545;
    position: absolute;
    right: 0;
    font-weight: bold;
}
.sbutton:hover { background: #010101 }
#s {
    width: 68%;
    color: #aaa;
    background-color: #EEE;
    border: 1px solid #DDD;
    float: left;
    padding: 12px 12px 12px 0;
    text-indent: 10px;
    border-right: 0;
    height: 42px;
}
#searchform fieldset { width: 100% }
.breadcrumb { margin-bottom: 15px }
.no-results h2 { font-size: 16px }
/*-[ Read More ]-------------------*/
.read-more {
    margin: 0 0 0 10px;
    line-height: 1.4em;
    background: none;
    padding: 0;
    font-size: 16px;
}
/*-[ Top Ad in Post ]-------------------------------------*/
.topad {
    margin-bottom: 10px;
    clear: both;
}
/*-[ Bottom Ad in post ]-----------*/
.bottomad {
    float: left;
    clear: both;
    margin-top: 10px;
}
/*-[ Sidebar ]---------------------*/
#sidebars p { line-height: 20px }
.sidebar.c-4-12 {
    float: right;
    width: 31.3%;
    line-height: 20px;
    max-width: 300px;
    padding-right: 2%;
}
.sidebar.c-4-12 a { color: #555 }
#sidebars .wp-post-image, footer .wp-post-image {
    margin-bottom: 3px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}
.widget {
    margin-bottom: 27px;
    float: left;
    clear: both;
    width: 100%;
    overflow: hidden;
}
.sidebar .widget h3 { border-top: 5px solid #FF4545 }
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget li {
    list-style-type: square;
    margin-left: 17px;
    margin-bottom: 7px;
}
.widget h3 {
    color: #444;
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0 15px 0;
    padding-top: 5px;
}
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li, .widget_tabs2 .tab-content li {
    list-style: none!important;
    margin: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: #AAA;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    line-height: 1.4;
}
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p, .widget_tabs2 .tab-content p {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    color: #aaa;
}
.category-posts a, .advanced-recent-posts, .advanced-related-posts a, .related-posts-widget a, .author-posts-widget a, .widget_tabs2 .tab-content a { display: block }
.widget .meta {
    font-size: 13px;
    color: #AAA;
}
.meta-wrap { overflow: hidden }
/*-[ Social Buttons ]--------------------------*/
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit {
    padding: 12px 0 7px;
    overflow: hidden;
    clear: both;
    border: none;
}
.shareit .share-item {
    display: block;
    margin: 0;
    float: left;
    height: 25px;
}
.shareit.top {
    float: left;
    margin-bottom: 10px;
    margin-top: 0;
    width: 100%;
}
.shareit .facebookbtn {
    margin-top: -3px;
    width: 100px;
    height: 28px;
}
.shareit .gplusbtn { width: 85px }
.shareit .stumblebtn {
    margin-top: 1px;
    height: 24px;
}
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons { overflow: hidden }
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 5px 10px;
    padding: 0;
    text-indent: -999em;
}
.social-profile-icons ul li a {
    display: block;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.social-dribbble a { background: url(images/social-dribbble.png) no-repeat }
.social-email a { background: url(images/social-mail.png) no-repeat }
.social-facebook a { background: url(images/social-facebook.png) no-repeat }
.social-gplus a { background: url(images/social-googleplus.png) no-repeat }
.social-linkedin a { background: url(images/social-linkedin.png) no-repeat }
.social-pinterest a { background: url(images/social-pinterest.png) no-repeat }
.social-rss a { background: url(images/social-rss.png) no-repeat }
.social-stumbleupon a { background: url(images/social-stumbleupon.png) no-repeat }
.social-twitter a { background: url(images/social-twitter.png) no-repeat }
.social-youtube a { background: url(images/social-youtube.png) no-repeat }
.social-flickr a { background: url(images/social-flickr.png) no-repeat }
.social-lastfm a { background: url(images/social-lastfm.png) no-repeat }
.social-tumblr a { background: url(images/social-tumblr.png) no-repeat }
.social-vimeo a { background: url(images/social-vimeo.png) no-repeat }
.social-instagram a { background: url(images/social-instagram.png) no-repeat }
.social-behance a { background: url(images/social-behance.png) no-repeat }
.social-foursquare a { background: url(images/social-foursquare.png) no-repeat }
.social-reddit a { background: url(images/social-reddit.png) no-repeat }
/*-[ Footer ]-------------------*/
body > footer .advanced-recent-posts li, body > footer .popular-posts li, body > footer .category-posts li {

}
body > footer .widget li:first-child {
    border-top: none;
    padding-top: 0;
}
.footer-widgets .widget .advanced-recent-posts li {

}
footer .widget li a { color: #666 }
.footer-widgets .widget .advanced-recent-posts li:first-child { padding-top: 0 !important }
.footer-widgets h3 {

}
body > footer {
    overflow: hidden;
    padding: 70px 0 0;
    width: 100%;
}
body > footer .footeText {
    width: 960px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
body > footer .footeText a {
    color: #fff;
    border-bottom: 2px solid #ee3f02;
}
body > footer .widget { padding: 1px 0 0 0 }
body > footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
footer .widget { margin-bottom: 20px }
footer {
    background: #fff;
    border-top: 10px solid #000;
    position: relative;
    overflow: hidden;
    clear: both;
}
footer .container {
    padding: 0;
    width: 960px;
}
footer p { color: #8D8D8D }
.footer-widgets {
    overflow: hidden;
    padding: 95px 0 10px;
    width: 100%;
    margin: 0;
}
.footer-widgets h3 { padding-top: 0 }
.f-widget {
    width: 29%;
    float: left;
    position: relative;
    margin-bottom: 0;
    margin-right: 6.4%;
    color: #8D8D8D;
}
.col4 .f-widget {
    width: 23.5%;
    margin-right: 2%;
}
.copyrights {
    background: #000;
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 12px;
    padding-top: 12px;
    color: #aaa;
}
#copyright-note {
    width: 960px;
    margin: 0 auto;
    clear: both;
}
.postsby { margin-bottom: 25px }
/*-[ Back To Top ]---------------------------*/
.top {
    float: right;
    position: relative;
}
.toplink .icon-chevron-sign-up {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0px;
}
.toplink { padding-right: 27px }
#move-to-top {
    color: #372E2D;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 12px;
    padding: 14px 10px;
    position: fixed;
    right: 26px;
    bottom: 164px;
    transition: all 0.25s linear 0s;
    width: 20px;
    z-index: 1000;
    background: #eee;
}
#move-to-top:hover { background: #010101 }
#move-to-top:not(.filling) {
    opacity: 0;
    visibility: hidden;
}
#move-to-top .icon-chevron-up {
    font-size: 22px;
    position: absolute;
    top: 9px;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
    background-color: #FFF;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
    padding-bottom: 25px;
    clear: both;
    float: left;
    width: 100%;
}
.postauthor p {
    padding-top: 0px;
    margin-top: 0;
    margin-bottom: 20px;
}
.related-posts ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
}
.related-posts h5 {
    line-height: 20px;
    padding-left: 80px;
    color: #919191;
    text-transform: uppercase;
}
.related-posts h3 {
    font-size: 20px;
    margin: 0;
}
.relatedthumb img {
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
}
.related-posts .relatepostli3 {
    margin-right: 0;
    float: right;
}
.relatepostli .post-info a, .relatepostli .post-info .theauthor { font-weight: normal }
.relatedthumb .theauthor { color: #999999 }
.related-posts span {
    clear: both;
    float: left;
}
.related-posts li {
    width: 46%;
    float: left;
    list-style: none;
    margin-right: 8%;
    line-height: 1.4;
}
.related-posts .relatepostli4 { padding-bottom: 0 }
.related-posts a {
    color: #555;
    font-weight: 700;
}
.rthumb {
    float: left;
    margin-bottom: 10px;
}
.rtext {
    display: block;
    margin-top: 10px;
}
.related-posts .last {
    margin-right: 0;
    padding-bottom: 0;
}
/*-[ Post Tags ]---------------------------------*/
.tags {
    margin: 20px 0 0 0;
    width: 100%;
    float: left;
}
.tagtext, .tags a { margin-right: 5px }
/*-[ Author Box ]--------------------------------*/
.postauthor {
    margin: 20px 0 0px 0;
    padding: 0 0 15px;
    min-height: 125px;
    background-color: #fff;
    border-bottom: 1px solid #EEEEEE;
    float: left;
    clear: both;
    width: 100%;
}
.postauthor h4 {
    font-weight: bold;
    font-size: 20px;
}
.postauthor h5 {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 24px;
    text-transform: capitalize;
}
.postauthor img {
    float: left;
    margin: 4px 20px 0 0;
}
.postauthor h4 a { color: #473636 }
#respond h4, .total-comments, .postauthor h4, .postauthor-top { margin-bottom: 10px }
.postauthor-top { margin-bottom: 12px }
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 !important }
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    font-size: 14px!important;
    padding: 2px 10px;
    margin-bottom: 3px;
    float: left;
    margin-right: 3px;
    background: #EE210B;
    color: #FFFFFF!important;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.tagcloud a:hover { background: #272727 }
/*-[ Subscribe Widget ]------------------------*/
.mts-subscribe input[type="text"] {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #eee;
    color: #aaa;
    width: 68%;
    float: left;
    padding: 12px 0;
    text-indent: 10px;
    border-right: 0;
    height: 42px;
}
#mts_subscribe_widget {

}
.mts-subscribe {
    overflow: hidden;
    position: relative;
}
.mts-subscribe input[type="submit"] {
    background: #ED1C2F;
    cursor: pointer;
    color: white!important;
    padding: 13px 0;
    border: 0;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    height: 42px;
    text-align: center;
    width: 33%;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    position: absolute;
    right: 0;
}
.mts-subscribe input[type="submit"]:hover { background: #010101 }
/*-[ Ad Widgets ]------------------------------*/
.ad-125 { max-width: 300px }
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 48%;
}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ Calender Widget ]-------------------------*/
#wp-calendar { margin-bottom: 0 }
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #F1F4F6;
    border-right: 1px solid #F1F4F6;
}
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
/*-[Comments]--------------*/
.total-comments {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    background-color: #fff;
    margin-top: 30px;
    float: left;
    clear: both;
    width: 100%;
}
#respond h4 {
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 19px;
}
#commentsAdd {
    background-color: #fff;
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
#comments .avatar {
    background: #fff;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    outline: 1px solid #ddd;
    padding: 2px;
}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 11px }
input#author, input#email, input#url {
    width: 300px;
    border: 1px solid #ddd;
    background: #eee;
    max-width: 85%;
    margin-right: 10px;
}
input#author, input#email, input#url, #comment {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
#cancel-comment-reply-link {
    color: #EE210B;
    cursor: pointer;
    margin-bottom: -23px;
    text-decoration: underline;
    z-index: 100;
    position: relative;
}
#commentform input#submit, .contactform #submit {
    line-height: 1;
    background-color: #FF4545;
    padding: 11px 25px;
    color: #fff;
    text-decoration: none;
    float: left;
    cursor: pointer;
    display: inline-block;
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#commentform input#submit:hover, .contactform #submit:hover {
    background: #010101;
    color: #fff;
}
.contactform #submit { float: left }
.contactform label { display: block }
.contactform {
    overflow: hidden;
    margin-bottom: 35px;
}
.error { color: red }
.thanks p { color: green }
ol.commentlist {
    margin-left: 0;
    margin-top: 13px;
}
.commentlist li {
    list-style: none;
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 25px 0;
    padding-left: 0;
    padding-bottom: 15px;
    float: left;
    width: 100%;
    position: relative;
}
.commentlist p { margin-bottom: 1em }
.ago {
    color: #aaa;
    font-size: 12px;
}
.fn {
    line-height: 1.375em;
    font-weight: bold;
}
.fn a {
    color: #444;
    font-weight: bold;
    font-size: 15px;
}
.comment-meta { font-size: 12px }
.comment-meta a { color: #444 }
.commentmetadata { overflow: hidden }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.reply {
    margin-top: 0px;
    padding-bottom: 0px;
    float: right;
}
.reply a {
    background: #FF4545;
    float: left;
    padding: 2px 10px 4px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    transition: background 0.25s linear;
}
.reply a:hover { background: #010101 }
#commentsAdd #respond h4 { margin-bottom: 19px }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {
    margin-left: 17%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 83%;
}
.commentlist .children li {

}
.avatar { float: left }
#respond h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
/*-[ Comment Form ]----------------------------*/
#commentform textarea {
    width: 100%;
    border: 1px solid #ddd;
    background: #eee;
    padding: 2%;
    line-height: 25px;
    font-family: inherit;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
}
#commentform p label {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
}
.required {
    color: red;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
.comment-notes { font-style: italic }
/*-[ pagination ]------------------*/
.pagination {
    clear: both;
    overflow: hidden;
    float: left;
    width: 100%;
    margin: 8px 0 10px;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 2.2% 0;
    width: 100%;
}
.pagination ul {
    list-style: none;
    margin: 0;
}
.pagination ul li {
    float: left;
    margin-bottom: 5px;
}
.currenttext, .pagination a:hover, .single .pagination a:hover .currenttext {
    color: #fff;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    padding: 9px 12px;
    background: #EE210B;
}
.pagination a, #load-posts a {
    background: #fff;
    border: 1px solid #ff4545;
    margin: 0 5px 0 0;
    display: inline-block;
    float: left;
    line-height: 1;
    text-decoration: none;
    color: #222;
    padding: 8px 11px;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
#load-posts a:hover {
    background: #222;
    border-color: #222;
}
.pagination a:hover {
    color: #fff;
    padding: 8px 11px;
}
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #EE210B }
.single .pagination a .currenttext, .single .pagination a:hover .currenttext {
    color: #222 !important;
    padding: 0;
    background: transparent;
    margin-right: 0;
}
.single .pagination a:hover .currenttext { color: #fff }
/*-[ AJAX search results ]------------------*/
.widget_search { overflow: visible }
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {
    position: absolute;
    top: 41px;
    left: 0;
    width: 100%;
    background: #EEE;
    z-index: 9;
    border: 1px solid #DDD;
    border-top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    padding-top: 10px;
}
.ajax-search-results-container.loading:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}
ul.ajax-search-results {
    margin: 0;
    margin-top: 0;
    padding: 0;
}
.ajax-search-results li {
    margin: 0;
    display: block;
    list-style: none;
    min-height: 50px;
    padding: 0 10px;
    clear: both;
    margin-bottom: 10px;
}
.ajax-search-results .wp-post-image {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0;
}
.ajax-search-meta {
    margin-top: 0;
    padding: 10px;
    height: 20px;
    font-size: 13px;
}
.ajax-search-meta .results-count {
    float: left;
    color: #aaa;
}
.ajax-search-meta .results-link { float: right }
.ajax-search-results-container .no-results {
    padding: 8px;
    color: #AAA;
    font-style: italic;
}
/*-[ Load More ]-------------------*/
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 3px;
    -webkit-transition: width 0.8s;
    -moz-transition: width 0.8s;
    -o-transition: width 0.8s;
    transition: width 0.8s;
}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts {
    margin-bottom: 10px;
    float: left;
    margin-top: 8px;
    clear: both;
}
#load-posts a.inactive { cursor: default }
/*-[ Misc ]---------------------------*/
pre {
    overflow: auto;
    padding: 15px;
    margin: 15px 0;
    position: relative;
    background: #F5F5F5;
    font-family: monospace;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
pre:before {
    content: "\f121";
    color: #000;
    position: absolute;
    font-size: 18px;
    right: 14px;
    top: 6px;
    font-family: fontawesome;
}
/*-[ Responsive Navigation ]--------------------------------*/
#mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: scroll;
    background: #283744;
    -ms-transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
    transform: translate(-100%,0);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    z-index: 1000;
}
.mobile-menu-active #mobile-menu-wrapper {
    -ms-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    background: #283744;
}
.mobile-menu-active .main-container-wrap {
    -ms-transform: translate(75%,0);
    -webkit-transform: translate(75%,0);
    transform: translate(75%,0);
    position: fixed;
    top: 0;
    width: 100%;
}
#mobile-menu-wrapper .menu {
    background: none;
    display: block;
}
#mobile-menu-wrapper ul li {
    width: 100%;
    display: block;
}
#mobile-menu-wrapper #navigation ul li:hover { background: none }
#mobile-menu-wrapper ul li a, #mobile-menu-wrapper #navigation ul ul a {
    padding: 9px 0;
    width: 100%;
    border: none;
}
#mobile-menu-wrapper #navigation ul ul {
    display: block;
    position: static;
    width: 100%;
    border: none;
}
#mobile-menu-wrapper #navigation ul ul li {
    background: none;
    width: 100%;
}