body {
	border:0; 
	background:#E8DFFF; 
	font:75%/160% "verdana",sans-serif; 
	color:#500000; 
}
a {
	color:#112288;
}
a:hover {
	color:#4477dd;
}
table {
	display:table; 
	border-collapse:collapse; 
	margin:15px 0; 
	padding:0; 
	border:1px solid #a89fbf; 
	font-size:100%;
}
tr {
	display:table-row;
}
th, td {
	display: table-cell; 
	border:1px solid #a89fbf; 
	margin:0; 
	padding:7px; 
	text-align:center;
}
th {
	background:#d8cfef; 
	text-align:center; 
	color:#700000; 
	font-weight:bold;
}
hr {
	display:block; 
	height:1px; 
	margin:8px 0; 
	padding:0; 
	background:#400000; 
	border:0 solid #400000; 
	color:#400000;
	width: 100%;
}
img {
	border:0;	
}
h2 {
	font-size:1.6em;	
}
h3 {
	font-size:1.5em;	
}
h4 {
	font-size:1.2em;	
	font-weight:bold;
}
ol {
	margin:5px 0 5px 20px;
	padding:5px;
	list-style-type:upper-roman;
}
iframe {
	border:0;
	width:100%;	
}

#wrapper{
	margin: 0 auto; 
	width: 1000px;
}
#widetable {
	width:1000px;
	max-width: 1000px;
	table-layout: fixed; 
	text-align: center; 
}
#widetable span{
	display:block; 
	margin:0; 
	padding:0 5px; 
	background:#d8cfef; 
	font-size:10px; 
	text-align:left;
}
#widetable .wraptext{
	overflow:hidden; 
	text-align:left;	
}
#widetable .chk{
	width: 29px;
}
#widetable .sl{
	width: 49px;
}
#widetable .name{
	width:424px; 
	max-width: 424px;
	overflow: hidden; 
	text-align:left;
}
#widetable .size{
	width: 94px;
}
#widetable .dl{
	width: 59px;
}
#widetable .updt{
	width: 118px;
}
#widetable th{
	text-align:center !important;
	padding:7px 0 !important; 
}
#categorytable {
	width: 100%;
	text-align: center; 
	border: 1px solid #a89fbf;
}
#categorytable td{
	border: 1px solid #a89fbf;
}
#countrygroup {
	width: 100%; 
	border: 1px solid #a89fbf;
}
#countrygroup td{
	text-align: left;
}
#filedetails{
	text-align:left;
}
.msg {
	font-weight:bold; 
	font-size:15px; 
	color: red;
}
.footer{
	text-align: center;
}
.footer a{
	margin-right: 15px;	
}
.menubar{
	padding-left: 5px;
	text-align: left;
}
.menubar a{
	margin-right: 10px;	
}
#featurelist {
	margin: 15px 0 25px 0;	
	padding-left: 0;
	list-style: none;
}
#featurelist li{
	padding: 10px 5px 0 30px;
	background-image: url(images/yes.png);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}
#earningsfaq {
	margin: 0 0 25px 0;	
	padding-left: 0;
	list-style: none;
}
#earningsfaq .question{
	padding: 10px 5px 0 25px;
	background-image: url(images/q.png);
	background-repeat: no-repeat;
	background-position: 0 .5em;
	font-weight: bold;
}
#earningsfaq .answer{
	padding: 0px 5px 5px 25px;
	background-image: url(images/a.png);
	background-repeat: no-repeat;
	background-position: 0 .5em;
}
#earningsfaq .answer:first-letter{
	font-size:1.5em;
}