/*上方選單*/

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,STHeiti,'Microsoft JhengHei',微軟正黑體,sans-serif;
}

a {color:#5d5d5d;}

.main_info {position: relative;}

.main_info.groupnetc {}

.main_info img {
    width: auto;
    height: auto;
    max-width: 100%;
    /*max-height: 100%;*/
}


.main_info span.list_nav{
    display: inline-block;
    float: left;
    margin-right: 0.5%;
    font-size: 15px;
}

.main_info span.list_nav:last-child {
    margin-right: 0;
}

.list_nav a.infotitle {
    background-color: #F5F5F5;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 7px 0;
	color:#6b6b6b;
}

.list_nav span.h9 { display:block;height:9px;}
.down_arrorw {
    display: none;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #FF6694;
    margin: 0 auto;
}

.list_nav:active a.infotitle, .list_nav:hover a.infotitle  {    background-color: #FF6694;  color: #fff;}
.list_nav:hover .down_arrorw { display:block; }

.main_info.shopstore .list_nav:active a.infotitle,
.main_info.shopstore .list_nav:hover a.infotitle,
.main_info.shopstore .list_nav a.infotitle.on:link,
.main_info.shopstore .list_nav a.infotitle.on:visited   {
	background-color: #ed4545;
}
.main_info.shopstore .down_arrorw {
	border-top: 9px solid #ed4545;
}

.main_info.groupnetc .list_nav:active a.infotitle,
.main_info.groupnetc .list_nav:hover a.infotitle,
.main_info.groupnetc .list_nav a.infotitle.on:link,
.main_info.groupnetc .list_nav a.infotitle.on:visited   {
	background-color: #ffc90e;
}
.main_info.groupnetc .down_arrorw {
	border-top: 9px solid #ffc90e;
}

.list_nav a.infotitle.on:link, .list_nav a.infotitle.on:visited  {    background-color: #FF6694;  color: #fff;}
.down_arrorw.on { display:block; }



/*調整*/

.h450p {height: 450px;}
.w12p, .block_8 {width: 12.06%;}
.w16p, .block_6 {width: 16.25%;}
.w19p, .block_5 {width: 19.6%;}
.w24p, .block_4 {width: 24.6%;}
.w68p {width: 68%;}
.w70p {width: 73.4%;}

.pt10 {padding-top:10px;}



/*內容區共用架構*/

.boros_block {min-width: 960px;border: 1px solid #eee;margin: 5px 0 10px;overflow: auto;background: #fff;padding-bottom: 15px;    float: left;}
.boros_block section {}
.boros_block section.right_part {width: 290px;padding: 25px 10px 0 0;}


/*情報區*/	

.boros_block section.left_part {
    width: 65.5%;
    height: 160px;
    padding: 20px 0 0 20px;
    overflow: hidden;
}
.boros_block h3, .boros_block article {    
    /*float: left;
    width: 67%;*/
	display: inherit;
	}
	
.boros_block h3 {
    font-size: 23px;
    margin-bottom: 10px;
    max-height: 60px;
    overflow: hidden;
    line-height: 1.3;
	font-weight: 600;
}

.boros_block h3 a:link, .boros_block h3 a:visited {color:#000;}
.boros_block h3 a:hover {color: #ff6694;}

.boros_block article {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(107, 107, 107, 0.79);
    max-height: 85px;
    overflow: hidden;
} 
.boros_block span {    
    float: right;
    width: 205px;
    height: 155px;
    /*border: 1px solid #eee;*/
	text-align: center;
    line-height: 152px;
    overflow: hidden;
	margin-left: 20px;
	}


.boros_block section.right_part h4 {     
    color: #ffffff;
    PADDING: 5PX;
    BACKGROUND: #FF6694;
    display: initial;
    font-size: 15px;
	}
.boros_block section.right_part span {
    width: 285px;
	  height: inherit;
    font-size: 13px;
    overflow: hidden;
    border: 0px;
    float: left;
    line-height: 1.5;
    text-align: left;
    margin: 5px 0 0 0;
}
.boros_block section.right_part a:link, .boros_block section.right_part a:visited {
    display: inherit;
    overflow: hidden;
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    width: 100%;
    margin-top: 5px;
    max-height: 20px;
    font-size: 15px;
    line-height: 1.3;
}
.boros_block section.right_part p a:link, .boros_block section.right_part p a:visited {
    display: inline;
    color: #ff6694;
    font-size: 13px;
}
.boros_block section.right_part p a:hover {
    color: #999;
}


/*商店區*/	
.boros_block section.right_part.shop h4 {    /*font-size: 20px; */}
.boros_block section.right_part.shop h4 img { 
    width: 35px;
    margin-top: -5px;
}

.recommend_box .info span.name, .recommend_box .info span.address, .recommend_box .info span.tag {
    width: 90%;
    float: left;
    padding-left: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 0px;
    background: rgba(0,0,0,0);
    line-height: 1;
    height:16px;
}

.recommend_box li.info {
    overflow: auto;
    margin: 5px 0;
    padding: 3px 0 7px 0;
    border-bottom: 1px solid #eee;
}

.recommend_box li.info:last-child {
    border-bottom: 0px ;
}

.recommend_box .info span a:link, .recommend_box .info span a:visited {
	width: 95%;
	margin-top: -2px;
    display: inline-block;
}

.recommend_box .info span.name a:link, .recommend_box .info span.name a:visited {
    font-size: 15px;
}

.recommend_box .info span.address a:link, .recommend_box .info span.address a:visited {
    font-size: 13px;
    color: #999;
}

.recommend_box .info span.tag a:link, .recommend_box .info span.tag a:visited {
    font-size: 13px;
    color: #FF2F68;
    margin-right: 5px;
    height: 13px;
}

button.map {
    background: url(http://statics.iguang.tw/img/index/event/map.png);
}

button.tag, button.tag:hover  {
    background: url(http://statics.iguang.tw/img/index/event/tag_2.png)  !important;
    margin-right: 0 !important;
    background-color: rgba(0,0,0,0);
    border: 0;
}

button.map, button.tag {
    width: 12px;
    height: 12px;
    padding: 0px;
    display: inline-block;
    border: 0;
}


.boros_block section.left_part.shop {
height: inherit;
    padding: 16px 0 0 16px;;
    width: 66%;
}
.boros_block section.left_part.shop div {
    width: 31.3%;
    margin-right: 3%;
    margin-bottom: 12px;
	min-height: 205px;
}

.boros_block section.left_part.shop div:nth-child(3n) {
    margin-right: 0;
}

li.pic {
	height: 155px;
    line-height: 150px;
    border: 1px solid #eee;
    text-align: center;
    overflow: hidden;
}
li.pic img {
	    height: 100%;
    width: inherit;
    max-width: inherit;
}
li.subtitle {
    line-height: 1.5;
    height: 23px;
    color: #6B6B6B;
    font-size: 15px;
    overflow: hidden;
    padding: 5px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li.ranknrept {}

li.ranknrept span {
    border: 0px;
    height: 15px;
    width: 50%;
    font-size: 13px;
    line-height: 1;
    color: #FF6694;
    margin-left: 0;
}

li.ranknrept span a:link {}

li.ranknrept span:first-child {
    float: left;
    text-align: left;
	margin: 0;
}
li.ranknrept span:nth-child(2) {
	float: right;
    text-align: right;
}

li.ranknrept span a:link, li.ranknrept a:visited {color: #FF6694;}

li.ranknrept span.star, li.ranknrept span.star a:link, li.ranknrept span.star a:visited  {
	color: #FBD407;
    font-size: 15px;
}


/*每日好康*/

.noborder_frame {width: 100%; position: relative;}
.noborder_frame ul {    float: left;}
.noborder_frame ul li { float: left;}
.noborder_frame ul li.maintitle a:link, .noborder_frame ul li.maintitle a:visited {color: #5d5d5d;}
.noborder_frame ul li.maintitle a:hover { color: #ff6694;}

.noborder_frame ul:first-child {position: relative;padding: 10px;border: 1px solid #eee;border-bottom:0px;width: 65.7%;overflow: auto;    margin-right: 10px;}
.noborder_frame ul:first-child li.pic {width: 200px;height: 200px;margin-right: 16px;line-height: 196px;overflow: hidden;}
.noborder_frame ul:first-child li.subtitle {
	 width: 64%;
	 padding: 0 0 0;
    font-size: 13px;
    color: #999;
}
.noborder_frame ul:first-child li.subtitle a:link, .noborder_frame ul:first-child li.subtitle a:visited { color: #ff6694;}

.noborder_frame ul:first-child li.maintitle {width: 64%;font-size: 23px;margin-bottom: 10px;max-height: 60px;overflow: hidden;line-height: 1.4;font-weight: 600;	}

.noborder_frame ul:first-child li.price {position: absolute;left: 228px;bottom: 9px;}
.noborder_frame ul:first-child li.price span:nth-child(2) {line-height: 30px;font-size: 28px;font-family: Tahoma,Geneva,sans-serif,\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei;color: #FF004D;}
.noborder_frame ul:first-child li.price span:first-child {    font-size: 12px;
    display: block;
    line-height: 1.5;
    color: #B9B9B9;
    margin-right: 8px;}
.noborder_frame ul:first-child li.price span:last-child {/*display: block;*/} 
.noborder_frame ul:first-child li.price span p {display: inline-block;color: #6B6B6B;text-decoration: line-through;}
.noborder_frame ul:first-child li.price span i {font-style: inherit;font-size: 12px;}
.noborder_frame ul:first-child li.price span a:link { padding: 6px;background-color: #333; color: #fff;border-radius: 2px;margin-right: 5px;}

.noborder_frame ul:first-child li.countdown {position: absolute;bottom: 10px;right: 10px;background-color: #e0e0e0;color: #ffffff;padding: 5px 10px;border-radius: 30px;vertical-align: middle;     width: 34%;
    font-size: 18px;
    line-height: 2.5;
	    font-weight: 600;}
.noborder_frame ul:first-child li.countdown img {width: 35px;}

a.product_val:link, a.product_val:visited {    font-size: 14px;    color: #999;}

.noborder_frame ul.bby {border-bottom:1px solid #eee !important;}

.noborder_frame ul.s_block {    width: 300px;    height: 107px;    background-color: rgb(247, 247, 247);    overflow: hidden;    margin-bottom: 5px;}
.noborder_frame ul.s_block img {}
.noborder_frame ul.s_block li{}
.noborder_frame ul.s_block li.pic {    width: 105px;    height: 105px;    line-height: 104px;    background-color: #EEE;}
.noborder_frame ul.s_block li.subtitle, .noborder_frame ul.s_block li.maintitle, .noborder_frame ul.s_block  li.price   {       width: 50%;    overflow: hidden;  margin-left: 5px;  font-size: 14px;}
.noborder_frame ul.s_block li.subtitle {  height: 1.8em;color: #FF6694;font-size: 13px;padding: 5px 0 0px 0;margin: 0 0 -2px 5px;}
.noborder_frame ul.s_block li.maintitle {    height: 3em;    margin-bottom: 5px; width:180px;}
.noborder_frame ul.s_block li.price {   color: #FF004D;    font-weight: bold;}
	

/*團購與招商*/

.boros_block_armor {
overflow: auto;
    width: 100%;
    padding: 5px 0 10px;
}
.boros_block_armor div {
    float: left;
    border: 1px solid #eee;
    width: 49%;
    margin-right: 1%;
	margin-bottom: 10px;
}
.boros_block_armor div:nth-child(even) {    float: right;margin:0;}

.boros_block_armor div li {}
.boros_block_armor li.pic {
height: 260px;
    line-height: 260px;
    border: 0px;
}
.boros_block_armor li.pic img {
    height: 260px;
    width: inherit;
    max-width: inherit;
}
.boros_block_armor li.title {
    padding: 8px 10px;
    margin-bottom: 0;
    width: 94%;
    height: 18px;
    line-height: 1.5;
    overflow: hidden;
}
.boros_block_armor li.title a:link, .boros_block_armor li.title a:visited  {
    display: block;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.boros_block_armor li.info {    padding: 8px 16px;}
.boros_block_armor li.info span a{
	color:#ff6694;
}
.boros_block_armor li.price {
padding: 5px 16px;
    background-color: rgb(249, 247, 247);
    border-top: 1px solid #EEE;
}
.boros_block_armor li.price i { font-size: 11px;font-style: normal;}

.boros_block_armor li span { font-size: 13px; color: #aaa;}
.boros_block_armor li.price span:first-child {font-size: 20px;font-family: Tahoma,Geneva,sans-serif,\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei; color: #FF004D;}
.boros_block_armor li.price span:nth-child(2) {line-height: 24px;}
.boros_block_armor li span:nth-child(2) { float: right;}
.boros_block_armor li span:nth-child(2) a:link, .boros_block_armor li span:nth-child(2) a:visited  {color: #FF004D;}


.com_r_part { width: 300px; margin-left: 1%;}
.com_r_part .main {
	    border: 1px solid #eee;
}
.com_r_part li.sub_info span {float:left;}
.com_r_part li.sub_info {
    border: 1px solid #eee;
    border-top: 0px;
    overflow: auto;
}

.com_r_part li.sub_info span.pic {
    width: 77px;
    display: inline-block;
    text-align: center;
}
.com_r_part li.sub_info img {
	width: 23px;
    padding: 37px 0;
}

.com_r_part li.sub_info span:nth-child(2) {float:left;width:50%;margin-top: 20px;}

.com_r_part li.sub_info span:nth-child(3) {
float: left;
    width: 70%;
    height: 3em;
    font-size: 13px;
    color: #AAA;
    overflow: hidden;
}

.com_r_part li span a img {}

/*八色選單*/


.main_info.c1 .list_nav a.infotitle.on:link, 
.main_info.c1 .list_nav a.infotitle.on:visited,
.main_info.c1 .list_nav:active a.infotitle, 
.main_info.c1 .list_nav:hover a.infotitle
{
    background-color: #F59B9B;
}

.main_info.c2 .list_nav a.infotitle.on:link, 
.main_info.c2 .list_nav a.infotitle.on:visited,
.main_info.c2 .list_nav:active a.infotitle, 
.main_info.c2 .list_nav:hover a.infotitle
{
    background-color: #FF8F66;
}

.main_info.c3 .list_nav a.infotitle.on:link, 
.main_info.c3 .list_nav a.infotitle.on:visited,
.main_info.c3 .list_nav:active a.infotitle, 
.main_info.c3 .list_nav:hover a.infotitle
{
    background-color: #FFC766;
}

.main_info.c4 .list_nav a.infotitle.on:link, 
.main_info.c4 .list_nav a.infotitle.on:visited,
.main_info.c4 .list_nav:active a.infotitle, 
.main_info.c4 .list_nav:hover a.infotitle
{
    background-color: #9CA56E;
}

.main_info.c5 .list_nav a.infotitle.on:link, 
.main_info.c5 .list_nav a.infotitle.on:visited,
.main_info.c5 .list_nav:active a.infotitle, 
.main_info.c5 .list_nav:hover a.infotitle
{
    background-color: #66CFFF;
}

.main_info.c6 .list_nav a.infotitle.on:link, 
.main_info.c6 .list_nav a.infotitle.on:visited,
.main_info.c6 .list_nav:active a.infotitle, 
.main_info.c6 .list_nav:hover a.infotitle
{
    background-color: #8F9CC7;
}

.main_info.c7 .list_nav a.infotitle.on:link, 
.main_info.c7 .list_nav a.infotitle.on:visited,
.main_info.c7 .list_nav:active a.infotitle, 
.main_info.c7 .list_nav:hover a.infotitle
{
    background-color: #7A7CB1;
}

.main_info.c8 .list_nav a.infotitle.on:link, 
.main_info.c8 .list_nav a.infotitle.on:visited,
.main_info.c8 .list_nav:active a.infotitle, 
.main_info.c8 .list_nav:hover a.infotitle
{
    background-color: #AD89CA;
}


.main_info.c1 .down_arrorw {border-top: 9px solid #F59B9B;}
.main_info.c2 .down_arrorw {border-top: 9px solid #FF8F66;}
.main_info.c3 .down_arrorw {border-top: 9px solid #FFC766;}
.main_info.c4 .down_arrorw {border-top: 9px solid #9CA56E;}
.main_info.c5 .down_arrorw {border-top: 9px solid #66CFFF;}
.main_info.c6 .down_arrorw {border-top: 9px solid #8F9CC7;}
.main_info.c7 .down_arrorw {border-top: 9px solid #7A7CB1;}
.main_info.c8 .down_arrorw {border-top: 9px solid #AD89CA;}	
	
	
