#flake {z-index: 1999;    }

#content.w1200 {width: 1220px;}

#content.w1200 .leftmenu_230 {
    float: left;
    width: 228px;
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid #eee;
}

#content.w1200 .maincontent970 {float: left;}

.menu_box {position: relative;border-bottom: 1px dotted #ffebf1;padding: 10px 0 10px;margin: 0 10px 0;
/*font-family : 'Ms Gothic','Meiryo', serif;*/
}

.menu_box:last-child {border-bottom:0px ;}

.menu_box h3 {font-size: 15px;font-weight: bold;padding: 5px 0;}
	
.menu_box ul {
    display: none;
    position: absolute;
    width: 366px;
    top: -1px;
    right: -387px;
    z-index: 999;
    background-color: #fff;
    padding: 9px 10px 10px;
    border-top: solid #eee 1px;
    border-right: solid #eee 1px;
    border-bottom: solid #eee 1px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.menu_box ul.last {    top: inherit;    bottom: -1px;}

.menu_box ul a:link {
    font-size: 14px;
    padding: 5px 5px 0 0;
    color: #777;
    line-height: 1.8;
}

.menu_box ul a.mtc:link, .menu_box ul a.mtc:visited, .menu_box ul a.mtc:active {font-weight: bold;color: #ff6694;}
.menu_box ul a:hover {color: #ff6694;}

.menu_box:hover ul {display:block;} 

.menu_box nav {width: 189px;}

.menu_box nav a:link:nth-child(even), .menu_box nav a:visited:nth-child(even) {color: #555 ;}
.menu_box nav a:link, .menu_box nav a:visited  {font-size: 14px; padding-right: 3px; color: #ff6694;    line-height: 1.8;}

.menu_box span.arrorw {position: absolute;top: 60px;right: 0;color: #FF6694; /*font-family: serif;*/}


.menu_box:hover nav a:link, .menu_box:hover nav a:nth-child(even) {}
.menu_box:hover nav a:hover {color: #ff6694 !important;}


footer.w1200 {    
    float: left;
    width: 100%;
	min-width:1220px;/*for ipad*/
}
.banner-230 {
    width: 230px;
    background-image: url('../../../img/index/o2o/banner-230.jpg');
    background-repeat:no-repeat;
    height:365px;
    background-size:contain;
    position:relative;
}
.btn-mask{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 100%); 
    position: absolute;
    width: 230px;
    height: 123px;
    bottom: 0;
}
.banner-230 a{
    display: block;
    width: 97px;
    height: 84px;
    float: left;
    border-radius: 3px;
    background-color: #5b8de9;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
    bottom: 16px;
    left: 12px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 10px;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);

}
.banner-230 a.add-btn {
    left:116px;
    background-color:#ff6694;
}
.banner-230 a.add-btn:hover{
    background-color:#FF598B;
}
.o2o_icon {
    background-image: url('../../../img/index/o2o/o2o-icon.png');
    background-repeat: no-repeat;
    width: 37px;
    height: 42px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    content: '';
}
.o2o_icon.add-icon{
    background-position:-63px 0;
}
.banner-230 a:hover{
    background-color:#4D86EC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
}
.banner-230.banner-ad-album {
    background-image: url('../../../img/index/event/ad_album_snap.jpg');
}