div#adv {
    font-size: 11px;
    padding-left: 35px;
    position: absolute;
    top: -4px;
    z-index: 1;
}

div#advb {
    font-size: 11px;
    padding-left: 35px;
    position: absolute;
    top: -4px;
    z-index: 1;
}

div#frameImageContainer {
    background-image: url("Landing_Page/images/bannerright-frame_01.png");
    background-repeat: no-repeat;
    height: 439px;
    margin: 0;
    padding: 0;
    width: 306px;
}

div#frameImageContainer_en_offer {
    background-image: url("Landing_Page/images/bannerright-en-frame_02.png");
    background-repeat: no-repeat;
    height: 439px;
    margin: 0;
    padding: 0;
    width: 306px;
}

div#frameLeft
{
    background-image: url("Landing_Page/bannerdown-frame-small.png");
    position: relative;
    bottom: 0;
}

#buy-link
{
    text-align: center;
    color: #133C8A;
    font-size: 90%;
    display: block;
}

#buy-button
{
    background-image: url("../images/buttons/button_buy_blank.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    text-shadow: #404040 1px 1px 1px;
    font-size: 13pt;
    font-family: Helvetica, Arial, sans;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-left:42px;
    line-height: 76px;
}

#download-button
{
    background-image: url("../images/buttons/button_download_blank.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    text-shadow: #404040 1px 1px 1px;
    font-size: 12pt;
    font-family: Helvetica, Arial, sans;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    padding-left:42px;
    line-height: 76px;

}

a.buy-btn
{
    text-shadow: #404040 1px 1px 1px;
    font-size: 17px;
    font-family: Helvetica, Arial, sans;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-left: 40px;
    display: block;
    line-height: 76px;
    background-image: url("../images/buttons/button_buy_blank.png");
    background-position: center;
    background-repeat: no-repeat;
}

a.buy-btn-twolines
{
    text-shadow: #404040 1px 1px 1px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-left: 40px;
    padding-top: 15px;
    display: block;
    height: 76px;
    background-image: url("../images/buttons/button_buy_blank.png");
    background-position: center top;
    background-repeat: no-repeat;
}

p.p-two-lines
{
    margin: 0;
    padding: 0;
}

a.dwnld-btn
{
    text-shadow: #404040 1px 1px 1px;
    font-size: 17px;
    font-family: Helvetica, Arial, sans;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding-left: 40px;
    display: block;
    line-height: 76px;
    background-image: url("../images/buttons/button_download_blank.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.squareFrame
{
    width: 257px;
    height: 280px;
    text-align: center;
    display: block;
    background-image: url("Landing_Page/images/offer_frame.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
}
   
div.squareContent
{
    padding: 8px;
}

iframe#advert
{
    opacity: 1.0;
    margin-top: 0;
    margin-left: 0;
}
