body {
  background-color : white;
  font-size : 14px;
  font-family : Helvetica, Arial, sans-serif;
  line-height : 1.2;
}

div#ckRules {
  display: none;
}

div#contentToggle
{
  font-size: 11px;
}

div#contentToggle a
{
  color: #133c8a;
}

div#contentToggle h1 {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}

div#contentToggle p {
  font-size: 11px;
  line-height: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 35px;
}

.alert {
  text-shadow: none;
  background-color: #e6edf6;
  border: 2px solid #133c8a;
  border-radius: 4px;
  clear: both;
  color: #5f5f5f;
  margin: 0 auto 5px;
  letter-spacing: 0;
  line-height: 21px;
  padding: 15px;
}

.alert-dismissable {
  padding-right: 10px;
  padding-top: 10px;
}

.alert .close {
  opacity: 1;
  position: static;
  text-shadow: none;
  color: #ffffff;
  line-height: 21px;
  width: 27px;
  height: 27px;
  background-color: #db2e2e;
  border: 2px solid #133c8a;
  border-radius: 4px;
}

button.close {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  border-radius: 2px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
}

.alert-dismissable .close {
  margin-top: 0px;
}

table {
  empty-cells:hide;
}

.textlinks a
{
  margin-bottom:10px;
  color:#133c8a;
}

h1 {
  color : #133c8a;
}

h5 {
  background-color:#133C8A;
  color:white;
  font-size:1em;
  font-weight:bold;
  height:25px;
  line-height:25px;
  padding-left:4px;
  vertical-align:middle;
}

img.boxshot {
  float : left;
  margin-right : 20px;
  margin-bottom : 10px;
}

div.language-selector {
  float:right;
  clear:right;
  height: 30px;
}

div.language-selector select {
  padding:2px;
  border:1px solid #A5ACB2;
  background:#FFF;
  color:#5f5f5f;
  font-weight:normal;
  display:inline;
  font-size:90%;
  margin-top:7px;
  width:161px;
}


div.language-selector td {
  padding:0px;
}

.tx-srlanguagemenu-pi1 fieldset legend {
  display: none;
}

.tx-srlanguagemenu-pi1 fieldset label {
  display : inline;
}

div.search {
  padding-right: 2px;
  float: right;
  clear:right;
  height: 30px;
}

#searchfield {
  padding: 2px;
  width: 155px;
  border: 1px solid #A5ACB2;
  background: #fff;
  color: #5f5f5f;
  font-weight: normal;
  font-size: 90%;
}

img.logo {
  float: left;
  border:none;
}

div#header {
  height : 60px;
  margin-bottom : 0px;
  padding : 15px;
  background-image : url("../images/common/header_back.gif");
  border : 6px solid #133c8a;
  color:#5f5f5f;
  font-size:85%;
}

div#content {
  width: 800px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

div#main {
  float: left;
  width: 550px;
  padding: 5px;
}

div#panelright {
  float: right;
  width: 220px;
}

div#panelright img {
  vertical-align: middle;
}

div#buttons {
  padding-top:15px;
}

div#slideshow {
  width: 220px;
  height: 150px;
  padding: 3px; 
}


div#images img {
  display:none;
  margin-left:50px;
  margin-right:auto;
}

div#footer {
  clear: both;
}

div#footer ul {
  list-style : none;
  margin : 0 0 0 0px;
}

div#footer li {
  float : left;
  width:18%;
  text-align:center;
  padding : 5px;
}

div#footer a {
  color : #fff;
}

div#footer p {
  font-size : 11px;
  text-align:right;
  color : #b0b0b0;
}

div#footer p a {
  color:#5f5f5f;
}

div#navbar {
  background-color : #133c8a;
}

div.clear {
  clear : both;
}

p.panelright {
  text-align: center;  
  margin: 0 0 40px 0;
}

p.panelright a {
  color:#133C8A;
  font-size:90%;
  margin-bottom:0px;
}

div#text ul li
{
    font-size:90%;
    margin-bottom:10px;
}

span.detail
{
    font-style:italic;
}


/* Design for Pre-Downloadpage Template Object - 2 columns for ads and a footer for the download button*/
div#leftAdvert
{   
    width:395px;
    float:left;
    clear:left;
}

div#rightAdvert
{
    width:395px;
    float:right;
    clear:right;
}

div#adFooter
{
    clear: both;
}

.error
{
    color:#F10909;
    font-weight:bold;
}

/* design for downloadpage forms */
.csc-mailform-field {
  margin-bottom: 10px;
}

.csc-mailform-field input
{
  width: 300px;
  color: #999;
  padding: 3px;
}

.csc-mailform-field input.checkbox {
  width: 30px;
}

input.submit_button
{
    width: 180px;
    padding: 2px;
    color: #000;
}

input.FTF_submit_button
{
    background:url("../images/buttons/findthatfilebutton.png");
    border:none;
    width:149px;
    height:46px;
    left:8px;
    position:relative;
    top:-4px;
}


div#c118 /* Container 118 with the "NOTE" content under the mailaddress formfield for free support offer */
{
    font-size:80%;
    color:#5f5f5f;
}

div#downloadlink-div {
   margin-top:20px; 
}

/* Abandonment Offer */
a.abandonmentButton {
      text-shadow: #404040 1px 1px 1px;
      font-size: 12pt;
      font-family: Helvetica, Arial, sans;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      text-align: center;
      display: block;
      background: url("../images/buttons/button_download_blank.png") no-repeat center;
      padding-left:30px;
      line-height: 76px; /*  height:76px; */
}

div#topPlacedInstaller
{
  padding:0px;
  margin:0px;
}

div#topPlacedInstaller table, div#installerlisting table
{
  margin-left:0px;
}

div#topPlacedInstaller td, div#topPlacedInstaller table, div#installerlisting td, div#installerlisting table
{
  text-align:left;
  border:none;
  margin-bottom:0px;
  padding:2px;
  font-size:95%;
}

div#topPlacedInstaller th
{
  background:white;
  border:none;
  border-bottom:2px solid #cecece;
  width:22%;
}

div#installerlisting th
{
  display:none;
  width:22%;
}

div#installerlisting td
{
  width:22%;
}

div#installerlisting a, div#topPlacedInstaller a
{
  color:#2F60BC;
  font-weight:bold;
}

/* Search Form on the Downloadpage */
table#searchInstallerFormTable
{
  width:100%;
  font-size:9pt;
  color:#5f5f5f;
}

table#searchInstallerFormTable td.submit input
{
  background:#eee;
  border:1px solid #cecece;
  padding:3px;
}

table#searchInstallerFormTable td.submit input:hover
{
  background:#e0e0e0;
}
