@charset "gb2312";
body{ font-family:"\5FAE\8F6F\96C5\9ED1"; position:relative; color:#000; }
div,span,ul{ margin-left:auto; margin-right:auto;  font-size:12px; text-align:center;  }
ul,li,textarea, p, dl, body,h1,h2,h3,h4,h5,h6,ol{ list-style:none; margin:0; padding:0; }
img{ border:none; }
a{ text-decoration:none; font-family:"\5FAE\8F6F\96C5\9ED1"; color:#000; }

.cl,.left{ float:left; }
.cr,.right{ float:right; }
.ot:after{ content:""; height:0; visibility:hidden; clear:both; display:block; }
.bold{ font-weight:bold;}
.listul{_float:left;}
.listul li {float: left;_display: inline;overflow: hidden;}
.fl{ float:left;}
.fr{ float:right;}
.gray{ color:#999;}


/*标题里的导航*/
.bigtitle_nav{float:right; margin-top:17px; padding-right:20px; max-width:480px;overflow:hidden; height:28px; line-height:28px; color:#E8E8E8; _width:480px; }
.bigtitle_nav a{ padding:0 10px; white-space:nowrap; display:inline-block; color:#000;}



/*各标题的链接*/
.title_href{ float:left; width:30%; height:50px; display:block; z-index:1;}
.more_href{float:right; width:35px; height:25px; display:block; margin-top:25px;}
/*各栏目居中main*/
.main_center{ width:966px; margin:0 auto; clear:both; overflow:hidden;}

/*各栏目的小标题*/
.smtitle{  margin-bottom:12px; height: 23px;}
.smtitle h3{ float:left; font-size:17px; font-weight:normal;}
.smtitle a{ float:right;}

/*鼠标经过图片*/
.pics,.picso{ position:relative; float:left; overflow:hidden; }
.pics a .cover,.picso .cover{ position:absolute; bottom:-105px ; left:0; background:#000; z-index:50; color:#FFF; width:86%; line-height:18px; padding:10px 0; font-size:14px; margin:3% 7%; }
/*图片下有文字*/
.piccover{ position:relative; height:100%;}
.piccover .covers{ position:absolute; bottom:0; left:0;height:30px;background:#000; z-index:50; color:#FFF; line-height:30px;filter:alpha(opacity=80);
-moz-opacity:0.8; opacity:0.8; font-size:14px; width:100%; overflow: hidden;}


/*列表样式*/
.bordersolid { border-bottom:1px solid #ccc;}
.border_dash li{border-bottom:1px dashed #ccc;}
.e_list_gray  .liststyle_none{ background:none;}
.e_list_gray li,.e_list_triangleb li,.e_list_black li,.e_list_dblue li{background:url(../images/list_style.png) no-repeat ;}
.e_list_gray li{ background-position:-8px -8px; overflow:hidden; line-height:28px; height:28px; padding-left:10px;text-align:left;}
.e_list_triangleb li{overflow:hidden; line-height:28px; height:28px; padding-left:10px;background-position:-8px -50px; text-align:left;vertical-align: bottom;}
.e_list_black li{background-position:-8px -66px; overflow:hidden; line-height:28px; height:28px; padding-left:10px;text-align:left;}
.e_list_dblue li{background-position:-8px -115px; overflow:hidden; line-height:23px; height:23px; padding-left:10px;text-align:left;}


.head_main_nav_bg{ width:100%; height:44px; background:#bd0271 url(../images/logo_wrap_bg.jpg) repeat-x bottom; }
.head_main_nav{ width:980px; height:36px; margin:0 auto;   }
.head_main_nav li{ float:left; height:19px; line-height:19px; margin-left:14px; padding-right:12px; margin-top:8px; display:inline-block; background:url(../images/head_li.gif) no-repeat right 2px; }
.head_main_nav li a{ font-size:14px; color:#feb2df; } 
.head_main_nav li.ch{ width:78px; padding-right:0; background:url(../images/head_li_ch_bg.gif) no-repeat;  }
.head_main_nav li.ch a{ color:#fee2f3; }
.head_main_nav li.try{  padding-right:0; background:none; }
.head_main_nav li.login{ float:right; padding-right:0; background:none; }
.head_main_nav li.login a{ color:#fff200; }
.head_main_nav li.regist{ float:right; padding-right:0; background:none; }
.head_main_nav li.regist a{ color:#fff200; }

.head_logo_wrap{ width:980px; height:110px; padding-top:6px;  }
.head_logo_wrap .logo{  float:left; width:198px; padding-top:18px; text-align:right; }
.head_logo_wrap .banner{ width:746px; float:right; text-align:left; }

.head_ch_nav_bg ,.head_mt_nav_bg,.head_fs_nav_bg,.head_qg_nav_bg,.head_yl_nav_bg{ width:100%;  height:37px; background:#000; overflow:hidden;}
.head_mt_nav{background:url(../images/mt_head_bg.jpg) no-repeat right top;width:980px; height:37px; margin:0 auto;}
.head_ch_nav .cr ,.head_mt_nav .cr,.head_fs_nav .cr,.head_qg_nav .cr,.head_yl_nav .cr{ width:300px; line-height:normal; margin-top:11px; }
.head_ch_nav .cr li  ,.head_mt_nav .cr li ,.head_fs_nav .cr li,.head_qg_nav .cr li,.head_yl_nav .cr li{ width:auto; float:left; line-height:normal; padding:0 10px; background:url(../images/list_style_redc.gif) no-repeat left 23%; }
.head_ch_nav .cl{}
.head_ch_nav { width:980px; height:37px; background:url(../images/head_ch_nav_right_bg.jpg) no-repeat right top; }
.head_qg_nav,.head_fs_nav,.head_yl_nav{ width:980px; height:37px;background:url(../images/head_ch_nav_right_bg.jpg) no-repeat right top;margin:0 auto;}
.head_ch_nav li ,.head_mt_nav li,.head_fs_nav li,.head_qg_nav li,.head_yl_nav li{ padding:0 15px; height:37px; line-height:35px; float:left; background:url(../images/head_ch_nav_li.gif) no-repeat right 50%; }
.head_ch_nav li a  ,.head_mt_nav li a,.head_fs_nav li a,.head_qg_nav li a,.head_yl_nav li a{ color:#c2c2c2; font-size:18px; }
.head_ch_nav li.hov ,.head_mt_nav li.hov,.head_fs_nav li.hov,.head_qg_nav li.hov,.head_yl_nav li.hov{ background:#252525; }
.head_ch_nav .cr ,.head_mt_nav .cr,.head_fs_nav .cr,.head_qg_nav .cr,.head_yl_nav .cr{ width:300px; line-height:normal; margin-top:11px; }
.head_ch_nav .cr li  ,.head_mt_nav .cr li ,.head_fs_nav .cr li,.head_qg_nav .cr li,.head_yl_nav .cr li{ width:auto; float:left; line-height:normal; padding:0 10px; background:url(../images/list_style_redc.gif) no-repeat left 23%; }
.head_ch_nav .cr li.nobg  ,.head_mt_nav .cr li.nobg,.head_fs_nav .cr li.nobg,.head_qg_nav .cr li.nobg,.head_yl_nav .cr li.nobg{ background:none;  }


/*头部的图片播放*/
.m_w_qg_bg{ }
.sq_bg{ background-color:#e1e1e1;}
.fs_bg{ width:auto; background:url(../images/fs_bg.jpg) no-repeat center top;}
.mt_bg{ width:auto; background:url(../images/mt_main_wrap_bg.jpg) no-repeat center top;} /*美体的背景图*/
.m_w_bg{ width:auto; background-color: #fff;  }
.m_w{ width:980px; margin:auto; background:#fff; padding-bottom:80px; }
.m_w_1{ width:966px; margin:auto; padding-top:10px;  }
.m_w_1_left{ width:680px; float:left; }
.main_flash{ width:680px;  float:left; }
.main_flash .bigpic{ width:680px; height:390px; float:left; overflow:hidden; position:relative; }
.main_flash .bigpic .bigpic_list{ }
.main_flash .bigpic .bigpic_list li{ float:left; width:680px;  height:390px;}
.main_flash .bigpic .bigpic_list li .pic{ width:680px; height:390px; }
.main_flash .bigpic .bigpic_list li .cover{ background:#000;height:80px; position:absolute; bottom:0; z-index:10; width:680px; left:0; }
.main_flash .bigpic .bigpic_list li .cover p{ color:#FFF; text-align:left; line-height:25px; padding:0 20px;}
.main_flash .bigpic .bigpic_list li .cover p.title{ font-size:22px; line-height: 35px; height: 35px; overflow: hidden; }
.main_flash .bigpic .bigpic_list li .cover p.title a{color: #fff;}
.main_flash .bigpic .bigpic_list li .cover p.intro{ line-height: 17px; height: 34px; overflow: hidden; text-indent: 2em;}
.main_flash .nav_control{ position:relative; width:680px; height:100px; clear:left; overflow:hidden; }
.main_flash .nav{ height:100px; position:absolute; top:0; left:0;  margin-top:3px;}
.main_flash .nav li { float: left; width:165px; height:90px; margin-right:5px; padding-top:5px;_margin-right:3px;}
.main_flash .nav li.active{ background:url(../images/nav_selected.gif) no-repeat top center;}
.main_flash .nav li.active img{ border:1px solid #000;}
.main_flash .nav li img{ width:165px; height:90px; border:1px solid #bcbdc3;}
.main_flash .nav_control .left_btn ,.main_flash .nav_control .right_btn{ width:29px; height:33px; position:absolute; z-index:50; top:33px; cursor:pointer;}
.main_flash .nav_control .left_btn{ background:url(../images/nav_left_btn.gif) no-repeat;left:0px;}
.main_flash .nav_control .right_btn{ background:url(../images/nav_right_btn.gif) no-repeat;right:0px;}

.m_w_1_right{ width:270px; float:right; }
.m_w_1_right_1{ width:270px; height:340px; float:left; background:#f4f4f4; }
.search_form{ width:254px; height:24px; background:url(../images/search_form_bg.gif) no-repeat; margin-top:4px; }
.search_form .sear_txt{ width:220px; float:left; height:20px; line-height: 20px; border:none; margin-top:1px; text-indent:0.8em; _height:18px; _border:1px solid #FFF; _line-height:20px; border-left: 2px solid #eee;}
.search_form .sear_btn{ width:30px; height:24px; background:none; border:none; float:right; font-size:0; color:#FFF; }
.m_w_1_right_1 .scon_1{ width:250px; height:250px; padding:1px; border:1px solid #e2e2e2; margin-top:4px; }
.m_w_1_right_1 .scon_1 .scon1_pic img{ width:148px; height:148px;}
.m_w_1_right_1 .scon_1 .scon2_pic  img{ width:140px; height:150px;}
.m_w_1_right_1 .scon_2{ width:270px; height:42px; margin-top:8px; }
.m_w_1_right_1 .scon_2 li{ width:120px; line-height:20px; text-align:left; float:left; display:inline-block; padding-left:12px; }
.m_w_1_right_title_1{ width:270px; height:50px; float:left; background-position:-696px 0;}
.m_w_1_right_2{  float:left; text-align:left; line-height:22px; background:#f4f4f4; padding:8px 0; overflow:hidden; margin:3px 0; height:105px; width: 100%; }
.m_w_1_right_2 a{ padding:0 12px; display:inline-block; }
.m_w_1_right_3{ width:268px; border:1px solid #e2e2e2; margin-top:17px; float:left; padding-bottom:12px; }

.main14_mid{ float:left; width:310px; margin-left:15px; overflow: hidden; height: 500px; _display:inline;}
.main14_list{margin-top:-16px; zoom:1; position: relative; }
.main14_list li.ot{ margin-top:16px; height: 100%;}
.main14_list li .main14_pic{ float:left; margin-right:10px;}
.main14_list li .main14_pic img{ padding:3px; border:1px solid #eee; width:105px; height:105px;}
.main14_list li .main14_list_rig,.main14_list_rig{  text-align:left; }

.etp_title .nav{  width:350px; float:right; height:22px; margin-top:9px; line-height:22px;}
.etp_title .nav li{ float:left; width:115px;  height:22px; text-align:center;margin:0 -5px;display:inline;}
.etp_title .nav li a{background:url(../images/etp_navbg.gif) no-repeat center;float:left;width:115px;  height:22px; top:0; left:0;}
.etp_title .nav li a:hover{width:115px;position:relative; color:#FFF;}

/*图集*/
/*香氛美图*/
.mr_fm_title { background-position:0 -400px;}
.mr_fm_left ,.mt_fa .main_left{ float:left; border-right:1px solid  #D5D5D5;}
.mr_fm_mid,.mt_fa .main_mid{ float:left; width:270px; border-right:1px solid  #D5D5D5;}
.mr_fm_right,.mt_fa .main_right{ float:left; width:341px;}
.pictures1 img{ width:350px; height:500px;}
.pictures2 img{ width:270px; height:300px;}
.pictures3 img{ width:270px; height:200px;}
.pictures4 img{ width:150px; height:150px;}
.pictures5 img{ width:190px; height:150px;}
.pictures6 img{ width:340px; height:350px;}
.pictures3 ,.mt_fa .main_mid .pictures3{ border-top:1px solid  #D5D5D5;}
.pictures4 ,.mt_fa .main_right .pictures4{ border-bottom:1px solid  #D5D5D5;  border-right:1px solid  #D5D5D5;}
.pictures5 ,.mt_fa .main_right .pictures5{ border-bottom:1px solid  #D5D5D5;}


.main5_right { float:right; width:270px;}
.main5_right .pic{ float:left; width:110px; height:110px; margin-bottom:10px;}
.main5_right .pic img{ width:108px; height:108px; padding:1px; border:1px solid #eee;}
.main5_right .pro_intro{ float:right; width:140px; text-align:left;}
.main5_right .pro_intro .pro_title{ font-size:14px; line-height:25px; height: 50px; overflow: hidden;}
.main5_right .pro_intro .pro_info{ color:#5d5d5d; line-height:20px; height: 60px; overflow: hidden;}
.main5_right .lists{  clear:both; margin-bottom:10px ;}
.main5_right .point ,.hotpoint_list{ width:270px; overflow:hidden; text-align:left;height: 150px;}
.main5_right .point  a ,.hotpoint_list a{ display:inline-block; white-space: nowrap; text-align:center; padding:4px 8px; margin:0 8px 4px 0; color:#fff; background: #000;}




/*友情链接和联系我们*/
.m_w_lc_bg {  background:#f4f4f4; border-top:1px solid #ddd; width:100%;  height:200px; _position:relative; clear:both;}
.m_w_lc{margin-top:20px; clear:both; margin:0 auto; width:966px; }
.m_w_lc_title { background:url(../images/mr_titles.png)  no-repeat 0 -528px; width:966px; margin:10px auto; height:60px;  text-indent:-9999px; margin-top:-45px;_position:relative;  }
.m_w_lc .friendly{ width:660px; float:left;padding:20px 0; overflow:hidden; height:100px;background:#f4f4f4; margin:1px; border:1px solid #FFF;}
.m_w_lc .friendly li{ display:inline-block; width:110px; float:left; line-height:25px; height:25px;}
.m_w_lc .contact{ width:230px; float:right;  padding:20px 30px;background:#f4f4f4;margin:1px; border:1px solid #FFF; }
.m_w_lc .contact p{ line-height:25px; text-align:left;}



.footer_bg{ background:#333;  } 
#footer{ height:123px; clear:both; line-height:30px; color:#CCC;text-align:center; padding-top:27px;   width:978px; margin-left:auto; margin-right:auto;}
#footer *{  color:#8f8e8e; }
#footer a{  margin-left:12px; }


/*tab切换*/
.w_tab .tab_bd_con{ display:none; overflow:hidden; margin:0; width:100%;  }
.w_tab .tab_bd .current{ display:block;}


.m_w_1_right_2 a{ background:url(../images/list_1.jpg) no-repeat right center; overflow: hidden; height: 18px; margin-bottom: 4px;}
.bigtitle_nav a{background:url(../images/list_1.jpg) no-repeat right center; overflow: hidden; }

.m_w_lc_bg{ height:auto; padding-bottom:16px; }
.m_w_lc .contact{padding: 0 30px;  border:none;  }
.m_w_lc .friendly{ padding-bottom: 30px;   padding-top:0; height:auto; border:none; border-right:1px solid #fff; }
.m_w_lc .friendly li{ text-align:left; }
