body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin:0px;
	padding:0px;
}

/*--------------------------------> Styled Select <---------------------------------*/
.immo-styled-select {
	overflow: hidden;
	background-color:#FFF;
	background-image: url("../img/freccia-select-immo.png");
	background-repeat:no-repeat;
	border: 1px solid #CCC;
	border-radius: 4px;
	position: relative;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
}

.immo-styled-select select {
	background: transparent;
	overflow: hidden;
	padding-bottom: 5px;
	padding-top: 5px;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	filter: alpha(opacity=0);
	opacity: 0;
}

.immo-styled-select.focus {
	outline: 0;
	outline: thin dotted \9;
	border-color: #129FEA;
}

.immo-styled-select select:focus {
	outline: none;
}

.immo-select-label {
	position: absolute;
	padding: 5px 0 5px;
	text-indent: 5px;
	font-size: .8em;
}
form.immo-form{
	margin:0;
	padding:0;
	border:0;
	text-align:justify;
}
form.immo-form .immo-styled-select {
	background-position: 92% center;
	border: 1px solid #BFBFBF;
	border-radius: 0;
	box-shadow: 0 2px 4px -3px rgba(0, 0, 0, 0.4) inset;
	display: inline-block;
	*display:inline;
	*zoom:1;
	*margin-right:4px;
	vertical-align: top;
	line-height: 16px;
	height: 29px;
	padding: 0;
	width: 82px;
}

form.immo-form .immo-styled-select select {
	height: 28px;
	padding: 0;
	width: 100%;
}
form.immo-form .immo-styled-select .immo-select-label {
	color: #555555;
	font-size: 1em;
	height: 17px;
	overflow: hidden;
	padding-bottom: 0;
	top: 1px;
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
	width: 100%;
}