﻿.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.leftpane {padding-bottom:20px; clear:both;}

	/*   HOME SLIDER   */

    #slideshow_container{/* required settings position: absolute;*/ height:283px; overflow: hidden; width: 659px; padding: 0px 0 0 0; position:absolute}/*height: 250px;*/

	/*root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and not for this element.*/

    .items {/* this cannot be too large */width: 320000px; /*position: absolute;*/}
		.slideshowbanner {height: 230px;}
		.mc15.leftpane  {float:left;}/*height: 300px;*/
    div.slideshow_content {float: left; width: 660px;}/*height: 250px;*/
	.mc15 .corners	{ width: 660px; position:relative;height:283px;}/* height: 250px;position: relative;*/
	.HomeSliderNav {float: left;}
	.mc15 .slideshow_container	{float:left;}
	.mc15 .slide_T	{font-family: Georgia; font-size:21px; font-weight:normal; padding: 0 0 15px 0; display: block; letter-spacing:-1px;}
	.mc15 .slide_T a:link,.mc15 .slide_T a:visited{ color:#333333; font-weight: bold;}
	.mc15 .prev-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-left-nav-active.png);  width: 28px; position:absolute; bottom:0px; left:404px;}
	.mc15 .next-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-right-nav-active.png);  width: 28px; position:absolute; bottom:0px; left:436px;}
	.mc15 .prev-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-left-nav-not-active.png)}
	.mc15 .next-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-right-nav-not-active.png)}

	.mc15 .slideshowbanner .left	{width:390px; height:244px; float:left;}
	.mc15 .slideshowbanner .left img {width:390px}
	.mc15 .slideshowbanner .right	{width:250px; height:260px; float:left; padding-left:15px;}
	.mc15 .slideshowbanner .right .full-date	{ font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#999; padding:0 0 8px 0;}
	.mc15 .slideshowbanner .right .part-body		{line-height:20px;font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000;}
	.mc15 .slideshowbanner .right .view-more-container a	{ font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#32789b; padding:8px 0 0 0; display: block;}
	
div.RCcolumn			{width:300px; margin-left:10px;}
div.RCcolumn.artcl.catttl	{font-size:16px; font-family: Georgia, "Times New Roman", Times, serif; color:#333; clear:both; display:block; padding:10px 0px 5px 0px; border-top: 4px solid #EE3D3B;}
div.RCcolumn.artcl		{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; padding:12px 0; border-top:1px solid #ccc; width:660px;}
div.RCcolumn.artcl a		{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; padding:10px 0;}
div.RCcolumn.artcl .MorePh	{margin: 0 5px 0 0;}
div.RCcolumn.artcl.txt		{width:660px; font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#000; padding:10px 0; border:0;}
div.RCcolumn.artcl.txt a	{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#000; padding:10px 0; border:0;}
div.RCcolumn.artcl.img,
div.RCcolumn.artcl.img img 	{width:270px; border-top:0; padding-top: 0;}
div.RCcolumn.artcl.ttl 		{font-size:17px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; clear:both; display:block;}
div.RCcolumn.artcl.mrimgs	{width:350px; font-size:15px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; clear:both; display:block;border:0; padding:0;}
div.RCcolumn.artcl.com		{border:0;}

h3{
 margin: 0;
 padding: 0;
 font-weight: normal;
 font-family: Trebuchet MS;
 font-size:13px;
 text-decoration:none;
}	
div.column3			{width:190px; }
div.column3.artcl.catttl a	{font-size:16px; font-family: Georgia, "Times New Roman", Times, serif; color:#333; clear:both; display:block; padding:5px 0px 5px 0px; letter-spacing:-1px; border-top:2px solid #117099;}
div.column3.artcl.catttl        {border-top:none; padding:0px;}
div.column3.artcl               {border-top:1px solid #ccc; font-size:13px; font-family: Trebuchet MS; color:#32789b; padding-top:10px; padding-bottom:10px;}
div.column3.artcl h3		{color:#32789b;}
div.column3.artcl a		{font-size:13px; font-family: Trebuchet MS; color:#32789b; line-height:16px;font-weight:normal;}
div.column3.artcl .MorePh	{margin: 0 5px 0 0;}
div.column3.artcl.txt		{font-size:13px; font-family: Trebuchet MS; color:#333; padding:4px 0; border:0; line-height:16px;}
div.column3.artcl.txt a		{font-size:13px; font-family: Trebuchet MS; color:#000; padding:10px 0; border:0;}
div.column3.artcl.img,
div.column3.artcl.img img 	{width:190px; height:118px; border:none; padding:0 0 5px 0;}
div.column3.artcl.ttl 		{font-size:17px; font-family:  Trebuchet MS;  color:#32789b; clear:both; display:block;}
div.column3.artcl.mrimgs	{font-size:17px; font-family: Trebuchet MS; color:#32789b; clear:both; display:block;border:0;padding: 2px 0 0;line-height: 19px; font-weight:bold;}
div.column3.artcl.com		{border:0; color: #999; padding:0px 0 10px 0; background: url(images/home/comment.png) no-repeat; padding-left: 20px; }
div.column3.artcl .updated	{ color: #EE3D3B; font-style:italic; font-size:13px; padding: 0px 5px 0px 0px; float: none; margin: 5px 0 0 0;}

.column3-1,
.column3-2,
.column3-3 	{border-right:1px dotted #ccc; width:190px; padding:0 20px 0 20px; height: 457px;}

.column3-3	{border-right:none; padding:0 0 0 20px ;}
.column3-1	{padding:0 20px 0 0px;}

div.Fapopsifull					{width:660px;}
div.Fapopsifull.artcl.catttl	{font-size:13px; font-family: Trebuchet MS; color:#333; clear:both; display:block; padding:10px 0;border-top:2px solid #32789b;}
div.Fapopsifull.artcl a			{font-size:13px; font-family: Trebuchet MS; color:#32789b; padding:10px 0; border-top:1px dotted #000; }
div.Fapopsifull.artcl			{font-size:13px; font-family: Trebuchet MS; color:#32789b; padding:10px 0;}


div.Fapopsifull.artcl img		{float:left;}
div.Fapopsifull.artcl .MorePh	{margin: 0 5px 0 0;}
div.Fapopsifull.artcl.txt		{font-size:13px; font-family: Trebuchet MS; color:#000; padding:10px 0; border:0; line-height:20px;}
div.Fapopsifull.artcl.txt a		{font-size:13px; font-family: Trebuchet MS; color:#000; padding:10px 0; border:0; line-height:20px;}
div.Fapopsifull.artcl.img		{width:640px; position: relative; border:1px solid #ccc; padding:10px; float:left; margin: 0 0 10px 0; }
div.Fapopsifull.artcl.img img 	{width:640px;}
div.Fapopsifull.artcl.ttl 		{font-size:17px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; clear:both; display:block;}
div.Fapopsifull.artcl.mrimgs a	{font-size: 26px; font-family: Georgia, "Times New Roman", Times, serif; color:#333;display: block; border: 0; padding: 5px 0 10px 0;
line-height: 28px;}/* clear: both;  font-family: 'Open Sans Condensed', sans-serif; */
div.Fapopsifull.artcl.mrimgs img { margin:4px 8px 0 0;}
div.Fapopsifull.artcl.com		{border:0;}
div.Fapopsifull .updatedArcl	{padding:5px; background:#009898; float: right; position: absolute; bottom: 10px; right:10px; color:#FFF; font-style:italic; font-size:14px}

div.Fapopsifull .updatedArcl-home {padding:5px; background:#009898; float: right; position: absolute; bottom: 0px; right:0px; color:#FFF; font-style:italic; font-size:14px; margin:0;}

div.Fapopsifull.artcl.more		{float: left; width: auto; margin: 0 15px 0 0; padding:0;}
div.Fapopsifull.artcl.com		{ background:url(images/home/comment.png) no-repeat 0 0px; padding-left: 20px; padding-top:0;}

div.Fapopsiartclall					{width:660px; border-top:2px dotted #ccc; clear:both; float:left; padding:30px 0}
.row.first div.Fapopsiartclall		{border: none;}
.row first                              {font-weight:bold;}

div.Fapopsiartcl.catttl		{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#333; clear:both; display:block; padding:10px 0;border-top:2px solid #32789b;}
div.Fapopsiartcl			{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; padding: 4px 0 0 0;}/*padding:30px 0 30px 0;*/
div.Fapopsiartcl a			{font-size:22px; font-family: 'Open Sans Condensed', sans-serif; color:#32789b; padding:10px 0; line-height: 26px;}
div.Fapopsiartcl .MorePh	{margin: 0 5px 0 0;}

div.Fapopsiartcl.txt a		{ padding:0;}		
div.Fapopsiartcl.txt		{font-size:16px; font-family: Georgia, "Times New Roman", Times, serif; color:#000;  border:0;float:left; width:370px; line-height:20px;padding:0;}/*padding: 0 10px 20px 10px;*/
div.Fapopsiartcl img 		{width:260px; float:left; padding: 0 10px 0 0;}/*padding: 0 10px 0 0;*/
div.Fapopsiartcl.ttl 		{font-family: Trebuchet ms; color:#32789b; float:left; width:390px; padding:0px 0 10px 0; font-size:17px;}/*padding:10px 0;*/
div.Fapopsiartcl.ttl a 		{font-family: Trebuchet ms; color:#32789b; float:left; width:380px; padding:0;line-height:25px;}/*padding:15px 0 0 10px*/
Fapopsiartcl.ttl h3       {font-family: Trebuchet ms;} 
div.Fapopsiartcl.mrimgs		{font-family: 'Open Sans Condensed', sans-serif; color:#32789b; border:0; padding:0; float:left;font-size:17px; }
div.Fapopsiartcl.artcl.com		{border:0;}
.data .row.first .Fapopsiartclallnoimage	{border-top:0 none}
div.Fapopsiartclallnoimage				{width:660px; border-top:1px dotted #000; clear:both; float:left; padding:20px 0 0 0;}
div.Fapopsiartclallnoimage .Fapopsiartcl.txt		{ width:660px; padding: 0 0 20px 0; line-height:20px; padding:0 0px 20px 0;}
div.Fapopsiartclallnoimage .Fapopsiartcl.ttl,
div.Fapopsiartclallnoimage .Fapopsiartcl.ttl a 		{ width:660px; padding:0;}
div.Fapopsiartclallnoimage .Fapopsiartcl.ArtclAuth	{ color:#666; font-size:13px; font-style:italic; padding: 0px 0 4px 0;}
div.Fapopsiartclallnoimage .Fapopsiartcl.ArtclDt	{color:#999; font-style:italic; padding:15px 0 5px 0;}

.updatedArcl {background: #32789b; color: #fff; font-style: italic; font-size: 10px; padding: 2px 5px; float: left; margin: 5px 0px 0px;}

.column6-all				{border-top:2px solid #333; margin:10px 10px; padding:10px 0;}
div.column6					{width:145px;}
div.column6.artcl.catttl	{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#333; clear:both; display:block; padding:0 0 0px 0; border: 0;}
div.column6.artcl		{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#333; padding:10px 0; line-height:20px; /*border-bottom:1px solid #CCC;*/}
.row.first div.column6.artcl,
.row.first div.column6.artcl { }/*border:0;*/
div.column6.artcl a			{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#333; padding:5px 0; line-height:18px; }
div.column6.artcl .MorePh	{margin: 0 5px 0 0;}
div.column6.artcl.txt		{font-size:13px; font-family: Georgia, "Times New Roman", Times, serif; color:#000; padding:10px 0; border:0;}
div.column6.artcl.img, div.column6.artcl.img img 	{width:145px; height:100px;}
div.column6.artcl.ttl 		{font-size:17px; font-family: Georgia, "Times New Roman", Times, serif; color:#32789b; clear:both; display:block;}
div.column6.artcl.mrimgs	{font-size:17px; font-family: 'Open Sans Condensed', sans-serif; color:#32789b; clear:both; display:block;border:0; padding:0;}
div.column6.artcl.com		{border:0;}

.column6-1,
.column6-2,
.column6-3,
.column6-4,
.column6-5,
.column6-6 	{border-right:2px dotted #CCC; width:145px; padding:0 10px 0 10px; height:590px}

.column6-6	{border-right:none; padding:0 0 0px 10px ;}
.column6-1	{padding:0 10px 0 0px;}
.mc275		{border-top:2px solid #4990B2; margin-top: 10px; padding: 10px 0 20px 0;}

.ltstnews 			{ padding-left:10px;}
.latest .ltstnews.tpttl		{ font-size:16px; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; color:#EE3D3B; clear:both; display:block; border-top: 2px solid #117099; padding:6px 0px 5px 0px; letter-spacing:-1px; }/*padding:15px 0 0 0;*/
.latest .ltstnews.timeonly	{font-size:13px; font-family:Trebuchet MS; color:#666; float: left; padding: 0px 0px 10px 0px;}
.latest .ltstnews.ttl,		
.latest .ltstnews.ttl a		{font-size:13px; font-family:Trebuchet MS; color:#006699;  padding: 4px 5px 0px 0px; line-height:16px;}
.latest .ltstnews.ttl a		{border:none;}
.latest .ltstnews.ttl,		
.latest .ltstnews.ttl h3	{font-family:Trebuchet MS;}
.latest .latest-news-container	{background-color:#fcfcfa; height: 385px;overflow: auto; /*background-color:#FFF;*/}
/*.Home .latest {height:435px;}*/
.celeb-container {height: 400px; overflow: auto; width:312px;}
.celeb-container .RCcolumn.artcl {width:278px;}
.latest .more-news {background-color:#fcfcfa; font-weight:bold;}
.latest .row {border-bottom: 1px solid #ccc;}

.apopsi_cont .data {height:288px; overflow: auto; width:300px;}

.more-news a			{color: #EE3D3B; display:block; margin-left:10px;}
.more-news 		{padding:10px 15px 20px 15px; font-size:13px; font-family:Trebuchet MS; /*background-color:#FFF;*/ }/*border-top: 1px dotted #666666;margin: 0 0 10px 0;*/
.more-newsHome 	{padding:10px; border-top: 1px dotted #666666; margin: 0 0 10px 0;}
.Home .more-news	{padding:10px 0px 7px 0px; }
.sectionhomevertall			{text-align:center; margin:0 10px; padding:10px 0; border-bottom: 1px solid #CACAA0;}
.last .sectionhomevertall	{border:none;}

.par-section					{background:#F7EFD7; float:right; padding: 15px 0 0 0; margin: 0 7px;}
.par-section .ltstnews			{/*width:210px;*/ margin:0 15px; border:none;}
.par-section .ltstnews.tpttl	{ text-align:center; background:#dcbd5e; color:#fff; padding:5px 0; font-family:Georgia, "Times New Roman", Times, serif; font-size:19px; font-weight:normal; }
.par-section .sectionhomevert	{padding:0px; border:none;}
.sectionhomevert.ttl a, .sectionhomevert.ttl a:visited			{color:#333333;font-weight:bold;font-family:Trebuchet ms; font-size:14px; padding:5px 0 5px 0; line-height:20px; display: block;}
.sectionhomevert.txt			{font-family: Trebuchet MS; font-size:13px; color:#333; line-height:20px;}


.rightpane		{width:300px;  float:left;margin-bottom: 20px;}


.mc627 			{background: url(images/psych/top.png) left top no-repeat; float: right; margin-bottom:20px;}
.tv-odigos-section	{background: url(/Templates/images/psych/tv-guide.png) no-repeat center 15px #FFE6FF; float:right; padding:70px 10px 15px; margin:7px 7px 0 7px; width: 266px; height:580px;}
.tv-odigos-bottom	{background: url(images/psych/bottom.png) left bottom no-repeat; }/*bottom: 10px; position: relative;*/
.RCcolumn.tvOdigosBody		{ width:266px; text-align:center; margin:10px; font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; color:#333; padding: 0 0 15px; border-bottom:2px dotted #9933cc; line-height:18px}
.RCcolumn.tvOdigosBody a	{}
.RCcolumn.tvOdigosTTl	{ width:266px; text-align:center; margin:10px; padding: 15px 0 0px 0;}
.RCcolumn.tvOdigosTTl a	{ font-family:"Times New Roman", Times, serif; font-size:17px; color:#333; font-weight:bold;}
div.RCcolumn.tvOdigosDesc	{ width:266px; text-align:center; margin:10px; font-size:13px; color:#333; padding:5px 0;}

.RCcolumn.tvOdigosimg	{ width:266px; text-align:center; margin:10px;}
.RCcolumn.tvOdigosimg img	{ width:260px;}

.row.last .RCcolumn.tvOdigosBody	{border:none;}

.ekdil-article-text	{}
.ekdil-article-body	{}


.videoMain					{ padding:0 0 5px 0;}
.videoMain .VideoTitle		{font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#006699; padding: 0 10px 5px 0;}
.videoMain .VideoTitle a	{font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#006699; padding: 0;}
.videoMain .VideoBody		{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 0 0 10px 0;}
.videoMain .VideoBody a		{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 0;}
.VideoLeft img				{ width:300px;padding: 0 0 10px 0;}
.VideoRight	{}
.videoThumb .VideoTitle			{font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 0 10px 0 0;}		
.videoThumb .VideoTitle	a		{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#006699; padding: 0;}		
.videoThumb .VideoBody			{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 0 10px 0 0;}
.videoThumb .VideoBody a			{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding:7px 7px 0 0; display:block;}
.videoThumb .VideoLeftTh		{ float:left;}
.videoThumb .VideoLeftTh img	{width:120px; padding: 0 10px 0 0;}
.videoThumb			{border-top: 1px solid #ccc; clear: both; padding: 15px 0; margin:0; height: 70px;}
.videoThumb.top			{border-top:none; padding:0 0 25px 0;}
.youtubettl			{border-top:2px solid #32789b; padding:5px 0px 3px 0px; letter-spacing:-1px; color:#EE3D3B;}

.videoCont-in .row					{padding: 15px 20px 15px 0; display: block; width: 150px; float:left; height:200px;}
.videoCont-in .row img				{ padding:0 0 10px 0; width: 150px; height: 90px;}
.videoCont-in .list-article-title	{font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#006699; padding: 0 10px 10px 0; cursor: pointer;}
.videoCont-in .list-article-body	{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 10px 10px 0 0;}

.mc1859 .videoThumb .VideoLeftTh img	{width:135px; padding: 0 10px 0 10px;}
.mc1859 .videoThumb .VideoTitle	        {font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 10px 10px 0 0;}
.mc1859 .videoThumb .VideoLeftTh        {margin-top: 10px;}


.Hapopsi.Artcl		{font-family:"Georgia", Times New Roman, Times, serif; padding:15px 0;  font-size:14px; overflow:auto; border-bottom:1px solid #AFC2C6;}
.last .Hapopsi.Artcl	{border-bottom:0px solid #AFC2C6;}
.Hapopsi.ArtclAuth		{font-size: 13px; color: #888; font-style: italic; margin: 0 0 5px 0;}
.Hapopsi.ArtclTTl		{font-size:14px; color:#32789B; clear:both;}
.Hapopsi.ArtclTTl a		{font-size:13px; color:#32789B; clear:both; font-family: Georgia, "Times New Roman", Times, serif; text-decoration:none;}
li .Hapopsi.ArtclTTl	{color:#333; margin-left:-5px; font-weight:bold;}
.Hapopsi.RCont ul   	{color:#cc0000; margin:0; padding:3px 0 0 15px;}
.Hapopsi .RC.ArtclDt	{color: #999; margin: 7px 4px 0px 0px; font-size: 13px; font-style: italic;}

.Hapopsi.TTL		{font-family:"Georgia", Times New Roman, Times, serif; font-size:18px; background: url(images/corner-lt.png) top right no-repeat #D5DFE1; padding:15px 15px 0 15px;  text-transform: uppercase ; color:#333;}
.Hapopsi.TTL .border	{height:2px; background:#333; margin-top:6px;}
.Hapopsi.ArtclIMG img	{width:70px; height:70px;}
.Hapopsi.ArtclIMG		{float:left; margin:0 10px 0 0;}
.Hapopsi.RCont			{width:220px; float:right;}

.article-title-full	{width:1000px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 30px; font-weight: normal; padding: 10px 0 10px; display: block; color:#333; line-height: 30px; letter-spacing:-1px;}
.articleContainer .article-title	{width:660px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 30px; font-weight: normal; padding: 5px 0 10px; display: block; color:#333; line-height: 30px; letter-spacing:-1px;}
.articleContainer .article-body		{font-family:"Georgia", Times New Roman, Times, serif; font-size:15px; color:#333333; line-height: 24px; /*padding:40px 0;*/ width:660px;}
.fullarclimg		{clear: left;}/* */
.fullarclimg .gallery	{position:relative; float:left;}
.fullarclimg img	{width:640px; float:left; margin:0px 20px 5px 0;border:1px solid #999; padding:10px;}
.fullarclimg .zoom img 	{width: auto; float:left; margin:0;border:0; padding:5px; cursor: pointer;}
.fullarclCaption	{ float:left; font-family: Trebuchet MS; clear:both; margin:0px 20px 0px 0; padding:5px 0; width: 657px; font-size:12px; color:#888;}
.fullarclimg .zoom	{position: absolute; bottom: 20px; right: 35px;}
.arclPrint              {}
.arclEmail              {}
.arclEmail a, .arclPrint a	{float:left; font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; color:#32789B; margin:12px 0 10px 0px;}
.arclEmail a	{ background:url(images/elements/email.png) no-repeat; padding:0 16px 0 35px;}
.arclPrint a	{ background:url(images/elements/print.png) no-repeat; padding:0 0 0 20px;}
.article-suptitle {width:660px; font-family:Georgia, "Times New Roman", Times, serif; font-size: 19px; font-weight: normal;display: block; color:#32789B; margin-top:20px; }
.article-dates		{ color:#222; font-family:Georgia, "Times New Roman", Times, serif; font-size:13px;}
.relatedBox		{ float:left; clear: both; padding: 15px; border: 1px solid #CACABF; width:292px; padding-bottom: 10px;clear: both; background:#E6E6DE; margin: 7px 20px 15px 0px;}
.relatedBox a  {font-family: Georgia, "Times New Roman", Times, serif; font-size: 13px; color: #960; margin: 10px 0 10px 0px;}
.relatedBoxTitle {font-family: 'Open Sans Condensed', sans-serif; font-size: 18px; font-weight: normal;display: block; color:#333;}
.relatedBox	ul {margin:10px;}

/*  --------------- PAGE NUMBERING ---------------   */

.rightpane .pages			{width:280px;}
.rightpane .currentPage-out	{color:#CDCDCD; background:none; }
.rightpane .pageNumber-out a		 	{background: none; color:#006666}

.pages						{width:680px; margin:0 auto; padding:10px 0; clear:both;} 
.currentPage-out			{float:left; text-decoration:none; color:#32789b; background: #CDCDCD; width: 30px; height: 30px; line-height: 32px; text-align:center;}
.pageNumber-out a		 	{float:left;text-align:center;width: 30px; height: 30px;line-height: 32px;background: #32789b; color:#ffffff;margin:0 1px;}
.next-page img, .previous-page img	{display:none;}

.pageNumbers 			{font-size:12px; display:table; margin:0 auto;text-align:center;}
.pageNumber-out			{float:left;}
.previous-page 	{ display:none;}
.next-page 		{ display:none;}
.previous-page a, .next-page a	{color:#333;font-size:10px; }
.text-arrow-next, .text-arrow-next { }


.rightpane .next-page 		{ float:left; padding:10px 5px; display:block;}
.rightpane .previous-page 	{ float:left; padding:9px 5px;display:block;}
.previous-page a, .next-page a	{color:#333;font-size:8px; }

/*
.previous-page,
.currentPage-in,
.pageNumber-in,
.next-page				{ float:left; text-align:center; background: #006666; width: 30px; height: 30px; line-height: 30px; margin: 1px;}

.pages .pageNumbers-in a	{text-decoration:none; color:#fff;}

.pages .currentPage-in		{text-decoration:none; color:#006666; background: #CDCDCD; width: 30px; height: 30px; line-height: 30px;}
.pages img				{margin:5px 0 0 0;}*/

.ListArticle {
float : left;
border-bottom : 1px solid #DFDFDF;
margin-bottom:20px;
width:100%;
}


/*  --------------- PAGE NUMBERING END ---------------   */

.auth.Artcl		{float: left;font-family:Trebuchet MS; padding:10px 0 10px 10px;font-size:14px; overflow:hidden; border-bottom:1px solid #CCC;}
.auth.ArtclAuth		{font-size: 13px; color:#333; font-weight:bold; }
.auth.ArtclTTl		{font-size:14px; color:#c00; clear:both; padding-bottom:2px; line-height:16px;}
.auth.ArtclTTl a	{font-size: 13px; color: #006699; clear: both; font-family: Trebuchet MS; text-decoration: none;}
li .auth.ArtclTTl	{color:#333; margin-left:-5px; font-weight:bold;}
.auth.RCont ul   	{color:#cc0000; margin:0; padding:3px 0 0 15px;}
.auth .RC.ArtclDt	{color: #333; font-size: 13px; }

.mc2231 .auth.TTL a {color:#fff;}
.mc2231 .auth.Artcl		{float: left;font-family:Trebuchet MS; font-size:14px; overflow:hidden; border-bottom:1px solid #CCC; width:97%;background-color: #fff;}
.mc2231 .auth.ArtclAuth		{font-size: 13px; color:#333; font-weight:bold; }
.mc2231 .auth.ArtclTTl		{font-size:14px; color:#c00; clear:both; padding-bottom:2px; line-height:16px;}
.mc2231 .auth.ArtclTTl a	{font-size: 13px; color: #006699; clear: both; font-family: Trebuchet MS; text-decoration: none;}
.mc2231 li .auth.ArtclTTl	{color:#333; margin-left:-5px; font-weight:bold;}
.mc2231 .auth.RCont      	{width: 212px; float: left;}

.mc2239 .auth.TTL a {color:#fff;}
.mc2239 .auth.Artcl		{float: left;font-family:Trebuchet MS; font-size:14px; overflow:hidden; border-bottom:1px solid #CCC; width:97%;background-color: #fff;}
.mc2239 .auth.ArtclAuth		{font-size: 13px; color:#333; font-weight:bold; }
.mc2239 .auth.ArtclTTl		{font-size:14px; color:#c00; clear:both; padding-bottom:2px; line-height:16px;}
.mc2239 .auth.ArtclTTl a	{font-size: 13px; color: #006699; clear: both; font-family: Trebuchet MS; text-decoration: none;}
.mc2239 li .auth.ArtclTTl	{color:#333; margin-left:-5px; font-weight:bold;}
.mc2239 .auth.RCont      	{width: 208px; float: left;}



.RGWI.Artcl		{font-family:"Georgia", Times New Roman, Times, serif; padding:15px 0 15px 15px;font-size:14px; overflow:auto; border-bottom:1px solid #AFC2C6;}
.RGWI.ArtclAuth		{font-size: 13px; color:#000; font-weight: bold ;margin: 0 0 5px 0;}
.RGWI.ArtclTTl		{font-size:14px; color:#c00; clear:both;}
.RGWI.ArtclTTl a	{font-size: 13px; color: #333; clear: both; font-family: Georgia, "Times New Roman", Times, serif; text-decoration: none;}
.RGWI.RCont ul   	{color:#cc0000; margin:0; padding:3px 0 0 15px;}
.RGWI .RC.ArtclDt	{color: #999; margin: 0px 4px 0px 0px; font-size: 13px; font-style: italic; float:left;}
.RGWI.ArtclIMG img	{width:96px; height:60px;}
.RGWI.ArtclIMG		{float:left; margin:0 10px 0 0;}
.RGWI.RCont			{width:175px; float:left;}


.auth.TTL		{font-family:"Georgia", Times New Roman, Times, serif; font-size:15px; background:#32789b; padding:15px; color:#fff;}
.auth.TTL .border	{height:2px; background:#333; margin-top:6px;}
.auth.ArtclIMG img	{width:60px; height:60px;}
.auth.ArtclIMG		{float:left; margin:0 10px 0 0;}
.auth.RCont	        {width:196px; float:left;}
.mc874 .row.first .auth.ArtclIMG img {width:115px; height:70px;}
.mc874 .row .auth.ArtclIMG img {width:115px; height:70px;}
.mc874 .row .auth.RCont {width:150px; float:left;}
.mc874 .row.first .auth.RCont {width:150px; float:left;}
.mc874 .auth.Artcl {padding: 10px 0 10px 5px;}

.mc2257 .row.first .auth.ArtclIMG img {width:115px; height:70px;}
.mc2257 .row .auth.ArtclIMG img {width:115px; height:70px;}
.mc2257 .row .auth.RCont {width:150px; float:left;}
.mc2257 .row.first .auth.RCont {width:150px; float:left;}
.mc2257 .auth.Artcl {padding: 10px 0 10px 5px;}
.mc2257 .blogs_cont       {overflow:auto; width:300px; height:447px; float:left; background-color: #fcfcfa; }
.mc2257 .auth.ArtclAuth a {text-decoration:none; color:#999; font-size:13px;}
.mc2257 .auth.RC.ArtclDt  {color:#333;}
.mc2257 .blogs         {background: #32789b;}
.mc2257 .blogs_TTL a    {color:#fff !important;}
.mc2257 .blogs_TTL     {margin-left:14px;}

.mc867 .auth.RCont       {width:290px; height:50px;}
.mc867 .row              {width:328px;}
.mc867 .data             {background:#E8E8DB; border-radius: 0px 0px 10px 10px; margin-bottom:15px;}
.mc867 .auth.Artcl       {margin-left:15px; padding:15px 0px 15px 0px;}
.mc867 .authBox          {border-radius: 10px 10px 0px 0px; background:#E8E8DB; font-family:Georgia; font-size:16px; margin-bottom:0px;}
.mc867 .authBox_TTL      {margin-left:15px; height:10px; padding-top:13px;}
.mc867 .RC.ArtclDt       {margin:5px 5px 0px 0px; color:#333; font-style:normal;}
.mc867 .authBox_TTL a    {text-decoration:none; color:#333;}
.mc867 .auth.ArtclTTl a  {line-height:16px;}

.mc870 .auth.RCont       {width:290px; height:50px;}
.mc870 .row              {width:328px;}
.mc870 .data             {background:#E8E8DB; border-radius: 0px 0px 10px 10px; margin-bottom:15px;}
.mc870 .auth.Artcl       {margin-left:15px; padding:15px 0px 15px 0px;}
.mc870 .authBox          {border-radius: 10px 10px 0px 0px; background:#E8E8DB; font-family:Georgia; font-size:16px; margin-bottom:0px;}
.mc870 .authBox_TTL      {margin-left:15px; height:10px; padding-top:13px;}
.mc870 .RC.ArtclDt       {margin:5px 5px 0px 0px; color:#333; font-style:normal;}
.mc870 .authBox_TTL a    {text-decoration:none; color:#333;}
.mc870 .auth.ArtclTTl a  {line-height:16px;}

.mc871 .auth.RCont       {width:290px; height:50px;}
.mc871 .row              {width:328px;}
.mc871 .auth.Artcl       {margin-left:15px; padding:15px 0px 15px 0px;}
.mc871 .authBox          {background:#E8E8DB; font-family:Georgia; font-size:16px; margin-bottom:0px;}
.mc871 .authBox_TTL      {margin-left:15px; height:10px; padding-top:13px; float:left; width:330px;}
.mc871 .RC.ArtclDt       {margin:5px 5px 0px 0px; color:#333; font-style:normal;}
.mc871 .authForm a       {text-decoration:none; color:red; float:left; margin-top:15px; }
.mc871 .authForm         {font-family:Georgia; font-size:12px;}
.mc871 .authBox_TTL a    {text-decoration:none; color:#333;}
.mc871 .auth.ArtclTTl a  {line-height:16px;}


.blogs                   { border-top: 2px solid #117099; padding-bottom:5px; height:36px; }
.blogs_TTL               {width: 280px; letter-spacing:-1px; float: left; color:#ff1100; height:33px; padding-top:12px; font-weight: normal; font-size: 16px;  font-family: Georgia;}  
.blogs_TTL2              {font-family: Georgia;font-size: 11px;color: #333; width: 144px; padding-left:165px; padding-top:6px;}
.mc874 .blogs_cont       {overflow:auto; width:300px; height:250px; float:left; background-color: #fcfcfa; }
.mc874 .auth.ArtclAuth a {text-decoration:none; color:#999; font-size:13px;}
.mc874 .auth.RC.ArtclDt  {color:#333;}

.mc909 .blogs_cont       {overflow:auto; width:300px; height:410px; float:left; background-color: #fcfcfa; }
.mc909 .auth.ArtclAuth a {text-decoration:none; color:#333; font-size:12px;}
.mc909 .auth.RC.ArtclDt  {color:#333;}

.mc873 .auth.TTL {font-family: Georgia; background:none; font-size: 16px; color: #333; padding: 10px 0 5px 0px; border-top: 2px solid #117099;}

.EPIST			{font-family:"Georgia", Times New Roman, Times, serif; font-size:16px; padding:0px 0; color:#333;}
.EPIST-all		{background:#cde8e6; margin:0 0 20px 0; width:300px}
.EPIST-auth		{font-family:"Georgia", Times New Roman, Times, serif; font-size:16px; background:#003333; padding:15px; color:#fff; border-bottom:3px solid #fff;}
.EPIST-TTL		{font-family:"Georgia", Times New Roman, Times, serif; font-size:23px; padding:20px 15px 0 15px; color:#333; font-style:italic; }
.EPIST-TTL a            {text-decoration:none; color: #010101;}
.EPIST-TXT		{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; padding:20px 15px; color:#010101; font-style:italic; line-height:22px;}
.EPIST-TXT a            {text-decoration:none; color: #010101;}
.EPIST-MORE		{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; padding:15px; color:#000;background:#d9ece9; border-top:2px solid #f4f4ec;}
.EPIST-MORE a	{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; color:#000;}
.EPIST-top		{/*background: url(images/elements/epistoles-top.png) no-repeat 20px 0;*/ height:0px;}
.EPIST-btm		{/*background: url(images/elements/epistoles-btm.png) no-repeat 220px 0;*/ height:38px;}
.EPIST-TXT img	{display:none;}

.Dial			{font-family:"Georgia", Times New Roman, Times, serif; font-size:16px; padding:0px 0; color:#333;}
.Dial-all		{background:#cde8e6; margin:0 0 20px 0; width:300px}
.Dial-auth		{font-family:"Georgia", Times New Roman, Times, serif; font-size:17px; background:#003333; padding:5px 10px 20px 15px; color:#fff; border-bottom:3px solid #fff; font-style:italic; line-height:22px;}
.Dial-TTL		{font-family:"Georgia", Times New Roman, Times, serif; font-size:23px; padding:20px 15px 0 15px; color:#333; font-style:italic; }
.Dial-TXT		{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; padding:5px 15px 20px; color:#010101; font-style:italic; line-height:22px;}
.Dial-MORE		{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; padding:15px; color:#000;background:#d9ece9; border-top:2px solid #f4f4ec;}
.Dial-MORE a	{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; color:#000;}
.Dial-top		{height:38px;}
.Dial-btm		{ height:38px;}
.Dial-TXT img	{display:none;}


.CINE-all		{background:#FFE6FF; margin:0 0 20px 0; width:300px; height:375px;}
.CINE-TXT		{font-family:Georgia; font-size:13px; padding:20px 15px; color:#333; font-style:italic; line-height:22px; overflow-y: scroll; overflow-x:hidden; height:250px;}
.CINE-top		{height:38px;}
.CINE-auth		{font-family:Georgia; font-size:17px; background:#9933cc; padding:20px 10px 20px 15px; color:#fff; font-style:italic; line-height:9px;}
.CINE-MORE		{padding:15px; color:#000;background:#9933cc; border-top:2px solid #f4f4ec;}

.LComm-all	{background:#FFF; padding:0; border-bottom:1px solid #ccc; }
.LComm-TTL	{padding:15px 15px 0 15px}
.LComm-TTL a,
.LComm-TTL a:visited	{color:#333333;font-family:"Georgia", Times New Roman, Times, serif; font-size:15px;  color:#010101; font-style: italic;}
.LComm-com	{font-family:"Georgia", Times New Roman, Times, serif; font-size:14px; padding:5px 15px; color:#999;}
.LComm-TXT	{font-family:"Georgia", Times New Roman, Times, serif; font-size:13px; padding:5px 25px; color:#010101; line-height:20px;}
.LComm-btm	{}
.mc403, .mc404		{ background:#FCFDF8; margin:0 0 20px 0; border-bottom: 2px solid #996600;}



.ln.Artcl			{font-family:"Georgia", Times New Roman, Times, serif; padding:15px;font-size:14px; overflow:auto; border-bottom:1px solid #AFC2C6;}
.last .ln.Artcl		{border-bottom:0;}
.ln.ArtclAuth		{font-size:14px; color:#333; margin:0; font-weight:bold;}
.ln.ArtclTTl		{font-size:14px; color:#c00;}
.ln.ArtclTTl a	{font-size:14px; color:#333;font-family:"Georgia", Times New Roman, Times, serif; text-decoration:none;}
li .ln.ArtclTTl	{color:#333; margin-left:-5px; font-weight:bold;}
.ln.RCont ul   	{color:#cc0000; margin:0; padding:3px 0 0 15px;}
.ln .RC.ArtclDt	{color:#666; float:left; margin:0 10px 0 0;}

.ln.TTL			{font-family:"Georgia", Times New Roman, Times, serif; font-size:18px; background:#009898; padding:15px; color:#fff;}
.ln.RCont			{width:270px; float:left;}

/*    Full article slideshow with scroll   */
#descriptions { position: relative; height: 50px; background: #EEE; margin-top: 10px; width: 640px; padding: 10px; overflow: hidden; } 
#descriptions .ad-image-description { position: absolute; } 
#descriptions .ad-image-description .ad-description-title { display: block; } 
.ad-gallery { width: 600px; }
.ad-gallery, .ad-gallery * { margin: 0; padding: 0; } 
.ad-gallery .ad-image-wrapper { height: 400px; margin-bottom: 10px; overflow: hidden; position: relative; width: 100%; } 
.ad-gallery .ad-image-wrapper .ad-loader { border: 1px solid #CCCCCC; left: 48%; position: absolute; top: 48%; z-index: 10; }
.ad-gallery .ad-image-wrapper .ad-next { cursor: pointer; display: block; height: 100%; position: absolute; right: 0; top: 0; width: 25%; z-index: 200; } 
.ad-gallery .ad-image-wrapper .ad-prev { cursor: pointer; display: block; height: 100%; left: 0; position: absolute; top: 0; width: 25%; z-index: 200; } 
.ad-gallery .ad-image-wrapper .ad-prev,
.ad-gallery .ad-image-wrapper .ad-next { background: url("/templates/images/gallery/trans.gif") repeat scroll 0 0 transparent; } 
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, 
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background: url("/templates/images/gallery/ad_prev.png") repeat scroll 0 0 transparent; display: none; height: 30px; left: 0; position: absolute; top: 47%; width: 30px; z-index: 101; }
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image { background: url("/templates/images/gallery/ad_next.png") repeat scroll 0 0 transparent; height: 30px; left: auto; right: 0; width: 30px; }
.ad-gallery .ad-image-wrapper .ad-image { left: 0; overflow: hidden; position: absolute; top: 0; z-index: 9; }
.ad-gallery .ad-slideshow-controls { float: right; }
.ad-gallery .ad-nav { position: relative; width: 100%; }
.ad-gallery .ad-forward, .ad-gallery .ad-back { height: 100%; position: absolute; top: 0; z-index: 10; }
.ad-gallery .ad-back { background: url("/templates/images/gallery/ad_scroll_back.png") no-repeat scroll 0 22px transparent; cursor: pointer; display: block; left: -20px; width: 13px; }
.ad-gallery .ad-forward { background: url("/templates/images/gallery/ad_scroll_forward.png") no-repeat scroll 0 22px transparent; cursor: pointer; display: block; right: -20px; width: 13px; }
.ad-gallery .ad-nav .ad-thumbs { overflow: hidden; width: 100%; }
.ad-gallery .ad-thumbs .ad-thumb-list { float: left; list-style: none outside none; width: 9000px; }
.ad-gallery .ad-thumbs div	{ float: left; padding-right: 5px; }
.ad-preloads				{ position: absolute; left: -9000px; top: -9000px; } 
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 50px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: #ffffff; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }



/*    Full article slideshow with scroll   */





    #slideshow_container_skitsa{/* required settings */ position: absolute; overflow: hidden; width: 300px; height: 180px;padding: 0px 0 0 0;}



     /*root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accommodate scrollable items.

        it's enough that you set width and height for the root element and not for this element.*/



    #slideshow_container_skitsa .items {/* this cannot be too large */width: 20000em;position: absolute;}



#slideshow_container_skitsa .items a img{width:300px;}



    div.slideshow_content_skitsa {float: left;width: 300px;height: 180px;}

     .mc324 .corners     {position: relative; width: 300px; height: 180px;}


     .mc324 .prev-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-left-nav-active.png);  width: 28px; position:absolute; bottom:0px; left:0px;}

     .mc324 .next-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-right-nav-active.png);  width: 28px; position:absolute; bottom:0px; left:28px;}

     .mc324 .prev-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-left-nav-not-active.png)}

     .mc324 .next-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-right-nav-not-active.png)}



.magnify{background:url(/Templates/images/home/top-news-right-nav-not-active.png);width:28px;height:28px;position:absolute;}

.mc324 .magnify{bottom:0;right:0;}


.mc2273 .BGCONT .data .row   {width: 280px;}
.mc2273 .BGCONT .data   {float: left;  width: 280px;}
.mc2273 .BGCONT         {width: 300px;  height: 174px; position: relative; overflow: auto; margin-bottom: 0px; border-bottom:0px; background:#e4e3d4;}
.mc2273 .auth.Artcl div.img {width:65px;}

.mc2239 .BGCONT .data .row   {width: 280px;}
.mc2239 .BGCONT .data   {float: left;  width: 280px;}
.mc2239 .BGCONT         {width: 300px;  height: 400px; position: relative; overflow: auto; margin-bottom: 0px;}

.mc2231 .BGCONT .data .row {width: 281px;}
.mc2231 .BGCONT .data { float: left;  width: 283px;}
.mc2231 .BGCONT         {width: 300px;  height: 400px; position: relative; overflow: auto; margin-bottom: 0px;}

.BGCONT			{background:#FCFDF8; border-bottom: 2px solid #32789B; margin: 0 0 20px 0;}
.BGCONT .data		{ float:left;}

.comments .container	{padding:20px; width:630px;}
.comment-head			{border-bottom:2px solid; height:50px; clear: both;}
.comment-title			{float:left; font-size:24px; color:#333;   color:#333; margin-bottom:15px;padding:15px 0;}
.comment-register a		{float:right; color:#F00; font-size:18px;font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;padding:20px 0; font-style:italic;}
.comments .name		{color:#F00; font-size:20px; font-style:italic;font-family:Georgia, "Times New Roman", Times, serif;}
.comments .time 	{color:#333; font-size:14px; font-style:italic; font-family:Georgia, "Times New Roman", Times, serif;} 
.comments .post 	{color:#999; border-left: 6px solid #CCC; padding:0 0 0 20px; font-size: 14px; font-weight: normal; color: #333; font-family: Arial, Helvetica, sans-serif; margin:20px 0; width:540px; }
.comments .container a {color:#F00; text-decoration:none;padding: 0 0 0 20px; font-size: 14px;}

.articleContainer .comments-info {font-family: Georgia;font-size: 12px;font-style: italic;background-color:#ddd; color: #FF0000;font-weight: bold; padding:20px;}


.comments li 			{list-style:none;}
ul.comments				{margin:0; padding:0;}
.comments li.item		{border-bottom:1px dotted #ccc; width:100%;}/* margin-bottom:30px;padding-bottom: 30px;*/
.comments .login a:link,
.comments .login a:hover,
.comments .login a:visited,
.comments .login a:active	{color:#F00; font-size:14px;font-family:Georgia, "Times New Roman", Times, serif; text-decoration:none;padding:0 0 0 26px;}
.comment-cont				{width:650px;}
.post-panel					{width:100%;}
.post-panel textarea		{border: 6px solid #CCC; width:98%; height: 175px;font-size: 16px; color:#666;  resize: none; overflow: auto;  outline: none;}
.updatePanel .post-panel a			{background:#c00; padding:10px 10px; color:#fff; text-decoration:none; float:right; margin:20px 0; font-size:14px;}
.updatePanel 		{float:left; width: 100%;}
.post-succeeded 	{background:#C0B6B5; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding:20px; text-align:center;margin: 20px 0; color:#FFF;}

.gallopContainer					{ margin:0 0 15px 0;}
.gallopContainer .GalopSelection 	{ float:left; margin: 10px 0 0 0;}
.gallopContainer .GalopTXT			{font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #666; font-size: 12px; margin: 0 0 0px 25px; display: block;  padding: 10px 0 10px 0; line-height:15px;}
.gallopTable .row					{border-bottom: 1px solid #C00;}
.gallopTable .row.last				{border:0;}
.gallopTable .voteRadioButton label	{font-family: Arial, Helvetica, sans-serif; color: #999; font-size: 10px; margin: 0 0 0px 30px; display: block; border-bottom: 1px solid #C00; padding: 10px 0 10px 0;}
.gallopTable .voteRadioButton input	{float:left; margin: 20px 0 0px 0;}

.GalopBTNV input
{cursor:pointer;float:left; background:#F00; padding:5px 5px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#FFF; text-decoration:none; border:0; margin: 0;}



.GalopBTNR,.GalopBTNR a, .GalopBTNR a:visited
{cursor:pointer;float:right; background:#7B9599; padding:4px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#FFF; text-decoration:none; }

.column		{float: left; width: 222px;  font-size:14px;}
.gRG 		{background-color:#74897F;}
.answers	{width:666px; float:left;}
.bar 		{height: auto; width:100px;}
.gRA		{margin:0 20px; font-size:14px; padding:20px 0 0 0; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }/*width: 185px;*/
.gRQ		{float:left; width:626px;background:#B7BFC1; font-family:"Times New Roman", Times, serif; font-size: 32px; font-weight:bold; padding:20px; font-style:italic; color:#fff;}
.gRP		{text-align:left; font-size:24px; text-align:right; font-family:"Times New Roman", Times, serif; font-style:italic;}
.chart		{background:#EBF3F5; padding:0 0 0 20px;}/*width: 185px;*/
.gRPReverse	{height:280px;}

.gallopResultPanel .message 	{font-size:12px; color:#999; padding:20px 0 0 0; clear:both;}
.gallopResultPanel .title 		{float:left;color:#000}
.gallopResultPanel .question 	{float:left;}


.row {float:left;width:100%}


.gallopContainer .HPWAR.ArtclTTL {font-family: Georgia;font-size: 20px;font-weight: normal;padding: 5px 0 15px;display: block;color: #333;line-height: 30px;letter-spacing: -1px;}

.gallopTable .archives {display:none;}


    #slideshow_container_periodica{/* required settings */ position: absolute; overflow: hidden; width: 300px; height: 154px;padding: 0px 0 0 0;}

	/*root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and not for this element.*/

    #slideshow_container_periodica .items {/* this cannot be too large */width: 20000em;position: absolute;}

    div.slideshow_content_periodica {float: left; width: 89px; height: 202px; padding-top:10px; padding-right:14px;}

	.mc636 .corners	{position: relative; width: 300px; height: 166px;}	
	.mc636 .prev-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-left-nav-active.png);  width: 28px; position:absolute; top:0px; right:32px;}
	.mc636 .next-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-right-nav-active.png);  width: 28px; position:absolute; top:0px; right:0px;}
	.mc636 .prev-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-left-nav-not-active.png)}
	.mc636 .next-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-right-nav-not-active.png)}
        .mc636 .sliderTTL {margin-top:7px;}

    #slideshow_container_vivlia{/* required settings */ position: absolute; overflow: hidden; width: 300px; height: 142px;padding: 0px 0 0 0;}

	/*root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and not for this element.*/

    #slideshow_container_vivlia .items {/* this cannot be too large */width: 20000em;position: absolute;}

div.slideshow_content_vivlia {float: left; width: 89px; height: 127px; padding-top:15px; padding-right:13px;}
        .mc695 .corners {position: relative; width: 300px; height: 157px;}
        .mc695 .prev-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-left-nav-active.png);  width: 28px; position:absolute; top:0px; right:32px;}
	.mc695 .next-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-right-nav-active.png);  width: 28px; position:absolute; top:0px; right:0px;}
	.mc695 .prev-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-left-nav-not-active.png)}
	.mc695 .next-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-right-nav-not-active.png)}
        .mc695 .sliderTTL {margin-top:10px;} 



    #slideshow_container_efimerides{/* required settings */ position: absolute; overflow: hidden; width: 300px; height: 132px;padding: 0px 0 0 0;}

	/*root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and not for this element.*/

    #slideshow_container_efimerides .items {/* this cannot be too large */width: 20000em;position: absolute;}

    div.slideshow_content_efimerides {float: left; width: 90px; height: 127px; padding-top:6px; padding-right:14px;}
    div.slideshow_content_efimerides a img {float: left; width: 90px; height: 127px; padding-right:14px;}

	.mc1320 .corners     {position: relative; width: 300px; height: 157px;}	
	.mc1320 .prev-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-left-nav-active.png);  width: 28px; position:absolute; top:0px; right:32px;}
	.mc1320 .next-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-right-nav-active.png);  width: 28px; position:absolute; top:0px; right:0px;}
	.mc1320 .prev-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-left-nav-not-active.png)}
	.mc1320 .next-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-right-nav-not-active.png)}
        .mc1320 .sliderTTL {margin-top:7px;}


    #slideshow_container_philgood{/* required settings */ position: absolute; overflow: hidden; width: 300px; height: 132px;padding: 0px 0 0 0;}

	/*root element for scrollable items. Must be absolutely positioned and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and not for this element.*/

    #slideshow_container_philgood .items {/* this cannot be too large */width: 20000em;position: absolute;}

    div.slideshow_content_philgood {float: left; width: 90px; height: 127px; padding-top:6px; padding-right:14px;}
    div.slideshow_content_philgood a img {float: left; width: 90px; height: 127px; padding-right:14px;}

	.mc2190 .corners     {position: relative; width: 300px; height: 157px;}	
	.mc2190 .prev-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-left-nav-active.png);  width: 28px; position:absolute; top:0px; right:32px;}
	.mc2190 .next-slider {cursor: pointer; height: 28px; background: url(/Templates/images/home/top-news-right-nav-active.png);  width: 28px; position:absolute; top:0px; right:0px;}
	.mc2190 .prev-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-left-nav-not-active.png)}
	.mc2190 .next-slider.disabled{cursor: auto; background: url(/Templates/images/home/top-news-right-nav-not-active.png)}
        .mc2190 .sliderTTL {margin-top:7px;}
 
 

  .sliderTTL a {line-height:28px;font-size: 16px; font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; color: #333; clear: both; display: block; padding:0;}


.gnomi_txt {font-family: Georgia; color:#333; font-size: 19px;letter-spacing: -1px;font-weight: bold;margin-top: 10px;margin-bottom: 12px;}

.Paremvaseis {height:174px; width:330px;}
.Paremvaseis .Paremvaseis-container	{height: 154px; width:330px; overflow: auto; padding-top:13px}

.mc925 .auth.Artcl {width:290px; margin-left:5px; padding:6px 0 6px 6px}
.mc925 .auth.RCont  {width:290px;}
.mc925 .auth.ArtclTTl  {font-size:12px; font-family:Trebuchet MS; color:#333;}
.mc925 .auth.ArtclTTl a {font-size:12px; font-family:Trebuchet MS; color:#006699; font-weight:bold;}
.mc925 .auth.ArtclAuth {font-family: Georgia; font-size: 11px; color: #333; font-style:normal; margin:0px;}
.mc925 .Par_logo {margin-top: -29px; position: absolute; margin-left: -8px; float: left;}

.mc1319 .Par_logo {margin-top: -18px; position: absolute; margin-left: -8px; float: left;z-index:1000;}

.mc871 .Par_logo {margin-top: -7px; position: absolute; margin-left: -8px; float: left;}

.Debate {height:170px; width:313px; background-color:#edece2; margin-left:10px;}
.Debate .data .row.last img.vs {display:none;}
.DebateTTL {float:left; font-weight:bold; margin-top:4px; font-family:Trebuchet MS; font-size:13px; color:#333;}   
.DEB_TTL a {text-decoration:none; font-size:12px; font-weight:bold; font-family:Trebuchet MS; color:#006699;}
.DEB_ATH {font-family:Trebuchet MS; font-size:11px; color:#000; margin-left:10px;font-weight:bold;}
.DEB_OCU {font-family:Trebuchet MS; font-size:11px; color:#666; margin-left:10px;}
.DEB_TTL {margin-top:6px; margin-left:10px;}
.DEB_IMG {float:left; margin-left:10px; margin-right:10px; margin-top:10px;}
.Debate .data .row {line-height:20px;}
.Debate .data .row.last {line-height:20px;}


/*ARTICLE MEDIA GALLERY*/
.article-media-container{overflow:hidden;}
.article-media-container .full-image-container{position:relative;}
.article-media-container .full-image-container .mask{ opacity:0.7;background-color: #000000; bottom: 0; color: #FFFFFF; display: block; float: left; position: absolute; width: 100%;}
.article-media-container .full-image-container .description{margin:10px;}
.article-media-container .full-image-container .description p{ opacity:1;-webkit-text-shadow: 0 0 0 #ffffff; text-shadow:0 0 0 #ffffff;  font-family: trebuchet ms; font-size: 15px;}
.article-media-container .full-image-container .fl-next-prev
{cursor:pointer;display:none;color: #FFFFFF; font-size: 50px; font-weight: bold; height: 64px; line-height: 64px; opacity: 1; position: absolute; text-align: center; top: 40%; vertical-align: middle; width: 64px;}
.article-media-container .full-image-container .fl-next-prev.next{right:-20px; background: url("/Templates/images/arrow-right.png") no-repeat; }
.article-media-container .full-image-container .fl-next-prev.prev{left:25px; background: url("/Templates/images/arrow-left.png") no-repeat;}
.article-media-container .single-image{overflow:hidden;height:520px}
.article-media-container .single-image img{width:100%}
.article-media-container .thumbnails-container{width:2000em;float:left;height:87px;overflow:hidden;  background-color:#333;}
.article-media-container .thumbnails-container .thumb,
.article-media-container .thumbnails-container .description{float:left;}
.article-media-container .thumbnails-container .thumb img{width:167px;}
.article-media-container .thumbnails-container .thumb.active{background-color:solid #000; opacity:0.5;}
.article-media-container .photo-index{display:none;}
.article-media-container .player-controls{display:none;}
.article-media-container .thumbnails-container .th-next-prev{position:absolute;cursor:pointer; height:40px;opacity:1;background-color: #000000;color:#fff;-webkit-text-shadow: 0 0 0 #ffffff; text-shadow:0 0 0 #ffffff;vertical-align:middle;line-height:90px;width:32px;text-align:center;font-size:24px;font-weight:bold;}
.article-media-container .thumbnails-container .th-next-prev.next{right:0; margin-top:25px; background:url("/Templates/images/arrow-right.png") no-repeat; opacity:0.6;}
.article-media-container .thumbnails-container .th-next-prev.prev{left:12px; margin-top:25px; background:url("/Templates/images/arrow-left.png") no-repeat; opacity:0.6;}
.article-media-container .thumbnails-container .th-next-prev.next:hover{right:0; margin-top:25px; background:url("/Templates/images/arrow-right.png") no-repeat; opacity:1;}
.article-media-container .thumbnails-container .th-next-prev.prev:hover{left:12px; margin-top:25px; background:url("/Templates/images/arrow-left.png") no-repeat; opacity:1;}
 
#scrollable-1254{float: left;height: 225px;width: 1000px;background: rgba(221, 221, 197, 0.5); margin-top:20px;}
#scrollable-1254 .scrollable{   float: left; height: 180px;overflow: hidden; position: relative;  width: 920px;top:-10px;}
#scrollable-1254 .scrollable .items{position: absolute;width: 20000em;}
#scrollable-1254 .items div {float: left;width: 225px;padding-left:3px; padding-top:10px;}
#scrollable-1254 .items div a{float: left;width: 220px;text-align: center;  font-family: trebuchet ms; font-size:13px;  text-decoration:none; color:#333;}
#scrollable-1254 .items div  img{border: 4px solid #fff; margin: 5px;padding: 3px;  width: 200px;}
#scrollable-1254 .scrollable-1254-prev-next  {cursor: pointer; display: block; height: 40px;  width: 40px; margin-top: 50px;}
#scrollable-1254 .scrollable-1254-prev-next.scrollable-1254-prev.prev {float:left;background: url("/Templates/images/elements/small-left.png") no-repeat;opacity:0.6;}
#scrollable-1254 .scrollable-1254-prev-next.scrollable-1254-next.next{float:right;background: url("/Templates/images/elements/small-right.png") no-repeat;opacity:0.6;}
#scrollable-1254 .scrollable-1254-prev-next.scrollable-1254-prev.prev:hover {float:left;background: url("/Templates/images/elements/small-left.png") no-repeat;opacity:1;}
#scrollable-1254 .scrollable-1254-prev-next.scrollable-1254-next.next:hover{float:right;background: url("/Templates/images/elements/small-right.png") no-repeat;opacity:1;}

#scrollable-1319 {float: left; height: 180px;width: 660px;background-color: #deddcb;margin-bottom:30px;}
#scrollable-1319 .scrollable1319 { float: left; height: 175px; overflow: hidden; position: relative;  width: 660px;}
#scrollable-1319 .scrollable1319 .items {position: absolute;width: 20000em;}
#scrollable-1319 .items div {float: left; width:220px;}
#scrollable-1319 .items div.container-title {margin-left:10px; margin-top:8px;}
#scrollable-1319 .items div.container-title a {text-decoration:none; color:#006699; font-family:Trebuchet MS; font-size:13px;}
#scrollable-1319 .items div  img{width: 220px; height:140px;}
#scrollable-1319 .scrollable-1319-prev-next  {cursor: pointer; display: block;font-size: 0px; height: 30px; position:absolute; margin-left:10px; margin-top:60px; width:20px;}
#scrollable-1319 .scrollable-1319-prev-next.scrollable-1319-prev.prev {float:left; z-index:1000; background: url(/Templates/images/arrow-left.png);}
#scrollable-1319 .scrollable-1319-prev-next.scrollable-1319-next.next {float:right; right:25px; background: url(/Templates/images/arrow-right.png);}

#scrollable-2188 {float: left;width: 660px;}
#scrollable-2188 .scrollable2188 { float: left; height: 400px; overflow: hidden; position: relative;  width: 660px;}
#scrollable-2188 .scrollable2188 .items {position: absolute;width: 20000em;}
#scrollable-2188 .items div {float: left; width:660px;}
#scrollable-2188 .items div.rssTitle {float: left;top: 290px;position: absolute;width: 590px;margin-left: 35px;}
#scrollable-2188 .items div.rssTitle a {text-decoration:none; color:#fff; font-family:Trebuchet MS; font-size: 28px; text-shadow: 1px 1px 2px #000;font-weight:bold;}
#scrollable-2188 .items div  img{width: 660px; height:400px;}
#scrollable-2188 .scrollable-2188-prev-next  {cursor: pointer; display: block;font-size: 0px; height: 30px; position:absolute; margin-left:10px; margin-top:180px; width:20px;}
#scrollable-2188 .scrollable-2188-prev-next.scrollable-2188-prev.prev {float:left; z-index:1000; background: url(/Templates/images/arrow-left.png);}
#scrollable-2188 .scrollable-2188-prev-next.scrollable-2188-next.next {float:right; left:620px; background: url(/Templates/images/arrow-right.png);}


#scrollable-2194 .items div {float: left; width:300px; }
#scrollable-2194 .scrollable2194 { float: left; overflow: hidden; position: relative;  width: 300px;height:200px;}
#scrollable-2194 .scrollable2194 .items {position: absolute;width: 20000em;}
#scrollable-2194 .items div.rssTitle {float: left;bottom:15px;position: absolute;width: 215px;margin-left: 25px;}
#scrollable-2194 .items div.rssTitle a {text-decoration:none; color:#fff; font-family:Trebuchet MS; font-size: 16px; text-shadow: 1px 1px 2px #000;font-weight:bold;}
#scrollable-2194 .items div img {width: 300px;}
.mc2194 .sliderTTL {margin-top: 5px;margin-bottom:5px;border-top: 2px solid #117099;}
#scrollable-2194 .scrollable-2194-prev-next  {cursor: pointer; display: block;font-size: 0px; height: 30px; position:absolute; margin-left:10px; margin-top:90px; width:20px;}
#scrollable-2194 .scrollable-2194-prev-next.scrollable-2194-prev.prev {float:left; z-index:1000; background: url(/Templates/images/arrow-left.png);}
#scrollable-2194 .scrollable-2194-prev-next.scrollable-2194-next.next {float:right; left:280px; background: url(/Templates/images/arrow-right.png);}

/*ARTICLE MEDIA GALLERY*/


/*SHARE BUTTON*/
.mc1251 .addthis-Social { position:absolute; top:0px; left:0px; opacity:0.7;}
.mc1251 .addthis-Social:hover { position:absolute; top:0px; left:0px; opacity:1;}
/*.mc1251 .addthis-Social a {float: left; line-height: 0; white-space: nowrap; width: 90px;}*/