﻿/*
	Variable Grid System.
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/

	Licensed under GPL and MIT.
*/

/*
  Forces backgrounds to span full width,
  even if there is horizontal scrolling.
  Increase this if your layout is wider.

  Note: IE6 works fine without this fix.
*/

body {
  min-width: 1020px;
}

/* Containers
----------------------------------------------------------------------------------------------------*/
.container_6 {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/


.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}

.grid_6 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
        
}


.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6 {
	position:relative;
}


/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.container_6 .grid_1 {
	width:160px;
}

.container_6 .grid_2 {
	width:300px;
}

.container_6 .grid_3 {
	width:490px;
}

.container_6 .grid_4 {
	width:660px;
}

.container_6 .grid_5 {
	width:830px;
}

.container_6 .grid_6 {
	width:1000px;
}

.container_6 .grid_2.w320 {
	width:320px;
}


/* Prefix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.container_6 .prefix_1 {
	padding-left:170px;
}

.container_6 .prefix_2 {
	padding-left:340px;
}

.container_6 .prefix_3 {
	padding-left:510px;
}

.container_6 .prefix_4 {
	padding-left:680px;
}

.container_6 .prefix_5 {
	padding-left:850px;
}



/* Suffix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.container_6 .suffix_1 {
	padding-right:170px;
}

.container_6 .suffix_2 {
	padding-right:340px;
}

.container_6 .suffix_3 {
	padding-right:510px;
}

.container_6 .suffix_4 {
	padding-right:680px;
}

.container_6 .suffix_5 {
	padding-right:850px;
}



/* Push Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.container_6 .push_1 {
	left:170px;
}

.container_6 .push_2 {
	left:340px;
}

.container_6 .push_3 {
	left:510px;
}

.container_6 .push_4 {
	left:680px;
}

.container_6 .push_5 {
	left:850px;
}



/* Pull Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/


.container_6 .pull_1 {
	left:-170px;
}

.container_6 .pull_2 {
	left:-340px;
}

.container_6 .pull_3 {
	left:-510px;
}

.container_6 .pull_4 {
	left:-680px;
}

.container_6 .pull_5 {
	left:-850px;
}




/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
  zoom: 1;
}

.grid_4 .contentpane {float:left;}

.grid_4.leftpane { margin-left:0; margin-right:0; padding-right:17px; border-right:2px dotted #ccc; }
.grid_2.rightpane { margin-right: 0; margin-left: 0; padding-left: 17px; float: right;  }
