﻿.editArticleLk { float:right; font-size:10px;}

.pageEditMenu {
background-color: #F0F0F0;
line-height: 25px;
position: fixed;
clear: both;
float: left;
display: block;
overflow: auto;
z-index: 10000;width: 200px;
}

.leftbanner {
	position: relative;
	height: 90px;
	/*z-index: 99999;*/
}

.leftbanner div {
	display: block;
	width: 728px;
	height: 90px;
	overflow: hidden;
z-index:0;
}


.rightbanner div {
	
z-index:0;
}


.Banner3 div {
	
z-index:0;
}



/*---------------------------------------------- BODY ----------------------------------------------*/

body {background:#F4F4EC; margin:0;}
	
img { border:0; }
	 
iframe {}/*display:block;*/

a	{ text-decoration:none; color: #32789B;}

h1	{font-size:16px; margin:0px 0; float: left; font-weight:normal;}
/*---------------------------------------------- HEADER ----------------------------------------------*/
	
.header { height:100px;}

	.logo 			{height:65px; margin:20px 0px; float:left; width:50%;}
	.logo img 		{float:left;}
	.Social-HP		{ padding:15px 0; float:left; border-top:1px solid #ccc; border-bottom:2px solid #069; width: 300px; margin:0 0 0px 0;}
		.Social-HP div 		{padding:0 21px 0 0; float:left; }
		.Social-HP a		{color:#333; font-family: Georgia, "Times New Roman", Times, serif; font-size:15px; text-decoration:none;float:left;}/* padding:0 0 5px 0; */
		.Social-HP img		{padding:2px 0 0px 0;}
		div.Social-txt		{padding:3px 5px; float:left;}
		
		.phile-Apps			{ border-bottom:1px dotted #333; float:left; width:300px;}
			.app-store 		{ float:left;}
			.google-play	{ float:right;}
			
		.NewsletterSub		{}
			
		.OtherMenu 	        {font-size: 12px; height:20px; margin: 0px 0px 6px 0px; border-top:2px solid #117099; width:300px; padding-top:10px; display:block; }
                .OtherMenu .login-cnt,
		.OtherMenu .logoff a	{ color:#32789B; float:left; cursor: pointer; padding:2px 10px 0 168px; border-right:1px solid #ccc; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}/**/
		.OtherMenu .logoff	{float:left;}
		.OtherMenu a.login			{ color:#32789B;}
		.OtherMenu .register-cnt 	{ color:#32789B; float:left; cursor: pointer; padding:2px 10px 0 10px; border-right:1px solid #ccc;font-family:Georgia, "Times New Roman", Times, serif;font-size:13px; }/**/
		.OtherMenu a.register		{ color:#32789B;}
		.OtherMenu .subscribe-cnt	{ color:#32789B; float:left; cursor: pointer; padding:0 0 0 20px;font-family:Georgia, "Times New Roman", Times, serif;font-size:13px;}/* */
		.OtherMenu a.contact 		{ color:#32789B;}
		
                .OtherMenuApopsi        {font-size: 12px; border-top:2px solid #117099; width:300px; padding-top:10px; display:block; height:25px;}
		.OtherMenuApopsi .login-cnt,
		.OtherMenuApopsi .logoff a	{ color:#32789B; float:left; cursor: pointer; padding:0 20px 0 0px; border-right:1px solid #ccc; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif;}/**/
		.OtherMenuApopsi .logoff	{float:left;}
		.OtherMenuApopsi a.login			{ color:#32789B;}
		.OtherMenuApopsi .register-cnt 	{ color:#32789B; float:left; cursor: pointer; padding:0 20px 0 20px; border-right:1px solid #ccc;font-family:Georgia, "Times New Roman", Times, serif;font-size:13px; }/**/
		.OtherMenuApopsi a.register		{ color:#32789B;}
		.OtherMenuApopsi .subscribe-cnt	{ color:#32789B; float:left; cursor: pointer; padding:0 0 0 20px;font-family:Georgia, "Times New Roman", Times, serif;font-size:13px;}/* */
		.OtherMenuApopsi a.contact 		{ color:#32789B;}
		

                .headerRight 	{float:right; width:50%; height:90px; padding:15px 0 0 0;}
                
		.UpperDate1	{float: left; font-family: Georgia;font-size: 16px; height: 55px; margin-top: 15px;padding-left: 85px;padding-right: 0px;text-align: right;}
                	
                .UpperDate2 	{color: #32779A;float: left;font-family: Georgia;font-size: 16px;text-align: right;}
		.headerBanner	{width:240px; height:90px; float:right;}
		.headerBanner a	{float:right; padding:0 0px 0 10px;}
		.rightbanner	{ float:right;padding: 15px 0px 15px 5px;}
		.leftbanner	{ float:left;padding: 15px 10px 15px 0px;}
			
		.footer-menu, .grid_6.footer 		{ border-top:4px solid #117099; margin: 20px 0px 0 0px; }
		.grid_6.footer .cmsmenu.m4		{ padding:20px 0px 0px 30px;}
		
		.spons-rad	{background: url(images/footer/ph_footer.png) no-repeat 0px;  height: 115px; margin: 10px 0px 20px;border-top:1px solid #117099; border-bottom:1px solid #117099; }
		/*.spons-rad	{ float:left; border-top:1px solid #32779A; border-bottom:1px solid #32779A; margin:20px 0px 20px 0px; width:100%; padding:20px 0px 20px 0px;}
		.sponsors	{ float:left;}
		.sponsorImg	{ float:left; padding:0 20px 0 0;}*/
		.radio		{float: left; width: 300px;}/* border-top: 4px solid #820099; padding: 20px 0 0 0;*/
		.radioImg	{float:left; padding:0 13px 0 0px;}
		.footerInfo {text-align: center;  font-size:13px; padding:0 0 20px 0; color:#333; font-size:13px; font-family:Georgia; }
		.footerInfo a {color:#32789b; text-decoration:none;}
		
.iframe-border			{/*border-top:4px solid #EE3D3B; padding:10px 0 0 0;*/ width:660px; height:3px;}
.mc241.elita-iframe iframe	{border-right:2px dotted #CCC; padding:10px 18px 0 0; width:660px;margin-top:-18px;}
.mc241					{width:660px;}
	
.mainMenu		{ border-top:4px solid #333; color:#000;  padding:10px 0 10px 0; border-bottom: 1px solid #999; margin: 0 0 40px 0;}
.SubmenuMenu	{height:30px; color:#CCC; text-transform:uppercase; font-size:10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }

.network	{ }
.upperMenu
{text-align:left; height:46px; font-size:11px; color:#f4f4ec; text-transform: none; background:#000; background-repeat:repeat-x; line-height:47px; font-family: Georgia, "Times New Roman", Times, serif;border-bottom:1px dotted #F4F4EC; line-height: 48px; text-transform:uppercase;}	

.upperMenu a
{color:#f4f4ec; font-size:11px; font-family:Georgia, "Times New Roman", Times, serif; text-decoration: none; padding:0 2px; text-transform:uppercase;}
.upperMenu a.active {color:#4990B5;}

.upperMenu .network	{width:1025px; margin:0 auto;}
.upperMenu .search.control .input {float:left; height:30px; margin: 8px 0 0 0; font-size:10px; color:#666; padding: 0 10px; width:115px; background:#fff; }
.upperMenu .search.control input {border:none; height:30px; font-size:10px; color:#666; width:120px; background:none;}

.upperMenu .search.control .searchLink input { float:left;border:none; height:30px; margin: 8px 0 0 0; font-size:10px; color:#666; padding: 0 10px; width:30px; background:url(images/home/search.png) no-repeat 5px #fff; cursor:pointer;}
.upperMenu .search.control .searchLink	{float:left;}
.seperator		{width:1px;}

.

.captcha-control input {width:140px !important;}
.captcha-control .input-container	{ float:right; margin:5px 0 0 0;}
.captcha-control .image-container	{ float:left;}

/*.mc30 {border-top: 2px solid #F4F4EC; margin-top:10px;}*/
.mc30 {border-top: 2px solid #F4F4EC;}

.mc608 				{border-top: 2px solid #EE3D3B; margin-top:15px;}
.home-sites			{font-size:13px; color:#333; font-family: georgia;}
.home-sites-link a 		{color:#32789B; text-decoration:none;}
.home-sites img		{ padding:0 0 10px 0; width:145px;}
.home-sites-link       {margin-top:10px;}
.sites-cat-name		{text-align:center; padding:10px 0px 5px 0px; letter-spacing:-0.05em;}
.belowMALL		{width:145px;}
.belowMTTL a 	{ text-align:center; font-size:16px; color:#333333; }
.belowMTTL 		{text-align: center; padding:10px 0px 5px 0px; letter-spacing:-0.05em;}
.belowMimg a 	{ text-align:center; font-size:16px; color:#333333;}
.belowMimg 		{text-align: center;}
.belowMimg img	{padding: 0 0 10px 0; width:145px; height:101px;}
.belowMttl a 	{ text-align:center; font-size:13px; color:#333; font-family: georgia; font-size: 13px;}
.belowMttl		{text-align: center;}
.belowMmore		{text-align: center;}
.belowMmore a	{color: #32789B; text-decoration: none; padding: 8px 0 0 0; display: block; font-family: georgia; font-size: 13px;}
.mc609, .mc610, .mc611 {width:160px; display:block;}


.CaptchaLabel 					{width:100%; font-family:Georgia, Times New Roman, Times, serif; font-size:12px; text-transform: uppercase ; color:#999;}


.path a:link, .path a:active, .path a:visited .path	{color:#333; text-decoration:none; font-size:14px; margin: -15px; padding:26px 0;} 

.grid_16.Sliders 		{padding:15px 0;}
.Slider.TTL	        {padding:20px 0; width:950px; margin:0 auto;text-align:center; clear:both;}
.Slider.TTLBrak		{ font-size:50px; color:#999;}
.Slider.TTLline		{ border-top:1px solid #666;width:250px;height: 11px;}
.Slider.TTLline2	{ border-top:1px solid #666;width:260px;height: 11px;}
.Slider.TXT			{font-size:35px; color:#000; font-style:italic;}
.Slider.TTL > * 	{display:inline-block}



.breadcramps {float:left; margin: 11px 0; border-bottom: 3px solid #ccc; width: 100%; padding: 0 0 10px 0; display:inline;}
.breadcramps .pathitm,
.breadcramps .articleTitle,
.breadcramps .pathitm a:link {margin:0 10px !important; white-space:nowrap; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px;}
.breadcramps .path .link.home a	{margin:0 10px 0 0;}
.breadcramps .path a{ color:#006699; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; padding:0;}
.breadcramps .link, .breadcramps .path, .breadcramps .articleTitle {float:left;}
.breadcramps .separator {float:left; font-size: 10px; line-height: 12px;}
.breadcramps .last-item {color:#333; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px;margin: 0 0 0 10px; float:left;}

.breadcrampsApopsi {float:left; margin: 0px 0px 10px 0px; border-bottom: 3px solid #ccc; width: 660px; padding: 0 0 10px 0; display:inline;}
.breadcrampsApopsi .pathitm,
.breadcrampsApopsi .articleTitle,
.breadcrampsApopsi .pathitm a:link {margin:0 10px !important; white-space:nowrap; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px;}
.breadcrampsApopsi .path .link.home a	{margin:0 10px 0 0;}
.breadcrampsApopsi .path a{ color:#006699; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; padding:0;}
.breadcrampsApopsi .link, .breadcramps .path, .breadcramps .articleTitle {float:left;}
.breadcrampsApopsi .separator {float:left; font-size: 10px; line-height: 12px;}
.breadcrampsApopsi .last-item {color:#333; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px;margin: 0 0 0 10px; float:left;}

.clear { clear:both;}



.ModBgd	{background:#600;}


/*.leftpane	{padding-top: 10px; }background:#fff;*/ 



.Scroller		{position: relative; width: 543px; height: 18px; overflow: hidden; border-top: 1px solid #CCC; border-bottom: 1px solid #CCC; height: 30px; background: white; padding: 10px 0 0 0; color: black;}


.UsefullLinks ul	{ margin:0 0 0 -15px;}
.UsefullLinks, .UsefullLinks a		{ padding:3px; font-size:12px; color:#000; font-family:arial;}
.UsefullLinks li	{margin:0;}

.rounded-grey	{width:100% !important;}

.elita-logo {margin-left: -13px; margin-top: -14px; position: absolute;}
.sentra-logo {margin-left: -7px; margin-top: -25px; position: absolute;}

.elita-sponsor-logo {margin-left: 485px; margin-top: -13px; position: absolute; float:left;}


/* --------------------- RIGHT CONTENT ---------------------------- */
.RightHTML	{background:#fff; }
.RightHTML h1	{margin: 10px 0px 0px 0px; padding: 10px; background: #E65923; color: white; font-size: 16px; font-weight: normal; text-transform: uppercase; }

.Banner3 {height:250px; width:300px;margin-bottom:20px;}

/* --------------------- RIGHT CONTENT END ---------------------------- */


/*------------------------CONTENT HACKS------------------------*/

.mc66 {padding-top:6px;}


/* ------------------- FOOTER MENU ------------------- */
.footer1 {margin-top: 3px; width:400px;  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:normal; color:#666666; font-size:11px; }
.footer1 a {margin-top: 3px; width:400px;  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:normal; color:#666666; font-size:11px; }
.footer2 a {margin: -13px 50px 0 0; width:400px; float:right; text-align:right; font-weight:normal; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color:#666666; font-size:11px;}
.sponsoredfooter 	{ background:url(images/sponsored-by.png) no-repeat center; width:1000px; height:50px; margin:20px 0;}


/* ------------------- SLIDER ------------------- */
.item		{float:left;display:block;}
.item img	{display:block}
.corner-stamp{color:#000;float:right;height:200px;width:210px;display:block; margin-top:-10px; font-family:Georgia; font-size:13px; }
.masonry-container{float:left;width:865px;min-height:400px;background:#fff;display:block}
.NextPrev {width:932px;height:305px;position: relative;z-index:10;}



.BreakingNews {float: left; height: 40px; width: 660px; background:#e9e9d7;margin-bottom: 3px;}

.BreakingNewsTTL {background: none repeat scroll 0 0 #ff0000; color: #FFFFFF; float: left;font-size: 14px; font-weight: normal; height: 20px;line-height: 20px; padding: 10px; text-align: center; width: 110px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.BreakingNewsTTL a {color: #FFFFFF;font-size: 14px; font-weight: normal;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none;}
.BreakingNewsTXT {float: left; width:520px;}
.BreakingNews ul {color: #000;list-style: none outside none;margin: 10px 0 0 -20px;width: 500px;}
.BreakingNews ul li a:link,
.BreakingNews ul li a:hover,
.BreakingNews ul li a:visited {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #000 !important; display: block; width: 100%; text-decoration:none; font-size:13px; padding:2px 0;}

/*DIALOG*/
.ui-dialog { position: absolute; padding: 5px; width: 400px; overflow: hidden;  }
.ui-dialog .ui-dialog-titlebar {  position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: 5px 5px 5px 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 5px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; height: 20px;}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: 5px 5px; background: none; overflow: auto;  }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: 5px 0 0 0; padding: 5px; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5px 5px 5px 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
/*.ui-dialog-content .signin {float:left;padding-right:10px}*/
.ui-dialog-content .register {float:left;}

.sitemap{padding:45px}
.sitemap .column{float:left;width:300px;}
.sitemap .title{ font-style:italic;font-size:24px;}
.sitemap .row{ padding-bottom:40px}
.sitemap .linkPage a:visited,
.sitemap .linkPage a:link,
.sitemap .linkPage a:hover{color: #848587;font-size: 16px;margin: 5px 0 0;text-decoration: none;}

.errorMessage{color:#FF0000;}
.register .errorMessage{padding:10px 10px;}
.signin  .errorMessage{padding:10px 10px;clear:both;}

.categoryName a  {font-size: 13px; color: #333; font-family: Georgia, "Times New Roman", Times, serif; padding: 0 0 2px 0;}

.password-reminder	{float: left; background: #B6BFC0; padding:15px;}

.password-reminder .label {color: #333; font-size: 14px; padding: 10px 0 00px 0; margin: 0 0 5px 0; font-weight: bold; border-top: 0px solid #333;}

.password-reminder .input-data input {width:240px;}

.password-reminder .input-container	{ float:left;}
.password-reminder .input-container input	{ float:left; margin:5px 0 0 10px; width:130px;}

.password-reminder .image-container img	{ float:left;}
.password-reminder .image-container	{ display:block;}
.password-reminder .submit-button input {padding: 5px 10px; width: 100px; float: right; background: #687071; color: white; font-size: 14px; font-family: Georgia, "Times New Roman", Times, serif; border: none; cursor: pointer; margin:20px 0 0 0;}



	.slider-white-box {background-color: #fff; height:120px; line-height: 50px; margin:250px 10px 0px; opacity: 0.8;  width: 640px; filter: alpha(opacity=80); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/ z-index:1; position:relative;}
    .topStories-slideshow_content{min-width: 660px; min-height: 385px;}
    .topStories-corners{clear: both;position: relative;width: 662px;height: 385px;}
    .topStories-prev-slider{background-image: url("/data/HOMESLIDER/slider_left.png");background-position: center center;background-repeat: no-repeat;cursor: pointer;height: 16px;width: 16px;position: absolute;right: 36px;top: 260px; z-index:101;}
    .topStories-next-slider{background-image: url("/data/HOMESLIDER/slider_right.png");background-position: center center;background-repeat: no-repeat;cursor: pointer;height: 16px;width: 16px;position: absolute;right: 16px;top: 260px; z-index:101;}
    .topStories-corners .fill-me	{height: 110px;margin:0px 10px 0 10px;opacity: 1; position:absolute; z-index: 100; }
	.topStories-corners .fill-me .title {text-transform:uppercase;}
	.topStories-corners .fill-me .superTitle {height: 53px; line-height: 20px;margin-left: 15px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 14px; font-weight:bold;}
    .topStories-corners .fill-me a { color: #000; font-family: "Times New Roman", Times, serif; font-size: 25px;  margin-left: 15px; text-decoration: none;}
    .topStories-slide_more {height: 25px; line-height: 25px; margin-left: 10px; margin-top: -26px; opacity: 0.9; position: relative; }
    #topStories-slideshow_container { height: 385px; overflow: hidden; padding: 0; position: absolute; width: 660px; }
    /*root element for scrollable items. Must be absolutely positioned
        and it should have a extremely large width to accommodate scrollable items.
        it's enough that you set width and height for the root element and
        not for this element.*/
    #topStories-slideshow_container .items { /* this cannot be too large */ width: 20000em; position: absolute; }
    .topStories-slideshow_content 	{ background: none repeat scroll 0 0 #50544B; float: left; height: 385px; width: 660px; }


.search-trigger, .search-trigger a	{ width:50px; background:; cursor:pointer;}
.search-trigger						{ background:url(images/search.png) no-repeat center; height:55px;}


.search-container		{float: right;height: 55px;line-height: 55px;margin: auto;vertical-align: middle; background:#cc0000;}

.search-box				{background: none repeat scroll 0 0 #cc0000;display: block; position: absolute; right:0; z-index: 10; padding:10px;}
.search-box	input		{width:200px; height:25px; border:none; padding:0 10px;}
.search-box	input.searchBtn { background:#333; color:#fff; width:100px; border:0; float:right; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; margin:15px 0 0 0;}


.blockPage {}

.contact-form.ui-dialog-content.ui-widget-content {background: #BFB6B6; margin:20px; height:auto !important;}
.contact-form .title {color:#fff; text-transform:uppercase; font-size:18px; font-family:"Times New Roman", Times, serif; padding:20px 0;}
.contact-form .input-data input {width:100%;}

.contact-form .CaptchaLabel 	{color:#000; font-family:"Times New Roman", Times, serif; font-style:italic; font-size:14px; text-transform:capitalize; margin:20px 0 0 0;}
.contact-form .label 			{color:#000; font-family:"Times New Roman", Times, serif; font-style:italic; font-size:16px; text-transform:capitalize;}

.contact-form .input-data textarea {width:100%; height:100px;}

.contact-form .captcha-control .input-container { float:left;}
.contact-form .captcha-control .image-container {float:left; padding:5px 10px 0 0;}

.contact-form .submit-button input
{padding: 5px 10px; margin: 15px 0; width: 100px; float: right; background: #716868; color: white; font-size: 14px; font-family: Georgia, "Times New Roman", Times, serif; border: none; cursor: pointer;}

.contact-form .second-row {clear:both;}



.PageStripLeft {float:left; width: 50px; padding-right: 15px; padding-top: 5px; display:none;}
.PageStripRight {float:left; width: 50px; padding-top: 5px; display:none;}


.playButton				{position:absolute; z-index: 1; margin-top: -110px; margin-left: 115px;}

.playButtonMultiple		{position:absolute; z-index: 100; margin-top: -70px;padding-left: 56px;}

.mc970 .pageNumbers 	{float:none;}
.mc970 .pageNumbers a 	{text-decoration:none; color:#333; font-family: "Trebuchet MS", Arial, Helveticam sans-serif;}


.searchCont .search-panel	{ background:#D8E4EA; padding:20px; float: left;}
.searchCont .title			{font-size: 30px; padding:0 0 20px 0; color:#333; font-style:italic; border-bottom:1px solid #333;}
.searchControl .label.Keywords, .searchControl .input.Keywords	{ float:left;}
.searchControl .row	{ clear:both; height: 50px; margin: 20px 0;}
.searchControl .label.Period, .searchControl .input.Period	{ float:left;}
.searchControl .label	{ width:200px; text-align:right; line-height: 40px; font-size: 16px; font-style: italic;}
.searchControl .input	{ margin:0 20px; }
.searchControl .input.Keywords input {height: 40px; border: 0; width: 350px; padding: 0 10px; color: #999; font-size: 16px; font-style: italic; font-family:"Times New Roman", Times, serif; }
.searchCont .searchBtn input		{ float:right;background: #C5001A; border: 0; padding: 10px 20px; color:#FFF; font-size: 14px; font-family: "Times New Roman", Times, serif;margin: 0 20px 0 0;}
.searchControl .ddContainer a		{ border: 0; width: 350px; padding: 0 10px; color: #999; font-size: 16px; font-style: italic; font-family:"Times New Roman", Times, serif; float:left;text-decoration: none; }
.searchControl .ddContainer			{ height: 30px;background:#fff;width: 370px;  padding: 10px 0 0 0;}
.searchControl .ddOptionList		{ line-height:1;background:#fff;width: 370px;}
.searchControl .ddContainer ul 		{ list-style:none;line-height: 20px;float: left; width: 330px; margin: 0 0 20px 0; padding: 10px 20px;}
.searchControl a.ddToggle{background-image: url('/images/arrow-down.png');background-repeat: no-repeat;background-position-x: right;}

.searchControl .row.SearchIn	{ clear:both; height: 80px; margin: 20px 0;}

.searchResultTitle					{display:block;}
.searchResult .sTitle a				{color:#C5001A; font-size:18px; margin: 5px 0 0; text-decoration: none;}
.searchResultTitle h2				{font-weight:normal;}
.searchResult						{margin:20px 0; float:left;}
td.searchResultI, td.searchResultAI				{padding:10px 0; border-bottom:2px dotted #333;}
.searchResultI .date, .searchResultAI .date		{color:#333; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px;}


#SeparationLineRP	{ border-left: 1px solid #EAEAEA; padding-left: 10px; margin-left: -10px; }
#SpaceRP			{padding-left:10px;}

#SeparationLineCP3	{ border-left: 2px dotted #EAEAEA; padding-left: 10px; margin-left: -10px; }
#SpaceCP3			{ padding-left:15px; }

.w320 #SeparationLineCP3 { border-left: 1px solid #EAEAEA; padding-left: 10px; margin-left: -10px; }

/*#SeparationLineCP2	{ border-left: 1px solid #EAEAEA; padding-left: 10px; margin-left: -10px; }
*/
#SpaceCP2			{ padding-left:10px; }

.HomeFeaturedSlider { width:660px; height:400px; margin:0px; background:#99997C; clear: both; }

.HomeFeaturedSliderLeft {float:left; width:460px;}
.HomeFeaturedSliderRight{float:left; width:230px;background: no-repeat url(/templates/data/layout/bb-shadow.png);}

.HomeFeaturedArticleContainer         { width:100%; height:310px; color:#fff;}

.HomeFeaturedArticleContainer > div         { margin: 0px; }

.HomeFeaturedPagerContainer         { width:100%; height:35px; background-color:#333; text-align: center; }
.HomeFeaturedPagerContainer a         { font: normal normal normal 16px/35px "Times New Roman", Times, serif; color: #666; text-decoration: none; margin: 0px 6px; }
.HomeFeaturedArticleContainer a:link 	{color:#FFF;}

.HomeSliderRead				{padding:15px 0 0 0;}
.HomeSliderRead a 			{width:107px; height:34px; /*background:url(images/HSlider-more-a.png) no-repeat;*/ display: block; text-decoration:none;} 
.HomeSliderRead a:hover 	{width:107px; height:34px; /*background:url(images/HSlider-more-h.png) no-repeat;*/ display: block; text-decoration:none;} 

.HomeFeaturedPagerContainer a:hover			{text-decoration:underline; color:#FFF !important;}
.HomeFeaturedPagerContainer a.activeSlide	{font-weight:bold; color:#FFF !important;}

.HomeFeaturedArticleList			{width:100%; height: 90px; margin: 0; padding: 0; overflow: hidden; }

.HomeFeaturedArticleList ul         { margin: 0; padding: 0; position: relative; }

.HomeFeaturedArticleList li         					{list-style:none;color:#999; float: left; width: 110px; background:#E8E8DB; height: 90px;}
.HomeFeaturedSlider .HomeFeaturedPagerControl           {float:right; display:inline-block; width:8px; height:35px;background: url(pause.png) no-repeat center center;}
.HomeFeaturedSlider.paused .HomeFeaturedPagerControl    {background: url(play.png) no-repeat center center;}

.HomeFeaturedArticleList li a       {text-decoration: none; display:block;   color: #333; font-weight:normal;}/**/
li .SliderCatTTL a       			{ font-family:Georgia, "Times New Roman", Times, serif; 	color: #333; font-weight:normal; font-size:12px; padding:16px 10px 5px 10px;}/**/
li .SliderCatCont a       			{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color: #333; font-weight:normal; font-size:12px; padding:0px 10px 5px 10px;}/**/
li .SliderCatAll					{height:90px;}

.HomeFeaturedArticleList li .SliderCatAll:hover,
.HomeFeaturedArticleList li .SliderCatAll:hover a	{ background:#cc0000; 	color:#fff;}

.HomeFeaturedArticleList li.activeSlide a   {color:#cc0000;  /*background:url(/templates/data/layout/gray-ar-l.png) no-repeat; background-position:220px 50%;*/}
/*.arrow-up-hover { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #CC0000; top:348px; position: absolute; z-index:100;border-bottom-color:#CC0000;}*/

.HomeFeaturedControls               {width:100%; height:35px; text-align:center}
.HomeFeaturedControls a             {display:inline-block; margin:-5px; height:35px;width:24px;}
.HomeFeaturedControls a.up          {background:no-repeat url(/templates/data/layout/arrow-up-brown.png) center center}
.HomeFeaturedControls a.down        {background:no-repeat url(/templates/data/layout/arrow-down-brown.png) center center}



.NewsHome .HomeFeaturedControls a.up:hover    {background:no-repeat url(/templates/data/layout/arrow-up-green.png) center center}
.NewsHome .HomeFeaturedControls a.down:hover  {background:no-repeat url(/templates/data/layout/arrow-down-green.png) center center}

.GuideHome .HomeFeaturedControls a.up:hover    {background:no-repeat url(/templates/data/layout/arrow-up-orange.png) center center}
.GuideHome .HomeFeaturedControls a.down:hover  {background:no-repeat url(/templates/data/layout/arrow-down-orange.png) center center}


.HomeFeaturedPagerPrev, .HomeFeaturedPagerPrev a:link, .HomeFeaturedPagerPrev a:hover {color:#ccc !important; font-size:12px !important; }

.HomeFeaturedPagerNext, .HomeFeaturedPagerNext a:hover {color:#999 !important; font-size:12px !important; }

.HomeFeaturedPagerContainer, .HomeFeaturedPagerContainer a:link, .HomeFeaturedPagerContainer a:hover {color:#999; font-size:12px !important; }

.HomeFeaturedArticleList li.alternate	{ background:#ddddca;}

.HomeFeaturedPager .activeSlide a	{color:#fff !important;}
.HomeSliderIMG img {float:left; height:310px; width:440px;}
.HomeSliderTTL  { float:right; width:190px; text-align:left; padding:20px 15px 0 10px; font-size:19px; font-family: Georgia, "Times New Roman", Times, serif}
.HomeSliderTXT  { float:right; width:190px; text-align:left; padding:15px 15px 10px 10px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;}


.articlesponsors 	{float:right; font-size:10px; margin:5px 0 0 0;}
.articlesponsorsimg {float:right;}

.item.lastItem { /*margin:0 0 10px  0;*/}

.icons-all	{/*padding:10px 0;*/}
.icons-all .icons {float:left; padding:10px 2px 0px 2px;}
.RightColTTL	{padding:10px 0px 5px 0px; letter-spacing:-0.05em; color:#EE3D3B;}

.imgTitleSentra {padding-right: 14px; color: #333; font-family: Georgia, "Times New Roman", Times, serif; font-size:15px}

.mc262.going-out-menu { height: 50px; padding: 36px 0 15px 0;}



.login-container,.register-container{padding:20px;background: none repeat scroll 0 0 #B6BFC0;float:left;width: 420px;}
.login-container .signin,.register-container .register {color: #666666;font-family: Georgia,"Times New Roman",Times,serif;font-size: 14px;font-style: italic;}
.login-container a, .register-container a {color: #222222;}
.login-container .signin input,.register-container .register input,.register-container .register select {width: 100%;}
.register-sub-head {border-bottom: 2px solid #333333;color: #333333;font-size: 14px;font-weight: bold;margin: 0 0 10px;padding: 0 0 10px;}
.register-head {color: #FFFFFF;font-size: 18px;padding: 0 0 15px;text-transform: uppercase;}

.passrem-login .submit-button {float: right;}
.login-container  .submit-button input {background: none repeat scroll 0 0 #687071;border: medium none;color: #FFFFFF;cursor: pointer;float: right;font-family: Georgia,"Times New Roman",Times,serif;font-size: 14px;padding: 5px 10px;width: 100px;}
.register-container .submit-button input{background: none repeat scroll 0 0 #687071;border: medium none;color: #FFFFFF;cursor: pointer;float: right;font-family: Georgia,"Times New Roman",Times,serif;font-size: 14px;margin: 15px 0;padding: 5px 10px;width: 100px;}
.register-container .second-row{clear:both;}
.login-container .errorMessage{clear: both;padding: 10px;}
.register-container .errorMessage{padding: 10px;}

.contact-form .title {color: #FFFFFF; font-family: "Times New Roman",Times,serif;font-size: 18px; padding: 20px 0; text-transform: uppercase;}
.contact-form .label {color: #000000; font-family: "Times New Roman",Times,serif;font-size: 16px; font-style: italic;text-transform: capitalize;}
.contact-form {float: left;padding: 0 20px 20px;width: 420px;}
.contact-form .errorMessage {padding: 10px;clear:both;}



#toTop {display:none;text-decoration:none;position:fixed;bottom:20px;right:20px;overflow:hidden;width:51px;height:51px;border:none;text-indent:100%;background:url(/templates/images/elements/totop.png) no-repeat left top;z-index:100000;}
#toTopHover {background:url(/templates/images/elements/totop.png) no-repeat left -51px;width:51px;height:51px;display:block;overflow:hidden;float:left;opacity: 0;-moz-opacity: 0;filter:alpha(opacity=0);z-index:100000;}
#toTop:active, #toTop:focus {outline:none;}

.data {float:left;}

.addthis-Social { float: left;margin-top:-18px; width:320px; }

.addthis-Social a {float: left; line-height: 0; white-space: nowrap; width: 90px;}

.Prop_Title {margin-left:368px; width:140px;margin-top:6px;margin-bottom:8px;padding-bottom:15px;top:172px;border-bottom: 1px #ccc solid;}
/*.mc1898 .data {margin-top:-365px;}*/

.mc2112 {margin-top:20px;width:1010px;}

.mc283 {width:1010px;margin-top: -13px;}

.mc2113 {border-right: 2px dotted #CCC; padding-right: 18px;}

.mc2284 {border-right: 2px dotted #CCC; padding: 9px 17px 0 0;}