﻿Τ.videoCont-in .row				{padding: 15px 20px 15px 0; display: block; width: 150px; float:left; height:200px;}
.videoCont-in .row img				{ padding:0 0 10px 0; cursor: pointer;}
.videoCont-in .latest-list-article-title	{font-size:25px; font-family:Georgia, "Times New Roman", Times, serif; color:#006699; padding: 0 10px 10px 0; cursor: pointer;}
.videoCont-in .latest-list-article-body	{font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#000000; padding: 10px 10px 0 0;}

/*img#ctl00_cp_ctl01_rp_ctl01_youtubeImg {width: 120px; height: 90px;}*/




.mc680 .ui-widget-header,
.mc20 .ui-widget-header,
.mc20 .ui-widget-header,
.mc704 .ui-widget-header,
.mc705 .ui-widget-header,
.mc706 .ui-widget-header,
.mc707 .ui-widget-header,
.mc721 .ui-widget-header,
.mc722 .ui-widget-header,
.mc886 .ui-widget-header	{background:none; border:none;}

.mc680 .ui-widget-content,
.mc20 .ui-widget-content,
.mc21 .ui-widget-content,
.mc704 .ui-widget-content,
.mc705 .ui-widget-content,
.mc706 .ui-widget-content,
.mc707 .ui-widget-content,
.mc721 .ui-widget-content,
.mc722 .ui-widget-content,
.mc886 .ui-widget-content	{background:none; border:none;}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {background:#cfe0e3; border:none;}

.mc680 .ui-tabs .ui-tabs-nav li,
.mc20 .ui-tabs .ui-tabs-nav li,
.mc21 .ui-tabs .ui-tabs-nav li,
.mc704 .ui-tabs .ui-tabs-nav li,
.mc705 .ui-tabs .ui-tabs-nav li,
.mc706 .ui-tabs .ui-tabs-nav li,
.mc707 .ui-tabs .ui-tabs-nav li,
.mc721 .ui-tabs .ui-tabs-nav li, 
.mc722 .ui-tabs .ui-tabs-nav li,
.mc886 .ui-tabs .ui-tabs-nav li  
{list-style: none; float: left; position: relative; top: 0; white-space: nowrap; width: 139px; text-align: center; color: white; padding:10px 10px 8px 0; margin: 0 0px 0 0;}


.mc680 .ui-tabs .ui-tabs-panel,
.mc20 .ui-tabs .ui-tabs-panel,
.mc21 .ui-tabs .ui-tabs-panel,
.mc704 .ui-tabs .ui-tabs-panel,
.mc705 .ui-tabs .ui-tabs-panel,
.mc706 .ui-tabs .ui-tabs-panel,
.mc707 .ui-tabs .ui-tabs-panel,
.mc721 .ui-tabs .ui-tabs-panel,
.mc722 .ui-tabs .ui-tabs-panel,
.mc886 .ui-tabs .ui-tabs-panel
{display: block; border-width: 0; padding:0; background: none;}

.mc680 .ui-tabs .ui-tabs-nav li a,
.mc20 .ui-tabs .ui-tabs-nav li a,
.mc21 .ui-tabs .ui-tabs-nav li a,
.mc704 .ui-tabs .ui-tabs-nav li a,
.mc705 .ui-tabs .ui-tabs-nav li a,
.mc706 .ui-tabs .ui-tabs-nav li a,
.mc707 .ui-tabs .ui-tabs-nav li a,
.mc721 .ui-tabs .ui-tabs-nav li a,
.mc722 .ui-tabs .ui-tabs-nav li a,
.mc886 .ui-tabs .ui-tabs-nav li a
{ padding:0; font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; font-weight:normal;}

.mc21 .ui-tabs .ui-tabs-nav li a#ui-id-4 {color:#F00;} 

.mc680 .ui-tabs .ui-tabs-nav,
.mc20 .ui-tabs .ui-tabs-nav,
.mc21 .ui-tabs .ui-tabs-nav,
.mc704 .ui-tabs .ui-tabs-nav,
.mc705 .ui-tabs .ui-tabs-nav,
.mc706 .ui-tabs .ui-tabs-nav,
.mc707 .ui-tabs .ui-tabs-nav,
.mc721 .ui-tabs .ui-tabs-nav,
.mc722 .ui-tabs .ui-tabs-nav,
.mc886 .ui-tabs .ui-tabs-nav
{margin: 0; padding: 0; font-size: 14px; color: white; font-family: Georgia, "Times New Roman", Times, serif; float: left; border-bottom: 3px solid #117099; width:100%; }/*margin: 10px 0 5px 0;*/



.mc680 .ui-state-default,
.mc20 .ui-state-default,
.mc21 .ui-state-default,
.mc704 .ui-state-default,
.mc705 .ui-state-default,
.mc706 .ui-state-default,
.mc707 .ui-state-default,
.mc721 .ui-state-default,
.mc722 .ui-state-default,
.mc886 .ui-state-default 	{background:#CFE0E3;}


.mc680 .ui-tabs-active,
.mc20 .ui-tabs-active,
.mc21 .ui-tabs-active,
.mc704 .ui-tabs-active,
.mc705 .ui-tabs-active,	
.mc706 .ui-tabs-active,	
.mc707 .ui-tabs-active,
.mc721 .ui-tabs-active,
.mc722 .ui-tabs-active,
.mc886 .ui-tabs-active		{background:#117099;}

.mc680 .ui-state-default a,
.mc20 .ui-state-default a,
.mc21 .ui-state-default a,
.mc704 .ui-state-default a,
.mc705 .ui-state-default a,
.mc706 .ui-state-default a,
.mc707 .ui-state-default a,
.mc721 .ui-state-default a,
.mc722 .ui-state-default a,
.mc886 .ui-state-default a	{color:#ff1100;}

.mc680 .ui-tabs-active a,
.mc20 .ui-tabs-active a, 
.mc21 .ui-tabs-active a,
.mc704 .ui-tabs-active a,
.mc705 .ui-tabs-active a,
.mc706 .ui-tabs-active a,
.mc707 .ui-tabs-active a,
.mc721 .ui-tabs-active a,
.mc722 .ui-tabs-active a,
.mc886 .ui-tabs-active a	{color:#ffffff;}

.mc680 .item,
.mc704 .item,
.mc705 .item,
.mc706 .item,
.mc707 .item,
.mc721 .item,
.mc722 .item {width:160px; padding-right:5px; height:760px;}


.mc680 .article-body,
.mc704 .article-body,
.mc705 .article-body,
.mc706 .article-body,
.mc707 .article-body,
.mc721 .article-body,
.mc722 .article-body,
.mc886 .article-body
{border-right:2px dotted #666; font-family:Georgia; font-size:12px; padding-right:5px; padding-left:5px;}


.mc680 .article-title,
.mc704 .article-title,
.mc705 .article-title,
.mc706 .article-title,
.mc707 .article-title,
.mc721 .article-title,
.mc722 .article-title,
.mc886 .article-title
 {font-family:Georgia; font-weight:bold; font-size:12px; margin-bottom:15px; padding-top:10px;}


.mc886 .item   {width:300px; padding-right:5px; height:220px;}


/*#ctl00_cp1_ctl01_dl { width: 990px !important;}*/

.mc529 {border-top: 2px solid #117099; height:90px; }
.mc528 {border-top: 2px solid #117099; height:90px; }


.mc418, .mc422 { border-top: 1px solid #333; padding:4px 0 0 0; overflow:auto;}
.mc418			{  padding:4px 0 20px 0;}

.mc554, .mc592, .mc556 	{padding:20px 0 0 0;} 
.mc21							{ padding:10px 0 0 0;}
.mc532							{padding:20px 0;}
.mc556 	{padding:20px 0 0 0;} 

.mc16 {height:477px;}

/* -----------------------  THEMES  ----------------------- */

/* ---------------------  OIKONOMIA  ---------------------- */
.oikon .Single.Fapopsifull.artcl,
.oikon div.m1 li.active a,
.oikon div.m1 a:hover	{color:#996600;}

.oikon.container_6 .grid_1 		{width: 240px;}
.oikon.container_6 .grid_3		{width: 400px;}
.oikon.Fapopsifull.artcl.img img {width:400px;}
.oikon.Fapopsifull.artcl.img 	{width: 400px; position: relative; border: 0px solid #333; padding: 0px;}
.oikon.Fapopsifull 				{width: 400px;}
.oikon.Fapopsiartclall 			{width: 400px; padding: 0;}
.last .oikon.Fapopsiartclall 	{ padding:0 0 10px 0;}
.oikon.Fapopsiartcl.ttl			{color:#996600; font-size: 13px; padding:10px 0;}
.oikon.Fapopsiartcl.ttl a			{color:#996600; font-size: 13px;}
.oikon.Fapopsifull.artcl.mrimgs	{color:#996600; font-size: 17px; padding:15px 0 0 0;}
.oikon.Fapopsifull.artcl.mrimgs a	{color:#996600; font-size: 17px; padding:0; font-family:Georgia, "Times New Roman", Times, serif; line-height: normal;}
.oikon div.Fapopsiartcl a		{color:#996600;}

.oikon .Single.Fapopsifull.artcl.mrimgs		{color: #333333;}
div.Fapopsifull .oikonSingle.updatedArcl	{background: #996600;}

.oikon .mc20 .ui-state-default	{background:#dcbd5e;}
.oikon .mc20 .ui-tabs-active	{background:#cc9900;}

.oikon .mc20 .ui-state-default a	{color:#666;}
.oikon .mc20 .ui-tabs-active a		{color:#ffffff;}
.oikon .mc20 .ui-tabs .ui-tabs-nav 	{border-bottom: 3px solid #cc9900;}

.oikon .auth.TTL	{background: #cc9900;}
.mc361	{ background:url(images/economy/mid-column-upper-decorative.png) left top no-repeat; float:right;}
.mc362	{ background:url(images/economy/mid-column-lower-decorative.png) right bottom no-repeat; float:right;}
.mc361 .par-section				{margin:7px 7px 0 7px;}
.mc362 .par-section				{margin:0px 7px 7px 7px;}
.oikon .arclEmail a, .oikon .arclPrint a { color:#996600;}

.oikon .par-section .sectionhomevert.more a {font-size: 13px; color: #996600;}
.oikon .par-section .sectionhomevert.more {padding: 5px 0 0 0;}
.oikon .last .sectionhomevertall { border:none; padding-top: 5px;}


.oikon .previous-page,
.oikon .currentPage-out,
.oikon .pageNumber-out a,
.oikon .next-page				{background: #cc9900;}
.oikon .currentPage-out		{color:#993300; background: #CDCDCD;}

.oikon .Fapopsifull.artcl.more,
.oikon .Fapopsifull.artcl.phot,
.oikon .Fapopsifull.artcl.com	{ float:left; color:#cc9900; width:auto; margin:0 15px 0 0;}
.oikon .Fapopsifull.artcl.com	{ background:url(images/elements/comment-e.png) no-repeat 0 0px; padding-left: 20px; padding-top:0;}
.oikon .Fapopsifull.artcl.com img {margin:5px 0 0 0;}
.oikon .Fapopsifull.artcl.allcom { float:left; padding: 0;}
.oikon .Fapopsifull.artcl a	{ padding:0; border:0; color:#cc9900;}

.oikon .Fapopsiartclall .updatedArcl, 
.oikon div.Fapopsifull .updatedArcl, 
.oikon div.Fapopsifull .updatedArcl-home { background:#cc9900;}

.oikon .more-news a	{ color:#C90;}

.oikon .article-suptitle {color:#c90;}
.oikon-catttl { font-size: 13px;color: #333;font-family: Trebuchet MS ;padding: 5px 0 5px 0; border-top:2px solid #336799;}

.mc359 {height:540px;}
.mc812 {height:540px;}
.mc315 {height:540px;}
/* ---------------------  KOINONIA  ---------------------- */

.koinonSingle.Fapopsifull.artcl,
.koinon div.m1 li.active a,
.koinon div.m1 a:hover		{color:#cc0000;   }

.koinon .submenu.active ul .active a {}

.koinon.container_6 .grid_1 		{width: 240px;}
.koinon.container_6 .grid_3		{width: 400px;}
.koinon.Fapopsifull.artcl.img img {width:400px;}
.koinon.Fapopsifull.artcl.img 	{width: 400px; position: relative; border: 0px solid #333; padding: 0px;}
.koinon.Fapopsifull 				{width: 400px;}
.koinon.Fapopsiartclall 			{width: 400px; padding: 10px 0 0 0;}
.koinon.Fapopsiartcl.ttl			{color:#cc0000; font-size: 13px;}
.koinon.Fapopsifull.artcl.mrimgs	{color:#cc0000; font-size: 17px; padding:15px 0 0 0;}
.koinon.Fapopsifull.artcl.com		{color:#cc0000;}

.koinon.Fapopsiartcl.ttl a			{color:#cc0000; font-size: 13px;}
.koinon.Fapopsifull.artcl.mrimgs a	{color:#cc0000; font-size: 17px; padding:15px 0 0 0; font-family:Georgia, "Times New Roman", Times, serif; line-height: normal;}
.koinon div.Fapopsiartcl a		{color:#cc0000;}



.koinonSingle.Fapopsifull.artcl.mrimgs		{color: #333333;}
div.Fapopsifull .oikonSingle.updatedArcl	{background: #996600;}

.koinon .mc20 .ui-state-default	{background:#dcbd5e;}
.koinon .mc20 .ui-tabs-active	{background:#cc9900;}

.koinon .mc20 .ui-state-default a	{color:#666;}
.koinon .mc20 .ui-tabs-active a		{color:#ffffff;}
.koinon .mc20 .ui-tabs .ui-tabs-nav 	{border-bottom: 3px solid #cc9900;}

.koinon .auth.TTL	{background: #CC0000;}

.mc419	{ background:url(images/koinonia/mid-column-upper-decorative-koin.png) left top no-repeat; float:right;}
.mc421	{ background:url(images/koinonia/mid-column-lower-decorative-koin.png) right bottom no-repeat; float:right;}
.mc419 .par-section				{margin:7px 7px 0 7px;}
.mc421 .par-section				{margin:0px 7px 7px 7px;}
.mc423							{height:225px; padding: 0 0 30px 0;}

.koinon .par-section					{background:#FBE1DF;}
.koinon .par-section .ltstnews.tpttl	{background:#CC3333;}
.koinon .par-section .sectionhomevert	{}
.koinon .par-section .sectionhomevert.more a	{	font-size:13px; color:#cc0000;}
.koinon .par-section .sectionhomevert.more 	{ padding:5px 0 0 0;}

.koinon .EPIST-all	{background:#FED9D9;}
.koinon .EPIST-MORE {background:#FAE7E3;}
.koinon .EPIST-auth		{background:#660000;}

.koinon .Dial-all	{background:#FED9D9;}
.koinon .Dial-MORE 	{background:#FAE7E3;}
.koinon .Dial-auth	{background:#660000;}
.koinon .Dial-quest-top		{ background:#600; font-size: 35px; font-weight: bold; padding: 15px 15px 0 15px; color:#FFF;}
.koinon .Dial-top 				{font-size: 35px; font-weight: bold; margin: 15px 15px 0 15px; }/*background:none; */


.koinon .Single.Fapopsifull.artcl.mrimgs		{color: #333333;}
.koinon .Single.Fapopsifull.artcl.com			{ color:#cc0000;}
.koinon .Fapopsiartcl.ttl					{ color:#cc0000;}
.koinon .arclEmail a, .koinon .arclPrint a { color:#cc0000;}
.koinon .BGCONT, .mc423 {background: white; border-bottom: 2px solid #cc0000; }/*margin: 0 0 10px 0;*/

.koinon .previous-page,
.koinon .currentPage-out,
.koinon .pageNumber-out a,
.koinon .next-page				{background: #CC3333;}
.koinon .currentPage-out		{color:#CC3333; background: #CDCDCD;}


.koinon .Fapopsifull.artcl.more,
.koinon .Fapopsifull.artcl.phot,
.koinon .Fapopsifull.artcl.com	{ float:left; color:#cc0000; width:auto; margin:0 15px 0 0;}
.koinon .Fapopsifull.artcl.com	{ background:url(images/elements/comment-k.png) no-repeat 0 0px; padding-left: 20px;}
.koinon .Fapopsifull.artcl.com img {margin:5px 0 0 0;}
.koinon .Fapopsifull.artcl.allcom { float:left;}
.koinon .Fapopsifull.artcl a	{ padding:0; border:0; color:#cc0000;}
.koinon div.Fapopsifull .updatedArcl { background:#cc0000;}

.koinon .more-news a	{ color:#cc0000;}
.koinon .EPIST-quest-top		{ background:#600; font-size: 35px; font-weight: bold; padding: 15px 15px 0 15px; color:#FFF;}
.koinon .EPIST-top 				{font-size: 35px; font-weight: bold; }/*background:none; margin: 15px 15px 0 15px;*/
.koinon .sectionhomevertall {border-bottom: 1px solid #E6B4B4;}
.koinon .last .sectionhomevertall { border:none; padding-top: 5px;}

/* ---------------------  kali-zoi  ---------------------- */

.kali-zoi .Fapopsifull.artcl.more,
.kali-zoi .Fapopsifull.artcl.phot,
.kali-zoi .Fapopsifull.artcl.com	{ float:left; color:#993300; width:auto; margin:0 15px 0 0;}
.kali-zoi .Fapopsifull.artcl.com	{ background:url(images/elements/comment-kz.png) no-repeat 0 0px; padding-left: 20px;}

.kali-zoiSingle.Fapopsifull.artcl,
.kali-zoi div.m1 li.active a,
.kali-zoi div.m1 a:hover		{color:#993300;}

.kali-zoi div.m5 a:hover,
.kali-zoi div.m5 li.active a				{color:#993300;}

.kali-zoiSingle.Fapopsifull.artcl.mrimgs		{color: #333333;}
div.Fapopsifull .kali-zoiSingle.updatedArcl	{background: #996600;}

.kali-zoi .auth.TTL	{background: #CC3300;}

.kali-zoi .Fapopsiartcl.ttl	 a	{ color:#993300;}

.kali-zoi .previous-page,
.kali-zoi .currentPage-out,
.kali-zoi .pageNumber-out a,
.kali-zoi .next-page			{background: #993300;}
.kali-zoi .currentPage-out		{color:#993300; background: #CDCDCD;}

.kali-zoi .BGCONT 		{border-bottom: 2px solid #cc3300;}
.kali-zoi .arclEmail a,
.kali-zoi .arclPrint a					{color:#993300;}

.kali-zoi .rightpane .pages				{width:280px;}
.kali-zoi .rightpane .currentPage-out	{color:#CDCDCD; background:none; }
.kali-zoi .rightpane .pageNumber-out a	{background: none; color:#993300;}

.kali-zoi .more-news a	{ color:#993300;}

.kali-zoi  .Fapopsiartclall .updatedArcl, 
.kali-zoi  div.Fapopsifull .updatedArcl  { background:#993300;}


/* ---------------------  psyh  ---------------------- */

.psyh .container_6 .grid_2.alpha {border-right:1px dotted #ccc; padding-right:24px;}
.psyh .container_6 .grid_2.omega {padding-left:5px;}
.psyh .container_6 .grid_4 {margin:15px 0 0 0;}

.psyh .screening	{ font-size:13px; color:#999; padding:5px 0;}
.psych.TTL {font-size: 20px; color: #333; font-family: Georgia, "Times New Roman", Times, serif; padding: 4px 0 2px 0; border-top: 2px solid #333; width:660px;}

.psyh div.RCcolumn.artcl.mrimgs,
.psyh div.RCcolumn.artcl a { color:  #93c;}

.psyh div.RCcolumn.artcl.img, .psyh div.RCcolumn.artcl.img img { padding:0; width:660px;}

.psyh div.RCcolumn {margin:0;}

.psyh .grid_4.leftpane.add { border:none; height: 53px;}

.psyhSingle.Fapopsifull.artcl,
.psyh div.m1 li.active a,
.psyh div.m1 a:hover			{color:#9933cc;}/**/

.psyhSingle.Fapopsifull.artcl.mrimgs		{color: #333333;}
div.Fapopsifull .kali-zoiSingle.updatedArcl	{background: #996600;}

.psyh .auth.TTL					{background: #9933cc;}

.psyh .Fapopsiartcl.ttl a		{color:#663399;}/**/

.psyh .previous-page,
.psyh .currentPage-out,
.psyh .pageNumber-out a,
.psyh .next-page			{background: #663399;}
.psyh .currentPage-out		{color:#663399; background: #CDCDCD;}

.psyh .BGCONT				{border-bottom: 2px solid #9933cc;}

.psyh div.column3				{width: 300px;}
.psyh div.column3.artcl.img,
.psyh div.column3.artcl.img img	{width: 300px; height: 150px;}

.psyh div.column3.artcl.mrimgs	{color:#9933cc;}
.psyh div.column3.artcl a		{color:#333;}
.psyh .arclEmail a,
.psyh .arclPrint a 				{ color:#9933cc;}

.psyh Fapopsifull.artcl.com		{}

.psyh .mc592 .HomeFeaturedSliderLeft {float: left;width: 1000px;}
.psyh .mc592 .HomeFeaturedSlider 		{ width:1000px; background:#000; height:412px;}
.psyh .mc592 .HomeFeaturedSlider .right	{float:right; width:260px; margin:20px;}
.psyh .mc592 .HomeFeaturedSlider .left	{float:left; width: 700px; height: 412px;}
.psyh .mc592 .HomeFeaturedSlider .left img	{width: 700px; height: 412px;}
.psyh .mc592 .HomeFeaturedSlider .right .title 		{ color:#F9F; font-size:28px;font-family: 'Open Sans Condensed', sans-serif; line-height:30px;}
.psyh .mc592 .HomeFeaturedSlider .right .short-desc { color:#ccc;font-size:16px;font-family: 'Open Sans Condensed', sans-serif; font-size:18px; margin:15px 0 0 0; line-height:20px;}
.psyh .mc592 .HomeFeaturedSlider .AlsoRead { color:#F9F; font-size:21px;font-family: 'Open Sans Condensed', sans-serif; padding: 25px 0 0 0;}
.psyh .mc592 .HomeFeaturedSlider .AlsoRead-txt ul { margin:0; padding:0 0 0 20px;}
.psyh .mc592 .HomeFeaturedSlider .AlsoRead-artcl { font-size:14px; padding:10px 0 0 0;font-family: 'Open Sans Condensed', sans-serif; line-height:18px;}
.psyh .mc592 .HomeFeaturedPager {width: 280px; position:absolute; right:0px; bottom:25px;}
.psyh .mc592 .HomeFeaturedPager .activeSlide {background:#FCF; color: #93C;}
.psyh .mc592 .HomeFeaturedPager a {padding:5px 11px; background:#93C; color:#FFF; margin:3px;font-family: 'Open Sans Condensed', sans-serif;}
.psyh .mc592 .HomeFeaturedArticleContainer {color: #ff99ff;}

.psyhBotCont	{height:555px;}
.psyhBotCont .HomeFeaturedSlider	{background:none; height:555px;}
.psyhBotCont .container img {width:660px;}
.psyhBotCont .container .flow { position:relative; bottom:90px; left:30px;}
.psyhBotCont .container .category-name {padding:7px 0;}
.psyhBotCont .container .category-name span { background:#93c; background: rgba(153, 51, 204, 0.8); padding:7px;}
.psyhBotCont .container .article-container  { background:#333; background: rgba(0, 0 ,0, 0.7); padding:10px; width:580px;}

.psyhBotCont .HomeFeaturedArticleContainer {width: 100%;height: 412px;color: white;}
.psyhBotCont .HomeFeaturedArticleList img	{ width:160px; height:auto; background:none; border:2px solid #F4F4EC; }		
.psyhBotCont .HomeFeaturedArticleList li { width:160px; height:110px; background:none;margin:2px;}
.psyhBotCont .HomeFeaturedArticleList	{height:auto;}
.psyhBotCont .article-container .title	{color:#93c; font-size:18px;}

.psyhBotCont .activeSlide img {height:auto; background:none; border:2px solid #93c;}

.category-name span {font-size:13px;}

.psyh .editArticleLk {right:0; font-size: 10px; position: absolute; background:#0F0;}

.psyh .more-news a	{ color:#93C;}

.mc636	{ float:left; border-top: 2px solid #117099; }
.mc695  { float:left; border-top: 2px solid #117099; margin-top:0px;}
.mc1320 { float:left; border-top: 2px solid #117099; }
.mc2190	{ float:left; border-top: 2px solid #117099; }

.psyhBotCont  .subtitle { font-size:13px;}

/* ---------------------  POLITISMOS  ---------------------- */

.kali-zoiSingle.Fapopsifull.artcl,
.polit div.m1 li.active a,
.polit div.m1 a:hover		{color:#993300;}        /* --------- */

.polit .Fapopsifull.artcl.more,
.polit .Fapopsifull.artcl.phot,
.polit .Fapopsifull.artcl.com	{ float:left; color:#996600; width:auto; margin:0 15px 0 0;}
.polit .Fapopsifull.artcl.com	{ background:url(images/elements/comment-p.png) no-repeat 0 0px; padding-left: 20px;}

.polit .EPIST-auth		{ background:#b46d46;}
.polit .EPIST-quest-top		{ background:#b46d46; font-size: 35px; font-weight: bold; padding: 15px 15px 0 15px; color:#FFF;}
.polit .EPIST-all { background: #f5e6d4; margin: 0 0 20px 0;}
.polit .EPIST-MORE { background:#c79577;}
.polit .EPIST-btm	{ display:none;}
.polit .EPIST-top {font-size: 35px; font-weight: bold; background:none; margin: 15px 15px 0 15px;}

.kali-zoiSingle.Fapopsifull.artcl.mrimgs		{color: #333333;}
div.Fapopsifull .kali-zoiSingle.updatedArcl	{background: #996600;}

.polit .auth.TTL	{background: #b46d46;}

.polit .Fapopsiartcl.ttl	 a	{ color:#666;}  /* --------- */
.polit .previous-page,
.polit .currentPage-out,
.polit .pageNumber-out a,
.polit .next-page			{background: #993300;}
.polit .currentPage-out		{color:#993300; background: #CDCDCD;}

.polit .BGCONT 		{border-bottom: 2px solid #b46d46;}
.polit .arclEmail a,
.polit .arclPrint a					{color:#993300;}

.polit .rightpane .pages				{width:280px;}
.polit .rightpane .currentPage-out	{color:#CDCDCD; background:none; }
.polit .rightpane .pageNumber-out a	{background: none; color:#993300;}

.polit .more-news a	{ color:#b46d46;}


.F-apo .Single.Fapopsifull.artcl,
.F-apo div.m1 li.active a,
.F-apo div.m1 a:hover 		{color: #009999;   text-decoration:underline;}

.F-apo .auth.ArtclTTl a		{color: #009999;}
.F-apo div.Fapopsifull.artcl.mrimgs a {color: #333;}
.F-apo div.Fapopsiartcl a {color: #009999;}

.F-apo .pageNumber-out a   		{background: #006666;}
.F-apo .auth.TTL				{background: #009999;}
.F-apo .BGCONT 			{border-bottom: 2px solid #009999;}
.F-apo .more-news a	{ color:#099;}


/*   ΑΡΘΡΟΓΡΑΦΙΑ  overwrite  */
.mc320 .previous-page,
.mc320 .currentPage-out,
.mc320 .pageNumber-out a,
.mc320 .next-page				    {background: none;}
.mc320 .pages .pageNumber-out a	    {color:#006666;}



.ui-widget-header {
border: 0px solid #DDD;
/*background: #fff url(images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x;*/
color: #444;
font-weight: bold;
}

/*NEW SLIDER*/
.SliderNEW .HomeFeaturedSlider { width:660px; height:440px; background:none; margin:0px; clear: both; }

.SliderNEW .HomeFeaturedSliderTop { background-color:#e4e4d2; }
.SliderNEW .HomeFeaturedSliderBottom {margin-top:13px;}

.SliderNEW .HomeFeaturedArticleContainer         { width:100%; height:287px; color:#fff;}

.SliderNEW .HomeFeaturedArticleContainer > div         { margin: 0px; }

.SliderNEW .HomeFeaturedArticleContainer a:link 	{color:#FFF;}

.SliderNEW .HomeFeaturedArticleList	 {width:675px; height: 155px; margin: 0; padding: 0; overflow: hidden; }

.SliderNEW .HomeFeaturedArticleList ul         { margin: 0; padding: 0; position: relative; }

.SliderNEW .HomeFeaturedArticleList li         {list-style:none; color:#999; float: left; margin-right:25px; background:none; height: 90px; cursor: pointer;}

.SliderNEW .HomeFeaturedArticleList li a       {text-decoration: none; display:block; color: #333; font-weight:normal;}
.SliderNEW .HomeFeaturedArticleList li .SliderCatTTL        	    { font-family:Trebuchet MS; color: #333; font-weight:bold; line-height:15px; font-size:11px; padding:2px 0px 0px 0px;}
.SliderNEW .HomeFeaturedArticleList li .SliderCatIMG img       	    { width:120px; height:75px;}
.SliderNEW .HomeFeaturedArticleList li .SliderCatAll		    { height:90px;}

.SliderNEW .HomeFeaturedArticleList li .SliderCatAll:hover,
.SliderNEW .HomeFeaturedArticleList li .SliderCatAll:hover a	{ background:none; color:#fff; cursor: hand;}

.SliderNEW .HomeFeaturedArticleList li.activeSlide img   {height: 69px; width:115px; background: none; border: 3px solid #4990b2;}

.SliderNEW .HomeFeaturedArticleList li.alternate	{background:none;}

.SliderNEW .HomeFeaturedSlider .HomeFeaturedSliderBottom .arrow-up-hover { display:none; }

.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderIMG img {float:left; height:286px; width:444px;}
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderTTL a   {float:right; width:190px; text-align:left; padding:0px 0px 0 0px; font-size:18px; line-height:21px; letter-spacing:-0.5px; font-weight:bold; font-family: Georgia; color:#333;}
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderTXT     {float:right; width:190px; text-align:left; padding:5px 15px 5px 0px; font-family:Georgia; font-size:12px; line-height:18px; color:#666;}
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderTEXT    {width:220px; float:left;}
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderIMG     {width:440px; float:left;}
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderRead		{}
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderRead a 	        {text-decoration:none; color:#006699; float:right; width:204px; font-family:Trebuchet MS; font-size:11px; text-transform:uppercase; } 
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderRead a:hover 	{text-decoration:none; color:#006699;} 
.SliderNEW .HomeFeaturedArticleContainer div.HomeSliderDATE  {color:#999; font-size:11px; font-family: Trebuchet MS; font-weight:bold; float:right; width:204px; margin-top:15px;}

/* END - NEW SLIDER*/


/* VIDEOS */

.mc906 {height:228px;}

/*.videoCont-in {display:none;}*/

div#ctl00_cp_ctl01_rp_ctl19_paging .pages {display:none;}

.mc906 .row.first {width:220px;}
.mc906 .Videos {width: 220px; height: 205px; background-color:#e8e8db;}
.mc906 .VideoIMG a img {width:220px; height:140px;}
.mc906 .VideoCAT {position:absolute; font-family:Trebuchet MS; font-size:12px; font-weight:bold;  color: #000; height: 18px;padding-left: 10px;padding-top: 6px;} 
.mc906 .VideoTXT {}
.mc906 .VideoTXT .VideoTitle  {margin-left:10px; padding-top:25px;}
.mc906 .VideoTXT .VideoTitle a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #32789B; line-height:15px;}
.mc906 .VideoTXT .VideoBody  {display:none;}
.mc906 .VideoTXT .VideoBody a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #000;}

.mc906 .row {width:220px; float:left;}

.mc906 .row.last {width:220px; float:left;}


/*
div#ctl00_lp_ctl07_listc_ctl04_row.row {width:140px;}
div#ctl00_lp_ctl07_listc_ctl04_row .Videos {width: 140px; height: 173px; background-color:#ddddca;}
div#ctl00_lp_ctl07_listc_ctl04_row .VideoIMG a img {width:120px; height:80px; padding:10px 10px 5px 10px;}
div#ctl00_lp_ctl07_listc_ctl04_row .VideoCAT {position:absolute; font-family:Arial; font-size:10px; font-weight:bold; background-color:#006699; color: #FFF;padding-right:10px; height: 18px;padding-left: 10px;padding-top: 5px;margin-top: -28px;margin-left: 10px;}  
div#ctl00_lp_ctl07_listc_ctl04_row .VideoTXT {}
div#ctl00_lp_ctl07_listc_ctl04_row .VideoTXT .VideoTitle  {margin-left:10px;  width:120px;}
div#ctl00_lp_ctl07_listc_ctl04_row .VideoTXT .VideoTitle a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #006699; line-height:16px;}
div#ctl00_lp_ctl07_listc_ctl04_row .VideoTXT .VideoBody  {display:none;}
div#ctl00_lp_ctl07_listc_ctl04_row .VideoTXT .VideoBody a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #000;}

div#ctl00_lp_ctl07_listc_ctl05_row.row {width:140px;}
div#ctl00_lp_ctl07_listc_ctl05_row .Videos {width: 140px; height: 173px; background-color:#e8e8db;}
div#ctl00_lp_ctl07_listc_ctl05_row .VideoIMG a img {width:120px; height:80px; padding:10px 10px 5px 10px;}
div#ctl00_lp_ctl07_listc_ctl05_row .VideoCAT {position:absolute; font-family:Arial; font-size:10px; font-weight:bold; background-color:#006699; color: #FFF;padding-right:10px; height: 18px;padding-left: 10px;padding-top: 5px;margin-top: -28px;margin-left: 10px;}  
div#ctl00_lp_ctl07_listc_ctl05_row .VideoTXT {}
div#ctl00_lp_ctl07_listc_ctl05_row .VideoTXT .VideoTitle  {margin-left:10px; width:120px;}
div#ctl00_lp_ctl07_listc_ctl05_row .VideoTXT .VideoTitle a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #006699; line-height:16px;}
div#ctl00_lp_ctl07_listc_ctl05_row .VideoTXT .VideoBody  {display:none;}
div#ctl00_lp_ctl07_listc_ctl05_row .VideoTXT .VideoBody a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #000;}
*/


.tv-logo {margin-top: -10px;position: absolute;margin-left: -8px; float:left;}
.tv-sponsor {float:left;margin-top: -6px;margin-bottom: 8px;margin-left: 528px;}

.mc1859 .tv-sponsor {float:left;margin-top:132px;margin-left: 155px; position:absolute;}
.mc1859 .blogs_cont .data {background-color:#fff;width:300px; height:123px;}

/* END - VIDEOS */


/* SYMBAINEI STI POLI */

.mc907 {height:260px;}

div#ctl00_lp_ctl21_cavc_listc_ctl01_row.row {width:290px;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .Town {width: 290px; height: 250px;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .TownIMG a img {width:290px; height:200px;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .TownTXT {background-color: #99997c; height:50px;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .TownTXT .TownTitle  {margin-left:10px; padding-top:5px;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .TownTXT .TownTitle a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #FFF;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .TownTXT .TownDate  {margin-left:10px; margin-top:2px;font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #FFF;}
div#ctl00_lp_ctl21_cavc_listc_ctl01_row .TownSend {display:none;}


div#ctl00_lp_ctl21_cavc_listc_ctl02_row.row {width:370px;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .Town {width: 370px; height: 100px; background-color:#ddddca;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownIMG a img {width:130px; height:80px;margin-top:10px; margin-left:10px;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownIMG {float:left;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownTXT {float: left;margin-left: 4px;margin-top: 15px;width: 220px;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownTXT .TownTitle  {margin-left:10px; padding-top:5px;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownTXT .TownTitle a {font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #117099;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownTXT .TownDate  {margin-left:10px; margin-top:5px;font-family: Trebuchet MS;font-size: 12px;font-weight: bold;color: #666;}
div#ctl00_lp_ctl21_cavc_listc_ctl02_row .TownSend {display:none;}

div#ctl00_lp_ctl21_cavc_listc_ctl03_row.row.last {width:370px;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .Town {width: 370px; height: 100px; background-color:#e8e8db;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownIMG a img {width:130px; height:80px; margin-top:10px; margin-left:10px;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownIMG {float:left;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownTXT {float: left;margin-left: 4px; margin-top: 15px; width: 220px;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownTXT .TownTitle  {margin-left:10px; padding-top:5px;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownTXT .TownTitle a {font-family: Trebuchet MS; font-size: 12px; font-weight: bold;color: #117099;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownTXT .TownDate  {margin-left:10px; margin-top:5px; font-family: Trebuchet MS; font-size: 12px; font-weight: bold; color: #666;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownSend {width: 370px; height: 50px; background-color:#ddddca;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownSend img {margin-left: 10px; margin-top: 14px; float:left;}
div#ctl00_lp_ctl21_cavc_listc_ctl03_row .TownSend .TownSendTXT a {font-family: Trebuchet MS; font-size: 12px; font-weight: bold; color: #117099; text-decoration:underline; float:left; margin-top: 14px; margin-left:10px;}

/*table#ctl00_lp_ctl19_cavc_listc tbody tr {float:left;}*/

.town-logo {margin-top: -10px;position: absolute;margin-left: -8px;}

/* END - SYMBAINEI STI POLI */




/* START - PAREMVASEIS EIDIKWN STO F */
.mc1317 {margin-top:3px;}
.mc1317 .row {width:315px; height:66px;}
.mc1317 .auth.Artcl {margin-left: 20px; padding: 20px 0px 5px 0px; height:50px;}
.mc1317 .auth.RCont {width:224px;}
.mc1317 .authBox {background: #ddddca; width: 660px; height: 150px;   }
.mc1317 .data {margin-bottom:20px;}
.mc1317 .upperBox {background-color: #e8e8dc; width: 645px; height: 138px; margin-left: 8px; position: relative; top: 6px;}
.mc1317 .Par_logo {z-index: 1000; margin-top:-17px; margin-left: -8px; position: absolute; float: left; }

div#ctl00_lp_ctl09_rp_ctl03_row.row .auth.Artcl {border-bottom:none; padding-top:15px;}
div#ctl00_lp_ctl09_rp_ctl04_row.row.last .auth.Artcl {border-bottom:none; padding-top:15px;}

/* END - PAREMVASEIS EIDIKWN STO F */


/* START - EPISTOLES STO F */

.mc871 {padding-top: 10px;}
.mc871 .row {width:315px; height:63px;}
.mc871 .auth.Artcl {margin-left: 20px; padding: 13px 0px 5px 0px; height:56px;}
.mc871 .auth.RCont {width:290px;}
.mc871 .authBox {background: #ddddca; width: 660px; height: 150px;   }
.mc871 .data {margin-bottom:20px;}
.mc871 .upperBox {background-color: #e8e8dc; width: 645px; height:137px; margin-left: 8px; position: relative; top: 6px;}
.mc871 .Par_logo {z-index: 1000; margin-top:-18px; position: absolute; margin-left: -8px; float: left; }

div#ctl00_lp_ctl31_rp_ctl03_row.row .auth.Artcl {border-bottom:none; padding-top:15px;}
div#ctl00_lp_ctl31_rp_ctl04_row.row.last .auth.Artcl {border-bottom:none; padding-top:15px;}

/* END - EPISTOLES STO F */

/* START - ARTHROGRAFOI */
.mc2127 {margin-top:17px;}
.mc2127 .row {width:314px; height:66px;}
.mc2127 .auth.Artcl {margin-left: 20px; padding: 20px 0px 5px 0px; height:50px;}
.mc2127 .auth.Artcl img {width: 50px !important; height: 50px !important;}
.mc2127 .auth.RCont {width:234px;}
.mc2127 .authBox {background: #ddddca; width: 660px; height: 150px;   }
.mc2127 .data {margin-bottom:20px;}
.mc2127 .upperBox {background-color: #e8e8dc; width: 645px; height: 138px; margin-left: 8px; position: relative; top: 6px;overflow:auto;}
.mc2127 .Par_logo {z-index: 1000; margin-top:-17px; margin-left: -8px; position: absolute; float: left; }

div#ctl00_lp_ctl07_rp_ctl03_row.row .auth.Artcl {border-bottom:none; padding-top:15px;}
div#ctl00_lp_ctl07_rp_ctl04_row.row.last .auth.Artcl {border-bottom:none; padding-top:15px;}

/* END - ARTHROGRAFOI  */



/* START - DIAVSMENA */

.mc1321 {margin-top:5px;}
.mc1321 .Videos {width: 220px;height: 205px;background-color: #e8e8db;}
.mc1321 .VideoIMG a img {width: 220px; height: 140px;}
.mc1321 .row first {width:220px;}
.mc1321 .row  {width:220px;}
.mc1321 .VideoTitle a {display: block; width: 200px; text-decoration:none; font-family:Trebuchet MS; font-size:13px; color:#006699;padding-right: 10px;padding-left: 10px;}
.mc1321 .VideoCAT {text-decoration:none; width: 200px; font-family:Trebuchet MS; font-size:13px; color:#333;padding-left: 10px;}

#scrollable-1321 {float: left; height: 205px;width: 660px;background-color: #e8e8dc;margin-bottom:20px;margin-top:10px;}
#scrollable-1321 .scrollable1321 { float: left; height: 205px; overflow: hidden; position: relative;  width: 660px;}
#scrollable-1321 .scrollable1321 .data {position: absolute;width: 20000em;}
#scrollable-1321 .data div {float: left; width:220px;}
#scrollable-1321 .data div.container-title {margin-left:10px; margin-top:8px;}
#scrollable-1321 .data div.container-title a {text-decoration:none; color:#333; font-family:Trebuchet MS; font-size:13px;}
#scrollable-1321 .data div  img{width: 220px; height:140px;}
#scrollable-1321 .scrollable-1321-prev-next  {cursor: pointer; display: block;font-size: 0px; height: 30px; position:absolute; margin-left:10px; margin-top:60px; width:20px;}
#scrollable-1321 .scrollable-1321-prev-next.scrollable-1321-prev.prev {float:left; z-index:1000; background: url(/Templates/images/arrow-left.png);}
#scrollable-1321 .scrollable-1321-prev-next.scrollable-1321-next.next {float:right; right:10px; background: url(/Templates/images/arrow-right.png);}

.mc1321 .Par_logo {position: absolute;margin-left: -8px; margin-top: -8px; float: left;z-index: 1000;}

/* END- DIAVASMENA */


/* START - PHILE MENU */

.mc1324 .Menu {background-color: #e8e8db; height:200px;width:220px;}
.mc1324 .MenuIMG a img {width: 220px; height: 140px;}
.mc1324 .MenuTitle a {text-decoration:none; color:#006699; font-size: 13px;font-family: Trebuchet MS;} 
.mc1324 .MenuCAT {font-weight:bold;font-size: 13px;font-family: Trebuchet MS;}
.mc1324 .MenuTXT {padding: 7px 0px 0px 8px;}

.mc1323 .Menu {background-color: #e8e8db; width:220px; height:200px;}
.mc1323 .MenuIMG a img {width: 220px; height: 140px;}
.mc1323 .MenuTitle a {text-decoration:none; color:#006699; font-size: 13px;font-family: Trebuchet MS;} 
.mc1323 .MenuCAT {font-weight:bold;font-size: 13px;font-family: Trebuchet MS;}
.mc1323 .MenuTXT {padding: 7px 0px 0px 8px;}

.mc1325 {margin-top:35px; border-right: 2px dotted #CCC; margin-right: 18px; padding-right:18px;}

.mc1324 .Par_logo {position: absolute;float: left;z-index: 1000;margin-top:-18px;}

.mc1437 .Menu {background-color: #e8e8db; width:220px; height:200px;}
.mc1437 .MenuIMG a img {width: 220px; height: 140px;}
.mc1437 .MenuTitle a {text-decoration:none; color:#006699; font-size: 13px;font-family: Trebuchet MS;} 
.mc1437 .MenuCAT {font-weight:bold;font-size: 13px;font-family: Trebuchet MS;}
.mc1437 .MenuTXT {padding: 7px 0px 0px 8px;}

/* END- PHILE MENU */


/* START - PROTO THEMA */

.thema {width:330px;}
.thema_Cont {}
.thema_TTL {font-size: 13px;font-family: Trebuchet MS;color: #333;padding: 5px 0 0 10px;font-weight:bold;}
.thema_TXT {font-size: 13px;font-family: Trebuchet MS;color: #666;padding: 10px 0 0 10px;border: 0;line-height: 20px;}


/* END- PROTO THEMA */

.mc886 {margin-top:-11px;}

.mc481 .row {width:165px;}

.mc1127 {margin-top:-90px;}

.mc1140 {width: 660px; height: 50px;}

.mc634 {margin-top:18px; margin-bottom:60px;}

.mc1473 .row.last img {width:150px;}
.mc1474 .row.last img {width:150px;}
.mc1475 .row.last img {width:150px;}
.mc1476 .row.last img {width:150px;}
.mc1477 .row.last img {width:150px;}
.mc1478 .row.last img {width:150px;}
.mc1479 .row.last img {width:150px;}
.mc1480 .row.last img {width:150px;}
.mc1481 .row.last img {width:150px;}


/* ---------------------  ARXIKI ---------------------- */

.arxikiSingle.Fapopsifull.artcl,
.arxiki div.m1 li.active a,
.arxiki div.m1 a:hover		{color:#4990B5;   }

.arxiki .submenu.active ul .active a {}

.arxiki.container_6 .grid_1 		{width: 240px;}
.arxiki.container_6 .grid_3		{width: 400px;}
.arxiki.Fapopsifull.artcl.img img {width:400px;}
.arxiki.Fapopsifull.artcl.img 	{width: 400px; position: relative; border: 0px solid #333; padding: 0px;}
.arxiki.Fapopsifull 				{width: 400px;}
.arxiki.Fapopsiartclall 			{width: 400px; padding: 10px 0 0 0;}
.arxiki.Fapopsiartcl.ttl			{color:#cc0000; font-size: 13px;}
.arxiki.Fapopsifull.artcl.mrimgs	{color:#cc0000; font-size: 17px; padding:15px 0 0 0;}
.arxiki.Fapopsifull.artcl.com		{color:#0a689b;}
.arxiki .Fapopsiartcl.ttl h3             {font-size: 13px;}
.arxiki .Fapopsiartcl.ttl a		{color:#0a689b; font-size: 13px;}
.arxiki .Fapopsifull.artcl.mrimgs a	{color:#0a689b; font-size: 17px; padding:15px 0 0 0; font-family:Georgia, "Times New Roman", Times, serif; line-height: normal;}
.arxiki div.Fapopsiartcl a		{color:#cc0000;}


.arxiki .mc1265 .Fapopsifull.artcl.img img {width:300px;}
.arxiki .mc1266 .Fapopsifull.artcl.img img {width:300px;}
.arxiki .mc1265 .Fapopsifull.artcl.img 	{width: 300px; position: relative; border: 0px solid #333; padding: 0px;}
.arxiki .mc1266 .Fapopsifull.artcl.img 	{width: 300px; position: relative; border: 0px solid #333; padding: 0px;}
.arxiki .mc1265 .Fapopsifull 	{width: 300px;}
.arxiki .mc1266 .Fapopsifull 	{width: 300px;}
.arxiki .mc1265 .Fapopsiartclall 	{width: 300px; padding: 10px 0 0 0;}
.arxiki .mc1266 .Fapopsiartclall 	{width: 300px; padding: 10px 0 0 0;}
.arxiki .mc1265 div.Fapopsiartcl.ttl a {width: 300px;}
.arxiki .mc1266 div.Fapopsiartcl.ttl a {width: 300px;}
.arxiki .mc1265 div.Fapopsiartcl.ttl  {width: 300px;}
.arxiki .mc1266 div.Fapopsiartcl.ttl  {width: 300px;}


.arxikiSingle.Fapopsifull.artcl.mrimgs		{color: #333333;}
div.Fapopsifull .oikonSingle.updatedArcl	{background: #0a689b;}

.arxiki .mc20 .ui-state-default	{background:#dcbd5e;}
.arxiki .mc20 .ui-tabs-active	{background:#cc9900;}

.arxiki .mc20 .ui-state-default a	{color:#666;}
.arxiki .mc20 .ui-tabs-active a		{color:#ffffff;}
.arxiki .mc20 .ui-tabs .ui-tabs-nav 	{border-bottom: 3px solid #cc9900;}

.arxiki .auth.TTL	{background: #CC0000;}

.mc1261	{ background:url(images/koinonia/mid-column-upper-decorative-koin.png) left top no-repeat; float:right;}
.mc1264	{ background:url(images/koinonia/mid-column-lower-decorative-koin.png) right bottom no-repeat; float:right;}
.mc1261 .par-section				{margin:7px 7px 0 7px;}
.mc1264 .par-section				{margin:0px 7px 7px 7px;}
.mc423						{height:225px; padding: 0 0 30px 0;}

.arxiki .par-section			{background:#ebecde;}
.arxiki .par-section .ltstnews.tpttl	{background:#006599;}
.arxiki .par-section .sectionhomevert	{}
.arxiki .par-section .sectionhomevert.more a	{ font-size:13px; color:#33669b; font-family: Trebuchet MS;}
.arxiki .par-section .sectionhomevert.more 	{ padding:5px 0 0 0;}

.arxiki .EPIST-all	{background:#FED9D9;}
.arxiki .EPIST-MORE {background:#FAE7E3;}
.arxiki .EPIST-auth		{background:#660000;}

.arxiki .Dial-all	{background:#FED9D9;}
.arxiki .Dial-MORE 	{background:#FAE7E3;}
.arxiki .Dial-auth	{background:#660000;}
.arxiki .Dial-quest-top		{ background:#600; font-size: 35px; font-weight: bold; padding: 15px 15px 0 15px; color:#FFF;}
.arxiki .Dial-top 				{font-size: 35px; font-weight: bold; margin: 15px 15px 0 15px; }/*background:none; */


.arxiki .Single.Fapopsifull.artcl.mrimgs		{color: #333333;}
.arxiki .Single.Fapopsifull.artcl.com			{ color:#cc0000;}
.arxiki .Fapopsiartcl.ttl				{ color:#cc0000;}
.arxiki .arclEmail a, .koinon .arclPrint a { color:#cc0000;}
.arxiki .BGCONT, .mc423 {background: white; border-bottom: 2px solid #cc0000; }/*margin: 0 0 10px 0;*/

.arxiki .previous-page,
.arxiki .currentPage-out,
.arxiki .pageNumber-out a,
.arxiki .next-page				{background: #CC3333;}
.arxiki .currentPage-out		{color:#CC3333; background: #CDCDCD;}


.arxiki .Fapopsifull.artcl.more,
.arxiki .Fapopsifull.artcl.phot,
.arxiki .Fapopsifull.artcl.com	{ float:left; color:#006599; width:auto; margin:0 15px 0 0;}
.arxiki .Fapopsifull.artcl.com	{ /*background:url(images/elements/comment.png) no-repeat 0 0px;*/ padding-left: 20px;}
.arxiki .Fapopsifull.artcl.com img {margin:5px 0 0 0;}
.arxiki .Fapopsifull.artcl.allcom { float:left;}
.arxiki .Fapopsifull.artcl a	{ padding:0; border:0; color:#cc0000;}
.arxiki div.Fapopsifull .updatedArcl { background:#006599;}

.arxiki .more-news a	{ color:#cc0000;}
.arxiki .EPIST-quest-top		{ background:#600; font-size: 35px; font-weight: bold; padding: 15px 15px 0 15px; color:#FFF;}
.arxiki .EPIST-top 				{font-size: 35px; font-weight: bold; }/*background:none; margin: 15px 15px 0 15px;*/
.arxiki .sectionhomevertall {border-bottom: 1px solid #c8caa3;}
.arxiki .last .sectionhomevertall { border:none; padding-top: 5px;}


/* ------------------- SLIDER ------------------- */
.NextPrev {width:932px;height:305px;position: relative;z-index:10;}
.prev-slider {background-image:url(/Data/HomeSlider/arrow_left.png);background-repeat:no-repeat;width:25px;height:42px;position:absolute;background-position:center center;cursor:pointer;top:310px;}
.next-slider {background-image:url(/Data/HomeSlider/arrow_right.png);background-repeat:no-repeat;width:25px;height:42px;background-position:center center;cursor:pointer;position:absolute;right:0px;top:310px;}

.slide_T           {background-color:#333; opacity:0.8; width:980px; height: 60px; margin-top: 325px; margin-left:10px; position: relative; line-height:60px;}
.slide_T a         {color:#fff; text-decoration: none; font-family: Georgia; font-size: 25px; margin-left:15px;}
.slide_T a:hover   {color:#fff; text-decoration: none; font-family: Georgia; font-size: 25px; margin-left:15px;}




.mc27 {padding-bottom:15px;}
.mc1319 {margin-top:16px;}
.mc923 {margin-top:20px;}

/*LATEST NEWS SCROLLING*/

.mc22 .latest { margin-top: 12px;}
.mc1326 {position:absolute;top:28px;z-index:1;width:700px;}
.mc1326 .item-rotator-label{float:left;margin-right:10px; font-family: Georgia;font-size: 13px;color:#ff0000; font-weight:bold;}
.mc1326 .item-rotator-date{display:none;}
.mc1326 .item-rotator-title a {float:left;margin-right:10px;color:#333; font-family: Georgia;font-size: 13px; font-weight:bold;}
.mc1326 .item-rotator{white-space:nowrap;float:left;}

.mc1343 {position:absolute;top:55px;z-index:1;width:700px;}
.mc1343 .item-rotator-label{float:left;margin-right:10px; font-family: Georgia;font-size: 13px;color:#ff0000; font-weight:bold;}
.mc1343 .item-rotator-date{display:none;}
.mc1343 .item-rotator-title a {float:left;margin-right:10px;color:#333; font-family: Georgia;font-size: 13px; font-weight:bold;}
.mc1343 .item-rotator{white-space:nowrap;float:left;}

.miniSocial {width:140px; position:absolute; left:880px; top:55px;}
.miniSocial a img{float:left;padding-right:8px;}

.mc1550 .gallop-results-link {padding-bottom:20px;}
.mc1550 .gallop-results-link  a {font-family: Georgia;
font-size: 14px;
color: #32789b;
background: url('/Templates/images/bullet-blue-alt.png');
background-origin: border-box;
background-repeat: no-repeat;
padding-left: 20px;
display: block;
}
.mc1550 .gallop-date  {font-family: Georgia;font-size: 18px;padding-bottom: 10px;}
.mc1550 .gallop-question {border-bottom:1px solid #ccc; width:660px; margin-bottom:15px;}

.mc1668 .data {height:220px;position:relative;margin-left:-7px;}

.author-back {height: 90px; width:660px; margin-top: 20px; background-image:url(/data/blue_back.jpg)}
.author-img  {float:left;margin-left: 20px;margin-top: 12px;margin-right: 20px;border: 1px solid #000;}
.author-img img {width:60px;}
.author-name {margin-top: 20px;float: left;font-family: Trebuchet MS;font-size: 18px;color: #fff;font-weight: bold; font-style: italic; width:550px;}
.author-email a {float: left;font-family: Trebuchet MS;font-size: 16px;color: #fff;font-weight: bold; text-decoration:underline;}


.1322 {margin-bottom:0px;}
.mc1719{background-color:#e8e8db; height:200px !important;margin-top:-13px;margin-bottom:34px}
.mc1724 {border-right: 2px dotted #CCC; padding-right:18px;}

.mc59 {height:115px;}

div.m1 li.LastInList a{
    color: #F00;
}

.mc1936 {margin-left:-7px;margin-top:5px;}
.mc1898 {margin-left:-7px;}

.mc1898 .data {position: relative;top: -193px;height: 20px;}


iframe .submit_token_wrapper{
font-family: Arial;
font-size: 16px;
color: #32789B;
text-align: center;
}


.mc2119 {width:660px;margin-bottom: 25px;border-right: 2px dotted #CCC; padding: 9px 17px 0 0;}
.mc2119 .rssBCK {background-color:#e8e8db;width: 660px;height: 245px;}
.mc2119 .item-1 {height: 235px;width: 390px;float: left;padding-left:15px;padding-top:10px;}
.mc2119 .item-1 img {float: left;height: 205px;}
.mc2119 .item-1 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #2b2b2b;font-weight: bold;}
.mc2119 .item-1 .rssIMG {overflow: hidden;margin-bottom: 5px;}

.mc2119 .item-2 {height: 88px;width: 220px;float: left;margin-left: 20px;margin-bottom: 30px;padding-top:10px;}
.mc2119 .item-2 img {float: left;width: 220px;height: 88px;}
.mc2119 .item-2 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #2b2b2b;font-weight: bold;}
.mc2119 .item-2 .rssIMG {overflow: hidden;width: 210px;margin-bottom: 5px;}

.mc2119 .item-3 {height: 88px;width: 220px;float: left;margin-left: 20px;}
.mc2119 .item-3 img {float: left;width: 220px;height: 88px;}
.mc2119 .item-3 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #2b2b2b;font-weight: bold;}
.mc2119 .item-3 .rssIMG {overflow: hidden;width: 210px;margin-bottom: 5px;}


.mc2195 {width:660px;margin-bottom:20px;border-right: 2px dotted #CCC; padding: 0px 17px 0 0;margin-top:-5px;}
.mc2195 .rssBCK {background-color:#e1f0ff; width: 660px;height: 226px;}
.mc2195 .item-1 {width: 193px;float: left;padding-left:17px;padding-top:37px;}
.mc2195 .item-1 img {float: left;width: 200px;height:139px;}
.mc2195 .item-1 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #2b2b2b;font-weight: bold;}
.mc2195 .item-1 .rssIMG {overflow: hidden;width: 220px;margin-bottom: 5px;}

.mc2195 .item-2 {width: 193px;float: left;margin-left: 20px;margin-bottom: 30px;padding-top:37px;}
.mc2195 .item-2 img {float: left;width: 200px;height:139px;}
.mc2195 .item-2 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #2b2b2b;font-weight: bold;}
.mc2195 .item-2 .rssIMG {overflow: hidden;width: 220px;margin-bottom: 5px;}

.mc2195 .item-3 {width: 193px;float: left;margin-left: 20px;padding-top:37px;}
.mc2195 .item-3 img {float: left;width: 200px;height:139px;}
.mc2195 .item-3 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #2b2b2b;font-weight: bold;}
.mc2195 .item-3 .rssIMG {overflow: hidden;width: 220px;margin-bottom: 5px;}


.mc2172 .prev-slider2-app {position: absolute;
    cursor: pointer;
    display: block;
    top: 180px;
    left: 0px;
    height: 40px;
    width: 40px;
    background-image: url(/data/images/arrow-left.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;}

.mc2172 .next-slider2-app {position: absolute;
    cursor: pointer;
    display: block;
    top: 180px;
    left: 260px;
    height: 40px;
    width: 40px;
    background-image: url(/data/images/arrow-right.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;}


.mc2124 .prev-slider2-app {position: absolute;
    cursor: pointer;
    display: block;
    top: 180px;
    left: 0px;
    height: 40px;
    width: 40px;
    background-image: url(/data/images/arrow-left.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;}

.mc2124 .next-slider2-app {position: absolute;
    cursor: pointer;
    display: block;
    top: 180px;
    left: 260px;
    height: 40px;
    width: 40px;
    background-image: url(/data/images/arrow-right.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;}

.mc2130 .prev-slider2-app {position: absolute;
    cursor: pointer;
    display: block;
    top: 180px;
    left: 0px;
    height: 40px;
    width: 40px;
    background-image: url(/data/images/arrow-left.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;}

.mc2130 .next-slider2-app {position: absolute;
    cursor: pointer;
    display: block;
    top: 180px;
    left: 260px;
    height: 40px;
    width: 40px;
    background-image: url(/data/images/arrow-right.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;}

.slideshow_app {height:412px; width:300px;float:left;}

.mc2124 {margin-bottom:20px;}



.mc882 {margin-top:12px;}
.mc402 {margin-top:20px;}

.mc427 {margin-top:20px;}
.mc451 {margin-top:20px;}
.mc462 {margin-top:20px;}
.mc804 {margin-top:20px;}

/*.mc1898 { border-right: 2px dotted #CCC;  padding: 0px 24px 50px 0;}*/

.mc810 {margin-bottom:10px;}
.mc811 {margin-bottom:10px;}
.mc805 {margin-bottom:10px;}
.mc806 {margin-bottom:10px;}
.mc807 {margin-bottom:10px;}
.mc808 {margin-bottom:10px;}
.mc809 {margin-bottom:10px;}
.mc721 {margin-top:45px;}
.mc722 {margin-top:45px;}
.mc680 {margin-top:45px;}
.mc704 {margin-top:45px;}
.mc705 {margin-top:45px;}
.mc706 {margin-top:45px;}
.mc707 {margin-top:45px;}


@media (max-width: 1024px) {
	.sky_right {
		display: none;
	}
        .sky_left {
		display: none;
	}
}

.mc2188 .Par_logo {z-index: 1000;margin-top: -18px;position: absolute;margin-left: -8px;float: left;}

.mc1322 {margin-top:-16px;}
.mc1734 {margin-top:-32px;}

.mc1883 {border-right: 2px dotted #CCC; padding: 0px 17px 0 0;}
.mc2188 {border-right: 2px dotted #CCC; padding: 0px 17px 0 0; height: 400px;}

.mc2215 .Par_logo {position: absolute;float: left;z-index: 1000;margin-top:-18px;    margin-left: -8px;}
.mc2214 {margin-top:15px;}

.mc690  {height:418px;}


.mc2317 {width:660px;margin-bottom: 25px;border-right: 2px dotted #CCC; padding: 9px 17px 0 0;}
.mc2317 .rssBCK {background-color:#009999;width: 660px;height: 500px;}
.mc2317 .item-1 {height: 350px;width: 660px;float: left;padding-left:0px;padding-top:0px;padding-right:0px;overflow: hidden;}
.mc2317 .item-1 img {float: left;height: 476px;}
.mc2317 .item-1 a {float: left;font-family: trebuchet MS;font-size: 13px;color: #fff;font-weight: bold;}
.mc2317 .item-1 .rssTXT a {float:left; margin-left: 15px; font-size: 24px; font-family: Trebuchet MS; text-shadow: 1px 1px 2px #000;margin-top:-180px;}
.mc2317 .item-1 .rssIMG {overflow: hidden;margin-bottom: 5px;}
.mc2317 .item-1 .rssTXT {position:absolute;float:left;}

.mc2317 .item-2 {height: 88px;width: 150px;float: left;margin-left: 7px;padding-top:10px;}
.mc2317 .item-2 img {float: left;width: 150px;height: 102px;}
.mc2317 .item-2 a {float: left;font-family: trebuchet MS;font-size: 12px;color: #fff;font-weight: bold;}
.mc2317 .item-2 .rssIMG {overflow: hidden;width: 150px;margin-bottom: 5px;}

.mc2317 .item-3 {height: 88px;width: 150px;float: left;margin-left: 15px;padding-top:10px;}
.mc2317 .item-3 img {float: left;width: 150px;height: 102px;}
.mc2317 .item-3 a {float: left;font-family: trebuchet MS;font-size: 12px;color: #fff;font-weight: bold;}
.mc2317 .item-3 .rssIMG {overflow: hidden;width: 150px;margin-bottom: 5px;}

.mc2317 .item-4 {height: 88px;width: 150px;float: left;margin-left: 15px;padding-top:10px;}
.mc2317 .item-4 img {float: left;width: 150px;height: 102px;}
.mc2317 .item-4 a {float: left;font-family: trebuchet MS;font-size: 12px;color: #fff;font-weight: bold;}
.mc2317 .item-4 .rssIMG {overflow: hidden;width: 150px;margin-bottom: 5px;}

.mc2317 .item-5 {height: 88px;width: 150px;float: left;margin-left: 15px;padding-top:10px;}
.mc2317 .item-5 img {float: left;width: 150px;height: 102px;}
.mc2317 .item-5 a {float: left;font-family: trebuchet MS;font-size: 12px;color: #fff;font-weight: bold;}
.mc2317 .item-5 .rssIMG {overflow: hidden;width: 150px;margin-bottom: 5px;}


.offers {background-color: rgb(255, 255, 255);width: 220px;height: 340px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);float:left; margin-left: 25px;margin-top:25px;}
.offers_TTL {padding-left: 10px;font-family:Trebuchet MS;}
.offers_IMG {padding: 10px;}
.mc2328 {margin-left:20px;}





