@charset "utf-8";
.interactive_element:hover {
	opacity: 0.5;
}
.ui-widget {
	font-size:12px !important;
}
.ui-slider-range.ui-widget-header.ui-corner-all {
	background:none;
	background-color:#0C0;
}

/* MAC Select Box Bug */
select {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
}
select option {
    color:#000000;
}
.blockOverlay {
	z-index:1002!important;
}

/* Search bar placeholder styling */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FFFFFF;
}

/* Custom Search */
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas/imgs/banner-background.png'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas/imgs/PHILENEWS_LIVEBANNER_jan16.gif'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas/imgs/PHILENEWS_LIVEBANNER_668X247_template.gif'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas/imgs/PHILENEWS_LIVEBANNER_MARCH_2016.gif'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas/imgs/philenews_banner_summer16.gif'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas/imgs/philenews_banner_autumn16.png'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas-3/imgs/smart-air-deals-on-philenews-3-deals.png'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas-3/imgs/smartAIRdeals-philenews-live_baner_3-28_oct_2016.gif'); }*/
/*.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas-3/imgs/smart-air-deals-on-philenews--8.png'); }*/
.boxHead_SearchBar{ font-family:Tahoma; width:668px; height:247px; position:relative; background-image:url('http://85.25.43.140/fly3/front_gui/live_banners/phile-christmas-3/imgs/Smart_XMAS_GR.png'); }
.custom-search-filters {position:absolute;width:960px;height:660px;top:170px;left:10px;z-index:100;background-color:#32789B;display:none;}
.close-button-style {position:absolute; top:130px; left:930px; cursor:pointer;}
.direct-box{position:absolute; top:118px; left:10px;}
.direct-txt{position:absolute; top:119px; left:31px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.everywhere-box{position:absolute; top:48px; left:228px;}
.everywhere-txt{position:absolute; top:49px; left:249px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.free_dates-box{position:absolute; top:48px; left:460px;}
.free_dates-txt{position:absolute; top:49px; left:481px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.one_way-box{position:absolute; top:8px; left:228px;}
.one_way-txt{position:absolute; top:9px; left:249px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.flex-outbound-box{position:absolute; top:8px; left:460px;}
.flex-outbound-txt{position:absolute; top:9px; left:481px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.flex-inbound-box{position:absolute; top:8px; left:587px;}
.flex-inbound-txt{position:absolute; top:9px; left:608px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.no-low-cost-box{position:absolute; top:168px; left:10px;}
.no-low-cost-txt{position:absolute; top:169px; left:31px; color:#FFFFFE; font-size:13px; cursor:pointer;}
.dep-hour-text1-style{position:absolute; top:119px; left:228px; color:#FFFFFE; font-size:13px;}
.dep-hour-from-style{position:relative; top:0px; left:0px; font-size:12px;}
.dep-hour-to-style{position:relative; top:0px; left:0px; font-size:12px;}
.ret-hour-text1-style{position:absolute; top:169px; left:228px; color:#FFFFFE; font-size:13px;}
.ret-hour-from-style{position:relative; top:0px; left:0px; font-size:12px;}
.ret-hour-to-style{position:relative; top:0px; left:0px; font-size:12px;}
.sort-by-text-style{position:absolute; top:28px; left:720px; color:#FFFFFE; font-size:13px;}
.sort-by-style{position:absolute; top:48px; left:720px; font-size:12px;}
.loyalty-text-style{position:absolute; top:220px; left:13px; color:#FFFFFE; font-size:13px;}
.loyalty-container-style{position:absolute; top:217px; left:66px; font-size:12px;}
.search-box-ad-style{position:absolute; top:370px; left:615px; width:336px; height:280px; background-color:#183D4E;}
.search-box-ad-inner-style{width:300px; height:250px; background-color:#000000; position:absolute; top:13px; left:18px;}
.search-box-old-style{position:absolute; top:370px; left:10px; width:595px; height:280px; background-color:#183D4E; overflow:hidden; overflow-x:hidden;}
.search-info-text-1-style{position:absolute; top:85px; left:13px; color:#FFFFFF; font-size:13px;}
.search-info-text-2-style{position:absolute; top:345px; left:10px; color:#FFFFFF; font-size:13px;}
.search-extraoptions-mask-style{display:none; position:absolute; top:80px; left:10px; opacity:0.5; background-color:#32789B; width:900px; height:250px;}
.custom-search-bar-style{position:absolute; width:668px; height:55px; top:173px; left:0px; z-index:100;}
.origin-box-style{position:absolute; width:128px; height:55px; top:5px; left:25px;}
.origin-box-input-style{position:absolute; top:15px; left:0px; width:92px; font-size:13px; visibility:hidden; background:transparent; color:#FFFFFF;}
.origin-box-select-style{position:absolute; width:93px; height:25px; top:13px; left:0px; font-size: 13px; border:none; background:transparent; color:#FFFFFF;}
.autosuggest-loader-origin-style{position:absolute; top:20px; left:80px; display:none;}
.origin-box-block-style{position:absolute; width:230px; height:40px; top:10px; left:10px; display:none; opacity:0.5; background-color:#003D8E;}
.destination-box-style{position:absolute; width:128px; height:55px; top:5px; left:160px;}
.destination-box-input-style{position:absolute; top:15px; left:0px; width:94px; font-size:13px; background:transparent; color:#FFFFFF;}
.autosuggest-loader-destination-style{position:absolute; top:20px; left:80px; display:none; color:#FFFFFF;}
.destination-box-block-style{position:absolute; width:230px; height:40px; top:10px; left:240px; display:none; opacity:0.5; background-color:#003D8E;}
.depart-box-style{position:absolute; width:100px; height:55px; top:0px; left:293px;}
.depart-box-input-style{position:absolute; top:20px; left:0px; width:100px; background:none; border:none; font-size:13px; color:#FFFFFF;}
.depart-box-block-style{position:absolute; width:125px; height:40px; top:10px; left:470px; display:none; opacity:0.5; background-color:#003D8E;}
.return-box-style{position:absolute; width:100px; height:55px; top:0px; left:404px;}
.return-box-input-style{position:absolute; top:20px; left:0px; width:100px; background:none; border:none; font-size:13px; color:#FFFFFF;}
.return-box-block-style{position:absolute; width:130px; height:40px; top:10px; left:595px; display:none; opacity:0.5; background-color:#003D8E;}
.passengers-box-style{position:absolute; width:70px; height:55px; top:0px; left:515px;}
.passengers-box-select-style{position:absolute; width:37px; height:25px; top:18px; left:0px; font-size: 13px; border:none; background:transparent; color:#FFFFFF;}
.custom-search-btn-style{position:absolute; top:13px; left:588px; cursor:pointer;}
.custom-search-error-style{position:absolute; top:-30px; left:50px; display:none;}
.custom-search-error-orig-style{position:absolute; top:-30px; left:12px; display:none;}
.custom-search-error-dest-style{position:absolute; top:-30px; left:160px; display:none;}
.custom-search-error-dep-style{position:absolute; top:-30px; left:300px; display:none;}
.custom-search-error-ret-style{position:absolute; top:-30px; left:440px; display:none;}
.custom-search-no-results-style{position:absolute; top:-30px; left:50px; display:none;}
.temporary-cached-results-strip-style{font-size:13px; position:absolute; top:69px; left:0px; width:956px; text-align:center; display:none;}
.custom-search-no-results-style{position:absolute; top:-30px; left:50px; display:none;}
.custom-search-history-table{font-size:14px; padding:5px; width:100%;}		
.custom-search-history-table-row{text-decoration:none; color:#FFFFFF;}
.custom-search-history-table-row-highlight{background-color:#255F7A;}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius:0px }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius:0px }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius:0px }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius:0px }
#origin-box-input { border:0px }
#destination-box-input { border:0px }	
.blockElement { left:193px!important; width:42%!important; }
