.b2c #pageHuge.b2c .additionalSmallTable .row.priceHint {
  display: none !important;
}

.country_de.b2c #pagePopup.productcompare .additionalSmallTable .priceHint.row,
.country_nl.b2c #pagePopup.productcompare .additionalSmallTable .priceHint.row,
.country_de.b2c #pageBig.productdetail .additionalSmallTable .priceHint.row,
.country_nl.b2c #pageBig.productdetail .additionalSmallTable .priceHint.row {
  display: table-row !important;
}

.country_de #pageBig.productdetail .deliveryTime sup,
.country_de #pageBig.cartpage .deliveryTime sup,
.country_de #pageHuge.checkout .deliveryTime sup {
  display:inline;
}

.country_de #pageBig.productdetail .deliveryTimeHint,
.country_de #pageHuge.checkout .deliveryTimeHint,
.country_de #pageBig.cartpage .deliveryTimeHint {
  display: table-row !important;
}

.country_de #pageHuge.register #startHint5,
.country_de #pageHuge.checkout #startHint5,
.country_de #pageBig.basicData #startHint5 {
  display: table-row !important;
}
