/*
374458
A1ABB4
566172
A0A5B2
000000
*/
/* changed on 23 aug 2010 */
body {
  border: none;
  font-family: "tahoma", "arial", "helvetica", "sans-serif";
  font-size: 11px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

table {
  border-collapse: collapse;
  border: none;
/*  background-color: #FFFFFF; //#A0A5B2;*/
}

table.main, table.mainouter {
/*  background-color: #FFFFFF;*/
}

table.flashy {
  background-color: #909DE8;
}

table.bottom {
  background: transparent;
}

h1 {
  font-size: 12pt;
}

h2 {
  font-size: 10pt;
  margin-bottom: 6px;
}

p {
  font-size: 8pt;
}

p.sub {
  margin-bottom: 4pt;
}

link3 {
  color: #CC0000;
}

td {
  font-size: 11px;
  font-family: "Verdana";
}

td.embedded {
  border: none;
  padding: 0px;
  text-align: left;
}

td.bottom {
  border: none;
}

td.heading {
  font-weight: bold;
}

td.text {
  padding: 10pt;
  text-align: left;
}

td.comment {
  padding: 10pt;
  font-size: 8pt;
  text-align: left;
}

td.colhead {
  font-weight: bold;
  color: #ffffff;
  background-color: #0055A4;
}

td.rowhead {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
}

td.title {
  font-size: 14pt;
}

td.navigation {
  font-weight: bold;
  font-size: 10pt;
   border: none;
}

td.clear {
  padding: 0px;
  border: 0px;
  background: transparent;
}

form {
  margin-top: 0;
  margin-bottom: 0;
}

.sublink {
  font-style: italic;
  font-size: 7pt;
  font-weight: normal;
}

font.gray
{
  color: #ACA899;
  text-decoration: underline;
}

a:link, a:visited {
  color: #1144aa;
}

a:hover {
  color: #A1ABB4;
}

a.index {
  font-weight: bold;
}

a.biglink {
  font-weight: bold;
  font-size: 12pt;
}

a.altlink:link, a.altlink:visited{
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

a.altlink:hover {
  text-decoration: underline;
}

a.altlink_blue:link, a.altlink_blue:visited{
  font-weight: bold;
  color: #004E98;
  text-decoration: none;
}

a.altlink_blue:hover {
  text-decoration: underline;
}

a.altlink_green:link, a.altlink_green:visited{
  font-weight: bold;
  color: #007800;
  text-decoration: none;
}

a.altlink_green:hover {
  text-decoration: underline;
}

.important {
  font-weight: bold;
  font-size: 8pt;
}

.red {
  color: #ee0000;
}

.yellow {
  color: #997700;
}

.green {
  color: #000000;
}

input, select, textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}

.btn {
  width: 75px;
  height: 23px;
}

.small {
  font-size: 7pt;
}

.big {
  font-size: 10pt;
}

.highlight {
  text-decoration: underline;
  font-weight: bold;
  color: red;
}

li {
  margin-top: 6pt;
  margin-bottom: 6pt;
}

ul {
  margin-left: 16pt;
  margin-top: 0px;
  margin-bottom: 0px;
}

img.border
{
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
}

.mnu0 { border:solid 0px #FFFFFF; background: transparent; padding:1px 5px 1px 5px; font-size: 10pt; text-align: center; width: 35px;}
.mnu1 { border:solid 1px #0055a4; background: transparent; padding:1px 7px 1px 7px; font-size: 10pt; text-align: center;}
.mnusep { color: #CCC; border:none; background:transparent; padding:2px 1px 2px 1px; font-size: 10pt; text-align: center;}
.mnusep2 { color: #000000; border:none; background:#FFFFFF; font-size: 10pt; text-align: center;}
a.darklink:link, a.darklink:visited {
  text-decoration: none;
}

a.darklink:hover {
  text-decoration: none;
}

div.topleft {
  width: 2px;
  height: 4px;
  background: url(/img/shad_tlcorner.png) no-repeat top left;
  position: absolute;
  top: 0px;
  left: -1px;
}

div.topright {
  width: 2px;
  height: 4px;
  background: url(/img/shad_ttcorner.png) no-repeat top right;
  position: absolute;
  top: 0px;
  right: -1px;
}

div.bottomright {
  width: 4px;
  height: 4px;
  background: url(/img/shad_brcorner.png) no-repeat bottom right;
  position: absolute;
  bottom: 0px;
  right: -1px;
}

div.bottomleft {
  width: 4px;
  height: 4px;
  background: url(/img/shad_blcorner.png) no-repeat bottom left;
  position: absolute;
  bottom: 0px;
  left: -1px;
}

div.shadow {
  background: #b4afa3;
  padding: 0 1px;
  border-left: 1px solid #dcd7c8;
  border-right: 1px solid #dcd7c8;
}

img {
  padding: 5px 5px 9px 5px
  background: white url(/img/shad_bottom.png) repeat-x bottom left;
}

.ajaxloadercenter {background-image:url(/img/ajax-loader.gif);background-repeat:no-repeat;background-position:center center;}

.contexttrigger,.contexttrigger:visited {color:#1144aa;padding:4px 6px;font-weight:bold;text-decoration:none;border:1px solid #fff;}
.contexttrigger:hover {color:#1144aa;border:1px solid #1144aa;}
.contexttrigger:active, .contexttriggerselected, .contexttriggerselected:visited {background:#1144aa;border:1px solid #1144aa;}
.contexttrigger:active span, .contexttriggerselected span, .contexttriggerselected:visited span {color:#fff;}

.relatedgalleriescontainer {color:#555;width:350px;max-width:350px;position:absolute;display:none;border:2px solid #1144aa;border-top:1px solid #1144aa;background:#fff;}
.relatedgalleriescontainer .relateditemscontainer {height:355px;max-height:355px;overflow:auto;}
.relatedgalleriescontainer .relateditem {padding:5px;border-bottom:1px solid #ccc;}
.relatedgalleriescontainer .relateditem .title {font-weight:bold;display:block;margin-bottom:4px;}
.relatedgalleriescontainer .viewallgalleries {padding:10px;text-align:center;}

.relatedgalleriescontainer {border-radius:3px 0 3px 3px;-moz-border-radius:3px 0 3px 3px;-webkit-border-radius:3px 0 3px 3px;}
.relatedgalleriescontainer {box-shadow:0px 0px 20px #1144aa;-moz-box-shadow:0px 0px 20px #1144aa;-webkit-box-shadow:0px 0px 20px #1144aa;}


.blockwidget {padding:5px 8px;display:none;}
.blockwidget.blockwidgetleft {float:left;}
.blockwidget.blockwidgetright {float:right;}
.isblocked {border:1px solid #aa1111;background-color:#aa1111;color:#fff;}
.notblocked {border:1px solid #1144aa;background-color:#1144aa;color:#fff;}
.blockwidget a {color:#fff;text-decoration:none;}
.blockwidget a:hover {color:#fff;text-decoration:underline;}

.blockwidgetpopup {display:none;position:fixed;border:3px solid #1144aa;padding:5px;background:#f8f8f8;}
.blockwidgetpopup h1 {color:#555;margin:0;padding:20px;font-size:16px;}
.blockwidgetpopup h1 span {color:#aa1111;text-decoration:underline;}
.blockwidgetpopup div {padding:20px;text-align:center;}
.blockwidgetpopup input {margin:0 2px;}

.borderradius3 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.boxshadow20 {box-shadow:0px 0px 20px #1144aa;-moz-box-shadow:0px 0px 20px #1144aa;-webkit-box-shadow:0px 0px 20px #1144aa;}

.clear {clear: both;}
.nohover {background: none!important;}
h1#title {padding: 10px; margin: 0; background: url('/img/win-fff.gif') no-repeat left top #3366CC; color: #FFFFFF; text-align: left;}
div#controlpanel {overflow: hidden;border: 10px solid #3366CC; border-top: 0; padding: 10px 20px; text-align: left; background: #FFFFFF;}
div#controlpanel-menu {float: left; width: 140px; border-right: 1px solid #CCCCCC; padding: 10px 0; overflow: hidden;}
div#controlpanel-menu h3 {margin: 10px 0 5px 0; padding: 0; font-size: 110%;}
div#controlpanel-menu ul {margin: 0; padding: 0; list-style-type: none;}
div#controlpanel-menu ul li {padding: 2px 0 2px 20px; margin: 1px 0;}
div#controlpanel-menu ul li a {color: #CC0000;}
div#controlpanel-menu ul li.active a {color: #000000; text-decoration: none; font-weight: bold;}
div#controlpanel-menu ul li a:hover {color: #1144AA;}
ul li.icon-my-alerts {background: url('/img/flag16.gif') left top no-repeat;}
ul li.icon-my-profile {background: url('/img/profile.gif') left top no-repeat;}
ul li.icon-my-blog {background: url('/img/text.gif') left top no-repeat;}
ul li.icon-manage-fans {background: url('/img/manage-fans.png') left top no-repeat; width: 16px; height: 16px;}
ul li.icon-my-content {background: url('/img/overview.gif') left top no-repeat;}
ul li.icon-my-redirects {background: url('/img/redirect.jpg') left top no-repeat;}
ul li.icon-my-favorites {background: url('/img/link.gif') left top no-repeat;}
ul li.icon-my-clubs {background: url('/img/clubs.gif') left top no-repeat;}
ul li.icon-my-fanbase {background: url('/img/users.gif') left top no-repeat;}
ul li.icon-my-relations {background: url('/img/relation.jpg') left top no-repeat;}
ul li.icon-received-comments {background: url('/img/text.gif') left top no-repeat;}
ul li.icon-design {background: url('/img/icon_colorpicker.gif') left top no-repeat;}
ul li.icon-my-details {background: url('/img/profile.gif') left top no-repeat;}
ul li.icon-verify-account {background: url('/img/profile.gif') left top no-repeat;}
ul li.icon-my-settings {background: url('/img/settings.gif') left top no-repeat;}
ul li.icon-history {background: url('/img/history.gif') left top no-repeat;}
ul li.icon-mailbox {background: url('/img/email.gif') left top no-repeat;}
ul li.icon-statistics {background: url('/img/stats.gif') left top no-repeat;}
ul li.icon-traffic {background: url('/img/accounting.gif') left top no-repeat;}
ul li.icon-accounting {background: url('/img/dollar.gif') left top no-repeat;}
ul li.icon-browse-users {background: url('/img/accounting.gif') left top no-repeat;}
ul li.icon-user-ratios {background: url('/img/swap.gif') left top no-repeat;}
ul li.icon-payments {background: url('/img/dollar.gif') left top no-repeat;}
ul li.icon-verify {background: url('/img/profile.gif') left top no-repeat;}
ul li.icon-delete {background: url('/img/delete.gif') left top no-repeat;}
ul li.icon-locked {background: url('/img/locked.gif') left top no-repeat;}
ul li.icon-edit {background: url('/img/edit.gif') left top no-repeat;}
ul li.icon-blocked {background: url('/img/stop.jpg') left top no-repeat;}
ul li.icon-categories {background: url('/img/overview.gif') left top no-repeat;}
ul li.icon-closeacc {background: url('/img/close.gif') left top no-repeat;}
ul li.icon-approve {background: url('/img/tick.gif') left top no-repeat;}
ul.clubs-submenu {margin: 0; padding: 0; list-style-type: none; line-height: 110%;}
ul.clubs-submenu li {margin: 5px 0; padding: 2px 0 2px 20px;}
ul.clubs-submenu li a:hover {color: #cc0000;}
ul.relations-submenu {margin: 0; padding: 0 0 10px 10px; list-style-type: none; line-height: 110%; text-align: right;}
ul.relations-submenu li {margin: 5px 10px 5px 0; padding: 2px 0 2px 20px; display: inline;}
ul.relations-submenu li a:hover {color: #cc0000;}
div#controlpanel div.content {text-align: left; padding: 10px 0; margin: 0 0 0 20px; width: 700px; float: right;}
div#controlpanel div.content h1 {color: #cc0000; margin: 0; padding: 0;}
div#controlpanel div.content h2 {margin: 10px 0; padding: 10px 0 5px 0; border-bottom: 2px solid #000000;}
div#controlpanel div.content h2 span {float: right;}
div#controlpanel div.content h3 {font-size: 9pt; margin: 10px 0; padding: 10px 0 5px 0; border-bottom: 1px solid #999999;}
div#controlpanel div.content p {margin: 10px 0; padding: 0;}
div#controlpanel div.content form {line-height: 170%;}
div#controlpanel div.content form.change {margin: 10px 0;}
div#controlpanel div.content form p {margin: 0; padding: 5px 10px;}
div#controlpanel div.content form p.submit {border-top: 2px solid #000000; text-align: right; margin-top: 10px;}
div#controlpanel div.content form p.submit input {vertical-align: middle;}
div#controlpanel div.content form p.submit em {float: left;}
div#controlpanel div.content form input {padding: 5px;}
div#controlpanel div.content form textarea, div#controlpanel div.content form input.long {width: 100%;}
div#controlpanel div.content form input.long {height: 28px;}
div#controlpanel div.content form input.middle {width: 400px; height: 28px;}
div#controlpanel div.content form input.short {width: 100px; height: 28px;}
div#controlpanel div.content form input.pick {padding: 3px 10px;}
div#controlpanel div.content form p span.error {color: #FF0000;}
div#controlpanel div.content form table.form-table {width: 100%; margin: 10px;}
div#controlpanel div.content form small {color: #777777;}
div#controlpanel div.content form fieldset {border: 1px solid #EFEFEF; border-top: 1px solid #CCCCCC; margin: 10px 0;}
div#controlpanel div.content form fieldset legend {padding: 2px 5px; border: 1px solid #CCCCCC; margin: 0 10px; font-weight: bold;}
div#controlpanel div.content table.list {width: 100%; border: 1px solid #999999; border-collapse: separate; line-height: 110%;}
div#controlpanel div.content table.list thead tr th {font-size: 70%; text-align: left; background: #E7E7E7; padding: 5px; border-bottom: 1px solid #999999;}
div#controlpanel div.content table.list tbody tr td {padding: 5px; border-bottom: 1px solid #CCCCCC;}
div#controlpanel div.content table.list tbody tr.odd td {background: #FFFFFF;}
div#controlpanel div.content table.list tbody tr.even td {background: #F4FAFF;}
div#controlpanel div.content table.list tbody tr:hover td, div#controlpanel div.content table.list tbody tr.hover td {background: #FFFFBB;}
div#controlpanel div.content table.list img {border: 0; float: left; display: block; margin: 0 3px;}
div#controlpanel div.content table.list a:hover {color: #cc0000;}
div#controlpanel div.content table.favorites-list {border-collapse: separate; line-height: 110%; text-align: center;}
div#controlpanel div.content table.favorites-list tbody tr td {width: 193px; vertical-align: top;}
div#controlpanel div.content table.favorites-list tbody tr td div {border: 2px solid #E7E7E7; margin: 5px; padding-top: 10px;}
div#controlpanel div.content table.favorites-list tbody tr td div p {background: #E7E7E7; margin: 10px 0 0 0;}
div#controlpanel div.content table.favorites-list tbody tr td:hover div, div#controlpanel div.content table.favorites-list tbody tr td.hover div {border: 2px solid #CCCCCC;}
div#controlpanel div.content table.favorites-list tbody tr td:hover p, div#controlpanel div.content table.favorites-list tbody tr td.hover p {background: #CCCCCC;}
div#controlpanel div.content table.favorites-list img {border: 0; margin: 5px 3px 0 3px;}
div#controlpanel div.content table.favorites-list a:hover {color: #cc0000;}
div#controlpanel div.content table.clubs-list {width: 100%; border-collapse: separate; line-height: 110%;}
div#controlpanel div.content table.clubs-list tr td {padding: 5px 10px; vertical-align: top; border-bottom: 10px solid #FFFFFF;}
div#controlpanel div.content table.clubs-list tr:hover td, div#controlpanel div.content table.clubs-list tr.hover td {background: #FFFFBB;}
div#controlpanel div.content table.clubs-list tr td.ctitle {padding: 5px 10px; background: #E7E7E7; border-bottom: 1px solid #999999;}
div#controlpanel div.content table.clubs-list a:hover {color: #cc0000;}
div#controlpanel div.content table.clubs-list img {border: 0;}
div#controlpanel div.content table.logos-list {border-collapse: separate; line-height: 110%; text-align: center;}
div#controlpanel div.content table.logos-list tbody tr td {width: 152px; vertical-align: top;}
div#controlpanel div.content table.logos-list tbody tr td.full {width: auto!important;}
div#controlpanel div.content table.logos-list tbody tr td div {border: 2px solid #E7E7E7; margin: 5px; padding-top: 10px;}
div#controlpanel div.content table.logos-list tbody tr td div p {background: #E7E7E7; margin: 10px 0 0 0;}
div#controlpanel div.content table.logos-list tbody tr td:hover div, div#controlpanel div.content table.logos-list tbody tr td.hover div {border: 2px solid #CCCCCC;}
div#controlpanel div.content table.logos-list tbody tr td:hover p, div#controlpanel div.content table.logos-list tbody tr td.hover p {background: #CCCCCC;}
div#controlpanel div.content table.logos-list tbody tr td.active div {border: 2px solid #00FF00;}
div#controlpanel div.content table.logos-list tbody tr td.active p {background: #00FF00;}
div#controlpanel div.content table.logos-list img {border: 0; margin: 5px 3px 0 3px;}
div#controlpanel div.content table.logos-list a:hover {color: #cc0000;}
div#controlpanel div.content table.relations-list {width: 100%; border-collapse: separate; line-height: 110%;}
div#controlpanel div.content table.relations-list tr td {width: 50%; padding: 0; vertical-align: top; border-bottom: 10px solid #FFFFFF;}
div#controlpanel div.content table.relations-list tr td.middle {border-right: 5px solid #FFFFFF;}
div#controlpanel div.content table.relations-list tr td.normal {border-left: 5px solid #FFFFFF;}
div#controlpanel div.content table.relations-list tr td:hover {background: #FFFFBB;}
div#controlpanel div.content table.relations-list tr td.hover-middle {background: #FFFFBB; border-right: 5px solid #FFFFFF;}
div#controlpanel div.content table.relations-list tr td.hover-normal {background: #FFFFBB; border-left: 5px solid #FFFFFF;}
div#controlpanel div.content table.relations-list a:hover {color: #cc0000;}
div#controlpanel div.content table.relations-list img {border: 0; margin: 10px; display: block;}
div#controlpanel div.content table.relations-list h3 {margin: 0; padding: 5px 10px; border-bottom: 1px solid #999999!important; background: #E7E7E7;}
div#controlpanel div.content table.relations-list h3 small {color: #000000; float: right; font-weight: normal;}
div#controlpanel div.content table.relations-list div.left {float: left; width: 120px;}
div#controlpanel div.content table.relations-list div.right {float: right; width: 252px;}
div#controlpanel div.content table.comments-list {width: 100%; border-collapse: separate; line-height: 110%;}
div#controlpanel div.content table.comments-list tr td {padding: 0; vertical-align: top; border-bottom: 10px solid #FFFFFF;}
div#controlpanel div.content table.comments-list tr td:hover, div#controlpanel div.content table.comments-list tr td.hover {background: #FFFFBB;}
div#controlpanel div.content table.comments-list a:hover {color: #cc0000;}
div#controlpanel div.content table.comments-list img {border: 0; margin: 10px; display: block;}
div#controlpanel div.content table.comments-list h3 {margin: 0; padding: 5px 10px; border-bottom: 1px solid #999999!important; background: #E7E7E7;}
div#controlpanel div.content table.comments-list h3 small {color: #000000; float: right; font-weight: normal;}
div#controlpanel div.content table.comments-list div.left {float: left; width: 70px;}
div#controlpanel div.content table.comments-list div.right {float: right; width: 694px;}
div#controlpanel div.content table.galleries-list {width: 100%; border-collapse: separate; line-height: 110%;}
div#controlpanel div.content table.galleries-list tr td {padding: 0; vertical-align: top; border-bottom: 10px solid #FFFFFF; overflow: hidden;}
div#controlpanel div.content table.galleries-list tr td:hover, div#controlpanel div.content table.galleries-list tr td.hover {background: #FFFFBB;}
div#controlpanel div.content table.galleries-list a:hover {color: #cc0000;}
div#controlpanel div.content table.galleries-list img {border: 0; margin: 10px; display: block;}
div#controlpanel div.content table.galleries-list h3 {margin: 0; padding: 5px 10px; border-bottom: 1px solid #999999!important; background: #E7E7E7;}
div#controlpanel div.content table.galleries-list h3 small {color: #000000; float: right; font-weight: normal;}
div#controlpanel div.content table.galleries-list div.gallery img {display: inline; border: 0;}
div#controlpanel div.messages ul {margin: 20px 10px; padding: 7px 10px; text-align: left; list-style-type: none;}
div#controlpanel div.messages ul li {margin: 0!important; padding: 3px 0;}
div#controlpanel div.messages ul.error {background: #FFF0F0; border: 1px solid #FF0000;}
div#controlpanel div.messages ul.success {background: #F0FFF0; border: 1px solid #00FF00;}
div#controlpanel div.messages ul.info {background: #FFFCE8; border: 1px solid #F9DA00;}
div#controlpanel div.color-area {width: 50px; height: 28px; float: left; margin: 0 5px 0 10px;}
table.request {width: 100%; border-collapse: separate; margin-bottom: 10px;}
table.request tr td {vertical-align: top; padding: 10px;}
table.request tr td.request-action {width: 250px; background: #E7E7E7; border-right: 1px solid #CCCCCC;}
table.request tr td.request-action form {margin: 10px 0;}
table.request tr td.request-detail {background: #EFEFEF;}
table.request tr:hover td.request-action, table.request tr.hover td.request-action {background: #FFFFA4; border-right: 1px solid #ECEC00;}
table.request tr:hover td.request-detail, table.request tr.hover td.request-detail {background: #FFFFBB;}
div#controlpanel div.content p.pagination {text-align: center; padding: 10px; margin: 10px 0; border-top: 1px dotted #999999;}
div#controlpanel div.content p.pagination strong {padding: 2px 4px; background: #999999; border: 1px solid #999999; color: #FFFFFF;}
div#controlpanel div.content ul.tabs {margin: 20px 0 0 0; padding: 10px 5px 0 5px; height: 28px; list-style-type: none; background: #CCCCCC;overflow:auto;}
div#controlpanel div.content ul.tabs li {float: left; margin: 0; font-size: 110%; font-weight: bold;}
div#controlpanel div.content ul.tabs li a {display: block; padding: 7px 10px; margin: 0 5px; background: #EFEFEF;}
div#controlpanel div.content ul.tabs li.active a {background: #FFFFFF; color: #000000; text-decoration: none;}
div#controlpanel div.content ul.tabs li a:hover {color: #CC0000;}
div#controlpanel div.content div.tabs-content {border: 10px solid #CCCCCC; border-top: 0; padding: 20px;}
div#controlpanel div.content form table.columns {width: 714px; margin: 10px 0; border-collapse: separate; line-height: 110%;}
div#controlpanel div.content form table.columns td {vertical-align: top;}
div#controlpanel div.content form table.columns label {display: block; float: left; width: 20px; text-align: right; padding: 3px 10px 0 0;}
div#controlpanel div.content form table.columns input {width: 250px; height: 28px;}
div#controlpanel div.content form table.columns span.error {padding-left: 30px;}
img.example {vertical-align: top;}

.tnaBarBlueWrap { background: url(../images/matrix_bar_blue.png) repeat-x 0px 0px; width: 100%; height: 32px; overflow: hidden; z-index: 99; text-align: center; }
.tnaBarBlue { width: 1000px; height: 32px; margin: 0px auto; text-align: left; position: relative; line-height: 32px; font-size: 13px; color: #e3f1ff;  }
.tnaBarBlue .decor { display: block; background: url(../images/matrix_bar_blue.png) no-repeat 0px -51px; height: 32px; width: 340px; position: absolute; top: 0px; left: 0px; z-index: 1;}
.tnaBarBlue strong { float: left; padding-right: 60px; text-shadow: #2e5d8f 1px 1px; }
.tnaBarBlue strong span { color: #fff; text-shadow: #2e5d8f 1px 1px; }
.tnaBarBlue ul { float: left; height: 39px; position: relative; z-index: 5; list-style-type: none; margin: 0px; padding: 0px;}
.tnaBarBlue ul li { float: left; padding-right: 2px; margin-top: 0 !important}
.tnaBarBlue ul li a { display: block; background: url(../images/matrix_bar_blue.png) no-repeat 0px -100px; width: 132px; height: 23px; margin-top: 4px; font-weight: bold; text-decoration: none !important; color: #fff !important; text-shadow: #4d9cec 1px 1px; }
.tnaBarBlue ul li a:hover {  color: #fff !important; }
.tnaBarBlue ul li a span { display: block; background: url(../images/matrix_bar_blue.png) no-repeat; height: 16px; padding-left: 27px; position: relative; top: 3px; left: 4px; line-height: 16px; cursor: pointer; }
.tnaBarBlue ul li a span.EFicon { background-position: -484px -40px; }
.tnaBarBlue ul li a:hover span.EFicon { background-position: -344px -40px; }
.tnaBarBlue ul li a span.PWicon { background-position: -484px -60px; }
.tnaBarBlue ul li a:hover span.PWicon { background-position: -344px -60px; }
.tnaBarBlue ul li a span.WSicon { background-position: -484px -80px; }
.tnaBarBlue ul li a:hover span.WSicon { background-position: -344px -80px; }
.tnaBarBlue ul li a span.IFicon { background-position: -484px -100px; }
.tnaBarBlue ul li a:hover span.IFicon { background-position: -344px -100px; }
.tnaBarBlue ul li a span.MFicon { background-position: -484px -120px; }
.tnaBarBlue ul li a:hover span.MFicon { background-position: -344px -120px; }
.tnaBarBlue ul li a span.TFicon { background-position: -484px -140px; }
.tnaBarBlue ul li a:hover span.TFicon { background-position: -344px -140px; }

.gal_title { font-family: "verdana"; font-size: 12px; }
.gal_mini {border: 0px; width: 50px; height: 50px; padding-right: 20px;}
.gal_thumb {border: 1px solid gray;}

/* Portrait */
@media screen and (max-width: 320px)
{
	.hidethumb { display: none; }
}
 
/* Landscape */
@media screen and (min-width: 321px)
{
	.hidethumb { display: visible; }
}

/* premium gallery */

#slideshow {
	text-align:center;
}

#navigation .bottom, .page { display:none; }
#navigation .top {
	position:absolute;
	margin-top:15px;
	width:685px;
	z-index:1;
}
#navigation .top .prev { float:left; }
#navigation .top .next { float:right; }

#navigation {
	position:relative;
	overflow:hidden;
	width:685px;
	height:80px;
	padding-right:0;
	margin-left:25px;
	text-align:left;
}

#navigation .thumbs {
	width:20000em;
	/* position:absolute; */
	clear:both;
	list-style: none;
	margin:0 0 0 30px !important;
	
}

#navigation .thumbs li {
	float:left;
	width:70px;
}

#navigation .thumbs li a {
	position:absolute;
	z-index:2;
}
#navigation .thumbs li a img {
	float:left;
	padding:2px;
	border:1px solid #ccc;
	width:50px; /* force max thumbnail width to 50 on the selection bar */
}

#navigation .thumbs li.selected a img { border:1px solid #ff0000; }

#controls {
	height:30px;
	margin-bottom:5px;
}

#controls .ss-controls {
	float:right;
	margin-right:10px;
}

#controls .ss-controls .play, #controls .ss-controls .pause {
	cursor:hand;
	cursor:pointer;
}

#controls .nav-controls {
	float:left;
	margin-left:10px;
}

#controls .prev, #controls .full {
	margin-right:10px;
}

.image-wrapper {
	cursor:hand;
	cursor:pointer;
	display:block;
	background:url("/images/lightbox-ico-loading.gif") no-repeat center;
}

/*
#img_description {
	font:9px verdana;
	color:#000;
	width:650px;
	border:1px solid #999;
	background:#fcffe0;
	margin:5px 0;
	text-align:left;
}
*/

#img_description {
	font-style:italic;
	margin:5px 0;
}

#controls .play, #controls .pause {
	text-decoration:underline !important;
	color:blue !important;
	cursor:hand;
	cursor:pointer;
}

.tooltip {
	display:none;
	background:#fff;
	border: 1px solid #c0c0c0;
	padding:5px;
	color:#fff;
}

#cntBanner, #mbBanner { position:relative; }
#mbBannerClose {
	display:none;
	position:relative;
	left:304px;
	top:-16px;
}

.gallerylist table tr.head td {
	text-align:center;
	font-weight:bold !important;
	font-size:13px !important;
	padding:5px;
}

.gallerylist table tr.head td a { color:#fff !important; }
.gallerylist table tbody tr { background-color: #fff; }
.gallerylist table tbody tr td { padding:5px; }

.gallerylist table tr.head td a.sel { text-decoration: underline !important; }

#cnt_lst_visitors { display:none;width:355px;background-color:#D4E6FF;border:1px solid #000;position:absolute;margin:-50px 0 0 150px;height:255px; }
#cnt_lst_visitors .scroll { height:233px;overflow:auto; }
#cnt_lst_visitors ul { list-style:none;margin-left:0 !important;padding-left:0 !important; }
#cnt_lst_visitors li { border-bottom:1px solid #000;margin:0;padding-top:5px; }
#cnt_lst_visitors li#first { background-color:#4691f7;padding:3px;color:#fff; }
#cnt_lst_visitors li#first a { color:#fff !important; }
#cnt_lst_visitors li div.info { float:right;width:250px;padding-left:10px;margin-top:10px;line-height:30px; }
#cnt_lst_visitors li#nobody { padding:3px; }

#cnt_searches { display:none;width:250px;background-color:#D4E6FF;border:1px solid #000;position:absolute;margin:15px 0 0 -75px;height:255px; }
#cnt_searches .scroll { height:233px;overflow:auto; }
#cnt_searches ul { list-style:none;margin-left:0 !important;padding-left:0 !important; }
#cnt_searches li { border-bottom:1px solid #000;margin:0;padding-top:5px; }
#cnt_searches li#first { background-color:#4691f7;padding:3px;color:#fff; }
#cnt_searches li#first a { color:#fff !important; }

/* extra generics */

.fr { float:right; }
.fl { float:left; }
.cb { clear:both; }
.h { display:none; }
.hr { clear:both;border-top:1px solid #c0c0c0;height:1px;font-size:1px;margin:10px 0; }
.tl { text-align:left; }

.w170 { width:170px; }
.pt5 { padding-top:5px; }
.ml20 { margin-left:20px; }

.opt_new { font-style:italic; }

.cntCommentControls { display:none;float:right; }

/* playlist specifics */

#playlist, #flag, #share {
	display:none;
	width:500px;
	border:10px solid #666;
	background-color: #d4e6ff;
	
	/* for modern browsers use semi-transparent color on the border. nice! */
	border:10px solid rgba(82, 82, 82, 0.698);
	
	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#playlist .head, #flag .head, #share .head {
	background-color: #4691f7;
	margin:0;
	padding:5px;
	color: #fff;
	font-weight:bold;
	border-bottom:1px solid #1B76F5;
}

#playlist .head input, #flag .head input, #share .head input {
	background: transparent;
	border:0;
	color: #fff;
	font-weight:bold;
}

#playlist select { width:140px; }
#playlist .loading, #playlist .no_lists { margin:100px 0 100px 0;text-align:center; }
#playlist .content { display:none; }
#playlist ul { list-style:none;padding:0;margin:0;height:180px; }
#playlist li { float:left;padding:5px;margin-top:0;margin-bottom:0;height:275px;border-top:1px solid #fff;width:178px; }
#playlist li.thumb { width:300px;border-right:1px solid #fff; }
#playlist li.thumb li { padding:4px;height:auto;width:auto;border:0; }
#playlist li.thumb li img { border:1px solid #fff; }
#playlist ul.body li.thumb div.display { font-size:14px;margin-bottom:5px; }
#playlist ul.body li.thumb ul li input { position:absolute;margin:35px 0 0 35px;cursor:hand;cursor:pointer; }

#playlist #sweep {
	position:absolute;
	margin-top:238px;
	border:1px solid #F0B3B3;
	color:#fff;
	font-weight:bold;
	background-color: #DB4B4B;
	padding:5px;
	font-size:14px;
}

#playlist_page { width:50px !important; }

/* playlist buttons */

.btAdd, .btAdded, .btAddLD {
	position:absolute;
	display:none;
	height:16px;
	width:16px;
	background:url("/img/add.png") no-repeat;
	font-size:1px;
}

.btAdded {
	display:inline;
	background:url("/img/star.png") no-repeat;
}

.btAddLD {
	display:inline;
	background:url("/img/ajax-loader.gif") no-repeat;
}

/* flag overlay */

#flag { width:250px; }
#flag #flag_report { float:right; }
#flag #flag_usr { width:100px; }
#flag #flag_eml { width:155px; }
#flag #flag_reason { width:225px;height:50px; }

/* share overlay */

#share { width:275px; }
#share #cf_report { margin-left:35px; }
#share #share_eml { width:180px; }
#share .social a { display:block;float:left;width:25%;text-align:center;height:40px; }

/* overlay commons */

#flag .body, #share .body { padding:10px; }
#flag .error, #share .error { border:1px solid #ff0000 !important; }
#cf li { list-style:none;float:left;padding:5px;margin-top:0;margin-bottom:0; }
#cf_img, #cf_report { padding-top:12px; }
#cf_img a { display:block;padding-top:10px; }
#cf_report input { height:35px; }
#cf_loading { display:none;float:right;background:url("/img/ajax-loader.gif") no-repeat;padding-left:25px; }

/* image view new controls */

.image_info { margin:0 20px; }
.image_info ul { list-style:none; }
.image_info li { float:left;padding:5px;font-size:15px;font-weight:bold; }
.image_info li select { font-size:15px;font-weight:bold; }
.image_info td { padding:5px; }
.addTo_result, .addTo_loading, .image_info f_reply, .image_info #comments_first, .image_info #comments_many { display:none; }
.addTo_result { font-size:10px; }
.image_info #comments_content { height:75px;width:100%; }
.comments#cf { float:right; }
#comments_reply_who { font-weight:bold; }
#comments_reply { display:none; }

#img_uprofile, #img_ugallery, #img_ufavorites, #img_ufanbase, #img_uclubs, #img_ucomments, #img_ublog { font-weight:bold; }

#img_votes { width: 95px;height:17px; }
#img_votes, .vote_loading { float:left; }
.vote_loading { float:right;display:none; }

/* jQuery.Rating */
.rating-cancel,.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
.star-rating,.star-rating a{background:url(/images/star.gif) no-repeat 0 0px}
.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
.star-rating-on a{background-position:0 -16px!important}
.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
.star-rating{background:transparent !important;overflow:hidden !important}
/* END jQuery.Rating Plugin CSS */

.itemCounter {
	position:absolute;
	background-color:#db4b4b;
	color:#fff;
	font:9px verdana;
	padding:3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.relCont, .msgCont {
	display:none;
	position:absolute;
	margin-top:40px;
	width:200px;
	padding:5px;
	background-color:#fff;
	border:1px solid #c0c0c0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align:left;
	z-index: 9999;
}

.lnkHome, .lnkComments, .lnkRelations, .lnkCommentsGallery, .lnkNewFavorites, .lnkNewFan, .lnkAppRel, .lnkBirthday {
	background:url("/img/comment.gif") no-repeat;
	display:block;
	padding:5px 0 2px 30px;
	margin:5px;
}

.lnkRelations { background:url("/img/buddy_green.gif") no-repeat; }
.lnkCommentsGallery { background:url("/img/picture24.gif") no-repeat; }
.lnkNewFavorites { background:url("/img/fav24.gif") no-repeat; }
.lnkNewFan { background:url("/img/thumb_up24.gif") no-repeat; }
.lnkAppRel { background:url("/img/buddy_blue.gif") no-repeat; }
.lnkBirthday { background:url("/img/cake.gif") no-repeat; }
.lnkHome { background:url("/img/home.gif") no-repeat; }

.uonline { position: absolute;margin-left: -18px;border:0px; margin-top: 2px;}

.cmReplies {
	margin-top:10px;
	margin-left:5px;
	padding-left:10px;
	border-left:3px solid #c0c0c0;
}

.announceBox {
	border:3px solid #3366CC;
	text-align:left;
	margin-bottom:10px;
	max-width: 930px;
}

.announceBox .close {
	float:right;
	background:#3366CC;
	padding:3px 3px 6px 6px;
}

.announceBox .close a {
	color:#fff !important;
}

.announceBox .pad {
	padding:10px;
}

.announceBox b {
	color: #ff0000;
	font-size:15px;
	display:block;
	padding-bottom:5px;
}

#cat_tooltip {
	display:none;
	position:absolute;
	border:1px solid #c0c0c0;
	background: #ffffdd;
	color: #000;
	padding:5px;
	width:300px;
	font-size:11px;
	margin-top:10px;
	margin-left:25px;
}

#cnt_cats {
	float:right;
	text-align:right;
}

.iconCountry {
  width:14px;
  height:11px;
}
.iconSex {
  background:url(/images/gender.gif) 0 0 no-repeat;
  width:22px;
  height:20px;
}

.sexW {
  background-position:0px 0px;
}

.sexM {
  background-position:-22px 0px;
}

.sexS {
  background-position:-44px 0px;
}

.sexC {
  background-position:-66px 0px;
  width:31px !important;
}

.sexGC {
  background-position:-97px 0px;
  /*width:24px !important;   */
}

.sexWC {
  background-position:-119px 0px;
  width:26px !important;   
}

.sexSC {
  background-position:-145px 0px;    
}

.avatar {border: solid 1px #cccccc; background-color: #eeeeee; position: relative; text-align: center;}
.avatar .subscribers {font-size: 9px; color: #000000;}
.avatar .comments {font-size: 9px; color: #000000;}
.avatar .opt {margin: auto;}
.avatar .sex {float: left;}
.avatar .country {margin-left: 2px; margin-top: 5px; float:left;}
.avatar .sendmail {margin-left: 2px; margin-top: -2px; float:left;}

.title_length
{
    display: inline-block;
    margin-left: 20px;
}






.tabContainer
{
    /* The UL */
    float: left;
}

#contentHolder{
    background-color:#EEEEEE;
    border:2px solid #FFFFFF;
    height:300px;
    margin:20px;

    color:#444444;
    padding:15px;
}

#tabContent{
    background-color:#333;
    border:1px solid #444;
    margin-top:-15px;
    width:100%;
}

#tabContent, .tabContainer li a,#contentHolder{
    -webkit-box-shadow:0 0 2px black;
    -moz-box-shadow:0 0 2px black;
    box-shadow:0 0 2px black;
}

.tabContainer li{
    /* This will arrange the LI-s next to each other */
    display:inline;
}

.tabContainer li a,.tabContainer li a:visited{
    /* Styling the hyperlinks of the tabs as colorful buttons */

    float:left;
    font-weight: bold;
    font-size:13px;
    line-height: 21px;
    color: white;

    /* display:block allows for additinal CSS rules to take effect, such as paddings: */
    display:block;

    padding: 7px 11px 1px;
    margin: 4px 7px;
    height: 29px;

    /* Giving positioning */
    position:relative;
}

.active_overline
{
    display: block !important;
}

.overLine{
    /* The line above the active button. */
    position: absolute;
    display: none;

    height: 2px;
    background-color: white;
    width: 98%;

    float: left;
    left: 1px;
    top: -5px;
    overflow: hidden;
}

ul .left{
    /* The left span in the hyperlink */

    height:37px;
    left:0;
    position:absolute;
    top:0;
    width:10px;
}

ul .right{
    /* The right span in the hyperlink */

    height:37px;
    right:0;
    position:absolute;
    top:0;
    width:10px;
}

.content ul a, a:visited {
    text-decoration: none;
}

/* Styling the colors individually: */
.content ul a.green{	background:url(img/green_mid.png) repeat-x top center;}
.content ul a.green span.left{ background:url(img/green_left.png) no-repeat left top;}
.content ul a.green span.right{ background:url(img/green_right.png) no-repeat right top;}

.content ul a.blue{	background:url(img/blue_mid.png) repeat-x top center;}
.content ul a.blue span.left{ background:url(img/blue_left.png) no-repeat left top;}
.content ul a.blue span.right{ background:url(img/blue_right.png) no-repeat right top;}

.content ul a.orange{	background:url(img/orange_mid.png) repeat-x top center;}
.content ul a.orange span.left{ background:url(img/orange_left.png) no-repeat left top;}
.content ul a.orange span.right{ background:url(img/orange_right.png) no-repeat right top;}

.content ul a.red{	background:url(img/red_mid.png) repeat-x top center;}
.content ul a.red span.left{ background:url(img/red_left.png) no-repeat left top;}
.content ul a.red span.right{ background:url(img/red_right.png) no-repeat right top;}

/* The hover states: */
.content ul a:hover{	background-position:bottom center; text-decoration:none;}
.content ul a:hover span.left{ background-position:left bottom;}
.content ul a:hover span.right{ background-position:right bottom;}


#background-image
{
    background: url("/img/ideea.jpg") no-repeat scroll 460px 59px transparent;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    width: 580px;
}

#background-image th
{
    color: #333399;
    font-size: 14px;
    font-weight: normal;
    padding: 12px;
}

#background-image tfoot td
{
    font-size: 11px;
}

#background-image td
{
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 9px 12px;
}

#background-image tbody td
{
    background: url("/img/background1.png") repeat scroll 0 0 transparent;
}

#background-image td
{
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 9px 12px;
}


.left_side
{
    float: left;
    width: 145px;
    border: 3px solid #6699ff;
}

.right_side
{
    border-top-left-radius: 10px;
    float: left;
    width: 750px;
    margin-left: 20px;
    border: 3px solid #3366CC;
    min-height: 400px;
}

.right_side_top
{
    background-color: #3366CC;
}

.our_niches
{
    font-family: "Verdana";
    font-size: 18px;
    background-color: #6699ff;
    color: white;
}

.results_per_page_text
{
    font-weight: bold;
    color: white;
    font-size: 13px;
    float: right;
    margin-right: 5px;
}

.browse_videos_text
{
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 1px 0 0 15px;
    float: left;
}

.browse_videos
{
    margin: 10px 0 0 17px;
}

.video_item
{
    float: left;
    margin: 0 0 20px 14px;
}

.pagination_area
{
    font-family: Verdana;
    font-size: 16px;
    margin: 5px 0 25px 0;
}

.folder_error
{
    color: red;
    padding: 10px 0;
}

#facets, #facets li {
	list-style: none;
	margin: 0;
	padding: 3px 0 3px 2px;
}

#facets li.show_more {
	padding-left:15px;
}

.gallerylist table td a img { max-width: 148px; }

/* avoid table growing out of boundaries with long broken descriptions */
.max-width-400 {
	width: 400px;word-wrap: break-word;
}

.likeBtn
{
background-position: -135px 0;
float: left;
background: url(/images/like.png) no-repeat 0 0;
background-size: 50px 50px;
width: 53px;
height: 53px;
line-height:53px;
text-align: center;
font-size: 14px;
line-height: 50px;
font-style: normal;
text-decoration: none !important;
padding: 0px 0px 0px 49px;
color: #999999;
font-size: 20px;
background-color:black;
border-radius:9px;
margin: 10px 10px 10px 32%;
}
