table {border-collapse: collapse; border-spacing:0;}
td, tr, a, table {margin:0; padding:0;}
body {
  background: #ecf2f6 url(/img/homepage/page_background.gif) repeat-x left top;
  font-family: Verdana, Arial, Helvetica, Clean, sans-serif;
  padding:0;
  margin:0;
  text-align:center;
}
img {border-style:none}

.copyright{
  background-color:#bbbbbb;
  color:#fff;
  font:10px Verdana;
  height:18px;
  line-height:18px;
  margin: 0;
  padding: 0 0 3px 0;
  *padding-top: 3px;
  text-align:center;
}

.copyright img {
  vertical-align: middle;
  *vertical-align: -5px;
}

.mainelement {
  width:778px;
  margin:5px auto;
  background-color:white;
  position:relative;
}

a {text-decoration:none;}
.tc {font-size: 12px; color: black}
.topnav { font-size: 12px; color: #0074e1; }
.sectionheader {font-size: 24px;color: #FFFFFF;}

/**
 * Quia Web Special Message
 */
#special_msg_div {
  border:0;
  margin:0 auto;
  padding:0;
  position:relative;
  text-align:left;
  width:778;
  *width:784;
}

#special_msg_inner {
  background-color:#f4eba6;
  border:0;
  color:#666;
  font:normal 10px Verdana,Arial,Helvetica,sans-serif;
  margin:0;
  padding:5px 15px;
  position:relative;
}

#special_msg_inner a {
  color:#666;
  text-decoration:underline;
}

