HTML {
	BACKGROUND: #fff; COLOR: #000
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
FIELDSET {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
ADDRESS {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CAPTION {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CITE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
CODE {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
DFN {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
EM {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
STRONG {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
VAR {
	FONT-WEIGHT: normal; FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
CAPTION {
	TEXT-ALIGN: left
}
TH {
	TEXT-ALIGN: left
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%
}
Q:unknown {
	content: ''
}
Q:unknown {
	content: ''
}
ABBR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal
}
ACRONYM {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; FONT-VARIANT: normal
}
SUP {
	VERTICAL-ALIGN: text-top
}
SUB {
	VERTICAL-ALIGN: text-bottom
}
INPUT {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
SELECT {
	FONT-SIZE: 100%
}
LEGEND {
	COLOR: #000
}
BODY {
	MIN-HEIGHT: 101%
}
HTML {
	MIN-HEIGHT: 101%
}
BODY {
	LINE-HEIGHT: 100%; FONT-FAMILY: arial,helvetica,clean,sans-serif
}
:focus {
	outline: 0
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px; FONT-FAMILY: SimSun,Arial
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff7300; TEXT-DECORATION: underline
}
A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
.orange {
	COLOR: #ff7300
}
A.orange:link {
	COLOR: #ff7300
}
A.orange:visited {
	COLOR: #ff7300
}
A.orange:active {
	COLOR: #ff7300
}

.m {
	FONT-SIZE: 14px
}

.b {
	FONT-WEIGHT: bold
}

.clr {
	ZOOM: 1
}
.clr:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: " "
}

.grid-c24 {
	MARGIN: 0px 0px 0px; ZOOM: 1
}
.grid-c24:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: " "
}

.grid-16 {
	DISPLAY: inline; Z-INDEX: 1; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 0px; POSITION: relative
}

.grid-16 {
	WIDTH: 660px
}
.last {
	MARGIN-RIGHT: 0px
}



#topnav LI.last {
	MARGIN-RIGHT: 0px
}

.market-hd {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/homepage/index0906/body-bg.png); BACKGROUND-REPEAT: no-repeat
}
.market-hd-warp {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/homepage/index0906/body-bg.png); BACKGROUND-REPEAT: no-repeat
}
.market-hd H3 {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/homepage/index0906/body-bg.png); BACKGROUND-REPEAT: no-repeat
}
.pinyin-title {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/homepage/index0906/body-bg.png); BACKGROUND-REPEAT: no-repeat
}
.pinyin-content LI A.current {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/homepage/index0906/body-bg.png); BACKGROUND-REPEAT: no-repeat
}

.icon-bg {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/homepage/index0906/icon-bg.png); BACKGROUND-REPEAT: no-repeat
}

.winport .module-c .last {
	PADDING-RIGHT: 0px! important
}

.alisoft .module-c LI.last {
	MARGIN-RIGHT: 0px
}

.aliguess .module-c LI.last {
	MARGIN-RIGHT: 0px
}

.alizxcxt .cxttj LI.last {
	MARGIN-RIGHT: 0px
}

.category-list {
	BORDER-RIGHT: #ffd17a 1px solid; BORDER-TOP: #e8e8e8 1px solid; BORDER-LEFT: #ffd17a 1px solid; BORDER-BOTTOM: #ffd17a 1px solid; ZOOM: 1
}
.category {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 2px; OVERFLOW: hidden; BORDER-LEFT: #ffffff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px solid; ZOOM: 1; POSITION: relative
}
.category:unknown {
	CLEAR: both; DISPLAY: block; HEIGHT: 0px; content: " "
}
.on.category {
	 PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px;PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
/*.on.category {
	BORDER-RIGHT: #ffd39a 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffd39a 2px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffd39a 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ffd39a 2px solid; BACKGROUND-COLOR: #ffffff
}*/
.category STRONG {
	MARGIN-TOP: -30px; DISPLAY: block; FONT-SIZE: 14px; LEFT: 8px; OVERFLOW: hidden; WIDTH: 20px; POSITION: absolute; TOP: 50%
}
.category DT {
	BORDER-RIGHT: #ffecb3 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ffecb3 1px solid; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffecb3 1px solid; WIDTH: 20px; COLOR: #000000; LINE-HEIGHT: 16px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffecb3 1px solid; BACKGROUND-COLOR: #fef5d9
}
.on.category DT {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; COLOR: #ff7300; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #fff2ca
}
.category DD {
	FLOAT: left; MARGIN: 8px 0px 8px 8px; OVERFLOW: hidden; WIDTH: 610px
}
#c-industry {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 642px
}
.on#c-industry {
	BORDER-RIGHT: #ffd39a 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffd39a 2px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffd39a 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ffd39a 2px solid; BACKGROUND-COLOR: #ffffe0
}
#c-industry DT {
	HEIGHT: 640px
}
#c-consumable {
	HEIGHT: 488px
}
#c-consumable1 {
	HEIGHT: 83px
}
#c-consumable DT {
	HEIGHT: 485px
}
#c-material {
	HEIGHT: 309px
}
#c-material DT {
	HEIGHT: 306px
}
#c-service {
	HEIGHT: 399px
}
#c-service DT {
	HEIGHT: 396px
}
.category-row {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; OVERFLOW: hidden; WIDTH: 620px; PADDING-TOP: 8px; HEIGHT: 60px
}
.category-row .w1-left {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 288px; MARGIN-RIGHT: 8px
}
.category-row .w1-right {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 288px; MARGIN-RIGHT: 0px
}
.category-row A.m {
	FONT-WEIGHT: bold; COLOR: #0048a2; MARGIN-RIGHT: 8px
}
.category-row A.m:link {
	FONT-WEIGHT: bold; COLOR: #0048a2; MARGIN-RIGHT: 8px
}
.category-row A.m:visited {
	FONT-WEIGHT: bold; COLOR: #0048a2; MARGIN-RIGHT: 8px
}
.category-row A.m:hover {
	COLOR: #ff7300
}
.category-row A.m:active {
	FONT-WEIGHT: bold; COLOR: #0048a2
}
.category-row A.l {
	FONT-WEIGHT: bold; COLOR: #ff6800; MARGIN-RIGHT: 8px;
}
.l{font-size:15px;}
.category-row A.last {
	MARGIN-RIGHT: 0px! important
}
.category-cell LI {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 8px; MARGIN-TOP: 6px; DISPLAY: inline; FLOAT: left; LINE-HEIGHT: 14px; MARGIN-RIGHT: 8px
}
.market-hd {
	BACKGROUND-POSITION: 0px -600px; BORDER-BOTTOM: #ff7300 2px solid; HEIGHT: 28px
}
.market-hd H3 {
	BACKGROUND-POSITION: -160px -570px; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN: 3px 0px 0px 4px; WIDTH: 84px; COLOR: #ffffff; LINE-HEIGHT: 23px; PADDING-TOP: 2px; HEIGHT: 23px; TEXT-ALIGN: center
}
.market-hd UL.link {
	DISPLAY: inline; FLOAT: left; PADDING-TOP: 8px
}
.market-hd UL.link LI {
	BACKGROUND-POSITION: 0px -7px; PADDING-LEFT: 20px; FLOAT: left; MARGIN-RIGHT: 3px; display:inline;
}
.market-hd UL.link LI A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff7300
}
.market-hd UL.link LI A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff7300
}
.market-hd UL.link LI A:hover {
	COLOR: #ff7300
}
.market-hd UL.link LI A:active {
	COLOR: #000
}
.market-hd-warp {
	BACKGROUND-POSITION: right -628px; FLOAT: right; OVERFLOW: hidden; HEIGHT: 28px
}
.market-hd-warp UL {
	PADDING-right: 30px; MARGIN: 5px 0px 0px; WIDTH: 320px; HEIGHT: 19px
}
.market-hd-warp UL LI {
	FLOAT: right; PADDING-TOP: 0px; vertical-align:middle
}
.market-hd-warp UL LI a{
COLOR: #ff7300; text-decoration:none;
}
.market-hd-warp UL LI a:hover{
COLOR: #ff7300; text-decoration:underline;
}
.market-hd-warp UL LI.alilast {
	BACKGROUND-POSITION: -10px -5px; PADDING-LEFT: 10px; FLOAT: left; COLOR: #666; MARGIN-RIGHT: 12px
}
.pinyin-title {
	BORDER-RIGHT: #c7dadd 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -680px; PADDING-LEFT: 20px; Z-INDEX: 8; PADDING-BOTTOM: 0px; BORDER-LEFT: #c7dadd 1px solid; WIDTH: 638px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 42px
}
.pinyin-title H4 {
	MARGIN-TOP: 10px; DISPLAY: inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; MARGIN-RIGHT: 8px
}
.pinyin-content {
	MARGIN-TOP: 8px; DISPLAY: inline; FLOAT: left; WIDTH: 530px
}
.pinyin-content LI {
	FONT-SIZE: 18px; FLOAT: left; MARGIN-RIGHT: 2px; FONT-FAMILY: Arial
}
.pinyin-content LI.last {
	MARGIN-RIGHT: 0px
}
.pinyin-content LI A {
	DISPLAY: block; Z-INDEX: 11; WIDTH: 18px; COLOR: #666666; POSITION: relative; HEIGHT: 30px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.pinyin-content LI A:hover {
	DISPLAY: block; Z-INDEX: 11; WIDTH: 18px; COLOR: red; POSITION: relative; HEIGHT: 30px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.pinyin-content LI A.current {
	BACKGROUND-POSITION: -312px -270px; COLOR: #ff7300
}
.pinyin-result {
	BORDER-RIGHT: #ffcca3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ffcca3 1px solid; DISPLAY: none; PADDING-LEFT: 8px; Z-INDEX: 10; LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #ffcca3 1px solid; WIDTH: 650px; PADDING-TOP: 8px; BORDER-BOTTOM: #ffcca3 1px solid; POSITION: absolute; TOP: 37px; BACKGROUND-COLOR: #fffdfa; TEXT-ALIGN: center
}
.pinyin-result LI {
	DISPLAY: inline; FONT-SIZE: 14px; FLOAT: left; OVERFLOW: hidden; WIDTH: 112px; LINE-HEIGHT: 24px; MARGIN-RIGHT: 8px; HEIGHT: 24px
}
.pinyin-result LI A {
	COLOR: #0048a2
}
.pinyin-result LI A:link {
	COLOR: #0048a2
}
.pinyin-result LI A:visited {
	COLOR: #0048a2
}
.pinyin-result LI A:hover {
	COLOR: #ff7300
}
.pinyin-result LI A:active {
	COLOR: #0048a2
}
.font1{color:#ff7200; font-size:13px; font-weight:bold;}
.font2{color:#ff7200; font-size:12px; font-weight:bold;}
