
/* --- */
.bigazblok { padding:0px; background: #fff; margin-bottom: 15px; border: 1px solid #e5e5e5; clear: both; }
.blk_rek { padding:0px; margin-bottom: 15px; clear: both; }
.blk_rekinline { padding:0px; display: inline-block; zoom: 1; *display: inline; margin-bottom: 15px; border: 1px solid #cacaca; clear: both; }
.blk_title{ background: #fbfbfb; color: #478bca; font-size: 16px; font-weight: bold; border-bottom: 1px solid #e2e2e2; padding: 8px 10px;  }
.blk_title_22{ background: #478bca; color: #fff; font-size: 16px; border-bottom: 1px solid #e2e2e2; padding: 8px 10px;  }

.blk_as{ font-size: 18px; padding-bottom: 5px; }
.blk_as a{ color: #333333; font-size: 13px; font-weight: bold; display: block; padding: 6px 10px; border-bottom: 1px solid #efefef; }
.blk_as a:hover{ cursor: pointer; text-decoration: none;}
.blk_as a:last-child{ border-bottom: 0px none; }
.blk_as span{ color: #666666; font-size: 0.9166em; font-weight: normal; float: right; line-height: 1.4em; white-space: nowrap; }

.bigazblok .inside {  margin: 7px; clear: both; display: block; }
.bigazblok .inside a { color: #333; text-decoration:none; }
.bigazblok .inside a:hover { color: #004982; text-decoration:none; }
.bigazblok .inside li { background: none; border-bottom:1px solid #e6e6e6; list-style:none; 
	padding:4px 0px 4px 2px;
}
.bigazblok .inside li:last-child{ border-bottom: 0px none; }
.bigazblok .inside li i { float: right; margin-top: 5px; font-style: normal; color: #898989;
 font-weight: normal; }
.bigazblok .inside li a, .bigazblok .inside li a:hover { line-height: 17px;}

/* --- */
.navis { line-height: 26px; font-size: 15px; clear:both; background: #fbfbfb; display: block; }
.navis li{ display: block; float: left; text-indent: 10px; width: 50%; overflow: hidden; height: 26px; border-bottom: 1px dashed #e9e9e9;  }
.navis li.blokRight{  float: right; }
.navis small{color: red;margin-left: 5px; }
.navis a {color:#333;  text-decoration:none;  }
.navis a:hover {text-decoration:underline; color:#333; }

/* --- */
.relatedbig { cleaR: both; margin: 10px auto; border: 1px solid #e9e9e9; padding: 5px 10px; }
.relatedbig_title { font-size: 1.2em; font-weight: bold; padding: 5px;  }
.relatedbig li { display: block; text-indent: 2px; border-top: 1px dashed #e9e9e9; padding: 5px 5px; }
.relatedbig li a{ color: #333; }
.relatedbig li:last-child{ border-bottom: 0px none; }


/* --- */
.coment { padding: 7px; border: 1px #e7e7e7 solid; margin-bottom: 15px;  margin-top: 10px; background: #fff; position: relative; clear: both; overflow: hidden;  }
.comavatar { width: 120px; max-width: 25%; float: left; margin-right: 10px; }

.coment, #comouter, .comhead, .combody{ clear: both; }
.coment:before, #comouter:before, .comhead:before, .combody:before { 
content:" ";display:table; }
.coment:after, #comouter:after, .comhead:after, .combody:after { clear:both; }

.combody { max-height: 300px; overflow-x: hidden;  overflow-y: auto; }
.comfull { overflow: hidden; }
.comimg { margin-bottom: 5px; }
.comedit { float: right; }
.comedit a{ margin-right: 5px; }
.comhead em { color: gray; margin-left: 10px; font-style: normal; }
.comavatar img{ max-width: 100%; }

.comsendform { padding: 10px; background: #f6f7f9; border: 1px solid #e1e2e3; margin: 10px auto; }
.combbtitle { color: #333; font-size: 16px; font-weight: bold; margin-bottom: 5px; }
.comsendform textarea{ border: 1px solid #e1e2e3; }
.comsubmit{ padding: 3px 16px; color: #fff; background: #4267b2; border: 0px none !important; border-radius: 2px; font-size: 14px; text-align: center; text-shadow: none; cursor: pointer; display: inline-block;  text-decoration: none; white-space: nowrap; vertical-align: baseline; box-sizing: content-box; }

/* --- */
.pagination { display: block; text-align: center; clear: both; margin: 10px 0px; }
.pagination b, .pagination a{ padding: 3px 12px; display: inline-block; zoom: 1; *display: inline;  background: gray; color: #fff; margin: 2px 1px; text-decoration: none; }
.pagination a { text-decoration: none; color: #fff; 	background: #478bca; }
.pagination a:hover { background: #ffa615; color: #fff;  text-decoration: none; }

