/* 10112015 */

.b_e, .b1 { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 0;}
.b_d, .b2 { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px; text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -16px;}
.b_s, .b3 { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -32px;}
.b_a { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -48px;}
.b_n { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -64px;}
.b_q { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -80px;}
.b_i { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -96px;}
.b_p { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -112px;}
.b_m { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -128px;}
.b_v { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -144px;}
.b_l { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 3px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -160px;}
.b_fb, .b4 { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 5px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -368px;}
.b_fb2 { display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 5px;  text-indent: 1000px;background: transparent url('images/setsicon.gif?12') no-repeat 0 -384px;}

.up{ display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 5px;  text-indent: 1000px;background: transparent url('images/up.gif') no-repeat 0 4px;}
.down{ display: block; width: 16px; height: 16px; overflow: hidden; float: left; margin-left: 5px;  text-indent: 1000px;background: transparent url('images/down.gif') no-repeat 0 4px;}

.editor { margin: 0px; width: 100%; height: 21px; border: 1px #D1D8EC solid; background: url(images/editor/bg.gif)  repeat-x; }
.editorbutton {	float: left; cursor: pointer;	padding: 2px 1px 0px 5px; }
.editorbutton2 {	float: right; cursor: pointer;	padding: 2px 1px 0px 5px; }

.embed-responsive {  position: relative;  display: block;  height: 0;  padding: 0;  overflow: hidden;}
.embed-responsive .embed-responsive-item,.embed-responsive iframe, .embed-responsive embed,.embed-responsive object,.embed-responsive video {  position: absolute;  top: 0;  bottom: 0;  left: 0;  width: 100%;  height: 100%;  border: 0;}
.embed-responsive-16by9 {  padding-bottom: 56.25%;}
.embed-responsive-4by3 {  padding-bottom: 75%;}

#dropmenudiv {	border: 1px solid #ffffff;	border-bottom-width: 0;	font: normal 10px Tahoma;	background-color: #6497ca;	line-height: 16px;	margin: 2px;	filter: alpha(opacity=95, enabled=1) progid:DXImageTransform.Microsoft.Shadow(color=#cacaca, direction=135, strength=3);}
#dropmenudiv a {	display: block;	text-indent: 3px;	border: 1px solid #ffffff;	padding: 1px 0;	margin: 1px;	color: #ffffff;	text-decoration: none;	font-weight: bold;}
#dropmenudiv a:hover { background-color: #fdd08b; color: #000000;}


header, footer, aside, section, nav, article { display: block; }
img {  border:0px none; }
ul{margin:0;list-style-position: inside;list-style-image:none; list-style-type: none; }
ul, ol { margin: 0px;  padding: 0px;}
.clr , .clear{ clear: both; }
.clearfix:before {content:" ";display:table; }
.clearfix:after {clear:both}
.hide { display: none; }
.show { display: inline; }
.center { text-align: center; }
.left { float: left; }
.right { float: right;  }
.nowrap { white-space:nowrap; }
.inline-block { display:inline-block;zoom:1;*display:inline; }
.overflowhide{ overflow: hidden; }

img.imgbcodecent { display: block;  margin: 5px; border: 0px; margin: 10px auto; }
img.imgbcode { display: block;  margin: 5px; border: 0px; }
img.imgbcodeleft { display: block; float: left; margin: 5px; border: 0px; margin-right: 10px;  }
img.imgbcoderight { display: block; float: right;  margin: 5px; border: 0px; margin-left: 10px; }
.fb-comments { clear: both; }
img{border:0 none}
hr{border:0 none;height:1px;border-top:1px solid #cfcfcf}
.noborder{border:0 none!important}
.lightgray{color:#666}
ul{margin:0;list-style-position:outside;list-style:none;list-style-image:none}
ul li{margin:0;padding:0}
ol{list-style-image:none;list-style-position:outside;list-style-type:decimal}

.bold , .bold a {font-weight: bold;} .red , .red a {color: #c51b17; font-weight: bold;}.blue, .blue a {color: #4442a9; font-weight: bold;}
.green, .green a {color: #42a947; font-weight: bold;}.orange, .orange a  { color: #f74b08; font-weight: bold; }.gray, .gray a { color: #545454; font-weight: bold; }.smallhint, .smallhint a { color: #7d7d7d; font-weight: normal; font-size: 11px; }
.pointer, .pointer  a { cursor: pointer; } label.filelabel{display:block;width:500px;margin-bottom:5px}label.label{float:left;width:33%;margin-bottom:5px}label.label input[type=file]{width:90%}

#informer{position:fixed; width:300px; top: 30px; left: 50%; margin-left: -150px;  z-index:100;
 padding: 10px;min-height:50px;border-radius:7px; 
  color: #3c763d; background: #dff0d8;  border: 1px solid #b2dba1; font-weight: bold; 
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  }
#inputinfo{clear:both;border:1px solid pink;background:#ffffe0;padding:2px 5px;margin-top:5px;display:block;color:#C33;width:500px}.error{border:1px solid #d73633;background:#fcf1ee}label.error{border:0;color:red;margin-left:3px;background:transparent!important}.errormsg,
.okmsg, .wmsg, .errormsg{ padding: 8px 12px; border-radius:4px; margin:8px 5px; font-weight:700; font-size: 14px; border:1px solid #FAEBCC; }
.wmsg{ background:#FCF8E3; border-color: #FAEBCC; color:#8A6D3B; }
.okmsg{ background:#e0f8df; border-color: #BCE8F1; color: #31708F; }
.errormsg{ background: #f6e4e4; border-color: #EBCCD1; color: #A94442; }

.ndot {   color: #898989;   font-weight: normal; }
.confsender { color: #808080; text-align: right; }
.confmesaj { border-bottom: 1px solid gray; padding: 3px; }



.fbouterfix { display: block; overflow: hidden; width: 60px; height: 20px; line-height: 1;  }
.textcenter { text-align: center; }
.opacity0 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; }
.opacity1 { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; -moz-opacity: 1; -khtml-opacity: 1;}

#mynfram { outline: 0px solid red; display: none; position: absolute; overflow: hidden; width: 60px; z-index: 10000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); 
 opacity: 0; -moz-opacity: 0; -khtml-opacity: 0;
}
#mynfram iframe { margin-left: -25px; border: 0 none; }

#frinputsearch { width:0px; height: 0px; overflow: hidden; border: 0 none; background: transparent;   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; -moz-opacity: 0; -khtml-opacity: 0; }

#fbpaqwraper { display: none; background: rgba(0,0,0, 0.9); width: 100%; height: 100%;position: fixed; left: 0; top: 0;  z-index: 9999; }
#fbpaqcontent {  max-width: 350px;  width: 99%; position: fixed; top: 20%; left: 40%; height: auto;z-index: 999999;  !important  }
#fbpaqcontent section {  background: #fff; padding: 15px 10px; display: block;  text-align: center; overflow: hidden;  }
#fbpaqcontent b { display: block; font-size: 16px; color: #fff; margin-bottom: 10px }
@media screen and (max-width: 550px) {
#fbpaqcontent { left: auto; width: auto !important; max-width: 99% !important;   }
}

.mypopup { position:fixed; left: 20%; top: 20%; width: 400px;  display:none22; z-index:9999; background: #fff; 
  font-weight: normal;  line-height: 20px; font-family: arial;
  border: 1px solid #000;  border: 1px solid rgba(234, 238, 250, 0.6);
  -webkit-border-radius: 6px;  -moz-border-radius: 6px; border-radius: 6px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
 }
.mypopuptitle { background-color: #f8f8f8; font-weight: bold;  border-bottom: 1px solid #eeeeee;  margin: 0; padding: 8px 15px;  }
.mypopupcontent { margin: 15px; }
.mypopup .close { position: absolute; right: 15px; top: 10px;  color: #999; cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;  font-size: 20px; font-weight: normal; line-height: 10px;  text-decoration: none;
 }
.mypopup .close:hover { color: #444; }

.fbbigshare { background: #3b5998; border: 1px solid #4b5aa6; color: #fff; font-weight: bold;  padding: 10px 15px; text-decoration: none; border-radius: 3px; cursor: pointer; font-size: 17px; }
.fbbigshare:hover { background: #35479e; text-decoration: none;  }
.fbsmallshare { background: #3b5998; border: 1px solid #4b5aa6; color: #fff; font-weight: bold;  padding: 2px 10px; text-decoration: none; border-radius: 3px; cursor: pointer; font-size: 13px; line-height: 15px; }
.fbsmallshare i { font-style: normal; font-weight: bold; font-size: 1.1em; font-family: Arial; margin-right: 8px; }
.fbsmallshare:hover { background: #35479e; text-decoration: none;  }