div.bodyline { background-color: #FFFFFF; border: 1px #D1D8EC solid; padding: 8px; margin: 5px 0px; clear: both;  }
.bgcolor1		{ background-color: #FFFFFF; font-weight: bold; }
.bgcolor2		{ background-color: #FAFAFA; }
.bgcolor3		{ background-color: #F5F5F5; }
.bgcolor4		{ background: #afd1ed;  }
.bgcolor4 td, .bgcolor4 th, .bodyline td, .bodyline th{ padding: 3px; }

.sort				{ background-color: white; }

.text				{ background: none; color: #000000; font-size: 11px; font-family: Tahoma, Verdana, Helvetica; }
.bodyline		{ background-color: #FFFFFF; border: 1px #D1D8EC solid; }
.blockline		{ background-color: #FFFFFF; border: 1px #D1D8EC solid; border-top: none; }
.titleline			{ border: 1px #FFFFFF solid; }
.boxtitle			{ font-family: Tahoma, Verdana, Helvetica; font-size: 11px; color: #FF5500; font-weight: bold; }
.block-title		{ background: none; color: #2666B9; font-size: 11px; font-weight: bold; font-family: Tahoma, Verdana, Helvetica; }
.storytitle		{ background: none; color: #2666B9; font-size: 11px; font-weight: bold; font-family: Tahoma, Verdana, Helvetica; text-decoration: none; }
.storycat		{ background: none; color: #FF5500; font-size: 11px; font-weight: bold; font-family: Tahoma, Verdana, Helvetica; text-decoration: none; }
.option 			{ background: none; color: #FF5500; font-size: 11px; font-weight: bold; font-family: Tahoma, Verdana, Helvetica; text-decoration: none; }
.tiny				{ background: none; color: #000000; font-size: 11px; font-weight: normal; font-family: Tahoma, Verdana, Helvetica; text-decoration: none; }
.small			{ background: none; color: #000000; font-size: 10px; font-weight: normal; font-family: Tahoma, Verdana, Helvetica; text-decoration: none; }
.middle			{ padding-left:3; padding-right:3; padding-top:0; padding-bottom:3; }
.forumline		{ background-color: #FFFFFF; border: 1px #D1D8EC solid; }
.helpline		{ background-color: #FFFFFF; border-style: none; }
.code				{ color: #0000BB; font-size: 11px; font-family: Tahoma, Verdana, Helvetica; }


#ipb {
BACKGROUND: url(images/td_bg_image.gif) #ffc14a repeat-y left; color: #393939;
}

#ipb td {
Background: white;
}

#ipb a{
color: #9b0a02;  text-decoration: none;
}


.reset, .reset li { margin: 0; padding: 0; display: block; list-style: none; }
.dcont {
width: 160px;
overflow:hidden;
margin: 0px auto;
}

.dcont ul li {
padding:0 0 2px;
}
.dcont li a {
background:#FFFFFF url(images/navigation.png) no-repeat scroll 0 0;
color:#6C6C6C;
font-weight: bold;
display:block;
height:25px;
text-decoration:none !important;
line-height:23px;
cursor:pointer;
}
.dcont li a:hover {
background:#FFFFFF url(images/navigation.png) no-repeat scroll 0 100%;
color:#FFFFFF;
font-weight: bold;
}
.dcont li a img {
margin-right:5px;
margin-left: 4px;
float:left;
}