/* 9616*/


@import url("blocks.css?1");
@import url("extras.css");

html,body{height:100%}

body { padding:0px; margin:0px; background:#ffffff; font-family:Arial, Tahoma;  font-size:13px; line-height:18px;  color:#000000; height:100%;
}

a { text-decoration:none;  color:#015D84;}
a:hover {  text-decoration:underline;}

h1 { font-size:16px;  line-height:18px;  font-weight:bold;  padding:0px 0px 10px 0px;  margin:0px; }

.headerfix { position: fixed; top: 0px; left:0; right: 0; }
header, footer { position: relative; background-color: #fff; z-index: 10; width: 100%; clear: both; }
header a, header a:hover{ color: #fff; font-size: 19px; }
footer { padding: 10px 8px; color: #a8a8a8; background: #383838;  }
footer a, footer a:hover{ color: #fff; }
footer .logo { float: left;  margin-right: 30px; }
header { background: #478bca; top: 0px; z-index: 10; width: 100%;  min-height: 50px; margin-bottom: 10px; color: #fff; }
#navi { padding: 15px 10px; padding-bottom: 10px; min-height: 50px; height: auto; position: relative;  }
#navi a, #navi a:hover{ font-size: 13px; color: #fff; }
#cats { display: block; height: auto; background: #004982; width: 100%; }
.cats_visible , #cats.cats_visible{ height: auto !important; }

.headerfix #cats { min-height: auto; display: none; overflow: hidden; }
header.headerfix{ border-bottom: 2px solid #004982; }
.headerfix .logo { height: 35px; }
.headerfix .logo img{ height: 50px; }
.headerfix #navi { padding-top: 8px; padding-bottom: 2px; min-height: auto; }
.headerfix #toplinks { display: none; }
.headerfix a#bolmeler { display: inline-block; transition:all 0.5s ease-in; }
.headerfix .formsnavi { margin-top: 5px; }

@media (min-width: 1030px) {  .container { width: 1030px;  } }

#bmain{ clear: both; }

#bcentrebloks { width: 745px; max-width: 745px; overflow: hidden; float: left; clear: left; }
#brightbloks { width: 240px; float: right; margin-left: 15px; /* background: #bfb; */ }

a.logo, a:hover.logo { margin-right: 10%; display: inline-block; float: left; overflow: hidden; max-width: 60%;  }

.formsnavi { margin-top: 20px; }
.inputsnavi { background: #fff; border: 0px solid #cacaca; width: 100%; padding: 5px 8px; color: #333; }
#searchform { float: left;  width: 20%; background: white; overflow: hidden; position: relative; display: inline-block;  }
#submitsearch { background:#004982 url('searchsubm.png') no-repeat center center; border: 0 none; border-radius: 0px; min-width: 30px; width: 12%; height: 100%; position: absolute; margin: 0px; top: 0px; right: 0px; }
#submitsearch:hover{ background-color: #666; }

#logindiv { float: right;  width: 30%; display: inline-block; border: 0px solid #ffc;  }
#logindiv .inputsnavi{ width: 40%; margin-right: 1%;  }
#logindiv .loginsubmit { background:#333;  width: 15%; padding: 5px 8px; border:0px none; color:#FFFFFF; font-weight:bold; cursor:pointer; }
#logindiv  .reglinks, #logindiv  .reglinks a { margin-top: 1px; color: #f0f0f0; font-size: 12px; margin-right: 20px; }
#logindiv  a, #logindiv  a:hover { color: #fff; }

#navi .dropdown-menu a, #navi .dropdown-menu a:hover{ color: #333; font-size: 13px; }
#navi .btn { padding: 4px 10px; }
#logindiv #butlogin .glyphicon, #logindiv button .glyphicon { color: #666; }
#logindiv #butlogin .glyphicon, #logindiv button .glyphicon { color: #ffa615; }
#frinputsearch { position: absolute; left: -9000px; }

a#bolmeler { color: #C0CBD9; font-weight: bold; float: left; font-size: 20px; text-decoration: none; padding: 3px 0px; background: transparent url('menu_ico.png') no-repeat 50% 50%; width: 40px; height: 40px; margin-right: 10px; display: none;  }

#toplinks11 { color: #e9e9e9;  font-size: 12px; 
background: #1c597f; padding: 5px; text-align: right;
}
#toplinks { color: #e9e9e9;  font-size: 12px; text-align: right;
width: 70%; position: absolute; right: 5px; top: 5px;
}

#toplinks a, #toplinks a:hover { color: #dff0d8; font-size: 12px; }
#toplinks .sublink{ display: inline; margin-left: 15px; }
#toplinks i { font-style: normal; font-weight: bold; }
#toplinks em{ font-style: normal; color: green; }
#toplinks span{ margin-right: 7px; }

#butsearch { display: none;  width: 40px; height: 40px; background:transparent url('searchsubm.png') no-repeat center 15px; cursor: pointer; position: absolute; top: 0px; right: 80px; }

#butlogin { display: none;  width: 70px; height: 40px; cursor: pointer; position: absolute; top: 5px; right: 10px; overflow: hidden; max-width: 80px; 
 font-size: 18px; line-height: 40px; white-space: nowrap; }
.blogged { color: #ffa615 !important; }

/* --- */
#navbar { display: block; 	padding: 0; margin: 0; margin-left: -12px; list-style: none; }
#navbar li{ float:left; padding:0px 12px;  position:relative;
  color:#ffffff; line-height: 35px;
}
#navbar li a{ font-size: 15px; color:#ffffff;	text-decoration: none;	display:block;}
#navbar li a:hover{ font-size: 15px; color: #ffa615;	text-decoration: none;}

#navbar li ul { display: none;  list-style: none;   width: 100px; }
#navbar li:hover ul, #navbar li.hover ul {  display: block !important; position: absolute; left: 0px; z-index: 200; margin: 0; padding: 0; }
#navbar li:hover li, #navbar li.hover li {	margin: 0; padding: 0; width: 100px;   float: none; }
#navbar li:hover li a, #navbar li.hover li a {	display: block; text-indent: 5px;   background-color: #1b68a4;   border-top: 1px solid #4885b5;   color: #fff; }
#navbar li li a:hover {   text-decoration: underline; }
     
#navbar #nav_reklam { margin-left: 4px;  }
#navbar #nav_home{ margin-right: 4px; background: #000; border-left:0px;}
#navbar #nav_mp3 a{ color: #fbdee6; }
#navbar #nav_kino a{ color: #c0f0bb; }


/* --- */
.newslister { margin-left: -7px; margin-right: -7px; display: block; clear: both; }

.postart { width: 31.33%; margin-left: 1%; margin-right: 1%;  height: 235px; background: #fff; /* fbfbfb */ font-size: 20px; position:relative;z-index:0; margin-bottom: 20px; overflow: hidden; float: left; border: 1px solid #e5e5e5;  }
.postart:hover { box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);  }

.postart .imgholder{ height: 146px; min-width: 218px; width: 100%; display: block; overflow: hidden; position: relative; }
.postart .imgholder img{   display: block; 
min-height: 100%;  width: 100%;  }
.postart .imgholder{ overflow: hidden; margin-bottom: 5px; }
.postart a{ color: #444444; font-family: Arial; font-size: 15px; margin-bottom: 20px; }
.postart a:hover{ text-decoration: none; }
.postart h3{ font-size: 14px; margin:0px;padding:0px 7px; overflow: hidden; max-height: 60px; line-height: 1.4;  }
.timecoms{ display: block; color: #acb2b2; font-size: 12px; font-weight: normal;  position: absolute; bottom: 1px; left: -8px; right: 10px; text-align: right;  }
.timecoms .glyphicon{ margin-left: 15px;  margin-right: 1px;  }


a.thumb_zoom { display:block;}
a.thumb_zoom img { -webkit-transition:all 0.5s ease-in; -moz-transition:all 0.5s ease-in; -o-transition:all 0.5s ease-in; transition:all 0.5s ease-in; }
a.thumb_zoom:hover img { -webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); transform:scale(1.1);}

/* --- */



.bb-dc-body .wrap {
  width:0px;
  height:516px;
  position:absolute;
  top:0px;
  right:0px;
}

.bb-dc-body .photo {
  padding:12px 0px 10px 11px;
  width:290px;
}

.bb-dc-body .photo img {
  vertical-align:top;
}

.bb-dc-body .text {  
  padding:0px 10px 0px 11px;
  font-size:14px;
  line-height:16px;
  color:#464646;
  width:280px;
}

.bb-dc-body .text a {
  color:#464646;
  text-decoration:none;
}

.bb-dc-body .text a:hover {
  text-decoration:underline;
}

.bb-dc-body .text p {
  margin:8px 0px 8px 0px;
  padding:0px;
}




.bb-dc-list2 {
  float:right;
  width:350px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px; 
  background:#EDF6FB url(images/drum-bg.png) 0px 0px repeat-y;
}

.bb-dc-list2 ul {
  padding:4px 0px 4px 0px;
  margin:0px;
  list-style-type:none;  
}

.bb-dc-list2 ul:after {
  content:".";
  display:block;
  height:0;
  clear: both;
  visibility: hidden;
}

.bb-dc-list2 li {
  position:relative;
  padding:2px 9px 8px 16px;
  margin:0px 0px 0px 0px;
  zoom:1;
  font-size:12px;
  line-height:13px;
  color:#1A66A2;
}

.bb-dc-list2 li:after {
  content:".";
  display:block;
  height:0;
  clear: both;
  visibility: hidden;
}

.bb-dc-list2 li .photom {
  float:left;
  width:60px;
  height:27px;
  margin:8px 10px 0px -70px;
}

.bb-dc-list2 li .photom img {
  width:60px;
  height:34px;
}

.bb-dc-list2 li a {
  color:#1A66A2;
  text-decoration:none;
}

.bb-dc-list2 li .datem {
  position:absolute;
  top:8px;
  right:1px;
  font-size:10px;
  line-height:13px;
  color:#4B4B4B;
  width:36px;
  height:34px;
}

.bb-dc-list2 li .textm {
  padding:9px 15px 0px 10px;
  margin:0px -5px 0px -10px;
  background:url(images/drum-hr.png) 0px 0px repeat-x;
}

.bb-dc-list2 li:first-child .textm {
  background:none;
}

.bb-dc-list2 li:hover,
.bb-dc-list2 li.active {
  color:#171C21;
  background:url(images/drum-arrow.png) 0px 9px no-repeat;
}

.bb-dc-list2 li:hover a,
.bb-dc-list2 li.active a {
  color:#171C21;
}

.bb-dc-list2 li:hover .datem,
.bb-dc-list2 li.active .datem {
  border-right:3px solid #4D5051;
  width:33px;
}

.bb-dc-body-t2 {
  background:none;
}

.bb-dc-body-t2 .wrap {
  left:0px;
  right:auto;
}


.bb-dc-body-t2 .photo {
  width:300px;
  padding-left:0px;
  padding-top:0px;
  position:relative;
}


.clear-footer {
  clear:both;
  font-size:0px;
  line-height:0px;
  height:25px;
}


#footerinn { min-height:100px; position:relative; padding-top: 10px; }

#footerinn .logo {  float:left; width: 150px; display: block; margin: 0px; margin-right: 10%;  }

#footerinn .copyright {  overflow: hidden; }

footer .copy2{ color: #7ED6F4; }

.clear2 {clear: both; height: 0px; margin: -10px 0 0; overflow: hidden;}
.clear3 {clear: both; height: 0px; margin: -25px 0 0; overflow: hidden;}

.by { font-size:11px; color: #808080;}
.by a {color:#004982; text-decoration:none; }
.by a:hover {text-decoration:underline; color:#004982; }



.postbox { width:48%; height:237px; margin-right:4%;margin-bottom: 10px;line-height:17px;box-sizing:border-box;display:inline-block;zoom:1;*display:inline;overflow:hidden;background:#fff;
}
.postbox h2 { margin: 0px; font-size:14px; font-weight: bold; max-height: 40px; overflow: hidden; }
.postbox a {color:#004982; text-decoration:none; }
.postbox a:hover , .postboc a:hover {text-decoration:underline; color:#004982; }

.postbox img { height: 182px; min-width:348px; width:100%;display:block;margin-bottom:5px }
.post_margin { margin-right: 0px;}

/*---------------------------------------------------------------------------------*/
/* WIDGETS 4*/
/*---------------------------------------------------------------------------------*/
.fullwidget { margin:0px; padding:0px; }
.fullwidget ul { margin:0px; padding:0px; }
.fullwidget ul li { background:url(images/arrow.gif) no-repeat 0px 8px; margin:0px; padding:6px 0px 6px 16px; list-style:none; border-bottom:1px solid #e6e6e6; }
.fullwidget h3 { margin:20px 0px 0px 0px; padding:4px 0px; font-size:12px; color:#333; border-bottom:3px solid #4488dd; }
.fullwidget li a {color:#333; text-decoration:none; }
.fullwidget li a:hover {text-decoration:underline; color:#333; }



.fulltext {  background:#fff; margin:0px; padding:0px 0px 10px 0px; color:#333; }
.entry { margin:0px; padding: 5px; color:#333; font-size: 14px; line-height: 1.5; clear: both;  }

.fulltext h1{ color: #000; padding: 5px 0px; }

.news_readmore { clear: both; background: #fbfbfb; border-bottom: 1px solid #e9e9e9;
    color: #000000;  padding: 3px;  text-indent: 10px;
}
.news_readmore span { margin-left: 20px; }

.fullwidged { margin:0px; padding:0px; }
.fullwidged ul { margin:0px; padding:0px; }
.fullwidged h3 { margin:0px 0px 6px 0px; padding:0px 0px 0px 0px; font-size:12px; color:#333; border-bottom:3px solid #4488dd; }
.fullwidged li a {color:#333; text-decoration:none; }
.fullwidged li a:hover {text-decoration:underline; color:#333; }



.sps { height: 6px; overflow: hidden;}
.clear { clear: both;}

.news_title {   background: none repeat scroll 0 0 #F0EEEF;  color: #000000; padding: 5px;
}


@media (min-width: 1000px) {  #topbanners { left: -20px;  } }
#topbanners { max-height: 100px; width: 100%; max-width: 1000px;  margin: 0 auto;  color: #fff; position: relative; left: 0px;  }
#topbanners_bg { background: #fff;}
#topbanners_width { margin: 0 auto;}

#logobanner { position: absolute; right: 0px; top: 4px; width: 430px; height: 120px; }
.reklam_logo{  width: 210px; height: 120px; float: left; margin-right: 5px;}
.reklam { width: 240px; height: 120px; float: left;overflow: hidden; margin-right: 8px;}
.reklam_b { width: 240px; height: 120px; float: left;overflow: hidden;  margin-bottom: 5px; margin-right: 3px; }


.topnav {margin-top: 7px;margin-left:0px; padding:0px 0px 0px 0px; line-height: 26px; list-style: none outside none; clear:both;
width: 370px;  float: right;
 }
.topnav li{
background: url(images/separator.gif) repeat-x scroll 0px 100% transparent; float: left; margin: 0px 2px 4px 20px; width: 160px; overflow: hidden;
}

.topnav li a{ color: #fff; font-size: 17px; font-weight: normal; text-shadow: 0 1px 0 #000000; font-family: Tahoma;
padding:0 0 0 15px; display:block;
}
.topnav a {background:transparent url(topicon.gif) no-repeat 0px 8px;}

.Newsexp { margin: 13px 0px; clear: both;  max-height: 400px; overflow: hidden; } 
.Newsexp img { display: block; float: left; max-width: 150xp;  max-height: 250px; margin-right: 13px; }
.Newsexp:after { clear:both; content:""; display:table; }
.Newsexp:before { content:""; display:table; }

img, embed, iframe, video, audio {max-width: 100%; width: 100% \9 }

.clearfix:before, .bigazblok:before, .blk_rek:before, .blokcont:before, #bmain:before , .bb-head:before , .bb-tmenu22:before , #bcentrebloks:before , #brightbloks:before , #footerinn:before , #navbar:before , .fulltext:before , article:before , .article:before, .bodyline:before, .postbox:before, .contentwidth:before  { content:" ";display:table; }

.clearfix:after, .bigazblok:after, .blk_rek:after, .blokcont:after , #bmain:after , .bb-head:after , .bb-tmenu22:after , #bcentrebloks:after , #brightbloks:after , #footerinn:after , #navbar:after , .fulltext:after , article:after , .article:after, .bodyline:after, .postbox:after, .contentwidth:after  { clear:both; }

div#sliderwrap { width: 100%; overflow: hidden;	position: relative; margin-bottom: 15px; }
div#sliderwrap , ul#tabslider, ul#output  { height: 304px; }
div#sliderwrap ul {	position: absolute;	top: 0;	list-style: none;	padding: 0;	margin: 0; }
ul#tabslider { right: 0; z-index: 2; width: 260px;   background: #009ac0; }
ul#output { left: 0; width: 500px; overflow: hidden;  background: #fff;  }
ul#tabslider li { position: relative; font-size: 12px; height: 60px; max-height: 60px; border-bottom: 1px solid #fff; clear: both; }
ul#tabslider li img { width: 70px; height: 50px;border: none; float: left; margin-right: 7px; border: 1px solid #fff; display: none; }
ul#tabslider li:last-child{ border-bottom: 0px none; }
span.tablispan { display: block;  width: 18px; height: 60px;   right: -18px; position: absolute; top: 0; visibility: hidden;}
a.current span.tablispan  { visibility: visible; }
ul#tabslider li a { color: #fff; text-decoration: none; font-weight: bold;	display: block; height: 100%; padding-left: 10px; padding-top: 6px; outline: none; }
ul#tabslider li a:hover { text-decoration: none; }
ul#tabslider li a.current { background: #ff8a15; color: #fff; }
ul#tabslider li a.current:hover { text-decoration: none;	 }
ul#output li { width: 100%; height: 100%; overflow: hidden;  }
ul#output li img { height: auto; min-height: 100%; width: 100%;}

/* black */
/*
ul#tabslider li { border-bottom: 1px solid #e9e9e9; }
div#sliderwrap { border: 1px solid #e9e9e9; }
ul#tabslider { background: #fafafa; }
ul#tabslider li a.current { color: #fff; background: #383838; }
*/

/*  Carusel */
#myCarousel { /* overflow: hidden; */ clear: both; }
.carousel-control { width: 7%; }
.carousel-control .glyphicon{ font-size: 50px; width: 50px;  height: 50px; }
.carousel{ margin-bottom: 15px;  }
.carousel-inner > .item > img,.carousel-inner > .item > a > img, .carousel-inner  .item img { width: 100%;  max-height: 400px; /* width: 100%;  max-height: 400px; */ }
.carousel-inner  { max-height: 400px; }
.carousel-inner > .item.active.left, .carousel-inner > .item.next.left,
.carousel-inner > .item.prev.right,  .carousel-inner > .item.active, .carousel-inner > .next.left,
.carousel-inner > .prev.right, .carousel-inner > .active.left , .carousel-inner > .active.right, .carousel-control.left { float: none !important; }
/* .carousel-indicators li { background: red; } */
#myCarousel .item span { background: #333; color: #fff; position: absolute; bottom: 30px; left: 0px; right: 0px; z-index: 1000;  display: block; font-size: 18px; line-height: 22px; padding: 7px 25px; }
.carousel-indicators { top: 10px; right: 10px; }
.carousel-indicators li { background: #ebebeb; border: 0px none; width: 11px;
    height: 11px; }
.carousel-indicators .active {  background: #ffa615;  border: 0px none;}



#fb_toplike { position: absolute; left: 548px; top: 95px; }

.msgdocomment { border:1px solid #fccd4d; border-radius: 5px; padding:  10px; margin-bottom: 10px;
background: #fceabb;  }

.myimages {  background:transparent url('myimages.png'); }
.flag_USD {  background-position: 0px -64px; width: 16px; height: 16px; display: block; float: left; margin-right: 3px; }
.flag_GBP {  background-position: 0px -32px; width: 16px; height: 16px; display: block; float: left; margin-right: 3px; }
.flag_EUR {  background-position: 0px -16px; width: 16px; height: 16px; display: block; float: left; margin-right: 3px; }
.flag_GEL {  background-position: 0px -96px; width: 16px; height: 16px; display: block; float: left; margin-right: 3px; }
.flag_RUR {  background-position: 0px -48px; width: 16px; height: 16px; display: block; float: left; margin-right: 3px; }
.flag_YTL {  background-position: 0px -80px; width: 16px; height: 16px; display: block; float: left; margin-right: 3px; }


.popup header, .popup footer, .popup #brightbloks, .popup #topbanners_bg, .popup #topbanners { display: none !important; height: 0px  !important; }
.popup .bodyline { border: 0px none !important; } 

@media (max-width: 767px) { 
img, embed, iframe, audio, video {max-width: 100%; width: 100% \9; }

#topbanners { overflow: hidden; max-height: 100px; }
.postart { width: 47%; }
.newslister { margin-left: -3px !important; margin-right: -3px !important; }

.timecoms{ width: 250px; left: -8px; right: 10px; text-align: left; font-size: 11px; }

header { border-bottom: 2px solid #004982; }
header .logo { height: 35px; max-width: 50%; }
header .logo img{ height: 50px; }
#navi { padding-top: 8px; padding-bottom: 2px; min-height: auto; }

#toplinks { display: none; position: static !important; text-align: left  !important; width: 100% !important; border-bottom: 1px solid #e9e9e9; padding-bottom: 5px; }
#toplinks .sublink{ display: block  !important; margin-left: 0px; padding: 6px 0px; }
#cats #toplinks { background: transparent !important;  }

#searchform, #logindiv { width: 100% !important; max-width: 100% !important; float: right !important; display: none; margin-top: 10px; clear: both; }
#butsearch, #butlogin, #valyutaicon { display: block !important; }
#submitsearch { width: 20%; max-width: 100px; }
a#bolmeler { display: block !important; margin-right: 5px; width: 35px; }

#cats { display: none; }
#navbar li { width: auto; float: none !important; display: block; font-weight: normal; border-bottom: 0px solid #e9e9e9; padding-left: 15px !important; }
#navbar li a{ color: #fff;}
#navbar li.homeico { display: none; }

#bcentrebloks { width: 100% !important; float: none !important; clear: both; }
#brightbloks { width: 100% !important; float: none !important;  clear: both; margin-left: 0px; }


div#sliderwrapXXX { display: none !important; }
ul#output { display: none !important; }
ul#tabslider { width: 100% !important;  }
ul#tabslider li img{ display: block;  }

#footerinn .logo {  float: none; width: 100% !important; margin-right: 0px;  margin-bottom: 10px;  }

}


.rkemobds { position: fixed; left: 0px; bottom: 5px; background: #fff; z-index: 1000; height: 176px; overflow: hidden; }
@media (min-width: 960px) {  .rkemobds { left: 15%; } }
.rkemobds i, .rkclose{ z-index: 1010; position: absolute; top: 0px; left: 0px; background: #666; border-radius: 50%; display: block; width: 20px; height: 20px; text-align: center; color: #fff; font-style: normal; cursor: pointer; }

#myrekopen { line-height: 16px; }



