/* UPDATED ON 04/14/2016 @ 1:30PM */

html { -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */ }
#Page, #Menu, #Search { -webkit-transition: all 0.3s ease;  -moz-transition: all 0.3s ease;  transition: all 0.3s ease; }
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333333; }
a { color: #3366CC; text-decoration: none; }
a:hover {	text-decoration: underline;	color: #3399FF; }
form { margin: 0px; padding: 0px; }
.Clear { clear: both; }
.CF { zoom: 1; }
.CF:before, .CF:after { content: ""; display: table; }
.CF:after { clear: both; }
img { max-width: 100%; max-height: 100%; border: none; }

/*icons*/
.icon{
	display: inline-block;
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;
}
.icon.icon-fb{width:20px;height:20px;background-image: url(../images/icon-fb.svg);}
.icon.icon-tw{width:20px;height:20px;background-image: url(../images/icon-tw.svg);}
.icon.icon-gPlus{width:30px;height:30px;background-image: url(../images/icon-gPlus.svg);}
.icon.icon-diaspora{width:30px;height:30px;background-image: url(../images/icon-diaspora.svg);}

.icon.icon-fb_small{width:16px;height:16px;background-image: url(../images/icon-fb_small.svg);}
.icon.icon-tw_small{width:16px;height:16px;background-image: url(../images/icon-tw_small.svg);}
.icon.icon-gplus_small{width:16px;height:16px;background-image: url(../images/icon-gplus_small.svg);}

.Video { position: relative; padding-bottom: 56.25%; height: 0px; max-width: 640px; } /* 16:9 */
.Video iframe { position: absolute; top: 0px;	left: 0px; width: 100%; height: 100%; }

#ArticleADBox { display: none; }
#ADTextArticleBottom { display: none; }
#AD250Left { display: block; width: 100%; margin: 0px auto 15px auto; }
.AD250 { display: block; width: 250px; min-height: 50px; margin: 0px auto 0px auto; }
#AD728Top { display: none; width: 100%; min-height: 90px; margin: 0px 0px 25px 0px; clear: both; }
#HRR1240 { display: none; }
#SocialAD300 { display: block; width: 300px; margin: 0px auto 10px auto; }
.AD728 { display: none; width: 728px; min-height: 90px; margin: 0px; }

.SBA { display: block; width: 100%; margin: 0px auto; }
.SBAInHouse { display: block; width: 300px; min-height: 300px; margin: 0px auto 20px auto; position: relative; }
.SBATier1, .SBATier2, .SBATier3 { display: block; width: 300px; margin: 0px auto 10px auto; padding: 0px 15px 0px 15px; }
.SBATier1 div, .SBATier2 div, .SBATier3 div { display: inline-block; float: left; width: 125px; height: 125px; margin: 5px; }
.SBABottom1 { display: block; width: 300px; margin: 0px auto 0px auto; }
.SBABottom2 { display: block; width: 300px; margin: 0px auto 20px auto; }
.SBABottom1 div, .SBABottom2 div { display: inline-block; float: left; width: 140px; height: 140px; margin: 5px; }


.SBAArticle { display: block; width: 300px; margin: 0px auto 15px auto; }
.SBATop { display: none; width: 728px; min-height: 90px; margin: 0px 0px 15px 0px; }
.SBAMasthead { display: block; width: 728px; min-height: 90px; margin: 0px; }

.SocialBlock { display: block; width: 300px; margin: 0px auto 10px auto; }

.AD300Block { display: block; width: 100%; min-height: 250px; margin: 0px auto 20px auto; }
.AD300 { display: block; width: 300px; min-height: 250px; margin: 0px auto 0px auto; }
.AD600 { display: block; width: 300px; min-height: 600px; margin: 0px auto 0px auto; }
.ADInfo { display: block; width: 100%; margin: 0px auto 20px auto; text-align: center; }
.AD160Block { display: block; width: 100%; margin: 0px auto 20px auto; }
.AD160 { display: block; width: 160px; min-height: 600px; margin: 0px auto 0px auto; }

#FacebookLikeBox { display: block; width: 300px; margin: 0px auto 20px auto; }

.ServiceDirectory { display: block; width: 100%; min-width: 300px; margin: 0px auto 10px auto; }
.ServiceDirectory div:nth-child(1) { padding: 10px 0px 0px 0px; border-top-width: 1px; border-top-style: solid; border-top-color: #ECECEC; }
.SDBlock { display: table; width: 100%; margin: 0px 0px 10px 0px; padding: 0px 0px 10px 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ECECEC; }
.SDBlock div:nth-child(1) { display: table-cell; width: 80px; padding: 0px 10px 0px 0px; vertical-align: top; }
.SDBlock div:nth-child(2) { display: table-cell; font-size: 12px; line-height: 14px; color: vertical-align: top; #666666; }
.SDBlock div:nth-child(2) a { color: #666666; text-decoration: none; }
.SDBlock div b { font-size: 14px; line-height: 16px; }

#ColCFacebook, #ColCMostViewed { display: block; width: 100%; margin: 0px 0px 20px 0px; }
.TodaysNewsBullets { padding: 10px 0px; margin: 0px 0px 0px 0px; }
.TodaysNewsBullets li { width: 100%; display: block; padding: 10px 0px; margin: 0px 0px 0px 0px; list-style-type: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ECECEC; }
.TodaysNewsBullets li a { color: #666666; text-decoration: none; }
.TodaysNewsBullets li a:hover { color: #3366CC; }
.TodaysNewsBullets li:nth-child(1) { padding: 0px 0px 10px 0px; }
#Hot-News-Tabs { display: table; margin: 0px 0px 0px 0px; }
#Hot-News-Tabs div { display: table-cell; vertical-align: center; cursor: pointer; color: #3366cc; font-size: 12px; margin: 0px 0px 0px 0px; padding: 0px 8px 0px 8px; border-right-width: 1px; border-right-style: solid; border-right-color: #333333; }
#Hot-News-Tabs div:nth-child(1) { padding: 0px 8px 0px 0px; }
#Hot-News-Tabs div:nth-child(4) { border-right-width: 0px; border-right-style: none; }
#DayLink { padding: 0px 8px 0px 0px; font-weight: bold; }
#DayTab { display: block; width: 100%; }
#WeekTab, #MonthTab, #YearTab { display: none; width: 100%; }
.FBP { display: table; width: 100%; margin: 0px 0px 10px 0px; padding: 0px 0px 10px 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ECECEC;}
.FBP div a { color: #666666; text-decoration: none; }
.FBP div a:hover { color: #3366CC; }
.FBU { display: none; min-width: 62px; margin: 0px; vertical-align: top; padding: 0px 10px 0px 0px; }
.FBT { display: table-cell; padding: 0px 0px 0px 0px; vertical-align: top; }
.FBN { display: block; width: 62px; height: 62px; cursor: pointer; 	background-image: url(../Images/Background-FBShareButton.svg);	background-repeat: no-repeat; }
.FBN div { display: block; width: 50px; margin: 0px auto 0px auto; padding: 8px 0px 0px 0px; text-align: center; font-size: 20px; line-height: 18px; color: #333333; font-family: 'Tahoma', Arial, Helvetica, sans-serif; }
#FBA { display: none; min-width: 59px; margin: 0px; padding: 0px 0px 0px 0px; }

#SocialArticleRow1 { display: block; width: 100%; margin: 0px 0px 10px 0px; }
#SocialArticleRow1 div { display: inline-block; float: left; text-align: center; cursor: pointer;}
#SocialArticleRow1 div:nth-child(1) { width: 59px; min-height: 55px; margin: 0px 10px 0px 0px; }
#SocialArticleRow1 div:nth-child(2) { width: 56px; margin: 0px 10px 0px 0px; }
#SocialArticleRow1 div:nth-child(3) { width: 50px; margin: 0px 10px 0px 0px; }
#SocialArticleRow1 div:nth-child(4) { width: 55px; margin: 0px 10px 0px 0px; }
#SocialArticleRow1 div:nth-child(5) { width: 40px; margin: 0px 0px 0px 0px; padding: 30px 0px 0px 0px; }

#SocialArticleRow2 { display: block; width: 100%; margin: 0px 0px 10px 0px; }
#SocialArticleRow2 div { display: inline-block; float: left; }
#SocialArticleRow2 div:nth-child(1) { width: 198px; }
#SocialArticleRow2 div:nth-child(2) { width: 102px; }

#SocialArticleRow3 { display: block; width: 100%; margin: 0px 0px 10px 0px; }
#SocialArticleRow3 div { display: inline-block; float: left; text-align: center; }
#SocialArticleRow3 div:nth-child(1) { width: 96px; margin: 0px 0px 0px 0px; }
#SocialArticleRow3 div:nth-child(2) { width: 96px; margin: 0px 6px 0px 6px; }
#SocialArticleRow3 div:nth-child(3) { width: 96px; margin: 0px 0px 0px 0px; }

/*  SUBSCRIBER OVERLAY MESSAGE -------------------------------------------------------------------------------------------  */
#Subscriber-Overlay { background-color: #FFFFFF; height: 680px; width: 950px; position: relative; z-index: 39003; background-image: url(../Images/Overlay-Instant-Access-Background-5.gif); background-position: right bottom; background-repeat: no-repeat; }
#Subscriber-Overlay-Close { position: absolute; height: 21px; width: 21px; top: 10px; z-index: 39005; right: 10px; }
#Subscriber-Overlay-Body { font-family: 'Lato', san-serif; font-size: 14px; line-height: 20px; color: #333333; position: absolute; height: 470px; width: 840px; top: 40px; left: 30px; z-index: 39004; text-align: left; }
#Subscriber-Overlay-Body a { color: #999999; text-decoration: none; }
#Subscriber-Overlay-Body a:hover { color: #999999; text-decoration: underline; }
#Subscriber-Overlay-Body h1 { font-size: 24px; line-height: 28px; margin-top: 0px; font-weight: bolder; color: #0066CC; }
#Notice { width: 500px; font-size: 12px; line-height: 14px; color: #666666; }
#Notice a { color: #999999; text-decoration: underline; } .Subscriber-Overlay-Input { height: 32px; width: 400px; font-size: 14px; } .Subscriber-Overlay-Captcha { font-size: 14px; height: 32px; width: 94px; }
#Subscriber-Overlay-Container { position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; z-index: 39002; display: none; }
#Subscriber-Overlay-BG { position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; z-index: 39001; background-color:#000000; -moz-opacity: 0.75; opacity:.75; filter: alpha(opacity=75); }

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*  FACEBOOK OVERLAY MESSAGE -------------------------------------------------------------------------------------------  */

#FB-Like-Container { position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; z-index: 39002; display: none; }
.FB-Like-BG { position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; z-index: 39001; background-color:#000000; -moz-opacity: 0.75; opacity:.75; filter: alpha(opacity=75); }
.FB-Like-Overlay { background-color: #FFFFFF; min-height: 280px; min-width: 300px; width: 80%; max-width: 640px; position: relative; z-index: 39003; margin: 20px auto 0px auto; }
.FB-Like-Close { position: absolute; height: 21px; width: 21px; top: 10px; z-index: 39005; right: 10px; }
.FB-Like-Body { display: block; width: auto; padding: 10px 20px 20px 20px; text-align: center; color: #666666; font-size: 12px; line-height: 14px; }
.FB-Like-Body h1 { color: #3366cc; font-size: 26px; line-height: 28px; text-transform: uppercase; font-weight: 700; font-family: 'Roboto Condensed', arial, helvetica, san-serif; margin-bottom: 10px; }
.FB-Like-Body a { }

.FB-Like-Link { font-size: 12px; }
.FB-Like-Link a { color: #666666; text-decoration: underline; }


.FB-Like-Box { display: block; width: 100%; position: relative; }
.FB-Like-Arrow { display: none; }

.FB-Like-Plugin { display: block; width: 100%; }


/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* DEFAULT/MOBILE SIZES */

body { margin: 0px; padding: 0px; position: relative; left: 0px; width: auto; background-color: #FFFFFF; }
#Page { display: block; width: 100%; position: absolute; left: 0px; top: 0px; z-index: 2000; background-color: #FFFFFF; }
#Menu { display: block; width: 250px; height: 100%; position: fixed; left: -250px; top: 0px; z-index: 1001; background-color: #4c5561; text-transform: uppercase; }
#Search { display: block; width: 250px; height: 100%; position: fixed; right: -250px; top: 0px; z-index: 1002; background-color: #4c5561; }

#MastheadRowA { display: none; }
#MastheadRowB { display: table; width: 100%; min-width: 300px; max-width: 600px; margin: 0px auto 15px auto; background-color: #295200; background-image: url(../images/Background-Masthead-Oct-2015.jpg); border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: #ECECEC; }
#MastheadRowC { display: block; }
#MenuButton { display: table-cell; width: 40px; min-width: 40px; height: 60px; cursor: pointer; }
#Logo {	display: table-cell; 	width: 100%;	min-width: 220px; min-height: 60px; background-image: url(../images/NaturalNews-Logo-White-220x60.svg); 	background-repeat: no-repeat; 	background-position: center center; cursor: pointer; }
#Social { display: none; }
#Subscribe { display: none; }
#Subscribe .textwidget{line-height: 8px;}
#SearchButton { display: table-cell; width: 40px; min-width: 40px; height: 60px; cursor: pointer; }
.IconMenu {	background-image: url(../images/Icon-Menu-White.svg);	background-repeat: no-repeat; 	background-position: center center; }
.IconSearch {	background-image: url(../images/Icon-Search-White.svg);	background-repeat: no-repeat; 	background-position: center center; }
.IconClose {	background-image: url(../images/Icon-Close-White.svg);	background-repeat: no-repeat; 	background-position: center center; }

#MenuLinks { display: block; width: 210px; margin: 0px auto; padding-left: 0px; }
#MenuLinks li { display: block; padding: 6px; text-align: center; font-size: 14px; line-height: 14px; font-weight: 700; font-family: 'Roboto Condensed', arial, helvetica, san-serif; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #65707e; }
#MenuLinks li:nth-child(1) { padding: 25px 6px 6px 6px; }
#MenuLinks li a { color: #FFFFFF; text-decoration: none; }

#SearchBox { display: block; width: 210px; margin: 0px auto; padding: 25px 0px 0px 0px; }
#SearchBox div:nth-child(1) { display: block; width: 100%; text-align: center; margin: 0px auto 12px auto; }
#SearchBox div:nth-child(2) { display: block; width: 100px; height: 30px; text-align: center; margin: 0px auto 25px auto; cursor: pointer; background-color: #8c99a9; background-repeat: no-repeat; background-position: center center; background-image: url(../images/Icon-Search-White.svg);}
#SearchBox div:nth-child(3) { display: block; width: 100%; color: #8c99a9; text-align: center; }
#SearchBox div:nth-child(1) input { width: 95%; height: 24px; font-size: 16px; color: #666666; margin: 0px; }
#SearchBox div:nth-child(3) a { color: #8c99a9; text-decoration: none; }

#Container { display: block; width: 100%; min-width: 300px; max-width: 640px; margin: 0px auto 40px auto; }
#Content { padding: 0px 10px 0px 10px; margin: 0px auto 0px auto; }

#Footer { display: block; width: 100%; min-width: 300px; float: none; margin: 0px auto 30px auto; }
.FooterRow { display: block; width: 100%; margin: 0px auto 15px auto; font-size: 11px; line-height: 13px; color: #999999; text-align: center; }
.FooterRow.CF .textwidget{ color: #999999; font-size: 12px; }
.FooterRow .textwidget{ color: #999999; font-size: 11px; }
.FooterRow a { color: #999999; text-decoration: underline; }
.FooterCol1, .FooterCol2, .FooterCol3 { display: block; width: 100%; color: #999999; text-align: center; }
.FooterCol1 a, .FooterCol2 a, .FooterCol3 a { color: #999999; text-decoration: none; }
.FooterCol1 a:hover, .FooterCol2 a:hover, .FooterCol3 a:hover { text-decoration: underline; }
.FooterCol3 div { margin: 0px 0px 15px 0px; }

#BreakingAlert { display: none; }
#Alert { display: none; }
#AlertBar { display: none; }

#ArticleCol1, #ArticleCol2 { display: block; width: 100%; margin: 0px auto 30px auto; }

#ColA { display: block; width: 100%; margin: 0px auto 15px auto; }
#ColB { display: block; width: 100%; margin: 0px auto 15px auto; }
#ColC { display: none; width: 100%; margin: 0px auto 15px auto; }
#ColD { display: block; width: 100%; margin: 0px auto 15px auto; }
#ColA h1 { font-family: 'Lato', sans-serif; font-size: 24px; line-height: 28px; color: #000000; margin: 0px; font-weight: 400; letter-spacing: -1px; }
#ColA p { margin: 0px; padding: 10px 0px 0px 0px; }

#Col1, #Col2, #Col3 { display: block; width: 100%; margin: 0px auto 20px auto; }
#Headline { display: block; width: 100%; margin: 0px auto 20px auto; }
#Headline h1 { font-family: 'Lato', sans-serif; font-size: 24px; line-height: 28px; color: #000000; margin: 0px; font-weight: 400; letter-spacing: -1px; }
#Headline p { margin: 0px; padding: 10px 0px 0px 0px; }
#FeaturePic { display: block; width: 100%; margin: 0px auto 20px auto; }

#Row300, #Row150 { display: table; width: 100%; margin: 0px 0px 15px 0px; }
#ColE, #ColF { display: table-cell; vertical-align: top; width: 75px; padding: 0px 20px 0px 0px; margin: 0px 0px 0px 0px; }
#ColG { display: table-cell; vertical-align: top; padding: 0px 10px 0px 0px; margin: 0px 0px 0px 0px; }
#ColG h1 { font-family: 'Lato', sans-serif; font-size: 17px; line-height: 20px; color: #000000; margin: 0px; font-weight: 400; }

#Article { display: block; width: 100%; font-size: 16px; line-height: 26px;	font-family: Arial, Helvetica, sans-serif; color: #555555; margin: 0px 0px 20px 0px; }
#Article b { color: #333333; }
#Article a b, #Article b a { color: #3366CC; }
#Article a:hover b, #Article b a:hover { text-decoration: underline; }
#Article h1, #Article h2, #Article h3 { font-family: 'Lato', sans-serif; color: #000000; margin-top: 15px; padding: 0px; margin: 30px 0px 10px 0px; font-weight: 700; }
#Article h1 { font-size: 26px; line-height: 29px; }
#Article h2 { font-size: 20px; line-height: 24px; }
#Article h3 { font-size: 18px; line-height: 21px; }
.Article-Author { font-size: 12px; line-height: 14px; }
.ColCSection { width: 100%; display: block; padding: 10px 0px; font-weight: 400; font-family: 'Lato', sans-serif; font-size: 16px; color: #999999; margin: 0px 0px 10px 0px; border-top-width: 3px; border-top-style: solid; border-top-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ECECEC; }

.ArticleBottom { display: block; width: 100%; margin: 0px auto 20px auto; font-size: 14px; line-height: 16px; }
.ArticleBottom h1, .ArticleBottom h2, .ArticleBottom h3, .ArticleBottom div h1, .ArticleBottom div h2, .ArticleBottom div h3 { font-family: 'Lato', sans-serif; color: #000000; margin-top: 15px; padding: 0px; margin: 30px 0px 10px 0px; font-weight: 700; }
.ArticleBottom h1, .ArticleBottom div h1 { font-size: 26px; line-height: 29px; }
.ArticleBottom h2, .ArticleBottom div h2 { font-size: 20px; line-height: 24px; }
.ArticleBottom h3, .ArticleBottom div h3 { font-size: 18px; line-height: 21px; }
#ArticleRelated { margin: 0px auto 40px auto; }
#ArticleRelated div { display: block; width: 100%; font-size: 14px; line-height: 16px; margin: 0px 0px 15px 0px; }
#ArticleRelated div a { color: #333333; text-decoration: underline; }
#ArticleAuthorBio { line-height: 140%; }
#ArticleAuthorBio img { max-width: 100px; }
#ArticlePermalink textarea { width: 100%; font-size: 11px; }

#AEBLeft, #AEBRight { display: block; width: 280px; margin: 0px auto 20px auto; padding: 10px; background-color: #f9edd4; min-height: 150px; }
.AET { display: inline-block; float: left; width: 100%; font-size: 11px; line-height: 13px; text-align: center; margin: 10px 0px 0px 0px; }
.AET a { color: #000000; text-decoration: none; }
.AET a:hover { text-decoration: underline; }

#GGL { display: inline-block; float: left; width: 44px; margin: 0px 10px 5px 0px; }
#GGT { display: inline-block; float: left; width: 226px; margin: 0px 0px 5px 0px; padding: 10px 0px 0px 0px; font-size: 17px; font-weight: bold; font-family: 'Segoe UI', arial, helvetica, san-serif; }
#GGSB { display: inline-block; float: left; width: 278px; margin: 0px 0px 10px 0px; background-color: #FFFFFF; 	border: 1px solid #DBDBDB; }
#GGI { display: inline-block; float: left; width: 228px; min-height: 42px; margin: 0px; }
#GGB { display: inline-block;	float: right; width: 50px; 	min-height: 42px;	margin: 0px;	cursor: pointer; background-image: url(../images/Icon-Search-White.svg);	background-repeat: no-repeat;	 background-position: center center; background-color: #CC3300; }
#GGQ { width: 95%; height: 24px; border: 0px none; outline: 0; margin: 8px 5px 5px 5px; font-size: 16px; font-weight: bold; color: #CC3300; text-align: center; }
#FNL { display: inline-block; float: left; width: 66px; margin: 0px 10px 0px 0px; }
#FNT { display: inline-block; float: left; width: 204px; margin: 0px 0px 20px 0px; padding: 7px 0px 0px 0px; font-size: 18px; line-height: 23px; font-family: 'Segoe UI', arial, helvetica, san-serif; color: #000000; }

#ArticleSubscribeTitle { display: block; width: 100%; margin: 0px 0px 10px 0px; font-family: 'Lato', sans-serif; font-size: 17px; line-height: 20px; color: #000000; font-weight: bold; }
#ArticleSubscribeText { display: block; width: 100%; margin: 0px 0px 10px 0px; font-size: 14px; line-height: 16px; color: #333333; }
#ArticleSubscribeForm { display: block; width: 100%; margin: 0px 0px 10px 0px; }
#ArticleSubscribeArrow { display: none; float: left; width: 70px; margin: 0px 0px 0px 0px; }
#ArticleSubscribeBox { display: block; width: 100%; margin: 0px 0px 10px 0px; padding: 0px; }
#ArticleSubscribeBoxLeft { display: inline-block; float: left; width: 250px; margin: 0px 10px 0px 0px; }
#ArticleSubscribeBoxRight { display: inline-block; float: left; width: 28px; }
#ArticleSubscribeDisclaimer { display: block; width: 100%; margin: 0px 0px 0px 0px; font-size: 12px; line-height: 14px; color: #666666; }
#ArticleSubscribeBoxLeft input { width: 90%; height: 31px; font-size: 14px; line-height: 14px; color: #666666; }

#IndexCol1, #IndexCol2, #IndexCol3, #Page2Col1, #Page2Col2, #Page2Col3, #ThreeCol1, #ThreeCol2, #ThreeCol3, #TwoCol1, #TwoCol2 {
    display: block; width: 100%; margin: 0px auto 15px auto;
}

#HalfCol1 { display: block; width: 100%; margin: 0px auto 15px auto; }
#HalfCol2 { display: block; width: 100%; margin: 0px auto 15px auto; }

#HalfCol1 #Article h1 { font-family: 'Lato', sans-serif; font-size: 36px; line-height: 40px; color: #000000; margin: 0px; font-weight: 400; letter-spacing: -1px; }
#TwoCol1 #Article h1, #TwoCol1 #Contact h1 { font-family: 'Lato', sans-serif; font-size: 36px; line-height: 40px; color: #000000; margin: 0px; font-weight: 400; letter-spacing: -1px; }

#TwoCol1 h1 { font-family: 'Lato', sans-serif; font-size: 36px; line-height: 40px; color: #000000; margin: 0px 0px 20px 0px; font-weight: 400; letter-spacing: -1px; }

#Infographic-Headline {display: block;width: 100%;margin: 0px auto 15px auto;}
#Infographic-Headline h1 { font-family: 'Lato', sans-serif; font-size: 36px; line-height: 40px; color: #000000; margin: 0px 0px 20px 0px; font-weight: 400; letter-spacing: -1px; }

#Infographic-Social { display: table; margin: 0px 0px 15px 0px; }
#Infographic-Social-Landscape { display: table; margin: 0px auto; }

#Infographic-Landscape { display: block; width: 100%; margin: 0px auto 15px auto; text-align: center; }
#Infographic-Landscape h1 { font-family: 'Lato', sans-serif; font-size: 36px; line-height: 40px; color: #000000; margin: 0px 0px 20px 0px; font-weight: 400; letter-spacing: -1px; }

.Index-Category { display: block; width: 100%; margin: 0px auto 15px auto; }
.Index-Category-Banner { display: block; width: 300px; margin: 0px auto 15px auto; }
.Index-Category-Name { display: block; padding: 10px; margin: 0px 0px 10px 0px; font-size: 18px; line-height: 18px; font-weight: 700; font-family: 'Roboto Condensed', sans-serif; background-color: #ECECEC; color: #000000; }
.Index-Category-Headlines { font-size: 12px; line-height: 16px; }
.Index-Category-Headlines p { margin: 0px 0px 20px 0px; }
.Index-Category-Headlines a { font-size: 14px; color: #666666; text-decoration: none; }
.Index-Category-Headlines a:hover { color: #3366CC; text-decoration: underline; }
.HoursAgo { font-size: 11px; color: #999999; }

#ArticleCol2 .Index-Category-Name { width: 100%; display: block; padding: 10px 0px; font-weight: 400; font-family: 'Lato', sans-serif; font-size: 16px; color: #999999; margin: 0px 0px 10px 0px; border-top-width: 3px; border-top-style: solid; border-top-color: #000000; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ECECEC; background-color: #FFFFFF; }
#ArticleCol2 .Index-Category-Headlines { font-size: 12px; line-height: 16px; }

.Index-Category-Block { display: block; width: 100%; font-size: 14px; line-height: 16px; margin: 0px auto 15px auto; }

.IndexReferenceBlock { display: table; width: 100%; padding: 0px 0px 10px 0px; margin: 0px auto 12px auto; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #ECECEC; }
.IndexReferenceBlock div { display: table-cell; vertical-align: top; font-size: 12px; }
.IndexReferenceBlock div:nth-child(1) {width: 60px;padding: 0px 10px 0px 0px;}
.IndexReferenceBlock div:nth-child(2) { padding: 0px 10px 0px 0px; }
.IndexReferenceBlock div:nth-child(2) b { font-size: 14px; line-height: 18px; }

.IFB { display: block; width: 100%; margin: 0px auto 10px auto; padding: 0px 0px 10px 0px; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #ECECEC; }
.IFA { display: inline-block; float: right; width: 70%; font-size: 11px; color: #787878; margin: 0px 0px 5px 0px; }
.IFH { display: inline-block; float: right; width: 70%; font-size: 14px; line-height: 16px; font-weight: bold; margin: 0px 0px 5px 0px; }
.IFL { display: inline-block; float: left; width: 68%; font-size: 12px; line-height: 14px; margin: 0px 0px 5px 0px; }
.IFL_FULL { display: inline-block; font-size: 12px; line-height: 14px; margin: 0px 0px 5px 0px; }
.IFH  a { color: #000000; text-decoration: none; }
.IFL  a { color: #000000; text-decoration: none; }
.IFL_FULL  a { color: #000000; text-decoration: none; line-height: 1.1; }
.IFH  a:hover { color: #3366CC; }
.IFL  a:hover { color: #3366CC; }
.IFL_FULL a:hover { color: #3366CC; }
.IFP  { display: inline-block; float: left; width: 30%; }
.IFP img { max-width: 90%;  }
.IFD { float: right; width: 70%; font-size: 12px; line-height: 14px; color: #787878; margin: 0px 0px 5px 0px; }
.IFD a { color: #787878; text-decoration: none; }
.IFD p {margin: 0px}


.mom-share-post{ /*float: left;*//* width: 70%; */}
.IFS { display: none; float: right; width: 70%; }
.mom-share-buttons a{color:#fff;background: #C4C4C4;margin-right: 2px;vertical-align: middle;text-align: center; width: 16px; height: 16px;display: inline-block;}
.mom-share-buttons.postInner:after{content: ''; display: table; width: 100px; clear: both;}
.mom-share-buttons.postInner  a{width: 100%;height: 100%; display: block;}
.mom-share-buttons.postInner .a2a_kit  {float: left;}
.mom-share-buttons.postInner .a2a_kit  a{width: inherit;}
.mom-share-buttons.postInner .mh-share-button{ display: block;}
.mom-share-buttons.postInner .share_button {float: left; margin: 0 1px;}

.a2a_svg{min-width: 50px; height: 34px!important;}
.a2a_svg svg{width: 30px;height: 35px;}
.a2a_mini_services .a2a_svg{height: 35px !important;}
.a2a_default_style a{padding: 0 1px!important;}

.addtoanyWrap .a2a_dd span.a2a_s__default{border-radius: 0; background-color: #3274d1;/* background-image: url(../images/icon-plus.svg);*/background-position: center center;background-repeat: no-repeat;}
.addtoanyWrap .a2a_button_delicious span.a2a_s_delicious{ border-radius: 0; background-color: #0346a5;/* background-image: url(../images/icon-delicious.svg);*/background-position: center center; background-repeat: no-repeat;}
.addtoanyWrap .a2a_button_email span.a2a_s_email{ border-radius: 0; background-color: #727272;/* background-image: url(../images/icon-email.svg);*/background-position: center center; background-repeat: no-repeat;}
.addtoanyWrap .a2a_button_print span.a2a_s_print{ border-radius: 0; background-color: #727272; /*background-image: url(../images/icon-print.svg);*/background-position: center center; background-repeat: no-repeat;}
.viewsCount{float: left; min-width: 50px; height: 34px; color: #CCCCCC;font-size: 12px;line-height: 12px;text-transform: uppercase;padding: 0px 5px 0px 5px;cursor: default !important;}
.viewsCount span{display: block; width: 100%; text-align: center;}
.viewsCount span:nth-child(1){font-weight: bold;color: #FF3300 !important;padding: 0px 0px 2px 0px; font-size: 20px;line-height: 20px;}

.total_shares {color: #CCCCCC; margin: 0px 0px 0px 8px; padding: 1px 0px 0px 0px; text-transform: uppercase; font-size: 11px;}
.total_shares b{color:#ff3300;}
.IFS div { display: none; float: left; margin: 0px 2px 0px 0px; cursor: pointer; background-repeat: no-repeat; 	background-position: center center;}
.IFS div:nth-child(1) { width: 16px; height: 16px; background-color: #C4C4C4; background-image: url(../Images/Facebook-16x16.svg); 	}
.IFS div:nth-child(2) { width: 16px; height: 16px; background-color: #C4C4C4; background-image: url(../Images/Twitter-16x16.svg); 	 }
.IFS div:nth-child(3) { width: 16px; height: 16px; background-color: #C4C4C4; background-image: url(../Images/GooglePlus-16x16.svg); 	}
.IFS div:nth-child(4) { color: #CCCCCC; margin: 0px 0px 0px 10px; padding: 1px 0px 0px 0px; text-transform: uppercase; font-size: 11px; }
.IFS div:nth-child(4) b { color: #ff3300; }

.HRB { display: block; width: 100%; margin: 0px 0px 20px 0px; }
.HRH { font-size: 12px; line-height: 14px; }
.HRS { display: none; }
.HRS div { display: none; }

#IndexMore { display: table; width: 100%; padding: 15px 0px 30px 0px; margin: 0px auto 0px auto; font-size: 16px; line-height: 18px; }
#IndexMore div:nth-child(1) { display: table-cell; width: 50%; vertical-align: middle; font-size: 16px; line-height: 18px; text-align: left; }
#IndexMore div:nth-child(2) { display: table-cell; width: 50%; vertical-align: middle; font-size: 16px; line-height: 18px; text-align: right; }

#Index-Recent { display: block; width: 100%; margin: 0px auto 15px auto; padding: 10px 0px 5px 0px; background-color: #f9edd4; }
#Index-Recent div { display: block; width: 95%; font-size: 14px; line-height: 16px; margin: 0px auto 10px auto; padding: 0px 0px 10px 0px; border-bottom-style: dotted; border-bottom-width: 1px; border-bottom-color: #EEDAB1; }
#Index-Recent div a { color: #000000; text-decoration: none; }
#Index-Recent div a:hover { text-decoration: underline; }

.Index-Recent-Headline { display: block; padding: 10px 10px 10px 10px; background-color: #f9edd4; color: #000000; font-size: 18px; line-height: 18px; font-weight: 700; font-family: 'Roboto Condensed', sans-serif; }

.Index-Featured-Content { display: block; width: 100%; }
.Index-Featured-Content div { display: block; width: 300px; margin: 0px auto 15px auto; font-size: 14px; line-height: 16px; }
.Index-Featured-Content div a { color: #000000; text-decoration: none; }
.Index-Featured-Content div a:hover { text-decoration: underline; }
.Index-Featured-Content div img { margin: 0px 0px 5px 0px; }

.BlueBox { display: block; width: 100%; margin: 0px auto 15px auto; }
.BlueBox div { padding: 30px 0px 0px 0px; font-size: 14px; line-height: 16px; }
.BlueBox table td { font-size: 16px; line-height: 18px; }

.Testimonials { display: block; width: 100%; margin: 0px auto 15px auto; font-size: 16px; line-height: 18px; font-family: 'Lato', sans-serif; }
.Testimonials h2 { font-size: 21px; line-height: 23px; }
.QuoteName { color: #666666; font-size: 12px; line-height: 14px; padding-left: 20px; }

#Contact { display: block; width: 100%; font-size: 12px; line-height: 14px;	font-family: Arial, Helvetica, sans-serif; color: #555555; margin: 0px 0px 20px 0px; }
#Contact b { color: #333333; }
#Contact a b, #Contact b a { color: #3366CC; }
#Contact a:hover b, #Contact b a:hover { text-decoration: underline; }
#Contact h1, #Contact h2, #Contact h3 { font-family: 'Lato', sans-serif; color: #000000; margin-top: 15px; padding: 0px; font-weight: 700; }
#Contact h1 { font-size: 26px; line-height: 29px; margin: 30px 0px 10px 0px; }
#Contact h2 { font-size: 20px; line-height: 24px; }
#Contact h3 { font-size: 18px; line-height: 21px; }
#Contact h4 { font-size: 16px; line-height: 18px; }
#Contact ul { margin-left: 0; padding-left: 0; }
#Contact ul li { margin-left: 1.5em; margin-bottom: 10px; }
.ContactCol1, .ContactCol2 { display: block; width: 100%; margin: 0px 0px 0px 0px; font-size: 12px; line-height: 14px;	font-family: Arial, Helvetica, sans-serif; color: #555555; }
#ContactSubject, #ContactFeedback, #ContactEmail { width: 100%; height: 24px; max-width: 400px; }
#ImageCode { width: 100px; height: 24px; }
#ContactSubmit { width: 150px; height: 32px; }


.Infographic-Container { display: table; width: 100%; margin: 0px auto 12px auto; }
.Infographic-Thumb { display: table-cell; width: 75px; vertical-align: top; padding: 0px 10px 0px 0px; }
.Infographic-Desc { display: table-cell; vertical-align: top; font-size: 14px; }

.InfographicBlock { display: table; width: 100%; margin: 0px 0px 10px 0px; padding: 0px 0px 10px 0px; border-bottom: solid 1px #ececec; }

.InfographicBlock div:nth-child(1) { display: table-cell; vertical-align: top; width: 25%; max-width: 150px; padding: 0px 10px 0px 0px; }
.InfographicBlock div:nth-child(2) { display: table-cell; vertical-align: top; font-size: 14px; line-height: 16px; }


#Music { display: block; width: 100%; font-size: 14px; line-height: 18px;	font-family: Arial, Helvetica, sans-serif; color: #555555; margin: 0px 0px 20px 0px; }
#Music b { color: #333333; }
#Music a b, #Music b a { color: #3366CC; }
#Music a:hover b, #Music b a:hover { text-decoration: underline; }
#Music h1, #Music h2, #Music h3 { font-family: 'Lato', sans-serif; color: #000000; margin-top: 15px; padding: 0px; margin: 30px 0px 10px 0px; font-weight: 700; }
#Music h1 { font-size: 26px; line-height: 29px; }
#Music h2 { font-size: 20px; line-height: 24px; }
#Music h3 { font-size: 18px; line-height: 21px; }

#Subscription-Article { display: block; width: 100%; font-size: 16px; line-height: 18px; }

.Subscription-Article-Box { display: block; width: 100%; margin: 20px auto 30px auto; padding: 25px 0px; border-top: solid 1px #ECECEC; border-bottom: solid 1px #ECECEC; }
.Subscription-Article-Box .SubscriptionHeadline { display: block; padding: 0px 0px 5px 0px; text-transform: uppercase; font-size: 27px; line-height: 29px; font-weight: 300; color: #FF3300; }
.Subscription-Article-Box .SubscriptionText { display: block; padding: 0px 0px 15px 0px; font-size: 16px; line-height: 18px; font-weight: 300; color: #000000; }
.Subscription-Article-Box .SubscriptionBox { display: block; padding: 0px 0px 15px 0px; }
.Subscription-Article-Box .SubscriptionBox input { width: 98%; max-width: 450px; height: 24px; color: #666666; }
.Subscription-Article-Box .SubscriptionButton { display: block; padding: 0px 0px 15px 0px; }
.Subscription-Article-Box .SubscriptionNotice { display: block; padding: 0px 0px 0px 0px; font-size: 12px; line-height: 13px; color: #999999; }
* {
    box-sizing: border-box;
}

.widget_toplinks.big{
    display: table;
    padding: 20px 15px 25px;

    background: #cc0001;
}
.toplink-icon{
    width: 120px;
    max-width: 120px;
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.toplink-icon img{
    max-width:100%;
}
.toplink-big{
    display: table-cell;
    vertical-align: middle;
    line-height: 1.1;
}
.toplink-big a{
    font-size: 30px;
    color: #fff;
    text-decoration: underline;
}
.toplink-big a:hover{
    text-decoration: none;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* DESKTOP SIZE */
@media (min-width: 640px) {
    .IFL { width: 70%; }
    .FB-Like-Overlay { margin: 50px auto 0px auto; }
    .FB-Like-Body { font-size: 16px; line-height: 18px; }
    .FB-Like-Body h1 { font-size: 40px; line-height: 42px; }

    .FB-Like-Arrow { display: block; width: 100px; position: absolute; top: -10px; left: -50px; z-index: 8675; }

    .InfographicBlock { display: inline-block; float: left; width: 150px; margin: 0px 37px 15px 0px; border-bottom: none 0px; }

    #TwoCol1 .InfographicBlock:nth-child(6n) { margin: 0px 0px 15px 0px; }

    .InfographicBlock div:nth-child(1) { display: block; width: 150px; max-width: 150px; margin: 0px 0px 5px 0px; }
    .InfographicBlock div:nth-child(2) { display: block; text-align: center; font-size: 12px; line-height: 14px; }

    #AD728Top { display: block; }
    .SBATop { display: block; }

    .SBAArticle { float: right; margin: 0px auto 10px 15px; }
    .SBABottom1, .SBABottom2 { width: 640px; }
    .SBABottom1 div, .SBABottom2 div { width: 150px; height: 150px; }
    .SBABottom1 div:nth-child(1) { margin: 5px 5px 5px 0px; }
    .SBABottom2 div:nth-child(1) { margin: 5px 5px 5px 0px; }

    .SocialBlock { width: 300px; float: right; margin: 0px 0px 15px 20px; }

    .HRH { font-size: 14px; line-height: 16px; margin: 0px auto 5px auto; }
    .HRS { display: block; width: 100%; }
    .HRS div { display: inline-block; float: left; margin: 0px 2px 0px 0px; cursor: pointer; background-repeat: no-repeat; 	background-position: center center;}
    .HRS div:nth-child(1) { width: 16px; height: 16px; background-color: #C4C4C4; background-image: url(../Images/Facebook-16x16.svg); 	}
    .HRS div:nth-child(2) { width: 16px; height: 16px; background-color: #C4C4C4; background-image: url(../Images/Twitter-16x16.svg); 	 }
    .HRS div:nth-child(3) { width: 16px; height: 16px; background-color: #C4C4C4; background-image: url(../Images/GooglePlus-16x16.svg); 	}
    .HRS div:nth-child(4) { color: #CCCCCC; margin: 0px 0px 0px 10px; padding: 1px 0px 0px 0px; text-transform: uppercase; font-size: 11px; }
    .HRS div:nth-child(4) b { color: #ff3300; }

    .BlueBox { background-color: #dfeaf2; min-height: 200px; }
    .BlueBox div { padding: 20px; font-size: 16px; line-height: 19px; }

    body { margin: 0px; padding: 0px; position: relative; left: 0px; width: auto; padding: 0px 5px; background-color: #FFFFFF; }
    #Page { width: 1250px; position: static; margin: 0px auto; }
    #Menu { display: inline-block; float: left; width: 940px; position: static; height: auto; background-color: #FFFFFF; }
    #Search { display: inline-block; float: left; width: 300px; position: static; height: auto; background-color: #FFFFFF; }

    #MastheadRowA { display: table; width: 1240px; margin: 0px auto 5px auto; background-color: #EFEFEF; padding: 0; }
    #MastheadRowB { display: table; width: 1240px; min-width: 1240px; max-width: 1240px; margin: 0px auto 0px auto; }
    #MastheadRowC { width: 1240px; margin: 0px auto 0px auto; padding: 5px 0px 5px 0px; border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: #ECECEC; }
    #MastheadRowA li { display: table-cell; text-align: center; vertical-align: middle; font-size: 11px; line-height: 13px; color: #333333; padding: 2px; }
    #MastheadRowA li:nth-child(8)  { text-align: right; }
    #MastheadRowA li:nth-child(9)  { width: 110px; text-align: left; }

    #MastheadRowA li a { color: #333333; text-decoration: none; }
    #MastheadRowA li iframe { height: 20px !important; }
    #MenuButton { display: none; }
    #Logo { display: table-cell; width: 420px; height: 90px; float: none; background-image: url(../images/NaturalNews-Logo-White-420x90.svg); 	}
    #Social { display: table-cell; width: 340px; vertical-align: middle; }
    #SocialIcons { display: table; width: auto; }
    #SocialIcons div {display: table-cell;width: 27px;height: 23px;padding: 0px 5px 0px 0px;}
    #Subscribe { display: table-cell; float: none; width: 480px; }
    #SearchButton { display: none; }

    #MenuLinks { display: block; width: auto; margin: 0px 0px; padding: 10px 0px 0px 0px; }
    #MenuLinks li { display: inline-block; float: left; margin: 0px 0px 0px 0px; padding: 0px 5px 0px 5px; text-align: left; font-size: 15px; line-height: 15px; border-bottom-style: none; border-bottom-width: 0px;}
    #MenuLinks li:nth-child(1) { padding: 0px 5px 0px 0px; }
    #MenuLinks li a { color: #333333; text-decoration: none; }

    #SearchBox {display: block;width: 298px;margin: 0px auto 0px auto;border-style: solid;border-width: 1px;border-color: #cccccc;padding: 4px 0px 4px 0px;}
    #SearchBox div:nth-child(1) {display: inline-block;float: left;width: 260px;margin: 0px 0px 0px 0px;}
    #SearchBox div:nth-child(2) { display: inline-block; float: left; width: 30px; height: 26px; margin: 0px 0px 0px 0px; background-color: #FFFFFF; background-image: url(../images/Icon-Search-Gray.svg); }
    #SearchBox div:nth-child(3) { display: none; margin: 0px 0px 0px 0px; }
    #SearchBox div:nth-child(1) input {/* height: 20px; */font-size: 12px;border: 0px none;outline: 0;padding: 2px 2px 2px 2px;}

    #Container { width: 1250px; min-width: 1250px; max-width: 1250px; }
    #Content { padding: 0px 5px 0px 5px; margin: 0px 0px 0px 0px; }

    #BreakingAlert { display: block; width: 100%; margin: 15px auto 0px auto; padding: 10px 0px; background-color: #cc0000; }
    #BreakingAlertBox { display: table; width: auto; margin: 0px auto 0px auto; }
    #BreakingAlertBox div { display: table-cell; padding: 0px 15px 0px 15px; color: #FFFFFF; font-size: 16px; line-height: 16px; text-align: center; border-right-style: solid; border-right-color: #FFFFFF; border-right-width: 1px; }
    #BreakingAlertBox div a { color: #FFFFFF; text-decoration: underline; }
    #BreakingAlertBox div:nth-last-child(1) { border-right-style: none; border-right-width: 0px; }

    #Alert { display: block; width: 100%; margin: 0px auto 0px auto; background-color: #ffdf00; }
    #AlertBox { display: table; width: auto; margin: 0px 0px 0px 0px; }
    #AlertBox div { display: table-cell; vertical-align: middle; color: #FFFFFF; font-size: 14px; line-height: 14px; padding: 1px 30px 1px 0px; }
    #AlertBox div a { color: #000000; text-decoration: none; }
    #AlertBox div a:hover { text-decoration: underline; }
    #AlertBox div:nth-child(1) { padding: 1px 0px 1px 0px; }
    #AlertBox div:nth-last-child(1) { padding: 1px 10px 1px 0px; }

    #AlertBar { display: block; width: 100%; margin: 15px auto 0px auto; padding: 10px 0px; background-color: #cc0000; }
    #AlertBarBox { display: table; width: auto; margin: 0px auto 0px auto; }
    #AlertBarBox div { display: table-cell; padding: 0px 15px 0px 15px; text-align: center; border-right-style: solid; border-right-width: 1px; }
    #AlertBarBox div:nth-last-child(1) { border-right-style: none; border-right-width: 0px; }

    #Footer { width: 1240px; min-width: 1240px; }
    .FooterCol1 { display: inline-block; float: left; width: 200px; margin: 0px 10px 0px 280px; text-align: left; }
    .FooterCol2 { display: inline-block; float: left; width: 200px; margin: 0px 0px 0px 0px; text-align: left; }
    .FooterCol3 { display: inline-block; float: left; width: 550px; margin: 0px 0px 0px 0px; text-align: left; padding: 30px 0px 0px 0px; }
    .FooterCol3 div { display: inline-block; float: left; width: 130px; margin: 0px 30px 0px 0px; }
    #ArticleCol1 { display: inline-block; width: 920px; min-width: 920px; float: left; margin: 15px 20px 30px 0px; }
    #ArticleCol2 { display: inline-block; width: 300px; float: left; margin: 15px 0px 30px 0px; }

    #Col1 { display: inline-block; width: 260px; min-width: 260px; float: right; margin: 0px 0px 10px 0px; }
    #Col2 { display: inline-block; width: 640px; min-width: 640px; float: right; margin: 0px 0px 10px 20px; }
    #Headline h1 { font-size: 36px; line-height: 40px; }

    #ColA { display: inline-block; width: 540px; min-width: 540px; float: right; margin: 0px 0px 10px 20px; }
    #ColB { display: inline-block; width: 360px; min-width: 360px; float: right; margin: 0px 0px 10px 0px; }
    #ColA h1 { font-size: 36px; line-height: 40px; }
    #ColE { width: 300px; }
    #ColF { width: 150px; }
    #ColG h1 { font-size: 36px; line-height: 40px; letter-spacing: -1px; }
    #ColC { display: inline-block; width: 260px; min-width: 260px; float: left; margin: 0px 20px 10px 0px; }
    #ColD { display: inline-block; width: 640px; min-width: 640px; float: left; margin: 0px 0px 10px 0px; }
    #ArticleAuthorBio img { max-width: 100%; }

    .AD728 { display: block; }
    #HRR1240 { display: block; margin: 15px auto 0px auto; }
    #SocialAD300 { width: 300px; float: right; margin: 0px 0px 15px 20px; }
    #ADTextArticleBottom { display: block; }
    #ArticleADBox { display: block; }

    #AEBLeft, #AEBRight { display: inline-block; float: left; margin: 0px 0px 20px 0px; }
    #AEBLeft { margin: 0px 20px 20px 0px; }

    #ArticleSubscribeArrow { display: block; }
    #ArticleSubscribeBox { display: inline-block; float: left; width: 508px; padding: 20px; border-width: 1px; border-style: solid; border-color: #CCCCCC; }
    #ArticleSubscribeBoxLeft { width: 480px; margin: 0px 0px 0px 0px; }
    #ArticleSubscribeBoxRight {  }
    #ArticleSubscribeDisclaimer { margin: 0px 0px 0px 70px; width: 550px; }
    #ArticleSubscribeBoxLeft input { font-size: 20px; line-height: 20px; border: 0px none; outline: 0; }

    #IndexCol1 { display: inline-block; float: left; width: 600px; margin: 15px 0px 15px 0px; }
    #IndexCol2 { display: inline-block; float: right; width: 300px; margin: 15px 0px 15px 0px; }
    #IndexCol3 { display: inline-block; float: right; width: 300px; margin: 15px 20px 15px 20px; }

    #Page2Col1 { display: inline-block; float: left; width: 740px; margin: 0px 0px 15px 0px; }
    #Page2Col2 { display: inline-block; float: left; width: 160px; margin: 0px 20px 15px 20px; }
    #Page2Col3 { display: inline-block; float: left; width: 300px; margin: 0px 0px 15px 0px; }

    #ThreeCol1 { display: inline-block; float: left; width: 640px; margin: 15px 0px 15px 0px; }
    #ThreeCol2 { display: inline-block; float: left; width: 260px; margin: 15px 20px 15px 20px; }
    #ThreeCol3 { display: inline-block; float: left; width: 300px; margin: 15px 0px 15px 0px; }

    #TwoCol1 { display: inline-block; float: left; width: 920px; margin: 15px 20px 15px 0px; }
    #TwoCol2 { display: inline-block; float: left; width: 300px; margin: 15px 0px 15px 0px; }

    #HalfCol1 { display: inline-block; float: left; width: 700px; margin: 15px 40px 15px 0px; }
    #HalfCol2 { display: inline-block; float: left; width: 500px; margin: 15px 0px 15px 0px; }

    .Index-Featured-Content div { display: inline-block; float: left; width: 290px; margin: 0px 0px 15px 0px; }
    .Index-Featured-Content div:nth-child(odd) { margin: 0px 20px 15px 0px; }
    .Index-Featured-Content div:nth-child(even) { margin: 0px 0px 15px 0px; }

    #Index-Recent { width: 600px; }
    #Index-Recent div { width: 570px; }

    .IFA { display: block; float: none; width:100%; font-size: 11px; color: #787878; margin: 0px 0px 5px 0px; }
    .IFH { display: block; float: none; width: 100%; font-size: 20px; line-height: 23px; font-weight: 700; }
    .IFL { display: block; float: none; width: 100%; font-size: 15px; }
    .IFL_FULL { display: block; float: none; width: 100%; font-size: 15px; }
    .IFP { width: 140px; padding: 0px 0px 0px 0px; margin: 0px 10px 0px 0px; }
    .IFP img { max-width: 100%; }
    .IFD { display: inline-block; width: 450px; margin: 0px 0px 10px 0px; }
    .mom-share-post{/* width: 450px; */}
    .mom-share-post{ display: inline-block; }
    .IFS { width: 450px; }
    .IFS div { display: block; }

    #Page2Col1 .IFD { width: 590px; }
    #Page2Col1 .IFS { width: 590px; }

    .ContactCol1 { display: inline-block; float: left; width: 400px; margin: 0px 30px 30px 0px; }
    .ContactCol2 { display: inline-block; float: left; width: 400px; margin: 0px 0px 30px 0px; }
    .ContactCol1 h2 { color: #ff3300; }

}

.widget_toplinks{
    display: none;
}

.mh-icon-text{
    display: none;
}

.share_button{
    /*padding: 2px 5px;*/
}
.mh-facebook {
    background: #29447E;
}
.mh-twitter{
    background: #00ACEE;
}
.mh-google_plus{
    background: #cd3c28;
}
.mh-diaspora{
	background: #ff6632;
}
figure{
    margin: 0;
}

.share_button{
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    min-width: 50px;
    text-align: center;
}
.share_button i{
    vertical-align: middle;
    font-size: 14px;
}
.share_button .fa{
    vertical-align: middle;
    font-size: 2em;
}
.mom-share-buttons.postInner{
    margin-bottom: 15px;
}
.mom-share-buttons.postInner a{
    background: transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 0;
}
.mom-share-buttons.postInner a:hover{
    text-decoration: none;
}

.vfix{
    height:100%;
    width:0px;
    display:inline-block;
    vertical-align:middle;
}


.allpost_list{
    padding-left: 0;
    list-style-type:none;
}
.allpost_list li{
    margin-bottom: 25px;
}
.allpost_list li:before, .allpost_list li:after{
    content: '';
    clear: both;
    display: table;
}

.allpost_list .post-thumbnail{
    float: left;
    width: 100%;
}
.allpost_list .f-tabbed-list-content{
    float: left;
    width: 100%;
}

.main-container{padding:0 10px;}
.post_top .entry-date{
    display: inline-block;
}
.allpost_list .f-p-title a{
    color: #000;
}
.allpost_list .f-p-title h2{
    margin-top: 0;
}
.post_top{
    margin-bottom: 9px;
}
.post_top .entry-author{
    display: inline-block;
}
.allpost_list_pagination .archive-pagination ul{
    padding-left: 0;
    list-style-type: none;
}
.allpost_list_pagination .archive-pagination ul li{ display: inline-block; padding: 0 8px;}
.allpost_list_pagination .pag-count {
    float: left;
    width: 41%;
    padding: 12px;
    font-size: 16px;
}
.allpost_list_pagination .pagination-links{
    float: right;
    width: 50%;
    text-align: right;

}
.allpost_list_pagination .pagination-links a{
    font-size: 16px;
}
.allpost_list_pagination .pagination:before, .allpost_list_pagination .pagination:after {
    content: '';
    clear: both;
    display: table;
}
.allpost_list_pagination{
    margin-bottom: 20px;
    background: #eee;
}
.widget_easy_facebook_page_plugin{
    text-align: center;
}


.shars { display: block; width: 62px; height: 62px; background-image: url(../images/Background-FBShareButton-2.svg); background-repeat: no-repeat; }
.shars div { display: block; width: 50px; margin: 0px auto 0px auto; padding: 8px 0px 0px 0px; text-align: center; font-size: 20px; line-height: 18px; color: #333333; font-family: 'Tahoma', Arial, Helvetica, sans-serif; }

.mom-share-buttons-important{
    height: 65px !important;
}

.widget_naturalnews-most-popular-facebook .mom-share-buttons a{background: transparent; display: table-cell;}


/*Post nav*/

.post-nav-links {
    overflow: hidden;
    font-size: 15px;
    margin-bottom: 35px;
}

.post-nav-links a {
    color: #7e7e7e;
}

.post-nav-links a:hover {
    color: #0083b9;
}

.post-nav-links .post-nav-prev,
.post-nav-links .post-nav-next {
    width: 49.9%;
}

.post-nav-links .post-nav-prev {
    float: left;
    border-right: 1px solid #e9e9e9;
    font-size: 15px;
    line-height: 18px;
}

.post-nav-links .post-nav-prev span:before,
.post-nav-links .post-nav-next span:after {
    content: "\f100";
    font-family: 'font-awesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 2px;
    margin-right: 10px;
    position: relative;
}

.post-nav-links .post-nav-next span:after {
    content: "\f101";
    margin-right: 0;
    margin-left: 10px;
}

.post-nav-links .post-nav-next {
    float: right;
    text-align: right;
    font-size: 15px;
    line-height: 18px;
}

.post-nav-links span {
    display: block;
    color: #2d2d2d;
    font-weight: 700 !important;
}

.post-nav-links .post-nav-prev a,
.post-nav-links .post-nav-next a{
    text-decoration: none;
}


.widget_recent_entries ul { padding: 10px 0px; margin: 0px 0px 0px 0px; }
.widget_recent_entries ul li { width: 100%; display: block; padding: 10px 0px; margin: 0px 0px 0px 0px; list-style-type: none; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ECECEC; }
.widget_recent_entries ul li a { color: #666666; text-decoration: none; }
.widget_recent_entries ul li a:hover { color: #3366CC; }
.widget_recent_entries ul li:nth-child(1) { padding: 0px 0px 10px 0px; }

.widget {
    margin-bottom: 10px;
}

#Infographic-Column-1120 {
    width: 1120px;
    float: left;
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
}
#Infographic-Column-900 {
    width: 900px;
    float: left;
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
    /* padding-top: 12px; */
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #000000;
}
#Infographic-Column-300 {
    width: 300px;
    float: left;
    display: inline-block;
    margin-top: 20px;
}

#Infographic-Column-A {
    width: 780px;
    float: left;
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;

}
#Infographic-Column-B {
    width:300px;
    float: left;
    display: inline-block;
    margin-top: 20px;
}

#Infographic-Column-1 {
    width: 640px;
    float: left;
    display: inline-block;
    padding-top: 12px;
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: #000000;
    margin-top: 20px;
    margin-right: 20px;
}
#Infographic-Column-2 {
    width: 300px;
    float: left;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}
#Infographic-Column-3 {
    width:260px;
    float: left;
    display: inline-block;
    margin-top: 20px;
}
#Infographic-Headline {
    width: 100%;
    float: left;
    display: inline-block;
    padding-bottom: 20px;
}
#Infographic-Headline-Landscape {
    width: 100%;
    float: left;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
}
#Infographic-Headline h1, #Infographic-Headline-Landscape h1 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 44px;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    letter-spacing: -1px;
}
#Infographic-Date {
    width: 100%;
    float: left;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
}
#Infographic-Date-Landscape {
    width: 100%;
    float: left;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
#Infographic-Social {
    width: 100%;
    float: left;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #e7e7e7;
    border-bottom-color: #e7e7e7;
}
#Infographic-Social-Landscape {
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
}
#Infographic-Landscape {
    width: 1120px;
    float: left;
    display: inline-block;
}
.Infographic-Article {
    font-size: 16px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    padding-top: 0px;
    padding-bottom: 20px;
}

.Row:before, .Row:after{
    content: '';
    clear: both;
    display: table;
}

.site-header .widget {
    margin-bottom: 0;
}

.section-header .mom-sub-title{
    font-weight: normal;
    text-transform: uppercase;
}

.IFP_SMALL { display: inline-block; float: left; margin-right: 15px; width: 72px;}

.widget_toplinks{
        display: block;
        width: 100%;
        margin-top: 15px;
        padding: 10px 0 5px;
        background-color: #cc0000;
    }
    .toplinks{
        list-style: none;
        text-align: center;
        letter-spacing: -5px;
        margin: 0;
        padding: 0;
    }
    .toplink{
        display: inline-block;
        letter-spacing: normal;
        margin: 0 10px 5px 11px;
        position: relative;
    }
    .toplink:after{
        content: '';
        display: block;
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -11px;
        background: rgba(255,255,255,0.8);
    }
    .toplink:last-child:after{
        display: none;
    }
    .toplinks a{
        color: #fff;
        text-decoration: underline;
        font-size: 16px;
        line-height: 16px;
    }
    .toplinks a:hover{
        text-decoration: none;
    }


@media (min-width:650px) {
    .mh-icon-text{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
        font-weight: 600;
    }
    .mh-facebook a{

    }
    .mh-twiter a{}

    .mh-share-buttons { margin-bottom: 30px; margin-bottom: 1.875rem; padding: 20px; background: #f0f0f0; overflow: hidden; }
    .mh-share-buttons a, .mh-share-buttons a:hover { color: #fff; }
    .mh-share-buttons .fa { display: inline-block; font-size: 1.25em; margin-right: 10px; }
    /*.mh-share-button { display: block; width: 100%; height: 100%; font-size: 12px; font-size: 0.75rem; padding: 10px 0; text-align: center; text-transform: uppercase; }*/
    .mh-share-button:hover { opacity: 0.7; }
    /*.mh-facebook span {background: #3e64ad;}*/
    /* .mh-twitter span { background: #6aadd1; }
     .mh-pinterest span { background: #de010d; }
     .mh-googleplus span { background: #cd3627; }*/

    .allpost_list .post-thumbnail{
        width: 15%;
    }
    .allpost_list .f-tabbed-list-content{
        width: 85%;
    }
    .main-container{padding:0px;}

}
@media (max-width:650px) {
    #Infographic-Column-900{
        width: 100%;
        padding: 0 10px;
    }
    #Infographic-Column-300{
        width: 100%;
        padding: 0 10px;
    }
    #Infographic-Headline h1{
        font-size: 25px;
    }
	.widget_toplinks.big{
		padding: 10px;
	}
	.toplink-icon{
		width: 80px;
		padding-right: 10px;
		vertical-align: top;
	}
	.toplink-big a{
		font-size: 18px;
		line-height: 22px;
	}
}

.post .entry-content{
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    font-size: 16px;
    line-height: 26px;
}
iframe{
	/*width: 100%!important;*/
}
#IndexCol3 .IFD{
	float: none;
}
#IndexCol1 .IFD p{
	margin-bottom: 10px;
}
#naturalnews-featured-post-3 img{
	height: 100%;
}

#print{display:none;}
@media print{
    #print{display:block;}
    #print *{color:#000 !important}
    .wrap_every_thing{
        display:none;
    }
blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}
}
