.vps_bg_fade {
    visibility: initial;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    margin 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 600;
    -moz-opacity: 0.90;
    opacity: .90;
    filter: alpha(opacity=90);
    -webkit-transition: opacity 4.0s ease-in;
    -moz-transition: opacity 4.0s ease-in;
    -o-transition: opacity 4.0s ease-in;
}
@media (max-width: 767px) {
    .vps_popup_box {
        top: 190px !important;
        max-height: 290px;
    }
     .vps_img {
        max-height: 160px;
	max-width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.vps_popup_box {
    visibility: initial;
    font-family: Verdana, Geneva, sans-serif;
    display: none;
    position: fixed;
    left: 50%;
    top: 40%;
    margin: -175px 0 0 -175px;
    max-width: 350px !important;
    min-width: 320px;
    padding: 16px;
    background-color: white;
    z-index: 601;
    overflow: hidden;
}
a.vps_close {
    font-family: Verdana, Geneva, sans-serif;
    color: #727171;
    font-size: 17px;
    text-decoration: none !important;
    border: 0px !important;
    position: absolute;
    right: 12px;
    top: 6px;
}
a.vps_close:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #727171;
    font-size: 17px;
    text-decoration: none !important;
    border: 0px !important;
    position: absolute;
    right: 12px;
    top: 6px;
    box-sizing: border-box;
}
.vps_sharebox_title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}
.vps_fb_ico {
    margin-top: 6px;
    margin-left: 12px;
    margin-right: 20px;
    margin-bottom: 0px !important;
    height: 23px;
    width: 12px;
}
.vps_share_close_text {
    margin-top:5px;
    text-align: center;
    display: block;
    text-decoration: none;
    border: 0px !important;
}
a.vps_share_close_text {
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #4e4e4e;
    border: 0px !important;
}
a.vps_share_close_text:hover {
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: #4e4e4e;
    border: 0px !important;
}
.vps_fb_btn_share {
    height: 35px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #26449c;
    background: -webkit-linear-gradient(#5776d0, #2c4aa4);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#5776d0, #2c4aa4);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#5776d0, #2c4aa4);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#5776d0, #2c4aa4);
    /* Standard syntax */
}
.vps_fb_btn {
    line-height: normal !important;
    font-weight: 600;
    padding-top: 4px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    height: 36px;
    color: #FFF;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #26449c;
    background: -webkit-linear-gradient(#5776d0, #2c4aa4);
    /* For Safari 5.1 to 6.0 */
    
    background: -o-linear-gradient(#5776d0, #2c4aa4);
    /* For Opera 11.1 to 12.0 */
    
    background: -moz-linear-gradient(#5776d0, #2c4aa4);
    /* For Firefox 3.6 to 15 */
    
    background: linear-gradient(#5776d0, #2c4aa4);
    /* Standard syntax */
}
.vpsclearfix {
   visibility: hidden;
   content: " "; /* Older browser do not support empty content */
   display: block;
   height: 0;
   clear: both;
}