#billboard { 
	width: 730px; 
	height: 300px; 
}

.anythingSlider{ 
	padding: 1px;
	border: 1px #c0c2c5;
}

.anythingControls{ 
	bottom: 1px;
    display: none;
    float: left;
    height: 42px;
    margin: 0 0 0 -100px;
    opacity: 0.9;
    outline: 0 none;
    position: absolute;
    right: 0px;
    z-index: 100;
    /*width: 245px;*/
    padding-right:25px;
}

.anythingSlider-default .anythingControls ul {
	margin: 9px 5px;
}

.anythingSlider-default .anythingControls a.start-stop {
	margin: 5px 3px;
}


.anythingSlider-default .anythingControls ul a {
    display: inline-block;
    height: 100%;
    margin: 0 5px 0 0;
    outline: 0 none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 0 0 0 0;
}

.anythingSlider-default .anythingControls ul li {
    display: inline;
    height: 100%;
    padding: 0 5px;
    background: none;
}

.anythingControls > div {
	float: left;
    width: 20px;
    height: 100%;
    vertical-align: middle;
    margin: 6px;
}

	a.start-stop {
	background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/webassets/img_bb_play_reg.gif") no-repeat scroll center center #ED6E23;
    float: left;
    color: white;
    height: 22px;
    outline: 0 none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 22px;
    z-index: 100;
    margin-top: 6px;    
}

.anythingSlider-default .anythingControls a.start-stop:hover {
    background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/img_bb_play_hov.gif") no-repeat scroll center center #E7581A;
}	

.anythingSlider-default .anythingControls a.start-stop.playing {
    background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/img_bb_pause_reg.gif") no-repeat scroll center center #ED6E23;
}

.anythingSlider-default .anythingControls a.start-stop.playing:hover {
    background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/img_bb_pause_hov.gif") no-repeat scroll center center #E7581A;
}

.anythingSlider-default .anythingWindow {
    border-bottom: 0px;
    border-top: 0px;
}

.thumbnav-ribbon {
	display: none;
}

.slider_content {
    float: left;
    height: 180px;
    padding: 40px 0px 80px 25px;
    width: 300px;
}

a.billboard_links {
	padding: 0px 0px 3px 8px;
	display: block;	
}

.slider_content ul li {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link.gif) no-repeat scroll left 2px transparent;
}

.thumbNav { 
	height:100%;
	overflow:hidden; 
	/*width:200px; */
}

.thumbNav li {
	float:left;
}
.thumbNav a { 
    display:inline-block;
    line-height:20px;
	width:22px; 
	margin: 0 0 0 0; 
	background: url(/ucm/groups/webassets/@ieee/@web/@org/documents/webassets/img_bb_inact_dot.png) no-repeat 0 0;
	text-align: center; 
}

.anythingSlider-default .anythingControls a.cur {
	cursor:default;
	background: url(/ucm/groups/webassets/@ieee/@web/@org/documents/webassets/img_bb_act_dot.png) no-repeat 0 0;
}

.anythingSlider-default .anythingControls a.cur img {
	height: 50px;
	opacity:0.5;
	filter:alpha(opacity=50);
}

.h3-bb {
	font-size: 130%;
}

.slidercontent_main {
	height: 300px;
    width: 730px;
}

.slider_bg_link {
	height: 238px;
    width: 404px;
    float: right;
}

.main_slider_link {
    display: block;
    height: 238px;
    width: 404px;
}
