.social-media-container-small {
	width: 542px;
	height: 340px;
	border: 1px solid #DBDBDB;
}
.social-media-container-small  div.media-content{
	width: 352px;
	height: 338px;
}
.social-media-container-small .social-media-content-div {
	padding: 10px 5px 5px 10px;
	float: left;
    width: 337px;
	height: 325px;
	overflow-y: scroll;
	overflow-x:hidden;
}
.social-media-container-medium {
	width: 738px;
	height: 340px;
	overflow-x:hidden;
	border: 1px solid #DBDBDB;
}
.social-media-container-medium  div.media-content{
	width: 548px;
	height: 338px;
}
.social-media-container-medium .social-media-content-div {
	padding: 10px 5px 5px 10px;
	float: left;
    width: 533px;
	height: 325px;
	overflow-y: scroll;
	overflow-x:hidden;
}
.social-media-container-large {
	width: 925px;
	height: 340px;
	overflow-x:hidden;
	border: 1px solid #DBDBDB;
}
.social-media-container-large  div.media-content{
	width: 925px;
	height: 338px;
}
.social-media-container-large .social-media-content-div {
	padding: 10px 5px 5px 10px;
	float: left;
    width: 720px;
	height: 325px;
	overflow-y: scroll;
	overflow-x:hidden;
}
.social-media-main-div {
	border-collapse: collapse;
	border-spacing: 0px 0px;
}
.social-media-nav-div {
	width: 190px;
	height: 338px;
	background: #DBDBDB;
	float: left;
}
.media-nav-divider {
    background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif") repeat-x scroll left top #FFFFFF;
    font-size: 1px;
    line-height: 1px;
    padding: 0px 0px 0px 0px;
}
.media-nav-icon {
	float: left;
	padding: 0px 10px 0px 0px;
}
.media-nav-link {
	float: left;
	padding: 4px 0px 0px 0px;
}
.media-nav-link a:link {
	color: 0663D7;
}
.hilite .media-nav-link a:link {
	/*color: #333333;*/
	color: #FFFFFF;
	font-weight: bold;
}
.sm-tab-icon {
	float: left;
}
.sm-tab-link {
	float: left;
	padding: 5px 0px 0px 4px;
}
.sm-home-content-div {
	padding: 10px 5px 5px 10px;
	float: left;
    width: 339px;
    height: 250px;
	overflow: scroll;
	overflow-x:hidden;
}
.sm-item-date {
    /*color: #999999;*/
	color: #333333;
	font-size: 11px;
}
.loading-spinner {
	padding: 100px 100px 100px 120px;
}
.socialmedia-navitem {
	height: 30px;
    padding: 10px 0 3px 10px;
}
.socialmedia-navitem.hilite {
	background: #8DB0C3;
	color:#FFFFFF;
}
.social-media-item {
	margin-bottom: 0px;
	padding-bottom: 15px;
	clear: both;
}
.sm-item-content {
	color:#000000; 
	font-size:11px;
	/*margin-left: 60px;*/
}
#media-content-main .sm-item-content  {
	color:#000000; 
	font-size: 12px;
	/*margin-left: 60px;*/
}
.sm-item-content-image {
    float: left;
    padding: 2px 8px 2px 0px;
}
.media-item-divider {
	height: 1px;
	padding: 6px 0px 2px 0px;
	border-bottom: 1px #eeeeee solid;
	clear: both;
}
.social-media-item-fb{
	float: left;
	margin-bottom: 0px;
	padding-bottom: 12px;
	border-bottom: 1px #eeeeee solid;
	min-height: 90px;
}
.sm-item-header a.link, a.visited {
	color: #707070;
}
.sm-thumb-image {
	float: left;
	height: 100%;
	padding: 0px 8px 8px 0px;
}
.fb-item-tumbnail {
	/*padding-left: 0px; 
	padding-bottom: 3px; 
	padding-top: 3px; 
	text-align:left; */
	background: #ffffff; 
	width: 60px;
	float: left;
}
.fb-item-tumbnail img{
	width: 48px;
	padding-right: 12px;
	margin-top:12px;
}
.fb-item-content {
	/*float:left;
	width: 240px;*/
	margin: 0px 0px 0px 60px;
}
.fb-item-text {
	color:#000000; 
	font-size:10px;
}
.yt-image {
	padding-right: 12px;
	padding-bottom: 6px;
	float: left;
	width: 120px;
}

.yt-date {
	text-align: left;
	padding-top:2px;
}

.yt-date span {
	color: #999999;
	vertical-align: top;
}
.yt-content {
	padding: 4px 2px 4px 2px;
}

.socialmedia-tab {
	color: #333;
	font-size: 85%;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 0px 0px;
	background: #EBE9EA;
	overflow: hidden;
	vertical-align: middle;
	height: 27px;
}

.socialmedia-tab.active {
	background: none repeat scroll 0 0 #8DB0C3;
}
.socialmedia-tab.active a:link, .socialmedia-tab.active a:visited, .socialmedia-tab.active a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.socialmedia-tab a:link, .socialmedia-tab a:visited, .socialmedia-tab a:active {
	color: #333333;
	text-decoration: none;
}
.socialmedia-tab a:hover {
	text-decoration: underline;
}
.sm-tab-divider {
	height: 28px;
	width: 28px;
}

.sm-tab-divider.selected-right {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/sm-tab-select-right.png) no-repeat left 0px;
}
.sm-tab-divider.selected-left {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/sm-tab-select-left.png) no-repeat left 0px;
}
.sm-tab-divider {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/sm-tab-divider.png) no-repeat left 0px;
}
.sm-hometab-icon {
	float: left;
	padding: 2px 0px 0px 4px;
}
.sm-hometab-link {
	float: left;
	padding: 7px 0px 0px 4px;
}
/*
.socialmedia-tab a.sub-off:link, .socialmedia-tab a.sub-off:visited, .socialmedia-tab a.sub-off:active {
	color: #fff;
	text-decoration: none;
}
.socialmedia-tab a.sub-off:hover {
	color: #fff;
	text-decoration: underline;
}
.socialmedia-tab a.sub-on:link, .socialmedia-tab a.sub-on:visited, .socialmedia-tab a.sub-on:active, .socialmedia-tab a.sub-on:hover {
	color: #333;
	text-decoration: none;
}
.socialmedia-tab a.sub-off:hover {
	color: #fff;
	text-decoration: underline;
}*/
