.ieee-btn {
	display:inline-block;
	padding:5px;
	color:#ffffff;
	font-size:100%;
	font-weight:bold;
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_btn_spr_1px.png);
}
a.ieee-button, a.ieee-btn {
	text-decoration:none;
}
input.ieee-button, input.ieee-btn{
	border:0 ;
	margin:0;
	height: 200%;
	margin-top:-2px;
	padding:5px;
	cursor:pointer;
}
.ieee-button {
	display:inline-block;
}
.ieee-button .center input{
	border:0;
	padding:0;
	margin:0;
	background:none;
	color:#ffffff;
	font-weight:bold;
	cursor:pointer;
	margin-top: -2px;	
	font-size:100%;
}
.ieee-button.blue .center input{
	color: #333333;
}

.ieee-button .center input.disabled{
	cursor:default;
}
.ieee-button .center {
	height: 19px;
	display:inline-block;
	cursor:pointer;
	float:left;
	padding-top:5px;
	color:#ffffff;
	font-size:100%;
	font-weight:bold;
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_btn_spr_1px.png);
	line-height:100%;
}
button.ieee-button {
	border:0;
	padding:0px;
	background:none;
	padding:0px;
	cursor:pointer;
}
.ieee-button .left, .ieee-button .right {
	width:10px;
	height: 24px;
	display:inline-block;
	cursor:pointer;
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_btn_spr.png);
	background-repeat:no-repeat;
	float:left;
}
.ieee-button .left {
	background-position:0px -68px;
}
.ieee-button.disabled:active .left, .ieee-button.disabled  .left, .ieee-button.disabled:hover .left {
	background-position: 0px -34px;
	cursor:default;
}
.ieee-button:hover .left {
	background-position: 0px 0px;
}
.ieee-button:active .left {
	background-position: 0px -102px;
}
.ieee-button .right {
	background-position: -20px -68px;
}
.disabled .ieee-button:hover {
	cursor:default;
}
.ieee-button.disabled  .right, .ieee-button.disabled:hover .right, .ieee-button.disabled:active .right {
	background-position:-20px -34px;
	cursor:default;
}
.ieee-button:hover .right {
	background-position:-20px 0px;
}
.ieee-button:active .right {
	background-position:-20px -102px;
}
.ieee-button .center,
.ieee-btn {
	background-position:0px -68px;
	background-repeat: repeat-x;
}

.ieee-btn.disabled, .ieee-btn.disabled:hover,  .ieee-btn.disabled:active,
.ieee-button.disabled .center, .ieee-button.disabled:hover .center,  .ieee-button.disabled:active .center {
	background-position:-20px -34px;
	background-repeat: repeat-x;
	cursor:default;
}

.ieee-btn:hover, .ieee-button:hover .center {
	background-position:-20px 0px;
	background-repeat: repeat-x;
}

.ieee-btn:active, .ieee-button:active .center {
	background-position:-20px -102px;
	background-repeat: repeat-x;
}

.ieee-button.small .center{
	padding-top:0px;
	line-height:18px;
	height:18px;
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-1px-sprite-small.png);
}

.ieee-button.small .left, 
.ieee-button.small .right{
	padding-top:0px;
	line-height:18px;
	height:18px;
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-sprite-small.png);
}

.ieee-button.small, .ieee-btn.small { 
	padding:2px;
}

/* styles added for blue buttons start */

.ieee-btn.blue {
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/10029620.png);
	
}
.ieee-button.blue .center {
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/10029620.png);
	color: #333333;
}
.ieee-button.blue .left, .ieee-button.blue .right {
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_btn_blu_spr.png);
}
.ieee-button.small.blue .center{
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_btn_blu_spr_1px.png);
}

.ieee-button.small.blue .left, 
.ieee-button.small.blue .right{
	background-image:url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_btn_blu_spr_sm.png);
}

/* styles added for blue buttons end */