.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}

#logo-nav ul.mega-menu, #logo-nav ul.mega-menu, #logo-nav ul.mega-menu li {margin: 0; padding: 0; border: none;}
#logo-nav ul.mega-menu {position: relative;}
#logo-nav ul.mega-menu li {float: left; margin: 0; padding: 0;}

#logo-nav ul.mega-menu li a.dc-mega {position: relative;}
#logo-nav ul.mega-menu li .mm-sub-container {
	position: absolute; 
	top: 46px; 
	left: 0px; 
	background: #ffffff; 
	z-index: 10000;
	box-shadow: 5px 5px 5px #ccc;
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
}

#logo-nav ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
#logo-nav ul.mega-menu li .sub li {list-style: none; float: none;}

#logo-nav ul.mega-menu li .sub li.mega-hdr {float: left; z-index: 999;}
#logo-nav ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
#logo-nav ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #000; text-shadow: none;}
#logo-nav ul.mega-menu .sub ul li {padding-right: 0;}
#logo-nav ul.mega-menu li .mm-sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
#logo-nav ul.mega-menu li .mm-sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}

.mm-header-wrap {
    /*background: url("/ucm/groups/public/@ieee/@web/@org/documents/images/search-back-2.jpg") repeat-x scroll left bottom #7B9AAB;*/
    background: none repeat scroll 0 0 #CCCCCC;
    color: #333333;
    font-weight: bold;
    padding: 10px 8px 10px 12px;
    float: left;
   	height: 20px; 
    width: 952px;
}

.mm-srch {
    float: left;
    width: 918px;
}

.mm-srchterm {
    font-size: 12px;
    padding: 1px 2px;
    width: 550px;
}

.mm-srchgo {
    margin: 1px 0 0 10px;
    position: absolute;
}

.mm-srchgo a:link, .mm-srchgo a:visited, .mm-srchgo a:active, .mm-srchgo a:hover, .mm-srchgo span {
    color: #FFFFFF;
}

.mm-close {
    float: right;
    width: 22px;
}

.mm-content {
	height: 358px;
	border-left: 8px solid #CCCCCC; 
	border-right: 8px solid #CCCCCC; 
	border-bottom: 8px solid #CCCCCC;
	overflow: hidden; 
}

.mm-content-title {
	width: 940px;
	padding: 10px 8px 4px 8px;
	float: left;
}

