#outer-container { 
	width: 770px;
	padding: 0;
}

#inner-container {
	background: none;
}

#util, #nav, #rnav, #srch, #crumb, .content-l, .content-r, #footer {
	display: none;
}

#logo-nav {
	width: 700px;
}


/* UPDATED 03/09 */

.content-l {
	display: none;
}




