/* Education css http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/css/education.css */
/* Education CSS Document */

#educationErrors {
	border: 2px solid #FF0000;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#educationErrors UL {
	margin-top: 4px;
	margin-bottom: 6px;
}

#educationTable TD.highlight {
	background: #ECF3F7;
}

.educationHighlight {
	background-color: #ECF3F7;
}

.educationHighlight2 {
	background-color: #cfe2ff;
}

.educationTitle {
	font-weight: bold;
	color: #0000FF;
}

.educationClearing4 {
	clear: both;
	padding: 4px;
}

.educationFloatLeft {
	float: left;
}

.educationFloatRight {
	float: right;
}
.educationFloatCenter {
    margin: 0 auto;
    display:block;
    float:none;
}

.educationButton {
	background-color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: #006699;
	cursor: pointer;
	padding: 1px 5px 1px 5px;
	margin-right: 2px;
}

.educationRequired {
	color: #FF0000;
	font-weight: bold;
}

.educationDisabled {
	background-color: #EBEBE4;
}

.educationTitle {
	font-weight: bold;
	color: #cc6600;
}

.educationClearing4 {
	clear: both; 
	padding: 4px;
}

.educationFloatLeft {
	float: left;
}

.educationFloatRight {
	float: right;
}
/*  ----------------------------------Search Results page------------------------------------------------*/
.searchResultsHeader {
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;
}

.sort-asc a {
	background: url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/sort_asc.gif) left top no-repeat;
	padding-left: 14px;
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;	
}

.sort-asc a:visited {
	background: url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/sort_asc.gif) left top no-repeat;
	padding-left: 14px;
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;	
}

.sort-desc a {
	background: url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/sort_desc.gif) left top no-repeat;
	padding-left: 14px;
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;
}

.sort-desc a:visited {
	background: url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/sort_desc.gif) left top no-repeat;
	padding-left: 14px;
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;
}

.sort-none a {
	background: url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/sort_none.gif) left top no-repeat;
	padding-left: 14px;
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;
}

.sort-none a:visited {
	background: url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/sort_none.gif) left top no-repeat;
	padding-left: 14px;
	background-color:#006699;
	color: #FFFFFF;
	font-weight: bold;
}

div.pagination
{
	padding: 3px;
	margin: 8px 3px 3px 3px;
	text-align:center;
}

div.pagination a
{
	padding: 2px 5px 2px 5px;
	color: #969696;
	border: 1px solid #e5e5e5;
	text-decoration: none;
}

div.pagination a:hover, div.digg a:active
{
	color: #969696;
	background: #f0f0f0;
	border: 1px solid #e5e5e5;
}

div.pagination span.current
{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #e5e5e5;
	font-weight: bold;
	background: #c8c8c8;
	color: #FFF;
}

div.pagination span.disabled
{
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #F3F3F3;
	color: #DDD;
}

div.pagination p
{
	padding: 3px;
	margin: 3px;
	text-align:center;
	font-size: 1em;
	color: #666;
}

/*  -------------------------------End Search Results page------------------------------------------------*/



/*  --------------------------------Start Course catalog page------------------------------------------------*/


#my-eduCourseCatalaog {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
}

#my-eduCourseCatalaog ul {
	list-style-type: none;

}

#my-eduCourseCatalaog a {
	text-decoration: none;
	outline: none;
	display: block;
    	padding-bottom: 2px;
    	color: #336699;
}

#my-eduCourseCatalaog a:hover {
    color: #333333;
}


.collapsed {
	padding-left: 15px;
	background: transparent url(http://origin.portaluat.ieee.org/portal/cms_docs/iportals/global/images/nav_expand.gif) center left no-repeat;
}

.expanded {
	padding-left: 15px;
	background: transparent url(http://origin.portaluat.ieee.org/portal/cms_docs/iportals/global/images/nav_collapse.gif) center left no-repeat;
}

.li-bullet {
    padding-left: 15px;
    margin-left: -15px;
    font-size:10px;
    list-style-position: outside;
    background-image:url(http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/images/bullet.gif) left top no-repeat;
}

.li-nobullet{
    padding-left: 15px;
    margin-left: -15px;
    display: block;
  list-style:none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
}


/* ------ course catalog main page ------ */
.my-eduCourseCatalog-nav {
	padding-left: 15px;
	margin-left: 15px;

}

.my-eduCourseCatalog-nav ul{
	padding-left: 15px;
	margin-left: 15px;
	display: none;
} 
/*  --------------------------------End Course catalog page------------------------------------------------*/


.eduModuleText TD
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}
.educationHeader {
    color: #CC6600;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 5px;
    width:400px;
}

/* End - Education css http://origin.portaluat.ieee.org/portal/cms_docs/education/coursecatalog/css/education.css */