/* top utility nav */


div#util-left {
	margin-left:0px;
	float:left;
	padding-left:0px;
}
div#util-right {
	margin-right:17px;
}
div#meta-nav {
	width:1006px;
	margin: 0 auto;
}
#meta-nav {
	color: #333;
	/*background-color:#333;*/
	text-align: right;
	font-size: 11px;
	padding:6px 0px 6px 0px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#meta-nav a:link, #meta-nav a:visited, #meta-nav a:active {
	color: #333;
	text-decoration: none;
}
#meta-nav a:hover {
	color: #333;
	text-decoration: underline;
}
#meta-nav a.button-link {
    background: url("../images/button-link.gif") no-repeat scroll 1px 0 transparent;
    font-size: 0.93em;
    padding-left: 8px;
}

/* right utility navigation */ 

div#header-links {
	width: 159px;
	height:auto;
	padding: 20px 0 0 0;
	overflow: hidden;
	font-size: 95%;
}

#header-utility {
	color: #0272AA;
	padding: 20px 0 0 0;
	font-size: 0.85em;
}

.ieee-home {
    background-image: url("../images/icon-house-333333.gif");
    background-repeat: no-repeat;
    padding-left: 15px;
    padding-right: 8px;
}


.mn-ieee-staff-pic {
   border:0px;
   height:16px;
   width:16px;
}

#meta-nav .button-large {
	font-size: 1.0em !important;
	line-height: 12px !important;
	height: 24px;
	font-weight:bold;
	background: url(../images/button-24-r-off.gif) top right no-repeat;
	padding: 2px 10px 4px 7px;
	margin:0px;
	color:#ffffff;
	outline:none;
	display:block;
	cursor:pointer;
}
#meta-nav  .button-large-disable {
	font-size: 1.0em !important;
	line-height: 12px !important;
	height: 24px;
	font-weight:bold;
	background: url(../images/button-24-r-off-disable.gif) top right no-repeat;
	padding: 2px 10px 4px 7px;
	margin:0px;
	color:#dddddd;
	outline:none;
	display:block;
	cursor:default;
}

#meta-nav  .button-large:active {
	font-size: 1.0em !important;
	line-height: 12px !important;
	height: 24px;
	background: url(../images/button-24-r-active.gif) top right no-repeat;
	padding: 2px 10px 4px 7px;
	/*margin:0px;*/
	outline:none;
}


#meta-nav  input.button-large {
	border:none;
	width:auto;
}

#meta-nav fieldset {
	font-size: 100%;
	border:0;
	border-style:none;
	margin: 0px;
	padding:0px;
}

.mnieee-sign-in {
    background-image: url("../images/icon-key-333333.gif");
    background-repeat: no-repeat;
    background-position: 3px -3px;
    padding-left: 24px;
    padding-right: 8px;
}
* ------------------------------------------------------begin single SignOn Menu Overlay --------*/

#singleSignOn {
                font-weight:800;
                display:block;
}

#singleSignOn2 {
                font-weight:800;
                display:block;
                text-decoration:none;
                margin:0;
                padding:0;
}
#userNameFlyout {
                position:absolute;
                z-index:8000;
                /*width:520px;*/
                margin-top:26px;
             
}

#userNameFlyoutContent{
  		        float:left;
                background-color:#fff;
                background-repeat:no-repeat;
                background-position:bottom;
                text-align:left;
                /*margin-left: 350px;*/
                border: 1px solid #0272AA;
                width:140px;
}

.mn-menu-item{
	border-bottom:1px dotted #333;
	padding: 3px 10px 3px;
	
}

.mn-menu-item-last{
	padding: 3px 10px 3px;
	
}
.mn-menu-link{
	color:#333 !important;
}

#singleSignOnFlyout {
                position:absolute;
                /*z-index:20000;*/
                width:520px;
                margin-top:-5px;
                margin-left:-13px;
              
               
}
#mnsingleSignOnTab {
                /*width:80px;*/
                height:14px;
                background-image:url("../images/bgSingleSignInTab.gif");
                background-repeat:no-repeat;
                /*padding:3px 12px 4px 10px;*/
                padding:5px 15px 4px 10px;
                /*z-index:2000;
                position:absolute;*/
}
#mnsingleSignOnFlyoutTop {
                width:520px;
                height:8px;
                float:left;
                background-image:url("../images/bgSingleSignInTop-wTransparency.gif");
                background-repeat:no-repeat;
                background-position:left bottom;
                margin-top: -4px;
}
#singleSignOnFlyoutContent {
                width:490px;
                float:left;
              	background-image:url("../images/bgSingleSignIn.gif");
                background-repeat:no-repeat;
                background-position:bottom;
                padding:5px 15px 10px 15px;
                text-align:left;
               /* z-index:20000;*/
                position:absolute;
}




#singleSignOnFlyoutContent img {
                vertical-align:middle;
}
.mnsignInFlyoutLink {
                font-weight:800;
                padding:0px 0px 0px 24px;
                line-height:11pt;
} 

/* background-image:url("../images/icnSingInKeyFlyout.gif");background-repeat:no-repeat;background-position:0px 3px; */
#singleSignOnFlyoutContent .col1 {
                float:left;
                width:230px;
}
#singleSignOnFlyoutContent .col1 ul li {
                display:inline;
                line-height:1.4em;
                background-position:0 0.4em;
}
#singleSignOnFlyoutContent fieldset {
                float:left;
                width:320px;
                padding:0;
                margin:-3px 0 0 0;
}
.singleSignOnFlyoutContentInput {
                width:150px;
                height:18px;
                border:solid 1px #999999;
                margin: 4px 0 8px 2px;
                font-size:0.9em;
                color:#666;
}

.singleSignOnFlyoutUsernameInput {
				background: #fff url(../images/email-address-alt-text.gif) no-repeat;
				background-position:0px 2px;
                width:150px;
                height:18px;
                border:solid 1px #999999;
                margin: 4px 0 8px 2px;
                font-size:0.9em;
                color:#666;
}


.singleSignOnFlyoutPasswordInput {
				background: #fff url(../images/password-alt-text.gif) no-repeat;
				background-position:0px 3px;
                width:150px;
                height:18px;
                border:solid 1px #999999;
                margin: 4px 0 8px 2px;
                font-size:0.9em;
                color:#666;
}
#meta-nav .metanav-legend {
	left: -10000px; 
	position: absolute;
}
#singleSignOnClose {
                float:right;
}
#singleSignOnFlyout a:link, #singleSignOnFlyout a, #singleSignOnFlyout a:hover, #singleSignOnFlyout a:visited {
                color:#0272aa;
}
#singleSignOnFlyout #singleSignOnTab a:hover {
                text-decoration:none;
}
#mnsingleSignOnLink2 {
                background:transparent url("../images/sign-in-flyout.gif") no-repeat 0 0;
}
#singleSignOnFlyout .button-large {
                display:inline-block;
                float:left;
                margin-left:10px;
                margin-right:8px;
}
#singleSignOnFlyout a.help-tooltip {
                float:left;
}
#singleSignOnFlyoutContentForm {
                overflow:auto;
                clear:both;
                margin-top:10px;
}
 /* ------------------------------------------------------end singleSignOn Menu Overlay --------*/
	
.ieee-user-name {
	background:url(../images/down-arrow-wTransparency.gif) top right no-repeat;
	background-repeat:no-repeat;
	padding-left:5px;
	padding-right:15px;
	padding-bottom:6px;
	
}

.top-divider-space {
    padding-left: 8px;
    padding-right: 8px;
}

.error-panel, .page-error-panel {
	color:#ff0000;
	background: #fcf5df url(../images/caution-icon.gif) 15px 10px no-repeat;
	padding:10px 15px 3px 55px;
}
.error-panel h3, .page-error-panel h3, .error-panel h4 {
	margin:0px;
	padding:0px;
}
.page-error-panel h3{padding:5px 0px;}
.page-error-panel {height:40px; text-align:left;}
p.error-description {
	font-size:0.90em;
}


.corner-img {
	background: transparent url(../images/error_corner.gif) top right no-repeat;
	/*background: url("../images/ibp-icons.png");
    background-position: -0px -467px;*/
    background-repeat: no-repeat;
	margin:-17px -15px 0px 0px;
	float:right;
	display:inline-block;
	width:20px;
	height:20px;
}

#displaybox {
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.98;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
}


/* begin colorbox overrides */
#cboxWrapper {
	/*background:#006ba3 url("/profile/assets/images/bg-modal-title.png") repeat-x left top;*/
	background: none repeat scroll 0 0 #fff;
}
#cboxContent {
	background-color:#fff;
	margin-top:48px;
	overflow:visible;
}
#cboxTitle {
	position:absolute;
	top:-48px;
	left:0;
	color: #069;
	height:30px;
	font-size:1.5em;
	font-weight:800;
	margin:0px;
	text-align:left;
	padding:15px 0 0 25px;
	border-bottom: 2px solid #999;
}
#cboxLoadedContent {
	overflow:auto;
	margin-bottom:0 !important;
}
#cboxClose {
	position:absolute;
	top:-39px;
	right:10px;
	display:block;
	/*background:url("/profile/assets/images/button-close.gif") no-repeat top center;replace by Sprite*/
	background-image: url("../images/ibp-icons.png");
    background-position: -0px -107px;
    background-repeat: no-repeat;
	width:17px;
	height:15px;
}



/* begin tooltip */
.help-tooltip-link {
	cursor:help;
	height:100%;
	margin-left:2px;
}

.help-tooltip {
	cursor:help;
	height:100%;
	margin-left:2px;
}
.help-tooltip img {
	vertical-align:middle;
}
.tooltip-Wclass{
	width:300px;
}
.tooltip-overlay {
	overflow:auto;
	position:absolute;
	z-index:1000;
	margin:0 !important;
	font-size:11px !important;
	color:#333;
	font-weight:500;
}
#ibp-tooltip  li{margin-left:15px;}
.tooltip-overlay #ibpTT-close{
    background: url("../images/button-close.gif") no-repeat scroll center top transparent;
    cursor: pointer;
    display: block;
    float: right;
    height: 15px;
    margin-top: -2px;
    position: relative;
    text-align: left;
    text-indent: -99999px;
    width: 17px;
    margin-left:5px;
}
.tooltip-content-container {
	display:inline-block;
	float:left;
	width:260px;
	margin:0 !important;
	padding:0 !important;
}
.tooltip-overlay .tooltip-help-icon {
	margin-right:10px;
	text-align:center;
	display:inline-block;
	float:left;
}
.tooltip-viewport-alt.tooltip-overlay .tooltip-help-icon {
	margin-right:10px;
	text-align:center;
	display:inline-block;
	float:left;
	vertical-align:bottom;
}
.tooltip-overlay li, .tooltip-overlay p{font-size:11px;}
.tooltip-large{	width:700px;}
.tooltip-medium{width:500px;}
.tooltip-small{width:470px;}

	#ibp-tooltip{
		float:left;
		line-height:130%;
	}
	#ibp-tooltip .top-left{
		background:url("../images/tooltip/tt-top-lt-corner.png") no-repeat top left;
		width:10px;
		height:10px;
		float:left;
	}
	#ibp-tooltip .top-right{
		background:url("../images/tooltip/tt-top-rt-corner.png") no-repeat top right;
		width:17px;
		height:10px;
		float:left;
	}
	#ibp-tooltip .bot-right{
		background:url("../images/tooltip/tt-bt-rt-corner.png") no-repeat bottom right;
		width:17px;
		height:17px;
		float:left;
	}
	#ibp-tooltip .bot-left{
		background:url("../images/tooltip/tt-btm-lt-corner.png") no-repeat bottom left;
		width:10px;
		height:17px;
		float:left;
	}
	#ibp-tooltip .top{
	   background: none repeat scroll 0 0 #FFFFE1;
	    border-top: 1px solid #000000;
	    float: left;
	    height: 9px;	
	}
	#ibp-tooltip .bot{
		background:url("../images/tooltip/tt-btm-border.png") repeat-x;
		height:17px;
		float:left;
	}
	#ibp-tooltip .topSec{
		clear:both;
		height:10px;
	}
	#ibp-tooltip .botSec{
		clear:both;
		height:17px;
	}
	#ibp-tooltip .centerSec{
		clear:both;
	}	
	#ibp-tooltip .center{
		background: url("../images/tooltip/tt-rt-border.png") repeat-y scroll right top;
		border-left:1px solid #000000;
		float:left;
		padding-right: 16px;
		text-align:left;
	}
	
	#ibp-tooltip .tt-content-body{
		padding-left:10px;
		background:#FFFFE1;
		float:left;		
	}	
/* end tooltip */
/*Ibp UI common styles start*/
	  .ibpAjaxLoadingMask{
	  		background:#ffffff;
			opacity:0.5;
			filter:alpha(opacity=50);
			z-index:99999999;
	  }
	  .ibpAjaxLoading {			
			height:30px;
			text-align:center;
			z-index:999999999;
		}
	.ibpAjaxLoading .ibpAjaxLoadingSec .ibpAjaxLoadingText{
   			margin-top:7px;   			
   			float:left;
   			text-align: left;   			
   			padding-bottom:8px;
   			padding-left:40px;   			
		}
		.ibpAjaxLoading .ibpAjaxLoadingSec{
			  font-weight:bold;
		      color:#000000;
		      font-size:12px;
		      background:#ffffff url("../images/ajax-rotation.gif") no-repeat left center;
		      border:1px solid #ffffff;
		      border-radius:5px;
		      padding-left:2px;
		      padding-right:2px;		      
			  height:auto;
		}

/*Ibp UI common styles end*/
.display-none {
    display: none;
}

/* BACK TO PPCT APP Styles */
.ppctbacktosec {
	margin: 0px auto; 
	background: none repeat scroll 0% 0% #eceef0; 
	height: 34px; 
	width: 972px; 
	padding: 10px 17px;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.75);
}
.pad-r5{
	padding-right:5px
}
.pad-t3{
	padding-top: 3px;
}
.ppctclrboth{
	clear:both;
}
.ppctlogo {
	margin-top:8px;
}
.ppctBackToTxt {
	margin-left:10px;
	margin-top:8px;
}
.ppctReturnToLink{
	margin-top:8px;
}