/* general tag styles */  
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
    font-size: 12px;	
	color: #333;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 150%;
}

a:link {
	/*color: #069; CR 18*/
    /*color: #0272AA; HD 186414*/	
	color: #0663D7;
	text-decoration: none;
}

a:visited {
    /*color: #6b1f73; HD 186414*/
	color: #0663d7;
	text-decoration: none;
}

a:hover {
	/*color: #069; CR 18*/
    /*color: #0272AA; HD 186414*/
    color: #0663D7;	
	text-decoration: underline;
}

a:active {
	/*color: #069; CR 18*/
    /*color: #0272AA; HD 186414*/
    color: #0663D7;
	text-decoration: none;
}

a.nm:link, a.nm:visited, a.nm:hover, a.nm:active {
	color: #333;
	text-decoration: none;
}

p, td, li, dt, label {
	font-size: 100%;
	line-height: 130%;
}


p.small, li.small, td.small {
	font-size: 90%;
}

/*td li added by Meera for defect 137*/
li p, li li, td p, td td, td li, p td  {
	font-size: 100%;
}

li p.small, td p.small {
	font-size: 100%;
}

/*td, dl, li, form, div, img {*/
dl, li, form, div, img {
	padding: 0;
	border: 0;
	margin: 0;
}

/*added by Aijing on 12-14-09 for CWT change request #9 */
img.framed {
	padding: 0;
	border: 1px solid #ccc;
	margin: 0;
}

/*added by Aijing on 12-14-09 for CWT change request #9 */
img.noframe{
	padding: 0;
	border: 0;
	margin: 0;
}

/*added by rheng on 03-01-2010 for Defect 358 - ability  to choose size*/
img.subsmall{
	height:97px;
	width:97px;
}
/*added by rheng on 03-01-2010 for Defect 358 - ability  to choose size*/
img.submedium{
	height:178px;
	width:178px;
}
/*added by rheng on 03-01-2010 for Defect 358 - ability  to choose size*/
img.sublarge{
	height:258px;
	width:258px;
}

/* Meera commented
td {
	padding: 0;
	margin: 0;
}
*/

ul {
	padding: 0 0 10px 0;
	border: 0;
	margin: 0;
}

ul ul {
	padding: 5px 0 5px 10px;
}

ul li {
	list-style: none;
	vertical-align: top;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/gen-bullet.gif) no-repeat left 3px;
	padding: 0 0 3px 15px;
}

ul li li {
	list-style: none;
	background: url(/ieee/groups/public/@ieee/@web/@org/documents/images/10029632.gif) no-repeat left 7px ;
	padding: 0 0 3px 15px;
}

ul li li li {
	list-style: none;
	background: url(/ieee/groups/public/@ieee/@web/@org/documents/images/10029633.gif) no-repeat left 7px;
	padding: 0 0 3px 15px;
}

ul.pad5b li {
	padding: 0 0 5px 10px;
}

ol li {
	padding: 3px 0 5px 0;
}

ol ol li {
	list-style-type: lower-roman;
}

ol li p, ul li p {
	padding: 0;
}

li, td {
	line-height: 130%;
}

p, h1, h2, h3, h4, h5, h6 {
	line-height: 130%;
	padding: 0 0 10px 0;
	border: 0;
	margin: 0;
}

/*added for defect 109*/
.box-c p {
    margin-bottom: 1px;
}

h1 {
	color: #069;
	font-size: 170%;
	padding: 0 0 3px 0;
	border-bottom: 2px solid #069;
	margin: 0 0 15px 0;
}

h1 a.nm:link, h1 a.nm:visited, h1 a.nm:hover, h1 a.nm:active {
	color: #069;
	text-decoration: none;
}

/* UPDATED 04/09 */
h2 {
	color: #000;
	font-size: 150%;
}

h2.bullet {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/gen-bullet-lg.gif) top left no-repeat;
	padding: 0 0 9px 13px;
	border-bottom: 2px solid #e0ecf7;
	margin: 0 0 10px 0;
}

h2.bullet a:link, h2.bullet a:visited, h2.bullet a:hover, h2.bullet a:active {
	color: #333;
	text-decoration: none;
}

h2.bullet-null {
	padding: 0 0 9px 0;
	border-bottom: 2px solid #e0ecf7;
	margin: 0 0 10px 0;
}

h3 {
	font-size: 110%;
}

h4 {
	font-size: 95%;
}

h4 a:link, h4 a:visited, h4 a:active, h4 a:hover {
	color: #333;
}

h5 {
	font-size: 100%;
}

h6 {
	font-size: 90%;
}

/* ADDED 04/09 */
h6 span {
	font-weight: normal;
}

input, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	padding: 0;
	border: 0;
	margin: 0;
}

input.border, select.border {
	border: 1px solid #dfdfdf;
}

textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}

label {
	color: #666;
	font-weight: bold;
}

p label {
	/*font-size: 130%; defect 422*/
	font-size: 110%;
}

label span {
	font-weight: normal;
}


/* tabular data cell styles */

td {
	text-align: left;
	vertical-align: top;
}

td.lm {
	text-align: left;
	vertical-align: middle;
}

td.lb {
	text-align: left;
	vertical-align: bottom;
}

td.ct {
	text-align: center;
	vertical-align: top;
}

td.cm {
	text-align: center;
	vertical-align: middle;
}

td.cb {
	text-align: center;
	vertical-align: bottom;
}

td.rt {
	text-align: right;
	vertical-align: top;
}

td.rm {
	text-align: right;
	vertical-align: middle;
}

td.rb {
	text-align: right;
	vertical-align: bottom;
}


/* floated images */

.img-left {
	float: left;
	padding: 0;
	margin: 2px 12px 5px 0;
}

.img-right {
	float: right;
	padding: 0;
	margin: 2px 0 5px 12px;
}

.img-left-caption {
    float: left;
    padding: 0;
    margin: 2px 12px 10px 0;
}

.img-left-caption p {
	color: #666;
    padding: 3px 3px 0 0;
    margin: 0;
}

.img-right-caption {
    float: right;
    padding: 0;
   	margin: 0 0 10px 12px;
}

.img-right-caption p {
	color: #666;
    padding: 3px 3px 0 0;
    margin: 0;
}


/* clear float */

div.clearit {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	padding: 0;
}

p.clearit {
	clear: both;
	font-size: 1px;
	line-height: 1px;
}


/* horizontal divider */

div.h-divider {
	font-size: 1px;
	line-height: 1px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) top left repeat-x;
	padding: 1px 0 0 0;
}

/* ADDED 04/09 */
div.h-divider-blue {
	font-size: 1px;
	line-height: 1px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider-blue.gif) top left repeat-x;
	padding: 1px 0 0 0;
}

p.h-divider {
	font-size: 1px;
	line-height: 1px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) top left repeat-x;
	padding: 1px 0 10px 0;
}

p.h-divider-pad5b {
	font-size: 1px;
	line-height: 1px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) top left repeat-x;
	padding: 1px 0 5px 0;
}



/* outer container */ 

#outer-container {
	/*position: relative;*/
	text-align: left; 
	width: 1006px;
	/*padding: 0 32px 32px 32px; changed for HD 186099*/
	padding: 0 32px 32px 5px;
	margin: 0 auto;
}


/* top utility nav */

#util {
	color: #ffffff;
	text-align: right;
	/*padding: 8px 36px;*/
	padding: 8px 0px;
	font-size: 95%;
}

#util a:link, #util a:visited, #util a:active {
	color: #fff;
	text-decoration: none;
}

#util a:hover {
	color: #fff;
	text-decoration: underline;
}


/* inner container */ 

#inner-container {
	background: #ffffff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/inner-top.gif) top right no-repeat;
	padding: 15px 17px 0 17px;
	margin: 0;
}


/* logo & main navigation */ 

#logo-nav {
	float: left;
	/*width: 805px;*/
	width:100%;
	/*changed from 813 to 810 for changes to contact & support*/
	/*overflow: hidden;*/ 
	/* added as per YP for CR 12 */
    margin-bottom:-1px;	
}

/* UPDATED 04/09 */
#logo {
	color: #069;
	font-size: 110%;
	font-weight: bold;
	/*padding: 0 0 35px 0;*/
	/* Changed as per YP for CR 12 */
	padding: 0 0 28px 0;
}

/* UPDATED 04/09 */
#logo img {
	margin: 0 25px -15px 0;
}

#nav {
	width: 799px;
	height: 46px;
	float: left;
	padding: 0;
}

#nav .nav-off a, .nav-off  a:link, #nav .nav-off  a:visited {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

#nav .nav-on a, #nav .nav-on a:active, #nav .nav-on  a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

#nav .nav-select a, #nav .nav-select a:visited, #nav .nav-select a:active, #nav .nav-select a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

#nav .nav-edu-off a, #nav .nav-edu-off  a:visited {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

#nav .nav-edu-on a, #nav .nav-edu-on  a:active, #nav .nav-edu-on  a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

#nav .nav-edu-select a, #nav .nav-edu-select a:visited, #nav .nav-edu-select a:active, #nav .nav-edu-select a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

#nav ul{
	padding 0;
}

#nav li {
	padding: 0;
	margin: 0;
}

#nav p.nav-off {
	background: #CBDCE6 url(/ucm/groups/public/@ieee/@web/@org/documents/images/nav-back-off-2.jpg) top left no-repeat;
	float: left;
	width: 107px;
	height: 30px;
	font-size: 95%;
	padding: 8px 12px 8px 12px;
	margin: 0 2px 0 0;
	overflow: hidden;
}

#nav p.nav-on {
	background: #CCCCCC top left no-repeat;
	float: left;
	width: 107px;
	height: 30px;
	font-size: 95%;
	padding: 8px 12px 8px 12px;
	margin: 0 2px 0 0;
	overflow: hidden;
	color: #333333;
}

#nav p.nav-select {
	background: #CCCCCC top left no-repeat;
	float: left;
	width: 107px;
	height: 30px;
	font-size: 95%;
	padding: 8px 12px 8px 12px;
	margin: 0 2px 0 0;
	overflow: hidden;
}
#nav .mega-hover p.nav-select {
	background: #CCCCCC top left no-repeat;
}
	
#nav p#edu {
	width: 110px;
	margin: 0;
}

#nav p.nav-edu-off {
	background: #CBDCE6 url(/ucm/groups/public/@ieee/@web/@org/documents/images/nav-edu-back-off.jpg) top left no-repeat;
	float: left;
	width: 107px;
	height: 30px;
	font-size: 95%;
	padding: 8px 12px 8px 12px;
	margin: 0 2px 0 0;
	overflow: hidden;
}

#nav p.nav-edu-on {
	background: #CCCCCC url(/ucm/groups/public/@ieee/@web/@org/documents/images/nav-edu-back-on.jpg) top left no-repeat;
	float: left;
	width: 107px;
	height: 30px;
	font-size: 95%;
	padding: 8px 12px 8px 12px;
	margin: 0 2px 0 0;
	overflow: hidden;
}

#nav p.nav-edu-select {
	background: #CCCCCC url(/ucm/groups/public/@ieee/@web/@org/documents/images/nav-edu-back-on.jpg) top left no-repeat;
	float: left;
	width: 107px;
	font-size: 95%;
	height: 30px;
	padding: 8px 12px 8px 12px;
	margin: 0 2px 0 0;
	overflow: hidden;
}

/* right utility navigation updated 7-26 for changes to contact*/ 

#rnav {
	float: right;
	width: 244px;
	padding: 0 0 0 0;
	overflow: visible;
	font-size: 95%;
}
#rnav img {
	margin: 0 1px -15px 0;
}

#rnav-signin, #rnav-shop, #rnav-join {
	padding: 0 0 3px 0;;
}

#rnav-signin img , #rnav-shop img , #rnav-join img {
	margin-bottom: -5px;
}

#rnav-util {
	color: #0272AA;
	padding: 3px 0 0 5px;
	font-size: 85%;
	width: 170px;
	/*added 7-27-11 to for contat & support change*/
}


/* search bar */

/* UPDATED 04/09 */
/* UPDATED 03/11/11 */
#srch {
	/*color: #fff;*/
	/*font-weight: bold;*/
	/*width: 932px;*/
	/*background: #159ecc url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/search-back.jpg) bottom left repeat-x;*/
	/*padding: 10px 20px 14px 20px;*/
	/*margin: -2px 0 1px 0;*/
	/*margin: 0 0 1px 0; /* defect 153 */
}

#srchterm {
	width: 550px;
	padding: 1px 2px;
	/*margin: 0 9px;*/
	font-size: 12px;
}

#srch a:link, #srch a:visited, #srch a:active, #srch a:hover, #srch span {
	color: #fff;
	/*font-weight: normal;*/
}

#srch #srchgo-r a {
	font-weight: bold;
	text-decoration: none;
}
	

/* content areas */
.content-l {
	float: left;
	width: 198px;
	padding: 0 13px 0 0;
	overflow: hidden;
}
.content-c {
	float: left;
	width: 559px;
	overflow: hidden;
}
.content-c-pad {
	float: left;
	width: 540px;
	padding: 0 19px 15px 0;
	overflow: hidden;
}
.content-lc {
	float: left;
	width: 770px;
	padding: 0 10px 0 0;
	overflow: hidden;
}
.content-lc-bottom {
	float: left;
	width: 770px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-lc-bottom-back.gif) top left repeat-y;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.content-lc-lnav {
	float: left;
	width: 770px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-lc-lnav-back.gif) top left repeat-y;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.content-r {
	float: left;
	width: 192px;
	overflow: hidden;
}
.right-module {
	margin: 0 0 8px;
}
.box-indent-home-caption {
	padding: 10px 5px 10px 10px;
}
.content-10-101 {
	float: right;
	width: 101px;
	margin: 0 0 0 10px;
	overflow: hidden;
}
.content-10-101-left {
	margin: 0 111px 0 0;
}
.content-75-10 {
	float: left;
	width: 75px;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.content-5-10-right {
	margin: 0 0 0 85px;
}
.content-101-10 {
	float: left;
	width: 101px;
	margin: 0 10px 0 0;
	padding: 0 0 10px 0;
	overflow: hidden;
}
.content-101-10 p {
  text-align: left;
  font-size: smaller;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
.content-101-10-right {
	margin: 0 0 0 111px;
	word-wrap: break-word;
}
.content-101-10-right-nowrap {
	margin: 0 0 0 111px;
	word-wrap: break-word;
}
.content-101-10-right-dropdown-right {
	width: 350px;
	margin: 0 0 0 111px;
}
.content-311-10 {
	float: left;
	width: 330px;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.content-145-25 {
	float: left;
	width: 145px;
	margin: 0 15px 0 0;
	overflow: hidden;
}
.content-160-17 {
	float: left;
	width: 160px;
	margin: 0 17px 0 0;
	overflow: hidden;
}
.content-160-17-right {
	margin: 0 0 0 177px;
}
.content-24-184 {
	float: right;
	width: 184px;
	margin: 0 0 0 24px;
	overflow: hidden;
}
.content-24-184-left {
	margin: 0 208px 0 0;
}
.content-184-24 {
	float: left;
	width: 184px;
	margin: 0 24px 0 0;
	overflow: hidden;
}

.content-184-24-right {
	margin: 0 0 0 208px;
}
.content-262-16 {
	float: left;
	width: 262px;
	margin: 0 16px 0 0;
	overflow: hidden;
}
.content-355-20 {
	float: left;
	width: 355px;
	margin: 0 20px 0 0;
	overflow: hidden;
}
.content-355 {
	float: left;
	width: 355px;
	overflow: hidden;
}
.content-360 {
	float: left;
	width: 355px;
	overflow: hidden;
}
.content-3-355 {
	float: left;
	width: 355px;
	padding: 0 0 0 3px;
	overflow: hidden;
}
.content-3-356 {
	float: left;
	width: 356px;
	padding: 0 0 0 3px;
	overflow: hidden;
}
.content-361-10 {
	float: left;
	width: 355px;
	margin: 0 21px 0 0;
	overflow: hidden;
}
.content-510-10 {
	float: left;
	width: 510px;
	margin: 0 10px 0 0;
	overflow: hidden;
}
.content-2col-l {
	float: left;
	width: 343px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/v-divider.gif) top right repeat-y;
	padding: 0 5px 0 0;
	overflow: hidden;
}
.content-2col-l-nodotted {
	float: left;
	width: 343px;
	padding: 0 5px 0 0;
	overflow: hidden;
}
.content-2col-r {
	float: left;
	width: 342px;
	padding: 0 0 0 18px;
	overflow: hidden;
}
.content-3col {
	float: left;
	width: 200px;
	padding: 0 40px 0 0;
	overflow: hidden;
}
.content-3col-hdr {
	float: left;
	width: 170px;
	padding: 0 40px 0 0;
	overflow: hidden;
}
.content-2col-hdr {
	float: left;
	width: 275px;
	padding: 0 40px 0 0;
	overflow: hidden;
}
.content-2col-hdr-small {
	float: left;
	width: 180px;
	padding: 0 40px 0 0;
	overflow: hidden;
}
.content-callout-280-r {
	float: right;
	width: 280px;
	padding: 0 0 0 20px;
}
.content-callout-280-r-indent {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-callout-280-back.gif) top left repeat-y;
	padding: 5px 17px 0 17px;
}
.content-callout-356-r {
	float: right;
	width: 356px;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}
.content-callout-356 {
	float: right;
	width: 356px;
	padding: 0;
	margin: 0 0 10px 0;
}
.content-callout-356-indent {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-callout-356-back.gif) top left repeat-y;
	padding: 0 14px;
}
.content-callout-356-2-l {
	float: left;
	width: 147px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/v-divider.gif) top right repeat-y;
	padding: 0 8px 0 0;
}
.content-callout-356-2-m {
	float: left;
	width: 150px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/v-divider.gif) top right repeat-y;
	padding: 0 8px 0 13px;
}
.content-callout-356-2-r {
	float: left;
	width: 150px;
	padding: 0 0 0 13px;
}
.content-callout-356 h5 {
	font-weight: normal;
	padding: 0 0 5px 7px;
}
.content-callout-356 ul {
	padding: 0;
}
.content-callout-520-indent {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-callout-520-back.gif) top left repeat-y;
	padding: 0 14px;
}

/* home page */
#home-feature {
	width: 730px;
	/*height: 300px;*/
	/*border-bottom: 1px solid #ececec;*/
	/*margin: 0 0 12px 0;*/
	margin: 0 0 8px 0;
}
.content-home-l {
	float: left;
	width: 731px;
	padding: 0 10px 0 0;
	overflow: hidden;
}
.content-home-r {
	float: left;
	width: 231px;
	overflow: hidden;
}
.content-home-l div.content-101-10-right {
	width: 225px;
	/*width: 336px;*/
}
.home-boxes-top {
	width: 731px;
	/* min-height: 310px; */
	/*background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/home-boxes-top-back.gif) top left repeat-y;*/
}
.home-boxes {
	width: 731px;
	/*background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/home-boxes-back.gif) top left repeat-y;*/
}
.home-box-top-l, .home-box-top-r {
	background: #fff;
	margin: 0 1px;
}
.content-home-l h4 {
	font-size: 95%;
}
.content-home-l h6 {
	font-size: 95%;
	font-weight: normal;
}
.content-home-l p.arrow-link, .content-home-l ul.arrow-link li {
	font-size: 95%;
}
.home-link-box {
	padding: 0 16px 10px 16px;
}
.home-link-box p {
	padding: 0;
}

/* diagonal sub headers */
.diag-sub a.sub-off:link, .diag-sub a.sub-off:visited, .diag-sub a.sub-off:active {
	color: #fff;
	text-decoration: none;
}
.diag-sub a.sub-off:hover {
	color: #fff;
	text-decoration: underline;
}
.diag-sub a.sub-on:link, .diag-sub a.sub-on:visited, .diag-sub a.sub-on:active, .diag-sub a.sub-on:hover {
	color: #333;
	text-decoration: none;
}
.diag-sub a.sub-off:hover {
	color: #fff;
	text-decoration: underline;
}
#sub1, #sub2, #sub3, #sub4, #sub5, #sub6 {
	display: none;
}
.sub-bottom {
	margin-bottom: -90px;
}

/* bread crumb */
#crumb {
	color: #666;
	font-size: 85%;
	padding: 5px 20px 7px 20px;
}
#crumb a:link, #crumb a:visited, #crumb a:active, #crumb a:hover {
	color: #666;
}

/* left navigation */
#lnav {
	width: 180px;
	padding: 7px 30px 0 0px;
}
#lnav h3 {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-bullet.gif) top left no-repeat;
    padding: 0 0 0 15px; /* changed by Meera for Defect 29	*/
}
div.lnav-divider {
	font-size: 1px;
	line-height: 1px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-divider.gif) top left repeat-x;
	margin: 5px 0;
}
#lnav div.lnav-div {
    padding: 0 0 0px 21px;
}
#lnav div.lnav-div-child {
    padding: 0px 0px 0px 35px;
}
#lnav div.lnav-div-child-sel {
    padding: 0px 0px 0px 35px;
}
#lnav div.lnav-div-child-sel-p {
    padding: 0px 0px 0px 19px;
}
#lnav div.lnav-div-sel {
	background: url('/ieee/groups/webassets/@ieee/@web/@org/documents/images/nav-mnu_slct-grdnt.png') repeat-y scroll left top transparent;
}
#lnav div.lnav-div-sel-p {
	padding: 10px 0 0px 21px;
}
#lnav ul ul {
	padding: 6px 0 5px 0px;
	display: none;
}
#lnav ul li.lnav {
	font-size: 95%;
	font-weight: bold;
	line-height: 130%;
	background: none;
    padding: 0 0 8px 15px; /* changed by Meera for Defect 29	*/
}
#lnav ul li.lnav a {
	color: #0272AA;
}
#lnav div.lnav-div-sel a {
	color: #000000;
}
#lnav ul li.lnav1 {
	font-size: 95%;
	font-weight: bold;
	line-height: 130%;
    padding: 0 0 8px 15px; /* changed by Meera for Defect 29	*/
}
#lnav ul li.lnav1-plus {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-plus.gif) top left no-repeat;
}
#lnav ul li.lnav1-minus {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-minus.gif) top left no-repeat;
}
#lnav ul li.lnav1 a {
	color: #0272AA;
	display: block;
}

#lnav ul li.lnav2 {	
	font-size: 95%;
	font-weight: normal;
	line-height: 130%;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-arrow.gif) top left no-repeat;
	padding: 0 0 3px 0;
}

#lnav ul li.lnav2-sel {	
    padding: 2px 0 2px 0px;	
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-callout.gif) top left no-repeat;	    
}

#lnav ul li.lnav2-last {	
	font-size: 95%;
	font-weight: normal;
	line-height: 130%;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-arrow.gif) top left no-repeat;
	padding: 0;
}

#lnav ul li.lnav2 a, #lnav ul li.lnav2-last a {
	color: #0272AA;
	padding: 0 0 0 9px;
	display: block;
}

#lnav ul li.lnav2-sel a {
	color: #333333;
	display: block;
	font-weight: bold;	
}

#lnav ul li.lnav1-sel a {
	color: #333333;
}



/* footer */

#footer {
	padding: 7px 0;
	border-top: 5px solid #CCCCCC;
}

#footer p {
	color: #666;
	font-size: 90%;
	padding: 0 0 3px 0;
}

#footer a {
	color: #666;
	text-decoration: underline;
}

#footer-l {
	float: left;
}

#footer-r {
	float: right;
	width: 130px;
}


#footer-sel a {
	text-decoration:none;
 	font-weight:bold;
}
/* boxes */

.box {
	background: #fff;
	border: 1px solid #ccc;
}

.box-20-bottom {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
}

/* ADDED 04/09 */
.box-indent-home {
	padding: 10px 5px 0 10px;
}

.box-indent {
	padding: 10px 10px 0 10px;
}

.boxes-375 {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/boxes-375-back.gif) top left repeat-y;
}

.boxes-375-indent {
	padding: 2px 19px;
}

.box-375-10 {
	float: left;
	width: 375px;
	padding: 0 10px 0 0;
	overflow: hidden;
}


/* padding */

.pad5b {
	padding: 0 0 5px 0;
}

.pad7b {
	padding: 0 0 7px 0;
}

/*ADDED 04/09 */
.div-pad3b {
	padding: 0 0 3px 0;
}

/*ADDED 04/09 */
.div-pad3b h3, .div-pad3b h4, .div-pad3b h5, .div-pad3b h6, .div-pad3b p, .div-pad3b ul {
	padding: 0 0 3px 0;
}

.div-pad5b {
	padding: 0 0 5px 0;
}

.div-pad5b h3, .div-pad5b h4, .div-pad5b p, .div-pad5b ul {
	padding: 0 0 5px 0;
}


/* arrow link */

p.arrow-link {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link.gif) no-repeat scroll left 2px transparent;
	line-height:130%;
}

p.arrow-link-no-pad {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link.gif) top left no-repeat;
	padding: 0;
}

p.arrow-link-pad5b {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link.gif) top left no-repeat;
	padding: 0 0 5px 0;
}

p.arrow-link-callout {
	font-size: 100%;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-callout.gif) top left no-repeat;
}

p.arrow-link-callout-small {
	font-size: 100%;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-callout.gif) top left no-repeat;
}

p.arrow-link a, p.arrow-link-no-pad a, p.arrow-link-pad5b a, p.arrow-link-callout a, p.arrow-link-callout-small a {
	padding: 0 0 0 7px;
	display: block;
}

p.arrow-link a {
	display: inline-block;
}

ul.arrow-link li {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link.gif) top left no-repeat;
	padding: 0 0 3px 0;
	zoom: 1;
}

ul.arrow-link-small li {
	font-size: .7em;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-callout.gif) top left no-repeat;
	padding: 0 0 3px 0;
	zoom: 1;
}

ul.arrow-link-callout li {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-callout.gif) top left no-repeat;
	padding: 0 0 3px 0;
	font-size: 95%;
}

ul.arrow-link-callout-small li {
	font-size: 85%;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-callout.gif) top left no-repeat;
	padding: 0 0 3px 0;
}

ul.arrow-link li a, ul.arrow-link-callout li a, ul.arrow-link-callout-small li a {
	padding: 0 0 0 7px;
	display: block;
}

a.arrow-link {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link.gif) top left no-repeat;
	padding: 0 0 0 8px;
	zoom: 1;
}

ul.arrow-link-no-bullet li {
	list-style-type: none;
	BACKGROUND: url() no-repeat left top; 
	zoom: 1;
}

/* left search */

#srchlft {
	width: 172px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/srchlft-back.gif) top left repeat-y;
	padding: 10px 10px 0 10px;
	margin: 0 14px 0 5px;
}

/* ADDED 04/09 */
#srchlft-hdr-top {
	color: #fff;
	font-weight: bold;
	line-height: 10px;
	width: 159px;
	background: #3485ae url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/mincal-hdr-top.gif) top right no-repeat;
	padding: 7px 16px 0 16px;
	margin-left: 6px;
}

.srchlft-hdr {
	line-height: 10px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/srchlft-hdr-back.gif) top left repeat-y;
	padding: 0 16px;
	margin-left: 5px;
}

#srchlft select {
	width: 170px;
	border: 1px solid #ccc;
}

.w80 {
	width: 80px;
}

#srchlft select.w80 {
	width: 80px;
	border: 1px solid #ccc;
}

#srchlft input#srchlftgo {
	width: 74px;
	border: 0;
}

/* Defect 179 */
#CITY, #KEYWORDS, #RECORD_NUM, .box-outline {
	width: 166px;
	padding: 1px 2px;
	border: 1px solid #ccc;
}

#KEYWORDS, #KEYWORDS_CFS_MM {
	height: 20px;
	font-size: 11px;
}


/* content calendar */

#content-cal {
	float: right;
	border-bottom: 1px solid #dfdbdb;
	margin: 0 0 10px 20px;
}

#content-cal-left {
	margin: 0 220px 0 0;
}


#mincal-month,#lbYear,#lbMonth  {
	color: #fff;
	font-weight: bold;
	font-size: 10px !important;
}

#mincal th {
	color: #5d8ebb;
}



#mincal td, #mincal th {
	font-size: 10px !important;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 5px 3px;
}

#mincal td {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#mincal td.norm, #mincal td.empty {
	background: #e6ecf0;
}

#mincal td.mincal-first, #mincal td.empty-first {
	background: #e6ecf0;
	border-left: 1px solid #dfdbdb;
}

#mincal td.mincal-last, #mincal td.empty-last {
	background: #e6ecf0;
	border-right: 1px solid #dfdbdb;
}


#mincal td.norm a:link, #mincal td.norm a:visited, #mincal td.norm a:active, #mincal td.norm a:hover, #mincal td.mincal-first a:link, #mincal td.mincal-first a:visited, #mincal td.mincal-first a:active, #mincal td.mincal-first a:hover, #mincal td.mincal-last a:link, #mincal td.mincal-last a:visited, #mincal td.mincal-last a:active, #mincal td.mincal-last a:hover {
	color: #829bac;
	text-decoration: none;
	cursor: default;
}

#mincal td.select, #mincal td.mincal-first-select, #mincal td.mincal-last-select {
	background: #a1bfd8;
}

#mincal td.select a, #mincal td.mincal-first-select a, #mincal td.mincal-last-select a {
	color: #fff;
}

#mincal td.empty a, #mincal td.empty-first a, #mincal td.empty-last a {
	cursor: default;
}

#mincal th.mincal-first {
	border-left: 1px solid #dfdbdb;
}

#mincal th.mincal-last {
	border-right: 1px solid #dfdbdb;
}

#mincal td#instructions {
	font-size: 9px !important;
	font-weight: normal;
	text-align: left;
	padding: 5px;
	border-right: 1px solid #dfdbdb;
	border-left: 1px solid #dfdbdb;
}

#mincal-mo {
	border: 1px solid #dfdbdb;
}

#mincal-mo td {
	background: #3485ae;
	padding: 8px 7px;
	border: 0;
}

#mincal-mo td#mincal-next {
	background: #3485ae url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/mincal-hdr-top.gif) top right no-repeat;
}

#cal-rollover {
	position: absolute;
	width: 180px;
	z-index: 1000;
	display: none;
}

#cal-rollover div {
	width: 135px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/cal-rollover-back.png) top left repeat-y;
	padding: 0 17px 0 28px;
}

#cal-rollover h4 {
	color: #6bb735;
}


/* buttons */

.button19-l {
	float: left;
	width: 12px;
	height: 19px;
	padding: 0;
	padding: 0 0 10px 0;
}

.button19-r {
	float: left;
	font-size: 12px !important;
	line-height: 12px !important;
	height: 14px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-19-r-off.gif) top right no-repeat;
	padding: 3px 0 3px 0;
	margin: 0 0 10px 0;
}

.button19-r a:link, .button19-r a:visited, .button19-r a:active, .button19-r a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 14px 3px 0;
}

.button19-r-small {
	float: left;
	font-size: 12px !important;
	line-height: 12px !important;
	height: 14px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-19-r-off.gif) top right no-repeat;
	padding: 3px 0 3px 0;
	margin: 0 0 10px 0;
}

.button19-r-small a:link, .button19-r-small a:visited, .button19-r-small a:active, .button19-r-small a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 7px 3px 0;
}


/*kb button extra small*/
.button19-l-sm {
	float: left;
	width: 6px;
	height: 19px;
	padding: 0;
	padding: 0 0 10px 0;
}
.button19-r-sm {
	font-size: 12px !important;
	line-height: 12px !important;
	height: 14px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-19-off-extra-small.gif) top right no-repeat;
	padding: 3px 0 3px 0;
	margin: 0 0 10px 0;
	float: right;
}
.button19-r-sm a:link, .button19-r-sm a:visited, .button19-r a:active, .button19-r-sm a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 7px 0px 0px;
}

/*kb end button extra small*/
.button-24-l {
	float: left;
	width: 12px;
	height: 24px;
	padding: 0 0 10px 0;
}

.button-24-r {
	float: left;
	font-size: 12px !important;
	line-height: 12px !important;
	height: 19px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-24-r-off.gif) top right no-repeat;
	padding: 5px 0 3px 0;
	margin: 0 0 5px 0;
}

.button-24-r a:link, .button-24-r a:visited, .button-24-r a:active, .button-24-r a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 14px 3px 0;
}

.button-34-l {
	float: left;
	width: 12px;
	height: 34px;
	padding: 0 0 10px 0;
}

.button-34-r {
	float: left;
	font-size: 12px !important;
	line-height: 12px !important;
	height: 19px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/button-34-r-off.gif) top right no-repeat;
	padding: 10px 0 5px 0;
	margin: 0 0 10px 0;
}

.button-34-r a:link, .button-34-r a:visited, .button-34-r a:active, .button-34-r a:hover {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	padding: 10px 14px 10px 0;
}

#srchgo {
	position: absolute;
	margin: 1px 0 0 10px;
}

/* UPDATED 04/09 */
.content-home-r #joinit {
	position: absolute;
	margin: 0 0 0 31px;
	text-align: center;
}

/* ADDED 04/09 */
.content-r #joinit {
	position: absolute;
	margin: 0 0 0 12px;
	text-align: center;
}

/* UPDATED 04/09 */
.content-home-r #renewit {
	position: absolute;
	margin: 0 0 0 91px;
}

/* ADDED 04/09 */
.content-r #renewit {
	position: absolute;
	margin: 0 0 0 72px;
}

#myieee {
	position: absolute;
	margin: 0 0 20px 30px;
}

/* ADDED 04/09 */
#careersrch-l1 {
	float: left;
	margin-top: 4px;
	width: 290px;
}

/* ADDED 04/09 */
#careersrch-container {
	float: left;
	width: 45px;
}

/* ADDED 04/09 */
#edsrch-l1 {
	float: left;
	width: 240px;
	margin-top: 4px;
}

/* ADDED 04/09 */
#edsrch-container {
	float: right;
	width: 80px;
}


/* misc */

img.border {
	border: 1px solid #fff;
}

img.inline2 {
	margin-bottom: -2px;
}

img.inline3 {
	margin-bottom: -3px;
}

img.inline4, input.inline4 {
	margin-bottom: -4px;
}

#course {
	width: 218px;
	border: 1px solid #ccc;
}

p.framed {
	padding: 0;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
}

p.intro-240 {
	float: left; 
	font-size: 105%;
	width: 240px;
}

p.intro-350{
	float: left;
	font-size: 105%;
	width: 350px;
}



p.intro-350-20 {
	float: left;
	font-size: 105%;
	width: 350px;
	padding: 0 20px 0 0;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

.error {
	color: #c00;
	font-weight: bold;
	display: block;
}

.dropdown-r {
	float: right;
	width: 240px;
	padding: 2px 0 20px 20px;
}

.dropdown-r select {
	width: 190px;
}

.gradient-l {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/gradient-l.gif) top right repeat-y;
}

.gradient-r {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/gradient-r.gif) top left repeat-y;
}

.gray {
	color: #dbdbdb;
}

.hdr-bar1 {	
	color: #333;
	background: url(/ieee/groups/public/@ieee/@web/@org/documents/images/home-wells-hdr-back.jpg) top right no-repeat;
	padding: 4px 11px;
	/*border-bottom: 3px solid #5187a5;*/
}

/* ADDED 04/09 */
.hdr-bar1-1 {	
	color: #333;
	background: url(/ieee/groups/public/@ieee/@web/@org/documents/images/home-wells-hdr-back.jpg) top right no-repeat;
	padding: 4px 11px;
	/*border-bottom: 3px solid #5187a5;*/
	margin-right: -1px;
}

/* UPDATED 04/09 */
.hdr-underline {	
	/*background: transparent url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-underline-back.gif) bottom left no-repeat;*
	padding: 4px 11px;
	/*border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;*/
	padding: 6px 11px;
	margin-top: -1px;
}

.hide {
	display: none;
}

.indent7 {
	padding-left: 7px;
}

.ko {
	color: #000000;
}
.mm-srch .ko {
	color: #000000;
}
.logo-right {
	float: right;
	padding: 0 40px 10px 30px;
}

.normal {
	font-weight: normal;
}

.no-pad {
	padding: 0;
	margin: 0;
	/*font-size: .7em;*/
}

.no-wrap {
	white-space: nowrap;
}

.note {
	color: #666;
	font-size: 90%;
}

.right {
	text-align: right;
}



/* ADDED AFTER 01/26/09 */

.box-930 {
	width: 894px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-930-back.gif) top left repeat-y;
	padding: 10px 18px 20px 18px;
}

.box-lr-top {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-lr-top-back.gif) top left no-repeat;
}

.callout-img174 {
	width: 176px;
	padding: 0;
	border: 1px solid #ccc;
	margin: 0 0 10px 3px;
}

.content-lr {
	width: 972px;
}

.footnote {
	padding: 0 0 10px 0;
}

.footnote p {
	font-size: 90%;
	padding: 0 0 3px 0;
}

.gray999 {
	color: #999;
}

h1 span {
	font-weight: normal;
}

h2 span {
	font-weight: normal;
}

.h2-r {
	float: right;
	padding: 0 10px;
	margin-top: -38px;
}

input.border-blue, select.border-blue {
	border: 1px solid #69c;
}

.intro {
	font-size: 110%;
}

.join-l {
	float: left;
	padding: 0 20px 0 0;
}

.join-r {
	float: left;
	width: 375px;
}

p.arrow-link-null {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-null.gif) top left no-repeat;
	padding: 0 0 10px 7px;
}

p.arrow-link-null-no-pad {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-null.gif) top left no-repeat;
	padding: 0 0 0 7px;
}

p.arrow-link-null-pad3b {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-null.gif) top left no-repeat;
	padding: 0 0 3px 7px;
}

p.arrow-link-null-pad5b {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-null.gif) top left no-repeat;
	padding: 0 0 5px 7px;
}

p.pdf-link {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/icon-pdf.gif) top left no-repeat;
	padding: 0 0 10px 19px;
}

p.video-link {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/icon-video.gif) top left no-repeat;
	padding: 0 0 10px 22px;
}

.pad3b {
	padding: 0 0 3px 0;
}

.pagination-bottom {
	color: #999;
	font-weight: bold;
	text-align: center;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) top left repeat-x;
	padding: 10px;
	border-bottom: 3px solid #e0ecf7;
	margin: 0 0 15px 0;
}

.pagination-top {
	color: #999;
	font-weight: bold;
	text-align: center;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) bottom left repeat-x;
	padding: 5px 10px 10px 10px;
	margin: -7px 0 15px 0;
}

.pagination span, .pagination-top span, .pagination-bottom span {
	color: #000;
}

.radio-left {
	float: left;
	width: 20px;
}

#search label {
	font-size: 120%;
}

#srchgo2 {
	position: relative;
	padding: 0 0 0 20px;
	margin: -30px 0 0 660px;
}

#srchgo4 {
	position: relative;
	padding: 0 0 0 20px;
	margin: -30px 0 0 580px;
}

#search #terms {
	width: 310px;
	padding: 1px 2px;
	margin: 0 10px 0 12px;
}

.span069 {
	color: #069;
}



td.pad10 {
	padding: 10px 10px 0 10px;
	/*font-size: 10px ;	*/
	/*font-weight: normal;*/

}

td.pad10-top {
	padding: 0 10px;
	/*font-size: 10px ;*/
	/*font-weight: normal;*/

}

td.pad10-right {
	text-align: right;
	padding: 10px 10px 0 10px;
	/*font-size: 10px ;*/
	/*font-weight: normal;*/

}

td.pad10-top-right {
	text-align: right;
	padding: 0 10px;
	/*font-size: 10px ;*/
	/*font-weight: normal;*/
}

tr.even {
	background: #E6ECF0 url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) bottom left repeat-x;
}

tr.odd {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) bottom left repeat-x;
}

.header th {
	background: #C0CDD6 url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/h-divider.gif) bottom left repeat-x;
}


ul.arrow-link li.arrow-link-null {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-null.gif) top left no-repeat;
	padding: 0 0 3px 7px;
}

ul.arrow-link-null li {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/arrow-link-null.gif) top left no-repeat;
	padding: 0 0 3px 7px;
}

ul.my-eduCourseCatalog-nav li {
	list-style: none;
	vertical-align: top;
	background: none;
	padding: 0 0 3px 10px;
}

ul.my-eduCourseCatalog-all li {
	list-style: none;
	vertical-align: top;
	background: none;
	padding: 0 0 3px 10px;
}



#what {
	width: 220px;
	margin: 0 10px 0 0;
}

.w100-50b {
	width: 100%;
	margin-bottom: 50px;
}

#zip {
	width: 60px;
	padding: 1px 2px;
}

#zipgo {
	position: relative;
	margin: -28px 0 0 175px;
}


/* ADDED AFTER 02/16/09 */

.content-145-right {
	float: left;
	width: 145px;
	margin: 0;
	overflow: hidden;
}


/* UPDATED AFTER 02/16/09 */

.box-10-375 {
	float: left;
	/*width: 375px; changed as per YP Def 220*/
	/* width: 355px; changed for issues with education landing page 08/04*/
	width: 356px;
	/*padding: 0 0 0 10px;*/
	padding: 0 0 0 22px;
	overflow: hidden;
}

.box-lc {
	width: 769px;
	background: #fff url(/ieee/groups/public/@ieee/@web/@org/documents/images/box-lc-back.gif) top right no-repeat;
	border-left: 1px solid #ccc;
	padding: 0 0 5px 0;
}

.box-lc-top {
	width: 769px;
	background: #fff url(/ucm/groups/public/@ieee/@web/@org/documents/images/box-lc-top-back.gif) top right no-repeat;
	border-left: 1px solid #ccc;
	padding: 0;
}

.content-80-5 {
	float: left;
	width: 80px;
	margin: 0 5px 0 0;
	overflow: hidden;
}

.content-80-5-right {
	margin: 0 0 0 85px;
}

.content-lr-lnav {
    float: left;
	width: 972px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-lr-lnav-back.gif) top left repeat-y;
	margin: 0 10px 0 0;
	overflow: hidden	
}



.pagination {
	color: #999;
	font-weight: bold; 
	text-align: center;
	padding: 10px 10px 0 221px;
	margin: 0;
}

.radio-right {
	width: 90%;
	margin: 0 0 0 20px;
}

#srchwhere {
	width: 290px;
	background: #fff;
	margin: 0 105px 0 0;
}


/* UPDATED - ADDED 03/09 */

.alpha a {
	font-size: 90%;
	font-weight: bold;
	margin: 0 8px 0 0;
}

.beveled {
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/input-back.gif) top left no-repeat;
	padding: 1px 2px;
	border-top: 1px solid #404040;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	border-left: 1px solid #404040;
}

/* UPDATED 04/09 */
.box-c {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-c-back.gif) top right no-repeat;
	padding: 10px 19px 15px 0;
}

.box-lc-indent {
	padding: 12px 19px 10px 19px;
}

/* UPDATED 04/09 */
.box-lc-top-indent {
	padding: 21px 19px 15px 19px;
}

.box-lr-top {
	width: 971px;
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-lr-top-back.gif) top right no-repeat;
	border-left: 1px solid #ccc;
}

.box-lr-top-indent {
	padding: 21px 19px 12px 19px;
}

.box-r-full {
	width: 739px;
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-r-full-back.gif) top right no-repeat;
	padding: 12px 20px 5px 0;
	margin: 0 1px 0 0;
}

.callout-yellow {
	background: #FEF0C3;
	padding: 4px;
	border: 1px solid #ccc;
	margin: 0 0 8px 0;
}

.callout-yellow h4 {
	padding: 3px 12px 7px 12px;
}
	
.callout-indent-yellow {
	background: #ffffff;
	padding: 12px 8px 4px 12px;
	border: 1px solid #ccc;
}

.callout-yellow-top {
	background: #FEF0C3 url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/callout-yellow-top-back.gif) top right no-repeat;
	padding: 4px;
	margin: 0 0 8px 0;
}

.callout-yellow-top h4 {
	padding: 3px 12px 7px 12px;
}

#contact {
	padding: 0 105px 50px 105px;
}

#contact label {
	color:#333;
	font-weight: normal;
}

#contact input, #contact textarea {
	width: 270px;
}

#contact select {
	border: 1px solid #333;
}

#contact p#message {
	color: #900;
	font-weight: bold;
}

#contactsubmit {
	position: absolute;
	margin: 10px 0 0 0;
}

.content-262-20-right {
	float: right;
	margin: 0 0 0 20px;
}

.content-gray {
	width: 972px;
	background: #FFFFFF;
	padding: 0 0 8px 0;
}

.content-c-3col {
	float: left;
	width: 160px;
	padding: 0 20px 0 0;
	overflow: hidden;
}

.content-r-full {
	float: left;
	width: 759px;
}

.content-r-full-intro {
    float: left;
	width: 740px;
	/*padding: 0 0 15px 0;*/
	padding: 0 19px 15px 0;
	overflow: hidden;
}

.diag-subs {
	width: 100%;
} 

#diag-subs-cal {
	margin-bottom: 1px;
}

.diag-divider {
	width: 23px;
	background: url(/ieee/groups/public/@ieee/@web/@org/documents/images/diag-divider-off-back.gif) top left repeat-y;
	padding: 0;
}

.diag-sub {
	color: #333;
	font-size: 85%;
	font-weight: bold;
	text-align: center;
	padding: 4px 4px 5px 4px;
	background: #8DB0C3;
	overflow: hidden;
	vertical-align: middle;
}

#diag-sub1 {
	padding: 4px 4px 5px 10px;
}

.diag-sub-right {
	background: #767676; 
	width: 20%;
}

#diag-subs-cal .diag-sub-right {
	background: #767676; 
	width: 70%;
}

#diag-subs-news .diag-sub-right {
	background: #767676; 
	width: 50%;
}

.diag-sub-article {
	float: left;
	width: 81px;
	background: #767676;
	padding: 4px 0 3px 0;
}

.diag-sub-news {
	float: left;
	width: 252px;
	background: #767676;
	padding: 4px 0 3px 0;
}

div.intro-240 {
	/*float: left;*/
	/*width: 240px;*/
}

div.intro-350{
	float: left;
	/*font-size: 110%; commented for defect 315*/
	width: 350px;
}

div.intro-350-20 {
	float: left;
	width: 350px;
	padding: 0 20px 0 0;
}

div.intro-410-20 {
	float: left;
	width: 410px;
	padding: 0 20px 0 0;
}

div.intro-480-15 {
	float: left;
	width: 480px;
	padding: 0 15px 0 0;
}

div.intro-240 p, div.intro-350 p, div.intro-350-20 p, div.intro-410-20 p, div.intro-480-15 p {
	font-size: 110%;
}

.img-left-border {
	float: left;
	padding: 0;
	border: 1px solid #ccc;
	margin: 2px 16px 8px 0;
}

.img-right-border {
	float: right;
	padding: 0;
	border: 1px solid #ccc;
	margin: 2px 0 8px 16px;
}

.inline {
	display: inline;
}

.input-r {
	float: left;
	width: 300px;
	padding: 0 0 10px 0;
}

.intro-indent {
	padding: 0 20px 0 0;
}

.label-l {
	float: left;
	width: 170px;
	padding: 0 10px 10px 0;
}

#nsltr {
	position: absolute;
	margin: 0 0 20px 40px;
}

p.intro-410-20 {
	float: left;
	font-size: 110%;
	width: 410px;
	padding: 0 20px 0 0;
}

.pad2b {
	padding: 0 0 2px 0;
}

.pad5t10b {
	padding: 5px 0 10px 0;
}

.pad5t20b {
	padding: 5px 0 20px 0;
}

.pad10b {
	padding: 0 0 10px 0;
}

.pad15b {
	padding: 0 0 15px 0;
}

.pad20b {
	padding: 0 0 20px 0;
}

.pullquote {
	padding: 20px 20px 10px 20px;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
}

.pullquote p {
	font-size: 150%;
	text-align: center;
}

.subscribe {
	color: #069;
	font-weight: normal;
	display: inline;
}

#subscribe label {
	color:#333;
	font-weight: normal;
}

#subscribe .box-c input {
	width: 270px;
	border: 1px solid #333;
}

#subscribe p#message {
	color: #900;
	font-weight: bold;
}

#subscribesubmit {
	position: absolute;
	margin: 5px 0 0 0;
}

#title-note {
	float: right;
	margin-top: -35px;
}

#title-send {
	float: right;
	margin-top: -40px;
}

ul.null li {
	list-style: none;
	vertical-align: top;
	background: none;
	padding: 0 0 3px 0;
}

.unsubscribe {
	color: #069;
	font-size: 130%;
	font-weight: normal;
	display: none;
}

/* main calendar */

#cal-full {
	width: 729px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.diag-sub-cal {
	float: left;
	width: 483px;
	background: #767676;
	padding: 4px 0 3px 0;
}

#cal-l {
	float: left;
	width: 517px;
	border-right: 1px solid #ccc;
}

#cal-l-indent {
	padding: 10px;
}

#cal-r {
	float: left;
	width: 211px;
}

#cal-r-indent a {
	padding: 0 2px;
}

#cal-previous, #cal-next {
	margin: 0 40px;
}

#cal {
	width: 507px;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	margin: 5px;
}

#cal th {
	color: #5d8ebb;
	font-size: 120%;
	text-align: right;
	padding: 4px 10px 7px 10px;
}

#cal td {
	font-size: 120%;
	font-weight: bold;
	text-align: right;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 10px 8px 25px 8px;
}

#cal td.norm, #cal td.empty  {
	background: #e7edf1;
}

#cal td.norm a:link, #cal td.norm a:visited, #cal td.norm a:active, #cal td.norm a:hover {
	color: #829bac;
	text-decoration: none;
	cursor: default;
}

#cal td.select {
	background: #a1bfd8;
}

#cal td.select a {
	color: #fff;
}

#cal td.empty a {
	cursor: default;
}

#cal-month-bottom {
	font-weight: bold;
	text-align: center;
	width: 709px;
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

/* glossary */

#divdesc {
	position: absolute;
	width: 241px;
	top: 430px;
	left: 260px;
	z-index: 1003;
	display: none;
}

#descdiv {
	width: 191px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/glossary-back.png) top left no-repeat;
	padding: 0 18px 0 32px;
}

/* sitemap */

.content-callout-433 {
	float: right;
	width: 433px;
	padding: 0;
	margin: 0 0 10px 0;
}

.content-callout-433-indent {
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/content-callout-433-back.gif) top left repeat-y;
	padding: 0 14px;
}


.content-callout-433-2-l {
	float: left;
	width: 200px;
	padding: 0 20px 0 0;
}

.content-callout-433-2-r {
	float: left;
	width: 180px;
}

.content-callout-433 ul {
	padding: 0;
}

.box-970 {
	width: 970px;
	background: #fff url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-970-back.gif) top right no-repeat;
	border-left: 1px solid #ccc;
	padding: 0 0 5px 0;
}

.box-970-l {
	float: left;
	width: 434px;
	padding: 11px 63px 11px 19px;
	overflow: hidden;
}

.box-970-r {
	float: left;
	width: 434px;
	padding: 11px 00;
	overflow: hidden;
}

.box-730 {
	width: 694px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-730-back.gif) top left repeat-y;
	padding: 10px 18px 0 18px;
}

#course-srch {
	float: left;
	width: 530px;
}

#srchgo3 {
	float: left;
	width: 160px;
}

#courses #course {
	width: 270px;
	margin: 0 10px 0 12px;
}

#course-advanced {
	padding: 0 0 5px 0;
}

#courses label {
	color: #333;
}

#courses select {
	width: 220px;
}

#coursessubmit {
	position: absolute;
	margin: 10px 0 0 0;
}

.results-l {
	float: left;
	font-weight: bold;
	width: 45%;
	padding: 0 12px 10px 12px;
}

.results-r {
	float: right;
	font-weight: bold;
	text-align: right;
	width: 45%;
	padding: 0 12px 10px 12px;
}

.results-l span, .results-r span {
	font-weight: normal;
}

.course-table {
	width: 100%;
	margin: 0 0 20px 0;
}

.course-table th, .course-table td {
	padding: 10px 10px 0 10px;
}

.course-table th {
	vertical-align: top;
}

.course-table td.yn {
	padding: 10px 10px 0 30px;
}

.course-table td.check {
	padding: 10px 10px 0 40px;
}

a.underline:link, a.underline:visited, a.underline:active, a.underline:hover {
	text-decoration: underline;
}


/* UPDATED 03/24/09 */

.box-info {
	padding: 15px 15px 5px 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 0 10px 0;
}

#cal-r-indent {
	padding: 42px 10px 10px 10px;
}

#cal-mo {
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
	height: 13px;
	background: #3485ae;
	padding: 8px;
}

#cal-yr {
	position: absolute;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 100%;
	height: 13px;
	width: 196px;
	background: #3485ae url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-top-back.gif) top right no-repeat;
	padding: 8px;
	margin-right: -1px;
}

.content-262-16-right {
	margin: 0 10px 0 278px;
}

.course-table td {
	vertical-align: middle;
}

ol {
	padding: 0 0 5px 0;
	margin: 0 0 0 32px;
}

ol ol {
	padding: 5px 0;
	margin: 0 0 0 32px;
}

/* ADDED 02/10 */

.content-lc p, .content-lc td, .content-lc li, .content-lc dt, .content-lc label, .content-lr p, .content-lr td, .content-lr li, .content-lr dt, .content-lr label {
	font-size: 110%;
}

.content-lc p.small, .content-lc li.small, .content-lc td.small, .content-lr p.small, .content-lr li.small, .content-lr td.small {
	font-size: 100%;
}

.content-lc li p, .content-lc li li, .content-lc td p, .content-lc td td, .content-lr li p, .content-lr li li, .content-lr td p, .content-lr td td {
	font-size: 100%;
}

.content-lc li p.small, .content-lc td p.small, .content-lr li p.small, .content-lr td p.small {
	font-size: 90%;
}


/* UPDATED 02/10 */

.content-callout-280-r p, .content-callout-356-r p, .content-callout-356 p, .content-callout-356-2-l p, .content-callout-356-2-m p, .content-callout-356-2-r p, .right-module p {
	font-size: 95%;
}

.content-callout-280-r li, .content-callout-356-r li, .content-callout-356 li, .content-callout-356-2-l li, .content-callout-356-2-m li, .content-callout-356-2-r li {
	font-size: 95%;
}

.content-callout-280-r h4, .content-callout-356-r h4, .content-callout-356 h4, .content-callout-356-2-l h4, .content-callout-356-2-m h4, .content-callout-356-2-r h4 {
	font-size: 95%;
}

.intro {
	font-size: 110%;
}

div.intro-240 p, div.intro-350 p, div.intro-350-20 p, div.intro-410-20 p, div.intro-480-15 p {
	font-size: 110%;
}

p.intro-240, p.intro-350 , p.intro-350-20, p.intro-410-20 {
	font-size: 110%;
}

.srch-indent label {
font-size: 95%;
}

/* ADDED 04/09 */

/* #sub3 div.home-box-top-r p.h-divider {
	padding: 0 0 9px 0;
} */

.srch-indent {
	/*padding-left: 125px;*/
}

.indent125 {
	padding-left: 125px;
}

.indent80 {
	padding-left: 80px;
}

.indent350 {
	/*padding-left: 350px;*/
	 /*padding-top: 15px;*/
	 position: absolute;
	margin: 0 0 0 350px;	 
}

 /* Styles for secure finop*/
 #finop_report td, li{
 font-size: 1 em;
 }
  #finop_report  ul li {
	list-style: none;
	vertical-align: top;
	padding: 0 0 3px 10px;
	font-size: .9em;
}
#finop_report
{
	padding: 5px 5px 10px 5px;
}
#finop_report .box 
{
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 215px; 
  background-color: rgb(238, 238, 238);
}

 /*
.content-r p
{
	font-size: .7em;
}  
*/
/*
.content-r  li p
{
	font-size: 1em;
}

#lnav li
{
    	font-size: .7em;
 
}
#lnav li ul li
{
    	font-size: 1em;
 
} */

/*div.content-c table, div.content-lc table {*/
/*
table border are handled by Ed's revised styles
div.content-c table{  
  border: 1px solid black;
}
*/

div.content-c table td, div.content-lc table td, div.content-lr table td, 
div.content-c table td ul li, div.content-lc table td ul li,div.content-lr table td ul li {
  font-size: 100%;
  line-height: 130%;
  }
  
/* Three content columns for 3rd level pages */
.content-c .content-3col {
	float: left;
	width: 160px;
	padding: 0 15px 0 0;
	overflow: hidden;
}

.content-1col {
	WIDTH: 100%;
}

/* Right "Join" module white */
.callout-white {
	background: #fff;
	padding: 4px;
	border: 1px solid #ccc;
	margin: 0 0 8px 0;
}

/* Right "Join" module white header */

.callout-white  h4 {
	color: #fff;
	background: #767676;
	padding: 3px 12px 7px 12px;
	
}

/* Right "Join" module white content indent */
.callout-white .callout-indent-yellow {
	background: #fff;
	padding: 12px 8px 4px 12px;
	border: 0;
}

/* Right "Join" module white links */
.callout-white a:link.underline, .callout-white a:visited.underline, .callout-white a:active.underline {
	text-decoration: none;
}

/* Right "Join" module white links hover */
.callout-white a:hover.underline {
	text-decoration: underline;
}

/* table with grid lines */
/* moved to top - defaulted*/
table.grid-gray {
	border-top: 1px solid #333;
	border-right: 1px solid #333;
}
/* table with grid lines cell */
/* moved to top - defaulted*/

table.grid-gray td {
	padding: 3px 5px 5px 5px;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
}

/* table with grid lines list */
/* moved to top - defaulted*/

table.grid td ul {
	padding: 0;
}

/* table without grid lines */
table.nogrid-nopad {
	border-top: 0;
	border-right: 0;
}

/* table without grid lines cell */
table.nogrid-nopad td {
	//padding: 0; Causes alignment issues with HP tech Table
	border-bottom: 0;
	border-left: 0;
}

/* table list item update */
.content-lc td li {
	/*font-size: 100%;*/
	padding: 0 0 0 10px;
}

/*HD 186662*/
.box-srch-ftr {
	width: 894px;
	padding: 10px 18px 20px 18px;
}

input.srchfont {
	font-size: 12px;
	padding: 2px;
}
  
.srch-again label {
font-size: 95%;
}  

#terms, #terms2 {
	width: 460px;
}

#share-app {
	position: absolute;
    margin: -18px 0 0 880px;
}

#srch-wrap {
	color: #333333;
	font-weight: bold;
	width: 940px;
	/*background: #8dbfd9 url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/search-back.jpg) bottom left repeat-x;*/
	/*background: #7b9aab url(/ucm/groups/public/@ieee/@web/@org/documents/images/search-back-2.jpg) bottom left repeat-x;*/
	background: none repeat scroll 0 0 #CCCCCC;
	padding: 10px 20px 14px 12px;
	margin: 0 0 1px 0; 
}

.addthis_toolbox {
    position: absolute;
    margin: -21px 0 0 865px; /*Defect 182*/
    padding: 3px 0 0 0;
}

#share-follow {
	position: absolute;
    margin: -18px 0 0 650px; /*Defect 182*/
}

#follow-app {
	position: absolute;
	padding: 0 0 0 7px;
}

#cont-supp {
	position: absolute; 
	margin: 20px 0 0 830px;;
}

.addthis_toolbox_1 {
    position: absolute;
    margin: -21px 0 0 910px;
}

.box-flash {
	position:relative;
	width:770px;
	height:255px;
}

.title-lc {
    padding: 21px 19px 5px;
}

.special_name {
	display: none
}
#special_name {
	display: none
}

/* calllouts */
.hdr-callout {
	color: #333333;
	background: #CCCCCC;
	padding: 7px 14px;
}
.hdr-callout-top {
	color: #333333;
	background: #CCCCCC url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-top-back.gif) top right no-repeat;
	padding: 7px 14px;
}
.hdr-callout-gradient {
	color: #333;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-gradient-back.jpg) top left no-repeat;
	padding: 4px 14px;
}
.callout-indent {
	color: #000;
	background: #fff;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.callout-indent-bottom {
	color: #000;
	background: #fff;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 0 8px 0;
}
.callout-indent-bottom-short {
	color: #000;
	background: #fff;
	padding: 12px 5px 0 14px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 0 8px 0;
}
.callout-indent-gray {
	color: #000;
	background: #e6ecf0;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 0 8px 0;
}
.callout-underline {
	font-weight: normal;
	padding: 0 14px 2px 14px;
	border-bottom: 3px solid #CCCCCC;
	margin: 0 0 5px 0;
}
.callout-indent-blue {
	color: #333;
	background: #e7ecf0;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #9BCCDE;
	border-bottom: 1px solid #9BCCDE;
	border-left: 1px solid #9BCCDE;
	margin: 0 0 8px 0;
}
.hdr-callout-blue {
	color: #000;
	background: #9BCCDE;
	padding: 7px 14px;
}
.hdr-callout-blue-top {
	color: #000;
	background: #9BCCDE url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-top-back.gif) top right no-repeat;
	padding: 7px 16px;
}
.callout-blue-top {
	color: #333;
	background: #fff;
	padding: 12px 5px 5px 14px;
	border-top: 3px solid #297fc6;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 0 0 8px 0;
}
.hdr-callout-purple {
	color: #000;
	background: #C18CC8;
	padding: 7px 14px;
}
.hdr-callout-purple-top {
	color: #000;
	background: #C18CC8 url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-top-back.gif) top right no-repeat;
	padding: 7px 14px;
}
.callout-indent-purple {
	color: #333;
	background: #f9eafb;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #C18CC8;
	border-bottom: 1px solid #C18CC8;
	border-left: 1px solid #C18CC8;
	margin: 0 0 8px 0;
}
.hdr-callout-red {
	color: #000;
	background: #CD96AB;
	padding: 7px 14px;
}
.hdr-callout-red-top {
	color: #000;
	background: #CD96AB url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-top-back.gif) top right no-repeat;
	padding: 7px 14px;
}
.callout-indent-red {
	color: #333;
	background: #fceff3;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #CD96AB;
	border-bottom: 1px solid #CD96AB;
	border-left: 1px solid #CD96AB;
	margin: 0 0 8px 0;
}
.hdr-callout-green {
	color: #000;
	background: #B3D48C;
	padding: 7px 14px;
}
.hdr-callout-green-top {
	color: #000;
	background: #B3D48C url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/hdr-callout-top-back.gif) top right no-repeat;
	padding: 7px 14px;
}
.callout-indent-green {
	color: #333;
	background: #f4faed;
	padding: 12px 5px 5px 14px;
	border-right: 1px solid #B3D48C;
	border-bottom: 1px solid #B3D48C;
	border-left: 1px solid #B3D48C;
	margin: 0 0 8px 0;
}

/* top module full banner  */ 
#myieee2a {
    background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_top_bnnr_def_2a.png") no-repeat scroll left top transparent #FFFFF;
    display: block;
    /*margin-bottom: 1px;*/
    padding: 25px 0;
    position: relative;
    width: 100%;
    height: auto;
	overflow: auto;
}
#myieee2a_content {
    padding: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#myieee2a_content_left {
    float: left;
    padding: 0 20px;
}
#myieee2a_content_right {
    color: #FFFFFF;
    display: block;
    height: 100%;
    padding: 0 20px;
}    
.box-lc-top-left {
	float: left;
	margin-right: 20px;
	padding-bottom: 20px;

}

.box-lc-top-right {
	padding-bottom: 20px;
	margin-left: 240px;
}

.box-lc-top-full {
	padding-bottom: 20px;
}

/* top module banner under page header  */ 
#myieee1a {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_top_bnnr_def_1a.png") top left no-repeat;
	padding: 25px 0px;
	height: auto;
	overflow: auto;
}

#myieee1a_content {
	width:100%;
	padding: 0px 0px;
}

#myieee1a_content_left {
	float: left;
	padding: 0px 20px;
}

#myieee1a_content_right {
	display: block;
	height: 100%;
	padding: 0px 20px;
	color: #fff;
}

#myieee1b {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 30px;
	background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/img_ieee_top_bnnr_def_2a.png") top left no-repeat;
	padding: 25px 0px;
	height: auto;
	overflow: auto;
}

/* Spotlight module banner */
#lc-blue {
	width: 692px;
	display: block;
	position: relative;
	padding: 20px;
	height: auto;
	overflow: auto;
}

.content-callout-356-r-a {
	width: 356px;
	margin: 0px;
}

#lc-orange {
    display: block;
    padding: 20px;
    position: relative;
    width: 698px;
    height: auto;
	overflow: auto;
}

#header-underline h1{
	margin-bottom: 0px;
}

#header-wedge-underline a {
	background: url(/ucm/groups/public/@ieee/@web/@org/documents/images/img_ieee_underline_wedge.png) bottom right no-repeat;
	padding: 0 20px 24px 0;
}

#header-wedge-underline h1 {
	border: 0 none;
    margin-bottom: 0;
    text-decoration: none;
    border: 0px;
    padding: 0 0 6px;
}

#header-wedge-underline h4 {
	height: 17px;
	margin-bottom: 10px;
    padding: 0;
}

#header-underline-right h1 {
    margin-bottom: 0;
    text-decoration: none;
    padding: 0 0 6px;
}

#header-wedge-underline-right h1 {
	border: 0 none;
    margin-bottom: 0;
    text-decoration: none;
    border: 0px;
}

#header-wedge-underline-right a {
	background: url(/ucm/groups/public/@ieee/@web/@org/documents/images/img_ieee_underline_wedge.png) bottom right no-repeat;
	padding: 0 20px 24px 0;
}

#header-wedge-underline-right h4 {
	height: 17px;
	margin-bottom: 10px;
    padding: 0;
}

#lc-orange-left {
    float: left;
    margin-right: 20px;
    clear: left;
}

#lc-subintro-left {
    float: left;
    margin-right: 20px;
    width: 230px;
    clear: left;
}

#lc-orange-left-no-rc {
    float: left;
    margin-right: 20px;
    width: auto;
    clear: left;
}

#lc-subintro-left-no-rc {
    float: left;
    margin-right: 20px;
    width: 450px;
    clear: left;
}

#lc-subintro-left-small-no-rc {
    float: left;
    margin-right: 20px;
    width: 330px;
    clear: left;
}

.lc-orange-full {
}

#lc-orange-right {
    display: block;
}

#lc-orange-right2 {
    display: block;
    float: right;
}

p.intro-350-a {
    font-size: 105%;
}
.content-callout-356-r-a {
    float: right;
    margin-top: 20px;
    padding: 0 0 0 20px;
    width: 356px;
}

.links-container {
	float: left;
}

/* --------------- New styles given by Keith for the no right column templates ------------------ */

.spotlight-full {
	width: 892px;
	height: auto;
	overflow: auto;
	display: block;
	position: relative;
	padding: 20px;
} 

.content-full {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    overflow: hidden;
    padding: 0 0 0 0;
    width: 972px;
}

.content-full-box-top {
    background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-lr-top-back-2.gif") no-repeat scroll right top transparent;
	border: 0px;
    padding: 0;
    width: 972px;
}

.box-3col-top {
	width: 324px;
	height: 10px;
	display: block;
	background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/box-3col-top.gif") top left no-repeat #fff;
}

.box-3col-l {
    float: left;
    overflow: hidden;
    padding: 0 0px 0 0;
    width: 324px;
}

.box-3col-m {
    float: left;
    overflow: hidden;
    padding: 0 0 0 0px;
    width: 324px;
}

.box-3col-r {
    float: left;
    overflow: hidden;
    padding: 0 0 0 0px;
    width: 324px;
}

.boxes-2col {
    background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/boxes-2col-full-back.gif") repeat-y scroll left top #fff;
}

.box-2col-indent {
    padding: 2px 19px;
}

.boxes-3col {
	background: url("/ucm/groups/webassets/@ieee/@web/@org/documents/images/boxes-3col-full-back.gif") repeat-y scroll left top #fff;
}
.box-3col-indent {
    padding: 2px 19px;
}

.box-2col-top {
	width: 486px;
	height: 10px;
	display: block;
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-2col-top.gif") top left no-repeat #fff;
}

.box-2col {
    float: left;
    overflow: hidden;
    padding: 0 0 0 0px;
    width: 486px;
}

.content-callout-520-r {
	float: right;
	width: 520px;
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}

.pad-5t {
	padding: 5px 0 5px 0;
}

.pad-5t h4 p {
	padding: 0;
}

p.img-caption {
	font-size: 80%;
	/*margin:-7px 0px 0px 0px;*/
}

/* plain grid table styles*/
.grid {
	border-collapse:collapse;
	border:1px solid #000000;
}

.grid th {
	border:1px solid black;
	text-align: left;
	font-weight:bold;
	color: #000000;
	padding:3px 5px 5px 5px;
}

.grid td {
	border:1px solid black;
	text-align: left;
	color: #000000;
	padding:3px 5px 5px 5px;
}

/* grid with shading table styles*/
.grid-shading {
	border-collapse:collapse;
	border:1px solid #000000;
}

.grid-shading th {
	border:1px solid black;
	text-align: left;
	font-weight:bold;
	color: #000000;
	background-color: #C0CDD6;
	padding:3px 5px 5px 5px;
}

.grid-shading td {
	border:1px solid black;
	text-align: left;
	color: #000000;
	padding:3px 5px 5px 5px;
}

.grid-shading-odd {
	background-color: #FFFFFF;
}

.grid-shading-even {
	background-color: #E6ECF0;
}

/* plain no grid table styles*/
.nogrid {
	border-collapse:collapse;
	border:0px;
}

.nogrid th {
	border:0px;
	text-align: left;
	font-weight:bold;
	color: #000000;
	padding:3px 5px 5px 5px;
}

.nogrid td{
	border:0px;
	text-align: left;
	color: #000000;
	padding:3px 5px 5px 5px;
}

/* no grid with shading table styles*/
.nogrid-shading {
	border:0px;
}

.nogrid-shading th {
	text-align: left;
	font-weight:bold;
	color: #000000;
	background-color: #C0CDD6;
	padding:3px 5px 5px 5px;
}

.nogrid-shading td {
	text-align: left;
	color: #000000;
	padding:3px 5px 5px 5px;
}

.nogrid-shading-odd {
	background-color: #FFFFFF;
}

.nogrid-shading-even {
	background-color: #E6ECF0;
}
/*
#srch-wrap-mm {
    background: url("/ucm/groups/public/@ieee/@web/@org/documents/images/search-back-2.jpg") repeat-x scroll left bottom #7B9AAB;
    color: #333333;
    font-weight: bold;
    margin: 0 0 1px;
    padding: 10px 20px 14px 12px;
    width: 940px;
}
*/

.formattedLbl {
    font-size: 95% !important;
    font-weight: normal;
    color: #333;
}

.font-95 {
    font-size: 95%;
}

ul.list-plain li {
	background: none no-repeat scroll left 3px transparent;
	list-style: none;
	padding: 0 0 3px 0;
}
ul.list-plain a {
	padding: 0 0 0 7px;
	display: inline-block;
}
p.list-plain {
	background: none no-repeat scroll left 3px transparent;
}
p.list-plain a {
	padding: 0 0 0 7px;
}

.slider_content .slider_desc, .slider_content .billboard_links {
	font-size: 95%;
}

.intro-on-this-page {
    padding: 10px 0;
}
.intro-left {
    float: left;
    width: 630px;
}