table.main-subcontent-container {
    border-collapse: collapse;
}
table.main-subcontent-container td {
	padding: 0px 0px 0px 0px;
}
.box-lc-2column {
	width: 380px;
	background: #fff url(/ieee/groups/public/@ieee/@web/@org/documents/images/box-lc-back.gif) top right no-repeat;
	border-left: 1px solid #ccc;
	padding: 0 0 5px 0;
	float: left;
}
.box-lc-3column {
	width: 255px;
	background: #fff url(/ieee/groups/public/@ieee/@web/@org/documents/images/box-lc-back.gif) top right no-repeat;
	border-left: 1px solid #ccc;
	padding: 0 0 5px 0;
	float: left;
}
.content-3col-1 {
	float: left;
	width: 228px;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
.content-3col-2 {
	float: left;
	width: 228px;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
.content-3col-3 {
	float: left;
	width: 228px;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
.content-3col-dot-1 {
	float: left;
	width: 228px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/v-divider.gif) top right repeat-y;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
.content-3col-dot-2 {
	float: left;
	width: 228px;
	background: url(/ieee/groups/webassets/@ieee/@web/@org/documents/images/v-divider.gif) top right repeat-y;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
.content-3col-dot-3 {
	float: left;
	width: 228px;
	padding: 0 5px 0 5px;
	overflow: hidden;
}
.spotlight-topline {
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/box-lr-top-back.gif") no-repeat scroll right top #FFFFFF;
	clear: both;
	height: 22px;
}
.box-top-spotlight {
	padding: 0px 10px 15px 0px;
}
.boxes-375-sl {
}
.box-10-375-sl {
    float: left;
    overflow: hidden;
    padding: 0px 1px 0px 1px;
    width: 350px;
}
.v-dotted-line-sl {
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/v-divider.gif") repeat-y scroll center top rgba(0, 0, 0, 0);
	margin-top: 32px;
    width: 16px;
    float: left;
}
.expand-collapse {
	padding: 0px 0px 0px 2px;
	list-style-type: none;
}
.expand-collapse ul {
	padding: 0px 0px 0px 30px;
}
.expand-collapse li{
	font-size: 95%;
    font-weight: bold;
    line-height: 130%;
    padding: 0 0 8px 15px;
	list-style: none;
	background: none;
}
.expand-collapse.list-expanded a.list-title{
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-minus.gif") no-repeat scroll left top 1px rgba(0, 0, 0, 0);
	padding: 0px 0px 0px 15px;
	color: #0272AA;
}
.expand-collapse.list-collapsed a.list-title{
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-plus.gif") no-repeat scroll left top 1px rgba(0, 0, 0, 0);
	padding: 0px 0px 0px 15px;
	color: #0272AA;
}
.expand-collapse.list-expanded li li{
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-arrow.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.expand-collapse.list-collapsed li li{
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-arrow.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
}
.expand-collapse li li{
	background: url("/ieee/groups/webassets/@ieee/@web/@org/documents/images/lnav-arrow.gif") no-repeat scroll left top rgba(0, 0, 0, 0);
	font-size: 95%;
    font-weight: normal;
    line-height: 130%;
    padding: 0 0 3px;
	list-style: none;
}
.expand-collapse li li a {
	color: #0272AA;
    display: block;
    padding: 0 0 0 9px;
}


.ieeeform fieldset {
    border: 1px solid #dfdfdf;
    margin-bottom: 20px;
    padding: 10px 20px;
}
.ieeeform fieldset legend {
    font-size: 110%;
    font-weight: bold;
}
.ieeeform label {
    font-size: 95%;
    font-weight: bold;
    color: #666666;
    float: left;
    width: 30%;
	padding: 4px 15px 4px 0;
}

.ieeeform input[type="text"], .ieeeform select , .ieeeform textarea {
	border: 1px solid #999999;
	font-size: 12px;
	padding: 3px;
	margin: 4px 0px 4px 0px;
}

.ieeeform .width-third {
	width: 30%;
}

.ieeeform .width-half {
	width: 50%;
}

.ieeeform input[type="radio"]+label, input[type="checkbox"]+label {
	float: none;
	padding-left: 15px;
}

.ieeeform input[type="radio"], input[type="checkbox"] {
	vertical-align: middle;
}

.ieeeform ul li{
	list-style: none outside none; 
	vertical-align: top; 
	background: none repeat scroll;
	padding: 5px 0px;
}

