@font-face {
   font-family: 'Zdl_Font_Number';
   src:url('fonts/YekanNumbers-Regular.eot');
   src:url('fonts/YekanNumbers-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Yekan.svg#Elusive-Icons') format('svg'),
       url('fonts/YekanNumbers-Regular.woff') format('woff'),
       url('fonts/YekanNumbers-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Zdl_Font';
   src:url('fonts/YekanWeb-Regular.eot');
   src:url('fonts/YekanWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Yekan.svg#Elusive-Icons') format('svg'),
       url('fonts/YekanWeb-Regular.woff') format('woff'),
       url('fonts/YekanWeb-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
.user-message {
    background: url("images/rozpop_user.png") no-repeat scroll right bottom transparent;
    margin-bottom: 8px;
    min-height: 85px;
    padding-right: 130px;
    position: relative;
}

.user-message .mp {
    background: url("images/user-ind.png") no-repeat scroll center center transparent;
    bottom: 20px;
    height: 34px;
    position: absolute;
    right: 107px;
    width: 24px;
    z-index: 0;
}

.user-message .mmessage {
    -moz-hyphens: auto;
    background-image: -moz-linear-gradient(center bottom , #E5FAFE 0%, #F8FBFC 100%);
    background-image: linear-gradient(to bottom , #F8FBFC 0%,#E5FAFE 100%);
    border: 1px solid #D2D3D3;
    border-radius: 8px 8px 8px 8px;
    min-height: 100px;
    padding: 8px;
    word-break: break-all;
}

.user-message .mmtext {
    line-height: 1.8em;
}

.user-message .minfo span {
    background: url("images/info-icon.png") no-repeat scroll right center transparent;
    display: block;
    padding-right: 17px !important;
}

.user-message .datetime {
    direction:ltr;
}

.user-message .minfo {
    background: url("images/mmesage-info.png") repeat-x scroll center center transparent;
    border: 1px solid #B5B7B8;
    border-radius: 8px 8px 8px 8px;
    font-size: 10px;
    height: 23px;
    line-height: 20px;
    padding: 0 8px;
    float:left;
}


.admin-message {
    background: url("images/rozpop_supporter.png") no-repeat scroll left bottom transparent;
    margin-bottom: 8px;
    min-height: 85px;
    padding-left: 130px;
    position: relative;
}
.admin-message .minfo {
    background: url("images/mmesage-info.png") repeat-x scroll center center transparent;
    border: 1px solid #B5B7B8;
    border-radius: 8px 8px 8px 8px;
    font-size: 10px;
    height: 23px;
    line-height: 20px;
    padding: 0 8px;
    float:left;
}
.admin-message .minfo span {
    background: url("images/info-icon.png") no-repeat scroll right center transparent;
    display: block;
    padding-right: 17px !important;
}
.admin-message .mmtext {
    line-height: 1.8em;
    padding-top: 8px;
}
.admin-message .mmessage {
    -moz-hyphens: auto;
    background-image: -moz-linear-gradient(center bottom , #D2FFCC 0%, #F8FBFC 100%);
    background-image: linear-gradient(to bottom,#F8FBFC 0%,#D2FFCC 100%);
    border: 1px solid #D2D3D3;
    border-radius: 8px 8px 8px 8px;
    min-height: 100px;
    padding: 8px;
    word-break: break-all;
}
.admin-message .mp {
    background: url("images/admin-ind.png") no-repeat scroll center center transparent;
    bottom: 20px;
    height: 34px;
    left: 107px;
    position: absolute;
    width: 24px;
}
 .legend {
    position: absolute;
    top: -18px;
    right: 426px;
    background: url("images/bg-go.gif") repeat scroll 0 0 #FFFFFF;
    border: 1px solid #cccccc;
    border: 1px solid rgb(183, 205, 226);
    border-radius: 5px 5px 5px 5px;
    padding: 6px 10px 7px;
    font-size: 13px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.box-panel {
    position: relative;
    background: url("images/bg-go.gif") repeat scroll 0% 0% rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(204, 204, 204);
    margin: 30px 30px 10px;
    padding: 40px 8px 8px;
    
} 
.step {
  background: #D90303;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
 font: normal normal 700 15px/20.8px Zdl_Font;
  line-height: 1.6em;
 margin-left: 25px;
  text-align: center;
  width: 1.6em; 
  text-shadow:none;
  float:left;
}
body{
	background-color: #EEF1F4;
	color: #333;
	overflow-x: hidden;
	font-family: "Zdl_Font", "Zdl_Font_Number";
	font-size: 13px;	
}
.infoBox,.successBox,.warningBox,.errorBox {
    
    direction:rtl;
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
    border: 1px solid ;
}

.infoBox {
    border:1px solid #8ed9f6;
    background: #BDE5F8  url('images/icon-info.png') no-repeat 10px center;
}

.successBox {
    border-color: #ACDBAD;
    background: #ECFAE3  url('images/icon-tick.png') no-repeat 10px center;
}

.warningBox {
    border-color: #E6DB55;
    background: #FFFBCC  url('images/icon-warning.png') no-repeat 10px center;
}

.errorBox {
    border-color: #DF8F8F;
    background: #FFD7D7  url('images/icon-cross.png') no-repeat 10px center;
}
.quick-loading {
    background-color: #FDE06C;
    color: #000000;
    cursor: default;
    direction: rtl;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: auto !important;
    z-index: 5000;
}
.quick-loading div {
    background-color: #FDE06C;
    margin: 0 1px -2px;
    padding: 4px 10px 5px;
    position: relative;
    top: -1px;
    z-index: 1;
}
.error { 
background-color: #F8F8F8;
border: 2px solid #FF0000;
border-radius: 3px;
box-shadow: inset 0px 0px 0px 1px #FFFFFF;  
transition: background-color 0.2s cubic-bezier(0.42, 0, 0.58, 1) 0;
}
.clear{
	clear: both;
}
ul{
	padding-right: 0;
	list-style: none;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	border-color: #666666;
}
textarea:focus{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	border-color: #666666;	
}
.header{
	border-top: 1px solid  #E6BD1B;
	border-bottom: 1px solid  #E0E3E6;
	padding: 15px 0;
	background: #fff;
}
.menu ul li{
	float: right;
	margin-left: 11px;
	margin-right: 11px;
}
.menu.left_menu ul li{
	float: left;
}
.menu ul li a{
	padding: 0px 7px;
	color: #333;
	border-bottom: 3px solid  #fff;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu ul li a:hover, .menu ul li a.active{
	border-bottom-color: #D5AD11;
}
.menu ul li a.register_link{
	color: #fff;
	background: #D5AD11;
	padding: 0 15px;
}
.logo{
	width: 180px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	background: url("images/logo.png") center center no-repeat;
}
.logo a{
	width: 180px;
	height: 40px;
	display: block;
}	
.area1{
	position: relative;
	margin-top: 27px;
}
.area1_right{
	background: #435787 url("images/bg1.jpg") center center no-repeat;
	height: 380px;
	padding: 30px 24px;
	color: #fff;
	font-size: 12px;
	margin-bottom: 9px;
}
.area1_left{
	background: #33395A url("images/bg2.jpg") center center no-repeat;
	height: 380px;
	padding: 30px 24px;
	color: #fff;
	font-size: 12px;
	margin-bottom: 9px;
}
.area1 h3{
	font-weight: normal;
	font-size: 33px;
	margin-bottom: 40px;
	margin-top: 0;
}
.area1 p{
	line-height: 26px;
	width: 85%;
}
.last_news, .support_block, .ads_block{
	height: 300px;
	padding: 20px 14px;
	background: #fff;
	border: 1px solid  #CFD2D5;
	overflow: hidden;
	margin-bottom: 15px;
	-webkit-box-shadow: 2px 2px 0 #CFD2D5;
	box-shadow: 2px 2px 0 #CFD2D5;
}
.last_news_header{
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid  #C7C7C7;
	overflow: hidden;
	margin-bottom: 14px;
}
.last_news_header h6{
	font-size: 19px;
	font-weight: normal;
	float: right;
	color: #1C1C23;
	line-height: 14px;
	margin: 0;	
}
.last_news_header .last_news_archive{
	float: left;
	color: #666;
	margin-left: 4px;
	padding-left: 14px;
	background: url("images/arrow1.png") left center no-repeat;
}
.last_news_content ul li{
	display: block;
	margin-bottom: 6px;
	padding-right: 11px;
	background: url("images/arrow2.png") right center no-repeat;
}
.last_news_content ul li a{
	font-family: Tahoma;
	font-size: 12px;
	color: #666;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.last_news_content ul li a:hover{
	color: #B49004;
}
.support_block_content{
	border: 1px solid  #EBEBEB;
	width: 85%;
	text-align: center;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	color: #C69E00;
	font-size: 18px;
	height: 210px;
	padding-top: 27px;
	overflow: hidden;
}
.support_block_content span.tel{
	color: #1C1C23;
	font-size: 22px;
	font-family: Tahoma;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}
.support_block_content span.mail{
	color: #1C1C23;
	font-size: 20px;
	font-family: Tahoma;
	display: block;
	margin-bottom: 5px;
	margin-top: 5px;
}
.ads_block h6{
	height: 30px;
	line-height: 16px;
	border-bottom: 1px solid  #C7C7C7;
	overflow: hidden;
	margin: 0;
	margin-bottom: 14px;
	font-size: 19px;
	font-weight: normal;
	color: #1C1C23;
}
.ads_block p{
	color: #333;
	font-size: 14px;
	text-align: center;
	width: 80%;
	line-height: 24px;
	padding-bottom: 55px;
	margin-right: auto;
	margin-left: auto;
	font-weight: normal;
}
.register_btn{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
	display: block;
	background: #D5AD11;
	font-size: 19px;
	height: 48px;
	line-height: 46px;
}
.footer{
	background: #435082;
	padding-top: 20px;
	margin-top: 15px;
	padding-bottom: 7px;
}
.footer b{
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 17px;
	display: block;
}
.copyright{
	background: #303757;
	padding: 6px 0;
}
ul.ft li{
	margin-bottom: 7px;
	display: block;
}
ul.ft li a{
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	color: #B3B3C5;
	font-size: 11px;
	font-family: Tahoma;
}
ul.ft li a:hover{
	color: #fff;
	padding-right: 14px;
}
.pay_box{
        padding-top: 8px;
	text-align: left;
}
.rules_alert{
	text-align: left;
	color: #A5A5A5;
}
.rules_alert a{
	color: #fff;
}
.copyright_right{
	text-align: right;
	color: #A5A5A5;
}
.copyright_right a{
	color: #fff;
}
.copyright_left{
	text-align: left;
	color: #A5A5A5;	
}
.copyright_left img{
	margin-right: 3px;
}
.panel{
	margin-bottom: 0;	
}
.panel-heading{
	cursor: pointer;
}
.panel-heading .panel-title{
	line-height: 22px;
}
.panel-heading i{
	font-size: 24px;
	margin-left: 10px;
}
.panel-body{
	padding-bottom: 0;
	padding-top: 0;
}
.mnu ul{
	margin-bottom: 0;
}
.mnu ul li{
	height: 40px;
	line-height: 38px;
	border-bottom: 1px solid  #D7DADD;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.mnu ul li:hover{
	background: #F1F2F3;
}
.mnu ul li a{
	display: block;
	padding-right: 10px;
}
.mnu ul li:last-child{
	border-bottom: none;
}
.login_link{
	position: absolute;
	right: 50%;
	top: 50%;
	margin-right: -50px;
	margin-top: -50px;
	background: #EBEBEB;
	z-index: 99;
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 15px;
	color:#303757;
	padding-top: 20px;
	border: 3px solid  #EBEBEB;	
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.login_link i{
	display: block;
	margin-bottom: 14px;
	margin-right: auto;
	margin-left: auto;
	height: 32px;
	width: 23px;
	background: url("images/lock.png") 0 0 no-repeat;
}
.login_link:hover{
	background: #303757;
	color: #fff;
	border-color: #fff;
}
.login_link:hover i{
	background-position: 0 -32px;
}
.area1_left h3, .area1_left p{
	padding-right: 25px;
	width: 95%;
}
.login_link_mobile{
	margin-bottom: 9px;
	background: #EBEBEB;
	display: block;
	height: 50px;
	font-size: 17px;
	color:#303757;
	padding-top: 6px;
	line-height: 33px;
	border: 3px solid  #EBEBEB;	
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.login_link_mobile i{
	float: right;
	margin-right: 10px;
	margin-left: 10px;
	height: 32px;
	width: 23px;
	background: url("images/lock.png") 0 0 no-repeat;
}
.login_link_mobile:hover{
	background: #303757;
	color: #fff;
	border-color: #fff;
}
.login_link_mobile:hover i{
	background-position: 0 -32px;
}
.modal_login_content{
	padding: 0 12px 20px 12px;
}
.login_inp{
	height: 40px;
	display: block;
	padding: 0 5px;
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid  #DADADA;
	text-align: right;
	font-size: 14px;
	margin-bottom: 5px;
	color: #333;
}
.login_modal_recovery{
	color: #303757;
	font-size: 13px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
	display: block;
	width: 85%;
	margin-right: auto;
	margin-left: auto;	
}
.login_modal_btn{
	height: 44px;
	cursor: pointer;
	display: block;
	width: 85%;
	margin-right: auto;
	margin-left: auto;	
	text-align: center;
	color: #fff;
	font-size: 18px;
	border: none;
	padding-bottom: 5px;
	background: #D5AD11;
	padding: 0;	
}
.login_modal_btn:hover, .register_link:hover, .register_btn:hover{
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: #806B1B;	
}
.login_header{
	overflow: hidden;
	height: 89px;
	width: 94%;
	margin-right: auto;
	margin-left: auto;
	background: #fff url("images/dot.png") 0 50px repeat-x;
}
.login_header_into {
    background: none repeat scroll 0 0 #fff;
    color: #303757;
    font-size: 17px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding: 0 22px;
    width: 155px;
}
.login_header_into i{
	float: right;
	margin-left: 7px;
	height: 32px;
	margin-top: -5px;
	width: 23px;
	background: url("images/lock.png") 0 0 no-repeat;
}
#owl_slideshow{
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
}
#owl_slideshow img{
	max-width: 100%;
	height: auto;
	display: block;
}
.owl-dots{
	width: 100%;
	text-align: center;
}
.owl-dots .owl-dot{
	display: inline-block;
}
.owl-dots span{
	display: block;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	background: #364068;
	border-radius: 50%;
}
.owl-dots .owl-dot.active span{
	background: #CBCBCB;
}
.quick_content{
	display: none;
}
.blc_header{
	width: 100%;
	height: 50px;
	color: #fff;
	padding-right: 20px;
	border: 1px solid  #E3E7EA;
	border-bottom: none;
	line-height: 45px;		
}
.blc_content{
	border: 1px solid  #E3E7EA;
	border-top: none;
	background: #fff;
}
.blc_header h6{
	font-size: 15px;
	font-weight: normal;
	float: right;
	margin: 0;
	line-height: 45px;	
}
.blc1 .blc_header{
	background: #38B4EE;
}
.blc2 .blc_header{
	background: #5974D9;
}
.blc3 .blc_header{
	background: #D95974;
}
.blc2{
	margin-bottom: 19px;
}
.list_of_blc2 ul li{
	padding-top: 15px;
	padding-bottom: 12px;
	display: block;
	width: 100%;
	font-size: 12px;
	color: #666;
	font-family: Tahoma;
	padding-right: 23px;
}
.list_of_blc2 ul li:nth-child(even){
	background: #EEF3F7;
}
.list_of_blc2 ul li strong{
	display: block;
	font-size: 15px;
	font-family: "Zdl_Font", "Zdl_Font_Number";
	color: #212A4A;
	margin-bottom: 10px;
}
.show_all{
	float: left;
	margin-left: 15px;
	color: #fff;
}
.list_of_blc2 ul li a{
	color: #EB2A2A;
}
.blc3_table{
	padding-top: 12px;
	padding-bottom: 12px;
}
.blc3_table table{
	width: 98%;
	margin-right: auto;
	margin-left: auto;
}
.blc3_table table tr{
	background: none;
}
.blc3_table table tr td{
	border-bottom: 1px solid  #EEF1F4;
	text-align: center;
}
.blc3_table table thead th{
	background: #F0F0F0;
	font-size: 14px;
	color: #212A4A;
	text-align: center;
}
.blc3_table tbody tr{
	color: #535964;
}
.tbl_option img{
	margin-right: 4px;
	margin-left: 4px;
}
.blc1{
	margin-bottom: 18px;
}
.sample_chart{
	height: auto;
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
#dashboard{
	background: #fff;
	border: 1px solid  #E4E8EB;
	padding: 15px 0;
	margin-bottom: 17px;
	text-align: center;
	overflow: hidden;
	margin-top: 16px;
}
.my_cell1{
	text-align: right;
	border-left: 1px solid #DDE0E3;
	color: #D5AD11;
	font-family: Tahoma;
}
.my_cell2{
	color:#38B4EE;
	font-family: Tahoma;
	border-left: 1px solid #DDE0E3;
}
.my_cell3{
	color:#5974D9;
	font-family: Tahoma;
	border-left: 1px solid #DDE0E3;
}
.my_cell4{
	color:#38B4EE;
	font-family: Tahoma;
	border-left: 1px solid #DDE0E3;
}
.my_cell5{
	color: #D95974;
	font-family: Tahoma;
	border-left: 1px solid #DDE0E3;
}
.my_cell6{
	color: #D5AD11;
	font-family: Tahoma;
}
.my_cell1 h1{
	font-size: 36px;
	margin: 0;	
	padding-right: 28px;
	line-height: 50px;
	font-family: "Zdl_Font","Zdl_Font_Number";
	font-weight: normal;
	margin-top: 10px;
}
.dashboard b{
	font-weight: normal;
	display: block;
	font-size: 13px;
	color: #666;
	margin-bottom: 12px;
	font-family: "Zdl_Font", "Zdl_Font_Number";
	margin-top: 10px;
}
.dashboard{
	font-size: 23px;
}
#dashboard .row{
	margin: 0;
	width: 100.5%;
}
#dashboard .row > div{
	padding: 0;
}
#dashboard .row > div > div{
	height: 80px;
}
.user_tools{
	width: 100%;
	height: 100px;
}
.user_tools ul li{
	width: 12.5%;
	height: 100px;
	float: right;
	background: #212A4A url("images/pixel.png") left 0 repeat-y;
	text-align: center;
	position: relative;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;	
}
.user_tools ul li img{
	display: block;
	margin-top: 25px;
	margin-right: auto;
	max-width: 100%;
	margin-left: auto;
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.user_tools ul li img.vm{
	margin-top: 28px;
}
.user_tools ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF;
	overflow: hidden;	
}
.user_tools ul li a span{
	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	right: 0;
	bottom: 23px;
}
.user_tools ul li:hover, .user_tools ul li.active{
	background-color: #D5AD11;
}
.user_tools ul li:hover img{
	opacity: 1;
	filter: alpha(opacity=100);
}
.exit{
	float: left;
	padding-right: 23px;
	background: url("images/exit.png") right center no-repeat;
	color: #333;
	margin-left: 25px;
	margin-top: 10px;
}
.quick_links_link{
	float: left;
	padding-right: 37px;
	padding-left: 10px;
	background: url("images/user.png") right center no-repeat;
	color: #333;
	margin-left: 5px;
	margin-top: 10px;
	border-left: 1px solid  #C4C4C4;
	border-right: 1px solid  #C4C4C4;
	color: #333;
}
.quick_links_link i {
    color: #b7b7b7;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
}
.quick_links_container{
	position: relative;
	float: left;
}
.quick_content{
	-webkit-box-shadow: 2px 2px 3px #C1C7CE;
	box-shadow: 2px 2px 3px #C1C7CE;
	width: 170px;
	position: absolute;
	right: 0;
	top: 50px;
	z-index: 999;
	background: #fff;
}
.quick_content ul li{
	height: 30px;
	display: block;
	border-bottom: 1px solid  #E0E3E6;
}
.quick_content ul li a{
	display: block;
	padding-right: 10px;
	font-size: 13px;
	line-height: 28px;
	color: #61809B;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.quick_content ul li:last-child{
	border: none;
	padding: 0;
	margin: 0;
}
.quick_content ul li a:hover{
	color: #D5AD11;
}
.copyright.inner_copyright .copyright_right{
	color: #fff;
	padding-right: 15px;
}
.copyright.inner_copyright .copyright_left{
	color: #fff;
	padding-left: 15px;
}
.copyright.inner_copyright .copyright_right a{
	color: #D5AD11;
}
.inner_copyright_sep{
	border-bottom: 1px solid #3F496B;
	margin-top: 15px;
}
.copyright_links ul{
	margin: 0;
}
.copyright_links ul li{
	float: left;
}
.copyright_links ul li a{
	color: #AFB6D0;
	line-height: 22px;
	padding: 0 7px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.copyright_links ul li a:hover{
	color: #FFF;
}
.login_modal_close{
	position: absolute;
	left: 2px;
	top: 2px;
	cursor: pointer;
	color: #EF0000;
}
.ft_end_title{
    text-align:right;
    color: #fff;
    margin-bottom: 5px;
   display:none;
}
/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){
	.menu ul li{
		margin-right: 5px;
		margin-left: 5px;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){
	.header{
		padding-bottom: 0;
		border-bottom: none;
	}
	.area1_left h3, .area1_left p{
		padding-right: 0px;
		width: 85%;
	}
	.my_cell1 h1{
		text-align: center;
		padding-right: 0;
	}
	.inner_logo.logo{
		float: right;
		margin-right: 15px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	.ft_end_title{
		text-align: center;
		margin-bottom: 10px;
	}
	.pay_box{
		text-align: center;
		padding-bottom: 15px;
	}
	.rules_alert{
		text-align: center;
	}
	.copyright_right{
		text-align: center;
	}
	.copyright_left{
		margin-top: 5px;
		text-align: center;
	}
	#owl_slideshow{
		width: 98%;	
	}	
	.user_tools, .user_tools ul li{
		height: 70px;
	}
	.user_tools ul li span{
		font-size: 0px;
	}
	.copyright_links{
		display: none;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.support_block_content span.mail{
		font-size: 14px;
	}
	.register_btn{
		font-size: 16px;
	}
	.last_news_header h6{
		font-size: 15px;
	}
	.area1 p{
		line-height: 22px;
	}
	#owl_slideshow{
		width: 50%;	
		margin-bottom: 20px;
	}		
	.slideshow{
		width: 100%;
	}
	.slideshow b{
		text-align: center;
	}
	.ft_list{
		width: 50%;
	}
	#dashboard .row > div > div{
		font-size: 14px;
	}
	#dashboard .row > div > div b{
		font-size: 10px;
	}
	.my_cell1 h1{
		font-size: 20px;
	}
	.user_tools ul li{
		width: 25%;
	}
	.user_tools{
		margin-bottom: 9px;
	}
	.userpanel_links{
		width: 100%;
		display: block;
	}
}
  

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	.last_news_content ul li a{
		font-size: 11px;
	}
	.area1 h3{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.area1 p{
		font-size: 11px;
		line-height: 20px;
		width: 100%;
	}
	.blc3_table table tr td{
		font-size: 12px;
	}
}


/*For All Table*/
table { 
  width: 100%; 
  border-collapse: collapse; 
  overflow: hidden;
}
tr:nth-of-type(odd) { 
  background: #F5F5F5; 
}
th { 
  background: #F5F5F5; 
  color: #EE3217; 
  font-weight: normal; 
  border: 1px solid #EBEBEB; 
}
td, th { 
  padding: 8px; 
  border: 1px solid #fff; 
  text-align: right; 
}
@media only screen and (max-width : 992px){
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		right: -9999px;
	}
	tr { border: 1px solid #ccc;  background: #F5F5F5;}
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-right: 50%; 
	}
	td:before { 
		position: absolute;
		top: 6px;
		right: 6px;
		width: 45%; 
		padding-left: 10px; 
	}
 	td:nth-of-type(1):before { content: attr(data-title); }
	td:nth-of-type(2):before { content: attr(data-title); }
	td:nth-of-type(3):before { content: attr(data-title); }
	td:nth-of-type(4):before { content: attr(data-title); }
 	td:nth-of-type(5):before { content: attr(data-title); }
	td:nth-of-type(6):before { content: attr(data-title); }
	td:nth-of-type(7):before { content: attr(data-title); }
	td:nth-of-type(8):before { content: attr(data-title); }
	td:nth-of-type(9):before { content: attr(data-title); }
 	td:nth-of-type(10):before { content: attr(data-title); }
	td:nth-of-type(11):before { content: attr(data-title); }
	td:nth-of-type(12):before { content: attr(data-title); }
	td:nth-of-type(13):before { content: attr(data-title); }
	td:nth-of-type(14):before { content: attr(data-title); }
 	td:nth-of-type(15):before { content: attr(data-title); }
	td:nth-of-type(16):before { content: attr(data-title); }
	td:nth-of-type(17):before { content: attr(data-title); }
	td:nth-of-type(18):before { content: attr(data-title); }
	td:nth-of-type(19):before { content: attr(data-title); }
	td:nth-of-type(20):before { content: attr(data-title); }
}
/*For All Table*/