/*
Theme Name: wp-bootstrap
Theme URI: http://320press.com/wpbs
Description: A simple responsive theme based on the Bootstrap framework. Includes multiple page templates, two different sidebars and a theme options panel.
Version: 2.1
Author: 320press
Author URI: http://320press.com
Tags: black, white, one-column, two-columns, flexible-width, custom-background, custom-colors, custom-menu, full-width-template, theme-options
License: GNU General Public License v2.0 & Apache License 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html http://www.apache.org/licenses/LICENSE-2.0
*/

/* micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

/* wp-specific classes */
.wp-caption{

}

.wp-caption-text{

}

.sticky{

}

.gallery-caption{

}

/* layout */

body{
  padding-top: 0;
}

/* Admin Top Navigation fixes */

body.admin-bar .navbar-fixed-top{
  top: 28px;
}
.navbar .nav{
  margin-right: 0;
}
.navbar .brand{
  color: #000 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  font-weight: bold !important;
}

.nav-container{
  padding-left: 0;
  padding-right: 0;
}

#inner-header{
  width: 100%;
}

input, textarea, select, .uneditable-input {
  margin-bottom: 0;
}

.navbar-form, .navbar-search {
  margin: 0 0 9px;
}

.navbar-search{
  padding-left: 0;
}

#s{
  width: 100px;
}

#content{
  padding: 10px 0 0;
}

.more-link{
  white-space: nowrap;
}

.footer-links{
  float: right;
  margin-bottom: 18px;
}

.aspic{
float: left;
}

.footer-social{
float: right;important!
}

.footer-links .menu{
  list-style-type: none;
  margin-left: 0;
}

.footer-links .menu li{
  float: left;
  margin-left: 10px;
}

/* blog styling*/
#main .blog-title h1{
  font-size: 24px;
  font-weight: bolder;
}
#main .blog-title h1 small{
  font-size: 16px;
  font-weight: bolder;
}
#main .blog-title h1 span{
  display: block;
  margin-top: 5px;
}
#main .blog-title{
  margin-top: 0px;
}

/* post styling */

#main p.meta{
  font-weight:bolder;
  color: #808080;
}

#main p.meta{
  font-weight:bolder;
  color: #808080;
}

#main p.meta a{
  font-weight:bolder;
  text-decoration:none;
  color: #FFFFFF;
}

#main p.meta .label{
  text-transform:none;
}

#main article{
  margin-bottom: 18px;
  border-bottom: 1px solid #eeeeee;
  padding: 0 0 9px;
}

#main article header h3{
  font-size: 18px;
  font-weight: bolder;
  line-height: 27px;
  margin-bottom: 20px;
}

#main article p{
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}

#main article img{
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 320px) {
  #main article img{
    margin: 10px auto;
  }
}

#main article p.lead{
  margin-bottom: 14px;
}


.sidebar{
  margin-top: 18px !important;
}

#main article footer{
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  min-height: 20px;
}

#main article footer a.edit-post{
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}


.post:hover a.edit-post{
  display: inline;
}

#main .post-links{
  margin-top:20px;
}
.wp_social_bookmarking_light_clear{
  margin-top:10px;
  margin-bottom:10px;
}

/* single styling */
.page-header h1.single-title {
    font-size:20px;
    line-height:30px;
    font-weight:bolder;
}

p.tags{
  line-height: 20px;
}

div[id*='attachment_']{
  max-width: 100%;
  height: 100%;
}

#credit320{
  background: url('images/320press_mini.png') no-repeat left top transparent;
  padding-left: 20px;
}

#main .hero-unit img{
  margin-bottom: 1em;
}

#main article img{
  height: auto;
  max-width: 100%;
}

img.alignleft{
  margin-right: 10px;
  float: left;
}

img.alignright{
  margin-left: 10px;
  float: right;
}

img.aligncenter{
  display: block;
  margin: 0 auto;
}

.post header img{
  margin-bottom: 18px;
}

/*
.archive #main .post h3{
  line-height: 24px;
  margin-bottom: 10px;
}
*/

video {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-wrapper {
  width: 630px;
  max-width: 100%;
  margin-bottom: 18px;
}

/* page styling */

#featured-carousel .item{
  width: 970px;
  height: 600px;
}

.carousel-caption p{
  display: none;
}

.page-template-page-homepage-php #main article{
  border-bottom: none;
}

.page-template-page-homepage-php .hero-unit,
.blog .hero-unit{
  padding: 1em;
}

.hero-unit h1 {
  font-size: 3em;
}

/* comments */



#comments{
  line-height: 24px;
  margin-bottom: 18px;
}

ol.commentlist,
ol.commentlist ul.children{
  list-style-type: none;
  margin-left: 0;
}

.comment .vcard div{
  margin-top: 8px;
  padding: 0 10px;
}

ol.commentlist time{
  font-size: .8em;
  color: #eeeeee;
}

ol.commentlist div.comment-author{
  position: relative;
}

ol.commentlist a.comment-edit-link{
  color: #ffffff;
  text-decoration: none;
  padding-left: 5px;
}

ol.commentlist span.edit-comment{
  position: absolute;
  right: 0;
  top: 8px;
}

ol.commentlist li.bypostauthor{
  background-color: #dddddd;
}

ol.commentlist ul.children li{
  background-color: #cccccc;
}

ol.commentlist ul.children li ul.children li{
  background-color: #bbbbbb;
}

ol.commentlist ul.children li ul.children li ul.children li{
  background-color: #aaaaaa;
}

ol.commentlist article{
  border-bottom: none !important;
}

a.comment-reply-link{
  position: absolute;
  right: 0;
  bottom: 0;
}

#comment-nav ul{
  list-style-type: none;
  margin: 0;
}

#comment-form-elements{
  list-style-type: none;
  margin: 0;
}

.comment .vcard .avatar{
  padding-right: 0;
}

.comment .vcard .comment-text{
  margin-left: 0;
}

img.avatar{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-left: 1px solid #ddd;

}

ol.commentlist li{
  padding-right: 10px;
  background-color: #F0F0F0;
}

#pings{
  margin-bottom: 9px;
}

ol.pinglist{
  list-style-type: none;
  margin: 0 0 9px 0;
}

#comment{
  width: 270px;
}

ol.commentlist #respond{
  padding: 5px 10px;
}

/* specific post-type styles */

/* image attachment */

.attachment #main .post_content img{
  max-width: 100%;
}

.ie8 #main .media-grid img{
  max-height: none !important;
  max-width: none !important;
}

.attachment-img{
  margin-bottom: 18px;
}

.metadata p.alert-message{
  margin-right: 0;
  margin-bottom: 18px;
}

#gallery-nav{
  list-style-type: none;
  margin-left: 0;
}

li.next a, li.previous a{
  position: relative;
}

li.next a:hover:before{
  content: "\2190";
  position: absolute;
  display: block;
  top: 42%;
  left: 0;
  background-color: #BFBFBF;
  color: #444;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

li.previous a:hover:before{
  content: "\2192";
  position: absolute;
  display: block;
  top: 42%;
  right: 0;
  background-color: #BFBFBF;
  color: #444;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}


/* widget styles */

.widget{
  margin-bottom: 18px;
}

.widgettitle{
  margin-bottom: 9px;
}

#tag-cloud{
  margin-bottom: 18px;
  line-height: 160%;
}

/* for some reason the bs version currently available for download doesn't have this style */
.label{
  text-transform: uppercase;
}

/* override standard link hover for the tag cloud widget */
#tag-cloud a:hover,
.tags a:hover{
  color: #ffffff;
  text-decoration: none;
}

#tag-cloud a{
  white-space: pre;
  text-transform: uppercase;
}

/* change default form padding for search */

.widget_search form{
  padding-left: 0;
}

.widget_search input{
  width: 121px;
}

.widget_recent_entries li{
  margin-bottom:3px;
}

/* calendar widget */

#calendar_wrap{
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}

#wp-calendar{
  width: 100%;

}

#wp-calendar caption{
  font-weight: bold;
  padding: 8px;
}

#wp-calendar tr{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#wp-calendar tr:last-child{
  border-bottom: none;
}

#wp-calendar td{
  text-align: center;
  padding: 8px 0;
}

blockquote.pull-left{
  padding-right: 15px;
}



@media only screen and (min-width: 768px) {
  .carousel-caption p{
    display: block;
  }
}

@media only screen and (min-width: 980px) {
  body{
    padding-top: 60px;
  }

  .container-fluid{
    max-width: 970px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }


  #inner-footer{
    padding: 0;
  }

  #content{
    padding-left: 0;
    padding-right: 0;
  }

  .topbar-inner{
    padding: 0;
  }

  .topbar form.pull-right {
    float: right;
  }

  .navbar-form, .navbar-search {
    margin-top: 6px;
    margin-bottom: 0;
  }

  .navbar-search{
    padding-left: 0;
  }

  .sidebar{
    margin-top: 0 !important;
  }

  .widget_search input{
    width: 230px;
  }

  .blog .hero-unit{
    margin-top: 10px;
  }

  .page-template-page-homepage-php .hero-unit,
  .blog .hero-unit{
    padding: 60px;
  }

  .hero-unit h1 {
    font-size: 60px;
  }

  /* hide edit comment button and show on hover on desktop version */
  .edit-comment{
    display: none;
  }

  .vcard:hover .edit-comment{
    display: inline-block;
  }

  #s{
    width: 210px;
    margin-bottom: 6px;
  }

  .widget_search input{
    width: 209px;
  }

  .comment .vcard .comment-text{
    padding-left: 0;
    padding-right: 0;
  }
}


/* ------------------------------------
 TODO:2013.05.13, 2013.05.14
------------------------------------ */

/*font-family:arial*/
body {
  font-family:Arial, Helvetica, sans-serif, "MS Gothic", Osaka-mono, monospace;
}

#header-right #header-text {
  font-weight:normal;
}
#header-right .nav-tabs {
  border-bottom: none;
}

.link-underline {
  text-decoration:underline;
}

p.lead {
  line-height:1.5;
  margin:-6px 0 6px 0;
  padding:0;
}

/*color*/
.full-shadow h2 {
  color:rgb(35,35,35) !important;
}


/*no-shadow, all contains*/
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow:none !important;
  border-bottom:1px solid rgb(226,226,226) !important;
}

.shadow-wrap, .full-shadow {
  box-shadow:none !important;
  background:none !important;
  border-bottom:1px solid rgb(226,226,226);
}

#main article .shadow-wrap  {
  border:none;
  }



.page-footer .inset-img {
  box-shadow:none;
  background: transparent !important;
}


/*social bookmarks*/
iframe.twitter-share-button.twitter-count-horizontal {
  min-width:86px !important;
  max-width:110px !important;
}

/*global nav*/
.dropdown-menu {
  background-color:#ebeaea;
  border:1px solid #e5e3e1;
  box-shadow:none;
  color:none;
  margin-top:-8px;
}

.navbar .nav > li > .dropdown-menu:after, .dropdown-menu:before {
  display:none !important;
}

.dropdown-menu li a {
  background: none !important;
  color:#08c !important;
  text-align:left;
}

.dropdown-menu li a:hover {
  color:#058 !important;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background:none;
}

.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.active a {
  background:none !important;
  border:none !important;
  box-shadow:none !important;
}

.navbar .nav > li a{
  background:none !important;
  border:none !important;
  box-shadow:none !important;
}

/*primary-btnをglobalnav配下へ.btn-primary2へrename*/


.btn-primary.btn.nav-btn.menu-item.menu-item-type-custom.menu-item-object-custom a {
margin:0;
padding: 0;
color:#FFF !important;
text-shadow:none;
}

/* breadcrumps */
#breadcrump-list {
  border:1px solid rgb(226,226,226) !important;
  padding:6px 0;
  vertical-align:middle;
}

/* footer --- */
.fb_iframe_widget.footer-facebook {
  margin-bottom:6px;
  border:1px solid #cecece;
  background-color:#FFF;
}

.twitter-follow-button.twitter-follow-button {
  margin-bottom:3px;
}

p.trustE {
    margin-top: 10px;
}

li.footer-tweet {
  background:url(http://www.freee.co.jp/wp-content/uploads/2013/05/footer-twitter-g.png) 0 0 no-repeat;
  display:table-cell;
  vertical-align:middle;
  text-indent:36px;
  height:30px;
  padding-top:6px;
}

li.footer-facebook {
  background:url(http://www.freee.co.jp/wp-content/uploads/2013/05/footer-facebook-g.png) 0 0 no-repeat;
  display:table-cell;
  vertical-align:middle;
  text-indent:36px;
  height:30px;
  padding-top:6px;
}

li.footer-youtube {
  background:url(http://www.freee.co.jp/wp-content/uploads/2013/05/footer-youtube-g.png) 0 0 no-repeat;
  display:table-cell;
  vertical-align:middle;
  text-indent:36px;
  height:30px;
  padding-top:6px;
}

li.footer-google {
  background:url(http://www.freee.co.jp/wp-content/uploads/2013/08/google3-e1376534038216.png) 0 0 no-repeat;
  display:table-cell;
  vertical-align:middle;
  text-indent:36px;
  height:30px;
  padding-top:6px;
}

.attribution {
  display:none;
  height:0;
  margin:0;
}



body {
  padding-top:60px;
}

footer#footer {
  background-color:#f6f6f6 !important;
}
#widget-footer .span2 .span4{
  margin-left: 0;
}
footer#widget-footer.clearfix.full-shadow {
  background-color:#f6f6f6 !important;
}

#footer-copy.clearfix.full-noshadow {
  padding:20px 0 !important;
  bottom:0 !important;
  height:60px;
  font-size: 13px;
}
#footer-copy.clearfix.full-noshadow .span12{
  font-size: 14px;
}

/* page */
.page-template-page-full-width-page-php .page-header h1 {
  line-height:1 !important;
  margin-bottom:-40px;
  font-size:30px !important;
}

.page-header h1 {
  font-size:30px;
  line-height:1.0;
  margin:0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.page-header {
}

body.page-template-page-left-sidebar-php #main article h1 {
  text-align:left !important;
  line-height:1 !important;
  margin-bottom:-2px;
}

table.about-table {
  width:100%;
  border-collapse:collapse;
  border:1px solid rgb(51,51,51);
}

table.about-table th, table.about-table td {
  border:1px solid rgb(51,51,51);
  padding:5px 10px;
  vertical-align:middle;
  text-align:left;
}

table.widetable {
  width:100%;
  border-collapse:collapse;
  margin:1.7em 0 0 0;
}

table.widetable th.col1,table.widetable th.col2 {
  text-align:center;
}

table.widetable th, table.widetable td {
  padding:0.5em 0.6em;
  font-weight:normal;
}

table.widetable th.col1 {
  border-right:1px solid #cecece !important;
  border-bottom:1px solid #cecece;
}

table.widetable th.col2 {
  border-right:1px solid #cecece !important;
  border-bottom:1px solid #cecece;
}

table.widetable th.col3 {
  border-right:1px solid #cecece;
}

table.widetable td.col4 {
  border-left:1px solid #cecece;
  border-bottom:1px solid #cecece;
}

table.widetable td.col5 {
  border-left:1px solid #cecece;
  border-top:1px solid #cecece;
}

table.widetable th.text-left {
  text-align:left;
}

table.widetable th.text-left-btm {
  font-weight:bold;
  vertical-align:bottom;
  text-align:left;
}

.w80 {
  width:80%;
  text-align:center;
}

h3.table-h3 {
  line-height:1.0 !important;
}

.big { font-size:large; } .small { font-size:small }
p.lead {
  font-size:14px;
}

.btn-primary {
  background-color: #5d88c4 !important;
  background-repeat: repeat;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d88c4), color-stop(100%, #3f6eaf));
  background-image: -webkit-linear-gradient(#5d88c4, #3f6eaf);
  background-image: -moz-linear-gradient(#5d88c4, #3f6eaf);
  background-image: -o-linear-gradient(#5d88c4, #3f6eaf);
  background-image: linear-gradient(#5d88c4,#3f6eaf);
  text-shadow: 0 0 0 #fff;
  border-color: #4a7abe;
  border-bottom: #38629c 1px solid;
  color: #fff !important;
  font-weight: bolder;
  text-decoration:none;
}

.btn-primary:hover {
  background-color:#6EB7DB !important;
  background-image:linear-gradient(#4A7ABE, #38629C);
  background-position:left top;
  background-repeat:repeat;
  color:#FFFFFF !important;
 }

.la-item {
  margin:0 !important;
  padding:0 !important;
 }

.adjust {
  margin-top:-60px !important;
  margin-bottom:-30px !important;
  height:0;
 }

 #main.span7 article {
  box-shadow:none !important;
}

/* inset-img */
.page-footer .inset-img {
  padding: 10px;
  text-align: center;
  border: 1px #d6d6d6 solid;
  background: #fff;
  -webkit-box-shadow:none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;

}
.page-footer .inset-img:hover {
  -webkit-box-shadow:none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;*/
}

p,p.lead { color:rgb(55,55,55) !important; }

header {
  position:auto;
  z-index:1;
}

pp_pic_holder.pp_default {
  positon:auto;
  z-index:1000;
}

#fancy_outer,#fancy_overlay {
  position:auto;
  z-index:3000 !important;
}

/* end TODO:2013.05.13 */

/* 2013.05.15 Takada */

#sidebar2{
  background: #fefefe;
  font-style: 14px;
  box-sizing:border-box;
}


#sidebar2 .widgettitle{
  background: #fff;
  border-right: 8px #ffff solid;
  font-size: 14px;
  padding: 8px 13px 4px 0px;
  font-weight: bolder;
  border-bottom: 1px #eeeeee solid;
  margin-left: 2px;
}
#main #sidebar2 #text3.textwidget p iframe {
  border:none !important;
  }
html#.textwidget #FB_HiddenContainer.pluginSkinLight._4s7c { border:none !important; }
html#facebook._4s7c { border:none !important; }
body.category #main article.post{
  border-bottom: 1px #fff solid;
}


.widget_search form{
  padding: 10px;
}
.widget_search input{
  width: 100px;
}


#news-archive-footer h3{
  border-bottom: 1px #fff solid ;
}
#news-archive-footer ul{
  list-style: none;
}

.border-wrap{
  border: 1px #ccc solid;
  padding: 20px;
}
.border-wrap-side{
  border:1px solid #cecece;
  padding: 10px;
}

/* home b*/
.under-top-image{
  padding-top: 40px;
}

/* old home */
.static-banner {
  overflow: hidden;
}
.flexslider-wrapper .caption,
.static-banner .caption {
  padding: 5% 0;
}
.flexslider-wrapper .caption h1,
.static-banner .caption h1,
.flexslider-wrapper .caption h2,
.static-banner .caption h2,
.flexslider-wrapper .caption h3,
.static-banner .caption h3,
.flexslider-wrapper .caption h4,
.static-banner .caption h4,
.flexslider-wrapper .caption h5,
.static-banner .caption h5,
.flexslider-wrapper .caption p,
.static-banner .caption p {
  margin-top: 0;
  font-weight: normal;
}
@media (max-width: 320px) {
  .static-banner .caption h1 {
    font-weight: bold;
    font-size: 20px!important;
  }
}
.flexslider-wrapper .caption .btn,
.static-banner .caption .btn {
  margin: 0;
}
.flexslider-wrapper .caption .inverse,
.static-banner .caption .inverse {
  background: #242424;
  color: #ffffff;
  padding: 5px;
  display: inline-block;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.flexslider-wrapper .caption .inverse a,
.static-banner .caption .inverse a {
  color: rgba(255, 255, 255, 0.9);
}
.flexslider-wrapper div.underlay-img,
.static-banner div.underlay-img {
  position: relative;
}
.flexslider-wrapper div.underlay-img img.underlay-img,
.static-banner div.underlay-img img.underlay-img {
  position: absolute;
  top: 0;
}
.flexslider-wrapper div.underlay-img .caption,
.static-banner div.underlay-img .caption {
  z-index: 100001;
  position: absolute;
}


#cfo_digest .caption{
  margin:0;
  text-align:center;
}
#cfo_digest .caption h2{
  font-size:26px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
    }
#cfo_digest .caption p{
  margin:2px 0;
  font-weight: normal;
  font-size:14px;
 }
#cfo_digest .caption img{
  width: 180px;
}

#cfo_digest .caption .btn{
  margin-top: 20px;
  font-size:22px;
}

.title-divider {
  text-align: left;
  margin-bottom: 1em;
  background: #ffffff url(../img/bg_divider.png) left center repeat-x;
  padding: 0;
}

.title-divider2 {
   font-size: 24px;
  line-height: 36px;
}

#main_container h1 {
  font-size: 31.5px;
  font-weight: bold;
}
#main_container h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}
#main_container h3 {
  font-size: 24.5px;
  font-weight: bold;
}
#main_container h4 {
  font-size: 17.5px;
  font-weight: bold;
}
#main_container h5 {
  font-size: 14px;
  font-weight: bold;
}
#main_container h6 {
  font-size: 11.9px;
  font-weight: bold;
}
#main_container h1 small {
  font-size: 21.7px;
}
#main_container h2 small {
  font-size: 18px;
  line-height: 36px;
}
#main_container h3 small {
  font-size: 14px;
}
#main_container h4 small {
  font-size: 14px;
}

#main_container {
  font-size: 13px;
}

#main_container li{
  line-height:18px;
}

#main_container .enforce-color{
  color:#001377;
}

#main_container .de-em {
  font-weight: normal;
  color: rgba(51, 51, 51, 0.8);
}

#main_container .block .title {
  font-size: 18px;
  margin: 0 0 0.5em 0;
  line-height: 1;
}

#main_container .title-divider span {
  background: #ffffff;
  padding-right: 0.5em;
}
#main_container .title-divider small {
  display: block;
  color: rgba(51, 51, 51, 0.6);
}

#main_container .block{
  margin-top:0px;
}

#main_container h2{
  border-left:10px solid #888;
  border-bottom:1px solid #888;
  padding:2px 2px 2px 10px;
}

 #main_container .under-top-image{
  margin-top:30px;
}

.features .thumbnails li:before,
.features .thumbnails li:after {
  display: table;
  content: "";
  line-height: 0;
}
.features .thumbnails li:after {
  clear: both;
}
.features .thumbnails li img {
  background-color: #f4f4f4;
  background-image: -moz-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fafafa, #ebebeb);
  background-image: -o-linear-gradient(top, #fafafa, #ebebeb);
  background-image: linear-gradient(to bottom, #fafafa, #ebebeb);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffebebeb', GradientType=0);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.features .thumbnails li img:hover {
  background-color: #ededed;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e0e0e0);
  background-image: -o-linear-gradient(top, #f5f5f5, #e0e0e0);
  background-image: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe0e0e0', GradientType=0);
}
.features .thumbnails li i {
  float: right;
  margin: 0.5em;
}

/* pricing */
.pricing-stack .well {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cdcdcd;
  padding: 10px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1px 5px #cdcdcd;
  -moz-box-shadow: 1px 1px 5px #cdcdcd;
  box-shadow: 1px 1px 5px #cdcdcd;
}
.pricing-stack .well .title {
  margin: 10px 0 0 0;
  color: rgba(36, 36, 36, 0.8);
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(240, 240, 240, 0.8);
  text-align: center;
  font-weight: normal;
  text-transform: none;
}
.pricing-stack .well .price {
  margin: 1em -14px;
  padding: 20px 0;
  text-shadow: none;
  color: #55a79a;
  display: block;
  border: 1px solid #cdcdcd;
  background: #ffffff;
  text-align: center;
  font-size: 16px;
}
.pricing-stack .well .price .fancy {
  font-size: 28px;
}
.pricing-stack .well .price .digits {
  font-size: 32px;
  font-weight: bold;
}
.pricing-stack .well ul.points li {
  border-bottom: 1px dotted rgba(189, 189, 189, 0.8);
  padding: 0.2em;
}
.pricing-stack .well .btn {
  display: block;
  width: 90%;
  margin: 20px auto 0 auto;
}
.pricing-stack .well.active {
  border-color: #cbe6f3;
  border-width: 1px;
  -webkit-box-shadow: 1px 2px 5px #cdcdcd;
  -moz-box-shadow: 1px 2px 5px #cdcdcd;
  box-shadow: 1px 2px 5px #cdcdcd;
}
.pricing-stack .well.active .title {
  font-size: 28px;
  text-transform: uppercase;
}
.pricing-stack .well.active .price {
  background: #cbe6f3;
  background-color: #cbe6f3;
  background-image: -moz-linear-gradient(top, 6eb7db, #cbe6f3;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb7db), to(#cbe6f3));
  background-image: -webkit-linear-gradient(top, #6eb7db, #cbe6f3);
  background-image: -o-linear-gradient(top, #6eb7db, #cbe6f3);
  background-image: linear-gradient(to bottom, #6eb7db, #cbe6f3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6eb7db', endColorstr='#ffcbe6f3', GradientType=0);
  border-color: rgb(32,141,195);
  color: #ffffff;
}
.pricing-stack .well.active .btn {
  margin-top: 40px;
}

/* 20130604 */
@media (max-width: 979px) {
/* tablet */
html body{
padding-top: 0 !important;
}
.brand{
float:none;
margin: 0 auto;
}
#header-right{
float:none;
width:100%;
}
#header-text{
width:100%;
float:none;
}
#inner-header nav{
text-align:center;
}
}

/* 20130623 */
#header-right #header-text{
width:250px;
line-height:1.4;
}
