html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
html {
	background: #222B34;
	background-image: linear-gradient(#1C242D, #222B34);
	background-repeat: no-repeat;
	color: white;
	font-size: 14px;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}
.clearfix {
	clear: both
}
p {
	line-height: 1.5em;
}
a {
	text-decoration: none;
}
hr {
	background: rgba(20,26,32,0.5);
	border: 0;
	height: 1px;
	margin: 1.5em 0 1em 0
}
.header-nav {
	background: #242F39;
	position: relative;
	vertical-align: top;
	font-size: 14px;
}
.header-nav-inner {
	margin: auto;
	position: relative;
	max-width: 960px;
}
a.header-nav-logo {
	background: #ED3B1C;
	color: white;
	display: inline-block;
	font-family: "Arial";
	font-size: 20px;
	height: 20px;
	margin: 0 8px 0 0;
	padding: 6px 8px;
	text-transform: uppercase;
	vertical-align: top;
}
.header-nav-links {
	display: inline-block;
}
.header-nav-links ul li {
	display: inline-block;
}
.header-nav-links ul li>a, .header-nav-links ul li div {
	display: block;
}
.header-nav-links ul li a {
	color: white;
	height: 20px;
	padding: 8px 12px 4px 12px;
}
.header-nav-links ul li a:hover, .header-nav-links ul li:hover {
	background: #2E3740;
	color: #ED3B1C;
}
.header-nav-links ul li.has-children {
	position: relative;
}
.header-nav-links ul li.has-children:hover ul {
	display: block;
}
.header-nav-links ul li.has-children ul {
	display: none;
	min-width: 350px;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background: #2E3740;
	z-index: 1000;
}
.header-nav-links ul li.has-children ul li {
	min-width: 110px;
}
.header-nav-right {
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
	vertical-align: top;
	z-index: 30000;
}
.fa-search:before {
	content: "\f002";
}
a.header-nav-search {
	color: white;
	display: inline-block;
	height: 20px;
	padding: 8px 12px 4px 12px;
	vertical-align: top;
}
a.header-nav-search:hover {
	background: #2E3740;
}
a.header-profile {
	color: white;
	display: inline-block;
	height: 20px;
	padding: 8px 12px 4px 12px;
	vertical-align: top;
}
a.header-profile:hover {
	background: #2E3740;
}
.profile input {
  display:block !important;
  background: #101822 !important;
	width: 420px;
	margin: 0;
}
.s {
  margin-top:25px;
}
.s input[type=submit] {
  width:200px !important;
}

input[type=text], input[type=password], input[type=email], textarea {
	box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
	background: #1C242D;
	border: none;
	border-radius: 0;
	color: white;
	display: inline-block;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 16px;
	margin-right: 2px;
	padding: 8px 8px;
	box-sizing: border-box;
	-webkit-appearance: none;
}
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus, input[type=email]:active, input[type=email]:focus, textarea:active, textarea:focus, .customSelect:active, .customSelect:focus {
	background-color: #202933;
	outline: none;
}
input[type=text], input[type=password], input[type=email] {
	min-height: 36px;
}
textarea {
	display: block;
}
a.button, button, input[type=submit] {
	color: white;
	border-radius: 0;
	cursor: pointer;
	display: inline-block;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 0.5px;
	line-height: 13px;
	padding: 9px 13px;
	text-transform: uppercase;
	-webkit-appearance: none;
	border-width: 1px;
	border-style: solid;
	border-color: #92bb35;
	background: rgba(10,10,10,0.15);
	border-image: 1px solid linear-gradient(#6d8c27, #85ab30);
	color: #92bb35 !important;
	text-shadow: 1px 1px 0 rgba(10,10,10,0.4);
}
a.button:hover, button:hover, input[type=submit]:hover {
	background-image: linear-gradient(rgba(146,187,53,0.06), rgba(146,187,53,0.03));
}
.beauty {
	box-shadow: 0 0 3px rgba(10,10,10,0.4);
	border: 1px solid #242F39;
	border-radius: 1px;
	background: #242F39;
	padding: 4px;
	clear: right;
}
.searchbox {
	margin: auto;
	position: relative;
	max-width: 960px;
	margin-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;/*display:none;*/
}
.home-search {
	padding: 8px;
	text-align: center;
}
.home-search input[type=text] {
	width: 79%;
	margin: 0;
}
.home-search input[type=submit] {
	width: 19%;
	margin: 0;
	padding: 9px 0;
}
.movielist {
	margin: auto;
	position: relative;
	max-width: 960px;
	margin-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.movielist h1 {
	font-size: 16px;
	color: white;
	position: relative;
	padding: 6px 4px;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
	font-weight: normal;
}

.movielist h1 small {
    display: block;
    color: #C4C4C4;
    font-size: 16px;
    margin-top: 4px;
    text-transform: none;
}
.movitem {
	/* background:#231F58;*/
	position: relative;
	height: 295px;
	width: 160px;
	float: left;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	color: #ffffff;
}
.movitem .mask {
	background: -moz-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom, transparent 60%, rgba(0,0,0,0.8) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0 );
	position: absolute;
	top: 0px;
	right: 5px;
	bottom: 55px;
	left: 5px;
	opacity: 1;
	z-index: 1;
	border-radius: 3px;
}
.movitem .mask:hover {
	opacity: 0.1;
}
.movitem a {
	color: #ffffff;
}
.movitem .moviname {
	margin-top: 5px;
	text-align: center;
	font-size: 14px;
	text-shadow: 0 2px 2px #0a0a0a;
}
.movitem .movyear {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 14px;
	background: #ED3B1C;
	padding: 4px;
	border-radius: 3px;
	text-shadow: 0 2px 2px #0a0a0a;
	color: #fff;
}
.movitem img {
	border-radius: 3px;
}



.movitem2 {
	/* background:#231F58;*/
	position: relative;
	height: 166px;
	width: 120px;
	float: left;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
	color: #ffffff;
  margin-bottom:15px;
}
.movitem2 .mask {
	background: -moz-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(top, transparent 60%, rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom, transparent 60%, rgba(0,0,0,0.8) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000', GradientType=0 );
	position: absolute;
	top: 0px;
	right: 15px;
	bottom: 5px;
	left: 5px;
	opacity: 1;
	z-index: 1;
	border-radius: 3px;
}
.movitem2 .mask:hover {
	opacity: 0.1;
}
.movitem2 a {
	color: #ffffff;
}
.movitem2 .moviname {
	margin-top: 5px;
	text-align: center;
	font-size: 14px;
	text-shadow: 0 2px 2px #0a0a0a;
}
.movitem2 .movyear {
	position: absolute;
	top: 8px;
	right: 18px;
	font-size: 14px;
	background: #ED3B1C;
	padding: 4px;
	border-radius: 3px;
	text-shadow: 0 2px 2px #0a0a0a;
	color: #fff;
}
.movitem2 img {
	border-radius: 3px;
}


.pagination {
	text-align: center;
	padding: 15px;
	margin: 15px 0 15px 0;
}
.pagination a {
	margin: 5px;
	border: 1px solid #92BB35;
	padding: 5px 10px;
	/*border-radius: 10px;*/
	color: #92BB35;
	font-weight: bold;
}
.pagination a:hover {
	/*color:#ffffff;*/
	background: #2E3740;
}
.pagination .current {
	font-weight: bold;
	margin: 5px;
	border: 1px solid #92BB35;
	padding: 5px 10px;
	/*	border-radius: 10px;*/
	background-color: #92BB35;
	color: #fff;
}



.nodisplay {
	display: none;
}
.footer {
	color: rgba(255,255,255,0.6);
	margin: auto;
	margin-top: 15px;
	padding: 15px 0 25px 0;
	max-width: 960px;
	border-top: 1px solid rgba(255,255,255,0.6);
	;
	text-align: center;
	font-size: 12px;
}
.footer a {
	color: #ffffff;
}
.content {
	margin: auto;
	position: relative;
	max-width: 960px;
	margin-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content .title {
	position:relative;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
	color: white;
	margin: 36px 0 24px 0
}
.content .title a {
	color: white;
}

.content .shortcontent {
font-size:12px;
		text-align: center;
	color: #C4C4C4;
	margin-bottom: 5px;
	/*font-style: italic;*/
	/*margin-bottom: 28px*/
}


a.button.button-twitter, button.button-twitter, input[type=submit].button-twitter {
	border-width: 1px;
	border-style: solid;
	border-color: #1dbac9;
	background: rgba(10,10,10,0.15);
	border-image: 1px solid linear-gradient(#158894, #1aaab7);
	color: #1dbac9 !important;
	text-shadow: 1px 1px 0 rgba(10,10,10,0.4)
}
a.button.button-twitter:hover, button.button-twitter:hover, input[type=submit].button-twitter:hover {
	background-image: linear-gradient(rgba(29,186,201,0.06), rgba(29,186,201,0.03))
}
a.button.button-facebook, button.button-facebook, input[type=submit].button-facebook {
	border-width: 1px;
	border-style: solid;
	border-color: #6c8bcd;
	background: rgba(10,10,10,0.15);
	border-image: 1px solid linear-gradient(#4068bc, #5d7fc8);
	color: #6c8bcd !important;
	text-shadow: 1px 1px 0 rgba(10,10,10,0.4)
}
a.button.button-facebook:hover, button.button-facebook:hover, input[type=submit].button-facebook:hover {
	background-image: linear-gradient(rgba(108,139,205,0.06), rgba(108,139,205,0.03))
}
a.button.button-gplus, button.button-gplus, input[type=submit].button-gplus {
	border-width: 1px;
	border-style: solid;
	border-color: #E34429;
	background: rgba(10,10,10,0.15);
	border-image: 1px solid linear-gradient(#b72f18, #db381d);
	color: #E34429 !important;
	text-shadow: 1px 1px 0 rgba(10,10,10,0.4)
}
a.button.button-gplus:hover, button.button-gplus:hover, input[type=submit].button-gplus:hover {
	background-image: linear-gradient(rgba(227,68,41,0.06), rgba(227,68,41,0.03))
}

.content .body {
	color: #C4C4C4;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 27px;
	display: block;
	margin-bottom: 36px;
	position: relative;
	box-sizing: border-box;
	
}


.content .body .videocontainer {
	background:#000;
	max-width: 960px;
	border: 4px solid #242F39;
	text-align: center;
	/*height:500px;*/
}

.content .body h1 {
	font-size: 22px;
	line-height: 32px;
	margin: 24px 0 8px 0
}
.content .body h2, .content .body h3 {
	font-size: 18px;
	line-height: 24px;
	margin: 8px 0 8px 0
}
.content .body h1, .content .body h2, .content .body h3 {
	color: white;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0
}


.vidnav {
	text-align: center;
	background:#242F39;
	max-width: 960px;
/*	text-align:left;*/
	padding:9px 0px 4px 0px;
}


.vidnav .social {
	/*position:relative;*/
	/*margin-top: 15px;*/
	/*margin-bottom: 15px*/
}
.vidnav .social a.button {
	padding: 5px 7px
}


.vidnav li {
	display: inline;
}
.vidnav li a {
margin-right: 5px;
	border: 1px solid #92BB35;
	padding: 5px 10px;
	/*border-radius: 10px;*/
	color: #92BB35;
	font-weight: bold;
}
.vidnav li a:hover {
	/*color:#ffffff;*/
	background: #2E3740;
}
.vidnav .current {
	/*font-weight: bold;
	margin: 5px;
	border: 1px solid #5E7922;
	padding: 5px 10px;*/
	/*	border-radius: 10px;*/
	background: #5E7922;
	color: #fff;
}
.vidnav .current:hover {
	background: #5E7922 !important;
}

.vidnav .stream {
	/*background: #stream;*/
  border: 1px solid #FEBC00;
	color: #FEBC00;
}
.vidnav .stream:hover {
	/*background: #5E7922 !important;*/
}

.snapshot {

	/* background:#231F58;*/
	position: relative;
	margin-bottom:5px;
	width: 313px;
	float: left;
	/*padding: 5px;*/
	margin-right:10px;
	box-sizing: border-box;
	display: inline-block;
	color: #ffffff;

}
.snapshot img {
	border: 4px solid #242F39;	
  min-height:100px;
}

.lastsnapshot {
	margin-right:0px !important;
}


.b a {
  color:	#FBB829 !important;
}
.b {font-size:12px; margin-bottom:15px;}
.rating {
	margin:0 auto;
	display:block;
    margin-bottom: 3px;
    overflow: hidden;
    width: 130px;
    font-size: 0;
    height: 13px;
    background: url(img/star-rating-sprite.png) 0 0;
}
.rating span{float:left;display:block;height:13px;background:url(img/star-rating-sprite.png) 0 -13px;text-indent:-9999px;}

p.meta_dd {
	font-size:13px;
	float: left;
	width: calc(100% - 30px);
	margin-bottom: 6px;
	padding-bottom: 7px;
	position: relative;
	padding-left: 35px;
	line-height: 20px;
/*	color: rgba(255, 255, 255, 0.79);*/
	border-bottom: solid 1px rgba(0, 0, 0, 0.2)
}

p.meta_dd b {
	font-size:14px;
	background: rgba(255, 255, 255, 0.49);
	padding: 2px ;
	margin-right: 10px;
	color: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 22px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.tabs, iframe {
margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;

}
.tabs iframe:after{content:'';content:none}

.comments {
	box-shadow: 0 0 3px rgba(10,10,10,0.4);
	border: 1px solid #242F39;
	border-radius: 1px;
	background: #242F39;
	padding: 4px;
	clear: both;
	padding:5px;	
}

.detailbox a {
  color: #ffffff;
  
}

p.dbox {
	font-size:14px;

	
	margin-bottom: 6px;
	padding-bottom: 7px;

}

.plaeer100 {
  position:absolute;
 width: 150px; 
 height:150px; 
 /*background-color:#000; */
 z-index:5;
 position: absolute; 
 top:190px;
 left:401px;
 display:block; 
/* opacity:0.1;*/
 cursor: pointer; 
}

.button100 {
/* background-color:#000; */
 width:57px; 
 height:13px;
 position: absolute; 
 top:360px;
 left:451px;
 z-index:6;
}


/*---------------------------------*/
#mask {
  display: none;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 999;
}


.share-popup {
  text-align:center !important;
  font: 11px "Arial", "Tahoma", "Century gothic", sans-serif !important;

  font-weight: 300;
  opacity: 0.95;
  height: 140px;
  width: 350px;
  display: block;
  background: #161D24;
  padding:10px;

  border: 2px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999;
  -moz-box-shadow: 0px 0px 20px #999;
  -webkit-box-shadow: 0px 0px 20px #999;
  border: 2px solid #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #ccc;
}
.share-popup a { color: #fff; /*text-decoration:underline */}

.share-popup img.btn_close {
  float: right;
  margin: -25px -25px 0 0;
}

.login-popup {
  text-align:left !important;
  font: 11px "Arial", "Tahoma", "Century gothic", sans-serif !important;

  font-weight: 300;

  height: 290px;
  width: 500px;
  display: none;
  background: #333;

  border: 2px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999;
  -moz-box-shadow: 0px 0px 20px #999;
  -webkit-box-shadow: 0px 0px 20px #999;
  border: 2px solid #666;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #ccc;

}



.login-popup input[type="password"] {

 /* width:390px !important*/
}
  
img.btn_close {
  float: right;
  margin: -15px -15px 0 0;
}
.title1 {
  
  background-color: #000;
  padding: 10px 10px 7px 10px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #333;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}
.title2 {
  padding: 7px 10px 7px 10px;
  background: #222;
  border-bottom: 1px solid #333;
  border-top: solid 1px #000;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}
.textbox {
  color: #000 !important;
  background: #fff !important;
  font-size:13px !important;
  font-weight: 700 !important;
  /*background: #F1F1F1 url(http://html-generator.weebly.com/files/theme/input-text-40.png) no-repeat;*/
  background-position: 5px -7px !important;
  padding: 10px 10px 10px 25px !important;
  width: 425px !important;

  border: 1px solid #CCC !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
  -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff !important;
  -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF !important;
  box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF !important;
  
}
.textbox:focus {
  background-color: #FFF;
  border-color: #E8C291;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #E8C291 inset;
  box-shadow: 0 0 0 1px #E8C291 inset;
}

.textbox::-webkit-input-placeholder {
   color: #666;
}

.textbox:-moz-placeholder { /* Firefox 18- */
   color: #666;  
}

.textbox::-moz-placeholder {  /* Firefox 19+ */
   color: #666;  
}

.textbox:-ms-input-placeholder {  
   color: #666;  
}



.err {
  background-color: #FFF;
  border-color: #C30;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #C30 inset;
  -webkit-box-shadow: 0 0 0 1px #C30 inset;
  box-shadow: 0 0 0 1px #C30 inset;
}
.cntent {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
   color: #ccc;
  
}
.cntent2 {
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  display: none;
  
  color: #ccc;
  font: 13px "Arial", "Tahoma", "Century gothic", sans-serif;
  font-weight: 300;
  line-height: 1.625;
  
}
.btn1 {
  background: #42d934;
  background-image: -webkit-linear-gradient(top, #42d934, #279c29);
  background-image: -moz-linear-gradient(top, #42d934, #279c29);
  background-image: -ms-linear-gradient(top, #42d934, #279c29);
  background-image: -o-linear-gradient(top, #42d934, #279c29);
  background-image: linear-gradient(to bottom, #42d934, #279c29);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn1:hover {
  background: #3cfa48;
  background-image: -webkit-linear-gradient(top, #3cfa48, #26ab40);
  background-image: -moz-linear-gradient(top, #3cfa48, #26ab40);
  background-image: -ms-linear-gradient(top, #3cfa48, #26ab40);
  background-image: -o-linear-gradient(top, #3cfa48, #26ab40);
  background-image: linear-gradient(to bottom, #3cfa48, #26ab40);
  text-decoration: none;
}
.btn2 {
  background: #3497d9;
  background-image: -webkit-linear-gradient(top, #3497d9, #27779c);
  background-image: -moz-linear-gradient(top, #3497d9, #27779c);
  background-image: -ms-linear-gradient(top, #3497d9, #27779c);
  background-image: -o-linear-gradient(top, #3497d9, #27779c);
  background-image: linear-gradient(to bottom, #3497d9, #27779c);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;

  text-decoration: none;
  text-transform: uppercase;
}
.btn2:hover {
  background: #3caefa;
  background-image: -webkit-linear-gradient(top, #3caefa, #288cab);
  background-image: -moz-linear-gradient(top, #3caefa, #288cab);
  background-image: -ms-linear-gradient(top, #3caefa, #288cab);
  background-image: -o-linear-gradient(top, #3caefa, #288cab);
  background-image: linear-gradient(to bottom, #3caefa, #288cab);
  text-decoration: none;
}
.onload, .onerror {
  display: none;
  float: left;
  padding-bottom: 10px;
}
.onload {
  background: transparent url(/img/ajax-loader.gif) 0 0 no-repeat;
  font-size: 12px;
  padding-left: 25px;
}
.onerror {
  background: transparent;
  color: #c00;
  font-size: 13px;
}
/*---------------------------------*/
.vjs-resolution-button {
  color: #fff;
  font-family: VideoJS;
  font-weight:bold !important;
}

.vjs-resolution-button .vjs-resolution-button-staticlabel:before {
  content: '\f110';
  font-size: 1.8em;
  line-height: 1.67;
}

.vjs-resolution-button .vjs-resolution-button-label {
    font-size: 1.4em;
    line-height: 2.0em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: inherit;
    font-family:Helvetica, arial, freesans, clean, sans-serif !important;
    

}

.vjs-resolution-button ul.vjs-menu-content {
  width: 4em !important;
}

.vjs-resolution-button .vjs-menu {
  left: 0 !important;
}

.vjs-resolution-button .vjs-menu li {
  text-transform: none;
}

.review {
  position: relative;
  padding-bottom: 25px;
}
.review a {
  color: #fff;
}
.review_title {
  color:#fff;
  line-height:25px;
  text-align:middle;
}

.review_title img {
  background:#242F39;
  padding:5px;
  border-radius: 3px;
  float:left; 
}

.review_body {
  padding-left:31px;
}