@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url('http://fonts.gstatic.com/s/josefinslab/v6/46aYWdgz-1oFX11flmyEfYnF5uFdDttMLvmWuJdhhgs.ttf') format('truetype'); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEMbjGELOEJD5J8DUmxkO-A.ttf') format('truetype'); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf') format('truetype'); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf') format('truetype'); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf') format('truetype'); }
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://fonts.gstatic.com/s/ptsans/v8/FUDHvzEKSJww3kCxuiAo2A.ttf') format('truetype'); }
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('http://fonts.gstatic.com/s/oswald/v11/Y_TKV6o8WovbUd3m_X9aAA.ttf') format('truetype'); }




.ezoic-wrapper {
    @-webkit-keyframes smooth {
         {
      opacity: 0; }


         {
      opacity: 0; }


         {
      opacity: 1; }
 }

    @-moz-keyframes smooth {
         {
      opacity: 0; }


         {
      opacity: 0; }


         {
      opacity: 1; }
 }

    @-o-keyframes smooth {
         {
      opacity: 0; }


         {
      opacity: 0; }


         {
      opacity: 1; }
 }

    @keyframes smooth {
         {
      opacity: 0; }


         {
      opacity: 0; }


         {
      opacity: 1; }
 }
 }

  .ezoic-wrapper html,
  
 #stylesheet_body {
    font-weight: 300;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    background: #e8ebf0;
    text-rendering: optimizeLegibility !important; }

  .ezoic-wrapper .fb-like {
    overflow: hidden !important; }
  .ezoic-wrapper .fb-like-top {
    top: 4px; }
  .ezoic-wrapper .fb-like-extra {
    overflow: visible !important; }
  .ezoic-wrapper .banner_spacer {
    padding-top: 20px;
    display: block; }
  .ezoic-wrapper .poll_placement {
    display: none; }
  .ezoic-wrapper .navbox {
    background: gold;
    width: 100%;
    height: 1px;
    visibility: hidden;
    top: 0;
    overflow: hidden;
    position: fixed;
    display: none;
    z-index: 222; }
  .ezoic-wrapper .navboxE6 {
    background: gold;
    width: 100%;
    height: 50px;
    top: 0;
    overflow: hidden;
    position: fixed;
    display: none;
    z-index: 222; }
  .ezoic-wrapper .navboxE16 {
    background: gold;
    width: 100%;
    height: 50px;
    top: 0;
    overflow: hidden;
    position: fixed;
    display: none;
    z-index: 222; }
  .ezoic-wrapper .gsc-input {
    color: black !important; }
  .ezoic-wrapper .nb_next {
    background-color: #ff9420;
    color: white;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    display: block;
    font-size: 20px;
    font-weight: 700; }
  .ezoic-wrapper .nb_next:hover,
  .ezoic-wrapper .nb_next:focus {
    background-color: #e3821f;
    color: white; }
  .ezoic-wrapper .nb_link_fb {
    background-color: #4a6ea9; }
  .ezoic-wrapper .nb_link_tw {
    background-color: #32def4; }
  .ezoic-wrapper .nb_link_pt {
    background-color: #ca1517; }
  .ezoic-wrapper .nb_link {
    color: white;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 8px; }
  .ezoic-wrapper .nb_link:hover {
    color: #f1f1f1; }
  .ezoic-wrapper #topcontrol {
    z-index: 77; }
  .ezoic-wrapper .description000 {
    padding-bottom: 20px;
    font-style: italic; }
  .ezoic-wrapper .titleBBB {
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 8px; }
  .ezoic-wrapper .descriptionBBB {
    padding-top: 5px;
    margin: 0; }
  .ezoic-wrapper .descriptionLAST {
    padding-bottom: 20px; }
  .ezoic-wrapper .photo_credit {
    display: block !important;
    font-size: 12px;
    color: #acacac;
    line-height: 15px;
    padding-top: 4px; }
  .ezoic-wrapper .photo_credit a {
    color: #acacac; }
  .ezoic-wrapper .continue_padding {
    padding-bottom: 10px; }
  .ezoic-wrapper .top_image_story {
    display: block !important; }
  .ezoic-wrapper .top_image_story img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .radius_all {
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    border-radius: 6px !important; }
  .ezoic-wrapper .radius_left {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .ezoic-wrapper .radius_right {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .ezoic-wrapper .scroll-to-top {
    background: url('http://cdn-1.providr.com/assets/img/scroll-to-top.png') no-repeat;
    position: fixed;
    cursor: pointer;
    bottom: 24px;
    right: 20px;
    width: 35px;
    height: 35px;
    display: none;
    z-index: 99999; }
  .ezoic-wrapper .spacer {
    clear: both;
    font-size: 1%;
    display: block; }
  .ezoic-wrapper a {
    color: #e48319; }
  .ezoic-wrapper a:hover,
  .ezoic-wrapper a:active,
  .ezoic-wrapper a:focus {
    outline: none;
    text-decoration: none;
    color: #ff9420; }
  .ezoic-wrapper .padding-0 {
    padding: 0; }
  .ezoic-wrapper .custom_padding {
    padding: 18px 0 0 0; }
  .ezoic-wrapper .custom_padding_main {
    padding: 18px 0 0 0; }
  .ezoic-wrapper .custom_padding2 {
    padding: 18px 15px 0 0 !important;
    margin: 0 0 0 0 !important; }
  .ezoic-wrapper .padding-b-10 {
    padding-bottom: 10px; }
  .ezoic-wrapper .padding-b-10E6 {
    padding-bottom: 10px; }
  .ezoic-wrapper .padding-b-20 {
    padding-bottom: 20px; }
  .ezoic-wrapper .padding-ap {
    padding-top: 20px; }
  .ezoic-wrapper .padding-t-35 {
    padding-top: 35px; }
  .ezoic-wrapper .padding-np {
    padding: 25px 0 10px 0; }
  .ezoic-wrapper .padding-sp {
    padding: 0 0 35px 0; }

  .ezoic-wrapper .wrapper > .ezoic-before-el,
  .ezoic-wrapper .wrapper > .ezoic-after-el {
    display: table;
    content: " "; }
  .ezoic-wrapper .wrapper > .ezoic-after-el {
    clear: both; }
  .ezoic-wrapper .content {
    background-color: #transparent;
    max-width: 1200px;
    margin: 0 auto; }
  .ezoic-wrapper .content_main_bg {
    background-color: transparent !important;
    max-width: 11240px;
    margin: 0 auto;
    margin-top: 5px !important; }

  .ezoic-wrapper .head {
    background-image: url('http://cdn-1.providr.com/assets/img/header_bg_x.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-color: black;
    width: 100%;
    height: 220px;
    overflow: hidden; }
  .ezoic-wrapper .head_holder {
    width: 1200px;
    height: 220px;
    margin: 0 auto;
    display: block;
    background-image: url('http://cdn-6.providr.com/assets/img/header_bg.png');
    background-position: top center;
    background-repeat: no-repeat; }
  .ezoic-wrapper .head_holder_logo {
    position: relative;
    margin: 15px 0 0 0px; }
  .ezoic-wrapper .hh_share {
    float: right;
    margin-top: 154px;
    margin-right: 15px; }
  .ezoic-wrapper .hh_shareyourvideo {
    margin-bottom: 10px;
    text-align: right; }
  .ezoic-wrapper .hh_shareyourvideo:hover {
    opacity: 0.9; }

  .ezoic-wrapper .hh_share p {
    color: white;
    font-weight: bold;
    font-size: 16px; }
  .ezoic-wrapper .hh_signup {
    padding-bottom: 0px; }
  .ezoic-wrapper .hh_signup .form-control::-moz-placeholder {
    color: #c7c7c7; }
  .ezoic-wrapper .hh_signup .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; }
  .ezoic-wrapper .nav .li-search {
    padding-top: 8px;
    display: none; }
  .ezoic-wrapper .search_holder {
    color: #ff9420;
    display: inline-block;
    top: 17px;
    position: absolute;
    right: 20px; }
  .ezoic-wrapper .search_holder_box1 {
    display: inline-block;
    color: white;
    float: left;
    font-weight: bold;
    padding: 6px 0 0 0;
    font-size: 18px;
    width: 62px; }
  .ezoic-wrapper .search_holder_box2 {
    display: inline-block;
    float: left;
    width: 250px; }
  .ezoic-wrapper .search_holder_box1,
  .ezoic-wrapper .gsc-search-box {
    -webkit-animation: smooth 2s ease-in;
    -moz-animation: smooth 1s ease-in;
    -o-animation: smooth 1s ease-in;
    -ms-animation: smooth 1s ease-in;
    animation: smooth 1s ease-in; }
  .ezoic-wrapper .gsc-input-box {
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 10px;
    line-height: 14px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important; }
  .ezoic-wrapper .gsib_b {
    padding-top: 4px !important;
    padding-right: 5px; }
  .ezoic-wrapper .gsc-input {
    padding-right: 0 !important; }
  .ezoic-wrapper .gsc-search-button {
    padding-left: 5px; }
  .ezoic-wrapper .gsc-search-button-v2 {
    background-color: #ff9420 !important;
    border: white 2px solid !important;
    padding-top: 9px !important;
    padding-bottom: 7px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important; }
  .ezoic-wrapper input.gsc-input,
  .ezoic-wrapper .gsc-input-box,
  .ezoic-wrapper .gsc-input-box-hover,
  .ezoic-wrapper .gsc-input-box-focus,
  .ezoic-wrapper .gsc-search-button {
    box-sizing: content-box;
    line-height: normal; }
  .ezoic-wrapper .gsc-tabsArea div {
    overflow: visible; }
  .ezoic-wrapper .header {
    background-color: #ff9420; }
  .ezoic-wrapper .navbar {
    border-radius: 0;
    margin-bottom: 0;
    max-width: 1240px;
    margin: 0 auto;
    border: none;
    height: 75px; }
  .ezoic-wrapper .navbar .container {
    width: 100% !important; }
  .ezoic-wrapper .navbar .container .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 5px; }

  .ezoic-wrapper .navbar .nav a {
    color: white;
    font-weight: 300;
    font-size: 20px;
    display: block;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 28px;
    height: 75px; }
  .ezoic-wrapper .navbar .nav a:hover {
    color: black; }
  .ezoic-wrapper .navbar .nav .active {
    background-color: #e48319 !important;
    color: white; }
  .ezoic-wrapper .navbar .nav .active:hover {
    background-color: #e48319 !important;
    color: white; }
  .ezoic-wrapper .navbar-collapse.in {
    overflow-y: visible; }
  .ezoic-wrapper .hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: greyscale;
    position: relative;
    background: #e48319 !important;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .ezoic-wrapper .hvr-shutter-in-vertical > .ezoic-before-el {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff9420;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .ezoic-wrapper .hvr-shutter-in-vertical:hover,
  .ezoic-wrapper .hvr-shutter-in-vertical:focus,
  .ezoic-wrapper .hvr-shutter-in-vertical:active {
    color: white; }
  .ezoic-wrapper .hvr-shutter-in-vertical:hover > .ezoic-before-el,
  .ezoic-wrapper .hvr-shutter-in-vertical:focus > .ezoic-before-el,
  .ezoic-wrapper .hvr-shutter-in-vertical:active > .ezoic-before-el {
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }
  .ezoic-wrapper .navbar-brand {
    padding-top: 0; }
  .ezoic-wrapper .li-btn {
    padding-left: 5px;
    padding-right: 5px; }
  .ezoic-wrapper .li-btn-last {
    padding-left: 5px;
    padding-right: 5px; }
  .ezoic-wrapper .li-btn a,
  .ezoic-wrapper .li-btn-last a {
    padding-left: 5px !important;
    padding-right: 5px !important; }

  .ezoic-wrapper .navbar-toggle {
    color: white;
    font-size: 32px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
  .ezoic-wrapper .new_margin {
    margin-top: 25px; }
  .ezoic-wrapper .new_margin2 {
    margin-top: 25px;
    background-color: white; }
  .ezoic-wrapper .bv_video_gallery {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 34px;
    font-weight: bold;
    color: black; }
  .ezoic-wrapper .bv_video_descriptionNEW {
    padding-bottom: 15px;
    font-size: 21px;
    line-height: 28px; }
  .ezoic-wrapper .bv_video_descriptionSHOP {
    padding-bottom: 15px;
    font-size: 19px;
    line-height: 30px; }
  .ezoic-wrapper .bv_main_topNEW_wrapper {
    display: block;
    float: right;
    height: 260px;
    width: 320px;
    margin: 7px 0 0 10px; }
  .ezoic-wrapper .bv_main_topNEW_wrapper2 {
    display: block;
    float: left;
    height: 280px;
    width: 100%;
    margin: 0 0 15px 0;
    text-align: center; }
  .ezoic-wrapper .bv_main_topNEW_wrapper3 {
    display: block;
    height: 280px;
    width: 100%;
    margin: 15px 0 0 0;
    text-align: center; }
  .ezoic-wrapper .bv_main_topSHOP_wrapper {
    display: block;
    float: right;
    height: 260px;
    width: 320px;
    margin: 7px 0 0 10px; }
  .ezoic-wrapper .bv_main_topNEW {
    width: 300px;
    height: 250px;
    display: inline-block; }
  .ezoic-wrapper .bv_main_topNEW2 {
    width: 336px;
    height: 280px;
    display: inline-block; }
  .ezoic-wrapper .bv_main_topNEW3 {
    width: 336px;
    height: 280px;
    display: inline-block; }
  .ezoic-wrapper .bv_main_topSHOP {
    width: 300px !important;
    height: 250px !important;
    display: inline-block; }
  .ezoic-wrapper .upload0 .btn {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #e48319;
    color: white;
    font-size: 15px;
    width: 37px;
    height: 37px;
    border: 2px white solid; }
  .ezoic-wrapper .upload0 .btn:hover {
    background-color: #ff8600;
    color: white;
    transition: all 0.1s ease-in 0s;
    border: 2px white solid; }
  .ezoic-wrapper .upload .btn {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px; }
  .ezoic-wrapper .btn {
    font-weight: 500;
    font-size: 1em;
    border-radius: 0;
    margin-bottom: 5px; }
  .ezoic-wrapper .input-group-btn {
    font-size: 1.1em; }
  .ezoic-wrapper .input-group .dropdown-menu,
  .ezoic-wrapper .btn-group .dropdown-menu {
    margin-top: -5px; }
  .ezoic-wrapper .input-group-btn:first-child>.btn,
  .ezoic-wrapper .input-group-btn:first-child>.btn-group {
    margin-right: 0px; }
  .ezoic-wrapper .input-group-btn>.btn+.btn {
    margin-left: -4px; }
  .ezoic-wrapper .btn-radius {
    border-radius: 3px !important; }
  .ezoic-wrapper .btn-group-vertical .btn {
    border-radius: 0px !important;
    margin-bottom: 0px; }
  .ezoic-wrapper .dropdown-menu li a {
    font-size: 0.9em; }
  .ezoic-wrapper .btn-top1 {
    background-color: #cc2d14;
    border: 1px solid #cc2d14; }
  .ezoic-wrapper .btn-top2 {
    background-color: #3c56a2;
    border: 1px solid #3c56a2; }
  .ezoic-wrapper .btn-top3 {
    background-color: #55acee;
    border: 1px solid #55acee; }
  .ezoic-wrapper .btn-top1:hover {
    color: white;
    background-color: #d9534f; }
  .ezoic-wrapper .btn-top2:hover {
    color: white;
    background-color: #4c67b5; }
  .ezoic-wrapper .btn-top3:hover {
    color: white;
    background-color: #64b6f4; }
  .ezoic-wrapper .btn-topNEW {
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold; }
  .ezoic-wrapper .btn-topNEW:focus,
  .ezoic-wrapper .btn-topNEW:active {
    color: white; }
  .ezoic-wrapper .video_arrow_left {
    position: absolute;
    z-index: 3;
    left: 15px;
    opacity: 0.8;
    bottom: 0;
    top: 0;
    height: 100%; }
  .ezoic-wrapper .video_arrow_left img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5; }
  .ezoic-wrapper .video_arrow_right {
    position: absolute;
    z-index: 3;
    right: 15px;
    opacity: 0.8;
    bottom: 0;
    top: 0;
    height: 100%; }
  .ezoic-wrapper .video_arrow_right img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5; }
  .ezoic-wrapper .video_arrow_left:hover {
    opacity: 1; }
  .ezoic-wrapper .video_arrow_right:hover {
    opacity: 1; }
  .ezoic-wrapper .gallery_arrow_left {
    position: absolute;
    z-index: 3;
    left: 15px;
    opacity: 0.8;
    bottom: 0;
    top: 0;
    height: 100%; }
  .ezoic-wrapper .gallery_arrow_left img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5; }
  .ezoic-wrapper .gallery_arrow_right {
    position: absolute;
    z-index: 3;
    right: 15px;
    opacity: 0.8;
    bottom: 0;
    top: 0;
    height: 100%; }
  .ezoic-wrapper .gallery_arrow_right img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5; }
  .ezoic-wrapper .gallery_arrow_left:hover {
    opacity: 1; }
  .ezoic-wrapper .gallery_arrow_right:hover {
    opacity: 1; }
  .ezoic-wrapper .bv_gallery_holder {
    padding-bottom: 5px;
    padding-top: 0px;
    margin-bottom: 5px; }
  .ezoic-wrapper .bv_video_holder .bvh_title {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    opacity: 0.9;
    padding: 15px;
    border-right: 2px solid #ffc600;
    position: absolute;
    z-index: 3;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: white; }
  .ezoic-wrapper .bv_video_holder {
    height: 0;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 54%;
    position: relative; }
  .ezoic-wrapper .bv_gallery_holder iframe {
    height: 433px; }
  .ezoic-wrapper .bv_video_holder iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .ezoic-wrapper .bv_video_holder_facebook iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 10px; }
  .ezoic-wrapper .bv_video_holder_instagram {
    height: inherit;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; }
  .ezoic-wrapper .bv_video_holder_instagram iframe,
  .ezoic-wrapper .bv_video_holder_instagram div {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .ezoic-wrapper .bv_video_holder_wqntv script {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .ezoic-wrapper .bv_video_holder_wqntv iframe {
    height: 400px;
    padding-bottom: 7px; }
  .ezoic-wrapper .bv_video_holder_fox script {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .ezoic-wrapper .bv_video_holder_fox iframe {
    width: 100% !important;
    height: 400px;
    padding-bottom: 7px; }
  .ezoic-wrapper .bv_video_holder_script script {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
  .ezoic-wrapper .bv_video_holder_script iframe {
    height: 400px;
    padding-bottom: 7px; }
  .ezoic-wrapper .by_author {
    font-size: 16px;
    padding-bottom: 15px;
    margin-top: -10px; }
  .ezoic-wrapper .by_team {
    color: #222222;
    font-size: 16px;
    margin-top: -10px;
    padding-bottom: 15px; }
  .ezoic-wrapper .bv_video_name {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 34px;
    font-weight: bold;
    color: black; }
  .ezoic-wrapper .bv_video_description {
    font-size: 16px;
    padding-bottom: 15px; }
  .ezoic-wrapper .bv_video_social {
    font-size: 16px;
    padding-bottom: 15px; }
  .ezoic-wrapper .bv_link:hover > .bv_video_title {
    text-decoration: underline; }
  .ezoic-wrapper .bv_share_box {
    color: black;
    font-size: 18px;
    font-weight: bold;
    background-color: #fdd932;
    border: 1px solid #d7a000; }
  .ezoic-wrapper .bv_share_box_text {
    padding-top: 17px;
    padding-left: 10px;
    display: inline-block;
    float: left; }
  .ezoic-wrapper .bv_share_box_share {
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    float: left; }
  .ezoic-wrapper .bv_share_box_fb {
    padding-top: 13px;
    display: inline-block;
    float: left; }
  .ezoic-wrapper .bv_share_box_btn_r {
    padding-right: 5px; }
  .ezoic-wrapper .bv_share_box_btn_l {
    padding-left: 5px; }
  .ezoic-wrapper .bv_share_box_btn a {
    font-size: 18px; }
  .ezoic-wrapper .vb_fblike {
    padding: 55px 0 0 0;
    display: block;
    text-align: left; }
  .ezoic-wrapper .header_top_banner {
    padding: 18px 0 0 0 !important; }
  .ezoic-wrapper .np_buttons {
    width: 110px;
    margin: 0 5px 20px 5px; }
  .ezoic-wrapper .bv_link {
    color: white;
    text-decoration: none;
    display: block;
    overflow: hidden; }
  .ezoic-wrapper .bv_link:hover {
    color: white;
    text-decoration: underline !important; }
  .ezoic-wrapper .bv_video_title {
    padding: 6px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 15px;
    position: absolute;
    z-index: 12;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-wrap: normal;
    margin-right: 15px;
    border-right: #ed1847 2px solid; }
  .ezoic-wrapper .bv_video_title2 {
    padding: 6px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 1px;
    margin-left: 1px;
    position: absolute;
    z-index: 12;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: block;
    text-wrap: normal;
    margin-right: 15px;
    border-right: #ed1847 2px solid;
    text-align: left; }
  .ezoic-wrapper .bv_link:hover > .bv_video_title2 {
    text-decoration: underline !important; }
  .ezoic-wrapper .side_video {
    padding: 0 0 0 0;
    margin-bottom: 15px; }
  .ezoic-wrapper .side_video3 {
    margin-bottom: 10px;
    padding: 0 5px; }

  .ezoic-wrapper .ms_title_on {
    display: inline-block; }
  .ezoic-wrapper .ms_title_off {
    display: none; }
  .ezoic-wrapper .ms_title {
    color: white;
    font-size: 22px;
    font-weight: normal;
    height: 50px;
    margin: 0 10px 10px 5px;
    padding: 10px 20px 6px 12px;
    position: relative;
    width: 97%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-left: 2px solid #cc2d14;
    background: -moz-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fc1010), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: -o-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: -ms-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: linear-gradient(to right, #fc1010 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc1010', endColorstr='#00ffffff', GradientType=1); }
  .ezoic-wrapper .ms_title span {
    padding-left: 24px; }
  .ezoic-wrapper .ms_title2 {
    color: white;
    font-size: 22px;
    font-weight: normal;
    height: 50px;
    margin: 0 0px 18px 0px;
    padding: 9px 0 6px 0px;
    position: relative;
    width: 100%;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-left: 2px solid #cc2d14;
    background: -moz-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fc1010), color-stop(100%, transparent));
    background: -webkit-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: -o-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: -ms-linear-gradient(left, #fc1010 0%, transparent 100%);
    background: linear-gradient(to right, #fc1010 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc1010', endColorstr='#00ffffff', GradientType=1); }
  .ezoic-wrapper .ms_title2 span {
    padding-left: 10px; }
  .ezoic-wrapper .cio_btn * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .ezoic-wrapper .cio_btn {
    display: block;
    color: white !important;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px !important;
    height: 54px;
    line-height: 54px;
    font-weight: 900;
    font-size: 24px !important;
    text-align: center; }

  .ezoic-wrapper .cio_btn_padding {
    padding-left: 0; }
  .ezoic-wrapper .tr_social-sharing * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .ezoic-wrapper .tr_social-sharing {
    background-color: #b90310;
    color: white !important;
    display: block;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px !important;
    height: 54px;
    line-height: 54px;
    font-weight: 900;
    font-size: 24px !important;
    text-align: center; }
  .ezoic-wrapper .tr_social-sharing:hover {
    background-color: #cc2d14;
    color: white !important; }
  .ezoic-wrapper .tr_social-sharing_padding {
    width: 100% !important; }
  .ezoic-wrapper .social-sharing3 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .ezoic-wrapper .social-sharing3 a {
    display: block;
    color: white;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px !important; }
  .ezoic-wrapper .social-sharing3 a:hover {
    color: white; }
  .ezoic-wrapper .social-sharing3 span,
  .ezoic-wrapper .social-sharing3 div {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    font-size: 12px; }
  .ezoic-wrapper .social-sharing3 .icon {
    float: left;
    font-size: 26px !important; }
  .ezoic-wrapper .social-sharing3 .icon i {
    display: block;
    padding-top: 16px; }
  .ezoic-wrapper .social-sharing3 .icon > .ezoic-before-el {
    line-height: 28px; }
  .ezoic-wrapper .social-sharing3.is-large a {
    height: 54px;
    line-height: 54px;
    overflow: hidden; }
  .ezoic-wrapper .social-sharing3.is-large a span,
  .ezoic-wrapper .social-sharing3.is-large a div {
    height: 54px;
    line-height: 54px;
    font-size: 18px; }
  .ezoic-wrapper .social-sharing3.is-large a .icon {
    padding: 1px 10px 0 7px;
    margin-top: -2px; }
  .ezoic-wrapper .social-sharing3.is-large a .icon > .ezoic-before-el {
    line-height: 54px; }
  .ezoic-wrapper .share-title {
    font-weight: 900;
    font-size: 24px !important;
    padding-right: 10px; }
  .ezoic-wrapper .share-title p {
    margin: 0;
    padding: 0px; }
  .ezoic-wrapper .share-title p.stc1 {
    display: inline-block; }
  .ezoic-wrapper .share-title p.stc1a {
    display: inline-block; }
  .ezoic-wrapper .is-large .share-title {
    padding-right: 16px; }
  .ezoic-wrapper .share-facebook3 {
    background-color: #ff9420;
    color: white !important; }
  .ezoic-wrapper .share-facebook3:hover {
    background-color: #e48319;
    color: white !important; }
  .ezoic-wrapper .social-sharing * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .ezoic-wrapper .social-sharing a {
    display: block;
    color: white;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px !important; }
  .ezoic-wrapper .social-sharing a:hover {
    color: white; }
  .ezoic-wrapper .social-sharing span,
  .ezoic-wrapper .social-sharing div {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    font-size: 12px; }
  .ezoic-wrapper .social-sharing .icon {
    float: left;
    font-size: 26px !important; }
  .ezoic-wrapper .social-sharing .icon i {
    display: block;
    padding-top: 16px; }
  .ezoic-wrapper .social-sharing .icon > .ezoic-before-el {
    line-height: 28px; }
  .ezoic-wrapper .social-sharing.is-large a {
    height: 54px;
    line-height: 54px;
    overflow: hidden; }
  .ezoic-wrapper .social-sharing.is-large a span,
  .ezoic-wrapper .social-sharing.is-large a div {
    height: 54px;
    line-height: 54px;
    font-size: 18px; }
  .ezoic-wrapper .social-sharing.is-large a .icon {
    padding: 1px 10px 0 7px;
    margin-top: -2px; }
  .ezoic-wrapper .social-sharing.is-large a .icon > .ezoic-before-el {
    line-height: 54px; }
  .ezoic-wrapper .share-title {
    font-weight: 900;
    font-size: 24px !important;
    padding-right: 10px; }
  .ezoic-wrapper .share-title p {
    margin: 0;
    padding: 0px; }
  .ezoic-wrapper .share-title p.stc1 {
    display: inline-block; }
  .ezoic-wrapper .share-title p.stc1a {
    display: inline-block; }
  .ezoic-wrapper .share-title p.stc2 {
    display: none !important; }
  .ezoic-wrapper .share-title p.stc3 {
    display: none !important; }
  .ezoic-wrapper .share-title p.stc4 {
    display: none !important; }
  .ezoic-wrapper .share-title p.stc5 {
    display: none !important; }
  .ezoic-wrapper .is-large .share-title {
    padding-right: 0px; }
  .ezoic-wrapper .share-like-holder {
    display: inline-block;
    width: 104px;
    margin-right: 10px;
    float: left;
    border: white 2px solid;
    height: 54px !important;
    text-align: center;
    background-color: white; }
  .ezoic-wrapper .share-like-holder .clicklike {
    background-image: url('http://cdn-4.providr.com/assets/img/fb_like_bg.png');
    background-position: center middle;
    background-repeat: no-repeat;
    width: 140px;
    height: 54px !important;
    display: none; }
  .ezoic-wrapper .share-like-holder .fb-like {
    padding-top: 13px;
    display: inline-block; }
  .ezoic-wrapper .share-facebook {
    background-color: #3b5998; }
  .ezoic-wrapper .share-facebook:hover {
    background-color: #2d4373; }
  .ezoic-wrapper .share-facebook2 {
    background-color: #3b5998;
    display: inline-block;
    float: left;
    width: 100%; }
  .ezoic-wrapper .share-facebook2:hover {
    background-color: #2d4373; }
  .ezoic-wrapper .share-count {
    display: none !important;
    float: right;
    position: relative;
    background-color: white;
    padding: 0 8px;
    margin-right: 0px;
    font-size: 20px !important;
    line-height: 20px;
    color: #333333;
    border: 1px solid #3b5998;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in; }
  .ezoic-wrapper .share-count.is-loaded {
    opacity: 1; }
  .ezoic-wrapper .share-count > .ezoic-before-el,
  .ezoic-wrapper .share-count > .ezoic-after-el {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid; }
  .ezoic-wrapper .share-count > .ezoic-before-el {
    left: -6px;
    border-right-color: #ececec; }
  .ezoic-wrapper .share-count > .ezoic-after-el {
    left: -5px;
    border-right-color: white; }
  .ezoic-wrapper a:hover .share-count {
    background-color: white; }
  .ezoic-wrapper a:hover .share-count > .ezoic-after-el {
    border-right-color: white; }
  .ezoic-wrapper .is-large .share-count {
    padding: 0 14px; }
  .ezoic-wrapper .tumblr-cont {
    display: none; }
  .ezoic-wrapper .s_img {
    width: 100%;
    height: auto;
    border: #888888 1px solid; }
  .ezoic-wrapper .s_img2 {
    width: 100%;
    height: auto;
    margin: 0 auto !important; }
  .ezoic-wrapper .s_img3_holder {
    background-color: #e7e7e7;
    display: block;
    width: 100%;
    height: 100%; }
  .ezoic-wrapper .s_img3 {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto !important; }
  .ezoic-wrapper .side_banner {
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center; }
  .ezoic-wrapper .bv_grid_line {
    padding: 0; }
  .ezoic-wrapper .bv_bottom_banner {
    margin-bottom: 15px;
    text-align: center; }
  .ezoic-wrapper .bv_main_item_banner_holder {
    padding-top: 20px;
    text-align: center; }
  .ezoic-wrapper .bv_main_item_banner_holder2 {
    padding-top: 0px;
    text-align: center; }
  .ezoic-wrapper .bv_main_item_banner_holderTop {
    padding-top: 0px;
    text-align: center; }
  .ezoic-wrapper .bv_main_item_banner_holder3 {
    padding-bottom: 13px;
    text-align: center; }
  .ezoic-wrapper .bv_main_top1 {
    width: 728px;
    height: 90px; }
  .ezoic-wrapper .bv_shop_holder {
    display: none; }
  .ezoic-wrapper .bv_shop_top1 {
    display: none !important; }
  .ezoic-wrapper .bv_main_bottom2 {
    width: 728px;
    height: 90px; }
  .ezoic-wrapper .bv_main_bottom3 {
    width: 728px;
    height: 90px; }
  .ezoic-wrapper .bv_main_before_comments {
    width: 728px;
    height: 90px; }
  .ezoic-wrapper .bv_main_bottom4 {
    display: none !important; }
  .ezoic-wrapper .bv_main_bottom5 {
    width: 728px !important;
    height: 90px !important; }
  .ezoic-wrapper .bv_main_item_banner {
    display: none !important; }
  .ezoic-wrapper .bv_main_item_bannerTop {
    display: none !important; }
  .ezoic-wrapper .bv_main_item_banner2 {
    display: none !important; }
  .ezoic-wrapper #footer {
    background-color: transparent; }
  .ezoic-wrapper .fcr {
    width: 50%;
    text-align: left;
    color: black;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 0px 10px 0px;
    margin-top: 0px;
    height: 40px;
    overflow: hidden;
    float: left; }
  .ezoic-wrapper .fcr span {
    display: inline-block;
    line-height: 24px;
    vertical-align: top; }
  .ezoic-wrapper .fcr2 {
    width: 50%;
    text-align: right;
    color: black;
    font-size: 13px;
    font-weight: normal;
    padding: 0px 0px 10px 0px;
    margin-top: 0px;
    height: 40px;
    overflow: hidden;
    float: left; }
  .ezoic-wrapper .fcr2 a.fcr2_text {
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
    color: black; }
  .ezoic-wrapper .fcr2 a.fcr2_text:hover {
    text-decoration: none;
    color: black; }
  .ezoic-wrapper .fcr2 a.fcr2_logo {
    background-image: url("http://cdn-4.providr.com/assets/img/providr.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 96px;
    height: 25px;
    display: inline-block;
    overflow: hidden;
    text-indent: 400px !important; }
  .ezoic-wrapper .footer-bottom {
    padding: 25px 0 10px 0; }
  .ezoic-wrapper .footer-bottom .footer-menu {
    text-align: center; }
  .ezoic-wrapper .footer-bottom .copy-left {
    text-align: left; }
  .ezoic-wrapper .footer-bottom .copy-right {
    text-align: right; }
  .ezoic-wrapper .footer-menu li:first-child {
    padding-left: 0; }
  .ezoic-wrapper .footer-menu li {
    padding: 0; }
  .ezoic-wrapper .footer-menu li {
    padding: 0 20px; }
  .ezoic-wrapper .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
  .ezoic-wrapper .footer-menu li a {
    font-size: 14px;
    line-height: 24px;
    padding: 0 5px;
    color: black; }
  .ezoic-wrapper .footer-menu li a:hover {
    font-size: 14px;
    transition: all 0.3s ease-in-out 0s;
    color: #e48319; }
  .ezoic-wrapper .footer-bottom a,
  .ezoic-wrapper .footer-bottom p {
    color: black; }

  .ezoic-wrapper .n_unit_padding {
    padding: 0 10px; }
  .ezoic-wrapper .n_gallery_padding {
    padding: 0 5px; }
  .ezoic-wrapper .n_unit {
    width: 100%;
    display: block;
    background: none repeat scroll 0 0 white;
    border-bottom: 3px solid #ff9420;
    float: left;
    margin-bottom: 6%;
    padding: 0.8em;
    position: relative;
    color: black; }
  .ezoic-wrapper .n_unit:hover {
    background-color: #f9f9f9;
    color: black !important; }
  .ezoic-wrapper .n_unit:focus {
    color: black; }
  .ezoic-wrapper .n_unit img {
    width: 100%;
    height: auto;
    margin-bottom: 8px; }
  .ezoic-wrapper .n_unit span {
    width: 100%;
    height: 69px;
    text-align: left;
    font-size: 19px;
    line-height: 22px;
    font-weight: 300;
    overflow: hidden;
    display: block; }
  .ezoic-wrapper .nuc-wrapper {
    font-size: 16px;
    font-weight: bold;
    height: 24px;
    left: 17px;
    margin-bottom: -14px;
    position: absolute;
    top: 13px;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    display: none; }
  .ezoic-wrapper .nucww-wrapper {
    font-size: 14px;
    height: 24px;
    left: 3px;
    margin-bottom: -14px;
    position: absolute;
    top: 20px;
    z-index: 100;
    display: none; }
  .ezoic-wrapper .nucww-wrapper > .ezoic-before-el {
    border-color: #ffbd03 #ffbd03 transparent transparent;
    border-style: solid;
    border-width: 4px;
    content: " ";
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0; }
  .ezoic-wrapper .nucww-wrapper > .ezoic-after-el {
    border-color: #ffc600 transparent #ffc600 #ffc600;
    border-style: solid;
    border-width: 12px;
    content: " ";
    height: 0;
    position: absolute;
    right: -20px;
    top: 0;
    width: 20px; }
  .ezoic-wrapper .nucww-wrapper div {
    background: none repeat scroll 0 0 #ffc600;
    color: #444444 !important;
    display: block;
    float: left;
    line-height: 24px;
    padding: 0 5px 0 10px; }
  .ezoic-wrapper .bv_main_side_MP {
    width: 300px;
    height: 600px;
    display: inline-block; }
  .ezoic-wrapper .bv_main_side5 {
    width: 300px;
    height: 250px; }
  .ezoic-wrapper .bv_main_side6 {
    width: 300px;
    height: 600px; }
  .ezoic-wrapper .bv_shop_side1 {
    width: 300px;
    height: 250px;
    display: inline-block; }
  .ezoic-wrapper .bv_shop_side2 {
    display: none !important; }

  .ezoic-wrapper .n_unit_gallery {
    width: 100%;
    display: block;
    background: none repeat scroll 0 0 white;
    border: 1px solid #e0e0e0;
    float: left;
    margin-bottom: 3.5%;
    position: relative;
    color: black;
    height: 252px;
    background-color: #efefef; }
  .ezoic-wrapper .n_unit_gallery:hover {
    background-color: #8cdcf2;
    color: white; }
  .ezoic-wrapper .n_unit_gallery img {
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    z-index: 5; }
  .ezoic-wrapper .text-center {
    text-align: center; }
  .ezoic-wrapper .n_shop_holder {
    padding: 0; }
  .ezoic-wrapper .n_shop_padding {
    padding: 0 10px; }
  .ezoic-wrapper .n_shop_inside {
    padding: 0; }
  .ezoic-wrapper .ns_border {
    border-bottom: 2px solid #606060;
    padding-bottom: 10px !important; }
  .ezoic-wrapper .ns_title {
    width: 100%;
    height: 27px;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    overflow: hidden;
    display: inline-block;
    color: #606060;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif; }
  .ezoic-wrapper .n_shop {
    width: 100%;
    display: block;
    background: none repeat scroll 0 0 white;
    float: left;
    margin-bottom: 6%;
    padding: 0em;
    position: relative;
    color: black; }
  .ezoic-wrapper .n_shop:hover {
    color: black; }
  .ezoic-wrapper .n_shop:hover > .ns_title {
    color: #ffc600; }
  .ezoic-wrapper .n_shop:hover > .n_shop_checkitput .btn {
    border-color: #d58512;
    background-color: #ec971f;
    color: white; }
  .ezoic-wrapper .n_shop img {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    border: #c7c7c7 1px solid; }
  .ezoic-wrapper .n_shop span {
    width: 100%;
    height: 60px;
    margin-bottom: 6px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    display: block; }

  .ezoic-wrapper .n_shop_price p {
    text-align: left;
    padding-top: 4px;
    color: #606060;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Oswald', sans-serif; }
  .ezoic-wrapper .n_shop_checkitput {
    font-size: 17px;
    font-weight: bold;
    text-align: right; }
  .ezoic-wrapper .n_shop_checkitput .btn {
    font-weight: normal;
    font-family: 'Oswald', sans-serif; }
  .ezoic-wrapper .other_text_holder {
    padding: 0px 20px 20px 20px;
    font-size: 18px; }
  .ezoic-wrapper .other_text_holder h1 {
    font-size: 34px;
    font-weight: 200;
    color: black;
    text-align: left;
    font-family: 'Oswald', sans-serif; }
  .ezoic-wrapper .comment_title {
    font-size: 24px;
    padding-bottom: 12px; }
  .ezoic-wrapper .li-btn-shop {
    display: inline-block !important; }
  .ezoic-wrapper .li-btn-sht {
    display: none !important; }
  .ezoic-wrapper .mobile_title {
    display: none; }
  .ezoic-wrapper .banner_fixed_holder {
    text-align: center;
    border: 1px solid #ddf3f8;
    background-color: white;
    margin-bottom: 3.5%;
    position: relative; }
  .ezoic-wrapper .banner_fixed {
    margin-top: 7px;
    vertical-align: middle;
    width: 250px;
    height: 250px; }
  .ezoic-wrapper .banner_shop_holder {
    text-align: center; }
  .ezoic-wrapper .banner_shop {
    margin-top: 0px;
    vertical-align: middle;
    width: 250px;
    height: 250px; }
  .ezoic-wrapper .banner_gallery_holder {
    text-align: center;
    border: #e0e0e0 1px solid;
    margin-bottom: 3.5%; }
  .ezoic-wrapper .banner_gallery {
    vertical-align: middle;
    width: 250px;
    height: 250px; }
  .ezoic-wrapper .sp_price {
    font-size: 24px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    padding: 11px 0 0 0;
    display: block;
    color: #606060;
    text-decoration: none; }
  .ezoic-wrapper .sp_price:hover {
    color: #606060; }
  .ezoic-wrapper .text_format {
    font-size: 24px; }
  .ezoic-wrapper .text_format li {
    padding-bottom: 15px; }
  .ezoic-wrapper .text_format p {
    font-size: 18px; }
  .ezoic-wrapper .text_format ul {
    list-style: disc; }
  .ezoic-wrapper .top_image {
    display: none !important; }
  .ezoic-wrapper .top_image img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .top_scroll_down {
    display: none !important; }
  .ezoic-wrapper .top_scroll_down img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .sp_close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1.0E+15;
    opacity: 1 !important;
    color: white !important;
    font-size: 34px; }
  .ezoic-wrapper .sp_modal {
    background-color: rgba(0, 0, 0, 0.8); }
  .ezoic-wrapper .sp_modal-dialog {
    text-align: center; }
  .ezoic-wrapper .sp_modal-header {
    text-align: center;
    padding: 10px;
    margin-top: 100px; }
  .ezoic-wrapper .sp_modal-header h4 {
    font-size: 20px;
    font-weight: bold;
    color: white; }
  .ezoic-wrapper .sp_link {
    padding: 15px;
    font-size: 24px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 80%;
    margin-bottom: 5px; }
  .ezoic-wrapper .sp_link:hover {
    color: white;
    opacity: 0.9; }
  .ezoic-wrapper .sp_link_fb {
    background-color: #4a6ea9; }
  .ezoic-wrapper .sp_link_tw {
    background-color: #32def4; }
  .ezoic-wrapper .sp_link_pt {
    background-color: #ca1517; }
  .ezoic-wrapper .navbar-toggle {
    float: right;
    margin-right: 15px; }
  .ezoic-wrapper .navbar-share {
    display: none; }
  .ezoic-wrapper .submit_content_title {
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-top: 25px;
    padding-bottom: 15px; }
  .ezoic-wrapper .submit_content_text {
    background-color: white;
    padding: 20px 50px;
    margin: 40px -20px 25px -20px;
    color: black;
    font-size: 34px;
    line-height: 38px;
    text-align: justify;
    border-bottom: #010101 2px solid;
    border-top: #010101 2px solid; }
  .ezoic-wrapper .sadd_title {
    color: #606060;
    padding-top: 3px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 27px;
    overflow: hidden;
    text-align: center !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
  .ezoic-wrapper .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #ffc600;
    border: none; }
  .ezoic-wrapper .dropdown:hover .dropdown-menu a {
    color: black; }
  .ezoic-wrapper .dropdown:hover .dropdown-menu a:hover {
    background-color: #5bc0de;
    color: white; }
  .ezoic-wrapper .dropdown:hover > .dd_title {
    background-color: #ffc600;
    color: #010101; }
  .ezoic-wrapper .ddm_clear {
    display: none; }
  .ezoic-wrapper .dropdown .dropdown-menu li a.active {
    background-color: #5bc0de;
    color: black !important; }
  .ezoic-wrapper .wtfv {
    display: none; }
  .ezoic-wrapper .share-text {
    display: block;
    padding-top: 0px; }
  .ezoic-wrapper .shop-share-text {
    display: block;
    padding-top: 0px; }
  .ezoic-wrapper .td_holder {
    font-size: 17px; }
  .ezoic-wrapper .td_holder .tdh_where span {
    color: #8b8b8b;
    display: block; }
  .ezoic-wrapper .ad_title {
    color: #999999;
    font-size: 12px;
    text-align: center;
    line-height: 11px;
    font-weight: normal;
    font-family: georgia, arial;
    display: none; }
  .ezoic-wrapper .ad_title2 {
    display: none; }
  .ezoic-wrapper .adblade_ad {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px; }
  .ezoic-wrapper .extra_ad1 {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .extra_ad2 {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-bottom: 15px; }
  .ezoic-wrapper .extra_ad3 {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    padding-bottom: 0px;
    display: none; }
  .ezoic-wrapper div.adblade-dyna.zone-993 {
    font-size: 20px;
    max-width: 100% !important;
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px; }
  .ezoic-wrapper div.adblade-dyna.zone-993 div.zone div.advlabel,
  .ezoic-wrapper div.adblade-dyna.zone-993 div.advlabel {
    bottom: 0;
    top: auto;
    margin-right: 15px; }
  .ezoic-wrapper div.adblade-dyna.zone-993 div.zone div.ad {
    width: 33% !important;
    margin-bottom: 15px; }
  .ezoic-wrapper div.adblade-dyna.zone-993 div.zone div.ad .description {
    font-size: 14px !important;
    font-weight: normal !important; }
  .ezoic-wrapper div.adblade-dyna.zone-993 div.zone div.ad .displayname {
    display: none !important; }
  .ezoic-wrapper div.adblade-dyna.zone-993 div.zone div.ad .description {
    height: 38px !important;
    overflow: hidden !important; }
  .ezoic-wrapper div.adblade-dyna.zone-995 {
    font-size: 20px;
    max-width: 100% !important;
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px; }
  .ezoic-wrapper div.adblade-dyna.zone-995 div.zone div.advlabel,
  .ezoic-wrapper div.adblade-dyna.zone-995 div.advlabel {
    bottom: 0;
    top: auto;
    margin-right: 15px; }
  .ezoic-wrapper div.adblade-dyna.zone-995 div.zone div.ad {
    width: 33% !important;
    margin-bottom: 15px; }
  .ezoic-wrapper div.adblade-dyna.zone-995 div.zone div.ad .description {
    font-size: 14px !important;
    font-weight: normal !important; }
  .ezoic-wrapper div.adblade-dyna.zone-995 div.zone div.ad .displayname {
    display: none !important; }
  .ezoic-wrapper div.adblade-dyna.zone-995 div.zone div.ad .description {
    height: 38px !important;
    overflow: hidden !important; }
  .ezoic-wrapper div.adblade-dyna.zone-1028 {
    font-size: 20px;
    max-width: 100% !important;
    width: 100%;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px; }
  .ezoic-wrapper div.adblade-dyna.zone-1028 div.zone div.advlabel,
  .ezoic-wrapper div.adblade-dyna.zone-1028 div.advlabel {
    bottom: 0;
    top: auto;
    margin-right: 15px; }
  .ezoic-wrapper div.adblade-dyna.zone-1028 div.zone div.ad {
    width: 33% !important;
    margin-bottom: 15px; }
  .ezoic-wrapper div.adblade-dyna.zone-1028 div.zone div.ad .description {
    font-size: 14px !important;
    font-weight: normal !important; }
  .ezoic-wrapper div.adblade-dyna.zone-1028 div.zone div.ad .displayname {
    display: none !important; }
  .ezoic-wrapper div.adblade-dyna.zone-1028 div.zone div.ad .description {
    height: 38px !important;
    overflow: hidden !important; }
  .ezoic-wrapper div.adblade-dyna div.zone div.adbladetitle {
    font-family: Helvetica, Arial;
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    margin: 11px 0 0 0px !important;
    text-align: left; }
  .ezoic-wrapper .adbladetitle {
    font-size: 13px !important;
    color: #aaaaaa;
    text-transform: uppercase;
    font-weight: normal !important;
    padding-left: 8px; }
  .ezoic-wrapper div.adblade-dyna div.zone div.ad {
    border: medium none;
    float: left;
    margin: 3px 0 3px 0;
    padding-left: 8px;
    overflow: hidden; }
  .ezoic-wrapper .taboola-below-article-thumbnails {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif !important; }
  .ezoic-wrapper .trc_rbox_header {
    padding-bottom: 20px !important;
    padding-top: 30px !important; }
  .ezoic-wrapper .trc_rbox_div {
    margin-bottom: 0px !important; }
  .ezoic-wrapper .vv_text {
    display: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    color: #25a6e7;
    text-align: right;
    height: 19px;
    overflow: hidden; }
  .ezoic-wrapper .pv_xs_custom {
    display: none; }
  .ezoic-wrapper .cb * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .ezoic-wrapper .cb {
    padding: 10px 15px;
    font-size: 22px;
    font-weight: bold;
    border: #ff9420 1px solid;
    background-color: #ff9420;
    color: white !important;
    text-decoration: none;
    font-weight: normal;
    text-align: center; }
  .ezoic-wrapper .cb:hover {
    background-color: #e48319;
    color: white !important;
    border: #e48319 1px solid; }
  .ezoic-wrapper .col-lg-9 {
    width: 74%; }
  .ezoic-wrapper .g4_continue_pages2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: -32px !important;
    padding: 0 0 6px;
    text-align: center; }
  .ezoic-wrapper .g4_continue_pages2_extra2 {
    margin-top: -32px !important; }
  .ezoic-wrapper .vs9_bottom_promo_holder {
    padding-left: 15px;
    padding-right: 15px; }
  .ezoic-wrapper .vs9_bottom_promo {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px; }
  .ezoic-wrapper .vs9_bottom_promo .vs9_btag {
    position: absolute;
    z-index: 2;
    margin: 3px 0 0 4px; }
  .ezoic-wrapper .vs9_bottom_promo .vs9_btag span {
    font-style: italic;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
  .ezoic-wrapper .vs9_bottom_promo .title {
    font-size: 18px;
    line-height: 24px;
    color: #494949;
    font-weight: normal;
    padding-top: 10px;
    display: block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; }
  .ezoic-wrapper .vs9_bottom_promo .desc {
    font-size: 15px;
    line-height: 19px;
    color: black;
    font-weight: normal;
    padding-top: 1px;
    display: block; }
  .ezoic-wrapper .vs9_bottom_promo:hover .title {
    color: #e48319; }
  .ezoic-wrapper .vs9_bottom_promo img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .vs10_more_from {
    font-size: 20px;
    font-weight: bold;
    color: #e48319;
    margin: 0;
    padding: 20px 0 0 0; }
  .ezoic-wrapper .g4_continue_pages2_extra {
    margin-top: 10px !important; }

  .ezoic-wrapper .g4_continue_padding {
    padding-bottom: 5px; }
  .ezoic-wrapper .g4_continue_padding1 {
    padding-left: 0 !important;
    padding-right: 5px !important; }
  .ezoic-wrapper .g4_continue_padding2 {
    padding-right: 0 !important;
    padding-left: 5px !important; }
  .ezoic-wrapper .g4_seporator {
    padding-top: 10px; }
  .ezoic-wrapper .g4_top_image_story {
    display: block !important;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .g4_top_image_story img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .g4_top_image_story2 {
    display: block !important;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .g4_top_image_story2 img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .g4_trick1 {
    display: inherit; }
  .ezoic-wrapper .g4_trick2 {
    display: none; }
  .ezoic-wrapper .navbar-header {
    float: left !important; }
  .ezoic-wrapper .navbar-collapse {
    float: none !important; }
  .ezoic-wrapper .btns-extra {
    padding-top: 19px;
    padding-bottom: 13px;
    width: 160px;
    float: left;
    padding-left: 7px; }
  .ezoic-wrapper .btns-extra li {
    padding: 0 0 0 5px !important; }
  .ezoic-wrapper .facebook {
    padding-top: 6px; }
  .ezoic-wrapper .small_logo img {
    width: 240px !important;
    height: 75px !important; }
  .ezoic-wrapper .vs10_title_box2 {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    margin: 8px 0 0;
    padding: 0; }
  .ezoic-wrapper .vs6_credit {
    display: block;
    font-family: "PT Sans", sans-serif;
    text-align: right;
    font-size: 11px;
    color: #999999;
    line-height: 13px;
    clear: both; }
  .ezoic-wrapper .Credit_text_goes_hereA {
    display: none; }
  .ezoic-wrapper .Credit_text_goes_hereB {
    display: none; }

  .ezoic-wrapper .vs7_custom_padding {
    padding: 10px 0 0 0; }
  .ezoic-wrapper .vs7_custom_padding_top {
    padding: 10px 0 0 0; }

  .ezoic-wrapper .vs7_post_title {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 34px;
    font-weight: bold;
    color: black; }
  .ezoic-wrapper .vs7_post_titleE6 {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 34px;
    font-weight: bold;
    color: black; }
  .ezoic-wrapper .vs7_by_author {
    font-size: 16px;
    padding-bottom: 15px;
    margin-top: -10px; }
  .ezoic-wrapper .vs7_by_team {
    color: #222222;
    font-size: 16px;
    margin-top: -10px;
    padding-bottom: 15px; }
  .ezoic-wrapper .vs7_image_holder {
    display: none !important;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .vs7_image_holder img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .vs7_image_holder1 {
    display: block !important;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .vs7_image_holder1 img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .vs7_image_holder2 {
    display: block !important;
    padding-bottom: 5px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .vs7_image_holder2 img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .vs7_image_holderTop {
    display: block !important;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .vs7_image_holderTop img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .vs7_image_holderAll {
    display: block !important;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px; }
  .ezoic-wrapper .vs7_image_holderAll img {
    width: 100%;
    height: auto; }
  .ezoic-wrapper .vs7_credit {
    display: block;
    font-family: "PT Sans", sans-serif;
    text-align: right;
    font-size: 11px;
    color: #999999;
    line-height: 13px;
    clear: both; }
  .ezoic-wrapper .vs7_creditE6 {
    display: block;
    font-family: "PT Sans", sans-serif;
    text-align: right;
    font-size: 11px;
    color: #999999;
    line-height: 13px;
    clear: both;
    text-align: center; }
  .ezoic-wrapper .vs7_creditE7,
  .ezoic-wrapper .vs7_creditE7:hover,
  .ezoic-wrapper .vs7_creditE7:focus {
    display: block;
    font-family: "PT Sans", sans-serif;
    text-align: right;
    font-size: 16px;
    color: #999999;
    line-height: 18px;
    clear: both;
    text-align: center;
    text-decoration: none; }
  .ezoic-wrapper .vs7_credit_text_goes_hereA {
    display: none; }
  .ezoic-wrapper .vs7_credit_text_goes_hereB {
    display: none; }
  .ezoic-wrapper .vs7_text1_DM,
  .ezoic-wrapper .vs7_text2_DM,
  .ezoic-wrapper .vs7_text3_DM,
  .ezoic-wrapper .vs7_text4_DM,
  .ezoic-wrapper .vs7_text5_DM,
  .ezoic-wrapper .vs7_text6_DM,
  .ezoic-wrapper .vs7_text7_DM,
  .ezoic-wrapper .vs7_text8_DM,
  .ezoic-wrapper .vs7_textS_DM {
    font-size: 21px;
    line-height: 32px; }
  .ezoic-wrapper .vs7_text1_Desktop,
  .ezoic-wrapper .vs7_text2_Desktop,
  .ezoic-wrapper .vs7_text3_Desktop,
  .ezoic-wrapper .vs7_text4_Desktop,
  .ezoic-wrapper .vs7_text5_Desktop,
  .ezoic-wrapper .vs7_text6_Desktop,
  .ezoic-wrapper .vs7_text7_Desktop,
  .ezoic-wrapper .vs7_text8_Desktop,
  .ezoic-wrapper .vs7_textS_Desktop {
    font-size: 21px;
    line-height: 32px; }
  .ezoic-wrapper .vs7_text1_Mobile,
  .ezoic-wrapper .vs7_text2_Mobile,
  .ezoic-wrapper .vs7_text3_Mobile,
  .ezoic-wrapper .vs7_text4_Mobile,
  .ezoic-wrapper .vs7_text5_Mobile,
  .ezoic-wrapper .vs7_text6_Mobile,
  .ezoic-wrapper .vs7_text7_Mobile,
  .ezoic-wrapper .vs7_text8_Mobile,
  .ezoic-wrapper .vs7_textS_Mobile {
    font-size: 21px;
    line-height: 32px;
    display: none; }
  .ezoic-wrapper .vs7C_text_DMS {
    font-size: 18px;
    line-height: 26px; }
  .ezoic-wrapper .vs7C_text_DMS ul {
    padding-left: 22px; }
  .ezoic-wrapper .vs7C_text_DMS li {
    font-size: 18px;
    line-height: 26px; }
  .ezoic-wrapper .vs7C_text1_DMB {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold; }
  .ezoic-wrapper .vs7C_text_DM0 {
    font-size: 21px;
    line-height: 32px; }
  .ezoic-wrapper .vs7C_text1_DM,
  .ezoic-wrapper .vs7C_text2_DM,
  .ezoic-wrapper .vs7C_text3_DM,
  .ezoic-wrapper .vs7C_text4_DM,
  .ezoic-wrapper .vs7C_textS_DM {
    font-size: 21px;
    line-height: 32px; }
  .ezoic-wrapper .vs7C_text1_Desktop,
  .ezoic-wrapper .vs7C_text2_Desktop,
  .ezoic-wrapper .vs7C_text3_Desktop,
  .ezoic-wrapper .vs7C_text4_Desktop,
  .ezoic-wrapper .vs7C_text8_Desktop,
  .ezoic-wrapper .vs7C_textS_Desktop {
    font-size: 21px;
    line-height: 32px; }
  .ezoic-wrapper .vs7C_text1_Mobile,
  .ezoic-wrapper .vs7C_text2_Mobile,
  .ezoic-wrapper .vs7C_text3_Mobile,
  .ezoic-wrapper .vs7C_text4_Mobile,
  .ezoic-wrapper .vs7C_textS_Mobile {
    font-size: 21px;
    line-height: 32px;
    display: none; }
  .ezoic-wrapper .vs7_seporator {
    padding-top: 10px; }
  .ezoic-wrapper .vs7_seporator2 {
    padding-top: 10px; }
  .ezoic-wrapper .vs7_continue_holder {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px !important;
    padding: 0;
    text-align: center; }
  .ezoic-wrapper .vs7_continue_holder span {
    padding-right: 15px; }
  .ezoic-wrapper .vs7_pn_holder_extra {
    margin-top: 10px !important; }
  .ezoic-wrapper .vs7_pn_holder_extra2 {
    margin-top: 0px !important; }
  .ezoic-wrapper .vs7_pn_holder {
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0; }
  .ezoic-wrapper .vs7_pn_holder1 {
    padding-left: 0 !important;
    padding-right: 5px !important; }
  .ezoic-wrapper .vs7_pn_holder2 {
    padding-right: 0 !important;
    padding-left: 5px !important; }
  .ezoic-wrapper .vs7_pn_holder1a {
    padding-left: 0 !important;
    padding-right: 5px !important; }
  .ezoic-wrapper .vs7_pn_holder2a {
    padding-right: 0 !important;
    padding-left: 5px !important; }
  .ezoic-wrapper .btn-pn {
    background-color: #ff9420;
    color: white !important;
    height: 54px;
    line-height: 39px; }
  .ezoic-wrapper .btn-pn:hover {
    background-color: #e48319;
    color: white !important; }
  .ezoic-wrapper .btn-E6 {
    background-color: #ff9420;
    color: white !important;
    height: 74px;
    line-height: 29px; }
  .ezoic-wrapper .btn-E6:hover {
    background-color: #e48319;
    color: white !important; }
  .ezoic-wrapper .vs7_share-titleE6 {
    font-weight: 900;
    font-size: 24px !important;
    padding-top: 16px;
    text-transform: uppercase; }
  .ezoic-wrapper .vs7_social_sharing_holder {
    padding-left: 0;
    padding-right: 0; }
  .ezoic-wrapper .vs7_social-sharing * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
  .ezoic-wrapper .vs7_social-sharing a {
    display: block;
    color: white;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px !important; }
  .ezoic-wrapper .vs7_social-sharing a:hover {
    color: white; }
  .ezoic-wrapper .vs7_social-sharing span,
  .ezoic-wrapper .vs7_social-sharing div {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    font-size: 12px; }
  .ezoic-wrapper .vs7_social-sharing .icon {
    float: left;
    font-size: 26px !important; }
  .ezoic-wrapper .vs7_social-sharing .icon i {
    display: block;
    padding-top: 16px; }
  .ezoic-wrapper .vs7_social-sharing .icon > .ezoic-before-el {
    line-height: 28px; }
  .ezoic-wrapper .vs7_social-sharing.is-large a {
    height: 54px;
    line-height: 54px;
    overflow: hidden; }
  .ezoic-wrapper .vs7_social-sharing.is-large a span,
  .ezoic-wrapper .vs7_social-sharing.is-large a div {
    height: 54px;
    line-height: 54px;
    font-size: 18px; }
  .ezoic-wrapper .vs7_social-sharing.is-large a .icon {
    padding: 1px 10px 0 7px;
    margin-top: -2px; }
  .ezoic-wrapper .vs7_social-sharing.is-large a .icon > .ezoic-before-el {
    line-height: 54px; }
  .ezoic-wrapper .vs7_share-facebook {
    background-color: #3b5998;
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: 10px; }
  .ezoic-wrapper .vs7_share-facebook:hover {
    background-color: #2d4373; }
  .ezoic-wrapper .vs7_share-title {
    font-weight: 900;
    font-size: 24px !important;
    padding-right: 10px; }
  .ezoic-wrapper .vs7_share-title p {
    margin: 0;
    padding: 0px; }
  .ezoic-wrapper .vs7_share-title p.stc1 {
    display: inline-block; }
  .ezoic-wrapper .is-large .vs7_share-title {
    padding-right: 16px; }
  .ezoic-wrapper .vs7_banner_text_right {
    display: block;
    float: right;
    margin: 7px 0 0 10px;
    text-align: right; }
  .ezoic-wrapper .vs7_banner_title {
    color: #999999;
    display: none;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    padding-bottom: 4px;
    text-align: center; }
  .ezoic-wrapper .vs7_banner_000DESK1 {
    display: inline-block;
    width: 336px;
    height: 280px; }
  .ezoic-wrapper .vs7_banner_000DESKTop {
    display: inline-block;
    width: 728px;
    height: 90px; }
  .ezoic-wrapper .vs7_banner_000DESKMid {
    display: none;
    width: 728px;
    height: 90px; }
  .ezoic-wrapper .vs7_banner_holder_000RESPTop {
    padding-top: 20px;
    text-align: center;
    display: block; }
  .ezoic-wrapper .vs7_banner_holder_000RESPMid {
    padding-top: 20px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .vs7_banner_holder_000RESP0 {
    padding-top: 20px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .vs7_banner_holder_000RESP1 {
    padding-top: 20px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .vs7_banner_holder_000RESP2 {
    padding-top: 20px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .vs7_banner_holder_000RESP2a {
    padding-top: 20px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .vs7_banner_holder_000RESP3 {
    padding-top: 20px;
    text-align: center;
    display: none; }
  .ezoic-wrapper .vs7_banner_000RESP0 {
    display: none !important; }
  .ezoic-wrapper .vs7_banner_000RESP1 {
    display: none !important; }
  .ezoic-wrapper .vs7_banner_000RESP2 {
    display: none !important; }
  .ezoic-wrapper .vs7_banner_000RESP3 {
    display: none !important; }
  .ezoic-wrapper .vs7_banner_000RESPTop {
    width: 728px;
    height: 90px;
    display: inline-block !important; }

  .ezoic-wrapper .vs7_comments {
    padding: 35px 15px 0 15px; }
  .ezoic-wrapper .vs7_comment_title {
    font-size: 24px;
    padding-bottom: 12px;
    font-weight: bold; }
  .ezoic-wrapper .vs7_side_ad_title {
    display: none;
    color: #999999;
    font-size: 12px;
    text-align: center;
    line-height: 11px;
    font-weight: normal;
    font-family: georgia, arial; }
  .ezoic-wrapper .vs7_side_banner_holder {
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
    text-align: center; }
  .ezoic-wrapper .vs7_side_padding {
    padding: 18px 15px 0 0 !important;
    margin: 0 0 0 0 !important; }
  .ezoic-wrapper .vs7_side_banner1 {
    width: 300px;
    height: 250px; }
  .ezoic-wrapper .vs7_side_banner2 {
    width: 300px;
    height: 600px; }
  .ezoic-wrapper .vs7_video_holder {
    height: 0;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 54%;
    position: relative; }
  .ezoic-wrapper .vs7_video_holder iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .ezoic-wrapper .vs7_video_holder2 {
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; }
  .ezoic-wrapper .vs7_video_holder2 iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .ezoic-wrapper .vs7_video_holder_iframe {
    display: none; }
  .ezoic-wrapper .vs7_video_holder_fb {
    display: none; }
  .ezoic-wrapper .vs7_video_holder_script {
    display: none; }
  .ezoic-wrapper .vs7_sticky_fixed {
    position: fixed;
    top: 0; }
  .ezoic-wrapper .vs7_sticky_fixedE6 {
    position: fixed;
    top: 62px; }
  .ezoic-wrapper .vs8_banner_holder1 {
    margin: 0 auto;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 100%; }
  .ezoic-wrapper .vs8_banner_title {
    color: #999999;
    display: none;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    padding-bottom: 4px;
    text-align: center; }
  .ezoic-wrapper .vs8_banner_block {
    margin-bottom: 0px; }
  .ezoic-wrapper .vs8_side_holder1 {
    padding-bottom: 0px;
    text-align: center; }
  .ezoic-wrapper .vs8_side_holder_title1 {
    color: #999999;
    display: none;
    font-size: 12px;
    font-weight: normal;
    line-height: 11px;
    padding: 3px 3px 0 0;
    text-align: right; }
  .ezoic-wrapper .vs9_share-facebook-holder {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px; }
  .ezoic-wrapper .vs9_share-facebook {
    background-color: #3b5998;
    display: inline-block;
    text-align: center;
    width: 100% !important;
    padding: 10px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
  .ezoic-wrapper .vs9_share-facebook:hover {
    background-color: #2d4373; }
  .ezoic-wrapper .vs9_share-facebook-r {
    background-color: #3b5998;
    display: table-cell;
    text-align: center;
    padding: 10px;
    width: 100%;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; }
  .ezoic-wrapper ._56z- {
    z-index: 9999999999999 !important; }
  .ezoic-wrapper .vs9_share-facebook-r:hover {
    background-color: #2d4373; }
  .ezoic-wrapper .vs9_share-facebook-like-r {
    width: 80px;
    display: table-cell; }
  .ezoic-wrapper .vs9_icon-facebook {
    color: white;
    font-size: 23px;
    padding: 0px 8px 0px 5px;
    position: absolute; }
  .ezoic-wrapper .vs9_icon-facebook-r {
    color: white;
    font-size: 23px;
    padding: 1px 0px 0px 0px;
    position: absolute;
    z-index: 1;
    right: 10px;
    height: 54px; }
  .ezoic-wrapper .vs9_d1 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: inline-block; }
  .ezoic-wrapper .vs9_d2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: none;
    padding: 3px 0 0 18px;
    height: 34px; }
  .ezoic-wrapper .vs9_d3 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: none; }
  .ezoic-wrapper .vs9_d1-r {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    float: left;
    width: 100%;
    line-height: 34px !important; }
  .ezoic-wrapper .vs9_d2-r {
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: none;
    height: 34px;
    float: left;
    width: 100%;
    padding: 0 18px 0 0 !important;
    line-height: 34px !important; }
  .ezoic-wrapper .vs9_d3-r {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: none;
    float: left;
    width: 100%;
    line-height: 34px !important; }
  .ezoic-wrapper .vs9_share-facebook-like {
    width: 80px; }
  .ezoic-wrapper .mc_holder {
    display: block;
    padding: 0 0 20px 0;
    margin: 0 auto;
    max-width: 400px;
    margin-top: -20px; }
  .ezoic-wrapper .mc_title {
    font-size: 19px; }
  .ezoic-wrapper .mc_input {
    height: 35px; }
  .ezoic-wrapper .mc_btn {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 35px; }
  .ezoic-wrapper .response {
    color: #5aa800;
    float: left;
    font-weight: bold;
    padding: 0 0 20px 0;
    width: 100%;
    z-index: 1; }
  .ezoic-wrapper .facebook_box {
    margin-left: -5px;
    margin-bottom: 10px; }

