@font-face {
	font-family: 'icomoon';
	src:url('./icomoon.eot?t1qdsc');
	src:url('./icomoon.eot?t1qdsc#iefix') format('embedded-opentype'),
		url('./icomoon.ttf?t1qdsc') format('truetype'),
		url('./icomoon.woff?t1qdsc') format('woff'),
		url('./icomoon.svg?t1qdsc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Hess:before {
	content: "\e900";
}
.icon-MarMari:before {
	content: "\e901";
}
.icon-TehranNight:before {
	content: "\e902";
}
.icon-Dubways:before {
	content: "\e903";
}
.icon-Renaissance:before {
	content: "\e904";
}
.icon-Boombox:before {
	content: "\e905";
}
.icon-Traffik:before {
	content: "\e906";
}
.icon-TranceForm:before {
	content: "\e907";
}
.icon-Tehranto:before {
	content: "\e908";
}
.icon-TekNights:before {
	content: "\e909";
}
.icon-RJCountdown:before {
	content: "\e90a";
}
.icon-Playback:before {
	content: "\e90b";
}
.icon-Passport:before {
	content: "\e90c";
}
.icon-HezaroYekShab:before {
	content: "\e90d";
}
.icon-MohsensHouse:before {
	content: "\e90e";
}
.icon-Dynatomix:before {
	content: "\e90f";
}
.icon-Databass:before {
	content: "\e910";
}
.icon-BoroBerim:before {
	content: "\e911";
}
.icon-Amyx:before {
	content: "\e912";
}
.icon-AboAtash:before {
	content: "\e913";
}
