/* FOOTER */

.footer-wrapper-top-outer.new {
  border-top: 1px solid #f2f2f2;
  background-color: white;
  text-align: center;
}

.footer-wrapper-top-outer.new .footer-wrapper-top-inner {
  width: 950px;
  margin: 0 auto;
  display: inline-block;
  float: none;
  position: relative;
}

.footer-wrapper-bottom.new {
  margin-top: 34px;
}

.footer-wrapper-top-outer.new .footer-wrapper-top-inner nav#offerta-mobile{
  float: left;
  display: inline-block;
  margin-top: 30px;
}

.footer-wrapper-top-outer.new #footer-menu{
  float: right;
  display: inline-block;
  padding: 0;
  margin-top: 30px;
}

.footer-wrapper-top-outer.new #footer-menu > ul {
  font-size: 13px;
  font-weight: bold;
}

.footer-wrapper-top-outer.new #footer-menu * {
  line-height: 35px!important;
}

.footer-wrapper-top-outer.new #footer-menu > ul > li {
  float: left;
  display: inline-block;
  width: auto;
  margin-left: 37px;
  padding:0
}

.footer-wrapper-bottom.new #footer-logos{
  position: relative;
  top: -22px;
  float: right;
  display: inline-block;
  width: auto
}

.footer-wrapper-bottom.new #footer-logos ul li {
display: inline-block;
float: left;
text-align: center;
margin-top: 0px;
margin-left: 60px;
margin-bottom: 0px;
padding: 0;
width: auto;
}

.footer-wrapper-bottom.new #company-data {
color: #c7c6c4;
float: left;
margin-top: -10px;
margin-right: 50px;
}


div a.btt-hp-orange.footer{
  right: 0;
}

div a.btt-hp-orange.footer .center
{   
  
    line-height: 13px!important;
    font-size: 11px;
    height: 35px;
    vertical-align: middle;
    padding: 0px 10px;
}

div a.btt-hp-orange.footer .center span{
    position: relative;
    top:4px;
}

/* BUTTON ORANGE */

div a.btt-hp-orange
{
  margin: 0;
  position: relative;
  right: 8px;
  top:0;
  display: -moz-inline-stack;
  display:inline-block;
}

div a.btt-hp-orange .center
{
  margin: 0 !important;
  background: url(btt_orange_cnt.png) top left repeat-x !important;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: normal !important;
  text-transform: uppercase;
  color: #fff!important;
  padding: 0;
  width: 100px!important;
  cursor: pointer;
  line-height: 34px!important;
  text-align: center;
  height: 34px!important;
}

div a.btt-hp-orange .dx
{
  font-size: 0;
  width: 5px;
  height: 34px;
  background: url(btt_orange_dx.png) no-repeat 0 0;
  cursor: pointer;
}

div a.btt-hp-orange .sx
{
  font-size: 0;
  width: 5px;
  height: 34px;
  cursor: pointer;
  background: url(btt_orange_sx.png) top left no-repeat !important;
}

div a.btt-hp-orange > *
{
  float: left;
  display: inline-block;
}