@charset "UTF-8";

#login_area {

}

.login_area #menu_shop_top, .login_area #bttshop {
	display: none;
}

.login_area #bttareaclienti {
	background: none;
	width: auto;
	height: 34px;
	position: absolute;
	top: 35px;
	right: 0px;
	z-index: 1000;
}

.login_area #bttareaclienti a {
	height: 34px;
	width: auto;
}

.login_area .tb {
	background: none;
	width: auto;
	height: 34px;
	position: absolute;
	top: 35px;
	right: 0px;
	z-index: 1000;
}

.login_area .tb a {
	float: left;
	height: 34px;
	display: inline-block;
	width: auto
}

.login_area .tb a > span {
	float: left;
	display: inline-block;
	line-height: 34px;
	font-weight: 700;
	color: white;
	font-size: 15px;
}

.login_area .tb a > .sx {
	font-size: 0;
	height: 34px;
	width: 6px;
	background: url(/include_login/img/bt_area_sx.png) no-repeat 0 0;
}

.login_area .tb a > .lb {
	height: 34px;
	background: url(/include_login/img/bt_area_cnt.png) repeat-x 0 0;
	padding: 0 10px;
}

.login_area .tb a > .dx {
	font-size: 0;
	height: 34px;
	width: 6px;
	background: url(/include_login/img/bt_area_dx.png) no-repeat 0 0;
}

/* OVER */

.login_area .tb.over a > .sx {
	background: url(/include_login/img/bt_area_sx_over.png) no-repeat 0 0;
}

.login_area .tb.over a > .lb {
	color: #f07e26;
	background: url(/include_login/img/bt_area_cnt_over.png) repeat-x 0 0;
}

.login_area .tb.over a > .dx {
	background: url(/include_login/img/bt_area_dx_over.png) no-repeat 0 0;
}

/* LOGGED */

.login_area .tb.logged a > span {
	line-height: 14px;
}

.login_area .tb.logged a > .lb {
	width: 148px;
	padding: 0;
}

.login_area .tb.logged a > .lb .hello {
	display: inline-block;
	float: left;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.0em;
	padding: 0px 3px 0 3px;
	vertical-align: baseline;
	position: relative;
	top: 3px;
	width: 110px;
	cursor: pointer;
}

.login_area .tb.logged a > .lb .hover {
	display: inline-block;
	float: right;
	height: 34px;
	width: 34px;
	overflow: hidden;
	cursor: pointer;
	background: url(/include_login/img/bt_logged.png) no-repeat 0 0;
	position: absolute;
	right: 5px;
	top: 0;
	z-index: 1000;
}

.login_area .tb.logged a .lb .hover:hover {
	background-position: 0px -34px;
	background-position-y: -34px;
}

/* MENU AREA CLIENTI */

.login_area #menu_areaclienti {
	position: absolute;
	top: 68px;
	right: -4px;
	background: transparent;
	width: 269px;
	height: auto;
	z-index: 999;
	display: none;
	padding: 0px 0 0 0;
}

.login_area #menu_areaclienti.over {
	display: block;
}

.login_area #menu_areaclienti > .top {
	float: left;
	display: block;
	height: 5px;
	width: 268px;
	background: url(/include_login/img/top_area_menu.png) no-repeat 1px 0;
}

.login_area #menu_areaclienti > .cnt {
	float: left;
	display: block;
	width: 269px;
	background: url(/include_login/img/cnt_area_menu.png) repeat-y 0 0;
}

.login_area #menu_areaclienti > .btm {
	float: left;
	display: block;
	height: 14px;
	width: 269px;
	background: url(/include_login/img/btm_area_menu.png) no-repeat 0 0;
}

.login_area #menu_areaclienti .login-block .top {
	display: none
}

.login_area #menu_areaclienti .login-block .btm {
	display: none
}

.login_area #menu_areaclienti  .cnt .login-block .cnt {
	background: none
}

#menu_areaclienti.privati {

}

#menu_areaclienti.biz {

}

#menu_areaclienti.adsl {

}

#menu_areaclienti .login-block.adsl, #menu_areaclienti .login-block.biz, #menu_areaclienti .login-block.privati {
	background: transparent;
	padding: 20px 0 0 0;
}

/* END login_area.css */


.login-block {
	font-family: "Trebuchet MS", sans-serif;
	float: left;
	display: block;
	height: auto;
	padding: 0;
}

.login-block.biz {
	padding: 20px 0 0 0;
}

.login-block.adsl {
	padding: 20px 0 0 0;
}

.login-block.adsl, .login-block.biz, .login-block.privati {
	background: transparent;
	padding: 0px 0 0 0;
}

.login-block > div {
	width: 273px
}

.login-block .link {
	color: #f07e26;
	font-size: 13px;
	text-decoration: underline;
	line-height: 1.5em;
}

.login-block .top {
	font-size: 0;
	height: 4px;
	background: transparent url(/include_login/img/top_box_login.png) no-repeat 0 top;
	float: left;
	clear: both;
}

.login-block .cnt {
	height: auto;
	padding: 0px 27px;
	width: 218px;
	background: transparent url(/include_login/img/cnt_box_login.png) repeat-y 0 top;
	float: left;
	clear: both;
}

.login-block .btm {
	height: 4px;
	background: transparent url(/include_login/img/btm_box_login.png) no-repeat 0 top;
	font-size: 0;
	float: left;
	clear: both;
}

.login-block .cnt .riga {
	text-align: center;
	float: left;
	display: block;
	width: 100%;
	height: auto;
}

.login-block .cnt .riga.links {
	text-align: left;
	margin: 10px 0 0 0;
}

.login-block .cnt .riga.buttons {
	margin: 20px 0;
}

.login-block a[class$='submit'] {
	display: inline-block;
	float: right !important;
	text-indent: -9999px;
	font-size: 0;
	outline: 0;
	border: none;
	margin: 0 !important;
	padding: 0;
	width: 90px;
	height: 35px;
	cursor: pointer;
	background: url(/include_login/img/bt_entra.png) no-repeat 0 0;
	margin-left: 0
}

.login-block a[class$='submit'] > * {
	visibility: hidden;
}

.login-block a[class$='submit'] input[type='submit'] {
	visibility: hidden;
}

.login-block .cnt > form {
	position: relative;
	float: left;
	display: block;
	width: 218px
}

.login-block .cnt form .rec {
	float: none;
	display: inline-block;
}

.login-block .cnt > form > a {
	float: left;
	display: block
}

.login-block .cnt a {
	color: #f07e26;
	text-decoration: underline;
	font-size: 13px
}

.login-block .cnt h6 {
	font-weight: 700;
	font-size: 23px;
	color: #f07e26;
	margin: 20px 0 20px 0px;
	line-height: 25px;
}

.login-block input[type='password'], .login-block input[type='text'] {

	float: left;
	display: block;
	outline: 0;
	border: medium none;
	margin: 0;
	padding: 0 0 0 45px;
	height: 28px;
	width: 175px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 28px;
	margin-bottom: 15px;
	background: url(/include_login/img/input_login.png) no-repeat 0 0;
}

.login-block input[id*='pass'], .login-block .in-pwd {
	margin-bottom: 15px;
	background: url(/include_login/img/bg_input_pwd.png) no-repeat 0 0 !important
}

.login-block input[id*='user'], .login-block .in-usr {
	background: url(/include_login/img/bg_input_usr.png) no-repeat 0 0 !important
}

.login-block input[id*='adsl'], .login-block .in-adsl {
	background: url(/include_login/img/bg_input_adsl.png) no-repeat 0 0 !important
}

.login-block input[type='password']:focus, .login-block input[type='text']:focus {
}

/* CHECKBOX */

.login-block .check {
	float: left;
	display: inline-block;
}

.login-block input[type='checkbox'] {
	padding: 0;
	margin: 0 0 0 30px;
	float: right;
}

.ricordamilabel {
	position: relative;
	float: left;
	vertical-align: middle;
	margin-top: 10px;
	color: #000;
	line-height: 16px;
	font-size: 13px;
	margin-right: 7px;
	display: inline-block;
}

.login-block .check a {
	margin: 0;
	padding: 0;
	margin-top: 10px !important;
	display: inline-block;
	float: right;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(/include_login/img/checkbox_50.png) no-repeat 0 0
}

.login-block .btt_ricordami.active {
	background: url(/fileadmin/templates/login/checkbox_active.png) top left no-repeat;
}

.login-block a.btn-fb {
	font-size: 0;
	position: relative;
	float: right !important;
	display: inline-block;
	height: 44px !important;
	width: 106px !important;
	margin-left: 0px !important;
	/*margin-top: 9px !important;*/
	background: url(/include_login/img/bt_fb.png) no-repeat 0 0
}

.login_area a.btn-fb {
	font-size: 0;
	position: relative;
	float: right !important;
	display: inline-block;
	height: 44px !important;
	width: 106px !important;
	margin-left: 0px !important;
	margin-top: 5px !important;
	background: url(/include_login/img/bt_fb.png) no-repeat 0 0
}

.login-block a.btn-reg {
	margin-left: 0px !important;
	font-weight: 700;
	font-size: 0;
	color: #fff;
	height: 44px;
	width: 219px;
	text-decoration: none;
	background: url(/include_login/img/bt_registrati.png) no-repeat 0 0;
	display: inline-block;
	float:inherit;
}

.login-block a.btn-reg.sm {

	font-weight: 700;
	font-size: 0;
	color: #fff;
	height: 44px;
	width: 106px;
	text-decoration: none;
	background: url(/include_login/img/bt_registrati_sm.png) no-repeat 0 0;
	display: inline-block;
}

.login-block .oppure {
	width: 100%;
	*width: 237px;
	height: 10px;
	margin: 20px 0;
	background: url(/include_login/img/oppure.png) no-repeat center center
}

.login-block a.btn-prosegui {
	float: left;
	font-weight: 700;
	font-size: 0;
	color: #fff;
	height: 35px;
	width: 243px;
	text-decoration: none;
	background: url(/include_login/img/bt_prosegui.png) no-repeat 0 0;
	display: inline-block;
}

.login-block a.btn-prosegui.bottom {

	bottom: 85px;
	float: none;
	position: absolute;
}

/* END login_block.css */

#fancybox-outer {
	background: none !important;
	width: auto !important;
}

#fancybox-content {
	border-width: 0px !important;
}

.login_ajax #fancybox-close {
	display: none;
}

.login_ajax .popup {
	float: left;
	display: bl1ock;
}
.login_ajax .popup .login-block {
	padding-top: 0 !important;
	width: 328px;
}

.login_ajax .popup  .fancy-close {
	position: absolute;
	display: block;
	height: 14px;
	width: 13px;
	background: url(/include_login/img/x.png) no-repeat 0 0;
	right: 17px;
	top: 10px;
}

.login_ajax .popup .login-block .top {
	font-size: 0;
	height: 5px;
	width: 326px;
	background: transparent url(/include_login/img/top_box_login_popup.png) no-repeat 1px top;
	float: left;
}

.login_ajax .popup .login-block  .cnt {
	height: auto;
	width: 227px;
	float: left;
	padding: 0px 50px;
	background: transparent url(/include_login/img/cnt_box_login_popup.png) repeat-y 0 top;
}

.login_ajax .popup .login-block  .btm {
	height: 15px;
	width: 328px;
	background: transparent url(/include_login/img/btm_box_login_popup.png) no-repeat 0 top;
	font-size: 0;
	float: left;
}

/* DOUBLE */

.login_ajax .popup .login-block.double {
	width: 648px;
}

.login_ajax .popup .login-block.double .top {
	font-size: 0;
	height: 5px;
	width: 647px;
	background: transparent url(/include_login/img/top_box_login_popup_double.png) no-repeat 0px top;
	float: left;
}

.login_ajax .popup .login-block.double .cnt {
	height: auto;
	width: 564px;
	float: left;
	padding: 0px 40px;
	background: transparent url(/include_login/img/cnt_box_login_popup_double.png) repeat-y 0 top;
}

.login_ajax .popup .login-block.double .btm {
	height: 17px;
	width: 648px;
	background: transparent url(/include_login/img/btm_box_login_popup_double.png) no-repeat 0 top;
	font-size: 0;
	float: left;
}

.login_ajax .popup .login-block.double .cnt > form  h6 {
	text-align: center;
}

.login_ajax .popup .login-block.double .cnt > .non-cliente {
	margin-top: 10px;
	border-right: 1px solid #dbdbdb;
	width: 290px;
	height: 270px;
	margin-right: 40px;
}

.login_ajax .popup .login-block.double .cnt > .non-cliente h6 {
	text-align: left;
}

/*
 * aggiunta tsc mistre
 */
.login_ajax .popup .login-block.privati .non-cliente {
	display: none !important;
}

/* END wla_agent.css */

.cclear {
	clear: both;
}

.fasciaCookie {
	width: 100%;
	position: fixed;
	bottom: -2000px;
	z-index: 99999999;
}
.fasciaCookie .bgTop {
	height: 16px;
	width: 950px;
	margin: 0 auto;
	background: url(/consenso/img/bg_cookie_top.png) repeat-x;
}

.fasciaCookie .bgContent {
	width: 950px;
	margin: 0 auto;
	background: url(/consenso/img/bg_cookie.png) repeat;
	padding-top: 5px;
}

.fasciaCookie .bgContent .containerCookie {
	width: 950px;
	margin: 0 auto;
	position: relative;
}

.fasciaCookie .bgContent .containerCookie > img {
	display: block;
}

.fasciaCookie .bgContent .containerCookie .closeCookie {
	position: absolute;
	top: 0;
	right: 0;
}

.fasciaCookie .bgContent .containerCookie .closeCookie img {
	margin: 5px 13px;
	cursor: pointer;
}

.fasciaCookie .bgContent .containerCookie .text-cookie {
	font-size: 13px;
	line-height: 16px;
	color: #ffffff;
	padding: 15px 30px;
}

/* END cookie.css */

/* social footer wind group */
.footer-wrapper-top-outer.new .footer-wrapper-top-inner nav#social-buttons a img{
display:none;
}

