@CHARSET "UTF-8";

/* top menu */

.top_menu
{	
	margin-top:20px;
	width:100%;
	background:#f3f2ef url(../img/content/menu-v2/left_topmenu.gif) top left no-repeat;
	height:60px;
	*margin-top:0px !important; /* WEBFORMAT*/
}

.top_menuopen
{	background:#f00 url(../img/content/menu-v2/left_topmenuopen.gif) top left no-repeat;
}


.top_menuclose
{	background:#f3f2ef url(../img/content/menu-v2/left_topmenuclose.gif) top left no-repeat;
}

.top_menu a
{	float:left;
	dispay:inline;
	margin:0;
	padding:0;
	margin-left:1px;
	width:auto;
	padding-top:21px;
	height:39px;
	_height:60px;
	padding-left:12px;
	padding-right:12px;
	font-size:14px;
	color:#70767B;
	border-right:1px solid #ffffff;
	text-decoration:none /*WEBFORMAT*/
}

.top_menu a.sel
{	font-weight:bold;
	background:#e1e2e0;
	color:#70767B;
}

 .top_menu a.mover
 {	background:#e1e2e0;
	color:#70767B;
 }

.top_menu a:first-child
{	margin-left:3px;
}

.top_menu a.doble
{	padding-top:13px;
	height:47px;
}

	/* cerca */

.top_menu .box_cerca
{	float:right;
	background:url(../img/content/box_cerca.gif) top left no-repeat;
	width:225px;
	height:60px;
	margin-left:1px;
	position:relative;
}

.top_menu .box_cerca input
{	position:absolute;
	top:24px;
	left:28px;
	width:160px;
	height:14px;
	background:none;
	border:none;
	font-size:12px;
	font-family:Helvetica;
	color:#000000;
}

.top_menu .box_cerca a
{	position:absolute;
	top:18px;
	left:190px;
	width:24px;
	height:24px;
	padding:0;
	background:none;
	border:none;
}




.cont_sottomenu
{	position:absolute;
	/*width:950px;*/
	width:auto;
	display:block;
	height:auto;
	top:80px;
	left:0;
	z-index:998;
	display:none;
}

.cont_sottomenu.attivo
{	display:block;
}

.cont_sottomenu .closemenumobile
{	position:absolute;
	top:4px;
	right:4px;
	background:url(../img/menu/bttclose.png) top left no-repeat;
	width:22px;
	height:21px;
}

.sottomenu
{	
	width:auto;
	position:relative;
}

.sottomenu .contentm
{	width:auto;
	background:#e1e2e0 url(../img/menu/sf_sottomenu.png) bottom left repeat-x;
	height:auto;
	padding-bottom:20px;
}

.sottomenu .bl_sx
{	height:100%;
	background: #e1e2e0 url(../img/menu/sf_sx_sottomenu.png) bottom left no-repeat
	width:5px;
	margin-bottom:0;
	padding-top:20px;
}

.sottomenu .bl_dx
{	height:100%;
	background:url(../img/menu/sf_dx_sottomenu.png) bottom left no-repeat;
	width:5px;
	margin-bottom:0;
	padding-top:20px;
}

.sottomenu .contentm .blocco
{	width:auto;
	background:url(../img/menu/sf_blocco.png) bottom left repeat-y;
	padding-left:10px;
	margin-top:20px;
	margin-left:10px;
	padding-right:10px;
	
}

.sottomenu .contentm .no-bck
{	background:none;
	padding-left:0;
}

.sottomenu .contentm .blocco h3, .sottomenu .contentm .blocco h3 a
{	font-size:13px;
	color:#666666;
	font-weight:bold;
	line-height:14px;
	width:100%;
	display:block;
	clear:both;
}

.sottomenu .contentm .blocco .sottoblocchi
{	clear:both;
	width:auto;
	margin:0;
	padding:0;
}

.sottomenu .contentm .blocco ul
{	clear:both;
	margin-top:8px;
	width:auto;
	*margin-right:10px;
}

.sottomenu .contentm .blocco ul li
{	background:url(../img/menu/sf_lisottomenu.png) 0 4px no-repeat;
	padding-left:15px;
	margin-top:2px;
	width:auto;
	clear:both;
}

.sottomenu .contentm .blocco ul li a
{	font-size:12px;
	color:#666666;
	font-weight:normal;
	margin:0;
	padding:0;
	width:auto;
	*white-space:nowrap; 
}

.sottomenu .contentm .blocco ul li a:hover
{	color:#F48133;
}

.sottomenu .contentm .blocco .sottoblocco
{	width:auto;
	background:url(../img/menu/sf_blocco.png) bottom right repeat-y;
	padding-right:10px;
	margin-top:10px;
	margin-left:10px;
	float: left;
}

.sottomenu .contentm .blocco .sottoblocco:first-child
{	margin-left:0px!important;
}

.sottomenu .contentm .blocco .sottoblocco:last-child
{	background:none;
}

.sottomenu .contentm .blocco .sottoblocco .tit_offerta
{	width:auto;
	height:26px;
	position:relative;
}

.sottomenu .contentm .blocco .sottoblocco .tit_offerta .sx
{	background:url(../img/menu/sx_titofferta.png) top left no-repeat;
	width:4px;
	height:19px;
	font-size:0;
	float: left; /*WEBFORMAT*/
}

.sottomenu .contentm .blocco .sottoblocco .tit_offerta .dx
{	background:url(../img/menu/dx_titofferta.png) top left no-repeat;
	width:4px;
	height:19px;
	font-size:0;
	float: left; /*WEBFORMAT*/
}

.sottomenu .contentm .blocco .sottoblocco .tit_offerta .center
{	background:url(../img/menu/sf_titofferta.png) top left repeat-x;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:1px;
	height:18px;
	*height:20px;
	font-size:12px;
	font-weight:bold;
	/*text-transform:uppercase;*/
	color:#ffffff;
	float: left; /*WEBFORMAT*/
}

.sottomenu .contentm .blocco .sottoblocco .tit_offerta .spunta
{	position:absolute;
	top:18px;
	left:10px;
	background:url(../img/menu/spunta_titofferta.png) top left no-repeat;
	width:20px;
	height:8px;
	font-size:0;
}


	
.sottomenu .bottom
{	width:950px;
	height:5px;
	background:url(../img/menu/bottom_sottomenu.jpg) top left no-repeat;
}


/*** MENU DI SEZIONE (IN PAGINA) ***/
.menusezione
{	width:222px;
	padding-bottom:30px;
}

.menusezione a
{	background:url(../img/menu/sf_menuinterno.gif) top left no-repeat;
	width:210px;
	height:27px;
	_width:216px;
	_height:35px;
	padding-left:7px;
	padding-right:7px;
	padding-top:9px;
	font-size:12px;
	color:#999999;
	font-weight:bold;
	margin-bottom:1px;
}

.menusezione a.active
{	background:url(../img/menu/sf_menuactiveinterno.gif) top left no-repeat;
	color:#ffffff;
}

.sottomenusez
{	background:#fdfcfc url(../img/menu/sf_sottomenusez.gif) top left no-repeat;
	width:220px;
	margin:0;
	padding-top:5px;
	padding-bottom:15px;
	margin-top:-2px;
}

.sottomenusez li
{	margin-top:10px;
	width:220px;
	background:none;
}

.sottomenusez li a
{	margin:0;
	padding:0;
	margin-left:20px;
	background:none;
	width:180px;
	font-size:12px;
	color:#84989F;
	height:auto;
}

.sottomenusez li.attivo a
{	color:#F58233;
}

.sottomenusez li.attivo span
{	margin-left:30px;
	width:170px;
}

.sottomenusez li.attivo span a
{	margin:0;
	padding:0;
	margin-top:7px;
	background:none;
	width:170px;
	font-size:12px;
	color:#999999;
	height:auto;
}

.sottomenusez li.attivo span a.selected
{	color:#333333;
}

.sottomenusezione
{
	width:220px;
	margin:0;
	padding:0px;
	margin-top:-2px;
	position:relative;
}

.sottomenusezione .spunta
{	position:absolute;
	top:0;
	left:15px;
	width:35px;
	height:14px;
	background:url(../img/wind/spunta_sottomenu.png) top left no-repeat;
	z-index:990;
	cursor:pointer;
}

.sottomenusezione a
{	margin-top:1px;
	width:190px;
	height:27px;
	margin-left:10px;
	background:url(../img/menu/sf_vocesottomenu.gif) top left no-repeat;
	z-index:0;
	padding-left:10px;
	padding-right:10px;
	_width:210px;
	padding-top:9px;
	_height:36px;
}

.sottomenusezione a.attivo
{	background:url(../img/menu/sf_vocesottomenu_attivo.gif) top left no-repeat;
	font-size:13px;
	font-weight:bold;
	color:#F27F33;
}

.sottomenusezione .terzolivello
{	float:right;
	width:190px;
	margin:0;
	padding:0px;
	margin-top:-2px;
	position:relative;
	padding-top:5px;
}

.sottomenusezione .terzolivello .spunta
{	position:absolute;
	top:0;
	left:0;
	width:23px;
	height:7px;
	background:url(../img/wind/spunta_sottomenu_terzo.png) top left no-repeat;
	z-index:990;
	cursor:pointer;
}

.sottomenusezione .terzolivello a
{	margin:0;
	margin-top:4px;
	width:190px;
	height:auto;
	z-index:0;
	background: none;
	padding:0;
	padding-bottom:5px;
	line-height:15px;
}

.sottomenusezione .terzolivello a.attivo
{	font-size:12px;
	font-weight:bold;
	color:#F27F33;
	background:none!important;
}

/* 20 06 2013*/


.top_menu
{	
	margin-top:20px;
	width:100%;
	background:#f3f2ef url(../img/content/left_topmenu.gif) top left no-repeat;
	height:60px;
}

.top_menuopen
{	
	background:#f3f2ef url(../img/content/menu-v2/left_topmenuopen.gif) top left no-repeat;
}


.top_menuclose
{	background:#f3f2ef url(../img/content/left_topmenuclose.gif) top left no-repeat;
}

		/* cerca */

	.top_menu .box_cerca
	{	
		float:right;
		background:url(../img/content/box_cerca.gif) top left no-repeat;
		width:227px;
		height:60px;
		margin-left:1px;
		position:relative;
	}

	.top_menu .box_cerca input
	{	position:absolute;
		top:24px;
		left:28px;
		width:160px;
		height:14px;
		background:none;
		border:none;
		font-size:12px;
		font-family:Helvetica;
		color:#000000;
	}

	.top_menu .box_cerca a
	{	position:absolute;
		top:18px;
		left:190px;
		width:24px;
		height:24px;
		padding:0;
		background:none;
		border:none;
	}


			/* menu */

	.top_menu a:first-child
	{	
		margin-left: 2px;
		border-left: 0px;
	}

	.top_menu a
	{	
		position: relative;
		float:left;
		display:inline;

		margin:0;
		padding:0;
		
		text-align: center;

		margin-left:0px;

		width:auto;
		padding-top:21px;
		
		height:39px;
		_height:60px;

		padding-left:12px;
		padding-right:12px;

		font-size:14px;
		color:#70767B;

		border-top:2px solid #f3f2ef;

		border-left:1px solid white;
		/*border-right:1px solid #f3f2ef;*/
		border-right: none;
	}

	.top_menu a.sel
	{	
		font-weight:bold;
		background:#e1e2e0;

		border-top: 2px solid #E1E2E0;
		border-bottom: 2px solid #ffffff;

		/*border-right:1px solid #e1e2e0;*/
		border-right: none;
		/*border-left:1px solid #e1e2e0;*/
		border-left:0;

		height:37px;

		color:#70767B;

	}
 	
 	.top_menu a.mover
	{	
	 	background:#fff;
		color:#70767B;

		border-top:2px solid #ebecea;

		border-right:2px solid #ebecea!important;
		border-left:2px solid #ebecea;
		
		z-index:666;
		z-index:1001; /* WEBFORMAT */
	}

	.top_menu a.mover + a {
	 	border-left:0; /** #f3f2ef **/
	}
	
	.top_menu a.mover + a.sel {
		border-left:0px;
	}
	
	.top_menu a:first-child.mover
	{
		border-left: 0;
		border-right: 2px solid #ebecea;
		margin-left: 3px !important;
	}

	.top_menu a.doble
	{	
		padding-top:13px;
		height:47px;
	}

/* sotto menu */

	.sottomenu{
		float:left;
		display: block;
	}
	
	/* WEBFORMAT */
	.sottomenu > div{
		float:left;
		display: inline;
	}

	.cont_sottomenu {
	    
	    top:80px;
	    top: 60px; /*WEBFORMAT*/
	    z-index:0;
	    z-index:1000; /*WEBFORMAT*/
	    height:290px;
	    border-top: 2px solid #ebecea
	}

		.cont_sottomenu .sottomenu .bl_sx
		{	
			height:288px!important;
			background: transparent url(../img/menu-v2/sf_sx_sottomenu.png) left bottom no-repeat;
			width:5px;
			top:0;
			margin-bottom:0;
		
			/*padding-top:20px;*/
			padding-top:0;
		}

		.cont_sottomenu .sottomenu .bl_dx
		{	
			height: 288px!important;
			background: transparent url(../img/menu-v2/sf_dx_sottomenu.png) right bottom no-repeat;
			width:5px;
			top:0;
			margin-bottom:0;
			/*padding-top:20px;*/
			padding-top:0;
		}

		.cont_sottomenu .sottomenu .contentm {

		    background: white;
		    height: 286px!important;

		    /*padding-bottom: 20px;*/
		    padding-bottom:0;
		    overflow: hidden;
		  
		    width: auto;

		    z-index:0;
		    top:0px;
		    border-bottom: 2px solid #ebecea
		}
		
			/*WEBFORMAT*/
			.sottomenu .contentm > div.csc-default{
				float:left;
				clear:none;
			}
			
			.sottomenu .contentm .blocco
			{	
				width:auto;
				
				padding-left:10px;
				line-height: 1.4;			

				padding-right:12px;
				
				height: 100%;
				margin-left: 0;
				position: relative;
				display: block;
				
				float:left; /*WEBFORMAT*/
			}
		
				.sottomenu .contentm .blocco .img{
					position: relative;
					margin: 0px 0 20px 0px;
					float:left;
					display: block;
					clear:both;

					width: 195px;
					max-width: 195px;
				}

				.sottomenu .contentm .blocco h3, 
				.sottomenu .contentm .blocco h3 a
				{	
					font-size:13px;
					color:#333;
					line-height:13px;
				}
				
				.sottomenu .contentm .blocco h3{
					padding-bottom: 10px;
				}

				.sottomenu .contentm .blocco h3 a:hover{
					color: #F27F33
				}

				.sottomenu .contentm .blocco h4, 
				.sottomenu .contentm .blocco h4 a
				{	
					font-size:11px;
					color:#666;
					text-transform: uppercase;
					line-height:11px;
				}
				.sottomenu .contentm .blocco h4 a:hover{
					color: #F27F33
				}


				.sottomenu .contentm .blocco ul
				{
					display: block;
				}

				.sottomenu .contentm .blocco ul li{
					padding-left: 10px
				}

				.sottomenu .contentm .blocco ul li a
				{	
					
					font-size:12px;
					color:#666666;
					font-weight:bold;

					margin:0;
					padding:0;
					width:auto;
					*white-space:nowrap; 
				}


					/* link pagina */

				.sottomenu .contentm .blocco ul.ul-sing{
					margin: 15px 0 0 0;
					list-style: none!important;
				}

				.sottomenu .contentm .blocco ul.ul-sing li{
					background: none!important
				}

				.sottomenu .contentm .blocco ul.ul-sing li a{
					font-weight: normal;
					color: #f58434;
					font-size:12px;
					text-decoration:none;
				}
				.sottomenu .contentm .blocco a{
					text-decoration:none;
				}
				.sottomenu .contentm .blocco a:hover{
					text-decoration:underline;
				}
				.sottomenu .contentm .blocco ul.ul-sing li a:hover{
					color:#f58434;
					text-decoration:underline;
				}
					
						/*         */

				.sottomenu .contentm .blocco h3.footer, 
				.sottomenu .contentm .blocco h3.footer a
				{	
					color: #666;
					font-size: 11px;
				}

				.sottomenu .contentm .blocco h3.footer a:hover
				{
					color:#f58434;
				}

				.sottomenu .contentm .blocco h3.footer{
					position: absolute;
					left: 15px;
					bottom: -15px;	
					*bottom: -18px;
					height:11px;
					width: auto;
				}
