/* COLORS */
/* Background for header, footer and menu */
/* SIZES */
/* FONTS */
/* line 7, ../scss/news.scss */
#content .news-list-container strong {
  font-weight: bold;
}
/* line 8, ../scss/news.scss */
#content .news-list-container .content-news-list {
  padding: 5px 0px;
  border-left: 8px solid #E5EEF6;
}
/* line 12, ../scss/news.scss */
#content .news-list-container .content-news-list .news-list-item {
  font-size: 13px;
  line-height: 16px;
  margin: 5px 0 0 20px;
  color: #666666;
}
/* line 19, ../scss/news.scss */
#content .news-list-container .content-news-list .news-list-item span {
  color: #999999;
  font-size: 13px;
  line-height: 16px;
  margin: 1px 0 0 0px;
}
/* line 25, ../scss/news.scss */
#content .news-list-container .content-news-list .news-list-item:hover {
  color: #f48133;
}
/* line 26, ../scss/news.scss */
#content .news-list-container .content-news-list .news-list-item:hover a {
  text-decoration: none;
}
/* line 28, ../scss/news.scss */
#content .news-list-container .content-news-list .news-list-item:hover span {
  color: #999999;
}
/* line 31, ../scss/news.scss */
#content .news-list-container .content-news-list .news-list-item hr.clearer {
  border: medium none;
  clear: right;
  height: 1px;
  margin: 0;
  padding: 0;
}
/* line 38, ../scss/news.scss */
#content .news-list-container .news-list-browse {
  margin: 0 0 30px 0;
  text-align: center;
}
/* line 43, ../scss/news.scss */
#content .news-list-container .news-list-browse .browseLinksWrap .activeLinkWrap a {
  background: url("../img/sf_page_active.gif") no-repeat scroll left top transparent;
}
/* line 47, ../scss/news.scss */
#content .news-list-container .news-list-browse .browseLinksWrap a {
  background: url("../img/sf_page.gif") no-repeat scroll left top transparent;
  display: inline-block;
  float: none;
  height: 7px;
  margin: 0 2px 0 auto;
  width: 7px;
  text-indent: -9999px;
}

/* line 63, ../scss/news.scss */
.news-single-item {
  font-size: 11px;
  line-height: 13px;
  /*margin-left:20px; width:600px;*/
  color: #666666;
}
/* line 64, ../scss/news.scss */
.news-single-item strong {
  font-weight: bold;
}
/* line 66, ../scss/news.scss */
.news-single-item p {
  padding-top: 3px;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  /*float:left;*/
}
/* line 73, ../scss/news.scss */
.news-single-item .news-single-rightbox {
  padding-top: 3px;
  /*float:left;*/
}
/* line 74, ../scss/news.scss */
.news-single-item h3 {
  color: #666666;
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 13px;
  margin-top: 3px;
  width: 600px;
}
/* line 83, ../scss/news.scss */
.news-single-item hr {
  border: medium none;
  clear: right;
  height: 1px;
  margin: 0;
  padding: 0;
}
/* line 89, ../scss/news.scss */
.news-single-item h2 {
  color: #58a4cc;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0px;
}
/* line 93, ../scss/news.scss */
.news-single-item .news-single-backlink {
  margin-top: 20px;
  font-weight: bold;
  float: left;
}
/* line 95, ../scss/news.scss */
.news-single-item ul {
  float: left;
  margin-top: 10px;
}
/* line 98, ../scss/news.scss */
.news-single-item ul li {
  float: left;
  background: url(../img/sf_liattivazione.png) 0 4px no-repeat;
  padding-left: 15px;
  width: 580px;
  line-height: 14px;
}

/* line 109, ../scss/news.scss */
.news-latest-container {
  height: 18px;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 8px;
  width: 100%;
  height: 25px;
}
/* line 110, ../scss/news.scss */
.news-latest-container strong {
  font-weight: bold;
}
/* line 117, ../scss/news.scss */
.news-latest-container label {
  color: #F57900;
  font-size: 18px;
  text-transform: uppercase;
  float: left;
}
/* line 123, ../scss/news.scss */
.news-latest-container .cont_news {
  height: 25px;
  width: 775px;
  margin-left: 10px;
  position: relative;
  float: left;
  margin-top: -6px;
}
/* line 131, ../scss/news.scss */
.news-latest-container .tickercontainer {
  background: none repeat scroll 0 0 #FFFFFF;
  height: 20px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 775px;
}
/* line 139, ../scss/news.scss */
.news-latest-container .tickercontainer .mask {
  height: 18px;
  overflow: hidden;
  position: relative;
  top: 4px;
}
/* line 145, ../scss/news.scss */
.news-latest-container .tickercontainer .mask ul {
  font: bold 10px Verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 151, ../scss/news.scss */
.news-latest-container .tickercontainer .mask ul li {
  float: left;
  margin: 0;
  padding-right: 15px;
  white-space: nowrap !important;
  color: #000000;
}
/* line 157, ../scss/news.scss */
.news-latest-container .tickercontainer .mask ul li span {
  margin: 0 10px 0 0;
}
/* line 165, ../scss/news.scss */
.news-latest-container a.feed {
  background: url("../img/img_feed.gif") no-repeat scroll 0 0px transparent;
  color: #999999;
  float: right;
  font-size: 15px;
  height: 20px;
  padding-left: 20px;
  margin-top: 1px;
  width: auto;
}
