/* line 17, ../scss/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, tt, var,
center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../scss/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../scss/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../scss/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../scss/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../scss/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../scss/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../scss/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../scss/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* COLORS */
/* Background for header, footer and menu */
/* SIZES */
/* FONTS */
/* line 7, ../scss/print.scss */
body {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 11px;
  color: #898989;
}

/* line 12, ../scss/print.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 13, ../scss/print.scss */
a:after {
  content: " (" attr(href) ")";
}

/* line 14, ../scss/print.scss */
nav {
  display: none;
}

/* line 15, ../scss/print.scss */
img {
  display: block;
  max-width: 750px;
  width: auto;
  height: auto;
}

/* line 17, ../scss/print.scss */
.header-wrapper-bottom {
  display: none;
}

/* FRAMES */
/* line 21, ../scss/print.scss */
.content-style-2,
.content-style-1 {
  padding: 20px 15px;
  margin: 20px 0;
  border: 3px solid #E9ECED;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 29, ../scss/_base.scss */
.no-borderradius .content-style-2, .no-borderradius
.content-style-1 {
  border-radius: 4px 4px 4px 4px;
  behavior: url("/PIE/PIE.htc");
  position: relative;
}
/* line 27, ../scss/print.scss */
.content-style-2 h2, .content-style-2 h3,
.content-style-1 h2,
.content-style-1 h3 {
  color: #58A4CC;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 20px;
}
/* line 34, ../scss/print.scss */
.content-style-2 h3,
.content-style-1 h3 {
  font-size: 15px;
  font-weight: normal;
}

/* line 41, ../scss/print.scss */
.content-style-2 h2 {
  color: #F58233;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* line 50, ../scss/print.scss */
.csc-default p.bodytext {
  margin-bottom: 15px;
  line-height: 1.5em;
}

/* line 55, ../scss/print.scss */
#content h1 {
  color: #6098CB;
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
}

/* line 62, ../scss/print.scss */
.header-wrapper-top-outer {
  display: none;
}

/* Colums FCE Layouts */
/* line 2, ../scss/_colsets.scss */
.col-set {
  overflow: hidden;
  *zoom: 1;
  clear: both;
}

/* 2 Columns Sets*/
/* line 10, ../scss/_colsets.scss */
.col-set2 .col1 {
  float: left;
}
/* line 11, ../scss/_colsets.scss */
.col-set2 .col2 {
  float: right;
}

/* line 14, ../scss/_colsets.scss */
.layout-50-50 > .col1 {
  width: 49%;
}
/* line 15, ../scss/_colsets.scss */
.layout-50-50 > .col2 {
  width: 49%;
}

/* line 18, ../scss/_colsets.scss */
.layout-50-50-percentuale > .col1 {
  width: 49%;
}
/* line 19, ../scss/_colsets.scss */
.layout-50-50-percentuale > .col2 {
  width: 49%;
}

/* line 22, ../scss/_colsets.scss */
.layout-30-70 > .col1 {
  width: 29%;
}
/* line 23, ../scss/_colsets.scss */
.layout-30-70 > .col2 {
  width: 69%;
}

/* line 26, ../scss/_colsets.scss */
.layout-70-30 > .col1 {
  width: 630px;
}
/* line 27, ../scss/_colsets.scss */
.layout-70-30 > .col2 {
  width: 310px;
}

/* line 30, ../scss/_colsets.scss */
.layout-630-310 .col1 {
  width: 630px;
  margin-right: 9px;
}
/* line 31, ../scss/_colsets.scss */
.layout-630-310 .col2 {
  width: 310px;
  float: left;
}

/* line 34, ../scss/_colsets.scss */
.layout-66-33 > .col1 {
  width: 630px;
}
/* line 35, ../scss/_colsets.scss */
.layout-66-33 > .col2 {
  width: 310px;
}

/* line 39, ../scss/_colsets.scss */
.sidebar .layout-50-50 .column {
  width: 345px;
}

/* line 43, ../scss/_colsets.scss */
.sidebar .padded-content .layout-50-50 .column.col1 {
  width: 338px;
  padding-left: 1px;
}
/* line 47, ../scss/_colsets.scss */
.sidebar .padded-content .layout-50-50 .column.col2 {
  width: 351px;
}

/* 3 Columns Sets*/
/* line 55, ../scss/_colsets.scss */
.col-set3 .col1 {
  float: left;
  margin-right: 2%;
}
/* line 56, ../scss/_colsets.scss */
.col-set3 .col2 {
  float: left;
}
/* line 57, ../scss/_colsets.scss */
.col-set3 .col3 {
  float: right;
}

/* line 59, ../scss/_colsets.scss */
.layout-33-33-33 {
  /*.column {width:32%;}*/
}
/* line 61, ../scss/_colsets.scss */
.layout-33-33-33 .column {
  width: 310px;
}
/* line 62, ../scss/_colsets.scss */
.layout-33-33-33 .col1 {
  margin-right: 10px;
}

/* line 65, ../scss/_colsets.scss */
.layout-33-33-33-percentuale .column {
  width: 32%;
}

/* line 69, ../scss/_colsets.scss */
body.sidebar .layout-33-33-33 .column {
  width: 233px;
  margin-right: 0 !important;
}

/* line 73, ../scss/_colsets.scss */
.layout-25-50-25 .col1 {
  width: 24%;
}
/* line 74, ../scss/_colsets.scss */
.layout-25-50-25 .col2 {
  width: 48%;
}
/* line 75, ../scss/_colsets.scss */
.layout-25-50-25 .col3 {
  width: 24%;
}

/* line 78, ../scss/_colsets.scss */
.layout-25-25-50 .col1 {
  width: 24%;
}
/* line 79, ../scss/_colsets.scss */
.layout-25-25-50 .col2 {
  width: 24%;
}
/* line 80, ../scss/_colsets.scss */
.layout-25-25-50 .col3 {
  width: 48%;
}

/* line 83, ../scss/_colsets.scss */
.layout-50-25-25 .col1 {
  width: 48%;
}
/* line 84, ../scss/_colsets.scss */
.layout-50-25-25 .col2 {
  width: 24%;
}
/* line 85, ../scss/_colsets.scss */
.layout-50-25-25 .col3 {
  width: 24%;
}

/* line 88, ../scss/_colsets.scss */
.layout-310-150-150 .col1 {
  width: 310px;
  margin-right: 10px;
}
/* line 89, ../scss/_colsets.scss */
.layout-310-150-150 .col2 {
  width: 150px;
  margin-right: 10px;
}
/* line 90, ../scss/_colsets.scss */
.layout-310-150-150 .col3 {
  width: 150px;
}

/* line 93, ../scss/_colsets.scss */
.col-set .layout-310-150-150 {
  margin-bottom: 0;
}

/* 4 Columns Sets*/
/* line 99, ../scss/_colsets.scss */
.col-set4 .col1 {
  float: left;
  margin-right: 2%;
}
/* line 100, ../scss/_colsets.scss */
.col-set4 .col2 {
  float: left;
  margin-right: 2%;
}
/* line 101, ../scss/_colsets.scss */
.col-set4 .col3 {
  float: left;
}
/* line 102, ../scss/_colsets.scss */
.col-set4 .col4 {
  float: right;
}

/* line 105, ../scss/_colsets.scss */
.layout-25-25-25-25 .column {
  width: 23.5%;
}

/* line 108, ../scss/_colsets.scss */
.layout-15-15-35-35 .col1 {
  width: 13.5%;
}
/* line 109, ../scss/_colsets.scss */
.layout-15-15-35-35 .col2 {
  width: 13.5%;
}
/* line 110, ../scss/_colsets.scss */
.layout-15-15-35-35 .col3 {
  width: 34.5%;
}
/* line 111, ../scss/_colsets.scss */
.layout-15-15-35-35 .col4 {
  width: 34.5%;
}

/* line 114, ../scss/_colsets.scss */
.layout-15-35-35-15 .col1 {
  width: 13.5%;
}
/* line 115, ../scss/_colsets.scss */
.layout-15-35-35-15 .col2 {
  width: 34.5%;
}
/* line 116, ../scss/_colsets.scss */
.layout-15-35-35-15 .col3 {
  width: 34.5%;
}
/* line 117, ../scss/_colsets.scss */
.layout-15-35-35-15 .col4 {
  width: 13.5%;
}

/*
.layout-35-15-15-35 {
  .col1 {width:34.5%}
  .col2 {width:13.5%}
  .col3 {width:13.5%}
  .col4 {width:34.5%}
}
*/
/* line 128, ../scss/_colsets.scss */
.layout-35-15-15-35 .col1 {
  width: 310px;
  margin-right: 10px;
}
/* line 129, ../scss/_colsets.scss */
.layout-35-15-15-35 .col2 {
  width: 150px;
  margin-right: 10px;
}
/* line 130, ../scss/_colsets.scss */
.layout-35-15-15-35 .col3 {
  width: 150px;
  margin-right: 10px;
}
/* line 131, ../scss/_colsets.scss */
.layout-35-15-15-35 .col4 {
  width: 310px;
}

/* line 134, ../scss/_colsets.scss */
.layout-35-35-15-15 .col1 {
  width: 34.5%;
}
/* line 135, ../scss/_colsets.scss */
.layout-35-35-15-15 .col2 {
  width: 34.5%;
}
/* line 136, ../scss/_colsets.scss */
.layout-35-35-15-15 .col3 {
  width: 13.5%;
}
/* line 137, ../scss/_colsets.scss */
.layout-35-35-15-15 .col4 {
  width: 13.5%;
}

/* line 140, ../scss/_colsets.scss */
.layout-tabella_offerta_4colonne .col1 {
  width: 160px;
  margin-left: 10px;
  margin-right: 0;
}
/* line 141, ../scss/_colsets.scss */
.layout-tabella_offerta_4colonne .col2 {
  width: 195px;
  margin-left: 25px;
  margin-right: 0;
}
/* line 142, ../scss/_colsets.scss */
.layout-tabella_offerta_4colonne .col3 {
  width: 195px;
  margin-left: 25px;
  margin-right: 0;
}
/* line 143, ../scss/_colsets.scss */
.layout-tabella_offerta_4colonne .col4 {
  width: 60px;
  margin-left: 20px;
  margin-right: 0;
}

/* 5 Columns Sets*/
/* line 148, ../scss/_colsets.scss */
.col-set5 .col1 {
  float: left;
  width: 149px;
  margin-right: 6px;
}
/* line 149, ../scss/_colsets.scss */
.col-set5 .col2 {
  float: left;
  width: 149px;
  margin-right: 6px;
}
/* line 150, ../scss/_colsets.scss */
.col-set5 .col3 {
  float: left;
  width: 149px;
  margin-right: 6px;
}
/* line 151, ../scss/_colsets.scss */
.col-set5 .col4 {
  float: left;
  width: 149px;
  margin-right: 0;
}
/* line 152, ../scss/_colsets.scss */
.col-set5 .col5 {
  float: right;
  width: 85px;
}

/* 6 Columns Sets*/
/* line 157, ../scss/_colsets.scss */
.col-set6 .col1 {
  float: left;
  width: 120px;
}
/* line 158, ../scss/_colsets.scss */
.col-set6 .col2 {
  float: left;
  width: 124px;
}
/* line 159, ../scss/_colsets.scss */
.col-set6 .col3 {
  float: left;
  width: 124px;
}
/* line 160, ../scss/_colsets.scss */
.col-set6 .col4 {
  float: left;
  width: 124px;
}
/* line 161, ../scss/_colsets.scss */
.col-set6 .col5 {
  float: left;
  width: 124px;
}
/* line 162, ../scss/_colsets.scss */
.col-set6 .col6 {
  float: right;
  width: 75px;
}

/* line 165, ../scss/_colsets.scss */
.col-set div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image {
  margin-bottom: 0;
}

/* line 169, ../scss/_colsets.scss */
.col-set5 p, .col-set6 p {
  line-height: 18px;
  font-size: 12px;
}

/* line 173, ../scss/_colsets.scss */
.col-set5 p.bodytext {
  margin-bottom: 5px;
}

/* line 176, ../scss/_colsets.scss */
.col-set5 p.titolo-blue-contenuto, .col-set6 p.titolo-blue-contenuto {
  font-weight: normal;
  margin-top: 0px;
  line-height: 22px;
  font-size: 16px;
}
