/****************************************************************************************
# Default css file for content edited with htmlArea RTE
#
# Defines a few class selectors that can be simply taken as examples by anyone who needs to configure the RTE.
# This css file is referenced by property RTE.default.contentCSS in the default configuration of htmlArea RTE.
#
# TYPO3 SVN ID: $Id$
# ***************************************************************************************/

/* Left, center, right and justify alignment of text in block elements*/
p.align-left, td.align-left, tr.align-left, th.align-left, h1.align-left, h2.align-left, h3.align-left, h4.align-left, h5.align-left, h6.align-left, div.align-left, address.align-left { text-align: left; }
p.align-center, td.align-center,tr.align-left, th.align-center, h1.align-center, h2.align-center, h3.align-center, h4.align-center, h5.align-center, h6.align-center, div.align-center, address.align-center { text-align: center; }
p.align-right, td.align-right, th.align-right,tr.align-left, h1.align-right, h2.align-right, h3.align-right, h4.align-right, h5.align-right, h6.align-right, div.align-right, address.align-right { text-align: right; }
p.align-justify, td.align-justify,tr.align-left, th.align-justify, h1.align-justify, h2.align-justify, h3.align-justify, h4.align-justify, h5.align-justify, h6.align-justify, div.align-justify, address.align-justify { text-align: justify; }




/* Default selector for indentation.*/
div.indent { margin-left: 2em; }

p a.border-link, a.border-link{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 3px double #ED8027;
    margin-bottom: 30px;
    padding: 5px;
}

p a.border-link-orange, a.border-link-orange{
	background: none repeat scroll 0 0 #ED8027;
    border: 3px double #FFFFFF;
    margin-bottom: 30px;
    padding: 5px;
    color: #FFF;
    float:right;
}


#content p a.orange-button-link, #content a.orange-button-link{
	background: none repeat scroll 0 0 #ED8027;
	color: #FFFFFF;
    /*margin-bottom: 30px;*/
    padding: 8px;
    overflow:hidden;
}

#content p.align-left a.orange-button-link{float:left;}
#content p a.btt_miniblu, #content a.btt_miniblu{
	 -webkit-border-radius: 4px;
	  -khtml-border-radius: 4px;
	  -moz-border-radius: 4px;
	  -ms-border-radius: 4px;
	  -o-border-radius: 4px;
	  border-radius: 4px;
	  background-color:#03569c;
	  color: white;
	  font-family:Geneva,"MS Sans Serif",sans-serif;
	  font-size:12px;
	  padding:5px 13px 4px;
	  display:inline-block;
	
}

p a.linkdownload, a.linkdownload{
	
	background:url("../img/arrow-link.png") no-repeat scroll right transparent;
	padding-right:25px;
	padding-top:2px;
	padding-bottom:3px;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration:underline;
}

p a.link999-underline, a.link999-underline, p a.link999-underline:hover, a.link999-underline:hover{
	
	color: #999999;
    text-decoration:underline;
    line-height:16px;
}

#content p a.link-underline, #content a.link-underline{text-decoration:underline !important;}
.titolo-blue-contenuto, p.titolo-blue-contenuto, p a.titolo-blue-contenuto{
    color: #58A4CC;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 18px;
}
.titolo-blue-contenuto:first-child{margin-top:0;}
.csc-border-10-grey .titolo-blue-contenuto{margin-bottom:1px;}
p a.link-icon, a.link-icon{
	text-indent:-9999px;
	width:22px;
	height:18px;
	margin-top: 0px;
	display: inline;
	clear: none;
	float:right;
	text-decoration:none;
	background: url('../img/BottDownload.gif') no-repeat scroll right transparent;
}

.box-grigio-spunta, p.box-grigio-spunta, p a.box-grigio-spunta{overflow:hidden;}
.box-grigio-content{
	clear: both;
    float: left;
    overflow: hidden;
    width: auto !important;
}
.box-grigio-spunta .testo-box-spunta, p.box-grigio-spunta .testo-box-spunta, p a.box-grigio-spunta .testo-box-spunta{
	
	background-color: #f6f8f9;
	 -webkit-border-radius: 4px;
	  -khtml-border-radius: 4px;
	  -moz-border-radius: 4px;
	  -ms-border-radius: 4px;
	  -o-border-radius: 4px;
	  border-radius: 4px;
	  margin-top:20px;
	  height:26px;
	  padding:8px 14px;
	  display:inline;
	  float:left;
}


.box-grigio-spunta .spunta, p.box-grigio-spunta .spunta, p a.box-grigio-spunta .spunta{
	  background: url("../img/top_dati_punta.png") no-repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 7px;
    margin: 0 auto 0;
    width: 100%;
    z-index: 999;
}

.box-grigio-spunta-titolo-tabella, p.box-grigio-spunta-titolo-tabella, p a.box-grigio-spunta-titolo-tabella{overflow:hidden; height:42px; text-align:center;}

.box-grigio-spunta-titolo-tabella .testo-box-spunta, p.box-grigio-spunta-titolo-tabella .testo-box-spunta, p a.box-grigio-spunta-titolo-tabella .testo-box-spunta{
	
	background-color: #f6f8f9;
	 -webkit-border-radius: 4px;
	  -khtml-border-radius: 4px;
	  -moz-border-radius: 4px;
	  -ms-border-radius: 4px;
	  -o-border-radius: 4px;
	  border-radius: 4px;
	  width:100%;
	  height:28px;
	  padding-top:8px;
	  display:inline;
	  float:left;
}


.box-grigio-spunta-titolo-tabella .spunta, p.box-grigio-spunta-titolo-tabella .spunta, p a.box-grigio-spunta-titolo-tabella .spunta{
	  background: url("../img/top_dati_punta.png") no-repeat scroll center bottom transparent;
    display: block;
    float: left;
    height: 7px;
    margin: 0 auto 0;
    width: 100%;
    z-index: 999;
}
.box-grigio-spunta-titolo-tabella .box-grigio-content{width:100% !important;}
p.toimg {
	color:#2971A5;
	margin-bottom:15px;
}
p.size42{
	font-size:42px;
}
p.barrato {
	/*text-decoration:line-through;*/
	color: #666666;
    font-size: 16px;
    font-weight: bold;
    background:url(../img/sbarrato.png) no-repeat 0 0;
    margin-bottom:15px;
}

p a.showHiddenContent, a.showHiddenContent{
	text-decoration: underline;
			color: #666 !important;
			padding: 10px;
			width: auto;
			float: right;
			font-size:12px;
			background: url(../../Materiale/Condivisi/Immagini/sf_link.gif) bottom center no-repeat;
}

p a.btt_orange, a.btt_orange{
	width: auto;
	background-color: #f48133;
	padding: 6px 13px 6px 13px;
	color: white !important;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 3px #fde7d9 solid;
	font-family: Geneva, 'MS Sans Serif', sans-serif;
	text-decoration: none;
}

p.font-13, p a.font-13, a.font-13, ul.font-13, ul.font-13 li, .font-13{font-size:13px;}

p a.orange-link, a.orange-link{
	color:#f48133 !important;
	text-decoration:none;
}

.tabella-primaColonna-235px {
	display:block;
}
.tabella-primaColonna-235px tr td:first-child {
	width:215px; /*10 px di padding*/
}

p a.link-flag, a.link-flag{
	
	background:url("../img/flag2.jpg") no-repeat scroll left transparent;
	padding-left:18px;
	
}

p.double-border-orange{
	border: 5px double #EE833E;
	
}

p.dashed-border{
	border: 1px dashed #F57900; padding: 8px;margin-bottom:15px;
}
p a.link-sfondo-grigio, a.link-sfondo-grigio{
	color: white;
	background-color: #85999f;
	font-family: Geneva,"MS Sans Serif",sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 15px 6px;
	font-size: 12px;
}

p a.link-sfondo-arancione, a.link-sfondo-arancione{
	color: white !important;
	background-color: #f58233;
	font-family: Geneva,"MS Sans Serif",sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 8px !important;
	font-size: 12px;
	line-height:25px;
}

.no-borderradius p a.link-sfondo-arancione, .no-borderradius a.link-sfondo-arancione{
      border-radius: 3px 3px 3px 3px;
      behavior: url('/PIE/PIE.htc');
      position:relative;
}

p.lineheight18, .lineheight18 p.bodytext  {
	line-height:18px !important;
}

p.no-margin-bottom, .no-margin-bottom p.bodytext {
	margin-bottom:0;
}

p.no-margin-padding, .no-margin-padding p.bodytext {
	margin:0 !important;
	padding:0 !important;
}

.img-row6cols, p.img-row6cols{
position: relative;
float: left;
right: -60px;
top: -55px;
width: 60px;
height: auto;
display: inline-block;
margin-bottom:-55px;
}


p.status, .status{
	color: #333333;
    display: block;
    float: left;
    font-family: "Arial";
    font-size: 14px;
    margin: 15px 20px;
    width: 100%;
}

.price, span.price{
	color: #333333;
    font-size: 36px;
    letter-spacing: -1px;
    padding-left: 5px;
}


.text-after-sup, p.text-after-sup, span.text-after-sup{
	position:relative;
	left:-30px;
}


.link-freccia-333, a.link-freccia-333{
	background: url("../img/offerte/freccia-333.gif") no-repeat scroll right 6px transparent;
    color: #333333;
    font-size: 18px;  
    padding-right: 20px;
   
}

ul.ul-sing{
	margin: 15px 0 0 0;
	list-style: none!important;
	
}