/* To be used with cookieCuttr by Chris Wharton (http://cookiecuttr.com) */

.cc-cookies {font-family: Arial, Helvetica, sans-serif;width: 90%;padding: 0.5em 5%;background: #b0b0b0;color: #fff;font-size: 11px;line-height: 1em;font-weight: 400;z-index: 999;text-align:left;color:#fff;text-shadow:none; z-index: 8000; webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;position: fixed;float:left;top:0;left:0; }
.cc-cookies a, .cc-cookies a:hover { color: #fff; text-decoration: underline; }
.cc-cookies a:hover { text-decoration: none; }
.cc-overlay { height: 100%; padding-top: 25%; }
.cc-cookies-error { float: left; width: 90%; text-align: center; margin: 1em 0 2em 0; background: #fff; padding: 2em 5%; border: 1px solid #ccc; font-size: 18px; color: #444; }
.cc-cookies a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset { 
background:none; 
display: inline-block;
border: 1px solid #fff;
border-radius: 6px;
text-align: center;
cursor: pointer;
box-shadow: none;
margin: 0;
line-height: 1.3em;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
padding: 0.2em 1em;
color:#fff;
font-size:11px;
text-decoration:none;
}
.cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline { background: #af3b3b; margin-left: 0.5em; }
.cc-cookies a.cc-cookie-reset { background: #f15b00; }
.cc-cookies a:hover.cc-cookie-accept, .cc-cookies-error a:hover.cc-cookie-accept, .cc-cookies a:hover.cc-cookie-decline, .cc-cookies-error a:hover.cc-cookie-decline, .cc-cookies a:hover.cc-cookie-reset  { background:none; -o-transition: background 0.5s ease-in; -webkit-transition: background 0.25s ease-in; -moz-transition: background 0.25s ease-in; }
.cc-cookies-error a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-decline { display: block; margin-top: 0.5em; }
.cc-cookies.cc-discreet { width: auto; padding: 0.5em 1em; left: auto; top: auto; }
.cc-cookies.cc-discreet a.cc-cookie-reset { background: none; text-shadow: none; padding: 0; text-decoration: underline; }
.cc-cookies.cc-discreet a:hover.cc-cookie-reset { text-decoration: none; }
.cc-cookies p{ margin:0.5em 0 1em 0;}
.cc-cookies .msg {width: 91%;margin: 0;padding: 0;float:left;}
@media screen and (min-width: 1024px) {
  .cc-cookies > div {
    width: 50%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
.cc-cookies a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset { display: block; margin: 1em 0; float:left; clear:left; }
}

@media screen and (max-width: 480px) {
.cc-cookies { position: relative; float: left; }
}
