.bannervcms,
.container_head,
.overbox_column_300_right,
.tags,
.article_comments_plusfb,
.articoli_correlati,
.anteprima_ipiu,
.overbox_footer,
.column_articolo_sx,
.toolbar_navigazione,
.overbox_column_300_right_tv,
.column_articolo_sx_tv,
.logo,
.cerca
{
	display:none;
}
.overbox_main,
.overbox_main_tv_article {
	margin:0 auto;
	padding:0px;
	width:80%;
	clear:none;
	float:none;
	border:0px; 
}
.column_articolo_dx {
	margin:0 auto;
	padding:0px;
	width:100%;
	clear:none;
	float:none;	
}
.overbox_main .multimedia {
	margin:0px;
	padding:0px;
	width:40%;
	float:right;
	clear:none;
}
.overbox_main .multimedia .foto_articolo {
    margin:0px;
    padding:0px;
    width:40%;
    position:relative;
    float:right;
    clear:none;
}
.overbox_main .multimedia .foto_articolo img {
    margin:0px;
    padding:0px;
    max-width:100%;
    float:left;
    clear:left;
    border:0px;
    text-decoration:none;
}
.overbox_main .multimedia .foto_articolo .didascalia {
    margin:0px;
    padding:3px 10px;
    width:100%;
    background:url(../../../../images/cont_img_didascalia_articolo.png) repeat;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    text-rendering:optimizelegibility;
    font-size:11px;
    text-align:center;
    color:#fff;
    position:absolute;
    bottom:0px;
    left:0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.overbox_main .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    background:#fff;
}
.overbox_main .video iframe,
.overbox_main .video object,
.overbox_main .video embed
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.overbox_main .audio {
    margin:0px;
    padding:0px;
    width:100%;
    float:left;
    clear:left;
    background:#fff;
}
.overbox_main .audio img {
    margin:0px;
    padding:0px;
    width:100%;
    float:left;
    clear:left;
}
.overbox_main .audio a {
    margin:0px;
    padding:0px;
    width:100% !important;
    float:left !important;
    clear:left !important;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}