.vc_hidden {display:none;}
/*
*   font-family:'Roboto Slab', Helvetica, sans-serif;
*   font-family:'Raleway', Helvetica, sans-serif;
*   font-family:'Montserrat', Helvetica, Arial, sans-serif;
*/
body, html {
    margin:0px;
    padding:0px;
    font-family:'Open Sans',Arial,Serif;
}
img {
    border:0px;
    text-decoration:none;
}
.style_drag {
    padding:5px 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;    
}
/*---struttura*/
#container, .container_990 {
margin: 0 auto;
  padding: 0 10px;
  background:#fff;
  width: 990px;
/*  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  position: relative;
  z-index: 999;
  display: table;
  clear: both;
/*  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
    -webkit-box-shadow: -1px 6px 10px 1px rgba(158,158,158,0.44);
    -moz-box-shadow: -1px 6px 10px 1px rgba(158,158,158,0.44);
    box-shadow: -1px 6px 10px 1px rgba(158,158,158,0.44);*/

}
.container_990_dossier {
margin: 0 auto;
  padding: 0 10px;
  background:#fff;
  width: 1010px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  display: table;
  clear: both;

}
.overbox_full {
    margin:0px 0 0px 0;
    padding:0px;
    width:100%;
    background:#fff;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.overbox_head_dossier {
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.29);
}
.overbox_full_dossier {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  float: left;
  clear: left;
  position: relative;
}
.overbox_full_dossier_nobg_head {
  
}
.overbox_full_dossier.head {
  z-index: 99;
  background:transparent !important;
}
.overbox_full_newsstand_head {
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.29);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.29);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.29);
    margin-bottom:5px;
}
.overbox_column_300_right_tv {
    margin:0px 0px 0px 0px;
    padding:0px;
    width:300px;
    float:right;
    clear:right;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

.overbox_column_300_right {
    margin:0px 0px 0px 0px;
    padding:0px;
    width:300px;
    float:right;
    clear:right;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
.overbox_main {
    margin:0px;
    padding:0 2px 0 0;
    width:680px;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
    border-right:0px dashed #ccc;
}
.overbox_fifty {
    margin:0px;
    padding:0px;
    width:50%;
    float:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;
    border-right:0px dashed #ccc;
}
.overbox_fifty.right {
    padding-left:15px;
}
.overbox_main_tv {
    margin:0px;
    padding:0 2px 0 0;
    width:680px;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.overbox_main_shop {
    margin:0px;
    padding:0 2px 0 0;
    width:675px;
    float:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.overbox_main_440 {
    margin:0px;
    padding:0 2px 0 0;
    width:440px;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
.overbox_column_176 {
    margin:0px;
    padding:0 0 0 10px;
    width:176px;
    float:right;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
    border-left:0px dashed #bbb;
}
.overbox_column_220 {
    margin:0px;
    padding:0 0 0 10px;
    width:220px;
    float:right;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
    border-left:1px dashed #bbb;
}
.float_right {
    float:right;
}
/*---overbox_footer*/
.overbox_footer {
    margin:0px 0 0px 0;
    padding:30px;
    width:100%;
    background:#052b3c url(../images/overbox_footer.jpg) repeat-x top left;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position:relative;
}
.overbox_footer.ticker_footer {
    margin:0px 0 38px 0;
    padding:30px;
}
.overbox_footer.footer_tv {
    background:#052b3c url(../images/overbox_footer_tv.jpg) repeat-x top left;
    margin-top:20px;
}
.overbox_footer.footer_shop {
    background:#4d127a url(../images/overbox_footer_shop.jpg) repeat-x top left;
    margin-top:20px;
}
.overbox_footer:before {
    content:"";
    margin:0px;
    padding:0px;
    width:100%;
    height:4px;
    float:left;
    clear:left;
    background:#000;
    border-bottom:6px #fff solid;
    position:absolute;
    top:0px;
    left:0px;
}
.overbox_news_footer_ticker_fixed {
    margin:0;
    padding:0;
    width:100%;
    left:0;
    bottom:0;
    position:fixed;
    z-index:2147483647;
    background:#118abf;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0px -2px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 20px -4px rgba(0,0,0,0.75);
}
.overbox_news_footer_ticker_fixed #close_ticker {
    margin:0;
    padding:5px;
    position:absolute;
    top:-25px;
    right:-40px;
    cursor:pointer;
    text-align:center;
    width:20px;
    height:20px;
    color:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
    -webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.55);
    box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.55);
    background:#118abf;
}
#overbox_ticker_newsstand {
    display:none;
}
.overbox_news_main_footer {
    margin:0 auto;
    padding:0px;
    width:990px;
    position:relative;
    display:table;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cont_affiancate {
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    margin:10px 0;
    padding:0;
}
/*---cont_affiancate_variante_sezione*/
.cont_affiancate_variante_sezione {
    margin:0px;
    padding-top:0px;
    border:0px;
}
.cont_affiancate_variante_sezione .anteprima_tre_affiancate {
    margin-top:0px;
}
/*---cont_affiancate_no_border*/
.cont_affiancate_no_border {
    border-bottom:0px;
}
/*---overbox_copyright*/
.overbox_copyright {
    margin:0px;
    padding:0px;
    width:450px;
    position:absolute;
    bottom:30px;
    right:30px;
}
/*---container_head*/
.container_head_logo {
    margin:0px;
    padding:0px;
    width:100%;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;
    position:relative;
}
.variante_sezione_container_head {
    margin:5px 0 15px 0;
}
.top_head {
    margin:0px;
    padding:5px 0 0 0;
    float:left;
    clear:left;
    width:100%;
    position:relative;
    border-top:1px #838383 solid;
    border-bottom:1px #838383 solid;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.center_head {
    margin:8px 0 0 0;
    padding:0;
    width:100%;
    height:125px;	
    float:left;
    clear:left;
    position:relative;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;	
}
.bottom_head {
    margin:0px 0 0 0;
    padding:0px;
    width:100%;
    float:left;
    clear:left;
    position:relative;
    top:-20px;
    z-index:10;
}
.overbox_column_335_left {
    margin:0px;
    padding:0px;
    width:335px;
    float:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
.overbox_column_335_left.float_right {
    margin:0px;
    padding:0px;
    width:335px;
    float:right;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
/*-overbox_column_320_left--*/
.overbox_column_320_left {
    margin:0px 15px 0px 0px;
    padding:0px;
    width:320px;
    float:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
.overbox_column_300_left {
    margin:0px 15px 0px 0px;
    padding:0px;
    width:300px;
    float:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
.overbox_column_320_left.float_right {
    margin:0px;
    padding:0px;
    width:320px;
    float:right;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
/*-overbox_column_320_left--*/
.overbox_column_494_left {
    margin:0px;
    padding:0px;
    width:494px;
    float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background:#fff;	
}
.overbox_column_670_left {
    margin:0px;
    padding:0px;
    width:675px;
    float:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }

/*---Colonne Articolo*/
.column_articolo_sx {
    margin:0px;
    padding:0px;
    width:170px;
    float:left;
}
.column_articolo_sx_tv {
    margin:7px 0 0 0;
    padding:0px;
    width:170px;
    float:left;
}
.column_articolo_dx {
    margin:0px 10px 0 0;
    padding:0px;
    width:480px;
    float:right;
}
.column_articolo_dx_flip {
    margin:0px 0px 0px 10px;
    padding:0px;
    width:990px;
    float:left;
}
.container_editorial {
	/*margin:0px;
	padding:0px;
	float:left;
    clear:left;
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom:1px solid #111;*/
    display:none;
}
/*---container_lettere_al_direttore*/
.container_lettere_al_direttore {
    margin:10px 0 0 0;
    padding:0px 10px 0 0;
    width:100%;
    float:left;
    clear:left;    
    box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/*
.anteprima_articolo .num_commenti {display:none}
.anteprima_articolo .correlati .related_1 a, 
.anteprima_articolo .correlati .related_1:after,
.anteprima_articolo .correlati .related_4 a, 
.anteprima_articolo .correlati .related_4:after{
    color:#  !important;
    text-decoration:none;
}
.anteprima_articolo .correlati .related_2 a, 
.anteprima_articolo .correlati .related_2:after,
.anteprima_articolo .correlati .related_5 a, 
.anteprima_articolo .correlati .related_5:after{
    color:#118ac0 !important;
    text-decoration:none;
}
.anteprima_articolo .correlati .related_3 a, 
.anteprima_articolo .correlati .related_3:after,
.anteprima_articolo .correlati .related_6 a, 
.anteprima_articolo .correlati .related_6:after{
    color:#19690a !important;
    text-decoration:none;
}*/
/*---- STILI BASE 
.anteprima_articolo .correlati li:nth-child(2) a, 
.anteprima_articolo .correlati li:nth-child(2):after{
    color:#df1c00 !important;
    text-decoration:none;
}

.anteprima_articolo .correlati li:nth-child(5) a, 
.anteprima_articolo .correlati li:nth-child(5):after{
    color:#118ac0 !important;
    text-decoration:none;
}
.anteprima_articolo .correlati li:nth-child(8) a, 
.anteprima_articolo .correlati li:nth-child(8):after{
    color:#19690a !important;
    text-decoration:none;
}

.anteprima_articolo .correlati li:nth-child(3) a, 
.anteprima_articolo .correlati li:nth-child(3):after{
    color:#118ac0 !important;
    text-decoration:none;
}
.anteprima_articolo .correlati li:nth-child(4) a, 
.anteprima_articolo .correlati li:nth-child(4):after{
    color:#19690a !important;
    text-decoration:none;
}
---*/
/*
.anteprima_articolo ul.correlati li.occhiello,
.anteprima_articolo ul.correlati li.line_break {
    margin:0px;
    padding:0px;
    display:none;
}
.anteprima_articolo ul.correlati li.articolo,
.anteprima_articolo ul.correlati li.video,
.anteprima_articolo ul.correlati li.blog,
.anteprima_articolo ul.correlati li.sondaggio,
.anteprima_articolo ul.correlati li.gallery,
.anteprima_articolo ul.correlati li.scheda,
.anteprima_articolo ul.correlati li.lettera,
.anteprima_articolo ul.correlati li.audio {
    margin:0px;
    padding:0px;
    float:left;
    clear:left;
    font-family: 'Enriqueta', serif;
    font-weight:normal;
}
.anteprima_articolo ul.correlati li.articolo a,
.anteprima_articolo ul.correlati li.video a,
.anteprima_articolo ul.correlati li.blog a,
.anteprima_articolo ul.correlati li.sondaggio a,
.anteprima_articolo ul.correlati li.gallery a,
.anteprima_articolo ul.correlati li.scheda a,
.anteprima_articolo ul.correlati li.lettera a,
.anteprima_articolo ul.correlati li.audio a {
    margin:0px;
    padding:0px;
    color:#111;
    text-decoration:underline;

}
.anteprima_articolo ul.correlati li.articolo a:hover,
.anteprima_articolo ul.correlati li.video a:hover,
.anteprima_articolo ul.correlati li.blog a:hover,
.anteprima_articolo ul.correlati li.sondaggio a:hover,
.anteprima_articolo ul.correlati li.gallery a:hover,
.anteprima_articolo ul.correlati li.scheda a:hover,
.anteprima_articolo ul.correlati li.lettera a:hover,
.anteprima_articolo ul.correlati li.audio a:hover {
    text-decoration:underline;
}
.anteprima_articolo ul.correlati li.articolo:after {
    content: "articolo";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.video:after {
    content: "video";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.blog:after {
    content: "post";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.sondaggio:after {
    content: "sondaggio";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.gallery:after {
    content: "foto";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.scheda:after {
    content: "scheda";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.lettera:after {
    content: "lettera";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_articolo ul.correlati li.audio:after {
    content: "audio";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu .correlati .related_1 a, 
.anteprima_ipiu .correlati .related_1:after,
.anteprima_ipiu .correlati .related_4 a, 
.anteprima_ipiu .correlati .related_4:after{
    color:#df1c00 !important;
    text-decoration:none;
}
.anteprima_ipiu .correlati .related_2 a, 
.anteprima_ipiu .correlati .related_2:after,
.anteprima_ipiu .correlati .related_5 a, 
.anteprima_ipiu .correlati .related_5:after{
    color:#118ac0 !important;
    text-decoration:none;
}
.anteprima_ipiu .correlati .related_3 a, 
.anteprima_ipiu .correlati .related_3:after,
.anteprima_ipiu .correlati .related_6 a, 
.anteprima_ipiu .correlati .related_6:after{
    color:#19690a !important;
    text-decoration:none;
}*/
/*
.anteprima_ipiu .correlati li:nth-child(2) a, 
.anteprima_ipiu .correlati li:nth-child(2):after{
    color:#df1c00 !important;
    text-decoration:none;
}
.anteprima_ipiu .correlati li:nth-child(5) a, 
.anteprima_ipiu .correlati li:nth-child(5):after{
    color:#118ac0 !important;
    text-decoration:none;
}
.anteprima_ipiu .correlati li:nth-child(8) a, 
.anteprima_ipiu .correlati li:nth-child(8):after{
    color:#19690a !important;
    text-decoration:none;
}

.anteprima_ipiu .correlati li:nth-child(3) a, 
.anteprima_ipiu .correlati li:nth-child(3):after{
    color:#118ac0 !important;
    text-decoration:none;
}
.anteprima_ipiu .correlati li:nth-child(4) a, 
.anteprima_ipiu .correlati li:nth-child(4):after{
    color:#19690a !important;
    text-decoration:none;
}
*//*
.anteprima_ipiu ul.correlati li.occhiello,
.anteprima_ipiu ul.correlati li.line_break {
    margin:0px;
    padding:0px;
    display:none;
}
.anteprima_ipiu ul.correlati li.articolo,
.anteprima_ipiu ul.correlati li.video,
.anteprima_ipiu ul.correlati li.blog,
.anteprima_ipiu ul.correlati li.sondaggio,
.anteprima_ipiu ul.correlati li.gallery,
.anteprima_ipiu ul.correlati li.scheda,
.anteprima_ipiu ul.correlati li.lettera,
.anteprima_ipiu ul.correlati li.audio {
    margin:0px;
    padding:0px;
    float:left;
    clear:left;
    font-family: 'Enriqueta', serif;
    font-weight:normal;
}
.anteprima_ipiu ul.correlati li.articolo a,
.anteprima_ipiu ul.correlati li.video a,
.anteprima_ipiu ul.correlati li.blog a,
.anteprima_ipiu ul.correlati li.sondaggio a,
.anteprima_ipiu ul.correlati li.gallery a,
.anteprima_ipiu ul.correlati li.scheda a,
.anteprima_ipiu ul.correlati li.lettera a,
.anteprima_ipiu ul.correlati li.audio a {
    margin:0px;
    padding:0px;
    color:#111;
    text-decoration:underline;

}
.anteprima_ipiu ul.correlati li.articolo a:hover,
.anteprima_ipiu ul.correlati li.video a:hover,
.anteprima_ipiu ul.correlati li.blog a:hover,
.anteprima_ipiu ul.correlati li.sondaggio a:hover,
.anteprima_ipiu ul.correlati li.gallery a:hover,
.anteprima_ipiu ul.correlati li.scheda a:hover,
.anteprima_ipiu ul.correlati li.lettera a:hover,
.anteprima_ipiu ul.correlati li.audio a:hover {
    text-decoration:underline;
}
.anteprima_ipiu ul.correlati li.articolo:after {
    content: "articolo";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.video:after {
    content: "video";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.blog:after {
    content: "post";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.sondaggio:after {
    content: "sondaggio";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.gallery:after {
    content: "foto";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.scheda:after {
    content: "scheda";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.lettera:after {
    content: "lettera";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}
.anteprima_ipiu ul.correlati li.audio:after {
    content: "audio";
    margin:2px 5px 0 5px;
    padding:0px;
    font-size:14px;
    font-weight:700;
    text-transform:uppercase;
    display: inline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight:800;
}*/
/* main_news */
.main_news_standard{
	margin:0 0 10px 0;
	padding:0px;
	width:100%;
	float:left;
	clear:left;
	box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
}
.main_news_standard{
	margin:0 0 10px 0;
	padding:0px;
	width:100%;
	float:left;
	clear:left;
	box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
}
.main_news_full{
	margin:0 0 10px 0;
	padding:0px;
	width:100%;
	float:left;
	clear:left;
	box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
    border-bottom: 1px solid #bcdce7;
}
.main_news_standard_double{
	margin:0 0 10px 0;
	padding:10px 0px 0px 0px;
	width:99%;
	float:left;
	clear:left;
	border-top:1px solid #bbb;
	box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
    border-bottom: 1px solid #bcdce7;
}
.main_news_standard_triple{
	margin:0px 0px 10px 0px;
	padding:10px 0px 0px 0px;
	width:100%;
	float:left;
	clear:left;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	box-sizing:border-box;
    *behavior: url(js/boxsizing.htc);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;  
    border-bottom: 1px solid #bcdce7;
}
.text-left{
    text-align:left;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.vc_bb_0{
    border-bottom:0;
}
.vc_b_blu{
    border:1px solid #108dc5;
}
/* banner 
.banner_latitudes{
	width:200px;
	height:267px;
	float:left;
	margin: 15px 0 0 15px;
	padding:0;
	background:#ccc;
}
.banner_728x90_leaderboard {
    width:728px;
    text-align:center;
    position:relative;
    margin:5px auto 0px auto;
}

.banner_300x250_colonna_1 {
    float: left;
    margin: 0px 0px;
}
.banner_300x250_forebase {
    float: left;
    margin: 8px 0;
}
.banner_300x250_colonna_2 {
    float: left;
    margin: 0;
    padding:10px 0 0 0;
}
.banner_ticker_head {
    width:990px;
    float:left;
    margin:0 0 5px 0;
    padding:0;
}*/


/*--Story_telling_libero--*/


.vc_story_telling_pagination {
    background: #118abf !important;
    color: #fff !important;
    padding:0 !important;
    top: 12px !important;
}

.vc_story_telling_pagination .vc_label_pagination{
    height: 31px;
    line-height: 31px;
}
.vc_story_telling_pagination .vc_prev a {
    background: url(../images/freccia_white_small_dx.png) no-repeat center 4px;
    font-size: 0px;
}

.vc_story_telling_pagination .vc_next a {
    background: url(../images/freccia_white_small_sx.png) no-repeat center 4px;
    font-size: 0px;
    /* cursor: pointer; */
}
.vc_story_telling_pagination .btn a{
    padding:2px 10px !important;
}

.vc_story_telling_link {
    margin: 15px 0 0 0 !important;
    clear: left !important;
    float: left !important;
    background: #118abf;
    color: #fff !important;
    padding: 8px 10px !important;
}


.vc_story_telling_nav {
    padding: 7px 10px 7px 12px !important;
    margin-top: 300px !important;
    margin-left: -665px !important;
    width: 30% !important;
    /*display: none;*/
    background: #f0f0f0;
    text-align: left !important;
    /*direction:rtl;*/
}

.vc_story_telling_nav:before {
    content: "INDICE";
    color:#414141;
    font-size: 1.2em;
    font-weight: normal;
}

.vc_story_telling_nav li a.active {
    color: #118abf !important;
    text-decoration: underline !important;
}
.vc_story_telling_nav li a {
    color: #90949c !important;
    text-decoration: none !important;
}

.vc_story_telling_nav li {
    color: #90949c !important;
    list-style-position: inside;
}







/*---FONT*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,900,700);
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);
@import url(http://fonts.googleapis.com/css?family=Crete+Round:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Bevan);

@font-face {
    font-family: 'CreteRound-Regular';
    src: url('font/CreteRound-Regular.eot');
    src: url('font/CreteRound-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/CreteRound-Regular.woff') format('woff'),
        url('font/CreteRound-Regular.ttf') format('truetype'),
        url('font/CreteRound-Regular.svg#CreteRound-Regular') format('svg');
}
.fontpro,.fontpro-36165 {
    font-family: 'CreteRound-Regular',sans-serif;
}
.cc-cookies {
  font-family: Arial, Helvetica, sans-serif !important;
  width: 90% !important;
  padding: 0.5em 5% !important;
  background: #b0b0b0 !important;
  color: #fff !important;
  font-size: 11px !important;
  line-height: 1em !important;
  font-weight: 400 !important;
  z-index: 99999999 !important;
  text-align: left !important;
  color: #fff !important;
    text-shadow:none !important;
  z-index: 9999 !important;
 webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
    position: relative !important;
    float:left !important;
}
.cc-cookies .msg {
  width: 91%;
  margin: 0;
  padding: 0;
  float:left;
}
.cc-cookies a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset {
  background: none !important;
  border: 1px solid #fff !important;
  box-shadow: none !important;
  margin: 0 !important;
  line-height: 1.3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 0.2em 1em !important;
  font-size: 11px !important;
}
body#MM_mcJS_HTML5_LIQUID_SKIN_TheBody .banner_background_controller,
body.background .banner_background_controller{
width: 1010px !important;
  float: none !important;
  display: table;
  clear: both;
  margin-left: auto !important;
  margin-right: auto !important;
  background: #fff;
}
@media screen and (max-width:1024px) {
    .overbox_news_footer_ticker_fixed #close_ticker{
        right:0;
    }
    
    }