



.top-headline{
	font-size:2.5rem !important; line-height:1 !important;font-weight:bold !important;padding:20px !important;font-family:'Helvetica Neue', Arial, sans-serif;
	height:auto;
}
.thin{
	padding:7.5px 5px !important;
	border-bottom:1px solid #ddd;
	
}
.section-sticky{
	position:absolute;
	padding: 5px 10px;
	color:#fff;
	
	top:10px;
	left:10px;
	display:inline-block;
	
	font-size:1rem !important;
	font-weight:bold;
}
.section-timestamp{
	
	padding: 2.5px 5px;
	color:#fff !important;
	
	display:inline-block;
	
	font-size:1.3rem !important;
	font-weight:bold;
	border-radius:3px;
}
.others-reading{
	
	
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: .3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}
.others-reading lrd{
	-moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: .3s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .3s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}
.star{
float: left;
height: 85px;
width: 65px;
background-image: url("http://cdn.deccanchronicle.com/images/Astro_signs.png");
background-repeat: no-repeat;
margin: 0px 5px 0px 0px;
background-size: 250px 250px;
}
.aries{background-position: 0px 5px;}
.taurus{background-position: -67px 5px;}
.gemini{background-position: -131px 5px;}
.cancer{background-position: -197px 5px;}

.leo{background-position: 0px -85px;}
.virgo{background-position: -67px -85px;}
.libra{background-position: -131px -85px;}
.scorpio{background-position: -197px -85px}

.sagittarius{background-position: 0px -175px;}
.capricon{background-position: -67px -175px;}
.aquarius{background-position: -131px -175px;}
.pisces{background-position: -197px -175px;}

.starSm{
float: left;
height: 45px;
width: 35px;
background-image: url("http://cdn.deccanchronicle.com/images/Astro_signs.png");
background-repeat: no-repeat;
margin: 0px 5px 0px 0px;
background-size: 150px 150px;
}
.ariesSm{background-position: 0px 5px;}
.taurusSm{background-position: -40px 5px;}
.geminiSm{background-position: -80px 5px;}
.cancerSm{background-position: -117px 5px;}

.leoSm{background-position: 0px -50px;}
.virgoSm{background-position: -40px -50px;}
.libraSm{background-position: -80px -50px;}
.scorpioSm{background-position: -117px -50px}

.sagittariusSm{background-position: 0px -105px;}
.capriconSm{background-position: -40px -105px;}
.aquariusSm{background-position: -80px -105px;}
.piscesSm{background-position: -117px -105px;}

.starLink span.starSm {    margin: 20px 10px 18px 10px;}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-40px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-40px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}
.top-headline-image{
	/*width:100%;
	object-fit:cover;
	height: 408.5px !important;*/
}
a:hover{
	color:inherit !important;
	text-decoratin:none;s
}
.live{
	color:#cd0000 !important;
}
.titem small{
	font-size: 1.4rem;
	font-weight: 300;
	color: #fff;
	color: RGB(239, 224, 68);
}
.items{
	
	font-size: 1.4rem !important;
	line-height: 1.4 !important;
	color: #000 !important;
	font-weight: normal;
	text-decoration: none;
	}
	.lrd{
		padding: 5px 0px !important;
	}
header{
	/*background-color: #CD0000;*/
	height: 50px;
	padding: 2px 10px;
	color: #fff;	
	max-width: 100%;
	
	width: 100%;
	z-index:999;
}
.brand{
	max-width:100%;
	max-height:40px;
	object-fit:contain;
	vertical-align: middle;
	padding-top:5px;
	margin-left: -15px;
}
.vcenter{
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.titem{
	max-height: 40px;
	overflow:hidden;
	
	line-height: 1.2 !important;
	font-weight: 300 !important;
	font-size:1.2rem !important;
	border-right: 1px dotted #ddd;
	
}
.titem a{
	font-size: 1.2rem;
	line-height: 1.2;
}
.titem:last-child{
	border-right: none;
}
.marker:last-child{
	border-bottom: none;
	
}


.titem img{
	height: 100%;
	width:100%;
	object-fit:contain;
	background:#333;
	
}
.trending{
	position:relative;
	padding: 5px;
	background:rgba(0, 0,0,0.1);
	
	
}
.secs {
	/*background:#000 !important;*/
	background:#36454f !important;
	width:100%;
	text-align:center;
    width: 100%;
    padding: 5px 0px;
	border-top: 2px solid #36454f;
    border-bottom: 2px solid #36454f;
    margin: 5px 0 20px 0;
}
.secs a{
	color:#fff;
	text-transform: uppercase;
	
	font-size: 1.6rem;/*1.2rem;*/
	padding: 10px;
	/*font-weight:bold;*/
	
}
.secs a:hover, .secs a.current{
    /*background-color: white;*/
    padding-top: 4px;
    padding-bottom: 3px;
    color: white;
    border-bottom: 2px solid red;
}

.secs-child{
	background:#B7B7B7 !important;
	width:100%;
	padding:2px 0px;
	/*text-align:center;*/
}
.secs-child a{
	color:#fff;
	text-transform: uppercase;
	
	font-size: 1.2rem;/*1.2rem;*/
	padding: 5px;
	margin: 5px;
	/*font-weight:bold;*/
	
}
.secs-child a:hover, .secs-child a.current{
    background-color: white;
    color: black;
    padding-top: 2px;
    border-top: 2px solid black;
}
.topNavigation{
	margin-bottom: 10px;
}
.timg{
	padding:0;
}
.cover{
	position: relative;
	box-sizing: border-box;
	
	margin: -1.5rem;
	margin-bottom: 1rem;
}

.coverimg{
	/*max-height:100vh;*/
	width:100%;
	/*object-fit:cover;*/
	object-position: top;
	background:#666;
	min-height: 50vmin;
	background-size: contain;
	height: auto;	
	overflow:hidden;
		
	}
	
.story-metadata{
	margin-top:20px;	
	font-size:1.3rem;
}

.ticker-item img{
	width: 100%;
	height:auto;
	max-height: 100px;
	object-fit:cover;
}
.articlecontent{
	margin-top:1rem;
	margin-bottom:1rem;
	background:#fff;
	padding:2rem;
	padding-top:0;
	border:1px solid #ddd;
	box-shadow:1px 1px 10px #ddd;
	border-radius:4px;
	
}
.story-main{
	/*padding: 20px 0px 0px 0px;*/
	position:relative;
}
.attribution{
	font-size: 14px;
	color:RGB(171, 15, 12);
	padding:5px 0px;
	font-weight:400;
	margin-top:3px;
	font-family: 'Helvetica Neue',Arial, Verdana, sans-serif;
	line-height:1;
	margin-bottom: 10px;
	overflow: auto;
}
.small-strap{
	font-size: 1.3rem !important;
	line-height:1.5 !important;
	color: #555;
}
.story-body{
	
}
.story-body p{ /*, .story-body div*/
text-rendering: optimizeLegibility;
-webkit-text-rendering: optimizeLegibility;
-moz-text-rendering: optimizeLegibility;
-o-text-rendering: optimizeLegibility;
-webkit-font-smoothing: subpixel-antialiased;
-moz-font-smoothing: subpixel-antialiased;
-o-font-smoothing: subpixel-antialiased;
font-smoothing: subpixel-antialised;

text-align: left !important;
color: rgb(75,75,75) !important;


padding-bottom: 10px;
/*font-size: 1.7rem /* 20px */;
/*line-height: 1.8 /* 30px */;
font-size: 1.9rem;
line-height: 3.0rem;

margin-bottom: .75em;
font-weight: normal;
word-break: break-word;
word-wrap: break-word;
}
.story-body img{
width: 100%;
}
.story-body ol {
  margin: 0 0 1.5em;
  padding: 0px !important;
  counter-reset: item;
}

.story-body ol > li {
  margin: 0;
  padding: 0 0 10px 1em;
  /*text-indent: -2em;*/
  list-style-type: none;
  counter-increment: item;
}
.story-body ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 1.4em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.story-body a, .story-body a:visited {
color: #FF0000;
text-decoration: none;
}
.story-body a:hover {
color: #FF0000 !important;
}
a.objectNew, a.objectNew:visited, a.objectNew:hover{text-decoration:none;color:black !important;}
div.articleTags, div.articleLocation{
margin-bottom: 10px;
color: #333333;
font-size: 1.4rem;
font-weight: bold;
}
div.articleTags a, div.articleLocation a, div.articleTags a:visited, div.articleLocation a:visited{
color: #333333;
color: #B91B1B;
font-size: 1.4rem;
text-decoration: none;
font-weight: bold;
}
.story-body li{
	text-align: left !important;
	text-rendering: optimizeLegibility;
-webkit-font-smoothing: subpixel-antialiased;
font: 20px inherit;
line-height: 1.6;
text-align: left !important;
color: #333 !important;
font-weight: normal;
#margin: 20px 0 0px 100px;
padding-bottom: 10px;
font-size: 18px /* 20px */;
line-height: 30px /* 30px */;
color: #333;
/*margin-bottom: .75em;*/
   
	
}

.story-body blockquote{
		line-height: 1.4;
		text-align: center;
		font-size: 32px;
		margin: 48px 0px;
		border: none;
		/*padding: 30px 0px;
		font-family: Georgia,Cambria,"Times New Roman",Times,serif;*/
		letter-spacing: 0.01rem;
		font-weight: 400;
		font-style: italic;
		
		background: #fff url("http://cdn.deccanchronicle.com/images/openquote.gif") no-repeat 0px 0px !important;
	
}
.story-body ul.nav {
margin-top: 10px;
}
.story-body ul.nav li {
font-size: 1.6rem;
line-height: 1.3rem;
}
.story-body .nav-pills > li.active > a, .story-body .nav-pills > li.active > a:hover {
background-color: #565050;
color: #fff;
text-decoration: none;
font-weight: normal;
}
.story-body .loc-pill > li.active > a{
background-color: #A29E9E;
    padding: 5px;
    font-size: 1.3rem;
}

.strap{
	padding:20px 20px;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
	background: #f2f2f2;
	margin-top: 5px;
	margin-bottom: 20px;
	
	font-size: 1.8rem;
	line-height: 1.5;
	color: #333;
	background:#F3F3F1;
	font-family: Georgia, serif;
}
.placetag{
	position: absolute;
	padding: 5px;
	text-transform: uppercase;
	
	
	text-align:center;
	top:10px;
	left: 0px;
	
	color:#fff;
	width:auto;
}
.storyimg{
	box-sizing:border-box;
	object-fit:contain;
	width:100% !important;
	height:auto;
	max-height: 100vh;
	
line-height: 20px;
overflow-x: hidden;
overflow-y: hidden;
#padding-bottom: 458.71875px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
border:1px solid #ddd;
border-left:0;
border-right:0;

margin-top:25px;
max-height:100vh;
background-color: #f1f1f1;

	background-image: -webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: -moz-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-moz-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: -ms-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-ms-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: -o-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-o-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);

	
}
.img-c{
	margin-left: -2rem;
margin-right: -2rem;
}
.storyimg-caption{
text-transform: none;
    font-size: 1.6rem;
    /* color: #666; */
    color: #000;
    text-align: left;
    padding: 5px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    margin-top: 0px;
    clear: both;
    margin-bottom: 25px;
    border-bottom: 1px solid #D0D0D0;	
}
.headline{
	
	
	font-size:1.8em;
	margin-top:10px;
	margin-bottom:10px;
	color: #333;
	font-weight: bold;
	
	/*line-height:1.3em;*/
	}

	
.sidebar{

	margin-top:1rem;
	background:transparent;
	padding-top:5px;
	
	
	#border-radius:4px;
	border-top-left-radius:0;
	border-bottom-left-radius: 0;
	visibility: hidden;
	
	}
.nlb:last-child{
	border:none !important;
}
.top-title a{
	font-size: 1.6rem;
	color: #333;
	
}
.story-embed{
	width:100%;
	background: #f8f8f8;
	margin-top: 30px;
	text-align:center;
	margin-bottom: 30px;
	border:1px solid #ddd;
	overflow:hidden;
	
	background-image: -webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-webkit-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: -moz-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-moz-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: -ms-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-ms-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: -o-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),-o-linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);
	background-image: linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,transparent 25%,transparent 75%,#efefef 75%,#efefef);

}
.side-headline{
	font-weight:bold;
	
	font-size: 1.1rem;
	padding: 10px 5px;
	margin-bottom:5px;
	margin-top:0;
	
}
.sidebarimg{
	width:100%;
	height: 150px;
	padding:0;
	object-fit:cover;
	background: #ccc;
	
	
}
.highlightSection{
	font-size: 1.1rem;
    background-color: #36454F;
    color: #fff;
    padding: 3px;
}
.side-title{
	font-size: 1.5rem !important;
	color:#333;
		font-weight: normal;
	text-align: left;
	padding: 5px 10px;
	line-height: 1.3;
	font-weight: bold;
	
	margin-top:0;
	
	
}
.over-headline-en a{
	color: #fff;
}
.over-headline-en .sub-title{
	color:#f1f1f1;
}
.sub-title{
	color: #666;
	font-size:1.45rem;
	margin-top:5px;
	font-weight:normal;
}
.side-title a{
	color: #333;
	font-weight: bold;
}
.side-title a:hover{
	text-decoration: none;
	
}
a{
	/*color: #cd0000;*/
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.trendlink
{
color: #fff;
text-decoration: none;
font-size: 1.3rem;
line-height: 1.2;
}
.live-img{
	width:100%;
	height: 75px;
	object-fit:cover;
	overflow:hidden;
	background:#f2f2f2;
	border:0;
	
}

.top-story-img{
	margin:-7px;
	margin-bottom:5px;
	position:relative;
}
.top-story-img img{
	width:100%;
	object-fit:cover;
}
.card{
	padding:7px !important;
		
	#box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	text-overflow: ellipsis;
	overflow:hidden;
	height: 130px;
	max-height:130px;
	#background: #eceff5 !important;
}
.card .ticker-item{
	font-size:1.8rem;
	line-height: 1.2;
	border:0; 
	#background: #fff !important;
	border-top: 1px solid #ddd !important;
	border-bottom: 0 !important;
}
.nowreading{
	padding:1px 2.5px;
	position:relative;
	
}
.b-n{
	color:#cd0000;
	
}
.b-t{
	font-size:15px;
	font-weight: normal;
	padding-left:0;
	padding-right:0;
}

.ticker-item{
	font-size: 1.4rem;
	padding: 1rem;
	border-bottom:1px solid #ddd;
	margin-bottom: 5px;
	#box-shadow: 1px 1px 2px #ddd;
	cursor:pointer;
	color:#333;
	font-weight: bold;
	
}
.ticker-item:hover{
	
	background: #fff;
	
	
}
.t-attributes{
	color:#666;
	
	font-size: 1.1rem;
	text-transform: uppercase;
	font-weight: bold;
}
.t-time{
	color: #888;
	font-weight: normal;
	text-transform: none;
}
.ticker-media{
	max-height: 30vmin;
	max-width:100%;
	object-fit:contain;
	margin-top: 10px;
	object-position: 0;
}

.story-embed iframe{
	margin-left:auto;
	margin-right:auto;
	display:block;
	width:100%;	
}
.separator{
	margin-top:10px; margin-bottom:10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ddd;
	height:1px !important;
	clear:both;
	
	
}
.sidebar .separator{
	
}
.cover-caption{
  
  background: linear-gradient(to top,rgba(0,0,0,.7)0,rgba(0,0,0,0)100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  color:#fff;
  font-size: 1.5rem;
  
  position:absolute;
  width:100%;
  max-width:100%;
  height:auto;
  bottom:3px;
  left:0;
  
  line-height: 2rem;
  word-wrap: break-word;
  z-index: 10;
  text-shadow:1px 1px 5px #000;
  
}
.rec{
	width:100%;
	height: 150px;
	max-height: 150px;
	background:#ddd;
	object-fit:cover;
	overflow:hidden;
}
.rec-galleries{
	padding:0;
}
.rec-item{
	height: 32vmin;
	
	overflow:hidden;
}
.rec-title{
	text-transform: uppercase;
	font-size: 1.8rem;
	color: #333;
	margin-top: 5px;
	margin-bottom: 20px;
	font-weight: bold;
}
.rec-item-link{
	font-size: 1.6rem;
	font-weight: normal;
	color: #333;
	margin-top:10px;
	
	line-height: 1.8rem;
}
.rec-item-link a{
	color: #333;
}
.rec-galleries, .rec-title{
	display:none;
}
.fscr{
	position: absolute;
	color:#fff;
	top:5px;
	right:20px;
	z-index: 99999;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.story-body blockquote{
		background: #7799dd;
	}
	.placetag{
		background: #cd0000;
		
	}
	#galleria{height:100vh;
		margin-left:-2rem;
		margin-right:-2rem;
	}
		
	.goback
		{
			position: absolute;
			top: 0px;
			right: 0px;
			padding:20px;
			background: #F9D423;
			color: #333;
			font-size: 14px;
			font-weight: bold;
			
		}
#galleria .fscr{
    width:20px;
    height:20px;
    position:absolute;
    bottom:0px;
    right:10px;
    background:url('http://cdn.deccanchronicle.com/fullscreen.png');
    z-index:4;
    cursor: pointer;
    opacity: .3;
}
#galleria .fscr:hover{
    opacity:1;
}
.ticker-item:last-child{
	border-bottom:0;
}
div.twitter-tweet, .twitter-tweet-rendered {
        width: 75%;
        margin-right: auto !important;
        margin-left: auto !important;
}
.no-bg{
	background: transparent !important;
}
.mask{
	position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.over-headline{
	
	color: #fff;
	
	font-size: 1.3rem;
	font-weight: bold;
	position:absolute;
	bottom: 0px;
	left:0px;
	padding: 10px;
	
	
}
.top-one{
	padding: 0px !important;
}
.top-one img{
	width: 100%;
	height: 50vmin;
	object-fit: cover;
}
.topmain{
	padding: 0px !important;
	margin-top: 50px;
	margin-bottom: 25px;
	margin-left: -30px;
	margin-right: -30px;
	clear:both;
}
.over-headline-en{
color: #fff;
clear: both;
width:100%;
text-shadow:1px 1px 5px #000;
font-size: 1.6rem;

position:absolute;
bottom: 0px;
left:0px;
padding: 10px 20px;
background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.9));
background: -o-linear-gradient(transparent, rgba(0,0,0,0.9));
background: -moz-linear-gradient(transparent, rgba(0,0,0,0.9));
background: linear-gradient(transparent, rgba(0,0,0,0.9));
vertical-align: middle;

	 
	 	 	  
}
.over-headline-en-reverse{
color: #fff;
clear: both;
background: #333;
box-sizing: border-box;
width:100%;

font-size: 1.6rem;
font-weight: bold;
position:absolute;
top: 0px;
left:0px;
height:56vmin;
padding: 20px 40px;
background: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1));
background: -o-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1));
background: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1));
background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.1));
z-index:9;
min-height:56vmin;
}
.over-headline-en-reverse-section{
color: #fff;
clear: both;
background: #333;
box-sizing: border-box;
width:100%;

font-size: 1.6rem;
font-weight: bold;
position:absolute;
top: 0px;
left:0px;
height:56vmin;
padding: 20px 40px;
background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.9));
background: -o-linear-gradient(transparent, rgba(0,0,0,0.9));
background: -moz-linear-gradient(transparent, rgba(0,0,0,0.9));
background: linear-gradient(transparent, rgba(0,0,0,0.9));
z-index:9;
min-height:56vmin;
}

.live-img{
	padding:0;
}
.topim{
	width:100%;
	height: 60vmin;
	max-height: 60vmin;
	object-fit:cover;
	overflow:hidden;
}
.topslider{
	margin-top:40px;
	clear:both;
}
.300ht{
	height: 300px;
}
.nopadding{
	padding: 0 !important;
}
.npl{
	padding-left: 0px;
}
.over-headline-en small{
	display:block;
	font-size: 2rem;
	line-height:1.2;
	padding: 15px 0px;
	font-weight: 300;
	
}
.right-block-headline{
	padding:10px !important;
	font-size:1.5rem;
	line-height: 1.2 !important;
	font-weight:500;
	
	text-shadow: 1px 1px 5px #000;
}
.over-headline-en-top{
color: #fff;
background: #333;
width:100%;
font-family: Arial, sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	font-weight: bold;
	position:absolute;
	top: 0px;
	left:0px;
	padding: 10px;
	padding: 20px 20px;
	background: -webkit-linear-gradient(rgba(0,0,0,0.7), transparent);
	  background: -o-linear-gradient(rgba(0,0,0,0.7), transparent));
	  background: -moz-linear-gradient(rgba(0,0,0,0.7), transparent));
	  background: linear-gradient(rgba(0,0,0,0.7), transparent);
}
.wrap{
	position: absolute;
  top: 0;
  color: white;
  padding: 5%;
  height: 100px;
  
  width: 94%;
  margin-top: 41.5%;
  background: -webkit-linear-gradient(rgba(0,0,0,0), black);
  background: -o-linear-gradient(rgba(0,0,0,0), black);
  background: -moz-linear-gradient(rgba(0,0,0,0), black);
  background: linear-gradient(rgba(0,0,0,0), black);
}
.live-item{
	padding: 5px;
	border-bottom: 1px solid #ddd;
	
	font-size: 1.5rem;
	color: #333;
	font-weight:bold;
}
.live-item a{
	text-decoration: none;
	color: #333;
	font-weight: bold;
	
	font-size: 1.3rem;
}
.live-item a:hover{
	text-decoration: none;
}
.keyitem{
	font-size: 1.8rem;
	
	font-weight: normal;
	color: #999;
}
.live-item:hover{
	background: #fff;
	cursor: pointer;
}
.carousel-inner{
	margin-top: 10px;
}
.serendipity{
	background: #f1f1f1;
	margin-bottom: 15px;
	clear:both;
	
}
.sidebar iframe{
	width:100%;
}
.bigg{
	font-size: 5rem;
	font-weight: normal;
	font-family: Georgia, serif;
}
.r-i{
background: transparent;

#border-left: 4px solid #999;
padding: 5px 0px;
margin-bottom: 4px;
font-size:1.6rem;
font-weight: normal;
border-bottom: 1px solid #ddd !important;

}

.r-i a{
	font-size: 1.4rem !important;
	font-weight: normal !important;
}

.bigimg{
	height: 56vmin;
	width:100%;
	object-fit: cover;
	background:#666;
}
.bigtitle{
	font-size: 5rem;
	line-height: 5.4rem;
}
.section-title{
	font-size: 2rem;
	color:#fff;
	padding: 0px 20px;
	background: #E9313C;
	display:inline-block;
	clear:both;
	
	margin-bottom: 10px;
}
.trending a{
	color:#fff;
	text-decoration: none;
	font-size:1.5rem;
	line-height: 1.3;
	font-weight: 400;
}
.sections{
	padding: 15px 10px;
	border-bottom: 3px solid #cd0000;
	font-size: 1.4rem;
	background: #fff;
	
}
.sections-reverse{
	padding: 15px 10px;
	border-bottom: 3px solid #cd0000;
	font-size: 1.4rem;
	background: #000;
	
}
.sections-reverse a{
	color: #fff;
	text-decoration: none;
	font-weight:bold;
	padding: 5px 8px;
	
	background: transparent;
	border:2px solid transparent;
}
.sections-reverse a:hover{
	color: #6DA428 !important;
	border-top: 2px solid #cd0000;
}
.sections a{
	color: #333;
	text-decoration: none;
	font-weight:bold;
	padding: 5px 8px;
	background: transparent;
	border:2px solid transparent;
	text-transform: uppercase;
	
	
}

.sections a:hover{
	background: #fff !important;
	border: 2px solid #cd0000;
	color: #333 !important;
}
.topbit{
	margin-top: 10px;
	clear:both;
}
.south{
	border-color:#FDC23E !important;
	
	
}
.south-bcg{
	background:#FDC23E !important;
	
	
}
.south-color{
	color:#FDC23E !important;
	
	
}

.sports{
	border-color:#06427E !important;
		
}
.entertainment{
	border-color:#561459 !important;
	
	
}
.south-entertainment{
	border-color:#522290 !important;
		
}
.nation{
	border-color: #FF2A1A !important;
		
}
.cities{
	border-color: #F64B0F !important;
		
}
.technology{
	border-color: #0D99FC !important;
		
}
.lifestyle{
	border-color: #D687FC !important;
		
}
.business{
	border-color: #FF9324 !important;
		
}
.world{
	border-color: #A2170D !important;
		
}
.coffee-break{
	border-color: #008080 !important;
}
.health{
	border-color: #800040 !important;
}
.gallery{
	border-color: #FF0080 !important;
}
.south{
	border-color:#FDC23E !important;
}
.opinion{
	border-color:#6DA428 !important;
}

.sports-color{
	color:#06427E !important;
		
}
.videos-color{
	
	color: #EECB41 !important;
}
.entertainment-color{
	color:#561459 !important;
	
	
}
.south-entertainment-color{
	color:#522290 !important;
		
}
.nation-color{
	color: #FF2A1A !important;
		
}
.cities-color{
	color: #F64B0F !important;
		
}
.technology-color{
	color: #0D99FC !important;
		
}
.lifestyle-color{
	color: #D687FC !important;
		
}
.business-color{
	color: #FF9324 !important;
		
}
.world-color{
	color: #A2170D !important;
		
}
.coffee-break-color{
	color: #008080 !important;
}
.health-color{
	color: #800040 !important;
}
.gallery-color{
	color: #FF0080 !important;
}

.opinion-color{
	color: #6DA428 !important;
}



.sports-bcg{
	background:#06427E !important;
		
}
.entertainment-bcg{
	background:#561459 !important;
	
	
}
.south-entertainment-bcg{
	background:#522290 !important;
		
}
.nation-bcg{
	/*background: #FF2A1A !important;*/
	background: #000 !important;
		
}
.cities-bcg{
	background: #F64B0F !important;
		
}
.technology-bcg{
	background: #0D99FC !important;
		
}
.lifestyle-bcg{
	background: #D687FC !important;
		
}
.business-bcg{
	background: #FF9324 !important;
		
}
.world-bcg{
	background: #A2170D !important;
		
}
.coffee-break-bcg{
	background: #008080 !important;
}
.health-bcg{
	background: #800040 !important;
}
.gallery-bcg{
	background: #FF0080 !important;
}
.opinion-bcg{
	background: #6DA428 !important;
}


.overlay{
	content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #333));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)0, #333 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0)0, #333 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0)0, #333 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#33300000', endColorstr='#333000', GradientType=0);
    -webkit-transition: height .5s ease;
    transition: height .5s ease;
    z-index: 1
}
.slider-size {
height: 56vmin; /* This is your slider height */
padding:0px;
}
.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}
.carousel-control:hover{
	color: #fff !important;
	opacity: 1 !important;
	filter: none !important;
}
.live-item:nth-child(even) {
    background: #EEE;
    border: #ddd;
    padding:10px;
   }
.live-item:nth-child(odd) {
    background: transparent;
    border: #ddd;
    padding:10px;
    
}
.mrimg{
	width: 100px;
	height: 56.25px;
	object-fit:cover;
	background: #f1f1f1;
}
.live-item:nth-child(odd):hover, .live-item:nth-child(even):hover{
	color:#cd0000;
}
.gray{
	background: #f1f1f1;
	
	font-size: 1.5rem;
	height:85px;
	
	max-height:85px;
	padding:10px 10px;
	width:100%;
	border-top:1px solid #ddd;
	
	margin: 5px 0px;
	position:relative;
}
  .makeit a{
	/*font-size: 1.4rem;*/
	line-height:1;
	font-weight: 400;
	color: #000;
	font-weight:bold;
	
	height: 35px;
    display: block;
  }
  .makeit{
	  padding:0 !important;
	padding-bottom:7px !important;
  }
.green{
	background: #5E9A0F;
		font-size: 1.7rem;
	height:90px;
	
	max-height:90px;
	padding:10px 40px;
	width:100%;
	border-top:1px solid #519548;
	
	margin: 5px 0px;
	color:#fff;
	position:relative;
}
.opimg{
	width:100px;
	max-width:100px;
	height: 85px;
	max-height:85px;
	object-fit:cover;
	margin-right: 10px;
	border-radius: 4px;
	overflow:hidden !important;
	background:#666;
	
}
.opimg-b{
	width:100px;
	max-width:100px;
	height: 85px;
	max-height:85px;
	object-fit:cover;
	margin-right: 10px;
	border-radius: 4px;
	overflow:hidden !important;
		
}
.opimg:hover{
	filter:grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
.quote-left{
	position:absolute;
	top:15px;
	left:15px;
	color:#fff;
	font-size:1.5rem;
	font-weight:bold;
}

.maincon{
	background:transparent;
	}
strong{
	font-weight:bold;
}
a[ ng-click ] {
	cursor: pointer ;
	text-decoration: none ;
}
.nowreading .side-headline{
	min-height:35px;
}
.article-header{
	font-size:3.5rem;
	padding:10px 0px;
	margin:0;
}
.sub-headline{
	font-size: 16px;
	color:#666;
}
.breaker-headline{
	font-size: 3.5rem;
	line-height: 4rem;
	color:#cd0000;
	padding: 25px 0px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	
}
.normal{
	font-weight: normal !important;
}
.youtube-headline{
	padding: 15px;
	font-size: 2rem;
	font-weight:bold;
	color: #333;
	background: #F3F3F1;
	border-bottom: 1px solid #ddd;
	line-height:2.5rem;
	}
.youtube-headline a{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration: none !important;
}
.feed-item{
	margin:15px 0px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}
.nobg{
	background: none;
	border:0;
	padding: 0px 10px;
	
}
.top-cube-right:first-child{
		padding-top: 4px !important;
	}
.small-section{
	padding:3px 5px !important;
	font-size:1.1rem !important;
	text-transform: uppercase;
	font-weight: bold !important;
}
.fix-height{
	min-height: 40px;
	height: 40px;
	max-height: 40px;
	overflow:hidden;
}
.b-t:last-child{
	border-bottomr:0 !important;
}
.headline-big{
	font-size: 2.2rem;
	line-height: 2.7rem;
}
a:hover{
	color:#cd0000;
}
.story-body>p:first-child:first-letter {
    color:#CC0000;
    display:inline;
    float:left;
    font-size:5.4em;
    line-height:0.8em;
    margin:0.13em 0.14em 0 0;
    text-transform:uppercase;
}

.scream-headline{
	font-size: 4.2vmin;
	font-weight:bold;
	margin:0;
	padding:0px;
	text-align:left;
	color:#fff;
	text-shadow: none !important;
	line-height: normal;
	padding-right: 10px;
}
.scream-img{
	height: 40vmin;
	max-height: 40vmin;
	width:100%;
	padding:0;
	object-fit:cover;
	
	object-position: top center;
}
.scream-strap{
	font-size: large;
	padding:20px 0px;
	color: #dfdfdf;
	text-shadow: none;
	line-height: 24px;
	padding-right: 10px;
}
.scream-source small{
	font-size: medium;
	font-weight:bold;
	color:#F2CB3A;
	padding:7px 0px;
}
.red-left:before{
	content: '•';
	color:#cd0000;
	font-size:2.5rem;
	font-weight:bold;
	position: absolute;
	

}

.red-left-top{
	height: 95px;
}
.op-piece{
	position:relative;
	border:1px solid #ccc;
	
	border-radius: 3px;
	background: rgba(0,0,0,0.1); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	height:110px !important;
	max-height:110px !important;
	overflow: hidden;

}

.big-headline{
	font-size:1.8rem;
	line-height: 1.2;
	font-weight:bold;
	
}
.h a{
	font-size: 1.8rem;
	line-height: 2.1rem;
	color:#000;
	font-weight:normal;
	}
.silver{
background: #eeeeee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */


border-bottom:1px solid #ddd;
}

.nplr{
	padding-left: 0px !important;
	padding-right: 0px !important;
	
}

.red-left{
	
	vertical-align:middle;
	height: 90px;
	overflow:hidden;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.feed-breaker{
	background:#000;
	padding: 20px 0px;
	margin-top:20px;
	margin-bottom: 20px;
}
.over-sign{
	position:absolute;
	color:#fff;
	font-size:12rem;
	
	z-index:99999;
	
	top: 40%;
	left:40%;
	
}
.reverse-show-more{
	color:#fff;
	font-size:1.8rem;
	font-weight:normal;
	text-decoration: underline;
}
.spc a{
	font-weight: bold;
	font-weight:1.8rem !important;
	line-height:1.2;
}
.hover-show{
	display: none;
	transition: opacity 3s ease-out;
    opacity: 0; 
}
.hs:hover .hover-show{
	display:block;
	opacity:1;
  transition-delay:5s;
	
}
.jp-home{
	font-size: 1.6rem;
	font-weight:bold;
	line-height: 1 !important;
	padding: 10px !important;
}
.showmore{
	
text-align: center;


color: #666;
font-weight: bold;
font-size: 1.8rem;
cursor: pointer;
margin-left:auto;
margin-right:auto;
background:#eee;
margin-bottom:10px;
margin-top:-10px;
display: inline-block;
padding:10px 20px;
margin-left:auto;
margin-right:auto;
font-family: sans-serif;
border-radius: 3px;
}
.showmore-black{
	width:100%;
text-align: center;


color: #fff;
font-weight: bold;
font-size: 1.8rem;
cursor: pointer;
margin-left:auto;
margin-right:auto;

margin-bottom:20px;
margin-top:-10px;
background:#333;
padding:10px;
margin-top:-20px;
}
.showmore i{
	color: #333;
}
.home-title{
	position: relative;
	text-align:center;
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
	color: #fff;
	margin-top: 20px;
	font-family:'Helvetica Neue', Arial, sans-serif;
	border-bottom:3px solid;
}
.home-title span {
	background: #000;
	padding: 5px 10px;
	position: relative;
	z-index: 1;
	text-align:center;
}

.top-strap{
	color: #666;
	font-size: 1.35rem;
	line-height: 1 !important;
	font-weight: normal !important;
	padding-bottom: 5px;
	word-wrap:nowrap;
}


.last_update{
	font-size: 1.4rem;
	color: RGB(45, 130, 239);
	text-transform: uppercase;
	font-weight: bold;
	
	line-height:1 !important;
	}
.sArray{
	
	padding: 5px 0px;
	
	overflow:hidden;
	position:fixed;
	left:0;
	top:75px;
	width:100%;
	height:auto;
	z-index:9999;
	border-top:1px solid rgba(0,0,0,0.1);
	text-align:right;
	
}
.sArray a{
	margin: 0 5px 0 0;
	padding:5px 2px;
	color: #000;
	text-transform: uppercase;
	font-size:1.3rem;
	font-weight:bold;
	z-index:9999999999999;
}

.sArray a:last-child{
	background:#000;
	color:#fff;
	padding:5px 10px;
}
.sArray a:hover{
	background:#fff;
	color:#cd0000;
}

.sArray-b{
	background:#000;
	padding: 5px 0px;
	
	overflow:hidden;
	
	width:100%;
	height:auto;
	z-index:9999;
	border-top:1px solid rgba(0,0,0,0.1);
	text-align:left;
	
}
.sArray-b a{
	margin: 0 5px 0 0;
	padding:5px 2px;
	color: #fff;
	text-transform: uppercase;
	font-size:1.3rem;
	font-weight:bold;
	z-index:9999999999999;
}
.sArray-b a:last-child{
	background:#cd0000;
	color:#fff;
	padding:5px 10px;
}
.sArray-b a:hover{
	background:#cd0000;
	color:#fff !important;
}

.top-news-headline{
	font-size:4rem;
	line-height: 4.5rem;
	min-height:500px;
	max-height: 500px;
	height: 500px;
	padding-left:8%;
	padding-right:8%;
	padding-top:20%;
	text-shadow:1px 1px 5px #000;
}
header{ height:85px;}
.search_header{float:left;}
.butt_top{display:none;}
.mobi_breadcrumbs{
	height: 23px; color:#000; padding: 0;
	background:none;
	width:100%;
	/*padding:5px 0px;*/
	
	}
.mobi_breadcrumbs a{
	color:#000;
	text-transform: uppercase;
	font-size: 1.2rem;/*1.2rem;*/
	padding: 2px 4px 2px 2px;

}
.topStoryImg img{
width: 100%;
}
.topStoryImg h1{
    margin: 0 0 10px 0;
	font-size: 2.5rem;
}
.topStoryTxt{
/*padding-top:15px;*/
}

.topStorySummary{
font-size: 1.4rem;
height: auto;
}
.homeStrapDate{
	font-size: 1rem;
    display: block;
	color: #A9A9A9;
	font-weight: normal;
}
@media (max-width: 999px) {
	header{
		height: 75px;
	}

	.butt_top{
		display: block;
		width: 70px;
		float: right;
		margin-top: 5px;
	}
	.mobi_breadcrumbs{
		display: block;
		background:#000 !important;
		width:100%;
		/*padding:5px 0px;*/
		color:#fff;
	}
	.mobi_breadcrumbs a{
	color:#fff;
	padding: 2px 4px 2px 2px;

	}
	.topNavigation {display:none;}
	.secs a{
		float: left;
		width: 100%;
	}
	.secs-child a{
		float: left;
		width: 100%;
	}
}
@media (max-width: 361px) {
	header{
		height: 10%;
	}
	.butt_top{
		display: block;
		width: 15%;
		float: right;
		margin-top: 6px;
	}
	.topStoryTxt h3 a{
		font-size: 24px;
	}
	
}

@media (max-width: 720px) {

 
  .story-body p, .story-body li{
  font-size:1.6rem;
	  line-height: 2.3rem;
	  color:#000;
	  
	  
  }
   .side-title a{
		  
		  font-weight: bold;
		  font-size: 1.5rem;
		  line-height: 1.2;
		  width:100%;
	  }
  .story-body blockquote{
	  font-size: 2.2rem;
	  line-height: 1.5;
	  margin:10px 0px;
	  
  }
  .storyimg-caption{
	  font-size: 1.1rem;
	  line-height: 1.2;
	  color: #333;
	  text-align:left !important;
	  padding: 5px;
	  margin-top:-5px;
	  clear:both;
	  font-weight:300;
	  padding-top: 10px;
  }
  .articlecontent{
	  padding: 1rem;
	  padding-top:0;
  }
  .strap{
	  font-size: 1.4rem;
	  line-height: 1.4;
	  font-style: oblique;
	  font-weight: bold;
	  padding:7px;
	   margin-left: -1rem;
	  margin-right: -1rem;
  }
  .cover, .img-c{
	  margin-left: -1rem;
	  margin-right: -1rem;
  }
  .makeit a{
	font-size: 1.6rem;
	line-height:1.3;
	font-weight: 400;
	color: #000;
  }
  .top-news-headline{
	  font-size: 2.5rem;
	  line-height: 1;
	  height: 250px;
	  min-height:250px;
	  max-height: 250px;
  }
  .slider-size{
	 height: 250px !important;
	 padding-top: 10%;
	 padding-left: 3%;
	 padding-right: 3%;
	 width: 100% !important;
  }
  .img-c{
	  margin-left: -1rem;
	  margin-right:-1rem;
  }
   .ticker-item{
		  padding: 5px 0px !important;
	  }
	  .top-title{
		  padding-left:0 !important;
		  margin-left:0 !important;
	  }
	  .add-o{
		  display:none;
	  }
	  .top-title a{
		  font-size: 1.4rem !important;
		  line-height: 1.2 !important;
		  
		  font-weight: 700;
	  }
	  .articlecontent{
		  border:0;
	  }
	  .top-headline-image{
		width:100%;
		/*object-fit:cover;
		height: 250px !important;*/
	  }
	  .dead-top{
		  font-size: 2rem !important;
		  line-height: 1.2 !important;
		  font-weight: 500 !important;
	  }
	  .over-headline-en{
		  padding: 15px !important;
	  }
	  .op-silver{
		  padding:0 !important;
	  }
	  #relmenu{
		  font-size:4rem;
		  padding: 5px;
		  color:#fff;
		  font-weight: bold;
	  }
	  }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 600px) and (max-width: 959px) {
  .header{
		/*height:50px !important;*/
	}
	.brand{
		height:40px !important;
		max-height:40px !important;
		padding-top:5px !important;
	}
	   .headline {
	    font-size: 2.8rem;
	    line-height: 3rem;
	    
	    padding:0;
	  }
	  .top-headline{
	font-size:3rem !important; line-height:1 !important;font-weight:bold !important;padding:40px !important;font-family:'Helvetica Neue', Arial, sans-serif;
	height:auto;
}
	  .articlecontent{
		  padding: 1.5rem;
	  }
	  .storyimg-caption{
	  font-size: 1.3rem;
	  line-height: 1.4;
	  color: #333;
	  text-align:left !important;
	  padding: 5px;
	  margin-top:-5px;
	  clear:both;
	  font-weight:300;
  }
  	  .strap{
	  	  margin-left: -1.5rem;
	  	  margin-right: -1.5rem;
  	  }
	  .story-body p, .story-body li{
		  font-size:1.8rem;
		  line-height: 1.8;
		  color:#000;
	  }
	  .img-c, .cover{
		  margin-left: -1.5rem;
		  margin-right: -1.5rem;
	  }
	  .ticker-item{
		  padding: 5px 0px !important;
	  }
	  .top-title a{
		  font-size: 1.4rem !important;
		  line-height: 1.2 !important;
		  
		  font-weight: 700;
	  }
	  .add-o{
		  display:inline-block;
	  }
	  .strap{
	  font-size: 1.9rem;
	  line-height: 1.5;
	  font-style: oblique;
	  font-weight: normal;
	  padding:7px 15px;
	  }
	  .top-title{
		  padding-left:0 !important;
		  margin-left: 0 !important;
	  }
	   .side-title {
		  padding-left: 41% !important;
		  
	  }
	 
	  header{
		  /*height: 75px !important;*/
	  }
	  body{
		  /*padding-top:75px !important;*/
	  }
	  header .brand{
		  /*height: 50px !important;
		  max-height:75px !important;
		  padding:0px !important;
		  padding-top:15px !important;*/
	  }
	  .over-headline-en-top{
		  font-size: 1.6rem !important;
	  }
	  .grid-container{
		width: 100% !important;
		max-width: 100% !important;
	}
	.top-headline{
		padding: 20px !important;
	}
	.top-cube-right:first-child{
		padding-right: 0 !important;
	}
	.top-cube-right{
		padding: 2.5px !important;
	}
	.card{
		height:100px;
		max-height:100px;
	}
	.makeit{
		padding-right:5px !important;
		font-size: 1.3rem;
		line-height: 1.2;
	}
	.sidebar{
		padding: 10px 5px !important;
	}
  }
.storyStrapTop{
margin: 0 0 3px 0!important;
}
.topStoryTxt p{
margin: 1px 0 1px 0;
}
.relatedStories a{
color: #07609C;
}
.leadTitle{
margin: 0 0 3px 0!important;
/*text-transform: uppercase;*/
}
.smallList{
    margin: 0;
    padding: 0 0 0 4px;
}
.mastHeadSides{
height: 65px;
max-height: 65px;
color: #36454F;
}
.lastUpdateDate{
margin-top: 30px;
display: block;
}
.searchTool{
margin-top: 30px;
display: block;
}
.mastHead{
margin: 15px 0 5px 0;
}
.socialicons {
/*display: none;/*has been hidden now*/
	padding: 0px;
	float: right;
	height: 60px;
	width: 100px;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.socialicons ul{
	padding: 0px;
	margin: 0px;
	float:left;
	display: inline-block;
	list-style-type: none;
}
.socialicons li{
	float:left;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
}
div#socialFloat{
display: block;
width: 160px;
}

div#socialFloat a.socialF{
float: left;
height: 41px;
line-height: 50px;
display: block;
width: 39px;
}
div#toolFloat{
float: right;
}
div#toolFloat a.socialF{
float: left;
height: 41px;
display: block;
margin: 0 5px 0 5px;
}
.socialF span{
margin-left:2px;
}
.search {
    border: 1px solid #383838;
    display: inline-block;
    padding: 2px 10px 2px 0px;
}
input.search-form{
  background: transparent;
  border: 0 none;
  width: 250px;
  padding: 0 10px;
  /*color: #FFF;*/
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 300px;
}
.searchTool {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: right;
}
.liveStoryUpdate {
	/*display:none;*/
}
table {
width: 100%;
}
table tr th, table tr td {
padding:5px;
margin: 2px;
border: 1px dotted gray;
}
table tr th{
font-weight: bold;
}

	@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "First Name"; }
		td:nth-of-type(2):before { content: "Last Name"; }
		td:nth-of-type(3):before { content: "Job Title"; }
		td:nth-of-type(4):before { content: "Favorite Color"; }
		td:nth-of-type(5):before { content: "Wars of Trek?"; }
		td:nth-of-type(6):before { content: "Porn Name"; }
		td:nth-of-type(7):before { content: "Date of Birth"; }
		td:nth-of-type(8):before { content: "Dream Vacation City"; }
		td:nth-of-type(9):before { content: "GPA"; }
		td:nth-of-type(10):before { content: "Arbitrary Data"; }
	}

	

/*Jaideep*/	
.fb-post , .twitter-tweet, .instagram-media {
box-shadow: 3px 3px 13px 3px #888;
}
.fb-post{
margin-bottom: 5px;
}
.embcaption {
background-color: rgba(235, 235, 235, 0.05);
margin: 0px 0px 5px;
display: block;
text-align: center;
text-transform: none;
font-size: 1.4rem;
color: #666;

text-transform: none;
    font-size: 1.6rem;
    /* color: #666; */
	background-image: url("http://cdn.deccanchronicle.com/images/camera17x16.png");
	background-position: 1px 8px;
background-repeat: no-repeat;
    color: #000;
    text-align: left;
    padding: 5px 5px 5px 5px;
	text-indent: 18px;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    margin-top: 0px;
    clear: both;
    border-bottom: 1px solid #D0D0D0;	
}
.embcaption span.fa {
margin-right: 10px;
}
p.imgCenter{
text-align: center !important;
}
/*css for share by anoop*/
.soc-share{
padding: 0;
margin: auto auto 10px auto;
float: none;
text-align: center;
}
.soc-share a, .soc-share a:visited {
color: #ffffff;
text-decoration: none;
margin: 5px;
}
.soc-share a span {
font-size: 1.1rem;
}
.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.3em;
    min-width: 3em;
    /*width: 5em;*/
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.soc-share .share-btn:hover {
  color: #eeeeee !important;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }
/*End of anoop css*/