@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
@font-face {
    font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
  font-size: 62.5%
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#383838;
  /*line-height: 22px;*/
  line-height: 22px;
  /*font-size: 1.8rem;*/
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  /*color:#919091; /*#4e4e4e;*/
  /*color:#5F5F5F; /*#4e4e4e;*/
      margin-top: 0;
	  word-break: break-word;
	  word-wrap: break-word;
}

h1{
  font-size: 3.6rem;
  color:#fff;
}

h2{
  font-size: 2.0rem;
}

h3{
  font-size: 1.6rem;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 1.6rem;
}
.topStoryContainer h1{
font-size: 2.0rem;
color: inherit;
}
.top-left-nav-container{
padding: 0;

} 
.navMob{
height: auto;
    float: left;
    margin: 0;
    padding:0;
    margin-top: 7px;
    line-height: 1rem;
}
.navMob .fa {
font-size: 2.2rem;
}
.tool-bar-logo .navMob{
display: none;
}
.logo{
padding: 0 10px 0 10px;
}
.logo img{
width:250px;
}
.mastDate{
font-size:1.2rem;
}
.barLogo{
text-align: center;
padding: 10px;
border-bottom: 3px solid #000;
}
.barLogo a{
color: #000;
height: auto;
font-size:3.6rem;
}
.barLogo img{
width:150px;
}
.sideNav{
margin-left: 20px;
overflow-y: auto;
}
.sideNav ul li a{
color: #000;
font-size: 1.6rem;
font-weight: 600;
}
.sideNav ul li ul{
margin-left: 20px;
list-style: outside none none;
margin-bottom: 10px;
margin-top: -7px;
}
.sideNav ul li ul li {
padding: 2px 0 2px 0;
}
.sideNav ul li ul li a{
font-weight: normal;
font-size: 1.5rem;
}
.barSocial {
margin: 5px;
}
.barSocial ul li {
display: inline;
	
}
.barSocial ul li a{
color: #000;
}
.barSocial ul li a .fa{
font-size: 4.0rem;
margin: 10px 13px;
}

.barTool {
margin: 5px;
}
.barTool ul li {
display: inline;
margin: 8px 5px;
}
.barTool ul li a{
color: #000;
font-size: 1.5rem;
}
.tool-bar-logo{
display: none;
text-align: center;
}
  #toggleNav{
  display: none;
  float: left;
  position: absolute;
  z-index: 1000;
  width: 310px;
  height: auto;
  top:0;
  left:0;
  background-color: #F7F7F7;
  box-shadow: 3px 3px 3px #888888;
  }
  #toggleNav .barTool ul li a{
  font-size: 22px;
  margin: 0 2px 0 3px;
  }
  #toggleNav .barTool ul li a span {
  font-size: 14px;
  }
  /*#toggleNav .barTool ul li:first-child a{
  font-size: 20px;
  margin: 0 0px 0 0px;
  }*/
.container{
max-width: 1200;
}
.socialF{
padding-left: 5px;
padding-right: 5px;
}
.socialF .fa {
font-size:2.0rem;
}
.socialF span{
margin-left: 5px;
}
.socialFext{
min-width: 125px;
}
.socialFext, .top-left-nav{
float: left;
margin-right: 5px;
}

.navBar{
border-top: 3px solid #000;
border-bottom: 1px solid #ADADAD;
}
.navBar ul li{
display: inline-block;
    list-style: none;
}
.navBar ul li a{
color: #000;
font-size: 1.1em;
padding: 10px 13px;
}


a {
  color: #666;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  /*color: #ffffff;*/
}
#toggleNav a.socialF, #toggleNav a.socialF:hover, #toggleNav a.socialF:visited {
color: #000;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.noMargin{margin:0;}
.noPadding{padding:0;}
.padding10px{padding:10px;}
.uCase{text-transform: uppercase;}/* To Upper Case */
.margin-right:{margin-right:10px;}
.text-align-right{text-align:center;}
.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  /*color: #c52d2f;*/
  text-decoration: none;
  outline: none;
}
.redcolor{color:#FF0000;}
.bold{font-weight:bold;}

/* Story List*/
.topStoryContainer{
border-right: 1px solid #e1e1e1;
}
.stry-hd-sml-led{
color: #000;
    margin: 5px 0 10px 0;
    line-height: 2.5rem;
    font-size: 2.2rem;
    font-weight: bold;

}
.startBlock h3.stry-hd-sml-led2{
font-weight: bold;
color: #2B2B2B;
margin-bottom: 10px;
}
.startBlock h2 { 
/*margin: 10px 10px 15px 15px; */
}
.stry-hd-sml-led2{
    color: #000;
    margin: 0px;
    /*line-height: 16px;
    font-size: 1.5rem;*/
	line-height: 1.6rem;
    /*font-size: 1em;*/
    font-size: 1.4rem;
    margin-bottom: 5px;
    /*font-weight: bold;*/
    /*height: 92px;
    overflow: hidden;*/
}
#topStory .stry-hd-sml-led2{
	/*height: 7.5rem;
    overflow: hidden;*/
}
.tsSmall h3.stry-hd-sml-led2{
	line-height: 1.8rem;
    /*font-size: 1em;*/
    font-size: 1.5rem;
}
.topStoryBigContent{
padding: 0 5px 0 5px;
}
.stry-hd-sml-led3{
    color: #171717;
    margin: 0px;
    line-height: 16px;
    font-size: 15rem;
    margin-bottom: 10px;
}
.pubStamp{
font-size: 1.3rem;color:#666;padding:5px 0px;
margin-bottom: 5px;
}
.stry-hd-sml-lst{
color: #3C3C3C;
font-size: 1.9rem;
margin:0;

}
.searchIcon{
text-shadow: 1px 1px #636161;
color: #D0D0D0;
font-size: 2rem;
}
.serachTextBox{
width: 90%;
padding: 5px;
border: 1px solid #D0D0D0;
box-shadow: 2px 2px 10px #636161;
}
.nav>li.active>at, .nav>li.active>a {
    text-decoration: none;
    background-color: #eee;
}
.top-strap{
    
}
.noPad{
padding:0;
}
.spanTitle{
font-size: 1em;
margin-left: 0px;
border-bottom: 3px solid #F00;
line-height: 1.4em;
}
.hmSource{
    color: #919091;
	font-size: 1.4rem;
	margin: 10px 0 5px 0;
	display: none;
}
.hmSourceFeed{
	margin: 0;
    font-size: 1.2rem;
    
}

.hmSection{
	color: #949494;
    font-size: 1.6rem;
    margin: 10px 0 5px 0;
    display: none;
}
.stry-top-big-a{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
	/*min-height: 40rem;*/
}
.stry-feed-sml-a{
    border-top: 1px solid #e1e1e1;
	padding: 10px 10px 5px 0px;
    margin-left: 5px;
	/*min-height: 98px;*/
}
.tstry-feed-sml-a{
    border-bottom: 1px solid #e1e1e1;
	padding: 10px 10px 5px 0px;
    margin-left: 5px;
}
.entNoColorHolder .tstry-feed-sml-a {
border: 0;
}
.feedCol div.stry-feed-sml-a:last-child{
/*border-bottom: 1px solid #e1e1e1;*/
}
.feedCol div span.BnSection {
    position: relative;
    right: -115px;
	top: -4px;
	float: right;
	display: none;
}
.feedImg div img {
/*position: relative;
float: left;
top: -20px;*/
}
.feedCol div.mostPopular{
    background-color: #F8F8F8;
    margin: 0 0 5px 5px;
	padding-top:10px;
	border: 1px dotted #e1e1e1;
    /*border-radius: 2px;
    box-shadow: 1px 1px 5px #636161;
    padding: 10px 10px 0px 10px ;*/

}
.stry-top-sml-a{
    border-bottom: 1px solid #e1e1e1;
	padding: 0 10px 10px 0px;
    margin-left: 10px;
}
.stry-hd-sml-img{
width:100%;
border-radius: 5px 5px 0 0;
}
.SunChroH3{
    margin: 5px 0 10px 0;

    font-weight: bold;
color: #000;text-align: center;margin-top: 10px; line-height: 4.5rem; font-size: 4.2rem;

}
.SunChNewListing{
margin-top: 5px;border-bottom: 1px solid #e1e1e1; padding: 10px;
}
.SunChroListH3{
color:#000;font-size:2.2rem;text-align:left;
font-weight: bold;
}
.SunChroStrap{
font-size: 2rem;
    line-height: 2.4rem;
    height: auto;
	text-align: center;margin-top: 10px;
	margin-bottom: 30px;

}
.SunChroStrapList{
font-size:1.5rem;line-height:2rem;text-align:left; height: 40px; overflow: hidden;
}
.sunChTopImg1 {
width: 250px;
/*box-shadow: 2px 2px 10px #636161;*/
}

.sunChTop {
width:99%;

}
.sunChH2{
font-size:1.6rem;font-weight: bold;
}
.sunChronMore{
margin-bottom: 20px;
}
.SunChH3{
color: #000;line-height:2rem;font-size:2rem;margin: 0 2px 0 0; min-height: 68px; 
}
.SunChDt2{
font-size:1.2rem;color: #161616;
}
.SunChSubSec, .SunChSubSec a, .SunChSubSec a:visited{
color: #808080;font-weight:bold;
}
.sunChmore{
color: #808080;font-size:1.5rem;font-weight: normal;
}
.columnistList .SunChNewListing .ThumbImg { width: 15%;}
.columnistList .SunChNewListing .col-sm-8 { width: 85%;}
.columnistList .SunChNewListing .ThumbImg img{
width: 70px;
}
.opnionTopBig{
padding: 7px;
border: 1px solid #e1e1e1;
border-bottom: 3px solid #e1e1e1;
margin-bottom: 15px;
border-radius: 4px;
}
.opnionTopBig h3 {
font-size: 3.5rem;line-height: 5rem;
}
.opnionTopBig div.stry-big-cnt {
font-size: 2rem;margin-top:5px; margin-bottom: 10px;
}
.opnionTopBig img, .opnionTopSmall img {
width: 100%
}
.opnionTopSmall{
padding: 7px;
border: 1px solid #e1e1e1;
border-bottom: 2px solid #e1e1e1;
margin-bottom: 15px;
border-radius: 4px;

}
.opnionTopSmall h3 {
    font-size: 2rem;
    line-height: 2.30rem;
    height: 5rem;
    overflow: hidden;
	margin-bottom: 0px;
}
.opnionTopSmall div.stry-big-cnt {
font-size: 1.5rem;margin-top:0px;
}
.emptyCol12{
padding:0; margin-left:0;
}
.SunChNewListing div.ThumbImg {
padding: 0;
}
.OpinionStrapList{
font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    /*height: 70px;
    overflow: hidden;*/
}
.newCor{
    /*background: url(/deccan/images/SundayChronicle.png);*/
    background-size: 90% auto;
    background-repeat: no-repeat;
}
.dcCorner{
/*float: right;*/
}
.dcCornerPaper{
font-weight: bold;
color:#E11A21;
}
.dcCornerDt{
font-size: 1.2rem;
line-height: 1.2rem;
height:100%;line-height:3rem;margin-top: 5px;
}
.dcCornerDt span {
color:#E11A21;
font-size: 1.5rem;
font-weight: bold;
}
.blankBrUp{
line-height: 0rem;
}
.blankBrDwn{
line-height: 14rem;
}
.stry-hd-sml-t2-img{
width:100%;

}
.stry-hd-sml-t3-img{
width:100%;
margin: 0px;
   /*min-height: 77px;*/
}

.top-smt-cnt{
padding: 10px 0px 0 5px;
}
.views-count{
font-size: 1.5rem;
color:black;
font-weight: bold;
}
.views-text{
font-size: 1.4rem;
color: black;
}
.top-views{
overflow:hidden;
}
.stry-hd-sml-cnt{
    height: 110px;
    overflow-y: hidden;
    color: #535353;
	font-size: 1.3rem;
	margin-bottom: 15px;
	line-height: 20px;
}
.stry-big-cnt{
height: 43px;
margin-bottom: 5px;
font-size: 1.4rem;
margin-bottom: 0px;
}
.stry-hd-sml-img:hover {
/*width:100%;
box-shadow: 4px 4px 10px #636161;*/
}
ul.topStoryList{
margin-left: 10px;
list-style: outside none none;
font-weight: bold;
}
ul.topStoryList li{
padding: 10px 0px;
width:95%;
}
ul.topStoryList li a{
font-size: 1.6rem;
}
.topFlash{
font-size: 2.5rem;
float: left;
margin-right: 10px;
margin-top: 7px;
color: #FC824A;
}

.newHr{
margin: 10px 10px 20px 10px;
}
.homeStrapDate{
font-size: 1.1rem;
}
.oneRow{
padding: 0px 0px 5px;
}
.oneRow:hover {
/*box-shadow: 1px 1px 10px #DDD;
margin: -5px 5px 5px -5px;*/
}
.oneRowP{
padding:0;
}
.col-right{
padding:0;
}
.row-12{
margin:0;
}
img.sec3ColBig{
/*min-height: 206px;*/
}
.star div {
    position: relative;
    float: left;
    top: 50px;
    font-size: 1.4rem;
    text-align: center;
    width: 51px;
}
.starText {
    font-size: 1.4rem;
    text-align: left;
    padding: 0 5px 0 5px;
    max-height: 70px;
    overflow: hidden;
}
.starLink{
max-height: 156px;
overflow: hidden;
text-align: center;
padding-left: 10%;
}
.pollQuestion{
font-weight: 600;
font-size: 1.5rem;
margin-bottom: 5px;
}
.relatedStoryFront{
padding: 0 5px 0 5px;
margin-top: 10px;
color: #383838;
}
ul.relatedStoryFront li{
list-style: square inside;
  /*list-style:none;
  margin: 1px 0px 0px 5px;
  /*height: 25px;*/
  overflow: hidden;
  line-height: 1.2em;
  padding-left: 10px;
  margin-bottom: 5px;
}
ul.relatedStoryFront li a{
color: #383838;
font-size: 0.9em;
line-height: 1.2em;
font-weight: bold;
}
.storyList{padding-bottom: 10px;}
	ul.topStoryList {
	border-bottom: 1px solid #e1e1e1;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 8px;
    }
	ul.topStoryList li {
	padding: 8px 0px 1px 0px;
    margin: 0;
	}
	ul.topStoryList li a{
		color: #171717;
		font-size: 1.4rem;
		font-weight: bold;
	}
		ul.sectionList{
		border-bottom: 0;
		margin-top: 0;
		padding-bottom: 15px;
		}
		ul.sectionList li{
		    max-height: 60px;
    		overflow: hidden
    	}

.stry-cofee-sml-lst{
    font-size: 1.3rem;
    margin-top: 10px;
}
.stry-cofee-sml-img{
	width: 50%;
	float:left;
    margin: 0 10px 0 0;
}
.homeStrapCofeeDate{
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: left;
    margin: 5px 0 0 0;
    padding: 0;
}
.aCoffe{
margin:0;
padding:0;
}
.iconTitle{
/*display: none;/* show/hide icon on title */
margin-right: 10px;
}
.entBlock{
background-color: #E6E6E6;
border-radius: 4px;
padding-bottom: 10px;
margin-top: 10px;
margin-bottom: 20px;
}
.entBlock h2{
margin: 15px;
color: #000;
}
.glryImg{
border: 5px solid #FFF;
background-color: #FFF;
width: 100%;
box-shadow: 5px 5px 5px #636161;
margin-bottom: 10px;
width: 90%;
}
.galStrap{
font-size: 1.5rem;
height: 70px;
display: block;
margin-top: 5px;
line-height: 2.2rem;
padding: 10px;
}
.owl-prev, .owl-next{
display: block;
float: left;
margin: 5px;
position: relative;
top: -180px;
left: -30px;
color: #535353;
}
.owl-next{
float: right;
left: -5px;
}
/**************************
***********Header**********
**************************/

.top-bar-fixed{
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
}
/*.logoContainer{margin-top:60px;}/*for fixed header*/
.top-bar  ol, .top-bar ul, .socialIconsTopBar ol,.top-bar ul {
/*    margin-top: 0;*/
    margin-bottom: 0;
	padding:3px 0 0 0;
}
.top-bar  nav ul li{
  display:inline-block;
  list-style:none;
  font-weight:600;
  margin-right:0px;
  color:#ffffff;
}
.top-bar {/*light*/
/**/
    padding: 5px 0;
    line-height: 28px;
    margin-bottom: 10px;
    font-size: 1.4rem;
	box-shadow: 2px 1px 5px 1px #565151;
    background-color: #222222;
	
/**/
} 
.top-bar a, .top-bar nav ul li {/*light*/
/**/
color: #FFF;
/**/
}   

.socialIconsTopBar{
  display:inline-block;
  list-style:none;
  margin-right:4px;
  float:left;
  width:97px;
}
.navbar-inverse {
    background-color: #101010;
    border-color: #080808;
}
.header .search {
    border: 1px solid #383838;
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px 2px 0;
}

.social{
  text-align: right;
}

.social-share{
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
}

ul.social-share li a:hover {
  background: #c52d2f;
  color: #fff;
}

.search i {
  color: #fff;
}

input.search-form{
  background: transparent;
  border: 0 none;
  width: 65px;
  padding: 0 10px;
  color: #FFF;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.search-form::-webkit-input-placeholder{
  color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
  color: #fff;
}

input.search-form:hover {
  width: 180px;
}
/* Right Bars */
.breakingNowDiv{
background-color: #FBFBFB;
box-shadow: 2px 1px 5px 1px #DBD3D3;
margin-top: 10px;
padding-top: 1px;
}
.breakingNow a div{
margin: 10px 0px 0px 5px;
line-height: 1.4;
font-size: 1.3rem;
border-bottom: 1px dotted #F3E2E2;
padding-bottom: 5px;
}
.breakingNow a:last-child div{
border: 0px solid red;
}
.breakingNow a div span{
text-transform:none;
}


.cntHeight{
height: 155px;
}
.cntLink{
margin: 10px 0 10px 0;
}
.commentTitle{
    color: #383838;
    margin: 0 0 0px 0;
    line-height: 2.2rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.commentByline{
	font-size: 1.2rem;
    font-weight: bold;
}
.commentByline a{
	color: #888888;
}
.columnistStrap{
overflow: hidden;
/*height: 49px;*/
font-size: 1.5rem
}
.commentQuote {
font-size: 2rem; color: #eee;
margin-top: 10px;
}
.columnistBlock{
margin-top:-5px;
}
.homeBlockquote{
	padding: 5px 0 5px 10px;
    margin: 5px 10px 0px 10px;
    font-size: 1.4rem;
    border-left: 3px solid #eee;
}
span.commentViews{
    color: #000;
    padding: 1px 5px;
    font-weight: normal;
    font-size: 1.4rem;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background-color:#eee;
    position: none;
}
.cmt-top-sml-a{
	border-bottom: 1px solid #e1e1e1;
    padding: 0 10px 10px 0px;
    margin-left: 10px;
    margin-bottom: 10px;

}
.topBigBanner{
    margin: 0px 0 0 0px;
    text-align: center;
    padding: 0 0 21px 0;
    border-bottom: 1px solid #e1e1e1;
    width: 99%;

}
.ad250x300{
    /*min-width: 315px;*/
    min-height: 255px;
    /*border-left: 1px solid #E1E1E1;*/
    display: inline-block;
	margin-top: 10px;
	background-color:#FBFBFB;
	text-align: center;
}
.ad250x300 div{
font-size: 1.2rem;
    color: #ccc;
}
.ad250x300 div.AdBox{
position: relative;
top: -22px;
}
.ad250x300 div.AdBox div{
border: 1px dotted #F9F9F9;
}

.ad300x375{
    width: 315px;
    min-height: 310px;
    /*border-left: 1px solid #E1E1E1;*/
    display: inline-block;
	margin-top: 20px;
	padding:0;
	text-align: center;
}
.galRight{/*width:280px; height:300px; margin-top:10px; overflow: hidden;*/}
.mastRight{width:300px; height:80px; margin:0px; overflow: hidden;}

.horiAd{
display:block; 
/*border: 1px solid #FBFBFB;*/
float: none;
height: auto;
max-height: 520px;
margin-top: 20px;
/*margin-bottom: 10px;*/

}
.horiAd iframe{
/*border: 1px solid black;*/
width: 100%;
height: 100%;
}
.moreGalleryDetail div.col-sm-4{
padding-left:0; 
}
/*.galleryContainer img, .thumb-img-div img{*/
.thumb-img-div img{
box-shadow: 2px 2px 10px #636161;
width: 95%;
margin: 0;
}
.galleryContainer{
/*max-height: 461px;
overflow-y: hidden;*/
padding:2px;
/*box-shadow: 2px 2px 10px #636161;*/
    position: relative;
    /*top: -60px;*/
    z-index: 1;
    
/*width: 760px;*/
height: 416px;
}
.galleryBox{
background-color: #E6E6E6;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #636161;
margin: 0 0 20px 0;
padding:10px 10px 5px 10px;
}
#bannerImg{
width: 100%;
display:block;
}
.outerThumb{
/*max-height: 95px;
overflow-y: hidden;*/
/*box-shadow: 2px 2px 10px #636161;*/
}
.imgShadow{
    box-shadow: 2px 2px 10px #7D7D7D;
}
.secBoxShadow{
	border-radius: 4px;
    box-shadow: 2px 2px 10px #7D7D7D;
}
#galleryCaption{
    position: relative;
    width: 100%;
    /*height: 60px;*/
    background-color: rgba(72, 72, 72, 0.68);
    color: #fff;
    padding: 5px 5px 5px 5px;
    z-index: 2;
    font-size: 1.1rem; 
    display: none;
}
.thumb-gal-a {
    /*border-top: 1px solid #e1e1e1;*/
    padding: 5px 10px 0px 5px;
    display: block;
	margin: 5px 0 5px 0;
}
.thumbSelect, .thumb-gal-a:hover {
/*background-color: #e1e1e1;*/
box-shadow: 2px 2px 10px #636161;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}
#bannerImg{
box-shadow: 2px 2px 10px #636161;
border-radius: 3px;
}
.thumb-img-div {
    padding: 0 10px 0 5px;
}

.thumbH3 {
    overflow-y: hidden;
    line-height: 1.9rem;
    font-size: 1.6rem;
    color: #434343;
    height: 89px;
    padding: 5px 5px 0 10px;
}
#thumbNav {
height: 461px;
width: 99%;
}
#thumbNav div.thumb-gal-a{
height: 23%;
}
#thumbNav div.thumb-gal-a:last-child{
border-bottom: 1px solid #e1e1e1;
padding-bottom: 3px;

}
.emptyDiv{
border-bottom: 1px solid #e1e1e1;
margin-left:30px;

}
.sectionHighLight{
/*
padding: 0;
    border-top: 1px solid #C5C9D2;
padding: 0;
 border-bottom: 1px solid #e1e1e1;
*/
}
.sectionHighLight a {display:block;}
.sectionHighLight h2 a {display:inherit;}
.sectionBorder{
/*
border-top: 2px solid #B1B1B1;
padding: 0;
margin: 2px 0 0 0;
*/
}
.spacerBorder{
border: 0;
border-top: 1px solid #C5C9D2;
border-bottom: 2px solid #B1B1B1;
padding: 2px 0 0 0;
margin-bottom: 5px;
}

.sectionH3 {
overflow-y: hidden;
    line-height: 1.8rem;
    font-size: 1.6rem;
    color: #383838;
    /*color: #434343;
    height: 44px;*/
    height: 80px;
    padding: 5px 1px 0px 1px;
    font-weight: bold;
    
	    /*margin-bottom: 27px;*/
	    margin-bottom: 10px;
}
.storyList h3 {
    font-weight: bold;
	margin-bottom: 0;
    line-height: 1.1em;
	font-size: 1em;
	margin-bottom: 5px;
}

.ratingStar {
    color: rgb(255, 146, 3);
    font-size: 15px;
}
/********************/
.galleryList h3 {
    font-weight: bold;
    font-size: 0.9em;
    margin-bottom: 5px;
    line-height: 1.13em;
    height: 3.3em;
    padding: 0 15px 0 15px;
    overflow: hidden;
}
.galImgCnt{
text-align: center;
}
.galleryListCnt img.stry-hd-sml-t3-img{
height: 129px;
width: auto;
max-width: 240px;
}
.galleryListCnt, .galleryList div.galleryListCnt:last-child{
border: 0;
border-bottom: 1px solid #e1e1e1;
margin-bottom: 10px;
}
/********************/
.galleryDtList h3, .galleryDtListCnt a div h3 {
    font-weight: bold;
    font-size: 0.7em;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.3em;
    height: 3.9em;
    padding: 0 15px 0 15px;
    overflow: hidden;
}
.galleryDtList div.articlecontent{
/*background-color: #E6E6E6;*/
}
.Ccontainer {
    height:120px;
    width:90%;
    /*border:1px solid black;*/
    text-align:left;
    white-space: nowrap;
    overflow:hidden;
}
.div_to_hold_images {
    width:190px;
    margin:2px;
	padding: 5px;
    height:144;
    display: inline-block;
    overflow:hidden;
    margin-left:8px;
    background-color: #F2F2F2;
    border-radius: 3px;
    box-shadow: 1px 2px 5px #353333;
	text-align: center;
}
.div_to_hold_images img{
height: 100px;

}
.div_to_hold_images img.selected{
	border: 5px dotted rgba(185, 185, 185, 0.79);
    box-shadow: 1px 2px 5px #353333;
}
.imageScrollerNav{
	
}
.imageScrollerNav {
	position: relative;
	background-color: rgba(0, 0, 0, 0.61);
	display: block;
	width: 30px;
	height: 30px;
	font-size: 25px;
	padding: 3px 3px 3px 4px;
	color: #fff;
	top: -65px;
	border-radius: 5px;
					}
.outerCover{ margin-top: 20px; }
.imageScrollerNavLeft{
float: left;
}
.imageScrollerNavRight{
float: right;
}
.imgScroller ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  background-color: #ddd;
}
.imgScroller ul li {
  display: inline;
  width: 150px;
  height: 150px;
}
div.galleryDtListCnt div.col-sm-12, div.galDtImgCnt{
text-align: center !important;
margin: 5px;
}
.galleryDtListCnt img.stry-hd-sml-t3-img{
height: 100px;
width: auto;
max-width: 170px;
}
.galleryDtListCnt, .galleryDtList div.galleryDtListCnt:last-child{
border: 0px dotted #fff;
margin-bottom: 10px;
}
/********************/
.galleryBnList h3 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.3em;
    height: 3.3em;
    /*padding: 0 25px 0 55px;*/
	padding: 0;
    overflow: hidden;
}
.galBnImgCnt, .cntPntBnImgCnt{
text-align: center;
}
.galleryBnList img.stry-hd-sml-t3-img{
width: 90%;
height: auto;
}
.galleryBnList div.cover {
text-align:center;
background-color: #333333;
padding: 20px;
min-height: 519px;
    border-radius: 5px;
	box-shadow: 1px 2px 5px #353333;
}
a.coverArrow, a.coverArrow:visited {
/*border: 1px solid red;*/
    display: block;
    position: absolute;
    width: 40px;
    height: 47px;
    font-size: 45px;
    text-align: center;
    /*top: 35%;*/
    top: 200px;
	padding-top: 2px;
    background-color: rgba(38, 43, 48, 0.43);
	color: #fff;
	border-radius: 10px;
}
a.coverArrow:hover {
    
	/*color: #fff;*/

}
.arrowLeft{
left: 2%;
}
.arrowRight{
right: 2%;
}
.galDtImgCnt img.stry-hd-sml-t3-img{
height: 100px;
width: auto;
max-width: 150px;
    margin: 10px;
}
.gTouter{
    background-color: #333333;
	border-radius: 3px;
    box-shadow: 1px 2px 5px #353333;
}
.cameraIcon{
    color: #fff;
    position: relative;
    top: -30px;
    float: left;
    left: 30px;
	text-shadow: 1px 1px #424141;

}
.colRuleDouble{
    
    border-bottom: 2px solid #e1e1e1;
    height: 5px;
    border-top: 1px solid #e1e1e1;
    margin: 5px 0 5px 0;
    padding: 0;

}
.columnBlock{
margin-top: 10px;
}
.colImage img{
width: 100%;
height: auto;
}
.colDesc{
    font-size: 1.3rem;
    color: #666;
}
.cntPntBnImgCnt img.stry-hd-sml-t3-img{
height: 500px;
width: auto;
}
.galleryBnList, .galleryBnList div.galleryBnListCnt:last-child{
border: 0;
margin-bottom: 10px;
}
.galleryBnList .pagination{
margin: 0;
}
.galleryBnList div.storyimg-caption{
    margin-top: 10px;
    text-align: center;
	color: #fff;
	border-bottom: 0;
}
.galleryBnList img.imgShadow {
       /*box-shadow: 5px 5px 10px #353333;*/
}
#cImg{
width: 90%;
}
.secColorHolder div.col-sm-4, .secColorHolder div.col-sm-3{
/*min-height: 212px;*/
}
.secColorTab{
margin-top: -45px;
}
.secNoColorHolder div.col-sm-4{
min-height: 362px;
}
.secNoColorHolder a{display:block;}
.sectionHighLight h2{
/*margin: 15px;*/
color: #000;
}
.galleryContainerM h2{
margin-left: 15px;
}
.BnCount{
display: none;
font-size: 3rem;
float: left;
margin: -5px 20px 0px 5px;
}
/* Section Colors */
.BnSection{
color: #fff;
padding: 1px 5px;
font-weight: bold;
font-size: 0.7em;

 -moz-border-radius: 4px 4px 4px 4px;
 border-radius: 4px 4px 4px 4px; /* standards-compliant: (IE) */
 z-index:1;
}
.poll {padding-top: 0; padding-bottom: 0;}
.poll form span.input {float: left; margin-right: 40px;}
.pollQuestion{height: 70px;overflow:hidden;}
.previouPolls{
color: black;
font-size: 1.4rem;
margin-top: 10px;
    border-top: 1px solid #e1e1e1;
    padding-top: 5px;
}
.previouPolls span a{
    font-size: 1.2rem;
    color: gray;
}
.previouPolls ul{
list-style: none;
padding-left:20px;
}
.starButt{    background-color: #B9B7B7;
    display: block;
    margin: 2px 15px 0 15px;
    width: 30%;
    float: left;}
.voteButt{    background-color: #565050;
    /*float: left;*/
    display: block;
    width: 71px;
    font-size: 1.6rem; }
.sportsBg{background-color:#D20101;}
.sportsFnt{color: #D20101;}
.lifestyleBg{background-color:green;}
.lifestyleFnt{color: green;}
.entertainmentBg{background-color:#FF008D;}
.entertainmentFnt{color: #FF008D;}
.worldBg{background-color:#2B2BFF;}
.worldFnt{color: #2B2BFF;}
.southBg{background-color:#97D71D;}
.southFnt{color: #97D71D;}
.nationBg{background-color:#FF7815;}
.nationFnt{color: #FF7815;}
.businessBg{background-color:#547E92;}
.businessFnt{color: #547E92;}
.technologyBg{background-color:#DAB21F;}
.technologyFnt{color: #DAB21F;}
.opinionBg{background-color:#767346;}
.opinionFnt{color: #767346;}
.liveBg{background-color: red;}
.liveFnt{color: red;}
.breakingBg{background-color: #D80909;}
.breakingFnt{color: #D80909;}
.justPublishedBg{background-color:#EAEAEA;color:#878787;margin-right:5px;}
.justPublishedFnt{color:#EAEAEA;}
/****************************
******* Login facebook Css******
****************************/
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.dropdown-menu {margin:0;}
ul.topNavUl li:last-child ul.dropdown-menu {left: -50px;}
ul.topNavUl li ul.dropdown-menu li {width: 100%;}

.ad728x90{background:gray; width:728px; height:90px; text-align:center; vertical-align:middle; color: #000000; padding-top: 35px; font-weight:bold;}

.footer{
box-shadow: -2px -1px 5px 1px #D0D0D0;
background-color: #F2F2F2;
margin: 30px 0 0 0;
padding: 20px;
}
.footerBigLinks {
text-align: center;

}
.footerBigLinks a {
	margin: 10px 0 0 0;
    padding: 2px 10px 5px 2px;
    color: #6D6D6D;
    text-shadow: 1px 2px 2px #A5A5A5;
    font-size: 1.3rem;
    font-weight: bold;
    border-right: 1px dotted #CACACA;
}
.footerBigLinks a:last-child {
border: 0;
}
.footer .container .col-sm-12 .col-sm-2 {
/*border-right: 1px dotted #CACACA;*/
padding-bottom: 0;
}
.footer .container .col-sm-12 .col-sm-2:last-child {
border: 0;
}
.footer .container .col-sm-12 .col-sm-2 h3 {
font-weight: bold;
text-shadow: 2px 2px 4px #A5A5A5;
}


a.col-list{
/*height: 34px;*/
/*height: 55px;
overflow: hidden;*/
margin-bottom: 10px;
color: #383838;
/*color: #171717;*/
font-size: 1.5rem;
font-weight: bold;
line-height: 1.7rem;
display: block;
}
.OpinionHome a.col-list{
font-weight: bold;
    color: #2B2B2B;
    margin-bottom: 10px;
    color: #000;
    margin: 0px;
    line-height: 1.6rem;
    font-size: 1.4rem;
    margin-bottom: 5px;
    min-height: 4.8rem;
}
.OpinionHome .sectionH3 {
height: 4.2rem;
}
a.col-list span.fa{
line-height: 1.2em;
}
.homeBlockquote div{
    height: 48px;
    overflow: hidden;
}
.astroContainer{
background-color: #E4E4E4;
border-radius: 4px;
padding: 10px;
margin-bottom: 10px;
}
.astroContainer .label, .astroContainer .ltext{
text-align: left;
color: #000;
font-size: 0.9em;
    word-wrap: break-word;
}
.astroContainer .label{
font-weight: bold;

}
.astroContainer .ltext{
}
.Aday{
display: block;
height: 0.7em;
    font-size: 5em;
    font-weight: bold;
	vertical-align: baseline;
}
.Amonth{
    display: block;
    height: 2.5em;
    font-size: 1.2em;
	vertical-align: baseline;
}
.Ayear{
    display: block;
    height: 2.5em;
    font-size: 1.2em;
	vertical-align: baseline;
}
.weekPredictionLink{
color: #FF0000;
    text-decoration: none;
    font-size: 0.8em;
}
/* Home Section Custom */
.startBlock {
	/*margin-top: 20px;*/
}
.startB{
margin-top: 20px;
/*border: 1px solid red !important;*/
}
.SouthHome, .AstroguideHome, .LifestyleHealthHome, .CounterPointHome, .NationHome, .EntertainmentHome, .SportsHome, .TechnologyHome, .HereNowHome, .BusinessHome, .SouthEntertainmentHome, .LifestyleHome, .ScienceHome, .HealthHome, .WorldHome, .OpinionHome, .adBlockHome, .CoffeeBreakHome {
	/*margin-top: 20px;*/
}
.EntertainmentGalleryHome h2, .TechnologyGalleryHome h2, .NationGalleryHome h2, .BusinessGalleryHome h2, .GadgetsSection h2, .HealthAndWellBeingSection h2, .FoodSection h2, .TravelSection h2, .PetsEnvironmentSection h2, .CricketSection h2, RacketSportsSection h2, .AutosSection h2, .EconomicsSection h2, .BollywoodSection h2, .TollywoodSection h2, .SandalwoodSection h2, .TVMusicSection h2, .KarnatakaSection h2, .KeralaSection h2, .TelanganaSection h2, .AndhraPradeshSection h2, .TamilNaduSection h2, .NeighboursSection h2, .AmericasSection h2, .MiddleEastSection h2, .GOKULHome h2, .CrimeSection h2, .PoliticsSection h2, .BusinessHome h2, .ScienceHome h2, .NationHome h2, .OpinionHome h2, .CrimeHome h2, .PoliticsHome h2
{
/*margin-left: 15px;*/
}
.AstroguideHome, .PollHome, .HereNowHome, .CounterPointHome, .GOKULHome{
margin: 0;
    padding: 0 15px 0 0px;
	
}
.mediumTopStories{
margin-top: 20px;
border-bottom: 1px solid #e1e1e1;
}
.mediumTopStories img.stry-hd-sml-t2-img{
height: 119px;
}
img.mugShotHome{
width: 100%;
    border: 1px solid #D4D4D4;
    border-radius: 45px;
box-shadow: 0px 0px 1px 1px #B1B1B1;
}
.stSml{
min-height: 68px;
}
	.adBlockHome{
		text-align: center;
		    /*min-height: 325px;*/
	}
	.adBlockHome h2{
		display: none;
	}
	.adBlockHome div.stry-feed-sml-a:last-child {
		border: 0;
	}
.CounterPointHome img, .CounterPointSection img {
    /*height: 98%;*/
    height: 295px;
    width: auto;
	max-width: 242px;
}
.HereNowHome div.col-sm-12 a div.col-sm-12{
    padding: 0;
    text-align: center;
    /*height: 353px;*/
    overflow: hidden;
}
.HereNowHome div.stry-feed-sml-a, .CounterPointHome div.stry-feed-sml-a, .AstroguideHome div.stry-feed-sml-a, .PollHome div.stry-feed-sml-a{
margin: 0;
}
.PollHome div.stry-feed-sml-a {
padding: 10px;
}
	.OpinionHome .col-sm-12 .col-sm-12 {
	border-bottom: 0;
	}
	.OpinionHome .col-sm-12 .col-sm-12:last-child{
	border: 0;
	}
	.OpinionHome .col-sm-12 .col-xs-12{
	border: 0;
	
	}
.OpinionHome .tstry-feed-sml-a {
border: 0;
}
	.PollHome form span.input {
	/*float: left;*/
	display: block;
	margin: 0 15px 0 5px;

	}
.HereNowHome img {
/*    height: 168px;
	max-width:268px;
    width: auto;*/
	width: 100%;
}
	.HealthHome h3, .SportsHome h3, .CoffeeBreakHome h3 {
	/*margin-bottom: 27px;*/
	/*margin-bottom: 10px;*/
	}
.BusinessHome , .NationHome , .LifestyleHome {
	/*margin-top: 20px;*/
}
.BusinessHome h3, .NationHome h3, .LifestyleHome h3{
    /*height: 40px;*/
    overflow: hidden;
    /*line-height: 17px;*/
	/*margin-bottom: 27px;
	margin-bottom: 10px;*/
}
	.CoffeeBreakHome img.stry-hd-sml-t2-img {
		width: 100%;
		/*max-height: 129px;*/
	}
.col-sm-4 img.stry-hd-sml-t2-img{
/*max-width: 213px;
max-height: 119px;*/
width: 100%;
}
.entBlock .col-sm-4 img.stry-hd-sml-t2-img{
width: 100%;
/*max-height: 129px;*/
}
.secColorHolder .col-sm-3 a.col-sm-12{ max-height: 251px;/*221*/ }
.entBlock .tstry-feed-sml-a,.sectionHighLight .tstry-feed-sml-a{
border: 0;
}
.as-bullet{
    display: block;
    float: left;
    height: 100%;
    width: 15px;
    margin-top: 2px;
    font-size: 1.2rem;
	line-height: 1.6rem;
    /*color: #777373;*/
}
#myTab{
margin-top: 5px;
}
.nav-tabs {
    border: 0;
    float: right;
    font-size: 1.4rem;
	font-weight: bold;
	margin-bottom:10px;

}
.nav-tabs>li>a{
	border:0;
    background-color: #fff;
    padding-bottom: 2px;
	padding-left: 0;
    padding-right: 0;
	position: relative;
    display: block;
    padding: 10px 15px;
	border-bottom: 2px solid transparent;
	padding-bottom: 2px;
	
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li>a:hover {
	border:0;
    color: #555;
    background-color: #fff;
    /*border: 1px solid #ddd;
    border-bottom-color: transparent;*/
	border-bottom: 2px solid red;
    padding-bottom: 2px;
	
}
/* Home Section Custom <*/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #171717;
    cursor: default;
    background-color: #F2F2F2;
    border-color: #DADADA;
}
.pagination>li>a, .pagination>li>span {
    color: #171717;
}

.gallHomeTitle{
    position: absolute;
    top: 75%;
    left: 2%;
    color: #fff;
/*background-color: rgba(28, 23, 23, 0.65);
background-color: rgba(28, 23, 23, 0.18);*/
background-color: rgba(28, 23, 23, 0.42);
display:block;
width:96%;
font-size: 2rem;
min-height: 6rem;
padding: 10px;
}
.galleryBigImageIcon{
float: left;
margin: 0 10px 0 0;
    font-size: 4rem;
	text-shadow: 1px 1px #636161;
}
.galleryThumbImageIcon{
    position: relative;
    top: -30px;
    left: 10px;
    color: #fff;
    font-size: 2rem;
	text-shadow: 1px 1px #636161;

}
.galleryCardLook{
box-shadow: 1px 1px 10px #ddd; 
padding: 15px;
height:225px; 
overflow:hidden; 
border-radius: 4px;
margin: 5px 0 5px 0;
}
.galleryCardLook h3{
    margin: 5px 0 0 0;
    line-height: 1.9rem;
    font-size: 1.5rem;
    color: #161616;
    padding: 0;
    width: 100%;
    height: 80px;
    font-weight: 600;
    overflow: hidden;
		top: -20px;
    position: relative;
}
.galRight .galleryCardLook h3{
height: auto;
overflow: auto;
font-size: 1.4rem;
}
.galCamIcon {
color: #fff;
position: relative;
top: -40px;
float: left;
left: 15px;
text-shadow: 1px 1px #424141;
font-size: 3rem;
}
/***************/
.aBlock{
display: block;
width: 100%;
/*height: 100%;*/
padding: 0;
margin: 0;
}

/* Feed Right */
.feedRight{
 /*   border-top: 1px solid #e1e1e1;
	padding: 5px 5px 0px 0px;
    margin-left: 5px;
	height: 100px;*/
}
div.mostPopular .feedRight{
    border-top: 1px solid #e1e1e1;
	/*height: 100px;*/
}
.feedText{
padding: 0;
height: 100%;

}
.feedText h3{
margin: 0 5px 4px 0;
    line-height: 1.9rem;
    font-size: 1.6rem;
}
div.mostPopular .feedText h3{
color:black;
font-size: 1.5rem;
line-height: 1.7rem;
font-weight: 600;
}
.feedImg{
}
.feedH3{
margin: 0 5px 4px 0;
/*line-height: 1.08em;*/
line-height: 1.30em;
font-size: 1.03em;
color: #434343;
    height: 100%;
    /*overflow: hidden;
	font-weight: bold;*/
}
/* Feed Right <*/
.containerMenu {margin-bottom: 15px;}
/*ticker*/
.ticker-wrap {
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: #f8f8f8;
    padding-left: 100%; // offsets items to begin
	background-color: #E6E6E6;
    border-radius: 2px;
    box-shadow: 0.5px 0.5px 0.5px rgba(99, 97, 97, 0.45);
	margin-bottom: 10px;
    margin-top: -20px;
}

.ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%; // taken from container as display inline-block
}

.ticker__item {
    display: inline-block;
    padding: 0 1.7rem;
    font-size: 1.7rem;
    color: #616161;
}
.ticker__item img {
	height: 3rem;
	box-shadow: 1px 1px 5px #636161;
	margin: 0 3px 0 3px;
	}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);

    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
    }
}
.ticker {
    animation-name: ticker;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 15s; // tweak based on number of items/desired speed
}
.ticker:hover { -webkit-animation-play-state: paused; -moz-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused; }
.ticker__blank {padding-right: 300px;}
/*ticker*/
.playStoreContainer{
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
	min-height:70px;
	width: 95%;
clear: both;
margin: auto;
}
a.playStore {
display: inline-block;

}
.playStore span {
    background: url(../images/Playstore.png);
    
    background-repeat: no-repeat;
display: block;
width: 140px;
height: 50px;
text-decoration: none;

}
.playStoreContainer .col-sm-6:second-child{
/*padding-left:30%;*/
}
.androidStore span{
background-position: 0px 2px; background-size: auto 100px;}
.appleStore span{
background-position: 0px -50px; background-size: auto 100px;}
.storyMoreGalleryDetail div.col-sm-12 {width: 33.333%;}
.storyMoreGalleryDetail div.col-sm-12:nth-child(1n+5) {display: none;}
.storyMoreGalleryDetail div.galleryCardLook {width: 100%;}
.breakingBoxBig img {width: 100%;}
.breakingBox h1 a {font-weight: 700;font-size:5rem;}
.breakingBox h3 {font-weight: 700;}
.breakingBox h1 a:hover {color: #000 !important;}
/*.vuukle-powerbar{padding-top: 10px;}*/
/* Responsive */
div.rightColAll div.ad250x300 {width: 100%; height: 280px;}
.opinionColumnist {margin-top:0;}
.tsSmall .tstry-feed-sml-a:nth-child(1n+15) {display: none;}  /* 2nd col hide some */
.feedCol .stry-feed-sml-a:nth-child(1n+8) {display: none;}  /* feed col hide some */

.sectionLanding .stry-feed-sml-a:nth-child(1n+8) {display: block;}  /* feed col hide some */
.sectionLanding .stry-feed-sml-a:nth-child(1n+8) {display: none;}  /* feed col hide some */

.topStorySection .tsSmall .tstry-feed-sml-a:nth-child(1n+9) {display: none;} 

.container {/*margin-left: initial;*/ }/*to align body to left*/
/*.sectionLanding {margin-top: 20px;}*/

@media screen and (max-width: 1280px) {
	body{font-size: 1.65em;}  
	.tsSmall .tstry-feed-sml-a:nth-child(1n+17) {display: none;}  /* 2nd col hide some */
	.feedCol .stry-feed-sml-a:nth-child(1n+10) {display: none;}  /* feed col hide some */
	div.mostPopular .feedText h3{line-height:1.8rem;}
}
@media screen and (max-width: 1024px) {
	body{font-size: 1.3em;}  
/*	.tsSmall .tstry-feed-sml-a:nth-child(1n+17) {display: block;}*/
	.tsSmall .tstry-feed-sml-a:nth-child(1n+13) {display: none;}  /* 2nd col hide some */
	.feedCol .stry-feed-sml-a:nth-child(1n+8) {display: none;}  /* feed col hide some */

	.topStorySection .tsSmall .tstry-feed-sml-a:nth-child(1n+8) {display: none;} 

	.thumbH3 {font-size:1.4rem;}
	#thumbNav div.thumb-gal-a {height: 23%;}
	#thumbNav .thumbH3 {font-size:1.4rem;line-height:1.6rem;}
	.starLink span.starSm { margin: 20px 8px 18px !important; }
	.AstroguideHome{padding:0;}
	.galleryContainer{height:361.3px;}
	#topStory .stry-hd-sml-led2{ font-size: 1.3rem;	/*height: 5.5rem;     overflow: hidden;*/ }
	
.container {margin-left: auto; }
}
@media screen and (max-width: 768px) {
	body{font-size: 1.4em;}  
	.tsSmall .tstry-feed-sml-a:nth-child(1n+12) {display: block;}  /* 2nd col hide some */
	.tsSmall .tstry-feed-sml-a:nth-child(1n+14) {display: none;}  /* 2nd col hide some */
	.feedCol .stry-feed-sml-a:nth-child(1n+7) {display: block;} 
	.feedCol .stry-feed-sml-a:nth-child(1n+12) {display: none;} 

	.topStorySection .tsSmall .tstry-feed-sml-a:nth-child(1n+7) {display: block;} 
	.topStorySection .tsSmall .tstry-feed-sml-a:nth-child(1n+9) {display: none;} 

	.thumbH3 {font-size:1rem;line-height:1rem;}
	.blankBrUp{ line-height: 11rem; }
	.blankBrDwn{ line-height: 0rem; }
	.startBlock, .feedCol{/*margin-top:20px;*/}
	.starLink {height: auto;}
	.thumbSelect, .thumb-gal-a:hover { box-shadow: 0px 0px 0px #636161; }
	.tumbList{margin-top:0px !important;}
	div.outerThumb img {width: 80%;}
	div.outerThumb .galleryThumbImageIcon {font-size:1.5rem;top: 15px;left: -25px;}
	#thumbNav div.thumb-gal-a {height: 23%;}
	#thumbNav .thumbH3 {font-size:1.2rem;line-height:1.3rem;}
	#thumbNav .thumb-img-div{}
	#thumbNav .thumb-title-div{overflow:hidden;max-height:6.1rem;}
	.tool-bar-logo img {float: left;}
	.tool-bar-logo .navMob{margin:0;}
	.tool-bar-logo .navMob .fa{font-size: 2.8rem;}
	.topRightIcons, .socialFext{display: block;}
	.topRightIcons ul li.regHide {display: none;}
	.stSml { min-height: 110px;}
	.secColorTab{ margin-top: 0; }
	.entBlock{padding: 0 15px 0 15px;}
	.galleryContainer{height:265.8px;}
	.TechnologyHome, .NationHome, .ScienceHome{width:55%;}
	.ad250x300, .ad300x375{border:0;padding:0;}
	.ad250x300 div{margin:0; padding:0; }
	.ad300x375 iframe{margin:0; padding:0; float:left;}
	.vIdeabox{width: 310px;overflow: hidden;margin-left: -10px;}
}
.pagingNav{width:120px;}
/* Responsive */
@media screen and (min-width: 963px) and (max-width: 1014px) {
body{font-size: 1.2em;}  
}
@media screen and (min-width: 769px) and (max-width: 962px) {
body{font-size: 1em;}  
}
@media screen and (min-width: 320px) and (max-width: 768px) {
body{/*font-size: 0.8em;*/}
/*.tsSmall .tstry-feed-sml-a:nth-child(1n+11) {display: none;}  /* 2nd col hide some */
/*
*/
}
/*@media screen and (min-width: 320px) and (max-width: 640px) {*/
@media screen and (min-width: 320px) and (max-width: 720px) {
	.tsSmall .tstry-feed-sml-a:nth-child(1n+15) {display: none;}  /* 2nd col hide some */
	.feedCol .stry-feed-sml-a:nth-child(1n+7) {display: none;}  /* feed col hide some */
	.mastDate{font-size:1rem}
	.storyList h3 {     font-weight: normal;     line-height: 1.1em;     font-size: 1em; }
	.mobStoryList{padding: 0;}
	.feedCol div span.BnSection {     right: -100px; 	top: -4px; 	font-weight: normal; }
	div.mostPopular .feedText h3{ font-weight: normal; }
	.SunChroH3 {     margin: 5px 0 5px 0;     font-weight: bold;     line-height: 2.5rem;     font-size: 2.2rem; }
	.SunChroStrap {     font-size: 1.5rem;     line-height: 1.8rem;     height: auto;     text-align: center;     margin-top: 5px;     margin-bottom: 10px; }
	.opnionTopBig h3 {     font-size: 2.5rem;     line-height: 3rem; }	
	.containerMenu {margin-bottom: 5px;}
	.ticker-wrap {margin-bottom: 10px; margin-top: 0px; }
	.galleryListCnt img.stry-hd-sml-t3-img{height: auto;}
	.SunChNewListing div.col-sm-8{padding:0;}
	.SunChNewListing div.col-sm-8 h3.SunChroListH3{font-size: 1.5rem;font-weight: bold;padding: 2px;}

.galleryCardLook h3{
    margin: 5px 0 5px 0;
    line-height: 1.6rem;
    font-size: 1.3rem;
    height: auto;
    overflow: auto;
	padding-bottom: 5px;
	top: -10px;
    position: relative;
}
.galleryCardLook {
    padding: 15px 15px 0px 15px;
    height: auto;
    overflow: auto;
}
.galCamIcon {
    top: -40px;
    left: 15px;
}
	.blankBrUp{ line-height: 8rem; }
	.blankBrDwn{ line-height: 0rem; }
	div.outerThumb img {width: 100%;}
	div.outerThumb .galleryThumbImageIcon {font-size:2rem;top: -30px;left: 10px;}
	.thumbH3 {font-size:2rem;line-height:2rem;}
	#thumbNav div.thumbH3 {font-weight: bold;line-height: 1.8rem; font-size: 1.6rem;}
	#thumbNav div.thumb-img-div {padding:0;height:160px;}
	.tool-bar-logo {/*width: 90%;*/}
	.tool-bar-logo .navMob{display:block;}
	.top-left .navMob{display:block;}
	.navMob{display:block;text-align:left;width:20%;}
	.navLogo{display:block;text-align:center;width:80%;padding-left:35.5%}
	.top-left-nav{display: block;}
	.topRightIcons,.socialFext {display: none;}
	.EntertainmentHome {}
	.sectionH3{height: 4.3rem;margin-bottom:20px !important;}
	.secColorTab{padding:0;}
	.stry-hd-sml-led2{margin-bottom:0;font-size:1.3rem;}
	.entSmall{margin: 10px 0 10px 0;}
	.startBlock{/*margin: 20px 0 20px 0;*/}
	.emptyDiv{display:none;}
	.AstroguideHome, .PollHome, .GOKULHome, .CounterPointHome{padding:0;}
	.starLink span.starSm { margin: 20px 8px 18px !important; }
	.previouPolls{margin: 10px 0 0 0;}
	.previouPolls ul {     width: 95%;     margin: 10px 0 0 10px; }
	.footer{padding: 20px 20px 80px 20px;}
	.noPadding-xs{padding:0;}
	.cmt-top-sml-a {margin-left:0;}
	.entBlock h2{margin: 15px 0 0 0;}
	.secColorHolder .col-sm-3 a.col-sm-12{ max-height: 251px; }
	.TechnologyHome, .NationHome, .ScienceHome{width:auto;}
	a.coverArrow, a.coverArrow:visited {top: 50px;}
	.galleryBnList div.cover{min-height:150px;}
	.tDate{margin: 0 0 5px 0;}
	.outerCover{ margin-top: 40px; }
	.sectionH3{overflow: visible;}
	.stry-hd-sml-led {     line-height: 2.0rem;     font-size: 1.8rem; }
	.columnistStrap {display: none;}
	.storyMoreGalleryDetail div.col-sm-12 {width: 100%;}
	.storyMoreGalleryDetail div.col-sm-12:nth-child(1n+6) {display: block;}
	.breakingBox h1 a {font-weight: 700;font-size:2rem;}
	.breakingBoxSmall{padding:0;}
	.breakingBoxSmallOne h2{font-size:1.6rem;}
}

.copyRight{
font-size: 1.5rem;
    text-align: center;
    color: #7B7B7B;
}
.copyRightDis{
font-size: 1.5rem;
    text-align: center;
    color: #7B7B7B;
}
a.afooter{color:#5A5151;}
/*
/*.top-left {display: none;}
.tool-bar-logo .navMob{display: block;}
/*.tool-bar-logo {text-align:left;}*/
/*}
/* Responsive */

