/* RESET */
/** RESET (https://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus {
outline: 0;
}
body {
line-height: 1;
color: black;
background: white;
}
ol, ul {
list-style: none;
}
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
text-align: left;
font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}

/* / RESET */

body
{
	background:#dad8d6;
	color: #000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size:62.5%;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover, a:active {color: #625b34;}
.page {margin-top: 2px;}

#posts table.post td.post-left {
	width:140px;
	vertical-align:top;
}

.post .post_message a {
	word-break:break-all !important;
	word-wrap: break-word !important;
}

.post .post-user-avatar {
	clear:both;
	display:block;
	height:100px;
	width:100px;
	padding-top:5px;
}
#posts table.post td.post-right a:visited {
	color:#666;
}

#user-box {
border:1px solid #e0e0e0;
width:968px;
margin-bottom:2px;
background:#f2f2f2;
color:#000;
padding:5px;
font-size:12px;
font-style:italic; 
}
#user-box a, #user-box .time {
color:#000;
}

.list-forum-title {
	border-style:solid;
	border-color:#222;
	border-width:2px 0 1px;
	margin:3px 0px;
}
.list-forum-title td {
	border:none;
	padding:4px 0px;
	background:#EFF0F1 !important;
	vertical-align:middle;
}

.list-forum-title td a {
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	margin: 0px 5px;
}

.tr_sticky td:not(:first-child) {
	background: rgb(248, 237, 207) !important;
}

td.td_forum {
	padding-left:10px !important;
	width:50% !important;
}

table.tborder td.forum-lastpostinfo,
table.tborder td.forum-summary {
	padding:2px 0 0 0;
	white-space:nowrap;
	color:#444;
}

table.tborder td.forum-lastpostinfo {
	padding:0 0 0 10px;
}

.lft-color {
	width:8px;
	text-align:center;
	background:#fff;
}

.nborder, .nborder td {border:none !important;}

#posts {background:#EFF0F1}

table.threadslist, table.list, table.forumslist {width:100%}
table.threadslist td, table.list td {padding:4px !important}
table.threadslist tr.p6 td {padding:6px}
table.threadslist .thead, table.list .thead, td.tcat {padding:4px !important}
table.threadslist .threadslist-announcement {background: rgb(248, 237, 207)}
table.threadslist, table.list {width:100%}
table.threadslist td, table.list td {padding:4px !important}
table.threadslist tr.p6 td {padding:6px}
table.threadslist .thead, table.list .thead, td.tcat {padding:4px !important}
table.threadslist .threadslist-announcement {background: rgb(248, 237, 207)}

.threadslist tr td.td_title .forum_title:before {
content: '(';
}
.threadslist tr td.td_title .forum_title:after {
content: ')';
}


table.forumslist {
	margin-bottom:3px;
}

table.tborder
{
	background: #b8c0c7;
	color: #000000;
	border-collapse:collapse;
	border:1px solid #B8C0C7;
}
table.tborder td {
	border:1px solid #B8C0C7;
	padding:2px 4px;
	vertical-align:middle;
}
.tcat
{
	background:#fff;
	color: #000000;
	height: 20px;
	border:1px solid #7a7a7a;
	vertical-align: bottom;
	padding: 1px;
	font-size:11px;font-weight:bold;
}
.tcat a:link
{
        color: #000000;
        text-decoration: none;
}
.tcat a:visited
{
        color: #000000;
        text-decoration: none;
}
.tcat a:hover, .tcat a:active
{
        color: #000000;
        text-decoration: underline;
}
.thead
{
	background: #dfe3e0 url(https://static.flashback.org/img/gradients/gradient_thead3.gif) repeat-x left 0px;
	color: #4b4b4b;
	font-size:11px;font-weight:bold;
	vertical-align: middle;
	padding: 1px;
	border-bottom:0px solid #a4a4a4;
}
table.threadslist .thead a,
table.threadslist .thead,
table.list .thead a,
table.list .thead
{
	color:#4b4b4b !important;
	text-transform:uppercase;
	font-size:10px;
	text-decoration:none;
}
.thead a:link
{
        color: #4b4b4b;
}
.thead a:visited
{
        color: #4b4b4b;
}
.thead a:hover, .thead a:active
{
        color: #4b4b4b;
}
.tfoot
{
        background: #534f4a;
        color: #FFFFFF;
}
.tfoot a:link
{
        color: #FFFFFF;
}
.tfoot a:visited
{
        color: #FFFFFF;
}
.tfoot a:hover, .tfoot a:active
{
        color: #CCCCCC;
}
.alt1, .alt1Active
{
        background: #eff0f1;
        color: #000000;
}
.alt2, .alt2Active
{
        background: #e3e3e3;
        color: #000000;
}
td.inlinemod
{
        background: #FFFFCC;
        color: #000000;
}

.wysiwyg
{
        background: #F5F5FF;
        color: #000000;
}
textarea, .bginput, .wysiwyg
{
        font-size: 10pt;
}
.button, select, option, optgroup
{
        font-size: 11px;
}
.smallfont{font-size: 11px;}
.smallfont2 {font-size:11px;}
.time
{
        color: #000000;
}
.navbar
{
        font-size: 10px;
}
span.navbar:not(:first-child):before {
	content: '> ';
}

.forum-navbar {
	width:100%;
	margin-bottom:10px;
}

.navbar #navbar-final {
background:url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat;
background-position:-20px -110px;
height:13px;
margin-right:2px;
width:15px;
}
.highlight
{
        color: #FF0000;
        font-weight: bold;
}
.fjsel
{
        background: #33CC33;
        color: #E0E0F6;
}
.fjdpth0
{
        background: #F7F7F7;
        color: #000000;
		font-weight:bold;
}
.panel
{
	background:#EFF0F1;
	color: #000000;
	padding: 10px;
}
.panelsurround
{
	background:#EFF0F1;
	color: #000000;
}

.panel-post {
	width:850px;
	margin:0 auto;
}

legend
{
	color:#222;
	font-size:11px;
	padding:0px 5px;
}

a.doaction {
	color:#222;
	font-size:10px;
	font-weight:normal;
	text-decoration:none;
	text-transform:uppercase;
	display:block;
	padding:4px 6px;
}
a.doaction:hover {
	text-decoration:none;
	color:#625B34;
}
.vbmenu_control
{
	color: #222;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	vertical-align: middle;
	white-space: nowrap;
	padding: 1px;
}
.vbmenu_control td {padding:4px !important}
.vbmenu_control a {
	font-size:10px;

}
.vbmenu_control a:link
{
        color: #000000;
        text-decoration: none;
}
.vbmenu_control a:visited
{
        color: #000000;
        text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active
{
		color:#625B34;
        text-decoration:none;
}
.vbmenu_popup
{
        background: #FFFFFF;
        color: #000000;
        border: 1px solid #B8C0C7;
}
	.vbmenu_popup table td.thead {
		background-position:0px -1px;
	}

.vbmenu_option
{
	background:#EFF0F1;
	font-size:11px;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option2 a:link
{
        color: #222;
        text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option2 a:visited
{
        color: #222;
        text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active
{
        color: #FFFFFF;
        text-decoration: none;
}
.vbmenu_hilite
{
        background: #8A949E;
        color: #FFFFFF;
		font-size:11px;
        white-space: nowrap;
        cursor: pointer;
}
.vbmenu_hilite a:link
{
        color: #FFFFFF;
        text-decoration: none;
}
.vbmenu_hilite a:visited
{
        color: #FFFFFF;
        text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active
{
        color: #FFFFFF;
        text-decoration: none;
}

/* ** SPRITES ** */
.icon-subforum,
.icon-lastpage,
.icon-thread, .icon-thread-new,
.icon-thread-hot,
.icon-thread-hot-new,
.icon-thread-lock,
.icon-thread-lock-new,
.icon-thread-dot,
.icon-thread-dot-new,
.icon-thread-dot-lock,
.icon-thread-dot-lock-new,
.icon-thread-moved,
.icon-thread-moved-new,
.icon-pm-new, .icon-pm-old, .icon-pm-replied, .icon-pm-forwarded,
.icon-report,
.icon-post-quote,
.icon-post-quotem,
.icon-post-reply,
.icon-post-reply-small,
.icon-post-edit,
.icon-post-ip-search,
.icon-post-report,
.icon-post-delete,
.icon-post-forward,
.icon-menu-open,
.icon-sticky,
.icon-moderated,
.icon-announcement-new,
.icon-announcement-old
{
	background:#eff0f1 url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll 0 0;
	cursor:pointer;
}

.icon-subforum {
	cursor:default;
	height:15px;
	width:20px;
}

.icon-lastpage {
	background-position:-20px -105px;
	width:10px;
	height:7px;
}

.icon-thread,
.icon-thread-new,
.icon-thread-hot,
.icon-thread-hot-new,
.icon-thread-lock,
.icon-thread-lock-new,
.icon-thread-dot,
.icon-thread-dot-new,
.icon-thread-dot-lock,
.icon-thread-dot-lock-new,
.icon-thread-moved,
.icon-thread-moved-new {
	width:14px;height:15px;
}
.icon-thread {background-position:0 -140px}
.icon-thread-new {background-position:0 -155px}
.icon-thread-hot, .icon-thread-hot-new {background-position:0 -155px}
.icon-thread-moved {background-position:0 -245px}
.icon-thread-moved-new {background-position:0 -260px}
.icon-thread-lock {background-position:0 -215px}
.icon-thread-lock-new {background-position:0 -230px}
.icon-thread-dot {background-position:0 -20px}
.icon-thread-dot-new {background-position:0 -80px}
.icon-thread-dot-lock {background-position:0 -95px}
.icon-thread-dot-lock-new {background-position:0 -50px}

.icon-pm-new, .icon-pm-old, .icon-pm-replied, .icon-pm-forwarded,
.icon-report
{
	display:inline-block;
	border:none;
	width:20px;height:16px;
}

.icon-pm-new {background-position:-20px -226px}
.icon-pm-old {background-position:-20px -242px}
.icon-pm-replied {background-position:-20px -258px}
.icon-pm-forwarded {background-position:-20px -210px}
.icon-report {background-position:-20px -274px}

.icon-sticky {
	background-position:-20px -300px;
	height:12px;
	width:12px;
}
a.icon-sticky {
	width:0;
	padding-left:12px;
}

.icon-moderated {
	background-position:-20px -320px;
	height:13px;
	width:10px;
}

.icon-post-quote,
.icon-post-quotem,
.icon-post-reply,
.icon-post-reply-small,
.icon-post-edit,
.icon-post-ip-search,
.icon-post-report,
.icon-post-delete,
.icon-post-forward
{
	height:18px;
}
.icon-announcement-new {height:18px;width:18px;background-position:0 -325px}
.icon-announcement-old {height:18px;width:18px;background-position:0 -350px}

.icon-user-online, .icon-user-offline, .icon-user-invisible,
.icon-rating-5,
.icon-rating-4,
.icon-rating-3,
.icon-rating-2,
.icon-rating-1
{
	background:url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll 0 0;
	width:12px;
	height:12px;
}

.icon-user-online {background-position:-20px -187px}
.icon-user-offline {background-position:-20px -172px}
.icon-user-invisible {background-position:-20px -157px}

.icon-rating-5 {width:60px;background-position:-190px 0}
.icon-rating-4 {width:60px;background-position:-190px -12px}
.icon-rating-3 {width:60px;background-position:-190px -24px}
.icon-rating-2 {width:60px;background-position:-190px -36px}
.icon-rating-1 {width:60px;background-position:-190px -48px}

.icon-post-quote {background-position:-60px 0px;width:60px}
.icon-post-quotem {background-position:-130px 0px;width:30px}
.icon-post-quotemd {background-position:-130px -16px;width:30px}
.icon-post-reply,.icon-post-reply-small {background-position:-60px -16px;width:55px}
.icon-post-report {background-position:-60px -32px;width:87px}
.icon-post-delete {background-position:-116px -63px;width:43px}
.icon-post-edit {background-position:-60px -48px;width:57px}
.icon-post-ip-search {background-position:-60px -64px;width:16px}
.icon-post-forward {background-position:-60px -80px;width:117px}


.icon-menu-pm, .icon-menu-report {
	background:url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll 0 0;
	border:none;
	display:inline;
	float:left;
	width: 20px;
	height:16px;
	margin-left: 10px;
}
.icon-menu-pm {background-position:-20px -242px}
.icon-menu-pm-full {background-position:-41px -242px}
.icon-menu-report {background-position:-20px -274px;}

.icon-menu-notification {
    display: block;
    float: left;
    height:16px;
    width: 25px;
    background: url(../images/icons/bell.png) center center no-repeat;
}

.icon-menu-notification span,
.icon-menu-pm span,
.icon-menu-report span
{
    padding: 2px;
    background-color: #222;
    color: #FFF;
    border-radius: 50%;
    font-family: Helvetica;
    font-size: 9px;
    min-width: 10px;
    display: inline-block;
    text-align: center;
    margin: -5px 0 0 12px;
}


.icon-post-new,
.icon-post-old {
	background:url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll 0 0;
	width:14px;
	height:13px;
}
.icon-post-new {background-position:0px -291px}
.icon-post-old {background-position:0px -305px}

.icon-menu-open {background-position:-20px -140px;width:8px;height:6px;}

/* ** share this ** */
td#sharethis {padding:5px 4px}
a.sharethis-trigger {background:none}
a.share-icon {
background: transparent url(https://static.flashback.org/img/misc/fb_new/sprite-icon-share.gif) no-repeat scroll 0 0;
padding-left:25px;
text-decoration:none;
white-space:nowrap;
}
a.share-this { background-position:0 -161px; }
a.facebook { background-position:0 0; }
a.digg { background-position:0 -19px; }
a.stumbleupon { background-position:0 -39px; }
a.delicious { background-position:0 -59px; }
a.pusha { background-position:0 -79px; }
a.twitter { background-position:0 -99px; }
a.google { background-position:0 -119px; }
a.myspace { background-position:0 -139px; }

/* ** / SPRITES ** */

/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 8pt; font-weight: bold; }

/* ***** small padding on 'thead' elements ***** */
td.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav table td { padding: 0px; !important}
.pagenav table td.delim {
	font-weight:normal;
	padding:4px 6px;
	border-right:1px solid #B8C0C7 !important;
}
.pagenav td a, .pagenav td span {
display:inline;
float:left;
padding:4px 6px; text-decoration: none;
}

.thread-pagenav-lastpage {
	color:#666 !important;
	text-decoration:none;
	font-size:85%;
	padding-right:4px;
}

.thread-pagenav {
	background: #eff0f1;
	padding:2px;
	position:absolute;
	color:#999;
}
	.thread-pagenav a {
		color:#333;
	}

td#imod, td.goto-page {
}
td.goto-page {
	width:16px !important;
	border-left:1px solid #B8C0C7 !important;
}

td.goto-page .open_menu {
	 background: url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat -16px -138px;
	 height: 10px;
	 width: 14px;
}

/* TEST123 */
td.vbmenu_control .open_menu {
	 background: url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat -16px -138px;
	 height: 10px;
	 width: 14px;
}

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { padding:10px;margin-bottom: 6px; border:1px solid #B8C0C7}
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { display: inline; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }
.date_block {
        background-image: url(https://static.flashback.org/img/misc/containerback.gif);
        height: 20px;
        border: 1px solid #620000;
}
.date_block td {
        color: #FFFFFF;
        font-family: Verdana, Helvetica, Sans;
        font-size: 11px;
}

.signature, .signature div, .signature a {
font-size:xx-small !important;
}
.signature {
	color:#666;
	width:520px;
	word-wrap:break-word;
}
.signature a {color:#666}

.post-bbcode-spoiler {
margin: 0px; padding: 6px; border: 1px inset;
}

.post-bbcode-code-wrapper {
	margin: 5px 10px;
}
.post-bbcode-code, .post-bbcode-php {
	margin: 0;
	padding: 4px;
	border: 1px inset;
	width: 460px;
	overflow: auto;
}

.post-left-bottom,
.post-icons {
	border-top:1px solid #e3e3e3;
	text-align:right;
}

.post-quote-holder {
	margin:5px 10px 10px 10px;
}

.post-quote {border:1px solid #a4a4a4;}
.quotem {background:#ddd;}

.date_block td a {
        text-decoration: none;
}

.fb_adsys_wrapper_TextAds {
	text-align: center;
	padding: 5px;
	border: 1px solid #c0c0c0;
	background: #fff;
	margin-bottom:5px;
}

.fb_adsys_container_TextAds {
	width: 100%;
}

.banner_text,
.banner_textmid {
	background:#fff;
	float:left;
	width:25%;
	border-top:1px solid #e3e3e3;
	margin-top:-4px;
	padding-top:5px;
}
.banner_text {
	width: 530px;
	margin:5px 0 0 150px;
	display: block;
	float: none;
	border: 1px solid #ccc;
	padding: 3px 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
	.banner_text div,
	.banner_textmid div {
		text-align:left !important;	
	}
	.banner_text a.banner_title,
	.banner_textmid a.banner_title {
		color: #0064A7;
		font-size: 110%;
		font-weight:bold;
		text-decoration: underline !important;
	}
	.banner_text a.banner_link,
	.banner_textmid a.banner_link {
		color: green;
		font-size: 90%;
		padding-top:2px;
	}
	.banner_text a,
	.banner_textmid a {
		text-decoration:none !important;
		color:default !important;
		display:block;
	}
	.banner_text a:hover,
	.banner_textmid a:hover {
		text-decoration:underline !important;
	}

.fad_container_TextAds {
	float: left;
	width: 25%;
}

.fad_container_TextAds img {
	position: absolute;
	width: 115px;
	height: 50px;
}

.fad_cct_TextAds a {
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	color:#497191;
}

.fad_ccm_TextAds, .fad_ccb_TextAds {
	font-size: 10px;
}

.fb_adsys_wrapper_LargeRectangle {
	text-align: center;
	padding: 5px;
	border: none;
	background: transparent;
}

.fb_adsys_container_LargeRectangle img {
	margin-bottom: 5px;
}

/* ---- */

/* DEFAULT */
div, a, p, td, th {
font-size:11px;
}

.fl {float:left}
.fr {float:right}

#site {
	height:100%;
	overflow:auto;
	width:1000px;
	overflow:hidden;
	background-color: rgb(246,246,248);
	margin:0 auto;
	padding-top:25px;
}

#site-main {
	display:block;
	clear:both;
	padding:0px 10px;
}

#site-container {
	padding-right: 270px;
}
	#site-container .site-column {
		float: left;
	}

#site-left {
	width:100%;
}
	#site-left #site-left-p10r {
		padding-right:10px;
	}

#site-right {
	background:#ede9e2;
	width: 250px;
	padding:10px;
	margin-right: -100%;
}

#top-menu {
	background:#fff;
	border-bottom:4px solid #ccc;
	position:fixed;
	width:100%;
	padding-bottom:0.2em;
	z-index:10;
}

	#top-menu ul.top-menu-main {
		list-style-image:none;
		list-style-position:outside;
		list-style-type:none;
		display:block;
		text-align:center;
	}

	#top-menu ul ul ul {
		position: absolute;
		top: 0;
		left: 100%;
	}

	#top-menu ul.top-menu-main li.l1,  #top-menu ul.top-menu-main li.l0 {
		display:inline;
	}

	#top-menu ul.top-menu-main li a {
		color:#676767;
		cursor:pointer;
		font-size:1.0em;
		font-weight:normal;
		letter-spacing:0.1em;
		line-height:1.8em;
		padding:0.5em 0.7em;
		text-decoration:none;
		text-transform:uppercase;
		border-right:1px solid #ccc;
	}

	@media (max-width: 1020px) {
		#top-menu ul.top-menu-main li a {
			font-size: 0.9em !important;
			line-height: 1.65em !important;
		}
	}

	#top-menu ul.top-menu-main li.l1 > a {
		white-space:nowrap;
	}

	#top-menu ul.top-menu-sub,
	#top-menu ul.top-menu-sub2 {
		background:#fff;
		border:1px solid #B8C0C7;
		display:none;
		list-style:none;
		position:absolute;
		width:200px !important;
		text-align:left;
	}

	#top-menu ul.top-menu-sub {
		margin:0px;
		padding:0px !important;
		z-index:10;
		top:20px;
	}
		#top-menu ul.top-menu-sub2 {
			top:0px;
		}
		#top-menu ul.top-menu-sub li {
			border:none;
			margin:0px !important;
			padding:0px !important;
			position:relative;
			text-align:left;
			width:200px;
		}

			#top-menu ul.top-menu-sub li a {
				border:none !important;
				display:block;
				font-size:0.9em !important;
				line-height:1.2em;
				padding:5px 5px;
				text-transform:none;

				text-align:left;
				width:190px;
			}

	ul.top-menu-sub2 {
		margin-top:-1px !important;
		z-index:11;
	}
		ul.top-menu-sub2 li {
			width:200px !important;
		}
			ul.top-menu-sub2 li a {
				white-space:normal;
			}

	#top-menu ul ul {
	display: none;
	}

	#top-menu ul ul,
	#top-menu ul li.lihover ul ul,
	#top-menu ul ul li.lihover ul ul
	{display: none;}

	#top-menu ul li.lihover ul,
	#top-menu ul ul li.lihover ul,
	#top-menu ul ul ul li.lihover ul
	{display: block;}

	/*
	#top-menu .site-size-trigger {
		background:#fff url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll -20px -345px;
		padding:5px 15px !important;
		border:none !important;
	}
		#top-menu .site-size-trigger2 {
			background-position: -20px -367px;
		}
	*/
	#top-menu #site-settings {
		background:transparent url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll -52px -162px;
		padding:5px 15px !important;
		border:none !important;
	}

#top-menu .l0 > ul a:hover {background: #000; color: #fff;}
#top-menu .l0 > ul {border-color: #000;}
#top-menu .forum-4 a:hover {background: #7b98af; color: #fff;}
#top-menu .forum-4 ul {border-color: #7b98af;}
#top-menu .forum-3 a:hover {background: #719c79; color: #fff;}
#top-menu .forum-3 ul {border-color: #719c79;}
#top-menu .forum-446 a:hover {background: #EAA75C; color: #fff;}
#top-menu .forum-446 ul {border-color: #EAA75C;}
#top-menu .forum-464 a:hover {background: #c10000; color: #fff;}
#top-menu .forum-464 ul {border-color: #c10000;}
#top-menu .forum-7 a:hover {background: #a12553; color: #fff;}
#top-menu .forum-7 ul {border-color: #a12553;}
#top-menu .forum-126 a:hover {background: #814f86; color: #fff;}
#top-menu .forum-126 ul {border-color: #814f86;}
#top-menu .forum-295 a:hover {background: #c75858; color: #fff;}
#top-menu .forum-295 ul {border-color: #c75858;}
#top-menu .forum-305 a:hover {background: #A5590A; color: #fff;}
#top-menu .forum-305 ul {border-color: #A5590A;}
#top-menu .forum-272 a:hover {background: #00689E; color: #fff;}
#top-menu .forum-272 ul {border-color: #00689E;}
#top-menu .forum-8 a:hover {background: #FF7F00; color: #fff;}
#top-menu .forum-8 ul {border-color: #FF7F00;}
#top-menu .forum-5 a:hover {background: #FF1E7B; color: #fff;}
#top-menu .forum-5 ul {border-color: #FF1E7B;}
#top-menu .forum-308 a:hover {background: #690c07; color: #fff;}
#top-menu .forum-308 ul {border-color: #690c07;}
#top-menu .forum-102 a:hover {background: #f1a400; color: #fff;}
#top-menu .forum-102 ul {border-color: #f1a400;}
#top-menu .forum-6 a:hover {background: #999; color: #fff;}
#top-menu .forum-6 ul {border-color: #999;}
#top-menu .forum-182 a:hover {background: #0c0201; color: #fff;}
#top-menu .forum-182 ul {border-color: #0c0201;}
#top-menu .forum-292 a:hover {background: #007D36; color: #fff;}
#top-menu .forum-292 ul {border-color: #007D36;}

/* -- CLEAR -- */
.clear, .break, #footer, #midmenu,
#top, #top-logo, .top-outer,
#search-box, #search-options
{
	clear:both;
	display:block;
}

.top-outer {
	height:auto;
	padding:10px 0px;
}

#top-banner-container {
	padding-top:0px;
	width:100%;
	text-align:center;
	margin:0 0 3px 0;
	min-height:121px;
	max-height:121px;
}

#center-banner-container {
	margin:0 0 10px 0;
}

.post-banner-container {
	width:100%;
	max-height: 140px;
	margin: 0 auto;
	background: #efefef url(https://static.flashback.org/img/bg_admarking.gif) no-repeat 5px 5px;
	padding: 15px 0px 0 0;
}

#top-banner-container img,
#center-banner-container img
{
	max-width:980px !important;
	min-height:90px !important;
	max-height:121px !important;
}

#top-banner-container a {
	display:block;
	margin:0 auto;
	/*width:1000px;*/
}

#bottom-banner-container {
	padding: 20px 0 0 0;
}

#top {
	background:#fff url(https://static.flashback.org/images/logo-top.jpg) -1px 0 no-repeat;
	height:80px;
	width:100%;
}

#top-logo {
	float:left;
	width:500px;
	height:80px;
	cursor:pointer;
}

#top-right {
	border:1px solid #e0e0e0;
	border-left:none;
	border-right:none;
	float:right;
	height:46px;
	margin-top:12px;
	padding-top:10px;
	text-align:center;
	width:400px;
}

#midmenu {
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	width:100%;
	margin-bottom:5px;
}

/**/

ul#top-tabs {
	list-style-image:none;
	list-style-position:outside;
	list-style-position:none;
	list-style:none;

	float:left;

	padding:0px;
	margin:0px;
	width:100%;
	margin-bottom:5px;

	border-color:#ddd;
	border-style:solid;
	border-width:1px;
}


ul#top-tabs li {
	float: left;
	padding:2px;
}

ul#top-tabs li {
	background:#f2f2f2;
	border: 1px solid #e0e0e0;
	border-left: 0;
	margin-bottom: -0.1em;
	margin-top:-0.1em;
}
ul#top-tabs li.current-page {
	background: #fff;
}

ul#top-tabs > li > a {
	color:#000;
	display:block;
	text-decoration:none;
	font-size:1.0em;
	white-space:nowrap;
	line-height:1em;
}

ul#top-tabs > li > a {
	padding:0.545em 0.818em;
	font-family:"Century Schoolbook L", Cambria,Georgia,"Times New Roman",Times,serif;
}

ul#top-tabs > li > a {
	letter-spacing:1px;
	text-transform:uppercase;
}

ul#top-tabs > li > a:hover {
	color:#625B34;
}

ul#top-tabs li.right {
	background:none;
	float:right;
	border-width:0px;
}
/*
ul#top-tabs li.right a {
	padding-right:16px;
}
*/

ul#top-tabs > li > div#top-tabs-icons {
	display:block;
	margin-top:5px;
}
	div#top-tabs-icons table {border-collapse:collapse;}
	div#top-tabs-icons table td {padding:0;}
	div#top-tabs-icons table td.delim {border-left: 1px solid #e0e0e0;padding-left:4px;}

#user-box, #user-login-box {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:310px;
	padding:10px;
	height:60px;
	background:#fff;
	border:1px solid #ccc;
	z-index: 100;
}

	#user-login-box .button {
	background:#000;
	color:#fff;
	border:3px double #fff;
	font-weight:bold;
	text-transform:uppercase;
	}

ul#top-tabs li a#user-login-box-trigger {
	background:url(https://static.flashback.org/img/misc/navbits_start_start.gif) no-repeat 0 4px;
	padding-left:20px;
}

#footer {
	border-top:2px solid #000;
	padding:5px 0px;
	width:100%;
	margin:10px 0px;
	background:url(https://static.flashback.org/images/round_star_small.png) no-repeat left center;
	color:#838383;
	height:38px;
	/*
	padding-left:40px;
	*/
	padding-top:12px;
	font: 13px/16px Helvetica Neue, Helvetica, Arial, sans-serif;
}
	#footer div {
		font-size:12px;
	}
	#footer a {
		color:#838383;
		text-decoration:none;
		font-size:12px;
	}

#search-box, #search-options {
	width:300px;
	height:24px;
}

#search-box, #search-options {
	padding-left:50px;
}

#top-right-online, #top-right-members {
	display:block;
	height: 20px;
}
#top-right-online {
	color: #000;
	font-size:13px;
	font-weight:bold;
	font-style:italic; 
	letter-spacing:1px;
	padding-bottom:3px;
}
#top-right-members {
	color:#666;
}

input#search-text {
	border:1px solid #000;
	border-right:none;
	color:#222;
	font:12px Arial,Helvetica,sans-serif;
	font-weight:bold;
	height:14px;
	margin:0px;
	padding:4px;
	width:155px;
}

#search-text, #search-button {float:left}

input#search-button {
	background:#fff url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll -60px -100px;
	width:38px;
	height:24px;
	margin:0px;
	border:none;
}

/* BOX */
div.box {
float:left;
background:#fff;
padding:5px;
margin-bottom:5px;
}

/* TABLE */

th {font-weight:bold;}

.no-border td {border:none;}


.list-forum-title, .list-threads, .list-threads-small {
width:100%;
border-collapse:collapse;
}

.list-threads td {
border: 1px solid #b8c0c7;
padding:5px;
padding-left:12px;
color:#444;
}
.list-threads td a {
}

.box-right {
	background:#fff;
	width: 210px;
	border: 1px solid #b8c0c7;
	padding:5px 20px;
}

	.box-right p {
	}
		.box-right p a {
		text-decoration:none;
		}

	.box-right table {
	width:100%;
	}
		.box-right table td {
			padding:5px 0px;
			border-bottom:1px solid #f0f0f0;
		}

		.box-right table a, .box-right table a:visited {
			text-decoration:none;
			color:#497191;
		}
		.box-right table a:hover {
			text-decoration:underline;
		}

		.box-right h2 {
			padding:3px 0px;
			text-transform:uppercase;
			text-align:center;
			font-weight:bold;
			color:#000;
			letter-spacing:0.1em;
		}

		.box-right .stats-cycle h3 {
			font-family:Cambria,Georgia,"Times New Roman",Times,serif;
			font-size:200%;
			text-align:center;
			color:#666;
		}

.border {
	border: 1px solid #b8c0c7;
}

hr {
height:0px;
border:0px solid #f0f0f0;
border-bottom-width:1px;
}

.break {
	/* TEST123 */
	background: url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) -20px -146px repeat-x;
	width: 100%;
	height: 14px;
}

/* TEXT */
em {font-style:italic;}
strong, .bold {font-weight:bold}
.gentle {color:#666}
.gentle2{color:#888 !important;text-decoration:none}
.red {color:#9b0000;}

#user-box,
.list-forum-title td a,
.tcat,
table.threadslist .thead a,
table.threadslist .thead,
table.list .thead a,
table.list .thead,
#top-menu ul.top-menu-main li a,
#top-right-online,
.box-right p,
.box-right h2, .title,
.vbmenu_control,
a.doaction,
.smallfont2,
.georgia
{
font-family:Cambria,Georgia,"Times New Roman",Times,serif;
}

td, th, p, li, legend, textarea, select, option, optgroup,
.smallfont, .navbar, .wysiwyg, .bginput,
.thead,
.vbmenu_option,
.vbmenu_hilite,
.icon-menu-pm, .icon-menu-report,
.fad_cct_TextAds a,
.fad_ccm_TextAds, .fad_ccb_TextAds,
#top-menu ul.top-menu-sub li a,
.verdana
{
font-family:verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}


.alignl {text-align:left}
.alignc {text-align:center}
.alignr {text-align:right}
.valignm, .valignm td {vertical-align:middle}

.p0 td, td.p0 {padding:0;}
.p2 td, td.p2 {padding:2px}
.p2-4 td {padding:2px 4px;}
.p4 td, td.p4 {padding:4px !important;}
.p4-6 td, td.p4-6 {padding:4px 6px}
.p6 td, td.p6 {padding:6px}

.m0-a{margin:0 auto}

.pointer {cursor:pointer}

ol, ul {
list-style-position:inside;
}

table ul, table ol
{
	list-style:disc inside;
	margin:0;padding:10px;
}

blockquote {margin:10px 40px}

/* INPUT */
/*
input[type=submit] {
background:#eff0f1;
border: 1px solid #b8c0c7;
cursor:pointer;
}
*/

.overlay {
	background:#fff;
	border: 1px solid #b8c0c7;
	display:none;

	min-height:120px;
	height:120px;
	height:auto !important;

	padding:10px;
	position:relative;
	width:750px;
	z-index:100;
	-moz-box-shadow:0 0 90px 5px #000; 
	-webkit-box-shadow: 0 0 90px #000;  
}

.overlay .close { 
	/*
	background:url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat -100px -100px;
	*/
	background-image:url(https://static.flashback.org/img/misc/fb_new/icons/close.png); 
	position:absolute; 
	right:-15px; 
	top:-15px; 
	cursor:pointer; 
	height:35px; 
	width:35px; 
}

.tooltip {
	display:none;
	/*
	background:transparent url(/media/img/tooltip/black_arrow.png);
	*/
	-moz-box-shadow:0 0 2px 0 #999; 
	-webkit-box-shadow: 0 0 2px 0 #999;  
	background:#fff;
	background:#eff0f1;
	border: 1px solid #b8c0c7;
	height:150px;
	width:400px;
	padding:5px;
	overflow-y:scroll;
}

/* ---- ---- */

.navcontrolbar,
.tcat,
.vbmenu_control,
table.threadslist .thead,
table.list .thead,
ul#top-tabs,
ul#top-tabs li.current-page
{
	background:#fafafa;
}

.doaction, #threadtools, #forumtools {
	background:#EFF0F1;
}

code *,pre * {
	font-family: monospace !important;
	font-size: 12px !important;
}

/**/

#debug {
	width:500px;
	height:90%;
	overflow-y:scroll;
	display:none;
	background:#222;
	border:2px solid #222;
	color:#fff;
	position:fixed;
	left:0;top:25px;
	z-index:1000;
}
#debug a {color:#fff}
#debug-show {
	background:#9b0000;
	color:#fff;
	padding:5px;
	z-index:100;
	position:fixed;
	bottom:0px;
   border: 1px solid #3b0000;
}

/*
 * Top News from Flashback.se
 * */
#top-news {
	background:#eff0f1;
	border:1px solid #ddd;
	clear:both;
}

.ticker-title {
	border-right:1px solid #ddd;
	font-size:1.0em;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}

.ticker-title, .ticker-next {
	display:block;
    float:left;
	padding:6px;
}

.ticker-wrapper {
	float:left;
	width:780px;
	margin:0 10px;
	height:25px;
}

.ticker {
	height:100%;
	margin:0;
	padding:0;
	line-height:25px;
	position:relative;
	width:1200px;
	margin-left:-8px;
}
.ticker li {
	float:left;
	padding:0 10px 0 0px;
	list-style-position:inside;
	/*
	list-style:disc;
	*/
	color: #e12001;
	font-size:11px;
	border-color:#ddd;
	border-style:solid;
	border-width:0px 0px 0px 1px;
	display:none;
}

.ticker li:nth-child(-n+2) {
	display:block;
}

.ticker-wrapper{overflow:hidden;padding:0 0px;}

.ticker-title, .ticker a, .ticker-date {
	text-decoration:none;
	font-family:Verdana;
}
.ticker li a {
	color:#000;
	text-decoration:none;
	font-size:1.0em;
	white-space:nowrap;
	line-height:1em;
	padding:0.545em 0.818em;
}
.ticker-date {
	color:#777;
}

.ticker-next {
	background:#eff0f1 url(https://static.flashback.org/img/misc/fb_new/sprite-forum.gif) no-repeat scroll 0 0;
	cursor:pointer;
	padding:0 10px;
	height:11px;
	margin:7px 7px 0 0;
	float:right;
	display:block;
}

.ticker-next:hover {
	opacity:0.8;
}

/*FONTS*/
@font-face {
	font-family: 'PublicoBlack';
	src: url('../fonts/publicoheadlineweb-black.woff') format('woff');
}

@font-face {
	font-family: 'PublicoRoman';
	src: url('/fonts/publico-roman-webfont.woff') format('woff');
}

/*travelforum*/
table.travelforum-block,
table.thread-notice-block
 {
	width: 100%;
	margin-top: 3px;
}
	table.travelforum-block td,
	table.thread-notice-block td {
		white-space: nowrap;
		background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
		padding: 5px;
	}
	table.travelforum-block td > p {
		float: left;
	}
	table.travelforum-block td > img {
		float: right;
	}
/*remote article*/
.remote-article {
	background:#fff;
	border: 1px solid #B8C0C7;
	margin:10px 0;
	padding:10px;
}
.remote-article h2 {
	display:block;
	font-family: PublicoBlack, Georgia, serif;
	font-size: 28px;
	font-weight: normal;
	margin-bottom:10px;
}
.remote-article p {
	margin:10px 0;
}
.remote-article .remote-article-domain,
.remote-article .remote-article-date {
	color:#666;
	text-decoration:none;
}
.remote-article .remote-article-href {
}
#remote-article-icon-flashback-se {
	background: url(https://static.flashback.org/img/favicon.ico) no-repeat 0 -2px;
	padding:0 10px;
	height:18px;
}

html {
    overflow-y: scroll;
}


/* VISIBLE */

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

/* set in mobile.css
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}
*/

.clamped-text {
    overflow: hidden;
    position: relative;
    max-height: 23em;
}

/* toggle mobile/desktop version */
ul#mobile-toggle-wrapper {
	clear: both;
	width: 100%;
	margin: 10px 0;
	text-align: center;
}
ul#mobile-toggle-wrapper li {
	display: inline;
	padding: 0 5px;
}
ul#mobile-toggle-wrapper li:first-child {
	border-right: 1px solid #999;
}
ul#mobile-toggle-wrapper li a {
	color: #999;
	text-decoration: none;
	text-transform: uppercase;
}
ul#mobile-toggle-wrapper li a.active {
	font-weight:bold;
}

/* tags */
a.tag {
    background-color: #2d6987;
    font-family: 'Helvetica Neu', Helvetica, sans-serif;
    display: inline-block;
    font-size: 11.8px;
    font-weight: bold;
    color: #fff !important;
    margin: 0 0 5px 0;
    padding: 2px 4px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration:none;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 3px;
}

a.suggested_tag {

background-color: #2d8778 !important;

}

a.tag:hover {
    background:#999;
    color: #fff;
}

a.suggested_tag:hover {
    background:#999 !important;
    color: #fff !important;
}

/* notifications */

#user-notification-box {
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:280px;
	background:#f0f0f0;
	border:1px solid #ccc;
	z-index: 1000;
}

#user-notification-box .notifications {
	height:320px;
	overflow-y: scroll;
}

#user-notification-box a.notification {
	background: #E3E3E3;
	display: block;
	padding: 10px 5px;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}
#user-notification-box a.notification * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#user-notification-box .notifications a.notification:last-child {
	border-bottom: none;
}

#user-notification-box .notification-user,
#user-notification-box .notification-thread {
	font-weight: bold;
}

#user-notification-box a.notification:hover,
#user-notification-box a.notification-read {
	background: #fafafa;
}

#user-notification-box .notification-datetime {
	color: #555;
	padding-top: 5px;
}

#user-notification-box #notifications-header,
#user-notification-box #notifications-footer {
  background: #f0f0f0;
  text-align: right;
  padding: 5px;
}
#user-notification-box #notifications-header {
  border-bottom: 1px solid #ccc;
}
#user-notification-box #notifications-footer {
  border-top: 1px solid #ccc;
}

.icon-settings {
	width: 12px;
	height: 12px;
	background: url(../images/icons/gear.png) no-repeat;
}
