/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */

.gwt-DialogBox
{
	color:#19A3FF;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-style:italic;
	font-size:20pt;
	font-weight:bold;
}
.gwt-hpanel
{
	background-color:#a0a0a0 ;
}
.gwt-vpanel
{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0px 5px 20px #888;
	border-radius:5px;
	background-color:#FFFFFF;
	margin : 0px 0px 0px 0px;
}
.gwt-vpanel1
{
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0px 5px 20px #888;
	border-radius:5px;
	background-color:#000000 !important;
	margin : 0px 0px 0px 0px;
}


.gwt-LabelMod
{
	color:black;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size:10pt;
	font-weight:bold;	
}
.gwt-headerTable
{
	//background-color:#3366FF;
	
	
}
.gwt-headingLabel
{
	color:#005CE6;
	//color:white;
	font-family:"Times New Roman", Times, serif;
	//font-style:italic;
	font-size:1.5em;
	//font-weight:bold;
	width: 100%;
	height: 100%;
	
}
.gwt-headingLabel2
{
	color:black;
	//color:white;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-style:normal;
	font-size:11pt;
	font-weight:bold;
}
.gwt-ListBoxMod
{
	background-color:#19A3FF;
	//background-color:#3366FF;
	color:white;
	border-width:0px;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size:1em;
	font-weight:bold;
	
}
.gwt-root
{
	margin : 0px 0px 0px 0px;
	width: 100%;
	height: 100%;
}
.serverResponseLabelError {
  color: red;
}

.gwt-image{
	background-size: 100% 100%;
}

.gwt-button
{
	background-color:#19A3FF;
	
	border-top-width:0px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right:4px solid #FFFFFF;
	color:white;
	cursor:pointer;
	width: 100%;
	height: 100%;
}
}

.gwt-buttonChange
{  
    background-color:#3CB371 !important;
	border-top-width:0px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right:4px solid #FFFFFF;
	color:white;
	cursor:pointer;
	width: 100%;
	height: 100%;
}


.demo-MenuBar
{
    background-color:#19A3FF;
    position: relative;
    top: -0.9em;
}
.demo-MenuBar table
{  
	width: 100%;
	height: 20%;
    background-color:#19A3FF;
}
.demo-MenuBar .gwt-MenuItem
{
    cursor:pointer;
    background-color:#19A3FF;
    padding:2px 20px;
    color:#FFFFFF;
    border-right:2px solid #FFFFFF;
    width: 25%;
    height: 40%;
    font-size: 1.1em;
  
    
}
.demo-MenuBar .gwt-MenuItem-selected
{
	  cursor:pointer;
    background-color:#FAF5E6;
    color:black;
     border-right:2px solid #FFFFFF;
padding:2px 20px;
    width: 25%;
    height: 40%;
    font-size: 1.1em;
}

.gwt-messageLabel
{
	text-align:center;
	margin:100px 2px 2px 2px;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size:14pt;
	font-weight:bold;
	color:#96938A;
}

.gwt-messageLabel2
{
	text-align:right;
	margin:20px 2px 2px 2px;
	color:#96938A;
}

.gwt-addressLabel
{
	text-align:center;
	background-color:#19A3FF;
	color:white;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-style:normal;
	font-size:1em;
	font-weight:bold;
	width: 100%;
	height: 100%;
}
.gwt-latestnews
{
   
	background-color: #FFFFF7;

   height: 92%;
   border-radius: 25px;
   border: 2px solid #8AC007;
   padding: 20px;

  
  
  
}
.gwt-sscLabel
{
	color:#FFFFF;
	//font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-family: "Times New Roman", Times, serif;
	//font-style:italic;
	font-size:2em;
	//font-weight:bold;
	width: 70%;
	height: 60%;
	padding: 5px;
}

.gwt-TabLayoutPanel 
{ 
    
} 
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs { 

background: #FFFFFF;  
} 
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent { 

  border-color: #e6e7e8; 
  border-style: solid; 
  border-width: 3px 2px 2px; 
  overflow: hidden; 
  padding: 6px; 
  background: #FFFFFF;  
} 
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab { 
 cursor: pointer;
  cursor: hand;
  color: white;
  min-width: 6em;
  background-color: #19A3FF;
  font-size: 9pt;
  text-align: center;
  float: left;
 margin-right: 5px;
  
  
  
} 
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected { 
  cursor: default; 
  background: #8bc53d;
  
  font-size: 12px; 
  color: #FFFFFF; 
}

.banta
 {  border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
    width: 50px;
    height: 100px;
    position: fixed;
    top: 52.4%;
    left: -13%;	
    width: 14.5%;
height: 40%;
 }
 .banta2
  {  border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
     width: 50px;
     height: 100px;
     position: fixed;
     top: 2.0%;
     left: -12.6%;	
     width: 14.5%;
height: 100%;
     
 }
 .banta21
  {  border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
     width: 50px;
     height: 100px;
     position: fixed;
     top: 48.0%;
     left: -12.6%;	
     width: 14.5%;
     height: 100%;
     
 }
 
 .santa 
 {  border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
    background: url("images/imageedit_19_6886382784.gif") no-repeat -5px -8px;
    width: 500px;
    height:600px;
    position: absolute;
    top: 13%;
    left: -18%;
    transform-origin: bottom left;
}	
.santa 
{
    -webkit-animation: santa-move 0s 0s ease-out forwards;
    animation: santa-move 0s 0s ease-out forwards;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
}

@-webkit-keyframes santa-move 
{
    100% 
    {
	left: 0%;
	//transform: scale(2);  //to increase height/width
    }
}
@keyframes santa-move 
{
    100% 
    {
	left:0%;
	//transform: scale(2); //to increase height/width
    }
}

.santa2 
 {  border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
    background: url("images/query-2.gif") no-repeat -5px -8px;
    width: 500px;
    height:800px;
    position: absolute;
    top: 13%;
    left: -18%;
    transform-origin: bottom left;
}

.santa2 
{
    -webkit-animation: santa-move 0s 0s ease-out forwards;
    animation: santa-move 0s 0s ease-out forwards;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

@-webkit-keyframes santa2-move 
{
    100% 
    {
	left: 0%;
	//transform: scale(2);  //to increase height/width
    }
}

@keyframes santa2-move 
{
    100% 
    {
	left:0%;
	//transform: scale(2); //to increase height/width
    }
}


.santa21 
 {   border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
    background: url("images/query25.gif") no-repeat -5px -8px;
    width: 500px;
    height:600px;
    position: absolute;
    top: 51%;
    left: -18%;
    transform-origin: bottom left;
}

.santa21 
{    
    -webkit-animation: santa-move 0s 0s ease-out forwards;
    animation: santa-move 0s 0s ease-out forwards;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

@-webkit-keyframes santa21-move 
{
    100% 
    {
	left: 0%;
	//transform: scale(2);  //to increase height/width
    }
}

@keyframes santa21-move 
{
    100% 
    {
	left:0%;
	//transform: scale(2); //to increase height/width
    }
}
.banta22
  {
  	border-radius: 1em;
  	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
     width: 50em;
     height: 100em;
     position: fixed;
     top: 2.0%;
     right: -12.6%;	
     width: 14.5%;
     height: 100%;
     
 }
.santa22
 {
 	border-radius: 1em;
 	border-bottom-right-radius: 1em;
 	border-bottom-left-radius: 1em;
 	border-top-right-radius: 1em;
 	border-top-left-radius: 1em;
    background: url("images/query21.gif") no-repeat -5px -8px;
    width: 21%;
    height:100%;
    position: absolute;
    top: 50S%;
    right: -18%;
    transform-origin: bottom right;
}

.santa22
{
    -webkit-animation: santa22-move 0s 0s ease-out forwards;
    animation: santa22-move 0s 0s ease-out forwards;
    -webkit-animation-duration: 1s !important;
    animation-duration: 1s !important;
   
}

@-webkit-keyframes santa22-move 
{
    100% 
   from {
    
	left: 0%;
	//transform: scale(2);  //to increase height/width
    }

    to{
    	left: 80%;
	//transform: scale(2);  //to increase height/width
    }

    


}

@keyframes santa22-move 
{
    100% 
    from{
	left:0%;
	//transform: scale(2); //to increase height/width
    }
     to{
    	left: 80%;
	//transform: scale(2);  //to increase height/width
    }



}
.gwt-exam{
	width: 100%;
	height: 1em;
	padding-left: 5px;
}
.gwt-exmMainVpanel
{
	border-style: solid;
	border-width: 3px;
	

}
.gwt-exmChslVpanel
{
	//border-style: solid;
	//border-width: 1px #DDE3E6;
	background-color:#FF5930;
	//border-radius: 25px;
	border: 2px solid #8AC007;
   	padding: 20px;

}

.gwt-exmCglVpanel
{
	//border-style: solid;
	//border-width: 1px;
	background-color:#66CCFF;
	//border-radius: 25px;
	border: 2px solid #8AC007;
   	padding: 20px;

}
.gwt-exmStenoVpanel
{
	//border-style: solid;
	//border-width: 1px;
	background-color:#33CC33;
	//border-radius: 25px;
	border: 2px solid #8AC007;
   	padding: 20px;

}
.gwt-exmJhtVpanel
{
	//border-style: solid;
	//border-width: 1px;
	background-color:#0099FF;
	//border-radius: 25px;
	border: 2px solid #8AC007;
   	padding: 20px;

}

.gwt-exmJeVpanel
{
	//border-style: solid;
	//border-width: 2px;
	background-color:#FFFF00;
	//border-radius: 25px;
	border: 2px solid #8AC007;
   	padding: 20px;

}

.gwt-exmCapfVpanel
{
	//border-style: solid;
	//border-width: 1px;
	background-color:#C2FFC2;
	//border-radius: 25px;
	border: 2px solid #8AC007;
   	padding: 20px;

}



.gwt-exmLabel
{
	font-weight: bold;
}

.gwt-PushButton{ 
   color:red;   
}
.gwt-PushButton-up {
   color:green;
} 
.gwt-PushButton-down {
   color:blue;
} 
.gwt-PushButton-up-hovering {
   color:pink;
} 
.gwt-PushButton-down-hovering {
   color:aqua;
} 
.gwt-PushButton-up-disabled {
   color:lime;
} 
.gwt-PushButton-down-disabled {
   color:maroon;
} 

.gwt-inauguratebutton
{
	background-color:#19A3FF;
	
	border-top-width:0px;
	border-left-width:0px;
	border-bottom-width:0px;
	border-right:4px solid #FFFFFF;
	color:white;
	cursor:pointer;
	width: 100%;
	height: 100%;
	
	font-size: 200%;
}