/* CSS Document */

* {	margin:0; padding:0; font-size:100%;}

body{background:#eaeaea; text-align:center;}
.footer-tail{ background:url(images/footer-bg.gif) bottom repeat-x #ffffff;}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}


html{ font-family:Arial, Helvetica, sans-serif; font-size:0.6875em; line-height:1.364em; color:#47494b;}

input, select { vertical-align:middle; font-weight:normal;}

a {color:#87A7AB;}
a:hover{text-decoration:none;}
.black{ color:#47494b; font-weight:bold; zoom:1; text-decoration:none;}
.black:hover{ text-decoration:underline;}

p {padding-top:10px;}
em{ font-size:1.091em; font-style:normal;}
/* ============================= main layout ====================== */

li { background:url(images/list_bg.gif) no-repeat 0 7px; padding-left:12px;}
li a {color:#B6BDC3; text-decoration:none; line-height:1.5em;}
li a:hover {text-decoration:underline;}

.imgindent {margin:0 15px 0 0; float:left;}

/* ============================= header ====================== */
#header{ padding:13px 53px 0 59px; background:#ffffff;}
.top-menu ul{ float:right; padding:0 0 11px 2px;}
.top-menu li{ padding:0 16px; float:left; font-size:1.09em; background:url(images/top-menu-bg.gif) right no-repeat;}
.top-menu li a{ color:#999999;}
.top-menu .last{ background:none; }

.header-box{ background:url(images/header-bg.gif) repeat-x; }

.header-box-left-bg{ background:url(images/header-left-bg.gif) left top no-repeat;   }
.header-box-right-bg{ background:url(images/header-right-bg.gif) right top no-repeat;   }
.header-box img{ margin:21px 0 21px 42px; }

#SearchForm { float:right; padding:42px 23px 36px 0;}
#SearchForm .input{	padding:0 0 0 5px; font-size:1em; color:#9b9b9b; height:17px; width:165px; border:solid 1px #d0cfcf; background:#ffffff; margin-right:3px;}

.menu{ padding:11px 0 0 8px; }
.menu li{ float:left; padding:5px 0 5px 10px; width:135px; background:url(images/menu-link-bg.gif) right no-repeat; }
.menu li a{ font-weight:bold; padding:2px 0 3px 35px; display:block; color:#5a5a5a; font-size:1.182em; }
.menu .m1{ background:url(images/m1-bg.gif) no-repeat;}
.menu .m1:hover{ background:url(images/m1-act-bg.gif) no-repeat;}
.menu .m1-act{ background:url(images/m1-act-bg.gif) no-repeat;}
.menu .m2{ background:url(images/m2-bg.gif) no-repeat;}
.menu .m2:hover{ background:url(images/m2-act-bg.gif) no-repeat;}
.menu .m2-act{ background:url(images/m2-act-bg.gif) no-repeat;}
.menu .m3{ background:url(images/m3-bg.gif) no-repeat;}
.menu .m4{ background:url(images/m4-bg.gif) no-repeat;}
.menu .m5{ background:url(images/m5-bg.gif) no-repeat;}
.menu .m6{ background:url(images/m6-bg.gif) no-repeat;}
.menu .last{ background:none; width:105px;}

/* ============================= content ====================== */
#content{ padding:0 53px 9px 59px; background:#ffffff;}

.banners{ background:url(images/banners-bg.gif) repeat-x top; margin-bottom:6px;}
.banners .left-bg{ background:url(images/banners-left-bg.gif) top left no-repeat; padding-left:21px;}
.banners .right-bg{ background:url(images/banners-right-bg.gif) top right no-repeat; }
.banners img{ padding:25px 0 30px 0;}

.banners2{ background:url(images/banners2-bg.gif) repeat-x top; margin-bottom:6px;}
.banners2 .left-bg{ background:url(images/banners2-left-bg.gif) top left no-repeat; padding-left:21px;}
.banners2 .right-bg{ background:url(images/banners2-right-bg.gif) top right no-repeat; }
.banners2 img{ padding:10px 0 27px 0;}
.banners2-text{ color:#ffffff; font-size:1.091em; padding:20px 10px 10px 0; font-weight:bold;}

.margin1{ margin-bottom:9px;}
.padding4{ padding-left:8px;}

.box .right-tail{ background:url(images/box-tail.gif) right repeat-y;}
.box .left-tail{ background:url(images/box-tail.gif) left repeat-y;}
.box .top-tail{ background:url(images/box-tail.gif) top repeat-x;}
.box .bottom-tail{ background:url(images/box-tail.gif) bottom repeat-x;}
.box .corner-top-left{ background:url(images/box-corner-top-left.gif) top left no-repeat;}
.box .corner-top-right{ background:url(images/box-corner-top-right.gif) top right no-repeat;}
.box .corner-bottom-left{ background:url(images/box-corner-bottom-left.gif) left bottom no-repeat;}
.box .corner-bottom-right{ background:url(images/box-corner-bottom-right.gif) right bottom no-repeat; width:100%; }
.box .indent{ padding:6px 6px 0 6px;}

.title1{ background:url(images/title1-left-bg.gif) left top no-repeat; margin:-11px 0 3px 0; position:relative; color:#ffffff; font-size:1.091em;}
.title1 .right-bg{ background:url(images/title1-right-bg.gif) top right no-repeat; padding:0 102px 0 119px;}
.title1 .tail-bg{ background:url(images/title1-bg.gif) top repeat-x; }
.title1 h3{ margin:0 -102px 0 -119px; padding:24px 20px 23px 80px;}

.title2{ background:url(images/title2-left-bg.gif) left top no-repeat;  position:relative; color:#ffffff; font-size:1.091em;}
.title2 .right-bg{ background:url(images/title2-right-bg.gif) top right no-repeat; padding:0 102px 0 119px;}
.title2 .tail-bg{ background:url(images/title2-bg.gif) top repeat-x; }
.title2 h3{ margin:0 -102px 0 -119px; padding:15px 20px 23px 80px;}

.title3{ background:url(images/title3-left-bg.gif) left top no-repeat; margin:-11px 0 3px 0; position:relative; color:#ffffff; font-size:1.091em;}
.title3 .right-bg{ background:url(images/title3-right-bg.gif) top right no-repeat; padding:0 101px 0 119px;}
.title3 .tail-bg{ background:url(images/title3-bg.gif) top repeat-x; }
.title3 h3{ margin:0 -102px 0 -119px; padding:24px 20px 23px 80px;}

.title4{ background:url(images/title4-left-bg.gif) left top no-repeat; margin:-5px 0 3px 0; position:relative; color:#ffffff; font-size:1.091em;}
.title4 .right-bg{ background:url(images/title4-right-bg.gif) top right no-repeat; padding:0 101px 0 119px;}
.title4 .tail-bg{ background:url(images/title4-bg.gif) top repeat-x; }
.title4 h3{ margin:0 -102px 0 -119px; padding:20px 20px 23px 75px;}

.title5{ background:url(images/title5-bg.gif) left no-repeat; padding-left:25px; font-size:1.273em; color:#444444;
margin:15px 10px 20px 8px;}

.title6{ background:url(images/title6-left-bg.gif) left top no-repeat;  position:relative; color:#ffffff; font-size:1.091em;}
.title6 .right-bg{ background:url(images/title6-right-bg.gif) top right no-repeat; padding:0 101px 0 119px;}
.title6 .tail-bg{ background:url(images/title6-bg.gif) top repeat-x; }
.title6 h3{ margin:0 -102px 0 -119px; padding:15px 20px 23px 80px;}

.title7{ background:url(images/title7-left-bg.gif) left top no-repeat; margin:-11px 0 3px 0; position:relative; color:#ffffff; font-size:1.091em;}
.title7 .right-bg{ background:url(images/title7-right-bg.gif) top right no-repeat; padding:0 102px 0 117px;}
.title7 .tail-bg{ background:url(images/title7-bg.gif) top repeat-x; }
.title7 h3{ margin:0 -102px 0 -119px; padding:24px 20px 23px 80px;}

.title8{ background:url(images/title8-left-bg.gif) left top no-repeat; margin:-7px 0 3px 0; position:relative; color:#ffffff; font-size:1.091em;}
.title8 .right-bg{ background:url(images/title8-right-bg.gif) top right no-repeat; padding:0 101px 0 119px;}
.title8 .tail-bg{ background:url(images/title8-bg.gif) top repeat-x; }
.title8 h3{ margin:0 -102px 0 -119px; padding:20px 20px 23px 75px;}

.title9{ background:url(images/title9-left-bg.gif) left top no-repeat; margin:-11px 0 3px 0; position:relative; color:#ffffff; font-size:1.091em;}
.title9 .right-bg{ background:url(images/title9-right-bg.gif) top right no-repeat; padding:0 101px 0 119px;}
.title9 .tail-bg{ background:url(images/title9-bg.gif) top repeat-x; }
.title9 h3{ margin:0 -102px 0 -119px; padding:25px 20px 23px 75px;}

.cont{padding:0 5px 5px 10px;}
.box-cont { padding:0px 10px 16px 10px;}
.box-cont2 { padding:8px 10px 16px 17px;}
.box-cont3 { padding:4px 4px 3px 4px;}
.box-cont4 { padding:8px 5px 16px 12px;}

.list1 li{  background:url(images/list1-bg.gif) bottom repeat-x; line-height:2.667em; font-size:1.091em;}
.list1 li a{  color:#47494b; padding-left:2px; }
.list1 li .item1{ background:url(images/list-item1-bg.gif) left no-repeat;}
.list1 li .item2{ background:url(images/list-item2-bg.gif) left no-repeat;}
.list1 li .item3{ background:url(images/list-item3-bg.gif) left no-repeat;}
.list1 li .item4{ background:url(images/list-item4-bg.gif) left no-repeat;}
.list1 li .item5{ background:url(images/list-item5-bg.gif) left no-repeat;}
.list1 li .item6{ background:url(images/list-item6-bg.gif) left no-repeat;}
.list1 li .item7{ background:url(images/list-item7-bg.gif) left no-repeat;}
.list1 li .item8{ background:url(images/list-item8-bg.gif) left no-repeat;}
.list1 li .item9{ background:url(images/list-item9-bg.gif) left no-repeat;}
.list1 li .item10{ background:url(images/list-item10-bg.gif) left no-repeat;}
.list1 li .item11{ background:url(images/list-item11-bg.gif) left no-repeat;}
.list1 .last{ background:none;}

.list2 li{  margin:0; padding:0; background:url(images/list1-bg.gif) bottom repeat-x; line-height:1.364em; padding-bottom:3px; margin-bottom:2px;   font-size:1.091em}
.list2 li a{  color:#5a717f; font-weight:bold; zoom:1;}
.list2 .last{ background:none; padding-bottom:0; margin:0;}

.list3 li{  margin:0; padding:0; background:url(images/list1-bg.gif) bottom repeat-x; line-height:1.364em; padding-bottom:3px; margin-bottom:2px;   font-size:1.091em}
.list3 li a{  color:#47494b; zoom:1;}
.list3 .last{ background:none; padding-bottom:0; margin:0;}


.unline{ background:url(images/list1-bg.gif) bottom repeat-x; padding-bottom:13px;}

.link{ display:inline-block; text-decoration:underline; color:#5a717f; font-weight:bold; margin-top:13px; background:url(images/link-bg.gif) top right no-repeat; padding-right:12px;}
.link:hover{ text-decoration:none;}

.link2{ display:inline-block; text-decoration:underline; color:#5a717f; font-weight:bold; margin-top:13px;}
.link2:hover{ text-decoration:none;}
/* ============================= page1 ====================== */
.column-2{ margin-left:9px;}
.column-3{ margin-left:8px;}
.e-mail{ color:#5a717f; font-weight:bold;}
/* ============================= footer ====================== */
#footer{ padding:0 53px 0 59px;}
.footer-text{ padding-top:30px;}
.footer-text a {color:#3d3d3d;}


#footer ul{ float:right;}
#footer li{	border-right:solid 1px #242a30;	padding:0 12px;	list-style:none; display:inline;}
#footer li.last-li{ border:none; padding-right:0;}
#footer li.first-li{ padding:0 10px 0 0;}
#footer ul a{ color:#242a30; text-decoration:none;}
#footer ul a:hover{	text-decoration:underline;}
#footer ul{ padding-top:30px;}
#footer span{ color:#425867; text-transform:uppercase; font-weight:bold;}

/* ============================= forms ============================= */
#ContactForm{ font-size:1.091em;}
#ContactForm label { display:block; height:43px; }
#ContactForm .input{ width:177px; border:solid 1px #d0cfcf;  margin-top:3px; height:17px; }
.form-button{ background:url(images/form-button.gif) no-repeat; text-transform:uppercase; padding:2px 5px 5px 12px; margin-top:13px; }
.form-button a{ color:#ffffff; font-weight:bold; font-size:0.917em; text-decoration:none;}
.form-button a:hover{ text-decoration:underline;}
.padd{ padding-right:10px;}

.subleft {width:120px; font-weight:bold; float:left}
.subright {float:left }
