/* @override 
	http://localhost:8888/d2h/wp-content/themes/seed/plus/seed/seed.css?ver=4.2.2 */

/* Seed.css v.1.9.0 by SeedThemes.com */
body { -webkit-backface-visibility: hidden;font-size: 15px;}
body, input, textarea, select, button {text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-moz-font-feature-settings: "liga", "kern";}

.clear:before,
.clear:after,
.group:before,
.group:after,
.clearfix:before,
.clearfix:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}
.clear:after,
.group:after,
.clearfix::after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after{
	clear: both;
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
.comments-area {
	clear: both;
}
/* FORM - from UnderScore.me */
button,input,select,textarea{font-size:100%;vertical-align:baseline;margin:0;}
button,input[type=button],input[type=reset],input[type=submit]{border:1px solid #999;border-radius:3px;background:#fff;cursor:pointer;-webkit-appearance:button;padding:7px 12px 5px;color: #111;}
button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{color: #666;}
button:focus,input[type=button]:focus,input[type=reset]:focus,input[type=submit]:focus,button:active,input[type=button]:active,input[type=reset]:active,input[type=submit]:active{color: #888;}
input[type=checkbox],input[type=radio]{padding:0;}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input[type=text],input[type=email],input[type=url],input[type=password],input[type=search],textarea{color:#666;border:1px solid #ccc;border-radius:3px;}
input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=search]:focus,textarea:focus{color:#111;}
input[type=text],input[type=email],input[type=url],input[type=password],input[type=search]{padding:7px 12px 5px;max-width: 100%;}
textarea{overflow:auto;padding-left:3px;vertical-align:top;width:100%;}

.screen-reader-text, #wpstats {position: absolute;left: -10000px;top: auto;width: 1px;height: 1px;overflow: hidden;}
.alignright {float: right;margin-left: 1em;}
.alignleft {float: left;margin-right: 1em;}
img {max-width:100%;height: auto;}
img.centered, .aligncenter, div.aligncenter {display: block;margin-left: auto;margin-right: auto;}
img.alignright {display: inline;}
img.alignleft {display: inline;}

.wp-caption{margin-bottom:1.5em;max-width:100%;}
.wp-caption img[class*=wp-image-]{display:block;margin:0 auto;}
.wp-caption-text{text-align:center;}
.wp-caption .wp-caption-text{margin:.8em 0;}
a,a:hover,a:focus{text-decoration: none;outline: none;}
p{margin: 0 0 1.5em;}
/*
ul{padding: 0;margin-top: 0;}
li{list-style: none;}
*/
h1,h2,h3,h4{line-height: 1.2;margin: 0 0 0.8em;}
h1{font-size: 1.8em;}
h2{font-size: 1.6em;}
h3{font-size: 1.4em;}
h4{font-size: 1.2em;}
hr {height: 1px;border: 0;border-top: 1px solid #ddd;margin: 1.5em 0;}
.sticky {display: block;}
.hentry ol {padding-left: 1.6em;text-indent: 0;margin: 0 0 1.5em;}
.hentry ul {padding-left: 1.2em;text-indent: 0;margin: 0 0 1.5em;}
.hentry li ul, 
.hentry li ol {margin: 0.5em 0 0 1em;}


.byline, .updated:not(.published) {display: none;}
.bypostauthor {background-color: #f8f5e7;}
.single .byline, .group-blog .byline {display: inline;}
.page-content,.entry-content,.entry-summary {}
.page-links {clear: both;margin: 0 0 1.5em;}
.page-content img.wp-smiley,.entry-content img.wp-smiley,.comment-content img.wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0;}
embed,iframe,object{max-width:100%;}
.navigation {clear: both;}

.entry-content .gallery{margin:0 -10px 1.5em;}
.entry-content .gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%;margin: 0;padding: 10px;}
.entry-content .gallery-columns-2 .gallery-item{max-width:50%;}
.entry-content .gallery-columns-3 .gallery-item{max-width:33.33%;}
.entry-content .gallery-columns-4 .gallery-item{max-width:25%;}
.entry-content .gallery-columns-5 .gallery-item{max-width:20%;}
.entry-content .gallery-columns-6 .gallery-item{max-width:16.66%;}
.entry-content .gallery-columns-7 .gallery-item{max-width:14.28%;}
.entry-content .gallery-columns-8 .gallery-item{max-width:12.5%;}
.entry-content .gallery-columns-9 .gallery-item{max-width:11.11%;}
.entry-content .gallery-caption{display:block;}

.edit-link a{position:fixed;bottom:5px;left:5px;display:block;width:30px;height:30px;line-height:30px;border-radius:30px;background-color:rgba(0,0,0,.6);color:#fff;text-align:center;border:2px solid #fff;font-size:11px;overflow:hidden;z-index:999}
.fb-comments{clear: both;display: block;width: 100%;
}
.fb-comments iframe,.fb-comments span{width: 100% !important;}
.search-field {max-width: 100%;box-sizing: border-box;}
.widget {margin-bottom: 1.5em;font-size: 14px;
}
.widget select {max-width: 100%;}
.widget-title {
	font-size: 1.3em;
}
.widget-area .search-field {	width: 150px;}
.widget-area ul {
	padding: 0;
}
.widget-area li {
	list-style: none;
}