/* @override 
	http://www.matichon.co.th/wp-content/themes/matichon/style.css?ver=4.4.1
	http://www.matichon.vaivaisoft.com/wp-content/themes/matichon/style.css?ver=4.4.2 */

/*
Theme Name: Matichon
Author: VaivaiSoft
Author URI: http://vaivaisoft.com
Description: default theme for news.matichon.co.th
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: seed
*/


/* Responsive Nav */
.nav-collapse ul{margin:0;padding:0;width:100%;display:block;list-style:none}.nav-collapse li{width:100%;display:block}.js .nav-collapse{clip:rect(0 0 0 0);max-height:0;position:absolute;display:block;overflow:hidden;zoom:1}.nav-collapse.opened{max-height:9999px}.nav-toggle{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}@media screen and (min-width: 40em){.js .nav-collapse{position:relative}.js .nav-collapse.closed{max-height:none}.nav-toggle{display:none}}

/* by Unixdev */
/*body {
   IE 
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

   Chrome, Safari 
  -webkit-filter: grayscale(1);

   Firefox 
  filter: grayscale(1);
}

body.page-template-page-cover-ad-php {
   IE 
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0) !important;
  
   Chrome, Safari 
  -webkit-filter: grayscale(0) !important;

   Firefox 
  filter: grayscale(0) !important;
}

body.page-template-page-cover-ad-php .cover-content .btn {
  IE 
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

   Chrome, Safari 
  -webkit-filter: grayscale(1);

   Firefox 
  filter: grayscale(1);
}*/




@font-face {
    font-family: 'karnvayla';
    src: url('fonts/karnvaylabold-webfont.eot');
    src: url('fonts/karnvaylabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/karnvaylabold-webfont.woff2') format('woff2'),
         url('fonts/karnvaylabold-webfont.woff') format('woff'),
         url('fonts/karnvaylabold-webfont.ttf') format('truetype'),
         url('fonts/karnvaylabold-webfont.svg#karnvaylabold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'athiti';
    src: url('fonts/athiti-medium-webfont.eot');
    src: url('fonts/athiti-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/athiti-medium-webfont.woff2') format('woff2'),
         url('fonts/athiti-medium-webfont.woff') format('woff'),
         url('fonts/athiti-medium-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}


h1, h2, h3, h4, h5, h6, .main-navigation, 
.navbar-mobile, .navmenu, #banners .entry-meta, a.read-more, #sub-cat,
.col-lotto .entry-meta,.wp_rp_title,.cover-content .btn,.meta-content .table th,.meta-content .table td,
.list-view.archive .item h1,.entry-title,.item-lotto table th,.viewall,.site-footer,.btn-enter {
	font-family: 'karnvayla',sans-serif;
	font-weight: 600;
}
a.read-more {
	font-size: 16px;
}
body.home a.read-more {
	margin: 20px 0 10px;
	display: block;
}

html {
	background-color: #222;
}
body {
	font: 14.5px/1.6 sans-serif;
	color: #333;
	background-color: #fff;
}

a{
	transition: 300ms;
}
a:hover {

}
a:active {
	opacity: 0.8;
}

body blockquote {
	font-size: 14.5px;
	quotes: "\201C""\201D""\2018""\2019";
	background-color: #f4f4f4;
	padding: 16px 24px;
	border-left: 3px solid #333;
}
#cover-page {
	padding: 20px 0;
	height: 100%;
	text-align: center;
	border-bottom: 1px solid #111;
}
.cover-ad {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}
.btn-enter {
	font-weight: 700;
	text-decoration: none;
	color: #ff8300;
	font-size: 18px;
	background: url(img/logo.png) center top no-repeat;
	background-size: 100%;
	display: block;
	width: 180px;
	margin: 20px auto;
	padding-top: 32px;
	
}
.btn-enter span{
	display: block;
	border: 2px solid #ff8300;
	padding: 6px 10px 4px;
	border-radius: 3px;
	transition: 300ms;
}
.btn-enter:hover span{
	background-color: #ff8300;
	color: #fff;
}
#page {
	overflow: hidden !important;
	}


	.cover-content {
		text-align: center;
		padding: 20px;
	}

	.cover-content img {
		max-width: 100%;
		margin: 20px auto;
	}

	.cover-content .btn {
		
		font-weight: 700;
		text-decoration: none;
		color: #ff8300;
		font-size: 18px;
		background: url(img/logo.png) center top no-repeat;
		background-size: 100%;
		display: block;
		width: 180px;
		margin: 20px auto 30px;
		padding-top: 32px;
	}
	.cover-content .btn span{
		display: block;
		border: 2px solid #ff8300;
		padding: 6px 10px 4px;
		border-radius: 3px;
		transition: 300ms;
	}
	.cover-content .btn:hover span{
		background-color: #ff8300;
		color: #fff;
	}


body.splash {
	padding: 0;
	margin: 0;
 -webkit-backface-visibility: hidden;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;-moz-font-feature-settings: "liga", "kern";}

	#splash {
		text-align: center;
		padding: 20px;
	}

	#splash img {
		max-width: 100%;
		margin: 20px auto;
	}

	#splash .btn {
		
		font-weight: 700;
		text-decoration: none;
		color: #ff8300;
		font-size: 18px;
		background: url(img/logo.png) center top no-repeat;
		background-size: 100%;
		display: block;
		width: 180px;
		margin: 0 auto 30px;
		padding-top: 32px;
	}

	#splash .btn span{
		display: block;
		border: 2px solid #ff8300;
		padding: 6px 10px 4px;
		border-radius: 3px;
		transition: 300ms;
	}
	#splash .btn:hover span{
		background-color: #ff8300;
		color: #fff;
	}






/* #masthead.site-header */
.site-header {
	padding : 0;
}

body.page-template-page-cover-ad .site-header {
	padding-top: 0px;
}

	#top .container {
		position: relative;
	}
	#top {
		top: 0;
		width: 100%;
		z-index: 9999;
		background-color: #fff;
		
	}

	.fixed-nav {
		position: fixed;
	}
	.site-logo-classic {
		position: absolute;
		width: 40px;
		left: 10px;
		bottom: 12px;
	}
	.site-social {
		display: none;
	}
	.site-branding {
		padding: 8px 0 9px;
		border-bottom: 1px solid #111;
		
	}
	
	.site-title {
		margin: 0;
	}
		.site-title a{

		}
		.site-title{
			display: block;
			padding-left: 10px;
			text-align: center;
		}
		.site-title .name {
			font-size: 21px;
			margin: 0 0 5px;
			line-height: 1.05;
			display: block;
		}

		.site-title .logo {
			width: 150px;
			display: block;
			line-height: 1;
			margin-left: 48px;
		}
		.site-title small{
			font-family: sans-serif;
			font-size: 12px;
			display: block;
		}
		
	.mobile-toggle{
		cursor: pointer;
		position: absolute;
		right: 4px;
		bottom: 8px;
		padding: 4px 8px 3px;
		text-transform: uppercase;
		font-size: 14px;
		color: #111;
		border-radius: 3px;
	}
		.mobile-toggle:active,
		.mobile-toggle:hover{
			background-color: #eee;
			color: #111;
		}
		.mobile-toggle i{
			margin-right: 5px;
		}

	.site-description{
		font-size: 13px;
		font-weight: normal;
		color: #888;
		margin: 5px 0 0;
	}
	
	.navbar-mobile{
		padding: 6px 12px 4px;
		margin-top: 44px;
	    font-size: 14px;
	    white-space: nowrap;
	    border-bottom: 1px solid #111;
	    overflow: hidden;
	}
		.navbar-mobile .name {
			float: left;
		}
		.navbar-mobile .site-date{
			float: right;
		}
		
		.navmenu{
			font-size: 18px;
			background-color: #333;
			border-color: #111;
			display: none;
		}
			.navmenu ul.menu{
				margin: 0 0 15px;
				padding: 0 25px;
			}
			.navmenu ul.menu li a{
				display: block;
				padding: 10px 0 6px;
				color: #fff;
				border-bottom: 1px solid #444;
			}
			.navmenu ul.menu li a:hover{
				color: #ff8300;
			}
			
		#menu-search{
			padding: 20px 25px 0;
			margin: 0 0 -10px;
		}
			#menu-search #s{
				padding: 0 20px;
				height: 28px;
			    border-radius: 200px;
			    font-size: 16px;
			    /*background: #f5f5f5 url('img/search.png') no-repeat right;*/
			}
	
	.main-navigation {
			display: none;
			font-size: 19px;
			clear: both;
			padding: 8px 0;
			border-bottom: 1px solid #111;
			position: relative;
		}
			#searchbox {
				position: absolute;
				right: 0px;
				top: 9px;
				z-index: 2;
				width: 180px;
				
			}
			#page .sf_search{
						border-radius: 0;
						background-color: #eee !important;
						width: 180px;
					}
						#page .sf_search span.sf_block{
							height: 27px;
							padding: 0 1px;
						}
						.sf_search span.sf_block {
							display: block;
							position: relative;
						}
						#page .sf_search .sf_input {
							padding-left: 8px !important;
							font-family: sans-serif;
							font-size: 12px;
							font-weight: normal;
							font-style: normal;
							background-color: #eee !important;
							height: 24px !important;
							margin: 0 !important;
						}
						.sf_input {
							outline: none;
							border: none !important;
							-webkit-box-shadow: none !important;
							-moz-box-shadow: none !important;
							box-shadow: none !important;
						}
						.sf_input:focus {
							border: solid 1px #ccc;
							box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
							-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
							-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
							transition: none;
							-moz-transition: none;
							-webkit-transition: none;
							-webkit-appearance: caret;
							-moz-appearance: caret; /* mobile firefox too! */
						}
						#page .sf_button{
							margin-top: 2px !important;
							background-color: rgba(255,255,255,.15) !important;
						}
						.sf_search .sf_input {
							border: 0 none !important;
							padding: 0 !important;
							-webkit-box-shadow: none !important;
							-moz-box-shadow: none !important;
						}
						.sf_search .sf_button, .sf_search .searchsubmit {
						    background-image: url("img/sf_search.png") !important;
							background-side: no-repeat !important;
							background-position: 0px 0 !important;
							background-color: white !important;
							-webkit-box-shadow: 0 0 0 0 !important;
							-moz-box-shadow: 0 0 0 0 !important;
							border: 0 none !important;
							cursor: pointer !important;
							display: block !important;
							height: 19px !important;
							position: absolute !important;
							right: 1px !important;
							top: 1px !important;
							width: 22px !important;
							margin: 1px 1% 1px 2px !important;
							font-size: 11px !important;
							-webkit-box-shadow: 0 0 0 0 !important;
							-moz-box-shadow: 0 0 0 0 !important;
							box-shadow: 0 0 0 0 !important;
						}
						.sf_search .searchsubmit {
							float: none!important;
							display: block !important;
						}
						.sf_hidden {
							display: none;
						}
			.main-navigation ul{
				margin: 0;
				padding: 5px;
				position: absolute;
				width: 70%;
				right: 0;
				background-color: #fff;
				margin-right: 15px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
				-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
			}
			
			.main-navigation li {
				display: block;
				position: relative;
				line-height: 35px;
				height: 32px;
			}
			.main-navigation .icon-down{
				font-size: 0.6em;
			}
			.main-navigation a {
				display: block;
				padding: 0 6px;
			}
			.main-navigation .current-menu-item a,
			.main-navigation .current-category-ancestor a,
			.main-navigation .current-post-parent a{
				color: #ff8300;
			}
			.main-navigation .home a{
				white-space: nowrap;
				text-indent: 200%;
				overflow: hidden;
				width: 32px;
				height: 32px;
				margin-right: 8px;
				background-image: url(img/logo-mini.png);
			}
			.main-navigation li:last-child a {
				border: none;
			}
			.main-navigation li.menu-item-has-children {
				position: relative;
			}
			
			.main-navigation .sub-menu {
				display: none;
				position: absolute;
				width: 250px;
				background-color: #fff;
				font-size: 15px;
				z-index: 999;
			}
			.main-navigation li:hover .sub-menu {
				display: block;
				box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
				-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
			}
			.main-navigation .sub-menu a{
				padding: 4px 10px;
				border-bottom: 1px solid #f2f2f2;
			}
			.main-navigation .sub-menu li:last-child a{
				border: none;
			}
	
			.main-navigation ul ul li {
				display: block;
			}
	
			
			.main-navigation .current_page_item > a,
			.main-navigation .current-menu-item > a,
			.main-navigation .current_page_ancestor > a {
				
			}
			
			.main-navigation .nav-menu {
				display: none;
			}
			.main-navigation.toggled .nav-menu {
				display: block;
			}
			.menu-item-language img{
				margin-right: 8px;
			}
			
			
			@media screen and (min-width: 992px) {
				.mobile-toggle,
				#nav-mobile {
					display: none;
				}
				body.cover-page .site-header {
					padding-top: 0;
				}
				.site-header {
					padding: 140px 0 0;
				}

					.site-title{
						padding: 0;
						text-align: left;
					}
					.site-title img {
						float: left;
						margin: 0 25px 0 0;
						width: 500px;
					}
					.site-title .title {
						float: left;
					}
					
				.menu-toggle {
					display: none;
				}
				.main-navigation {
					display: block;
					font-size: 16px;
				}
				.main-navigation .nav-menu {
					display: block;
				}
				.main-navigation .menu {
					float: left;
				}
				.main-navigation ul{
					margin: 0;
					padding: 0;
					position: relative;
					width: 100%;
					background: none;
					box-shadow: none;
					-moz-box-shadow: none;
				}
				.main-navigation li {
					float: left;
				}
				.main-navigation a {
					display: block;
					padding: 0 5px;
				}
				.menu-item-language a{
					padding-right: 0;
					padding-left: 0;
					margin-left: 8px;
					width: 18px;
					overflow: hidden;
					white-space: nowrap;
				}
				
				.navbar-mobile{
					display: none;
				}
				
				#cat-featured .main .item {
					background-color: rgb(247, 227, 195);
					margin-bottom: 8px;
				}
				#cat-featured .main .item .entry-content:after {
					background: linear-gradient(to right, rgba(247, 227, 195, 0) 0%, rgb(247, 227, 195) 50%);	
				}
				#cat-featured .main .pic {
					float: left;
					width: 60%;
				}
				#cat-featured .main .info {
					background: none;
					float: right;
					width: 40%;
					padding: 18px;
				}
				#cat-featured .sub {
					margin-left: -4px;
					margin-right: -4px;
					margin-bottom: 10px;
				}
				#cat-featured .sub .item {
					width: 33.33333%;
					float: left;
					padding: 0 4px;
				}
				
				
			}
			@media screen and (min-width: 1200px) {
				.main-navigation {
					
					
					font-size: 19px;
				}
				.main-navigation a {
					padding: 0 10px;
				}
			
			}
.site-header-etc .ad {
	overflow: hidden !important;
	width: 320px;
	height: 100px;
	margin: 10px auto;
}
.site-header-etc .ad > div {
	overflow: hidden !important;
	width: 100% !important;
}			

			
			

			

/* #content.site-content */
.site-content {
	padding: 0 15px 30px;
}
	body.home .site-content,
	body.page-template-page-home .site-content{
		padding: 0 0 30px;
	}
	

.ads-billboard {
	text-align: center;
}

/* #primary.content-area */
.content-area {
	min-height: 500px;
}
	.content-area.full {
		float: none;
		width: 100%;
	}

	.page-header{
		margin: 0;
		border: none;
	}
	.hentry {
		
	}
		.entry-header {
			
		}
		.entry-header .pic img{
			width: 100%;
		}
		.entry-title {

		}
		body.single .entry-title {
			font-size: 30px;
		}
		body.single .caption {
			background-color: #f4f4f4;
			padding: 10px 10px 8px;
			font-size: 12px;
			color: #666;
		}
		.wp-caption .wp-caption-text {
			background-color: #f4f4f4;
			padding: 10px 10px 8px;
			font-size: 12px;
			color: #666;
			margin-top: 0;
		}
		body.single .cat {
			margin-left: -15px;
			margin-right: -15px;
			border-bottom: 2px solid #ff8300;
			margin-bottom: 20px;
		}
		body.single .entry-meta {
			
		}
		
		body.single .essb-total {
			display: inline-block;
			margin-left: 8px;
		}
		body.single .s-total h3{
			margin: 0;
		}
		body.single .s-total .matichon-share {
			display: inline-block;
			margin-left: 8px;
		}
		body.single .s-share {
			overflow: hidden;
		}
		body.single .s-share li {
			width: 20% !important;
		}
		body.single .s-share .essb_network_name{
			display: none !important;
		}
		body.single .s-share .rrssb-buttons {
			margin-top: 10px;
			padding-left: 0;
		}
		body.single .s-share .rrssb-buttons li {
			margin-bottom: 3px;
		}

		.essb_links_list {
			width: 100%!important;
			margin-right: 0!important;
		}

		@media (max-width: 640px) {

			.rrssb-buttons li.rrssb-facebook a .rrssb-icon {
				left: 0!important;
				width: 100%!important;
			}
			.rrssb-buttons li.rrssb-facebook a .rrssb-text {
				display: none!important;
			}

		}

		/* Landscape tablets and medium desktops */
		@media (min-width: 992px) and (max-width: 1199px) {

		}
		
		/* Large desktops and laptops */
		@media (min-width: 1200px) {
			.rrssb-line {
				display: none;
			}
		}

		
		body.archive .page-header {
			border-bottom: 2px solid #ff8300;
			margin-bottom: 20px;
			padding: 0;
		}
		
		#sub-cat {
			border-bottom: 2px solid #ff8300;
			margin-top: -10px;
			padding-bottom: 10px;
			padding-left: 0;
		}
		#sub-cat li{
			font-size: 17px;
			list-style: none;
			display: inline-block;
			padding-right: 10px;
		}
		#sub-cat .current-cat a{
			color: #ff8300;
		}

		
		
		body.single .cat h2,
		body.archive .page-title{
			margin: 0;			
			font-size: 18px;
		}
		body.single .cat a,
		body.archive .page-title{
			background-color: #ff8300;
			color: #fff;
			display: inline-block;
			padding: 6px 12px 2px;
		}
		body.single .entry-meta {
			margin-bottom: 20px;
			background-color: #f4f4f4;
			padding: 6px 10px;
		}
		body.single .cat-links {
			display: none;
		}
		.entry-meta {
			color: #777;
			font-size: 14px;
		}
		
		.entry-meta a{
			
		}

		body.single .entry-content {
			line-height: 1.6;
		}
		
		.meta-content .table {
			width: auto;
		}
		.meta-content .table th,
		.meta-content .table td {
			padding: 8px 8px 4px;
		}
		.meta-content .table th{
			white-space: nowrap;
			font-size: 15px;
			background-color: #f4f4f4;
		}
		.meta-content .table td{
			font-size: 15px;
		}
		.entry-footer {
			
		}
		
	
	.navigation {
		
	}
		.nav-previous {
			
		}
		.nav-next {
			
		}
	.item {
		margin-bottom: 15px;
	}
		.item .pic{
			
		}
		.item .pic img{
			width: 100%;
		}
		.featured-view .item .info {
			background-color: #f4ede0;
			padding: 12px 14px 12px;
		}
		.item .info {
			line-height: 1.62;
		}
		.item h1 {
			font-size: 1.4em;
			line-height: 1.5;
			margin: 0;
		}
		.featured-mini-view h1 {
			line-height: 1.2;
			margin-top: 10px;
			font-size: 20px;
			
		}
		#cat-featured .item h1 {
			line-height: 1.3;
		}
		.list-mini-view .item h1,
		.list-view .item h1 {
			font-size: 14.5px;
			font-family: sans-serif;
			font-weight: normal;
			font-weight: normal;
		}
		.list-view.archive .item h1 {
			font-size: 1.6em;
			line-height: 1.3;
		}
		.item h1 a{
			
		}
		.entry-meta .byline,
		.item .entry-footer{
			display: none;
		}
		.item .entry-meta{
			margin: 5px 0;
			font-size: 12px;
		}
	
		.item .entry-meta a{
			color: #777;
		}
		
		.item .entry-content {
			font-size: 13px;
			line-height: 1.7em;
			position: relative;
			height: 6.8em;
			overflow: hidden;
		}
		.item .entry-content:after {
			content: "";
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 70%;
			height: 1.7em;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
		}
		.featured-view .item .entry-content:after {
			background: linear-gradient(to right, rgba(244, 237, 224, 0) 0%, rgba(244, 237, 224, 1) 50%);	
		}
		
		
		#comments {
			margin-top: 25px;
			padding: 5px 15px 1px;
			background-color: #f4f4f4;
			border-top: 2px solid #111;
		}
		#comments >h3,
		#comments >p{
			display: none;
		}
		@media (min-width:992px){
			.site-content {
				padding: 0 0 30px;
			}				
			body.single .cat {
				margin-left: 0;
				margin-right: 0;
			}			
			.featured-view .item .info {
				min-height: 212px;
			}
		}
		
		
	.site-header-etc .links{
		display: none;
	}
#banners{
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
	#banners h2.sec-title{
		position: relative;
		display: inline-block;
	    padding: 3px 10px 1px;
	    margin-left: -15px;
	    font-size: 19px;
	    color: #fff;
	    background-color: #FF8201;
	}	
		#banners .item h1 a:hover{
			opacity: 0.8;
		}
		#banners h2.sec-title:after{
			content: '';
			position: absolute;
			top: 0px;
			right: -4px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 26px 4px 0 0;
			border-color: #ff8001 transparent transparent transparent;
		}
		
	
	#banners .col-blog{
		margin-top: -15px;
		padding-bottom: 1px;
	}
	#banners .col-slide .item{
		margin-bottom: 0;
		overflow: hidden;
		max-height: 220px;
	}
	#banners .col-moni .item,
	#banners .col-blog .item{
		
	}
	
	 .col-blog .pic{
	 	width: 42%;
	 }
	 .col-blog .info {
	 	width: 58%;
	 	font-size: 14px;
	 }
	
	#banners .col-moni a.readmore:hover {
		opacity: 1;
		color: #ff8200;
	}

	#banners .col-moni a.readmore {
		font-family: 'karnvayla';
		font-size: 14px;
		color: #ad5800;
		float: right;
		display: block;
		margin-right: -2px;
		padding: 6px 0;
	}

	#banners .col-slide{
		position: relative;
	}
		#banners .col-slide.owl-theme .owl-controls .owl-buttons div{
			position: absolute;
			top: 50%;
			margin-top: -23px;
			font-size: 40px;
			background: transparent;
		}
			#banners .col-slide.owl-theme .owl-controls .owl-buttons .owl-prev{
				left: 0;
			}
			#banners .col-slide.owl-theme .owl-controls .owl-buttons .owl-next{
				right: 0;
			}
		#banners .col-slide.owl-theme .owl-controls{
			margin-top: 0;
		}
	
	.col-blog{
		background-color: #F7EDE3;
	}	
		.col-blog .pic img{

		}
		.col-blog .item h1{
			margin-top: 5px;
			font-size: 13px;
		}
			.col-blog .item h1 a{
				color: #615445;
			}
			.col-blog .info{
				padding-left: 5px;
			}
		.col-blog .entry-meta{
			font-size: 16px;
			white-space: nowrap;
			max-width: 150px;
			overflow: hidden;
		}
			#banners .entry-meta a{
				color: #000;
			}
				
	.col-slide{
		background-color: #000;
	}
		.col-slide .pic img{
			width: 100%;
		}
		.col-slide .item {
			position: relative;
		}
		.col-slide .item .info{
			padding: 12px 15px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		
			 .col-slide .info h1{
			   	font-size: 20px;
			   	text-shadow: 0 0 28px #000;
			   	line-height: 1.2;
			 }
			.col-slide .info h1 a{
				color: #fff;
			}
			
	.col-moni{
		height: 400px;
		background-color: #f7ede3;
	}
		.col-moni .item{
			margin-bottom: 13px;
		}
		.col-moni .info h1{
			font-size: 12px;
		}
			.col-moni .info h1 a{
				color: #615445;
			}
			
		.col-moni .entry-meta{
			display: none;
		}
		
	.col-news,.col-news-large, .col-ad {
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-blog, .col-moni {
		padding-left: 15px;
		padding-right: 15px;
	}
	
.sec {
	clear: both;
	border-bottom: 1px solid #111;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#head-ad {
	width: 100%;
	clear: both;
	margin-top: 10px;
	text-align: center;
}

.sec-ad {
	clear: both;
	border-bottom: 1px solid #111;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.news-ad {
	margin-bottom: 30px;
	text-align: center;
}

	h2.sec-title {
		
	}
	h2.sec-title-alt {
		font-size: 20px;
	}
	h3.article-title{
		margin-bottom: 5px;
	}
	
	
	
	#sec-auto .featured-view .entry-content {
		display: none;
	}
	#sec-auto .featured-view .info {
		min-height: 102px;
	}
	
	/* TEMP */
	#sec-pr img {
		/**margin-bottom: 15px;**/
	}

	#sec-columnist{
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}	
		/**#sec-columnist .item{
			border: 1px solid #E1CEB1;
		}
			#sec-columnist .author{
				padding: 5px 10px;
			}
				#sec-columnist .author img{
					border-radius: 200px;
				}
				#sec-columnist .author h3{
					margin: 14px 0 0;
					font-size: 16px;
				}
				
			#sec-columnist .info{
				padding: 10px;
			}
				#sec-columnist .info h1{
					margin-bottom: 5px;
					font: normal 0.9em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
				}
				
				#sec-columnist .info .entry-meta{
					margin: 0;
					font-size: 0.8em;
				}
		**/
		
		.items-columnist{
			padding: 0 15px;
		}
		.items-columnist .col-sm-3:nth-of-type(4n+1){
			clear: left;
		}
			.items-columnist .pic{
				padding-right: 0;
			}
				.items-columnist .pic img{
					border-radius: 50%;
				}
			.items-columnist .item h3.entry-title{
				margin: 20px 0 0;
				font-size: 18px;
			}
			
.col-public, .col-oil, .col-rate, .col-set, .col-lotto{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}			
	.col-public{
		/*width: 35%;*/
		width: 31%;
	}
	.col-oil{
		/*width: 18%;*/
		width: 22%;
	}	
	.col-rate{
		width: 23.5%;	
	}
		.col-rate .bg{
			padding: 10px;
			min-height: 282px;
			color: #fff;
			text-align: center;
			background-color: #00AA4A;
		}	
	
	.col-set{
		width: 23.5%;
	}
		.col-set .bg{
			padding: 10px;
			min-height: 282px;
			color: #fff;
			text-align: center;
			background-color: #7BABFF;
		}	
		
	.col-lotto{
		width: 47%;
		
	}
		.item-lotto {

		}
			.item-lotto h1{
				font-size: 20px;
				margin-bottom: 5px;
				color: #111;
			}
			.item-lotto small{
				font-size: 16px;
			}
			.item-lotto b{
				color: #ff8200;
				font-weight: 600;
			}
			.item-lotto table {
				width: 100%;
				color: #fff;
			}
			.item-lotto table th {
				background-color: #CB6800;
				padding: 2px 8px;
				text-align: right;
				border-right: 1px solid #fff;
				font-size: 17px;
			}
			.item-lotto table td{	
				background-color: #FF8708;
				padding: 2px 8px;
				text-align: right;
				font-weight: bold;
				border-right: 1px solid #fff;
				color: #fff;
				letter-spacing: 1px;
			}
			.item-lotto table th:last-child,
			.item-lotto table td:last-child{
				border: none;
			}
			.item-lotto td.l1,
			.item-lotto td.l2{
				font-size: 20px;
			}
			.viewall {
				margin: 10px 0 0;
				text-align: right;
			}

		
			    

/* .pagination */				
ul.pagination{
	
}	
	ul.pagination>.active>a, 
	ul.pagination>.active>span, 
	ul.pagination>.active>a:hover, 
	ul.pagination>.active>span:hover, 
	ul.pagination>.active>a:focus, 
	ul.pagination>.active>span:focus{
		background-color: #FF8300;
		border-color: #EF7300;
	}	
	ul.pagination>li>a, 
	ul.pagination>li>span,
	ul.pagination>li:first-child>a, 
	ul.pagination>li:first-child>span{
		color: #C7B190;
		border: 1px solid #C7B190;
		border-radius: 0 !important;
	}	
	ul.pagination>.disabled>span{
		display: none;
	}	
				
#wp_rp_first {
	margin-top: 30px;
}	
	
/* #secondary.widget-area {} */
.widget-area {
	padding: 0;
	font-size: 13px;
}
	.widget-area .widget-title{
		background-color: #222;
		color: #fff;
		padding: 6px 10px 3px;
	}
	
	.side-ad {
		margin: 30px 0 ;
		background: url(img/ad-side.jpg) no-repeat #f4f4f4;
	}
	
	#secondary .entry-title {
		font-size: 13px;
	}
	#secondary .entry-meta {
		font-size: 11px;
		padding: 0;
		background: none;
		margin: 5px 0 0;
	}
/* #colophon.site-footer */
.site-footer {
	font-size: 14px;
	background-color: #000000;
	color: rgba(255, 255, 255, 0.58);
	padding: 10px;
	text-align: center;
	
}
.site-footer a{
	color: rgba(255, 255, 255, 0.8);
}



.hidden-mb{
	display: none !important; 
}
.container {
    padding-left: 0;
    padding-right: 0;
}

.related_post_title {
	border-top: 2px solid #111;
	padding-top: 15px;
}
ul.related_post {
margin: 20px -10px;
padding: 0;
overflow:hidden;
}
ul.related_post li {
float:left;width:25%;padding:0 10px;
list-style:none;
}
ul.related_post li a {
display:block;
}
ul.related_post li img {
margin-bottom: 10px;
}
ul.related_post .wp_rp_title {font-size: 16px; line-height: 1.4;}

.related-content ul {
	list-style: none;
	margin-left: -10px;
	margin-right: -10px;
	padding: 0;
}
.related-content ul li a h4 {
	margin-top: 10px;
}

@media (max-width: 769px) {

	.related_post_title {
		margin-bottom: 5px;
	}

	.related-content ul li {
		clear: both;
		margin-bottom: 10px;
	}
	.related-content ul li a img {
		width: 120px;
	    float: left;
	    padding-right: 10px;
	    margin-bottom: 10px;
	}

}

/* Lotto */
.lotto {
	border: 2px solid #ff8300;
	padding: 2px;
}

.lt{
	font-size: 14px;
	border: 1px solid #fff;
}
.lt.no-1,
.lt.prefix-3,
.lt.subfix-3,
.lt.subfix-2 {
	font-size: 30px;
}
.lt.near-no-1,
.lt.no-2 {
	font-size: 25px;
}
.lt h2{
	background-color: #ff8300;
	color: #fff;
	margin: 0;
	text-align: center;
	padding: 4px 10px 2px;
	font-size: 20px;
}
.lt .prize {
	background-color: #eee;
	text-align: center;
	font-size: 13px;
}
.lt .result {
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	word-spacing: 10px;
}
.lt.no-2 .result,
.lt.no-3 .result,
.lt.no-4 .result,
.lt.no-5 .result {
	padding: 8px 0 6px;
}

@media (min-width:768px){
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.sec {
		padding-left: 0;
		padding-right: 0;
	}
	.site-header-etc .ad {
		width: 728px;
		height: 90px;
		margin: 10px auto;
		background: url(img/ad-top.jpg) no-repeat #f4f4f4;
	}

	
	body.single .s-share .essb_network_name{
		display: inline !important;
		font-size: 11px;
	}
	.col-slide .info h1{
	  	font-size: 28px;
	  	line-height: 1.2;
	}
	#banners .col-slide .item{
		max-height: 400px;
	}
	li.essb_item.essb_link_line {
		display: none;
	}
}
@media (min-width:992px){
	.container{
		width: 960px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.site-logo-classic {
		width: 98px;
		left: auto;
		right: 10px;
		bottom: 70px;
	}
	.site-social {
		float: right;
		display: block;
		padding-top: 8px;
		padding-right: 112px;
	}
	.site-social a{
		display: inline-block;
		font-size: 15px;
		border-radius: 50%;
		width: 28px;
		border: 1px solid #222;
		height: 28px;
		text-align: center;
		line-height: 28px;
		margin-left: 6px;
	}
	.site-social a i{
		line-height: 28px;
	}
	.site-social a:hover{
		border: 1px solid #ff8300;
		color: #fff;
		background-color: #ff8300;
	}
	.site-branding {
		padding: 30px 0 20px;
		height: 90px;
	}
	.site-title .logo {
		width: auto;
		display: block;
		line-height: 1;
		margin-left: 0;
	}
	.site-header-etc {
		margin: 15px 0;
		text-align: center;
	}
	body.home a.read-more {
		float: right;
		margin-top: -26px;
	}
	.col-slide .info h1{
	  	font-size: 32px;
	  	line-height: 1.3;
	}
	.content-area {
		float: left;
		width: 610px;
	}		
	.sec {
		padding-left: 0;
		padding-right: 0;
	}	
	h2.sec-title-alt {
		margin: -30px 0 5px;
		height: 25px;
	}	
	.col-news {
		width: 36.6666666%;
		float: left;
	}
	.col-news-large {
		width: 73.3333333%;
		float: left;
	}
	.col-news-large .featured-news {
		margin: 0 -4px 0;
		overflow: hidden;
	}
	.col-news-large .featured-news .item {
	    width: 33.33333%;
	    float: left;
	    padding: 0 4px;
	 }
	 .col-news-large .featured-news .item h1{
	 	line-height: 1.3;
	 }
	.col-ad {
		width: 26.6666666%;
		float: left;
	}
	.col-ad .info{
		padding-bottom: 10px;
	}
	.widget-area{
		float: right;
		width: 300px;
	}
	.widget-area .pic {
		padding-right: 5px;
	}
	#banners .col-slide .item{
		max-height: 320px;
	}
	.col-blog, .col-moni {
		width: 230px;
		float: left;
		height: 320px;
		padding-bottom: 0;
	}
		#banners .col-blog{
			margin-top: 0;
			overflow: hidden;
		}
		#banners .col-moni{
			position: absolute;
			right: 0;
		}
			#banners .col-moni .item a{
				padding: 0;
			}			
	.col-slide {
		width: 480px;
		height: 320px;
		float: left;
		padding-left: 0;
		padding-right: 0;
	}
		#banners .col-slide{
			position: absolute;
			right: 230px;
		}
			
	.hidden-mb{
		display: block !important;
	}
	.widget-area {
		display: block;
	}
	body.single .s-share .essb_network_name{
		display: none !important;
	}
	
	.lt{
		background-color: #fff;
	}
	.lt.no-1,
	.lt.prefix-3,
	.lt.subfix-3,
	.lt.subfix-2 {
		width: 50%;
		float: left;
	}

	.lt.near-no-1,
	.lt.no-2 {
		width: 100%;
	
	}


	
	
	.site-footer .copyright{
		text-align: left;
	}
	.site-footer .stat{
		text-align: right;
	}
}

@media (min-width:1200px){
	.container{width: 1200px;}
	#banners .col-blog,
	#banners .col-moni{
		height: 400px;
	}
	#banners .col-slide {
		width: 580px;
		height: 400px;
		right: 300px;
	}
	.col-moni, .col-blog{
		width: 300px;
	}
	.content-area {
		width: 840px;
	}
	.site-header-etc {
		overflow: hidden;
		display: block;
	}
	.site-header-etc .ad{
		float: left;
		margin: 0;
	}
	.site-header-etc .links{
		float: right;
		display: block;
		text-align: left;
		width: 437px;
		background-color: #f2f2f2;
		height: 90px;
		padding: 10px 15px;
	}
	.site-header-etc .links ul{
		padding: 0;
	}
	.site-header-etc .links li{
		list-style: none;
		display: inline;
		font-size: 12px;
		line-height: 2;
		margin: 0 2px;
	}
	.site-header-etc .links a{
		color: #666;
	}
	.site-header-etc .links a:hover{
		color: #222;
		font-weight: bold;
	}
	.site-header-etc .links h4{
		margin: 0;
		font-size: 14px;
		display: inline;
		float: left;
		background-color: #222;
		padding: 6px 8px 4px;
		color: #fff;
		margin: -10px 20px 0px -15px;
		position: relative;
	}
	.site-header-etc .links h4:after {
	    content: '';
	    position: absolute;
	    top: 0px;
	    right: -4px;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 26px 4px 0 0;
	    border-color: #222 transparent transparent transparent;
	}
	#banners .col-slide .item{
		max-height: 400px;
	}
	.col-public{
		width: 35%;

	}
	.col-oil{
		width: 18%;

	}	
	
	
	body.single .site-main .col-sm-2{
		width: 150px;
	}
	body.single .site-main .col-sm-10{
		width: 710px;
	}
	body.single .s-share .essb_network_name{
		display: inline !important;
	}
	.item-lotto {
		position: relative;
	}
	.item-lotto .viewall{
		position: absolute;
		right: 0;
		top: 0;
		margin: 2px 0 0;
	}
	.item-lotto th{
		line-height: 1.2;
	}
	.item-lotto td{
		line-height: 1.3;
	}
	
	body.single .s-share li,
	body.single .s-share li a {
		width: 100% !important;
	}
	
	
}






/* Popular Post Plugin */
.tptn_counter {
	display: none;
}
.tptn_posts_widget li{
	display: block;
	clear: both;
	margin-bottom: 18px;
	overflow: hidden;
	position: relative;
}
.tptn_posts_widget .tptn_thumb{
	float: left;
	width: 91px;
	margin-right: 15px;
}
.tptn_posts_widget .tptn_title{
	padding-left: 107px;
	display: block;
	
}
.tptn_posts_widget li::after {
	content: "1";
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	background-color: #ff8200;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	width: 16px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.tptn_posts_widget li:nth-child(2)::after{content: "2";}
.tptn_posts_widget li:nth-child(3)::after{content: "3";}
.tptn_posts_widget li:nth-child(4)::after{content: "4";}
.tptn_posts_widget li:nth-child(5)::after{content: "5";}
.tptn_posts_widget li:nth-child(6)::after{content: "6";}
.tptn_posts_widget li:nth-child(7)::after{content: "7";}
.tptn_posts_widget li:nth-child(8)::after{content: "8";}
.tptn_posts_widget li:nth-child(9)::after{content: "9";}
.tptn_posts_widget li:nth-child(10)::after{content: "10";}




/* รำลึก ปอ ทฤษฎี */
body.page-id-10720 .entry-header,
body.page-id-514 .entry-header{
	display: none;
}
body.page-id-10720 .cover-content,
body.page-id-514 .cover-content {
	padding: 0;
}
body.page-id-10720 .cover-content > img,
body.page-id-514 .cover-content > img {
	width: 100%;
	margin: 0;
}
.cover-content iframe {height: 270px !important;}
  @media screen and (min-width: 992px) {
  	body.page-id-10720 .site-header,
  	body.page-id-514 .site-header {
  		padding: 90px 0 0;
  	}
  	.cover-content iframe {height: 600px !important;}
  }
  
  /* Add By Unixdev 2016-06-01 */
  
  div#searchbox{
/*      display: none;*/
      width: 140px;
      overflow-x: hidden;
  }
  div#searchbox span.sf_block{
      width: 140px;
  }
  
  div.eurobanner{
      margin: 20px 0 20px 0;
  }
  
  div.eurobanner-mobile{
      margin: 20px 0 20px 0;
      display: none;
  }
  
  @media screen and (max-width: 768px) {
  	div.eurobanner{
            margin: 20px 0 20px 0;
            display: none;
        }
        div.eurobanner-mobile{
            margin: 20px 0 20px 0;
            display: inherit !important;
            text-align: center;
        }
  }
  
  /* End Add */
  
    /* olympic2016 Unixdev */

    #olympic2016{
        width : 100%;
        margin-bottom: 30px;
    }

    #olympic2016 thead tr{
        background-color: rgba(185,218,137,1);
        height: 45px;
    }
    
    #olympic2016 thead tr th{
        text-shadow: 0px -2px 3px #ffffff, -2px 0px 3px #ffffff, 0px 2px 3px #ffffff, 2px 0px 3px #ffffff;
        text-align: center;
        color: rgba(11,148,68,1);
        font-size: 1.3em;
    }
    #olympic2016 tbody tr{
        border-bottom: 1px solid rgba(11,148,68,0.7);
        height: 40px;
    }
    #olympic2016 tbody tr td{
        text-align: center;
    }

    /* End add by unixdev */

/* ud black ribbon */

.ud-ribbon {
    position:fixed;
    top: 0;
    left:0;
    z-index: 9999;
}

@media only screen and (max-width: 480px) {
    .ud-ribbon {
        width: 80px;
    }
}