/*- Marinelli styles - Drupal6x - 16/09/08 @ author:signalkuppe: www.signalkuppe.com */

/* ########## Links ########## */
/* ########## In the css you will find everything about template's links (link colors, hover properties ecc...) ######### */


a{
color: #005a8c;
text-decoration:none;
	}
	
#primary .node .content a{
text-decoration:none;
	}
	
/*books forum and fieldsets*/
#primary .node .content .book-navigation a,
#primary .node .content .forum a,
#primary .singlepage form legend a{
text-decoration:none;
	}
	
#primary .node .content .book-navigation a:hover{
color: #005a8c;
background:none;
text-decoration:underline;
	}

/*hover state (links in content, block, and front page titles)*/
#primary .node .content a:hover {
	text-decoration:underline;
}
.defaultblock a:hover,
#primary h2.nodeTitle a,
#primary .linksteaser a:hover,
#primary #comments a:hover,
#primary .taxonomy a:hover,
#primary .links a:hover,
#primary .path a:hover,
#primary .metanode a:hover,
#primary .admin a:hover,
#primary dl dt a:hover,
#first-time a:hover{
	background-color:#FFF2E8;
	color:#333;
	text-decoration:none;
	border:dashed;
	border-color: #F93;
	border-width: thin;
	}


#submenu ul li a {
	color:black;
	background: #d1ff58;
	border: solid;
	border-width: 1px;
	border-color: #000;
	padding-left: 10px;
	padding-right: 10px;
	border-top-style:none;
	}
#submenu ul li a:hover {
	background: #9dd900;
}
#submenu ul li a.active{
	color:black;
	background: #9dd900;
	border: solid;
	border-width: 1px;
	border-color: #000;
	padding-left: 10px;
	padding-right: 10px;
	border-top-style:none;
	}
	
#primary .tabs .secondary li a{  /* tabs secondary */
   margin: 12px 12px 12px 0px;
	}

#header h1 a, #header p a{color: #fff;}

#header h1 a:hover, #header p.sitetitle a:hover{text-decoration:underline;}

#utilities #plinks ul li a { /*primary links*/
	color: white;
	background: #e92800;
	border: solid;
	border-color:#FC6;
	text-transform:capitalize;
	padding:2px 10px 2px 10px;
	border-bottom-style: none;
	border-width: 1px;
	}

#utilities #plinks ul li a:hover {
	color: black;
	text-decoration: none;
	border-color: #FC6;
	bottom: inherit;
	/*padding:10px 10px 7px 10px;*/
	border-bottom-style: none;
	background-color: #FFFFCC;
}

#utilities #plinks ul li a.active,
#utilities #plinks ul li a.active:hover {
	color: #fff !important;
	background: #054b81;
	text-decoration: none;
	font-weight:bold;
	}	
#footer a{
	color: #0073B0
}
#footer a:hover{text-decoration: underline;}


/*forums*/
#primary .help .help a, #primary .help .help a:hover{ color: #990000;font-weight:bold;}	