html{
	height:100%;
	min-height:100%;
}
/*
html *{
	padding:0;
	margin:0;
}
*/
body{
	background:#fff;
	color:#666;
	font-family:open sans,sans-serif,Arial,Helvetica;
	height:100%;
	min-height:100%;
	line-height:1.5;
}

h1,h2,h3,h4,h5,h6{
	font-family: open sans,sans-serif,Arial,Helvetica;
	letter-spacing: 0.03em;
	line-height:1.4;
}
h1{	font-size:3em;}
h2{	font-size:1.6em;}
h3{	font-size:1.4em;}
h4{	font-size:1.3em;}
h5{	font-size:1.2em;}

a {
    color: #20c6ce;
    text-decoration: none;
}
a:hover,
a:visited{
    color: #30aec8;
    text-decoration: none;
}
p{
	margin: 0 0 10px;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
	padding-left:40px;
}
/***********  main content  ********************/

.header{
	background:url('/images/headers/blue-atom.jpg') no-repeat scroll center center / cover;
	background-color:#024a84;

	padding-bottom:30px;
	color:#fff ;
}
/*
#content{
	min-height:560px;
}
*/
/*********** webpush template header  ********************/
.webpush  .header{
	background:url('../img/bg-webpush.jpg') no-repeat  center center / cover #40a0ad;
	background-color:#40a0ad;
 }
/*********** end of webpush template header  ********************/

/*********** photobg template header  ********************/
.photobg  .header{
	background:url('../img/bg-index.jpg') no-repeat  center center / cover #40a0ad;
	background-color:#40a0ad;
 }
/*********** end of photobg template header  ********************/

 
.mainnav{
	position: relative;
	padding:5px;
}
.navbar-brand {
	padding:5px 15px;
}

.topmenu > li a {
	/*padding:12px 0; */
	margin:5px 10px;
}

.navbar-inverse .topmenu > li a {
	color:#fff;
	text-shadow:none;
}
.navbar-inverse .topmenu ul.dropdown-menu{
	border-color:rgba(0,0,0,0.7);
}
.navbar-inverse .topmenu ul.dropdown-menu li a {
    background-image: linear-gradient(to bottom, #3c3c3c 0px, #222 100%);
    background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.7);
	opacity:1;
}

.topmenu > li a:hover,
.topmenu > li a:focus{
   background:transparent;
   color:rgba(256,256,256,0.75); 
  
   /*border-bottom:2px solid rgba(256,256,256,0.75);*/
}
.topmenu  .open > a:focus{
	background:rgba(80,80,90,0.9);
	position:relative;
	z-index:55;
}

.open a.dropdown-toggle:hover,
.open a.dropdown-toggle:focus{
	border-bottom:none!important;
	background:rgba(80,80,90,0.9)!important;
}

.topmenu > li.open a.dropdown-toggle{
    /*padding: 17px 20px; */
    padding: 20px 25px; 
    margin: 0;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav .open > a.dropdown-toggle:hover {
   /* background-color: rgba(80,80,90,0.9);
    border-color: rgba(80, 80, 80, 0.75);
	*/
    background-color:transparent!important;
    border-color: transparent;
}

.navbar-inverse  .topmenu  .open > a:focus{
    background: linear-gradient(to bottom, #080808 0px, #0f0f0f 100%);
    background: #080808;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

#main-nav.navbar-fixed-top {
	background:rgba(80,80,90,0.95);
    box-shadow: 0 2px 2px rgba(0,0,0,.12);
	border:0;
	padding: 7px 0 0;
}
#main-nav.navbar-fixed-top .navbar-brand {
	height:auto;
}
.topmenu > li{
	float:left;
	font-size:1.1em;
	line-height:49px;
	/*padding-left:1em;
	text-transform:uppercase;
	*/
	list-style:none;
}
.navbar-fixed-top .topmenu > li {
    padding-left: 0;
}

.navbar-nav > li > a{
	line-height: 5px;
	text-shadow: none;
	color:#fff;
}

.navbar-toggle .icon-bar  {
	background:#fff;
}
.submit-form-group .btn-red {  display: block !important; }
@media (min-width: 992px) and (max-width: 1199px) {
    .topmenu > li {
        padding-left: 0;
    }
    .navbar .btn-red {margin-right: 3px}
}
@media (min-width: 769px) and (max-width: 991px) {
    .topmenu > li{
        padding-left: 0;
        font-size: 1em;
    }
    .topmenu > li > a {
        padding-left: 12px;
        padding-right: 12px;
    }
    .navbar.navbar-fixed-top .navbar-right .btn-red {  display: none; }
}
@media (max-width: 768px) {
    #main-nav.navbar-fixed-top {display: none}
    .navbar-right {padding-right: 15px}
    #topnav > li{ display: block; }
}
.topmenu > li a,
#regmenu > li a{
	color:#fff;
	text-shadow:none;
}

.topmenu > li:last-child a{
	padding-right:0;
}

.topmenu .dropdown-menu{
	background:rgba(80,80,90,0.95);
    box-shadow: 0 2px 2px rgba(80,80,90,0.45);
    border: 0 none;
	width:215px;
	padding:0;
	z-index:50;
}
.topmenu .dropdown-menu li a{
	font-size:0.9em;
	padding:8px 12px;
	/*border-bottom:1px solid rgba(50, 50, 50, 0.5);*/
	border-bottom:none;
	word-wrap: inherit;
	margin:0;
	color:#fff;
}
.topmenu .dropdown-menu li.active a,
.topmenu .dropdown-menu li a:hover,
.topmenu .dropdown-menu li a:active,
.topmenu .dropdown-menu li a:focus{
	/*background:rgba(0,0,0,0.25);
	background:rgba(80,80,90,0.95);*/
}

.topmenu .dropdown-menu .caret {
	display:none;
}

/*megamenu styles*/
.topmenu .dropdown .dropdown-menu.mega-menu {
    border: none;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.09);
    width: inherit;
	min-width:630px;
	line-height:1.5;
	/*right:0;*/
	left:0;
}	

.topmenu .dropdown .dropdown-menu{
	right: -90px;
}
.topmenu .dropdown .dropdown-menu::before {
    border-color: transparent transparent rgba(80, 80, 90, 0.95);
    border-style: solid;
    border-width: 0 10px 7px;
    content: "";
    height: 0;
    position: absolute;
    right: 50%;
    top: -7px;
    width: 0;
}


/*
.topmenu .dropdown .mega-menu::before {
    border-color: transparent transparent rgba(80, 80, 90, 0.95);
    border-style: solid;
    border-width: 0 10px 10px;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 0;
}*/

.topmenu .dropdown .dropdown-menu.mega-menu::before {
/*    right: 50px;*/
	left: 50px;
}




.mega-menu .menu_column{
    padding:15px;
    display: block;
    float: left;
    vertical-align: top;
	width:210px;
}

.mega-menu .menu-module{
    padding: 42px;
    background: #2C343D;
    border-radius: 0 0 4px 0;
    float:right;
}
.mega-menu .menu-module .menu-module-container > p{
	margin:20px auto;
}

.menu_column_head {
	text-transform:uppercase;
	display:block;
	padding:10px;
	margin-bottom:10px;
	border-bottom:2px solid rgba(256,256,256,0.85);
	/*line-height:1;*/
}
.mega-menu .menu_column_item{
	/*line-height:1;*/
}

.mega-menu .menu_column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mega-menu .menu_column ul  li a{
	line-height:1.1;
	display: block;
}

.menu-module_cta .btn{
	border-bottom:1px solid #f34242!important;
}

a.phonemenu {
    padding: 0!important;
    line-height: 0;
}
a.phonemenu i {
    top: -3px;
    margin-bottom: 2px;
}

.phonemenu .dropdown-menu li span{
	padding:8px 5px;
}
.phonemenu .dropdown-menu li a{
	padding:0;
}


/**** open menu on hover ****/
ul.nav li.dropdown:hover ul.dropdown-menu{
	display: block;
	margin:0;
}
 
a.menu:after, .dropdown-toggle:after {
	content: none;
}

/***** end open menu on hover ****/

/*********  top registration menu ************/
#regmenu{
	border-radius:5px;
	margin-left:20px;
}
#regmenu li{

}

#regmenu li .btn-login {background:rgba(256,256,256,0.25);	border-radius:5px 0 0 5px;}
#regmenu li .btn-login.single-btn {border-radius:5px;}
#regmenu li .btn-signup {background:rgba(245,70,70,0.9);	border-radius:0 5px 5px 0;}

#regmenu li .btn-login:hover{background:rgba(256,256,256,0.35);}
#regmenu li .btn-signup:hover{background:rgba(245,70,70,1)}

/*top phones*/
.phonemenu {
	margin-left:25px;
}
.phonemenu i {
  color: #fff;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.6em;
  width: 34px;
  height: 34px;
  margin:0;
  position: relative;
  background: transparent;
  text-align: center;
}

.open > a.phonemenu,  .open > a.phonemenu:focus, .open > a.phonemenu:hover,  .open > a.phonemenu:focus{
	outline:0;
	background:transparent!important;
}
a.phonemenu i:hover {
	outline:0;
	background:rgba(256,256,256,0.25);
}

.topphones .dropdown-menu {
	width:auto;
	left: -50%;
	margin-top: 8px;
}

.topphones .dropdown-menu > li a {
	border:none;
}
/*
.popover {
	background:rgba(80,80,90,1)
}
.popover.bottom > .arrow {
  border-bottom-color:rgba(80,80,90,1);
  border-bottom-color:rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after { 
  border-bottom-color:rgba(80,80,90,1);
}
.popover-content a {
	color:#fff;
}
.popover-content a:hover,
.popover-content a:visited{
	color:rgba(256,256,256,.9);
}
*/
/************************* alert design **********************************/
.alert-section {
    background: rgba(80,80,90,0.95);
    box-shadow: 0 2px 2px rgba(0,0,0,.12);
    padding:0;
	margin: 0;
    color: #fff;
    text-align: center;
}
.alert-section > div, 
.alert-section .alert {
	padding:0;
	margin:0;
}
.alert-section .close{
    color: #fff;
    text-shadow: none;
    margin: 10px;
    opacity: 0.6;
}

/**************************** topmenu registration form **************************/
.login-form {
	width:260px;
	padding: 15px 25px;
}
.login-form  * {
	font-size: 13px;
}
.login-form .btn {
	border-radius:3px!important;
}
.login-form .help-block {
    margin-top: 10px;
    line-height: 1.6;
}
.login-form .has-feedback .form-control {
    padding-left: 32px;
    padding-right: 12px;
}
.login-form .form-control-feedback {
    left: 0;
    color: #ACDBD2;
}
.submit-form-group {margin-top: -10px; margin-bottom: 5px }
.login-form .btn-login {
    background:rgba(245,70,70,1)!important;
	margin-top: 8px;
    margin-right: 15px;
    float: left;
	
}
.login-form .btn-login:hover {
    background:rgba(230,60,60,1)!important;
	color:#fff;
}


.login-form .btn-green + .help-block {
    float: left;
}
.login-form .social-signup {
    margin-bottom: 10px;
    text-align: center;
}
.login-form .social-signup-title {
    border-bottom: 1px solid #ddd;
    position: relative;
    top: -7px;
    margin-bottom: 12px;
}
.login-form .social-signup-title span {
    color: #777;
    display: inline-block;
    padding: 1px 6px;
    background-color: #fff;
    position: relative;
    top: 12px;
}
.login-form .btn-fb {
    margin-right: 4px;
}
.btn-social .fa {margin-right: 4px}
.btn-social.btn-md {
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.3) inset;
    font-size: 16px;
    padding: 7px 14px 8px 14px;
}
.btn-social:active {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4) inset;
    position: relative;
    top: 1px;
}
.login-form .btn-fb {background: #3864A3!important}
.login-form .btn-tw {background: #55ACEE!important}
.login-form .btn-gp {
    background: #fff!important;
    color: #DF4B38 !important;
    border: 1px solid #E2BDBD;
    box-shadow: 0 -1px 0 rgba(200, 120, 120, 0.5) inset !important;
}
.login-form .btn-gp:hover {
    background: #fffbf7!important;
    border-color: #e2a6a0;
}
.social-signup {
    margin-bottom: 25px;
}
.btn-social i {margin-right: 3px}
.btn-fb i {
    position: relative;
    top: 1px;
}
.reg-block .social-signup {
    margin-right: -30px;
    text-align: center;
}
.reg-block .social-signup-title {
    border-bottom: 1px solid #ddd;
    position: relative;
    top: -7px;
    margin-bottom: 15px;
}
.reg-block .social-signup-title span {
    color: #777;
    display: inline-block;
    padding: 1px 6px;
    background-color: #F2F5F4;
    position: relative;
    top: 9px;
    font-size: 14px;
}


.title-part {
	margin:3% 0;
}

.title-part > *{
	 margin-bottom: 3em;
}

.pulse-holder{
	margin-top:20%;
	padding-left:0;
}

.title-part h1{
	font-family:'Lato', sans-serif;
	font-size:6em;
	margin:0 10%;
}
.title-part .lead{
	font-size:1.8em;
	margin-left:10%;
	margin-right:10%;
}

.photobg .title-part h1{
	font-family:arvo, open sans,sans-serif,Arial,Helvetica;
	font-size:6em;
	margin:0 10%;
}

.float-blocks {
    width: 19%;
    display: inline-block;
    vertical-align: top;
	padding:20px 15px;
	min-height: 350px;
}


/************* singlepage template  ********************/
.content .title-part h1{
	font-size:2.8em;
}
.content .title-part .lead{
	font-size:1.8em;
	color:rgba(0,0,0,0.55)
}

.content .title-part, .content .title-part > *{
	margin:0;
}
.content .img-responsive {
	margin:10px auto 25px;
}

.application img {
	margin:10px 5px;
}
/************* end of singlepage template  ********************/


/************* email template  ********************/

.email .header{
	background:url('../img/bg-abstract.png') repeat #285780;
	background-color:#285780;
	
	padding-bottom:30px;
	color:#fff ;
}
.bullet-line {
	background:url('../img/bullet-line-short.png') no-repeat 50% 50% transparent;
} 
.line-right {
    border-top: 2px solid #1892b2;
    width: 35%;
    position: relative;
    left: 70%;
}
.line-left {
    border-top: 2px solid #1892b2;
    width: 45%;
    position: relative;
    left: -30%;
}
.email .item1 {
	position:relative;
	top:35px;
}
.email .item2 {
}
.email .item3 {
	position:relative;
	top:-50px;
}
/************* end of email template  ********************/


/************* smtp template  ********************/

.smtp .header{
	background:url('../img/bg-water.jpg') no-repeat 50% 50% / cover;
	/*background:#285780 url("../img/bg-blue1.jpg") no-repeat scroll 50% 50% / cover ;
	background:#285780 url("http://image.shutterstock.com/z/stock-photo-abstract-blue-background-technology-background-from-series-best-concept-of-global-business-226894858.jpg") no-repeat scroll 100% 0 / cover ;*/
	background-color:#285780;
	
	padding-bottom:30px;
	color:#fff ;
}

.title-part h1{
	font-family: 'Lato', 'Trebuchet MS', 'Pt Sans', sans-serif;
	font-size:4em;
	margin:0 5%;
}

    .gist-meta a:nth-child(2) {
        display: inline;
    }
    .gist-meta a{
        display: none;
    }
    .gist-meta {
        color: #F7F7F7 !important;
    }
    a.github-link {
        display: inline-block;
        font-weight: normal !important;
        color: #507E96 !important;
    }
    a.github-link:hover {
        color: #255A76 !important;
    }
    .gist .line {
        width: auto;
        padding: 0;
    }
    .gist .highlight {
        min-height: 200px;
    }
    .gist .line-numbers, .gist .line-data {
        vertical-align: top;
    }

.arr-pills {
    margin-bottom: 20px;
    text-align: center;
}
.nav-pills.arr-pills>li {
    margin-top: 5px;
    float: initial;
    display: inline-block;
}
.arr-pills a {
    color: #507E8F;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 2px 12px !important;
}
.arr-pills li.active a,
.arr-pills li.active a:hover,
.arr-pills li.active a:focus {
    position: relative;
    color: #2980b9 !important;
    background-color: #dee9ef !important;
    border: 1px solid #2980b9;
    box-shadow: 0 1px 1px rgba(0, 126, 73, 0.15);
    outline: none;
}
.arr-pills li.active a:after,
.arr-pills li.active a:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arr-pills li.active a:after {
    border-color: rgba(255, 192, 70, 0);
    border-top-color: #dee9ef;
    border-width: 8px;
    margin-left: -8px;
}
.arr-pills li.active a:before {
    border-color: rgba(207, 136, 0, 0);
    border-top-color: #2980b9;
    border-width: 9px;
    margin-left: -9px;
}

.smtp .bordered > div {
	min-height:260px;
}
.smtp .colored-icon i {
	color:#49a8e6;
}
/*********** end of smtp template  ****************/


/*********** triangle template alternative  ********************/
.triangle .header {
	background:url('/images/headers/big_triangle.jpg') no-repeat scroll center center / cover;
	background-color:#024a84;
 }
 
.triangle .header  h1{
	font-family: 'Lato', sans-serif;
	font-size:5em;
    margin-bottom: 0.5em!important;
 }
 
.triangle .header .lead{
	font-size:2em;
	margin:auto 10%;
 }
 
.triangle .header  .title-part > * {
    margin-bottom: 2em;
}  

.header .btn-lg {
    font-size: 120%;
}

.contentsection .fa-2x {
    font-size: 1.2em;
    margin: 10px;
    border:2px solid;
    padding: 12px 6px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
}

.atom .header {
	background:url('/images/headers/blue-atom.jpg') no-repeat scroll center center / cover;
	background-color:#00477d;
 }

 
/*********** end of triangle template alternative  ********************/

/*********** violet template alternative  ********************/
.violet .header {
	background-color:#0FCEC7;
	background:radial-gradient(circle at 80px 40px, #9B48F6, #429dd9, #0FCEC7);
}
 
.violet h1{
	font-family: 'Lato', sans-serif;
	font-size:2.8em;
    margin-bottom: 0.5em!important;
    margin-left: 0;
}
 
.violet  .lead{
	font-size:1.6em;
}
 
.violet .line{
	padding:3em 0;
}
 
.violet  .title-part > * {
    margin-bottom: 2em;
}

.violet .btn-lg {
    font-size: 120%;
}

.violet .btn  {
	padding:0.5em 2em;
	border-radius: 42px;
}

.violet .btn-round  {
	background-image: linear-gradient(-180deg, #FF99A8 0%, #FC657F 98%);
	box-shadow: 0px 10px 30px 0px rgba(56,22,27,0.31);
}
.violet .btn-round:hover {
	background-image: linear-gradient(-180deg, #f08796 0%, #f05a74 98%);
	color:rgba(150,35,50,0.85);
}

.violet .header .btn-minor {
	margin-left:20px;
}

.violet  #regmenu li .btn-signup {
	border-radius:42px 0 0 42px;
}

.violet  #regmenu li .btn-login {
	border-radius:0 42px 42px 0;
}

.violet .mainfeatures  {
	font-size:12px;
}
.violet .mainfeatures img {
	width:80px;
}
/*********** end of violet template alternative  ***************/

/*********** sms template   *********************/
.sms .header {
	background:url('/images/headers/bg_darksms.jpg') no-repeat scroll bottom center / cover;
	background-color:#171d20;
 }

/*********** complex template  *********************/
.complete .header {
	background:url('/images/headers/complete.jpg') no-repeat scroll center center / cover;
	background-color:#495e82;
 }

.services{ padding:0!important; }

.services .row{
	display: table;
    height: 100%;
}
.services .row > div {
	display: table-cell;
	vertical-align:middle;
	padding:0;
	float:initial;
}
.rel-pic img {width: 100%}

.rel-text {
    padding-left: 40px!important;
    padding-right: 15px!important;
}

.steps > div {
	padding:0;
}

.steps > div p{
	padding:0 20px 10px;
}

.number {
	color:#314b62;
	font-size:3.6em; 
	font-family:'Lato', sans-serif;
	font-weight:700;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.number > span {
display: inline-block;
margin: 0 .4em;
}
.number > span:before,
.number > span:after {
content: '';
position: absolute;
width: 100%;
border-top: 1px solid #f1c40f;
margin-top: .8em;
}

.number > span:before {
margin-left: -102%;
}
.number > span:after {
margin-left: 2%;
}
	
div.img-circle{
	border-radius:50%;
	overflow:hidden;
	max-width:150px;
	max-height:150px;
	margin-bottom:20px;
}
div.img-circle > img{
	min-height: 150px;
    width: 150px;
}


@media all and (min-width :870px) {
	.first > span:before {
		border-top: none;
	}
	.last > span:after {
		border-top: none;
	}
}

.plans .panel {
    border: 0;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,.5);
    width: 95%;
	margin:2em auto;
}
.plans .panel-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.plans .panel-title + p {display: none}
.plans .panel-footer { background: #fcfcfc }
.plans ul {
    padding-left: 18px;
}
.plans li {
    margin-bottom: 5px;
}
.plans big {font-weight: bold}

.plans .panel-body {
    padding: 25px 15px;
}
.plans .panel-footer {
    padding: 15px 45px 20px 45px;
    color: #fff;
    text-align: center;
    border-top-color: rgba(0,0,0,0.1);
}
.plans big {font-size: 24px}
.plans .panel-bg-danger {background: #ee5734;}
.plans .panel-bg-warning {background: #F0AD4E;}
.plans .panel-bg-info {background: #5BC0DE;}
.plans .panel-bg-success {background: #5CB85C;}

.plans hr {
	border-top:#ddd;
	margin-bottom:20px;
}

@media (min-width: 768px) and  (max-width: 992px) {
    .plans .panel-body {
        padding: 20px;
    }
    .plans .panel-footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.social-block .img-circle {
    padding: 9px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-bottom: 3px;
    display: inline-block;
}

.top-heading .btn-green + span {color: #333}
.contact-modal .modal-header,
.contact-modal .modal-body,
.contact-modal .modal-footer {
    padding: 20px 25px;
}
.contact-modal .modal-title {
    font-weight: 600;
    color: #1BBC9B;
}
#contactModal .modal-dialog {
    z-index: 9999;
}
.complete #mod-visform7 textarea {
	resize:none;
}
.complete .well > *{
	margin:10px auto;
}

/*********** end of complex template   **************/
 
 /*********** price page *****************/

.pricepage .line{
	padding:2em 0;
}
.pricepage .title-part{
	margin: 1% 0;
}

.pricepage .panel-footer {
	background:#ededed;
}
.pricepage .panel {
	margin-top:3em;
	border:1px solid #e3e3e3;
}
.pricepage  .reg-panel {	margin-top:0; }

.pricepage .panel .space {
	height:2em;
}
.price_smtp .panel {
	/*background:#fafafa;*/
}
.pricepage .prices {
 /*********** price page *****************/
	/*font-size:2.2em;
	color:#24b5c2;*/
	margin:0.5em auto;
	font-weight:bold;
    font-size: 1.4em;
    margin: 0.5em auto;
    color: #31708f;
}
.pricepage .prices .small{
	font-size: 100%;
}
.pricepage .price2 {
	font-size:1.4em;
	margin:0.5em auto;
}
.pricepage .price2 span {
	display:block;
	font-size:50%;
	color:#888;
}

/*********** price page tab *****************/
.price-tab .line{
	padding: 1.5em 0;
}
.price-tab .header{
	padding-bottom: 0;
}
.price-tab .title-part {
    margin: -15px auto 15px;
}
.price-tab .line h2{
	margin-top: 0;
}
.price-tab .panel{
    margin: 0 20px;
}
.price-tab .panel-heading, 
.price-tab .panel-body {
    padding: 0 15px;
}
.price-tab .panel-body {
    min-height: 210px;
}

.price-tab  .vip .panel-body {
    min-height: 173px;
}
.price-tab .price_smtp .panel-body  {
    min-height: 225px;
}

.price-tab .panel .space {
	height:0.5em;
}
/*
.price-tab .panel #target_smtp_sent .space {
	height:1em;
}
*/
.target {
    background-color: rgba(230, 189, 78, 0.1);
}
.moreinfo{
	cursor:pointer;
	color:#20c6ce;
	position: relative;
	border-bottom: 1px dashed;
}
.moreinfo:after {
	content:"";
	position: absolute;
	bottom: 5px;
	right: -10px;
	width: 0;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 5px solid #20c6ce;
	border-bottom: 4px solid transparent;
	display:block;
}
.moreinfo:hover{
	color:#30aec8;
}
/*********** registration form page ********************/

.register_page #regmenu li .btn-login{
	border-radius:5px;
}

.register_page .line{
	padding: 1em 0;
}
.register_page .title-part {
    margin: -1% 0 3% 0;
}
.register_page .reg-panel {
    margin-top: -70px;
}

@media (min-width: 580px) {
    .register_page .reg-panel .panel-body {
        padding: 20px 40px 15px 40px;
    }
}
.register_page .form-control-feedback {
	right:15px;
	z-index:20;
}

.form-horizontal {
    position: relative;
}
.form-horizontal .form-group .inside-it-block {
    position: relative;
}
.form-horizontal .form-group .inside-it-block .form-control {
    padding-right: 34px;
}
.form-horizontal .form-group .inside-it-block .intl-tel-input {
    width: 100% !important;
}
.form-horizontal .form-group .inside-it-block .glyphicon {
    right: 15px;
    pointer-events: auto;
    cursor: pointer;
}
.register_page .btn-gp,
.register_page .btn-gp:hover,
.register_page .btn-gp:active,
.register_page .btn-gp:visited {
	color:#f64747;
}

.regModal .panel  {
	margin-bottom:0;
	border-bottom:none;
	box-shadow: none;
	text-align:left;
}
.regModal  h3  {
	text-align:center;
    margin-bottom: 0.6em;
    color: #413d4b;
    font-weight: bold;
}
.regModal .btn {
    font-size: 1em;
    color: #fff;
}

.regModal h3.login-title  {
	margin:-40px auto 0;
	padding:5px 30px;
	background:#fff;
	text-align:center;
	width:30%;
	
}
.regModal .login-form {
	width:auto;
	text-align:center;
}

.regModal .form-group  {
	margin-right:15px;
	margin-bottom: 15px;
}
.regModal .modal-header {
/*    background: #efefef;*/
	padding: 15px 20px;
    border-radius: 7px 7px 0 0;
}

.regModal  .btn-gp {
    background: #fff!important;
    color: #DF4B38 !important;
    border: 1px solid #E2BDBD;
    box-shadow: 0 -1px 0 rgba(200, 120, 120, 0.5) inset !important;
}
.regModal .btn-gp:hover {
    background: #fffbf7!important;
    border-color: #e2a6a0;
}
.regModal .login_link{
	padding: 10px 20px;
    /*text-align: right;*/
    /*display: block;
    background: #efefef;
    border-radius: 7px 7px 0 0;*/
}



/*********** button  ********************/
.btn{
	white-space: inherit;
	text-shadow:none;
	
	-moz-transition: color 0.5s ease-in-out;
	-webkit-transition: color 0.5s ease-in-out;
	transition: color 0.5s ease-in-out;
	
	cursor:pointer;
	}
.btn:hover, .btn:focus, .btn:visited{
	color:#fff;
}

.btn-lg{
	font-size:190%;
	line-height:200%;
}

.btn-md{
	font-size:145%;
	line-height:200%;
}

.btn-red, a.btn-red,
.visBtnCon input{
	background: #f64747;
	border-radius: 5px;
	border: 1px solid #f34242;
	
	text-decoration: none;
	color: #fff;
	
}
.btn-red:hover, a.btn-red:hover,
.btn-red:focus, a.btn-red:focus,
.visBtnCon input:hover,
.visBtnCon input:focus{
	background: #e84343!important;
	color:#fff;
	border: 1px solid #f34242!important;
}

.btn-green, a.btn-green{
	background: #1d8f85;
	border: 1px solid #198178;
	border-radius: 5px;
	
	text-decoration: none;
	color: #fff;
	
}
.btn-green:hover, a.btn-green:hover,
.btn-green:focus, a.btn-green:focus{
	background: #17807e!important;
	color:#fff;
	border: 1px solid #127472!important;
}

.btn-minor{
	background: none;
	border-radius: 5px;
	border:1px solid #fff;
	
	text-decoration: none;
	color: #fff;
	
}

.btn-minor:hover,
.btn-minor:focus{
	background: rgba(256,256,256,0.1);
	border:1px solid #fff;
}

.btn-blue{
	background: #2980b9;
	border-radius: 5px;
	border:1px solid #257cb4;
	
	text-decoration: none;
	color: #fff!important;
	
}
.btn-blue:hover,
.btn-blue:focus{
	background: #2676ab;
	color:#fff;
	border:1px solid #257cb4;
}


.readmore .btn {
	padding:0;
}
.readmore .btn:focus,
.readmore .btn:hover,
.readmore .btn:active{
	color:#30aec8;
}

.space {
    height: 4em;
	clear:both;
	float:none;
}

/*********** tables ********************/


.coloredtable th{
	background-image: linear-gradient(-180deg, #0bc2b5 0%, #06b0a4 98%);
	/*background:rgba(22,160,150,0.25);*/
	text-align:center;
	border:1px solid #0a9799!important;
	color:#fff;
}

.coloredtable .attention {
    background: none repeat scroll 0 0 rgba(45, 60, 80, 0.1);
}

.short-table {
	margin:0 auto;
	width:60%;
}

/*********** content ********************/

.line{
	width:100%;
	padding:4.5em 0;
}

.light{background:#fafafa;}
.beige{background:#f1f1ee;}
.white{background:#fff;}


.line h2,
.line h3,
.line h4,
.line h5,
.line h6{
	margin-top:1em;
	margin-bottom:0.6em;
	color:#413d4b;
	font-weight:bold;
	font-size:0.8;
}

.uppercase {
	text-transform:uppercase;
}

.mainfeatures .simple-feature {
	padding:1.5em;
	border-right:1px solid #ebebeb;
	width:20%;
}
.mainfeatures .simple-feature:last-of-type {
   border:0 none;
}

.mainfeatures .simple-feature:hover {
	background:#f5f5f5;
	cursor:pointer;
}

.mainfeatures .simple-feature p{
	min-height:120px;
}
.mainfeatures .simple-feature img{
  padding: 10px;
  max-width:100px;
}


.top-clients  img{
	width:120px;
	margin:1em 1.5em;
	
		-webkit-transition: all 1s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		transition: all 0.3s ease;	
					  
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.444 0.2222 0.2222 0 0 0.2222 0.2222 0.2222 0 0 0.2222 0.2222 0.4 0 0 0 0 0 0.4 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(60%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.top-clients  img:hover {
	cursor:pointer;
				filter:none; /* Firefox 10+, Firefox on Android */
				-webkit-filter: grayscale(40%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
				-ms-filter: none; 
}



.bordered > div {
	 border-right: 1px solid #ebebeb;
	 padding:3em 1.5em;
}
	
.bordered > div:last-of-type {
	 border-right:0 none;
}

.colored-icon  i{
	color:#28bfce;
}


/*********** testimonial page *************/
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.5;
}
.autor {
	line-height:1.2;
}
.noimage_client{
    width: 80px;
    height: 80px;
    background: #1bbc9b;
    border-radius: 50%;
    background-image: url(/images/justpulse-white.png);
    background-repeat: no-repeat;
    background-position: 15px;
       margin-left: 10px;
	   margin-bottom: 10px;
    opacity: 0.5;
    background-size: 60%;
}



/*********** breadcrumbs *************/
.breadcrumb {
	background:transparent;
	border-bottom:1px solid #f5f5f5;
	color:#aaa;
	padding-left:0;
}
.breadcrumb>.active {
    color: #aaa;
}
.breadcrumb .divider {
	display:none;
} 

/*********** about visform custom styles *************/

.visform input, .visform select, .visform textarea {
    border: 1px solid #ddd;
	border-radius:3px;
	margin-top:0;
	margin-bottom:10px;
}
.visform input:focus, .visform select:focus, .visform textarea:focus {
	border-color:#a9c9c9;
}

.visBtnCon input {
	border: 1px solid #f34242;
    padding: 1em 3.5em;
}
.visBtnCon input:hover{
	
}
/*
.visCSSlabel {
	width:100%;
}
*/
.vis_mandatory,
div.required > .asterix-ancor:after{
	display:none!important;
}

div.required > label.visCSSlabel {
	white-space: nowrap;
}

div.required > label.visCSSlabel:after {
	color:#e84343;
	opacity:0.65;
}

p.errorcontainer {
    padding-top: 5px;
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
}
p.errorcontainer:after {
	display:none;
}

label.error{
    width: 100%;
    margin: 0;
    display: block!important;
    max-width: 100%;
    min-width: 100%;
    text-align: left;
    border-radius: 0;
    color: #f64747;
    padding: 0;
	background: transparent;
}

.visforms-form form textarea {
  margin-top:15px;  
}

.form_addlogo label.error {
	padding-left:26%;
}

/*
.visform label {
	display:block!important;
}*/

/*********** end of visform custom styles *************/

/***********      news page styles   *************/
.blog .article-date {
	font-weight:bold;
    margin-bottom:5px;
}
.blog .page-header {
    padding-bottom: 0;
    margin: 30px 0 10px;
}

/*********** end of news page styles *************/


/*********** footer  ********************/
footer{
	min-height:30%;
	height:auto;
	background:#fff;
	border-top:3px solid #ebebeb;
	color:#888d8e;
}
footer .row{
	padding:1.5em 0;
}

.footerTop {
    overflow: auto;
    padding: 0;
	margin:0;
}
.footerTop dl{
	margin:0;
}

.navigation{
	/*min-height:13em;*/
}


.footerTop  dt {
    color:#20c6ce;
    text-transform:uppercase;
    padding:0 0 10px;
}

.footerTop  dd { padding-bottom:2px;}

.footerTop  dd a {color:#adb6b7;}
.footerTop  dd a:hover {color:#a1a8a9; text-shadow:none;}

.footerTop  dt a {color:#20c6ce; text-decoration:none;}

.footerTop > div{margin:1em 0!important;}

.footerBottom {
    border-top: 1px solid #ebebeb;
    overflow: hidden;
    padding: 12px 0;
}

.footerBottom .politics li{float:left; padding:0 1em;}
.footerBottom .politics li:last-child{ border-left:1px solid #ebebeb;}


/*********** footer social icons ****************/
.social {
  margin: 1em 0 0.5em;
  clear: both;
}

.social i {
  cursor: pointer;
  display: inline-block;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.social i {
  color: #c5c5c5;
  font-size: 14px;
  border: 2px solid #c5c5c5;
  border-radius: 50%;
  padding: 0.6em;
  width: 34px;
  height: 34px;
  margin: 0 0.5em 0.5em 0;
  position: relative;
  background: transparent;
  text-align: center;
}
.social i:hover {
  background: #c5c5c5;
  color: #fff;
}

/*** simple **/
.compare {
	font-family: open sans,sans-serif,Arial,Helvetica;
    font-size: 1.6em;
    margin: 3em;
}

.text-bold {
	font-weight:bold;
}

.glossary-seealso {
    background: #FCF8E3;
    padding: 10px;
}

.columns ul li {
	list-style:none;
}

.columns .terms>li b {
    font-size: 3.5em;
    width: 20%;
	font-weight:100;
	color:#34495e;	
}

.columns .terms>li ul {
    width: 75%;
    float: right;
	margin-left: 0;
	margin-top:13px;
	padding-left:10px;
	vertical-align:top;
}
.terms-en .terms>li ul {
	min-height:7em;
}
.seo_title{
	/*text-transform:lowercase;*/
}

.api_page p > a{
	padding-bottom:45px;
	display:block;
}
.api_page h2,
.api_page h3{
	margin-top:0;
}
 
 
.features_block img {
	width:80px;
}
/*********** pagination  ********************/
.counter {
	margin: 20px 0;
}
/*********** media quaries  ********************/

@media all and (max-width :1380px) {
	.pulse-holder{
		margin-top:10%;
	}
	.line {
		padding:2.5em 0;
	}
}

@media all and (max-width :1170px) {
}

@media all and (max-width :980px) {

	.mainfeatures .simple-feature,
	.float-blocks{
		width:33%;
		min-height: auto;
	}
}

@media all and (max-width :870px) {
	.header .nav > li {
		float:left;
	}
	
	.navbar-nav > li > a {
		line-height: 20px;
	}
	

	#header{
		background-size: initial;
		background-position: 0 0;
	}
}

@media all and (max-width :768px) {
	h1 {font-size:3em!important}
	.atom .header, 
	.header{
		background-image:none;
		background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(15,102,161,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(15,102,161,1)));
		background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(15,102,161,1) 100%);
		background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(15,102,161,1) 100%);
		background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(15,102,161,1) 100%);
		background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(15,102,161,1) 100%);
	}
	
	.navbar-collapse.in{
		background:rgba(80, 80, 90, 0.95); 
	}
	
	.clients-images img {
		max-width: 60%;
		max-height: 120px;
	}

	.dropdown-menu .menu_column {
		border-radius: 0;
		clear: both;
		display: block;
		float: none !important;
		height: auto;
		margin: 0 auto;
		vertical-align: top;
		width: 100%;
	}
	.dropdown-menu .mega-menu {
		width:100%;
	}

	.mega-menu .menu-module {
		padding: 10px 20px;
	}
	
	#regmenu {
		margin:10px auto;
	}
	
	#regmenu li a {
		border-radius:5px!important;
	}

	.line{
		padding:10px;
	}
	
	.bullet-line {
		background:none;
	}
	
	.line-right, .line-left { 
		display:none;
	}
	
	.email .item1,
	.email .item2,
	.email .item3
	{
		position:relative;
		top:0;
	}
	
	.mainfeatures .simple-feature p {
		min-height: auto;
	}
	.visCSSlabel {
		display: inline-block;
		float: none;
		width: 100%;
	}
	.visCSSinput, .editor {
		width:100%;
	}

	.mainfeatures .simple-feature {
		padding:1.5em;
		border-right:0;
		width:100%;
	}
	
	.pricepage .col-xs-12{
		clear:both;
		float:none;
	}
	
	.float-blocks{
		width:100%;
		display:block;
	}

}
@media all and (max-width :560px) {

	.nav>li {
		margin-bottom:10px;
		clear:both;
		display:block;
		width:100%;
	}
	.reg-panel {
    margin-top: -30px;
	}

	div.required > label.visCSSlabel {
    white-space: normal;
	}
	
	.coloredtable th,
	.table td,
	.glossary-seealso{
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
		min-width: 100px;
	}
}

@media all and (max-width :360px) {
	h1 {font-size:2.5em!important}
}

.sp-template-item {
    display: inline-block;
    width:  100%;
}
.sp-template-item .thumbnail {
    position:relative;
    display: block;
    padding: 0;
    box-shadow: 0 3px 5px -3px rgba(0,0,0,.2);
    min-height: 200px;
    margin-bottom: 25px;
}
.sp-template-item .thumbnail:hover {
    box-shadow: 0 6px 7px -4px rgba(0,0,0,.2);
}

.sp-template-item img {
    border-radius: 3px;
}

.sp-template-item h5 {
    margin: 0;
    color: #fff;
	font-size:1em;
}
.sp-template-item .caption {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(70, 106, 119, 0.87);
    height: 1px;
    transition: all 0.2s ease-out;
    border-radius: 0 0 3px 3px;
    color: #fff;
}
.sp-template-item .caption a { color:#fff }

.sp-template-item:hover .caption {
    display: block;
    height: auto;
}
.sp-templates .affix {
    top: 70px;
    max-width: 260px;
}
.nav.sp-sidenav a, .nav.sp-sidenav a:visited {
    border-radius: 6px;
    font-size: 14px;
    color: #555;
    line-height:0.8;
	padding:10px;
}
.nav.sp-sidenav a:first-letter {
    text-transform: uppercase;
}
.nav.sp-sidenav .active a,
.nav.sp-sidenav a.active  {
    background: #1BBC9B; 
    color: #fff !important;
}
.sp-templates .sp-tags>li {
    display: inline-block;
}
.sp-templates .sp-tags a {
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    padding: 6px 12px 6px 10px;
    border-radius: 1px 3px 3px 1px;
    margin: 4px 8px 4px 0;
    background-color: #D7E2E2;
    color: #444;
}
.sp-templates .sp-tags a:before, .sp-templates .sp-tags a:after {
    content: "";
    float: left;
    position: absolute;
}
.sp-templates .sp-tags a:before {
    top: 0;
    left: -7px;
    width: 0;
    height: 0;
    border-color: transparent #D7E2E2 transparent transparent;
    border-style: solid;
    border-width: 14px 7px 14px 0;
}
.sp-templates .sp-tags a:after {
    top: 12px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
}
.sp-templates .sp-tags a:hover:before {
    border-color: transparent #EEEEEE transparent transparent;
}
.sp-templates .sp-tags .active a,
.sp-templates .sp-tags a.active {
    background-color: #1BBC9B;
}
.sp-templates .sp-tags .active a:before,
.sp-templates .sp-tags a.active:before {
    border-color: transparent #1BBC9B transparent transparent;
}
.sp-template-sidebar .rating {
    margin-top: 15px;
}
.sp-templates .badge  {
	font-size:11px;
	line-height:0.8;
}

/*.sp-breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}
.sp-breadcrumb + h1 {
    margin-top: 0;
    line-height: 1.4;
}*/
/*.sp-templates .header {
    background: #0BA4A5 url('/wp-content/themes/sendpulse/img/sendpulse-templates-showcase.jpg') no-repeat 80% 100px !important;
}*/
.sp-simple-header .header,
.sp-template-details .header, .sp-templates .header {
    background: #fff !important;
}
/*.sp-templates #main-nav + .container {
    background: #0BA4A5 url('/wp-content/themes/sendpulse/img/sendpulse-templates-showcase.jpg') no-repeat 100% 100%;
}*/
.sp-template-preview {
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border:10px solid #fff;
}
.sp-template-details .pager {
    margin-top: 35px;
}
.sp-templats #content, .sp-template-details #content {
    margin-bottom: 50px;
    min-height: 600px;
}
.sp-template-details .pager li>a {
    border-radius: 22px;
    line-height: 1.4;
    padding: 7px 20px;
}
.sp-template-details .title-black, .sp-template-name {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 20px;
    margin-top: 20px;
}
.sp-template-name + .lead {
    font-size: 16px;
    font-weight: 400;
    color: #777;
}
@media (min-width: 992px) {
    .sp-template-details .title-black {
        width: 25%;
    }
    .sp-template-details h1.title-black span {
        width: 100%;
    }
    .sp-template-preview {
        float: right;
        margin-top: 30px;
    }
    .sp-templates .affix {
        width: 212px;
    }
}
@media (min-width: 1200px) {
    .sp-templates .affix {
        width: 262px;
    }
    .sp-template-preview ~ .col-sm-offset-1 > p {
        margin-right: -40px;
    }
}
@media (max-width: 992px) {
    .sp-templates .affix {
        position: relative;
        top: 0;
        max-width: none;
    }
}

.sp-templates-fixed .thumbnail {
    height: 265px;
    overflow: hidden;
}
.sp-template-sidebar .sp-templates-fixed .thumbnail, .sp-template-sidebar .sp-templates-fixed .caption {
    height: 110px;
    min-height: 110px;
}
.sp-template-sidebar .sp-templates-fixed .caption .glyphicon {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 24px;
}

.sp-templates .text-muted strong>a, .sp-templates .text-muted strong>a:visited {
    color: #1bbc9b;
    text-decoration: underline;
}

/*********** simple header template ***********/
.spacer {
    height: 25px;
}
/*.sp-simple-header .title-part h1 {
    font-size: 2.4em;
    text-transform: none;
    letter-spacing: 0.01em;
}
.sp-simple-header .title-black span {
    background: none;
    padding: 0;
    color: #fff;
}
.sp-simple-header  h1.title-black span {
    width:100%;
}
.sp-simple-header .pulse-holder {
    display: none;
}*/
.sp-simple-header .content {
    padding-top: 50px;
    padding-bottom: 50px;
}
.sp-simple-header {
    line-height: 1.5;
}
.sp-simple-header h1, .sp-simple-header h2, .sp-simple-header h3, .sp-simple-header h4, .sp-simple-header h5 {
    line-height: 1.3;
}
.sp-simple-header .content > h1 {
    margin-top: 0px;
}

h1>small, h2>small, h3>small, h4>small, h5>small {
    line-height: 1.35;
    letter-spacing: 0;
    display: inline-block;
}

@media (min-width: 768px) {
    .spacer {
        height: 50px;
    }
    /*.sp-simple-header .title-part h1 {

    }
    .sp-simple-header .title-part {
        margin: 90px 0;
    }*/
}


.ContactBody .ContactForm {
    padding: 10px 20px 0 20px!important;
}

