
.box-cat img {
	width: 175px;
	height: 150px;
}

select.choose-cat, select.choose-cat2 {
	min-width: 280px;
}

div#no-results {
	font-size: 18px;
	margin-top: 20px;
	text-align: center;
}

h2#error_404_text {
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	margin-top: 38px;
	margin-bottom: 20px;
	text-align: center;
}

.listado-categorias .box-cat p.sitio {
	margin-right: 1px;
}

.azcats ul li.letter {
	text-transform: uppercase;
}

#d_search .box-form {
	width: auto !important;
}

#d_search {
	width: 220px;
}

.listado-categorias .box-cat h4 {
	white-space: nowrap;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
}

.titulo-data.no-results {
	margin-bottom: 0px !important;
}

.base-404.no-results {
	margin-top: 15px !important;
}

.dmca {
	margin-top: 22px;
}

@media all and (max-width: 1518px) {
	
	#d_search {
		width: 220px !important;  /* no resize */
	}

	#texto-buscar {
		width: 170px !important; /* no resize */
	}
}

@media all and (min-width: 1280px) {

	select.choose-cat, select.choose-cat2, .box-choose-cat > span.select2 {
		min-width: 280px;
	}

	div.menu .data-right .cant-videos {
		max-width: 500px;
		white-space: nowrap;		
		overflow: hidden;
	}	
}

@media all and (max-width: 1279px) {

	select.choose-cat, select.choose-cat2, .box-choose-cat > span.select2 {
		width: 120px !important;
		min-width: 120px !important;
	}

	div.menu .data-right .cant-videos {
		max-width: 285px;
		white-space: nowrap;		
		overflow: hidden;
	}
}

h4.frase-header {
	white-space: nowrap;
	overflow:hidden;
}

@media all and (max-width: 1024px) { h4.frase-header { max-width: 160px; } }
@media all and (min-width: 991px) and (max-width: 1260px) { h4.frase-header { max-width: 380px; } }
@media all and (min-width: 1261px) and (max-width: 1518px) { h4.frase-header { max-width: 540px; } }

@media all and (max-width: 990px) { #h2category { max-width: 530px; } }

@media all and (max-width: 1260px) {

	ul.listado-abecedario {
		clear: both;
		float: left;
		margin-top: 14px;
		border-right: 0px;
		margin-bottom: 2px;
	}

	ul.listado-abecedario li:last-of-type a {
		border-right: 1px solid #ccc;
	}
}

.listado-categorias.listado-categorias-nobottom {
	border-bottom: none;
	margin-bottom: 0px;
}

.menu ul.botones {
    margin-bottom: 6px;
}

div.content {
    clear: both;
}

/* Select2 Customization -------------------------------------------------------------------------------------------------------------------*/
.select2-container--classic {
    border: none;
    background-color: transparent !important;
}

.select2-selection__arrow{
    height: 18px !important;
}

.select2-container--classic .selection{
    background-color: blue !important;
}

.select2-results {
    background-color: #3b3d44;
    color: white !important;
}
.select2-results__option {
    color: white !important;
}
.select2-selection__rendered {
    border: none !important;
    background-color: transparent !important;
    color: white !important;
    height: 19px !important;
    line-height: 19px !important;
    font-size: 14px !important;
}
.select2-selection__placeholder{
    color: white !important;
    padding:0;
    margin:0;
}

.select2-selection{
    height: 18px !important;
}

.select2-container .select2-selection--single{
    border: none !important;
    background: none !important;
}

.select2-search--dropdown{
    background-color: #3b3d44;
    color: white;
}

.select2-search__field{
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
}
.select2-dropdown--below{
    border: solid 1px black !important;
    border-top: none !important;
}
