@font-face {
    font-family: 'decibelregular';
    src: url('font/decibel_2-webfont.eot');
    src: url('font/decibel_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/decibel_2-webfont.woff') format('woff'),
         url('font/decibel_2-webfont.ttf') format('truetype'),
         url('font/decibel_2-webfont.svg#decibelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { 
 /* Prevent font scaling in landscape */
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-webkit-text-size-adjust: none;
	 text-size-adjust: none;	
	 }

body
{
	background-color: #ffffff;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	font-size: 12px;
	min-width:740px;
}

.sprite{ background:url("images/sprite.png?v=2");}

.clear{ clear:both;}

strong, bold{ font-weight:bold; }

/* HEADER --------------------------------------------------------------------------------------------------------------------------------------------------------- */
.barra-color{ background-color:#FFD414; border-bottom:1px solid #FFFFFF; height: 5px; }

.box-header{ -moz-box-shadow:inset 0 -5px 10px 0 rgba(0,0,0,.1); -o-box-shadow:inset 0 -5px 10px 0 rgba(0,0,0,.1); -ms-box-shadow:inset 0 -5px 10px 0 rgba(0,0,0,.1); -webkit-box-shadow:inset 0 -5px 10px 0 rgba(0,0,0,.1); box-shadow:inset 0 -5px 10px 0 rgba(0,0,0,.1); }
.header{ height:58px; width:100%; margin:0 auto; }
	
	/**/
	.header .logo{ 
		display:block; float:left; font-size:34px; text-transform:uppercase; color:#000000; letter-spacing:-2px; line-height:57px;
		}
	.header .logo span{ color:#F8001C; font-weight:bold; }
	.header .logo a{ text-decoration:none; color:#000000; }
	
	/**/
	.header .frase-header{ color:#4C4C4C; float:right; font-family: 'decibelregular'; font-size:22px; line-height:57px; font-weight: normal; text-transform:uppercase; }
	.header .frase-header .ico{ display:block; float:left; background:url("images/flag.png"); width:27px; height:18px; margin:19px 7px 0 0;  }

	/* SEARCH */	
	.search{ display:block; float:left; margin:15px 0 0 25px; }
		
		/**/
		.box-form{ 
			border-top:1px solid #646464; width:199px; border-right:none; background-color:#CCCCCC; padding:0 10px; position:relative; 
			-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
			}
		
		.box-form .txt-search{ 
			height:29px; padding:0; width:100%; display:block; float:left; border:none; background:none;
			font-size:13px; color:#666666; 
			}
		
		.box-form .btn-search{ 
			position:absolute; top:-1px; right:0px; border:none;
			cursor:pointer; background-position:0px 0px; width:34px; height:30px; display:block; float:right;
			}
	
/* MENU --------------------------------------------------------------------------------------------------------------------------------------------------------- */
.box-menu{ 
	border-top:1px solid #B2B2B2; border-bottom:1px solid #B2B2B2; 
	
	background: #3B3D44;
	background: -moz-linear-gradient(top, #EFEFF0 0%, #C3C3C3 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFEFF0), color-stop(100%,#C3C3C3)); 
	background: -webkit-linear-gradient(top, #EFEFF0 0%,#C3C3C3 100%); 
	background: -o-linear-gradient(top, #EFEFF0 0%,#C3C3C3 100%); 
	background: -ms-linear-gradient(top, #EFEFF0 0%,#C3C3C3 100%); 
	background: linear-gradient(top, #EFEFF0 0%,#C3C3C3 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFEFF0', endColorstr='#C3C3C3',GradientType=0 );		
	}

.menu{ height:40px; width:100%; margin:0 auto; }	
	
	/**/
	.menu ul.botones{ float:left;}
	.menu ul.botones li{ display:block; float:left; margin:0 4px 0 0;}
	.menu .btn-comun{ 
		display:inline-block; height:28px; line-height:27px; padding:0 15px 0 9px; margin:5px 0 0; 
		font-size:14px; color:#FFFFFF; text-decoration:none; 
		
		border:1px solid #818184; border-bottom:1px solid #79797C; border-top:1px solid #8B8C8E;

		-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;

		background: #3B3D44;
		background: -moz-linear-gradient(top, #A3A3A3 0%, #8C8C8C 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A3A3A3), color-stop(100%,#8C8C8C)); 
		background: -webkit-linear-gradient(top, #A3A3A3 0%,#8C8C8C 100%); 
		background: -o-linear-gradient(top, #A3A3A3 0%,#8C8C8C 100%); 
		background: -ms-linear-gradient(top, #A3A3A3 0%,#8C8C8C 100%); 
		background: linear-gradient(top, #A3A3A3 0%,#8C8C8C 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A3A3A3', endColorstr='#8C8C8C',GradientType=0 );		
		}	
		
	.menu .btn-comun:hover, .menu .selected{
		border:1px solid rgba(24, 24, 27, .2); border-bottom:1px solid rgba(24, 24, 27, .1); border-top:1px solid rgba(24, 24, 27, .4);
		
		background: #3B3D44;
		background: -moz-linear-gradient(top, #464646 0%, #3C3C3C 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#3C3C3C)); 
		background: -webkit-linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		background: -o-linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		background: -ms-linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		background: linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#3C3C3C',GradientType=0 );		
		}

	.menu .btn-comun .ico-categories{ display:block; float:left; background-position:-71px -31px; width:14px; height:16px; margin:5px 9px 0 0; }
	.menu .btn-comun .ico-pornstars	{ display:block; float:left; background-position:-54px -31px; width:16px; height:16px; margin:4px 9px 0 0; }	
	.menu .btn-comun .ico-choose-cat{ display:inline-block; background-position:-86px top; width:11px; height:6px; margin:0 0 0 9px; }	
    .menu .btn-comun .ico-sex{ display:block; float:left; background-position:-87px -31px; width:22px; height:19px; margin:4px 9px 0 0; }
    .menu .btn-comun .ico-dating{ display:block; float:left; background-position:-73px -51px; width:18px; height:21px; margin:4px 9px 0 0; }
	
	/**/
	.menu .data-right{ float:right; margin: 0px 0px -1px 0px; }
		
		.menu .data-right .separador{ float:left; background-color:#292A2F; height:12px; width:1px; border-left: 1px solid #7B7F8A; margin:14px 19px 0 13px;}
		
		.menu .data-right .cant-videos{ float:left; font-size:13px; color:#4F4F4F; margin:12px 0 0;  }
		.menu .data-right .cant-videos .ico-play{ display:block; float:left; background-position:-67px top; width:18px; height:18px; margin:-1px 4px 0 0 ;  }


	.box-choose-cat{
		display:block; float:left; padding:5px 5px 5px 3px; margin:5px 0 0; color:#FFFFFF;
		border:1px solid #818184; border-bottom:1px solid #79797C; border-top:1px solid #8B8C8E;

		-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;

		background: #3B3D44;
		background: -moz-linear-gradient(top, #464646 0%, #3C3C3C 100%); 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#464646), color-stop(100%,#3C3C3C)); 
		background: -webkit-linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		background: -o-linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		background: -ms-linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		background: linear-gradient(top, #464646 0%,#3C3C3C 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#3C3C3C',GradientType=0 );		
	}
	.box-choose-cat .choose-cat{ 
		display:block; border:none; background:#3C3C3C; color:#ffffff; padding:0 4px 0 0; margin:0; font-size:14px; font-family:Arial, Helvetica, sans-serif;
	}


/* CONTENT ----------------------------------------------------------------------------------------------------------------------------------------------- */
.content{ width:100%; margin:0 auto; overflow:hidden; }

	
/* TITULO Y DATA ----------------------------------------------------------------------------------------------------------------------------------------------- */
.titulo-data{ margin:11px 0;}
	
	.titulo-data h2, .titulo-data h3{ float:left; font-size:18px; font-weight:normal; color:#000000; }	
	.titulo-data .ico-cat-blanco{ display:block; float:left; background-position:-34px top; width:16px; height:16px; margin:1px 9px 0 0 ;}
	
	.titulo-data .botones{ float:right; }
	.titulo-data .botones li{ display:block; float:left;}
	.titulo-data .botones li a{ 
		display:block; background-color:#999999; height:27px; line-height:26px; text-align:center; padding:0 8px; margin:-2px 0 0 4px;  
		color:#FFFFFF; text-decoration:none; font-size:12px; 
		-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;		
		}
	
	.titulo-data .botones li a:hover, .titulo-data .botones li a.selected{ background-color:#FFD414; color:#000000;}
	

/*======================================================*/
/* a-z categories */
/*======================================================*/
.azcats {
	width:100%;
	margin: 0px auto;
	display:block;
	min-height:40px;
	padding-top:5px;
	padding-bottom:10px;
}
.azcats ul {
	float:left;
	width:16.5%;
}
.azcats ul li {
	width:95%; height:17px; text-align:left; white-space:nowrap; text-overflow: ellipsis; overflow:hidden; margin-bottom: 5px; padding: 2px 0;
	font-size: 13px; line-height: 18px; color:#FFFFFF;
}	
.azcats ul li a{ color:#000000; text-decoration:none;}
.azcats ul li a:hover{ color:#666666;}
/*
.azcats ul li a:before {
    content: "\002022\  " ; color: #ffe400; font-size:18px; font-weight:bold; position:relative; top:2px; text-decoration:none;
}
*/	
.azcats ul li.letter { 
	background: #202020; width: 90%; height:27px;
	color:#ffffff; font-size: 16px; font-weight: bold; text-indent:11px; line-height:26px;

	border:1px solid #959598;
	
	background: #B3B3B3;
	background: -moz-linear-gradient(top, #B3B3B3 0%, #959598 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B3B3B3), color-stop(100%,#959598)); 
	background: -webkit-linear-gradient(top, #B3B3B3 0%,#959598 100%); 
	background: -o-linear-gradient(top, #B3B3B3 0%,#959598 100%); 
	background: -ms-linear-gradient(top, #B3B3B3 0%,#959598) 100%); 
	background: linear-gradient(top, #B3B3B3 0%,#959598 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B3B3B3', endColorstr='#959598',GradientType=0 );		

	-moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;		
	}
	
#catbody{}	
	

/* LISTADO DE CATEGORIAS ---------------------------------------------------------------------------------------------------------------------- */
.listado-categorias{ margin:0 0 20px; padding:0 0 20px; border-bottom:1px solid rgba(0,0,0,0.5); text-align:center; width:780px; }

	.listado-categorias .box-cat{ position:relative; display:block; float:left; width:175px; padding:2px; margin:0 5px 4px 0;  border:1px solid #B2B2B2; background:#E5E5E5; text-align:center; text-decoration:none; color:#000000; }
	.listado-categorias .box-cat h4{ font-size:16px; line-height:20px; }
	.listado-categorias .box-pornstar h4{ font-size:14px; line-height:26px; text-align:center; }
	.listado-categorias .box-cat p{ font-size:11px; color:#61646e; line-height:16px; }
	
	.listado-categorias .box-cat:hover{ border:1px solid #666666; background:#666666;}
	.listado-categorias .box-cat:hover h4{ color:#FFD414;}
	.listado-categorias .box-cat:hover p{ color:#ffffff; }
		
	.listado-categorias .box-cat p.duracion { float:left; color:#000000; font-size:13px; margin:3px 0; }
	.listado-categorias .box-cat:hover p.duracion { color:#ffffff;  }
	.listado-categorias .box-cat p.duracion .ico-duracion { display:block; float:left; background-position:-35px -17px; width:13px; height:13px; margin:1px 4px 0 1px; }
	.listado-categorias .box-cat p.duracion .ico-duracion-negro { display:block; float:left; background-position:-49px -17px; width:13px; height:13px; margin:1px 4px 0 1px; }
	.listado-categorias .box-cat:hover p.duracion .ico-duracion-negro { background-position:-35px -17px; }
	.listado-categorias .box-cat p.sitio { float:right; color:#61646e; margin:3px 0; }
	.listado-categorias .box-cat p.sitio a{ color:#61646e; text-decoration:none }
	.listado-categorias .box-cat:hover p.sitio { color:#ffffff; }
	.listado-categorias .box-cat:hover p.sitio a { color:#ffffff; }
	.listado-categorias .box-cat p.sitio a:hover { text-decoration:underline;}
	
	.listado-categorias .box-cat:hover .ico-play{ display:none; background-position:0px -31px; width:52px; height:51px; position:absolute; top:50px; left:63px; }
	.listado-categorias .box-cat:hover .ico-play{ display:block; }


/* -- FOOTER ------------------------------------------------------------------------------------------------------------------------------------  */
.box-footer{  
	border-top:3px solid #787878; border-bottom:1px solid #292A2F; margin:30px 0 0;
	
	background: #3B3D44;
	background: -moz-linear-gradient(top, #5C5C5C 0%, #3E3E3E 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5C5C5C), color-stop(100%,#3E3E3E)); 
	background: -webkit-linear-gradient(top, #5C5C5C 0%,#3E3E3E 100%); 
	background: -o-linear-gradient(top, #5C5C5C 0%,#3E3E3E 100%); 
	background: -ms-linear-gradient(top, #5C5C5C 0%,#3E3E3E 100%); 
	background: linear-gradient(top, #5C5C5C 0%,#3E3E3E 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5C5C5C', endColorstr='#3E3E3E',GradientType=0 );		
	}

.footer{ width:100%; margin:0 auto; } 

	#nav-footer{ margin:0 auto; padding:10px 0 10px; position:relative; text-align:left;} 
	
	/**/
	.footer .logo{ 
		margin:5px 0 0 10px; display:block; float:left; position:absolute; top:30px; right:0px; font-weight:bold;
		color: #F8001C; font-size: 34px; letter-spacing: -2px; line-height: 57px; text-transform: uppercase; text-decoration:none;
		text-shadow: 1px 2px #000000; -webkit-text-shadow: 1px 2px #000000; -moz-text-shadow: 1px 2px #000000;
		}
	.footer .logo span{ color:#ffffff; font-weight:normal; }
	
	#nav-footer ul { float:left; padding:0 30px 0 0; width:170px; margin:0 20px 0 0; position:relative;}
	
	#nav-footer ul li{ list-style-type:circle; font-size:12px; padding:0 0 0 1px; margin:9px 0; list-style-position:inside;}
	#nav-footer ul li.titulo{
		font-weight:bold; color:#ffffff; font-size:14px; list-style-type:none; padding:13px 0 12px; margin:0;
		text-shadow: 1px 2px #000000; -webkit-text-shadow: 1px 2px #000000; -moz-text-shadow: 1px 2px #000000;
		}
	
	#nav-footer ul li a{color:#ffffff; font-size:12px; text-decoration:none;}
	#nav-footer ul li a:hover{color:#ffffff;}
	
	#copy{ background:#000; font-size:11px; color:#FFF; padding:15px 0 15px; text-align:center;}
	#copy a{ color:#FFF; text-decoration:underline;}


/* PAGINADOR -------------------------------------------------------------------------------------------------------------------------------------------------------- */
.paginador { text-align:center; margin:25px 0 10px; color:#999999; }
.paginador a { background-color:#e5e5e5; color: #333333; display:inline-block; font-size: 13px; font-weight: bold; line-height: 13px; margin-right: 3px; min-width: 14px; padding: 9px; text-align: center; text-decoration: none; }
.paginador a:hover { background-color:#666666; color:#FFFFFF; }
.paginador span { display:inline-block; padding: 9px; }
.paginador span.current { background-color:#F8001C; color: #fff; display:inline-block; font-size: 13px; font-weight: bold; line-height: 13px; margin-right: 3px; min-width: 14px; padding: 9px; text-align: center; }


/*- DMCA ------------------------------------------------------------------------------------------------------------------------------------------------- */
.dmca{ margin:0; }

.dmca h2{ font-size:26px; font-weight:bold; border-bottom:1px solid #CCC; padding:0 0 6px; margin:15px 0; color:#000000;}
.dmca h3{ font-size:20px; font-weight:bold; border-bottom:1px solid #CCC; padding:0 0 6px; margin:0 0 15px; color:#000000;}
.dmca h5{ font-size:14px; font-weight:bold; border-bottom:1px solid #CCC; padding:0 0 6px; margin:0 0 15px; color:#000000;}

.dmca p, .dmca pre, .dmca span{ font-size:13px; line-height:18px; color:#333333; margin:0 0 15px;} 
.dmca p strong, .dmca pre strong, .dmca span strong{ font-weight:bold;}

.dmca a{ color:#000000;}
.dmca a:hover{ color:#666666;}

.dmca p.copy{ text-align:center; margin:30px 0;}

.dmca ol{ font-size:13px; line-height:18px; color:#333333; margin:0 0 15px; list-style: inside lower-latin; padding:0 0 0 20px;}
.dmca ol li{ margin:5px 0;}

.dmca ul{ font-size:13px; line-height:18px; color:#333333; margin:0 0 15px; list-style: inside circle; padding:0 0 0 20px;}
.dmca ul li{ margin:5px 0;}


/* 404 */
.base-404{ margin:20px auto 30px; width:928px; }
.base-404 h2{ margin:5px 0; color:#000000; font-size:19px; font-weight:bold; line-height:22px; text-align:center;}
.base-404 p{ margin:5px 0; color:#333333; font-size:14px; line-height:17px; text-align:center;}


/* MEDIA QUERIES -------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media all and (min-width: 760px) and (max-width: 990px) {
	.header, .menu, .content, .footer{ width:740px; }
	.listado-categorias{ text-align:center; width:745px; }    
	/*.search .box-form {width: 160px; }*/
}
@media all and (min-width: 991px) and (max-width: 1260px) {
	.header, .menu, .content, .footer{ width:926px; }
	.listado-categorias{ text-align:center; width:932px; }
	/*.search .box-form {width: 230px; }*/
}

@media all and (min-width: 1261px) and (max-width: 1518px) {
	.header, .menu, .content, .footer{ width:1112px; }
	.listado-categorias{ text-align:center; width:1117px; }
	/*.search .box-form {width: 340px; }*/
}

@media all and (min-width: 1519px) and (max-width: 1918px) {
	.header, .menu, .content, .footer{ width:1483px; }
	.listado-categorias{ text-align:center; width:1488px; }
	/*.search .box-form {width: 640px; }*/
}

@media all and (min-width: 1919px) and (max-width: 2537px) {
	.header, .menu, .content, .footer{ width:1856px; }
	.listado-categorias{ text-align:center; width:1862px; }
	/*.search .box-form {width: 1040px; }*/
}

@media all and (min-width: 2538px) {
	.header, .menu, .content, .footer{ width:2413px; }
	.listado-categorias{ text-align:center; width:2418px; }
	/*.search .box-form {width: 1540px; }*/
}

/* 5 col
--------------------------------------------*/
@media all and (min-width: 1281px) {
	#catbody .azcats, .azcats.popq {width:100%;}
	#catbody .azcats ul, .azcats.popq ul {width: 16.5%;}
}
/* 6 col
--------------------------------------------*/
@media all and (min-width: 1510px) {
	#catbody .azcats, .azcats.popq {width:100%;}
	#catbody .azcats ul, .azcats.popq ul {width: 16.5%;}
}
/* All mobile devices
------------------------------------*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1280px) {
	.azcats ul {width: 100%;}
	.azcats ul li {width: auto; margin-right: 13px; float: left;}
	.azcats ul li.letter, .azcats ul li.space {clear: both; width: 100%;}
}

/* 3 col
--------------------------------------------*/
@media all and (max-width: 1010px) {
	#catbody .azcats, .azcats.popq {width: 100%; }
	.azcats ul {width: 100%;}
	.azcats ul li {width: auto; margin-right: 13px; float: left;}
	.azcats ul li.letter, .azcats ul li.space {clear: both; width: 100%;}
	.col5 {display: none;}
}


/* small
--------------------------------------------*/
@media all and (max-width: 760px) {
	#catbody .azcats, .azcats.popq {
		width: 100%;
		box-sizing: border-box;
	}
	#catbody .azcats, .azcats.popq {padding: 0 2px;}
}

/* LISTADO ABECEDARIO -------------------------------------------------------------------------------------------------------------------*/
.listado-abecedario{ display:block; float:right; border-right:1px solid #ccc; margin:-3px 0 0 0;}
.listado-abecedario li{ display:inline;}
.listado-abecedario li a{ 
	border:1px solid #ccc; border-right:none; background:#EEEEEE; display:block; float:left; margin:0; padding:0 8px; 
	text-decoration:none; font-size:14px; text-transform:uppercase; color:#999; line-height:23px;
	}
.listado-abecedario li a:hover, .listado-abecedario li a.selected{  background:#fff; color:#000;}

/* billboard */
.texto-aviso{ 
	border:1px solid #CCCCCC; background:#f4f4f4; padding:10px; margin:8px 0 6px; display:block; 
	text-align:center; font-size:14px; color:#212121;  text-decoration:none;
	-moz-border-radius:8px; -o-border-radius:8px; -ms-border-radius: 8px; -webkit-border-radius:8px; border-radius: 8px;	
	}

.texto-aviso strong{ color:#000; font-weight:bold; }
