/**
 * 开源中国社区网站主样式(2013版)
 * 文件名: oschina2013.css
 * 作者: Winter Lau (javayou@gmail.com)
 * 网址: http://www.oschina.net
 */

/* 讨论话题的类型 */
.thread_type_1 { background : url('../img/thread_1.gif') no-repeat left center; }

.thread_type_2 { background : url('../img/thread_2.gif') no-repeat left center; }

.thread_type_3 { background : url('../img/thread_3.gif') no-repeat left center; }

.thread_type_7 { background : url('../img/thread_7.gif') no-repeat left center; }

.thread_type_15 { background : url('../img/thread_15.gif') no-repeat left center; }

/*认证职位*/
.thread_type_20 { background : url('../img/thread_20.gif') no-repeat left center; }

.thread_type_21 { background : url('../img/thread_21.gif') no-repeat left center; }

/*推荐职位*/
.thread_type_22 { background : url('../img/thread_22.gif') no-repeat left center; }

#OSC_Banner dl { margin : 6px 0 0 12px; font-size : 10pt; }

#OSC_Banner dl dt strong { margin : 0 5px 0 0; color : #000; }

#OSC_Banner dl dt strong a { color : #000; margin-right : 0; font-size : 10.5pt; }

#OSC_Banner dl dt strong.se { margin : 0 5px; }

#OSC_Banner dl dt a { margin-right : 5px; }

#OSC_Banner dl dt a.last { margin-right : 0px; }

#OSC_Banner dl dt a.hl { font-weight : bold; color : #C00; }

#OSC_Banner .search { margin-top : 5px; }

#OSC_Banner .search .TXT { width : 200px; }

/* 首页左边栏*/
.TodayNews { margin-right : 15px; }

.TodayNews strong {
	color         : #666;
	display       : block;
	border-bottom : 1px solid #CCC;
	height        : 24px;
	line-height   : 24px;
	font-size     : 14px;
}

.TodayNews strong span { float : left; }

.TodayNews strong span a { text-decoration : none; color : #666; }

.TodayNews strong .more {
	float                    : right;
	font-weight              : normal;
	-webkit-text-size-adjust : none;
	font-size                : 12px;
}

.TodayNews strong .more .pages {
	margin-right : 16px;
}

.TodayNews strong .more .pages a {
	background  : #CCC;
	text-indent : -9999px;
	float       : left;
	width       : 8px;
	height      : 8px;
	margin      : 7px 7px 0 0;
	cursor      : pointer;
	overflow    : hidden;
}

.TodayNews strong .more .pages a.on { background : #40AA53; }

.TodayNews ul li { height : 22px; line-height : 22px; overflow : hidden; }

.TodayNews ul li .date { font-size : 8pt; font-family : Candara, arial; float : right; color : #666; -webkit-text-size-adjust : none; }

.TodayNews ul li a { text-decoration: none;  }

.TodayNews ul li.today a { color: #00A; }

.TodayNews ul li.today a:hover { color : #C00; }

#IndustryNews ul li a {
	padding-left : 12px;
	background   : url('../img/icons2.gif') no-repeat 0 -284px;
}

#ProjectNews { padding-left : 1px; }

#ProjectNews ul li { }

#ProjectNews ul li a {
	padding-left : 12px;
	background   : url('../img/icons2.gif') no-repeat 0 -284px;
}

.TodayNewsTop1 {
	margin   : 5px 0 5px 0;
	overflow : hidden;
}

#IndustryNews ul li.today a { background : url('../img/icons2.gif') no-repeat 0 -234px; }

#ProjectNews ul li.today a { background : url('../img/icons2.gif') no-repeat 0 -249px; }

.TodayNewsTop1 a { text-decoration : none; }

.TodayNewsTop1 h2 { font-size : 10.5pt; padding-top : 5px; height : 18px; overflow : hidden; }

.TodayNewsTop1 h2 a { color : #000; }

.TodayNewsTop1 h2 a:hover { color : #A00; }

.TodayNewsTop1 p { margin : 6px 0 0 5px; font-size : 9pt; color : #777; line-height : 18px; }

.TodayNewsTop1 p a { color : #A00; margin-left : 5px; }

#TopTopics { margin-top : 10px; }

#TopTopics ul li span { color : #A00; font-size : 9pt; margin-right : 3px; }

.mod { border : 1px solid #CFCFCF; }

.mod h2 {
	background    : #EEE;
	line-height   : 26px;
	height        : 26px;
	border-bottom : 1px solid #CFCFCF;
	font-size     : 10.5pt;
	padding       : 0 0 0 10px;
}

.mod h2 a.title { color : #000; font-size : 10.5pt; }

.mod h2 .stat { float : right; color : #666; font-size : 10pt; font-weight : normal; margin-right : 10px; }

.mod h2 .stat em { font-weight : bold; color : #A00; margin : 0 5px 0 2px; }

.mod h2 a { text-decoration : none; }

.mod h2 .lnks {
	font-size   : 10pt;
	font-weight : normal;
	margin-left : 20px;
}

.mod h2 .lnks a { text-decoration : none; margin-right : 5px; color : #3E62A6 }

.mod h2 .lnks a:hover { color : #C00; }

.mod h2 .right {
	float        : right;
	color        : #A00;
	margin-right : 5px;
}

.mod h2 .right a { color : #A00; font-size : 10pt; }

.mod h2 .right a:hover { text-decoration : underline; }

.mod .body { padding : 5px; }

.mod .body #HotCodeTags { margin-left : 20px; }

.mod .body #HotCodeTags a { margin-right : 5px; }

.mod .show_all { margin : 0 0 10px 5px; }

.mod .show_all a { color : #A00; }

.mod .show_all a:hover { font-weight : bold; }

#HomeCodePanel, #HomeTopicPanel, #HomeJobTopicPanel, .HomeCrowdsourcingPanel { margin : 10px 10px 0 0; }

#TopCommentsPanel { margin-top : 20px; }

#TopCommentsPanel h2 { font-size : 10.5pt; }

#TopCommentsPanel ul { margin : 5px; }

#TopCommentsPanel ul li { border-bottom : 1px dashed #DDD; padding : 3px 0 5px 0; width : 270px; overflow : hidden; margin-bottom : 10px; }

#TopCommentsPanel ul li .user { font-weight : bold; }

#TopCommentsPanel ul li .date { font-size : 8pt; -webkit-text-size-adjust : none; }

#TopCommentsPanel ul li .content { color : #999; }

#TopCommentsPanel ul li .thread { display : block; color : #666; padding : 5px 0 2px 5px; word-wrap : break-all; overflow : hidden; font-size : 9pt; }

#TopCommentsPanel ul li .news a { margin-left : 5px; padding-left : 12px; font-size : 9pt; color : #A00; background : url('../img/a2.gif') no-repeat left center; }

#CodeList ul { margin : 10px 0; }

#CodeList ul li { height : 18px; overflow : hidden; margin-bottom : 3px; }

#CodeList ul li .lang { color : #666; font-size : 8pt; font-style : normal; font-family : Courier New, Arial; -webkit-text-size-adjust : none; }

#CodeList ul li .d { color : #999; font-size : x-small; font-family : Courier New, Arial; float : right; padding-right : 10px; -webkit-text-size-adjust : none; }

#CodeList ul li a { background : url('../img/icons.gif') no-repeat 0 -266px; padding-left : 15px; text-decoration : none; }

#CodeList #HotCodeList { float : left; width : 50%; margin-top : 15px; }

#CodeList #NewCodeList { float : left; width : 50%; margin-top : 15px; }

#HomeTopicPanel h2 .forums a { font-weight : normal; font-size : 10pt; margin-right : 5px; }

.TopicList table { margin : 5px 0 10px 0; }

.TopicList table td { border-bottom : 1px dashed #CCC; white-space : nowrap; padding : 3px 0 4px; }

.TopicList table tr.last td { border-bottom : 0; }

.TopicList table td .stat { color : #888; font-size : 9pt; margin-left : 10px; font-family : Arial, 宋体; }

.TopicList table td.last_post { color : #888; font-size : 9pt; text-align : right; font-family : Arial, 宋体; }

.TopicList table td.thread a { padding-left : 20px; text-decoration : none; height : 18px; line-height : 18px; }

.TopicList table td.thread a.top { color : #A00; font-weight : bold; }

.TopicList p a { color : #A00; }

a#BtnNewCode {
	background  : url('../img/buttons.gif') no-repeat 0 0;
	width       : 135px;
	height      : 36px;
	text-indent : -9999px;
}

a#BtnNewTopic {
	background  : url('../img/buttons.gif') no-repeat 0 -36px;
	width       : 135px;
	height      : 36px;
	text-indent : -9999px;
}

#HomeButtons a {
	float : left;
}

#HomeButtons #BtnNewTopic {
	margin-left : 10px;
}

#WeeklyProject { }

#WeeklyProject #ProjectText { font-size : 9pt; padding : 5px; color : #666; }

#WeeklyProject #ProjectText img { max-width : 265px; margin-left : 3px; }

#WeeklyProject #ProjectLink { text-align : right; }

#WeeklyProject #ProjectLink a { display : block; font-size : 9pt; margin : 0 10px 5px 5px; }

.lbox { margin-bottom : 10px; }

.lbox strong { display : block; height : 30px; line-height : 30px; overflow : hidden; border-bottom : 1px solid #CCC; margin : 0; _height : 1%; }

* + html .lbox strong { height : 1% }

.lbox strong a { float : right; margin-right : 5px; font-weight : normal; font-size : 14px; }

.lbox ul { line-height : 20px; margin : 5px; }

.lbox ul li { height : 24px; overflow : hidden; }

.lbox ul li span.date { color : #999; font-size : 8pt; float : right; -webkit-text-size-adjust : none; }

.HomeHotNews ul li { height : 18px; line-height : 18px; overflow : hidden; margin-bottom : 5px; }

.HomeHotNews ul li a {
	background   : url('../img/a2.gif') no-repeat 0 7px;
	padding-left : 13px;
}

#HomeHotProject ul li a {
	background   : url('../img/icons.gif') no-repeat 0 -250px;
	padding-left : 12px;
	font-weight  : bold;
}

#HomeHotProject ul li a em { font-style : normal; margin-right : 3px; font-weight : normal; }

#apidoc { margin-top : 10px; }

#apidoc p { padding : 3px; line-height : 22px; font-size : 9pt; font-family : Candara, Book Antiqua, Arial, Courier New }

#apidoc a { margin-right : 8px; }

#apidoc a:hover { background : #CCC; }

#OSC_Links { margin : 20px 0 0 0; }

#OSC_Links h3 { font-size : 10pt; color : #000; }

#OSC_Links p { padding : 5px; line-height : 20px; }

#OSC_Links p a { font-size : 9pt; margin-right : 6px; color : #666; }

#OSC_Links p a:hover { color : #A00; }

#OSC_Content td.left { width : 690px; vertical-align : top; }

#OSC_Content td.right { padding-left : 10px; overflow : hidden; vertical-align : top; }

#DynaInfo { margin : 0 0 10px 0; }

#DynaInfo h3 {
	font-size   : 13px;
	margin      : 0 0 10px 0;
	background  : url('../img/space/msg.png') no-repeat left 2px;
	padding     : 0 0 0px 24px;
	height      : 24px;
	line-height : 24px;
}

#DynaInfo h3 .holiday { color : #C00; }

#DynaInfo form {
	margin     : 0 0 10px 0;
	border     : 1px solid #40AA53;
	background : #40AA53;
	position   : relative;
	height     : 40px;
}

#DynaInfo textarea { float : left; width : 233px; height : 36px; padding : 2px; resize : none; overflow : auto; border : 0; background : #FFF; font-size : 9pt; -webkit-appearance : none; border-radius : 0; }

#DynaInfo textarea:focus { border : 0; }

#DynaInfo button { float : right; width : 37px; height : 40px; margin-right : 3px; font-size : 10pt; border : 0; background : #40AA53; color : #FFF; }

#DynaInfo button:hover { color : #FF0; cursor : pointer; }

#DynaInfo #DivPubStatus { text-align : center; position : absolute; top : 10px; left : 90px; font-size : 12pt; color : #060; display : none; }

#DynaInfo ul li { margin : 0 0 5px 0; padding : 0 0 8px 0; border-bottom : 1px dashed #DDD; }

#DynaInfo ul li .portrait { float : left; width : 45px; padding-top : 3px; }

#DynaInfo ul li .portrait img { width : 32px; height : 32px; border : 1px solid #CCC; padding : 1px; background : #FFF; }

#DynaInfo ul li .body { float : left; width : 230px; overflow : hidden; font-size : 9pt; }

#DynaInfo ul li .user a { color : #6CABE1; }

#DynaInfo ul li .log { color : #666; word-break : break-all; }

#DynaInfo ul li .log a { color : #6CABE1; word-break : break-all; }

#DynaInfo ul li .log img { vertical-align : middle; }

#DynaInfo ul li .time { display : block; color : #9A9A9A; margin : 5px 0 0 0; }

#DynaInfo ul li .time a { color : #9A9A9A; text-decoration : none; }

#DynaInfo ul li .time a:hover { color : #6CABE1; }

#DynaInfo .TweetsSwitcher { border-top : 2px solid #40AA52; width : 100%; }

#DynaInfo .TweetsSwitcher a { text-decoration : none; }

#DynaInfo .TweetsSwitcher li { margin : 0; padding : 0 5px; border : 0; float : left; height : 22px; line-height : 22px; }

#DynaInfo .TweetsSwitcher .img { border : 0; margin : 0; padding : 0; height : 22px; width : 20px; }

#DynaInfo .TweetsSwitcher .img_new_on { background : url('../img/tweetsSwitcher1.gif') no-repeat; }

#DynaInfo .TweetsSwitcher .img_new_off { background : url('../img/tweetsSwitcher3.gif') no-repeat; }

#DynaInfo .TweetsSwitcher .img_top_on { background : url('../img/tweetsSwitcher4.gif') no-repeat; }

#DynaInfo .TweetsSwitcher .img_top_off { background : url('../img/tweetsSwitcher2.gif') no-repeat; }

#DynaInfo .TweetsSwitcher .sw { background-color : #E7E7E7; cursor : pointer; }

#DynaInfo .TweetsSwitcher .sw a { color : #666; }

#DynaInfo .TweetsSwitcher .sw a:hover { color : #000; }

#DynaInfo .TweetsSwitcher .on { background-color : #40AA52; }

#DynaInfo .TweetsSwitcher .on a { color : #FFF; }

#DynaInfo .TweetsSwitcher .on a:hover { color : #FFF; }

#DynaInfo .TweetsSwitcher .more { margin : 0; float : right; color : #A00; padding : 0; }

/* 讨论区频道开始 */

.area_more { margin : 0 0 5px 0; }

.area_more a.more { float : right; color : #A00; }

.area_more a.more:hover { background : #A00; color : #FFF; }

.area_more .pages { float : left; margin : 3px 0 0 3px; }

.area_more .pages a {
	background  : #CCC;
	text-indent : -9999px;
	float       : left;
	width       : 10px;
	height      : 10px;
	margin      : 0px 10px 0 0;
	cursor      : pointer;
	overflow    : hidden;
}

.area_more .pages a.on { background : #40AA53; }

/* 讨论区相关 */

/* 当前位置 */
.position { color : #666; border-bottom : 1px solid #CCC; padding-bottom : 5px; margin-bottom : 10px; }

.position a { text-decoration : none; }

.position a.selected { color : #A00; font-weight : bold; }

.position a:hover { text-decoration : underline; }

.position span { margin-left : 10px; }

.position span em { font-style : normal; margin : 0 3px; font-weight : bold; color : #A00; }

#ProjectNavs { margin : 0 0 10px 2px; color : #666; }

#ProjectNavs a { color : #33A; text-decoration : none; }

#ProjectNavs a:hover { text-decoration : underline; }

.top_products { vertical-align : top; }

.top_products img { border : 1px solid #DDD; width : 60px; height : 60px; margin-bottom : 2px; }

.top_products a:hover img { border : 1px solid #40AA53; background : #EFE; }

.hot_projects h3 { }

.hot_projects h3 a { float : right; margin-right : 3px; color : #A00; font-weight : normal; font-size : 10pt; }

.hot_projects ul { margin-top : 10px; }

.hot_projects ul li { margin-bottom : 5px; }

.hot_projects ul li a { font-weight : bold; margin-right : 20px; }

.hot_projects ul li span { color : #333; font-size : 9pt; display : block; }

#popular_projects td h3 {
	color          : #060;
	border-bottom  : 1px solid #CCC;
	font-size      : 10.5pt;
	padding-bottom : 2px;
	margin-bottom  : 5px;
}

#popular_projects td h3 a.more { float : right; font-weight : normal; font-size : 9pt; color : #A00; text-decoration : none; }

#Recommend_Projects td, #Popular_Projects td { line-height : 24px; overflow : hidden; white-space : nowrap }

#Recommend_Projects td a, #Popular_Projects td a {
	background   : url('../img/a1.gif') no-repeat left center;
	padding-left : 6px;
}

/*   首页手机客户端下载   */
#appDownload { height : 42px; line-height : 42px; margin : 20px 0px 30px 60px; }

#appDownload a { display : inline-block; float : left; width : 42px; height : 42px; margin-right : 18px; }

.appDownload_android { background : url('../img/appIcon.gif') no-repeat; }

.appDownload_ios { background : url('../img/appIcon.gif') 0 -50px no-repeat; }

.appDownload_wp { background : url('../img/appIcon.gif') 0 -96px no-repeat; }

.love {
	display : block;
	float   : right;
}

.love a {
	font-size : 14px;
}

.HomeCrowdsourcingPanel .cr_list {
	float      : left;
	width      : 50%;
	margin-top : 10px;
}

.HomeCrowdsourcingPanel .cr_list ul {
	margin-top    : 10px;
	margin-bottom : 19px;
}

.HomeCrowdsourcingPanel .cr_list li {
	padding-top : 5px;
}

.HomeCrowdsourcingPanel .cr_list li svg {
	float  : left;
	height : 18px;
	width  : 18px;
}

.HomeCrowdsourcingPanel .cr_list:first-child li a {
	max-width     : 190px;
	overflow      : hidden;
	white-space   : nowrap;
	text-overflow : ellipsis;
}

.HomeCrowdsourcingPanel .cr_list li a {
	float           : left;
	margin-left     : 2px;
	text-decoration : none;
	max-width		: 240px;
    overflow		: hidden;
    text-overflow	: ellipsis;
    white-space		: nowrap;
}

.HomeCrowdsourcingPanel .cr_list li .categroy {
	float       : left;
	margin-left : 5px;
	color       : #888;
	font-size   : 12px;
}

.HomeCrowdsourcingPanel .cr_list li .money {
	margin-right : 10px;
	color        : #A00;
	float        : right;
}

/*.love a{
	text-decoration:none;
	background-image:url("../img/index_love.png");
	background-repeat: no-repeat;
}

.love a:hover{
	text-decoration:none;
	background-image:url("../img/person_space_love.png");
	background-repeat: no-repeat;
}*/

.loveOfCount {
	font-size    : 14px !important;
	padding-left : 4px;
}

/*
.love a.loved{
	background-image:url("../img/person_space_love.png");
	background-repeat: no-repeat;
}*/
