/* NoticiasDisplay */
@font-face {
  font-family: 'NoticiasDisplay';
  src: url('NoticiasDisplay-Light.eot') format('embedded-opentype'),
    url('NoticiasDisplay-Light.woff') format('woff'),
    url('NoticiasDisplay-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasDisplay';
  src: url('NoticiasDisplay-LightItalic.eot') format('embedded-opentype'),
    url('NoticiasDisplay-LightItalic.woff') format('woff'),
    url('NoticiasDisplay-LightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasDisplay';
  src: url('NoticiasDisplay-Regular.eot') format('embedded-opentype'),
    url('NoticiasDisplay-Regular.woff') format('woff'),
    url('NoticiasDisplay-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasDisplay';
  src: url('NoticiasDisplay-RegularItalic.eot') format('embedded-opentype'),
    url('NoticiasDisplay-RegularItalic.woff') format('woff'),
    url('NoticiasDisplay-RegularItalic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasDisplay';
  src: url('NoticiasDisplay-Bold.eot') format('embedded-opentype'),
    url('NoticiasDisplay-Bold.woff') format('woff'),
    url('NoticiasDisplay-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasDisplay';
  src: url('NoticiasDisplay-BoldItalic.eot') format('embedded-opentype'),
    url('NoticiasDisplay-BoldItalic.woff') format('woff'),
    url('NoticiasDisplay-BoldItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}


/* NoticiasExtra */
@font-face {
  font-family: 'NoticiasExtra';
  src: url('NoticiasExtra-Regular.eot') format('embedded-opentype'),
    url('NoticiasExtra-Regular.woff') format('woff'),
    url('NoticiasExtra-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}


/* NoticiasSans */
@font-face {
  font-family: 'NoticiasSans';
  src: url('NoticiasSans-Light.eot') format('embedded-opentype'),
    url('NoticiasSans-Light.woff') format('woff'),
    url('NoticiasSans-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSans';
  src: url('NoticiasSans-Book.eot') format('embedded-opentype'),
    url('NoticiasSans-Book.woff') format('woff'),
    url('NoticiasSans-Book.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSans';
  src: url('NoticiasSans-Bold.eot') format('embedded-opentype'),
    url('NoticiasSans-Bold.woff') format('woff'),
    url('NoticiasSans-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSans';
  src: url('NoticiasSans-Black.eot') format('embedded-opentype'),
    url('NoticiasSans-Black.woff') format('woff'),
    url('NoticiasSans-Black.svg') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}


/* NoticiasSansCondensed */
@font-face {
  font-family: 'NoticiasSansCondensed';
  src: url('NoticiasSansCondensed-Light.eot') format('embedded-opentype'),
    url('NoticiasSansCondensed-Light.woff') format('woff'),
    url('NoticiasSansCondensed-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansCondensed';
  src: url('NoticiasSansCondensed-Medium.eot') format('embedded-opentype'),
    url('NoticiasSansCondensed-Medium.woff') format('woff'),
    url('NoticiasSansCondensed-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansCondensed';
  src: url('NoticiasSansCondensed-Bold.eot') format('embedded-opentype'),
    url('NoticiasSansCondensed-Bold.woff') format('woff'),
    url('NoticiasSansCondensed-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}


/* NoticiasSansExtra */
@font-face {
  font-family: 'NoticiasSansExtra';
  src: url('NoticiasSansExtra-Compact.eot') format('embedded-opentype'),
    url('NoticiasSansExtra-Compact.woff') format('woff'),
    url('NoticiasSansExtra-Compact.svg') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansExtra';
  src: url('NoticiasSansExtra-Condensed.eot') format('embedded-opentype'),
    url('NoticiasSansExtra-Condensed.woff') format('woff'),
    url('NoticiasSansExtra-Condensed.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansExtra';
  src: url('NoticiasSansExtra-SemiCondensed.eot') format('embedded-opentype'),
    url('NoticiasSansExtra-SemiCondensed.woff') format('woff'),
    url('NoticiasSansExtra-SemiCondensed.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansExtra';
  src: url('NoticiasSansExtra-Normal.eot') format('embedded-opentype'),
    url('NoticiasSansExtra-Normal.woff') format('woff'),
    url('NoticiasSansExtra-Normal.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansExtra';
  src: url('NoticiasSansExtra-SemiWide.eot') format('embedded-opentype'),
    url('NoticiasSansExtra-SemiWide.woff') format('woff'),
    url('NoticiasSansExtra-SemiWide.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasSansExtra';
  src: url('NoticiasSansExtra-Wide.eot') format('embedded-opentype'),
    url('NoticiasSansExtra-Wide.woff') format('woff'),
    url('NoticiasSansExtra-Wide.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}


/* NoticiasText */
@font-face {
  font-family: 'NoticiasText';
  src: url('NoticiasText-Light.eot') format('embedded-opentype'),
    url('NoticiasText-Light.woff') format('woff'),
    url('NoticiasText-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasText';
  src: url('NoticiasText-LightItalic.eot') format('embedded-opentype'),
    url('NoticiasText-LightItalic.woff') format('woff'),
    url('NoticiasText-LightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasText';
  src: url('NoticiasText-Regular.eot') format('embedded-opentype'),
    url('NoticiasText-Regular.woff') format('woff'),
    url('NoticiasText-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasText';
  src: url('NoticiasText-RegularItalic.eot') format('embedded-opentype'),
    url('NoticiasText-RegularItalic.woff') format('woff'),
    url('NoticiasText-RegularItalic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasText';
  src: url('NoticiasText-Bold.eot') format('embedded-opentype'),
    url('NoticiasText-Bold.woff') format('woff'),
    url('NoticiasText-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasText';
  src: url('NoticiasText-BoldItalic.eot') format('embedded-opentype'),
    url('NoticiasText-BoldItalic.woff') format('woff'),
    url('NoticiasText-BoldItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}


/* NoticiasTitle */
@font-face {
  font-family: 'NoticiasTitle';
  src: url('NoticiasTitle-Light.eot') format('embedded-opentype'),
    url('NoticiasTitle-Light.woff') format('woff'),
    url('NoticiasTitle-Light.svg') format('svg');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasTitle';
  src: url('NoticiasTitle-LightItalic.eot') format('embedded-opentype'),
    url('NoticiasTitle-LightItalic.woff') format('woff'),
    url('NoticiasTitle-LightItalic.svg') format('svg');
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasTitle';
  src: url('NoticiasTitle-Regular.eot') format('embedded-opentype'),
    url('NoticiasTitle-Regular.woff') format('woff'),
    url('NoticiasTitle-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasTitle';
  src: url('NoticiasTitle-RegularItalic.eot') format('embedded-opentype'),
    url('NoticiasTitle-RegularItalic.woff') format('woff'),
    url('NoticiasTitle-RegularItalic.svg') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasTitle';
  src: url('NoticiasTitle-Bold.eot') format('embedded-opentype'),
    url('NoticiasTitle-Bold.woff') format('woff'),
    url('NoticiasTitle-Bold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'NoticiasTitle';
  src: url('NoticiasTitle-BoldItalic.eot') format('embedded-opentype'),
    url('NoticiasTitle-BoldItalic.woff') format('woff'),
    url('NoticiasTitle-BoldItalic.svg') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}