/* Folha de Estilos - escrita por Fabio Martinho - www.fabiomartinho.com */

* { margin: 0; padding: 0; }
img { border: 0; }
body {	background-color: #f6f6f6; font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif; text-align:center; font-size: 11px; color: #333;}


a {	font-family:  Arial, Helvetica, Tahoma, Verdana, sans-serif;font-size: 11px; color: #333; }
a:link { text-decoration: none;}
a:visited {	text-decoration: none;	color: #333;}
a:hover, a:active {	text-decoration: none;	color: #d23434;}


#all { margin: 0px auto 0px; }
h2 { font-size: 16px; font-weight: bold; padding: 4px 0; margin: 5px 0; width: 100%; border-bottom: 1px solid #eaeaea;}


/* ESTRUTURAS */

.topo-980 {width:1080px; height: 65px; margin: 0 auto; background: #111 url(../img/netvascotopo.jpg) right no-repeat; text-align:left; border-bottom: 4px solid #CF2828;}
.topo-logo { width: 280px; height: 65px; text-indent: -9999px; background: url(../img/netvasco-logo-natal2.png); overflow: hidden; }
.topo-logo a { width: 280px; height: 65px; display: block; overflow: hidden; }
.topo-logo h1 { margin: 0; padding: 0; }
.topo {width:100%; height: 69px; background: url(../img/bg_topo_geral.png) repeat-x; text-align:left;}

.menuhorizontal-geral { width: 100%; height: 30px; position: relative; z-index: 920; background: #f5f5f5 url(../img/bordertop-menu-geral.png) repeat-x top; border-bottom: 1px solid #e5e5e5; }
.menuhorizontal { width: 1080px; height: 17px; padding-top: 2px;}
.menuhorizontal_lista { border-top: 2px solid #ccc; z-index: 1; height:15px; font-size: 12px; padding-top: 1px; border-bottom: 1px solid #fff; float:left; text-align:center; }
.menuhorizontal_lista-right { border-top: 2px solid #ccc; z-index: 1; height:15px; font-size: 12px; padding: 0 10px; border-bottom: 1px solid #fff; float:right; text-align:center; }
.menuhorizontal_lista:hover {border-top: 2px solid #DC6161; background: #fff !important; height:16px;  }
#navhorizontal li a { text-align:left; }

#containerGeral {width: 1080px; margin: 0 auto; padding: 10px 0 30px 0; position: relative; z-index: 500; box-shadow: 0 0 8px #ccc; background: white; }
#colunaEsquerda { margin-top:5px; width: 160px; *float: left; display: inline-block; vertical-align: top; }
#containerMeio { margin-top:5px; width: 728px; margin-left: 5px; *float:left; display: inline-block; vertical-align: top; }
#colunaCentral { width: 468px; *float:left; text-align:left; padding-top: 0px; display: inline-block; vertical-align: top; vertical-align: top; }
#colunaDireita { width: 245px; *float:left; text-align:left; display: inline-block; margin-left:10px; padding-top: 10px; vertical-align: top; }
#colunaPublicidade { width: 160px; text-align: center; margin-left: 5px; *float: left; display: inline-block; vertical-align: top; margin-top:5px; }
  #colunaPublicidade object,
  #colunaPublicidade img  { margin-bottom: 10px; }
 
#menuvertical { width: 160px; text-align:left; display: block; margin: 0; padding: 0; }
 #menuvertical li {  width: 160px; height: 27px; list-style: none; display: block; }
 #menuvertical li a img { float: left; margin-right: 10px; }
 #menuvertical li a:link,
 #menuvertical li a:visited { display:block; font-size:11px; padding: 7px; border-top: 1px solid transparent;}
 #menuvertical li a:hover { background: #f9f9f9 url(../img/bg_lineargradient.png) repeat-x; border-radius: 3px; box-shadow: 0 1px 2px #999, inset 0 0 1px white; border-top: 1px solid #eee; }
 #menuvertical ul { display: none; position: absolute; left: 0; }
   * html #menuvertical ul { line-height: 0; } /* IE6 "fix" */
  	#menuvertical ul a { zoom: 1; } /* IE6/7 fix */
	#menuvertical ul li { float: none; }


.busca							{ display: none; }
#busca 							{ width: 480px; height: 30px; margin: 10px auto; }
.busca-texto 					{ width: 333px; padding: 5px 0 4px 0 !important; margin-top: 0; border-color: #666 #CCC #CCC !important;
								 border-width: 1px; border-style: solid; font-size:14px; }
.busca-botao 					{ margin-top: 0px; cursor: pointer; vertical-align: 1px; text-shadow: 1px 1px 0 #fff; background: url(../img/bg_lineargradient.png); border-color: #ccc #ccc #999 !important;
								border-left-width: 0; border-right-width: 1px; border-top-width: 1px; border-bottom-width: 1px; border-style: solid; border-radius:0 5px 5px 0;
								color: #000; width: 78px; height: 27px; font-size:12px; }
.busca-botao:hover 				{ width: 78px; border-left: 0 !important;border-right-color: #999 !important;border-top-color: #999 !important;border-bottom-color: #999 !important; }
.busca-botao:active 			{ color: #666; }

.buscaTitulo { background: #fff !important; color: #000 !important; font-size: 16px; letter-spacing: -1px; line-height: 0px; padding: 5px 4px 4px 4px; text-align:center; }

 
#bannerCentral { width: 728px; height: 90px; background: #f0f0f0; text-align:center; margin-bottom: 5px; margin-top: 5px; }

	.noticias-header 							{ width: 465px; font-size: 18px; font-weight: bold; letter-spacing:-1px; 
												  color: #000; padding: 2px 0px 2px 3px; border-bottom: 1px dotted #ddd; display:block; }
	.noticias-header a							{ float: right; margin-top: 5px; }
	 .noticias	 								{ padding-bottom: 10px; display:block;}
	 .noticias ul 								{ color: #333 !important; font-size: 14px; letter-spacing: -1px; line-height: 30px; padding: 4px 7px 13px 7px; }
	 .noticias li 								{ list-style: none; letter-spacing: 0; padding: 2px 0; line-height: normal; }
	 .noticias li a 							{ font-size:12px; }
	 span.noticia-hora							{ padding: 1px; margin-right: 5px; margin-left: 2px; color: #d23434; font-size: 10px; }
	 .noticias li a:hover .noticia-hora 		{ background: #d23434; color: #fff; }
	 
	 #linknaolidas 								{ width: 446px;  padding: 5px 10px; display: block;  background: #F8F8F8; border: 1px solid #E5E5E5; margin: 10px auto; }
	 a:hover#linknaolidas 						{ background: #e5e5e5; color: #333; }
	 a#linknaolidas								{ font-size: 11px; font-weight: bold; letter-spacing: normal; color: #666; }
	 ul#postsnovos								{ padding: 0 10px 10px 7px; width: 448px; background: #F8F8F8; border-left: 3px solid #D23434; }	 
	 .botao-noticias-vertodas					{ width: 468px; padding: 7px 0; text-align: center; display: block; margin: 10px auto; background: #f9f9f9 url(../img/bg_lineargradient.png) repeat-x;
	 											  border-top: 1px solid #eee; border-radius: 3px; cursor: pointer;  font-size: 11px; text-transform: uppercase; color: #666; box-shadow: 0 1px 2px #999; }
	 .botao-noticias-vertodas:hover				{ color: #d23434; }
	 .botao-noticias-vertodas:active			{ background: #f8f8f8; color: #d23434; }
	 .botao-noticias-vertodas img				{ margin-left: 10px; float: left; }

	#destaque { width: 225px; height: auto; *float: left; display: inline-block; padding-bottom: 2px}
	 #noticiasdestaque { *float: left; display: inline-block; height: auto; width: 235px; margin-left: 5px; }
	 #noticiasdestaque a { line-height: 18px; font-size: 18px; letter-spacing: -1px; font-weight: bold; }
	  #noticiasdestaque ul { border-top: 1px solid #f0f0f0; padding: 5px 0 0 0; margin: 8px 0 0 0;  }
	  #noticiasdestaque li { list-style: square inside; padding-bottom: 4px; }
	  #noticiasdestaque li a { font-size: 11px; letter-spacing: normal; line-height: 12px; }

  .enquete li { list-style: square inside; }
  .enquete li a { font-size: 12px;  }
  .enquete a { font-size: 12px;  }
  .enquete ul { margin: 5px 0 0 0; padding: 0 0 0 5px; }

	div.trofeu 										{ width: 244px; height: auto; text-align: left; border: 1px solid #f0f0f0;}
	div.trofeu-header								{ width: 244px; height: 60px; }
	div.trofeu ul 									{ margin: 10px; padding: 0; list-style-type: none; clear: both; font-size: 14px; letter-spacing: -0.5px; }
	div.trofeu ul li 								{ width: 225px; border-bottom: 1px dotted #ddd; }
	div.trofeu ul li span							{ padding-right: 10px; color: #666; }
	div.trofeu ul li a 								{ width: 225px; padding: 5px 0; display: block; font-size: 12px; }
	div.trofeu ul li a:hover 						{ background: #f9f9f9; }
	div.trofeu ul li a:active 						{ background: #fff; padding: 6px 5px 4px 1px; }
	div.trofeu ul li img 							{ width: 22px; height: 24px; float:right; opacity:0.6; margin-top: -4px; }
	div.trofeu ul li a:hover img 					{ opacity: 10; }
	
	div#imgjogador 									{ width: 55px; height: 60px; float: left; margin: 5px; }
	div#notajogador 								{ width: 174px; height: 60px; float: left; margin: 5px 5px 0 0; }
	
	div.trofeu-posicao-grande 						{ width: 40px; height: 60px; margin-top: 8px; font-size: 36px; letter-spacing: normal; color: #ccc; float: left; }
	div.trofeu-posicao-grande span					{ color: gold; }
	div.trofeu-nomejogador-grande					{ width: 134px; height: 50px; line-height: 20px; font-size: 16px; float: right; letter-spacing: normal;
													color: #999; padding-top: 10px; }
	div.trofeu-nomejogador-grande strong			{ font-size: 16px; letter-spacing: -1px; color: #333; }

.tdl {text-align: left; vertical-align: top}
.tdr {text-align: right; vertical-align: top}

.mercado 		{ font-size: 11px !important; }
.mercado img 	{ padding-left: 2px; padding-right: 2px;}

.box-header 					  	{ width: 228px; font-size: 16px; text-align: left; font-weight: bold; background: #fff; border-radius: 3px 3px 0 0;
									letter-spacing:-0.6px; color: #333; margin-bottom: 1px; padding: 7px; display: block;
								   	border-left: 3px solid #d23434; border-top: 1px solid #eee; border-right: 1px solid #ddd; border-bottom: 0;  }
.box-header a 						{ color: #333; font-size: 16px; }
.box-header a:hover 				{ color: #d23434;  }

.box-corpo				{ width: 230px; line-height: 17px; border-left: 1px solid #EEE; border-right: 1px solid #DDD; font-size: 12px;  text-align: left; border-top: 1px dotted #DDD;  background: white; padding: 7px;}

.boxfinal 				{ width: 244px; height: 25px; color: #666; background: #f9f9f9 url(../img/bg_boxfinal.png) repeat-x top; margin-bottom: 10px; font-size: 12px;
						text-align:center; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; padding-top: 8px; border-width: 1px;
						border-style: solid; border-color: #f0f0f0 #ddd #ddd #f0f0f0;  }
.boxfinal a 			{ color: #666; font-size: 12px; }
.boxfinal a:hover 		{ color: #333; }

.boxfinalvideo 				{ width: 244px; height: 35px; color: #666; background: #f9f9f9 url(../img/bg_boxfinal.png) repeat-x top; margin-bottom: 10px; font-size: 11px;
						text-align:center; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; padding-top: 8px; border-width: 1px;
						border-style: solid; border-color: #f0f0f0 #ddd #ddd #f0f0f0;  }
.boxfinalvideo a 			{ color: #666; font-size: 11px; }
.boxfinalvideo a:hover 		{ color: #333; }


.ImgJogador { float:right; margin: 8px 5px 0 0; }
.ImgJogadorLeft { float:left; margin: 0 5px 0 8px; } 
   
.ListaLinks {  list-style:none; text-align: left;  width: 249px;  margin: 15px 0; }
 .ListaLinks ul { text-align: left; }
  .ListaLinks li {padding: 5px;}
  .ListaLinks li a {  font-weight:bold; padding: 5px; font-size: 13px; }
  
	.jogosdovasco 						{ width: 244px; border: 1px solid #eee; font-size: 12px; margin-bottom: 10px; }
	.jogosdovasco-titulo				{ margin: 5px 0 0 5px; text-align: left; text-transform: uppercase; color: #333; font-weight: bold; }
	.jogosdovasco p strong				{ color: #333; font-size: 11px; }

	.box-ultjogo 						{ width: 100%; min-height: 150px; text-align: center; }
	.ultjogo							{ width: 145px; height: 35px; text-align: center; margin: 5px auto; }
	.placar-ult							{ width: 83px; height: 28px; color: white; padding-top: 6px; border: 1px solid #333; background: url(../img/bg-placar-ult.png) repeat-x #000;
										-moz-border-radius: 5px; -webkit-border-radius: 5px; float: left; }
	.placar-ult .imgX					{ margin: 0 3px; }

	.box-proxjogo 						{ width: 100%; min-height: 150px; text-align: center; }
	.proxjogo							{ width: 95px; height: 35px; text-align: center; margin: 5px auto; }
	.placar-prox						{ width: 30px; height: 24px; padding-top: 10px; border: 1px solid #333; background: url(../img/bg-placar-ult.png) repeat-x #000;
										-moz-border-radius: 5px; -webkit-border-radius: 5px; float: left; opacity: 0.80; filter: alpha(opacity=80); }
	
	.jogosdovasco-footer				{ width: 100%; font-size: 11px; padding: 7px 0; line-height: 14px; border-bottom: 2px solid #e5e5e5; color: #ccc; background: url(../img/bg_boxfinal.png) repeat-x #f9f9f9; }
	.jogosdovasco-footer a				{ padding: 0 6px; color: #666; }
	.jogosdovasco-footer a:hover		{ color: #999; }
	p.info-jogos						{ color: #666; text-align: left; margin: 10px; font-size: 11px; line-height: 22px;  }
	.info-jogos img						{ float: left; margin-right: 5px; margin-top: 6px; }
	.quadro-escudo						{ width: 28px; height: 24px; margin-top: 3px; padding-top: 4px; border: 1px solid #ddd;
										  background: url(../img/bg-escudos-placar.png) repeat-x  #f0f0f0; float: left;}
	.jogosdovasco-casa					{ -moz-border-radius: 5px 0  0 5px; -webkit-border-radius: 5px 0  0 5px; }
	.jogosdovasco-fora					{ -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; }
	
  
#bannershorizontais { margin: 10px auto; width:728px; overflow: hidden; height:550px; display: block;}

#noticiasmaislidas { width: 300px; height: 400px; }
 #noticiasmaislidas h1 { font-size: 18px; margin: 10px 0 2px 0; padding: 4px 0px 4px 3px; display: block; border-top: 4px solid #666; border-bottom: 1px solid #eaeaea; }


.rodape-container		{ width: 100%; height: auto; position: relative; z-index: 999; background: #222; padding-top: 20px; box-shadow: inset 0 4px 8px #000; }
.copyright-container	{ width: 100%; height: auto; background: #191919; border-top: 1px solid #111; box-shadow: inset 0 1px 0 #222; }
#containerMais { width: 1080px; height: 110px; margin: 0 auto; color: #ccc; text-align: left; padding-bottom: 10px; }
#containerMais a { color: #ccc; }
 #containerMais h3 { padding: 0 0 3px 0; margin: 0px; color: white; font-size: 19px; letter-spacing:-1px;  text-transform: none; }
 #containerMais span { padding: 2px; line-height: 22px; background: #333; }
  #containerMais span:hover { padding: 2px; background: transparent; }

#copyright { width: 1080px; margin: 0 auto; padding: 12px; height: 30px;  clear:both;  color: #ccc; }
#copyright a { color: #ccc; }
#copyright a:hover { text-decoration:underline; }
 #copyrightLogo { width: 130px; height: 25px; float:left; }
 #copyrightTexto { width: 78%; height: 37px; float: left; text-align: center; line-height: 17px; color: white; }
 #copyrightSign { width: 83px; height: 20px; float: left; margin-top: 2px; text-align: right; }
 #copyrightSign a:link,
  #copyrightSign a:visited 	{ color: white; }
  #copyrightSign a:hover 	{ color: #d23434; text-decoration: none; }

 #sobreovasco { width: 250px; height: 110px; float: left;  }
  .sobreovascosimbolo { width: 80px; height: 110px; float: left; }
  .sobreovascolinks { width: 150px; height: 100px; padding: 5px; float: left; }

 #maisbusca { width: 480px; height:100px; padding: 5px 10px 5px 5px; overflow: hidden; float: left; }
  .botaomais { width: 100px; height: 30px; font-size: 17px;  }
  .caixatextomais { width: 10px; height: 30px; margin-bottom: 10px; border: 0px; font-size: 27px; font-weight: bold;  letter-spacing: -1px; }
 #maisnetvasco { width: 238px;  float:left; padding: 5px;  }

#elenco { width: 746px; height: 75px; text-align: left; font-family:Arial, Helvetica, sans-serif; block;  padding: 3px; }
#jogador { width: 220px; line-height: 13px; height: 70px; float:left; padding: 0px; border:1px solid #DBDBDB; margin-left: 5px;margin-bottom: 5px;}
#jogador2 { width: 215px; height: 70px; float:left; padding: 0px; background: #f0f0f0; border-left:5px solid #f0f0f0; }
#jogador2:hover  { border-left:5px solid #d23434; background: #fff; color: #000;}
#jogadorinativo2 { width: 215px; height: 70px; float:left; padding: 0px; background: #ccc; border-left:5px solid #888; }
#jogadorinativo2:hover  { border-left:5px solid #d23434; background: #fff; color: #000;}
#fotojogador { width: 60px; height: 70px; float:left; padding:1px;}
#dadosjogador { width: 150px; height: 70px; float:left; margin-left:2px;inline; }
#dadosjogador b {text-transform: uppercase;}
#dadosjogador span {font-size: 9px !important;}
#numeracao {  text-align: center; line-height:5px; float:right; color: #000; font-size: 22px; font-weight:bold; inline; margin-right: 8px}


#ficha { width: 725px; margin: 10px auto; display: block; font-size: 12px; text-align: left; }
#ficha * {  text-align: center; }
#ficha h2 {  text-align: left !important; }
#itemficha { width: 320px; height: auto; vertical-align: top; *float:left; display: inline-block; padding: 3px; background: #fff;  }
	#itemficha table tr td { border-bottom: 1px solid #ddd; padding: 2px 0; }
#itemfichafoto { width: 225px; height: auto; vertical-align: top; *float:left; display: inline-block; padding: 3px; background: #fff;  }
#itemfichalinks { width: 100px; height: auto; vertical-align: top; *float:left; display: inline-block; padding: 3px; background: #fff;  }
#itemfichalinks div{ padding: 0px; height: 30px; font-size: 12px; padding-top: 6px; padding-bottom: 6px; border:1px solid #f0f0f0; background: #f0f0f0; vertical-align: center;}
#itemfichalinks a:hover div{ border:1px solid #d23434; }
#itemfichalista { width: 170px; height: auto; vertical-align: top; *float:left; display: inline-block; text-align: left; padding-left: 15px; padding-right: 15px;  }
#itemfichalistatitulo { width: 300px;  height: auto; vertical-align: top; *float:left; display: inline-block; text-align: left; padding-left: 15px; padding-right: 15px;  }
#itemfichalistaselecao { width: 120px; height: auto; vertical-align: top; *float:left; display: inline-block; text-align: left; padding-left: 15px; padding-right: 15px;  }
#itemfichagrafico { width: 495px; text-align: left; padding-left: 15px; padding-right: 50px; height: auto; vertical-align: top; *float:left; display: inline-block;}

#boxpesquisa { width: 720px; float:left; display: block; padding-bottom: 20px;}
#resultadopesquisa { width: 220px; float:left; }
#resultadoopcoespesquisa { width: 480px; float:right; padding-bottom: 20px; padding-top: 10px; display: block;}
#infopesquisa { width: 720px; float:left; display: block; padding-top: 10px;}

/* SE&#199;&#195;O NOTICIAS */

#noticiabox { width: 700px; font-size:12px; text-align:left; padding-bottom: 12px; margin-top: 15px; }
#noticiabox img { padding-right: 5px;}
.ConfigNoticia1, .ConfigNoticia1 a { line-height: 11px; font-size: 10px; width: 720px; height: 250px; padding: 0px 0px 4px 0px; text-align:left;  }
.ConfigNoticia2, .ConfigNoticia2 a { line-height: 18px; font-size: 12px; width: 694px; padding: 4px 10px 4px 10px; text-align:left; background: #f0f0f0; }
#noticiabox h1 { font-size: 26px; margin-top: 50px; letter-spacing: -1px; text-transform:none; font-weight:bold;  }
#noticiabox p 	{ margin-bottom: 15px;  }
.SubTituloNoticia { font-size: 12px; color: #999; }
.SubTituloNoticia a { font-size: 12px; color: #999; }
.SubTituloNoticia a:hover { text-decoration: underline; }

/****************/
		
	.noticia-topo-container { width: 725px; height: 60px; margin: 15px auto; font-size: 0; }
	.noticia-topo-banner	{ width: 468px; height: 60px; display: inline-block; vertical-align: top; }
	.noticia-topo-detalhes	{ width: 249px; height: 60px; display: inline-block; margin-left: 5px; vertical-align: top; font-size: 11px;}

	.busca-sub 				{ width: 249px; height: 30px; margin: 0 auto 10px auto; }
	.busca-texto-sub 		{ width: 160px; padding: 5px 0 4px 0 !important; margin-top: 0; border-color: #666 #CCC #CCC !important; border-width: 1px; border-style: solid; font-size:14px; }


	.container-subsecoes		{ width: 725px; height: auto; } 
	.noticia-conteudo			{ width: 700px; height: auto; margin: 0 auto 10px auto; padding-top: 20px; border-top: 1px solid #eee; text-align: left; box-shadow: 0 1px 0 #ddd; font-size: 14px;}
	.noticia-conteudo table tr td a:link,
	.noticia-conteudo table tr td a:visited,
	.noticia-conteudo table tr td { font-size: 11px; padding: 5px 0; }
	.noticia-conteudo table 	{ margin: 10px auto; }
	.noticia-conteudo	object	{ margin: 15px auto; }
	.noticia-conteudo	img		{ padding-bottom: 6px; padding-right: 17px; }
	.noticia-conteudo	p		{ margin-bottom: 15px; font-size: 14px; line-height: 22px; color: #444; }
	.noticia-conteudo	h1		{ font-size: 32px; line-height: 31px; letter-spacing: -1px; }
	.noticia-conteudo a:link,
	.noticia-conteudo a:visited	{ font-size: 14px; text-decoration: none !important; }
	
	.noticia-data				{ margin-top: 5px; display: inline-block; color: #999; font-style: italic; font-size: 12px; }
	.plugins-sociais			{ width: auto; display: inline-block; position: absolute; right: 0; font-size: 8px;}
	.plugins-sociais a:link,
	.plugins-sociais a:visited,
	.plugins-sociais a { font-size: 12px; padding-left: 5px; vertical-align: 7px; color: #3B5998;}
	
	.noticia-subheader-container{ width: 100%; height: 30px; padding: 10px 0; position: relative; border-bottom: 1px dotted #f3f3f3; margin-bottom: 15px; margin-top: 5px; }

	.container-noticia-rodape	 { width: 700px; height: auto; margin: 20px auto; }
	.noticia-conteudorelacionado { width: 345px; height: auto; display: inline-block; margin-left: 3px; vertical-align: top; text-align: left; padding-left: 3px;  }
	.noticia-conteudorelacionado li { list-style: square; list-style-position: inside; padding: 4px 0; }
	.noticia-conteudorelacionado li a	 { font-size: 12px; vertical-align: -1px; margin-left: 10px; }
	.noticia-conteudorelacionado li .data { color: #888; font-size: 10px; font-weight: bold; }
	
	.noticia-anteriorproxima			{ width: 700px; padding-left: 20px; height: auto; background: #eee; border-top: 1px solid #ddd; margin: 15px auto; text-align: left; }
	.noticia-anteriorproxima	li		{ list-style: none; display: block; width: 700px; padding: 5px 0; font-weight: bold; text-transform: uppercase; }
	.noticia-anteriorproxima	li a	{ font-size: 12px; margin-left: 10px; font-weight: normal; text-transform: none; }

	.noticia-configuracoes				{ width: 700px; height: 17px; margin: 10px auto; background: #f5f5f5; border-top: 1px solid #eee; border-bottom: 1px solid #ddd; padding: 15px 10px; }
	.subsecoes-configuracoes			{ width: 700px; height: 17px; margin: 10px auto; background: #f5f5f5; border-top: 1px solid #eee; border-bottom: 1px solid #ddd; padding: 15px 10px; display:block;float:left; }
	.subsecoes-configuracoes li,
	.noticia-configuracoes	li			{ display: inline-block; width: auto; margin: 0 7px; list-style: none; vertical-align: top; }
	.subsecoes-configuracoes li a,
	.noticia-configuracoes	li	a		{ font-size: 12px; }
	.subsecoes-configuracoes li.esq,
	.noticia-configuracoes	li.esq		{ float: left; }
	.subsecoes-configuracoes li.dir,
	.noticia-configuracoes	li.dir		{ float: right; }

/* SUB SECOES */

	.padrao-subsecoes-container			{  width: 685px; height: auto; font-size: 14px; line-height: 22px; color: #444; margin: 0 auto 10px auto; padding: 20px; border-top: 1px solid #eee; text-align: left; border-bottom: 3px solid #EEE; box-shadow: 0 1px 0 #ddd; display:block; } 
	.padrao-subsecoes-container	p		{ margin-bottom: 15px; }
	.padrao-subsecoes-container	h1		{ margin-bottom: 15px; font-size: 1.8em; }

		.padrao-subsecoes-container #menuvertical { width: 115px; border:1px solid #DBDBDB; text-align:left; display: block; margin: 0; padding: 0; }
		.padrao-subsecoes-container  #menuvertical li {  width: 115px; height: 18px; list-style: none; padding: 3px 0; display: block; background: url(http://www.netvasco.com.br/img/bg_menuesquerda.jpg); border-bottom: 1px solid #dbdbdb; }
		.padrao-subsecoes-container #menuvertical li:hover { background: #f9f9f9; border-left: 3px solid #d23434; width: 112px; }
		.padrao-subsecoes-container #menuvertical li a 	{ display:block; font-size:12px; }
		.padrao-subsecoes-container #menuvertical li 	{ font-size:12px; }
		.padrao-subsecoes-container #menuvertical ul { display: none; position: absolute; left: 0; margin: 0; padding: 0; }


	.subsecoes-subheader-container		{ width: 100%; height: 30px; padding: 0; position: relative; margin-bottom: 15px; margin-top: 5px; }
	
	.subsecoes-padrao-tabelas			{ margin-bottom: 15px; }
	.subsecoes-padrao-tabelas	th		{ font-size: 10px !important; text-align: center; font-weight: bold; color: #444; background: #f6f6f6; padding: 2px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #eee; text-transform: uppercase; }
	.subsecoes-padrao-tabelas	td		{ font-size: 12px; color: #333; background: white; padding: 4px 0; border-bottom: 1px solid #eee; text-align: center; }

	.subsecoes-colunas-tabelas-esq		{ display: inline-block; vertical-align: top; *float: left; }
	.subsecoes-colunas-tabelas-dir		{ display: inline-block; vertical-align: top; *float: left; margin-left: 10px; }






/* SECAO FUTEBOL  ***  old ***  */

#subsections { width: 720px; padding: 10px; text-align: left; }
#subsections td {  font-size: 12px; color: #333; padding: 5px 0 5px 0; border-bottom: 1px solid #E8E8E8; }
#subsections td a { font-size: 11px; }
	#subsections a { font-size: 12px; }
	#subsections h1 { font-size: 20px; letter-spacing: -1px; text-align: left; padding: 0; }
	#subsections h2 { font-size: 18px; letter-spacing: -1px; text-align: left; color: #555; padding: 10px 0 10px; margin: 6px; } 
	#tdtitulo { font-size: 10px !important; font-weight: bold; color: #333; background: #f6f6f6; padding: 5px 0 5px 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
	#tdbg1 { font-style:italic; text-align: center; }
	#tdbg2 { background: #f9f9f9; font-size: 12px; text-align: center; }
	
/* galeria */

#galeria { height: auto; padding:10px; text-align: center; border: 0px solid #000; width: 90%; display: inline-block; margin-left:5%;margin-right:5%}

.galeria td { width: 230px; padding: 10px; text-align: center; border: 0px solid #000; clear:both;}
.thickbox {}
.imagemgaleria {text-align:center;  padding:17px;}

#galeria2 { width: 720px; display: inline-block; text-align: center; padding-bottom: 8px; font-style: italic;}
#galeria2 td {text-align:center; }
#foto200 { width: 230px; float:left; padding: 0px; text-align: center; padding-top: 8px; height: 160px; }
#foto600 { width: 690px; float:left; padding: 0px; text-align: center; padding-top: 8px; }
#foto200 a { text-align: center; margin-left: auto; margin-right: auto; font-size: 10px; font-style: italic;}
#foto600 a { text-align: center; margin-left: auto; margin-right: auto; font-size: 12px; font-style: italic;}

#aviso	{ width: 446px; height:12px; padding: 5px 10px;  background: #FFFF99; border: 1px solid #E5E5E5;  display:block; }