ul#topnav {
	margin: auto;
	padding: 0;
	width: 1080px;
	text-align: left;
	list-style: none;
	font-size: 12px;
	background: #f5f5f5 url(../img/bordertop-menu-geral.png) top repeat-x;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 7px 0;
	position: relative;
	border-top: 2px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
}
ul#topnav li.menu-direita {
	float: right;
}
ul#topnav li a {
	float: left; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
ul#topnav li img { margin-left: 10px; margin-right: -10px; }
ul#topnav li:hover a:hover { padding-top: 0; }
ul#topnav li:hover { background: #fff; border-top: 2px solid #DC6161; } /* padding-bottom: 7px;	 */
ul#topnav li a:hover { color: #d23434;  } /* padding: 7px 20px;	 */
ul#topnav a {
	padding: 0 20px; 
	border-right: 1px dotted #ccc;
}
ul#topnav a.ultimo-item {
	border-right: none;
}

ul#topnav li .sub {
	font-size: 12px;
	position: absolute;	
	top: 32px; left: 0;
	background: #fff url(../img/bg-megamenu.png) bottom repeat-x;
	padding: 20px 20px 20px;
	float: left;
	border-left: 1px dotted #eee;
	border-right: 1px dotted #ccc;
	border-bottom: 3px solid #d23434;
	/*--Bottom right rounded corner--*/
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	/*--Bottom left rounded corner--*/
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	display: none;
	z-index: 1000;
}
ul#topnav li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
ul#topnav li .sub ul{
	list-style: none;
	margin: 0; padding: 0;
	width: 180px;
	float: left;
}
ul#topnav .sub ul li {
	width: 100%;
	color: #333;
	border-top: none;
	padding: 0;
}
ul#topnav .sub ul li img {
	margin: 10px 0 0 0;
	width: 28px;
	height: 28px;
	opacity: 10;
}
ul#topnav .sub ul li img:hover {
	opacity: 0.8;
}
ul#topnav .sub ul li h5 {
	padding: 5px 0;
	margin: 0;
	background-image: none;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
}

ul#topnav .sub ul li h2,
ul#topnav .sub ul li h2 a:link,
ul#topnav .sub ul li h2 a:visited {
	padding: 5px 0;
	margin: 0;
	width: auto !important;
	border-bottom: 0 none !important;
	background-image: none;
	color: #333;
	font-size: inherit;
	font-weight: bold;
	background-image: none;
	font-size: 18px;
	letter-spacing: -1px;	
}




ul#topnav .sub ul li h3 a {
	padding: 5px 0;
	margin: 0;
	background-image: none;
	color: #333;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0;
}
ul#topnav .sub ul li a {
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	height: auto;
	padding:5px 10px 5px 0;
	display: block;
	text-decoration: none;
	color: #333;
	background: none;
}
ul#topnav .sub ul li:hover { background: none; }
ul#topnav .sub ul li a:hover {color: #d23434; padding: 5px 10px 5px 0; background: none; }
ul#topnav .sub ul li a { border: none;}