﻿.empty-class { /*Here as a temporary fix for an issue with CSS file minification*/ }

/*	#BUTTONS
	========================================================================== */

	/**
	 * Design Notes and Recommendations
	 *
	 	Minimum button dimensions for touch:
	 	Index Finger - 57 pixels square
	 	Thumb - 72 pixels square
	 */


	/**
	 * Button Defaults
	 */
		.ei-btn {
			cursor: pointer;
			display: inline-block;
			text-align: center;
			text-decoration: none;
		    letter-spacing: .025em;
			vertical-align: middle;
		    white-space: nowrap;
		    margin: 0;
		    padding: 0;
		    font: normal 1em/1em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		    position: relative;
		    line-height: 2em;
		    overflow: hidden;
		}

		/* Clear Floats (IE8+) */
        .ei-btn:after {
           /*
               content: "";
                display: table;
                clear: both;
            */
        }

        .ei-btn-overlay {
            background-color: rgba(0, 0, 0, 0.25);
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(https://www.elfster.com/css/core/images/application/ajax-loader-btn.gif);
            background-repeat: no-repeat;
            background-position: center;
        }

	/* END - Button Defaults */


 	/**
	 * Button Modifiers
	 */

		/**
		 * Button Modifier: Horizontal Tool Set "A" Buttons
		 */
			.ei-ts--horiz-a .ei-btn {
			    padding: 4px;
			    border: solid 1px transparent;
			    overflow: hidden;
			    line-height: 16px;
			    /*height: 26px;*/
			    font-size: 12px;
			    -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
			    color: #70983C;
                display: block;
			}

			.ei-ts--horiz-a .ei-btn:hover {
			    background-color: #F2F2F2;
                border-color: #70983C;
			}

            .ei-ts--horiz-a .ei-btn.is-active {
                border-color: #ccc;
                background-color: #F2F2F2;
            }

		/* END - Button Modifier: Primary Buttons */


		/**
		 * Button Modifier: Primary Action Button
		 */
			.ei-btn--pri,
            .ei-btn--pri.is-disabled:hover {
			    font-size: 14px;
				background: #75b431;
				border: solid 1px #75b431;
				color: #fff;
				padding:10px;
			}

			.ei-btn--pri:hover { background: #659c2a; }


		/* END - Button Modifier: Primary Buttons */


		/**
		 * Button Modifier: Secondary Action Button
		 */
			.ei-btn--sec,
            .ei-btn--sec.is-disabled:hover {
                font-size: 14px;
				border: solid 1px #808080;
				color: #808080;
				padding:10px;
			    background-color: #FFF;
			}

			.ei-btn--sec:hover {
			    background-color: #D0D0D0;
			    color: #FFF;
			}

		/* END - Button Modifier: Secondary Action Button */


		/**
		 * Button Modifier: Secondary Action Button DB - For use when displayed on dark backgrounds (DB)
		 */
			.ei-btn--sec-db,
            .ei-btn--sec-db.is-disabled:hover {
                font-size: 14px;
				border: solid 1px transparent;
				color: #FFF;
				padding:10px;
			}

			.ei-btn--sec-db:hover {
			    border: solid 1px #FFF;
			}

		/* END - Button Modifier: Secondary Action Button DB */


		/**
		 * Button Modifier: Action Buttons
		 */
			.ei-btn--action {
		        padding: 0 .5em;
		        font-weight: bold;
		        margin: 2px 0;
		        border: solid 1px #AAA;
                text-shadow: 0 1px #F7F7F7;
                color: #555;

	            background-color: #ebe8e9; /* Fallback */
	            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#e3e3e3)); /* Safari 4-5, Chrome 1-9 */
	            background: -webkit-linear-gradient(#fdfdfd, #e3e3e3); /* Safari 5.1, Chrome 10+ */
	            background: -moz-linear-gradient(#fdfdfd, #e3e3e3); /* Firefox 3.6+ */
	            background: -ms-linear-gradient(#fdfdfd, #e3e3e3); /* IE 10 */
	            background: -o-linear-gradient(#fdfdfd, #e3e3e3); /* Opera 11.10+ */
	            background: linear-gradient(#fdfdfd, #e3e3e3); /* Standard syntax */
			}

            .ei-btn--action:hover {
	            background-color: #dedede; /* Fallback */
	            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), to(#dedede)); /* Safari 4-5, Chrome 1-9 */
	            background: -webkit-linear-gradient(#ececec, #dedede); /* Safari 5.1, Chrome 10+ */
	            background: -moz-linear-gradient(#ececec, #dedede); /* Firefox 3.6+ */
	            background: -ms-linear-gradient(#ececec, #dedede); /* IE 10 */
	            background: -o-linear-gradient(#ececec, #dedede); /* Opera 11.10+ */
	            background: linear-gradient(#ececec, #dedede); /* Standard syntax */
            }

            .ei-btn--action .icon { left: 8px; }

            @media screen and (max-width: 360px) {
                .responsive .ei-list .ei-btn--action { line-height: 2em; padding: .25em; display: block; width: auto; }
            }

		/* END - Button Modifier: Action Buttons */


		/**
		 * Button Modifier: Standard Button (6/28/2016 - CC - Was Default Button - .ei-btn-default)
		 */
			.ei-btn--standard {
		        padding: 0 .5em;
		        font-weight: bold;
		        margin: 2px 0;
		        border: solid 1px #AAA;
	            text-shadow: 0 1px #F7F7F7;
	            color: #555;

	            background-color: #ebe8e9; /* Fallback */
	            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfdfd), to(#e3e3e3)); /* Safari 4-5, Chrome 1-9 */
	            background: -webkit-linear-gradient(#fdfdfd, #e3e3e3); /* Safari 5.1, Chrome 10+ */
	            background: -moz-linear-gradient(#fdfdfd, #e3e3e3); /* Firefox 3.6+ */
	            background: -ms-linear-gradient(#fdfdfd, #e3e3e3); /* IE 10 */
	            background: -o-linear-gradient(#fdfdfd, #e3e3e3); /* Opera 11.10+ */
	            background: linear-gradient(#fdfdfd, #e3e3e3); /* Standard syntax */
			}

            .ei-btn--standard:hover {
	            background-color: #dedede; /* Fallback */
	            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ececec), to(#dedede)); /* Safari 4-5, Chrome 1-9 */
	            background: -webkit-linear-gradient(#ececec, #dedede); /* Safari 5.1, Chrome 10+ */
	            background: -moz-linear-gradient(#ececec, #dedede); /* Firefox 3.6+ */
	            background: -ms-linear-gradient(#ececec, #dedede); /* IE 10 */
	            background: -o-linear-gradient(#ececec, #dedede); /* Opera 11.10+ */
	            background: linear-gradient(#ececec, #dedede); /* Standard syntax */
            }

            .ei-btn--standard.is-disabled { color: silver; }

		/* END - Button Modifier: Standard Button */


	    /**
	     *  Button Modifier(s): Flat Action Button
         *  This new flat styled action button is intended to replace
         *  the old action button.
         *  Use(s): Exchange participation buttons.
	     */
            .ei-btn--flt-action {
                background-color: #75B431;
                color: #FFF;
                font-weight: normal;
                font-size: 14px;
                display: block;
                padding: 5px;
                margin: .5em 0;
            }

            .ei-btn--flt-action:hover,
            .ei-btn--flt-action:focus {
                background-color: #659c2a;
            }

        /* END - Button Modifier(s): Flat Action Button */


	    /**
	     *  Button Modifier(s): Follow Button
         *  This button is used inline with friend media blocks.
	     */
            .ei-btn.ei-btn--mb-follow {display: block;
                background-color: #DCECCB;
                color: #75b431;
                line-height: 50px;
                font-size: 14px;
                width: 100px;
            }

            .ei-btn.ei-btn--mb-follow.is-active {
                background-color: #75b431;
                color: #FFF;
            }
        
        /* END - Button Modifier(s): Follow Button */


	    /**
	     *  Button Modifier(s): Follow Button
         *  10/22/2015 - CCroley - This button was created as a temporary bridge between the old follow buttons and the new.
         *  TODO: Update follow button appearance switch design to use a single button with alternating button text.
         *  Usage(s): 10/22/2015 - Only on the friend profile page.
	     */
            .ei-btn--follow,
            .ei-btn--following {
                text-align: center;
                font-size: 14px;
                line-height: 28px;
                vertical-align: middle;
                padding: 5px 0;
                font-weight: bold;
            }

            .ei-btn--follow {
	            color: #555;
                border: solid 1px #AAA;
	            background-color: #ebe8e9; /* Fallback */
	            background: linear-gradient(#fdfdfd, #e3e3e3); /* Standard syntax */
            }

            .ei-btn--follow:hover {
	            background-color: #dedede; /* Fallback */
	            background: linear-gradient(#ececec, #dedede); /* Standard syntax */
            }

            .ei-btn--follow .ei-icon { background: url(/img/icons/16x16/c000000/interface/plus-small.png) no-repeat 0 0; }

            .ei-btn--following {
                border: solid 1px #75B431;
                background-color: #FFF;
                color: #75B431;
            }

            .ei-btn--following:hover { background-color: #e7f5e0; }
            
            .ei-btn--following .ei-icon { background: url(/img/icons/16x16/checkmark-following.png) no-repeat 0 0; }

            .ei-btn--follow .ei-icon,
            .ei-btn--following .ei-icon {
                width: 16px;
                height: 16px;
                margin-left: 10px;
                display: inline-block;
                vertical-align: middle;
            }

        /* END - Button Modifier(s): Follow Button */


	    /**
	     *  Button Modifier(s): Flat Action Button
         *  This new flat styled action button is intended to replace
         *  the old action button.
         *  Use(s): Exchange participation buttons.
	     */
            .ei-btn--flt-follow {
                background-color: #75B431;
                color: #FFF;
                font-weight: normal;
                font-size: 14px;
                display: block;
                padding: 5px;
                margin: .5em 0;
                border: solid 1px transparent;
            }

            .ei-btn--flt-follow.is-following {
                background-color: #FFF;
                color: #75B431;
                border: solid 1px #75B431;
            }

            .ei-btn--flt-follow span {
                line-height: inherit;
                display: inline-block;
                vertical-align: middle;
                line-height: 28px;
            }

            .ei-btn--flt-follow .ei-label-following,
            .ei-btn--flt-follow .ei-icon,
            .ei-btn--flt-follow.is-following .ei-label-follow { display: none; }

            .ei-btn--flt-follow.is-following .ei-label-following,
            .ei-btn--flt-follow.is-following .ei-icon { display: inline-block; }

            .ei-btn--flt-follow.is-following:hover { color: #FFF; }

            .ei-btn--flt-follow .ei-icon {
                width: 16px;
                height: 16px;
                background: url(/img/icons/16x16/sprite-checkmark-following.png) no-repeat 0 0;
            }

            .ei-btn--flt-follow:hover .ei-icon { background-position: -16px 0; }

            .ei-btn--flt-follow:hover,
            .ei-btn--flt-follow:focus { background-color: #659c2a; }

        /* END - Button Modifier(s): Flat Action Button */


		/**
		 * Button Modifier: Primary Buttons
		 */
			.ei-btn--primary {
				background: #E5E5E5;
				border: solid 1px #D0D0D0;
				color: #000;
				padding:10px;
			}

			.ei-btn--primary:hover { background: #D0D0D0; }

		/* END - Button Modifier: Primary Buttons */


		/**
		 * Button Modifier: Secondary Buttons
		 */
			.ei-btn--secondary {
				background: #FFF;
				border: solid 1px #F5F5F5;
				color: #000;
				padding:10px;
			}

			.ei-btn--secondary:hover { background: #F5F5F5; }

		/* END - Button Modifier: Secondary Buttons */


		/**
			* Button Modifier: Icon Buttons (16x16)
			*/
			.ei-btn--icon {
				background: #FFF;
				border: solid 1px #F5F5F5;
				padding:10px;
			}

			.ei-btn--icon .icon {
				width: 16px;
				height: 16px;
			}

			.ei-btn--icon:hover { background: #F5F5F5; }

		/* END - Button Modifier: Icon Buttons */


	    /**
	     *  Button Modifier(s): Cut Out Button
         *  This button is styled like a cut out with dashed border and subtle appearance.
         *  Usage(s): New Exchange (Exchange list page), Add Wish List Items (Wish list detail page).
	     */
            .ei-btn--cutout {
                border: dashed 2px #BBB;
                text-align: center;
                cursor: pointer;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                display: block;
                border-radius: 4px;
                padding: 1em;
                font-size: 1.2em;
                background-color: #ececec;
            }

            .ei-btn--cutout:hover {
                background-color: #E5E5E5;
                border-color: #888;
            }

            .ei-btn--cutout .ei-icon {
                background: url(/img/sprite-icon-plus-36x36.png) no-repeat 0 0;
                display: inline-block;
                line-height: 36px;
                vertical-align: middle;
                width: 36px;
                height: 36px;
                margin-right: 10px;
            }

            .ei-btn--cutout .ei-label {
                display: inline-block;
                line-height: 36px;
                vertical-align: middle;
                color: #C50677;
                font-weight: bold;
                text-shadow: 0px 1px 1px #FFF;
            }

            .ei-btn--cutout.ei-horiz { margin: 10px 0; }

        /* END - Button Modifier(s): Cut Out Button */


	    /**
	     *  Button Modifier(s): Primary and Secondary Buttons
         *  Use(s): Group catagory Yes / No buttons.
	     */
				.ei-btn--primary,
                .ei-btn--secondary {
					padding: 0 18px;
				    font-size: 13px;
				    box-sizing: border-box;
				    min-width: 56px;
				}

			/**
			 *  Primary Button Defaults
			 */
				.ei-btn--primary {
					background-color: #DCECCB;
					color: #75B431;
				}

				.ei-btn--primary:hover,
                .ei-btn--primary:focus,
                .ei-btn--primary.active {
				    background-color: #75B431;
				    color: #FFF;
				    transition: background-color 175ms linear, color 175ms linear;
				}

				.ei-btn--primary.active {
				    background-color: #75B431;
				    color: #FFF;
				}

			/*  END - Primary Button Defaults */


			/**
			 *  Secondary Button Defaults
			 */
				.ei-btn--secondary {
					background-color: #CCC;
					color: #FFF;
				}

				.ei-btn--secondary:hover,
                .ei-btn--secondary:focus,
                .ei-btn--secondary.active {
				    background-color: #999;
                    transition: background-color 175ms linear, color 175ms linear;
				}

				.ei-btn--secondary.active { background-color: #999; }

			/*  END - Secondary Button Defaults */


			/**
			 *  Primary and Secondary Button Module Level Modifiers
             *  These rules customize the primary and secondary buttons for use within specific UI modules.
             *  Use(s): Small media blocks.
			 */

			    /**
			     *  Media Blocks - Small
                 *  Styles button height to match that of the small media block height.
                 *  Use(s): Friend list follow button.
			     */
                    .ei-mb--sm .ei-mb__opts .ei-btn--primary,
                    .ei-mb--sm .ei-mb__opts .ei-btn--secondary { line-height: 50px; }

			    /*  END - Media Blocks - Small */



			/**
			 *  Button Modifer: Tool Buttons (16x16)
             *  Clean styling for buttons containing icons only.
             *  Usage(s): Share and settings buttons displayed when viewing your wish list.
			 */
				.ei-btn--tool {
				    padding: 4px 10px;
				    border: solid 1px #AAA;
	                /* NOTE: Gradient background and hover are managed in main.css */
				}

			/* END - Tool Buttons */



            .ei-cb--horiz-sm-a .ei-btn-expand,
            .ei-cb--horiz-sm-a .ei-btn-collapse { padding: 10px; }

			.ei-cb--horiz-sm-a .ei-btn-expand .ei-icon,
            .ei-cb--horiz-sm-a .ei-btn-collapse .ei-icon {
			    background: url(/img/icons/16x16/sprite-arrows.png) no-repeat 0 0;
			    width: 16px;
			    height: 16px;
			}


            .ei-pod--elf-message .ei-btn {
                display: inline-block;
                padding: 5px 10px;
            }


            /* TODO: Rework the following tile related buttons. */
            .ei-btn--tile-add-sm {
                display: block;
                width: 96px;
                height: 96px;
                color: #c50677;
                border: dashed 2px #c50677;
                text-align: center;
                background: url("/img/tiles/tile-btn-sprite-add-100x100.png") no-repeat 0 0 #F5F5F5;
                text-decoration: none !important; /* TODO: Legacy CSS Override - Remove when possible. */
            }

            .ei-btn--tile-add-sm:hover {
                background-position: 0 -100px;
                border-color: #FFF;
                background-color: #70983c;
                color: #FFF;
            }

            .ei-btn--tile-add-sm .ei-tile-btn-text {
                padding: 50px 10px 0 10px;
            }



            .ei-btn--tile-add-lg {
                display: block;
                width: 136px;
                height: 136px;
                color: #c50677;
                border: dashed 2px #c50677;
                text-align: center;
                background: url("/img/tiles/tile-btn-sprite-add-140x140.png") no-repeat 0 0 #F5F5F5;
                text-decoration: none !important; /* TODO: Legacy CSS Override - Remove when possible. */
            }

            .ei-btn--tile-add-lg .ei-tile-btn-text {
                padding: 80px 10px 0 10px;
            }


            .ei-btn--tile-add-lg:hover {
                background-position: 0 -140px;
                border-color: #FFF;
                background-color: #70983c;
                color: #FFF;
            }


        /* TODO: These buttons need to be refactored */
        .ei-mb--clickable .ei-mb__opts .followMsg,
        .ei-mb--clickable .ei-mb__opts .followBtn,
        .ei-cb-list .ei-cb .followMsg,
        .ei-cb-list .ei-cb .followBtn {
            display: block;
	        border: none !important;
	        padding: 0 !important;
	        line-height: 44px !important;
	        vertical-align: middle;
	        border-radius: 0;
            margin: 2px !important;
            min-width: 84px;
            text-align: center;
            font-weight: bold;

            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
        }

        .ei-mb--clickable .ei-mb__opts .followMsg,
        .ei-cb-list .ei-cb .followMsg {
            background: #FFF !important;
            border: solid 1px #75b431 !important;
	        color: #75b431 !important;
        }

        .ei-mb--clickable .ei-mb__opts .followBtn,
        .ei-cb-list .ei-cb .followBtn {
	            color: #555 !important;
                border: solid 1px #AAA !important;
	            background-color: #ebe8e9 !important; /* Fallback */
	            background: linear-gradient(#fdfdfd, #e3e3e3) !important; /* Standard syntax */
        }

        .ei-btn--follow,
        .ei-btn--following { width: 100%; }

        .ei-mb--clickable .ei-mb__opts .followBtn:hover,
        .ei-cb-list .ei-cb .followBtn:hover {
	        background-color: #dedede !important; /* Fallback */
	        background: linear-gradient(#ececec, #dedede) !important; /* Standard syntax */
        }




	/*	END - Button Modifiers */


/*	==========================================================================
	END - Buttons */




/*	#BUTTON SETS
	========================================================================== */

	/**
	 *	Button sets are used to group two or more buttons visually as a set.
	 */

	/**
	 *	Button Set Prototype(s)
	 *
	 *	<div class="ei-btn-set  ei-btn-set--MODIFIER-NAME">
	 *		<a class="ei-btn  first">BUTTON-TEXT</a>
	 *		<a class="ei-btn">BUTTON-TEXT</a>
	 *		<a class="ei-btn  last">BUTTON-TEXT</a>
	 *	</div>
	 *
	 *	Class Summary:
	 *
	 *	.ei-btn-set {}					<-- Parent wrapper
	 *	.ei-btn-set--MODIFIER-NAME {}	<-- Modifier
	 *	.ei-btn {}						<-- Individual button within button set.
	 */


	/**
	 *	Button Set Defaults
	 */
        .ei-btn-set {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
        }

		.ei-btn-set,
		.ei-btn-set .ei-btn {
		    display: block;
		    white-space: nowrap;
		}

 	    /* Clear Floats (IE8+) */
	    .ei-btn-set:after {
	        clear: both;
	        content: "";
	        display: table;
	    }

        /* TODO: 5/11/2016
           These rules should not be set by default but instead moved to a specialized 
           class for horizontal button set layouts (e.g. .ei-btn-set--horiz).
        */
            .ei-btn-set .ei-btn,
            .ei-btn-set .ei-btn-set-label {
                display: block;
                float: left;
            }

        /* TODO: 5/11/2016
           These rules should not be set by default but instead moved to a specialized class.
        */
            .ei-btn-set .ei-btn-set-label {
                vertical-align: middle;
                line-height: 36px;
                font-weight: bold;
            }

	/*	END - Button Set Defaults */



	/**
	 *	Button Set Modifiers
	 */

		/**
		 *	Button Set Modifier: Horizontal Bar Layout
		 */
			.ei-btn-set--horiz .ei-btn {
			    float: left;
			    display: inline-block;
			}

			.ei-btn-set--horiz .ei-btn-set:after {
		        clear: both;
		        content: "";
		        display: table;
			}

		/*	END - Button Set Modifier: Horizontal Bar Layout */



		/**
		 *	Button Set Modifier: Horizontal Bar Layout - Two Button Count
		 */
            .ei-btn-set--horiz.ei-btn-set--ct2 .ei-btn {
                margin-bottom: 10px;
                float: none;
            }

            @media screen and (min-width: 600px) {
                .ei-btn-set--horiz.ei-btn-set--ct2 { margin: 0 -1%; }

                .ei-btn-set--horiz.ei-btn-set--ct2 .ei-btn {
                    width: 48%;
                    margin: 0 1%;
                    float: left;
                }
            }

		/*	END - Button Set Modifier: Horizontal Bar Layout - Two Button Count */


		/**
		 *	Button Set Modifier: Horizontal Bar Layout - Two Button Count
		 */
            .ei-btn-set--status-hdr { margin: 20px -1% 0 -1%; }

            .ei-btn-set--status-hdr .ei-btn {
                margin: 0 1%;
                float: left;
                padding: 10px 15px;
            }

            .ei-btn-set--status-hdr .ei-btn--sec {
                color: #e5e5e5;
            }


		/*	END - Button Set Modifier: Horizontal Bar Layout - Two Button Count */


	    /**
	     * Button Set Modifier: Exchange Participant Actions
	     */
        
        	.ei-btn-set--epa { margin: 0 -2px; }

			.ei-btn-set--epa .ei-btn {
			    padding: 5px 10px;
			    margin: 8px 0;
			    text-align: center;
			    background-color: #fff;
			    border: solid 1px silver;
			    color: #555;
			    display: block;
			    float: none;
			}

            .ei-btn-set--epa .ei-btn:hover { background-color: #E6E6E6; }

            @media screen and (min-width: 600px) {
			    .ei-btn-set--epa .ei-btn {
			        float: left;
                    margin: 2px;
			    }
            }

		/*	END - Button Set Modifier: Exchange Participant Actions */



	    /**
	     * Button Set Modifier: Vertical Action Links
	     */
        
        	.ei-btn-set--val { margin: 0 -2px; }

			.ei-btn-set--val .ei-btn {
			    padding: 2px 0;
			    margin-bottom: 2px;
			    color: #70983C;
			    float: none;
			    text-align: left;
			    line-height: 1em;
			    font-size: 14px;
			}

            .ei-btn-set--val .ei-btn:hover { text-decoration: underline !important; }

		/*	END - Button Set Modifier: Vertical Action Links */


	    /**
	     * Button Set Modifier: Social Media Follow
         * Icon only buttons.
	     */
            .ei-btn-set--soc-follow .ei-icon,
            .ei-btn-set--soc-share .ei-icon {
	            width: 16px;
	            height: 16px;
                margin: 0 auto;
            }

            .ei-btn-set--soc-follow .ei-btn {
                width: 12.666%;
                padding: 10px 1%;
                margin: 0 1%;
            }

            .ei-btn-set--soc-share .ei-btn {
                margin: 0 5px;
                padding: 10px;
            }


            .ei-btn-set--soc-footer { float: left; }

            .ei-btn-set--soc-footer .ei-icon {
	            width: 26px;
	            height: 26px;
            }

            .ei-btn-set--soc-footer .ei-btn {
	            padding: .5em 1em;
            }

		/*	END - Button Set Modifier: Social Media Follow */



		/**
		 *	Button Set Modifier: Member Detail Buttons
		 */
			.ei-btn-set--mbr-detail { margin: 0 -4px; }

			.ei-btn-set--mbr-detail .ei-btn {
				height: 50px;
				line-height: 50px;
				vertical-align: middle;
				margin: 0 4px;
			}

			.ei-btn-set--mbr-detail .ei-btn--following {
				color: green;
				border: solid 1px green;
				padding: 0 20px;
			    width: auto;
			}

			.ei-btn-set--mbr-detail .ei-btn--follow {
				color: gray;
				border: solid 1px gray;
				padding: 0 20px;
                width: auto;
			}

		/*	END - Button Set Modifier: Horizontal Bar Layout */



		/**
		 *	Button Set Modifier: Gift Item Tile Button Sets
		 */
            /* Default Gift Button Styling */
            .ei-btn-gift { background-color: #f0f0f0; }
            .ei-btn-gift:hover { background-color: #eaeaea; }


            /* Emphasized Gift Buttons
                Assigns alternate styling (e.g. background color) to buttons to make them
                stand out from the rest of the buttons in the set.
            */
            .ei-btn-gift.buy.ei-emphasize { color: #FFF !important; background-color: #75B431; }
            .ei-btn-gift.buy.ei-emphasize:hover { background-color: #65A421; }

            .ei-btn-gift.wish.ei-emphasize { color: #FFF !important; background-color: #409C9B; }
            .ei-btn-gift.wish.ei-emphasize:hover { background-color: #308C8B; }

            .ei-btn-gift.share.ei-emphasize { background-color: #935090; }
            .ei-btn-gift.share.ei-emphasize:hover { background-color:  #834080; }


            /* Show More Buttons */
            .showMoreFeedItemsBtn { display: block !important; }

		/*	END - Button Set Modifier: Gift Item Tile Button Sets */


	/*	END - Button Set Modifiers */


/*	==========================================================================
	END - Button Sets */