﻿/*******************
 * File Name:      landing.css
 * Description:    Styling for the landing / public site home page.
 *
 ********************/
 
 .hide { display: none !important; }
 

/*------------------------------------*\
    #Sections
\*------------------------------------*/

    /* Section: Hero Image - Main page image. */
    .ei-hero {
        position: relative;
        text-align: center;
        overflow: hidden;
    }
    
    .ei-hero img {
        width: 100%;
        height: auto;
    }




    /* Section: Action Tiles - Starting a Secret Santa, Make a Wishlist and Shop clickable tiles. */ 
    .ei-section--action-tiles {
        background-color: #e2e2e2;
        padding: 0;
    }

    .ei-action-tiles {
        display: block;
        position: relative;
        top: -10px;
    }

    /* Clear Floats (IE8+) */
    .ei-action-tiles:after {
        content: "";
        display: table;
        clear: both;
    }

    .ei-section--action-tiles .ei-tile {
        position: relative;
        display: block;
        float: left;
        width: 32%;
        background-color: #FFF;
        text-align: center;
        text-decoration: none;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
    }

    .ei-section--action-tiles .ei-tile--exchange {
        top: -24px;
        width: 36%;
        z-index: 100;
    }

    .ei-section--action-tiles .ei-tile-content {
        height: 200px;
        padding: 0 2% 10px 2%;
        border: solid 1px #fff;
    }

    .ei-section--action-tiles .ei-tile--exchange .ei-tile-content { height: 260px; }

    .ei-section--action-tiles .ei-tile:hover .ei-tile-content { border-color: #404040; }


    
    .ei-section--action-tiles .ei-tile-img {
        position: relative;
        top: -45px;
    }

    .ei-section--action-tiles .ei-tile--exchange .ei-tile-img { top: -60px; }

    .ei-section--action-tiles .ei-tile-title {
        font-size: 18px;
        margin: -40px 0 20px 0;
        color: #c41a7a;
    }
    
    .ei-section--action-tiles .ei-tile--exchange .ei-tile-title {
        font-size: 24px;
        margin-top: -50px;
    }
    
    .ei-section--action-tiles .ei-tile-title .ei-icon {
        vertical-align: middle;
        line-height: 28px;
        width: 14px;
        height: 18px;
        margin-left: 10px;
        background: url(/img/landing/icon-arrow2-14x18.png) no-repeat center;
    }

    .ei-section--action-tiles .ei-tile-bullets {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .ei-section--action-tiles .ei-tile-bullets li {
        margin: 10px 0;
        color: #646464;
    }
    
    .ei-section--action-tiles .ei-icon {
	    display: inline-block;
	    overflow: hidden;
	    background-repeat: no-repeat;
    }



    #sdGetStartedBtn {
        display: none;
        margin-bottom: 2em;
    }

    @media screen and (max-width: 890px) {
        .ei-section--action-tiles .ei-tile--exchange .ei-tile-title { font-size: 20px; }
    }

    @media screen and (max-width: 820px) {
        .ei-action-tiles {
            top: -8px;
            padding: 0;
        }
        
        .ei-section--action-tiles .ei-tile-content { height: 100px; }
        
        .ei-section--action-tiles .ei-tile--exchange { top: -14px; }

        .ei-section--action-tiles .ei-tile--exchange .ei-tile-content { height: 126px; }
        
        .ei-section--action-tiles .ei-tile--exchange .ei-tile-img { top: -70px; }
        
        .ei-section--action-tiles .ei-tile-bullets,
        #sassBtn { display: none; }

        #sdGetStartedBtn { display: block; }
        
        .ei-section--action-tiles .ei-tile--exchange .ei-tile-title { margin-top: -60px; }
        
        .ei-section--action-tiles .ei-tile-title .ei-icon { display: none; }
    }

    @media screen and (max-width: 660px) {
        .ei-section--action-tiles { display: none; }
    }




    /* Section: Introduction to Elfster */
    .ei-section--intro p {
        font-size: 1.5em;
        color: #c50677;
        margin-bottom: 1.5em;
        text-align: center;
    }




    /* Section: As Seen On */
    .ei-section--as-seen-on .ei-section-content {
        padding: 2em 0;
        text-align: center;
        border-top: solid 1px #e5e5e5;
        border-bottom: solid 1px #e5e5e5;
    }
    
    .ei-as-seen-logo {
        display: inline-block;
        margin: 0 10px;
        width: 190px;
        height: 70px;
        border: solid 1px #e2e2e2;
        background-color: #FFF;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .ei-as-seen-logo--usa-today { background-image: url("/images/logos/usa_today.png"); }
    
    .ei-as-seen-logo--family-circle { background-image: url("/images/logos/family_circle.png"); }
    
    .ei-as-seen-logo--good-housekeeping { background-image: url("/images/logos/good_housekeeping.png"); }
    
    .ei-as-seen-logo--ny-times { background-image: url("/images/logos/ny_times.png");}

    .ei-section--as-seen-on .ei-section-title {
        font-size: 25px;
        font-weight: bold;
        line-height: 16px;
        margin: 0 0 16px 0;
        padding: 0;
        text-align: center;
    }

    @media screen and (max-width: 960px) {
        .ei-as-seen-logo { margin: 10px; }
    }




    /* Section: Home Page Quotes */
    .ei-section--hp-quotes .ei-section-content {
        text-align: center;
        padding: 20px 0;
    }
    
    .ei-section--hp-quotes .ei-quote {
        position: relative;
        width: 240px;
        margin-top: 40px;
        padding: 0 70px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        min-height: 60px;
    }
    
    .ei-section--hp-quotes blockquote {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #737373
    }

    .ei-section--hp-quotes .ei-open-quote,
    .ei-section--hp-quotes .ei-close-quote {
        position: absolute;
        top: 0;
        width: 60px;
        height: 60px;
        background: url(/img/icons/hp-quotes-sprite-60x60.gif) no-repeat 0 0;
    }
        
    .ei-section--hp-quotes .ei-open-quote {
        left: 0;
    }
    
    .ei-section--hp-quotes .ei-close-quote {
        right: 0;
        background-position: -60px 0;
    }
    
    .ei-quote-divider {
        background-color: #e5e5e5;
        display: inline-block;
        margin: 20px;
        width: 1px;
        height: 100px;
    }

    @media screen and (max-width: 910px) {
        .ei-section--hp-quotes .ei-quote {
            display: block;
            margin: 0 auto 20px auto;
        }

        .ei-quote-divider { display: none; }
    }

    @media screen and (max-width: 700px) {
        .ei-section--hp-quotes .ei-quote {
            width: auto;
            display: block;
            margin: 10px auto;
        }

        .ei-section--hp-quotes blockquote { text-align: center; }
    }




    /* Section: How Elfster Can Help You  */
        .ei-section--helping-you-heading { background: #8C065C; }
        
        .ei-section--helping-you-heading .ei-section-content { padding:60px 0 120px 0; }

        .ei-section--helping-you-heading .ei-section-title {
            text-align: center;
            color: #fff;
            font-weight: 300;
            font-size: 32px;
            margin: 0;
            padding: 0;
        }

        .ei-section--helping-you-heading p {
            text-align: center;
            font-size: 18px;
            color: #bfbfbf;
            margin: .5em 0 2em 0;
            padding: 0;
        }


        .ei-section--helping-you {
            position: relative;
            margin-top: -100px;
            padding-bottom: 100px;
        }


        .ei-section--helping-you .ei-section-title {
            text-align: center;
            border-bottom: solid 1px silver;
            font-weight: 400;
            font-size: 22px;
            margin: .5em 0;
            padding: 0 0 .5em 0;
        }

        .ei-section--helping-you p {
            text-align: center;
            min-height: 74px;
            font-size: 16px;
            color: #808080;
            margin: 0 0 2em 0;
            padding: 0;
        }

        .ei-section--helping-you .rd-img { margin: 0 auto; }


        .ei-section--helping-you .gs-row { margin: 0 -2%; }

        .ei-section--helping-you .gs-col {
            float: left;
            width: 21%;
            margin: 0 2%;
        }


        @media screen and (max-width: 890px) {

            .ei-section--helping-you .ei-section-title {
                margin-top: 0;
                min-height: 0;
            }

            .ei-section--helping-you p {
                min-height: 45px;
                margin-bottom: 1em;
            }

            .ei-section--helping-you .gs-col {
                width: 46%;
            }

            .ei-section--helping-you .rd-img { max-width: 75%; }
        }

        @media screen and (max-width: 600px) {

            .ei-section--helping-you .gs-col {
                width: 100%;
                margin: 0;
            }

        }


    /* Section:  */
    .ei-section--company-benefits {
        border-bottom: solid 1px silver;
    }

    .ei-section--company-benefits .ei-section-content {
        padding: 30px 0;
        text-align: center;
    }



    /* Section:  */
    .ei-section--exchanges {
        border-bottom: solid 1px silver;
    }

    .ei-section--exchanges .ei-section-content {
        padding: 30px 0;
        text-align: center;
    }



    /* Section: Home Page Slides */
    .ei-section--hp-slides {
        min-height: 450px;
        background-color: #676362;
    }

    .ei-section--hp-slides .ei-section-content {
        text-align: center;
        padding: 30px 0;
    }

    .ei-slide-show--home {
        position: relative;
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }
            
    .ei-slide-show--home .ei-slide-control-prev,
    .ei-slide-show--home .ei-slide-control-next {
        position: absolute;
        display: block;
        top: 193px;
        width: 74px;
        height: 74px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .ei-slide-show--home .ei-slide-control-prev {
        left: 0;
        background-image: url(/img/buttons/btn-arrow-left-74x74.png);
    }

    .ei-slide-show--home .ei-slide-control-next {
        right: 0;
        background-image: url(/img/buttons/btn-arrow-right-74x74.png);
    }


    .ei-slide-show--home .ei-slide-preview-prev,
    .ei-slide-show--home .ei-slide-preview-next {
        position: absolute;
        display: block;
        top: 140px;
        width: 180px;
        height: 180px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
    }

    .ei-slide-show--home .ei-slide-preview-prev img,
    .ei-slide-show--home .ei-slide-preview-next img {
        height: 180px;
        width: auto;
        display: block;
    }

    .ei-slide-show--home .ei-slide-preview-prev {
        left: 80px;
        background-position: -219px 0;
    }

    .ei-slide-show--home .ei-slide-preview-next {
        right: 80px;
        background-position: -425px 0;
    }
            
    .ei-slide-show--home .ei-slide {
        display: none;
        text-decoration: none;
    }
            
    .ei-slide-show--home .ei-slide-title {
        font-size: 28px;
        margin: 0 0 10px 0;
        color: #FFF;
    }
            
    .ei-slide-show--home .ei-slide-text {
        color: silver;
        margin: 0 0 20px 0;
    }
            
    .ei-slide-show--home .ei-slide-img {
        display: block;
        margin: 0 auto;
        width: 260px;
        height: 260px;
        background-color: #FFF;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
    }

    .ei-slide-show--home .ei-slide-img img {
        display: block;
        width: auto;
        height: 260px;
    }

    @media screen and (max-width: 980px) {
        .ei-slide-show--home .ei-slide-preview-prev { left: 90px; }

        .ei-slide-show--home .ei-slide-preview-next { right: 90px; }
    }

    @media screen and (max-width: 900px) {
        .ei-slide-show--home .ei-slide-preview-prev, .ei-slide-show--home .ei-slide-preview-next { display: none; }

        .ei-slide-show--home .ei-slide-control-prev { left: 70px; }

        .ei-slide-show--home .ei-slide-control-next { right: 70px; }
    }

    @media screen and (max-width: 640px) {
        .ei-slide-show--home .ei-slide-control-prev { left: 0; }

        .ei-slide-show--home .ei-slide-control-next { right: 0; }
    }

    @media screen and (max-width: 500px) {
        .ei-slide-show--home .ei-slide-control-prev,

        .ei-slide-show--home .ei-slide-control-next { top: auto; bottom: 0; }
    }


    /* Section: Secret Santa (SEO) Content  */
    .ei-section--secret-santa {
        padding: 60px 0;
        text-align: center;
    }
    
    .ei-section--secret-santa .ei-section-title {
        font-size: 25px;
        font-weight: bold;
        line-height: 16px;
        margin: 0 0 16px 0;
        padding: 0;
        text-align: center;
        color: #737373;
    }
    
    .ei-section--secret-santa p {
        font-size: 16px;
        line-height: 1.6em; 
        color: #737373;
    }


/*------------------------------------*\
    #Generic Public Page Classes

    These classes are currently used for the SEO content pages.
\*------------------------------------*/

    .ei-public-page {font-size: 16px; padding: 0 4%; }

    .ei-public-page h1 {
        font-size: 2em; /*= 32px/16px */
        line-height: 1.2em;
        font-weight: normal;
        margin:0 0 30px 0;
        padding: 0;
        color: #000;
    }

    .ei-public-page h1  .ei-sub-title  {
        font-size: 24px;
        line-height: 1.2em;
        color: #666;
    }

    .ei-public-page h2 {
        font-size: 20px;
        line-height: 1.2em;
        font-weight: bold;
        margin:0 0 15px 0;
        padding: 0;
        color: #C50676;
    }

    .ei-public-page h3 {
        font-size: 18px;
        line-height: 1.2em;
        font-weight: bold;
        margin:0 0 15px 0;
        padding: 0;
        color: #7E7E7E;
    }

    .ei-public-page p {
        font-size: 1em;
        line-height: 1.7em;
        font-weight: normal;
        margin: 0 0 1.2em 0;
        padding: 0;
        color: #595959;
    }

    .ei-public-page p strong { font-weight: bold; color: #404040; }

    .ei-public-page .ei-disc,
    .ei-public-page .ei-decimal {
        font-size: 1em;
        margin-left: 1em;
    }

    .ei-public-page .ei-disc li,
    .ei-public-page .ei-decimal li { line-height: 1.4em; }

    .ei-public-page .ei-emphasize { font-style: italic; }

    .ei-figure {
        display: block;
        float: right;
        width: 40% /*480px*/;
        margin: 0 0 20px 60px;
        overflow: hidden;
        border: solid 1px silver;
    }

    .ei-figure--no-border { border: none !important; }

    .ei-figure.ei-left {
        float: left;
        margin: 0 60px 20px 0;
    }

    .ei-public-page .ei-figure img { width: 100%; height: auto; }
        
    .ei-call-to-action-img-btn, .ei-call-to-action-copy-btn {
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding: 1em 1.5em;
        color: #fff;
        line-height: 1.4em;
        background: #75B431;
        text-decoration: none;
        text-align: center;
        border: solid 1px #669d2b;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        margin: 1em 0;
    }

    .ei-call-to-action-img-btn:hover, .ei-call-to-action-copy-btn:hover {
        text-decoration: none;
        background: #84cb37;
    }
        
    .ei-call-to-action-copy-btn { display: none; }

    .ei-public-page { margin-top: 30px; }

    @media screen and (max-width: 740px) {
        .ei-public-page .ei-figure { float: none;width: 100%; margin: 0 0 1em 0;}
    
        .ei-call-to-action-img-btn { display: none; }

        .ei-call-to-action-copy-btn { display: block; }
    } /* END - @media screen and (max-width: 740px) */