﻿/********************
 * File Name:      layout.css
 *
 * Description:    Grid system, page level element layout and postioning. 
 * 
 ********************/



/*------------------------------------*\
    #Global Page Elements
\*------------------------------------*/

	body { position: relative;  }


    .ei-global-header-content,
    .ei-global-footer-content,
    .ei-section-content {
        width: 960px;
        margin: 0 auto;
    }
    
    .ei-global-header-content:after,
    .ei-global-footer-content:after {
        /* Clear Floats IE8+ */
        clear: both;
        content: "";
        display: table;
    }


	/* Global Header: Common header accross site. */
	
	.ei-global-header {
		position: relative;
		z-index: 999;
		background-color: #8C065C; /*#C50677*/
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
	}

    /* Wrapper for global header content. */
	.ei-global-header-content {
        height: 50px;
        position: relative;
        text-align: center;
    }

    /* Global Header Logo */
    .ei-global-logo {
        background: url("/img/logos/logo-elfster-global-header-200x50.png") no-repeat scroll center center;
        display: block;
        float: left;
        height: 50px;
        width: 160px;
    }

    @media screen and (max-width: 980px) 
    {
        .ei-global-header-content,
        .ei-global-footer-content,
        .ei-section-content {
            width: 94%;
            max-width: 960px;
        }
    }

    @media screen and (max-width: 620px) {
        .ei-menu-link--fb-login { display: none; }
    }

    @media screen and (max-width: 480px) {
        .ei-menu-link--shop { display: none; }
    }

    @media screen and (max-width: 360px) {
        .ei-menu-link--join { display: none; }
    }



    /* Global Footer: Common footer accross site. */
    .ei-global-footer {
	    background-color: #c50677;
	    font-size: 12px;
    }

    .ei-global-footer-content {
        padding: 14px 0;
    }

    .ei-page-footer-overview {
        font-size: 11px;
        clear: both;
        color: #FFF;
        margin: 40px 0 0 0;
        padding-top: 10px;
        text-align: center;
        border-top: 1px solid #FFF;
    }

    .ei-page-footer-overview a { color: #ffffff;}

    .ei-global-footer .ei-btn-set { margin-left: 1em; }

    .ei-soc-media { display: block; }

    .ei-soc-media:after {
	    /* Clear Floats (IE8+) */
        content: "";
        display: table;
        clear: both;
    }

    .ei-icon.ei-icon-size--med,
    .ei-icon-size--med .ei-icon {
        width: 26px;
        height: 26px;
    }


    /* Icons- Defaults */
    .ei-icon {
        display: block;
        overflow: hidden;
    }

    /* Medium Sized Social Media Icons (24px X 24px) */
    .ei-icon-size--med .ei-icon-twitter { background-position: 0 -58px; }
    .ei-icon-size--med .ei-icon-instagram { background-position: -26px -58px; }
    .ei-icon-size--med .ei-icon-facebook { background-position: -52px -58px; }
    .ei-icon-size--med .ei-icon-pinterest { background-position: -78px -58px; }
    .ei-icon-size--med .ei-icon-google { background-position: -104px -58px; }

    .ei-soc-media .ei-icon { background-image: url(/img/icons/social-media-sprite-16px-to-26px-black-and-white.png); }

    .ei-soc-media--page-footer {
        float: left;
        margin: -5px 0 0 20px;
        display: block;
        white-space: nowrap;
    }
    
    .ei-soc-media--page-footer .ei-soc-media a {
        display: inline-block;
        padding: .5em 1em;
    }

    /* SEO Paragraph in footer summarizing Elfster. This element and class are also referenced in core/landing2.css */
    /*p*/.ei-global-footer-overview {
        margin-top: 3.5em;
        padding-top: 1em;
        clear: both;
        float: none;
        color: #FFF;
        border-top: solid 1px #d9d9d9;
        text-align: center;
    }
    
    p.ei-global-footer-overview a {
        color: inherit;
        text-decoration: underline;
    }

    /** Page Footer Menus: Horizontal Bar Layout **/
    .ei-global-footer .ei-menu-item {
        float: left;
        margin-left: 5px;
        padding-left: 20px;
        background: url(/img/icons/icon-16x16-bullet-disc-white.png) no-repeat center left;
    }
    
    .ei-global-footer .ei-menu-item:first-child {
        margin-left: 0;
        padding-left: 0;
        background: none;
    }
    
    .ei-global-footer .ei-menu-link,
    .ei-global-footer .ei-menu-text {
        color: #FFF;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
        text-decoration: none !important;
    }
    
    .ei-global-footer .ei-menu-link:hover { text-decoration: underline; }
    
    .ei-menu--page-footer-misc { float: left; }
    
    .ei-menu--page-footer-company { float: right; }

    .ei-menu--page-footer-misc .ei-menu-link:hover {
        background: url("/img/backgrounds/bg-c000000-o30-50x50.png") repeat 0 0;
    }

    @media screen and (max-width: 980px) {
        .ei-global-header-content,
        .ei-global-footer-content { width: 94%; }
    }

    @media screen and (max-width: 890px) {
        .ei-global-footer .ei-menu,
        .ei-soc-media--page-footer {
            display: table;
            float: none;
            margin: 5px auto;
        }
    }

    @media screen and (max-width: 640px) {

        .ei-global-footer .ei-menu-item {
            display: block;
            float: none;
        }

        .ei-menu--page-footer-misc .ei-menu-item {
            background: rgba(0, 0, 0, 0);
            border: 1px solid #ed5488;
            border-radius: 4px;
            margin: 0 0 4px 0;
            overflow: hidden;
            padding: 0;
            text-align: center;
        }

        .ei-global-footer .ei-menu-link,
        .ei-global-footer .ei-menu-text {
            font-size: 16px;
            text-align: center;
        }
        
        .ei-menu--page-footer-misc .ei-menu-link {
            background: url("/img/backgrounds/bg-c000000-o15-100x100.png") repeat 0 0 rgba(0, 0, 0, 0);
            padding: 8px;
            display: block;
        }
        
        .ei-global-footer .ei-menu {
            display: block;
        }
        
        
        .ei-soc-media--page-footer { margin: 10px auto;}
        .ei-soc-media--page-footer .ei-soc-media a { padding: 20px;}
        
        .ei-menu--page-footer-company {list-style: none; margin: 10px auto; }
        
        .ei-menu--page-footer-company .ei-menu-item {
            background: none;
            margin: 10px;
            padding: 10px;
        }

        .ei-menu--page-footer-company .ei-menu-text { margin-left: 10px; }

    }

    @media screen and (max-width: 340px) {
        .ei-soc-media--page-footer .ei-soc-media a { padding: 20px 15px; }
    }

/* END - Global Page Elements */




/*------------------------------------*\
    #Sections

    Sections are structural layout elements that can be used to organize content
    and create horizontal banding and other effects.

\*------------------------------------*/

    /* Prototype(s)

		<div class="ei-section ei-section--MODIFIER-NAME">
			<div class="ei-section-sub"></div>
		<div>

        .ei-section {}					<-- Parent section wrapper.
        .ei-section--MODIFIER-NAME {}	<-- Modifier class for customizing presentation.
        .ei-section-content {}			<-- Section content wrapper. Can be used
        									to constrain content width within a parent section wrapper.

    */

    /* Defaults */
	.ei-section,
	.ei-section-content { display: block; }		

    .ei-section-content {}

    /* Modifiers */

    .ei-section--MODIFIER-NAME {}

/* END - Sections */










/*------------------------------------*\
    #Grid System
\*------------------------------------*/

	/**
	 * Grid systems are similar to table layouts as they are composed of rows and columns.
	 * Grid rows contain / wrapp one or more grid columns and constrain child elements from floating outside the row.
	 * Grid columns, by default, are floating elements whos widths are percentage based and dynamic / fluid.
	 * Grid column widths can be managed through the use of configuration classes ( e.g. gs-config--MODIFIER-NAME ).
	 * 
	 * REMEMBER to apply the "first" and "last" generic modifier classes to the associated grid columns for configuration management.
	 *
	 */


    /* Prototype(s)

		<div class="gs-row gs-config--MODIFIER-NAME">
			<div class="gs-col first"></div>
			<div class="gs-col"></div>
			<div class="gs-col last"></div>
		<div>


		* Class Summary *
        
        .gs-row {}
        .gs-config--MODIFIER-NAME {}
        .gs-col.first {}
		.gs-col {}
		.gs-col.last {}


 
    /* Defaults */

        .gs-row,
        .gs-col {
            display: block;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Clear Floats IE8+ */
        .gs-row:after {
            clear: both;
            content: "";
            display: table;
        }

		.gs-col {   }


	/* END - Defaults */


    /* Modifiers */


        @media screen and (min-width: 800px) {

		    /* Two column configuration, even column widths. */
		    .gs-config--2col .gs-col	{
		        float: left;
			    width: 50%;
		    }


            /* Two column spaced, even column widths. */
		    .gs-config--2col-spaced	{
		        margin-left: -3%;
		        margin-right: -3%;
		    }

		    .gs-config--2col-spaced .gs-col	{
		        float: left;
			    width: 44%;
		        margin-left: 3%;
		        margin-right: 3%;
		    }


            /* Four column spaced, even column widths. */
		    .gs-config--4col-spaced	{
		        margin-left: -2%;
		        margin-right: -2%;
		    }

		    .gs-config--4col-spaced .gs-col	{
		        float: left;
			    width: 21%;
		        margin-left: 2%;
		        margin-right: 2%;
		    }

        }

	/* END - Modifiers */

/* END - Grid System */


.ei-bullets {
    list-style-type: none;
    margin: 1em 0 2em 0;
    padding: 0;
}

.ei-bullets li {
    line-height: 16px;
    color: #808080;
    margin-bottom: 1em;
    padding-left: 30px;
    background: url(/img/landing/icon-checkmark-green.png) no-repeat top left;
}



.ei-bullets li {
    padding: 0;
    background: none;
    line-height: 18px;
}