﻿/*******************
 * File Name:       modules.css
 * Description:     Default component / element styling, dimensions, margins, padding etc.
 * 
 * Notes:           Modules are components / elements that can exist on their own allowing them to
 *                  easily be moved to different locations of the layout. Examples of modules are menus,
 *                  toolbars, buttons etc. This file contains both base / default and design
 *                  styling for these components.
 *
 ********************/

/*------------------------------------*\
    #Typography
\*------------------------------------*/

body, textarea { font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif }
strong, .bold { font-weight: bold; }
em, .italics { font-style: italic; }
.small { font-size: .75em }




/*------------------------------------*\
    #Generic Global Modifers

    Generic modifier classes are CSS classes that by themselves do not have styling.
    These classes are intended for use with other classes ( e.g. class "ei-menu-item disabled" ).

\*------------------------------------*/

	/* Positions */
	.ei-first {}						/* Identifies an element as the first in a set ( e.g. gs-col.first ). */
	.ei-last {}							/* Identifies an element as the last in a set ( e.g. gs-col.last ). */
	
	/* Orientation */
	.ei-horizontal {}					/* Indentifies a module as having a horizontal layout ( e.g. horizontal tool bars and menus ). */
	.ei-vertical {}						/* Indentifies a module as having a vertical layout ( e.g. vertical tool bars and menus ). */
	
	/* States */
	.ei-is-disabled {}					/* Identifies an element as being disabled ( e.g. <a href="#" class="disabled">LINK-NAME</a> ). */
	.ei-is-active, .ei-is-current {}	/* Identifies an element as being the current or active element within a set ( e.g. menus ). */
	.ei-is-visible { display: block !important; } 	/* Indates an element is visible / viewable. */
	.ei-is-hidden { display: none !important; }	/* Indcates an element is hidden from view. */
	.ei-is-collapsed {}					/* Indicates an element is collapsed ( e.g. sliders ). Typically applied with JavaScript */
	.ei-is-expanded {}					/* Indicates an element is expanded ( e.g. sliders ). Typically applied with JavaScript */

/* END - Generic Modifier Classes */





/*------------------------------------*\
    #Buttons
\*------------------------------------*/

	/* Defaults */

		/* Remove extra HTML5 <button> spacing in Firefox */
		.ei-btn::-moz-focus-inner {
			border: 0;
			padding: 0;
		}

	/* END - Defaults */



    /* Modifiers */
	
		.ei-btn--fb-login { display: block; padding: 14px 0; }

	/* END - Modifiers */


/* END - Buttons */





/*------------------------------------*\
    #Menus
\*------------------------------------*/


	/* Prototype(s)

		* Simple Menu ( Links Only ) *
		<div class="ci-menu ci-menu--MODIFIER-NAME">
			<a href="#" class="ci-menu-link">LINK-TEXT</a>
			<a href="#" class="ci-menu-link">LINK-TEXT</a>
			<a href="#" class="ci-menu-link">LINK-TEXT</a>
		</div>

		* Menu with sub-menus *
		<ul class="ci-menu ci-menu--MODIFIER-NAME">
			<li class="ci-menu-item">
				<a href="URL" class="ci-menu-link">LINK-TEXT</a>
			</li>
			<li class="ci-menu-item active">
				<a href="URL" class="ci-menu-link">ACTIVE-LINK-TEXT</a>
			</li>
			<li class="ci-menu-item disabled">
				<a href="URL" class="ci-menu-link">DISABLED-LINK-TEXT</a>
			</li>


			* Sub-Menu Example - CSS Version *
			<li class="ci-menu-item">
				<a href="URL" class="ci-menu-link">LINK-TEXT</a>
				<ul class="ci-menu-sub">
					<li class="ci-menu-item">
						<a href="URL" class="ci-menu-link">LINK-TEXT</a>
					</li>
				</ul>
			</li>


			* Sub-Menu Example - JavaScript Version *
			<li class="ci-menu-item js-toggle-sub-menu"> <-- JavaScript hook for displaying sub-menus.
				<span class="ci-menu-text">TEXT</span>
				<ul class="ci-menu-sub">
					<li class="ci-menu-item">
						<a href="URL" class="ci-menu-link">LINK TEXT</a>
					</li>
				</ul>
			</li>

			<li class="ci-menu-header"></li>
			<li class="ci-menu-spacer"></li>
			<li class="ci-menu-divider"></li>
		</ul>


		* Classes *
		.ei-menu {}
		.ei-menu-item {}
		.ei-menu-item.active {}
		.ei-menu-item.disabled {}
		.ei-menu-link {}
		.ei-menu-header {}
		.ei-menu-spacer {}
		.ei-menu-divider {}
		.ei-menu-sub {}
		.ei-menu-sub-text {}		<-- Use to display non-anchor text representing sub-menu. TODO - Need to work on this definition.


		* JavaScript Hooks *
		.js-toggle-sub-menu {}

	*/

	/* Defaults */

		.ei-menu {
		    position: relative;
		    display: block;
		    margin: 0;
		    padding: 0;
		}

		/* Clear Floats (IE8+) */
        .ei-menu:after {
            content: "";
            display: table;
            clear: both;
        }

		.ei-menu-item, .ei-menu-text, .ei-menu-link, .ei-menu-header, .ei-menu-spacer, .ei-menu-divider
		 { display: block; }
	
		.ei-menu-link { cursor: pointer; }

		.ei-menu-link { text-decoration: none; }	
	
		.ei-toolbar .ei-menu {
			display: inline-block;
	
			/* IE Inline Block Fix */
			*zoom: 1;
			*display: block;
		}


	/* Modifiers */

        /* Global Quick Links Menu: Link appearing in page header. */
        .ei-global-quick-links {
            display: inline-block;
            margin: 0 auto;
            float: right;
        }

        .ei-global-quick-links .ei-menu-link {
            color: #fff;
            float: left;
            font-size: 16px;
            line-height: 50px;
            padding: 0 20px;
            text-decoration: none !important;
            vertical-align: middle;
        }

        .ei-global-quick-links .ei-menu-link:hover { background-color: #A5076C /*#930459*/ }
        
        @media screen and (max-width: 400px) {
            .ei-global-quick-links .ei-menu-link { padding: 0 10px; }
        }
        
        /* END - Global Quick Links Menu */


	/* JavaScript Hooks */
    	.js-toggle-sub-menu {}

/* END - Menus */