@charset "UTF-8";

@import url(reset.css);

* html body {     
    background:url(null) fixed;     
}  
html,body {
	-webkit-text-size-adjust: 100%;
}
body {
	margin:0;
	padding:0;
	color:#000;
	font-family:'Montserrat', sans-serif,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ UI", "Meiryo UI", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
	font-size:14px;
	line-height:1.8em;
}
html {
	overflow-x:hidden;
} 

a {
	color:#333;
	text-decoration: none;
	transition:0.5s;
	text-decoration:none;
}
a:hover {
	color: #b2b2b2;
	text-decoration:none;
}
 a.imgbtn:hover {
	opacity:0.8;
}

h3{
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 160%;
    font-size: 150%;
}

h4{	font-size:18px;
	font-weight:bold;
	margin-bottom:10px
}

.center{ text-align:center;}
.mb40{ margin-bottom:40px;}
.mt40{ margin-top:40px !important;}
.mb0{ margin-bottom:0 !important;}
.pb0{ padding-bottom:0 !important;}
.pt0{ padding-top:0 !important;}


dl dd{	line-height:1.7em;
}

.bg_col_gray{	background-color:#eff5f7;}

.for_sp{display:none;}

.clear{ clear:both;}


.fa-ul{ margin-left:10px !important;}
.fa-ul li{
	margin-bottom: 10px;
	line-height: 1.6em;
	padding-left: 1em;
	text-indent: -1em;
	}
.fa-ul li:last-child{ margin-bottom:0;}
.fa-fw{ width:inherit !important; padding-left:15px;}


.spencer{ display:none;} 

/*----------------------------------------------------------------

	mainvisual style

----------------------------------------------------------------*/
.inner {
	margin:0 auto;
	width:1050px;
	position:relative;
}


#mainvisual          { height:420px; background: url(../img/common/sub_header_bg.png) center center no-repeat;}
#mainvisual.top      { height:555px; background: url(../img/top/bg_mainvisual_01.png) center center no-repeat; background-size:cover;}
/* about */
#mainvisual.about { background: url(../img/common/img_key_about.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.about{	
		background-image: url(../img/common/img_key_about@2x.png) ;
	}
}

/* recruit */
#mainvisual.blue     { background: url(../img/common/img_key_recruit.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.blue{	
		background-image: url(../img/common/img_key_recruit@2x.png) ;
	}
}

/* company */
#mainvisual.green    { background: url(../img/common/img_key_company.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.green{	
		background-image: url(../img/common/img_key_company@2x.png) ;
	}
}

/* news */
#mainvisual.limegreen{ background: url(../img/common/img_key_news.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.limegreen{	
		background-image: url(../img/common/img_key_news@2x.png) ;
	}
}

/* services */ 
#mainvisual.orange   { background: url(../img/common/img_key_services.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.orange{	
		background-image: url(../img/common/img_key_services@2x.png) ;
	}
}

/* cases 事例 */
#mainvisual.red      { background: url(../img/common/img_key_cases.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.red{	
		background-image: url(../img/common/img_key_cases@2x.png) ;
	}
}

/* partner */
#mainvisual.violet   { background: url(../img/common/img_key_partner.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.violet{	
		background-image: url(../img/common/img_key_partner@2x.png) ;
	}
}


#mainvisual.about .content_title h1,
#mainvisual.blue .content_title h1,
#mainvisual.green .content_title h1,
#mainvisual.limegreen .content_title h1,
#mainvisual.orange .content_title h1,
#mainvisual.red .content_title h1,
#mainvisual.violet .content_title h1
{ color:#121212;}

#mainvisual.blue .content_title p,
#mainvisual.green .content_title p,
#mainvisual.limegreen .content_title p,
#mainvisual.orange .content_title p,
#mainvisual.red .content_title p,
#mainvisual.violet .content_title p {
	color:#121212;
	font-size:16px;
}



		#mainvisual.top {
			background-image:none;
		}
		#mainvisual.top .slider {
			opacity: 0;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			max-height: 556px;
			overflow: hidden;
		}
		#mainvisual.top .slider.show {
			opacity: 1;
			transition: opacity .5s;
		}
		#mainvisual.top .slider .slick-slide {
			padding:138px 0 2px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}
		#mainvisual.top .slider .linkpoint img {
			display: inline;
			width: 372px;
			height: 70px;
		}
		#mainvisual.top .slider .slick-dots {
			bottom: 8px;
		}
		#mainvisual.top .linkpoint {
			border: none;
		}
		#mainvisual.top .linkpoint .btn { height: 106px; }
		#mainvisual.top .linkpoint .btn img { display: none; }



/*-- リクルート
----------------------*/

#mainvisual.recruit .content_title{ text-shadow: 0px 0px 4px #666;}
#mainvisual.recruit .content_title h1,
#mainvisual.recruit .content_title p { color:#fff;}
#mainvisual.recruit.r04{ background: url(../img/recruit/r04_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r07{ background: url(../img/recruit/r07_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r08{ background: url(../img/recruit/r08_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r13{ background: url(../img/recruit/r13_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r14{ background: url(../img/recruit/r14_main.jpg) center center no-repeat; background-size:cover; }


#mainvisual.member{ height:650px; margin-bottom:40px;}
#mainvisual.member .content_title p { color:#fff;}

#mainvisual.member.r09_01{ background: url(../img/recruit/r09_01_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_02{ background: url(../img/recruit/r09_02_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_03{ background: url(../img/recruit/r09_03_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_04{ background: url(../img/recruit/r09_04_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_05{ background: url(../img/recruit/r09_05_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_06{ background: url(../img/recruit/r09_06_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_07{ background: url(../img/recruit/r09_07_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_08{ background: url(../img/recruit/r09_08_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_09{ background: url(../img/recruit/r09_09_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_10{ background: url(../img/recruit/r09_10_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_11{ background: url(../img/recruit/r09_11_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_12{ background: url(../img/recruit/r09_12_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.member.r09_13{ background: url(../img/recruit/r09_13_main.jpg) center center no-repeat; background-size:cover; }



/*-- company
----------------------*/
#mainvisual.company{ margin-bottom:40px;}
#mainvisual.company .content_title h1 { color:#fff; text-shadow: 0px 0px 4px #666;}
#mainvisual.company .content_title p { color:#fff;}
#mainvisual.company.b02{ background: url(../img/company/b02_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.company.b03{ background: url(../img/company/b03_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.company.b04{ background: url(../img/company/b04_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.company.b05{ background: url(../img/company/b05_main.jpg) center center no-repeat; background-size:cover; }



/*----------------------------------------------------------------

	header style

----------------------------------------------------------------*/
header {
	height:50px;
	overflow: hidden;
	background-color:#262626;
	position:relative;
}
header h1 {
    float: left;
	margin-left: 20px;
}

header h1 img{
	margin-top: 9px;
	width: 120px;}

header h1 span{
    font-size: 12px;
    color: #fff;
    line-height: 36px;
    padding-left: 18px;
    font-weight: normal;
}

header .subbox {
	float:right;
	
}
header .subbox ul {
	margin:9px 0 10px 0;
	padding-right:10px;
	float:right;
	/* border-right:1px solid #686868; */
	position: relative;
}

header .subbox ul li #___gcse_0{
}
header .subbox ul li #___gcse_0 .gsc-control-cse{
	position: absolute;
    width: 210px;
	padding: 0;
    height: 25px ;
    top: 2px;
    border-color: #262626;
    background-color: #262626;
	overflow: hidden;
}
header .subbox ul li td.gsc-input{
	vertical-align: top;
	padding-right: 0 !important;
}
header .subbox ul li td .gsc-input-box, 
header .subbox ul li td .gsc-input-box-hover,
header .subbox ul li td .gsc-input-box-focus{
	border: none;
	background:#000;
	height: 25px;
}
header .subbox ul li td .gsc-input-box input[type="text"]{
	background: #000 url(../img/common/header_searchTxt.png) 0 -3px no-repeat !important;
	-webkit-background-size: auto 25px !important;
	background-size: auto 25px !important;
	color: #fff !important;
}
header .subbox ul li td .gsc-input-box input[type="text"]:focus{
	background-image: none !important;
}
header .subbox ul li td.gsc-search-button{
	vertical-align: top;
}
header .subbox ul li td.gsc-search-button .cse .gsc-search-button input.gsc-search-button-v2, 
header .subbox ul li td.gsc-search-button input.gsc-search-button-v2{
	margin: 0 ;
}
header .subbox ul li td.gsc-search-button .cse input.gsc-search-button, 
header .subbox ul li td.gsc-search-button input.gsc-search-button{
	margin-top: 2px;
	height: 23px;
	box-sizing:border-box;
	background: #000 url(../img/common/icon_searchHead.png) 50% 50% no-repeat;
	-webkit-background-size: auto 17px !important;
	background-size: auto 17px !important;
	border-color: #fff;
	border-radius:0;
	-webkit-border-radius:0;
}


header .subbox ul li {
	margin-right:10px;
	float:left;
	width:30px;
}
header .subbox ul li.search_blc{
	width: 240px;
	border-right: #686868 1px solid;
	margin-right: 0;
}
header .subbox ul li img{
	width:100%;}

header .subbox p {
	margin:9px 0 10px 20px;
	float:right;
	overflow: hidden;
	width: 60px;
	height: 36px;
}
header .subbox p a {
	padding:0 0 0 10px;
	display: block;
	position: relative;
	color: #fff;
	font-size: 14px;
	line-height: 36px;
	text-decoration:none;
}
header .subbox p a:before {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 0px;
	width: 0;
	height: 0;
	margin-top: -3px;
	border: 3px solid transparent;
	border-left: 5px solid #fff;
}


/*----------------------------------------------------------------

	nav  style

----------------------------------------------------------------*/
nav {
	height:50px;
	border-bottom:1px solid #fff;
	background-color:#262626;
	background: rgba(38,38,38,0.8);
		position:relative;
	
}
nav .inner{
	position:static;
	margin-top: 0;
	height: 100%;
}
nav .navi {
	float:left;
	margin: 0;
}
nav .navi li {
	float:left;
	height: 50px;
}
nav .navi li a {
	padding:0 15px;
	display:block;
	color: #fff;
	font-size: 14px;
	height:100%;
	line-height:50px;
	text-decoration:none;
}
nav .navi > li:hover > a{
	background: rgba(38,38,38,1);
}
nav .subbox {
	float:right;
}
nav .subbox li {
	margin:12px 0 0 ;
	float:left;
}
nav .subbox li + li{ margin-left: 20px; }
nav .subbox li a{
	color: #fff;
}
nav .subbox li a i{ margin:0 4px; }

/* subnav */
nav .header_subnav{
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 99;
	overflow: hidden;
	background: rgba(255,255,255,0.9);
}
nav .header_subnav{
	visibility:hidden;
}
nav .header_subnav dl,
nav .header_subnav ul{
	opacity:0;
	-moz-opacity:0;
	-webkit-opacity:0;
}
nav li.menu-item:hover > .header_subnav{
	visibility:visible;
}
nav li.menu-item:hover > .header_subnav dl,
nav li.menu-item:hover > .header_subnav ul{
	opacity:1;
	-moz-opacity:1;
	-webkit-opacity:1;
	transition:all .3s !important;
}
nav .header_subnav .sub_inner{
	max-width: 1050px;
	margin: 0 auto;
	text-align: center;
}
nav .header_subnav dl,
nav .header_subnav ul{
	position: relative;
	display: inline-block;
	min-width: 100px;
	vertical-align: top;
	padding: 20px 18px ;
	text-align: left;
}
nav .header_subnav dl + dl:before,
nav .header_subnav ul + ul:before{
	content:"";
	display: block;
	position: absolute;
	width: 10px;
	top: 0;
	left: 0;
	border-left: #e4e4e4 1px solid;
	height: 500px;
}
nav .header_subnav ul li{
	display: block;
	float: none;
	height: auto;
}
nav .header_subnav dl a,
nav .header_subnav ul a{
	display: inline-block;
	color: #333;
	line-height: 1.2;
	padding: 8px 0;
}
nav .header_subnav dl dd a{ font-size: 10px; }

nav .header_subnav dl a:hover,
nav .header_subnav ul a:hover{
	background-color: inherit;
	opacity:0.5;
}

/*----------------------------------------------------------------

	mainvisual  style

----------------------------------------------------------------*/

/*-- パンくず
----------------------*/
.bread{ position:relative;
	margin:0 auto;
	width:1180px;
}
.bread p{
	top: 5px;
	font-size:12px;
	color:#121212;
	margin-left:30px;
	position:absolute;
}
.bread p a{ color:#121212; font-size:12px;}	
.bread p a:hover{ text-decoration:underline;}
.member .bread p{ text-shadow: 0 0 10px #333;}


.linkpoint {
	margin:36px auto;
	padding:70px 0 50px;
	width:460px;
	border:2px solid #fff;
	text-align:center;
}
.linkpoint h2 {
	margin-bottom:40px;
	height: 109px;
    font-size: 50px;
    line-height: 55px;
}

.content_title {
	margin:0 auto;
	padding-top:90px;
	text-align:center;
}


.content_title h1 {
	margin-bottom:40px;
	color:#59d1c7;
	font-size:52px;
	font-weight:bold;
	line-height:1.2em;
}
.content_title p {
	color:#121212;
	font-size:16px;
}

#advertisement {
	overflow:hidden;
	background-color:#ffcd78;
}
#advertisement .box {
	margin:0 auto;
	width:1280px;
	position:relative;
}

#advertisement .box img{
	    width: 1280px;
    height: 100px;
	}
#advertisement p {
	float:left;
}
#advertisement .point {
	margin:25px 10px 25px 0;
	font-size:12px;
	width:120px;
	height:28px;
	color:#fff;
	text-align:center;
	line-height:28px;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px; 
	background-color:#4c3d24;
}
#advertisement .text {
	margin:30px 0 0 20px;
	padding-left:40px;
	font-size:20px;
	background: url(../img/achievement/advertisement_icon.png) 0 0 no-repeat;
}
#advertisement .link {
	margin:17px 0 0 20px;
	font-size:14px;
	width:151px;
	height:44px;
	line-height:44px;
}
#advertisement .link a {
	padding-left:30px;
	display:block;
	color:#fff;
	width:151px;
	height:44px;
	text-decoration:none;
	background: url(../img/achievement/advertisement_btn.png) 0 0 no-repeat;
	transition:0.2s;
}
#advertisement .link a:hover {
	background: url(../img/achievement/advertisement_hbtn.png) 0 2px no-repeat;
}


/*----------------------------------------------------------------

	content  style

----------------------------------------------------------------*/
#top #content_01 h2,
#top #content_02 h2,
#top #content_03 h2 {
	margin-bottom:40px;
	text-align:center;
	font-size:280%;
}
#top #content_01 h2 span,
#top #content_02 h2 span,
#top #content_03 h2 span {
	margin-top:30px;
	display:block;
	font-size:16px;
	line-height:24px;
}
/*-----------------------------
	#content_01
-----------------------------*/
#top #content_01 {
	padding:50px 0;
	overflow:hidden;
	background-color:#eff5f7;
}
#top #content_01 ul {
	margin:0 auto;
	max-width: 900px;
}
#top #content_01 ul li {
	margin:0 0.8% 16px;
	float:left;
	box-sizing:border-box;
	width:48%;
	min-height:240px;
	text-align:center;
	border:2px solid #404a60;
}
#top #content_01 ul  {
	display:-webkit-box;
	display:-moz-box;
	display:-ms-box;
	display:-webkit-flexbox;
	display:-moz-flexbox;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flex;
	display:flex;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
 

#top #content_01 ul li img {
	margin-bottom:25px;
}

#top #content_01 ul li.for_pc img{
    width: 40%;
    padding-top: 22%;
}

#top #content_01 ul li strong {
	margin-bottom:20px;
	display:block;
	font-size:22px;
	font-weight:bold;
}
#top #content_01 ul li p {
	margin:0 20px;
	font-size:13px;
	text-align:left;
	line-height:18px;
}
#top #content_01 ul li a {
	display:block;
	padding:28px 0 10px;
	color:#404a60;
	width:100%;
	height: 100%;
	box-sizing:border-box;
	text-decoration:none;
	transition:0.5s;
}

#top #content_01 ul li a:hover {
	color:#fff;
	background-color:#404a60;

}
#top #content_01 ul li a img{
	transition:0.5s;
	max-width: 122px;
	height: auto;
}

/*-----------------------------
	#content_02
-----------------------------*/
#top #content_02 {
	padding:50px 0;
	overflow:hidden;
	background-color:#ffffff;
}
#top #content_02 ul {
	margin:0 auto;
	max-width:912px;
	text-align: center;
}
#top #content_02 ul li {
	margin:0 4px 10px;
	display:inline-block;
	width:140px;
	height:140px;
	box-sizing:border-box;
	position:relative;

}
#top #content_02 ul li img {
	border:2px solid #000000;
	position:relative;
	z-index:1;
	width:100%;
}
#top #content_02 ul li p{
		position:absolute;
	left:2px;
	bottom:-5px;
	z-index:2;
	color:#fff;
	font-size:10px;
	}
#top #content_02 ul li p span {
	padding:0 5px;
	background-color:#7f7f7f;
	display:block;
	float:left;
	margin-right:3px;
	margin-bottom: 3px;
}
#top #content_02 ul li a img {
	transition:0.5s;
}
#top #content_02 ul li a:hover img {
	opacity: 0.4;
}
/*-----------------------------
	#content_03
-----------------------------*/
#top #content_03 {
	padding:50px 0 40px;
	overflow:hidden;
	background-color:#eff5f7;
}
#top #content_03 ul.pickup {
	margin:0 auto 70px;
	max-width:912px;
	overflow:hidden;
}
#top #content_03 ul.pickup li {
	margin:0 1%;
	float:left;
	width:31.3%;
	text-align: justify;
	text-justify: inter-ideograph;
}
#top #content_03 ul.pickup li img {
	margin-bottom:18px;
	width:100%;
}
#top #content_03 ul.pickup li h4 {
	font-size:16px;
	font-weight:bold;
	line-height:26px;
}
#top #content_03 ul.pickup li h4:hover{}

#top #content_03 ul.pickup li p {
	margin-bottom:15px;
	font-size:14px;
	position:relative;
}
#top #content_03 ul.pickup li p span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	font-size:11px;
	position:relative;
	top:-1px;
}

#top #content_03 ul li p span.news {
	background-color:#ff9a17;
}
#top #content_03 ul li p span.article {
	background-color:#3d98d1;
}
#top #content_03 ul li a img {
	transition:0.5s;
}
#top #content_03 ul li a:hover img {
	opacity: 0.6;
}

#top #content_02 .link_right,
#top #content_03 .link_right{
    width: 1140px;
    margin: 0 auto;
}

/*-----------------------------
	#content_04
-----------------------------*/
#top #content_04 {
	padding:50px 0;
	overflow:hidden;
	background-color:#ffffff;
}
#top #content_04 ul {
	margin:0 auto;
	width:912px;
	overflow:hidden;
}
#top #content_04 ul li {
	margin:0 1%;
	float:left;
	width:31.3%;
	text-align: justify;
	text-justify: inter-ideograph;
}
#top #content_04 ul li img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom:25px;
}
#top #content_04 ul li h4 {
	margin-bottom:25px;
	display:block;
	font-size:18px;
	text-align:center;
}
#top #content_04 ul li p {
	font-size:14px;
	text-align:left;
	line-height:18px;
}
#top #content_04 ul li a {
	color:#000;
	text-decoration:none;
}
#top #content_04 ul li a img {
	transition:0.5s;
}
#top #content_04 ul li a:hover img {
	opacity: 0.6;
}


/*
	sub
-----------------------------------------------------------------
-----------------------------------------------------------------*/



/*-----------------------------
	sub_common
-----------------------------*/
.h2_lead h2 {
	font-size:30px;
	text-align:center;
	line-height:42px;
}
.h2_lead p{
	margin:25px auto 0;
	width:800px;
	font-size:16px;
	text-align:center;
}

h2.underTitle{
	position: relative;
    font-size: 38px;
    text-align: center;
	line-height: 100%;
	padding-bottom: 25px;

}

h2.underTitle:after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 4px;
	margin: 0 auto;
	background-color: #788f95;
}

/*-----------------------------
	.partsBox
-----------------------------*/
.partsBox .box {
	overflow:hidden;
}

.partsBox .box:last-child{
	padding-bottom:0;}

.partsBox .box .left {
	float:left;
	width:50%;
	overflow:hidden;
}
.partsBox .box .right {
	float:right;
	width:50%;
	overflow:hidden;
}
.partsBox .left h3,
.partsBox .right h3 {
	margin:0px auto 20px;
	padding-bottom:20px;
	width:80%;
	font-weight:bold;
	padding-top:40px;
}
.partsBox .left h4,
.partsBox  .right h4 {
	margin:0px auto 20px;
	width:80%;
	font-size:18px;
	font-weight:bold;
	padding-top:60px;
}
.partsBox .left img,
.partsBox .right img {
	width:100%;
	height:auto;
}
.partsBox .left p,
.partsBox .right p {
	margin:0 auto 40px;
	width:80%;
}
.partsBox .text h3 {
line-height: 160%;
    font-size: 150%;
    font-weight: bold;
    padding: 0;
    margin-bottom:40px;
	text-align:center;
}
.partsBox .text h4 {
	margin:0 auto 20px;
	width:900px;
	font-size:18px;
	font-weight:bold;
}
.partsBox .photo img {
	width:100%;
	height:auto;
}
.partsBox .text p {
	margin:0 auto;
	width:900px;
font-size: 102.5%;
    line-height: 185%;
	}
.partsBox .box b {
	font-weight:bold;
}


/*-----------------------------
	.リンク位置
-----------------------------*/
.link_Area{ width:1140px; margin:0 auto 40px;}
a.link_right { float:right;}
a.link_left { text-align:left;}
a.link_center { text-align: center;}



.faq_link{ width:1140px; margin:0 auto;}

/*-----------------------------
	.全幅コンテンツ
-----------------------------*/

/* 共通 */
.con_all_photo_U,.con_all_txt_U,con_TXT {
	margin-bottom:40px;
	}
.con_all_photo_U h3,.con_all_txt_U h3,con_TXT h3,
.con_all_photo_U h4,.con_all_txt_U h4,con_TXT h4{
	 margin: 0px 0 40px 0;
	 }

/* .con_all_photo_U　写真下 */
.con_all_photo_U{}
.con_all_photo_U .text p{ margin-bottom:40px;}

/* .con_all_txt_U　テキスト下 */
.con_all_txt_U{}
.con_all_txt_U .photo{ margin-bottom:40px;}

/* .con_TXT　テキストのみで構成 */
.con_TXT .text p{ margin-bottom:40px;}







/*-----------------------------
	.partsBox_White
-----------------------------*/
.partsBox_White {
	padding-bottom:30px;
	clear:both;
	overflow:hidden;
}
.partsBox_White .box {
	margin:0 auto;
	width:1140px;
	text-align: justify;
	text-justify: inter-ideograph;
	padding-bottom:30px;

}
.partsBox_White .box ul.two_item {
	clear:both;
	overflow:hidden;
}
.partsBox_White .box ul.two_item li {
	float:left;
	width:540px;
	font-size:14px;
	line-height:1.5;
}
.partsBox_White .box ul.two_item li:nth-child(odd) {
	margin-right:60px;
}
.partsBox_White .box ul.two_item li img {
	margin-bottom:30px;
}
.partsBox_White .box ul.three_item {
	clear:both;
	overflow:hidden;
}
.partsBox_White .box ul.three_item li {
	float:left;
	width:360px;
	font-size:14px;
	line-height:1.5;
	margin-bottom:30px;
}
.partsBox_White .box ul.three_item li:nth-child(2),
.partsBox_White .box ul.three_item li:nth-child(5),
.partsBox_White .box ul.three_item li:nth-child(8) {
	margin:0 30px;
}
.partsBox_White .box ul.three_item li img {
	margin-bottom:20px;
}
.partsBox_White .box a {
	color:#404a60;
	text-decoration:none;
}
.partsBox_White .box a:hover {
	text-decoration:none;
}



/*-----------------------------
	.achievement
-----------------------------*/

.achievement {
	padding-bottom:40px;
	clear:both;
	overflow:hidden;
}
.achievement .box {
	margin:0 auto;
	width:1140px;
	text-align: justify;
	text-justify: inter-ideograph;
}

/* 事例部分*/

ul.icons {
	clear:both;
	overflow:hidden;
	margin:0 auto;
	width:1146px;
}
ul.icons li {
	margin:0 10px 20px;
	float:left;
	width:171px;
	font-size:14px;
	line-height:1.5;
	position:relative;
}
ul.icons li img {
	margin-bottom:15px;
	width:171px;
	border:2px solid #000000;
}
ul.icons li a img {
	transition:0.5s;
}
ul.icons li a:hover img {
	opacity: 0.4;
}

ul.icons li p{
    position: absolute;
    left: 2px;
    bottom: 14px;
    z-index: 2;
    color: #fff;
    font-size: 10px;
		}
ul.icons li p span{
	padding:0 5px;
	background-color:#7f7f7f;
	display:block;
	float:left;
	margin-right:3px;
	margin-bottom: 3px;
	}
.services ul.icons li p{ margin: 0;}






/*-----------------------------
	.hexagon
-----------------------------*/

.hexagon {
	padding-bottom:40px;
	clear:both;
	overflow:hidden;
}
.hexagon .box {
	margin:0 auto;
	width:1140px;
	text-align: justify;
	text-justify: inter-ideograph;
}


.hexagon .box ul{
	clear:both;
	overflow:hidden;
}
.hexagon .box ul li {
	padding-top:40px;
	float:left;
	width:360px;
	height:272px;
	text-align:center;
	background: url(../img/common/sub_hexagon_bg.png) 0 0 no-repeat;
}
.hexagon .box ul li:nth-child(2),
.hexagon .box ul li:nth-child(5),
.hexagon .box ul li:nth-child(8) {
	margin:0 30px;
}
.hexagon .box ul li h4 {
	margin-bottom:30px;
	font-size:30px;
	font-weight:bold;
	line-height:38px;
}
.hexagon .box ul li p {
	font-size:16px;
	line-height:26px;
}

/*　.english　.hexagon　*/

.en .hexagon .box ul li h4 {
	font-size:26px;
	line-height:36px;
    margin-bottom: 13px;
}

.en .hexagon .box ul li p{
	font-size: 15px;
}


/*-----------------------------
	.partsBox_Yellow
-----------------------------*/
.partsBox_Yellow {
	margin-bottom: 40px;
	overflow:hidden;
	background-color:#eff5f7;
}
.partsBox_Yellow .box {
	margin:40px auto 20px;
	width:1140px;
	text-align: justify;
	text-justify: inter-ideograph;
}
.partsBox_Yellow .box ul li {
		position:relative;
}
.partsBox_Yellow .box a{
		position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	text-decoration:none;
	color:#fff;
	text-indent:-9999px;
	display:block;
    z-index: 999;
	}
.partsBox_Yellow .box a:hover{
    background-color:#FFF;
    filter:alpha(opacity=5);
    -moz-opacity: 0.5;
    opacity: 0.5;
	transition:0.5s;
}


.partsBox_Yellow .box ul.three_item {
	clear:both;
	display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.partsBox_Yellow .box ul.three_item li {
	padding:10px;
    margin: 0 29px 20px 0;
	float:left;
	width:340px;
	font-size:14px;
	line-height:1.5;
	background-color:#fff;
}

/*.partsBox_Yellow .box ul.three_item li:nth-child(n + 4) {
	margin-bottom:0;}
	*/

.partsBox_Yellow .box ul.three_item li:nth-child(3n) {
	margin-right:0;
	}
.partsBox_Yellow .box ul.three_item li img {
    margin: 0 auto 19px;
    display: block;
	width:100%;
	}
.partsBox_Yellow .box ul.three_item li h4 {
	margin-bottom:20px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.partsBox_Yellow .box ul.three_item li p {
	margin:0 10px 20px;
	font-size:14px;
}

.partsBox_Yellow .box .secbox {
	padding:30px 15px 10px;
	background-color:#fff;
}
.partsBox_Yellow .box .secbox h4 {
	padding:30px 0 45px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
.partsBox_Yellow .box .secbox ul.item {
	clear:both;
	display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.partsBox_Yellow .box .secbox ul.item li {
	margin:0 15px;
	float:left;
	width:340px;
	font-size:14px;
	line-height:1.5;
}
.partsBox_Yellow .box .secbox ul.item li img {
	margin-bottom:20px;
}
.partsBox_Yellow .box .secbox ul.item li h5 {
	margin-bottom:20px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.partsBox_Yellow .box .secbox ul.item li p {
	margin:0 10px 30px;
	font-size:14px;
}
/*-----------------------------
	.info
-----------------------------*/
#top .info {
	padding-bottom: 10px;
}
.info {
	padding-bottom:60px;
	overflow:hidden;
}
.info .box {
	margin:0 auto;
	width:1140px;
}
.info ul {
	overflow:hidden;
	position:relative;
}
.info ul li {
	margin-bottom:30px;
	overflow:hidden;
	position:relative;
}

.info ul li:last-child {
	margin-bottom:0;
	}


.info ul li img {
	margin-right:25px;
	float:left;
}
.info ul li h4 {
	font-size:16px;
	font-weight:bold;
	line-height:26px;
width: 80.3%;
    float: right;
}
.info ul li h4 span,
 ul.pickup li h4 span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	font-size:11px;
	background-color:#ff0048;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.info ul li p {
	margin-bottom:3px;
	font-size:14px;
	position:relative;
}
.info ul li p span {
	margin-left:10px;
	padding:2px 20px;
	color:#fff;
	font-size:11px;
	position:relative;
	top:-1px;
}
.info ul li h4 a {
	color:#000;
	text-decoration:none;
}
.info ul li h4 a:visited {
	color:#8c8c8c;
	text-decoration:none;
}
.info ul li h4  a:hover {
	color:#b2b2b2;
	text-decoration: none;
}


.info ul li p span.news {
	background-color:#ff9a17;
}
.info ul li p span.article {
	background-color:#3d98d1;
}


/*-----------------------------
	.news
-----------------------------*/

.news {
	padding-bottom:60px;
	overflow:hidden;
}
.news .box {
	margin:0 auto;
	width:1140px;
}


.news ul {
	overflow:hidden;
	position:relative;
}
.news ul li {
	margin-bottom:20px;
	overflow:hidden;
	position:relative;
}

.news ul li:last-child {
	margin-bottom:0;
	}

.news ul li h4 {
	margin-left:20px;
	float:left;
	font-size:14px;
	line-height:20px;
	width:1000px;
}
.news ul li h4 span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	font-size:11px;
	background-color:#ff0048;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.news ul li p {
	float:left;
	font-size:14px;
	position:relative;
	line-height:20px;
	width: 115px;
}
.news ul li p span {
	margin-right:10px;
	padding:2px 20px;
	color:#fff;
	font-size:11px;
	position:relative;
	top:-1px;
	background-color:#ff9a17;
}
.news ul li p span.article {
	background-color:#3d98d1;
}
.news a {
	color:#000;
	text-decoration:none;
}
.news a:visited {
	color:#000;
	text-decoration:none;
}
.news  a:hover {
	color:#b2b2b2;
	text-decoration: none;
}

/*-----------------------------
	.jobs
-----------------------------*/
#content.jobs .h2_lead {
	margin-bottom: 0;
}

/*-----------------------------
	.decimal
-----------------------------*/

.decimal {
	padding-bottom:60px;
	overflow:hidden;
}
.decimal .box {
	margin:0 auto;
	width:1140px;
}
.decimal ul{
	list-style: decimal inside;
	font-size:14px;
	line-height:24px;
}
.decimal a {
	color:#000;
	text-decoration:none;
}
.decimal a:visited {
	color:#8c8c8c;
	text-decoration:none;
}
.decimal  a:hover {
	color:#b2b2b2;
	text-decoration: underline;
}



/*-----------------------------
	.tbl_01 table
-----------------------------*/
.tbl_01 {
	padding-bottom:60px;
	overflow:hidden;
}

.tbl_01 .box {
	margin:0 auto;
	width:1140px;
}


.tbl_01 table {
	width:100%;
	background:#e0ebef;
}
.tbl_01 table th {
	padding:30px;
	font-size:16px;
	line-height:24px;
	text-align:center;
	color:#fff;
	background:#73848a;
	border-right:6px solid #fff;
	border-bottom:6px solid #fff;
}
.tbl_01 table td {
	padding:30px;
	width:25%;
	font-size:16px;
	line-height:24px;
	border-right:6px solid #fff;
	border-bottom:6px solid #fff;
}
.tbl_01 table th:last-child,
.tbl_01 table td:last-child {
	border-right:none;
}
.tbl_01 table tr:nth-child(2n) {
	background: #eff5f7;
}

/*-----------------------------
	.tbl_02 table
-----------------------------*/

.tbl_02 {
	padding-bottom:40px;
	overflow:hidden;
}

.tbl_02 .box {
	margin:0 auto;
	width:1140px;
}

.tbl_02 table {
	width:100%;
	background:#e0ebef;
}
.tbl_02 table th {
	padding:10px 30px;
	width:25%;
	font-size:16px;
	line-height:24px;
	text-align:center;
	color:#fff;
	background:#73848a;
	border-right:6px solid #fff;
	border-bottom:6px solid #fff;
	vertical-align:middle;
}
.tbl_02 table td {
	padding:10px 30px;
	font-size:16px;
	line-height:24px;
	border-right:6px solid #fff;
	border-bottom:6px solid #fff;
}
.tbl_02 table th:last-child,
.tbl_02 table td:last-child {
	border-right:none;
}
.tbl_02 table tr:nth-child(2n) {
	background: #eff5f7;
}

table td{ vertical-align:middle;}

.s_bg_price,.v_bg_price,.f_bg_price{ font-size: 180% !important;}

/*-----------------------------
	.note
-----------------------------*/
.note {
	padding-bottom:60px;
	overflow:hidden;
	font-size:12px !important;
	clear:both;
}

.note .box {
	margin:0 auto;
	width:1140px;
}


.note dt {
	margin-right: 5px;
    float: left;
}
.note dd {
	margin-bottom:10px;
    overflow: hidden;
}


.note dd:last-child {
	margin-bottom:0;
	}

.note dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.note dl{
	font-size:12px;
	line-height:18px;
    display: inline-block;
}

.note dl {
    display: block;
}

* html .note dl {
    height: 1%;
}
.note dl {
    display: block;
}



/*-----------------------------
	txt_P
-----------------------------*/
.txt_P{
	padding-bottom:60px;
	font-size:14px;
	line-height:18px;

}
.txt_P .box {
	margin:0 auto;
	width:1140px;
	}



/*-----------------------------
	squeeze_box
-----------------------------*/

.squeeze_box {
	margin-bottom:40px;
	overflow:hidden;
    background-color: #f4f4f4;
}

.squeeze_box .box{
    margin: 0 auto;
    width: 1140px;}

.squeeze_box .box div{
    padding: 20px 70px;
    overflow: hidden;
}
.squeeze_box .box h4 {
	padding:30px 0 45px;
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
.squeeze_box .box p.checktext {
margin-bottom: 20px;
    float: left;
    width: 240px;
    font-size: 14px;}



div.usu_small {
	margin:0 auto;
	width:180px;
}
div.usu_small input.btn {
	width:180px;
	height:30px;
	cursor:pointer;
	color:#fff;
	border:none;
	font-size:15px;
	font-weight:bold;
	background-color:#404a60;
	border-radius:10px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
div.usu_small input.btn:hover {
	color:#fff;
	background-color:#555555;
	text-decoration:none;
}



/*-----------------------------
	.facebook
-----------------------------*/
.facebook_box {
	padding-bottom:60px;
	overflow:hidden;
}

.facebook_box .box {
    margin: 0 auto;
    width: 1140px;
	padding:30px 0px;
	color:#fff;
	overflow:hidden;
	background-color:#3b5998;
}
.facebook_box .box h4 {
	margin-bottom:20px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
}
.facebook_box div.fb_btn {
	margin:0 auto;
	width:310px;
}
.facebook_box div.fb_btn a {
	width:310px;
	height:48px;
	display:block;
	position:relative;
	background-color:#3b5998;
	border:1px solid #fff;
	border-radius:10px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	text-decoration:none;
}
.facebook_box div.fb_btn a img {
	position:absolute;
	top:10px;
	left:41px;;
}
.facebook_box div.fb_btn a:hover {
	background-color:#555;
	text-decoration:none;
}


/*-----------------------------
	.contact_box
-----------------------------*/
.contact_box {
	padding-bottom:40px;
	overflow:hidden;
}
.contact_box .box  {
	margin:0 auto;
	padding:40px 0;
	overflow:hidden;
	border:4px solid #bfc5c7;
    width: 1140px;

}
.contact_box .box h4 {
	margin-bottom:40px;
	line-height: 150%;
    font-size: 140%;
	font-weight:bold;
	text-align:center;
}
.contact_box .box p {
	font-size:16px;
	text-align:center;
	margin-bottom:40px;
}
.contact_btn {
  position: relative;
  overflow: hidden;
}
.contact_btn ul {
  position: relative;
  left: 50%;
  float: left;
}
.contact_btn ul li {
  position: relative;
  left: -50%;
  float: left;
  background-color:#fff;
}
.btn_contact a {
	margin:0 10px;
	width:320px;
	height:60px;
	display:block;
	color:#fff;
	line-height:60px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	border-radius:5px;
	background:#404a60 url(../img/common/sub_btn_mail.png) 30px 23px no-repeat;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.contact_btn ul li.btn_usubig a {
	margin:0 10px;
	width:320px;
	height:60px;
	display:block;
	color:#fff;
	line-height:60px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	background-color:#404a60;
	border-radius:10px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	text-decoration:none;

}
.contact_btn ul li.btn_contact a:hover,
.contact_btn ul li.btn_usubig a:hover {
	background-color:#555;
	text-decoration:none;
}

/*-----------------------------
	.notation_box
-----------------------------*/

.notation_box  {
	padding-bottom:60px;
	overflow:hidden;
    width: 1140px;
	margin:0 auto;
}
.notation_box .box  {
	padding:40px;
	overflow:hidden;
	border:1px solid #dedede;
	background-color:#f0f0f0;
}

.notation_box  dt {
	margin-right: 5px;
    float: left;
}
.notation_box  dd {
    overflow: hidden;
	line-height:1.7em;
}
.notation_box  dl {
	font-size:12px;
	line-height:18px;
    display: inline-block;
}
* html .notation_box  dl {
    height: 1%;
}

/*-----------------------------
	.faq_box
-----------------------------*/
.faq_box {
	margin-bottom:60px;
	overflow:hidden;
	border-bottom:1px solid #ecedef;
}
.faq_box dl {
	border-top:1px solid #ecedef;
}
.faq_box dl dt {
	margin:0 auto;
	padding:40px 0 40px 60px;
	width:1080px;
	font-size:16px;
	font-weight:bold;
	background:url(../img/common/faq_icon_01.png) 0 center no-repeat;
	background-size:24px;
}
.faq_box dl dt p {
	float:right;
	padding-right:20px;
}
.faq_box dl dd {
	margin:0 auto;
	padding:5px 0 40px 60px;
	width:1080px;
	font-size:16px;
	background:url(../img/common/faq_icon_02.png) 0 0 no-repeat;
	background-size:24px;
}

.faq_box dl dt p img{ width:50%;}


/*-----------------------------
	メールフォーム
-----------------------------*/
.formBOX {
	padding:60px 0;
	margin-bottom:60px;
	overflow:hidden;
	background-color:#f4f4f4;
}
.formBOX .box {
	margin:0 auto;
	width:1140px;
}


.formBOX .box p.errormes {
	margin-bottom:60px;
	color:#ff0048;
	font-size:16px;
	font-weight:bold;
}
.mailform {
	margin:0 auto;
	width:960px;
	clear:both;
	overflow:hidden;
}
.mailform dt {
	margin:0 20px 20px 0;
	float:left;
	width:180px;
	line-height:40px;
}
.mailform dt p {
	margin-top:10px;
	float:right;
	color:#fff;
	width:40px;
	font-size:12px;
	line-height:20px;
	text-align:center;
	background-color:#4d4d4d;
}
.mailform dd {
	margin:0 0 20px;
	padding-left:20px;
	float:left;
	width:740px;
	font-size: 14px;
	text-align:left;
	line-height:40px;
}
.mailform dd span {
	margin-right:40px;
}
.mailform input.text {
	margin:0 30px 0 10px;
	padding:0 10px;
	color:#333333;
	height:40px;
	font-size: 14px;
	vertical-align: middle;
	background:#FFF;
	border:1px solid #e6e6e6;
}
.mailform input.radio {
	margin:0 10px 0 0;
}
.mailform input.txtfiled1 {
	padding:0 10px;
	color:#333333;
	height:40px;
	font-size: 14px;
	vertical-align: middle;
	background:#FFF;
	border:1px solid #e6e6e6;
}
.mailform textarea.txtfiled2 {
	padding:10px;
	width:720px;
	height:280px;
	font-size:15px;
	background:#FFF;
	border:1px solid #e6e6e6;
}
.mailform dd p.errtext {
	float:right;
	color:#ff0048;
	font-size:14px;
	font-weight:bold;
}
.mailform select {
	margin-right:10px;
	min-width:100px;
	font-size:12px;
	height:22px;
	line-height:20px;
	border-radius:4px;
}
.mailform dd span.sletext {
	margin-right:20px;
}
.mailform dd p.checktext {
	float:left;
	width:240px;
}
input[type="file"] {
	font-size: 16px;
}
input[type="file"],
input[type="file"]::-webkit-file-upload-button {
	font: inherit;
}
input[type="file"]::-webkit-file-upload-button {
	padding:0 40px;
	border: 1px solid #ccc;
	border-radius: 10px;
	color: #fff;
	background: -moz-linear-gradient(top,#8b9a9e 0%,#68777d);
	background: -webkit-gradient(linear, left top, left bottom, from(#8b9a9e), to(#68777d));
}
input[type="file"]::-webkit-file-upload-button:focus {
	outline-offset: -2px;
}
div.formbtn {
	margin:0 auto;
	width:300px;
}
div.formbtn input.btn-danger {
	width:300px;
	height:54px;
	cursor:pointer;
	color:#fff;
	border:none;
	font-size:15px;
	font-weight:bold;
	background-color:#ff0048;
	border-radius:10px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
	text-decoration:none;
}
div.formbtn input.btn-danger:hover {
	color:#fff;
	background-color:#555555;
	text-decoration:none;
}


/*----------------------------------------------------------------

	footer

----------------------------------------------------------------*/
footer{
	background:#000;
}
footer  a {
  display: inline-block;
	color:#fff;
	text-decoration:none;
}

footer  a:hover{ text-decoration:underline;
}

footer .premierconsulting {
	padding:15px 0;
	clear:both;
	width:100%;
	text-align:center;
	background-color:#fcbc4f;
}
footer .premierconsulting a img {
	margin:0 20px;
	height:45px;
}
footer .premierconsulting  ul li {
	display: inline-block;
	vertical-align: middle;
}
footer .premierconsulting a img {
	
	transition:0.5s;
}

footer .premierconsulting  ul li:last-child img{ width:402px;}

footer .premierconsulting a:hover img {
	opacity: 0.6;
}



footer .footermenu .box {
	margin:50px auto;
	padding: 0;
	width:1050px;
	overflow:hidden;
}

footer .footermenu>.box>ul{
	float: left;
	margin-right: 2.5%;
	box-sizing:border-box;
}
footer .footermenu>.box>ul{
	width: 11.8%;
}
footer .footermenu>.box>ul:nth-child(2){
	width: 14%;
}

footer .footermenu>.box>ul:last-child{
	margin-right: 0;
}

footer .footermenu>.box>ul>li {
	font-size:14px;
}
footer .footermenu>.box>ul>li a { margin-bottom: 15px;  }

footer .footermenu>.box>ul{
	position: relative;
}
footer .footermenu>.box>ul:before {
	content:"";
	position: absolute;
	left: 0;
	top: 2.8em;
	width: 90%;
	height: 1px;
	border-top: #333 1px solid;
}

footer .footermenu>.box>ul>li a + ul.sub-menu{
	padding-top: 19px;
}
footer .footermenu ul li ul.sub-menu{
	padding: 10px 0 0;
}
footer .footermenu ul li ul.sub-menu li {
	font-size:12px;
	line-height:1.2em;
	font-weight: normal;
}
footer .footermenu ul li ul.sub-menu li a{ margin-bottom: 4px; }

footer .footermenu ul li ul.sub-menu-Large li {
	padding-bottom: 12px;
}

footer .footermenu ul li ul.under-menu li{
	font-size: 10px;
	
}
footer .footermenu ul li ul.under-menu li a{ color: #ccc;}




footer .copylogo {
	padding:25px 0;
	clear:both;
	overflow:hidden;
	text-align:center;
	border-top:2px solid #333;
}
footer .copylogo .inner{
	width: 1050px;
	margin: 0 auto;
}
footer .copylogo .footer-subNav{
	float: left;
	text-align: left;
}
footer .copylogo .footer-subNav li{
	display: inline-block;
	font-size: 12px;
	margin-right: 28px;
}
footer .copylogo .copyright {
	float:right;
	color:#fff;
	font-size:12px;
}
/*----------------------------------------------------------------

	pagetop

----------------------------------------------------------------*/
#page-top {
	padding-bottom: 50px;
	text-align: center;
}
#page-top p {
	display: inline-block;
}
#page-top p a{
	display: block;
	height: 50px;
	width: 50px;
	border: #000 1px solid;
	border-radius:50%;
}
#page-top p a:hover{
	border-color: #999;
}
#page-top p i{
	margin-top: 10px;
	font-size: 28px;
}

/*---------------
FAQ
---------------*/
.accordion dt p {
	cursor:pointer;
	background: url(../img/common/faq_icon_03.png);
	background-repeat: no-repeat;
	background-position: center;
	padding:15px;
	font-size:14px;
}
.accordion dd{
	display:none;
	font-size:14px;
	line-height:140%;
	margin:0;
	padding:15px;
}
.accordion dt.active p{
	background: url(../img/common/faq_icon_04.png);
	background-repeat: no-repeat;
	background-position: center;
	padding:15px;
	font-size:14px;
}

/*---------------
下線付きh3
---------------*/
h3.underLine.box_title {
	display: block;
	width: 900px;
	padding-bottom: 15px;
	margin: 0 auto 30px auto;
	border-bottom: solid 1px #f0f4f7;
}

section>.underLine.section_title p {
    font-size: 16px;
    line-height: 22px;
    margin: 40px auto 0;
    text-align: center;
    width: 800px;
}



/* .cm_services2
----------------------------------------- */

.services .cm_services2 section{
	padding: 0;
	border-top: #323232 1px solid;
}
.services .cm_services2 section .inner{
	max-width: 900px;
	margin: 0 auto;
	padding: 40px 0 ;
	font-size: 14px;
	line-height: 1.3em;
}
.services .cm_services2 p { padding: 0; margin: 0; line-height: 1.4em; }
	
	.cm_services2 .section_body table th,
	.cm_services2 .section_body table td,
	.cm_services2 .section_body table tr{
		background: #f4f4f4;
		color: #000;
		border-right: none;
		border-left: none ;
	}
.cm_services2 section .text_colorR{ color: #873b3b !important; }
.cm_services2 section .text_colorY{ color: #a08800 !important; }
.cm_services2 section .text_colorB{ color: #4d6f83 !important; }
	
/* 外部リンク */
.cm_services2 section .link_outSide{
	text-align: center; 
	line-height: 1.3em;
}
.cm_services2 section a{
	color: #13b6c9;
}
.cm_services2 section a:hover{
	opacity: 0.8;
	-webkit-opacity:0.8;
}
.cm_services2 section .link_outSide a:after{
	content:"";
	display: inline-block;
	margin-left: 4px;
	width: 15px;
	height: 13px;
	vertical-align: middle;
	background: url(../img/common/icon_linkarrow.png) 0 0 no-repeat ; 
	-webkit-background-size: 100%, auto;
	background-size: 100%, auto;
}
.cm_services2 section .alignL{ float: left; }
.cm_services2 section .alignR{ float: right; }
.cm_services2 section .picArea img{ display: block; width: 100%; height: auto; }

.cm_services2 .bg_col_yellow .section_title{ color: #fff; }

/* タイトル */
.cm_services2 .section_title{
	margin: 0;
	text-align: center;
}
	.cm_services2 .section_title .ttl_pic{ 
		max-width: 122px;
		margin: 10px auto 30px;
	}
	.cm_services2 .section_title .ttl_pic img{
		display: block;
		width: 100%;
		height: auto;
	}
	.cm_services2 .section_title .ttl_txt{
		margin-bottom: 30px;
	}
	
	.cm_services2 .section_title .ttl_txt h1,
	.cm_services2 .section_title .ttl_txt h2,
	.cm_services2 .section_body h3{
		font-size: 24px;
		line-height: 1.2em; 
	}
	.cm_services2 .section_title .ttl_txt p{
		padding: 10px 0 0;
	}
	
/* 本文 */
	/* col_blc */
	.cm_services2 .section_body .col_blc .col_item{
		float: left;
		box-sizing:border-box;
	}	
	.cm_services2 .section_body .col_blc .col_item p{ line-height: 1.4em; }
	.cm_services2 .section_body .col_blc .col_item .col_title{
		margin: 0 0 18px;
		font-size: 18px;
		font-weight: normal;
		line-height: 1em;
	}
	.cm_services2 .section_body .col_item.col_spaceS dd{
		padding: 0 5px;
	}
	
	/* col_blc 3 */
	.cm_services2 .section_body .col_blc-3 .col_item{
		width: 31.8%;
		margin:10px 0 20px;
	}
	.cm_services2 .section_body .col_blc-3 .col_item:nth-child(3n+2){ margin-right: 2.3% ; margin-left: 2.3% ;  }
	/* col_blc 4 */
	.cm_services2 .section_body .col_blc-4 .col_item{
		width: 23.5%;
		margin:10px 2% 10px 0;
	}
	.cm_services2 .section_body .col_blc-4 .col_item:nth-child(4n+4){  margin-right: 0; }
	
	/* col_blc card */
	.cm_services2 .section_body .col_card .col_item{
		padding: 10px;
		background: #fff;
		border: #ccc 1px solid;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}

	.cm_services2 .section_body .col_blc-3,
	.cm_services2 .section_body .col_blc-4{
		display:-webkit-box;
		display:-moz-box;
		display:-ms-box;
		display:box;
		display:-webkit-flexbox;
		display:-moz-flexbox;
		display:-ms-flexbox;
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flex;
		display:flex;
		-webkit-box-lines:multiple;
		-moz-box-lines:multiple;
		-webkit-flex-wrap:wrap;
		-moz-flex-wrap:wrap;
		-ms-flex-wrap:wrap;
		flex-wrap:wrap;
	}

	.cm_services2 .section_body .col_card .col_item .card_pic{
		max-width: 92px;
		margin: 15px auto ;
	}
	.cm_services2 .section_body .col_card .col_item .card_pic img{ display: block; width: 100%; height: auto; }
	.cm_services2 .section_body .col_card .col_item .col_title{
		padding-right: 0px;
		padding-left: 0px;
		text-align: center;
		color: #13b6c9;
	}
	.cm_services2 .section_body .col_card .col_item p.col_title{ margin-bottom:  15px; }
	.cm_services2 .col_card .col_item dd{ padding: 0 0 5px; }
	.cm_services2 .section_body .col_card .col_item .link_outSide{
		margin: 10px 0 5px;
	}
	
	/* col_card-link */
	.cm_services2 .section_body .col_card-link .col_item {
		margin:10px 0 20px;
	}
	.cm_services2 .section_body .col_card-link .col_item a{ display: block; width: 100%; height: 100%; }
	.cm_services2 .section_body .col_card-link a.col_item dd{
		color: #000;
	}
	
	/* 高さ揃え */
	.cm_services2 .section_body .col_blc-3 .col_item, .cm_services2 .section_body .col_blc-4 .col_item {
	}

	.cm_services2 .section_body .col_blc-4.col_card-link .col_item{ margin:10px 2% 10px 0; }
	.cm_services2 .section_body .col_blc-4.col_card-link .col_item:nth-child(4n+4){  margin-right: 0; }
	.cm_services2 .section_body .col_blc-3.col_card-link .col_item{ margin:10px 0 20px;}
	.cm_services2 .section_body .col_blc-3.col_card-link .col_item:nth-child(3n+2){ margin-right: 2.3% ; margin-left: 2.3% ;  }
	
	
	/* listThumb_pic  */
	.cm_services2 .section_body .col_item .listThumb_pic {
		max-width: 140px;
		margin:0 auto 10px;
	}
	.cm_services2 .section_body .col_item .listThumb_pic img{ max-width: 100%; height: auto; }
	
	/* blc_sendBtn */
	.cm_services2 .section_body .blc_sendBtn{
		margin: 35px 0 0;
		padding: 0 0 15px;
		text-align: center;
	}
	.cm_services2 .section_body .blc_sendBtn p{ padding: 0 0 5px; line-height: 1.6em; }
	.cm_services2 .section_body .blc_sendBtn a.sendBtn{
		display: block;
		margin: 15px auto 10px;
		padding: 30px 30px 30px 60px;
		box-sizing:border-box;
		max-width: 520px;
		background: #e64032 url(../img/common/icon_contact.png) 16px 50% no-repeat ; 
		-webkit-background-size: 28px, auto;
		background-size: 28px, auto;
		color: #fff;
		font-size: 24px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	.cm_services2 .section_body .blc_sendBtn a.sendBtn:hover{
		opacity: 0.8;
		-webkit-opacity:0.8;
	}
	
	/* lineBox */
	.cm_services2 .section_body .lineBox{
		padding: 20px 20px;
		margin: 20px auto;
		background: #fff;
		border: #ccc 1px solid;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
		.cm_services2 .section_body .lineBox .box_title{
			padding: 10px 0 15px;
			text-align: center;
			font-weight: bold;
			font-size: 18px;
		}
		.cm_services2 .section_body .lineBox .box_body{ padding-bottom: 10px; }

	/* lineBox green */
	.cm_services2 .section_body .lineBox.lineBox_green{
		background: #e9f2e8;
		border: #6bb955 1px solid;
		color: #46a129;
	}
		/* check */
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check{
			text-align: center;
		}
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check ul{ display: inline-block; }
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check li{
			padding: 8px 0;
			text-align: left;
		}
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check li:before{
			content:"";
			display: inline-block;
			width: 27px;
			height: 27px;
			margin-right: 20px;
			vertical-align: middle;
			background: url(../img/common/icon_checklist.png) 0 0 no-repeat ;
			-webkit-background-size: 100%, auto;
			background-size: 100%, auto;
		}
		
		

	/* text + 画像 2カラム */
	.cm_services2 .section_body .col_article .textArea p { padding: 0 0 10px; 1.4em; }
	
	.cm_services2 .section_body .col_article.col-1 .textArea{
		padding: 30px 0 10px;
	}
	
	.cm_services2 .section_body .col_article.col-2 .textArea{
		width: 50%;
	}
	.cm_services2 .section_body .col_article.col-2 .picArea{
		width: 47%;
	}
	
	/* text + サムネ 2カラム */
	.cm_services2 .section_body .col_article_thumb .picArea{
		width: 180px;
		float: left;
		border: #ccc 1px solid;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		overflow: hidden;
	}
	.cm_services2 .section_body .col_article_thumb .textArea{
		float: right;
		width: -webkit-calc(100% - 200px);  
		width: -moz-calc(100% - 200px);  
		width: calc(100% - 200px);  
	}
	.cm_services2 .section_body .col_article_thumb .textArea h3{ 
		text-align: left;
		margin-bottom: 5px;
	}
	.cm_services2 .section_body .col_article_thumb .textArea dt{
		padding-top: 25px;
		font-weight: bold;
	}
	.cm_services2 .section_body .col_article_thumb .textArea dt,
	.cm_services2 .section_body .col_article_thumb .textArea dd{ 
		font-size: 14px;
		line-height: 1.4em;
	}
	
	/* list_line */
	.cm_services2 .section_body .list_line{
		width: 400px;
		margin: 0 auto;
		border-top: #ccc 1px solid;
		text-align: center;
	}
	.cm_services2 .section_body .list_line dl{
		padding: 16px 0;
		border-bottom: #ccc 1px solid;
	}
	.cm_services2 .section_body .list_line dt,
	.cm_services2 .section_body .list_line dd{
		display: inline-block;
		width: 46%;
		margin: 0 1%;
	}
	.cm_services2 .section_body .list_line dt{
		text-align: right;
		font-weight: bold;
	}
	.cm_services2 .section_body .list_line dd{ text-align: left; }

	/* list_line-table */
	.cm_services2 .section_body .list_line-table table{
		width: 100%;
		border-top: #ccc 1px solid;
		margin-bottom: 20px;
	}
	.cm_services2 .section_body .list_line-table th,
	.cm_services2 .section_body .list_line-table td{
		padding: 16px 0;
		border-bottom: #ccc 1px solid;
		vertical-align: middle;
		
	}
		.cm_services2 .section_body .list_line-table small{ font-size: 10px; display: block; padding-top: 10px; line-height: 1.4em; }
		.cm_services2 .section_body .list_line-table p{ line-height: 1.4em; font-size: 14px; }
		
		/* 4col */
		.cm_services2 .section_body .list_line-table.list_table-4 th{
			padding-left: 5%;
			text-align: left;
			font-size: 12px;
		}
		.cm_services2 .section_body .list_line-table.list_table-4 td{
			text-align: center;
			width: 26%;
		}
		
		/* 3col */
		.cm_services2 .section_body .list_line-table.list_table-3 th,
		.cm_services2 .section_body .list_line-table.list_table-3 td{
			padding: 10px;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 thead td,
		.cm_services2 .section_body .list_line-table.list_table-3 thead th{
			text-align: center;
			font-weight: bold;
			font-size: 14px;
			padding: 20px 10px;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 th{
			text-align: center;
			font-size: 12px;
			width: 15.5%;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 td{
			text-align: left;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 td strong + p{ padding: 20px 0 0; }
		.cm_services2 .section_body .list_line-table.list_table-3 td.picArea{
			max-width: 50%;
		}

	
	/* icons　パネル */
	.cm_services2 .section_body .icons{
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.cm_services2 .section_body ul.icons li{
		display: inline-block;
		float: none;
		box-sizing:border-box;
		background: #fff;
		margin: 0 3px 5px;
		width: 140px;
		height: 140px;
		overflow: hidden;
	}
	.cm_services2 .section_body ul.icons li a{ display: block;  }
	.cm_services2 .section_body ul.icons li img{ 
		width: 100%;
		height: auto;
		border: 1px solid #72c8d9; 
		box-sizing:border-box;
	}
	.cm_services2 .section_body ul.icons li p { left: 0; bottom: 0; }
	.cm_services2 .section_body ul.icons li p span{
		background-color: #000;
		margin: 0;
	}
	
	
	
	/* form */
	.cm_services2 .section_body input[type="button"],
	.cm_services2 .section_body input[type="submit"],
	.cm_services2 .section_body input[type="text"], 
	.cm_services2 .section_body input[type="reset"], 
	.cm_services2 .section_bodyinput[type="password"], 
	.cm_services2 .section_body textarea ,
	.cm_services2 .section_body select,
	.cm_services2 .section_body button{
		-webkit-appearance: none;
		appearance: none;
		-webkit-tap-highlight-color : rgba(0,0,0,0);
		-webkit-border-radius: 0;
		border-radius: 0;
		border: none;
		background-color: transparent;
	}
	
	/* textare */
	.cm_services2 .section_body input[type="text"],
	.cm_services2 .section_body input[type="password"],
	.cm_services2 .section_body textarea,
	.cm_services2 .section_body select{
		padding: 8px;
		font-size: 14px;
		border: #13b6c9 1px solid;
		-webkit-border-radius: 6px;
		border-radius: 6px;

	}
	
/* セレクト*/
.cm_services2 .ico_select{
	display: inline-block;
	position: relative;
}
  .cm_services2 .ico_select:after {
    display: block;
    position: absolute;
    top: 50%;
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: solid 2px #13b6c9;
    border-right: solid 2px #13b6c9;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    content: ""; 
	right: 15px; 
	}

.cm_services2 select {
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    outline: medium none;
    padding: 4px 27px 4px 4px;
    position: relative;
    z-index: 2;
	
}

/* checkBoxカスタマイズ */
.cm_services2 .check_list{
	line-height: 1.4;
}
.cm_services2 .check_list label{
	cursor       : pointer;
	position     : relative;
	display      : inline-block;
	padding-left : 24px;
	overflow     : hidden;
	box-sizing   : border-box;
	vertical-align: middle;
	margin:0 15px 5px 0;
}
.cm_services2 .check_list label:before{
	content  : '';
	position : absolute;
	width    : 15px;
	height   : 15px;
	left     : 0px;
	top      : 50%;
	margin-top: -10px;
	border   : 2px solid #13b6c9;
	z-index  : 3;		
	
}
/* チェックアイコン */
.cm_services2 .check_list label:after{
	content           : '';
	position          : absolute;
	display           : block;
	top               : 50%;
	left              : 6px;
	margin-top        : -8px;
	width             : 6px;
	height            : 10px;
	border-right      : 2px solid #13b6c9 ;
	border-bottom     : 2px solid #13b6c9 ;
	transform         : rotate(45deg);
	-webkit-transform : rotate(45deg);
	-moz-transform    : rotate(45deg);
	z-index           : 1;		
}

//ラジオボタン
.cm_services2 .radioBtn {
    display: inline-block;
    position: relative;
}
.cm_services2 .radioBtn label {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 7px 10px 7px 25px;
    position: relative;
    text-align: center;
}
.cm_services2 .radioBtn label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 50%;
    content: "";
    height: 18px;
    left: 0;
    margin: -10px 0 0;
    position: absolute;
    top: 50%;
    width: 18px;
    z-index: 20;
}
.cm_services2 .radioBtn input[type="radio"] {
    font-size: 100%;
    left: 4px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 1em;
}
.cm_services2 .radioBtn input[type="radio"]:checked + label::after {
    background:#13b6c9 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 4px;
    margin: -6px 0 0;
    position: absolute;
    top: 50%;
    width: 12px;
    z-index: 30;
}

.cm_services2 .check_list input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position   : absolute;
	top: 50%;
	left       : -40px;
	width      : 16px;
	height     : 16px;
	display    : block;
	box-shadow : 41px 0px #FFF;
	z-index    : 2;
	margin     : -8px 0 0;
	padding    : 0px;
}

.cm_services2 .check_list input[type="checkbox"]:checked {
	box-shadow : none;
}
.cm_services2 .check_list input[type="checkbox"]:checked:focus {
	box-shadow : 40px 0px #666;
	opacity    : 0.1;
}
.cm_services2 .check_list input[type="checkbox"]:checked:focus {
	box-shadow : 41px 0px #EEE;
}
	

	.cm_services2 .section_body .blc_contact table{
		width: 100%;
		max-width: 900px;
		margin: 0 auto;
	}
	.cm_services2 .section_body .blc_contact table td .radioBtn label,
	.cm_services2 .section_body .blc_contact table .check_list label{
		font-size: 14px;
	}
	.cm_services2 .section_body .blc_contact table th ,
	.cm_services2 .section_body .blc_contact table td{
		padding: 10px;
		border: none;
		text-align: left;
	}
	.cm_services2 .section_body .blc_contact table th{
		width: 29%;
		text-align: right;
		vertical-align: middle;
		font-size: 14px;
		font-weight: normal;
	}

		.cm_services2 .section_body .blc_contact table td input[type="text"],
		.cm_services2 .section_body .blc_contact table td textarea{
			width: 100%;
			box-sizing:border-box;
		}
	
	
	.cm_services2 ul.check_list li{
		padding: 3px 0;
		display: inline-block;
		text-align: left;
	}
		.cm_services2 .section_body .submitBtn{
			text-align: center;
		}
		.cm_services2 .section_body .submitBtn input[type="submit"],
		.cm_services2 .section_body .submitBtn a{
			transition:all .3s;
			display: inline-block;
			padding: 10px 20px 12px;
			margin: 25px 0;
			min-width: 260px;
			box-sizing:border-box;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.2;
			text-decoration: none;
			color: #fff;
			background: #13b6c9;
			cursor:pointer;
			border-radius: 6px;
			-webkit-border-radius: 6px;
		}
		.cm_services2 .section_body .submitBtn input[type="submit"]:hover{
			opacity:0.8;
		}
	
	.cm_services2 .link_outSide.blc_contact_check{ 
		padding: 0px 0 30px; 
		max-width: 900px;
		margin: 0 auto 10px;
		border-bottom: #ccc 1px solid; 
	}
	.cm_services2 .link_outSide.blc_contact_check .check_list { padding-top: 10px; }
	.cm_services2 .link_outSide.blc_contact_check a{ font-size: 14px ;}
