@charset "UTF-8";

@import url(reset.css);

* html body {     
    background:url(null) fixed;     
}  
html,body {
	-webkit-text-size-adjust: 100%;
}
body {
	margin:0;
	padding:0;
	color:#000;
	font-family:'Montserrat', sans-serif,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ UI", "Meiryo UI", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
	line-height:1.3em;
	font-size: 14px;

}

html {
	overflow-x:hidden;
} 

a {
	color:#333;
	text-decoration: none;
}
a:hover {
	color: #b2b2b2;
	text-decoration: none;
}
 a.imgbtn:hover {
	opacity:0.8;
}


h3{ line-height: 130%;
    font-size: 140%;
	font-weight:bold;
	margin-bottom:10px;
	display: block;
    padding: 15px 0;
    margin: 20px 15px 20px 15px;
    text-align: center;
}

h4{	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}

.center{ text-align:center;}
.txt_left{ text-align:left;}

.mb30{ margin-bottom:30px;}
.mb20_sp{ margin-bottom:20px;}
.mb0_sp{ margin-bottom:0px !important;}
.mt0_sp{ margin-top:0px !important;}
.mt20_sp{ margin-top: 20px !important;}
.pt0_sp{ padding-top:0px !important;}
.pb0_sp{ padding-bottom:0px !important;}

.for_pc{display: none;}


.link_backTop{
		margin: 0 auto;
    width: 90%;}
	
	
.bg_col_gray_sp{ background-color:#eff5f7;}

.blank{ background-color:#F4F4F4;}

.fa-ul{ margin-left:10px !important;}
.fa-ul li{
    margin-bottom: 5px;
    line-height: 1.6em;

    padding-left: 1.4em;
		}
.fa-ul li:last-child{ margin-bottom:0;}
.fa-fw{ width:inherit !important; padding-left:15px;}
.fa{ margin-right:5px;}
.fa-ul li i{
	position: absolute;
	left: 0;
	top: 2px;
    text-align: center;
    width: 1.28571em;
}
.fa-ul li i.fa-fw{padding-left:0;}

.monitering_block{text-align:center;}
.monitering_block dl dd{text-align:left;}

section.bg_col_lightgray:first-child,
section.partsBox_Yellow:first-child,
section.formBOX:first-child,
.services.index section.con01

{margin-top: -20px;}

/*ul.snsbox { display:none;}*/
.link_right { margin-right: 20px;}



/*----------------------------------------------------------------

	mainvisual style

----------------------------------------------------------------*/
#mainvisual.top {
	background: url(../img/top/bg_mainvisual_01.png) center center no-repeat;
	background-size:cover;
	padding: 0 0 40%;
	overflow: hidden;
}
#mainvisual.top>ul{overflow-x: hidden;}
		#mainvisual.top {
			background-image:none;
			/*height:329px;
			padding-bottom: 13%;*/
		}
		#mainvisual.top .slider {
			opacity: 0;
			position:absolute;
			left:0;
			top:0;
			width:100%;
			min-height:140px;
		}
		#mainvisual.top .slider.show {
			opacity: 1;
			transition: opacity .5s;
		}
		#mainvisual.top .slider .slick-slide {
			/*padding:62px 0 60px;
			height: 100%;*/
			padding: 60% 0px 0;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
		#mainvisual.top .slider .linkpoint img {
			display: inline;
		}
		#mainvisual.top .slider .slick-dots {
			bottom: 8px;
		}


#mainvisual {
	background-color:#59d1c7;
	background-image:none;
}

.inner {
	width:100%;
	position:relative;
}

.bread{ display:none;}








#mainvisual.blue     { background: url(../img/common/sub_header_bg_blue.png) center center no-repeat; background-size:cover;}

/* about */
#mainvisual.about { background: url(../img/common/img_key_about.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.about{	
		background-image: url(../img/common/img_key_about@2x.png) ;
	}
}

/* recruit */
#mainvisual.blue     { background: url(../img/common/img_key_recruit.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.blue{	
		background-image: url(../img/common/img_key_recruit@2x.png) ;
	}
}

/* company */
#mainvisual.green    { background: url(../img/common/img_key_company.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.green{	
		background-image: url(../img/common/img_key_company@2x.png) ;
	}
}

/* news */
#mainvisual.limegreen{ background: url(../img/common/img_key_news.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.limegreen{	
		background-image: url(../img/common/img_key_news@2x.png) ;
	}
}

/* services */ 
#mainvisual.orange   { background: url(../img/common/img_key_services.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.orange{	
		background-image: url(../img/common/img_key_services@2x.png) ;
	}
}

/* cases 事例 */
#mainvisual.red      { background: url(../img/common/img_key_cases.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.red{	
		background-image: url(../img/common/img_key_cases@2x.png) ;
	}
}

/* partner */
#mainvisual.violet   { background: url(../img/common/img_key_partner.png) center center no-repeat; background-size:cover;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	#mainvisual.violet{	
		background-image: url(../img/common/img_key_partner@2x.png) ;
	}
}

#mainvisual.about .content_title h1,
#mainvisual.blue .content_title h1,
#mainvisual.green .content_title h1,
#mainvisual.limegreen .content_title h1,
#mainvisual.orange .content_title h1,
#mainvisual.red .content_title h1,
#mainvisual.violet .content_title h1
{ color:#121212;}



/*-- リクルート
----------------------*/
#mainvisual.recruit .content_title h1 { text-shadow: 0px 0px 4px #666;}
#mainvisual.recruit.r04{ background: url(../img/recruit/r04_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r07{ background: url(../img/recruit/r07_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r08{ background: url(../img/recruit/r08_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r13{ background: url(../img/recruit/r13_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.recruit.r14{ background: url(../img/recruit/r14_main.jpg) center center no-repeat; background-size:cover; }

.recruit_index #con01{margin-top: 20px;}


#mainvisual.member{height: 368px;margin-bottom: 250px;}
#mainvisual.member.r09_01{ background: url(../img/recruit/r09_01_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_02{ background: url(../img/recruit/r09_02_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_03{ background: url(../img/recruit/r09_03_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_04{ background: url(../img/recruit/r09_04_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_05{ background: url(../img/recruit/r09_05_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_06{ background: url(../img/recruit/r09_06_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_07{ background: url(../img/recruit/r09_07_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_08{ background: url(../img/recruit/r09_08_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_09{ background: url(../img/recruit/r09_09_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_10{ background: url(../img/recruit/r09_10_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_11{ background: url(../img/recruit/r09_11_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_12{ background: url(../img/recruit/r09_12_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}
#mainvisual.member.r09_13{ background: url(../img/recruit/r09_13_main.jpg) center no-repeat; background-size: cover;background-position: 70%;}

/*-- company
----------------------*/
#mainvisual.company .content_title h1 { color:#fff; text-shadow: 0px 0px 4px #666;}
#mainvisual.company.b02{ background: url(../img/company/b02_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.company.b03{ background: url(../img/company/b03_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.company.b04{ background: url(../img/company/b04_main.jpg) center center no-repeat; background-size:cover; }
#mainvisual.company.b05{ background: url(../img/company/b05_main.jpg) center center no-repeat; background-size:cover; }



/*----------------------------------------------------------------

	header style

----------------------------------------------------------------*/
header {
	position:relative;
	text-align:center;
	background-color:#262626;
}
header h1 {
	padding:15px 0;
}
header h1 img{	width:45%;}


#hamburger-menu {
	width:26px;
	height:24px;
	cursor:	pointer;
	display:block;
	border:	1px solid #fff;
	text-align:center;
	position: absolute;
	top:0;
	bottom:0;
	left:15px;
	background-color:#262626;
	margin: auto 0;
}
#menu-icon {
	position:relative;
	display:block;
	width:14px;
	height:12px;
	top:6px;
	left:6px;
	background-color:#fff;
}
#menu-icon:before, #menu-icon:after {
	position:	absolute;
	left:		0;
	content:	"";
	width:		100%;
	border-top:	3px solid #262626;
}
#menu-icon:before {
	top:2px;
}
#menu-icon:after {
	bottom:2px;
}
#mail-icon {
	width:26px;
	height:24px;
	cursor:	pointer;
	display:block;
	border:	1px solid #fff;
	text-align:center;
	position: absolute;
	top:0;
	bottom:0;
	right:15px;
	background-color:#262626;
	margin: auto 0;
}
.css-mail {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 11px;
  margin:7px 5px;
  padding: 0;
  background: #fff;
}
.css-mail:before, .css-mail:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.css-mail:before {
  border: 8px solid transparent;
  border-top-color: #262626;
}
.css-mail:after {
  left: 1px;
  border: 7px solid transparent;
  border-top-color: #fff;
}


/*----------------------------------------------------------------

	nav  style

----------------------------------------------------------------*/
header .inner>.subbox{
	display:none;/*add 1028*/
}
nav {


	position: fixed;
	left: 0;
	top: 0;

	margin-right: 30px;
	height: 100vh;
	z-index: 2222;
	background-color: rgba(0,0,0,0.7);

	transform:translate(-100%, 0)
}
nav .inner{
	width: auto;
	padding: 35px 0px 20px;
	max-height: 100%;
}
nav .inner .sp_wrapper{
	overflow: auto;
	margin: 0 25px;
	height: 90vh;
}

nav .inner img{
	max-width: 100%;
}

nav .inner #close_button{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 25px;
}

nav .inner ul.navi {
	border-bottom: solid 1px #696969;
}
nav .inner ul.navi li{
	padding-bottom: 25px;
}
nav .inner ul.navi li .header_subnav{
	padding: 0 0 0 22px;
	margin-right: 20px;
}
nav .inner ul.navi li .header_subnav a{
	padding: 5px 0;
	font-size: 14px;
}
nav .inner ul.navi li .header_subnav dt{
	padding: 10px 0 0;
}
nav .inner ul.navi li .header_subnav dd{ display: none; }

nav .inner ul.navi li a{
	color: #ffffff;
	font-size: 115%;
}
nav .inner ul.navi li a:before{
	content: "\f105";
	font-family: FontAwesome;
	display: inline-block;
	margin-right: 12px;
}

nav .inner ul.subbox {
	padding: 35px 0;
	border-bottom: solid 1px #696969;
}
nav .inner ul.subbox li{
	display: block;
	width: 47.5%;
}
nav .inner ul.subbox li a{
	color: #fff;
}
nav .inner ul.subbox li:nth-child(2n-1){
	float: left;
}
nav .inner ul.subbox li:nth-child(2n){
	margin-left: 52.5%;
	text-align: right;
}
nav .inner ul.snsbox{
	float: left;
	width: 100px;
	margin: 35px 0 50px;
	height: 40px;
}
nav .inner ul.snsbox li{
	float: left;
	width: 40px;
	margin-right: 10px;
}

nav .inner div.gbox {
	margin-top: 40px;
	height: 40px;
	margin-left: 115px;
}
nav .inner div.gbox .gsc-control-cse{
	padding: 0;
	background: none;
	border: none;
}

nav .inner div.gbox .gsc-control-cse input.gsc-search-button-v2{
	padding-left: 13px;
	padding-right: 13px;
}



nav.expand {
		animation: expand 0.8s forwards;
		-webkit-animation: expand 0.8s forwards;
	}
	@keyframes expand {
		0%   { transform:translate(-100%, 0) }
		100%  { transform:translate(0, 0) }
	}
	@-webkit-keyframes expand {
		0%   { transform:translate(-100%, 0) }
		100%  { transform:translate(0, 0) }
	}

nav.reduce {
		animation: reduce 0.8s forwards;
		-webkit-animation: reduce 0.8s forwards;
	}
	@keyframes reduce {
		0%   { transform:translate(0, 0) }
		100%  { transform:translate(-100%, 0) }
	}
	@-webkit-keyframes reduce {
		0%   { transform:translate(0, 0) }
		100%  { transform:translate(-100%, 0) }
	}


/*----------------------------------------------------------------

	mainvisual  style

----------------------------------------------------------------*/
.linkpoint {
	margin:30px auto 0;
	padding:30px 0 30px;
	width:300px;
	border:2px solid #fff;
	text-align:center;
}
.top .linkpoint { border: none; display: none; }

.linkpoint h2 {
	margin-bottom:20px;
	line-height: 115%;
}
.linkpoint img {
	width:80%;
}

.content_title {
	margin:0 auto 20;
    padding: 70px 0;
	width:94%;
	text-align:center;
}
.content_title h1 {
	margin-bottom:20px;
	color:#121212;
	font-size:36px;
	font-weight:bold;
	line-height:1.2em;
}
.content_title p {
	color:#121212;
	font-size:14px;
}

#advertisement {
	/* overflow:hidden; */
	/* background-color:#ffcd78; */
}
#advertisement .box {
	margin:0 auto;
	/* padding:15px 0; */
	/* width:300px; */
	/* position:relative; */
}
#advertisement .box img{
	width:100%;
}

#advertisement .fitem {
	margin:0 auto;
	width:260px;
	position:relative;
}
#advertisement .point {
	margin:0 5px 10px;
	font-size:12px;
	width:120px;
	height:28px;
	color:#fff;
	float:left;
	text-align:center;
	line-height:28px;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px; 
	background-color:#4c3d24;
}
#advertisement .text {
	margin:0 auto 10px;
	padding-left:35px;
	clear:both;
	width:245px;
	font-size:16px;
	line-height:21px;
	background: url(../img/achievement/advertisement_icon.png) 0 0 no-repeat;
}
#advertisement .link {
	margin:0 auto;
	font-size:14px;
	width:151px;
	height:44px;
	line-height:44px;
}
#advertisement .link a {
	padding-left:30px;
	display:block;
	color:#fff;
	width:151px;
	height:44px;
	text-decoration:none;
	background: url(../img/achievement/advertisement_btn.png) 0 0 no-repeat;
	transition:0.2s;
}
#advertisement .link a:hover {
	background: url(../img/achievement/advertisement_hbtn.png) 0 2px no-repeat;
}


/*----------------------------------------------------------------

	top  style

----------------------------------------------------------------*/
#top #content_01 h2,
#top #content_02 h2,
#top #content_03 h2 {
	margin-bottom:30px;
	text-align:center;
}
#top #content_01 h2 img,
#top #content_02 h2 img,
#top #content_03 h2 img {
	margin-bottom:20px;
	height:28px;
}
#top #content_01 h2 span,
#top #content_02 h2 span,
#top #content_03 h2 span {
	padding:0 10px;
	display:block;
	font-size:13px;
	line-height:20px;
	margin-top: 10px;
}
/*-----------------------------
	#content_01
-----------------------------*/
#top #content_01 {
	padding:40px 0;
	overflow:hidden;
	background-color:#eff5f7;
}
#top #content_01 ul {
	margin:0 auto;
	width:300px;
}
#top #content_01 ul li {
	margin:0 0 10px;
	width:296px;
	text-align:center;
	border:2px solid #404a60;
}
#top #content_01 ul li img {
	margin-bottom:20px;
	height:45px;
}
#top #content_01 ul li strong {
	margin-bottom:20px;
	display:block;
	font-size: 20px;
	font-weight:bold;
	text-align:center;
}
#top #content_01 ul li p {
	margin:0 20px;
	font-size:13px;
	text-align:left;
	line-height:18px;
	text-align: justify;
text-justify: inter-ideograph;
}

#top #content_01 ul li a {
	display:block;
	padding:20px 0;
	color:#404a60;
	width:296px;
	text-decoration:none;
	transition:0.5s;
}
#top #content_01 ul li a:hover {
	color:#fff;
	background-color:#404a60;
}
/*-----------------------------
	#content_02
-----------------------------*/
#top #content_02 {
	padding:40px 0 30px;
	overflow:hidden;
	background-color:#ffffff;
}
#top #content_02 ul {
	margin:0 auto;
	width:310px;
}
#top #content_02 ul li {
	margin:0 5px 10px;
	float:left;
	width:141px;
	height:141px;
	position:relative;
	border:2px solid #000000;
}
#top #content_02 ul li img {
	width:141px;
	position:relative;
	z-index:1;
}
#top #content_02 ul li p {
	position:absolute;
	left:0px;
	bottom:0px;
	z-index:2;
}
#top #content_02 ul li p span{
	padding: 1px 3px;
	background-color:#7f7f7f;
	color:#fff;
	font-size: 9px;
	display:block;
	margin-right:3px;
	float:left;
	}


#top #content_02 ul li a img {
	transition:0.5s;
}
#top #content_02 ul li a:hover img {
	opacity: 0.4;
}
/*-----------------------------
	#content_03
-----------------------------*/
#top #content_03 {
	padding: 40px 0 30px;
	overflow:hidden;
	background-color:#eff5f7;
}
#top #content_03 ul.pickup {
	margin:0 auto 20px;
	padding-bottom:20px;
	width: 80%;
	overflow:hidden;
	border-bottom:1px solid #ded8ca;
}
#top #content_03 ul.pickup li {
	/* width: 80%; */
	text-align: justify;
	text-justify: inter-ideograph;
	margin-bottom: 30px;
}
#top #content_03 ul.pickup li:last-child{
	margin-bottom:0;
}
#top #content_03 ul.pickup li img {
	margin-bottom:10px;
	width:100%;
}
#top #content_03 ul.pickup li h4 {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
#top #content_03 ul.pickup li p {
	margin-bottom:10px;
	font-size:14px;
	position:relative;
}
#top #content_03 ul.pickup li p span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	font-size:11px;
	position:relative;
	top:-1px;
}
#top #content_03 ul.info {
	margin:0 auto;
	width: 80%;
	overflow:hidden;
	padding-bottom: 0;
}
#top #content_03 ul.info li {
	margin-bottom:30px;
	overflow:hidden;
	position:relative;
	text-align: justify;
	text-justify: inter-ideograph;
}
#top #content_03 ul.info li:last-child{
	margin-bottom:0px
}
#top #content_03 ul.info li img {
	float:left;
	width: 100px;
}
#top #content_03 ul.info li h4 {
	margin-left: 105px;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
}
#top #content_03 ul.info li p {
	margin: 0 0 5px 105px;
	font-size:12px;
	position:relative;
}
#top #content_03 ul.info li p span {
	margin-left:10px;
	padding:0 10px;
	color:#fff;
	font-size:10px;
}
#top #content_03 ul li p span.news {
	background-color:#ff9a17;
}
#top #content_03 ul li p span.article {
	background-color:#3d98d1;
}
#top #content_03 ul li a {
	display:block;
	color:#000;
	text-decoration:none;
}
#top #content_03 ul li a img {
	transition:0.5s;
}
#top #content_03 ul li a:hover img {
	opacity: 0.6;
}
/*-----------------------------
	#content_04
-----------------------------*/
#top #content_04 {
	padding:40px 0;
	overflow:hidden;
	background-color:#ffffff;
}
#top #content_04 ul {
	margin:0 auto;
	width:300px;
	overflow:hidden;
}
#top #content_04 ul li {
	margin:0 auto 20px;
	padding-bottom:20px;
	width:300px;
	overflow:hidden;
	border-bottom:1px solid #ded8ca;
	text-align: justify;
	text-justify: inter-ideograph;
}
#top #content_04 ul li img {
	margin-bottom:15px;
	width:100%;
}
#top #content_04 ul li h4 {
	margin-bottom:10px;
	display:block;
	font-size:16px;
	text-align:center;
}
#top #content_04 ul li p {
	font-size:14px;
	text-align:left;
	line-height:18px;
}
#top #content_04 ul li a {
	color:#000;
	text-decoration:none;
}
#top #content_04 ul li a img {
	transition:0.5s;
}
#top #content_04 ul li a:hover img {
	opacity: 0.6;
}


/*-----------------------------
	sub_common
-----------------------------*/
.h2_lead h2{
	margin:0 auto 20px;
	width:94%;
	font-size:26px;
	text-align:center;
	/*background-color:#eff5f7;*/
}
.h2_lead p{
	margin:0 auto;
	padding-bottom:40px;
	width:94%;
	font-size:14px;
	text-align:center;
	line-height:22px;
	border-bottom:1px solid #dce1e3;
}


/*-----------------------------
	.partsBox
-----------------------------*/
.partsBox {
	clear:both;
	overflow:hidden;
	/*background-color:#eff5f7;*/
	
}
.partsBox .box {
	clear:both;
	overflow:hidden;
	/*background-color:#eff5f7;*/
}
.partsBox .box .left {
	margin-bottom:20px;
	overflow:hidden;
}
.partsBox .box .right {
	margin-bottom:20px;
	overflow:hidden;
}
.partsBox .box .left h3,
.partsBox .box .right h3 {
	margin:0 auto 20px;
	width:90%;
    line-height: 130%;
    font-size: 140%;
	font-weight:bold;
}
.partsBox .box .left h4,
.partsBox .box .right h4 {
	margin:0 auto 20px;
	width:90%;
	font-size:18px;
	font-weight:bold;
}
.partsBox .box .left img,
.partsBox .box .right img {
	width:100%;
	height:auto;
}
.partsBox .box .left p,
.partsBox .box .right p {
	margin:0 auto;
	width:90%;
	font-size:14px;
	line-height:1.6em;
}
.partsBox .box .text h3 {
	margin:0 auto 20px;
	width:90%;
    line-height: 130%;
    font-size: 140%;
	font-weight:bold;
}
.partsBox .box .text h4 {
	margin:0 auto 20px;
	width:90%;
	font-size:18px;
	font-weight:bold;
	line-height:1.4em;
}
.partsBox .box .photo img {
	width:100%;
	height:auto;
}
.partsBox .box .text p {
	margin:0 auto 20px;
	width:90%;
	font-size:14px;
	line-height:1.6em;
}
.partsBox .box b {
	font-weight:bold;
}
.partsBox .box a {
	color:#404a60;
}


/*-----------------------------
	.リンク位置
-----------------------------*/
.link_Area{
	margin:0 auto 20px;
	width:90%;
}
a.link_right { float:right;}
a.link_left { text-align:left;}
a.link_center { text-align: center;	display:block;
}

.link_left a{ font-size:12px !important; margin:0 !important;}


/*-----------------------------
	.partsBox_White
-----------------------------*/

.partsBox_White {
	padding:40px 0 0;
	clear:both;
	overflow:hidden;
}
.partsBox_White .box {
	margin:0 auto;
	width:90%;
	text-align: justify;
	text-justify: inter-ideograph;
}

.partsBox_White .box a {
	color:#404a60;
	text-decoration:underline;
}
.partsBox_White .box a:hover {
	text-decoration:none;
}



/*-----------------------------
	.two_item
-----------------------------*/

.partsBox_White .box ul.two_item {
	clear:both;
	overflow:hidden;
}
.partsBox_White .box ul.two_item li {
	margin-bottom:20px;
	width:100%;
	font-size:14px;
	line-height:1.5;
}
.partsBox_White .box ul.two_item li img {
	margin-bottom:10px;
	width:100%;
}


/*-----------------------------
	.three_item
-----------------------------*/

.partsBox_White .box ul.three_item {
	margin-bottom:60px;
	clear:both;
	overflow:hidden;
}
.partsBox_White .box ul.three_item li {
	margin-bottom:20px;
	width:100%;
	font-size:14px;
	line-height:1.5;
}
.partsBox_White .box ul.three_item li img {
	margin-bottom:10px;
	width:100%;
}



/*-----------------------------
	.achievement
-----------------------------*/


.achievement {
	/*padding:40px 0 0;*/
	clear:both;
	overflow:hidden;
}
.achievement .box {
	margin:0 auto;
	width:90%;
	text-align: justify;
	text-justify: inter-ideograph;
}


ul.icons{
	margin:0 auto;
	padding-top: 2px;
	width:100%;
	clear:both;
	overflow:hidden;
}
ul.icons li {
	margin:0 4% 20px;
	float:left;
	width:42%;
	font-size:12px;
	line-height:1.4;
	position:relative;
}
ul.icons li img {
	margin:0 0 10px;
	width:100%;
	border:2px solid #000000;
}
ul.icons li a img {
	transition:0.5s;
}
ul.icons li a:hover img {
	opacity: 0.4;
}
ul.icons li p{
	position:absolute;
	bottom:9px;
	left: 2px;
	margin:0;
    color: #fff;
	}
ul.icons li p span{
	background-color: #7f7f7f;
    padding: 0px 2px;
    margin: 0px 3px 0 0;
    float: left;
    display: block;
    font-size: 9px;
	margin-right:3px;
	margin-bottom: 3px;
	}


/*-----------------------------
	.hexagon
-----------------------------*/

.hexagon {
	clear:both;
	overflow:hidden;
	margin-bottom:40px;
}
.hexagon .box {
	margin:0 auto;
	width:90%;
	text-align: justify;
	text-justify: inter-ideograph;
}


.hexagon .box ul {
	clear:both;
	overflow:hidden;
}
.hexagon .box ul li {
	margin:0 auto 20px;
	padding:30px 0;
	width:280px;
	height: 182px;
	text-align:center;
	background: url(../img/common/sub_hexagon_bg.png) center center no-repeat;
	background-size: cover;
}

.hexagon .box ul li:last-child{
	margin-bottom:0;
	}

.hexagon .box ul li h4 {
	margin-bottom:20px;
	font-size:24px;
	font-weight:bold;
	line-height:28px;
}

/*　.english　.hexagon　*/

.en .hexagon .box ul li p {
	font-size:14px;
	line-height:22px;
	width: 81%;
	margin:0 auto;
}

.en .hexagon .box ul li {
	padding:20px 0;
	height: 202px;
}

.en .hexagon .box ul li h4 {
	font-size:21px;
	margin-bottom: 15px;
}
.en .hexagon .box ul li p {
	font-size:12px;
}


/*-----------------------------
	.content_03
-----------------------------*/

.partsBox_Yellow{
	padding:20px 0;
	margin-bottom:20px;
	overflow:hidden;
	background-color:#eff5f7;
}
.partsBox_Yellow .box {
	position:relative;
	text-align: justify;
	text-justify: inter-ideograph;
}

.partsBox_Yellow .box ul.three_item {
	margin:0 auto;
	width:90%;
	clear:both;
	overflow:hidden;
	display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}

.partsBox_Yellow .box ul li {
		position:relative;
}

.partsBox_Yellow .box a{
		position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	text-decoration:none;
	color:#fff;
	text-indent:-999px;
	display:block;
    z-index: 999;
	}


.partsBox_Yellow .box ul.three_item li {
	margin-bottom:20px;
	padding:10px;
	font-size:14px;
	line-height:1.5;
	background-color:#fff;
    width: 100%;
}

.partsBox_Yellow .box ul.three_item li:last-child{
	margin-bottom:0;
	}

.partsBox_Yellow .box ul.three_item li img {
    margin: 0 auto 20px;
    width: 100%;
    display: block;
}
.partsBox_Yellow .box ul.three_item li h4 {
	margin-bottom:10px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.partsBox_Yellow .box ul.three_item li p {
	margin:0 10px 10px;
	font-size:14px;
}

.partsBox_Yellow .box .secbox {
	margin:0 auto 20px;
	width:85%;
	padding:15px;
	background-color:#fff;
}
.partsBox_Yellow .box .secbox h4 {
	padding:20px 0 20px;
	font-size:26px;
	font-weight:bold;
	text-align:center;
}
.partsBox_Yellow .box .secbox ul.item {
	clear:both;
	overflow:hidden;
}
.partsBox_Yellow .box .secbox ul.item li {
	margin-bottom:20px;
	font-size:14px;
	line-height:1.5;
}
.partsBox_Yellow .box .secbox ul.item li img {
	margin-bottom:10px;
	width:100%;
}
.partsBox_Yellow .box .secbox ul.item li p {
	margin:0 10px 20px;
	font-size:14px;
}
/*-----------------------------
	.info
-----------------------------*/
.info {
	padding-bottom:40px;
	overflow:hidden;
}
.info ul {
	margin:0 auto;
	width:90%;
	overflow:hidden;
}
.info ul li {
	margin-bottom:30px;
	padding-bottom:20px;
	overflow:hidden;
	position:relative;
	text-align: justify;
	text-justify: inter-ideograph;
	/*border-bottom:1px solid #e5e5e5;**/
}
.info ul li:last-child {
	margin-bottom:0;
}
.info ul li img {
	float:left;
	width:120px;
}
.info ul li h4 {
	margin:0 0 0 130px;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
}
.info ul li h4 span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	font-size:11px;
	background-color:#ff0048;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.info ul li p {
	margin:0 0 10px 130px;
	font-size:12px;
	position:relative;
}
.info ul li p span {
	margin-left:10px;
	padding:0 10px;
	color:#fff;
	font-size:10px;
	background-color:#ff9a17;
}

.info ul li p span.article {
	background-color:#3d98d1;
}

.info a {
	color:#000;
	text-decoration:none;
}
.info  a:hover {
	color:#b2b2b2;
	text-decoration: underline;
}

.info ul li h4 span, ul.pickup li h4 span {
    margin-left: 10px;
    padding: 2px 10px;
    color: #fff;
    font-size: 11px;
    background-color: #ff0048;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/*-----------------------------
	.news
-----------------------------*/
.news {
	padding-bottom:40px;
	overflow:hidden;
}

.news ul{
	margin:0 auto;
	width:90%;
	overflow:hidden;
}

.news ul li {
	margin-bottom:20px;
	padding-bottom:15px;
	overflow:hidden;
	position:relative;
	border-bottom:1px solid #e5e5e5;
}
.news ul li:last-child{
	margin-bottom:0;
	}

.news ul li h4 {
	float:left;
	font-size:14px;
	line-height:20px;
}
.news ul li h4 span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	font-size:11px;
	background-color:#ff0048;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.news ul li p {
	font-size:14px;
	position:relative;
	line-height:20px;
}
.news ul li p span {
	margin-right:10px;
	padding:2px 20px 0;
	color:#fff;
	font-size:10px;
	position:absolute;
	top:-2px;
	left:100px;
	background-color:#ff9a17;
}

.news ul li p span.article {
	background-color:#3d98d1;
}

.news a {
	color:#000;
	text-decoration:none;
}
.news  a:hover {
	color:#b2b2b2;
	text-decoration: underline;
}

/*-----------------------------
	.jobs
-----------------------------*/
#content.jobs .h2_lead h2 {
	line-height: 120%;
	background-color:#fff;
}

/*-----------------------------
	.disc
-----------------------------*/
.disc {
	margin-bottom:40px;
	overflow:hidden;
}

.disc ul {
	margin:0 auto;
	width:90%;
	list-style: disc inside;
	font-size:14px;
	line-height:24px;
}
.disc ul  li{
padding-left: 1em;
  text-indent: -1em;
  }
.disc a {
	color:#000;
	text-decoration:none;
}
.disc  a:hover {
	color:#b2b2b2;
	text-decoration: underline;
}

/*-----------------------------
	.decimal
-----------------------------*/
.decimal {
	margin-bottom:40px;
	overflow:hidden;
}

.decimal ul {
	margin:0 auto;
	width:90%;
	overflow:hidden;
	list-style: decimal inside;
	font-size:14px;
	line-height:24px;
}

.decimal ul  li{
	padding-left:1em;
	text-indent:-1em;
	}
.decimal a {
	color:#000;
	text-decoration:none;
}
.decimal  a:hover {
	color:#b2b2b2;
	text-decoration: underline;
}


/*-----------------------------
	.tbl_01 table
-----------------------------*/

.tbl_01 {
	padding-bottom:40px;
	overflow:hidden;
}

.tbl_01 table {
	width:100%;
}
.tbl_01 table th {
	padding:10px 0;
	display:block;
	font-size:15px;
	line-height:24px;
	text-align:center;
	color:#fff;
	background:#73848a;
	border-bottom:2px solid #fff;
}

.tbl_01 table tr{ margin-bottom:20px; display:block;}
.tbl_01 table tr:last-child{ margin-bottom:0;}
.tbl_01 table td {
	display:block;
	font-size:16px;
	line-height:20px;
	border-bottom:2px solid #fff;
	background-color:#E0EBEF;
	position: relative;
	vertical-align:middle;
	
}
.tbl_01 table td span {
	margin:10px 10px 10px 0;
	padding-bottom:10px;
	position: absolute;
	top: 0%;
	-webkit-transform: translateY(-0%);
	-ms-transform: translateY(-0%);
	transform: translateY(-0%);
}
.tbl_01 table thead {
	display: none;
}
.tbl_01 table td::before {
	content: attr(data-label);
	display: inline-block;
	margin-right:10px;
	padding:10px;
	color:#fff;
	min-height:50px;
	vertical-align:middle;
	font-weight: bold;
	background:#73848a;
	border-right:2px solid #fff;
}
.tbl_01 table td.col {
	background: #eff5f7;
}

/*-----------------------------
	.tbl_02 table
-----------------------------*/

.tbl_02 {
	padding-bottom:40px;
	overflow:hidden;
}

.tbl_02 table {
	width:100%;
	background:#e0ebef;
}
.tbl_02 table th {
	padding:10px 0;
	display:block;
	font-size:15px;
	line-height:24px;
	text-align:center;
	color:#fff;
	background:#73848a;
	border-bottom:2px solid #fff;
	width:100%;
}
.tbl_02 table td {
	padding:10px 20px;
	display:block;
	font-size:14px;
	line-height:20px;
	/*text-align:center;*/
	border-bottom:2px solid #fff;
}
.tbl_02 table th:last-child,
.tbl_02 table td:last-child {
	border-right:none;
}
.tbl_02 table td.col {
	background: #eff5f7;
}

.tbl_02 table ul li,.tbl_02 table td dl{ margin-bottom:10px;}
.tbl_02 table ul li:last-child{ margin-bottom:0;}





/*-----------------------------
	.note
-----------------------------*/
.note {
	margin:0 auto;
	width:90%;
	overflow:hidden;
	padding-bottom:40px;

}
.note dt {
	margin-right: 5px;
    float: left;
}
.note dd {
	margin-bottom:10px;
    overflow: hidden;
}
.note dl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.note dl{
	font-size:12px;
	line-height:18px;
    display: inline-block;
}
.note dl {
    display: block;
}


* html .note dl {
    height: 1%;
}
.note dl {
    display: block;
}

/*-----------------------------
	txt_P
-----------------------------*/
.txt_P{
	margin:0 auto;
	width:90%;
	padding-bottom:40px;

}
.txt_P .box p{
	font-size:14px;
	line-height:19px;
	}




/*-----------------------------
	squeeze_box
-----------------------------*/

.squeeze_box {
	padding-bottom:40px;
	overflow:hidden;
}

.squeeze_box .box{
	/*margin-bottom:40px;*/
	padding:20px 10px ;
	overflow:hidden;
	background-color:#f4f4f4;
}
.squeeze_box .box h4 {
	padding:0 0 20px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.squeeze_box .box p.checktext {
	position: relative;
	margin:0 0 15px;
	float:left;
	width:50%;
	font-size:12px;
}
/**/
.squeeze_box .box p.checktext a{
	display: inline-block;
	padding-left: 1.2em;
}
.squeeze_box .box p.checktext i{
	position: absolute;
	left:0;
	top: 2px;
}

div.usu_small {
	margin:0 auto;
	width:180px;
}
div.usu_small input.btn {
	width:180px;
	height:34px;
	cursor:pointer;
	color:#fff;
	border:none;
	font-size:15px;
	font-weight:bold;
	background-color:#404a60;
	border-radius:5px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
div.usu_small input.btn:hover {
	color:#fff;
	background-color:#555;
}





/*-----------------------------
	facebook_box
-----------------------------*/

.facebook_box {
	padding-bottom:40px;
	overflow:hidden;
}

.facebook_box .box{
	margin-bottom:40px;
	padding:0 10px 20px;
	overflow:hidden;
	background-color:#f4f4f4;
}

.facebook_box .box{
	margin:0 auto 40px;
	width:90%;
	padding:20px 10px;
	color:#fff;
	overflow:hidden;
	background-color:#3b5998;
}
.facebook_box .box h4 {
	margin-bottom:20px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:24px;
}
.facebook_box div.fb_btn {
	margin:0 auto;
	width:240px;
}
.facebook_box div.fb_btn a {
	width:240px;
	height:38px;
	display:block;
	text-align:center;
	position:relative;
	background-color:#3b5998;
	border:1px solid #fff;
	border-radius:5px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.facebook_box div.fb_btn a img {
	position: relative;
	top:8px;
	width:200px;
}
.facebook_box div.fb_btn a:hover {
	background-color:#555;
}



/*-----------------------------
	.contact_box
-----------------------------*/

.contact_box {
	padding-bottom:20px;
	overflow:hidden;
}

.contact_box.aws p{ margin-bottom:20px;}

.contact_box .box  {
	margin:0 auto 40px;
	width:90%;
	padding:20px 10px;
	overflow:hidden;
	border:2px solid #bfc5c7;
}

.contact_box .box h3
{	margin: 0px 0 20px;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    font-size: 140%;
	}

.contact_box .box  h4 {
	margin-bottom:20px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.contact_box .box  p {
	margin:0 5px 20px;
	font-size:12px;
	text-align:center;
}
.contact_box .box .contact_btn {
  position: relative;
  overflow: hidden;
}
.contact_box .box  .contact_btn ul {
  position: relative;
}
.contact_box .box  .contact_btn ul li {
  position: relative;
}
.contact_box .box  .contact_btn ul li.btn_contact a {
	margin:0 auto;
	width:260px;
	height:46px;
	display:block;
	color:#fff;
	font-size:13px;
	line-height:46px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	border-radius:5px;
	background:#404a60 url(../img/common/sub_btn_mail.png) 35px 15px no-repeat;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.contact_btn ul li.btn_usubig a {
	margin:0 auto;
	width:260px;
	height:46px;
	display:block;
	color:#fff;
	font-size:13px;
	line-height:46px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	background-color:#404a60;
	border-radius:5px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.contact_box .box  .contact_btn ul li:first-child{ margin-bottom:10px;}

.contact_box .box  .contact_btn ul li:nth-child(2){ margin-bottom:0;}

.contact_box .box  .contact_btn ul li.btn_contact a:hover,
.contact_box .box  .contact_btn ul li.btn_usubig a:hover {
	background-color:#555555;
}



/*-----------------------------
	.notation_box
-----------------------------*/

.notation_box  {
	padding-bottom:40px;
	overflow:hidden;
}
.notation_box  dt {
	margin-right: 10px;
    float: left;
}
.notation_box  dd {
	margin-bottom:20px;
    overflow: hidden;
}
.notation_box  dl {
	color:#666666;
	font-size:10px;
	line-height:16px;
    display: inline-block;
}
* html .notation_box dl {
    height: 1%;
}



/*-----------------------------
	.faq_box
-----------------------------*/

.faq_box {
	margin-bottom:40px;
	overflow:hidden;
	border-bottom:1px solid #ecedef;
}
.faq_box dl {
	margin:0 auto;
	width:90%;
	border-top:1px solid #ecedef;
}
.faq_box dl dt {
	padding:20px 40px;
	font-size:14px;
	font-weight:bold;
	line-height:18px;
	position:relative;
	background:url(../img/common/faq_icon_01.png) 5px 20px no-repeat;
}
.faq_box dl dt p {
	position:absolute;
	top:20px;
	right:5px;
}
.faq_box dl dd {
	padding:0px 20px 20px 40px;
	font-size:12px;
	line-height:18px;
	background:url(../img/common/faq_icon_02.png) 5px 0 no-repeat;
}



.partsBox .box .photo{ margin-bottom:10px;}

/*-----------------------------
	メールフォーム
-----------------------------*/
.formBOX {
	padding:40px 10px 0;
	margin-bottom:20px;
	overflow:hidden;
	background-color:#f4f4f4;
}
.formBOX .box {
	margin:0 auto;
	width:90%;
}



.formBOX .box p.errormes {
	margin-bottom:40px;
	color:#ff0048;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}
.mailform {
	margin:0 auto;
	width:100%;
	clear:both;
	overflow:hidden;
}
.mailform dt {
	margin:0 0 10px;
	clear:both;
	font-size:14px;
	font-weight:bold;
}
.mailform dt span {
	margin-left:10px;
	padding:2px 10px;
	color:#fff;
	width:40px;
	font-size:10px;
	text-align:center;
	background-color:#4d4d4d;
}
.mailform dd {
	margin:0 0 30px;
	font-size: 14px;
	text-align:left;
	line-height:40px;
	overflow:hidden;
}
.mailform dd span {
	margin-right:20px;
}
.mailform input.text {
	margin:0 10px 0 5px;
	padding:0 10px;
	color:#333333;
	width:80px;
	height:34px;
	font-size: 14px;
	vertical-align: middle;
	background:#FFF;
	border:1px solid #e6e6e6;
}
.mailform input.radio {
	margin:0 10px 0 5px;
}
.mailform input.txtfiled1 {
	padding:0 10px;
	color:#333333;
	width:90%;
	height:34px;
	font-size: 14px;
	vertical-align: middle;
	background:#FFF;
	border:1px solid #e6e6e6;
}
.mailform textarea.txtfiled2 {
	padding:10px;
	width:90%;
	height:200px;
	font-size:15px;
	background:#FFF;
	border:1px solid #e6e6e6;
}
.mailform dd p.errtext {
	color:#ff0048;
	font-size:12px;
	font-weight:bold;
}
.mailform select {
	margin:0 5 0 0;
	font-size:12px;
	width:50px;
	height:22px;
	line-height:20px;
	border-radius:4px;
}
.mailform dd span.sletext {
	margin:0 0 0 0;
}
.mailform dd p.checktext {
	float:left;
	width:50%;
	font-size:12px;
	line-height:24px;
}
input[type="file"] {
	font-size: 14px;
}
input[type="file"],
input[type="file"]::-webkit-file-upload-button {
	font: inherit;
	line-height:30px;
}
input[type="file"]::-webkit-file-upload-button {
	padding:0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #fff;
	background: -moz-linear-gradient(top,#8b9a9e 0%,#68777d);
	background: -webkit-gradient(linear, left top, left bottom, from(#8b9a9e), to(#68777d));
}
input[type="file"]::-webkit-file-upload-button:focus {
	outline-offset: -2px;
}
div.formbtn {
	margin:0 auto;
	width:240px;
}
div.formbtn input.btn-danger {
	width:240px;
	height:54px;
	cursor:pointer;
	color:#fff;
	border:none;
	font-size:15px;
	font-weight:bold;
	background-color:#ff0048;
	border-radius:5px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
div.formbtn input.btn-danger:hover {
	color:#fff;
	background-color:#555555;
}
  input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }


/*----------------------------------------------------------------

	footer

----------------------------------------------------------------*/
footer .premierconsulting {
	padding:10px 0;
	clear:both;
	text-align:center;
	background-color:#fcbc4f;
	border-top:1px solid #000107;
	border-bottom:1px solid #000107;
}
footer .premierconsulting  ul li {
	margin:5px 0;
	text-align:center;
}
footer .premierconsulting img {
	width:160px;
	transition:0.5s;
}

footer .footermenu {
	background-color:#000;
}
footer .footermenu .box {
	margin:0 auto;
	width:100%;
	overflow:hidden;
}
footer .footermenu ul li {
	padding-left:10px;
	font-size:16px;
	line-height:46px;
	font-weight:normal;
	position: relative;
	border-bottom:1px solid #333;
}
footer .footermenu ul li::after {
	display: block;
	content: '';
	position: absolute;
	top: 18px;
	right: 10px;
	width: 8px;
	height: 8px;
	border-right: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
footer .footermenu ul li ul {
	display:none;
}
footer .footermenu ul li ul li {
	margin-bottom:10px;
	font-size:13px;
	line-height:18px;
}
footer .footermenu a {
	color:#fff;
	text-decoration:none;
}
footer .footermenu a:hover {
	text-decoration:underline;
}
footer .copylogo {
	padding:20px 0 30px;
	clear:both;
	overflow:hidden;
	text-align:center;
	background-color:#000;
}
footer .copylogo .footer-subNav {
	padding: 0 10px;
}
footer .copylogo .footer-subNav li{
	display: inline-block;
}
footer .copylogo .footer-subNav li a{ display: block; color: #fff; padding: 0 10px 10px; font-size: 12px; text-decoration: underline; }

footer .copylogo .brand {
	margin-bottom:10px;
}
footer .copylogo .copyright {
	padding-top: 15px;
	color:#fff;
	font-size:12px;
}


/*----------------------------------------------------------------

	pagetop

----------------------------------------------------------------*/
#page-top {
	border-bottom:3px solid #9fa4af;
}

#page-top p {
	margin:0 auto;
	width:100%;
	text-align:right;
}

#page-top img{ width:116px; height:26px; }

/*---------------
FAQ
---------------*/
.accordion dt p {
	cursor:pointer;
	background: url(../img/common/faq_icon_03.png);
	background-repeat: no-repeat;
	background-position: center;
	padding:15px;
	font-size:14px;
}
.accordion dd{
	display:none;
	font-size:14px;
	line-height:140%;
	margin:0;
	padding:15px;
}
.accordion dt.active p{
	background: url(../img/common/faq_icon_04.png);
	background-repeat: no-repeat;
	background-position: center;
	padding:15px;
	font-size:14px;
}








/* .cm_services2
----------------------------------------- */
.services .cm_services2 section{
	padding: 0;
	margin: 0;
}
.services .cm_services2 section{
	border-top: #323232 1px solid;
}
.services .cm_services2 section .inner{
	max-width: 900px;
	margin: 0 auto;
	padding: 40px 30px;
	box-sizing:border-box;
	font-size: 14px;
	line-height: 1.6em;
}
.services .cm_services2 p { padding: 0; margin: 0; }

	.cm_services2 .section_body table th,
	.cm_services2 .section_body table td,
	.cm_services2 .section_body table tr{
		background: #f4f4f4;
		color: #000;
		border-right: none;
		border-left: none ;
	}
.cm_services2 section .text_colorR{ color: #873b3b !important; }
.cm_services2 section .text_colorY{ color: #a08800 !important; }
.cm_services2 section .text_colorB{ color: #4d6f83 !important; }

/* 外部リンク */
.cm_services2 section .link_outSide{
	text-align: center; 
	line-height: 1.3em;
}
.cm_services2 section a{
	color: #13b6c9;
}
.cm_services2 section a:hover{
	opacity: 0.8;
	-webkit-opacity:0.8;
}
.cm_services2 section .link_outSide a:after{
	content:"";
	display: inline-block;
	margin-left: 4px;
	width: 15px;
	height: 13px;
	vertical-align: middle;
	background: url(../img/common/icon_linkarrow.png) 0 0 no-repeat ; 
	-webkit-background-size: 100%, auto;
	background-size: 100%, auto;
}
.cm_services2 section .picArea img{ display: block; width: 100%; height: auto; }
.cm_services2 .bg_col_yellow .section_title{ color: #fff; }
/*
.cm_services2 section .alignL{ float: left; }
.cm_services2 section .alignR{ float: right; }
/*


/* タイトル */
.cm_services2 .section_title{
	margin: 0;
	text-align: center;
}
	.cm_services2 .section_title .ttl_pic{ 
		max-width: 122px;
		margin: 10px auto 10px;
	}
	.cm_services2 .section_title .ttl_pic img{
		display: block;
		width: 100%;
		height: auto;
	}
	.cm_services2 .section_title .ttl_txt{
		margin-bottom: 20px;
	}
	.cm_services2 .section_title .ttl_txt h2,
	.cm_services2 .section_body h3{
		font-size: 24px;
		line-height: 1.2em; 
	}
	.cm_services2 .section_title .ttl_txt p{
		padding: 10px 0 0;
	}
	
/* 本文 */
	/* col_blc */
	.cm_services2 .section_body .col_blc .col_item{
		/*float: left;*/
		box-sizing:border-box;
	}
	.cm_services2 .section_body .col_blc .col_item p{ line-height: 1.4em; }
	.cm_services2 .section_body .col_blc .col_item .col_title{
		margin: 0 0px;
		font-size: 18px;
		font-weight: normal;
		line-height: 1em;
	}
	.cm_services2 .section_body .col_item.col_spaceS dd{
		padding: 0 5px;
	}
	
	/* col_blc 3 */
	.cm_services2 .section_body .col_blc-3 .col_item{
		margin:10px 0;
	}

	/* col_blc 4 */
	.cm_services2 .section_body .col_blc-4 .col_item{
		margin:10px 0 20px 0;
	}


	/* col_blc card */
	.cm_services2 .section_body .col_card .col_item{
		padding: 10px;
		background: #fff;
		border: #ccc 1px solid;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	.cm_services2 .section_body .col_card .col_item p{ text-align: center; }
	.cm_services2 .section_body .col_card .col_item .card_pic{
		max-width: 92px;
		margin: 15px auto ;
	}
	.cm_services2 .section_body .col_card .col_item .card_pic img{ display: block; width: 100%; height: auto; }
	.cm_services2 .section_body .col_card .col_item .col_title{
		padding-right: 10px;
		padding-left: 10px;
		text-align: center;
		color: #13b6c9;
	}
	.cm_services2 .section_body .col_card .col_item p.col_title{ margin-bottom:  15px; }
	
	.cm_services2 .col_card .col_item dd{ padding: 0 0 5px; }
	
	.cm_services2 .section_body .col_card .col_item .link_outSide{
		margin: 10px 0 5px;
	}
	
	/* listThumb_pic  */
	.cm_services2 .section_body .col_item .listThumb_pic {
		max-width: 140px;
		margin:0 auto 10px;
	}
	.cm_services2 .section_body .col_item .listThumb_pic img{ max-width: 100%; height: auto; }
	
	/* blc_sendBtn */
	.cm_services2 .section_body .blc_sendBtn{
		margin: 35px 0 0;
		padding: 0 0 15px;
		text-align: center;
	}
	.cm_services2 .section_body .blc_sendBtn p{ padding: 0 0 5px; }
	.cm_services2 .section_body .blc_sendBtn a.sendBtn{
		display: block;
		margin: 10px auto 10px;
		padding: 15px 10px 15px 20px;
		box-sizing:border-box;
		max-width: 520px;
		background: #e64032 url(../img/common/icon_contact.png) 16px 50% no-repeat ; 
		-webkit-background-size: 28px, auto;
		background-size: 28px, auto;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
	.cm_services2 .section_body .blc_sendBtn a.sendBtn:hover{
		opacity: 0.8;
		-webkit-opacity:0.8;
	}
	
	/* lineBox */
	.cm_services2 .section_body .lineBox{
		padding: 20px 20px;
		margin: 10px auto;
		background: #fff;
		border: #ccc 1px solid;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
		.cm_services2 .section_body .lineBox .box_title{
			padding: 10px 0 15px;
			text-align: center;
			font-weight: bold;
			font-size: 18px;
		}
		.cm_services2 .section_body .lineBox .box_body{ padding-bottom: 10px; }

	/* lineBox green */
	.cm_services2 .section_body .lineBox.lineBox_green{
		background: #e9f2e8;
		border: #6bb955 1px solid;
		color: #46a129;
	}
		/* check */
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check{
			text-align: center;
		}
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check ul{ display: inline-block; padding-left: 30px;  }
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check li{
			padding: 8px 0;
			text-align: left;
		}
		.cm_services2 .section_body .lineBox.lineBox_green .icon_check li:before{
			content:"";
			display: inline-block;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			margin-left: -30px;
			vertical-align: middle;
			background: url(../img/common/icon_checklist.png) 0 0 no-repeat ;
			-webkit-background-size: 100%, auto;
			background-size: 100%, auto;
		}
		
		

	/* text + 画像 2カラム */
	.cm_services2 .section_body .col_article .textArea p { padding: 0 0 10px; }
	.cm_services2 .section_body .col_article  img { display: block; max-width: 100%; height: auto; }
	
	.cm_services2 .section_body .col_article .textArea{
		padding: 20px 0 10px;
	}
	
	/* text + サムネ 2カラム */
	.cm_services2 .section_body .col_article_thumb .picArea{
		width: 80%;
		border: #ccc 1px solid;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		overflow: hidden;
		margin: 0 auto;
	}
	.cm_services2 .section_body .col_article_thumb .picArea img { display: block; max-width: 100%; height: auto; }
	.cm_services2 .section_body .col_article_thumb .textArea h3{ 
		text-align: left;
		margin: 0;
		padding: 15px 0 10px;
	}
	.cm_services2 .section_body .col_article_thumb .textArea dt{
		padding-top: 25px;
		font-weight: bold;
	}
	.cm_services2 .section_body .col_article_thumb .textArea dt,
	.cm_services2 .section_body .col_article_thumb .textArea dd{ 
		font-size: 14px;
		line-height: 1.3em;
	}
	
	/* list_line */
	.cm_services2 .section_body .list_line{
		min-width: 240px;
		margin: 0 auto;
		border-top: #ccc 1px solid;
		text-align: center;
	}
	.cm_services2 .section_body .list_line dl{
		padding: 16px 0;
		border-bottom: #ccc 1px solid;
	}
	.cm_services2 .section_body .list_line dt,
	.cm_services2 .section_body .list_line dd{
		display: inline-block;
		margin: 0 1%;
	}
	.cm_services2 .section_body .list_line dt{
		width: 30%;
		text-align: right;
		font-weight: bold;
	}
	.cm_services2 .section_body .list_line dd{ text-align: left; }

	/* list_line-table */
	.cm_services2 .section_body .list_line-table table{
		width: 100%;
		border-top: #ccc 1px solid;
	}
	.cm_services2 .section_body .list_line-table th,
	.cm_services2 .section_body .list_line-table td{
		padding: 5px 0;
		border-bottom: #ccc 1px solid;
		vertical-align: middle;
	}
	.cm_services2 .section_body .list_line-table td img{ display: block; width: 100%; height: auto; }
		.cm_services2 .section_body .list_line-table small{ font-size: 10px; display: block; padding-top: 10px; line-height: 1.2em; }
		
		/* 4col */
		.cm_services2 .section_body .list_line-table.list_table-4 th{
			
			text-align: left;
			font-size: 12px;
			line-height: 1.2em;
		}
		.cm_services2 .section_body .list_line-table.list_table-4 td{
			text-align: center;
			width: 20%;
		}
		
		/* 3col */
		.cm_services2 .section_body .list_line-table.list_table-3 th,
		.cm_services2 .section_body .list_line-table.list_table-3 td{
			padding: 10px;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 thead td,
		.cm_services2 .section_body .list_line-table.list_table-3 thead th{
			text-align: center;
			font-weight: bold;
			font-size: 12px;
			padding: 10px 5px;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 th{
			text-align: center;
			font-size: 12px;
			width: 15.5%;
			line-height: 1.2em;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 td{
			text-align: left;
		}
		.cm_services2 .section_body .list_line-table.list_table-3 td strong + p{ padding: 10px 0 0; }
		.cm_services2 .section_body .list_line-table.list_table-3 td.picArea{
			max-width: 50%;
		}

	
	/* icons　パネル */
	.cm_services2 .section_body .icons{
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}
	.cm_services2 .section_body ul.icons li a{ display: block;  }
	.cm_services2 .section_body ul.icons li img{ 
		width: 100%;
		height: auto;
		border: 2px solid #72c8d9; 
		box-sizing:border-box;
	}
	.cm_services2 .section_body ul.icons li p { left: 0; bottom: 0; }
	.cm_services2 .section_body ul.icons li p span{
		background-color: #000;
		margin: 0;
	}


	/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ form */
	.cm_services2 .section_body input[type="button"],
	.cm_services2 .section_body input[type="submit"],
	.cm_services2 .section_body input[type="text"], 
	.cm_services2 .section_body input[type="reset"], 
	.cm_services2 .section_bodyinput[type="password"], 
	.cm_services2 .section_body textarea ,
	.cm_services2 .section_body select,
	.cm_services2 .section_body button{
		-webkit-appearance: none;
		appearance: none;
		-webkit-tap-highlight-color : rgba(0,0,0,0);
		-webkit-border-radius: 0;
		border-radius: 0;
		border: none;
		background-color: transparent;
	}
	
	/* textare */
	.cm_services2 .section_body input[type="text"],
	.cm_services2 .section_body input[type="password"],
	.cm_services2 .section_body textarea,
	.cm_services2 .section_body select{
		padding: 8px;
		font-size: 16px;
		border: #13b6c9 1px solid;
		-webkit-border-radius: 6px;
		border-radius: 6px;

	}
	
/* セレクト*/
.cm_services2 .ico_select{
	display: inline-block;
	position: relative;
}
  .cm_services2 .ico_select:after {
    display: block;
    position: absolute;
    top: 50%;
    width: 5px;
    height: 5px;
    margin-top: -3px;
    border-top: solid 2px #13b6c9;
    border-right: solid 2px #13b6c9;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    content: ""; 
	right: 15px; 
	}

.cm_services2 select {
	max-width: 200px;
    -moz-appearance: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    outline: medium none;
    padding: 4px 27px 4px 4px;
    position: relative;
    z-index: 2;
	
}

/* checkBoxカスタマイズ */
.cm_services2 .check_list{
	line-height: 1.4;
}
.cm_services2 .check_list label{
	cursor       : pointer;
	position     : relative;
	display      : inline-block;
	padding-left : 24px;
	overflow     : hidden;
	box-sizing   : border-box;
	vertical-align: middle;
	margin:0 8px 5px 0;
}
.cm_services2 .check_list label:before{
	content  : '';
	position : absolute;
	width    : 15px;
	height   : 15px;
	left     : 0px;
	top      : 50%;
	margin-top: -10px;
	border   : 2px solid #13b6c9;
	z-index  : 3;		
	
}
/* チェックアイコン */
.cm_services2 .check_list label:after{
	content           : '';
	position          : absolute;
	display           : block;
	top               : 50%;
	left              : 6px;
	margin-top        : -8px;
	width             : 6px;
	height            : 10px;
	border-right      : 2px solid #13b6c9 ;
	border-bottom     : 2px solid #13b6c9 ;
	transform         : rotate(45deg);
	-webkit-transform : rotate(45deg);
	-moz-transform    : rotate(45deg);
	z-index           : 1;		
}

//ラジオボタン
.cm_services2 .radioBtn {
    display: inline-block;
    position: relative;
}
.cm_services2 .radioBtn label {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 10px 10px 10px 25px;
    position: relative;
	font-size: 14px;
}
.cm_services2 .radioBtn label::before {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 50%;
    content: "";
    height: 18px;
    left: 0;
    margin: -10px 0 0;
    position: absolute;
    top: 50%;
    width: 18px;
    z-index: 20;
}
.cm_services2 .radioBtn input[type="radio"] {
    font-size: 100%;
    left: 4px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    width: 1em;
}
.cm_services2 .radioBtn input[type="radio"]:checked + label::after {
    background:#13b6c9 none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    height: 12px;
    left: 4px;
    margin: -6px 0 0;
    position: absolute;
    top: 50%;
    width: 12px;
    z-index: 30;
}

.cm_services2 .check_list input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	position   : absolute;
	top: 50%;
	left       : -40px;
	width      : 16px;
	height     : 16px;
	display    : block;
	box-shadow : 41px 0px #FFF;
	z-index    : 2;
	margin     : -8px 0 0;
	padding    : 0px;
}

.cm_services2 .check_list input[type="checkbox"]:checked {
	box-shadow : none;
}
.cm_services2 .check_list input[type="checkbox"]:checked:focus {
	box-shadow : 40px 0px #666;
	opacity    : 0.1;
}
.cm_services2 .check_list input[type="checkbox"]:checked:focus {
	box-shadow : 41px 0px #EEE;
}
	

	.cm_services2 .section_body .blc_contact table{
		width: 100%;
		margin: 0 auto;
	}
	.cm_services2 .section_body .blc_contact table th ,
	.cm_services2 .section_body .blc_contact table td{
		padding: 10px;
		border: none;
		text-align: left;
	}
	.cm_services2 .section_body .blc_contact table th{
		width: 24%;
		text-align: right;
		vertical-align: middle;
		font-size: 12px;
		font-weight: normal;
	}
	.cm_services2 .section_body .blc_contact table td{
		width: 70%;
	}
		.cm_services2 .section_body .blc_contact table td input[type="text"],
		.cm_services2 .section_body .blc_contact table td textarea{
			width: 100%;
			box-sizing:border-box;
			
		}
	
	
	.cm_services2 ul.check_list li{
		padding: 3px 0;
		display: inline-block;
		text-align: left;
	}
		.cm_services2 .section_body .submitBtn{
			text-align: center;
		}
		.cm_services2 .section_body .submitBtn input[type="submit"],
		.cm_services2 .section_body .submitBtn a{
			transition:all .3s;
			display: inline-block;
			padding: 10px 20px 12px;
			margin: 25px 0;
			min-width: 200px;
			box-sizing:border-box;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.2;
			text-decoration: none;
			color: #fff;
			background: #13b6c9;
			cursor:pointer;
			border-radius: 6px;
			-webkit-border-radius: 6px;
		}
		.cm_services2 .section_body .submitBtn input[type="submit"]:hover{
			opacity:0.8;
		}
	
	.cm_services2 .link_outSide.blc_contact_check{ 
		padding: 20px 0 40px; 
		max-width: 900px;
		margin: 0 auto;
		border-bottom: #ccc 1px solid; 
	}
	.cm_services2 .link_outSide.blc_contact_check .check_list { padding-top: 10px; }
	.cm_services2 .link_outSide.blc_contact_check a{ font-size: 18px ;}
	

/*-----------------------------
	.company
-----------------------------*/
#content .company.index{
	padding-top: 20px;
}