@charset "UTF-8";



.main_recruit_Txt{
	margin: 0 auto;
	width: 1000px;
		 position:relative;

	}
.main_recruit_Txt .inner{
	 	top: 100px;
	 	position:absolute;
	 	width: 550px;
	 	text-shadow: 0 0 10px #333;
	 	color:#fff;
	 	font-weight:bold;
		padding-left:30px;
}
.main_recruit_Txt h2{
	font-size:38px;
	line-height: 1.3em;
	margin-bottom:20px;
}

.main_recruit_Txt ul li{
	font-size:18px;
	line-height:1.6em;}


/*リクルート　トップ*/
.recruit_index{ margin-top:40px;}

.recruit_index h2{ margin-bottom:40px;}

.recruit_index p{
	text-align:center;
	}

.recruit_index .partsBox{
background:center center no-repeat;
padding-bottom:40px;
   }

.recruit_index .partsBox .box .text p{ margin-bottom:40px;}

.recruit_index .partsBox .btn_Area01{ background: url(../img/recruit/r01_img01.jpg) center no-repeat; background-size:cover; height:360px; }
.recruit_index .partsBox .btn_Area02{ background: url(../img/recruit/r01_img02.jpg) center no-repeat; background-size:cover; height:360px; }
.recruit_index .partsBox .btn_Area03{ background: url(../img/recruit/r01_img03.jpg) center no-repeat; background-size:cover; height:360px; }
.recruit_index .partsBox .btn_Area04{ background: url(../img/recruit/r01_img04.png) center no-repeat; background-size:cover; height:360px; }

.recruit_index .partsBox .btn_Area01,
.recruit_index .partsBox .btn_Area02,
.recruit_index .partsBox .btn_Area03,
.recruit_index .partsBox .btn_Area04{ text-align: center; position: relative;}

.recruit_index .partsBox .btn_Area01 ul{ width:790px;}
.recruit_index .partsBox .btn_Area02 ul{ width:520px;}
.recruit_index .partsBox .btn_Area03 ul{ width:790px;}

.recruit_index .partsBox .btn_Area01 ul,
.recruit_index .partsBox .btn_Area02 ul,
.recruit_index .partsBox .btn_Area03 ul{
	display: inline-block;
position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);
	}	

.recruit_index .partsBox .btn_Area01 ul li,
.recruit_index .partsBox .btn_Area02 ul li,
.recruit_index .partsBox .btn_Area03 ul li{
	display: inline-block;
	font-weight:bold;
	margin-right:20px;
	float: left;
	text-align:center;
	border:1px solid #fff;
	background-color: rgba(0,0,0,0.3);
	}
.recruit_index .partsBox .btn_Area01 ul li:last-child,
.recruit_index .partsBox .btn_Area02 ul li:last-child,
.recruit_index .partsBox .btn_Area03 ul li:last-child{
	margin-right:0;
	}
.recruit_index .partsBox .btn_Area01 ul li a,
.recruit_index .partsBox .btn_Area02 ul li a,
.recruit_index .partsBox .btn_Area03 ul li a{
	color:#fff;
	text-decoration:none;
	display: table-cell;
	vertical-align: middle;
	width:248px;
	height:60px;
	position:relative;
	}

.recruit_index .partsBox .btn_Area01 ul li a:hover,
.recruit_index .partsBox .btn_Area02 ul li a:hover,
.recruit_index .partsBox .btn_Area03 ul li a:hover {
	opacity: 0.6;}
	
	
.recruit_index .partsBox .btn_Area01 ul li a span i,
.recruit_index .partsBox .btn_Area02 ul li a span i,
.recruit_index .partsBox .btn_Area03 ul li a span i{
    position: absolute;
    display: block;
    top: 18px;
    right: 10px;
    font-size: 23px;
	}


.recruit_index h3 a{ text-decoration:none;}


.recruit_index .contact_btn ul {
  position: relative;
  float:none;
}
.recruit_index .contact_btn ul li {
  position: relative;
  background-color:#fff;
}
.recruit_index .contact_btn ul li.btn_usubig a {
	margin:0 0 10px;
	width:320px;
	height:60px;
	display:block;
	color:#fff;
	line-height:60px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	background-color:#404a60;
	border-radius:10px;
	transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.contact_btn ul li.btn_contact a:hover,
.contact_btn ul li.btn_usubig a:hover {
	background-color:#555;
}


	
/*リクルート　社員紹介一覧*/

.member_index ul li.box{ width:33.333%; float:left; position:relative; }	
.member_index ul li.box.m01{ background: url(../img/recruit/r09_01.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m02{ background: url(../img/recruit/r09_02.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m03{ background: url(../img/recruit/r09_03.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m04{ background: url(../img/recruit/r09_04.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m05{ background: url(../img/recruit/r09_05.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m06{ background: url(../img/recruit/r09_06.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m07{ background: url(../img/recruit/r09_07.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m08{ background: url(../img/recruit/r09_08.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m09{ background: url(../img/recruit/r09_09.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m10{ background: url(../img/recruit/r09_10.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m11{ background: url(../img/recruit/r09_11.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m12{ background: url(../img/recruit/r09_12.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m13{ background: url(../img/recruit/r09_13.jpg) center no-repeat; background-size:cover; height:427px; }

.member_index ul li.box ul{ position: absolute; bottom:0; width: 88%; height: 30%; padding: 4% 6% 6%; opacity:0.8;}
.member_index ul li.box ul.purple{ background-color:#C486D6; }
.member_index ul li.box ul.blue{ background-color:#4CB5FF; }
.member_index ul li.box ul.orange{ background-color:#EF8F7C; }
.member_index ul li.box ul.green{ background-color:#4DC2B5; }
.member_index ul li.box ul.pink{ background-color:#EA78BE; }
.member_index ul li.box ul.yellowGreen{ background-color:#A9C469; }

.member_index ul li.box ul li { float:none; width:100%; bottom:0; color:#fff; font-size:14px; letter-spacing:0.1em; line-height:1.5em;}
.member_index ul li.box ul li b{ font-size:16px;}
.member_index ul li.box a{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	text-decoration:none;
	color:#fff;
	text-indent:-9999px;
	display:block;
    z-index: 999;
	}

.member_index ul li.box a:hover{
    background-color:#FFF;
    filter:alpha(opacity=10);
    -moz-opacity: 0.1;
    opacity: 0.1;
}

/* こんな人にきてほしい　*/

.recruit_Department .bg_col_gray{background-color: #eff5f7;}
.recruit_Department .hopeBox{ margin: 0 auto 40px; width: 860px; padding:0 20px; text-align:center;}
.recruit_Department .hopeBox h4{ padding-top: 25px !important;}
.recruit_Department .hopeBox .left{ float:left;}
.recruit_Department .hopeBox .right{ float:right;}
.recruit_Department .hopeBox .txt{ line-height:1.6em;}
.recruit_Department .hopeBox .txt.left { background:url(../img/recruit/r04_img_balloon_left.png) no-repeat; height:224px; width: 570px; padding-right: 30px;}
.recruit_Department .hopeBox .txt.right{ background:url(../img/recruit/r04_img_balloon_right.png) no-repeat; height:224px; width: 570px; padding-left: 30px;}
.recruit_Department .hopeBox .photo{ width:220px !important;}
.recruit_Department .hopeBox .photo img{ width:100%; display:block; margin-bottom:5px;}
.recruit_Department .hopeBox .photo p{ font-size:12px; line-height: 1.6em;}
.recruit_Department .hopeBox .photo p span.name{ font-size:14px; font-weight:bold; }

/* 共に成長できる仲間を探しています */

.conApplication{
	padding: 40px;
    margin-bottom: 40px;
 background-color:#E5E5E5;
	}
.conApplication .conInner{
	width: 1080px;
	margin:0 auto;
	padding: 60px 0 0 60px;
	background-image: url(../img/recruit/r01_img04.png);
	background-position:top right;
	background-repeat:no-repeat;
	background-color:#fff;
	background-size:614px,auto;
}

.conApplication .conInner h3,
.conApplication .conInner p{ text-align:left;}

.conApplication .conInner h3{
	font-size:30px;}

.conApplication .conInner .left{float:left;width:45%; }
.conApplication .conInner .right{ float:right; width:45%;}

.conApplication .contact_btn {
    width: 1080px;
    background-color: #fff;
    padding: 30px 0;
}
.conApplication .contact_btn ul{ margin:0 auto;}
.conApplication .contact_btn ul li{ float:left;}
.conApplication .contact_btn ul li.btn_usubig a {
    margin: 0 10px 0px;
	    border-radius: 5px;
}

/*採用の流れ*/
.recruit.flow section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.recruit.flow section .section_title {
    margin-top: 15px;
    margin-bottom: 55px;}

.recruit.flow section .section_title h2 {
    position: relative;
    font-size: 38px;
    text-align: center;
    line-height: 100%;
}
.recruit.flow section .box {
    width: 1200px;
    margin: 0 auto;
}
.recruit.flow section .box .box_inner {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
}
.recruit.flow div.pict {
    width: auto;
    text-align: center;
    margin-bottom: 60px;
}
.recruit.flow div.pict img {
    width: 79%;
}


/*サービス*/


.services .mb30{margin-bottom:30px;}
.services .mb40{margin-bottom:40px;}

.bg_col_lightgray {
	background-color: #F4F4F4 !important;
}
.bg_col_white {
	background-color: #ffffff;
}
.cm_services2 .bg_col_yellow {
	background-color: #fac600;
}



/* .services.index */
.services.index section.con01 {
	padding: 30px 0;
	overflow:hidden;
	background-color:#eff5f7;
}
.services.index section.con01 ul {
	margin:40px auto 20px;
	text-align: justify;
	text-justify: inter-ideograph;
	clear:both;
	display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
	max-width: 900px;
}
.services.index section.con01 ul li {
	position:relative;
	padding:10px;
	float:left;
	margin:0 0.8% 16px;
	width:48%;
	font-size:14px;
	line-height:1.5;
	background-color:#fff;
	box-sizing:border-box;
}
.services.index section.con01 ul li a{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	text-decoration:none;
	color:#fff;
	text-indent:-9999px;
	display:block;
    z-index: 999;
	}
.services.index section.con01 ul li a:hover{
    background-color:#FFF;
    filter:alpha(opacity=5);
    -moz-opacity: 0.5;
    opacity: 0.5;
	transition:0.5s;
}

.services.index section.con01 ul li img {
    margin: 0 auto 19px;
    display: block;
	width:32.5%;
	}
	
.services.index section.con01 ul li.blank_Img img{
	width: 50% !important;
    margin-top: 24% !important;
}

.services.index section.con01 ul li h4 {
	margin:0 auto 20px;
	font-size:20px;
	font-weight:bold;
	display:block;
    text-align: center;
}
.services.index section.con01 ul li p {
	margin:0 10px 20px;
	font-size:14px;
	line-height: 1.4em;
}




/* サービス　全般*/

.services .box_inner.bg_col_white {
	padding: 45px 30px 30px 30px;
}

.services li h4 {
	display: inline-block;
}

.services p{
    font-size: 102.5%;
    line-height: 185%;
    margin: 0 auto 30px auto;
}


.services section {
	padding-top: 70px;
	padding-bottom: 70px;
}

.services section .box {
	width: 1200px;
	margin: 0 auto;
}

.services section .box .box_inner {
	width: auto;
	margin-left: 30px;
	margin-right: 30px;
}

.services section .box .box_inner .fa-2x{    font-size: 1.6em;
    text-indent: -0.5em;}
.cushion{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.services section .box .box_inner .cushion.fifth_row{
	width: 550px;
}
.services section .box .box_inner .cushion.comments {
	width: 840px;
	padding: 30px;
	background-color: #e8eeef;
}
.services section .box .box_inner .cushion.comments h5{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.section_title {
	margin-top: 15px;
	margin-bottom: 55px;
}

.section_title h2{
	position: relative;
    font-size: 24px;
    text-align: center;
	line-height: 100%;

}

.services section.sub_section .section_title h2{
    font-size: 32px;
	font-weight: 500;
}

.services section .section_title.with_bar h2{
	padding-bottom: 25px;
}
.services section .section_title.with_bar h2:after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 4px;
	margin: 0 auto;
	background-color: #788f95;
}

section h3.box_title {
	display: block;
	padding-bottom: 15px;
	margin: 0 auto 30px auto;
	border-bottom: solid 1px #f0f4f7;
}

.services section>.section_title p {
    font-size: 16px;
    line-height: 22px;
    margin: 40px auto 0;
    text-align: center;
    width: 800px;
}




.services section .box .cushion>ul.icons{
	width: 660px;
	margin-left: auto;
	margin-right: auto;
}
.services section .box .cushion>ul.icons li{
	display: inline-block;
	width: 200px;
	margin: 10px 0;
}

.services section .box .cushion>ul.icons li img{
	width:100%;
	border:none;}


.services section .box .cushion>ul.icons li:nth-child(3n+2){
	margin-left: 30px;
	margin-right: 30px;
}

.services section .box .cushion>.note {
	margin: auto;
}
.services section .box .cushion.fifth_row>.note {
	width: 550px;
}

/*.services section .box .box_inner>ul.icons li{
	display: inline-block;
	width: 171px;
	margin-right: 18px;
	border: solid 2px #0b0b0b;
}
.services section .box .box_inner>ul.icons li img{
	max-width: 100%;
}
.services section .box .box_inner>ul.icons li:last-child{
	margin-right: 0;
}
*/
.services .h2_lead{
	margin-top: 85px;
	margin-bottom: 80px;
}

.services h3.hr_title {
	display: block;
	width: 900px;
	padding: 15px 0;
	margin: 45px auto 40px auto;
	border-bottom: solid 1px #788f95;

	font-size: 175%;
	font-weight: 400;
}

ul.icons_six{ margin:0 auto; width:690px;}
ul.icons_six li{ float:left; margin-bottom:20px; margin-right:40px;}
ul.icons_six li:nth-child(3n){ margin-right:0px;}
ul.icons_six li img{ width:200px; display:block;}

/* parallel direction */


.services li.services_block {
    float: left;
    width: 340px;
    height: 300px;
    font-size: 14px;
    line-height: 1.5;
	margin-right:30px;
}

.services li.services_block:nth-child(3n){ margin-right:0px;}
.services li.services_block img {
	width: 40%;
    margin: 0 auto;
    display: block;
}

.services li.services_block.for_pc img {
	width: 100%;
}

.services li.services_block h4 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.services li.services_block .vis { margin-bottom: 30px;}




.services .note { padding-bottom: 0;}
.services .parallel { overflow-y: auto;}

.services .parallel.twice .parallel_block {
	float: left;
	width: 49%;
}



.services .parallel.twice .parallel_block:nth-child(2n-1) {
	margin-right: 2%;
}

.services .parallel.twice .parallel_block .uneder_block{
	min-height: 190px;
	padding: 35px 30px;
	border: solid 4px #bfc5c7;
}

.services .parallel.twice .parallel_block .monitering_block{
		min-height: 150px;
	padding: 35px 30px;
	border: solid 4px #bfc5c7;
}

.services .emb{
	float: left;
	width: 155px;
	margin: -5px 0 -5px 0;
}
.services .emb img{
	display:block;
	margin:0 auto;
	width:100%;}


.services .emb_right{
	margin-left: 190px;
}
.services .parallel.twice .parallel_block .uneder_block h4,
.services .parallel.twice .parallel_block .monitering_block h4
{

	font-size: 25px;
	font-weight: 500;
	margin-bottom: 35px;
}

.services .parallel.trice .parallel_block {
	float: left;
    width: 340px;
	height:300px;
    font-size: 14px;
    line-height: 1.5;
}



.services .parallel.trice .parallel_block:nth-child(3n+2) {
    margin: 0 30px;
}
.services .parallel .parallel_block .vis {
	margin-bottom: 30px;
}
.services .parallel .parallel_block .vis img{
	max-width: 100%;
	margin: 0 auto;
    display: block;
    width: 32.3%;
	}

.services .parallel dl dt {
	font-weight: 400;
	margin-top: -10px;
}
.services .parallel.trice .parallel_block h4{
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

.services span.exam {
	display: inline-block;
	margin-bottom: 20px;
}

.services .parallel.twice .parallel_block .uneder_block ul li,
.services .parallel dl {
	font-size: 16px;
	line-height: 165%;
}




/* table */

.services table {
	padding-bottom:60px;
	overflow:hidden;
}

.services  .box {
	margin:0 auto;
	width:1140px;
}

.services table {
	width:100%;
	background:#e0ebef;
}
.services table th {
    padding: 12px;
    width: 25%;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #73848a;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    vertical-align: middle;
	}
.services table td {
	padding:12px 10px;
	font-size:16px;
	line-height:24px;
	border-right:6px solid #fff;
	border-bottom:6px solid #fff;
}
.services table.tbl_02 table th:last-child,
.services table.tbl_02 table td:last-child {
	border-right:none;
}
.services table.tbl_02 table tr:nth-child(2n) {
	background: #eff5f7;
}


.services table.longitudinal th span{
	display: inline-block;
	font-weight: 300;
	padding:0 10px;
}


.services table.longitudinal tr td:nth-last-child(1){
	background-color: #eff4f7;
}
.services table.longitudinal tr td:nth-last-child(2){
	background-color: #e0ebef;
}
.services table.longitudinal tr td:nth-last-child(3){
	background-color: #d3e2e9;
}

.services table.longitudinal tr td:first-child{
	background-color: #eff4f7;
}

.services table.longitudinal tr th.blank, table.longitudinal tr td.blank{
	background-color: #fff;
}
.services table.longitudinal tr th.blank_col_gray, table.longitudinal tr td.blank_col_gray{
	background-color: #F4F4F4 !important;
}

table#template-list th:first-child,
table#template-list td:first-child{ width:12%;}
table#template-list td:nth-child(2){ text-align:left;}
table#template-list td.diagram{ width:600px;}
table#template-list td.diagram img{ width:600px;}


/* list, etx*/

.services .link_right {
	text-align: right;
	margin-top: 20px;
}
.services .link_right a{
	font-size: 16px;
}

ul.list_disc {
    font-size: 14px;
    line-height: 24px;
	padding: 0;
	margin-bottom: 0;
}

ul.list_disc li:before{
	content: "・";
	display: inline-block;
	margin-right: 5px;
	font-size: 120%;
}
ul.list_disc li{
	text-indent: -1em;
	margin-left: 1em;
}
.services .note { text-align: left;}

.pict {
	width: auto;
	text-align: center;
	margin-bottom: 60px;
}

.pict img{ width:79%;}

/*　経営理念　*/
.principles .box{ padding:40px 0; width:1140px; margin:0 auto;}



/* access */
.access .conBox{
	width:1000px;
	margin:0 auto;
	}
.access .conBox h4{ margin:20px 0;}


.access .squeeze_box .box p.checktext{ margin-bottom:0;}


/*  jobs
-------------------------------------------------------*/

.jobs section .box { width: 1140px; margin: 0 auto;}
.jobs section .box .box_inner{ margin-bottom:40px;}
.jobs section .box p.text{ padding:0 0 20px;}

/* detail */

.jobs .formArea_attention{	margin-bottom:40px;}
.jobs .formArea_attention02{
	padding:40px 0;
    margin-bottom: 60px;
    border: 4px solid #ccc;
	margin-bottom:60px;
	}
.jobs .formArea_attention ul{ margin-bottom:40px;}

.jobs .formArea_attention02{overflow-y:scroll;height:200px;padding: 40px;}
.jobs .formArea_attention02 h4{ font-size:16px !important;}
.jobs .formArea_attention02 p{ margin-bottom:20px !important;}
.jobs .notation_box{ padding:0 !important;}
.jobs .notation_box  dl{ display:block;}








.jobs section .section_title h2{
	position: relative;
    font-size: 38px;
    text-align: center;
	line-height: 100%;
	padding:40px 0;

}

.jobs section .section_title.with_bar h2{
	padding-bottom: 25px;
}
.jobs section .section_title.with_bar h2:after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 4px;
	margin: 0 auto;
	background-color: #788f95;
}

section h3.box_title {
	display: block;
	padding-bottom: 15px;
	margin: 0 auto 30px auto;
	border-bottom: solid 1px #f0f4f7;
}

.jobs section>.section_title p {
    font-size: 16px;
    line-height: 22px;
    margin: 40px auto 0;
    text-align: center;
    width: 800px;
}



.jobs .h2_lead{
	margin-top: 85px;
	margin-bottom: 80px;
}

.jobs h3.hr_title {
	display: block;
	width: 900px;
	padding: 15px 0;
	margin: 45px auto 40px auto;
	border-bottom: solid 1px #788f95;

	font-size: 175%;
	font-weight: 400;
}





/*  事例　詳細ページ
-------------------------------------------------------*/


#content.cases section {
	padding-top: 40px;
}

#content.cases section .box {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#content.cases section h2{ width:1200px; margin:0 auto;}

#content.cases section .box .box_inner {
	width: auto;
	margin-left: 30px;
	margin-right: 30px;
}


#content.cases section .box .box_inner .cushion{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}


#content.cases p.intro {
	width: 100%;
	text-align: left;

    line-height: 185%;
}

#content.cases h3.case_title{
	margin-top: 40px;
	margin-bottom: 12px;
}

#content.cases ul.service_tag {
	text-align: center;
}

#content.cases ul.service_tag li{
	display: inline-block;
	margin: 3px;
}
#content.cases ul.service_tag li a{
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	color: #ffffff;
	background-color: #404a60;
	text-decoration: none;
}
#content.cases ul.service_tag li a:hover{
	opacity: 0.6;
}

#content.cases .cushion.mov iframe{
	width: 900px;
	height: 505px;
    margin: 0 auto;
    display: block;
}

/*  news カテゴリーページ
-------------------------------------------------------*/
.news_cat h4{
	width:1140px;
	margin:0 auto 20px;
}


/*  news 詳細ページ
-------------------------------------------------------*/

#content .news .h2_lead p span.article {
	background-color: #3d98d1;
	margin-right: 10px;
	padding: 2px 20px;
	color: #fff;
	font-size: 11px;
	position: relative;
	top: -1px;
}

#content .news section{
	padding-top: 40px;
}

#content .news section .box{
	width: 900px;
	margin: 0 auto;
}

#content .news section h2{ width:900px; margin:0 auto;}

#content .news section .box .box_inner{
	width: auto;
	margin-left: 30px;
	margin-right: 30px;
}


#content .news section .box .box_inner .cushion{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}


#content .news p.intro{
	width: 100%;
	text-align: left;

    line-height: 185%;
}

#content .news h3.case_title{
	margin-top: 40px;
	margin-bottom: 12px;
}

#content .news ul.service_tag{
	text-align: center;
}

#content .news ul.service_tag li{
	display: inline-block;
	margin: 3px;
}
#content .news ul.service_tag li a{
	display: block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	color: #ffffff;
	background-color: #404a60;
	text-decoration: none;
}
#content .news ul.service_tag li a:hover{
	opacity: 0.6;
}

#content .news .cushion.mov iframe{
	width: 900px;
	height: 505px;
    margin: 0 auto;
    display: block;
	
}

#content .news .vis_block.full_size img {
	max-width: 100%;
	display:block;
	margin:0 auto;
}

#content .news .vis_block img.right_vis {
	float: right;
	height:auto;
	margin: 0 0 20px 20px;
}
#content .news .vis_block img.left_vis {
	float: left;
	height:auto;
	margin: 0 20px 20px 0;
}

#content .news .vis_block .link_left, #content.cases .vis_block .link_right {
	display: inline-block;
	width: 49%;
}



/*  news_old 詳細ページ
-------------------------------------------------------*/
.news_old .h2_lead p span.article {
	background-color: #3d98d1;
	margin-right: 10px;
	padding: 2px 20px;
	color: #fff;
	font-size: 11px;
	position: relative;
	top: -1px;
}

.news_old{ width:900px; margin: 40px auto;}
.news_old p{ margin-bottom:20px; }
.news_old h2,
.news_old ul,
.news_old table{ margin-bottom:40px;}

.news_old h3,.news_old h4{ margin-bottom:20px; text-align:left;}

.news_old table{
	width:100%;
	border-bottom:hsla(0,0%,82%,1.00) solid 1px;
	border-left:hsla(0,0%,82%,1.00) solid 1px;
	}
.news_old table tr{
	border-top:hsla(0,0%,82%,1.00) solid 1px;
}
.news_old table tr th{
	border-right:hsla(0,0%,82%,1.00) solid 1px;
}
.news_old table tr td{
	border-right:hsla(0,0%,82%,1.00) solid 1px;
}
.news_old table tr th,
.news_old table tr td{
	text-align:center;
	padding:5px;
}


/* parallel direction */

#content.cases .vis_block.full_size img {
	max-width: 100%;
	display:block;
	margin:0 auto;
}

#content.cases .vis_block img.right_vis {
	float: right;
	height:auto;
	margin: 0 0 20px 20px;
}
#content.cases .vis_block img.left_vis {
	float: left;
	height:auto;
	margin: 0 20px 20px 0;
}

#content.cases .vis_block .link_left, #content.cases .vis_block .link_right {
	display: inline-block;
	width: 49%;
}

/* list, etx*/

.link_right {
	text-align: right;
	margin-top: 20px;
}
.link_left {
	text-align: left;
	margin-top: 20px;
}

.link_left a, .link_right a{
	font-size: 16px;
}


#content .note {
	padding-bottom: 0;
	font-size:12px;
}

/*パートナー企業一覧（50音順）*/
 .horizon_Box  .hb_uneder_block{
	box-sizing:border-box;
    min-height: 190px;
    padding: 35px 30px;
    border: solid 4px #bfc5c7;
	width:1140px;
	margin:0 auto  20px auto;
}

 .horizon_Box .hb_parallel_block{
    float: none;
	clear:both;
	width:100%;
}
.horizon_Box .logo{
	display:block;
	float:left;
	width:150px;
}
.horizon_Box .logo img{ width:100%;}
.horizon_Box .txt{ margin-left:200px;}
.horizon_Box .txt h4{ font-size:24px; font-weight: bold; margin-bottom:30px;}
.horizon_Box .txt dl dt{ font-weight: bold; font-size:18px; margin-bottom:5px;}
.horizon_Box .txt dl dd{ margin-bottom:10px;}
.horizon_Box .txt dl dd:last-child{ margin-bottom:0;}


/* ポリシー */

#sns_policy h4{ line-height:1.4em;}
#sns_policy h4,#sns_policy p{ margin-bottom:20px;}

/* 個人情報の取り扱い */
.privacy .partsBox .text p{ margin-bottom:40px;}
.privacy .partsBox .text h4{ font-size:16px;}

/* 個人情報保護方針 */
.privacy_policy .text p{ margin-bottom:40px;}


/* 一覧ページ */
.info ul{
	margin:0 auto;
	width:900px;
	overflow:hidden;
}
.info ul li {
	margin-bottom:30px;
	overflow:hidden;
	position:relative;
}
.info ul li img {
    margin-right: 25px;
    float: left;
    width: 152px;
    height: 81px;
}

/* 会社説明会 */
.jobfair{ margin-top:40px;}

/* FAQ */
.faq.blue{ margin-bottom:40px;}

/* company */
#content .company.index{ margin-top:40px;}
.company .blank_Img{
	width: 50% !important;
    margin-top: 38% !important;
}


/* サイトマップ */

.sitemap {
    width: 900px;
	margin: 0 auto;
}

.sitemap article{ margin-left: 10px;}
.sitemap h2,.sitemap h3{
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
}
.sitemap h2{
	font-size: 20px;
	border-bottom: solid #ccc 1px;
	padding-top: 40px;
	padding-bottom: 20px;
}
.sitemap h2:first-child{ padding-top: 0;}

.sitemap h3{
	font-size: 18px;
}

.sitemap h4{
	font-size: 16px;
	margin-bottom: 20px;
}

.sitemap ul{
	padding-bottom: 20px;
	margin-left: 10px;
}

.sitemap li{
	padding-left: 0;
	margin-bottom: 5px;
	font-size: 14px;
}


/* 問合せフォーム高さ */
/* AWSテンプレートに埋め込まれるフォーム */
iframe.aws_form {
	height: 1020px;
}
/* パートナー募集フォーム */
iframe.partner_form {
	height: 800px;
}
/* 採用のお問い合わせ */
iframe.recruit_form {
	height: 1580px;
}
/* 総合問い合わせ */
iframe.inquiry_form {
	height: 1380px;
}
/* 説明会の申し込み */
iframe.companyinformation_form {
	height: 880px;
}

/* メンバーズ詳細問い合わせ */
iframe.members_form {
	height: 3780px;
}