@charset "UTF-8";


/*リクルート　トップ*/

.recruit_index h2 {
	margin: 0 auto 20px;
	width: 90%;
	line-height: 130%;
	font-size: 140%;
	font-weight: bold;
}
.recruit_index .text img {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.recruit_index .partsBox .btn_Area01,
.recruit_index .partsBox .btn_Area02,
.recruit_index .partsBox .btn_Area03,
.recruit_index .partsBox .btn_Area04 {
	text-align: center;
	position: relative;
}
.recruit_index .partsBox ul {
	width: 98%;
	margin: 0 auto;
}
.recruit_index .partsBox ul li {
	padding: 0 15px;
}
.recruit_index .partsBox .btn_Area01 ul li,
.recruit_index .partsBox .btn_Area02 ul li,
.recruit_index .partsBox .btn_Area03 ul li {
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	width: 85%;
	margin: 0 auto 5px;
	height: 45px;
	line-height: 45px;
	display: block;
	padding: 0;
}
.recruit_index .partsBox .btn_Area01 ul li:last-child,
.recruit_index .partsBox .btn_Area02 ul li:last-child,
.recruit_index .partsBox .btn_Area03 ul li:last-child {
	margin-bottom: 0;
}
.recruit_index .partsBox .btn_Area01 ul li a,
.recruit_index .partsBox .btn_Area02 ul li a,
.recruit_index .partsBox .btn_Area03 ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	position: relative;
}
.recruit_index .partsBox .btn_Area01 ul li a span i,
.recruit_index .partsBox .btn_Area02 ul li a span i,
.recruit_index .partsBox .btn_Area03 ul li a span i {
	position: absolute;
	display: block;
	top: 13px;
	right: 0px;
	font-size: 19px;
}
.recruit_index h3 a { text-decoration: none !important;}


.contact_box.certified_company p{text-align:left;}

/*リクルート　社員紹介　メインイメージ*/

.main_recruit_Txt { padding: 20px; margin-top: 310px;}
.main_recruit_Txt .inner { color: #fff; font-weight: bold;}
.main_recruit_Txt h2 {
	margin-bottom: 20px;
	color: #000;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3em;
}
.main_recruit_Txt ul li { color: #000; font-size: 12px;}



/*リクルート　社員紹介一覧*/

.member_index ul li.box{ width: 95%; margin: 0 auto 10px; position: relative;}	
.member_index ul li.box.m01{ background: url(../img/recruit/r09_01.jpg) center no-repeat; background-size:cover; height:427px;margin-top: -10px; }
.member_index ul li.box.m02{ background: url(../img/recruit/r09_02.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m03{ background: url(../img/recruit/r09_03.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m04{ background: url(../img/recruit/r09_04.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m05{ background: url(../img/recruit/r09_05.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m06{ background: url(../img/recruit/r09_06.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m07{ background: url(../img/recruit/r09_07.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m08{ background: url(../img/recruit/r09_08.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m09{ background: url(../img/recruit/r09_09.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m10{ background: url(../img/recruit/r09_10.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m11{ background: url(../img/recruit/r09_11.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m12{ background: url(../img/recruit/r09_12.jpg) center no-repeat; background-size:cover; height:427px; }
.member_index ul li.box.m13{ background: url(../img/recruit/r09_13.jpg) center no-repeat; background-size:cover; height:427px; }

.member_index ul li.box ul{ position: absolute; bottom:0; width: 88%; height: 90px; padding: 4% 6% 6%; opacity:0.8;}
.member_index ul li.box ul.purple{ background-color:#C486D6; }
.member_index ul li.box ul.blue{ background-color:#4CB5FF; }
.member_index ul li.box ul.orange{ background-color:#EF8F7C; }
.member_index ul li.box ul.green{ background-color:#4DC2B5; }
.member_index ul li.box ul.pink{ background-color:#EA78BE; }
.member_index ul li.box ul.yellowGreen{ background-color:#A9C469; }

.member_index ul li.box ul li { float:none; width:100%; bottom:0; color:#fff; font-size:14px; letter-spacing:0.1em; line-height:1.4em;}
.member_index ul li.box ul li b{ font-size:16px;}
.member_index ul li.box a{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	text-decoration:none;
	color:#fff;
	text-indent:-999px;
	display:block;
    z-index: 999;
	}

/*recruit r07*/
.choosers.recruit_work_category .con_TXT .text h3.underLine {border-bottom: solid 1px #73848a;}

.choosers.recruit_treatment_sysytem .tbl_02 table td{text-align: center;}

/* こんな人にきてほしい　*/

.recruit_Department .bg_col_gray{ background-color: #eff5f7;}
.recruit_Department section.bg_col_gray:first-child{margin-top: -20px;}
.recruit_Department .hopeBox { margin: 0 auto 20px; width: 92%;}
.recruit_Department .hopeBox h4 { padding-top: 20px;}
.recruit_Department .hopeBox .txt {
	background-color:#e0ebef;
    background-image: url(../img/recruit/r04_img_balloon_sp_white.png);
	background-repeat:no-repeat;
    background-size: 100%;
	background-position:bottom;
	width:100%;
    margin: 0 auto;
}
.recruit_Department .bg_col_gray .hopeBox .txt {
background-image: url(../img/recruit/r04_img_balloon_sp_gray.png);
}

.recruit_Department .hopeBox .txt p{ margin-bottom:32px !important;}
.recruit_Department .hopeBox .photo { margin: 0 auto 20px; position:relative;}
.recruit_Department .hopeBox .photo img { width: 54% !important; display:block; float:right;}
.recruit_Department .hopeBox .photo p{ position:absolute; bottom: 10px; left: 10px;}
.recruit_Department .hopeBox .photo p span.name{ font-size:14px; font-weight:bold; }

/* 共に成長できる仲間を探しています */

.conApplication{
	background-color: #E5E5E5;
    padding: 10px;
    margin: 20px 0;}

.conApplication .conInner{
	margin: 0 auto;
	background-image : url(../img/recruit/r01_img04.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color:#fff;
	padding-bottom: 47%;
	background-size: 100%;
}
	
.conApplication .conInner h3{
	font-size: 174%;
	text-align:center;
	margin-bottom:18px;
	}
.conApplication .conInner p{
	margin: 0 auto;
	width: 90%;
	font-size: 12px;
	line-height: 1.6em;
	padding-left: 40px;
	}

.conApplication .conInner .contact_btn{
	margin: 0 auto;
	/* width: 100%; */
	overflow: hidden;
	position: relative;
	padding: 10px 20px 0;
}

.conApplication .conInner .contact_btn .btn_usubig{
	margin-bottom:10px;}
.conApplication .conInner .contact_btn .btn_usubig:last-child{
	margin-bottom:0;}

.conApplication .contact_btn ul li.btn_usubig a {
    margin: 0 auto;
    margin-bottom:20px;
    width: 85%;
    height: 45px;
    display: block;
    color: #fff;
    font-size: 13px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #404a60;
    border-radius: 5px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
	 position:relative;
}
.conApplication .contact_btn ul li.btn_usubig a span i
{    position: absolute;
    display: block;
    top: 13px;
    right: 8px;
    font-size: 19px;}
	
/*サービス*/

.bg_col_lightgray { background-color: #f4f4f4 !important;}
.bg_col_white { background-color: #ffffff;}
.cm_services2 .bg_col_yellow {
	background-color: #fac600;
}

#content.services.mb30 { margin-bottom: 30px;}
#content.services.mb40 { margin-bottom: 40px;}
#content.services.mb60 { margin-bottom: 40px;}
#content.services .box_inner.bg_col_white {
	padding: 45px 30px 30px 30px;
}


/*#content.services{ margin-top:-20px;}*/
.services li h4:not(.center) {
	display: inline;
	font-size: 16px;
}
.services h4.center {
	display: inline-block;
	width: 100%;
}
.services p {
	font-size: 102.5%;
	line-height: 185%;
	margin: 0 auto 30px auto;
}
.services section {
	padding:10px;
	margin-bottom: 20px;
}
.services section .box {
	width: auto;
	margin: 0 auto;
}
.services section .box .box_inner {
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
}

.services section .box .box_inner .fa-2x {
    font-size: 1.3em;
    text-indent: -0.5em;}

.services .cushion {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.services .cushion.comments {
	padding: 10px;
	margin: 10px 0;
	background-color: #e8eeef;
}
.services .cushion.comments h5 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}
.services .cushion.comments p{
	margin-bottom: 0;
}
.services .cushion.comments ul li {
	margin-bottom: 5px;
}
.services section .section_title {
	margin-top: 15px;
	margin-bottom: 40px;
}
.services section .section_title h2 {
	position: relative;
	font-size: 28px;
	text-align: center;
	line-height: 120%;
}
.services section.sub_section .section_title h2 {
	font-size: 22px;
	font-weight: 500;
}
.services section .section_title.with_bar h2 {
	padding: 0 15px 25px;
}
.services section .section_title.with_bar h2:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 200px;
	height: 4px;
	margin: 0 auto;
	background-color: #788f95;
}
.services section h3.box_title {
	display: block;
	padding: 0 15px 15px 15px;
	margin: 0 auto 30px auto;
	border-bottom: solid 1px #f0f4f7;
	font-size: 18px;
}
.services section>.section_title p {
	font-size: 16px;
	line-height: 22px;
	padding: 0 15px;
	margin: 30px auto 0;
	text-align: center;
}
.services section.members, .services section.characteristic, .services section.option {
	background-color: #eff5f7;
}


/* .services.index */
.services.index section.con01 {
	margin-bottom: 40px;
	overflow:hidden;
	background-color:#eff5f7;
}
.services.index section.con01 ul {
	margin:20px auto ;
	text-align: justify;
	text-justify: inter-ideograph;
	clear:both;
	display:-webkit-box;
    display:-moz-box;
    display:-ms-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;

}
.services.index section.con01 ul li {
	position:relative;
	display: block;
	width: 100%;
	box-sizing:border-box;
	padding:10px;
	margin-bottom:10px;
	font-size:14px;
	line-height:1.5;
	background-color:#fff;

}
.services.index section.con01 ul li a{
	position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
	text-decoration:none;
	color:#fff;
	text-indent:-9999px;
	display:block;
    z-index: 999;
	}
.services.index section.con01 ul li a:hover{
    background-color:#FFF;
    filter:alpha(opacity=5);
    -moz-opacity: 0.5;
    opacity: 0.5;
	transition:0.5s;
}

.services.index section.con01 ul li img {
    margin: 0 auto 19px;
    display: block;
	width:39%;
	}
.services.index section.con01 ul li h4 {
	margin:0 auto 20px;
	font-size:20px;
	font-weight:bold;
	display:block;
    text-align: center;
}
.services.index section.con01 ul li p {
	margin:0 10px 20px;
	font-size:14px;
}




/*ご利用料金*/
.services section.service_payment .box_inner:not(:last-child){
	margin-bottom: 30px;
}
.services section.service_payment table td{text-align:center;}

/*icon*/
.services section .box .cushion>ul.icons_six li {
	display: inline-block;
	width: 32%;
	margin: 10px 0;
}
.services section .box .cushion>ul.icons_six li:nth-child(3n+2) {
	margin-left: 2%;
	margin-right: 2%;
}
.services section .box .cushion>ul.icons_six li img {
	max-width: 100%;
}
.note {
	text-align: left;
}
.services section .box .cushion>.note {
	margin: auto;
}
/*
.services section .box .cushion.fifth_row>.note {
}
.services section .box .box_inner>ul.icons li {
	display: inline-block;
	width: 47.5%;
	margin-right: 5%;
	margin-bottom: 5%;
}
.services section .box .box_inner>ul.icons li img {
	width: 100%;
	border: solid 2px #0b0b0b;
}
.services section .box .box_inner>ul.icons li:nth-child(2n) {
	margin-right: 0;
}
*/
.services .h2_lead {
	margin-top: 85px;
	margin-bottom: 80px;
}
.services h3.hr_title {
	display: block;
	padding: 15px 0;
	margin: 45px 15px 40px 15px;
	border-bottom: solid 1px #788f95;
	text-align: center;
	font-size: 24px;
	font-weight: 400;
	line-height: 120%;
}
/* parallel direction */




.services li.services_block:nth-child(3) { margin-right: 0px;}
.services li.services_block img {
	width: 40%;
    margin: 0 auto;
    display: block;
}
.services li.services_block h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}
.services li.services_block .vis { margin-bottom: 30px;}
.services .parallel { overflow-y: no;}
.services .parallel.twice .parallel_block:nth-child(2n) {
	margin-top: 20px;
}
.services .parallel.twice .parallel_block .uneder_block,
.services .parallel.twice .parallel_block .monitering_block {
	overflow-y: auto;
	padding: 15px 10px;
	border: solid 4px #bfc5c7;
	text-align: left;
}
.services .parallel.twice .parallel_block .uneder_block .emb,
.services .parallel.twice .parallel_block .monitering_block .emb {
	float: left;
	width: 30%;
	margin: -5px 0 -5px 0;
	text-align: center;
}
.services .parallel.twice .parallel_block .uneder_block .emb_right,
.services .parallel.twice .parallel_block .monitering_block .emb_right {
	margin-left: 32.5%;
}
.services .parallel.twice .parallel_block .uneder_block .emb img,
.services .parallel.twice .parallel_block .monitering_block .emb img {
	width: 100%;
	max-width: 135px;
}
.services .parallel.twice .parallel_block .uneder_block h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}
.services .parallel.trice .parallel_block {
	font-size: 14px;
	line-height: 1.5;
}
.services .parallel.trice .parallel_block:nth-child(3n+2) {
	margin: 20px 0;
}
.services .parallel .parallel_block .vis { margin-bottom: 30px;}
.services .parallel .parallel_block .vis img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	width: 50%;
}
.services .parallel dl dt { font-weight: 400;}
.services .parallel.trice .parallel_block h4 {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.services span.exam {
	display: inline-block;
	margin-bottom: 20px;
}
.services .parallel dl {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	line-height: 145%;
}
/* table */

.services table { padding-bottom: 60px; overflow: hidden;}
.services .box { margin: 0 auto; width: 1140px;}
.services table { width: 100%; background: #e0ebef;}
.services table th {
	padding: 15px;
	width: 25%;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	background: #73848a;
	border-right: 6px solid #fff;
	border-bottom: 6px solid #fff;
	vertical-align:middle;
}

.services table td {
	padding: 15px 10px;
	text-align: left;
	font-size: 16px;
	line-height: 24px;
	border-right: 6px solid #fff;
	border-bottom: 6px solid #fff;
	vertical-align:middle;
}
.services table.tbl_02 table th:last-child,
.services table.tbl_02 table td:last-child {
	border-right: none;
}
.services table.tbl_02 table tr:nth-child(2n) {
	background: #eff5f7;
}
.services table.longitudinal th span {
	display: inline-block;
	font-weight: 300;
}
.services table.longitudinal tr td:nth-last-child(1) {
	background-color: #eff4f7;
}
.services table.longitudinal tr td:nth-last-child(2) {
	background-color: #e0ebef;
}
.services table.longitudinal tr td:nth-last-child(3) {
	background-color: #d3e2e9;
}
.services table.longitudinal tr td:first-child {
	background-color: #eff4f7;
}
.services table.longitudinal tr th.blank,
table.longitudinal tr td.blank {
	background-color: #ffffff;
}
.services table td img{
	max-width: 100%;
}

/*add 1028*/
table.longitudinal.ill tr{display: block;}
table.longitudinal.ill tr:first-child th{padding-left: 4px;padding-right:4px;}
table.longitudinal.ill.zwei tr:first-child th{width: 50%;}
table.longitudinal.ill.drei tr:first-child th{width: 34%;}
table.longitudinal.ill tr th:first-child{display: block;width: auto;padding-left: 0;padding-right:0;}
table.longitudinal.ill tr th.blank_col_gray,table.longitudinal.ill tr th.blank{display: none;}
table.longitudinal.ill td{padding-left: 4px;padding-right:4px;}
table.longitudinal.ill.zwei td{width: 50%;}
table.longitudinal.ill.drei td{width: 35%;}
table.longitudinal.ill td:last-child, table.longitudinal.ill tr:first-child th:last-child{width: 2500px;}
.services table.center.longitudinal.ill td{text-align: center;}

/*list, etc*/

.services .link_right { text-align: right; margin-top: 20px;}
.services .link_right a { font-size: 16px;}
.services .note { padding-bottom: 0;}
.services div.pict {
	width: auto;
	text-align: center;
	margin-bottom: 30px;
}
.services div.pict img { max-width: 100%;}


/*  経営理念
-------------------------------------------------------*/
.principles .box { padding:20px 15px;}
.principles .bg_col_gray{ background-color:#eff5f7;}
.principles h3{
	padding: 0;
    margin: 0;
    margin-bottom: 15px;
	}


/*  access
-------------------------------------------------------*/
.access .conBox { width: auto; margin:0 15px;}
.access .conBox h4 { margin: 20px 0;}
.access .squeeze_box { padding-bottom: 0;}
.access .squeeze_box .box { margin-bottom: 0; padding-top: 20px;}


/*  jobs
-------------------------------------------------------*/


.jobs p.text {
	padding: 40px 15px 0;
	margin-bottom: 0 !important;
}
.jobs p.description { width: 95%; margin: 0 auto;}
.jobs .formArea_attention { margin-bottom: 30px;}
.jobs section .box .inner {
	padding: 20px 10px;
	background-color: #E5E5E5;
	width: inherit;
}

.jobs section .box .inner dt{color:#000;}
.jobs section .box .inner dd{ margin-bottom:5px; font-size:12px; color:#000;
}
.jobs .formArea_attention02 {
	padding: 20px 10px;
	border: 4px solid #ccc;
	margin-bottom: 40px;
	font-size: 14px;
}
.jobs section .notation_box { padding: 0 !important;}
.jobs .formArea_attention ul { margin-bottom: 40px;}
.jobs .formArea_attention02 {
	overflow-y: scroll;
	height: 200px;
	width: 95%;
	padding: 20px 10px;
	margin: 0 auto 20px;
}

.jobs .formArea_attention02 h4{ font-size:102.5%;}

.jobs .box_inner.bg_col_white {
	padding: 45px 30px 30px 30px;
}


/*.jobs{ margin-top:-20px;}*/
.jobs li h4:not(.center) {
	display: inline;
	font-size: 16px;
}
.jobs h4.center {
	display: inline-block;
	width: 100%;
}
.jobs p {
	font-size: 102.5%;
	line-height: 185%;
	margin: 0 auto 30px auto;
}
.jobs section {
	padding:10px;
	margin-bottom: 20px;
}
.jobs section .box {
	width: auto;
	margin: 0 auto;
}
.jobs section .box .box_inner {
	width: auto;
	margin:0 auto 40px;
}

.jobs section .section_title {
	margin-top: 15px;
	margin-bottom: 40px;
}
.jobs section .section_title h2 {
	position: relative;
	font-size: 28px;
	text-align: center;
	line-height: 120%;
}
.jobs section.sub_section .section_title h2 {
	font-size: 22px;
	font-weight: 500;
}
.jobs section .section_title.with_bar h2 {
	padding: 0 15px 25px;
}
.jobs section .section_title.with_bar h2:after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 200px;
	height: 4px;
	margin: 0 auto;
	background-color: #788f95;
}
.jobs section h3.box_title {
	display: block;
	padding: 0 15px 15px 15px;
	margin: 0 auto 30px auto;
	border-bottom: solid 1px #f0f4f7;
	font-size: 18px;
}
.jobs section>.section_title p {
	font-size: 16px;
	line-height: 22px;
	margin: 0 auto ;
	text-align: center;
}

.jobs img{ width:100%;}

/*事例*/

#content.cases .h2_lead h2 { line-height: 120%;}
#content.cases .h2_lead p.intro {
	width: 100%;
	text-align: left;
	line-height: 185%;
}
#content.cases h3.case_title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 12px;
}
#content.cases ul.service_tag { text-align: center;}
#content.cases ul.service_tag li {
	display: inline-block;
	margin: 3px 2px;/**/
}
#content.cases ul.service_tag li a {
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	color: #ffffff;
	background-color: #404a60;
	text-decoration: none;
}
#content.cases ul.service_tag li a:hover { opacity: 0.6;}
#content.cases section { margin-top: 40px; margin-bottom: 40px;}
#content.cases section .box { width: auto; margin: 0 auto;}
#content.cases section .box .box_inner {
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
}
#content.cases section .box .box_inner .cushion {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
#content.cases .cushion.mov iframe {
	display: block;
	width: 300px;
	height: 168px;
	margin: 20px auto;
}
#content.cases .vis_block img {
	display: block;
	max-width: 100%;
}
#content.cases .vis_block:not(.full_size) img {
	margin-bottom: 15px;
}


/*news*/
#content .news .h2_lead p span.article {
	background-color: #3d98d1;
	margin-right: 10px;
	padding: 2px 20px;
	color: #fff;
	font-size: 11px;
	position: relative;
	top: -1px;
}

#content .news .h2_lead h2 { line-height: 120%;}
#content .news .h2_lead p.intro {
	width: 100%;
	text-align: left;
	line-height: 185%;
}
#content .news h3.case_title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 12px;
}
#content .news ul.service_tag { text-align: center;}
#content .news ul.service_tag li {
	display: inline-block;
	margin: 3px 2px;/**/
}
#content .news ul.service_tag li a {
	display: block;
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	color: #ffffff;
	background-color: #404a60;
	text-decoration: none;
}
#content .news ul.service_tag li a:hover { opacity: 0.6;}
#content .news section { margin-top: 40px; margin-bottom: 40px;}
#content .news section .box { width: auto; margin: 0 auto;}
#content .news section .box .box_inner {
	width: auto;
	margin-left: 15px;
	margin-right: 15px;
}
#content .news section .box .box_inner .cushion {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
#content .news .cushion.mov iframe {
	display: block;
	width: 300px;
	height: 168px;
	margin: 20px auto;
}
#content .news .vis_block img {
	display: block;
	max-width: 100%;
}
#content .news .vis_block:not(.full_size) img {
	margin-bottom: 15px;
}


/*  news カテゴリーページ
-------------------------------------------------------*/
.news_cat h4{
	width:1140px;
	margin:0 auto 20px 50px;
}

/* list, etx*/

.link_right { text-align: right; margin-top: 20px;}
.link_left { text-align: left; margin-top: 20px;}
.link_left a, .link_right a { font-size: 16px;}

/*パートナー企業一覧（50音順）*/
.horizon_Box {
    box-sizing:border-box;
}
.horizon_Box .hb_uneder_block{
    min-height: 190px;
	margin:auto 15px 10px 15px;
    padding:18px;
    border: solid 4px #bfc5c7;
	overflow-y: auto;
    text-align: left;
}
.horizon_Box .logo{
	display:block;
	float:left;
	width:75px;
	margin: 0 20px 20px 0;
}
.horizon_Box .logo img{
	width:100%;
	display:block;
}
 .horizon_Box .hb_uneder_block .txt h4 {
display: block;
    font-size: 14px;
    font-weight: bold;
	margin-left: 95px;/**/
	margin-bottom:20px;
	line-height:1.5em;
}

.horizon_Box .txt dl{ margin-top:15px; clear:both;}
.horizon_Box .txt dl dt{ font-weight: bold; margin-bottom:10px;}
.horizon_Box .txt dl dd{ margin-bottom:20px; font-size:12px;}
.horizon_Box .txt dl dd:last-child{ margin-bottom:0;}

/* ポリシー*/

#sns_policy h4{ line-height:1.4em;}
#sns_policy h4,#sns_policy p{ margin-bottom:20px;}


/* 一覧ページ */
.info ul {
	margin:0 auto;
	width: 80%;
	overflow:hidden;
	padding-bottom: 0;
}
.info ul li {
	margin-bottom:30px;
	overflow:hidden;
	position:relative;
	text-align: justify;
	text-justify: inter-ideograph;
}
.info ul li:last-child{
	margin-bottom:0px
}
.info ul li img {
	float:left;
	width: 100px;
}
.info ul li h4 {
	margin-left: 105px;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
}
.info ul li p {
	margin: 0 0 5px 105px;
	font-size:12px;
	position:relative;
}
.info ul li p span {
	margin-left:10px;
	padding:0 10px;
	color:#fff;
	font-size:10px;
}


/*  news_old 詳細ページ
-------------------------------------------------------*/
.news_old .h2_lead p span.article {
	background-color: #3d98d1;
	margin-right: 10px;
	padding: 2px 20px;
	color: #fff;
	font-size: 11px;
	position: relative;
	top: -1px;
}

.news_old{ width:96%; margin: 20px auto;}
.news_old p{ margin-bottom:20px;}
.news_old h2
{
	margin-bottom:40px;
	background-color:inherit;
	line-height:1.2em;}
.news_old ul { margin-bottom:20px; }
.news_old h3,
.news_old h4{
	margin-bottom:20px;
	line-height:1.2em;
	padding:0;
	text-align:center;}

.news_old table{
	border-bottom:hsla(0,0%,82%,1.00) solid 1px;
	border-left:hsla(0,0%,82%,1.00) solid 1px;
	width: 100%;
    table-layout: fixed;
    word-break: break-word;
		}
.news_old table tr{
	border-top:hsla(0,0%,82%,1.00) solid 1px;
}
.news_old table tr th{
	border-right:hsla(0,0%,82%,1.00) solid 1px;
}
.news_old table tr td{
	border-right:hsla(0,0%,82%,1.00) solid 1px;
}
.news_old table tr th,
.news_old table tr td{
	text-align:center;
	padding:2px;
}
.news_old img{    width: 100%;
    height: auto;}


/* サイトマップ */

.sitemap {
    width: 94%;
	margin: 0 auto;
}

.sitemap article{ padding-left: 10px;}
.sitemap h2,.sitemap h3{
	font-weight: bold;
	text-align: left;
	margin-bottom: 20px;
}
.sitemap h2{
	font-size: 16px;
	border-bottom: solid #ccc 1px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.sitemap h3{
	font-size: 16px;
	margin: 0 0 20px 0;
	padding: 0;
}

.sitemap h4{
	font-size: 14px;
	margin-bottom: 20px;
}

.sitemap ul{
	padding-bottom: 20px;
	margin-left: 10px;
}



.sitemap li{
	padding-left: 0;
	margin-bottom: 5px;
	font-size: 14px;
	padding-bottom: 10px;
}


/* 問合せフォーム高さ */
/* AWSテンプレートに埋め込まれるフォーム */
iframe.aws_form {
	height: 1180px;
}
/* パートナー募集フォーム */
iframe.partner_form {
	height: 800px;
}
/* 採用のお問い合わせ */
iframe.recruit_form {
	height: 1580px;
}
/* 総合問い合わせ */
iframe.inquiry_form {
	height: 1380px;
}
/* 説明会の申し込み */
iframe.companyinformation_form {
	height: 880px;
}
/* メンバーズ詳細問い合わせ */
iframe.members_form {
	height: 3780px;
}
