/* =============================================================

	Meyer's CSS Reset v2.0 | 20110126
	http://meyerweb.com/eric/tools/css/reset/
	And custom code

 * ============================================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4em;
	-webkit-text-size-adjust: 100%; /* Custom code */
	-ms-text-size-adjust: 100%; /* Custom code */
	text-size-adjust: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* Custom code */
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner {
	border: 0px;
}

a:focus, input, textarea, button {
	outline: none;
}

a {
	background: none; /* IE9以上でクリック時に背景色がつくのを消す */
}

textarea {
	overflow: auto;
}

img {
	border: none;
	vertical-align: bottom;
}



/*
=====================================================================
*
*    clearfix
*
* =================================================================== 
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}