#main .sysreq .accordion .current h4{cursor:pointer;color:#000000;background-color:#e5e5e5;border:0;}
#main .panes p {margin-bottom:12px;}

#main .hiwchild h3, #main .hisuchild h3, #main .supchild h3, #main .wibchild h3, #main .widchild h3, #main .sysreqchild h3, #main .faqschild h3 {background:#fff;margin:0;padding:15px 15px;font-size:140%;color:#e56600;font-weight:normal;cursor:pointer;text-transform:none;}
#main .pane.sysreqchild, #main .pane.hiwchild, #main .pane.hisuchild, #main .pane.supchild, #main .pane.wibchild, #main .pane.widchild, #main .pane.faqschild {padding:0px 15px 10px 15px;}

table.full {width:100%; border-left:1px solid #fff; border-top:1px solid #fff; table-layout:fixed; margin-bottom:10px; margin-top:4px;}
table.threefourth {width:75%; border-left:1px solid #fff; border-top:1px solid #fff; margin-bottom:10px; margin-top:4px;}
table.half {width:50%; border-left:1px solid #fff; border-top:1px solid #fff; margin-bottom:10px; margin-top:4px;}
tr.th {background-color:#ddd; border-bottom:1px solid #fff; font-size:12px; font-weight:normal;
background-image: linear-gradient(bottom, #DDDDDD 0%, #FFFFFF 100%);
background-image: -o-linear-gradient(bottom, #DDDDDD 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #DDDDDD 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #DDDDDD 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #DDDDDD 0%, #FFFFFF 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.00, #DDDDDD),
	color-stop(1, #FFFFFF)
);
}
tr.th td {padding:12px 12px 8px 12px;}
tr.thsub {background-color:#343434; border-bottom:1px solid #fff; color:#fff;
background-image: linear-gradient(bottom, #444444 0%, #343434 20%, #666666 100%);
background-image: -o-linear-gradient(bottom, #444444 0%, #343434 20%, #666666 100%);
background-image: -moz-linear-gradient(bottom, #444444 0%, #343434 20%, #666666 100%);
background-image: -webkit-linear-gradient(bottom, #444444 0%, #343434 20%, #666666 100%);
background-image: -ms-linear-gradient(bottom, #444444 0%, #343434 20%, #666666 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.00, #444444),
	color-stop(0.20, #343434),
	color-stop(1, #666666)
);
}
tr.thsub td {padding:5px 12px 8px 12px; font-size:12px;}
table.full td, table.threefourth td, table.half td {border-right:1px solid #fff;}
tr.even {background-color:#fff; border-bottom:1px solid #fff;}
tr.odd {border-bottom:1px solid #fff; background-color:#ddd;}
tr.even td, tr.odd td {padding:5px 12px 6px 12px;}
td.tac {text-align:center;}td.tal {text-align:left;}td.tar {text-align:right;}

ul.reddot{margin:0 0 0 5px !important; padding-left:0px !important;}
ul.reddot li{list-style-type:none; background:url(/images/main/sprite-main.png) -293px -99px no-repeat !important; padding:0 0 1px 10px !important;}
accordion h6{background:#fff;font-size:110%;color:#555;font-weight:normal;cursor:pointer;text-transform:none;display:block;margin:-10px 0 0;padding:0 15px 15px;}
#main .accordion h6{background:#fff;font-size:110%;color:#555;font-weight:normal;cursor:pointer;text-transform:none;display:block;margin:-10px 0 0;padding:0 15px 15px;}
.accordion .current h6{cursor:pointer;color:#000;background-color:#e5e5e5 !important;border:0;}

.lbw100 {width:100% !important;}

.pricing-widget {
    width: auto; margin:0px; padding:0px; border:4px solid #ededed; border-radius:14px; -moz-border-radius:14px; -khtml-border-radius:14px; -webkit-border-radius:14px; -o-border-radius:14px;
	background:url(images/main/price-widget-bg.png) left top repeat;
}
.priceWidget {
    margin-bottom: 8px; padding: 18px 0px 10px; margin:0px;
}
.pricing-widget .price-wid {
    color: #555555; display: block; font-size: 200%; font-weight: bold; padding-bottom: 10px; text-align: center; vertical-align: top; width: auto;
}
.pricing-widget .price-wid strike {
    font-size: 75%; font-weight: normal; margin: 0px; position:relative; display:block; text-align:center; top:-10px;
}
.pricing-widget .price-wid .sale {
    color: #CC0000; font-size: 100%; font-weight: bold; vertical-align: top;
}
.pricing-widget .sale-marquee {
    background: url("http://www.trendmicro.co.uk/images/main/ti-sale-marquee.png") repeat-x scroll 0 0 transparent;
    display: block; font-size: 91.7%; font-weight: normal; height: 23px; margin: 0 0 5px 0; padding-top: 4px; text-align: center; text-transform: uppercase; width: auto;
}
.pricing-widget small {
    display: block; font-size: 83.3%; line-height: 91.7% !important; padding: 10px 0;
}
.pricing-widget .dropdown { 
	position:relative; display:block; padding:0px 6px;
}
.pricing-widget .disclaimer {
    color: #555555; line-height: 116.7%;
}
.pricing-widget .div-more {
    clear: both; margin: 7px 0; width: auto;
}
.priceWidgetForm select {
    background: none repeat scroll 0 0 #F0F0F0; border: 1px solid #CCCCCC; display: block; font-size: 100%; line-height: 17px; margin: 0; padding: 6px 5px; width: 100%;
}
.priceWidgetForm span.customStyleSelectBox {
    background: url("http://www.trendmicro.co.uk/images/main/select-button.png") no-repeat scroll right top #F0F0F0;
    border: 1px solid #CCCCCC; color: #555555; font-size: 100%; height: 17px; margin: 0 0 6px; padding: 9px 10px 8px 5px; width: 160px;
}
.priceWidgetForm span.customStyleSelectBoxInner {
    font-size: 100%; height: 17px; overflow: hidden;
}
.for-bg {
    border-top: 1px solid #CCCCCC; font-size: 10px; margin: 14px 0 6px;
}
.for-bg p {
    margin-top: -9px; text-align: center;
}
.for-bg p span {
    background: none repeat scroll 0 0 #FFFFFF; padding: 0 4px;
}
.radio-container fieldset {
    padding: 4px 12px 6px; border:none;
}
.radio-container fieldset.row2, .radio-container fieldset.row4, .radio-container fieldset.row6, .radio-container fieldset.row8 {
    background-color: #EAEAEA;
}
.radio-container fieldset:hover {
    background-color: #FEE087;
}
.radio-container fieldset label {
    padding-left: 8px;
}
p.regiserLicences, p.registerYears { 
	position:relative; display:block; text-align:center; font-weight:bold;
}
.pricing-widget-from {
	position:relative; display:block; font-size:100%; color:#555555;
}
.pricing-widget-from .price {
    color: #555555; font-size: 200%; font-weight: bold;
}
.pricing-widget-from strike {
    font-size: 150%; font-weight: normal; color:#555555;
}
.pricing-widget-from .sale {
    color: #CC0000; font-size: 200%; font-weight: bold; vertical-align: top;
}
.pricing-widget-from .description-left strike {
	padding-left:10px; 
}
.pricing-widget-from .description-left {
	padding-right:14px; padding-bottom:4px; line-height:190%;
}
.pricing-widget-from .description-top {
	text-align:center; display:block; line-height:190%;
}
.pricing-widget-from .description-top strike {
	display:block; text-align:center; padding-bottom:8px;
}
.pricing-widget-from .price.centered {
	text-align:center; display:block;
}
.pricing-widget-from .sale.centered {
	text-align:center; display:block;
}

.promobox {position:relative; display:block; margin: 0px auto 48px; padding: 16px;}
.promobox.fix {background:url(/images/promobox/promo-bg.jpg) left top no-repeat;}
.promobox.fix span.bottomgradient {background:url(/images/promobox/promobox-bottom.jpg) left top no-repeat; position:absolute; display:block; width:100%; height:21px; left:0px; bottom:0px;}
