/* Последние комментария пользователей 
------------------------------------------*/ 
.uzer_coment { 
 overflow: hidden; 
 width:230px; 
 background: #fff; 
 border:1px solid #D6D6D6; 
 border-bottom:none; 
} 

.uzer_coment_v { 
 float:left; 
 width:230px; 
 height:27px; 
 background: url('fon_uzer_coment_v.png') repeat-x top; 
 border-top: 1px solid #fff; 
} 
 
.uzer_coment_v a:link, 
.uzer_coment_v a:visited {color:#888;} 
.uzer_coment_v a:hover {color:#333;} 
 
.uzer_coment_v a:link, 
.uzer_coment_v a:visited, 
.uzer_coment_v a:hover { 
 text-decoration:none; 
 font:11px Verdana,Arial,Helvetica, sans-serif; 
 font-weight: bold; 
 text-shadow: 1px 1px 1px #fff; 
} 

.uzer_name { 
 float:left; 
 padding: 6px 0px 0px 10px; 
} 
 
.uzer_data { 
 float:right; 
 font:11px Verdana,Arial,Helvetica, sans-serif; 
 font-weight: bold; 
 color:#888; 
 text-shadow: 1px 1px 1px #fff; 
 padding: 6px 10px 0px 0px; 
} 
 
.uzer_massage { 
 background: url('fon_uzer_coment_ten.png') repeat-x top; 
 width:220px; 
 float:left; 
 overflow: hidden; 
 padding: 10px 5px 10px 5px; 
 border-bottom: 1px solid #D6D6D6; 
} 
 
.uzer_massage :link, 
.uzer_massage :visited { 
 display: block; 
 text-decoration: none; 
 color:#555; 
} 

.uzer_massage:hover { 
 color:#555; 
 background: url('fon_uzer_coment_ten.png') repeat-x top #F3F3F3; 
} 

.coment_avatar { 
 width:45px; 
 height:45px; 
 float:right; 
 background: #F3F3F3; 
 padding: 3px; 
 margin-left: 5px; 
 border:1px solid #D6D6D6; 
} 
/* -------------------------------------- */ 

.img {
 background: url("http://onlainfilm.ucoz.ua/images/005.png") no-repeat; /* изображение по умолчанию */
 height: 35px; /* высота изображения */
 width: 150px; /* ширина изображения */
}
.img:hover {
 background: url("http://onlainfilm.ucoz.ua/images/004.png") no-repeat; /* новое изображение */
 border: 0px solid #f00; // Устанавливаем красную рамку
 height: 35px; /* высота изображения */
 width: 150px; /* ширина изображения */
}
/*----------------[ПОИСК С ПОДСКАЗКАМИ]----------------*/ 

#search2 input:hover {background: #EDA8A8 !important;} 
#search2 a:hover {background: #EEE;} 
#search2 a:last-child {border-bottom: 0px solid;} 

#search2 { 
box-shadow: 0px 18px 18px #444; 
border: 1px solid #6D8FA8; 
position: absolute; 
margin-left: -7px; 
margin-top: 23px; 
display: none; 
width: 600px; 
z-index: 100;} 

#search2::after { 
/*border-bottom: 8px solid transparent; 
border-left: 0px solid transparent; 
border-right: 8px solid #6D8FA8; 
border-top: 8px solid transparent; */
content: ""; 
left: 20px; 
position: absolute; 
top: -12px; 
transform: rotate(90deg); 
writing-mode: tb-rl;} 

#search2 span { 
color:#444 !important; 
background: white; 
display: block; 
padding: 8px;} 

#search2 input { 
background: #F2CBCB !important; 
color: #AC2222 !important; 
border: 0px none; 
cursor:pointer; 
padding: 8px; 
height: 30px; 
width: 100%;} 

#search2 a { 
border-bottom: 1px solid #6D8FA8; 
color:#222 !important; 
text-decoration:none; 
white-space: normal; 
background: white;
display:block; 
padding: 8px; 
height: auto;}
/*----------------[ПОИСК С ПОДСКАЗКАМИ]----------------*/ 



.upTop { 
 display:none;
 width:1px;
 height:1%;
 position:fixed;
 left:0px;
 top:0px;
 z-index:100;
}
.upTopButton { 
 background:#777777 url(http://onlainfilm.ucoz.ua/Knopki_Sitey/goup.png) no-repeat;
 width:27px;
 height:27px;
 position:fixed;
 top:20px;
 right:5px;
 cursor:pointer;
}
.upTopZone { 
 display:none;
 background:url() repeat;
 width:20px;
 height:20%;
 cursor:pointer;
}
.upTopZone p { 
 background:#777777;
 font-size:12px;
 width:63px;
 height:27px;
 margin:0;
 position:fixed;
 top:20px;
 right:32px;
 color:#fff;
 font-family:"tahoma", "verdana", "arial";
 line-height:25px;
 text-align:center;
 text-shadow:1px 1px 1px #000000;
}
@media screen and (max-width:1024px) {
 .upTopZone {
 display:none !important;
 }
} .blue .upTopButton, .blue .upTopZone p {
 background-color:#3fa3e1;
}
.green .upTopButton, .green .upTopZone p {
 background-color:#60bf3a;
}
.red .upTopButton, .red .upTopZone p {
 background-color:#ca2929;
}
.orange .upTopButton, .orange .upTopZone p {
 background-color:#ef990b;
}
.purple .upTopButton, .purple .upTopZone p {
 background-color:#b053a0;
}
.grey .upTopButton, .grey .upTopZone p {
 background-color:#777777;
}

.headindex3
{
font-family: Tahoma;
font-size: 8pt;
font-weight: bold;
color: #8b4513;
}
h3
{
font-size: 8pt;
}
.headindex2
{
font-family: Tahoma;
font-size: 10pt;
font-weight: bold;
color: #8b4513;
}
h2
{
font-size: 10pt;
}
.headindex1
{
font-family: Tahoma;
font-size: 12pt;
font-weight: bold;
color: #daa520;
}
h1
{
font-size: 12pt;
}
.opis {display:none; text-align:justify} 
.rating {
color: #ffffff;
font: 11px tahoma;
width: 85px;
height: 16px;
}
.unit-rating {
list-style: none;
margin: 0px;
padding: 0px;
width: 85px;
height: 16px;
position: relative;
background: url(http://heroes-ru.info/img/rating/rating.gif) repeat-x top left;
}
.unit-rating li {
text-indent: -90000px;
padding: 0px;
margin: 0px;
float:left;
} /*heroes-ru.info*/
.unit-rating li a {
display: block;
width: 17px;
height: 16px;
text-decoration: none;
text-indent:-9000px;
z-index: 17;
position: absolute;
padding: 0px;
}
.unit-rating li a:hover {
background-image: url(http://onlainfilm.ucoz.ua/ReytingZvezdami/cur.png);
background-position: left center;
z-index: 2;
left: 0px;
}
.unit-rating a.r1-unit {
left: 0px;
}
.unit-rating a.r1-unit:hover {
width: 17px;
}
.unit-rating a.r2-unit {
left: 17px;
}
.unit-rating a.r2-unit:hover {
width: 34px;
}
.unit-rating a.r3-unit {
left: 34px;
}
.unit-rating a.r3-unit:hover {
width: 51px;
}
.unit-rating a.r4-unit {
left: 51px;
}
.unit-rating a.r4-unit:hover {
width: 68px;
}
.unit-rating a.r5-unit {
left: 68px;
}
.unit-rating a.r5-unit:hover {
width: 85px;
}
.unit-rating li.current-rating {
background-image: url(http://onlainfilm.ucoz.ua/ReytingZvezdami/cur.png);
background-position: left bottom;
position: absolute;
height: 16px;
display: block;
text-indent: -9000px;
z-index: 1;
}

/* General Style */

.image {
 position : relative;
 width : 70%; /* for IE 6 */
}

h5 {
 position : absolute;
 top : 200px;
 left : 0;
 width : 100%;
}
h5 span {
 color : red;
 font : bold 24px/45px Helvetica, Sans-Serif;
 letter-spacing : -1px;
 background : rgb(0, 0, 0); /* на случай, если следующая строка не сработает */
 background : rgba(0, 0, 0, 0.7);
 padding : 10px;
}
a:link {text-decoration:underline; color:#8B8881;}
a:active {text-decoration:underline; color:#8B8881;}
a:visited {text-decoration:underline; color:#8B8881;}
a:hover {text-decoration:underline; color:#ff0000;}

.topLink a:link {text-decoration:none; color:#000000;}
.topLink a:active {text-decoration:none; color:#000000}
.topLink a:visited {text-decoration:none; color:#000000;}
.topLink a:hover {text-decoration:none; color:#FCFFEF;}

a.forRegLink:link, a.topSortLink:link, a.postUser:link, a.postNumberLink:link {text-decoration:underline; color:#333333;}
a.forRegLink:active, a.topSortLink:active, a.postUser:active, a.postNumberLink:active {text-decoration:underline; color:#333333;}
a.forRegLink:visited, a.topSortLink:visited, a.postUser:visited, a.postNumberLink:visited {text-decoration:underline; color:#333333;}
a.forRegLink:hover, a.topSortLink:hover, a.postUser:hover, a.postNumberLink:hover {text-decoration:underline; color:#FFFFFF;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt;color:#000000;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#8B8881}
a.noun:active {text-decoration:none; color:#8B8881}
a.noun:visited {text-decoration:none; color:#8B8881}
a.noun:hover {text-decoration:underline; color:#000000}

hr {color:#C2C2C2;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#6C829D;font-size:12px;}

a.menu1:link {text-decoration:underline; color:#9CCF00}
a.menu1:active {text-decoration:underline; color:#9CCF00}
a.menu1:visited {text-decoration:underline; color:#9CCF00}
a.menu1:hover {text-decoration:none; color:#000000}
.menuTd {padding-left:12px;padding-right:10px; background: url('/.s/t/971/11.gif') no-repeat 0px 3px;}

.mframe {border-left:1px solid #E5E7EA; border-right:1px solid #E5E7EA;}
.colgray {border-right:1px solid #E5E7EA;}
.colwhite {border-right:1px solid #FAFAFA;}
.msep {border-top:1px solid #FAFAFA;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 13px; background: url('/.s/t/971/12.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:normal;}
.uMenuV li a:link {text-decoration:none; color:#8B8881}
.uMenuV li a:active {text-decoration:none; color:#8B8881}
.uMenuV li a:visited {text-decoration:none; color:#8B8881}
.uMenuV li a:hover {text-decoration:underline; color:#000000}

.uMenuV .uMenuItemA {font-weight:bold;}
.uMenuV a.uMenuItemA:link {text-decoration:none; color:#000000}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#000000}
.uMenuV a.uMenuItemA:hover {text-decoration:underline; color:#0C5BFE}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 0 0 0 13px; background: url('/.s/t/971/12.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTable {}
.catsTd {padding: 0 0 6px 13px; background: url('/.s/t/971/12.gif') no-repeat 0px 3px;}
.catName {font-family:Verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:Verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#555555;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#8B8881;}
a.catName:visited {text-decoration:none; color:#8B8881;}
a.catName:hover {text-decoration:underline; color:#000000;}
a.catName:active {text-decoration:none; color:#8B8881;}
a.catNameActive:link {text-decoration:none; color:#000000;}
a.catNameActive:visited {text-decoration:none; color:#000000;}
a.catNameActive:hover {text-decoration:none; color:#0C5BFE;}
a.catNameActive:active {text-decoration:underline; color:#000000;}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#779F00; padding: 0 0 0 15px; background: url('/.s/t/971/13.gif') no-repeat 0px 3px;}

.eTitle a:link {text-decoration:underline; color:#779F00;}
.eTitle a:visited {text-decoration:underline; color:#779F00;}
.eTitle a:hover {text-decoration:none; color:#000000;}
.eTitle a:active {text-decoration:underline; color:#779F00;}

.eMessage {text-align:justify;padding-bottom:5px;}
.eText {text-align:justify;padding-bottom:5px;padding-top:5px;border-top:1px solid #C2C2C2}
.eDetails {border:1px solid #D7D7D7;font-family:Verdana,Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;background:#FFFFFF;}
.eDetails1 {border:1px solid #D7D7D7;font-family:Verdana,Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;background:#FFFFFF;}
.eDetails2 {border:1px solid #D7D7D7;font-family:Verdana,Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;background:#FFFFFF;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('/.s/t/971/14.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#FFFFFF;}
.cBlock2 {background:#FFFFFF; border:1px solid #FFFFFF;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {color:#333333;width:100%;background:#EBEBEB;border:1px solid #C2C2C2;}
.smiles {border:1px inset;background:#FFFFFF;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {color:#333333;background:#EBEBEB;border:1px solid #C2C2C2;}
/* ------------------- */

/* Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('/.s/t/971/15.gif') no-repeat 0px 4px; font-family:Tahoma,Arial,Sans-Serif;}
a.archLink:link {text-decoration:underline; color:#9CCF00;}
a.archLink:visited {text-decoration:underline; color:#9CCF00;}
a.archLink:hover {text-decoration:none; color:#000000;}
a.archLink:active {text-decoration:none; color:#000000;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#9CCF00;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('/.s/t/971/16.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#9CCF00}
a.archiveDateTitleLink:visited {text-decoration:none; color:#9CCF00}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#9CCF00}
a.archiveDateTitleLink:active {text-decoration:underline; color:#9CCF00}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------- */

/* Calendar Style */
.calMonth {}
.calWday {color:#FFFFFF; background:#999999; width:18px;}
.calWdaySe {color:#FFFFFF; background:#666666; width:18px;}
.calWdaySu {color:#FFFFFF; background:#666666; width:18px; font-weight:bold;}
.calMday {background:#FFFFFF;color:#999999;}
.calMdayA {background:#9CCF00;font-weight:bold;color:#FFFFFF;}
.calMdayIs {background:#C3C0B5;font-weight:bold;}
.calMdayIsA {border:1px solid #9CCF00; background:#C3C0B5;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#000000;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#000000;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#000000;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:underline; color:#000000;}
/* -------------- */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#FFFFFF}
.textResults {background:#E2E6EA}
.textResultsTd {background:#FFFFFF}

.pollNow {border-bottom:1px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.pollNowTd {}

.totalVotesTable {border-bottom:1px solid #E2E6EA; border-left:1px solid #E2E6EA; border-right:1px solid #E2E6EA;}
.totalVotesTd {background:#FFFFFF;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#EEEEEE;height:100px;width:300px;border:1px solid #AAAAAA;}

.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#ffffff;}
.gTableTop {padding:2px;background:url('/.s/t/971/10.gif') #CCCCCC;color:#000000;font-weight:bold;height:20px;padding-left:17px;font-size:11px;}
.gTableSubTop {padding:2px;background:url('/.s/t/971/7.gif') #B0E300;border:1px solid #FFFFFF;color:#000000;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#EEEEEE;}
.gTableBody1 {padding:2px;background:#FFFFFF;}
.gTableBottom {padding:2px;background:#D8D8D8; border:1px solid #FFFFFF;;}
.gTableLeft {padding:2px;background:#FFFFFF;font-weight:bold;color:#9CCF00}
.gTableRight {padding:2px;background:#FFFFFF}
.gTableError {padding:2px;background:#D8D8D8; border:1px solid #FFFFFF;;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#FFFFFF}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#D8D8D8; border:1px solid #FFFFFF;}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#000000;}
a.catLink:visited {text-decoration:none; color:#000000;}
a.catLink:hover {text-decoration:underline; color:#333333;}
a.catLink:active {text-decoration:underline; color:#000000;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#9CCF00;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#9CCF00;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#B3B3B3;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#9CCF00;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#000000;}
a.forumBarA:visited {text-decoration:none; color:#000000;}
a.forumBarA:hover {text-decoration:none; color:#9CCF00;}
a.forumBarA:active {text-decoration:underline; color:#9CCF00;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#C7D7EF;}
.fastNavCat {background:#E7EEF8;}
.fastNavCatA {background:#E7EEF8;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.switches {background:#C2C2C2;}
.pagesInfo {background:#FFFFFF;padding-right:10px;font-size:7pt;}
.switch {background:#FFFFFF;width:15px;font-size:7pt;}
.switchActive {background:#9CCF00;font-weight:bold;color:#000000;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#000000;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#000000;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FF0000;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FF0000;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#FFFFFF}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#D8D8D8; border:1px solid #FFFFFF;}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#858585;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#AFAEAE;border:1px solid #FFFFFF;color:#FFFFFF;height:20px;font-size:10px;padding-left:40px;}
.threadsDetails {padding:2px;background:#BBBBBB;color:#000000;height:20px;font-size:10px;border:1px solid #FFFFFF;}
.forumOnlineBar {padding:2px;background:#AFAEAE;border:1px solid #FFFFFF;color:#FFFFFF;height:20px;font-size:10px;}

a.threadPinnedLink:link {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:visited {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:hover {text-decoration:none; color:#FF0000;}
a.threadPinnedLink:active {text-decoration:underline; color:#FF0000;}

a.threadLink:link {text-decoration:none; color:#9CCF00;}
a.threadLink:visited {text-decoration:none; color:#9CCF00;}
a.threadLink:hover {text-decoration:underline; color:#000000;}
a.threadLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {}
.postPoll {background:#EEEEEE;text-align:center;}
.postFirst {background:#F5F9FD;border-bottom:3px solid #9AEA1D;}
.postRest1 {background:#EEEEEE;}
.postRest2 {background:#F5F9FD;}
.postSeparator {height:3px;background:#999999;}

.postTdTop {background:url('/.s/t/971/7.gif') #B0E300;color:#000000;height:20px;font-size:10px;}
.postBottom {background:#FFFFFF;color:#000000;height:20px;border:1px solid #BBBBBB;}
.postUser {font-weight:bold;}
.postTdInfo {text-align:center;padding:5px;background:#EEEEEE;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#2D435B;}
.posttdMessage {padding:5px;background:#FFFFFF;}

.pollQuestion {text-align:center;font-weight:bold;}
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#FFFFFF;font-size:9px;}
.quoteMessage {background:#FFFFFF;font-size:9px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('/.s/t/971/19.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('/.s/t/971/19.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #8D8A83;color:#DAD7CC;border:1px outset #615E58;}

.codeButtons {font-size:7pt;background: #8D8A83;color:#DAD7CC;border:1px outset #615E58;}
.codeCloseAll {font-size:7pt; background: #8D8A83;color:#DAD7CC;border:1px outset #615E58;font-weight:bold;}
.postNameFl,.postDescrFl {background:#EBEBEB;border:1px solid #9CCF00;width:400px}
.postPollFl,.postQuestionFl {background:#EBEBEB;border:1px solid #9CCF00;width:400px}
.postResultFl {background:#EBEBEB;border:1px solid #9CCF00;width:50px}
.postAnswerFl {background:#EBEBEB;border:1px solid #9CCF00;width:300px}
.postTextFl {background:#EBEBEB;border:1px solid #9CCF00;width:550px;height:150px}
.postUserFl {background:#EBEBEB;border:1px solid #9CCF00;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */

/* ====== forum End ====== */






.catPages1 {color:#ffffff;border:1px;margin-bottom:10px;margin-top:10px;}
.catPages1 a:link,
.catPages1 a:visited,
.catPages1 a:hover,
.catPages1 a:active {text-decoration:none;color: #636363;background:#f9f9f9;padding:3px 6px;font-size:11px;font-weight:bold;border:1px solid #e6e6e6;}
.catPages1 a:hover {background:#6699cc;color:#FFFFFF;font-weight:bold;border:1px solid #e6e6e6;}
.catPages1 b {text-decoration:none;background:#ffffff;padding:3px 6px;color:#ccc;font-size:11px;border:1px solid #e6e6e6;}

.pagesBlockuz1 {color:#ffffff;border:1px;margin-bottom:10px;margin-top:10px;}
.pagesBlockuz1 a:link,
.pagesBlockuz1 a:visited,
.pagesBlockuz1 a:hover,
.pagesBlockuz1 a:active {text-decoration:none;color: #636363;background:#f9f9f9;padding:3px 6px;font-size:11px;font-weight:bold;border:1px solid #e6e6e6;}
.pagesBlockuz1 a:hover {background:#6699cc;color:#FFFFFF;font-weight:bold;border:1px solid #e6e6e6;}
.pagesBlockuz1 b {text-decoration:none;background:#ffffff;padding:3px 6px;color:#ccc;font-size:11px;border:1px solid #e6e6e6;}

.pagesBlock1 {color:#EFEEEB;border:0px;margin-bottom:10px;margin-top:10px;}
.pagesBlock1 a:link,
.pagesBlock1 a:visited,
.pagesBlock1 a:hover,
.pagesBlock1 a:active {text-decoration:none;color: #636363;background:#353535;padding:3px 10px;font-size:11px;font-weight:bold;}
.pagesBlock1 a:hover {background:#2c2c2c;color:#FFFFFF;font-weight:bold;}
.pagesBlock1 b {text-decoration:none;background:#ffffff;padding:3px 10px;color:#ccc;font-size:11px;}

.catPages2 {color:#ffffff;border:1px;margin-bottom:10px;margin-top:10px;}
.catPages2 a:link,
.catPages2 a:visited,
.catPages2 a:hover,
.catPages2 a:active {text-decoration:none;color: #636363;background:#f9f9f9;padding:3px 6px;font-size:11px;font-weight:bold;border:1px solid #e6e6e6;}
.catPages2 a:hover {background:#6699cc;color:#FFFFFF;font-weight:bold;border:1px solid #e6e6e6;}
.catPages2 b {text-decoration:none;background:#ffffff;padding:3px 6px;color:#ccc;font-size:11px;border:1px solid #e6e6e6;}

.pagesBlockuz2 {color:#ffffff;border:1px;margin-bottom:10px;margin-top:10px;}
.pagesBlockuz2 a:link,
.pagesBlockuz2 a:visited,
.pagesBlockuz2 a:hover,
.pagesBlockuz2 a:active {text-decoration:none;color: #636363;background:#f9f9f9;padding:3px 6px;font-size:11px;font-weight:bold;border:1px solid #e6e6e6;}
.pagesBlockuz2 a:hover {background:#6699cc;color:#FFFFFF;font-weight:bold;border:1px solid #e6e6e6;}
.pagesBlockuz2 b {text-decoration:none;background:#ffffff;padding:3px 6px;color:#ccc;font-size:11px;border:1px solid #e6e6e6;}

.pagesBlock2 {color:#EFEEEB;border:0px;margin-bottom:10px;margin-top:10px;}
.pagesBlock2 a:link,
.pagesBlock2 a:visited,
.pagesBlock2 a:hover,
.pagesBlock2 a:active {text-decoration:none;color: #636363;background:#353535;padding:3px 10px;font-size:11px;font-weight:bold;}
.pagesBlock2 a:hover {background:#2c2c2c;color:#FFFFFF;font-weight:bold;}
.pagesBlock2 b {text-decoration:none;background:#ffffff;padding:3px 10px;color:#ccc;font-size:11px;}

/* ====== Стиль поиска и соц сетей ====== */
.searchblock{
width:620px;
height:40px;
margin:0 190px;
background:url(http://onlainfilm.ucoz.ua/images/search.png) 0 0 no-repeat;
}
.searchblock ul{
margin:9px 9px 9px 15px;
height:22px;
list-style:none;
padding:0;
float:left;
}
.blockBR {
 display: none;
}
.searchblock li
{ 
float: left;
position: relative;
}
.searchblock li a
{
float: left;
position: relative;
}
.searchblock .searchbt input{
width:72px;
height:22px;
background:url(http://onlainfilm.ucoz.ua/images/searchbt.png) 0 0 no-repeat;
}
.searchblock .searchbt input:hover{
background:url(http://onlainfilm.ucoz.ua/images/searchbt.png) 0 -22px no-repeat;
}
.searchform{
width:524px;
line-height:18px;
padding:4px 0 0 0;
border:0px;
font-size:14px;
background:transparent;
overflow: hidden;
}
#r{
margin:10px 0 0 100px;
width:100px;
height:20px;
float:left;
}
#rss{
float:left;
margin:1px 11px 0 0;
width:20px;
height:20px;
background:url(http://onlainfilm.ucoz.ua/images/rss.png) top no-repeat;
cursor:pointer;
border:0;
}
#fb{
float:left;
margin:1px 11px 0 0;
width:20px;
height:20px;
background:url(http://onlainfilm.ucoz.ua/images/facebook.png) top no-repeat;
cursor:pointer;
border:0;
}
#tw{
float:left;
margin:1px 11px 0 0;
width:20px;
height:20px;
background:url(http://onlainfilm.ucoz.ua/images/twitter.png) top no-repeat;
cursor:pointer;
border:0;
}
#rss:hover{
background:url(../images/rss.png) 0 2px no-repeat;
}
#tw:hover{
background:url(../images/twitter.png) 0 2px no-repeat;
}
#fb:hover{
background:url(../images/facebook.png) 0 2px no-repeat;
}

/* ====== Стиль поиска и соц сетей ====== */