﻿@charset "utf-8";
/*----- Basic Style -----*/
body {margin:0;padding:0;text-align:center;color:#333;scrollbar-face-color:#f8f8f8;scrollbar-highlight-color:#ccc;scrollbar-shadow-color:#ccc;scrollbar-3dlight-color: #fff;scrollbar-darkshadow-color:#fff;scrollbar-arrow-color:#666;scrollbar-track-color:#fff;-webkit-text-size-adjust:none;}
.bodynomal {margin:0;padding:0;text-align:center;color:#333;scrollbar-face-color:#f8f8f8;scrollbar-highlight-color:#ccc;scrollbar-shadow-color:#ccc;scrollbar-3dlight-color: #fff;scrollbar-darkshadow-color:#fff;scrollbar-arrow-color:#666;scrollbar-track-color:#fff;-webkit-text-size-adjust:none;}
.bodyad {background-color:#000; background:url(http://chart.cnyes.com/images/bg.jpg) no-repeat top center; margin:0; padding:0; }
h1,h2,h3,h4,h5,h6,ul,ol,li,form,th,p,cite,em {list-style:none;margin:0;padding:0;font-weight:normal;font-style:normal;}
.container div,.container span,.container select,.footer div,.footer span,.footer select {font:12px Arial, Helvetica, sans-serif;}
.links,.copyrights,.siteinfo,.contact,.box,.slt1,.mgbor,.fundsuits,.chartsd,.hdbox,.bd,.GlobalHot,.colR{font:12px Arial, Helvetica, sans-serif;}
/*
div,span,select{font:12px Arial, Helvetica, sans-serif;}
*/

ul,ol,li {font:12px PMingLiU;}
ul,ol {zoom:1;overflow:hidden;}
table {border-collapse:collapse;color:#333;width:100%;font:12px Arial, Helvetica, sans-serif;}
th {font-weight:normal;}
th,td {padding:0px 2px;}
img,table,th,td {border:0;}
a:link,a:visited {color:#00529b;text-decoration:none;}/*color:#1f3a87;*/
a:hover {color:#cc0000;}/*text-decoration:underline;*/
.clear {clear:both;height:0;_display:inline;}
.clear:after {content:".";display:block;visibility:hidden;clear:both;height:0;}
.blank2 {height:2px;display:block;visibility:hidden;clear:both; overflow:hidden;}
.blank8 {height:8px;display:block;visibility:hidden;clear:both; overflow:hidden;}
.blank10 {height:10px;display:block;visibility:hidden;clear:both; overflow:hidden;}
.blank12 {height:12px;display:block;visibility:hidden;clear:both; overflow:hidden;}
/*.ck {border-bottom:1px dotted #cc0000; margin-bottom:12px; visibility:visible;}*//*-- 頻區格線 --*/
.g {color:#009900;}
.r {color:#FF0000!important;}
.gb {background-color:#CCFF99;}
.rb {background-color:#FFCCCC;}
.ga {color:#999;font-size:11px;}/*gray*/
.disyshow {display:block;}
.disyhidn {display:none;}
.nums {font-size:11px; display:inline-block;}
.rsg {color:#FF0000!important; font-weight:bold;}/* 粗體紅色 */
.gsg {color:#996000!important; font-weight:bold;}/* 粗體金色 */
.bsg {color:#9933CC!important; font-weight:bold;}/* 粗體紫色 */
.bsn {color:#9933CC!important;}/* 粗體紫色 */
/*----- 主要區塊定位 Block Position -----*/
#header,#container,#footer{width:990px;margin:10px auto;text-align:left;overflow:hidden;zoom:1;}
#header {margin-top:6px;height: 118px;}
.boxpl3 {float:left;padding:10px 0px 10px 14px;width:315px;}
.boxpl4 {float:left;padding:10px 0px 0px 14px;width:315px; }
.boxpl5 {float:left;padding:0px 5px 5px 14px;width:315px; background-color: #f1f7fd ; border: 1px solid #e3e4e5 ; } 

.cnyeslogo {float:left; width:250px;}
.cnyeslogo img {float:left;}
.cnyesgroup {float:right;width:200px; text-align:right; margin:-62px 10px 0px 0px;*margin:-58px 10px 0px 0px;}
.cnyesgroup a {display:inline-block;}
.brand {float:left;width:250px; margin:7px 0px 0px 5px;}
.webslink {float: left;margin-left: 20px;line-height: 18px;font-family: "Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
.webslink1 {line-height: 18px;font-family: "Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
.webslink a {display:block;color:#996000;}
.webslinkl a {margin-top:4px;display:inline-block;color:#996000;}
.idxhome { background:url(../images/cnyeshomeIcon.png) right 1px no-repeat; padding-right:18px;}
.member{ margin-top:15px;display:inline-block; line-height:16px; float:left;width:245px;}
.member li{ font-family: "Microsoft JhengHei","微軟正黑體",Arial,sans-serif;} 
.10r a,.10r a:visite,.10r ,.10r a:hover {color:#FF0000;}
.cnyeslogo .rt10 {color:#FF0000;float:left;margin:-18px 27px 0 20px;*margin:-18px 27px 0 20px;}
.cnyeslogo .rt10 a {display:block;color:#FF0000;}
#footer {padding-bottom:10px; margin-bottom:12px;color:#888;}
#footer a:link,#footer a:visited {color:#666;}
#footer a:hover {color:#cc0000;}
.cnyslogo { float:right; margin:-62px 10px 0px 0px;*margin:-58px 10px 0px 0px;}
.cnyslogo img {padding:0; border:none;vertical-align:text-top;}
.copyrights,.siteinfo,.contact { overflow:hidden; height:1%; margin:0px 0px 8px 10px;}
.copyrights {margin-right:26px;}
.siteinfo ul { margin:0px auto;}
.siteinfo ul li { display:inline;font-family:tahoma; }
.webinfo {display:block; margin:5px 0px;}
.legal{float:left;text-align:center; background-color:#F6F6F6;border-bottom:1px solid #EEEEEE;width:100%;}
.colL,.colR,.boxL,.boxR,.boxR1 {height:1%;overflow:hidden;}
.colL {float:left;width:670px;}
.colR {float:right;width:300px;}
.boxL {float:left;width:325px;}
.boxR,.boxR1 {float:right;width:325px;}
.topline {height:2px; overflow:hidden; background:url(../images/toplinebg.gif) 0 -5px no-repeat; margin:4px 0px 6px 0px;}
.topline2 {height:2px; overflow:hidden; background:url(../images/toplinebg.gif) 0 0 no-repeat; margin:10px 0px 12px 0px;}



/*----- 設為首頁 addhome -----*/
.addhome { position:absolute;top:0; left:0;z-index:999; width:100%;}
.hbox { width:990px; margin:0 auto; text-align:left;}
.hbox .bd { margin:26px 0px 0px 213px;width:450px; border:1px solid #ccc;padding:12px;background:url(../images/srchBgs.png) #fff 0 bottom repeat-x;}
.hbox .bd h5 { font:12px Arial, Helvetica, sans-serif; border-bottom:1px dotted #ccc;line-height:20px;}
.hbox li {float:left; height:20px; line-height:20px; width:90px;}
.hbox li a {display:inline-block;padding:0px 3px;vertical-align:top;}
cite.close { float:right;margin-top:-20px;}
cite.close a { display:inline-block;background:url(../images/cnyeshomeIcon.png) 0 -250px no-repeat; height:14px; width:14px;}
/*----- 廣告版位 Ads Banner -----*/
.gadstxtm2,.gadstxts1 {margin:0px;}
.gadstxtm2 .gbox {padding-bottom:7px;}
.gads728x90 {float:right;width:730px;}
.cyadsx5 table {table-layout:fixed;}
.cyadsx5 td {font: 15px "Microsoft JhengHei","微軟正黑體",Arial,sans-serif;width:13.2em;  white-space:nowrap;overflow:hidden;}
.cyadsx5 td a:link,.cyadsx5 td a:visited {text-decoration:none; color:#0033cc;}
.cyads650x250 {text-align:center;}
.cyads650x100 iframe {float:right;}
.ads {float:left;text-align:center; line-height:20px; padding-top:10px; background-color:#f8f8f8;width:19px;border:1px solid #ccc;border-right:0;height:88px;}
.cyads210x150 span { float:left; width:210px;}
.cyads210x150 span.pgcr{ margin:0px 20px;}
.cyads210x150 span em { display:block;width:208px; height:23px; line-height:23px; border:1px solid #ddd; background-color:#f5f5f5; text-align:center; font-weight:bold;}
.etline {border:1px dotted #999;padding:6px 8px;margin-top:5px;height:1%;overflow:hidden; font-family:PMingLiU; text-align:center;}
.etline2 {background-color:#f5f5f5;padding:6px 8px; zoom:1; overflow:hidden;}
.etline2 .elt2 {float:left;background:url(../images/sideadsbtn.png) 0 0 no-repeat; padding-left:35px; height:24px; line-height:25px; width:100px;}
.etline2 .ert2 {float:right;background:url(../images/sideadsbtn.png) 0 0 no-repeat; padding-left:35px; height:24px; line-height:25px; width:100px;}
.etline2 .elt2 a,.etline2 .ert2 a {color:#cc0000;}
.elt a {text-decoration:underline;}
.elt {float:left;line-height:1.6em; text-align:left;}
.ert {float:right;}
.cyads80x20 { margin-bottom:6px;}
.adslist li {zoom: 1;overflow: hidden;padding: 3px 0 0 0;font-size: 13px;border-bottom: 1px dotted #ccc;}
.adslist img {float:left;margin-right:10px;}
.adslist li a:link,.adslist li a:visited {color:#666;}
.adslist li span { float:left; *float:none; display:inline-block; padding-top:3px;font:13px PMingLiU; overflow:hidden;}
/*----- 表格樣式 Table Style -----*/
.tab th {height:24px;line-height:24px;border-bottom:2px solid #ddd;font-family:PMingLiU;}
.tab td {height:22px;line-height:22px;border-bottom:1px dotted #ddd;}
.tab tr:hover td {background:#f0f0f0;}
th.lt,td.lt {text-align:left;}
th.ltpd,td.ltpd {text-align:left;padding-left:15px;}/*--- 控制中間兩側TD間距 ---*/
th.rt {text-align:right;}
td.rt {text-align:right;}
td.cr {text-align:center;}
tr.bgclr th {background-color:#f3f3f3; border-bottom:1px solid #ddd;}/*th背景樣式*/
td.rt,td.cr {font:11px Arial, Helvetica, sans-serif;}/*--- td.lt, 控制數字樣式 ---*/
.tab tr:hover td,.tabsm tr:hover td {background-color:#f3f3f3;}/*#f8f8f8*/
/*----- 區塊標題 Block Head Title -----*/
.hd,.hd2 {height:26px;background:url(../images/cnyeshomeBgX.png) 0 bottom repeat-x;}
.hd li,.hd2 li {float:left;height:24px;line-height:24px;margin-right:-1px;text-align:center;border:1px solid #ccc;border-bottom:0;}
.hd li a:link,.hd li a:visited {color:#333; display:block;float:left; text-align:center;background:url(../images/TagsBgX.png) 0 bottom repeat-x;}
.hd li.current a,.hd2 li.current em {font-weight:bold; border-bottom:1px solid #fff; background:url(../images/TagsBgX.png) 0 0 repeat-x;}
.hd2 li em  {text-align:center; color:#999; display:block;float:left; text-align:center;background:url(../images/TagsBgX.png) 0 bottom repeat-x;}
.hd2 li a:link,.hd2 li a:visited {color:#333;}
.hd li a:hover,.hd2 li a:hover {font-weight:bold;color:#cc0000; text-decoration:none;}
.tagonly li.current a {width:120px;} /*-- 單一頁籤 --*/
.tagbig li.current a ,.tagbig li {width:100px;} /*-- 大頁籤 --*/
.hdbox { float:right;margin:-26px 0px 0px 0px; width:200px;}
em.linkrt {float:right;margin:-22px 3px 0px 0px;}
em.linklt {float:left; margin:-22px 0px 0px 140px;}
em.linklt3 {float:left; padding-top:4px;}
em.linkrt a:link,em.linkrt a:visited,em.linklt a:link,em.linklt a:visited,em.linklt3 a:link,em.linklt3 a:visited  {color:#333; margin-left:12px;}
em.linkrt a:hover,em.linklt a:hover,em.linklt3 a:hover {text-decoration:underline;color:#cc0000;}
cite.mrarowr {display:block; padding-top:5px;text-align:right;}
cite.mrarowr a { float:right;background:url(../images/cnyeshomeIcon.png) right -150px no-repeat;padding-right:20px;height:14px;*line-height:15px;}

cite.rss {text-align:right; display:block; height:20px; padding-right:10px; overflow:hidden;}
cite.rss .vline {background:url(../images/vline.png) right 0 no-repeat; *background-position:right 3px; padding-right:7px; margin-right:3px;}
cite.rlt {float:right;}

/*--- 以下浮動TOP語法請新增於各頻道的public.css檔案內 ---*/
#topcontrol {position:fixed;_position:absolute;bottom:10px!important;left:50%!important;width:35px;height:35px;margin-left:500px;filter:Alpha(Opacity=0);opacity:0;cursor:pointer;}
.sroltop {display:block;width:35px;height:35px;background:url(http://chart.cnyes.com/images/toparow.png) 0 0 no-repeat;}

 
.fb-comments, .fb-comments iframe[style] {width: 100% !important;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}
 