.dtree {
font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size:11px;
color:#666;
white-space:nowrap;
}

.dtree img {
border:0;
vertical-align:middle;
}

.dtree a {
color:#333;
text-decoration:none;
}

.dtree a.node,.dtree a.nodeSel {
white-space:nowrap;
padding:1px 2px;
}

.dtree a.node:hover,.dtree a.nodeSel:hover {
color:#333;
text-decoration:underline;
}

.dtree .clip {
overflow:hidden;
}