﻿#producersSalesWidget {
    position: relative;
    height: 325px;
    width: 100%;
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#producersSalesWidgetBgImgCrop {
    height: 325px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#producersSalesWidgetBgImg {
    height: 325px;
    border: 0 none;
}

#producersSalesWidgetBgImgTitle {
    position: absolute;
    top: 50px;
    left: 50%;
    margin: 0;
    padding: 10px 20px;
    text-align: left;
    background-color: #AABDD1;
    border-radius: 5px;
    opacity: 0.8;
    color: #fff;
}

.producers-slaes-widget-transparent-panel {
    color: #333;
    height: 325px;
    padding: 0 60px;
    width: 430px;
    position: absolute;
    top: 0;
    left: 0;
}

    .producers-slaes-widget-transparent-panel h2.title {
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 1.4em;
    }

#producersSalesWidgetCompanies {
}

    #producersSalesWidgetCompanies ul {
        margin: 0;
        padding: 0;
    }

        #producersSalesWidgetCompanies ul li {
            display: inline-block;
            margin: 0;
            margin: 0; /* (IE6, IE7,) IE8 */
            width: 58px;
            height: 60px;
            padding: 0;
        }

            #producersSalesWidgetCompanies ul li:last-of-type {
                margin-left: 0;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn {
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                border: 0px none;
                margin: 9px 10px;
                background: transparent url(images/producers-logos-sprit.png) 0 0 no-repeat;
                overflow: hidden;
                text-indent: 2000px;
                white-space: nowrap;
                -webkit-transition: background-position .2s ease-in-out;
                -moz-transition: background-position .2s ease-in-out;
                -o-transition: background-position .2s ease-in-out;
                transition: background-position .2s ease-in-out;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-iran-khodro {
                background-position: 0 0;
            }

             #producersSalesWidgetCompanies ul li a.producer-btn-saipa {
                background-position: -120px 0;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-saipa-dizel {
                background-position: -40px 0;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-pars-khodro {
                background-position: -80px 0;
            }          

            #producersSalesWidgetCompanies ul li a.producer-btn-iac {
                background-position: -160px 0;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-negin-khodro {
                background-position: -205px 0;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-iran-khodro:hover,
            #producersSalesWidgetCompanies ul li.active a.producer-btn-iran-khodro {
                background-position: 0 -45px;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-saipa:hover,
            #producersSalesWidgetCompanies ul li.active a.producer-btn-saipa {
                background-position: -120px -47px;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-saipa-dizel:hover,
            #producersSalesWidgetCompanies ul li.active a.producer-btn-saipa-dizel {
                background-position: -40px -47px;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-pars-khodro:hover,
            #producersSalesWidgetCompanies ul li.active a.producer-btn-pars-khodro {
                background-position: -80px -47px;
            }            

            #producersSalesWidgetCompanies ul li a.producer-btn-iac:hover,
            #producersSalesWidgetCompanies ul li.active a.producer-btn-iac {
                background-position: -160px -47px;
            }

            #producersSalesWidgetCompanies ul li a.producer-btn-negin-khodro:hover,
            #producersSalesWidgetCompanies ul li.active a.producer-btn-negin-khodro {
                background-position: -205px -47px;
            }

            




#producersSalesWidgetOffersHolder .bootstrap-select {
    width: 100%;
}





.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    -moz-animation-name: blinker;
    -moz-animation-duration: .4s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 3;
    animation-name: blinker;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}
