﻿#shape-tracing-window {
    text-align: left !important;
    direction: ltr !important;
}

/* Reset
***************************************************************/
@font-face {
    font-family: "BYekan";
    src: url(../fonts/wYekan.eot);
    src: url(../fonts/wYekan.eot?#iefix) format("embedded-opentype"), url(../fonts/wYekan.woff) format("woff"), url(../fonts/wYekan.ttf) format("truetype"), url(../fonts/wYekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

/* General
***************************************************************/
body {
    font-family: BYekan, Tahoma !important;
    padding-top: 116px;
}

    body#tinymce {
        padding-top: 0px !important;
    }

a {
    cursor: pointer !important;
    outline: none;
}

table {
    width: 100%;
}

input[name=Email],
input[name=Password],
input[name=ConfirmPassword],
input[name=Number],
input[name=NewPassword],
input[name=OldPassword] {
    direction: ltr;
    text-align: left;
}

/* Search Form
***************************************************************/
.search-form {
    float: right;
    padding: 20px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    .search-form input {
        float: right;
        width: 530px;
        height: 39px;
        border: 1px solid #d1d1d1;
        padding: 0 5px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

        .search-form input[type="text"] {
            float: right !important;
        }

    .search-form button[type="submit"] {
        float: right !important;
        margin: 0 !important;
        margin-right: 24px !important;
    }

/* Structure
***************************************************************/
.top-header {
    height: 28px;
    color: #fff;
    font-size: 0.9em;
    padding: 6px 0 30px;
}

    .top-header a {
        color: #fff;
    }

    .top-header ul li {
        margin: 0px 5px 0 15px;
        line-height: 28px;
    }

.top-user-login {
    margin: 0;
    color: white;
}

    .top-user-login li {
        padding: 0px;
    }

        .top-user-login li a {
            color: white;
            display: block;
            padding: 3px 15px;
            white-space: nowrap;
            line-height: 25px;
        }

            .top-user-login li a.last {
                padding-left: 0px;
            }

#menu-search {
    height: 82px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    margin-right: 180px;
}

    #menu-search.in {
        height: 470px !important;
    }

.navbar-toggle {
    border-color: #ddd;
}

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #ddd;
    }

    .navbar-toggle .icon-bar {
        background-color: #888;
    }

/* navbar */
#iranecar-logo {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* menu-main-menu */
.navbar-nav.menu-main-menu > li > a {
    padding: 29px 14px 28px 15px;
    color: #767676;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-nav.menu-main-menu > li.active > a {
    border-bottom: 3px solid #2c3e50;
    margin-bottom: -3px;
    background: #F3F6F8;
}

#header.shrink .navbar-nav.menu-main-menu > li.active > a {
    border-bottom-width: 1px;
    border-bottom-color: #de151d;
    margin-bottom: -1px;
}

.navbar-nav.menu-main-menu > li > a:hover,
.navbar-nav.menu-main-menu > li.active > a {
}

/* Search */
#portal-search,
#portal-search-exit {
    position: absolute;
    left: 0;
    width: 100%;
    padding-right: 15px;
}

#portal-search-exit {
    left: -9999px;
}

.portal-search,
.portal-search-exit {
    color: #d0d5d9;
    border: 1px solid #d0d5d9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    margin: 20px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

    .portal-search:hover,
    .portal-search-exit:hover {
        color: #de151d;
        border-color: #de151d;
    }

    .portal-search span,
    .portal-search-exit span {
        padding: 7px;
        width: 38px;
        height: 38px;
        text-align: center;
    }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    background-color: #e6ebf1;
    font-weight: normal;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.well hr {
    border-top-color: #aabdd1;
}

.list-group {
    margin-bottom: 0;
}

.bootstrap-select .dropdown-menu {
    background: #FFF;
    border: 0 none;
    border-radius: 0 0 2px 2px;
    margin: 0;
    padding: 0;
}

    .bootstrap-select .dropdown-menu > li > a {
        color: #2C3E50;
    }

.bootstrap-select a:focus {
    background-color: #CBD7E3 !important;
    outline-offset: 0;
    outline: 0 none;
}

.bootstrap-select a:hover {
    outline-offset: 0;
    outline: 0 none;
    background-color: #E6EBF1 !important;
}

.bootstrap-select.dropup .dropdown-menu {
    border-radius: 2px 2px 0 0;
}

.bootstrap-select.open button.dropdown-toggle {
    border-radius: 2px 2px 0 0;
    border: 1px solid transparent;
}

.bootstrap-select.dropup.open button.dropdown-toggle {
    border-radius: 0 0 2px 2px;
}

.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
    margin: 5px;
}

.btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}

.btn-circle-sm {
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 0;
    font-size: 20px;
    border-radius: 30px;
}

    .btn-circle-sm .glyphicons {
        font-size: 18px !important;
    }

.btn-circle-lg {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 13px 0;
    font-size: 40px;
    line-height: 30px;
    border-radius: 70px;
}

.btn.btn-info.btn-circle-lg.active {
    background-color: #de151d;
    border-color: #de151d;
}


/* drop down */
.dropdown-menu {
    border-color: #e6ebf1;
}

    .dropdown-menu li a:hover,
    .dropdown-menu li.active a,
    .dropdown-menu li.active a:hover,
    .dropdown-menu li.active a:focus {
        border-bottom: 0px !important;
    }

/* header shrink */
#header.shrink #menu-search {
    height: 60px !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 150px;
}

#header.shrink #iranecar-logo {
    /*padding-left: 0 !important;*/
    width: 140px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#header.shrink .navbar-nav.menu-main-menu > li > a {
    padding: 18px 15px 18px;
}

#header.shrink .portal-search,
#header.shrink .portal-search-exit {
    margin: 10px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#header.shrink #portal-search,
#header.shrink #portal-search-exit {
    padding-right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#header.shrink .search-form {
    padding: 11px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    #header.shrink .search-form input {
        height: 37px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

#header.shrink .dropdown-menu li a {
}

    #header.shrink .dropdown-menu li a:hover,
    #header.shrink .dropdown-menu li.active a,
    #header.shrink .dropdown-menu li.active a:hover,
    #header.shrink .dropdown-menu li.active a:focus {
        border-bottom: 0px !important;
    }


/*general */
.light-title {
    color: #b3b5b4;
    font-size: 0.85em;
}

h2.title {
    font-size: 1.7em;
    margin-top: 10px;
}

/* slide show */
.zone-slide-show img {
    float: right;
}


.zone-slide-show article.active {
    display: block;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: fadeInFromNone;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

#slide-ul-wrapper {
    text-align: center;
    clear: both;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 3px solid #de151d;
    height: 52px;
}

#top-page-slide {
    border-bottom: 0px;
    display: inline-block;
    padding: 0px;
    list-style: none;
    overflow: hidden;
}

    #top-page-slide li {
        margin: 0px;
        float: right;
    }

        #top-page-slide li.active a {
            background-color: #de151d !important;
            color: #fff;
        }

    #top-page-slide a {
        border: 0;
        border-radius: 0;
        color: #9c9c9c;
        font-size: 1.1em;
        padding: 10px 50px;
        text-align: center;
        margin: 0;
        display: block;
    }

.margin-top-20px {
    margin-top: 20px;
}

#layout-main-container {
    clear: both;
}

#layout-slideshow p {
    margin: 0;
}

/* back to top */
.scrollToTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    color: #fff;
    padding: 12px;
    z-index: 1500;
    border-radius: 3px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
}

/* News */
.Information-Pic {
    float: right;
    margin-left: 15px;
}

    .Information-Pic img {
        border: 1px solid silver;
        padding: 5px;
    }

.aside-first,
.aside-second,
#layout-content {
    position: relative;
    min-height: 1px;
}

    .aside-first article,
    .aside-second article {
        margin: 15px 0;
    }


/* Comments*/
ul.comments, ul.comments li {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.comments .media-heading {
    padding-top: 10px;
}

    .comments .media-heading,
    .comments .media-heading a {
        font-size: 1.3em;
        color: #b2b2b2;
    }

        .comments .media-heading .when {
            font-size: 0.7em;
        }

.comment-desc {
    padding-top: 20px;
}

.comment-text {
    width: 100%;
}

.comment-new-title {
    font-size: 1.5em !important;
    color: #7d7d7d;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
    margin-top: 15px;
}

.comment-form .form-group {
    float: right;
    width: 100%;
}

.comment .reply a {
    padding: 10px 0;
    font-size: 1.2em;
}

.comment-form button {
    float: left;
    margin-left: 15px;
}

.comments-reply {
    background-color: #fff;
    margin-right: 20px;
    padding: 10px 0;
    border-top: 1px solid #f9f9f9;
    float: right;
    width: 99%;
    margin-bottom: 15px;
}

    .comments-reply li {
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

/* Validation Error */
.field-validation-error {
    color: red;
    font-size: 1em;
}

/* favorite */
.favorite {
    color: #0da610;
    margin-top: 20px;
    font-size: 2em;
    text-align: left;
}

    .favorite i {
        border: 1px solid #0da610;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        padding: 5px;
        font-size: 0.7em;
    }

/* Send Friends */
.send-friends {
    color: #f59b06;
    font-size: 2em;
    text-align: left;
}

    .send-friends i {
        border: 1px solid #f59b06;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        padding: 5px;
        font-size: 0.7em;
    }

/* Email */
.email-icon {
    color: #ff4400;
    font-size: 2em;
    text-align: left;
}

    .email-icon a, .email-icon a:hover {
        color: #ff4400;
    }

    .email-icon i {
        border: 1px solid #ff4400;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        padding: 5px;
        font-size: 0.7em;
    }

/* Web */
.web-icon {
    color: #b246b3;
    font-size: 2em;
    text-align: left;
}

    .web-icon a, .web-icon a:hover {
        color: #b246b3;
    }

    .web-icon i {
        border: 1px solid #b246b3;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        padding: 5px;
        font-size: 0.7em;
    }
/**/

.btn {
    transition: all 0.3s ease 0s;
}

.main-page-content {
    min-height: 350px;
}

#BreadCrumb-wrapper {
    background-color: #e6ebf1;
}

.glyphicons-asterisk {
    font-size: 10px !important;
    color: #E67E22;
}

.widget h1 {
    font-size: 1.5em;
}

#carFilterAffix,
#carFilterAffix2,
.left-affix {
    margin-top: 65px;
}

.left-no-affix {
    margin-top: 65px;
}

.content-item-date {
    padding-top: 30px;
}

div.summery {
    height: 78px;
    overflow: hidden;
    text-align: justify;
}

.calendars-popup {
    z-index: 3000;
}

.calendars-cmd-today {
    color: #aabdd1 !important;
}

    .calendars-cmd-today:hover {
        color: #8aa4be !important;
    }

#closeTrBtn {
    cursor: pointer;
}

#closeListBtn {
    position: absolute;
    left: 10px;
    right: auto;
    top: 5px;
    color: #AABDD1;
    z-index: 1000;
}

    #closeListBtn:hover {
        color: #507192;
        cursor: pointer;
    }

#PriceListInner .panel-heading {
    padding: 10px 0;
}


div#ItemDetails {
    padding: 15px !important;
    position: relative;
}


.spin-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(-360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(-360deg);
    }
}

.grid-list-holder:after {
}

.grid-list-holder > .projection-page:empty {
    background: #F00;
    height: 100px;
}

.not-found-bg {
    width: 100%;
    min-height: 350px;
    background-image: url(../Content/images/40x.jpg);
    background-size: initial;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}

.error-page-bg {
    width: 100%;
    min-height: 350px;
    background-image: url(../Content/images/50x.jpg);
    background-size: initial;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}

.informationList .col-md-12 {
    padding-top: 5px;
    padding-bottom: 5px;
}

li.li-full-width {
    width: 100%;
}

    li.li-full-width a {
        text-align: right;
    }

#cboxCurrent {
    bottom: -32px !important;
}

.banners-img {
    border: 1px solid #333;
}

.enghlish-font {
    font-family: Tahoma !important;
    font-size: 0.9em;
}

.zone-content .widget-services {
    background: #e6ebf1;
    margin-top: 20px;
}

.zone-content .widget-banners {
    padding: 15px 0 15px 0;
    margin: 15px 0 15px 0;
}

.zone-content .widget-bs-home-page-widget {
    margin-bottom: 30px;
}

    .zone-content .widget-bs-home-page-widget .nav-tabs > li > a {
        font-size: 16px;
        line-break: 18px;
    }

#towFolds hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

#towFolds .section-title {
    margin-top: 15px;
}

.zone-two-fold-right {
}

    .zone-two-fold-right:before {
        content: " ";
        display: table;
    }

    .zone-two-fold-right::after {
        clear: both;
        content: " ";
        display: table;
    }

    .zone-two-fold-right .widget-topnewsfirst,
    .zone-two-fold-right .widget-top3news {
        float: right;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 0;
    }

    .zone-two-fold-right .widget-topnewsfirst {
        width: 50%;
    }

    .zone-two-fold-right .widget-top3news {
        width: 50%;
        padding-left: 0;
    }

#towFolds .section-title {
    font-size: 16px;
}

.home-thumbnail {
    border: 0 none;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0;
    padding: 0 0 15px 0;
}

.item:last-of-type .home-thumbnail {
    padding-bottom: 0;
}

.home-thumbnail a {
}

    .home-thumbnail a:hover,
    .home-thumbnail a:hover .caption {
        color: #2980b9;
    }

.home-thumbnail a {
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.home-thumbnail a {
    border: 1px solid transparent;
}

    .home-thumbnail a:hover {
        background: #E6EBF1;
    }

.well .home-thumbnail a:hover {
    background: #F3F6F8;
}

.home-thumbnail .home-thumbnail-img,
.home-thumbnail .caption {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.home-thumbnail .caption {
    padding-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zone-two-fold-right .widget-topnewsfirst .home-thumbnail,
.zone-two-fold-right .widget-topnewsfirst .home-thumbnail .home-thumbnail-img {
    padding: 0;
}

    .zone-two-fold-right .widget-topnewsfirst .home-thumbnail .home-thumbnail-img,
    .zone-two-fold-right .widget-topnewsfirst .home-thumbnail .caption {
        display: block;
        max-width: 100%;
        width: 100%;
        height: auto;
    }

        .zone-two-fold-right .widget-topnewsfirst .home-thumbnail .home-thumbnail-img img {
            display: block;
            max-width: 100%;
            width: 100%;
            height: 150px;
        }

.zone-two-fold-right .widget-topnewsfirst .top-news-first-pic {
}

.zone-two-fold-right .widget-topnewsfirst .home-thumbnail .caption {
    background-color: #E6EBF1;
    padding: 15px 20px;
}


.home-thumbnail .home-thumbnail-img {
}

.zone-two-fold-right .widget-two-fold-right.widget-top3news .home-thumbnail .home-thumbnail-img,
.zone-two-fold-left .widget-two-fold-left .home-thumbnail .home-thumbnail-img {
    width: 160px;
    width: 130px;
    float: right;
}

.zone-two-fold-right .widget-two-fold-right.widget-top3news .home-thumbnail .home-thumbnail-img {
    width: 100px;
}

    .zone-two-fold-right .widget-two-fold-right.widget-top3news .home-thumbnail .home-thumbnail-img img {
        height: 57px !important;
    }

.zone-two-fold-right .widget-two-fold-right.widget-top3news .home-thumbnail .caption,
.zone-two-fold-left .widget-two-fold-left .home-thumbnail .caption {
    margin-right: -160px;
    margin-right: 100px;
    height: 90px;
    line-height: 90px;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
}

.zone-two-fold-right .widget-two-fold-right.widget-top3news .home-thumbnail .caption {
    height: 57px;
    line-height: 60px;
}

footer {
}

    footer > div {
        min-height: 200px;
    }

.footer-down-right-border {
}

.footer-down-mid-border {
    display: inline-block;
}

.footer-down-left-border {
}

footer#layout-footer {
    font-size: 14px;
    position: relative;
}

    footer#layout-footer .glyphicons,
    footer#layout-footer .social {
        vertical-align: middle;
        position: inherit;
        font-size: 18px;
    }

    footer#layout-footer .footer-down {
        padding: 0;
        color: #F3F6F8;
        background-color: #507192;
        position: relative;
        clear: both;
        height: 285px;
    }

        footer#layout-footer .footer-down a {
            color: #F3F6F8;
        }

            footer#layout-footer .footer-down a:hover {
                color: #FFF;
            }

        footer#layout-footer .footer-down input {
            color: #507192;
        }

footer .footer-col {
    width: 33%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
}

footer .footer-col-mid {
    width: 29%;
    background: #507192 url(../Content/images/footer_right.jpg) no-repeat bottom right;
    text-align: center;
}

footer .footer-col-left {
    width: 38%;
}

footer .footer-down .footer-down-right-border,
footer .footer-down .footer-down-mid-border,
footer .footer-down .footer-down-left-border {
    height: 285px;
}

footer .footer-down .footer-down-right-border {
}

footer .footer-down .footer-down-mid-border {
}

footer .footer-down .footer-down-left-border {
}


footer .footer-down .footer-down-right-border .footer-news-letter {
    padding: 55px 0;
    height: 150px;
    text-align: center;
}

    footer .footer-down .footer-down-right-border .footer-news-letter * {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    footer .footer-down .footer-down-right-border .footer-news-letter label {
        display: none;
    }

    footer .footer-down .footer-down-right-border .footer-news-letter input {
        padding: 10px;
        background: #FFF;
        border: 0 none;
        line-height: 20px;
        height: 40px;
        font-size: 15px;
        border-radius: 0;
        float: right;
        min-width: 220px;
    }

    footer .footer-down .footer-down-right-border .footer-news-letter button {
        padding: 7px;
        border: 3px solid #FFF;
        background: #00BD00;
        line-height: 20px;
        height: 40px;
        font-size: 15px;
        float: left;
        border-radius: 0;
    }

footer .footer-down .footer-down-right-border .footer-links {
    padding: 42px 5px 25px;
    background: #607D99;
    position: relative;
    text-align: center;
}

    footer .footer-down .footer-down-right-border .footer-links .footer-links-decorator {
        position: absolute;
        float: left;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 104px 56px 0 0;
        border-color: #507192 transparent transparent transparent;
    }

footer .footer-down .footer-down-right-border .footer-copyright {
    padding: 9px 0px 7px;
    background: #70879D;
    position: relative;
    font-size: 12px;
    color: #2C3E50;
    text-align: center;
}

    footer .footer-down .footer-down-right-border .footer-copyright .footer-copyright-decorator {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 41px 23px 0 0;
        border-color: #507192 transparent transparent transparent;
    }


footer .footer-down .footer-down-mid-border h2 {
    padding-top: 41px;
    padding-right: 0;
    font-size: 1em;
    margin: 0;
    padding-bottom: 11px;
    text-align: right;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item {
    background: transparent;
    border: 0 none;
    text-align: right;
}

    footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child {
    }

footer .footer-down .footer-down-mid-border .list-group li:nth-child(1) {
    padding-right: 20px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child {
    padding-right: 20px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(2) {
    padding-right: 40px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item {
    padding-right: 40px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(3) {
    padding-right: 60px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item + .list-group-item {
    padding-right: 60px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(4) {
    padding-right: 80px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item + .list-group-item + .list-group-item {
    padding-right: 80px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(5) {
    padding-right: 100px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item + .list-group-item + .list-group-item + .list-group-item {
    padding-right: 100px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(6) {
    padding-right: 120px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item + .list-group-item + .list-group-item + .list-group-item + .list-group-item {
    padding-right: 120px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(7) {
    padding-right: 140px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item + .list-group-item + .list-group-item + .list-group-item + .list-group-item + .list-group-item {
    padding-right: 140px; /* IE8 */
}

footer .footer-down .footer-down-mid-border .list-group li:nth-child(8) {
    padding-right: 160px;
}

footer .footer-down .footer-down-mid-border .list-group .list-group-item:first-child + .list-group-item + .list-group-item + .list-group-item + .list-group-item + .list-group-item + .list-group-item + .list-group-item {
    padding-right: 160px; /* IE8 */
}

footer .footer-down .footer-down-left-border .footer-down-logo {
    height: 100px;
    background: #507192 url(../Content/images/iranecar-logo-footer-white.png) 50% 50% no-repeat;
}

footer .footer-down .footer-down-left-border .footer-down-address-slot {
    background: #607D99 url(../Content/images/footer_left.jpg) no-repeat bottom right;
    padding: 32px 60px 32px 0;
    margin: 0;
}

    footer .footer-down .footer-down-left-border .footer-down-address-slot > div {
        line-height: 20px;
        padding: 5px 0;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-address-slot-decorator {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 23px 41px;
        border-color: transparent transparent #507192 transparent;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-address {
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-address-line-1 {
        padding-right: 0;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-address-line-2 {
        padding-right: 20px;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-phone {
        padding-right: 40px;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-email {
        padding-right: 60px;
    }

.nav-tabs li.col-md-2,
.nav-tabs li.col-md-3,
.nav-tabs li.col-md-4,
.nav-tabs li.col-md-6,
.nav-tabs li.col-md-12 {
    padding: 0px !important;
}

.field-direction-ltr {
    direction: ltr !important;
}

.important-title {
    font-size: 1.4em;
}

.list-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*
Styles.CSS
*/
.navbar-nav {
    margin: 0;
}

.badge {
    display: inline-block !important;
}

.grid-data-row {
    background-color: #e6ebf1 !important;
    padding: 0 !important;
}

.checkbox, .radio {
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 6px;
}

li.active > a {
    cursor: default !important;
}

.glyphicons.x05 {
    vertical-align: middle;
}

span.glyphicons {
    display: inline-block !important;
    vertical-align: middle;
}

.ui-slider {
    height: 10px !important;
    margin: 5px 7px 10px !important;
    overflow: visible;
}

.ui-slider-handle {
    height: 22px;
    width: 22px;
}

.ui-slider-horizontal .ui-slider-segment {
    margin-top: 0px !important;
}

.pager li > a#pager-current {
    background-color: #16a085;
}

.tooltip {
    z-index: 10000;
}

.form-control[readonly] {
    cursor: default !important;
    background-color: #fff !important;
    opacity: 1;
}

a:focus {
    outline: 0 none;
}

.bootstrap-select.btn-group .btn .filter-option {
    padding-right: 3px !important;
}

footer#layout-footer .footer-up {
    padding: 0;
    background-color: #e6ebf1;
    height: 150px;
    position: relative;
    min-height: 150px;
}

#tripel-first,
#tripel-second,
#tripel-third {
    height: 150px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    text-align: center;
    background-color: #e6ebf1;
}

#tripel-second {
    width: 20%;
}

#tripel-first,
#tripel-third {
    width: 40%;
}

#tripel-second {
    padding: 0;
}

.zone-tripel-first {
    background: #f3f6f8 url(../Content/images/footer_top_right.jpg) no-repeat top left;
    height: 130px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 70px;
}

.zone-tripel-third {
    background: #f3f6f8 url(../Content/images/footer_top_left.jpg) no-repeat top right;
    height: 130px;
    margin-top: 20px;
    padding: 20px 70px 20px 20px;
}

.carouselshowmanymoveone .extra1,
.carouselshowmanymoveone .extra2,
.carouselshowmanymoveone .extra3 {
    display: none;
}

.carouselshowmanymoveone .carousel-inner > .item.active {
    z-index: 50;
}

    .carouselshowmanymoveone .carousel-inner > .item.active.left,
    .carouselshowmanymoveone .carousel-inner > .item.active.right {
        z-index: 48;
    }

.carouselshowmanymoveone .carousel-inner > .item.next,
.carouselshowmanymoveone .carousel-inner > .item.prev {
    z-index: 46;
}

.owl-theme .owl-controls {
    margin-top: 0;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #507192;
}

.owl-theme .owl-controls .owl-nav [class*='owl-'] {
    background: #AABDD1;
}

    .owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
        background: #507192;
    }


.make-owl-carousel-parent {
    position: relative;
}

    .make-owl-carousel-parent .owl-prev,
    .make-owl-carousel-parent .owl-next {
        position: absolute;
        top: 80px;
        bottom: 80px;
        z-index: 200;
        text-align: center;
        width: 60px;
        cursor: pointer;
    }

    .make-owl-carousel-parent .owl-prev {
        right: -30px;
    }

    .make-owl-carousel-parent .owl-next {
        left: -30px;
    }

.tab-pane.make-owl-carousel-parent .owl-prev {
    right: -19px;
}

.tab-pane.make-owl-carousel-parent .owl-next {
    left: -19px;
}

.make-owl-carousel-parent .owl-prev span,
.make-owl-carousel-parent .owl-next span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 24px;
    border: 5px solid transparent;
    color: #507192;
    border-radius: 50%;
    padding: 3px;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .2;
}

.make-owl-carousel-parent .owl-prev:hover span,
.make-owl-carousel-parent .owl-next:hover span {
    opacity: 1;
    background: #507192;
    color: #FFF;
}

.make-owl-carousel-parent .owl-prev span {
    left: 25%;
}

.make-owl-carousel-parent .owl-next span {
    right: 25%;
}

.owl-item .thumbnail {
    margin-bottom: 0;
    border: 0 none;
    text-align: center;
}

    .owl-item .thumbnail > div {
        text-align: right;
    }

table.footer-banks {
}

    table.footer-banks td {
        padding: 8px;
        width: 16.6666666%;
        vertical-align: middle !important;
        text-align: left;
    }

        .text-left,
        table.footer-banks td.text-left {
            text-align: left;
        }


.bank-logo {
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: url(../Content/images/banks-logos.png) no-repeat 0 -32px;
    display: block;
    -webkit-transition: background-position-y 0.3s ease-in-out;
    -moz-transition: background-position-y 0.3s ease-in-out;
    transition: background-position-y 0.3s ease-in-out;
    cursor: default !important;
}

    .bank-logo:hover {
        background-position-y: 0;
    }

.bank-logo-eghtesad-novin {
    background-position: 0 -32px;
}

.bank-logo-saman {
    background-position: -32px -32px;
}

.bank-logo-sina {
    background-position: -64px -32px;
}

.bank-logo-tejarat {
    background-position: -96px -32px;
}

.bank-logo-mellat {
    background-position: -128px -32px;
}

.bank-logo-melli {
    background-position: -160px -32px;
}

.bank-logo-parsian {
    background-position: -192px -32px;
}

.bank-logo-pasargad {
    background-position: -224px -32px;
}

.bank-logo-saderat {
    background-position: -256px -32px;
}

.form-group.radios,
.form-group.checkboxes {
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .form-group.radios.has-error,
    .form-group.checkboxes.has-error {
        border: 1px solid #e67e22;
    }

        .form-group.radios.has-error label.error,
        .form-group.checkboxes.has-error label.error {
        }

select.selectpickerselect {
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    opacity: 0 !important;
}

.widget-footer form {
    position: relative;
    font-size: 0;
}

#NewsLetter_NewsLetterEmail_Value-error {
    position: absolute;
    top: 40px;
    right: 0;
}

.loading-bar-hoz {
    position: relative;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 3;
    overflow: hidden;
    margin-top: -5px;
    width: 100%;
}

    .loading-bar-hoz .br-timer-bar {
        background-color: #de151d;
        margin-top: 2px;
        height: 3px;
        position: absolute;
        z-index: 1;
        opacity: .7;
    }

.zone-footer .validation-summary-errors {
    display: none !important;
}

.search-results {
    margin: 0;
    padding: 0;
}

    .search-results li {
        list-style: none;
    }

    .search-results h1 {
        padding: 5px 0;
        font-size: 1.2em;
    }

    .search-results .metadata {
        display: none;
    }

    .search-results article {
        border-bottom: 1px solid #ccc;
    }

    .search-results p {
        margin: 0;
        padding: 0;
    }

/* BootStrap Wizard
***********************************************/
.bwizard-steps {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #fff;
}

    .bwizard-steps .active {
        color: #fff;
        background: #007ACC;
    }

        .bwizard-steps .active:after {
            border-left-color: #007ACC;
        }

        .bwizard-steps .active a {
            color: #fff;
            cursor: default;
        }

    .bwizard-steps .label {
        position: relative;
        top: -1px;
        margin: 0 5px 0 0;
        padding: 1px 5px 2px;
    }

    .bwizard-steps .active .label {
        background-color: #333;
    }

    .bwizard-steps li {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        padding: 12px 17px 10px 30px;
        *display: inline;
        *padding-left: 17px;
        background: #efefef;
        line-height: 18px;
        list-style: none;
        zoom: 1;
    }

        .bwizard-steps li:first-child {
            padding-left: 12px;
            -moz-border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

            .bwizard-steps li:first-child:before {
                border: none;
            }

        .bwizard-steps li:last-child {
            margin-right: 0;
            -moz-border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }

            .bwizard-steps li:last-child:after {
                border: none;
            }

        .bwizard-steps li:before {
            position: absolute;
            left: 0;
            top: 0;
            height: 0;
            width: 0;
            border-bottom: 20px inset transparent;
            border-left: 20px solid #fff;
            border-top: 20px inset transparent;
            content: "";
        }

        .bwizard-steps li:after {
            position: absolute;
            right: -20px;
            top: 0;
            height: 0;
            width: 0;
            border-bottom: 20px inset transparent;
            border-left: 20px solid #efefef;
            border-top: 20px inset transparent;
            content: "";
            z-index: 2;
        }

    .bwizard-steps a {
        color: #333;
    }

        .bwizard-steps a:hover {
            text-decoration: none;
        }

    .bwizard-steps.clickable li:not(.active) {
        cursor: pointer;
    }

    .bwizard-steps.clickable li:hover:not(.active) {
        background: #ccc;
    }

        .bwizard-steps.clickable li:hover:not(.active):after {
            border-left-color: #ccc;
        }

        .bwizard-steps.clickable li:hover:not(.active) a {
            color: #08c;
        }

@media (max-width: 480px) {
    /* badges only on small screens */
    .bwizard-steps li:after,
    .bwizard-steps li:before {
        border: none;
    }

    .bwizard-steps li,
    .bwizard-steps li.active,
    .bwizard-steps li:first-child,
    .bwizard-steps li:last-child {
        margin-right: 0;
        padding: 0;
        background-color: transparent;
    }
}

/* Media Device
***************************************/
@media (min-width: 1200px) {
    footer .footer-down .footer-down-right-border .footer-links .list-inline > li {
        padding-left: 15px;
    }

    #layout-slideshow {
    }
}

@media (max-width: 1024px) {
    #layout-slideshow {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 99px;
    }

    .spacer-5 {
        margin-top: 20px;
    }

    #iranecar-logo,
    #header.shrink #iranecar-logo {
        width: 120px;
    }

    #menu-search,
    #header.shrink #menu-search {
        height: 65px !important;
        margin-right: 100px;
    }

    .navbar-nav.menu-main-menu > li > a,
    #header.shrink .navbar-nav.menu-main-menu > li > a {
        padding: 20px 10px !important;
        font-size: 15px;
    }

    #portal-search,
    #portal-search-exit,
    #header.shrink #portal-search,
    #header.shrink #portal-search-exit {
        padding-right: 15px !important;
    }

    .portal-search,
    .portal-search-exit,
    #header.shrink .portal-search,
    #header.shrink .portal-search-exit {
        font-size: 1.5em;
        width: 35px;
        height: 35px;
        margin: 15px 10px;
    }

        .portal-search span,
        #header.shrink .portal-search span,
        .portal-search-exit span,
        #header.shrink .portal-search-exit span {
            padding: 2px;
            width: 33px;
            height: 33px;
            text-align: center;
        }

    .search-form,
    #header.shrink .search-form {
        padding: 12px 0;
    }

        .search-form input,
        #header.shrink .search-form input {
            width: 400px;
            height: 40px;
        }

    #top-page-slide a {
        padding: 10px 35px !important;
    }

    /*footer*/
    footer .footer-down {
        background: #507192;
    }

    footer .footer-col,
    #tripel-first,
    #tripel-second,
    #tripel-third {
        width: 100%;
        text-align: center;
    }

    footer .footer-col-mid {
        background-image: none;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot {
        background-image: none;
    }

    footer .footer-down .footer-down-right-border .footer-links {
        margin: 0;
        padding: 38px 38px 25px 38px;
        background: #607D99;
    }

    footer .footer-down .footer-down-mid-border .list-group li:nth-child(n) {
        padding: 10px 30px 10px 0 !important;
        text-align: right;
        width: 100%;
        float: right;
    }

    footer .footer-down .footer-down-right-border .footer-news-letter {
    }

        footer .footer-down .footer-down-right-border .footer-news-letter * {
            float: none;
        }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-phone {
        padding-right: 0;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot .footer-down-email {
        padding-right: 0;
    }

    .zone-tripel-first {
        background-image: none;
    }

    .zone-tripel-third {
        background-image: none;
    }

    table.footer-banks td {
        padding: 8px 0px;
    }

        table.footer-banks td.text-left {
            font-size: 0.8em;
        }
}

@media (max-width: 768px) {
    body {
        padding-top: 94px;
    }

    .navbar-nav.menu-main-menu > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .grid-list > div.grid-list-row > div.grid-list-item {
        width: 50%;
    }

    .make-owl-carousel-parent .owl-prev {
        right: -10px;
    }

    .make-owl-carousel-parent .owl-next {
        left: -10px;
    }

    #portal-search-exit .navbar-nav {
        float: left;
    }

    .footer-links ul li {
        display: block;
        padding: 10px 0;
    }

    footer .footer-down .footer-down-left-border .footer-down-address-slot {
        padding-right: 0px;
    }

    footer .footer-down .footer-down-mid-border h2 {
        padding-top: 20px;
    }

    footer .footer-down .footer-down-right-border, footer .footer-down .footer-down-mid-border, footer .footer-down .footer-down-left-border {
        height: auto;
    }
}

@media (max-width: 480px) {
    .grid-list > div.grid-list-row > div.grid-list-item {
        width: 100%;
    }
}

.glyphicons-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
    -moz-animation: spin .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}



/**
 *   bootstrap-slider start:
 */
.slider, .slider.slider-horizontal {
    direction: ltr;
    width: 100%;
}

.slider-handle {
    background-color: #aabdd1;
    background-image: none;
}

.slider-track {
    background-image: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    background-color: #E6EBF1;
}

.slider-selection {
    background-image: none;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    background-color: #aabdd1;
}
/**
 *   bootstrap-slider end.
 */

/**
 *   MegaCarAds start:
 */
.car-bs-list .glyphicon {
    margin-left: 5px;
}

.car-bs-list .thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.car-bs-list .item {
    transition: all 0.3s ease-in-out;
}

    .car-bs-list .item.list-group-item {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

        .car-bs-list .item.list-group-item:nth-of-type(odd):hover,
        .car-bs-list .item.list-group-item:hover {
            background: #428bca;
        }

        .car-bs-list .item.list-group-item .list-group-image {
            margin-left: 10px;
        }

        .car-bs-list .item.list-group-item .thumbnail {
            margin-bottom: 0px;
        }

        .car-bs-list .item.list-group-item .caption {
            padding: 9px 9px 0px 9px;
        }

        .car-bs-list .item.list-group-item:nth-of-type(odd) {
            background: #eeeeee;
        }

        .car-bs-list .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .car-bs-list .item.list-group-item img {
            float: right;
        }

        .car-bs-list .item.list-group-item:after {
            clear: both;
        }

.car-bs-list .list-group-item-text {
    margin: 0 0 11px;
}

/**
 *   MegaCarAds end.
 */


/**
 * Loading Spin:
 * http://tobiasahlin.com/spinkit/
 */
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

    .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #DE151D;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}





.spinner {
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.spinner {
    width: 29px;
    height: 29px;
    margin: 0 0;
    background-color: #DE151D;
    border-radius: 3px;
}

/**
 * Loading Spin.
 */

/**
 * Car Ads.
 */
.salebg {
    background: url(../Content/images/buy-sale/IRANeCAR-sale-image.jpg) top center no-repeat;
    min-height: 572px;
}

    .salebg .well {
        background: transparent url('../Content/images/bg.png') repeat;
        min-height: 250px;
        margin-top: 70px;
    }

.saleMainTitle {
    padding-top: 80px;
    margin: 0;
    color: #073c70;
}

.saleSubTitle {
    padding: 15px 0 15px 0;
}

.shortDiv {
    height: 60px;
    overflow: hidden;
    position: relative;
    padding-left: 50px;
}

.longDiv {
    position: relative;
    padding: 0;
}

.DivContinue {
    position: absolute;
    left: 4px;
    height: 50px;
    width: 50px;
    top: 0;
    bottom: auto;
}

.longDiv .DivContinue {
    bottom: 0;
    top: auto;
    left: 4px;
    position: absolute;
}

#stepThree .form-group.radios,
#stepThree .form-group.radios,
#stepTwo .form-group {
    border: 0px;
}

.shortDiv .btn span.glyphicons-ok-2,
.longDiv .btn span.glyphicons-ok-2 {
    opacity: 0;
}

.shortDiv .btn.active span.glyphicons-ok-2,
.longDiv .btn.active span.glyphicons-ok-2 {
    opacity: 1;
}

.shortDiv span.icons,
.longDiv span.icons {
    display: none;
}

.shortDiv .btn-group .btn-circle,
.longDiv .btn-group .btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 2px 0 !important;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px !important;
    margin: 5px 7px !important;
}

.adsViewTitle {
    font-size: 26px;
    padding-left: 15px;
}

.adsTimeAgo {
    line-height: 35px;
}
/*
.adsTransparentInner {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    padding: 0 0 0 30px;
}

.adsTransparentInner2 {
    background: url('../Content/images/bg_trans.png') repeat;
    height: 35px;
    width: 100%;
    bottom: 0;
    padding: 5px;
    font-size: 13px;
    line-height: 27px;
}

.adsTransparent:hover .adsTransparentInner2 {
    height: 60px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
*/


.adsTransparent {
    margin-bottom: 15px;
    overflow: hidden;
}

    .adsTransparent h2.title,
    .adsTransparent h3.price,
    .adsTransparent div.body-color,
    .adsTransparent div.mileage {
        font-size: 16px;
        margin: 2px;
    }

    .adsTransparent > a {
        width: 100%;
        height: 150px;
        background-position: 50% 50%;
        background-origin: content-box;
        background-repeat: no-repeat;
        display: block;
        background-size: cover;
    }

.adsTransparentInner {
    position: absolute;
    color: #fff;
    bottom: -28px;
    left: 15px;
    right: 15px;
    padding: 5px;
    z-index: 0;
    -webkit-transition: bottom .1s ease-out;
    -moz-transition: bottom .1s ease-out;
    -ms-transition: bottom .1s ease-out;
    -o-transition: bottom .1s ease-out;
    transition: bottom .1s ease-out;
}

.adsTransparentInnerBg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #333;
    opacity: .7;
    z-index: -1;
}

.adsTransparent:hover .adsTransparentInner {
    bottom: 0;
}


.car-bs-list .adsTransparent {
    width: 100%;
    border-bottom: 1px solid #E6EBF1;
    padding: 0 0 15px 0;
}

.car-bs-list .adsTransparentInnerBg {
    display: none;
}

.car-bs-list .adsTransparent > a {
    width: 20%;
    min-width: 200px;
    display: table-cell;
    background-position: 50% 0;
}

.car-bs-list .adsTransparentInner {
    color: inherit;
    position: initial;
    bottom: 0;
    /* top: 0; */
    /* left: 15px; */
    /* right: 15px; */
    padding: 5px 15px 5px 5px;
    z-index: 0;
    display: table-cell;
}

.car-bs-list .adsTransparent h2.title,
.car-bs-list .adsTransparent h3.price,
.car-bs-list .adsTransparent div.body-color,
.car-bs-list .adsTransparent div.mileage {
    font-size: 16px;
    margin: 2px;
    float: none;
}

.car-bs-list .adsTransparent h2.title,
.car-bs-list .adsTransparent h3.price {
    font-size: 25px;
    margin: 5px 2px;
}





#TblPackageAddForm .form-control {
    padding: 0;
}

.arrow_box {
    margin-top: 30px;
    border-top: 1px solid #aabdd1;
    position: relative;
    height: 30px;
}

.arrow_box_inner {
    background: #e6ebf1 url(../Content/images/arrow_down.png) no-repeat top center;
    height: 15px;
    position: absolute;
    top: -1px;
    width: 29px;
    left: 50%;
}

.myPageIconWrapper {
    margin-bottom: 40px;
    float: none;
}

.myPageIcon {
    margin: 0 20px;
    display: inline-block;
}

.nav-tabs-secondary > li > a.btn-primary {
    color: #fff;
    background-color: #de151d;
    border: 0;
    cursor: pointer;
    padding: 25px 13px 19px;
}

.tab-content th {
    font-weight: bold !important;
}

#typeheadwrapper {
    position: relative;
}

.clearer {
    position: absolute;
    display: none;
    top: 6px;
    left: 6px;
}

.ads-buy-more {
    position: absolute;
    left: 0;
    top: 20px;
}

#ads-home-page-widget {
    margin-bottom: 30px;
}

    #ads-home-page-widget .nav-tabs > li > a {
        font-size: 16px;
        line-height: 18px;
    }

.validation-summary-errors li {
    clear: both;
}

.zone-top-header {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.widget-top-header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .widget-top-header ul li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .widget-top-header ul li a {
            padding:0;
            margin:0;
        }