﻿.div-like-td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}

    .div-like-td:hover {
        background-color: #f4f4f4;
    }

.hover-bg-white {
    background-color: #fff;
    padding: 10px 5px !important;
    font-size: 0.8em !important;
}

.hover-visible {
    padding: 0 10px !important;
    font-size: 0.8em !important;
}

    .hover-visible a {
        color: #416faa;
    }

        .hover-visible a:hover {
            color: #de151d;
        }

.car-compare {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    float: right;
    margin: 20px 0;
}

li.col-md-4 {
    padding: 0;
}

.car-large-pic {
    position: relative;
}

.car-large-pic-hover {
    position: absolute;
    background: url('images/car-hover.png') repeat 0 0;
    color: #f9f9f9;
    width: 100%;
    height: 90px;
    padding: 15px;
}

.car-large-pic-border {
    border-left: 1px solid #dddfde;
    height: 60px;
}

.body-type-pic {
    width: 88px;
    height: 53px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.div-like-td:hover .body-type-pic {
    background-position: 0 0;
}

.tab-background {
    background-color: #f3f6f8;
    padding: 20px 0;
    width: 100%;
    float: right;
}

.car-info-data {
    position: relative;
    font-size: 1.3em;
}

.car-info-color {
    color: #bbbbbb;
}

.car-info-title {
    position: absolute;
    background: url('images/car-hover.png') repeat 0 0;
    color: #f9f9f9;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    top: 85px;
}

.car-info-title2 {
    top: 60px;
    text-align: right;
}

.car-info-title3 {
    bottom: 0px;
    top: auto;
    width: 360px;
}

.gallery-desc {
    font-size: 12px;
    font-weight: normal;
    color: gray;
}

.image-border {
    padding: 5px;
    border: 1px solid #ccc;
    width: 220px;
    height: 125px;
}

.clear {
    clear: both;
    padding-top: 10px;
}

#CarCompetitor .CarCompetitorChild {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin: 3px 0 3px 10px;
    float: right;
}

#CarCompetitor .compClose {
    color: red;
    cursor: pointer;
    float: left;
    padding: 0 5px;
}

.table {
    text-align: right !important;
}

.car-compare-title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    background-color: #ddd;
    text-align: right;
    margin-top: 15px;
}

.modal-title {
    font-size: 1.5em;
}

.car-ranking-detail {
    background-color: #f4f4f4;
    padding: 30px !important;
    margin: 15px;
}

.car-ranking-total {
    background: url('images/big_ranking.png') no-repeat 0 0;
    margin: 0 auto;
    width: 235px;
    height: 82px;
    position: relative;
    margin-bottom: 30px;
}

.car-ranking-total-text {
    position: absolute;
    color: #f7b32e;
    font-size: 1.8em;
    top: 50px;
    left: 65px;
}

.rank-title {
    margin-bottom: 15px;
    text-align: left;
}

.progress-bar {
    float: left !important;
}

.car-ranking-wrapper-absolute {
    position: absolute;
    left: 5px;
    bottom: 7px;
}

.car-ranking-wrapper-absolute-mid {
    position: absolute;
    left: 35px;
    bottom: 25px;
}

.car-ranking-wrapper {
    position: relative;
    display: inline-block;
    clear: both;
}

.car-ranking-small {
    position: absolute;
    color: #f7b32e;
    font-size: 1em;
    top: 14px;
    left: 16px;
}

.car-ranking-mid {
    position: absolute;
    color: #f7b32e;
    font-size: 2.2em;
    top: 30px;
    left: 45px;
}

.carInfoDetail {
    background: url('images/slide-bg.png') no-repeat top right;
    width: 430px;
    height: 255px;
    z-index: 1000;
    position: absolute;
    text-align: right;
    padding: 45px 35px 0 0;
    font-size: 1.5em;
}

    .carInfoDetail .faName {
        color: #ffde00;
        padding-bottom: 15px;
    }

    .carInfoDetail .enName {
        color: #ffde00;
        padding-bottom: 10px;
        text-align: left;
        padding-left: 150px;
    }

    .carInfoDetail .year {
        color: #ffde00;
        padding-bottom: 25px;
        text-align: left;
        padding-left: 110px;
    }

    .carInfoDetail .motor-power {
        color: #fff;
        direction: ltr;
        text-align: left;
        padding-left: 70px;
    }

.slide_btn {
    padding-top: 270px;
    text-align: right;
    padding-right: 310px;
}

#carinfo-carousel .carousel-indicators {
    width: auto !important;
    right: 90% !important;
    text-align: left !important;
    padding-left: 30px !important;
}

#carinfo-carousel .carousel-inner {
    position: relative;
}

#carinfo-carousel .carousel-caption {
    top: 0 !important;
    right: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* List - Group - Sort */
#sort-select {
    border: 1px solid #e5e5e5;
    width: 110px;
    height: 28px;
    color: #aaaaaa;
    line-height: 28px;
    margin: 0 10px 0 0;
}

.table-list-group {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.item.table-list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0px;
    border: 0px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 1.3em;
    text-align: center;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    min-height: 140px;
    padding: 10px;
}

    .item.table-list-group-item .img-detail,
    .item.table-list-group-item .caption-detail,
    .item.table-list-group-item .motor-detail,
    .item.table-list-group-item .power-detail,
    .item.table-list-group-item .Gear-detail {
        float: right;
        width: 20%;
        padding: 0 10px;
        display: block;
    }

    .item.table-list-group-item .car-icon {
        padding-top: 55px;
    }

    .item.table-list-group-item .Gear-title-detail {
        display: block;
    }

    .item.table-list-group-item .img-detail {
        width: 15%;
        background-color: #fff;
        min-height: 140px;
        padding-top: 10px;
    }

    .item.table-list-group-item .caption-detail {
        width: 25%;
    }

    .item.table-list-group-item:hover,
    .item.table-grid-group-item:hover {
        background: #eee;
    }

    .item.table-list-group-item .caption {
        padding: 9px 9px 0px 9px;
    }

    .item.table-list-group-item:before,
    .item.table-list-group-item:after {
        display: table;
        content: " ";
    }

    .item.table-list-group-item:after {
        clear: both;
    }

.item.table-grid-group-item {
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

    .item.table-grid-group-item .motor-detail,
    .item.table-grid-group-item .power-detail,
    .item.table-grid-group-item .Gear-title-detail {
        display: none;
    }

    .item.table-grid-group-item .car-icon {
        padding-top: 25px;
    }

@media (max-width: 991px) {

    .item.table-list-group-item {
        font-size: 1em;
    }

    .item.table-list-group-item .glyphicons{
        font-size: 20px !important;
    }

        .item.table-list-group-item .img-detail {
            width: 18%;
        }

        .item.table-list-group-item .caption-detail {
            width: 22%;
        }

}

@media (max-width: 768px) {
    .item.table-list-group-item {
        font-size: 1.3em !important;
    }

        .item.table-list-group-item .motor-detail,
        .item.table-list-group-item .power-detail,
        .item.table-list-group-item .Gear-detail,
        .item.table-list-group-item .img-detail,
        .item.table-list-group-item .caption-detail {
            width: 100%;
        }
}
