/* General */
.modal-content .page {display:none;}
.modal-content .page.initial {display:block;}
.jqmOverlay {background-color:white; opacity:0.7 !important;}
/* ZipCode Authentication Modal */
#zam_needed-content {display:none; width:567px;}
.display_content {display:block !important;}
#tam_needed-content {display:none;}
#zip-error {display:none;}
#ctam_new-customer-expanded {display:none;}
#ctam_ec-myaccount {display:none;}
#ctam_current-customer-expanded {display:none; width: 600px;}
#ctam_ec-zip {display:none;}
#ctam_ec-zip-on-file {display:none;}
#zam_zip-on-file {display:none;}
#ctam_nc-overlap {display:none;}
#ctam_ec-phonenum{display:none;}
#ctam_nc-go {margin-right:39px; margin-top:15px;} 
#ctam_ec-go {margin-bottom:0px; display:none;}
#ctam_modal .modal-block-expanded
{
	margin-left: 30px;
}
#ctam_modal .modal-block-expanded p
{
	padding-right: 16px;
}
#mam_ec-zip-on-file {display:none;}
#mam_qwest-ma-container, #mam_ctl-ma-container {display:none;}
#ctam_ec-phone-or-account {margin-left:14px;}
#ctam_phone-explanation{margin-left:15px;}
#ctam_ec-zip,#ctam_ec-zip-on-file,#ctam_current-customer-expanded #ctam_ec-myaccount,#ctam_ec-submit-tools{margin-left:20px;}
#ctam_ec-submit-tools .modal-button-go {margin-left:0px;}
#interstitial {height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index: 3999; background-color:#FFF; display:none;}
#interstitial .badge {position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top:-87px; color: #333; background-color : #fff; width:381px; height:175px;}

.interstitial-text{
	clear:both;
	text-align:center;
	margin:10px;
	min-height:50px;
}
#interstitial-logo{
	margin-left:100px;
}


span.partc{display:none;}
#interstitial-badge-image{margin-left:10px;}
.error,.modal-errors{display:none; color:#ff0000; font-weight:bold; margin-bottom:.1em;}
.modal-error-icon {background: url("/assets/images/sprites/modal_sprite.png") repeat scroll 90px -562px transparent;float: left;height: 20px;width: 20px; margin-right:5px;}
.error-text {position:relative; top:2px; color:#FF0000; font-weight:bold;}
.modal-button-go {background:url('/assets/images/sprites/go_button_sprite.png'); display:inline-block; width:80px; height:28px; margin-left:10px;margin-bottom:-9px;}
.modal-button-go:hover {background: url('/assets/images/sprites/go_button_sprite.png') 0px -30px}

.modal-button-signin {background:url('/assets/images/sprites/signin_button_sprite.png'); display:inline-block; width:80px; height:28px; float:left;}
.modal-button-signin:hover {background: url('/assets/images/sprites/signin_button_sprite.png') 0px -30px}

.modal form {background:transparent;margin: 10px 10px 10px 0px;padding: 0;}

#zam-modal  form {
	margin-left:0px;
	padding-left:0px;
	width:670px;
}
.address-block {
    float: left;
    margin: auto 5px 7px auto;
}
.unit-address-block {
    float: left;
    /* margin: auto 5px 7px auto; */
}/* 
.ctam_username {
    float: left;
    margin: auto 5px 7px auto;
}
.ctam_password {
    float: left;
    margin: auto 5px 7px auto;
} */
.modal-block-expanded_lvl2 {margin:0px;}
.modal .link-protect-info {margin-left:0px;}

#mam_qwest-links,#mam_ctl-links {display:none;}
#mam_company-links,#mam_standard-buttons {float:left;width:50%;}
#mam_company-links{text-align:right;}
.modal .remember-me {margin:0px;}

#ctam_current-customer-expanded > input {margin-left:-0px;}
#ctam_current-customer-expanded .modal-block-expanded_lvl2{margin-left:3px;}
#ctam_ec-phone-remember-me {margin-left:14px;}

#ctam_ec-zip-code {margin-bottom:5px;}
#ctam_modal{
	width: 670px;
	margin-left: -330px;
	bottom:auto !important;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	border-bottom-right-radius:5px;
	}
.ctam-active-block{background:url("/assets/images/sprites/modal_sprite.png") no-repeat scroll -377px -205px transparent}
.company-selector-container {display:none;}
#ctam_mya-instructions {display:none;}
#ctam_mya-instructions .ctam_instructions {display:none;}
#ctam_mya-instructions .enter-info{display:block;}

.company-selector-container>div {float:left; width:49%;}

#ctam_new-customer-expanded p {margin-right:20px;}
#ctam_nc-unit-number {
	width:11em;
	margin-left: 12px;
}


.input-hidden
{
	border: none;
	width: 0;
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
}

#CTAM_Dynamic_Msg
{
	margin-left:20px;
	margin-top:2px;
	display:none; 
	
}

#CTAM_Dynamic_Msg p
{
	color:#333333;	
	font-family:Arial;
	font-size:8px;
	line-height:10px;
	width:90%;
}

div.modal-content a.modal-button-go
{
	line-height: 28px;
}

a.tam_close
{
	float: left;
}

a#tam_close-button
{
	float: left;
	margin-left: 5px;
}

.ui-widget-disclaimer {background-color: #eee; border: 1px solid #888; border-radius: 5px 5px 5px 5px !important; padding: 18px 18px 5px 18px;}
.ui-widget-disclaimer .ui-widget-header {background-color: #ccc !important; border-radius: 5px 5px 0 0 !important; margin: 0; padding: 15px 25px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #bbb) ) !important;/* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #ddd 5%, #bbb 100% ) !important; /* Mozilla 16 and lower */
	/* @alternate */ background: -ms-linear-gradient(top, #ddd, #bbb) !important; /* IE9+ */
	/* @alternate */background:-webkit-linear-gradient(top, #ddd, #bbb) !important; /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #ddd, #bbb) !important; /* Opera 11 and lower */
	-pie-background:linear-gradient(#ddd , #bbb) !important; /* IE 9 */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dddddd', endColorstr='#bbbbbb') !important;/*For IE7-8-9*/

    
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
}
.ui-dialog-title h1 {
	margin-bottom: 0;
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  color: #00853f;
  font-size: 14px;
  font-weight: bold;
  text-indent: -44px;
  padding: 0 0.4em;
}
.ui-widget-disclaimer h3 {font-weight: bold; margin: 0 0 2px 0px;; font-family: Arial, Helvetica, sans-serif; font-size: 1.2em;}
.ui-widget-disclaimer p {font-family: Arial, Helvetica, sans-serif; padding-bottom: 15px;}
.ui-widget-disclaimer th {font-weight: bold; padding: 7px;}
.ui-widget-disclaimer td {padding: 7px;}
.ui-widget-disclaimer table {border-collapse: collapse;}
.ui-widget-disclaimer tbody {border: 1px solid #999}
.ui-widget-disclaimer iframe{width: 630px; height: 260px; margin:auto; padding: 0;}
.ui-widget-disclaimer  .ui-dialog-titlebar-close{width:84px;height: 24px;}
.ui-widget-disclaimer  .ui-dialog-titlebar-close:hover{background:none;border:0;}
.ui-widget-disclaimer  button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close .ui-button-icon-primary {
  background: rgba(0, 0, 0, 0) url("/assets/images/sprites/disclaimer_sprite.png") no-repeat scroll -4px -3px;
  color: #00853f;
  font-size: 14px;
  height: 22px;
  overflow: hidden;
  padding: 3px 0 0 7px;
  position: absolute;
  right: 15px;
  text-indent: 0;
  top: 0;
  width: 28px;
}

.ui-widget-disclaimer a.ui-dialog-titlebar-close.ui-corner-all .ui-icon {
    position: absolute;
    right: 15px;
    top: 0px;
    padding: 3px 0 0 19px;
    height: 22px;
    width: 66px;
    background: url(/assets/images/sprites/disclaimer_sprite.png) no-repeat 55px -5px;
    overflow: hidden;
    text-indent: 0;
    font-size: 14px;
    color: #00853F;
}
.ui-widget-overlay {
	position: fixed;
}
#dialogButton {width: 90px;margin: 13px auto;display:block;padding: 4px;font-size: 14px;cursor: pointer;}
.disclaimerContent {background-color: #fff; border: 1px solid #999; border-radius: 5px 5px 0 0; padding: 15px; font-family: Arial, Helvetica, sans-serif; font-size: 1.1em;}
.ui-dialog .ui-dialog-title {font-family: Arial, Helvetica, sans-serif; font-size: 1.7em;font-weight: bold;padding-left: 3px;}
.grayButton:link, .grayButton:visited {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ddd), color-stop(1, #999) ) !important; /* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #ddd 5%, #999 100% ) !important; /* Mozilla 16 and lower */
	/* @alternate */background:-webkit-linear-gradient(top, #ddd, #999) !important;     /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #ddd, #999) !important;     /* Opera 11 and lower */
	/* @alternate */background: -ms-linear-gradient(top, #ddd, #999) !important;/*IE9+ */
	-pie-background:linear-gradient(#ddd, #999) !important; /* IE 9 */
	background-color:#ddd !important;
	color: #fff !important;}
.grayButton:hover, .grayButton:active {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #888) ) !important;/* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #ccc 5%, #888 100% ) !important; /* Mozilla 16 and lower */
	/* @alternate */ background: -ms-linear-gradient(top, #ccc, #888) !important; /* IE9+ */
	/* @alternate */background:-webkit-linear-gradient(top, #ccc, #888) !important; /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #ccc, #888) !important; /* Opera 11 and lower */
	-pie-background:linear-gradient(#ccc , #888) !important; /* IE 9 */
	background-color:#ccc !important;
	color: #ddd !important;
}

/* styles added for GAMUT:PROD503 changes */
.ui-widget-disclaimer-fixed-popup {
	height: 393px !important;
	position: fixed !important;
	top: 100px !important;
	left: 50% !important;
	margin: 0 0 0 -335px !important;
	overflow: hidden !important;
	z-index:999;
	padding: 0px;
}
#ui-dialog-title-disclaimerModal > h1 {
	margin-bottom: 0;
}
.ui-widget-disclaimer .ui-dialog-content {
    height: auto !important;
}


/*styles for med + viewport */

	div.modal-top-responsive {
		background-color : #ccdfa2;
		background-image : none;
		border-top-left-radius : 5px;
		border-top-right-radius : 5px;
		width : 406px;
		height : 35px;
		border-bottom : 1px solid #999;
		text-align : center;
		font-weight : bold;
		padding-top : 10px;
	}
	div.modal-content-responsive {
		background-color : #fff;
		background-image : none;
		width : 406px;
		padding : 25px 20px 30px 20px;
	}
	div.modal-bottom-responsive {
		background-color : #fff;
		background-image : none;
		border-bottom-left-radius : 5px;
		border-bottom-right-radius : 5px;
		height : 15px;
		margin-top : -1px;
	}
	/*div.modal-block-responsive {
		background-color : #eee;
		border-radius : 5px;
		padding-top : 8px;
		padding-bottom : 10px;
		border : 1px solid #ccc;
		margin-bottom : 12px;
	}*/

/* Interstitial rotating balls */



#ballsWaveG{
	position:relative;
	width:125px;
	height:29px;
	margin:auto;
}

.ballsWaveG{
	position:absolute;
	top:0;
	background-color:rgb(255,255,255);
	border:2px solid #c6cec5;
	width:14px;
	height:14px;
	animation-name:ballsWaveG;
		-o-animation-name:ballsWaveG;
		-ms-animation-name:ballsWaveG;
		-webkit-animation-name:ballsWaveG;
		-moz-animation-name:ballsWaveG;
	animation-duration:2.67s;
		-o-animation-duration:2.67s;
		-ms-animation-duration:2.67s;
		-webkit-animation-duration:2.67s;
		-moz-animation-duration:2.67s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:8px;
		-o-border-radius:8px;
		-ms-border-radius:8px;
		-webkit-border-radius:8px;
		-moz-border-radius:8px;
}

#ballsWaveG_1{
	left:0;
	animation-delay:1.07s;
		-o-animation-delay:1.07s;
		-ms-animation-delay:1.07s;
		-webkit-animation-delay:1.07s;
		-moz-animation-delay:1.07s;
}

#ballsWaveG_2{
	left:23px;
	animation-delay:1.33s;
		-o-animation-delay:1.33s;
		-ms-animation-delay:1.33s;
		-webkit-animation-delay:1.33s;
		-moz-animation-delay:1.33s;
}

#ballsWaveG_3{
	left:46px;
	animation-delay:1.6s;
		-o-animation-delay:1.6s;
		-ms-animation-delay:1.6s;
		-webkit-animation-delay:1.6s;
		-moz-animation-delay:1.6s;
}

#ballsWaveG_4{
	left:69px;
	animation-delay:1.87s;
		-o-animation-delay:1.87s;
		-ms-animation-delay:1.87s;
		-webkit-animation-delay:1.87s;
		-moz-animation-delay:1.87s;
}

#ballsWaveG_5{
	left:92px;
	animation-delay:2.13s;
		-o-animation-delay:2.13s;
		-ms-animation-delay:2.13s;
		-webkit-animation-delay:2.13s;
		-moz-animation-delay:2.13s;
}



@keyframes ballsWaveG{
	0%{
		background-color:#8bc53e;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:#8bc53e;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:#8bc53e;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:#8bc53e;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:#8bc53e;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
#interstitial .badgeabq {
position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -220px;
    margin-top: -107px;
    color: #333;
    background-color: #fff;
    width: 461px;

}
.Find {
    font-size: 30px;
    color: #00835F;
}
.floatingBarsGABQ {
    overflow: auto;

    position: relative;
    width: 126px;
    height: 144px;
    margin: auto;
}
.pleaseverify {
    color: #666666;
    font-size: 18px;
}


/* end interstitial rotating balls */
/*spinner*/
.int1, .Content1, .Container1,.int2, .Content2, .Container2,.int3, .Content3, .Container3,.int3, .Content3, .Container3{
	overflow:visible;
}
.floatingBarsG{
overflow: auto;
left: 600px;
top: 485px;
position: absolute;
width: 126px;
height: 144px;
margin: auto;
}
.floatingBarsGabq{
    overflow: auto;
    left: 8px;
    top: 435px;
    position: relative;
    width: 126px;
    height: 944px;
    margin: auto;

}
.floatingBarsG2{
    overflow: auto;
    left: 8px;
    top: 435px;
    position: relative;
    width: 126px;
    height: 944px;
    margin: auto;

}
.floatingBarsG3{
overflow: auto;
left: -8px;
top: 365px; 
position: relative;
width: 126px;
height: 144px;
margin: auto;
}
.floatingBarsG4{
overflow: auto;
left: 307px;
top: 425px;
width: 126px;
height: 144px;
margin: auto;
margin-top:0px;
padding-bottom:20px;
margin-left:15px;   
position:absolute;
}

.blockG{

	position:absolute;
	background-color:rgb(218,250,173);
	width:10px;
	height:35px;
	border-radius:15px;
		-o-border-radius:15px;
		-ms-border-radius:15px;
		-webkit-border-radius:15px;
		-moz-border-radius:15px;
	transform:scale(0.4);
		-o-transform:scale(0.4);
		-ms-transform:scale(0.4);
		-webkit-transform:scale(0.4);
		-moz-transform:scale(0.4);
	animation-name:fadeG;
		-o-animation-name:fadeG; 
		-ms-animation-name:fadeG;
		-webkit-animation-name:fadeG;
		-moz-animation-name:fadeG;
	animation-duration:2.25s;
		-o-animation-duration:2.25s;
		-ms-animation-duration:2.25s;
		-webkit-animation-duration:2.25s;
		-moz-animation-duration:2.25s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#rotateG_01, .one{
	left:13px;
	top:48px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	transform:rotate(-90deg);
		-o-transform:rotate(-90deg);
		-ms-transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
		-moz-transform:rotate(-90deg);
}

#rotateG_02, .two{
	left:20px;
	top:29px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	transform:rotate(-60deg);
		-o-transform:rotate(-60deg);
		-ms-transform:rotate(-60deg);
		-webkit-transform:rotate(-60deg);
		-moz-transform:rotate(-60deg);
}

#rotateG_03,.three{
	left:35px;
	top:16px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	transform:rotate(-30deg);
		-o-transform:rotate(-30deg);
		-ms-transform:rotate(-30deg);
		-webkit-transform:rotate(-30deg);
		-moz-transform:rotate(-30deg);
}

#rotateG_04, .four{
	left:55px;
	top:9px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}

#rotateG_05, .five{
	left:75px;
	top:16px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	transform:rotate(30deg);
		-o-transform:rotate(30deg);
		-ms-transform:rotate(30deg);
		-webkit-transform:rotate(30deg);
		-moz-transform:rotate(30deg);
}

#rotateG_06, .six{
	left: 90px;
    top: 30px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	transform:rotate(60deg);
		-o-transform:rotate(60deg);
		-ms-transform:rotate(60deg);
		-webkit-transform:rotate(60deg);
		-moz-transform:rotate(60deg);
}

#rotateG_07, .seven{
	left: 96px;
    top: 48px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	transform:rotate(90deg);
		-o-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		-moz-transform:rotate(90deg);
}

#rotateG_08, .eight{
	left: 91px;
    top: 70px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	transform:rotate(120deg);
		-o-transform:rotate(120deg);
		-ms-transform:rotate(120deg);
		-webkit-transform:rotate(120deg);
		-moz-transform:rotate(120deg);
}
#rotateG_09, .nine{
	left: 76px;
    top: 85px;
	animation-delay:1.65s;
		-o-animation-delay:1.65s;
		-ms-animation-delay:1.65s;
		-webkit-animation-delay:1.65s;
		-moz-animation-delay:1.65s;
	transform:rotate(150deg);
		-o-transform:rotate(150deg);
		-ms-transform:rotate(150deg);
		-webkit-transform:rotate(150deg);
		-moz-transform:rotate(150deg);
}
#rotateG_10, .ten{
	left: 55px;
    top: 91px;
	animation-delay:1.8s;
		-o-animation-delay:1.8s;
		-ms-animation-delay:1.8s;
		-webkit-animation-delay:1.8s;
		-moz-animation-delay:1.8s;
	transform:rotate(0deg);
		-o-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
}
#rotateG_11, .eleven{
	left: 35px;
    top: 85px;
	animation-delay:1.95s;
		-o-animation-delay:1.95s;
		-ms-animation-delay:1.95s;
		-webkit-animation-delay:1.95s;
		-moz-animation-delay:1.95s;
	transform:rotate(30deg);
		-o-transform:rotate(30deg);
		-ms-transform:rotate(30deg);
		-webkit-transform:rotate(30deg);
		-moz-transform:rotate(30deg);
}
#rotateG_12, .twelve{
	left: 20px;
    top: 70px;
	animation-delay:2.1s;
		-o-animation-delay:2.1s;
		-ms-animation-delay:2.1s;
		-webkit-animation-delay:2.1s;
		-moz-animation-delay:2.1s;
	transform:rotate(60deg);
		-o-transform:rotate(60deg);
		-ms-transform:rotate(60deg);
		-webkit-transform:rotate(60deg);
		-moz-transform:rotate(60deg);
}
@keyframes fadeG{
	0%{
		background-color:rgb(138,197,62);
	}

	100%{
		background-color:rgb(218,250,173);
	}
}

@-o-keyframes fadeG{
	0%{
		background-color:rgb(138,197,62);
	}

	100%{
		background-color:rgb(218,250,173);
	}
}

@-ms-keyframes fadeG{
	0%{
		background-color:rgb(138,197,62);
	}

	100%{
		background-color:rgb(218,250,173);
	}
}

@-webkit-keyframes fadeG{
	0%{
		background-color:rgb(138,197,62);
	}

	100%{
		background-color:rgb(218,250,173);
	}
}

@-moz-keyframes fadeG{
	0%{
		background-color:rgb(138,197,62);
	}

	100%{
		background-color:rgb(218,250,173);
	}
}   
/* styles for new CTAM US832*/
/* all */
.modal ::-webkit-input-placeholder { font-style:italic !important; opacity:inherit !important;}
.modal ::-moz-placeholder { font-style:italic !important; opacity:inherit !important;} /* firefox 19+ */
.modal :-ms-input-placeholder { font-style:italic !important; opacity:inherit !important;} /* ie */
.modal input:-moz-placeholder { font-style:italic !important; opacity:inherit !important;}
.ctam-myaccount-form{
  margin: 0px 10px 10px 0px !important;
  padding-bottom:15px;
}
.ctam_modal {
	width: 670px !important;
	height: 450px !important;
}
#zam-modal {
	width:670px !important;
	margin-left:-290px;
	bottom:auto !important;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.35);
	border-bottom-right-radius:5px;
}
.modal-wrapper {
  margin-bottom: -2px;
  height:52px;
}
div.modal-leftsnipe {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -71px -11px;
  height: 52px;
  float: left;
  width: 40px;
}
div.modal-middlesnipe {
  background: transparent url("/assets/images/sprites/ctam_snipe.png") repeat-x scroll 0 0;
  float: left;
  height: 52px;
  width: 590px;
}
div.modal-rightsnipe {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -178px -11px;
  float: right;
  height: 52px;
  width: 40px;
}
div.zam-modal-top-content {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  height: 17px !important;
  padding: 15px 58px;
  position: absolute;
  text-align: left;
  width: 670px !important;
  z-index:1;
}
div.nc-modal-top-content {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  height: 17px !important;
  padding: 15px 35px;
  position: absolute;
  text-align: left;
  width: 670px !important;
  z-index:1;
}
div.ec-modal-top-content {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  height: 17px !important;
  padding: 15px 35px;
  position: absolute;
  text-align: left;
  width: 670px !important;
  z-index:1;
}
.zam_modal-close {
  color: #00853F;
  float: right;
  font-size: 14px;
  margin-right: 74px;
  padding-right: 25px;
  position:relative;
}
.modal-signin {
  color: #00853F;
  float: right;
  font-size: 14px;
  margin-right: 85px;
  padding-right: 25px;
  position:relative;
}
.modal-signup {
  color: #00853F;
  float: right;
  font-size: 14px;
  margin-right: 113px;
  padding-right: 24px;
  position:relative;  
}
.nc-modal-signin-arrow {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -76px -66px;
  display: block;
  float: right;
  height: 27px;
  margin-right: -228px;
  margin-top: -6px;
  width: 28px;
}
.ec-modal-signin-arrow {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -76px -66px;
  display: block;
  float: right;
  height: 27px;
  margin-right: -142px;
  margin-top: -6px;
  width: 28px;
}
.zam-modal-btn-close {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -8px -5px;
  display: block;
  float: right;
  height: 20px;
  margin-right: -70px;
  margin-top: 3px;
  vertical-align: bottom;
  width: 20px;
}
.nc-modal-btn-close {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -8px -5px;
  display: block;
  float: right;
  height: 20px;
  margin-right: -257px;
  margin-top: 3px;
  vertical-align: bottom;
  width: 20px;
}
.ec-modal-btn-close {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -8px -5px;
  display: block;
  float: right;
  height: 20px;
  margin-right: -200px;
  margin-top: 3px;
  vertical-align: bottom;
  width: 20px;
}
.info-close {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -8px -5px;
  display: block;
  float: right;
  height: 20px;
  margin-right: -70px;
  margin-top: 3px;
  vertical-align: bottom;
  width: 20px;
}
.acct-close {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -8px -5px;
  display: block;
  float: right;
  height: 20px;
  margin-right: -70px;
  margin-top: 3px;
  vertical-align: bottom;
  width: 20px;
}
#zam-modal-p {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: -15px;
  padding: 0 15px;
  color:#000000;
}
#nc-modal-p {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0 15px;
  color:#000000;
}
#ec-modal-p {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 0;
  padding: 0 15px;
  color:#000000;
}

div.modal-body {
  background-color: #f6f6f6;
  background-image: none;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  padding: 25px 20px 30px;
  border-right: 1px solid black;

}
.modal-container {
  background: white;
  border: 2px inset #000000;
  border-radius: 5px;
  margin-left: 15px;
  min-height: 160px;
  width: 600px;
}
#btnWrapperNC {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
  display: block;
  float: left;
  margin-left: -20px;
  margin-top: 83px;
  position: absolute;
  width: 596px;
  height:63px;
} 
#btnWrapperEC {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
  display: block;
  float: left;
  height: 58px;
  margin-left: -15px;
  margin-top: 6px;
  position: absolute;
  width: 596px;
}
#ec-ctam-acct{
  margin-top: -15px;
}
#ec-ma-submit {
  margin-right: 10px;
  margin-top: 12px;  
}
.label {
  font-size: 14px !important;
  line-height: 1.5em;
  color:#000000;
  font-family:Arial;
  font-weight:normal;
}
#zam_zip .zaminputText {
	position:relative !important;
	top:-4px !important;
}
.zaminputText {
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 27em;
  font-size:14px;
  color:#000;
 }
.inputText {
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  width: 28em;
  font-size:14px;
  color:#000;  
 }
 .inputUser {
  padding: 8px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  width: 19em;
  font-size:14px;
  color:#000;  
 }
.inputPassword {
  padding: 8px 10px;
  margin: 6px 0;
  box-sizing: border-box;
  width: 19em;
  font-size:14px;
  color:#000;  
 }
 .ctam_username {
  width: 23em;
  color:#999999;
 }
 .ctam_password {
  width: 23em;
  float: right;
  margin-top: -59px;
  color:#999999;  
  margin-right:18px;
 }

.contButton {
  display: block;
  padding-bottom: 8px;
  padding-top: 6px;
  text-align: center;
  height: 35px; 
  width: 125px;
  clear: both;
  border:none ! important;
  cursor:pointer;
  float:right;
}
.contButton, .contButton:focus, .contButton:visited {
  background-color: #ff8b19;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.contButton:hover{
  background-color: #cc6600;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
#ec-modal-p a {
	color:#00853F !important;
}
#containerContent a {
	color:#00853F !important;
}
#zam_zip input:focus {
  outline:none;
  border-color:#8CC63F;
  box-shadow:0 0 0px #8CC63F;
  border: 3pt solid #8CC63F;
  margin-bottom: 2px;
}
#ctam_existing-customer #ec-ctam-acct #ma-container {
	margin-top: -15px !important;
}
#ctam_existing-customer #ec-ctam-acct .label {
	font-size: 14px !important;
}
#aUsername {
	color:#00853F !important;
}
#aPassword {
	color:#00853F !important;
}
#ctam_existing-customer #ec-ctam-acct .ctam_password .label {
	font-size: 14px !important;
}
#ctam_existing-customer #ctam_current-customer-expanded {
	margin: -10px 15px !important;
}
#zam_zip .label {
	font-size:14px !important;
}
#ctam_new-customer #ctam_new-customer-expanded{
	margin-left: 20px;
}
.address-block .label {
	font-size:14px !important;
}
.unit-address-block .label {
	font-size:14px !important;
	margin-left: 11px !important;
}
.address-block .loading{
	top:39px !important; 
	right:4px !important;
}
.address-block input:focus {
  outline:none;
  border-color:#8CC63F;
  box-shadow:0 0 0px #8CC63F;
  border: 3pt solid #8CC63F;
}
.unit-address-block input:focus {
  outline:none;
  border-color:#8CC63F;
  box-shadow:0 0 0px #8CC63F;
  border: 3pt solid #8CC63F;
}
.ctam_username input:focus {
  outline:none;
  border-color:#8CC63F;
  box-shadow:0 0 0px #8CC63F;
  border: 3pt solid #8CC63F;
  margin-bottom:4px;
}
.ctam_password input:focus {
  outline:none;
  border-color:#8CC63F;
  box-shadow:0 0 0px #8CC63F;
  border: 3pt solid #8CC63F;
  margin-bottom:4px;
}
#ctam_nc-sfaddress {
	width:28em; 
	color:#888;
	border-radius: 0px;
}
#protectInfo {
	margin-left: 36px;
    margin-top: 10px;
	font-size: 12px;
}
#divInfo {
	background: none;
	border-radius: 9px 9px 0 0;
	height: 20px;
	margin-left: -10px;
	padding-top: 6px;
}
.divTab {
	box-shadow:1px -1px 1px rgba(0,0,0,0.15);
	margin-top:5px;
}
#protectInfo-a{
	color: #00853F;
	padding-left: 7px;
}
#infoClose{
	background: transparent url("/assets/images/sprites/ctam_close.png") no-repeat scroll 0 0;
	margin-left: -10px;
	padding-right: 7px;
	padding-top: 3px;
	display: none;
}
#acctClose{
	background: transparent url("/assets/images/sprites/ctam_close.png") no-repeat scroll 0px 0px;
	margin-left: 268px;
	padding-top: 27px;
	display: none;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
#acctClose{
	background: transparent url("/assets/images/sprites/ctam_close.png") no-repeat scroll 0px 0px;
	margin-left: 274px;
	padding-top: 27px;
	display: none;
}
}
.showClose {
	display:inline !important;
}
#protectAcct {
	margin-left: 356px;
    margin-top: -14px;
	font-size: 12px;
	padding-right: 11px;
}
#divAcct {
	background: none;
	border-radius: 9px 9px 0 0;
	height: 26px;
	margin-left: 12px; 
}
#protectAcct-a{
	color: #00853F;
	display: none;
	margin-top: -3px;
}
#protectContent {
	margin-left: 0px;
	font-size: 12px;
	display:none;
	height:90px;
}
#contentAcct {
	margin-left: 0px;
    margin-top: -7px;
	margin-bottom: -7px;
	font-size: 12px;
	display:none;
	height:110px;
}

#zam_zip {
	margin-left: 20px;
}
#zam_help {
	margin-left: 36px;
    margin-top: 15px;
	font-size: 12px;
}
#zam_needed {
  border-radius: 9px 9px 0 0;
  float: left;
  font-size: 12px;
  margin-left: 100px;
  margin-top: -24px;

} 
#zam_needed ul {
	margin:10px auto 0px auto;
}
#contentAcct .ctam_close {
	float:none !important;
}
#zam_needed .tab-links {
	padding-left:3px !important;
}
.zamTab {
	box-shadow:1px -1px 1px rgba(0,0,0,0.15);
	background: white;
}
.zamCTA {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
  display: block;
  float: left;
  height: 63px;
  margin-left: 0px;
  margin-top: -6px;
  position: absolute;
  width: 596px;
}
.zam-CTA,
.zam-CTA:focus,
.zam-CTA:hover,
.zam-CTA:visited {
	border-radius : none;
	color : #fff;
	background-color : #ff8b19;
	font-size : 16px;
	font-weight : bold;
	text-decoration : none;
}
.zam-CTA {
	display : block;
	width : 140px;
	float: right;
  margin-right: 10px;
  margin-top: 14px;
	text-align : center;
	padding-top : 10px;
	padding-bottom : 10px;
}
#zam_help-a {
	color: #00853F;
}
#zam_needed-link {
	color: #00853F;
}

.zam-modal-top-content {
	padding: 24px 35px !important;
	margin-top:-10px !important;
}
#zam_zip .label {
  margin-left:0px;
	margin-bottom:5px;
}
#zam_zip .zaminputText {
  top: -10px !important;
}

.zam_tab-content {
  margin-top: -11px !important;
}
.zam_modal-close {
  margin-right: -15px;
}
#zam_close_link {margin-right: 50px;}
#protectAcct-a{padding-right:26px;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
#protectAcct-a{padding-right:36px;}
}
div.modalNew .nc-modal-top-content {
	padding: 24px 35px !important;
	margin-top:-10px;
}
div.modalNew .ec-modal-top-content {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  height: 17px !important;
  padding: 22px 35px;
  position: absolute;
  text-align: left;
  width: 670px !important;
  z-index:1;
  margin-top:-7px;
}
div.modalNew .modal-middlesnipe {
  background: transparent url("/assets/images/sprites/ctam_snipe.png") repeat-x scroll 0 0;
  float: left;
  height: 52px;
}
div.modalNew .modal-rightsnipe {
  background: transparent url("/assets/images/sprites/ctam_sprite.png") no-repeat scroll -178px -11px;
  float: right;
  height: 52px;
}
div.modalNew .modal-signin { margin-right: 19px;}
div.modalNew .modal-signup { margin-right: 49px;}
div.modalNew .address-block .label {
	margin-left:-136px !important;
	padding:0px !important;
}

div.modalNew  .unit-address-block .label {
	margin-left:-30px !important;
	padding:0px !important;
}
div.modalNew #ctam_nc-unit-number {
	width:10em !important;
}
/* div.modalNew .ctam_password {
  margin-top: -76px;
} */
div.modalNew #btnWrapperEC {
  background: #eeeeee none repeat scroll 0 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
  display: block;
  float: left;
  height: 58px;
  margin-left: -15px;
  margin-top: 3px;
  position: absolute;
  width: 596px;
}
div.modalNew #protectAcct-a {
  margin-top: -9px;
padding-left: 3px !important;
}
div.modalNew #divAcct {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 9px 9px 0 0;
  height: 20px;
  margin-left: -7px;
  margin-top: 10px;
  padding:4px;
}
div.modalNew #acctClose {
  margin-left: -18px;
  padding-top: 3px;
}
div.modalNew #inputGap {
	margin-top:5px;
}
div.modalNew #protectAcct-a {padding-right:20px;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
div.modalNew #protectAcct-a {padding-right:28px;}
div.modalNew .inputUser{
	margin:-3px 0px 3px 0px;
}
}
div.modalNew .ctam_username .label {
	margin-left:-67px !important;
	padding:0px !important;
	margin-top: -5px;
}
div.modalNew .ctam_password .label {
	margin-left:-72px !important;
	padding:0px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
div.modalNew .ctam_password .label {
	padding:6px;
}
}

div.modalNew .inputText {
	margin:0px !important;
}
div.modalNew .inputPassword{
	margin:3px 0 0;
}
div.modalNew .inputPassword:focus{
	margin:2px;
}
div.modalNew .inputUser{
	margin:4px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
div.modalNew .inputPassword{
	margin:-9px 0 0;
}
div.modalNew .inputPassword:focus{
	margin:-13px 0px 0px 0px;
}
div.modalNew .inputUser:focus{
	margin:-6px 0px 0px 0px;
}
div.modalNew #btnWrapperEC {
	margin-top:5px;
}
div.modalNew .ctam_username .label {
	margin-top: 0px;
}
div.modalNew .inputUser{
	margin:-3px 0px 3px 0px;
}
}
div.modalNew .ctam_password {
	margin-top: -66px;
}
/* div.modalNew #ctam_nc-go {
  margin-right: 29px !important;
  margin-top: 28px !important;
} */
div.modalNew #divInfo {
  margin-left: -25px;
  padding-top: 4px;
  margin-top:10px;
}
#inputGap {
	margin-top: 5px;
	position: absolute;
	width: 105px;
	margin-left:2px;
}
#inputGap2 {
  float: right;
  margin-right: 188px;
  margin-top: 5px;
  width: 105px;
}
/*End of styles for new CTAM US832*/
/*Styles for modal tab  */

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
	margin-top: -10px;
	margin-bottom:-33px;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
		padding-left: 10px;
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links div a {
            padding:9px 15px;
            border-radius:3px 3px 0px 0px;
            font-size:12px;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links div a:hover {   
            text-decoration:none;
        }
 
    li div.active a, li div.active a:hover {
        background:none;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
  .zam_tabContainer {
	  box-shadow:0px 0px 2px rgba(0,0,0,0.15);
	  background:white;
  }
    .zam_tab-content {
		
		width: 567px;
        padding:10px;
		margin-left: 15px;
		margin-top: -36px;
		
    }	
  .tabContainer {
	  box-shadow:0px 0px 2px rgba(0,0,0,0.15);
	  background:white;
  }
    .tab-content {
		
		width: 567px;
        padding:15px;
		margin-left: 15px;
		margin-top: -36px;
		
    }
 
    
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

		

/*End of styles for modal tab  */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
.ctam_password{
  margin-top:-62px;
}
#btnWrapperEC {
	margin-top:-6px;
}
/* Safari only override */
::i-block-chrome,a#acctClose.showClose {
 padding-top: 3px;
}
}