body, div, td, span, h1, h2, h3, h4, li
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000;
	line-height: 1.2em;
}
div, a{overflow:hidden;}
a img{border:0;}
a, a:visited{
	text-decoration:none;
	color:#666;
	outline:none;
	cursor: pointer;
}

a:hover
{
	text-decoration:underline;
	color: #666666;
}
a:active{
	color:#00853F;
}
h1{
	font-size:28px;
	margin-bottom:10px;
}
h2{
	font-size:22px;
	color:#00853F;
	margin-bottom:10px;
}
h2 a{
	font-size:22px;
	color:#00853F;
	margin-bottom:10px;
}
h3{
	font-size:18px;
}
h4{
	font-weight:bold;
}
sup{
	font-size:smaller;
	vertical-align: baseline;
	position: relative;
	bottom: 0.3em;
}
sub {
	font-size: smaller;
	vertical-align: baseline;
	position: relative;
	bottom: -0.25em;
}
ul{
	list-style-type:disc;
	padding-left:20px;
	margin:10px auto 10px auto;
}
ul li{
	margin-bottom:7px;
}
ul.no-bullets{
	list-style-type:none;
	padding-left:0;
	margin:10px auto 10px auto;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.disclaimer{
	color:#666;
	font-size:10px;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.vertical-top{
	vertical-align:top;
}
.border-right{
	border-right: 1px solid #CCC;
	padding-right: 30px;
}
strong, .bold
{
	font-weight: bold;
}
.last{ margin-right:0}
.price{
	color:#00853F;
	font-size:22px;
	text-align:center;
	margin:auto;
	font-weight:bold;
}
.price-large{
	color:#00853F;
	font-size:44px;
	text-align:center;
	margin:auto;
	font-weight:bold;
	height:44px;
}
.price-large sup{
	bottom: 0.5em;
	font-size:.6em;
}
.mboxDefault{height:0;}
/*------------------------Buttons----------------------*/
.button{
	font-size:0;
	display:block;
	background:url('/assets/images/sprites/template.png') no-repeat;
	float:left;
	margin:auto 5px auto 5px;
}
.btn-quick-billpay{
	background-position:-751px -1087px;
	width:123px;
	height:59px;
}
.btn-myaccount-signin{
	background-position:0 -533px;
	height:28px;
	width:170px;
}
.btn-myaccount-signin:hover{
	background-position:0 -563px;
}
.btn-learn-more{
	background-position:-174px -533px;
	height:28px;
	width:98px;
}
.btn-learn-more:hover{
	background-position:-174px -563px;
}
.btn-arrow{
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat scroll -205px -249px transparent;
  /* position: absolute; */
	height: 30px;
    width: 26px;
	position:relative;
	float: right;
	right: 30px;
}
.btn-bundle{
	background-position:-279px -533px;
	height:28px;
	width:130px;
}
.btn-bundle:hover{
	background-position:-279px -563px;
}
.btn-start-now{
	background-position:-414px -533px;
	height:28px;
	width:88px;
}
.btn-start-now:hover{
	background-position:-414px -563px;
}
.btn-continue{
	background-position:-507px -533px;
	height:28px;
	width:88px;
}
.btn-continue:hover{
	background-position:-507px -563px;
}
.btn-check-avail{
	background-position:-602px -533px;
	height:28px;
	width:139px;
}
.btn-check-avail:hover{
	background-position:-602px -563px;
}
.btn-start-here{
	background-position:-745px -533px;
	height:28px;
	width:88px;
}
.btn-start-here:hover{
	background-position:-745px -563px;
}
.btn-get-started{
	background-position:-840px -533px;
	height:28px;
	width:98px;
}
.btn-get-started:hover{
	background-position:-840px -563px;
}
.btn-green-arrow{
	background-position:-307px -602px;
	height:20px;
	width:18px;
}
.btn-go-to-offer{
	background-position:0 -630px;
	height:28px;
	width:88px;
}
.btn-go-to-offer:hover{
	background-position:0 -663px;
}
.btn-search{
	background-position:-94px -630px;
	height:28px;
	width:88px;
}
.btn-search:hover{
	background-position:-94px -663px;
}
.btn-c2c{
	background-position:-188px -630px;
	height:28px;
	width:132px;
}
.btn-c2c:hover{
	background-position:-188px -663px;
}
.btn-start-over{
	background-position:-326px -630px;
	height:28px;
	width:88px;
}
.btn-start-over:hover{
	background-position:-326px -663px;
}
.btn-add-to-cart{
	background-position:-418px -630px;
	height:28px;
	width:98px;
}
.btn-add-to-cart:hover{
	background-position:-418px -663px;
}
.btn-select{
	background-position:-522px -630px;
	height:28px;
	width:88px;
}
.btn-select:hover{
	background-position:-522px -663px;
}
.btn-twitter-icon{
	background-position:-407px -488px;
	height:25px;
	width:26px;
}
.btn-facebook-icon{
	background-position:-317px -489px;
	height:25px;
	width:25px;
}
.btn-youtube-icon{
	background-position:-346px -488px;
	height:24px;
	width:58px;
}
.btn-feedback-icon{
	background-position:-491px -487px;
	height:32px;
	width:102px;
}
.btn-get-atease{
	background-position:-618px -630px;
	height:33px;
	width:230px;
}
.btn-get-atease:hover{
	background-position:-618px -663px;
}

.learn-more
{
	color: #00853F;
	position: relative;
	padding-left: 20px;
	padding-top: 2px;
}
.learn-more:before
{
	position: absolute;
	left: 0;
	top: 0;
	height: 17px;
	width: 17px;
	content: ' ';
	background: url('/assets/images/sprites/template.png') no-repeat -470px -488px;
}

/*------------------------End Buttons------------------*/

/*------------------Navigation Bar Styles-------------------*/
.nav-bar{
	height:26px;
	width:964px;
	margin-bottom:0;
	z-index:999;
	position:relative;

}
.nav-bar a,
.nav-bar a:visited,
.nav-bar a:active,
#tpl_nav-bmg a,
#tpl_nav-smb a
{
	color:#333333;
	display:block;
	float:left;
}

.nav-bar a:hover, #tpl_nav-bmg a:hover ,#tpl_nav-smb a:hover
{
	color:#333333;
}

.business-group-nav
{
	height:20px;
	margin: -6px 0px 0px 0px;
	z-index:999;
}

/*** ESSENTIAL STYLES ***/
.sf-menu
{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.sf-menu li,
.sf-menu a
{
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu ul
{
	position:		absolute;
	top:			-999em;
	width:			100%;
}

.sf-menu a
{
	padding-top: .15em;
	display: block;
	position: relative;
	float: left;
}

.sf-menu li {
	float:			left;
	position:		relative;
}

.sf-menu li:hover ul
{
	left:			0;
	top:			2em;
	z-index:		99;
}

.business-group-nav li li
{
	margin-left:10px;
}
.business-group-nav .heading
{
	font-weight:bold;
	margin-left:0;
	color:#666;
	margin-top:10px;
}

.nav-bar,
.nav-bar div,
.nav-bar ul,
.nav-bar li
{
	overflow: visible;
}

.business-group-nav li a
{
	width:auto;
	color:#666;
	line-height:20px;
	text-align:left;
}
.business-group-nav li a:hover
{
	text-decoration: underline;
}
.business-group-nav li a
{
	font-size: 18px;
	text-decoration: none;
	margin: 0 10px 0 -8px;
	font-weight: normal;
	font-family:Arial;
}

#tpl_nav-smb
{
	width: 125px;
}

#tpl_nav-smb li
{
	margin-left: 0;
}

#tpl_nav-res a
{
	margin-left: 31px;
	margin-right: 40px;
	font-weight: bold;
	color: #00853F;
	text-decoration: none;
}

/*--------------------RES Subnav----------------------*/
.subnav-bar
{
	margin-top:0;
	height:35px;
	width:964px;
	position:relative;
	z-index:998;
	margin-bottom:15px;
	background:url('/assets/images/sprites/global_nav_sprite_bg.png') repeat-x;
}

.subnav-bar,
.subnav-bar div,
.subnav-bar ul,
.subnav-bar li
{
	overflow: visible;
}

.level1-nav-links
{
	float: left;
	width: 720px;
	height: auto;
	padding: 6px 6px 6px 4px;
	z-index: 999;
}

.level1-nav-links .subnav-current a { color: #00853F; font-weight: bold; }
.level1-nav-links .subnav-current li a { font-weight: normal; }

.level1-nav-links ul ul
{
	width: 236px;
	padding-bottom: 12px;
	min-height: 30px;
	margin-top: -3px;
	margin-left: -1px;
	z-index: 999;
}
.level1-nav-links ul ul:after
{
	position: absolute;
	content: " ";
	bottom: 0;
	left: -1px;
	height: 30px;
	width: 235px;
	display: block;
	z-index: 999;
	background: transparent url('/assets/images/sprites/global-header.png') 0 -440px no-repeat;
}

.level1-nav-links ul ul a
{
	border: 0;
	color: #00853F;
	padding-left: 25px;
	z-index: 9999;
}

.level1-nav-links ul ul li
{
	background: transparent url('/assets/images/templates/subnav-dd-bg-mid.png') -1px 0 repeat-y;
	width: 236px;
	border: 0;
	margin: 0;
	padding-bottom: 3px;
	padding-top: 5px;
	min-height: 15px;
	clear: both;
}
.level1-nav-links ul ul .first
{
	padding-top:15px;
}

.level1-nav-links a
{
	margin-top: -4px !important;
	padding: 8px 0px 0px 27px;
	line-height: 16px;
	color: #333333;
	z-index: 1;
	float: left;
	font-weight: normal;
	font-size: 14px;
	font-family:Arial;
}
.level1-nav-links a:hover {
	color: #333;
}
.level1-nav-links li
{
	padding-bottom: 5px;
}

.level1-nav-links .last
{
	border-right: 0;
}

.sf-menu a.level2-nav-links:before
{
	position: absolute;
	content: " ";
	left: 11px;
	top: 11px;
	width: 6px;
	height: 10px;
	z-index:9999;
	background: url('/assets/images/sprites/global-header.png') -3px -383px no-repeat;
}

.nav-bar-billpay2
{
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -61px -8px;
	width: 135px;
	display: block;
	float: left;
	color: #00853F;
	font-size: 14px;
	font-weight: bold;
	margin: 8px -18px 0px 75px;
	padding: 3px 6px;
}
/*-----------------End Sub-Navigation--------------------------*/

/*--------   Header  ----------*/
.main-container
{
	width: 960px;
	margin: auto;
	padding-top: 10px;
	margin-top: 0;
}

.logo
{
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -13px -304px;
	width: 162px;
	height: 34px;
	float: left;
	margin: 25px auto 25px 10px;
	display: block;

}
.global-above-logo-nav
{
	color: #333333;
	font-size: 12px;
	float: left;
	text-align: left;
	width: 285px;
	white-space: nowrap;
	margin-top: 10px;
}
.global-above-logo-nav a
{
	color:#333333;
	padding: 0px 0px 0px 32px;
}

.global-above-logo-nav .current a
{
	color: #00853F;
	font-weight: bold;
}

.global-above-logo-nav span
{
	float: left;
	margin-right: 0;
}

#lbiz
{
	float: left;
	background: none;
	display: block;
	height: 22px;
	width: 150px;
	margin-left: 0;
	position: relative;
	z-index:1000;
}
#lbiz-drop
{
	height: 20px;
	width: 10px;
	float: right;
	background: url("/assets/images/sprites/global-header.png") no-repeat -18px -380px;
}
.lbiz-dropped #lbiz-drop
{
	background-position: -33px -380px;
}

#lbiz-link
{
	display: none;
	padding: 9px 0 0 1px;
}
.lbiz-dropped #lbiz-link
{
	display: block;
}


.global-nav
{
	color:#666;
	font-size:12px;
	float:right;
	width:550px;
	text-align:right;
	padding: 10px 33px 0px 0px;
	position:relative;
}
.global-nav a
{
	color:#666;
	display: inline;
	margin-left: 10px;
	position:relative;
}


.header-contact{
	color:#666;
	float:right;
	clear:right;
	padding: 6px 22px 0px 0px;
}
.header-contact td {vertical-align:middle}
.header-contact td a {color: #666;}
/*Do not modify #dynamic-800-number. In case you want to display phone numbers in white color, add 'phone' class to #dynamic-800-number element in html*/
#dynamic-800-number{color:#666;  margin-right: 10px;}
#dynamic-800-number.phone{color:#ffffff;}
.phone-icon{
float:left;
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -160px -188px;
	width: 20px;
	height: 21px;
	vertical-align:bottom;
	margin-top: 2px;
	
}
.chat-icon{
float:left;
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -98px -188px;
	width: 26px;
	height: 21px;
	clear:both;
	margin-top: 3px;
	margin-left: 9px;
	margin-right: 3px;
}

.gheader-emailus-icon
{
	float: left;
	background: url('/assets/images/sprites/global-header.png') no-repeat -90px -190px;
	display: block;
	width: 16px;
	height: 11px;
	clear: both;
	margin-top: 0;
	margin-left: 14px;
	margin-right: 4px;
}
/* US10772 - Javascript warning content*/
.noscript
{
	padding: 18px;
	min-width: 300px;
	background: rgb(255, 139, 25);	
}
.noscript a, .noscript a:visited{
	color: black;
	text-decoration: underline;
}
.noscript .msgIcon{
	width: 50px;
	float: left;
	height: 50px;
}
.noscript .msgIcon img{
	width: 50px;
}
.noscript .alertMsg{
	color: #FFF;
	font-size: 16px;
	padding: 5px 0 0 10px;	
}
/*-----------------Search Styles---------------------------*/
.search-form
{
	float: right;
	margin-top: 22px;
	margin-bottom: 26px;
	position: relative;
	width: 254px;
}

#tpl_search-input
{

	width: 222px;
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -7px -249px;
	height: 30px;
	padding-left: 0px;
	padding-top: 3px;
	margin: 0;
	border: 0;
	font-size: 12px;
	text-indent: 10px;
	text-transform:capitalize;
}



.watermark
{
	color:#666;
}
/*-----------------End Search------------------------------*/

.page-content-top{
	width:960px;
	height:170px;
	background:url('/assets/images/sprites/template.png') no-repeat 0 0;
	z-index:-1;
}

#top-left-h1
{
	float: left;
	position: relative;
	z-index: 4;
	color: #00853F;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 0;
}

.h1wrapper
{
	margin-left: 22px;
	margin-top: 8px;
}

.page-content{
	border-right:1px solid #CACCCD;
	border-left:1px solid #CACCCD;
	margin-top: -165px;
	padding:15px 20px 15px 20px;
	min-height:250px;
	position:relative;
}
.page-content-bottom
{
	width:960px;
	height:131px;
	background: url('/assets/images/sprites/template.png') no-repeat 0 -287px;
	margin-top:-125px;
	z-index:-1;
}
.page-centered
{
	margin: 15px auto 0 20px;
}

/*------------------------Footer Styles----------------*/
.footer{
	text-align:center;
	margin-bottom:10px;
	padding:10px;
}

.footer, .footer a
{
	color: #666;
	font-size: 11px;
	line-height: 1.6em;
}
/*----------------------End Footer---------------*/


/*----------------------Modal Window Styles---------------*/
.modal
{
	width:406px;
	min-height:100px;
	padding:0;
}
.modal .modal-top
{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -2px;
	height:17px;
	width:386px;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.modal .modal-bottom{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -80px;
	width:406px;
	height:52px;
}
.modal .modal-content
{
	width:366px;
	padding:20px;
	background:transparent url('/assets/images/templates/modal_bg.png') repeat-y 0 0;
	overflow:visible;
}
.modal .modal-close-btn{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -168px;
	height:16px;
	width:16px;
	display:block;
	float:right;
	vertical-align:bottom;
}

.modal .modal-close
{
	float: right;
	width: 100px;
	line-height: 15px;
	text-align: right;
}
.zam_close, .ctam_close, .mam_close{float:left;}
#zam_close-button,#ctam_close-button,#mam_close-button{float:left; margin-left:5px;}
.modal .modal-close a{
	font-size:11px;
	color:green;
}
.modal .modal-block-top{
	margin-top:10px;
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -9px -136px;
	height:10px;
	width:356px;
}
.modal .modal-block-bottom{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -9px -168px;
	height:12px;
	width:356px;
}
.modal .modal-block{
	border-right:1px solid #CCC;
	border-left:1px solid #CCC;
	background-color:#E7E7E7;
	min-height:10px;
	width:354px;
}
.modal-block-title{
	background: url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -188px;
	padding-left:20px;
	margin-left:10px;
}
.modal-block-title{
	background: url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -188px;
	padding-left:20px;
	margin-left:10px;
}
.modal-block-expanded, .modal-block-expanded_lvl2{
	display:none;
}
.modal-block-expanded_lvl2{
	margin:10px;
}
.modal form{
	margin:10px;
	background:white;
	padding:10px;

}
.modal form input{

}
.modal form label{
	display:block;
	font-size:11px;
}

.address-block{
	float:left;
	margin:auto 10px 7px auto;
}
.remember-me{
	margin-left:20px;
}
.link-protect-info{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -138px;
	padding-left:20px;
	margin-left:20px;
	display:block;
	line-height:20px;
}
.modal-button{
	font-size:0;
	display:block;
	background:url('/assets/images/sprites/modal_sprite.png') no-repeat;
}
.btn-modal-show-options{
	background-position:-10px -185px;
	height:26px;
	width:131px;
}

.btn-modal-show-options:hover{
	background-position:-10px -215px;
}
/*----------------------End Modal---------------*/


/*----------------------PopUp Window Styles---------------*/
.popup{
	width:406px;
	min-height:100px;
	padding:0;
}
.popup .popup-top{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -2px;
	height:17px;
	width:386px;
	padding:10px;
	text-align:center;
	font-weight:bold;
}
.popup .popup-bottom{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -7px -80px;
	width:406px;
	height:52px;
}
.popup .popup-content{
	width:366px;
	padding:20px;
	background:transparent url('/assets/images/templates/modal_bg.png') repeat-y 0px 0px;
	overflow:visible;
}
.popup-content p{
	margin-bottom: 16px;
}
.popup .popup-close-btn{
	background:transparent url('/assets/images/sprites/modal_sprite.png') no-repeat -378px -168px;
	height:16px;
	width:16px;
	display: block;
	vertical-align: bottom;
}
.popup-close-link {
	float: left;
}
.popup .popup-close{
	width:90px;
	line-height:15px;
	text-align:right;
	float:right;
}
.popup .popup-close a{
	font-size:11px;
	color:green;
}

/*----------------------End Pop Up---------------*/

/*----------------Backwards compatibility issues for old templated pages-------------------*/
.legal_left_nav{
	float:left;
	width:200px;
}
.legal_main_content{
	float:right;
	width:700px;
}
.left-navigation{
	float:left;
	width:200px;
}
.content-with-left-nav{
	float:right;
	width:700px;
}
.lpButtonStyleDiv a{
	vertical-align:middle;
	padding-top:5px;
	color:#666;
	line-height:23px;
	  margin-right: 10px;
}
.lpButtonStyleDiv a:hover {
	color:#666666;
}

#tpl_logo
{
  float: left;
  margin-top: 20px;
  margin-bottom: 26px;
  margin-left: 32px;
}

#ol_static_footer_feedback_wrapper
{
	float: right;
	width: 70px;
	position: relative;
}

/*------------- global disclaimer links definitions us1478 ----------------*/
div.global-disclaimer-links-border-container {
	Border:1px solid #aaa;
	border-top-left-radius0;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:0;
	width : 230px;
	margin : 0 0 0 -21px;
	padding : 5px 15px 5px 20px;
	color : #00853f;
	background-color : #fff;
}

.global-disclaimer-links-border-container .promo-details-link-wrapper {
	margin : 0 8px 0 0;
}
.global-disclaimer-links-border-container .product-details-link-wrapper {
	margin : 0 0 0 8px;
}

.global-disclaimer-links-border-container a.details-link,
.global-disclaimer-links-border-container a.details-link:hover,
.global-disclaimer-links-border-container a.details-link:visited {
		color : #00853f;
}

/*------------- header callus definitions  US4250 ----------------*/
.callus-popup-content-wrapper {
	padding:10px 20px 20px 50px;
}

image.callus-popup-corp-logo-image {
	text-align : center;
}

.callus-popup-element-heading {
	font-size: 18px;
	color: #000;
	margin : 0 0 3px 0;
	font-weight : normal;
}

.callus-popup-element-tn {
	font-size : 14px;
	margin : 0 0 15px 0;
}

a.callus-popup-element-link,
a.callus-popup-element-link:hover,
a.callus-popup-element-link:visited {
	color:#00853F;
	text-decoration : underline;
}

/*------------- UOE US 4671 and 4769 ----------------*/

/* header */
 div#tpl_header.header {
  height: 20px;
  overflow:visible;
  margin-top: -9px;
  /*margin-right: 34px;*/
  }

div#tpl_header div {
	overflow:visible;
}
  
  /* cart,chat and call us  */
  .utility-nav-cart {
	  background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -45px -188px;
	  width: 22px;
	  height: 21px;
	  position:absolute;
	  left: 10px;
  }


.utility-nav-chat {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -98px -188px;
	width: 26px;
	height: 21px;
	position:absolute;
	left: -30px;
	
}

.utility-nav-call {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -160px -188px;
	width: 20px;
	height: 21px;
	position:absolute;
	left: -16px;

	}
	
	
	/* horizantal line */
	
	
.horizontalLine {
    background: none repeat scroll 0 0 #cccccc;
    border: medium none;
    color: #cccccc;
    height: 1px;
	margin-top: 0px;
}

/* Purva CSS start */
.sml-logo {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -12px -461px;
	float: left;
	width: 108px;
	height: 22px;
}

.footer-new{
	text-align:center;
	margin-bottom:10px;
	padding-left: 41px;
}

.footer-new, .footer-new a
{
	color: #666;
	font-size: 12px;
	line-height: 1.6em;
}
.footerFeedback{
  margin-left: 440px;
 margin-top: -19px;
}
/* Purva CSS ends */




/* CSS for business menu start*/
.businessMenuBox > li {
	float: left;
	margin:0;
}
.businessMenuBox ul {
	list-style: none;
}
.businessMenuBox li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;	
}
/*
.businessMenuBox ul li a {
	width: 248px;
}
*/
#lbiz:hover div.businessMenuBox {
	display: block; 
}
.businessMenuBox ul {	
	float:left;
	border-radius: 3px;
	margin-top:1px;
	margin-left:-19px;
}
.businessMenuBox ul li a {
	width: 268px;
	/* mshumwa: width: 248px; */
	color: #333333;
	height:30px;	
	border: 1px solid #CDCDCD;
	border-radius: 2px;
	background: #F2F2F2;
	line-height:2.5em;
}
.businessMenuBox ul li:hover a {
	background: #D0E7B5;
	text-decoration: underline;
}
.businessMenuBox{
	 background: #E0E0E0;
	 border-radius: 3px;
	 border:  solid #E0E0E0;
	 width: 260;
	 height:155px;
	 display: none;
	 overflow:visible;
	 position:absolute;
	 z-index:1000;
	 margin-top: -4px;
	 margin-left: -21px;
}
ul.businessSubMenu  li{
	margin-bottom:-2px;
	margin-top:0px;
}

ul.businessSubMenu  li a{
	font-size: 12px;
	font-family:Arial;
}
/* CSS for business menu end*/

.arrow-sprite {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -111px -77px;
	width: 18px;
	height: 8px;
}
.arrow-sprite {
	margin-left: 44px;
	margin-top: 3px;
}

.arrow-header {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -26px -14px;
	width: 10px;
	height: 5px;                
}
.arrow-header {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -26px -14px;
	width: 10px;
	height: 5px;
}
.arrow-headerPos {
	background: url('/assets/images/sprites/global_nav_sprite.png') no-repeat -26px -14px;
	margin-left: 10px;
	margin-top: 5px;
	position:absolute;
}

.clearFix:after {
  content: "";
  display: table;
  clear: both;
}
.sf-menu .level2-nav-links{
font-size:12px;
}



/* TN Banner */
/* mid-body tn banner */
div#body-tn-banner-wrapper {
	background-color : #FFA02F;
	padding-top : 4px;
	padding-bottom : 4px;
	margin : 0 -20px 15px -20px;
}

div#body-tn-banner-wrapper div.body-tn-content {
	float : left;
	margin : 0 130px 0 300px;
}

div#body-tn-banner-wrapper div.body-tn-content,
div#body-tn-banner-wrapper span#tfnInternet	{
	font-size : 18px;
	font-weight : bold;
	color : #fff;
}

div#body-tn-banner-wrapper a#body-tn-banner-ec-link,
div#body-tn-banner-wrapper a#body-tn-banner-ec-link:focus,
div#body-tn-banner-wrapper a#body-tn-banner-ec-link:hover,
div#body-tn-banner-wrapper a#body-tn-banner-ec-link:visited {
	font-size : 14px;
	font-weight : normal;
	color : #fff;
}

div#body-tn-banner-wrapper div.existing-customer-link {
	margin : 5px 0 0 0;
}
/* US12124 */
li.dropdown {
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #eee;
	top: 24px;
	left: -10px;
	border: 3px solid #d1cfcf;
	width: auto;
}
.dropdown-content a {
	color: #333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	width: 68px;
	margin-top: 0 !important;
}
.dropdown-content a:hover {
	background-color: #A5D867;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropBtn {
	/* mshumwa: width: 40px; */
	width: 67px;
}

/* Accessbility Fixes For PROD4376 & PROD4377 */
a.duplicateLinkHide {display:none;}

li#tpl_subnav-wireless-dd {
	margin-left: -30px;
}
li#tpl_subnav-wireless-dd.moreSpace {
	margin-left: 0; 
}
a.moreWidth {
	width: 100px;
}