.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {font-weight:bold; color: #222222;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {font-weight:bold; color: #00853F;}
.ui-widget-header {
  background: none;
  border: none;
  
  color: #222222;
  font-weight: bold;
}
.ui-widget-content {
  background:none;
  border:none;
  color: #222222;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-selected{z-index:100;}
.ui-tabs .ui-tabs-nav {
  margin: 0 0 0 16px;
  margin-bottom: -1px;
  z-index:200;
  position: relative;
  bottom:-7px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-default {border:none;}

.ui-tabs .ui-tabs-nav li.ui-state-default a{background: url("/assets/images/sprites/tab-subSection-rt.png") no-repeat scroll right top transparent; height:16px;min-width:140px;padding-top:22px; padding-right:17px; margin-left:13px; padding-left:0px;}
.ui-tabs .ui-tabs-nav li.ui-state-default{background: url("/assets/images/sprites/tab-subSection-lft.png") no-repeat scroll left top transparent; height:44px;}

.ui-tabs .ui-tabs-nav li.ui-state-hover   a{background: url("/assets/images/sprites/tab-subSection-rt.png") no-repeat scroll right -46px transparent;height:16px; padding-top:22px; padding-right:17px;}
.ui-tabs .ui-tabs-nav li.ui-state-hover{background: url("/assets/images/sprites/tab-subSection-lft.png") no-repeat scroll left -46px transparent; height:44px;}


.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {background: url("/assets/images/sprites/tab-subSection-rt.png") no-repeat scroll right -92px transparent;height:46px; padding:0px; padding-top:22px; padding-right:17px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{background: url("/assets/images/sprites/tab-subSection-lft.png") no-repeat scroll left -92px transparent; height:46px; top:2px;}

.ui-tabs .ui-tabs-nav li {margin-right:5px;}