/* Style overrides for intake 693 
 * To be combined with other css files later
 */
.ui-autocomplete {
	background-color: white;
	border: 1px solid #999;
	/* position:fixed !important; */
	position:relative !important;
	width: 319px;
	z-index:9999;	
}
.ui-autocomplete b {
	font-weight: bold;
}
.address-block {
    position: relative;
}
.loading{
    background: url('/assets/images/sprites/loading_small.gif') no-repeat scroll 0 0 transparent;
    display: none;
    height: 16px;
    position: absolute;
    right: 2px;
    top: 17px;
    width: 16px;
}