
/* Start styles for front page overlay */
body {
	overflow: hidden;
}

#landingOverlay
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	z-index: 8000;
	overflow: auto;
	display: block;
}

#landingContainer
{
	margin: 0 auto;
	width: 969px;
}
#landingHeader
{
	position: relative;
	display: block;
	height: 120px;
	width: 969px;
}
#landingHeader:before
{
	background-image: url('/assets/images/sprites/page-specific/homepage/dap_sprite.png');
    background-position: -34px -50px;
    content: " ";
    height: 44px;
    left: 6px;
    position: absolute;
    top: 50px;
    width: 210px;
}
#landingHeader:after
{
	background-image: url('/assets/images/sprites/page-specific/homepage/dap_sprite.png');
 background-position: -247px -48px;
    content: " ";
    height: 48px;
    position: absolute;
    right: 24px;
    top: 48px;
    width: 751px;
}

#landingBody
{
	position: relative;
	display: block;
}
#landingBody > div
{
	float: left;
	position: relative;
}
#landingBody > div > div
{
	position: relative;
	z-index: 1;
}
#landingBody .landingSpacer
{
	height: 1px;
	width: 12px;
	display: block;
}

#landingBody h1,
#landingBody h1 a
{
	font: 22px arial;
	font-weight: bold;
	color: #ffffff;
	padding: 0;
	margin: 0;
}
#landingBody > div:hover h1
{
	text-decoration: underline;
}

#landingBody p
{
    color: #ffffff;
    font: bold 14px arial;
    margin: 0;
    padding: 0;
}

#landingSB
{
	width: 300px;
	height: 96px;
	padding-top: 290px;
	padding-left: 14px;
	cursor: pointer;
}

#landingRes
{
	background-image: url('/assets/images/sprites/page-specific/homepage/dap_sprite.png');
  background-position: -22px -128px;
    content: " ";
    cursor: pointer;
    height: 400px;
    left: 0;
    top: 0;
    width: 459px;
}

#landingB
{
	background-image: url('/assets/images/sprites/page-specific/homepage/dap_sprite.png');
  background-position: -499px -128px;
    height: 400px;
    left: 0;
    top: 0;
    width: 459px;
}

#landingRes h1,
#landingB h1 {
    margin-left: 40px;
    margin-top: 300px;
}

#landingRes p ,
#landingB  p {
    margin-left: 40px;
}


#landingFooter
{
	margin-top: 50px;
}
#landingFooter a,
#landingFooter p
{
	font-size: 12px;
	color: #666666;
	line-height: 180%;
	font-family:arial;
}

.homepg-btn {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8BC53F), color-stop(1, #008643) ); /* Chrome 1-9 and Safari 4-5 */
	/* @alternate */background:-moz-linear-gradient( center top, #8BC53F 5%, #008643 100% ); /* Mozilla 16 and lower */
	/* @alternate */background:-webkit-linear-gradient(top, #8BC53F, #008643);     /* Chrome 10+ and Safari 5.1 */
	/* @alternate */background:-o-linear-gradient(top, #8BC53F, #008643);     /* Opera 11 and lower */
	/* @alternate */background: -ms-linear-gradient(top, #8BC53F, #008643);/*IE9+ */
	-pie-background:linear-gradient(#8BC53F , #008643); /* IE 9 */
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	border-radius: 3px;
	behavior: url(/assets/css/PIE.htc);
	text-indent:0;
	/* @alternate */display:inline-block;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    height: 43px;
    margin-right: 13px;
    width: 129px;
    z-index: 1;
	behavior: url(/assets/css/PIE.htc);
}
#landingB a:hover {
color: #ffffff;
}
.mb-btn{
margin-left: 164px;
}

.ent-btn{
margin-left: 309px;
}

.homepg-btn-title {
 color: #ffffff;
    display: block;
    font-family: arial;
    font-size: 14px;
    padding: 4px 33px;
}
.enp-btn {
padding: 13px 27px;
}
.business-btns {
   left: 489px;
    position: absolute !important;
    top: 213px;
	z-index:100;
}
#landingB p.cmts {
color: black;
float: left;
margin-left: 1px;
font-family: arial;
font-size: 13px;
}
#landingB p.mbcmts {
margin-left: 21px;
}

#landingBody .business-btns p.cmts {
color: black;
float: left;
margin-left: 1px;
font-family: arial;
font-size: 12px;
margin-top:3px;
}

#landingBody .business-btns p.mbcmts {
margin-left: 31px;
}

#landingBody .business-btns a:hover {
color:#fff;
text-decoration:underline;
}

.wholesale-link {
	width: 450px !important;
	margin: 10px 0 0 520px !important;
}

.businessBtnHdr {
margin-top:15px !important;
margin-left:33px !important;
}

#businessBtn {
    height: 99px;
    top: 285px;
    width: 447px;
	cursor:pointer;
}

.businessBtnCont{
margin-left:33px !important;
}
 
 #landingBody   > #landingB:hover h1
{
	text-decoration: none;
}

#landingB > div:hover h1
{
	text-decoration: underline !important;
}

#fp-wholesaleLink
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00853F;
}

#fp-wholesaleLink-wrapper
{
	width: 307px;
	margin: 10px 0 0 660px;
}

#wls_link_underliner
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #00853F;
	text-decoration: underline;
}

