@import url(http://fonts.googleapis.com/css?family=Ubuntu:500,700);

body {
background:url(http://static.uppcdn.com/body.jpg) repeat-x;
}

* {
padding:0;
margin:0;
}

input[name="method_free"] {
	height: 30px;
	margin-left: 30px;

	width: 210px;
	padding: 7px;
	color: #666;
	display: inline-block;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	cursor: pointer; /* 1 */
	-webkit-appearance: button; /* 2 */
	*overflow: visible;  /* 3 */


	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
}

input[name="countdown"] {
	margin-left: 30px;
}

div#wrapper, #header {
background:url(http://static.uppcdn.com/body.jpg) repeat-x;
background-attachment:fixed;
//width: 100%;
}

div#header {
position: fixed;
width: 770px;
//width: 100%;
height: 100px;
top: 0;
left: 0;
right: 0;
margin:0 auto;
z-index:2;
}

div#menu {
float:left;
}

div#menu .button {
background:url(http://static.uppcdn.com/menu.jpg);
width:110px;
height:30px;
float:left;
margin-top:47px;
}

div#menu a.button {
text-decoration:none;
color:#FFF;
font-family:Trebuchet MS;
font-size:12px;
text-align:center;
padding-top:10px;
}

div#content {
clear:both;
width:770px;
margin:0 auto;
padding-top:100px;
z-index:1;
#background: #fff;
#border-bottom: 1px solid #d6d6d6;
}

.input {
background:#f4f4f4;
border:1px solid #ededed;
font-family:Trebuchet Ms;
font-size:16px;
padding-left:15px;
width:400px;
padding-top:11px;
padding-bottom:11px;
}

input.pre {
    background-image: url(http://static.uppcdn.com/ge.gif);
    width: 346px;
    height: 66px;
    border: 0;
    cursor: pointer;
}

.submit-button {
  width: 346px;
  height: 66px;
  background: url(http://static.uppcdn.com/ge.gif) no-repeat; /* Need full background declaration for IE 6 (instead of the shorter background-image) */
  border: none;
  cursor: pointer;
  cursor: hand; /* For IE 5.0 and 5.5 */
  vertical-align: top;
}

.hide-text {
  display: block
  width: 0;
  height: 0;
  overflow: hidden;
}

p {
vertical-align:middle;
}

p.currently {

font-family:"Courier New";font-size:9pt;

background:#f4f4f4;
//padding:2px;
width:770px;
}

p.currently a {
color:#000;
}

h1 {
margin:0;
padding:0;
font-family:Trebuchet Ms;
font-size:12px;
font-weight:bold;
text-decoration:underline;
}

h3 {
font-family: 'Ubuntu', Trebuchet Ms;
#letter-spacing:-1px;
#text-shadow: 0 0 2px #ccc;
font-size: 22px;
font-weight: 700;
}

.a728x90 {
width: 728px;
height: 90px;
margin: 0px auto;
position: relative;
border: 1px dashed #ccc;
background: #f2f2f2;
text-align: center;
color: #999;
}

.a300x250 {
width: 300px;
height: 250px;
border: 1px dashed #ccc;
background: #f2f2f2;
text-align: center;
color: #999;
}

div#footer {
#height:102px;
clear:both;
#margin-top:10px;
}

div#footer p {
background:#2e54a9;
color:#FFF;
font-size:11px;
font-family:Trebuchet Ms;
text-align:center;
width:770px;
margin:0 auto;
padding-top:3px;
padding-bottom:3px;
}

div#center {
width:770px;
margin:0 auto;
}

div#name {
width:770px;
margin:0 auto;
text-decoration:none;
font-family:Trebuchet MS;
font-size:12px;
text-align:center;
}

.name a:link {
color:#fff;
text-decoration: none;
}

.name a:visited {
color:#fff;
text-decoration: none;
}

.name a:hover {
color:#000;
text-decoration:underline;
}

div#footer p a {
color:#FFF;
font-weight:bold;
text-decoration:none;
}