/* FONT FACE STYLES - ADDED 06/06/16 */

@font-face {
    font-family: 'Brand Sans';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;

    src: local('AvenirNext-Regular'),
    url('//fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
    font-family: 'Brand Sans';
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;

    src: local('AvenirNext-DemiBold'),
    url('//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
    font-family: 'Brand Condensed';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;

    src: local('AvenirNextCondensed-Regular'),
    url('//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff') format('woff');
}
@font-face {
    font-family: 'Brand Condensed';
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;

    src: local('AvenirNextCondensed-DemiBold'),
    url('//fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xONSK5BxN3NFS4EJkViHIqo.woff') format('woff');
}

/*-----  BRAND SERIF  -----*/
@font-face {
    font-family: 'Brand Serif';
    font-weight: 400;
    font-style: normal;

    src: local('Palatino'),
      local('Palatino Linotype'),
      local('Palatino LT STD'),
      local('Book Antiqua'),
      local('Georgia');
}
.brand-sans{
    font-family: 'Brand Sans', sans-serif;
}
.brand-cond{
    font-family: 'Brand Condensed', sans-serif;
}
.brand-serif{
    font-family: 'Brand Serif', serif;
}

/* Font Sizes */

html {
  font-size:16px;
}

body {
  font-size:1rem;
}

.font-minus-3 {
  font-size:0.579rem;
}

.font-minus-2 {
  font-size:0.694rem;
}

.font-minus-1 {
  font-size:0.833rem;
}

.font-plus-1 {
  font-size:1.2rem;
}

.font-plus-2 {
  font-size:1.44rem;
}

.font-plus-3 {
  font-size:1.728rem;
}

.font-plus-4 {
  font-size:2.074rem;
}

/* Reset */
#category-grid,
.category-main ul {
    padding: 0;
}

b {
  font-weight: 600;
}

/*  hacking line height and overflow issue for category-grid sub titles*/
#category-grid .lnd-desc {
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Global New Color Sub-titles (Green) controlled by Jquery */
.new {
    color: #999900 !important;
}

.dialog-trigger {
  cursor: pointer;
}

/* Fix the Recipe's Add To Cart Set section's padding &/or margin */
.product-set #product-content-container .set-list {
    margin-top: 10px;
    padding: 0 0.8em;
}
.product-set .promotion {
    padding: 0 1em;
}

/* Move the Recipe's individual tags (New, Online Only, etc.) below the image  */
.pdp-main .product-set-details .product-overlay {
    bottom: auto;
}

/* fix for empty gray box, hide detail in PDP set */

.product-set-details .itemTitle {
    visibility: hidden;
}
.product-set-details .hide-on-sets,
.product-set-details .hide-on-set {
    display: none;
    overflow: hidden;
    height: 0;
}
.product-accordion .hide-on-individual {
    display: none;
    overflow: hidden;
    height: 0;
}

body.mobile .pdp-box {
    display: none;
}

.dark_blue_bar {
    background-color: #0670b4;
}
.light_blue_bar {
    height: 25px;
    padding-top: 8px;
    color: #ffffff;
    background-color: #0670b4;
    box-shadow: none;
}
.nav_container {
    background-color: #ffffff;
}
.small_vline {
    background-color: #ffffff;
}
.mini-cart-summary .num-wrapper {
    color: #0670b4;
}
.account_container .link {
    color: #ffffff;
}

.relatedlinks {
    margin-top: 8px;
}

.cta {
    font-family: 'Brand Condensed';
    font-size: 1.2rem;
    font-weight: 600;
    vertical-align: baseline;
}

.cta.inline {
    display: inline-block;
}

.cta:after {
    font-family: inherit;
    font-size: 1.65em;
    font-weight: inherit;
    line-height: 0.75em;
    margin-left: 0.2em;
    content: '\203A';
    vertical-align: baseline;
    vertical-align: -0.045em;
}

.cta.cta-deco-box {
  padding: .3em .5em;
  background-color: #fff;
  display: inline-block;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .cta:after {
        vertical-align: 0;
    }
}

.pdp-home-delivery:before {
    position: absolute;
    left: 0;
    width: 60px;
    height: 25px;
    padding: 10px;
    content: '';
    background: url('home-delivery-icon.jpg?$staticlink$') no-repeat center;
    background-size: contain;
}


/*-----   Mobile Slab font fixes   -----*/
.mobile .menu-item.menu-subheader,
.mobile .v2.l-top-nav .l-top-nav-btm .tn-btn#tn-menu-btn,
.mobile .cat-page-title,
.mobile #category-grid .cat-header,
.mobile #category-grid .lnd-caption {
    font-family: 'Avenir Next', 'Roboto', 'Open Sans', sans-serif;
}

/* ------------------------------------------------------------------------------- */


#tile-office-decor .lnd-desc {
    color: #999999;
}

/*TEXT OVERRIDES*/

/*NEW ORDER HISTORY OVERRIDES ADDED 7/29*/
.order-history-temp-alert {
    font-size: 1em;
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
    text-align: center;
    background-color: rgb(242, 247, 222);
}
/*NEW ORDER HISTORY OVERRIDES ADDED 7/29*/


html#body.konami {
    background: #efefef;
}


/*---------------------------------------------
    Fixes ADDED 3/18
----------------------------------------------*/
html {
    background: white;
}
#checkout-wrapper {
    border: 1px solid #cccccc;
}
#checkout-header {
    border: 1px solid #c8c8c8;
}
.by-swatch-sku-filter,
.cushion-type-filter,
.echo-beach-cushion-type-filter,
.cushion-size-filter,
.outdoor-filter,
.indoor-filter,
.indoor-or-outdoor-filter,
.styled-filters-dd.refinement.ddWrapper.tablet.frame-size-filter {
    display: none;
}

#checkout-wrapper .coupon-info {
    position: relative;
}
#category-grid img {
    padding: 1px;
    border: 1px solid #e2e2e2;
}
#category-grid .lnd-name {
    font-size: 16px;
    font-weight: 400;
    /* REMOVE AFTER 3/18 min-height: 3.7em;*/
    line-height: 1.2em;
    margin: 0.5em 0;
    text-align: left;
    text-transform: uppercase;
    color: #8e908f;
}
.desktop #menu-panel {
    background: transparent;
}
.mobile .l-scrim,
.tablet .l-scrim {
    position: absolute;
}
.desktop .desktop-hide,
.tablet .tablet-hide,
.desktop .desktop-tablet-hide,
.tablet .desktop-tablet-hide,
.mobile .mobile-hide {
    display: none !important;
}

#category-grid .cat-header {
    height: 1em;
    margin: 0.5em 0 1em;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #c8c8c8;
}
.mobile #category-grid .cat-header {
    font-size: 16px;
    height: auto;
}
.cat-banner {
    padding: 2%;
}
/*
 THIS CSS WILL FIX THE JUMPING HEADER PROMO FOR MOBILE DEVICES
.topPromoWrapper {min-height: 50px;}
.topPromoWrapper p{  position: absolute;text-align: center;width: 100%;}
*/


/*THIS FIXES THE PRODUCT FLAG OVERLAYS*/
.product-tile .product-overlay {
    font-size: 0.9em;
    line-height: 16px;
    position: static;
}
.product-set-details .product-overlay,
.product-tile .product-overlay {
    height: auto;
}


/*THIS WILL FIX CERTONA RESULTS EXTRA PADDING ISSUE WITH TITLES AND PRICING*/
.recommendations .product-thumbnails li .product-name {
    padding-left: 0;
}
.recommendations .product-thumbnails li .product-price {
    padding-left: 0;
}
/*---------------------------- Fixes ADDED 3/18 ------------------------------------*/



/*
.availability-container, .availability-results {
  display: none;
}
*/



/*---------------------------------------
    Carousel Styles ADDED 3/18
----------------------------------------*/
.cycle-slideshow {
    width: 100%;
}
.cycle-slideshow img {
    width: 100%;
}
.gallery {
    width: 100%;
}
.cycle-wrapper {
    position: relative;
}
.cycle-wrapper {
    width: 100%;
}
.cycle-wrapper img {
    width: 100%;
}
.cycle-wrapper .cycle-pager {
    position: absolute;
    z-index: 500;
    top: auto;
    bottom: 4%;
    overflow: hidden;
    width: 100%;
    height: 20px;
    text-align: center;
}
.cycle-wrapper .cycle-pager span {
    font-size: 50px;
    width: 16px;
    height: 16px;
    color: #dddddd;
}
.cycle-wrapper .cycle-pager span.cycle-pager-active {
    color: #0a6fb7;
}
.cycle-wrapper .cycle-pager > * {
    cursor: pointer;
}

/*PDP SPECIFIC STYLE FOR GALLERY*/
#gallery .cycle-pager {
    margin-top: 2%;
}

@media screen and (max-width: 768px) {
    .cycle-slideshow img {
        width: 100%;
        margin: 0 3px 0 0;
    }
    .cycle-pager {
        bottom: 1%;
    }
}
/*---------------------------- Carousel Styles ADDED 3/18 ------------------------------------*/






/*--------------------------------------
    PDP MESSAGE STYLES REVEISED 3/18
---------------------------------------*/
/* Changed font-color 2015/04/13 */
.pdp-main .promotion .promotion-callout {
    width: 100%;
}
.promotion-callout h4 {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    display: inline-block;
    margin: 0;
    color: #000000;
}
.promotion-callout p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000000;
}
.promotion-callout .pdp-message {
    float: left;
}
.promotion-callout .pdp-box {
    line-height: 1.2em;
    margin-bottom: 8px;
    padding: 7px;
    background: #f7f5e5;
}
.promotion-callout .tooltip,
.promotion-callout span.copy {
    font-size: 0.9em;
    font-weight: 600;
    color: #000000;
}
.promotion-callout a {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
}

/*------------------------- PDP MESSAGE STYLES REVISED 3/18 ------------------------------*/






/*--------------------------------------------
    NAV Styles ADDED 3/18
---------------------------------------------*/

#nav-main {
    font-size: 1em;
    text-transform: uppercase;
}
#nav-main  .nav-link {
    font-size: 12px;
}
.tablet #nav-main  .nav-link {
    font-size: 12px;
    font-weight: 400;
}
#menu-panel a {
    font-weight: 400;
}
#menu-panel .subpanel {
    font-size: 14px;
}
/*#nav-main .nav-savings-clearance {background-color:#a20f17;}*/
#nav-main .nav-item {
    max-width: 90px;
}
/*---------------------------- NAV Styles ADDED 3/18 ------------------------------------*/

/*--------------------------------------------
    NAV Styles ADDED 11/16
---------------------------------------------*/

#menu-panel .subpanel-col-4 .subpanel-column {
    width: 23%;
    margin-right: 2%;
}


/*---------------------------- NAV Styles ADDED 11/16 ------------------------------------*/


/* ---------------------------------------
    MOBILE LAUNCH FIXES 2014
-------------------------------------------*/


.tablet .pt_storefront #main,
.mobile .pt_storefront #main {
    width: auto;
}
/*Fixes missing margin on Category Landing Headings*/
.primary-content h1 {
    margin-left: 10px;
}

@media screen and (min-width: 990px) {
    #main {
        color: #333333;
    }
    .tablet #main {
        background: #ffffff;
    }
    /* Get's overridden anyways */
    /*body {
        background: url("misc/graphic-tile-bg.jpg") repeat fixed left top;
        background-color: #ffffff;
    }
    .breadcrumb {
        This controls the color of the breadcrumb background which needs to be #f7f7f7
        background-color: #f7f7f7;
    }*/
    .tablet .breadcrumb,
    #checkout-body-wrap .breadcrumb {
        /*This controls the color of the breadcrumb background which needs to be #f7f7f7*/
        background-color: inherit;
    }
}

/* -------------------------------------------
    MOBILE LAUNCH FIXES 2014
---------------------------------------------*/
/* Styles and Hides the More Like This Trigger */
.mobile .cmpr_mlt_trigger {
    font-size: 12px;
    margin-left: 1.3em;
    padding: 1px 10px;
    color: rgb(85, 85, 85);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    /*display: inline-block !important;*/
    background-color: rgb(226, 226, 226);
}

.cmpr_mlt_trigger {
    display: none !important;
}

/* ----------- */

.product-tile .product-overlay .overlay-clearance,
.product-tile .product-overlay .overlay-sale {
    display: inline-block;
}


/*-----------------------------------
    PDP VIDEO STYLES
-------------------------------------*/
.videoWrapper {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.product-accordion .video-link {
    line-height: 28px;
    display: inline-block;
    height: 26px;
    margin: 10px 0;
    padding-left: 30px;
    background: url('play-button.gif?$staticlink$') 0 0 no-repeat !important;
}
#content-wrap {
    clear: both;
    content: '';
}


/*--- for above background we remove on tablet & mobile ---*/
body.tablet,
body.mobile {
    width: 100%;
    background-image: none;
}


#shop-by-category,
.department > a,
#hp-main-wrapper .column-header {
    text-rendering: optimizeLegibility;
}


.flag-tile.flag-save-now {
    text-indent: 1000px;
    border: none;
    background: url('category/tile-flag-sale.png?$staticlink$') no-repeat;
}

.pdp-main .productAvailability .storeavailability #setPrefStore {
    text-decoration: none;
}

.pdp-main .productAvailability .availability-results #setHdZip {
    text-decoration: none;
}

.pdp-main .productAvailability .availability-results #setHdZip:hover {
    text-decoration: underline;
}

.availability-block {
    border-top: none;
}

.no-hd-content,
.hd-content {
    display: none;
}

.refinement.Sale {
    margin-top: 10px;
}

#header-promo {
    font-size: 13px;
    padding-top: 4px;
    text-align: center;
    color: #b2b2b2;
}

#header-promo p {
    line-height: 110%;
    margin-top: 0;
    padding-top: 0;
}

#header-promo a:link,
#header-promo a:visited,
#header-promo a:hover,
#header-promo a:active {
    color: #b2b2b2;
}

#header-promo .promo-tagline {
    margin-top: -0.7em;
}
#header-promo .promo-code {
    font-weight: 600;
    color: #44b5df;
}

#header-promo sup {
    font-size: 0.67em;
}




/**** Begin Header Promo Modal ****/
.hidden-modal {
    display: none;
}

.hidden-modal h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    color: #006fba;
    border-bottom: none;
}

.hidden-modal h2 a:link,
.hidden-modal h2 a:visited {
    text-decoration: none;
    color: #006fba;
    outline: none;
}

.hidden-modal h2 a:active,
.hidden-modal h2 a:hover {
    text-decoration: underline;
    color: #006fba;
    outline: none;
}

.hidden-modal .orange {
    /* color: #ec5a44; */
    color: #e77232;
    background-color: transparent;
}

.hidden-modal .superscript {
    font-size: 9px;
    vertical-align: 12.5%;
}
/**** End Header Promo Modal ****/






/**** Begin Dropdown Menu Enhanced Navigation Style ****/
#dropdown-inner-wrapper {
    font-family: 'Avenir Next', 'Roboto', 'Open Sans', sans-serif;
    font-weight: 600;
    overflow: hidden;
    color: #000000;
    background-color: #f3f4f4;
}
#dropdown-inner-wrapper img {
    margin: 0;
}
#dropdown-inner-wrapper p {
    margin: 0 0 0 5px;
}
#dropdown-inner-wrapper p.dd-title {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}
#dropdown-inner-wrapper p.dd-caption {
    font-size: 16px;
    line-height: 16px;
    margin-top: 4%;
    color: #8e908f;
}
#dropdown-inner-wrapper p.dd-caption.on-sale {
    color: #ac021a;
}
#dropdown-inner-wrapper p.cta {
    font-size: 12px;
    line-height: 14px;
    margin-top: 6%;
}
#dropdown-inner-wrapper p.title {
    font-size: 16px;
    line-height: 18px;
    margin-top: 5%;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}
#dropdown-inner-wrapper p.caption {
    font-size: 16px;
    line-height: 1.2em;
    margin-top: 0;
    color: #8e908f;
}
#dropdown-inner-wrapper p.caption.on-sale {
    color: #ac021a;
}
#dropdown-inner-wrapper p.call-to-action {
    font-size: 12px;
    line-height: 1.3em;
    margin-top: 9%;
    text-transform: uppercase;
    color: #000000;
}

#dropdown-inner-wrapper.bedroom {
    height: 380px;
}
#dropdown-inner-wrapper.decor {
    height: 410px;
}
#dropdown-inner-wrapper.dining {
    height: 380px;
}
#dropdown-inner-wrapper.furniture {
    height: 390px;
}
#dropdown-inner-wrapper.mirrors {
    height: 410px;
}
#dropdown-inner-wrapper.outdoor {
    height: 410px;
}
#dropdown-inner-wrapper.rugs {
    height: 390px;
}
#dropdown-inner-wrapper.pillows {
    height: 380px;
}
#dropdown-inner-wrapper.seasonal {
    height: 410px;
}

/**** End Dropdown Menu Enhanced Menu ****/








@media screen and (max-width: 760px) {
    .dark_blue_bar {
        background-color: #0b3f76;
    }

    #shell_social-icons {
        padding-bottom: 8px;
    }
}

.bottom_bar {
    background-color: #564f45;
}

.vline {
    background-color: #998b70;
}

.department:hover {
    background-color: #83765d;
}

.refinement.New {
    display: none;
}

.refinement.Swatch {
    display: none;
}


.qtipPromoError li {
    list-style-type: none;
}

#product-disclaimer {
    font-size: 10px;
    width: 480px;
    margin: 10px 0 0 24px;
    color: #aaaaaa;
}

.product-col-2 #product-disclaimer {
    width: 450px;
    margin: 0;
}
.mobile #product-disclaimer {
    width: auto;
}

/* Mobile Smartphone wider */
@media screen and (max-width: 640px ){
    /* REMOVED FOR 3/18
  #main {
    width: 480px;
  }
*/

    #storefront #header-promo.hide-mobile {
        display: none;
    }

    .hide-footer-mobile {
        display: none;
    }

    #question_wrapper {
        width: auto;
        height: auto;
        background: none;
    }

    #question_wrapper #question_left-side,
    #question_wrapper #question_right-side {
        width: auto;
        border-right: none;
    }

    #question_wrapper #question_left-side .question {
        line-height: 1.0em;
    }

    #question_wrapper #question_left-side p.answer > span {
        display: block;
    }

    .level-3 {
        background-color: #564f45;
    }

    .level-4 a {
        background-color: #83765d;
    }

    .level-5 a {
        background-color: #998b70;
    }
}

/* Mobile Smartphone skinny */
@media screen and (max-width: 479px ){
    /* REMOVED FOR 3/18
  #main {
    width: 320px;
  }
*/

    #storefront #header-promo.hide-mobile {
        display: none;
    }

    .hide-footer-mobile {
        display: none;
    }

    #question_wrapper #question_left-side p.answer {
        line-height: 1.4em;
        margin: 10px 0 25px;
        padding-bottom: 15px;
    }

    #question_wrapper #question_left-side img.question_arrow-in-circle {
        display: none;
    }
}


.pt_cart .breadcrumb {
    visibility: hidden;
}

#confirmation-right .promotion {
    display: none;
}

#storefront #product-theater.mini .preview {
    width: 684px;
}

#storefront #product-theater.mini .slideshow {
    width: 684px;
}

#storefront #product-theater.mini .slideshow li {
    width: 684px;
}

@media screen and (min-width: 641px) {
    .department {
        line-height: 16px;
        height: 43px;
        padding-top: 10px;
    }

    #wrapper {
        width: 990px;
    }

    .mobile #wrapper,
    .tablet #wrapper {
        width: auto;
    }

    #category .mobile-arrow {
        display: none;
    }

    #subcategory .mobile-arrow {
        display: none;
    }

    .flyout {
        height: auto;
        max-height: 420px;
    }

    a.level-5 {
        font-size: 12px;
        font-weight: 400;
        color: #015bbb;
    }

    a.level-5:hover {
        color: #0098ff;
    }

    a.level-4 {
        font-size: 13px;
        color: #333333;
    }

    a.level-4:hover {
        color: #545454;
    }

    .bottom_bar {
        font-size: 12px;
        background-color: #564f45;
    }

    .bottom_bar .department:hover {
        background-color: #83765d;
    }

    .bottom_bar .department {
        width: 9.9%;
        height: 43px;
    }

    .department .level-3 {
        font-size: 12px;
        font-weight: 600;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }

    /* ---- COMMENTED OUT 1/12/2015 ------
    .department.savings-clearance {
      background: #971014;
  }
  -------------------------------------*/

    .department.gifts {
        height: 37px;
        padding-top: 16px;
    }
    .department.furniture {
        height: 37px;
        padding-top: 16px;
    }
    .department.outdoor {
        height: 37px;
        padding-top: 16px;
    }
    .department.bedroom {
        height: 37px;
        padding-top: 16px;
    }
    .tablet #nav-main .nav-item .level-3 .nav-gifts {
        background: #971014 ;
    }
    #password-reset {
        position: static;
    }
}

.department.home-decor .flyout {
    left: -6px;
}

.tail {
    left: 0;
}

@media screen and (min-width:0\0) {
    /* IE9 and IE10 rule sets go here */
    .department {
        /* padding-left: 12px;
    padding-right: 12px;*/
    }

    .nav-item.nav-dining_entertaining {
        min-width: 114px;
    }
}

.pt_wish-list .html-slot-container {
    background: none;
}

/* iPad */
@media screen and (min-width: 641px) {
    .iphone .pt_storefront #main {
        margin-top: 0;
    }
}

@media screen and (device-width: 768px) {
    .pt_storefront #main {
        margin-top: 0;
    }

    .department.gifts_occasions {
        width: 90px;
    }
}

/* iPad end */

#storeLocatorBanner {
    height: 100px;
}

#storeLocatorBanner p {
    position: relative;
    top: -88px;
    left: -34px;
    overflow: hidden;
    width: 930px;
    text-align: center;
}

/* hidden holiday hours */
.pt_store-locator .disclaimerExt {
    display: none;
}

.pt_store-locator .locatorResults li a.hours-link {
    color: #0088cc;
}
.pt_store-locator .locatorResults li a.hours-link:hover {
    text-decoration: underline;
}


@media screen and (max-width: 640px ){
    .storeHours {
        font-size: 11px;
        display: none;
    }
    .storeHours.shown {
        display: block;
    }
    .storeHours .days {
        font-weight: 600;
        float: left;
    }
    .storeHours .hours {
        float: left;
        margin-left: 4px;
    }
    .storeHours .clear {
        clear: both;
    }
    .storeLocatorZip {
        margin-bottom: 10px;
    }

    #storeLocatorBanner {
        height: auto;
    }
    #storeLocatorBanner img {
        display: none;
    }
    #storeLocatorBanner p {
        position: static;
        top: auto;
        left: auto;
        width: auto;
    }
    .pt_store-locator .button-style-1 {
        display: inline-block;
        clear: both;
        margin-left: 5px;
    }
}




/*-------------------------------------------------
    Styling Added for 2015/02/17 Update
--------------------------------------------------*/
.accordion-menu {
    padding: 0;
}


/* --------------------------- End Styling Added for 3/18 Update ------------------------------*/

/* MEDIA QUERIES */
@media screen and (max-width: 760px) {
    #footer .content-asset {
        width: 100%;
        margin-left: 0;
        background-color: #ffffff;
    }

    #site-footer-wrapper {
        margin-top: 0;
        margin-left: 0;
    }

    #links ul#links-menu > li {
        display: block;
        float: left;
        width: 50%;
        margin: 4px 0 0 0;
        padding: 0;
    }

    #links ul#links-menu > li.hide-footer-mobile {
        display: none;
    }


    #links ul.list li {
        border-left: none;
    }
}
/* CLEARFIX */

.clearfix:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}

* html .clearfix {
    zoom: 1;
} /* IE6 */

*:first-child + html .clearfix {
    zoom: 1;
} /* IE7 */

/* http://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/  */
sup,
sub {
    position: relative;
    top: -0.3em;
    vertical-align: baseline;
}

.right-arrow {
    font-size: 1.2em;
    top: 0.5em;
}

/*HEADER PROMO SLIDER STYLES*/
#header-promo {
    position: relative;
}

#header-promo  p {
    position: absolute;
    width: 100%;
    padding-top: 0;
}
@media screen and (max-width: 641px) {
    #header-promo {
        position: static;
        width: 100%;
    }
    #header-promo  p {
        position: static;
    }
}



/*-----------------------------------------------------
    EMAIL SIGN UP MODAL STYLES
-----------------------------------------------------*/

.ui-dialog-titlebar {
    border-bottom: 0 dotted #cebdb3 !important;
}
.ui-dialog .ui-dialog-titlebar-close span {
    float: right;
    width: 17px;
    height: 16px;
    margin: 0 10px 0 0;
    padding: 0;
}
#email-signup {
    text-align: center;
}
#email-signup label span.sub-title .sub {
    font-size: 65%;
    line-height: 65%;
    padding-left: 0;
    text-transform: none;
    color: #006eb9;
}
#email-signup span.head-title {
    font-size: 48px;
    line-height: 52px;
    margin: 0;
    text-transform: uppercase;
    color: #ea7369;
    border-bottom: none;
}
#email-signup span.sub-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    text-align: left;
    color: #8e908f;
}
#email-signup label span.sub-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
    padding-left: 0;
    text-transform: uppercase;
    color: #006eb9;
}

#email-signup input[type='submit'] {
    position: absolute;
    width: 39px;
    height: 43px;
    margin: 0 0 0 -40px;
    cursor: pointer;
    border: none;
    background: #ffffff url('homepage/modal/modal-popup-arrow.png?$staticlink$') no-repeat;
}
#email-signup .disclaimer {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #8e908f !important;
}
/*-------------------------- EMAIL SIGN UP MODAL STYLES ------------------------*/




@media screen and (min-width: 641px) {
    .refinement-header {
        font-weight: 600;
        margin: 5px 0;
        padding: 0;
        border-bottom: none;
    }

    .category-level-1 li {
        margin: 0 8px 0 0;
    }

    .category-level-1 a.refinement-link {
        font-weight: 400;
    }

    .category-level-1 a.refinement-link.active {
        font-weight: 600;
    }

    #secondary a {
        color: inherit;
    }

    .refinement-true-false a.active,
    .refinement-true-false a:hover {
        background-image: none !important;
    }

    #secondary a.refinement-link.active,
    #secondary a.refinement-link:hover {
        background-image: none !important;
    }

    #secondary #swatch-Multi-colored.active,
    #secondary #swatch-Multi-colored.refinement-link:hover {
        background-image: url('swatches/icon-color-swatch-misc.png?$staticlink$') !important;
    }

    .refinement a:hover {
        /*text-decoration: underline;*/
    }

    .refinement a.active:hover {
        text-decoration: none;
    }

    .refinement a:hover .refine-num-results {
        text-decoration: none !important;
    }
    .refine-num-results {
        font-size: 10px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none !important;
        color: #999999;
    }

    #secondary .refinement a:hover {
        text-decoration: underline;
        color: #111111;
    }

    .category-level-1 li {
        margin: 0 4px 0 0;
    }


    #secondary .category-level-1 {
        margin-left: 5px;
    }

    .refinement-true-false-clear {
        display: none;
    }

    .refinement h3.refinement-true-false {
        font-size: 11px;
        margin: 8px 0 0 0;
        padding: 0 5px;
        text-transform: uppercase;
        color: #555555;
    }

    .refinement.Category.Refinement h3 {
        border-top: 2px dotted #cccccc;
    }

    .refinement.Category.Refinement h3 a {
        line-height: 12px;
    }

    .nav .toggle {
        font-size: 11px;
        text-transform: uppercase;
        color: #555555;
    }

    #menu-panel {
        position: absolute;
        z-index: 20001;
        width: 96%;
        margin-left: 2%;
        box-shadow: none;
    }

    #menu-panel .subpanel.visible {
        background: rgb(255, 255, 255);
        box-shadow: 0 6px 15px 6px rgba(0, 0, 0, 0.3);
    }

    .product-tile .product-overlay .overlay-sale,
    .product-tile .product-overlay .overlay-clearance {
        display: inline;
    }
    .pdp-main .product-header,
    .pdp-main .product-overview,
    .pdp-main h1.sectionHeading {
        font-weight: 400;
    }
    body,
    .product-tile .product-name,
    .product-tile .product-pricing,
    .product-tile .product-promo,
    .ch-heading,
    .grid-heading,
    #nav-main,
    .sf-store-name,
    .sidenav .sn-header,
    .section-wrapper h2,
    .pdp-main h2.product-overview,
    .pdp-main h1.sectionHeading,
    .section-heading,
    #sp-basket .sp-header,
    .bottom_bar,
    #nav-main .nav-item,
    .cat-page-title,
    #category-grid .cat-header,
    #category-grid .lnd-caption,
    #site-policies_wrapper h2.site-policies_page-title,
    #ir_wrapper h2.ir_page-title,
    .pdp-main .product-header,
    .pdp-main .product-overview,
    .pdp-main h1.sectionHeading,
    #unavailable-product .large {
        font-family: 'Avenir Next', 'Roboto', 'Open Sans', sans-serif !important;
        font-weight: 400;
    }
    /* updated font weight for inactive product page font */
    #unavailable-product .large {
        font-weight: 400;
    }

    .font-sans {
        font-family: 'Avenir Next', 'Roboto', 'Open Sans', sans-serif !important;
    }

    .font-sans-condensed {
        font-family: 'Avenir Next Condensed', 'Roboto Condensed', 'Open Sans Condensed', sans-serif !important;
    }

    /*-----  per JK  -----*/
    #product-nav-container {
        display: none !important;
    }

    /*----  new designer perks logo on signup page  ----*/
    .designer-img {
        width: 100%;
        height: 200px;
        background-image: url('designer_perks/perks-img-logo.png?$staticlink$');
        background-repeat: no-repeat;
        background-position: center 30px;
        background-size: 50%;
    }

    .designer-img img {
        display: none;
    }


    /*----  to hide PDP Editorial link in Quickview  ----*/
    .quickview .not-quickview {
        display: none;
    }

    /*----  to fix the tablet Modal pop up  ----*/
    .tablet.is-dialog-open {
        width: 100%;
    }
} /* close last media query for 641px */



/* no media query */
.cat-tile-sticker {
    font-family: 'Avenir Next', 'Roboto', 'Open Sans', sans-serif;
    font-weight: 400;
    position: absolute;
    z-index: 2000;
    top: 166px;
    left: 10px;
    min-width: 72px;
    height: 45px;
    color: rgb(255, 255, 255);
    background: rgba(187, 6, 8, 0.79);
}
.cat-tile-sticker.cat-tile-sticker-new {
    background: rgba(60, 179, 113,0.79);
}

.cat-tile-sticker.cat-tile-sticker-dollar {
    width: auto;
    height: 45px;
    padding: 2%;
}
.cat-tile-sticker-dollar .sb-num {
    font-size: 36px;
    line-height: 1em;
    margin-right: 2%;
    letter-spacing: -2px;
}
.cat-tile-sticker-dollar .sb-dollar {
    font-size: 10px;
    vertical-align: 17px;
    text-transform: uppercase;
}
.cat-tile-sticker-dollar .sb-cents {
    font-size: 17px;
    vertical-align: 14px;
    text-transform: uppercase;
}

.cat-tile-sticker-percent .sb-num {
    font-size: 36px;
    line-height: 1em;
    position: absolute;
    top: 5px;
    left: 5px;
    letter-spacing: -4px;
}
.cat-tile-sticker-percent .sb-percent {
    font-size: 22px;
    line-height: 1em;
    position: absolute;
    top: 5px;
    right: 7px;
}

.cat-tile-sticker-percent .sb-off {
    font-size: 10px;
    position: absolute;
    right: 7px;
    bottom: 1px;
    text-transform: uppercase;
}
.sb-sale {
    display: block;
    width: 100%;
    height: 100%;
    background: url('auto-sticker-sale-messsage.png?$staticlink$') center center no-repeat;
    background-size: contain;
}

.cat-tile-sticker-freeship {
    font-family: 'Avenir Next Condensed', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    z-index: 2000;
    top: 178px;
    height: auto;
    text-transform: uppercase;
    background: rgba(22,103,161,0.9);
}

.cat-tile-sticker-freeship span {
    font-style: normal;
    display: inline-block;
    padding: 0.25em;
}

.mobile .cat-tile-sticker-freeship span,
.tablet .cat-tile-sticker-freeship span {
    font-weight: 400;
    padding: 0.1rem;
}

.mobile .cat-tile-sticker-freeship span {
    font-size: 1.2rem;
}


.cat-tile-sticker-new .sb-new {
    display: block;
    width: 100%;
    height: 100%;
    background: url('auto-sticker-new-messsage.png?$staticlink$') center center no-repeat;
    background-size: contain;
}
.grid-tile .product-promo {
  margin-top: -31px;
  font-size: .8rem;
  text-align: center;
  line-height: 1;
  width: 100%;
  padding: .6rem;
  background-color: rgba(240,240,240,.85);
}
.grid-tile .product-promo span, .grid-tile .product-promo div {
  padding:9px 5px;
  font-size:.7rem;
  display: block;
}

/*.cat-tile-sticker.p1-favorite{
    padding: 2%;
    top: 2.2em;
    left: auto;
    right: .2em;
    min-width: 35px;
    height: 25px;
    background: rgba(255,255,255,0.8);
}*/
.cat-tile-sticker.p1-favorite {
    z-index: 1;
    top: 2.2em;
    right: 0.2em;
    left: auto;
    min-width: 35px;
    height: 35px;
    padding: 2%;
    border-radius: 20px;
    background: rgba(255,255,255, 0.8);
    box-shadow: 1px 2px 8px 0 rgba(0,0,0,0.1);
}
.mobile .cat-tile-sticker.p1-favorite {
    top: auto;
    /* left: auto; */
    right: 1em;
    bottom: 1em;
}
.p1-heart {
    display: block;
    width: 100%;
    height: 100%;
    background: url('p1-heart-logo.png?$staticlink$') center center no-repeat;
    background-size: contain;
}
@media screen and (max-width: 768px) {
    .cat-tile-sticker {
        top: 105px;
        left: 7px;
    }
    .mobile .cat-tile-sticker.two-col {
        top: 85px;
    }
}

/*----  Holiday Logo
a.header-logo {
    padding-top: 5px;
    background-image: url('//www.pier1.com/on/demandware.static/-/Sites-pier1_us-Library/default/logo-holiday-2015.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 5px;
}
a.header-logo span {
    visibility: hidden !important;
}
 -----*/
.desktop .hidden-desktop {
    display: none;
}

br.mobile-only,
br.tablet-only,
br.desktop-only {
    display: none;
}

.mobile br.mobile-only {
    display: block;
    height: 0;
}

.tablet br.tablet-only {
    display: block;
    height: 0;
}

.desktop br.desktop-only {
    display: block;
    height: 0;
}

/*LOADER GIF*/

.ui-dialog.cush-modal #dialog-container {
    background: url('loader.gif?$staticlink$') no-repeat center;
}
/*CUSHIONIZER OVERRIDES*/
a.btn-inverted.trigger-upsell {
    margin: 0 0 0 1% !important;
}
.mobile a.btn-inverted.trigger-upsell {
    display: block;
    width: 162px;
    margin: 0.5em auto !important;
}
/*a.btn-inverted.trigger-upsell:after {
    content: "\203A";
    font-size: 1.6em;
    margin: 0 0 0 3%;
    vertical-align: -1px;
}*/
#product-content-container > .product-overview {
    padding: 0 0.3em;
}

/*-----   GC hide   -----*/
.chkout-payment-header.giftc {
    display: none;
}

.chkout-payment-header.giftc + div {
    display: none;
}

#gift-card-section {
    display: none;
}

/*MONETATE TESTING CSS STYLES DO NOT REMOVE - CB*/
.search-result-content.hide-thumbs .thumb-link {
    opacity: 0.01;
}

.search-result-content.hide-thumbs .thumb-link.show-silo-image {
    opacity: 1;
}

/*LOYALTY STYLES*/
.content-slot.cs-loyalty-account-side-info {
    display: inline-block;
}

/*STYLES*/
#checkout-menu .orderdetails-pricing .strikethrough {
    font-weight: normal;
}

#checkout-wrapper #checkout-menu .orderdetails-label {
    max-width: 65%;
}

/*UGCV VIDEO MODAL*/


.video-dialog {
    display: none;
}

.video-dialog.is-open {
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
}

.video-dialog #dialog-container {
    position: fixed;
    z-index: 1200;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 590px;
    margin: 0 auto;
    margin-top: -320px;
    margin-left: -350px;
    padding: 0;
    background: white;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.mobile .video-dialog #dialog-container {
    top: 50px;
    left: 50%;
    width: 300px;
    height: 426px;
    margin: 0 auto;
    margin-top: 0;
    margin-left: -150px;
}

.video-dialog.is-open #dialog-container {
    display: block;
}

html.noscroll {
    overflow-y: hidden;
    height: 100%;
}

.video-dialog.is-open #dialog-container:after {
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    position: absolute;
    top: -30px;
    right: -30px;
    display: block;
    padding: 0.5rem 0.6rem;
    content: 'X';
    cursor: pointer;
    text-align: center;
    color: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    background: rgba(0,0,0,0.30);
}

.mobile .video-dialog.is-open #dialog-container:after {
    top: -40px;
    right: 0;
}

.video-dialog .product-slider {
    width: 100%;
    margin: 0.25rem 0;
    padding: 0 1rem;
    list-style: none;
}

.video-dialog .product-slider .slider-frame {
    overflow-y: scroll;
    height: 145px;
}

.mobile .video-dialog .product-slider .slider-frame {
    height: 210px;
}

.video-dialog .product-slider .p-tile {
    display: block;
    float: left;
    width: 32%;
    margin: 0;
    padding: 0.5rem;
    color: inherit;
    border: 1px solid transparent;
}

.mobile .video-dialog .product-slider .p-tile {
    width: 50%;
}

.video-dialog .product-slider .p-tile:hover {
    border: 1px solid #efefef;
}

.video-dialog .product-slider .p-tile:nth-child(n+3) {
    margin-bottom: 0.5rem;
}

.video-dialog .product-slider .p-tile:nth-child(3n+0) {
    margin-right: 0;
}

.mobile .video-dialog .product-slider .p-tile {
    min-height: 156px;
    margin: 0.25rem 0;
}

.video-dialog .product-slider .p-tile img {
    float: left;
    width: 75px;
    margin-right: 0.5rem;
}

.mobile .video-dialog .product-slider .p-tile img {
    float: none;
    width: 60%;
    margin: 0 auto 0.5rem;
}

.video-dialog .product-slider .p-tile .product-name {
    font-size: 0.8rem;
    line-height: 1.4em;
    display: block;
    float: left;
    width: 100px;
}

.mobile .video-dialog .product-slider .p-tile .product-name {
    float: none;
    width: 100%;
}

.video-dialog .product-slider .p-tile.soldout {
    display: none;
}

.video-dialog .product-slider h4 {
    margin: 0.5em 0;
    border-bottom: 1px solid #cccccc;
}

.sidenav-search .category-level-1 li {
    display: none;
}

ul.category-level-1.toggle-content li {
    display: block;
}

.sidenav-search .category-level-1 li.active,
.sidenav-search .category-level-1 li.active > li {
    display: block;
}

.sidenav-search .category-level-1 > li.active > .category-level-2 li {
    display: block;
}

/*CHECKOUT NOW TEST CSS*/
.add-to-cart.checkout-now {
    margin-top: 0 !important;
    padding: 1em .8em !important;
}
.btn-green i.icon-lock {
    vertical-align: -1px;
}

/*CSS FOR SURCHARGE INDICATOR*/
span.surchargecontent.spu-msg em {
    font-size: .9rem;
}

/* CSS FOR PDP AUDIO PLAYER */

.related-link .audioPlayer {
  display: inline-block;
  float: left;
}

.related-link .audioText {
  margin: 5px 0 0 10px;
  font-size: 1.1em;
  display: inline-block;
  width: 70%;
  line-height: 1.4;
}

.audioPlayer .pButton, .audioPlayer .pButton:hover{
    height:35px;
    width: 35px;
    padding:0;
    margin:0;
    border:none;
    border-radius: 50%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-color:RGBA(22,103,161,1.0);
    background-position: center;
    outline:none;
    min-width: 0;
}

.audioPlayer .playButton.pButton {
  background-image: url("features/audio-player/audio-play.png?$staticlink$");
  background-position: 60% 50%;
}

.audioPlayer .pauseButton.pButton {
  background-image: url("features/audio-player/audio-pause.png?$staticlink$")
}

.audioPlayer .pButton.hide {
  display:none;
}

.sidenav.refinements .refinement.price {
  display: none;
}

.mobile .v2.l-top-nav { /* hacks for adding text under icons causing header height to be taller than the 80px we had set */
  height: auto;
  padding-bottom: 0;
}

/* ALL WEATHER OVERLAY */
.grid-tile .product-tile[data-itemid="CR15005"] .product-image:after,
.grid-tile .product-tile[data-itemid="PS72096"] .product-image:after,
.grid-tile .product-tile[data-itemid="PS72102"] .product-image:after,
.grid-tile .product-tile[data-itemid="PS72104"] .product-image:after,
.grid-tile .product-tile[data-itemid="PS72107"] .product-image:after {
    content: "";
    display: block;
    color: #576A80;
    opacity: .8;
    text-transform: uppercase;
    font-weight: 600;
    text-indent: 30px;
    margin-top: -33px;
    height: 28px;
    width: 100%;
    background: white url(features/icon-aw-full.svg?v=1) center center no-repeat;
}

.aw-tag {
  padding:0;
  width: 100%;
  background: url(features/icon-aw-full.svg?v=1) center center no-repeat;
}

/* Quickview Position Overwrite */

.product-collection-tile #quickviewbutton, .product-tile #quickviewbutton {
  left:5px;
  top:5px;
  bottom:auto;
}

#content-wrap.orderconfirmation .pt_order-confirmation h1 {
  font-family: "Brand Sans",sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
}


/*  Sale Sticker Bullet Proof */
.sale-sticker-group {
  position: relative;
  font-size: 120px;
  width: 1.75em;
}
.sale-sticker-group .up-to-msg {
  font-size: .25em;
  font-style: italic;
  text-align: center;
  line-height: 1;
}
.sale-sticker-group .up-to-msg {
  display: none;
}
.sale-sticker-group.up-to .up-to-msg {
  display: block;
}
.sale-sticker-group .tagline {
  width: 100%;
  font-size: .3em;
  text-align: center;
  margin: .25em 0;
  line-height: 1;
}
.serif.sale-sticker-group .tagline {
  font-family: "Brand Serif","Palatino", serif;
}
.sale-sticker-group .cta {
  font-size: .2em;
}
.sale-sticker-group .sale-sticker {
  display: block;
  width: 1.65em;
  height: .9em;
  position: relative;
  line-height: 1;
  letter-spacing: -.05em;
  margin-left: .05em;
}
.serif.sale-sticker-group .sale-sticker {
  width: 1.5em;
  margin-left: .125em;
}
.sale-sticker-group .percent-off {
  font-size: .6em;
  position: absolute;
  top: .1em;
  width: .9em;
  right: 0;
  letter-spacing: 0;
}
.sale-sticker-group .sale-off {
  font-size: .45em;
  position: absolute;
  top: 2em;
  left: 0;
  text-transform: uppercase;
}
.serif.sale-sticker-group .percent-off {
  top: .15em;
  font-size: .55em;
}
.serif.sale-sticker-group .sale-off {
  top: 2.4em;
  font-size: .4em;
}
.serif.sale-sticker-group .up-to-msg {
  font-family: "Brand Serif", "Palatino",serif;
}
.serif.sale-sticker-group .sale-sticker {
  font-family: "Brand Serif","Palatino",serif;
}

/* END - Sale Sticker Bullet Proof */

/* Homepage Load Flicker and Slideshow Fix */

.pt_storefront .cycle-wrapper  {
  visibility: hidden;
}

.pt_storefront .content-slot {
  position: relative;
}

/* logo issue on mac chrome Version 54.0.2840.98 desktop */

.desktop #top-nav.l-top-nav {
    position:static;
}

.desktop #top-nav .l-top-nav-right {
    z-index:180;
}

/* Fixes header dropdown close button covered by content */

.nav-panel .closer {
  z-index: 100;
}

/* Adjusting Disabled Button CSS */

button[disabled] {
  background: #ADB2B6!important;
  color: rgb(218, 222, 225);
  opacity: .7;
}

/* Mobile Hamburger/Search Bar Alignment Fix */

.v2.l-top-nav .l-top-nav-btm {
  height:45px;
}

.v2.l-top-nav .l-top-nav-btm .tn-btn#tn-menu-btn, .v2.l-top-nav .l-top-nav-btm #tn-search, .v2.l-top-nav .l-top-nav-btm #tn-search .search, .v2.l-top-nav .l-top-nav-btm form.search #main-search, .v2.l-top-nav .l-top-nav-btm form.search .btn {
  height: 100%;
}

/* Sale Color Fix */

#category-grid .lnd-desc.sale {
  color: #e75d52;
}

/* For Monetate */
.rv-hide {
  display:none !important;
  visibility: hidden !important;
}

div#rn_ConditionalChatContainer_PDP {
  display: none;
}
