@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600|Roboto+Condensed:400,700,300|Roboto:400,700);
#comments,#keystone-content,#keystone-content .keystoneRoundButton,#keystone-content input,.keystoneCommentsMessagesNotice,.keystoneLiveDate,.keystoneLiveModeratorTag,.keystoneLiveSeparator,.keystoneLiveUserName,.keystoneRoundButton{font-family:Roboto,'Open Sans',Helvetica,sans-serif}
#container,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
*,.keystoneComment{box-sizing:border-box}
.keystoneFadeTransition-enter{opacity:.01}
.keystoneFadeTransition-enter.keystoneFadeTransition-enter-active{opacity:1;transition:all .3s ease-in;-webkit-transition:opacity .3s ease-in}
.keystoneFadeTransition-leave{opacity:1}
.keystoneFadeTransition-leave.keystoneFadeTransition-leave-active{opacity:.01;transition:opacity .3s ease-in;-webkit-transition:opacity .3s ease-in}
.keystoneSlideInFromRightTransition-enter{opacity:.01;transform:translate(10%,0);-webkit-transform:translate(10%,0)}
.keystoneSlideInFromRightTransition-enter.keystoneSlideInFromRightTransition-enter-active{opacity:1;transform:translate(0,0);-webkit-transform:translate(0,0);-webkit-transition:all 650ms cubic-bezier(.23,1,.32,1);-moz-transition:all 650ms cubic-bezier(.23,1,.32,1);-o-transition:all 650ms cubic-bezier(.23,1,.32,1);transition:all 650ms cubic-bezier(.23,1,.32,1)}
.keystoneSlideInFromRightTransition-leave{opacity:1;transform:translate(0,0);-webkit-transform:translate(0,0)}
.keystoneSlideInFromRightTransition-leave.keystoneSlideInFromRightTransition-leave-active{opacity:.01;transform:translate(10%,0);-webkit-transform:translate(10%,0);-webkit-transition:all 650ms cubic-bezier(.23,1,.32,1);-moz-transition:all 650ms cubic-bezier(.23,1,.32,1);-o-transition:all 650ms cubic-bezier(.23,1,.32,1);transition:all 650ms cubic-bezier(.23,1,.32,1)}
[hidden],audio:not([controls]){display:none}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size:1em;-webkit-font-smoothing:antialiased}
embed,iframe,img,object,table{max-width:100%}
iframe{border:none}
img{height:auto}
a img,img{border:0}
body,html{margin:0}
#comments a,#comments button,#keystone-content a,#keystone-content button{cursor:pointer}
/*!
 * Polyfill CSS object-fit
 * http://helloanselm.com/object-fit
 *
 * @author: Anselm Hannemann <hello@anselm-hannemann.com>
 * @author: Christian "Schepp" Schaefer <schaepp@gmx.de>
 * @version: 0.3.4
 *
 */
x-object-fit{position:relative!important;display:inline-block!important}
x-object-fit>.x-object-fit-taller,x-object-fit>.x-object-fit-wider{position:absolute!important;left:-100%!important;right:-100%!important;top:-100%!important;bottom:-100%!important;margin:auto!important}
.x-object-fit-none>.x-object-fit-taller,.x-object-fit-none>.x-object-fit-wider{width:auto!important;height:auto!important}
.x-object-fit-fill>.x-object-fit-taller,.x-object-fit-fill>.x-object-fit-wider{width:100%!important;height:100%!important}
.x-object-fit-contain>.x-object-fit-taller{width:auto!important;height:100%!important}
.x-object-fit-contain>.x-object-fit-wider,.x-object-fit-cover>.x-object-fit-taller{width:100%!important;height:auto!important}
.x-object-fit-cover>.x-object-fit-taller,.x-object-fit-cover>.x-object-fit-wider{max-height:none!important}
.x-object-fit-cover>.x-object-fit-taller{max-width:none!important}
.x-object-fit-cover>.x-object-fit-wider{width:auto!important;height:100%!important;max-width:none!important}
.x-object-position-top>.x-object-fit-taller,.x-object-position-top>.x-object-fit-wider{top:0!important;bottom:auto!important}
.x-object-position-right>.x-object-fit-taller,.x-object-position-right>.x-object-fit-wider{left:auto!important;right:0!important}
.x-object-position-bottom>.x-object-fit-taller,.x-object-position-bottom>.x-object-fit-wider{top:auto!important;bottom:0!important}
.x-object-position-left>.x-object-fit-taller,.x-object-position-left>.x-object-fit-wider{left:0!important;right:auto!important}
#keystone-content{position:absolute}
.keystoneOverlay{position:fixed;overflow:auto;background-color:rgba(1,1,1,.7);top:0;left:0;width:100%;height:100%;display:block;z-index:100}
.keystoneSidebar{position:fixed;right:0;height:100%;width:600px;min-width:320px;max-width:100%;background-color:#161616;color:red;overflow-y:scroll}
.keystoneSidebarClose{position:absolute}
.keystoneOverlayClose{position:fixed;width:100%;height:100%;overflow-y:scroll;cursor:pointer}
#container{width:96%;margin:30px 2%}
.keystoneRoundButton{display:inline-block;font-size:14px;padding:10px;text-decoration:none;background-color:#900;-webkit-border-radius:3px;-moz-border-radius:3px}
.keystoneCommentAvatar,.keystoneCommentatorAvatar{height:30px;-webkit-border-radius:50%;border-radius:50%;object-fit:cover;cursor:pointer;float:left}
.keystoneValidation{font-color:#900;font-size:14px;font-weight:700}
.keystoneInputError{margin-bottom:16px;color:#d20000}
.KeystoneInputError textarea,.keystoneInputError input{box-shadow:0 0 0 rgba(245,0,0,.9);border:1px solid rgba(245,0,0,.9)!important;animation:keystoneErrorPulse 2.3s infinite;-webkit-animation:keystoneErrorPulse 2.3s infinite}
@-webkit-keyframes keystoneErrorPulse{0%{-webkit-box-shadow:0 0 0 0 rgba(245,0,0,.7)}
70%{-webkit-box-shadow:0 0 0 10px rgba(245,0,0,0)}
100%{-webkit-box-shadow:0 0 0 0 rgba(245,0,0,0)}
}
@keyframes keystoneErrorPulse{0%{-moz-box-shadow:0 0 0 0 rgba(245,0,0,.7);box-shadow:0 0 0 0 rgba(245,0,0,.7);-webkit-box-shadow:0 0 0 0 rgba(245,0,0,.7)}
70%{-moz-box-shadow:0 0 0 10px rgba(245,0,0,0);box-shadow:0 0 0 10px rgba(245,0,0,0);-webkit-box-shadow:0 0 0 10px rgba(245,0,0,0)}
100%{-moz-box-shadow:0 0 0 0 rgba(245,0,0,0);box-shadow:0 0 0 0 rgba(245,0,0,0);-webkit-box-shadow:0 0 0 0 rgba(245,0,0,0)}
}
.keystoneRoundButton:disabled{opacity:.4!important}
.keystoneRequired:before{content:'*';color:red;position:absolute;display:block;margin-top:-20px;margin-left:-10px}
.keystoneButtonContainer i.fa.fa-circle-o-notch{opacity:0;width:0;height:0;transition:all .33s;transform:scale(0)}
.keystoneButtonContainer.keystoneSubmitting i.fa.fa-circle-o-notch{opacity:1;width:auto;height:auto;transition:all .33s;transform:scale(1)}
.keystoneComment{width:100%;display:block;position:relative;padding:0 12px 20px 0}
.keystoneComment .keystoneComment{margin-top:24px}
.keystoneCommentAvatar{width:30px;background-color:#fff;display:block;z-index:1;position:relative}
.keystoneCommentContainer,.keystoneCommentIndent,.keystoneCommentator{width:100%;position:relative;box-sizing:border-box}
.keystoneCommentContainer{padding-left:41px;padding-top:5px}
@media (max-width:767px){.keystoneCommentContainer{padding-left:20px}
.keystoneCommentContainer .keystoneCommentContainer .keystoneCommentContainer{padding-left:0}
.keystoneCommentAvatar{margin-right:6px}
}
.keystoneCommentContainer p{color:#3c3c3c;font-size:14px;margin:0;padding:10px 0}
.keystoneCommentContainer .fa{color:#c8c8c8}
.keystoneCommentContainer .fa-circle{font-size:4px;position:relative;top:-3px;padding:0 4px}
.keystoneCommentContainer .fa-thumbs-down,.keystoneCommentContainer .fa-thumbs-up{font-size:18px}
.keystoneCommentContainer .fa-flag{margin-left:4px;font-size:16px}
.keystoneCommentContainer .keystoneVoted .fa{color:#900}
.keystoneCommentReply{text-decoration:none;color:#c8c8c8}
.keystoneCommentName{color:#900;font-size:16px;cursor:pointer}
.keystoneCommentTime{color:#303030;font-size:16px}
.keystoneCommentIndent{display:block;padding:0 0 0 41px}
.keystoneCommentator{display:block;background-color:#232427;padding:15px 12px;margin-bottom:16px}
.keystoneComment .keystoneCommentator{margin-top:16px}
.keystoneCommentatorHide{color:#fff;text-transform:none;font-size:14px;display:inline}
.keystoneCommentatorInput{position:relative;width:calc(100%-43px);margin-left:43px;box-sizing:border-box}
.keystoneCommentatorAvatar{width:30px;background-color:#fff}
.keystoneAccountForm input,.keystoneCommentatorInput textarea,.keystoneGender a{-webkit-border-radius:3px;border-radius:3px;font-weight:400}
.keystoneCommentatorInput textarea{appearance:none;-moz-border-radius:3px;border:1px solid #fff;outline:0;color:#3c3c3c;background-color:#fff;font-size:14px;width:100%;padding:8px;height:75px;margin-bottom:10px;box-sizing:border-box}
.keystoneCommentatorInput:after{content:'';position:absolute;border-style:solid;border-width:10px 10px 10px 0;border-color:transparent #FFF;display:block;width:0;z-index:1;margin-top:-15px;left:-10px;top:22px}
.keystoneCommentatorInput .keystoneRoundButtonContainer{text-align:right}
.keystoneCommentCount{margin-bottom:16px;display:inline-block;text-transform:uppercase}
.keystoneCommentFilter hr{margin-bottom:16px}
.keystoneSignIn{max-width:1042px;width:90%;margin:30px auto auto;position:relative}
@media (max-width:767px){.keystoneSignIn{margin-top:10px}
}
.keystoneSignIn h1{font-size:20px;color:#d1d1d1;text-align:center;margin:0;padding:25px 0 15px}
.keystoneSignIn hr{border:0;height:1px;background-color:#900}
.keystoneSignIn ul{list-style-type:none;text-align:center;display:block;padding:0;margin:0}
.keystoneSignIn ul li{display:inline-block}
.keystoneSignIn ul li a{display:inline-block;padding:18px 50px;font-size:14px;color:#5a5a5a;text-decoration:none;border-bottom:4px solid transparent}
.keystoneSignIn ul li a.keystoneSelected,.keystoneSignIn ul li a:hover{color:#d1d1d1;border-bottom:4px solid #A00}
.keystoneCloseWindow{position:absolute;top:25px;right:25px;color:#5a5a5a}
.keystoneCloseWindow .fa-close{font-size:20px}
.keystoneSignInForm{width:40%;margin:0 auto;padding:14px 0 0}
@media (max-width:767px){.keystoneSignInForm{padding:0}
}
.keystoneSignInForm label{display:block;font-size:14px;color:#fff;width:100%;padding:0;margin:0 0 5px}
.keystoneMyAccount input,.keystoneSignInForm input{width:94%;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#d1d1d1;border:1px solid #d1d1d1;font-size:14px;line-height:28px;padding:10px 3%;height:auto;margin-bottom:20px;color:#3c3c3c;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.KeystoneFileInputHidden{display:none}
.KeystoneProfileUploadIndicator{color:rgba(255,255,255,.85);text-shadow:0 0 25px rgba(0,0,0,.9);position:relative;top:-112px;z-index:100;cursor:pointer;font-weight:100;font-size:14px}
.KeystoneProfileUploadIndicator i.fa{transform:scale(1.1);transition:all 1s ease-in-out}
.KeystoneProfileUploadIndicator:hover i.fa{transform:scale(1.5)}
.KeystoneProfileUploadIndicator span{position:relative;display:inline-block}
.KeystoneProfileUploadIndicator span i.fa.fa-circle-o-notch{display:none}
.KeystoneProfileUploadIndicator.KeystoneProfileUploading span i.fa.fa-circle-o-notch{display:initial}
.KeystoneProfileEditImage{opacity:.6}
.keystoneSignInForm .keystoneForgotPwd{color:#A00;font-size:11px;float:right;display:inline-block;text-decoration:none;padding:0;margin:0;position:relative;bottom:-4px;z-index:100}
.keystoneSignInForm .keystoneForgotPwd:hover{text-decoration:underline}
.keystoneSignInForm .keystoneButtonContainer{display:block;text-align:center;margin-top:16px}
.keystoneSignInForm .keystoneRoundButton{padding-left:77px;padding-right:77px;margin-bottom:48px}
.keystoneSignInForm .keystoneTagline{display:block;color:#fff;font-size:14px;margin-bottom:4px;text-align:center;padding-bottom:35px}
.keystoneSignInForm .keystoneTagline .keystoneAccentLink{color:#A00;font-weight:700;text-decoration:none;display:inline-block}
.keystoneSignInForm .keystoneAccentLink:hover{text-decoration:underline}
@media (max-width:767px){.keystoneSignIn .keystoneSignInForm{width:80%;margin:0 auto}
.keystoneSignInForm .keystoneTagline .keystoneAccentLink{display:block}
}
.keystoneCreateAccount{max-width:1042px;width:90%;background-color:#161616;margin:30px auto auto;position:relative}
.keystoneCreateAccount h1{font-size:20px;color:#d1d1d1;text-align:center;margin:0;padding:25px 0 15px}
.keystoneCreateAccount p,.keystoneResendVerify p{color:#fff;margin:0;font-size:14px;text-align:center}
.keystoneCreateAccount p{padding:30px 15% 60px}
.keystoneResendVerify p{padding:30px 0}
.keystoneCreateAccount p a{color:#A00;text-decoration:none}
.keystoneCreateAccount p a:hover{text-decoration:underline}
.keystoneCreateAccount hr{border:0;display:block;height:1px;background-color:#900}
.keystoneCreateAccount .keystoneGrid50{display:inline;float:left;margin-left:1%;margin-right:1%;width:48%}
.keystoneAccountForm{width:60%;margin:0 20%}
.keystoneAccountForm label{display:block;font-size:14px;color:#fff;width:100%;padding:0;margin:0 0 5px}
.keystoneAccountForm input{width:94%;appearance:none;-moz-border-radius:3px;background-color:#d1d1d1;border:1px solid #d1d1d1;font-size:14px;padding:10px 3%;margin-bottom:20px;color:#3c3c3c}
.keystoneAccountForm .keystoneGender{margin:0 1% 16px;display:block;width:100%;float:left}
.keystoneGender a,.keystoneGender label{display:inline-block;width:auto;margin:0 16px 0 0}
.keystoneGender a{color:#373737;-moz-border-radius:3px;padding:5px 12px 6px 8px;background-color:#d1d1d1;text-decoration:none;font-size:16px;position:relative}
.keystoneGender .fa{font-size:20px;position:relative;top:2px;margin-right:5px;min-width:22px}
.keystoneAccountForm .keystonePolicy{color:#d1d1d1;display:block;float:left;font-size:11px;text-align:center;margin:16px auto 25px;width:100%}
.keystoneAccountForm .keystonePolicy a{color:#A00;text-decoration:none}
.keystoneAccountForm .keystoneButtonContainer{display:block;text-align:center;margin-top:10px;clear:left}
.keystoneAccountForm .keystoneRoundButton{padding-left:50px;padding-right:50px}
.keystoneAccountForm .keystoneTagline{display:block;color:#fff;font-size:14px;text-align:center;margin:48px auto 40px;padding-bottom:35px}
.keystoneAccountForm .keystoneTagline .keystoneAccentLink{color:#A00;text-decoration:none;font-weight:700}
.keystoneAccountForm .keystoneTagline .keystoneAccentLink:hover{text-decoration:underline}
@media (max-width:767px){.keystoneAccountForm{width:80%;margin:0 auto}
.keystoneCreateAccount .keystoneGrid50{width:auto;float:none;display:block}
.keystoneAccountForm .keystoneTagline .keystoneAccentLink{display:block}
.keystoneCloseWindow{top:10px;right:10px}
}
.keystoneMyAccount{max-width:600px;width:100%;text-align:center;text-transform:uppercase}
.keystoneMyAccount h1{text-transform:uppercase;font-size:20px;color:#d1d1d1;margin:0;padding:25px 0 15px}
.keystoneClosePanel{position:absolute;top:25px;left:25px;color:#5a5a5a}
.keystoneClosePanel .fa-close{font-size:20px}
.keystoneMyAccount ul{list-style-type:none;text-align:center;display:block;padding:0;margin:0}
.keystoneInputError.keystoneMyAccountBio span,.keystoneMyAccount ul li,.keystoneMyAccount ul li a{display:inline-block}
.keystoneMyAccount ul li a{padding:15px 35px;font-size:14px;color:#5a5a5a;text-decoration:none;border-bottom:4px solid transparent}
.keystoneMyAccount ul li a.keystoneSelected,.keystoneMyAccount ul li a:hover{color:#d1d1d1;border-bottom:4px solid #A00}
.keystoneMyAccount .keystoneMyPicture{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}
.keystoneMyAccount .keystoneMyPicture img{width:150px;height:150px}
.keystoneMyAccount .keystoneMyInfo{background-color:#0f0f0f}
.keystoneMyAccount .keystoneMyID{font-size:18px;color:#fff;margin:3px auto}
.keystoneMyAccount .keystoneMyID>div{width:45%;margin:0 auto}
.keystoneMyAccount .keystoneMyName{font-size:14px;color:#5a5a5a;margin:3px auto}
.keystoneMyAccount .keystoneMyName>div{display:inline-block;width:45%}
.keystoneMyAccount p{font-size:14px;color:#5a5a5a;text-align:center;margin:0;padding:20px 15% 35px}
.keystoneMyAccount p a{color:#A00;text-decoration:none}
.keystoneMyAccount p a:hover{text-decoration:underline}
.keystoneMyAccount hr{border:0;height:1px;background-color:#900}
.keystoneMyAccount .keystoneRoundButton{padding-left:43px;padding-right:43px}
.keystoneMyAccount .keystoneTagline{display:block;color:#fff;font-size:14px;text-align:center;background-color:#0f0f0f;padding:23px 0}
.keystoneMyAccount .keystoneTagline .keystoneAccentLink{color:#A00;font-weight:700;text-decoration:none}
.keystoneMyAccount .keystoneTagline .keystoneAccentLink:hover{text-decoration:underline}
.keystoneMyAccount .keystoneSettingTitle{background-color:#252525;width:94%;text-align:left}
.keystoneEditAccount{text-align:left;width:90%;padding:25px 5%}
.keystoneEditAccount label{display:block;font-size:14px;color:#fff;width:100%;padding:0;margin:0 0 7px}
.keystoneMyAccount input{width:270px;appearance:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#252525;border:1px solid #252525;font-size:14px;padding:10px;color:#fff;text-align:center}
.keystoneEditAccount .keystoneChangeAddr{margin-bottom:20px}
.keystoneEditAccount .keystoneCheck{font-size:14px;color:#5a5a5a;text-decoration:none;position:relative;display:block;margin-bottom:20px}
.keystoneEditAccount .keystoneCheck .fa{font-size:18px;color:#d1d1d1;margin-right:8px;position:relative;top:2px}
#keystone-content a{color:#757575}
#keystone-content,#keystone-content input{font-weight:700;text-transform:uppercase}
#keystone-content input[type=email],#keystone-content input[type=password],#keystone-content input[type=text]{height:40px;line-height:20px;padding:0 3%;width:100%;text-align:left;border:none;background:#d1d1d1;color:#242424;text-transform:none!important}
#keystone-content .keystoneMyAccount input{border:none;background:#d1d1d1;color:#242424;height:40px;line-height:20px;padding:0 3%}
#keystone-content .keystoneMyAccount .keystoneMyName input[type=text]{width:98%;margin:3% 1%}
#keystone-content input[type=file]{background:0 0;color:#d1d1d1}
#keystone-content .keystoneMyAccount .keystoneMyAccountBio input{margin:0 auto 20px}
#keystone-content::-webkit-input-placeholder{color:#757575}
#keystone-content:-moz-placeholder{color:#757575}
#keystone-content::-moz-placeholder{color:#757575}
#keystone-content:-ms-input-placeholder{color:#757575}
.keystoneMyAccount,.keystoneSignIn{background-color:#242424}
.keystoneCreateAccount,.keystoneMyAccount .keystoneMyInfo,.keystoneMyAccount .keystoneSettingTitle,.keystoneMyAccount .keystoneTagline{background:0 0}
.keystoneCreateAccount,.keystoneMyAccount .keystoneMyInfo{padding:0}
.keystoneMyAccount .keystoneTagline{width:80%;margin:30px auto;border-top:1px solid #333}
.keystoneMyAccount h1,.keystoneSignIn h1{background:#171717}
.keystoneMyAccount hr,.keystoneSignIn hr{display:none}
.keystoneMyAccount .keystoneSettingTitle{color:#d1d1d1;font-weight:700;font-size:16px;padding:0;margin:0 3%}
.keystoneMyAccount input{margin:0 5px 20px}
.keystoneEditAccount input{margin:0 0 20px}
.keystoneMyAccount .keystoneMyPicture{width:auto;height:auto;margin:50px auto 10px}
.keystoneMyAccount .keystoneMyPicture img{display:block;float:none;margin:0 auto 20px;border:4px solid;border:5px solid #ac0000;cursor:auto}
.keystoneCardDelete:hover,.keystoneCheckoutSaveCard:hover,.keystoneCloseWindow .fa-close:hover,.keystoneCommentsMessagesNotice:hover,.keystoneCommentsWrap .keystoneSignInForm .keystoneRoundButton:hover,.keystoneNoticeContent,.keystonedTempNoticClose:hover,.keystonedTempNoticeClose:hover{cursor:pointer}
#keystone-content .keystoneMyAccount ul li a.keystoneSelected,#keystone-content .keystoneMyAccount ul li a:hover{border-bottom:4px solid #ac0000;color:#fff}
#keystone-content .keystoneRoundButton,.keystoneRoundButton{background:#ac0000;border:none;color:#fff;font-weight:700;text-transform:uppercase;border-radius:0}
.keystoneValidation{text-align:center;color:#fff}
#keystone-content .keystoneMyAccount .keystoneMyAccountBio input{height:64px;width:542px;max-width:100%;clear:right;word-break:break-word}
#comments .keystoneComment .keystoneCommentContainer .keystoneComment .keystoneCommentContainer .keystoneComment .keystoneCommentContainer .keystoneComment .keystoneCommentContainer .keystoneComment .keystoneCommentContainer .keystoneComment .keystoneCommentContainer{padding-left:0}
.keystoneNoticeMessage{color:#fff;font-size:125%}
#keystone-content .keystoneLoginScreen .keystoneTagline{background:#171717;font-size:16px;text-align:center;padding:15px 5px;margin-bottom:15px}
@media(max-width:767px){#keystone-content .keystoneLoginScreen .keystoneTagline{font-size:14px}
}
#keystone-content .keystoneLoginScreen .keystoneTagline a.keystoneAccentLink{color:#ac0000}
#keystone-content .keystoneSignupLoginView form.keystoneCreateAccount img{width:275px;height:auto;display:block;margin:0 auto}
#keystone-content input[type=email]{width:100%;text-align:left;text-transform:none!important}
.keystoneSpecialUser em{margin:0 .25em;font-size:12px;color:#900}
.keystoneNoticeWrap{color:#757575;padding:40px 40px 0}
.keystoneCenteredLabel{color:#fff;border-top:none;font-size:14px;margin:60px auto 15px;padding:0;width:80%;display:block}
.keystoneNoticeWrap .keystonePasswordConfirmDelete{width:70%!important}
#keystone-content .keystoneRoundButton.keystoneGrayButton{background:#3b3b3b}
.keystoneGreyMessage{font-size:12px;margin-top:10px;margin-bottom:20px;color:#fff}
.keystoneDeleteAccount{color:#fff}
.keystoneCancelDelete{text-align:center;width:100%;display:block}
.keystoneDeleteComment{font-size:10px;color:#757575;margin-left:8px}
.keystoneChatWrap img{position:relative;margin-right:10px;top:-4px}
.keystoneChatTitle{height:35px;outline:red}
.keystoneChatMessage{padding-left:40px;margin-top:-10px;padding-right:5px;font-size:13px;line-height:16px}
.keystoneCommentsInnerWrap{overflow:scroll;background:#262626}
.keystone-live{position:relative;padding-left:10px;color:#999}
.keystoneChatWrap{padding:10px 10px 0}
.keystone-live-date{color:#434343}
.keystoneCommentsMessagesNotice{color:#D1D1D1;text-align:center;height:35px;padding-top:8px;text-transform:uppercase;background-color:#171717;bottom:59px;width:100%;position:absolute;z-index:1;font-size:13px}
.keystoneChatWrap.keystoneChatWeighted{background-color:#040404}
.keystone-chat-moderate{padding-left:40px;padding-top:5px}
.keystoneChatMessage{color:#d1d1d1}
@media screen and (max-width:767px){.keystone-live{padding-left:0}
.keystoneCommentsMessagesNotice{bottom:40px}
.keystoneChatFormWrap{background-color:#262626;height:40px}
.video-wrapper{padding-bottom:3px}
.keystoneChatFormWrap input{margin-top:5px}
}
.keystoneCommentsWrap .keystoneSignIn{position:fixed;top:20%;left:8%;z-index:2}
.keystoneNoticeContent{position:relative;top:-9px}
.keystoneLiveDate,.keystoneLiveSeparator{font-size:12px;color:#4f4f4f}
.keystoneLiveUserName{color:#c41230}
.keystoneLiveModeratorTag{font-size:14px;color:#626262}
.keystoneLiveDate{font-size:12px}
.keystoneCommentsWrap .keystoneCommentAvatar{width:25px;height:25px}
.keystoneChatFormWrap form{background-color:#262626;height:55px;width:100%;padding-top:10px}
.keystoneChatFormWrap input{display:block;width:95%;margin:0 auto;height:35px;background-color:#d1d1d1;color:#727272}
#keystone-checkout-container{width:100%;background-color:#242424;font-family:Roboto,"Open Sans",Helvetica,sans-serif}
.keystoneCheckoutSubmit{margin:40px auto 0;width:100%}
#keystone-checkout-container .keystoneCheckoutMonth{width:25%;margin-right:5px}
#keystone-checkout-container .keystoneCheckoutYear{width:68%}
.keystoneCheckoutOrderSummary{width:100%;padding-top:35px;padding-bottom:35px;background-color:#505050;margin-bottom:50px}
.keystoneCheckoutInnerWrap{width:611px;margin:0 auto}
#keystone-checkout-container h2{display:inline;margin-bottom:-5px;font-weight:400;font-size:20px;color:#FFF}
#keystone-checkout-container hr{color:#7b7b7b;margin-bottom:10px}
#keystone-checkout-container p{font-size:14px;margin:0;color:#d1d1d1}
#keystone-checkout-container a.keystoneCheckoutEdit{text-decoration:none;font-size:12px;color:#d94747}
.keystoneCheckoutInfoWrap{width:100%}
.keystoneCheckoutInfoLeft{float:left}
.keystoneCheckoutInfoRight{float:right}
.keystoneCheckoutColumn{width:620px;margin:0 auto;overflow:hidden}
.keystoneCheckoutAddress,.keystoneCheckoutBillSummary{float:left;width:49%;text-transform:uppercase}
.keystoneCheckoutBillSummary{margin-left:2%}
.keystoneCheckoutRightEdit{display:inline-block;float:right;margin-top:4px}
.keystoneCheckoutItem{color:#d1d1d1}
.keystoneRightText{float:right}
.keystoneTotalPrice{color:#FFF;margin-top:2px}
.keystoneCardLeft{float:left}
.keystoneCardRight{margin-top:11px;float:right}
.keystoneCardBrand{font-size:18px;color:#b7b7b7;text-transform:uppercase}
.keystoneCardFour{font-size:14px;color:#b7b7b7}
.keystoneCardExpires{font-size:14px;font-weight:600;color:#787777}
.keystoneCard{width:100%;clear:both}
.keystoneCardWrap hr{float:left;width:100%;margin-top:12px}
.keystoneCardDelete{padding-top:11px;padding-right:20px;color:#d94747;font-size:14px}
body #keystone-checkout-container .keystoneRoundButton{background:#590400;border-radius:2px;color:#fff;border:1px solid #7c2e2e;cursor:pointer}
.keystoneCardDelete,.keystoneCardSelect{float:left}
#keystone-checkout-container .keystoneSignIn,#keystone-checkout-container .keystoneSignInForm{width:100%}
#keystone-checkout-container .keystoneMyAccount input,#keystone-checkout-container .keystoneSignInForm input{background:#505050;height:40px;width:100%;border:none;color:#FFF}
#keystone-checkout-container input[type=checkbox]{width:10px;height:10px;background:#505050}
#keystone-checkout-container .keystoneCheckoutAddCard{margin-top:40px;margin-bottom:40px}
#keystone-checkout-container .keystoneSignIn{margin-top:0}
.keystoneCheckoutPaymentCardWrap{float:left;width:305px}
.keystoneCheckoutPaymentCvvWrap{float:left;width:60px;margin-left:10px}
.keystoneCheckoutPaymentDateWrap{float:left;margin-left:10px}
#keystone-checkout-container .keystoneSignInForm input.keystoneCheckoutMonth{width:60px}
#keystone-checkout-container .keystoneSignInForm input.keystoneCheckoutYear{width:100px}
#keystone-checkout-container .keystoneSignInForm label{color:#b7b7b7}
.keystoneCheckoutSaveCardWrap{clear:both;width:100%;margin-bottom:20px}
#keystone-checkout-container .keystoneCheck{color:#b7b7b7;background:#1e1e1e;margin-right:10px}
.keystoneCheckoutSaveCardCheck{float:left}
.keystoneCheckoutCheckLabel{font-size:14px;color:#787777}
.keystoneCheckoutSubmit .keystoneButtonContainer{float:right}
.keystoneCheckoutErrorWrap{width:100%}
.keystoneCheckoutError{width:70%;color:#ac0000;float:left;padding-top:5px}
#keystone-checkout-container .keystoneRoundButton{outline:0}
.keystoneCheckoutLogo{text-align:center;margin:20px auto}
.keystonePopupBasic{z-index:101;position:fixed;width:610px!important;top:100px;text-align:center}
.keystonePopupBasic p.keystoneNoticeMessage{font-size:18px!important}
.keystoneButtonContainer.keystoneCancelButton{margin-top:-35px;margin-bottom:-45px}
.vjs-ima3-flash.vjs-ad-loading .vjs-poster,.vjs-ima3-flash.vjs-ad-loading .vjs-tech{opacity:0}
.keystoneCommentNoticeWrap .keystoneCancelButton{display:none}
.keystoneCommentNoticeWrap .keystoneSignInForm{height:210px;padding:14px 0 0;width:80%;margin:0 auto}
.keystoneSignupGeneralError{width:100%;text-align:center}
#keystone-content button.keystoneResendVerifyButton{margin-bottom:5px}
.keystoneInputError span{display:block;margin-bottom:5px}
.keystoneSignupOptins h3{font-size:14px;margin-top:0}
.keystoneSignupOptins{font-size:14px;background-color:#191919;float:left;color:#afafaf;width:100%;padding:20px;margin-bottom:15px}
#keystone-content .keystoneSignupOptins a{color:#afafaf}
.keystoneSignupOptin{float:left;width:100%;margin-bottom:10px}
.keystoneSignupOptin.keystoneSignupOptinMultiple{width:50%}
.keystoneSignupOptin i{margin-left:5px}
.keystoneSignupOptinWrap{margin-top:15px}
.keystoneSignupOptinWrap .fa{margin-right:10px}
.keystoneSignupOptinCopy{text-transform:none}
.keystoneSettingSubtitle{margin-left:24px;margin-top:20px;margin-bottom:-25px}
@media (max-width:767px){.keystoneSignIn h1{font-size:18px;padding:15px 0}
#keystone-content .keystoneSignupLoginView form.keystoneCreateAccount img{width:225px}
.keystoneCreateAccount p{padding:15px 0}
.keystoneCreateAccount{margin:15px auto auto}
}