/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Admin bar-------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.admin-bar header{
    top: 32px;
}

@media (max-width: 767px) {
    .admin-bar header{ top: 46px; }
}

@media (max-width: 600px) {
    .admin-bar #wpadminbar{ top: -46px; }
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- CONTENT  -------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.main-content {
    margin-top: 100px;
}

.single-post-main-content {
    margin-top: 150px !important;
}

/* Single post paralax */
.parallax-img {
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}
.single-img {
    height: 420px !important;
    width: 100%;
    top: 100px;
    overflow: hidden;
    position: absolute;
}

.menu-fullscreen.single-cont {
    margin-top: 320px !important;
}

.menu-fullscreen.single-cont.no_thumbnail {
    margin-top: 150px !important;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Header ---------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.logo-menu, header .logo {
    height: 70px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- FULLSCREEN MENU  -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #d6cdcd;
    font-size: 36px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d6cdcd;
   opacity:  1;
   font-size: 36px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d6cdcd;
   opacity:  1;
   font-size: 36px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #d6cdcd;
   font-size: 36px;
}

.search-field-icon{
  padding-top: 10px;
}

.search-popout-block{
  top: -96px;
  height: 96px;
  width: 100%;
  position: absolute;
  z-index: 1002;
  background-color: #ebe9e9;
}

.close-search{
  position: absolute;
  right: 30px;
  height: 60px;
  width: 60px;
  background-color: #df1f1f;
  border-radius: 0;
}

.close-search:hover, .close-search:focus{
  color: #fff;
}
.close-search:active{
  background-color: #df1f1f;
}

.fa-search{
  /*padding-top: 8px;*/
  font-size: 24px;
}

.nav-up {
    top: -100px;
    opacity: 0;
    transition: top .5s, opacity .5s;
}

header{
  background: #fff;
  overflow: auto;
  position: fixed !important;
  width: 100%;
  z-index: 2020;
  top: 0px;
  opacity: 1;
  transition: top .3s, opacity .3s;
}

.disp-inline{
  display: inline-block;
}

.top-part{
  position: relative;
  background: #fff;
  border-bottom: 4px solid #cccccc;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #d6cdcd;
    font-size: 36px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d6cdcd;
   opacity:  1;
   font-size: 36px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d6cdcd;
   opacity:  1;
   font-size: 36px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #d6cdcd;
   font-size: 36px;
}

.search-popout-block{
  top: -96px;
  height: 96px;
  width: 100%;
  position: absolute;
  z-index: 1002;
  background-color: #ebe9e9;
}

.close-search{
  position: absolute;
  right: 30px;
  height: 60px;
  width: 60px;
  background-color: #df1f1f;
  border-radius: 0;
}

.close-search:hover, .close-search:focus{
  color: #fff;
}
.close-search:active{
  background-color: #df1f1f;
}

.fa-search{
  font-size: 24px;
}

header{
  position: relative;
}

.hes2{
  display: none;
}

.search-block{
  position: absolute;
  z-index: 15;
  width: 0;
  right: 300px;
  opacity: 1;
  pointer-events: none;
  transition: width .25s, opacity .25s;
}

.search-roll{
  pointer-events: all;
  opacity: 1;
  width: calc(100% - 300px);
}

.search-block.search-roll .header-search-form input{
  padding-left: 30px;
}

.header-search-form{
  height: 100px;
  width: 100%;
  background: #f2f2f2;
  display: inline-block;
}

.hsf2{
  height: 60px;
  background: #f2f2f2;
  margin: 18px 30px;
  margin-left: 30px;
  display: block;
}

.header-search-form input{
  height: 66px;
  width: 100%;
  margin-top: 12px;
  padding-left: 0;
  background-color: #f2f2f2;
  border: none;
  color: #1f1f1f;
  font-weight: 500;
  font-size: 36px;
  outline: none;
  line-height: 60px;
}

.hsf2 input{
  height: 60px;
  width: 100%;
  background-color: #fff;
  border: none;
  color: #1f1f1f;
  font-weight: 500;
  font-size: 36px;
  padding-left: 30px;
  outline: none;
  line-height: 60px;
  margin-top: 0;
}

.header-element{
  height: 100px;
}

.search-button{
  padding: 20px 34px;
  width: 20%;
  margin-top: 12px;
  border-left: 2px solid #c3bbbb;
  color: #2d2d2d;
  font-weight: 500;
  float: right;
  display: inline-block;
}

.logo{
  float: left;
  font-size: 26px;
  color: #df1f1f;
  font-weight: 900;
  margin-top: 24px;
  margin-left: 50px;
}

.logo img{
  vertical-align: bottom;
}

.menuu{
  line-height: 88px;
  height: 100px;
  width: 100px;
  font-size: 18px;
  color: #000;
  background-color: #df1f1f;
  border-left: 1px solid #c3bbbb;
  border-radius: 0;
  float: right;
  z-index: 1005;
  position: relative;
}

.bgMenu{
  background-color: rgba(231,33,33,0.2);
  border-left: 1px solid rgba(195, 187, 187,0.2);
  transition: background-color 0.8s;
}

.btn.news{
  line-height: 88px;
  height: 100px;
  width: 100px;
  font-size: 24px;
  color: #000;
  background-color: #fff;
  border-left: 1px solid #c3bbbb;
  border-radius: 0;
  float: right;
  outline: none;
  z-index: 1005;
  position: relative;
}

.news .fa-newspaper-o{
  display: block;
  margin-top: 24px;
}

.news-p{
  position: absolute; top: 56px; margin-left: 20px; font-weight: 700; color: #181818; 
}

.btn.search-btn{
  line-height: 88px;
  height: 100px;
  width: 100px;
  font-size: 24px;
  color: #000;
  background-color: #fff;
  border-left: 1px solid #c3bbbb;
  border-radius: 0;
  position: relative;
  float: right;
  outline: none;
  z-index: 32;
}

.search-btn .fa-search{
  display: block;
  margin-top: 24px;
}

.search-p{
  position: absolute; top: 56px; margin-left: 16px; font-weight: 700; color: #181818;
}

.tooltip-my{
  display: none;
  position: absolute;
  height: 56px;
  width: 180px;
  right: 24px;
  z-index: 9999;
  background-color: #fff;
  text-align: center;
}

.hover-latest{
  font-size: 18px;
  line-height: 56px;
  color: #727272;
  font-weight: 700;
}

.arrow-up {
  width: 0; 
  margin-top: -16px;
  margin-left: 16px;
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #f2f2f2;
}

.btn-menu{height:46px;position:relative;right:0;top:11px;cursor:pointer;z-index: 1005;margin: 0 auto;}
.btn-menu:after{position:absolute;top:22px;right:20px;display:block;height:8px;width:30px;border-top:2px solid #fff;border-bottom:2px solid #fff;content:''}
.btn-menu:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:30px;background:#fff;content:''}
.btn-menu.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:29px;background:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.btn-menu.menu-opened:before{top:23px;background:#fff;width:29px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.menu-p{position: absolute; top: 54px; margin-left: 22px; font-weight: 700; color: #fff;}
.close-menu-p{position: absolute; top: 56px; margin-left: 19px; font-weight: 700; color: #fff;}

.full-menu{
  position: absolute;
  z-index: 500;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: -webkit-linear-gradient(40deg, rgba(223,31,31,0.88) 0%, rgba(54,46,204,0.88) 100%);
  background: -moz-linear-gradient(40deg, rgba(223,31,31,0.88) 0%, rgba(54,46,204,0.88) 100%);
  background: -o-linear-gradient(40deg, rgba(223,31,31,0.88) 0%, rgba(54,46,204,0.88) 100%);
  background: linear-gradient(40deg, rgba(223,31,31,0.88) 0%, rgba(54,46,204,0.88) 100%);
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.full-menu .logo-menu {
    z-index: 501;
}

.full-menu .assign-menu {
    font-size: 33px;
}

.full-menu > ul{
  position: relative;
  list-style: none;
  margin-left: 50px;
}

.full-menu > ul > li{
  opacity: 0;
  text-align: left;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  padding: 16px 0;
  padding-right: 32px;
  width: 300px;
}

.full-menu > ul > li:last-child{
  border-bottom: none;
}

.full-menu > ul > li > a{
  font-family: 'Archivo Narrow', serif;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  display: inline-block;
  transition: color .2s;
}

.full-menu > ul > li > a.get-sub{
  padding-bottom: 16px;
}

.full-menu > ul > li > a:hover{
  color: #d6cdcd;
}

.full-menu ul .subs {
  display: none;
  list-style: none;
}

.full-menu ul ul li{
  border: none !important;
}

.full-menu > ul > li > ul > li{
  opacity: 0;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: none;
}

.full-menu > ul > li > ul > li > ul > li{
  opacity: 0;
  text-align: left;
  border-bottom: none;
}

.full-menu > ul > li > ul > li a{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: color .2s;
}

.full-menu > ul > li > ul > li a.get-sub{
  padding-bottom: 4px;
}

.full-menu > ul > li > ul > li a:hover{
  color: #d6cdcd;
}

.has-sub > a > i{
  font-size: 12px;
  vertical-align: bottom;
  width: 14px;
  height: 24px;

}

.hs1{
  max-height: 72px;
}

.hs1 > a > i{
  font-size: 20px;
  vertical-align: bottom;
  width: 20px;
  height: 32px;
}

.full-menu > ul > li > ul > li > a{
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  display: inline-block;
}

.social-menu > a{
  font-size: 36px;
  padding: 10px;
}

.logo-menu{
  position: absolute;
  left: 0;
  margin-top: 24px;
  margin-left: 50px;
}

.menu-class{
  z-index: 2022;
  transition: opacity 0.8s;
  height: 100vh;
  overflow: hidden;
  opacity: 1 !important;
  pointer-events: all !important;
}

.menu-class1{
  transition: opacity 0.8s;
  opacity: 1 !important;
}

.search-menu{
  margin-top: 0;
  margin-left: 50px;
  height: 60px;
  position: relative; 
  display: none; 
}

.srch-menuu{
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 60px;
}

.search-menui{
  position: relative;
  width: 300px;
  height: 60px;
  line-height: 60px;
  padding: 6px;
  font-size: 18px;
  color: #727272;
}

.search-menu-btn{
  position: absolute;
  z-index: 22;
  top: 2px;
  right: 1px;
  padding: 15px;
  background: #fff;
  color: #727272;
}

.search-menui::-webkit-input-placeholder { /* WebKit browsers */
    color:    #727272;
    font-size: 24px;
    font-weight: 700;
}
.search-menui:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #727272;
   font-size: 24px;
   font-weight: 700;
}
.search-menui::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #727272;
   font-size: 24px;
   font-weight: 700;
}
.search-menui:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #727272;
   font-size: 24px;
   font-weight: 700;
}


/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 8px;
    display: none;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------ LATEST POSTS LIST -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.latest-posts-list{
  position: absolute;
  z-index: 1005;
  padding: 12px;
  padding-bottom: 0;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  pointer-events: none;
  right: 0;
  top: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.lps-op1{
  pointer-events: all;
  opacity: 1;
}

.pic-left{
  position: relative;
  float: left;
  overflow: hidden;
  width: 25%;
  height: 100px;
}

.pic-left img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.latest-t{
  position: relative;
  width: 75%;
  padding-left: 16px;
  float: left;
  cursor: pointer;
  left: 0;
}

.latest-t:hover .descp-title{
  color: #df1f1f;
}

.latest-info{
  height: 26px;
  position: relative;
  padding-left: 16px;
  width: 75%;
  float: right;
  top: 0 !important;
  left: 0 !important;
}

.slided{
  opacity: 1;
  pointer-events: all;
}

.cat-latest-posts{
  position: absolute;
  bottom: 0;
}

.one-post-latest{
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 12px;
}

.caption-first-latest{
  position: absolute;
  top: 24px;
  padding: 8px 10px;
  background-color: #df1f1f;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.image-caption-latest{
  position: relative;
  width: 58px;
  float: left;
}

.latest-read-more{
  margin-right: 30px;
  padding-top: 12px;
  float: right;
  color: #df1f1f;
}

@media (max-width: 1200px){
  .carousel-items{
    padding: 0;
  }

  .post-thumbnail{
    width: 99%;
    height: 105px;
    overflow: hidden;
  }

  .post-thumbnail img{
    width: 99%;
  }

  .post-thumb-date{
    display: none;
  }

  .post-thumb-title{
    width: 100%;
  }

  .image-ff{
    margin-left: 30%;
    width: 70%;
  }
  
  .c-date, .c-day{
    width: 13.3%;
  }

  .cd-pagination.animated-buttons .button a{
    padding: 0 1.4em !important;
  }

  .latest-posts-list{
    width: 600px;
    height: calc(100vh - 100px);
    overflow: auto;
  }
}

@media (max-width: 992px){
  .pad13{
    padding-left: 13px;
  }

  .resp-fix{
    padding-right: 0;
    padding-top: 36px;
  }

  .menu-class{
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }

  .content{
    margin-top: 0;
  }

  .slide-left{
    margin-left: 0;
  }

  .responsive-del{
    display: none;
  }

  .search-block{
    right: 200px;
  }

  .search-roll{
    width: calc(100% - 200px);
  }

  .logo-footer{
    text-align: center;
  }

  .footer-soc-up{
    height: 80px;
  }

  .navbar-collapse{
    overflow: hidden !important;
  }

  .menu-top-pos{
    width: 100%;
  }

  .navbar-static-top ul li{  
    display: block;
    width: 100%;
    line-height: 46px;
    text-align: left;
    border-bottom: 1px solid #999999;
  }

  .navbar-static-top ul li:last-child a{
    width: auto !important;
  }

  .author-part{
    padding: 0 15px;
    margin-bottom: 24px;
  }

  .comments-part{
    padding: 0 15px;
  }

  .single-cont{
    padding: 0 15px;
  }

  .swiper-container2{
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .hes{
    display: none;
  }

  .hes2{
    display: block;
  }

  .caption-first{
    display: none;
  }

  .image-caption{
    width: 100%;
  }

  .one-post-text{
    height: 82px;
    color: #fff;
  }

  .sticky-rm{
    color: #fff;
  }

  .cap-one{
    color: #1f1f1f;
  }

  .sticky-cap-one{
    color: #fff;
  }

  .oneolay{
    width: 100%;
  }

  .image-ff{
    margin-left: 0;
    padding-left: 30px;
    width: 100%;
  }

  .oto{
    color: #fff;
  }

  .oto .post-type-two{
    color: #fff;
  }

  .pp2{
    padding-left: 0 !important;
    color: #fff;
  }

  .blog-row{
    padding: 0;
  }

  .sidebar{
    display: none;
  }

  .foot-out{
    display: none;
  }
  
  .has-sub {
    border-bottom: 2px solid rgba(255,255,255,0.2) !important;
  }
  
  .has-sub > a {
      border: none;
  }
}

@media (max-width: 768px){
  /* SINGLE */
  .single-content{
    margin-top: -22px;
  }

  .text-block{
    padding: 0 15px;
  }

  .intro-text > p{
    padding: 0 5px;
  }

  .quote-text{
    padding: 0 5px;
  }

  .comm-edit{
    float: left;
  }

  .comm-reply{
    float: left;
    margin-left: 72px;
  }
    
  /* SINGLE END */

  /* SLIDER CUSTOM */

  .slide-posts.active{
    display: none !important;
  }

  .slide-posts{
    display: none !important;
  }

  .slide-list{
    width: 100%;
    left: 0;
    padding: 0 15px;
    margin-left: 0;
  }

  .responsive-del{
    display: block;
  }

  /* SLIDER CUSTOM END */
  .search-menu{
    display: block;
  }

  .btn{
    padding: 6px 0;
  }

  .btn.news{
    width: 60px;  
  }

  .news-p{
    margin-left: 13px;
  }

  .btn.menuu{
    background-color: transparent;
    width: 60px;
  }

  .btn.search-btn{
    display: none;
  }

  .btn-menu:after, .btn-menu:before{
    right: 16px;
  }

  .menu-p{
    color: #1f1f1f !important;
    margin-left: 11px;
  }

  .close-menu-p{
    color: #1f1f1f !important;
    margin-left: 6px;    
  }

  .btn-menu:before{
    background-color: #1f1f1f;
  }

  .btn-menu:after{
    border-color: #1f1f1f;
  }


  .btn-menu.menu-opened:before{
    background-color: #fff;
  }

  .btn-menu.menu-opened:after{
    background-color: #fff;
    color: #fff;
  }

  .bgMenu p{
    color: #fff !important;

  }

  .header-search-form{
    margin: 0;
  }

  .full-menu > ul > li > a{
    font-size: 24px;
    line-height: 24px;
  }

  .hs1 > a > i {
    font-size: 14px;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
  }

  .menu-class{
    margin-top: 0;
  }

  .swiper-content{
    width: auto;
  }

  .swiper-read-more{
    text-align: left;
  }

  .cat-title{
    text-align: center;
  }

  .cat-img{
    left: 50%;
    margin-left: -72px;
  }

  .cat-descp{
    left: 50%;
    margin-left: -72px;
  }

  .one-cat{
    padding: 0;
    margin-top: 24px;
  }

  .latest-posts-list{
    width: 400px;
  }
}

@media (max-width: 420px) {
  .logo{
    margin-left: 24px;
    margin-top: 0;
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
  }

  .logo img{
    width: 100%;
    top: 24px;
    vertical-align: middle;
    position: absolute;
  }
  
  .logo-menu{
    width: 50%;
  }

  .logo-menu img{
    width: 100%;
  }

  .f-subscribe{
    width: 100%;
  }

  .f-btn{
    width: 100%;
  }

  .c-date{
    width: 13%;
  }

  .c-day{
    width: 13%;
  }

  .pp2{
    display: none;
  }

  .one-cat{
    width: 100%;
  }

  .slide-list li{
    margin-left: 14px;
  }

  .slide-list li .margin-top12 .cap-one{ 
    position: relative;
    overflow: hidden;
    height: 66px;
  }

  .login-form{
    margin-left: -180px;
  }

  .c-day, .c-date{
    width: 13.2%;
  }

  .latest-info{
    display: none;
  }

  .responsive-del{
    display: none;
  }
}

@media(max-width: 400px){
  .replies{
    padding-left: 24px;
  }

  .latest-posts-list{
    width: 320px;
  }

  .latest-info{
    display: none;
  }

  .logo-menu{
    margin-left: 24px;
  }

  .full-menu > ul{
    left: 12px;
  }

  .search-menu{
    margin-left: 12px;
  }

  .fa-stack.fa-lg.margin-left24{
    margin-left: 126px;
  }
}