/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Admin bar-------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 600px) {
    .admin-bar #wpadminbar{ top: -46px; }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- General --------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
body, html {
    background: #f2f2f2;
}

.no-margin {
    margin: 0;
}

blockquote {
    position: relative;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
    margin: 0;
    padding-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px !important;
    font-weight: 400;
    font-style: italic;
    line-height: 36px;
    color: #828282;
}

blockquote p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px !important;
    font-weight: 400;
    font-style: italic;
    line-height: 36px;
    padding-top: 36px;
    color: #828282;
}

blockquote cite {
    display: block;
    font-size: 24px !important;
    font-weight: 600;
    font-style: italic;
    color: #828282;
}

cite {
    font-weight: 600;
    font-style: italic;
    color: #828282;
}

/* Avatar in whole site */
.author-img-thumb img {
    width: auto;
}

/* Login form frontend */
.header-login a {
    color: #7f7f7f; 
}

.header-login a:hover {
    color: #df1f1f;
    text-decoration: underline;
}

.header-login .login-click {
    text-decoration: underline; 
    cursor: pointer;
}

.header-login .login-form input,
.header-login .login-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #717171;
}

.user-login {
  margin-bottom: 17px;
}

/* Make main content relative */
.position-relative {
    position: relative;
}

/* Page edit div */
.page-edit-div {
    position: absolute;
    top: 5px;
    right: 22px;
}

.page-edit-div #vc_load-inline-editor:before {
    content: "- ";
    margin: 0 5px;
}

.page-edit-div a {
    color: #df1f1f;
}

/* Social icons in footer and header */
.shindiri-soc-icon {
  font-size: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-top: 14px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Header ---------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.logo-menu, header .logo {
    max-width: 300px;
    overflow-y: hidden;
}

.header-logo {
    max-width: 100%;
    height: auto;
}

.default-menu-logo a {
    display: block;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Footer ---------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
footer .footer-top {
    background: #222222;
}

footer .footer-bottom {
    background: #ece7e7;
}

footer .footer-logo {
    max-width: 100%;
    height: auto;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Archive --------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.blog-img .post-img-link {
    color: #ffffff;
}

.categories-bpa {
    max-height: 184px;
    overflow-y: hidden;
}

.categories-bpa p {
  padding: 0 6px;
  margin: 2px;
  font-family: 'Archivo Narrow', sans-serif !important;
  font-size: 14px;
  line-height: 22px;
}

.avatar-and-desc {
    position: relative;
}

.post-text {
   height: auto; 
   -webkit-line-clamp: initial; 
}

.post-text a {
    color: #df1f1f;
}

.post-text a:hover {
    text-decoration: underline;
}

.one-type {
    float: none;
}

.latest-read-more-blog {
    display: inline-block;
}

.latest-read-more-blog a {
    color: #1f1f1f;
}

.latest-read-more-blog a:hover {
    color: #df1f1f;
}

/* Blog shortcode and archive */
.one-post-sticky .one-post-hovered,
.one-post-sticky .one-post-hovered2 {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}

.one-post-sticky .oneolay {
  width: 100%;
}

.one-post-sticky .image-caption {
  width: 100%;
  position: absolute;
}

.one-post-sticky .image-ff .cap-one, 
.one-post-sticky .image-ff .pp2, 
.one-post-sticky .image-ff .one-post-text, 
.one-post-sticky .image-ff .oto, 
.one-post-sticky .image-ff .oto .post-type-two {
  color: #fff;
}

.one-post-sticky .sticky-rm a {
  color: #fff;
  opacity: 1;
}

.shindiri-blog-shortcode .cap-one,
.one-bpost .cap-one {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    display: inline;
}

.shindiri-blog-shortcode .one-post .one-type.oto .sticky-date,
.one-post .one-type.oto .sticky-date{
    padding-right: 12px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.shindiri-blog-shortcode .one-post .one-type.oto,
.one-post .one-type.oto {
    font-family: 'Open Sans', sans-serif;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
}

.sticky-cats-date {
    padding-top: 8px;
    height: auto;
}

.sticky-cats-date .it-world:focus {
    color: #ffffff;
}

.shindiri-blog-shortcode .one-post .one-type.oto .properties-post,
.one-post .one-type.oto .properties-post {
    font-family: 'Open Sans', sans-serif;
    float: none;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
}

.internet-exp .shindiri-blog-shortcode .one-post .one-type.oto .properties-post,
.internet-exp .one-post .one-type.oto .properties-post {
    font-family: "Archivo Narrow", sans-serif;
    float: none;
    padding-left: 0;
    font-weight: 400;
    font-size: 14px;
}

.one-bpost .properties-post1 {
    padding-left: 4px;
}

/* Fix for sticky post when multiple categories */
@media (max-width: 992px) {
    .one-post-text {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .search-block{
            display: none;
    }
}

/* Blog pagination */
.blog-pagination {
    padding: 0 15px;
    margin-top: 24px;
}

.blog-pagination .cd-pagination {
    width: 100%;
}

.blog-pagination .cd-pagination .dots{
    padding: 0 0.4em;
}

.cd-pagination li.button {
  margin-top: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cd-pagination li {
        margin: 0 0.15em;
    }
    
    .blog-pagination .cd-pagination .dots{
        padding: 0 0;
    }
    .blog-pagination .cd-pagination .button .prev {
        padding-left: 0.4em !important;
    }
    
    .blog-pagination .cd-pagination .button .next {
        padding-right: 0.4em !important;
    }
}

@media (max-width: 991px) {
    
    .blog-pagination .cd-pagination .dots{
        padding: 0 0;
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Author page ----------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.author .author-paralax-content {
    padding-left: 30px;
}

.author .auth-side-cont {
    background-color: #f2f2f2;
    padding-left: 30px;
}

.author .default-menu.auth-side-cont {
    margin-top: 36px !important;
}

.author .auth-side {
    height: auto;
}

.author .no-posts-found {
    padding-bottom: 72px;
}

.author .blog-cont .no-pad-lr .row {
    margin: 0;
}

.author .share-item .fa-pinterest-square {
    color: #cb2027;
    font-size: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-top: 14px;
}

.author .share-item .fa-flickr {
    color: #0478a3;
    font-size: 36px;
    line-height: 36px;
    padding-left: 10px;
    padding-top: 14px;
}

/* If no featured image height fix */
.author .menu-fullscreen.single-cont.no_thumbnail {
  margin-top: 186px !important;
}

.author .default-menu.single-cont.no_thumbnail {
  margin-top: 72px !important;
}

.author .default-menu.auth-side-cont.author-no-image {
  margin-top: 72px !important;
}

.author .auth-side-cont.author-no-image {
    padding-top: 36px;
}

.author .auth-side-cont .author-info.author-has-image {
    top: 250px;
}

.author .single-title {
    position: relative;
}

.author .author-paralax-content .single-content {
    overflow: auto;
    width: 100%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Single post ----------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.parallax-img {
    background-attachment: fixed !important;
    background-position: 50% 0;
    background-size: cover;
}

.single-paralax .single-cont {
    background: none;
}

.single-paralax-container {
    background: #ffffff;
    margin-left: 30px;
    margin-right: 15px;
}

.single-post-container {
    padding-left: 30px;
    padding-right: 15px;
}

.single-cont.no_thumbnail {
    margin-top: 36px !important;
}

.single-post-cats {
    position: absolute;
    z-index: 9;
    left: 50%;
    top: -10px;
}

.single-post-cat {
    position: relative;
    margin-right: 5px;
}

/* Single post content */

.single .single-cont {
    padding-left: 0;
    padding-right: 0;
}

.single .single-content {
    color: #1d1d1d;
}

.single .single-content img {
    max-width: 100%;
    height: auto;
}

.single .single-title {
    margin: 24px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.single .single-content a {
    color: #df1f1f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.single .single-content a:hover {
    text-decoration: underline;
}

.single .single-content address {
    margin-bottom: 0;
}

.single .single-content p:first-child{
    padding-top: 0;
}

.single .single-content > table{
    padding: 0px 12px;
}

.single .single-content > ul{
    padding-top: 30px;
}

.single .single-content h2,
.single .single-content h3 {
    padding: 12px 0;
}

.single .single-content ul li,
.single .single-content ol li,
.single .single-content table,
.single .single-content dl {
      font-size: 18px;
}

.single .single-content ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 30px;
    
}

.single .single-content .text-block > p,
.single .single-content .text-blockb > p{
    padding-top: 0;
    margin-bottom: 30px;
}

.single .single-content .text-block > ul,
.single .single-content .text-blockb > ul,
.single .single-content .text-block > ol,
.single .single-content .text-blockb > ol {
    padding-bottom: 30px;
}

.single .single-content .text-block ul,
.single .single-content .text-blockb ul {
    padding-left: 14px;
    list-style: none;
}

.single .single-content .text-block ol,
.single .single-content .text-blockb ol {
    padding-left: 25px;
}

.single .single-content .text-block ul li:before,
.single .single-content .text-blockb ul li:before {
    color: #808080;
    content: "•";
    font-weight: 900;
    position: relative; 
    left: -7px;
    font-size: 18px;
    margin-left: -7px;
}

.single .single-content .text-block ul ol li:before,
.single .single-content .text-blockb ul ol li:before {
    display: none;
}

.single .single-content .text-block ul ol ul,
.single .single-content .text-blockb ul ol ul {
    list-style-type: disc;
}

.single .single-content .text-block ol ol,
.single .single-content .text-blockb ol ol {
    padding-left: 14px;
    line-height: 30px;
}

.single .single-content .text-block ol li,
.single .single-content .text-blockb ol li {
    font-family: 'Open Sans', sans-serif;
}

.single .single-content ul{
    padding-left: 16px;
}

.single .single-content table tbody th {
   border: 1px solid #1d1d1d; 
   font-size: 16px;
   font-weight: 700;
   padding: 8px;
}

.single .single-content table tbody td {
   border: 1px solid #1d1d1d; 
   padding: 8px;
}

.single .single-content table tbody th a,
.single .single-content table tbody td a {
    color: #df1f1f;
}

/* Featured html */
.single .featured-html {
    padding-bottom: 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #1d1d1d;
}

.single .single-with-sidebar .featured-html {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -48px;
    margin-bottom: 0;
}

.single .featured-html.not-youtube iframe,
.single .featured-html.not-youtube embed {
    width: 100%;
}

.single .featured-html .alignnone {
    margin: 0;
}

/* You tube responsive css */
.single .featured-html.youtube {
    position: relative;
    padding-bottom: 54.1%; /* 16:9 Aspect Ratio */
    padding-top: 25px;
    height: 0;
}

.single-paralax-container .featured-html.youtube {
    margin-bottom: 48px;
}

.single .featured-html.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}

.single .author-descp .fa-stack {
    margin-right: 5px;
}

.single .author-descp .fa-stack-2x {
    font-size: 18px;
}

.single .single-cont img {
    max-width: 100%;
    height: auto;
}

/* Single tags */
.single-post-tags {
    margin-top: 24px;
}

.single-post-tags a {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #1d1d1d;
}

.single-post-tags a:hover {
    color: #df1f1f;
}

/* Single post last comment */
.single .no-comments .comment-img-and-descp {
    padding-top: 28px;
}

.single .no-comments .comment-descp {
    min-height: 0;
}

.single .no-comments .view-click {
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}

.single .no-comments .view-click:hover {
    text-decoration: underline;
}

/* Single post navigation */
.single-post-navigation {
    width: 100%;
    max-width: 100%;
}

.single-post-navigation .previous {
    float: left;
}

.single-post-navigation .next {
    float: right;
}

.no-touch .single-post-navigation.cd-pagination a:hover {
    background: none;
    text-decoration: none;
}

/* Single post comments open */
.single-post #comments .heading-no-comments {
    display: none;
}

/* Last comment */
.single-last-comment-name {
    margin-left: 74px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ---------------------------------------- Comments ------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.comment-form-container {
    padding-top: 2px;
}

#comments .comment-author-time {
    margin-left: 24px;
    color: #1d1d1d;
    text-transform: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0;
}

#comments .date-time {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    padding-left: 24px;
    color: #b4b4b4;
}

#comments .comment-text {
    margin-left: 24px;
}

#comments .comment-content a {
    color: #df1f1f;
}

#comments .comment .comment {
    width: 100%;
    padding: 28px 0 0 5%;
    border: none;
}

#comments .comment .comment.depth-2 {
    border-top: 2px solid #f1f1f1;
    margin-top: 28px;
}

#comments .comment .comment .comment-comment-sep,
#comments .comment-parent.depth-1 .comment-comment-sep {
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 28px;
}

#comments .comment .comment .comment-comment-sep:last-child {
    border: none;
}

#comments .cd-pagination li a {
    background: #f1f1f1;
}

.comment-reply-link,
.comment-edit-link {
    padding: 4px 15px;
    margin: 4px;
    border: none;
    float: right;
    background-color: #df1f1f;
    color: #ffffff;
}

.comment-reply-link:hover,
.comment-edit-link:hover,
.comment-reply-link:focus,
.comment-edit-link:focus {
    background-color: #ef2f2f;
    color: #ffffff;
}

/* Comments description */

#comments .comment-descp{
    color: #1d1d1d;
}

#comments .comment-descp p{
    margin-left: 0;
}

#comments .comment-descp h2{
    padding: 12px 0;
}

#comments .comment-descp ul{
    padding-left: 40px;
}

#comments .comment-descp ul ul,
#comments .comment-descp ol ol {
  padding-left: 16px;
}

#comments .comment-descp table tbody th{
   border: 1px solid #1d1d1d; 
   font-size: 16px;
   font-weight: 700;
   padding: 8px;
}

#comments .comment-descp table tbody td{
   border: 1px solid #1d1d1d; 
   padding: 8px;
}

#comments .comment-descp table tbody td a{
    color: #df1f1f;
    
}

/* Page comments */
.page #comments {
    background: #ffffff;
    margin-top: 36px;
}

.page #comments .load-more .times-click {
    display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ---------------------------- Comments and contact form -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.logged-in-as{
    color: #424242;
}

.logged-in-as a{ 
    color: #df1f1f;
}

.comment-form{
    margin-top: 24px;
    padding: 0 24px;
}

.comment-form .form-group textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
    border-radius: 0;
}

.comment-form .form-group textarea::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group textarea:-moz-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group textarea::-moz-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group textarea:-ms-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group input{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
    border-radius: 0;
}

.comment-form .form-group input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group input:-moz-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group input::-moz-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-group input:-ms-input-placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #717171;
}

.comment-form .form-submit .submit{
    border: none;
    background-color: #df1f1f;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 24px;
}

.comment-reply-title a{
    border: none;
    color: #df1f1f;
    padding: 8px 16px;
    display: block;
    width: 76px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 24px;
}

/* Contact form */
.shindiri-contact-form .input_div {
    position: relative;
}

.shindiri-contact-form .error {
    position: absolute;
    right: 10px;
    top: 7px;
}

.shindiri-contact-form .form-sent {
    display: none;
    font-size: 2.2em;
    position: absolute;
    top: 40%;
    margin-top: -80px;
    left: 50%;
    margin-left: -108px;
}

.shindiri-contact-form .form-sent p {
    color: #df1f1f;
    display: block;
    font-size: 2.8em;
    margin-top: 19px;
    text-align: center;
}

.captcha_shindiri_contact_form > img {
    border: 1px solid;
    float: left;
    vertical-align: baseline;
    margin-right: 10px;
}

.shindiri-contact-form input.captcha-input {
  height: 33px;
  margin-left: 3px;
  text-align: center;
  width: 65px;
  font-size: 22px;
}

/* Loading for contact form */
.shindiri-contact-form .spinner {
    width: 60px;
    height: 60px;
    background-color: #df1f1f;

    margin: 50px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Default widgets ------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sidebar div.widget_sidebar:first-child {
    margin-top: 0;
}

.widget_sidebar {
    color: #424242;
}

.widget_sidebar > ul {
    font-size: 14px;
    line-height: 16px;
    padding-left: 22px;
    padding-top: 22px;
    list-style-type: none;
}

.widget_sidebar label {
    padding: 10px 5px 0 22px;
}

.widget_sidebar select {
    color: #424242;
}

.widget_sidebar ul {
    list-style-type: none;
    padding-left: 15px; 
}

.widget_sidebar a {
    color: #424242;
}

.widget_sidebar a:hover {
    color: #df1f1f;
    text-decoration: underline;
}
  
/* Widget calendar */
.widget_calendar #calendar_wrap {
    color: #424242;
}

.widget_calendar #calendar_wrap a {
    color: #df1f1f;
}

.widget_calendar #calendar_wrap a:hover {
    text-decoration: underline;
}


.widget_calendar caption {
    font-weight: bold;
    margin: 10px 0;
    font-size: 16px;
}

.widget_calendar #calendar_wrap table {
    width: 100%;
    text-align: center;
}

.widget_calendar #calendar_wrap table td,
.widget_calendar #calendar_wrap table th {
    text-align: center;
}

.widget_calendar #calendar_wrap table td {
    width: 44px;
}

.widget_calendar #calendar_wrap table tfoot #prev {
    float: left;
    margin-top: 10px;
}

.widget_calendar #calendar_wrap table tfoot #next {
    float: right;
    margin-top: 10px;
}

/* Nav menu wodget */
.widget_sidebar .sub-menu .menu-item {
    line-height: 16px;
}

/* Tag cloud */
.widget_tag_cloud .tagcloud a {
    font-size: 14px !important;
}

/* All other default widgets */
.widget_archive select{
    margin-top: 12px;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    color: #606060;
    padding-left: 12px;    
}

.widget_categories select{
    margin-top: 12px;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    color: #606060;
    padding-left: 12px;    
}

.widget_search label{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.widget_search label input{
    background-color: #f2f2f2;
    border: 1px solid #808080;
    padding-left: 12px
}

.widget_search label input::-webkit-input-placeholder{
    font-size: 18px;
    color: #808080;
}

.widget_search label input::-moz-placeholder{
    font-size: 18px;
    color: #808080;
}

.widget_search label input:-ms-input-placeholder{
    font-size: 18px;
    color: #808080;
}

.widget_search label input::-webkit-input-placeholder{
    font-size: 18px;
    color: #808080;
}

.widget_search label .screen-reader-text{
    display: none;
}

.widget_search .search-field{
    display: block;
    height: 60px;
    line-height: 60px;
    width: 100%;
}

.widget_search .search-submit{
    margin-left: 0px;
    padding: 8px 13px;
    border: none;
    background-color: #df1f1f;
    color: #fff;
}

img.wp-smiley{
    width: 15px;
}

.widget_text .textwidget {
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    margin-top: 12px;
}

.widget_text select{
     margin-top: 12px;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    color: #606060;
    padding-left: 12px;   
}

.widget_text img,
.widget_text select {
    width: 100%;
    height: auto;
}

.widget_text a{
    color: #df1f1f;
}

.widget_rss a.rsswidget{
    font-weight: 700;
}

.widget_rss .rss-date{
    font-weight: 700;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ----------------------------------- Custom widgets ------------------------------------------ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Latest comments widget */
.widget_shindiri_latest_comments a {
    text-decoration: none !important;
}

.widget_shindiri_latest_comments .footer-category {
    height: auto;
}

.widget_shindiri_latest_comments .categories-bpa {
  max-height: 100%;
  overflow-y: auto;
}

.widget_shindiri_latest_comments.archives-sidebar .categories-bpa {
  padding-left: 10px;
}

.widget_shindiri_latest_comments .categories-bpa a {
  float: none;
}

.widget_shindiri_latest_comments{
    background: #fff;
}

.widget_shindiri_latest_comments .f-comm{
    border-bottom: 1px solid #808080;
}

.widget_shindiri_latest_comments .f-comm:last-child {
    border-bottom: none;
}

.widget_shindiri_latest_comments .f-comm .categories-bpa a{
    padding: 5px;
    color: #fff;
}

.widget_shindiri_latest_comments .f-comm .categories-bpa a.footer-title{
    color: #808080;
    padding-left: 0;
    line-height: 32px;
}

.widget_shindiri_latest_comments .f-comm .categories-bpa a.footer-title:hover {
    color: #df1f1f;
}

/* Most popular widget */
.widget_shindiri_most_popular a {
    text-decoration: none !important;
}

.widget_shindiri_most_popular .nav {
    padding: 22px 22px 0px 22px;
    background: #ffffff;
}
.widget_shindiri_most_popular .fa-star-o {
    margin-right: 5px;
}

.fa-star-o{
    font-size: 18px;
}

.nav-tabs>li>a,.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border: none;
    border-radius: 0;
    color: #424242;
    font-size: 18px;
    font-weight: 700;
    background-color: #fff;
    padding: 12px;
    text-align: center;
    background-color: #f1f1f1;
}

.nav-tabs>li>a:hover{
    color: #df1f1f;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #df1f1f;
    color: #fff;
}

.nav-tabs{
    border-bottom: none;
}

.tab-content{
    background: #fff;
    border-bottom: 1px solid #b6b6b6;

}

.tab-pad0{
    padding-top: 0px;
}

.tab-pane1.active{
    margin: 0 22px;
    border: 2px solid #fff;
    background: #f1f1f1;
}

.side-popular > ul{
    padding: 0 22px;
    background: #fff;
    padding-top: 22px;
}

.one-popular{
    margin: 0 22px;
    border-bottom: 1px solid #fff;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.one-popular:hover{
    margin: 0;
    padding: 0 22px;
}

.one-popular:hover .pop-title{
    color: #df1f1f;
    text-decoration: underline;
    transition: color 0.3s;
}

.one-popular:hover .pop-number{
    color: #df1f1f;
    margin-right: 0;
}

.mp-tab{
    border: 2px solid #fff;
}

.mp-tab a{
    padding: 12px;
}

.tab-pane .pop-title{
    z-index: 2;
    position: relative;
}

.tab-pane .pop-number{
    z-index: 2;
    position: relative;
}


.tab-pane > .one-popular:last-child{
    border: none;
}

.pop-title{
    color: #424242;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 48px;
    padding-right: 8px;

}

.pop-number{
    font-size: 18px;
    color: #727272;
    float: right;
    line-height: 48px;
    font-weight: 400;
    transition: all .3s;
}

.widget_most_popular .nav-tabs li a {
    text-transform: capitalize !important;
}

.footer-sidebar.widget_shindiri_most_popular .lp-title .fa {
    display: none;
}

/* Latest posts */
.widget_shindiri_latest_posts a {
    text-decoration: none !important;
}

.widget_shindiri_latest_posts .pt-latest .iwLink {
    background-color: #E87E04;
    color: #fff;
    margin-right: 5px;
}

/* Week, month widget */
.widget_shindiri_week_moth_posts_widget a {
    text-decoration: none !important;
}

.widget_shindiri_week_moth_posts_widget .week-month-all {
    margin-top: 0;
}

.widget_shindiri_week_moth_posts_widget .week-month-all .nav {
    padding-left: 0;
}

.widget_shindiri_week_moth_posts_widget .iwLink, .widget_shindiri_week_moth_posts_widget .iwLink:hover {
    color: #ffffff;
}

.page-template-page-vc .side-latest:hover .pt-latest, 
.page-template-page-vc .side-latest:hover .lat-title, 
.page-template-page-vc .side-latest:hover .lat-date {
  color: #ffffff !important;
}

/* Calendar widget */
.shindiri_widget_calendar a {
    text-decoration: none !important;
    font-family: 'Open Sans', sans-serif;
    color: #df1f1f;
}

.shindiri_widget_calendar .lp-title {
    margin-bottom: 24px;
}

.shindiri_widget_calendar .lp-title .subtitle-icon {
    padding-right: 12px;
    color: #424242;
}

.shindiri_widget_calendar .calendar-top,
.shindiri_widget_calendar #next a,
.shindiri_widget_calendar #prev a {
    color: #ffffff;
    font-size: 18px;
}

.shindiri_widget_calendar table {
    width: 100%;
    background: #ffffff;
}

.shindiri_widget_calendar table tr td{
    font-family: 'Open Sans', sans-serif;
    padding-top: 6px;
    margin-top: 4px;
    color: #a5a4a4;
    font-weight: 400;
    text-align: center;
    padding-bottom: 5px;
}

.shindiri_widget_calendar .sh-calendar-days {
    line-height: 35px;
    border-bottom: 1px solid #df1f1f;
}

.shindiri_widget_calendar .sh-calendar-days th {
    text-transform: uppercase;
    padding-bottom: 6px;
    padding-top: 6px;
    color: #a5a4a4;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.shindiri_widget_calendar tr td:hover {
    background: #f1f1f1;
    cursor: pointer;
}

.shindiri_widget_calendar #today {
    background: #df1f1f;
}

.shindiri_widget_calendar #today a {
    color: #ffffff;
}

/* Archives */
.shindiri_widget_archives .one-popular {
    cursor: default;
}

.shindiri_widget_archives .one-popular,
.shindiri_widget_archives .one-popular a {
    color: #424242;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 48px;
    z-index: 2;
    position: relative;
}

.shindiri_widget_archives .one-popular.year {
    font-weight: 600;
}

/* Twitter feed */
.widget-shindiri-twitter .tweets ul {
    margin-top: 0;
    background: none;
    padding-bottom: 0;
    list-style-type: none;
    padding-top: 36px;
    margin-left: 54px;
    margin-right: 18px;
}

.widget-shindiri-twitter.twitter-feed .tweets ul li:before {
    font-family: 'FontAwesome';
    content: '\f099';
    margin: 0 -5px 0 -36px;
    color: #df1f1f;
    font-size: 2em;
}

.widget-shindiri-twitter.twitter-feed .tweets {
    background: #ffffff;
}

.widget-shindiri-twitter.twitter-feed .tweets li {
    padding-bottom: 36px;
}


.widget-shindiri-twitter.twitter-feed .tweets .tweet {
    margin-bottom: 0.3em;
    margin-top: -35px;
    color: #b3b3b3;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.widget-shindiri-twitter.twitter-feed .tweets .tweet a {
    color: #df1f1f;
}

.widget-shindiri-twitter.twitter-feed .tweets .tweet a:hover {
    text-decoration: none;
}

/* Features wigets */
.shindiri_features_widget .post-side-info-latest{
    top: 0;
    width: 100%;
    left: 0;
    height: auto;
    position: relative;
}

.shindiri_features_widget .post-side-info-latest a {
    color: #ffffff;   
}

.shindiri_features_widget .post-side-info-latest a:hover {
    color: #df1f1f;   
    text-decoration: none;
}

.side-features{
    height: auto;
}

.side-features-hover{
    height: 100%;
}

/* Mailchimp for WP */
.sh-mc4wp.f-subscribe {
    width: 66% !important;
    color: #ffffff;
}

.sh-mc4wp.f-btn {
    width: 33%;
    border: none;
    color: #ffffff;
}

/* Stay in touch */
.widget_stay_in_touch_simple .footer-soc-up a:hover {
    text-decoration: none;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------ Footer widgets ----------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

footer .lp-title{
    background: transparent;
    border-bottom: 1px solid #393939;
    color: #fff;
    font-weight: 300;
    padding-bottom: 12px;
    padding-left: 0;
}

footer .lp-title .lat-post-ico{
    display: none;
}

footer .lp-title .subtitle-icon{
    display: none;
}

footer .categories-content{
    background: transparent;
}

footer .a-pane{
    background: transparent;
    margin: 0;
}

footer .a-pane .one-popular{
    border-bottom: 1px solid #f1f1f1;
}

footer .a-pane .one-popular a{
    color: #606060;
}

footer .shindiri_widget_calendar table{
    margin-top: 12px;
    background: transparent;
    color: #606060;
}

footer .shindiri_widget_calendar table th{
    text-align: center;
}

footer .shindiri_widget_calendar table tfoot a{
    color: #606060 !important;
}

footer .side-features .side-features-hover, footer .side-features img{
    display: none;
}

footer .side-features a{
    color: #606060 !important;
}

footer .side-features a:hover{
    color: #df1f1f !important;
}

footer .archives-content{
    background: transparent;
}

footer .archives-content .one-popular a:hover{
    color: #df1f1f;
}

footer .widget_shindiri_latest_comments{
    background: transparent;
}

footer .f-comm a{
    color: #fff;
    padding: 8px;
}

footer .f-comm .footer-title{
    padding-left: 0;
}

footer .widget_shindiri_latest_posts .side-latest{
    background: transparent;
    border-bottom: 1px solid #f1f1f1;
}

footer .widget_shindiri_latest_posts .side-latest .cut-img{
    opacity: 0;
    visibility: hidden;
}

footer .widget_shindiri_latest_posts .post-side-info-latest{
    left: 0;
}

footer .widget_shindiri_latest_posts .post-side-info-latest a{
    color: #606060;
}

footer .widget_shindiri_most_popular .nav{
    background: transparent;
}

footer .widget_shindiri_most_popular .tab-content{
   background: transparent;
   border-bottom: 1px solid #393939;
   padding-bottom: 0;
}

footer .widget_shindiri_most_popular .tab-pane1.active{
    background: transparent;
    border: none;
    margin: 0 4px;
}

footer .widget_shindiri_most_popular .mp-tab{
    border: 2px solid #222222;
}

footer .widget_shindiri_most_popular .mp-tab a{
    background: transparent;
    color: #fff;
}

footer .widget_shindiri_most_popular .tab-pane a.pop-title{
    color: #606060;
}

footer .twitter-feed .tweets{
    background: transparent !important;
}

footer .widget-shindiri-twitter.twitter-feed .tweets .tweet{
    background: transparent !important;
}

footer .widget_shindiri_week_moth_posts_widget .side-latest{
    background: transparent;
    border-bottom: 1px solid #f1f1f1;
}

footer .widget_shindiri_week_moth_posts_widget .side-latest .cut-img{
    opacity: 0;
    visibility: hidden;
}

footer .widget_shindiri_week_moth_posts_widget .post-side-info-latest{
    left: 0;
}

footer .widget_shindiri_week_moth_posts_widget .post-side-info-latest a{
    color: #606060;
}

footer .widget_shindiri_week_moth_posts_widget .post-side-info-latest .pt-latest a{
    color: #fff;
}

footer .widget_shindiri_week_moth_posts_widget .nav{
    background: transparent;
}

footer .widget_shindiri_week_moth_posts_widget .tab-content{
   background: transparent;
   border-bottom: 1px solid #393939;
   padding-bottom: 0;
}

footer .widget_shindiri_week_moth_posts_widget .week-month-all > ul > li > a{
    color: #fff;
    background: transparent;
}

footer .tagcloud{
    background: transparent;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Search ---------------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.shindiri-search-results {
    padding: 20px 40px 20px 22px;
    min-height: 0;
    border: none;
    background: #ffffff;
}

.shindiri-search-results .cap-one {
    line-height: 22px;
    vertical-align: baseline;
    color: #000000;
}

.shindiri-search-results .some-results {
    color: #949494;
    font-size: 18px;
}

.shindiri-no-search {
    height: 300px;
    background: #ffffff;
    padding-top: 80px;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* --------------------------------------- Page ------------------------------------------------ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* Contact page */
.page-template-template-contact-php {
    color: #717171;
}

.page-template-template-contact-php .page-edit-div {
    z-index: 1;
    top: 35px;
}

.page-template-template-contact-php #vc_load-inline-editor {
    display: none;
}

.page-template-template-contact-php #contact .details {
    padding: 30px 0px;
}

.page-template-template-contact-php #contact .details *,
.page-template-template-contact-php #contact .details {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.page-template-template-contact-php #contact .details a {
    color: #df1f1f;
}

.page-template-template-contact-php #contact .details a:hover {
    text-decoration: underline;
}

.page-template-template-contact-php #contact .comment-form-container {
    margin-top: 30px;
}


/* Page */

article.page-content,
.page .wpb_text_column,
.page .wpb_raw_html {
    color: #1d1d1d;
}

article.page-content h2,
article.page-content h3,
.page .wpb_text_column h2,
.page .wpb_raw_html h2,
.page .wpb_text_column h3,
.page .wpb_raw_html h3 {
    padding: 12px 0;
}

article.page-content ul,
.page .wpb_text_column ul,
.page .wpb_raw_html ul {
    padding-left: 16px;
}

article.page-content table tbody th,
.page .wpb_text_column table tbody th,
.page .wpb_raw_html table tbody th {
   border: 1px solid #1d1d1d; 
   font-size: 16px;
   font-weight: 700;
   padding: 8px;
}

article.page-content table tbody td,
.page .wpb_text_column table tbody td,
.page .wpb_raw_html table tbody td {
   border: 1px solid #1d1d1d; 
   padding: 8px;
}

article.page-content table tbody td a,
.page .wpb_text_column table tbody td a,
.page .wpb_raw_html table tbody td a {
    color: #df1f1f;
    
}

article.page-content table tbody td a:hover,
.page .wpb_text_column table tbody td a:hover,
.page .wpb_raw_html table tbody td a:hover {
    text-decoration: underline;
    
}

.page .wpb_text_column a,
.page .wpb_raw_html a {
    color: #df1f1f;
}

.page .wpb_text_column a:hover,
.page .wpb_raw_html a:hover {
    text-decoration: underline;
}

.page .comment-form-container {
    background: #ffffff;
    padding-top: 17px;
}

.page blockquote {
  padding-top: 12px;
  margin-bottom: 24px;
}

.page blockquote p {
  padding-top: 0;
}

/* Default page - not for Visual Composer */
.page-template-default article.page-content{
    background: #ffffff;
    padding: 0 15px;
    padding-bottom: 36px;
}

.page-template-default article.page-content{
    overflow-y: auto;
    overflow-x: hidden; 
}

.page-template-default article.page-content a {
    color: #df1f1f;
}

.page-template-default article.page-content a:hover {
    text-decoration: underline;
}

.page-template-default article.page-content ul li,
.page-template-default article.page-content ol li,
.page-template-default article.page-content table,
.page-template-default article.page-content dl {
      font-size: 18px;
}

.page-template-default article.page-content > ul,
.page-template-default article.page-content > ul,
.page-template-default article.page-content > ol,
.page-template-default article.page-content > ol {
    padding-bottom: 30px;
}

.page-template-default article.page-content ul {
    padding-left: 40px;
    list-style: none;
}

.page-template-default article.page-content ol ol,
.page-template-default article.page-content ul ul {
    padding-left: 14px;
    line-height: 30px;
}

.page-template-default article.page-content ul ul {
    padding-left: 14px;
    list-style: none;
}
.page-template-default article.page-content ul li:before {
    color: #808080;
    content: "•";
    font-weight: 900;
    position: relative; 
    left: -7px;
    font-size: 18px;
    margin-left: -7px;
}

.page-template-default article.page-content img {
    max-width: 100%;
    height: auto;
}

.page-content .single-title {
    margin: 24px 0;
}

.page-template-default .page-content p {
  margin: 0 0 24px;
  font-family: "Open Sans", serif;
}

/* Galleries */

.gallery {
	margin-bottom: 1.6em;
}

.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------ Other common settings----------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.one-type, .one-type-swiper {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400; 
}

.post-type-two, .post-type-two-swiper{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

.post-type-two.date-one-post{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: italic; 
}