/*------------------------------------------------------------------
[Master Stylesheet]

Project: HotMag theme
Assigned to: Shindiri Studio
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Table of contents]

1. General settings
2. Header + Navbar / header
3. "Post swiper slider" section / .sw-div
4. Sticky post / .one-post
5. "Blog archive" section
6. "Category grid slider" / .grid-post
7. "Category" slider / .sliding-item
8. 404 Page
9. Sidebar + widgets
10. Footer / footer
11. Single page
12. About author page
13. Classic menu
14. Media queries
15. Other settings
-------------------------------------------------------------------*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- GENERAL SETTINGS -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* 
 Please note: fonts are defined in library/css/hotmag-theme-basic.css
*/

body, html {height: 100vh;}

.share{
  height: 80px;
}

.share-item{
  display: inline-block;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.overflow-hidden{
  position: relative;
  overflow: hidden !important;
}

.no-margin-lr{
  margin-left: 0;
  margin-right: 0;
}

.no-pad{
  padding: 0;
}

.no-pad-lr{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-pad-left{
  padding-left: 0;
}

.no-pad-right{
  padding-right: 0;
}

.disp-inline{
  display: inline-block;
}

.top-part{
  position: relative;
  background: #fff;
  border-bottom: 4px solid #cccccc;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #727272;
    font-size: 14px;
    font-weight: 100;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #727272;
   opacity:  1;
   font-size: 14px;
   font-weight: 100;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #727272;
   opacity:  1;
   font-size: 14px;
   font-weight: 100;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #727272;
   font-size: 14px;
   font-weight: 100;
}

.arrow-up2 {
  position: absolute;
  width: 0; 
  margin-top: -16px;
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #f2f2f2;
}

.arrow-up3 {
  position: absolute;
  width: 0; 
  margin-top: -16px;
  height: 0; 
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #f2f2f2;
}

.arrow-down {
  position: absolute;
  z-index: 20;
  width: 0; 
  right: 42%;
  height: 0; 
  display: none;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #df1f1f;
}

figure.wp-caption {
  margin: 0px auto !important;
}

.forcefullwidth_wrapper_tp_banner{
  margin-top: -36px !important;
  }

.ad_branding {
  color: black;
  font-size: 0.8em;
  text-align: right;
}

.next_page {
  background-color: #df1f1f;
  color: #fff !important;
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.next_page:hover {
  text-decoration: none !important;
  background-color: #EF2F2F;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- HEADER SETTINGS --------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

header{
  background: #fff;
  z-index: 1003;
  position: relative;
  box-shadow: 0px 2px 2px #ececec;
}

.row1head{
  border-bottom: 2px solid #f2f2f2;
}

/* WEATHER WIDGET */
@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather i{
  color: #df1f1f;
  font-family: weather;
  font-size: 46px;
  font-weight: normal;
  font-style: normal;
  line-height: 54px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

/* SOCIAL ICONS */
.header-soc{
  display: inline-block;
  margin-right: 12px;
  text-align: center;
  top: 80px;
}

.header-soc i{
  color: #7f7f7f;
  font-size: 24px;
}

.header-soc i:hover{
  color: #df1f1f;
}

/* LOGIN FORM */
.header-login{
  display: inline-block;
  color: #7f7f7f;
  font-weight: 300;
  margin-left: 40px;
}

.or-login{
  color: #000;
}

.login-form{
  position: absolute;
  padding: 32px 50px;
  background-color: #f2f2f2;
  width: 300px;
  margin-left: -262px;
  position: absolute;
  z-index: 1009;
  margin-top: 14px;
  display: none;
}

.login-form input{
  line-height: 52px;
  height: 52px;
}

.user-icon{
  position: absolute;
  font-size: 18px;
  top: 14px;
  left: 14px;
  border-right: 1px solid #717171;
  cursor: pointer;
}

.pass-icon{
  position: absolute;
  font-size: 18px;
  top: 14px;
  left: 14px;
  border-right: 1px solid #717171;
  cursor: pointer;
}

#login-user{
  width: 76%;
  padding: 12px;
  border: none;
  outline: none;
  margin-left: 4px;
  float: right;
}

#login-user::-webkit-input-placeholder { /* WebKit browsers */
    color:    #717171;
    font-size: 14px;

}
#login-user:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #717171;
   opacity:  1;
   font-size: 14px;
   bottom: -6px;
}
#login-user::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #717171;
   opacity:  1;
   font-size: 14px;
}
#login-user:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #717171;
   font-size: 14px;
}

#login-pass{
  width: 76%;
  padding: 12px;
  border: none;
  outline: none;
  margin-left: 4px;
  float: right;
}

#login-pass::-webkit-input-placeholder::before{
  font-family: lineIcons;
  font-size: 18px;
}

#login-pass::-webkit-input-placeholder { /* WebKit browsers */
    color:    #717171;
    font-size: 14px;

}
#login-pass:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #717171;
   opacity:  1;
   font-size: 14px;
   bottom: -6px;
}
#login-pass::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #717171;
   opacity:  1;
   font-size: 14px;
}
#login-pass:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #717171;
   font-size: 14px;
}

.passRem{
  float: left;
  margin-left: 24px !important;
  margin-top: 0px !important;
}

.pass-text{
  float: left;
  padding-left: 12px;
  line-height: 52px;
}

.sign-up{
  width: 100%;
  color: #fff;
  background-color: #df1f1f;
  border: none;
  height: 52px;
  font-size: 18px;
}

.sign-up .lineIcons-family{
  font-size: 18px;
}

.new-acc{
  width: 100%;
  text-align: center;
  padding-left: 0;
}

.user-login{
  position: relative;
  background: #fff;
  margin-top: 17px;
  height: 52px;
}

.logo-login{
  float: left;
  font-size: 26px;
  color: #df1f1f;
  font-weight: 300;
  margin-top: 14px;
  width: 100%;
  text-align: center;
}

.logo-login img{
  vertical-align: bottom;
}

/* LOGO */
.logo{
  text-align: left;
  float: left;
  font-size: 26px;
  color: #df1f1f;
  font-weight: 300;
}

.logo img{
  vertical-align: bottom;
}

/*GOOGLE ADS*/
.google-ad{
  padding: 20px 0;
}

.google-ad img{
  max-width: 728px;
  width: 100%;
}

.gad{
  display: none;
}

.wakeonresp{
  display: none;
}

/* HEADER SEARCH BOX AND MENU */
.search-popout-block{
  width: 100%;
  position: absolute;
  z-index: 1002;
  background-color: #7f7f7f;
}

.close-search{
  position: absolute;
  right: 0px;
  height: 45px;
  margin-top: -18px;
  width: 100px;
  background-color: #df1f1f;
  border-radius: 0;
}

.close-search:hover, .close-search:focus{
  color: #fff;
}
.close-search:active{
  background-color: #df1f1f;
}

.fa-search{
  font-size: 24px;
}

.cssmenudiv{
  display: none;
}

.sim{
  display: none;
}

#sbt{
  position: absolute;
  z-index: 1003;
  top: 0;
  right: 0;
  transition: background-color .2s;
}

#sbt:hover{
  background-color: #f1f1f1 !important;
}

#sbt2{
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  top: 0;
  color: #1f1f1f;
  padding: 0 12px;
  transition: color .2s;
}

#sbtNesto{
  position: absolute;
  z-index: 1003;
  top: 0;
  right: 0;
  transition: background-color .2s;
}

#sbtNesto:hover{
  background-color: #f1f1f1 !important;
}

#sbt2Nesto{
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  top: 0;
  color: #1f1f1f;
  padding: 0 12px;
  transition: color .2s;
}

#search-not-close i{
  pointer-events: none;
}

.padding-bottom22{
  padding-bottom: 22px;
}

.padding-top22{
  padding-top: 22px;
}

.header-search-form{
  height: 45px;
  padding-right: 15px;
  background: #fff;
}

.header-search-form input{
  height: 46px;
  width: 0%;
  background-color: #fff;
  border: none;
  color: #727272;
  font-size: 14px;
  font-weight: 100;
  outline: none;
  line-height: 47px;
  transition: width .3s, padding-left .3s;
}

.animateSB{
  width: 100% !important;
  padding-left: 20px;
}

/* MEGA MENU STYLE */

/*
Please note: you may find additional styles in library/css/mega-menu.css
*/

.nav-menu{
  padding-top: 48px;
  list-style: none;
}

.nav-menu > li > a > span{
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  color: #424242;
}

.first-ones-menu{
  list-style: none;
}

.first-ones-menu > .sub-menu{
  padding-top: 18px;
}

.first-ones-menu .sub-menu{
  list-style: none;
}

.first-ones-menu a:hover span{
  color: #df1f1f;
}

.sub-menu .menu-item{
  line-height: 48px;
}

.menu-item > a > span{
  color: #424242;
  font-size: 18px;
  font-weight: 400;
}

.menu-item > a > span > .lineIcons-family{
  font-size: 18px;
}

.sub-menu{
  padding-left: 18px;
}

.sub-menu .menu-item:hover > a > span{
  color: #df1f1f;
}

/* LATEST POSTS LIST */
.latest-posts-list {
  position: absolute;
  z-index: 1005;
  padding: 12px;
  background-color: #fff;
  border: 2px solid #f2f2f2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.pic-left{
  position: relative;
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.pic-left img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.latest-t{
  position: absolute;
  top: 12px;
  left: 112px;
  cursor: pointer;
}

.latest-t:hover .descp-title{
  color: #df1f1f;
}

.latest-info{
  height: 26px;
  position: absolute;
  left: 112px;
}

.slided{
  opacity: 1;
  pointer-events: all;
}

.cat-latest-posts{
  position: absolute;
  bottom: 0;
}

.one-post-latest{
  position: relative;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 12px;
}

.latest-read-more{
  margin-right: 30px;
  padding-top: 12px;
  float: right;
  color: #df1f1f;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- POST SWIPER SLIDER ------------------------------------ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sw-div{
  position: relative;
}

.arrow-left-sw{
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 90px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid;
  z-index: 9;
  cursor: pointer;
}

.arrow-left-sw i { 
    display: block;
    margin-top: 10px;
    margin-left: -2px;
}

.arrow-right-sw{
  position: absolute;
  font-size: 28px;
  top: 20px;
  right: 30px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid;
  z-index: 9;
  cursor: pointer;
}

.arrow-right-sw i { 
    display: block;
    margin-top: 10px;
      margin-left: 4px;
}

.arrow-right-sw2{
  cursor: pointer;
}

.arrow-left-sw2{
  cursor: pointer;
}

.arrow-left-sw3{
  opacity: 0.5;
}

.swiper-wrapper{
  position: relative;
  z-index: 100;
}

.swiper-slide{
  position: relative;
  overflow: hidden;
}

.swiper-slide img{
  opacity: 0.7;
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
}

.swiper-slide2{
  position: relative;
  overflow: initial;
}

.swiper-slide2 img{
  opacity: 1;
}

.gp-img{
  opacity: 0 !important;
  transition: all 0.6s;
}

.swiper-slide2{
  height: 470px;
  position: relative;
  overflow: initial;
}

.hoverswipA{
  transform: scale(0.7);
  opacity: 0.4 !important;
}

.swiper-content{
  position: absolute;
  z-index: 111;
  width: 40%;
  left: 48px;
  top: 40%;
}

.swiper-content a:hover{
  color: #fff;
}

.swiper-title{
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-family: 'Archivo Narrow', serif;
  font-weight: 300;
}

.author-img-thumb-swiper{
  width: 24px;
  height: 22px;
  float: left;
}

.post-type-two-swiper{  
  color: #fff;
  font-size: 14px;
  line-height: 24px;
}

.one-type-swiper{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
  float: left;
}

.swiper-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 12px;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    height: 78px;
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.swiper-read-more{
  margin-right: 12px;
  text-align: left;
  color: #fff;
  font-weight: 300;
}

.swiper-read-more .fa{
  position: relative;
}

.author-img-thumb-swiper img{
  width: 20px;
  height: 20px;
  opacity: 1;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
}

.swiper-hover{
  background: -webkit-linear-gradient(40deg, rgb(223,31,31) 0%, rgb(54,46,204) 100%);
  background: -moz-linear-gradient(40deg, rgb(223,31,31) 0%, rgb(54,46,204) 100%);
  background: -o-linear-gradient(40deg, rgb(223,31,31) 0%, rgb(54,46,204) 100%);
  background: linear-gradient(40deg, rgb(223,31,31) 0%, rgb(54,46,204) 100%);
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  z-index: 99;
  pointer-events: none;
}

.swiper-slide, .swiper-wrapper, .swiper-container {
    height: 472px;
}

.swiper-container2{
  height: 470px;
  overflow: hidden;
}

.swiper-pagination-switch {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px white;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    border-radius: 50%;
}

.swiper-pagination-switch:hover, .swiper-pagination-switch:focus{
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.pagination{
  position: absolute;
  right: 30px;
  bottom: 10px;
  z-index: 9;
}

.swiper-active-switch {
  box-shadow: inset 0 0 0 12px white;
}

.swiper-active-switch:hover{
  box-shadow: inset 0 0 0 12px white;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ---------------------------------------- STICKY POST ---------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.one-post{
  border-bottom: 1px solid #b6b6b6;
  background-color: #fff;
  overflow: auto;
  padding: 0;
  min-height: 215px;
  position: relative;
}

.one-post-hovered{
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  pointer-events: none;
  transform: scale(0,1);
  -webkit-transform: scale(0,1);
  opacity: 0;
  z-index: 25;
  transition: opacity .55s linear .5s, transform .55s linear .5s;
}

.one-post:hover .one-post-hovered{
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

.one-post-hovered2{
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  color: #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  pointer-events: none;
  transform: scale(1,0);
  -webkit-transform: scale(1,0);
  opacity: 0;
  z-index: 25;
  transition: opacity .55s linear .5s, transform .55s linear .5s;
}

.one-post:hover .one-post-hovered2{
  transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

.oneolay{
  position: absolute;
  width: 0%;
  background: -webkit-linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  background: -moz-linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  background: -o-linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  background: linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  transition: width .3s;
  z-index: 9;
}

.image-ff{
  position: absolute;
  z-index: 11;
  padding-left: 0;
}

.image-caption{
  position: relative;
  height: 214px;
  width: 158px;
  float: left;
  overflow: hidden;
  transition: width 0.4s;
}

.image-caption img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.one-post-text{
  position: relative;
  z-index: 11;
  padding-top: 8px;
  padding-right: 24px;
}

.one-post:hover .image-caption{
  width: 100%;
  position: absolute;
}

.one-post:hover .oneolay{
  width: 100%;
}

.one-post:hover .image-ff .cap-one, .one-post:hover .image-ff .pp2, .one-post:hover .image-ff .one-post-text, .one-post:hover .image-ff .oto, .one-post:hover .image-ff .oto .post-type-two{
  color: #fff;
}

.cap-one{
  font-size: 24px;
  color: #000;
  font-weight: 300;
  line-height: 26px;
  display: inline-block;
}

.cap-full{
  width: auto;
}

.none-caption{
  visibility: hidden;
  font-size: 24px;
  position: absolute;
  z-index: 999;
  font-family: 'Droid Serif', serif;
  padding-left: 10px;
  padding-right: 10px;
}

.cap-one{
  font-size: 24px;
  color: #000;
  font-weight: 700;
  line-height: 26px;
  vertical-align: middle;
  display: inline-block;
}

.properties-post{
  float: right;
  margin-right: 30px;
  color: #949494;
  display: inline-block;
}

.pp2{
  transition: all .3s;
}

.sticky-rm a{
  color: #1f1f1f;
  transition: opacity .55s linear .5s, color .25s;
}

.one-post:hover .sticky-rm a{
  color: #fff;
  opacity: 1;
}

.sticky-rm:hover{
  color: #df1f1f;
}

.properties-post2{
  float: right;
  margin-right: 30px;
  color: #fff;
  display: inline-block;
}

.author-img-thumb{
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
}

.author-img-thumb img{
  width: 100%;
  opacity: 1 !important;
}

.one-type{
  color: #949494;
  font-weight: 700;
  line-height: 24px;
  float: left;
  transition: color 0.9s;
}

.post-type-two{  color: #df1f1f;
  font-size: 14px;
  line-height: 24px;
  font-weight: 900;
  text-decoration: underline;
}

.post-text{
  font-weight: 400;
  line-height: 24px;
  color: #717171;
  overflow: hidden;
  display: -webkit-box;
  height: 82px;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ---------------------------------------- BLOG ARCHIVE --------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.blog-img{
  height: 210px;
  position: relative;
  overflow: hidden;
}

.blog-img img{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.one-bpost{
  border-bottom: 1px solid #b6b6b6;
  overflow: hidden;
}

.one-bpost.a-bpost{
  border-bottom: 1px solid #b6b6b6;
  opacity: 0.01;
}

.audio-overlay{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.audio-overlay .a-center{
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}

.audio-overlay .fa{
  padding: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;  
}

.blog-img:hover .audio-overlay{
  opacity: 1;
}

.link-overlay{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.link-overlay .l-center{
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}

.link-overlay .fa{
  padding: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;  
}

.blog-img:hover .link-overlay{
  opacity: 1;
}

.review-overlay{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.review-overlay .r-center{
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}

.review-overlay .fa{
  padding: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;  
}

.blog-img:hover .review-overlay{
  opacity: 1;
}

.video-overlay{
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.video-overlay .v-center{
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}

.video-overlay .fa{
  padding: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;  
}

.blog-img:hover .video-overlay{
  opacity: 1;
}

.blog-text{
  padding: 16px;
  background: #fff;
}

.properties-post1{
  vertical-align: top;
  color: #949494;
  display: inline-block;
}

.blog-cont .blog-text .properties-post1 {
    line-height: 28px;
}

.blog-cont .blog-text .properties-post1 .fa {
    vertical-align: baseline;
}

.properties-post1 i:hover{
  cursor: pointer;
  color: #df1f1f;
}

.latest-read-more-blog{
  margin-right: 12px;
  padding-top: 10px;
  text-align: left;
  color: #1f1f1f;
  font-weight: 300;
  cursor: pointer;
}

.latest-read-more-blog:hover{
  color: #df1f1f;
  cursor: pointer;
}

/* CATEGORIES STYLE */

.categories-bpa{
  position: absolute;
  bottom: 0;
  margin: 8px;
  z-index: 3;
}

.categories-bpa a{
  margin: 2px;
}

.single-post-cat:active{
   color: #fff;
   background: #df1f1f;
}

.lifestyle{
  padding: 0 6px;
  clear: left;
  float: left;
  background-color: #E87E04;
  -webkit-font-smoothing: antialiased;
}

.nature{
  padding: 0 6px;
  float: left;
  clear: left;
  background-color: #19B5FE;
  -webkit-font-smoothing: antialiased;
}

.it-world{
  padding: 0 6px;
  float: left;
  clear: left;
  background-color: #03C9A9;
  -webkit-font-smoothing: antialiased;
}

.fashion{
  padding: 0 6px;
  float: left;
  clear: left;
  background-color: #913D88;
  -webkit-font-smoothing: antialiased;
}

.lifestyle:hover, .nature:hover, .it-world:hover, .fashion:hover{
  cursor: pointer;
  color: #fff;
}

.iwLink{
  float: none;
  padding: 2px 6px;
}

.cat-all{
  overflow: auto;
}

.categoriess{
  padding: 14px;
  padding-bottom: 24px;
  background-color: #fff;
  border-bottom: 1px solid #b6b6b6;
}

.one-cat{
  overflow: hidden;
}

.cat-title{
  font-size: 24px;
  color: #1f1f1f;
  font-weight: 300;
}

.cat-categories-bpa{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.categories-bpa a{
  padding: 0 6px;
  margin: 2px;
}

.cat-img{
  position: relative;
  margin-top: 12px;
  width: 145px;
  height: 140px;
  overflow: hidden;
  z-index: 0;
}

.cat-img img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.cap-cat{
  font-size: 24px;
  background: #fff;
  z-index: 99999;
  padding: 6px 10px;
  position: absolute;
  color: #df1f1f;
  font-family: 'Open Sans', sans-serif;
}

.cat-descp{
  width: 160px;
  position: relative;
  z-index: 11;
}

.descp-title{
  font-size: 18px;
  color: #1f1f1f;
  font-weight: 300;
  float: left;
}

.hashtag-cat{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 145px;
  color: #717171;
  margin-top: 6px;
}

.shindiri-categroy-last-post .hashtag-cat a {
    color: #df1f1f;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ----------------------------------- CATEGORY GRID SLIDER ------------------------------------ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.grid-post{
  border: 1px solid #f1f1f1;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  padding-left: 36px;
  padding-right: 20px;
  padding-bottom: 24px;
  background-color: #fff;
}

.pluss{
  text-align: right;
  margin-left: 100%;
  color: #717171;
  font-size: 24px;
  width: 12px;
  font-family: 'Open Sans', sans-serif;
  z-index: 9;
  position: relative;
  transition: color 0.6s;
}

.grid-author{
  height: 34px; 
  position: relative; 
  z-index: 9;
}

.grid-title{
  z-index: 9;
  position: relative;
}

.grid-title a{
   font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #424242; 
}

.grid-text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #717171;
  z-index: 9;
  position: relative;
  transition: color 0.6s;
}

#shindiri-cat-grid-slider .grid-text a {
    color: #df1f1f;
}

.font-hover{
  color: #1f1f1f;
}

.whole-post-on-grid{
  margin-bottom: 2px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  border-top: 1px solid #f1f1f1;
}

.whole-post-on-grid img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  opacity: 0;
  transition: all 0.6s;
}

.whole-post-on-grid:hover img{
  opacity: 0.4;
  transform: scale(0.88);
}

.whole-post-on-grid:hover .grid-text, .whole-post-on-grid:hover .one-type{
  color: #1f1f1f;
}

.load-more{
  font-size: 18px;
  line-height: 40px;
  font-family: 'Archivo Black', serif;
  color: #393939;
  background-color: #fff;
  padding-left: 36px;
}

.load-more.grid-slide{
  border-bottom: 1px solid #f1f1f1;
}

.load-more.grid-slide > .subtitle-icon{
font-size: 18px;
color: #1f1f1f;
font-weight: 700;
}

.load-more.grid-slide > .subtitle{
font-size: 24px;
color: #1f1f1f;
font-weight: 700;
}

.load-more .fa-2x{
  color: #717171;
  line-height: 48px;
}

.lm-btn{
  background-color: #ee3722;
  border: none;
  font-family: 'Archivo Black', serif;
  font-size: 18px;
  color: #ffffff;
  border-bottom: 3px solid #df1f1f;
  padding: 20px 40px;
}

.arrow-left-sw2{
    opacity: 0.5;
}

.arrow-right-sw2.arsw2:hover{
    color: #df1f1f;
}

.arrow-left-sw2.alsw2:hover{
    color: #df1f1f;
}

/* LOAD MORE */
.load-more-btn{
  text-align: center;
  padding-top: 36px;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* -------------------------------------- CATEGORY SLIDER -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.sliding-item{
  position: absolute;
  opacity: 0;
  width: 100%;
  z-index: 1;
  transition: all .4s linear 1.5s;
}

.sliding-item.active{
  position: absolute;
  width: 100%;
  opacity: 1;
  z-index: 3;
  transition: all .4s linear 1.5s;
}

.slide-list{
  position: absolute;
  width: 45%;
  left: 50%;
  margin: 22px;
  margin-left: -14px;
  list-style: none;
}

.slide-list li{
  color: #424242;
  height: 88px;
  border-bottom: 2px solid #f2f2f2;
  position: relative;
}

.next-click:hover, .prev-click:hover{
  color: #df1f1f;
  cursor: pointer;
}

.aaa .cap-one{
  color: #df1f1f;
}

.responsive-del{
  height: 24px;
  position: absolute;
  bottom: 6px;
}

.slide-list li:hover{
  cursor: pointer;
}

.slide-list li:hover .cap-one{
  color: #df1f1f;
}

.slider-loader{
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.slider-loader img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.for-slide-image img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.slide-posts{
  position: absolute;
  display: none;
  margin: 22px;
  width: 40%;
  height: 304px;
  overflow: hidden;
  float: left;
  color: #424242;
}

.slide-posts.active{
  display: block;
}

.slide-posts.active span{
  height: 100px;
  display: block;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------------- 404 PAGE ---------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.oops{
  color: #1f1f1f;
  font-size: 36px;
  line-height: 46px;
  font-weight: 600;
  display: block;
  text-align: center;
}

.msg404{
  color: #df1f1f;
  font-size: 98px;
  line-height: 110px;
  font-weight: 900;
  display: block;
  text-align: center;
}

.part-one404{
  color: #1f1f1f;
  font-size: 30px;
  line-height: 36px;
  display: block;
  text-align: center;
  font-weight: 200;
}

.part-two404{
  color: #1f1f1f;
  font-size: 20px;
  line-height: 26px;
  display: block;
  text-align: center;
  font-weight: 200;
}

.s404{
  display: block;
  position: relative;
  height: 90px;
}

.search-i404{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 36px;
  line-height: 90px;
  color: #727272;
  padding-right: 92px;
  padding-left: 34px;
}

.search-i404::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777777;
    font-size: 36px;
}
.search-i404:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777777;
   font-size: 36px;
   opacity:  1;
}
.search-i404::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777777;
   font-size: 36px;
   opacity:  1;
}
.search-i404:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #777777;
   font-size: 36px;
}

.search-button-404{
  position: absolute;
  top: 34px;
  right: 34px;
  color: #727272;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- SIDEBAR + WIDGETS ------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.lp-title{
  background-color: #fff;
  font-size: 24px;
  color: #424242;
  font-weight: 900;
  padding: 20px 40px;
  padding-left: 22px;
  border-bottom: 2px solid #f2f2f2;
}

.lat-post-ico{
  font-weight: 100;
  font-size: 24px;
}

.latest-sidebar{
  padding-bottom: 1px;
  border-bottom: 1px solid #b6b6b6;
}

.side-latest{
  position: relative;
  min-height: 106px;
  overflow: hidden;
  background-color: #fff;
  transition: all 5.3s;
}

.side-latest img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  opacity: 1;
  transition: all 5.6s;
}

.side-latest:hover img{
  transition: all .6s;
}

.side-latest:hover .side-latest-hover{
  cursor: pointer;
}

.side-latest:hover .pt-latest, .side-latest:hover .lat-title, .side-latest:hover .lat-date{
  color: #fff;
  transition: color .3s;
}

.side-latest-hover{
  position: absolute;
  width: 100%;
  z-index: 17;
  opacity: 1;
  min-height: 106px;
  background: -webkit-linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  background: -moz-linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  background: -o-linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
  background: linear-gradient(40deg, rgba(223,31,31,0.3) 0%, rgba(54,46,204,0.3) 100%);
}

.latest-cap{
  background-color: #fff;
  color: #df1f1f;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 40px;
  padding: 6px 8px;
  margin-top: 36px;
}

.post-side-info-latest{
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  padding-left: 12px;
  position: absolute;
  z-index: 18;
  background: transparent;
  top: 0;
  left: 33.3333333%;
  width: 66%;
  height: auto;
  opacity: 1;
  transition: opacity .6s;
}

.cut-img{
  min-height: 106px;
  width: 33.33333333%;
  position: relative;
  z-index: 15;
  overflow: hidden;
  transition: width .3s;
}

.side-latest:hover .post-side-info-latest{
  z-index: 188;
}

.side-latest:hover .cut-img{
  width: 100%;
}

.side-latest:hover .side-latest-hover{
  width: 100%;
}

.pt-latest{
  line-height: 24px;
  padding-top: 12px;
  color: #424242;
  position: relative;
  z-index: 19;
}

.lat-title{
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  line-height: 32px;
  color: #424242;
}

.lat-date{
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  color: #424242;
  padding-bottom: 12px;
  display: block;
}

/* TABS POPULAR POSTS */
.fa-star-o{
  font-size: 18px;
}

.nav-tabs>li>a,.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  border: none;
  border-radius: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
}

.nav-tabs>li>a:hover{
  color: #df1f1f;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
  background-color: #df1f1f;
  color: #fff;
}

.nav-tabs{
  border-bottom: none;
}

.tab-content{
  background: #fff;
  border-bottom: 1px solid #b6b6b6;
  
}

.tab-pad0{
  padding-top: 0px;
}

.tab-pane1.active{
  margin: 0 22px;
  border: 2px solid #fff;
  background: #f1f1f1;
}

.side-popular > ul{
  padding: 0 22px;
  background: #fff;
  padding-top: 22px;
}

.one-popular{
  margin: 0 22px;
  border-bottom: 1px solid #fff;
  position: relative;
  cursor: pointer;
  transition: all .3s;
}

.one-popular:hover{
  margin: 0;
  padding: 0 22px;
}

.one-popular:hover .pop-title{
  color: #df1f1f;
  text-decoration: underline;
  transition: color 0.3s;
}

.one-popular:hover .pop-number{
  color: #df1f1f;
  margin-right: 0;
}

.mp-tab{
  border: 2px solid #fff;
}

.mp-tab a{
  padding: 12px;
}

.tab-pane .pop-title{
  z-index: 2;
  position: relative;
}

.tab-pane .pop-number{
  z-index: 2;
  position: relative;
}


.tab-pane > .one-popular:last-child{
  border: none;
}

.pop-title{
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 48px;
  padding-right: 8px;

}

.pop-number{
  font-size: 18px;
  color: #727272;
  float: right;
  line-height: 48px;
  font-weight: 400;
  transition: all .3s;
}

/* WEEK MONTH ALL */
.week-month-all{
  margin-top: 36px;
}

.week-month-all > ul > li > a:hover, .week-month-all > ul > li > a:focus{
  color: #fff;
  background-color: #df1f1f;
}

.week-month-all > ul > li.active > a{
  color: #fff;
  background-color: #df1f1f;
}

.week-month-all ul>li.active>a, .week-month-all ul>li.active>a:hover, .week-month-all ul>li.active>a:focus{
  background-color: #df1f1f;
}

.week-month-all > ul > li > a{
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  color: #424242;
}

/* TAGS */

.tagcloud{
  padding: 22px;
  background-color: #fff;
}

.tagcloud a{
  padding: 10px 26px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 2px;
  display: inline-block;
  color: #181817;
  background-color: #f1f1f1;
}

.tagcloud a:active, .tagcloud a:focus{
  background-color: #df1f1f;
  color: #fff;
}

.tagcloud a:hover{
  color: #df1f1f;
  text-decoration: underline;
}

/* FEATURES */

.side-features-hover{
  height: 106px;
  background: rgba(0,0,0,0.3);
  z-index: 1;
  position: absolute;
  width: 100%;
}

.side-features{
  position: relative;
  height: 106px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.side-features img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.features-cap{
  background-color: #df1f1f;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 40px;
  padding: 6px 8px;
  margin-top: 36px;
}

.pt-features{
  text-decoration: underline;
  line-height: 24px;
  color: #fff;
  display: block;
}

.feat-title{
  font-size: 24px;
  text-decoration: none;
  line-height: 36px;
  color: #fff;
  display: block;
}

.feat-date{
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  display: block;
}

/* TWITTER */

.twitter-feed{
  border-bottom: 1px solid #b6b6b6;
}

.one-feed 
{
  padding-left: 40px;
  background-color: #fff;
  color: #df1f1f;
  overflow: auto;
}

.tweet{
  color: #b3b3b3;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left: 12px; 
  padding-right: 12px;
}

.tweet a{
  color: #df1f1f;
}


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------------- FOOTER ------------------------------------------ */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.footer-title{
  font-size: 24px;
  line-height: 40px;
  border-bottom: 1px solid #393939;
  display: block;
}

.f-subtitle{
  font-size: 20px;
  border-bottom: none;
}

.footer-text{
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  display: block;
  font-weight: 400;
  color: #606060;
}

.footer-a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #df1f1f;
}

.f-newsletter{
  overflow: auto;
}

.f-subscribe{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  background: #323234;
  border: none;
  outline: none;
  line-height: 30px;
  height: 50px;
  padding: 10px;
  width: 70%;
  position: relative;
  float: left;
}

.f-subscribe::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777777;
    font-size: 14px;
    font-weight: 400;
}
.f-subscribe:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777777;
   opacity:  1;
   font-size: 14px;
   font-weight: 400;
}
.f-subscribe::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777777;
   opacity:  1;
   font-size: 14px;
   font-weight: 400;
}
.f-subscribe:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #777777;
   font-size: 14px;
   font-weight: 400;
}

.f-btn{
  background-color: #df1f1f;
  font-size: 18px;
  display: block;
  min-height: 50px;
  width: 30%;
  padding: 13px 20px;
  float: left;
}

.f-btn:hover, .f-btn:focus, .f-btn:active{
  color: #fff;
  background-color: #ef2f2f;
}

.footer-soc-up a{
  line-height: 46px;
}

.footer-soc-up{
  display: block;
  width: 100%;
  text-align: left;
}

.footer-soc-up .fa-stack{
  width: 50px;
}

.footer-soc-up .fa-stack-2x{
  font-size: 40px;
  color: #323234;
}

.footer-soc-up .fa-stack-1x{
  line-height: 40px;
  font-size: 20px;
  color: #777777;
}

.footer-soc-up .fa-stack:hover .fa-stack-2x{
  color: #323234;
}

.footer-soc-up .fa-stack:hover .fa-stack-1x{
  color: #fff;
}

.footer-category{
  position: relative;
  display: block;
  width: 100%;
  height: 28px;
  margin: 0;
}

.f-comm{
  margin-bottom: 12px;
  border-bottom: 1px solid #393939;
}

.f-comm:last-child{
  border-bottom: none;
}


.gray-text{
  color: #1f1f1f;
  font-weight: 700;
}

.red-text{
  color: #df1f1f;
  font-weight: 700;
}

.red-text:hover{
  cursor: pointer;
}

.footer-soc{
  display: inline-block;
  text-align: center;
}

.footer-soc i{
  color: #7f7f7f;
  font-size: 24px;
}

.footer-soc i:hover{
  color: #df1f1f;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- SINGLE POST PAGE -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.single-img{
  height: 420px;
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.parallax-img{
  background: url(images/archive/13.jpg);
  background-attachment: fixed;
  background-position: 50% 0;
  background-size: cover;
}

.single-cont{
  margin-top: 220px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.single-center{
  text-align: center;
}

.new-single{
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  background-color: #df1f1f;
  margin-right: 10px;
  text-transform: uppercase;
}

.single-date{
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  color: #717171;
  text-transform: uppercase;
}

.single-info{
  text-align: center;
}

.single-info > p{
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1d;
  text-align: center;
}

.bolded{
  font-size: 18px;
  font-weight: 700;
}

.single-cat{
  line-height: 36px;
  font-size: 18px;
  text-decoration: underline;
}

.single-user{
  line-height: 36px;
  font-size: 18px;
  color: #df1f1f;
  text-transform: uppercase;
  text-decoration: underline;
}

.single-title{
  text-align: center;
}

.single-title h1{  
  color: #1d1d1d;
  font-size: 66px;
  line-height: 76px;
  font-family: 'Archivo Narrow', sans-serif;
  padding: 0 10%;
}

.single-title .s-paralax-title {
    padding: 0 25%;
}

.intro-text{
  text-align: center;
  padding-top: 18px;
}

.intro-text > p{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #828282;
  font-style: italic;
  padding: 0 25%;
}

.width-control{
  width: 50%;
  overflow: auto;
}

.text-block{
  text-align: left;
  padding: 0 25%;
}

.text-block > p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 30px;
  color: #1d1d1d;
}

.text-block > h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  margin: 0px;
  text-align: left;
  color: #1d1d1d;
}

.quote-text{
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
}

.quote-text > p{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  line-height: 36px;
  padding-top: 36px;
  color: #828282;
}

.imgTxt{
   margin-top: 20px;
}

.imgTxt > p{
  margin-top: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #828282;
}

.single-post-img{
  width: 100%;
}

/* SINGLE POST COMMENTS */

.single-commentss{
  background-color: #fff;
  position: relative;
  z-index: 1000;
  display: none;
}

.comment-img-and-descp2{
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 26px;
  padding-right: 26px;
  overflow: auto;
  border-bottom: 2px solid #f1f1f1;
}

.comment-img-and-descp2 img{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
}

.comment-content{
  width: 80%;
  float: left;
  min-height: 0 !important;
}

.comment-content p{
  padding-right: 24px;
}

.comm-reply{
  padding: 4px 10px;
  margin: 4px;
  border: none;
  float: right;
  background-color: #df1f1f;
}

.comm-reply:hover{
  background-color: #ef2f2f;
}

.repp-comm{
  padding-left: 10%;
}

.comm-edit{
  padding: 4px 15px;
  margin: 4px;
  border: none;
  float: right;
  background-color: #df1f1f;
}

.comm-edit:hover{
  background-color: #ef2f2f;
}

.comments-pagination li a{
  background-color: #f1f1f1;
  margin-bottom: 12px;
}

.times-click{
  margin-right: 28px !important;
  cursor: pointer;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* ABOUT AUTHOR */
.author-part{

}

.about-author{
  background-color: #fff;
  padding: 0 0 0 26px;
}

.about-author h3{
  margin-left: -26px;
  padding-left: 26px;
  font-size: 24px;
  line-height: 50px;
  font-family: 'Archivo Narrow', sans-serif;
  color: #1F1F1F;
  font-weight: 700;
  border-bottom: 2px solid #f1f1f1;
}

.about-author h3 span{
  font-size: 24px;
  font-family: 'Archivo Narrow', sans-serif;
  color: #1F1F1F;
  font-weight: 700;
  color: #df1f1f;
  cursor: pointer;
}

.soc-author{
  width: 100px;
  height: 160px;
  position: absolute;
}

.soc-author > .fa-facebook-square{
  font-size: 14px;
  padding-right: 7px;
}

.soc-author span{
  padding-right: 10px;
}

.fa-square{
  color: #727272;
  transition: color .4s;
}

.fa-stack:hover .fa-square{
  color: #df1f1f;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.fa-stack-1x{
  font-size: 14px;
}

.fa-stack-2x{
  font-size: 16px;
}

.fa-facebook-square{
  font-size: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-top: 14px;
  color: #232867;
}

.fa-twitter-square{
  color: #0478a3;
  font-size: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-top: 14px;
}

.fa-linkedin-square{
  color: #005473;
  font-size: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-top: 14px;
}

.fa-pinterest-square{
  color: #df1f1f;
  font-size: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-top: 14px;
}

.fa-google-plus-square{
  color: #df1f1f;
  font-size: 36px;
  line-height: 36px;
  padding-left: 10px;
  padding-top: 14px;
}

.author-img-and-descp img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  float: left;
}

.author-descp{
  min-height: 128px;
  height: auto;
}

.author-descp2{
  height: 128px;
  margin-left: -26px;
  border-bottom: 1px solid #b6b6b6;
}

.author-descp h4{
  margin-left: 126px;
  color: #1d1d1d;
  font-family: 'Archivo Narrow', sans-serif;
  display: inline-block;
  text-transform: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
}

.author-descp2 h4{
  margin-left: 152px;
  color: #1d1d1d;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
}

.author-descp p{
  margin-left: 126px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #717171;
}

.author-descp2 p{
  margin-left: 152px;
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #717171;
}

/* COMMENTS */
.comments-part{
  padding-right: 0;
  padding-left: 15px;
}

.comment-number{
  border-bottom: 1px solid #b6b6b6;
  margin-left: -26px;
  padding-bottom: 18px;
  padding-left: 26px;
}

.comment-img-and-descp{
  padding-top: 48px;
  padding-bottom: 28px;
  margin-left: -26px;
  padding-left: 26px;
}

.comment-img-and-descp img{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  float: left;
}

.comment-descp{
  min-height: 128px;
  height: auto;
}

.comment-descp h4{
  color: #1d1d1d;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0;
}

.comment-descp h4 span{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  padding-left: 24px;
  color: #b4b4b4;
}

.comment-descp p{
  margin-left: 74px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #717171;
}

.comment-descp2{
  text-align: right;
  margin-right: 40px;
}

.comment-descp2 p{
  font-size: 12px;
  color: #df1f1f;
  font-weight: 700;
  padding-bottom: 30px;
}

.replies{
  padding-left: 100px;
  margin-left: -26px;
  border-bottom: 1px solid #b6b6b6;
}

.see-all{
  font-family: 'Droid Serif', serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 500;
  color: #717171;
  line-height: 74px;
}

/* SIDEBAR SINGLE */
.single-sidebar-img{
  height: 300px;
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -48px;
  position: relative;
}

.single-sidebar-img img{
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}

.pt-latest-s{
  text-decoration: underline;
  line-height: 24px;
  color: #424242;
}

.lat-title-s{
  font-size: 24px;
  text-decoration: none;
  line-height: 36px;
  color: #424242;
}

.lat-date-s{
  color: #424242;
  font-size: 12px;
  font-weight: 900;
}

.side-features-s{
  position: relative;
  height: 121px;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

/* SINGLE ALTERNATIVE */
.single-imgA{
  height: 100vh;
  margin-top: -8px;
  overflow: hidden;
  position: relative;
}

.single-imgA img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  right: -9999px;
  left: -9999px;
  margin: auto;
}

.img-abs{
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 8px;
  background-image: url("images/archive/5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.single-contA{
  position: relative;
  background-color: #fff;
  margin-top: -20% !important;
}

.soc-right{
  width: 50px;
  height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  margin-right: -50px;
  background-color: #ece7e7;
}


/* SINGLE WITH SIDEBAR */
.singleB{
  background-color: #fff;
}

.text-blockb{
  text-align: left;
  padding: 0 10%;
}

.text-blockb > p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 30px;
  color: #1d1d1d;
}

.text-blockb > h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  margin: 0px;
  text-align: left;
  color: #1d1d1d;
}

.quote-textb{
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}

.quote-textb > p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-top: 36px;
  color: #717171;
}

.soc-left{
  position: absolute;
  top: 120px;
  left: 0;
  width: 50px;
  margin-left: -50px;
}

.soc-left .fa{
  padding-top: 24px;
}

/* SUBMENU */
.submenu-blog{
  height: 520px;
}

.submenu-blog > .col-md-3{
  margin-top: 60px;
}

.submenu-b1{
  display: none;
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: rgb(237,235,235);
  z-index: 1006;
}

.submenu-b1 .col-md-3{
  display: none;
}

.subtitle{
  font-size: 36px;
  line-height: 48px;
  color: #7f7f7f;
}

.bloglist{
  list-style: none;
  margin-top: 20px;
}

.bloglist li a{
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  color: #999;
}

.bloglist li a:hover{
  color: #df1f1f;
  text-decoration: underline;
}

/* FONT ICONS */
.lineIcons-family{
  font-family: lineIcons;
}

.hotmag-family{
  font-family: hotmagIcons; 
}

.subtitle-icon{
  font-size: 20px;
  line-height: 46px;
  color: #7f7f7f;
  font-family: lineIcons;
}

.hotmag-ico{
  font-family: hotmagIcons;
  font-size: 30px;
  line-height: 48px;
  color: #7f7f7f;
}

.farenheit{
  font-size: 18px;
}

.location-nyc{
  padding-left: 12px;
  font-size: 18px;
  line-height: 48px;
  height: 24px;
  color: #999999;
  font-weight: 700;
}

.date-nyc{
  padding-left: 12px;
  font-size: 14px;
  line-height: 48px;
  height: 24px;
  color: #999999;
  font-weight: 100;
}

/* CALENDAR WIDGET */
.calendar-widget{
  background-color: #fff;
}

.calendar-top{
  background-color: #df1f1f;
  padding: 20px 0;
}

.calendar-top span{
  font-size: 18px;
}

.calendar-days{
  padding-bottom: 6px;
  display: inline;
  border-bottom: 1px solid #df1f1f;
}

.c-day{
  padding-top: 6px;
  display: inline-block;
  width: 13.4%;
  color: #a5a4a4;
  font-weight: 700;
  text-align: center;
}

.calendar-date{
  padding-bottom: 6px;
  display: inline;
}

.c-date{
  font-family: 'Open Sans', sans-serif;
  padding-top: 6px;
  margin-top: 4px;
  display: inline-block;
  width: 13.4%;
  color: #a5a4a4;
  font-weight: 400;
  text-align: center;
}

.c-date:hover{
  background-color: #f1f1f1;
  cursor: pointer;
}

.past-date{
  color: #494949;
}

.disable-day{
  color: #d5d4d4;
}

.disable-day:hover{
  background: #fff;
  cursor: default;
}

.today-date{
  background-color: #df1f1f;
  color: #fff;
}

.today-date:hover{
  background-color: #df1f1f;
  color: #494949;
  cursor: pointer;
}

.next-month-day{
  color: #df1f1f;
}

/* ARCHIVES SIDEBAR */
.archives-content{
  background: #fff;
  border-bottom: 1px solid #b6b6b6;
}

.a-pane{
  margin: 0 22px;
  background-color: #f1f1f1;
}

.a-pane .pop-title{
  z-index: 2;
  position: relative;
  padding-right: 12px;
}

.a-pane .pop-number{
  z-index: 2;
  display: block;
  bottom: 0;
}

.sidebar-width-o{
  width: 0%;
  height: 100%;
  position: absolute;
  margin-left: -22px;
  background: #df1f1f;
  z-index: 0;
}

/* CATEGORIES SIDEBAR */
.categories-content{
  background: #fff;
  border-bottom: 1px solid #b6b6b6;
}

/* VIDEO POST */
#player{
  margin-bottom: 24px;
  width: 100%;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- ABOUT AUTHOR PAGE ------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.aa-imgA{
  height: 520px;
  overflow: hidden;
  position: relative;
}

.aa-imgA > img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.author-main-title{
  color: #1d1d1d;
  font-size: 30px;
  line-height: 72px;
  text-transform: none !important;
  font-family: 'Archivo Black';
}

.author-info{
  text-align: center;
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -50px;
}

.author-info img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 6px solid #fff;
}

.author-grid{
  border: 2px solid #f1f1f1;
  border-right: none;
}

.author-contA{
  position: relative;
  background-color: #fff;
  margin-top: 14% !important;
}

.auth-side{
  height: 400px;
  width: 100%;
  position: relative;
}

.auth-side-cont{
  background-color: #ece7e7;
  margin-top: 0 !important;
}

.auth-side-cont > .col-md-8{
  background-color: #fff;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- CLASSIC MENU CSS -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav{position:relative;width:980px;margin:0 auto;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{font-family:sans-serif;background:#fff}
#cssmenu > ul > li{float:left; padding: 0 !important;}
#cssmenu > ul > li > a{padding:17px;font-size:14px;letter-spacing:1px;text-decoration:none;color:#727272;font-weight:700;}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#df1f1f}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{color:#df1f1f;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{font-family: fontAwesome; font-size: 8px; vertical-align: middle; content:" \f078"}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul{position:absolute;left:-9999px;}
#cssmenu.classic-mega-menu ul ul{position: absolute;left: auto;pointer-events: none;transition: 0.35s;opacity: 0;}
#cssmenu ul ul li{height:auto;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#fff;transition:all .25s ease}
#cssmenu ul ul li:hover{}
#cssmenu li:hover > ul{left:auto;}
#cssmenu.classic-mega-menu li:hover > ul{opacity: 1;pointer-events: all;transition: 0.7s;}
#cssmenu li:hover > ul > li{height:35px}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#727272;font-weight:400;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li.has-sub > a:after{font-family: fontAwesome; font-size: 8px; vertical-align: top; content:" \f078"}
#cssmenu.classic-mega-menu ul ul li.has-sub > a:after{display: none;}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#fff;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #f2f2f2}
#cssmenu > ul > li:last-child{background-color: #df1f1f;}
#cssmenu > ul > li:last-child a{color: #fff;}
#cssmenu > ul > li.has-sub.mega-m > ul{opacity: 0;}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- CLASSIC MENU RESPONSIVE CSS --------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
nav{position:relative;width:980px;margin:0 auto;}
#cssmenuRes,#cssmenuRes ul,#cssmenuRes ul li,#cssmenuRes ul li a,#cssmenuRes #head-mobile{border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenuRes:after,#cssmenuRes > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenuRes #head-mobile{display:none}
#cssmenuRes{font-family:sans-serif;background:#fff}
#cssmenuRes > ul > li{float:left; padding: 0 !important;}
#cssmenuRes > ul > li > a{padding:17px;font-size:14px;letter-spacing:1px;text-decoration:none;color:#727272;font-weight:700;}
#cssmenuRes > ul > li:hover > a,#cssmenuRes ul li.active a{color:#df1f1f}
#cssmenuRes > ul > li:hover,#cssmenuRes ul li.active:hover,#cssmenuRes ul li.active,#cssmenuRes ul li.has-sub.active:hover{color:#df1f1f;-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenuRes > ul > li.has-sub > a{padding-right:30px}
#cssmenuRes > ul > li.has-sub > a:after{font-family: fontAwesome; font-size: 8px; vertical-align: top; content:" \f078"}
#cssmenuRes > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenuRes ul ul{position:absolute;left:-9999px;}
#cssmenuRes.classic-mega-menu ul ul{position: absolute;left: auto;pointer-events: none;transition: 0.35s;opacity: 0;}
#cssmenuRes ul ul li{height:auto;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;background:#fff;transition:all .25s ease}
#cssmenuRes ul ul li:hover{}
#cssmenuRes li:hover > ul{left:auto;}
#cssmenuRes.classic-mega-menu li:hover > ul{opacity: 1;pointer-events: all;transition: 0.7s;}
#cssmenuRes li:hover > ul > li{height:35px}
#cssmenuRes ul ul ul{margin-left:100%;top:0}
#cssmenuRes ul ul li a{border-bottom:1px solid rgba(150,150,150,0.15);padding:11px 15px;width:170px;font-size:12px;text-decoration:none;color:#727272;font-weight:400;}
#cssmenuRes ul ul li:last-child > a,#cssmenuRes ul ul li.last-item > a{border-bottom:0}
#cssmenuRes ul ul li.has-sub > a:after{font-family: fontAwesome; font-size: 8px; vertical-align: top; content:" \f078"}
#cssmenuRes ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenuRes ul ul li.has-sub:hover,#cssmenuRes ul li.has-sub ul li.has-sub ul li:hover{background:#fff;}
#cssmenuRes ul ul ul li.active a{border-left:1px solid #333}
#cssmenuRes > ul > li.has-sub > ul > li.active > a,#cssmenuRes > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #f2f2f2}
#cssmenuRes > ul > li:last-child{background-color: #df1f1f;}
#cssmenuRes > ul > li:last-child a{color: #fff;}
#cssmenuRes > ul > li.has-sub.mega-m > ul{opacity: 0;}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* -------------------------------------- MEDIA QUERIES ---------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media (max-width: 1200px) {
  /* CAROUSEL FIX */
  .carousel-items{
    padding: 0;
  }

  .post-thumbnail{
    width: 99%;
    height: 105px;
    overflow: hidden;
  }

  .post-thumbnail img{
    width: 99%;
  } 

  .post-type-thumb{
    width: 99%;
  }

  .post-thumb-title{
    width: 99%;
  } 

  .post-thumb-date{
    display: none;
  } 

  .image-ff{
    width: 70%;
    margin-left: 30%;
  }

  .c-day, .c-date{
    width: 13.3%;
  }
}

/* BOOTSTRAP COLLAPSE MENU */

@media (max-width: 991px) {
    nav{width:100%;}
    #cssmenu{width:100%}
    #cssmenu ul{width:100%; display:none;}
    #cssmenu ul li{width:100%;border-top:1px solid #f2f2f2}
    #cssmenu ul li:hover{background:#fff;}
    #cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
    #cssmenu ul li a,#cssmenu ul ul li a{width:100%;border-bottom:0}
    #cssmenu > ul > li{float:none}
    #cssmenu ul ul li a{padding-left:25px}
    #cssmenu ul ul li{background:#fff!important;}
    #cssmenu ul ul li:hover{background:#fff!important}
    #cssmenu ul ul ul li a{padding-left:35px}
    #cssmenu ul ul li a{color:#727272;background:none}
    #cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#df1f1f; background:#fff!important}
    #cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
    #cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
    #cssmenu #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
    .menuu-button{width:55px;height:46px;position:absolute;right:0;top: -64px;cursor:pointer;z-index: 12399994;}
    .menuu-button:after{position:absolute;top:22px;right:20px;display:block;height:8px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
    .menuu-button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
    .menuu-button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#ddd;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
    .menuu-button.menu-opened:before{top:23px;background:#ddd;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
    #cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;height:46px;width:46px;display:table;cursor:pointer;pointer-events:none;}
    #cssmenu .submenu-button.submenu-opened{background:#fff;}
    #cssmenu ul ul .submenu-button{height:34px;width:34px}
    #cssmenu .submenu-button:after{font-family: fontAwesome; font-size: 8px; vertical-align: middle; color:#727272; display:table-cell; vertical-align: middle; text-align: center; content:" \f078";}
    #cssmenu ul ul .submenu-button:after{top:15px;right:13px}
    #cssmenu .submenu-button.submenu-opened:after{color:#727272}
    #cssmenu ul ul ul li.active a{border-left:none}
    #cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
    #cssmenu > ul > li.has-sub > a{padding-right: 0px;}
    #cssmenu > ul > li.has-sub.mega-m > ul{opacity: 1;}
    #cssmenu > ul > li.ima > ul{display: block !important;}
    #cssmenu > ul > li.ima ul li.ima > ul{display: block !important;}
    #cssmenu .one-post-latest{min-height: 0 !important;}

    /* BOOTSTRAP COLLAPSE MENU RESPONSIVE */


        nav{width:100%;}
        #cssmenuRes{width:100%}
        #cssmenuRes ul{width:100%; display:none;}
        #cssmenuRes ul li{width:100%;border-top:1px solid #f2f2f2}
        #cssmenuRes ul li:hover{background:#fff;}
        #cssmenuRes ul ul li,#cssmenuRes li:hover > ul > li{height:auto}
        #cssmenuRes ul li a,#cssmenuRes ul ul li a{width:100%;border-bottom:0}
        #cssmenuRes > ul > li{float:none}
        #cssmenuRes ul ul li a{padding-left:25px}
        #cssmenuRes ul ul li{background:#fff!important;}
        #cssmenuRes ul ul li:hover{background:#fff!important}
        #cssmenuRes ul ul ul li a{padding-left:35px}
        #cssmenuRes ul ul li a{color:#727272;background:none}
        #cssmenuRes ul ul li:hover > a,#cssmenuRes ul ul li.active > a{color:#df1f1f; background:#fff!important}
        #cssmenuRes ul ul,#cssmenuRes ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
        #cssmenuRes > ul > li.has-sub > a:after,#cssmenuRes > ul > li.has-sub > a:before,#cssmenuRes ul ul > li.has-sub > a:after,#cssmenuRes ul ul > li.has-sub > a:before{display:none}
        #cssmenuRes #head-mobile{display:block;padding:23px;color:#ddd;font-size:12px;font-weight:700}
        .menuu-button{width:55px;height:46px;position:absolute;right:0;top: -64px;cursor:pointer;z-index: 12399994;}
        .menuu-button:after{position:absolute;top:22px;right:20px;display:block;height:8px;width:20px;border-top:2px solid #dddddd;border-bottom:2px solid #dddddd;content:''}
        .menuu-button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:16px;right:20px;display:block;height:2px;width:20px;background:#ddd;content:''}
        .menuu-button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:23px;border:0;height:2px;width:19px;background:#ddd;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
        .menuu-button.menu-opened:before{top:23px;background:#ddd;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
        #cssmenuRes .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;height:46px;width:46px;display:table;cursor:pointer;pointer-events:none;}
        #cssmenuRes .submenu-button.submenu-opened{background:#fff;}
        #cssmenuRes ul ul .submenu-button{height:34px;width:34px}
        #cssmenuRes .submenu-button:after{font-family: fontAwesome; font-size: 8px; vertical-align: middle; color:#727272; display:table-cell; vertical-align: middle; text-align: center; content:" \f078";}
        #cssmenuRes ul ul .submenu-button:after{top:15px;right:13px}
        #cssmenuRes .submenu-button.submenu-opened:after{color:#727272}
        #cssmenuRes ul ul ul li.active a{border-left:none}
        #cssmenuRes > ul > li.has-sub > ul > li.active > a,#cssmenuRes > ul ul > li.has-sub > ul > li.active > a{border-top:none}
        #cssmenuRes > ul > li.has-sub > a{padding-right: 0px;}
        #cssmenuRes > ul > li.has-sub.mega-m > ul{opacity: 1;}
        #cssmenuRes > ul > li.ima > ul{display: block !important;}
        #cssmenuRes > ul > li.ima ul li.ima > ul{display: block !important;}
        #cssmenuRes .one-post-latest{min-height: 0 !important;}
        
    /* SINGLE */
    .single-content{
      margin-top: -22px;
    }

    .parallax-img{
      background-attachment: scroll;
    }

    .text-block{
      padding: 0 15px;
    }

    .intro-text > p{
      padding: 0 5px;
    }

    .quote-text{
      padding: 0 5px;
    }

    .comm-edit{
      float: left;
    }

    .comm-reply{
      float: left;
      margin-left: 72px;
    }
      
    /* SINGLE END */

    .sidebar{
      display: none;
    }

    .foot-out{
      display: none;
    }

    .logo{
      margin-top: 24px !important;
      margin-bottom: -16px !important;
    }

    .search-popout-block{
      position: relative;
      margin-left: -0px;
      background-color: transparent;
    }

    .break992{
      display: none;
    }

    .google-ad{
      padding-top: 0;
    }

    .wakeonresp{
      display: block;
    }

    #sbt{
      margin-right: 15px;
      right: auto;
      background: #fff;
    }

    #sbtNesto{
      margin-right: 15px;
      right: auto;
      background: #fff;
    }

    .gad{
      display: block;
      padding: 10px 0;
    }

    .gad2{
      display: none;
    }

    .header-search-form input{
      padding-left: 12px;
      height: 46px;
      padding-right: 100px;
    }

    .sim-1{
      display: none;
    }

    .sim{
      display: block;
    }

    .sim .header-search-form{
      margin-left: 45px;
      padding-right: 0;
    }

    .cssmenudiv{
      display: block;
      margin-bottom: 12px;
      margin-top: 22px;
    }

    .cssmenudiv #cssmenu > ul > li > a{
      text-align: left;
    }
        .cssmenudiv #cssmenuRes > ul > li > a{
            text-align: left;
        }

    .csm2 .menuu-button{
      display: none;
    }

    .menu-fix{
      overflow: auto;
    }

    .logo img{
      max-width: 100%;
    }

    .latest-posts-list{
      width: 100%;
    }

    .has-sub{
      border-bottom: none !important;
    }

    .has-sub > a{
      width: 100%;
      display: block;
      line-height: 46px;
      border-bottom: 1px solid #999999;
    }

    .responsive-del{
      display: none;
    }

    .bottom-none{
      border-bottom: none !important;
    }

    .submenu-blog{
      height: auto;
    }

    .submenu-b1{
      height: auto;
    }

    .sub-ul > a{
      padding-left: 24px !important;
    }

    .sub-ul li{
      border-bottom: 1px solid #999999
    }

    .sub-ul li a{
      padding-left: 24px !important;
    }

    .swiper-container2{
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .blog-cont .col-md-6{
      padding: 0;
    }

    .load-more-btn{
      padding-top: 0;
    }

    .image-caption{
      width: 100%;
    }    

    .post-text{
      width: 100%;
    }

    .properties-post{
      width: 50%;
      padding-left: 0px !important;
      margin: 0;
    }

    .one-post-hovered2{
      display: none;
    }

    .one-post-hovered{
      display: none;
    }

    .sticky-cap-one{
      color: #fff;
    }

    .pp2{
      color: #fff;
    }

    .oto{
      color: #fff;
    }

    .oto .post-type-two{
      color: #fff;
    }

    .sticky-text{
      color: #fff;
    }

    .sticky-rm a{
      color: #fff;
    }

    .image-ff{
      width: 100%;
      margin-left: 0;
      margin: 0;
      padding-left: 15px;
    }

    .one-post-text{
      color: #fff;
    }

    .oneolay{
      width: 100%;
    }

    .c-day, .c-date{
      width: 13.8%;
    }

    /*SINGLE POST*/
    .author-part{
      padding: 0;
    }

    .comments-part{
      margin-top: 36px;
      padding: 0;
    }

    /* SINGLE POST + SIDENAR */
    .twitter-feed{
      margin-top: 36px;
    }

    .singlesidebar{
      padding: 0;
    }
}

@media (max-width: 768px) {
  .break768{
    display: none;
  }

  .swiper-content{
    width: 80%;
  }

  .swiper-read-more{
    text-align: left;
  }

  .cat-title{
    text-align: center;
  }

  .cat-img{
    left: 50%;
    margin-left: -72px;
  }

  .cat-descp{
    left: 50%;
    margin-left: -72px;
  }

  .one-cat{
    padding: 0;
    margin-top: 24px;
  }

  #weather{
    padding-left: 0px !important;
  }

  .remove-margin .margin-right48{
    margin-right: 0px;
  }

  .c-day, .c-date{
    width: 13.5%;
  }

}

@media (max-width: 420px) {
   .menuu-button{
    top: -48px;
   }

  .f-subscribe{
    width: 100%;
  }

  .f-btn{
    width: 100%;
  }

  .c-date{
    width: 13%;
  }

  .c-day{
    width: 13%;
  }

  .pp2{
    display: none;
  }

  .one-cat{
    width: 100%;
  }

  .slide-list li{
    margin-left: 14px;
  }

  .slide-list li .margin-top12 .cap-one{ 
    position: relative;
    overflow: hidden;
    height: 66px;
  }

  .login-form{
    margin-left: -180px;
  }

  .c-day, .c-date{
    width: 13.2%;
  }
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------------- OTHER SETTINGS ---------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* 
 Please note: other wp settings are defined in library/css/hotmag-theme-main.css
*/
.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}
.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#link-pages {
    margin: 20px 0px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 65px;
    height: 135px;
    width: 100%;
}

#link-pages a {
    font-size: 15px;
    line-height: 50px;
    font-weight: normal;
    line-height: auto;
    display: block;
    text-align: center;
    width: 325px;
    height: 135px;
    color: white;
    text-transform: uppercase;
}

#link-pages a.fb-share {
    float: left;
}

#link-pages a.next {
    float: right;
}

#link-pages a span {
    width: 325px;
    height: 135px;
    display: block;
    transition: background 0.0s, color 0.0s;
}

#link-pages a.fb-share span {
    background: url('../../images/spritesheet.png') no-repeat 0 -405px;
}

#link-pages a.fb-share:hover span {
    background: url('../../images/spritesheet.png') no-repeat 0 -270px;
}

#link-pages a.next span {
    background: url('../../images/spritesheet.png') no-repeat 0 -135px;
}

#link-pages a.next:hover span {
    background: url('../../images/spritesheet.png') no-repeat 0 0;
}