@font-face {
    font-family: lineIcons;
    src: url(lineicons/fonts/lineicons.ttf) format('true type'),
        url(lineicons/fonts/lineicons.woff) format('woff'),
        url(lineicons/fonts/lineicons.svg) format('svg'),
        url(lineicons/fonts/lineicons.eot) format('embedded-opentype');
}

@font-face {
    font-family: hotmagIcons;
    src: url(hotmag/fonts/hotmag.ttf),
        url(hotmag/fonts/hotmag.woff) format('woff'),
        url(hotmag/fonts/hotmag.svg) format('svg'),
        url(hotmag/fonts/hotmag.eot) format('embedded-opentype');
}