/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* ------------------------------- Visual Composer Hotmag -------------------------------------- */
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* Category grid slider shortcode frontend */
#shindiri-cat-grid-slider .shindiri-dummy-post .grid-title,
#shindiri-cat-grid-slider .shindiri-dummy-post .grid-author,
#shindiri-cat-grid-slider .shindiri-dummy-post .grid-text {
    visibility: hidden;
}

#shindiri-cat-grid-slider .grid-text a:hover {
    text-decoration: underline;
}

.swiper-slide2 {
    height: 100% !important;
}

.grid-title{
   height: 56px;
   overflow: hidden;
}

.grid-text{
   height: 90px;
   overflow: hidden;
}

/* Category last post shortcode frontend */
.shindiri-categroy-last-post {
    overflow-x: hidden;
    overflow-y: auto;
}

.shindiri-categroy-last-post .cat-img {
    max-width: 160px;
    margin-top: 0;
    width: 160px;
}

.shindiri-categroy-last-post .one-cat {
    padding: 15px 0;
    width: 160px;
    margin: 0 auto;
    float: none;
}

.shindiri-categroy-last-post .hashtag-cat a:hover {
    text-decoration: underline;
}

/* Category with icon slider shortcode frontend */

.slider-loader {
    height: 100%;
}

/* Frontend css for blog shortcode */
#shindiri-blog-shortcode .height36 {
    height: 36px;
}

#shindiri-blog-shortcode .it-world {
    margin-right: 2px;
}
#shindiri-blog-shortcode .shindiri-blog-sticky-post .cap-one {
    display: inline-block;
    float: left;
}

/* Swiper posts slider shortcode frontend */
.shindiri-swiper-container {
    margin:0 auto;
    position:relative;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    /* Fix of Webkit flickering */
    z-index:1;
    height: 472px;
}