.validation-advice {
	margin: 0px 0;
	padding: 2px;
	background-color: #FFFFFF;
	color : #FF0000;
	font-weight: bold;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #FFFFFF;
	color : #FF0000;
	font-weight: bold;
}

fieldset {
	padding: 1em;
	margin-bottom: 0.5em;
}

label {
	font-weight: bold;
}
.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {

}

.field-widget {

}