@charset "utf-8";
/* reset css start */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

#headTitle {
    font-size:20px;
    color: #B90101;
}

fieldset, img {
    border: 0;
}

html {
    overflow: scroll;
}

ol, ul {
    list-style: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
/* reset css end */
body {
    font-size: 75%;
    font-family: Arial,Tahoma,Helvetica,Sans-Serif;
    line-height: 150%;
    min-width: 990px;
}
#top_plunin {
    text-align: right;
}
a {
    color: #4C4C4C;
    text-decoration:none;
    font-family:arial;
    font-size:12px;
}

a:hover {
    text-decoration:none;
    font-family:arial;
    font-size:12px;
    color:#F18F0C;
}


.A_Result {
    color: #383838;
    text-decoration:none;
    font-family:arial;
    font-size:14px;
}

.A_Result:hover {
    text-decoration:none;
    font-family:arial;
    font-size:14px;
    color:#F18F0C;
}

/* body start */
.tips {
    text-align: left;
    margin:10px 10px 0 0;
    padding: 10px 10px 10px 45px;
    border: 1px solid #cccccc;
    width: 175px;
    float:right;
    line-height: 120%;
}
.clear{
    clear:both;
}
.tips a {
    font-weight: bold;
}
#logo{
    margin:10px auto 0 auto;
    width:300px;
}
#search_box {
    margin:25px auto;
    border: 1px solid #B90101;
    width:580px;
    padding:15px;

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    -o-border-radius:8px;
}

#last_search {
    margin:25px auto;
    border: 1px solid #F3B96D;
    width:750px;
    padding:15px;
}

#searchk{
    margin:10px 0 5px 0;
    width:580px;
    margin:0 auto;
}
.bookmark {
    display: table-cell;
    width: 130px;
    float: left;
    line-height: 24px;
    height: 24px;
    vertical-align: middle;
}

.submit{
    height:32px;
    border: 1px solid #FFFFFF;
    background-color:#B90101;
    width:90px;
    font-weight: bold;
    /*color: #F18F0C;*/
    color: #FFCC00;
    font-family:arial;
    font-size:14px;
}
input.submit:hover {
    background-color:#FFFFFF;
    border: 1px solid #FFCC00;
    width:90px;
    font-weight: bold;
    color: #B90101;
    font-family:arial;
    font-size:14px;
}
input.form_text:hover {
    border-color:#B90101;
}

#lastSearches{
    font-weight: bold;
    width:680px;
    margin:0 auto 5px auto;
    color: #383838;
    font-family:arial;
    font-size:22px;
    padding: 10px;
}

#searchResult{
    background-color:#FFFFFF;
    border:1px solid #B90101;
    padding:10px;

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    -o-border-radius:8px;
}

#lastSearchesResult{
    font-weight: bold;
    width:580px;
    /*margin:auto auto auto auto;F3B96D*/
    color: #B90101;
    font-family:arial;
    font-size:22px;
    border:#F3B96D 2px solid;
    padding: 10px;
    text-align: center;

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    -o-border-radius:8px;
}

#paragraph{
    font-weight: bold;
    width:580px;
    color: #4C4C4C;
    font-family:arial;
    font-size:14px;
    border:#F3B96D 2px solid;
    padding: 10px;
    text-align: left;

    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    -o-border-radius:8px;
}

.title{
    font-weight: bold;
    width:580px;
    margin:0 auto 5px auto;
    /*color: #037F6A;*/
    color: #383838;
    font-family:arial;
    font-size:14px;
}

.text{
    font-weight: bold;
    margin:0 auto 5px auto;
    color: #4C4C4C;
    font-family:arial;
    font-size:13px;
}

.form_text{
    background-image:url('/imgs/pdfview.gif');
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 10px;

    height:30px;
    padding:0;
    line-height: 30px;
    font-size:20px;
    color:#383838;
    border: 1px solid #383838;
    width:480px;
}
a:hover.bookmarklet {
    text-decoration: none;
}
.booksmalet {
    width: 100px;
}
#header_left{
    float:left;
    width:200px;
    padding-left:10px;
    line-height: 25px;
}
#header_right{
    float:right;
    width:500px;
    text-align:right;
    line-height: 25px;
    color:#999;
    font-size:11px;
    padding-right:10px;
}
#header_top{
    height:25px;
    width:100%;
    /*border-bottom: 1px solid #FCD8A8;*/
}
#footer{
    line-height: 24px;
    color:#B90101;
    width:600px;
    margin:0 auto;
    text-align: center;
    padding:0 50px;
    vertical-align: middle;
}
#pager_links a {
    text-decoration:none;
    color:#FFCC00;
    background:#B90101;
    font-weight: bold;
    font-family:arial;
    font-size:16px;
    border:1px solid #FFFFFF;
    padding:1px 4px 1px 4px;
    margin:2px;

}
#pager_links a:hover {
    text-decoration:none;
    color:#B90101;
    background:#FFFFFF;
    font-weight: bold;
    font-family:arial;
    font-size:16px;
    border:1px solid #FFCC00;
    padding:1px 4px 1px 4px;
    margin:2px;
}
#current_page {
    text-decoration:none;
    color:#383838;
    background:#FFAC3C;
    font-weight: bold;
    font-family:arial;
    font-size:16px;
    border:1px solid #383838;
    padding:1px 4px 1px 4px;
    margin:2px;
}