/* 
    Created on : 14/10/2014, 11:11:39 AM
    Author     : Pablo Villalobos
*/                     
.ModelColor{
    color: #FF6600;
}
.PhotographerColor{
    color:#003333;
}
.MakeupArtistColor,
.ArtistPainterColor,
.PublicationColor,
.TalentScoutColor,
.CastingDirectorColor,
.EventPlannerColor,
.AdvertiserColor,
.BodyPainterColor,
.ClothingDesignerColor,
.ModeratorColor,
.DefaultColor
{
    color:#D24DAE;
}
.HairStylistColor{
    color:#23B84D;
}
.WardrobeStylistColor,.llamaColor{
    color:#660066;
}
.RetoucherColor{
    color:#0055a4;
}
.AdminColor{
    color:#990000;
}