/* 
    Created on : 24/09/2014, 06:12:47 PM
    Author     : pablo Villalobos
*/
.quick_links, quick_links_right{
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 10px;
    float: left;
}
.quick_links_right{
    padding-left: 10px;
    float: left;
    padding-left: 20px;
    padding-top: 14px;
}

.quick_links span{
    display: block;
    font-weight: bold;    
    
    font-family: Tahoma-Bold;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 17px;    
}
.quick_links_right a{
    padding-right: 8px;
    margin-bottom: 5px;
    font-family: LucidaGrande;
    font-size: 12px;
    color: #0E04A5;
    line-height: 20px;    
}