.result {
        border: solid 1px #CCCCCC;
		background-color: white;
        padding: 10px;
        margin: 0px 10px 8px;
		width: 100%; }
 
.resulthead {
       padding-right: 10px;
       width: 70px;
       font-size: 90%;
	   font-weight: bold; }
		
.actions {
		font-size: 95%;
         }
            
.resultsname {
		font-size: 110%;
		 font-weight: bold;
         }
		 
.casting {
		background-color: white;
        padding: 5px;
        margin: 0px 10px 8px;
		width: 100%; }
		
.sidebox {
		background-color: #f5eab8;
		 border: solid 1px #423c1e;
		padding: 5px;
		} 
#upgrade_vip{
    font-size: 14px;
}
.forum_guide_badge{
	margin: 6px 0;
}               
.loginin  {
color:#22229C; !important;
text-decoration: underline; !important;
}
a.loginin:hover {
color:#C00; !important;
}                
