#site_msgs_container {
padding:2px 0px 2px 0px;
margin:15px 0px 10px 0px;
}
#site_msgs_container b {
color:#FF0000;
}
.message {
float:left;
margin-right:10px;
}
.start_date {
width:30%;
float:right;
text-align:right;
}
.end_date {
width:30%;
float:right;
text-align:right;
}
#message_container {
margin:0px 0px 10px 0px;
padding: 0px 15px 13px 5px;
}
.message_info_container {
width:718px;
background-color:#FFF;
margin:0px 0px 3px 0px;
padding:4px 0px;
float:left;
}
.message_info_container:hover {
background-color:#D9D327;
cursor:pointer;
}
#messages_headers_container {
width:718px;
margin:10px 0px 3px 0px;
padding: 13px 15px 0px 5px;
}
.errors{
color:red;
}
#close {
text-align:right;
padding-right:10px;
}
#site_message_container {
width:718px;
height:200px;
background:#FFF;
padding:0px 10px;
overflow:auto;
}
.message_container{
	background: none repeat scroll 0 0 #F5F5F5;
	border: 2px dotted orange;
	color: #000000;
	margin: 20px auto 20px auto;
	padding: 5px;
	width: 500px; 
	text-align: center; 	
	font-weight: bold;
}
/* Style for site messages in the new home page */
.site_messages_new_home{
	background: #000;
}
.info .site_messages_new_home{
	background: none;
	padding: 0px !important;
}
.site_messages_new_home .message_container{
	margin: 15px auto 0;
}
.info .site_messages_new_home .message_container{
	width: 400px;
}
.pics_number, #pagination1{
	width:80px;
	text-align:right;
	font-size:12px;
	position:relative;
	margin:-29px 10px 0 0px;
	margin:-35px 10px 0 0px\9;
	_margin-top:-35px;
}
*:first-child+html .pics_number, *:first-child+html #pagination1{
	margin-top:-30px;
}
#pagination1{
	width:158px;
	float:right;
}
#bottom_box{
	margin-top:-32px;
}
.password_verification_error{
	color:#FF0000;
}

div.widerWrapper div table.maintable div.aligned{
    padding: 15px 90px;
}

a.default{
    color: #22229C !important;
    text-decoration: underline;
}

.bold{
    font-weight: bold;
}

@keyframes mm-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}