@charset "utf-8";

/*// CSS RESET ---- */
html, body, div, span, applet, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, p,
small, strike, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse;border-spacing: 0;}
*{padding:0; margin:0; outline:0}
a{text-decoration:none;} a:hover{text-decoration:underline;}
/*// Float containers fix ---- */
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {	display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {	height: 1%;}
.clearfix {	display: block;}
/* End hide from IE-mac */
.FL{float:left;}.FR{float:right;}.CL{clear:both; font-size:0; line-height:0; height:0;}.CLB{clear:both}
.CTR{text-align:center}.TAR{text-align:right;}.uline{ text-decoration:underline;}.PR{ position:relative}.UC{ text-transform:uppercase}
:focus{outline:0;}
/*// Margin/Padding ---- */
.MA5{margin:5px;}.MA10{margin:10px;}
.MT2{margin-top:2px;}.MT3{margin-top:3px;}.MT5{margin-top:5px;}.MT7{margin-top:7px;}.MT10{margin-top:10px;}.MT12{margin-top:12px;}.MT15{margin-top:15px;}.MT20{margin-top:20px;} .MT25{margin-top:25px;}.MT30 { margin-top:30px; } .MT35 { margin-top:35px; }.MT40 { margin-top:40px; } .MT45 { margin-top:45px; } .MT92{ margin-top:97px;}
.MR3{ margin-right:3px;}.MR5{margin-right:5px;}.MR10{margin-right:10px;}.MR12{margin-right:12px;}.MR15{margin-right:15px;}.MR18{margin-right:18px;}.MR20{margin-right:20px;}.MR25{ margin-right:25px;}
.MB3{margin-bottom:3px;}.MB5{margin-bottom:5px;}.MB7{margin-bottom:5px;}.MB10{margin-bottom:10px;}.MB15{margin-bottom:15px;}.MB20{ margin-bottom:20px;}.MB35{ margin-bottom:35px;}
.ML2{margin-left:2px;}.ML3{margin-left:3px;}.ML5{margin-left:5px;}.ML10{margin-left:10px;}.ML15{margin-left:15px;}.ML20{margin-left:20px;} .ML25{margin-left:25px;}.ML40{margin-left:40px;}.ML45{margin-left:45px;}.ML65{margin-left:65px;}
.PA3{padding:3px;}.PA5{padding:5px;}.PA7{padding:7px;}.PA10{padding:10px;}.PA12{padding:12px;} .PA15 { padding:15px; } .PA20 { padding:20px; }
.PT2{padding-top:2px;}.PT3{padding-top:3px;}.PT4{ padding-top:4px;}.PT5{padding-top:5px;}.PT7{padding-top:7px;}.PT8{padding-top:8px;}.PT10{padding-top:10px;}.PT12{padding-top:12px;}.PT15{padding-top:15px;}.PT20{padding-top:20px;}.PT25{padding-top:25px;}.PT30{padding-top:30px;}
.PR3{padding-right:3px;}.PR5{padding-right:5px;}.PR7{padding-right:7px;}.PR10{padding-right:10px;}.PR15{padding-right:15px;}.PR20{padding-right:20px;}.PR25{padding-right:25px;}.PR30{padding-right:30px;}.PR40{padding-right:40px;} .PR35 { padding-right:35px; }
.PB2{padding-bottom:2px;}.PB3{padding-bottom:3px;}.PB5{padding-bottom:5px;}.PB7{padding-bottom:7px;}.PB10{padding-bottom:10px;}.PB15{padding-bottom:15px;}.PB20{padding-bottom:20px;}.PB30{padding-bottom:30px;}.PB35{padding-bottom:35px;}
.PL1{padding-left:1px;}.PL3{padding-left:3px;}.PL5{padding-left:5px;}.PL7{padding-left:7px;}.PL9{padding-left:9px;}.PL10{padding-left:10px;}.PL15{padding-left:15px;}.PL20{padding-left:20px;}.PL25{ padding-left:25px;}.PL30{padding-left:30px;}.PL40{ padding-left:40px;}.PL65{ padding-left:65px;}
.ML210{margin-left:210px;}

/*body, #newsn{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/common_header_bg_v7.png) 0 -2px repeat-x !important; font-family:arial;font-size:12px;}*/

body, #newsn {  background: url(http://img-d03.moneycontrol.co.in/images/mc_home/mc_bg_img_8.png) repeat-x scroll 0 0 !important; font-family: arial;  font-size: 12px;}

@font-face {font-family: 'open_sans_condensedbold'; src: url('http://www.moneycontrol.com/commonfiles/font/opensans-condbold.eot'); src: url('http://www.moneycontrol.com/commonfiles/font/opensans-condbold.eot?#iefix') format('embedded-opentype'), url('http://www.moneycontrol.com/commonfiles/font/opensans-condbold.woff') format('woff'), url('http://www.moneycontrol.com/commonfiles/font/opensans-condbold.ttf') format('truetype'), url('http://www.moneycontrol.com/commonfiles/font/opensans-condbold.svg#open_sans_condensedbold') format('svg'); font-weight: normal; font-style: normal;}

@font-face {font-family: 'open_sansregular'; src: url('http://www.moneycontrol.com/commonfiles/font/opensans-regular-webfont.eot'); src: url('http://www.moneycontrol.com/commonfiles/font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://www.moneycontrol.com/commonfiles/font/opensans-regular-webfont.woff') format('woff'), url('http://www.moneycontrol.com/commonfiles/font/opensans-regular-webfont.ttf') format('truetype'), url('http://www.moneycontrol.com/commonfiles/font/opensans-regular-webfont.svg#open_sansregular') format('svg'); font-weight: normal; font-style: normal;}

.cntDiv{width:1240px; margin:0 auto;}

.bgtTpSec{position:relative; height: 44px;}
.bgtTpSec .topmnu2{position:absolute;left:50%;margin-left:-185px;}
.bgtTpSec .topnav_ddl4{margin-left: 342px;}
.bgtTpSec .topnav_ddl3{ margin-left: 571px;}

.bgtHeader{padding:9px 0 0; height:130px;position:relative;}
@-moz-document url-prefix() { 
  .bgtHeader{padding:10px 0 0;}
} 
.bgtHeader .logos{float:left;padding-right:34px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/logobg.png) right -20px no-repeat;min-height:113px;text-align:center;}
.bgtHeader .logos .mcLogo{width:167px;margin-left:11px;height:85px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/bgtLogos.png) 0 0 no-repeat;display:block; text-indent:-9999px;}
.prtLogos{float:left;padding-left:15px;}
.prtLogos .tls{font:italic 11px 'open_sansregular', arial;color:#999;text-align:left}
.prtLogos .mline{/*background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/mline.png) left bottom no-repeat;*/border-bottom:#e5e5e5 1px solid;}
.prtLogos .tlinef{ padding-top:5px; width:150px;text-align:center; font:18px 'open_sans_condensedbold', arail;color:#adadad;}
.prtLogos .tline{ padding-top:5px;width:127px;text-align:center; background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/tline.png) left bottom no-repeat;font:18px 'open_sans_condensedbold', arail;color:#adadad;vertical-align: middle;}
.prtLogos .blinef{ padding:10px 20px 0 0; background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/bline.png) left top no-repeat;min-height:40px;font:18px 'open_sans_condensedbold', arail;color:#adadad;}
.prtLogos .bline{ padding:10px 0 0 0; width:130px;text-align:center; background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/bline.png) left top no-repeat;min-height:40px;font:18px 'open_sans_condensedbold', arail;color:#adadad;vertical-align: middle;}
.prtLogos .lastR{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/lastline.png) right top no-repeat; margin-top: 15px; padding-right:20px;}
.prtLogos .lastL{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/lastline.png) left top no-repeat;}
.countDay{height:125px;padding-left:15px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/coundownBg.png) 0 0 no-repeat;}
.socialLgs{position:absolute;top:0;right:0;}
.btnFacebook{display:inline-block;width:16px;height:16px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/btnFacebook.png) 0 0 no-repeat;}
.btnTweet{display:inline-block;width:16px;height:16px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/btnTweet.png) 0 0 no-repeat;margin-left:10px;}

.bgtMenu{height:71px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/menubg.png) 0 0 repeat-x;font:15px 'open_sans_condensedbold', arail;color:#fff;position:relative;}
.mainNav{height:35px;position:relative;}
.mainNav ul.nav{height:35px;}
.mainNav ul.nav li{float:left;height:32px;}
.mainNav ul.nav li a{display:block;height:32px;line-height:27px;border-top:#144d69 3px solid;color:#fff;padding:0 8px 0 8px; background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/linkbg.png) 0 8px no-repeat;}
.mainNav ul.nav li a.first{background-image:none;}
.mainNav ul.nav li a.active, .mainNav ul.nav li a:hover{color:#333;text-decoration:none;background:#f0f0f0;border-color:#ea6719;color:#333;
position:relative;z-index:0;text-decoration:none;}
.mainNav ul.nav li a .home{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/btnHome.png) 0 6px no-repeat;width:17px;height:35px;display:inline-block;margin-right:2px;}
.mainNav ul.nav li a:hover .home{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/btnHome2.png) 0 6px no-repeat;}
.mainNav ul.nav li a .cnbc{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/cnbcLogoa.png) 0 0 no-repeat;width:24px;height:21px;display:inline-block;vertical-align:middle;}
.mainNav ul.nav li a:hover .cnbc{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/cnbcLogo2a.png) 0 0 no-repeat;}
.mainNav ul.nav li a.terminal{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/btnTerminal.png) 0 0 no-repeat;width:83px;height:41px; margin-top: -6px;padding:0;border:0;}
.mainNav ul.nav li a:hover.terminal{background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/btnTerminal.png) 0 0 no-repeat; border:0;padding:0;}
.bgtMenu .ddMenus{position:absolute;width:300px;background:#e5edf5;padding:6px;border:#b6bec7 1px solid;top: 34px;left:5px;z-index:99999;display:none;}
.bgtMenu .ddMenus .inner{background:#fff;color:#0999c9;font-size:14px;}
.bgtMenu .ddMenus li{display:block;overflow:hidden;border-top:#e5edf5 1px solid;padding:13px 10px 13px 22px;}
.bgtMenu .ddMenus li a{color:#0999c9;}

.bgtSubNav{height:27px; margin-top:4px; margin-left:5px;}
.bgtSubNav ul{overflow:hidden;height:23px;}
.bgtSubNav ul li{float:left;height:23px;padding-right:10px;}
.bgtSubNav ul li a{display:block;height:23px;line-height:22px;color:#333;font-size:15px;padding:0 4px;}
.bgtSubNav ul li.act a, .bgtSubNav ul li a:hover{background:#ea6719; color:#fff;text-decoration:none;}

.cntDiv, .mainCont{width:960px;}
.countNew{width:400px;background:url(http://img-d02.moneycontrol.co.in/images/budget2014/header/countBg.png) right bottom no-repeat;position:absolute;top:-16px;right:0;height:50px;}
	

/*INLINE*/
.gb_tpnav_sec.act a{ padding:0 4px;}
.gb_tpnav_sec a{*padding:0 4px 0 4px;}
.lan_list{ width:100px; background:#3f5360;}
.lan_list li{ border-top:1px solid #51636f; padding:5px; text-align:left;}
.lan_list li a{ color:#ffffff; font:12px Arial, Helvetica, sans-serif;}
.gb_tpnav_sec_lang a {color: #233d4c; display: block; font-size: 12px; line-height: 33px; padding: 0 4px !important; text-decoration:none;font-weight:normal}
.separtor{color: #b3b5b6; margin-top: 10px;}
.gb_tpnav_sec_lang {position: relative;}
.gb_tpnav_sec_lang .arrw {background: url(http://img-d02.moneycontrol.co.in/images/budget2014/header/mc_home/header_sprite_v13.png?v1) no-repeat -544px 0px; vertical-align:middle; cursor: pointer; display: inline-block; height: 4px; margin-left: 5px; *margin-left: 2px; width: 7px;}
.gb_tpnav_sec_lang.act .arrw {background: url(http://img-d02.moneycontrol.co.in/images/budget2014/header/mc_home/header_sprite_v13.png?v1) no-repeat -544px -16px; vertical-align:middle; cursor: pointer; display: inline-block; height: 4px; margin-left: 5px; *margin-left: 2px; width: 7px;}
.gb_tpnav_sec_lang a.apps_link {color: #FFFC12;}
.gb_tpnav_sec_lang.act {background:#3f5360; color:#fffl}
.gb_tpnav_sec_lang.act a {background-color: #3f5360; border-left: 0px solid #3f5360; border-right: 0px solid #3f5360; height: 33px; padding: 0 4px !important;  position: relative; z-index:99999; color:#fff;}
#tpnav_ddl8 {padding: 11px 0 15px 25px; width: 968px; *width: 970px;}
#tpnav_ddl8 .topnav_applist li {border-right: 1px solid #CCCCCC; float: left; height: 30px; padding: 3px 8px 8px;}
#tpnav_ddl8 .topnav_applist li a {color: #000000; display: block; font: 15px Arial,Helvetica,sans-serif;}
#tpnav_ddl8 .topnav_applist li.first {padding-left: 0;}
#tpnav_ddl8 .topnav_applist li.last {border: medium none;}
#tpnav_ddl8 .topnav_applist li a span {display: inline-block;}
#tpnav_ddl8 .topnav_applist li .ios {background: url(http://img-d02.moneycontrol.co.in/images/mc_home/mccommon_sprite_v18.gif?ep=0) no-repeat 0 -560px; display: inline-block; float: left; height: 29px; margin-right: 10px; width: 25px;}
#tpnav_ddl8 .topnav_applist li .bb {background: url(http://img-d02.moneycontrol.co.in/images/mc_home/mccommon_sprite_v18.gif?ep=0) no-repeat -30px -567px; display: inline-block; float: left; height: 21px; margin-right: 10px; width: 32px;}
#tpnav_ddl8 .topnav_applist li .android {background: url(http://img-d02.moneycontrol.co.in/images/mc_home/mccommon_sprite_v18.gif?ep=0) no-repeat -67px -560px; display: inline-block; float: left; height: 30px; margin-right: 10px; width: 27px;}
#tpnav_ddl8 .topnav_applist li .ovi {background: url(http://img-d02.moneycontrol.co.in/images/mc_home/mccommon_sprite_v18.gif?ep=0) no-repeat -99px -560px; display: inline-block; float: left; height: 22px; margin-right: 10px; width: 33px;}
#tpnav_ddl8 .topnav_applist li .windows {background: url(http://img-d02.moneycontrol.co.in/images/mc_home/mccommon_sprite_v18.gif?ep=0) no-repeat -139px -560px; display: inline-block; float: left; height: 25px; margin-right: 10px; width: 29px;}
#tpnav_ddl8 .topnav_applist li .knowmore {background: url(http://img-d02.moneycontrol.co.in/images/mc_home/mccommon_sprite_v18.gif?ep=0) no-repeat 0 -679px; display: inline-block; float: left; height: 47px !important; margin-right: 10px; vertical-align: middle; width: 169px;}

.ML50{margin-left:50px;}.ML65{margin-left:65px;}
.ML100{margin-left:100px;}
.mc_header_new{height:100px; padding-top:12px;}