#group-listings {
	margin: 5px !important;
}

/* -- view -- */
.thumb-container.col-md-3 {
	margin: 0px 5px !important;
	padding: 0px !important;
	width: 19% !important;
}



#media-media.media-video {
	margin-top: 0px !important;
}

.view-left {
	padding-right: 0px !important;
}

.view-right {
	padding-left: 5px !important;
}
@media (min-width: 1px) {
  .container {
    width: 1088px;
    padding-left:0px;
    padding-right:0px;
  }
}
#profile-right .content-narrow .thumb-container.col-lg-2, #profile-left .content-narrow .thumb-container.col-lg-2{
	width:25%!important;
}
#profile-right .content-narrow .thumb-container.col-md-2, #profile-left .content-narrow .thumb-container.col-md-2{
	width:25%!important;
}
.thumb.medium.extra-extra-captions{
	margin-bottom:72px;
}