form{padding:0;margin:0}
#loading-layer{display:none;font-family:Verdana;font-size:11px;background:#000;padding:10px;text-align:center;border:1px solid #000;color:#FFF;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}

.xfields textarea{border:1px solid #ccc;padding:3px;color:#666}
.xfields select{border:1px solid #ccc;padding:3px;color:#666}
.xprofile textarea{border:1px solid #ccc;padding:3px;color:#666}
fieldset{border-right:#e0e0e0 1px solid;border-top:#e0e0e0 1px solid;font-size:11px;border-left:#e0e0e0 1px solid;border-bottom:#e0e0e0 1px solid;font-family:tahoma;text-align:left;padding:5px}
.xfields input,.xprofile input{border:1px solid #ccc;padding:3px;color:#666}

#dropmenudiv{border:1px solid #ccc;margin:0;padding:1px}
#dropmenudiv a{display:block;font-weight:700;background:#6497ca;border:1px solid #dbdbdb;color:#fff;text-indent:3px;text-decoration:none;padding:3px 5px}
#dropmenudiv a:hover{background:#eae7df;color:#777}

.attachment{color:gray}
.pm_list,.vote{color:#757575}

.search{color:#111;text-decoration:none}
.textin{border:1px solid #ccc;padding:3px;color:#666}
.textin:hover,.textin:focus{border:1px solid #999}
select.textin{border:1px solid #ccc;padding:3px;color:#666}
option.textin{padding:1px}
select.textin:hover,select.textin:focus{border:1px solid #999}
.sresult{font-weight:bold;line-height:16px;font-size:12px;color:#000}

.title_quote{border-right:#bebebe 1px dotted;border-top:#bebebe 1px dotted;font-weight:700;border-left:#bebebe 1px dotted;color:#ffffff;border-bottom:#bebebe 0 dotted;background-color:#44b2d2;padding:5px}
.quote{margin-top:1px;border:1px dashed #8a00ff;font-weight:200;background:#dcf1ff;padding:2px 10px 14px 10px}
.quote a{color:#03F;padding-left:10px}
.quote a:hover{color:#4F72FF;padding-left:10px}
.noaccess{background:#f2f2f2;border-left:3px solid #777;padding:5px 10px;font-weight:bold;display:block}
.title_spoiler{border-right:#bebebe 1px dotted;border-top:#bebebe 1px dotted;font-weight:700;border-left:#bebebe 1px dotted;color:#636363;border-bottom:#bebebe 1px dotted;background-color:#f2f2f2;padding:5px}
.text_spoiler{border-right:#bebebe 1px dotted;border-top:#bebebe 0 dotted;border-left:#bebebe 1px dotted;color:#757575;border-bottom:#bebebe 1px dotted;background-color:#f2f2f2;text-align:justify;padding:5px}
.scriptcode{border-right:#bebebe 1px dotted;border-top:#bebebe 1px dotted;border-left:#bebebe 1px dotted;color:#757575;border-bottom:#bebebe 1px dotted;background-color:#f2f2f2;text-align:left;padding:5px}

table.calendar{border:1px solid #aaa;width:100%;font-size:12px;color:#fff}
.calendar td,th{text-decoration:none;padding:3px}
.calendar th{background:rgba(255,255,255,.3)}
.calendar tr:hover{background:rgba(255,255,255,.2)}
th.monthselect,th.monthselect:hover{background:url(../images/sidenav.png) no-repeat 100% 0;font-size:110%;height:25px;vertical-align:middle;border-bottom:1px solid #aaa;color:#fff;text-align:center}
table.calendar,table.calendar th,table.calendar td{font-family:Arial,Helvetica,sans-serif}
.weekday-active-v{color:#fff}
.day-active-v{color:#fff}
.weekday{color:#bbb}
.weekday-active{color:#000}
.day-active{color:#000}
.day-active a,.weekday-active a,.day-active-v a,.weekday-active-v a{color:#f00 !important;font-weight:bold;font-size:110%;border:1px solid red;padding:0 3px}
.day-active a:hover,.weekday-active a:hover,.day-active-v a:hover,.weekday-active-v a:hover{color:#ed5d00 !important;border:1px solid #ed5d00;font-weight:bold;font-size:110%;text-decoration:none}
a.monthlink,a.monthlink:link,a.monthlink:visited{color:#ccc !important;text-decoration:none;font-weight:bold;padding:0 3px;border:1px solid #aaa}
a.monthlink:hover,a.monthlink:active,a.monthlink:focus{color:#ed5d00;border:1px solid #fff;text-decoration:none;font-weight:bold;padding:0 3px}
.day-current,td.day-current{color:#FF3;font-weight:bold}

.rating{color:#555;font-size:11px;font-family:tahoma;width:85px;height:16px}
.unit-rating{list-style:none;margin:0;padding:0;width:85px;height:16px;position:relative;background-image:url(../dleimages/rating.png);background-position:top left;background-repeat:repeat-x}
.unit-rating li{text-indent:-90000px;padding:0;margin:0;float:left}
.unit-rating li a{display:block;width:17px;height:16px;text-decoration:none;text-indent:-9000px;z-index:17;position:absolute;padding:0}
.unit-rating li a:hover{background-image:url(../dleimages/rating.png);background-position:left center;z-index:2;left:0}
.unit-rating a.r1-unit{left:0}
.unit-rating a.r1-unit:hover{width:17px}
.unit-rating a.r2-unit{left:17px}
.unit-rating a.r2-unit:hover{width:34px}
.unit-rating a.r3-unit{left:34px}
.unit-rating a.r3-unit:hover{width:51px}
.unit-rating a.r4-unit{left:51px}
.unit-rating a.r4-unit:hover{width:68px}
.unit-rating a.r5-unit{left:68px}
.unit-rating a.r5-unit:hover{width:85px}
.unit-rating li.current-rating{background-image:url(../dleimages/rating.png);background-position:left bottom;position:absolute;height:16px;display:block;text-indent:-9000px;z-index:1}

.xfields textarea,.xfields input,.xfields select{padding:2px;border:1px solid #ddd;background:url(../images/input_bg.png) repeat-x top #fff}
.xfields textarea:hover,.xfields textarea:focus,.xfields input:hover,.xfields input:focus,.xfields select:hover,.xfields select:focus{padding:2px;border:1px solid #dde4f4;background:url(../images/input_bg.png) repeat-x top left #eef5fd}
.xprofile textarea,.xprofile input{padding:2px;border:1px solid #ddd;background:url(../images/input_bg.png) repeat-x top #fff}
.xprofile textarea:hover,.xprofile textarea:focus,.xprofile input:hover,.xprofile input:focus{padding:2px;border:1px solid #dde4f4;background:url(../images/input_bg.png) repeat-x top left #eef5fd}
.xprofile textarea,.xfields textarea{height:168px;width:98%}
.xfields input,.xprofile input{width:250px}

.pm_head{font-weight:bold;background:#ccc;text-transform:uppercase;height:26px;vertical-align:middle}
.pm_list{color:#666}
.pm_list a{color:#4b73d4}
.pmtext{}

.vote{color:#333}

.attachment{color:gray;text-align:center;padding-top:10px;clear:both;font-size:10px;display:block;width:250px;margin:0 auto}
.attachments{color:red;text-align:center;margin-top:10px;padding:5px;border:1px solid red;width:500px;margin:0 auto;clear:both;display:block}

.clouds_xsmall{font-size:x-small}
.clouds_small{font-size:small}
.clouds_medium{font-size:100%;font-weight:bold}
.clouds_large{font-size:125%;font-weight:bold}
.clouds_xlarge{font-size:150%;font-weight:bold}

input.bbcodes,.button,.buttons,input.bbcodes_poll,button,.btn a{font-size:11px;text-decoration:none;font-weight:bold;background:#fff;border:1px solid #dbdbdb;color:#777;padding:4px 10px;margin:0 2px;cursor:pointer}
input.bbcodes:hover,input.bbcodes:active,
.button:hover,.buttons:hover,input.bbcodes_poll:hover,button:hover,
.button:active,.buttons:active,.inputbbcodes_poll:active,button:active,
.btn a:hover,.htn a:active{background:#eae7df;border:1px solid #ddd8c8;color:#777}
input.bbcodes:focus,.button:focus,.buttons:focus,input.bbcodes_poll:focus,button:focus,.btn a:focus{outline:0}

.mass_comments_action{border:1px solid #ccc;background:#fff;padding:3px;margin:3px 0;text-align:center}
.mass_comments_action input.bbcodes,.mass_comments_action input.bbcodes:hover,.mass_comments_action input.bbcodes:focus,.mass_comments_action input.bbcodes:active{padding:2px 10px !important}
.pmaction input.bbcodes,.pmaction input.bbcodes:hover,.pmaction input.bbcodes:focus,.pmaction input.bbcodes:active{padding:2px 10px !important}

#searchsuggestions{border-width:1px;border-color:#919191;border-style:solid;width:300px;background-color:#5c9ccc;font-size:10px;line-height:14px}
#searchsuggestions a{padding:5px;display:block;background-color:#fff;clear:left;height:70px;text-decoration:none}
#searchsuggestions a:hover{background-color:#fdd08b;color:#fff}
#searchsuggestions a span.searchheading{background:#5c9ccc;display:block;font-weight:bold;padding:5px;color:#fff}
#searchsuggestions a:hover span.searchheading{color:#fff}
#searchsuggestions a span{color:#555}
#searchsuggestions a:hover span{color:#0000}
#searchsuggestions span.seperator{float:right;padding-right:15px;margin-right:5px}
#searchsuggestions span.seperator a{background-color:transparent;display:block;height:auto;color:#fff}
#searchsuggestions span.notfound{padding:5px;background-color:#fff;display:block;height:auto;color:#00000}
.ui-helper-clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden}
.ui-helper-clearfix{display:inline-block}
* html .ui-helper-clearfix{height:1%}
.ui-helper-clearfix{display:block}
.ui-icon{background-repeat:no-repeat;display:block;overflow:hidden;text-indent:-99999px}

.ui-widget{font-family:Tahoma,Lucida Sans,Arial,sans-serif;font-size:11px}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:tahoma,Arial,sans-serif;font-size:11px}
.ui-widget-content{background:#f8f8f8 50% bottom repeat-x;border:1px solid #cccccc;color:#222}
.ui-widget-content a{color:#222}
.ui-widget-header{background:#00506F; border:1px solid #ffffff;color:#f8f8f8;font-weight:bold}
.ui-widget-header a{color:#fff}

.ui-state-default,.ui-widget-content .ui-state-default{   font:11px Verdana;
   text-decoration:none;
   font-weight:bold;
   background:#f1f1f1;
   border:1px solid #dbdbdb; 
   color:#777; 
   padding:6px 9px;
   margin:5px;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#777;}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus{background:#eae7df;
border:1px solid #ddd8c8; 
color:#777;}
.ui-state-hover a,.ui-state-hover a:hover{background:#eae7df;
border:1px solid #ddd8c8; 
color:#777;}
.ui-state-active,.ui-widget-content .ui-state-active{background:#eae7df;
border:1px solid #ddd8c8; 
color:#777;}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#e17009;text-decoration:none}

.ui-widget:active{outline:none}
.ui-state-error{background:#fef1ec 50% 50% repeat-x;border:1px solid #cd0a0a;color:#cd0a0a}
.ui-widget-header .ui-icon{background-image:url(../images/ui-icons.png)}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(../images/ui-icons_h.png)}
.ui-icon-close{background-position:-80px -128px}
.ui-icon-closethick{background-position:-96px -128px}
.ui-button .ui-button-text{display:block;line-height:1.4}
.ui-button-text-only .ui-button-text{padding:.4em .8em}
input.ui-button{padding:.4em 1em}
.ui-button-set{margin-right:7px}
.ui-button-set .ui-button{margin-left:0;margin-right:-.3em}
button.ui-button::-moz-focus-inner{border:0;padding:0}
.ui-dialog{overflow:hidden;padding:.2em;position:absolute;width:300px}
.ui-dialog .ui-dialog-titlebar{padding:.5em 1em .3em;position:relative}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .2em 0}
.ui-dialog .ui-dialog-titlebar-close{height:18px;margin:-10px 0 0 0;padding:1px;position:absolute;right:.3em;top:50%;width:19px}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0}
.ui-dialog .ui-dialog-content{background:none;border:0;overflow:hidden;padding:.5em 1em;position:relative;zoom:1}
.ui-dialog .ui-dialog-buttonpane{background-image:none;border-width:1px 0 0 0;margin:.5em 0 0 0;padding:.3em 1em .5em .4em;text-align:left}
.ui-dialog .ui-dialog-buttonpane button{cursor:pointer;float:right;line-height:1.4em;margin:.5em .4em .5em 0;overflow:visible;padding:.2em .6em .3em .6em;width:auto}
.ui-dialog .ui-resizable-se{bottom:3px;height:14px;right:3px;width:14px}
.ui-draggable .ui-dialog-titlebar{cursor:move}
.ui-autocomplete{position:absolute;cursor:default}
* html .ui-autocomplete{width:1px}
.ui-menu{list-style:none;padding:2px;margin:0;display:block;float:left}
.ui-menu .ui-menu{margin-top:-3px}
.ui-menu .ui-menu-item{margin:0;padding:0;zoom:1;float:left;clear:left;width:100%}
.ui-menu .ui-menu-item a{text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{font-weight:normal;margin:-1px}
/*--- Highlighting code in the tag [code]---*/
pre code {
  display: block; padding: 0.5em;
  background: #f6f6f6;
  border: 1px solid #3e007d;
  overflow:auto;

  white-space: pre;
}

.code {
  display: block; padding: 0.5em;
  background: #f9fafa;
  border: 1px solid #3e007d;
  
  overflow:auto;
  white-space: pre;
}


.code1 {background:#faffe6;border-left:3px solid #d5e1aa;padding:5px 10px;font-weight:bold;color:#828282;display:block}

.code1 a{color:#6600CC;padding-left:1px}
.code1 a:hover{color:#4F72FF;padding-left:1px}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .function .title,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id {
  color: #268bd2;
}
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  font-weight: bold;
}
pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .label {
  color: #b58900;
}
pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
pre .tex .formula {
  background: #eee8d5;
}

/*---progress bar length for personal messages---*/
.pm_progress_bar{border:1px solid #d8d8d8;padding:1px;margin-top:10px;margin-bottom:10px}
.pm_progress_bar span{background:#000;font-size:0;text-indent:-2000em;height:10px;display:block;overflow:hidden}

/*---Displaying the results of voting on the website---*/
.voteprogress{overflow:hidden;height:15px;margin-bottom:5px;background-color:#f7f7f7;background-image:-moz-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-ms-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));background-image:-webkit-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-o-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:linear-gradient(top,#f5f5f5,#f9f9f9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.voteprogress span{color:#fff;text-align:center;text-indent:-2000em;height:15px;display:block;overflow:hidden;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background:#0e90d2;background-image:-moz-linear-gradient(top,#149bdf,#0480be);background-image:-ms-linear-gradient(top,#149bdf,#0480be);background-image:-webkit-gradient(linear,0 0,0 100%,from(#149bdf),to(#0480be));background-image:-webkit-linear-gradient(top,#149bdf,#0480be);background-image:-o-linear-gradient(top,#149bdf,#0480be);background-image:linear-gradient(top,#149bdf,#0480be);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf',endColorstr='#0480be',GradientType=0)}
.voteprogress .vote2{background-color:#dd514c;background-image:-moz-linear-gradient(top,#ee5f5b,#c43c35);background-image:-ms-linear-gradient(top,#ee5f5b,#c43c35);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#c43c35));background-image:-webkit-linear-gradient(top,#ee5f5b,#c43c35);background-image:-o-linear-gradient(top,#ee5f5b,#c43c35);background-image:linear-gradient(top,#ee5f5b,#c43c35);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b',endColorstr='#c43c35',GradientType=0)}
.voteprogress .vote3{background-color:#5eb95e;background-image:-moz-linear-gradient(top,#62c462,#57a957);background-image:-ms-linear-gradient(top,#62c462,#57a957);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#57a957));background-image:-webkit-linear-gradient(top,#62c462,#57a957);background-image:-o-linear-gradient(top,#62c462,#57a957);background-image:linear-gradient(top,#62c462,#57a957);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462',endColorstr='#57a957',GradientType=0)}
.voteprogress .vote4{background-color:#4bb1cf;background-image:-moz-linear-gradient(top,#5bc0de,#339bb9);background-image:-ms-linear-gradient(top,#5bc0de,#339bb9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#339bb9));background-image:-webkit-linear-gradient(top,#5bc0de,#339bb9);background-image:-o-linear-gradient(top,#5bc0de,#339bb9);background-image:linear-gradient(top,#5bc0de,#339bb9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#339bb9',GradientType=0)}
.voteprogress .vote5{background-color:#faa732;background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-ms-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:linear-gradient(top,#fbb450,#f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0)}
.pollprogress{overflow:hidden;height:18px;margin-bottom:5px;background-color:#f7f7f7;background-image:-moz-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-ms-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#f9f9f9));background-image:-webkit-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:-o-linear-gradient(top,#f5f5f5,#f9f9f9);background-image:linear-gradient(top,#f5f5f5,#f9f9f9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#f9f9f9',GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.pollprogress span{color:#fff;height:18px;display:block;overflow:hidden;font-size:12px;text-align:center;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background:#0e90d2;background-image:-moz-linear-gradient(top,#149bdf,#0480be);background-image:-ms-linear-gradient(top,#149bdf,#0480be);background-image:-webkit-gradient(linear,0 0,0 100%,from(#149bdf),to(#0480be));background-image:-webkit-linear-gradient(top,#149bdf,#0480be);background-image:-o-linear-gradient(top,#149bdf,#0480be);background-image:linear-gradient(top,#149bdf,#0480be);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf',endColorstr='#0480be',GradientType=0)}
.pollprogress .poll2{background-color:#dd514c;background-image:-moz-linear-gradient(top,#ee5f5b,#c43c35);background-image:-ms-linear-gradient(top,#ee5f5b,#c43c35);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#c43c35));background-image:-webkit-linear-gradient(top,#ee5f5b,#c43c35);background-image:-o-linear-gradient(top,#ee5f5b,#c43c35);background-image:linear-gradient(top,#ee5f5b,#c43c35);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b',endColorstr='#c43c35',GradientType=0)}
.pollprogress .poll3{background-color:#5eb95e;background-image:-moz-linear-gradient(top,#62c462,#57a957);background-image:-ms-linear-gradient(top,#62c462,#57a957);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#57a957));background-image:-webkit-linear-gradient(top,#62c462,#57a957);background-image:-o-linear-gradient(top,#62c462,#57a957);background-image:linear-gradient(top,#62c462,#57a957);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462',endColorstr='#57a957',GradientType=0)}
.pollprogress .poll4{background-color:#4bb1cf;background-image:-moz-linear-gradient(top,#5bc0de,#339bb9);background-image:-ms-linear-gradient(top,#5bc0de,#339bb9);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#339bb9));background-image:-webkit-linear-gradient(top,#5bc0de,#339bb9);background-image:-o-linear-gradient(top,#5bc0de,#339bb9);background-image:linear-gradient(top,#5bc0de,#339bb9);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de',endColorstr='#339bb9',GradientType=0)}
.pollprogress .poll5{background-color:#faa732;background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-ms-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:linear-gradient(top,#fbb450,#f89406);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0)}

/*---BB Editor---*/
.bb-pane { height: 1%; overflow: hidden; border: 1px solid #BBB; background-image: url("../bbcodes/bg.gif"); }
.bb-btn, .bb-sep { height: 25px; float: left; display: block; overflow: hidden; text-indent: -9999px; white-space: nowrap; }
.bb-sel { float: left; padding: 4px 2px 0 2px; }
.bb-sel select,.bb-sel option{font-family:tahoma !important;font-size:11px !important;padding:1px 0;margin:1px}
.bb-sep { width: 5px; background-image: url("../bbcodes/brkspace.gif"); }
.bb-btn { cursor: pointer; width: 23px; }
#b_font { width: 118px;}
#b_size { width: 65px;}
#b_font select { padding: 0px;}
#b_size select { padding: 0px;}
#b_b { background-image: url("../bbcodes/b.gif"); }
#b_i { background-image: url("../bbcodes/i.gif"); }
#b_u { background-image: url("../bbcodes/u.gif"); }
#b_s { background-image: url("../bbcodes/s.gif"); }
#b_img { background-image: url("../bbcodes/image.gif"); }
#b_up { background-image: url("../bbcodes/upload.gif"); }
#b_emo { background-image: url("../bbcodes/emo.gif"); }
#b_url { background-image: url("../bbcodes/link.gif"); }
#b_leech { background-image: url("../bbcodes/leech.gif"); }
#b_mail { background-image: url("../bbcodes/email.gif"); }
#b_video { background-image: url("../bbcodes/mp.gif"); }
#b_audio { background-image: url("../bbcodes/mp3.gif"); }
#b_hide { background-image: url("../bbcodes/hide.gif"); }
#b_quote { background-image: url("../bbcodes/quote.gif"); }
#b_code { background-image: url("../bbcodes/code.gif"); }
#b_left { background-image: url("../bbcodes/l.gif"); }
#b_center { background-image: url("../bbcodes/c.gif"); }
#b_right { background-image: url("../bbcodes/r.gif"); }
#b_color { background-image: url("../bbcodes/color.gif"); }
#b_spoiler { background-image: url("../bbcodes/spoiler.gif"); }
#b_fla { background-image: url("../bbcodes/flash.gif"); }
#b_yt { background-image: url("../bbcodes/youtube.gif"); }
#b_tf { background-image: url("../bbcodes/typograf.gif"); }
#b_list { background-image: url("../bbcodes/list.gif"); }
#b_ol { background-image: url("../bbcodes/ol.gif"); }
#b_tnl { background-image: url("../bbcodes/translit.gif"); }
#b_br { background-image: url("../bbcodes/pbreak.gif"); }
#b_pl { background-image: url("../bbcodes/page.gif"); }
.bb-editor textarea { 
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 2px; border: 1px solid #bcc0c2; width: 100%; background: #fff url("../images/input_bg.png") repeat-x;
}
/*.bb-editor{display:block}
.addnews .bb-editor{width:700px}
.editorcomm .bb-editor {width:465px;margin:auto}*/
.editorcomm .bb-editor textarea { height: 156px; }
.clr {
    clear: both;
}
/*---Select text and a pop-up window (Share)---*/
#marker-bar,
#txtselect_marker {
	display: block;
	visibility: hidden;
    position: absolute;
    z-index: 1200;
    opacity: 0;
    -webkit-transition: opacity .4s, visibility .1s linear .4s;
    -moz-transition: opacity .4s, visibility .1s linear .4s;
    -o-transition: opacity .4s, visibility .1s linear .4s;
    transition: opacity .4s, visibility .1s linear .4s;
}
#txtselect_marker {
    cursor: pointer;
    background:url(../dleimages/marker.png) -0px -0px no-repeat;
}
#txtselect_marker:hover {
        background-position: -0px -32px;
}
#marker-bar{
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #fff;
    padding: 5px 10px;
    cursor: default;
    box-shadow: 0px 0px 4px #ccc;
}
#marker-bar.show {
	-webkit-transition: opacity .4s, visibility 0s;
	-moz-transition: opacity .4s, visibility 0s;
	-o-transition: opacity .4s, visibility 0s;
	transition: opacity .4s, visibility 0s;
	opacity: 1;
	visibility: visible;
}
#txtselect_marker.show {
        /* XXX make a common css fadeIn/fadeOut classes */
	visibility: visible;
	width: 32px;
	height: 32px;
	-webkit-transition: opacity .4s, visibility 0s;
	-moz-transition: opacity .4s, visibility 0s;
	-o-transition: opacity .4s, visibility 0s;
	transition: opacity .4s, visibility 0s;
	opacity: 1;
}
#marker-bar .masha-social,
#marker-bar .masha-marker{
	cursor: pointer;
	display: block;
	margin: 0 5px;
	float: left;
}
#marker-bar .masha-marker{
	line-height: 1em;
	color: #aaa;
	border-bottom: 1px dotted #aaa;
	margin-right: 10px;
}
#marker-bar .masha-marker:hover {
	color: #ea3e26;
	border-color: #ea3e26;
}
.user_selection, .user_selection_true {
	background: #c4f47d;
	padding: 2px 0;
}
.user_selection a.txtsel_close, .user_selection_true a.txtsel_close {
	display:none;
}
.user_selection .closewrap, .user_selection_true .closewrap {
	position: relative;
}
.user_selection.hover a.txtsel_close, .user_selection_true.hover a.txtsel_close {
	display: inline-block;
	position: absolute;
	top: -7px;
	left: -5px;
	width: 33px;
	height: 33px;
	background: url(../dleimages/closemarker.png) -0px -0px no-repeat;
}
.user_selection.hover a.txtsel_close:hover, .user_selection_true.hover a.txtsel_close:hover {
	background-position: -0px -33px;
}
#share-popup {
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	position: absolute;
	width: 414px;
	display:none;
	z-index: 100;
	padding: 10px 0;
	opacity: 0;
	-webkit-transition: opacity .4s, visibility .1s linear .4s;
	-moz-transition: opacity .4s, visibility .1s linear .4s;
	-o-transition: opacity .4s, visibility .1s linear .4s;
	transition: opacity .4s, visibility .1s linear .4s;
}
#share-popup.show {
	display:block;
	opacity: 1;
	-webkit-transition: opacity .4s, visibility 0s;
	-moz-transition: opacity .4s, visibility 0s;
	-o-transition: opacity .4s, visibility 0s;
	transition: opacity .4s, visibility 0s;
	opacity: 1;
}
#share-popup .social {
	padding: 0 0 10px 17px;
	height: 40px;
}
#share-popup .social p {
	padding-bottom: 10px;
	margin: 0;
	font-weight: bold;
}
#share-popup .social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#share-popup .social ul li {
	float: left;
	margin-right: 20px;
	padding-top: 2px;
	position: relative;
}
#share-popup .social ul a {
	text-decoration: none;
	font-size: 11px;
	display: inline-block;
	color: #aaa;
	padding-left: 25px;
}
#share-popup .social ul a:hover {
	text-decoration: underline;
	color: #ea3e26;
}
#share-popup .social a span{
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(../dleimages/social-icons.png) 20px 20px no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}
#share-popup .social .tw span{
	background-position: 0 -20px;
}
#share-popup .social .tw:hover span{
	background-position: 0 0;
}
#share-popup .social .fb span{
	background-position: -20px -20px;
}
#share-popup .social .fb:hover span {
	background-position: -20px 0;
}
#share-popup .social .vk span{
	background-position: -40px -20px;
}
#share-popup .social .vk:hover span {
	background-position: -40px 0;
}
#share-popup .social .gp span{
	background-position: -60px -20px;
}
#share-popup .social .gp:hover span {
	background-position: -60px 0;
}
#share-popup .link {
	clear: both;
	border-top: 1px solid #d9d9d9;
	padding: 10px 5px 0 10px;
	line-height: 1.2;
	overflow: hidden;
	margin: 0 7px;
}
#share-popup .link p {
	font-weight: bold;
	padding: 0 0 3px 0;
	margin: 0;
}
#share-popup .link span {
	color: #999;
	font-size: 10px;
	display: block;
	padding-top: 3px;
}
#share-popup .link a {
	display: block;
}
