/* Estilos Elecciones Presidenciales */

.front .region-ultima-hora { /*background:#FFFFFF; float:left; padding:2%; width:96%; -webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px; margin-bottom:5%; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.4);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.4);*/}
#block-rcnnoticias-chart-elecciones-presidenciales-chart-votos-candidatos, #block-rcnnoticias-chart-elecciones-presidenciales-chart-mapa-electoral, #block-rcnnoticias-chart-elecciones-presidenciales-chart-elecciones-comparativo  { width:100%; float:left; margin-bottom:2%; padding:0;}
#votos-por-candidato-titulo, #mapa-electoral-titulo, #comparativo-electoral-titulo {background:url(../images/bg-titulo-apertura-elecciones.png) repeat-x top; width:100%; display: table; margin-bottom:2%;}
#votos-por-candidato-titulo h3, #mapa-electoral-titulo h3, #comparativo-electoral-titulo h3 {  display: table; font-weight:700; color:#FFFFFF; text-transform:uppercase; font-size:25px; float: left; padding:1%;}
#votos-por-candidato-titulo .boletin { float:right; width:40%; }
#presidente-votos-totales, #presidente-escrutado, #presidente-boletin {
float: right; display:table;
background:#0063C6;
padding: 2.5%;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
text-transform: uppercase;
color:#FFFFFF; margin-left:2%; font-weight:700; min-width:72px;}
#presidente-votos-totales p, #presidente-escrutado p, #presidente-boletin p { width:100%; text-align:center;}
#chart-votos-por-candidato {width:100%; float: left; }
#mapa-electoral #charts { width:48%; float:left; height:700px; padding:1%;}
.contenedor-mapa { border-right: 1px solid #DDDDDD; width:47%; float:left; height:700px; padding:1%;}
.contenedor-mapa #mapa {height:700px; width:100%; float:left;+}
#chart-capital, #chart-departamento { width:100%; float:left;}
#chart-capital { border-bottom: 1px solid #DDDDDD; margin-bottom:2%;}
#comparativo-departamentos { width:30%; float:left;}
#charts-comparativo { width:70%; float:left;}
#chart-2010, #chart-2014 { width:50%; float:left;}
.titulo-mapa, .titulo-capital, .capital, .titulo-departamento, .departamento-p, .combo-departamento p { float:left; font-size:16px; font-weight:bold; color:#505050;}
.departamento-p, .capital { margin-left:5px;}
.combo-departamento { width:96%; padding:2%; float:left; display:none;}
.combo-departamento select { width:96%; padding:2%; margin-top:4%;}
#block-block-171 { margin-bottom:0; margin-top:2%;}
#block-rcnnoticias-chart-elecciones-presidenciales-chart-mapa-electoral { margin-bottom:0;}
.imagenes-candidato { width:89%; float:right;}
.imagenes-candidato li { float:left; width:33%; text-align:center;}
.imagenes-candidato li img { margin:0; display:inline;}
.twitter-streaming { width:26%;}
.twitter-streaming iframe { height: 395px !important;}


/* Media queries */
@media only screen and (min-width: 0px) and (max-width: 320px) {
	#votos-por-candidato-titulo h3, #mapa-electoral-titulo h3, #comparativo-electoral-titulo h3 {font-size: 18px; padding: 5%;}
	#votos-por-candidato-titulo .boletin { width:100%;}
	#presidente-votos-totales, #presidente-escrutado, #presidente-boletin { margin-left:1.5%;}
	#presidente-votos-totales p, #presidente-escrutado p, #presidente-boletin p { font-size:12px !important;}
	#mapa-electoral #mapa, #mapa-electoral #charts, #comparativo-departamentos, #charts-comparativo, #chart-2010, #chart-2014 { width:100%;}
	#mapa-electoral .contenedor-mapa { display: none;}
	.combo-departamento { display:block;}
	.imagenes-candidato { display:none;}
	.twitter-streaming, .twitter-streaming iframe { width:100% !important;}
	.twitter-streaming { margin-top:4%; float:left;}
}
@media only screen and (min-width: 321px) and (max-width: 360px) {
	#votos-por-candidato-titulo h3, #mapa-electoral-titulo h3, #comparativo-electoral-titulo h3 {font-size: 18px; padding: 4%;}
	#votos-por-candidato-titulo .boletin { width:100%;}
	#presidente-votos-totales, #presidente-escrutado, #presidente-boletin { margin-left:1.5%;}
	#presidente-votos-totales p, #presidente-escrutado p, #presidente-boletin p { font-size:12px !important;}
	#mapa-electoral #mapa, #mapa-electoral #charts, #comparativo-departamentos, #charts-comparativo, #chart-2010, #chart-2014 { width:100%;}
	.contenedor-mapa { width:100%;}
	#mapa-electoral .contenedor-mapa { display: none;}
	.combo-departamento { display:block;}
	.imagenes-candidato { display:none;}
	.twitter-streaming, .twitter-streaming iframe { width:100% !important;}
	.twitter-streaming { margin-top:4%; float:left;}
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
	#votos-por-candidato-titulo h3, #mapa-electoral-titulo h3, #comparativo-electoral-titulo h3 {padding: 2%;}
	#votos-por-candidato-titulo .boletin { width:100%;}
	#presidente-votos-totales, #presidente-escrutado, #presidente-boletin { margin-left:1.5%; padding:1.5%;}
	#presidente-votos-totales p, #presidente-escrutado p, #presidente-boletin p { font-size:12px !important;}
	#mapa-electoral #mapa, #mapa-electoral #charts, #comparativo-departamentos, #charts-comparativo, #chart-2010, #chart-2014 { width:100%;}
	.contenedor-mapa { width:100%;}
	#mapa-electoral .contenedor-mapa { display: none;}
	.combo-departamento { display:block;}
	.imagenes-candidato { display:none;}
	.twitter-streaming, .twitter-streaming iframe { width:100% !important;}
	.twitter-streaming { margin-top:4%; float:left;}
}
@media only screen and (min-width: 481px) and (max-width: 640px) {
	#votos-por-candidato-titulo h3, #mapa-electoral-titulo h3, #comparativo-electoral-titulo h3 {padding: 2%;}
	#votos-por-candidato-titulo .boletin { width:100%;}
	#presidente-votos-totales, #presidente-escrutado, #presidente-boletin { margin-left:1.5%; padding:1.5%;}
	#presidente-votos-totales p, #presidente-escrutado p, #presidente-boletin p { font-size:12px !important;}
	#mapa-electoral #mapa, #mapa-electoral #charts, #comparativo-departamentos, #charts-comparativo, #chart-2010, #chart-2014 { width:100%;}
	#mapa-electoral .contenedor-mapa { display: none;}
	.combo-departamento { display:block;}
	.imagenes-candidato { display:none;}
	.twitter-streaming, .twitter-streaming iframe { width:100% !important;}
	.twitter-streaming { margin-top:4%; float:left;}
}
@media only screen and (min-width: 641px) and (max-width: 768px){
	#votos-por-candidato-titulo .boletin { margin-top:1%;}
	#votos-por-candidato-titulo h3, #mapa-electoral-titulo h3, #comparativo-electoral-titulo h3 {padding: 1.5%;}
	#presidente-votos-totales, #presidente-escrutado, #presidente-boletin { margin-left:1.5%; padding:1.5%;}
	.imagenes-candidato { display:none;}
	.twitter-streaming, .twitter-streaming iframe { width:100% !important;}
	.twitter-streaming { margin-top:4%; float:left;}
}
