/* 
    Document   : moniCore
    Created on : 7/06/2013, 10:10:02 AM
    Author     : ozamudio
    Description:
        Purpose of the stylesheet follows.
*/


.subgrupo-especiales_peq .g .titulo , .grupo_especiales_filas .subgrupo-especiales_gra .g .titulo{ padding:0;}
.column #tabs ul{ background: url("../images/bk_tab_horizontal.png") left bottom repeat-x !important; padding-bottom:7px; width:523px; padding-left:0;}
.column #tabs{ border-radius:0; border:none;}
.content-tabs .ui-tabs-panel .imglogopeq{  position: absolute; right: 10px; top: 8px; z-index: 10;}
.grupo_especiales_filas .subgrupo-especiales_peq:first-child{ margin-left:0;}
.especiales .enlaces_relacionados .icon-relacionados{ background:url("../images/sprite.png") -3px -205px no-repeat; float: left; height: 20px; margin-right: 5px; width: 20px; }

#redes #twitter1 #twitter1over { margin-right:30px;}
#redes #enviar #enviarover,#redes #imprimir #imprimirover {margin-right:30px; padding-bottom:10px;}
#redes #enviar #enviarover a, #redes #imprimir #imprimirover a { display:block; line-height:12px; color:white; font-size:13px; text-align:center; font-weight:bold;}
.page-registro #main-wrapper #main{ background:url("../images/bar_registro.jpg") 105px 0 no-repeat;}
.page-registro #main-wrapper #main h2{ background:none; color: #3e3e3e; line-height:34px; }
.page-registro #main-wrapper #sidebar-second .content{ padding: 0 10px 10px;}
.page-registro #main-wrapper #sidebar-second .block {background: #f2f2f2}
.editar .icono { background-position: -152px -457px;}
.page-registro #main #content form label { color:#3e3e3e;}
#arriba {
    cursor: pointer;
    height: 17px;
    margin-right: 0 !important;
    position: fixed;
    right: 40px;
    top: 591px;
    min-width: 70px;
    z-index: 0;
}

#arriba a{ color:#aaa; font-size:13px; display:block; float: left;}
#arriba .ico{ width: 0px; height: 0px; border-style: solid; border-width: 0 7.5px 8px 7.5px; border-color: transparent transparent #aaaaaa transparent;float:right;   margin-top: 5px; }
.page-user-password .tabs.primary{display:none;}



.page-editar .column, .page-mascomentarios .column{ width:98% !important;}
#info-editar, #lista-comentarios {float:left; width:808px; overflow:hidden; margin-left:35px; }
#info-editar #formulario-edicion{float:left; width:386px;}
#info-editar #formulario-edicion h3, #info-editar #bloque-comentarios h3, #lista-comentarios h3{ color: #0063C9; font-size: 18px;margin-bottom: 15px;}
#formulario-edicion #user-profile-form .form-item input{ background: url("../img/fondoInput.jpg") 0 0 repeat; padding-left: 5px;}
#formulario-edicion #user-profile-form .form-item input, #formulario-edicion #user-profile-form .form-item select{ width:362px; border: 1px solid #CCCCCC;}
#formulario-edicion #user-profile-form .form-item label{ color:#3e3e3e;}
#formulario-edicion #user-profile-form .form-actions .form-submit, #info-editar #bloque-comentarios a.coments, #lista-comentarios .coments { background: #0063C6 url("../images/sprite.png") right -427px no-repeat; border: 0 none; color: white; cursor: pointer;  float: right; font-size: 15px; font-weight: 700; padding-right: 25px;}
#info-editar #bloque-comentarios { float: right; width:394px; border-left:1px solid #ddd; padding-left:20px;}
#bloque-comentarios .bloque-comentarios{ background:#f0f0f0; margin:5px 0; padding: 8px 22px; width: 343px;  clear:both; overflow:hidden; }
.bloque-comentarios #titulo{ margin-bottom:5px;}
.bloque-comentarios #titulo a, #comentarios #titulo a{ display:block; color:#3e3e3e; font-size:15px; font-weight:bold; line-height:16px; margin:10px 0;}
.bloque-comentarios #descripcion, #comentarios #descripcion { display:block; color:#3e3e3e; font-size:13px; height: 60px;  overflow: hidden;}
#info-editar #bloque-comentarios a.coments, #info-editar #bloque-comentarios a.borrar { margin:10px 8px 10px 0; padding-left:5px; font-size:14px;}
#formulario-edicion #user-profile-form .form-actions .form-submit{ margin-right:18px; margin-bottom: 43px;}
#comentarios{ background:#f0f0f0; margin:5px 0; padding: 8px 22px;  clear:both; overflow:hidden; }
#lista-comentarios #comentarios { margin-bottom:30px;}
#info-editar #bloque-comentarios a.borrar, #comentarios .borrar { border: 0 none; color: #0063C9; cursor: pointer;  float: right; font-size: 15px; font-weight: 700; padding-right: 25px; padding-left:7px; font-size:14px;
 background:url("../images/sprite.png") no-repeat scroll 141px -1035px transparent;}
 #comentarios .borrar { margin:10px 0; }
 #lista-comentarios .coments { font-size:14px; padding-left:7px; margin:30px 0;}
 .password-strength-title{display: none; }
 .password-indicator{display: none; }
 #estrellas .total-votes{display: none;}
 #estrellas .average-rating{display: none;}
 #scrollcontainer{}
 