.ganadores-senado-titulo, .ganadores-camara-titulo {font-family: 'Merriweather Sans'; font-size: 32px; font-weight: 800; width:100%; float:left;}
.ganadores-senado-buscador, .ganadores-camara-buscador, .ganadores-camara-buscador-depto {
    width:100%; float:left;
}
.ganadores-senado-buscador div, .ganadores-camara-buscador div, .ganadores-camara-buscador-depto div {
    float:left;
    display:table; 
    background:#0063C6;
    color:#FFFFFF; 
    padding:0.5% 1%;
    margin:0 1% 1% 0;
    cursor: pointer;
    font-size:11px;
}
.ganadores-camara-buscador-depto div {
    background:#E76400;
}
.ganadores-senado-buscador div.selected, .ganadores-senado-buscador div:hover, .ganadores-camara-buscador div.selected, .ganadores-camara-buscador div:hover { background:#002E6A;}
.ganadores-camara-buscador-depto div.selected, .ganadores-camara-buscador-depto div:hover { background: #883d03;}
.ganadores-senado-items, .ganadores-camara-items{
    float:left; width:98%; padding:1%; margin-top:2%;
}
.ganadores-senado-buscar, .ganadores-camara-buscar, .ganadores-camara-buscar-depto { width:100%; font-size:14px; margin:2% 0; font-weight:700; float:left;}
.ganadores-camara-item, .ganadores-senado-item { float:left; width:45%; background: url(../images/bg-item-ganadores.jpg) repeat-x bottom #D9D9D9; margin:0 3% 3% 0; -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
                                                 -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.5);
                                                 box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.5); }
.nombre-candidato { width:96%; padding:2%; color: #3d3d3d; font-size:20px; font-weight:700;}
.nombre-partido { display:table; padding:1% 2%; background: #3d3d3d; color: #FFFFFF; font-size:12px; text-transform:capitalize;}
.circunscripcion { display:table; padding:1% 2%; background: #888787; color: #FFFFFF; font-size:12px; text-transform:capitalize; }
.departamento {display:table; padding:1% 2%; background: #BBBBBB; color: #3d3d3d; font-size:12px; text-transform:capitalize;}

