.ultimahora_noticias 
{background: url("../images/bar_right00.jpg") no-repeat scroll 99px center transparent;
    overflow: hidden;
    position: relative;}
 .bar-inferior
{ margin-top:-2px; width:100%;}
 .bar-inferior ul
{ width:100%;}
 .bar-inferior ul li { height:35px; position:relative;}
.bar-inferior ul li .ico_rel 
{background: url("../images/sprite.png") no-repeat scroll -6px -206px transparent;
    display: block;
    height: 17px;
    left: 10px;
    position: absolute;
    top: 8px;
    width: 17px;}
 .bar-inferior ul li:hover .ico_rel	{ background:url("../images/sprite.png") no-repeat scroll -161px -30px transparent}
 .bar-inferior ul:first-child li a { border-top:0px;}
.bar-inferior ul li a,
 .bar-inferior ul li .active
{ display:block !important; width:100% !important; text-align:center; background:#4c4c4c !important; font-size:13px; color:white;
line-height:30px; padding-right:0px; border-left:1px solid #666;border-top:1px solid #666;
 !important; margin-bottom:0px !important; padding-top:0px !important; height:35px !important;}
.bar-inferior ul li a:hover
{ background-image: none !important; background-color:#E76400 !important; color:white !important;}
 .bar-inferior ul .c3
{ width:283px; float:left;}
.bar-inferior ul .3
{ width:283px; float:left;}
 .bar-inferior ul .c2 
{ width:424.5px;float:left;}
 .bar-inferior ul .2
{ width:424.5px;float:left;}
 .bar-inferior ul .c1
{ width:100%;}
.bar-inferior ul .1
{ width:100%;}
.ultimahora_noticias .left-ultimas { position:absolute; top:0; left:0;}
.ultimahora_noticias .bar-left 
{ margin-top:90px;}
.region-ultima-hora .bar-left 
{ padding-top:85px;}
/*.left-ultimas 
{clear: left;
    float: left;
    margin-left: 5px;
    text-align: right;
    width: 100px;
	margin-bottom:10px;
	}*/
	.left-ultimas { position:absolute; top:0px; left:0px;}
	.left-ultimas  h2 {  clear: both;
    text-align: right;
    width: 112px;}
	.region-ultima-hora { position:relative;}
	.ultimahora_video .left-ultimas
	{position:absolute;}
	.ultimahora_video  .bar-left
	{ padding-top:89px;}
.bar-left
	{ float:left;
	clear:left;
	 text-align:right;
	 width: 110px;}
.streaming-top 
{ overflow:hidden;
border-top:1px solid #ddd;
border-bottom:1px solid #ddd;
margin:0 5px 10px 5px;
padding:10px 0;}
.streaming-top  .tw
{ width:300px;
 float:right; clear:right; margin-right:5px;}
.b_ultimahora_ministreaming
{background: none repeat scroll 0 0;
    clear: left;
    float: left;
    margin-left: 0;
    width: 660px;}
.b_ultimahora_ministreaming	.video
{ float:left;
clear:left;}
.b_ultimahora_ministreaming	.video a
{ width:100% !important;}
.b_ultimahora_ministreaming .contenido
{ border-right: 1px solid #DDDDDD;
    clear: right;
    float: right;
    height: 128px;
    padding-right: 10px;
    width: 465px;}
 .b_ultimahora_ministreaming .contenido h1
 { margin-bottom:10px;
  display:block;}
 .b_ultimahora_ministreaming .contenido .cuerpo p
 { font-size:13px; line-height:15px;}
.b_ultimahora_video
{ margin-top:0 }
.b_ultimahora_noticias
{margin-top:0}
.b_ultimahora_video
.b_ultimahora_video
{ margin-right:0px;}
.node-type-imagenes .b_ultimahora_video,
.node-type-imagenes .b_ultimahora_noticias,
.node-type-video .b_ultimahora_video,
.node-type-video .b_ultimahora_noticias
{ border:0px;
margin-bottom:0px;
 padding-bottom:0px;}
.b_ultimahora_video,
.b_ultimahora_noticias 
{ position:relative; 
width:850px; 
float:right;
clear:right;
margin-right:10px;
border-bottom: 1px solid #D6D6D6;
margin-bottom: 15px;
padding-bottom: 10px;
padding-left: 0;
 }
.b_ultimahora_video .video,
.b_ultimahora_video .foto
{ float:left;
 clear:left;
 width: 530px;
 
 } 
 .b_ultimahora_video .cuerpo, 
 .b_ultimahora_video h1
 { float: right;
    width: 300px;}
	
	.b_ultimahora_video h1 { height:auto; overflow:hidden;}
	.b_ultimahora_video h1 a 
	{color: #333333;
    display: block;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 5px;}
	 .b_ultimahora_video .cuerpo { height:215px; margin:10px 0; overflow:hidden;}
.ico-ultimahora
	{background: url("../images/sprite.png") no-repeat scroll 0 -612px transparent;
    clear: left;
    float: left;
    height: 34px;
    margin-bottom: 5px;
    margin-left: 75px;
    margin-right: 13px;
    width: 35px;}
.b_ultimahora_noticias h1 a {font-size: 32px;}
.b_ultimahora_noticias h1 
{font-size: 32px;
    margin-bottom: 10px;
	line-height:30px;}
.b_ultimahora_noticias h1,
.b_ultimahora_noticias .cuerpo
{ text-align:center;}
.b_ultimahora_noticias .cuerpo
{ margin-bottom:10px;}
.b_ultimahora_noticias .foto
{ margin-top:10px;}

.b_ultimahora_video .b_ultimahora_noticias h1
{ margin-top:15px; 
text-align:left;
 font-family: titillium_webbold;
    font-size: 20px;
    font-weight: normal;
    line-height: 24px;
	height: 112px;
    overflow: hidden;
}
.b_ultimahora_video .b_ultimahora_noticias .cuerpo
{float: right;
    width: 300px;
	height: 146px;
    margin: 10px 0;
    overflow: hidden;
	text-align:left}
.b_ultimahora_video	.b_ultimahora_noticias 
	{ margin-right:0px !important;
	margin-top:-10px;}
	
	#tabsultimahora { border:0px !important;}
		#tabsultimahora .bar-left ul
		{ background:none !important;
		border:0px !important;}
		
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
		{ border:0px !important;}

.b_ultimahora_video .cuerpo iframe {margin-top: 10px;}
.demo .contenido iframe {margin-top: 10px;}