﻿@viewport {
	width: 1200px;
	min-zoom: 1;
	max-zoom: 1.5;
}

body>img, body>iframe { display:none; }

body { font-size: 12px; margin:0px; font-family: Arial, "新細明體", "微軟正黑體", "黑體"; color: #3e3e3e; }
p,form { margin:0px; padding:0px;}
img {border:0px;}
a {color:#EF3479; text-decoration:none;}
a:hover {color:#EF1111; text-decoration:none;}

a.item1 { color:white; font-size:15px; }
a.item2 { color:black; font-size:13px; }
a.item1:hover { color:#EEE; }
a.item2:hover { color:#EF1111; }

h1 { display:inline-block; margin:0px; padding:0px; font-weight:normal; font-size:inherit; }

.imp, .warning, #warning { color:#DD0000; }
.center { text-align:center; }
.txtSmall { font-size:10px; }
.txtMid { font-size:20px; }
.txtLarge { font-size:25px; }
.clear { clear:both; }
.tb { border: #999999 1px solid; background-color: #ffffff; }
.btn_black { border:1px solid #EEE; background:black; color:white; padding:5px 20px 5px 20px; cursor:pointer; }
.btn, .button01 { border:1px solid gray; background:#EEE; padding:5px 20px 5px 20px; cursor:pointer; -webkit-appearance:none; }
.btn_red { background:#FFEEEE; letter-spacing:1px; color:Navy; border:1px solid #EEE; padding:5px 20px 5px 20px; cursor:pointer; }
.btn_green { background:#EEFFEE; letter-spacing:1px; color:Navy; border:1px solid #EEE; padding:5px 20px 5px 20px; cursor:pointer; }
.btn:hover, .button01:hover, .btn_red:hover, .btn_green:hover{ border:1px solid #000; }
.none { display:none; }

#header_fixed { position:fixed; top:0px; background:#9ADEE1; height:33px; width:100%; z-index:11; }
#header_fixed .menu { max-width:1180px; margin:0px auto; }
#header_fixed .menu a { display:inline-block; line-height: 25px;margin: 5px; color:black;font-size: 14px; color:black; vertical-align: top; font-weight:bold; }
#header_fixed .menu .left { float:left; text-align:left; }
#header_fixed .menu .left>a {padding-left: 34px; margin-right: 10px;}
#header_fixed .menu .left>a:nth-child(1) { background:url(../images/_icon/home.png) no-repeat; }
#header_fixed .menu .left>a:nth-child(2) { background:url(../images/_icon/member.png) no-repeat; }
#header_fixed .menu .left>a:nth-child(3) { background:url(../images/_icon/cart.png) no-repeat; }
#header_fixed .menu .right { float:right; text-align:right; }
#header_fixed .menu .right a {height: 14px; line-height:12px;margin: 10px 10px 0px 0px; padding:0px 10px 0px 0px;}
#header_fixed .menu .right a:not(:last-child) { border-right: 1px solid black;  }
#header_fixed .menu .right a:last-child { padding-right: 0px; margin-right:0px; }

#header { background:white; margin-top:33px; }

#header .menu.fixed { position:fixed; top:33px; left:20%; z-index:10; }

#header .menu {  position:relative; width:1180px; margin:0px auto; background:#EE5E84; }
#header .menu>ul { list-style:none; padding:0px; margin:0px; overflow:auto; height:33px; }
#header .menu>ul>li { display:inline-block; width:94px; }
#header .menu ul ul { display:none; font-size:0; }
#header .menu ul li:hover ul { display:block; position:absolute; top:23px; left:0px; width:500px; z-index: 1; padding:10px 0 0 0; }
#header .menu ul li:nth-child(12n+2):hover ul { left: 97px;}
#header .menu ul li:nth-child(12n+3):hover ul { left: 194px;}
#header .menu ul li:nth-child(12n+4):hover ul { left: 291px;}
#header .menu ul li:nth-child(12n+5):hover ul { left: 388px;}
#header .menu ul li:nth-child(12n+6):hover ul { left: 485px;}
#header .menu ul li:nth-child(12n+7):hover ul { left: 582px;}
#header .menu ul li:nth-child(12n+8):hover ul { left: 679px;}
#header .menu ul li:nth-child(12n+9):hover ul { left: 726px;}
#header .menu ul li:nth-child(12n+10):hover ul { left: 726px;}
#header .menu ul li:nth-child(12n+11):hover ul { left: 726px;}
#header .menu ul li:nth-child(12n+12):hover ul { left: 726px;}


#header .menu>ul>li>a { display:inline-block; width:100%; line-height:23px; height:23px; overflow:hidden; margin-top:5px; text-align:center; }
#header .menu>ul>li:not(:first-child)>a { border-left:1px solid #F27F9E;  }
#header .menu>ul>li>ul>li { display:inline-block; width:200px; background:#FEE; line-height:12px; padding:5px 0px 5px 20px; }

#header #headerHTML #search { display:none; }
#header #headerHTML #searchCopy #search { display:block; }
#search {font-size:0px;/* border:2px solid #666; */height:29px;width: 380px;margin-bottom: 5px;}
#search input {height: 25px;margin:0px;vertical-align:middle;padding:0px;display:inline-block;/* border:0px; */}
#search input[type=text] {width: 240px; border:2px solid #666;}
#search a {margin-left:5px;display: inline-block;vertical-align: top;}
#search a:last-child {border-bottom: 1px solid #EF1111; margin-top: 3px; font-size: 16px;line-height: 20px;color: black;}
#search a:last-child:after { content:'>>'; font-family: cursive;letter-spacing: 0px; display:inline-block; color:#EF1111; margin-left:2px; }

#header #headmember { width:410px; height:61px; position:relative; }
#header #greeting { position:absolute; bottom:0px; left:0px; line-height:20px; width:100%; }
#header #greeting #memname { color:white; }
#header #search_hot { margin:25px 0px 0px 0px; }
#header #hot { line-height:15px; color:#E50484; margin-top:10px; }
#header #hot a { color:black; padding-right:10px; }
#header #hot a:hover { color:#E50484; }

#minicart { display:inline-block; width: 97px; height: 20px; margin-left:-100px; margin-top: 10px; background: transparent;}
#minicart { position:relative; }
#minicart #minicartContent { display:none; position:absolute; top:12px; left:0px; background:white; width:307px; height:80px; 
														 border-bottom-right-radius:10px; border-bottom-left-radius:10px; border:1px solid white; }
#minicart:hover #minicartContent, 
#minicart.hover #minicartContent { display:block; box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 1); }
#minicart:hover #minicartContent .minicartTop,
#minicart.hover #minicartContent .minicartTop { 
	width:95px; height:20px; margin-top:-20px; margin-left: -1px; line-height: 21px; text-align: center;
	background:white; border-top:1px solid white; border-right:1px solid white; border-left:1px solid white; border-top-left-radius:10px; border-top-right-radius:10px;
}
#minicartContent .mcinfo { border-bottom:1px solid silver; height:30px; line-height:30px; padding:0px 20px 0px 20px; }
#minicartContent .mcinfo .mcqty { float:left; width:100px; }
#minicartContent .mcinfo .mcqty .cart_qty { padding:0px 10px 0px 10px; }
#minicartContent .mcinfo .mcprice { float:right; width:100px; clear:right; }
#minicartContent .mcbtns { text-align:right; clear:both; padding:5px 20px 0px 20px }
#minicartContent .minicartTop, #minicartContent .cart_qty, #minicartContent .cart_amt { color:#D62672; }
#minicartContent .cart_amt { font-size:14px; font-weight:bold; }

#footer {
	clear:both;
	margin-top: 40px;
	width:100%;
	/* height:300px; */
	border-top:5px solid #5FCEC7;
	background:#EE6A8F;
	color:white;
	background: -webkit-linear-gradient(#ED7092, #EE6287, #EE4D79); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ED7092, #EE6287, #EE4D79); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ED7092, #EE6287, #EE4D79); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ED7092, #EE6287, #EE4D79); /* Standard syntax */
}
#footer_inner .bottom .kant {text-align:center;color:#ED7092;padding-top: 20px;}
#footer_inner { clear:both; width:1200px; margin:0px auto; }
#footer_inner .top {/* height:113px; */border-bottom:1px solid #F289A7;}
#footer_inner .bottom {/* height:200px; */border-top:1px solid #DB597D;text-align:center;padding: 10px 40px;}
#footer_inner .footinfo { display:inline-block; width: 180px; vertical-align: top; padding-top:5px; line-height:20px; text-align:left;  }
#footer_inner .footinfo .subject a { color:black; font-size:15px; font-weight:bold; line-height:20px; margin-bottom:8px; display:block; }
#footer_inner .footinfo .menu a { color:white; font-size:14px; line-height:20px; }
#footer_inner .footinfo .imp { color:white; font-size:20px; }

#main { width:1200px; margin:0px auto; padding:0px 10px 0px 10px; min-height: 800px;}
#main.mobile { -webkit-overflow-scrolling: touch; }
#content { width:1180px; margin:0px auto; position:relative; }
#content #left { width:185px; float:left; margin-right:10px; }
#content #right { width:985px; float:left; padding-bottom:100px; }

.item1 { line-height:19px; vertical-align:middle; }
.item1 img { vertical-align:bottom;}

.pageWrap { text-align:center; }
.pageWrap .pageInfo { line-height:40px; }
.pageWrap a, .pageWrap span { display:inline-block; line-height:18px; min-width:18px; }
.pageWrap span.on { color:red; font-weight:bold; }
.pageWrap .nav { color:#333; width:60px; }
.pageWrap .nav.first[href]:first-letter, .pageWrap .nav.prev[href]:first-letter { color:#EA6278; }
.pageWrap .nav.next[href] .lastLetter, .pageWrap .nav.last[href] .lastLetter { color:#EA6278; }
.pageWrap .nav:not([href]) { color:#9F9F9F;  }

.ordertop { width:785px; height:52px; margin:45px auto 0px auto; background:url(../images/_bg/ordertop.png); }
.ordertop.step2 { background-position:0px -52px; }
.ordertop.step3 { background-position:0px -104px; }

/*
.tab{width:114px; height:56px; float:left; text-align:center; padding-top:15px; margin-left:10px;}
.tab a {  font-size:16px; }
*/

.tblSearch { width: 900px; margin:20px auto;}
.tblSearch th {background-color:Black; color:White;}
.tblSearch tr {height:20px;}
.tblSearch th, #tblSearch td { padding:5px; }
.tblSearch .rid { text-align:center;}
#warn_search {color:Red;}

.tblPDList { width: 900px; margin:0px auto;}
.tblPDList th {background-color:Black; color:White; text-align:center;height:20px;}
.tblPDList td { height:12px; }

.odd { background-color:#EEEEEE}
.even { background-color:#FFFFFF}

#page_title{font-size:20px; font-family:微軟正黑體; color:#999999;}
#page_title_eng{font-size:25px; font-family:Times New Roman;}

#mask, #Cusmask {   position:absolute;   z-index:9000;   background-color:#EEE;   display:none; top:0px; left:0px; }     
#boxes .window, #Cusboxes .Cuswindow {   position:absolute;   width:450px;   /*height:600px;*/   display:none;   z-index:9999;   padding:0px; background-color:#FFF; overflow:inherit;}     
#boxes .close, #Cusboxes .Cusclose { position:absolute; top:5px; right:5px; font-size:20px; }
/* Customize your modal window here, you can add background image too */
#boxes .dialog, #Cusboxes .Cusdialog {   width:375px; height:203px; }

.obWrap { background:silver; border-top:1px solid #E0E0E0; border-left:1px solid #E0E0E0; border-right:1px solid #E0E0E0; border-radius:5px; padding:5px 20px 5px 20px; overflow:auto; line-height:24px; clear:both; }
.obWrap { 
	background: -webkit-linear-gradient(#ECECEC, #F9F9F9, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ECECEC, #F9F9F9, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ECECEC, #F9F9F9, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ECECEC, #F9F9F9, #FFFFFF); /* Standard syntax */
}
.obWrap .obLeft { width:60%; float:left; font-size:24px; }
.obWrap .obLeft ul { list-style:none; padding:0px; margin:5px; }
.obWrap .obLeft ul li { display:inline-block; }
.obWrap .obLeft ul li:not(:first-child):before { display:inline-block; content:'>'; padding:0px 10px; color:#EF3479; }
.obWrap .obRight { width:40%; float:right; clear:right; text-align:right; }
.obWrap .obRight a { color:#333; border-right:1px solid #333; padding:0px 5px;  }
.obWrap .obRight a:last-child { border:0px; }
.obWrap .obRight a.active { color:#EF3479; }

.stickybox { position:fixed; width:80px; text-align:center; top:40px; right:10px; overflow:hidden; }
.stickybox .toTop { height:80px; background:url('../images/_icon/toTop.png') center center no-repeat; cursor:pointer; }
.stickyGroup{ width:80px; border:1px solid #FBE1E8; background:white;}
.stickyGroup .caption { background:#EE5E84; color:white; line-height:20px; }
.stickyGroup .itemWrap { width:92px; height:195px; overflow:auto; }
.stickyGroup .itemWrap div { border-bottom:1px solid #FBE1E8; width: 75px; }
.stickyGroup .itemWrap img { width:72px; height:54px; margin:5px auto 5px auto; }
.stickyGroup .itemWrap .pdItem { margin:0px; height:auto; float:none; }
.stickyGroup .itemWrap .pdItem .pdImg img { width:100%; height:auto; margin:0px; border:0px; }
.stickyGroup .itemWrap .pdItem .pdName { display:none; }
.stickyGroup .itemWrap .pdItem .pdPriceQty { display:none; }

.pdItem .ID { display:none; }

@media(max-width:1366px){
	.stickybox { right:0px }
	.stickyGroup .itemWrap{ height:120px; }
}

/******* PHONE ******/
#header_mobile_top { font-size:0px; position:fixed; top:0px; left:0px; z-index:10; width:1200px; -webkit-overflow-scrolling: touch; }
#header_mobile_top>* {display:inline-block;height: 130px;}
#header_mobile_top .member { width:160px; background:url(../images/_bg/m_head2.jpg) no-repeat 0px 0px; }
#header_mobile_top .member.login { width:160px; background:url(../images/_bg/m_head2_login.jpg) no-repeat 0px 0px; }
#header_mobile_top .cart { width:180px; background:url(../images/_bg/m_head2.jpg) no-repeat -160px 0px; position:relative; }
#header_mobile_top .cart .cart_qty {position:absolute;top: 30px;left: 30px;z-index:100;color:white;width: 50px;height: 50px;background:red;font-size: 40px;line-height: 50px;text-align:center;border: 5px solid white;border-radius:50%;font-weight: bold;}
#header_mobile_top .home { width:510px; background:url(../images/_bg/m_head2.jpg) no-repeat -340px 0px; }
#header_mobile_top .search { width:160px; background:url(../images/_bg/m_head2.jpg) no-repeat -850px 0px; }
#header_mobile_top .menu { width:190px; background:url(../images/_bg/m_head2.jpg) no-repeat -1010px 0px; position:relative; }
#header_mobile_top .menu ul { display:none; }
#header_mobile_top .menu ul.hover {display:block;position:fixed;z-index:10;top: 130px;background:white;width:605px;right:0px;color:black;line-height:120px;font-size:40px;list-style:none;margin:0px;}
#header_mobile_top .menu ul.hover a { color:black; }
#header_mobile_top .menu ul.hover li:nth-child(6) { border-bottom:2px solid #EE3669; }
#header_mobile_top .menu ul.hover span, #header_mobile_top .menu ul img { display:inline-block; vertical-align:middle; }
#header_mobile_bottom {margin-top: 130px;min-height: 170px;}

#header_mobile_bottom .menu {position:relative;font-family: Arial, "微軟正黑體", "黑體";width:1200px;}
#header_mobile_bottom .menu>ul { list-style:none; padding:0px; margin:0px; font-size:0px; overflow:auto; background:#F6F5F6; }
#header_mobile_bottom .menu>ul .item1 { color:#E43C73; font-size:30px; line-height:80px; display:block; height:80px; overflow:hidden; border-right:1px solid gray; border-bottom:1px solid gray; text-align:center; }
#header_mobile_bottom .menu>ul .item2 {color:black;background:#FFDFEA;font-size:25px;line-height:45px;width: 375px;display:inline-block;}
#header_mobile_bottom .menu>ul>li { display:inline-block; min-width:199px; vertical-align:top; }
#header_mobile_bottom .menu ul ul { display:none; font-size:0; padding:0px; }
#header_mobile_bottom .menu ul li.hover ul {display:block;position:absolute;top:80px;left:0px;width: 800px;z-index: 1;background:#FFDFEA;}
#header_mobile_bottom .menu ul li.hover ul>li { padding-left:20px; display:inline-block; }
#header_mobile_bottom .menu ul li:nth-child(18n+1).hover ul { left: 0px; top:80px; }
#header_mobile_bottom .menu ul li:nth-child(18n+2).hover ul { left: 197px; top:80px;}
#header_mobile_bottom .menu ul li:nth-child(18n+3).hover ul { left: 394px; top:80px;}
#header_mobile_bottom .menu ul li:nth-child(18n+4).hover ul {left: 395px;top:80px;}
#header_mobile_bottom .menu ul li:nth-child(18n+5).hover ul {left: 395px;top:80px;}
#header_mobile_bottom .menu ul li:nth-child(18n+6).hover ul {left: 395px;top:80px;}
#header_mobile_bottom .menu ul li:nth-child(18n+7).hover ul { left: 0px; top:160px;}
#header_mobile_bottom .menu ul li:nth-child(18n+8).hover ul { left: 197px; top:160px;}
#header_mobile_bottom .menu ul li:nth-child(18n+9).hover ul { left: 394px; top:160px;}
#header_mobile_bottom .menu ul li:nth-child(18n+10).hover ul {left: 395px;top:160px;}
#header_mobile_bottom .menu ul li:nth-child(18n+11).hover ul {left: 395px;top:160px;}
#header_mobile_bottom .menu ul li:nth-child(18n+12).hover ul {left: 395px;top:160px;}
#header_mobile_bottom .menu ul li:nth-child(18n+13).hover ul { left: 0px; top:240px;}
#header_mobile_bottom .menu ul li:nth-child(18n+14).hover ul { left: 197px; top:240px;}
#header_mobile_bottom .menu ul li:nth-child(18n+15).hover ul { left: 394px; top:240px;}
#header_mobile_bottom .menu ul li:nth-child(18n+16).hover ul { left: 591px; top:240px;}
#header_mobile_bottom .menu ul li:nth-child(18n+17).hover ul { left: 591px; top:240px;}
#header_mobile_bottom .menu ul li:nth-child(18n+18).hover ul { left: 591px; top:240px;}

#header_mobile_bottom .menu ul li:nth-child(18n+13)
,#header_mobile_bottom .menu ul li:nth-child(18n+14)
,#header_mobile_bottom .menu ul li:nth-child(18n+15)
,#header_mobile_bottom .menu ul li:nth-child(18n+16)
,#header_mobile_bottom .menu ul li:nth-child(18n+17)
,#header_mobile_bottom .menu ul li:nth-child(18n+18)
{ display:none;}

