﻿#default { width:1180px; margin: 0px auto; }

#tabImg1 {width:992px; overflow:hidden;}
#tabImg1 .nav { position:relative; }
#tabImg1 .nav .prev { width:23px; height:23px; background:url(../images/_icon/prev.png); position:absolute; top:235px; left:6px; cursor:pointer; }
#tabImg1 .nav .next { width:23px; height:23px; background:url(../images/_icon/next.png); position:absolute; top:235px; right:6px; cursor:pointer; }
#tabImg1 .tabImgBig {width:990px; height:430px; border:1px solid #FCD3E5; overflow:hidden;}
#tabImg1 .images {display:none;}
#tabImg1 .tabDs { height:39px; border:1px solid #CFCFD1; border-top:0px;}
#tabImg1 .tabDs .tabD {width:198px; line-height:37px; float:left; text-align:center; cursor:pointer; font-size:13px; letter-spacing:2px; border-bottom:3px solid #EE5C83;}
#tabImg1 .tabDs .tabD, #tabImg1 .tabDs .tabD a { background:#F8F8F8; color:black; }
#tabImg1 .tabDs .tabD:not(:first-child) { border-left:1px solid #CFCFD1; }
#tabImg1 .tabDs .tabD:last-child { width:194px; }
#tabImg1 .tabDs .on, #tabImg1 .tabDs .on a {background:#EE5C83; color:white;}

#bannerImg2 { margin:20px auto 20px auto; height:240px; }
#bannerImg2 .item { width:280px; border:1px solid #FCD3E5; float:left; margin-right:17px;}
#bannerImg2 .item:nth-child(4) { margin-right:0px; clear:right; }
#bannerImg2 .item .img { height:200px; }
#bannerImg2 .item .img img { width:100%; height:100%; }
#bannerImg2 .item .caption { height:37px; line-height:37px; border-top:1px solid #FCD3E5; text-align:center; font-size:15px; background:#EF4C79; color:white; /*url(../images/_icon/bgPinkGd.png);*/ }

#brand { margin:0px auto 0px auto; height:470px; }
#brand #brandLeft { width:183px; float:left; border:1px solid #5FCEC7; margin-right:3px; }
#brand #brandRight { width:991px; float:left; clear:right; }

#brand .brandList .caption { background:url(../images/20150323/brand.png); height:53px; }
#brand .brandList ul { list-style:none; display:block; padding:0px; margin:0px; }
#brand .brandList .brand1 { position:relative; border-bottom:1px solid #C8C8C8; background:url(../images/_icon/bgBrand.png); height:51px; line-height:50px; text-align:center; font-size:15px; }
#brand .brandList .brand1:hover{ background:url(../images/_icon/bgBrand_on.png); color:#D62672;}
#brand .brandList .brand1 .brand2Wrap { display:none; }
#brand .brandList .brand1:hover .brand2Wrap { display:block; }
#brand .brandList .brand1 a { color:black; display:block; }
#brand .brandList .brand1:hover a { color:#D62672; }
#brand .brandList .brand2Wrap { display:none; position:absolute; top:0px; left:180px; }
#brand .brandList .brand2 a { color:black; }
#brand .brandList .brand2 {   background: #FAFAFA; height: 25px; line-height: 25px; width: 240px; border-left: 1px solid #5FCEC7; border-right: 1px solid #5FCEC7; text-align: left; padding-left: 20px; }
#brand .brandList .brand2:first-child { border-top:1px solid #5FCEC7; }
#brand .brandList .brand2:last-child { border-bottom:1px solid #5FCEC7; }


#tabImg2 {width:991px; height:469px; overflow:hidden;}
#tabImg2 .nav { display:none; position:relative; }
#tabImg2 .nav .prev { width:23px; height:23px; background:url(../images/_icon/prev.png); position:absolute; top:276px; left:6px; cursor:pointer; }
#tabImg2 .nav .next { width:23px; height:23px; background:url(../images/_icon/next.png); position:absolute; top:276px; right:6px; cursor:pointer; }
#tabImg2 .tabImgBig {width:989px; height:428px; border:1px solid #CFCFD1; overflow:hidden;}
#tabImg2 .images {display:none;}
#tabImg2 .tabDs { height:42px; border-left:1px solid #CFCFD1; border-right:1px solid #CFCFD1;}
#tabImg2 .tabDs .tabD {width:198px; line-height:37px; float:left; text-align:center; cursor:pointer; font-size:13px; letter-spacing:2px; border-bottom:3px solid #5FCEC7;}
#tabImg2 .tabDs .tabD, #tabImg2 .tabDs .tabD a { background:#F8F8F8; color:black; }
#tabImg2 .tabDs .tabD:not(:first-child) { border-left:1px solid #CFCFD1; }
#tabImg2 .tabDs .tabD:last-child { width:193px; }
#tabImg2 .tabDs .on, #tabImg2 .tabDs .on a {background:#5FCEC7; color:#EE5C83; font-weight:bold;}

.tabWrap { margin-bottom:30px; width:1180px;}
.tabWrap .tabs { border-bottom:1px solid #EDC6D5; height:40px; line-height:40px;
	background: -webkit-linear-gradient( #EE6B8E, #EE557E, #EE4E7A);
	background: -o-linear-gradient(#EE6B8E, #EE557E, #EE4E7A);
	background: -moz-linear-gradient(#EE6B8E, #EE557E, #EE4E7A);
	background: linear-gradient(#EE6B8E, #EE557E, #EE4E7A);

}
.tabWrap .tabs .tab, .tabWrap .tabs .tabCap{ float:left; border-right:1px solid #EDC6D5; border-top:1px solid transparent; margin-top:0px; font-weight:bold; font-family:'微軟正黑體'; color:white;}
.tabWrap .tabs .tab{ font-size:14px; width:115px; text-align:center; letter-spacing:2px; }
.tabWrap .tabs .tab:nth-child(9){ border-right:0px; clear:right; }
.tabWrap .tabs .tabCap{ font-size:17px; width:240px; text-align:left; letter-spacing:7px; padding-left:10px; }
.tabWrap .tabs .tab:hover, .tabWrap .tabs .tab.on{ border-left:1px solid #EF4C79; border-right:1px solid #EF4C79; border-top:4px solid #EF4C79; margin-top:-4px; color:black; background:white; box-shadow:-3px 1px 3px rgba(100, 100, 100,0.8), 3px 1px 3px rgba(100, 100, 100,0.8); }
.tabWrap .tabContentWrap { clear:both; min-height:455px; }
.tabWrap:after { display:block; content:''; clear:both; }

.tabContentWrap { background: url(../images/20160131/area2_bg.png) no-repeat 10px 0px; padding: 70px 10px 0px 10px;
}
.tabContentWrap .pdItem { width:210px; height:260px; float:left; margin:0px 11px 65px 11px; }
.tabContentWrap .pdItem .pdImg { border-right: 1px solid #E3A924; width:221px }
.tabContentWrap .pdItem:nth-child(5n+5) .pdImg{ border:0px; }
.tabContentWrap .pdItem .pdImg img { width:210px; height:158px; border: 1px solid #C0C0C0; display:block; }
.tabContentWrap .pdItem .pdName { text-align:center;text-decoration: none; height:37px; font-size:14px; overflow:hidden; }
.tabContentWrap .pdItem .pdName a { text-decoration: none; color:#666666; }
.tabContentWrap .pdItem .pdPriceQty { }
.tabContentWrap .pdItem .pdPriceQty .price { text-align:center; font-size:24px; color:#E60089; }
.tabContentWrap .pdItem .pdPriceQty .price:first-letter { font-size:15px; }
.tabContentWrap .pdItem:last-child { clear:right; }

.CatGroup { border:1px solid #FFD5E9; margin-bottom:24px; }
.CatGroup:after { display:block; content:''; clear:both; }
.CatGroup .banner { float:left; width:300px; height:448px; }
.CatGroup .banner img { width:300px; height:448px; }
.CatGroup .itemWrap { float:left; width:875px; }
.CatGroup .itemWrap .pdItem { width: 180px; height: 195px; float: left; margin: 20px 19px 0px 19px; font-family: 'Microsoft JhengHei';}
.CatGroup .itemWrap .pdItem .pdImg img{ width: 180px; height: 135px; border: 1px solid #C0C0C0; }
.CatGroup .itemWrap .pdItem .pdPriceQty .price { text-align:center; font-size:21px; color:#E60089; }
.CatGroup .itemWrap .pdItem .pdPriceQty .price::first-letter { font-size:13px; }
.CatGroup .itemWrap .pdItem .pdName { height:30px; overflow:hidden; }
.CatGroup .itemWrap .pdItem .pdName a { color:#666666; }

#p7 .pdItem { width:210px; height:240px; float:left; margin:20px 13px 0px 13px;  font-family:'Microsoft JhengHei'; }
#p7 .pdItem .pdImg {  }
#p7 .pdItem .pdImg img { width:210px; height:158px; border: 1px solid #C0C0C0; }
#p7 .pdItem .pdName { text-align:left; height:45px; overflow:hidden; font-size:14px; line-height:15px; margin-top:5px; }
#p7 .pdItem .pdName a { text-decoration: none; color:#666666; }
#p7 .pdItem .pdPriceQty { }
#p7 .pdItem .pdPriceQty .price { text-align:center; font-size:24px; color:#E60089; font-family:'Century Gothic'; }
#p7 .pdItem .pdPriceQty .price::first-letter { font-size:15px; }
#p7 .pdItem:last-child { clear:right; }

#p5 .tabWrap { height: 665px; overflow: hidden; }

.more { text-align:center; font-size:20px; line-height:50px; }