/**** GRID ****/
#footer
{
	width: 100%;
	float: left;
	/* margin-top: 20px; wp - margin im #content */
	padding-top: 30px;
    padding-bottom: 12px;
    background-color: #001A4B;
    font-size: 1em;
}

#footer .section
{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 4px;
}

#footer a{
	color: #FFFFFF;
	font-family: Thesis;
	font-size: 0.9em;
}

#footer li
{
    padding-bottom: 3px;
    padding-top: 3px;
}

#footer h3{
    color: #FFFFFF;
}

#footer .foot
{
    float: left;
    width: 100%;
    padding-top: 24px;
    position: relative;
}

#footer .help
{
    float: left;
    width: 100%;
}

#footer .help li
{
    float: left;
    margin-right: 8px;
}

#footer .logo
{
    bottom: 0;
    right: 0;
    position: absolute;
}

#footer .logo img
{
    margin-bottom: 6px;
}

#footer .copy
{
	color: #FFFFFF;
	font-family: Thesis;
	font-size: 0.9em;
    float: left;
    width: 100%;
}