/**** MASTERNAVI ***/

#header
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}


#header .wrapper
{
	width: 100%;
	float: left;
}


.masternavi .section,
#header .wrapper .section.sectionA
{
    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
}



.mnHolder
{
    width: 996px;
	margin: 0 auto 0 auto;
}


.masternavi .intern
{
    margin-right: 32px;
	
}


/*** Header ***/

/* @group Subnavi */

.subnavi
{ 
    /* wp margin-bottom deleted 
    margin: 0 0 8px 0;*/
    margin: 0px;
}

.subnavi .subressort
{
    float: left;
    padding: 6px 12px 6px 10px;
    background-color: #fff;
}

.subnavi .subressort.hasArrow
{
    padding-right: 20px;
}

/* erstes Level der Ressort-Navi */

#header .subressort .collapseArrow 
{
   background: url('../../img/base/icon/arrow_collapsible.png') no-repeat scroll 0 -140px;
    height: 20px;
    margin-right: 3px;
    margin-top: 6px;
    width: 13px;
}

#header .subressort.collapsed .collapseArrow 
{
   background: url('../../img/base/icon/arrow_collapsible.png') no-repeat scroll 0 -120px;
}


/* zweites Level der Ressort-Navi */

#header .subressorts .collapseArrow 
{
   background: url('../../img/base/icon/arrow_collapsible.png') no-repeat scroll 0 -20px;
   opacity: 0.4;
}

#header .subressorts .hasArrow.collapsed .collapseArrow
{
   background: url('../../img/base/icon/arrow_collapsible.png') no-repeat scroll 0 0;
   opacity: 0.4;
}

.subnavi .subressorts .collapsed a
{
    color: #000000;
    display: block;
    line-height: 120%;
    padding: 8px 30px 8px 6px;
    text-indent: 0;
    width: 264px;
}

.subnavi .subressorts
{
    position: absolute;
    width: 300px;
    left: 0px;
    top: 32px;
    padding: 4px;
    background-color: #fff;
    z-index: 10;
    -moz-box-shadow:    0px 20px 25px -5px #000;
    -webkit-box-shadow: 0px 20px 25px -5px #000;
    box-shadow:         0px 20px 25px -5px #000;
}


.subnavi .subressorts span
{
    float: left;
    padding: 0;
    width: 100%;
    background-color: #fff;
}

.subnavi .subressorts li a  
{
    color: #000000;
    display: block;
    line-height: 120%;
    padding: 8px 6px 8px 6px;
    text-indent: 0;
    width: 288px;

}

.subnavi .subressorts li
{
    position: static;
    width: 100%;
    float: left;
    margin: 0 0 0 0;
    padding: 6px 0 6px 0;
    padding: 0 0 0 0;
}

.subnavi .subressorts li:last-child
{
    border-bottom: 0 solid #fff;

}

.subnavi .subsubressorts
{
    width: 100%;
    float: left;
    z-index: 20;
    margin: 0 0 0 0;
}


.subnavi .subsubressorts li a
{
    display: block;
    line-height: 120%;
    margin: 0;
    padding: 8px 0 8px 12px;	
}


.subnavi .subsubressorts li
{ 
	border-bottom: 1px solid #fff;
}

.subnavi .active,  .subnavi .active.collapsed
{
	color: #001a4b;
	background: #fff;
	/*border-bottom: 2px solid #fff; wp */
	padding-bottom: 6px;
}

.subnavi .active a, .subnavi .active.collapsed a
{
color: #001a4b;
padding: 0;
}

.subnavi .menueToggle
{
    background-color: #fff;
    height: 25px;
    padding: 0 4px 0 0;
    float: right;
    width: 75px;
    display: none;
}

.subnavi .menueToggle a
{
    padding: 4px 0 0 4px;
    float: left;
    width: 50px;
}

body {
    background: #093e82 url(../../img/tv/background/L_headergrafik_root.jpg) repeat-x top;
}

#header .logo
{
    float: left;
    padding: 0 0 0 0;
    width: 50%;
    height: 70px;
}

/* SEARCH - BOX */

#header .searchBox
{
    float: right;
    padding: 8px 0 0 0;
    width: 40%;
}

#header .searchBox img
{
    float: left;
    height: 25px;
}

#header .searchBox input
{
    float: left;
    padding: 0 0 0 5px;
    margin: 0;
	width: 145px;
}

#header .searchToggle
{
    display: none;
}

#header .searchForm
{
    background-color: #fff;
    height: 25px;
    width: 175px;
    margin-top: 15px;
    float: right;
}

#header .searchInput
{
    float: left;
    height: 25px;
    width: 150px;
    border: none;
    padding: 0 0 0 0;
    margin: 0;
    color: #516384;
    font-size: 0.8em;
}

#header .searchInput.active
{
    color: #000;
}

#header .searchSubmit
{
    float: left;
    width: 25px;
    padding: 0;
    margin: 0;
}

#header .searchSubmit img
{
    float: right;
    width: 100%;
}

/** Rubrikdesign */
#header .ressorts {
	margin-bottom: 14px;
}

.layerMobil {
	display: none;
	visibility: hidden;
}

#layerTvProg.subressort.layerWww.layerActive.expanded a,
#layerSndgen.subressort.layerWww.active.expanded a {
	 color: #001a4b;
}

#header.ressort .subnavi .prim a {
	 color: #FFFFFF;
}

#header.ressort .subnavi .prim.expanded a {
	 color: #001a4b;
}