


/*** Sendungsdesign - Alle Views ***/


	.tv .section .boxCon.slideractive,
	.tv .kurz .mod.modMini .boxCon.slideractive, 
	.boxCon.slideractive,
	.modForm fieldset,
	#content .modRatings .teaser  {
		background-color: #051634;
	}


	.playerNavItem.active,
	.playerNavItem.active:hover,
	.usercontentNavItem.active,
	.usercontentNavItem.active:hover,
	.modAV .controls .labels .entry.active a,
	.modAV .controls .labels .entry.active a:hover {
		
		background: none repeat scroll 0 0 #455797;
		
		color: #333333;
		cursor: default;
	}


 
	.sectionArticle,
	.conHeadline,
	.boxCon,
	.teaser a {
		color: #ffffff;
	}



	.naviSerialProgram .menu li.active,
	.naviSerialProgram .menu li.active span a,
	.naviSerialProgram .menu li:hover a,
	.naviSerialProgram .menu li:hover {
		
	}




	#content .transparent,
	#content .transparent .boxCon,
	#content .transparent h2
	 {
		background-color: transparent; /*overwrite bgcolor*/
	}


	.infoBroadcastDateBox .boxCon {
		color: #ffffff;
	}

	.home .infoBroadcastDateBox .boxCon {
		color: #ffffff;
	}

	.infoBroadcastDateBox .line {
		background-color: #30f3ef;
	}

	.modConComments .form fieldset,
	.mod .linklist .list li a:hover, 
	.mod .linklist .list li a:focus, 
	.mod .linklist .list li a:active,
	.modParagraph .mediaInfo,
	.modParagraph .infokasten,
	.modParagraph .checklist,
	.sectionA .form fieldset,
	.sectionC .form fieldset,
	.sectionC .form option,
	.modQuiz form input.cptanswerInput,
	.playerNavItem.active,
	.usercontentNavItem.active {
		background-color: #455797;
	}


	.hrLineBottom,
	.mod .linklist .list,
	.modQuiz .answer {
	    border-bottom: 1px solid #2a4676;
	}

	.hrLineTop,
	.mod .linklist .list li { 
		border-top: 1px solid #2a4676;
	}
	
	iframe.twitter-timeline {
		border: 1px solid #2a4676;
	}
	
	/*** browserhack fuer farbe border bottom ***/
	.modTagcloud .linklist .list li {
    	border-bottom: 0px solid #2a4676;
	}


/* Teaser Linklisten */

	.index .linklist .list li a:hover, 
	.index .linklist .list li a:focus, 
	.index .linklist .list li a:active {
		
		background-color: #455797;
		
		color:#ffffff;
		
	}



	/*Slider*/
	.mod .controls {
	    background-color: #051634;
	}

	.mod .button,
	.mod .button a, 
	.mod .controls.buttonfield a,
	.mod .controls.sliding .labels .entry,
	.modSocialbar .agreement,
	.modSocialbar .shares,
	.modSocialbar .infoText,
	.mod .controls .labels .entry  {
	    background: #465993;
	}

	#content.imageGallery .box.active,
	.mod .controls .labels .entry.active {
	    background: #38eff3;
	}


/*Stage */
.contentStageCon.landscapeWithBackground {
background: url(/mediasrc/img/base/background/stage_black_halbtrans.png) repeat;
}


	.tv .mod.modStage, .modStage .boxCon {
		background-color: #051634;
	}

	.modConStage .boxCon {
		background-color: #051634;
	}

	.mod.modStage .linklist .list li  {
	    border-top: 1px solid #0A326F;
	}
	.mod.modStage .linklist .list {
	    border-bottom: 1px solid #0A326F;
	}

	.contentStageCon, .contentStageCon a {
		color: #ffffff;
	}


	.contentStageCon .linklist .list li a:hover, 
	.contentStageCon .linklist .list li a:focus, 
	.contentStageCon .linklist .list li a:active {
		
		background-color: #354683;
		
		color:#ffffff;
		
	}

 /* Slider Stage */

	.modConStage .modMini .box a {
		color: #ffffff;
	}

	.modConStage .modMini .box {
		color: #ffffff;
	}


.modConStage .modMini .box.active a{
	color: #FFFFFF;
}


	.modConStage .modMini .box {
		background-color: #051634;
	}


	.tv .modConGallery .box.active,
	.tv .modMini .box.active, 
	.tv .modMini .box:hover, 
	.tv .modMini .box:hover a	{
		
		background-color: #354683;
		
		color: #FFFFFF;
	}

.contentStageCon.landscape {
	color:#ffffff;
}

.contentStageCon.c .linklist .list li a:hover, 
.contentStageCon.landscape .linklist .list li a:focus, 
.contentStageCon.landscape .linklist .list li a:active,
.contentStageCon.landscapeWithBackground .linklist .list li a:hover, 
.contentStageCon.landscapeWithBackground .linklist .list li a:focus, 
.contentStageCon.landscapeWithBackground .linklist .list li a:active
 {
background: url(/mediasrc/img/base/background/stage_hover_weisse_schrift.png) repeat;
color:#ffffff;
}

.contentStageCon.landscape.black {
color:#000000;
}
.contentStageCon.landscapeWithBackground.black {
color:#FFFFFF;
}

.contentStageCon.landscape.black .linklist .list li a:hover, 
.contentStageCon.landscape.black .linklist .list li a:focus, 
.contentStageCon.landscape.black .linklist .list li a:active {
background: url(/mediasrc/img/base/background/stage_hover_schwarze_schrift.png) repeat;
color:#000000;
}

/*Topteaser*/

	.tv .topTeaser .mod.modStage, .modStage .boxCon {
		background-color: 051634;
	}

	.topTeaser .mod.modStage .linklist .list li  {
	    border-top: 1px solid #2a4676;
	}
	.topTeaser .mod.modStage .linklist .list {
	    border-bottom: 1px solid #2a4676;
	}


.topTeaser .mod.modStage .linklist .list li a:hover, 
.topTeaser .mod.modStage .linklist .list li a:focus, 
.topTeaser .mod.modStage .linklist .list li a:active {
	
	background-color: #455797;
	
	color:#ffffff;
	
}

/*Kurz*/
/*Topteaser*/



.tv .kurz .modMini .box:hover,
.tv .kurz .modMini .box:hover a {
	
	background-color: #354683;
	
	color:#FFFFFF;
}

/*Programm Modul*/

	.rubric #slider-2 .boxCon {
		background-color: #051634;
	}

	.rubric #slider-2 .boxCon a {
		color: #ffffff;
	}


.rubric #slider-2 .box:hover a {
	color: #FFFFFF;
}

.rubric .modProgramm .controls .labels .entry {
background: linear-gradient(to bottom, #396192 0%, #12305C 101%) repeat scroll 0 0 transparent;
}
.rubric .modProgramm .controls .labels .entry:first-child {
background: linear-gradient(to bottom, #fbe18d 0%, #e2b127 101%) repeat scroll 0 0 transparent;
}

	.rubric .modProgramm .controls .labels .entry:first-child a {
	color: #ffffff;
	}

	.modQuiz.voting .pagingBox .submitButton,
	.modQuiz.quiz .pagingBox .submitButton,
	.modQuiz.voting .vote-detail .vote-bar,
	.modSocialbar .button,
	.modSocialbar .button a,
	.pagingBox .button,
	.pagingBox .button a,
	.usercontentNavItem,
	.buttons .prev,
	.buttons .next,
	.modSocialbar .likeCon,
	.submitAjax, 
	.playerNavItem,
	.modAV .controls .labels .entry {
		background: #092861; /* Old browsers */
		background: -moz-linear-gradient(top,  #092861 0%, #061439 101%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#092861), color-stop(100%,#061439)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #092861 0%,#061439 101%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #092861 0%,#061439 101%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #092861 0%,#061439 101%); /* IE10+ */
		background: linear-gradient(to bottom,  #092861 0%,#061439 101%); /* W3C */
	}

	
	.pagingBox .button a:hover,
	.usercontentNavItem:hover,
	.button.send:hover,
	.button.share:hover,
	.button.like:hover,
	.button.info:hover,
	.button a:hover,
	.buttons .prev:hover,
	.buttons .next:hover,
	.submitAjax:hover,
	.playerNavItem:hover,
	.deactivated:hover,
	.modAV .controls .labels .entry:hover {
		background: none repeat scroll 0 0  #092861;
}

.mod .controls.sliding .prev:hover,
.mod .controls.sliding .next:hover {
	background: none repeat scroll 0 0 transparent;
}

.modQuiz.voting .pagingBox .submitButton,
.modQuiz.quiz .pagingBox .submitButton {
	border: 0;
	font-size: 1.0em;
}

.modQuiz.voting .pagingBox .submitButton:hover,
.modQuiz.quiz .pagingBox .submitButton:hover {
	cursor: pointer;
}


	.mod.modGlossar .controls .labels .entry {
		background-color: #061439;
	}

	.mod.modGlossar .controls .labels .entry.inactive {
		color: #092861;
	}

.mod .controls.sliding .prev.active {
		
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, #092861; /* Old browsers */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, -moz-linear-gradient(top,  #092861 0%, #061439 101%); /* FF3.6+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#092861), color-stop(100%,#061439)); /* Chrome,Safari4+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, -webkit-linear-gradient(top,  #092861 0%,#061439 101%); /* Chrome10+,Safari5.1+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, -o-linear-gradient(top,  #092861 0%,#061439 101%); /* Opera 11.10+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, -ms-linear-gradient(top,  #092861 0%,#061439 101%); /* IE10+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px, linear-gradient(to bottom,  #092861 0%,#061439 101%); /* W3C */
		
    cursor: pointer; 
}

.mod .controls.sliding .next.active {		
		
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, #092861; /* Old browsers */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, -moz-linear-gradient(top,  #092861 0%, #061439 101%); /* FF3.6+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#092861), color-stop(100%,#061439)); /* Chrome,Safari4+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, -webkit-linear-gradient(top,  #092861 0%,#061439 101%); /* Chrome10+,Safari5.1+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, -o-linear-gradient(top,  #092861 0%,#061439 101%); /* Opera 11.10+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, -ms-linear-gradient(top,  #092861 0%,#061439 101%); /* IE10+ */
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px, linear-gradient(to bottom,  #092861 0%,#061439 101%); /* W3C */
		
    cursor: pointer; 
}


.mod .controls.sliding .prev.active:hover {
	
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center -100px #092861;
				
}

.mod .controls.sliding .next.active:hover {
	
			background: url('/mediasrc/img/base/icon/daserste-slider.png') no-repeat center 0px #092861;
		
}

