/*! main.css */

#content-wrapper {
	margin: 0 auto;
	text-align: center;
}

.broadcast {
	margin: 0 auto;
	float: left;
}

.progressContainer {
	border: 1px solid #fff;
	width: 100%;
	height: 5px;
	background-color: #fff;
}

.progress {
	width: 0;
	height: 5px;
	background-color: #0A4F8F;;
}