@charset "utf-8";
/* CSS Document */

/* freigsanpro*/
@font-face{
	font-family:"freigsanproLIG";
	src:url("fonts/freigsanproLIG/cf49aece-00f8-4267-b583-e78d38ee3322.eot?#iefix");
	src:url("fonts/freigsanproLIG/cf49aece-00f8-4267-b583-e78d38ee3322.eot?#iefix") format("eot"),url("fonts/freigsanproLIG/207add5d-09f8-4df9-a0aa-e5f02f8bcb52.woff2") format("woff2"),url("fonts/freigsanproLIG/57b64ccd-ce33-4c5a-b6ba-0fcf5232aec9.woff") format("woff"),url("fonts/freigsanproLIG/5cb16e82-1cd6-4d55-846c-b9daf11c7f90.ttf") format("truetype");
}
@font-face{
	font-family:"freigsanproMED";
	src:url("fonts/freigsanproMED/0b5df096-1809-4ede-bcf6-dcf708de9efe.eot?#iefix");
	src:url("fonts/freigsanproMED/0b5df096-1809-4ede-bcf6-dcf708de9efe.eot?#iefix") format("eot"),url("fonts/freigsanproMED/8b338cb3-bb89-40d3-8c01-5580bceb3715.woff2") format("woff2"),url("fonts/freigsanproMED/4901a31a-f392-404a-a900-77532930640a.woff") format("woff"),url("fonts/freigsanproMED/4d13c8f1-526a-4c9a-ac70-6d7a855f4c4c.ttf") format("truetype");
}

/* icon font */
@font-face {
  font-family: 'globalIconfont';
  src:  url('fonts/global_iconfont.eot?iv41ks');
  src:  url('fonts/global_iconfont.eot?iv41ks#iefix') format('embedded-opentype'),
    url('fonts/global_iconfont.ttf?iv41ks') format('truetype'),
    url('fonts/global_iconfont.woff?iv41ks') format('woff'),
    url('fonts/global_iconfont.svg?iv41ks#filmora') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'globalIconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fm-angle-double-right:before {
  content: "\e900";
}
.fm-link:before {
  content: "\e900";
}
.fm-more:before {
  content: "\e900";
}
.fm-angle-left:before {
  content: "\e901";
}
.fm-prev:before {
  content: "\e901";
}
.fm-angle-right:before {
  content: "\e904";
}
.fm-next:before {
  content: "\e904";
}
.fm-arrow-right:before {
  content: "\e91f";
}
.fm-link-alt:before {
  content: "\e91f";
}
.fm-more-alt:before {
  content: "\e91f";
}
.fm-cancel:before {
  content: "\e907";
}
.fm-close:before {
  content: "\e907";
}
.fm-remove:before {
  content: "\e907";
}
.fm-caret-down:before {
  content: "\e902";
}
.fm-toggle:before {
  content: "\e902";
}
.fm-caret-up:before {
  content: "\e903";
}
.fm-toggle-up:before {
  content: "\e903";
}
.fm-check:before {
  content: "\e90d";
}
.fm-tick:before {
  content: "\e90d";
}
.fm-download:before {
  content: "\e90e";
}
.fm-try:before {
  content: "\e90e";
}
.fm-download-thin:before {
  content: "\e918";
}
.fm-try-thin:before {
  content: "\e918";
}
.fm-menu:before {
  content: "\e90f";
}
.fm-burger:before {
  content: "\e90f";
}
.fm-bar:before {
  content: "\e90f";
}
.fm-play:before {
  content: "\e913";
}
.fm-play-thin:before {
  content: "\e920";
}
.fm-purchase:before {
  content: "\e905";
}
.fm-buy:before {
  content: "\e905";
}
.fm-cart:before {
  content: "\e905";
}
.fm-search:before {
  content: "\e906";
}
.fm-find:before {
  content: "\e906";
}
.fm-star:before {
  content: "\e919";
}
.fm-star-full:before {
  content: "\e919";
}
.fm-rating:before {
  content: "\e919";
}
.fm-star-empty:before {
  content: "\e91a";
}
.fm-rating-empty:before {
  content: "\e91a";
}
.fm-star-half:before {
  content: "\e91e";
}
.fm-rating-half:before {
  content: "\e91e";
}
.fm-android:before {
  content: "\e914";
}
.fm-facebook:before {
  content: "\e908";
}
.fm-fb:before {
  content: "\e908";
}
.fm-finder:before {
  content: "\e909";
}
.fm-mac:before {
  content: "\e909";
}
.fm-google-plus:before {
  content: "\e90a";
}
.fm-hatena:before {
  content: "\e910";
}
.fm-instagram:before {
  content: "\e90b";
}
.fm-ins:before {
  content: "\e90b";
}
.fm-ios:before {
  content: "\e917";
}
.fm-subscribe:before {
  content: "\e90c";
}
.fm-mail:before {
  content: "\e90c";
}
.fm-twitter:before {
  content: "\e911";
}
.fm-t:before {
  content: "\e911";
}
.fm-windows:before {
  content: "\e916";
}
.fm-win:before {
  content: "\e916";
}
.fm-youtube:before {
  content: "\e912";
}
.fm-yt:before {
  content: "\e912";
}
.fm-essential:before {
  content: "\e91b";
}
.fm-bookmark:before {
  content: "\e91b";
}
.fm-guide:before {
  content: "\e91d";
}
.fm-book:before {
  content: "\e91d";
}
.fm-inspired:before {
  content: "\e923";
}
.fm-bulb:before {
  content: "\e923";
}
.fm-movie:before {
  content: "\e915";
}
.fm-video:before {
  content: "\e915";
}
.fm-question:before {
  content: "\e925";
}
.fm-faq:before {
  content: "\e925";
}
.fm-tutorial:before {
  content: "\e91c";
}
.fm-text:before {
  content: "\e91c";
}
.fm-business:before {
  content: "\e921";
}
.fm-shield:before {
  content: "\e921";
}
.fm-menu-alt:before {
  content: "\e927";
}
.fm-metro:before {
  content: "\e927";
}
.fm-dvdmenu:before {
  content: "\e927";
}
.fm-guide-alt:before {
  content: "\e922";
}
.fm-text-alt:before {
  content: "\e922";
}
.fm-overview:before {
  content: "\e924";
}
.fm-popup:before {
  content: "\e924";
}
.fm-review:before {
  content: "\e926";
}
.fm-exit:before {
  content: "\e926";
}
.fm-styles:before {
  content: "\e928";
}
.fm-magic:before {
  content: "\e928";
}
.fm-techspec:before {
  content: "\e929";
}
.fm-slider:before {
  content: "\e929";
}