@charset "utf-8";
/* CSS Document */
.logo_filmore,
.logo_drfone,
.logo_pe {display:block; width:340px; height:120px; margin:0 auto; background-repeat:no-repeat; background-position:center center;background-size:auto 100%; -webkit-filter:drop-shadow(0 2px 4px rgba(0,0,0,.2)); filter: drop-shadow(0 2px 4px rgba(0,0,0,.2));}
.logo_filmore {background-image:url(images/filmore_logo_name.png); background-image:url(img_svg/filmore_logo_name.svg),none;}
.logo_drfone {background-image:url(images/drfone_logo_name.png); background-image:url(img_svg/drfone_logo_name.svg),none;}
.logo_pe {background-image:url(images/pdfelement_logo_name.png); background-image:url(img_svg/pdfelement_logo_name.svg),none; height:100px;}
@media (max-height: 900px) {
	.logo_filmore,
	.logo_drfone,
	.logo_pe {width:100%; height:100px;background-size:auto 100%;}
}
@media (max-height: 800px) {
	.logo_filmore,
	.logo_drfone,
	.logo_pe {height:70px;}
	.logo_filmore {height:80px;}
	.logo_pe {height:60px;}
}
@media (max-width: 400px) and (max-height: 500px) {
	.logo_filmore,
	.logo_drfone,
	.logo_pe {width:320px;height:50px;}
	.logo_filmore {height:60px;}
	.logo_pe {height:40px;}
}

.banner {width:100%; height:500px; height:calc(100vh - 350px);}
.banner .item {margin:0 55% 3px 0; position:relative; z-index:1; height:250px; height:calc(50% - 1.5px); overflow:hidden;}
.banner .first_item {float:right; width:55%; height:100%; margin:0; z-index:2; border-left:solid 3px #fff;}
.banner .name {padding:0 0 10px 0;}
.banner .pic {position:relative; z-index:2; width:100%; height:100%; background-color:#000; background-repeat:no-repeat; background-position:center center; background-size:cover;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;transition: all 0.5s ease;}
.banner .item:hover .pic:after {content:""; position:absolute; width:100%; height:100%; background:#000; opacity:0.2;filter:alpha(opacity=50);-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;transition: all 0.5s ease;}
.banner .info {position:absolute; z-index:3; top:25%; left:25%; top:calc(50% - 85px); left:calc(50% - 170px); /*transform:translate(-50%,-50%);*/ width:340px; padding:20px 0 0 0; font-size:18px; line-height:1.2em; color:#fff; text-align:center;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
.banner .info p {display:none;}
.banner .first_item .info {/*top:35%; margin:0 0 0 -200px;*/}
.banner .btn {text-align:center; opacity:0;-webkit-transition: all 1s;-moz-transition: all 1s;transition: all 1s;}
.banner .btn a:after {animation:alink_arrow 1s infinite;-webkit-animation:alink_arrow 1s infinite;}
.banner .btn a,
.banner .btn a:after {color:#fff;}
.banner .btn a:hover,
.banner .btn a:hover:after {text-decoration:none; color:#fa745f;}
.banner .first_item .pic {background-position:left center;}
.banner .item:hover .pic {transform:scale(1.05,1.05)}
.banner .item:hover .info {padding:0;}
.banner .item:hover .btn {opacity:1;}
@media (min-width: 1930px) {
	.banner .pic {background-position:right center;}
}
@media (max-height: 768px) {
	.banner {height:calc(100vh - 180px);}
}
@media (max-width: 979px) {
	.banner {height:calc(100vh - 59px);}
	.banner .item {margin:0;height:25%; border-bottom:solid 2px #fff;}
	/*.banner .info {top:50%; left:50%;transform:translate(-50%,-50%);}*/
	.banner .first_item {border-left:0;}
	.banner .item .pic {background-position:center center;}
	.banner .item .pic:after {content:""; position:absolute; width:100%; height:100%; background:#000; opacity:0.2;-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;transition: all 0.5s ease;}
	.banner .first_item {float:none; width:auto; height:50%;}
	.banner .item:hover .info {padding:20px 0 0 0;}
	.banner .item:hover .btn {opacity:0;}
}
@media (max-width: 500px) {
	.banner .info {width:320px;top:calc(50% - 50px);}
}
/*@media (max-height: 450px) and (max-height: 570px) {
	.banner .first_item .info {top:20%; margin-left:-150px;}
}
*/
@media (max-height: 450px) {
	.banner {height:auto;}
	.banner .item,
	.banner .first_item {height:300px; height:calc(100vh - 55px);}
}
@media (max-width: 400px) and (max-height: 500px) {
	.banner .info {width:320px;top:calc(50% - 40px);}
}

.page2 {padding:30px 0;}
.page2 .column {font-size:65px; line-height:1.2em; color:#353132; text-align:center; font-family:freigsanproLIG,Lato,Arial,Helvetica,sans-serif;}
.page2 .info {text-align:center;font-size:24px; line-height:1.2em; color:#353132; font-family:freigsanproLIG,Lato,Arial,Helvetica,sans-serif; padding:10px 0;}
.page2 .info span {display:block;}
.page2 .btn {padding:20px 0; text-align:center;}
.page2 .btn a {padding:15px 20px; width:160px;}
@media (max-width: 767px) {
	.page2 {padding:30px 0;}
	.page2 .column {font-size:42px;}
	.page2 .info {font-size:18px;}
}
@media (max-width: 479px) {
	.page2 .column {font-size:32px;}
}
@media (max-height: 768px) {
}

.page3 {padding:60px 0; height:374px; background-repeat:no-repeat; background-position:center 0; background-color:#e2ddd7;}
.page3 .column {font-size:42px; line-height:1.2em; color:#353132; text-align:center; padding:70px 20% 0; font-family:freigsanproLIG,Lato,Arial,Helvetica,sans-serif;}
.page3 .btn {padding:50px 0 0 0; text-align:center;}
.page3 .btn a {display:inline-block; padding:15px 20px; width:160px; border:solid 2px #fa745f; color:#fa745f; font-size:18px; line-height:1.2em; font-family:freigsanproMED,Lato,Arial,Helvetica,sans-serif;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; text-align:center;}
.page3 .btn a:hover {background:#fa745f; color:#fff; text-decoration:none;}
@media (max-width: 1200px) {
	.page3 {background-size:auto 100%;}
	.page3 .column {padding:50px 2% 0;}
}
@media (max-width: 767px) {
	.page3 {height:auto; padding:60px 0 100px 0;}
	.page3 .column {font-size:36px;}
	.page3 .column {padding:0 2%;}
}
@media (max-width: 680px) {
	.page3 .column {padding:0;}
}

.page4 {padding:60px 0;}
.page4 .column {font-size:48px; line-height:1.2em; color:#353132; text-align:center; padding:0 0 40px 0; font-family:freigsanproLIG,Lato,Arial,Helvetica,sans-serif;}
.page4 .item {float:left; width:47%; padding:20px 0 0 6%;}
.page4 .item:first-child {padding-left:0;}
.page4 .pic {position:relative; z-index:1;}
.page4 .info {position:absolute; z-index:2; top:20%; left:10%;}
.page4 .pro_name {font-size:25px; line-height:1.4em; color:#fff; top:35%; left:auto; right:10%; width:40%;}
.page4 .peo_info {top:auto; bottom:10%; left:5%; width:30%;font-size:14px; line-height:1.4em; color:#666;}
.page4 .peo_info strong {display:block; color:#fa745f;}
.page4 .peo_info span {display:block;}
.page4 .title {font-size:24px; line-height:1.2em; color:#353132; font-family:freigsanproLIG,Lato,Arial,Helvetica,sans-serif; padding:20px 0 0 0;}
.page4 .btn {padding:10px 0 0 0;}
@media (max-width: 767px) {
	.page4 .pro_name {font-size:18px; line-height:1.2em;}
	.page4 .title {font-size:22px; line-height:1.2em;}
}
@media (max-width: 620px) {
	.page4 .column {font-size:38px; line-height:1.2em; padding:0 0 20px 0;}
	.page4 .item {float:none; width:auto; padding:20px 0 0 0;}
	.page4 .pro_name {font-size:24px; line-height:1.2em;}
}
@media (max-width: 400px) {
	.page4 .column {font-size:28px; line-height:1.2em; padding:0 0 20px 0;}
	.page4 .pro_name {font-size:18px; line-height:1.2em;}
}

@keyframes alink_arrow
{
0% {padding:0 0 0 7px;}
50% {padding:0 0 0 12px;}
100% {padding:0 0 0 7px;}
}
