


@media only screen and (max-width: 1140px), only screen and (max-device-width: 1140px) {
	/* COLUMNAS */
	.row{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		width: 100%;
		padding: 0;
	}
	.row-builder,
	.row-builder.row-search{
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin: 0;
		left: 0;
		width: 100%;
		padding: 0 15px;
	}
	.row-builder .col{
		margin-left: 0;
	}
	.col11{
		max-width: 100%;
	}
	.col-11{
		width: 100%;
	}
	.col8{
		width: 100%;
	}
	.col6{
		width: 46.49122%;
	}
	.col4{
		width: 29.82456%;
	}
	.row-builder .col8.no-margin {
		margin-bottom: 20px;
	}	
	
	/* HEADER */
	.site-header .menu-header > li:nth-child( 5 ){
		display: none;
	}
	.site-header .menu-header > li:nth-child( 6 ){
		display: none;
	}
	.site-header .menu-header li .submenu{
		left: auto;
		right: 0;
		transform-origin: right top 0;
		-ms-transform-origin: right top 0;
		-moz-transform-origin: right top 0;
		-webkit-transform-origin: right top 0;
	}
	.site-navigation{
		padding: 20px 20px 0;
		overflow-y: auto;
	}
	.site-navigation .close-menu{
		right: 20px;
		top: 15px;
	}
	.site-navigation .column{
		width: 13.5%;
		margin: 0!important;
	}
	.site-navigation .column + .column{
		margin-left: 5.5%!important;
	}
	.site-navigation .column.sections, 
	.site-navigation .column.debate{
		width: 28%;
	}
	.site-navigation .navigation-links{
		background-color: #003DA0;
		position: static;
		margin: 30px 0 10px;
	}
	/* FOOTER */
	.site-footer{
		padding: 30px 15px 0;
	}
	.site-footer .link-list{
		width: 60%;
	}
	/* ZONAS */
	.mod-page-builder .entry-box.entry-big {
	    margin-bottom:0;
	}
	.mod-page-builder .entry-box.entry2 {
	    width: 49%;
	    height: auto;
	}
	.mod-page-builder .entry-box.entry2 + .entry-box.entry2 {
	    margin-left: 2%;
	}
	/*.mod-page-builder .entry-box.entry2 img*/
	.mod-page-builder .entry-box img {
	    width: 100%;
	    height: auto;
	}
	.mod-zona.row-builder{
		padding: 0;
	}
	.mod-zona.row-builder > .col8{
		width: 66.6%!important;
	}
	.mod-zona.row-builder > .col4{
		width: 33.3%;
		padding: 0 10px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.banner-box-hidden > .col.col8.no-margin > .entry{
		margin-left: 2%!important;
	}
	.banner-box-hidden > .col.col8.no-margin > .pull-right{
		margin-right: 2%!important;	
	}
	.banner-box-hidden > .col.col8.no-margin > .banner.banner2{
		width: 46%!important;
		margin: 0 2% 20px!important;
		overflow: hidden;
	}
	.mod-zona .banner.banner2,
	.mod-zona .entry-box,
	.mod-zona .entry.poll-box{
		width: 46%;
		margin: 0 2% 20px!important;
	}
	.mod-zona .entry-box .entry-media img{
		width: 100%;
		height: auto;
	}
	.mod-zona .entry-box .entry-media img{
		width: 100%;
		height: auto;
	}
	.mod-zona .entry-box .entry-media[itemprop='video']{
		width: 100%;
		position: relative;
		padding-top: 56.17%;
	}
	.mod-zona .entry-box .entry-media[itemprop='video'] > .jwplayer,
	.mod-zona .entry-box .entry-media[itemprop='video'] iframe{
		width: 100%!important;
		height: 100%!important;
		position: absolute;
		top: 0;
		left: 0;
	}
	/* BANNER */
	.banner{
		overflow: hidden;
		max-width: 100%;
		text-align: center!important;
	}
	.banner-fixed{
		position: static!important;
		width: 100%;
		padding: 0;
	}
	.banner-interno{
		text-align: center!important;
	}
	.banner-interno > *{
		max-width: 100%;
		height: auto;
		text-align: center!important;
	}
	/* TRENDING TOPICS */
	.box-trending-topics{
		margin-left: 15px;
		margin-right: 15px;
	}
	/* ALERTAS */
	.site-alert{
		max-width: 100%;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.site-alert .entry-title{
		padding-right: 130px;
	}
	.site-alert .mod-social{
		right: -16px;
	}
	.site-alert .mod-social-label{
		display: none;
	}
	.site-alert.poll .poll-binary{
		right: 160px;
	}
	
	/* DESTACADO SIMPLE HOME */
	.entry-destacado.entry-big.entry-box .entry-media{
		width: 57.4545%;
	}
	.entry-destacado.entry-big.entry-box .entry-media img{
		max-width: 100%;
		height: auto;
	}
	.entry-destacado.entry-big.entry-box .entry-label{
		left: 57.4545%;
		margin-left: 10px;
	}
	.entry-destacado.entry-big.entry-box .entry-data{
		width: 42.5%;
		left: 0;
		box-sizing: border-box;
		padding-left: 10px;
		padding-right: 10px;
	}
	/* DESTACADO SOCIAL */
	.entry-wide.entry-box{
		width: 100%;
		height: auto;
	}
	.entry-wide.entry-box .entry-media img{
		width: 100%;
		height: auto;
	}
	.entry-wide.entry-social .mod-list-social{
	    height: 430px;
	}
	.entry-wide.entry-social .mod-list-social .scroll-social {
	    height: 383px;
	}
	.entry-wide.entry-box .mod-list-social + .entry-data{
		padding-right: 330px;
	}
	.entry-wide.entry-box .entry-data{
		padding: 80px 10px 20px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.entry-wide.entry-box .entry-data .entry-label{
		left: 10px!important;
		transform: translate( 0, 0);
		-ms-transform: translate( 0, 0);
		-webkit-transform: translate( 0, 0);
	}
	.entry-wide.entry-box .entry-data .entry-title,
	.entry-wide.entry-box .entry-data .entry-excerpt{
		margin: 0!important;
		padding: 0;
	}
	.entry-wide.entry-box .entry-data .entry-title a{
		font-size: 40px;
		line-height: 44px;
	}
	.entry-wide.entry-box .entry-time,
	.entry-wide.entry-box .entry-excerpt{
		padding-left: 0;
	}
	

	
	/* DESTACADO 1y2 - ENTRY BIG */
	.entry-big.entry-box,
	.entry-big.big-750.entry-box{width: 100%;height: auto;overflow: hidden;}
	
	.entry-big.entry-box .entry-media img{
		width: 100%;
		height: auto;
	}
	
	
	
	/* ENTRY 2 FULL */
	.entry2-full.entry-box{
		width: 49%;
		height: auto;
		margin-right: 1%;
		margin-bottom: 20px;
	}
	.entry2-full.entry-box + .entry2-full.entry-box{
		margin-left: 1%;
		margin-right: 0;
	}
	.entry2-full.entry-box .entry-media img{
		width: 100%;
		height: auto;
	}
	/* DESTACADO DOBLE */
	.entry-pb3.entry-box{
		width: 49%;
		height: auto;
		margin-right: 1%!important;
		margin-bottom: 20px!important;
	}
	.entry-pb3.entry-box + .entry-pb3.entry-box{
		margin-left: 1%;
		margin-right: 0!important;
	}
	/* DESTACADA TRIPLE */
	.entry-vertical.entry-box{
		height: auto!important;
		width: 32%;
		position: relative;
		overflow: hidden;
	}
	.entry-vertical.entry-box + .entry-vertical.entry-box{
		margin-left: 2%;
	}
	.entry-vertical.entry-box .entry-media img{
		width: 100%;
		height: auto;
	}
	.entry-vertical.entry-box .entry-media > .icon{
		display: none;
	}
	/* DESTACADO MINIATURAS */
	.mod-entry-wide.miniaturas .entry{
		width: 19.2%;
	}
	.mod-entry-wide.miniaturas .entry + .entry{
		margin-left: 1%;
	}
	.mod-entry-wide.miniaturas .entry-media img{
		width: 100%;
		height: auto;
	}
	/* ENTRY2 */
	.entry2.entry-box .entry-media iframe{
		width: 100%!important;
	}
	/* RANKING NEWS */
	.mod-ranking-news{
		padding: 15px 15px 20px;
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	.mod-ranking-news .ranking-viewport{
		max-width: 100%;
	}
	/* MODULO OPINION */
	.mod-editorials{
		padding: 0 15px;
		margin-top: 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	.mod-editorials .editorials-articles li{
		width: 20%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	/* MOD ENTRY LIST */
	.mod-entry-list .entry-box{
		width: 100%!important;
		margin: 0;
		height: auto;
	}
	.mod-entry-list .entry-box .entry-media{
		margin: 0;
		width: 100%;
	}
	.mod-entry-list .entry-box img{
		width: 100%!important;
		height: auto;
	}
	/* MODULO SEXY E INSOLITO */
	.mod-sexyinsolito{
		padding: 15px 15px 30px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	.mod-sexyinsolito .entry-sexy{
		width: 32%;
		float: left;
	}
	.mod-sexyinsolito .entry-sexy img{
		width: 100%;
		height: auto;
	}
	.mod-sexyinsolito .entry-sexy + .entry-sexy{
		margin-left: 2%;
	}
	/* MODULO CARTONES */
	.section-cartoones{
		padding: 15px 15px 20px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	.section-cartoones .cartoon-data{
		opacity: 1;
	}
	.mod-personajes-carton .col4 {
	    width: 28.82%;
	}
	.mod-personajes-carton .banner.banner2.col.col4 {
	    width: 100%;
	}
	/* SECTIONS */
	.section-title{
		margin-left: 15px;
	}
	/* PAGE DEPORTES */
	.page_deportes .mod-page-builder .col8{
		width: 67.4%!important;
	}
	.page_deportes .mod-page-builder .col4{
		float: right;
	}
	/* ENTRY FULL */
	.entry-full .row{
		padding: 0 15px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.entry-full .col8{
		width: 66.6%;
	}
	.entry-full .col4{
		width: 29.82456%;
	}
	.entry-full .box-banner{
		width: 100%;
		max-width: 100%;
		overflow: hidden;
	}
	.entry-template-media .entry-featured-media .content{
		left: 15px!important;
		right: 15px!important;
	}
	.entry-full .ck-vine,
	.entry-full .ck-youtube{
		width:100%;
		position:relative;
		height:0px;
		padding-top: 56.25%;
	}
	.entry-full .ck-vine iframe,
	.entry-full .ck-youtube iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.entry-full .ck-vine{
		padding-top: 100%;
	}
	/* PAGE DBTTV */
	.page_dbt_tv .banner-dbtv{
		display: none;
	}
	.page_dbt_tv .entry-player{
		padding: 0 0 20px!important;
		border: none!important;
	}
	.page_dbt_tv .entry-player .entry-media div > .jwplayer{
		width: 100%!important;
	}
	.page_dbt_tv .mod-zona-videos{
		padding-top: 20px;
	}
	.page_dbt_tv .mod-zona-videos .col8.col{
		width: 100%!important;
		margin: 0!important;
		left: 0;
	}
	.page_dbt_tv .mod-related-slide{
		padding: 0 15px;
		box-sizing: border-box;
	}
	.page_dbt_tv .mod-related-slide .related-viewport{
		width: 100%;
	}
	.page_dbt_tv .layout{
		left: 0!important;
		padding: 0;
	}
	.page_dbt_tv .slider-content{
		width: 200%!important;
	}
	.page_dbt_tv .mod-nota{
		width: 50%;
		margin: 0;
		padding: 0 15px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page_dbt_tv .mod-nota .sidebar {
		display: none;
	}
	.page_dbt_tv .mod-nota .entry-single {
		border: none;
		padding-left: 0;
		width: 100%!important;
		margin: 0!important;
		left: 0;
	}
	.page_dbt_tv .entry-single-bar{
		width: 100%;
		margin-bottom: 20px;
	}
	.page_dbt_tv .mod-gallery .mod-gallery-images .swiper-container .swiper-slide iframe{
		width: 100%!important;
	}
	.page_dbt_tv .mod-zona-related-videos{
		width: 100%;
	}
	.page_dbt_tv .mod-comments{
		width: 50%;
		padding: 0 15px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
	.page_dbt_tv .dbtv .entry-expanded.entry{
		margin: 0 0 20px;
		padding: 0 0 20px;
	}
	.page_dbt_tv .mod-comments > .col4{
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.page_dbt_tv .dbtv .mod-comments > .col8{
		width: 100%;
		padding: 0;
		margin: 0;
		border: none;
	}
	.page_dbt_tv .mod-nota-comments{
		width: 100%;
	}
	.page_dbt_tv .comment-input{
		position: relative;
		width: 100%;
		padding-left: 65px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page_dbt_tv .comment-input .comment-media{
		position: absolute;
		top: 0;
		left: 0;
	}
	.page_dbt_tv .comment-input .post{
		width: 100%;
		margin: 0;
	}
	.page_dbt_tv .comment-input .register{
		width: 100%!important;
		padding-right: 19px!important;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page_dbt_tv .mod-nota-comments .comment-container .comment-content{
		position: relative;
		width: 100%;
		padding-left: 65px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page_dbt_tv .mod-nota-comments .comment-container .comment-media{
		position: absolute;
		top: 0;
		left: 0;
	}
	.page_dbt_tv .mod-nota-comments .comment-body{
		padding: 0;
	}
	/* LOGIN */
	.page-registro .site-cont{
		margin: 0 15px;
	}
	.page-registro .site-cont .row-builder{
		padding: 0!important;
	}
	.page-registro .registracion .col_5{
		width: 50%;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page-registro .registro-redes .btn{
		width: 100%;
		margin: 0 0 10px;
		padding: 0 20px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page-registro .registro-redes .btn-icon{
		display: inline-block;
		width: 28px;
		margin-right: 5px;
	}
	.page-registro .form-elements fieldset{
		margin: 0 0 10px;
		padding: 0 30px 0 0;
		width: 100%;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page-registro .form-elements,
	.page-registro .form-elements .form-elem-input,
	.page-registro .form-elements input[type="text"],
	.page-registro .form-elements input[type="password"]{
		width: 100%;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.page-registro .content-btn{
		margin-left: 0!important;
	}
	.page-registro .box-registrate-ya{
		padding: 20px;
		height: auto;
	}
	.page-registro .box-registrate-ya input{
		clear: both;
		position: static;
		display: inline-block;
		float: none;
		margin: 20px auto 0;
	}
	.page-registro .registracion .alert-message.success{
		padding: 15px;
	}
	.page-registro .registracion .alert-message p{
		white-space: normal;
	}
	.page-registro .registroFormOk .comentario{
		width: 100%;
		margin-left: 0;
	}
	/* HOROSCOPO */
	
	.page-horoscopo .layout{
		left: 0!important;
	}
	.mod-horoscopo .col{
		margin-left: 0;
	}
	.mod-horoscopo aside.col4 {
		width: 30%;
		padding-right: 0;
		border: none;
	}
	.mod-horoscopo aside .banner{
		width: 100%;
	}
	.mod-horoscopo .mod-entry-list.mod-loultimo .mod-content{
		max-width: 100%;
	}
	.mod-horoscopo .col8{
		width: 66%!important;
		padding: 20px 0 0 2%;
		float: right;
		border: none
	}
	.mod-horoscopo-detalle .fechas{
		left: 77%;
		text-align: center;
		width: 23%;
	}
	.mod-horoscopo-detalle .fechas figure{
		margin: 20px auto 11px;
	}
	.mod-horoscopo-detalle .fechas .calendario{
		margin-left: auto;
		float: none;
		display: inline-block;
	}
	.mod-horoscopo-detalle .ficha-signo-hoy{
		width: 77%;
		right: 23%;
	}  
	.mod-horoscopo-detalle .todos-signos .caja-signo {
	        width: 15.83333%
	}
	.mod-horoscopo-detalle .todos-signos .caja-signo + .caja-signo {
    		margin-left: 1%;
	}
	/* SUMARIOS */
	.aviso-privacidad{
		left: 0!important;
	}
	.layout.aviso-privacidad .col4{
		/*width: 30%;*/
		float: left;
	}
	.aviso-privacidad .sumario.col8full{
		width: 68% !important;
		padding: 0 0 0 2%;
		float: right;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.layout.aviso-privacidad .col4{
		padding-right: 0 !important;
		border: none;
	}
	.sumario .cartoon-preview li{
		width: 41%;
		height: auto!important;
		float: left;
	}
	.sumario h2.title{
		margin-top: 0;
	}
	.sumario .cartoon-preview li:nth-child(even){
		/*margin: 0 0 20px 2%!important;*/
	}
	.sumario .cartoon-preview li img{
		width: 100%;
		height: auto;
	}
	.sumario h5.ver-mas{
		margin-top: 20px;
		margin-left: 0!important;
	}
	.busqueda-gente .cartonImage img {
	    width: 100%!important;
	    height: auto!important;
	}
	.busqueda-gente .cartonImage.entry {
		width: 98%;
	}
	.sumario li.busqueda-editoriales{
		width: 49%;
	}
	.sumario li.busqueda-editoriales:nth-child(even){
		width: 49%;
		margin-left: 2%!important;
		left: 0;
	}
	/* BUSCACOR */
	.site-content.buscador .banner{
		width: 100%!important;
	}
	.site-content.buscador .col8{
		width: 66%!important;
		padding: 0 0 0 2%;
		float: right;
		border: none!important;
	}
	.site-content.buscador  .resultados li{
		/* width: 49%!important; */
	}
	.site-content.buscador  .resultados li:nth-child(even){
		 /* margin-left: 2%!important; */

	}
	.site-content.buscador  .entry-list{
		position: relative;
		padding-left: 105px;
	}
	.site-content.buscador .mod-comments .entry-list {
	    padding-left: 8px;
	}
	.site-content.buscador  .entry-media{
		position: absolute;
		top: 0;
		left: 0;
	}
	.site-content.buscador  .entry-data{
		position: static;
		margin: 0;
		width: 100%;
	}
	.site-content.buscador  .resultados header{
		width: 100%;
	}
	.site-content.buscador  .galeria{
		width: auto!important;
		height: auto!important;
	}
	.site-content.buscador  .viewport-galeria{
		/* width: 100%!important; */
		height: auto;
	}
	.site-content.buscador  .viewport-galeria li{
		/* width: 49%!important; */
   		/* margin: 0!important; */

	}
	.site-content.buscador  .viewport-galeria li:nth-child(even){
		/* width: 49%!important; */
   		/* float: right; */

	}
	.site-content.buscador  .viewport-galeria li img{
		width: 100%!important;
		height: auto;
	}
		.entry-article-list{
		width: 427px;
		margin-right: -15px;
	}
	.entry-article-list img{
		width: 428px;
		height: auto;
	}
	.entry-article-list figcaption{
		width: 100%;
	}
	.entry-article-list .entry-body{
		width: 100%;
		padding-left: 0!important;
	}
	.entry-article-list .entry-share a{
	    transform: translate( 0, 0);
	    transition: all .2s .2s;
	}
	.entry-article-list:hover{
	    box-shadow: none;
	}
	/*.entry-article-list:hover .entry-share a{
	    transform: translate( 0, 0);
	    transition-delay: 0s;
	}
	.entry-article-list:hover .entry-share a + a{
	    transition-delay: .05s;
	}
	.entry-article-list:hover .entry-share a + a + a{
	    transition-delay: .1s;
	}
	.entry-article-list:hover .entry-share a + a + a + a{
	    transition-delay: .15s;
	}
	.entry-article-list .entry-share a + a{
	    transition-delay: .15s;
	}
	.entry-article-list .entry-share a + a + a{
	    transition-delay: .1s;
	}
	.entry-article-list .entry-share a + a + a + a{
	    transition-delay: .05s;
	}
	.entry-article-list .entry-share a + a + a + a:hover .link-data{
	    visibility: visible;
	    display: block;
	}*/
	.site-footer span.vertical-line.second {
	    right: 36%;
	}
	.site-footer span.vertical-line{
		right: 5%;
	}
	.site-footer span.vertical-line.first {
	    right: 71%;
	}
	.site-footer .footer-top{
	    height: 260px;
	}
}
@media only screen and (max-width: 980px), only screen and (max-device-width: 980px) {
	/*
		ALERTS
	*/
	.site-alert.poll > .poll-info{
		padding-bottom: 20px;
		font: 16px/18px "proximabold";
		padding-right: 10px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	/* SITE HEADER */
	.site-header .site-logo{
		margin-right: 15px;
	}
	.site-header .menu-header > li{
		display: none;
	}
	.site-header .menu-header > li:last-child{
		display: block;
	}
	.site-header .menu-header li .submenu{
		width: 375px;
		left: 0;
		right: auto;
		transform-origin: left top 0;
		-ms-transform-origin: left top 0;
		-moz-transform-origin: left top 0;
		-webkit-transform-origin: left top 0;
	}
	.site-navigation .column{
		width: 25%!important;
	}
	.site-navigation .column + .column{
		margin-left: 5%!important;
	}
	.site-navigation .column.sections{
		width: 40%!important;
	}
	.site-navigation .column.debate{
		width: 100%!important;
		clear: both;
		margin: 15px 0 0!important;
	}
	/* SITE FOOTEr */
	.site-footer .footer-top {
        	height: 300px;
	    }
	    .site-footer .link-list{
	        width: 51%;
	    }
	
	.site-footer .link-list{
		width: 59%;
	}
	.site-footer .link-list li{
		width: 50%;
		margin-bottom: 2px;
	}
	.site-footer .content-patrocinadores{
		position: static;
		display: block;
		clear: both;
		margin-top: 20px;
		 margin-bottom: 12px;
	}
	.site-footer span.vertical-line.first{
        display:none;
	    }
	    .site-footer span.vertical-line {
	        display:none;
	    }
	    .site-footer span.vertical-line.second{
	        display:none;
	    }
	.site-footer .footer-bottom .pull-right>img{
		width: 120px;
		height: 21px;
	}
	/* HOROSCOPO */
	.mod-horoscopo .hide-tablet{
		display: none!important;
	}
	.mod-horoscopo .show-tablet{
		display: block;
	}
	.mod-horoscopo aside.col4{
		width: 40%;
	}
	.mod-horoscopo .col8{
		width: 56%!important;
	}
	.mod-horoscopo .ficha-signo{
		padding: 15px;
	}
	.mod-horoscopo .ficha-signo figure {
		margin: 0;
		left: -15px;
		top: -15px;
	}
	.mod-horoscopo-detalle .contenedor-ficha {
		background-color: #004ECD;
		padding: 15px;
	}
	.mod-horoscopo-detalle .fechas{
		left: auto;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,.3);
		height: 105px;
	}
	.mod-horoscopo-detalle .fechas figure{
		float: left;
		width: 120px;
		margin:0;
		position: relative;
	}
	.mod-horoscopo-detalle figure > img{
		visibility: hidden;
	}
	.mod-horoscopo-detalle figure > img ~ span{
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 100px;
	}
	.mod-horoscopo-detalle figure > img[alt*="aries"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Aries_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="tauro"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Tauro_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="geminis"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Geminis_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="cancer"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Cancer_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="leo"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Leo_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="virgo"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Virgo_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="libra"] ~ span{
	    background-image: url(/export/sites/debate/arte/zodiaco/Libra_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="escorpio"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Escorpio_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="sagitario"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Sagitario_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="capricornio"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Capricornio_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="acuario"]~ span {
	    background-image: url(/export/sites/debate/arte/zodiaco/Acuario_grande_blanco.png); 
	}
	.mod-horoscopo-detalle figure > img[alt*="piscis"] ~ span{
	    background-image: url(/export/sites/debate/arte/zodiaco/Piscis_grande_blanco.png); 
	}
	.mod-horoscopo-detalle .ficha-signo-hoy{
		width: 100%;
		right: auto;
	}
	.mod-horoscopo-detalle .ficha-signo-hoy .data{
		padding:20px 8px 8px;
	}
	.mod-horoscopo-detalle .ficha-signo-semana .descripcion{
		padding: 25px 20px 0;
		background: #ffffff;
	}
	.mod-horoscopo-detalle .ficha-signo-semana .clave{
		padding: 38px 10px 38px;
	}
	.mod-horoscopo-detalle .ficha-signo-semana .clave span:before{
		left:0;
		top:-27px;
	}	
	.mod-horoscopo-detalle .ficha-signo-semana .clave span:after{
		right:0;
		bottom:-27px;
	}
	.mod-horoscopo .show-tablet {
		display: block;
		font: 14px/14px 'proximabold',sans-serif;
		color: #ffffff;
		text-align: left;
		padding-left: 120px;
		text-transform: uppercase;
	}
	.mod-horoscopo .show-tablet em{
		display: block;
		padding-top: 35px;
		font-size: 20px;
		font-style: normal;
		color: #000000;
	}
	.mod-horoscopo .show-tablet > span {
		margin-right: 4px;
	}
	.mod-horoscopo-detalle .todos-signos .mod-title {
		margin-bottom: 20px;
	}
	.mod-horoscopo-detalle .todos-signos .signos-content {
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: inherit;
	}
	.mod-horoscopo-detalle .todos-signos .cajas,  
	.mod-horoscopo-detalle .todos-signos .caja-signo {
	    display: inline-block;
	    float: none;
	}
	.mod-horoscopo-detalle .todos-signos .caja-signo{
		width: 115px;
	}
	.mod-horoscopo-detalle .todos-signos .caja-signo + .caja-signo {
    		margin-left: 4px;
	}
	/* DESTACADO SIMPLE HOME */
	.entry-destacado.entry-big.entry-box .entry-media{
		width: 52.4545%;
	}
	.entry-destacado.entry-big.entry-box .entry-label{
		left: 52.4545%;
	}
	.entry-destacado.entry-big.entry-box .entry-data{
		width: 47.5%;
	}
	.entry-destacado.entry-big.entry-box .entry-title a{
		font-size: 28px;
		line-height: 30px;
	}
	.entry-destacado.entry-big.entry-box .entry-excerpt{
		display: none;
	}
	/* DESTACADO SOCIAL */
	.entry-wide.entry-box.entry-social{
		margin-bottom: 220px;
	}
	.entry-wide.entry-box .mod-list-social{
		top: 100%;
		left: 0;
		width: 100%;
		height: 200px;
	}
	.entry-wide.entry-box .mod-list-social .scroll-social{
		height: auto;
		max-height: 153px;
	}
	.entry-wide.entry-box .mod-list-social + .entry-data{
		padding-right: 10px;
	}
	.entry-wide.entry-box .entry-data{
		padding: 20px 10px !important;
	}
	.entry-wide.entry-box .entry-data .entry-label{
		top: -10px;
	}
	.entry-wide.entry-box .entry-data .entry-title a{
		font-size: 30px;
		line-height: 34px;
	}
	.mod-entry-wide.live .live:before{
	  width: 35px;
    	  height: 35px;
    	  background: url('/arte/live.png') no-repeat;
    	  background-size: 35px 35px;
    	  bottom: -14px;
	}
	.entry-wide.entry-box .entry-excerpt{
		font-size: 14px;
		line-height: 16px;
	}
	/* DESTACADO DOBLE */
	.entry-pb3.entry-box .entry-title{
		height: 60px;
		line-height: 0;
	}
	.entry-pb3.entry-box .entry-title a{
		font-size: 26px;
		line-height: 28px;
	}
	/* DESTACADA TRIPLE */
	.entry-vertical.entry-box .entry-title{
		line-height: 0;
	}
	.entry-vertical.entry-box .entry-title a{
		font-size: 20px;
		line-height: 22px;
	}
	/* ZONAS */
	.mod-zona .entry-featured{
		width: 96%;
	}
	.mod-zona .entry-featured .entry-title{
		line-height: 0;
	}
	.mod-zona .entry-featured .entry-title a{
		font-size: 32px;
		line-height: 34px;
	}
	.mod-zona .entry-featured .entry-excerpt{
		font-size: 14px;
		line-height: 16px;
	}
	.mod-zona .entry-box.entry-nophoto .entry-excerpt{
		overflow: hidden;
		max-height: 110px;
		height: 110px;
	}
	/* MOD LO ULTIMO */
	.mod-entry-list.mod-loultimo .mod-content li{
		padding: 0 5px 0 10px;
	}
	.mod-entry-list .mod-content .entry-title a{
		font-size: 14px;
		line-height: 16px;
	}
	/* ZONA BUILDERS*/
	.mod-page-builder + .row-builder > .col.col8.no-margin > .entry:nth-of-type(n+5) {
	    display: none;
	}
	.page_home .row-builder > .col.col8.no-margin > .entry-featured ~ .entry:nth-of-type(n+6) {
	    display: none;
	}
	.page_tag .row-builder > .col.col8.no-margin > .entry:nth-of-type(n+7) {
	    /*display: none;*/
	}
	.banner-box-hidden > .col.col8.no-margin > .banner.banner2{
	    display:none;
	}
	/* MOD ENTRY LIST */
	
	
	.entry-wide.entry-box.poll + .floated {
		position: static!important;
		width: 100%;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.entry-wide.entry-box.poll + .floated .entry-box{
		height: auto;
		position: static;
		width: 46%;
		float: left;
		margin: 0;
	}
	.entry-wide.entry-box.poll + .floated .poll-binary{
		height: auto;
		position: static;
		width: 46%;
		float: right;
		margin: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	
	.mod-entry-list .entry-box{
		width: 100%!important;
		margin: 0;
		height: auto;
	}
	.mod-entry-list .entry-list{
		overflow: hidden;
	}
	
	.entry2.entry-box .entry-title{
		    max-height: 96px;
		    height: auto;
	}
	/* MODULO OPINION */
	.mod-editorials .editorials-articles li{
		padding: 10px 10px 10px 0;
	}
	.mod-editorials .editorials-articles li + li{
		padding-left: 10px;
	}
	/* PAGE DEPORTES */
	.page_deportes .mod-page-builder .col8{
		width: 100%!important;
		margin: 0 0% 20px;
	}
	.page_deportes .mod-page-builder .col4{
		float: left;
		width: 48%;
		margin: 0 1% 20px;
	}
	/* PAGE SOCIALEs */
	.box-trending-section{
		float: right;
		margin-top: 15px;
		margin-left: 0;
		margin-right: 15px;
		position: relative;
	}
	.box-trending-section > a{
		width: 15px;
		height: 15px;
		float: right;
		position: relative;
		text-align: center;
		z-index: 21;
	}
	.box-trending-section > a:focus + ul li + li{
		display: block;
	}
	.box-trending-section > a:focus .caret{
		transform: rotate(-180deg);
	}
		.box-trending-section .caret{
		position: absolute;
		top: 5px;
		left: 2px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		border-color: #004fcd transparent transparent transparent;
	}
	.box-trending-section ul{
		float: left;
		position: absolute;
		right: 0;
		white-space: nowrap;
		padding: 10px;
		background-color: white;
		z-index: 20;
		top: -10px;
	}
	.box-trending-section li{
		display: block;
		margin-bottom: 6px;
	}
	.box-trending-section li + li{
		display: none;
	}
	/* ENTRY FULL */
	.entry-template-media .entry-featured-media{
		height: 80vh;
	}
	.entry-template-media .entry-featured-media:before{
		height: 60%;
	}
	.entry-full .entry-header .entry-title,
	.entry-template-media .entry-featured-media .entry-title{
		font-size: 40px;
		line-height: 44px;
	}
	.entry-full .entry-body figure.image.long figcaption{
		background-position: center center;
		background-attachment: scroll;
	}
	.entry-full .entry-path{
		margin-bottom: 5px;
	}
	.entry-full .entry-time{
		float: left;
		margin-bottom: 15px;
	}
	meta{
		font-size: 20px;
		line-height: 24px;
	}
	.entry-full .entry-header,
	.entry-full .entry-body{
		padding-left: 80px;
	}
	.entry-full .body-sidebar{
		width: 60px;
	}
	.entry-full .entry-body > p{
		font-size: 15px;
		line-height: 22px;
		padding-bottom: 15px;
	}
	.entry-full .entry-body > h1, 
	.entry-full .entry-body > h2, 
	.entry-full .entry-body > h3, 
	.entry-full .entry-body > h4{
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 20px;
	}
	.entry-full .entry-body blockquote{
		margin-bottom: 20px;
	}
	.entry-full .entry-body blockquote p{
		font-size: 24px;
		line-height: 35px;
	}
	.entry-full .entry-body figure.image.long,
	.entry-full .entry-body figure.image.long figcaption{
		max-height: 300px;
		max-height: 50vh;
	}
	.entry-full .entry-body figure.image.long span{
		padding: 0 40px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		transform: none;
		left: 0;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	/* MOD COMMENTS */
	.mod-comments .comment-list p{
		font-size: 14px;
		line-height: 17px;
	}
	.mod-comments .comment-form{
		margin-bottom: 15px;
	}
	.mod-comments .user-logged fieldset:first-child{
		padding: 10px 10px 0;
	}
	.mod-comments .user-notlogged .social-login{
		width: 32%;
	}
	.mod-comments .user-notlogged .native-login{
		width: 60%;
	}
	.mod-comments .user-logged .captcha-box input[type="text"]{
		width: 75px;
	}
	.mod-comments .user-logged fieldset > button{
		margin: 15px 0 10px;
		clear: both;
	}
	.mod-comments .user-logged fieldset p{
		font-size: 13px;
		padding-right: 10px;
	}
	/* MOD LIST */
	.mod-list .entry-title{
		padding-left: 20px
	}
	.mod-list .entry-title:after{
		left: 5px;
	}
	/* MOD OUTBRAIN */
	.mod-outbrain .mod-content .ob-strip-layout .ob-rec-text{
		font-size: 14px;
		line-height: 17px;
	}
	/* MOD ENTRY LIST */
	.mod-entrylist .list-link{
		font-size: 13px;
		line-height: 15px;
	}
	/* ENTRY LONG FORM */
	.entry-longform .col8,
	.entry-longform .col4{
		width: 80%;
		margin: 0 auto;
		float: none;
		display: block;
	}
	.entry-longform .col4{
		padding-top: 0;
		text-align: center;
	}	
	.entry-full .box-fixed{
		display: inline-block;
		margin-bottom: 30px;
		max-width: 100%;
		overflow: hidden;
	}
	.entry-full .box-fixed .mod-title{
		font: 17px/20px "proximabold";
	}
	.related-article-news-list .entry-list{
		padding-left: 80px;
		min-height: 60px;
		height: auto;
	}
	.related-article-news-list li:after{
		height: 53px;
	}
	.related-article-news-list img{
		width: 70px;
		height: auto;
	}
	.related-article-news-list .entry-data{
		line-height: 0;
	}
	.related-article-news-list a{
		font: 13px/15px "Open Sans"!important;
	}
	.entry-longform .entry-header, 
	.entry-longform .entry-body{
		padding-left: 0!important;
	}
	.entry-longform .mod-especiales .entry-title a{
		font-size: 16px;
		line-height: 18px;
	}
	/* POPUP */
	.pup .pup-main{
		width: auto!important;
		margin-left: 0!important;
		left: 15px!important;
		right: 15px!important;
		top: 10px!important;
	}
	/* POPUP LOGIN */
	.pup.pup-login .form-social-login a{
		margin:0 0 5px!important;
		width:100%;
		text-align: center;
	}
	/* SUMARIOS */
	.layout.aviso-privacidad .col4{
		width: 40%;
	}
	.aviso-privacidad .sumario.col8full{
		width: 58% !important;
	}
	.sumario .cartoon-preview li.entry,
	.sumario .cartoon-preview li.entry:nth-child(even){
		width: 40%;
		height: auto!important; 
		margin-left: -7px!important;
		margin-right: 15px!important;
		margin-bottom: 20px!important;
		min-height: 241px;
	}
	.sumario h2.title{
		margin-top: 0;
	}
	.mod-personajes-carton .busqueda-gente{
		margin-bottom: 20px;
	}
	.section-cartoones .swiper-button-next{
		right: -3px;
	}
	.section-cartoones .cartoon-data{
		opacity: 1;
	}
	.sumario li.busqueda-editoriales,
	.sumario li.busqueda-editoriales:nth-child(even){
		width: 100%;
		margin-left: 0%!important;
		left: 0;
	}
	/* BUSCACOR */
	.mod-buscar-top {
	    padding: 45px 30px;
	}
	
	.mod-buscar #form-search {
	    width: 55%;
	}
	
	.mod-buscar .tag-image {
	    /*width: 37%;
	    height: 100%;
	    background-size: cover;
	    background-position: center center;*/
		width: 290px;
		height: 150px;
		background-size: 290px 150px;
	}
	.site-content.buscador .col8{
		width: 56%!important;
		padding: 0 0 0 2%;
		float: right;
		border: none!important;
	}
	.site-content.buscador  .resultados li,
	.site-content.buscador  .resultados li:nth-child(even){
		 /* width: 100%!important; */
		margin-left: 0%!important;
		left: 0;
	}
	.entry-template-media .entry-featured-media {
	    height: 75vh;
	}
	
}
@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
	
}
@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
	body.page_home{
		padding-top: 65px;
	}
	/* COLUMNAS */
	.row-builder .col{
		margin: 0;
	}
	/* BANNERS */
	.banner-box-hidden > .col.col8.no-margin > .banner.banner2{
		margin: 0 0 20px!important;
		width: 100%!important;
		height: auto!important;
	}
	
	.mod-zona .banner.banner2{width:100%!important;text-align:center;}
	/* SITE HEADER */
	.site-header{
		height: 50px;
		position: fixed!important;
		top: 0;
	}
	.page-entry-full .site-header.active {
	    top: -50px;
	}
	.site-header .menu-header,
	.site-header .social,
	.site-header .user{
		display: none;
	}
	.site-header .open-menu{
		height: 50px;
		width: 62px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: transparent;
	}
	.site-header .open-menu span{
		top: 25px;
	}
	.site-header .site-logo{
	        display: block;
	        margin: 14px auto 0;
	        width: 99px;
	        height:22px;
	        float: none;
	        background-image: url(/arte/v2/header_mobile_x2.png);
	        background-size: 99px;
	        background-repeat: no-repeat;
	    }
	.site-header .site-logo img{
		width: 100%;
		height: auto;
		display:none;
	}
	.site-header .header-actions{
		position: absolute;
		top: 0;
		right: 0;
	}
	.site-header .header-actions .search{
		height: 35px;
		padding-top: 15px;
	}
	.site-header .site-search{
		top: 50px;
		height: 50px;
	}
	.site-header .site-search .row{
		padding: 0 10px;
	}
	.site-header .site-search button{
		display: none;
	}
	.site-header .site-search input{
		margin-top: 4px!important;
		font-size: 18px;
	}
	/* HOROSCOPO */
	.page-horoscopo{
		background-color: #e5e5e5;
		padding-top:71px;
	}
	.page-horoscopo .layout{
		padding: 0 19px;
	}
	.mod-horoscopo .hide-mobile{
		display: none;
	}
	.mod-horoscopo .show-mobile{
		display: block;
	}
	.mod-horoscopo .col4{
		display: none;
	}
	.mod-horoscopo .col8{
		width: 100%!important;
		padding: 0 0 0 0%;
	}
	.mod-horoscopo .ficha-signo{
		background-color: #ffffff;
		-webkit-box-shadow: 0 3px 5px #acacac;
		box-shadow: 0 3px 5px #acacac;
	}
	.mod-horoscopo .ficha-signo figure > img {
		position: relative;
		left: 7.5px;
		width: 100px;
		height: 100px;
	}
	.mod-horoscopo .mod-title {
		margin-bottom: 20px;
		height: 90px;
		border-bottom: 1px solid #ccc;
	}
	.mod-horoscopo .mod-title > span {
	    font: 12px/14px 'proximabold',sans-serif;
	    color: #404040;
	}
	.mod-horoscopo-detalle .contenedor-ficha{
		margin-bottom: 0;
		padding:0 15px 15px;
	}
	.mod-horoscopo-detalle .fechas figure{
		left: -10px;
	}
	.mod-horoscopo-detalle .show-tablet{
		padding-left: 0;
		float: left;
		margin-left: -15px;
	}
	.mod-horoscopo-detalle .ficha-signo-hoy .data{
		padding: 20px 0 8px;
	}
	.mod-horoscopo-detalle .ficha-signo-hoy .consejo:before{
		display: none;
	}
	.mod-horoscopo-detalle .ficha-signo-hoy .consejo + .consejo{
		margin-left: 0;
	}
	.mod-horoscopo-detalle .barra-social {
		background: #004ECD;
		text-align: center;
		margin-bottom: 25px;
	}
	.mod-horoscopo-detalle .barra-social .data {
		float: none;
		display: block;
		padding-bottom: 15px;
		margin-left: -17px;
	}
	.mod-horoscopo-detalle .barra-social .label {
		display: none;
	}
	.mod-horoscopo-detalle .barra-social a {
		text-align: center;
		display: inline-block;
	}
	.mod-horoscopo-detalle .barra-social .icon {
		float: none;
		padding: 8px 10px 4px;
		display: inline-block;
	}
	.mod-horoscopo-detalle .barra-social .icon::before {
		display: inline-block;
		float: none;
		font-size: 20px;
		color: #ffffff;
		margin-left:0!important;
	}
	.mod-horoscopo-detalle .barra-social .mail {
		position: relative;
		top: -2px;
	}
	.mod-horoscopo-detalle .barra-social .mail::before {
		position: relative;
		left: -4px;
		top: -2px;
		font-size: 17px!important;
	}
	.mod-horoscopo .ficha-signo em {
		display: block;
		padding-top: 20px;
		font-size: 20px;
	}
	.mod-horoscopo .ficha-signo.active {
		background-color: #004ECD;
		color: #ffffff;
	}
	.mod-horoscopo .ficha-signo.active a {
		color: #ffffff;
	}
	.mod-horoscopo .ficha-signo.active a:before {
		background-color: #00307c;
	}
	.mod-horoscopo .ficha-signo.active figure > img{
		display: none;
	}
	.mod-horoscopo .ficha-signo.active figure{
		width: 100px;
		height: 100px;
		top: -7.5px;
		left: -7.5px;
	}
	.mod-horoscopo .ficha-signo.active.aries figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Aries_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.tauro figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Tauro_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.geminis figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Geminis_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.cancer figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Cancer_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.leo figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Leo_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.virgo figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Virgo_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.libra figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Libra_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.escorpio figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Escorpio_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.sagitario figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Sagitario_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.capricornio figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Capricornio_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.acuario figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Acuario_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active.piscis figure{
		background-image: url(/export/sites/debate/arte/zodiaco/Piscis_grande_blanco.png);
	}
	.mod-horoscopo .ficha-signo.active .mod-title{
		border-bottom: 1px solid rgba(255,255,255,.3);
	}
	.mod-horoscopo .ficha-signo.active .mod-title span {
		color: #fff;
	}
	.mod-horoscopo .ficha-signo.active em {
		color: #000;
	}
	.mod-horoscopo-detalle .col8 > .mod-title,
	.mod-horoscopo-detalle .todos-signos .label {
    		display: none;
	}
	.mod-horoscopo-detalle .mod-title{
		height: auto;
		padding-bottom: 10px;
		margin-bottom: 15px;
	}
	.mod-horoscopo-detalle .mod-title > span {
		font-size: 18px;
		line-height: 17px;
		color: #004ecd;
		white-space: normal;
	}
	.mod-horoscopo-detalle .ficha-signo-semana{
		background: #ffffff;
	}
	.mod-horoscopo-detalle .contenedor-ficha,
	.mod-horoscopo-detalle .barra-social,
	.mod-horoscopo-detalle .ficha-signo-semana,
	.mod-horoscopo-detalle .todos-signos{
		-webkit-box-shadow: 0 3px 5px #acacac;
		box-shadow: 0 3px 5px #acacac;
	}
	.mod-horoscopo-detalle .todos-signos{
		background: #ffffff;
		padding: 12px 12px 12px 16px;
		margin-bottom: 40px;
	}
	.mod-horoscopo-detalle .todos-signos .signos-content::-webkit-scrollbar{
		width:0;
		height:0;
	}
	.mod-horoscopo-detalle .todos-signos .signos-content::-webkit-scrollbar-track{
		background: transparent;
		-webkit-box-shadow: none;
	}
	.mod-horoscopo-detalle .todos-signos .signos-content::-webkit-scrollbar-thumb{
		background: transparent;
		-webkit-box-shadow: none;
	}
	
	/* NOTA */
	.page-entry-full{
		padding-top: 54px;
	}
	.page-entry-full .site-header{
		/*background-color: #FFF;*/
	}
	.page-entry-full .site-header .open-menu span:after,
	.page-entry-full .site-header .open-menu span:before,
	.page-entry-full .site-header .open-menu span{
		/*background-color: #b6b6b6;*/
	}
	.page-entry-full .site-header .open-menu:hover{
		/*background-color: white;*/
	}
	.page-entry-full .site-header .open-menu:active{
		background-color: #e5e5e5;
	}
	.page-entry-full .site-header .site-logo{
		
		/*position: absolute;
		left: 62px;
		width: 122px;
		height: 30px;
		background-image:url(/arte/v2/logoBlanco.png);
		background-size: 56px 31px;*/
	}
	.page-entry-full .site-header .site-logo img{
		display: none;
	}
	.page-entry-full .site-header .header-actions{
		/*display: none;*/
	}
	.page-entry-full .site-header .mobile-social{
		display: none;
		margin-top: 4px;
		margin-right: 4px;
	}
	.page-entry-full .site-header .mobile-social a{
		width: 41px;
		height: 41px;
		border-radius: 2px;
		margin-left: 2px;
		text-align: center;
		float: left;
	}
	.page-entry-full .site-header .mobile-social .fb{
		background-color: #4563a6;
	}
	.page-entry-full .site-header .mobile-social .fb:active{
		background-color: #3b558c;
	}
	.page-entry-full .site-header .mobile-social .tw{
		background-color: #01abf4;
	}
	.page-entry-full .site-header .mobile-social .tw:active{
		background-color: #029adb;
	}
	.page-entry-full .site-header .mobile-social .wsp{
		background-color: #47c13c;
	}
	.page-entry-full .site-header .mobile-social .wsp:active{
		background-color: #3ea834;
	}
	.page-entry-full .site-header .mobile-social .mail{
		background-color: #363636;
	}
	.page-entry-full .site-header .mobile-social .mail:active{
		background-color: #1c1c1c;
	}
	.page-entry-full .site-header .mobile-social span{
		margin-top: 50%;
		transform: translate( 0, -50%);
		-ms-transform: translate( 0, -50%);
		-moz-transform: translate( 0, -50%);
		-webkit-transform: translate( 0, -50%);
	}
	.page-entry-full .site-header .mobile-title{
		position: absolute;
		top: 100%;
		left: 0;
		display: block;
		height: 4px;
		font: 13px/26px "Open sans";
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0 10px;
		right: 0;
		background-color: #e9e9e9;
		box-shadow: 0 3px 2px -2px rgba(0,0,0,.13) inset;
	}
	.page-entry-full .site-header .mobile-title .bg{
		position: absolute;
		top: 0;
		left: 0;
		height: 26px;
		z-index: 0;
		background-color: #ff7007;
		box-shadow: 0 3px 2px -2px rgba(0,0,0,.13) inset;
	}
	.page-entry-full .site-header .mobile-title .text{
		position: relative;
		z-index: 2;
		/*display:none;*/
	}
	/* LONG FORM */
	.site-header.longform .open-menu{
		width: 60px;
		height: 50px;
	}
	.site-header.longform .open-menu span{
		top: 24px;
		left: 16px;
	}
	.site-header.longform .site-logo{
		width: 140px;
		margin-top: 6px;
	}
	.site-header.longform-patrocinada .open-menu{
		height: 50px;
		width: 62px;
		margin: 0;
	}
	.site-header.longform-patrocinada .open-menu span{
		top: 23px;
		left: 16px;
	}
	.site-header.longform-patrocinada .site-logo{
		left: 62px;
		width: 56px;
		height: 31px;
		background-image: url(/export/sites/debate/arte/v2/logo_debate_longform_mobile.png);
		background-size: 56px 31px;
	}
	.site-header.longform-patrocinada .site-logo img{
		display: none;
	}
	.site-header.longform-patrocinada .patrocinador{
		float: right;
		margin-top: 5px;
		margin-right: 5px;
	}
	.site-header.longform-patrocinada .patrocinador p{
		display: none;
	}
	/* NAVIGATION */
	.site-navigation{
		padding-top: 0;
	}
	.site-navigation .nav-header{
		margin-bottom: 0;
	}
	.site-navigation .site-logo{
		display: block;
	        margin: 14px auto 0;
	        
	        
		width: 99px;
		height:22px;
		float: none;
		background-image: url(/arte/v2/header_mobile_x2.png);
		background-size: 99px;
		background-repeat: no-repeat;	        
	}
	.site-navigation .site-logo img{
		width: 100%;
		height: auto;
		display:none;
	}
	.site-navigation .close-menu{
		top: -10px;
		left: -20px;
	}
	
	.site-navigation .social-login{
		display: block;
		padding: 20px 0 20px;
		overflow: hidden;
	}
	.site-navigation .social-login .pull-left{
		margin-top: 10px;
	}
	.site-navigation .social-login .pull-left a{
		margin-right: 10px;
	}
	.site-navigation .social-login .pull-left a.mg-g{
		margin-top:2px;
	}
	.site-navigation .social-login .user{
		float: left;
	}
	.site-navigation .social-login .user-notlogged{
		padding: 9px;
	}
	.site-navigation .social-login .user-logged .links{
		float: left;
		margin: 3px 10px 0 0;
	}
	.site-navigation .social-login .user-logged .links a{
		float: right;
		clear: both;
		color: white;
		font-size: 14px;
		line-height: 16px;
		margin: 2px 0 0;
	}
	.site-navigation .social-login .user-logged img{
		border-radius: 100%;
	}
	.site-navigation .column,
	.site-navigation .column + .column{
		width: 100%!important;
		margin: 0!important;
		border-top: 1px solid #3371d7;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.site-navigation .column.debate{
		display: none;
	}
	.site-navigation .column h5{
		font-size: 22px;
		border-bottom: none;
		margin-bottom: 1px;
	}
	.site-navigation .column li{
		width: 50%;
		float: left;
		margin: 0 0 8px;
	}
	.site-navigation .column a{
		font-size: 17px;
		line-height: 19px;
	}
	.site-navigation .navigation-links{
		margin-top: 15px;
		border-top: 1px solid #3371d7;
		padding-top: 15px;
	}
	.site-navigation .navigation-links li{
		margin: 0 15px 0 0!important;
	}
	.site-navigation .navigation-links li:before{
		display: none;
	}
	.site-navigation .navigation-links p,
	.site-navigation .navigation-links a{
		font-size: 12px;
	}
	/* SITE FOOTER */
	.site-footer{
		background-color: #004ecd;
		padding-top: 20px;
	}
	.site-footer .link-list{
		width: 50%;
	}
	.site-footer .link-lista{
		display: none;
	}
	.site-footer .footer-bottom .pull-right > img,
	.site-footer .tapa-container,
	.site-footer .site-logo img,
	.site-footer .content-patrocinadores{
		display: none;
	}
	.site-footer .footer-top{
		padding: 0;
		border-bottom: none;
		height: auto;
	}
	.site-footer .logo-container{
		width: 100%;
		overflow: hidden;
		padding-bottom: 10px;
		border-bottom: 1px solid #3371d7 ;
		margin-bottom: 13px;
		text-align: right;
		/* position: relative; */
		margin-top:10px;
	}
	.site-footer .logo-container .site-logo{
		margin: 0;
		background-image: url(/export/sites/debate/arte/v2/header_mobile_x2.png);
		background-repeat: no-repeat;
		width: 132px;
		height: 31px;
		background-size: 99px;
		top: -10px;
	}
	.site-footer .logo-container a{
		margin-left: 10px;
	}
	.site-footer .logo-container [class*="tw"]{
		margin-top: 1px;
	}
	.site-footer .column{
		display: block;
		padding-bottom: 4px;
		border-bottom: 1px solid #3371d7;
		margin-bottom: 17px;
	}
	.site-footer .column h5{
		font: 20px/24px "proximasemibold";
		color: white;
		margin-bottom: 11px;
	}
	.site-footer .column ul{
		overflow: hidden;
	}
	.site-footer .column li{
		float: left;
		width: 50%;
		margin-bottom: 8px;
	}
	.site-footer .column a{
		color: white;
	}
	.site-footer .column a:hover{
		text-decoration: underline;
	}
	.site-footer .column.column-sites li {
	    width: 100%;
	}
	.site-footer .link-list{
		padding: 0;
		display:none;
	}
	.site-footer .link-list li{
		width: auto;
		margin-right: 10px;
		margin-bottom: 0;
		line-height: 0;
	}
	.site-footer .link-list a{
		color: white;
		font-size: 12px;
		line-height: 15px;
	}
	.site-footer .footer-bottom p{
		font-size: 11px;
		color: rgba(255, 255, 255, .5);
	}
	.site-footer .footer-bottom .pull-right{
		clear: both;
		float: right;
        	margin-top: 5px;
	}
	.site-footer .footer-bottom a{
		margin: 10px 0 0!important;
	}
	/* TRENDING TOPICS */
	.box-trending-topics{
		display: none;
	}
	/* ALERTAS */
	.site-alert{
		padding: 13px 0 10px;
	}
	.site-alert .entry-title{
		padding: 0 15px;
		text-align: center;
		margin-bottom: 15px;
		font-size: 18px;
		line-height: 22px;
	}
	.site-alert .entry-title a{
		font: 19px/22px "proximasemibold";
	}
	.site-alert .entry-title span{
		display: block;
		margin: 0 0 9px;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 14px;
	}
	.site-alert .mod-social{
		position: static;
		overflow: hidden;
		text-align: center;
	}
	.site-alert .mod-social ul{
	        width: 118px;
		display: inline-block;
		float: none;
		overflow: hidden;
		margin: 0;
	}
	.site-alert .mod-social li {
	    margin: 0 9px;
	}
	.site-alert.box-alert-live{
		padding: 13px 15px 10px 165px;
		position: relative;
	}
	.site-alert.box-alert-live .entry-media{
		margin: 0;
		width: 143px;
		position: absolute;
		left: 15px;
		top: 13px;
	}
	.site-alert.box-alert-live .mod-data{
		padding: 0;
		min-height: 75px;
	}
	.site-alert.box-alert-live .entry-title{
		text-align: left;
		margin: 0;
		padding: 0;
		line-height : 18px;
		margin-left: 10px;
	}
	.site-alert.box-alert-live .entry-title a{
		font-size : 17px;
		line-height : 18px;
	}
	.site-alert.box-alert-live .mod-social{
		width: 100%;
		overflow: hidden;
		right: auto;
		position: relative;
		left: -76px;
		top: 11px;
		margin-bottom: 8px;
	}
	/* ALERTA ENCUESTA */
	.site-alert.poll{
		padding: 13px 15px 10px!important;
	}
	.site-alert.poll > .poll-info{
		padding: 0!important;
		text-align: center;
		display: block;
		margin-bottom: 15px;
		width: 100%;
		border: none!important;
	}
	.site-alert.poll .poll-binary{
		position: static;
		margin: 5px 0 0!important;
		text-align: center;
	}
	.site-alert.poll .poll-content{
		margin: 0!important;
	}
	.site-alert.poll .mod-social{
		display: block;
		clear: both;
	}
	
	/* ENTRY */
	.entry-box{
		margin-bottom: 15px;
		background-color: transparent!important;
	}
	.mod-entry-list .entry-list .entry-media{
		display: none;	
	}
	/* DESTACADO SIMPLE HOME */
	.entry-destacado.entry-big.entry-box .entry-media{
		width: 100%;
	}
	.entry-destacado.entry-big.entry-box .entry-label{
		left: 0;
		display: none;
	}
	.entry-destacado.entry-big.entry-box .entry-data{
		width: 100%;
		margin-bottom: 10px;
		padding-top: 10px;
	}
	.entry-destacado.entry-big.entry-box .entry-title a{
		font-size: 28px;
		line-height: 30px;
		
	}
	/* DESTACADO SOCIAL */
	.entry .entry-share .btn-share{
		display:none;}

	.entry-wide.entry-box .mod-list-social + .entry-data {
		position: relative;
		background: #2b2b2b;
	}
	.entry-wide.entry-box .entry-data{
		 padding: 37px 10px 16px 10px;
	}
	.entry-wide.entry-box .entry-data .entry-label,
	.entry-big.entry-box.big-750 .entry-data .entry-label,
	.entry-wide.entry-box .entry-data .entry-excerpt{
		display: none;
	}
	.entry-wide.entry-box .entry-data .entry-title{
		line-height: 20px;
    		margin-top: 18px !important;
	}
	.entry-wide.entry-box .entry-data .entry-title a{
		font-size: 18px;
		line-height: 23px;
		color: black;
	}
	.entry-wide.entry-box .entry-time{
		position: static;
            	/*top: 16px;*/
	}
	.entry-wide.entry-box .entry-author{
		position: static;
	        /*top: 14px;
	            left: 55px;*/
	}
	.entry-big.entry-box .gallery{
		position: absolute;
    		right: 10px;
    		bottom: 90px;
    		z-index: 1;
    		cursor: pointer;
	}
	/* ENCUESTAS */
	.poll-box.poll-box-home{
		padding: 35px 15px 20px;
	}
	
	

	/* DESTACADO ENCUESTA */
	.entry-wide.entry-box .video{bottom: 14px;}
	.entry-wide.entry-box figure{position: relative;}
	
	
	.entry-floated.entry-box .entry-title a{
		font-size: 16px;
	    	line-height: 20px;
	}

	.entry-floated.entry-box .entry-title a{
	    padding: 0 18px;
	 }
	 
	.entry-wide.entry-box.poll + .floated .entry-box{
		width: 100%;
	}
	.entry-wide.entry-box.poll + .floated .poll-binary{
		width: 100%;
		margin: 15px 0 0!important;
	}

	
	/* DESTACADO 1y2 - ENTRY BIG */
	.entry-big.entry-box .entry-title{
		line-height: 0;
		margin-top:0;
		padding:0;
	}
	.entry2-full.entry-box .entry-data,
	.entry-vertical.entry-box .entry-data,
	.entry-wide.entry-box .entry-data,
	.entry-big.entry-box .entry-data{
		position: static!important;
		background: none!important;
		padding: 0px!important;
		background-color: #FFFFFF!important;
	}
	
	.entry2-full.entry-box .entry-data .entry-time,
	.entry2-full.entry-box .entry-data .entry-title{
		padding: 0;
	}
	.entry2-full.entry-box .entry-data .entry-title a{
		color: black;
	}
		    
	.entry-big .entry-media span.shadow{
		display: none;
	}
	        
	.entry-wide.entry-box .entry-title a,   
	.entry-big.entry-box .entry-title a{
		font-size: 24px!important;
		line-height: 26px!important;
		color: #000000;
		margin:0;
	}
	
	.entry-big.entry-box .entry-time{
		padding:0;
	}
	
	.entry-big.entry-box .entry-author{
		margin-bottom: 3px;
	}
	.entry-big.entry-box .entry-excerpt{
		display: none;
	}
	.entry-big.entry-box .thumbDest .entry-label{
	        top: 0!important;
	        left: 0!important;
	}
	/* ENTRY 2 FULL */
	.entry2-full.entry-box{
		width: 100%;
		margin: 0 0 -25px!important;
	}
	/* DESTACADO DOBLE */
	.entry-pb3.entry-box{
		margin: 0 0 20px!important;
		width: 100%;
	}
	.entry-pb3.entry-box .entry-media img{
		width: 100%!important;
		height: auto!important;
	}
	.entry-pb3.entry-box .entry-data > * {
	    height: auto;
	    overflow: visible;
	}
	.entry-pb3.entry-box .entry-title a{
		font-size: 22px;
		line-height: 24px;
	}
	/* DESTACADA TRIPLE */
	.entry-vertical.entry-box{
		width: 100%;
		margin: 0 0 20px!important;
	}
	.entry-vertical.entry-box .entry-title a{
		color: black!important;
	}
	/* DESTACADO MINIATURAS */
	.mod-entry-wide.miniaturas{
		margin-bottom: 10px;
	}
	.mod-entry-wide.miniaturas .entry{
		width: 100%;
		margin: 0 0 10px!important;
		position: relative;
		padding: 0 0 0 150px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.mod-entry-wide.miniaturas .entry + .entry{
		border-top: 1px solid #ddd;
		padding-top: 10px!important;
	}
	.mod-entry-wide.miniaturas .entry + .entry .entry-media{
		top: 10px;
	}
	.mod-entry-wide.miniaturas .entry-media{
		position: absolute;
		top: 0px;
		left: 0;
	}
	.mod-entry-wide.miniaturas .entry-media img{
		max-width: 140px;
	}
	.mod-entry-wide.miniaturas .entry-data{
		height: 75px;
	}
	.mod-entry-wide.miniaturas .entry-title a{
		padding-top: 0!important;
	}
	/* ZONAS */
	.mod-zona.row-builder > .col8,
	.mod-zona.row-builder > .col4{
		width: 100%!important;
		text-align: center;
	}
	.mod-zona.row-builder > .col8 > *,
	.mod-zona.row-builder > .col4 > *{
		text-align: left;
	}
	.banner-box-hidden > .col.col8.no-margin > .entry.poll-box{
		width: 95%;
		margin: 0 auto 10px!important;
	}
	.banner-box-hidden > .col.col8.no-margin > .entry.poll-box .poll{
		height: auto;
	}
	.banner-box-hidden > .col.col8.no-margin > .entry{
		height: auto;
		float: none!important;
		display: inline-block;
		margin: 0 1% 10px!important;
		vertical-align: top;
	}
	.mod-zona .entry-box{
		width: 46%;
		margin: 0 2% 10px;
	}
	.mod-zona .entry-box .entry-share{
		display: none;
	}
	.mod-page-builder{
		margin-bottom: 18px;
	}
	.mod-page-builder .entry-box .entry-share{
		/*display: none;*/
	}
	.mod-page-builder .entry-box.col4 .entry-title,
	.mod-zona .entry-box .entry-title{
		height: 56px;
	}
	.mod-page-builder .entry-box.col4 .entry-title a,
	.mod-zona .entry-box .entry-title a{
		font-size: 16px;
		line-height: 18px;
	}
	.mod-zona .entry-box.entry-nophoto{
		position: relative;
		height: 0px;
		padding: 25.6% 0 90px!important;
		box-sizing: border-box;
	}
	.mod-zona .entry-box.entry-nophoto .entry-time{
		position: absolute;
		top: 35px;
		left: 10px;
		margin: 0;
		padding: 0;
	}
	.mod-zona .entry-box.entry-nophoto .entry-time:after{
		display: none;
	}
	.mod-zona .entry-box.entry-nophoto .entry-author{
		position: absolute;
		top: 50px;
		left: 10px;
		margin: 0;
		padding: 0;
	}
	.mod-zona .entry-box.entry-nophoto .entry-title{
		height: auto;
		position: absolute;
		top: 80px;
		left: 10px;
		right: 10px;
		padding: 0;
	}
	.mod-zona .entry-box.entry-nophoto .entry-excerpt{
		display: none;
	}
	.mod-zona .entry-box.entry-featured{
		width: 95%!important;
	}
	.mod-zona .entry-box.entry-featured .entry-title{
		height: auto!important;
	}
	.entry-big.entry-box a.entry-label {
		position: absolute;
	        top: 0;
	        left: 0;
	}
	.entry-big.entry-box figure{
	        margin-bottom:13px;
	}
	.mod-zona .entry-box.entry-featured .entry-title a{
		font-size: 20px;
		line-height: 22px;
	}
	
	/* BANNER */
	.banner{
		width: 100%;
		margin-bottom: 15px!important;
	}
	.banner,
	.banner > *{
		text-align: center!important;
	}
	.banner.banner-fixed{
		position: static!important;
		padding: 0;
	}
	/* LO ULTIMO */
	.mod-entry-list.mod-loultimo{
		display: none;
	}
	.site-loultimo .mod-entry-list.mod-loultimo{
		display: block;
		margin: 15px;
	}
	.site-loultimo .mod-entry-list.mod-loultimo .mod-title{
		display: none;
	}
	.site-loultimo .mod-entry-list.mod-loultimo li + li + li + li{
		display: block;
	}
	.site-loultimo .mod-entry-list.mod-loultimo .mod-content{
		height: auto;
	}
	/* RANKING HOME */
	.mod-ranking-news{
		padding: 0;
		background-color: transparent;
		margin-bottom: 15px;
	}
	.mod-ranking-news .mod-title{
		padding: 0 10px;
		font-size: 22px;
		line-height: 24px;
	}
	.mod-ranking-news .mod-controls{
		display: none;
	}
	.mod-ranking-news .swiper-wrapper{
		max-width: 100%;
		width: 100%!important;
		display: block;
		transform: translate3d(0,0,0)!important;
		-ms-transform: translate3d(0,0,0)!important;
		-webkit-transform: translate3d(0,0,0)!important;
	}
	.mod-ranking-news .swiper-slide{
		width: 100%!important;
		height: 86px!important;
		border-bottom: 1px solid white;
	}
	.mod-ranking-news li + li + li + li + li + li{
		display: none!important;
	}
	.mod-ranking-news .ranking-list .entry{
		width: 100%;
		height: 86px;
		padding: 0 10px 0 60px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: none;
	}
	.mod-ranking-news .ranking-list .entry:hover{
		background-color: black;
	}
	.mod-ranking-news .ranking-list .entry-label,
	.mod-ranking-news .ranking-list .entry-media{
		display: none;
	}
	.mod-ranking-news .ranking-list .entry-ranking{
		position: absolute;
		top: 0;
		left: 0;
		width: 43px;
		height: 46px;
		padding: 40px 0 0;
	}
	.mod-ranking-news .ranking-list .entry-title{
		margin: 0;
		display: table;
		height: 86px;
		width: 100%;
	}
	.mod-ranking-news .ranking-list .entry-title a{
		padding: 0;
		vertical-align: middle;
		display: table-cell;
	}
	
	/* MODULO OPINION */
	.mod-editorials{
		background-color: #e9e9e9;
		padding: 20px 15px 0;
	}
	.mod-editorials .mod-title{
		border-bottom: none;
	}
	.mod-editorials .mod-title a + a{
		display: block;
	}
	.mod-editorials .editorials-articles li{
		float: none;
		width: 100%;
		overflow: hidden;
		padding-bottom: 0;
		padding-top: 0;
	}
	.mod-editorials .editorials-articles li + li{
		padding: 0;
		border: none;
		margin-top: 23px;
	}
	.mod-editorials .editorials-media{
		float: left;
		width: 72px;
		margin-right: 13px;
		margin-bottom: 0px;
	}
	.mod-editorials .editorials-media a{
		width: 100%;
		height: 72px;
	}
	.mod-editorials .editorials-media img{
		width: 100%;
		height: auto;
	}
	.mod-editorials .editorials-data{
		display: block;
		margin-top: -5px;
	}
	.mod-editorials .editorials-author{
		font-size: 13px;
		line-height: 15px;
		color: #004ecd;
		font-weight: normal;
	}
	.mod-editorials .entry-time{
		color: #8a8a8a;
		margin: 0;
	}
	.mod-editorials .editorials-excerpt{
		height: auto;
	}
	.mod-editorials .editorials-excerpt a{
		font-size: 17px;
		font-weight: 600;
		height: auto;
	}

	/* MOD ENTRY LIST */
	.mod-entry-list .mod-title{
		border-top: 6px solid #004ecd;
		padding-top: 15px;
	}
	.mod-entry-list .mod-content > a{
		display: block;
	}
	.mod-entry-list .mod-content .entry-title a{
		font-size: 16px!important;
		line-height: 18px!important;
	}
	.mod-entry-list .entry-box{
		width: 100%!important;
		margin: 0!important;
		height: auto;
	}
	.mod-entry-list .entry-box .entry-data{
		background-color: transparent;
		padding: 10px 0;
		border-bottom: 1px solid #dfdfdf;
	}
	.mod-entry-list .entry-box .entry-title{
		height: auto;
	}
	.mod-entry-list .entry-box .entry-title a{
		color: black;
	}
	.mod-entry-list .entry-list{
		height: auto;
	}
	.mod-entry-list  li + li + li + li{
		display: none;
	}
	.mod-entry-list.mod-loultimo .mod-content li {
	    padding: 0 5px 0 18px;
	}
	/* SECCION SEXY E INSOLITO */
	.mod-sexyinsolito .entry-sexy{
		width: 100%;
		margin: 0 0 20px!important;
	}
	/* SECTION CARTONES */
	.section-cartoones{
		padding: 15px 0 20px;
	}
	.section-cartoones .mod-title{
		padding:0 15px;
	}
	/* SECCIONES */
	.section-title{
		font-size: 24px;
		line-height: 26px;
		margin: 20px 0 15px 15px;
	}
	/* PAGE DEPORTES */
	.page_deportes .mod-page-builder .col8{
		width: 100%!important;
		margin: 0 0 20px;
	}
	.page_deportes .mod-page-builder .entry-big.entry-box{
		margin-bottom: 0;
	}

	.page_deportes .mod-page-builder .col4{
		float: left;
		width: 100%;
		margin: 0 0 20px;
	}
	/* MOBILE TABS */
	.mobile-tabs{
		display: block;
	}
	.mobile-tabs-main .site-content{
		height: 100%;
		overflow: hidden;
		transition: all 0s 0s;
		-ms-transition: all 0s 0s;
		-webkit-transition: all 0s 0s;
	}
	.mobile-tabs-main.active .site-content{
		height: 1px;
		transition-delay: .4s;
		-ms-transition-delay: .4s;
		-webkit-transition-delay: .4s;
	}
	/* ENTRY FULL */
	.entry-full.entry-first{
		padding-top: 0;
	}
	.entry-full .col8,
	.entry-full .col4{
		width: 100%;
	}
	.entry-full .box-fixed{
		position: static!important;
		width: 100%!important;
		display: none;
	}
	.entry-longform .box-fixed{
		position: static!important;
		width: 100%!important;
		display: inline-block;
	}
	.entry-full .box-fixed .mod{
		display: none;
	}
	.entry-template-media .entry-featured-media{
		height: 70vh;
	}
	.entry-template-media .entry-featured-media:before{
		height: 65%;
	}
	.entry-full .entry-header .entry-title, 
	.entry-template-media .entry-featured-media .entry-title{
		font-size: 28px;
		line-height: 30px;
	}
	.entry-template-media .entry-featured-media .figcaption{
		display: none;
	}
	.entry-template-media .entry-featured-media{
		margin-bottom: 10px;
	}
	.entry-full .entry-path{
		font-size: 12px;
		padding-bottom: 2px!important;
	}
	.entry-full .entry-header{
		padding: 20px 0 0;
		margin-bottom: 13px;
	}
	.entry-full .entry-header .entry-time{
		display: none;
	}
	.entry-full .entry-header .entry-subtitle{
		font-size: 17px;
		line-height: 21px;
	}
	.entry-full .entry-header .entry-share{
		display: none;
	}
	.entry-full .entry-body{
		padding: 0;
	}
	.entry-full .body-sidebar{
		position: static;
		width: auto;
		overflow: hidden;
	}
	.entry-full .entry-author{
		margin: 0;
		float: left;
	}
	.entry-full .entry-author img{
		display: none;
	}
	.entry-full .entry-author span{
		float: left;
		margin: 0;
	}
	.entry-full .entry-author .author-name{
		color: black!important;
		margin-left: 5px;
		position: relative;
	}
	.entry-full .entry-author + .entry-author span{
		display: none;
	}
	.entry-full .entry-author + .entry-author .author-name:before{
		content: ",";
		position: absolute;
		left: -5px;
		bottom: 0;
	}
	
	
	.entry-full .body-sidebar .share-mobile{
	    	 position: fixed;
   		bottom: -47px;
   		width: 94%;
    		left: 3%;
		transition: bottom .3s;
		z-index: 1000;
    		background-color: #FFFFFF;
		display: block;



	}
	.entry-full .body-sidebar .share-mobile.active{
	        bottom:-4px;


	}
	.entry-full .body-sidebar .share-mobile .entry-share{
		margin:0;
	}

	
	
	.entry-full .body-sidebar .entry-share{
		width: 100%!important;
		clear: both;
		position: static!important;
		float: left;
		margin: 10px 0 15px;
	}
	.entry-full .body-sidebar .entry-share a{
		left: 0;
		float: left;
		width: 25%;
		height: 41px;
		position: relative;
		padding-left: 25px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.entry-full .body-sidebar .entry-share .comment,
	.entry-full .body-sidebar .entry-share .gp{
		display: none;
	}
	.entry-full .body-sidebar .entry-share .wsp{
		display: block;
	}
	.entry-full .body-sidebar .entry-share a + a{
		width: 24%;
		margin-left: 1%;
	}
	.entry-full .body-sidebar .entry-share [class*="icn-"]{
		position: absolute;
		left: 5px;
		top: 50%;
		margin-top: 0;
	}
	.entry-full .entry-share .tw [class*="icn-"] {
		left: 50%;
    		transform: translate(-50%,-50%);
    		margin: 0;
	}
	.entry-full .body-sidebar .entry-share [class*="icn-f"]{
		left: 8px;
	}
	.entry-full .body-sidebar .entry-share [class*="icn-wsp"],
	.entry-full .body-sidebar .entry-share [class*="icn-mail"]{
		left: 50%;
		transform: translate( -50%, -50% );
		-ms-transform: translate( -50%, -50% );
		-webkit-transform: translate( -50%, -50% );
	}
	.entry-full .body-sidebar .entry-share .number{
		left: 25px;
		bottom: 15px;
		text-align: left;
	}
	.entry-full .entry-body > p{
		font-size: 16px;
		line-height: 25px;
	}
	.entry-full .entry-body blockquote p{
		font-size: 20px;
		line-height: 28px;
	}
	.entry-full .entry-body li{
		font-size: 16px;
		line-height: 25px;
		font-family: "domine";
		margin-bottom: 5px;
	}
	.entry-full .entry-body figure.image.long, 
	.entry-full .entry-body figure.image.long figcaption{
		    background-attachment: initial!important;
	}
	/* MOD COMMENTS */
	.mod-comments .comment-module{
		width: 100%;
	}
	.mod-comments .comment-header,
	.mod-comments .comment-header a{
		height: 50px;
		margin-bottom: 10px;
	}
	.mod-comments .comment-header a span{
		margin-top: 12px;
	}
	.mod-comments .comment-header .text{
		line-height: 50px;
	}
	.mod-comments .comment-title{
		font-size: 18px;
		line-height: 20px;
		padding: 0 15px;
	}
	.mod-comments .comment-date{
		padding: 0 15px;
	}
	.mod-comments .comment-content{
		padding: 0 15px;
		top: 130px;
	}
	.mod-comments .comment-form{
		padding-left: 0;
	}	
	.mod-comments .form-media{
		display: none;
	}
	.mod-comments .comment-form textarea{
		font-size: 16px;
		line-height: 18px;
	}	
	.mod-comments .user-logged fieldset p{
		width: 100%;
		padding: 0;
		line-height: 16px;
		margin-bottom: 4px;
	}
	.mod-comments .user-logged .captcha-box input[type="text"]{
		width: 88px;
	}
	.mod-comments .user-logged fieldset:first-child{
		margin-bottom: 7px;
	}
	.mod-comments .user-logged fieldset label{
		line-height: 25px;
	}
	.mod-comments .comment-list .comment-top time{
		display: block;
		margin: 0;
	}
	.mod-comments .comment-actions [class*="icn-"]{
		display: none;
	}
	/* MOD LIST */
	.mod-list .entry-title{
		margin-bottom: 12px;
	}
	.mod-list .entry-title a{
		font-size: 16px;
		line-height: 19px;
	}
	/* MOD OUTBRAIN */
	.mod-outbrain .mod-content .ob-widget{
		min-width: 0!important;
	}
	/* ENTRY LONG FORM */
	.entry-longform .entry-featured-media{
		padding-bottom: 10px;
	}
	.entry-longform .entry-featured-media .entry-author{
		display: none;
	}
	.entry-longform .entry-header{
		padding-top: 0;
		border-top: none;
	}
	.entry-longform .entry-content{
		padding-bottom: 30px;
	}
	.entry-full .entry-body figure.image.long span{
		padding: 0 15px;
	}
	.entry-longform .mod-author{
		padding: 92px 15px 20px;
		text-align: center;
	}
	.entry-longform .mod-author .mod-title{
		white-space: nowrap;
		font-size: 14px;
	}
	.entry-longform .mod-author .author-media{
		top: 19px;
		left: 50%;
		margin-left: -30px;
	}
	.entry-longform .mod-author img{
		width: 60px!important;
		height: 60px!important;
	}
	.entry-longform .mod-author a{
		font-size: 13px;
		line-height: 16px;
	}
	.entry-longform .mod-author p{
		text-align: left;
		font-size: 13px;
		line-height: 17px;
	}
	.entry-longform .entry-share .wsp{
		display: block;
	}
	.entry-longform .entry-share a{
		height: 40px;
		width: 19.1%;
	}
	.entry-longform .entry-share .tw,
	.entry-longform .entry-share .fb{
		text-align: left;
		padding-left: 6px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}	
	.entry-longform .entry-share a span{
		margin-top: 20px!important;
	}
	.entry-longform .entry-share a .number{
		font-size: 12px;
		margin-top: 15px!important;
	}
	.entry-longform .mod-especiales .mod-title{
		font-size: 18px;
		line-height: 20px;
	}
	.entry-longform .mod-especiales .entry-box{
		width: 48%;
		margin-left: 0!important;
	}
	.entry-longform .mod-especiales .entry-box:nth-child(even){
		margin-left: 4%!important;
	}
	.entry-longform .mod-especiales .entry-data{
		padding-bottom: 10px;
		padding-top: 30px;
	}
	.entry-longform .mod-especiales .entry-title a{
		font-size: 15px;
		line-height: 16px;
	}
	/* PAGE DTB TV */
	.page_dbt_tv .entry-player{
		padding: 0 0 70px!important;
	}
	.page_dbt_tv .entry-player .entry-data{
		padding-right: 0!important;
	}
	.page_dbt_tv .entry-player .entry-title{
		font-size: 24px;
		line-height: 26px;
	}
	.page_dbt_tv .entry-player .entry-title a{
		font: inherit!important;
	}
	.page_dbt_tv .entry-player .entry-take-part{
		width: 100%;
		box-sizing: border-box;
		bottom: 10px;
	}
	.page_dbt_tv .entry-player .entry-comments-count{
		position: absolute;
		top: 10px;
		right: 0;
	}
	.page_dbt_tv .mod-zona-videos .entry1.entry-box{
		left: 0;
		margin: 0 0 20px!important;
		width: 100%;
	}
	
	.page_dbt_tv .entry-single .entry-single-title{
		font-size: 32px;
		line-height: 38px;
	}
	.page_dbt_tv .entry-take-part{
		width: 100%!important;
		box-sizing: border-box;
		margin-top: 20px;
	}
	.page_dbt_tv .ranking-list .entry1.entry-box{
		width: 100%;
		height: 86px;
		padding: 0 10px 0 60px;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: none;
	}
	.page_dbt_tv .entry1.entry-box .entry-data span.eye.small{
		left: auto;
		bottom: 0;
		right: 10px;
	}
	.page_dbt_tv .ranking-list .entry1.entry-box.entry-nophoto .entry-data{
		padding-top: 0;
	}
	.page_dbt_tv .entry-single .entry-single-content > p:first-of-type,
	.page_dbt_tv .entry-single .entry-single-content .entry-single-media + p{
		padding: 0;
	}
	/* POPUP */
	/* POPUP LOGIN */
	.pup.pup-login .pup-main .col{
		width:100%;
	}
	.pup.pup-login .pup-main .col + .col{
		padding-right: 0;
	}
	.pup.pup-login .pup-main .col + .col:before{
		display: none;
	}
	.pup.pup-login .pup-main .col:first-child h4{
		font-size: 0;
	}
	.pup.pup-login .pup-main .col:first-child h4:after{
		content:"Conectate con...";
		font-size: 16px
	}
	/* LOGIN */
	.page-registro .site-cont{
		margin: 0 15px;
	}
	.page-registro .registracion .col_5{
		width: 100%;
		border: none;
		padding: 0;
		margin: 20px 0 10px;
	}
	.page-registro .form-elements fieldset{
		padding-right: 0!important;
	}
	.page-registro .registracion .openid,
	.page-registro .registracion .botones,
	.page-registro .registracion .subTitle{
		margin-left: 0!important;
	}
	.page-registro .box-registrate-ya{
		margin-top: 20px;
	}
	/* SUMARIOS */
	.layout.aviso-privacidad .col4{
		display: none;
	}
	.aviso-privacidad .sumario.col8full{
		width: 100% !important;
		padding: 0;
		border: none;
	}
	/* BUSCACOR */
	.row-builder.row-search{
	    padding:0;
	}
	.mod-buscar-top {
	    padding: 9px 15px;
	    margin-top: -15px;
	}
	.mod-buscar #form-search {
	    width: auto;
	    max-width: 100%;
	}
	.mod-buscar .buscar {
		background-size: 22px;
		padding-left: 35px;
		background-position: 0 19px;
		top: 0;
	}
	.mod-buscar .buscar::before {
	    height: 56px;
	    top: 3px;
	}
	.mod-buscar .buscar input {
	    font-size: 18px;
	    padding-left: 8px;
	    max-width: 100%;
	    text-overflow: ellipsis;
	}
	.mod-buscar .tag-image{
		display: none;
	}
	.site-content.buscador .col8{
		width: 100%!important;
		padding: 0 0 0 0%;
	}
	/* PHOTOGALLERY */
	.mod-photogallery {
	    margin: 0 -15px 28px;
	}
	.mod-photogallery figcaption{
		margin: 0 15px!important;
	}
	
	
	
	
	
	.gallery-fullscreen footer{
		padding: 7px 110px 7px 20px;
		height: 42px;
	}
	.gallery-fullscreen .gallery-nav p{
		display: none;
	}
	.gallery-fullscreen footer li p{
		height: 42px;
	}
	/* ENCUESTA */
	.poll.poll-multiple.poll-results .poll-text {
		padding-right: 40px;
	}
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.entry-wide.entry-box.entry-wide.vivo .entry-data{
		position: relative;
		background:#2b2b2b;
	}
	.entry-wide.entry-box.entry-wide.vivo .entry-title a {
    		font: bold 16px/16px "Open Sans";
	}
	.ranking-list .entry1.entry-box.entry-nophoto .entry-data{
		padding-top: 0px;
	}
	.entry-big.entry-box .gallery {
	    position: absolute;
	    right: 10px;
	    bottom: 108px;
	    z-index: 1;
	    cursor: pointer;
	}
	
}
		
}