@font-face {
	font-family: 'icomoon';
	src:url('/system/modules/com.tfsla.diario.debate/resources/fonts/icomoon.eot');
	src:url('/system/modules/com.tfsla.diario.debate/resources/fonts/icomoon.eot?#iefix-xxn8x9') format('embedded-opentype'),
		url('/system/modules/com.tfsla.diario.debate/resources/fonts/icomoon.woff') format('woff'),
		url('/system/modules/com.tfsla.diario.debate/resources/fonts/icomoon.ttf') format('truetype'),
		url('/system/modules/com.tfsla.diario.debate/resources/fonts/icomoon.svg?-xxn8x9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'dominebold';
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-bold-webfont.eot');
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-bold-webfont.woff') format('woff'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-bold-webfont.ttf') format('truetype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-bold-webfont.svg#dominebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'domine';
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-regular-webfont.eot');
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-regular-webfont.woff') format('woff'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-regular-webfont.ttf') format('truetype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/domine-regular-webfont.svg#domineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximabold';
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-bold-webfont.eot');
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima';
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-regular-webfont.eot');
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proximalight';
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-light.eot');
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-light.woff2') format('woff2'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-light.woff') format('woff'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-light.ttf') format('truetype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-light.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximasemibold';
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-semibold-webfont.eot');
    src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('/system/modules/com.tfsla.diario.debate/resources/fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'proximaitalic';
	src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-RegularItalic-webfont.eot');
	src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-RegularItalic-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-RegularItalic-webfont.woff') format('woff'),
	     url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-RegularItalic-webfont.ttf') format('truetype'),
	     url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-RegularItalic-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proximaextrabold';
	src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-Extrabold-webfont.eot');
	src: url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-Extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-Extrabold-webfont.woff') format('woff'),
	     url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-Extrabold-webfont.ttf') format('truetype'),
	     url('/system/modules/com.tfsla.diario.debate/resources/fonts/ProximaNova-Extrabold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}