.jw-icon{
	font-family:'jw-icons';
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	background-color:transparent;
	font-variant:normal;
	-webkit-font-feature-settings:"liga";
	-moz-font-feature-settings:"liga=1";
	-moz-font-feature-settings:"liga";
	-ms-font-feature-settings:"liga" 1;
	-o-font-feature-settings:"liga";
	font-feature-settings:"liga";
	-moz-osx-font-smoothing:grayscale
}
.entry.entry-box.entry-wide.vivo  .jwplayer{
	width: 100% !important;
}
.jwplayer.jw-state-buffering .jw-display-icon-container .jw-icon-display:before{
	content:"\e610";
}
.ytp-bezel,.ytp-hide-controls .ytp-watermark{
	display:none !important;
}
.jw-skin-debate-audio .jw-controlbar .jw-icon-rewind{
	display: none;
}
.jw-skin-debate-audio.jw-state-paused.jw-flag-user-inactive .jw-controlbar {
	opacity: 1!important;
}
.jw-state-paused.jw-flag-user-inactive .jw-controlbar{
	opacity:0;
}
.jw-display-icon-container{
	width: 66px;
       height: 66px;
}
.entry .entry-media .jw-display-icon-container{
	width: 46px;
       height: 46px;
}
.entry .entry-media .jw-icon-display{
	font-size: 22px;
        line-height: 46px;
}
.jwplayer.jw-state-buffering .jw-display-icon-container .jw-icon-display{
        background-color:transparent;
}
.jw-controlbar .jw-overlay{
	bottom: 45px;
}
.jw-skin-debate .jw-icon.jw-icon-tooltip.jw-tooltip-time.jw-button-color.jw-reset .jw-overlay.jw-reset{
	bottom: 8px;
}
.entry .entry-media .jw-controlbar .jw-overlay{
	bottom: 34px;
}
.entry .entry-media .jw-controlbar .jw-tooltip-time .jw-overlay{
	bottom: 4px;
}
.jw-skin-debate .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-controlbar-left-group{
	line-height: 0;
       vertical-align: top;
}
.jw-controlbar{
	padding:0
}
.entry.entry-box.entry-wide.vivo .jw-skin-debate .jw-controlbar,
.jw-skin-debate .jw-controlbar{
	background: rgba(45,45,45,0.9);
        height: 50px;
}
.entry .entry-media .jw-skin-debate .jw-controlbar{
   height: 35px;
}
.jw-skin-debate .jw-text{
	color:#fff;
}
.jw-skin-debate .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate .jw-button-color{
	color:#fff
}
.jw-skin-debate .jw-button-color:hover{
	background-color:#004ecd;
	color:#fff;
}
.jw-skin-debate .jw-icon.jw-icon-tooltip.jw-tooltip-time.jw-button-color.jw-reset,
.jw-skin-debate-yt .jw-icon.jw-icon-tooltip.jw-tooltip-time.jw-button-color.jw-reset{
        width: 25px !important;
        height: 3px !important;
}
.jw-flag-compact-player .jw-icon-playlist, 
.jw-flag-compact-player .jw-text-elapsed, 
.jw-flag-compact-player .jw-text-duration{
	display: inline-block;
}
.entry .entry-media .jw-flag-compact-player .jw-icon-playlist, 
.entry .entry-media .jw-flag-compact-player .jw-text-elapsed, 
.entry .entry-media .jw-flag-compact-player .jw-text-duration{
	font-size: 11px;
}
.jw-skin-debate .jw-toggle{
	color:#fff
}
.jw-skin-debate .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-debate .jw-icon-display{
	color:#fff!important;
}
.jw-skin-debate .jw-display-icon-container{	
	background-color: rgba(22,93,208,0.8)!important;
	
}
.jw-skin-debate .jw-display-icon-container:hover{
	background-color: rgba(22,93,208,1)!important;
}

.jw-skin-debate .jw-rail{
	background:#7a7a7a
}
.jw-skin-debate .jw-buffer{
	background:#d3d3d3
}
.jw-skin-debate .jw-progress{
	background:#004ecd
}
.jw-skin-debate .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-debate .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-debate .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-debate .jw-time-tip,
.jw-skin-debate .jw-volume-tip,
.jw-skin-debate .jw-menu{
	background:rgba(45,45,45,0.9);
	border:0;
	padding:.5em
}
.jw-skin-debate .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-debate .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-debate .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-debate .jw-time-tip .jw-text,
.jw-skin-debate .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-debate .jw-time-tip{
	bottom:1em
}
.jw-skin-debate .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-debate .jw-dock-button:hover{
	background:#000
}
.jw-skin-debate .jw-playlist-container{
	padding:0
}
.jw-skin-debate .jw-icon-inline, 
.jw-skin-debate .jw-icon-tooltip, 
.jw-skin-debate .jw-text-elapsed, 
.jw-skin-debate .jw-text-duration {
    padding: 0 5px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback{
    border-right: 1px solid #555554;
}
.entry .entry-media .jw-skin-debate .jw-icon-inline,
.entry .entry-media .jw-skin-debate .jw-icon-tooltip,
.entry .entry-media .jw-skin-debate .jw-text-elapsed,
.entry .entry-media .jw-skin-debate .jw-text-duration{
	padding:0 5px;
	line-height: 32px;
	height: 35px;
	width:35px;
	box-sizing: border-box;
	text-align: center;
}
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-icon-inline,
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-icon-tooltip,
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-text-elapsed,
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-text-duration{
	padding:0 5px;
	line-height: 50px;
	height: 50px;
	width:50px;
	box-sizing: border-box;
	text-align: center;
	font-size: 15px;
}

.jw-skin-debate .jw-time-tip,
.jw-skin-debate .jw-volume-tip,
.jw-skin-debate .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-debate .jw-skip{
	border-radius:.25em
}
.jw-skin-debate .jw-option{
	color:#fff!important;
	text-align: left;
}
.jw-skin-debate .jw-option:hover{
	color:#004ecd!important;
}
.jw-skin-debate .jw-option:hover,
.jw-skin-debate .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-debate .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-debate .jw-playlist-container .jw-option,
.jw-skin-debate .jw-playlist-container .jw-text,
.jw-skin-debate .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-debate .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-debate .jw-playlist-container .jw-option:hover,
.jw-skin-debate .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-debate .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-debate .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-debate .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-debate .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-debate .jw-slider-horizontal{
	line-height: 10px;
}
.jw-skin-debate .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-debate .jw-slider-horizontal .jw-rail,
.jw-skin-debate .jw-slider-horizontal .jw-progress,
.jw-skin-debate .jw-slider-horizontal .jw-buffer{
	height:3px;
}
.jw-skin-debate .jw-slider-horizontal .jw-knob,
.jw-skin-debate .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-debate .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-debate .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-debate .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-debate .jw-icon-hd{
	display:inline-block;
	border-left: 1px solid #555554;
}
.jw-icon-volume{
	border-left: 1px solid #555554;
}
.jw-icon-fullscreen{
	border-left: 1px solid #555554;
}
.jw-icon-hd:before{
       font-size: 25px;
}
.entry .entry-media .jw-icon-hd:before{
       font-size: 17px;
}
.jw-skin-debate .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-debate .jw-slider-vertical .jw-rail{
	background-color:#d3d3d3
}
.jw-skin-debate .jw-slider-vertical .jw-rail,
.jw-skin-debate .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-debate .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-debate .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-debate.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}
.entry.entry-box.entry-big .entry-media[itemprop="video"] .jwplayer .jw-display-icon-container{
	position:relative;
	z-index:9;
	width: 77px;
    	height: 77px;
}
.entry.entry-box.entry-big .entry-media[itemprop="video"] .jwplayer .jw-display-icon-container .jw-icon-display:before {
    font-size: 38px;
    line-height: 60px;
}
.entry.entry-box.entry-wide.vivo  .jwplayer .jw-display-icon-container .jw-icon-display:before{
	font-size: 60px;
	line-height: 110px;
}
.entry.entry-box.entry-wide.poll .jwplayer .jw-display-icon-container .jw-icon-display:before{
	font-size: 41px;
	line-height: 69px;
}
.entry.entry-box.entry-wide.vivo  .jwplayer .jw-display-icon-container{
	position:relative;
	z-index:9;
	width: 110px;
    	height: 110px;
    	margin-top: -50px;
}
.entry.entry-box.entry-wide.poll .jwplayer .jw-display-icon-container{
	position:relative;
	z-index:9;
	width: 77px;
    	height: 77px;
}
.entry.entry-box.entry-wide.vivo  .jwplayer .jw-display-icon-container{
	top: 235px;
}
.entry.entry-box.entry-wide.vivo .jw-icon-display {
	font-size: 35px;
    	line-height: 54px;
}
.jwplayer.jw-state-paused .jw-display-icon-container{
	display: table;
}

/*Audio*/
.jw-icon{
	font-family:'jw-icons';
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:normal;
	text-transform:none;
	background-color:transparent;
	font-variant:normal;
	-webkit-font-feature-settings:"liga";
	-moz-font-feature-settings:"liga=1";
	-moz-font-feature-settings:"liga";
	-ms-font-feature-settings:"liga" 1;
	-o-font-feature-settings:"liga";
	font-feature-settings:"liga";
	-moz-osx-font-smoothing:grayscale
}
.audio-title {
    font: 18px/20px "proximabold";
    text-transform: uppercase;
    color: #004ecd;
    margin: 20px auto 10px auto;
}
.jw-skin-debate-audio .jw-display-icon-container{
	display:none !important;
}
.jw-skin-debate-audio .jw-controlbar-left-group,
.jw-skin-debate-audio .jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback{
	line-height: 40px;
}

.jw-skin-debate-audio .jw-icon-inline, 
.jw-skin-debate-audio .jw-icon-tooltip, 
.jw-skin-debate-audio .jw-text-elapsed, 
.jw-skin-debate-audio .jw-text-duration,
.jw-skin-debate-audio .jw-icon-inline, 
.jw-skin-debate-audio .jw-icon-tooltip, 
.jw-skin-debate-audio .jw-text-elapsed, 
.jw-skin-debate-audio .jw-text-duration {
    padding:0px 5px;
    line-height: 13px;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    text-align: center;
}
.jw-skin-debate-audio .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-debate-audio .jw-controlbar{
	background: rgba(45,45,45,0.9);
        height: 40px!important;
}
.jw-skin-debate-audio .jw-text{
	color:#fff;
}
.jw-skin-debate-audio .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-audio .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-audio .jw-button-color{
	color:#fff
}
.jw-skin-debate-audio .jw-button-color:hover{
	background-color: #004ecd;
	color:#fff;
}
.jw-skin-debate-audio .jw-toggle{
	color:#fff
}
.jw-skin-debate-audio .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-audio .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-audio .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-debate-audio .jw-icon-display{
	color:#fff!important;
	font-size: 1.5em!important;
	text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
	display:none;
}
.jw-skin-debate-audio .jw-display-icon-container{
	border-radius:0;
	height: 41px;
	width: 41px;
	background-color: #0eecb0!important;
	top: 55%!important
}

.jw-skin-debate-audio .jw-rail{
	background:#d3d3d3
}
.jw-skin-debate-audio .jw-buffer{
	background:#d3d3d3
}
.jw-skin-debate-audio .jw-progress{
	background:#004ecd
}
.jw-skin-debate-audio .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-debate-audio .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-debate-audio .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-debate-audio .jw-time-tip,
.jw-skin-debate-audio .jw-volume-tip,
.jw-skin-debate-audio .jw-menu{
	background:rgba(47,52,60,0.9);
	border:0;
	padding:.5em
}
.jw-skin-debate-audio .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-debate-audio .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-audio .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-debate-audio .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-debate-audio .jw-time-tip .jw-text,
.jw-skin-debate-audio .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-debate-audio .jw-time-tip{
	bottom:1em
}
.jw-skin-debate-audio .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-debate-audio .jw-dock-button:hover{
	background:#000
}
.jw-skin-debate-audio .jw-playlist-container{
	padding:0
}
.jw-skin-debate-audio .jw-icon-inline,
.jw-skin-debate-audio .jw-icon-tooltip,
.jw-skin-debate-audio .jw-text-elapsed,
.jw-skin-debate-audio .jw-text-duration{
	padding:0 5px;
	line-height: 40px;
}
.jw-skin-debate-audio .jw-time-tip,
.jw-skin-debate-audio .jw-volume-tip,
.jw-skin-debate-audio .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-debate-audio .jw-skip{
	border-radius:.25em
}
.jw-skin-debate-audio .jw-option{
	color:#fff!important;
}
.jw-skin-debate-audio .jw-option:hover{
	color:#004ecd!important;
}
.jw-skin-debate-audio .jw-option:hover,
.jw-skin-debate-audio .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-debate-audio .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-debate-audio .jw-playlist-container .jw-option,
.jw-skin-debate-audio .jw-playlist-container .jw-text,
.jw-skin-debate-audio .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-debate-audio .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-debate-audio .jw-playlist-container .jw-option:hover,
.jw-skin-debate-audio .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-debate-audio .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-debate-audio .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-debate-audio .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-debate-audio .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-debate-audio .jw-slider-horizontal{
	line-height: 10px;
}
.jw-skin-debate-audio .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-debate-audio .jw-slider-horizontal .jw-rail,
.jw-skin-debate-audio .jw-slider-horizontal .jw-progress,
.jw-skin-debate-audio .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-debate-audio .jw-slider-horizontal .jw-knob,
.jw-skin-debate-audio .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-debate-audio .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-debate-audio .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-debate-audio .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-debate-audio .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-debate-audio .jw-slider-vertical .jw-rail{
	background-color:#7a7a7a
}
.jw-skin-debate-audio .jw-slider-vertical .jw-rail,
.jw-skin-debate-audio .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-debate-audio .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-debate-audio .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-debate-audio.jw-flag-audio-player .jw-controlbar{
	background:rgba(45,45,45,0.9);
}



/* Youtube sin HD */
 .jw-skin-debate-yt{
    max-width: 100%!important;
}
 
.jw-skin-debate-yt .jw-icon-inline, 
.jw-skin-debate-yt .jw-icon-tooltip, 
.jw-skin-debate-yt .jw-text-elapsed, 
.jw-skin-debate-yt .jw-text-duration {
    padding: 0 5px;
    line-height: 50px;
    width:50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
}
.jw-skin-debate-yt .jw-icon.jw-icon-tooltip.jw-tooltip-time.jw-button-color.jw-reset .jw-overlay.jw-reset{
	bottom: 8px;
}
.entry .entry-media .jw-skin-debate-yt .jw-icon-inline, 
.entry .entry-media .jw-skin-debate-yt .jw-icon-tooltip, 
.entry .entry-media .jw-skin-debate-yt .jw-text-elapsed, 
.entry .entry-media .jw-skin-debate-yt .jw-text-duration {
    padding: 0 5px;
    line-height: 32px;
    width:35px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
}
.entry.entry-box.entry-wide.vivo  .entry-media .jw-skin-debate-yt .jw-icon-inline, 
.entry.entry-box.entry-wide.vivo  .entry-media .jw-skin-debate-yt .jw-icon-tooltip, 
.entry.entry-box.entry-wide.vivo  .entry-media .jw-skin-debate-yt .jw-text-elapsed, 
.entry.entry-box.entry-wide.vivo  .entry-media .jw-skin-debate-yt .jw-text-duration {
    padding: 0 5px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
}
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-icon-inline, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-icon-tooltip, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-text-elapsed, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-text-duration {
    padding: 0 5px;
    line-height: 50px;
    width:50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
}

.jw-skin-debate-yt .jw-background-color{
	background:rgba(0,0,0,0.5)
}
.jw-skin-debate-yt .jw-controlbar{
    background: rgba(45,45,45,0.9);
    height: 50px;
}
.entry .entry-media .jw-skin-debate-yt .jw-controlbar{
   height: 35px;
}
.entry.entry-box.entry-big.entry-destacado .jw-skin-debate-yt .jw-controlbar{
   height: 50px;
}
.jw-skin-debate-yt .jw-text{
	color:#fff;
}
.jw-skin-debate-yt .jw-tooltip-title{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-yt .jw-knob{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-yt .jw-button-color{
	color:#fff
}
.jw-skin-debate-yt .jw-button-color:hover{
	background-color:#004ecd;
	color:#fff;
}
.jw-skin-debate-yt .jw-toggle{
	color:#fff
}
.jw-skin-debate-yt .jw-toggle.jw-off{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-yt .jw-option{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-yt .jw-option.jw-active-option{
	color:#fff
}
.jw-skin-debate-yt .jw-icon-display{
	color:#fff!important;
}
.jw-skin-debate-yt .jw-display-icon-container{	
	background-color: rgba(22,93,208,0.8)!important;
}

.jw-skin-debate-yt .jw-display-icon-container:hover{
	background-color: rgba(22,93,208,1)!important;
}

.jw-skin-debate-yt .jw-rail{
	background:#7a7a7a
}
.jw-skin-debate-yt .jw-buffer{
	background:#d3d3d3
}
.jw-skin-debate-yt .jw-progress{
	background:#004ecd
}
.jw-skin-debate-yt .jw-slider-horizontal{
	background:rgba(255,255,255,0)
}
.jw-skin-debate-yt .jw-slider-horizontal .jw-knob{
	margin-left:-0.325em
}
.jw-skin-debate-yt .jw-slider-vertical .jw-knob{
	margin-bottom:-0.325em
}
.jw-skin-debate-yt .jw-time-tip,
.jw-skin-debate-yt .jw-volume-tip,
.jw-skin-debate-yt .jw-menu{
	background:rgba(45,45,45,0.9);
	border:0;
	padding:.5em
}
.jw-skin-debate-yt .jw-skip{
	background:rgba(255,255,255,0.4);
	padding:.5em
}
.jw-skin-debate-yt .jw-skip .jw-skip-icon{
	color:rgba(0,0,0,0.5)
}
.jw-skin-debate-yt .jw-skip.jw-skippable:hover .jw-skip-icon,
.jw-skin-debate-yt .jw-skip.jw-skippable:hover .jw-text{
	color:#fff
}
.jw-skin-debate-yt .jw-time-tip .jw-text,
.jw-skin-debate-yt .jw-dock-button .jw-text{
	color:#bbb
}
.jw-skin-debate-yt .jw-time-tip{
	bottom:1em
}
.jw-skin-debate-yt .jw-dock-button{
	background:rgba(0,0,0,0.5);
	border-radius:.5em
}
.jw-skin-debate-yt .jw-dock-button:hover{
	background:#000
}
.jw-skin-debate-yt .jw-playlist-container{
	padding:0
}
.jw-skin-debate-yt .jw-time-tip,
.jw-skin-debate-yt .jw-volume-tip,
.jw-skin-debate-yt .jw-menu{
	border-radius:0;
	bottom:.3em
}
.jw-skin-debate-yt .jw-skip{
	border-radius:.25em
}
.jw-skin-debate-yt .jw-option{
	color:#fff!important;
	text-align: left;
}
.jw-skin-debate-yt .jw-option:hover{
	color:#004ecd!important;
}
.jw-skin-debate-yt .jw-option:hover,
.jw-skin-debate-yt .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-debate-yt .jw-playlist-container{
	left:-42%;
	bottom:0;
	border-radius:0;
	background-color:#1e1e1e
}
.jw-skin-debate-yt .jw-playlist-container .jw-option,
.jw-skin-debate-yt .jw-playlist-container .jw-text,
.jw-skin-debate-yt .jw-playlist-container .jw-icon{
	color:#a0a0a0
}
.jw-skin-debate-yt .jw-playlist-container .jw-option{
	border-bottom:1px solid #000;
	background-color:#1e1e1e;
	color:#a8a8a8
}
.jw-skin-debate-yt .jw-playlist-container .jw-option:hover,
.jw-skin-debate-yt .jw-playlist-container .jw-option.jw-active-option{
	color:#0f9e60
}
.jw-skin-debate-yt .jw-playlist-container ::-webkit-scrollbar-track{
	background-color:#000
}
.jw-skin-debate-yt .jw-playlist-container ::-webkit-scrollbar{
	width:2px;
	border:10px solid #1e1e1e
}
.jw-skin-debate-yt .jw-playlist-container ::-webkit-scrollbar-thumb{
	background-color:#a0a0a0
}
.jw-skin-debate-yt .jw-tooltip-title{
	border-bottom:1px solid #000;
	background-color:#1e1e1e
}
.jw-skin-debate-yt .jw-slider-horizontal{
	line-height: 10px;
}
.jw-skin-debate-yt .jw-slider-horizontal .jw-slider-container{
	height:3px
}
.jw-skin-debate-yt .jw-slider-horizontal .jw-rail,
.jw-skin-debate-yt .jw-slider-horizontal .jw-progress,
.jw-skin-debate-yt .jw-slider-horizontal .jw-buffer{
	height:3px
}
.jw-skin-debate-yt .jw-slider-horizontal .jw-knob,
.jw-skin-debate-yt .jw-slider-horizontal .jw-cue{
	height:3px
}
.jw-skin-debate-yt .jw-slider-horizontal .jw-knob{
	margin-left:0;
	background-color:#fff;
	width:.2em
}
.jw-skin-debate-yt .jw-slider-horizontal .jw-cue{
	top:.6699999999999999em;
	background:rgba(255,255,255,0.5);
	height:.66em
}
.jw-skin-debate-yt .jw-slider-vertical{
	padding:.4em;
	bottom:3px;
	border-radius:2px;
	border:0
}
.jw-skin-debate-yt .jw-icon-hd{
	display:none;
}
.jw-icon-hd:before{
       font-size: 25px;
}
.jw-skin-debate-yt .jw-slider-vertical .jw-knob{
	display:none
}
.jw-skin-debate-yt .jw-slider-vertical .jw-rail{
	background-color:#d3d3d3
}
.jw-skin-debate-yt .jw-slider-vertical .jw-rail,
.jw-skin-debate-yt .jw-slider-vertical .jw-progress{
	width:.5em;	
}
.jw-skin-debate-yt .jw-icon-cc.jw-off:before{
	content:"\e604"
}
.jw-skin-debate-yt .jw-icon-hd.jw-off:before{
	content:"\e609"
}
.jw-skin-debate-yt.jw-flag-audio-player .jw-controlbar{
	background:rgba(0,0,0,0.5)
}
/*.jwplayer.jw-flag-fullscreen,
.mod-photogallery .swiper-video > .jwplayer.jw-flag-fullscreen {
	position: absolute;
	top: 50%!important;
	height: 0!important;
	padding-top: 56.25%;
	-moz-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);}
}*/
.jwplayer.jw-flag-fullscreen .jw-display-icon-container{
	width: 35px;
    	height: 36px;
}
.jwplayer.jw-flag-fullscreen .jw-display-icon-container .jw-icon-display:before {
    font-size: 25px;
    line-height: 30px;
}

@media (max-width:480px){
.jw-flag-compact-player .jw-icon-playlist, 
.jw-flag-compact-player .jw-text-elapsed, 
.jw-flag-compact-player .jw-text-duration,
.jw-skin-debate .jw-icon-hd{
	display: none;
}
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate-yt {
    max-width: 100%!important;
    height: 300px !important;
}
.entry.entry-box.entry-wide.vivo .jwplayer.jw-skin-debate-yt .jw-display-icon-container {
    top: 136px;
}
.entry-wide.entry-box.entry-wide.vivo .entry-data{
    display: block !important; 
}
.jw-display-icon-container{
	height: 50px;
        width: 50px;
        top: 50%;
    	margin-top: -25px;
}
.entry.entry-box.entry-wide.vivo .jwplayer .jw-display-icon-container, 
.entry.entry-box.entry-wide.poll .jwplayer .jw-display-icon-container{
    width: 46px;
    height: 46px;
}
.entry.entry-box.entry-big .entry-media[itemprop="video"] .jwplayer .jw-display-icon-container {
    width: 46px;
    height: 46px;
}
.entry.entry-box.entry-wide.vivo .jwplayer .jw-display-icon-container .jw-icon-display:before, 
.entry.entry-box.entry-wide.poll .jwplayer .jw-display-icon-container .jw-icon-display:before {
    font-size: 24px;
    line-height: 42px;
}
.entry.entry-box.entry-big .entry-media[itemprop="video"] .jwplayer .jw-display-icon-container .jw-icon-display:before {
    font-size: 22px;
    line-height: 25px;
}
.entry .entry-media .jw-display-icon-container{
	height: 25px;
        width: 25px;
        top: 50%;
    	margin-top: -14px;
}
.entry.entry-box.entry-wide.vivo .jw-icon-display{
	font-size: 12px;
	line-height: 12px;
}
.entry .entry-media .jw-skin-debate .jw-icon-display,
.entry .entry-media .jw-skin-debate-yt .jw-icon-display {
	font-size: 12px;
	line-height: 12px;
}
.entry .entry-media .jw-icon-display:before{
	font-size: 11px;
}
.entry .entry-media .jw-skin-debate .jw-controlbar,
.entry .entry-media .jw-skin-debate-yt .jw-controlbar,
.entry.entry-box.entry-big.entry-destacado .jw-skin-debate-yt .jw-controlbar,
.entry.entry-box.entry-wide.vivo .entry-media  .jw-skin-debate .jw-controlbar {
    height: 32px;
}

.entry .entry-media .jw-skin-debate .jw-icon-inline, 
.entry .entry-media .jw-skin-debate .jw-icon-tooltip, 
.entry .entry-media .jw-skin-debate .jw-text-elapsed, 
.entry .entry-media .jw-skin-debate .jw-text-duration,
.entry .entry-media .jw-skin-debate-yt .jw-icon-inline, 
.entry .entry-media .jw-skin-debate-yt .jw-icon-tooltip, 
.entry .entry-media .jw-skin-debate-yt .jw-text-elapsed, 
.entry .entry-media .jw-skin-debate-yt .jw-text-duration,
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-icon-inline, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-icon-tooltip, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-text-elapsed, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-text-duration,
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-icon-inline, 
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-icon-tooltip, 
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-text-elapsed, 
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-text-duration {
    padding:0px 5px;
    line-height: 19px;
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    text-align: center;
    min-width: 50%;
}
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-icon-inline,
.entry.entry-box.entry-wide.vivo .entry-media .jw-skin-debate .jw-icon-tooltip{
    line-height: 27px;
}

.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-text-elapsed, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-skin-debate-yt .jw-text-duration{
    display:none;	
}
.entry .entry-media .jw-icon-playback:before,
.entry .entry-media .jw-icon-volume:before,
.entry .entry-media .jw-icon-fullscreen:before{ 
    font-size: 10px;
}
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-icon-playback:before,
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-icon-volume:before,
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-icon-fullscreen:before{
    font-size: 10px;
    line-height: 26px;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-playback{
	min-width: 100%;
}
.entry .entry-media .jw-controlbar-center-group {
    width: 100%;
    padding: 0 2px;
}

.jw-icon jw-icon-tooltip.jw-icon-volume.jw-button-color.jw-reset{
    display: inline-block;
}
.entry .entry-media .jw-flag-fullscreen .jw-controlbar {
    height: 40px;
}
.entry .entry-media .jw-flag-fullscreen .jw-icon-inline, 
.entry .entry-media .jw-flag-fullscreen .jw-icon-tooltip, 
.entry .entry-media .jw-flag-fullscreen .jw-text-elapsed, 
.entry .entry-media .jw-flag-fullscreen .jw-text-duration{
     padding:0px 5px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    text-align: center;
    min-width: 100%;
}

.entry.entry-box.entry-big.entry-destacado .entry-media .jw-flag-fullscreen .jw-icon-inline, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-flag-fullscreen .jw-icon-tooltip, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-flag-fullscreen .jw-text-elapsed, 
.entry.entry-box.entry-big.entry-destacado .entry-media .jw-flag-fullscreen .jw-text-duration{
    line-height: 19px;
}


.entry .entry-media .jw-flag-fullscreen .jw-icon-playback:before, 
.entry .entry-media .jw-flag-fullscreen .jw-icon-volume:before, 
.entry .entry-media .jw-flag-fullscreen .jw-icon-fullscreen:before {
    font-size: 22px;
}
.jw-flag-fullscreen jw-slider-horizontal {
    line-height: 17px;
    padding: 0 10px;
}
.entry .entry-media .jw-flag-fullscreen .jw-display-icon-container {
    height: 50px;
    width: 50px;
}
.entry .entry-media .jw-flag-fullscreen .jw-icon-display:before{
	font-size: 22px;
}

.jw-skin-debate-audio .jw-slider-time.jw-background-color.jw-reset.jw-slider-horizontal.jw-reset{
	line-height: 33px;
}

.mod-photogallery .swiper-button{
	width: 28px;
}
.mod-photogallery .swiper-button-next {
    	left: auto;
    	right: 10px;
    	background-position: -58px -60px;
}


