.facelift{

}

.facelift #content_main_shadow{
	background-image: url(../../img/facelift/common/shadow_content_main_right_facelift.png);
	background-repeat: no-repeat;
	background-position: 72em 0;
	width: 72.5em;
}
.facelift #content_main_shadow.content_main_shadow_cltp{
	background: none;
}
.content_main_shadow_cltp {
    position: absolute;
    height: 169px;
    top: 4.2em;
    width: 72em;
    max-width: 99%;
    min-width: 720px;
    padding-right: 1em;
}
.facelift .navigation_main_shadow {
	z-index: 10;
}

@-moz-document url-prefix(){
	.facelift .print form button#printButton,
	.facelift .print form button#printButtonSelected{
		height:24px !important;
		padding-bottom: 0 !important;
	}

	.facelift .content_cross_reference .miniTaskCenter .fast_track textarea.code,
	.facelift .content_cross_reference .miniTaskCenterGrey .fast_track textarea.code{
		width: 17.3em;
	}
}

.facelift .link_list_white select.linklist_dropdown_w01,
.facelift .link_list_white select.linklist_dropdown_w02,
.facelift .content_cross_reference .miniTaskCenter .countryselector select.country,
.facelift .content_cross_reference .miniTaskCenterGrey .countryselector select.country{
	width: 16.7em;
}
.facelift .transaction_teaser .link_list_white select.linklist_dropdown_w01{
	font-size: 1.2em;
	width: 15em;
}
.facelift .transaction_teaser .link_list_white select.country {
	font-size: 1.2em;
}
.facelift .countryselector .link_list_white select.country,
.facelift .content_main_index .linklistdropdown .link_list_white select.linklist_dropdown_w01{
	font-size: 1.2em;
	width: 15em;
}
.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .fast_track select,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .fast_track select{
	font-size: 1em !important;
	width: 15em !important;
}
.facelift .content_main_index .container_1_1 .container_slot_1 .transaction_teaser .link_list_grey select.linklist_dropdown_02,
.facelift .content_main_index .container_1_1 .container_slot_2 .transaction_teaser .link_list_grey select.linklist_dropdown_02{
	width: 15em;
}
.facelift .content_main_index .container_1_1 .container_slot_1 .countryselector .link_list_white button.goButton,
.facelift .content_main_index .container_1_1 .container_slot_2 .transaction_teaser_white .link_list_white button#go.redButton,
.facelift .content_main_index .container_1_1 .container_slot_1 .transaction_teaser_white .link_list_white button#go.redButton{
	float:right;
	margin-right: 49px;
}
.facelift .content_main_index .container_1_1 .container_slot_2 .transaction_teaser .link_list_grey button#go.redButton,
.facelift .content_main_index .container_1_1 .container_slot_1 .transaction_teaser .link_list_grey button#go.redButton{
	float:right;
	margin-right: 19px;
}
.facelift .content_main_index .container_1_1 .container_slot_1 .countryselector .link_list_white button.goButton.left,
.facelift .content_main_index .container_1_1 .container_slot_2 .transaction_teaser .link_list_grey button#go.redButton.left,
.facelift .content_main_index .container_1_1 .container_slot_1 .transaction_teaser .link_list_grey button#go.redButton.left,
.facelift .content_main_index .container_1_1 .container_slot_2 .transaction_teaser_white .link_list_white button#go.redButton.left,
.facelift .content_main_index .container_1_1 .container_slot_1 .transaction_teaser_white .link_list_white button#go.redButton.left{
	float:left;
	margin-right:0;
}
.facelift .cq-colctrl-lt0-c0 .countryselector .link_list_white select.country{
	width: 18em;
}
.facelift .cq-colctrl-lt0-c0 .countryselector .link_list_white button.redButton{
	margin-right: 14px;
}
.facelift #containerContentstep_3 .cq-colctrl-lt0-c0 .countryselector .link_list_white button.redButton,
.facelift #containerContentstep_3 .cq-colctrl-lt0-c0 .countryselector .link_list_white button.goButton{
	float: right;
}
.facelift .link_list_white input.go {
	height: auto;
}

.facelift .transaction_teaser .link_list_grey select{
	font-size: 1.2em;
	width: 11.5em;
	vertical-align: bottom;
}
.facelift .transaction_teaser_white .link_list_white select{
	font-size: 1.2em;
	width: 13.5em;
}
.facelift .content_cross_reference .transaction_teaser_white .link_list_white select{
	width: 17.8em;
}
.facelift .content_cross_reference .transaction_teaser_white .link_list_white button.redButton{
	float: right;
	margin-right: 15px;
}
.facelift .content_cross_reference .miniTaskCenter fieldset,
.facelift .content_cross_reference .miniTaskCenterGrey fieldset{
	width: 174px;
}
.facelift .content_cross_reference .miniTaskCenter .linklistdropdown fieldset button#go,
.facelift .content_cross_reference .miniTaskCenterGrey .linklistdropdown fieldset button#go{
	float:right;
	margin-right: 6px;
}
.facelift .content_cross_reference .miniTaskCenter .linklistdropdown fieldset button#go.left,
.facelift .content_cross_reference .miniTaskCenterGrey .linklistdropdown fieldset button#go.left{
	float:left;
	margin-right: 0px;
}
.facelift .content_cross_reference .miniTaskCenter .countryselector fieldset button#go,
.facelift .content_cross_reference .miniTaskCenterGrey .countryselector fieldset button#go,
.facelift .transaction_teaser .link_list_white button#go{
	float:right;
	margin-right: 8px;
}
.facelift .transaction_teaser .countryprofile fieldset button.redButton{
	float: right;
	margin-right: 11px;
}
.facelift .content_cross_reference .miniTaskCenter .countryselector fieldset button#go.left,
.facelift .content_cross_reference .miniTaskCenterGrey .countryselector fieldset button#go.left,
.facelift .transaction_teaser .link_list_white button#go.left,
.facelift .transaction_teaser .countryprofile fieldset button.redButton.left{
	float:left;
	margin-right: 0px;
}

.dj_safari .facelift .content_main_index .container_1_1 .container_slot_1 .containerleftpar .referenceparagraph .countryprofile .module{
	margin: 0;
}

.facelift .content_main_index .container_1_1 .container_slot_1 .countryprofile .module .link_list_white select#worldwide.worldwide,
.facelift .content_main_index .container_1_1 .container_slot_1 .countryprofile .module .link_list_white select#country.country{
	font-size: 1.2em;
	width:16.7em;
	margin-right: 0px;
}
.facelift .content_main_index .container_1_1 .container_slot_1 .countryprofile .module .link_list_white button.redButton{
	margin-right: 29px;
}

.facelift .content_cross_reference .countryselector .link_list_white select.country{
	font-size: 1.2em;
	width: 17.8em;
	margin-top: 3px;
	margin-right: .7em;
	vertical-align: bottom;
}
.facelift .content_cross_reference .countryselector .link_list_white button.redButton{
	margin-right: 15px;
}
.facelift .content_cross_reference .countryselector .link_list_white button.goButton{
	float: right;
}
.facelift .content_cross_reference .countryselector .link_list_white button.goButton.left{
	float: left;
}

.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .fast_track button.redButton,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .fast_track button.redButton{
	float: right;
	margin-right: 4px;
}
.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .fast_track button.redButton.left,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .fast_track button.redButton.left{
	float: left;
	margin-right: 0;
}

.facelift .content_cross_reference .fast_track_container .fast_track .AWB_field_wrapper textarea.code{
	font-size: 1em;
	width: 16.3em;
	min-width: 16.3em;
}

.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .fast_track textarea.code,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .fast_track textarea.code{
	font-size: 1em !important;
	width: 14.7em !important;
	min-width: 14.7em !important;
}


.facelift .iconTeaser .link_list_white select.linklist_dropdown_w01{
	font-size: 1.2em;
	width: 17.8em;
}
.facelift .iconTeaser .link_list_white button.redButton{
	float:right;
	margin-right: 15px;
}

.facelift .content_cross_reference .transactionteaser .transaction_teaser .countryselector .link_list_white select.worldwide{
	font-size: 1.2em;
	width: 15.4em;
}
.facelift .content_cross_reference .transactionteaser .transaction_teaser .countryselector .link_list_white select.country{
	width: 15.4em;
}

.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .standardlink a.arrowLin,
.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .standardlink a.arrowLinkUp,
.facelift .content_main_index .container_1_1 .container_slot_1 .expand_list_txt .standardlink a.anchorLink,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .standardlink a.arrowLin,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .standardlink a.arrowLinkUp,
.facelift .content_main_index .container_1_1 .container_slot_2 .expand_list_txt .standardlink a.anchorLink{
	display: inline-block;
}

/*** START: new header layout **/
.faceliftHeader .siteid .image a img.logo{
	margin-top: 0.6em;
	margin-bottom: 1em;
}

.faceliftHeader .siteid .buident {
    float: left;
    padding-left: 0.8em;
    padding-top: 1.6em;
    color: #cc0000;
    font-size: 1.4em;
    font-weight: 700;
}

.faceliftHeader div.servicelinks {
	padding-top: 0;
	padding-right: 2.1em;
	margin-top: -1px;
	width: auto;
}

.faceliftHeader div.servicelinks ul{
	float:left;
}

.faceliftHeader div.servicelinks ul.language-list{
	background: url(../../img/facelift/common/servicenav_element_right.gif) top right no-repeat;
	padding-right: .4em;
}

.faceliftHeader div.servicelinks li{
	float:left;
	background: url(../../img/facelift/common/servicenav_element_right.gif) top right no-repeat;

	margin-left: .45em;
	padding-right: 0em;
}

.faceliftHeader div.servicelinks li a{
	display:inline-block;
	padding: .6em .6em .7em 1em;
	color: #333333;
	text-shadow: 0px 1px #fff5cc;
}

.faceliftHeader div.servicelinks ul.language-list li{
	background: none;
	margin-left: -1px;
}

.faceliftHeader div.servicelinks ul.language-list li.defaultLang{
	color: #888888;
	padding-top: .6em;
	padding-right: .4em;
	font-size: 1.1em;

	text-shadow: 0px 1px #fff5cc;
}

.faceliftHeader div.servicelinks li a{
	background: url(../../img/facelift/common/servicenav_element_left.gif) top left no-repeat;
	font-size: 1.1em;
}

.faceliftHeader div.servicelinks ul.language-list li a,
.faceliftHeader div.servicelinks ul.language-list li.defaultLang{
	background: url(../../img/facelift/common/servicelink_separator_header.gif) 0 11px no-repeat ;
	padding: .6em .4em .7em .45em;
}

.faceliftHeader div.servicelinks li a.contact-center{
	background: url(../../img/facelift/common/servicenav_element_left_contact.gif) top left no-repeat;
	padding-left: 2.75em;
}

.faceliftHeader div.servicelinks li a.tools{
	background: url(../../img/facelift/common/servicenav_element_left_tools.gif) top left no-repeat;
	padding-left: 2.75em;
}

.faceliftHeader div.servicelinks li a.country-profile{
	background: url(../../img/facelift/common/servicenav_element_left_country_profile.gif) top left no-repeat;
	padding-left: 3.5em;
}

.faceliftHeader div.servicelinks li a.dhl-global{
	background: url(../../img/facelift/common/servicenav_element_left_dhl_global.gif) top left no-repeat;
	padding-left: 2.75em;
}

.faceliftHeader div.servicelinks ul.language-list li a.firstItem,
.faceliftHeader div.servicelinks ul.language-list li.firstItem{
	background: url(../../img/facelift/common/servicenav_element_left_language.gif) top left no-repeat !important;
	padding-left: 3.8em;
}
.faceliftHeader div.servicelinks ul.language-list li.firstItem{
	padding: .6em .4em .7em 3.8em;

	font-size: 1.1em;
	color: #888888;
	text-shadow: 0px 1px #fff5cc;
}
/*** END: new header layout **/


/*** START: new navigation layout **/
.faceliftNavigationMain {
	background: url(../../img/facelift/common/mainnav_bg_new.gif) 0 0 repeat-x;
	padding: 0 1em 0 2em;
}
.faceliftNavigationMain #nav li{
	padding-right: .4em;
    cursor: pointer;
}
.faceliftNavigationMain #nav li li{
	padding-right: 0;
}
.faceliftNavigationMain #nav a.nav_top {
	background: none;
	color:#333333;
	font-size: 1em;
	height: 3.65em;
	font-weight: bold;
	padding:0 0 0 .5em;

	text-shadow: 0px 1px #fff5cc;
}
.faceliftNavigationMain #nav a.nav_top span{
	display: inline-block;
	background: none;
	font-size: 1.4em;
	/*height: 2.3em;*/
	color:#333333;
	padding: .53em 1.05em 1.1em .5em;
    cursor: pointer;
}


.faceliftNavigationMain #nav a.nav_top_active,
.faceliftNavigationMain #nav a:hover.nav_top,
.faceliftNavigationMain #nav li:hover a.nav_top,
.faceliftNavigationMain #nav li.hover a.nav_top{
	display: inline-block;
	background: url(../../img/facelift/common/mainnav_element_bg.gif) left top no-repeat;
	font-size: 1em;
	font-weight: bold;
	height: 3.65em;
	padding: 0 0 0 .5em;
    text-shadow:0 -1px #a80001;
    cursor: pointer;
}
.faceliftNavigationMain #nav a.nav_top_active span,
.faceliftNavigationMain #nav a:hover.nav_top span,
.faceliftNavigationMain #nav li:hover a.nav_top span,
.faceliftNavigationMain #nav li.hover a.nav_top span{
	display: inline-block;
	background: url(../../img/facelift/common/mainnav_element_bg.gif) right -64px no-repeat;
	font-size: 1.4em;
	/*height: 2.3em;*/
	color: #FFFFFF;
	padding: .575em 1.05em 1.05em .5em;
    cursor: pointer;
}
.faceliftNavigationMain #nav a:hover.nav_top span,
.faceliftNavigationMain #nav li:hover a.nav_top span,
.faceliftNavigationMain #nav li.hover a.nav_top span{
	color:#FFDF58;
    cursor: pointer;
}

.faceliftNavigationMain #nav li ul{
	padding-top: 1em;
	background-position: 0 0;
}

.faceliftNavigationMain #nav.js li ul{
	left: -999em !important;
}

.faceliftNavigationMain .quicksearch{
	margin-top: -0.2em;
	padding-top: 0;
	padding-left: 0;
	right: 2em;
}

.faceliftNavigationMain .quicksearch label{
	display: none;
}

.faceliftNavigationMain .quicksearch input#q{
	background: url(../../img/facelift/common/quicksearch_field.gif) 0 0 no-repeat;
	font-size: 1.2em;
	width:14.7em;
	padding:0.4em 0.5em 0.55em 0.55em;
	border-width: 0;
}
@-moz-document url-prefix(){
	.faceliftNavigationMain .quicksearch input#q{
		height:20px;
		padding-top: 1px;
		padding-bottom: 3px;
	}
}

.faceliftNavigationMain .quicksearch input#q.is-empty{
	color: #b2b2b2;
}

.faceliftNavigationMain .quicksearch button#search{
	background: url(../../img/facelift/common/quicksearch_button.gif) 0 0 no-repeat;
	font-size: 1em;
	width: 2.5em;
	height: 2.4em;
	border-width: 0px;
	vertical-align: top;
	margin-left: 0.3em;
}
.faceliftNavigationMain .quicksearch button#search:hover{
	background-position: 0 -24px;
	cursor: pointer;
}
/*** END: new navigation layout **/


/*** START: new flyout layout **/
/*** END: new flyout layout **/


/*** START: new footer layout **/
.faceliftStandardFooter,
.faceliftStandardFooter .footer .container .logo,
.faceliftStandardFooter .footer .container .footer_navigation,
.faceliftStandardFooter .footer .container p{
	clear: both;
}

.faceliftStandardFooter .footer{
	background: url("../../img/facelift/common/shadow_footer_right.gif") no-repeat scroll top right transparent;
	width: 99em;
	padding-top:5.6em;
	min-width: 0;
	max-width: none;
}

.faceliftStandardFooter .footer .container{
	background: url("../../img/facelift/common/shadow_footer_bottom_right.gif") no-repeat scroll bottom right transparent;
	padding: 0 0 .5em;
	width: 99em;
	min-width: 0;
	max-width: none;
}

.faceliftStandardFooter .footer .container .logo{
	position: relative;
	overflow: hidden;
	background-color: #FFCC00;
	width: 96.6em;
	height: 3em;
	padding-right: 1.4em;
	text-align: right;
}

.faceliftStandardFooter .footer .container .logo a{
	display: inline-block;
	margin-top: -2px;
}

.faceliftStandardFooter .footer .container .advanced_footer_content{
	background: url("../../img/facelift/common/footer_links_bg.gif") no-repeat top left transparent;
	width: 95.5em;
	padding-top: 1.7em;
	padding-left: 0.5em;
	padding-right: 2em;
	position: relative;
	overflow: hidden;
	clear: both;
}

.faceliftStandardFooter .footer .container .advanced_footer_content a{
	color: #666666;
}
.faceliftStandardFooter .footer .container .advanced_footer_content a:hover{
	color: #c00;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .link_box{
	float:left;
	width: 147px;
	padding-left: 1.3em;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box{
	float:right;
	min-width:21.7em;
	max-width: 30.4em;
	text-align:right;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .link_box,
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box{
	position: relative;
	overflow: hidden;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .link_box h6,
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box h6{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: normal;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box h6{
	padding-bottom: 2px;
	border-bottom: 1px solid #d8d8d8;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .link_box h6 a,
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box h6 a{
	display: inline-block;
	margin-left: 4px;
	margin-bottom: 2px;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .link_box h6 a.arrowLink,
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box h6 a.arrowLink{
	margin-left: 3px;
	padding-left: 0.8em;
}
.faceliftStandardFooter .footer .container .advanced_footer_content h6 a.contact_center{
	background: url(../../img/facelift/common/footer_contact_center_icon.png) 1px -1px no-repeat;
	padding-left: 2em;
	padding-bottom: 2px;
	margin-left: 0;
	margin-bottom: 0;
}
.faceliftStandardFooter .footer .container .advanced_footer_content h6 a.alert{
	background: url(../../img/facelift/common/alert_icon_Footer_15px_raute.png) 1px 0px no-repeat;
	padding-left: 2em;
	padding-bottom: 2px;
	margin-left: 0;
	margin-bottom: 0;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box h6{
	padding-right: 2px;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .link_box ul{
	list-style-type: none;
	border-top: 1px solid #d8d8d8;
	padding-top: 3px;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box ul{
	list-style-type: none;
	padding-top: 3px;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box ul{
	padding-top: 8px;
	float: right;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box ul li{
	float: right;
	display: inline-block;
	padding-left: 10px;
	line-height: 42px;
	vertical-align: middle;
	height: 42px;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .link_box ul li a{
	margin:0 0 2px 3px;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .link_box ul li a.arrowLink{
	background-position: 0 .3em;
}
.faceliftStandardFooter .footer .container .advanced_footer_content .link_box ul li a.arrowLinkUp{
	display: inline-block;
	margin-bottom: 2px;
	background-position: -2px 0.2em;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .link_box ul li a.anchorLink{
	display: inline-block;
	padding-left: 0.95em;
	margin-bottom: 2px;
}


.faceliftStandardFooter .footer .container .advanced_footer_content .link_box ul li a,
.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box ul li a.arrowLink{
	font-size: 1.1em;
	padding-left:.9em;
	word-wrap: break-word;
}

.faceliftStandardFooter .footer .container .advanced_footer_content .partner_box ul li a{
	display: inline-block;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.facebook,
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.youtube,
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.instagram, /*added instagram*/
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.blog,
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.googleplus,
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.linkedin,
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.pinterest,
.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.twitter {
    display: inline-block;
	margin-left: 0px;
	padding-left: 1.5em;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.facebook{
	background: url(../../img/facelift/common/social_sprites.gif) 0 2px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.youtube{
	background: url(../../img/facelift/common/social_sprites.gif) 0 -98px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.blog{
	background: url(../../img/facelift/common/social_sprites.gif) 0 -200px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.googleplus{
    background: url(../../img/facelift/common/social_sprites.gif) 0 -298px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.linkedin{
    background: url(../../img/facelift/common/social_sprites.gif) 0 -399px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.pinterest{
    background: url(../../img/facelift/common/social_sprites.gif) 0 -499px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.twitter{
    background: url(../../img/facelift/common/social_sprites.gif) 0 -599px no-repeat;
}

.faceliftStandardFooter .footer .container .advanced_footer_content ul li a.instagram{
    background: url(../../img/facelift/common/social_sprites.gif) 0 -699px no-repeat;
}


.faceliftStandardFooter .footer .container .footer_navigation{
	padding: 1.2em 3em .6em 0;
}
.faceliftStandardFooter .footer .container .footer_navigation a{
	color:#666;
}
.faceliftStandardFooter .footer .container .footer_navigation a:hover{
	color: #c00;
}
.faceliftStandardFooter .footer .container .footer_navigation li{
	background-image: url(../../img/facelift/common/servicelink_separator_footer.gif);
	padding-right:.1em;
}
.faceliftStandardFooter .footer .container .footer_navigation li.firstItem{
	background: none;
}
/*** END: New footer layout **/







/*** START Flyout navigation ***/

#nav.flyout-js li:hover ul,
#nav.flyout-js li.hover ul,
#nav.flyout-js li li:hover ul,
#nav.flyout-js li li li:hover ul,
#nav.flyout-js li.sfhover ul,
#nav.flyout-js li li.sfhover ul,
#nav.flyout-js li li li.sfhover ul {
    left: -999em !important;
}

#flyout-container {
    display: none;
    position: absolute;
    z-index: 11;
    top: 94px;
    width: 995px;
	color: #000 !important;
}

#flyout-top-shadow {
    width: 980px;
    height: 11px;
    background: #fafaf9;
    background: url(../../img/facelift/common/flyout_top_shadow.png) 0 0 no-repeat;
}

#flyout-nav-area {
    float: left;
    width: 980px;
    padding: 4px 0 80px 0;
    background: rgb(250,250,249); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    */
    background: -moz-linear-gradient(top, rgba(250,250,249,1) 75%, rgba(234,234,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(250,250,249,1)), color-stop(100%,rgba(234,234,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(250,250,249,1) 75%,rgba(234,234,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(250,250,249,1) 75%,rgba(234,234,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(250,250,249,1) 75%,rgba(234,234,232,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(250,250,249,1) 75%,rgba(234,234,232,1) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaf9', endColorstr='#eaeae8',GradientType=0 );*/ /* IE6-8 */
}

.flyout-main-category {
    position: relative;
}

.flyout-icon {
    position: absolute;
    width: 130px;
	left:10px;
}

.flyout-main-category h2 {
    position: relative;
    width: 810px;
    padding: 15px 0 0 0;
    font-size: 18px;
    font-weight: normal;
    left: 150px;
	color: #000 !important;
}

.flyout-col-container {
    position: relative;
    left: 150px;
    top: 40px;
}

#flyout-container .col {
    float: left;
}

#flyout-container ul li {
    list-style: none;
    padding-left: 3px;
}

#flyout-container ul li a {
    padding: 0 0 2px 10px;
	color: #000 !important;
}

#flyout-container ul.flyout-lvl2  {
    margin: 10px 24px 0 0;
    width: 185px;
}

#flyout-container li.flyout-lvl2 {
    position: relative;
    line-height: 17px;
    border-bottom: 1px solid #d8d8d8;
}

#flyout-container li.flyout-lvl2 a {
    display: block;
    font-size: 14px !important;
    background-position: 0 5px;
	font-weight: bold;
}

#flyout-container li.flyout-lvl2 a.arrowLinkUp {
    background-position: -3px 5px;
    margin-left: 0;
}

#flyout-container .flyout-first-item {
    position: absolute;
    bottom: 0;
}

#flyout-container ul.flyout-lvl3 {
    margin-top: 4px;
    margin-left: 0;
}

#flyout-container li.flyout-lvl3 a {
    display: block;
    font-size: 11px !important;
    line-height: 13px;
    background-position: 0 2px;
}

#flyout-container li.flyout-lvl3 a.arrowLinkUp {
    background-position: -3px 2px;
    margin-left: 0;
}

#flyout-bottom {
    float: none;
    clear: both;
    width: 980px;
    background: url(../../img/facelift/common/flyout_nav_bottom.png) 0 0 no-repeat;
}

#flyout-right {
    float: left;
    width: 15px;
}

#flyout-right img {
    width: 15px;
    height: 100%;
}
/*** END Flyout navigation ***/





/*** START TaskCenter ***/
.facelift-content .taskcenter .module,
.facelift .content_cross_reference .minitaskkcenter{
	display: inline-block;
}

.facelift .content_cross_reference .minitaskkcenter fieldset{
	width: auto;
}

.facelift-content .content_right .taskcenter .module{
	margin: 0;
}

.facelift-content .taskcenter .richtext,
.facelift .content_cross_reference .minitaskkcenter .richtext{
	color: #000000;
}

.facelift-content #mainTaskCTabContainer{
	display: inline-block;
	width:23em;
	margin-left: -5px;
}
.facelift .content_cross_reference .miniTaskCenterGreyContainer{
	display: inline-block;
	width:230px !important;
	margin: 0 1em 1.1em 1.5em;
}
.facelift .content_cross_reference .miniTaskCenterGreyContainer table{
	border-bottom: 1px solid #dddcdb;

	background: #f8f8f8; /* Old browsers */

	background: -moz-linear-gradient(left,  #f8f8f8 0%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f8f8f8), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f8f8f8 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f8f8f8 0%,#f6f6f6 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(left,  #f8f8f8 0%,#f6f6f6 100%);*/ /* IE10+ */
	background: linear-gradient(to right,  #f8f8f8 0%,#f6f6f6 100%); /* W3C */


}
.facelift .content_cross_reference .miniTaskCenterGreyContainer .dijitExpand_ListTitlePaneContentInner table{
	background: none;
	border-width: 0px;
}

.facelift-content .dhl #mainTaskCTabContainer .wrap1{
	background-image: url(../../img/facelift/common/taskcenter_shadow_l.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap2{
	background-image: url(../../img/facelift/common/taskcenter_shadow_t.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap3{
	background-image: url(../../img/facelift/common/taskcenter_shadow_r.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap4{
	background-image: url(../../img/facelift/common/taskcenter_shadow_b.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap5{
	background-image: url(../../img/facelift/common/taskcenter_shadow_bl.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap6{
	background-image: url(../../img/facelift/common/taskcenter_shadow_tl.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap7{
	background-image: url(../../img/facelift/common/taskcenter_shadow_tr.gif);
}
.facelift-content .dhl #mainTaskCTabContainer .wrap8{
	background-image: url(../../img/facelift/common/taskcenter_shadow_br.gif);
}

.facelift-content #mainTaskCTabContainer .mainTaskCTabContainer_tablist-top{
	display: inline-block;
	padding-left: 2px;
	margin-bottom: -1px;
}

.facelift-content #mainTaskCTabContainer #mainTaskCTabContainer_tablist .dijitTab,
.facelift-content #mainTaskCTabContainer #mainTaskCTabContainer_tablist .dijitTabChecked{

	font-size: 1.2em;
	margin-right: 0;
}
.facelift-content #mainTaskCTabContainer #mainTaskCTabContainer_tablist .dijitTab{
	color: #000000;
	text-shadow: 0px 1px #FFFFFF;
	height:35px;
}
.facelift-content #mainTaskCTabContainer #mainTaskCTabContainer_tablist .dijitTabHover{
	color:#CC0000;
	/*text-shadow: 0px -1px #b2b2b2;*/
	text-decoration: none;
}
.facelift-content #mainTaskCTabContainer #mainTaskCTabContainer_tablist .dijitTabChecked{
	color: #000000;
	text-shadow: 0px 1px #FFFFFF;
	margin-right: -3px;
	height:30px;
}

.facelift-content #mainTaskCTabContainer_tablist .dijitTabInnerDiv{
	background: url(../../img/facelift/common/taskcenter_inactive_tab_left.gif) left top no-repeat;
	margin-top: 8px;
	padding: 0 0 0 5px;
}

.facelift-content #mainTaskCTabContainer_tablist .dijitTabInnerDiv .dijitTabContent{
	background: url(../../img/facelift/common/taskcenter_inactive_tab_right.gif) right top no-repeat;
	padding: 6px 6px 6px 1px;
}

.facelift-content #mainTaskCTabContainer_tablist .dijitTabChecked .dijitTabInnerDiv{
	background: url(../../img/facelift/common/taskcenter_active_tab_left.gif) left top no-repeat;
	margin-top: 0;
	padding: 0 0 0 10px;
}

.facelift-content #mainTaskCTabContainer_tablist .dijitTabChecked .dijitTabInnerDiv .dijitTabContent{
	background: url(../../img/facelift/common/taskcenter_active_tab_right.gif) right top no-repeat;
	padding: 11px 10px 8px 1px;
}

.facelift-content #mainTaskCTabContainer .dijitTaskCTabPaneWrapper,
.facelift .content_cross_reference .miniTaskCenterGrey{
	padding: 0;
}
.facelift .content_cross_reference .miniTaskCenterGrey{
	width: auto !important;
}

.facelift .minitaskkcenter .dhl .dijitExpand_ListTitlePane .dijitOpen .dijitArrowNode{
	background-position: 1px 3px;
}

.facelift-content .dhl #mainTaskCTabContainer .dijitTitlePane .dijitTitlePaneTitle,
.facelift-content .taskcenter .standardlink,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle,
.facelift .content_cross_reference .miniTaskCenter .standardlink,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink{
	padding: 0.4em 0.75em 0.5em;
	margin-bottom: 0;
	/*font-weight: normal;*/

	border-top: 1px solid #fdfdfd;
	border-bottom: 1px solid #dddcdb;

	background: #f7f7f7; /* Old browsers */

	background: -moz-linear-gradient(top,  #f7f7f7 10%, #f5f5f4 47%, #ececea 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#f7f7f7), color-stop(47%,#f5f5f4), color-stop(95%,#ececea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 10%,#f5f5f4 47%,#ececea 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 10%,#f5f5f4 47%,#ececea 95%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #f7f7f7 10%,#f5f5f4 47%,#ececea 95%);*/ /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 10%,#f5f5f4 47%,#ececea 95%); /* W3C */

}
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle,
.facelift .content_cross_reference .miniTaskCenter .standardlink,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink{
	padding: 0.5em 0.75em 0.6em;
}

.facelift-content .taskcenter .standardlink{
	padding:0.6em 0.75em;
}

.facelift-content .taskcenter .standardlink.section a.arrowLinkUp,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenter .standardlink.section a.arrowLink,
.facelift .content_cross_reference .miniTaskCenter .standardlink.section a.arrowLinkUp,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink.section a.arrowLink,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink.section a.arrowLinkUp,
.facelift-content .taskcenter .standardlink.section a.anchorLink,
.facelift .content_cross_reference .miniTaskCenter .standardlink.section a.anchorLink,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink.section a.anchorLink{
	margin-bottom: 0;
}
.facelift .content_cross_reference .miniTaskCenter .expandablelink .standardlink.section a.arrowLink,
.facelift .content_cross_reference .miniTaskCenter .expandablelink .standardlink.section a.arrowLinkUp,
.facelift .content_cross_reference .miniTaskCenter .expandablelink .standardlink.section a.anchorLink,
.facelift .content_cross_reference .miniTaskCenterGrey .expandablelink .standardlink.section a.arrowLink,
.facelift .content_cross_reference .miniTaskCenterGrey .expandablelink .standardlink.section a.arrowLinkUp,
.facelift .content_cross_reference .miniTaskCenterGrey .expandablelink .standardlink.section a.anchorLink{
	font-weight: normal;
}
.facelift .content_cross_reference .miniTaskCenter .standardlink.section a.arrowLink,
.facelift .content_cross_reference .miniTaskCenter .standardlink.section a.arrowLinkUp,
.facelift .content_cross_reference .miniTaskCenter .standardlink.section a.anchorLink,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink.section a.arrowLink,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink.section a.arrowLinkUp,
.facelift .content_cross_reference .miniTaskCenterGrey .standardlink.section a.anchorLink{
	font-size: 1.2em;
	display: inline-block;
}

.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTextNode{
	text-decoration: none;
}

.facelift-content .dhl #mainTaskCTabContainer .dijitTitlePane .dijitOpen,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitOpen,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitOpen{
	background: #FFCC00;
	border-top-color: #FFCC00;
	border-bottom-color: #FFCC00;
}

.facelift-content .dhl #mainTaskCTabContainer .dijitTitlePaneContentOuter,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePaneContentOuter,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePaneContentOuter{
	padding: 0 1em;
}

.facelift-content .dhl #mainTaskCTabContainer .dijitTitlePaneContentOuter,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePaneContentOuter,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePaneContentOuter{
	background-color: #FFCC00;
	border-bottom: 1px solid #ecb200;
}

.facelift-content #mainTaskCTabContainer .dijitArrowNode{
	padding-right: 5px;
}

.facelift-content #mainTaskCTabContainer .dijitTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePaneTextNode{
	margin-left: 1.3em;
	text-shadow: 0 1px #ffffff;
}

.facelift-content #mainTaskCTabContainer .dijitOpen .dijitTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenter .dijitOpen .dijitExpand_ListTitlePaneTextNode,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitOpen .dijitExpand_ListTitlePaneTextNode{
	text-shadow: 0 1px #ffe680;
}

.facelift-content .dhl #mainTaskCTabContainer .dijitTitlePaneContentInner,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePaneContentInner,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePaneContentInner{
	padding: 0 0 1.1em 0;
	font-size: 1em;
}

.facelift-content .dhl #mainTaskCTabContainer #logistics .dijitTitlePaneContentInner,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePaneContentInner,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePaneContentInner{
	padding-top: 0.2em;
}
.facelift-content .taskcenter .expandablelink .standardlink{
	padding:0 0 0;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap1,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap2,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap3,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap4,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap5,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap6,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap7,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .wrap8,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap1,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap2,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap3,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap4,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap5,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap6,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap7,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .wrap8,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap1,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap2,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap3,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap4,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap5,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap6,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap7,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple_container .wrap8,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap1,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap2,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap3,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap4,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap5,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap6,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap7,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .wrap8,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap1,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap2,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap3,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap4,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap5,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap6,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap7,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .wrap8{
	background: none;
	background-image: none;
	padding: 0;
}

.facelift-content .taskcenter .dhl .fast_track,
.facelift .content_cross_reference .minitaskkcenter .dhl .fast_track{
	padding-top: 6px;
}

.facelift-content .taskcenter .dhl #logistics .fast_track{
	padding-top: 4px;
}

.facelift-content .taskcenter .dhl .unif_track,
.facelift-content .taskcenter .dhl .fast_track,
.facelift-content .taskcenter .dhl .drop_off_locator_simple,
.facelift .content_cross_reference .minitaskkcenter .dhl .fast_track{
	margin: 0;
	font-size: 1em;
	/*position: relative;*/
}

.facelift-content .taskcenter .dhl .unif_track,
.facelift-content .taskcenter .dhl .fast_track,
.facelift-content .taskcenter .dhl .drop_off_locator_simple,
.facelift-content .taskcenter .expandablelink .standardlink,
.facelift .content_cross_reference .minitaskkcenter .dhl .fast_track,
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle .standardlink,
.facelift .content_cross_reference .miniTaskCenter .expandablelink .standardlink,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle .standardlink,
.facelift .content_cross_reference .miniTaskCenterGrey .expandablelink .standardlink{
	background: none;
	border-bottom-width: 0px;
	border-top-width: 0px;
}
.facelift .content_cross_reference .miniTaskCenter .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle .standardlink,
.facelift .content_cross_reference .miniTaskCenter .expandablelink .standardlink,
.facelift .content_cross_reference .miniTaskCenterGrey .dijitExpand_ListTitlePane .dijitExpand_ListTitlePaneTitle .standardlink,
.facelift .content_cross_reference .miniTaskCenterGrey .expandablelink .standardlink{
	padding: 0;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track .AWB_field_wrapper,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track .AWB_field_wrapper,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track .AWB_field_wrapper,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track .AWB_field_wrapper{
	background: url(../../img/facelift/common/taskcenter_fast_track_textarea.gif) left top no-repeat scroll;
	/*
	position: relative;
	overflow: hidden;
	*/
	float: left;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 5px;
}
@-moz-document url-prefix(){
    .facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track .AWB_field_wrapper,
	.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track .AWB_field_wrapper,
	.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track .AWB_field_wrapper,
	.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track .AWB_field_wrapper{
		padding-right: 0px;
	}
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .unif_track textarea.code,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .fast_track textarea.code,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .fast_track textarea.code,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .fast_track textarea.code{
	background: none;
	border-width: 0px;

	width: 13.2em;
	min-width: 13.2em;
	height: 3.5em;
	/*padding: 5px 7px;*/
	padding: 4px 4px 2px 7px;
	margin-bottom: 4px;

	font-size: 1.2em;
	line-height: 1.1;

	resize: none;

	overflow-y: auto !important;
}
@-moz-document url-prefix(){
    .facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track_container .unif_track textarea.code,
	.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track_container .fast_track textarea.code,
	.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track_container .fast_track textarea.code,
	.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track_container .fast_track textarea.code{
		width:13.5em;
		min-width: 13.5em;
		height:3.5em;
		padding: 5px 4px 0 7px;
	}
}
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track textarea.code,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track textarea.code{
	margin-top: 0px;
	margin-bottom: 4px;
}

.facelift .content_cross_reference .taskcenter .countryselector .link_list_white button.redButton,
.facelift .content_cross_reference .minitaskkcenter .countryselector .link_list_white button.redButton{
	margin-right: 0px;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track input.track,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track input.track,
.facelift-content .taskcenter input.go,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track input.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track input.track,
.facelift .content_cross_reference .minitaskkcenter input.go,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .link_list_white input#go,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .link_list_white input#go,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track button.track,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track button.track,
.facelift-content .taskcenter button.go,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track button.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track button.track,
.facelift .content_cross_reference .minitaskkcenter button.go,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .link_list_white button#go,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .link_list_white button#go,
.facelift-content .taskcenter button#go.redButton,
.facelift-content .taskcenter button.goButton,
.facelift .content_cross_reference .minitaskkcenter button.goButton{
	background: url(../../img/facelift/common/quicksearch_button.gif) 0 0 no-repeat;
	font-size: 1em;
	width: 25px;
	height: 24px;
	border-width: 0px !important;
	vertical-align: top;
	text-indent: -999px;
	margin-right: 0px;
	float: none;
}
.facelift-content .content_cross_reference .taskcenter .countryselector button.goButton,
.facelift .content_cross_reference .minitaskkcenter .countryselector button.goButton{
	float: none;
}
.facelift-content .content_cross_reference .taskcenter .countryselector button.goButton.left,
.facelift .content_cross_reference .minitaskkcenter .countryselector button.goButton.left{
	float: left;
}
.facelift-content .taskcenter #logistics button#go.redButton{
	float: none;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track input.track,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track input.track,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track button.track,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track button.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track input.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track button.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track input.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track button.track{
	margin-top: 2.7em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track input.track:hover,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track input.track:hover,
.facelift-content .taskcenter input.go:hover,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track input.track:hover,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track input.track:hover,
.facelift .content_cross_reference .minitaskkcenter input.go:hover,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track button.track:hover,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track button.track:hover,
.facelift-content .taskcenter button.go:hover,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track button.track:hover,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track button.track:hover,
.facelift .content_cross_reference .minitaskkcenter button.go:hover{
	background-position: 0 -24px;
	cursor: pointer;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track button.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track button.track,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track button.track{
	float: right;
	margin-top: 27px;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track button.track{
    float: right;
    margin-top: 45px;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track .no_shipment_label button.track{
    margin-top: 30px;
}

.facelift-content .taskcenter button.go{
	margin-left: 0;
	margin-bottom: 0;
}

.facelift-content .taskcenter .dhl .module p{
	font-size: 1.2em;
	color: #000000;
}
.facelift-content .taskcenter .fast_track fieldset p{
	clear: both;
}
.facelift-content .taskcenter .dhl .module .error,
.facelift-content .taskcenter .dhl .module .fast_track .error,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track .error,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track .error {
	font-size: 1.2em;
	color: #cc0202;
}
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track .error,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track .error {
	margin-bottom: .7em;
	margin-top: -.4em;
	line-height: 1.1em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track a,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track a,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track a,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track a{
	font-size: 1.2em;
	clear:both;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .link_list_white{
	padding-top: 3px;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .link_list_white label,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple label,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track label,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track label,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .link_list_white label,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .drop_off_locator_simple label,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track label{
	color: #000000;
	font-size: 1.2em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .link_list_white select,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple select,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track select,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track select,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .link_list_white select,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .drop_off_locator_simple select,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track select,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .countryselector .link_list_white select.country{
	font-size: 1.2em;
	width: 14em;
	margin-right: 4px !important;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .unif_track select,
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .fast_track select,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track select{
	font-size: 1.2em !important;
	width: 14em !important;
}
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenter .fast_track select,
.facelift .content_cross_reference .minitaskkcenter .miniTaskCenterGrey .fast_track select{
	margin-bottom: 1em;
}
/*
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple{
	padding-top: 14px;
}
*/
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple div{
	color:#000000;
	font-size: 1.2em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple div h3{
	font-size: 1.05em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .drop_off_locator_simple div label{
	font-size: 1em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer input.city_zip_code{
	margin-right: 0.5em;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .expandablelink .standardlink a{
	font-weight: normal;
	font-size: 1.2em;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .expandablelink .countryselector{
	padding-bottom: 1em;
}

.facelift-content .taskcenter .dhl #mainTaskCTabContainer .expandablelink .richtext h3{
	font-size: .9em;
	color: #000000;
}
.facelift-content .content_cross_reference .taskcenter .dhl #mainTaskCTabContainer .dropofflocator .dhl{
	margin: 0;
}
.facelift-content .taskcenter .dhl #mainTaskCTabContainer .expandablelink .standardlink a{
	display: inline-block;
}
.facelift-content .taskcenter button.redButton,
.facelift-content .taskcenter button.greyButton{
	overflow: hidden;
}

.facelift-content .taskcenter .fast_track_headline,
.facelift .content_cross_reference .minitaskkcenter .fast_track_headline {
	color: #000000;
}
/*** END TaskCenter***/



/*** START Marketing Stage **/
.facelift .marketingStage,
.facelift .main_area .marketingStage{
	background: url("../../img/facelift/common/ajax-loader.gif") 250px 107px no-repeat;
}
.facelift .hasMarketingStage .marketingStage{
	position: absolute;
	left: 0px;
}
.facelift .hasMarketingStage .content_full .marketingStage{
	position: static;
	left: auto;
}

.facelift .hasMarketingStage .content_main_container {
	background-position: 0 233px;
}
.facelift .hasMarketingStage .navigation_content,
.facelift .hasMarketingStage .content_main_container .content_main,
.facelift .hasMarketingStage .content_main_container .content_main_index{
	margin-top: 233px;
}
.facelift .marketingStage .marketingStageConfig,
.facelift .marketingStage .marketingStageElement .elementConfig,
.facelift .marketingStage .marketingStageElementContainer .marketingStageArrows{
	display:none;
}

.facelift .marketingStage .marketingStageElementContainer{
	position: relative;
	width: 720px;
	height: 233px;
}

.facelift .marketingStage .marketingStageElementContainer .marketingStageElement{
	position: absolute;
	z-index: 1;
}

.facelift .marketingStage .marketingStageElementContainer .marketingStagePagination{
	position: absolute;
	top:9px;
	right:17px;
	z-index: 10;
}
.facelift .marketingStage .marketingStageElementContainer .marketingStagePagination li{
	list-style-type: none;

	background: url(../../img/facelift/common/marketingstage_pagination_shadow.png) right bottom no-repeat;

	float:left;

	width: auto;
	min-width: 11px;
	height:11px;
	padding: 0 3px 2px 0;
}
.facelift .marketingStage .marketingStageElementContainer .marketingStagePagination li a{
	background: url(../../img/facelift/common/marketingstage_pagination_element_off.png) left top repeat-x;

	float:left;

	width: auto;
	min-width: 7px;
	height:11px;
	padding-left: 2px;
	padding-right: 2px;

	font-weight: bold;
	line-height: 1;

	text-align: right;
}
@-moz-document url-prefix(){
	.facelift .marketingStage .marketingStageElementContainer .marketingStagePagination li a{
		height:10px;
		padding-top:1px;
	}
}

.facelift .marketingStage .marketingStageElementContainer .marketingStagePagination li a:hover,
.facelift .marketingStage .marketingStageElementContainer .marketingStagePagination li.active a{
	background-image: none;
	background-color: #CC0000;

	text-decoration: none;
	color:#FFFFFF;
}

.facelift .marketingStage .marketingStageElementContainer .marketingStageImagePopupText{
	position: absolute;

	display: none;

	/*
	margin-right: 20px;
	*/
	top: 30px;

	background: url(../../img/facelift/common/marketingstage_pagination_element_off.png) top left;

	padding-left: 3px;
	padding-right: 3px;

	/*
	white-space: nowrap;
	*/

	z-index: 11;
}

.facelift .marketingStage .marketingStageElementContainer .marketingStageArrows a.next,
.facelift .marketingStage .marketingStageElementContainer .marketingStageArrows a.previous{
	position: absolute;

	display:block;

	width:13px;
	height:26px;

	top: 104px;

	z-index:100;
}
.facelift .marketingStage .marketingStageElementContainer .marketingStageArrows a.next{
	background: url(../../img/facelift/common/marketingstage_arrows_next.png) right top no-repeat;

	right:3px;
}

.facelift .marketingStage .marketingStageElementContainer .marketingStageArrows a.previous{
	background: url(../../img/facelift/common/marketingstage_arrows_prev.png) left top no-repeat;

	left: 3px;
}

.facelift .marketingStage .marketingStageElement .elementContent{
	position: relative;
	width: 720px;
	height: 233px;
}
.facelift .marketingStage .marketingStageElement .elementContent a{
	display: block;
	width: 720px;
	height: 233px;
}
.facelift .marketingStage .marketingStageElement .elementContent a:hover{
	text-decoration: none;
}
.facelift .marketingStage .marketingStageElement .elementContent span.topLeft{
	top: 20px;
	left: 20px;
}
.facelift .marketingStage .marketingStageElement .elementContent span.bottomLeft{
	bottom: 20px;
	left: 20px;
}
.facelift .marketingStage .marketingStageElement .elementContent span.bottomRight{
	bottom: 20px;
	right: 20px;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox{
	position: absolute;

	display:block;
	overflow: hidden;

	background: url(../../img/facelift/common/marketingstage_textBox_bg.png) top left;

	max-height: 130px;
	width:230px;
	padding:15px;
}
.facelift .marketingStage .marketingStageElement .elementContent span.transparentBox{
	background:none;
}
/*
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext{
	font-size: 1em;
}
*/
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext h3,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox h3{
	margin-top: -6px;

	font-size: 1.6em;
	line-height: 1.25;
	/*font-weight: normal;*/
	color:#cc0000;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox h3{
	padding-top: .15em;
	margin-bottom: -0.15em;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext{
	line-height: 1.25;
	padding-top:8px;

	color: #000000;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext p{
	font-size: 1em;
	line-height: 1.25;
	color: #000000;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLink{
	background: url("../../img/facelift/common/arrow.gif") no-repeat scroll 0 0.3em;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLinkUp,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLinkUp{
	background: url("/img/common/arrow_up.gif") no-repeat scroll 0 0.2em;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .doubleArrowLink{
	background: url("../../img/facelift/common/doublearrow.gif") no-repeat scroll right 0.4em;
}
.facelift .marketingStage .marketingStageElement .elementContent span.transparentBox .doubleArrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.transparentBox .richtext .doubleArrowLink{
	background: url("../../img/facelift/common/doublearrow_trans.png") no-repeat scroll right 0.4em;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLinkUp,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLinkUp,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .doubleArrowLink{
	display: inline-block;
	width: auto;
	height: auto;

	margin-top: 5px;
	padding-left: 1em;

	font-size: 1.2em;
	font-weight: bold;

	color: #000000;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .doubleArrowLink{
	padding-left: 0;
	padding-right: 1.3em;
	font-weight: normal;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink{
	background-position: 0 0.4em;
	margin-top: 4px;
}
@-moz-document url-prefix(){
	.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink{
		background-position: 0 0.3em;
	}
	.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink{
		background-position: right 0.3em;
	}
}

.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLinkUp,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink{
	float: left;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLinkUp,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLink,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLinkUp,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .doubleArrowLink{
	clear: both;
}

.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink:hover,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLinkUp:hover,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink:hover,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLink:hover,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLinkUp:hover,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .doubleArrowLink:hover{
	text-decoration: underline;
	color: #CC0000;
}

.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLink span,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .arrowLinkUp span,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .doubleArrowLink span,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLink span,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .arrowLinkUp span,
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .richtext .doubleArrowLink span{
	display: none;
}

.facelift .marketingStage .marketingStageElement .elementContent .flashmodule{
	position: absolute;
	top: 0;
	left: 0;
}

.facelift .marketingStage .marketingStageElement .elementContent span.textBox .callToActionOuter{
	background: url(../../img/facelift/common/redbutton_onwhite_left.gif) left 0 no-repeat;

	float: right;

	width: auto;
	height:24px;

	margin-top: 1.2em;
	padding-left: 10px;

	clear: both;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .callToActionOuter .callToActionInner{
	background: url(../../img/facelift/common/redbutton_onwhite_right.gif) right 0 no-repeat;

	float: left;

	width: auto;
	height:24px;

	padding-right: 28px;

	font-size: 1.2em;
	line-height: 2;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 0 -1px #9f0000;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .callToActionOuter:hover .callToActionInner{
	background-position: right -24px;
	color: #FFDF58;
}
.facelift .marketingStage .marketingStageElement .elementContent span.textBox .callToActionOuter .callToActionInner span{
	display: none;
}

.facelift .marketingStage .flashToggler{
	display: inline-block;
	height: 0;
	width: 0;
	line-height: 0;
	padding: 0 !important;
	margin: 0 !important;
}

/*** END Marketing Stage **/


/*** START Buttons **/
.facelift .left{
	float: left;
}
.facelift .right{
	float: right;
}

	/*button as <a>*/
	.facelift a.redButton,
	.facelift a.greyButton{
		cursor: pointer;
		display: inline-block;

		width: auto;
		height:24px;

		margin-top: 12px;
	}
	.facelift a.redButton .buttonInner,
	.facelift a.greyButton .buttonInner{
		float: left;

		width: auto;
		height:24px;

		font-size: 12px;
		line-height: 2;
		font-weight: bold;
		color: #FFFFFF;
	}
	.facelift a.redButton{
		background: url(../../img/facelift/common/redbutton_onwhite_left.gif) left 0 no-repeat;
		padding-left: 10px;
	}
	.facelift a.redButton.onYellow{
		background-image: url(../../img/facelift/common/redbutton_onyellow_left.gif);
	}
	.facelift a.redButton .buttonInner{
		background: url(../../img/facelift/common/redbutton_onwhite_right.gif) right 0 no-repeat;
		padding-right: 28px;
		text-shadow: 0 -1px #9f0000;
	}
	.facelift a.redButton.onYellow .buttonInner{
		background-image: url(../../img/facelift/common/redbutton_onyellow_right.gif);
	}
	.facelift a.redButton:hover .buttonInner{
		background-position: right -24px;
		color: #FFDF58;
	}
	.facelift a.greyButton{
		background: url(../../img/facelift/common/greybutton_onwhite_right.gif) right 0 no-repeat;
		padding-right: 10px;
	}
	.facelift a.greyButton.onYellow{
		background-image: url(../../img/facelift/common/greybutton_onyellow_right.gif);
	}
	.facelift a.greyButton .buttonInner{
		background: url(../../img/facelift/common/greybutton_onwhite_left.gif) left 0 no-repeat;
		padding-left: 28px;
		text-shadow: 0 -1px #999999;
	}
	.facelift a.greyButton.onYellow .buttonInner{
		background-image: url(../../img/facelift/common/greybutton_onyellow_left.gif);
	}
	.facelift a.greyButton:hover .buttonInner{
		background-position: left -24px;
		color: #FFDF58;
	}


	/* buttons in old task center */
	.facelift .taskcenter button#go,
	.facelift .taskcenter button.track{
		background: #cc0202;
		border: 1px solid #cc0201;
		font-size: 1em;
		color: #fff;
		vertical-align: middle;
		cursor: pointer;
		height: auto;
	}
	@-moz-document url-prefix(){
		.facelift .taskcenter button#go .buttonInner,
		.facelift .taskcenter button.track .buttonInner{
			margin-right: 0;
		}
	}
	.facelift .taskcenter button.track{
		float: right;
	}
	.facelift .taskcenter button#go .buttonInner,
	.facelift .taskcenter button.track .buttonInner{
		background: none;
		text-shadow: none;
		padding: 2px 1px 1px 1px;
		font-weight: normal;
		font-size: 1em;
	}


	/*button as <button>*/
	.facelift button.redButton,
	.facelift button.greyButton{
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		border-width: 0;
		line-height: 1;
		min-width: 0;
		width: auto;
		height: 24px;
		overflow: visible;
		font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
	}
	.facelift button.redButton{
		background: url(../../img/facelift/common/redbutton_onwhite_left.gif) left 0 no-repeat;
	}
	.facelift button.redButton.onYellow{
		background-image: url(../../img/facelift/common/redbutton_onyellow_left.gif);
	}
	.facelift button.greyButton{
		background: url(../../img/facelift/common/greybutton_onwhite_right.gif) right 0 no-repeat;
	}
	.facelift button.greyButton.onYellow{
		background-image: url(../../img/facelift/common/greybutton_onyellow_right.gif);
	}
	.facelift button.redButton .buttonInner,
	.facelift button.greyButton .buttonInner{
		display: inline-block;
		padding: 6px 0;

		color:#FFFFFF;
		font-size: 12px;
		font-weight: bold;
		white-space: nowrap;
	}
	.facelift button.redButton .buttonInner{
		background: url(../../img/facelift/common/redbutton_onwhite_right.gif) right 0 no-repeat;
		padding-left: 10px;
		padding-right: 28px;
		text-shadow: 0 -1px #9F0000;
	}
	.facelift button.redButton.onYellow .buttonInner{
		background-image: url(../../img/facelift/common/redbutton_onyellow_right.gif);
	}
	.facelift button.redButton:hover .buttonInner{
		background-position: right -24px;
		color: #FFDF58;
	}
	@-moz-document url-prefix(){
		.facelift button.redButton .buttonInner{
			margin-top: -1px;
			margin-right: -3px;
			padding-left: 7px;
		}
	}
	.facelift button.greyButton .buttonInner{
		background: url(../../img/facelift/common/greybutton_onwhite_left.gif) left 0 no-repeat;
		padding-left: 28px;
		padding-right: 10px;
		text-shadow: 0 -1px #999999;
	}
	.facelift button.greyButton.onYellow .buttonInner{
		background-image: url(../../img/facelift/common/greybutton_onyellow_left.gif);
	}
	.facelift button.greyButton:hover .buttonInner{
		background-position: left -24px;
		color: #FFDF58;
	}
	@-moz-document url-prefix(){
		.facelift button.greyButton .buttonInner{
			margin-top: -2px;
			margin-left: -3px;
			padding-right: 7px;
		}
	}

	/* special styles for contexts in which the new buttons are used*/
	/*** search result page **/
	.facelift .search_results #new_search {
		margin-right:.6em;
	}

	/*** customs paperwork page **/
	.facelift .paperwork .redButton,
	.facelift .paperwork .greyButton{
		margin-top: 2.5em;
	}

/*** END Buttons **/


/*** START Country Locator **/
.facelift .countryLocator{
	width: 230px;
	margin-left: -5px;
}

.facelift .countryLocator .countryLocatorConfig{
	display:none;
}

.facelift .countryLocator .countryLocatorContent{
	background: url(../../img/facelift/common/countryLocator_bg_worldmap.gif) left -1px no-repeat #f2f2ed;
	padding: 6px  10px 10px 9px;
}

.facelift .countryLocator .countryLocatorContent .countryLocatorTitle{
	background: url(../../img/facelift/common/countryLocator_icon_globe.png) left 1px no-repeat;

	padding-left: 23px;

	font-size: 1.6em;
	line-height: 1.125;
}

.facelift .countryLocator ul.countryList{
	margin: 23px 0 0 8px;
}

.facelift .countryLocator ul.countryList li{
	list-style-type: none;

	font-size: 1.2em;
}

.facelift .countryLocator ul.countryList li a{
	display: inline-block;
}

.facelift .countryLocator .le{
	background: url(../../img/facelift/common/countrylocator_shadow_le.gif) left top repeat-y;
}
.facelift .countryLocator .to{
	background: url(../../img/facelift/common/countrylocator_shadow_to.gif) center top repeat-x;
}
.facelift .countryLocator .ri{
	background: url(../../img/facelift/common/countrylocator_shadow_ri.gif) right top repeat-y;
}
.facelift .countryLocator .bo{
	background: url(../../img/facelift/common/countrylocator_shadow_bo.gif) center bottom repeat-x;
}
.facelift .countryLocator .bl{
	background: url(../../img/facelift/common/countrylocator_shadow_bl.gif) left bottom no-repeat;
}
.facelift .countryLocator .tl{
	background: url(../../img/facelift/common/countrylocator_shadow_tl.gif) left top no-repeat;
}
.facelift .countryLocator .tr{
	background: url(../../img/facelift/common/countrylocator_shadow_tr.gif) right top no-repeat;
}
.facelift .countryLocator .br{
	background: url(../../img/facelift/common/countrylocator_shadow_br.gif) right bottom no-repeat;
	padding: 5px 5px 6px;
}

.facelift .countryLocator .styledDropdownContainer{
	float:left;

	position: relative;

	background: url(../../img/facelift/common/countrylocator_dropdown.gif) left top no-repeat;

	width: 168px;
	height: 24px;

	margin: 20px 0 0 1px;

	overflow: hidden;
}
.facelift .countryLocator .styledDropdown-open{
	overflow: visible;
}

.facelift .countryLocator .styledDropdownWrapper{
	position: absolute;
	top:23px;

	z-index: 8;

}
.facelift .countryLocator .styledDropdown-open .styledDropdownWrapper{

	background: url(../../img/facelift/common/countrylocator_dropdown_flap.gif) left bottom no-repeat;

	width: 165px;
	height: auto;
	padding:0 2px 2px 1px;
}

.facelift .countryLocator .styledDropdownScroller{
	width: 165px;
	height: auto;

	overflow-x: hidden;
	overflow-y: scroll;
}

.facelift .countryLocator ul.styledDropdown{

	width: 168px;
	height: 24px;

	margin: 0;

	overflow: hidden;
}

.facelift .countryLocator .styledDropdownWrapper ul.styledDropdown{
	display: none;
}
.facelift .countryLocator .styledDropdown-open .styledDropdownWrapper ul.styledDropdown{
	display: block;
}

.facelift .countryLocator .styledDropdown-open ul.styledDropdown{

	width: 165px;
	height: auto;

}

.facelift .countryLocator ul.styledDropdown li{
	padding: 3px 7px 4px;

	white-space: nowrap;
	overflow: hidden;
}

.facelift .countryLocator ul.styledDropdown li,
.facelift .countryLocator .dropdownButton{
	width: 130px;

	color: #666;
}
.facelift .countryLocator .styledDropdown-open ul.styledDropdown li{
	white-space: normal;

	min-width: 134px;
	width: auto;
	max-width: 151px;

	cursor: default;
}
.facelift .countryLocator .styledDropdown-open ul.styledDropdown li.selectedElement{
	background-color: #FFCC00;
	color: #000;
}
.facelift .countryLocator .dropdownButton{
	display: inline-block;

	position: absolute;

	top: 1px;
	left: 1px;

	background: url(../../img/facelift/common/countrylocator_dropdown_button.gif) right top no-repeat;

	border: 0px solid #000;

	height: 15px;
	padding: 2px 29px 4px 6px;

	font-size: 1.2em;
	text-decoration: none;

	z-index: 10;
}

.facelift .countryLocator .selectedElementTextHolder{
	float: left;
	width: 136px;
	height: 15px;
	padding: 3px 0 4px 7px;

	font-size: 1.2em;
	text-decoration: none;
	color: #666;
}

.facelift .countryLocator .styledDropdown-open .dropdownButton{
	/*background-position: right -21px;*/
}

.facelift .countryLocator .goButton{
	float: left;
	overflow: hidden;

	background: url(../../img/facelift/common/countryLocator_goButton.gif) left top no-repeat;

	width: 25px;
	height:24px;
	margin: 20px 0 0 7px;

	text-decoration: none;
	text-indent: -999em;

}
.facelift .countryLocator .goButton:hover{
	background-position: left -24px;
}

.facelift .countryLocator .touchDropdown{
	position: absolute;
	left: 0;
	height: 24px;
	width: 168px;
	z-index: 11;

	opacity: .01;

}
/*** END Country Locator **/




/*** START Teaser Rotator and new Curtain Teasers ***/

#facelift-homepage-module-teaser-rotator {
    margin: 30px 0 23px 20px;
    position: relative;
    left: -9999px;
}

.facelift #facelift-homepage-module-teaser-rotator .containerContentTabs {
    padding-top: 0px;
}

.teaser-rotator {
    position: relative;
    width: 700px;
    height: 150px;
    margin-top: 15px;
}

.teas-rot-viewport {
    margin-left: 5px;
    width: 680px;
}

.js .teas-rot-viewport {
    position: relative; /* IE 7 */
    overflow: hidden;
    /*border: 1px solid black;*/
}

.teaser-rotator .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.teaser-rotator .slider {
    position: relative;
    left: 0; /* so IE7 can retrieve CSS value in script */
    min-height: 127px;
}

.tr-arrow {
    position: absolute;
    cursor: pointer;
    width: 11px;
    height: 100%;
    top: 0;
}

.tr-arrow-left {
    left: -12px;
    background: url(../../img/facelift/curtain_teaser/teas_rot_arrow_left.gif) 0 center no-repeat;
}

.tr-arrow-right {
    right: 6px;
    background: url(../../img/facelift/curtain_teaser/teas_rot_arrow_right.gif) 0 center no-repeat;
}

.curtain-teaser {
    width: 224px;
    padding-top: 2px;
    background: url(../../img/facelift/curtain_teaser/curtain_teaser_shadow_top.gif) no-repeat;

}

.teaser-rotator .curtain-teaser {
    float: left;
    margin-left: 10px;
    width: 160px;
    border-left: 1px solid #ededeb;
}


.teaser-rotator .first {
    margin-left: 0;
}

.teaser-rotator .last {
    width: 160px;
}

.curt-teas-body {
    position: relative;
    width: 223px;
    height: 131px;
    padding-left: 3px;
    background: url(../../img/facelift/curtain_teaser/curtain_teaser_shadow_left.gif) no-repeat;
}

.curt-teas-body img {
    width: 220px;
    height: 131px;
}

.teaser-rotator .curt-teas-body  {
    width: 160px;
    height: 125px;
    padding-left:0;
}

.teaser-rotator .curt-teas-body img {
    width: 158px;
    height: 125px;
}

.curtain-teaser a.curt-teas-single-link:link,
.curtain-teaser a.curt-teas-single-link:visited,
.curtain-teaser a.curt-teas-single-link:hover,
.curtain-teaser a.curt-teas-single-link:active {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.curt-teas-text {
    display: block;
    background: #ffffff;
    width: 220px;
    min-height: 131px;
    padding-bottom: 14px;
}

.teaser-rotator .curt-teas-text {
    width: 159px;
    min-height: 125px;
}

.curtain-teaser span.curt-teas-hl {
    display: block;
    margin: 0 0 0 -1px;

    padding: 7px 22px 8px 10px;
    /*line-height: 1.2em;*/
    font-size: 1.4em;
    color: #cc0000;
    background: url(../../img/facelift/curtain_teaser/curtain_teaser_arrow_up.gif) 202px 12px no-repeat #ffcc00;
}

.teaser-rotator span.curt-teas-hl{
    font-size: 1.2em;
	background-position: 145px 11px;
}

.facelift-curtain-teaser-is-hover {
    background: url(../../img/facelift/curtain_teaser/curtain_teaser_arrow_down.gif) 202px 12px no-repeat #ffcc00 !important;
}

.teaser-rotator  .facelift-curtain-teaser-is-hover {
    background: url(../../img/facelift/curtain_teaser/curtain_teaser_arrow_down.gif) 145px 11px no-repeat #ffcc00 !important;
}

.curtain-teaser span.curt-teas-copy {
    display: block;
    margin: 0;
    padding: 6px 9px 6px 10px;
    font-size: 1.2em;
    color: #666666;
}

.curtain-teaser span.curt-teas-copy div.richtext {
    font-size: 1em;
}

.curtain-teaser h3 a:link,
.curtain-teaser h3 a:visited,
.curtain-teaser h3 a:hover,
.curtain-teaser h3 a:active {
    text-decoration: none;
    color: #cc0000;
}

.curtain-teaser p a:link,
.curtain-teaser p a:visited,
.curtain-teaser p a:hover,
.curtain-teaser p a:active {
    text-decoration: none;
    color: #666666;
}

.curtain-teaser span.curt-teas-link {
    display: block;
    font-size: 1.2em;
    margin: 2px 9px 0 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

.curtain-teaser span.curt-teas-link:hover {
    text-decoration: underline;
    color: #cc0000;
}

.curtain-teaser img {
    position: absolute; /* IE 7 */
    border: none;
}

.curtain-teaser-js .curt-teas-body {
    overflow: hidden;
    position: relative;
}

.curtain-teaser-js .curt-teas-text {
    position: relative;
    z-index: 1;
}

.curtain-teaser ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.curtain-teaser ul {
    margin: 0;
    padding: 0 0 0 0;
    font-size: 1.2em;
}

.curtain-teaser .curt-teas-text ul {
	padding:0 9px 0 10px;
}

.curtain-teaser .curt-teas-text ul div.section {
    width: auto !important;
    overflow: visible !important;
}
.curtain-teaser li a:link,
.curtain-teaser li a:visited,
.curtain-teaser li a:hover,
.curtain-teaser li a:active {
    text-decoration: none;
    color: #000000;
}
.curtain-teaser .curt-teas-text li a{
	display: inline-block;
}

.curtain-teaser li a:hover {
    text-decoration: underline;
    color: #cc0000;
}

.curtain-teaser li a img {
    display:none;
}

.curtain-teaser span.arrowLink{
	display: inline-block;
	background: url("/img/common/arrow.gif") no-repeat scroll 0 0.4em;
	padding-left: .7em;
}
.curtain-teaser span.arrowLinkUp{
	display: inline-block;
	background: url("/img/common/arrow_up.gif") no-repeat scroll 0 0.2em;
	padding-left: 1em;
}

.curt-teas-shadow-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background:  url(../../img/facelift/curtain_teaser/curtain_teaser_shadow_right.gif) no-repeat;
}

.teaser-rotator .curt-teas-shadow-right {
    width: 2px;
    background:  url(../../img/facelift/curtain_teaser/teas_rot_shadow_right.gif);
}

.curt-teas-shadow-bottom {
    position: relative;
    height: 4px;
    width: 226px;
    background: url(../../img/facelift/curtain_teaser/curtain_teaser_shadow_bottom.gif) no-repeat;
}

.teaser-rotator .curt-teas-shadow-bottom {
    height: 2px;
    width: 159px;
    background: url(../../img/facelift/curtain_teaser/teas_rot_shadow_bottom.gif) no-repeat;
}

.content_cross_reference .curtain-teaser {
    margin: 0 1em 1.1em 2em;
}

.containerleftpar .curtain-teaser,
.containerrightpar .curtain-teaser,
.cq-colctrl-lt0 .curtain-teaser {
    margin-bottom: 24px;
}




/*** START New Tab Design TEASER ROTATOR ***/
/* START Overwrite old Tab Design */

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation {
    position:relative;
    margin-right: 20px;
    border-bottom: 1px solid #eeeeee;
    overflow:hidden;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab {
    color: #000000;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    /*margin: 0 -2px;*/
    cursor: pointer;
    float: left;
    position: relative;
    white-space: nowrap;
    z-index: 3;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab {
    margin-bottom: -1px !important;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab a {
    text-decoration:none;
    text-shadow: 0px 1px #FFFFFF;
    color: #000000;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab a:hover {
    text-decoration:none;
    /*color: #FFFFFF;*/
    color: #CC0000;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked a:hover {
    text-decoration:none;
    color: #000000;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked a{
    color: #000000;
    display: block;
    overflow: hidden;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab .link span {
    text-decoration: none;
    color: #000000;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab .link span:hover {
    text-decoration: none;
    /*color: #FFFFFF;*/
    color: #CC0000;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked .link span:hover,
.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked .link span{
    color: #000000;
    display: block;
    overflow: hidden;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabInnerDiv {
    border:  none;
    margin-bottom: 0;
    padding: 5px 0 0 0;
    background: none;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabInnerDiv {
    position: relative;
    overflow: hidden;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabContent {
    border:  none;
    padding: 0;
    /*overflow:hidden;*/
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTab.containerTabChecked {
    margin-top: 0;
    margin-bottom: 0;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTab {
    cursor: pointer;
    white-space: nowrap;
    background: none;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked {
    background: none repeat scroll 0 0 #FFFFFF;
    border: none;
    color: #000000;
    font-family: inherit;
    font-size: 1.1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked .containerTabInnerDiv {
    border:  none;
    padding: 0;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .containerTabChecked .containerTabInnerDiv .containerTabContent {
    padding: 0;
}

.facelift #facelift-homepage-module-teaser-rotator .containerContentTabs {
    border: none;
    padding-top: 0px;
}

.facelift #facelift-homepage-module-teaser-rotator .tabName {
    display: none;
}

.facelift #facelift-homepage-module-teaser-rotator .tabName a,
.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation a,
.facelift #facelift-homepage-module-teaser-rotator .tabName span,
.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation .link span {
    display: block;
    overflow: hidden;
    position: relative;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabNavigation,
.facelift #facelift-homepage-module-teaser-rotator .containerContentTabs {
    width: auto;
}

/* END Overwrite old Tab Design */
/* START New Styles */

.facelift #facelift-homepage-module-teaser-rotator .containerTabContent .link {
    background: url(../../img/facelift/tabs/tab_inactive_left.gif) 0 bottom no-repeat;
    color: black;
    margin: 0 2px;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabContent .link a {
    text-decoration: none;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 7px 20px 6px 20px;
    background: url(../../img/facelift/tabs/tab_inactive_right.gif) 100% bottom no-repeat;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabChecked .containerTabContent .link {
    margin: 0 0;
    background: url(../../img/facelift/tabs/tab_active_left.gif) 0 bottom no-repeat;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabChecked .containerTabContent .link a {
    line-height: 1.2em;
    padding: 7px 22px 6px 22px;
    background: url(../../img/facelift/tabs/tab_active_right.gif) 100% bottom no-repeat;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabContent .link a:hover {
    /*color: #FFFFFF;*/
    color: #CC0000;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabChecked .containerTabContent .link {
    margin: 0 0;
    color: #000000;
    background: url(../../img/facelift/tabs/tab_active_left.gif) 0 bottom no-repeat;
}

.facelift #facelift-homepage-module-teaser-rotator .containerTabChecked .containerTabContent .link a {
    color: #000000;
    line-height: 1.2em;
    padding: 12px 22px 7px 22px;
    background: url(../../img/facelift/tabs/tab_active_right.gif) 100% bottom no-repeat;
}
/* END New Styles */



/*** END Teaser Rotator and new Curtain Teasers ***/






.facelift .ghost {
    display: none;
}



/* Quick Win solution for removing margin between content and footer */
.cancel-footer-gap .standardtemplatefooter {
    margin-top: -5.6em !important;
}

.cancel-footer-gap .campaignpage {
    margin-bottom: 0 !important;
}

.cancel-footer-gap .flashmodule {
    margin-bottom: 0 !important;
}




/*** DHL Location Finder with Bing Maps ***/

#dhl-location-finder-bing {
	font-size: 160%;
	font-family: Arial, Helvetica, _sans-serif;
	position: relative;
	width: 480px;
	height: 450px;
	background-color: #F2F2ED;
	overflow: hidden;
}

#dhl-location-finder-bing a {
	color: black !important;
}

#dhl-location-finder-bing form {
	top: 0;
	left: 0;
}

#dhl-location-finder-bing #dhl-loc-finder-map-container {
	position: absolute;
	top: 40px;
	width: 100%;
	height: 410px;
	overflow: hidden;
}

#dhl-location-finder-bing #dhl-loc-finder-map-container .NavBar_compassControlContainer {
	top: 45px;
	left: 0;
}

#dhl-location-finder-bing #dhl-loc-finder-map-container .NavBar_zoomControlContainer {
	top: 95px;
	left: 16px;
}

#dhl-location-finder-bing select,
#dhl-location-finder-bing option,
#dhl-location-finder-bing input {
	font-size: 14px;
}

#dhl-location-finder-bing select {
	margin-top: 3px;
}

#dhl-location-finder-bing input {
	height: 25px;
}

#dhl-location-finder-bing input[type=radio] {
	vertical-align: middle;
}

#dhl-location-finder-bing label {
	display: inline-block;
	margin: 6px 6px 6px 5px;
	vertical-align: middle;
	line-height: 25px;
}

#dhl-location-finder-bing  #dhl_loc_finder_bing_category_select {
	position: absolute;
	top: 8px;
	right: 20px;
	width: 150px;
	z-index: 1;
}

#dhl-location-finder-bing  #dhl_loc_finder_bing_region_select {
	position: absolute;
	top: 45px;
	right: 20px;
	width: 150px;
	transition: all .2s ease-out ;
}

#dhl-location-finder-bing  #dhl_loc_finder_bing_region_select.hidden {
	right: -200px;
}

#dhl-location-finder-bing #dhl-loc-finder-map-container .MicrosoftMap .infobox-body {
	background-color: #ffffff !important;
}

#dhl-location-finder-bing #dhl-loc-finder-map-container .MicrosoftMap .Infobox2 .infobox-title {
	font-size: 14px;
	color: #333333;
}

#dhl-location-finder-bing #dhl-loc-finder-map-container .MicrosoftMap .Infobox2 .infobox-info a {
	color: #333333 !important;
}

#dhl-location-finder-bing .dhl-loc-finder-bing-map-type-choice {
	position: absolute;
	left: 10px;
	width: 270px;
	height: 40px;
	margin-top: 3px;
	vertical-align: middle;
}



