/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

body {
    font-family: "Microsoft JhengHei", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7f7f7f;
    background: #fff;
    height: 100%;
    position: relative;
    background-color: #000;
}

a {
    color: #d45e62;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

a:hover,
a:active,
a:focus {
    color: #B4B4B4;
    outline: none;
}


/*jjstart 20160601*/

.gcontainer {}

.main-col {}

.header {
    background: rgba(30, 30, 30, 0.9);
    height: 60px;
    border-bottom: 0px #3A3C3F solid;
    border-top: #c42222 solid 4px;
    position: absolute;
    top: 0;
    z-index: 999;
    width: 100%;
}

.slider {}

.scleft {}


.sw01 .scfullbox{}
.sw02 .scfullbox{ 
}
.sw03 .scfullbox{
    width: 450px;    
}
.sw04 .scfullbox{}
.sw05 .scfullbox{}

.scfullbox {
    color: #FFF;
    position: absolute;
    bottom: -400px;
    padding: 30px;
    margin-left: 35px;
    width: 510px;
    /*    background-color: rgba(21, 21, 21, 0.95);*/
    /*
                -webkit-box-shadow: 0px 0px 24px 20px rgba(33,33,33,0.93);
                -moz-box-shadow: 0px 0px 24px 20px rgba(33,33,33,0.93);
                box-shadow: 0px 0px 24px 20px rgba(25, 25, 25, 0.93);
            */
    /* border-radius: 10px; */
}

.scfullbox .title {
    font-size: 52px;
    line-height: 70px;
}

.scfullbox .text {
    font-size: 25px;
    color: #B4B4B4;
}

.scfullbox .btbox {
    display: inline-block;
    padding-top: 15px;
}

.scfullbox .btbox span {
    padding-left: 35px;
    background-image: url("../images/gicon.png");
    background-repeat: no-repeat;
    padding-top: 2px;
    padding-bottom: 2px;
}

.btbox span.download-arrow {
    background-position: 0px -328px;
    padding-left: 20px;
}

.btbox .download-pc {
    background-position: 0px -119px;
}

.btbox .download-ph {
    background-position: 0px -179px;
}

.btbox .game-play {
    background-position: 0px -269px;
}

.btbox .game-lol {
    background-position: 0px -240px;
}

.scright {}

.swiper-container {
    width: 100%;
    height: 800px;
}

.swiper-slide .container {
    height: 100%;
}

.swiper-slide .row {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 500px;
    background-image: url(../images/textbg.png);
    background-repeat: no-repeat;
    background-position: 0px 80px;
}

.sw01,
.sw02,
.sw03,
.sw04,
.sw05 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.sw01 {
    background-image: url(../images/bgimg01.jpg);
}

.sw02 {
    background-image: url(../images/bgimg02.jpg);
}

.sw03 {
    background-image: url(../images/bgimg03.jpg);
}

.sw04 {
    background-image: url(../images/bgimg04.jpg);
}
.sw05 {
    background-image: url(../images/bgimg05.jpg)
}

/*bootstrap buttom gred*/

.btbox .btn-lg {
    padding: 10px 10px;
    font-size: 22px;
    line-height: 1.2;
}

.btn-gred {
    color: #E31E25;
    border-color: #d43f3a;
    background-color: rgba(30, 30, 30, 0.96);
}

.btn-gred:focus,
.btn-gred.focus {
    color: #E31E25;
    background-color: rgba(15, 15, 15, 0.96);
    border-color: #761c19;
}

.btn-gred:hover {
    color: #E31E25;
    background-color: #000000;
    border-color: #ac2925;
}

.btn-gred:active,
.btn-gred.active,
.open > .dropdown-toggle.btn-gred {
    color: #E31E25;
    background-color: rgba(30, 30, 30, 0.96);
    border-color: #ac2925;
}

.btn-gred:active:hover,
.btn-gred.active:hover,
.open > .dropdown-toggle.btn-gred:hover,
.btn-gred:active:focus,
.btn-gred.active:focus,
.open > .dropdown-toggle.btn-gred:focus,
.btn-gred:active.focus,
.btn-gred.active.focus,
.open > .dropdown-toggle.btn-gred.focus {
    color: #E31E25;
    background-color: rgba(30, 30, 30, 0.8);
    border-color: #761c19;
}

.btn-gred:active,
.btn-gred.active,
.open > .dropdown-toggle.btn-gred {
    background-image: none;
}

.btn-gred.disabled:hover,
.btn-gred[disabled]:hover,
fieldset[disabled] .btn-gred:hover,
.btn-gred.disabled:focus,
.btn-gred[disabled]:focus,
fieldset[disabled] .btn-gred:focus,
.btn-gred.disabled.focus,
.btn-gred[disabled].focus,
fieldset[disabled] .btn-gred.focus {
    background-color: rgba(30, 30, 30, 0.8);
    border-color: #d43f3a;
}

.btn-gred .badge {
    color: #d9534f;
    background-color: #fff;
}

.slider .btn {
    border-radius: 0;
}

.phone_show{display:none;}
    .pc_show{display: block;}


/*
    .btn-gred{
        
    }
*/


/*bootsrap no gutter*/

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.92);
    /* change if the mask should have another color then white */
    z-index: 1000;
    /* makes sure it stays on top */
}



    .phone_show{display:none!important;}
    .pc_show{display: block!important;}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
            內容content - Mobile style's
            –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (min-width: 760px) and (max-width: 1170px) {
    .scfullbox {
        color: #FFF;
        position: absolute;
        bottom: -350px;
        padding: 0px;
        margin-left: 0px;
        /* background-color: rgba(21, 21, 21, 0.95); */
        /* border-radius: 10px; */
        width: 97%!important;
        text-align: center;
    }
  
    .scfullbox .title {
        font-size: 45px;
        line-height: 50px;
    }
    .scfullbox .text {
        font-size: 25px;
    }
    .btbox .btn-lg {
        font-size: 18px;
        line-height: 1.2;
    }
    .btbox span.download-arrow {
        background-position: 0px -331px;
        padding-left: 20px;
    }
    .btbox .download-pc {
        background-position: 0px -122px;
    }
    .btbox .download-ph {
        background-position: 0px -182px;
    }
    .btbox .game-play {
        background-position: 0px -272px;
    }
    .btbox .game-lol {
        background-position: 0px -243px;
    }
    .btn-gred {
        background-color: rgba(15, 15, 15, 0.96);
    }
    .scfullbox .btbox a {
        margin-right: 0px;
    }
    .swiper-slide .row {
        height: 400px;
        background-image: url(../images/textbg.png);
        background-repeat: no-repeat;
        background-position: -80px 60px;
    }
    .swiper-pagination-bullet {
        width: 8px!important;
        height: 8px!important;
    }
    .sw01,
    .sw02,
    .sw03,
    .sw04,
    .sw05 {
        background-position: center center;
    }
    .sw01 {
        background-image: url(../images/bgimg01s.jpg);
    }
    .sw02 {
        background-image: url(../images/bgimg02s.jpg);
    }
    .sw03 {
        background-image: url(../images/bgimg03s.jpg);
    }
    .sw04 {
        background-image: url(../images/bgimg04s.jpg);
    }
    
    .sw05 {
    background-image: url(../images/bgimg05s.jpg)
}
    
   
}



@media only screen and (max-width: 760px) {
    
    .phone_show{display:block;}
    .pc_show{display: none;}
    .scfullbox {
        color: #FFF;
        position: absolute;
/*        bottom: -350px;*/
        bottom: -320px;
        padding: 0px;
        margin-left: 0px;
        /* background-color: rgba(21, 21, 21, 0.95); */
        /* border-radius: 10px; */
        width: 92%!important;
        text-align: center;
    }
    .scfullbox .title {
        font-size: 30px;
        line-height: 35px;
    }
    .scfullbox .text {
        font-size: 18px;
    }
    .scfullbox .btbox{
        display:block;
    }
    
    .sw01 .scfullbox{
        bottom: -280px;
    }
    .sw04 .scfullbox .btbox{ display: block;}
    
    .btbox .btn-lg {
        font-size: 18px;
        line-height: 1.2;
    }
    .btbox span.download-arrow {
        background-position: 0px -331px;
        padding-left: 20px;
    }
    .btbox .download-pc {
        background-position: 0px -122px;
    }
    .btbox .download-ph {
        background-position: 0px -182px;
    }
    .btbox .game-play {
        background-position: 0px -272px;
    }
    .btbox .game-lol {
        background-position: 0px -243px;
    }
    .btn-gred {
        background-color: rgba(15, 15, 15, 0.96);
    }
    .scfullbox .btbox a {
        margin-right: 0px!important;
        margin-bottom: 10px;
    }
    .swiper-slide .row {
        height: 400px;
    }
    .swiper-slide .row {
        /*                     background-image: url(../images/textbg02.png);*/
    }
    .btmghide {
        display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px!important;
        height: 50px!important;
    }
    .swiper-button-next {
        background-position: -150px center!important;
    }
    .swiper-pagination-bullet {
        width: 8px!important;
        height: 8px!important;
    }
    .sw01,
    .sw02,
    .sw03,
    .sw04,
    .sw05 {
        background-position: center center;
    }
    .sw01 {
        background-image: url(../images/bgimg01s.jpg);
    }
    .sw02 {
        background-image: url(../images/bgimg02s.jpg);
    }
    .sw03 {
        background-image: url(../images/bgimg03s.jpg);
    }
    .sw04 {
        background-image: url(../images/bgimg04s.jpg);
    }
    .sw05 {
    background-image: url(../images/bgimg05s.jpg)
}
    .sw03 .text {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }
    
     .phone_show{display:block!important;}
    .pc_show{display: none!important;}
    
}
    @media only screen and (max-width: 320px) {
        .scfullbox .text{
            font-size: 15px;
        }
    }