@charset "utf-8";
body{margin:0;padding:0;font-size:12px;line-height:22px;font-family:"Arial","宋体"; color:#333;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,label,cite{margin:0;padding:0;}
input,select{font-size:12px;line-height:16px;}
img{border:0;}
ul,li{list-style-type:none;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.dis{display:block;}
.undis{display:none;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.cl{clear:both;}
.fb{font-weight:bold;}
.po_rel{ position:relative;}
.nomr{margin-right:0 !important;}
a:hover{color:#F00 !important; text-decoration:none;}
a{color:#666; text-decoration:none;}

.wrap{width:1000px; margin:0 auto; background:none; border-bottom:1px solid #ececec;}
/**顶部导航**/
.topbar{width:1002px;height:30px; line-height:30px;}
.topbar ul{width:240px; float:right; text-align:right;}
.topbar li{ float:left; height:30px; line-height:30px; vertical-align:middle; margin-right:10px; padding-left:18px;  background-position:left center !important;}

.topbar li.inteservce{background:url(../images/znkf.gif) no-repeat;}
.topbar li.helpcenter{background:url(../images/bzzx.gif) no-repeat;}
.topbar li.creative{background:url(../images/gt_001.gif) no-repeat;}
.topbar li.order{background:url(../images/dy.gif) no-repeat;}
.topbar li a{padding-left:5px;}
.topbar .login_in{width:88px;height:29px; line-height:29px; float:right;color:#FFF; background:url(../images/login_bg_l.gif) center center no-repeat; text-align:center; position:relative; z-index:9999999;}
.topbar .login_on{height:29px; float:right;color:#FFF; text-align:center; font:normal 12px/29px "Arial","宋体"; }
.topbar .login_in a{color:#FFF; float:left;}
.topbar .login_in .log_ll{width:47px; height:29px; float:left; overflow:hidden;}
.topbar .login_in .reg_ll{width:41px; height:29px; float:right; overflow:hidden;}
.topbar .login_in .log_ll a{ text-align:center; width:46px; /**height:12px; line-height:13px; margin-top:8px; border-right:1px solid #FFF;**/}
.topbar .login_in .reg_ll a{ text-align:center; width:41px;}
.topbar .login_in .log_ll a:hover{color:#666666 !important; background:url(../images/logo_hoverbg.gif) left top no-repeat; width:47px;height:29px; float:left; margin-left:1px; border:none; margin-top:0; line-height:29px;}
.topbar .login_in .reg_ll a:hover{ background:none; color:#FFF!important; text-decoration:underline !important;}
.log_form{position:absolute; display:none; right:40px; top:28px;width:222px;height:132px; background:url(../images/login_form_bg.png) no-repeat;_filter:progid:dximagetransform.microsoft.alphaimageloader(src='images/login_form_bg.png', sizingMethod='image'); z-index:9999999;}

.log_form .inputblk{width:180px;height:20px; background:url(../images/log_username.gif) right center no-repeat; margin:25px auto 0 auto; }
.log_form .inputblk label{width:60px;height:20px; text-align:left; line-height:20px; float:left; color:#000; font-weight:bold; overflow:hidden; display:inline;}
.log_form .inputblk input{width:118px;height:20px; line-height:20px; float:right; border:none; background:none; overflow:hidden; display:inline;}
.log_form .inputblk button{width:53px;height:20px; background:url(../images/btn_login.jpg) no-repeat; border:none; float:right; cursor:pointer;}
.log_form .inputblk a{float:right;width:65px;height:20px; line-height:20px; text-decoration:underline;color:#666666; font-weight:bold; margin-right:2px;}

/*Login_On_Stat*/
.login_on{height:29px; float:right;}
.login_on .login_onl{width:3px;height:29px; background:url(../images/login_h_r0bg.gif) no-repeat; float:left;}
.login_on .login_onr{width:3px;height:29px; background:url(../images/login_h_l0bg.gif) no-repeat; float:left;}
.login_on .login_onc{height:29px; background:url(../images/login_h_lbg10.jpg) repeat-x; float:left; line-height:29px;min-width:170px;*width:expression( document.getElementById('l_00').offsetWidth+200+"px" ); }
.login_onc ul{width:auto !important;}
.login_onc li{float:left;margin:0 !important; padding:0 !important; z-index:1003; position:relative;zoom:1; text-align:center;width:auto; height:auto; line-height:29px;}
.login_onc li a{color:#FFF;padding:0 10px !important;}
.login_onc_sub{width:121px; position:absolute; top:28px; left:-29px; z-index:1002;zoom:1; display:none;}
.login_onc_sub .login_onc_sub00{width:121px; height:3px; background:url(../images/login_h_lbg12.jpg) no-repeat;  float:left;}
.login_onc_sub .login_onc_sub01{width:121px; background:url(../images/login_h_lbg8.jpg) repeat-y; clear:both; padding:13px 0; height:235px; float:left;}
.login_onc_sub .login_onc_sub02{width:121px; height:4px; background:url(../images/login_h_lbg4.gif) no-repeat; clear:both; o float:left;}
.login_onc_sub01 li{height:24px;color:#666; line-height:24px; float:left; text-align:left;width:121px;}
.login_onc_sub01 li.onover,.login_onc_sub01 li:hover{ background:url(../images/login_h_lbg6.jpg) 1px center no-repeat !important; color:#666;}
.login_onc_sub01 li.onover a,.login_onc_sub01 li:hover a{ background:none !important;color:#666 !important;}
.login_onc_sub01 li a{height:24px;_height:23px; border-bottom:1px solid #adadad; background:url(../images/login_h_lbg7.jpg) 5px center no-repeat !important; padding-left:15px!important; margin-left:13px;width:70px; display:inline-block;color:#666;}

.login_onc_sub03{width:244px;height:310px;padding:5px 13px; position:absolute; top:-16px;right:120px;*right:119px; border:1px solid #9d9e98; background:#FFF; z-index:199999; display:none;}
.login_onc_sub03 span{height:29px; border-bottom:1px solid #cccccc; line-height:29px; background:url(../images/li_dot.gif) 5px center no-repeat; padding-left:5px; display:inline-block; white-space:nowrap; }
.login_onc_sub03 span a{padding:0 !important; background:none !important;width:214px !important; border-bottom:none !important;}
.login_onc_sub03 span a:hover{color:#f00!important;}

#las_0,#las_1{height:29px;width:50px; display:inline-block; text-align:center;}
#l_sub_01{top:-40px;_top:-41px;}
#l_sub_02{top:-64px;_top:-66px;}
#l_sub_03{top:-88px;_top:-91px;}
#l_sub_04{top:-112px;_top:-116px;}
#l_sub_05{top:-136px;_top:-141px;}
#l_sub_06{top:-160px;_top:-166px;}
#l_sub_08{top:-184px;_top:-191px;}
#l_sub_09{top:-208px;_top:-216px;}

/**系统导航**/
.logo_l{width:119px;height:65px; float:left; display:inline;margin-left:15px; overflow:hidden; /*background:url(../images/logo_index.gif) left top no-repeat;*/}
.logo_l a{width:119px;height:65px;text-indent:-9999px; display:block;}
.nav{height:75px; background:none; margin:0 auto;}
.nav_q{width:827px; height:36px; display:inline; overflow:hidden; zoom:1; float:right; margin-top:18px; background:url(../images/nav_bgall.png) no-repeat left top; line-height:36px;}
.nav_q a{width:66px; text-align:center; float:left; display:inline; overflow:hidden; zoom:1; margin-left:1px; color:#333; font-weight:bold;}
.nav_q a:hover{color:rgb(41, 129, 169)!important;}

/**通用标题**/
.common_title{width:100%;height:24px; border-bottom:2px solid #000; line-height:24px; text-indent:0px; background-position:left center;}

/**通用更多_absolute**/
.common_more{width:66px;height:21px; line-height:21px; background:url(../images/more_bg.gif) no-repeat; display:inline-block;position:absolute;bottom:0px;right:0;color:#666666 !important; text-align:center; font:normal 12px/21px "Arial","宋体"; text-indent:0;}
.spe_common_m{width:79px;height:25px; line-height:25px; background:url(../images/spe_detail_bg.gif) no-repeat; display:inline-block; position:absolute; top:0; right:0; color:#666666; text-align:center;}
/**通用更多_normal**/
.com_more{float:right; display:inline-block; color:#000; height:24px; font:normal 12px/24px "Arial","宋体"; padding-right:2px; text-align:right;}


/**通用TAB切换**/
.comm_tab,.comm_tab2,.comm_tab3{width:100%; display:inline-block; float:left; border-bottom:1px solid #2c2c2c; overflow:hidden; position:relative;}
.comm_tab span a{width:89px;height:29px;margin-right:2px;text-align:center; font:bold 14px/29px "Arial","宋体";background:url(../images/block_tab01_bgout.jpg) no-repeat; color:#333333 !important; display:block; float:left;}
.comm_tab span a:hover,.comm_tab span a.on{background:url(../images/block_tab01_bgon.jpg) no-repeat; color:#FFF !important; display:block;}
/**通用TAB切换2**/
.comm_tab2 span a{width:55px;height:23px;margin-right:2px;text-align:center; font:bold 14px/23px "Arial","宋体";background:url(../images/v_tabs_out.gif) no-repeat; color:#333333 !important; display:block; float:left;}
.comm_tab2 span a:hover,.comm_tab2 span a.on{background:url(../images/v_tabs_on.gif) no-repeat; color:#FFF !important; display:block;}
/**通用TAB切换3**/
.comm_tab3 span a{width:75px;height:23px;margin-right:2px;text-align:center; font:bold 14px/23px "Arial","宋体";background:url(../images/v_tabs2_out.gif) no-repeat; color:#333333 !important; display:block; float:left;}
.comm_tab3 span a:hover,.comm_tab3 span a.on{background:url(../images/v_tabs2_on.gif) no-repeat; color:#FFF !important; display:block;}

/**共用搜索**/
.search_tag{width:960px;height:30px; margin-bottom:10px;float:left;}
.search_l{width:413px;height:23px; padding-top:4px; background:url(../images/serach_bg.jpg) repeat-x; border:1px solid #bbbbbb; border-right:none; float:left; overflow:hidden;}
.search_l select{width:176px;height:20px; float:left; border-style:solid; border-width:1px; border-color:#404040 #d4d0c8 #d4d0c8 #404040; margin-left:4px; overflow:hidden;}
.search_l input{width:176px;height:16px; float:left; border-style: solid; border-width:1px; border-color:#404040 #d4d0c8 #d4d0c8 #404040; margin-left:4px;}
.search_l button{width:42px;height:21px; background:url(../images/search_btn.gif) no-repeat; float:right; margin-right:7px; border:none; cursor:pointer;}
.tags_l{width:474px;height:27px; background: #eaeaea url(../images/hot_tag_lebel.gif) 12px 5px no-repeat;padding-left:70px;border:1px solid #bbbbbb; border-left:none; float:left; line-height:27px; text-align:left; border-left:1px solid #ccc}
.tags_l a{color:#2761b1; text-decoration:underline; padding:0 3px;}

/**block_05---友情链接**/
.block_05{width:1000px; padding:15px 0;background:#3182DE; margin:25px auto 0 auto; border:1px solid #2F7CC4; border-bottom:none; overflow:hidden;}
/*.fd_blc{width:10px; height:10px; background:url(../images/lr.gif) 0 0 no-repeat; bottom:-1px; left:-1px; position:absolute; overflow:hidden;}
.fd_brc{width:10px; height:10px; background:url(../images/lr.gif) -10px 0 no-repeat; right:-1px; bottom:-1px; position:absolute; overflow:hidden;}*/
.fd_label{width:150px; height:44px; background:url(../images/friendlink_ico.gif) 55px 4px no-repeat; text-align:right; color:#FFF; font-weight:bold; float:left;}
.fd_label span{float:right;margin-right:15px;}
.fd_links{width:840px;font:normal 12px/22px "Arial","宋体"; color:#FFF; float:left;}
.fd_links a{margin:0 5px;color:#FFF; white-space:nowrap !important; overflow:hidden;}
.fd_links a:hover{color:#FFF !important; text-decoration:underline;}
.fd_b_bg{width:1000px;height:10px; background:url(../images/fr_bottom_bh.gif) no-repeat; overflow:hidden; clear:both; margin:0 auto;}
.fd_links li{float:left;white-space:nowrap !important;}

/**block_06---版权**/
.block_06{width:1002px;height:50px; overflow:hidden; margin: 0 auto;}
.copy_c{width:700px; height:50px; font:normal 12px/50px "Arial","宋体"; color:#666666; float:left;}
.inner_nav{width:250px; height:50px; line-height:50px; float:right; text-align:right;color:#666666}
.inner_nav a{padding:0 1px;color:#666666;}
.block_06_nofdl{border:1px solid #2f7cc4; background:#3182de; line-height:50px; margin:20px auto 30px; padding:0 25px;width:950px !important;}
.block_06_nofdl div,.block_06_nofdl a{color:#FFF !important;}

.topbar ul.headerclass{height:19px; margin:5px 20px 0 0; overflow:hidden; zoom:1;}
.topbar ul.headerclass li{background:none!important; margin:0px!important; height:19px; line-height:19px; padding:0px!important; float:left; display:inline; overflow:hidden; zoom:1;}
.topbar ul.headerclass li a{height:19px; float:left; display:inline; overflow:hidden; zoom:1; padding-left:0px;}
.topbar ul.headerclass li.sethome a{width:70px; margin-right:10px; background:url(../images/zyzj_add.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/zyzj_add.png", sizingMethod="scale");}
.topbar ul.headerclass li.desksience a{width:88px; margin-right:10px; background:url(../images/zmkjga.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/zmkjga.png", sizingMethod="scale");}
.topbar ul.headerclass li.etb_q a{width:85px; margin-right:6px; background:url(../images/rtba.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/rtba.png", sizingMethod="scale");}
.topbar ul.headerclass li.jb_q a{width:80px; margin-right:7px; background:url(../images/jbwza.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/jbwza.png", sizingMethod="scale");}
.topbar ul.headerclass li.wapsite a{width:72px; background:url(../images/sjwza.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/sjwza.png", sizingMethod="scale");}
.topbar ul.headerclass li.en_q a{width:85px; background:url(../images/ywb.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/ywb.png", sizingMethod="scale");}

.topbar ul.headerclass li.kksite a{width:72px; background:url(../images/kksite.png) no-repeat left top; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader
(src="../images/kksite.png", sizingMethod="scale");}

.nav_bgall{width:813px;height:34px; background:url(../images/nav_bg_all.gif) left bottom no-repeat; float:right; margin-top:21px;}
.nav_bgall .outul{ overflow:hidden;}
/*
.nav_bgall .outul li{float:left;display:block; position:relative;width:103px;height:34px; z-index:1001; overflow:hidden;}
.nav_bgall .outul li a{display:block; text-indent:-99999px;width:103px;height:34px;line-height:34px; text-align:center; float:left;background-position: left 3px !important;}
*/
.nav_bgall .outul li{float:left; overflow:hidden;}
.nav_bgall .outul li a{height:34px; float:left; display:inline-block; text-indent:-9999px;}
.nav_bgall .outul li.f_li a{width:71px;}
.nav_bgall .outul li.f_li a:hover,.nav_bgall .outul li.f_li a.on{ background:url(../images/nav_bg_all_on.gif) 0 0 no-repeat;}
.nav_bgall .outul li.s_li a{width:74px;}
.nav_bgall .outul li.s_li a:hover,.nav_bgall .outul li.s_li a.on{ background:url(../images/nav_bg_all_on.gif) -71px 0 no-repeat;}
.nav_bgall .outul li.t_li a{width:73px;}
.nav_bgall .outul li.t_li a:hover,.nav_bgall .outul li.t_li a.on{ background:url(../images/nav_bg_all_on.gif) -145px 0 no-repeat;}
.nav_bgall .outul li.fo_li a{width:73px;}
.nav_bgall .outul li.fo_li a:hover,.nav_bgall .outul li.fo_li a.on{ background:url(../images/nav_bg_all_on.gif) -218px 0 no-repeat;}
.nav_bgall .outul li.fi_li a{width:73px;}
.nav_bgall .outul li.fi_li a:hover,.nav_bgall .outul li.fi_li a.on{ background:url(../images/nav_bg_all_on.gif) -291px 0 no-repeat;}
.nav_bgall .outul li.si_li a{width:73px;}
.nav_bgall .outul li.si_li a:hover,.nav_bgall .outul li.si_li a.on{ background:url(../images/nav_bg_all_on.gif) -364px 0 no-repeat;}
.nav_bgall .outul li.se_li a{width:72px;}
.nav_bgall .outul li.se_li a:hover,.nav_bgall .outul li.se_li a.on{ background:url(../images/nav_bg_all_on.gif) -437px 0 no-repeat;}
.nav_bgall .outul li.e_li a{width:72px;}
.nav_bgall .outul li.e_li a:hover,.nav_bgall .outul li.e_li a.on{ background:url(../images/nav_bg_all_on.gif) -509px 0 no-repeat;}
.nav_bgall .outul li.n_li a{width:73px;}
.nav_bgall .outul li.n_li a:hover,.nav_bgall .outul li.n_li a.on{ background:url(../images/nav_bg_all_on.gif) -581px 0 no-repeat;}
.nav_bgall .outul li.te_li a{width:75px;}
.nav_bgall .outul li.te_li a:hover,.nav_bgall .outul li.te_li a.on{ background:url(../images/nav_bg_all_on.gif) -654px 0 no-repeat;}
.nav_bgall .outul li.el_li a{width:84px;}
.nav_bgall .outul li.el_li a:hover,.nav_bgall .outul li.el_li a.on{ background:url(../images/nav_bg_all_on.gif) -729px 0 no-repeat;}


/*注释导航的鼠标经过效果*/
/*
.nav_bgall .outul li a:hover{ background:url(../images/nav_bg_aon.gif) no-repeat;text-indent:-10px; color:#626262 !important;font-weight:bold;}
*/

.nav_bgall .outul li.first,.nav_bgall .outul li.first a,.nav_bgall .outul li.first a:hover{background:none;width:75px !important; text-indent:-99999px;}


