﻿/* CSS Document */

body {font:12px/1.5  "\5b8b\4f53",Arial, sans-serif;-webkit-text-size-adjust:none;}
ul,li {
margin:0;
padding:0;
list-style-type:none;
}
html, body, div, dl, dt, dd, ul, ul li, h1, h2, h3, h4, h5, h6, pre, input, p, blockquote, th, td, form {
margin:0;
padding:0;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
img {
border:0;
}
.clear {clear:both;}
.l {float:left;}
.r {float:right;}
.red {color:#990000;}

.wrap {
margin:0 auto;
width:1002px;
overflow:hidden;
background:#FFFFFF;
}

/*-----2012top-------*/
.topbar-2012 {
height: 32px;
line-height: 32px;
width: 1002px;
background:url(../../images/new2012/2012-top-bg.jpg) top repeat-x;
margin:0 auto;
}
.l-2012 {float:left;}
.r-2012 {float:right;}
.login-2012 {
width:532px;
height:32px;
line-height:32px;
padding-left:10px;
}
.top-menu-2012 {
width:450px;
height:32px;
line-height:32px;
padding-right:10px;
text-align:right;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
}
.top-menu-2012 a {color:#000000; text-decoration:none;font-family:Arial, Helvetica, sans-serif;padding:0 5px;}
.top-menu-2012 a:hover { color:#990000;}
form {padding:0;margin:0;}
.clear2012 {clear:both;}
/*----20120706新添加-----*/
.usernameFld {
    float: left;
    overflow: hidden;
    width: 165px;
}
.usernameFldlabel, .passwordFldlabel {
    float: left;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    padding: 0 6px 0 0;
}
.usernameFldinput {
    float: left;
    position: relative;
    width: 86px;
}
.usernameFldinput input {
    border: 1px solid #ccc;
    color: #444444;
    font-size: 12px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: 3px;
    top: 7px;
    width: 114px;
	vertical-align: middle;
	height: 16px;
    left: 0;
    line-height: 16px;
}
 .passwordFld {
    float: left;
    overflow: hidden;
	margin-left:5px;
}
 .passwordFldinput {
    float: left;
    position: relative;
    width: 86px;
}
 .passwordFldinput input {
    border: 1px solid #ccc;
    color: #444444;
    font-size: 12px;
    height: 16px;
    left: 0;
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7px;
    width: 70px;
	vertical-align: middle;
}
.bottonFld {
    float: left;
    overflow: hidden;
    padding: 7px 0 0 6px;
    width: 100px;
}
.bottonFld a.login-button-2012-bg {
	display:block;
	width:42px;
	height:18px;
	float:left;
	padding:0;
	margin:0;
	margin-right: 8px;
    text-decoration: none;
	background:url(../../images/new2012/2012-login.jpg) center no-repeat;
}
.bottonFld a.rigest-button-2012-bg {
	display:block;
	width:42px;
	height:18px;
	float:left;
	padding:0;
	margin:0;
	margin-right: 8px;
    text-decoration: none;
	background:url(../../images/new2012/2012-rigest.jpg) center no-repeat;
}
.bottonFld a:hover {
    text-decoration: none;}
/*----20120706新添加-----*/
/*-----2012top-------*/

/*-----2012new-menu-------*/
.nav2012 {
clear:both;
width:1000px;
height:90px;
background:#FFFFFF;
border-color: #ECECEC;
border-style: none solid;
border-width: 1px;
padding-top:7px;
margin:0 auto;
border-bottom:#ececec solid 2px;
}
.logo_2012 {
display: inline;
float: left;
height:79px;
margin-left:15px;
overflow: hidden;
width:165px;
background:url(../../images/new2012/2012-new-logo.png) no-repeat left center;
}
.logo_2012 a {
display: block;
height:79px;
text-indent: -9999px;
width:165px;
}
.main_menu_2012 {
width:820px;
margin-right:0px;
color:#000000;
margin-top:12px;
font-family:Arial, Helvetica, sans-serif;
}
.main_menu_2012 a1 {font-size: 12px;padding: 4px 8px 4px 0; color:#014665;display:block;width:27px;float:left;}
.main_menu_2 {
padding:0 5px 0 3px;
float: left;
font-size: 12px;
line-height:24px;
background:url(../../images/new2012/2012_main_menu_line.jpg) no-repeat right 10px;
width:170px;
}
.main_menu_2 a {font-size: 12px;padding: 4px 0px 4px 0; color:#014665;display:block;width:33px;float:left;}
.main_menu_3 {
padding:0 5px 0 10px;
float: left;
font-size: 12px;
line-height:24px;
background:url(../../images/new2012/2012_main_menu_line.jpg) no-repeat right 10px;
width:90px;
}
.main_menu_3 a {font-size: 12px;padding: 4px 0px 4px 1px; color:#014665;display:block;width:43px;float:left;}
.main_menu_4 {
padding:0 5px 0 10px;
background:url(../../images/new2012/2012_main_menu_line.jpg) no-repeat right 10px;
float: left;
font-size: 12px;
line-height:24px;
width:300px;
}
.main_menu_4 a {font-size: 12px;padding: 4px 0px 4px 2px; color:#014665;display:block;width:58px;float:left;}
.main_menu_5 {
padding:0 0 0 10px;
float: left;
font-size: 12px;
line-height:24px;
width:210px;
}
.main_menu_5 a {font-size: 12px;padding: 4px 0px 4px 0; color:#014665;display:block;width:70px;float:left;}
a.b_2012 {font-weight:bold;}
a.red_2012 {font-weight:bold;color:#B90000;}
.line_2012 { background:url(../../images/new2012/2012_main_menu_line.jpg) no-repeat 10px 8px;height:61px;padding:0;width:20px;}
/*-----2012new-menu-------*/

/*----search条-----*/
.block_01 {
padding:0px 15px!important;
background:#FFFFFF!important;
border: #ECECEC solid 1px!important;
border-bottom:none!important;
border-top:none!important;
width:970px !important;
}
.search_tag {
    height: 30px;
    width: 970px;
	margin:0 auto;
	margin-bottom:15px;
	float:none !important;
}
.search_l {
    border-color: #cccccc;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    float: left;
    height: 23px;
    overflow: hidden;
    padding-top: 4px;
    width: 426px;
	background:#EAEAEA;
}
.search_l select {
    border-color: #404040 #D4D0C8 #D4D0C8 #404040;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 20px;
    margin-left: 4px;
    overflow: hidden;
    width: 176px;
}
.search_l input {
    border-color: #404040 #D4D0C8 #D4D0C8 #404040;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 16px;
    margin-left: 4px;
    width: 176px;
}
.search_l button {
    background: url("../../images/new2012/button-view-details.png") no-repeat scroll top center transparent;
    border: medium none;
    cursor: pointer;
    float: right;
    height: 18px;
    margin-right: 7px;
    width: 50px;
	color:#FFFFFF;
}
.tags_l {
    background: url("../../images/new2012/hot_tag_lebel.gif") no-repeat scroll 12px 5px #EAEAEA;
    border-color: #BBBBBB #BBBBBB #BBBBBB #CCCCCC;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 27px;
    line-height: 27px;
    padding-left: 70px;
    text-align: left;
    width: 471px;
}
.tags_l a {
    color: #2761B1;
    padding: 0 3px;
    text-decoration: underline;
}
/*----search条-----*/

/*------footer------*/
.footer {
    background:#00689D;
    color: #ffffff;
    height: 65px;
    line-height: 22px;
    margin-top: 10px;
    overflow: hidden;
    padding: 20px 0 0;
    text-align: center;
    width: 1002px;
	margin:0 auto;
	font-family:Geneva, Arial, Helvetica, sans-serif;
}
.footer a {
    color: #ffffff;
}
/*------footer------*/
/*-----标志位css--star-----*/
.biaozhiwei {
	margin:0 auto;
	width:970px;
	height:36px;
	overflow:hidden;
	background:url(../../images/new2012/cdstm-biaozhiwei-bg.png) #fff center top no-repeat;
	padding:0 15px;
	border-left:#ECECEC solid 1px;
	border-right:#ECECEC solid 1px;
}
.biaozhiwei-t {
	width:400px;
	height:36px;
	line-height:39px;
	color:#FFF;
	overflow:hidden;
	padding-right:10px;
	text-align:right;
}
.biaozhiwei-t a {color:#FFF;}
.er-title-n {
	font-family:"微软雅黑";
	font-size:16px;
	font-weight:bold;
	margin-left:20px;
	line-height:26px;
	padding-top:10px;
}
.xiangqing-title-n {
	font-size:12px;
	margin-left:30px;
	line-height:30px;
	padding-top:10px;
}
.cdstm-fl-name-tu {height:35px;overflow:hidden;text-align:left;}
.l {float:left;}
.r {float:right;}
/*-----标志位css--over-----*/

/*-----20120620css--over-----*/
.zjxqbox_q {width:948px !important;}
.kpwsdh_q {margin-top:10px !important;}
/*-----20120620css--over-----*/