@charset "utf-8";

/* ZBLSEO 首页弹出层CSS样式 Start */
#home_first {font:12px/1.5  "\5b8b\4f53",Arial, sans-serif;-webkit-text-size-adjust:none; width:100%; margin:0; padding:0;background-color:#edf3ff;width:100%;height:auto;z-index:9999; position:absolute;left:0;}
#home_first ul,li {
margin:0;
padding:0;
list-style-type:none;
}
#home_first div, dl, dt, dd, ul, ul li, h1, h2, h3, h4, h5, h6, pre, input, p, blockquote, th, td, form {
margin:0;
padding:0;
}
#home_first a {
text-decoration:none;
}
#home_first a:hover {
text-decoration:underline;
}
#home_first img {
border:0;
}
#home_first .clear {clear:both;}
#home_first .l {float:left;}
#home_first .r {float:right;}
#home_first {background:url(fyt4-bg.png) #edf3ff top repeat-x;}
#home_first .fly-main {background:url(fyt4.png) top center no-repeat;width:100%;text-align:center;height:574px;}

#home_first .link {
    height: 50px;
    overflow: hidden;
    padding-top: 6px;
clear: both;
    margin: 0 auto;
    width: 930px;
padding-top:430px;
}
#home_first .link a {
    float: left;
    height: 45px;
    margin-right: 6px;
}
#home_first .link a.cs {
    margin-left: 29px;
    width: 80px;
}

#home_first .link a.ct {
margin-left:12px;
    width: 70px;
}

#home_first .link a.mg {
    margin-left: 18px;
    width: 70px;
}

#home_first .link a.zang {
    margin-left: 12px;
    width: 80px;
}

#home_first .link a.wwe {
    margin-left: 25px;
    width: 60px;
}

#home_first .link a.hsk {
margin-left: 25px;
width: 96px;
}

#home_first .link a.cx {
    margin-left: 25px;
    width: 60px;
}

#home_first .link a.en {
    margin-left: 20px;
    width: 85px;
}

#home_first .link a.ep {
    margin-left: 15px;
    width: 85px;
}

#home_first a, a.on:hover, a.cur:hover, .on a:hover, .cur a:hover {
    text-decoration: none;
}
#home_first .footer-fly {font-family:Arial, Helvetica, sans-serif;line-height:32px;margin:0 auto;text-align:center;}
#home_first .footer-fly a {color:#000;}
/* ZBLSEO 首页弹出层CSS样式 End */

/* ZBLSEO 首页H标签样式 Start */

/* 热点聚焦 */
.main-1-center h2 {
	background: url("/images/new2012/index-rdjj-2012-titlebg.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    font-size: 14px;
    height: 27px;
    line-height: 25px;
    margin-bottom: 6px;
    margin-top: 3px;
    text-indent: 0.4em;
}
.main-1-center h2 a {
	color: #C7150B;
    font-size: 12px;
    font-weight: normal;
    line-height: 23px;
    margin-right: 8px;
}
.main-1-center h2 a .jjh-2012-more {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* 热点聚焦 - 头条 */
.news-top-2012-cont h4 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.news-top-2012-cont h4 a {
    color: #000000;
}

/* 资讯 */
.main-2-left h2 {
    background: url("/images/new2012/index-main2-2txt-bg-w718.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 资讯 - 精彩资讯 */
.main-2-news-left h3 {
    background: url("/images/new2012/title-bottom-bg-w312.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 8px;
}
.main-2-news-left h3 a {
    font-size: 12px;
}

/* 资讯 - 创意科技 */
.main-2-news-right h3 {
    background: url("/images/new2012/title-bottom-bg-w402.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 8px;
}
.main-2-news-right h3 a {
    font-size: 12px;
}

/* 网站调查 */
.main-2-right h2 {
    background: url("../images/new2012/index-right-zjmdm-2012.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    text-indent: 1em;
}

/* 青稞周刊 */
.main-3-left h2 {
    background: url("/images/new2012/index-main2-2txt-bg-w718.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 青稞周刊 - 头条 */
.main-3-qkzk-newcont h4 {
    border-bottom: medium solid #999999;
    font-size: 14px;
    font-weight: bold;
    height: 39px;
    line-height: 33px;
    margin-bottom: 4px;
}

/* 青稞周刊 - 最新周刊 */
.main-3-qkzk-left h3 {
    background: url("/images/new2012/title-bottom-bg-w434.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 8px;
}
.main-3-qkzk-left h3 a {
    font-size: 12px;
}

/* 青稞周刊 - 往期周刊 */
.main-3-qkzk-right h3 {
    background: url("/images/new2012/title-bottom-bg-w278.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 8px;
}
.main-3-qkzk-right h3 a {
    font-size: 12px;
}

/* 专家面对面 */
.main-3-right h2 {
    background: url("/images/new2012/zmqs_xyls.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    text-indent: 1em;
}

/* 博览馆导航 */
.main-4-left h2 {
    background: url("/images/new2012/index-main2-5txt-bg-w718.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 博览馆导航 - 下级导航 */


/* 科技嘉年华 */
.main-5-left h2 {
    background: url("/images/new2012/index-main2-5txt-bg-w342.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 网视 */
.main-5-right h2 {
    background: url("/images/new2012/index-main2-2txt-bg-w718.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 网视 - 热点推荐 */
.main-5-right-vido h3 {
    background: url("/images/new2012/title-bottom-bg-w620.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 15px 0 10px;
}
.main-5-right-vido h3 a {
    font-size: 12px;
}

/* 展品荟萃 */
.main-6-left h2 {
    background: url("/images/new2012/index-main2-4txt-bg-w342.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 展品荟萃 - 热点推荐 */
.main-6-left-zphc h3 {
    background: url("/images/new2012/title-bottom-bg-w336.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 15px 0 10px;
}
.main-6-left-zphc h3 a {
    font-size: 12px;
}

/* 展品荟萃 - 头条 */
.zphc-2012-top-cont h4 {
    font-size: 14px;
    line-height: 20px;
}

/* 博客 */
.main-6-right h2 {
    background: url("/images/new2012/index-main2-2txt-bg-w718.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 博客 - 周、月、总点击榜 */
.main-6-right-hot h3{
	margin:0;
	padding:0;
	font-weight:normal;
}

/* 博客 - 精彩博文 */
.main-6-right-jc h3 {
    background: url("/images/new2012/title-bottom-bg-w252.png") no-repeat scroll left bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 33px;
    padding: 0 15px 0 10px;
}
.main-6-right-jc h3 a {
    font-size: 12px;
}

/* 博客 - 精彩博文 - 头条 */
.topbw_q h4 {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
}
.topbw_q h4 a {
    color: #0066CC;
    font-size: 12px;
}

/* I地球 */
.main-7-left h2 {
    background: url("/images/new2012/index-main2-4txt-bg-w342.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 媒体视点 */
.main-7-center h2 {
    background: url("/images/new2012/index-main2-4txt-bg-w365.png") no-repeat scroll left center #01689D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 媒体视点 - 媒体新闻 */
.main-7-center-mtsd h3 {
    background: url("/images/new2012/title-bottom-bg-w365.png") no-repeat scroll center bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 15px 0 10px;
}
.main-7-center-mtsd h3 a {
    font-size: 12px;
}

/* 媒体视点 - 头条 */
.mtsd-2012-top-cont h4 {
    font-size: 14px;
    line-height: 20px;
}

/* 科学社区 */
.main-8-left h2 {
    background: url("/images/new2012/index-main2-4txt-bg-w988.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}

/* 科学社区 - 精品图片、国外译文、科技大辩论、最热帖子 */
.kxsq-2012 h3 {
    background: url("/images/new2012/title-bottom-bg-w234.png") no-repeat scroll center bottom transparent;
    color: #02699E;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 29px;
    padding: 0 10px;
}
.kxsq-2012 h3 a {
    font-size: 12px;
}


/* 小游戏 */
.main-9-left h2 {
    background: url("/images/new2012/index-main2-4txt-bg-w988.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 29px;
    margin-right: 1px;
    text-indent: 1em;
}
.main-9-left h2 a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
}


/* ZBLSEO 首页H标签样式 End */


/* ZBLSEO 文章页面 相关资讯的样式 Start */
.zbl_xiangguan_div{margin-bottom:20px;}
.zbl_xiangguan_div h2{border-bottom:#ccc solid 1px;}
.zbl_xiangguan_div ul{width:600px;margin-left:20px; line-height:20px;}
.zbl_xiangguan_div ul li{width:280px;float:left;overflow:hidden;padding-right:20px;height:20px;}
/* ZBLSEO 文章页面 相关资讯的样式 End */