DL {
padding:0;
margin:0;
}
DT {
padding:0;
margin:0;
}
DD {
padding:0;
margin:0;
}

IMG {
padding:0;
margin:0;
border:0;
}

#newsSlider .container {
	MARGIN:0px; OVERFLOW: hidden; WIDTH: 310px; POSITION: relative; HEIGHT: 403px;
}
#newsSlider DIV.slides {
	LEFT: 0px; POSITION: absolute; TOP: 0px;
}
#newsSlider UL.slides {
	PADDING: 0px;LEFT: 0px;MARGIN: 0px;LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 0px;
}
#newsSlider UL.slides DL {
	MARGIN-TOP: 37px;padding:4px 5px;
}
#newsSlider UL.slides DT A {
	FONT: bold 14px/30px "\5b8b\4f53",Arial, sans-serif; COLOR: #2a609f;
}
#newsSlider UL.slides DD {
	LINE-HEIGHT: 22px
}
#newsSlider DIV.slides DIV {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 280px; PADDING-TOP: 0px; POSITION: absolute; TOP: 0px
}
UL.slides LI {
	PADDING: 0px; DISPLAY: none;MARGIN: 0px; WIDTH: 310px; POSITION: absolute; TOP: 0px;
}
#newsSlider #loopedSlider {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 310px; POSITION: relative;
}
#newsSlider {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 310px; POSITION: relative;
}
#newsSlider {
	BORDER-BOTTOM: #eee 1px solid
}
#newsSlider .pagination {
	PADDING: 0px;MARGIN: 0px;TOP: 270px;margin-left:10px;position: absolute;
}
#newsSlider .pagination LI {
	FLOAT: left; MARGIN-RIGHT: 5px; display:inline;
}
#newsSlider .pagination LI A {
	DISPLAY: block; BACKGROUND: url(../../images/new2012/button-view-details.png) no-repeat top center; FONT: bold 14px/24px Arial, Helvetica, sans-serif; WIDTH: 24px;height:24px; COLOR: #fff; TEXT-ALIGN: center;text-decoration:none; cursor:pointer;
}
#newsSlider .pagination LI.active A {
	BACKGROUND:#666666; COLOR: #ffffff; TEXT-DECORATION: none;border:#003366;
}
.pagination LI A:hover {
	BACKGROUND-POSITION: 0px 100%; COLOR: #fff; TEXT-DECORATION: none
}
#newsSlider .hd-index-2012-more {
	TOP: 270px; WIDTH: 24px;height:24px; BACKGROUND: url(../../images/new2012/button-view-details.png) no-repeat top center;text-align:center;
}
#newsSlider .hd-index-2012-more A {
	 FONT: bold 14px/16px Arial, Helvetica, sans-serif;COLOR: #fff; TEXT-ALIGN: center;text-decoration:none; cursor:pointer;
}
