/* AAB Changes **/
.cb_message
{
	padding: 0 !important;
}

.cb_message span {
	display: none;
	padding-right: 5px;
}

.cb_message.cb_message_from_agent{
	color: #005e5d;
}

.cb_message.cb_message_last{
	padding-bottom: 4px !important;
}

.cb_message.cb_message_first span {
	font-weight: bold;
	display: inline !important;
	padding-right: 3px;
}

.cb_message_textarea {
}

.cb_message p {
	margin: 0 !important;
	display: inline;
}

#cb_net_controls {
	margin: 0;
	padding: 0;
	margin-right: 19px !important;
	border-bottom: 1px solid #dedede;
	height: 64px;
	position: relative;
}

#cb_net_controls #cb_net_controls_left {
	float: left !important;
	width: 220px;
	position: relative;
}

#cb_net_controls #cb_net_controls_right {
	float: right;
}

.cb_button_wrapper .cb_button_left, 
.cb_button_wrapper .cb_button_middle, 
.cb_button_wrapper .cb_button_right {
	height: 36px !important;
	clear: none !important;
	margin-top: 15px !important;
}
.cb_button_wrapper .cb_button_left {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_left_a.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 5px !important;
	float: left;
}
.cb_button_wrapper .cb_button_middle {
	display: block;
	float: left !important;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_middle.jpg') !important;
	background-repeat: repeat-x;
	padding-top: 10px !important;
	padding-left: 12px !important;
	padding-right: 12px !important;
	color: #333333;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}

.cb_button_wrapper .cb_button_middle:hover {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_hover.jpg') !important;
	cursor: pointer;
	text-decoration: none;
	color: #333333 !important;
}

.cb_button_hover_preload {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_hover.jpg') !important;	
}


.cb_button_wrapper .cb_button_right {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_right_a.png');
	background-repeat: no-repeat;
	background-position: top left;
	width: 5px !important;
	float: left;
}

/** gray buttons */
.cb_button_gray .cb_button_left {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_gray_left.png') !important;
}
.cb_button_gray .cb_button_middle {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_gray_middle.jpg') !important;
}
.cb_button_gray .cb_button_middle:hover {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_gray_hover.jpg') !important;
}
.cb_button_gray_hover_preload {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_gray_hover.jpg') !important;
}
.cb_button_gray .cb_button_right {
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/button_gray_right.png') !important;
}



.cb_button_middle #chat_send_btn {
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	background: none;
}

.cb_send_button_wrapper {
	width: 80px !important;
}

#cb_net_busy {
	/*margin-bottom: -17px !important;*/
}

/* Cobrowsing on/off toggler */
#cb_net_cobrowsingbar
{
	padding: 0;
	margin: 0;
	margin-top:	25px !important;
	overflow: hidden;
	display: inline-block;
	color: #666666;
	position: relative;
}

#cb_net_cobrowsingbar .cobrowsing_bar_text
{
	display: block;
	float:left;
}

#cb_net_cobrowsingbar .cobrowsing_bar_i
{
	display: block;
	float:left;
	width:	16px;
	height:	16px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/i-icon.jpg');
	margin-left:	9px;
	margin-right:	4px;
	position: relative;
	cursor: pointer;
}

#cobrowsing_bar_i_window
{
	display: none;
	width: 225px;
    position: absolute;
    right: 99px;
    z-index: 99999999 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    overflow: hidden;
}

#cobrowsing_bar_i_window_top
{
	background: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/i_window_top.png') no-repeat;
	height: 8px !important;
	width: 225px;
	float: left !important;
	clear: none !important;
	_font-size: 0px;
}

#cobrowsing_bar_i_window_middle
{
	background: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/i_window_middle.png') repeat-y;
	float: left !important;
	clear: none !important;
	color: #fff;
	padding:5px 14px;
    width: 196px;
    _width: 200px;
    
}

#cobrowsing_bar_i_window_bottom
{
	background: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/i_window_bottom.png') no-repeat;
	height: 13px;
	width: 225px;
	float: left !important;
	clear: none !important;
}

#cb_net_cobrowsingbar label {
	display: inline !important;
	vertical-align: middle;
	display: block;
	float:left;
	margin-top:	0px !important;
	margin-right: 5px;
}

#cb_net_cobrowsingbar input {
	padding: 0 !important;
	margin-right: 	5px !important;
	margin-left:	10px !important;
	margin-top:	1px !important;
	*margin-top:	0px !important;
	vertical-align: middle;
	display: block;
	float:left;
	width: 15px !important;
	height: 14px !important;
	background:none !important;
	border:none !important;
}

/* Invite window */

#cb_net_invite_container
{
	position: fixed;
	left: 100px;
	top: 100px;
	text-align: left !important;	
	z-index: 9999 !important;
	
	/*ie*/
	_position: absolute;
	_top: expression( ( 100 + ( ignoreMe = document.body.scrollTop ) ) + 'px' );
}

#cb_net_invite_container table
{
	width: 400px;
	height: 200px;
	border-collapse:collapse;border-spacing:0; background: none !important; border: none !important;
	font-family: arial, helvetica, verdana, sans-serif !important;
	color: #333;
}

#cb_net_invite_container table tr
{
	padding: 0;
	margin: 0;
}

#cb_net_invite_container .cb_net_invite_title
{
	height: 33px;
	padding-left: 20px;
	font-weight: bold;
	color: white;
	/*background-image: url('https://d4e119i9vv87s.cloudfront.net/client/images/bg_th_middle.png');*/
	background-repeat: repeat-x;
	vertical-align: middle;
	border:none;
}

#cb_net_invite_container .cb_net_invite_title p
{
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	border:none;
}

#cb_net_invite_container .cb_net_invite_text
{
	background-color: white;
	padding: 15px 20px;
	vertical-align: top;
	border:none !important;
}

#cb_net_invite_container .b-lefttop
{
	background:transparent  url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_topleft.png') no-repeat;
	height: 17px;
	padding: 0;
	margin: 0;
	border: none;
}

#cb_net_invite_container .b-righttop
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_topright.png') no-repeat;
	height: 17px;
	padding: 0;
	margin: 0;
	border: none;
}

#cb_net_invite_container .b-leftbottom
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_bottomleft.png') no-repeat;
	height: 17px;
	padding: 0;
	margin: 0;
	border: none;
}

#cb_net_invite_container .b-rightbottom
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_bottomright.png') no-repeat;
	height: 17px;
	padding: 0;
	margin: 0;
	border: none;
}


#cb_net_invite_container .b-top
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_top.png') repeat-x;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
}

#cb_net_invite_container .b-bottom
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_bottom.png') repeat-x;
	height: 18px;
	padding: 0;
	margin: 0;
	border: none;
}


#cb_net_invite_container .b-left
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_left.png');
	width: 17px;
	padding: 0;
	margin: 0;
	border: none;
}

#cb_net_invite_container .b-right
{
	background:transparent url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/invite_right.png');
	width: 17px;
	padding: 0;
	margin: 0;
	border: none;
}
	
#cb_net_invite_container .cb_net_invite_title ul.cb_net_window_options {
	margin: 0;
	padding: 1px 20px 0 0;
	float: right;
	border:none !important;
}

#cb_net_invite_container .cb_net_invite_title ul.cb_net_window_options li {
	float: left;
	margin: 0 0 0 3px;
	padding: 0;
	list-style-type: none;
	width: 13px;
	height: 13px;
	position: relative;
	background-image:none !important;
	border:none;
}

#cb_net_invite_container .cb_net_invite_title ul.cb_net_window_options li span,
#cb_net_invite_container .cb_net_invite_title ul.cb_net_window_options li a {
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	text-decoration: none;
	text-indent: -1234em;
	border:none;
}



#cb_net_invite_container .cb_net_invite_title ul.cb_net_window_options li.cb_net_close a
{
	background-image: url('//d4e119i9vv87s.cloudfront.net/client/images/icon_close_white.png');
	border:none;
}
	
	
#cb_net_invite_container .cb_acceptbutton
{
/*	margin-top: 20px;
	display: block;
	float: right;
	
	border: 1px solid #DCA325 !important;
	font-weight: bold;
	
	font-family: Arial;
	
	background-color:#FDCE04 !important;
	color: #69624D;
	font-size: 12px !important;
	line-height: 11px !important;
	
	cursor: pointer !important;
	border-radius: 2px;
	
	padding: 5px 15px;
*/	
	
}

#cb_net_invite_container .cb_declinebutton
{
	/*margin-top: 20px;
	display: block;
	float: left;
	
	border: 1px solid #bfbfbf !important;
	font-weight: bold;
	font-family: Arial;
	background-color:#ededed !important;
	color: #69624D;
	font-size: 12px !important;
	line-height: 11px !important;
	cursor: pointer !important;
	border-radius: 2px;
	padding: 5px 15px;
	*/
}
	
	


/* Chat window */

.cb_net_add_smilies {display: none !important;}

#cb_net_chat_container #cb_net_opening_text
{
	padding: 6px 11px 0 11px !important;
}

#cb_net_chat_container #cb_net_opening_text .abngreen
{
	color: #005e5d;
	padding-top: 15px;
}


#cb_net_title
{
	margin: 0 !important;
}

#cb_net_chat_container
{
   	position: fixed;
	bottom: 0px;
	right: 20px;
	
}

* html #cb_net_chat_container
{
    position: absolute;
    right: auto; 
    bottom: auto;
	top: expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) 
	: document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
	
	left: expression(eval(document.compatMode &&
	document.compatMode=='CSS1Compat') ?
	documentElement.scrollLeft +(documentElement.clientWidth-this.clientWidth - 20) 
	: document.body.scrollLeft +(document.body.clientWidth-this.clientWidth - 20));
}

.chatWindowTop
{
	height: 30px;
	width: 100%;
	background-image: url(//d4e119i9vv87s.cloudfront.net/client/images/window_top_end.png);
	background-position: right top;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	cursor: default;
}
.chatWindowTopContent
{
	margin-right: 13px;
	background-image:url(//d4e119i9vv87s.cloudfront.net/client/images/window_top_start.png);
	background-position:left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-align: left;
}
.chatWindowMin
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
}
.chatWindowMax
{
	position: absolute;
	right: 25px;
	top: 10px;
	cursor: pointer;
	display: none;
}
.chatWindowClose
{
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

.chatStatus
{
    font-size: 9px;
    visibility: hidden;
    height: 10px;
    line-height: 10px;
}
.chatWindowBottom
{
	position: relative;
	height: 280px;/**/
	background-image: url(//d4e119i9vv87s.cloudfront.net/client/images/window_bottom_end.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	text-align: left;
}
.chatWindowBottomContent
{
	position: relative;
	height: 280px;/**/
	background-image: url(//d4e119i9vv87s.cloudfront.net/client/images/window_bottom_start.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	margin-right: 13px;
}
.chatWindowResize
{
	position: absolute;
	right: 3px;
	bottom: 5px;
	cursor: default;
}
.chatWindowContent
{
	position:absolute;
	top: 30px;
	left: 12px;
	width: auto;
	height: auto;
	overflow: auto;
	margin-right: 10px;
	/*border: 1px solid #6caf00;*/
	height: 215px;/* height van veld - inputveld */
	width: 205px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #fff;
	
}
.chatWindowContent .chatContent
{
	margin: 10px;
	
}

.chatWindowInput
{
    position: absolute;
    bottom: 2px;
    margin: 12px;
    display: none;
}

.chatWindowInput form
{
    margin: 0px;
    padding: 0px;
}

.chatWindowField
{
    width: 137px;
    /*width: 107px;*/
    height: 30px;
    border: 1px solid #73a6ff;
    float: left;
    margin-right: 5px;
}

.chatWindowSubmit
{
    height: 34px;
    width: 60px;
	color: black !important;
}

.chatContent
{
    text-align: left;
}

.smiliePicker
{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid silver;
    background-color: #fff;
    top: 50px;
    left: 50px;
    text-align: left;
    display: none;
}

.chatWindow { color: black; }
.chatWindow * { color: black; }
.chatWindow input { color: black; }
.chatWindowTopContent { color: white; }

.cb_controller 
{
    display: none;
    height: 0;
    width: 0;
}


/** select fix **/ 
.select-free {
	overflow:hidden;/*must have*/
}
.select-free .innerFixer {
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	width:100%;/* (old value 3000px) must have for any big value*/
	height:100%;/* (old value 3000px) must have for any big value*/
}
.select-free iframe.innerFixer {
	border: 0;
	filter:mask();/*must have*/
	z-index:-1;/*must have*/
}

/*
	known issues
	- png filter for ie6 creates problems with a hrefs. 
	  when a href is not clickable after pngFix, please 
	  add the following css rule on these elements: 
	  a { position: relative !important; }
*/


/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.5.1
*/
#cb_net_chat_container html,
#cb_net_chat_container h1,
#cb_net_chat_container h2,
#cb_net_chat_container h3,
#cb_net_chat_container h4,
#cb_net_chat_container h5,
#cb_net_chat_container h6{color:#000;background:#FFF;}
#cb_net_chat_container body,
#cb_net_chat_container div,
#cb_net_chat_container dl,
#cb_net_chat_container dt,
#cb_net_chat_container dd,
#cb_net_chat_container ul,
#cb_net_chat_container ol,
#cb_net_chat_container li,
#cb_net_chat_container h1,
#cb_net_chat_container h2,
#cb_net_chat_container h3,
#cb_net_chat_container h4,
#cb_net_chat_container h5,
#cb_net_chat_container h6,
#cb_net_chat_container pre,
#cb_net_chat_container code,
#cb_net_chat_container form,
#cb_net_chat_container fieldset,
#cb_net_chat_container legend,
#cb_net_chat_container input,
#cb_net_chat_container textarea,
#cb_net_chat_container p,
#cb_net_chat_container blockquote,
#cb_net_chat_container th,
#cb_net_chat_container td{margin:0; padding:0; font-size:12px !important; width:auto; visibility: inherit !important;}
#cb_net_chat_container legend{display: inline !important;visibility: inherit !important;}
#cb_net_chat_container table{border-collapse:collapse;border-spacing:0; background: none !important; border: none !important;visibility: inherit !important;}
#cb_net_chat_container fieldset,
#cb_net_chat_container img{border:0;visibility: inherit !important;}
#cb_net_chat_container address,
#cb_net_chat_container caption,
#cb_net_chat_container cite,
#cb_net_chat_container code,
#cb_net_chat_container dfn,
#cb_net_chat_container em,
#cb_net_chat_container strong,
#cb_net_chat_container th,
#cb_net_chat_container var{font-style:normal !important;font-size:normal !important; border: none;visibility: inherit !important;}
#cb_net_chat_container li{list-style:none;visibility: inherit !important;}
#cb_net_chat_container caption,
#cb_net_chat_container th{text-align:left;visibility: inherit !important;}
#cb_net_chat_container h1,
#cb_net_chat_container h2,
#cb_net_chat_container h3,
#cb_net_chat_container h4,
#cb_net_chat_container h5,
#cb_net_chat_container h6 {font-size:100%;font-weight:normal;visibility: inherit !important;}
#cb_net_chat_container q:before,
#cb_net_chat_container q:after{content:'';}
#cb_net_chat_container abbr,
#cb_net_chat_container acronym {border:0;font-variant:normal;}
/* to preserve line-height and selector appearance */
#cb_net_chat_container sup {vertical-align:text-top;}
#cb_net_chat_container sub {vertical-align:text-bottom;}
#cb_net_chat_container input,
#cb_net_chat_container textarea,
#cb_net_chat_container select{font-family:inherit;font-size:inherit;font-weight:inherit;visibility: inherit !important;}
/*to enable resizing for IE*/
#cb_net_chat_container input,
#cb_net_chat_container textarea,
#cb_net_chat_container select{*font-size:100%;visibility: inherit !important;}
/*because legend doesn't inherit in IE */
#cb_net_chat_container legend{color:#000;visibility: inherit !important;}

#cb_net_chat_container tbody {border: none !important;visibility: inherit !important;}


/*
<img src="'+path+'/client/images/icon_maximize_white.png" class="cb_btn_maximize" alt="" />
<img src="'+path+'/client/images/icon_minimize_white.png" class="cb_btn_minimize" alt="" />
*/

.cb_icon_maximize { width: 13px; height: 13px; overflow: hidden; background: url('//d4e119i9vv87s.cloudfront.net/client/images/icon_maximize_white.png'); }
.cb_icon_minimize { width: 13px; height: 13px; overflow: hidden; background: url('//d4e119i9vv87s.cloudfront.net/client/images/icon_minimize_white.png'); }


/* STYLING HEADER TAGS */

#cb_net_chat_container h1 {}
#cb_net_chat_container h2 {}
#cb_net_chat_container h3 {}
#cb_net_chat_container h4 {}
#cb_net_chat_container h5 {}
#cb_net_chat_container h6 {}


#cb_net_chat_container * {
    font-family: arial, helvetica, verdana, sans-serif !important;
	font-size: normal !important;
}

#cb_net_chat_container
{
	z-index: 99999 !important;
}

#cb_net_chat_container .powered,
#cb_net_chat_container .powered span,
#cb_net_chat_container #cb_net_busy {
    font-size: 9px !important;
}

#cb_net_chat_container #cb_net_message {
    font-size: 12px !important;
    padding: 0 11px;
    line-height: 20px;
}

.cb_button_invite {
	float: right !important;
}
 .cb_button_invite .cb_button_middle {
	padding-top: 11px !important;
}

#cb_net_chat_container #cb_net_message input.cb_acceptbutton,
#cb_net_chat_container #cb_net_message input.cb_declinebutton {
/*	color: #000;
	margin: 5px 5px 5px 0;
	padding: 2px 5px;
	font-weight: bold;
	background-color: #eee;
	border: 1px solid #999;
	border-right-color: #000;
	border-bottom-color: #000;*/
}

#cb_net_chat_container .cb_net_external_message
{
	background-color: #EEE;
	border: 1px solid #EEF;
	margin-bottom: 2px;
	font-size:11px !important;
	line-height:15px !important;
	padding:10px !important;
}

/* TABLE */

#cb_net_chat_container table#cb_net_chat_container_table {
	width: 265px;
	font: 12px/18px arial, helvetica, verdana, sans-serif !important;
	margin: 0;
	background: none !important;
	position: relative;
}


#cb_net_chat_container #cb_net_chat_container_table th {
	background: none;
}

#cb_net_chat_container #cb_net_chat_container_table th, 
#cb_net_chat_container #cb_net_chat_container_table td {
	border: 0;
	vertical-align: middle !important;
}

#cb_net_chat_container #cb_net_chat_container_table a {
	padding: 0;
}

/* THEAD */

#cb_net_chat_container table#cb_net_chat_container_table thead {vertical-align: middle !important;}

#cb_net_chat_container table#cb_net_chat_container_table thead tr#cb_net_headrow1 {
	height: 20px;
}

#cb_net_chat_container table#cb_net_chat_container_table thead tr#cb_net_headrow2 {
	height: 23px;
}

#cb_net_chat_container table#cb_net_chat_container_table thead tr th 
{ 
	background-color: transparent;  
	height: auto !important;
}

#cb_net_chat_container table#cb_net_chat_container_table thead tr#cb_net_headrow2 th {
	height: 31px !important;
}

#cb_net_chat_container table#cb_net_head {
	margin: 0;
	width: 100%;
}

#cb_net_chat_container table#cb_net_head tr {
	height: 20px;
}

#cb_net_chat_container table#cb_net_head td.th_left {
	width: 35px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/client/images/bg_th_left_top.png');
	background-color: transparent !important;
}

#cb_net_chat_container table#cb_net_head td.th_middle {
	background-image: url('//d4e119i9vv87s.cloudfront.net/client/images/bg_th_middle_top.png');
	background-color: transparent !important;
	width: 195px; /* adjust when resized horizontally / <?=$_w - 28?>*/
}

#cb_net_chat_container table#cb_net_head td.th_right {
	width: 35px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_th_right_topl.png');
	background-color: transparent;
}

#cb_net_chat_container table#cb_net_chat_container_table thead tr#cb_net_headrow2 th.th_left {
	width: 23px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_th_left.png');
}

#cb_net_chat_container table#cb_net_chat_container_table thead tr#cb_net_headrow2 th.th_middle {
	width: 224px; /* adjust when resized horizontally / <?=$_w + 1?>*/
	/*background-image: url('https://d4e119i9vv87s.cloudfront.net/client/images/bg_th_middle.png');*/
	background-color: #2b83c7;
	font-weight: bold;
	color: #fff;
}

#cb_net_chat_container table#cb_net_chat_container_table thead tr#cb_net_headrow2 th.th_right {
	width: 23px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_th_right.png');
}

#cb_net_chat_container th.th_middle p {
	padding: 0 0 0 20px;
	float: left;
	color: #fff;
	font-weight: bold !important;
	width: 169px !important; /* Safari needs -1px - Strange! */
	height: 18px !important;
}

#cb_net_chat_container th.th_middle ul.cb_net_window_options {
	margin: 0;
	padding: 3px 9px 0 0;
	float: right;
}

#cb_net_chat_container th.th_middle ul.cb_net_window_options li {
	float: left;
	margin: 0 0 0 3px;
	padding: 0;
	list-style-type: none;
	width: 13px;
	height: 13px;
	position: relative;
	background-image:none !important;
}

#cb_net_chat_container th.th_middle ul.cb_net_window_options li span,
#cb_net_chat_container th.th_middle ul.cb_net_window_options li a {
	display: block;
	width: 13px;
	height: 13px;
	overflow: hidden;
	text-decoration: none;
	text-indent: -1234em;
}



#cb_net_chat_container th.th_middle ul.cb_net_window_options li.cb_net_close a
{
	background-image: url('//d4e119i9vv87s.cloudfront.net/client/images/icon_close_white.png');
	
}


#cb_net_chat_container th.th_middle ul.cb_net_window_options li a {
	/* position: relative; */
	/*_top: -12px;*/
	
}

/* TBODY */

#cb_net_chat_container table#cb_net_chat_container_table tbody tr {}

#cb_net_chat_container table#cb_net_chat_container_table tbody td.td_left {
	width: 23px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_td_left.png');
	background-color: transparent !important;
}

#cb_net_chat_container table#cb_net_chat_container_table tbody td.td_right {
	width: 23px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_td_right.png');
	background-color: transparent !important;
}

#cb_net_chat_container table#cb_net_chat_container_table tbody td.td_middle {
	background-color: #fff;
	vertical-align: top;
	border-color: transparent !important;
	border-bottom-color: #D3D1D1 !important;
}

#cb_net_chat_container tbody td.td_middle #cb_net_container {
	height: 10px; 
	overflow: auto;
	width: 205px; /* <?=$_w - 22?> */
	width: 223px\9; /* Ugly IE fix for all versions <= 9 */
	text-align: left;
	color: #333;
	padding: 9px;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 9px;
	margin-right: 0;
}

#cb_net_chat_container tbody td.td_middle #cb_net_container a
{
	color: #333;
}

.noinput
{
/*	height: 294px !important; /* <?= $_h + 30?> */
}

#cb_net_chat_container tbody td.td_middle #cb_net_container #cb_net_agent {
	display: none !important;
}

#cb_net_chat_container tbody td.td_middle #cb_net_container #cb_net_agent * { color: #000; }

#cb_net_chat_container tbody td.td_middle #cb_net_container #cb_net_agent .cb_net_avatar{
	padding-right: 5px;
}

#cb_net_chat_container td.td_middle #cb_net_message a {
	color: #0091dd;
}

#cb_net_chat_container tbody td.td_middle #cb_net_container #cb_net_agent p,
#cb_net_chat_container td.td_middle #cb_net_message p {
	margin-bottom: 10px;
}

#cb_net_chat_container tbody td.td_middle #cb_net_container #cb_net_agent strong,
#cb_net_chat_container td.td_middle #cb_net_message strong {
	font-weight: bold !important;
	font-size: 12px !important;
}

#cb_net_chat_container td.td_middle #cb_net_message em {
	font-style: italic;
}

#cb_net_chat_container td.td_middle #cb_net_message ul {
	font-style: italic;
}

/* TFOOT */

#cb_net_chat_container table#cb_net_chat_container_table tfoot tr {
	/*height: 124px;*/
	height: 124px;
}

#cb_net_chat_container table#cb_net_chat_container_table tfoot td.td_left {
	width: 23px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_td_left.png');
	background-color: transparent !important;
}

#cb_net_chat_container table#cb_net_chat_container_table tfoot td.td_right {
	width: 23px;
	background-image: url('//d4e119i9vv87s.cloudfront.net/aab/sitemonitor/images/bg_td_right.png');
	background-color: transparent !important;
}

#cb_net_chat_container table#cb_net_chat_container_table tfoot td.td_middle {
	background-color: #fff;
	border-top: none;
	vertical-align: top;
	border-color: transparent !important;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper {
	/*border-top:1px solid #c9c7c7;*/
	padding: 4px 0 0 20px;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper fieldset {
	text-align: left !important;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper legend {
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	*margin-left: -7px;
	font-style: normal;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #BFBFBF !important;
	background-color: #f2f2f2;
	height: 75px;
	width: 195px; /* <?=$_w - 29?> */
	padding: 2px;
	margin-bottom: 0;
	border-radius: 5px;
	resize: none;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper #cb_net_busy {
	font-size: 11px;
	color: #636363;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper div.powered {
	margin: 0 19px 0 0 !important;
	height: 54px;
	width: 300px;
	font-size: 9px !important;
	color: #333;
}

div.powered span {
	margin-top: 15px;
	display: block;
	float: left;
}

div.powered a {
	margin-top: 15px;
	display: block;
	float: left;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper .cb_net_add_smilies {
	float: left;
	margin-top: 7px;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper div.cb_net_list_smilies {
	position: absolute;
	bottom: 20px;
	left: 50px;
	display: none;
	width: 49px;
	*width: 58px; /* IE fix */
	height: 50px;
	border: 1px solid #666 !important;
	background: #fff;
	padding: 4px;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper .cb_net_list_smilies img {
	display: inline  !important; margin: 0 !important;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper .cb_net_add_smilies a {
	display: block;
	height: 14px;
	width: 25px;
	overflow: hidden;
	background: url('//d4e119i9vv87s.cloudfront.net/client/images/icon_add_smilies.gif') no-repeat 0px -14px;
	text-decoration: none;
	text-indent: -1234em;
}

#cb_net_chat_container tfoot td.td_middle #cb_net_message_wrapper .cb_net_add_smilies a:hover {
	background-position: left top;
}

#cb_net_emailto_visitor_form input {
	border-width:1px;
	border-style: solid;
	padding:5px;
	margin:0 3px 3px 0;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

#cb_net_window_logo img {
	padding-top: 3px;
}

.tf_container tr,
.td_container tr
{
	background: none !important;
}

#cb_donotleave
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFE1;
	border-bottom: 1px solid #A0A0A0;
	padding: 0 0 0 20px !important;
	margin: 0 !important;
	font-family: Verdana; 
	font-size: 11px; 
	z-index: 9999999 !important;
	background: #FFFFE1 url('//d4e119i9vv87s.cloudfront.net/client/images/infobar.png') no-repeat 10px 9px;
}

#cb_donotleaveInner
{
	padding: 10px;
}

/* Survey dialog*/

#cb_survey_invite
{
	padding: 0 9px !important;
}

.cb_survey
{
	padding: 8px 0 !important;
	margin-top: 8px !important;
	border-top: 1px solid #dedede;
}

.cb_survey p
{
	padding-bottom: 8px !important;
	margin-bottom: 0 !important;
}
/* Survey yes an no button */
.cb_survey_buttons
{
	margin-top: -10px !important;
}

.cb_button_survey
{
	float: right;
}

.cb_survey_button
{
	
/*	font-family: Arial;
	color: #69624D;
	font-size: 12px !important;
	cursor: pointer !important;
	border-radius: 2px;
	
	padding: 4px !important;
	float: right;
	
	display: block;
	
	text-decoration: none;
	text-align: center;
	width: 32px;
	margin-left: 10px;*/
}

.cb_survey_yes
{
/*	background-color:#FDCE04 !important;
	border: 1px solid #DCA325 !important;*/
}

.cb_survey_no
{
/*	border: 1px solid #bfbfbf !important;
	background-color:#ededed !important;*/
}

/* THEMES 

.cb_net_theme_background { background-color: $_c !important; }
.cb_net_theme_border { border-color: $_c !important; }
.cb_net_theme_color { color: $_c !important; }

*/