.block{
	background-color: blue;
	height:30px;
	display:block;
	width:100%;
}
/** Default **/
.smartbanner {
	position: relative;
	/*left: 0;*/
	margin-top: -81px;
	display: block;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-family: 'Helvetica Neue', sans-serif;
	background: #f4f4f4;
	z-index: 9998;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-webkit-transition: top, easy, .5s;
	transition: top, easy, .5s;
	-webkit-transition: bottom, easy, .5s;
	transition: bottom, easy, .5s;
                text-align: left;
}

.mcf-panel-navigation {
             -webkit-transition: top, easy, .5s;
            transition: top, easy, .5s;
            -webkit-transition: bottom, easy, .5s;
            transition: bottom, easy, .5s;
}


.smartbanner-container {
	margin: 0 auto;
	white-space: nowrap;
}

.smartbanner-close {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 5px;
	font-family: 'ArialRoundedMTBold', Arial;
	font-size: 20px;
	text-align: center;
	color: #888;
	text-decoration: none;
	border: 0;
	border-radius: 14px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.smartbanner-close:active,
.smartbanner-close:hover {
	color: #aaa;
}

.smartbanner-icon {
	display: inline-block;
	vertical-align: middle;
	width: 57px;
	height: 57px;
	margin-right: 12px;
	background-size: cover;
	border-radius: 3px;
	background-color: #aaa;
}

.smartbanner-info {
	display: inline-block;
	vertical-align: middle;
	width: 44%;
	font-size: 11px;
	line-height: 1.2em;
	font-weight: bold;
}

.smartbanner-title {
	font-size:13px;
	line-height: 18px;
}

.smartbanner-button {
	position: absolute;
	top: 0;
	bottom: 0;
	right:20px;
	margin: auto 20px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
	color: #6a6a6a;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.smartbanner-button:active, .smartbanner-button:hover {
	color: #aaa;
}

/** android **/
.smartbanner-container.android {
	font-family:'Roboto', arial, sans-serif;
	background: #f4f4f4;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.smartbanner-container.android .smartbanner-icon {
	background: rgba(0,0,0,0.6);
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.smartbanner-container.android .smartbanner-button {
	padding: 5px 12px;
	min-width: 10%;
	color: #6a6a6a;
	background: #efefef;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}