/*! normalize.css v2.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:0 0}a:focus{outline:dotted thin}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
html,body{height:100%;
    width:100%}
@viewport {
    width: device-width;
}
body {
    font-family: "Maven Pro",Arial,Helvetica,sans-serif;
    font-size: 1em;
    line-height: 1em;
    color: #333;
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("/img/bg3.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#top-container, #mid-container, #bottom-container {
    min-width: 320px;
    padding: 0;
    margin: 0;
    text-align: center;
}
#top, #mid, #bottom {
    max-width: 1000px;
    min-width: 305px;
    margin: 0 auto;
    text-align: left;
}
#top-container {
}
#bottom-container {
    padding-bottom: 15px;
}
#top {
    max-width: 985px;
    padding: 15px;
    min-width: 290px;
}
#mid {
    padding: 15px 0 15px 15px;
}
#bottom {
    padding: 10px 0 1px 15px;
}
ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
img {
    vertical-align: middle;
}
textarea {
    resize: vertical;
}
::selection {
    color: #fff;
    background: #39c381;
}
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
a, a:visited, a:focus, a:active, a:hover{
    outline:0 none !important;
}
a, a:visited {
    text-decoration: none;
    color: #222;
}
a:hover {
    color: #aadd33;
}
header {
    display: inline;
}
#logo {
    color: #00a100;
    display: block;
    float: left;
    font-family: "Maven Pro",helvetica,arial,sans-serif;
    font-size: 16px;
    width: 13%;
}
#logo:hover {
    color: #00CC00;
}
#logo > img {  }
#logo strong {
    font-weight: 500;
}
#navigation {
    float: right;
}
#navigation a {
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 4px 6px;
    margin: -4px -6px;
}
#navigation a:hover {
    border-radius: 2px;
    background: rgba(0,0,0,.2);
}

#navigation img {
    border: 1px solid #ccc;
    border-radius: 2px;}
h1, h2, h3 {
    font-family: 'Maven Pro', helvetica, arial,  sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    margin: 8px 15px 15px 0;
    padding: 0;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}
h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 20px;
}
h3 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 18px;
}
#search-bar {
    margin-top: 42px;
}
#search-bar form ul li {
    display: inline-block;
    position: relative;
    overflow: hidden;
}
#search-bar form ul li:first-child {
    float: left;
    width: 80%;
}
#search-bar form ul li:last-child {
    width: 20%;
}
.search-box {
    background: none repeat scroll 0 0 rgba(51, 51, 51, 0.4);
    border-radius: 2px 0 0 2px;
    color: #FFFFFF;
}
.search-box, #search_button {
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 14px;
    padding: 10px 14px;
    width: 100%;
}
#search_button {
    border-radius: 0 2px 2px 0;
    white-space: nowrap;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    color: #fff;
}
#search_button:hover {
    background: #83b446;
}
#search_button i {
    display: none;
    font-size: 16px;
}

.active_play div {
    background: #A1005E;
}
.active_play .mp3-title a, .active_play span {
    color: #fff !important;
}
.active_play span span {
    color: rgba(50,50,50,.4) !important;
}
.mp3-list, .front-page {
    padding: 0;
    margin: 0;
    width: 100%;
}
.front-page li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 33.333333333333%;
    float: left;
}
.mp3-list li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 50%;
    float: left;
}
.front-page li div:hover {
    background: #aadd33;
    color: #333333;
}
.mp3-card {
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px;
    color: #ccc;
    border-radius: 2px;
    margin: 0 15px 15px 0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 300ms ease 0s;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
}
.mp3-card.descr {
    font-size: 16px;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;}
.mp3-player {
    padding: 15px;
    margin: 20px 15px 20px 0;
}
.mp3-player-info {
    margin-bottom: 10px;
}
.mp3-player-info li {
    display: block;
    float: left;
}

.album-art-holder {
    width: 22%;
}
.mp3-info-holder {
    width: 58%;
}
.download-share-holder {
    width: 20%;
}
.download-share-holder div {
    margin-right: 15px;
}

.album-art-thumb {
    width: 100%;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    max-height: 210px;
}
.album-art-thumb img {
    width: 100%;
}

#mp3-tags li {
    display: block;
    float: none;
    width: auto !important;
    padding-bottom: 10px;
    margin: 0 15px 10px 15px;
    border-bottom: 1px solid #000000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    color: gray;
}
#mp3-tags li a {
    color: #88DD5A;
}
#mp3-tags li a:hover {
    color: #aadd33;
}
#mp3-tags li span {
    color: #ccc;
}
#mp3-tags li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.main-button {
    width: 100%;
    display: block;
    padding: 10px 8px;
    text-align: center;
    border-radius: 2px;
    background: #aadd33;
    color: #333;
    margin-bottom: 15px;
}
.main-button:hover {
    color: #fff;
    background: #88DD5A;
}
.share {
    margin-right: -15px;
    border-radius: 2px;
    overflow: hidden;
}
.share li {
    width: 33.3333333333%;
    display: inline-block;
    text-align: center;
}
.share li a {
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
}
.fb-button {
    background: rgb(48,88,145) !important;
}
.tw-button {
    background: rgb(44,168,210) !important;
}
.gp-button {
    background: rgb(207,75,51) !important;
}
.fb-button:hover {
    background: rgb(63,103,160) !important;
}
.tw-button:hover {
    background: rgb(57,181,223) !important;
}
.gp-button:hover {
    background: rgb(222,90,66) !important;
}
.album-art-small {
    width: 50px;
    height: 50px;
    overflow: hidden;
    float: left;
    padding: 0 !important;
    margin: 0 12px 0 0 !important;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.album-art-small img {
    width: 50px;
}


.dlink {
    background: none repeat scroll 0 0 rgba(51, 51, 51, 0.4);
    border-bottom: 0 none;
    border-radius: 4px;
    color: #aadd33 !important;
    display: block;
    margin: 15px auto auto;
    max-width: 92%;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dlink .fa.fa-download {
    color: orange;
    font-size: 30px;}
.red {
    color: red;
}
.ddh {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.enlace{
    color: mintcream;
    text-align: center;
}

.mp3-title {
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mp3-title a {
    color: inherit;
}
.mp3-title a:hover {
    color: #000000;
}
.feature {
    max-width: 135px !important;
}
.mp3-artist, .mp3-url {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    color: gray;
}
.mp3-artist a, .mp3-url a {
    color: grey;
}
.mp3-artist a:hover, .mp3-url a:hover {
    color: #000;
}
.mp3-url span {
    margin: 0 4px 0 4px;
    color: #eee;
}
.player {
    margin-top: 15px;
}
.player .amazingaudioplayer-bar {
    border-color: #000000 !important;
    background: #000000  !important;
    padding: 6px;
}
.mp3-options {
    margin-top: 12px;
    margin-bottom: -15px;
    clear: both;
}
.mp3-options li {
    margin: 0;
    display: inline-block;
    width: auto;
    float: none;
    margin-left: 10px;
    overflow: hidden;
}
.mp3-options > li:first-child {
    margin: 0;}
.mp3-options li a , .mp3-options li button {
    display: block;
    padding: 7px 9px;
    border: 1px solid #2e2e2e;
    background: none repeat scroll 0 0 #2e2e2e;
    border-radius: 2px;
    color: #aadd33;
    font-size: 10px;
    text-transform: uppercase;
}
.mp3-options li a:hover , .mp3-options li button:hover {
    border-color: #aadd33;
    background: #aadd33;
    color: #333;
}
#now-playing-bottom > a {
 color: #cccccc;
}

.mp3-tags {
    line-height: 1.6em;
    font-size: 13px;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.mp3-tags a {
    display: inline-block;
    padding: 2px 8px;
    margin: 0 6px 10px 0;
    border-radius: 2px;
    background: #232323;
    color: #f2f2f2;
}
.mp3-tags a:hover {
    background: #111;
}
.pagination {
    clear: both;
    line-height: 14px;
    padding: 10px 0 10px 0;
}
.pagination a {
    background: #00A100;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.pagination a:hover {
    background: #00CC00;
}
.page-prev {
    margin-right: 10px;
}

#player-fix {
    padding: 10px 15px 10px 15px !important;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: none repeat scroll 0 0 #333;
    display: none;
}
#player-fix-inner {
    margin-right: 20px;
    clear: both;
}
#player-fix-inner .amazingaudioplayer-bar {
    border-color: rgba(255,255,255,0) !important;
    background: rgba(255,255,255,0) !important;
}
#now-playing-bottom {
    font-size: 15px;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif;
    margin: 0 10px 0 10px;
}
#now-playing-bottom span {
    float: right;
    display: inline-block;
    padding-right: 25px !important;
}
#now-playing-bottom span a {
    color: gray;
}
#now-playing-bottom span a:hover {
    color: red;
}

#copyright {
    margin-top: 15px;
    font-size: 10px;
    color: #000;
    text-align: center;
}
#copyright a {
    color: #000;
    margin-right: 10px;
    text-transform: uppercase;
}

.not-exists {
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}
#completeDiv {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.6);
}
#completionFrame {
    height: 0;
    margin: 0;
    padding: 0;
}
#eXTReMe, #whos {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#signup {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    width: 404px;
    padding-bottom: 2px;
    display: none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}
#signup-header {
    background: #DFDFDF;
    padding: 18px 18px 14px 18px;
    border-bottom: 1px solid #CCC;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
}
#signup-header  h3 {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    border: 0 !important;
}
#signup-header  p {
    color: #444;
    font-size: 14px;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: none;
}
#signup .txt-fld {
    position: relative;
    width: 364px;
    padding: 14px 20px;
    border-bottom: 1px solid #EEE;
    text-align: right;
}
#signup .btn-fld {
    width: 254px;
    overflow: hidden;
    padding: 12px 20px 12px 130px;
}
#signup .txt-fld label {
    display: block;
    float: left;
    width: 90px;
    padding-top: 8px;
    color: #222;
    font-size: 14px;
    text-align: left;
}
#signup .txt-fld input {
    width: 244px;
    padding: 8px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    color: #222;
    background: #F7F7F7;
    font-family: "Arial";
    outline: none;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #E7E6E6;
    border-bottom: 1px solid #E7E6E6;
}
.txt-fld input:focus, .txt-fld textarea:focus {
    background-color: #FAF9DC;
}
#signup button {
    float: right;
    background: #333;
    border: none;
    width: auto;
    overflow: visible;
    font-size: 14px;
    color: #FFF;
    padding: 7px 10px;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
#signup button:hover {
    background: #222;
}
.modal_close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 14px;
    height: 14px;
    z-index: 1001;
}
#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}
.download-box, .warning-box, .info-box, .note-box {
    margin: 10px 0;
    text-shadow: none;
    padding: 15px 15px 13px 15px;
    line-height: 17px;
    border-radius: 4px;
}
.info-box {
    background: #c2ddf9;
    border: 1px solid #80bbef;
    color: #4783b7;
}
.warning-box {
    background: #ffcccc;
    border: 1px solid #ff9999;
    color: #c31b00;
}
.download-box {
    background: #d1f7b6;
    border: 1px solid #8bca61;
    color: #5e9537;
}
.note-box {
    background: #fdebae;
    border: 1px solid #e6c555;
    color: #9e660d;
}
.shadow {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.hide {
    display: none;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.clear {
    clear: both !important;
    display: block;
}
.disqus {
    padding: 10px 20px 10px 20px;
    margin-top: 20px !important;
}
.sobre {
    color: #cccccc;
    text-align: center;
}
.inicio .share {
    border-radius: 3px;
    margin: 0 40%;
    overflow: hidden;
    width: 81%;
}
.inicio .share li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 7%;
}
.inicio .share > li:last-child a {
    border-radius: 0 3px 3px 0;
}
.inicio #mid {
    overflow: hidden;
}
@media screen and (max-width: 810px) {
    #mp3-tags li {
        padding-bottom: 8px;
        margin: 0 15px 8px 15px;
        font-size: 13px;
    }
    .album-art-holder {
        width: 25%;
    }
    .mp3-info-holder {
        width: 55%;
    }
}
@media screen and (max-width: 680px) {
    .mp3-list li {
        width: 100%;
        float: none;
    }
    .mp3-options li {
        width: auto !important;
    }
    .album-art-holder {
        width: 35%;
    }
    .mp3-info-holder {
        width: 65%;
    }
    .download-share-holder {
        width: 100%;
    }
    .download-share-holder div {
        margin-top: 15px;
    }

    .inicio .share {
        margin: 0 25%;
    }
    .inicio .share li {
        width: 20%;
    }
}

@media screen and (max-width: 600px) {
    .front-page li {
        float: none;
        width: 100%;
    }

    .sobre {
    }
    .inicio .share {
        margin: 0 25%;
    }
    .inicio .share li {
        width: 20%;
    }

}

@media screen and (max-width: 580px) {
    .album-art-holder {
        width: 45%;
    }
    .mp3-info-holder {
        width: 55%;
    }

    .sobre {
    }

    .inicio .share {
        margin: 0 25%;
    }
    .inicio .share li {
        width: 20%;
    }
}

@media screen and (max-width: 480px) {
    #search_button {
        padding-right: 0;
        padding-left: 0;
    }
    #search_button i {
        display: block;
    }
    #search_button span {
        display: none;
    }
    #search-bar form ul li:first-child {
        width: 90%;
    }
    #search-bar form ul li:last-child {
        width: 10%;
    }
    #mp3-tags li {
        padding-bottom: 5px;
        margin: 0 15px 5px 15px;
        font-size: 12px;
    }

    .sobre {
    }
    .search-box, #search_button {
        font-size: 12px;}

    .dlink {
        padding: 10px 5px;
        font-size: 15px;
    }
    .red {
        color: red;
        font-size: 13px;
    }
    .ddh {
        text-align: center;
        font-size: 18px;
    }
    .enlace{
        color: mintcream;
        text-align: center;
    }

    .inicio .share {
        margin: 0 25%;
    }
    .inicio .share li {
        width: 20%;
    }
}
.letra .mp3-card {
    text-align: center !important;
    white-space: pre-line !important;
}

/*
.element-animation:hover{
    animation: animationFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
} */

@keyframes animationFrames{
    0% {
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
        transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
        transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
        -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
        -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
        -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
        -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
        -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
        -moz-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
        -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
        -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
        -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
        -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
        -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
        -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
        -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
        -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
        -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
        -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
        -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
        -o-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    40% {
        -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    50% {
        -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    70% {
        -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    80% {
        -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
    }
    90% {
        -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    100% {
        -ms-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
    }
}