@font-face {
    font-family: 'mp3xd';
    src:url('/fonts/mp3xd.eot?-4cvof');
    src:url('/fonts/mp3xd.eot?#iefix-4cvofh') format('embedded-opentype'),
    url('/fonts/mp3xd.ttf?-4cvofh') format('truetype'),
    url('/fonts/mp3xd.woff?-4cvofh') format('woff'),
    url('/fonts/mp3xd.svg?-4cvofh#mp3xd') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gente {
    font-family: 'mp3xd' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buscar:before {
    content: "\f002";
}
.xd-download:before {
    content: "\f019";
}
.musica-play:before {
    content: "\f04b";
}
.twitter:before {
    content: "\f099";
}
.facebook:before {
    content: "\f09a";
}
.google-plus:before {
    content: "\f0d5";
}
.quote-left:before {
    content: "\f10d";
}
.phone-square:before {
    content: "\f098";
}

