#author_column {
  width: 428px;
  position: relative;
  clear: both;
  display: block;
  padding: 10px 10px 5px 10px;
  background-image: url(http://www.mag2.com/img/magtop/bg_official_shdw_big450x58.gif);
  background-repeat: repeat-x;
  background-position: left top;
  background-color: #ffffff;
  z-index: 1;
}

#author_column .magnamebg {
  min-height: 40px;
  width: 100%;
  float: left;
}

#author_column .magname {
  padding: 0 0 0 116px;
  
}

#author_column .title_tag {
  float: left;
  width: 80%;
  height: 100%;
}

#author_column .magname p.magtitle {
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3;
  display: block;
  float: left;
  text-align: left;
}

#author_column .magname p.personal_tags {
  text-align: left;
  font-size: 10px;
  color: #999999;
  display: block;
  float: left;
  padding-top: 5px;
}

#author_column .magname ul {
  display: block;
  float: right;
}
#author_column .magname li {
  margin: 3px 0 0 0;
  display: inline-block;
}

#author_column .photo {
  position: absolute;
  left: 6px;
  top: 9px;
  width: 100px;
  padding: 2px 0 7px;
  text-align: right;
  zoom: 1;
}

#author_column .author_profbg {
  position: relative;
  height: auto;
  width: 100%;
  float: left;
  margin-top: 10px;

}

#author_column .author_profbg:before {
  content: '';
  position: absolute;
  right: 0;
  height: 2px;
  width: 80%;
  display: block;
  background-image: url("http://www.mag2.com/img/magtop/dotline.png");
  background-position: center;
  background-repeat: repeat-x;
}


#author_column .author_prof {
  padding: 10px 0 0 116px;
  height: auto;
  width: initial;
  float: left;
  min-height: 48px;
}

#author_column .author_prof p ,
#author_column .author_info p {
  line-height: 1.5;
}

#author_column .author_prof p.read a {
  text-align: left;
  color: #545454;
}

#author_column .author_info p.interview {
  display: block;
  float: left;
  background-image: url(http://www.mag2.com/img/magtop/i_interview.gif);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  padding: 0 0 0 12px;
  text-align: left;
  line-height: 1.2;
}

#author_column .author_info p.specialsite {
display: block;
float: left;
background-repeat: no-repeat;
background-position: 0px 4px;
padding: 0;
text-align: left;
line-height: 1.2;
}

#author_column .author_info p.price {
  line-height: 1.2;
  display: block;
  float: right;
  font-size: 12px;
  text-align: left;
  color: #ff0000;
  padding: 0 0 0 12px;
}

.price_font {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.4px;
  padding: 0 2px 0 2px;
}