@charset "UTF-8";

/* ------------------------------------
◆　all
------------------------------------ */
html, body {
  color: #111;
  background-color: #fff;
  font-family: Helvetica,"ヒラギノ角ゴ Pro W3","HiraKakuPro-W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  width: 100%;
  height: auto;
	-webkit-text-size-adjust: 100%;
	letter-spacing: 1px;
  margin: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: #1d3994;
  text-decoration: none;
  word-break: break-all;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}
a:hover {
  color: #1d3994;
  text-decoration: underline;
}
.container a img:hover{
  opacity:0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;

}

a:visited{
  color:#639;
}
a.top-login-btn:visited {
    color: #fff;
}

li {
  list-style-type: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.hover:hover {
  cursor: pointer;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.content_width {
  margin-right: auto;
  margin-left: auto;
	position: relative;
}
.global-nav {
  width: 100%;
  padding: 7px 0;
  background-color: #f0f0f0;
}
.global-nav ul {
  display: table;
  margin: 0;
}
.global-nav ul li {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 13px 0 0;
  font-size: 12px;
}
.global-nav ul li:last-child {
  padding: 0;
}

.media {float:left;max-width:309px;}
.nav {float:right;}

img {
	display: block;
}

.hidden {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.forpc {
  display:block !important;
}

.forsp {
  display:none !important;
}

/* ------------------------------------
◆　common / header
------------------------------------ */
#header {
  background-color: transparent;
  width: 100%;

}

#header .logo {
  padding: 5px 0;
  margin: 0;
  width: 108px;
  float:left;
}

.iam {
  float: left;
  font-weight: bold;
  height: 46px;
  width: 190px;
}
.iam_inner_text {
  font-size: 10px;
  vertical-align: bottom;
  padding: 5px 0 5px 10px;
}

#header .btn {
	position: absolute;
	top: 0;
	right: 0;
}

#header .btn li {
  display: block;
  width: 200px;
  height: 75px;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  border-radius: 0 0 10px 10px;
	background-color: #E80008;
  border: 2px solid #E80008;
  border-width: 0 1px 1px;
	line-height: 50px;
	text-align: center;
	float: left;
	margin: 0 0 0 10px;
	font-size: 16px;
	position: relative;
	z-index: 10;
}

#header .btn li:hover {
	background-color: #fff;
	color: #111;
}

#header .btn li:before,
#header .btn li:after {
	content: '';
	position: absolute;
	z-index: -1;
	display: block;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #E80008;
}

#header .btn li:before {
	right: 0;
}

#header .btn li:after {
	left: 0;
}

#header .btn li:hover:before,
#header .btn li:hover:after {
	width: 0;
	background-color: #E80008;
}

#header .btn li,
#header .btn li:before,
#header .btn li:after,
#header .btn li a {
	-webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}

#header .btn li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}

#header .btn li p {
  text-align: center;
  font-weight: bold;
  font-size: 160%;
  line-height: 75px;
  letter-spacing: 5px;
}

#header .btn li p:after {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 120%;
  line-height: 1;
  vertical-align: initial;
  margin-left: 10px;
}

#header .btn li:hover a {
	color: #E80008;
	font-weight: bold;
}

/* ------------------------------------
◆　global-nav
------------------------------------ */
#global-nav li a {
  -webkit-transition: 0.3s ease-out;
	-moz-transition: 0.3s ease-out;
	-ms-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  opacity: 1.0;
  padding: 0;
  color: #111;
}

#global-nav li:after {
	content: "";
	display: block;
	width: 0%;
	height: 3px;
	background-color: rgba(255, 0, 0, 0.7);
	position: relative;
	top: 0;
	z-index: 1;
	margin: 0 auto;
	-webkit-transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-ms-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

#global-nav li.uline:after {
	width: 100%;
}

/* ------------------------------------
◆　sp_header
------------------------------------ */
#sp_header {
	display: none;
}
.top-login-btn_wrap {
  float: right;
  margin-top: 7px;
}
.cubic-btn {
  display: inline-block;
  width: 150px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  outline: none;
}
.top-login-btn {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.post-contents .button::before, .post-contents .button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.post-contents .button, .post-contents .button::before, .post-contents .button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.top-login-btn:hover {
  background-color: #1DAB8F;
  color: #EFEFEF;
}
/* ------------------------------------
◆　common / more_btn
------------------------------------ */
.more_btn {
	border: 2px solid #E80008;
	text-align: center;
	position: relative;
	z-index: 10;
  width: 500px;
  height: 65px;
  font-size: 18px;
  line-height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1.5px 2.598px 0px 0px rgba(0,0,0,0.039);
  background-color: #E80008;
  color: #000;
  letter-spacing: 2px;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  line-height: 65px;
}

.more_btn:hover {
	background-color: #C5060D;
	color: #fff;
	border: 2px solid #C5060D;
}

.more_btn a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF;
}

.more_btn:hover a {
	color: #fff;
}

/* ------------------------------------
◆　wrapper / common
------------------------------------ */
#wrapper.common #block1 {
	width: 100%;
  position: relative;
}
/* 右sidebar
--------------------------------------------------------- */

.sidebar {
  float: left;
}

.sidebar dt {
  line-height: 1.8;
  padding: 5px 5px 5px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

#ranking a {
  margin-left: 5px;
  letter-spacing: 4px;
  color: #111;
}
.cate-title {
  letter-spacing: 4px;
}
.cate-title:before {
  content: "\f07b";
  font-family: FontAwesome;
  margin-right: 5px;
  color: #000;
}
.sidebar dt img.icon {
  margin-right: 6px;
  margin-top: 2px;
  display: inline;
}

.sidebar dd {
  padding: 7px 5px;
  font-size: 12px;
  background-color: #fff;
  overflow: hidden;
}
.sidebar dd ul {
  width: 90%;
  margin: auto;
}

.sidebar .list_hold {
  width: 100%;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0 auto 15px;
}

.sidebar .text_link {
  width: 100%;
  padding: 5px;
  margin: 0 auto 10px;
}

.sidebar .text_link li a {
  display: inline-block;
  min-height: 11px;
  padding-left: 12px;
  background-image: url('http://www.mag2.com/img/magtop/i_point.gif');
  background-repeat: no-repeat;
  background-position: 3px 6px;
}

.left_banner {
  margin: 0 auto 10px;
}

.left_banner li {
  margin: 0 auto 5px;
}

.sidebar .list_box {
margin-bottom: 0; 
}

.sidebar .list_box li,
#othermag ul.list_box li {
  min-height: 22px;
}

.sidebar .list_box li a {
  display: inline-block;
  min-height: 11px;
}
.sidebar .list_box dd li a:before {
    content: url("http://www.mag2.com/img/magtop/icon_arrow.png");
    padding-right: 0.5em;
}

.sidebar dl#mmsite {
  background-color: #eef2e5;
}

.sidebar dl#mmsite dd {
  float: left;
  margin: 5px;
  width: 60px;
  _width: 50px;
}

.sidebar ul#side_banner {
  line-height: 0;
}

.sidebar ul#side_banner li {
  margin-bottom: 10px;
}
#magsite dt {
  padding: 5px 5px 5px 10px;
  letter-spacing: 3px;
}
.sidebar #magsite ul li {
  min-width: 50%;
  float: left;
}

/* ranking
--------------------------------------------------------- */
@media (min-width: 992px) {
    #top .container {
        width: 1170px;
    }
  .center_column_wrapper {
      width: 615px;
  }
  .right_column_wrapper {
      width: 300px;
  }
  .left_column_wrapper {
      width: 165px;
  }
}
.center_column_wrapper,
.right_column_wrapper,
.left_column_wrapper {
    position: relative;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    float:left
}
#center_column {
}

#center_column ul#mm_navi {
  margin: 0;
  padding: 0;
  line-height: 0;
}

#center_column ul#mm_navi li {
  margin-left: 1px;
}

#center_column ul#mm_navi li.menu-first {
  margin: 0;
  padding: 0;
}

#center_column ul#mm_navi li img {
  vertical-align: bottom;
}

#center_column #list_cont {
  float: none;
  margin: 4px auto 0;
}

ul.list_scroll {
  top: 0;
  left: 0;
  text-align: left;
}

ul.list_scroll li {
  padding: 0;
  border-top: solid 1px #eee;
}

ul.list_scroll li p.photo {
  float: left;
  margin: 11px 10px 10px 7px;
  display: inline;
}

ul.list_scroll dl {
  float: left;
  width: 190px;
  margin: 15px 0 10px;
  display: inline;
}

ul.list_scroll dt {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul.list_scroll dd {
  font-size: 12px;
  line-height: 1.5;
}

ul.list_scroll .mm_data {
  margin: 20px 5px 0;
  text-align: center;
}

ul.list_scroll .mm_data p {
  margin: 0 auto 10px;
  font-size: 13px;
  font-weight: bold;
}


.right_column ul.ads {
  width: 100%;
  max-width: 300px;
  max-height: 250px;
  margin-top: 20px;
}
/* ------------- gradation-btn ------------------ */
.gradation-btn {
  color: black;
  text-decoration: none;
  font-weight: bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#c9c9c9');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#c9c9c9')";
  background-image: -moz-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: -ms-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: -o-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#c9c9c9));
  background-image: -webkit-linear-gradient(top, #ffffff, #c9c9c9);
  background-image: linear-gradient(top, #ffffff, #c9c9c9);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  line-height: 30px;
  font-size: 18px;
  padding: 10px 30px;
  border: 1px solid #ABABAB;
  margin: auto;
  display: block;
  width: 100%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  text-align: center;
  letter-spacing: 3px;
}
.gradation-btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#E4E4E4');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#E4E4E4')";
  background-image: -moz-linear-gradient(top, #ffffff, #E4E4E4);
  background-image: -ms-linear-gradient(top, #ffffff, #E4E4E4);
  background-image: -o-linear-gradient(top, #ffffff, #E4E4E4);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#E4E4E4));
  background-image: -webkit-linear-gradient(top, #ffffff, #E4E4E4);
  background-image: linear-gradient(top, #ffffff, #E4E4E4);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

.signinBlock {
  margin-bottom:15px;
  padding: 20px 0;
  background-color: rgb(85, 85, 85);
}
.signinBlock_2 {
  margin: 15px 0;
  padding: 20px;
  border: 5px solid #555;
  border-width: 8px 2px 2px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.largeLogin {
  margin: 0 0 10px;
}
.signinBlock span.tx {
  color: #fff;
  font-weight: bold;
}
.largeLogin a {
  font-size: 22px;
  line-height: 50px;
  margin: 0;
}
.largeLogin a:hover {
  color: #000000;
}
.signUp {
  margin: 0;
}
.signUp a.gradation-btn {
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
.signUp a:hover {
  color: #000000;
}

.login-btn,
.signup-btn {
  display:block;
  overflow: hidden;
  width: 100%;
  text-indent: 100%;
  white-space: nowrap;
  background-repeat: no-repeat;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
}
.login-btn {
  width:260px;
  height:72px;
  background-image: url("http://www.mag2.com/img/top/largeLogin_w_arrow.png");
}
.login-btn:hover {
  background-position: 0 -72px;
}
.signup-btn {
  width:260px;
  height:40px;
  background-image: url("http://www.mag2.com/img/top/signUp_w.png");
}
.signup-btn:hover {
  background-position: 0 -40px;
}
.signBlock_inner {
  width: 260px;
  display:block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}


ul.ads li dt {
  display: block;
  text-align: center;
  color: #FFF;
  background: #D0C6A2;
  padding: 4px 0 4px;
  margin-bottom: 4px;
  font-size: small;
  font-weight: normal;
  line-height: 12px;
  vertical-align: middle;
}

#recruit,
#register,
#publ,
#cancel,
#help {
  padding-left: 8px;
  border-left: solid 1px #999;
}

#header ul.nav-link li.hd_social {
  margin-left: 5px;
}

#check_wd {
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: bold;
  background: #f2f2f2;
  padding: 8px 10px 6px;
  text-align: center;
}
#check_wd i {
  padding-right: 3px;
}
/* button */

#button_list {
  padding: 9px 8px 5px;
  overflow: hidden;
}

#button_list button {
  background: none;
  display: block;
  float: left;
  padding: 3px 5px;
  margin: 2px;
  border: none;
  color: #1d3994;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: none;
  outline: 0px none transparent;
}

#button_list button span{
    border-bottom: 2px #ddd solid;
}
#button_list button span:hover{
    border-bottom: 2px #1d3994 solid;
}

#button_list button:hover {
  border-color: #bbb;
  background-color: none;
  box-shadow: none;
  cursor: pointer;
}

#button_list button:before {
    content: "|";
    padding-right: 0.5em;
    color: #000;
}

#button_list button.orange {
  border-color: #1d3994;
  background-color: #1d3994;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  color: #FFF;
}

#button_list button.orange:before {
    content: "";
}

#button_list button.orange:hover {
  border-color: #1d3994;
  background-color: #1d3994;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}

#button_list button.orange span{
    border: none;
}

/* cate */
#cate_nam {
  font-size: 14px;
  font-weight: bold;
  border-left: solid 3px #FFAA00;
  padding-left: 6px;
}

#center_read {
  padding: 0 10px 20px;
}

#cate_com {
  padding-top: 10px;
  width: 438px;
}

/* social_banner */
.right_column .right_banner .social_banner {
  height: 50px;
  display: table;
  margin-bottom: 15px;
}
.right_column .social_banner li {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  width: 50%;
}
.right_column .social_banner li img{
  width: 98%;
  max-width: 147px;
}

.content {
  margin-bottom: 30px;
}
/* tab
--------------------------------------------------------- */
#author_column {
  width: 100%;
  overflow: hidden;
}
#author_column p {
  margin: 0!important;
}
.author_info {
  padding: 10px 0 0 116px;
  display: block;
  overflow: hidden;
  width: 100%;
}
/* categories
--------------------------------------------------------- */
ul.drop :hover{
  background: #FFE4C4;
}

ul.categories {
  margin-left: 125px;
  margin-top: -18px;
  width: 325px;
  position: absolute;
  padding:0 !important;
  border:0px none !important;
  * margin-left: 0;
  * margin-top: 0;
}

ul.categories li {
  font-size: 100%;
  background: #FFFACD;
  float: left;
  width: 49%;
  padding: 5px 0px;
  text-align: left;
  margin-bottom: 0 !important;
  border: 0.5px solid #ff8600;
}

ul.categories li img {
  vertical-align: middle;
}

ul.categories li a {
  padding-left: 5px;
  display: block;
  text-decoration: none;
}

/* right_column
--------------------------------------------------------- */

.right_column {
  width: 100%;
  margin: 0 0 10px;
  overflow: visible;
}
.right_column p {
  margin: 0;
}
.right_column ul {
  line-height: 0;
  margin-bottom: 0;
  overflow: hidden;
}
/* rss feed */
.feeds {
    line-height: 100%;
    padding: 0 12px;
}
.feeds .feeds-item .author {
	font-size: smaller;
	background-color: #EFEFEF;
}

.feeds .feeds-item {
	margin: 0;
	padding: 0 0 10px 0;
	color: #666;
}
.gray_wrap {
  border:1px solid #ddd;
  margin-bottom:15px;
}

#rss_wrap h3 {
  font-size: 17px;
  line-height: 1;
  padding: 11px 5px 5px;
  margin: 0 0 10px;
  text-align: center;
  letter-spacing: 4px;
  color: #111111;
  background-color: #f2f2f2;
}
#rss_wrap h3 i {
  padding-right: 4px;
}
a.article-title {
  font-weight: bold;
  line-height: 1.4;
}
a.article-title:before {
  content:url(http://www.mag2.com/img/magtop/icon_arrow.png);
  padding-right: 3px;
}
.sub{
  margin-bottom: 15px;
  border: 1px solid #1abc9c;
}
.sub .sub_title {
  font-size: 17px;
  line-height: 1;
  padding: 11px 5px 5px;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  color: #111111;
  background-color: #ccf0e9;
}
.sub .sub_title .fa {
  transform: rotate(-30deg);
}
.sub .sub_title .sub_t_t {
  padding-left: 3px;
}
.sub .sub_content {
  padding: 10px 12px;
}
.sub_content a {
  text-decoration: underline;
  color: blue;
  position: relative;
  padding-right: 15px;
}
.sub_content a:after {
  font-family: fontAwesome;
  content: '\f08e';
  color: gray;
  font-size: smaller;
  position: absolute;
}
.sp_sub .sub {
  margin-bottom: 10px;
}
/* 新作メルマガセレクション */
#mag_sel {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}
#mag_sel h3 {
  font-size: 15px;
  line-height: 20px;
  padding: 11px 5px 11px;
  margin: 0 0 10px;
  text-align: center;
  letter-spacing: 4px;
  color: #111111;
  background-color: #f2f2f2;
}

.right_column #mag_sel .list {
  height: auto;
  margin: 0px 0px 10px 0px;
  padding: 0 12px;
  float: left;
  overflow: hidden;
}

#mag_sel .list li {
  width: 100%;
  padding: 2px 5px 0 10px;
  font-size: 12px;
  background-image: url("http://www.mag2.com/img/magtop/icon_arrow.png");
  float: left;
  background-repeat: no-repeat;
  background-position: 0px 7px;
}

#mag_sel .list li p {
  line-height: 1.5;
}

#mag_sel .list .item {
  float: left;
}

#mag_sel .list .itemDescription {
}

#mag_sel .list img {
  float: left;
  
}

/*メルマガセレクションの下の説明文（非表示）*/
.official_curv .headcomment,
#mag_sel .headcomment {
  padding: 10px 0;
  font-size: 12px;
  line-height:1.3
}
#mag_sel .headcomment {
  padding: 5px 3px 5px 9px;
}
#mag_sel .itemtitle {
  font-size: 14px;
  font-weight: bold;
}

#mag_sel .all {
  float: right;
  font-size: 14px;
  font-weight: bold;
  margin: 0 7px 7px;
}
.item p.itemtitle:after {
    content: url(http://www.mag2.com/img/magtop/i_new.gif);
    margin-left: 5px;
}

/* 右バナー群 */
.right_column .right_banner{
  margin-bottom:15px;
}

.right_column .right_banner ul {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.right_banner_item {
  margin:0 auto 10px;
  text-align: center;
}
.right_banner_item img {
  width: 100%;
}
.single_rect_bnr {
    margin:0 auto 15px;
    text-align: center;
}
.rect_banner {
  display: inline;
}
.service_bnr {
  padding-top: 10px;
}
.wide_banner {
    max-width: 278px;
    max-height: 91px;
    border: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all  .3s ease;
  display: inline;
}
.imgOn:hover .wide_banner {
    opacity: .7;
	filter: alpha(opacity=7);
	-ms-filter: "alpha(opacity=7)";
	-moz-opacity: .7;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all  .3s ease;
}
.right_column ul.bnr_first {
  margin-top: 0;
}

.right_column ul.info_mail {
  height: 150px;
  margin-top: 20px;
}

/* officialメルマガ */
.official_curv {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto 15px;
}
.official_curv h3 {
  font-size: 15px;
  line-height: 20px;
  padding: 11px 5px 11px;
  margin: 0;
  text-align: center;
  letter-spacing: 4px;
  color: #111111;
  background-color: #f2f2f2;
}
.sub-text {font-size:12px;}
.mag_medias {
    max-width: 300px;
}
#officialmagform {
  padding: 12px;
  max-width: 300px;
  margin: 0 auto;
}
#officialmagform .caption {
  overflow: hidden;
  font-weight: normal;
  line-height: 1.5;
}
#officialmagform .magname {
  overflow: hidden;
  padding-left: 5px;
  line-height: 1.5;
}

#officialmagform .magname a {
  font-size: 15px;
  font-weight: bold;
}

#officialmagform .magname .delv {
  font-size: 11px;
}

#officialmagform .photo_cntnr {
}

#officialmagform .photo {
  padding-bottom: 5px;
  zoom: 1;
}
#officialmagform .photo img {
  width: 100%;
}
#officialmagform .photo_cntnr .officialcomment {
  margin-bottom: 10px;
  line-height: 1.5;
  padding: 3px 5px;
  font-size: 12px;
}
#officialmagform .photo_cntnr .kiyaku {
  display: block;
  float: left;
  line-height: 1.5;
  font-size: 11px;
}
#officialmagform .reg_form {
  display:block;
  float: left;
}
#officialmagform .reg_form ul {
  text-align: left;
}

#officialmagform .reg_form li {
  display:inline-block;
}

/*  form  */

#officialmagform .reg_form input.rdemail[type="text"] {
  padding: 2px;
  border: 1px solid #ccc;
  width: 237px;
  height: 19px;
  font-size: 13px;
}

#officialmagform .reg_form input.passive[type="text"] {
  color: #999;
}

#officialmagform .reg_form input.submit[type="submit"] {
  margin-left: 0 ;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  border: #ccc solid 1px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  font-family: 'Century Gothic', Verdana, sans-serif;
  height: 25px;
  width: 47px;
  min-width: 47px;
  font-size: 13px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -webkit-appearance: none;
}

#officialmagform .reg_form input.submit[type="submit"]:focus,
#officialmagform .reg_form input.submit[type="submit"]:hover,
#officialmagform .reg_form input.submit[type="submit"]:active {
  border-color: #bbb;
  background-color: #d9d9d9;
  background-image: -webkit-linear-gradient(#f8f8f8,#d9d9d9);
  background-image: linear-gradient(#f8f8f8,#d9d9d9);
  box-shadow: none;
  cursor: pointer;
}

.bn_read {
  float: left;
  width: 100%;
  margin-top: 5px;
  font-weight: bold;
  padding: 3px 5px;
}
/*  その他の情報メルマガ  */

#othermag {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

#othermag a,
#mag_sel .all a {
  line-height: 1.5;
  display: inline-block;
  min-height: 11px;
  padding-left: 12px;
  background-image: url('http://www.mag2.com/img/magtop/i_point.gif');
  background-repeat: no-repeat;
  background-position: 3px 6px;
  font-weight: bold;
}
#othermag a {
  font-size: 15px;
  color: white;
  background: #FF4C4C;
  padding: 10px 20px;
  border-radius: 4px;
}

#othermag .othermag_title {
  margin: 0 0 10px 0;
  height: 15px;
  
}

#othermag .othermag_title p {
  padding-left: 5px;
  font-size: 13px;
  line-height: 1.0em;
  font-weight: bold;
  border-left: #33ccff solid 3px;
}
#othermag ul.sq_link {
  width: inherit;
  padding: 2px;
  margin-top: 5px;
}

#othermag ul.sq_link li {
  display: block;
  float: left;
  width: 144px;
  height: auto;
  padding: 5px 2px 3px;
  font-size: 0.9em;
}
#othermag ul.sq_link li p {
  line-height: 1.5;
}

.right_column ul.text_link {
  padding: 15px 0 0 2px;
}

.right_column ul.text_link li {
  width: 144px;
  height: auto;
  font-size: 0.9em;
  display: inline-block;
  float: left;
  padding-left: 3px;
}

.right_column ul.text_link li.viewall {
  line-height: 2.0;
  font-weight: bold;
  font-size: 1.0em;
}

.sidebar #uranai {
  margin: 0 auto;
  padding: 10px;
}

/* information
--------------------------------------------------------- */

#information {
  float: right;
  width: 770px;
}

#information h2 {
  width: 770px;
  height: 24px;
}

#information #info {
  border-left: solid 1px #cbcbcb;
  border-right: solid 1px #cbcbcb;
  border-bottom: solid 1px #cbcbcb;
  padding-left: 10px;
  width: 758px;
  _width: 760px;
  height: 478px;
  _height: 480px;
}

iframe.twitter-timeline {
  width: 100%;
}
/*-------------------------------------- 
 search form
 ---------------------------------------*/
#search-form {
  width: 435px !important;
  float: left;
  margin: 10px 0 0 190px;
  overflow: hidden;
}

#search-form input#keyword {
  color: #939393;
  border-color: #D9D9D9;
  padding: 1px 6px;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  height: 26px;
  font-size: 13px;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -webkit-appearance: none;
}

#search-form input#keyword:focus,
#search-form input#keyword:active {
  color: #545454;
}

#search-form input#submit {
  margin-left: 0 !important;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  border: #ccc solid 1px;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  font-family: 'Century Gothic', Verdana, sans-serif;
  height: 26px;
  width: 73px;
  min-width: 73px;
  font-size: 13px;
  letter-spacing: 5px;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -webkit-appearance: none;
}

#search-form input#submit:focus,
#search-form input#submit:hover,
#search-form input#submit:active {
  border-color: #bbb;
  background-color: #d9d9d9;
  background-image: -webkit-linear-gradient(#f8f8f8,#d9d9d9);
  background-image: linear-gradient(#f8f8f8,#d9d9d9);
  box-shadow: none;
  cursor: pointer;
}
#pr_bnr {
  background:#FFFFFF;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 300px;
  height: 250px;
}
/* ------------------------------------
◆　footer
------------------------------------ */
/* footer
--------------------------------------------------------- */

#footer {
  position: relative;
  font-size: 12px;
  text-align: left;
  padding-top: 20px;
  border-top: solid 1px #ccc;
  background-color: #f6f6f6;
}

#footer ul {
  font-size: 0;
  line-height: 1;
  margin-bottom: 15px;
}

#footer li {
  display: inline-block;
  font-size: 12px;
  line-height: 1.8;
}

#footer li:after {
  content: "|";
  padding: 0 5px;
  display: inline-block;
  color: #B3B3B3;
}

#footer #policy {
  margin-top: 10px;
}

#footer #copy {
  margin-top: 10px;
}

#pmark {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ------------------------------------
◆　slick
------------------------------------ */
#block1 {
  height:200px;
  overflow: hidden;
}
@media (max-width:992px){
    #block1 {
        height: auto;
    }
}
.slider .image {
  width: 740px;
  box-sizing: content-box;
  padding: 0 3px;
}

.slick-track {
  max-height: 600px;
  overflow: hidden;
}

.slick-dots {
  bottom: -10px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #FFF;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev:before, .slick-next:before {
  font-size: 50px;
}

.slick-prev {
  left: 6px;
}

.slick-next {
  right: 6px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  margin-bottom: 10px;
}

@media (max-width:479px){
  .slick-next,
  .slick-prev {
    display: none!important;
  }
}


.notice{
	display: block;
width: 100%;
border: 1px solid red;
text-align: center;
color: red;
font-weight: bold;
padding: 13px;
margin: 15px auto;
	}

.notice:hover {
text-decoration:underline!important;
	
}	
