@charset "UTF-8";
/* ------------
  common
--------------- */
.inc_footer{margin-top:40px; background-color:#f2f2f2; clear:both; font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; font-weight:normal; line-height:1.6;}
.inc_footer .-inner{margin:0 auto; padding:20px; width:100%; max-width:1000px; font-size:13px; color:#333;}

/* reset */
.inc_footer ul, .inc_footer li{margin:0; padding:0; list-style:none;}

/* media querie diplay */
.pc_none{display:none;}
.pc_block{display:block}

/* link */
.inc_footer a{color:#333; text-decoration:none; font-weight:normal;}
.inc_footer a:hover{color:#0077CC; text-decoration:underline; transition:400ms;}

/* ------------
  list
--------------- */
.inc_footer .-inner .-list{text-align:left;}
.inc_footer .-inner .-list .-item {display:inline-block;}
.inc_footer .-inner .-list .-item a{margin:5px 0; padding:0 6px; display:inline-block; border-right:1px solid #ccc;}
.inc_footer .-inner .-list .-item:last-child{border-right:none;}
.inc_footer .-inner .-credit{padding-top:20px; text-align:center;}



/* =====================

   tablet / mobile

===================== */

@media screen and (max-width: 768px) {

/* ------------
  common
--------------- */
.inc_footer .-inner{margin:0 auto; padding:0;}

/* media querie diplay */
.sp_none{display:none;}
.sp_block{display:block}

/* link */
.inc_footer a{display:block; color:#333;}
.inc_footer a:hover{text-decoration:none;}


/* ------------
  list
--------------- */
.inc_footer .-inner .-list .-item{display:block; border-bottom:1px solid #ccc;}
.inc_footer .-inner .-list .-item:first-child{border-top:1px solid #ccc;}
.inc_footer .-inner .-list .-item:hover{background:#fff; transition: 1000ms;}
.inc_footer .-inner .-list .-item a{display:block; margin:0; padding:15px 20px; border-right:0;}
.inc_footer .-inner .-list .-item a:before{content:">"; color:#ccc; padding-right:1em;}
.inc_footer .-inner .-credit{padding:20px; text-align:left;}
.inc_footer .-inner .-credit a{display:inline;}

}
