/*+++++++++++++++++++++
=====================================
 Template Name : Himu
 Author Name : Mostafizur Rahman
 Author URI : http://mostafiz.me/
 Template URI :http://mostafiz.me/demo/himu/
 Version : 1.1
===============================
+++++++++++++++++++*/





/*
====================================
------------------------------------
	1. Typography
	2. Header
	3. Main Slider
	4. About Us
	5. Service
	6. Our Team
	7. Portfolio
	8. Clients
	9. Our Blog
	10. Contact
	11. Footer
	12. Carousel Effect
	13. Isotope
	14. Portfolio Hover effect
-------------------------------------
=====================================
*/


/*====================
======Typography=====
======================*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	position: relative;
	font-weight:400;
  background: #FFFFFF;
	color:#ffffff
}

body  section{
	padding: 0;
}

a:hover {
  color: #FF9D00;
	outline: none;
	text-decoration:none;
}

a:focus {
	outline:none;
	outline-offset: 0;
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
  color: #FFC568;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.slider-btn {
	background-color:#E80008;
	color: #FFF;
	-webkit-box-shadow: inset 0 0 0 2px #E80008;
	box-shadow: inset 0 0 0 2px #E80008;
	text-transform: uppercase;
	width: 190px;
	text-align: center;
	height: 55px;
	line-height:55px;
	padding: 0;
	font-size: 18px;
	font-weight:800;
	border: 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.slider-btn:hover {
	background-color:#43484E;
	-webkit-box-shadow: inset 0 0 0 2px #43484E;
	box-shadow: inset 0 0 0 2px #43484E;
	color:#fff
}

.pc_only {
  display: block;
}
.sp_only {
  display: none;
}

.parallax-section{
	min-height: 300px;
	width: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


.preloader{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: block;
	background: #fff;
	z-index: 9999;
}

.preloder-wrap{
	display: block;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}

.preloder-inner {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-image: url(http://www.mag2.com/css/slick/ajax-loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

.ball {
	width: 10px;
	height: 10px;
	margin: 10px auto;
	border-radius: 50px;
}
  
.ball:nth-child(1) {
	background: #ff005d;
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	animation: right 1s infinite ease-in-out;    
}

.ball:nth-child(2) {
	background: #35ff99;
	-webkit-animation: left 1.1s infinite ease-in-out;
	-moz-animation: left 1.1s infinite ease-in-out;
	animation: left 1.1s infinite ease-in-out;
}

.ball:nth-child(3) {
	background: #008597;
	-webkit-animation: right 1.05s infinite ease-in-out;
	-moz-animation: right 1.05s infinite ease-in-out;
	animation: right 1.05s infinite ease-in-out;
}

.ball:nth-child(4) {
	background: #ffcc00;
	-webkit-animation: left 1.15s infinite ease-in-out;
	-moz-animation: left 1.15s infinite ease-in-out;
	animation: left 1.15s infinite ease-in-out;
 }

.ball:nth-child(5) {
	background: #2d3443;  
	-webkit-animation: right 1.1s infinite ease-in-out;
	-moz-animation: right 1.1s infinite ease-in-out;
	animation: right 1.1s infinite ease-in-out;
}

.ball:nth-child(6) {
	background: #ff7c35;  
	-webkit-animation: left 1.05s infinite ease-in-out;
	-moz-animation: left 1.05s infinite ease-in-out;
	animation: left 1.05s infinite ease-in-out;
}

.ball:nth-child(7) {
	background: #4d407c;  
	-webkit-animation: right 1s infinite ease-in-out;
	-moz-animation: right 1s infinite ease-in-out;
	animation: right 1s infinite ease-in-out;
}


@-webkit-keyframes right {
	0%   { -webkit-transform: translate(-15px);   }
	50%  { -webkit-transform: translate(15px);    }
	100% { -webkit-transform: translate(-15px);   }
}

@-webkit-keyframes left {
	0%   { -webkit-transform: translate(15px);    }
	50%  { -webkit-transform: translate(-15px);   }
	100% { -webkit-transform: translate(15px);    }
}

@-moz-keyframes right {
	0%   { -moz-transform: translate(-15px);   }
	50%  { -moz-transform: translate(15px);    }
	100% { -moz-transform: translate(-15px);   }
}

@-moz-keyframes left {
	0%   { -moz-transform: translate(15px);    }
	50%  { -moz-transform: translate(-15px);   }
	100% { -moz-transform: translate(15px);    }
}

@keyframes right {
	0%   { transform: translate(-15px);  }
	50%  { transform: translate(15px);   }
	100% { transform: translate(-15px);  }
}

@keyframes left {
	0%   { transform: translate(15px);   }
	50%  { transform: translate(-15px);  }
	100% { transform: translate(15px);   }
}


.vertical-middle{
	width: 100%;
	height: 100%;
	display: table;
}

.vertical-middle div{
	display: table-cell;
	vertical-align: middle;
}

/*====================
======Header CSS=====
======================*/

#navigation .navbar {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  border-bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 3px;
  padding-bottom: 0;
  min-height: 40px;
}

#navigation .navbar-toggle{
  margin: 3px 3px 0;
  background-color: #333;
}

#navigation .navbar-brand h1{
  padding: 0;
  margin: 0;
}

#navigation .navbar-nav.navbar-right li {
	padding: 0 1px;
}

#navigation .navbar-nav.navbar-right {
  padding: 4px 0;
}

#navigation .navbar-nav.navbar-right li a {
	color: #43484E;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all .9s ease 0s;
	-moz-transition: all .9s ease 0s;
	-o-transition: all .9s ease 0s;
	transition: all .9s ease 0s;
  padding: 0 15px;
  line-height: 32px;
}

#navigation .navbar-inverse .navbar-nav  .active  a,  
#navigation .navbar-inverse .navbar-nav  .active  a:focus, 
#navigation .navbar-nav.navbar-right li a:hover {
	color: #fff;
	background-color: #E80008;
}
#navigation .navbar-inverse .navbar-brand {
  padding: 0;
}

/*======================
====Main Slider CSS=====
=======================*/
.home-pattern {
	height:100%;
	position:absolute;
	width:100%;
	z-index:1;
	left:0;
	bottom:0;
	background-image:url(../images/home-pattern.png);
	background-repeat:repeat;
	opacity:0.2;
}

#home{
  padding: 40px 0 0;
  overflow: hidden;
  position:relative;
}

#main-carousel .carousel-inner .item {
	background-size:cover;
	height: 100%;
	background-position: 50% 50%;
	background-repeat:no-repeat;
}

#main-carousel .carousel-indicators { 
	bottom:15px
}

#main-carousel .carousel-indicators li{
	background: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	width: 13px;
	height: 13px;
	margin-left: 5px;
	text-indent: -9999px;
	display: inline-block;
}

.carousel-indicators .active{
	background-color: #fff !important;
	
}

.slider-content {
	height: 100%;
}

#main-carousel .carousel-caption {
	display: table;
	height: 100%;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: 11;
}

#main-carousel .carousel-caption > div{
    vertical-align: middle;
    display: table-cell;
}

#main-carousel .carousel-inner h2 {
	color: #f6f6f6;
	display: inline-block;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 55px;
	font-weight: 800;
	margin-bottom: 40px;
	text-shadow: none;
	text-transform: uppercase;
}

#main-carousel .carousel-inner h2 span{
  color:#7ab700;
}

#main-carousel .carousel-inner p {
	color: #f6f6f6;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 59px;
	margin-top: 0;
	text-shadow:none;
}

#main-carousel .carousel-left{
	left:-50px;
}

#main-carousel .carousel-right{
	right:-50px;
}

#main-carousel:hover .carousel-left{
	left:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel:hover .carousel-right{
	right:0px;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

#main-carousel .carousel-left,
#main-carousel .carousel-right{
	padding: 15px;
	z-index: 12;
	font-size: 60px;
	color: rgba(255, 255, 255, 0.52);
	top: 50%;
	position: absolute;
	margin-top: -60px;
	text-align: center;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.carousel-right {
  right:65px
}

.carousel-left {
  left:65px
}

#main-carousel .carousel-left:hover,
#main-carousel .carousel-right:hover{
	color: #F6F6F6;
}


/*=======================
===== Hero Image CSS ====
=========================*/

.hero_img_container {
  text-align: center;
  overflow: hidden;
}

.hero_img {
    width: 100%;
    max-width: 800px;
    z-index: 100;
    position: relative;
}
.header-video {
  width: 100%;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
}


/*=======================
====== Sougou Taisho CSS =
=========================*/


section.block_01 {
	/*background: #7f0000 url("http://www.mag2.com/events/mag2year/2015/img/bg.png") center center repeat-y;*/
	background: #1B3850;
	overflow: hidden;
	padding: 55px 0 0;
}

.res_card {
  background-color: #292929;
  background-image: url(http://www.mag2.com/events/mag2year/2014/free/img/bg_table_tl.png), url(http://www.mag2.com/events/mag2year/2014/free/img/bg_table_tr.png), url(http://www.mag2.com/events/mag2year/2014/free/img/bg_table_bl.png), url(http://www.mag2.com/events/mag2year/2014/free/img/bg_table_br.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, bottom left, bottom right;
  background-size: 80px,80px,80px,80px;
  border: 4px #cc9d52 double;
  position: relative;
  padding-bottom: 50px;
}

#sougou h2 {
	margin-bottom:35px
}

#sougou h3 {
	color: #fff;
}

.title-one {
	color: #FFFFFF;
	display: inline-block;
	font-size: 32px;
  letter-spacing: 5px;
	font-weight: 600;
	padding-bottom:10px;
	text-align: center;
	text-transform: uppercase;
	position:relative;
  height: 76px;
  width: 100%;
  
}
/*▼受賞タイトル▼*/
.award-title {

}
#cate01 .title-one.award-title {background:url("../img/b_cate01.png") no-repeat center center;background-size:contain;}
#cate02 .title-one.award-title {background:url("../img/b_cate02.png") no-repeat center center;background-size:contain;}
#cate03 .title-one.award-title {background:url("../img/b_cate03.png") no-repeat center center;background-size:contain;}
#cate04 .title-one.award-title {background:url("../img/b_cate04.png") no-repeat center center;background-size:contain;}
#cate05 .title-one.award-title {background:url("../img/b_cate05.png") no-repeat center center;background-size:contain;}
#cate06 .title-one.award-title {background:url("../img/b_cate06.png") no-repeat center center;background-size:contain;}
#cate07 .title-one.award-title {background:url("../img/b_cate07.png") no-repeat center center;background-size:contain;}
#cate08 .title-one.award-title {background:url("../img/b_cate08.png") no-repeat center center;background-size:contain;}
#cate09 .title-one.award-title {background:url("../img/b_cate09.png") no-repeat center center;background-size:contain;}
#cate10 .title-one.award-title {background:url("../img/b_cate10.png") no-repeat center center;background-size:contain;}
#cate11 .title-one.award-title {background:url("../img/b_cate11.png") no-repeat center center;background-size:contain;}
#cate12 .title-one.award-title {background:url("../img/b_cate12.png") no-repeat center center;background-size:contain;}
#cate13 .title-one.award-title {background:url("../img/b_cate13.png") no-repeat center center;background-size:contain;}
#cate14 .title-one.award-title {background:url("../img/b_cate14.png") no-repeat center center;background-size:contain;}
#cate15 .title-one.award-title {background:url("../img/b_cate15.png") no-repeat center center;background-size:contain;}
#news .title-one.award-title {background:url("../img/b_news.png") no-repeat center center;background-size:contain;}
#money .title-one.award-title {background:url("../img/b_money.png") no-repeat center center;background-size:contain;}
#jimococo .title-one.award-title {background:url("../img/b_jimococo.png") no-repeat center center;background-size:contain;}
.title-one.media {background:url("../img/b_media.png") no-repeat center center;background-size:contain;}
.title-one.genre {background:url("../img/b_genre.png") no-repeat center center;background-size:contain;}
.title-one.sogo {background:url("../img/b_sogo.png") no-repeat center center;background-size:contain;}

.recommend_reason {
  margin-bottom: 18px;
  background: url(../img/i_recommend.png) no-repeat 0 0;
  height: 52px;
  width: 100%;
}

.magazine_title:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  display: block;
  background-image: -webkit-linear-gradient(left, transparent, #FFFFFF 25%, #292929 75%, transparent);
  background-image: linear-gradient(to right, transparent, #FFFFFF 25%, #292929 75%, transparent);
  background-position: center;
  background-repeat: no-repeat;
}
.magazine_title{
  overflow: hidden;
  width: 100%;
}

.media, .media-body {
    overflow: visible;
}
.nav-tabs>li>a {
    margin-right: 0;
}
@media (max-width: 479px) {
  .nav-tabs li {
      width: 50%;
  }
}

.float-none {
  float: none;
}

/*
 * ■メダル表示部分
 **/
.medal {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-left: 104px;
  margin-bottom: 0;
  min-height: 107px;
}
.medal.gold {
    background: url(http://www.mag2.com/events/mag2year/2014/free/img/i_medal_01.png) no-repeat 0 0;
}
.medal.silver {
    background: url(http://www.mag2.com/events/mag2year/2014/free/img/i_medal_02.png) no-repeat 0 0;
}
.medal.bronze {
    background: url(http://www.mag2.com/events/mag2year/2014/free/img/i_medal_03.png) no-repeat 0 0;
}
.medal:before {
    content:"";
    position: absolute;
    height: 109px;
    width: 104px;
    left: 0;
    top: 0;
    background-size: 104px 109px;
}
.no-medal {
  position: relative;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 0;
  min-height: 107px;
}
.medal_text {
  margin: 0;
  padding: 5px 0 5px 5px;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
}

/* リフレクション効果 */
.reflection-text{
    height      :auto;
    position    :relative;
    overflow    :hidden;
    margin: 20px 0 0 5px;
}
 
.reflection {
    height      :100%;
    width       :30px;
    position    :absolute;
    top         :-180px;
    left        :0;
    background-color: #fff;
    opacity     :0;
    transform: rotate(45deg);
    animation: reflection 3s ease-in-out infinite;
    -webkit-transform: rotate(45deg);
    -webkit-animation: reflection 3s ease-in-out infinite;
    -moz-transform: rotate(45deg);
    -moz-animation: reflection 3s ease-in-out infinite;
    -ms-transform: rotate(45deg);
    -ms-animation: reflection 3s ease-in-out infinite;
    -o-transform: rotate(45deg);
    -o-animation: reflection 3s ease-in-out infinite;
}

@keyframes reflection {
    0% { transform: scale(0) rotate(45deg); opacity: 0; }
    80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { transform: scale(4) rotate(45deg); opacity: 1; }
    100% { transform: scale(25) rotate(45deg); opacity: 0; }
}
@-webkit-keyframes reflection {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(25) rotate(45deg); opacity: 0; }
}
@-moz-keyframes reflection {
    0% { -moz-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -moz-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -moz-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -moz-transform: scale(25) rotate(45deg); opacity: 0; }
}
@-ms-keyframes reflection {
    0% { -ms-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -ms-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -ms-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -ms-transform: scale(25) rotate(45deg); opacity: 0; }
}
@-o-keyframes reflection {
    0% { -o-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -o-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -o-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -o-transform: scale(25) rotate(45deg); opacity: 0; }
}




#sougou h4 {
	color: #909090;
	margin-bottom: 50px;
	margin-top: -5px;
	text-transform: capitalize;
}

#sougou p {
	font-weight:300;
	font-size:15px
}

.sougou .col-sm-6 {
	margin-top:50px
}
.sougou .register-btn {
  margin-top: 50px;
}


.sougou .tab-content {
	background:#F1F1F1;
  border-bottom: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
	padding: 25px;
}

.sougou .nav-tabs li a {
	border-top:2px solid transparent;
	color:#ffffff;
  font-size: 13px;
}
.sougou .nav-tabs li a:hover,
.sougou .nav-tabs li a:focus {
  color: #333333;
}
.sougou .nav-tabs li.active a {
	border-radius: 0;
	color: #333333;
  background: #F1F1F1;
	border-top: 2px solid #CC9D52;
}
.sougou .nav-tabs li.active a:hover, 
.sougou .nav-tabs li.active a:focus {
	border-radius: 0;
	color: #333333;
}

.sougou .tab-content 
.pull-left.media-object {
	background-color: #F6F6F6;
	margin-right: 20px;
	padding: 5px;
}
.sougou .tab-content {
  color: #43484E;
}
.media-object {
  max-width:110px;
}
#sougou .title_text {
  position: relative;
  float: left;
  overflow: hidden;
  padding: 0;
  font-size: 23px;
  margin-top: 12px;
  color: #fff;
}
.title_text:before,
.title_text:after,
.title_text {
  font-size: 20px;
  font-weight: bold;
}
.title_text:after,
.title_text:before {
  display:inline-block;
  position: absolute;
}
.title_text .pre:before {
  content:"『";
  left:0;
  top: 0;
}
.title_text .saf:after {
  content:"』";
  right:0;
  top: 0;
}


.skillbar {
	position:relative;
	display:block;
	margin-bottom:18px;
	box-shadow:1px 1px 0 0 #333333;
	width:100%;
	background:#000000;
	height:35px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
  position: static;
	width:100%;
	font-weight:normal;
	font-size:13px;
	color:#fff;
	background-color:transparent;
}

.skillbar-title span {
	float: none;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0;
	text-align: left;
	display:block;
	background-color:transparent;
	padding:0;
}


.skillbar-bar {
	height:35px;
	width:0px;
	background-color:#cc9d52;
	box-shadow:0 1px 0 0 #333333;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
}

.reg_btn {
  width:100%;
  max-width: 322px;
}
.magazine_info {
  margin-bottom: 30px;
}
.magazine_info_inner {
  padding: 15px;
  border: 1px solid #fff;
}
.magazine_info p {
  margin-bottom: 0;
}
.price_icon {
  vertical-align: text-top;
  margin-right: 8px;
}
/*====================
======Service CSS=====
======================*/
#services {
  background-image: url("../images/services/service-bg.jpg");
  color:#fff;
  text-align:center;
  background-color:	#0A0A13;
}

.services {
	display:block;
	overflow:hidden;
	margin-top:50px
}

#services h2{
  color: #fff;
  border-color: #fff;
  margin-bottom:35px
}

.single-service {
	background-color: rgba(0, 0, 0, 0.39);
	padding:25px;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
  margin-bottom: 20px;
  min-height: 182px;
  display: block;
  text-decoration: none;
}

.single-service p {
	text-align:justify;
}

.single-service i {
	text-align:center;
	font-size:20px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	width: 50px;
	color:#43484E;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-service:hover {
	background-color: #E80008;
}

.single-service:hover i {
	color:#E80008;
	-moz-transform: scale(1.1) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
#category,
#media {
  background-image: url("../img/gold-bokeh-wallpapers.jpg");
  text-align:center;
}
.links-caption {
  background: rgba(0, 0, 0, 0.39);
  padding: 10px;
}
.services {
	display:block;
	overflow:hidden;
	margin-top:50px
}

#category h3,
#media h3{
  color: #fff;
  border-color: #fff;
  margin-bottom: 10px;
  margin-top: 15px;
}

/*=====================
======Our Team CSS=====
=======================*/

#team-carousel {
	position:relative
}

#our-team {
	background-color:#f6f6f6;
	color:#43484E;
}

#our-team h2 {
	color:#43484E;
	margin-bottom:35px;
}

#our-team .team-members {
	padding:0;
	margin-top:55px;
	display:block;
	overflow:hidden
}

.single-member {
	height:430px;
	background-color:#43484E;
	border: 1px solid #43484E;
	color: #f6f6f6;
	padding: 25px;
	text-align:center;
	overflow:hidden;
}

.single-member img {
	width:100%
}

.single-member h4, 
.single-member h5 {
	text-align:center
}

#our-team .socials i {
	background-color:#fff;
	border-radius: 50%;
	color: #43484E;
	display: inline-block;
	font-size:16px;
	height: 30px;
	line-height:28px;
	margin-right: 5px;
	text-align: center;
	width: 30px;
	border-width:1px;
	border-color:#43484E;
	border-style: solid;
	opacity:.5;
	 -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;  
}

#our-team .socials a i:hover {
	opacity:1;
	color:#fff;
	border:0
}

#our-team .socials a .fa-facebook:hover {
	background: #3B5997;	
}

#our-team .socials a .fa-twitter:hover {
  background:#29C5F6
}

#our-team .socials a .fa-pinterest:hover {
  background:#C61118
}

#our-team .socials a .fa-dribbble:hover {
  background:#FF5C93
}

#our-team .socials a .fa-linkedin:hover {
  background:#006DC0
}

#our-team .socials a .fa-google-plus:hover {
  background:#D13D2F
}

#our-team .socials a .fa-flickr:hover {
  background:#7A797B
}

.member-left, .member-right {
	position:absolute;
	top:-43px;
	color:#43484E
}


.member-left {
	left:49%;
}

.member-right {
	left:51%
}


/*======================
======Portfolio CSS=====
========================*/

#portfolio {
  padding-top:70px;
  padding-bottom: 100px;
  background:#F6F6F6
}

#portfolio p, 
#portfolio h2 {
	margin-bottom:30px;
}

#portfolio 
.portfolio-filter {
  margin-bottom:40px;
  margin-top:10px;
}

#portfolio 
.portfolio-filter li {
  display: inline-block;
}

#portfolio 
.portfolio-filter li a:hover, 
#portfolio 
.portfolio-filter li a:focus,
#portfolio 
.portfolio-filter li a:active , 
#portfolio 
.portfolio-filter li .active{
	border: 1px solid #E80008;
	color: #686868;
	box-shadow: none;
	-webkit-box-shadow: none;
	opacity: 1;
}

#portfolio 
.portfolio-filter li a {
	color: #686868;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	background: rgba(67, 72, 78, 0);
	opacity: .8;
	border: 1px solid rgba(252, 119, 0, 0);
	border-radius: inherit;
}

.portfolio-items > div{
  padding:0;
}

.portfolio-items img{
  width:100%;
}

.view {  
  cursor: default;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width:100%;
}

.efffect h4 {  
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s linear 0s;
}

.efffect h3 {
	opacity: 0;
	transform: scale(0);
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}

.efffect img {
	transform: scaleY(1);
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);  
	transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
	-o-transition: all 0.7s ease-in-out 0s;
}

.view img {
	display: block;
	position: relative;
}

.efffect .mask {
	background-color: #F6F6F6;
    border:4px solid #333333;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-ms-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
	opacity: 0
}

.view .mask, .view .content {
	height:100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width:100%;
}

.mask h3 {
	color: #43484E;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 22px;
	font-weight: 700;
	margin-top: 30px;
	text-transform: uppercase;
	transition: height 500ms ease 0s;
}

.mask h4 {
	color:#000;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: 200;
	padding: 0 35px 5px;
}

.mask i {
	border: 2px solid #333;
	border-radius: 50%;
	color: #333;
	font-size: 17px;
	margin-left: 8px;
	padding: 8px;
}

.mask i:hover{
	background-color:#E80008;
	color:#fff;  
}



/*====================
======Clients CSS=====
======================*/

#clients{
	background-image: url("../images/clients/client-bg.jpg");
	background-color:#0A0A13;
}

#clients h2 {
	margin-bottom:30px;
	color:#f6f6f6
}

#clients p {
	color:#fff
}

#clients-carousel  {
	margin-top:45px;
	text-align:center;
}

#clients-carousel 
.carousel-inner {
	display:inline-block;
	width:60%
}

.carousel-inner blockquote {
  border-left: 0 none;
  margin:15px;
  padding:0;
  text-align: left;
}

.carousel-inner blockquote p {
	font-size:17px;
	
}

#clients-carousel 
.carousel-inner img {
	border-right:5px solid#eee;
	padding-right:10px
}

#clients-carousel 
.carousel-indicators {
	top: 100%;
	left: 50%;
	margin: 0 0 0 -50px;
	position: absolute;
	width: 100px;
}

#clients-carousel .item {
	background:#43484E
}

#clients-carousel 
.carousel-indicators li{
	background: rgba(0, 0, 0, 0);
	border: 1px solid #fff;
	width: 13px;
	height: 13px;
	margin-left: 5px;
	text-indent: -9999px;
	display: inline-block;
}

#clients-carousel 
.carousel-indicators {
  margin-top: 20px;
}

.clients{
  text-align: center;
}

.clients h2 {
	color: #FFFFFF;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;
	margin-top: 0;
}

.clients p {
	color: #FFFFFF;
	font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.clients p span{
	color:#E80008;
}



/*=====================
======Our Blog CSS=====
======================*/

#blog {
	padding-bottom:75px;
	padding-top:75px
}

.blog-heading {
	margin-bottom: 35px;
	margin-top: 15px;
}

.single-blog {
	margin-bottom: 30px;
	background-color:#F7F7F7;
	padding:25px;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	-webkit-box-shadow: 0 2px 0 0 #ddd;
	box-shadow: 0 2px 0 0 #ddd;
}

.single-blog:hover {
	background-color:#43484E;
	color:#fff
}

.single-blog:hover.single-blog h2 {
	color:#fff
}

.single-blog:hover.single-blog .btn-primary {
	background-color:#E80008;
	color:#fff;
	border-color:#fff;
	transition: all 0.9s ease 0s;
	-moz-transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
}

.single-blog img{
	width:100%;
	margin-bottom:20px
}

.single-blog h2 {
	color:#43484E;
	font-size:24px;
}

.single-blog h2{
	margin:0;
	margin-bottom:15px;
}

.single-blog ul {
	padding:0;
	overflow:hidden;
}

.single-blog ul li {
	border-right: 2px solid #999999;
	float: left;
	line-height: 10px;
	list-style: none;
	margin-right: 10px;
	padding-right: 10px;
	font-size: 12px;
	color:#999;
}

.single-blog ul li:last-child {
	border:none;
}

.blog-content {
	margin-bottom: 25px;
	margin-top: 0;
}

.single-blog .btn-primary {
	text-transform: uppercase;
	border: 1px solid #E80008;
	color: #686868;
	background-color: rgba(255, 255, 255, 0);
	border-color: #E80008;
}

.single-blog:hover.single-blog .btn-primary:hover{
	background-color:#E80008;
	color:#fff;
}

#blog-detail .modal-body {
	padding:30px;
}

#blog-detail .modal-body img {
	width:100%
}

#blog-detail .close {
	margin-right: -15px;
    margin-top: -25px;
}



/*====================
======Contact CSS=====
======================*/

#contact {
	overflow:hidden;
	background-color: #f6f6f6;
	position:relative;
	padding-bottom:85px;
	border-top:2px solid #ddd
}

#contact .contact-heading {
	padding-bottom:35px;
	position: relative;
	z-index: 10;
}

.contact-details {	
	padding-top:75px;
}

.pattern {
	height:100%;
	position:absolute;
	width:100%;
	z-index:1;
	left:0;
	bottom:0;
	background-image:url(../images/pattern.png);
	background-repeat:repeat;
	opacity:0.2;
}


.contact-address {
	background-color: #fff;
	height:390px;
	padding-top:85px
}

.contact-address .social-icons a i {
	border-radius:0;
	height:30px;
	line-height:inherit;
	width:30px;
	border-width:0;
	transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	margin-right:10px
}
.contact-address .social-icons i:hover {
	transform: scale(.9);
}

.social-icons a {
	color: #A2A2A2;
	font-size: 20px;
	border: 1px solid #A2A2A2;
	border-radius: 50%;
	text-align: center;
	padding: 6px;
	width: 44px;
	height: 44px;
	display: inline-block;
	margin: 2px;
}


.social-icons a:hover {
  color: #E80008;
  border: 1px solid #E80008;
}

.contact-address .social-icons, 
.contact-address address {
	z-index:2;
	position:relative
}

.contact-address  p {
	font-weight:800;
	font-size:24px
}

.contact-address  p span {
	color:#E80008;
}

#contact-form-section {	
	padding:35px;
	background-color: #FFF; 
	height:390px;
}

#contact-form-section .btn-primary {
	background-color:#E80008;
	border-color:#f6f6f6;
	border-radius:0;
	padding:10px 35px;
	text-transform:uppercase;
	font-weight:800;
	transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

#contact-form-section .btn-primary:hover {
	background-color:#43484E
}

#contact-form input, 
#contact-form textarea, 
#contact-form .btn-primary  {
	position:relative;
	z-index:2;
}

#contact-form .name-field, 
#contact-form .mail-field  {
	width:49%;
}

#contact-form .name-field {
	margin-right:2%;	
	float:left
}

#contact-form .mail-field {
	
}

#contact-form-section .form-control {
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
}

#contact-form-section textarea {
	resize:none
}

#contact-form-section .form-control:focus {
	border-color: #E80008;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}


/*====================
======Footer CSS=====
======================*/

#footer {
	background-color:#f6f6f6;
	padding-top:25px;
	padding-bottom:25px;
	color:#43484E;
	font-size:16px;
	position:relative;
	margin-top:20px;
}

#footer p {
	margin: 0
}

#footer a {
	color:#43484E
}


/*============================
======Carousel Effect CSS=====
==============================*/


.carousel.scale .carousel-inner > .item.left > div:nth-child(1),
.carousel.scale .carousel-inner > .item.right > div:nth-child(1) {
  -webkit-animation: fadeOutDown 300ms linear 0ms both;
  animation: fadeOutDown 300ms linear 0ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(1),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(1) {
  -webkit-animation: fadeInDown 300ms linear 75ms both;
  animation: fadeInDown 300ms linear 75ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(2),
.carousel.scale .carousel-inner > .item.right > div:nth-child(2) {
  -webkit-animation: fadeOutDown 300ms linear 75ms both;
  animation: fadeOutDown 300ms linear 75ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(2),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(2) {
  -webkit-animation: fadeInDown 300ms linear 150ms both;
  animation: fadeInDown 300ms linear 150ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(3),
.carousel.scale .carousel-inner > .item.right > div:nth-child(3) {
  -webkit-animation: fadeOutDown 300ms linear 150ms both;
  animation: fadeOutDown 300ms linear 150ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(3),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(3) {
  -webkit-animation: fadeInDown 300ms linear 225ms both;
  animation: fadeInDown 300ms linear 225ms both;
}

.carousel.scale .carousel-inner > .item.left > div:nth-child(4),
.carousel.scale .carousel-inner > .item.right > div:nth-child(4) {
  -webkit-animation: fadeOutDown 300ms linear 225ms both;
  animation: fadeOutDown 300ms linear 225ms both;
}
.carousel.scale .carousel-inner > .item.next > div:nth-child(4),
.carousel.scale .carousel-inner > .item.prev > div:nth-child(4) {
  -webkit-animation: fadeInDown 300ms linear 300ms both;
  animation: fadeInDown 300ms linear 300ms both;
}


/*==================================
====== Isotope Recommended CSS=====
====================================*/

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */




/*==================================
====== Portfolio Hover effect=======
====================================*/


.efffect img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.efffect .mask {
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   cursor: zoom-in;
}
.efffect h4 {   
   background: transparent;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.efffect h3 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   font-size:22px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.mask a i {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform:rotate(-180deg);
   -moz-transform:rotate(-180deg);
   -o-transform:rotate(-180deg);
   -ms-transform:rotate(-180deg);
   transform:rotate(-180deg);
   -webkit-transition:all 0.5s linear 0.7s;
   -moz-transition: all 0.5s linear 0.7s;
   -o-transition:all 0.5s linear 0.7s;
   -ms-transition:all 0.5s linear 0.7s;
   transition:all 0.5s linear 0.7s;
}
.efffect:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.efffect:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.efffect:hover h4,.efffect:hover h3,.efffect:hover a i {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.margin-bottom30 {
  margin-bottom: 30px;
}
.margin-bottom50 {
  margin-bottom: 50px;
}
