@media (min-width:992px) and (max-width:1199px){
  .efffect h3{
    font-size:15px;
    margin-top:10px
  }
}
@media (min-width:768px) and (max-width:991px){
  #navigation .navbar-nav.navbar-right li{
    padding:0 0;
  }
  .header-bottom #subscribe-form .mail-field{
    width:70%
  }
  .header-bottom .btn-primary{
    float:right
  }
  .about-us .tab-content .pull-left.media-object{
    float:inherit;
    width:100%;
    margin-bottom:15px
  }
  .single-member{
    height:515px;
    margin-bottom:30px
  }
  .efffect h3,.efffect h4{
    display:none
  }
  .mask a i{
    margin-top:28px
  }
}
@media (max-width:992px){
  .media {
    width:100%;
    display:table;
    
  }
  .media li {
    width:33%;
  }
  .media li img {
    width:95%;
  }
  .global-nav ul {
    width: 100%;
  }
  .global-nav ul li {
    display: table-cell;
    padding: 0;
    text-align: center;
  }
  .global-nav .nav li {
      width: 20%;
      border-right: 1px solid #AAAAAA;
      border-bottom: 1px solid #AAAAAA;
      border-top: 1px solid #AAAAAA;
  }
  .global-nav .nav li:first-child {
      border-left: 1px solid #AAAAAA;
  }
  #home {
    background: url("http://www.mag2.com/events/mag2year/2015/img/909058.jpg");
    background-size: cover;
  }
  .pc_only {
    display: none;
  }
  .sp_only {
    display: block;
  }
  #search-form {
    width: 100%!important;
    float: left;
    margin: 10px auto;
    overflow: hidden;
  }
  .search_input {width:80%}
  .search_submit{width:20%}
  #author_column .author_prof {
    padding: 10px 10px 0;
    min-height: 40px;
  }
  #author_column .author_info {
    width: 100%;
    padding: 5px 10px 0;
    overflow: hidden;
  }
  #author_column .photo {
    display: none;
  }
  #author_column .magname {
    padding: 0;
  }
  #author_column .title_tag,
  #author_column .magname ul {
    width: 100%;
    margin: 0;
  }
  #author_column .author_profbg:before {
	width:100%;
    background-image: none;
    border-top: 2px dotted #B5B2B2;
  }
  #check_wd {
    font-size: 15px;
  }
  .right_column {
    margin: 15px 0;
  }
}
@media (max-width:767px){
  #navigation .navbar-nav.navbar-right{
    margin-top:0
  }
  .cubic-btn {
    width: 100px;
  }
  .media,.media-body{
    overflow:inherit!important
  }
  #navigation .navbar-inverse .navbar-nav .active a,
  #navigation .navbar-inverse .navbar-nav .active a:focus,
  #navigation .navbar-nav.navbar-right li a:hover{
    border:none
  }
  .call-to-action p,.header-bottom #subscribe-form p{
    font-size:14px
  }.header-bottom #subscribe-form .mail-field{
    display:inline;
    float:none;
    margin-bottom:13px;
    margin-right:0;
    width:100%
  }
  #main-carousel .carousel-inner h2{
    border-bottom:0;font-size:30px
  }
  .slider-btn{
    font-size:16px;
    height:45px;
    line-height:45px;
    width:150px
  }
  .title-one{
    font-size:24px
  }
  #about-us p{
    font-size:14px
  }.nav-tabs li{
    width:33%
  }
  .nav-tabs li a{
    text-align:center
  }
  .nav-tabs li a i{
    display:block
  }
  .about-us .tab-content .pull-left.media-object{
    background-color:#F6F6F6;
    display:block;float:inherit!important;margin-right:0;
    width:100%
  }
  #media h3{
    font-size:22px
  }
  .single-service {
      min-height: 100px;
  }
  .member-right{
    left:55%
  }
  .single-member{
    margin-bottom:25px;
    height:600px
  }
  #portfolio .portfolio-filter{
    padding:0
  }
  #portfolio .portfolio-filter li{
    margin-bottom:10px
  }
  .efffect h3{
    margin-top:18%
  }
  #clients-carousel .carousel-inner img{
    width:100%
  }
  .single-blog ul li{
    margin-bottom:10px
  }
  #gmap iframe{
    height:225px
  }
  .contact-address{
    padding-left:10px;
    padding-right:10px
  }
  .pattern{
    height:960px
  }
  #footer p{
    font-size:14px
  }
}
@media (max-width:479px){
  body section{
    overflow:hidden
  }
  #navigation .navbar-nav.navbar-right li a{
    padding:5px 15px;
  }
  .media,.media-body{
    overflow:inherit!important
  }
  #navigation .navbar-inverse .navbar-nav .active a,
  #navigation .navbar-inverse .navbar-nav .active a:focus,
  #navigation .navbar-nav.navbar-right li a:hover{
    border:none
  }
  .call-to-action p,
  .header-bottom #subscribe-form p{
    font-size:14px
  }
  .header-bottom #subscribe-form .mail-field{
    display:inline;
    float:none;
    margin-bottom:13px;
    margin-right:0;
    width:100%
  }
  .global-nav {
    display: none;
  }
  .top-login-btn_wrap {
    margin-top: 9px;
  }
  .iam {
    height: 10px;
    width: 100%;
  }
  .iam_inner_text {
    vertical-align: top;
    padding: 0;
    line-height: 1;
  }
  #author_column .magname p.personal_tags {
    display: none;
  }
  #author_column .magname ul {
    display: none;
  }
  #author_column .author_profbg:before {
    display: none;
  }
  #author_column .author_prof {
    padding: 0;
  }
  #author_column .author_info {
    padding: 5px 0 0;
  }
  #main-carousel .carousel-inner h2{
    border-bottom:0;
    font-size:30px
  }
  .slider-btn{
    font-size:16px;
    height:45px;
    line-height:45px;
    width:150px
  }
  .title-one{
    font-size:24px
  }
  #about-us p{
    font-size:14px
  }
  .nav-tabs li{
    width:50%
  }
  .nav-tabs li a{
    text-align:center
  }
  .nav-tabs li a i{
    display:block
  }
  .about-us .tab-content .pull-left.media-object{
    background-color:#F6F6F6;
    display:block;
    float:inherit!important;
    margin-right:0;
    width:100%
  }
  #category {
    padding: 0 0 75px;
  }
  #category:before {
    content:"";
    display:block;
    height: auto;
    width: 100%;
    margin: 20px auto;
    padding: 17px;
    background: transparent url("../img/line.png") center center no-repeat;
    background-size: 70%;
  }
  .global-nav .media {
    display: none;
  }
  #media {
    padding: 75px 0 25px;
  }
  #category,
  #media {
    background-image: none;
    background-color: brown;
  }
  #media h3{
    font-size:18px
  }
  #category:before {
    content: "";
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    background: transparent url("../img/line.png") center center no-repeat;
    background-size: 80%;
  }
  .member-right{
    left:55%
  }
  .single-member{
    margin-bottom:25px;
    height:450px
  }
  #portfolio .portfolio-filter li{
    margin-bottom:10px
  }
  .efffect h3{
    margin-top:8%
  }
  .single-blog ul li{
    margin-bottom:10px
  }
  #gmap iframe{
    height:225px
  }
  .contact-address{
    padding-left:10px;
    padding-right:10px
  }
  .pattern{
    height:960px
  }
  #footer p{
    font-size:14px
  }
  .medal {
    padding-left: 0;
    padding-top: 80px;
  }
  .medal.silver,
  .medal.bronze,
  .medal.gold {
    background-position: top center;
  }
  #pr_bnr {
    max-width:300px;
  }
}