/* シェア */
.sns {
  margin-top: 15px;
}
.sns ul {
    margin:0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
}
.sns li {
    display:inline-block;
    width:12.5%;
    min-width: 80px;
    margin:0 2% 2% 0;
}
@media screen and (max-width: 992px) {
  #sogo .sns li,
  #cate15 .sns li {
  width: 22%;
  margin: 0 2% 5% 0;
  min-width: 62px;
}
#sogo .sns li:nth-child(4n),
#cate15 .sns li:nth-child(4n) {
    margin-right:0;
}
#sogo .sns li a,
#cate15 .sns li a {
  font-size: 70%;
}
}
.sns li a {
    position:relative;
    display:block;
    padding:1em 0;
    color:#fff;
    font-size:88%;
    border-radius:3px;
    text-align:center;
    line-height: 22px;
    text-decoration: none;
    text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}
.sns li a:hover {
    -webkit-transform: translate3d(0px, 5px, 1px);
    -moz-transform: translate3d(0px, 5px, 1px);
    transform: translate3d(0px, 5px, 1px);
    box-shadow:none;
}
 
/* ツイッター */
.sns .twitter a {
    background:#00acee;
    box-shadow:0 5px 0 #0092ca;
}
.sns .twitter a:hover {
    background:#0092ca;
}
 
/* Facebook */
.sns .facebook a {
    background:#3b5998;
    box-shadow:0 5px 0 #2c4373;
}
.sns .facebook a:hover {
    background:#2c4373;
}
 
/* グーグル */
.sns .googleplus a {
    background:#db4a39;
    box-shadow:0 5px 0 #ad3a2d;
}
.sns .googleplus a:hover {
    background:#ad3a2d;
}
.sns .googleplus {
    margin-right:0;
}
/* はてぶ */
.sns .hatebu a {
    background:#5d8ac1;
    box-shadow:0 5px 0 #43638b;
}
.sns .hatebu a:hover {
    background:#43638b;
}

/* price_icon調整 */
.btn-primary:hover {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  cursor: default;
}

.btn-success:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  cursor: default; 
} 

.media-link-text {
  text-align: right;
  color: #428bca;
}
.media-link-text a {
  color: #428bca;
}
.media-link-text:before {
  content: "\f101";
  font-family: FontAwesome;
  color: #428bca;
  padding-right: 5px;
}

/* #all_awards_links */
#all_awards_links {
  background: #ffffff;
  overflow: hidden;
  padding: 55px 0 0;
}

#all_awards_links a {
  font-weight: bold;
  font-size: 28px;
  color: #FFC568;
}

.forpc {
  display: inline;
}
.forsp {
  display: none;
}

#all .title-one.award-title {
  background: url("../img/b_all.png") no-repeat center center;
  background-size: contain;
}
.padding-top50 {
  padding-top: 50px;
}
#all .table-hover>tbody>tr:hover>td,
#all .table-hover>tbody>tr:hover>th {
  background-color: rgba(255,255,255,0.3);
}
.rank-no {
  min-width: 50px;
}
#all .aw_title {
  font-weight: bold;
  margin-top: 30px;
}
#all table .btn {
  text-decoration: none;
}

.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 12px 8px;
}
#all .table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
/* please scroll */
.footer-fixed-nav {
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  opacity:0;
}
/* Button */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

}

@keyframes hvr-icon-wobble-horizontal {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
.prev,
.next {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  padding: 1em;
  cursor: pointer;
  text-decoration:none;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.prev {
  float:left;
  padding-left: 2.2em;
  background-color:#e1e1e1;
  color: #666;
}
.next {
  float:none;
  padding-right: 2.2em;
  background-color: rgba(255,255,255,0.3);
  color: #fff;
  margin: 0;
  width: 100%
}

.prev:before,
.next:before {
  position: absolute;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.prev:before {
  content: "\f060";
  left: 1em;
}
.next:before {
  content: "\f0a6";
  right: 1em;
}
.next:before {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#footer-fixed-nav {display: none;}


.com_body,
.com_label {
  margin:0;
}
.com_label{
  font-weight: bold;
  color: #1B3850;
}
.com_staff {
  margin: 30px 0 0;
}




/* スマホ向け */
@media screen and (max-width: 479px) {
.sns li {
  width: 22%;
  margin: 0 2% 5% 0;
  min-width: 62px;
}
.sns li:nth-child(4n) {
    margin-right:0;
}
.sns li a {
  font-size: 70%;
}
.forpc {
  display: none;
}
.forsp {
  display: inline;
}
#all_awards_links a {
  font-size: 22px;
}
#footer-fixed-nav {
  display: block;
}
/* スマホ向けここまで */ }