/*
 * HOTFIXES CSS
 */

/*-- MOBILE --*/
.nav-item.nav-hide,
.menu-item.nav-hide { display: none; }
.slidernav-wrap .nav-item.nav-hide { display: block; }

.utility-belt.swiper-container .promo-block { min-height: 78px; }

.utility-belt.swiper-container .promo-block .promo-image {
	position: absolute;
	top: 6px;
	left: 0;
}

.utility-belt.swiper-container .promo-block .promo-image img {
	height: 66px;
	width: 88px;
}

.utility-belt.swiper-container .promo-block .promo-heading { padding-left: 96px; }

/* stock market sponsorship - NAB - Nov 2016 */

#newscorpau_iframe-179 {
	width: 320px !important;
	margin: 0 auto !important;
}

#page #content #content-2 #newscorpau_iframe-175 .module-content,
#page #content #content-2 #newscorpau_iframe-176 .module-content,
#page #content #content-2 #newscorpau_iframe-178 .module-content {
	width: 320px !important;
	margin: 0 auto !important;
}

/*-- DESKTOP --*/

/*-- Deck --*/

/* Metro Olympics Snapshots */
#page #content .widget .olympics-snapshot .snapshot-header a 		{ color: #004563; }
#page #content .widget .olympics-snapshot .snapshot-header a:hover 	{ color: #277f9c; }

@media (min-width: 980px) {
	#page #content .widget .olympics-snapshot .snapshot-contents .content .image-block .image-link {
		height: 98px;
		width: 130px;
	}

	#page #content .widget .olympics-snapshot .snapshot-contents .content .image-block h4 {
		left: 140px;
	}
}

/* Lead Splash Defcon */
#content .lead-splash-live-updates .story-block { padding-top: 25px; }
#content .lead-splash-live-updates .story-block .image-link,
#content .lead-splash-live-updates .story-block .thumb-link { margin: 0 0 .5em; }
#content .lead-splash-live-updates .story-block .kicker {
	position: absolute;
	top: 0;
}

/* Defcon bylines */
#content .defcon-live-coverage .ipos-2 .timestamp:not(.hidden) + .byline,
#content .defcon-live-coverage .ipos-3 .timestamp:not(.hidden) + .byline {
	display: inline;
	margin-left: 0;
}

/* Defcon rotator images */
/*#content .defcon-live-coverage .lead-splash-defcon .live-updates-images { display: none; }*/

#content .defcon-live-coverage .lead-splash-defcon .live-updates-video .live-updates-video-caption {
	text-indent: -9999em;
	overflow: hidden;
}

#content .defcon-live-coverage .lead-splash-defcon .live-updates-video .live-updates-video-caption:before {
	float: right;
	position: relative;
	left: 10px;
	content: 'WATCH: Latest News';
	text-indent: 0;
}

/* Network bar */
.fixed-navigation #network-bar { z-index: 12000; }

/* Superskin */
@media (min-width: 980px) {
	body.business-business-spectator #content #section-header h1 { overflow: hidden; }
}

/* Vertical groups, promo rotators display nav/direction even if content is only a single item? */
#newscorpau_promo_collection-30 .flex-direction-nav,
#newscorpau_promo_collection-43 .flex-direction-nav { display: none; }

/* Summer Living mega menu */
@media (min-width: 980px) {
	#nav .mega-menu-item-summer-living > a:before {
		display: inline-block;
		position: absolute;
		left: 0;
		margin: 6px 0;
		background: url(summer-living/img/nav-logo.png) no-repeat;
		content: '';
		height: 17px;
		width: 95px;
	}
}

/* Admin bar and ads overlay z-index issues PENDING DEPLOY  */
#wpadminbar { z-index: 100000 !important; }

/* SPPAUS-330: IE11 menu issue */
#nav > ul > li.megamenu.col-5 > ul > li { vertical-align: top; }

#content-2 .widget_newscorpau_multi_collection .timestamp { display: inline; }

/* Email request 23/12/2015 Remove BSpec logo from tabbed content */
.tabbed .tab-content-business .module-content .related:before { display: none !important; }

/* Australian of the Year */
body[class*="australian-of-the-year"] #content #section-header h1 {
	padding-top: 16px;
	background: transparent url('http://resources.newscdn.com.au/cs/austemp/article_common/latest/assets/img/logo-vertical.svg') 0 0/auto 15px no-repeat;
}

/* Tablet  page - anchor issue on desktop */
.wrap-download a {
	display: block !important;
	height: 46px;
}

/* API - awaiting core team fix on li sematics - JDZ 4/3/2016 */
.widget_newscorpau_external_includes_external_includes > li {
	list-style: none;
}

/* joblisting header image quick fix  -JDZ 9/3/2016  PENDING DEPLOY */
#job-listing .module-header {
	height: 55px;
	background: url(http://media.theaustralian.com.au/fe/hotfixes/spp-theaus/joblisting/job-listing-header.png) center center no-repeat!important;
}

/* new video promo widget hotfix */
#content-2 .sales-01-video-igs190.item-count-1 .item {
	width: 100% !important;
}

/* budget-2016 superskin tweaks */

body.budget-2016 #super-skin-content-wrapper {
	position: relative;
	top: -87px;
	background: transparent!important;
}

body.budget-2016 #content #content-1:before {
	background: none;
}

/* sales expander hot fixes - jdz PENDING DEPLOY */
div[class*="sales-brand-expander"] .story-block .heading a {
	font: 700 19px/21px "Times New Roman",sans-serif;
}

div[class*="sales-brand-expander"] .promo-module.story .promo-block {
	border-bottom: none;
	margin: 0 0 8px 0;
	padding: 0;
}

div[class*="sales-brand-expander"] .promo-module.story .promo-text {
	margin: 3px 0px 10px;
}

div[class*="sales-brand-expander"] .promo-module.story .promo-text a {
	font-size: 15px;
}

/* promo video hotfix - non-scm and player issues */
body.in-depth-bowraville .widget_newscorpau_video_promo .sales-type,
body.in-depth-bowraville .widget_newscorpau_video_promo .group-header,
body.in-depth-bowraville .widget_newscorpau_video_promo .scm-logo,
body.in-depth-bowraville .widget_newscorpau_video_promo .vms-thumbnail {
	display: none;
}

body.in-depth-bowraville #page [class*="sales-01"] {
	display: block;
}

body.in-depth-bowraville #page .vms-playlist.vms.vms-ready {
	width: 100% !important;
}

/* hotfix promo - Opinion page - footer weird width: 10pc ? */
@media (min-width: 980px){
	.story.promo-id-35669.promo-block.story-block .content {
		float: right;
		width: 100% !important;
	}
}

.sales-01-video-123 .group-header,
.sales-01-video-123 .sales-type {
	display: none !important;
}

.hide-flex-nav ul.flex-direction-nav {
	display: none !important;
}

.opinion-rotator-fresh .timestamp.redstamp {
	display: none !important;
}

/* JS error with yourschools stopping jquery from doing the required .data fetch. a .attr appears to work.. hiding for now */
body.national-affairs-in-depth-schools .subscribe-popover.popover-on {
	display: none;
}

/* yourschools DISCLAIMER  */

#topschools { position: relative;}
#topschools .disclaimer {
	width: 300px;
	position: absolute!important;
	right: 0;
	top: 333px!important;
	background: #f8f7f6;
	padding: 20px;
	font-size: 18px;
	font-family: "Times New Roman";
	color: #333;
	clear: none!important;
	float: right;
}

#topschools .disclaimer h3 {
	color: #84826d ;
	font-size: 24px;
	font-family: "Times New Roman";
	margin: 0;
	font-weight: normal;
}

/* US Election winner */

span.count.label2.list-winner:before,
.list-winner span.list-bar .list-bar-inner:before {
	display: inline-block;
	margin-left: 5px;
	padding-left: 12px;
	color: #fff;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAJdJREFUGBl9zL0NgkAUwPE7TahYgAGwocKQQGWojYnDsAU1YQYnoGcKWx1ALIwmGvX8P75yFPiS3937ulPqTxhjfBTLuR2GIbMa93aHxgru8IB8jQsaBIpjhy8yWeKOIMMb4uGXkkLigARXPJC2C3JQ5JD44IUntuMCyQLnviH5G3utddX3uotXHo44YTMZ2gVDDcfu2fkPQ5eACUE+800AAAAASUVORK5CYII=) 0 50% no-repeat;
	content: 'Winner';
	font-size: 12px;
	font-weight: bold;
}


/* Fox Sport Cricket Widget hotfixes */
.fscsw.fscsw-theme-blue .fscsw-module-header {
	display:none!important;
}

.fscsw .fscsw-module-border {
	border-width: 1px 0!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-match-centre-link-container {
	background: #fff!important;

}

.fscsw-matchscoreboardcricket-module .fscsw-match-centre-link, .fscsw-matchscoreboardcricket-module .fscsw-match-centre-link:hover {
	font-size: 12px!important;
	font-family: Arial , sans-serif!important;
	color: #277f9c!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-layout-wide .fscsw-state--post .fscsw-match {
	color: #000!important;
	text-transform: none!important;
	font-family: "Times New Roman", sans-serif!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-layout-wide .fscsw-match-details {
	color: #7b7b7b!important;
	padding-top: 6px!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-layout-wide {
	font-family: Arial , sans-serif!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-layout-wide .fscsw-team .fscsw-team-innings .fscsw-team-innings-prior {
	color: #000!important;
	margin-top: 0px!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-layout-narrow .fscsw-matchnumber-code,
.fscsw-matchscoreboardcricket-module .fscsw-layout-narrow .fscsw-venue {
	font-size: 18px!important;
}

.fscsw-matchscoreboardcricket-module .fscsw-layout-narrow .fscsw-match-date {
	font-size: 14px!important;
}

/* http://www.theaustralian.com.au/life/weekend-australian-magazine - to be added to spp widget */

@media (min-width: 320px ) and (max-device-width: 736px) {
	.category.life-weekend-australian-magazine #content #content-2 #section-header {
		padding-bottom: 60%;
	}
}

/* NAB 9th Dec finish */

#newscorpau_video_promo-65 .vms-thumbnail,
#newscorpau_video_promo-64 .vms-thumbnail {
	display: none !important;
}

#newscorpau_video_promo-65 .vms-playlist,
#newscorpau_video_promo-64 .vms-playlist {
	border-bottom: none;
}

#newscorpau_video_promo-65,
#newscorpau_video_promo-64 {
	display: none !important;
}

.business-businessnow #newscorpau_video_promo-65,
.business-business-spectator #newscorpau_video_promo-65,
.business-margin-call #newscorpau_video_promo-65,
.business-businessnow #newscorpau_video_promo-64,
.business-business-spectator #newscorpau_video_promo-64,
.business-margin-call #newscorpau_video_promo-64 {
	display: block !important;
}