body{font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}
a:hover{color:#028cd7;}
ul, ol {list-style:none;}
a img {border:none;}
.minwd{min-width: 1024px;}
/** 固定中间内容宽度为1000px **/
.wd1000{
    height: auto;
    width: 1000px;
    margin: 0 auto;
}
.underline{border-bottom: 3px solid #028CD7;}
/** 头部固定 **/
.navbar {
    border-bottom: 0;
    letter-spacing: 1px;
    background: #fff;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}
.navbar-custom{
    box-shadow: 0 1px 8px #0C191B;
    padding: 0;
}
#banner-img{margin-top: -6px;}
/** logo定位 **/
.navbar-brand{
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    margin-top: -5px;
    padding: 0;
}    

/**头部菜单导航条**/
#nav-menu {
    width: 792px;
    margin: 0 auto 0 30px;
    float: left;
    height: 50px;
    line-height: 50px;
}
#nav-menu ul{margin: 0;padding: 0}
.main_nav {
    width:100%;
    height: 50px;
}
.main_nav ul li {
    float:left;
    width: 120px;
    height:50px;
    line-height: 50px;
    position:relative;
    display: block;
}

.main_nav ul li a {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #3A3838;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: "微软雅黑";
}

.main_nav ul li dl {
    position:absolute;
    left:0;
    top:50px;
    width: 120px;
    display:none;
    z-index: 99999;
    background: #1791D2;
    opacity: .9;    
}
.main_nav ul li dl dd {
    height:34px;
    line-height: 34px;
}
.main_nav ul li dl dd a {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fefefe;
    font-size: 12px;
}
.main_nav ul li a:hover{color: #028CD7;}
.main_nav ul li dl dd a:hover{background:#C7ECFF;color:#028cd7;}
.main_nav ul li dl dd a img:hover{opacity: 0.4}
.click {margin-top:200px;}

/** footer css **/
#footer {background:#262A2D; font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}
#footer a {color:#CFD5D4;}
.footer-row{
    width: 100%;
    height: auto;
    padding: 44px 0 28px 0;
}      
.footer-col{
    float: left;
    width: 15%;
    height: auto;
}
#footer ul{
    padding-left: 10px;
}
#footer ul li{
    line-height: 26px;
}
#footer ul li a{
    font-size: 12px;
}
#footer ul li a span:hover,
#footer ul li a:hover{
    text-decoration: none;
    color: #028CD7;
}
#footer ul li a span{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.copyright{
    height: 35px;
    line-height: 35px;
    width: 100%;
    background: black;
    border-top: 1px solid rgb(29, 25, 25);
    color: #bfbfbf;
    text-align: center;
    font-size: 12px;
}