/** banner css **/
.cloud{ position:  absolute; z-index: 1; left: 0px; top: 0px; width: 100%;height: 100%; background: url(../image/cloud.png) repeat-x 0 0;}
img{ border:0;}
#vivo-contain .social-event{width:100%; margin-top: 20px; border-top:1px #e7e7e7 solid; border-top:1px rgba(0,0,0,.05) solid; _background:#fff;}
#vivo-contain .focus-event{z-index:99; width:100%; height: 770px; position:relative; margin:auto; margin-top: -500px; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
#vivo-contain .focus-gallery{width:100%; height:100%; position:relative; margin-top:-1px; z-index:1; overflow: hidden;}
#vivo-contain .key-event{width:1104px; height:240px; margin:auto; position:relative;}
@media(max-width:1024px){
    .focus-gallery ul{display:block; position:relative; z-index:1; height:700px;}    
}
@media (max-width:1920px){
    .focus-gallery ul{display:block; position:relative; z-index:1; height:980px;}
}
@media(max-width:1680px){
    .focus-gallery ul{display:block; position:relative; z-index:1; height:964px;}
}
@media(max-width:1366px){
    .focus-gallery ul{display:block; position:relative; z-index:1; height:769px;} 
    
}
@media(max-width:1280px) and (max-height:1024px) {
    .focus-gallery ul{display:block; position:relative; z-index:1; height:942px;}
}
@media(max-width:1280px) and (max-height:800px) {
    .focus-gallery ul{display:block; position:relative; z-index:1; height:718px;}
}
@media(max-width:1024px) and (max-height:768px) {
    .focus-gallery ul{display:block; position:relative; z-index:1; height:769px;}
}
.focus-gallery ul li{display:none; width:100%; height:100%; position:absolute; top:0; left:0; z-index:1;}
.focus-gallery ul li a{display:block;}
.focus-gallery ul li .high-box{width:1005px; height:700px; position:relative; margin:auto;}

/** banner 中的轮播点 **/
.switch-high{width:100%; height:18px; line-height:18px; text-align:center; position:absolute; z-index:99; bottom: 100px;}
.switch-high a{width:18px; height:18px; display:inline-block; margin:0 1px; position:relative;cursor: pointer;}
.switch-high a b{width:8px; height:8px; overflow:hidden; display:inline-block; position:absolute; top:50%; left:50%; margin:-4px 0 0 -4px; background:rgba(0,0,0,.2); -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; border-radius:50%; -webkit-transition:all .2s ease-in-out; -moz-transition:all .2s ease-in-out; -ms-transition:all .2s ease-in-out; transition:all .2s ease-in-out; -webkit-transform:translate3d(0,0,0); -moz-transform:translate3d(0,0,0); -ms-transform:translate3d(0,0,0); transform:translate3d(0,0,0);background: #fff}
.focus-gallery .switch-high a:hover b,.focus-gallery .switch-high a.current b{background:#028CD7; -webkit-transform:scale(1.5); -moz-transform:scale(1.5); -ms-transform:scale(1.5); transform:scale(1.5);}    


/** banner css **/
@media screen and (min-width: 1680px) and (max-width: 1920px){
    .bgpx{
        height: auto;
        color: #BEC0BB;
        position: absolute;
        top: 42%;
        z-index: 1000;
        left: 35%;
        width: 30%;
        min-width: 571px;
        text-align: center;
    }
}   
@media screen and (min-width: 1366px) and (max-width: 1680px){
    .bgpx{
        height: auto;
        color: #BEC0BB;
        position: absolute;
        top: 42%;
        z-index: 1000;
        left: 32.5%;
        width: 30%;
        min-width: 571px;
        text-align: center;
    }
}    
@media screen and (max-width: 1366px) and (min-width: 1280px){
    .bgpx{
        height: auto;
        color: #BEC0BB;
        position: absolute;
        top: 42%;
        z-index: 1000;
        left: 29%;
        width: 42%;
        min-width: 571px;
        text-align: center;
    }
}
@media screen and (max-width: 1280px){
    .bgpx{
        height: auto;
        color: #BEC0BB;
        position: absolute;
        top: 42%;
        z-index: 1000;
        left: 27%;
        width: 42%;
        min-width: 571px;
        text-align: center;
    }
}
@media screen and (max-width: 1200px) {
    .bgpx{
        height: auto;
        color: #BEC0BB;
        position: absolute;
        top: 42%;
        z-index: 1000;
        left: 22%;
        width: 56%;
        min-width: 571px;
        text-align: center;
    }
}


/** our service  **/
.us-service{
    width: 100%;
    height: 30px;
    margin: 0 auto;
    font-family: "Microsoft Yahei";
}

.service-col{
    float: left;
    width: 40%;
    border: 1px solid #C4C4C4;
    margin-top: 10px;
}
.service-col2{
    float: left;
    color: #C4C4C4;
    font-size: 14px;
    width: 20%;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}
.px-soft{
    width: 100%;
    height: auto;
    min-width: 1000px;
}

.px-col.m8{
    margin: 0;
}
.px-col12{
    width: 328px;
    height: 110px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    padding-top: 35px;
}
.px-col12.soft{
    background: url(../image/sifangruanjian-txt.png) center no-repeat;
}
.px-col12.elec{
    background: url(../image/sifangdianshang-txt.png) center no-repeat;
}
.px-col12.sf{
    background: url(../image/sifangwuliu-txt.png) center no-repeat;
}
.heading{
    margin-bottom: 4px;
}
.heading2-text{
    color: #C4C4C4;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}
/** update **/
.px-col{
    float: left;
    width: 328px;
    margin-right: 8px;
    height: 507px;
    cursor: pointer;
    text-align: center;
}
.px-col.soft{
    background: url(../image/ruanjian.png) no-repeat;
    position: relative;
}
.px-col.elec{
    background: url(../image/dianshang.png) no-repeat;
    position: relative;
}
.px-col.sf{
    background: url(../image/wuliu.png) no-repeat;
    position: relative;
    margin-right: 0;
}
.px-title1{color: #fff;font-size: 20px;font-weight: 500;}
.px-title2, .px-col h6{
    color: #fff;
    font-size: 14px;
    padding: 5px 64px;
    line-height: 29px;
    text-align: left;
}
.px-b0{top: 400px;
}

.soft-hide {
    background: url(../image/ruanjian-xg.png) no-repeat;
    width: 328px;
    height: 409px;
    position: absolute;
    top: 0;
    left: 0;
   padding-top: 80px;
    display: none;
}
.elec-hide {
    background: url(../image/dianshang-xg.png);
    width: 328px;
    height: 409px;
    position: absolute;
    top: 0;
    left: 0px;
    padding-top: 80px;
    display: none;
}
.sf-hide {
    background: url(../image/wuliu-xg.png);
    width: 328px;
    height: 409px;
    position: absolute;
    top: 0;
    right: 0px;
    padding-top: 80px;
   display: none;
}
.px-col a{color: #fff;}
.px-col a:hover{color: #fff;}
.px-col h5{
    font-size: 16px;
    margin-top: 40px;
}

/** 三大板块颜色 **/
.px-title1.softblue{color: #2891CA;font-weight: bold}
.px-title1.elecgreen{color: #40B074;font-weight: bold}
.px-title1.sfora{color: #CD874D;font-weight: bold}


/** partner **/
.main-parter{
    width: 100%;
    height: auto;
    background: #EDEDED;
    margin-top: 60px;
    padding: 60px 0;
}    
.picScroll-left {
    width: 1000px;
    margin: 0 auto;
    height: 80px;
}
.prev{
    float: left;
    width: 23px;
    height: 80px;
    cursor: pointer;
    background: url(../image/btn-l.jpg) center no-repeat;
}
.next {
    float: right;
    width: 23px;
    height: 80px;
    cursor: pointer;
    background: url(../image/btn-r.jpg) center no-repeat;
}
.bd{
    width: 90%;
    height: 55px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin: 10px 0 0 40px;
}
.picScroll-left .bd ul {
    overflow: hidden;
    zoom: 1;
}
.picScroll-left .bd ul li {
    margin-right: 5.5px;
    float: left;
    _display: inline;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.picScroll-left .bd ul li .pic {
    text-align: center;
}
.picScroll-left .bd ul li .pic img {
    width: 120px;
    height: 55px;
    display: block;
}
.picScroll-left .bd ul li .pic a:hover img {
    border-color: #999;
}
.picScroll-left .bd ul li .title {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
