/*
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
*/



html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font-size: 100%;
}
a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

table {
	border-collapse: collapse; 
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
} 

input, select, button, textarea {
	margin: 0;
	font-size: 100%;
	outline: none;
}

textarea{
	resize: none;
}

input[type="text"], input[type="password"], textarea {
	padding: 0;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

html {
	overflow-y: scroll; 
}

body {
	line-height: 1;
	background: #fff;
	color: #636363;
	text-align: left;
	font: 12px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	min-width: 1000px;
}

input, select, button, textarea {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

a, a:visited {
	color: #005AC3;
	text-decoration: none;
}

a:hover {
	color: #ff0000;
	text-decoration: underline;
}

a:focus, a:active {
	color: #005AC3;
	text-decoration: underline;
}


.baner{
position:absolute;
padding-top:10px;
padding-left:400px;
}

.clear{
	clear:both;
	font-size:0;
	padding:0
}

.nuclear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}

.nuclear{
	zoom: 1;
	display: block;
}

li{
	list-style: none;
}

input[type="submit"]::-moz-focus-inner{padding:0;border:0}

.page {
width: 1000px;
margin: 3px auto 0;
background: #fff;
position: relative;
}


.header{
	padding: 0 0 2px 0;
}

.header .hed-top{
	background: url(../images/top-bg3.jpg) center top no-repeat;
	position: relative;
	height: 120px;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 10px 10px 10px 10px;
	margin: 0 0 2px 0;
}

.header .hed-top .logo{
    background: url(../images/logo.png) center top no-repeat;
	position: absolute;
	text-indent: -9999px;
	width: 310px;
	height: 59px;
	left: 20px;
	bottom: 0;
}


.hed-top .rht-hed{
	float: right;
	padding: 27px 23px 0 0;
	width: 243px;
}

.hed-top .rht-hed .log-in{
	float: right;
	background: url(../images/ico.gif) left 2px no-repeat;
	padding: 0 0 0 8px;
}

.hed-top .rht-hed .log-in a{
	display: block;
	float: left;
	margin: 0 0 0 13px;
	color: #fff;
	text-decoration: underline;
	font-size: 11px;
}

.hed-top .rht-hed .log-in a:hover{
	text-decoration: none;
}

.hed-top .rht-hed .log-in a.enter{
	color: #A5A6AB;
}

.rht-hed .naw{
	clear: both;
	padding: 41px 0 0 0;
}

.rht-hed .naw .search{
	float: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 144px;
	height: 18px;
	padding: 5px 8px 0 12px;
	background: #fff;
}

.rht-hed .naw .search .inp{
	float: left;
	background: none;
	border: none;
	font-size: 12px;
	color: #808080;
	height: 13px;
	line-height: 13px;
	width: 125px;
}

.rht-hed .naw .search .mag{
	float: right;
	border: none;
	background: url(../images/mag.gif) left top no-repeat;
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.socially{
	float: right;
	margin: 6px 0 0 0;
}

.socially li{
	display: block;
	float: left;
	margin: 0 0 0 5px;
}

.socially li a{
	display: block;
	float: left;
}

.hed-mnu{
	padding: 0 15px;
	background: url(../images/hm.jpg) left top repeat-x;
	position: relative;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.hed-mnu li{
	display: block;
	float: left;
}

.hed-mnu li a{
	display: block;
	float: left;
	height: 37px;
	line-height: 37px;
	padding: 0 15px;
	text-decoration: underline;
	color: #fff;
	font-size: 12px;
}

.hed-mnu li a:hover,
.hed-mnu li.active a,
.hed-mnu li a.opened
{
	text-decoration: none;
	background: url(../images/hm-h.jpg) left top repeat-x;
}

.hed-mnu li ul li a{
	background: none;	
}

.hed-mnu li ul li a:hover{
	background: none;	
}

.hed-mnu li ul{
	position: absolute;
	left: 25px;
	right: 25px;
	top: 39px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: center;
	display: none;
	background: url(../images/hm-in.jpg) left top repeat-x;
}

.hed-mnu li ul.opened{
	display: block;
}

.hed-mnu li ul li{
	display: inline-block;
	float: none;
	//display: inline;
	margin: 0 15px;
}

.hed-mnu li ul li a,
.hed-mnu li.active ul li a{
	display: inline-block;
	float: none;
	//display: inline;
	height: 31px;
	line-height: 31px;
	padding: 0;
	text-decoration: none;
	background: none;
}

.hed-mnu li ul li a:hover{
	text-decoration: underline;
}

.cnt-wrp{
	padding: 0 0 60px 0;
}

.drop-holder{
	margin: 0 0 20px 0;
	border: 4px solid #929292;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 16px 13px 20px 13px;
}

.drop-holder .events span{
	display: block;
	float: left;
	margin: 0 17px 0 0;
	font-size: 13px;
	color: #696969;
}

.drop-holder .events .arr{
	display: block;
	float: left;
}

.drop-holder .events-table{
	padding: 15px 0 0 0;
 
}

.drop-holder .events-table table{
	width: 100%;
}

.drop-holder .events-table table td{
	border-bottom: 1px solid #E7E7E7;
	width: 20%;
	padding: 15px 0 7px 0;
	font-size: 12px;
}

.drop-holder .events-table table td .data{
	display: block;
	float: left;
	margin: 0 9px 0 0;
	background: url(../images/data.jpg) right 5px no-repeat;
	padding: 0 8px 9px 0;
	color: #818181;	
}

.drop-holder .events-table table td a{
	display: block;
	float: left;
	color: #005AC3;
}

.content{
	float: left;
	width: 750px;
}

.left-cnt{
	float: left;
	width: 548px;
}

.content .video{
	margin: 0 0 0px 0;
}

.articles{
	padding: 15px 15px 60px 15px;
	border: 3px solid #E3E3E3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
  
}
       

.headline{
	padding: 0 0 10px 0;
	line-height: 23px;
}

.headline .txt{
	float: left;
	font-size: 13px;
	color: #696969;
	display: block;
	margin: 0 15px 0 0;
}

.headline .more{
	display: block;
	float: left;
	height: 21px;
	line-height: 21px;
	font-size: 11px;
	text-decoration: none !important;
	color: #fff;
	background: url(../images/more.jpg) left top repeat-x;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
	padding: 0 6px;
	border: 1px solid #2C1915;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.headline .more:hover{
	background-position: left bottom;
}

.articles .item{
	padding: 20px 0;
	border-bottom: 1px solid #E2E2E2;
}

.articles .item img{
	float: left;
	margin: 4px 25px 0 0;
}

.articles .item span{
	display: block;
}

.articles .item .hd{
	margin: 0 0 7px 0;
	line-height: 15px;
}

.articles .item .letter{
	line-height: 14px;
	font-size: 12px;
	color: #636363;
}

.right-cnt{
	float: right;
	width: 195px;
}

.news{
	background: #F5F6F8;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.news .headline{
	padding: 6px 8px 10px 12px;
	background: #fff;
	border-top: 5px solid #ECEDF1;
	border-left: 5px solid #ECEDF1;
	border-right: 5px solid #ECEDF1;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.news .headline .rss{
	display: block;
	float: right;
	margin: 5px 0 0 0;
}

.news .item{
	padding: 10px 8px 9px;
	border-bottom: 4px solid #ECEDF1;
	background: transparent;
}

.news .item-last{
	border-bottom: none;
}

.news .item .top{
	padding: 0 0 9px 0;
	line-height: 20px;
}

.news .item .top .data{
	display: block;
	float: left;
	background: #fff;
	padding: 0 8px;
	height: 20px;
	color: #000;
	margin: 0 10px 0 0;
}

.news .item .top .category{
	display: block;
	float: left;
	padding: 0 0 0 9px;
	background: url(../images/arr-c.gif) left 7px no-repeat;
}

.news .item .top .category a{
	text-decoration: none;
	font-size: 12px;
}

.news .item .top .category a:hover{
	text-decoration: underline;
}

.news .item .letter{
	display: inline-block;
	text-decoration: none;
	line-height: 14px;
	color: #555557;
	font-size: 12px;
}

.news .item .letter:hover{
	text-decoration: underline;
}

.sidebar{
	float: right;
	width: 240px;
}

.sidebar .banner{
	display: block;
	margin: 0 0 25px 0;
}

.sidebar .vk{
	padding: 0 0 6px 0;
	border-bottom: 1px solid #CCCCCC;
	margin: 0 0 25px 0;
}

.sidebar .advert{
	margin: 0 0 20px 0;
}

.sidebar .sd-news{
	padding: 0 0 15px 0;
}

.sidebar .sd-news .data{
	padding: 0 0 10px 0;
	color: #fff;
}

.sidebar .sd-news .data span{
	display: block;
	float: left;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 0 7px;
	background: url(../images/data-s.jpg) left top repeat-x;
}

.news-mnu{
	padding: 0 0 15px 0;
}

.news-mnu li{
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #E5E5E5;
	font-size: 11px;
}

.news-mnu li .hour{
	display: block;
	float: left;
	color: #5D5D5D;
}

.news-mnu li .rht{
	display: block;
	margin: 0 0 0 39px;
	line-height: 13px;
}

.news-mnu li .rht a{
	color: #000;
	text-decoration: none;
	font-size: 11px;
}

.news-mnu li .rht a:hover{
	text-decoration: underline;
}

.news-mnu li .rht a i{
	font-style: normal;
	color: #72707D;
}

.footer{
	background: url(../images/f-bg.jpg) left top repeat-x #272727;
	padding: 35px 0 30px 0;
}

.footer .page{
	background: url(../images/f-bg-in.jpg) center bottom no-repeat;
}

.footer .f-top{
	padding: 0 0 35px 0;
}

.footer .f-top .item{
	float: left;
}

.footer .f-top .item-1{
	width: 120px;
	margin: 0 90px 0 0;
}

.footer .f-top .item-2{
	width: 100px;
	margin: 0 25px 0 0;
}

.footer .f-top .item-3{
	width: 160px;
	margin: 0 25px 0 0;
}

.footer .f-top .item-4{
	width: 150px;
	margin: 0 28px 0 0;
}

.footer .f-top .item-5{
	width: 160px;
}

.footer .f-top .item-6{
	width: 90px;
	float: right;
}

.footer .f-top .item-1 .f-logo{
	display: inline-block;
	margin: 0 0 15px 0;
}

.footer a{
	color: #CBCBCB;
}

.footer .copy{
	display: block;
	font-size: 11px;
	color: #CBCBCB;
}

.footer .hd{
	display: block;
	color: #fff;
	font-size: 13px;
	padding: 0 0 15px 0;
	font-weight: bold;
}

.footer .f-mnu{
	padding: 0 0 0 0px;
}

.footer .f-mnu li{
	display: block;
	padding: 0 0 6px 0;
}

.footer .f-mnu li a{
	text-decoration: none;
}

.footer .f-mnu li a:hover{
	text-decoration: underline;
}

.footer .f-top .item-6 .counter{
	display: block;
	margin: 0 0 12px 0;
}

.footer .f-btm{
	border-top: 1px solid #A9A9A9;
	padding: 16px 0 0 0;
	line-height: 20px;
	color: #818181;
	font-size: 12px;
}

.pager{
	padding: 23px 0 0 0;
	text-align: center;
	font-size: 11px;
	font-family: Arial;
	color: #8D8D8D;
}

.txt  {
	display: inline-block;
line-height: 17px;
height: 17px;
margin: 0 7px 0 0;
}

.pager a{
	display: inline-block;
	line-height: 17px;
	height: 17px;
	color: #fff;
	text-decoration: none !important;
	background: #7A8599;
	padding: 0 4px;
	margin: 0 1px;
	-webkit-transition: all 0.3s ease-in-out; 
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
	//display: inline;
}

.pager a:hover{
	background: #B7BBC7;
}

.pager span {
display: inline-block;
line-height: 17px;
height: 17px;
color: #fff;
text-decoration: none !important;
	background: #8EB275;
	padding: 0 4px;
margin: 0 1px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.pager .disabled{
	color: #fff;
	text-decoration: none !important;
	background: #B7BBC7;
	margin: 0 1px;
	padding: 0 4px;
}

h1{
	font-size: 18px;
	font-weight: normal;
	padding: 0 0 7px 0;
	color: #000;
	text-transform: none;
}

.article-main{
	padding: 0 0 40px 0;
}

.article-main .top{
	padding: 0 0 9px 0;
	color: #000;
	font-size: 12px;
}

.article-main .top a{
	text-decoration: none;
}

.article-main .top a:hover{
	text-decoration: underline;
}

.article-main .img-wrp{
	padding: 0 0 15px 0;
	
	font-size: 14px;
	line-height: 17px;
	padding: 0 0 20px 0;
	color: #000;
}

.content p{
	font-size: 14px;
	line-height: 17px;
	padding: 0 0 20px 0;
	color: #000;
}

.socially-block{
	margin: 0 0 20px 0;
}

/*******/

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
 
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
height: auto; width: 300px;
  padding:10px;
  
}

.label {padding:0px 0 15px 0;}
.f_input {width:300px;height:20px;}





.logform li.lfield { margin-bottom: 10px; }
.logform li.lbtn { text-align: center; }
	.logform li.lfield input { width: 265px;height:20px; }
		.logform li.lfchek input { width: 13px; border: none; background: none; }
		.logform li.lfchek label { display: inline; margin-bottom: 0.2em; }
.s11 {padding-bottom:5px;}


.lcol {float:left;}
.rcol {margin-left:110px;}
.rcol a {text-decoration:none;color:#000;}
.rcol li {padding-bottom:2px}
.userinfo {margin-top:5px;}

.rr22 a {color:#000;}

.flotl {float:left;}






#hmenu {
 background:url(/images/hmbg4.png) repeat-x left top;
 width:100%;
 height:38px;
}
.hmrb {
 background:url(/images/hmrb4.png) no-repeat right top;
 width:100%;
 height:38px;
}
.hmlb {
 background:url(/images/hmlb4.png) no-repeat left top;
 width:100%;
 height:38px;
}
#ulm {
 width:770px;
 height:30px;
 padding:4px 0;
 margin:0 auto;
 list-style-type:none;
}
#ulm li {
 background:url(/images/hmline1.png) no-repeat right top;
 width:auto;
 height:20px;
 float:left;
 padding:5px 20px;
 color:#fff;
 cursor:pointer;
 text-decoration:none;
}
#ulm li:hover {
 text-decoration:underline;
}
#ulm li.last {
 background:none;
}
#hbmenu {
 background:#41403e;
 width:975px;
 height:28px;
 margin:0 auto;
}
#hbmenu ul {
 height:16px;
 padding:6px 0 0 0;
 margin:0 auto;
 list-style-type:none;
}
#hbmenu ul li {
 height:16px;
 padding:0 15px;
 float:left;
}
#hbmenu ul li a {
 color:#fff;
 text-decoration:none;
}
#hbmenu ul li a:hover {
 text-decoration:underline;
}
#hbul1 {
 width:500px;
}
#hbul2 {
 width:930px;
}
#hbul3 {
 width:700px;
}
#hbul4 {
 width:340px;
}
#hbul5 {
 width:750px;
}
#hbul6 {
 width:900px;
}
#hbul7 {
 width:350px;
}
#hbul8 {
 width:820px;
}









/* Game-list
-----------------------------------------------------------------------------*/
#game-list {
 background:#41403e;
 width:975px;
 margin:0 auto 15px auto;
}
.gamelbg {
 background:url(/images/gamelbg.png) no-repeat left bottom;
 width:100%;
 height:100%;
}
.gamerbg {
 background:url(/images/gamerbg.png) no-repeat right bottom;
 width:100%;
 height:100%;
}
#game-tabl {
 width:100%;
 height:100%;
 color:#fff;
}
.game-in {
 width:923px;
 height:auto;
 padding:5px;
}
#hish {
 width:100%;
 height:20px;
 color:#fff;
 text-decoration:none;
 cursor:pointer;
}
#hish:hover span {
 text-decoration:underline;
}
#hish span {
 height:12px;
 margin:0;
 position:relative;
 top:0;
 left:15px; 
}

.vidonlink {
display:inline-block;
text-align:center;
color: #fff;
padding:5px;
background:#41403e;
font-size:12px;
margin:1px;
    }
.vidonlink:hover {
color: #fff;
cursor:pointer;
            }
.tshold {
text-align:center;
    }

    .le {
padding-left: 530px;
 }
 
      
 .ima {
float:left;

        width:150px;
        height:100px;
     margin: 7px 7px 7px 0; 
         }
.full img{
width: 300px;
height: 180px;
margin: 7px 7px 7px 0;
 border: 7px solid rgb(255, 255, 255);
 -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; 
 -moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
 -o-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
  -ms-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
 box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
								
}


.socialb1 {padding:3px 7px 0px 7px;}
.socialb1 .pit {float:left; width:37px; height:20px;}
.socialb{
	padding: 5px 5px 5px 5px;
	border: 3px solid #E3E3E3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
  
}
.block_d{
	padding: 5px 5px 5px 5px;
	border: 3px solid #E3E3E3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
  
}        

.newsrelat {font-size: 14px;color: #000;}

.newsPopImages {
    float: left;
    width: 100px;
    height: 56px;
    background-image: url(../images/rightImage.png);
    background-repeat: no-repeat;
    margin: 1px 5px 5px 1px;  
}
.newsPopImages img {
    width: 90px;
    height: 54px;
    padding: 2px 0 0 7px;
}   
