﻿BODY {
	MARGIN: 0px 0px 0px 0px;
}
BODY, P, TABLE {
	FONT-SIZE: 13px;
	COLOR: #000;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
H1 {
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold;
	DISPLAY: inline;
}
H1, H2 {
	FONT-WEIGHT: bold;
	DISPLAY: inline;
}
H2 {
	FONT-SIZE: 13px;
}
H3 {
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	DISPLAY: inline;
}
A:link { COLOR:#009 }
A:hover { COLOR:#390 }
A:visited { COLOR:#777 }


#PageTop {
	BACKGROUND-COLOR: #f60;
	HEIGHT: 7px;
}
#PageTitle {
	WIDTH: 851px;
	HEIGHT: 60px;
	FONT-SIZE: 30px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	COLOR: #f60;
	MARGIN: 3px 0px 6px 26px;
}
.PageTitleExt {
	FONT-SIZE: 18px;
	COLOR: #007;
}
#Breadcrumb {
	TEXT-TRANSFORM: uppercase;
	FONT-SIZE: 10px;
	COLOR: #000;
	POSITION: absolute;
	LEFT: 158px;
	TOP: 25px;
}
#Breadcrumb A {
	COLOR: #009;
}
#JdN_EmpMenu {
	BACKGROUND-IMAGE: url("http://www.Jobs.net/Images/bgEmpMenu.gif");
	BACKGROUND-REPEAT: no-repeat;
	FONT-SIZE: 11px;
	COLOR: #000;
	FONT-WEIGHT: normal;
	FLOAT: right;
	PADDING: 6px 3px 3px 44px;
	MARGIN-TOP: 1px;
}
#MenuBar {
	FONT-SIZE: 11px;
	PADDING: 2px 0px 3px 27px;
	BACKGROUND-COLOR: #e7e7e7;
	BORDER-TOP: 1px #ccc solid;
	BORDER-BOTTOM: 1px #ccc solid;
}
#MenuBar A { COLOR: #009; }
#MenuBar A:hover { COLOR: #390; }
#MenuBarEmployers {
	DISPLAY: inline;
	MARGIN-LEFT: 145px;
}
.MenuBarEmployers {
	COLOR: #390;
	FONT-WEIGHT: bold;
}
#Page {
	PADDING: 9px 0px 0px 26px;
}
#subPage {
	PADDING: 20px 0px 0px 10px;
}
#SearchBox {
	FONT-SIZE: 11px;
	WIDTH: 198px;
	HEIGHT: 158px;
	MARGIN-TOP: 11px;
	BACKGROUND-COLOR: #ffc;
	BACKGROUND-IMAGE: url("http://www.Jobs.net/Images/bgSearch.gif");
	BACKGROUND-REPEAT: no-repeat;
	PADDING: 8px 0px 8px 12px
}
#PageFooter {
	FONT-SIZE: 9px;
	BACKGROUND-COLOR: #eee;
	MARGIN-TOP: 17px;
	PADDING: 9px 7px 9px 13px;
	BORDER-TOP: 2px #390 solid;
}


.NotBold {
	FONT-WEIGHT: normal;
}
.JobResults {
	FONT-SIZE: 11px;
}
.JobResults TH {
	COLOR: #fff;
	TEXT-ALIGN: left;
	PADDING: 0px 0px 1px 3px;
}
.JobResults TD {
	PADDING: 3px 0px 6px 3px;
}

.salarycareer {
	margin:1em 0;
	padding:0 0.5em;
	border:1px solid #FF6600;
	background:#FFE2CF;
}
p.salarycareer {padding:0.5em}
.salarycareer p {margin:0.5em 0}

.salarycareer a {
	margin-right: 10px;
	font-size: x-small;
}

.salarycareer img {
	padding-right:10px;
}

#custom-gen ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	line-height: 14pt;
}

#custom-gen h2 {
	font-size: 11px;
	font-weight:bold;
}

table.padded-table td {
padding-top: 0px;
padding-bottom: 5px;
padding-left: 20px;
padding-right: 0px;
}

#custom-gen table td {
padding-top: 0px;
padding-bottom: 5px;
padding-left: 0px;
padding-right: 0px;
}

#custom-gen .second-column
{
    padding-left: 10px;
}
/* set the image to use and establish the lower-right position */ .cssbox, .cssbox_body, .cssbox_head, .cssbox_head h2{ background: transparent url(http://www.jobs.net/images/corners/background-round.png) no-repeat bottom right} .cssbox{ /* intended total box width - padding-right(next) */ width:335px !important; /* IE Win = width - padding */ width: 320px; /* the gap on the right edge of the image (not content padding) */ padding-right:15px; /* use to position the box */ margin:20px auto} 

/* set the top-right image */ .cssbox_head{background-position:top right; /* pull the right image over on top of border */ margin-right:-15px; /* right-image-gap + right-inside padding */ padding-right:40px} /* set the top-left image */ .cssbox_head h2{ background-position:top left; margin:0; /* reset main site styles*/ border:0; /* ditto */ /* padding-left = image gap + interior padding ... no padding-right */ padding:25px 0 15px 40px; height:auto !important; height:1%} /* IE Holly Hack */ /* set the lower-left corner image */ .cssbox_body{ background-position:bottom left; margin-right:25px; /* interior-padding right */ padding:15px 0 15px 40px} /* mirror .cssbox_head right/left */


/* hide broken link */
div.salarycareer > table > tbody > tr > td:nth-child(2)
{
display: none;
}

div.salarycareer
{
width: 365px;
}

#report-this-job
{float:left !important;}
/* end hide broken link in salary section*/

#nav_creategraphify
{
display:none;
}