.contentplace {
	float: left;
	margin-left: 5px;
	background-COLOR: #ff6600; 
	width: 125px;
	height:140px;
}
.contentplace P {
	background-COLOR: #ff6600; MARGIN: 0px 10px
}
.contentplace_blue {
	float: left;
	margin-left: 5px;
	background-COLOR: #000066; 
	width: 125px;
	height:140px;
}
.contentplace_blue P {
	background-COLOR: #000066; MARGIN: 0px 10px
}
.topplace {
	no-repeat: 
}
.bottomplace {
	background: url(http://www.jobs.net/images/icons/flag.png) no-repeat right top; height: 64px;
}
.bottomplace_home {
	background: url(http://www.jobs.net/images/icons/home.png) no-repeat right top; height: 64px;
}
.bottomplace_flag {
	background: url(http://www.jobs.net/images/icons/flag.png) no-repeat right top; height: 64px;
}
.bottomplace_graph {
	background: url(http://www.jobs.net/images/icons/graph.png) no-repeat right top; height: 64px;
}
.bottomplace_man {
	background: url(http://www.jobs.net/images/icons/man.png) no-repeat right top; height: 64px;
}
.bottomplace_question {
	background: url(http://www.jobs.net/images/icons/question.png) no-repeat right top; height: 64px;
}
.bottomplace_talent {
	background: url(http://www.jobs.net/images/icons/talent.png) no-repeat right top; height: 64px;
}

#nav_link {
	text-decoration:none;
	color:#fff;
}

.menuitem {
	padding-top:10px;
	/* height:76px;  IE */
	height:66px; /* Chrome */
	font-size:18px;
	font-family:arial;
	color:#fff;
}