.lock-width {
  max-width: 900px;
}

html,
body {
  height: 100%;
  position: relative;
  left: 0;
  top:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header {
  background-color: rgba(0, 0, 0, 0.0);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
	position:fixed;
}

.header.add-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

/****ADD FOR A NEW CASE STUDY ***/
.img-responsive{
	width:100%;
}
/***** END ADD FOR NEW CASE STUDY ***/

.m0 {
  margin: 0 !important;
}

.btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.text-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right
}

h1 {
  font-family: Gibson-Semibold;
  text-transform: uppercase;
  letter-spacing: 1.5px
}

h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Gibson-Semibold;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #000;
}

h2 {
  font-size: 50px;
  font-family: Gibson-Semibold;
}

h3 {
  font-size: 32px
}

h3.italic-headline {
  font-family: "Gibson-SemiboldIt";
  text-transform: none;
}

h2.subheader {
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
  letter-spacing: 0.5px;
}

a {
  color: #bd9b60;
  font-family: Gibson-Regular;
}

p {
  font-size: 18px;
  font-family: Gibson-Light;
  line-height: 1.6em;
  margin-bottom: 24px;
}

.get-started {
  cursor: pointer !important;
  z-index: 999;
  display: block;
  width: 100%;
  font-size: 50px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  left: 0;
  line-height: .5;
}

.banded-box {
  width: 100%;
  margin: 0 auto;
  ;
}

.table-display {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
	
.table-cell p {
    line-height: 1.1em;
}

p.featured {
  font-size: 22px;
  font-family: Gibson-Regular;
  margin-bottom: 20px;
  line-height: 1.3em
}

.columns {
  -webkit-column-count: 2;
  width: 100%;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
}

.panel-section {
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: #000;
  height: auto;
  padding-bottom: 10%;
  margin: 0;
  position: relative;
  -webkit-transition: all 500ms ease-out .5s;
  -moz-transition: all 500ms ease-out .5s;
  -o-transition: all 500ms ease-out .5s;
  transition: all 500ms ease-out .5s;
}

.panel-section.dark {
  background: #555;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  background-repeat: no-repeat;
}

.panel-section.dark h1,
.panel-section.dark h2,
.panel-section.dark h3,
.panel-section.dark h4,
.panel-section.dark h5,
.panel-section.dark h6,
.panel-section.dark p,
.panel-section.dark a {
  color: white
}

.panel-section h2 {
  margin-bottom: 0;
  line-height: .9;
  margin-top: 20%
}

.panel-section h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.panel-section h3.small-first {
  margin-bottom: 0;
  line-height: .9;
  margin-top: 20%;
}

.panel-section h2.large-first {
  margin-bottom: 0;
  line-height: .9;
  margin-top: 20%
}

.panel-section h2.large-second {
  margin-top: 0;
  /*margin-bottom: 20px;*/
}

.panel-section h3.small-second {
  margin-top: 0;
  margin-bottom: 20px;
}

.cta-section {
  text-align: center
}

.cta-section h3 {
  color: white;
}

.hide-it {
  opacity: 0
}

.white {
  color: white
}

.btn {
  font-family: Gibson-Semibold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 20px 13px 20px;
  font-size: 14px;
}

.nav-icons {
  cursor: pointer;
  text-align: left;
}

.nav-icons img {
  padding: 0 60px;
}

.nav-icons h4 {
  text-align: left;
  font-size: 14px;
}

.nav-icons i {
  font-size: 20px;
}

.nav-icons p {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Gibson-Regular;
  letter-spacing: .5px;
  text-decoration: underline;
  color: #888;
}

.bg-gold {
  background-color: #bd9b60;
  color: white;
  border-radius: 0;
}

bg-red {
  background-color: #E1523D;
  color: white;
  border-radius: 0;
}

.vicon {
  max-width: 30px;
  opacity: 0.4;
  margin-right: 15px;
  cursor: pointer !important
}

::selection {
  background-color: #bd9b60;
  color: #fff;
}

.overlay {
  background: #bd9b60;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999999999;
}

.loader {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.loader svg path,
.loader svg rect {
  fill: #ffffff;
}

.hiding {
  opacity: 0;
}

html.touch .hiding {
  opacity: 1
}

a.back-to-top {
  text-decoration: none;
  font-family: "Gibson-Semibold";
  color: #999;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  border: 1px solid #999;
  text-align: center;
  padding: 3px;
  margin: 25px auto;
}

.gold {
  color: #bd9b60;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;
  -ms-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.red {
  color: #E1523D;
  -webkit-transition: color 1s ease-in;
  -moz-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;
  -ms-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

.bold {
  font-family: Gibson-Semibold;
}

.black {
  color: #1d1d1d
}

.theTron {
  display: block;
  z-index: 1;
  padding: 0;
  width: 100%;
  min-height: 680px;
  position: relative;
  border-radius: 0px;
  color: white;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  background-color: #000 !important;
  -webkit-transition: all 1000ms linear;
  -moz-transition: all 1000ms linear;
  -ms-transition: all 1000ms linear;
  -o-transition: all 1000ms linear;
  transition: all 1000ms linear;
  overflow: hidden;
}

.goldpattern {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 0;
  background-size: cover;
  opacity: 1;
	  background-image: url(/sites/all/themes/my_theme/images/homepage/Gold-Pattern.png), url(/sites/all/themes/my_theme/images/homepage/Gold-Pattern-Flipped_80_sm.png);
}

#video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: -1;
  background: #000;
  background-size: cover;
  opacity: 1;
}

#video-bg-image{
	position: absolute;
	left: 0;
    top: 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-position:top center;
}
	
	#video-bg-image:before {
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/143797/mobile-lp.jpg);*/
  content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
/*  opacity: 0.3; CHANGE TO 0.3 WHEN RANDOM IMAGES ON MOBILE AND TABLET HAVE BEEN DECIDED ON*/
  opacity: 0.6;
  background-color:#000;
/*	background-image: url(/sites/all/themes/my_theme/images/homepage/guy_phone_city_sm.jpg);  HIDE THIS BACKGROUND-IMAGE WHEN RANDOM IMAGES ON MOBILE AND TABLET HAVE BEEN DECIDED ON*/
	background-image: url(/sites/all/themes/my_theme/images/homepage/guy_phone_city_sm.jpg);
  background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
		background-position:center center;
}


.goldpattern:before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
	background: transparent\9;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(84%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);/*For IE10*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');/*For IE7-8-9*/
}

.goldpattern:after {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 0 85px;
  background-repeat: no-repeat, no-repeat;
  background-size: 1440px 1055px, 1440px 1055px;
	background-position: top left, bottom right;
}

ul.main-stats {
  margin: 60px 0;
  padding: 0;
}

ul.main-stats li {
  list-style: none;
  margin: inherit;
  border-left: 1px solid #fff
}

ul.main-stats li span.callout {
  display: block;
  font-family: 'Gibson-Semibold', sans-serif;
  font-size: 28px;
}

ul.main-stats li span.callout-description {
  display: block;
  font-family: 'Gibson-Semibold', sans-serif;
  font-size: 16px;
	line-height:1.1em;
}

a.btn-gold,
.form-container .btn-gold {
  border: 1px solid;
  letter-spacing: 1px;
  border-radius: 0px;
  font-family: 'Gibson-Semibold', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #bd9b60;
  border-radius: 0;
  font-family: Gibson-Semibold;
  border-color: #bd9b60;
}

a.btn-gold:hover {
  color: #000;
  background: rgba(189, 155, 96, 1)
}

a.btn-white {
  letter-spacing: 1px;
  border-radius: 0px;
  font-family: 'Gibson-Semibold', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border-radius: 0;
  border-color: white;
}

.faded-bg {
  background: rgba(0, 0, 0, .5)
}

a.btn-white:hover {
  color: black;
  background: rgba(255, 255, 255, 1)
}

.btn-black {
  font-size: 18px;
  letter-spacing: 1px;
/*  padding: 12px 0 9px;*/
  border-radius: 0px;
  font-family: 'Gibson-Semibold', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-color: black;
	
	
}

.btn-black:hover {
  color: white;
  background: rgba(0, 0, 0, 1)
}


.theTron h1 {
  margin: 14% 0 20px 0;
  letter-spacing: 1px;
  font-size: 60px;
  line-height: 0.9;
}

.theTron .subtitle {
  text-transform: none;
  letter-spacing: .5px;
  font-size: 24px;
  font-family: "Gibson-SemiboldIt";
  line-height: 1.2;
}

.down-caret {
  cursor: pointer !important;
  text-align: center;
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -40px;
  left: 0;
  visibility: hidden;
}

.title-header {
  font-family: Gibson-Regular;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 20px 40px;
  width: 25%;
  text-align: center;
  margin: 10% 0 15px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 3s linear 3s forwards;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 3s linear 3s forwards;
}

.content-container {
  padding: 85px 0;
}

/*** LOGIN STYLING ***/

.login {
  position: absolute;
  z-index: 99999999;
  top: 15.2%;
  right: 75px;
  font-size: 12px;
  color: white;
  text-decoration: none; 
  font-family:Gibson-Semibold;
  text-transform:uppercase;
  
}
.login:visited {color:#fff; text-decoration:none;}
.login:hover, .login:focus {color:#bd9b60; text-decoration:none;}

/*** SEARCH STYLING ***/

.searchbar {
  position: absolute;
  z-index: 99999999;
  top: 15%;
  right: 25px;
  font-size: 18px;
  color: white;
  text-decoration: none
}

.searchbar:visited,
.searchbar:focus {
  color: white;
  text-decoration: none
}

.searchbar:hover,
.searchbar:active {
  color: #bd9b60;
  text-decoration: none
}

.search-call {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  width: 100%;
  height: 250px;
  top: -250px;
  background: #000;
  background: linear-gradient(135deg, #333333 0%, #0e0e0e 69%);
  z-index: 99999999999999;
  overflow-y: auto;
  text-align:center;
  
}

.search-call.show-search {
  top: 0
}

.searchform-group {
  position:relative;
    width: 40%; margin:0 auto;
}
.search-call .searchform-group input {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Gibson-Regular', sans-serif;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 0px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #fff;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: opacity 0.5s, margin-top 0.5s;
  -moz-transition: opacity 0.5s, margin-top 0.5s;
  transition: opacity 0.5s, margin-top 0.5s; float:left; width:80%;
  width:100%;
}

.search-call .searchform-group a {display:block; width:20px; position:absolute; bottom:0; right:0; z-index:9999999999999999}
body.bodypushdown {
  top: 250px;
  position: relative;
  
}

.search-call .searchform-group a:visited,
.search-call .searchform-group a:focus {
  color: #bd9b60;
  text-decoration: none
}

.search-call .searchform-group a:hover,
.search-call .searchform-group a:active {
  color: white;
  text-decoration: none
}

.search-call .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff !important;
  text-shadow: none;
  font-family: Gibson-Light;
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px;
  z-index:9999999999999999
}
/*** FORM STYLING ***/

.connect-form {
  position: absolute;
  right: -0px;
  top: 20%;
  padding: 10px 10px 9px 10px;
  z-index: 99999999;
  letter-spacing: 1px;
  font-size: 12px
}

.form-call {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: #000;
  background: linear-gradient(135deg, #333333 0%, #0e0e0e 69%);
  z-index: 99999999999999;
  overflow-y: auto;
}

.form-call.show-form {
  right: 0;
}

body.bodypush {
  left: -100%;
  position: relative;
  overflow: hidden
}

body.bodypush .form-call .display-table {
  display: block;
}

.form-call .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff !important;
  text-shadow: none;
  font-family: Gibson-Light;
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px
}

.form-container {
  height: 100%;
  width: 400px;
  margin: 0 auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
  border-color: #bd9b60;
  box-shadow: none;
  outline: 0 none !important;
}

.form-container input,
.form-container select,
.form-container option,
.form-container textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Gibson-Regular', sans-serif;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 0px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #fff;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: opacity 0.5s, margin-top 0.5s;
  -moz-transition: opacity 0.5s, margin-top 0.5s;
  transition: opacity 0.5s, margin-top 0.5s;
}

.form-container input[type=checkbox] {
  -webkit-appearance: checkbox
}

.form-container .checkbox-label {
  display: inline-block;
  color: #666
}

.form-active .form-container input,
.form-active .form-container select,
.form-active .form-container option,
.form-active .form-container textarea {
  margin-top: 0;
}

.form-container textarea {
  border: none;
  border: 1px solid #eee;
}

.form-container option {
  margin: 0;
	background-color: #000000;
}

.form-container label {
  display: none
}

.form-container h4 {
  margin: 0;
}

.form-container .placeholder {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

select option:first-child {
  display: none;
}

::-webkit-input-placeholder {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

.form-container .btn-gold {
  background: #bd9b60;
  padding: 15px 0;
  border-radius: 0px;
  font-family: Gibson-Semibold;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin: 10px 0
}

:-moz-placeholder {
  /* Firefox 18- */
  
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

::-moz-placeholder {
  /* Firefox 19+ */
  
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

:-ms-input-placeholder {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}
/*** TILE SECTION ***/

.dynamicTile {
  z-index: 2;
  background: #ffffff;
  position: relative
}

.dynamicTile .col-sm-2.col-xs-4 {
  padding: 0px;
}

.dynamicTile .col-sm-4.col-xs-12 {
  padding: 0px;
	background-color: #ffffff;
}

.dynamicTile .col-sm-4.col-xs-8 {
  padding: 0px;
}

.dynamicTile .feature .slide,
.dynamicTile .nonfeature .slide {}

/****ADD FOR A NEW CASE STUDY ***/
.dynamicTile .feature a.feature-link, .dynamicTile .feature span.feature-link, .dynamicTile .feature span.feature-link:hover {
  display: block;
  width: 100%;
  font-family: "Gibson-Semibold";
  text-align: center;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0px 0
}

/****ADD FOR A NEW CASE STUDY ***/
.carousel-inner > .item > a{
	color:transparent;
	height: 0px;
}
/***** END ADD FOR NEW CASE STUDY ***/

.dynamicTile ul.latest-news {
  margin: 0;
  padding: 0
}

.dynamicTile ul.latest-news li {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-left: 60px;
  padding: 10px 0 10px 20px;
}

.dynamicTile ul.latest-news li.featured-news {
  border-left: 5px solid #E1523D
}

.dynamicTile ul.latest-news li.featured-news:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: url(/sites/all/themes/my_theme/images/homepage/chat-red.svg);
  margin-left: -50px;
  background-repeat: no-repeat;
  background-position: left 0% top 50%;
  background-size: 20px
}

.dynamicTile ul.latest-news li a {
  color: #000;
}

.dynamicTile ul.latest-news li a p {
  font-size: 14px;
  margin: 0;
}

.dynamicTile ul.latest-news li a p.news-header {
  font-family: Gibson-Regular;
  margin: 0;
}

.dynamicTile ul.latest-news li a p.news-description {}

.center-image {
  margin: 0 auto
}

#tile1 {
	/****COMMENT THIS OUT FOR A NEW CASE STUDY ***/
/*  background: url(/sites/all/themes/my_theme/images/homepage/cabelas-case-study-tile.jpg);*/
	/***** END ***/
}

#tile3 {
    background: #333 url(/sites/all/themes/my_theme/images/debut_dark.png);
}

.dynamicTile .item-padding {
  padding: 25px;
}

#tile4 {
    background: #e6e6e6;
    background-image: url(/sites/all/themes/my_theme/images/pattern2.png);
}

#tile3 p, #tile4 p {
    font-family: Gibson-Regular;
}

.anchor {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  top: -73px;
  left: 0;
  visibility: hidden;
}
/*** COMPANIES SECTION ***/

.companies {
  position: relative;
  background: url(/sites/all/themes/my_theme/images/homepage/desk.jpg);
  background-size: cover;
  background-position: bottom center;
  color: white;
  z-index: 1;
	clear:both;
}

.companies .section1 {
  background-color: rgba(0, 0, 0, .8);
  padding: 50px 0;
  position: relative
}

.companies .section2 {
  background-color: rgba(0, 0, 0, .6);
  padding: 75px 0;
  position: relative;
}

.companies .section2 .container .row {
background-color:transparent\9;/*Only works in IE9*/
}


.companies .company-container {
  padding: 30px 0px 30px 30px;
  margin-bottom: 25px
}

.companies h3 {
  margin: 0 0 5px 0;
  color: inherit;
  line-height: .8;
  margin-left: 60px;
}

.co-italic-headline {
  font-family: "Gibson-SemiboldIt";
  text-transform: none;
  font-size: 20px;
  line-height: 1;
}

.companies .section1 p {
  margin-left: 60px;
	line-height:1.1em;
}

.companies .section1 .btn {
  margin-left: 60px;
}

.companies .section1 .logo-badge {
  max-width: 60px;
  left: 35px;
  top: 25px;
  position: absolute;
}

.companies .section1 .gold-border {
  border-right:1px solid #bd9b60;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.companies .section1 .white-border {
  border-right:1px solid #FFFFFF;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
	
	.item {background-color:transparent;text-align:left;}
	
	.carousel{border-bottom:0px;top:0px;}
	
	.white, .gold{background-color:transparent;}
	
	br.br-large{
		display:none;
	}
	

@media (min-width: 1700px) {
.dynamicTile ul.latest-news {
    margin: 0;
    padding: 0;
    width: 350px;
    float: right;
}
	
	#tile3 .item, #tile4 .item {
    width: 80%;
    margin: 0 auto;
}
	
	#tile1 p{
		width: 80%;
    margin: 0 auto;
	}
		
	a.overlay-read-more.btn.btn-white.btn-sm{
		margin-left:10%;
		margin-top:20px;

}
	
	br.br-large{
		display:block;
	}
	
}

@media (min-width: 1200px) {
  div.ms.container {
    width: 970px;
	  min-width:970px;
  }
	
		.dynamicTile ul.latest-news li{
		margin-left:60px;
	}
  
}
@media (max-width:1200px){
/*   ul.latest-news li:nth-child(4) {display:none;}*/
	.dynamicTile h4 {font-size: 14px;
    margin: 0;}
	
		.dynamicTile p{margin-bottom:5px;line-height:1.2;max-width: 88%;}
}
@media (max-width:1024px){
    .dynamicTile p {font-size:14px;margin-bottom: 10px;}
	.table-cell h4 {padding: 0;margin: 0;}
/*  ul.latest-news li:nth-child(3), ul.latest-news li:nth-child(4) {display:none;}*/
  
	
		#video-bg-image:before {
		background-position:right;
	}
	
		.dynamicTile ul.latest-news li{
		margin-left:60px;
	}
	
	.dynamicTile h4 {font-size: 14px;
    margin: 0;}
	
	.dynamicTile p{margin-bottom:5px;line-height:1.2;max-width: 88%;}
	
}
@media (max-width: 992px) {
	
		ul.main-stats {
  margin: 40px 0;
  padding: 0;
}
/* ul.latest-news li:nth-child(3), ul.latest-news li:nth-child(4) {display:none;}*/
/*	.container{width:1170px !important;*/
	
  
  .nav-icons img {
    padding: 0 20px;
  }
  .black-box-content {
    border-right: 0px solid #000;
    margin-bottom: 25px;
  }
  .nav-container.active {
    height: 65px
  }
  ul.main-stats li span.callout-description {
    font-size: 13px;
  }
	
	
	.dynamicTile ul.latest-news li{
		margin-left:0px;
		
	}
	.dynamicTile p{margin-bottom:5px;line-height:1.2}
	
	.dynamicTile h4 {font-size: 14px;
    margin: 0;}
	
/*	ul.latest-news li:nth-child(4) {display:none;}*/
	
	
}

@media (max-width: 768px) {
	
	ul.main-stats {
  margin: 40px 0;
  padding: 0;
}
	
	.dynamicTile ul.latest-news li{
		margin-left:0px;
	}
	
/*	ul.latest-news li:nth-child(4) {display:none;}*/
	
	.dynamicTile ul.latest-news li.featured-news:before{
		background:none;
	}
	
  .dynamicTile ul.latest-news li {margin-left:0; }
  .dynamicTile p{margin-bottom:5px;line-height:1.2}
  .dynamicTile h4 {font-size: 14px;
    margin: 0;}
  .dynamicTile .btn-white {
    letter-spacing: 1px;
    border-radius: 0px;
    color: white;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
    border:none;
}
	
	.dynamicTile .btn-black{
		letter-spacing: 1px;
    border-radius: 0px;
    color: black;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
    border:none;
	}
  .companies .company-container {
    padding: 30px 10px 0px 30px;
    margin-bottom: 25px;
}
  
  .panel-section {
    height: auto;
    min-height: 0;
    padding-bottom: 10%
  }
  .nav-icons img {
    padding: 0 20px;
  }
  .panel-section h2 {
    margin-top: 40px;
  }
  .panel-section h4.mobile-header {
    padding-left: 15px;
    border-left: 1px solid #bd9b60;
    margin-top: 20%;
    font-size: 18px
  }
  .panel-section img {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.3);
    opacity: .5;
  }
  .theTron {    padding: 50px 0;}
  .theTron h1 {
    font-size: 50px
  }
  .theTron .subtitle {
    font-size: 24px;
    padding-top: 10px
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px
  }
	
	#video-bg-image:before {
		background-position:right;
	}
}


@media (max-width:1024px){
  .dynamicTile .btn-black{
    letter-spacing: 1px;
    border-radius: 0px;
    color: black;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
    border:none;
  }

  .dynamicTile .btn-white {
    letter-spacing: 1px;
    border-radius: 0px;
    color: white;
    font-size: 12px;
    padding: 0;
    text-decoration: underline;
    border:none;
  }
}

@media(max-width:767px) {
	
		ul.main-stats {
  margin: 40px 0;
  padding: 0;
}
	
		.dynamicTile ul.latest-news li {margin-left:0; padding: 10px 0 20px 13px;}
	
/*	ul.latest-news li:nth-child(4) {display:none;}*/
	
	.dynamicTile ul.latest-news li.featured-news:before{
		background:none;
	}
	
	
  .companies .section1 .gold-border, .companies .section1 .white-border {
    border-right: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
  .companies .section1 .logo-badge {
    left: 0;
    max-width;
    50px;
  }
  .companies .section1 h3,
  .companies .section1 p {
    margin: 0 0 5px 60px;
  }
  .companies .section1 .btn {
    margin: 10px 0 60px 60px;
  }
  .companies .section1 .btn:last-child {
    margin: 10px 0 30px 60px;
  }
	
		#video-bg-image:before {
		background-position:left;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
  .theTron {padding:80px 0;}
  
  .content-container {
    padding: 0 0;
  }
  h2.subheader {
    font-size: 20px;
  }
  .cta-section {
    padding: 50px 0;
  }
  .hide-it {
    opacity: 1;
  }
  .theTron h1 {
    font-size: 40px
  }
  .title-header {
    font-family: Gibson-Regular;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0 8px 0;
    border: 2px solid #ffffff;
    width: 60%;
    text-align: center;
    margin: 15px auto;
    line-height:
  }
  .challenge,
  .solution {
    padding: 20px 15px;
  }
	
	
  
  .panel-section {
    min-height: 0;
    padding: 25px 0;
  }
  .panel .img-hover h3,
  .theTron h1 {
    font-size: 40px
  }
  .theTron .subtitle {
    font-size: 18px
  }
  .panel img {
    max-width: auto;
    width: auto;
    /* margin: -20% 0; */
    
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: grayscale(100%);
    transform: scale(1.3);
    opacity: .5;
  }
  .gold-circle {
    width: 70px;
    height: 70px;
    border-radius: 300px;
    background: ;
    padding: 22px 0;
    border: 2px solid #bd9b60;
  }
  .gold-circle.h1 {
    font-size: 24px
  }
	
		
		#video-bg-image:before {
/*		background-image: url(/sites/all/themes/my_theme/images/homepage/Mobile_Header_Image.jpg); */
/*		background-image: url(/sites/all/themes/my_theme/images/homepage/Mobile_Header_Image.jpg); */
			/*HIDE THIS BACKGROUND-IMAGE WHEN RANDOM IMAGES ON MOBILE AND TABLET HAVE BEEN DECIDED ON*/
		background-image: url(/sites/all/themes/my_theme/images/homepage/Mobile_CItystill_1.jpg); /*HIDE THIS BACKGROUND-IMAGE WHEN RANDOM IMAGES ON MOBILE AND TABLET HAVE BEEN DECIDED ON*/
/*
			background-position:right;
			opacity: 1;
*/
	}
	
	ul.main-stats {
  margin: 40px 0;
  padding: 0;
}

	li.col-sm-3.col-xs-6.clearfix {
    clear: both;
}

	.companies{
		background-position: 10%;
	}
	
	
	
		#tile1 {
    max-height: 210px !important;
}

	#tile2{
		max-height:420px;
		height:420px;
	}


	
	#tile3, #tile4{
		min-height:210px;
		height:210px;
	}
	
	#tile1 .carousel-inner {
    position: relative;
}
	#tile1 .table-cell{
		display:block;
	}
	
	#tile3 .carousel-inner, #tile4 .carousel-inner {
    position: relative;
    top: 0%;
    transform: translateY(20%);
}
	
	.slide1_tile1,.faded-bg{height:420px;max-height:420px;}

a.gold-section-btn.btn.btn-white.btn-sm, a.grey-section-btn.btn.btn-black.btn-sm{padding:0px !important;}

.center-image {
    margin: 30px auto 0;
    width: 60%;
}

	.companies .company-container{
		margin-bottom:0px;
	}
	
	.companies .section1 h3{
		font-size: 23px;
		line-height: 25px;
	}
	
	
}

/*********END MOBILE***********/

.subnav-icons ul,
.subnav-icons ul li {
  list-style-type: none;
}

.infographic {
  float: left;
  position: absolute;
  top: 20%;
  /*transform: translateY(-50%);*/
  
  padding: 0px;
  left: 45px;
}

.infographic-image {
  float: right;
}
	
	
	.container{
		min-width:auto;
	}
	
	.client-logo-label p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: none;
}

	#tile1, #tile2{
		max-height:420px;
		height:420px;
	}
	
	#tile3, #tile4{
		max-height:210px;
		height:210px;
	}

/****ADD FOR A NEW CASE STUDY ***/
.slide1_tile1{
	height:420px;
	max-height:420px;
	background: url(/sites/all/themes/my_theme/images/homepage/cabelas-case-study-tile.jpg);
	background-position: center center;
	background-size: cover;
}

.slide1_tile2{
	height:420px;
	max-height:420px;
	background: url(/sites/all/themes/my_theme/images/homepage/LON_home.jpg);
	background-position: center top;
	background-size: cover;
	background-color: #555;
    background-blend-mode: overlay;
}
.slide1_tile3{
	height:420px;
	max-height:420px;
	background: url(/sites/all/themes/my_theme/images/homepage/staples_home.jpg);
	background-position: center top;
	background-size: cover;
	background-color: #555;
    background-blend-mode: overlay;
}
/***** END ADD FOR NEW CASE STUDY ***/
	
	.slide1_tile1,.faded-bg{height:420px;max-height:420px;}


/* FONTS */

@charset "UTF-8";

@font-face {
  font-family: "conversant-icons";
  src:url("/sites/all/themes/my_theme/fonts/conversant-icons.eot");
  src:url("/sites/all/themes/my_theme/fonts/conversant-icons.eot?#iefix") format("embedded-opentype"),
    url("/sites/all/themes/my_theme/fonts/conversant-icons.woff") format("woff"),
    url("/sites/all/themes/my_theme/fonts/conversant-icons.ttf") format("truetype"),
    url("/sites/all/themes/my_theme/fonts/conversant-icons.svg#conversant-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "conversant-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "conversant-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call-1:before {
  content: "d";
}
.icon-mail-1:before {
  content: "f";
}
.icon-calendar-2:before {
  content: "c";
}
.icon-add-marker-1:before {
  content: "g";
}
.icon-network-2:before {
  content: "h";
}
.icon-ticket-2:before {
  content: "j";
}
.icon-plane-takeoff:before {
  content: "k";
}
.icon-cloud-download:before {
  content: "l";
}
.icon-bubble-information:before {
  content: "m";
}
.icon-business-chart-2:before {
  content: "n";
}
.icon-pie-chart-2:before {
  content: "o";
}
.icon-setting-adjustment:before {
  content: "p";
}
.icon-star-5:before {
  content: "q";
}
.icon-micro-record-streamline:before {
  content: "r";
}
.icon-connection-2:before {
  content: "a";
}
.icon-connection-3:before {
  content: "b";
}
.icon-download-1:before {
  content: "e";
}
.icon-campfire:before {
  content: "s";
}
.icon-search:before {
  content: "i";
}
.icon-arrow-67:before {
  content: "t";
}
.icon-arrow-circle-29:before {
  content: "u";
}


/* added 10-27 */

html,
body {
  position: relative;
  left: 0;
  top:0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

a {
  color: #bd9b60;
  font-family: Gibson-Regular;
}

.header {
/*  background-color: rgba(0, 0, 0, 0.0);*/
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header.add-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

/*.btn-sm {*/
/*  padding: 5px 10px;*/
/*  font-size: 12px;*/
/*  line-height: 1.5;*/
/*  border-radius: 3px;*/
/*}*/

/*.theTron {*/
/*  min-height: 680px;*/
/*}*/

.faded-bg {
  background: rgba(0, 0, 0, .5)
}



.white {		
  color: white		
}

.red {		
  color: #E1523D;		
  -webkit-transition: color 1s ease-in;	
  -moz-transition: color .5s ease-in;
  -o-transition: color .5s ease-in;	
  -ms-transition: color .5s ease-in;
  transition: color .5s ease-in;
}

a.bg-gold:link, a.login:link, a.searchbar:link, a.bg-gold:visited, a.login:visited, a.searchbar:visited {color: white;}

.bg-gold {
  background-color: #bd9b60;		  
  color: white;		
  border-radius: 0;		
}		
.bg-red {		
  background-color: #E1523D;		
  color: white;		  
  border-radius: 0;		  
}

.goldpattern {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 0;
  background-size: cover;
  opacity: 1;
	background-image: url(/sites/all/themes/my_theme/images/homepage/Gold-Pattern.png), url(/sites/all/themes/my_theme/images/homepage/Gold-Pattern-Flipped_80_sm.png);
}

.goldpattern:before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
	background: transparent\9;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(84%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);/*For IE10*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');/*For IE7-8-9*/
}

.goldpattern:after {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0px;
	margin-top:55px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 0 85px;
  background-repeat: no-repeat, no-repeat;
  background-size: 1440px 1055px, 1440px 1055px;
	background-position: top left, bottom right;
}

.btn-gold,
.form-container .btn-gold {
  border: 1px solid;
  letter-spacing: 1px;
  border-radius: 0px;
  font-family: 'Gibson-Semibold', sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  color: #bd9b60;
  border-radius: 0;
  font-family: Gibson-Semibold;
  border-color: #bd9b60;
}

.faded-bg {
  background: rgba(0, 0, 0, .5)
}

    
    /*** LOGIN STYLING ***/

.login {
  /*position: fixed;*/
  position:absolute;
  z-index: 997;
  top: 110px;
  right: 61px;
  font-size: 12px;
  color: white;
  text-decoration: none; 
  font-family:Gibson-Semibold;
  text-transform:uppercase;
  background: rgba(0,0,0,0.3);
  height: 40px;
  padding: 12px 0px 0px 10px;
  width:55px;
  text-align:left;
}
.login:visited {color:#fff; text-decoration:none;}
.login:hover, .login:focus {color:#bd9b60; text-decoration:none;}


/*** SEARCH STYLING ***/

/* override modern search */

.searchform-group .container-inline {
    border-bottom: 0px solid #4f4c4E;
    text-align: left; 
    width: 100%; 
    background-color: transparent; 
    height: auto; }

.searchbar {
  /*position: fixed;*/
  position:absolute;
  z-index: 997;
  top: 110px;
  right: 0px;
  font-size: 18px;i
  color: white;
  text-decoration: none;
  background: rgba(0,0,0,0.3);
  width:61px;
  padding: 11px 20px 0px 5px;
  height:40px;
}

.searchbar:visited,
.searchbar:focus {
  color: white;
  text-decoration: none
}

.searchbar:hover,
.searchbar:active {
  color: #bd9b60;
  text-decoration: none
}

.search-call {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  width: 100%;
  height: 150px;
  top: -150px;
  background: #000;
  background: linear-gradient(135deg, #333333 0%, #0e0e0e 69%);
  z-index: 99999999999999;
  overflow-y: auto;
  text-align:center;
  
}

.search-call.show-search {
  top: 0
}

.searchform-group {
  position:relative;
    width: 40%; margin:0 auto;
}
.search-call .searchform-group form {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Gibson-Regular', sans-serif;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 0px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #fff;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: opacity 0.5s, margin-top 0.5s;
  -moz-transition: opacity 0.5s, margin-top 0.5s;
  transition: opacity 0.5s, margin-top 0.5s; float:left; width:80%;
  width:100%;
}


/* RM modern */

.searchform-group i.icon-search {color: #bd9b60;
font-family: Gibson-Regular;
    
}


.searchform-group button.btn{
display: inline-block;
    padding: 0px; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 0;
    background:none;
}

.search-call .searchform-group a, .searchform-group button.btn  {display:block; width:20px; position:absolute; bottom:-25px; right:0; z-index:9999999999999999}
body.bodypushdown {
  top: 50px;
  position: relative;
  
}


.search-call .searchform-group a:visited,
.search-call .searchform-group a:focus {
  color: #bd9b60;
  text-decoration: none
}

.search-call .searchform-group a:hover,
.search-call .searchform-group a:active {
  color: white;
  text-decoration: none
}

.search-call .close {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff !important;
  text-shadow: none;
  font-family: Gibson-Light;
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px;
  z-index:9999999999999999
}

.searchform-group {
    padding-top: 50px;
}

.input-append input{width:100% !important}

/*.input-append input {*/
/*  border: none;*/
/*  border-bottom: 1px solid #ccc;*/
/*  font-family: 'Gibson-Regular', sans-serif;*/
/*  font-size: 12px;*/
/*  padding: 3px 0;*/
/*  border-radius: 0px;*/
/*  box-shadow: none;*/
/*  -webkit-appearance: none;*/
/*  color: #fff;*/
/*  letter-spacing: 1px;*/
/*  background-color: transparent;*/
/*  -webkit-transition: opacity 0.5s, margin-top 0.5s;*/
/*  -moz-transition: opacity 0.5s, margin-top 0.5s;*/
/*  transition: opacity 0.5s, margin-top 0.5s; float:left; width:80%;*/
/*  width: 50% !important;*/
/*    position: fixed;*/
/*    top: 63px;*/
/*    left: 0;*/
/*    margin: 0 auto;*/
/*    right: 0;*/

/*}*/

/*** FORM STYLING ***/

.connect-form {
  /*position: fixed;*/
  position:absolute;
  right: -0px;
  top: 150px;
  padding: 10px 10px 9px 10px;
  z-index: 997;
  letter-spacing: 0.5px;
  font-size: 12px !important;
  text-transform: uppercase;
  font-family:Gibson-Semibold !important;
}

.form-call {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: #000;
  background: linear-gradient(135deg, #333333 0%, #0e0e0e 69%);
  z-index: 1999999999;
  overflow-y: auto;
}

.form-call.show-form {
  right: 0;
}

.form-call .form-container {padding-top:20px};

body.bodypush {
  left: -100%;
  position: relative;
  overflow: hidden
}

body.bodypush .form-call .display-table {
  display: block;
}

.form-call .close {
  position: absolute;
  top: 40px;
  right: 20px;
  color: #fff !important;
  text-shadow: none;
  font-family: Gibson-Light;
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px
}

.form-container {
  height: 100%;
  width: 400px;
  margin: 0 auto;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
  border-color: #bd9b60;
  box-shadow: none;
  outline: 0 none !important;
}

.form-container input,
.form-container select,
.form-container option,
.form-container textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  font-family: 'Gibson-Regular', sans-serif;
  font-size: 12px;
  padding: 3px 0;
  border-radius: 0px;
  box-shadow: none;
  -webkit-appearance: none;
  color: #ffffff !important;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: opacity 0.5s, margin-top 0.5s;
  -moz-transition: opacity 0.5s, margin-top 0.5s;
  transition: opacity 0.5s, margin-top 0.5s;
	background-image: none;
}

div#formElement8.sc-view.form-design-field.sc-static-layout.item-padding.sc-regular-size div.individual.field-wrapper div._100.field-style p.field-p label{
	display: block;
	color:#666;
	font-weight: normal;
}

.form-container input[type=checkbox] {
  -webkit-appearance: checkbox
}

.form-container .checkbox-label {
  display: inline-block;
  color: #666
}

.form-active .form-container input,
.form-active .form-container select,
.form-active .form-container option,
.form-active .form-container textarea {
  margin-top: 0;
	background-color: #000000;
}

.form-container textarea {
  border: none;
  border: 1px solid #eee;
}

.form-container option {
  margin: 0;
background-color: #000000;
}

.form-container label {
  display: none;
display:block\9;
color:#fff\9;
}

.form-container h4 {
  margin: 0;
}

.form-container .placeholder {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

select option:first-child {
  display: none;
}

::-webkit-input-placeholder {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

.form-container .btn-gold {
  background: #bd9b60;
  padding: 15px 0;
  border-radius: 0px;
  font-family: Gibson-Semibold;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin: 10px 0
}

:-moz-placeholder {
  /* Firefox 18- */
  
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

::-moz-placeholder {
  /* Firefox 19+ */
  
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: Gibson-Regular;
}

:-ms-input-placeholder {
  color: #fff !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300
}


a.btn-xs:hover, a.btn-lg:hover, a.btn-sm:hover{
		background-color:none !important;	
	}
	
	
		a.btn-white, a.btn-black {
    font-family: Gibson-Semibold !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 20px 13px 20px;
    font-size: 14px;
}
		
		.btn-white {
    letter-spacing: 1px;
    border-radius: 0px;
    font-family: 'Gibson-Semibold', sans-serif !important;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-color: white;
}
	
	a.btn-black{
		color:#000000;
	}
	
	.btn-black:hover {
    color: white;
    background: rgba(0, 0, 0, 1);
    background-color: #000 !important;
}
	
	#client-logo-mask {
		margin: 25px auto 0;
		width:85%;	
	}
	
	.client-logo-label h5 {
			display: block;
			font-family: Gibson-Semibold;
			font-size: 24px;
			color: #fff;
			text-align: center;
			margin-bottom: 5px;
		}
	
			#client-gradient-left, #client-gradient-right{
			background:none;
		}
	
	.footer .contact-social-block h3{
		font-family:Gibson-Regular;
	}
	
		#client-slider-previous {
    display: block;
    position: absolute;
    left: 0;
    width: 25px;
    background: url('http://www.conversantmedia.com/sites/all/themes/my_theme/images/clients/client-previous-arrow.png');
    top: 0;
    height: 100%;
    background-position: top 85% right 0%;
    background-repeat: no-repeat;
}
		

		
		
		#client-slider-next {
    display: block;
    position: absolute;
    right: 30px;
    width: 25px;
    height: 25px;
    background: url('http://www.conversantmedia.com/sites/all/themes/my_theme/images/clients/client-next-arrow.png');
    background-repeat: no-repeat;
    top: 0;
    height: 100%;
    background-position: top 85% left 0%;
}
	
	
@media (min-width: 320px) and (max-width: 480px) {
.goldpattern:after{
	content: ' ';
    display: block;
    position: fixed;
    left: 0;
	top:0px;
	margin-top:0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 0 85px;
  background-repeat: no-repeat, no-repeat;
  background-size: 1440px 1055px, 1440px 1055px;
	background-position: top left, bottom right;
}
	
			#client-logo-mask {
    display: block;
    position: relative;
    width: 80%;
    height: 58px;
    overflow: hidden;
    margin: 0px auto 0;
		}

	/****ADD FOR A NEW CASE STUDY ***/
	.slide1_tile1, .slide1_tile2, .slide1_tile3{
		max-height:210px;
		max-width:400px;
		height:210px;
		background-size: cover;
	}
	
	.carousel.slide{
	width: 100%;
overflow: hidden;
height: 100%;
	}
/***** END ADD FOR NEW CASE STUDY ***/	
	
}
	
	@media (max-width: 597px) and (min-width: 120px){
			.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		position: relative;
		min-height: 1px;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
		
		ul.main-stats li span.callout{
			font-size:23px;
		}
		
		.dynamicTile .col-xs-12{
			padding: 0 0 0 !important;	
		}
		
		.btn {
    font-family: Gibson-Semibold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 20px 13px 20px;
    font-size: 14px;
}
		
		.btn-white {
    letter-spacing: 1px;
    border-radius: 0px;
    font-family: 'Gibson-Semibold', sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-color: white;
}
		
		.white-border{border:0px;}
		
		
		
		a.btn-lg, a.btn-md, a.btn-sm{
			width: auto !important;
    		height: auto !important;
			border-radius:0px !important;
		}
		
		.client-logo-wrapper{
			background-color: transparent;
			box-shadow: none;
		}
		
		
		
		.client-logo-label{
			width:100%;
		}
		
		
		
	
		
		#client-logo-mask {
    display: block;
    position: relative;
    width: 80%;
    height: 58px;
    overflow: hidden;
    margin: 100px auto 0;
		}
		
		.logo-clients {
    display: block;
    position: absolute;
    top: 0px;
    height: 58px;
}
		
	}
	
	.footer{
		z-index:1;
	}
	
	.copyright p {
		font-size:10px;
	}

.clearfix:before, .clearfix:after{
display:inline;
}

/*
.header .navbar{
	background: rgba(0,0,0,0);
}*/