@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('ProximaNova-Bold-webfont.eot');
    src: url('ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Bold-webfont.woff2') format('woff2'),
         url('ProximaNova-Bold-webfont.woff') format('woff'),
         url('ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novabold_italic';
    src: url('ProximaNova-BoldIt-webfont.eot');
    src: url('ProximaNova-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-BoldIt-webfont.woff2') format('woff2'),
         url('ProximaNova-BoldIt-webfont.woff') format('woff'),
         url('ProximaNova-BoldIt-webfont.ttf') format('truetype'),
         url('ProximaNova-BoldIt-webfont.svg#proxima_novabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_condensed_rgbold';
    src: url('ProximaNovaCond-Bold-webfont.eot');
    src: url('ProximaNovaCond-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNovaCond-Bold-webfont.woff2') format('woff2'),
         url('ProximaNovaCond-Bold-webfont.woff') format('woff'),
         url('ProximaNovaCond-Bold-webfont.ttf') format('truetype'),
         url('ProximaNovaCond-Bold-webfont.svg#proxima_nova_cn_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_condensedBdIt';
    src: url('ProximaNovaCond-BoldIt-webfont.eot');
    src: url('ProximaNovaCond-BoldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNovaCond-BoldIt-webfont.woff2') format('woff2'),
         url('ProximaNovaCond-BoldIt-webfont.woff') format('woff'),
         url('ProximaNovaCond-BoldIt-webfont.ttf') format('truetype'),
         url('ProximaNovaCond-BoldIt-webfont.svg#proxima_nova_condensedBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_excn_rgbold';
    src: url('ProximaNovaExCn-Bold-webfont.eot');
    src: url('ProximaNovaExCn-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNovaExCn-Bold-webfont.woff2') format('woff2'),
         url('ProximaNovaExCn-Bold-webfont.woff') format('woff'),
         url('ProximaNovaExCn-Bold-webfont.ttf') format('truetype'),
         url('ProximaNovaExCn-Bold-webfont.svg#proxima_nova_excn_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('ProximaNova-RegIt-webfont.eot');
    src: url('ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-RegIt-webfont.woff2') format('woff2'),
         url('ProximaNova-RegIt-webfont.woff') format('woff'),
         url('ProximaNova-RegIt-webfont.ttf') format('truetype'),
         url('ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('ProximaNova-Reg-webfont.eot');
    src: url('ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Reg-webfont.woff2') format('woff2'),
         url('ProximaNova-Reg-webfont.woff') format('woff'),
         url('ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_cn_ltsemibold';
    src: url('ProximaNovaCond-Sbold-webfont.eot');
    src: url('ProximaNovaCond-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNovaCond-Sbold-webfont.woff2') format('woff2'),
         url('ProximaNovaCond-Sbold-webfont.woff') format('woff'),
         url('ProximaNovaCond-Sbold-webfont.ttf') format('truetype'),
         url('ProximaNovaCond-Sbold-webfont.svg#proxima_nova_cn_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_condensedSBdIt';
    src: url('ProximaNovaCond-SboldIt-webfont.eot');
    src: url('ProximaNovaCond-SboldIt-webfont.eot?#iefix') format('embedded-opentype'),
         url('ProximaNovaCond-SboldIt-webfont.woff2') format('woff2'),
         url('ProximaNovaCond-SboldIt-webfont.woff') format('woff'),
         url('ProximaNovaCond-SboldIt-webfont.ttf') format('truetype'),
         url('ProximaNovaCond-SboldIt-webfont.svg#proxima_nova_condensedSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}


_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

