﻿*
{
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: normal;
	color: inherit;
	border: none;
	outline: none;
	background-image: none;
}

body
{
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

body > img
{
	position: absolute;
}

table
{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

* a,
* a:link,
* a:visited,
* a:active
{
	text-decoration: none;
	outline: none;
}

a.but
{
	background-repeat: repeat-y;
	background-position: 0 0;
	background-color: transparent;
	border: none;
	color: transparent;
	font-size: 0;
	line-height: 0;
	text-decoration: none;
	display: block;
}

a.but:hover {background-position-y: -100%;}

* div {text-align: left;}
* p {margin-bottom: 8px;}

* input,
* textarea
{
	color: #404040;
	border: solid 1px #a0a0a0;
	background-color: #f0f0f0;
	padding: 2px 4px 2px 4px;
	margin: 0 0 2px 0;
	width: 300px;
	font-size: 12px;
	line-height: 12px;
	text-rendering: optimizeSpeed;
}

* select
{
	color: #404040;
	border: solid 1px #a0a0a0;
	background-color: #f0f0f0;
	padding: 2px 4px 2px 4px;
	margin: 0 0 2px 0;
	width: 310px;
	font-size: 12px;
	line-height: 12px;
}

* textarea {height: 64px;}
* input[type="checkbox"],
* input[type="radio"] {
	width: auto;
	border: none;
	background-color: transparent;
	margin-right: 5px;
	vertical-align: middle;
}
* input[type="button"],
* input[type="submit"] {width: auto;}

* hr
{
	height: 1px;
	background-color: #404040;
	margin: 10px 0 10px 0;
}

* strong,
* b {font-weight: bold;}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

h1
{
	font-size: 28px;
	margin-bottom: 10px;
}

h2
{
	font-size: 20px;
	margin-bottom: 10px;
}

h3
{
	font-size: 16px;
	margin-bottom: 8px;
}

* fieldset
{
	border: solid 1px #C0C0C0;
	padding: 10px;
}

* legend
{
	font-size: 12px;
	padding: 4px;
	font-style: italic;
}

.left {float: left;}
.right {float: right;}
.clr
{
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
	border: none;
}
