﻿a.but
{
	display: inline-block;
	font-size: 0;
	line-height: 0;
	background-repeat: repeat-y;
}

a.but:hover
{
	background-position-y: -100%;
}

div.WDO_Overlay
{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: table;
	background-image: url(./shader.png);
	background-repeat: repeat;
	top: 0;
	left: 0;
}

div.WDO_Overlay > div
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.WDO_Overlay > div > div
{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
	position: relative;
	display: inline-block;
}

div.WDO_Overlay > div > div p
{
	background-image: url(./shader.png);
	background-repeat: repeat;
	position: absolute;
	display: none;
	bottom: 0;
	left: 0;
	text-align: left;
	padding: 15px;
	font-size: 14px;
	color: #ffffff;
}

div.WDO_Overlay > div > div:hover p
{
	display: block;
}

a.Prev,
a.Next,
a.SP_Prev,
a.SP_Next
{
	background-image: url(./prevnext_but.png);
	width: 34px;
	height: 37px;
	position: absolute;
	top: 50%;
	cursor: pointer;
}

a.Prev,
a.SP_Prev
{
	left: 10px;
}

a.Next,
a.SP_Next
{
	background-position-x: -34px;
	right: 10px;
}

a.inactive
{
	opacity: 0.2;
}

a.inactive:hover
{
	opacity: 0;
}

div.WDO_ObjectHolder
{
	position: relative;
	margin-bottom: 20px;
	padding: 0 50px 0 50px;
}
		
div.WDO_Gallery
{
	height: 110px;
	overflow: hidden;
	position: relative;
}		

div.WDO_Gallery img
{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 5px;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);*/
	cursor: pointer;
}

div.SP_Paging
{
	text-align: center;
	position: absolute;
	right: 50px;
	bottom: -20px;
	z-index: 2;

}

div.SP_Paging a
{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(./paging_but.png);
	background-repeat: repeat-y;
}

div.SP_Paging a.Selected,
div.SP_Paging a:hover
{
	background-position-y: -100%;
}


div.Slider,
input.Slider
{
	height: 30px;
	margin-top: 4px;
}

div.SliderButton
{
	background-color: #ff8000;
	width: 20px;
	height: 20px;
}

div.SliderBar
{
	border: solid 1px #c6c6c6;
	border-bottom: solid 1px #f0f0f0;
	border-right: solid 1px #f0f0f0;
	background-color: #f2f2f2;
	height: 10px;
	position: relative;
	clear: both;
}

div.SliderFill
{
	height: 10px;
	width: 0px;
	background-color: #e0f1f8;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	margin: 1px 0 0 1px;
}

div.SliderButton
{
	width: 24px;
	height: 24px;
	
	background-image: url(./slider_but.png);
	background-position: left top;
	background-repeat: repeat-y;
	background-color: transparent;
	position: absolute;
	z-index: 3;
	margin: -7px 0 0 -12px;
}

span.SliderMin,
span.SliderMax
{
	position: absolute;
	font-size: 12px;
	color: #cccccc;
	top: 12px;
}

span.SliderMin
{
	left: 0;
}

span.SliderMax
{
	right: 0;
}

span.SliderValue
{
	position: absolute;
	text-align: center;
	width: 100px;
	height: 16px;
	left: -38px;
	top: -12px;
	color: #008ad1;
	font-size: 12px;
	background-color: transparent;
	z-index: 3;
	margin: 0;
}