﻿body
{
}

div.WDO_Workbench
{
	background-color: #c0c0c0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 0px;
	text-align: center;
	display: table;
	display: block\9;
	cursor: move;
}

div.WDO_Modal
{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	background-image: url(/wdo/css/shader.png)\9;
	z-index: 1000;	
	display: none;
	top: 0;
	left: 0;
}

div.WDO_Modal hr
{
	clear: both;
	line-height: 2px;
	border: none;
	background-color: #a0a0a0;
	margin: 10px 0 10px 0;
}

div.WDO_Cell
{
	width: 100%;
	height: 100%;
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

div.WDO_MessageBox
{
	border: solid 1px #000000;
	padding: 20px 20px 20px 20px;
	background-color: #ffffff;
	min-width: 300px;
	min-height: 100px;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,1.0);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#606060', Direction=150, Strength=5)\9;
	border-radius: 16px;
	display: inline-block;
	line-height: 20px;
	font-size: 12px;
	position: relative;
}

div.WDO_MessageBox.Closable
{
	padding-top: 10px;
}

div.WDO_MessageBox h3,
div.WDO_MessageBox span.Title
{
	color: #404040;
	font-size: 24px;
	line-height: 50px;
	margin: 0;
	font-weight: 200;
}

div.WDO_MessageBox p
{
	margin-top: 20px;
	font-size: 12px;
	color: #606060;
}

div.WaitImg,
div.WaitImg img
{
	width: 32px;
	height: 32px;
	margin: auto;
}


div.WDO_Window,
div.WDO_Popup
{
	width: auto;
	min-width: 200px;
	height: auto;
	margin: 0 auto 0 auto;
	border: solid 0px #000000;
	box-shadow: 0 0 10px rgba(0,0,0,1.0);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#606060', Direction=150, Strength=5)\9;
	position: absolute;
	background-color: #ffffff;
	display: none;
	border-radius: 8px;
}

div.WDO_WindowBusy
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1000;	
	display: none;
	top: 0;
	left: 0;
	cursor: wait;
	border-radius: 8px;
}

div.WDO_WindowBusy div
{
	display: table;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

div.WDO_WindowBusy div div
{
	display: table-cell;
}

div.WDO_WindowBusy img
{
	margin: auto;
}

div.WDO_WindowHeader
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 44px;
	background-color: #202020;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	cursor: move;
}

div.WDO_Popup div.WDO_WindowHeader
{
	background-color: transparent;
}

div.WDO_WindowHeader span
{
	color: #a0a0a0;
	font-size: 24px;
	line-height: 40px;
	margin: 0 10px 0 10px;
	font-weight: 200;
}

div.WDO_WindowHeader span.WDO_SearchField
{
	border: none;
	background-color: #ffffff;
	border-radius: 16px;
	margin: 8px;
	color: #404040;
	padding: 6px 20px 2px 8px;
	height: 18px;
	width: 300px;
	position: relative;
	display: inline-block;
}

span.WDO_SearchField input
{
	border: none;
	background-color: #ffffff;
	color: #404040;
	padding: 0;
	font-size: 12px;
	line-height: 16px;
	width: 272px;
}

span.WDO_SearchField a
{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 8px;
	top: 4px;
	background-image: url(./Search_bg.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

div.WDO_WindowHeader a.OnOff
{
	margin-top: 2px;
	color: #a0a0a0;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 16px;
	line-height: 22px;
}

div.WDO_WindowHeader a.CloseBut,
div.WDO_MessageBox a.CloseBut
{
	float: right;
	margin: 4px;
	background-image: url(./Close_but.png);
	width: 36px;
	height: 36px;
}

div.WDO_WindowFooter
{
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	min-height: 40px;
	background-color: #202020;
	text-align: center;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: #a0a0a0;
	line-height: 40px;
	cursor: move;
}

div.WDO_Popup div.WDO_WindowFooter
{
	background-color: transparent;
}


div.WDO_WindowBody
{
	margin: 0;
	height: auto;
	min-height: 200px;
	display: block;
	position: relative;
	overflow: hidden;
}

div.WDO_Popup div.WDO_WindowBody
{
	padding: 0 20px 0 20px;
	min-height: 200px;
	max-height: 700px;
	height: auto;
}

div.WDO_WindowFooter ul
{
	list-style-type: none;
}

div.WDO_WindowFooter ul li
{
	list-style-type: none;
	display: inline-block;
	border: solid 2px #c0c0c0;
	background-color: #e8e8e8;
	border-radius: 12px;
	min-width: 20px;
	padding: 0 4px 0 2px;
	height: 24px;
	text-align: center;
	color: #404040;	
	margin: 6px 4px 6px 4px;
	font-size: 12px;
	line-height: 24px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	cursor: pointer;
}

div.WDO_WindowFooter ul li.WDO_ListPagingSummary
{
	border: none;
	width: auto;
	background-color: transparent;
	box-shadow: none;
	color: #a0a0a0;
	font-size: 16px;
	margin-left: 50px;
	cursor: move;
}

div.WDO_WindowFooter ul li.selected
{
	background-color: #ffa010;
}

div.WDO_listView ul
{
	display: table;
	list-style-type: none;
	width: 100%;
}

div.WDO_listView ul li
{
	display: table-row;
	list-style-type: none;
	padding: 0 4px 0 4px;
	background-color: #f8f8f8;
	position: relative;
	cursor: pointer;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}

div.WDO_listView ul li:nth-child(even)
{
	background-color: #e8e8e8;
}

div.WDO_listView ul li + li:hover
{
	background-color: #ffa800;
}

div.WDO_listView ul li span
{
	display: table-cell;
	overflow: hidden;
	padding: 0px 10px 0px 10px;

	line-height: 30px;
/*	height: 30px;*/
	position: relative;
	white-space: nowrap;
	max-width: 200px;
}

div.WDO_listView ul
{
	display: table;
	list-style-type: none;
	width: 100%;
	position: relative;
}

div.WDO_listView ul li
{
	display: table-row;
	list-style-type: none;
	padding: 0 4px 0 4px;
	background-color: #f8f8f8;
	position: relative;
	cursor: pointer;
	font-size: 12px;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
}

div.WDO_listView ul li:nth-child(even)
{
	background-color: #e8e8e8;
}

div.WDO_listView ul li + li:hover
{
	background-color: #ffa800;
}

div.WDO_listView div.iconic:hover
{
	background-color: #ffa800;
}
/*
div.WDO_listView ul li span
{
	display: table-cell;
	overflow: hidden;
	padding: 0px 10px 0px 10px;

	line-height: 30px;
	height: 30px;
	position: relative;
	white-space: nowrap;
	max-width: 200px;
}
*/
div.WDO_listView ul li.ColumnsHeader span + span
{
	border-left: solid 1px #808080;
}
div.WDO_listView ul li span + span
{
	border-left: solid 1px #d0d0d0;
}

div.WDO_listView ul li.WDO_AddItem,
div.WDO_listView div.WDO_AddItem
{
	background-color: #6592bf;
}

div.WDO_listView ul li.WDO_AddItem:hover,
div.WDO_listView div.WDO_AddItem:hover
{
	background-color: #ffa800;
}

span.int32 { width: 80px; text-align: right; }
span.string { max-width: 320px; }
span.datetime { width: 100px; text-align: center; }
span.boolean { width: 50px; text-align: center; }

div.WDO_listView ul li.ColumnsHeader
{
	background-color: #606060;
}

div.WDO_listView ul li.ColumnsHeader span
{
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #f0f0f0;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
	text-align: left;
}

div.WDO_listView ul li.ColumnsHeader span:hover
{
	background-color: #a0a0a0;
}

div.WDO_listView ul li.ColumnsHeader span.DESC
{
	background-image: url(./Desc_bg.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #808080;
}

div.WDO_listView ul li.ColumnsHeader span.ASC
{
	background-image: url(./Asc_bg.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #808080;
}

a.SaveBut
{
	background-image: url(./Save_but.png);
	width: 36px;
	height: 36px;
	float: right;
	margin-right: 4px;
}

a.DeleteBut
{
	background-image: url(./Delete_but.png);
	width: 36px;
	height: 36px;
	float: left;
}

a.HelpBut
{
	background-image: url(./Help_but.png);
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 4px;
}

div.MessageBox a.CloseBut
{
	position: absolute;
	right: 20px;
	top: 10px;
}

div.WDO_MessageBox a.ConfirmBut
{
	background-image: url(./Save_but.png);
	width: 36px;
	height: 36px;
	float: right;
	margin-right: 4px;
}

div.MessageBox input
{
	line-height: 20px;
	font-size: 12px;
	height: 20px;
	border-radius: 2px;
}

div.WDO_Tooltip
{
	border: solid 1px #808080;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0,0,0,0.75);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#606060', Direction=150, Strength=5)\9;
	padding: 10px;
	font-size: 11px;
	color: #404040;
	position: absolute;
	display: none;
	z-index: 1000;
}

div.WDO_PopMenu
{
	box-shadow: 0 0 2px rgba(0,0,0,0.75);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#606060', Direction=150, Strength=3)\9;
	padding: 0px;
	font-size: 11px;
	color: #404040;
	position: absolute;
	display: none;
	z-index: 100;
	background-color: transparent;
}

div.WDO_PopMenu ul
{
	border: solid 1px #808080;
	background-color: #ffffff;
	border-radius: 4px;
	list-style-type: none;
}

div.WDO_PopMenu ul li
{
	display: block;
	padding: 4px;
}

div.WDO_PopMenu ul li + li
{
	border-top: solid 1px #e0e0e0;
}

div.WDO_PopMenu ul li:hover
{
	background-color: #e8e8e8;
}

div.WDO_DatePicker
{
	width: 176px;
	min-height: 176px;
	background-color: #808080;
	position: absolute;
	z-index: 1000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

div.WDO_DatePicker ul span
{
	display: inline-block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background-color: #ffffff;
	color: #202020;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	margin: 1px 0 0 1px;
}

div.WDO_DatePicker ul span.we
{
	background-color: #e8e8e8;
}

div.WDO_DatePicker ul span.dummy
{
	background-color: #c0c0c0;
	color: #808080;
}

div.WDO_DatePicker ul span:hover,
div.WDO_DatePicker ul span.selected
{
	background-color: #ffa800;
	color: #404040;
}

div.WDO_DatePicker div
{
	display: inline-block;
	width: 174px;
	line-height: 24px;
	font-size: 12px;
	height: 24px;
	margin: 1px 0 0 1px;
	text-align: center;
	background-color: #202020;
	color: #ffffff;
	font-weight: bold;
}

div.WDO_DatePicker div + div
{
	background-color: #404040;
	font-weight: normal;
}

div.WDO_DatePicker div a
{
	display: block;
	float: left;
	width: 24px;
	height: 24px;
	background-color: transparent;
	background-image: url(./inputs_bg.png);
	background-position: 2px -38px;
	background-repeat: no-repeat;
}

div.WDO_DatePicker div a + a
{
	float: right;
	background-position: 2px -18px;
}

input.WDO_Field_Date
{
	background-image: url(./inputs_bg.png);
	background-position: right 2px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.WDO_Scrollbar
{
	position: absolute;
	top: 8px;
	right: 8px;
	width: 6px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	position: absolute;
}

div.WDO_WindowBody div.WDO_Scrollbar,
div.Showbox_Items div.WDO_Scrollbar
{
	display: block;
	opacity: 0;
	
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-ms-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	
	-webkit-transition-delay: 1s;
}

div.WDO_WindowBody:hover div.WDO_Scrollbar,
div.Showbox_Items:hover div.WDO_Scrollbar
{
	display: block;
	opacity: 1;
	
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-ms-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
}

div.WDO_Scrollbut
{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 6px;
	height: 32px;
	background-color: rgba(0, 0, 0, 0.50);
	border-radius: 3px;
	cursor: pointer;
}

div.WDO_List div.WDO_WindowBody
{
	display: block;
	position: relative;
	/*width: auto;*/
}

div.WDO_listView
{
	display: table-cell;
/*	display: inline-block;*/
	box-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
	z-index: 1;
	background-color: #a0a0a0;
	vertical-align: top;
	/*overflow: hidden;*/
	height: 100%;
	/*width: auto;*/
	position: relative;
	width: 80%;
}

div.WDO_EditForm div.WDO_listView
{
	display: block;
	width: 100%;
}

div.WDO_EditForm div.WDO_listView div.WDO_listView
{
    height: 250px;
	box-shadow: none;
}

div.WDO_EditForm div.WDO_listViewInner
{
	width: 100%;
}

div.WDO_EditForm div.WDO_listView a.CloseBut
{
	display: none;
}

div.WDO_treeView
{
	display: table-cell;
/*	display: inline-block;*/
	width: auto;
	/*min-width: 150px;*/
	height: 100%;
	/*background-color: #ffffff;*/
	z-index: 0;
	position: relative;
	vertical-align: top;
	overflow: hidden;
	/*margin-right: 4px;*/
}

div.WDO_treeViewInner
{
	position: absolute;
	top: 0px;
	width: auto;
}

div.WDO_listViewInner
{
	position: absolute;
	top: 0px;
	width: auto;
}

div.WDO_treeView ul
{
	list-style-type: none;
	display: block;
	font-size: 12px;
	line-height: 20px;
}

div.WDO_treeView > ul
{
	margin-right: 3px;
}

div.WDO_treeView ul li
{
	list-style-type: none;
	border-top: solid 1px #f0f0f0;
	white-space: nowrap;
	
	/*cursor: pointer;
	display: block;*/
}

div.WDO_treeView ul li a
{
	display: block;
	padding: 0 10px 0 10px;
	max-width: 150px;
	min-width: 50px;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
}

div.WDO_treeView ul li a.Selected
{
	background-color: #ffc000;
}

div.WDO_treeView ul li a:hover
{
	background-color: #e8e8e8;
}

div.WDO_treeView ul li a.Selected:hover
{
	background-color: #ffe8c0;
}

div.WDO_treeView ul li ul li a { padding-left: 20px; max-width: 140px; }
div.WDO_treeView ul li ul li ul li a { padding-left: 30px; max-width: 130px; }
div.WDO_treeView ul li ul li ul li ul li a { padding-left: 40px; max-width: 120px; }
div.WDO_treeView ul li ul li ul li ul li ul li a { padding-left: 50px; max-width: 110px; }
div.WDO_treeView ul li ul li ul li ul li ul li ul li a { padding-left: 60px; max-width: 100px; }
div.WDO_treeView ul li ul li ul li ul li ul li ul li ul li a { padding-left: 70px; max-width: 90px; }

span.WDO_Expander
{
	display: inline-block;
	width: 12px;
	height: 12px;
	/*background-color: #a06020;*/
	margin-left: -16px;
	margin-right: 4px;
	line-height: inherit;
	background-image: url(./tree_buts.png);
	background-position: 0 1px;
}

LI.WDO_Expanded > a > span.WDO_Expander
{
	background-position: -12px 1px;
}

div.WDO_WindowHeader input.WDO_Field_Date
{
	width: 100px;
	padding: 4px;
	border-radius: 16px;
	margin-left: 20px;
	line-height: 16px;
	padding-left: 12px;
	background-position-x: 90px;
}

div.WDO_AutoComplete
{
	position: relative;
	display: inline-block;
}

div.WDO_AutoComplete ul
{
	position: absolute;
	z-index: 2;
	border: solid 1px #606060;
	background-color: #ffffff;
	overflow: auto;
	max-height: 200px;
	width: 100%;
	display: none;
}

div.WDO_AutoComplete ul
{
	list-style-type: none;
}

div.WDO_AutoComplete ul li
{
	padding: 2px 8px 2px 8px;
	display: block;
}

div.WDO_AutoComplete ul li.Selected
{
	background-color: #c0c0c0;
}

ul.WDO_ContextMenu
{
	position: absolute;
	background-color: #c0c0c0;
	border: solid 1px #606060;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	z-index: 1000;
	padding: 0px;
	list-style-type: none;
}

ul.WDO_ContextMenu li
{
	display: table-row;
	background-color: #e0e0e0;
	color: #202020;
	cursor: pointer;
	margin: 0px;
}

ul.WDO_ContextMenu li + li div
{
	border-top: solid 1px #808080;
}

ul.WDO_ContextMenu li:hover
{
	background-color: #ffffff;
}

ul.WDO_ContextMenu li div
{
	display: table-cell;
	height: 20px;
	padding: 4px;
    vertical-align: middle;
}

ul.WDO_ContextMenu li div:first-child
{
	width: 20px;
	background-color: #404040;
}

ul.WDO_ContextMenu li div img
{
	width: 20px;
	height: 20px;
}

a.WDO_SearchBut,
a.WDO_NullBut,
a.WDO_EditBut,
a.WDO_DeleteBut,
a.WDO_AddBut,
a.WDO_AddCopyBut,
a.WDO_CBCopyBut,
a.WDO_CBPasteBut
{
	width: 16px;
	height: 16px;
	float: right;
	margin: 20px 0 0 10px;
}

a.WDO_SearchBut { background-image: url(./Search.gif); }
a.WDO_NullBut { background-image: url(./del.gif); }
a.WDO_EditBut { background-image: url(./Edit.gif); }
a.WDO_DeleteBut { background-image: url(./Delete.gif); }
a.WDO_AddBut { background-image: url(./Add.gif); }
a.WDO_AddCopyBut { background-image: url(./AddCopy.gif); }
a.WDO_CBCopyBut { background-image: url(./CBCopy.gif); }
a.WDO_CBPasteBut { background-image: url(./CBPaste.gif); }

div.WDO_Shortcut
{
	position: absolute;
	display: table-cell;
	width: 62px;
	height: 62px;
	background-color: #ffffff;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

div.WDO_Shortcut img
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

a.WDO_PreviewBut
{
	background-image: url(./Preview_but.png);
	width: 32px;
	height: 30px;
	display: inline-block;
}

a.WDO_Delete2But
{
	background-image: url(./Delete2_but.png);
	width: 32px;
	height: 30px;
	display: inline-block;
}
