﻿
        .im-modal-notify {
            border: 0;
            border-top: 5px solid #c49a6c !important;
            height: 170px;
            position: absolute;
            overflow: visible;
            right: 30px;
            top: 30px;
            width: 440px; 
        }
        
        .im-modal-notify:after {
            color: #fff;
            content: '*As notificações podem ser desativadas quando quiser através das configurações do navegador';
            display: block;
            font-size: 13px;
            line-height: 16px;
            padding-top: 20px;
        }
        
        .im-modal-notify img {
            float: left;
            margin-right: 20px;
        }
        
        .im-modal-notify h4 {
            font-family: 'Merriweather', serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            padding: 5px 50px 0 0;
        }
        
        .im-modal-notify .notify-click {
            overflow: hidden;
            margin: 20px 0 0 90px;
        }
        
        .im-modal-notify .notify-click .notify-btn,
        .im-modal-notify .notify-click .not-notify {
            float: left;
        }
        
        .im-modal-notify .notify-click .notify-btn i {
            margin-right: 10px;
        }
        
        .im-modal-notify .notify-click .not-notify {
            margin: 5px 0 0 20px;
        }