@import url(reset.css);

/*global*/

.layout{clear:both;margin-left:auto;margin-right:auto;width:970px;overflow:hidden;}

.aside{float:left;width:270px;overflow:hidden;}

.section{float:right;width:690px;overflow:hidden;}

.sub-col{float:left;width:340px;overflow:hidden;}

.sub-sec{float:left;width:430px;overflow:hidden;}

.sub-side{float:right;width:250px;overflow:hidden;}

.search_main,#nav{background:url(/html/img/new_index/index_bg.gif) repeat-x;}

.toplink,.search_option li,.search_l,.search_r,.search_input,.search_submit,.box,.box li,.list li,.c-list li,.o-list li,.rotate a,.mod-price .t3,.mod-news .t3,.mod-tradeshow .t3,.mod-today .t3,.btn-post,.loginBox,.loginBox .fix,.login-btn,.loginWrap .hr,.login-operate li,.login-operate li a,.triggers li,.help,.addProduct,.aboutVip,.joinVip,.fastJoin,.slide a,.chat span,.chat .wrap-content{background:url(/html/img/new_index/index_bg.gif) no-repeat}

.link .tabs,.link .tabs li.current,.box .title,.footer_nav,.mod-latest .title,.mod-site .title,.mod-fly .title,.more,.merchants .title,.merchants .t3,.mod-price .title,.mod-activity .title,.mod-activity .tabs,.mod-activity .tabs .active,.mod-news .title,.mod-tradeshow .title,.category .title,.mod-today .title,.mod-today .fix{background:url(/html/img/new_index/index_hd.gif) no-repeat}

.global-buyer .title,.global-buyer,.subfooter,#footer{background:url(/html/img/new_index/index_repeat.gif) repeat-x;}

#top{background:url(/html/img/new_index/index_top.gif) repeat}

#top .info,.toplink{background:none;}



.t3{font-size: 100%;font-weight: bold;}

h1,h2,h3,h5{display:inline}

.title{position:relative;}

.more{background-position:-886px -56px;height:5px;margin:-3px 0 0;width:34px;text-indent:-9999px;position:absolute;top:50%;right:12px;}

.border{border-top:1px dotted #d1d1d1;}

.left{float:left}

.right{float:right;}

.center{text-align:center;}

a{cursor:pointer;color:#4f4e4e}

a:hover{color:#f60;text-decoration:none;}

p{line-height:25px;margin:0}

.loading{background:url(/html/images/lightbox-ico-loading.gif) no-repeat center center}

.highlight{color:#f60}

	/*list*/

	.list{overflow:hidden;_zoom:1;}

	.list li{background-position:0 -480px;border-bottom:1px dotted #d1d1d1;height:25px;line-height:25px;margin-bottom:-1px;overflow:hidden;padding-left:10px;}

	.list .odd{}

	.list .even{background-color:#f3f3f3;}

	/*pList*/

	.pList{overflow:hidden;_zoom:1;}

	.pList li {float:left;}

	/*c-list*/

	.c-list{overflow:hidden;_zoom:1;}

	.c-list li{background-position:10px -498px;height:25px;line-height:25px;overflow:hidden;padding-left:25px;}

	/*o-list*/

	.o-list{overflow:hidden;_zoom:1;}

	.o-list li{background-position:-292px -498px;float:left;height:25px;line-height:25px;overflow:hidden;padding-left:10px;width:112px;}

	/*showImg*/

	.showImg{clear:both;display:block;margin:0 0 10px}

	.showImg img{display:block;}

	/*img*/

	.img{border:1px solid #ccc;display:block;overflow:hidden;}

	.img img{display:block;}

	/*tableMod*/

	.tableMod{background:#d1d1d1;}

	.tableMod th{background:#fbf4ed;color:#444;padding:5px;}

	.tableMod td{background:#fff;color:#666;padding:5px;text-align:center;}

	.tableMod .odd td{}

	.tableMod .even td{background:#fbf4ed;}

/*top*/

#top{width:100%;height:32px;overflow:hidden;margin:0 auto;}

#top .info{float:left;background-position:-295px -32px;pline-height:32px;padding-left:10px;width:250px;overflow:hidden;}

.toplink{float:right;background-position:415px  -32px;padding-right:10px;}

#top ul{overflow:hidden;line-height:32px;}

#top ul li{float:left;margin-right:5px;}

	.help{background-position:0 -625px;padding:0 5px 0 20px;}

	.addProduct{background-position:-285px -520px;float:left;display:block;padding:0 5px 0 20px;}

	.members{background:url(../img/header_bg.gif) no-repeat -185px -359px;float:left;font-weight:bold;display:block;padding:0 5px 0 20px;}

	.slide .aboutVip{background-position:4px -541px;display:block;padding-left:20px;}

	.slide .joinVip{background-position:4px -518px;display:block;padding:0 5px 0 20px;}

	.slide .fastJoin{background-position:0 -595px;display:block;padding:0 5px 0 20px;}



	/*slide*/

	.slide{}

	.slide a{background-position:-220px -618px;display:block;width:75px;height:27px;overflow:hidden;padding:0 8px 0 3px;text-align:left;}

	.slide .hover{background-color:#fff;background-position:-221px -618px;padding:0 7px 0 2px;border:1px solid #ccc;border-width:0 1px;position:relative;}

	.slide ul{background:#FFF;border:1px solid #ccc;border-top:0;text-align:left;overflow:hidden;position:absolute;float:left; padding:2px 3px;width:120px;z-index:99;}

	.slide ul li{float:none;width:100%;height:22px;overflow:hidden;}

	.slide ul li a{font-weight:100;line-height:22px;display:block;padding-left:5px;width:100%;}

	.slide ul li a:hover{background-color:#eeedeb;color:#000}	

/*header*/

#header{width:970px;height:90px;margin:10px auto 0;position:relative;}

#logo{float:left;margin: 15px 0 0;}

/*search*/

#search{display:inline;float:left;margin:10px 0 0 60px;overflow:hidden;height:65px;}

	.search_option{}

	.search_option ul{overflow:hidden;width:500px;padding-left:10px;}

	.search_option li{background-position:-84px -106px;color:#333;cursor:pointer;float:left;line-height:24px;margin-right:10px;width:75px;text-align:center;}

	.search_option .current{background-position:-4px -106px;color:#fff;}

	.search_main{background-position:0 -54px;float:left;height:40px;overflow:hidden;width:520px;}

		.search_l{background-position:-297px -94px;height:40px;width:3px;display:block;float:left;}

		.search_r{background-position:0 -94px;height:40px;width:3px;display:block;float:right;}

		.search_input{background:#fff;border:1px solid #dc7000;float:left;height:20px;line-height:20px;margin:3px;width:370px;padding:5px;}

		.search_submit{background-position:-194px -98px;border:medium none;float:left;width:102px;height:32px;margin:3px 0 0 20px;display:block;}



.festival-xmax{background:url(/html/img/logo_20111225.jpg) no-repeat 50% 0;}

.festival-newyear{background:url(/html/img/logo_20120101.jpg) no-repeat 50% 0;}

.festival-spring{background:url(/html/img/logo_20120125.jpg) no-repeat 50% 0;}

.festival-lantern{background:url(/html/img/logo_20120206.jpg) no-repeat 50% 0;}

.festival #header{height:110px}

.festival #logo,.festival #search{margin-top:30px;}

.festival-xmax #search{margin-left:10px;}		



/*chat*/

.chat{position:absolute;right:0;top:0;}

.chat span{background-position:-95px -405px;display:block;color:#f60;cursor:pointer;font-weight:bold;height:29px;line-height:29px;width:70px; padding:0 27px 0 68px;}

.chat .wrap-content{background-position:-93px -434px;display:none;left:30px;margin-top:-7px;padding:12px 0 0;position:absolute;width:167px;}

.chat ul{background:#fff;border:1px solid #cbcbcb;border-top:0;overflow:hidden;padding:5px;_zoom:1;}

.chat li{float:left;width:50%;text-align:center;}



/*nav*/
.nav_left{background:url(/html/images/header_bg.gif) 0 -128px;display:block;width:5px;height:38px;float:left;}
.nav_right{background:url(/html/images/header_bg.gif) 5px -128px;display:block;width:5px;height:38px;float:right;}
#nav {margin: 10px auto 0;width: 970px;position: relative;z-index: 1;}
.nav_wrap {background: url(/html/images/header_bg.gif) repeat-x 0 -90px;float: left;height: 38px;width: 960px;overflow: hidden;}
#nav ul {display: inline;overflow: hidden;margin: 0 5px;line-height: 38px;float: left;}
#nav ul li {background: url(/html/images/header_bg.gif) no-repeat scroll 0 -240px;display: inline;float: left;font-size: 14px;padding-left: 30px;font-weight: bold;margin: 0 10px;color: #fff;}
#nav ul li a {color: #fff;}
#nav ul .first {background: url(/html/images/header_bg.gif) no-repeat 0 -171px;padding-left: 5px;}
#nav ul .first a {background: url(/html/images/header_bg.gif) no-repeat scroll right -202px;display: block;line-height: 34px;padding: 2px 25px 0 23px;color: #ee7317;}
#nav ul li a:hover{text-decoration: underline;}
#nav ul li.nav_1 ul {background: none repeat scroll 0 0 #FD8C27;display: none;width: 120px;z-index: 100;	border:1px solid #fff;padding:10px 0;}
#nav ul li:hover ul {display: block;padding-top: 5px;position: absolute;margin:0 0 0 -25px;*margin:28px 0 0 -90px;}
#nav  ul li:hover ul li {clear: both;display: block;margin:0 0 0 10px;border-bottom:1px solid #fff; background:none; padding:0; height: 30px; width:100px; text-align:center;line-height: 30px;}
#nav ul li:hover ul li a {color: #FFFFFF;font-size: 14px;height: 30px;line-height: 30px;text-align: center;width: 80px;}
#nav ul li:hover ul li a:hover{color:#ffe400;}
/*sildeBox*/

.slideBox{border:1px solid #e0e0e0;height:210px;overflow:hidden;position:relative;}

.slides,.triggers{position:absolute;}

.slides li {background:#fff url(/html/images/spinner.gif) no-repeat;float: left;height:210px;display:inline;}

.slides img{display:block;}

.triggers{background:url(/html/img/new_index/triggers.png) no-repeat 0 3px;right:0;bottom:0;padding-left:367px;_padding-left:365px}

.triggers li{background-position:-77px -419px;color:#FFF;font-weight:bold;float:left;font-family:Verdana;font-size:9px;height:16px;margin:0 0 0 1px;padding:3px 0 0;width:16px;cursor:pointer;text-align:center;}

.triggers .active{background-position:-51px -419px;display:block;float:left;padding:3px 0 0;width:26px;}

.triggers{_background: none;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="/html/img/new_index/triggers.png");}





/*global-buyer*/

.global-buyer{background-position:0 -89px;border:1px solid #ccc;border-top:0;margin-bottom:8px;overflow:hidden;_zoom:1;}

.global-buyer .title{background-position:0 -89px;border-bottom:1px solid #e0e0e0;height:28px;line-height:28px;overflow:hidden;position:relative;}

.global-buyer span.t3{margin-right:150px;padding-left:10px;}

.global-buyer span.t3 a{}

.global-buyer span.t3 a:hover{}



.global-buyer .wrap-content{border-bottom:1px dotted #d1d1d1;float:left;width:50%;height:117px;margin-bottom:-1px;overflow:hidden;position:relative;}

.global-buyer .en{border-left:1px dotted #ccc;margin-left:-1px;}

.global-buyer ul{padding:0 10px;position:absolute;}

.global-buyer li{height: 21px;line-height: 21px;padding: 0 0 3px;overflow: hidden;word-wrap:break-word}

.global-buyer strong{color:#f60}

.global-buyer .code{float:left;margin:2px 5px 0 0}



/*loginBox*/

.loginBox{background-position:-50px -295px;margin:0 0 9px;padding:4px 0 0;}

.loginBox .fix{background-position:-50px -299px;height:4px;overflow:hidden;}

	.loginWrap{background:#f2f2f2;border:1px solid #e7e7e7;border-width:0 1px;padding:2px;text-align:center;}

	.login-operate{overflow:hidden;_zoom:1;}

	.login-operate li{background-position:-50px -350px;display:inline;float:left;margin:0 3px 8px;padding-left:15px;line-height:32px;}

	.login-operate li a{background-position:right -350px;color:#666;;display:inline-block;font-weight:bold;padding-right:10px;}

	.loginWrap .hr{background-position:-50px -303px;display:block;height:2px;margin:10px auto;;overflow:hidden;}

	.loginWrap img{clear:both;display:block;}

	.login-btn{background-position:-167px -305px;color:#e01319;display:inline-block;font-size:14px;font-weight:bold;height:45px;line-height:45px;width:117px;}

	a.login-btn:hover{background-position:-50px -305px;color:#fff;}

	.sns-link{border-top:1px dotted #ccc;line-height:24px;margin:4px 0 0;overflow:hidden;_zoom:1;padding:4px 12px 0;}

	.sns-link dt{float:left;color: #333;font-weight:700;}

	.sns-link dd{float: left;padding: 0 6px;}

	

	

/*mod-latest,mod-site*/

.mod-latest{margin-bottom:7px;}.mod-site{margin-bottom:10px;}

.mod-latest .title,.mod-site .title{background-position:-700px -83px;color:#f60;font-size:14px;height:27px;line-height:27px;overflow:hidden;padding-left:25px;}

.mod-latest .title span.t3,.mod-site .title span.t3{font-size: 100%;font-weight: bold;}

.mod-latest .wrap-content,.mod-site .wrap-content{border:1px solid #ccc;border-top:0;overflow:hidden;_zoom:1;}

.mod-latest li{background-position:15px -480px;border:0;border-top:1px dotted #d1d1d1;color:#999;margin:-1px 0 0;padding-left:30px;}

.mod-latest .highlight{color:#c00;font-weight:bold;}

.mod-site li{background-position:15px -480px;border:0;border-top:1px dotted #d1d1d1;margin:-1px 0 0;padding-left:30px}

.mod-site .highlight{color:#5d74af;}

.mod-site img{margin:10px auto;}



/*mod-price*/

.mod-price{margin-bottom:10px;overflow:hidden;_zoom:1;}

.mod-price .title{background-position:-4px -1px;border:1px solid #ccc;height:34px;line-height:34px;overflow:hidden;}

.mod-price span.t3{background-position:-285px -494px;color:#f60;float:left;font-size:14px;font-weight:bold;padding-left:25px;}

.mod-price .wrap-content{border:1px solid #ccc;border-top:0;padding:4px 0 0;_zoom:1;}

.mod-price .c-list li{float:left;height:22px;line-height:22px;width:44%;}

.mod-price .border{margin-top:2px;padding-top:2px;}

/*mod-today*/

.mod-today{margin-bottom:10px;overflow:hidden;_zoom:1;}

.mod-today .title{border-bottom:1px solid #f07412;height:35px;line-height:35px;overflow:hidden;}

.mod-today span.t3{background-position:-285px -494px;color:#f60;float:left;font-size:14px;font-weight:bold;padding-left:25px;}

.mod-today .fix{background-position:right 0;position:absolute;right:0;top:0;height:35px;width:5px;}

.mod-today .wrap-content{border:1px solid #ccc;border-top:0;padding:3px 0;_zoom:1;}

.mod-today .c-list li{border-bottom:1px dotted #ccc;color: #999999;height:24px;line-height:24px;margin-bottom:-1px}

.mod-today .highlight{color: #CC0000;font-weight: bold;}

/*mod-activity*/

.mod-activity{margin-bottom:10px;overflow:hidden;_zoom:1;}

.mod-activity .title{border-bottom:1px solid #f60;height:35px;overflow:visible;padding:0 0 0 5px;}

.mod-activity .tabs{background-position:right 0;height:35px;width:265px;position:absolute;}

.mod-activity .tabs li{color:#515151;cursor:pointer;display:inline;float:left;font-size:14px;height:31px;line-height:30px;margin:0 10px;padding:5px 0 0 11px;width:70px;text-align:center;}

.mod-activity .tabs .active{background-position:0 -40px;font-weight:bold;}

.mod-activity .wrap-content{border:1px solid #ccc;border-top:0;overflow:hidden;padding:8px 5px 4px;_zoom:1;}

.mod-activity .img{border:none;float:left;margin:0 15px 0 5px}

.mod-activity .figcaption{display:block;height:20px;line-height:20px;overflow:hidden;}

.mod-activity li{height:24px;line-height:24px;}

.mod-activity strong{display:block;height:21px;line-height:21px;overflow:hidden}

/*mod-news*/

.mod-news{margin-bottom:10px;overflow:hidden;_zoom:1;}

.mod-news .title{background-position:-1px -4px;border:1px solid #ccc;height:30px;line-height:30px;overflow:hidden;}

.mod-news span.t3{background-position:-285px -497px;color:#f60;float:left;font-size:14px;font-weight:bold;padding-left:25px;}

.mod-news .wrap-content{border:1px solid #ccc;border-top:0;overflow:hidden;padding:10px 15px;_zoom:1;}

.mod-news .img{clear:both;float:left;margin:5px 10px 5px 0;}



/*mod-fly*/

.mod-fly{margin-bottom:10px;overflow:hidden;_zoom:1;}

.mod-fly .title{background-position:-1px -4px;border:1px solid #ccc;height:30px;line-height:30px;overflow:hidden;}

.mod-fly span.t3{background-position:-285px -497px;color:#f60;float:left;font-size:14px;font-weight:bold;padding-left:25px;}

.mod-fly .wrap-content{border:1px solid #ccc;border-top:0;height:295px;overflow:hidden;padding:10px 15px;_zoom:1;}

.mod-fly li:hover{background:#f0f0f0;}

.mod-fly .pList li{display:inline;width:125px;height:160px;padding:5px;margin:10px; text-align:center;overflow:hidden;word-wrap:break-word}

.mod-fly .pList a{height:32px;line-height:16px;}

.mod-fly .pList .img{background:#fff;width:120px;height:120px;margin:0 auto 10px;}

.mod-fly .siteList li{display:inline;float:left;width:167px;padding:5px;margin:5px;position:relative;}

.mod-fly .siteList a{display:block;height:35px;overflow:hidden;text-align:left;}

.mod-fly .siteList .img{float:left;width:48px;height:48px;margin-right:5px;}

.mod-fly h4{font-size:14px;font-weight:bold;line-height:24px;padding:5px}

.mod-fly p{color:#666;line-height:14px;position:absolute;bottom:0;left:60px;}



/*mod-tradeshow*/

.mod-tradeshow{margin-bottom:10px;overflow:hidden;_zoom:1;}

.mod-tradeshow .title{background-position:-1px -4px;border:1px solid #ccc;height:30px;line-height:30px;overflow:hidden;}

.mod-tradeshow span.t3{background-position:-285px -497px;color:#f60;float:left;font-size:14px;font-weight:bold;padding-left:25px;}

.mod-tradeshow .img{clear:both;float:left;margin:5px 10px 5px 0;}

.mod-tradeshow .wrap-content{border:1px solid #ccc;border-top:0;overflow:hidden;padding:10px 15px;_zoom:1;}

	/*hotList*/

	.hotList{border-right:1px dashed #ccc;float:left;width:265px;overflow:hidden;padding-right:5px;}

	.hotList li{border-bottom:1px dotted #ebebeb;height:76px;overflow:hidden;padding:5px 5px 5px 70px;position:relative;}

	.hotList img{border:1px solid #ccc;padding:1px;position:absolute;top:5px;left:5px;}

	.hotList strong,.hotList i,.hotList span{color:#333;display:block;font-style:normal;line-height:20px;}

	.hotList strong{color:#666}

	.hotList i{color:#999}

	.hotList a{display:block;overflow:hidden;_zoom:1;}

	.hotList a:hover strong{color:#f63;}

	/*lastList*/

	.lastList{float:right;width:375px;overflow:hidden;}

	.lastList li{color:#999;height:25px;line-height:25px;overflow:hidden;padding-right:70px;position:relative;}

	.lastList span{position:absolute;right:0}

/*merchants*/

.merchants{margin-bottom:10px;overflow:hidden;_zoom:1;}

.merchants .title{background-position:0 4px;height:40px;}

.merchants span.t3 {background-position:-293px -41px;color:#fff;float:left;font-size:14px;font-weight:bold;height:27px;line-height:27px;margin-left:25px;text-align:center;width:129px;}

.merchants .more{margin:0}

.merchants .wrap-content{border:1px solid #e1e1e1;height:180px;overflow:hidden;padding:10px;position:relative;}

.merchants .wrap-content ul{position:relative;width:100%;}

.merchants .wrap-content li{display:inline;float:left;width:154px;height:90px;margin:0 17px 5px;overflow:hidden;}

.merchants .wrap-content a{cursor:pointer;display:block;margin:0 auto;word-wrap:break-word;text-align:center;}

.merchants .wrap-content .img{border:1px solid #ccc;display:block;height:60px;margin:0 auto 5px;padding:1px;width:150px;overflow:hidden;}



/*category*/

.category{margin-bottom:10px;overflow:hidden;_zoom:1;}

.category .title{background-position:0 -76px;height:34px;position:relative;}

.category span.t2{float:left;text-indent:-9999px}

	.btn-post{background-position:-50px -382px;color:#f00;height:23px;line-height:23px;width:65px;padding-left:18px;position:absolute;text-align:center;top:5px;right:10px;}

.category .wrap-content{background:#f0f7f8;border:1px solid #b5d2df;border-top:0;padding:25px 0;}

.category ul{border-bottom:1px dotted #d1d1d1;margin-bottom:-1px;overflow:hidden;_zoom:1;}

.category li{display:inline;float:left;width:199px;height:28px;margin:0 15px;line-height:28px;overflow:hidden;}

.category a{color:#333;margin-right:3px;white-space:nowrap;}

.category span.t5{font-size:14px;font-weight: bold;}

.category span.t5 a{color:#0092d2}

.category span.t5 .highlight{color:#f60}

/*subfooter*/

.subfooter{background-position:0 -177px;border:1px solid #e5e5e5;margin:10px auto;overflow:hidden;width:968px;_zoom:1;}	

	.box{background-position:131px -310px;float:left;padding:15px 20px;overflow:hidden;width:92px;_zoom:1;}

		#service,#guide{background-position:218px -310px;width:180px;}

		#help{background:none;}

	.box .title{display: block; background-position:-193px -50px;color:#333;font-weight:bold;height:21px;line-height:20px;margin:0 0 10px;padding-left:10px;width:79px}

	.box ul{overflow:hidden;_zoom:1;}

	.box li{background-position:-294px -481px;margin: 0 0 5px;padding-left:12px}

	.box a{}

	.box a:hover{}

		/*innerList*/

		.innerList li{float:left;width:78px;}

/*link*/

.link{overflow:hidden;_zoom:1;position:relative;}

.link .tabs{background-position:-1px -3px;border:1px solid #ccc;height:30px;padding:0 15px;overflow:hidden;_zoom:1;}

.link .tabs li{color:#333;cursor:pointer;float:left;font-weight:bold;line-height:34px;width:94px;text-align:center;}

.link .tabs li.current{background-position:-81px -40px;}

.link .more{top:20px;}

.link .item{border:1px solid #ccc;border-top:0;clear:both;overflow:hidden;padding:5px;}

.link .item li{color:#999;display:inline;margin:0 1px;line-height:18px;}

.link .item li a{color:#666}

/*footer*/

#footer{background-position:0 -303px;clear:both;font-family:Arial;width:970px;margin:10px auto 0;}

#footer p{line-height:1.6;text-align:center;margin:0}

#footer a{color:#000;margin:0 5px;}

	.footer_nav{background-position:-1px -3px;border:1px solid #ccc;color:#ccc;height:30px;line-height:30px;margin-bottom:20px;text-align:center}

	.beian{height:60px;margin:0;overflow:hidden;}

	.beian img{margin:0 0 -20px;}



