@charset "utf-8";
/***** Global *****/
	/* Reset */	
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, font, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		outline: 0;
		font-size: 100%;
		background:none;
		}
		fieldset {
			border: 0;
		}
		
		ol, ul {list-style: none}
		
		/* remember to define focus styles! */
		:focus {
			outline: 0;
		}
		
		/* remember to highlight inserts somehow! */
		ins {
			text-decoration: none;
		}
		del {
			text-decoration: line-through;
		}

		blockquote:before, blockquote:after, q:before, q:after {content: ""}
		blockquote, q {quotes: "" "" }
		
/* Body */
body {
	font: 12px/1.231 Arial,\5b8b\4f53,Helvetica,sans-serif;
	padding-bottom:20px;}	
/* Links */
	a img {border: 0px; text-decoration: none}
	a{color:#333;text-decoration: none;outline:none;}
	a:hover, a:active {text-decoration:underline;}
	
/* Paragraphs */
	p {
    margin-bottom: 1.3em;
    line-height: 1.4;
    text-align: left;
	}
	
	strong, b {font-weight: bold}
	em, i {font-style: italic}

/* Lists */
ul {
  line-height: 1.5;
}
ol {
  margin: 1em 0 1.5em 2.5em;
  line-height: 1.5;
  list-style: outside decimal
}
/* Clears */
 .clear{clear:both;}
#body:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0
}
/*login-box*/
#login-box{font-size:12px;background:url(../img/bg.gif) no-repeat 0 -8px;width:600px;padding-top:8px;position:absolute;left:50%;margin:-200px 0 0 -300px;top:50%;z-index:99}
#login-box .close{background:url(../img/close.gif);cursor:pointer;display:block;width:15px;height:15px;position:absolute;right:10px;top:10px;}
#login-box .login-wrap{background:url(../img/bg.gif) repeat-y -600px;padding:0 10px;overflow:hidden;_zoom:1;}
#login-box .fix{background:url(../img/bg.gif) no-repeat;height:8px;}
#login-box .title{color:#333;font-size:14px;font-weight:bold;line-height:24px;border-bottom:1px solid #ccc;padding:5px;}
#login-box .login{float:left;width:350px;padding:10px;}
#login-box .login table{}
#login-box .login th{font-size:14px;font-weight:100;padding:5px;}
#login-box .login td{padding:5px;}
#login-box .login p{color:#666;margin:5px 0 0;}
#login-box .login a{color:#33f;text-decoration:underline;}
#login-box .login .right{float:right;}
#login-box .login .btn{background: url(../img/button.gif) 0 -36px;border: medium none;color: #AF3A00!important;display: block;font-size: 14px;font-weight: bold;height: 25px;line-height:26px;margin-top:20px;padding: 0 0 2px;text-align:center;text-shadow: 0 1px 0 #FEEECD;text-decoration:none;width: 114px;}
#login-box .login #username,.login #password{border: 1px solid #7F9DB9;font-size: 14px;height: 17px;margin-right:10px;padding: 4px 5px 6px;width: 190px;}
#login-box .login #submit{color:#333;font-size: 14px; font-weight: bold;padding: 2px 0;width:97px;}
#login-box #quick-login{padding:20px 0 40px 90px;}
#login-box .reg{background: url(../img/button.gif);color: #B75200;display: block;font-size: 14px;font-weight: bold;height: 36px;line-height: 36px;margin-top:20px;text-align: center;text-shadow: 0 1px 0 #FFFFCC;width: 104px;text-decoration:none;}
#login-box .quick{background:url(../img/shadow.gif) no-repeat 0 50%;float:right;height:120px;width:160px;padding:50px 10px 10px 40px;}

/*floatad_expire*/
#floatad_expire{width:279px;height:108px; position:absolute; z-index:2147483647;}
#floatad_expire p{ position:relative;}
#floatad_expire a.close{display:block; position:absolute; top:88px; left:256px; z-index:100; cursor:pointer;}