/*fonts*/
@font-face {
	font-family: 'LatoRegular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-regular-webfont.woff') format('woff'),
		 url('../fonts/lato-regular-webfont.ttf') format('truetype'),
		 url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'LatoHeavy';
	src: url('../fonts/lato-heavy-webfont.eot');
	src: url('../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-heavy-webfont.woff') format('woff'),
		 url('../fonts/lato-heavy-webfont.ttf') format('truetype'),
		 url('../fonts/lato-heavy-webfont.svg#latoheavy') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LatoBold';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-bold-webfont.woff') format('woff'),
		 url('../fonts/lato-bold-webfont.ttf') format('truetype'),
		 url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LatoBlack';
	src: url('../fonts/lato-black-webfont.eot');
	src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-black-webfont.woff') format('woff'),
		 url('../fonts/lato-black-webfont.ttf') format('truetype'),
		 url('../fonts/lato-black-webfont.svg#latoblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LatoMedium';
	src: url('../fonts/lato-medium-webfont.eot');
	src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-medium-webfont.woff') format('woff'),
		 url('../fonts/lato-medium-webfont.ttf') format('truetype'),
		 url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	color: #000;
	background: #fff url(../images/bg.jpg);
	font: 13px/15px 'LatoRegular', arial, sans-serif;
}
/*reset browsers*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {border-style: none; max-width: 100%; height: auto;}
input, select, textarea, button {
	border-style: none;
	padding: 0;
	color: #000;
	vertical-align: middle;
	font-family: 'LatoRegular', arial, sans-serif;
	font-size: 100%;
}
button {cursor: pointer;}
h1, h2, h3, h4, h5, p, strong {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
a {
	color: #000;
	text-decoration: none;
}
#pluginIdTFPU_2 {display: none;}
/*select element color*/
::selection { background: #01aeff; color: #fff; }
::-moz-selection { background: #01aeff; color: #fff; }
::-webkit-selection { background: #01aeff; color: #fff; }

a:hover {text-decoration: none;}
input:focus, textarea:focus, button:focus, select:focus {outline: none;}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*placeholder cross-browser*/
input:-moz-placeholder {color: #aeaeae; opacity: 1;}
input::-moz-placeholder {color: #aeaeae; opacity: 1;}
input::-webkit-input-placeholder {color: #aeaeae;}
input:-ms-input-placeholder {color: #aeaeae;}
input::placeholder {color: #aeaeae;}
input.placeholder {color: #aeaeae !important;}
input:focus:-moz-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}
input:focus::placeholder {color: transparent;}
/*clear-fix*/
.clear-fix:before, .clear-fix:after {
	content: '';
	display: table;
	clear: both;
	visibility: hidden;
}
/*container*/
.container {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	padding: 0 5px;
}
/*clear-fix container*/
.container:before,
.container:after {
	content: '';
	display: table;
	clear: both;
}
/*header*/
.header {
	background: #1f1f1f;
	border-bottom: 1px solid #fff;
}
.head-top {
	border-left: 1px solid #272727;
	border-right: 1px solid #272727;
	box-shadow: 0px -1px 2px #000;
	overflow: hidden;
	webkit-transition: padding-left 0.5s;
	moz-transition: padding-left 0.5s;
	o-transition: padding-left 0.5s;
	transition: padding-left 0.5s;
}
.head-top .holder {
	float: left;
}
/*logo*/
.logo {
	width: 156px;
	height: 32px;
	float: left;
	margin: 5px 10px;
}
/*navigation*/
.nav {
	font-size: 0;
	float: left;
}
.nav li {
	border-left: 1px solid #272727;
	border-right: 1px solid #272727;
	box-shadow: 0px -1px 2px #000;
	display: inline-block;
	vertical-align: top;
	font: 16px/18px arial, sans-serif;
	font-weight: bold;
}
.nav li a, .head-nav li, .btn_a  {
	padding: 13px 20px;
	display: inline-block;
	color: #777777;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	-ms-transition: background 0.5s, color 0.5s;
	-o-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
	cursor: pointer;
}
.nav li a:hover, .btn_a:hover, .head-nav li a.active, .head-nav li a.btn_a {
	background: #191919;
	color: #992424;
}
.nav li a.home-btn {
	text-indent: -99999px;
	background: url(../images/home.png) no-repeat 50% 50%;
}
.nav li a.home-btn:hover {
	background-image: url(../images/home-hover.png);
}
/*drop down container*/
.dropable {
	padding: 20px;
	position: absolute;
	left: 0;
	max-width: 990px;
	margin: 0 auto;
	right: 0;
	z-index: 999;
	display: none;
	width: 100%;
	background: url(../images/drop-bg.png);
	border-radius: 0 0 2px 2px;
}
.cols {
	float: left;
	width: 20%;
	padding: 0 10px 0 0;
}
.cols:last-child {padding: 0;}
.cols li {
	box-shadow: none;
	border: none;
	display: block;
	font: 13px/15px 'LatoBold', arial, sans-serif;
}
.cols li a {
	padding: 10px 11px;
	color: #e9e9e9;
	border-radius: 2px;
	white-space: nowrap;
	overflow: hidden;
	max-height: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	max-width: 100%;
}
.cols li a:hover {
	background: #fff;
	color: #000;
}
.cols li a:hover span {
	color: #c51a1a;
}
.cols span {
	font-size: 10px;
	color: #777777;
	padding: 0 5px;
}
.dropable .all-btn {
	float: right;
	background: #df1b1b;
	padding: 0px 11px 0 0px;
	color: #fff;
	font: 13px/15px 'LatoBold', arial, sans-serif;
	border-radius: 2px;
	margin: 20px 0 0;
}

.all-btn-icon   {
	display: inline-block;
	background: url(../images/all-cat-btn.png) no-repeat 49% 50%;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-right: 1px solid #252525;
	border-radius: 2px 0 0 2px;
	margin: 0 11px 0 0;
}
.dropable .all-btn:hover  {
	background: #c51a1a;
	color: #fff;
}
.dropable .all-btn span {
	vertical-align: middle;
}
/*search*/
.search {
	padding: 8px;
	overflow: hidden;
	position: relative;
}
.search-text {
	width: 100%;
	height: 30px;
	background: transparent;
	border: 1px solid #444444;
	border-radius: 2px;
	font-size: 13px;
	line-height: 18px;
	padding: 7px 40px 7px 15px;
	color: #aeaeae;
}
.search-text:focus {
	border: 1px solid #636363;
}
.search-text:focus + .search-btn {
	border-left: 1px solid #636363;
}
.search-btn {
	position: absolute;
	right: 8px;
	padding: 0 0px 0 0;
	top: 8px;
	width: 35px;
	border-left: 1px solid #444444;
	height: 30px;
	text-indent: 99999px;
	overflow: hidden;
	background: url(../images/search-btn.png) no-repeat 50% 50%;
	cursor: pointer;
	z-index: 10;
}
.main {
	position: relative;
	z-index: 1;
}
.date {
	overflow: hidden;
	padding: 17px 0 5px;
}
.date span {
	float: right;
	font-family: 'LatoHeavy', arial, sans-serif;
	color: #777777;
}
/*thumb*/
.thumbs {

	padding: 18px 22px 0;
	background: #f1f3f3;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
}
.thumbs ul {
	overflow: hidden;
	font-size: 0;
	margin: 0 -13px 0 -16px;
	text-align: center;
}
.thumbs li {

	width: 168px;
	display: inline-block;
	font-size: 13px;
	line-height: 15px;
	margin: 0 13px 11px;
	position: relative;
	vertical-align: top;
	cursor: pointer;
	padding: 3px 3px 11px;
	border-radius: 2px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-ms-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	border: 1px solid transparent;
}
.thumbs li a {
	display: block;
	line-height: 1;
	position: relative;
}
.thumbs li:hover {
	background: #e6e6e6;
	border: 1px solid #e1e1e1;
}
.thumbs li:hover img {
	border: 1px solid #ff0000;
}
.thumbs li img {
	width: 160px;
	height: 120px;


	display: block;
	border: 1px solid #cecece;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-ms-transition: border 0.5s;
	-o-transition: border 0.5s;
	transition: border 0.5s;
}
.title {
	text-align: left;
}
.title h3 {
	color: #181818;
	font: 13px/18px arial, sans-serif;
	font-weight: bold;
	margin: 2px 0 0;
	min-height: 36px;
	word-wrap: break-word;
}
.caption {
	overflow: hidden;
	margin: 4px 0 0;
}
.views {
	float: left;
	font: 11px/17px 'LatoBold', arial, sans-serif;
	color: #7f7f7f;
}
.like {
	float: right;
	background: url(../images/like.png) no-repeat 0 0;
	font: 11px/17px 'LatoHeavy', arial, sans-serif;
	color: #bc2626;
	padding: 0 0 0 16px;
}
.time {
	position: absolute;
	padding: 4px 7px;
	left: 1px;
	bottom: 1px;
	color: #fff;
	background: rgba(0,0,0,.5);
	font: 10px/12px 'LatoBold', arial, sans-serif;
	border-radius: 0 2px 0 0;
	text-shadow: 0 1px 0 rgba(0,1,3,.28);
}
.time2 {
	position: absolute;
	padding: 4px 7px;
	left: 4px;
	bottom: 12px;
	color: #fff;
	background: rgba(0,0,0,.5);
	font: 10px/12px 'LatoBold', arial, sans-serif;
	border-radius: 0 2px 0 0;
	text-shadow: 0 1px 0 rgba(0,1,3,.28);
}
.thumbs li.spot {
	float: right;
	padding: 25px 33px 25px;
	width: 368px;
	background: #e6e6e6;
	border: 1px solid #e1e1e1;
	margin-left: 7px;
}
.thumbs li.spot:hover img {
	border: 1px solid #cecece;
}
/*banner*/
.banner {
	padding: 18px 0 0;
	overflow: hidden;
	margin: 30px 0 0;
}
.banner ul {
	margin: 0 -11px;
}
.banner li {
	width: 300px;
	margin: 0 11px 19px;
	border: none;
	padding: 0;
}
.banner li img, .banner li:hover, .banner li:hover img  {
	border: none;
	background: none;
}
/*recent*/
.recent {
	padding: 15px 8px 0;
}
.container h2 {
	color: #999999;
	font: 16px/18px arial, sans-serif;
	font-weight: bold;
	margin: 0 0 20px;
}
.recent-list {
	font-size: 0;
	padding: 0 10px 20px;
	margin: 0 -3px;
}
.recent-list li {
	font-size: 13px;
	display: inline-block;
	margin: 0 3px 8px;
}
.recent-list li a {
	font-family: 'LatoMedium', arial, sans-serif;
	display: block;
	padding: 5px 9px;
	color: #383838;
	border-radius: 2px;
	background: #e5e5e5;
	-webkit-transition: background 0.5s, color 0.5s;
	-moz-transition: background 0.5s, color 0.5s;
	-ms-transition: background 0.5s, color 0.5s;
	-o-transition: background 0.5s, color 0.5s;
	transition: background 0.5s, color 0.5s;
}
.recent-list li a:hover {
	background: #9c9c9c;
	color: #f2f2f2;
}
/*footer*/
.footer {
	padding: 40px 0 24px;
}
.footer-nav {
	padding: 0 0 0 25px;
	float: left;
	font-size: 0;
}
.footer-nav p {
	color: #848484;
	font-size: 13px;
	line-height: 15px;
	margin: 0 0 13px;
}
.rta {
	display: block;
}
.footer-nav ul {
	margin: 0 0 9px;
}
.footer-nav li {
	font-size: 13px;
	display: inline-block;
	background: url(../images/separ-nav.png) no-repeat 0 50%;
	padding: 0 12px;
}
.footer-nav li:first-child {
	background: none;
	padding-left: 0;
}
.footer-nav li a {
	font-family: 'LatoMedium', arial, sans-serif;
	display: block;
	color: #000;
}
.footer-nav li a.active, .footer-nav li a:hover {
	border-bottom: none;
	color: #9e2323;
}
.footer-nav li a.active {
	cursor: default;
}
.footer .logo {
	width: 155px;
	height: 32px;
	float: right;
	margin: 0 20px 0 0;
}
.goUp {
	background: rgb(216, 91, 91);
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px 0 0 2px;
	padding: 17px 15px;
	font-size: 15px;
	display: none;
	position: fixed;
	z-index: 300;
	right: 0;
	bottom: 20%;
	font-family: 'LatoHeavy', arial, sans-serif;
	cursor: pointer;
}
.show-more {
	display: none;
}
.show-more {
	position: absolute;
	top: 100%;
	width: 100%;
	text-align: center;
	left: 0;
	margin-top: -35px;
	border-radius: 2px;
	color: #fff;
	background: #d85b5b;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}
.show-more:hover {
	background: #d54141
}
.filter {
	padding: 24px 5px 9px;
}
h1 {
	color: #000;
	font: 18px/20px 'LatoHeavy', arial, sans-serif;
}
.filter h1 {
	float: left;
}
.filter-nav {
	float: right;
}
.add-nav > li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 23px;
	position: relative;
}
.add-nav label {
	font-family: 'LatoHeavy', arial, sans-serif;
	display: inline-block;
	vertical-align: middle;
	color: #777777;
	margin: 0 5px 0 0;
}
.add-nav li a {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 28px 5px 10px;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	color: #878787;
	text-decoration: none;
	border-radius: 3px;
	background-color: #1f1f1f ;
	cursor: pointer;
}
.arrow-ico {
	display: inline-block;
	height: 100%;
	position: absolute;
	right: 9%;
	top: 41%;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #a7a7a7;
}
.add-nav ul {
	display: none;
	position: absolute;
	left: 0;
	z-index: 10;
	margin-top: 7px;
	top: 100%;
	background: #1f1f1f;
	color: #878787;
	width: 177px;
	border-radius: 3px;
}
.add-nav ul:after {
	position: absolute;
	right: 50%;
	top: -5px;
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1f1f1f;
}
.add-nav ul li a {
	padding: 7px 16px;
	margin: 0;
	font-size: 13px;
	background: none;
	display: block;
}
.add-nav ul li a:hover {
	background: #383838;
	color: #fff;
	border-radius: 3px;
}

.add-nav li a.open + ul {
	display: block;
}
/*pagination*/
.pagination {
	text-align: center;
	margin: 15px 0 30px;
}
.pagination ul {
	font-size: 0;
}
.pagination li {
	font-size: 13px;
	display: inline-block;
	margin-left: 3px;
	margin-bottom: 3px;
}
.pagination li:first-child {
	margin: 0;
}
.pagination li a {
	padding: 10px 14px 10px;
	font-size: 13px;
	line-height: 15px;
	display: block;
	background: #d9d9d9;
	color: #000;
	border-radius: 2px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-ms-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.pagination li a:hover {
	background: #c2c2c2;
}
.pagination li a.active, .pagination li a.active:hover {
	background: #c2c2c2;
	cursor: default;
}
.pagination li a.pagination-nav {
	background: #ce1b1b;
	color: #fff;
	padding: 10px 14px 10px;
}
.pagination li a.pagination-nav:hover {
	background: #df1b1b;
}
/*video-page*/
.content {
	overflow: hidden;
	margin: 0 0 25px;
}
.player {
	float: left;
	width: 640px;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
}
.advt-spot {
	float: right;
	max-width: 335px;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
}
.head-title {
	width: 100%;
	background: #ededed;
	text-align: center;
	padding: 12px 0;
	border-bottom: 1px solid #d2d2d2;
}
.head-title h2 {
	color: #000;
	font: 16px/20px 'LatoHeavy', arial, sans-serif;
	margin: 0;
}
.player img {
	margin: 10px 15px 0;
	display: block;
}
.description {
	padding: 11px 15px 8px;
	background: #ededed;
	margin: 10px 0 0;
	border-top: 1px solid #d2d2d2
}
.description p {
	font-size: 12px;
	line-height: 18px;
	color: #000;
	margin: 0 0 3px;
}
.description p span {
	color: #707070;
}
.description p a {
	color: #c50000;
}
.description p a:hover {
	text-decoration: underline;
}
.advt-spot .banner {
	padding: 10px 15px 0;
	margin: 0;
	border: none;
}
.advt .banner ul {
	margin: 0;
}
.advt .banner li {
	margin: 0 0 12px 0;
}
.respon-btn, .respons-nav .nav-tabs li a.respon-btn {
	float: left;
	padding: 23px 22px 23px 22px;
	background: url(../images/respon-btn.png) no-repeat 50% 50%;
	display: none;
	border-right: 1px solid transparent;
	box-shadow: none;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}
.respons-nav {
	top: 0;
	position: fixed;
	left: -300px;
	z-index: 50;
	width: 287px;
	height: 100%;
	webkit-transition: left 0.5s;
	moz-transition: left 0.5s;
	o-transition: left 0.5s;
	transition: left 0.5s;
	background: #222222;
}
.respons-nav-open .respons-nav {
	left: 0;
}
.respons-nav-open .respon-btn {
	border-right: 1px solid #272727;
	box-shadow: 0px -1px 2px #000;
}
.respons-nav-open .head-top {
	padding-left: 230px;
	z-index: 100;
	box-shadow: none;
	border: none;
}
.respons-nav-open .container {
	z-index: 50;
}
.respons-nav .nav {
	float: none;
	display: block;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}
.respons-nav .nav-tabs li {
	font: 14px/16px 'LatoHeavy', arial, sans-serif;
}
.respons-nav .nav-tabs li:first-child {
	border-left: none;
}
.respons-nav .nav-tabs li a {
	padding: 15px 8px;
	color: #777777;
}
.respons-nav .nav li a:hover {
	color: #992424;
}
.nav li.active a {
	color: #992424;
	background: #191919;
}
.respons-nav .tab-content {
	position: absolute;
	top: 47px;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
.respons-nav .tab-content>.tab-pane {
	display: none;
}
.respons-nav .tab-content>.active {
	display: block;
}
.respons-nav .dropable {
	background: #222222;
	padding: 0;
	display: block;
	position: static;
	border-right: 1px solid #000;
}
.respons-nav .dropable .cols {
	width: 100%;
	padding: 0;
	float: none;
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 1px #252525;
	padding: 10px 13px 0;
}
.respons-nav .dropable .cols li {
	display: inline-block;
}
.respons-nav .dropable .cols li:first-child {
	display: block;
}
.respons-nav .dropable .cols li a {
	padding: 6px 2px;
	font-size: 12px;
}
.respons-nav .cols h4 {
	font: 14px/16px 'LatoBold', arial, sans-serif;
	color: #cc0000;
	margin: 0 0 5px 2px;
}
.respons-nav .tags a:first-child {
/*	background: url(../images/tags.png) no-repeat 0 50%; */
	padding: 0 6px 0 20px;
}
.respons-nav .close-btn {
	right: 5px;
	top: 25px;
}
@media screen and (max-width: 1024px) {
	.advt-spot {
		display: none;
	}
	.player {
		width: 100%;
		float: none;
		max-width: none;
		text-align: center;
	}
	.player img {
		display: inline-block;
		padding: 10px 15px 0;
		margin: 0;
	}
	.description {
		text-align: left;
	}
	.nav-tabs {
		overflow: hidden;
	}
	.nav-tabs .respon-btn {
		float: right;
	}
	.nav-tabs ul {
		float: left;
	}
}
@media screen and (max-width: 768px) {
	.respon-btn {
		display: block;
	}
	.header {
		border-bottom: none;
	}
	.head-top {
		position: relative;
	}
	.nav {
		display: none;
	}
	.thumbs {
		padding: 18px 10px 0;
		background: none;
		border: none;
		margin: 0 0 10px;
	}
	.thumbs ul {
		margin: 0;
	}
	.thumbs li.spot {
		display: none;
	}
	.thumbs li {
		width: 152px;
		margin: 0 0 11px;
	}
	/*.time {
		top: 90px;
	}*/
	.time2 {
		top: 118px;
	}
	.title h3 {
		font-size: 12px;
	}
	.banner {
		padding: 18px 0 0;
		overflow: hidden;		
	}
	.banner ul {
		margin: 0 -11px;
	}
	.banner li {
		width: 300px;
		margin: 0 3px 11px;
		border:none;
		padding:0;
	}
	.show-more {
		display: block;
	}
	.main .recent {
		max-height: 348px;
		overflow: hidden;
		position: relative;
	}
	.recent.show {
		height: auto;
		max-height: none;
	}
	.footer .logo {
		margin: 10px auto;
		float: none;
		overflow: hidden;
	}
}
@media screen and (max-width: 540px) { 
	.filter h1 {
		width: 100%;
		margin: 0 0 20px;
		text-align: center;
		float: none;
	}
	.filter-nav {
		float: none;
		text-align: center;
	}
	.respons-nav-open .head-top {
		padding-left: 0;
	}
}
@media screen and (max-width: 480px) { 
	.goUp {
			background: rgb(216, 91, 91);
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px 0 0 2px;
	padding: 17px 15px;
	font-size: 15px;
	display: none;
	position: fixed;
	z-index: 300;
	right: 0;
	bottom: 20%;
	font-family: 'LatoHeavy', arial, sans-serif;
	cursor: pointer;
	}
	.search {
		width: 100%;
	}
	.head-top {
		border: none;
		box-shadow: none;
	}
	.thumbs {
		padding: 18px 0 0;
	}
	.thumbs ul {
		margin: 0 -5px;
	}
	.thumbs li {
		width: 150px;
	}
	.footer {
		padding: 20px 0 24px;
	}
	.footer-nav {
		padding: 0;
		float: none;
		text-align: center;
	}
	.footer-nav li {
		margin: 0 0 15px;
	}
	.filter {
		padding: 10px 5px 0px;
	}
	.row {
		width: 100%;
		margin: 0 0 25px;
	}
	.banner {
		padding: 18px 0 0;
		overflow: hidden;		
	}
	.banner ul {
		margin: 0 -11px;
	}
	.banner li {
		width: 300px;
		margin: 0 3px 11px;
		border:none;
		padding:0;
	}

}





/* new paginaciy*/

/*paging*/
.paging {
	text-align: center;
	margin: 15px 0 30px;
}
.paging ul {
	font-size: 0;
}
.paging li {
	font-size: 13px;
	display: inline-block;
	margin-left: 3px;
	margin-bottom: 3px;
}
.paging a.active {background: #c2c2c2;}

.paging li:first-child {
	border:none;
}
.paging a,
.paging span,
.paging strong {
	padding: 10px 14px 10px;
	font-size: 13px;
	line-height: 15px;
	display: block;
	background: #d9d9d9;
	color: #000;
	border-radius: 2px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-ms-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.paging strong,
.paging a:hover {	background: #c2c2c2;}
.paging .btn-prev,
.paging .btn-next {
	background:url(../images/bg-paging-arrow.png) no-repeat 14px 13px;
	background: #ce1b1b;
	color: #fff;
	padding: 10px 14px 10px;
}
.paging .btn-next {background-position:-48px 13px;}
.paging .btn-prev:hover {background-position:14px -47px;}
.paging .btn-next:hover {background-position:-48px -47px;}









.terms {
width:875px; margin:0 auto;
}

.terms h1{
text-align:center;
margin:0 auto;
font-size:16px;
font-weight:bold;
padding:10px
}



.terms p {
	color: #848484;
	font-size: 13px;
	line-height: 15px;
	margin: 0 0 13px;
}

.terms ul, ol {
padding: 0;
	font-size: 13px;
	display: inline-block;
	margin-left: 3px;
	margin-bottom: 3px;
}

/*

.terms ul {
	list-style:none;
}

.terms li {
	font-size: 13px;
	display: inline-block;
	margin-left: 3px;
	margin-bottom: 3px;
}



	.terms h1, h2, h3, h4, h5, p, strong {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
*/
