.saman_content
{
	padding:12px;
	padding-top:0px;
	float:left; 
	width:96%;
         margin-bottom: 5px;

}
.saman_left
{
	width:81%;
	float:left;
	
	PADDING-RIGHT: 10px;
}
.saman_text
{
	width:100%;
	float:right;
	text-align:right;
	line-height:20px;
	font-family:Tahoma;
	font-size:11px;
	text-align:justify;
}
.saman_right
{
	float:right;
	width:15%;
         padding-right: 8px;
         padding-top: 10px;
}
.saman_header
{
    color: #808080;
    float: right;
    font-family: BMitra;
    font-size: 11px;
    /*padding-top: 9px;*/
    text-align: right;
    width: 40%;
    text-align: right;
}
.saman_header_view
{
	width:100%;
	float:left;
	font-family:BMitra;
	color:#808080;
	font-size:11px;	
	text-align:center;
}
.saman_title_news
{
	width:100%;
	float:right;
	text-align:right;
}
.saman_title_news a:hover
{
	text-decoration:none;
	color:#3a3a3c;	
}
.saman_date
{
	width:30%;
	float:left;
	font-family:tahoma;
	color:#808080;
	font-size:11px;	
	text-align:left;
}
.saman_content_marquee{

	margin:0px!important;
	padding:5px 2px 8px 0px !important;
	color:#000000;
	font-size:11px;
}
.saman_marquee
{
	float:right; 
	width:95%;
}
.saman_moveable_active
{
	float:right;
	width:8px;
	height:8px;
	background-color:#D59033;
	margin-right:3px
}
.saman_moveable_inactive
{
	float:right;
	width:8px;
	height:8px;
	background-color:#CCCCCC;
	cursor:hand;
	margin-right:3px
}
.saman_moveable
{
	padding-right:10px;
	padding-top:5px;
	float:left;
	height:6px;
	width:22%;
}
.saman_moveable_pic
{
	width:100%; 
	float:right;
	text-align:center;
}
.saman_pic
{
	float:left;
	width:33%;
	padding-right:15px;
	padding-bottom:10px;
}
.saman_news_title
{
	float: right; 
	text-align: center; 
	width: 80%; 
	height: 80px;
	margin-top:20px;
}
.saman_news_left
{
	float: left; 
	text-align: right; 
	width: 20%; 
	margin-top: 20px; 
	line-height: 20px;
}
.saman_news_detail
{
	width:100%; 
	float:right;
}
.saman_news
{
	width:100%; 
	float:left; 
	border:1px solid #abaaa6; 
	padding-bottom:5px; 
	background-color:#fff;
}
.saman_abstract
{
	width:99%; 
	float:right; 
	border-bottom:1px #CCCCCC solid; 
	border-top:1px #CCCCCC solid; 
	background-color:#E4E4E4; 
	text-align:justify;
	line-height:20px;
	padding:3px;
}
.saman_title {
    color: #08529B;
    font-family: BMitra !important;
    font-size: 14px !important;
    line-height: 20px;
    padding-right: 4px;
    float:right !important;
    width:98% !important;
    /*padding-top:5px !important; */
}
.saman_title a:link {
    color: #08529B;
    font-family: BMitra ;
    font-size: 14px !important;
    line-height: 25px !important;
}
.saman_date_home
{
	width:100%;
	float:left;
	font-family:BMitra;
	color:#787c7f;
	font-size:11px;	
	text-align:left;
}
.news_home{
float:right; width:80%; background-color:#e7f1f3; border:1px solid #bfcbcb; padding:15px}

.saman_file{
float:right; width:100%; 
}
.saman_picture {

border: 1px solid #a3a3a2 !important;
}