body {
/*	background: #F6F7EB;*/
	color: #000000;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: normal;
/*	text-decoration: none;*/
	margin: 0px;
	padding: 0px;
}
/* remove border from link images */
a:hover {
	text-decoration:underline;
}
a img {
	border: 0px;
}
a img{
	border:none !important;
	outline: none !important;
}
a{
	outline: none !important;
	border:none;
}
img{
	outline: none !important;
	border:none;
}
/* table styles */
th {
	font-size: 12px;
	border:solid 1px;
	font-weight:normal;
}
td {
/*	text-align:left;*/
}

/* form control styles */

input, textarea, select, button {
	font-family: Tahoma, Verdana, sans-serif;
/*	background-color: transparent;*/
/*	background-color: #D9DCC2;*/
	font-size: 11px;
/*	border : 1px solid #4A8A9F;*/
}

table {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
}

/* anchor styles */
a {
	color: #035A63;
	text-decoration: none;
}

.sp-title a {
	font-size: 12px;
/*	font-weight: bold;*/
	text-decoration:none;
}

a.sp-logo {
	font-size: 16px;
/*	font-weight: bold;*/
	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	
	letter-spacing: 3px;
	text-decoration:none;
}

.sp-sub a {
	font-size: 11px;
}

/* header styles */
h3, h4, h5, h6 {
	font-size: 11px;
/*	font-weight: bold;	*/
}

.sp-normal { /* sp-normal is kept for backwards compatabilty of the theme */
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
/*	text-align:left;*/
}

.sp-title, h2 { /* sp-title is kept for backwards compatabilty of the theme */
	font-size: 12px;
	font-weight: normal;	
/*	font-weight: bold;*/
/*	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	*/
}

.sp-sub, small {
	font-size: 11px;
	font-weight: normal;
}

.sp-pagetitle, h1 { /* sp-pagetitle is kept for backwards compatabilty of the theme */
	font-size: 14px;
/*	font-weight: bold;*/
	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	
}

/* block styles */
.sp-block {
	width:100%;
/*	text-align:left;*/
	margin-bottom: 5px;
}
.sp-blocktitle {
	border-top:solid;
	border-bottom:solid;
	border-width:1px;
	padding:0.1em;
/*	font-weight: bold;*/
}
.sp-blockcontent {
}

/* styles for the minimize/maximize buttons*/
div.sp-leftblock span.minbox, div.sp-rightblock span.minbox{
	float:right;
}
/* theme specific styles */
.sp-logo {
	font-size: 16px;
/*	font-weight: bold;*/
	letter-spacing: 3px;
}

.sp-logo-small {
/*	font-weight: bold;*/
}

.theme-footer {
	border:solid;
	border-top:none;
	border-width:1px;
	text-align:center;
	padding:0.2em;
}
.theme-bottom-links {
	border:solid;
	border-top:none;
	border-width:1px;
	text-align:right;
	padding:0.2em;
}
.theme-top-links {
	border:solid;
	border-width:1px;
	text-align:right;
	padding:0.2em;
}
.theme-search {
	border:solid;
	border-top:none;
	border-width:1px;
	height:20px;
	text-align:right;
	padding:0.2em;
	margin-bottom:0.2em;
}

.theme-searchinput {
	display:inline;
}

table.theme-maintable {

}

table.theme-maintable td {
	vertical-align:top;
}

table.theme-maintable ,td.theme-maincontent {
	width:100%;
	padding-right:0.3em;
	padding-left:0.3em;
	
}

/* styles for legacy opentable1/opentable2 functions */
.table1, .table2 {
	padding: 5px;
	margin-bottom: 5px;
	border: 0px solid #D9DCC2;
}

/*menu*/
tr.wmenu-selected {
    background-color:#2f6bc1; 
    color: white;         
    width: 100%; 
    CURSOR: default;
}

tr.wmenu-notselected {
    width: 100%; 
    CURSOR: default;
}

div.wmenu-body {
	direction: ltr;
	text-align: left;
	background-color:white;
}

.tbContent
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 100%;
	margin: 0px;
}
.thContent
{
	background-color: #cedde3;
	border : 0px;
	font-size : 11px;
/*	font-weight : bold;*/
}
.tbHeader
{
	background-color: #cedde3;
	border : 0px;
	font-size : 11px;
/*	font-weight : bold;*/
}

.tdContent
{
	width: 100%;
}
.tdContentBorder
{
	background-color : #cedde3;
}
.tdContentFooter
{
	background-color : 	#cedde3;
}        
/*ul
{
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-image:url(../images/far/bb.gif) ;
}*/

.tbBorder{
    border:1;
    bordercolor:#CEDDE3;
    border-collapse: collapse;
}

/*search result*/
/*div.search-result-container {
	border: #b9D1DB 1px solid; 
	padding: 5px; 
	width: 98%; 
	height: 55px; 
    background-image:url('C:/Program Files/Apache Group/Apache2/htdocs/PORTAL/themes/petro_portal/images/far/search/tile_block.gif');
    background-repeat:repeat-y;
	margin-bottom: 11px;
}*/
/*div.search-result-container {
	border: gainsboro 1px solid; 
	padding: 5px; 
	width: 500px; 
	height: 55px; 
	background-color: ivory;
	margin-bottom: 11px;
}*/

span.search-result-header{
	font-family:Tahoma, Nazanin ,Times New Roman;
	font-size: 12px;
	color: #663333;
/*    color: #000000;*/
/*    padding-bottom:50px;
    background-color:#007200;*/
}

span.search-result-content {
	text-align: justify; 
	color: #515151;
}

td.search-result {
	font-size: 9pt; 
	color: #007200;
}

span.search-result {
	font-size: 9pt; 
	color: #0F4475;
}

/*systems homepage block*/
span.dataitem-header {
	color:#0B1274;
}

span.dataitem-title {
	color:#000000;
}

span.dataitem-caption {
	color:#05697f;
}

span.dataitem-data {
	color:#435b89;
}

img.dataitem-image {
	border: 1px solid #999999;	
}

input.system-search {
	background-color:#ffffff;
}

/* temp style*/
.tradio .tcheckbox
{
	border: #ffffff 0px solid;
}
.caption{
    font-family : Tahoma,Arial;
    color : #013a81;
}
.captionBold{
    font-family : Tahoma,Arial;
/*    font-weight : Bold;*/
}

.data{
    font-family : Tahoma,Arial;
}
.dataBold{
    font-family : Tahoma,Arial;
/*    font-weight : Bold;*/
}

.frmTable{
   	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
}
.h2{
/*	font-size: 16px;*/
	font-size: 12px;
	color : #FF7722;
	font-weight: normal;
/*	font-weight: bold;*/
/*	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	*/
	font-family: Tahoma, Verdana, sans-serif;	
	letter-spacing: 0px;
	text-decoration:none;
	/*width:100%; not used*/
	vertical-align : middle;
}

.h3{
	font-size: 11px;
/*	font-weight: bold;	*/
/*	font-family: Nazanin, Arial, Tahoma, Verdana, sans-serif;	*/
	font-family: Tahoma, Verdana, sans-serif;
	letter-spacing: 0px;
	text-decoration:none;
	width:100%
}
.frmHelp{
    background-color: #ffffe1;
 	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;	
	letter-spacing: 0px;
	color : #9c7600;
   	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-decoration:none;
	font-weight:normal
}
.hr{

}

.highlight-subject {
	color:red;
}

.subject-text {
	line-height: 20px;
}

.subject-link {
	color:yellow;
}

/*
.AmenuLevel1 : active{
color : red;
}
.AmenuLevel1 : hover{
color : green;
}
.AmenuLevel1 : link{
color : black;
}
.AmenuLevel1 : visited{
color : blue;
}
*/
.menuLevel1{
/*    background-color: #bad2dd;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.menuLevel1Selected{
/*    background-color: #ebedef;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.menuLevel2{
/*    background-color: #ebedef;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.menuLevel2tr{
/*    background-color: #ebedef;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
}
.menuLevel2Selected{
/*    background-color: #FFFFFF;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}
.serviceTitle{
/*    background-color: #bad2dd;*/
/*    font-family : Nazanin,Arial,Tahoma;*/
    font-family : Tahoma;
    font-size : 11px;
    color : #003366;
/*    font-weight : bold;*/
    padding-right : 11px;
    padding-left : 11px;
}

/*style for forume cells*/
.forum-even {
	background-color: #f3f3f3;
}
.forum-odd {
	background-color: #eaeef2;
}


.pnTrOdd{
  	background-color: #EBF3Fb;
    border : 0px solid #000000;
	font-size : 11px;
}
.pnTrEven{
  	background-color: #FFFFFF;
	font-size : 11px;
    border : 0px solid #000000;
}
.tbList{
    border : 1px solid #cedde3;
	width : 100%;
	margin: 0px;
	rules : cols;
}

.formSpliter{
    height: 2px;
    color : #669999;
    text-align : center;
    width : 90%;
}

.rapidBlockTitle1 {
	color: #48494a;
}

.rapidBlockTitle2 {
	color: #284976;
}

.rapid_photo_gallery_image_cotainer {
	border:1px solid #112c50;
	padding:2px
}
.middlevalign{
	vertical-align:middle;
}


a.navigationbar {
	color : #155e9b;
}
.sp-admintable tr.sp-even {
	background-color: #EBF3Fb;
}
.sp-admintable tr.sp-odd {
	background-color: #FFFFFF;
}
.sp-even {
	background-color: #EBF3Fb;
}
.sp-odd {
	background-color: #FFFFFF;
}
.search-top{
background-color:#F5F8FA;
border:1px solid #ccdae1;
}
.search-item{
background-color:#F8F8F8;
border:1px solid #ccdae1;
}
TD.nav {
	border: 1px solid #848284;
	background-color: #D6E7FC;
	color: #000
}
.formhelp {
     border : 1px solid #acacac;
     text-color : #525252;
     width : 97%;
     padding-top : 10px;
     padding-bottom : 15px;
     padding-right : 10px;
     padding-left : 10px;
     text-align : justify;
}

.block-description {
	text-align:justify;
	color:#777777;
}
.overflowTable{
	table-layout:fixed;
	 }
.overflowTd {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.serviceMenuItem{
	color:#4C6174; 
	background-color:transparent; 
	CURSOR: hand
}

.serviceMenuItemSelected{
	color:#4C6174; 
	background-color:#E6F2E6; 
	CURSOR: hand
}
.serviceMenuTd{
	color:#4C6174; 
	border-bottom : 1px solid #DBE5ED;
}
.serviceMenuTdText{
	color:#4C6174; 
}
.photo_gallery-folder{
	background-color:#ffffff;
	border:1px solid #7b7e87;
}
.hoverHint {
	width: 200px;
	height: 200px;
	background-color: #fff;
	overflow: hidden;	
	padding: 3px;
	position: absolute;
	top: 0px;								
	left: 0px;
	background-image: url(../images/loading.gif);						
	background-position: center;		
	background-repeat: no-repeat;		
	border: 1px solid #aaa;	
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=3);
	z-index: 1000;
}
.standalone {
	padding:10px;
}