body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #9fa2a9;
	margin: 0px 0px 0px;

}
.shadow_left {
	background-image: url(/images/shadow_left.gif);
	background-repeat: repeat-y;
	background-position: right;
	width: 8px;
}
.shadow_right {
	background-image: url(/images/shadow_right.gif);
	background-repeat: repeat-y;
	background-position: left;
	width: 8px;
}
.header_tile {
	background-image: url(/images/tile_top.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 161px;
	text-align: left;
	vertical-align: top;
}
.demon {
	background-image: url(/images/demon.xmas.jpg);
	height: 161px;
	width: 151px;
	background-repeat: no-repeat;
	background-position: left bottom;
}
.header_right {
	background-image: url(/images/header_right.jpg);
	height: 119px;
	width: 29px;
	background-repeat: no-repeat;
	background-position: right bottom;
}
.demonoid {
	background-image: url(/images/demonoid.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 161px;
	padding-top: 5px;
	text-align: left;
	vertical-align: top;
}
.avatar {
	height: 74px;
	width: 74px;

	text-align: left;
	vertical-align: top;
}
.user_box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-left: 5px;
	width: 100%;
}
.user_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: right;
	vertical-align: bottom;
	padding-left: 5px;
	white-space: nowrap;
}

.user_donation_box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000099;
	text-align: center;
	vertical-align: middle;
	padding-left: 5px;
	padding-right: 8px;
	white-space: nowrap;
}
.main_content {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #cbcbcb;
	text-align: center;
	vertical-align: top;
	height: 161px;
}

.warning_table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #fffca5;
	text-align: center;
	color: #b90000;
	vertical-align: top;
}



.menu_tile {
	background-image: url(/images/tile_menu.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 31px;
	vertical-align: top;
}
.pad9px_left {
	padding: 9px;
	height: 105px;
	text-align: center;
	vertical-align: top;
}
.menu_item {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	width: 8%;
	padding-right: 3px;
	padding-left: 3px;
}
.menu_separator {
	background-image: url(/images/menu_separator.gif);
	height: 25px;
	width: 9px;
	background-repeat: no-repeat;
	background-position: top;
}
.pad9px_right {
	vertical-align: top;
	padding-top: 0px;
	padding-bottom: 9px;
	width: 120px;
	padding-right: 9px;
}
.bnnr_top {
	background-color: #e7e7e7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align: center;
	empty-cells: show;
}
.ctable_top_left {
	background-image: url(/images/ctable_top_left.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 30px;
	width: 22px;
}
.ctable_header {
	background-image: url(/images/ctable_tile.gif);
	background-repeat: repeat-x;
	width:expression("100%");
	height: 21px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 1px;
	padding-bottom: 4px;
	text-align: left;
	vertical-align: bottom;
	white-space: nowrap;
	padding-left: 3px;
}
.micro_font{
 font-size: 1px;
}
.ctable_top_right {
	background-image: url(/images/ctable_top_right.gif);
	background-repeat: no-repeat;
	height: 30px;
	width: 10px;
}
.ctable_content {
	background-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
}
.ctable_bottom_right {
	background-image: url(/images/ctable_bottom_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 11px;
	width: 10px;
}
.ctable_bottom_left {
	background-image: url(/images/ctable_bottom_left.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 11px;
	width: 22px;
}
.ctable_bottom {
	background-color: #eeeeee;
	width:expression("100%");
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	height: 11px;
}
.banner_bottom {
	background-color: #e7e7e7;
	border-top: 1px solid #000000;
	border-right: 1px none #000000;
	border-bottom: 1px none #000000;
	border-left: 1px none #000000;
	text-align: center;
	vertical-align: middle;
	empty-cells: show;
}
.bottom_bar {
	background-image: url(/images/bottom_bar.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 14px;
}
.ending_top_right {
	background-image: url(/images/ending_top_right.jpg);
	height: 34px;
	width: 43px;
	background-repeat: no-repeat;
	background-position: right top;
}
.ending_top_left {

	background-image: url(/images/ending_top_left.jpg);
	height: 34px;
	width: 43px;
	background-repeat: no-repeat;
	background-position: left top;
}
.ending_tile_top {
	background-image: url(/images/ending_tile_top.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 34px;
}
.ending_tile_left {
	background-image: url(/images/ending_tile_left.gif);
	background-repeat: repeat-y;
	background-position: right;
	width: 52px;
}
.ending_tile_right {

	background-image: url(/images/ending_tile_right.gif);
	background-repeat: repeat-y;
	background-position: left;
	width: 52px;
}
.ending_disclaimer {
	background-color: #cbcac7;
	font-size: 10px;
	color: #42423b;
	text-align: justify;
	margin: 0px;
	padding: 0px;
}
.ending_bottom_left {
	background-image: url(/images/ending_bottom_left.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	height: 17px;
	width: 52px;
}
.ending_bottom_right {

	background-image: url(/images/ending_bottom_right.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 17px;
	width: 52px;
}
.ending_tile_bottom {
	background-image: url(/images/ending_bottom_tile.gif);
	background-repeat: repeat-x;
	background-position: top;
	height: 17px;
}

a.red:link, a.red:visited, a.red:active, a.red:hover {
	color: #990000;
}

.red {
	color: #990000;
}
.blue {
	color: #000099;
}
.green {
	color: #009900;
}


.guest_box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-align: left;
	vertical-align: top;
	padding-left: 3px;
	padding-bottom: 2px;
}

input, select {
	background-color: #f7f7f7;
	height: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 1px solid #bdbdbd;
	padding-right: 3px;
	padding-left: 3px;
}
.textfield_login {
	background-color: #f7f7f7;
	height: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 1px solid #bdbdbd;
	padding-right: 3px;
	padding-left: 3px;
	width: 136px;
}
.textfield_validation {
	background-color: #f7f7f7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 1px solid #bdbdbd;
	padding-right: 3px;
	padding-left: 3px;
	text-align: center;	
	width: 40px;
}
.submit_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 16px;
	width: 60px;
	text-align: center;
	background-color: #e6e6e6;
	vertical-align: middle;
	border: 1px solid #5B5F41;
	font-weight: normal;
	color: #000000;
}
.regular_button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 19px;
	text-align: center;
	background-color: #e6e6e6;
	vertical-align: middle;
	border: 1px solid #5B5F41;
	font-weight: normal;
	color: #000000;
}
table, td, .font_12px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.font_10px {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;

}

a.menu_item_link:link, a.menu_item_link:visited, a.menu_item_link:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff;
	text-decoration: none;
}
a.menu_item_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #ffffff;
	text-decoration: underline;
}

a:link, a:visited, a:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #3a3a81;
	text-decoration: underline;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #0000FF;
	text-decoration: underline overline;
}

a.user:link, a.user:visited, a.user:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #3a3a81;
	text-decoration: none;
}
a.user:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #3a3a81;

	text-decoration: underline overline;
}

a.admin:link, a.admin:visited, a.admin:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #b92024;

	text-decoration: none;
}
a.admin:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #b92024;

	text-decoration: underline overline;
}
a.supp:link, a.supp:visited, a.supp:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #1b7412;
	font-weight: bolder;	

	text-decoration: none;
}
a.supp:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #1b7412;
	font-weight: bold;		

	text-decoration: underline overline;
}

a.vip:link, a.vip:visited, a.vip:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #737412;
	font-weight: bold;		

	text-decoration: none;
}
a.vip:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #737412;
	font-weight: bold;	

	text-decoration: underline overline;
}
a.fmod:link, a.fmod:visited, a.fmod:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #0b77db;

	text-decoration: none;
}
a.fmod:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #0b77db;

	text-decoration: underline overline;
}
a.tfmod:link, a.tfmod:visited, a.tfmod:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #6709b7;

	text-decoration: none;
}
a.tfmod:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #6709b7;

	text-decoration: underline overline;
}
a.gmod:link, a.gmod:visited, a.gmod:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;

	text-decoration: none;
}
a.gmod:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;

	text-decoration: underline overline;
}

a.ending_disclaimer:link, a.ending_disclaimer:visited, a.ending_disclaimer:active {
	background-color: #cbcac7;
	font-size: 10px;
	color: #42423b;
	text-decoration: underline;
}

a.ending_disclaimer:hover {
	background-color: #cbcac7;
	font-size: 10px;
	color: #42423b;
	text-decoration: underline overline;
}

.pfooter {
	font-size: 10px;
	color: #000000;
}

a.pfooter:link, a.pfooter:visited, a.pfooter:active, a.pfooter:hover {
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
}

.tone_1_bl_hil {
	background-color: #e6f0a1;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #bcbcbc;
	border-right-color: #bcbcbc;
	border-bottom-color: #bcbcbc;
	border-left-color: #bcbcbc;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
} 

.tone_1_bl {
	background-color: #e4e4e4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #bcbcbc;
	border-right-color: #bcbcbc;
	border-bottom-color: #bcbcbc;
	border-left-color: #bcbcbc;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;

}
.tone_2_bl {
	background-color: #dadada;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #bcbcbc;
	border-right-color: #bcbcbc;
	border-bottom-color: #bcbcbc;
	border-left-color: #bcbcbc;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;

}
.tone_3_bl {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #bcbcbc;
	border-right-color: #bcbcbc;
	border-bottom-color: #bcbcbc;
	border-left-color: #bcbcbc;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}
.ctable_content_no_pad {

	background-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.ctable_content {

	background-color: #eeeeee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
}
.added_today {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #9d9c83;
	border-right-color: #9d9c83;
	border-bottom-color: #9d9c83;
	border-left-color: #9d9c83;
	background-color: #cdd0b2;
	color: #777777;
	font-weight: bold;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
}
.torrent_header_1 {
	background-color: #c7cd8d;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #747474;
	border-right-color: #747474;
	border-bottom-color: #747474;
	border-left-color: #747474;
}
.torrent_header_2 {
	background-color: #bdc383;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #747474;
	border-right-color: #747474;
	border-bottom-color: #747474;
	border-left-color: #747474;
}
.tone_1_pad {
	background-color: #e4e4e4;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
}
.tone_2_pad {
	background-color: #dadada;
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
}
.tone_3_pad {
	padding-top: 1px;
	padding-right: 4px;
	padding-bottom: 1px;
	padding-left: 4px;
}

.full_width{
	width: 420;
}

.half_width{
	width: 210;
}

textarea {
	background-color: #f7f7f7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	border: 1px solid #bdbdbd;
	padding-right: 3px;
	padding-left: 3px;
}
.subcategory, a.subcategory:visited, a.subcategory:link {
	font-size: 10px;
	color: #999999;
	text-decoration: none;
} 

a.subcategory:active {
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}

a.subcategory:hover {
	text-decoration: underline overline;
	color: #000000;
}

.limit_size {
	width:expression(this.width > 450 ? "450px" : true);
	height:expression(this.height > 950 ? "950px" : true);
}

html>body .limit_size
{
	max-width: 450px;
	max-height: 950px;
}
.border_1px {
	border: 1px;
	border-color: #000000;
}

