
/* ----------------Reset Css---------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input{margin: 0;padding: 0;border:0;font-size: 100%;font: inherit;vertical-align: baseline;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6{-webkit-text-size-adjust: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
body{font-family: "微软雅黑"; font-size: 14px; color: #9fa0a4;}
a{font-family: "微软雅黑";color: #222;text-decoration:none}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content: none;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse;border-spacing: 0;}
.clear{clear: both;}
.fl{float:left}
.fr{float:right}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
* html .clearfix{height:1%}
.db{display:block}
.w1200,.w1201{ width: 1200px; margin: 0 auto; }
.hidden{ overflow:hidden; }
body{color:#222; background:#efeeec;min-width: 1200px}


/*** header ***/
.head-wrap{ width: 100%; height: 78px; background: #0063ca; }
.head .logo-wrap{ margin-right: 23px; margin-top: 20px; }
.head .logo-wrap .logo{ background: url(http://js.588ku.com/comp/public/images/logo.png) no-repeat; width: 122px; height: 42px; display: inline-block; }
.head .logo61-wrap{ margin-right: 13px; margin-top: 24px; }
.head .logo61-wrap .logo61{ background: url(http://js.588ku.com/comp/public/images/61logo.png) no-repeat; width: 173px; height: 53px; display: inline-block;margin-top: -16px; }
.head .head-nav li .nav-a{ font-size:16px; color:#fff; height:78px; line-height:78px; display:inline-block; padding-left: 7px; }
.head .head-nav li .vip-powers{ color: #ff4800;  }
.head .head-nav li{ position:relative; padding: 0 36px 0 26px; }
.head .head-nav li:hover .head-nav-drop{ display: block; }
.head .head-nav li:hover { background: #005dba; }
.head .user-info .user-pic{ width: 40px; height: 40px; display: inline-block; position: relative; }
.head .user-pic .head-vip{ position: absolute;bottom: 0;left:27px;  }
.head .user-info{ width: 120px; padding-top: 20px; padding-left: 24px;  position:relative; }
.head .user-info .user-pic-info{ cursor: pointer; }
.head .action{ width: 82px; height: 78px;  display: inline-block; }
.head .action .action-icon{ background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -146px -10px; width: 14px; height: 16px; display: inline-block; position: relative; margin-top: 33px; margin-left: 33px; }
.head .action .action-icon em{ background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -173px -12px; width: 6px; height: 6px; display: inline-block;  position: absolute;top:-4px;left:12px;}
.head .user-info .triangle{ margin-left: 50px; vertical-align: 17px; } 
.head .action-wrap { position: relative; margin-left: 28px; }
.head .action-wrap:hover{ background: #005dba; }
.head .user-info a.login-reg-btn {width: 48px;display: inline-block;line-height: 12px;height: 20px;font-size: 12px;text-indent: 0;padding-top: 30px;text-align: center;cursor: pointer;-webkit-transition: background 0.5s ease-in-out;}
.head .user-info .login-btn {color: #FFFFFF;background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -81px -417px;margin-right: 15px;}
.head .user-info .reg-btn {color: #FFFFFF;background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -119px -417px;}
.head .user-info .header-avator {width: 40px;height: 40px;}

/**** 头部搜索 ****/
.view-search { width: 590px; height: 38px; line-height: 38px; padding: 0 12px 0 10px; margin: 20px 18px 0 15px; border: 1px #0c3564 solid; position: relative; background:#fff; }
 .view-search  .view-search-input{ width: 100%; height: 38px; line-height: 38px; outline: none; border: none; color: #898989;}
 .view-search  .search-but .search-icon{     background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -165px -24px;width: 22px;height:22px;display: inline-block;margin-right: 7px;vertical-align: -5px; }
 .view-search .search-but{ position: absolute;top: 0px;right: 0px;width: 70px;height: 38px;background: #1c9be4;border-left: 1px #0c3564 solid;}
 .view-search .search-but:hover .search-icon{ background-position: -195px -24px; }


/*** 头部导航下拉框 ***/
/*.head-nav-drop { display: none; position:absolute; top: 77px;left:0px; z-index:100; background:#fff; border:1px solid #ccc; border-radius: 3px; }
.head-nav-drop .no-border{ border-top: none;  }
.head-nav-drop a:hover{ color:#499ef2; }
.dd-drop .drop-box{ width: 382px;  padding:18px 0 18px 26px;  position:relative; border-radius:3px;  } 
.dd-drop .drop-box a{ width: 95px; text-align: left; height: 34px; line-height: 34px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.dd-drop .triangle{ background-position:-100px -2px; width:18px; height:10px; position:absolute;top:-9px; left:25px; }
.dd-drop .drop-box-top{ height: 60px; line-height: 60px; border-bottom: 1px solid #ccc; text-align: center; }
.dd-drop .drop-box-top a{ padding:0px 10px; display: inline-block; color: #1973b3;  }
.dd-drop .drop-box-top a.on,.dd-drop .drop-box-top a:hover{ color: #0063ca; }
.dd-drop .set-drop-box a{ width: 76px; }
.dd-drop .drop-box-list a{ width: 137px; margin-right: 15px;  }
.dd-drop.big-width-drop{ width: 645px; }
.dd-drop.big-width-drop .drop-box{ width: 620px; }
.small-width-nav .drop-box{ width: auto; padding: 0; }
.small-width-nav .drop-box a{ text-align: center;  }
*/
/****2016-11-22 新版首页用户信息下拉框样式修改  ****/
.user-drop{display: block;width: 315px;position: absolute; background: #fff;top: 36px;right: 352px;box-shadow: 2px 2px 10px #bebebe;z-index: 101;}
.user-drop .info-top { padding: 20px 8px;; overflow: hidden; border-bottom: 1px dashed #cbcbcb; }
.user-drop .top-left{padding-left: 15px;}
.user-drop .info-top .head-pic{ width: 46px; height: 46px; border-radius: 50%;}
.user-drop .user-name {padding-left: 10px;}
.user-drop .user-name .name-id{ color: #1865c2;}
.user-drop .vip-show{ overflow: hidden;}
.user-drop .vip-show li{ color: #000000; font-size: 12px; margin-right: 33px; }
.user-drop .vip-show li i{display: inline-block;}
.user-drop .top-right{min-width: 308px;}
.user-drop .top-right .user-name{ color: #2f2f2f;padding-left: 10px; }
 .user-drop .renew-vip{   padding-top: 5px; } 
.user-drop .renew-vip a{ width: 125px; height: 20px; line-height: 20px; text-align: center; display: inline-block; background: #fffbe7; border: 1px solid #f1e9bf; font-size: 12px; color: #e90101;  margin-right: 15px; }
.user-drop .renew-vip a:hover{ opacity: .9; color: #499ef2; }
.user-drop .info-center { padding: 20px 0 28px 0; overflow: hidden; }
.user-drop .info-center .classify{ color: #2c2c2c; padding-left: 20px; }
.user-drop .info-center .classify dt{ text-align: center; padding-bottom: 11px; }
.user-drop .info-center .classify dd{ padding: 0 10px;text-align: center; }
.user-drop .info-center .classify .number{ color: #155fbc; font-size: 36px; }
.user-drop .info-center .classify .no-number{ color: #e30000; }
.user-drop .info-bottom{ height: 35px; line-height: 35px; border-top:1px dashed #c8c8c8;padding: 0 80px;}
.user-drop .info-bottom i{ background: url(../images/public-icon.png) no-repeat -111px -30px; width: 16px; height: 16px; display: inline-block; margin-right: 9px; vertical-align: -3px; }
.user-drop .info-bottom .bottom-vip-icon{ background-position: -137px -30px; }
.user-drop .info-bottom .bottom-sc-icon{ background-position: -136px -572px; }
.user-drop .info-bottom .bottom-update-icon{ background-position: -174px -570px; }
.user-drop .info-bottom:hover{background: #d7e9ff;}
.user-drop .info-bottom a{ margin-right: 28px; color: #232323; }
.user-drop .info-bottom .quit:hover{ color: #499ef2; }
.user-drop .red-vip-icon{ background-position: 0 -70px; }
.icon-show .red-vip-icon{ background-position: 0 -70px; }
.user-drop .user-name .sign-out{ color:#1f67bf; display:inline-block;}



/**** 用户信息下拉框我的勋章  ****/
.info-medal{ height:62px; background-color: #e2f4fe}
.info-medal .own{ display: inline-block; width:40px; height:45px; float: left; margin-left:20px; margin-top:12px; margin-right:10px;color: #333; font-size: 14px;}
.img-medal{ float: left; height: 35px; line-height: 35px; margin-top:13px;position: relative; width:330px; padding-left: 20px;}
.img-medal  span { display: inline-block; width:43px; height: 100%; margin-right: 10px;}
.img-medal  span i{ display:inline-block; width: 43px; height: 35px; }
.img-medal .medal-62 i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat 0 -64px}
.img-medal .medal-63 i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -60px -64px;margin-right:0px;}
.img-medal .medal-61 i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -121px -64px}
.img-medal .medal-60 i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -181px -64px; }
.img-medal .medal-62-none i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -195px -121px}
.img-medal .medal-63-none i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -243px -121px;margin-right:0px;}
.img-medal .medal-61-none i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -94px -121px}
.img-medal .medal-60-none i{ background:url(http://js.588ku.com/comp/public/images/icon.png) no-repeat -144px -121px; }

.img-medal .left,.img-medal .right{ display: inline-block; width: 16px;width:7px !important; height: 16px !important;  }
.img-medal .left i{ display:inline-block; width:7px !important; height: 16px !important;  background: url(http://js.588ku.com/comp/share/images/icon-click.png) 0 0 ; position: absolute;top:10px; left: 0; cursor: pointer; }
.img-medal .right i{ display:inline-block; width:7px !important;; height: 16px !important;  background: url(http://js.588ku.com/comp/share/images/icon-click.png)-13px 0 ; position: absolute;top:10px; right: 0 ;cursor: pointer;}



/*** 签到入口样式 ****/
.sign { margin-top: 28px; margin-left: 20px; }
.sign .sign-but,.sign .already-sign-but{ width: 72px; height: 22px; line-height: 22px; text-align: center; display:inline-block; border:1px solid #ccc; font-size: 16px; color: #fff; transition:all .2s; border-radius:2px; }
.sign .sign-but:hover,.sign .already-sign-but:hover{ background: #2475d9; color:#fff;  }

/**** 签到弹出框样式 ****/
#sign{ display: none; position: fixed;left: 0;top: 0; width: 100%; height:100%; z-index: 99999999999999;_position: absolute;_bottom: auto;_top:expression(eval(document.documentElement.scrollTop)); }
#sign  .sign-bg{ background:#000;filter:alpha(opacity=50);opacity: .3;height: 100%}
#sign  .sign-m{ background: url(http://js.588ku.com/comp/public/images/sign.png) no-repeat 0 0 ; width: 480px;height: 207px;position: absolute; left: 50%; top: 50%; margin:-103px 0 0 -240px; color: #1169af; text-align: center;  }
#sign  .sign-m .title{ height: 82px; line-height: 82px; }
#sign  .sign-m .title.f30{  font-size: 30px;  }
#sign  .sign-m .title.f24{  font-size: 24px;  }
#sign  .sign-m .sign-prompt{ font-size: 18px;  }
#sign  .sign-m .but{ width: 124px; height: 34px; line-height: 34px; text-align: center; display: inline-block; background:#1a91ef; border:1px solid #1169af; font-size: 18px; margin:30px auto 0; color: #fff; border-radius:5px;  }
#sign  .sign-m .but:hover{ background: #1678c6; }

/**** 背景红色区分 ***/
.red-search-bg h2{ color: #dd0000 !important; }
/*.red-search-bg .search .search-but{    background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 22px -393px #dd0000; }*/
.red-search-bg .search .search-but{    background-color:#dd0000; }
.red-search-bg .search{ border:2px solid #dd0000; }


/**** 搜索框 2016-08-24 以前的版本****/
/*.search {width: 810px;height: 52px;margin: 0 auto;position: relative;border:2px #1169af solid;border-radius: 12px;}
.search-bg{ height:170px; background:#fff; border-bottom:1px solid #c1bebd; box-shadow:0px 0px 3px #c1bebd; }
.search-con h2{ height: 86px; line-height: 86px; text-align: center; font-size: 30px; color: #0061c5; }
.search .input-text{  width: 545px; height: 50px; line-height: 50px; margin-left: 106px; color: #222; position: absolute; top:1px; left:20px; outline: none; }
.search .search-but:hover .search-icon{ background-position: -195px -25px; }
.search .search-but { position: absolute; top:0; right:0; width: 68px;height: 52px;text-indent: -999px;overflow: hidden;background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 22px -393px #1169af;border-top-right-radius: 8px;border-bottom-right-radius:8px }
.search .search-left{ height: 52px; line-height: 52px; padding-left: 20px; cursor: pointer; position: relative;}
.search .search-left .red-triangle{ background-position: -129px -15px;margin-top: 22px}
.search .triangle { margin-top: -12px; right:-16px; }*/


/*2016-08-24 搜索框样式修改 */
.search {width: 770px;height: 52px;margin: 0px 170px;position: relative;border:2px #1169af solid;}
.search-bg{ height:170px; background:#fff; border-bottom:1px solid #c1bebd; box-shadow:0px 0px 3px #c1bebd; }
.search-con h2{ height: 83px; line-height: 78px; text-align: center; font-size: 30px; color: #0061c5; }
.search .input-text{  width: 545px; height: 50px; line-height: 50px;  color: #222; position: absolute; top:1px; left:18px; outline: none; }
.search .search-but:hover .search-icon{ background-position: -195px -25px; }
.search .search-but {     color: #fff;font-size: 15px;text-align: center;line-height: 52px;background-color: #1169af;position: absolute; top:0; right:0; width: 82px;height: 52px;overflow: hidden;}
.search .search-left{ height: 52px; line-height: 52px; padding-left: 20px; cursor: pointer; position: relative;}
.search .search-left .red-triangle{ background-position: -129px -15px;margin-top: 22px}
.search .triangle { margin-top: -12px; right:-16px; }
#btn-search-back{right: -91px;height:56px;background-color:#1169af;line-height:56px;margin-top:-2px;}



/**** 搜索框列表下拉框 ***/
.select-list{ display:none;width: 136px;background: white;text-align: center;border:1px #dadada solid;border-radius:4px;position: absolute;top:52px;left: -2px; animation:sealist .2s ease-out;z-index: 5000; }
.select-list .triangle{ background-position: -100px -2px; width: 18px; height: 10px; position: absolute;top:3px; left:45px; }
.select-list ul li{ height: 35px;line-height: 35px;margin:0 3px;border-bottom:1px #eee solid;margin-bottom: -1px;}
.select-list ul a{color:#2e2e2e;}
.select-list ul a:hover{ color:#499ef2;  }

/*搜索引导样式*/
.search{z-index: 5}
/*.search .search-sug{position: absolute;top: 53px;left: 108px;background:#fff;border:1px #1169af solid;border-top:none;width: 632px;z-index: 5;display: none;}*/
/*2016-08-25 修改了样式*/
.search .search-sug{position: absolute;top: 53px;background:#fff;border:1px #1169af solid;border-top:none;width: 689px;z-index: 5;display: none;left:-2px;}

.search .search-sug .sokeyup_1{height: 35px; line-height: 35px;padding:0 20px;width: 650px;}
.search .search-sug .sokeyup_1:hover{background: #e5f6ff;}
.search .search-sug .sokeyup_1 .sokeyup_2{ font-size: 14px;color:#6e6e6e;float: left; }
.search .search-sug .sokeyup_1 .sokeyup_3{color:#6e6e6e; font-size: 14px;float: right;}
.search .search-sug .sokeyup_1.hot .sokeyup_2{color:#ff2a00;color:#ff2a00;position: relative;}
.search .search-sug .sokeyup_1.hot .sokeyup_2:after{position: absolute;content: ""; width: 22px;height: 10px;right:-31px;top: 15px; background: url(http://js.588ku.com/comp/element/images/search-hot.gif)}
.red-search-bg .search-sug{width: 690px;    border: 1px #dd0000 solid;}
/*** 搜索框下的热门搜索 ****/
.hot-search{ width: 690px; height: 37px; line-height: 37px; margin:auto;  overflow: hidden; text-align: center;}
.hot-search a{ color: #222; float: left; margin-left: 5px;}
.hot-search a:hover{ color:#EF6B07; }
.hot-search .hot-more .gray-triangle{ background-position: -100px -15px; cursor: pointer;margin-top: 14px}
.more-hot-search{ display:none; }
.more-hot-search a{ float:inherit; }
/*最近搜索*/
.search-log{width: 679px;overflow: hidden;border-bottom: 1px solid #CDCDCD;padding-top:15px;padding-bottom: 10px;padding-right: 10px}
.search-log ul li {float: left;height: 32px;line-height: 32px;margin-left: 20px;font-size: 14px}
.search-log ul li:hover a{color:#499ef2;}
.search-log .recent-search{color: #1B63AE;padding-left: 25px;background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat -10px -1237px;}


/****** 翻页 ****/
.page{ width:100%; overflow:hidden; padding:20px 0; }
.page-con{text-align: center;}
.page-con a{ height:66px; line-height:66px; padding:0 26px; text-align:center; font-size:18px; color:#414141; border:1px solid #d9d9d9; display:inline-block; margin-right:15px; background: #fff; } 
.page-con a:hover ,.page-con .current{ height:68px; line-height:68px; background:#168EE1; padding:0 26px; color:#fff;  }
.page-con .point{ line-height:59px; font-weight:bold; font-size:19px; margin-right:13px;  } 
.page-con .page-input{ width:64px; height:64px; line-height:64px; margin:0 5px; text-align:center;  font-size:18px; color:#414141; outline:none;border:1px solid #d9d9d9; display: inline-block;}
.page-con .go{ width:66px; height:66px; line-height:66px; text-align:center; background:#f8f8f8; border:1px solid #d9d9d9; cursor:pointer;margin-left: 15px;display: inline-block;}
.page-con .jump{ font-size:18px;display: inline-block; }


/****** 红色背景翻页 ****/
.red-page .page-con a:hover,.red-page .page-con .current{ background:#dc0000; }



/*新调查弹窗样式*/
/*.survey{width: 100%;height: 100%;position: fixed;top: 0;left: 0;z-index: 100;}
.surMask{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 101;background-color: #000;opacity: .5;filter: alpha(opacity=50);}
.survey .surCont{z-index: 102; width: 755px;border: 1px solid #000;border-radius: 10px;position: fixed;top: 50%;left: 50%;margin-top: -285px;margin-left:-378px;background-color: #fff;}
.survey .scHead{height: 70px;border-bottom: 1px solid #d2d2d2;position: relative;}
.survey .scHead h3{font-size: 18px;color: #177abf;line-height: 70px;text-align: center;}
.survey .scHead i.scClose{display: block;width: 31px;height: 31px;background: url(http://js.588ku.com/comp/showpic/images/scClose.png) no-repeat;position: absolute;top: -39px;right: 5px;cursor: pointer;}
.survey .scDchoise{clear: both; width: 725px; height: 412px;padding: 18px 20px 0px 20px;overflow: hidden;}
.scDchoise .scTitle{height: 53px;line-height: 43px;clear: both;}
.scDchoise .scTitle span{float: left; font-size: 18px;color: #343434;padding-left: 10px;border-left: 5px solid #ff6000;}

.scDchoise .scTitle p.scNotice{display: none;font-size: 18px;color: #ff3600;margin-left: 16px;float: left;}

.scDchoise .scDcitem{cursor: pointer; float: left; width: 149px;height: 85px;border: 1px solid #D4D4D4;margin:0px 10px 10px 0px;padding: 10px;}
.scDchoise .scDcitem label{font-size: 18px;color: #000;position: relative;width: 100%;display: inline-block;}
.scDchoise .scDcitem label input{width: 16px;height: 16px;margin-right: 10px;vertical-align: middle;opacity: 0;filter: alpha(opacity=0);cursor: pointer;}
.scDchoise .scDcitem label i{display: block;width: 14px;height: 14px;border: 1px solid #1faecd;position: absolute;top: 5px;left: 0;}
.scDchoise .scDcitem label i.checked{background: url(http://js.588ku.com/comp/showpic/images/surcheck.png) no-repeat 1px 3px;}
.scDchoise .scDcitem p{font-size: 14px;color: #5f5f5f;line-height: 30px;overflow: hidden;}
.scDchoise .scDcitem input.otherInput{width: 486px;height: 42px;padding-left: 15px;line-height: 42px;font-size: 16px;outline: none;border: 1px solid #D4D4D4;margin-top: 15px;}

.scQQ input{border: 1px solid #D4D4D4;width: 245px;height: 37px;line-height: 37px;font-size: 16px;outline: none;padding-left: 10px;}

.scSubmit{width: 100%;height: 85px;border-top: 1px solid #d2d2d2;}
.scSubmit #scSub{outline: none;cursor: pointer;  font-size: 18px; display: block;width: 195px;height:  58px;border-radius: 28px;color: #fff;line-height: 58px;text-align: center;margin:11px auto;background-color: #169dea;}

.scOK{padding-bottom: 90px;}
.scOK p{text-align: center;font-size: 24px;color: #343434;line-height: 60px;}
.scOK p.scp1{margin-top: 70px;}
.scOK p.scp2{color: #ff1e00;}
.scOK img{display: block;margin: 25px auto;}
.scOK .scOK-close{width: 195px;height: 58px;background-color: #449bf5;text-align: center;line-height: 58px;color: #fff;font-size: 18px;border-radius: 28px;margin: 0 auto;display: block;}
*/
#inspect{width: 100%;height:100%;position: fixed;top:0;left: 0;z-index: 999;}
#inspect .inspect-mask{width: 100%;height:100%;background-color: #000;opacity: .6;filter: alpha(opacity=60);}
#inspect .inspect-cont{width: 1092px;height: 606px; background: #fff;position: absolute;top: 50%;left: 50%;margin-top: -303px;margin-left: -546px;border-radius: 4px;z-index: 999;}
#inspect .inspect-cont .cont-top{height: 70px;position: relative;text-align: center;border-bottom: 1px solid #d2d2d2;}
#inspect .inspect-cont .cont-top h4{font-size:18px;color: #177abf;line-height: 70px;}
#inspect .inspect-cont .cont-top .cont-close{display: block;color:#000;position: absolute;top: 10px;right: 25px;cursor: pointer; font-size: 36px;}
#inspect .inspect-cont .cm-form .cm-tit{position: relative;overflow: hidden;font-size: 18px;}
#inspect .inspect-cont .cm-form .cm-tit p{text-align: center;line-height: 80px;}
#inspect .inspect-cont .cm-form .cm-tit span{position: absolute;top: 28px;right: 29%;color: #ff0000;}
#inspect .inspect-cont .cm-form .cm-cnt{padding: 0 20px;margin-right: -12px;}
#inspect .inspect-cont .cm-form .cm-cnt .list{width: 254px;height: 75px; cursor: pointer; position: relative; border: 1px solid #d1d1d1;margin:0 10px 10px 0; border-radius: 8px;text-align: center;}

#inspect .inspect-cont .cm-form .cm-cnt .list h4{font-size: 18px;color: #000;line-height: 48px;}
#inspect .inspect-cont .cm-form .cm-cnt .list p{font-size: 14px;color: #969696;}
#inspect .inspect-cont .cm-form .cm-cnt .list label{line-height: 75px;color: #000;font-size: 18px;}
#inspect .inspect-cont .cm-form .cm-cnt .list input{height: 42px;border: 1px solid #d1d1d1;outline: none;padding-left: 10px;width: 143px;vertical-align: middle\9;}
#inspect .inspect-cont .cm-form .cm-cnt .bigList{width: 1050px;height: 75px; margin-top: 10px;cursor: inherit;position: relative; border: 1px solid #d1d1d1; border-radius: 8px;text-align: center;}
#inspect .inspect-cont .cm-form .cm-cnt .bigList input{width: 254px;height: 42px;border: 1px solid #d1d1d1;outline: none;padding-left: 10px;vertical-align: middle\9;}
#inspect .inspect-cont .cm-form .cm-cnt .bigList label{line-height: 75px;color: #000;font-size: 18px;}
#inspect .inspect-cont .cm-form .cm-cnt .bigList span{color: #FF0000;font-size: 18px;position: absolute;top: 25px;right: 22%;}

#inspect .inspect-cont .cm-form .cm-cnt .list.on {border:3px solid #169DEA;width: 250px;height: 71px; }


#inspect .inspect-cont .cm-form .cm-btm {padding: 20px 0;}
#inspect .inspect-cont .cm-form .cm-btm .sureBtn{display: block;width: 195px;height: 58px;font-size: 18px;text-align: center;line-height: 58px;background-color: #169dea;color: #fff; border-radius: 28px;margin:0 auto;}
#inspect .inspect-cont .cm-succ{text-align: center;margin-top: 150px;}
#inspect .inspect-cont .cm-succ h4{font-size: 24px;color:#343434;margin-bottom: 30px;}
#inspect .inspect-cont .cm-succ p{font-size: 24px;color: #ff1e00;}
#inspect .inspect-cont .cm-succ img{width: 184px;height: 177px;display: inline-block;}
#inspect .inspect-cont .cm-succ .sc-close{display:block;margin: 0 auto; width: 195px;height: 58px;color: #fff;font-size: 18px;text-align: center;line-height: 58px;background-color: #169DEA;border-radius: 28px;}

/***** 弹出层用户登录  ****/
#gai{ width:100%;height:100%;background:black;opacity:0.5;filter:alpha(opacity=50);position:fixed;z-index:9999;top:0px;left:0px; }
#login{width:576px;height:388px;border:2px solid #747474;background:white;position:fixed;top:25%;left:32%;z-index:100000 }
#login_top{width:536px;height:49px;font-family:微软雅黑;line-height:49px;font-weight:bold;padding-left:20px;border-bottom:1px solid #E8E8E8;color:#1886D2;padding-right:20px;  }
#login_del{width:17px;height:17px;float:right;cursor:pointer;margin:14px 0 0 0;font-size:20px; background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -153px -133px; display: block;   }
#login_pic{background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 34px -421px; width:130px;height:130px;cursor:pointer;display:block;border:2px solid #E3E3E3;border-radius:50%; }
#login_weixin{ background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 32px -570px; width:130px;height:130px;cursor:pointer;display:block;border:2px solid #E3E3E3;border-radius:50%; }
#login_qq { line-height:35px;margin:9px auto;font-family:微软雅黑;font-size:14px;text-align:center; }
#login-center { padding-top: 78px; }
#login-center dl{ float: left; width: 134px; text-align: center; margin-right: 94px; }
#login-center dl dd{ padding-top: 32px; font-size: 18px; color:#343434; }
#qq-login { margin-left: 98px; }


/*弹窗公用部分*/
.bgimg{ position:fixed; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:0.44;background-color:rgba(0,0,0,0.44);filter:alpha(opacity=44); z-index:11;}
.error,.prompt{position:fixed; top:0; left:0; width:100%; height:100%; z-index:15; font-family:"微软雅黑";}
.error-page{width:610px;height:415px; top:50%;left:50%;margin-top:-150px;margin-left:-245px;background-color:#fff;position:fixed;box-shadow:2px 0px 7px rgba(0,0,0,.75);border:#366a89 1px solid; }
.error-page .p1{text-align:center; font-size:25px;margin-top:110px; color:#202020;}
.error-page .off{width:187px;height:51px;line-height:51px;font-size:20px;margin:0 auto;text-align:center;background-color:#169DEA;color:white;cursor:pointer; }
.error-page .prompt-icon{ width:110px;height:100px;position:absolute;background:url(http://js.588ku.com/comp/base/images/loudou.png) no-repeat;top:-57px;left:50%; margin-left: -55px; }
.error-p {height:75px; line-height:75px; position:relative;}
.error-red{background: -moz-linear-gradient( top,#ffdada,#fff);background: -o-linear-gradient(top,#ffdada, #fff);background:-webkit-linear-gradient(top,#ffdada,#fff);}
.error-blue{background: -moz-linear-gradient( top,#cbebff,#fff);background: -o-linear-gradient(top,#cbebff, #fff);background:-webkit-linear-gradient(top,#cbebff,#fff);} 
.error-p i{ float:left;display:inline-block; width:38px; height:29px;  margin:22px 15px 0 22px;}
.error-p .bg-red{background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 0 -166px;}
.error-p .bg-blue{background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 0 -129px;}
.error-p .title{ color:#000; font-size:18px; line-height:75px; float:left;height: 63px;}
.error-p .switch{ float:right; font-size:24px; position:absolute; top:-20px; right:15px; cursor:pointer}
.error-p .red-off{ color:#cd0c0c}
.error-p .blue-off{ color:#1b6dc2}


/*服务器压力提示*/
.error-p .button-off{ position:absolute; right:15px; top:15px; font-size:24px;}
.error-main{ text-align:center; overflow:hidden;zoom:1}
.error-main .big{ color:#202020; font-size:24px;text-align:center; padding-top:50px;}
.error-main .find{ color:#000; font-size:18px;height:40px; line-height:40px; margin-top:35px; margin-bottom:50px;}
.error-main .find span{ color:#ee0000}
.error-main .shou a{ display:inline-block;width:482px; height:57px; color:#fff; font-size:18px; line-height:57px;text-decoration:none;background-color:#ff6c00;}
.error-main .shou a:hover{ background: #e96301; }


/*下载数量*/
.prompt-main{ padding-top:30px;}
.prompt-title{ font-size:24px; text-align:center}
.red-word{color:#c70000;}
.blue-word{color:#155fbc;}
.numer{ height:35px; padding:30px 10px; width:315px; margin:20px auto; border-top:#acacac 1px dashed;border-bottom:#acacac 1px dashed; overflow:hidden;}
.numer p{ float:left}
.every{ font-size:14px; color:#2c2c2c; line-height:20px; display:inline-block; width:75px; padding-right:10px; border-right:#acacac 1px solid}
.num{ font-size:30px; display:inline-block; line-height:40px; padding-left:10px; color: #2c2c2c; }
.blue-num{ color:#155fbc}
.balck-num{ color:#2c2c2c;}
.red-num{ color:#ec0b0b}
.upload{ text-align:center; font-size:14px; color:#363535}
.upload span{ color:#f4570a; font-size:18px; padding:0 5px;}
.sub{ width:385px; margin:15px auto}
.sub a{ display:inline-block; width:182px; height:57px; text-decoration:none; font-size:18px; line-height:57px; text-align: center}
.sub .add{ background-color:#ff6c00; color:#fff; margin-right:15px; }
.sub .add:hover{ background: #e96301; }
.sub .off{ background-color:#e4e4e4; color:#424242; }
.sub .off:hover{ background: #cdcdcd; }

/*** 公用小ICON **/ 
.triangle{ background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 0px -376px; width: 10px; height:6px; display: inline-block;  position: absolute; top: 38px; right: 10px; }
/* .vip-icon{ background: url("../images/public-icon.png") no-repeat 0 -70px; width: 57px; height: 20px; display: inline-block; margin-right: 6px;  } */

/*** footer ******/
.footer-con { width: 100%; height: 360px; background-color: #fff;  margin-top: 40px;}
.footer-con .foot{border-bottom: 1px solid #b9ced9;     padding-bottom: 10px; }
.footer-con .foot .left{ height:90px; padding: 25px 40px 25px 0; border-right: #b9ced9 1px solid; margin-top:25px; }
.footer-con .foot .left a{ background: url(http://js.588ku.com/comp/base/images/public-icon.png) -253px 0 ; display: inline-block;; width: 117px; height: 37px; float: left;  margin-top:30px; margin-right: 35px;}
.footer-con .foot .left span{ color: #5a5a5a; font-size: 30px; float: left; margin-top:25px;}
.footer-con .foot .center dl { width: 60px; height: auto; height:90px; margin-right:30px;margin-top:10px; }
.footer-con .foot .center{ margin-top:25px; border-right:#b9ced9 1px solid;padding: 25px 40px 25px 40px;  }
.footer-con .foot .center dt i{ display: inline-block;; width: 52px; height: 55px; background: url(http://js.588ku.com/comp/base/images/public-icon.png) 0 -380px; }
.footer-con .foot .center dd{ color: #444;line-height: 30px; }
.footer-con .foot .center p{ color: #515151; height: 29px; line-height: 29px; margin-bottom: 0px;}
.footer-con .foot .center a{ display: inline-block; height: 29px; width: 96px; background: url(http://js.588ku.com/comp/base/images/public-icon.png) 0 -443px; vertical-align: middle; margin-left: 15px; }
.footer-con .foot .right{ padding: 38px 0 0 54px;  }
.footer-con .foot .right dl{ margin-right: 40px; }
.footer-con .foot .right dt{ text-align: center; }
.footer-con .foot .right .weibo i{  background-position: -33px -236px; width: 23px; height: 19px; }
.footer-con .foot .right  dd{ width: 114px;height: 110px;background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -263px; background-size: 114px; }
.footer-con .foot .right  dl.weibo dd{background-position: 0 -396px;}
.footer-con .foot .right dt i{ background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -237px ; width: 23px; height: 19px; display: inline-block; margin-right: 7px;vertical-align: -3px;}

.footer-con .foot .right .click{ color: #727272; font-size: 14px; margin-top: 15px; }

.dibu{height:20px;margin-top:20px;margin-bottom:10px;}
.dibu .remeng {color:#9A9A9A;margin-right:10px;}
.dibu .remeng:hover{     color: #666; }
.colo{color:#666;}

.newsucai li{float:left;margin-right:14px;color:#9a9a9a;font-size:14px;line-height: 30px;color:#9a9a9a;}
.newsucai li a{color:#9a9a9a;}
.newsucai li a:hover{ color:#168EE1; }



.web-bottom { width: 100%; background-color: #168ee1; height: 60px; line-height: 60px;overflow: hidden; }
.web-bottom .bottom-con p{ color: #fff; float: left; margin-right:30px }
.web-bottom .bottom-con a{ color: #fff; padding-right:15px; }
.web-bottom .bottom-con div{ height: 32px; width: 191px; background: url(http://js.588ku.com/comp/base/images/public-icon.png) 0 -477px; margin-top: 15px }
.web-bottom .bottom-con .yanzheng{ height: 32px; width: 90px; background: url(http://js.588ku.com/comp/base/images/public-icon.png) 0 -477px; margin-top: 15px;float: right; }



/*友情链接*/
.friendLink{margin-top:17px;}
.friendLink ul li{float:left;margin-left:10px;color: #9a9a9a;font-size: 14px;line-height: 30px;}
.friendLink ul li a{color: #9a9a9a;cursor:pointer;font-size: 14px;line-height: 30px;margin-left: -2px;}
.friendLink span{float: left;display: block;color: #9a9a9a;font-size: 14px;line-height: 30px;}
.friendLink2 ul li {margin-left: 0px; float: left;color: #9a9a9a;font-size: 14px;line-height: 30px;}
.connet_link{margin-left: 55px;}
.connet_link ul li{margin-left: 14px;}
.connet_link a:hover{color:#168EE1;}
.connet_link ul a li:hover{color:#168EE1;}



/**** 红包弹出框 *******/
.hongbao{width:314px;height:450px;background:url(http://js.588ku.com/comp/base/images/big_hongbao.png) no-repeat 0 0;z-index: 9999;position: fixed;left:40%;top:20%; font-family:"微软雅黑";text-align:center;color:#fff;font-size: 25px;}
.hb_close{width:23px;height: 23px;margin-top:153px;margin-left:271px;text-align:center;line-height:30px;color:white;font-size:20px;background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -185px -127px;cursor:pointer;}
.hb_fl{width:314px;height:36px;font-size: 36px;color:#FBDA30;line-height:36px;margin-top:10px;}
.hb_fs{width:314px;height:25px;line-height:25px;margin-top:24px; }
.hb_hf{width:314px;height:25px;font-size: 20px;line-height:25px;margin-top:19px;}
.hb_kk{width:314px;height:48px;cursor:pointer;color:#57320A;line-height:48px;margin-top:30px;}
.hb_kk a{color:#57320A;cursor:pointer;}

/** 红包滚动条 */

#barrage{position: fixed; bottom: 100px; right: 0;  display: inline-block; z-index: 999;}
#barrage li{width: 410px;height: 50px;background-color: rgba(0,0,0,.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    margin-right: 224px;
}
#barrage li .hd-pic{width: 40px;height: 40px;border: 1px solid #fff;display: inline-block;
    margin: 4px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
#barrage li .hd-pic img{
    width: 100%;
    height: 100%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
#barrage li .bar-words{width: 300px;overflow: hidden;font-size: 14px;line-height: 50px;}
#barrage li .bar-words a{color: #fff;}
#barrage li .bar-words span{width: 40px;display: inline-block; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#barrage li .bar-close .close-btn{font-size: 24px;color: #fff;font-weight: bold;line-height: 50px;padding-right: 15px;
  filter: alpha(opacity=0);
    -webkit-transition: all .2s ;
    -moz-transition: all .2s ;
    -ms-transition: all .2s ;
    -o-transition: all .2s ;
    transition: all .2s ;}




#barrage li:hover .close-btn{opacity: 1;
    -ms-filter: alpha(opacity=100);
    filter: alpha(opacity=100);}



/*** 公用弹出框遮罩层 ******/
.down-limit{position:fixed;z-index: 9997;left: 0;top: 0;width: 100%;height: 100%;}
.down-limit-bg{background-color: #000;position: absolute;z-index: 9998;left: 0;top: 0;width: 100%;height: 100%;opacity: 0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}

/*** 提示账号在另一地方登录弹出框 ******/
.down-limit-content{border: 1px solid #2b2b2b;box-shadow: #d1d1d1 0px 0px 5px;-moz-box-shadow: 0px 0px 5px #d1d1d1;-webkit-box-shadow: 0px 0px 5px #d1d1d1;width: 611px;height: 414px;position: fixed;background: #fff;_position: absolute;_left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||537)-(parseInt(this.currentStyle.marginRight,10)||0));_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||100)-(parseInt(this.currentStyle.marginBottom,10)||0)));z-index: 9999;}
.down-limit-content-nav{width: 100%;height: 54px;border-bottom: 1px solid #D2D2D2;}
.down-limit-content-nav h3{font-size: 18px;color: #1584d1;margin-left: 22px;margin-top: 17px;display: block;float: left;font-weight: bolder;}
.down-limit-close{cursor: pointer;background: url(http://js.588ku.com/comp/diaocha/images/close.jpg) no-repeat 0 0;width: 44px;height: 52px;display: block;float: right;}
.down-limit-pic{background: url(http://js.588ku.com/comp/back/images/no-down-icon.png) no-repeat center bottom;width: 325px;height: 81px;border-bottom: 1px #acacac dashed;}
.down-limit .dl-close-wrap{width: 325px;height: 92px;border-top: 1px #acacac dashed;}
.down-limit .dl-close-wrap .close-btn{width: 179px;height: 54px;border:1px solid #BBBBBB;display: block;background-color:#E4E4E4;color: #696767;text-align: center;line-height: 54px;margin-top: 35px;margin-left: 70px; }
.down-limit .dl-close-wrap .close-btn:hover{background-color: #D0D0D0;}
.down-limit-content .p-info{color: #155fbc;font-size: 18px;display: block;line-height: 34px;text-align: center;font-weight: bold;margin-top: 55px;}
.down-limit-content .add-num{ width: 181px;height:56px; line-height: 56px;font-size: 18px;color:#fff; text-align: center; background: #ff6c00;margin:42px auto 0; display: block;margin-left: 124px;margin-top: 15px;float: left;}
.down-limit-content .add-num:hover{background: #FF9343;}
.down-limit-content .close-num{width: 181px;height:56px; line-height: 56px;font-size: 18px;color:#fff; text-align: center; background: #B9B9B9; display: block;margin-left: 24px;margin-top: 15px;float: left;}
.down-limit-content .close-num:hover{background: #D0D0D0;}
.login-limit-nav{height: 52px;width:610px;color: #1584d1;border-bottom: 1px solid #D2D2D2;font-size: 18px;line-height: 53px;padding-left: 20px;width:590px;}
.login-limit-content{height:360px;width:100%;}
.login-limit-content-info{width:100%;height: 190px;float: left;}
.login-limit-content-info p{text-align: center;font-size: 24px;color: #202020;}
.login-limit-content-info p.l-l-c-i-p1{margin-top: 55px;}
.login-limit-content-info p.l-l-c-i-p2{margin-top: 35px;}
.login-limit-content-bwrap{height: 148px;float: left;width: 100%;}
.login-limit-content-bwrap .login-limit-content-b-sure{width:200px;height:56px;text-align: center;line-height: 56px;background-color: #FF6C00;display: block;color: #fff;margin-left: 205px;float: left;}
.login-limit-content-bwrap .login-limit-content-b-sure:hover{background-color: #F5812C;}
.login-limit-content-bwrap p{display: block;float: left;text-align: center;width: 100%;margin-top: 35px;color: #999999;}




/***** 侧边栏样式2016-8-2 *****/
#fixed{position:fixed;bottom:21%;right:0;z-index:9999;}
/**** PNG上传比赛 ****/
#match_link { margin-bottom:12px; }
#match_link  .match_link_icon{  color:#fff; background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0px 4px; display:block; width:73px; height:142px;z-index: 9999;right: 0;cursor: pointer;margin-left:-13px;}

/**** 送福利 ****/
#money_link .money_link_icon{color:#fff;background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -149px;width:60px;height:82px;z-index: 9999;right: 0;cursor: pointer;margin-bottom: -1px; display:block;}

/**** 微信&微博 ****/
#weixin{width: 60px;z-index: 9999;right: 0;cursor: pointer;margin:14px 0 10px 0;}
#weixin .button{width: 58px;height: 58px;margin-bottom: 10px;display: block;}
#weixin .weixin-group{background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -517px; width:60px; height:91px;    }
#weixin .weixin-group:hover{ background-position:0 -613px;  }
#weixin #weixin-detail { display: none; float: right;width: 178px;height: 390px;margin-right: 67px; border:1px solid #c1c1c1; background:#fff; position:absolute; top:0px; left:-188px; }
#weixin #weixin-detail .triangle{ background:url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat -63px -236px; width:10px; height:20px; display:block; position:absolute; top:46%; right:-10px;  }
#weixin #weixin-detail p{text-align: center;margin-top: 10px;font-size: 14px;color: #000000;}
#weixin #weixin-detail .active{text-align: center;margin-top: 5px;font-size: 14px;color: #5d5a5a;}
#weixin .icon{background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -237px; width:23px; height:18px; display:inline-block;margin-right: 7px;vertical-align: middle;  }

#weixin #weixin-detail .qq-shenqin{width: 114px;height: 110px;background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -263px;margin: 0 auto;margin-top: 10px;}
#weixin #weixin-detail .weibo .qq-shenqin{ background-position:0 -394px; }
#weixin .weibo{ border-top:1px dashed #c1c1c1; margin-top:15px; }
#weixin .weibo p i{background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat -33px -236px; width:23px; height:19px;   }
#login .weixin {    position: absolute; margin: 19px -11px; font-family: 微软雅黑; font-size: 14px;}
/***** 意见建议 ****/
#idea_link{color:white;background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -793px;width:60px; height:65px;font-size:12px;word-break:keep-all;z-index: 9999;right: 0;cursor: pointer;margin-bottom: 9px;}
#idea_link:hover{ background-position:0 -794px; }
#qq-kefu{ padding-left: 4px;color:white;background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0 -1080px;width:60px; height:65px;font-size:12px;word-break:keep-all;z-index: 9999;right: 0;cursor: pointer;margin-bottom: 20px;}
.qq-kefu:hover  .kefu-detail{ display: block; }
.kefu-detail{width: 216px;height: 245px;border:1px solid #c1c1c1;position: absolute;top: -120%;left: -230px;background: #fff;padding: 0 2px; display: none; }
.kefu-detail .consult,.kefu-detail .phone, .kefu-detail .time{border-bottom: 1px dashed #c1c1c1;padding: 16px 0 10px 20px;}
.kefu-detail dl dd{line-height: 24px;}
.kefu-detail dl .qq-17{display: inline-block;height: 29px;width: 96px;background: url(http://js.588ku.com/comp/base/images/public-icon.png) 0 -443px;vertical-align: middle;margin-left: 6px;}
.kefu-detail .triangle{background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat -63px -236px;width: 10px;height: 20px;display: block;position: absolute;top: 41%;right: -10px;}
#weixin #weixin-detail{ top: -38px; }
/***** QQ群交流框 ***/
#right-side-menu .button-qq-group{background: url(http://js.588ku.com/comp/public/images/right-icon.png) no-repeat 0px -868px; width:60px; height:65px;}
#right-side-menu .button-qq-group:hover{ background-position:0 -945px; }
#right-side-menu{z-index: 9999;right: 0;cursor: pointer;}
#right-side-menu .button{width: 58px;height: 58px;margin-bottom: 10px;display: block;}
#right-side-menu #qq-group-detail{float: right;display: none;width: 347px;height: 160px;margin-right: 58px;margin-top: -15px;background: url(http://js.588ku.com/comp/base/images/lbpopbox.png);}
#right-side-menu #qq-group-detail p{color: #444444;height: 38px;overflow: hidden;margin-left: 60px;margin-right: 20px;}
#right-side-menu #qq-group-detail label{float: left;line-height: 35px;display: inline;width: 168px;word-break: break-all;word-wrap: break-word;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
#right-side-menu #qq-group-detail a{float: right;margin-top: 5px;}
#right-side-menu #qq-group-detail .qq-shenqin{background: #f1f1f1;color: #41be33;text-align: center;width: 288px;font-size: 14px;height: 34px;line-height: 34px;display: block;margin-left: 49px;margin-top: 6px;float: left;cursor: auto;}
#right-side-menu #qq-group-detail .qq-shenqin-l{display: block;float: left;color: #2A7FD4;line-height: 34px;height: 34px;margin-top: 0;margin-left: 10px;}
#right-side-menu #qq-group-detail .qq-shenqin-r{display: block;float: right;color: #2A7FD4;line-height: 34px;height: 34px;margin-top: 0;margin-right: 10px;}

/***** 返回顶部 ***/
#right_goTopBtn{width:54px;height:231px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||200)-(parseInt(this.currentStyle.marginBottom,10)||0)));right:10px;bottom:25%;z-index:1000}
#right_goTopBtn .right_top a{display:block;height:58px}
#right_goTopBtn .right_top a,#right_goTopBtn .right_vip a,#right_goTopBtn .right_user_fav a,#right_goTopBtn .right_user_dl a,#right_goTopBtn .right_bottom a{display:block;height:55px;margin-bottom:3px}
#right_goTopBtn .right_top a{background:url(http://js.588ku.com/comp/public/images/right-icon.png) 0 -1014px no-repeat; width: 54px; height: 54px;}
#right_goTopBtn .right_top a:hover{opacity:0.7;filter: alpha(opacity=70);}



/**** 元素首页自适应页面样式 ****/

@media screen and (max-width: 1570px ) and (min-width: 1200px){
#main .classify-nav{ max-width:1200px !important; }
#element{clear:both; max-width:1220px !important; position:relative; overflow:hidden; margin:0px auto ;left:10px; position: relative;}
.w1100px{ width:1100px;}
.nav-list {height:auto;}
.subnav-list{height:auto;}
.nav-list .subnav-list{ height:auto; }
#element-result{max-width: 1200px!important;}
#element-keyword{max-width: 1200px!important;}
.no-result{max-width: 1200px!important;}
}
/***** 分类导航筛选 ***/
#main .classify-nav{ max-width: 1500px; }
#main #element{max-width: 1526px; }
.classify-nav{ width: 100%;  margin:20px auto 15px; border:1px solid #d5d5d5; border-bottom: none;  background: #fff; }
.nav-list{padding-left: 1%;height:49px;line-height:49px;border-bottom:1px solid #d5d5d5;width: 99%;}
.classify-nav .current-icon{background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -100px -98px;width: 13px;height: 10px;display: inline-block;margin-right: 9px;}
.classify-nav .subnav-list  .more-icon{ background-position: -100px -164px; width: 8px; height: 5px; margin-left: 9px; vertical-align: middle; }
.nav-list .nav-first{     color: #499ef2;}
.nav-list .choose-form a{ margin-left: 17px;  }
.nav-list .subnav-list{  height:49px;  padding-right: 15px; }
.nav-list .subnav-list .more-list:hover .dd-drop{ display: block; }
.nav-list .subnav-list .more-list .dd-drop{ top:48px; left: -20px; }
.nav-list .subnav-list .list{ margin:0 14px; position: relative; }
.nav-list .subnav-list .list a{ color:#222;  }
.nav-list .subnav-list .list a:hover{color:#d30707;  }
.nav-list .subnav-list .list a.current{color:#d30707;   }
.nav-list .subnav-list .more-list:hover .more-icon{ transform:rotate(180deg); }
.nav-list a:hover{ color: #499ef2;  }
.color-ul{ padding:12px 20px 0 14px; }
.subnav-t{height: 41px; background-color: #f2f2f2;border-bottom: 1px #ddd solid; background: #d1d1d1;}
.subnav-t a{ float: left;padding:0 34px; line-height: 40px; height: 41px;position: relative;}
.subnav-t a i{background: url(http://js.588ku.com/comp/public/images/new1.gif) no-repeat 0 1px;position: absolute;top:-24px;left: 101px;width:38px;height: 39px;display:inline;}
.subnav-t a.on,.subnav-t a:hover{color:#212121;border-top: 3px #c70000 solid; height: 40px;margin-top: -1px; background: #fff;}
/**** 红色分类筛选导航 ***/
.red-classify-nav .nav-list .nav-first{color: rgb(211, 7, 7); }
.red-classify-nav .current-icon{width: 15px;height: 10px;display: inline-block;background: url(http://js.588ku.com/comp/public/images/public-icon.png) -148px -98px no-repeat;}

/**** 大图小图选择 ***/
.pic-choose{ padding-right:0px; }
.pic-choose a{ color:#494949; margin-right:15px;  }
.classify-nav  .pic-choose a .current-icon{ background-position: -148px -375px; width:16px; height:14px; vertical-align:middle;margin-right: 6px;}
.classify-nav .pic-choose a:hover{ color:#d30707; }
.classify-nav .pic-choose .big-pic:hover .current-icon{ background-position: -125px -375px; } 
.classify-nav .pic-choose .small-pic .current-icon{background-position: -125px -394px;   }
.classify-nav .pic-choose .small-pic:hover .current-icon{ background-position: -148px -394px;  }
 
/**** 分类导航筛选颜色选择 ****/
.c-nav-list{  width:450px; padding-left: 20px; border-left:1px solid #d5d5d5;}
.c-nav-list .color-list { width:21px; height:21px; display:inline-block; cursor:pointer; float:left; }
.c-nav-list .color-list a{width:20px;height: 21px;display: inline-block;position: absolute;}
.c-nav-list .color-11{background-color: #ffffff;width: 20px;height: 20px;border: 1px solid #dbdbdb;}
.color-1{background-color: #CF0000;}
.color-2{background-color: #F58F00;}
.color-3{background-color: #F2E200;}
.color-4{background-color: #58CA00;}
.color-5{background-color: #4496EE;}
.color-6{background-color: #6E2CDF;}
.color-7{background-color: #D51AD3;}
.color-8{background-color: #8D5412;}
.color-9{background-color: #000000;}
.color-10{background-color: #989898;}
.color-choose { position: relative; }
.custom-color .custom{ padding-right:14px;  }
.custom-color .custom-circle{  border:1px solid #ccc; width:26px; height:14px; display:block; margin-top:15px; }
.custom-color .custom-circle a{ background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -166px -181px; width: 26px; height: 14px; display: inline-block;  cursor: pointer; position:absolute;}
.custom-color .custom-box .has-color{border: 2px solid #fff;border-radius: 2px;box-shadow: 0 0 0 1px rgba(0,0,0,.15),inset 0 0 0 1px rgba(0,0,0,.15); }
.custom-color .custom-box .has-color a{ background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -120px -97px; display:block; }
.color-ul .current{border:2px solid #fff;border-radius:2px;box-shadow: 0 0 0 1px rgba(0,0,0,.15),inset 0 0 0 1px rgba(0,0,0,.15);margin-top:-1px;}
.color-ul .gou{background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -129px -185px;display: inline-block;}
.main-nav {margin-left: 15px;}
/*** 搜索无结果 **/
.no-result {display:block; }
.no-result .result-prompt{ padding-top:20px; margin:0 auto;font-size:18px; text-align:center;  }
.no-result .result-prompt dt{ margin-left:300px; float:left; margin-right:20px; }
.no-result .result-prompt dd{ padding-top:15px; text-align:left; }
.no-result .result-prompt .search-keyword{ color:#ff5400; margin:0 5px; }
#element-result{ padding: 5px 0 30px 0; font-size: 18px; color: #434343; }
#element-result .search-number,#element-result .search-key-word{ color: #ff2a00;  }



/*vip 增加提升 css*/
.mask{width:100%; height:100%; position: fixed; background:#000; z-index:100; top:0; left:0; opacity:0.54;  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=54);}
.vip-mask{position:fixed; top:0; left:0; width:100%; height:100%; z-index:110;}
.vip-welfare{ position:fixed; top: 50%; left: 50%; margin-top: -257px; margin-left:-227px; width:453px; height:513px;position:relative; background: url(http://js.588ku.com/comp/base/images/vip-bg.png);}
.vip-mask .close-but{ display:inline-block; width: 15px; height: 15px;  position: absolute; top:60px; right:40px; cursor: pointer;}
.vip-mask .close-but i{ display: inline-block; width: 15px; height: 15px; background: url(http://js.588ku.com/comp/base/images/close-but.png);  }
.vip-mask .vip-go{ width: 754px; height: 54px; position: absolute; bottom:93px;left:175px; }
.vip-mask .vip-go a{ display: inline-block; width: 75px; height: 54px; background: url(http://js.588ku.com/comp/base/images/vip-go.png);  }




/*** 用户信息下拉框消息通知2016-3-28 ***/
.info-con .info-title{ font-size:30px; text-align:center; color:#000; padding-top:56px; margin-bottom:62px; }
.info-con .info-title i{ background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -42px -343px; width:28px; height:24px; display:inline-block; margin-right:14px; vertical-align:-1px; }
.info-list-con .info-list{  border-bottom:1px dashed #dadada; padding-right:10px; overflow:hidden;  }
.info-list-con .info-list dt{ width:74px; height:74px; border-radius:50%; background:#d1d1d1; margin-right:32px; }
.info-list-con .no-read-info dt{ background:#858585;  }
.info-list-con .info-list dt .info-icon{ background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 0 -343px; width:26px; height:22px; display:block; margin:25px auto 0; }
.info-list-con .info-list dd{ font-size:18px;  color:#959595; }
.info-list-con .info-list dd a:hover{ color:#499ef2; }
.info-list-con .no-read-info dd a{ color:#3b3b3b; }
.info-list-con .no-read-info .info-time{ color:#3b3b3b!important; }
.info-list-con dd a{color: #7c7b7b;}
.info-list-con .info-list .list-title{ padding:10px 0 8px 0; }
.info-list-con .info-list .list-title em{ background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -173px -12px; width:6px; height:6px; display:inline-block; vertical-align:15px; margin-left:5px; }
.info-list-con .info-list .list-con{width: 90%;float: left;height: 20px;line-height: 20px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.info-list-con .info-list .info-time{font-size:18px;padding-right:10px;}
	
/***** 用户信息消息下拉框2016-3-28  ***/	
.info-drop{ width:428px;border:1px solid #dadada; position: absolute; background: #fff; /*top:77px; */left:-169px; z-index: 101; }
.info-drop .info-drop-icon{ background:url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat -100px -2px; width:18px; height:10px; display:inline-block; position:relative;top:-10px;left:48%;    }
.big-info-list .info-list{   padding-left: 10px;   overflow:hidden;} 

.big-info-list .info-list dt{ width:44px; height:44px; margin-right:18px;margin-top: 10px; }
.big-info-list  .info-list dt .info-icon{  margin:10px auto 0; }
.big-info-list  .info-list dd{ font-size:14px;  color:#959595; }
.big-info-list  .info-list .list-con{ width:84%; }
.big-info-list  .info-list  .list-title{ padding:4px 0 2px 0;  height: 36px; line-height: 36px; }
.big-info-list  .info-list  .list-title p{ max-width:182px;  overflow: hidden;white-space: nowrap; text-overflow: ellipsis;  }
.big-info-list .info-list .info-time{font-size:14px; }
.big-info-list .look-main-info{ display:block; text-align:center; height:46px; line-height:46px; }
.big-info-list .look-main-info:hover{ color:#499ef2; }
/***** 用户信息消息下拉框2016-8-23  ***/



/*** 背景自适应页面 ***/
#bg-main{ width:93%; padding: 0 3.5%; }

/*收藏弹窗*/
.colt-fy{width: 586px;height: 386px;position: fixed;top: 50%;left: 50%;border-radius: 5px;background-color: #fff;margin-left: -243px;margin-top: -193px;z-index: 9999;}
/*收藏弹窗头部*/
.colt-fy-head{height: 38px;position: relative;border-bottom: 1px solid #ecebeb;}
.colt-fy-head span{display: inline-block;font-size: 14px;color: #413f3f;line-height: 38px;padding-left: 15px;}
.colt-fy-head .colt-clsbtn{display: inline-block;cursor: pointer;font-size: 20px;width: 14px;height: 14px;background: url(../images/public-icon.png) no-repeat -237px 0px;margin: 12px 19px 0px;}
/*收藏弹窗主体部分左边*/
			
.colt-fy-main{padding: 16px 18px 21px 15px;}
.colt-fy-main .fy-mian-viewImg{width: 283px;height: 308px;border: 1px solid #EDEBEB;background-color: #F7F7F7;transition: all .2s;}
.colt-fy-main .fy-mian-viewImg:hover{box-shadow: 0 2px 10px rgba(0,0,0,0.2);transform: translate3d(0, -2px, 0);}
.colt-fy-main .fy-mian-viewImg .viewImg-info{padding: 9px 11px;}
.colt-fy-main .fy-mian-viewImg .imgInfo-hide{width: 259px; height: 259px; margin-bottom: 10px; overflow: hidden;}
.colt-fy-main .fy-mian-viewImg img{width: 259px;border: 1px solid #edebeb;margin-bottom: 10px;}
.colt-fy-main .fy-mian-viewImg .viewImg-intro{font-size: 14px;color: #5f5f5f;}
/*收藏弹窗主体部分右边*/
.colt-fy-main .fl-mian-edit{padding-top: 20px;border-top: 1px solid #ddd;}
.colt-fy-main .fl-mian-edit input{width: 249px; height: 18px; border: 1px solid #cdcccc;padding: 5px 0px 5px 8px;color: #444;font-size: 14px;border-radius: 2px;outline: none;}
.colt-fy-main .fl-mian-edit .addTypes{margin-bottom: 10px;position: relative;}
.colt-fy-main .fl-mian-edit .addTypes label input{background: url(../images/bg_input.png) repeat-x 0px 0px;cursor: pointer;}
.colt-fy-main .fl-mian-edit .addTypes label{position: relative;display: block;}
.colt-fy-main .fl-mian-edit .addTypes label i{display: block;width: 12px;height: 8px;background: url(../images/public-icon.png) no-repeat  -255px 0px;position: absolute;top: 12px;right: 5px;cursor: pointer;}
.colt-fy-main .fl-mian-edit .addTypes .selectType-drop{position: absolute;top: 29px;left: 0;z-index: 5;width: 257px;border: 1px solid #cdcccc;border-top: none;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;max-height: 215px;overflow-y: overlay;}
.colt-fy-main .fl-mian-edit .addTypes .selectType-drop a{display: block;line-height: 30px;background-color: #fff;color: #444;padding-left: 15px;}
.colt-fy-main .fl-mian-edit .addTypes .selectType-drop a:hover{background-color: #1f67bf;color: #ffff;}
.colt-fy-main .fl-mian-edit .addTypes .selectType-drop .addNewName{width: 237px; border:none;border-top: 1px solid #cdcccc;padding: 0;height: 25px;color: #444;padding-left: 20px;}
			
.error-show{margin-top: 10px; height: 55px; line-height: 55px; color: #f72525; font-size: 14px; width: 130px; text-align: right; padding-right: 15px;}
.coltto-btnt,.coltto-btn,.coltto-add-btn,.coltto-btn-make,.coltto-btn-list{margin-top: 10px;}
.coltto-btnt a,.coltto-btn a,.coltto-add-btn a,.coltto-btn-make a,.coltto-btn-list a{transition: all .2s; border-radius: 2px; display: block;width: 115px;height: 33px;color: #fff;line-height: 33px;text-align: center;background-color: #1f67bf;}
.coltto-btnt a:hover,.coltto-btn a:hover,.coltto-add-btn a:hover,.coltto-btn-make a:hover,.coltto-btn-list a:hover{opacity: .9;filter: alpha(opacity=90);transition: all .2s;}
.coltto-add-btn a{margin-right: 20px;background-color:#ff8b3d;}
.coltto-btn-list{margin-bottom: 19px;margin-left: 10px;float: left;}
.coltto-btn-list a{margin-right: 0px;margin-top: 0px;background-color: #1f67bf;}

/*2016-08-26 下拉框新样式*/
/*旧版下拉暂有用样式*/
/* .dd-drop .drop-box a{ width: 95px; text-align: center; height: 34px; line-height: 34px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; } */
.head-nav-drop { display: none; position:absolute; top: 77px;left:0px; z-index:100; background:#fff; border:1px solid #ccc; border-radius: 3px; }
.head-nav-drop .triangle{ background-position:-100px -2px; width:18px; height:10px; position:absolute;top:-9px; left:25px; }
.small-width-nav .drop-box{ width: auto; padding: 0; }
.small-width-nav .drop-box a{ text-align: center;}

/*头部加入VIP导航下拉修改*/
.invip-wid{width: 460px;left: -170px!important;}
.invip-drop-box .triangle{background-position: -100px -2px;width: 18px;height: 10px; position: absolute;top: -9px;left: 219px;}
.invip-drop-box .invip-bg,.invip-drop-box .invip-ys{width: 50%;position: relative;text-align: center;}
.invip-drop-box .invip-ys{border-right: 1px solid #bebebe;width: 228px;}
.invip-drop-box .invip-bg i,.invip-drop-box .invip-ys i{display: inline-block;width: 152px;height: 43px;background: url(../images/comv-icons.png) no-repeat;margin: 25px 0px 30px;}
.invip-drop-box .invip-ys i{background-position: -431px -36px;}
.invip-drop-box .invip-bg i{background-position: -431px -92px;}
.invip-drop-box .invip-bg p,.invip-drop-box .invip-ys p{font-size: 14px;line-height: 40px;text-align: center;}
.invip-drop-box .invip-ys p{color: #1166bb;}
.invip-drop-box .invip-bg p{color: #c80000;}
.invip-drop-box .invip-bg a,.invip-drop-box .invip-ys a{display: inline-block;width: 168px;height: 36px;line-height: 34px;text-align: center;font-size: 14px;color: #fff;border-radius: 5px;margin: 20px 0 45px;}
.invip-drop-box .invip-bg a:hover,.invip-drop-box .invip-ys a:hover{opacity: .8;filter: alpha(opacity=80);}
.invip-drop-box .invip-ys a{background-color: #1166bb;}
.invip-drop-box .invip-bg a{background-color: #c80000;}
.head-nav li:hover .nav-pull-down{display: block;}


.vip-icon{ background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 0 -46px; width: 57px; height: 20px; display: inline-block; margin-right: 6px;  }
.user-drop .red-vip-icon{ background-position: 0 -70px; }
.icon-show .red-vip-icon{ background-position: 0 -70px; }
.user-drop .gray-vip-icon{ background-position: 0 -97px; }
.user-drop .ys-gray-vip-icon{background-position: -133px -258px;}
/*头部设计元素与背景新下拉框*/
/*下拉公用*/
.nav-pull-down{position: absolute;top: 77px;left: 0;z-index: 100;background: #fff;border-radius: 3px;border: 1px solid #ccc;display: none;}
.pd-design-width{width: 424px;}
.pd-bg-width{width: 315px;}
.pd-mb-width{width: 300px;}
/*设计元素下拉*/
.pull-down-box{position: relative;width: 100%;}
.pull-down-box .triangle {background-position: -100px -2px;width: 18px;height: 10px;position: absolute;top: -9px;left: 25px;}
.pull-down-box .pd-top{width: 100%;text-align: center;line-height: 60px;border-bottom: 1px solid #efeeec;}
.pull-down-box .pd-top h3.png-design{font-size: 18px;color: #2974c0;display: inline-block;font-weight: bold;}
.pull-down-box .pd-top span{font-style: normal;font-size: 18px;color: #010101;margin-left: 15px;}
.pull-down-box .pd-list{padding: 0 20px;}
.pull-down-box .pd-list-item{margin: 20px 0;}
.pull-down-box .pd-list-item a{font-size: 14px;transition: all .2s;}
.pull-down-box .pd-list-item .expand-sort{display: inline-block;}
.pull-down-box .pd-list-item .main-sort{color: #000;font-weight: bold;display: inline-block;width: 71px;text-align: left;}
.pull-down-box .pd-list-item .expand-sort a{color: #606060;}
.pull-down-box .pd-list-item .diviLine{margin: 0px 5px;color: #c9c9c9;}
.pull-down-box .pd-list-item .pointTo{margin-right: 20px; color: #b1b1b1;font-style: normal;}
/*a hover状态*/
.pull-down-box .pd-list-item a:hover,.pull-down-box .pd-list .expand-sort a:hover,.pull-down-box .bg-main-box a:hover{color: #499ef2;transition: all .2s;}
/*背景*/
.pull-down-box .pd-top h3.bg-pics{font-size: 18px;color: #ec0000;display: inline-block;font-weight:bold;}
.bg-main-box .bg-msort,.bg-main-box .bg-esort{padding: 0px 25px;}
.bg-main-box a{display: block;margin: 20px 0;font-size: 14px;text-align: left;}
.bg-main-box .bg-msort a{color: #010101;font-weight: bold;}
.bg-main-box .bg-esort a{color: #606060;}
.bg-main-box .bg-esort{border-left: 1px solid #ddd;}
/*li hover  下拉出现*/
.head-nav li:hover .nav-pull-down{display: block;}

/* 网站数据信息 */
.web-number{ background: #fff; padding-top:20px;  }
.web-number .web-number-dl{ font-size: 14px; color: #464646; width:200px; margin-left: -1px; line-height:26px;  }
.web-number .web-number-dl dt{ width: 80px; text-align:left;font-size: 15px; }
.web-number .web-number-dl dd{ font-size: 14px; color:#464646; }


/* new header */
.head-top{
	/* width: 1200px; */
     height: 36px;
     line-height: 36px;
}

.head-top .head-nav-left li{
	 float: left;                                        
	 margin-right: 16px;                           
}
.head-top .head-nav-left li a{
     font-size: 14px;
     color: #5b5b5b;
}
.head-top .head-nav-left li a:hover{
	  color: #287cdc;
}
.head-top .head-nav-right{
	 /*padding-left:782px; */
}
.head-top .head-nav-right > li{
	 float: right;
	 /* margin-left: 436px; */
	/*  border: 1px #000 solid; */
	border-right: 1px #c8c8c8 solid;
}
.head-top .head-nav-right li:first-child{
	border-left: none;
}


.head-top .head-nav-right li a{
	 /* position: relative; */
	 display: inline-block;
	
	 text-align: center;
	 margin-right: 14px;
	 margin-left: 14px;

}
.head-top .head-nav-right li .qd-nav{
	 /* position: absolute; */
	 width: 96px;
	 height: 24px;
	 line-height: 24px;
	 border: 1px #7fbbff solid;
	 background: #fff;
	 border-radius: 5%;
	 font-size: 14px;
	 color: #287cdc;

}
.head-top .head-nav-right li  i{
	  display: inline-block;
	  /* line-height: 62px; */
	  vertical-align: middle;
	  margin-right: 6px;
	  margin-left: 10px;
}

.tb1{
	 /* display: inline-block; */
	 width:16px;
	 height: 16px; 
	 background: url("http://js.588ku.com/comp/index/images/public-icon.png") no-repeat -93px -455px;
}
.news{
	 display:inline-block; 
	 width: 18px;
	 height: 18px;
	 line-height: 18px;
	 background: #ff4800;
	 border-radius: 50%;
	 color: #fff;
	 font-size: 12px;
}
.tb2{
	 width: 57px;
	 height: 20px;
	 background: url("http://js.588ku.com/comp/index/images/public-icon.png") no-repeat 0px -46px;
}
.tb3{
     width: 10px;
	 height: 6px;
     background: url("http://js.588ku.com/comp/index/images/public-icon.png") no-repeat -126px -457px;
}
.tb4{
	width: 57px;
	height: 20px;
	background: url("http://js.588ku.com/comp/index/images/public-icon.png") no-repeat 0px -70px;
}

.head-nav-drop {
  display: none;
  position: absolute;
  top: 77px;
  left: 0px;
  z-index: 100;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.small-width-nav .drop-box {
  width: auto;
  padding: 0;
}
.small-width-nav .drop-box a {
  text-align: center;
}
.head-nav-drop .drop-box a {
  width: 95px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



.head-nav{
	 /*margin-left: 310px;*/
}
.header-nav ul, .header-nav .fr {
    margin-top: 0!important;
    line-height: 38px;
    height: 39px;
    padding: 0!important;
}
.header-nav ul li {
    padding-top: 0;
}
.header-nav ul li {
    float: left;
    display: inline;
}
.login_before li {
    height: 20px;
    line-height: 25px;
    /*padding-right: 60px;*/
}

.action-wrap{
	position: relative;
}

.other-login {
    font-size: 14px;
    margin: 0!important;
}
.other-login .qqlogin {
/*     width: 100px;
height: 26px;
line-height: 26px;
text-indent: 34px;
border: 1px #00b7d6 solid;
color: #00b7d6;
margin-top: 6px;
border-radius: 2px;
background: url(http://icon.qiantucdn.com/images/newIndex/headerico.png) no-repeat 6px 3px #fff;
display: inline-block;
margin-right: 3px;
padding: 0; */
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-indent: 34px;
    border: 1px #00b7d6 solid;
    color: #00b7d6;
    margin-top: 6px;
    border-radius: 2px;
    background: url(http://icon.qiantucdn.com/images/newIndex/headerico.png) no-repeat 6px 3px #fff;
    display: inline-block;
    margin-right: 3px;
    padding: 0;
}

.other-login .wxlogin {
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-indent: 35px;
    border: 1px #3EBB2B solid;
    color: #3EBB2B;
    margin-top: 6px;
    border-radius: 2px;
    background: url(http://icon.qiantucdn.com/images/newIndex/headerico.png) no-repeat 6px -764px #fff;
    display: inline-block;
    padding: 0;
}
.vip-show li i{
    display: inline-block;
}
.dd-drop .drop-box a{ 
    width: 95px;
    text-align: center;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    overflow: hidden; 
    text-overflow: ellipsis;
     white-space: nowrap; 
 }

.qqlogin:hover {
    background: url(http://icon.qiantucdn.com/images/newIndex/headerico.png) no-repeat 6px -26px #fff;
    border: 1px #1f9bd9 solid;
    color: #1f9bd9;
}

.other-login .wxlogin {
    width: 100px;
    height: 26px;
    line-height: 26px;
    text-indent: 35px;
    border: 1px #3EBB2B solid;
    color: #3EBB2B;
    margin-top: 6px;
    border-radius: 2px;
    background: url(http://icon.qiantucdn.com/images/newIndex/headerico.png) no-repeat 6px -764px #fff;
    display: inline-block;
    padding: 0;
}
.other-login .wxlogin:hover {
    border: 1px #21A901 solid;
    color: #21A901;
    background-position: 6px -794px;
}
 .tran {
    transition: all .2s;
}


.head-top .head-nav-right li .tb1{
	margin-left: 2px;
}


/* search tab box and templet recommanded in index page */
/*免抠PNG元素库搜索框*/
body{
    height:100%;
    position: relative;
}
.search {
    width: 860px;
    height: 52px;
    margin: 0 auto;
    position: relative;
}
.element{
    float:none;
    border:none;
    margin:0 auto;
}
.search .input-text {
    width: 750px;
    height: 50px;
    line-height: 50px;
    color: #222;
    position: absolute;
    top: 1px;
    left: 18px;
    outline: none;
}
.search-con h2 {
    height: 83px;
    line-height: 78px;
    text-align: center;
    font-size: 30px;
}
.search-con .element-h2 {
    color:#1069af;
}
.search-con .background-h2 {
    color:#dd0000;
}
.search-con .model-h2 {
    color:#ff7200;
}
.search.element{
    border: 2px #1069af solid;
}
.search.background{
    border: 2px #dd0000 solid;
}
.search.model{
    border: 2px #ff7200 solid;
}
.search .search-but {
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 52px;
    background-color: #1069af;
    position: absolute;
    top: 0;
    right: 0;
    width: 82px;
    height: 52px;
    overflow: hidden;
}
.search-bg {
    height: 206px;
    background: #fff;
    border-bottom: 1px solid #c1bebd;
    box-shadow: 0px 0px 3px #c1bebd;
}
.search-bg .search-tabBox{
	width:864px;
	height:36px;
	margin:0 auto;
}
.search-tabBox .search-tab li{
	text-align:center;
	height:35px;
	line-height:35px;
	float:left;
	width:70px;
	cursor:pointer;
	font-size:16px;
	color:#434343;
	margin-right:1px;
	background-color:#fff;
	border:1px solid #e5e5e5;
}
.search-tabBox .search-tab .element-search.selected{
	background-color:#1069af;
	color:#fff;
    border:1px solid #1069af;
}
.search-tabBox .search-tab .background-search.selected{
	background-color:#dd0000;
	color:#fff;
    border:1px solid #dd0000;
}
.search-tabBox .search-tab .model-search.selected{
	background-color:#ff7200;
	color:#fff;
    border:1px solid #ff7200;
}
/*搜索框下拉*/
.search .search-sug{
    width:690px;
}
.search-sug.element{
    border:1px solid #1069af;
}
.search-sug.background{
    border:1px solid #dd0000;
}
.search-sug.model{
    border:1px solid #ff7200;
}


/*免抠PNG元素库搜索框结束*/
/*模板素材推荐*/
.box-hd {
    margin: 40px 0 25px;
    line-height: 36px;
}
.box-hd h3 {
    font-size: 24px;
    color: #262626;
}
.box-hd .box-bd-tabs .list-elemt a.current {
    background: #0063ca;
    color: #fff;
}
.box-hd .box-bd-tabs .list-elemt .more {
    display: inline-block;
    width: 80px;
    height: 34px;
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #262626;
    text-align: center;
    line-height: 34px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.box-hd .box-bd-tabs .list-elemt a {
    display: inline-block;
    margin-right: 15px;
    color: #262626;
    font-size: 14px;
}
/*模板素材图片*/
.modelImg-list ul {
    margin-right: -15px;
}
.modelImg-list li {
    width: 226px;
    height: 312px;
    border: 1px solid #ededed;
    margin: 0 15px 15px 0;
    background-color: #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.modelImg-list li:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
}
.modelImg-list li:hover .img-show .hover-content{
    top: 5px;
}

.modelImg-list li .img-show {
    overflow: hidden;
    margin: 9px auto 0;
    position: relative;
    height: 260px;
    text-align: center;
    overflow-y: hidden;
}
.modelImg-list .hover-content .fav{
    background: #fff;
    border: 1px solid #d2d2d2;
    padding-right: 13px;
    background: url(../images/public-icon-2.png) no-repeat 45px -61px #fff;
    /*padding-left: 10px;*/
    text-align: left;
}
.modelImg-list .hover-content .fav:hover {
    color: #f25751;
    background-position: 45px -99px;
}
.modelImg-list li .img-show .hover-content {
    position: absolute;
    top: -50px;
    left: 0;
    width: 96%;
    margin-left: -2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.img-show .hover-content .down-big-y {
    border: 1px solid #05920a;
    color: white;
    background-color: #4caf50;
}
.img-show .hover-content .down-big-img {
    background-color: #499df2;
    border: 1px solid #0b7cd2;
    color: #fff;
}
.modelImg-list li .img-show a{
    display:inline-block;
    width:206px;
    height:258px;
    border:1px solid #ededed;
    background-color:#f5f5f5;
}
.modelImg-list li .img-show .hover-content a {
    display: inline-block;
    width: 63px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-left: 4px;
    float: right;
    font-size: 12px;
    margin-top: -2px;
}
.modelImg-list li .img-show .hover-content a i {
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: -2px;
    margin-left: 5px;
}
.hover-content .down-big-img i {
    background: url(../images/public-icon-2.png) 0 -33px no-repeat;
}
.modelImg-list li .img-show .hover-content .fav {
    width: 50px;
}
.hover-content .down-big-y{
    border: 1px solid #05920a;
    color: white;
    background-color:#4caf50;
}
.modelImg-list li a.img-tit {
    font-size: 14px;
    color: #4b4b4b;
    line-height: 40px;
    padding: 0 9px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*新版搜索框升级提醒*/
.new-search-opacityBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:10000;
}
.new-search-opacityBox .new-search-opacity{
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #000;
    height: 100%;
}
.new-search-opacityBox .new-search-img{
    width:955px;
    height:263px;
    background:url(../images/remind.png) no-repeat;
    position: absolute;
    /*top:168px;
    left:464px;*/
    left:50%;
    top:5%;
    margin-left:-487.5px;
    margin-top:-93.5px;
    z-index:11;
}
.new-search-opacityBox a{
    position: absolute;
    left:50%;
    top:13%;
    margin-left: -100px;
    margin-top: -225px;
    width:220px;
    height:48px;
    line-height:48px;
    text-align: center;
    display:block;
    border:2px solid #32a2f8;
    border-radius:30px;
    background:#f5f5f5;
    color:#000;
    font-size:18px;
    z-index:11;
}