/*头部用户下拉列表*/
.fl{
    float:left;
}
.fr{
    float:right;
}
.head-top .head-nav-right li .user-drop .user-drop-info a{
    margin-left:0px;
    margin-right:14px;
}
.head-top .head-nav-right li .user-drop .user-drop-vip  a{
    margin-left:0px;
    margin-right:0px;
}
.user-drop {
    display: block;
    width: 350px;
    /*min-height:340px;*/
    position: absolute;
    background: #fff;
    right:22px;
    box-shadow: none;
    z-index: 101;
    border:1px solid #c4c4c4;
}
.user-drop .user-drop-info{
    border-bottom:1px solid #c4c4c4;
    padding-top:22px;
    height:68px;
    overflow:hidden;
}
.user-drop-info .user-nameBox{
    line-height:25px;
    margin-left:15px;
}
.user-drop .user-drop-info .user-name{
    min-width: 100px;
    color:#000000;
    font-size:16px;
    padding-left:0;
}
.user-drop .user-drop-info .user-quit{
    display:inline-block;
    padding-bottom:20px;
    margin-right:20px;
    text-align: right;
    color:#0060cd;
    line-height: 22px;
}
.user-drop .user-nameBox .user-id{
	display:block;
	color: #8c8c8c;
}
.user-drop .user-info-img{
    padding-left:22px;
}
.user-drop .user-info-img img{
    width:46px;
    height:46px;
    border-radius: 50%;
}
.user-drop-vip {
    border-bottom:1px solid #c4c4c4;
}


/*非vip用户下拉菜单*/
/*.user-drop-vip .user-novip{
    background:#fff;
}*/

.user-drop-vip .user-vip .novip-element-icon,.user-drop-vip .user-vip .novip-background-icon,.user-drop-vip .user-vip .novip-model-icon{
    display:inline-block;
    width:112px;
    height:148px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}
.user-drop-vip .user-vip .novip-background-icon{
    border-right:1px solid #e2e2e2;
    border-left:1px solid #e2e2e2;
}
.user-vip .novip-element-icon em,.user-vip .novip-background-icon em,.user-vip .novip-model-icon em{
    background-image:url(../images/VIPicon.png);
    background-repeat:no-repeat;
    display:block;
    width:58px;
    height:43px;
    margin:0 auto;
}

.user-vip .novip-element-icon em{
    background-position:-29px -140px;
}
.user-vip .novip-element-icon:hover em{
    background-position:-29px -225px;
}
.user-vip .novip-element-icon:hover span{
    color:#104d8d;
}

.user-vip .novip-background-icon:hover em{
    background-position:-123px -224px;
}
.user-vip .novip-background-icon:hover span{
    color:#c70000;
}
.user-vip .novip-background-icon em{
    background-position:-123px -139px;
}

.user-vip .novip-model-icon em{
    background-position:-215px -139px;
}
.user-vip .novip-model-icon:hover span{
    color:#f55700;
}  
.user-vip .novip-model-icon:hover em{
    background-position:-215px -224px;
}
.user-vip .novip-element-icon span,.user-vip .novip-background-icon span,.user-vip .novip-model-icon span{
    color:#4c4c4c;
    display:inline-block;
    margin:0 0 20px;
}

.user-vip .novip-element-icon a,.user-vip .novip-background-icon a,.user-vip .novip-model-icon a{
    display:inline-block;
    height:29px;
    line-height:29px;
    border:1px solid #d0d0d0;
    border-radius:3px ;
    padding:0 17px;   
}
.user-vip .novip-element-icon a{
    color:#104d8d;
}
.user-vip .novip-background-icon a{
    color:#c70000;
}
.user-vip .novip-model-icon a{
    color:#f55700;
}

/*vip用户下拉菜单*/
.user-drop-vip .user-vip{
    background:#fff;
}
.user-drop-vip .user-vip .vip-element-icon,.user-drop-vip .user-vip .vip-background-icon,.user-drop-vip .user-vip .vip-model-icon{
    display:inline-block;
    width:112px;
    height:148px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}
.user-drop-vip .user-vip .vip-background-icon{
    border-right:1px solid #e2e2e2;
    border-left:1px solid #e2e2e2;
}
.user-vip .vip-element-icon em,.user-vip .vip-background-icon em,.user-vip .vip-model-icon em{
    background-image:url(../images/VIPicon.png);
    background-repeat:no-repeat;
    display:block;
    width:58px;
    height:43px;
    margin:0 auto;
}
.user-vip .vip-element-icon em{
    background-position:-29px -225px;
}
.user-vip .vip-background-icon em{
    background-position:-123px -225px;
}
.user-vip .vip-model-icon em{
    background-position:-215px -225px;
}
.user-vip .vip-element-icon span,.user-vip .vip-background-icon span,.user-vip .vip-model-icon span{
    color:#4c4c4c;
    display:inline-block;
    margin:0 0 20px;
}
.user-vip .vip-element-icon span{
    color:#104d8d;
}
.user-vip .vip-background-icon span{
    color:#c70000;
}
.user-vip .vip-model-icon span{
    color:#f55700;
}
.user-vip .vip-element-icon a,.user-vip .vip-background-icon a,.user-vip .vip-model-icon a{
    display:inline-block;
    height:29px;
    line-height:29px;
    border:1px solid #d0d0d0;
    border-radius:3px ;
    padding:0 17px;   
}
.user-vip .vip-element-icon a{
    color:#104d8d;
}
.user-vip .vip-background-icon a{
    color:#c70000;
}
.user-vip .vip-model-icon a{
    color:#f55700;
}

/*企业用户*/
.user-drop-vip  .user-firmvip{
    height:87px;
    background:#fff;
    text-align:center;
    padding-top: 25px;
}
.user-drop-vip  .user-firmvip em{
    display:inline-block;
    margin-bottom:-5px;
    width:63px;
    height:62px;
    background:url(../images/VIPicon.png) no-repeat -143px -300px;

}
.user-drop-vip  .user-firmvip .user-firmvip-benefit{
    display:inline-block;
    text-align: left;
    line-height: 30px;
    padding-left:22px;
}
.user-firmvip-benefit p span{
    color:#b59866;
}
/*用户下拉列表底部*/
.user-drop-bottom{
    background:#f5f5f5;
    padding-top:16px;
    padding-left:22px;
    font-size:12px;
    color:#000000;
    /*border-top:1px solid #c4c4c4;*/
    height:73px;
}

.user-drop-bottom .free-firmVip em,.user-drop-bottom .person-index em,.user-drop-bottom .my-collect em,.user-drop-bottom .upload-element em{
    background-image:url(../images/VIPicon.png);
    width:22px;
    height:22px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: block;
    margin:0 auto 5px;
}
.user-drop-bottom .free-firmVip em{
    background-position:-36px -307px;
}
.user-drop-bottom .free-firmVip:hover em{
    background-position:-81px -307px;
}
.user-drop-bottom .person-index em{
    background-position:-36px -352px;
}
.user-drop-bottom .person-index:hover em{
    background-position:-81px -352px;
}

.user-drop-bottom .my-collect em{
    background-position:-36px -395px;
}
.user-drop-bottom .my-collect:hover em{
    background-position:-81px -395px;
}
.user-drop-bottom .upload-element em{
    background-position:-36px -438px;
}
.user-drop-bottom .upload-element:hover em{
    background-position:-81px -438px;
}
.head-top .head-nav-right li .user-drop-bottom a{
    text-align: center;
    display:inline-block;
    width:75px;
    height:73px;
    margin-left:0;
    margin-right:0;
    float:left;
}
.user-drop-bottom span{
    margin:0 auto;
    color:#000000;
    font-size:12px;
    display:block;
}

/*头部加入VIP导航下拉修改*/
.invip-wid{width: 400px;left: -170px!important;}
.invip-drop-box .triangle{background-position: -100px -2px;width: 18px;height: 10px; position: absolute;top: -9px;left: 219px;}
.invip-drop-box .invip-bg,.invip-drop-box .invip-ys,.invip-drop-box .invip-md{width: 33%;position: relative;text-align: center;}
.invip-drop-box .invip-bg{
    border-right:1px solid #c4c4c4;
    border-left:1px solid #c4c4c4;
}
.invip-drop-box .invip-ys{border-right:none;}
.invip-drop-box .invip-bg i,.invip-drop-box .invip-ys i,.invip-drop-box .invip-md i{display: inline-block;width: 72px;height: 75px;background: url(../images/VIPicon.png) no-repeat;margin:35px 0px 30px;}
.invip-drop-box .invip-ys i{background-position:-23px -21px;}
.invip-drop-box .invip-bg i{background-position:-116px -21px;}
.invip-drop-box .invip-md i{background-position:-208px -21px;}
.invip-drop-box .invip-bg p,.invip-drop-box .invip-ys p,.invip-drop-box .invip-md p{font-size: 14px;line-height: 40px;text-align: center;}
.invip-drop-box .invip-ys p{color: #1166bb;}
.invip-drop-box .invip-bg p{color: #c80000;}
.invip-drop-box .invip-md p{color: #f55700;}
.invip-drop-box .invip-bg a,.invip-drop-box .invip-ys a,.invip-drop-box .invip-md a{display: inline-block;width: 107px;height: 34px;line-height: 34px;text-align: center;font-size: 14px;color: #fff;border-radius: 5px;margin:0 0 40px;}
.invip-drop-box .invip-bg a:hover,.invip-drop-box .invip-ys a:hover,.invip-drop-box .invip-md a:hover{opacity: .8;filter: alpha(opacity=80);}
.invip-drop-box .invip-ys a{background-color: #1166bb;}
.invip-drop-box .invip-bg a{background-color: #c80000;}
.invip-drop-box .invip-md a{background-color: #f55700;}
.head-nav li:hover .nav-pull-down{display: block;}
.nav-pull-down .vip-benefit{
    text-align:center;
    height:65px;
    line-height:65px;
    border:1px solid #e8e8e8;
}
.nav-pull-down .vip-benefit a{
    display:block;
    width:180px;
    margin:0 auto;
    color:#444444;
    /*font-weight: bold;*/
    font-size: 18px
}
.nav-pull-down .vip-benefit a:hover{
    color:#499ef2;
}

.vip-icon{ background: url(http://js.588ku.com/comp/public/images/public-icon.png) no-repeat 0 -46px; width: 57px; height: 20px; display: inline-block; margin-right: 6px;  }
.user-drop .red-vip-icon{ background-position: 0 -70px; }
.icon-show .red-vip-icon{ background-position: 0 -70px; }
.user-drop .gray-vip-icon{ background-position: 0 -97px; }
.user-drop .ys-gray-vip-icon{background-position: -133px -258px;}

/*头部导航栏菜单*/
/*导航模板元素下拉菜单*/
.pull-down-box .pd-top {
    width: 100%;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #efeeec;
}
.pull-down-box .pd-top h3.model-element {
    font-size: 18px;
    color: #fc6639;
    display: inline-block;
    font-weight: bold;
}
.bg-main-box .model-msort a {
    color: #010101;
    float:left;
    font-weight: bold;
    /*padding:0 20px;*/
    width:96px;
}
.bg-main-box .model-msort a {
    text-align: left;
    display: block;
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
}
.bg-main-box .model-msort {
    padding:10px 0 10px 30px;
}


