/*红包弹出*/
.red-packet{
	padding-left: 10px;
	width:614px;
	height:474px;
	position: fixed;
	z-index:9999;
	left:33%;
	top:20%;
	text-align: center;
}
.receive-before-bg{
	background:url(../images/receive-before.png) no-repeat center;
}
.receive-after-bg{
	background:url(../images/receive-after.png) no-repeat center;
}
.red-packet em{
	position: absolute;
	top:30px;
	right:130px;
	display:inline-block;
	width:32px;
	height:32px;
	cursor:pointer;
	background:url(../images/packet-close.png) no-repeat 0 0;
}
.red-packet .packet-amount{
	margin-top: 100px;
	color:#af2604;
	font-size: 41px;
}
.red-packet .packet-amount span{
	font-size:65px;
}
.red-packet .use-condition{
	color:#af2604;
	font-size: 12px;
}
.red-packet .click-receive,.red-packet .buy-element,.red-packet .buy-background{
	display:inline-block;
	border-radius: 10px;
	-ms-transition:all .2s ;
	-moz-transition:all .2s ;
	-webkit-transition:all .2s ;
	-o-transition:all .2s  ;
	transition:all .2s  ;
}
.red-packet a:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}
.red-packet .click-receive,.red-packet .buy-background{
	color:#906901;
	background:#fec631;
}
.red-packet .buy-element,.red-packet .buy-background{
	width:173px;
	height:45px;
	line-height: 45px;
}
.red-packet .click-receive{
	width:200px;
	height:50px;
	line-height: 50px;
	font-size: 30px;
	margin-top:110px;
}
.red-packet .buy-element{
	margin-top:80px;
	background:#fce7af;
	color:#927e4a;
	font-size:22px;
}
.red-packet .buy-background{
	display: block;
	margin:30px auto 0px;
	font-size:22px;
}

/*侧边栏小红包*/
#red-packetIcon{
	margin-bottom: 20px;
	text-align: center;
	margin-left: 33px;
	width:59px;
	height:75px;
	background:url(../images/sred-packet.png) no-repeat;
	color:#fff721;
	cursor:pointer;
}
#red-packetIcon b{
	font-size:23px;
}
#red-packetIcon p{
	font-size:12px;
	margin-top:10px;
}