body{background: #f5f5f5;}
/*修改*/
.web-info{width: 1200px;margin: 0 auto;}
.web-info .wi-left{width: 957px;overflow: hidden;}
.web-info .wi-right{width: 226px;height: 225px;border: 1px solid #d5d5d5;background-color:#fff;border-right:none;border-bottom:none;}
.web-info .wi-left .design-search{height: 225px; width: 471px;background-color:#fff;}
.web-info .wi-left .hotwords-head{height: 48px; line-height: 48px; border: 1px solid #d5d5d5;}
.web-info .wi-left .hotwords-body{ height: 166px;   padding-left: 20px;  padding-top: 8px;  border: 1px solid #d5d5d5;  border-top: none;  overflow: hidden;}
.web-info .wi-left .hotwords-body ul li{  line-height: 40px;  height: 40px;  width: 88px;  }

/*新增*/
.web-info .wi-right dl{text-align: center;width: 112px;height: 112px;border-right: 1px solid #d5d5d5;border-bottom: 1px solid #d5d5d5;}
.web-info .wi-right dl dt i{display:inline-block;width: 47px;height:47px;background: url(../images/wi-right-icon.png) no-repeat;margin-top:19px;margin-bottom:10px;}
.web-info .wi-right  .personal dt i{background-position: 0 0;}
.web-info .wi-right  .company dt i{background-position: 0 -55px;}
.web-info .wi-right  .pngUp dt i{background-position: 0 -109px;}
.web-info .wi-right  .hmpage dt i{background-position: 0 -163px;}
.web-info .wi-right dl dd{font-size:14px;color: #686868;}

/*title-recomed*/
.box-hd{margin: 40px 0 25px;line-height: 36px;}
.box-hd h3{font-size:24px;color: #262626;}
.box-hd .box-bd-tabs .cutBtn{display: inline-block;float:left;width:48px;height:27px;background: #fff;color: #999;font-style: normal;margin: 4px 0 3px;
    border:1px solid #d5d5d5;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}
.box-hd .box-bd-tabs .cutBtn:hover{color: #ff4200;}
.box-hd .box-bd-tabs .to-next{margin-left: -1px;}
.box-hd .box-bd-tabs .more{display: inline-block;width: 80px;height: 34px;background: #fff;border: 1px solid #d9d9d9;color: #262626;text-align: center;line-height: 34px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;}
.box-hd .box-bd-tabs .list-elemt a{display: inline-block;margin-right: 15px;color: #262626;font-size: 14px;}
.box-hd .box-bd-tabs .list-elemt a:hover,.box-hd .box-bd-tabs .list-elemt a.on{color: #ff4200;}

/*j精品推荐*/
.rec-box  .box-bd-container{width: 100%;height: 300px;overflow: hidden;position: relative;}
.rec-box  .box-bd-container ul{width: 9999999px;}
.rec-box  .box-bd-container li{width:226px ;height: 298px;border:1px solid #ededed;background-color: #fff;margin-right: 15px;text-align:center;overflow: hidden;}
.rec-box  .box-bd-container li img{margin: 14px 0 20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;}
.rec-box  .box-bd-container li h4 {font-size:16px;color:#262626;font-weight: bold;line-height:29px;}
.rec-box  .box-bd-container li p{font-size: 14px;color: #9c9c9c;line-height: 30px;}

/*免抠推荐*/
.free-box .box-bd-container .subbanner{width: 228px;height:535px;overflow: hidden; }
.free-box .box-bd-container .subbanner ui{width: 9999px;height: 535px;}
.free-box .box-bd-container .subbanner img{}
.free-box .box-bd-container .png-list{width: 957px;height: 535px;}
.png-list ul{margin-right: -15px;}
.png-list li{width: 226px;height:258px;border: 1px solid #ededed;margin: 0 15px 15px 0;background-color:#fff;-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;}
.png-list li .img-show{overflow: hidden;margin: 9px auto 0;position: relative;max-height: 212px;text-align: center;overflow-y:hidden;}
.png-list li .img-show img{border:1px solid #ededed;}
.png-list li .img-show .hover-content{
    position: absolute;
    top:-50px;
    left: 0;
    width: 106%;
    margin-left: -2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.png-list li:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);  transform: translate3d(0, -2px, 0);
}
.png-list li:hover .img-show .hover-content{top:5px;}
.png-list li .img-show .hover-content a{display: inline-block;width: 63px;height: 36px;line-height: 36px;text-align:center;margin-left: 4px;float: right;font-size: 12px;margin-top: -2px;}
.png-list li .img-show .hover-content a i{display: inline-block;width: 13px;height: 13px;vertical-align: -2px;margin-left: 5px;}

/*公用*/
.hover-content a{display: inline-block;width: 63px;height: 36px;line-height: 36px;text-align:center;margin-left: 4px;float: left;font-size: 12px;}
.hover-content a i{display: inline-block;width: 13px;height: 13px;vertical-align: -2px;margin-left: 5px;}
.hover-content .fav{background: #fff;  border: 1px solid #d2d2d2;}

/*.hover-content .fav i{
    background: url(../images/public-icon-2.png) no-repeat 0 -73px #fff;
}*/

.bgpic-list-small .hover-content .fav{padding-right: 0px; padding-left: 2px; text-align: left; }
.hover-content .fav:hover{color:#f25751; }
.hover-content .fav:hover i{background-position: 0 -111px; }
.hover-content .favon:hover{color: #222;}
.hover-content .favon:hover i{background-position: 0 -73px;}/**/

.png-list li .img-show .hover-content .fav{width: 50px;}
.hover-content .fav,.hover-content .favon{background: #fff;  border: 1px solid #d2d2d2;
    padding-right:13px;
    background:url(../images/public-icon-2.png) no-repeat 48px -61px #fff;

}

.bgpic-list-big .hover-content .fav,.bgpic-list-big .hover-content .favon{background: #fff;  border: 1px solid #d2d2d2;
    padding-right:13px;
    background:url(../images/public-icon-2.png) no-repeat 56px -61px #fff; padding-left: 10px; text-align:left;

}

.hover-content .fav:hover{color:#f25751; background-position: 48px -99px;}
.bgpic-list-big  .hover-content .fav:hover{color:#f25751; background-position: 56px -99px;}
.bgpic-list-big  .hover-content .favon:hover{background:url(../images/public-icon-2.png) no-repeat 56px -61px #fff;color: #222}


.hover-content .favon:hover{color: #222;}
.hover-content .favon:hover{background:url(../images/public-icon-2.png) no-repeat 48px -61px #fff;}
.bgpic-list-big .hover-content .favon:hover{background:url(../images/public-icon-2.png) no-repeat 56px -61px #fff;}

.hover-content .down-big-y{border: 1px solid #05920a; color: white;background-color:#4caf50; }
.hover-content .down-big-y i{
    background: url(../images/public-icon-2.png) 0 -33px no-repeat ;
}
.hover-content .down-big-img{
    background-color: #499df2;
    border: 1px solid #0b7cd2;
    color: #fff;
}
.hover-content .down-big-img i{
    background: url(../images/public-icon-2.png) 0 -33px no-repeat ;
}

.png-list li a.img-tit{font-size: 14px;color:#4b4b4b;line-height: 40px;padding: 0 9px;cursor: pointer;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;}
/*.png-list li a:hover{color: #499df2;}*/
/*背景推荐*/
.bg-box .box-bd-container .subbanner{width: 228px;height: 585px;overflow: hidden;}
.bg-box .box-bd-container .subbanner ul{width: 9999px;height: 585px;}
.bg-box .box-bd-container .subbanner img{}
.bg-box .box-bd-container .bgpic-list{width: 957px;height: 585px;}
/*大图*/
.bgpic-list-big ul{margin-right: -15px;}
.bgpic-list-big li{height: 218px;width: 469px;overflow: hidden;border: 1px solid #ededed;margin: 0 15px 15px 0;background-color:#fff; -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;}
.bgpic-list-big li .img-show{width: 469px;height: 180px;overflow: hidden;position: relative;}
.bgpic-list-big li .img-show img{}
.bgpic-list-big li a.img-tit{line-height: 38px;color: #4b4b4b;padding:0 10px;cursor: pointer;}
.bgpic-list-big li a.img-tit:hover{color: #499df2;}
.bgpic-list-big li:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
}
.bgpic-list-big li:hover .img-show .hover-content{top: 5px;}
.bgpic-list-big li .img-show .hover-content{
    position: absolute;
    top:-50px;
    right: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
/*小图*/
.bgpic-list-small ul{margin-right: -15px;}
.bgpic-list-small li{height: 348px;width: 226px;overflow: hidden;border: 1px solid #ededed;margin: 0 15px 15px 0;background-color:#fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;}
.bgpic-list-small li .img-show{width: 226px;height: 310px;overflow: hidden;position: relative;}
.bgpic-list-small li .img-show img{}
.bgpic-list-small li a.img-tit{line-height: 38px;color: #4b4b4b;padding:0 10px;}
.bgpic-list-small li a.img-tit:hover{color: #499df2;}
.bgpic-list-small li:hover{  box-shadow: 0 2px 10px rgba(0,0,0,0.2);  transform: translate3d(0, -2px, 0);  }
.bgpic-list-small li:hover .img-show .hover-content{top: 5px;}
.bgpic-list-small li .img-show .hover-content{
    position: absolute;
    top:-50px;
    left: 0;
    margin: 0 8px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


/*粉丝留言与活动*/
.fans-box .box-bd-container{border: 1px solid #ededed;background: #fff;padding: 15px 14px;}
.fans-box  .fans-act .act-show{width: 694px;height: 231px;position:relative;border: 1px solid #ededed;overflow: hidden;}
.fans-box  .fans-act .act-show img{width: 694px;height:231px;}
.fans-box  .fans-act .intro-words{width: 100%;height:42px;background-color: rgba(0,0,0,.6);position:absolute;bottom:-42px;left:0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.fans-box  .fans-act .intro-words p{text-align: center;font-size:14px;color:#fff;line-height:42px;}
.fans-box  .fans-act .act-show:hover .intro-words{bottom:0;}
.fans-box  .fans-act .act-topics{width:440px;height:231px;background-color:#fff;border: 1px solid #e7e7e7;padding: 0 10px;}
.fans-box  .fans-act .act-topics h3{height:54px;line-height:54px;font-size:16px;color:#000;border-bottom:1px solid #dadada;}
.fans-box  .fans-act .act-topics h3 span{display:inline-block;width:68px;height:28px;line-height:28px;text-align:center;font-size:14px;background-color:#ffcc32;}
.fans-box  .fans-act .act-topics .topics-list{padding: 10px 0;}
.fans-box  .fans-act .act-topics .topics-list p{line-height: 28px;color:#676767;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.fans-box  .fans-act .act-topics .join-msg{height:42px;line-height:42px;text-align:center;border-top:1px solid #dadada;}
.fans-box  .fans-act .act-topics .join-msg p{color:#000;}
.fans-box  .fans-act .act-topics .join-msg p i{display:inline-block;width:16px;height:16px;background:url(../images/talk-icon.png) no-repeat center;vertical-align:middle;margin-right:8px;}
.fans-box  .fans-msgs{margin-top:15px;}
.fans-box  .fans-msgs .fans-msgs-cont ul{margin-right:-15px;}
.fans-box  .fans-msgs .fans-msgs-cont li{width:220px;height:355px;border:1px solid #e7e7e7;background-color:#fff;margin: 0 15px 15px 0;overflow: hidden;}
.fans-box  .fans-msgs .fans-msgs-cont li .fans-hd img{max-width: 220px;padding-top: 9px;}
.fans-box  .fans-msgs .fans-msgs-cont li .fans-info{padding:10px;overflow:hidden;}
.fans-box  .fans-msgs .fans-msgs-cont li .fans-info p{color:#686868;line-height:24px;}
.fans-box  .fans-msgs .fans-msgs-cont li .fans-info span{color:#4b4b4b;line-height:20px;}
.fans-box  .fans-msgs .fans-msgs-cont li .designer-info dt{text-align:center;}
.fans-box  .fans-msgs .fans-msgs-cont li .designer-info dt img{margin-top:20px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.fans-box  .fans-msgs .fans-msgs-cont li .designer-info dt p{text-align:center;font-size:14px;color:#000;line-height: 50px;}
.fans-box  .fans-msgs .fans-msgs-cont li .designer-info dd i{display: inline-block;  width: 16px;  height: 16px;  background: url(../images/plun.png) no-repeat;  vertical-align: middle;  margin-right: 8px;}
.fans-box  .fans-msgs .fans-msgs-cont li .designer-info dd{font-size:14px;line-height: 28px;color: #333;padding:10px;overflow: hidden;max-height:130px;}
.height-hidden{height: 271px;overflow-y:hidden;text-align: center;}
.png-list li a.img-tit:hover{color: #499df2;}
.act-topics a:hover{color: #499df2;}
.topics-list a:hover{color: #499df2;}
.topic-div{    width: 10px;  height: 10px;  background-color: #ffcc32;  display: inline-block;}

.box-hd .box-bd-tabs .list-elemt .more{width: 80px;}
.box-hd .box-bd-tabs .list-elemt a.more:hover{background: #0063ca;color: #fff;}
.box-hd .box-bd-tabs .list-elemt a.current{background: #0063ca;color: #fff;}
.box-hd .box-bd-tabs .more:hover{background: #0063ca;color: #fff;}