
/*small calendar*/
.ll-skin-santiago {
	font-size: 90%;
}

.ll-skin-santiago .ui-widget {
	font-family: Helvetica Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

.ll-skin-santiago.ui-datepicker {
	padding: 0;
}

.ll-skin-santiago.ui-widget-content {
	font-size: 14px;
	border: 1px solid #ddd;
	background: #fff;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.19);
	box-shadow: 0 1px 3px rgba(0,0,0,.19);
}

.ll-skin-santiago .ui-datepicker-header {
	font-family: "Myriad Pro", sans-serif;
	color: #333;
	padding: 0;
	border:0;
	border-bottom: none;
	overflow: hidden;
	text-transform: uppercase;
	/* text-shadow: 0 -1px 0 rgba(0,0,0,.35); */
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
background:#fff;
}

.ll-skin-santiago.ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.ll-skin-santiago.ui-datepicker .ui-datepicker-title {
	line-height: 2.2em;
	font-weight: normal;
}

.ll-skin-santiago  .ui-datepicker-prev, 
.ll-skin-santiago  .ui-datepicker-next {
	top: -1px;
	background: #fff;;
	border-radius: 0;
	font-weight: normal;
	border: none;
	height: 2.2em;
	width: 1.4em;
}

.ll-skin-santiago.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ll-skin-santiago.ui-datepicker .ui-datepicker-next.ui-state-hover {
	background: #fff;cursor: pointer;
}

.ll-skin-santiago.ui-datepicker .ui-datepicker-prev {
	left: 0;
	border-right: 1px solid #fff}

.ll-skin-santiago.ui-datepicker .ui-datepicker-next {
	right: 0;
	border-left: 1px solid #fff;
}

.ll-skin-santiago.ui-datepicker .ui-datepicker-prev span, 
.ll-skin-santiago.ui-datepicker .ui-datepicker-next span {
	margin-top: -4px;
	top: 40%;
}

.ll-skin-santiago .ui-icon-circle-triangle-e {
	background-image: url(../images/ui-icons_b83400_256x240.png);
	background-position: -32px 0;
}

.ll-skin-santiago .ui-icon-circle-triangle-w {
	background-image: url(../images/ui-icons_b83400_256x240.png);
	background-position: -96px 0;
}

.ll-skin-santiago.ui-datepicker table {
	margin: 0;
}

.ll-skin-santiago.ui-datepicker th {
	padding: .6em 0 .4em;
	text-transform: uppercase;
	color: #bbb;
	font-family: "Myriad Pro";
	font-weight: normal;
	font-size: .8em;
	border-top: 1px solid #e6e6e6;
}

.ll-skin-santiago.ui-datepicker td {
	border: none;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	padding: 0;
	border:0;
}

.ll-skin-santiago td:last-child {
	border-right: 0;
}

.ll-skin-santiago td .ui-state-default {
	background: transparent;
	border: 1px solid #fff;
	color: #666;
	margin: 0;
	font-family: "Myriad Pro", sans-serif;
	font-weight: normal;
	text-align: center;
	padding: .4em;
}
.ll-skin-santiago td .ui-state-hover{border:1px solid #e36565;color: #e36565;}
.ll-skin-santiago.ui-datepicker-calendar .ui-state-hover {
	background: #ededed;
	color: #b2b2b2;
}

.ll-skin-santiago td a.ui-state-active,
.ll-skin-santiago td a.ui-state-active.ui-state-hover {
	color: #fff;
	background:#e36565;border:1px solid #e36565;
}



