/*scroll*/
.ps-container .ps-scrollbar-x-rail {
    display: none;
    position: absolute; /* please don't change 'position' */
    bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color.2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}
.ps-container:hover .ps-scrollbar-x-rail,.ps-container.hover .ps-scrollbar-x-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}
.ps-container .ps-scrollbar-x-rail:hover,.ps-container .ps-scrollbar-x-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.ps-container .ps-scrollbar-x-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 2px; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color.2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}
.ps-container:hover .ps-scrollbar-y-rail,.ps-container.hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
    background: #eee
}
.ps-container .ps-scrollbar-y-rail:hover,.ps-container .ps-scrollbar-y-rail.hover {
    background-color: #eee;
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.ps-container .ps-scrollbar-y-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}
.ps-container .ps-scrollbar-x {
    position: absolute; /* please don't change 'position' */
    bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */
    height: 8px;
    background-color: #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.ps-container.ie6 .ps-scrollbar-x {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}
.ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x,.ps-container .ps-scrollbar-x-rail.hover .ps-scrollbar-x {
    background-color: #999;
}
.ps-container .ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 2px;
    background-color: #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -o-transition: background-color .2s linear;
    -webkit-transition: background-color.2s linear;
    -moz-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
.ps-container.ie .ps-scrollbar-y {
    font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
}
.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #d93024;
}
/*common*/
a:hover {color: #d93024;}
.mt10 {margin-top:13px;}
.mt20 { margin-top: 20px;}
.mt40 { margin-top: 40px;}
.mb10 {margin-bottom: 8px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb40 {margin-bottom: 40px;}
.mt20{margin-top: 20px;}
.hide{display: none;}

.ico-sp{display: inline-block;background: url(../images/ico_sp.png);vertical-align: middle;width: 21px;height: 22px;margin-bottom: 2px;}
.ico-app{background-position: 0 0;}
.ico-mail{background-position: -103px 0;}
.ico-tv{background-position: -204px 0;}
.ico-sign{background-position: -306px 0;}
.ico-hoser{background-position: -405px 0;}
.ico-menu{background-position: -478px 0;}
.ico-arr{background-position:0 -87px;width: 10px;height:6px;}
.ico-search{background-position:0 -139px;width: 18px;height:18px;}
.ico-return{background-position:-144px -87px;width: 16px;height:9px;}
.ico-layer{background-position:-101px -87px;width: 11px;height:7px;}
.ico-re{background-position:-50px -202px;width: 28px;height:12px;}
.ico-live{background-position:0 -202px;width: 28px;height:12px;}
.ico-calendar{background-position:-108px -202px;width: 12px;height:12px;}
.icon-hotspot { display: inline-block;background: url(../images/iconshm.png) no-repeat 0 -150px; width: 16px; height: 28px; margin-right: 8px; vertical-align: top; margin-top: 3px;}
.icon-satellite { display: inline-block;background: url(../images/iconshm.png) no-repeat 0 -214px; width: 16px; height: 28px; margin-right: 8px;vertical-align: top; margin-top: 3px;}
.icon-img { display: inline-block;background: url(../images/iconshm.png) no-repeat 0 -280px; width: 18px; height: 18px; margin-right: 8px;vertical-align: middle;}
.icon-video { display: inline-block;background: url(../images/iconshm.png) no-repeat 0 -326px; width: 18px; height: 20px; margin-right: 8px;vertical-align: middle;}


.on .ico-app{background-position: 0 -38px;}
.on .ico-mail{background-position: -103px -38px;}
.on .ico-tv{background-position: -203px -38px;}
.on .ico-sign{background-position: -305px -38px;}
.on .ico-hoser{background-position: -405px -38px;}
.on .ico-menu{background-position: -478px -38px;}
.ico-arr{
    transition: transform 0.5s;
    -moz-transition: transform 0.5s; /* Firefox 4 */
    -webkit-transition: transform 0.5s; /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transition: transform 0.5s; 
}
.on .ico-arr{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari ÃƒÂ¥Ã¢â‚¬â„¢Ã…â€™ Chrome */
    -o-transform:rotate(180deg);
}
/*.on .ico-arr{background-position:-62px -87px;width: 10px;height:6px;}*/
a:hover .ico-return{background-position:-179px -87px;}
.top-nav{background: #000;height: 48px;line-height: 48px;width: 100%;border-top:2px solid #d93024; min-width: 1000px;}
.top-nav .con{/* margin-right: -10px; */}
.top-nav li{float: left;position: relative;z-index: 2;}
.top-nav li a.txt{display: inline-block;height: 48px;line-height: 48px;color: #fff;padding:0 16px;background: url(../images/nav_line.gif) right 50% no-repeat;color: #bebebe;}
.top-nav li.last a.txt{background: none;}
.top-nav li a.txt i{margin-right:10px; }
.top-nav li a.txt i.ico-arr{margin: 0 0 0 10px;}
.top-nav li.on i.ico-arr{background-position: -30px -87px;}
.top-nav li.on a.txt,.top-nav li a.txt:hover{background: #d93024;color: #fff;}
.top-nav li .layer,.nav ul li.tv .layer{position: absolute;border: 1px solid #c4c4c4;width: 146px;background: #fff;padding: 1px;box-shadow: 1px 1px 5px rgba(0,0,0,0.2);display: none;}
.top-nav li.mail .layer{width: 140px;}
.top-nav li.channel .layer{width:131px; text-align: center;}
/*.top-nav li.on .layer,.nav ul li.tv .layer{display:block;}*/
.top-nav .con li .layer a,.nav ul li.tv .layer a{display:block;line-height: 40px;padding:0 19px;border-bottom: 0;font-size: 14px;}
.top-nav .con li .layer a:hover,.nav ul li.tv .layer a:hover{background: #f4f4f4;color: #d93024;}
.nav ul li.tv .layer a:hover{color: #333;}
.top-nav .left li .layer{width: 555px;height: 140px;padding: 10px 0 0 15px;}

.footer{background: #f4f4f4;border-top:1px solid #dfdfdf ;width: 100%;margin-top: 67px;min-width:1000px;}
.footer-con{height: 188px;}
.footer-con li{float: left;padding-right: 60px;width: 140px;line-height: 30px;}
.footer-con li h4{font-size: 20px;font-family: "Hiragino Sans GB","Microsoft YaHei";margin: 30px 0 20px;}
.footer-con li p a{margin-right: 12px;display: inline-block;color: #616161;}
.footer-con li p a:hover{color: #d93024}
.footer-bottom{text-align: center;padding: 35px 0;line-height:30px;background: #383838;color: #888888}
.footer-bottom a{color: #bfbebe;padding: 0 10px;}
.footer-bottom a:hover{color: #fff;}
.mobile-layer a{float: left;width: 88px;height: 118px;padding: 1px;text-align: center;line-height: 32px;}
.mobile-layer a:hover{background: #f4f4f4;border: 1px solid #e7e7e7;padding: 0;}
.mobile-layer a img{float:left;margin-top: 18px;width: 60px;margin-left: 15px;}
.mobile-layer a span{float: left;line-height: 32px;width: 100%;text-align: center;}
.adv{text-align: center;padding: 20px 0;}
.nav{margin-bottom: 20px;}
.nav .main-nav{border-bottom: 3px solid #232323;min-width: 1000px;}
.nav .sub-nav{font-size: 16px;line-height: 53px;font-family: "Hiragino Sans GB","Microsoft YaHei"; font-weight:bold;}
.nav .sub-nav a{margin-right: 30px;}
.nav .logo{width: 160px;height: 46px;background: url(../images/logo.png) no-repeat;}
.nav-bread{font-size: 14px;}
.nav-bread span{color: #aaaaaa;margin: 0 10px;line-height: 60px;height: 60px;  font-family: "simsun"; }
.nav ul li{float: left;margin-right: 18px;margin-bottom: -3px;}
.nav ul li a.txt{display: block;height: 60px;line-height: 60px;font:bold 24px/60px "Hiragino Sans GB","Microsoft YaHei";padding:0 6px 3px;}
.nav ul li a.txt:hover,.nav ul li.on a{border-bottom: 3px solid #d93024;color: #d93024;padding-bottom: 0;}
.nav ul li.tv{position: relative;}
.nav ul li.tv a.txt i{margin-left: 12px;}
/*.nav ul li.tv a.txt:hover i.ico-arr{background-position:-62px -87px}*/
.nav ul li.tv .layer{position: absolute;top: 55px;left: -22px;z-index: 1;font-size: 18px;text-align: center;padding: 6px;width: 145px;/*display: none*/}
/*.nav ul li.tv.on .layer{display: block;transition: all 2s}*/
.nav ul li.tv .layer a{font-family: "Hiragino Sans GB","Microsoft YaHei";color: #848484;line-height: 33px;border-radius: 3px;margin: 2px 0; font-size: 18px;}
.nav ul li.tv .layer i.ico-layer{position: absolute;width: 11px;height: 7px;background-position: -101px -87px;top: -7px;left: 50%;margin-left: -5px;}
.nav .search{height: 30px;line-height: 30px;border: 1px solid #bfbfbf;width: 248px;margin-top: 15px;position: relative;}
.nav .search .btn{display: inline-block;height: 30px;width: 41px;text-align: center;}
.nav .search input{height: 30px;line-height: 30px;padding: 0 10px;padding: 0 10px;width: 187px;float: left;}
.nav .search.hover,.nav .search.active{border: 1px solid #d93024;box-shadow: 0 1px 6px rgba(217,48,36,0.2)}
.nav .search.active .btn{background: #d93024;cursor: pointer;}
.nav .hover .ico-search{background-position:-45px -139px;}
.nav .active .ico-search{background-position:-89px -139px;}
.nav .search .layer{position: absolute;background: #fff;border: 1px solid #c4c4c4;width: 248px;left: -1px;top: 30px;z-index: 1;box-shadow:1px 1px 5px rgba(0,0,0,0.2);}
.nav .search .layer dl{overflow: hidden;border-bottom:1px solid #e7e7e7;line-height: 38px; }
.nav .search .layer dt{float: left;width: 58px;text-align: center;}
.nav .search .layer dd{margin-left: 58px;border-left: 1px solid #e7e7e7;overflow: hidden;}
.nav .search .layer dd a.item{padding-left: 20px; display:block;}
.nav .search .layer dd a.item:hover{background: #f4f4f4;color: #333}
.nav .search .layer dd span.tit{display: block;}
.nav .search .layer dd .hover{background: #f4f4f4}
.nav .search .layer .red{color: #d93024;font-weight: bold;}
.nav .search .layer dd.multi a{height: 48px;border-top: 1px solid #e7e7e7;line-height: 24px;margin-top: -1px;} 
.nav .search .layer dd.multi a span.time{color: #aaaaaa;}
.nav .search .layer .more{display: block;line-height: 38px;text-align: center;}
.nav .search .layer .more:hover{background: #f4f4f4;color: #333;}
.nav-side{width:50px;background: #363636;position: fixed;right: 0;bottom: 0;transition: height .3s;display: none;z-index: 1000;}
.nav-side ul.menu{margin-top: 115px;}
.nav-side ul.menu li{text-align: center;padding: 10px 0;margin: 10px 0;}
.nav-side ul.menu li a{color: #bebebe;}
.nav-side ul.menu li em{display: block;padding:0 7px;}
.nav-side ul.menu li.on{background: #d93024;}
.nav-side ul.menu li.on a{color: #fff;}
.nav-side .close{width: 24px;height: 24px;background-position:-144px -139px;position: absolute;left: 13px;top: 18px;}
.nav-side .close:hover{background-position: -196px -139px;}
.nav-side .return{display: inline-block;position: absolute;left:0;bottom:0;height:60px;background: #262626;width:50px;text-align: center;padding-top: 19px;color:#fff;}
.nav-side .return em{display: block;color: #bebebe;}
.nav-side .return:hover{background: #000;}
.nav-side .return:hover em{color: #fff;}
.nav-side .side-layer{position: absolute;height: 100%;background: #fff;top: 0;right: 50px;box-shadow: -2px 2px 3px rgba(0,0,0,0.2);padding: 30px 0 0 0; }

.side-layer .hd{margin:0 0 10px;}
.side-layer .hd li{float: left;margin:10px 0 0 2px;}
.side-layer .hd li a{display: inline-block;height: 40px;line-height: 40px;padding:0 9px;background: #f0eeee;}
.side-layer .hd li a:hover{background: #d93024;color: #fff;}
.side-layer .hd li.more{position: relative;width: 82px;z-index: 10;}
.side-layer .hd li.more .layer{position: absolute;border: 1px solid #c4c4c4;border-top: 0;width: 80px;display: none;background: #fff; }
.side-layer .hd li.more.on .layer{display: block;}
.side-layer .hd li.more .layer a{width:60px;background: #fff;}
.side-layer .hd li.more .layer a:hover{background: #d93024;color: #fff;}
.side-layer .hd li.on a.tit{background: #fff;border: 1px solid #c4c4c4;height: 39px;line-height: 39px;padding:  0 8px;border-bottom: 0;}
.side-layer .hd li.on a.tit:hover{color: #333;}
.side-layer .bd .show-list li a{line-height: 30px;display:block;/*width: 100%;*/}
.side-layer .bd .show-list li a:hover{background: #f4f4f4;color: #d93024;}
.side-layer .bd .show-list li span.time{display: inline-block;width: 40px;margin-right: 25px;}
.side-layer .con{overflow:hidden;}
.side-layer .bd .show-list li.disable a{color: #979797;cursor: default;}
.side-layer .menu-layer{width: 250px;}
.side-layer .menu-layer .hd{padding:0 10px 0 20px;}
.side-layer .menu-layer .bd{padding-right: 8px;padding-left: 1px;}
.side-layer .menu-layer .bd ul{padding-right: 10px;}
.side-layer .menu-layer .bd li a{padding-left: 20px;}
.side-layer .menu-layer ul{position:relative; }
.side-layer .menu-layer ul.show-list{overflow: hidden;}
.side-layer .mobile-layer{padding-right: 15px;width: 90px;padding-left: 20px}
.side-layer .list-layer{width: 138px;}
.side-layer .list-layer li{height: 40px;margin:0 1px}
.side-layer .list-layer a{display: block;line-height: 40px;padding-left: 20px;font-size: 14px;}
.side-layer .list-layer a:hover{background: #f4f4f4;color: #d93024;}

/*common*/
.con-l{width: 660px;}
.con-r{width: 320px;}

.variety-box .con-l .bd{margin-left: -20px;}
.yl-focus{width: 320px;overflow: hidden;position: relative;height: 214px;float: left;margin: 0 0 20px 20px;}
.yl-focus .prev,.yl-focus .next{position: absolute;top: 40%;left: 0px;width: 12px ;height: 20px;background-position: -354px -77px; padding: 10px; z-index: 100;display: none;}
.yl-focus .next{left: auto;right: 0px;background-position: -389px -77px; }
.yl-focus  .prev:hover{background-position:-426px -77px;}
.yl-focus  .next:hover{background-position:-461px -77px;}
.yl-focus .yl-slide{position: absolute;}
.yl-focus .yl-slide li{float: left;width: 320px;height: 214px;position: relative;}
.yl-focus .yl-slide li .ft{position: absolute;bottom: 0;height:62px;width:100%;color: #fff;background: url(../images/slide_mask.png) 0 bottom no-repeat;transition: height 0.5s;}
.yl-focus .yl-slide li .ft a{color: #fff;display: block;line-height: 28px;font-family: "Hiragino Sans GB","Microsoft YaHei";}

.yl-focus .yl-slide li .ft a.title{ width:300px;line-height: 44px;padding-top: 18px;;display: block;text-align: center;font-size: 16px;position: relative;z-index: 1;overflow: hidden;white-space: nowrap;padding: 18px 0 0 10px;}
.yl-focus .yl-slide li .mask{display: inline-block;position: absolute;z-index: 0;width: 100%;height: 100%;top: 0;left: 0;/*background: url(../images/slide_mask.png);*/}
.yl-focus .yl-slide li.on .mask{background: #000;opacity: 0.6;}

.yl-focus .yl-slide li .ft .info{position: relative;z-index: 1;padding: 0 10px;}
.yl-focus .yl-slide li .ft .info a{display: inline-block;max-height: 56px; overflow: hidden;}
.yl-focus .yl-slide li .ft .info .regrad{margin-top: 20px;}
.yl-focus .yl-slide li .ft .info .regrad span{margin-left: 30px;}
.yl-focus .yl-slide li.on .ft{height: 100%;padding: 0 20px;width: 280px; text-align: center;}
.yl-focus .yl-slide li.on .ft a.title{/*background: none;*/ width:275px;margin-top: 40px;text-align: left; padding:0 0 0 2px;overflow: hidden;white-space: nowrap;text-align: center;}
/*.yl-focus .yl-slide li.on .mask{display: inline-block;position: absolute;z-index: 0;background: #000;opacity: 0.6;width: 100%;height: 100%;top: 0;left: 0;}*/
.yl-focus .yl-point{position: absolute;top: 10px; bottom: 10px;}
.yl-focus .yl-point li{float: left; width: 10px; height: 10px; margin-left: 10px; background: url(../images/ico_sp.png)  -292px -139px no-repeat; cursor: pointer;}
.yl-focus .yl-point li.on{background-position: -265px -139px ;}
.show-box .menu{float: left;width: 70px;margin-right: 5px;}
.show-box .menu a{display: block;width: 70px;height: 40px;line-height: 40px;background: #f0eeee;text-align: center;margin-bottom: 2px;font-weight: bold;}
.show-box .menu a:hover,.show-box .menu a.on{background: #d93024;color: #fff;}
.show-box .con{width: 245px;float: right;}
.show-box .con .calendar{height: 40px;line-height: 40px;background: #f0eeee;margin-bottom: 13px;padding: 0 40px;text-align: center;position: relative;margin-left: 5px;}
.show-box .con .calendar input{width: 90px;border: none;background: transparent;position: absolute;width: 200px;height: 40px;left: 40px;opacity: 0;}
.show-box .con .calendar .handle{position: absolute;width: 40px;height: 40px;background: #e1e1e1;left: 0;top: 0;}
.show-box .con .calendar .next{left: auto;right: 0;}
.show-box .con .calendar .ico-prev{background-position: -222px -87px;width: 9px;height: 16px;*margin-top: 12px;}
.show-box .con .calendar .ico-next{background-position: -258px -87px;width: 9px;height: 16px;*margin-top: 12px;}
.show-box .con .calendar :hover .ico-prev{background-position: -294px -87px;}
.show-box .con .calendar :hover .ico-next{background-position: -329px -87px;}
.show-box .con .calendar .handle:hover{background:#d93024; }
.show-box .con .calendar .disable.prev,.show-box .con .calendar .disable.next{background: #f0eeee;border-right: 1px solid #dbdbdb;width: 39px;cursor: default;}
.show-box .con .calendar .disable.next{border-left: 1px solid #dbdbdb;border-right: 0;}
.show-box .con .calendar .disable .ico-prev,.show-box .con .calendar .disable:hover .ico-prev{background-position: -222px -87px;opacity: 0.8}
.show-box .con .calendar .disable .ico-next,.show-box .con .calendar .disable:hover .ico-next{background-position: -258px -87px;opacity: 0.8}
.show-box .con .list{position:relative;overflow:hidden;height:400px;}
.show-box .con .list li{line-height: 28px;padding-left: 5px;margin-right: 10px;width: 228px; overflow: hidden; }
.show-box .con .list li span.time{display: inline-block;width:40px;margin-right: 10px;}
.show-box .con .list li span.txt{display: inline-block;width: 178px;white-space:nowrap; }
.show-box .con .list li span.txt i{margin-right: 5px;display: inline-block;width: 28px;}
.show-box .con .list li.disable{color: #979797;}
.show-box .con .list li.disable span.txt a{color:#999;cursor:default}
.show-box .con .list li:hover{background:#f4f4f4;color: #d93024;cursor: pointer;}
.show-box .con .list li.disable:hover{background: #fff;cursor: default;color:#999;}
.small-tit{font-size: 20px;background: #fff;line-height: 20px;display: inline-block; *display:inline;color: #dfdfdf;overflow: hidden;white-space: nowrap; margin-left: -6px;}
.small-tit a{padding: 0 13px;border-right: 1px solid #dfdfdf;margin-right: -1px;font-family: "Hiragino Sans GB","Microsoft YaHei";}

/*sns*/
.news-list li{background: url(../images/iconshm.png) no-repeat 0px -355px; padding-left: 8px;line-height: 28px;height: 28px;overflow: hidden;}
.sns-box .item{width: 320px;}
.sns-box .yl-focus{margin-left: 0;padding-bottom: 30px;}
.sns-box .yl-focus .yl-point{bottom: 0;top: auto;left: 50%;margin-left: -40px;}

.sns-box .yl-focus .prev, .sns-box  .yl-focus .next{display: inline-block;top: 95px;width: 26px ;height: 40px;position: absolute; left: 10px;background-position: -364px -87px; padding: 0; }
.sns-box .yl-focus .prev{background-position: -377px -138px;left: 0;}
.sns-box .yl-focus .next{left: auto;right: 10px;background-position: -329px -138px;right: 0px;}
.sns-box .yl-focus .prev:hover{background-position: -470px -138px;}
.sns-box .yl-focus .next:hover{background-position: -422px -138px;}

/*.yl-focus .prev,.yl-focus .next{position: absolute;top: 50%;left: 10px;width: 12px ;height: 20px;background-position: -364px -87px;display: none;}
.yl-focus .next{left: auto;right: 10px;background-position: -399px -87px;}
.yl-focus  .prev:hover{background-position: -436px -87px;}
.yl-focus  .next:hover{background-position: -471px -87px;}
*/
.sns-box .news-box {margin-left: -20px;}
.sns-box .news-box dl{float: left;width: 150px;margin-left: 20px;}
.sns-box .news-box dl dt{height:152px;overflow: hidden;margin-bottom:17px;}
.sns-box .news-box dl dt .img{overflow:hidden;display:block;width: 150px;height: 100px; margin-bottom:10px;}
.sns-box .news-box dl dt img{width: 150px;height: 100px;}
.sns-box .news-box dl dt .txt{line-height: 24px;}
.sns-box .news-box dl dt .txt span.red{color: #d93024;}
.sns-box .news-box dl dd{line-height:28px;}
.sns-box .group-box dl{margin-top: 16px;}
.sns-box .group-box dt{float: left;width: 70px;height: 70px;}
.sns-box .group-box dt .img{display:block;overflow:hidden}
.sns-box .group-box dd{margin-left: 80px;}
.sns-box .group-box dd h4{font-size: 16px;font-family: "Hiragino Sans GB","Microsoft YaHei";line-height: 16px;margin-bottom: 8px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sns-box .group-box dd p{line-height: 24px;height: 48px;overflow: hidden;}
.sns-box .con-tit{font-size: 20px;margin-bottom: 20px; font-weight: bold;font-family: 'sans-serif','Microsoft YaHei';}
.sns-box .con-tit span{color: #d93024;}

.multi-news{margin-left: -20px;}
.multi-news dl{float: left;width: 235px;margin-left: 20px;}
.multi-news dl dd{height: 285px;}
.multi-news dl dd .img{width: 235px;height: 157px;position: relative;margin-bottom: 16px;overflow: hidden;}
.multi-news dl dd .img .mask{position: absolute;bottom: 0;left:0;height:28px;width:100%;color: #fff;line-height:28px;padding-top: 34px;display: block;background: url(../images/slide_mask.png) 0  bottom no-repeat;text-align: center;}

.atlas-box .bd{position: relative;}
.atlas-box .left,.atlas-box .right{width: 498px;}
.atlas-box .item {float: left;height: 300px;margin-bottom: 4px;position: relative;overflow:hidden;}
.atlas-box .item a.mask{ overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis;display: inline-block;position: absolute;width: 100%;height: 39px;bottom: 0;left:0;font-size: 16px;line-height: 39px;text-align: center;color: #fff;background: url(../images/slide_mask.png) 0 bottom repeat-x;padding-top: 28px;font-family: 'sans-serif','Microsoft YaHei';}
.atlas-box .item2,.atlas-box .item3{height: 296px;}
.atlas-box .item4{height: 200px;}
.atlas-box .item5,.atlas-box .item6{height: 192px;width: 247px;overflow: hidden;}
.atlas-box .item7{height: 199px;}
.atlas-box .item2,.atlas-box .item5{margin-right: 4px;}
.atlas-box .haddle{-webkit-transition: -webkit-transform .3s ease;-moz-transition: -moz-transform .3s ease;-o-transition: -o-transform .3s ease;transition: transform .3s ease;position: absolute;left: 50%;top: 50%;width: 100px;height: 100px;line-height: 100px;font-size: 16px;background-position: 0 -263px;margin: -50px 0 0 -50px;color: #fff;text-align: center;font-family: "Hiragino Sans GB","Microsoft YaHei"; }
.atlas-box .haddle:hover{background-position:-134px -263px;transform: rotate(360deg);-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);}


.acttitle {border-top: 2px solid #e0e0e0; height: 50px;}
.acttitle li {float: left; padding: 0 12px; font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 20px; height: 50px; line-height: 50px; cursor: pointer; margin-right: 30px; font-weight: bold;}
.acttitle li.on {color:#d93024;  border-top: 2px solid #d93024; margin-top: -2px;}
.acttitle li.on a{color:#d93024;}

.detailscont {font-size:12px; line-height: 24px; color: #616161; height: 90px;overflow: hidden;}
.details { color: #d93024;}
.details:hover { color: #bb1e12;}

.contmain_l{width: 550px; height: 320px; overflow: hidden; position: relative;}
#imgs_cont1 {overflow: hidden; position: absolute; top: 0px ; left: 0px;}
#imgs_cont1 li {width: 550px; height: 320px; position: relative;}
#imgs_cont1 li .ft {position: absolute; left: 0px; bottom: 0px; width: 100%; height:0px;background: url(../images/slide_mask1.png) 0 bottom repeat-x;}
#imgs_cont1 li .ft .t1 { display: block;font-size: 24px; color: #fff; font-family: "Hiragino Sans GB","Microsoft YaHei";padding-left: 20px; padding-top:27px; width: 450px; height: 30px; line-height: 30px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis;}
#imgs_cont1 li .ft .t2 { display: block;font-size: 12px; color: #fff; padding-left: 20px; width: 400px; height: 40px; line-height: 40px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis;}
#imgs_cont1 li .ft .t2 span {/* color: #bb1e12; */}
#icons_cont1 {position: absolute;right: 50px; bottom: 24px;}
#icons_cont1 li { float: left; width: 6px; height: 6px; margin-left: 10px; background: url(../images/iconshm.png) no-repeat 0px -84px; cursor: pointer;}
#icons_cont1 li.on { background-position: 0px -114px;}
#prevIcon1 {position: absolute;width: 40px; height: 40px; background: #d93024 url(../images/iconshm.png) no-repeat 14px -33px; bottom: 0; right: 0;}
#nextIcon1 {position: absolute;width: 40px; height: 40px; background: #d93024 url(../images/iconshm.png) no-repeat 15px 11px; bottom: 40px; right: 0;}
#prevIcon1:hover, #nextIcon1:hover {background-color: #bb1e12;}
.contmain_r { margin-left: 580px; width: 420px; overflow: hidden; height: 320px;}
.contmain_r .hd { margin-bottom: 12px; height: 31px; overflow: hidden;}
.contmain_r .hd a { font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 24px; font-weight: bold;}
.contmain_r .bd .adsimg {overflow: hidden;}
.contmain_r .bd .adsimg img { width:150px; height: 100px;}
.contmain_r .bd .news {width: 270px; overflow: hidden;}
.contmain_r .bd .news li {line-height: 17px; height: 18px; overflow:hidden;margin-bottom: 10px;}
.contmain_r .bd .news li a { font-size:12px; padding-right: 6px;}

.actintro_l {width: 550px;}
.actintro_lbd .l { width:260px;}
.actintro_lbd .ads260img {overflow: hidden; display: block; width: 260px; height: 130px;}
.actintro_lbd .ads270img {overflow: hidden; display: block; width: 260px; height: 120px;}
.actintro_lbd .ads260img img { width: 260px; height: 130px;}
.actintro_lbd .ads270img img { width: 260px; height: 120px;}
.actintro .tit {height:19px; line-height: 20px; width:260px;overflow: hidden; white-space: nowrap;}
.actintro .tit a { font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 16px; font-weight: bold;}
.pindaoicon {width: 268px; height: 43px; border: 1px solid #d93024; line-height: 43px; text-align: center; margin-top: 7px; background: url(../images/iconshm.png) no-repeat 184px -656px;}
.pindaoicon a { font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 20px; color: #d93024;}
.pindaoicon:hover {background-color: #d93024 ; background-position: 184px -706px;}
.pindaoicon:hover a { color: #fff; }
.posrela { position: relative;}
.actintro_lbd {display: none; height:260px; overflow: hidden; position: absolute; top:5px; left: 0; width: 550px;}
.actintro_lbd .r {margin-left: 280px; width: 270px;}
.actintro_lbd .news {margin-top: -6px;}
.actintro_lbd .news li { height: 32px; overflow: hidden; background: url(../images/iconshm.png) no-repeat 0px -353px; padding-left: 8px;}
.actintro_lbd .hotwords {border: 1px solid #e0e0e0; background: #f9f9f9; padding: 13px 20px 17px; font-size:12px; line-height: 30px; height: 51px;overflow: hidden;}
.actintro_lbd .hotwords a {padding-right: 10px; display: inline-block;}
.actintro_lbd .news a { font-size:14px; line-height: 30px;}
.actintro_r {width: 420px;}
.actintro_r .actintro_rbd {display: none; margin-top:5px;}
.actintro_r .adsimg {overflow: hidden;}
.actintro_r .adsimg img { width: 150px; height: 100px;}
.actintro_r .rmjm {margin: 10px 0;}
.actintro_r .rmjm span {color:#d93024; font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 20px;line-height: 40px;font-weight: bold;}
.actintro_r .rmjm img { width: 300px; height: 40px; padding-left: 30px;}
.actintro_r .detailscont {line-height: 25px; height: 84px; margin-top:9px;overflow: hidden;}
.actintro_ft { position: relative; width: 420px; height: 86px; overflow: hidden;}
#actintro_ftimgs {overflow: hidden; position: absolute; top:4px ; left: 0px;}
#actintro_ftimgs li {width: 130px; height: 86px; position: relative; padding-right: 15px;overflow: hidden;  }
#actintro_ftimgs li a{display: inline-block;width: 130px; height: 86px;overflow: hidden;  }
#actintro_ftprev, #actintro_ftprev.end:hover {position: absolute;width: 20px; height: 30px; background: url(../images/iconshm.png) no-repeat 0px -418px;top: 30px; left: 0;}
#actintro_ftprev:hover {background-position: 0 -549px; }
#actintro_ftnext, #actintro_ftnext.end:hover {position: absolute;width: 20px; height: 30px; background: url(../images/iconshm.png) no-repeat 0px -489px;top: 30px; right: 0;}
#actintro_ftnext:hover {background-position: 0 -608px; }

.scene { width: 660px; height: 440px; }
.unifiedtitle { background: url(../images/more.png) no-repeat center right; height: 30px; overflow: hidden;}
.unifiedtitle .more {color: #d93024; font-size: 12px; line-height: 27px; width: 50px; overflow: hidden;text-indent: -2000px;}
.unifiedtitle .bigtit {font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 30px; padding-right: 10px; background: #fff; line-height: 30px; font-weight: bold;}
.otherplot {width: 320px;height: 440px; margin-left: 680px;}
.otherplot a {display: block; margin-bottom: 10px; height: 140px; overflow: hidden;}
.otherplot img {width: 320px; height: 140px;}
.scene_l {width: 320px;}
.scene_l .img , .scene_l .img img{width: 320px; height: 214px; display: block; overflow: hidden;}
.scene_l p.tit {height: 40px; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; margin-top:5px;}
.scene_l p.tit a {font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 20px; line-height: 40px;}
.scene_r { margin-left:340px; width:320px; height: 393px; overflow: hidden; }
.scene_r ul { position: relative; height: 393px; overflow: hidden; padding-left: 4px; margin-top: -3px; }
.scene_r ul li { border-left: 4px solid #e0e0e0;}
.scene_r ul li .title { padding-left: 24px; padding-bottom: 5px; background: url(../images/iconshm.png) no-repeat 0px -834px;position: relative;left: -10px; }
.scene_r ul li .title a {font-family: "Hiragino Sans GB","Microsoft YaHei"; font-size: 15px; line-height: 20px; font-weight:bold;}
.scene_r ul li .info {color: #979696; font-size:12px; padding: 4px 0;}
.scene_r ul li .info .add {padding: 0 20px 0 30px; background: url(../images/iconshm.png) no-repeat 14px -899px; display: inline-block; vertical-align: middle; padding-bottom: 4px;}
.scene_r ul li .detailscont1 {width:276px; padding:0 0 10px 14px; line-height:22px; color:#616161;}
.imgtitle { background: #d93024; padding:0 10px 0 30px; background: url(../images/iconshm.png) no-repeat 12px -763px #d93024; height: 40px; line-height: 40px;}
.imgtitle span {color: #ffb2ad;  font-size:12px; overflow: hidden;white-space: nowrap;overflow: hidden;}
.imgtitle span.add {color: #fff;font-weight: bold; width:73px;}
.imgtitle span.dish {width: 108px; text-align: center;}
.imgtitle span.clickcount {width: 85px;}

.adsleft {position: absolute; top: 40px; left: 300px; width: 120px; height: 240px;display: none;}
.adsright {position: absolute; top: 40px; right: 300px; width: 120px; height: 240px;display: none;}
.adsleft a, .adsright a,.adsleft a img, .adsright a img{display: block;}
.adsleft .close_c,.adsright .close_c { background: #e0e0e0;}
.adsleft .close_c i,.adsright .close_c i { background: url(../images/ads-close.jpg) no-repeat; width: 40px; height: 18px; cursor: pointer;}


/*css begin*/
.scale{
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    -moz-transition: -moz-transform 0.3s ease 0s;
    -o-transition: -o-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
}
.scale:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);

}
.video-play{position: absolute;width: 854px;height: 515px;background: #000;top:100px;left: 50%;z-index: 1000;}
.video-play .close{width: 30px;height: 30px;background-position: -144px -202px;position: absolute;right: -15px;top: -15px;}
.small-video{position: fixed;width:300px;height:169px;border: 10px solid #fff;box-shadow: 1px 1px 5px rgba(0,0,0,0.2);}
.small-video .close{display: none}
#maskBg{background: #000;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0.8;z-index:999;}


