.gallery-container {background-color:#4a4a4a; position: relative;}
.gallery-flexslider-carousel {position: relative; margin-top:5px;}
.gallery-flexslider-carousel ul.slides li img {width:80px; height:80px; margin:10px 10px 10px 0;}
.gallery-flexslider-carousel .slides li {/*margin:10px 5px;*/}

.gallery-flexslider-slider ul.slides li img {
/*    -webkit-transition: margin .1s, height .1s, width .1s;
    transition: margin .1s, height .1s, width .1s;*/
    margin-left:auto;
    margin-right: auto;
    max-height: 700px;
    min-height: 384px;
    width:auto;
}

.gallery-flexslider-carousel .carousel-slide {}

/*.gallery-flexslider-carousel.flex-centered .slides {width: 100%!important; text-align: center;}
.gallery-flexslider-carousel.flex-centered .slides li {display: inline-block!important; *display: inline!important; float: none!important;}*/
.gallery-flexslider-carousel.flex-centered .slides {}
.gallery-flexslider-carousel.flex-centered .slides li {}
.gallery-flexslider-carousel.flex-centered .slides li img {}
/*.gallery-flexslider-slider ul.slides li img:not(.first) {display: none;}*/

.gallery-flexslider-carousel .flex-nav-prev a {
position: absolute;
    background: url('../images/sprites-redesign.png') no-repeat -46px -76px;
    width: 38px;
    height: 38px;
    left: 0px;
     margin-top: -15px; 
    background-size: 397px 248px;
}
.gallery-flexslider-carousel .flex-nav-next a {
    position: absolute;
    background: url('../images/sprites-redesign.png') no-repeat -2px -76px;
    width: 38px;
    height: 38px;
    right: 0px;
    margin-top: -15px;
    background-size: 397px 248px;
}
.gallery-flexslider-slider .flex-nav-prev a {
    position: absolute;
    background: url('../images/sprites-redesign.png') no-repeat -74px -123px;
    width: 60px;
    height: 60px;
    left:0px;
    margin-top:-65px;
    }
.gallery-flexslider-slider .flex-nav-next a{
    position: absolute;
    background: url('../images/sprites-redesign.png') no-repeat -5px -123px;
    width: 60px;
    height: 60px;
    right:0px;
    margin-top:-65px;
}

.gallery-flexslider-carousel ul.slides li.flex-active-slide{ width:110px !important;}
.gallery-flexslider-carousel ul.slides li.flex-active-slide img{width:100px!important; height:100px !important; margin: 0 ;}
.gallery-flexslider-carousel li.flex-active-slide .carousel-slide{width:100px;}

.gallery-flexslider-carousel ul.slides li:hover { width:110px !important;}
.gallery-flexslider-carousel ul.slides li img:hover {width:100px!important; height:100px !important; margin: 0 ;}
.gallery-flexslider-carousel .carousel-slide:hover {width:100px;}

.gallery-container .post_category{
    background-color:#919105;
    color:white;
    font-size:15px;
    text-align:center;
    display: inline-block;
    padding:10px 27px;
    position: absolute;
    top:27px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index:999;
}

.gallery-tags-container span {
    font-size:20px;
}

.gallery-start-slideshow span.pause-slideshow {
    border-top : 0 !important;
    border-bottom : 0 !important;
    border-left : 3px solid #fff !important;
    border-right  : 3px solid #fff !important;
}
.gallery-start-slideshow span.play-slideshow {
    border-top     : 5px solid transparent !important;
    border-bottom  : 5px solid transparent !important;
    border-left    : 5px solid #fff !important;
    border-right   : 0 !important;
}


.gallery-start-slideshow {
    width: 185px;
}


@media screen and (max-width: 450px){
    .maincontent.gallery .inner-page .top-content .left h1.gallery-title {
        font-size: 21px;
    }
    .gallery-author-name {
        font-size: 16px;
    }
    .gallery-tags-container span {
        font-size:16px;
    }
    .gallery-tags-container a {
        font-size:16px;
    }
}

@media screen and (max-width: 767px) {
    .maincontent.gallery .inner-page .top-content .left h1.gallery-title {
        font-size: 21px;
    }
    .gallery-container .post_category {
        display: none;
    }
    .gallery-author-name {
        font-size: 15px;
    }

    .gallery-flexslider-slider ul.slides li img {
        max-height: 330px;
    }

}

@media screen and (max-width: 1023px) {
    .gallery-flexslider-slider ul.slides li img {
        max-height: 576px;
        min-height: 384px;
    }
}

@media screen and (max-width: 727px) {
    .gallery-flexslider-slider ul.slides li img {
        max-height: 384px;
        min-height: 192px;
    }
}
@media screen and (max-width: 319px) {
    .gallery-flexslider-slider ul.slides li img {
        max-height: 150px;
        min-height: 50px;
    }
}


/* Hide slides until Flexslider loads and updates these rules inline */

.gallery-flexslider-slider li.slide {
    opacity: 0 ;
}
.gallery-flexslider-carousel .slides li.slide {
    display: none;
}


/* For disabling carousel when popup ad is displayed */
.flex-carousel-blocking {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1000;
}