/*ihmp.css*/

div#ihmp_box {
	font-family:'Trebuchet MS','Futura',arial,verdana,sans-serif;
	width:300px;
	min-height: 510px;
	line-height:1em;
	background:#ffffff;
	position:relative;
	display:block;
	padding-bottom:29px;
	margin-top:5px;
	}

div.ihmp_clear {
	clear:both;
	}

div#ihmp_header {
	width:100%;
	height:32px;
	background: url('../images/topimg.jpg');
	}
	
div#ihmp_box div.title {
	max-height: 34px;
    overflow: hidden;
    }
div#ihmp_box div.title a.title{
	color:#929D00;
	font-size:15px;
	text-align:left;
	padding:0px;
	margin:0px 0;
	font-weight:bold;
	text-decoration:none;
	line-height:16px;
	}
	
div#ihmp_box div.title a.title:hover{
	background-color:#96A411!important;
	color:#fff!important;
	text-decoration:none;
	}
	
div#ihmp_box div#ihmp_view_month, div#ihmp_box div#ihmp_view_ever, div#ihmp_box div#ihmp_post {
	position:relative;
	}
	
div#ihmp_box div.ihmp_select {
	padding:0px;
	margin:0px;
	display:block;
	font-style:oblique;
	color:#626262;
	text-align:center;
	float:left;
	font-size:12px;
	letter-spacing:0.05em;
	line-height:21px;
	border:1px solid #ffffff;
	}
div#ihmp_box #ihmp_view_monthselect {
	width:101px;
	}
div#ihmp_box #ihmp_view_everselect {
	width:72px;
	}
div#ihmp_box #ihmp_postselect {
	width:121px;
	}
div#ihmp_box div.notselected {
 	background:#e1e1e1;
 	}

div#ihmp_box div.ihmp_select:hover {
 	cursor:pointer;
	}

div#ihmp_box div.notselected:hover {
	background:#d7d84c;
	border-color:#ffffff;
	
}
div#ihmp_postselect, div#ihmp_view_everselect {
	display:hidden;
	}
	
div#ihmp_box img {
	width:90px;
	height:87px;
	float:left;
	opacity:1.0;
	filter:alpha(opacity=100);
	padding-right:10px;
	}
div#ihmp_box img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	}

div#ihmp_box ul.ihmp_list_panel_view_month, div#ihmp_box ul.ihmp_list_panel_view_ever, div#ihmp_box ul.ihmp_list_panel_post {
	border:0px;
	padding:0px;
	margin:0px;
	margin-bottom:0px;
	}

div#ihmp_box li.ihmp_item {
	width:280px;
	display:block;
	border-bottom:1px solid #b0b0b0;
	height:87px;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	position:relative;
	background:#ffffff;
	}
	
div#ihmp_box div.ihmp_excerpt {
    max-height: 40px;
    overflow: hidden;
	}
	
div#ihmp_box div.ihmp_excerpt a{
	font-size: 12px;
    line-height: 13px;
    color:#666666;
    font-weight:normal;
	}

div#ihmp_box div.ihmp_excerpt a:hover{
	background-color:#96A411!important;
	color:#fff!important;
	text-decoration:none;
	}
	
li.ihmp_item a.ihmp_readmore{
	color:#929d00;
	font-size:14px;
	text-align:right;
	padding:0px 0;
	margin:0px 0;
	font-weight:bold;
	position:absolute;
	right:0px;
	bottom:10px;
	text-decoration:none;
	}
	
li.ihmp_item a.ihmp_readmore:hover{
	background-color:#96A411!important;
	color:#fff!important;
	text-decoration:none;
	}
	
div#ihmp_more_view_ever, div#ihmp_more_view_month, div#ihmp_more_post {
	width:100%
	padding:5px;
	text-align:right;
	height:1.4em;
	margin:5px;
	background:#ffffff;
	position:absolute;
	bottom:-29px;
	right:5px;
	}
div#ihmp_more_view_month span, div#ihmp_more_view_ever span, div#ihmp_more_post span{
	height:1.4em;
	font-style:oblique;
	color:#626262;
	text-align:right;
	font-size:14px;
	text-decoration:none;
	letter-spacing:1.2px;
	}
div#ihmp_more_view_month span:hover, div#ihmp_more_view_ever span:hover, div#ihmp_more_post span:hover{
	color:#929d00;
	cursor:pointer;
	}


.ihmp_hideonload {display:none;}