﻿body{
	margin:0px;
	padding:0px;
	background-color:#ff9000;
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS P Gothic",Verdana, Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}

a { text-decoration:none;}


/*----- ヘッダー -----*/

header {
	height:50px;
	width: 100%;
	*zoom: 1;
}
header:after {
	display: table;
	content: "";
	clear: both;
}
header > img {
	margin: 1rem 4%;
	max-width: 100%;
}
header > img.title {
	max-width: 56%;
	float: left;
	margin-right: 0;
}
header > img.toralogo {
	max-width: 28%;
	float: right;
	margin-left: 0;
}

/*----- メイン画像 -----*/
p.topimage{
	margin-top:0;
	max-width: 1350px; /* 最大幅 */
	min-width: 900px; /* 最小幅 */
}

p.topimage img { width: 100%; }

.slide_link:hover{
	opacity:0.85;
	filter:alpha(opacity=85);
	-ms-filter: “alpha( opacity=85 )”;
}

/*----- トップページメニューテーブルのセル -----*/
#body {
	text-align: center;
}
#body > * {
	text-align: left;
}


/*================== ノーパソ用 ==================*/
@media screen and (max-width:1500px)
{
 .table{}
 .table-cell{}
}
/*================== 大きいモニタ用 ==================*/
@media screen and (min-width:1501px)
{
 .table{display: table; margin: 0; padding: 0;}
 .table-cell{display: table-cell; margin: 0; padding: 0;}
}

/*----- トップページメニューボタンの囲み -----*/
.menu_block{
	display: inline-block;
	width:210px;
	margin-left:40px;
}
.menu_block h2{
	text-align:center;
	margin:10px 10px 20px -20px;
	padding:3px 10px;
	font-weight: bold;
	color: #fff;
	font-size: 12pt;
	background-color: #FF5D00;
	border:1px solid #FF5D00;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
}

.menu_block02 , .e_menu_block{
	display: inline-block;
	margin:10px 10px;
}
.menu_block02 h2{
	text-align:center;
	margin:10px 0px;
	padding:3px 10px;
	font-weight: bold;
	color: #fff;
	font-size: 12pt;
	background-color: #FF5D00;
	border:1px solid #FF5D00;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
}

.e_menu_block h2{
	text-align:center;
	margin:10px 0px;
	padding:3px 10px;
	font-weight: bold;
	color: #fff;
	font-size: 12pt;
	background-color: #006400;
	border:1px solid #006400;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
}

/*----- トップページのメニューのボタン -----*/
.menu_btn{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS P Gothic",Verdana, Arial, Helvetica, sans-serif;
	font-size:12pt;
	font-weight:bold;
	text-align:center;
	padding:15px;
	width:200px;
	border:2px solid #FF5D00;
	background-color:#ffffff;
	margin-bottom:20px;
	cursor:pointer;
	color:#FF5D00;
	text-shadow:-1px -1px #ffffff,1px -1px #ffffff,-1px 1px #ffffff,1px 1px #ffffff;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
	-webkit-appearance: none;
}
.menu_btn_p{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-family:"メイリオ","Meiryo","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS P Gothic",Verdana, Arial, Helvetica, sans-serif;
	font-size:12pt;
	font-weight:bold;
	text-align:center;
	padding:15px;
	width:200px;
	border:2px solid #6699FF;
	background-color:#ffffff;
	margin-bottom:20px;
	cursor:pointer;
	color:#6699FF;
	text-shadow:-1px -1px #ffffff,1px -1px #ffffff,-1px 1px #ffffff,1px 1px #ffffff;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
	-webkit-appearance: none;
}

.menu_btn:hover{
	color:#ffffff;
	padding:15px;
	border:2px solid #FF5D00;
	background-color:#FF5D00;
	text-shadow:-1px -1px #FF5D00,1px -1px #FF5D00,-1px 1px #FF5D00,1px 1px #FF5D00;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
}
.menu_btn_p:hover{
	color:#ffffff;
	padding:15px;
	border:2px solid #6699FF;
	background-color:#6699FF;
	text-shadow:-1px -1px #6699FF,1px -1px #6699FF,-1px 1px #6699FF,1px 1px #6699FF;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
}

.icon{
	position:relative;
}
.icon div{
	position:absolute;
	left:-40px;
	top:-10px;
}

/*----- フッター -----*/
section#screen {
	background-color: rgb( 255, 255, 255 );
	max-width: 100%;
}
section#screen > a {
	display: table;
	margin: 0 auto;
}
section#screen > a > img {
	width: 100%;
}
section#display {
	margin: 1rem 0;
	text-align: center;
	color: white;
	font-size: 8pt;
}
section#display > span {
	display: block;
}
section#display > span:first-of-type {
	font-weight: bold;
}
section#display > span > span {
	white-space: nowrap;
}

footer {
	*zoom: 1;
}
footer:after {
	display: table;
	content: "";
	clear: both;
}
footer > div {
	margin: 1rem 0;
}
footer > div.link {
	float: left;
	padding-left: 5%;
	font-size: 9pt;
}
footer > div.link > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	*zoom: 1;
}
footer > div.link > ul:after {
	display: table;
	content: "";
	clear: both;
}
footer > div.link > ul > li {
	float: left;
	padding: 0 9px;
}
footer > div.link > ul a {
	color: white;
	text-decoration: none;
}
footer > div.link > ul a:hover {
	text-decoration: underline;
}
footer > div.right {
	float: right;
	padding-right: 5%;
}


@media screen and (max-width: 620px) {
	/* nav li の横幅 */
	nav > ul > li {
		width: 50%;
	}
}

@media screen and (max-width: 300px) {
	nav > ul > li {
		width: 100%;
	}
}


/*以下、Jquery用*/

#slide {
	width:1210px;
	height:410px;
	margin:0 auto;
	position:relative;
}
#slide img {
	position:absolute;
	left:0;
	top:0;
}
/*----- 160228 採用情報（終わったら削除可） -----*/

.saiyou_ban01{
	text-align: center;
	overflow: hidden;
	position: relative;
}
.saiyou_ban01 ul{
	margin:10px 0px;
	padding: 0;
	list-style-type:none;
	position: relative;
	display:inline-block;
}
.saiyou_ban01 li{
	margin:0;
	padding:2px;
	line-height:1.5em;
	position: relative;
	display:inline-block;
}
.saiyou_h2{
	text-align:center;
	margin:0px 30px;
	padding:3px 10px;
	background-color: #FF5D00;
	border:1px solid #FF5D00;
	line-height: 1.5em;
	color: #ffffff;
	font-weight: bold;
	font-size: 12pt;
	-moz-border-radius: 3px;    /* Firefox */
	-webkit-border-radius: 3px; /* Safari,Chrome */
	border-radius: 3px;         /* CSS3 */
}