@charset "utf-8";

/* #############################################################

[ IE6 調整用CSS ]

適用範囲：全体

※追記・改変の際はウェブマスタに問い合わせること

############################################################# */


/* ==========================================================================
 Class Module
=========================================================================== */
.first-child {
	margin: 0 !important;
}
.first-fl {
	float: left !important;
}
.fft {
	overflow: hidden;
	zoom: 1;
}