@charset "utf-8";


/* ==========================================================================
 2カラム用
=========================================================================== */

/*画像見出しの横付きリンク*/
.mod_headingHelpBlankLink {
	margin: 0 10px 0 0;
	display: block;
	padding: 0 0 0 22px;
	background: url(/resource/images/shared/icn/help-white-icn.png) no-repeat left center;
	line-height: 40px;
	font-size: 1.2em;
}

.mod_headingHelpBlankLink a {
	color: #fff;
}

/*見出しの横付きリンク*/


/*テキスト見出し*/
.mod_wideTextHeadingA {
	padding: 8px 20px 0;
	line-height: 1.4;
	min-height: 31px;
	_height: 31px;
	background: #efefef url(/resource/images/search/text-heading-bg.gif) no-repeat left top;
	font-size: 1.8em;
}

/*テキスト見出し*/
.mod_textHeading {
	padding: 5px 10px 0 20px;
	line-height: 1.4;
	min-height: 34px;
	line-height: 28px;
	_height: 34px;
	color: #fff;
	background: url(/resource/images/shared/bg/text-heading-bg.gif) no-repeat left top #4ba4ff;
	font-size: 1.8em;
	border-bottom: 1px solid #1b72e9;
}

.mod_textHeading .asideBtnA,
.mod_optTextHeading .asideBtnA {
	position: relative;
	float: right;
	font-size: 0.1px;
	line-height: 0;
}


/*テキスト見出し(オプション)*/
.mod_optTextHeading {
	padding: 5px 20px 0;
	line-height: 28px;
	min-height: 34px;
	_height: 34px;
	background: #e2e2e2 url(/resource/images/shared/bg/text-opt-heading-bg.gif) no-repeat left top;
	font-size: 1.8em;
	border-bottom: 1px solid #c2c2c2;
}

.mod_optTextHeading.blackIcn {
	padding: 8px 20px 0;
	line-height: 1.4;
	min-height: 31px;
	_height: 31px;
	background: #e2e2e2 url(/resource/images/shared/bg/text-opt-heading-bg-02.gif) no-repeat left top;
	font-size: 1.8em;
	border-bottom: 1px solid #c2c2c2;
}


/*アイコン見出し*/
.mod_iconHeading {
	padding: 8px 20px 0 35px;
	line-height: 1.4;
	min-height: 31px;
	_height: 31px;
	border-bottom: 1px solid #1b72e9;
	background: #4ba4ff url(/resource/images/shared/bg/text-heading-b-bg.gif) no-repeat left top;
	color: #fff;
	font-size: 1.8em;
}

.mod_iconHeading .icon {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 0.1px;
	line-height: 0;
}

/*アイコン見出し*/
.mod_optIconHeading {
	padding: 8px 20px 0 35px;
	line-height: 1.4;
	min-height: 31px;
	_height: 31px;
	background: #e2e2e2 url(/resource/images/shared/bg/text-heading-bg_2.gif) no-repeat left top;
	font-size: 1.8em;
	border-bottom: 1px solid #c2c2c2;
}

.mod_optIconHeading .icon {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 0.1px;
	line-height: 0;
}


/*日付横つき見出し*/
.mod_dateHeading {
	padding-right: 100px;
}

.mod_dateHeading .asideDate {
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 39px;
	font-size: 0.66666em;
}

/*H3*/
.mod_textHeadingH3 {
	padding: 3px 0 0;
	border-bottom: 1px solid #4ba4ff;
	line-height: 1.4;
	font-size: 1.4em;
	background: url(/resource/images/shared/bg/text-heading-h3-bg.gif) no-repeat left top;
}

.mod_textHeadingH3 span {
	padding: 0 0 3px 10px;
	display: inline-block;
	border-left: 6px solid #4ba4ff;
	/display: inline;
	/zoom: 1;
}

.mod_textHeadingH3 .asideBtn {
	position: absolute;
	top: 5px;
	right: 0;
}

.mod_optTextHeadingH3 {
	padding: 2px 0 5px 20px;
	border-bottom: 2px solid #c3c3c3;
	min-height: 21px;
	_height: 21px;
	line-height: 1.4;
	font-size: 1.6em;
	background: url(/resource/images/shared/bg/text-opt-heading-h3-bg.gif) no-repeat 5px 0;
}

.mod_optTextHeadingH3 span {
}

.mod_sectionBase .mod_optTextHeadingH3.heading .asideLink {
	position: absolute;
	top: 5px;
	right: 0;
	font-size: 0.75em;
}


.mod_optTextHeadingH3 .asideBtn {
	position: absolute;
	top: 5px;
	right: 0;
}

.mod_linkTextHeadingH3 {
	padding: 2px 0 5px 20px;
	border-bottom: 2px solid #c3c3c3;
	min-height: 21px;
	_height: 21px;
	line-height: 1.4;
	font-size: 1.6em;
	background: url(/resource/images/shared/icn/link-heading-icn.png) no-repeat 0 3px;
}

.mod_linkTextHeadingH3 a:link,
.mod_linkTextHeadingH3 a:visited,
.mod_linkTextHeadingH3 a:hover,
.mod_linkTextHeadingH3 a:active {
	color: #666;
}
/*H3*/


/*H4*/
.mod_textHeadingH4 {
	padding: 2px 0 2px 18px;
	border-bottom: 1px solid #c3c3c3;
	line-height: 1.4;
	background: url(/resource/images/shared/bg/text-heading-h4-bg.gif) no-repeat 0 .3em;
	font-size: 1.2em;
}
/*H4*/



/* ==========================================================================
 3カラム用
=========================================================================== */

/*テキスト見出し*/
.column3type .mod_textHeading,
.column2typeC .mod_textHeading {
	padding: 8px 10px 0 20px;
	line-height: 1.4;
	min-height: 25px;
	_height: 25px;
	color: #fff;
	background: url(/resource/images/shared/bg/text-heading-short-bg.gif) no-repeat left top;
	font-size: 1.4em;
	border-bottom: 1px solid #1b72e9;
}

.column2typeC .mod_textHeading .asideBtnA,
.column2typeC .mod_optTextHeading .asideBtnA {
	position: relative;
	float: right;
	font-size: 0.1px;
	line-height: 0;
}

/*テキスト見出し(オプション)*/
.column2typeC .mod_optTextHeading {
	padding: 8px 20px 0;
	line-height: 1.4;
	min-height: 25px;
	_height: 25px;
	background: #e2e2e2 url(/resource/images/shared/bg/text-opt-heading-short-bg.gif) no-repeat left top;
	font-size: 1.4em;
	border-bottom: 1px solid #c2c2c2;
}


/*アイコン見出し*/
.column3type  .mod_iconHeading,
.column2typeC .mod_iconHeading {
	padding: 8px 20px 0 35px;
	line-height: 20px;
	min-height: 25px;
	_height: 25px;
	border-bottom: 1px solid #1b72e9;
	background: #4ba4ff url(/resource/images/shared/bg/text-heading-b-short-bg.gif) no-repeat left top;
	color: #fff;
	font-size: 1.4em;
}

.column2typeC .mod_iconHeading .icon {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 0.1px;
	line-height: 0;
}

/*アイコン見出し*/
.column3type  .mod_optIconHeading,
.column2typeC .mod_optIconHeading {
	padding: 8px 20px 0 35px;
	line-height: 1.4;
	min-height: 25px;
	_height: 25px;
	background: #e2e2e2 url(/resource/images/shared/bg/text-opt-heading-b-short-bg.gif) no-repeat left top;
	font-size: 1.4em;
	border-bottom: 1px solid #c2c2c2;
}

.column3type  .mod_optIconHeading .icon,
.column2typeC .mod_optIconHeading .icon {
	position: absolute;
	top: 9px;
	left: 8px;
	font-size: 0.1px;
	line-height: 0;
}


/*日付横つき見出し*/
.column2typeC .mod_dateHeading {
	padding-right: 100px;
}

.column2typeC .mod_dateHeading .asideDate {
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 39px;
	font-size: 0.858em;
}


/*コントロールつき見出し*/
.mod_moveControlHeading {
	
}

.mod_moveControlHeading .controls {
	padding: 8px 10px 0 7px;
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
}

.mod_moveControlHeading .controls li {
	margin: 0 0 0 3px;
	float: left;
	line-height: 0;
	font-size: .1em;
}
