@charset "utf-8";

/* #############################################################

[ 右Widget ]

適用範囲：検索、マイページ、左menu

※追記・改変の際はウェブマスタに問い合わせること

############################################################# */


/* ==========================================================================
 右ウィジェット
=========================================================================== */

.widgetTwitter {
	margin: 20px 0;
}

.widgetFacebook {
	margin: 20px 0;
}

.widgetAskulCommunity {
	margin: 15px 0;
	font-size: 1.2em;
}

.widgetAskulCommunity .heading{
	background: #efefef url(/resource/images/top/top-askul-widget-h.gif) no-repeat left bottom;
	height: 38px;
	position: relative;
}

.widgetAskulCommunity .heading p.btn{
	position: absolute;
	top: 9px;
	left: 113px;
}

.widgetAskulCommunity .body {
	border-left: 4px solid #efefef;
	border-right: 4px solid #efefef;
}

.widgetAskulCommunity .body .inner{
	border-bottom: 1px dotted #c3c3c3;
	padding-bottom: 5px;
	background-color: #efefef;
}

.widgetAskulCommunity .body .inner .count{
	padding: 7px 0 6px;
}

.widgetAskulCommunity .body .inner .count img{
	vertical-align: middle;
	padding-bottom: 1px;
	/padding-bottom: 0px;
}

.widgetAskulCommunity .body .inner .thumbListBase li{
	background-color: #fff;
	border: 0;
	margin: 5px;
	padding: 10px;
}

.widgetAskulCommunity .body .inner .thumbListBase li .thumb{
	margin: 0 5px 5px 0;
}

.widgetAskulCommunity .body .inner .thumbListBase li .date-name{
	float:left;
	margin: 0 0 5px 0;
}

.widgetAskulCommunity .body .inner .thumbListBase li .content{
	margin: 0 0 5px 0;
	line-height: 120%;
}

.widgetAskulCommunity .body .inner .thumbListBase li .desc{
	margin: 0;
	text-align: right;
	font-size: 80%;
}

.widgetAskulCommunity .footer {
	padding: 5px 5px 15px;
	background: #efefef url(/resource/images/top/footer-askul-widget.gif) no-repeat left bottom;
	text-align: right;
}

.widgetAskulCommunity .footer a {
	padding: 0 0 0 22px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	line-height: 17px;
	background: url(/resource/images/shared/icn/help-icn.png) no-repeat left top;
}


/* -------------------------------------------------------------- 
mod_myPage
-------------------------------------------------------------- */

.mod_myPage {
	padding:0 0 8px;
	text-align:center;
	background:url(/resource/images/shared/widget/widget-member-btm-bg.gif) bottom no-repeat #efefef;
}


/* myphoto
--------------------------------------------- */

.mod_myPage .myphoto {
	padding:8px 10px 0;
	background:url(/resource/images/shared/widget/widget-member-top-bg.gif) top no-repeat;
}

.mod_myPage .myphoto .welcomeTxt {
	font-size:1.2em;
	line-height:1.4;
	text-align:left;
}

.mod_myPage .myphoto .welcomeTxt .name {
	font-size:1.084em;
	/font-size:0.95em;
}

html>/**/body .mod_myPage .myphoto .welcomeTxt .name {
	font-size:0.98em;
}

.mod_myPage .myphoto .photo {
	padding-top:10px;
}
.mod_myPage .myphoto .photo img {
	border:1px solid #c3c3c3;
}

.mod_myPage .myphoto .txtLink {
	margin-top: 5px;
	font-size:1em;
	line-height:1.4;
	padding-left: 20px;
	text-align:left;
	background:url(/resource/images/shared/widget/camera-icn.png) left center no-repeat;
}
.mod_myPage .myphoto .txtLink .camera-icn {
	min-height:13px;
	text-align:left;
}



/* gold-stageBox
--------------------------------------------- */

.mod_myPage .gold-stageBox {
	width:156px;
	margin:8px auto 0;
	padding:0 0 8px;
	background:url(/resource/images/shared/widget/widget-member-stage-btm-bg.gif) bottom no-repeat #fff;
}
.mod_myPage .gold-stageBox:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }

.mod_myPage .gold-stageBox .gold-stageTxt {
	font-size:1.2em;
	line-height:1.4;
	padding:8px 5px 0;
	text-align:left;
}
.mod_myPage .gold-stageBox .gold-stageTx:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }

.mod_myPage .gold-stageBox .gold-stageTxt .tit {
	float:left;
	padding:0 0 0;
	text-align:left;
}

.mod_myPage .gold-stageBox .gold-stageTxt .point {
	float:right;
	font-size:1.084em;
	text-align:right;
}

.mod_myPage .gold-stageBox .silver-pointTxt {
	clear:both;
	font-size:1.2em;
	line-height:1.4;
	padding:10px 5px 0;
	text-align:left;
}
.mod_myPage .gold-stageBox .silver-pointTxt:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }

.mod_myPage .gold-stageBox .silver-pointTxt .tit {
	float:left;
	padding:0 0 0;
	font-size:0.834em;
	text-align:left;
}

.mod_myPage .gold-stageBox .silver-pointTxt .point {
	float:right;
	text-align:right;
}

.mod_myPage .gold-stageBox .bar {
}

.mod_myPage .gold-stageBox .bar {
}

.mod_myPage .gold-stageBox .txtLink {
	padding:2px 5px 0 0;
	font-size:1em;
	line-height:1.4;
	text-align:right;
}
.mod_myPage .gold-stageBox .txtLink .arr-icn {
	padding:2px 0 2px 10px;
	background:url(/resource/images/shared/icn/b-arrow-r-icn.gif) left 4px no-repeat;
}

.mod_myPage .userStage.gold {
	margin: 8px 10px 0;
	padding: 0 0 5px;
	background: #fffcd6 url(/resource/images/shared/widget/gold-stage-btm-bg.gif) no-repeat left bottom;
}

.mod_myPage .userStage.blue {
	margin: 8px 10px 0;
	padding: 0 0 5px;
	background: #FFFFFF url(/resource/images/shared/widget/blue-stage-btm-bg.gif) no-repeat left bottom;
}

.mod_myPage .userStage.platinum {
	margin: 8px 10px 0;
	padding: 0 0 5px;
	background: #F7FAFF url(/resource/images/shared/widget/platinum-stage-btm-bg.gif) no-repeat left bottom;
}

.mod_myPage .userStage .userStageInner {

}

.mod_myPage .userStage .point {
	padding: 0 10px 5px;
	font-size: 1.2em;
	text-align: right;
	border-left: 1px solid #d7b02a;
	border-right: 1px solid #d7b02a;
	border-bottom: 1px solid #d7b02a;
}
.mod_myPage .userStage.blue .point {
	border-left: 1px solid #79B7F2;
	border-right: 1px solid #79B7F2;
	border-bottom: 1px solid #79B7F2;
}
.mod_myPage .userStage.platinum .point {
	border-left: 1px solid #A8ADB2;
	border-right: 1px solid #A8ADB2;
	border-bottom: 1px solid #A8ADB2;
}

.mod_myPage .userStage .point strong {
	font-size: 1.16666em;
	color: #ed8011;
}

.mod_myPage .userStage .next {
	padding: 5px 10px 4px;
	text-align: right;
	border-left: 1px solid #d7b02a;
	border-right: 1px solid #d7b02a;
}
.mod_myPage .userStage.blue .next {
	border-left: 1px solid #79B7F2;
	border-right: 1px solid #79B7F2;
}
.mod_myPage .userStage.platinum .next {
	border-left: 1px solid #A8ADB2;
	border-right: 1px solid #A8ADB2;
}

.mod_myPage .sweetBtn {
	margin: 10px 0 0;
}

.mod_myPage .userStage .progressBar {
	border-left: 1px solid #d7b02a;
	border-right: 1px solid #d7b02a;
	padding: 4px 4px 5px;
	_padding: 4px 4px 0;
	_margin-bottom:5px;
}
.mod_myPage .userStage.blue .progressBar {
	border-left: 1px solid #79B7F2;
	border-right: 1px solid #79B7F2;
}
.mod_myPage .userStage.platinum .progressBar {
	border-left: 1px solid #A8ADB2;
	border-right: 1px solid #A8ADB2;
}
.mod_myPage .bg-progressBar {
	border:1px solid #c3c3c3;
	background:#efefef;
	text-align:left;
	line-height:1;
	font-size:1%;
}
.mod_myPage .progressBar img {
	vertical-align:top;
}

.mod_myPage .txtLink {
	text-align: right;	
}

.mod_myPage .txtLink {
	margin-top: 4px;
}

/* ボタン */
.mod_myPage .mypage-btn {padding-top:5px;}
.mod_myPage .logout-btn {padding-top:5px;}


.mod_myPage .mod_textList01 {
	font-size: 1.2em;
	margin: 3px 10px 0;
	text-align: center;
}


/* -------------------------------------------------------------- 
mod_widgetBnr
-------------------------------------------------------------- */

.mod_widgetBnr {
	padding:20px 0 0;
}


/* クーポン見出し */
.mod_widgetBnr .mod_coupon-tit {
	padding:8px 0;
	text-align:left;
	background:url(/resource/images/shared/widget/widget-coupon-bg.gif) bottom no-repeat;
}
.mod_widgetBnr .mod_coupon-tit .name {
	font-size:1em;
	line-height:1.4;
}
.mod_widgetBnr .mod_coupon-tit .title {
}


/* キャンペーン見出し */
.mod_widgetBnr .mod_campaign-tit {
	padding:8px 0;
	text-align:left;
	background:url(/resource/images/shared/widget/widget-campaign-bg.gif) bottom no-repeat;
}
.mod_widgetBnr .mod_campaign-tit .name {
	font-size:1em;
	line-height:1.4;
}
.mod_widgetBnr .mod_campaign-tit .title {
}


/* テキストリンク */
.mod_widgetBnr .txtLink {
	padding:8px 0 0 0;
	font-size:1em;
	line-height:1.4;
	text-align:right;
}
.mod_widgetBnr .txtLink .arr-icn {
	padding:2px 0 2px 10px;
	background:url(/resource/images/shared/icn/b-arrow-r-icn.gif) left 4px no-repeat;
}


/* bnrBody
--------------------------------------------- */

.mod_widgetBnr .bnrBody {
	margin-top:-1px;
	overflow:hidden;
	border-bottom:1px solid #db4087;
}

.mod_widgetBnr .bnrBody .bnr {
	padding:15px 0 15px;
	border-top:1px dotted #c2c2c2;
}

.mod_widgetBnr .bnrBody .bnr .img {text-align:center;}
.mod_widgetBnr .bnrBody .bnr .txt {
	padding:4px 0 0;
	font-size:1.2em;
	line-height:1.4;
	text-align:left;
}


/* -------------------------------------------------------------- 
mod_widgetBnrTop
-------------------------------------------------------------- */

.mod_widgetBnrTop {
	padding:20px 0 0;
}


/* クーポン見出し */
.mod_widgetBnrTop .mod_coupon-tit .name {
	font-size:1em;
	line-height:1.4;
}
.mod_widgetBnrTop .mod_coupon-tit .title {
}


/* キャンペーン見出し */
.mod_widgetBnrTop .mod_campaign-tit {
/*
	padding:8px 0;
	text-align:left;
	background:url(/resource/images/shared/widget/widget-campaign-bg.gif) bottom no-repeat;
*/
}
.mod_widgetBnrTop .mod_campaign-tit .name {
	font-size:1em;
	line-height:1.4;
}
.mod_widgetBnrTop .mod_campaign-tit .title {
}


/* テキストリンク */
.mod_widgetBnrTop .txtLink {
	padding:8px 0 0 0;
	font-size:1em;
	line-height:1.4;
	text-align:right;
}
.mod_widgetBnrTop .txtLink .arr-icn {
	padding:2px 0 2px 10px;
	background:url(/resource/images/shared/icn/b-arrow-r-icn.gif) left 4px no-repeat;
}


/* bnrBody
--------------------------------------------- */

.mod_widgetBnrTop .bnrBody {
	margin-top:-1px;
	overflow:hidden;
	border-bottom:1px solid #db4087;
}

.mod_widgetBnrTop .bnrBody .bnr {
	padding:8px 0 8px;
	border-top:1px dotted #c2c2c2;
}

.mod_widgetBnrTop .img {text-align:center;}
.mod_widgetBnrTop .txt {
	padding:2px 0 0;
	font-size:1.0em;
	line-height:1.4;
	text-align:left;
}


/* ==========================================================================
 左メニュー
=========================================================================== */

.active-toner .mod_searchBaseNav .menu01 a:link,
.active-green .mod_searchBaseNav .menu02 a:link,
.active-maker .mod_searchBaseNav .menu03 a:link,
.active-brand .mod_searchBaseNav .menu04 a:link,
.active-alphabet .mod_searchBaseNav .menu05 a:link,
.active-toner .mod_searchBaseNav .menu01 a:visited,
.active-green .mod_searchBaseNav .menu02 a:visited,
.active-maker .mod_searchBaseNav .menu03 a:visited,
.active-brand .mod_searchBaseNav .menu04 a:visited,
.active-alphabet .mod_searchBaseNav .menu05 a:visited {
	color: #1b72e9;
	background-color: #dfebf7;
}

.sectionBase.mod_tcamp,
.sectionBase.mod_rcmf {
	margin: 15px 0 0;
	font-size: 1.2em;
}

.sectionBase.mod_rcmf .body ul li,
.sectionBase.mod_tcamp .body ul li {
	margin: 5px 0 0;
}

.sectionBase.mod_tcamp .body ul li { 
	padding: 4px 0 0;
	border-top: 1px solid #c3c3c3;
	line-height: 1.2;
}

.sectionBase.mod_tcamp .body ul li:first-child {
	padding: 0;
	border-top: none;
}

.sectionBase.mod_tcamp .body ul li .thumb {
	display: block;
	float: left;
	margin: 0 5px 0 0;
}






/* =====================================================

右カラム　特注品／ギフト　お仕事のサポートサービス　120627 上原　追記

======================================================== */


.supportService, .tool{
    margin-top: 10px;
}

div.supportService ul.sub-listItem li a{
	padding: 5px 5px 5px 20px;
	background:url(/resource/images/shared/icn/link-icn.png) no-repeat 5px center #efefef;
	border-top: #FFF 1px solid;
	border-bottom: #c3c3c3 1px solid;
	display:block;
	color:#333;
	text-decoration: none;
}

div.supportService ul.sub-listItem li a:hover{
	color:#1d73ec;
	background:url(/resource/images/shared/icn/link-icn.png) no-repeat 5px center #dfebf7;
	text-decoration:underline;
}

div.supportService ul.sub-listItem li a.link-icn-mono{
	padding: 5px 5px 5px 20px;
	background:url(/resource/images/shared/icn/link-icn-02.png) no-repeat 5px center #efefef;
	border-top: #FFF 1px solid;
	border-bottom: #c3c3c3 1px solid;
	display:block;
	color:#333;
	text-decoration: none;
}

div.supportService ul.sub-listItem li a.link-icn-mono:hover{
	color:#1d73ec;
	background:url(/resource/images/shared/icn/link-icn-02.png) no-repeat 5px center #dfebf7;
	text-decoration:underline;
}


div.supportService p.side-ttl-caps {
	background-color: #efefef;
	padding: 5px 5px 5px 10px;
	border-bottom: #c3c3c3 1px solid;
}
/* --------------------------- 追加 maker_a.html 2012.11.20  start  */
.mod_widgetBnrTop .pb2,
.bannerTxt .pb2,
.sectionBase .pb2 {padding-bottom:2px;}
div.body ul.bannerTxt
{
	font-size:0.8em;
	line-height:1.4;
	text-align:left;
}
/* --------------------------- 追加 maker_a.html 2012.11.20   end  */

/* -------------------------------------------------------------- 
mini cart  追加 2013.2.22
-------------------------------------------------------------- */
div#cart {
    background-color: #EFEFEF;
	margin-top: 20px;
	background-attachment: scroll;
	background-image: url(/resource/images/top/widget-cart-ft.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
div#cart-title {
    margin-bottom: 3px;
}
p#kago a {
    width: 170px;
    height: 40px;
}
div#cart-body {
	border-top: solid 1px #FFF;
	padding: 5px 0 10px;
}
div#cart-total {
    margin-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
div#cart-total table {
    width: 100%;
    font-size: 120%;
    background-color: rgb(255, 255, 255);
}
div#cart-total table th {
    padding: 2px 5px;
    text-align: left;
}
div#cart-total table th span {
    font-size: 80%;
    font-weight: normal;
}
div#cart-total table td {
    font-weight: bold;
    color: rgb(230, 50, 40);
    text-align: right;
    padding: 2px 5px;
    font-size: 110%;
}
div#cart-detail {
    padding-right: 5px;
    padding-left: 5px;
}
div#cart-detail table {
    width: 166px !important;
    background-color: rgb(255, 255, 255);
}
div#cart-detail table th {
	font-weight: normal;
	line-height: 1.6;
    padding: 2px 5px;
    border-bottom: 1px solid rgb(234, 234, 229);
}
div#cart-detail table td {
    border-bottom: 1px solid rgb(234, 234, 229);
    padding: 2px 5px 2px 0;
	vertical-align:middle;
    line-height: 1.4;
}
div#cart-more {
    padding-right: 5px;
    padding-left: 5px;
}
div#cart-more p {
    background-color: rgb(255, 255, 255);
    padding: 2px 5px;
    line-height: 1.6;
}
div#cart-confirm {
    text-align: center;
    padding-top: 10px;
}


