@charset "utf-8";

/*
	フォントサイズの変更
*/

body.fontL {
	font-size: 0.75em;
}

#ui_fsChangeBox {
	padding: 3px 0 0 70px;
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 20px;
	background: url(/resource/images/shared/bg/ui-fs-chagebox-bg.gif) no-repeat left top;
}

#ui_fsChangeBox ul {

}

#ui_fsChangeBox ul li {
	margin: 0 3px 0 0;
	float: left;
	font-size: 0.1px;
	line-height: 0;
}

/*
.ui_popupBoxA, .ui_popupBoxB {
	width: 271px;
}

.ui_popupBoxA .ui_popupBoxTop {
	height: 15px;
	background: url(/resource/images/top/ui_baloon-ab-top-bg-02.png) no-repeat left top;
}
.ui_popupBoxA .ui_popupBoxBtm {
	height: 25px;
	background: url(/resource/images/top/ui_baloon-ab-btm-bg.png) no-repeat left bottom;
}

.ui_popupBoxB .ui_popupBoxTop {
	height: 10px;
	background: url(/resource/images/top/ui_baloon-ab-top-bg.png) no-repeat left top;
}
.ui_popupBoxB .ui_popupBoxBtm {
	height: 32px;
	background: url(/resource/images/top/ui_baloon-ab-btm-bg-02.png) no-repeat left bottom;
}

.ui_popupBoxA .ui_popupBoxInner,
.ui_popupBoxB .ui_popupBoxInner
 {
	padding: 10px 28px 0 20px;
	background: url(/resource/images/top/ui_baloon-ab-mid-bg.png) repeat-y left top;
}
*/

.ui_popupBoxA .itemName,
.ui_popupBoxB .itemName
 {
	line-height: 1.4;
	font-size: 1.2em;
	font-weight: bold;
}

.ui_popupBoxA .itemComment,
.ui_popupBoxB .itemComment
 {
	margin: 4px 0 0;
	line-height: 1.4;
	font-size: 1.2em;
}

.ui_popupBoxA .itemApp,
.ui_popupBoxB .itemApp
 {
	margin: 5px 0 0;
	padding: 2px 0;
	line-height: 1.4;
	font-size: 1.2em;
	border-bottom: 1px dotted #c2c2c2;
	color: #666666;
}

.ui_popupBoxA .itemUnit,
.ui_popupBoxB .itemUnit
 {
	line-height: 1.4;
	padding: 4px 0;
	font-size: 1.2em;
	border-bottom: 1px dotted #c2c2c2;
	color: #666666;
}

.ui_popupBoxA .itemReview,
.ui_popupBoxB .itemReview
 {
	margin: 4px 0 0;
	line-height: 1.4;
	font-size: 1.2em;
	color: #666666;
}

.ui_popupBoxA .itemReview .rating,
.ui_popupBoxB .itemReview .rating {
	vertical-align: middle;
}

.ui_popupBoxA .itemPrice,
.ui_popupBoxB .itemPrice {
	margin: 10px 0 0;
}
.ui_popupBoxA .itemPrice dl dt,
.ui_popupBoxB .itemPrice dl dt{
	padding: 0 4px;
	line-height: 1.4;
} 
.ui_popupBoxA .itemPrice dl dd,
.ui_popupBoxB .itemPrice dl dd {
	padding: 0 4px;
	line-height: 1.4;
	color: #d80000;
	text-align: right;
} 
.ui_popupBoxA .itemPrice dl dd strong,
.ui_popupBoxB .itemPrice dl dd strong {
	font-size: 2em;
}

.ui_popupBoxA .itemPriceSet01,
.ui_popupBoxB .itemPriceSet01 {
	margin: 10px 0 0;
}
.ui_popupBoxA .itemPriceSet01 dl dt,
.ui_popupBoxB .itemPriceSet01 dl dt {
	padding: 0 4px;
	line-height: 1.4;
} 
.ui_popupBoxA .itemPriceSet01 dl dd,
.ui_popupBoxB .itemPriceSet01 dl dd {
	padding: 0 4px;
	line-height: 1.4;
	color: #d80000;
	text-align: right;
} 
.ui_popupBoxA .itemPriceSet01 dl dd strong,
.ui_popupBoxB .itemPriceSet01 dl dd strong {
	font-size: 2em;
}
.ui_popupBoxA .itemPriceSet02 dl dt,
.ui_popupBoxB .itemPriceSet02 dl dt {
	float:left;
	padding: 0 4px;
	line-height: 1.4;
} 
.ui_popupBoxA .itemPriceSet02 dl dd,
.ui_popupBoxB .itemPriceSet02 dl dd {
	float:right;
	padding: 0 4px;
	line-height: 1.4;
	text-align: right;
} 
