@charset "utf-8";


/*セクショニング*/
.mod_sectionBase,
.sectionBase {position: relative;}

.mod_sectionBase .heading,
.sectionBase .heading {position: relative;}

.mod_sectionBase .heading .asideBtn,
.sectionBase .heading .asideBtn {
	position: absolute;
	top: 0;
	right: 0;
}

.mod_sectionBase .heading .asideLink {
	position: absolute;
	top: 0;
	right: 0;
}

.mod_sectionBase .body,
.sectionBase .body {
	position: relative;
	_zoom: 1;
}

.txt-normal {
	font-weight:normal !important;
	}

.hItemListBase { margin: 10px 0 0; }
.hItemListBase .hItemListItemBase {
	padding: 0 0 10px;
	border-top: 1px solid #c3c3c3;
}

.hItemListBase .hItemListItemBase .itemName {
	width: 290px;
}

.hItemListBase .hItemListItemBase .itemValue {
	padding: 0 6px 0 0;
	width: 94px;
	color: #d80000;
	text-align: right;
	font-weight: bold;
}

.hItemListBase .addToCart {
	padding: 10px 0;
}

.hItemListBase .addToCart input[type=text] {
	width: 100px;
	vertical-align: middle;
	text-align: right;
}

.hItemListBase .addToCart input[type=image] {
	margin: 0 0 0 2px;
	vertical-align: middle;
}

.hItemListBase .itemEStar {
	width: 75px;
	float: left;
}

.hItemListBase .itemNumReview {
	width: 97px;
	float: right;
	text-align: right;
}

.hItemListBase .itemNumReview a {
	padding: 0 0 0 10px;
	background: url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat left center;
}

.Review03{
	float: right;
	text-align: right;
}


/*水平タブベース*/
.hTabBoxBase {
	/zoom : 1;
}
.hTabBoxBase:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }
.hTabBoxBase .tab {
	float: left;
	display: inline;
}

.hTabBoxBase .tab img {
	vertical-align: top;
}

.hTabBoxBase .tab a {
	line-height: 0;
	font-size: .1em;
	text-decoration: none;
}

/*2カラムレイアウトベース*/
.cl2colBase {
	/zoom: 1;
}
.cl2colBase:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }
.cl2colBase .colL {
	float: left;
}
.cl2colBase .colR {
	float: right;
}

/*3カラムレイアウトベース*/
.cl3colBase {
	/zoom: 1;
}
.cl3colBase:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }
.cl3colBase .colL {
	float: left;
}

.cl3colBase .colC {
	float: left;
}

.cl3colBase .colR {
	float: right;
}



.hTabBoxBase.mod_catTab .tab { margin-right: 0px; }
.hTabBoxBase.mod_catTab .tab:first-child { padding-right: 2px; }




/* シンプルリスト */
.listBase {
	line-height: 1.4;
}

.listBase .listItem {
	border-top: 1px solid #c3c3c3;
}

.listBase .listItem a {
	padding: 12px 0 12px 15px;
	display: block;
	background: url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat 3px 50%;
}

/* サムネイルつきリスト */
.thumbListBase .thumbListItem {
	padding: 10px 10px 10px 45px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c3c3c3;
	background-color: #f7f7f7;
	/zoom: 1;
}
.thumbListBase .thumbListItem .thumb {
	margin: 0 0 0 -35px;
	float: left;
	display: inline;
}
.thumbListBase .thumbListItem .heading {
	line-height: 1.4;
}
.thumbListBase .thumbListItem .text {
	line-height: 1.4;
}

.cfx { /zoom : 1; }
.cfx:after{ content:"."; display:block; clear:both; height:0; visibility: hidden; }

.headerMainContent {
    min-height: 163px;
}

/* ==========================================================================

	パンくずナビゲーション

=========================================================================== */
.mod_topicPath {
}

.mod_topicPath {
	/zoom: 1;
}

.mod_topicPath:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility: hidden;
}

.mod_topicPath .step {
	margin: 0 5px 0 0;
	padding: 0 8px 0 0;
	display: inline;
	line-height: 1.4;
	font-size: 1em;
	background: url(/resource/images/shared/bg/arrow-topicpath-bg-02.gif) no-repeat right center;
}

.mod_topicPath .cur {
	display: inline;
	line-height: 1.4;
	font-size: 1em;
}

.mod_topicPath .cur02 {
	display: inline;
	line-height: 1.7;
	font-size: 1em;
}

.mod_stepList {
	/zoom: 1;
}

.mod_stepList:after{
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility: hidden;
}

.mod_stepList .step {
	margin: 0 5px 0 0;
	float: left;
	_display: inline;
}

.mod_stepList .cur {
	margin: 0 5px 0 0;
	float: left;
	_display: inline;
}

/* ==========================================================================

	商品ボックス

========================================================================== */

/* --------------------------------------------------------------
	商品ボックスA
-------------------------------------------------------------- */
.mod_itemBoxList{
	margin: 10px 0 0;
	padding: 0 0 10px;
	background: url(/resource/images/shared/bg/vitemlist-bg.gif) repeat-y left top;
}

.mod_itemBoxList .itemBoxListItem {
	width: 172px;
	margin: 0 0 0 23px;
	float: left;
	_display: inline;
}

.mod_itemBoxList .itemBoxListItem:first-child {
	margin: 0;
}

.recentCheckList .mod_itemBoxList {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.recentCheckList .mod_itemBoxList ul {
	position: relative;
	left: 0;
}

.recentCheckList .mod_itemBoxList .itemBoxListItem {
	float: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.recentCheckList .mod_itemBoxList .itemBoxListItem * {
	white-space: normal;
}

.recentCheckList #mod_recentCheckListCtrl .prev-disabled {
	display: none;
}

.recentCheckList #mod_recentCheckListCtrl .next-disabled {
	display: none;
}

.recoCheckList .mod_itemBoxList {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.recoCheckList .mod_itemBoxList ul {
	position: relative;
	left: 0;
}

.recoCheckList .mod_itemBoxList .itemBoxListItem {
	float: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.recoCheckList .mod_itemBoxList .itemBoxListItem * {
	white-space: normal;
}

.recoCheckList #mod_recoCheckListCtrl .prev-disabled {
	display: none;
}

.recoCheckList #mod_recoCheckListCtrl .next-disabled {
	display: none;
}

.mod_itemBoxA  {}

.mod_itemBoxA .itemPhoto {
	text-align: center;
}

.mod_itemBoxA .itemName {
	line-height: 1.4;
	font-size: 1.2em;
	font-weight: bold;
}

.mod_itemBoxA .itemRank {
	text-align:center;
	line-height: 1.4;
	font-size: 1.6em;
	font-weight: bold;
	color:#aaaaaa;
	border:1px solid #c3c3c3;
}
.mod_itemBoxA .itemRank.rank1 {color:#e6c31b;}
.mod_itemBoxA .itemRank.rank2 {color:#94b1c6;}
.mod_itemBoxA .itemRank.rank3 {color:#d1a372;}

.mod_itemBoxA .itemComment {
	padding-bottom: 3px;
	margin: 4px 0 3px;
	font-size: 1.2em;
	line-height: 1.4;
	border-bottom: 1px dotted #c3c3c3;
}
/*
.mod_itemBoxA .btnRegisterMyCatalog {
	margin: 0 0 10px;
	text-align: center;
}
*/

.mod_itemBoxA .itemReview {
	font-size: 1.2em;
}

.mod_itemBoxA .itemReviewComment {
	font-size: 1.2em;
}

.mod_itemBoxA .itemReviewComment .reviewRateValue{
	margin-right: 5px;
}



.mod_itemBoxA .itemPrice {
	width: 102px;
	margin: 8px 0 0;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: text-bottom;
}
.mod_itemBoxA .itemPrice dt {
	line-height: 1.4;
}
.mod_itemBoxA .itemPrice dd {
	padding: 0 4px 0 0;
	line-height: 1.4;
	font-size: 1.4em;
	text-align: right;
}
body.fontL .mod_itemBoxA .itemPrice dd {
	font-size: 1.2em;
}
.mod_itemBoxA .itemPrice strong {
	color :#d80000;
}

.mod_itemBoxA .itemPriceSet {
	margin: 8px 0 0;
	vertical-align: text-bottom;
}
.mod_itemBoxA .itemPriceSet dt {
	line-height: 1.4;
}
.mod_itemBoxA .itemPriceSet dd {
	padding: 0;
	line-height: 1.4;
	text-align: right;
}
.mod_itemBoxA .itemPriceSet dl.line {
	margin: 3px 0 0;
}
.mod_itemBoxA .itemPriceSet dl.line dt {
	float:left;
}
.mod_itemBoxA .itemPriceSet dl.line dd {
	float:right;
	padding: 0 0 0 5px;
}
.mod_itemBoxA .itemPriceSet dd.emTxt {
	font-size: 1.6em;
}
.mod_itemBoxA .itemPriceSet strong,
.mod_itemBoxA .itemPriceSet b {
	color :#d80000;
}

.mod_itemBoxA .addToCart {
	margin: 8px 0 2px 0;
	text-align: right;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	width: 64px;
	vertical-align: text-bottom;
}
.mod_itemBoxA .addToCartSet {
	margin: 8px 0 2px 0;
	text-align: right;
	vertical-align: text-bottom;
}

.mod_itemBoxA .addToCart input[type=text] {
	width: 97px;
	vertical-align: middle;
	text-align: right;
}

.mod_itemBoxA .addToCart input[type=image] {
	vertical-align: middle;
}
/*
.mod_itemBoxA .itemEStar {
	width: 75px;
	float: left;
}

.mod_itemBoxA .itemNumReview {
	width: 97px;
	float: right;
	text-align: right;
}

.mod_itemBoxA .itemNumReview a {
	padding: 0 0 0 10px;
	background: url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat left center;
}
*/


/* --------------------------------------------------------------
	商品ボックスB
-------------------------------------------------------------- */
.mod_itemBoxListB {
	margin: 10px 0 0;
}

.mod_itemBoxListB .itemBoxListItem {
	padding: 10px 0;
	border-top: 1px solid #c2c2c2;
}

.mod_itemBoxListB .itemBoxListItem.last-child {
	padding-bottom: 0;
}


.mod_itemBoxB {

}

.mod_itemBoxB .itemName {
	width: 391px;
	vertical-align: middle;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.4;
}
.mod_itemBoxB .itemNameSet {
	width: 373px;
	padding: 0 5px 0 0;
	vertical-align: top;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.4;
}
.mod_itemBoxB .itemPrice {
	width: 102px;
	vertical-align: middle;
}
.mod_itemBoxB .itemPrice dt {
	padding: 0 4px;
	line-height: 1.4;
	text-align: left;
}
.mod_itemBoxB .itemPrice dd {
	padding: 0 4px;
	line-height: 1.4;
	font-size: 1.4em;
	text-align: right;
}
.mod_itemBoxB .itemPrice dd strong {
	color: #d80000;
}
.mod_itemBoxB .itemPriceSet {
	vertical-align: middle;
	padding:0 0 0 8px;
	width:176px;
}
.mod_itemBoxB .itemPriceSet dt {
	padding: 0 4px;
	line-height: 1.4;
	text-align: left;
}
.mod_itemBoxB .itemPriceSet dd {
	padding: 0 4px;
	line-height: 1.4;
	text-align: right;
}
.mod_itemBoxB .itemPriceSet dd.emTxt {
	font-size: 1.6em;
}
.mod_itemBoxB .itemPriceSet dd strong {
	color: #d80000;
}
.mod_itemBoxB .itemPriceSet dl.line {
	margin: 5px 0 0;
}
.mod_itemBoxB .itemPriceSet dl.line dt {
	float:left;
}
.mod_itemBoxB .itemPriceSet dl.line dd {
	float:right;
}

/*
.mod_itemBoxB .itemPrice .itemPriceTbl {
	border: 1px solid #efefef;
	border-collapse: collapse;
	float: right;
}

.mod_itemBoxB .itemPrice .itemPriceTbl th {
	width: 85px;
	background-color: #efefef;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
}

.mod_itemBoxB .itemPrice .itemPriceTbl td {
	padding: 3px 5px;
	line-height: 1.4;
	font-size: 1.4em;
	vertical-align: middle;
	color: #d80000;
}
*/

.mod_itemBoxB .addToCart {
	width: 69px;
	vertical-align: middle;
	text-align: right;
}
.mod_itemBoxB .addToCartSet {
	padding: 8px 0 0;
	vertical-align: middle;
	text-align: right;
}


/* --------------------------------------------------------------
	商品ボックスB
-------------------------------------------------------------- */
.mod_itemBoxListC {
	margin: 10px 0 0;
}

.mod_itemBoxListC .itemBoxListItem {
	padding: 10px 0;
	border-top: 1px solid #c2c2c2;
}

.mod_itemBoxListC .itemBoxListItem:first-child {
	border-top: none;
}

.mod_itemBoxListC .itemBoxListItem.last-child {
	padding-bottom: 0;
}



.mod_itemBoxC {
}

.mod_itemBoxC .itemPhoto {
	float: left;
	margin: 0 5px 0 0;
	display: inline;
}

.mod_itemBoxC .itemName {
	padding: 0 10px 0 0;
	width: 295px;
	font-size: 1.2em;
	line-height: 1.4;
	float: left;
}
.mod_itemBoxC .itemNameSet {
	padding: 0 10px 0 0;
	width: 275px;
	font-size: 1.2em;
	line-height: 1.4;
	float: left;
}

body.fontL .mod_itemBoxC .itemName {
	width: 285px !important;
}

.mod_itemBoxC .itemPrice {
	margin: 0 0 5px;
	width: 140px;
	vertical-align: middle;
}
.mod_itemBoxC .itemPrice dt {
	padding: 0 4px;
	line-height: 1.4;
	text-align: left;
}
.mod_itemBoxC .itemPrice dd {
	line-height: 1.4;
	font-size: 1.4em;
	text-align: right;
}

.mod_itemBoxC .itemPriceSet {
	margin: 0 0 7px;
	width: 155px;
	vertical-align: middle;
}
.mod_itemBoxC .itemPriceSet dt {
	line-height: 1.4;
	text-align: left;
}
.mod_itemBoxC .itemPriceSet dd {
	line-height: 1.4;
	text-align: right;
}
.mod_itemBoxC .itemPriceSet dd strong {
	color: #d80000;
	font-size: 1.6em;
}
.mod_itemBoxC .itemPriceSet dl.line {
	margin: 3px 0 0;
}
.mod_itemBoxC .itemPriceSet dl.line dt {
	float:left;
}
.mod_itemBoxC .itemPriceSet dl.line dd {
	float:right;
	padding: 0 0 0 5px;
}

.mod_itemBoxC .itemAmount {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	/margin-right: 3px;
	font-size: 1.2em;
	vertical-align: top;
}

.mod_itemBoxC .itemAmount input.typeText {
	width: 30px;
	text-align: right;
}

.mod_itemBoxC .addToCart {
	width: 64px;
	display: inline-block;
	/display: inline;
	/zoom: 1;
	vertical-align: top;
}

.mod_itemBoxC .itemReviewBox {
	margin: 10px 0 0 85px;
	border-top: 1px dotted #c2c2c2;
	font-size: 1.2em;
}

.mod_itemBoxC .itemReviewBox .itemReviewRate {
	margin: 6px 0 0;
}

.mod_itemBoxC .itemReviewBox .itemReviewRate .reviewRateValue {
	padding: 0 3px;
	background: #000;
	color: #fff;
	margin-right: 5px;
}

.mod_itemBoxC .itemReviewBox .itemReviewRate img.rating {
	margin-bottom: 1px;
}

.mod_itemBoxC .itemReviewBox .itemReviewComment {
	margin: 6px 0 0;
	line-height: 1.4;
}

.mod_itemBoxC .itemReviewBox .itemReviewMore {
	margin: 4px 0 0;
	text-align: right;
}


.mod_itemBoxD  {}

.mod_itemBoxD .itemPhoto {
	text-align: center;
}

.mod_itemBoxD .itemTimeLimit {
	margin: 8px 0 4px;
	padding: 4px;
	border: 1px solid #d80000;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4;
	color: #d80000;
}


.mod_itemBoxD .itemName {
	line-height: 1.4;
	font-size: 1.2em;
	font-weight: bold;
}


.mod_itemBoxD .itemComment {
	margin: 4px 0 0;
	font-size: 1.2em;
	line-height: 1.4;
}
/*
.mod_itemBoxA .btnRegisterMyCatalog {
	margin: 0 0 10px;
	text-align: center;
}
*/


.mod_itemBoxD .itemPrice {
	margin: 8px 0 0;
}

.mod_itemBoxD .itemPrice dt {
	line-height: 1.4;
	font-size: 1.2em;
}

.mod_itemBoxD .itemPrice dt {
	font-size: 1.16666em;
}

.mod_itemBoxD .itemPrice dd {
	padding: 0 4px 0 0;
	line-height: 1.4;
	font-size: 1.4em;
	text-align: right;
}

.mod_itemBoxD .itemPrice strong {
	color :#d80000;
}

.mod_itemBoxD .addToCart {
	margin: 8px 0 2px 0;
	text-align: right;
	font-size: 1.2em;
}

.mod_itemBoxD .addToCart .typeImage {
	margin: 0 0 0 3px;
	vertical-align: middle;
}

.mod_itemBoxD .addToCart .typeText {
	width: 98px;
	vertical-align: middle;
	text-align: right;

}

.mod_itemBoxD .itemReview {
	margin: 8px 0 0;
	text-align: right;
	font-size: 1.2em;
	vertical-align: middle;
}

.mod_itemBoxD .btnMyCatalog {
	text-align: center;
	margin: 8px 0 0;
}


/* ==========================================================================

	横付きボックス

=========================================================================== */
.mod_hasAssistGroupBlock {
	padding: 0 199px 0 0;
	position: relative;
	width: 761px;
}

.mod_hasAssistGroupBlock .assist {
	position: absolute;
	width: 176px;
	top: 0px;
	right: 0px;
	overflow: hidden;
}

/*例外処理*/
#main .mod_hasAssistGroupBlock>*:first-child {
	margin-top: 0px;
}


/* */
#main .mod_hasAssistGroupBlock .fast01 {
	margin-top: 20px;
}



/* ==========================================================================

	ユーザーガイド

=========================================================================== */

/* --------------------------------------------------------------
	強調度（強）
-------------------------------------------------------------- */
.mod_userGuideBoxA {
	margin: 20px 0 0;
	padding: 13px;
	position: relative;
	border: 2px solid #f7c088;
	background-color: #fcecdb;
	/zoom: 1;
}

.mod_userGuideBoxA:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility: hidden;
}

.mod_userGuideBoxA .gmBox {
	float: right;
	width: 280px;
	text-align: right;
}

.mod_userGuideBoxA .gmSelect {
	margin: 0 0 5px;
}

.mod_userGuideBoxA .gmBtn {

	line-height: 0;
	font-size: 0.1px;
	/zoom: 1;
}
.mod_userGuideBoxA .selectBox {
	margin: 0 0 5px;
	text-align: right;
}

/* お見積書印刷
--------------------------------------------- */
.mod_userGuideBoxA .btnProcedure {
	float: right;
}

.mod_userGuideBoxA .printEstimate {
	float: left;
	width: 280px;
	line-height: 1.4;
}

.mod_userGuideBoxA .printEstimate .text {
	margin: 6px 0 0;
}

.mod_userGuideBoxA .printEstimate .btn {
	margin: 0 0 3px;
}


/* お買い物を続ける
--------------------------------------------- */
.mod_userGuideBoxA .btnShopping {
	padding: 9px 0 0;
	float: left;

}

/* 次へ
--------------------------------------------- */
.mod_userGuideBoxA .btnNext {
	float: right;
}

/* 戻る
--------------------------------------------- */
.mod_userGuideBoxA .btnBack {
	padding: 9px 0 0;
	float: left;
}

/* 次へ
--------------------------------------------- */
.mod_userGuideBoxA .btnAgreeNext {
	float: right;
}

/* 戻る
--------------------------------------------- */
.mod_userGuideBoxA .btnDisagreeBack {
	padding: 4px 0 0;
	float: left;
}

/* 戻る mypage/point/transfer02
--------------------------------------------- */
.mod_userGuideBoxA .btnDisagreeBack01 {
	padding: 8px 0 0;
	float: left;
}


/* 次へ
--------------------------------------------- */
.mod_userGuideBoxA .btnParchase {
	float: right;
}

/* 戻る
--------------------------------------------- */
.mod_userGuideBoxA .btnOrderCancel {
	padding: 1px 0 0;
	float: left;
}

/* 変更してレジに戻る
--------------------------------------------- */
.mod_userGuideBoxA .btnCBReg {
	float: right;
}

/* 変更せずレジに戻る
--------------------------------------------- */
.mod_userGuideBoxA .btnBReg {
	padding: 9px 0 0;
	float: left;
}

/* 適用する
--------------------------------------------- */
.mod_userGuideBoxA .btnApply {
	text-align: right;
}

/* 入力内容を修正する
--------------------------------------------- */
.mod_userGuideBoxA .btnModifyInput {
	padding: 9px 0 0;
	float: left;
}

/* 送信する
--------------------------------------------- */
.mod_userGuideBoxA .btnSend {
	float: right;
}

/* 送信する
--------------------------------------------- */
.mod_userGuideBoxA .btnContinueShopping {
	text-align: right;
}


/* --------------------------------------------------------------
	強調度（普通）
-------------------------------------------------------------- */
.mod_userGuideBoxB {
	margin: 10px 0;
	padding: 10px 15px;
	border-top: 1px dotted #c3c3c3;
	border-bottom: 1px dotted #c3c3c3;
}

.mod_userGuideBoxB .gmBtn {
	line-height: 0;
	font-size: 0.1px;
}

/* --------------------------------------------------------------
	強調度（普通）
-------------------------------------------------------------- */
.mod_userGuideBoxC {
	margin: 20px 0 0;
	padding: 13px;
	position: relative;
	/zoom: 1;
}
.mod_userGuideBoxC:after { content:"."; display:block; clear:both; height:0; visibility: hidden;}

/* --------------------------------------------------------------
	強調度（普通）
-------------------------------------------------------------- */
.mod_userGuideBoxD {
	margin: 20px 0 0;
	padding: 13px 0 13px 13px;
	position: relative;
	/zoom: 1;
}

/* --------------------------------------------------------------
	強調度（普通）
-------------------------------------------------------------- */
.mod_userGuideBoxE {
	margin: 20px 0 0;
	padding: 0 0 13px 13px;
	position: relative;
	/zoom: 1;
}
.mod_userGuideBoxC:after { content:"."; display:block; clear:both; height:0; visibility: hidden;}


/* TOPへ戻る
--------------------------------------------- */
.mod_userGuideBoxC .btnHome, .mod_userGuideBoxD .btnHome {
	float: right;
}

.mod_userGuideBoxC .btnBack {
	padding: 9px 0 0;
	float: left;
}

.mod_userGuideBoxC .btnHome, .mod_userGuideBoxE .btnHome {
	float: right;
}

/* ==========================================================================

	アテンション表記

=========================================================================== */

/* --------------------------------------------------------------
	注意事項エリア [強調度(強)]
-------------------------------------------------------------- */
.mod_cautionNoteA {
	border: 2px solid #d80000;
}

.mod_cautionNoteA .heading {
	padding: 8px 10px 8px 44px;
	color: #d80000;
	background: #ffffff url(/resource/images/shared/bg/attention-a-exmark-bg.gif) no-repeat 9px 50%;
	font-size: 1.6em;
	font-weight: bold;
	border-bottom: 2px solid #d80000;
}

.mod_cautionNoteA .body {
	padding: 8px 10px;
	line-height: 1.4;
}

.mod_cautionNoteA .heading_noImg {
	padding: 8px 10px;
	font-size: 1.3em;
	font-weight: bold;
	border-bottom: 2px solid #d80000;
}

.mod_cautionNoteA .body .text {}

/* 1行ver.
--------------------------------------------- */
.mod_cautionNoteA .heading2 {
    background: url(/resource/images/shared/bg/attention-a-exmark-bg.gif) no-repeat 10px 53% #FFFFFF;
    color: #D80000;
    float: left;
    font-size: 1.4em;
    font-weight: bold;
	line-height:1.8;
	padding:5px 20px 5px 40px;
}
.mod_cautionNoteA .body2 {
	border-left:2px solid #D80000;
	float:left;
	font-size:1.2em;
	line-height:2.2;
	padding:5px 10px 5px 22px;
}

.mod_cautionNoteA .body2 .listText a {
    background: url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat 0 50%;
    display: block;
    padding: 0 0 0 13px;
}

/* --------------------------------------------------------------
	注意事項エリア [強調度(普通)]
-------------------------------------------------------------- */

.mod_cautionNoteB {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 8px;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
	-moz-background-size:18px 18px;
	-o-background-size:18px 18px;
}

.mod_cautionNoteB .cautionHeading {
	padding: 0 0 0 20px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteB .heading {
	padding: 0 0 0 30px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteB .body {
	font-size: 1.2em;
	line-height: 1.4;
}

.mod_cautionNoteB .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteB .body .text {
	margin: 3px 0 0;
	font-weight: bold;
}

.mod_cautionNoteC {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #C3C3C3;
	background: #efefef url(/resource/images/shared/bg/attention-c-exmark-bg.png) no-repeat 9px 8px;
}

.mod_cautionNoteC .heading {
	margin: 0 0 10px;
	padding: 0 0 0 30px;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteC .body {
	line-height: 1.4;
	font-size: 1.2em;
}

.mod_cautionNoteC .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteC .body .text {
	margin: 3px 0 0;
}

.mod_cautionNoteD {
	margin: 10px 0 0;
	padding: 12px 15px 12px 45px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 50%;
}

.mod_cautionNoteD .body {
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}



.mod_cautionNoteE {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 8px;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
	-moz-background-size:18px 18px;
	-o-background-size:18px 18px;
}

.mod_cautionNoteE .cautionHeading {
	padding: 0 0 0 20px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteE .heading {
	padding: 0 0 0 30px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteE .body {
	font-size: 1.2em;
	line-height: 1.4;
}

.mod_cautionNoteE .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteE .body .text {
	margin: 3px 0 0;
	font-weight: bold;
}

.mod_cautionNoteE .body .text ul li {
	list-style: disc;
	list-style-position: inside;
}

.mod_cautionNoteF {
	margin: 20px 0 20px;
	padding: 12px 15px 10px 15px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 8px;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
	-moz-background-size:18px 18px;
	-o-background-size:18px 18px;
}

.mod_cautionNoteF .cautionHeading {
	padding: 0 0 0 20px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteF .heading {
	padding: 0 0 0 30px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteF .body {
	font-size: 1.2em;
	line-height: 1.4;
}

.mod_cautionNoteF .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteF .body .text {
	margin: 3px 0 0;
	font-weight: bold;
}


.mod_cautionNoteG {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 8px;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
	-moz-background-size:18px 18px;
	-o-background-size:18px 18px;
}

.mod_cautionNoteG .cautionHeading {
	padding: 0 0 0 20px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteG .heading {
	padding: 0 0 0 30px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteG .body {
	font-size: 1.2em;
	line-height: 1.4;
}

.mod_cautionNoteG .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteG .body .text {
	margin: 3px 0 0;
	font-weight: bold;
}


.mod_cautionNoteH {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 8px;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
	-moz-background-size:18px 18px;
	-o-background-size:18px 18px;
}

.mod_cautionNoteH .cautionHeading {
	padding: 0 0 0 20px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteH .heading {
	padding: 0 0 0 30px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteH .body {
	font-size: 1.2em;
	line-height: 1.4;
}

.mod_cautionNoteH .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteH .body .text {
	margin: 3px 0 0;
	font-weight: bold;
}


.mod_cautionNoteI {
	margin: 10px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #d80000;
	background: #efefef url(/resource/images/shared/bg/attention-b-exmark-bg.gif) no-repeat 9px 8px;
	background-size:18px 18px;
	-webkit-background-size:18px 18px;
	-moz-background-size:18px 18px;
	-o-background-size:18px 18px;
}

.mod_cautionNoteI .cautionHeading {
	padding: 0 0 0 20px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteI .heading {
	padding: 0 0 0 30px;
	color: #d80000;
	font-size: 1.4em;
	font-weight: bold;
}

.mod_cautionNoteI .body {
	font-size: 1.2em;
	line-height: 1.4;
}

.mod_cautionNoteI .body .cautionList .cautionListItem {
	margin: 0 0 3px 15px;
	list-style: disc outside;
}

.mod_cautionNoteI .body .text {
	margin: 3px 0 0;
	font-weight: bold;
}



/* --------------------------------------------------------------
	確認事項エリア
-------------------------------------------------------------- */

.mod_confirmNote {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #efefef;
	background: #efefef url(/resource/images/shared/bg/confirm-exmark-bg.gif) no-repeat 9px 8px;
}

.mod_confirmNote .heading {
	margin: 0 0 10px;
	padding: 0 0 0 30px;
	color: #4ba4ff;
	font-size: 1.6em;
	font-weight: bold;
}

.mod_confirmNote .body {
	line-height: 1.4;
	font-size: 1.2em;
}

.mod_confirmNote .body .text {
	margin: 8px 0 0;
}

.mod_confirmNote .body .text:first-child {
	margin: 0;
}



.mod_confirmNote01 {
	margin: 10px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #efefef;
	background: #efefef url(/resource/images/shared/bg/confirm-exmark-bg.gif) no-repeat 9px 8px;
}

.mod_confirmNote01 .heading {
	margin: 0 0 10px;
	padding: 0 0 0 30px;
	color: #4ba4ff;
	font-size: 1.6em;
	font-weight: bold;
}

.mod_confirmNote01 .body {
	line-height: 1.4;
	font-size: 1.2em;
}

.mod_confirmNote01 .body .text {
	margin: 8px 0 0;
}

.mod_confirmNote01 .body .text:first-child {
	margin: 0;
}


.mod_confirmNote02 {
	margin: 20px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #efefef;
	background: #efefef;
}

.mod_confirmNote02 .heading {
	margin: 0 0 5px;
/*	padding: 0 0 0 30px;
	color: #4ba4ff;*/
	font-size: 1.6em;
	font-weight: bold;
}

.mod_confirmNote02 .body {
	line-height: 1.4;
	font-size: 1.2em;
}

.mod_confirmNote02 .body .text {
	margin: 8px 0 0;
}

.mod_confirmNote02 .body .text:first-child {
	margin: 0;
}

.mod_confirmNote02 .heading02 {
	margin:20px 0 5px 0;
/*	padding: 0 0 0 30px;
	color: #4ba4ff;*/
	font-size: 1.6em;
	font-weight: bold;
}

.mod_confirmNote03 {
	margin: 10px 0 0;
	padding: 12px 15px 10px 15px;
	border: 1px solid #c3c3c3;
}

.mod_confirmNote03 .text {
	font-size: 1.2em;
	font-weight: bold;
}

/* --------------------------------------------------------------
	取りまとめ依頼
-------------------------------------------------------------- */
.mod_requestNote {
	margin: 20px 0 0;
	padding: 12px 10px 10px 45px;
	border: 1px solid #efefef;
	background: #efefef url(/resource/images/shared/bg/confirm-exmark-bg.gif) no-repeat 12px 50%;
}

.mod_requestNote .request {
	color: #4ba4ff;
	line-height: 1.4;
	font-size: 1.6em;
	font-weight: bold;
}

.mod_requestNote .btn {
	vertical-align: middle;
}


/* --------------------------------------------------------------
	左カラムナビゲーション（～から探す）
-------------------------------------------------------------- */
.mod_searchBaseNav {
	margin: 10px 0 0;
	padding: 4px 0 0;
	background: url(/resource/images/shared/bg/search-base-nav-top-bg.gif) no-repeat left top;
	font-size: 1.2em;
}

.mod_searchBaseNav ul {
	padding: 0 0 4px;
	background: url(/resource/images/shared/bg/search-base-nav-btm-bg.gif) no-repeat left bottom;
}

.mod_searchBaseNav ul li {
	border-width: 1px 0;
	border-style: solid;
	border-color: #ffffff #ffffff #c3c3c3;
}

.mod_searchBaseNav a {
	padding: 12px 0 12px 25px;
	display: block;
	position: relative;
	cursor: pointer;
	background: #f7f7f7 url(/resource/images/shared/icn/b-arrow-mkr.gif) no-repeat 8px 50%;
}

.mod_searchBaseNav a:link,
.mod_searchBaseNav a:visited {
	color: #666;
	text-decoration: none;
}

.mod_searchBaseNav a:hover,
.mod_searchBaseNav a:active {
	color: #1b72e9;
	text-decoration: underline;
	background-color: #dfebf7;
}

/* --------------------------------------------------------------
	2カラムのバナーリスト
-------------------------------------------------------------- */
.mod_bnr2Box {}
.mod_bnr2Box .banner {
	margin: 20px 0 0;
	width: 272px;
}
.mod_bnr2Box .banner .caption {
	margin: 6px 0 0;
	display: block;
	line-height: 1.4;
	font-size: 1.2em;
}
.mod_bnr2Box .body .colL{ float: left; }
.mod_bnr2Box .body .colR{ float: right; }

.mod_bnr2Box .banner.first-row {
	margin-top: 10px;
}


/* ==========================================================================

	ボックス間のマージン調整用クラス

=========================================================================== */

.mod_mgt0 {margin-top: 0px !important;}
.mod_mgtPtA {margin-top: 6px !important;}
.mod_mgtPtB {margin-top: 8px !important;}
.mod_mgtPtC {margin-top: 10px !important;}
.mod_mgtPtD {margin-top: 20px !important;}
.mod_mgtPtE {margin-top: 30px !important;}
.mod_mgtPtF {margin-top: 40px !important;}
.mod_mgtPtD02 {margin-top: 0px !important;}

.mod_mgbPtA {margin-bottom: 6px !important;}
.mod_mgbPtB {margin-bottom: 8px !important;}
.mod_mgbPtC {margin-bottom: 10px !important;}
.mod_mgbPtD {margin-bottom: 20px !important;}
.mod_mgbPtE {margin-bottom: 30px !important;}
.mod_mgbPtF {margin-bottom: 40px !important;}

.mod_mgnPtA {
	margin-top: 6px !important;
	margin-bottom: 6px !important;
}
.mod_mgnPtB {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}
.mod_mgnPtC {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.mod_mgnPtD {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.mod_mgnPtE {
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}
.mod_mgnPtF {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

*html .mod_mgtPt_X {margin-top: 0 !important;
position:relative;
top:-20px;
}
*+html .mod_mgtPt_X {margin-top: 0 !important;
position:relative;
top:-20px;
}

/**/

/*バナーリストベース*/
.bnrListBase {
	margin: 10px 0 0;
	position: relative;
}

.bnrListBase ul li {
	margin: 5px 0 0;
}



.cautionText {
	font-weight: bold;
	margin: 3px 0 0;
}

#YHoroscopeView {
	border: 4px solid #efefef;
}

#YHoroscopeView .settei {
	text-align: center;
	padding: 5px;
	margin: 5px auto;
}

#YHoroscopeView p.description {
	text-align: left;
	padding: 5px 5px 10px;
	font-size: 120%;
	border-bottom: dotted #efefef thin;
	margin-bottom: 5px;
}
#YHoroscopeView .navi-horoscopes-wrap {
	border-bottom:dotted 1px #d9d9d9;
	margin-bottom:5px;
	padding:5px;
}
#YHoroscopeView .navi-horoscopes-wrap p.floatL {
	width:57px;
}
#YHoroscopeView .navi-horoscopes-wrap p.floatR {
	width:100px;
}

.basketTxtBlack {
	color: #333;
    font-size: 1.8em;
    line-height: 1.4;
    margin-top: 20px;
}

