@charset "utf-8";

.mod_textS { font-size: 0.83333em; }
.mod_textS02 {
	font-size: 0.83333em;
	padding: 0 0 0 20px;
}

.mod_textL { font-size: 1.16666em; }


.mod_csRed { color: #d80000; }
.mod_csOrange { color: #ed8011; }
.mod_csdarkBlue { color: #172397; }
.mod_csGreen { color: #86c41d; }
.mod_csPink { color: #db4087; }
.mod_csOrange { color: #ed8011; }
.mod_csBlue { color: #ed8011; }


.mod_linkPopup {
	display: inline-block;
	padding: 0 0 0 12px;
	background: url(/resource/images/shared/icn/popup-icn.gif) no-repeat 0 0.25em;
	/display: inline;
	/zoom: 1;
}

.mod_linkPopupHelp {
	display: inline-block;
	padding: 5px 0 3px 23px;
	background: url(/resource/images/shared/icn/help-icn.png) no-repeat left center;
	/display: inline;
	/zoom: 1;
}

.mod_linkHelp {
	display: inline-block;
	padding: 4px 0 4px 23px;
	background: url(/resource/images/shared/icn/help-icn.png) no-repeat left center;
	font-size: 1.2em;
	/display: inline;
	/zoom: 1;
}

.mod_linkHelp01 {
	display: inline-block;
	padding: 4px 0 4px 23px;
	background: url(/resource/images/shared/icn/help-icn.png) no-repeat left center;
	/display: inline;
	/zoom: 1;
}

.mod_linkBlankHelp {
	display: inline-block;
	padding: 5px 0 3px 23px;
	background: url(/resource/images/shared/icn/help-icn.png) no-repeat left center;
	/display: inline;
	/zoom: 1;
}
.mod_linkBlankHelp a {
	padding: 0 12px 0 0;
	background: url(/resource/images/shared/icn/blank-icn.gif) no-repeat 100% .25em;
}

.mod_linkAnchor {
	padding: 0 0 0 12px;
	background: url(/resource/images/shared/icn/anchor-icn.png) no-repeat left center;
}

.mod_linkAnchor-02 {
	padding: 0 0 0 18px;
	background: url(/resource/images/shared/icn/link-anchor-icn.png) no-repeat left center;
}

.mod_linkPageTop {
	padding: 0 0 0 12px;
	background: url(/resource/images/shared/icn/pagetop-icn.png) no-repeat left center;
}

.mod_linkText {
	padding: 0 0 0 12px;
	background: url(/resource/images/shared/icn/link-icn.png) no-repeat left 5px;
}

.mod_linkBlank {
	padding: 0 0 0 12px;
	background: url(/resource/images/shared/icn/link-icn.png) no-repeat left center;
}

.mod_linkBlank a {
	padding: 0 12px 0 0;
	background: url(/resource/images/shared/icn/blank-icn.gif) no-repeat 100% .25em;
}

.mod_linkBlankB {
	padding: 0 12px 0 0;
	background: url(/resource/images/shared/icn/blank-icn.png) no-repeat 100% .25em;
}

.mod_linkListed{
	display: inline-block;
	padding: 3px 0 3px 17px;
	background: url(/resource/images/shared/icn/arrow-black-mkr.png) no-repeat left 5px;
	/display: inline;
	/zoom: 1;
}
.mod_linkListed02{
	display: inline-block;
	padding: 3px 0 3px 17px;
	background: url(/resource/images/shared/icn/arrow-black-bottom-mkr.png) no-repeat left 5px;
	/display: inline;
	/zoom: 1;
}

.mod_linkPlus {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	padding: 3px 0 3px 23px;
	background: url(/resource/images/shared/icn/plus-icn.png) no-repeat left center;
}

.mod_linkMore {
	display: inline-block;
	/display: inline;
	/zoom: 1;
	padding: 3px 0 3px 17px;
	background: url(/resource/images/shared/icn/more-icn.png) no-repeat left center;
}
/* -------------------------------------------------------------- 
追加スタイル
-------------------------------------------------------------- */

/* インデント揃える */
.mod_indent-list {
	padding-left:1em;
	text-indent:-1em;
}

/* 中黒 */
.mod_bullet-list {
	background: url(/resource/images/shared/icn/dot-icn.gif) no-repeat left 7px;
	padding-left: 6px;
}

/* 赤中黒 */
.mod_bullet-list.red {
	background:url(/resource/images/order/dot-red-icn.gif) no-repeat left 6px;
}

