﻿@charset "utf-8";

/* #############################################################

[ popup ]

適用範囲：全体

############################################################# */


/* ==========================================================================
 popup
=========================================================================== */

/* popup_271 */
.popup_271{width:271px;}
.popup_271 .bg_popup_271_blue_b{background:url(/resource/images/shared/bg/bg_popup_271_blue_b.png) left bottom no-repeat;padding-bottom:16px;}
.popup_271 .bg_popup_271_blue_t{background:url(/resource/images/shared/bg/bg_popup_271_blue_t.png) left top no-repeat;   padding-top:12px;}
.popup_271 .bg_popup_271_blue_m{background:url(/resource/images/shared/bg/bg_popup_271_blue_m.png) left top repeat-y;zoom:1;}
.popup_271 .popup_271_inner{padding:5px 29px 16px 22px;}

.popup_271 .popup_title{margin-bottom:12px;}
.popup_271 .setting_status{margin-bottom:14px;font-weight:bold;}
.popup_271 .setting_items{margin-bottom:15px;width:100%;}
.popup_271 .setting_main{background:#dfebf7;}
.popup_271 .setting_sub{background:#e5e5e5;}
.popup_271 .setting_items td{padding:9px 10px 9px 0;}
.popup_271 .setting_items td select.everyweek{width:80px;}
.popup_271 .setting_items td select.everymonth{width:80px;}
.popup_271 .setting_items td.checkbox{padding:9px 0;text-align:center;}
.popup_271 .setting_sub td{border-top:1px solid #fff;}
.popup_271 .operation_decision_close{width:100%;zoom:1;}
.popup_271 .operation_decision_close:before,
.popup_271 .operation_decision_close:after{content:"";display:table;}
.popup_271 .operation_decision_close:after{clear: both;}
.popup_271 .operation_decision_close .operation_decision{float:left;}
.popup_271 .operation_decision_close .operation_close{float:right;}

/* popup_400 */
.popup_400{width:400px;}
.popup_400 .bg_popup_400_blue_b{background:url(/resource/images/shared/bg/bg_popup_400_blue_b.png) left bottom no-repeat;padding-bottom:16px;}
.popup_400 .bg_popup_400_blue_t{background:url(/resource/images/shared/bg/bg_popup_400_blue_t.png) left top no-repeat;   padding-top:12px;}
.popup_400 .bg_popup_400_blue_m{background:url(/resource/images/shared/bg/bg_popup_400_blue_m.png) left top repeat-y;zoom:1;}
.popup_400 .popup_400_inner{padding:5px 29px 16px 22px;}

.popup_400 .popup_title{margin-bottom:12px;}
.popup_400 .where{margin-bottom:14px;}
.popup_400 .where select{margin-right:5px;}
.popup_400 .operation_move_copy_close{width:100%;zoom:1;}
.popup_400 .operation_move_copy_close:before,
.popup_400 .operation_move_copy_close:after{content:"";display:table;}
.popup_400 .operation_move_copy_close:after{clear: both;}
.popup_400 .operation_move_copy_close li{float:left;}
.popup_400 .operation_move_copy_close li.operation_copy{margin:0 9px;}

.popup_400 .comment{margin-bottom:5px;}
.popup_400 .comment #commentArea{width: 349px;}
.popup_400 .anno{margin-bottom:14px;color:#999999;}

.popup_400 .operation_decision_close{width:219px;margin:0 auto;zoom:1;}
.popup_400 .operation_decision_close:before,
.popup_400 .operation_decision_close:after{content:"";display:table;}
.popup_400 .operation_decision_close:after{clear: both;}
.popup_400 .operation_decision{float:left;}
.popup_400 .operation_close{float:right;}

/* popup_286 */
.popup_286{width:286px;}
.popup_286 .bg_popup_286_gray_b{background:url(/resource/images/shared/bg/bg_popup_286_gray_b.png) left bottom no-repeat;padding-bottom:15px;}
.popup_286 .bg_popup_286_gray_t{background:url(/resource/images/shared/bg/bg_popup_286_gray_t.png) left top no-repeat;   padding-top:11px;}
.popup_286 .bg_popup_286_gray_m{background:url(/resource/images/shared/bg/bg_popup_286_gray_m.png) left top repeat-y;zoom:1;}
.popup_286 .popup_286_inner{padding:5px 29px 16px 22px;}
.popup_286 .expla{padding:16px 0 30px;font-size:120%;>font-size:110%;}

.popup_286 .operation_decision_close{width:219px;margin:0 auto;zoom:1;}
.popup_286 .operation_decision_close:before,
.popup_286 .operation_decision_close:after{content:"";display:table;}
.popup_286 .operation_decision_close:after{clear: both;}
.popup_286 .operation_decision{float:left;}
.popup_286 .operation_close{float:right;}

/* popup_291 */
.popup_291{width:291px;}
.popup_291 .bg_popup_291_blue_b{background:url(/resource/images/shared/bg/bg_popup_291_blue_b.png) left bottom no-repeat;padding-bottom:16px;}
.popup_291 .bg_popup_291_blue_t{background:url(/resource/images/shared/bg/bg_popup_291_blue_t.png) left top no-repeat;   padding-top:12px;}
.popup_291 .bg_popup_291_blue_m{background:url(/resource/images/shared/bg/bg_popup_291_blue_m.png) left top repeat-y;zoom:1;}
.popup_291 .popup_291_inner{padding:0px 19px 16px 12px;}
.popup_291 .popup_title{margin-bottom:8px;text-align:center;}

.popup_291 .catalogitem{margin:0 auto 22px;width:240px;zoom:1;}
.popup_291 .catalogitem:before,
.popup_291 .catalogitem:after{content:"";display:table;}
.popup_291 .catalogitem:after{clear: both;}

.popup_291 .catalogitem .thumb{float:left;margin-right:15px;}
.popup_291 .catalogitem .thumb .img{width:40px;height:40px;background:#aaa;}
.popup_291 .catalogitem .link{float:right;width:185px;font-size:120%;line-height:1.4;}

.popup_291 .search_registered_folder{margin:0 auto 22px;width:240px;font-size:120%;}
.popup_291 .search_registered_folder .expla{margin-bottom:5px;}
.popup_291 .search_registered_folder select{width:100%;}

.popup_291 .operation_register_close{width:260px;margin:0 auto;zoom:1;}
.popup_291 .operation_register_close:before,
.popup_291 .operation_register_close:after{content:"";display:table;}
.popup_291 .operation_register_close:after{clear: both;}
.popup_291 .operation_register_close .operation_register{float:left;}
.popup_291 .operation_register_close .operation_multi_register{float:left;}
.popup_291 .operation_register_close .operation_close{float:right;}


