@charset "utf-8";

/* ==========================================================================
	テーブルセル
=========================================================================== */

.mod_tblBase {
}
/**/
.mod_tblBase tr th,
.mod_tblBase tr td,
.mod_tblBase thead tr th,
.mod_tblBase thead tr td,
.mod_tblBase tbody tr th,
.mod_tblBase tbody tr td {
	padding: 7px; /*基本的にテーブルのセルは8pxパディング*/
}
/**
.mod_tblBase th,
.mod_tblBase td {
	padding: 8px !important;
}
/**/
/* ==========================================================================
	アイテムテーブル基本モジュール
=========================================================================== */

.mod_itemTblBase {
	border-collapse: collapse;
	table-layout: fixed;
}

.mod_itemTblColHead {
	padding: 4px 0;
	color: #747474;
	border-top:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	background: #efefef;
	vertical-align: middle;
	font-weight: normal;
}

.mod_itemTblColInputHead {
	padding: 4px 0;
	border-top:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	background: #dfebf7;
	font-weight: normal;
	empty-cells: show;
}

.mod_itemTblCell {
	padding: 8px;
	border-top: 1px dashed #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	color: #333;
	word-wrap: break-word;
	background: #fff;
}

.mod_itemTblInputCell {
	padding: 8px;
	border-top: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	background: #dfebf7;
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	empty-cells: show;
}

.mod_itemTblBase tr:first-child .mod_itemTblCell,
.mod_itemTblBase tr:first-child .mod_itemTblInputCell {
	/*border-top: none;*/
}


/* -------------------------------------------------------------- 
	テーブルヘッド
	※テキストの寄せやボーダーなど商品テーブル全体で
	共通なスタイルを記載します。
-------------------------------------------------------------- */

/*	No
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadNo {
	text-align: center;
	vertical-align: middle;
}

/*	商品名
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadName {
	text-align: center;
	vertical-align: middle;
}

/*	お申込み番号
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadApp {
	text-align: center;
	vertical-align: middle;
}

/*	販売価格
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadPrice,
.mod_itemTblBase .itemHeadSales {
	text-align: center;
	vertical-align: middle;
}

/*	販売単位
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadUnit {
	text-align: center;
	vertical-align: middle;
}

/*	数量変更
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadChange {
	text-align: center;
	vertical-align: middle;
}

/*	数量
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadAmount {
	text-align: center;
	vertical-align: middle;
}

/*ボタンなどなど
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadBtn {
	text-align: center;
	vertical-align: middle;
}


/*	空セル
-------------------------------------------------------------- */
.mod_itemTblBase .itemHeadEmpty {
	text-align: center;
	empty-cells: show;
}

/* -------------------------------------------------------------- 
	テーブルセル
	※テキストの寄せやボーダーなど商品テーブル全体で
	共通なスタイルを記載します。
-------------------------------------------------------------- */

/*	No
-------------------------------------------------------------- */
.mod_itemTblBase .itemNo {
	text-align: center;
	vertical-align: middle;
}

/*	商品名
-------------------------------------------------------------- */
.mod_itemTblBase .itemName {
	text-align: left;
	vertical-align: top;
}

/*	お申込み番号
-------------------------------------------------------------- */
.mod_itemTblBase .itemApp {
	text-align: left;
	vertical-align: middle;	
}

/*	販売価格
-------------------------------------------------------------- */
.mod_itemTblBase .itemPrice,
.mod_itemTblBase .itemSales {
	text-align: right;
	vertical-align: middle;
}

/*	販売単位
-------------------------------------------------------------- */
.mod_itemTblBase .itemUnit {
	font-size: 1.0em;
	text-align: left;
	vertical-align: middle;
}

/*	数量
-------------------------------------------------------------- */
.mod_itemTblBase .itemAmount {
	text-align: right;
	vertical-align: middle;
}

.mod_itemTblBase .itemAmount  input[type=text] {
	text-align: right;	
}

/*	小計
-------------------------------------------------------------- */
.mod_itemTblBase .itemTotal {
	text-align: right;
	vertical-align: middle;
}

/*	数量変更
-------------------------------------------------------------- */
.mod_itemTblBase .itemChange {
	text-align: center;
	vertical-align: middle;
}

/*	ボタンなどなど
-------------------------------------------------------------- */
.mod_itemTblBase .itemBtn {
	text-align: center;
	vertical-align: middle;
}







