*{margin: 0; padding: 0;}
html{height: 100%;}
body{
    width: 100%;
    height: 100%;
    background: #790c0c;
    font-family: Tahoma, "Geneva CY", sans-serif;
    font-size: 13px;
    color: #000;
}
input{vertical-align: top;}
input:focus{outline: 0 none;} 
textarea:focus{outline: 0 none;}
.clear{clear: both;}
.alignleft{float: left;}
.alignright{float: right;}
ul{
    list-style: none;
}
img{
    border: 0;
}
a{
    color: #fff;
    text-decoration: underline;
    outline: 0;
}
a:hover{
    text-decoration: none;
}

#top{
    width: 100%;
    background: url(/img/top.png) repeat-x left top;
    border-collapse: collapse;
    position: absolute;
    z-index: -1;
}
#top td{
    height: 160px;
}
#wrapper{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    height: auto !important;
}
#wrapper table{
    width: 100%;
    border-collapse: collapse;
}


/* Header
************************************************/
#header{
    background: url(/img/header.jpg) repeat-x left top;
}
#header td{
    vertical-align: top;
    height: 98px;
    padding: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    *height: 78px;
}
.logo{
    width: 214px;
    padding-top: 5px !important;
    padding-left: 15px !important;
}
.description{
    width: 350px;
    font-size: 11px;
    color: #151515;
    line-height: 13px;
    text-align: center;
    vertical-align: middle;
}
.description a{
    color: #790c0c;
}
.search form{
    width: 283px;
    height: 25px;
    display: block;
    background: url(/img/search.png) no-repeat;
    overflow: hidden;
    margin: 35px auto 0;
    line-height: 25px;
}
.search input{
    width: 246px;
    height: 25px;
    border: 0;
    background: none;
    padding: 0 5px;
    color: #290505;
    font-size: 12px;
    font-family: Tahoma, "Geneva CY", sans-serif;
    vertical-align: top;
    line-height: 25px;
}
input.search-bttn{
    width: 20px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    margin: 0;
}


/* Topmenu
************************************************/
#topmenu{
    height: 34px;
    overflow: hidden;
    margin: 2px auto 3px;
}
#topmenu li{
    height: 34px;
    float: left;
    background: url(/img/topmenu-l.png) no-repeat left top;
    line-height: 33px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    margin-right: 1px;
    overflow: hidden;
}
#topmenu li a{
    height: 34px;
    display: block;
    padding: 0 14px;
    background: url(/img/topmenu-r.png) no-repeat right top;
    text-decoration: none;
    color: #fff;
    -display: inline;
    -zoom: 1;
}
#topmenu li:hover, #topmenu li.active{
    background: url(/img/topmenu-hover-l.png)  no-repeat left top;
}
#topmenu li:hover a, #topmenu li.active a{
    background: url(/img/topmenu-hover-r.png) no-repeat right top;
    color: #790c0c;
}


/* Sort
************************************************/
#sort{
    margin-bottom: 3px;
}
.sort-l a{
    display: block;
    height: 37px;
    line-height: 37px;
    float: left;
    padding: 0 30px;
    background: url(/img/sort.png) repeat-x left center;
    font-size: 11px;
    color: #fff;
    text-decoration: none;
    margin-right: 1px;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.sort-l a:hover, .sort-l a.active{
    background: url(/img/sort-active.png) repeat-x left center;
}
.sort-r{
    width: 476px;
    height: 37px;
    padding: 0px 5px 0 60px;
    background: url(/img/sort-right.jpg) no-repeat top center;
}


/* CSelect
**************************************************/
.cselect{
    height: 25px;
    float: left;
    margin: 0 5px 0 0;
    color: #790c0c;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: normal;
    overflow: hidden;
}
.ui-selectmenu{
    width: 114px !important;
    display: block;
    height: 25px;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
}
.ui-selectmenu-status{
    display: block;
    line-height: 25px;
    padding: 0 17px 0 10px;
    color: #790c0c;
}
.ui-selectmenu-menu {
    width: 111px !important;
    list-style: none outside none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 2;
    border: 1px solid #262626;
    padding: 1px;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.ui-selectmenu-open {
    visibility: visible;
}
.ui-selectmenu-menu li{
    color: #000;
    margin: 1px 0;
}
.ui-selectmenu-menu li a{
    color: #000;
    display: block;
    text-decoration: none;
    padding: 0 2px;
    line-height: 15px;
}
li.ui-selectmenu-item-selected, li.ui-state-hover{
    background: #2a2a2a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
li.ui-selectmenu-item-selected a, li.ui-state-hover a{
    color: #fff;
}


/* Content
************************************************/
.container{
    background: #fec10d;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
}
.panel{
    background: url(/img/panel.png) repeat-x left center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 0;
}
.panel a{
    color: #fec10d;
}
.panel td{
    height: 37px;
    vertical-align: middle;
    padding: 0 10px !important;
}
.panel .search form{
    margin: 0;
    background-image: url(/img/search2.png);
}
.panel td:first-child span{
    color: #fec10d;
}
.addthis_button{
    background: url(/img/bookmark.png) no-repeat left center;
    padding-left: 28px;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
}
.letters li{
    float: left;
}
.letters li a{
    text-decoration: none;
    padding: 1px 3px;
}
.letters li a:hover{
    background: #fff;
    color: #000;
}
.banners{
    text-align: center;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
}
.banners a{
    display: inline-block;
    width: 300px;
    height: 250px;
    background: #5d5c5c;
    margin: 20px 3px;
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;
}
.pagination a, .pagination span{
    color: #fec10d;
    margin: 0 2px;
    text-decoration: none;
}
.pagination a:hover, .pagination a.active{
    text-decoration: underline;
}
.f-s-24{
    font-size: 24px !important;
}
.video-block{
    width: 65%;
    float: left;
    text-align: center;
}
.benners-block{
    width: 30%;
    float: right;
}


/* Thumbs
************************************************/
.thumbs td{
    font-size: 0;
    line-height: 0;
    letter-spacing: -1px;
    text-align: center;
    margin: 3px 0;
}
.thumb{
    width: 322px;
    display: inline-block;
    margin: 1px;
    background: #790c0c;
    padding: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: normal;
    overflow: hidden;
    *display: inline;
    *zoom: 1;
}
a.thumb{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 24px;
    line-height: normal;
}
.meta{
    width: 310px;
    height: 26px;
    display: block;
    line-height: 26px;
    position: absolute;
    margin: 215px 0 0 1px;
    padding: 0 5px;
    font-size: 18px;
    color: #6a6969;
    font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    text-align: center;
    background: url(/img/videos.png) repeat left top;
    text-decoration: none;
}
.meta .alignleft, .meta .alignright{
    font-size: 11px;
    color: #6a6969;
}
.meta .alignright{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.thumb, .thumb a{
    text-decoration: none;
    color: #fec10d;
}
.thumb a{
    display: block;
}
.thumb a:hover{
    text-decoration: underline;
}
a.thumb:hover{
    background: #232223;
    color: #fff;
}
.thumb img{
    border: 1px solid #f5b40d;
}
a.thumb:hover img{
    border-color: #fff;
}
.thumb a:hover img{
}
.v-title{
    display: block;
    font-size: 12px;
    line-height: 14px;
    height: 28px;
    overflow: hidden;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
}
.tags{
    width: 100%;
    margin: 2px 0;
    font-size: 11px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tags a{
    display: inline;
    color: #fff;
}


/* List
************************************************/
.list{
    width: 100%;
    background: #790c0c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 3px 0;
}
.list td{
    padding: 10px !important;
}
.list ul{
    float: left;
    width: 20%;
}
.list ul li{
    margin: 0 10px;
    list-style: none;
    color: #fec10d;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.list ul li span{
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
    *display: inline;
    *zoom: 1;
}
.list ul li span:hover{
    background: #000;
}
.list ul li a{
    color: #fec10d;
    text-decoration: none;
}
.bullet li{
    background: url(/img/list-bullet.png) no-repeat 0 8px;
    padding-left: 8px;
}


/* Footer
************************************************/
#footer{
    width: 1000px;
    margin: -91px auto 0;
    background: #2f2e2f url(/img/footer.png) repeat-x left top;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}
#footer td{
    height: 87px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    padding-top: 4px;
}
#footer a, #footer p{
    color: #fec10d;
    text-decoration: none;
}
#footer a:hover{
    text-decoration: underline;
}
#footer p{
    margin-bottom: 5px;
}