a:hover { text-decoration: none; }
a:hover span { text-decoration: underline; }
.contents { max-width: 1200px; }
.container { max-width: 1200px; min-width: 974px; }
.content.responsive { max-width: 1200px; }
.container.spotlight, .container.offers { background: #fff; }
.container.spotlight { padding: 30px 25px; }
.container.spotlight a span.link { color: #009cff; }
.container.offers { padding: 0 25px 30px; }
span.br { display: block; }
.link.br { display: block !important; }
.promo-hero-banner { float: left !important; }
.promo-hero-banner img { float: left; }
#brand-bar { margin: 0; list-style: none; background: #000; text-align: center; height: 57px; }
#brand-bar li { display: inline-block; *display:inline;
position: relative; margin-top: 0; background: url(/static/corel/images/brands/separator.png) no-repeat; }
#brand-bar li:first-child, #brand-bar .first-child { background: none; }
#brand-bar li a { padding: 0 24px 0 26px; }
#brand-bar li a img { vertical-align: top; }
#brand-bar .logo-hover, #brand-bar .hover .logo, #brand-bar li:hover .logo { display: none; }
#brand-bar li.hover .logo-hover, #brand-bar li:hover .logo-hover { display: inline; }
.hero img, .feature img, .highlight img { width: 100%; }
.highlight a { display: block; }
.highlight img { margin: 0 0 10px; }
.highlight h2 { color: #484b54; font-size: 18px; margin: 0; }
.highlight p { color: #7e828c; font-size: 14px; line-height: 21px; margin: 0; }
.highlight-link { display: block }
.highlight .label { color: #fff; position: absolute; top: 0; right: 15px; font-size: 140%; text-transform: uppercase; font-weight: normal; border-radius: 0; }
.label-new { background-color: #555; padding: .2em 0.8em .3em; }
.offers .row { display: -ms-flexbox; display: -webkit-flex; display: flex; }
.spoff { display: -ms-flexbox; display: -webkit-flex; display: flex; }
.spoff .thumbnail { border-radius: 0; width: 100%; }
.spoff .thumbnail .row { margin: 0; }
.spoff .thumbnail .caption { padding: 30px 10px 0 5px; color: inherit; }
.spoff .thumbnail .caption h3 { font-size: 16px; line-height: 18px; margin: 0 0 5px; color: #009cff; }
.spoff .thumbnail .caption p { color: #7e828c; } 
.spoff .thumbnail .spoff-img { padding: 20px 5px; }
.spoff .thumbnail .spoff-img img { width: 90%; }
a:hover span.sp-promo-text, a:hover span.sp-promo-text span { text-decoration: none !important; }
.sp-promo-text { display: block !important; }
@media (max-width: 1199px) {
.highlight p { font-size: 12px; line-height: 18px; }
.highlight h2 { font-size: 16px; }
}
