﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clear:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
* html .clear { height: 1%; }
body { background: #ccc; color: #333; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.62em; }
a { color: #21759b; text-decoration: none; -moz-transition: color .25s ease, margin .25s ease; -webkit-transition: color .25s ease, margin .25s ease; -o-transition: color .25s ease, margin .25s ease; -ms-transition: color .25s ease, margin .25s ease; transition: color .25s ease, margin .25s ease; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 18px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-weight: 300; line-height: 1.62em; letter-spacing: 1px; }
h1 { font-size: 24px; letter-spacing: 0px; }
h2 { font-size: 20px; letter-spacing: 0px; }
h3 { font-size: 18px; letter-spacing: 0px; }
h4 { font-size: 16px; letter-spacing: 0px; }
h5 { font-size: 15px; letter-spacing: 0px; }
h6 { font-size: 14px; letter-spacing: 0px; }
p { margin-bottom: 24px; line-height: 18px; }
blockquote { position: relative; color: #444; font-family: Tahoma, Arial, Helvetica, sans-serif; font-style: italic; margin: 0 30px 0 60px; }
blockquote:before { position: absolute; top: 30px; left: -75px; content: "\201C"; color: #DDD; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 96px; }
blockquote cite { font-style: normal; }
blockquote cite:before { content: "\2014"; padding-right: 8px; }
table { width: 100%; border-collapse: collapse; text-align: center; margin-bottom: 24px; }
table th, table td { padding: 6px 0; }
table th { font-weight: 600; }
fieldset { border: #EEE 1px solid; padding: 2%; }
input[type="text"], input[type="password"], textarea { padding: 1.5%; box-shadow: inset 1px 1px 5px rgba(0, 0, 0, .05); background: #FCFCFC; border: #EEE 1px solid; color: #999; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { background: #FFF; border: #ddd 1px solid; color: #333; outline: none; }
textarea { font-size: 15px; }
input[type=submit], input[type=reset], input[type=button] { padding: 4px 15px; border-radius: 15px; box-shadow: 0 0 5px rgba(0, 0, 0, .1); background: #F8F8F8; background: -moz-linear-gradient(#FCFCFC, #F3F3F3); background: -webkit-linear-gradient(#FCFCFC, #F3F3F3); background: -o-linear-gradient(#FCFCFC, #F3F3F3); background: -ms-linear-gradient(#FCFCFC, #F3F3F3); background: linear-gradient(#FCFCFC, #F3F3F3); border: none; border-bottom: #DDD 1px solid; color: #444; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; }
input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover { box-shadow: #aaa 0 0 5px; }
input[type=submit]:focus, input[type=reset]:focus, input[type=button]:focus { box-shadow: #aaa 0 0 5px; background: -moz-linear-gradient(#EEE, #F9F9F9); background: -webkit-linear-gradient(#EEE, #F9F9F9); background: -o-linear-gradient(#EEE, #F9F9F9); background: -ms-linear-gradient(#EEE, #F9F9F9); background: linear-gradient(#EEE, #F9F9F9); }
hr { border: none; border-top: #EEE 1px solid; }
dt { font-weight: 600; margin-bottom: 24px; }
dd { margin-left: 30px; margin-bottom: 24px; }
ul { list-style-type: disc; margin-left: 30px; margin-bottom: 24px; }
ul li { margin-top: 4px; }
ul ul { list-style-type: square; margin-bottom: 0; }
ul ul ul { list-style-type: circle; }
ol { list-style-type: decimal; margin-left: 30px; margin-bottom: 24px; }
ol ol { list-style: upper-alpha; margin-bottom: 0 }
ol ol ol { list-style: lower-roman; }
ol ol ol ol { list-style: lower-alpha; }
address { font-size: 14px; font-style: italic; margin-bottom: 16px; }
code { padding: 1px 4px; background: #F8F8F8; background: -moz-linear-gradient(#F8F8F8, #F3F3F3); background: -webkit-linear-gradient(#F9F9F9, #F3F3F3); background: -o-linear-gradient(#F8F8F8, #F3F3F3); background: -ms-linear-gradient(#F8F8F8, #F3F3F3); background: linear-gradient(#F8F8F8, #F3F3F3); border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, .2); font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; }
kbd, tt { font-family: Tahoma, Arial, Helvetica, sans-serif; }
abbr, acronym { border-bottom: #999 1px dotted; cursor: help; }
big { font-size: 1.3em; }
cite, em { font-style: italic; }
pre { padding: 15px; background: #F8F8F8; border: #E3E3E3 1px dashed; color: #000; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.62em; margin-bottom: 24px; overflow: auto; }
q { quotes: inherit; }
q:before { content: open-quote; }
q:after { content: close-quote; }
strong { font-weight: 600; }
sup, sub { height: 0; line-height: 1; vertical-align: baseline; position: relative; font-size: 10px; }
sup { bottom: 1ex; }
sub { top: .5ex; }
figure img { display: block; margin: 0 auto; }
video { display: block; }
audio { max-width: 100%; }
.aligncenter { display: block; margin: 20px auto; }
.alignleft { float: left; margin: 10px 20px 10px 0; }
.alignright { float: right; margin: 10px 0 10px 20px; }
.wp-caption { max-width: 96%; padding: 3% 2%; box-shadow: 0 0 5px rgba(0, 0, 0, .1); background: #FCFCFC; border-bottom: #EEE 1px solid; }
.wp-caption a img { display: block; padding: 0; margin: 0 auto; border: none; box-shadow: none; }
.wp-caption-text { margin: 3% 0 0; color: #333; font-size: 13px; line-height: 1.62em; text-align: center; }
.gallery { margin: auto; }
.gallery-item { float: left; padding: 10px 0; background: #FCFCFC; border-bottom: #EEE 1px solid; box-shadow: 0 0 5px rgba(0, 0, 0, .1); text-align: center; }
.gallery-columns-1 .gallery-item { width: 90%; margin: 0 1.5% 3%; }
.gallery-columns-2 .gallery-item { width: 45%; margin: 0 1.5% 3%; }
.gallery-columns-3 .gallery-item { width: 30%; margin: 0 1.3% 3%; }
.gallery-columns-4 .gallery-item { width: 22%; margin: 0 1.2% 3%; }
.gallery-columns-5 .gallery-item { width: 17%; margin: 0 1.2% 3%; }
.gallery-item:hover { background: #F4F4F4; }
.gallery-item a img { display: block; padding: 0; margin: 0 auto; border: none; box-shadow: none; }
.gallery-icon { margin: 0; }
.gallery-caption { padding: 10px 10px 0; margin: 0; font-size: 12px; line-height: 16px; text-align: center; }
.sticky { }
.bypostauthor > .comment-body { background: #F0F0F0; }
.column { float: left; }
.onecol { width: 100%; }
.twocol { width: 95%; }
.threecol { width: 33.3%; }
.fourcol { width: 25%; }
.twelvecol { width: 8.33%; }
.twothirdcol { width: 66.7%; }
.threefourthcol { width: 75%; }
#wrapper { position: relative; max-width: 974px; min-width: 974px; margin: 0 auto auto; background: #f8f8f8; overflow: hidden; }
.page-template-template-no-sidebars-php #wrapper, .page-template-template-blog-no-sidebars-php #wrapper, .page-template-template-portfolio-no-sidebars-php #wrapper { max-width: 760px; }
#header { background-color: #000; }
#site-title a, #site-description { color: #333; }
#site-title, #site-description { margin: 0; padding: 0; font-weight: 300; float: left; line-height: 40px; }
#site-title { margin: 0 3.4%; padding: 0; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 32px; letter-spacing: 1px; }
#site-title img { margin: 10px 0px 10px 0px; vertical-align: middle; }
#site-description { margin-left: 20px; font-size: 12px; font-weight: normal; }
#sidebar-header { float: right; width: 728px; height: 90px; margin: 30px 3.4% 0 0; overflow: hidden; }
.page-template-template-no-sidebars-php #sidebar-header { width: 468px; height: 60px; margin-top: 20px; }
#sidebar-header .widget { margin: 0; }
#sidebar-header .widget-title { margin-top: 0; }
#sidebar-header img { display: block; margin: 0; }
#header #searchform { float: right; margin: 4px 0.2% 0px 3px; background-color: #fff; }
#header #sidebar-header #searchform { margin-top: 30px; }
#header input#s { width: 0; height: 9px; padding: 6px 6px; margin-right: 0; background: #fff url(/static/corel/wp-content/uploads/2015/03/search2.png) right center no-repeat; background: #fff url(/static/corel/wp-content/uploads/2015/03/search2.png) right center no-repeat; border: none; box-shadow: none; color: #000; font-size: 11px; font-family: Tahoma, Arial, Helvetica, sans-serif; text-indent: 16px; }
#header input#s:focus { width: 168px; background: #ffffff url(/static/corel/wp-content/uploads/2015/03/search2.png) right center no-repeat; color: #000; text-indent: 0; }
.widget-area #s { padding: 3%; margin: 0; width: 94%; }
#sidebar-left #s, #sidebar-right #s { max-width: 88%; width: auto; padding: 6%; }
input#searchsubmit { display: none; width: 30px; padding: 2px; margin-right: 10px; background: #a8a8a8; border: #999 1px solid; color: #000; text-align: center; }
#social-media-icons { float: right; margin-top: 60px; }
a.social-media-icon { display: inline-block; width: 32px; height: 32px; margin-right: 6px; background-position: 0 0; overflow: hidden; text-indent: -1000px; -moz-transition: background-position .25s ease; -webkit-transition: background-position .25s ease; -o-transition: background-position .25s ease; -ms-transition: background-position .25s ease; transition: background-position .25s ease; }
a.social-media-icon:hover { background-position: 0 -32px; }
.facebook { background-image: url(images/facebook.png); }
.twitter { background-image: url(images/twitter.png); }
.pinterest { background-image: url(images/pinterest.png); }
.flickr { background-image: url(images/flickr.png); }
.vimeo { background-image: url(images/vimeo.png); }
.youtube { background-image: url(images/youtube.png); }
.google-plus { background-image: url(images/google-plus.png); }
.dribble { background-image: url(images/dribble.png); }
.linkedin { background-image: url(images/linkedin.png); }
#header-image { display: block; max-width: 99.1%; padding: 0.45%; margin-bottom: 1.76%; box-shadow: 0 0 3px #fff; background: #fff; }
#access { padding: 0 20px; background: #000; box-shadow: 0 0 7px rgba(0, 0, 0, .1); }
#access ul { float: left; padding: 0; margin: 0; list-style: none; font-weight: 400; }
#access li { position: relative; float: left; padding: 0; margin: 0; font-size: 14px; }
#access ul li:first-child { padding-left: 0; }
#access a { display: block; padding: 5px 15px; color: #f0f0f0; text-decoration: none; }
#access a:hover { background-color: #fff; }
#access li.current_page_item > a, #access li.current-menu-item > a { background: #ffffff; color: #494d56; text-decoration: none; }
#access li.current-menu-item > a:hover { background: #fff; color: #000; }
#access a span { color: #000; font-weight: 800; padding-left: -10px; margin-left: -10px; }
.drop-down-toggle { display: none; position: absolute; top: 7px; right: 16px; width: 20px; height: 20px; background: #000; border: #eee 3px solid; border-radius: 15px; }
.drop-down-arrow { display: block; width: 0; height: 0; margin: 8px 0 0 5px; border-top: 5px solid #eee; border-left: transparent 5px solid; border-right: transparent 5px solid; }
#access li li { font-size: 12px; float: none; min-width: 250px; padding: 0; margin: 0; background: #333; border-top: none; border-bottom: none; }
#access li li a { min-width: 50px; padding: 4px 0px 2px 20px; margin: 0; color: #000; background: #fff; font-size: 13px; line-height: 13px; text-align: left; overflow: hidden; }
#access li li:first-child > a { border-top: none; }
#access li li:last-child > a { border-bottom: none; }
#access li li a:hover { background: #cccccc; }
#access li ul { display: none; position: absolute; z-index: 9999; min-width: 50px; height: auto; padding: 0; margin: 0; box-shadow: 0px 7px 10px #888787; font-weight: normal; text-transform: none; }
#access li ul ul { margin: -19px 0 0 250px !important; min-width: 300px; }
#access li:hover > ul, #access li li:hover > ul, #access li li li:hover > ul { display: block; }
#access .nav-show, #access .nav-hide { display: none; }
.page-template-template-no-sidebars-php #container { margin: 2.4%; }
#slider { position: relative; }
#slider a:active { outline: none; }
.slides, .flex-control-nav { margin: 0; padding: 0; list-style: none; }
.slides { width: 100%; overflow: hidden; }
#slider .slides > li { display: none; position: relative; margin: 0; }
#slider .slides li:first-child { display: list-item; }
.flex-pauseplay span { text-transform: capitalize; }
.slides:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.flex-control-nav { position: absolute; right: 0; bottom: 4%; width: 100%; list-style: none; text-align: center; }
.flex-control-nav li { display: inline-block; margin: 0 0 0 15px; }
.flex-control-nav li:first-child { margin: 0; }
.flex-control-nav li a { display: block; width: 10px; height: 10px; cursor: pointer; background: rgba(255, 255, 255, .4); border-radius: 24px; color: #333; font-weight: 600; line-height: 24px; text-indent: -48px; overflow: hidden; }
.flex-control-nav li a.flex-active, .flex-control-nav li a:hover { background: rgba(255, 255, 255, .8); }
.flex-direction-nav, .flex-pauseplay { position: absolute; right: 43px; bottom: 8%; width: 100px; margin: 0; list-style: none; font-size: 18px; font-weight: 600; z-index: 2; }
.flex-pauseplay { right: 30px; width: 26px; font-size: 15px; }
.flex-pause { font-family: Tahoma, Arial, Helvetica, sans-serif; }
.flex-direction-nav li, .flex-pauseplay a { float: left; margin: 0 5px; background: rgba(0, 0, 0, .15); border-radius: 4px; }
.flex-direction-nav a, .flex-pauseplay a { display: inline-block; width: 18px; padding: 4px 8px; color: #fff; opacity: .8; text-align: center; cursor: pointer; }
.flex-direction-nav a:hover, .flex-pauseplay a { opacity: 1; }
#slider .hentry { margin: 0; box-shadow: none; background: none; border: none; color: #fff; text-align: right; }
#slider .wp-post-image, #slider .entry-attachment { position: relative; top: 0; left: 0; width: 100%; }
#slider .entry-attachment { z-index: 1; }
#slider ul li:first-child .entry-container { display: block; }
#slider .entry-title { display: none; position: absolute; top: 32%; right: 0; z-index: 1; float: right; float: right; margin: 0; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 36px; line-height: 1.62em; }
#slider li:first-child .entry-title { display: block; }
#slider .entry-title a { display: block; padding: 10px 20px; background: rgba(0, 0, 0, .15); color: #fff; }
#slider .entry-summary { clear: both; float: right; max-width: 61.8%; min-width: 324px; padding: 10px 20px; background: rgba(0, 0, 0, .15); }
#slider .entry-summary .entry-attachment { position: static; max-width: 100%; height: auto; padding: 0; background: none; }
#slider .entry-attachment, #slider .entry-attachment p { margin-bottom: 0; }
#current-location, #sidebar-wide, #sidebar-footer-wide { padding: 20px 3.1%; background: #eee; border-bottom: #e0e0e0 1px solid; border-bottom: rgba(0, 0, 0, .055) 1px solid; font-weight: 300; }
#sidebar-wide, #sidebar-footer-wide { text-align: center; }
#current-location { padding-top: 12px; }
#current-location .prefix-text { margin: 12px 0 0; color: #999; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 300; line-height: 1.62em; text-transform: uppercase; }
.category-description { margin-top: 4px; color: #999; }
.category-description p { margin: 0; }
.page-title, #sidebar-wide .widget-title, #sidebar-footer-wide .widget-title { margin: 0; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 32px; font-style: italic; font-weight: 300; letter-spacing: normal; }
#sidebar-wide .widget, #sidebar-footer-wide .widget { margin: 0; }
#sidebar-boxes { padding: 1.6%; }
#container { margin: 0; }
.page-template-template-no-sidebars-php #content, .page-template-template-blog-no-sidebars-php #content, .page-template-template-portfolio-no-sidebars-php #content { width: 100%; }
.content-sidebar-wrap { float: left; width: 85.15%; }
.category-filter a { display: inline-block; padding: 1% 2%; margin-left: 2%; background: #fff; border-bottom: #eee 1px solid; border-radius: 4px; font-weight: 300; }
.category-filter a:first-child { margin: 0; }
.category-filter a:hover { background: #fcfcfc; }
.single #content .hentry, .page #content .hentry { box-shadow: none; background: none; border: none; }
.page-template-template-sidebar-content-php #content, .page-template-template-sidebar-content-half-php #content, .page-template-template-blog-left-sidebar-php #content, .page-template-template-portfolio-left-sidebar-php #content { float: right; }
.page-template-template-content-sidebar-php #content { float: left; }
.page-template-template-sidebar-content-sidebar-php .content-sidebar-wrap #content { float: right; width: 80.5%; }
.entry { background: #fff; }
#comments, #respond { margin: 2%; background: #fff; }
.onecol .hentry .entry, .onecol .hentry #comments, .onecol .hentry #respond, .category-filter { margin: 0; }
.onecol .twocol .entry { margin: 3.4%; }
.twocol .entry, .onecol .threecol .entry, #sidebar-boxes .widget, .threecol .widget { margin: 5%; }
.threefourthcol .threecol .entry, .onecol .fourcol .entry, .fourcol .widget { margin: 1.5%; }
.twocol .onecol .entry, .twocol .onecol #comments, .twocol .onecol #respond, .twocol .widget { margin: 3.4%; }
.single .entry, .page .entry, .error404 .entry { padding: 0px; margin-bottom: 5.1% !important; }
.page-template-template-blog-php.page .entry, .page-template-template-blog-full-width-php.page .entry, .page-template-template-blog-four-col-php.page .entry, .page-template-template-blog-left-sidebar-php.page .entry, .page-template-template-blog-no-sidebars-php.page .entry, .page-template-template-portfolio-php.page .entry, .page-template-template-portfolio-right-sidebar-php.page .entry, .page-template-template-portfolio-four-col-php.page .entry, .page-template-template-portfolio-left-sidebar-php.page .entry, .page-template-template-portfolio-no-sidebars-php.page .entry { padding: 0; }
.page-template-template-no-sidebars-php .onecol .hentry .entry { margin: 2.5%; }
.wp-post-image { display: block; width: 100%; }
.page-template-template-full-width-php .hentry.onecol .wp-post-image, .page-template-template-full-width-php .hentry.onecol .entry-attachment, .page-template-template-full-width-php .hentry.onecol .post-gallery { float: right; max-width: 69.5%; margin-bottom: 2.9%; }
.page-template-template-full-width-php .hentry.onecol .entry-attachment, .page-template-template-full-width-php .hentry.onecol .post-gallery { width: 69.5%; }
.format-status .avatar { display: block; float: left; margin-right: 20px; }
.format-image figure img { width: 100%; }
.format-audio object { height: 24px; }
.twocol .entry-attachment p { margin-bottom: 6px; }
.entry-container { padding: 2.9%; margin: 0; }
.twocol .entry-container { padding: 5.8%; }
.threecol .entry-container { padding: 6.1%; }
.fourcol .entry-container { padding: 8.5%; }
.page-template-template-portfolio-php .post.onecol .entry-header { float: left; width: 27.6%; }
.page-template-template-portfolio-php .post.onecol .entry-summary { float: right; width: 69.5%; }
.page-template-template-portfolio-php .post.onecol .wp-post-image, .page-template-template-portfolio-php .post.onecol .entry-attachment, .page-template-template-portfolio-php .post.onecol .post-gallery { float: right; max-width: 69.5%; }
.page-template-template-portfolio-php .post.onecol .entry-attachment, .page-template-template-portfolio-php .post.onecol .post-gallery { width: 69.5%; }
.page-template-template-portfolio-right-sidebar-php .twocol .entry-title, .page-template-template-portfolio-left-sidebar-php .twocol .entry-title, .page-template-template-portfolio-php .threecol .entry-title, .page-template-template-portfolio-four-col-php .fourcol .entry-title, .page-template-template-portfolio-no-sidebars-php .twocol .entry-title { margin: 0; text-align: center; }
.entry-title, #comments-title, #reply-title { font-family: Tahoma, Arial, Helvetica, sans-serif; font-weight: 300; letter-spacing: 1px; overflow: hidden; }
.page-template-template-full-width-php .hentry.onecol .entry-header, .page-template-template-blog-full-width-php .hentry.onecol .entry-header, .page-template-template-blog-four-col-php .hentry.onecol .entry-header { float: left; width: 27.6%; }
.single.page-template-template-full-width-php .hentry.onecol .entry-header, .page.page-template-template-full-width-php .hentry.onecol .entry-header, .error404.page-template-template-full-width-php .hentry.onecol .entry-header { float: none; width: auto; }
.page-template-template-full-width-php .hentry.onecol .entry-summary, .page-template-template-blog-full-width-php .hentry.onecol .entry-summary, .page-template-template-blog-four-col-php .hentry.onecol .entry-summary, .page-template-template-full-width-php .hentry.onecol .entry-thumbnail, .page-template-template-blog-full-width-php .hentry.onecol .entry-thumbnail, .page-template-template-blog-four-col-php .hentry.onecol .entry-thumbnail { float: right; width: 69.5%; }
.page-template-template-full-width-php .hentry.onecol .entry-thumbnail, .page-template-template-blog-full-width-php .hentry.onecol .entry-thumbnail, .page-template-template-blog-four-col-php .hentry.onecol .entry-thumbnail { margin-bottom: 24px; }
.entry-title .page.page-template-template-blog-php .onecol .entry-title, .page.page-template-template-portfolio-php .onecol .entry-title { font-size: 28px; line-height: 1.62em; }
.single .entry-title, .page .entry-title, .error404 .entry-title { margin: 0 0 18px 0; font-size: 36px; line-height: 1.62em; }
.twocol .entry-title, .threecol .entry-title, .page-template-template-blog-php .twocol .entry-title, .page-template-template-blog-php .threecol .entry-title, .page-template-template-portfolio-php .twocol .entry-title, .page-template-template-portfolio-php .threecol .entry-title { font-size: 24px; line-height: 1.62em; }
.fourcol .entry-title, .page-template-template-blog-php .fourcol .entry-title, .page-template-template-portfolio-php .fourcol .entry-title { font-size: 18px; line-height: 1.62em; }
.page .entry-title, .error404 .entry-title { margin-bottom: 24px; }
.entry-title a { color: #333; }
.entry-title a:hover { color: #21759B; }
.format-link .entry-title a:after { content: "\2192"; padding-left: 8px; }
.entry-meta { padding: 1.5% 2.9%; background: #FCFCFC; border-top: #F3F3F3 1px solid; border-top: rgba(0, 0, 0, .035) 1px solid; color: #CCC; font-size: 12px; font-weight: 300; }
.entry-header .entry-meta { padding: 0; background: none; border: none; }
.single .entry-meta { padding: 1.5% 2.4%; margin-bottom: 24px; background: none; border-top: #F4F4F4 1px solid; border-bottom: #F4F4F4 1px solid; }
.entry-meta span { padding-left: 24px; margin-left: 32px; }
.entry-header .entry-meta span { display: block; float: none; padding: 6px 0 6px 24px; margin: 0; }
.single .entry-meta span { display: inline; padding: 0 0 0 24px; margin-left: 32px; }
.entry-meta span.custom-meta, .single .entry-meta span.custom-meta { padding-left: 0; background: none; color: #999; }
.custom-meta.entry-category { font-weight: normal; text-transform: uppercase; }
.entry-meta span:first-child, .single .entry-meta span:first-child, .page .entry-meta span:first-child { margin: 0; }
.entry-meta a { color: #7597B9; }
.entry-meta a:hover { text-decoration: underline; }
.entry-summary .entry-attachment { margin-bottom: 18px; }
.entry-author-link { background: url(images/user.png) left center no-repeat; }
.entry-date { background: url(images/time.png) left center no-repeat; }
.entry-category { background: url(images/ribbon.png) left center no-repeat; }
.attachment-size { background: url(images/image.png) left center no-repeat; }
.edit-link { background: url(images/edit.png) left center no-repeat; }
.entry-permalink { float: right; margin: 0; background: url(images/link.png) left center no-repeat; }
.entry-summary p { margin: 0; }
.format-aside .entry-summary p, .format-status .entry-summary p, .format-quote .entry-summary p { margin-bottom: 6px; }
.onecol .onecol .entry-summary, .entry-content { font-size: 15px; line-height: 1.62em; }
.format-chat .entry-content { margin-bottom: 2.9%; }
.single-format-chat .entry-content { margin-bottom: 24px; }
.format-chat .entry-content p, .format-chat .entry-summary p { padding: 2px 2.9%; margin: 0; }
.twocol.format-chat .entry-content p, .twocol.format-chat .entry-summary p { padding: 2px 5.8%; }
.threecol.format-chat .entry-content p, .threecol.format-chat .entry-summary p { padding: 2px 6.1%; }
.format-chat .entry-content p:nth-child(odd), .format-chat .entry-summary p:nth-child(odd) { background: #f9f9f9; font-weight: 600; }
.single .format-chat .entry-content p:last-child .single .format-chat .entry-summary p:last-child { margin-bottom: 24px; }
.entry-content .entry-attachment { margin-bottom: 24px; }
.entry-attachment p { margin: 0; }
.post-gallery-item img { display: block; float: left; }
.attachment-gallery-1-thumb { max-width: 61.714288%; }
.attachment-gallery-2-thumb, .attachment-gallery-3-thumb { max-width: 38.285712%; }
.entry-attachment img { display: block; margin: 0 auto 18px; }
.button { display: inline-block; padding: 5px 18px; border-radius: 100px; box-shadow: 0 0 5px rgba(0, 0, 0, .1); color: #fff; margin: 5px; }
a.button:hover { color: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, .2); }
.button-big { padding: 10px 24px; font-size: 18px; }
.button-blue { background: #30AEE7; background: -webkit-linear-gradient(#30AEE7, #247FA8); border-bottom: 1px solid #14455B; }
.button-blue:hover { background: -webkit-linear-gradient(#247FA8, #30AEE7); }
.button-yellow { background: #F4F434; background: -webkit-linear-gradient(#F4F434, #DADA2F); border-bottom: 1px solid #686817; }
.button-yellow:hover { background: -webkit-linear-gradient(#DADA2F, #F4F434); }
.button-olive { background: #E7AE31; background: -webkit-linear-gradient(#E7AE31, #A87F24); border-bottom: 1px solid #5B4514; }
.button-olive:hover { background: -webkit-linear-gradient(#A87F24, #E7AE31); }
.button-purple { background: #E731AE; background: -webkit-linear-gradient(#E731AE, #A8247F); border-bottom: 1px solid #5B1445; }
.button-purple:hover { background: -webkit-linear-gradient(#A8247F, #E731AE); }
.button-red { background: #E73131; background: -webkit-linear-gradient(#E73131, #A82424); border-bottom: 1px solid #5B1445; }
.button-red:hover { background: -webkit-linear-gradient(#A82424, #E73131); }
.button-green { background: #31E731; background: -webkit-linear-gradient(#31E731, #24A824); border-bottom: 1px solid #5B1445; }
.button-green:hover { background: -webkit-linear-gradient(#24A824, #31E731); }
.button-orange { background: #FF6103; background: -webkit-linear-gradient(#FF6103, #E55703); border-bottom: 1px solid #5B1445; }
.button-orange:hover { background: -webkit-linear-gradient(#E55703, #FF6103); }
.notice { padding: 12px; margin-bottom: 24px; border-radius: 4px; box-shadow: 0 0 5px rgba(0, 0, 0, .1); }
.info { background: #CEFFCE; border-bottom: 1px solid #9ABF9A; }
.warning { background: #FFFFCE; border-bottom: 1px solid #BFBF9A; }
.error { background: #FFCECE; border-bottom: 1px solid #BF9A9A; }
.dropcap:first-letter { display: inline-block; float: left; min-width: 42px; padding: 20px 10px; border-radius: 4px; font-size: 48px; font-weight: 600; text-align: center; }
.dropcap-blue:first-letter { color: #30AEE7; }
.dropcap-yellow:first-letter { color: #F4F434; }
.dropcap-olive:first-letter { color: #E7AE31; }
.dropcap-purple:first-letter { color: #E731AE; }
.dropcap-red:first-letter { color: #E73131; }
.dropcap-green:first-letter { color: #31E731; }
.dropcap-orange:first-letter { color: #FF6103; }
.dropcap-grey:first-letter { margin-right: 10px; background: #eee; }
.dropcap-black:first-letter { margin-right: 10px; background: #333; color: #ddd; }
.dropcap-circle:first-letter { border-radius: 60px; }
.columns .column { margin-left: 3%; }
.columns .column:first-child { margin: 0; }
.columns .twocol { width: 48.5%; }
.columns .threecol { width: 31.3%; }
.columns .fourcol { width: 22.75%; }
.columns .twothirdcol { width: 65.7%; }
.columns .threefourthcol { width: 74.5%; }
.column .threecol.box { width: 25.3%; padding: 3%; margin-bottom: 24px; background: #f8f8f8; border-bottom: #ddd 1px solid; box-shadow: 0 0px 5px rgba(0, 0, 0, .15); }
.column .threecol.box p { margin: 0; }
.entry-utility { padding-top: 20px; border-top: #eee 1px solid; }
.post-pagination { margin-bottom: 12px; }
#attachment-nav { padding-bottom: 12px; margin-bottom: 18px; border-bottom: #EEE 1px solid; }
#attachment-nav a img { display: block; max-width: 50%; }
#attachment-nav .nav-previous img { float: left; padding: 5px; }
#attachment-nav .nav-next img { float: right; padding: 5px; }
.entry-tags { margin: -8px -8px 16px; }
.entry-tags a { position: relative; display: inline-block; padding: 1px 4px 1px 16px; margin: 8px; background: #F8F8F8; background: -moz-linear-gradient(#F8F8F8, #F3F3F3); background: -webkit-linear-gradient(#F9F9F9, #F3F3F3); background: -o-linear-gradient(#F8F8F8, #F3F3F3); background: -ms-linear-gradient(#F8F8F8, #F3F3F3); background: linear-gradient(#F8F8F8, #F3F3F3); border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, .2); color: #333; font-size: 12px; }
.entry-tags a:before { content: ""; position: absolute; top: 8px; left: 6px; width: 6px; height: 6px; background: #fff; border-radius: 3px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2); }
.entry-tags a:hover { top: -3px; -moz-transition: top .1s ease; -webkit-transition: top .1s ease; -o-transition: top .1s ease; -ms-transition: top .1s ease; transition: top .1s ease; }
.social-bookmarks { margin-bottom: 20px; font-size: 12px; font-weight: 600; }
.social-bookmarks p { margin-bottom: 12px; }
.facebook-like, .twitter-button, .google-plusone, .pinterest-button { float: left; }
.facebook-like { width: 110px; }
.fb_edge_comment_widget { width: 401px; }
.entry-author { padding: 20px; margin-bottom: 20px; background: #FCFCFC; border-bottom: #EEE 1px solid; box-shadow: 0 0 5px rgba(0, 0, 0, .1); font-size: 13px; line-height: 1.62em; }
.entry-author .avatar { float: left; padding: 5px; border-bottom: #DDD 1px solid; background: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, .1); }
.entry-author .author { margin-bottom: 10px; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 15px; letter-spacing: normal; }
.entry-author .author, .author-bio, .entry-author .author-meta { margin-left: 126px; }
.author-bio { margin-bottom: 10px; }
.entry-author .author-website, .entry-author .author-twitter { float: left; width: 50%; text-align: center; }
.nocomments { margin: 0; color: #999; font-size: 18px; line-height: 1.62em; text-align: center; }
#comments { background: none; border: none; box-shadow: none; }
#comments-title, #reply-title { margin-bottom: 18px; font-size: 24px; line-height: 1.62em; }
#comments-title { margin: 35px 0; }
.navigation { margin: 35px 0; }
.commentlist { margin: 0 0 20px 0; list-style: none; }
.commentlist .children { margin: 20px 0 0 40px; list-style: none; }
.comment { margin: 0; }
.comment-body { padding: 20px; margin-bottom: 35px; box-shadow: 0 0 5px rgba(0, 0, 0, .1); background: #fff; border-bottom: #DDD 1px solid; overflow: hidden; }
.commentlist .comment:first-child .comment-body { margin-top: 0; }
.comment .avatar { float: right; padding: 5px; margin: 0 0 20px 20px; background: #fff; border-bottom: #DDD 1px solid; box-shadow: 0 0 5px rgba(0, 0, 0, .1); }
.comment .fn { font-size: 15px; font-style: normal; font-weight: 600; line-height: 1.62em; }
.comment-meta { margin-bottom: 18px; font-size: 12px; }
a.comment-reply-link { padding: 4px 15px; border-radius: 15px; box-shadow: 0 0 5px rgba(0, 0, 0, .1); background: #F8F8F8; background: -moz-linear-gradient(#FCFCFC, #F3F3F3); background: -webkit-linear-gradient(#FCFCFC, #F3F3F3); background: -o-linear-gradient(#FCFCFC, #F3F3F3); background: -ms-linear-gradient(#FCFCFC, #F3F3F3); background: linear-gradient(#FCFCFC, #F3F3F3); border-bottom: #DDD 1px solid; color: #333; text-decoration: none; }
a.comment-reply-link:hover { box-shadow: #CCC 0 0 5px; }
a.comment-reply-link:focus { box-shadow: 0 0 5px rgba(0, 0, 0, .4); background: -moz-linear-gradient(#F3F3F3, #FCFCFC); background: -webkit-linear-gradient(#F3F3F3, #FCFCFC); background: -o-linear-gradient(#F3F3F3, #FCFCFC); background: -ms-linear-gradient(#F3F3F3, #FCFCFC); background: linear-gradient(#F3F3F3, #FCFCFC); }
#respond { width: auto; padding: 20px; margin-bottom: 5.1%; }
.commentlist #respond { margin: 0 0 5.1% 0; }
.comment-notes, .form-allowed-tags { color: #aaa; font-size: 12px; line-height: 16px; }
.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment { position: relative; }
.comment-form-author label, .comment-form-email label, .comment-form-url label, .comment-form-comment label { display: inline-block; position: absolute; top: 1px; left: 1px; z-index: 1; width: 60px; padding: 0 10px; color: #444; line-height: 36px; }
.comment-form-author .required, .comment-form-email .required, .comment-form-url .required, .comment-form-comment .required { position: absolute; top: 1px; right: 1.5%; z-index: 2; color: #FF0000; font-size: 24px; line-height: 44px; }
#author, #email, #url, #comment { position: relative; width: 97%; text-indent: 80px; }
input#author:focus, input#email:focus, input#url:focus, textarea#comment:focus { position: relative; z-index: 1; text-indent: 0; }
#comment { font-size: 15px; }
.form-allowed-tags code { padding: 0; background: none; box-shadow: none; }
#infscr-loading { text-align: center; }
#infscr-loading img { margin-right: 10px; vertical-align: middle; }
#infscr-loading div { display: inline; }
#post-nav, #posts-nav { clear: both; margin: 0; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 16px; font-weight: 300; letter-spacing: 1px; }
#posts-nav { position: relative; padding: 2.9%; margin: 2.46%; box-shadow: 0 0 5px rgba(0, 0, 0, .1); background: #fff; border-bottom: #DDD 1px solid; border-bottom: rgba(0, 0, 0, .13) 1px solid; }
.onecol #posts-nav { padding: 1.95%; margin: 1.7%; }
.nav-prev, .nav-previous { float: left; width: 50%; }
.nav-next { float: right; width: 50%; text-align: right; }
.ajax-load { position: absolute; top: 0; left: 0; width: 100%; background: #fff; line-height: 42px; text-align: center; }
a.ajax-load:hover { background: #fcfcfc; }
.page-numbers { padding: 0 4px; }
.page-numbers.prev { padding-left: 0; }
.page-numbers.next { padding-right: 0; }
#sidebar { color: #ccc; }
#sidebar-left .widget, #sidebar-right .widget { margin: 10% 0% 10% 4%; }
.page-template-template-content-sidebar-half-php #sidebar-left .widget, .page-template-template-content-sidebar-half-php #sidebar-right .widget, .page-template-template-sidebar-content-half-php #sidebar-left .widget, .page-template-template-sidebar-content-half-php #sidebar-right .widget { margin: 6.55%; }
.widget-area { font-weight: 300; }
.page-template-template-sidebar-content-php #sidebar, .page-template-template-sidebar-content-half-php #sidebar, .page-template-template-blog-left-sidebar-php #sidebar, .page-template-template-portfolio-left-sidebar-php #sidebar { float: left; }
.page-template-template-content-sidebar-php #sidebar { float: right; }
.page-template-template-sidebar-content-sidebar-php #sidebar-left { width: 17.4%; }
.page-template-template-sidebar-content-sidebar-php #sidebar-right { width: 12.75%; }
.widget-title { margin: 0; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 300; letter-spacing: 1px; }
#sidebar-boxes .widget-title { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: 600; text-transform: uppercase; }
.widget-area ul { margin: 0; list-style: none; overflow: hidden; }
.widget-area li { padding: 7px 0; margin: 0; border-bottom: #EEE 1px solid; rborder-bottom: rgba(0, 0, 0, .036) 1px solid; line-height: 1.62em; }
.widget-area li li { border-bottom: none; }
.widget-area li ul { margin-left: 11px; }
.widget-area a { color: #7597B9; }
.widget-area a:hover { color: #494d56; }
#sidebar-footer-wide { margin-top: 2.1%; border: none; border-top: #e0e0e0 1px solid; }
#footer { clear: both; border-top: #333 1px solid; border-top: rgba(0, 0, 0, .79) 1px solid; }
#footer-area { position: relative; z-index: 1; padding: 1.6%; background: #222; border-top: #555 1px solid; border-top: rgba(255, 255, 255, .235) 1px solid; box-shadow: none; color: #CCC; float: left; width: 96.8%; }
#footer-area .widget-title { color: #e0e0e0; font-size: 18px; }
#footer-area li { border-bottom: #2C2C2C 1px solid; border-bottom: rgba(255, 255, 255, .05) 1px solid; }
.tagcloud { margin: 0 -8px 16px; }
.tagcloud a { position: relative; display: inline-block; padding: 1px 6px 1px 18px; margin: 8px; background: #fff; background: -moz-linear-gradient(#fff, #fcfcfc); background: -webkit-linear-gradient(#fff, #fcfcfc); background: -o-linear-gradient(#fff, #fcfcfc); background: -ms-linear-gradient(#fff, #fcfcfc); background: linear-gradient(#fff, #fcfcfc); border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, .2); color: #333; font-size: 12px !important; }
.tagcloud a:before { content: ""; position: absolute; top: 8px; left: 6px; width: 6px; height: 6px; background: #F8F8F8; border-radius: 3px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2); }
.tagcloud a:hover { top: -3px; color: #333; -moz-transition: top .1s ease; -webkit-transition: top .1s ease; -o-transition: top .1s ease; -ms-transition: top .1s ease; transition: top .1s ease; }
#footer-area .tagcloud a { background: #444; background: -moz-linear-gradient(#444, #333); background: -webkit-linear-gradient(#444, #333); background: -o-linear-gradient(#444, #333); background: -ms-linear-gradient(#444, #333); background: linear-gradient(#444, #333); border-radius: 4px; box-shadow: 0 1px 1px rgba(255, 255, 255, .2); color: #CCC; }
#footer-area .tagcloud a:before { background: #222; }
#footer-area .tagcloud a:hover { color: #CCC; }
#copyright { clear: both; padding: 0 2%; color: #7e828c; height: 25px; font-size: 11px; }
.copyright { float: left; }
.credits { float: right; margin-right: 12px; text-align: right; }
#copyright p { margin: 0; }
#copyright a { color: #7597B9; text-decoration: none; }
#copyright a:hover { text-decoration: underline; }
#badges { clear: both; padding: 1.4% 0.2% 1.4% 3.2%; background: #eef2fd; border-top: #d7d7d7 1px solid; color: #CCC; font-weight: 300; }
.badges { float: left; }
#badges p { margin: 0; }
#badges a { color: #7597B9; text-decoration: none; }
#badges a:hover { text-decoration: underline; }
.masonry, .masonry .masonry-brick { -webkit-transition-duration: 0.7s; -moz-transition-duration: 0.7s; -ms-transition-duration: 0.7s; -o-transition-duration: 0.7s; transition-duration: 0.7s; }
.masonry { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.masonry .masonry-brick { -webkit-transition-property: left, right, top; -moz-transition-property: left, right, top; -ms-transition-property: left, right, top; -o-transition-property: left, right, top; transition-property: left, right, top; }
.phone-holder { text-align: right; font-size: 11px; padding: 0; clear: right; padding-top: 14px; padding-right: 22px; }
.phone-holder:after { content: ""; display: block; clear: both; }
.phone-holder .number { color: #00cc4d; font-weight: bold; font-size: 14px; display: block; }
.phone-holder span.orderByPhone { float: right; color: #a3a8b2; font-size: 11px !important; font-family: Tahoma, Arial, Helvetica, sans-serif !important; padding: 0; font-weight: normal; line-height: 16px; text-align: left; }
body.volume-licensing .phone-holder { display:none }
.clock-holder { width: 35px; height: 35px; float: right; position: relative; z-index: 99; }
.clock-holder .clock { background: url(/static/corel/img/v2/clockDefault.png) no-repeat; width: 35px; height: 35px; text-indent: 9999px; overflow: hidden; display: block; }
.clock-holder .clock:hover, .phone-holder .active .clock { background: url(/static/corel/img/v2/clockHover.png) no-repeat; }
.clock-popup { width: 205px; height: 48px; position: absolute; top: 17px; left: -152px; z-index: 10; text-align: left; display: none; background: url(/static/corel/img/v2/none.gif); }
.clock-popup .t { background: url(/static/corel/img/v2/bg-popup2.png) no-repeat; width: 205px; height: 54px; overflow: hidden; }
.clock-popup .b { background: url(/static/corel/img/v2/bg-popup2-b.png) no-repeat; width: 205px; height: 28px; overflow: hidden; }
.clock-popup .c { background: url(/static/corel/img/v2/bg-popup2-c.png) repeat-y; width: 100%; }
.clock-popup .popup-frame { float: left; width: 175px; padding: 32px 0px 20px 27px; position: relative; margin: -54px 0 -28px; }
.clock-popup .c:after { content: ""; display: block; clear: both; }
.clock-popup strong { float: none; padding: 0; color: #fff; text-align: left; font-size: 11px; display: block; line-height: 16px; }
.phone-holder .clock-holder.hover .clock-popup, .phone-holder .clock-holder:hover .clock-popup, .phone-holder .active .clock-popup { display: block; }
#chat-section { isplay: block; position: fixed; top: 20px; right: 0px; }
.contact-options { position: fixed; right: 0; top: 120px; z-index: 100; }
.contact-options ul { margin: 0; padding: 0; list-style: none; }
.contact-options li { display: block; width: 38px; height: 38px; margin-bottom: 1px; background-color: #3d8fcd; background-position: center center; background-repeat: no-repeat; }
.contact-options li:hover { background-color: #2e6b99; }
.contact-options li.chat { background-image: url("/desktop/img/chat.png"); background-color: transparent; width: 118px; height: 144px; }
.contact-options a { display: block; height: 100%; text-indent: 100%; overflow: hidden; white-space: nowrap; }
/******* All Products Page classes start *******/

.allProductsMainContainer { width: 974px; background: none repeat scroll 0 0 #FFFFFF; clear: both; }
.allProductsMenuNav { width: 100%; padding-top: 20px; padding-bottom: 0px; padding-left: 17px; }
.allProductsContentHolder { width: 100%; padding-top: 33px; overflow: hidden; padding-bottom: 50px; }
/* Only wish to have drop down arrow on the "All Products" category. The rest no drop down arrow. [id^=allProducts_category_]*/
.allProductsMenuNav .subnav li.active { background: none; }
.allProductsMenuNav .subnav li.active { background: url(/static/corel/img/v2/arrow-tabs.gif) no-repeat 50% 100%; }
.allProductsMenuNav .subnav { margin-left: 0px }
.allProductsRow { width: 100%; padding-top: 0px; overflow: hidden; padding-bottom: 25px; }
.allProductsColumn { float: left; width: 220px; padding-left: 20px; }
.allProductsColCatImage { height: 39px; }
.allProductsColCatTitle { padding-top: 10px; padding-bottom: 7px; border-bottom: 1px solid #CCCCCC; height: 45px; overflow: hidden; border-collapse: collapse; position: relative; }
.allProductsColCatLink { color: #000000; font: 18px/20px Tahoma, Arial, Helvetica, sans-serif; position: absolute; bottom: 10px; }
.allProductsColSubCatTitle { font: bold 12px/16px Tahoma, Arial, Helvetica, sans-serif; padding-top: 10px; }
.allProductsColSubCatTitle a { color: #000000; }
.allProductsColumn ul { padding-left: 0px; margin: 5px 0px 5px 0px; }
.allProductsColumn ul li { color: #009CFF; font: 12px/16px Tahoma, Arial, Helvetica, sans-serif; list-style: none outside none; padding-bottom: 6px; padding-left: 0; }
.subnav { margin: 0; padding: 0; padding-left: 0px; list-style: none; width: 98%; position: relative; z-index: 2; }
.subnav li { float: left; padding: 0 0 13px; margin: 0 0 -13px; position: relative; }
.subnav li.active { background: url(/static/corel/img/v2/arrow-tabs.gif) no-repeat 50% 100%; }
.subnav a { float: left; color: #373f4f; outline: none; background: url(/static/corel/img/v2/bg-tabs.gif) no-repeat 0 -79px; }
.subnav span { float: left; padding: 8px 22px 6px; cursor: pointer; background: url(/static/corel/img/v2/bg-tabs.gif) no-repeat 100% -122px; }
.subnav .active a, .subnav a:hover { text-decoration: none; color: #dcdcdc; background: url(/static/corel/img/v2/bg-tabs.gif) no-repeat; }
.subnav .active span, .subnav a:hover span { background: url(/static/corel/img/v2/bg-tabs.gif) no-repeat 100% -38px; }
.page-content { width: 100%; overflow: hidden; }
.section { width: 974px; overflow: hidden; border-bottom: solid 1px #eeeeee; padding: 13px 0 0; }
.item { margin: 0; padding: 0; width: 974px; overflow: hidden; background: url(/static/corel/images/bg-item.gif) repeat-y 100% 0; }
.item .area { float: left; width: 620px; padding: 30px 20px 10px; }
.internationalBody { float: left \9; display: none; height: 370px; width: 974px; overflow: hidden; background: transparent url(/static/common/images/internationalDD_bg.jpg) no-repeat 0 0; }
.internationalBody .internationalBody_heading { height: 64px; padding-left: 25px; }
.internationalBody .internationalBody_heading span { line-height: 64px; float: left; font-size: 24px; color: #FFFFFF; font-family: Tahoma, Arial, Helvetica, sans-serif; }
.internationalBody .internationalBody_content { padding-top: 34px; padding-left: 25px; overflow: hidden; }
.internationalBody .internationalBody_content div.column { padding: 0 0 0 0; width: 285px; }
.internationalBody .internationalBody_content ul { list-style: none outside none; margin: 0; padding: 0; }
.internationalBody .internationalBody_content div.column h6 { color: #c6cbd6; font-size: 14px; margin: 0 0 4px 0; font-weight: normal !important; line-height: 20px; }
.internationalBody .internationalBody_content div.column li { line-height: 16px; height: 16px; height: auto \9; }
.internationalBody .internationalBody_content div.column a { line-height: 16px; font-size: 11px; color: #009cff; }
.internationalBody .internationalBody_content div.column a:hover { color: #dbe0eb; }
/* Rollovers on MHEC Page */
.rollover16 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/contactus1.jpg); text-decoration: none; float: left; margin-left: 30px; margin-right: 15px; }
.rollover16 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/contactus2.jpg); text-decoration: none; float: left; margin-left: 30px; margin-right: 15px; }
.rollover17 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/press1.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover17 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/press2.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover18 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/program1.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover18 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/program2.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover19 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/price1.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover19 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/price2.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover20 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/adobe1.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover20 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/adobe2.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover21 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/faq1.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover21 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/faq2.jpg); text-decoration: none; float: left; margin-left: 20px; margin-right: 15px; }
.rollover22 a { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/reseller1.jpg); text-decoration: none; float: left; margin-left: 20px; }
.rollover22 a:hover { display : block; width : 92px; height : 79px; background-image: url(/static/corel/wp-content/uploads/2014/07/reseller2.jpg); text-decoration: none; float: left; margin-left: 20px; }
/* Product page related CSS */
.prSnippetNumberOfRatingsText { color: grey; }
.pr_snippet_product .pr-snippet-read-reviews { float: left !important; }
.pr_snippet_product .pr-snippet-write-review { float: right !important; }
.prSnippetTitle { padding: 0 0 5px 10px; }
.pr_snippet_product { width: 200px; border: outset; border-width: 2px; border-color: grey; font-size: 11px; border: 0px !important; }
.pr_snippet_product .prSnippetEngine div, .pr_snippet_product .prSnippetEngine div a { line-height: 12px; font-size: 11px !important; font-family: Tahoma, Arial, Helvetica, sans-serif !important; }
.pr_snippet_category { width: 100%; float: left; text-align: left; }
.pr_snippet_category .prSnippetNumberOfRatingsText { display: none; }
.pr_snippet_category .prSnippetRatingUnclickable .prStars { float: left; }
.pr-snippet-wrapper { background: none repeat scroll 0 0 transparent !important; border-width: 0 !important; }
.pr-snippet-wrapper p { margin-bottom: 0px; }
.pr_snippet_category .pr-snippet-review-count { display: none; clear: right; }
.pr-snippet-read-write .pr-snippet-read-reviews { border-right-width: 0; padding-left: 0; padding-right: 0; }
.pr-snippet-read-write .pr-snippet-write-review { border-right-width: 0; padding-left: 0; padding-right: 0; }
.galleryContent .pr-snippet .pr-snippet-wrapper .pr-snippet-stars div { position: static; }
.galleryContent .pr-snippet .pr-snippet-wrapper p { position: static; }
.pr-snippet-read-write { font-size: 100% !important; padding-top: 0px !important; padding-bottom: 0px !important; border-width: 0 !important; }
.pr-snippet-stars .pr-snippet-rating-decimal { color: #FFFFFF !important; }
.pr-snippet-stars { border-width: 0 !important; }
.pr_write_wrapper { padding: 10px 10px 10px 25px; background-color: white; }
#submitReviewIframe { height: 2108px; }
/* Special Offers Text */
#special_title { font-size: 11px; color: #009cff; font-weight: bold; }
#special_text { font-size: 11px; color: #494d56; margin-right: 15px; margin-top: 0px; padding-top: 0px; }
.left { float: left; width: 550px; margin-top: 25px; margin-right: 10px; }
.left .text-holder { background-color: #eef2fd; width: 95%; border-left-width: 5px; border-left-style: solid; border-left-color: #009cff; padding: 10px 15px 5px 15px; }
.right { float: right; width: 230px; background-color: #eef2fd; }
.right .text-holder { background-color: #eef2fd; width: 100%; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #FFF; margin-bottom: 10px; }
.right .text-holder-top { background-color: #d9d0c0; width: 100%; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #FFF; margin-bottom: 10px; }
.right .text-holder h3 { padding: 20px 10px 0px 20px; line-height: 18px; }
.right .text-holder-top h3 { padding: 25px 10px 0px 20px; line-height: 18px; }
.right .text-holder ul { padding-top: 0px; margin-top: 0px; line-height: 12px; }
.left .image-holder { width: 265px; margin-right: 10px; float: left; }
strong { font-weight: bold; }
.right .text-holder p { padding: 0px 10px 10px 20px; }
.right .text-holder-top p { padding: 0px 10px 10px 20px; }
.right .text-holder img { padding-left: 10px; }
.leftwide { float: left; width: 690px; }
.leftwide .text-holder { background-color: #eef2fd; width: 95%; border-left-width: 5px; border-left-style: solid; border-left-color: #009cff; padding: 10px 15px 5px 15px; }
/* About Us */
.aboutwrapper { text-align: left; vertical-align: top; position: relative; }
.aboutleft { text-align: left; vertical-align: top; float: left; width: 465px; margin-right: 15px; color: #494d56; }
.aboutsocialmedia { background-color: #EDEFF5; margin: 10px; }
.aboutright { text-align: left; vertical-align: top; float: left; width: 300px; background-color: #EDEFF5; }
ul.anchor { font-size: 12px; line-height: 14px; padding: 0; margin: 10px 0; list-style: none; position: relative; }
ul.anchor li { padding: 0 0 0 19px; background: url("http://www.corel.com/master_template/images/Slices/bullets/AnchorBullet.gif") no-repeat 0 3px; }
.table .column50 { float: left; width: 360px; margin-right: 30px; }
.table .column50last { float: left; width: 360px; }
.largeBlueBtn { background: url("/static/corel/wp-content/uploads/2014/07/largeBlueBtn.png") no-repeat; height: 36px; width: 150px; }
.largeBlueBtn a { color: #ffffff; font-size: 14px; text-align: center; }
.largeBlueBtn a:hover { color: #ffffff; font-size: 14px; text-align: center; }
.news { width: 600px; font-size: 12px; border-bottom: 1px solid #ccc; }
.date { width: 110px; font-size: 11px; text-align: left; color: #afb1b5; border-bottom: 1px solid #ccc; padding-left: 10px; }
li.current-menu-item { font-weight: normal; color: #009cff; }
#footer-area .menu-item-type-custom a { text-decoration: none; }
#sidebar li.current-menu-item.menu-item-type-post_type > a { font-weight: normal; color: #009cff !important; }
#sidebar .collapse { float: right; text-indent: -9999px; width: 9px; height: 9px; overflow: hidden; margin: 3px 0px 0 0; position: relative; background: url("http://1.shrd.www.corel.com/Z/3/pZozBL-Bw.gif") no-repeat 100% 0; outline: 0; cursor: pointer; }
.aside .collapse { background: url("http://1.shrd.www.corel.com/Z/3/pZozBL-Bw.gif") no-repeat 100% 0; right: 5px; top: 4px; height: 9px; margin: 3px -2px 0 0; outline: 0 none; overflow: hidden; position: absolute; text-indent: -9999px; width: 9px; cursor: pointer; display: block; }
.collapse.active, #sidebar .collapse.active { background-position: 100% -9px }
#sidebar-left .widget { padding: 20px 0 50px 5px; }
#search { float: right; padding: 0; width: 181px; }
input.gsc-search-button { display: none; }
form.gsc-search-box { margin: 0px !important; }
.gsc-clear-button { display: none; }
input.gsc-input { padding: 0; margin: 0; color: black; border-radius: 0 !important; }
.gsc-input-box { border: none !important; background: none !important; height: 21px !important; color: black; }
.gsc-input-box .gsib_b { display: none; }
#search td { padding: 0px !important; }
td#gs_tti50.gsib_a { padding: 0px !important; }
input#gsc-i-id1.gsc-input { background-image: url(/static/corel/wp-content/uploads/2015/03/search2.png) !important; background-position: right !important; background-repeat: no-repeat !important; font-size: 11px; padding-left: 10px !important; height: 20px !important; border: none !important; }
input[type=text]::-ms-clear {
display: none;
width : 0;
height: 0;
}
input[type=text]::-ms-reveal {
display: none;
width : 0;
height: 0;
}
td.gsc-input { width: 185px !important; height: 20px !important; padding: 2px 2px 2px 8px !important; background-color: black !important; border-radius: 0; font-size: 11px; }
table.gsc-search-box { margin: 0px !important; }
.gssb_e { display: none; }
div#___gcse_0 { background-color: black !important; }
#specialOffers { margin-bottom: 40px; }
.logos-holder { position: relative; z-index: 5; margin: 0 0 20px; padding: 0 0 5px; }
.logos-holder .logos-list { margin: 0; list-style: none; overflow: hidden; background: #000; text-align: center; }
.logos-holder .logos-list li { display: inline-block; position: relative; margin-top: 0; }
.logos-holder .logos-list li a { display: block; }
.logos-holder .logos-list li a img { vertical-align: top; }
.logos-holder .logos-list .logo-hover, .logos-list .hover .img-logo, .logos-list li:hover .img-logo { display: none; }
.logos-holder .logos-list li.hover .logo-hover, .logos-list li:hover .logo-hover { display: inline; }
body.all-products .li-all-products > a, body.free-trials .li-free-trials > a, body.volume-licensing .li-volume-licensing > a, body.support .li-support > a, body.learning .li-learning > a { background: #ffffff; color: #494d56 !important; text-decoration: none; }
body.how-to-buy .li-how-to-buy > a { background: #ffffff; color: #494d56 !important; text-decoration: none; }
