/*
Theme Name: Bootstrap Basic
Theme URI: 
Author: Vee Winch
Author URI: http://okvee.net
Description: Bootstrap v.3 basic theme for developers to build their new theme very fast and easy.
Version: 1.0.3.3
License: MIT
License URI: http://opensource.org/licenses/MIT
Text Domain: bootstrap-basic
Domain Path: /languages/
Tags: white, gray, light, one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, front-page-post-form, post-formats, threaded-comments, translation-ready

This theme built with Twitter Bootstrap v.3. It is basic theme with basic style for build new theme with Bootstrap.

*/


/*
Required WordPress CSS
*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.bypostauthor {
}
.gallery-caption {
}
.sticky {
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}


/* Sticky Footer Fun Time */
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	padding: 8px;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -206px;
	
}
#footer, .push {
	min-height: 206px;
	padding: 15px;
}
#footer .glyphicon.glyphicon-phone {
	top: 6px;
	color: #bdd649;
}
.social-links a i {
	font-weight: 24px;
	color: #000;
}
.footer-links a {
	color: #6f6f6f;
	margin-right: 5px;
	margin-left: 5px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.header-nav {
	line-height: 44px;
}

.header-nav a {
	text-transform: uppercase;
	font-size: 14px;
	color: #525252;
	font-weight: bold;
	margin: 0 0.75em;
}

#request-button {
	position: absolute;
	bottom: -12%;
	left:0px;
}

.success-stories { margin-bottom: 2em; }
.light-green-background {background-color: #a0b730; color: #fff; }
.dark-green-background {background-color: #92a82c; color: #fff; }
.blue-background {background-color: #1c5f81; color: #fff; padding-bottom: 15px;}
.pos-relative { position: relative; }
.max-100 { max-width: 100%; }
.openSans {font-family: 'Open Sans', sans-serif; }
.lime-green {color: #bdd649; }
.black { color: #000; }
.white { color: #fff; }
h1 { font-weight: 300; color: #000; font-size: 72px; }
h2 {font-weight: 300; font-size: 40px; color: #515151;}
h3 {font-weight: bold; font-size: 30px; color: #010101; }
h4 {font-weight: 300; font-size: 36px; color: #000;}
h5 {font-weight: 600; font-size: 32px; color: #fff; text-transform: uppercase; text-shadow: 1px 1px 2px #839922;}
#wrapper, #contents {padding: 0; }

article.post { padding: 15px; }
.footer-links small {color: #a0a0a0; }
#wrapper>header {border-bottom: 4px solid #005784; padding: 18px; }

#contents {
	-webkit-box-shadow:inset 0 5px 5px -2px #E0E0E0;
	box-shadow:inset 0 5px 5px -2px #E0E0E0;
}

#footer {
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	border-top: 4px solid #005784;
}

.request-demo .container-fluid {
	padding-top: 30px;
	padding-bottom: 30px;
}

.green-box {
	padding: 20px;
	background-color: #aec441;
	-webkit-box-shadow: 2px 2px 0 1px #839922;
	box-shadow: 2px 2px 0 1px #839922;
	font-weight: 600;
	font-size: 18px;
}

.white-box {
	padding: 20px;
	background-color: #FFF;
	-webkit-box-shadow: 2px 2px 0 1px #c7c7c7;
	box-shadow: 2px 2px 0 1px #c7c7c7;
	font-weight: 600;
	font-size: 18px;
	color: #000;
}

.fa-ul .fa-li.fa-check {color: #bdd649; }
.fa-ul .fa-li.fa-times {color: #F00; }

.features-list {
	font-size: 20px;
	font-weight: 300;
	color: #000;
}

.features-list .fa-ul li {
	text-transform: uppercase;
}

.affordable-pricing .fa-ul li {
	font-size: 13px;
	margin-bottom: 8px;
}

/*Plan Pricing*/
.affordable-pricing .plan {border: 1px solid #DCDCDC; }
.plan .plan-padding {padding: 0.5em; }
.plan .plan-head {background: #005784; text-align: center; color:#fff; text-transform: uppercase; font-weight: bold; font-size: 16px; line-height: 32px; }
.plan-best-value .plan-head {line-height: 48px; font-size: 24px; }
.affordable-pricing .row {padding-top: 18px; }
.affordable-pricing .plan {margin-bottom: 1em; }
 .plan .plan-button {text-align: center; }
.plan .plan-price {font-size: 64px; text-align: center; font-weight: bold;}
.plan .plan-price .plan-symbol {font-size: 36px; vertical-align: top; }
.plan .plan-price .plan-period {font-size: 16px; vertical-align: baseline; }
.plan .plan-features {text-transform: uppercase; text-align: center; font-weight: bold; border-top: 1px solid #DCDCDC; border-bottom: 1px solid #DCDCDC; padding: 0.5em 0;}
.affordable-pricing>.row .col-md-2:nth-child(2n) .plan-head {background: #174a64; }
.affordable-pricing .col-md-2 {padding-left: 0px; padding-right: 0px; }
/***********************/




@media (max-width: 767px) { 
	h1 { font-size: 50px;}
	h2 { font-size: 30px;}
	h4 { font-size: 20px;}
	.xs-center { text-align:  center; margin-top: 0.75em; margin-bottom: 0.75em; }
	.header-nav a {margin: 0 0.55em; }
	.media .media-left img {
		width: 100px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.track-info {
		padding-top: 50px;
	}
	.plan-best-value {
		position: relative;
		top: -16px;
	}
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}