/* Publish: 2016-09-01 16:42:16 */ 
 a.element.pkh-button
,div.stage-eyecatcher
,div.module.pkh-questions-answers
,div.module.pkh-notification {
    display:none !important;
}


div.module.pkh-stage.type-full {
    height:460px !important;
}

div.module.pkh-stage .stage-text-wrapper {
    margin-left:132px !important;
    margin-top:80px !important;
    width:400px !important;
}

div.module.pkh-stage.var-white.var-textShadow .stage-text-wrapper h2 {
    text-shadow:none !important;
}

.stage-image {display:none !important;}

.printOnly {display:block !important;}
 