/* 2016-08-26 11:50:51 */

/* PRINT CSS */
/* v121107.1200 */

/* only in print mode visible */
.printOnly {
    display:block;
}
.noPrint {
    display:none;
}
/* */


/* remove marginal navi */
.CB_T03_2of2, 
.CB_T03_2of2 .CB_T03_2of2_cn, 
.CB_T11_2of2,
.CB_T16_3of3,
.CB_T10_2of2_cn, 
/* remove header */
#header-nav,
#header-utils,
#LOG_FWPG,
/* remove footer */
#footer_hd,
#footer_ft,
#footer_nav_meta,
#footer_socialMedia,
/* remove poll */
#ir_layer,
/* remove left navi */
.CB_T16_1of3,
/* remove onlinevorteil */
.img_19 img,
.img_18 img,
/* remove content images */
.CM_T03_L img,
.CM_T03_R img,
/* remove show all services link */
a.SV_T03_more,
/* remove teaser button */
.SVT_T04_ft,
.ST_FWFU_bd_cn a.button,
.TKL_T01_1_bd_2of2_cn a.button,
/* remove flash */
.MB_FU_VideoEntry,
.FlashPlayer,
/* remove popup links */
/*a.popup_link,*/
/* remove submit buttons */
input[type="submit"],
/* remove search results summary */
#SN_FWFU,
/* remove tab headers */
#EXT_TAB_NAV_cn ul li a,
/* remove feature links */
.PG_PU_1 .featureLinks a,
/* remove social bookmarks */
#socialBookmarks,
/* remove teaser */
.C_TEASER,
/* remove ui-slider */
.ui-slider-scale,
/* remove button */
.TOT_T02_ft .button
{
    display: none !important;
}

/* show breadcrumb navi */
#nav_PPFG,
/* show text in (+) blocks */
.CM_T03_Entry_ft,
/* show expandable text */
.EXP_Entry_bd,
/* show service images */
.SVO_T04_1_bd,
/* show current tab header */
#EXT_TAB_NAV_cn li.active-li a,
/* show happy hour teaser */
.CB_T01_bd .MB_FU_VideoEntry,
.CB_T01_cn .MB_FU_VideoEntry img
{
    display: block !important;
}
/* show copyright and show logo */
#footer_copyright_cn,
#logo
{
    display: block !important;
    padding: 10px 0 !important;
}

/* remove backgrounds and fixed height */
html * 
{
    background-image: none !important;
    background-color: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    min-height: 0;
}
/* align copyright under content */
.column
{
    min-height: 0 !important;
}
#footer
{
    position: static !important;
}
/* align logo to right top */
#logo 
{
    float: right;
}
/* remove center align */
#main-cn,
#header-cn,
.CB_FU_cn,
.NEW_T01,
.VA_T03_hd,
.PPFG
{ 
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
/* uniform service blocks */
.NEW_T04,
.HT_T04,
.PT_T04_3,
.TOT_T02_cn
{ 
    margin: 10px 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
/* content full width */
.CM_T03_L_bd,
.CM_T03_R_bd,
.CB_T11_1of2_cn
{
    margin: 0 !important;
    width: 100% !important;
}
/* content auto height */
.CM_T03_L *,
.CM_T03_R *,
.CM_T03_Entry_cn.commCont,
.SVB_T04_bd,
.TB_T02_1of2,
.TB_T02_2of2 
{
    height: auto !important;
}
/* display uniform blocks */
.SV_T03_2of2_cn
{
    margin-left: 0 !important;
}
.SV_T03_2of2_cn li
{
    display: block !important;
}

/* main page teaser fix */
.TKL_T01_1_bd_2of2_cn
{
    top: 10px !important;
    left: 10px !important;
}
.TKL_T01_1_bd
{
    height: auto !important;
}
/* move content up */
#header
{
    margin-bottom: -120px !important;
    height: 0px;
}
/* remove header and footer borders */
#header,
#footer *
{
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}
/* align content left */
.column 
{
    float: none !important;
    border: none !important;
}
/* services inline */
.PT_T04_3.column
{
    display: inline-block !important;
    width: auto !important;
}
/* checked sign */
span.icon.ico_8
{
    padding: 0 !important;
}
span.icon.ico_8:not(:empty):before
{
    content: '\2713 \2002';
}
/* breadcrumb arrows */ 
.PPFG li.activePath a:before
{
    content: ' > ';
}
/* breadcrumb with less spacing */ 
.PPFG_cn ul li ul li a
{
    padding-left: 10px !important;
}
/* uniform blocks */
a.PK_PU_2_3
{
    float: none !important;
    display: inline-block;
    width: 400px !important;
    margin: 0 10px 10px 0 !important;
    border: none !important;
}
a.PK_PU_2_3 *
{
    position: relative !important;
}
.TOB_T02_bd,
.SVB_T04_cn
{
    height: 250px !important;
}
/* kundenservice less whitespace */
.SVT_T04
{
    margin-bottom: -100px;
}
/* remove min-height */
.TBL_T04_1_bd,
.CB_T04_hd,
.box_1
{
    min-height: 0 !important;
    height: auto !important;
    overflow: hidden !important;
}
/* overlay */
#fancybox-overlay
{
    opacity: 1 !important;
    height: auto !important;
}
#fancybox-wrap
{
    left: 0 !important;
    top: 0 !important;
    height: auto !important;
    width: auto !important;
}
#fancybox-inner
{
    width: 1000px !important;
}
/* copyright for overlay */
/* removed: only works in chrome
#page.popup #content:after
{
    content: '\00A9  Deutsche Postbank AG';
}
*/
.KBA .box_1
{
    height: 30px !important;
}
.sep_2
{
    border: none !important;
}
/* border for inputs */
input
{
    border: 1px solid #ccc !important;
}
/* block spacing */
.TKL_T01_1_bd_2of2_cn
{
    position: static !important;
}
.TOB_T02_cn *
{
    display: block !important;
    opacity: 1 !important;
    position: static !important;
}


/* add separators around expandables and (+) */
.CM_T03_Entry_ft,
.EXP_Entry_bd
{
    padding: 10px 10px !important;
    /*border: 1px solid #ccc !important;*/
}
/* add border so info boxes */
.INFO_T16_cn
{
    padding: 10px 10px !important;
    border: 1px solid #ccc !important;
}
/* remove float in expandables and (+) */
.SP_FU_Entries
{
    float: none !important;
}
/* remove services float */
.CB_T03_ft
{
    float: none !important;
}
/* search results */
.CB_T11_1of2_bd_c2
{
    width: 100% !important;
}
/* ie shadow fix */
html.ie *
{
    background-color: #fff !important;
    box-shadow: none !important;
    /*filter: dropshadow(color=#ffffff, offx=0, offy=0) !important;*/
}
html.ie #header *
{
    background-color: transparent !important;
}
/* fix slideshow size */
.CB_T04_hd *
{
    position: static !important;
    height: auto !important;
    min-height: 0px !important;
    margin: 0 !important;
    padding: 2px !important;
}
.TOT_T02
{
    height: auto !important;
    position:relative;
}
/* appropriate height for service entries */
.SVO_T04_1_Entry
{
    height: 40px !important;
}
.SVO_T04_1_Entry_lnk_cn
{
    width: 140px !important;
}
/* add padding for list-items */
.rdtextfield ul, .rdtextfield ol
{
    padding-left: 20px !important;
}
.SP_FU_ImageEntry_cn
{
    width: 100% !important;
    overflow: hidden !important; 
    margin: 0 0 20px 0 !important;
}
.SP_FU_ImageEntry_bd
{
    float: left !important;
}
.SP_FU_ImageEntry_ft
{
    clear: none !important;
}
html.ie8 h1, 
html.ie8 .cc_SitemapSnippet, 
html.ie8 .CB_T11_1of2_bd, 
html.ie8 .CB_T11_2of2_bd,
html.ie8 .VA_T03 .tx_1_1, 
html.ie8 .VA_T03 .tx_1_2, 
html.ie8 .VA_T03_Entry,
html.ie8 .TKL_T01_1_bd_2of2_cn,
html.ie8 .SV_T03_2of2_cn,
html.ie8 .SV_T03_1of2_cn
{
    position: relative !important;
}  
/* show link urls
a:after
{
    content:" [" attr(href) "] ";
}
*/

/* global printHide */
.printHide
{
    display: none !important;
}

/* 0px */
.btn_5 span,.btn_6 span,.btn_5 input,.btn_6 input,
.btn_12,
.btn_12 span,.btn_12 input,
.btn_14 span,.btn_14 input,
.btn_18_up span,.btn_18_down span,.btn_18_up input,.btn_18_down input 
{
    font-size: 0px !important;
}
/* 3px */ 
.form_4_top,
.form_4_top_inner,
.sep_5,
.sep_4 ,
.sep_3,
.sep_2,
.sep_1
{
    font-size: 3px !important;
}
/* 12px */
.tx_1.rdtextfield a,
.tx_1.rdtextfield li,
.form_2a,
#advgallery_title,
.tx_14,
.lnk_5,.lnk_5:visited,
.lnk_6,.lnk_6:visited ,
#srch_fwpg_query,
body.nocbri,.nocbri .hl_7,.nocbri .tx_1,.nocbri .tx_2,.nocbri .tx_7,.nocbri .tx_8,
.nocbri .tx_9,.nocbri .tx_16,.nocbri .lnk_1,.nocbri .lnk_2,.nocbri .lnk_8,.nocbri .ll_1,
.nocbri .ll_2,.nocbri .ll_3,.nocbri .btn_1,.nocbri .btn_2,.nocbri .btn_3,.nocbri .btn_7,
.nocbri .btn_8,.nocbri .btn_9,.nocbri .btn_10,.nocbri .btn_11,.nocbri .btn_13,
.nocbri .btn_15,.nocbri .btn_16,.nocbri .btn_17,.nocbri .btn_19,.nocbri .form_1,.nocbri .form_3,.nocbri .dd_1,
a.lnk_4,.lnk_4,.lnk_4:visited,
#footer_main_cn,
#footer_hd_cn,
#footer_bd_cn,
.rdtextfield table.small,.nocbri .lnk_4,
.nocbri .tx_6,.nocbri .tx_15,.nocbri .lnk_5,.nocbri .lnk_6,.nocbri .form_2a,.nocbri .form_2b
{
    font-size: 15pt !important;
    line-height: 140% !important;
}
/* 14px */
.kba-gen-hd h2 ,
.gba_bd h2,
.btn_1 span,.btn_1 input,
.btn_2 span,.btn_2 input,
.btn_3 span,.btn_3 input,
.btn_4 span,.btn_4 input,
.btn_7 span,.btn_7 input,
.btn_8 span,.btn_8 input,
.btn_9 span,.btn_9 input,
.btn_10 span,.btn_10 input,
.btn_11 span,.btn_11 input,
.btn_13 span,.btn_13 input,
.btn_16 span,.btn_16 input,
.btn_17 span,.btn_17 input,
.btn_15 span,.btn_15 input,
.btn_19 span,.btn_19 input,
.form_1 input,
.form_3,
.form_4 textarea,
.tx_4 ,
.tx_1_p,
.tx_1,
.tx_2,
.tx_2_n,
.tx_2_p,
.tx_7,
.tx_8,
.tx_9,
a.fbgalleryadvdescription,
.tbo_bd .rdtextfield a,.exp_entry_bd .rdtextfield a,.exp .rdtextfield a,.news_article_detail_meldungstext_cn .rdtextfield a,.sp_fu .rdtextfield a,.lnk_14,.lnk_14:visited ,
.lnk_8,.lnk_8:visited,
.rdtextfield h6,.hl_7,
ul.ll_2 a,li.ll_2 a,
ul.ll_3 a,
.nocbri .hl_10,.nocbri .lnk_13,
.teaser_cn .tx_1 h4 a,
#pk_cn1_cn ul li.ui-state-hover ul ul li a ,
.kba-gen-hd ul li a.lnk_2,.gba_bd ul li a,
.lnk_1,.lnk_1:visited,.lnk_2,.lnk_2:visited,.lnk_11,.lnk_11:visited,.lnk_12,.lnk_12:visited,
.tx_15,.error,
.NEW_ft_tx_1
{
    font-size: 13pt !important;
}
.ll_1 a,
.tx_1,
.NEW_ft_tx_1 p
{
    font-size: 14pt !important;
    line-height: 130% !important;
}
/* 16px */
.rdtextfield h5,.hl_10,
.nocbri .hl_6,.nocbri .hl_9,.nocbri .tx_12,.nocbri .lnk_9,
.nocbri .lnk_10,
.teaser_cn .tx_1 h3 a,
.lnk_13,.lnk_13:visited,
.tx_1_n,
.tx_1 p
{
    font-size: 15pt !important;
    line-height: 140% !important;
}

/* 20px */
.tx_5 ,
.lnk_3,.lnk_3:visited,
.lnk_7,.lnk_7:visited,
.rdtextfield h2,.hl_2,
.rdtextfield h3,.hl_4,.hl_5,.tx_10,
.teaser_cn .tx_1 h1 a ,
.nocbri .hl_2,.nocbri .hl_4,.nocbri .lnk_3,.nocbri .lnk_7,
.tx_12,
.lnk_9,.lnk_9:visited,
.rdtextfield h4,.hl_6,.hl_9,
.lnk_10,.lnk_10:visited,
.teaser_cn .tx_1 h2 a,
#pk_cn1_cn ul li.ui-state-hover ul li a,
.kba-gen-hd .hl_5,.gba_bd .hl_5,#sn_fwfu_cn>ul>li.top-parent>a,.nocbri .tx_5,
.nocbri .hl_1
{
    font-size: 16pt !important;
}
/* 28px */
.tx_3
{
    font-size: 20px !important;
}
/* 30px */
.rdtextfield h1,.hl_1,.hl_8,
.hl_3,
.hl_11,
.nocbri .hl_3,
.nocbri .tx_3,.nocbri .tx_14
{
    font-size: 22pt !important;
}
/* 40px */
.tx_11,
.tx_13,
.nocbri .tx_13 ,
.nocbri .tx_11
{
    font-size: 28pt !important;
}



.INFO_T16_hd, . INFO_T16_hd, .SVT_T04 { position:relative !important; }
.KBA-gen-hd { height: 90px !important; overflow: visible !important; }
.KBA-gen-hd h2.tx_2 { position:relative !important; } 
.KBA-gen-hd div.verlauf_6 { position:relative !important; } 
.KBA-gen-hd div.verlauf_6 ul { float:left !important; } 
.TB_T02_cn { clear: both !important; }
.box_2, .box_1 { box-shadow: none !important; filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false) !important; filter: none !important; }
.TKL_T01_1_bd { height: auto !important; }
.TKL_T01_1_bd_2of2_cn { clear: both; position: relative !important; left: 0; top: 0; }
.TOB_T02_bd { overflow: visible !important; }
.TOT_T02 { display: block !important; position: relative !important; opacity: 1 !important; filter: alpha(opacity=100) !important; filter: none !important; background: white !important; }
.TOB_T02_nav, .toggleType_t09 { display: none !important; }

/* CV Table */
.tx_1 table td p {
    font-size: 12pt !important;
    line-height: 18px !important;
}


/**/
.CB_T10_2of2_cn {
display: none !important;
}
.NEW_hd 
{ 
margin: 0 !important; 
padding: 0 !important; 
width: 100% !important; 
} 

#stageContent .text,
#stageContent h2, 
#stageContent .inner-text, 
#stageContent p, 
#stageContent a
{ background: transparent !important; }

/**//* */

.layoutT02_PDS_Kredite_hd .pds_top_content_1of2 {
    width:410px !important;
}

.layoutT02_PDS_Kredite_hd .pds_top_content_2of2 {

}

.layoutT02_PDS_Kredite_hd .pds_top_content_2of2_cn {
    margin-left:25px !important;
    margin-right: 0px !important;
}

.pds_top_content .pds_top_content_2of2_cn .button_with_link {
    display:none !important;
}

.layoutT02_PDS_Kredite_hd .pds_top_content_2of2 .rdtextfield ul {
    list-style-type: disc !important;
    list-style-position: inside !important;
}

.layoutT02_PDS_Kredite_hd .pds_top_content_2of2 .rdtextfield ul li {
    background: none !important;
    list-style-type: disc !important;
    list-style-position: inside !important;
    padding-left:0px !important !important;
}

.pds_tabBox_Entry.active .ShowHideEntry {
    display:block !important;
}

.shToggle.btn_5,
.shToggle.btn_6 {
    display:none !important;
}

.noCalculator .TKL_T01_1_bd_1of2_cn .img_2,
.TKL_T01_1_bd_1of2_cn .img_2 {
    display:none !important;
}

.TKL_T01_1_bd_1of2_cn img_2 {
    display:none;
}

.CB_T04 .KBA {
    display:none;
}

/*Kundenservice */

.SVO_T04_1 {width: 750px !important;margin-bottom:15px;}
.SVO_T04_1_Entry {width: 220px !important;}
.SVO_T04_1_Entry_lnk_cn {width:180px !important;}

.SVB_T04,
.SVB_T04_bd,
.SVT_T04 {
    height:230px !important;
    margin:none !important;
}

.SVO_NEWS_T04_cn .TBL_T04,
.award-carousel {
    display:none;
}

.PLT_T04_2_3_Entry {
    height:70px;
    border:none;
}

.TBL_T04_1_bd .PLT_T04_3.column.verlauf_11 {
    height:140px;
    border:none;
    clear:both;
    width:450px;
}

.HT_T04.column.verlauf_11 {
    height:100%;
    border:none;
    clear:both;
    width:450px !important;
}

.HT_T04.column.verlauf_11 p,
.HT_T04_bd .tx_1 {
    width:450px !important;
}

.PLT_T04_3_bd .PT_s_T04_3_Entry.sicherheit {
    display:none !important;
}

.PLT_T04_2_3_kundenbeirat_Entry {
    height:70px;
    border:none !important;
    clear:both;
    width:450px;
}

.SVO_NEWS_T04_cn,
.SVO_T04.column.verlauf_2 {
    height:235px;
    margin:none;
    clear:both;
}

/* */
 
 
/* */
 