
/* Publish: 2016-10-10 15:28:53 */
.simple-lightbox { cursor: pointer; }
.simple-lightbox-auto-thumbnail { width: 100%; }
.img-thumbnail { width: 100%; }
.zo-simple-lightbox { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url(/privatkunden/images/zo-simplelightbox-fallback-background.png); background: rgba(0, 0, 0, 0.8); z-index: 100; display: none; }
.zo-simple-lightbox .zo-simple-lightbox-content-wrapper { padding: 5%; box-sizing: border-box; -webKit-box-sizing: border-box; background: url(/privatkunden/images/zo-simplelightbox-loader.gif) no-repeat center center; }
.zo-simple-lightbox .zo-simple-lightbox-content-wrapper.no-loader { background-image: none; }
.zo-simple-lightbox a.close-button { position: absolute; top: -30px; width: 30px; height: 30px; background: transparent; background: url() no-repeat center center; display: none; }
.zo-simple-lightbox .zo-simple-lightbox-navigation { display: none; position: absolute; top: 0; width: 100%; }
.zo-simple-lightbox .zo-simple-lightbox-navigation .prev, .zo-simple-lightbox .zo-simple-lightbox-navigation .next { position: absolute; left: 0; font-family: Icons; font-size: 4.16667em; color: white; text-decoration: none; }
.zo-simple-lightbox .zo-simple-lightbox-navigation .prev:before, .zo-simple-lightbox .zo-simple-lightbox-navigation .next:before { content: '<'; }
.zo-simple-lightbox .zo-simple-lightbox-navigation .next { position: absolute; left: auto; right: 0; }
.zo-simple-lightbox .zo-simple-lightbox-navigation .next:before { content: '>'; }
.zo-simple-lightbox p.copyright { color: white; font-size: 1em; text-align: center; position: relative; display: none; }
.zo-simple-lightbox img { width: auto; max-width: 93.22034%; position: absolute; display: none; }
.zo-simple-lightbox .loader { width: 4.25em; height: 4.25em; margin: 0 auto; -moz-border-radius: 0.83333em; -webkit-border-radius: 0.83333em; border-radius: 0.83333em; padding: 1.08333em; display: none; }
.zo-simple-lightbox .loader img { display: block; width: 2.08333em; height: 2.08333em; }
.zo-simple-lightbox .video-wrapper { width: 1680px; max-width: 100%; margin: 0 auto; display: none; }
.zo-simple-lightbox .video-wrapper .frame-wrapper { position: relative; padding-bottom: 55%; padding-top: 15px; height: 0; overflow: hidden; }
.zo-simple-lightbox .video-wrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.container { max-width: 85.33333em; overflow: hidden; margin: 0 auto; }
.section:before, .section:after { content: "."; display: block; height: 0; overflow: hidden; }
.section:after { clear: both; }
.main-pkh-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* === Grid 1 - 12 === */
.col1-1 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col1-2 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col1-3 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col1-4 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col1-5 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col1-6 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 42.47697%; clear: none; }
.col1-7 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 50.97236%; clear: none; }
.col1-8 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 59.46776%; clear: none; }
.col1-9 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 67.96315%; clear: none; }
.col1-10 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 76.45855%; clear: none; }
.col1-11 { width: 6.55067%; float: left; margin-right: -100%; margin-left: 84.95394%; clear: none; }
.col1-12 { width: 6.55067%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col2-1 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col2-2 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col2-3 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col2-4 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col2-5 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col2-6 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 42.47697%; clear: none; }
.col2-7 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 50.97236%; clear: none; }
.col2-8 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 59.46776%; clear: none; }
.col2-9 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 67.96315%; clear: none; }
.col2-10 { width: 15.04606%; float: left; margin-right: -100%; margin-left: 76.45855%; clear: none; }
.col2-11 { width: 15.04606%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col3-1 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col3-2 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col3-3 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col3-4 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col3-5 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col3-6 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 42.47697%; clear: none; }
.col3-7 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 50.97236%; clear: none; }
.col3-8 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 59.46776%; clear: none; }
.col3-9 { width: 23.54145%; float: left; margin-right: -100%; margin-left: 67.96315%; clear: none; }
.col3-10 { width: 23.54145%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col4-1 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col4-2 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col4-3 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col4-4 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col4-5 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col4-6 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 42.47697%; clear: none; }
.col4-7 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 50.97236%; clear: none; }
.col4-8 { width: 32.03685%; float: left; margin-right: -100%; margin-left: 59.46776%; clear: none; }
.col4-9 { width: 32.03685%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col5-1 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col5-2 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col5-3 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col5-4 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col5-5 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col5-6 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 42.47697%; clear: none; }
.col5-7 { width: 40.53224%; float: left; margin-right: -100%; margin-left: 50.97236%; clear: none; }
.col5-8 { width: 40.53224%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col6-1 { width: 49.02764%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col6-2 { width: 49.02764%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col6-3 { width: 49.02764%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col6-4 { width: 49.02764%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col6-5 { width: 49.02764%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col6-6 { width: 49.02764%; float: left; margin-right: -100%; margin-left: 42.47697%; clear: none; }
.col6-7 { width: 49.02764%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col7-1 { width: 57.52303%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col7-2 { width: 57.52303%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col7-3 { width: 57.52303%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col7-4 { width: 57.52303%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col7-5 { width: 57.52303%; float: left; margin-right: -100%; margin-left: 33.98158%; clear: none; }
.col7-6 { width: 57.52303%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col8-1 { width: 66.01842%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col8-2 { width: 66.01842%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col8-3 { width: 66.01842%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col8-4 { width: 66.01842%; float: left; margin-right: -100%; margin-left: 25.48618%; clear: none; }
.col8-5 { width: 66.01842%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col9-1 { width: 74.51382%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col9-2 { width: 74.51382%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col9-3 { width: 74.51382%; float: left; margin-right: -100%; margin-left: 16.99079%; clear: none; }
.col9-4 { width: 74.51382%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col10-1 { width: 83.00921%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col10-2 { width: 83.00921%; float: left; margin-right: -100%; margin-left: 8.49539%; clear: none; }
.col10-3 { width: 83.00921%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col11-1 { width: 91.50461%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.col11-2 { width: 91.50461%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.col12-1 { width: 100%; float: right; margin-left: 0; margin-right: 0; clear: none; }
@font-face { font-family: 'PostbankPKIcons'; src: url(/privatkunden/docs/PostbankPKIcons.eot); src: url(/privatkunden/docs/PostbankPKIcons.eot#iefix) format("embedded-opentype"), url(/privatkunden/docs/PostbankPKIcons.ttf) format("truetype"), url(/privatkunden/docs/PostbankPKIcons.woff) format("woff"), url(/privatkunden/docs/PostbankPKIcons.svg#PostbankPKIcons) format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Ico-PDS'; src: url(); src: url(#iefix) format("embedded-opentype"), url() format("truetype"), url() format("woff"), url(#Ico-PDS) format("svg"); font-weight: normal; font-style: normal; }
[class^="icon-"], [class*=" icon-"], .icon-stage-arrow-down em { font-family: 'PostbankPKIcons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-qm:before { content: "\e908"; }
.icon-info-hinweis-layer .path1:before { content: "\e904"; color: white; }
.icon-info-hinweis-layer .path2:before { content: "\e906"; margin-left: -1em; color: #ffcc00; }
.icon-info-hinweis-layer2:before { content: "\e907"; }
.icon-cookie-layer-blank:before { content: "\e903"; }
.icon-cookie-layer-rounded:before { content: "\e905"; }
.icon-pylone:before { content: "\e902"; }
.icon-stage-arrow-down .path1:before { content: "\e900"; color: white; }
.icon-stage-arrow-down .path2:before { content: "\e901"; color: rgba(255, 255, 255, 0.3); }
.icon-kontaktformular:before { content: "\e800"; }
.icon-info-buehne:before { content: "\e60b"; }
.icon-info-teaser:before { content: "\e60c"; }
.icon-email:before { content: "\e60d"; }
.icon-sicherheit:before { content: "\e60f"; }
.icon-pager:before { content: "\e60e"; }
.icon-search:before { content: "\e60a"; }
.icon-arrow-left:before { content: "\e606"; }
.icon-arrow-right:before { content: "\e607"; }
.icon-success:before { content: "\e608"; }
.icon-check:before { content: "\e609"; }
.icon-close:before { content: "\e603"; }
.icon-service:before { content: "\e604"; }
.icon-arrow-btn:before { content: "\e605"; }
.icon-telefon:before { content: "\e600"; }
.icon-termin:before { content: "\e601"; }
.icon-vorort:before { content: "\e602"; }
@charset "UTF-8";
/* === Import helper files for all modules === */
/* === Postbank PK Home === */
.ie8 .main-pkh-wrapper { padding-bottom: 98px; }
.ie8 .main-pkh-wrapper .container { max-width: 1164px; }
input::-ms-clear { display: none; }
.main-pkh-wrapper { background-color: #f3f5f8; border-bottom: 8.16667em solid #FFF; /*****************************  BREAKPOINT DEFAULT (MEDIUM)  ****************************/ /*****************************  FEATURE DETECTION  ****************************/ /*****************************  BREAKPOINT LARGE  ****************************/ }
.main-pkh-wrapper .container { max-width: 82.33333em; }
.main-pkh-wrapper .module { background-color: #f3f5f8; position: relative; font-size: 12px; /*.container {
    height: ru(30);
}*/ }
.main-pkh-wrapper .feature-test.test-hires { position: absolute; top: -9999em; left: -9999em; z-index: 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) { .main-pkh-wrapper .feature-test.test-hires { z-index: 1; } }
.main-pkh-wrapper .dummy-grid .container { background-color: darkgrey; height: auto; padding: 0.83333em 0; }
.main-pkh-wrapper .dummy-grid .container .section > div { background-color: lime; height: 1.66667em; }
@media (min-width: 85.41667em) { .main-pkh-wrapper .container { max-width: 97em; } }
/* === Postbank PK Home Elements === */
.element.pkh-button { font-size: 1.16667em; display: inline-block; color: #FFF; background-color: #0A3478; padding: 0 1.14286em; -moz-border-radius: 0.35714em; -webkit-border-radius: 0.35714em; border-radius: 0.35714em; height: 3.28571em; line-height: 3.35714em; }
.element.pkh-button:hover { background-color: #3B5D93; }
.element.pkh-button.var-arrow { padding-left: 1.42857em; }
.element.pkh-button.var-arrow .button-label:after { font-family: "PostbankPKIcons"; font-size: 12px; padding-left: 16px; content: "\e605"; }
.no-borderradius .element.pkh-button { position: relative; font-size: 1.16667em; display: inline-block; color: #FFF; padding: 0 1.14286em; background-color: #0A3478; background-position: left bottom; background-repeat: repeat-x; height: 3.28571em; line-height: 3.35714em; }
.no-borderradius .element.pkh-button:before, .no-borderradius .element.pkh-button:after { content: ""; height: 3.28571em; display: block; width: 7px; position: absolute; top: 0; }
.no-borderradius .element.pkh-button:before { background-image: url(/privatkunden/images/sprite-btn-links.png); background-position: left top; left: -7px; }
.no-borderradius .element.pkh-button:after { background-image: url(/privatkunden/images/sprite-btn-rechts.png); background-position: left -46px; right: -7px; }
.no-borderradius .element.pkh-button.var-arrow { padding-left: 1.42857em; }
.no-borderradius .element.pkh-button.var-arrow .button-label:after { font-family: "PostbankPKIcons"; font-size: 12px; padding-left: 16px; content: "\e605"; }
.module h1, .module h2 { font-family: "FrutigerLTW02-55Roman"; font-weight: 600; }
.module h3 { font-size: 1.33333em; font-family: "FrutigerLTW02-55Roman"; font-weight: 600; line-height: 1.3125em; color: #0A3478; }
.module p { font-size: 1.16667em; line-height: 1em; color: #333; }
.module .valign { display: inline-block; vertical-align: middle; height: 100%; }
/* === Postbank PK Home Modules === */
.pkh-notification .information-icon { color: #ffcc00; display: inline-block; vertical-align: middle; position: relative; top: -1px; font-size: 22px; margin-right: 12px; }
.pkh-notification.type-disclaimer .information-icon { position: relative; top: -1px; font-size: 22px; margin-right: 12px; }
.pkh-notification.type-notification .information-icon { font-size: 22px; margin-right: 12px; }
.pkh-notification .information-icon.has-icon { position: relative; top: -1px; font-size: 22px; margin-right: 12px; }
.pkh-notification .icon-pylone { font-size: 27px; margin-right: 10px; }
.pkh-notification .icon-info-hinweis-layer, .pkh-notification .icon-info-hinweis-layer2 { position: relative; top: -1px; font-size: 22px; margin-right: 12px; }
.module.pkh-notification { background-color: #5371a0; /*****************************  BREAKPOINT LARGE  ****************************/ }
.module.pkh-notification .container { height: 6.83333em; }
.module.pkh-notification .section, .module.pkh-notification .notification-text-wrapper, .module.pkh-notification .notification-close { height: 100%; }
.module.pkh-notification .notification-text-wrapper { white-space: nowrap; position: relative; width: 64.1%; float: left; margin-right: -100%; margin-left: 25.4%; clear: none; display: inline-block; height: 100%; }
.module.pkh-notification .notification-text-wrapper .notification-text { max-width: 650px; display: inline-block; vertical-align: middle; color: #FFF; white-space: normal; font-size: 14px; line-height: 17.5px; padding: 0; margin: 0; height: auto; }
.module.pkh-notification .notification-text-wrapper .notification-text > span { font-family: "FrutigerLTW02-55Roman"; font-weight: 600; }
.module.pkh-notification .notification-text-wrapper a { font-family: "FrutigerLTW02-55Roman"; font-weight: 600; color: #FFF; }
.module.pkh-notification .notification-text-wrapper .link-more:before { content: "›"; font-size: 17px; }
.module.pkh-notification .notification-text-wrapper .link-more:hover span { text-decoration: underline; }
.module.pkh-notification .notification-text-wrapper .link-more span { padding-left: 5px; }
.module.pkh-notification .notification-close { width: 19px; right: 10px; top: 0; position: absolute; display: inline-block; text-align: right; }
.module.pkh-notification .notification-close a { display: inline-block; vertical-align: middle; color: #FFF; }
.module.pkh-notification .notification-close a:before { display: block; font-size: 18px; }
.module.pkh-notification.type-disclaimer { position: absolute; left: 0; right: 0; z-index: 1; top: 80px; }
.module.pkh-notification.var-white { background-color: #FFF; }
.module.pkh-notification.var-white .notification-text-wrapper .notification-text { color: #4C4C4C; }
.module.pkh-notification.var-white .link-more { color: #0A3478; }
.module.pkh-notification.var-white .link-more span { padding-left: 3px; }
.module.pkh-notification.var-white .notification-close a { color: #4C4C4C; }
@media (min-width: 85.41667em) { .module.pkh-notification .notification-text-wrapper { padding-left: 2.66667em; } }
@media (max-width: 85.41667em) { .module.pkh-notification .notification-text-wrapper { width: 734px; margin-left: 241px; } }
.ie8 .module.pkh-notification .notification-text-wrapper { padding-left: 2.66667em; }
.ie8 .module.pkh-notification.type-disclaimer .notification-text-wrapper .notification-text { border: 1px solid #FFF; }
.ie8 .module.pkh-notification.type-notification .notification-text-wrapper .notification-text { border: 1px solid #5371a0; }
.ie8 #footer_main { width: auto; }
.isSliding + .stage-animated-arrow { display: none; }
.stage-animated-arrow { display: none; position: absolute; left: 50%; margin-left: -20px; color: #fff; bottom: 29px; cursor: pointer; animation-name: blink; animation-duration: 3s; animation-iteration-count: infinite; animation-direction: normal; animation-timing-function: ease-in-out; }
.stage-animated-arrow em { display: block; margin: 0 auto; }
.stage-animated-arrow em.path1 { filter: alpha(opacity=70); }
.stage-animated-arrow em.path2 { margin-top: -35px; filter: alpha(opacity=30); }
.stage-animated-arrow em:before { font-size: 36px; }
@keyframes blink { 0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 0; } }
.module.pkh-stage .stage-slide { height: 39.41667em; overflow: hidden; background-repeat: no-repeat; background-size: cover; background-position: center center; position: relative; }
.module.pkh-stage .stage-slide .container { position: absolute; top: 0; left: 50%; width: 100%; height: 100%; margin-left: -41.16667em; }
.module.pkh-stage .stage-slide .stage-image { width: 100%; height: 100%; }
.module.pkh-stage .stage-slide .stage-image img { display: block; }
.module.pkh-stage .stage-slide .stage-image img.bg-width { width: 100%; }
.module.pkh-stage .stage-slide .stage-image img.bg-height { height: 100%; }
.module.pkh-stage .stage-slide .stage-text-wrapper { position: relative; z-index: 1; width: 40%; min-width: 396px; height: auto; display: inline-block; vertical-align: middle; margin: 32px 32px 32px 48px; }
.module.pkh-stage .stage-slide h1, .module.pkh-stage .stage-slide h2 { font-size: 2.5em; line-height: 1.4; }
.module.pkh-stage .stage-slide .stage-text { font-size: 1.16667em; line-height: 1.6; color: inherit; margin: 1.07143em 0 0 0; }
.module.pkh-stage .stage-slide .stage-text-list { font-size: 1.16667em; margin-top: 1em; }
.module.pkh-stage .stage-slide .stage-text-list li { line-height: 19px; }
.module.pkh-stage .stage-slide .stage-text-list li:before { font-size: 22px; color: #f5a011; position: relative; top: 5px; margin-right: 2px; }
.module.pkh-stage .stage-slide .pkh-button { margin-top: 3.42857em; }
.module.pkh-stage .stage-slide.type-full .stage-asset { display: none; }
.module.pkh-stage .stage-slide.type-video .play-button { display: block; cursor: pointer; width: 140px; height: 140px; display: block; position: absolute; top: 49%; left: 42%; margin-top: -70px; margin-left: -70px; background: url(/privatkunden/images/play-button.png) no-repeat center center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.module.pkh-stage .stage-slide.type-asset .stage-text-wrapper, .module.pkh-stage .stage-slide.type-video .stage-text-wrapper { width: 45.5%; padding: 0 0 0 32px; }
.module.pkh-stage .stage-slide.type-asset .pkh-button, .module.pkh-stage .stage-slide.type-video .pkh-button { margin-top: 3.21429em; }
.module.pkh-stage .stage-slide.type-asset .stage-text, .module.pkh-stage .stage-slide.type-asset .stage-text-list, .module.pkh-stage .stage-slide.type-video .stage-text, .module.pkh-stage .stage-slide.type-video .stage-text-list { margin: 1.07143em 0 0 0; }
.module.pkh-stage .stage-slide.type-asset .stage-text-list li, .module.pkh-stage .stage-slide.type-video .stage-text-list li { line-height: 19px; }
.module.pkh-stage .stage-slide.type-asset .stage-asset, .module.pkh-stage .stage-slide.type-video .stage-asset { position: absolute; z-index: 1; top: 50%; transform: translate(0, -50%); -ms-transform: translate(0, -50%); -webKit-transform: translate(0, -50%); }
.module.pkh-stage .stage-slide.type-asset .stage-asset img, .module.pkh-stage .stage-slide.type-video .stage-asset img { display: block; }
.module.pkh-stage .stage-slide.type-asset .stage-asset img.img-hires, .module.pkh-stage .stage-slide.type-video .stage-asset img.img-hires { width: 60%; }
.module.pkh-stage .stage-slide.type-asset.var-left .stage-asset, .module.pkh-stage .stage-slide.type-video.var-left .stage-asset { left: auto; right: 0; }
.module.pkh-stage .stage-slide.type-asset.var-right .stage-text-wrapper, .module.pkh-stage .stage-slide.type-video.var-right .stage-text-wrapper { margin-left: 45%; }
.module.pkh-stage .stage-slide h2 a { display: block; transition: opacity .3s; -webKit-transition: opacity .3s; }
.module.pkh-stage .stage-slide h2 a:hover { opacity: .8; }
.module.pkh-stage .stage-slide.var-blue { color: #0A3478; }
.module.pkh-stage .stage-slide.var-blue h2 a { color: #0A3478; }
.module.pkh-stage .stage-slide.var-white { color: #FFF; }
.module.pkh-stage .stage-slide.var-white h2 a { color: #FFF; }
.module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text-wrapper h1, .module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text-wrapper h2 { text-shadow: 0px 1px 15px black; /*0px 1px 4px #000*/ }
.module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text-list, .module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text { text-shadow: 0px 1px 10px black; /*0px 1px 4px #000*/ }
.module.pkh-stage .stage-slide.var-grey { color: #333; }
.module.pkh-stage .stage-slide.var-grey h2 a { color: #333; }
.module.pkh-stage .stage-slide.var-right .stage-text-wrapper { margin-left: 55%; }
.module.pkh-stage .stage-slide .play-button { display: none; }
.module.pkh-stage .stage-arrow { padding: 0; text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); cursor: pointer; position: absolute; background: none; border: 0; font-size: 34px; margin-top: -18px; top: 50%; z-index: 1000; color: #FFF; transition: opacity .3s; -webKit-transition: opacity .3s; }
.module.pkh-stage .stage-arrow.icon-arrow-left { left: 18px; }
.module.pkh-stage .stage-arrow.icon-arrow-right { right: 18px; }
.module.pkh-stage .stage-arrow.slick-disabled { opacity: .3; filter: alpha(opacity=30); cursor: default; }
.module.pkh-stage .stage-arrow:hover { opacity: .6; filter: alpha(opacity=60); }
.module.pkh-stage .slick-dots { position: absolute; left: 0; bottom: 9px; width: 100%; text-align: center; z-index: 1000; }
.module.pkh-stage .slick-dots li.slick-active span { color: #ff0000; cursor: default; }
.module.pkh-stage .slick-dots li { display: inline-block; font-family: 'PostbankPKIcons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 20px; width: 20px; height: 20px; line-height: 21px; position: relative; color: #FFF; cursor: pointer; margin: 0 7px; overflow: hidden; background-color: rgba(255, 255, 255, 0.25); border-radius: 50%; -webKit-border-radius: 50%; transition: color .3s; -webKit-transition: color .3s; }
.module.pkh-stage .slick-dots li:before { position: relative; content: "\e60e"; z-index: 1; }
.module.pkh-stage .slick-dots li.slick-active { color: #0A3478; cursor: default; }
.module.pkh-stage .slick-dots li:not(.slick-active):hover { color: #0A3478; opacity: .65; filter: alpha(opacity=650); }
/* main stage breakpoint */
@media (min-width: 1025px) { .module.pkh-stage .stage-slide { height: 41.66667em; }
  .module.pkh-stage .stage-slide.var-right.type-asset .stage-text-wrapper { padding: 0; } }
/* main stage */
@media (min-width: 1150px) { .module.pkh-stage .stage-slide.type-full { height: 46.25em; } }
@media (min-width: 1201px) { .module.pkh-stage .stage-slide.type-full { height: 50em; } }
@media (min-width: 1300px) { .module.pkh-stage .stage-slide.type-full { height: 54.16667em; } }
@media (min-width: 1400px) { .module.pkh-stage .stage-slide.type-full { height: 58.33333em; } }
@media (min-width: 1600px) { .module.pkh-stage .stage-slide.type-full { height: 61.58333em; } }
/* */
@media (max-width: 1500px) { .ie8 .module.pkh-stage .stage-slide .stage-image img { height: 100%; max-width: 100%; }
  .ie8 .main-pkh-wrapper .container { max-width: 93.33333em; } }
@media (max-width: 1200px) { .ie8 .main-pkh-wrapper .container { max-width: 83.33333em; } }
.no-backgroundsize .module.pkh-stage .stage-slide { background: none !important; }
.ie8 { /* SLIDER DOTS */ }
.ie8 .slick-dots li { background-color: none; background-image: url(/privatkunden/images/slider-dots_new.png); background-repeat: no-repeat; background-position: left top; }
.ie8 .slick-dots li:before { display: none; }
.ie8 .slick-dots li.slick-active { background-position: left bottom; }
.ie8 .slick-dots li:hover { background-position: left bottom; }
.ie8 .module.pkh-stage .stage-slide .stage-image img { width: 100%; }
.ie8 .module.pkh-stage .stage-slide .stage-text-wrapper { top: 25%; }
.ie8 .module.pkh-stage .stage-slide.var-white { color: #FFF; }
.ie8 .module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text-wrapper h1, .ie8 .module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text-wrapper h2 { text-shadow: 0px 1px 4px #000; filter: shadow(color=#333333, direction=135, strength=2.5); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#333333,direction=135,strength=2.5)"; }
.ie8 .module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text-list, .ie8 .module.pkh-stage .stage-slide.var-white.var-textShadow .stage-text { text-shadow: 0px 1px 4px #000; filter: shadow(color=#333333, direction=135, strength=2.5); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#333333,direction=135,strength=2.5)"; position: relative; }
.ie8 .module.pkh-stage .stage-slide.var-blue h2 a:hover { color: #3b5d93; }
.ie8 .module.pkh-stage .stage-slide.var-white h2 a:hover { color: #e8e8e8; }
.ie8 .module.pkh-stage .stage-slide.var-grey h2 a:hover { color: #555; }
.ie8 .module.pkh-stage .valign { display: none; }
.ie8 .type-asset.module.pkh-stage .stage-asset { top: 0; }
.pkh-stage .var-right .stage-eyecatcher { right: auto; left: 32px; }
.pkh-stage .var-right .stage-eyecatcher .stage-eyecatcher_wrap, .pkh-stage .var-right .stage-eyecatcher .stage-eyecatcher .first-view { float: left; }
.pkh-stage .var-right .stage-eyecatcher .first-view { right: auto; left: 0; }
.pkh-stage .var-right .stage-eyecatcher .open-more { right: auto; left: 0; }
.pkh-stage .var-right .stage-eyecatcher .price, .pkh-stage .var-right .stage-eyecatcher .sub-title { padding-left: 53px; padding-right: 10px; }
.pkh-stage .var-right .stage-eyecatcher .title, .pkh-stage .var-right .stage-eyecatcher .text { padding-left: 55px; padding-right: 7px; }
@media (min-width: 600px) { .touch .stage-eyecatcher { -webkit-border-top-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-topleft: 10px; -moz-border-radius-bottomleft: 10px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
  .touch .stage-eyecatcher .open-more { -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-bottomright: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
  .touch .teaser-item .stage-eyecatcher .open-more { -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
  .touch .pkh-stage .var-right .stage-eyecatcher .open-more { -webkit-border-radius: 10px; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-right-radius: 0px; -moz-border-radius: 10px; -moz-border-radius-topright: 0px; -moz-border-radius-bottomright: 0px; border-radius: 10px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; } }
.stage-eyecatcher { position: absolute; right: 32px; bottom: 32px; display: block; background-color: #5371a0; -moz-border-radius: 10px / 10px; -webkit-border-radius: 10px 10px; border-radius: 10px / 10px; padding-top: 8px; padding-bottom: 9px; overflow: hidden; z-index: 2; }
.stage-eyecatcher .stage-eyecatcher_wrap { position: relative; width: 100%; }
.stage-eyecatcher .first-view, .stage-eyecatcher .second-view { color: #FFF; font-family: "FrutigerLTW02-55Roman"; font-weight: 600; }
.stage-eyecatcher .stage-eyecatcher_wrap, .stage-eyecatcher .first-view { float: right; }
.stage-eyecatcher .first-view { bottom: 0; right: 0; }
.stage-eyecatcher .second-view { display: none; opacity: 0; filter: alpha(opacity=0); position: absolute; top: 0; left: 0; }
.stage-eyecatcher .price, .stage-eyecatcher .sub-title { padding-right: 52px; padding-left: 11.5px; }
.stage-eyecatcher .title { padding-top: 3px; }
.stage-eyecatcher .title, .stage-eyecatcher .text { padding-right: 49px; padding-left: 14px; float: none; }
.stage-eyecatcher a { color: #FFF; text-decoration: underline; }
.stage-eyecatcher a:hover { text-decoration: none; }
.stage-eyecatcher .before-price { font-size: 29px; }
.stage-eyecatcher .price { display: block; line-height: 50px; font-size: 51px; }
.stage-eyecatcher .sub-title { letter-spacing: .5px; font-size: 12px; display: block; }
.stage-eyecatcher .title, .stage-eyecatcher .text { line-height: 140%; font-size: 14px; }
.stage-eyecatcher .title { color: #FFF; font-weight: bold; }
.stage-eyecatcher .text { color: #FFF; font-family: "FrutigerLTW02-55Roman"; margin: 0; font-weight: 400; }
.stage-eyecatcher .text span { word-break: break-all; }
.stage-eyecatcher .text ul { margin: 5px 0 8px; }
.stage-eyecatcher .text ul li { list-style: none; position: relative; padding-left: 13px; line-height: 1.1; margin-bottom: 5px; }
.stage-eyecatcher .text ul li:before { position: absolute; content: "-"; left: 3px; display: inline-block; }
.stage-eyecatcher .open-more { outline: none; position: absolute; right: 0; top: 0; background-color: #0A3478; width: 40px; height: 100%; cursor: pointer;         /*display: block;
        display: table-cell; text-align: center; vertical-align: middle;*/ }
.stage-eyecatcher .open-more:before { display: block; position: absolute; top: 50%; left: 50%; color: #fff; font-size: 23px; margin-top: -11.5px; margin-left: -11.5px; width: 23px; height: 23px; }
.stage-eyecatcher .open-more.active:before { content: "\e603" !important; font-size: 18px; margin-top: -9px; margin-left: -9px; width: 18px; height: 18px; }
.touch .stage-eyecatcher .open-more.active { background: #3B5D93; }
.no-touch .stage-eyecatcher .open-more:hover { background: #3B5D93; }
.ie8 .stage-eyecatcher .open-more, .ie8 .teaser-item .open-more { background-repeat: no-repeat; background-position: center center; }
.ie8 .stage-eyecatcher .open-more:before, .ie8 .teaser-item .open-more:before { display: none; }
.ie8 .open-more .icon-info-buehne { color: #fff; position: absolute; left: 50%; top: 50%; }
.ie8 .open-more.active .icon-info-buehne:before { content: "\e603"; }
.ie8 .stage-eyecatcher .sub-title { letter-spacing: normal; }
.ie8 .stage-eyecatcher .open-more .icon-info-buehne { font-size: 23px; margin-top: -11.5px; margin-left: -11.5px; width: 23px; height: 23px; }
.ie8 .stage-eyecatcher .open-more.active .icon-info-buehne { font-size: 19px; margin-top: -9.5px; margin-left: -9.5px; width: 19px; height: 19px; }
.ie8 .teaser-item .open-more .icon-info-buehne { font-size: 18px; margin-top: -9px; margin-left: -9px; width: 18px; height: 18px; }
.ie8 .teaser-item .open-more.active .icon-info-buehne { font-size: 16px; margin-top: -8px; margin-left: -8px; width: 16px; height: 16px; }
/* small eyecatcher */
.teaser-item .stage-eyecatcher { padding-top: 7px; padding-bottom: 5px; -moz-border-radius: 5px / 5px; -webkit-border-radius: 5px 5px; border-radius: 5px / 5px; right: 16px; bottom: 26px; }
.teaser-item .stage-eyecatcher .price, .teaser-item .stage-eyecatcher .sub-title { padding-right: 40px; padding-left: 6px; }
.teaser-item .stage-eyecatcher .title { padding-top: 4px; }
.teaser-item .stage-eyecatcher .title, .teaser-item .stage-eyecatcher .text { padding-right: 43px; padding-left: 14px; }
.teaser-item .stage-eyecatcher .text { padding-top: 0 !important; padding-bottom: 3px !important; }
.teaser-item .stage-eyecatcher .before-price { font-size: 16px; }
.teaser-item .stage-eyecatcher .price { line-height: 22px; font-size: 23px; }
.teaser-item .stage-eyecatcher .title, .teaser-item .stage-eyecatcher .text { margin: 0 !important; min-height: 0 !important; line-height: 140% !important; }
.teaser-item .stage-eyecatcher .open-more { width: 30px; }
.teaser-item .stage-eyecatcher .open-more:before { content: "\e60c"; font-size: 18px; margin-top: -9px; margin-left: -9px; width: 18px; height: 18px; }
.teaser-item .stage-eyecatcher .open-more.active:before { font-size: 15px; margin-top: -7.5px; margin-left: -7.5px; width: 15px; height: 15px; }
.pkh-fixed-sizes .stage-eyecatcher { bottom: 16px; right: 22px; }
.stage-paydirekt { position: absolute; left: 52px; bottom: 32px; }
.stage-paydirekt.var-right { left: auto; right: 32px; }
.stage-paydirekt.var-right img { float: right; }
.stage-paydirekt.var-right p { text-align: right; }
.stage-paydirekt p { font-size: 14px; margin: 0 0 11px; padding: 0; color: #333; }
.stage-paydirekt p.white { color: #fff; }
.stage-paydirekt img { width: 106px; display: block; }
.ie8 .stage-paydirekt { left: 41px; }
.no-touch .type-telefon, .no-touch .type-telefon span { cursor: default; }
.no-touch .type-telefon:hover .title-small, .no-touch .type-telefon:hover span, .no-touch .type-telefon span:hover .title-small, .no-touch .type-telefon span:hover span { color: #0A3478 !important; }
.module.pkh-contact-service { background-color: #FFF; /*****************************  BREAKPOINT LARGE  ****************************/ }
.module.pkh-contact-service .container { height: 25.33333em; }
.module.pkh-contact-service .title { font-size: 2.5em; line-height: 1em; text-align: center; color: #333; font-weight: bold; display: block; margin-top: 1.33333em; }
.module.pkh-contact-service .contact-items { margin-top: 1.25em; height: 15.25em; }
.module.pkh-contact-service .contact-item { position: relative; display: block; height: 100%; }
.module.pkh-contact-service .contact-item:before { display: block; content: ''; background-color: #b2b2b2; position: absolute; width: 1px; height: 132px; margin-top: 25px; margin-left: -0.75em; }
.module.pkh-contact-service .contact-item:nth-child(1):before { display: none; }
.module.pkh-contact-service .contact-item:hover .contact-icon, .module.pkh-contact-service .contact-item:hover .title-small { color: #3B5D93; }
.module.pkh-contact-service.var-items-3 .contact-item.item-0 { width: 32.20339%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.module.pkh-contact-service.var-items-3 .contact-item.item-1 { width: 32.20339%; float: left; margin-right: -100%; margin-left: 33.89831%; clear: none; }
.module.pkh-contact-service.var-items-3 .contact-item.item-2 { width: 32.20339%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.module.pkh-contact-service.var-items-4 .contact-item.item-0 { width: 23.72881%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.module.pkh-contact-service.var-items-4 .contact-item.item-1 { width: 23.72881%; float: left; margin-right: -100%; margin-left: 25.42373%; clear: none; }
.module.pkh-contact-service.var-items-4 .contact-item.item-2 { width: 23.72881%; float: left; margin-right: -100%; margin-left: 50.84746%; clear: none; }
.module.pkh-contact-service.var-items-4 .contact-item.item-3 { width: 23.72881%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.module.pkh-contact-service.var-product-border-top { border-top: 2px solid #f3f5f8; }
.module.pkh-contact-service .contact-item .title-small, .module.pkh-contact-service .contact-item p, .module.pkh-contact-service .contact-item .contact-icon { text-align: center; }
.module.pkh-contact-service .contact-item .title-small { font-size: 1.33333em; font-family: "FrutigerLTW02-55Roman"; font-weight: 600; line-height: 1.3125em; margin-top: 7px; color: #0A3478; display: block; }
.module.pkh-contact-service .contact-item p { font-size: 14; line-height: 1.42857em; margin-top: 0.71429em; padding: 0 10px; }
.module.pkh-contact-service .contact-item .contact-icon { display: block; margin-top: 1.83333em; }
.module.pkh-contact-service .contact-item .contact-icon:before { font-family: "PostbankPKIcons"; font-size: 62px; }
.module.pkh-contact-service .contact-item.type-service .icon-service { width: auto; height: auto; background: none; }
@media (min-width: 85.41667em) { .module.pkh-contact-service .contact-item:before { margin-left: -0.85em; } }
.module.pkh-teaser { background-color: #f3f5f8; border-top: 1px solid #FFF; /*****************************  BREAKPOINT LARGE  ****************************/ /*****************************  BREAKPOINT EXTRA LARGE  ****************************/ }
.module.pkh-teaser > .container { overflow: visible; }
.module.pkh-teaser .container { height: auto; }
.module.pkh-teaser .teaser-items { margin-bottom: 5.16667em; }
.module.pkh-teaser .teaser-item .teaser-part-top .teaser-asset img { width: 100%; }
.module.pkh-teaser .teaser-item .teaser-part-top, .module.pkh-teaser .teaser-item .teaser-part-bottom { margin: 0 0.08333em; }
.module.pkh-teaser .teaser-item .teaser-bg-wrapper { position: absolute; bottom: 0; left: 0; right: 0; }
.module.pkh-teaser .teaser-item .teaser-bg-wrapper .teaser-bg-image { background-image: url(/privatkunden/images/bg-teaser.png); background-size: 100%; background-position: center top; background-repeat: no-repeat; height: 3.66667em; }
.module.pkh-teaser .teaser-item .teaser-bg-wrapper .teaser-bg-white { background-color: #FFF; height: 2.16667em; width: 100%; }
.module.pkh-teaser .teaser-item .teaser-part-top { position: relative; height: 16.58333em; }
.module.pkh-teaser .teaser-item .teaser-part-bottom { position: relative; background-color: #FFF; padding: 0.75em 1.33333em 0 1.33333em; height: 23.08333em; }
.module.pkh-teaser .teaser-item .title { font-family: "FrutigerLTW02-55Roman"; font-weight: 600; color: #0A3478; display: block; }
.module.pkh-teaser .teaser-item .title, .module.pkh-teaser .teaser-item h3 { font-size: 16px; line-height: 1.3125em; min-height: 3.33333em; }
.module.pkh-teaser .teaser-item .title i, .module.pkh-teaser .teaser-item h3 i { font-weight: 600; }
.module.pkh-teaser .teaser-item p { line-height: 1.35714em; line-height: 140%; padding-top: 0.64286em; padding-bottom: 2.5em; margin: 0; }
.module.pkh-teaser .teaser-item .teaser-button-wrapper { position: absolute; left: 0; right: 0; bottom: 2.5em; text-align: center; }
.module.pkh-teaser .teaser-item .teaser-asset { position: absolute; text-align: center; width: 100%; height: 100%; top: 13px; font-size: 0; }
.module.pkh-teaser .teaser-item .teaser-asset .valign { margin-left: -10px; }
.module.pkh-teaser .teaser-item .teaser-asset img { display: inline-block; vertical-align: bottom; vertical-align: middle; }
.module.pkh-teaser .teaser-item .teaser-asset img.img-hires { width: 100%; }
.module.pkh-teaser.var-items-1 .teaser-items { margin-bottom: 0; }
.module.pkh-teaser.var-items-1 .teaser-item { background-color: transparent; box-sizing: border-box; }
.module.pkh-teaser.var-items-1 .teaser-item:before, .module.pkh-teaser.var-items-1 .teaser-item:after { content: "."; display: block; height: 0; overflow: hidden; }
.module.pkh-teaser.var-items-1 .teaser-item:after { clear: both; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-part-top, .module.pkh-teaser.var-items-1 .teaser-item .teaser-part-bottom { margin: 0; height: 28.16667em; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-part-top { float: right; width: 37.25em; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-part-bottom { float: left; width: 49%; background-color: transparent; padding-left: 2.66667em; padding-top: 5.16667em; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-button-wrapper { position: static; bottom: initial; text-align: left; }
.module.pkh-teaser.var-items-1 .teaser-item .title, .module.pkh-teaser.var-items-1 .teaser-item h3 { font-size: 1.91667em; line-height: 140%; display: inline; }
.module.pkh-teaser.var-items-1 .teaser-item p { padding-top: 1.14286em; padding-right: 4.5em; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-bg-wrapper { display: none; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-asset .valign { display: none; }
.module.pkh-teaser.var-items-1 .teaser-item .teaser-asset img.img-hires { width: 100%; }
.module.pkh-teaser.var-items-2 .teaser-item .teaser-part-top .teaser-asset img { max-width: none; }
.module.pkh-teaser.var-items-2 .teaser-item .teaser-part-bottom { padding-top: 1.25em; height: 20.41667em; }
.module.pkh-teaser.var-items-2 .teaser-item.item-0 { width: 49.15254%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.module.pkh-teaser.var-items-2 .teaser-item.item-1 { width: 49.15254%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item { width: 40.41667em; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .title { min-height: auto !important; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .title:hover { color: #3b5d93; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item p { padding-top: 1.66667em; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-top { height: 298px; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-top .teaser-asset { top: 43px; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-top .teaser-asset img { max-width: none; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-top .stage-eyecatcher { right: 32px; bottom: 16px; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-bottom { padding-top: 3em; height: 20.41667em; padding-left: 2.66667em; padding-right: 2.66667em; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .valign { display: none; }
.module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-button-wrapper { bottom: 3.33333em; }
.module.pkh-teaser.var-items-3 .teaser-item.item-0 { width: 32.20339%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.module.pkh-teaser.var-items-3 .teaser-item.item-1 { width: 32.20339%; float: left; margin-right: -100%; margin-left: 33.89831%; clear: none; }
.module.pkh-teaser.var-items-3 .teaser-item.item-2 { width: 32.20339%; float: right; margin-left: 0; margin-right: 0; clear: none; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item { width: 316px; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .title { min-height: auto !important; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .title:hover { color: #3b5d93; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item p { padding-top: 1.66667em; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .teaser-part-top .teaser-asset { top: 43px; height: 167px; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .teaser-part-top .teaser-asset img { max-width: none; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .teaser-part-top .stage-eyecatcher { right: 32px; bottom: 16px; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .teaser-part-bottom { padding-top: 3em; padding-left: 2.66667em; padding-right: 2.66667em; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .valign { display: none; }
.module.pkh-teaser.var-items-3 .link-teaser.teaser-item .teaser-button-wrapper { bottom: 3.33333em; }
@media (min-width: 85.41667em) { .module.pkh-teaser .teaser-item .teaser-part-bottom { padding-left: 1.58333em; padding-right: 1.58333em; }
  .module.pkh-teaser .teaser-item .teaser-bg-wrapper .teaser-bg-image { height: 4.33333em; }
  .module.pkh-teaser.var-items-2 .teaser-item .teaser-part-top { height: 19.33333em; }
  .module.pkh-teaser.var-items-2 .teaser-item .teaser-part-top .teaser-bg-white { height: 2.08333em; }
  .module.pkh-teaser.var-items-2 .teaser-item .teaser-part-bottom { height: 20.16667em; padding-top: 1em; }
  .module.pkh-teaser.var-items-2 .link-teaser.teaser-item { width: 47.58333em; }
  .module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-top { height: 344px; }
  .module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-bottom { height: 20.16667em; padding-top: 3.08333em; }
  .module.pkh-teaser.var-items-3 .link-teaser.teaser-item { width: 375px; }
  .module.pkh-teaser.var-items-3 .link-teaser.teaser-item .teaser-asset { height: 198px; } }
@media (min-width: 100.08333em) { .module.pkh-teaser.var-items-2 .link-teaser.teaser-item .title, .module.pkh-teaser.var-items-2 .link-teaser.teaser-item h2 { font-size: 1.66667em; }
  .module.pkh-teaser.var-items-2 .link-teaser.teaser-item .teaser-part-bottom { padding-left: 3em; } }
.ie8 .module.pkh-teaser .teaser-item .teaser-part-top { height: 19.58333em; }
.ie8 .module.pkh-teaser .teaser-item.link-teaser .teaser-part-top { height: 25.33333em; }
.module.pkh-teaser-fullscreen { overflow: hidden; background-color: transparent; /* 
    quotation-mark full teaser template
*/ /**/ /*****************************  BREAKPOINT LARGE  ****************************/ }
.module.pkh-teaser-fullscreen.var-bg-default { background-color: #ced6e4; }
.module.pkh-teaser-fullscreen.var-bg-default .teaser-page-indicator { bottom: 2em; }
.module.pkh-teaser-fullscreen.var-bg-transparent { background-color: transparent; }
.module.pkh-teaser-fullscreen .container { height: 28.83333em; position: relative; }
.module.pkh-teaser-fullscreen.var-bg-autoHeight { background: #ced6e4; }
.module.pkh-teaser-fullscreen.var-bg-autoHeight .container { height: auto !important; }
.module.pkh-teaser-fullscreen.var-bg-autoHeight .teaser-page-buttons .page-button { text-shadow: none; }
.module.pkh-teaser-fullscreen.var-bg-carousel { background-color: #ced6e4; }
.module.pkh-teaser-fullscreen.var-bg-carousel .container { height: 32.66667em; }
.module.pkh-teaser-fullscreen .title-fullteaser { font-size: 23px; font-family: "FrutigerLTW02-55Roman"; font-weight: 600; line-height: 140%; color: #0A3478; margin-bottom: 1em; display: block; }
.module.pkh-teaser-fullscreen .title-fullteaser .h3-light { font-family: "FrutigerLTW02-55Roman"; font-weight: 200; letter-spacing: -1px; }
.module.pkh-teaser-fullscreen .title-qm { margin: 69px 0 27px 31px; color: #333; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark { padding: 0 0 46px; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .qm-sentence-wraper { position: relative; display: table-cell; vertical-align: top; max-width: 47.16667em; top: 9px; padding-left: 2.91667em; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .icon-qm { color: #e7ebf2; font-size: 1.58333em; position: absolute; left: 0; top: 0; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark.teaser-item { background-color: #ced6e3; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark.teaser-item .teaser-bg { display: table-cell; padding-left: 5.33333em; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark.teaser-item .teaser-bg > img { width: 15.75em; display: block; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark.teaser-item .teaser-bg { position: static; padding-right: 3.91667em; width: auto; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .teaser-content-wrapper { width: 100%; display: block; margin-left: 0; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .teaser-content-wrapper:after { clear: both; content: ""; display: block; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .qm-text, .module.pkh-teaser-fullscreen .tmp-quotation-mark .qm-sub-text { color: #333; display: block; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .qm-text { margin-bottom: 15px; margin-top: 9px; line-height: 22px; font-size: 16px; }
.module.pkh-teaser-fullscreen .tmp-quotation-mark .qm-sub-text { line-height: 20px; font-size: 14px; }
.module.pkh-teaser-fullscreen .teaser-content-wrapper { position: relative; z-index: 5; display: inline-block; vertical-align: middle; height: auto; font-size: 12px; margin-left: 2.5em; width: 35em; }
/*.module.pkh-teaser-fullscreen .teaser-content-wrapper p { font-size: 1.33333em; line-height: 1.375em; color: #0A3478; }*/
.module.pkh-teaser-fullscreen .teaser-content-wrapper .teaser-button-wrapper { margin-top: 2.91667em; }
.module.pkh-teaser-fullscreen .teaser-items { position: relative; white-space: nowrap; height: 100%; width: 100%; left: 0; font-size: 0; -moz-transform: translate(0%, 0px) translate3d(0%, 0px, 0px); -ms-transform: translate(0%, 0px) translate3d(0%, 0px, 0px); -webkit-transform: translate(0%, 0px) translate3d(0%, 0px, 0px); transform: translate(0%, 0px) translate3d(0%, 0px, 0px); -moz-transition: all 0.7s ease-in-out; -o-transition: all 0.7s ease-in-out; -webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out; }
.module.pkh-teaser-fullscreen.var-bg-carousel .teaser-items { height: 32.66667em; }
.module.pkh-teaser-fullscreen .teaser-item { float: none; position: relative; display: inline-block; overflow: hidden; width: 100%; height: 100%; max-width: none; white-space: normal; }
.module.pkh-teaser-fullscreen .teaser-item .valign { margin-left: -10px; }
.module.pkh-teaser-fullscreen .teaser-item .teaser-bg { position: absolute; z-index: 0; left: 0; right: 0; top: -1px; bottom: 0; }
.module.pkh-teaser-fullscreen .teaser-item .teaser-bg > img { width: 100%; }
.module.pkh-teaser-fullscreen .teaser-item.var-right .teaser-content-wrapper { margin-left: 43.33333em; }
.module.pkh-teaser-fullscreen .teaser-item.var-white .teaser-content-wrapper .title-fullteaser, .module.pkh-teaser-fullscreen .teaser-item.var-white .teaser-content-wrapper p, .module.pkh-teaser-fullscreen .teaser-item.var-white .teaser-content-wrapper .h3-light { color: #FFF; }
.module.pkh-teaser-fullscreen.var-bg-carousel .teaser-item { height: auto; }
.module.pkh-teaser-fullscreen.teaser-carousel .teaser-item { position: absolute; display: none; top: 0; }
.module.pkh-teaser-fullscreen.teaser-carousel .teaser-item.active { left: 0; display: block; }
.module.pkh-teaser-fullscreen.teaser-carousel .teaser-item.prev { left: -100%; display: block; }
.module.pkh-teaser-fullscreen.teaser-carousel .teaser-item.next { left: 100%; display: block; }
.module.pkh-teaser-fullscreen .teaser-page-indicator { position: relative; height: auto; bottom: 1em; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator-wrapper { display: block; line-height: 0; text-align: center; white-space: nowrap; padding: 0; margin: 0; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator { display: inline-block; cursor: pointer; margin-left: 0.58333em; margin-right: 1px; transition: color .2s; -webKit-transition: color .2s; font-size: 20px; width: 10px; height: 10px; color: #FFF; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator:before { position: relative; left: -4px; top: -5px; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator:hover { color: #3B5D93; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator.active { color: #0A3478; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator.active:before { content: "\e60e "; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator.active:hover { cursor: default; }
.module.pkh-teaser-fullscreen .teaser-page-indicator .indicator.first { margin-left: 1px; }
.module.pkh-teaser-fullscreen.var-bg-carousel .teaser-page-indicator { position: absolute; left: 0; right: 0; }
.module.pkh-teaser-fullscreen .teaser-page-buttons { position: absolute; z-index: 5; top: 50%; left: 0; right: 0; margin-top: -2.08333em; height: auto; }
.module.pkh-teaser-fullscreen .teaser-page-buttons .page-button { display: block; position: relative; padding: 0.83333em 0.41667em; text-shadow: 10px 0 22px rgba(0, 0, 0, 0.2); }
.module.pkh-teaser-fullscreen .teaser-page-buttons .page-button:before { color: #0A3478; font-size: 30px; }
.module.pkh-teaser-fullscreen .teaser-page-buttons .page-button:hover:before { color: #3B5D93; }
.module.pkh-teaser-fullscreen .teaser-page-buttons .page-button.prev { float: left; }
.module.pkh-teaser-fullscreen .teaser-page-buttons .page-button.next { float: right; }
@media (min-width: 85.41667em) { .module.pkh-teaser-fullscreen .container { height: 34.33333em; }
  .module.pkh-teaser-fullscreen.var-bg-carousel .container { height: 32.66667em; }
  .module.pkh-teaser-fullscreen.var-bg-carousel .teaser-items { height: 32.66667em; }
  .module.pkh-teaser-fullscreen .teaser-item.var-right .teaser-content-wrapper { margin-left: 55.41667em; } }
.ie .module.pkh-teaser-fullscreen.var-bg-carousel .container { height: 32.66667em; }
@media (min-width: 85.41667em) {   .ie .module.pkh-teaser-fullscreen.var-bg-carousel .container { height: 32.66667em; } }
.isFixed { position: fixed; width: 100%; }
.touch .ovl-disable { position: absolute; left: 0; top: 0; width: 100%; height: 100%; cursor: text; }
.module.pkh-questions-answers { background-color: #f6f7f9; }
.module.pkh-questions-answers .qa-template { display: none; }
.module.pkh-questions-answers .qa-fake-form { display: block; box-sizing: border-box; -webKit-box-sizing: border-box; width: 100%; padding: 30px 31px; }
.module.pkh-questions-answers .qa-fake-form label, .module.pkh-questions-answers .qa-fake-form input { height: 53px; line-height: 56px; }
.module.pkh-questions-answers .qa-fake-form label { float: left; color: #1a1a1c; font-size: 17px; color: #333; }
.module.pkh-questions-answers .qa-fake-form .input-field { float: right; width: 52.6%; margin-left: 15px; margin-right: 8px; position: relative; }
.module.pkh-questions-answers .qa-fake-form .input-field:before { position: absolute; font-size: 14px; left: 20px; top: 20px; font-weight: bold; color: #999; }
.module.pkh-questions-answers .qa-fake-form input { border-radius: 5px; -webKit-border-radius: 5px; box-sizing: border-box; -webKit-box-sizing: border-box; padding: 0 10px 0 44px; color: #999; width: 100%; cursor: text; font-size: 14px; border: 0; }
.module.pkh-questions-answers .qa-fake-form:after { clear: both; display: block; content: ""; }
.module.pkh-questions-answers .qa-form { display: none; position: fixed; background: #fff; border-radius: 5px; -webKit-border-radius: 5px; width: 820px; top: 100px; z-index: 10; left: 50%; margin-left: -410px; -webkit-box-shadow: 0px 0px 74px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 74px 2px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 74px 2px rgba(0, 0, 0, 0.5); }
.module.pkh-questions-answers .qa-form fieldset { padding: 30px 32px; }
.module.pkh-questions-answers .qa-form .qa-main-input { width: 732px; color: #333; font-size: 20px; border: 0; line-height: 1.3; }
.module.pkh-questions-answers .qa-form .close-question { cursor: pointer; position: absolute; right: 0; top: 0; display: block; width: 62px; height: 90px; line-height: 90px; text-align: center; }
.module.pkh-questions-answers .qa-form .close-question:before { font-size: 17px; font-weight: bold; }
.module.pkh-questions-answers .qa-form .qa-form-answers { border-top: 1px solid #e5e5e5; padding: 35px 48px; }
.module.pkh-questions-answers .qa-form .qa-form-answers li { margin-bottom: 22px; font-size: 14px; }
.module.pkh-questions-answers .qa-form .qa-form-answers li:last-of-type { margin-bottom: 0; }
.module.pkh-questions-answers .qa-form .qa-form-answers li a span { display: inline-block; font-weight: 700; font-size: 11px; margin-right: 5px; }
.module.pkh-questions-answers .qa-form .qa-form-answers a { position: relative; line-height: 140%; color: #0A3478; display: inline; }
.module.pkh-questions-answers .qa-form .qa-form-answers a:before { display: inline-block; font-weight: bold; font-size: 11px; margin-right: 5px; }
.module.pkh-questions-answers .qa-form .qa-form-more { padding: 23px 48px 26px; border-top: 1px solid #e5e5e5; }
.module.pkh-questions-answers .qa-form .qa-form-more .label-group { font-size: 14px; color: #4c4c4c; float: left; margin-top: 14px; max-width: 600px; }
.module.pkh-questions-answers .qa-form .qa-form-more .label-group .blue { display: block; color: #0A3478; }
.module.pkh-questions-answers .qa-form .qa-form-more a { float: right; }
.module.pkh-questions-answers .qa-form .qa-form-more:after { content: ""; clear: both; display: block; }
.module.pkh-questions-answers .qa-form .qa-no-answers { border-top: 1px solid #e5e5e5; padding: 35px 48px 60px 48px; }
.module.pkh-questions-answers .qa-form .qa-no-answers p { font-size: 14px; color: #4c4c4c; line-height: 19.5px; margin-bottom: 24px; clear: both; float: none; display: block; }
.module.pkh-questions-answers .qa-form .qa-no-answers .email-ie-placeholder { display: none; }
.module.pkh-questions-answers .qa-form .qa-no-answers .email-box:after { clear: both; content: ""; display: block; }
.module.pkh-questions-answers .qa-form .qa-no-answers .email-box label.error { font-size: 14px; color: #a9000f; float: left; display: none; margin-left: 20px; line-height: 54px; height: 54px; }
.module.pkh-questions-answers .qa-form .qa-no-answers .email-box .input-field { float: left; width: 421px; margin-bottom: 29px; }
.module.pkh-questions-answers .qa-form .qa-no-answers .email-box input { width: 53%; float: left; display: block; border: 1px solid transparent; border-radius: 5px; -webKit-border-radius: 5px; line-height: 54px; height: 54px; font-size: 14px; color: #999; background-color: #f3f5f8; padding: 0 20px; margin: 0 0 30px; }
.module.pkh-questions-answers .qa-form .qa-no-answers .email-box input.error { border: 1px solid #a9000f; }
.module.pkh-questions-answers .qa-form .qa-msg-sent { padding: 50px 48px; }
.module.pkh-questions-answers .qa-form .qa-msg-sent h6 { color: #333; font-size: 23px; margin-bottom: 14px; }
.module.pkh-questions-answers .qa-form .qa-msg-sent .message { font-size: 14px; color: #4c4c4c; }
.module.pkh-questions-answers .qa-form .qa-msg-sent .message:before { color: #fecb00; font-size: 21px; position: relative; top: 4px; margin-right: 8px; }
.module.pkh-questions-answers .qa-form .loader { background: url(/privatkunden/images/ajax-loader.gif) no-repeat center center; display: none; width: 32px; margin: 0 auto 30px; height: 32px; }
.ie8 .module.pkh-questions-answers .qa-form { border: 2px solid #E5E5E5; }
.ie8 .module.pkh-questions-answers .qa-form fieldset { min-height: 0; padding: 30px 32px 25px; }
.ie8 .module.pkh-questions-answers .qa-form .qa-main-input { display: inline; line-height: 34px; height: 34px; }
.ie8 .module.pkh-questions-answers .qa-form .qa-no-answers:before { content: '-'; }
.ie8 .module.pkh-questions-answers .qa-form .qa-no-answers.loaded:before { content: ''; }
.ie8 .module.pkh-questions-answers .qa-form .qa-no-answers .email-ie-placeholder { display: block; }
.ie8 .module.pkh-questions-answers .qa-form .qa-form-answers li a:before { content: ''; }
.ie8 .module.pkh-questions-answers .qa-form .qa-form-answers li:before { content: '-'; }
.ie8 .module.pkh-questions-answers .qa-form .qa-form-answers li.loaded a span:before { content: "\e607"; }
.ie8 .module.pkh-questions-answers .qa-form .qa-form-answers li.loaded:before { content: ''; }
@media (max-width: 85.41667em) { .module.pkh-questions-answers .qa-fake-form .input-field { width: 43.6%; } }
/* Slider */
.slick-slider { position: relative; display: block; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }
.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.slick-track { position: relative; top: 0; left: 0; display: block; }
.slick-track:before, .slick-track:after { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
[dir='rtl'] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }
.module.pkh-teaser-video { overflow: visible; background-color: #ced6e4; }
.module.pkh-teaser-video:before, .module.pkh-teaser-video:after { content: "."; display: block; height: 0; overflow: hidden; }
.module.pkh-teaser-video:after { clear: both; }
.module.pkh-teaser-video .container { height: 30.33333em; }
.module.pkh-teaser-video .valign { margin-left: -10px; }
.module.pkh-teaser-video .teaser-content { display: inline-block; vertical-align: middle; margin-left: 3.5em; margin-top: -1.5em; }
.module.pkh-teaser-video .teaser-item { /*height from vollbildteaser spec*/ height: 30.33333em; }
.module.pkh-teaser-video .teaser-item.var-right .teaser-image-wrapper { width: 49.15254%; float: right; margin-left: 0; margin-right: 0; clear: none; text-align: left; }
.module.pkh-teaser-video .teaser-item.var-right .teaser-content-wrapper { width: 49.15254%; float: left; margin-right: -100%; margin-left: 0%; clear: none; }
.module.pkh-teaser-video .teaser-image-wrapper { width: 49.15254%; float: left; margin-right: -100%; margin-left: 0%; clear: none; height: 100%; text-align: right; }
.module.pkh-teaser-video .teaser-image-wrapper .teaser-image { display: inline-block; vertical-align: middle; height: 21.41667em; width: 40.33333em; background-position: top left; background-repeat: no-repeat; background-size: cover; text-align: center; }
.module.pkh-teaser-video .teaser-image-wrapper .teaser-image:hover { cursor: pointer; }
.module.pkh-teaser-video .video-play-button { vertical-align: middle; display: inline-block; }
.module.pkh-teaser-video .video-play-button img { height: 6em; }
.module.pkh-teaser-video .title-fullteaser { font-size: 1.91667em; font-family: "FrutigerLTW02-55Roman"; font-weight: 600; line-height: 140%; color: #0A3478; }
.module.pkh-teaser-video .copy-text { font-size: 1.33333em; line-height: 1.375em; color: #0A3478; margin-top: 1.25em; margin-bottom: 2.08333em; width: 26.25em; }
.module.pkh-teaser-video .teaser-content-wrapper { width: 49.15254%; float: right; margin-left: 0; margin-right: 0; clear: none; height: 100%; position: relative; }
@media (min-width: 85.41667em) { .module.pkh-teaser-video .teaser-content { margin-left: 4em; }
  .module.pkh-teaser-video .var-right .teaser-content { margin-left: 9.16667em; } }
/* === Postbank PK Home Overrides === */
.module { display: none; }
.module.page-type-0 { display: block; }
/* === Postbank PK Home CMS fixes === */
/* === IE Fixes BB === */
.ie7 .module.pkh-stage.var-blue p, .ie8 .module.pkh-stage.var-blue p { color: #0A3478 !important; }
.ie7 .module.pkh-stage.var-white p, .ie8 .module.pkh-stage.var-white p { color: #FFF !important; }
/* === Postbank PK Home Test style for debuggin === */
.text-template { display: block; clear: both; margin: 200px auto 0; max-width: 940px; }
.text-template p { margin: 0; }
.text-template ul { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 5px solid #0a3478; }
.text-template ul:after { clear: both; content: ""; display: block; float: none; }
.text-template ul li { float: left; margin-right: 15px; }
.text-template ul li a { display: block; }
.text-template ul li a.active { font-weight: bold; text-decoration: underline; }
.grid-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 988px; margin-left: 18px; margin-right: 18px; position: relative; height: 100%; }
.grid-wrapper:after { content: " "; display: block; clear: both; }
@media (min-width: 1042px) { .grid-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 988px; margin-left: auto; margin-right: auto; }
  .grid-wrapper:after { content: " "; display: block; clear: both; } }
@media (min-width: 1280px) { .grid-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 1176px; margin-left: auto; margin-right: auto; }
  .grid-wrapper:after { content: " "; display: block; clear: both; } }
.var-right > .grid-wrapper { margin-right: auto; }
.product-module.white { background-color: #FFF; }
/* === Product page modules === */
.element.pkh-button.pkh-product-button, .element.pkh-button.pkh-product-button-secondary { padding: 0 1.42857em; }
.element.pkh-button.pkh-product-button:hover, .element.pkh-button.pkh-product-button-secondary:hover { background-color: #3b5d93; }
.element.pkh-button.pkh-product-button .button-label:before, .element.pkh-button.pkh-product-button-secondary .button-label:before { font-family: "Ico-PDS"; font-size: 24px; vertical-align: middle; padding-right: 0.41667em; }
.element.pkh-button.pkh-product-button.var-download .button-label:before, .element.pkh-button.pkh-product-button-secondary.var-download .button-label:before { padding-right: 0.125em; content: "\e902"; }
.element.pkh-button.pkh-product-button.var-cart, .element.pkh-button.pkh-product-button-secondary.var-cart { font-size: 1.33333em; height: auto; line-height: 2.875em; font-weight: 300; }
.element.pkh-button.pkh-product-button.var-cart .button-label:before, .element.pkh-button.pkh-product-button-secondary.var-cart .button-label:before { font-size: 19px; content: "\e905"; }
.element.pkh-button.pkh-product-button.var-calc .button-label:before, .element.pkh-button.pkh-product-button-secondary.var-calc .button-label:before { font-size: 19px; content: "\e906"; }
.element.pkh-button.pkh-product-button-secondary { background-color: #ced6e4; color: #3B5D93; }
.element.pkh-button.pkh-product-button-secondary:hover { background-color: #B5C2D7; }
.no-borderradius .main-pkh-product-page .element.pkh-button:after, .no-borderradius .main-pkh-product-page .element.pkh-button:before, .no-borderradius .main-pkh-product-page .element.pkh-product-button-secondary:after, .no-borderradius .main-pkh-product-page .element.pkh-product-button-secondary:before { background: inherit; left: inherit; right: inherit; }
.module.pkh-product-stage { padding-bottom: 2.5em; }
.module.pkh-product-stage .product-stage-wrapper { background-size: cover; height: 65vh; min-height: 27.08333em; overflow: visible; }
.module.pkh-product-stage .stage-content { display: table; position: relative; height: 100%; margin-left: 32px; }
@media (min-width: 1280px) { .module.pkh-product-stage .stage-content { margin-left: 38px; } }
.module.pkh-product-stage .stage-text-wrapper { position: absolute; bottom: 15em; }
.module.pkh-product-stage .text-container { display: table-cell; height: 100%; vertical-align: bottom; padding-bottom: 2.5em; }
.module.pkh-product-stage .stage-title { margin-bottom: 20px; color: #333; font-weight: 600; }
@media (min-width: 1280px) { .module.pkh-product-stage .stage-title { margin-bottom: 26px; } }
.module.pkh-product-stage .stage-title > h1 { font-size: 3.33333em; line-height: 1.2em; }
.module.pkh-product-stage .stage-text { width: 368px; margin-bottom: 4em; }
.module.pkh-product-stage .stage-text a:link, .module.pkh-product-stage .stage-text a:visited { color: #0A3478; text-decoration: underline; }
.module.pkh-product-stage .stage-text > span { font-size: 1.33333em; line-height: 1.25em; }
@media (min-width: 1280px) { .module.pkh-product-stage .stage-text { width: 438px; margin-bottom: 4.75em; } }
.module.pkh-product-stage .stage-eyecatcher { position: relative; display: block; float: left; top: 0; bottom: 0; left: 0; right: 0; margin-bottom: 4em; }
@media (min-width: 1280px) { .module.pkh-product-stage .stage-eyecatcher { margin-bottom: 4.16667em; } }
.module.pkh-product-stage .var-left .stage-eyecatcher .stage-eyecatcher_wrap, .module.pkh-product-stage .var-left .stage-eyecatcher .stage-eyecatcher .first-view { float: left; }
.module.pkh-product-stage .var-left .stage-eyecatcher .first-view { left: 0; }
@media (min-width: 1280px) { .module.pkh-product-stage .var-left { left: 38px; } }
.module.pkh-product-stage .var-textOnly .stage-text-wrapper { bottom: 29px; }
.module.pkh-product-stage .var-textOnly .stage-eyecatcher { display: none; }
.module.pkh-product-stage .var-light { color: #FFF; }
.module.pkh-product-stage .var-light .stage-title { color: #FFF; }
.module.pkh-product-stage .var-light.var-textShadow .stage-text, .module.pkh-product-stage .var-light.var-textShadow .stage-title { text-shadow: 0 1px 15px black; /*0px 1px 4px #000*/ }
.ie8 .module.pkh-stage.var-light { color: #FFF; }
.ie8 .module.pkh-stage.var-light.var-textShadow .stage-text-wrapper h1, .ie8 .module.pkh-stage.var-light.var-textShadow .stage-text-wrapper h2 { text-shadow: 0 1px 4px #000; filter: shadow(color=#333333, direction=135, strength=2.5); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#333333,direction=135,strength=2.5)"; }
.ie8 .module.pkh-stage.var-light.var-textShadow .stage-text-list, .ie8 .module.pkh-stage.var-light.var-textShadow .stage-text { text-shadow: 0 1px 4px #000; filter: shadow(color=#333333, direction=135, strength=2.5); -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#333333,direction=135,strength=2.5)"; position: relative; }
.pkh-product-navigation { background-color: transparent; margin-top: -1.875em; margin-bottom: -1.875em; position: absolute; left: 0; right: 0; z-index: 10; font-size: 1.33333em; line-height: 1.375em; }
.pkh-product-navigation .navs { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 988px; margin-left: 18px; margin-right: 18px; background-color: #FFF; height: 60px; box-shadow: 0 0.25em 1.125em 0 #c7c7c7; }
.pkh-product-navigation .navs:after { content: " "; display: block; clear: both; }
@media (min-width: 1042px) { .pkh-product-navigation .navs { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 988px; margin-left: auto; margin-right: auto; }
  .pkh-product-navigation .navs:after { content: " "; display: block; clear: both; } }
@media (min-width: 1280px) { .pkh-product-navigation .navs { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 1176px; margin-left: auto; margin-right: auto; }
  .pkh-product-navigation .navs:after { content: " "; display: block; clear: both; } }
.ie8 .pkh-product-navigation .navs { zoom: 1; filter: progid:DXImageTransform.Microsoft.Shadow(Color=#c7c7c7, Strength=4, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#c7c7c7, Strength=4, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#c7c7c7, Strength=4, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#c7c7c7, Strength=4, Direction=270); }
.pkh-product-navigation.sticky { background-color: #FFF; position: fixed; top: 0; margin-top: 0; box-shadow: 0 0.25em 1.125em 0 #c7c7c7; }
.ie8 .pkh-product-navigation.sticky { margin-top: -0.41667em; }
.ie8 .pkh-product-navigation.sticky { zoom: 1; filter: progid:DXImageTransform.Microsoft.Shadow(Color=#c7c7c7, Strength=4, Direction=180); }
.pkh-product-navigation.sticky .navs { box-shadow: none; }
.ie8 .pkh-product-navigation.sticky .navs { -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); }
.pkh-product-navigation .nav-button { float: left; margin: 2px 0 0 2px; height: 56px; }
.pkh-product-navigation .nav-button.active a { background-color: #ced6e5; color: #333; }
.pkh-product-navigation .nav-button:hover { background-color: #e7ebf2; }
.pkh-product-navigation .nav-button:hover a { color: #0A3478; }
.pkh-product-navigation .nav-button a, .pkh-product-navigation .nav-button-final a { color: #0A3478; width: inherit; height: 56px; vertical-align: middle; text-align: center; display: table-cell; border-collapse: collapse; }
.pkh-product-navigation .nav-button-final { float: right; margin: 0; width: 16em; color: #FFF; background-color: #0A3478; }
.pkh-product-navigation .nav-button-final a { height: 60px; color: #FFF; }
.pkh-product-navigation .nav-button-final:hover { background-color: #3b5d93; }
.pkh-product-navigation .nav-button-final a:before { font-family: "Ico-PDS"; font-size: 20px; vertical-align: middle; padding-right: 0.41667em; }
.pkh-product-navigation .nav-button-final.var-btn-cart a:before { content: "\e905"; }
.pkh-product-navigation .nav-button-final.var-btn-calc a:before { content: "\e906"; }
.pkh-product-navigation.has-2 .nav-button { width: 491px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-2 .nav-button { width: 585px; } }
.pkh-product-navigation.has-2.with-final .nav-button { width: 728px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-2.with-final .nav-button { width: 916px; } }
.pkh-product-navigation.has-3 .nav-button { width: 326.66667px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-3 .nav-button { width: 389.33333px; } }
.pkh-product-navigation.has-3.with-final .nav-button { width: 363px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-3.with-final .nav-button { width: 457px; } }
.pkh-product-navigation.has-4 .nav-button { width: 244.5px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-4 .nav-button { width: 291.5px; } }
.pkh-product-navigation.has-4.with-final .nav-button { width: 241.33333px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-4.with-final .nav-button { width: 304px; } }
.pkh-product-navigation.has-5 .nav-button { width: 195.2px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-5 .nav-button { width: 232.8px; } }
.pkh-product-navigation.has-5.with-final .nav-button { width: 180.5px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-5.with-final .nav-button { width: 227.5px; } }
.pkh-product-navigation.has-6 .nav-button { width: 162.33333px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-6 .nav-button { width: 193.66667px; } }
.pkh-product-navigation.has-6.with-final .nav-button { width: 144px; }
@media (min-width: 1280px) { .pkh-product-navigation.has-6.with-final .nav-button { width: 181.6px; } }
.module.pkh-product-intro { background-color: #f3f5f8; text-align: center; }
.module.pkh-product-intro.white { background-color: #FFF; }
.module.pkh-product-intro .closing-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 988px; margin-left: 18px; margin-right: 18px; padding-top: 96px; padding-bottom: 96px; }
.module.pkh-product-intro .closing-wrapper:after { content: " "; display: block; clear: both; }
@media (min-width: 1042px) { .module.pkh-product-intro .closing-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 988px; margin-left: auto; margin-right: auto; }
  .module.pkh-product-intro .closing-wrapper:after { content: " "; display: block; clear: both; } }
@media (min-width: 1280px) { .module.pkh-product-intro .closing-wrapper { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 1176px; margin-left: auto; margin-right: auto; padding-top: 114px; padding-bottom: 114px; }
  .module.pkh-product-intro .closing-wrapper:after { content: " "; display: block; clear: both; }
  .module.pkh-product-intro .closing-wrapper .intro-text { width: 776px; margin: 29px auto 0; } }
.module.pkh-product-intro .intro-title { color: #333; font-weight: 600; margin: 0 auto; }
.module.pkh-product-intro .intro-title > span { font-size: 1.91667em; }
.module.pkh-product-intro .intro-text { width: 652px; margin: 23px auto 0; }
.module.pkh-product-intro .intro-text a:link, .module.pkh-product-intro .intro-text a:visited { color: #0A3478; text-decoration: underline; }
.module.pkh-product-intro .intro-text > span { font-size: 1.33333em; line-height: 1.375em; }
.module.pkh-product-intro .teaser-button-wrapper { overflow: hidden; margin-top: 27px; }
.module.pkh-product-intro.var-closing-module { padding-top: 48px; padding-bottom: 48px; }
.module.pkh-product-intro.var-closing-module .closing-wrapper { background-color: #ffcc00; padding-top: 48px; padding-bottom: 48px; }
.module.pkh-product-intro.var-closing-module .intro-text { display: none; }
.module.pkh-product-intro.var-closing-module .intro-title { margin-bottom: 27px; }
@media (min-width: 1280px) { .module.pkh-product-intro.var-closing-module { padding-top: 57px; padding-bottom: 57px; }
  .module.pkh-product-intro.var-closing-module .closing-wrapper { padding-top: 57px; padding-bottom: 57px; }
  .module.pkh-product-intro.var-closing-module .intro-title { margin-bottom: 33px; } }
.module.pkh-product-intro.orange { background-color: #ffcc00; }
.module.pkh-product-action .image-container { display: table-cell; text-align: right; vertical-align: middle; border-collapse: collapse; width: 400px; }
@media (min-width: 1280px) { .module.pkh-product-action .image-container { width: 476px; } }
.module.pkh-product-action .text-container { display: table-cell; padding: 96px 0 96px 104px; font-size: 1.16667em; line-height: 1em; }
.module.pkh-product-action .text-container .action-mini-title { color: #999999; margin-bottom: 3px; }
.module.pkh-product-action .text-container .action-text { width: 452px; margin: 20px 0; line-height: 1.42857em; }
.module.pkh-product-action .text-container .action-text a:link, .module.pkh-product-action .text-container .action-text a:visited { color: #0A3478; text-decoration: underline; }
@media (min-width: 1280px) { .module.pkh-product-action .text-container .action-text { width: 538px; margin: 26px 0; } }
.module.pkh-product-action .text-container .action-title { font-size: 1.42857em; line-height: 1.35em; font-weight: 600; color: #333; }
.module.pkh-product-action .text-container .product-checks { width: 400px; margin-top: 26px; margin-bottom: 30px; }
.module.pkh-product-action .text-container .product-checks a:link, .module.pkh-product-action .text-container .product-checks a:visited { color: #0A3478; text-decoration: underline; }
.module.pkh-product-action .text-container .product-check { position: relative; margin-bottom: 21px; margin-left: 32px; }
.module.pkh-product-action .text-container .product-check:before { content: ""; position: absolute; background-image: url(); background-repeat: no-repeat; background-position: center center; width: 32px; height: 32px; top: -8px; left: -36px; }
@media (min-width: 1280px) { .module.pkh-product-action .text-container .product-check:before { width: 38px; height: 38px; top: -12px; left: -42px; } }
@media (min-width: 1280px) { .module.pkh-product-action .text-container .product-check { margin-left: 38px; } }
@media (min-width: 1280px) { .module.pkh-product-action .text-container { padding: 114px 0 114px 124px; }
  .module.pkh-product-action .text-container .product-checks { width: 476px; margin-top: 32px; margin-bottom: 36px; } }
.module.pkh-product-action.var-right { direction: rtl; }
.module.pkh-product-action.var-right .image-container { text-align: left; }
.module.pkh-product-action.var-right .text-container { text-align: left; direction: ltr; padding-left: 32px; padding-right: 104px; }
@media (min-width: 1280px) { .module.pkh-product-action.var-right .text-container { padding-left: 38px; padding-right: 124px; } }
.module.pkh-product-action.image-outtop .image-container { position: relative; display: block; float: left; }
.module.pkh-product-action.image-outtop.var-right .image-container { display: block; float: right; }
.module.pkh-product-action.image-outtop img { max-width: 100%; margin-top: -4em; }
@media (min-width: 1280px) { .module.pkh-product-action.image-outtop img { margin-top: -4.75em; } }
.module.pkh-product-action.image-outside { overflow: hidden; }
.module.pkh-product-action.image-outside .image-container { position: relative; }
.module.pkh-product-action.image-outside .image-wrapper { position: absolute; z-index: 1; right: 0; height: 0; }
.module.pkh-product-action.image-outside.var-right .image-wrapper { right: auto; left: 0; }
.module.pkh-product-action.image-arrow .image-wrapper { position: relative; overflow: hidden; margin-left: 0; margin-right: -8.33333em; padding: 0; overflow: hidden; width: 35.25em; }
@media (min-width: 1280px) { .module.pkh-product-action.image-arrow .image-wrapper { width: 41.66667em; } }
.module.pkh-product-action.image-arrow .text-container { padding-top: 6.35714em; }
@media (min-width: 1280px) { .module.pkh-product-action.image-arrow .text-container { padding-top: 7.71429em; } }
.module.pkh-product-action.image-arrow.var-arrow-checks .text-container { padding-top: 96px; }
@media (min-width: 1280px) { .module.pkh-product-action.image-arrow.var-arrow-checks .text-container { padding-top: 114px; } }
.module.pkh-product-action.image-arrow img { max-width: 100%; display: block; float: right; }
.module.pkh-product-action.image-arrow.var-right .image-wrapper { margin-left: -8.33333em; margin-right: 0em; }
.module.pkh-product-action.image-arrow.var-right img { float: left; }
.module.pkh-product-action.image-arrow .svgArrow { position: absolute; top: -1.5em; right: -1.08333em; }
@media (min-width: 1280px) { .module.pkh-product-action.image-arrow .svgArrow { top: -0.83333em; } }
.module.pkh-product-action.image-arrow .svgArrow path { fill: #F3F5F8; }
html.no-svg .module.pkh-product-action.image-arrow .svgArrow { display: none; }
.module.pkh-product-action.image-arrow.var-right .svgArrow { right: auto; left: -1.08333em; }
.module.pkh-product-action.image-arrow.white .svgArrow path { fill: #FFF; }
.module.pkh-product-steps { background-color: #f3f5f8; }
.module.pkh-product-steps.white { background-color: #FFF; }
.module.pkh-product-steps .content-wrapper { margin: 96px 0 56px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 652px; float: left; margin-right: 20px; margin-left: 168px; font-size: 1.16667em; }
@media (min-width: 1280px) { .module.pkh-product-steps .content-wrapper { margin: 114px 0 70px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 776px; float: left; margin-right: 24px; margin-left: 200px; } }
.module.pkh-product-steps .main-title { font-size: 1.66667em; color: #333; margin-bottom: 39px; font-weight: 600; }
@media (min-width: 1280px) { .module.pkh-product-steps .main-title { margin-bottom: 45px; } }
.module.pkh-product-steps .step-index, .module.pkh-product-steps .step-title { display: inline-block; font-size: 1.33333em; font-weight: 600; }
.module.pkh-product-steps .step-index { color: #FFF; width: 32px; height: 32px; border-radius: 50%; text-align: center; line-height: 32px; background-color: #8499BC; }
@media (min-width: 1280px) { .module.pkh-product-steps .step-index { width: 38px; height: 38px; line-height: 38px; } }
.module.pkh-product-steps .step-title { margin-left: 16px; margin-bottom: 0.75em; }
@media (min-width: 1280px) { .module.pkh-product-steps .step-title { margin-left: 19px; } }
.module.pkh-product-steps .step-text, .module.pkh-product-steps .steps-notice { margin-left: 48px; line-height: 1.42857em; }
.module.pkh-product-steps .step-text a:link, .module.pkh-product-steps .step-text a:visited, .module.pkh-product-steps .steps-notice a:link, .module.pkh-product-steps .steps-notice a:visited { color: #0A3478; text-decoration: underline; }
@media (min-width: 1280px) { .module.pkh-product-steps .step-text, .module.pkh-product-steps .steps-notice { margin-left: 57px; } }
.module.pkh-product-steps .step-text { margin-bottom: 33px; }
@media (min-width: 1280px) { .module.pkh-product-steps .step-text { margin-bottom: 39px; } }
.module.pkh-product-steps .steps-notice { padding-top: 5px; padding-bottom: 32px; color: #999; }
@media (min-width: 1280px) { .module.pkh-product-steps .steps-notice { padding-top: 8px; padding-bottom: 38px; } }
.module.pkh-map .background-image { background-repeat: no-repeat; background-position: center center; }
.module.pkh-map .content-layer { padding: 4em 0; }
@media (min-width: 1280px) { .module.pkh-map .content-layer { padding: 4.75em 0; } }
.module.pkh-map .maps-layer { position: absolute; content: "blah"; left: 0; top: 0; width: 100%; height: 100%; }
.module.pkh-map .content-box { background-color: #FFF; margin: 0 auto; width: 40.33333em; padding: 3.41667em 2.66667em 4em 2.66667em; }
@media (min-width: 1280px) { .module.pkh-map .content-box { width: 41.66667em; padding: 4.16667em 3.16667em 4.75em 3.16667em; } }
.module.pkh-map .content-box .headline-logo { position: relative; display: table-cell; vertical-align: middle; padding-right: 16px; }
@media (min-width: 1280px) { .module.pkh-map .content-box .headline-logo { padding-right: 19px; } }
.module.pkh-map .content-box .headline-logo > img { width: 48px; vertical-align: middle; }
.module.pkh-map .content-box .box-title { font-size: 1.66667em; line-height: 1.4em; color: #333; position: relative; display: table; border: 0; padding: 0; vertical-align: middle; font-weight: 600; margin-bottom: 1.1em; }
@media (min-width: 1280px) { .module.pkh-map .content-box .box-title { margin-bottom: 1.35em; } }
.module.pkh-map .content-box .headline-title { display: table-cell; vertical-align: middle; }
.module.pkh-map .content-box .box-text { font-size: 1.16667em; line-height: 1.42857em; margin-bottom: 1.85714em; }
.module.pkh-map .content-box .box-text a:link, .module.pkh-map .content-box .box-text a:visited { color: #0A3478; text-decoration: underline; }
@media (min-width: 1280px) { .module.pkh-map .content-box .box-text { margin-bottom: 2.28571em; } }
.module.pkh-map .content-box .form-wrapper:before, .module.pkh-map .content-box .form-wrapper:after { content: "."; display: block; height: 0; overflow: hidden; }
.module.pkh-map .content-box .form-wrapper:after { clear: both; }
.module.pkh-map .content-box .form-wrapper .pkh-input-wrapper { padding: 0 1.66667em; height: 3.66667em; line-height: 3.66667em; float: left; width: 22.16667em; border-radius: 0.41667em; border-top-right-radius: 0; border-bottom-right-radius: 0; border: 0.08333em solid #ced6e4; }
@media (min-width: 1280px) { .module.pkh-map .content-box .form-wrapper .pkh-input-wrapper { width: 23.5em; } }
.module.pkh-map .content-box .form-wrapper .pkh-input-wrapper .pkh-input { border: none; width: 100%; height: 2.71429em; font-size: 14px; }
.module.pkh-map .content-box .form-wrapper .teaser-button-wrapper { float: left; width: 11.33333em; }
.module.pkh-map .content-box .form-wrapper .teaser-button-wrapper .pkh-button { border-top-left-radius: 0; border-bottom-left-radius: 0; width: 100%; }
.ie8 .pkh-map .maps-layer { display: none; }
.module.pkh-product-table .table-container { font-size: 1.16667em; line-height: 1.42857em; padding: 6.5em 2.28571em; }
.module.pkh-product-table .table-container a:link, .module.pkh-product-table .table-container a:visited { color: #0A3478; text-decoration: underline; }
@media (min-width: 1280px) { .module.pkh-product-table .table-container { padding: 7.78571em 2.71429em; } }
.module.pkh-product-table .table-container .table-headline, .module.pkh-product-table .table-container .outro-headline { font-size: 1.42857em; font-weight: 600; line-height: 1.35em; margin-bottom: 1.25em; }
@media (min-width: 1280px) { .module.pkh-product-table .table-container .table-headline, .module.pkh-product-table .table-container .outro-headline { margin-bottom: 1.55em; } }
.module.pkh-product-table .table-container .outro-headline { margin-top: 59px; margin-bottom: 22px; }
@media (min-width: 1280px) { .module.pkh-product-table .table-container .outro-headline { margin-top: 71px; margin-bottom: 28px; } }
.module.pkh-product-table .table-container .outro-text { line-height: 14px; }
.module.pkh-product-table .table-container table { width: 100%; margin-bottom: 4.14286em; }
@media (min-width: 1280px) { .module.pkh-product-table .table-container table { margin-bottom: 5em; } }
.module.pkh-product-table .table-container table.last { margin-bottom: 0; }
.module.pkh-product-table .table-container table tr.first td, .module.pkh-product-table .table-container table th { background-color: #ced6e4; border-bottom: none; font-weight: bold; }
.module.pkh-product-table .table-container table td { padding: 6px 1.14286em; border-bottom: 1px solid #ced6e4; }
.module.pkh-product-table .table-container table td.left, .module.pkh-product-table .table-container table th.left { text-align: left; }
.module.pkh-product-table .table-container table td.right, .module.pkh-product-table .table-container table th.right { text-align: right; }
.module.pkh-product-table .table-container table td.min, .module.pkh-product-table .table-container table th.min { width: 1%; white-space: nowrap; }
.module.pkh-product-table .table-container table td.small, .module.pkh-product-table .table-container table th.small { width: 13.14286em; }
.module.pkh-product-linklist .list-container { font-size: 1.16667em; line-height: 1.42857em; padding: 92px 2.28571em 83px; }
@media (min-width: 1280px) { .module.pkh-product-linklist .list-container { padding: 110px 38px 101px; } }
.module.pkh-product-linklist .list-container .block-headline { color: #333; font-size: 1.42857em; font-weight: 600; line-height: 1.35em; margin-bottom: 1.25em; }
@media (min-width: 1280px) { .module.pkh-product-linklist .list-container .block-headline { margin-bottom: 1.55em; } }
.module.pkh-product-linklist .list-container ul { width: 100%; margin-bottom: 3.57143em; }
@media (min-width: 1280px) { .module.pkh-product-linklist .list-container ul { margin-bottom: 4.42857em; } }
.module.pkh-product-linklist .list-container ul.last { margin-bottom: 0; }
.module.pkh-product-linklist .list-container ul li { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAICAMAAAAGL8UJAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEUAAAAKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgKNHgAAACwULreAAAAFHRSTlMA8/BHcRKixMeUwZ2cym71FfLxSBLmTn0AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAL0lEQVQI1w3FxwHAIBAEscFgk0ze/mvlPhLu8UCQe61P0SQpm0UVfjXoGhPWPnABFwABOEW1d2MAAAAASUVORK5CYII="); background-repeat: no-repeat; background-position: 0 0.35714em; padding-left: 0.92857em; padding-bottom: 0.57143em; }
.module.pkh-product-vorteil { font-size: 1.16667em; line-height: 1em; }
.module.pkh-product-vorteil .column { width: 316px; margin: 91px 20px 91px 0; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .column { overflow: visible; margin: 109px 24px 109px 0; width: 376px; } }
.module.pkh-product-vorteil .no-image .column { width: 484px; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .no-image .column { width: 576px; } }
.module.pkh-product-vorteil .no-image .column.col2-container { margin-right: 0; }
.module.pkh-product-vorteil .text-container { padding-left: 32px; margin-bottom: 3.42857em; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .text-container { padding-left: 38px; } }
.module.pkh-product-vorteil .text-container .vorteil-title { padding-left: 52px; font-size: 1.42857em; line-height: 1.35em; font-weight: 600; color: #333; position: relative; margin-bottom: 9px; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .text-container .vorteil-title { padding-left: 62px; } }
@media (min-width: 1280px) { .module.pkh-product-vorteil .text-container .vorteil-title { font-size: 1.64286em; line-height: 1.17391em; margin-bottom: 13px; } }
.module.pkh-product-vorteil .text-container .vorteil-title:before { content: ""; position: absolute; background-color: #FFF; background-image: url(/privatkunden/images/ico_check.png); background-repeat: no-repeat; background-position: center center; border-radius: 50%; width: 32px; height: 32px; top: 0; left: 0; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .text-container .vorteil-title:before { width: 38px; height: 38px; top: -4px; } }
.module.pkh-product-vorteil .text-container .vorteil-text { padding-left: 52px; line-height: 1.42857em; }
.module.pkh-product-vorteil .text-container .vorteil-text a:link, .module.pkh-product-vorteil .text-container .vorteil-text a:visited { color: #0A3478; text-decoration: underline; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .text-container .vorteil-text { padding-left: 62px; } }
@media (min-width: 1280px) { .module.pkh-product-vorteil .text-container { margin-bottom: 4.07143em; } }
.module.pkh-product-vorteil .text-container.last { margin-bottom: 0; }
.module.pkh-product-vorteil .image-container { display: inline-table; width: 316px; height: 100%; }
@media (min-width: 1280px) { .module.pkh-product-vorteil .image-container { width: 376px; } }
.module.pkh-product-vorteil .image-container .image-wrapper { display: table-cell; margin: 0 auto; vertical-align: middle; text-align: center; }
.module.pkh-product-vorteil .image-container img { display: block; margin: 0 auto; }
.module.pkh-product-vorteil .image-container span { font-size: 0.85714em; display: block; text-align: center; margin-top: 0.41667em; }
.module.pkh-product-vorteil.white .vorteil-title:before { background-color: #f3f5f8; }
.module.pkh-product-fullscreen { position: relative; overflow: hidden; }
.module.pkh-product-fullscreen .content-wrapper { display: block; position: relative; width: 100%; box-shadow: inset 0 50px 16px -45px rgba(0, 0, 0, 0.3); }
.module.pkh-product-fullscreen .image { position: absolute; top: -30%; display: block; width: 100%; height: auto; transform: scale(1.2, 1.2); perspective: 200px; -webkit-backface-visibility: hidden; }
.module.pkh-product-fullscreen .grid-wrapper { padding: 128px 0; }
.module.pkh-product-fullscreen .grid-wrapper .text-wrapper { font-size: 2.25em; line-height: 1.40741em; color: #FFF; width: 504px; margin-left: 32px; }
.module.pkh-product-fullscreen .grid-wrapper .text-wrapper .accented { color: #ffcc00; font-weight: 600; }
.module.pkh-product-fullscreen .grid-wrapper .teaser-button-wrapper { margin-top: 32px; margin-left: 32px; }
@media (min-width: 1280px) { .module.pkh-product-fullscreen .grid-wrapper { padding: 152px 0; }
  .module.pkh-product-fullscreen .grid-wrapper .text-wrapper { font-size: 2.66667em; line-height: 1.40625em; width: 600px; margin-left: 38px; }
  .module.pkh-product-fullscreen .grid-wrapper .teaser-button-wrapper { margin-top: 38px; margin-left: 38px; } }
.module.pkh-product-fullscreen.image-light .text-wrapper { color: #333; }
.module.pkh-product-fullscreen.image-light .text-wrapper .accented { color: #333; }
.ie8 .module.pkh-product-fullscreen .image { top: 0; }
 