body{
	font-family: Arial, Tahoma, Verdana, Arial, Sans Serif;
	margin:0;
/*	background-color:#202020;*/
	background-color:#3F7C90;
	font-size:16px;
}

input {
	padding:0;
	margin:0;
}

DIV {
	border:0px solid #000000;
}

IMG {
	border:0px;
}

li {
	padding:2px;
}

A {
	color:#407D91;
	text-decoration:none;
}

A:hover {
	text-decoration:underline;
}

#internet-cafe-top-content h1 {
	position:relative;
	color:#ffffff;
	font-size:34px;
}

.big-p {
	color:#F4FAE0;
	font-size:26px;
	font-weight:bolder;
}

#internet-cafe-main {
	background-color:#ffffff;
}

#internet-cafe-top {
	overflow:hidden;
	background-color:#ffffff;
}

#internet-cafe-middle {
	width:100%;
	float:left;
	height:295px;
	border-top:1px solid #585858;
/*	background:url(images/top-bg.png) bottom left repeat-x #407D91; */
	background:#33C2F7 url(images/top-bg.png) top left repeat-x;
	overflow:hidden;
}

#handycafe-logo {
	float:left;
	margin-top:30px;
	cursor:pointer;
	padding:0;
	width:400px;
	height:223px;
	background:url(images/handycafe-logo.png) top left no-repeat;
}

#menu-bg {
	width:100%;
	background-color:#039ED7;
/*	background-color:#3F7C90;*/
	float:left;
	font-weight:bold;
	font-size:18px;
	margin-top:0px;
	padding-top:1px;
	padding-bottom:5px;
	border-top:1px solid #16ABE4;
	border-bottom:1px solid #C6D8DE;
/*	background:url(images/menu-btm.png) bottom left repeat-x;*/
}

#menu {
	margin:0 auto;
	float:left;
	text-align:left;
	font-size:18px;
	background-color:#039ED7;
/*	background-color:#3F7C90;*/
	padding-top:4px;
	padding-bottom:4px;
}

.active_link {
	color:#FFFF99;
	font-weight:bold;
	margin-left:50px;
}

#menu a {
/*	color:#F4FAE0; */
/*	color:#484A4C; */
/*	color:#ffffff;*/
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	margin-left:50px;
}

#menu a:hover {
	text-decoration:underline;
/*	color:#ffffff; */
}

#internet-cafe-heading {
	clear:both;
	float:left;
	color:#383739;
	margin-top:10px;
	margin-left:50px;
}

#internet-cafe-heading h1 {
	font-size:24px;
	color:#ffffff;
}

#internet-cafe-software {
	float:right;
	margin-top:10px;
	width:461px;
	height:300px;
	border:1px solid #F4FAE0;
/*	background:url(images/handycafe-server.png) top left no-repeat;*/
}

.best-solution {
	float:left;
	text-align:center;
	margin-top:5px;
	font-family:Arial;
	font-style:italic;
	font-weight:bold;
	font-size:14px;
	color:#505050;
}

#internet-cafe-top-content {
	float:right;
	margin-top:30px;
	width:396px;
	height:300px;
	color:#F0F0F0;
}

.internet-cafe-h1-top {
	margin:0;
	padding:0;
}

#internet-cafe-top-content ul {
	padding-left:50px;
}

.internet-cafe-content-box {
	padding:20px;
	background-color:#fff;
	border-left:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
}

.internet-cafe-content {
	background-color:#F0F0F0;
	overflow:hidden;
/*	padding-top:10px;*/
}

#internet-cafe-content p {
	margin:0;
	padding:0;
}

.internet-cafe-top-desc {
	color:#ffffff;
	font-size:16px;
}

#internet-cafe-software-footer {
	float:left;
	width:100%;
	font-size:12px;
	color:#E8E8E8;
	margin-top:0px;
	border-top:2px solid #000;
	background-color:#202020;
	text-align:left;
}

#cyber-cafe-software-footer {
	position:relative;
	background-color:#202020;
	color:#ffffff;
	text-align:left;
	width:940px;
	margin:0 auto;
}

#company-footer {
	position:relative;
	color:#ffffff;
	width:600px;
	float:left;
	margin-left:20px;
	margin-top:0px;
}

#windows7-certified {
	float:left;
	width:72px;
	height:100%;
	margin-top:15px;
}

.desc-cls {
	clear:both;
	font-size:14px;
	padding-bottom:10px;
/*
	display:none;
*/
}

.free_100 {
	color:#006699;
	font-family:Arial;
	font-weight:bold;
	font-size:26px;
	text-align:center;
}

#left-bottom {
	position:relative;
	margin-top:0px;
	background-color:#000;
}

#left-bottom h2 {
	line-height:40px;
	color:#006633;
}

#left-bottom h3 {
	font-size:14px;
}

#right-bottom {
	position:relative;
	margin-top:0px;
	border:1px solid #000;
}

#downloads {
	background-color:#F0F0F0;
	overflow:hidden;
}

.dh2 {
	margin:0px;
	color:#404040;
}

.dh3 {
	margin:0px;
	margin-top:40px;
	color:#404040;
}

.header-features {
	font-size: 16px;
	margin:0px;
	color:#404040;
}


.dh4 {
	margin:0px;
	margin-top:40px;
	color:#404040;
}

.download-handycafe-firewall {
	width:940px;
	font-size:20px;
	text-align:center;
	line-height:70px;
	margin-bottom:20px;
	border:1px solid #E8E8E8;
	background-color:#FFFFCC
/*	background:#FFFFCC url(images/firewall.png) center left no-repeat;	*/
	}

.dl-p {
	margin-left:80px;
	font-size:14px;
	color:#404040;
}

.signup-form {
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#404040;
	padding-left:60px;
}

.dl-left {
	color: #606060;
	float:left;
	margin-left:0px;
	font-weight:bold;
	width:150px;
	margin-right:20px;
}

.dl-right {
	float:left;
	color: #606060;
}

.dl-left2 {
	color: #606060;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:740px;
	font-size:14px;
	font-weight:bold;
}

.installation-files {
	width:200px;
	position:relative;
	font-size:14px;
	line-height:20px;
	float:left;
	margin:30px;
	margin-right:0px;
	margin-left:70px;
	border:1px solid;
}

.fields {
	margin-top: 20px;
	margin-left:0px;
	margin-bottom:0px;
	overflow:hidden;
/*	border:1px solid #E8E8E8; */
	float:left;
	font-size:14px;
	line-height:20px;
}

.features-fields {
	margin-top: 0px;
	margin-left:0px;
	margin-bottom:0px;
	overflow:hidden;
	color:#404040;
	float:left;
	font-size:14px;
	line-height:20px;
}

.dl-a {
	font-weight:bold;
	color:#0000FF;
	text-decoration:none;
}

.dl-a:hover {
	color:#0000FF;
	text-decoration:underline;
}

.email-a {
	font-weight:normal;
	color:#0000FF;
	text-decoration:none;
}

.email-a:hover {
	color:#0000FF;
	text-decoration:underline;
}

.dl-b {
	font-size:14px;
	font-weight:bold;
	color:#006633;
	text-decoration:none;
}

.dl-b:hover {
	color:#0000FF;
	text-decoration:underline;
}

.f-alt {
	width: 920px;
	padding-right:20px;
	background-color:#F8F8F8;
	line-height:20px;
	border:1px solid #E8E8E8;
	margin-left:0px;
	color:#404040;
}

.f-alt2 {
	position:relative;
	width: 920px;
	padding-right:20px;
	background-color:#F8F8F8;
	line-height:20px;
	border:1px solid #E8E8E8;
	margin-left:0px;
	color:#404040;
	margin-top:60px;
	padding-top:10px;
	padding-bottom:10px;
}

.fe-alt {
	position:relative;
	width: 850px;
	padding-right:20px;
	background-color:#F8F8F8;
	line-height:20px;
	border:1px solid #E8E8E8;
	margin-left:0px;
	color:#404040;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:70px;
	font-size: 14px;
}

.features-line {
	margin-bottom: 10px;
}

.features-header {
	margin:0px;
	padding:0px;
	font-size: 16px;
	margin-top:10px;
	margin-bottom:1px
}

.img-notes {
	position:absolute;
	float:left;
	top:-40px;
	left:10px;
	margin-top:20px;
}

.img-notes2 {
	position:absolute;
	float:left;
	top:-40px;
	left:10px;
	margin-top:20px;
}

.win7-logo {
	width:144px;
	height:173px;
	position:relative;
	float:left;
	margin-top:0px;
	background:url(images/EN-w7-comp_rgb_L.png) left top no-repeat;	

}

.f-alt3 {
	position:relative;
	width: 920px;
	padding-right:20px;
	background-color:#F8F8F8;
	line-height:20px;
	border:1px solid #E8E8E8;
	margin-left:0px;
	color:#404040;
	margin-top:20px;
	margin-bottom:30px;
	padding-top:10px;
	padding-bottom:10px;
}

.f-alt4 {
	position:relative;
	width: 900px;
	background-color:#FFFFFF;
	line-height:20px;
	border:1px solid #E8E8E8;
	color:#404040;
	margin-top:30px;
	margin-bottom:30px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
}

.l60 {
	margin-left:60px;
}

.l70 {
	margin-left:80px;
}

.l25 {
	margin-left:32px;
}

.f-req {
	width: 940px;
	line-height:20px;
}

.download-now {
	margin:0px;
	margin-left:100px;
	margin-top:8px;
	float:left;
	height:148px;
	width:128px;
	text-align:center;
	line-height:280px;
	overflow:hidden;
	cursor:pointer;
	background:url(images/download-now.png) left top no-repeat;	
}

.download-now:hover {
	text-decoration:underline;
}

.download-firewall-now {
	margin:0px;
	margin-left:100px;
	margin-top:8px;
	float:left;
	height:148px;
	width:128px;
	text-align:center;
	line-height:280px;
	overflow:hidden;
	background:url(images/download-firewall-now.png) left top no-repeat;	
}

.dl-updates {
	line-height:24px;
	font-size:14px;
	color:#3366CC;
	text-decoration:none;
}

.dl-updates:hover {
	text-decoration:underline;
}

.fntcls {
	font-size:12px;
	font-weight: bold;
}

.bitem {
	position:relative;
	margin-bottom:30px;
	border:1px solid #000;
}

#right-bottom h2 {
	line-height:40px;
	color:#006633;
}

#right-bottom h3 {
	font-size:14px;
}

#right-bottom img {
	margin-right:15px;
	border:0px;
	float:left;
}

.lft-btm-desc {
	font-weight:bold;
	font-size:20px;
	line-height:32px;
	color:#006633;
	margin:0px;
	margin-bottom:0px;
	padding:0px;
}

.dsc-link {
	color:#006633;
/*	color:#505253;*/
	text-decoration:none;
}

.dsc-link:hover {
	text-decoration:underline;
}

.dsc-btm-link {
/*	color:#006633;*/
	color:#404040;
	text-decoration:none;
}

.dsc-btm-link:hover {
	color:#407D91;
/*	color:#0066CC;*/
	text-decoration:none;
}

.lft {
	background:url(images/signup.png) left no-repeat;
}

.lft:hover {
	background-color:#FFFFCC;
}

.mdl {
	background:url(images/download.png) left no-repeat;
}

.mdl:hover {
	background-color:#FFFFCC;
}

.rgt {
	background:url(images/downloadfw.png) left no-repeat;
}

.rgt:hover {
	background-color:#FFFFCC;
}

.cafe-downloads {
	float:left;
	width:284px;
	font-size:16px;
	font-weight:bold;
	background-color:#ffffff;
	border:1px solid #E8E8E8;
	margin-right:10px;
	padding:10px;
	text-align:center;
}

.cafe-downloads a {
	color:#C00000;
/*	color:#006699;*/
	text-decoration:none;
}

.cafe-downloads a:hover {
	color:#0000FF;
/*	color:#3366CC;
	color:#006699;*/
	text-decoration:none;
}

.free_100 a {
	color:#006699;
	text-decoration:none;
}

.free_100 a:hover {
	text-decoration:underline;
}

.internet-cafe-software-features-right2 {
	width:558px;
	color:#505253;
	font-size:12px;
	float:left;
	margin-top:20px;
	text-align: justify;
	padding:10px;
/*	background-color:#ffffff;*/
	background-color:#F8F8F8;
	border:1px solid #E8E8E8;
/*	border-top:3px solid #505050;*/
}

.internet-cafe-software-features-middle {
	width:280px;
	color:#505253;
	font-size:12px;
	float:left;
	margin-top:10px;
	margin-left:20px;
	border:0px solid #000;
}

.internet-cafe-software-features-middle ul {
	padding:0px;
	padding-left:20px;
}

.cafe-desc {
	float:left;
	width:350px;
	text-align:justify;
	margin-bottom:20px;
	border:0px solid;
}

.cafe-download {
	width:500px;
	margin-bottom:20px;
	overflow:hidden;
/*	background-color:#FFFFCC; */
}

#internet-cafe-software-features-left {
	position:relative;
	width:450px;
	color:#505253;
	font-size:12px;
	float:left;
	margin-top:30px;
	border:0px solid #000;
	overflow:hidden;
}

#internet-cafe-software-features-left img {
	margin-right:15px;
	border:0px;
	float:left;
}

#internet-cafe-software-features-right {
	width:450px;
	color:#505253;
	font-size:12px;
	float:right;
	margin-top:30px;
/*	background:url(images/handycafe-server.png) top left no-repeat;*/
}

#internet-cafe-software-features-right img {
	margin-right:15px;
	border:0px;
	float:left;
}

.download-handycafe {
	background-color:#CC6633;
}

.internet-cafe-software-download {
	width:940px;
	background-color:#ffffff;
	float:left;
	margin-top:10px;
	margin-bottom:20px;
	text-align: center;
}

.cafe-software-bg-white {
	margin:0;
	padding:0;
	width:100%;
	background-color:#ffffff
}

.cafe-software-h3 {
	padding:0;
	margin:0;
}

.cafe-software-h2 {
	font-size:20px;
	padding:0;
	margin:0;
	padding-left:20px;
	margin-bottom:10px;
	color:#484A4C;
	background:url(images/arrow-right.gif) left no-repeat;
}

.cafe-software-h3 {
	padding:0;
	margin:0;
	padding-left:20px;
	margin-bottom:10px;
	color:#484A4C;
	background:url(images/arrow-right.gif) left no-repeat;
}

.top-border {
	border-top:1px solid #000000;
}

.centered {
	width:940px;
	margin:0 auto;
}

.download-link {
	float:left;
	cursor:pointer;
	line-height:73px;
	width:394px;
	height:73px;
	font-weight:bold;
	margin-top:0px;
	font-size:20px;
	text-align:center;
	color:#FFFF99;
	text-decoration:none;
	color:#FFFF99;
	background:url(images/dl-button.png) left no-repeat;
}

.download-link:hover {
	color:#FFFF00;
	text-decoration:none;
}

.download-links {
	position:relative;
	float:left;
	cursor:pointer;
	line-height:73px;
	width:394px;
	height:73px;
	font-weight:bold;
	margin-top:0px;
	font-size:20px;
	text-align:center;
	color:#FFFF99;
	text-decoration:none;
	color:#FFFF99;
}

.download-links:hover {
	color:#FFFF00;
	text-decoration:none;
}

.dl-button {
	position:absolute;
	width:394px;
	left:0;
	text-align:center;
	top:-4px;
}

.download-link3 {
	float:left;
	cursor:pointer;
	font-weight:bold;
	margin-top:20px;
	font-size:22px;
	text-align:left;
	color:#FFFF99;
	text-decoration:none;
	color:#FFFF99;
/*	background:url(images/dl-button.png) left no-repeat;*/
}

.ust {
	color:#484A4C;
	font-weight:bold;
	margin-top:5px;
	margin-bottom:5px;
}

.left-dv {
	position:relative;
	padding-bottom:5px;
	float:left;
	text-align:left;
	font-size:20px;
}

.right-dv {
	float:right;
	text-align:right;
	font-size:12px;
	padding: 5px;
}

.clear {
	clear:both;
}

.download-free-firewall {
	color:#3333FF;
	font-weight:bold;
	font-size:18px;
}

.handycafe-description {
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	font-family:Arial;
	font-size:16px;
}

.win-7 {
	float:left;
	width:72px;
	height:87px;
	background:url(images/EN-w7-comp_rgb_M.png) top left no-repeat;
}

.internet-cafe-img {
	float:left;
	margin-right:15px;
}

.forgot-hdr {	
	font-size:20px;
	color:#404040;
	margin-bottom:10px;
	margin-top:5px;
}

.forgot-msg {
	font-size:14px;
	color:#404040;
}

.download-hdr {	
	font-size:20px;
	color:#404040;
	margin-bottom:10px;
	margin-top:5px;
	margin-left:0px;
}

.download-msg {
	font-size:14px;
	color:#404040;
	margin-left:0px;
}

.forgot-div {
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
	font-size:14px;
	color:#404040;
	padding-left:75px;
}

.forgot-form {
	margin:0px;
	padding:0px;
	line-height:25px;
}

.email-input {
	width:350px;
	padding:5px;
	background-color:#F8F8F8;
	border:1px solid #E0E0E0;
	font-size:16px;
	color:#006699;
}

.data-input {
	width:350px;
	padding:5px;
	background-color:#F8F8F8;
	border:1px solid #E0E0E0;
	font-size:16px;
	color:#404040;
}

.license-email-input {
	width:350px;
	padding:5px;
	background-color:#F8F8F8;
	border:1px solid #A0A0A0;
	font-size:16px;
	color:#006699;
}

.license-input {
	width:350px;
	padding:5px;
	background-color:#F8F8F8;
	border:1px solid #A0A0A0;
	font-size:16px;
	color:#404040;
}

.license-qty-input {
	width:50px;
	padding:5px;
	background-color:#F8F8F8;
	border:1px solid #A0A0A0;
	font-size:16px;
	color:#404040;
	text-align:center;
}

.license-country-input {
	width:362px;
	padding:5px;
	background-color:#F8F8F8;
	border:1px solid #A0A0A0;
	font-size:16px;
	color:#404040;
}

.line {
	float:left;
	width:940px;
}

.dlink {
	color:#686868;
}

.dlink:hover {
}

.bold {
	font-weight:bold;
}

.thin-hr {
	margin-top:30px;
	border:0;
	border-bottom:1px solid #33CCFF;
}

.reds {
	color:#FF0000;
}

.su-left {
	color: #606060;
	float:left;
	font-weight:bold;
	width:250px;
}

.su-sartlar {
	color: #606060;
	float:left;
}

.su-right {
	float:left;
	color: #606060;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-left:0px;
}

.sp-wide-left {
	width: 757px;
	color: #606060;
	float:left;
	font-weight:bold;
	margin-bottom:10px;
}

.sp-left {
	width: 394px;
	color: #606060;
	float:left;
	font-weight:bold;
	margin-bottom:10px;
}

.sp-right {
	float:left;
	color: #606060;
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	margin-left:0px;
	font-weight:bold;
}

.internet-cafe-notice {
	padding:10px;
	background-color:#FFFFCC;
	border:1px solid #FFCC66;
	margin-top:10px;
	margin-bottom:20px;
}

.screen-internet-cafe-notice {
	padding:10px;
	background-color:#FFFFCC;
	border:1px solid #FFCC66;
	margin-top:10px;
	margin-bottom:20px;
	text-align:center;
}

.firewall-notice {
	color:#404040;
	font-size:14px;
	padding:10px;
	background-color:#FFFFCC;
	border:1px solid #FFCC66;
	margin-top:30px;
	text-align:center;
}

.select-language {
	width:180px;
	color:#707070;
	background-color:#FFFFFF;
	border:1px solid #D8D8D8;
	line-height:12px;
	font-size:12px;
}

/* form button  */
.form-button-left  {  background:url(images/btn_big_orange_left.jpg) left no-repeat; height:34px; width:140px; text-align:right; margin-top:5px; margin-bottom:15px;}
.form-button-right {  background:url(images/btn_big_orange_right.jpg) right no-repeat; height:34px;  width:auto; padding-left:25px; padding-right:25px; border:0px; margin:0px; color:#ffffff; font-size:13px; cursor:pointer; text-align:center;}

.internet-cafe-screen-shot {
	position:relative;
	float:left;
	width:250px;
	margin-bottom:60px;
}

.internet-cafe-screen-shot-img {
	position:relative;
/*	border:3px solid #0099CC;*/
	float:left;
}

.internet-cafe-screen-shot-img2s:hover {
	border:3px solid #0066CC;
}

.img-a {
	position:relative;
	width:150px;
	height:101px;
	border:3px solid #0099CC;
}

.img-a:hover {
	border:3px solid #0066CC;
}

.internet-cafe-screen-shot-bg {
	position:absolute;
	width:24px;
	height:24px;
	left:120px;
	top:72px;
	background:url(images/zoom.png) no-repeat;
}

.google-code {
	display:none;
}