#app-t2d-alerts-wotiflm div#appDLSuccessDiv, #app-t2d-alerts-wotiflm div#appDLerrorDiv {
  display: none;
}

#app-t2d-alerts-wotiflm div#appDLSuccessDiv.alert-error, #app-t2d-alerts-wotiflm div#appDLerrorDiv.alert-error
{
  border-color: #b80000;
  background: #fad4d4;
}
   
#app-t2d-banner-container {
  padding: 1.4em;
  margin-top: 1.5em;
}

#app-t2d-banner {  
  padding: 1.3em;
  color: #616161;
}

#app-t2d-alerts {
  float: left;
  width: 100%;
  margin-top: 1em;
}

#app-t2d-alerts>div {
  display: none;
  margin: 0;
}

.app-t2d-logo {
  width: 3em;
  margin-right: .8em;
  vertical-align: top;
}

.app-t2d-logo-cell {
  line-height: 1.1em;
  float: left;
  display: inline-block;
  overflow-y: hidden;
}

.hotel-confirmation.app-t2d-logo-cell {
    width: 50%;
}

.app-t2d-field-cell {
  line-height: 1.3em;
  font-size: .8em;
  font-weight: bold;
  width: 46.5%;
  float: right;
}

label[for=appDLphoneNumber] {
  margin: 0 1em 0 0;
  font-size: 1.25em;
}

label[for=appDLphoneNumber] 
.label {
  display: none;
}

#appDL-btn-action {
  width: 100%;
  margin: 0;
  width: 5.5em;
}

#appDL-btn-action span {
  padding: .5em .4em;
}

#app-t2d-form-wrapper {
  margin-top: .6em;
  width: 100%;
  display: table;
}

#app-t2d-form {
  display: table-row;
}

#app-t2d-form>div {
  display: table-cell;
  vertical-align: middle;
}

.app-t2d-button-cell {
  width: 5.6em;
}

.app-t2d-title-container {
  color: #00355f;
  font-weight: bold;
  display: inline-block;
}

.hotel-confirmation.app-t2d-title-container {
    width: 85%;
}

.wtf .app-t2d-title-container{
	color: #599027;
}

.lm .app-t2d-title-container{
	color: #E40088;
}

.app-t2d-title {
  font-size: 1.1em;
  line-height: 1.5em;
}

.hotel-confirmation.app-t2d-title {
    font-size: 1.0em;
}

.app-t2d-subtitle {
  font-size: .9em;
}

.hotel-confirmation.app-t2d-subtitle {
    font-size: .8em;
}

.app-t2d-disclaimer {
  clear: both;
  font-size: .65em;
  line-height: 1.5em;
  margin-bottom: -0.5em;
  padding-top: 1.2em;
}

.app-t2d-banner-wotiflm.wtf {
  border: 0.2em solid #599027;
}

.app-t2d-banner-wotiflm.lm {
  border: 0.2em solid #E40088;
}

.app-t2d-banner-wotiflm.obitz{
  border: 0.2em solid #00253c;
}

.app-t2d-banner-wotiflm.chticket {
    border: 0.2em solid #404040;
}

div#app-t2d-alerts-wotiflm {
    float: left;
}

.app-t2d-logo {
    width: 3em;
    margin-right: .8em;
    vertical-align: top;
    border-radius: 10px;
}

#appDLSuccessDiv {
    margin-top: 1.41176471em;
}

@media only screen and (max-width:63.9375em) {
  .app-t2d-logo-cell {
    float: none;
  }

  .app-t2d-field-cell {
    float: none;
    width: auto;
    font-size: .85em;
    white-space: normal;
    margin-top: 1em;
  }

  .app-t2d-button-cell,#appDL-btn-action {
    width: 6em;
  }
}

@media only screen and (max-width:37.5em) {
  #app-t2d-alerts {
    font-size: .8em;
  }

  .app-t2d-subtitle {
    display: none;
  }

  .app-t2d-logo {
    width: 2.6em;
    float: left;
  }

  .app-t2d-title-container {
    display: inline;
  }

  .app-t2d-title {
    font-size: 1.1em;
    line-height: 1.3em;
  }

  .app-t2d-logo-cell {
    min-width: initial;
  }

  #app-t2d-banner {
    padding: .8em;
  }

  #app-t2d-banner-container {
    padding: .2em;
  }

  #app-t2d-form>div {
    display: inline;
  }

  label[for="appDLphoneNumber"] {
    margin: 0 0 .6em 0;
  }

  #appDL-btn-action {
    width: 100%;
  }
}

@media only screen and (max-width:30em) {
  .app-t2d-title {
    font-size: 1em;
  }
}

.cols-row.search .tabs li a[data-tab="package"] .multiPkgIcon .icon {
  display: inline;
}

@media only screen and (max-width:21.875em) {
  .theme-pills.cols-row.search .tabs li {
    margin-right: 0;
    min-width: 2.52941176em;
  }

  .theme-pills.cols-row.search .tabs li a[data-tab="package"] .multiPkgIcon {
    white-space: nowrap;
  }
  #reasons-to-believe-banner li{
	 float: left;
  }
  .symbol-wtf {
    float: left;
  }
}