@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* ==========================================================================
   Links
   ========================================================================== */

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
	outline: 0!important;
	}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:active,
a:hover,
input:focus,
textarea:focus,
select:focus,
button:focus {
	outline: 0!important;
	}

#init-movie {
	padding: 4px 0;
	font-size: 12px;
	width:100%;
	margin:auto;
	font-weight: bold;
	color: #222;
	background: #d041a6;
	text-align: center;
}

.popular-networks{
	color:#FFFFFF!important;
}
.player-settings {
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 1;
	background-color: rgba(16, 16, 16, 0.7);
	padding:5px;
	color: #C3C3C3;
}
.player-settings .res-select {
	margin:3px;
	cursor:pointer;
}
.player-settings .res-select:hover {
	color:white;
}
.player-settings .selected {
	color:#D53E62;
	font-weight:bold;
}
							
html {
	height:100%;
}

.search-tag-bad {
	background-color:#2E2E2E!important;
	text-decoration: line-through;
	color:#666666!important;
}
.search-tag,
.search-tag-bad {
    display: inline-block;
    background: #DA2657;
    border-radius: 3px;
    padding: 5px 5px 5px 7px;
    margin: 0 5px 5px 0;
    font-size: 14px;
    color: #FFF;
}
.search-tag i {
	cursor:pointer;
    color: #fff;
}

body {
	height:100%;
	padding-top: 100px;
	margin: 0;
}

body, button, input {
	-webkit-font-smoothing: antialiased;
}

#wrapper {
	min-height:100%;
	position:relative;
	padding-bottom: 229px;
}

.top-nav {
  height:30px;
  line-height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
}

.navbar
{
	border: none!important;
	border-radius: 0!important;
	margin-bottom: 20px;
	top: 30px;
}

.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}

.search-dropdown-menu {
	min-width: 360px;
	padding: 12px;
}

 .navbar-form input, .form-inline input {
	width:auto;
}
.search-select {
	margin: 0!important;
	padding: 0!important;
	border: none!important;
	width: auto!important;
}

.well-md h1, .well-md  h2, .well-md  h3, .well-md  h4, .well-md  h5, .well-md  h6 {
	line-height: 30px!important;
	margin: 0!important;
}

.well-md {
	padding: 12px!important;
}

.well-filters {
	padding: 12px!important;
}

.well-filters h1, .well-filters  h2, .well-filters  h3, .well-filters  h4, .well-filters  h5, .well-filters  h6 {
	line-height: 38px!important;
	margin: 0!important;
}

.narrow-margin {
	margin-right: -15px;
}
.title-truncate {
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.big-title-truncate {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: normal!important;
}

.img-responsive {
	width: 100%;
}

.img-responsive-mw {
	max-width: 100%;
	height: auto;
}

.thumb-overlay {
	position: relative;
}

.hd-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}
.duration {
	position: absolute;
	bottom: 5px;
	right: 5px;
	border: none;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding: 3px 5px;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.remove-btn, .delete-btn, .edit-btn{
	float: left;
	border: none;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 0px 0px rgba(0, 0, 0, 0.15);	
}

.edit-btn {
	margin-right: 5px;
}

.delete-btn::after, .remove-btn::after {
	clear: both;
}
.avatar-actions {
	position: absolute;
	top: 1px;
}

.actions {
	position: absolute;
	top: 5px;
	left: 5px;
}

.img-private {
	-webkit-filter: brightness(0.3);
	-moz-filter: brightness(0.3);
	-o-filter: brightness(0.3);
	-ms-filter: brightness(0.3);
}

.label-private {
	position: absolute;
	right: 5px;
	top: 5px;
	border: none;
	background-color: #cc0000;
	color: #fff;
	padding: 1px 3px 0px 3px;
	line-height: 16px;
	opacity:0.7;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 0px 0px rgba(0, 0, 0, 0.15);
}
.hot-text-icon {
    background: rgba(0, 0, 0, 0) url("/img/hot.png") no-repeat scroll 0 0;
    color: transparent;
    height: 31px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 36px;
}
.hd-text-icon {
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: rgba(51,51,51,0.8);
	color: #d0b721;
    border: 1px solid #d0b721;
	padding: 1px 3px 0px 3px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:    1px 1px 0px 0px rgba(0, 0, 0, 0.15);
	box-shadow:         1px 1px 0px 0px rgba(0, 0, 0, 0.15);
}
.video-added {
	font-size: 13px;
}
#post_wall_butt {
	display:none;
}
#post_wall_butt input {
	padding:5px 30px 5px 30px;
}
.video-views {
	font-size: 13px;
	margin-bottom: -3px;
}
.video-rating {
	font-size: 14px;
	line-height: 1;
	margin-bottom: -3px;	
}

.video-rating-heart {
	font-size: 12px;
}

.ad-title {
	font-size: 11px;
	letter-spacing: 3px;
}
.ad-body {
	text-align: center;
	vertical-align: middle;
	padding: 9px!important;
}

.ad-body img {
	max-width: 100%;
	height: auto;
}

.small-avatar {
	width: 24px;
	height: 24px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	vertical-align: middle;
	margin-right: 8px;
	margin-top: -5px;
	margin-bottom: -2px;
}

.medium-avatar {
	width: 45px;
	height: 45px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	vertical-align: middle;
	margin-right: 8px;
}

.blog_header {
	font-size: 16px;
	margin-bottom: 10px;
}

.category-title {
	width: 100%;
	position: absolute;
	bottom: 0px;
	border: none;
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	padding: 3px 5px;
	font-size: 16px;
}

.category-title .pull-left {
	width: 70%;
}

.category-title .pull-right {
	width: 30%;
	text-align: right;
}

.blog_video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.blog_video object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blog_image {
	max-width: 100%;
	height: auto;
	border: 0;
}

.m-b--5 {
  margin-bottom: -5px;
}

.m-b--15 {
  margin-bottom: -15px;
}

.m-b--30 {
  margin-bottom: -30px;
}

.m-w-60 {
	max-width: 60%!important;
}

#user_message  {
	margin-top: 10px;
}

textarea {
	resize: vertical;
}

.p-0 {
	padding: 0!important;
}

.p-t-5 {
  padding-top: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-5 {
  padding-left: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-r-10 {
  padding-right: 10px;
}
.p-l-10 {
  padding-left: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-r-20 {
  padding-right: 20px;
}
.p-l-20 {
  padding-left: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-r-25 {
  padding-right: 25px;
}
.p-l-25 {
  padding-left: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}

.m-b-0 {
  margin-bottom: 0;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-80 {
  margin-left: 80px;
}

.comment-avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: middle;
}

.comment {
	padding: 10px;
	margin: 0 0 0 80px;
	font-size: 13px;
	line-height: 1.4;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
.comment:hover .comment-actions a { display: inline; } 

.comment:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-width: 10px;
	top: 20px;	
}

.comment-info {
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.comment-body {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.comment-actions {
	min-height:20px;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;	
}
.comment-actions span {
	margin-left:5px;
}
.comment-actions a {
	display:none;
	margin-right:5px;
}

 .center {
	text-align: center;
}
i.locker {
	color:#888a8c;
}
i.locker:hover {
	color:#fff;
	cursor:pointer;
}
.panel-heading > .text-silver:hover {
	color:#CBCBCB;
	text-decoration:none;
}
.overflow-hidden, .panel-body, .panel-body a, .panel-body  p, .panel-body  span, .panel-heading, .panel-heading a, .panel-heading p, .panel-heading span, .blog_header, .blog_header a, .blog_header p, .blog_header span, .blog_content, .blog_content  a, .blog_content p, .blog_content span , .well  a, .well p, .well span {
	overflow: hidden;
	text-overflow: ellipsis;
}

.mail-unread {
	font-size: 20px;
	vertical-align: middle;
}

.mail-read {
	font-size: 20px;
}

.mail-delete {
	font-size: 20px;
}

.noti-delete, 
.noti-delete i
 {
	font-size: 20px;
	color:#A03030;
}
.noti-ok, 
.noti-ok i
 {
	font-size: 20px;
	color:#5E9A4F;
}
.noti-delete i:hover
 {
	color:#B11C1C;
}
.noti-ok i:hover
 {
	color:#29CC00;
}
.v-middle {
	vertical-align: middle!important;
}

table td, th {
	text-align: center;
}

table a {
	text-decoration: none!important;
}

table a:hover {
	text-decoration: underline!important;
}

table .subject-unread {
	font-weight: bold!important;
}

.input-select  input {
	border: none!important;
	width:50%!important;
	-webkit-border-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 0;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-select select {
	border-top: none!important;
	border-right: none!important;
	border-bottom: none!important;
	border-left: solid 1px #ccc!important;
	width:50%!important;
	-webkit-border-radius: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius: 0;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-radius: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
}

input[type="text"], input[type="password"], select, textarea {
	/*border: none!important;*/
}

input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; } /* firefox 19+ */
input:-moz-placeholder { text-overflow: ellipsis; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Safari-Opera specific declarations here */
	select {
		line-height: 34px!important;
	}
	fieldset legend {
		float: left;
	}	
}

textarea {
	min-height: 38px;
}

.file-box {

	display: block;
	height: 38px;
	padding: 0px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-image: none;
	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 38px;	

}

.no-radius-r {
	-webkit-border-top-right-radius: 0!important;
	-webkit-border-bottom-right-radius: 0!important;
	-moz-border-radius-topright: 0!important;
	-moz-border-radius-bottomright: 0!important;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
}

.separator {
	padding: 2px 0;
	margin-bottom: 15px;
}

.no-wrap {
	white-space: nowrap!important;
}

.p-m-0 {
	padding: 0!important;
	margin: 0!important;
}

.blog_content img, .comment-body img {
	max-width: 100%!important;
	height: auto!important;
}
.vote-msg {
	text-align:right;
}
.vote-msg, .vote-msg  center{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
#pop-tags a {
	display: inline-block;
	text-decoration: none;
	padding: 1px 5px;
	margin: 0 2px 4px 2px;
	color: #8D8D8D;
}

#pop-tags a:hover {
	color:#ffffff;
}
.vote-box {
	margin: -1px 0 0 0;
	padding: 0;
}
ul.share-buttons{
  list-style: none;
  padding: 0;
}
ul.share-buttons i {
	color:#898989;
	margin-right:10px;
	font-size:40px;
}
ul.share-buttons i:hover {
	color:white;
}
ul.share-buttons li{
  display: inline;
}
.video-opt:hover,.video-opt:focus {
	text-decoration:none;
}
.video-opt span {
	color:#B0B0B0;
}

.video-tags a,
.color-pink {
	color:#D5446C;
}

.prof-ph-p {
	padding:0 5px 0 5px!important;
}

.user-anon {
	color:silver;
}

.profile-link-muted,.profile-link-muted:hover,.profile-link-muted:visited,.profile-link-muted:active,.profile-link-muted:focus {
	color:#4A4A4A!important;
	text-decoration:none!important;
	cursor:default!important;
		
}
	
.user-anon:hover {
	color:silver;
	text-decoration:none;
}
.vote-box .glyphicon{
	top:6px;
	font-size:23px;
	cursor:pointer;
}
.vote-box .glyphicon-thumbs-up:hover{
	color:#C0C0C0;
}
.video-voted {
	color:#C0C0C0;
}
.vote-box .glyphicon-thumbs-down:hover{
	color:#C0C0C0;
}
.vote-box .likes {
	color:red;
	margin-bottom: 3px;
	height: 3px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;	
}
.vote-box .dislikes, .vote-box .user-dislikes {
	margin-bottom: 3px;
	height: 3px;
}

.video-container, .game-container {
	position: relative;
	width: 100%;
}

.video-container embed, .game-container embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%!important;
	height: 100%!important;
}

.big-views {
	font-size: 130%;
	padding: 7px 0;
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.big-views-xs {
	padding: 10px 0;
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.user-container {
	max-width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

#at4m-menu {
-moz-transition-timing-function: linear;
-webkit-transition-timing-function: linear;
-o-transition-timing-function: linear;
transition-timing-function: linear;
}

.at4m-menu {
	top: 80px!important;
}

.aticon-compact {
	background: url(../img/more.png) !important;
	background-position: 0 0!important;
	background-size: 32px 32px!important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.at4-icon {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tmb {
	cursor: pointer;
}

.modal-open {
  overflow-y: auto!important;
  padding-right: 0!important;
}

.change-language {
	padding: 3px 6px;
	line-height: 26px;	
}

.language-active {
	padding: 3px 6px;
	line-height: 26px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}

.footer-links {
	padding: 25px 0;
}

.footer-container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.footer {
	padding: 15px 0;
}

.top-menu   {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.top-menu  > .pull-right > li{
	margin: 0 0 0 10px;
	float: left;
}

.top-menu  > .pull-right > li.dropdown > a{
	padding: 0 10px;
}

.top-menu  > .pull-right > li.open{
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.top-menu .dropdown-menu {
	border: 0;
	-webkit-border-radius: 4px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 4px;
	-moz-border-radius-topright: 0;
	border-radius: 4px;
	border-top-right-radius: 0;
}

.top-menu  > .pull-left > li{
	margin: 0 15px 0 0;
	float: left;	
}

.top-menu > div > li > a  {
	display: block;
}

.top-menu > div > li > a:hover  {
	text-decoration: none;
}

.top-menu > div > li > a:focus  {
	text-decoration: none;
}

.top-menu ul li .badge {
	margin-top: 1px;
}

.navbar-brand {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 0;
}

.navbar-brand  img{
	height: 100%;
}


.dropdown-menu {
	background-clip: border-box;
}

.login-modal {
	width: 350px;
	max-width: 100%;
	margin: 30px auto;
	padding: 0 15px;
}
.language-modal {
	max-width: 100%;
	margin: 30px auto;
	padding: 0 15px;
}

.video-embedded {
	width: 100%;
	overflow: hidden;
}
.video-embedded iframe {
	width: 100%!important;
	height: 100%!important;
}
.text-lg {
	font-size: 18px;
}

.text-md {
	font-size: 15px;
}

.input-group-btn {
	width: 1%!important;
}

.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: 0px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: 0px;
}

.badge {
	min-width: 16px;
	padding: 0 6px;
	line-height: 19px;
	font-size: 12px;
}

.online {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin-left: 2px;
}

.offline {
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin-left: 2px;
}

/* New in 3.2 */

.hr .inner {
    border-radius: 100px;
    display: inline-block;
    width: auto;
    padding: 9px 10px;
    font-family: "Georgia","Times","Times New Roman",serif;
    font-size: 15px;
    font-size: 16px;
    font-style: italic;
    line-height: 0;
}

.hr {
    margin: 15px auto 24px !important;	
    position: relative;
    width: 50%;
    height: 8px;
    margin: 20px auto 30px;
    text-align: center;
}

.btn-facebook i {
	font-size: 1.5em;
	position: absolute;
    top: 8px;
    left: 12px;
}

.btn-google i {
	font-size: 1.5em;
	position: absolute;
    top: 8px;
    left: 10px;
}

.btn-facebook span, .btn-google span {
	margin-left: 38px;
}

.btn-facebook div, .btn-google div {
    height: 100%;
    width: 1px;
    position: absolute;
    left: 36px;
    top: 0px;
}

.btn-facebook, .btn-google {
	position: relative;	
}
.nHo{text-decoration:none;}

.tooltipster-default{
	
	border-radius:5px;border:1px solid #505050;background:rgba(18, 18, 18, 0.95);color:#D5446C;

}

.tooltipster-default .tooltipster-content{
	font-family:Arial,sans-serif;font-size:14px;line-height:16px;padding:8px 10px;overflow:hidden;
	}
#wall_comment {
	background-color:#E6E6E6;
}
						.md-editor {
						    display: block;
							
						}
						.md-editor .md-footer,
						.md-editor>.md-header {
						    display: block;
						    padding: 6px 4px;
						    background: #2B2B2B
						}
						.md-editor>.md-header {
						    margin: 0
						}
						.md-editor> textarea {
							background-color:#fff!important;
							color:#000000;
							font-size: 14px;
						}
						.md-editor.active {
						    outline: 0;
						}
						.md-editor .md-controls {
						    float: right;
						    padding: 3px
						}
						.md-editor .md-controls .md-control {
						    right: 5px;
						    color: #bebebe;
						    padding: 3px 3px 3px 10px
						}
						.md-editor .md-controls .md-control:hover {
						    color: #333
						}
						.md-nooverflow {
						    overflow: hidden;
						    position: fixed;
						    width: 100%
						}
	
.ypp-sub-count-t {
	font-size: 10px;
	padding: 7px;
	background-color: #e1e1e1;
	color: #575757;
	border-radius: 0px 3px 3px 0px;
}
.ypp-sub-count {
	border-radius: 3px 0px 0px 3px;
}
.trusted {
	background: url(/img/trusted.png) no-repeat rgba(0,0,0,0);
	opacity: 0.7;
}

.trusted:hover {
    background: url(/img/trusted_hover.png) no-repeat rgba(0,0,0,0);
	opacity: 1;
}
.trusted,.trusted:hover {
    display: inline-block;
    height: 9px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 12px
}
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border{}.tooltipster-icon{cursor:help;margin-left:4px;}.tooltipster-base{padding:0;font-size:0;line-height:0;position:absolute;left:0;top:0;z-index:9999999;pointer-events:none;width:auto;overflow:visible;}.tooltipster-base .tooltipster-content{overflow:hidden;}.tooltipster-arrow{display:block;text-align:center;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;}.tooltipster-arrow span,.tooltipster-arrow-border{display:block;width:0;height:0;position:absolute;}.tooltipster-arrow-top span,.tooltipster-arrow-top-right span,.tooltipster-arrow-top-left span{border-left:8px solid transparent!important;border-right:8px solid transparent!important;border-top:8px solid;bottom:-7px;}.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-top-right .tooltipster-arrow-border,.tooltipster-arrow-top-left .tooltipster-arrow-border{border-left:9px solid transparent!important;border-right:9px solid transparent!important;border-top:9px solid;bottom:-7px;}.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom-right span,.tooltipster-arrow-bottom-left span{border-left:8px solid transparent!important;border-right:8px solid transparent!important;border-bottom:8px solid;top:-7px;}.tooltipster-arrow-bottom .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border{border-left:9px solid transparent!important;border-right:9px solid transparent!important;border-bottom:9px solid;top:-7px;}.tooltipster-arrow-top span,.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom .tooltipster-arrow-border{left:0;right:0;margin:0 auto;}.tooltipster-arrow-top-left span,.tooltipster-arrow-bottom-left span{left:6px;}.tooltipster-arrow-top-left .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border{left:5px;}.tooltipster-arrow-top-right span,.tooltipster-arrow-bottom-right span{right:6px;}.tooltipster-arrow-top-right .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border{right:5px;}.tooltipster-arrow-left span,.tooltipster-arrow-left .tooltipster-arrow-border{border-top:8px solid transparent!important;border-bottom:8px solid transparent!important;border-left:8px solid;top:50%;margin-top:-7px;right:-7px;}.tooltipster-arrow-left .tooltipster-arrow-border{border-top:9px solid transparent!important;border-bottom:9px solid transparent!important;border-left:9px solid;margin-top:-8px;}.tooltipster-arrow-right span,.tooltipster-arrow-right .tooltipster-arrow-border{border-top:8px solid transparent!important;border-bottom:8px solid transparent!important;border-right:8px solid;top:50%;margin-top:-7px;left:-7px;}.tooltipster-arrow-right .tooltipster-arrow-border{border-top:9px solid transparent!important;border-bottom:9px solid transparent!important;border-right:9px solid;margin-top:-8px;}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity;}.tooltipster-fade-show{opacity:1;}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden;}.tooltipster-grow-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;}.tooltipster-swing-show{opacity:1;-webkit-transform:rotateZ(0deg);-moz-transform:rotateZ(0deg);-o-transform:rotateZ(0deg);-ms-transform:rotateZ(0deg);transform:rotateZ(0deg);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,1);-webkit-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-moz-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-ms-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);-o-transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);transition-timing-function:cubic-bezier(0.230,0.635,0.495,2.4);}.tooltipster-fall{top:0;-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);}.tooltipster-fall-show{}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0px!important;opacity:0;}.tooltipster-slide{left:-40px;-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1);-webkit-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-moz-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-ms-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);-o-transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);transition-timing-function:cubic-bezier(0.175,0.885,0.320,1.15);}.tooltipster-slide.tooltipster-slide-show{}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0px!important;opacity:0;}.tooltipster-content-changing{opacity:0.5;-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1);}

