/* GENTEFLOW.com -----------------------------*/
/*--------------------------------------------*/
@charset "utf-8";

body{font-family: tahoma; font-size: 11px;color:#333333;margin:0px;}
a {
color: #006595;
text-decoration: none;
font-weight: bold;
cursor: pointer;
}
.name_user a {
color: #FFF;
}
.userlink{
font-weight:bolder;
color:#888;
font-size: 11px;
text-decoration:none;
}
.small_link{
display: inline!important;
float: none!important;
width: auto!important;
text-decoration:none;
font-size: 11px;
}
.outdiv {
width: 799px;
height: 579px;
left: 0px;
top: 1px;
overflow: hidden;
position: relative;
}
.premium_frame {
position: absolute;
left: -332px;
top: -156px;
width: 1280px;
height: 1200px;
}
.main {width:1000px; margin: auto;}
.clear {clear:both;}
.space {height:5px;}
h1,h2,h3,h4,p{padding:0; margin:0; display:block;}
div,ul,li,h1,h2,h3,h4,h5,h6,form,textarea,p,td,input{margin:0;padding:0; outline:none;list-style-type: none;}
img{border:0}
fieldset,img{border:0}
.users{float:left;height:150px;width: 940px;background-color: #fff;}
 .users .left_s{float:left;height: 100%;width:350px;border-right:1px dashed #ccc;}
 .users .left_s .img{float:left;width:100px;height:100px;border:1px solid #eee;border-radius:3px;margin:20px 5px;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F8f8f8));background: -moz-linear-gradient(top, #fff, #dcdcdc);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');}
 .users .left_s .img img{max-width: 540px;height: auto;border: solid 2px #000;-webkit-border-radius: 10px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);margin: 0px 0px 0px -3px;display: block;}
 .users .left_s .data{float: left;height: 100px;width: 235px;margin: 20px 0px;}
 .users .left_s .data .name{float: left;width: 95%;font-size: 20px;margin: 2px 0px;color: #BE0C13;margin-left: 10px;}
 .users .left_s .data .email{float: left;width: 95%;font-size: 12px;margin: -5px 0px;color: #333;margin-left: 10px;margin-top: 3px;padding-left: 18px;background: url(../static/img/emailButton.png) no-repeat;}
 .users .left_s .data .table{float: left;width: 235px;margin-top: 15px;}
 .users .left_s .data .table .menus{float: left;width: 185px;font-size:14px;border-radius:3px;background-color: #117DAB;color:#fff;padding:5px;padding-right: 0;}
 .users .left_s .data .table .menus li{float: left;border-radius:2px;background-color: #61A1C8;padding:5px;padding: 0px 9px;margin-right:5px; }
 .users .left_s .data .table .datas{float: left;width: 185px;font-size:14px;border-radius:3px;color:#fff;padding:5px;padding-right: 0;}
 .users .left_s .data .table .datas li{float: left;border-radius:2px;color:#252525;padding:5px;padding: 0px 9px;margin-right:5px;font-weight: bold;text-align: center;margin-top: 8px;}
 .users .left_s .data .table .datas .icons{height:40px;width:40px;background:#e8e8e8;padding:0px;margin:0px 10px;border-radius:40px;border: 2px solid #fff;box-shadow: 0px 0px 8px 0px #ccc;padding: 8px 0px;}
 .users .right_s{float: right;height: 100%;width: 565px;margin-top: 4px;}
 .users .right_s .listad{float: left;width: 120%;border: 1px solid #E1E1E1;padding: 5px;border-radius: 3px;margin-bottom: 12px;overflow-y: auto;}
 .users .right_s .listad li{float: left;padding:5px;width:95%;border-bottom:1px dotted #e1e1e1;}
 .users .right_s .titl{float: left;padding: 5px;width: 444px;background: #117DAB;color: #FFF;font-weight: bolder;font-size: 13px;padding: 5px 60px;margin-bottom: 6px;}
.registerdate {background: url(../static/img/ical.gif) no-repeat;padding-left: 20px!important;padding-top: 1px!important;background-color: #FFF;
}
.activity {background: url(../static/img/favicon.png) no-repeat;padding-left: 20px!important;padding-top: 1px!important;background-color: #FFF;}
.btn_g {display: inline;font-weight: bold;padding: 5px 10px;font-size: 12px;text-shadow: 0 1px 0px #EEE;-webkit-background-clip: padding-box;color: #111;margin-top:100px;background: #E4E4E4;background: -moz-linear-gradient(top, #FCFCFC 0%, #EEE 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#EEE));border-top: 1px solid #CCC;border-right: 1px solid #C6C6C6;border-bottom: 1px solid #AAA;border-left: 1px solid #C6C6C6;-moz-border-radius: 3px;-webkit-border-radius: 3px;text-decoration: none!important;border-radius: 3px;-moz-box-shadow: inset 0 1px 0 0 #f5f5f5, 0 1px 0 0 #DDD;-webkit-box-shadow: inset 0 1px 0 0 whiteSmoke, 0 1px 0 0 #DDD;}
.btn_g span, .btn_g span:hover {padding-left: 22px;text-decoration: none!important;}
.btn_g .follow {background-position: 0 -220px;}
.btn_g span, .btn_g span:hover {padding-left: 22px;text-decoration: none!important;}
.btn_g:hover, .btn_g spam:hover {color: #555;background: linear-gradient(top, white 0%,#DDD 100%);background: white;background: -moz-linear-gradient(top, white 0%, #DDD 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#DDD));background: -webkit-linear-gradient(top, white 0%,#DDD 100%);background: -o-linear-gradient(top, white 0%,#DDD 100%);background: -ms-linear-gradient(top, white 0%,#DDD 100%);background: linear-gradient(top, white 0%,#DDD 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 );text-decoration: none;}
.icons_t {background: url('images/big2v1.png?1.0') no-repeat scroll left top;display: inline;padding: 2px 0 2px 7px;}
.btn_g.v {background: #65D43B;background: -moz-linear-gradient(top, #88E64F 0%, #5ED037 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88E64F), to(#5ED037));border-top: 1px solid #6CAF40;border-right: 1px solid #53A32E;border-bottom: 1px solid #3E9A20;border-left: 1px solid #53A32E;-moz-box-shadow: inset 0 1px 0 0 #a3eb72, 0 1px 2px 0 #b3b3b3;-webkit-box-shadow: inset 0 1px 0 0 #A3EB72, 0 1px 2px 0 #B3B3B3;color: white;font-size: 12px;font-weight: bold;padding: 5px 10px;text-align: center;text-shadow: 0 -1px 0px #4AA322;-webkit-background-clip: padding-box;cursor: pointer;}.btn_g.v:hover {background: #d0373a;background: -moz-linear-gradient(top, #e64f64 0%, #d0373a 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e64f64), to(#d0373a));border-top: 1px solid #af4052;border-right: 1px solid #af4052;border-bottom: 1px solid #a32e38;border-left: 1px solid #af4052;-moz-box-shadow: inset 0 1px 0 0 #eb7286, 0 1px 2px 0 #b3b3b3;-webkit-box-shadow: inset 0 1px 0 0 #eb7286, 0 1px 2px 0 #b3b3b3;color: #fff!important;font-size: 12px;font-weight: bold;padding: 5px 10px;text-align: center;text-shadow: 0 -1px 0px #2E0307;-webkit-background-clip: padding-box;}
.btn_g.vtoup {background: #65D43B;background: -moz-linear-gradient(top, #88E64F 0%, #5ED037 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#88E64F), to(#5ED037));border-top: 1px solid #6CAF40;border-right: 1px solid #53A32E;border-bottom: 1px solid #3E9A20;border-left: 1px solid #53A32E;-moz-box-shadow: inset 0 1px 0 0 #a3eb72, 0 1px 2px 0 #b3b3b3;-webkit-box-shadow: inset 0 1px 0 0 #A3EB72, 0 1px 2px 0 #B3B3B3;color: white;font-size: 12px;font-weight: bold;padding: 5px 10px;text-align: center;text-shadow: 0 -1px 0px #4AA322;-webkit-background-clip: padding-box;cursor: pointer;}
.btn_g.vtoup:hover {background: #45b31d;background: -moz-linear-gradient(top, #78da40 0%, #45b31d 100%);background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#78da40), to(#45b31d));border-top: 1px solid #59a62a;border-right: 1px solid #59a62a;border-bottom: 1px solid #438918;border-left: 1px solid #59a62a;-moz-box-shadow: inset 0 1px 0 0 #a3eb72;-webkit-box-shadow: inset 0 1px 0 0 #a3eb72;-webkit-background-clip: padding-box;color: #FFF;text-decoration: none!important;}
.btn_g.vtoup:active {
  background: #32d335!important;
  border: 1px solid #0e8e1e!important;
  border-bottom: 1px solid #0e408e!important;
  -moz-box-shadow: inset 0 0 6px 3px #1ab928, 0 1px 0 0 #fff!important;
  -webkit-box-shadow: inset 0 0 6px 3px #1ab928, 0 1px 0 0 #fff!important;
  text-shadow: 0 -1px 1px #26ad2b!important;
  -webkit-background-clip: padding-box!important;
  color: #FFF!important;
}
#compartir{padding: 2px 6px;
border-width: 1px;
border-style: solid;
border-color: rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.0980392) rgba(0, 0, 0, 0.247059);
font-size: 12px;
vertical-align: middle;
line-height: 20px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
width: auto;
color: #FFF;
text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
cursor: pointer;
background-color: #49AFCD;
background-image: linear-gradient(#5BC0DE, #2F96B4);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
-webkit-appearance: button;
background-repeat: repeat no-repeat;
margin: 6 -13 0 0;
}
.square{margin: 9 0 0 7;float: left;width: 93.4%;padding: 0 22 10 8;border: 1px solid #E0E0E0;background: #F5F5F5;box-shadow: 0 1px 0 #D3D3D3;border-radius: 5px;}
.icons {background: url(../static/img/big2v1.png) no-repeat scroll left top;display: inline;padding: 2px 0 2px 7px;}
#rango-curioso{    color:  #7E7E7E;}
#rango-novato{color:  #070A0E;}
#rango-usuario{color:  #0B6DBB;}
#rango-colaborador{color:  #C56811;}
#rango-uploader{color:  #3FC500;}
#rango-master{color:  #832E65;}
#rango-elite{color:  #00BE7A;}
#rango-fulluser{color:  #12D0FF;}
#rango-gold{color:  #D1C31E;}
#rango-vip{color:  #8D8D8D;}
#rango-admin{color:  #FF3F0F;}
  ul[class="listad"]::-webkit-scrollbar { width: 15px; height: 15px;background: #eee;border-radius: 2px;}
  ul[class="listad"]::-webkit-scrollbar-thumb { width: 13px; height: 13px;background: #ccc;border-radius: 2px;}
.registro h1 {color: #FFF;background: #117DAB;border: 2px solid #61A1C8;padding: 5px 10px 5px 10px;margin-bottom: 2px;font-weight: bold;text-align: center;display: block;margin-right: 5px;}
#maincontainer {padding: 4px;border: 1px solid #CCC;border-top: 0px;margin-top: 1px;background-image: url(../static/img/postBg.gif);background-repeat: repeat-y;background-position: 78px;}
#inferior {padding:4px;border:1px solid #ccc;border-top:0px;margin-top: -13px; background-image: url(../static/img/postBg.gif);background-repeat: repeat-y;background-position: -12px;}
#main {padding:4px;border:1px solid #ccc;border-top:0px;margin-top: -13px;}
#header {position: relative;width: 981px;height: 57px;margin: auto;margin-top: -15px;}
#header .logo {float: left;width: 370px;height: 25px;display: block;margin: 5px 0 0 3px;}
#header h1 {position:absolute; top:5px; right:10px; margin:0px; font-size:22px; width:630px; text-align:right}
#header p {position:absolute; top:75px; right:10px; margin:0px; font-size:11px; font-weight:normal; color:#7BA5D6}
#header span {position:absolute; top:35px; right:10px; margin:0px}
.ico-user,.ico-comentarios,.ico-posts,.ico-estrella,.tag-bg,.tag-bm,.tag-bc,.ico-lo-mas-buscado,.ico-coment {float: left;background: url(../static/img/sprite.png) no-repeat;padding: 10px 14px 10px 14px;margin-right: 10px;height:10px;}
.ico-user {background-position: -70px -35px;}
.ico-comentarios {background-position: 0px -35px;}
.ico-posts {background-position: -35px -35px;}
.ico-rss, .ico-video, .ico-humor, .ico-camara, .ico-juego, .ico-mundo, .ico-musica, .ico-reloj, .ico-visitas, .ico-alerta, .ico-programas, .ico-juegos, .ico-downloads, .ico-deportes, .ico-info, .ico-noticias, .ico-book, .ico-stars, .ico-manga-anime, .ico-celulares, .ico-images {
background: url(../img/sprite.png) no-repeat;padding: 3px 10px 2px 10px;position: relative;right: 7px}
.ico-deportes {background-position: -23px -177px}
.ico-images {background-position:-311px -156px}
.ico-manga-anime {background-position: -24px -194px}
.ico-celulares {background-position: -192px -175px}
.ico-stars{background-position: -199px -135px}
.ico-book{background-position: -265px -155px}
.ico-noticias{background-position: -120px -155px}
.ico-info{background-position: -287.5px -155px}
.ico-deportes{background-position: -23px -177px}
.ico-downloads{background-position: -72px -176px}
.ico-juegos{background-position: -0px -155px}
.ico-programas{background-position: -0px -175px}
.ico-rss {background-position: -120px -157px}
.ico-juego {background-position: 0px -157px}
.ico-video {background-position: -72px -157px}
.ico-humor {background-position: -192px -157px}
.ico-camara {background-position: -47px -157px}
.ico-mundo {background-position: -24px -157px}
.ico-musica {background-position: -97px -157px}

.menu { height:30px;font-family:tahoma;color:#fff;}
#menuhead {font-family:tahoma;float:center;width:100%;} 
#menuhead ul {margin:0;list-style:none;}
#menuhead li {display:inline;}
#menuhead a {float:left;text-decoration:none;margin-right:1px;}
#menuhead a span {float: left;color: #FFF;background: #117DAB;border: 2px solid #61A1C8;padding: 5px 20px 5px 20px;font-weight: bold;display: block;text-shadow: 1px 1px #4E789E;}
#menuhead a:hover span {background: #238CCA;border: 2px solid #0E80FC;}
 #menuhead #current a {background-position:0% -42px;}
 #menuhead #current a span {background-position:100% -42px;}
.subtitu {color: #FFF;background: #117DAB;border: 2px solid #61A1C8;padding: 5px 10px 5px 10px;margin-bottom: 2px;font-weight: bold;text-align: left;display: block}

.content {line-height: 1.5;width: 548px;color: #222;margin: 0 0 2px 3px;font-size: 12px;}
.content img {max-width: 540px;height: auto;border: solid 2px #000;-webkit-border-radius: 10px;-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);box-shadow: 0 2px 7px rgba(0, 0, 0, .4);margin: 5px auto;display: block;}
.content a {color: #0082C0;font-size: 12.5px;font-weight: bold;text-decoration: underline;}
.content p {word-wrap: break-word;}
.content .titles {text-align: center;font-weight: bold;display: block;font-size: 16px;color: #C3CCD7;}
.paginate a:hover, .paginate a:active {
color: #FFF;
background: url(http://4.bp.blogspot.com/-CA_JkjQq2Qo/UVO0ESDsFFI/AAAAAAAAAg8/Qu0gStGajyM/s1600/letras-bg.jpg) right no-repeat;
}
#menuhead ul li a{
  color:rgb(208, 200, 200);
}
.paginate a {
float: left;
text-decoration: none;#su
padding: 5px 8px;
border-radius: 3px;
margin-right: 5px;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#EBEBEB),color-stop(100%,#FFF));
background-image: -webkit-linear-gradient(bottom,#EBEBEB,#FFF 100%);
background-image: linear-gradient(to top,#EBEBEB 0,#FFF 100%);
border: 1px solid #E6E6E6;
}
.paginate a:hover {
float: left;
color: #FFF;
padding: 4px 8px;
text-decoration: none;
border-radius: 3px;
margin-right: 5px;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#D31818),color-stop(100%,#EB2424));
background-image: -webkit-linear-gradient(bottom,#F32626,#490A0A 100%);
background-image: linear-gradient(to top,#727070 0,#A39E9E 100%);
border: 1px solid #727070;
}
.paginate a.current {
    float: left;
    color: #909090;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#D31818),color-stop(100%,#EB2424));
    background-image: -webkit-linear-gradient(bottom,#F32626,#490A0A 100%);
    background-image: linear-gradient(to top,#FDFAFA 0,#DEDDDD 100%);
    border: 1px solid #B5B5B5;
}
.paginate span.current {
float: left;
color: #FFF;
padding: 4px 8px;
text-decoration: none;
border-radius: 3px;
margin-right: 5px;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#D31818),color-stop(100%,#EB2424));
background-image: -webkit-linear-gradient(bottom,#F32626,#490A0A 100%);
background-image: linear-gradient(to top,#727070 0,#A39E9E 100%);
border: 1px solid #727070;
}
#navi {
width: 100%;
padding: 2px;
text-align: center;
margin-top: 0px;
}
#twitter-widget-0{
margin-top:-4px;
}
#___plusone_0 {
margin-top: -3px!important;
height: 58px!important;
}