      body{font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;font-size: 12px;cursor: default; }
      #maincontainer{float: left;width: 99%;}
      .footers{float: left;width: 100%;height: auto;margin-top: -1px;}
      .footers .footerMain{float: left;padding: 10px;background: #fff;width: 97.8%;border-top: 1px solid #eee;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
      .footers .footerMain input{float:left;width:250px;padding: 5px 25px 5px 5px;border:1px solid #ccc;border-radius:20px;background:url(http://o1.t26.net/img/magn.gif) no-repeat 225px 6px;}
      .footers .footerMain a{float:left;margin-top: 7px;}
      .footers .style{float:left;width: 100%;height: 15px;background: url(http://o1.t26.net/img/bgfooter.png) no-repeat 0px 0px;background-size: 100%;}
      .footers .footerSecond{float:left;width:98%;margin-top: 5px;margin-bottom:10px;padding:10px;background: #eeeeee}
      .footers .footerSecond ul{float:left;width:100%;}
      .footers .footerSecond ul li{float:left;margin-right: 10px;}
      .description {display:none;}
      .container{float: left;width: 100%;margin-top: 0;border-top: none;}
      .subtitu{height: 12px;background: transparent;border: none;color:#333;background: url(../img/dotccc.gif) repeat-x 0 12px;padding: 6px 0px;font-family: arial;font-size: 12px;}
      .subtitu font{float: left;background: #fff;padding: 0px 10px 0px 5px;font-size: 16px!important;}
      .subtitu i{float: left;background: #fff url(../img/youtube.webp) no-repeat;border: 1px solid #ccc;border-radius: 2px;}
      #superior {float: left;background-color: rgb(33, 58, 95);width: 100%;height: 42px;margin: 0px;padding: 0px;}
      #header{margin-bottom: 0px;width: 1004px;height: 58px;margin: 0 auto;margin-top: -18px;}
      #header .logo{background-size: 260px;width: 261px;margin: 13px 0 0 0px;color: white;font-size: 25px;padding-top: 13px;font-family: Arial, Helvetica, sans-serif;}
      #header .redes-sociales{float: left;margin-top: 22px;margin-left: 10px;}
      #header .redes-sociales li{float:left;background: url(../img/sprites.png) #333;width: 36px;height: 36px;border-radius: 18px;margin: 0 .4em .4em 0;text-indent: -9000px;cursor:pointer;}
      #header .users{float: left;width: 260px;height: 32px;background-color: transparent;margin-top: 25px;margin-left: 20px;}
      #header .users li{float:right;}
      h1, h2, h3, h4, h5, h6 {font-weight: normal;color: #111;}
      #header .users .sec{float:left;padding:7px 14px;color:#fff;cursor:pointer;border-radius: 2px;font-weight: bold;font-family: arial;font-size: 12px;-moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;-webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;box-shadow: inset 0px 1px 0px 0px #c1ed9c;background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );background: -moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');background-color: #9dce2c;text-shadow: 1px 1px 0px #86ae47;}
      #header .users .sec:hover{padding:7px 14px;color:#fff;cursor:pointer;float:left;box-shadow: inset 0px 0px 10px 5px #8cb82b}
      #header .users .sec a{color:#fff;text-decoration: none;}
      #header .users .reg{float:left;padding:7px 14px;color:#fff;cursor:pointer;color:#fff;}
      #header .users .reg a{color:#fff;text-decoration: none;}
      #header .users .msn{color:#fff;cursor:pointer;background: rgb(0, 28, 58);border: 1px solid rgba(255, 255, 255, 0.18);border-right: 1px solid rgba(0, 0, 0, 0.13);}
      #header .users .msn .button{padding: 7px 10px;float: left;}
      #header .users .msn i{float:left;width: 16px;height: 16px;background: url(../img/16icons.png) no-repeat -221px -33px;}
      #header .users .notif{padding: 7px 10px;color: #fff;cursor: pointer;background: rgb(0, 28, 58);border-top-right-radius: 3px;border-bottom-right-radius: 3px;border: 1px solid rgba(255, 255, 255, 0.18);}
      #header .users .notif i{float:left;width: 16px;height: 16px;background: url(../img/16icons.png) no-repeat -204px -33px;}
      #header .users .msn .msn_capa, #header .users .notif .notif_capa{z-index: 999999;position: absolute;width: 250px;padding: 5px;top: 70px;background: #FFF;border: 1px solid #000;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);border-radius: 5px!important;}
      #header .users .msn .msn_capa i, #header .users .notif .notif_capa i{position: relative;top: -11px;left: 120px;height: 6px;width: 11px;background:url(../img/arrowtop.png);}
      #header .users .msn .msn_capa .header, #header .users .notif .notif_capa .header{float:left;width:100%;border-bottom:1px dotted #ccc;margin-top: -5px;font-size: 12px;font-weight:bolder;color:#333;}
      #header .users .msn .msn_capa .ul, #header .users .notif .notif_capa .ul{float: left;width: 100%;max-height: 280px;margin-top: 3px;overflow: auto;}
      div[class="ul"]::-webkit-scrollbar {width: 10px;height: 15px;background: rgba(102, 102, 102, 0.18);border-radius: 2px;}
      div[class="ul"]::-webkit-scrollbar-thumb {width: 13px;height: 13px;background: rgba(124, 124, 124, 1);border-radius: 2px;}
      #header .users .msn .msn_capa .ul .li, #header .users .notif .notif_capa .ul .li{margin-top: -2px;float: left;width: 96%;overflow:hidden;height: 15px;font-size: 12px;overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 10 0 28 6px;border-top: 1px solid #EEE;background: #FFF;}
      #header .users .msn .glob,#header .users .msn .glob{position: absolute;background: #D30000;color: #fff;padding: 1px 5px;border-radius: 3px;margin-top: -12px;margin-left: 8px;}
      #header .users .profiles{cursor:pointer;color:#fff; background:rgb(0, 28, 58);border-top-left-radius: 3px;border-bottom-left-radius: 3px;border: 1px solid rgba(255, 255, 255, 0.18);}
      #header .users .profiles ul{float:left;width:140px;margin-top:1px;border-right: 1px solid rgba(0, 0, 0, 0.02);}
      #header .users .profiles ul li{float:left;width:93%;padding: 2px 5px;background: rgba(255, 255, 255, 0.14)}
      #header .users .profiles ul li:hover{background: rgba(0, 0, 0, 0.31)}
      #header .users .profiles ul li .img_user{float:left;width: 25px;height: 25px;}
      #header .users .profiles ul li .img_user img{float:left;border-radius: 28px;box-shadow: 0px 0px 8px -1px #000;}
      #header .users .profiles ul li .name_user{float:left;font-weight: bolder;font-size: 12px;margin: 5px 4px;}
      #header .users .profiles ul .anex{float:left;display:none;padding:3px 5px;}
      .anex a{color:white;cursor:pointer;}
      #header .search{float:right;margin:22px 5px 0px 0px;border: 1px solid rgba(9, 9, 9, 0.09);border-radius: 3px;padding: 5px;background: rgba(0, 0, 0, 0.15);color: #ccc;padding:3px;}
      #header .search input{float: left;border: 1px solid rgba(9, 9, 9, 0.09);border-radius: 3px;padding: 5px 25px 5px 5px;background: rgba(0, 0, 0, 0.3);color: #ccc;width: 260px;}
      #header .search i{position: absolute;height: 16px;width: 16px;margin-left: -21px;margin-top: 7px;background: url(http://s.ytimg.com/yts/imgbin/www-hitchhiker-vflXOWz10.webp) no-repeat -28px -801px;}
      #menuhead{float: left;width: 100%;height: 23px;border-top: 1px solid #232323;background: #333;}
      #menuhead ul{margin: 0 auto;width: 946px;}
      #menuhead ul li{float: left;padding: 3px 15px;font-size: 12px;color: #fff;border-left: 1px solid #444;border-right: 1px solid #000;cursor: pointer;}
      .img-torrent img{height: 54px;width: 40px;}
      #menuhead ul li:hover{box-shadow:inset 0px 0px 15px -2px #000;}
      #menuhead ul li i{float:left;height:16px;width:16px;background:url(../img/16icons.png) no-repeat  -152px -119px;}
      #menuhead ul li.selected{background: rgba(255, 255, 255, 0.1);color: #FFF;box-shadow: inset 0px 0px 10px -1px #000;}
      #menuhead ul .buscador{float:right;padding: 4px;border:none;}
      #menuhead ul .buscador:hover{box-shadow: none}
      #menuhead ul .buscador input{float: left;width: 360px;background: #555;border-radius: 3px;border: 1px solid #303030;padding: 4px 10px;margin-right: 10px;color: #ccc;}
      
      .footer{float: left;width: 94.8%;margin: 5px;padding: 5px 20px;background: rgba(0, 0, 0, 0.76);color: #fff;border-radius: 3px;}
      .footer ul{float:left;width:100%;}
      .footer ul li{float: left;padding: 5px 10px;background: #535353;margin-right: 10px;border-radius: 3px;}
      
      .search-capa{z-index: 999999;position:absolute;padding:5px;background:#fff;border:1px solid #ccc;border-bottom-left-radius:3px;border-bottom-right-radius:3px;width:247px;margin-top: 29px;}
      .search-capa .result-search-capa{float:left;width:100%;margin: 0px 0px 5px 0px;word-wrap: break-word;overflow: hidden;}
      .search-capa .max-search-capa{float: left;background: #ccc;border-top-left-radius: 2px;border-top-right-radius: 2px;color: rgba(85, 85, 85, 0.81);font-size: 12px;font-weight: bolder;padding: 6px 65px;cursor: pointer;background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#ebebeb),color-stop(100%,#FFFFFF));background-image: -webkit-linear-gradient(bottom,#ebebeb,#FFFFFF 100%);background-image: linear-gradient(to top,#ebebeb 0,#FFFFFF 100%);border: 1px solid #E6E6E6;}

      .list-element{height: 17px;width: 100%;padding: 6px 0px;border-bottom: 1px dotted #ccc;background:#fff;font-size: 12px}
      .list-element:nth-child(odd){background:#f8f8f8;}
      .list-element span{float:left;margin-left: 5px;}
      .list-element a{float: left;width: 86%;overflow-x: hidden;text-overflow: ellipsis;white-space: nowrap;text-decoration: none;color: #006595;padding: 3px;}

      .mensaje-red,.mensaje-orange,.mensaje-green{position:fixed;width: 151px;text-align: center;bottom:25px;left:10px;color:#fff;padding:5px;font-size: 12px;opacity: 0.8;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}
      .mensaje-red{background: #D14141;border: 1px solid #A30606;}
      .mensaje-orange{background: #DF8041;border: 1px solid #B66916;}
      .mensaje-green{background: #8FB921;border: 1px solid #5E7908;}

      .create_msn{position: fixed;display:none;height:500px;width:500px;background:#fff;box-shadow: rgba(0,0,0,0.2) 0 2px 6px;bottom: 0;right: 10px;}
      .create_msn .title{float: left;width:98%;background:#333;color: #fff;font-size: 13px;padding:5px;}
      .create_msn .title span{float: left;margin: 4px;}
      .create_msn .title .menu-mensaje{float:right;}
      .create_msn .title .menu-mensaje li{float:left;height:25px;width:25px;background: url("../img/icon-button.png") no-repeat 1px -372px;}
      .create_msn .title .menu-mensaje li:hover{background:#555 url("../img/icon-button.png") no-repeat 1px -372px;}
      .create_msn .emisor{float:left;width: 100%;}
      .create_msn .emisor .emisor_input,.create_msn .emisor .titulo_input {float:left;width: 96%;padding: 10px;border-bottom:1px solid #ccc;}
      .create_msn .emisor .emisor_input span,.create_msn .emisor .titulo_input span{float:left;font-size: 12px}
      .create_msn .emisor .emisor_input input,.create_msn .emisor .titulo_input input{float:left;width: 440px;margin-left: 5px;border:0px;}
      .create_msn .contenido{float:left;width: 100%;}
      .create_msn .contenido .menu-content{float:left;width: 97.5%;background:#f1f1f1;border:1px solid #e8e8e8;margin: 5px}
      .create_msn .contenido .menu-content li{float:left;padding:5px;padding-right: 0px}
      input[class="negrita"],input[class="subrayado"],input[class="cursiva"]{cursor:pointer;float:left;padding: 3px 10.5px;border:1px solid #e1e1e1;background: #e1e1e1 url(../img/wpicons.png) no-repeat;border-radius:3px;background-size: 495px;}
      .create_msn .contenido .menu-content li .enviar{float: right;padding: 3px 10px;margin-right: 5px;font-size: 12px;border: 1px solid #ccc;border-radius: 3px;color: #fff;-moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;-webkit-box-shadow: inset 0px 1px 0px 0px #9FD0F0;box-shadow: inset 0px 1px 0px 0px #9FD0F0;background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );background: -moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');background-color: #63b8ee;border: 1px solid #3693C7;cursor: pointer;}
      .create_msn .contenido .menu-content li .no-enviar{float: right;padding: 3px 10px;margin-right: 5px;font-size: 12px;border-radius: 3px;color: #fff;background: #D6D6D6;border: 1px solid #ccc;cursor: pointer;}
      .create_msn .contenido .textarea{float: left;width: 95.5%;height: 328px;resize: none;margin: 5px;margin-top: -5px;overflow-y: scroll;border: 1px solid #e8e8e8;border-top: 0px;padding: 5px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;font-size: 12px;}

      .black{position:fixed;top:0;width: 100%;height:100%;background: rgba(0, 0, 0, 0.27);z-index: 99;overflow-y:scroll;}
      .div_border_trans {background: rgba(105,125,145,0.7)!important;color: #5B636A;background: rgba(105,125,145,0.7)!important;
color: #5B636A;
position: absolute;
padding: 7px!important;
overflow: hidden;
box-shadow: 0 0 15px rgba(7, 7, 7, 0.83);}

      

      .view_mensaje{position:fixed;width:300px;z-index: 9999;background:#fff;border-radius:2px;padding:5px;font-family: Helvetica,Arial,sans-serif;
        -moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
-khtml-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;

-moz-border-radius-bottomleft: 4px;
-webkit-border-bottom-left-radius: 4px;
-khtml-border-bottom-left-radius: 4px;
border-bottom-left-radius: 4px;

-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
-khtml-border-top-right-radius: 4px;
border-top-right-radius: 4px;

-moz-border-radius-topleft: 4px;
-webkit-border-top-left-radius: 4px;
-khtml-border-top-left-radius: 4px;
border-top-left-radius: 4px;
      }
      .view_mensaje .dialog_header{border-bottom: 1px dashed #ABB4BF;background: #fff;color: #096FDB;font-weight: bold;font-size: 18px;padding: 8px 12px;position: relative;border-radius: 4px 4px 0 0;}
      .view_mensaje .dialog_content{position: relative;border: 0;padding: .5em 1em;background: #F2F6F9;overflow: auto;zoom: 1;}
      .view_mensaje .dialog_content p{text-align: center;padding: 20px 10px;font-weight: bold;color: #096FDB;margin:0;}
      .view_mensaje .dialog_footer{box-shadow: 0 3px 5px #D5DDE5 inset;border-radius: 0 0 4px 4px;text-align: left;border: none;border-top: 1px solid #C1CAD5!important;background: #fff;margin: 0;padding: 5px 10px;overflow:hidden;}

      .view_mensaje .emisor{float:left;width:100%;}
      .view_mensaje .receptor{float:left;width:100%;}
      .view_mensaje .mensaje{float: left;width: 96%;min-height: 75px;max-height: 75px;overflow-y: auto;padding: 5px;border: 1px dotted #ccc;border-radius: 2px;}
      .view_mensaje .botones{float:left;width:100%;margin-top: 5px;}
      .view_mensaje .botones div{cursor:pointer;}
      .view_mensaje .botones .marca,.cancelar{cursor: pointer;float:right;padding:5px 10px;background:#252525;color:#fff;border-radius:2px;margin-left:5px;border: 1px solid #202020;}
      .view_mensaje .botones .cerrar,.eliminar{cursor: pointer;float:right;padding:5px 10px ;background:#c23322;color:#fff;border-radius:2px;margin-left:5px;border: 1px solid #831926;}
      .view_mensaje .botones .cerrar,.restore{cursor: pointer;float: right;padding: 5px 10px;background: #4FB815;color: #FFF;border-radius: 2px;border: 1px solid #0FB415;margin-left: 5px;}
      .view_mensaje .botones .cerrar, .aprobe {cursor: pointer;float: right;padding: 5px 10px;background: #4FB815;color: #FFF;border-radius: 2px;border: 1px solid #0FB415;margin-left: 5px;
}
      .view_mensaje .aceptar2 {cursor: pointer;background: #5B9C1F;font-family: Verdana,Arial,Helvetica,sans-serif;text-align: center;font-weight: bold;color: #fff;border-radius: 2px;margin-left: 5px;padding: 7 0 8 0;}
      .view_mensaje .aceptar {cursor: pointer;background: #1483C2;font-family: Verdana,Arial,Helvetica,sans-serif;text-align: center;font-weight: bold;color: #fff;border-radius: 2px;margin-left: 5px;padding: 7 0 8 0;}
.float-left{float:left;}
.float-right{float:right;}
.updated {
margin: 5px 0 15px;
background-color: #F0FC9E;
border-left: 4px solid #7AD03A!important;
-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1)!important;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1)!important;
border: 0;
padding: 6px;
font-size: 15px;
}
.share_capa{background: #fff;position: absolute;top: 363px;left: 435px;width: 212px;height: auto;padding: 5px;border: 1px solid #e1e1e1;margin-bottom: 5px;border-radius: 3px;box-shadow: 1px 1px 8px rgba(211, 211, 211, 1);}
.comments-empty, .alert-msg {
padding: 12px;
width: 94%;
border: 2px dashed #BCD7E4;
font-weight: bold;
text-align: center;
font-size: 14px;
color: #006595;
background: #E7F7FF;
}
.nada-amarillo {
padding: 12px;
border: 2px dashed #DEDE88;
font-weight: bold;
text-align: center;
font-size: 14px;
color: #555;
background: #FFC;
}
.share_capa .hide{position: absolute;background: #000 url("../img/cerrar.jpg") no-repeat 0px 0px;left: 215px;top: -9px;width: 15px;height: 15px;border-radius: 20px;cursor: pointer;}
.share_capa .title{width:100%;font-style: italic;font-weight: bolder;color: #111;font-size: 12px;}
.share_capa .form{width:100%;}
.share_capa .form input[type="text"]{width:70%;border:1px solid #e1e1e1;border-radius: 2px;padding: 5px;}
.share_capa .form .submit{background:#34BFEB;width:28%;color: #fff;border: 1px solid #23B0D3;border-radius: 2px;padding: 5px 10px;cursor: pointer;}
.share_capa .form .button{background:#ccc;width:28%;color: #fff;border: 1px solid #B6B6B6;border-radius: 2px;padding: 5px 10px;}
#rango-curioso{
    color:  #7E7E7E;
}
#rango-novato{
    color:  #070A0E;
}
#rango-usuario{
    color:  #0B6DBB;
}
#rango-colaborador{
    color:  #C56811;
}
#rango-uploader{
    color:  #3FC500;
}
#rango-master{
    color:  #832E65;
}
#rango-elite{
    color:  #00BE7A;
}
#rango-fulluser{
    color:  #12D0FF;
}
#rango-gold{
    color:  #D1C31E;
}
#rango-vip{
    color:  #8D8D8D;
}
#rango-admin{
    color:  #FF3F0F;
}
.licont{
  position: relative;
}
#mensajes-list img.offline {
border-right: solid 4px;
border-color: #CCC;
}
#mensajes-list:hover {
background: #EEE!important;
}
#mensajes-list img {
display: block;
float: left;
width: 32px;
height: 32px;
border: solid 1px;
border-radius: 5px;
}
#mensajes-list .unread:hover{
border: 0;
font-weight: bold;
background: #EEE!important;
}
#mensajes-list .licont:hover{
border: 0;
font-weight: bold;
background: #EEE!important;
}
#mensajes-list .unread{
border: 0;
font-weight: bold;
background: #F2FBFF url(http://o1.t26.net/img/bullet.png) right no-repeat!important;
}
.msn_capa h3 {
padding: 2px 0 9px 4px;
margin: 0;
border-bottom: 1px dashed #EEE;
font-weight: bold;
font-size: 12px;
}
.asunto {
font-weight: normal;
color: #999;
}
.unread .asunto {
font-weight: bold;
color: #000;
}

.unread .msg-nick {
font-weight: bold;
color: #006595;;
}
.info-msg {
font-size: 11px;
margin: 0 0 0 43px;
}
.view-more-list {
padding: 3px;
border-top: 1px solid #CFE9F4;
border-radius: 0 0 5px 5px;
text-align: center;
background: #EFF9FD;
}
.clear{
   clear:both;
}
#menu {
width: 99.2%;
padding: 8px;
background: #FFF url(http://o1.t26.net/img/menubg.gif) repeat-x bottom left;
margin: -5px 0px 0px -4px;
padding-top: 23px;
padding-bottom: 15px;
}
#menu ul.tabs {
float: left;
}
#menu ul li, .menu-tabs-perfil ul li {
float: left;
margin-right: 5px;
font-size: 13px;
}
#menu ul li.active a, #menu ul li a.active, .menu-tabs-perfil ul li.selected a {
border-radius: 15px;
color: #2B2B2B;
background: #EEE;
}
#menu ul li a, .menu-tabs-perfil ul li a:hover {
text-decoration: none;
}
#menu ul li a, .menu-tabs-perfil ul li a {
display: block;
padding: 2px 9px 2px 9px;
border: 1px solid rgba(0, 0, 0, 0);
font-weight: bold;
color: #105CB6;
}
#menu .player-post {
float: right;
margin-top: 2px;
width: 75px;
}
.clearfix{
zoom: 1;
display: block;
}
.resultados_bus {
    float: left;
    width: 96%;
    margin: 20px 10px 0px 10px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
}

.resultados_bus_cont {
    float: left;
    width: 100%;
}

.resultados_bus_puntos {
width: 100%;
font-size: 15px;
margin-right: 10px;
margin-top: 8px;
}

.resultados_bus_puntos p {
    margin: 0;
    margin-left: 24px;
}

.bus {
    float: left;
    width: 96%;
    font-size: 11px;
}

.bus span {
    float: left;
}

.bus h2 {
    margin-top:1px;
    font-size:16px;
    line-height: 20px;
    white-space: nowrap;
    overflow:hidden;
    height:23px;
    text-overflow: ellipsis;
    
}

.bus a {
    color: #0979AC;
    text-decoration: none;
    
}

.bus a:hover {
    color: #289DD3;
    text-decoration: underline;
}

.bus_p {
    float: left;
    width: 96%;
    font-size: 14px;
    margin-left: 23px;
    color: #adadad;
}

.bus_p a {
    color: #0979AC;
    text-decoration: none;
}

.bus_p a:hover {
    color: #289DD3;
    text-decoration: underline;
}

.bus_p p {
    margin: 0;
}
