
@charset "utf-8";

/*==================================================
	ヘッダーボタン
	トップページ
	基本定義
	大サイズのボタンアクション
	小サイズのボタンアクション
==================================================*/

/*--------------------------------------------------
	ヘッダーボタン
--------------------------------------------------*/
/* 登録情報変更 */
a.btnHead01{
display: inline-block;
padding: 0 9px;
text-align: center;
font-size: 92.30%;
color: #3d3d3d;
background: #ffffff;
line-height: 22px;
border: solid 1px #cccccc;
border-radius: 4px;
}
a.btnHead01:hover{
text-decoration: none;
background: #f7f7f7;
}
/* ログアウト */
a.btnHead02{
display: inline-block;
padding: 0 9px;
text-align: center;
font-size: 92.30%;
font-weight: bold;
color: #fff;
background: #282828;
line-height: 22px;
border: solid 1px #282828;
border-radius: 4px;;
}
a.btnHead02:hover{
text-decoration: none;
background: #4d4d4d;
}
/* 会員登録 */
a.btnHead03{
display: inline-block;
padding: 0 9px;
text-align: center;
font-size: 92.30%;
font-weight: bold;
color: #3d3d3d;
background: #ffffff;
line-height: 22px;
border: solid 1px #cccccc;
border-radius: 4px;
}
a.btnHead03:hover{
text-decoration: none;
background: #f7f7f7;
}
/* ログイン */
a.btnHead04{
display: inline-block;
padding: 0 9px;
text-align: center;
font-size: 92.30%;
font-weight: bold;
color: #fff;
background: #ff6600;
line-height: 22px;
border: solid 1px #ff6600;
border-radius: 4px;
}
a.btnHead04:hover{
text-decoration: none;
background: #ff944c;
}
/*--------------------------------------------------
	トップページ
--------------------------------------------------*/
/* 会員登録ボタン */
a.btnTop01{
display: block;
width: 288px;
height: 63px;
padding-top:16px;
position: relative;
color: #fff;
text-align: center;
font-weight: bold;
background: #ff6600;
border-radius: 4px;
/* border-bottom: solid 2px #c24e00; */
box-shadow: 0 2px 0 #c24e00;
}
a.btnTop01:hover{
background: #ff944c;
text-decoration: none;
}
a.btnTop01:active{
top: 2px;
box-shadow: 0 1px 0 #ff944c , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnTop01.active {
top: 2px;
box-shadow: 0 1px 0 #ff944c , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnTop01 .upper{
display: block;
font-size: 200%;
line-height: 22px;
margin-bottom: 11px;
padding-left: 0;
}
a.btnTop01 .under{
display: block;
font-size: 90%; /* 20160331inte追加 */
line-height: 13px;
}
/* ログイン */
a.btnTop02{
display: block;
width: 286px;
padding: 15px 0 12px;
position: relative;
font-size: 200%;
line-height: 26px;
text-align: center;
color: #333333;
font-weight: bold;
background: #f5f5f5;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-right: solid 1px #cccccc;
border-radius: 4px;
box-shadow: 0 2px 0 #cccccc;
}
a.btnTop02:hover{
text-decoration: none;
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
}
a.btnTop02:active{
top: 1px;
box-shadow: 0 1px 0 #adadad , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/* 検索 */
a.btnTop03{
display: block;
width: 79px;
padding: 7px 0 5px;
position: relative;
font-size: 107.69%;
text-align: center;
line-height: 1em;
color: #3d3d3d;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-right: solid 1px #cccccc;
box-shadow: 0 2px 0 #cccccc;
border-radius: 4px;
}
a.btnTop03:hover{
text-decoration: none;
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
}
a.btnTop03:active{
top: 1px;
box-shadow: 0 1px 0 #adadad , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/* 次のステップへ */
a.btnTop04{
display: block;
width: 168px;
padding: 10px 0 9px;
position: relative;
font-size: 107.69%;
text-align: center;
line-height: 1em;
color: #3d3d3d;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-right: solid 1px #cccccc;
box-shadow: 0 2px 0 #cccccc;
border-radius: 4px;
}
a.btnTop04:hover{
text-decoration: none;
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
}
a.btnTop04:active{
top: 1px;
box-shadow: 0 1px 0 #adadad , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/* 検索条件を保存 */
a.btnTop05{
display: block;
width: 286px;
padding: 7px 0 6px;
position: relative;
font-size: 107.69%;
text-align: center;
line-height: 1em;
color: #3d3d3d;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-right: solid 1px #cccccc;
box-shadow: 0 2px 0 #cccccc;
border-radius: 4px;
}
a.btnTop05:hover{
text-decoration: none;
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
}
a.btnTop05:active{
top: 1px;
box-shadow: 0 1px 0 #adadad , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/* 企業提出用シートの確認・印刷 */
.btnTop05.btnW222 {
width: 222px;
}
/* 登録する */
a.btnTop06{
display: block;
width: 93px;
padding: 7px 0 6px;
position: relative;
font-size: 107.69%;
text-align: center;
line-height: 1em;
color: #3d3d3d;
font-weight: bold;
background: #f7f7f7;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-right: solid 1px #cccccc;
box-shadow: 0 2px 0 #cccccc;
border-radius: 4px;
}
a.btnTop06:hover{
text-decoration: none;
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
}
a.btnTop06:active{
top: 1px;
box-shadow: 0 1px 0 #adadad , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}

/*--------------------------------------------------
	トップページ
--------------------------------------------------*/
/* 次のステップへ */
a.btnFoot01{
display: block;
width: 126px;
padding: 6px 0 4px;
position: relative;
font-size: 84.61%;
text-align: center;
line-height: 1em;
color: #3d3d3d;
border-top: solid 1px #cccccc;
border-left: solid 1px #cccccc;
border-right: solid 1px #cccccc;
box-shadow: 0 2px 0 #cccccc;
border-radius: 4px;
background: #fff;
margin: 0 0 0 96px;
}
a.btnFoot01:hover{
text-decoration: none;
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
}
a.btnFoot01:active{
top: 1px;
box-shadow: 0 1px 0 #adadad , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/*--------------------------------------------------
	求人票ボタン
--------------------------------------------------*/
a.btnList01{
display: block;
width: 190px;
padding: 10px 0 8px;
position: relative;
font-size: 115.38%;
font-weight: bold;
color: #fff;
line-height: 1em;
text-align: center;
background: #ff6600;
border: solid 1px #ff6600;
/* border-bottom: none; */
box-shadow: 0 2px 0 #c24e00;
border-radius: 4px;
}
a.btnList01:hover{
background: #ff944c;
border: solid 1px #ff944c;
/* border-bottom: none; */
text-decoration: none;
}
a.btnList01:active{
top: 1px;
box-shadow: 0 1px 0 #ff944c , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnList02{
display: block;
width: 190px;
padding: 10px 0 8px;
position: relative;
font-size: 115.38%;
font-weight: bold;
color: #fff;
line-height: 1em;
text-align: center;
background: #82ad2b;
border: solid 1px #82ad2b;
/* border-bottom: none; */
box-shadow: 0 2px 0 #678a22;
border-radius: 4px;
}
a.btnList02:hover{
background: #9dc747;
border: solid 1px #9dc747;
/* border-bottom: none; */
text-decoration: none;
}
a.btnList02:active{
top: 1px;
box-shadow: 0 1px 0 #9dc747, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnList03{
display: block;
width: 190px;
padding: 10px 0 8px;
position: relative;
font-size: 115.38%;
font-weight: bold;
color: #fff;
line-height: 1em;
text-align: center;
background: #4288b9;
border: solid 1px #4288b9;
/* border-bottom: none; */
box-shadow: 0 2px 0 #32668b;
border-radius: 4px;
}
a.btnList03:hover{
background: #6fa3c8;
border: solid 1px #6fa3c8;
/* border-bottom: none; */
text-decoration: none;
}
a.btnList03:active{
top: 1px;
box-shadow: 0 1px 0 #32668b, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnList04{
display: block;
width: 190px;
padding: 10px 0 9px;
position: relative;
font-size: 107.69%;
color: #3d3d3d;
line-height: 1em;
text-align: center;
background: #fff;
border: solid 1px #cccccc;
/* border-bottom: none; */
box-shadow: 0 1px 0 #cccccc;
border-radius: 4px;
}
a.btnList04:hover{
background: #f7f7f7;
border: solid 1px #adadad ;
box-shadow: 0 1px 0 #adadad ;
text-decoration: none;
}
a.btnList04:active{
top: 1px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnList05,
span.btnList05{
display: block;
width: 190px;
padding: 10px 0 9px;
position: relative;
font-size: 107.69%;
color: #b8b8b8;
line-height: 1em;
text-align: center;
background: #f2f2f2;
border: solid 1px #cccccc;
border-radius: 4px;
box-shadow:  rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
top: 1px;
}
a.btnList05:hover{
background: #f2f2f2;
border: solid 1px #cccccc;
text-decoration: none;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnList05:active{
top: 2px;
}

/*--------------------------------------------------
	求人
--------------------------------------------------*/
a.btnJob01{
display: block;
width: 142px;
padding: 4px 0 0px;
position: relative;
font-size: 84.61% ;
font-weight: bold;
color: #fff;
line-height: 14px;
text-align: center;
background: #ff6600;
border: solid 1px #ff6600;
/* border-bottom: none; */
box-shadow: 0 2px 0 #c24e00;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnJob01:hover{
background: #ff944c;
border: solid 1px #ff944c;
/* border-bottom: none; */
text-decoration: none;
}
a.btnJob01:active{
top: 1px;
box-shadow: 0 1px 0 #ff944c, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnJob02{
display: block;
width: 142px;
padding: 10px 0 8px;
position: relative;
font-size: 107.69%;
font-weight: bold;
color: #fff;
line-height: 14px;
text-align: center;
background: #4289b9;
border: solid 1px #4289b9;
/* border-bottom: none; */
box-shadow: 0 2px 0 #32668a;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnJob02:hover{
background: #4595cc;
border: solid 1px #4595cc;
/* border-bottom: none; */
text-decoration: none;
}
a.btnJob02:active{
top: 1px;
box-shadow: 0 1px 0 #4595cc, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnJob03{
display: block;
width: 240px;
padding: 14px 0 11px;
position: relative;
font-size: 153.84%;
color: #fff;
font-weight: bold;
line-height: 1em;
text-align: center;
background: #82ad2a;
border: solid 1px #82ad2a;
/* border-bottom: none; */
box-shadow: 0 2px 0 #678a22;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnJob03:hover{
background: #9dc747;
border: solid 1px #9dc747;
/* border-bottom: none; */
text-decoration: none;
}
a.btnJob03:active{
top: 1px;
box-shadow: 0 1px 0 #9dc747, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnJob04{
display: block;
width: 168px;
padding: 16px 0 13px;
position: absolute;
left: 256px;
top:0;
font-size: 123.07%;
color: #292929;
line-height: 1em;
text-align: center;
background: #fff;
border: solid 1px #cccccc;
box-shadow: 0 1px 0 #cccccc;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnJob04:hover{
background: #f7f7f7;
border: solid 1px #adadad ;
border-bottom:none;
box-shadow: 0 2px 0 #adadad ;
text-decoration: none;
}
a.btnJob04:active{
top: 1px;
box-shadow: 0 1px 0 #adadad, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
span.btnJob05{
display: block;
width: 168px;
padding: 16px 0 14px;
position: absolute;
left: 256px;
top:0;
font-size: 123.07%;
color: #b8b8b8;
line-height: 1em;
text-align: center;
background: #f2f2f2;
border: solid 1px #cccccc;
border-radius: 4px;
margin-bottom: 2px;
box-shadow:rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/*--------------------------------------------------
	求人詳細
--------------------------------------------------*/
a.btnDetail01{
display: block;
width: 350px;
padding: 16px 0 14px;
position: relative;
font-size: 153.84% !important;
line-height: 1em;
font-weight: bold;
color: #fff;
line-height: 14px;
text-align: center;
background: #ff6600;
border: solid 1px #ff6600;
/* border-bottom: none; */
box-shadow: 0 2px 0 #c24e00;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnDetail01:hover{
background: #ff944c;
border: solid 1px #ff944c;
/* border-bottom: none; */
text-decoration: none;
}
a.btnDetail01:active{
top: 1px;
box-shadow: 0 1px 0 #ff944c, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnDetail02{
display: block;
width: 350px;
padding: 16px 0 14px;
position: relative;
font-size: 153.84% !important;
line-height: 1em;
font-weight: bold;
color: #fff;
line-height: 14px;
text-align: center;
background: #4289b9;
border: solid 1px #4289b9;
/* border-bottom: none; */
box-shadow: 0 2px 0 #32668a;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnDetail02:hover{
background: #4595cc;
border: solid 1px #4595cc;
/* border-bottom: none; */
text-decoration: none;
}
a.btnDetail02:active{
top: 1px;
box-shadow: 0 1px 0 #4595cc, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}

/*--------------------------------------------------
	タブパネル右部ボタン
--------------------------------------------------*/
a.btnTab01{
display: inline-block;
text-align: center;
padding: 7px 0px 5px;
width: 148px;
font-size: 107.71%;
line-height: 1em;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
color: #3d3d3d;
background: #fff;
border: solid 1px #cccccc;
box-shadow: 0 1px 0 #cccccc;
margin-top: 4px;
}
a.btnTab01:hover{/*-- 白 --*/
background: #f7f7f7;
text-decoration: none;
border: solid 1px #adadad ;
box-shadow: 0 1px 0 #adadad ;
}
a.btnTab01:active{/*-- 白 --*/
top: 1px;
box-shadow: 0 1px 0 #adadad, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnTab02{
display: inline-block;
text-align: center;
padding: 10px 0px 9px;
width: 142px;
font-size: 107.69%;
line-height: 1em;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
color: #3d3d3d;
background: #fff;
border: solid 1px #cccccc;
box-shadow: 0 1px 0 #cccccc;
}
a.btnTab02:hover{
background: #f7f7f7;
text-decoration: none;
border: solid 1px #adadad ;
box-shadow: 0 1px 0 #adadad ;
}
a.btnTab02:active{
top: 1px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
span.btnTab03{/*-- ・グレー --*/
display: inline-block;
text-align: center;
padding: 10px 0 9px;
width: 142px;
font-size: 107.69%;
line-height: 1em;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
top: 1px;
color: #b8b8b8;
background: #f2f2f2;
border: solid 1px #cccccc;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/*--------------------------------------------------
	左右連結ボタン
--------------------------------------------------*/
/*-- 検索結果一覧ページ リスト表示切り替えボタン--*/
.btnTypeSelect01,
.btnTypeSelect02{
width: 63px;
}
.btnTypeSelect01{
margin-left: 0;
}
.btnTypeSelect01 li,
.btnTypeSelect02 li{
float: left;
}
.btnTypeSelect01 li.btn_r,
.btnTypeSelect02 li.btn_r{
margin-left: -1px;
}

.btnTypeSelect01 li span,
.btnTypeSelect01 li a{
display: block;
padding: 5px 5px 4px;
border: solid 1px #cccccc;
/* border-bottom: none; */
box-shadow: 0 1px 0 #cccccc;
height: 17px;
width: 20px;
position: relative;
overflow: hidden;
}
.btnTypeSelect01 li.btn_l a img{
position: absolute;
left: -195px;
top:-495px;
}
.btnTypeSelect01 li.btn_l span img{
position: absolute;
left: -195px;
top:-545px;
}
.btnTypeSelect01 li.btn_r a img{
position: absolute;
left: -295px;
top:-495px;
}
.btnTypeSelect01 li.btn_r span img{
position: absolute;
left: -295px;
top:-545px;
}
.btnTypeSelect02 li span,
.btnTypeSelect02 li a{
display: block;
padding: 3px 9px 3px;
border: solid 1px #cccccc;
/* border-bottom: none; */
box-shadow: 0 1px 0 #cccccc;
width: 12px;
height: 20px;
position: relative;
overflow: hidden;
}
.btnTypeSelect02 li.btn_l a img{
position: absolute;
left: -141px;
top:-497px;
}
.btnTypeSelect02 li.btn_r a img{
position: absolute;
left: -240px;
top:-497px;
}
.btnTypeSelect02 li.btn_l span img{
position: absolute;
left: -141px;
top:-547px;
}
.btnTypeSelect02 li.btn_r span img{
position: absolute;
left: -240px;
top:-547px;
}
.btnTypeSelect01 li.btn_r,
.btnTypeSelect02 li.btn_r{
margin-left: -1px;
}
.btnTypeSelect01 li.btn_l span,
.btnTypeSelect02 li.btn_l span,
.btnTypeSelect01 li.btn_l a,
.btnTypeSelect02 li.btn_l a{
border-radius: 3px 0 0 3px / 3px 0 0 3px;
}
.btnTypeSelect01 li.btn_r span,
.btnTypeSelect02 li.btn_r span,
.btnTypeSelect01 li.btn_r a,
.btnTypeSelect02 li.btn_r a{
border-radius: 0 3px 3px 0 / 0 3px 3px 0;
}
.btnTypeSelect01 li span,
.btnTypeSelect02 li span{
background: #fff;
}
.btnTypeSelect01 li a,
.btnTypeSelect02 li a{
background: #fff;
}
.btnTypeSelect01 li a:hover,
.btnTypeSelect02 li a:hover{
background: #f7f7f7;
border: solid 1px #adadad ;
box-shadow: 0 1px 0 #adadad ;
}
.btnTypeSelect01 li a:active,
.btnTypeSelect02 li a:active{
position: relative;
top:1px;
box-shadow:  rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/*--------------------------------------------------
	サイド検索モジュールボタン
--------------------------------------------------*/
a.btnSerchSide01{
display: block;
width: 100%;
text-align: center;
color: #fff;
font-size: 153.84% !important;
padding: 14px 0 9px;
margin-bottom: 2px;
font-weight: bold;
line-height: 1em;
background: #82ad2a;
border: solid 1px #82ad2a;
box-shadow: 0 2px 0 #678a22;
border-radius: 4px;
position: relative;
}
a.btnSerchSide01:hover{
background: #9dc747;
border: solid 1px #9dc747;
text-decoration: none;
}
a.btnSerchSide01:active{
top: 1px;
box-shadow: 0 1px 0 #9dc747, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/*--------------------------------------------------
	モーダル
--------------------------------------------------*/
a.btnModal01{
display: block;
width: 238px;
padding: 16px 0 14px;
position: relative;
font-size: 153.84% !important;
line-height: 1em;
font-weight: bold;
color: #fff;
line-height: 14px;
text-align: center;
background: #82ad2b;
border: solid 1px #82ad2b;
/* border-bottom: none; */
box-shadow: 0 2px 0 #678a22;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnModal01:hover{
background: #9dc747;
border: solid 1px #9dc747;
/* border-bottom: none; */
text-decoration: none;
}
a.btnModal01:active{
top: 1px;
box-shadow: 0 1px 0 #678a22, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/*--------------------------------------------------
	検索モジュールモーダル展開
--------------------------------------------------*/
a.btnSearchModal {
display: inline-block;
position: relative;
padding: 9px 21px 7px 0;
font-size: 92.31%;
line-height: 1em;
color: #000;
border: solid 1px #cccccc;
/* border-bottom: none; */
box-shadow: 0 1px 0 #cccccc;
border-radius: 4px;
background: #fff;
}
a.btnSearchModal:after{
content: '';
width: 12px;
height: 12px;
display: block;
background: url(/cmn_web/img/index/sprite_001.png) -600px -199px no-repeat;
position: absolute;
right: 8px;
top: 9px;
}
a.btnSearchModal span{
display: inline-block;
text-align: center;
width: 92px;
}
a.btnSearchModal:hover{
background: #f7f7f7;
text-decoration: none;
border: solid 1px #adadad ;
/* border-bottom:none; */
box-shadow: 0 1px 0 #adadad ;
}
a.btnSearchModal:active{
background: #f7f7f7;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
top: 1px;
}
/*--------------------------------------------------
	基本定義
--------------------------------------------------*/
/*-- ボタンサイズ小--*/
a.btnType01{
display: inline-block;
padding: 7px 14px 5px;
font-size: 107.71%;
line-height: 1em;
font-weight: bold;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
}
/*-- ボタンサイズ大　--*/
a.btnType02{
display: inline-block;
padding: 10px 14px 8px;
font-size: 107.71%;
line-height: 1em;
font-weight: bold;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
}
a.btnType03{
display: inline-block;
padding: 14px 36px 12px;
font-size: 153.84% ;
line-height: 1em;
font-weight: bold;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
}
/*-- カラーバリエーション --*/
a.btnC00{/*-- 白 --*/
font-weight: normal;
color: #3d3d3d;
background: #fff;
border: solid 1px #cccccc;
box-shadow: 0 1px 0 #cccccc;
}
a.btnC00.btnType01{
padding: 7px 14px 6px;
}
a.btnC00.btnType02{
padding: 10px 14px 9px;
}
a.btnC01{/*-- オレンジ --*/
color: #fff;
background: #ff6600;
border: solid 1px #ff6600;
box-shadow: 0 2px 0 #c24e00;
}
a.btnC02{/*-- グリーン --*/
color: #fff;
background: #82ad2a;
border: solid 1px #82ad2a;
box-shadow: 0 2px 0 #678a22;
}
a.btnC03{/*-- ブルー --*/
color: #fff;
background: #4288b9;
border: solid 1px #4288b9;
box-shadow: 0 2px 0 #32668b;
}
a.btnC04{/*-- ホワイト --*/
color: #3d3d3d;
background: #f7f7f7;
border: solid 1px #cccccc;
box-shadow: 0 1px 0 #cccccc;
}
span.btnC05{/*-- ・グレー --*/
color: #b8b8b8;
background: #f2f2f2;
border: solid 1px #cccccc;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
display: inline-block;
padding: 10px 14px 9px;
font-size: 107.71%;
line-height: 1em;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
}
span.btnType01.btnC05{
display: inline-block;
padding: 7px 14px 6px;
font-size: 107.71%;
line-height: 1em;
text-decoration: none;
border-radius: 4px;
margin-bottom: 2px;
position: relative;
top:1px;
}

/*-- カラーバリエーションホバー --*/
a.btnC00:hover{/*-- 白 --*/
background: #f7f7f7;
text-decoration: none;
border: solid 1px #adadad ;
}
a.btnC01:hover{/*-- オレンジ --*/
background: #ff944c;
border: solid 1px #ff944c;
}
a.btnC02:hover{/*-- グリーン --*/
background: #9dc747;
border: solid 1px #9dc747;
}
a.btnC03:hover{/*-- ブルー --*/
background: #6fa3c8;
border: solid 1px #6fa3c8;
}
a.btnC04:hover{/*-- ホワイト --*/
background: #e6e6e6;
border: solid 1px #adadad;
box-shadow: 0 1px 0 #adadad;
}
a.btnC05:hover{/*-- ・グレー --*/
background: #b3b3b3;
border: solid 1px #b3b3b3;
}
/*-- カラーバリエーションアクティブ --*/
a.btnC00:active{/*-- 白 --*/
top: 1px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnC01:active{/*-- オレンジ --*/
top: 1px;
box-shadow: 0 1px 0 #ff944c , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnC02:active{/*-- グリーン --*/
top: 1px;
box-shadow: 0 1px 0 #9dc747 , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnC03:active{/*-- ブルー --*/
top: 1px;
box-shadow: 0 1px 0 #6fa3c8 , rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnC04:active{/*-- ホワイト --*/
top: 1px;
box-shadow:  rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
a.btnC05:active{/*-- ・グレー --*/
top: 1px;
box-shadow:  rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
.btnW224{
width: 222px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW200{
width: 198px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW192{
width: 190px !important;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW176{
width: 174px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW146{
width: 144px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW144{
width: 142px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW102{
width: 100px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW96{
width: 94px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}
.btnW80{
width: 78px;
text-align: center;
padding-left: 0 !important;
padding-right: 0 !important;
}

a.btnMore{
display: block;
width: 100%;
font-size: 115.38%;
color: #fff;
font-weight: bold;
line-height: 1em;
padding: 11px 0 10px;
text-align: center;
background: #0a50a1;
margin-top: 20px;
}
a.btnMore span{
position: relative;
display: inline-block;
padding-right: 17px;
}
a.btnMore span:after{
content: '';
width: 17px;
height: 15px;
position: absolute;
right: 0;
top: 0;
background: url(/cmn_web/img/index/sprite_001.png) 7px -497px no-repeat;
}
a.btnMore.open span:after{
content: '';
width: 17px;
height: 15px;
position: absolute;
right: 0;
top: 0;
background: url(/cmn_web/img/index/sprite_001.png) 7px -547px no-repeat;
}
a.btnMore:hover{
background: #101177;
text-decoration: none;
}

/* フォーム未記入時ボタン */
.btnForm01{

}
a.btnForm01 {
display: inline-block;
width: 348px;
height: 62px;
position: relative;
font-weight: bold;
color: #fff;
background: #ff6600;
border: solid 1px #ff6600;
box-shadow: 0 2px 0 #c24e00;
border-radius: 4px;
margin-bottom: 2px;
}
a.btnForm01 .parts01{
display: inline-block;
width: 46px;
height: 40px;
position: absolute;
left: 36px;
top: 12px;
overflow: hidden;
}
a.btnForm01 .parts01 img{
position: relative;
top: -500px;
left: -50px;
}
a.btnForm01:hover .parts01 img{
position: relative;
top: -550px;
left: -50px;
}
a.btnForm01 .parts02{
display: inline-block;
font-size: 153.84%;
line-height: 1em;
position: absolute;
left: 89px;
top: 13px;
}
a.btnForm01 .parts03{
display: inline-block;
line-height: 1em;
position: absolute;
left: 89px;
top: 39px;
}
a.btnForm01:hover {
background: #ff944c;
border: solid 1px #ff944c;
/* border-bottom: none; */
text-decoration: none;
}
a.btnForm01:active {
top: 1px;
box-shadow: 0 1px 0 #ff944c, rgba(0, 0, 0, 0.16) 0px 2px 3px 0px inset;
}
/* フォーム再開ボタン */
.btnDetail01.btnC00.btnW192 {
font-weight: bold;
}
/*--------------------------------------------------
	検討リストへ
--------------------------------------------------*/
span.listLink{
position: relative;
padding-left: 25px;
}
span.listLink:after{
width: 14px;
height: 10px;
background: url(/cmn_web/img/index/sprite_001.png) -100px -503px no-repeat;
content: '';
overflow: hidden;
position: absolute;
top: 5px;
left: 0px;
}



