
@charset "utf-8";
/*==================================================
	Text
	Textarea
	Checkbox
	Radio
	Selsect
==================================================*/

/*--------------------------------------------------
	Text
--------------------------------------------------*/
input[type=text],
input[type=password]{
padding: 8px 10px;
border: solid 1px #cccccc;
background: #fff;
border-radius: 2px;
height: 12px;
font-family: "メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
}
input.input01{
width: 78px;
}
input.input02{
width: 258px;
}
input.input03{
width: 438px;
}
input.topInput01{
padding: 11px 10px 11px 37px;
border: solid 1px #cccccc;
background: #fff;
border-radius: 2px;
height: 12px;
width: 287px;
background: #fff url(/cmn_web/img/index/ico_serach_001.png) 15px 10px no-repeat;
}
.tblForm input.req{
background: #ffdddd;
}
.tblForm input:focus{
background: #ffffd7;
}
/*--------------------------------------------------
	Textarea
--------------------------------------------------*/
textarea{
display: block;
font-size: 13px;
color: #292929;
font-family: "メイリオ","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック",sans-serif;
resize: none;
padding: 12px 16px;
border: solid 1px #cccccc;
border-radius: 2px;
}
textarea.textarea01{
border: solid 1px #cccccc;
padding: 8px 10px;
width: 728px;
margin-bottom: 5px;
}
.tblForm textarea.req{
background: #ffdddd;
}

.tblForm textarea.textarea01:focus{
background: #ffffd7;
}
/*--------------------------------------------------
	Checkbox
--------------------------------------------------*/
label{
cursor: pointer;
}
.ckWrapA{
display: inline-block;
margin-right: 1em;
opacity: 0;
position: relative;
}
.ckWrapA_Cbox{
display: inline-block;
width: 18px;
height: 18px;
position: relative;
overflow: hidden;
margin-right: 0.5em;
}
.ckWrapA input[type=checkbox]{
opacity: 0;
}
.ckWrapA_Lbox{
display: inline-block;
position: relative;
top: -5px;
}
.ckWrapA_Cbox:after{
content: ' ';
width: 18px;
height: 18px;
display: block;
position: absolute;
left: 0;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -150px -0px no-repeat;
cursor: pointer;
}
.ckWrapA_Cbox.checkedBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -150px -50px no-repeat;
}
.ckWrapA_Cbox.focusBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -150px -0px no-repeat;
}
.ckWrapA_Cbox.checkedBox.focusBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -200px -50px no-repeat !important;
}
.ckWrapA_Cbox.hoverBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -150px -100px no-repeat;
}
.ckWrapA_Cbox.checkedBox.hoverBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -200px -100px no-repeat;
}

.ckWrapB{
cursor:pointer;
display: block;
padding: 7px 0 8px 17px;
min-height: 22px;
opacity: 0;
position: relative;
}
.ckWrapB:hover{
background: #ebecf8;
}
.ckWrapB_Cbox{
display: inline-block;
width: 30px;
height: 22px;
position: relative;
overflow: hidden;
float: left;
}
.ckWrapB input[type=checkbox]{
opacity: 0;
}
.ckWrapB_Lbox{
display: inline-block;
line-height: 20px;
float: left;
width: 228px;
}
.ckWrapB.checked .ckWrapB_Lbox{
font-weight: bold;
}
.ckWrapB_Cbox:after{
content: ' ';
width: 22px;
height: 22px;
display: block;
position: absolute;
left: 0;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -250px 0px no-repeat;
cursor: pointer;
}
.ckWrapB_Cbox.checkedBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -250px -50px no-repeat;
}
.ckWrapB_Cbox.focusBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -250px 0px no-repeat;
}
.ckWrapB_Cbox.checkedBox.focusBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -300px -50px no-repeat !important;
}
.ckWrapB_Cbox.hoverBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -250px -100px no-repeat;
}
.ckWrapB_Cbox.checkedBox.hoverBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -300px -100px no-repeat;
}
/*--------------------------------------------------
	Radio
--------------------------------------------------*/
.rdWrapA{
display: inline-block;
margin-right: 1em;
opacity: 0;
position: relative;
}
.rdWrapA_Rbox{
display: inline-block;
width: 22px;
height: 22px;
position: relative;
overflow: hidden;
margin-right: 0.5em;
}
.rdWrapA input[type=radio]{
opacity: 0;
}
.rdWrapA_Lbox{
display: inline-block;
position: relative;
top: -6px;
}
.rdWrapA_Rbox:after{
content: ' ';
width: 22px;
height: 22px;
display: block;
position: absolute;
left: 0;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -350px 0px no-repeat;
cursor: pointer;
}
.rdWrapA_Rbox.checkedBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -350px -50px no-repeat;
}
.rdWrapA_Rbox.focusBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -350px 0px no-repeat;
}
.rdWrapA_Rbox.checkedBox.focusBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -400px -50px no-repeat !important;
}
.rdWrapA_Rbox.hoverBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -350px -100px no-repeat;
}
.rdWrapA_Rbox.checkedBox.hoverBox:after{
background: url(/cmn_web/img/index/sprite_001.png) -400px -100px no-repeat;
}
/*--------------------------------------------------
	Selsect
--------------------------------------------------*/
.slctWrapA,
.slctWrapB{
display: inline-block;
cursor: pointer;
background: #fff;
}
.easy-select-box{
position: relative;
z-index: 1;
}
.easy-select-box.focused{
z-index: 100;
outline:0px none black;
}
.esb-displayer.active{
border: solid 1px #aac8f0 !important;
box-shadow: 0 0 0 1px #aac8f0;
}
.esb-displayer{
position: relative;
padding: 8px 10px;
border: solid 1px #cccccc;
background: #fff;
border-radius: 2px;
line-height: 12px;
height: 12px;
}

.esb-displayer:after{
content: '';
position: absolute;
right: 10px;
top: 12px;
width: 11px;
height: 6px;
display: block;
background:url(/cmn_web/img/index/sprite_001.png) -100px -200px no-repeat;
}
.tblForm .req .esb-displayer{
background-color: #ffdddd ;
}
.esb-displayer:hover {
border: solid 1px #adadad !important;
}
.slctWrapB .esb-displayer{
padding: 9px 32px 7px 14px;
color: #666666;
height: 30px;
box-sizing: border-box;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.easy-select-box .esb-displayer{
}
.slctWrapB .esb-dropdown{
top:37px;
}
.esb-dropdown{
display: none;
position: absolute;
top: 31px;
border: solid 1px #cccccc !important;
background: #fff;
outline:0px none black;
}
.esb-item{
padding: 4px 10px;
background: #fff;
cursor: pointer;
white-space: nowrap;
}
.esb-item:hover{
background: #ebebf8;
color: #0a50a1;
}

.tblForm .esb-item:hover{
background: #ffffd7;
color: #0a50a1;
}

.tblForm .reqbg .ckWrapA:before{
  background: #ffdddd;
  content: '';
  display: inline-block;
  width: 100%;
  height: 24px;
  position: absolute;
  left: -0.5em;
  top: -3px;
  padding-right: 1.5em;
  padding-left: 0.5em;
}
.tblForm .reqbg.selected .ckWrapA:before{
  background: none;
}
.tblForm .reqbg{
margin-bottom: -4px;
}
.tblForm .reqbg .ckWrapB:before{
  background: #ffdddd;
  content: '';
  display: inline-block;
  width: 100%;
  height: 24px;
  position: absolute;
  left: -0.5em;
  top: -3px;
  padding-right: 1.5em;
  padding-left: 0.5em;
}
.tblForm .reqbg .rdWrapA:before{
  background: #ffdddd;
  content: '';
  display: inline-block;
  width: 100%;
  height: 28px;
  position: absolute;
  left: -0.5em;
  top: -2px;
  padding-right: 1.5em;
  padding-left: 0.5em;
}
.tblForm .reqbg.selected .rdWrapA:before{
  background: none;
}




