
@charset "utf-8";

/*==================================================
Heading
Text
Icons
Unorderd List
Orderd List
Difinision List
Link
Table
Form
Layout
Option
Clear Fix
==================================================*/

/*--------------------------------------------------
Heading
--------------------------------------------------*/
.head01{
margin-bottom: 20px;
}
.head01 h1{
font-size: 184.61%;
}
.head01.head01-01 h1{
float: left;
margin-right: 10px;
}
.head01.head01-01 .faqLink{
float: left;
}
.head01.head01-01 .faqLink a{
position: relative;
width: 21px;
height: 21px;
display: inline-block;
overflow: hidden;
}
.head01.head01-01 .faqLink img{
position: absolute;
left: -50px;
top: -250px;
}
.head01.head01-02 h1{
float: left;
}
.head01.head01-02 .helpLink{
float: right;
}
.head01 .explain{
font-size: 92.30% !important;
margin: 6px 0 -4px;
}
.head01.head01Detail .explain{
font-size: 107.69% !important;
}
.head01Detail .inner{
border-top: solid 4px #101177;
padding-top: 16px;
}
.head01Detail .metaTxt{
font-size: 84.61% !important;
text-align: right;
margin-bottom: 5px;
}
.head01Detail .detailIcons{
padding: 10px 0 0;
background: #fff url(/cmn_web/img/index/bg_002.png) 0 0 repeat-x;
}
.head02{
padding-bottom: 10px;
margin-bottom: 22px;
border-bottom: solid 2px #e6e6e6;
height: 16px;
}
.head02 h2,.head02 h3,.head02 h4{
font-size: 138.46%;
float: left;
}
.head02 .subTxt{
float: right;
text-align: right;
}
.head02 .update{
line-height: 18px;
font-size: 92.30%;
height: 18px;
background: #ff0000;
color: #fff;
font-weight: bold;
padding: 0 6px;
margin-left: 10px;
display: inline-block;
position: relative;
top:-3px;
}
.head02 .entryCheck01{
width: 65px;
height: 18px;
float: right;
text-align: right;
color: #a1a1a1;
font-weight: bold;
font-size: 107.69% ;
position: relative;
}
.head02 .entryCheck01:after{
content: '';
width: 18px;
height: 18px;
display: block;
position: absolute;
left: 0;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -350px -550px no-repeat;
}
.head02 .entryCheck02{
width: 65px;
height: 18px;
float: right;
text-align: right;
color: #82ad2b;
font-weight: bold;
font-size: 107.69% ;
position: relative;
}
.head02 .entryCheck02:after{
content: '';
width: 18px;
height: 18px;
display: block;
position: absolute;
left: 0;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -350px -500px no-repeat;
}
.head02_02{
border-bottom:none;
padding: 0px;
}
.head02_03{
border-bottom:none;
padding: 0px;
margin-bottom: 10px;
}
.head03{
padding-bottom: 10px;
margin-bottom: 20px;
border-bottom: solid 2px #e6e6e6;
}
.head03 h2,.head03 h3,.head03 h4,.head03 h5{
font-size: 123.07%;
}
.head04{
margin-bottom: 8px;
position: relative;
}
.head04 h3,.head04 h4,.head04 h5,.head04 h6{
font-size: 115.38%;
line-height: 1em;
}
.head04 span.label{
display: inline-block;
width: 50px;
position: absolute;
right: 16px;
top:0;
text-align: right;
font-size: 92.30% !important;
color: #808080;
}
.asideMunu02 span.label{
right: 0;
}
.head05{
padding: 8px 16px;
margin-bottom: 16px;
background: #101177;
}
.head05 h2 ,.head05 h3,.head05 h4{
/* font-size: 123.11%; */
font-size: 15px;
font-weight: bold;
}
.head05 h2 ,.head05 h3{
color: #fff;
}
.head05 h4{
padding: 10px 15px 8px;
color: #000;
border: 1px #e6e6e6 solid;
background: #f2f2f2;
}
.head06{
height: 15px;
margin-bottom: 30px;
position: relative;
}
.head06 h4{
font-size: 115.38% !important;
line-height: 1em;
}
.head06 a.btnSearchModal{
position: absolute !important;
top: 0;
right: 0;
}
.head07{
height: 23px;
border-left: solid 4px #101177;
padding-left: 12px;
margin-bottom: 10px;
position: relative;
}
.head07 h2,.head07 h3,.head07 h4{
font-size: 138.46% !important;
line-height: 23px;
}
.head07 .linkTxt{
display: inline-block;
position: absolute;
right: 0;
bottom: 0;
line-height: 1em;
}
.head08{
background: #101177;
height: 34px;
padding: 0 16px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}
.head08 h2 ,.head08 h3 ,.head08 h4 {
font-size: 138.46% !important;
line-height: 1em;
padding-top: 9px;
color: #fff;
}
/*--------------------------------------------------
Text
--------------------------------------------------*/
/* FontSize */
.fs10{ font-size: 76.92% !important; }
.fs11{ font-size: 84.61% !important; }
.fs12{ font-size: 92.30% !important; }
.fs13{ font-size: 100% !important; }
.fs14{ font-size: 107.69% !important; }
.fs15{ font-size: 115.38% !important; }
.fs16{ font-size: 123.07% !important; }
.fs17{ font-size: 130.76% !important; }
.fs18{ font-size: 138.46% !important; }
.fs19{ font-size: 146.15% !important; }
.fs20{ font-size: 153.84% !important; }
.fs21{ font-size: 161.53% !important; }
.fs22{ font-size: 169.23% !important; }
.fs23{ font-size: 176.92% !important; }
.fs24{ font-size: 184.61% !important; }
.fs25{ font-size: 192.30% !important; }
.fs26{ font-size: 200% !important; }
.fs27{ font-size: 207.69% !important; }
.fs28{ font-size: 215.38% !important; }
.fs29{ font-size: 223.07% !important; }
.fs30{ font-size: 230.76% !important; }
.fs31{ font-size: 238.46% !important; }
.fs32{ font-size: 246.15% !important; }
.fs33{ font-size: 253.84% !important; }
.fs34{ font-size: 261.53% !important; }
.fs35{ font-size: 269.23% !important; }
.fs36{ font-size: 276.92% !important; }

.bold{ font-weight: bold !important; }
.red{ color: #ff0000 !important; }
.blue{ color: #0a50a1 !important;}
.orange{ color: #ff6600 !important;}
.lh01{line-height: 1em !important;}

/*--------------------------------------------------
Icons
--------------------------------------------------*/
/* トップ求人紹介 */
.icoTopSp{
display: inline-block;
width: 61px;
padding: 3px 0 2px;
border: solid 1px #b8b8b8;
color:#000;
font-size: 76.92%;
line-height: 1em;
text-align: center;
}
/* 未読 */
.icoSts01{
display: inline-block;
width: 28px;
padding: 3px 0 1px;
border: solid 1px #b8b8b8;
background: #fff;
color:#666666;
font-size: 11px;
line-height: 1em;
text-align: center;
}
/* NEW */
.icoSts02{
display: inline-block;
width: 35px;
padding: 4px 0 3px;
background: #ff0000;
color:#fff;
font-size: 11px;
line-height: 1em;
text-align: center;
}
/* オレンジ */
.icoSts03{
display: inline-block;
width: 58px;
padding: 3px 0 1px;
border: solid 1px #ff6600;
background: #fff;
color:#ff6600;
font-size: 11px;
line-height: 1em;
text-align: center;
}
/* 締切間近 */
.icoSts04{
display: inline-block;
width: 58px;
padding: 3px 0 2px;
border: solid 1px #0a50a1;
background: #fff;
color:#0a50a1;
font-size: 11px;
line-height: 1em;
text-align: center;
font-weight: normal !important;
}
/* オレンジ コンサルタントおすすめ */
.icoSts05 {
display: inline-block;
width: 146px;
padding: 3px 0 1px;
border: solid 1px #ff6600;
background: #fff;
color: #ff6600;
font-size: 11px;
line-height: 1em;
text-align: center;
}

/* 求人スペック */
.icoSpc01{
display: inline-block;
width: 80px;
padding: 5px 0 5px;
background: #101177;
color:#fff;
font-size: 11px;
line-height: 1em;
text-align: center;
}
.icoSpc02{
display: inline-block;
width: 64px;
padding: 5px 0 5px;
background: #101177;
color:#fff;
font-size: 11px;
line-height: 1em;
text-align: center;
}
/* .icoSpc01Fs10{
font-size: 10px;
line-height: 11px;
} */
.icoSpc01Fs10{
width: 75px;
height: 11px;
padding: 5px 3px 5px 2px;
overflow: hidden;
position: relative;
}
.icoSpc01Fs10 img{
position: absolute;
left: -397px;
top: -495px;
}
.modListFin .icoSpc01Fs10 img{
position: absolute;
left: -397px;
top: -545px;
}
/* サービス種別 */
.icoSvc01{
display: inline-block;
width: 159px;
padding: 3px 0 3px;
background: #a0a08c;
color:#fff;
font-weight: bold;
font-size: 11px;
line-height: 1em;
text-align: center;
}
.icoSvc01.dead {
background: #b8b8b8!important;
}
.icoSvc01.icoSvc01Fs10{
font-size: 10px;
line-height: 11px;
}
/* 求人紹介こだわり */
.detailIcons {
margin-top: 10px;
padding: 7px 0 0 16px;
background: url(/cmn_web/img/index/bg_001.png) 0 0 repeat-x;
height: 16px;
}
.modList02 .detailIcons{
margin: 0;
padding: 0;
background: 0;
height: 18px;
}
.detailIcons li{
float: left;
margin-right: 15px;
font-size: 11px;
padding: 3px 0 2px;
line-height: 16px;
color: #101177;
position: relative;
}
.detailIcons li:after{
content: '';
height: 18px;
overflow: hidden;
position: absolute;
left: 0;
top: 2px;
}
.detailIcons li.detail01{
padding-left: 16px;
}
.detailIcons li.detail01:after{
background: url(/cmn_web/img/index/sprite_001.png) 0px -600px no-repeat;
width: 17px;
}
.modListFin .detailIcons li.detail01:after{
background: url(/cmn_web/img/index/sprite_001.png) 0px -650px no-repeat;
}
.detailIcons li.detail02{
padding-left: 22px;
}
.detailIcons li.detail02:after{
background: url(/cmn_web/img/index/sprite_001.png) -50px -600px no-repeat;
width: 26px;
}
.modListFin .detailIcons li.detail02:after{
background: url(/cmn_web/img/index/sprite_001.png) -50px -650px no-repeat;
}
.detailIcons li.detail03{
padding-left: 26px;
}
.detailIcons li.detail03:after{
background: url(/cmn_web/img/index/sprite_001.png) -100px -600px no-repeat;
width: 22px;
}
.modListFin .detailIcons li.detail03:after{
background: url(/cmn_web/img/index/sprite_001.png) -100px -650px no-repeat;
}
.detailIcons li.detail04{
padding-left: 20px;
}
.detailIcons li.detail04:after{
background: url(/cmn_web/img/index/sprite_001.png) -150px -600px no-repeat;
width: 27px;
}
.modListFin .detailIcons li.detail04:after{
background: url(/cmn_web/img/index/sprite_001.png) -150px -650px no-repeat;
}
.detailIcons li.detail05{
padding-left: 19px;
}
.detailIcons li.detail05:after{
background: url(/cmn_web/img/index/sprite_001.png) -200px -600px no-repeat;
width: 19px;
}
.modListFin .detailIcons li.detail05:after{
background: url(/cmn_web/img/index/sprite_001.png) -200px -650px no-repeat;
}
.detailIcons li.detail06{
padding-left: 18px;
}
.detailIcons li.detail06:after{
background: url(/cmn_web/img/index/sprite_001.png) -250px -600px no-repeat;
padding-left: 24px;
}
.modListFin .detailIcons li.detail06:after{
background: url(/cmn_web/img/index/sprite_001.png) -250px -650px no-repeat;
}

.detailIcons li.detail07{
padding-left: 16px;
}
.detailIcons li.detail07:after{
background: url(/cmn_web/img/index/sprite_001.png) 0 -700px no-repeat;
padding-left: 17px;
}
.detailIcons li.detail08{
padding-left: 22px;
}
.detailIcons li.detail08:after{
background: url(/cmn_web/img/index/sprite_001.png) -200px -700px no-repeat;
padding-left: 26px;
}
.detailIcons li.detail09{
padding-left: 22px;
}
.detailIcons li.detail09:after{
background: url(/cmn_web/img/index/sprite_001.png) -50px -700px no-repeat;
padding-left: 22px;
}
.detailIcons li.detail10{
padding-left: 22px;
}
.detailIcons li.detail10:after{
background: url(/cmn_web/img/index/sprite_001.png) -100px -700px no-repeat;
padding-left: 27px;
}
.detailIcons li.detail11{
padding-left: 16px;
}
.detailIcons li.detail11:after{
background: url(/cmn_web/img/index/sprite_001.png) -150px -700px no-repeat;
padding-left: 19px;
}
.detailIcons li.detail12{
padding-left: 20px;
}
.detailIcons li.detail12:after{
background: url(/cmn_web/img/index/sprite_001.png) -250px -700px no-repeat;
padding-left: 24px;
}
/* 求人　雇用形態 */
.icoType{
display: inline-block;
width: 58px;
padding: 4px 0 3px;
border: solid 1px #b8b8b8;
color:#000 !important;
font-size: 84.61% !important;
line-height: 1em !important;
text-align: center;
background: #fff;
}
.icoModal {
display: inline-block;
width: 42px;
padding: 3px 0 2px;
border: solid 1px #b8b8b8;
color: #000;
font-size: 84.61%;
line-height: 1em;
text-align: center;
background: #fff;
position: absolute;
top:7px;
right:15px;
}
.layoutAside03 .searchAco .trigger .icoModal {
top:9px;
right:48px;
display: none;
font-size: 73.33%;
}
/* フォーム推奨・必須 */
.icoForm01 {
display: inline-block;
width: 35px;
padding: 4px 0 3px;
background: #0a50a1;
color: #fff;
font-size: 11px;
font-weight: bold;
line-height: 1em;
text-align: center;
}
.icoForm02 {
display: inline-block;
width: 35px;
padding: 4px 0 3px;
background: #ff6600;
color: #fff;
font-size: 11px;
font-weight: bold;
line-height: 1em;
text-align: center;
}
.icoForm03 {
display: inline-block;
width: 35px;
padding: 4px 0 3px;
background: #a0a0a0;
color: #fff;
font-size: 11px;
font-weight: bold;
line-height: 1em;
text-align: center;
}
/*再開のお申込み*/
.modFormExp {
padding: 26px 30px;
border: 1px solid #e6e6e6;
margin-bottom: 30px;
background: #F2F2F2;
}
.pRight02{
text-align: right;
margin-bottom: 5px;
}
.btnWrap {
text-align: center;
}
.btnWrap ul {
display: inline-block;
}
.btnWrap ul li {
float: left;
}
.btnWrap ul li.first {
margin-right: 16px;
}
/*---------------------------------------------------
Unorderd List
--------------------------------------------------*/
/* 基本リスト */
.list01 li{ margin-bottom: 6px; }
.list01 li:last-of-type,
.list01 li.last{ margin-bottom: 0;}
/* 求人票ボタンリスト */
.listBtns li{ margin-bottom: 12px; }
.listBtns li:last-of-type,
.listBtns li.last{ margin-bottom: 0;}
/* トップページ勤務地から探す */
.listTop01 {
	padding: 0 16px;
}
.listTop01 li {
margin-bottom: 14px;
line-height: 19px;
}
.listTop01 li.last{
margin-bottom: 8px;
}
.listTop01 li span.head {
display: block;
width: 85px;
float: left;
}
.listTop01 li span.body {
display: block;
width: 295px;
float: left;
}
/* 検索結果ページネーション */
.pagenation{
float:right;
}
.pagenation li {
float: left;
margin-right: 10px;
font-size: 92.30% !important;
line-height: 1em;
font-weight: bold;
}
.pagenation li.last,
.pagenation li:last-of-type{
margin-right: 0;
}
.pagenation li a.pagenationPrev,
.pagenation li a.pagenationNext{
display: block;
padding: 8px 10px;
color: #0a50a1;
border: solid 1px #dbdbdb;
border-radius: 4px;
width: 50px;
text-align: center;
}
.pagenation li a.pagenation{
display: block;
padding: 8px 10px;
color: #0a50a1;
border: solid 1px #dbdbdb;
border-radius: 4px;
}
.pagenation li a:hover{
text-decoration: none;
background: #ebecf8;
}
.pagenation li span.current{
display: block;
padding: 8px 10px;
color: #fff;
background: #101177;
border: solid 1px #101177;
border-radius: 4px;
}
.pagenation li.ellipses{
width: 20px;
text-align: center;
margin: 0 5px 0 -5px;
padding-top: 10px;
}
.linkList{
margin: -3px 0 -4px;
}
.linkList span{
color: #0a50a1;
display: inline;
}
.linkList span:after{
content: '｜ ';
}
.linkList span.last:after,
.linkList span:last-of-type:after{
content: none;
}
.stepList01,
.stepList02,
.stepList03{
font-size: 107.69%;
line-height: 1em;
height: 40px;
overflow: hidden;
}
.stepList01 li,
.stepList02 li,
.stepList03 li{
float: left;
text-align: center;
padding: 13px 0;
background: #ededfa;
position: relative;
}
.stepList01 li.current,
.stepList02 li.current,
.stepList03 li.current{
background: #101177;
font-weight: bold;
color: #fff;
}
.stepList01 li.step01{
width: 310px;
padding-left: 20px;
z-index: 3;
}
.stepList01 li.step02{
width: 332px;
padding-left: 10px;
z-index: 2;
}
.stepList01 li.step03{
width: 342px;
padding-left: 10px;
z-index: 1;
}
.stepList02 li.step01{
width: 226px;
padding-left: 20px;
z-index: 4;
}
.stepList02 li.step02{
width: 246px;
padding-left: 10px;
z-index: 3;
}
.stepList02 li.step03{
width: 246px;
padding-left: 10px;
z-index: 2;
}
.stepList02 li.step04{
width: 256px;
padding-left: 10px;
z-index: 1;
}
.stepList03 li.step01{
width: 486px;
padding-left: 20px;
z-index: 4;
}
.stepList03 li.step02{
width: 508px;
padding-left: 10px;
z-index: 3;
}
.stepList01 li.step01:before,
.stepList01 li.step02:before,
.stepList02 li.step01:before,
.stepList02 li.step02:before,
.stepList02 li.step03:before,
.stepList03 li.step01:before,
.stepList03 li.step02:before{
content: "";
position: absolute;
top : -2px;
right:-22px;
width: 0;
height: 0;
border-left: 20px solid #fff;
border-top: 22px solid transparent;
border-bottom: 22px solid transparent;
}
.stepList01 li.step01:after,
.stepList01 li.step02:after,
.stepList02 li.step01:after,
.stepList02 li.step02:after,
.stepList02 li.step03:after,
.stepList03 li.step01:after{
content: "";
position: absolute;
top : -2px;
right:-20px;
width: 0;
height: 0;
border-left: 20px solid #ededfa;
border-top: 22px solid transparent;
border-bottom: 22px solid transparent;
}
.stepList01 li.current:after,
.stepList02 li.current:after,
.stepList03 li.current:after{
border-left: 20px solid #101177;
}
/*--------------------------------------------------
Orderd List
--------------------------------------------------*/

/*--------------------------------------------------
Difinision List
--------------------------------------------------*/
/* 求人一覧の期限表示 */

.listDateInfo dt{
font-size: 92.30%;
color: #808080;
line-height: 1em;
margin-bottom: 10px;
}
.listDateInfo dd{
line-height: 1em;
}
/* 求人一覧のスペック表示 */
.listJpbSpec01{
margin-bottom: 20px;
}
.under .box01 .listJpbSpec01.last,
.under .box01 .listJpbSpec01:last-of-type{
margin-bottom: 0;
}
.listJpbSpec01 dt{
width: 80px;
float: left;
margin-right: 16px;
}
.listJpbSpec01 dd{
width: 552px;
float: left;
margin-bottom: -4px;
}
/* 求人（検索結果）一覧のスペック表示 */
.listJpbSpec02{
margin-bottom: 20px;
}
.middle .box01 .listJpbSpec02.last,
.middle .box01 .listJpbSpec02:last-of-type{
margin-bottom: 0;
}
.listJpbSpec02 dt{
width: 64px;
float: left;
margin-right: 16px;
display: inline-block;
}
.listJpbSpec02 dd{
float: left;
margin-bottom: -4px;
display: inline-block;
width: 354px;
}
.box03 .listJpbSpec02 dd{
width: 769px;
}
/* トップページ職種から探す */
.listTop01 dt{
/* font-size: 115.4%; */
font-size: 15px;
font-weight: bold;
padding: 0;
line-height: 1em;
margin-top: 10px;
}
.listTop01 dt .number{
font-size: 75.01%;
color: #808080;
padding-top: 5px;
font-weight: normal !important;
}
.listTop01 dd{
padding: 6px 0 6px;
font-size: 92.31%;
line-height: 19px;
}
/* トップページ転職エージェント */
.listTop02 dt{
font-weight: bold;
margin-bottom: 1px;
line-height: 25px;
}
.listTop02 dd{
font-size: 92.30%;
line-height: 1.5em;
}
/* トップページサービス紹介ポイント */
.listTop03{
margin-bottom: 21px;
}
.listTop03.last{
margin-bottom: 16px;
}
.listTop03 dt{
line-height: 32px;
height: 32px;
background: #9BCE17;
color: #fff;
width: 80px;
text-align: center;
float: left;
}
.listTop03 dd{
width: 384px;
float: right;
line-height: 19px;
}
.modCondInfoList dt{
float: left;
width: 65px;
}
.modCondInfoList dd{
float: left;
width: 920px;
}
/*--------------------------------------------------
Link
--------------------------------------------------*/
.icoArr01 {
position: relative;
padding-left: 10px;
}
.icoArr01:before{
content: '';
width: 10px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -450px -194px no-repeat;
position: absolute;
left: 0; top:0;
}
.icoBlank01 {
padding-left: 16px;
position: relative;
}
.icoBlank01:before{
content: '';
width: 16px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -500px -196px no-repeat;
position: absolute;
left: 0; top:0;
}
.icoBlank02 {
padding-right: 16px;
position: relative;
}
.icoBlank02:after{
content: '';
width: 10px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -550px -197px no-repeat;
position: absolute;
right: 0; top:0;
}
.icoCir01 {
padding-left: 16px;
position: relative;
}
.icoCir01:before{
content: '';
width: 16px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -150px -243px no-repeat;
position: absolute;
left: 0; top:0;
}
.icoCir02 {
padding-left: 16px;
position: relative;
}
.icoCir02:before{
content: '';
width: 16px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) 0px -242px no-repeat;
position: absolute;
left: 0; top:0;
}
.icoMod02 {
padding-right: 20px;
position: relative;
}
.icoMod02:before{
content: '';
width: 12px;
height: 12px;
background: url(/cmn_web/img/index/sprite_001.png) -600px -200px no-repeat;
position: absolute;
right: -2px; top:4px;
}
.helpLink{
padding-left: 18px;
position: relative;
}
.helpLink:before{
content: '';
width: 18px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -100px -250px no-repeat;
position: absolute;
left:0; top:2px;
}
.allPrint{
position: relative;
padding-left: 24px;
}
.allPrint:before{
content: '';
width: 18px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -300px -650px no-repeat;
position: absolute;
left:0; top:1px;
}
.icoBign01{
position: relative;
padding-left: 18px;
}
.icoBign01:before{
content: '';
width: 18px;
height: 18px;
background: url(/cmn_web/img/index/sprite_001.png) -400px -600px no-repeat;
position: absolute;
left:0; top:3px;
}
/*--------------------------------------------------
Table
--------------------------------------------------*/
.tbl01{
width: 100%;
border-collapse: collapse;
border-left: solid 1px #e6e6e6;
border-top: solid 1px #e6e6e6;
}
.tbl01 th, .tbl01 td{
border-right: solid 1px #e6e6e6;
border-bottom: solid 1px #e6e6e6;
padding: 15px;
}
.tbl01 thead th{
font-weight: bold;
background: #f0f0f0;
}
.tbl01 tbody th{
font-weight: bold;
background: #f7f7f7;
}
.tblDetail01{
width: 100%;
border-collapse: collapse;
border-top: solid 1px #d9d9d9;
border-left: solid 1px #d9d9d9;
border-right: solid 1px #d9d9d9;
}
.tblDetail01 th{
padding: 16px;
background: #ededfa;
width: 159px;
vertical-align: top;
font-size: 115.38%;
font-weight: bold;
border-bottom: solid 1px #d9d9d9;
}
.tblDetail01 td{
padding: 16px;
border-bottom: solid 1px #d9d9d9;
}
.tblDetail01 td p{
margin: -2px 0 -3px;
font-size: 107.69% ;
}
.tblDetail01 td p.head{
border: #dadae6 solid 1px;
background: #ebebf8;
color: #101177;
line-height: 1em;
padding: 9px 10px 8px;
font-weight: bold;
margin:15px 0;
border-radius: 4px;
}
.tblDetail01 td p.border{
padding-bottom: 10px;
background: url(/cmn_web/img/index/bg_003.png) 0 bottom repeat-x;
margin-bottom: 15px;
}
.tblDetail01 td div.orange{
padding: 10px 16px;
background: #fff4ec;
margin-top: 20px;
}
.tblDetail01 td div.orange .title{
height: 15px;
padding-top: 6px;
padding-left: 108px;
font-weight: bold;
/* background: url(/cmn_web/img/index/txt_001.png) 0 0 no-repeat; */
line-height: 1em;
color: #ff6600;
margin-bottom: 12px;
position: relative;
}
.tblDetail01 td div.orange .title:before{
content: '';
position: absolute;
left: 0;
top: 0;
width: 100px;
height: 21px;
background: url(/cmn_web/img/index/sprite_001.png) -300px -600px no-repeat;
}
.tblDetail01 td div.left{
width: 285px;
float: left;
}
.tblDetail01 td div.right{
width: 514px;
float: left;
}
.tbleModal01{
width: 100%;
border-collapse: collapse;
border-top: solid 1px #e6e6e6;
border-left: solid 1px #e6e6e6;
}
.tbleModal01 td,
.tbleModal01 th{
border-bottom: solid 1px #e6e6e6;
border-right: solid 1px #e6e6e6;
padding: 10px 15px 3px 10px;
text-align: left;
vertical-align: top;
}
.tbleModal01 th{
background: #f7f7f7;
width: 160px;
}
.tbleModal01 th.height01{
height: 16px;
}
.tbleModal01 th.height02{
height: 42px;
}
.tbleModal01 td{
background: #fff;
}
/* 1024px フォーム用テーブル */
.tblForm01{
width: 100%;
border-collapse: collapse;
border-top: solid 1px #e5e5e5;
border-left: solid 1px #e5e5e5;
}
.tblForm01 th{
border-bottom: solid 1px #e5e5e5;
border-right: solid 1px #e5e5e5;
background: #f7f7f7;
width: 239px;
vertical-align: top;
}
.tblForm01 th .thIner01{
position: relative;
padding: 19px 16px;
line-height: 1em;
font-weight: bold;
}
.tblForm01 th .thIner02{
padding: 16px;
line-height: 1em;
font-weight:bold;
}
.tblForm01 th .thIner01 .icoForm01,
.tblForm01 th .thIner01 .icoForm02,
.tblForm01 th .thIner01 .icoForm03{
position: absolute;
right: 16px;
top: 16px;
}
.tblForm01 td{
border-bottom: solid 1px #e5e5e5;
border-right: solid 1px #e5e5e5;
vertical-align: top;
padding: 10px 16px;
}
.tblForm01 td .textCount{
font-weight: bold;
color: #ff0000;
margin: 0 !important;
}
.tblForm01 td p{
margin-bottom: 10px;
}
.tblForm01 td p:last-of-type{
margin-bottom: 0px;
}
.tblForm01 td p span{
margin: 0 0 0 10px;
}
.tblForm01 td p span.ml16{
margin: 0 0 0 16px !important;
}
.tblForm01 td p span:first-of-type{
margin-left: 0;
}
/*--------------------------------------------------
Modules
--------------------------------------------------*/
/* お知らせモジュール */
.modInformation{
border: solid 2px #e6e6e6;
padding: 16px;
}
.listInformation .linkText{
margin-left: 30px;
}
.listInformation li{
line-height: 1em;
margin-bottom: 10px;
}
.listInformation.readMore li.last,
.listInformation.readMore li:last-of-type{
margin-bottom: 10px !important;
}
.listInformation.hideList{
display: none;
}
/* ページネーションモジュール */
.modListFunctionB{
padding: 10px 16px;
background: #f2f2f2;
border:solid 1px #e6e6e6;
}
.modListFunction .boxLeft,
.modListFunctionB .boxLeft{
float: left;
}
.modListFunction .boxRight,
.modListFunctionB .boxRight{
float: right;
}
.modListFunction .boxLeft .parts,
.modListFunctionB .boxLeft .parts{
float: left;
margin-right: 16px;
}
.modListFunction .boxLeft .parts:last-of-type,
.modListFunctionB .boxLeft .parts:last-of-type{
margin-right: 0;
}
.modListFunction .boxRight .parts,
.modListFunctionB .boxRight .parts{
float: right;
margin-left: 16px;
}
.modListFunction .boxLeft .parts.dellWrap{
width: 0px;
margin-right: 0;
}
.modListFunction .boxLeft .parts.dellWrap a{
opacity: 0;
}
.modListFunction .boxRight .parts:last-of-type
.modListFunctionB .boxRight .parts:last-of-type{
margin-right: 0;
}
.modListFunctionUnder{
padding-bottom: 10px;
border-bottom: solid 2px #e6e6e6;
}
.pagerNumber{
font-size: 123.07% ;
line-height: 30px;
font-weight: bold;
position: relative;
}
.pagerNumber:hover,
.pagerNumber.active{
border: solid 1px #aac8f0 !important;
box-shadow: 0 0 0 1px #aac8f0; /* CSS3 */
margin: -1px -4px;
padding: 0 3px;
}
.pagerNumber .pagerMenu{
display: block;
background: #fff;
width: 97px;
position: absolute;
left: -5px;
top: 33px;
border: solid 1px #cccccc;
padding: 0;
display: none;
z-index: 9991;
}
.pagerNumber:hover  .pagerMenu,
.pagerNumber.active .pagerMenu{
left:-2px;
top: 33px;
}
.pagerNumber .pagerMenu .pagerMenuElem{
display: block;
font-size: 82.125%;
display: block;
line-height: 36px;
/* background: url(/cmn_web/img/index/ico_link_001.png) 0 0 no-repeat; */
color: #ccc;
font-weight: normal;
text-align: center;
}
.pagerNumber .pagerMenu .pagerMenuElem .dead{
display: block;
padding-left: 24px;
}
.pagerNumber .pagerMenu .pagerMenuElem a{
display: block;
color: #000;
}
.pagerNumber .pagerMenu .pagerMenuElem a:hover{
text-decoration: none;
background: #ebecf8;
}
.funcText{
line-height: 30px;
}
.funcText.func118{
width: 118px;
}
.scrollHead .funcText.func118{
margin-left: 17px;
}
.funcText.func176{
width: 176px;
}
.scrollHead .funcText.func176{
margin-left: 17px;
}
.counter{
line-height: 30px;
height: 30px;
}
.counter .number{
font-size: 184.61%;
color:#ff0000;
font-weight: bold;
}
/*-- ドロップダウンリスト --*/
.funcDrop{
height: 28px;
width: 201px;
position: relative;
float: left;
background: #fff url(/cmn_web/img/index/ico_btn_005.png) right 12px no-repeat;
border: solid 1px #cccccc !important;
border-radius: 2px;
padding-right: 21px;
}
.funcDrop:hover{
border: solid 1px #adadad !important;
}
.funcDrop.frontLayer{
border: solid 1px #aac8f0 !important;
box-shadow: 0 0 0 1px #aac8f0; /* CSS3 */
}
.funcDropWide{
width: 201px;
}
.funcDropWide.superWide{
width: 301px;
}
.funcDropMin{
width: 26px;
height: 16px;
padding: 6px 21px 6px 15px;
}
.funcDrop .display{
display: block;
line-height: 1.1em;
width: 191px;
overflow: hidden;
margin: 8px 0 0 10px;
cursor: pointer;
}
.funcDrop .display .gray{
display: inline-block;
margin-left: 10px;
color: #808080;
}
.funcDrop .dropMenu:hover{
border: solid 1px #adadad;
}
.funcDropMin .display{
width: 26px;
height: 16px;
margin: 0 !important;
}
.funcDropMin .display.allCheck{
display: block;
width: 16px;
overflow: hidden;
}
.funcDropMin .display.allCheck img{
position: relative;
top: -1px;
left:  -151px;
}
.funcDropMin .display.allCheck:hover img{
position: relative;
top: -101px;
left:  -151px;
}
.funcDropMin .display.allCheck.checked img{
position: relative;
top: -51px;
left:  -151px;
}
.funcDropMin .display.allCheck.checked:hover img{
position: relative;
top: -101px;
left: -201px;
}
/* .funcDropWide .display{
width: 181px;
} */
.funcDropWide.superWide .display{
width: 281px;
}
.funcDrop .dropMenu{
display: none;
position: absolute;
right: -1px;
top:30px;
width: 222px;
background: #fff;
border: solid 1px #cccccc;
z-index: 120;
padding: 0;
}
.funcDrop .dropMenu:hover{
border: solid 1px #adadad;
}
.funcDropMin .dropMenu{
left: -1px;
}
.funcDropWide .dropMenu{
width: 290px;
left: -1px;
}
.funcDropWide .dropMenuWideWrap{
width: 581px;
border-bottom: solid 1px #ccc;
}
.funcDropWide .dropMenuWide li.division{
padding-bottom: 10px;
margin-bottom: 10px;
}
.funcDrop .dropMenuWide{
width: 290px;
float: left;
}
.funcDrop .dropMenuWide:first-of-type{
border-right: solid 1px #ccc;
margin-right: -1px;
}
.funcDrop .dropMenuWide:last-of-type{
border-left: solid 1px #ccc;
}
.funcDropWide .dropMenuWideWrap ul.dropMenuWide:last-of-type {
position: relative;
}
.funcDropWide .dropMenuWideWrap ul.dropMenuWide:last-of-type:before {
width: 1px;
height: 5px;
content: " ";
background: #FFF left top;
position: absolute;
left: -1px;
top: 0px;
}
.funcDropWide .dropMenuWideWrap ul.dropMenuWide:last-of-type:after {
width: 1px;
height: 5px;
content: " ";
background: #FFF left top;
position: absolute;
left: -1px;
bottom: 0px;
}
.funcDrop .dropMenu{
z-index: 9998;
}
.funcDrop .dropMenu .dispAll a{
display: block;
line-height: 36px;
padding: 0 16px 0 24px;
cursor: pointer;
color: #000;
}
.funcDrop .dropMenu .dispAll a:hover{
color: #0a50a1;
text-decoration: none;
background: #ebecf8;
}
.funcDrop .dropMenu li.title{
display: block;
line-height: 36px;
font-weight: bold;
padding-left: 10px;
}
.funcDrop .dropMenu li.link a {
display: block;
line-height: 36px;
padding: 0 0 0 24px;
cursor: pointer;
color: #000;
}
.funcDrop .dropMenu li.link a:hover {
color: #0a50a1;
text-decoration: none;
background: #ebecf8;
/*background: #ededed url(/cmn_web/img/index/ico_link_001.png) 0 -36px no-repeat;*/
}
.funcDrop .dropMenu li.dead p{
display: block;
line-height: 36px;
padding: 0 0 0 24px;
color: #ccc;
}
.funcDrop .dropMenuWide li.link a,
.funcDrop .dropMenuWide li.dead p{
padding-right: 16px;
}
.funcDrop .dropMenuWide li.link a span.title,
.funcDrop .dropMenuWide li.dead p span.title{
float: left;
}
.funcDrop .dropMenu .dispAll a span.title {
float: right;
}
.funcDrop .dropMenuWide li.link a span.count,
.funcDrop .dropMenu .dispAll a span.count {
float: right;
color: #808080;
}
.funcDrop .dropMenuWide li.dead p span.count {
float:right;
}
/* タブモジュール01 */
.modTab01{
position: relative;
border-bottom: solid 3px #101177;
}
.listTab01{
float: left;
}
.listTab01 li{
display: inline-block;
float: left;
margin-right: 4px;
}
.listTabButton li{
float: right;
margin-left: 8px;
}
.listTab01 li a{
display: block;
width: 190px;
line-height: 13px;
text-align: center;
color: #000000;
padding: 14px 0 12px;
background: #f5f5f5;
border: solid 1px #cccccc;
border-bottom: none;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-shadow:#fff 0px 1px 1px 0px inset;
}
.listTab01 li a:hover{
text-decoration: none;
background: #ebecf8;
color: #0a50a1;
}
.listTab01 li .current{
display: block;
width: 190px;
line-height: 13px;
text-align: center;
color: #fff;
font-weight: bold;
padding: 14px 0 12px;
background: #101177;
border: solid 1px #101177;
border-bottom: none;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
box-shadow:#606078 0px 1px 1px 0px inset;
}
.listTab01 li.mini a,
.listTab01 li.mini .current{
width: 110px;
}
/* 下向きタブ */
.modTab01.modTab01Under{
position: relative;
border-bottom: none;
border-top: solid 3px #101177;
}
.modTab01.modTab01Under .listTab01 li a{
border: solid 1px #cccccc;
border-top: none;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
box-shadow:none !important;
}
.modTab01.modTab01Under .listTab01 li .current{
border: solid 1px #101177;
border-top: none;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
box-shadow:none !important;
}
.modTab01.modTab01Under .listTabButton{
margin-top: 4px;
}
/* 求人紹介トップ一覧モジュール */
.modList01{
border-top: solid 4px #101177;
}
.modList01 .upper{
background: #fafafa;
border-bottom: solid 1px #e6e6e6;
}
.modList01 .upper .box01,
.modList01 .upper .box02,
.modList01 .upper .box21,
.modList01 .upper .box22,
.modList01 .upper .box23{
display: table-cell;
}
.modList01 .upper .box01{
width: 40px;
vertical-align: middle;
background: #e6e6e6;
text-align: center;
position: relative;
}
.modList01 .upper .box01 .stayBottom{
position: absolute;
left: 5px;
bottom: 11px;
height: 17px;
}
.modList01 .upper .box01 .ckWrapA{
width: 16px;
margin-right: 0;
}
.modList01 .upper .box01 .ckWrapA .ckWrapA_Cbox{
margin-right: 0;
}
.modList01 .upper .box01 .ckWrapA .ckWrapA_Lbox{
display: none;
}
.modList01 .upper .box02{
padding: 10px 0;
}
.modList01 .upper .box21{
width: 592px;
padding-left: 16px;
}
.modList01 .upper .box21 .icoSvc01{
margin-left: 10px;
}
.modList01 .upper .box22{
padding-left: 24px;
width: 112px;
vertical-align: middle;
}
.modList01 .upper .box23{
vertical-align: middle;
width: 96px;
}
	/*ここからぜんたいがけかモジュール内に限定するか要件等（デザイン上げってきたら）*/
	.rest{
	margin-top: 6px;
	height: 21px;
	}
	.rest span{
	color: #ff0000;
	font-weight: bold;
	font-size: 138.46%;
	}
	.modList01 .upper .box21{
	position: relative;
	}
	.modList01 .upper .box21 .clickArea{
	width: 100%;
	height: 10px;
	display: block;
	position: absolute;
	top: -10px;
	left: 0;
	cursor: pointer;
	}
	.modList01 .upper .box21.hover h2.title span.company{
	text-decoration: underline !important;
	}
	.modList01 .upper .box21.hover h2.title span.job{
	text-decoration: underline !important;
	}
	h2.title span.company{
	display: block;
	font-size: 123.07%;
	/* color: #0a50a1; */
	margin-top: -3px;
	margin-bottom: 7px;
	line-height: 1.38em;
	}
	h2.title span.status{
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -2px;
	}
	h2.title span.job{
	display: block;
	margin-top: -3px;
	margin-bottom: -4px;
	margin-left: 0;
	line-height: 1.538em;
	font-weight: normal;
	}
	p.status{
	display: inline-block;
	margin-bottom: 10px;
	height: 17px;
	}
	p.status span{
	margin-right: 10px;
	}
	/*ここまでぜんたいがけかモジュール内に限定するか要件等（デザイン上げってきたら）*/
.modList01 .under{
padding-top: 10px;
}
.modList01 .under .box01{
float: left;
width: 648px;
}
.modList01 .under .box02{
float: right;
width: 192px;
}
.finsed01{
font-size: 92.30%;
display: inline-block;
width: 78px;
line-height: 28px;
height: 28px;
border: solid 1px #cccccc;
text-align: center;
background: #fff;
color: #292929;
}
.finsed02{
padding: 8px 0;
text-align: center;
background: #f2f2f2;
color: #000 !important;
}
/*-- トップ新着求人 --*/
.modTopNewHead{
height: 16px;
line-height: 1em;
margin-bottom: 10px;
margin-top: 16px;
}
.modTopNewHead h2{
font-size: 138.46% !important;
float: left;
}
.modTopNewHead p{
float: right;
}
.modTopNewlinks{
padding: 16px;
font-weight: bold;
background: #f2f2f2;
line-height: 1.571em;
font-size: 107.69%;
}
/*-- トップ求人特集 --*/
.modTopSpecial .blockLeft{
width: 440px;
float: left;
}
.modTopSpecial .blockRight{
width: 440px;
float: left;
}
.modTypeBorder01.modTopSpecial .blockLeft{
width: 421px;
float: left;
}
.modTypeBorder01.modTopSpecial .blockRight{
width: 423px;
float: left;
}
.listTopSpecial{
display: inline-block;
line-height: 18px;
margin-bottom: 6px;
}
.listTopSpecial dt{
display: inline-block;
margin-right: 10px;
}
.listTopSpecial dd{
display: inline-block;
}
/* 求人非活性 */
.modListFin {
color: #b8b8b8 !important;
border-top: solid 4px #b8b8b8;
}
.modListFin h2.title{
color: #b8b8b8;
}
.modListFin .listDateInfo dt {
color: #b8b8b8;
}
.modListFin .icoSts02{
background: #b8b8b8;
}
.modListFin .icoSts03{
color: #b8b8b8 !important;
border: solid 1px #b8b8b8;
}
.modListFin .icoSts05{
color: #b8b8b8 !important;
border: solid 1px #b8b8b8;
}
.modListFin .detailIcons li {
color: #b8b8b8 !important;
}
.modListFin .icoSpc01{
background: #b8b8b8;
}
.modListFin .finsed01 {
color: #B8B8BE;
border: solid 1px #cccccc;
}

/* 求人検索結果一覧 */
.modList02{
border-top: solid 4px #101177;
}
.modList02 .upper{
background: #fafafa;
padding: 15px 16px 10px;
}
.modList02 .upper .title a:hover .company,
.modList02 .upper .title a:hover .job{
text-decoration: underline;
}
.modList02 .title .company{
font-size: 153.84%;
line-height: 1.35em;
margin: -3px 0 6px;
float: left;
display: inline-block;
width: 528px;
}
.modList02 .title .job{
margin: -3px 0 -4px;
float: left;
display: inline-block;
width: 528px;
}
.modList02 .buttons{
float: right;
display: inline-block;
}
.modList02 .buttons li{
float: right;
margin-left: 16px;
}
.modList02 .icons{
padding: 10px 16px;
background: #fafafa url(/cmn_web/img/index/bg_001.png) 0 0 repeat-x;
border-bottom: solid 1px #e6e6e6;
}
.modList02 .middle{
padding: 15px 16px 20px 15px;
}
.modList02 .under{
border-top: solid 1px #e6e6e6;
padding: 16px 0;
background: #fafafa;
border-bottom: solid 1px #e6e6e6;
}
.modList02 .middle .box01{
width: 434px;
float: left;
}
.modList02 .middle .box02{
width: 395px;
float: right;
}
.modList02 .middle .appeal{
margin: -3px 0 -4px;
}
.modList02 .middle .appealImage{
width: 260px;
float: left;
}
.modList02 .middle .appealCaption{
width: 125px;
float: right;
font-size: 84.61%;
line-height: 1.63em;
margin: -3px 0 -4px;
}
.modList02 .middle .appealTitle{
color: #101177;
font-weight: bold;
margin: -3px 0 16px;
}
.modList02 .middle .floatBox{
margin-top: 20px;
}
.modList02 .under .blockButon{
width:240px;
margin: 0 auto;
position: relative;
}
.modPagenation{
padding-bottom: 10px;
border-bottom: solid 1px #e6e6e6;
}
.modSns ul li{
display: inline-block;
float: right;
margin-right: 16px;
}

/*-- 880p内2カラム割 --*/
.mod2c01 .blockLeft{
float: left;
width: 430px;
}
.mod2c01 .blockRight{
float: right;
width: 430px;
}
.mod2c01 .blockRight .head02 {
padding-bottom: 10px;
margin-bottom: 21px;
border-bottom: solid 2px #e6e6e6;
height: 16px;
}
.mod2c01 .blockRight input.topInput01{
padding: 8px 0px 8px 37px;
border: solid 1px #cccccc;
background: #fff;
border-radius: 2px;
height: 12px;
width: 260px;
background: #fff url(/cmn_web/img/index/ico_serach_001.png) 15px 6px no-repeat;
}
.mod2c01 .blockRight input.topInput01 {
padding: 4px 0px 12px 37px\0;
background: #fff url(/cmn_web/img/index/ico_serach_001.png) 15px 7px no-repeat\0;
}
.mod2c01 .blockRight input.topInput01 {
padding: 4px 0px 12px 37px\9;
background: #fff url(/cmn_web/img/index/ico_serach_001.png) 15px 7px no-repeat\9;}

.mod2c01 .blockLeft .head02{
margin-bottom: 17px;
}
.mod2c01 .head05{
margin-bottom: 19px;
padding: 0;
background: #fff;
}
.mod2c01 .head05 h3{
font-size: 115.4%;
color: #000;
}
.mod2c01 form {
	padding: 0 16px;
}
.topSerchNum01{/* トップページ希望条件から検索 */
float: right;
margin-right: 16px;
line-height: 36px;
}
/*-- 880p内2カラム割 トップページサービス紹介 --*/
.layout.mb25 .head02{
padding-bottom: 8px;
}
.mod2c02 .blockLeft{
float: left;
width: 352px;
margin-left: 16px;
}
.mod2c02 .blockRight{
float: right;
width: 480px;
}
.mod2c02 .description{
font-size: 92.30%;
line-height: 1.45em;
margin-bottom: 4px;
}
/*-- 880p内3カラム割 --*/
.mod3c01{
margin-bottom: 17px !important;
}
.mod3c01 .block{
display: block;
float: left;
width: 256px;
margin-right: 41px;
}
.mod3c01 .block.last{
margin-right: 0;
}
.mod3c01 .block .intro{
margin-bottom: 5px;
}
.mod3c01 .block span.image{
display: block;
margin-bottom: 6px;
}
.mod3c01 .block span.text{
display: block;
}
/*-- 880p内4カラム割 --*/
.mod4c01{
padding-left: 8px;
}
.mod4c01 .block{
display: block;
float:left;
width: 192px;
margin-right: 32px;
}
.mod4c01 .block a{
display: block;
}
.mod4c01 .block span.image{
display: block;
margin-bottom: 7px;
}
.mod4c01 .block span.text{
display: block;
}
.mod4c01 .block.last{
margin-right: 0;
}
/* 枠線モジュール */
.modTypeBorder01{
border: solid 3px #f2f2f2;
padding: 15px;
}
.modTypeBorder01 .title{
margin: 0 0 12px;
font-weight: bold;
}
.modTypeBorder01 .mainTxt{
margin: -3px 0 -4px;
}
.modTypeBorder02{
border: solid 3px #ededed;
padding: 16px;
}
.modTypeBorder02 .title{
padding-bottom: 16px;
background: url(/cmn_web/img/index/bg_003.png) 0 bottom repeat-x;
margin-bottom: 16px;
}
.modTypeBorder02 .title h2{
color: #ff6600;
font-size: 169.23%;
line-height: 1.37em;
margin: -2px 0 -6px;
}
.modTypeBorder02 .left{
width: 666px;
float: left;
}
.modTypeBorder02 .left p{
font-size: 107.69% ;
line-height: 1.5em;
}
.modTypeBorder02 .right{
width: 300px;
float: right;
}
/*求人詳細*/
.modArt01{
padding: 30px 0;
font-size: 153.84% ;
font-weight: bold;
border: solid 1px #e6e6e6;
background: #f2f2f2;
text-align: center;
}
.modDetail02{
border: solid 1px #dedede;
border-top: none;
}
.modDetail02 .inner01{
padding: 16px;
}
.modDetail02 .inner01 .left{
float: left;
width: 402px;
}
.modDetail02 .inner01 .right{
float: right;
width: 564px;
}
.modDetail02 .inner01 .right .title{
font-size: 115.38%;
font-weight: bold;
padding-bottom: 10px;
background: url(/cmn_web/img/index/bg_003.png) 0 bottom repeat-x;
margin-bottom: 15px;
}
.modDetail02 .inner01 .right .text{
font-size: 107.69%;
}
.modDetail02 dl.interview{
height: 88px;
font-size: 107.69%;
line-height: 1.5em;
}
.modDetail02 dl.interview:last-of-type{
height: 87px;
}
.modDetail02 dl.interview.type01{
background: url(/cmn_web/img/index/bg_004.png) 0 0 no-repeat;
}
.modDetail02 dl.interview.type02{
background: url(/cmn_web/img/index/bg_005.png) 0 0 no-repeat;
}
.modDetail02 dl.interview dt{
width: 130px;
float: left;
margin-left: 60px;
padding-top: 13px;
}
.modDetail02 dl.interview dd{
width: 800px;
float: left;
margin-left: 17px;
padding-top: 13px;
}
.modDetail02 .inner03{
padding: 0 11px;
}
.modDetail02 .inner03 dl{
padding: 10px 0;
border-bottom: solid 1px #dedede;
font-size: 107.69%;
line-height: 1.5em;
}
.modDetail02 .inner03 dl:last-of-type{
border-bottom: none;
}
.modDetail02 .inner03 dl dt{
font-weight: bold;
padding-left: 5px;
width: 175px;
display: table-cell;
}
.modDetail02 .inner03 dl dd{
padding-left: 17px;
width: 805px;
display: table-cell;
background: url(/cmn_web/img/index/bg_008.png) 0 0 repeat-y;
}
.modDetail03{
margin-top: 20px;
padding: 0 30px;
}
.modDetail03 ul li{
float: left;
width: 260px;
margin-right: 92px;
font-size: 92.30% !important;
}
.modDetail03 ul li.last{
margin-right: 0;
}
.modDetail03 ul li:last-of-type{
margin-right: 0;
}
.modDetail03 ul li img{
margin-bottom: 8px;
}
.modDetail04 dl{
padding-top: 2px;
background: url(/cmn_web/img/index/bg_007.png) 0 0 no-repeat;
font-size: 107.69%;
line-height: 1.5em;
}
.modDetail04{
padding-bottom: 2px;
background: url(/cmn_web/img/index/bg_007.png) 0 bottom no-repeat;
}
.modDetail04 dl dt,
.modDetail04 dl dd{
display: table-cell;
padding: 10px 16px;
}
.modDetail04 dl dt{
width: 136px;
font-weight: bold;
}
.modDetail04 dl dd{
width: 800px;
padding-left: 40px;
}
.modDetailBtn{
padding-top: 64px;
background: url(/cmn_web/img/index/bg_009.png) center 0 no-repeat;
}
.modDetailBtn .btnWrap{
padding:0 144px;
}
.modDetailBtn .btnWrap div.left{
width: 352px;
float: left;
}
.modDetailBtn .btnWrap div.right{
width: 352px;
float: right;
}
.modDetailBtn .btnWrap div p{
font-size: 107.69%;
margin-top: 10px;
}
.modDetailBtn .btnWrap .notice{
font-size: 78.57%;
}
.modDetailBtn .btnWrap div p span{
margin-left: 10px;
}
.noticetext{
 font-size: 76.92% !important;
 color: #808080;
 line-height: 1.4em;
 margin-top: 50px;
}
.modCondInfo{
border: solid 1px #e6e6e6;
background: #f2f2f2;
padding: 16px;
}
.modFormTbl{
text-align: center;
}
.modGuideNum{
width: 158px;
height: 78px;
border: solid 3px #101177;
text-align: center;
position: fixed;
right: 32px;
bottom: 132px;
background: #fff;
}
.modGuideNum{
opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 0.2s;
-webkit-transition-timing-function: linear;
transition-property: opacity;
transition-duration: 0.2s;
transition-timing-function: linear;
}
.modGuideNum.open{
opacity: 1;
}
.modGuideNum .parts01{
line-height: 18px;
margin-top: 16px;
margin-bottom: 8px;
}
.modGuideNum .parts01 .icoForm01{
margin: 0 8px;
}
.modGuideNum .parts02 .num{
font-weight: bold;
font-size: 184.61%;
color: #ff0000;
}
/*--------------------------------------------------
layout
--------------------------------------------------*/
.layout{
margin-bottom: 20px;
}
.layout.layout00{
margin-bottom: 0px;
}
.layout.layout10{
margin-bottom: 10px;
}
.layout.layout30,
.layout.layoutList01,
.layout.layoutList02{
margin-bottom: 30px;
}

.mainRight .layout.last,
.mainRight .layout:last-of-type{
margin-bottom: 0 !important;
}

/*--------------------------------------------------
Slider
--------------------------------------------------*/
.sliderWrap{
overflow: hidden;
}
.sliderWrap01{
width: 844px;
height: 332px;
}
.sliderWrap02{
width: 988px;
height: 332px;
}
.slider li{
width: 200px;
float: left;
}
.slider li .thumbnail{
border: solid 1px #dbdbdb;
margin-bottom: 7px;
}
.slider li .title{
line-height: 1.54em;
height: 40px;
margin-bottom: 0;
margin-bottom: 6px;
display: block;
}
.slider li .title span{
margin-left: 10px;
}
.slider li .job{
height: 40px;
margin-bottom: 0;
margin-bottom: 6px;
}
.slider li .expalin{
color: #808080;
height: 40px;
margin-bottom: 16px;
}
.slider01{
width:830px;
padding: 0 7px;
}
.slider02{
width:986px;
padding: 0 1px;
}
.slider01 li{
margin-right: 10px;
}
.slider02 li{
margin-right: 62px;
}
.slider01 li.last,
.slider02 li.last {
margin-right: 0;
}
.slider01 li:last-of-type,
.slider02 li:last-of-type {
margin-right: 0;
}
/* コントローラー */
.bx-prev{
display: inline-block;
position: relative;
height: 18px;
width: 31px;
text-indent: -9999px;
margin-right: 15px;
}
.bx-prev:after{
content:' ';
display: block;
width: 11px;
height: 18px;
position: absolute;
left: 10px;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -200px -200px no-repeat;
}
.bx-prev:hover:after{
background: url(/cmn_web/img/index/sprite_001.png) -200px -218px no-repeat;
}
.bx-next{
display: inline-block;
position: relative;
height: 18px;
width: 31px;
text-indent: -9999px;
margin-left: 15px;
}
.bx-next:after{
content:' ';
display: block;
width: 11px;
height: 18px;
position: absolute;
left: 10px;
top:0;
background: url(/cmn_web/img/index/sprite_001.png) -300px -200px no-repeat;
}
.bx-next:hover:after{
background: url(/cmn_web/img/index/sprite_001.png) -300px -218px no-repeat;
}
.bx-pager-item{
display: inline-block;
width: 10px;
height: 14px;
position: relative;
margin: 0 10px;
}
.bx-pager-item .bx-pager-link{
display:block;
position: absolute;
left: 0;
top: 8px;
width: 10px;
height: 10px;
text-indent: -9999px;
background: url(/cmn_web/img/index/sprite_001.png) -250px -200px no-repeat;
}
.bx-pager-item .bx-pager-link.active,
.bx-pager-item .bx-pager-link:hover{
background: url(/cmn_web/img/index/sprite_001.png) -250px -210px no-repeat;
}
.bx-controls-direction{
text-align: center;
}
.bx-pager{
display: inline-block;
text-align: center;
height: 18px;
overflow: hidden;
margin-top: 20px;
}

/*--------------------------------------------------
Web履歴書
--------------------------------------------------*/
#graph {
position: relative;
}
.webHistory {
margin-bottom: 12px;
}
.layout.webHistory {
margin-bottom: 8px;
}
.head01-03 {
margin-bottom: 8px;
}
.head02-01 {
margin-bottom: 12px;
}
.pRight01 {
margin-bottom: 5px;
text-align: right;
display: block;
}
.svg_area {
width: 246px;
height: 150px;
position: absolute;
right: 0;
top: 0;
}
.svg_area .numLarge {
width: 260px;
padding-top: 33px;
font-size: 1.231em;
font-weight: bold;
position: absolute;
left: -12px;
top: 30px;
text-align: center;
color: #0a50a1;
}
.svg_area .numLarge span{
font-size: 2.063em;
}
.chkBox {
width: 596px;
}
.chkBox h3 {
margin-bottom: 10px;
line-height: 24px;
}
.chk01 li{
margin-bottom: 14px;
float: left;
}
.chk01 .li01 {
width: 111px;
}
.chk01 .li02 {
width: 107px;
}
.chk01 .li03 {
width: 127px;
}
.chk01 .li04 {
width: 130px;
}
.chk01_on,
.chk01_off {
padding-left: 20px;
position: relative;
}
.chk01_on:after {
width: 14px;
height: 10px;
background: url(/cmn_web/img/index/sprite_001.png) -100px -503px no-repeat;
content: '';
overflow: hidden;
position: absolute;
top: 4px;
left: 0;
}
.chk01_off:after {
width: 14px;
height: 10px;
background: url(/cmn_web/img/index/sprite_001.png) -100px -553px no-repeat;
content: '';
overflow: hidden;
position: absolute;
top: 4px;
left: 0;
}
.boxWrap .fltL {
position: relative;
}
.chkP01 {
background: #f2f2f2;
padding: 14px 17px 12px;
}
.chkP02 {
width: 246px;
height: 40px;
position: absolute;
bottom: -22px;
}
.chkP03 p span{
padding-left: 72px;
position: relative;
display: inline-block;
}
.chkP03 p span:after {
width: 64px;
height: 21px;
background: url(/cmn_web/img/index/sprite_001.png) -500px -500px no-repeat;
content: '';
overflow: hidden;
position: absolute;
top: -1px;
left: 4px;
}
.chkA {
padding-left: 10px;
background: url(/cmn_web/img/index/ico_arrow_002.png) no-repeat left 5px;
}
.boxLeft {
float: left;
}
.boxRight {
float: right;
}


/*--------------------------------------------------
Option
--------------------------------------------------*/
.mb05{margin-bottom:5px !important;}
.mb08{margin-bottom:8px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb16{margin-bottom:16px !important;}
.mb20{margin-bottom:20px !important;}
.mb23{margin-bottom:23px !important;}
.mb24{margin-bottom:24px !important;}
.mb25{margin-bottom:25px !important;}
.mb26{margin-bottom:26px !important;}
.mb30{margin-bottom:30px !important;}
.mb32{margin-bottom:32px !important;}
.mb40{margin-bottom:40px !important;}
.mb48{margin-bottom:48px !important;}
.mb50{margin-bottom:50px !important;}
.mb56{margin-bottom:56px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb72{margin-bottom:72px !important;}
.mb80{margin-bottom:80px !important;}
.mb00{margin-bottom: 0px !important;}
.mr16{margin-right: 16px !important}

.alignL{text-align:left !important;}
.alignC{text-align:center !important;}
.alignR{text-align:right !important;}

.fltL{float: left !important;}
.fltR{float: right !important;}

.frontLayer{
z-index: 99999;
}
.head01-02:after,
.stepList01:after,
.stepList02:after,
.funcDropWide .dropMenuWideWrap:after,
.modal .inner .right .ckWrapA:after,
.slider:after,
.modTab01:after,
.head01.head01-01:after,
.listTop03:after,
.head02:after,
.listTop01 li:after,
.mod2c01:after,
.mod2c02:after,
.mod3c01:after,
.mod4c01:after,
.funcDrop .dropMenuWide li.link a:after,
.funcDrop .dropMenuWide li.dead p:after,
.asideMunu01 li dd a:after,
.asideMunu02 li dd a:after,
.ganvList:after,
.content1200:after,
.ckWrapB:after,
.clrFix:after{
display:block;
clear:both;
height:0;
visibility:hidden;
content:".";
}

.layerDrop{
position: fixed;
display: none;
top:0;
left: 0;
z-index: 9990;
}

/*--------------------------------------------------
Baloon
--------------------------------------------------*/
.balloon01,
.balloon05 {
margin-bottom: 20px;
z-index: 9000;
}
.balloon01 p,
.balloon05 p{
position: relative;
width: 200px;
padding: 15px;
border: 1px solid #999;
border-radius: 5px;
box-shadow: 0 1px 0 #999999;
background-color: #fff;
vertical-align: middle;
}
.balloon01 p span ,
.balloon05 p span {
display: block;
margin-bottom: 3px;
font-weight: bold;
}
.balloon01 p:before,
.balloon05 p:before{
content: "";
position: absolute;
bottom: -10px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-top: 10px solid #999;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.balloon01 p:after,
.balloon05 p:after{
content: "";
position: absolute;
bottom: -8px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-top: 10px solid #fff;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
/*balloon02*/
.balloon02 {
margin-bottom: 20px;
z-index: 9000;
}
.balloon02 p{
position: relative;
width: 200px;
padding: 15px;
border: 1px solid #999;
border-radius: 5px;
box-shadow: 0 1px 0 #999999;
background-color: #fff;
vertical-align: middle;
}
.balloon02 p span {
display: block;
margin-bottom: 3px;
font-weight: bold;
}
.balloon02 p:before{
content: "";
position: absolute;
top: -10px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-bottom: 10px solid #999;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.balloon02 p:after{
content: "";
position: absolute;
top: -9px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-bottom: 10px solid #fff;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
/*balloon03*/
.balloon03 {
margin-bottom: 20px;
z-index: 9000;
position: relative;
}
.balloon03 p{
position: relative;
font-size: 84.61%;
line-height: 17px;
width: 145px;
padding: 10px 10px 5px 30px;
border: 1px solid #999;
border-radius: 5px;
box-shadow: 0 1px 0 #999999;
background-color: #fff;
vertical-align: middle;
z-index: 90;
}
.balloon03:after{
content: '';
display: block;
position: absolute;
left: 11px;
top: 12px;
width: 14px;
height: 14px;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat -350px -200px;
z-index: 100;
}

.balloon03 p:before{
content: "";
position: absolute;
top: -10px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-bottom: 10px solid #999;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.balloon03 p:after{
content: "";
position: absolute;
top: -9px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-bottom: 10px solid #fff;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.balloon01.stay,.balloon03.stay{
display:none;
}
/*balloon04*/
.balloon04 {
margin-bottom: 20px;
z-index: 9000;
position: relative;
}
.balloon04 p{
position: relative;
font-size: 84.61%;
line-height: 17px;
width: 145px;
padding: 10px 10px 5px 30px;
border: 1px solid #999;
border-radius: 5px;
box-shadow: 0 1px 0 #999999;
background-color: #fff;
vertical-align: middle;
}
.balloon04:after{
content: '';
display: block;
position: absolute;
left: 11px;
top: 11px;
width: 14px;
height: 14px;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat -350px -200px;
z-index: 100;
}

.balloon04 p:before{
content: "";
position: absolute;
bottom: -10px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-top: 10px solid #999;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.balloon04 p:after{
content: "";
position: absolute;
bottom: -8px;
left: 50%;
margin-left: -10px;
width: 0;
height: 0;
border-top: 10px solid #fff;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.balloon01.stay,.balloon02.stay,.balloon03.stay,.balloon04.stay,.balloon05.stay{
display:none;
}


/*--------------------------------------------------
トップページ修正分
--------------------------------------------------*/

/* base */
#content.top{
margin-top: 17px;
}
.right{
float: right!important;
}
.left{
float: left!important;
}

/* トップ求人数 */
.main_top_number{
color: #3d3d3d;
font-weight: bold;
margin-bottom: 6px;
}
.main_top_number p{
font-weight: normal;
}
.main_top_number .num {
color: #e62709;
font-size: 100%;
font-weight: bold;
line-height: 1;
}
/* 求人検索タイトル */
.head_12 h2,
.head_12 h3{
font-size: 138.46%;
color: #FFF;
background: #101177;
line-height: 1;
padding: 10px 17px 8px;
margin-bottom: 20px;
}
.head_12 h3 {
	margin-bottom: 15px;
}
.head_12.service_h2 h2{
margin-bottom: 15px;
}
.head_12 h3 + .lh01 {
	margin: 10px 0;
	padding: 0 16px;
}
/* 条件の近い求人 */
.relation_box .head02{
margin-bottom: 20px;
}
.relation_box ul{
width: 882px;
}
.relation_box ul li{
width: 160px;
margin: 0 15px 17px 0;
display: inline-block;
}
.relation_box ul li.last{
margin-right: 0;
}
.relation_box ul li .box_img{
margin-bottom: 3px;
}
.relation_box ul li .box_img a,
.relation_box ul li .box_img a img{
display: block;
}
.relation_box ul li .box_img a img{
max-width:160px;
border: 1px solid #ccc;
box-sizing: border-box;
}
.relation_box ul li .box_title{
margin-bottom: 4px;
word-wrap: break-word;
word-break: break-all;
}
.relation_box ul li .box_title a{
font-weight: bold;
}
.relation_box ul li .box_text{
word-wrap: break-word;
word-break: break-all;
}
/* explain_txt */
.explain_txt p{
margin: 90px 0 0;
padding: 0 8px;
line-height: 18px;
font-size: 76.92%;
color: #808080;
}
/* listAsideBnr */
.listAsideBnr li a img{
width: 100%;
}
/* login_before */
.loginBefore {
padding: 10px 9px;
background: #f2f2f2;
border: 1px solid #e6e6e6;
}
.loginBefore p a.btnTop01{
width: 267px;
height: 59px;
}
.loginBefore p a.btnTop02{
width: 265px;
height: 19px;
padding: 9px 0;
font-size: 138.46%;
background: #fff;
}
.loginBefore .login_txt{
text-align: center;
line-height: 25px;
}
a.btnTop01 .upper{
padding-left: 0;
margin-bottom: 8px;
}
/* sideJobInfo */
.layoutAside .head03{
padding-top: 2px;
padding-bottom: 9px;
margin-bottom: 10px;
border-bottom: solid 2px #e6e6e6;
}
.sideJobInfo .head03{
padding-top: 0;
padding-bottom: 10px;
margin-bottom: 4px;
}
.sideJobInfo02 .head03{
margin-bottom: 9px;
padding-bottom: 8px;
}
.sideJobInfo ul{
margin-bottom: 11px;
}
.sideJobInfo ul li{
line-height: 26px;
padding: 1px 0 1px 3px;
margin-bottom: 5px;
border-bottom: 1px solid #e6e6e6;
}
.sideJobInfo ul li a{
display: inline-block;
}
.sideJobInfo .list01{
margin-bottom: 8px;
}
.sideJobInfo .sideJobTxt{
margin-bottom: 14px;
}
.sideJobInfo form p input{
padding: 8px 0 5px;
}
.sideJobInfo input.topInput01{
width: 166px;
height: 19px;
padding: 4px 11px 5px 35px;
background: #fff url(/cmn_web/img/index/ico_serach_001.png) 15px 7px no-repeat;
}
.sideJobInfo a.btnTop03{
width: 62px;
padding: 8px 0 5px;
}
/* job_event */
.job_event li .date_txt{
display: block;
}
.job_event .place_txt{
width: 111px;
margin-bottom: 4px;
padding: 3px 0 2px;
line-height: 1;
display: inline-block;
border: 1px solid #0a50a1;
text-align: center;
font-size: 84.61%;
color: #0a50a1;
float: right;
}
.job_event .head03{
margin-bottom: 9px;
}
.job_event > p{
margin: 0 auto 20px;
}
.job_event > p a img{
margin: 0 auto;
display: block;
}
.job_event .txt_side_title{
width: 100%;
margin: 20px 0 10px;
font-weight: bold;
}
.txt_side_title span{
display: inline-block;
padding: 4px 2.5px 3px;
background: #FF0000;
color: #FFF;
font-size: 11px;
font-weight: normal;
margin-left: 10px;
line-height: 1em;
text-align: center;
position: relative;
}
.job_event ul{
margin-bottom: 10px;
}
.job_event li p a{
line-height: 22px;
display: block;
padding-bottom: 10px;
border-bottom: 1px dotted #e6e6e6;
}
/* sns_account */
.sns_account .head03{
margin-bottom: 13px;
}
.sns_account ul li{
height: 36px;
padding: 0;
margin-bottom: 8px;
border-bottom: 1px dotted #e6e6e6;
}
.sns_account ul li a{
line-height: 1;
display: inline-block;
}
.sns_account ul li a span{
margin-right: 16px;
padding-right: 16px;
display: table-cell;
height: 28px;
vertical-align: middle;
}
/* newJobTable */
.newJobTable{
border: 1px solid #e6e6e6;
padding: 5px;
background: #f2f2f2;
}
.newJobTable table{
border-spacing: 0;
border: 1px solid #ccc;
}
.newJobTable table tr th{
width: 160px;
padding: 0 15px;
text-align: left;
font-size: 115.4%;
border-right: 1px solid #e6e6e6;
border-bottom: 1px solid #ccc;
font-weight: bold;
background: #FFF;
position: relative;
}
.newJobTable table tr.last th{
border-bottom: 0;
}
.newJobTable table tr th:before{
width: 1px;
height: 5px;
content: "";
background: #fff;
position: absolute;
right: -1px;
top: 0;
}
.newJobTable table tr th:after{
width: 1px;
height: 5px;
content: "";
background: #fff;
position: absolute;
right: -1px;
bottom: 0;
}
.newJobTable table tr th .span_number{
font-size: 120%;
font-weight: bold;
line-height: 19px;
color: #ff0000;
}
.newJobTable table tr th span{
color: #000;
font-size: 89%;
font-weight: normal;
}
.newJobTable table tr td{
padding: 14px 16px 11px;
border-bottom: 1px solid #ccc;
background: #fff;
}
.newJobTable table tr.last td{
border-bottom: 0;
}
.newJobTable ul{
padding-bottom: 8px;
border-bottom: 1px solid #e6e6e6;
}
.newJobTable ul li span{
width: 74px;
margin: 1px 10px 8px 0;
padding: 3px 0 2px;
color: #0a50a1;
text-align: center;
line-height: 1;
font-size: 76.92%;
font-weight: normal;
vertical-align: top;
border: 1px solid #0a50a1;
display: inline-block;
}
.newJobTable ul li a{
display: inline-block;
width: 86%;
}
.newJobTable table tr td .alignR{
padding: 12px 0 4px;
}
.newJobTable table .jobFeature{
height: 48px;
}
.newJobTable table .jobFeature td span{
color: #ff0000;
font-size: 100%;
font-weight: bold;
}
/* guideList */
.guideList .list01 li{
border-bottom: 1px dotted #e6e6e6;
}
.guideList .list01 li.first{
padding: 1px 0 1px 0px;
}
.guideList .list01 p{
margin: 0 auto 20px;
}
.guideList .list01 p a img{
margin: 0 auto;
display: block;
}
.guideList .list01 .txt_side_title{
width: 100%;
margin: 20px 0 10px;
font-weight: bold;
}
/* agentService */
.agentService{
padding: 0 15px;
}
.agentService .lh01{
margin-bottom: 15px;
}
/* sideNews */
.sideNews .head03{
margin-bottom: 7px;
padding-bottom: 7px;
}
/* groupService */
.groupService .head03{
margin-bottom: 6px;
}
.groupService .list01 li {
margin-bottom: 3px;
margin-left: 1px;
}
/* attentionKeyword */
.attentionKeyword .head03{
margin-bottom: 8px;
}
/* corporationNotice */
.corporationNotice .head03{
margin-bottom: 6px;
}
.corporationNotice .list01 li.first{
padding-bottom: 7px;
border-bottom: 1px dotted #e6e6e6;
}
/* txt_area */
.txt_area p{
margin-bottom: 17px;
}
/* その他のサービス */
.serviceBlock {
	padding: 0 15px;
	border: 1px #e6e6e6 solid;
	background: #f2f2f2;
}
.subTitle {
font-size: 115.4%;
color: #000;
font-weight: bold;
line-height: 1;
margin: 16px 2px 12px;
}
.serviceBlock .layout + .layout .subTitle {
	margin-top: 20px;
}
.serviceBox {
margin-bottom: 10px;
}
.serviceBox .left,
.serviceBox .right{
background: #fff;
padding: 16px 17px;
width: 49%;
box-sizing: border-box;
border-bottom: 2px #e0e0e0 solid;
}
.serviceBox .left{
margin-right: 16px;
}
.serviceBox .left .txtTitle,
.serviceBox .right .txtTitle{
margin-bottom: 12px;
display: inline-block;
}
.serviceBox .left .txtTitle a,
.serviceBox .right .txtTitle a{
font-size: 115.4%;
color: #0a50a1;
font-weight: bold;
display: inline-block;
}
/* service_wrap */
.service_wrap .head02{
margin-bottom: 17px;
}
.service_wrap .txt_area p{
margin-bottom: 15px;
}
.service_wrap .bnr_area .left{
margin-right: 20px;
}
.service_wrap .bnr_area .right{
float: left!important;
width: 77.2%;
padding: 17px 0 20px 0px;
}
.service_wrap .bnr_area .right .txt_title{
margin-bottom: 3px;
}
.service_wrap .bnr_area .right .txt_title a{
font-size: 115.4%;
color: #0a50a1;
font-weight: bold;
display: inline-block;
}
.service_wrap .bnr_area.bnr_02 .right{
padding: 0;
}
/* エージェントサービス */
.agentFlow .head02{
margin-bottom: 17px;
}
.txt_area .left{
width: 630px;
margin-right: 20px;
margin-bottom: 30px;
}
.txt_area .left p{
margin-bottom: 20px;
}
.txt_area .right{
width: 230px;
padding: 0;
}
.txt_area .merit{
padding: 9px 10px 8px;
background: #f2f2f2;
}
.txt_area .merit p{
font-size: 76.92%;
line-height: 17px;
margin: 0 6px 0 0;
padding: 0 9px;
font-weight: bold;
color: #FFF;
background: #686868;
display: inline-block;
}
.txt_area .merit .left{
width: auto;
margin: 0;
display: inline-block;
}
.txt_area .merit .right{
width: auto;
float: left!important;
}
.txt_area .merit ul{
display: block;
}
.txt_area .merit ul li{
margin: 3px 0;
padding: 0 10px;
border-right: 1px solid #cacaca;
border-left: 1px solid #8f8f8f;
line-height: 1;
display: block;
float: left;
}
.txt_area .merit ul li.first{
border-left: 0;
}
.txt_area .merit ul li.last{
border-right: 0;
}
.txt_area .flow p{
margin-bottom: 2px;
}
.counseling{
margin-top: 20px;
margin-bottom: 8px;
}
.counseling .left{
width: 234px;
padding: 12px 17px 9px;
margin: 0;
background: #ebecf8;
}
.counseling .left p{
margin-bottom: 0;
line-height: 1;
}
.counseling .right{
width: 607px;
padding: 5px 0;
border: 2px solid #ebecf8;
float: left!important;
}
.counseling .right li{
margin-left: 13px;
float: left!important;
}
.counseling .right li.first{
margin-left: 17px;
}
.agentFlow .subTxt{
text-align: right;
}
.agentFlow .lh01{
margin-bottom: 0;
}
/* トップページお知らせ */
ul.topNotice li:after{
content: "";
display: block;
clear: both;
overflow: hidden;
}
ul.topNotice li span{
display: inline-block;
padding: 4px 0px 3px;
width: 60px;
background: #FF0000;
color: #FFF;
font-size: 11px;
font-weight: normal;
line-height: 1em;
text-align: center;
position: relative;
margin-right: 10px;
vertical-align: top;
top:3px;
}
ul.topNotice li p{
display: inline-block;
width: 1130px;
float: right;
clear: both;
}
ul.topNotice li p a{
width: auto;
display: inline;
float: none;
clear: none;
}
ul.topNotice li a{
display: inline-block;
width: 1130px;
float: right;
clear: both;
}



