
@charset "utf-8";

/*==================================================
	Base Layout
	Header Area
	Global Navigation
	Main Visual
	Contents Area
	Main Area
	Aside Area
	Footer Area
==================================================*/

/*--------------------------------------------------
	Base Layout
--------------------------------------------------*/
#wrapper{
width: 100%;
margin: 0 auto;
}
/*--------------------------------------------------
	Header Area
--------------------------------------------------*/
#header{
width: 100%;
margin: 0 auto;
}
.withoutBreadcrumb #header{
margin: 0 auto 30px;
}
/* 1200pxヘッダー */
.header1200{
width: 1200px;
margin: 0 auto;
}
.header1200 .headerInr{
height: 90px;
}
.header1200 .headrLeft{
width: 745px;
float: left;
}
.headerInr .headerLogo {
padding: 30px 0 0 1px;
display: table-cell;
}
.headerInr .shoulder{
font-size: 92.31%;
font-weight: normal;
line-height: 1em;
padding: 0 0 0 16px;
/* height: 90px; */
display: table-cell;
vertical-align: bottom;
}
.headerInr .headerRight{
/* width: 330px; */
width: 435px;
float: right;
}

.headerInr .functions{
padding: 20px 0 0 0;
text-align: right;
margin-bottom: 9px;
height: 24px;
width: 435px;
}
.headerInr .functions:after{
display: none !important;
}
.cmsButton{
height: 24px
}
/* .registButton{
text-align: right;
}
.registButton span{
display: inline-block;
margin: 0 0 0 6px;
} */
.registButton.functions li,
.headerInr .functions li{
display: inline-block;
display: table-cell;
/* padding: 0 0 0 10px; */
}
.headerInr .functions li.nonregistered{
padding-left: 217px;
}
.registButton.functions li,
.headerInr .functions li{
/* padding-right: 10px;
width: 92px; */
}
.registButton.functions li:last-of-type,
.registButton.functions li.last,
.headerInr .functions li:last-of-type,
.headerInr .functions li.last{
padding-left: 10px;
}
.registButton.functions li.loginName,
.headerInr .functions li.loginName{
font-size: 84.61%;
display: table-cell !important;
width: 243px !important;
height: 24px;
padding-right: 10px;
vertical-align: middle;
line-height: 12px;
text-align: right;
}
.registButton.functions li.btnSetting,
.headerInr .functions li.btnSetting{
display: table-cell;
margin: 0 !important;
padding: 0 !important;
}
.registButton.functions li.registButtonReg{
padding-left: 217px;
}
.logoutButton{
text-align: right;
}
.headerInr .utility{
text-align: right;
}
.utility li{
font-size: 92.30%;
display: inline-block;
margin-left: 16px;
}

/*転職：DODAトップへ*/
.utility li.dodatop {
margin-right: 48px;
}

.header1024{
border-bottom: solid 1px #dedede;
}
.header1024 .headerInr{
width: 1024px;
margin: 0 auto;
height: 79px;
}
.header1024 .headerInr .headerLogo {
padding-top: 19px;
}
.header1024 .headerInr .shoulder {
padding-top: 45px;
}

.headerRwd1024{
border-bottom: solid 1px #dedede;
}
.headerRwd1024 .headerInr{
width: 1024px;
margin: 0 auto;
height: 79px;
}
.headerRwd1024 .headerInr .headerLogo {
padding-top: 19px;
}
.headerRwd1024 .headerInr .shoulder {
padding-top: 45px;
}
.leftFrame{
float: left;
}
.rightFrame{
float: right;
}
@media only screen and (max-width:639px){
	.headerRwd1024 .headerInr{
	width: 100%;
	}
}

/*グロナビなし場合の下線*/
.headerBorder {
border-bottom: solid 1px #cccccc;
}



/*--------------------------------------------------
    CMS Parts
--------------------------------------------------*/
.cmsButton{
height: 24px
}

/*--------------------------------------------------
	Global Navigation／Default／five／six
--------------------------------------------------*/
.gnav .gnavParent,
.gnav.five .gnavParent,
.gnav.six .gnavParent{
float: left;
font-size: 123.07%;
text-align: center;
position: relative;
padding: 16px 0 14px;
cursor: pointer;
z-index: 2000;
}
.gnav .gnavParent:hover:after,
.gnav .gnavParent.current:after,
.gnav.five .gnavParent:hover:after,
.gnav.five .gnavParent.current:after,
.gnav.six .gnavParent:hover:after,
.gnav.six .gnavParent.current:after{
content:' ';
height: 10px;
width: 100%;
z-index: 50;
position: absolute;
left: 0;
bottom: 0;
background: url(/cmn_web/img/index/bg_nav_001.png) 50% bottom no-repeat;
}
.gnav .gnavParent.gnav01,
.gnav .gnavParent.gnav02,
.gnav .gnavParent.gnav03,
.gnav.five .gnavParent.gnav01,
.gnav.five .gnavParent.gnav02,
.gnav.five .gnavParent.gnav03,
.gnav.six .gnavParent.gnav01,
.gnav.six .gnavParent.gnav02,
.gnav.six .gnavParent.gnav03,
.gnav.six .gnavParent.gnav04{
color: #fff;
line-height: 1em;
margin-right: 1px;
background:#101177;
}
.gnav .gnavParent.gnav01:hover,
.gnav .gnavParent.current.gnav01,
.gnav .gnavParent.gnav02:hover,
.gnav .gnavParent.current.gnav02,
.gnav .gnavParent.gnav03:hover,
.gnav .gnavParent.current.gnav03,
.gnav.five .gnavParent.gnav01:hover,
.gnav.five .gnavParent.current.gnav01,
.gnav.five .gnavParent.gnav02:hover,
.gnav.five .gnavParent.current.gnav02,
.gnav.five .gnavParent.gnav03:hover,
.gnav.five .gnavParent.current.gnav03,
.gnav.five .gnavParent.gnav01:hover,
.gnav.six .gnavParent.current.gnav01,
.gnav.six .gnavParent.gnav02:hover,
.gnav.six .gnavParent.current.gnav02,
.gnav.six .gnavParent.gnav03:hover,
.gnav.six .gnavParent.current.gnav03,
.gnav.six .gnavParent.gnav04:hover,
.gnav.six .gnavParent.current.gnav04{
color: #a6a6c3;
}

.gnav .gnavParent.gnav01{ width: 240px; }
.gnav.six .gnavParent.gnav01{ width: 200px; }
.gnav .gnavParent.gnav02,
.gnav.five .gnavParent.gnav01,
.gnav.five .gnavParent.gnav02{ width: 239px; }
.gnav .gnavParent.gnav03,
.gnav.five .gnavParent.gnav03{ width: 239px; }
.gnav.six .gnavParent.gnav02,
.gnav.six .gnavParent.gnav03,
.gnav.six .gnavParent.gnav04{ width: 199px; }
.gnav .gnavParent.gnav04,
.gnav .gnavParent.gnav05,
.gnav .gnavParent.gnav06{
color: #101177;
line-height: 1em;
margin-right: 1px;
background:#ebebf8;
width: 159px;
}

.gnav.five .gnavParent.gnav04,
.gnav.five .gnavParent.gnav05{
color: #101177;
line-height: 1em;
margin-right: 1px;
background:#ebebf8;
width: 239px;
}

.gnav.six .gnavParent.gnav05,
.gnav.six .gnavParent.gnav06{
color: #101177;
line-height: 1em;
margin-right: 1px;
background:#ebebf8;
width: 199px;
}

.gnav .gnavParent.gnav06.last,
.gnav.five .gnavParent.gnav05.last,
.gnav.six .gnavParent.gnav05.last{
margin-right: 0;
}
.gnav .gnavParent.gnav04:hover,
.gnav .gnavParent.current.gnav04,
.gnav .gnavParent.gnav05:hover,
.gnav .gnavParent.current.gnav05,
.gnav .gnavParent.gnav06:hover,
.gnav .gnavParent.current.gnav06,
.gnav.five .gnavParent.gnav04:hover,
.gnav.five .gnavParent.current.gnav04,
.gnav.five .gnavParent.gnav05:hover,
.gnav.five .gnavParent.current.gnav05,
.gnav.six .gnavParent.gnav05:hover,
.gnav.six .gnavParent.current.gnav05,
.gnav.six .gnavParent.gnav06:hover,
.gnav.six .gnavParent.current.gnav06,{
color: #575796;
}
.gnav .megaNav,
.gnav.five .megaNav,
.gnav.six .megaNav{
display: none;
position: absolute;
background: #fff;
top: 46px;
left: -1px;
width: 100%;
border: solid 1px #cccccc;
border-top: none;
border-bottom: solid 2px #cccccc;
padding: 0 0 1px;
}
.gnav .gnavParent.gnav01 .megaNav,
.gnav.five .gnavParent.gnav01 .megaNav{
width: 239px;
left: 0;
}

.gnav.six .gnavParent.gnav01 .megaNav{
width: 200px;
left: 0;
}
.gnav .megaNav li,
.gnav.five .megaNav li,
.gnav.six .megaNav li{
margin-top: 1px;
}

.gnav .megaNav li.link a,
.gnav.five .megaNav li.link a,
.gnav.six .megaNav li.link a{
display: block;
padding: 12px 20px 11px 24px;
font-size: 81.25%;
text-align: left;
}
.gnav .megaNav li.link a:hover,
.gnav.five .megaNav li.link a:hover,
.gnav.six .megaNav li.link a:hover{
background: #ebebf8;
color: #101177;
text-decoration: none;
}
.gnav .megaNav li.head,
.gnav.five .megaNav li.head,
.gnav.six .megaNav li.head{
padding: 22px 0 10px 10px;
color: #222222;
font-size: 93.75%;
font-weight: bold;
text-align: left;
}







/*--------------------------------------------------
	BreadCrumb
--------------------------------------------------*/
.breadCrumb{
width: 100%;
font-size: 92.31%;
line-height: 1em;
margin: 15px 0 20px 0;
}
.breadCrumb li{
float: left;
}

/*--------------------------------------------------
	Contents Area
--------------------------------------------------*/
#content{
width: 100%;
margin: 0 auto;
}
.content1200{
width: 1200px;
margin: 0 auto;
}
.content1024{
width: 1024px;
margin: 0 auto;
}
.contentRwd1024{
width: 1024px;
margin: 0 auto;
}
.txt_r{
text-align: right;
}
.chk_btn{
margin-bottom: 5px;
}
@media only screen and (max-width:639px){
	.contentRwd1024{
	width: 100%;
	margin: 0 auto;
	}
}
.content600{
width: 600px;
margin: 0 auto;
}
/*--------------------------------------------------
	Main Area
--------------------------------------------------*/
.mainLeft{
width: 880px;
float: left;
}
.mainRight{
width: 880px;
float: right;
}
.mainRight.mainRight02 {
width: 840px;
}
.main1024{
width: 1024px;
margin: 0 auto;
}
.main1200{
width: 1200px;
margin: 0 auto;
}
.mainRwd1024{
width: 1024px;
margin: 0 auto;
}
@media only screen and (max-width:639px){
	.mainRwd1024{
	width: 100%;
	margin: 0 auto;
	}
}
/*--------------------------------------------------
	Aside Area
--------------------------------------------------*/
.asideLeft{
width: 288px;
float: left;
position: relative;
}
.asideLeft.fix{
/*
-webkit-transition-property: top;
-webkit-transition-duration: 0.2s;
-webkit-transition-timing-function: linear;
transition-property: top;
transition-duration: 0.2s;
transition-timing-function: linear;
*/
}
.asideLeft.fix.open{
margin-top:70px;
}
.asideRight{
width: 288px;
float: right;
}
/*アサイドのメニュー*/
.layoutAside01{
margin-bottom: 24px;
}
.layoutAside02{
border: solid 1px #e6e6e6;
padding: 17px;
}
/*ここから新デザインのメニュー*/
.asideMunu01 li {
border-bottom: solid 1px #e6e6e6;
padding-bottom: 9px;
margin-bottom: 16px;
}
.asideMunu01 li:last-of-type,
.asideMunu02 li:last-of-type{
border-bottom: none !important;
margin-bottom: 0 !important;
}
.asideMunu01 li.last,
.asideMunu02 li.last{
border-bottom: none !important;
margin-bottom: 0 !important;
}
.asideMunu01 li dd a{
display: block;
line-height: 1em;
padding: 10px 16px 10px 18px;
margin-bottom: 1px;
position: relative;
}
.asideMunu01 li dd a.current {
background: #101177;
color: #FFF;
font-weight: bold;
}
.asideMunu01 li dd div.currentDiv {
background: #101177;
color: #FFF;
font-weight: bold;
height: 27px;
width: 273px;
padding-top: 5px;
padding-left: 16px;
}
.asideMunu01 li dd a.current:hover {
background: #101177;
}
.asideMunu01 li dd a:hover{
background: #ebebf8;
text-decoration: none;
}
.asideMunu01 li dd a span.left{
float: left;
}
.asideMunu01 li dd a span.right{
float: right;
color: #ff0000;
font-weight: bold;
font-size: 115.38%
}
.asideMunu01 li dd a.current span.right {
display: none;
}
.personalizeAreaBox .asideMunu01 li {
border-bottom: none;
padding-bottom: 9px;
margin-bottom: 10px;
}
.asideMunu02 li{
border-bottom: solid 1px #e6e6e6;
margin-bottom: 20px;
}
.asideMunu02 li dd a{
display: block;
line-height: 1em;
height: 1em;
margin-bottom: 15px;
}
.asideMunu02 li dd a:hover{
text-decoration: underline;
}
.asideMunu02 li dd a:hover span.left{
text-decoration: underline;
}
.asideMunu02 li dd a .left{
float: left;
}
.asideMunu02 li dd a .left:hover {
color: #101177;
text-decoration: underline;
}
.asideMunu02 li dd a .right{
float: right;
color: #ff0000;
font-weight: bold;
font-size: 115.38%
}
.content600{
width: 600px;
margin: 0 auto;
}
/*ここまで新デザインのメニュー*/
/*
.asideMunu01 li , .asideMunu02 li{
border-bottom: solid 1px #e6e6e6;
margin-bottom: 16px;
}
.asideMunu01 li.last , .asideMunu02 li.last,
.asideMunu01 li:last-of-type , .asideMunu02 li:last-of-type{
border-bottom: none;
margin-bottom: 0;
}
.asideMunu01 li dd, .asideMunu02 li dd{
padding: 8px 0;
border-radius: 2px;
}
.asideMunu01 li dd{
padding-left: 18px;
}
.asideMunu01 li dd.current{
background: #ebebf8;
}
.asideMunu01 li dd.current a{
font-weight: bold;
}
.asideMunu01 li dd p.left, .asideMunu02 li dd p.left{
width: 162px;
display: table-cell;
}
.asideMunu01 li dd p.right, .asideMunu02 li dd p.right{
width: 92px;
display: table-cell;
text-align: right;
vertical-align: middle;
font-size: 92.23%;
}
.asideMunu01 li dd p.right{
padding-right: 16px;
}
.asideMunu01 li dd p.right span, .asideMunu02 li dd p.right span{
font-size: 150%;
font-weight: bold;
color: #ff0000;
}
*/
/*求人検索結果一覧*/
.layoutAside03{
margin-bottom: 30px;
}
.layoutAside03 .selection{
padding-left: 18px;
margin: -3px 0 10px;
}
.layoutAside03 .num{
font-size: 76.92%;
color: #808080;
font-weight: normal !important;
}
.layoutAside03 .division{
height: 1px;
border: none;
border-top: 1px #e6e6e6 solid;
margin: 20px 0 15px;
}
.layoutAside03 .inner{
padding: 0 16px;
}
.layoutAside03 .inner .selectLabel{
display: inline-block;
margin-left: 10px;
}
.layoutAside03 .searchAco .trigger{
line-height: 36px;
font-size: 115.38% !important;
background: #f2f2f2;
border-top: solid 1px #e6e6e6;
border-bottom: solid 1px #e6e6e6;
padding-left: 16px;
cursor: pointer;
position: relative;
}
.layoutAside03 .searchAco.close .trigger{
border-bottom: none;
}
.layoutAside03 .searchAco.open .trigger:after{
content: '';
width: 36px;
height: 36px;
position: absolute;
right: 0;
top: 0;
background: #f2f2f2 url(/cmn_web/img/index/sprite_001.png) -100px -50px  no-repeat;
}
.layoutAside03 .searchAco.close .trigger:after{
content: '';
width: 36px;
height: 36px;
position: absolute;
right: 0;
top: 0;
background: #f2f2f2 url(/cmn_web/img/index/sprite_001.png) -100px 0px no-repeat;
border-bottom:none;
}
.layoutAside03 .searchAco.open .trigger:hover:after{
content: '';
width: 36px;
height: 36px;
position: absolute;
right: 0;
top: 0;
background: #f2f2f2 url(/cmn_web/img/index/sprite_001.png) -100px -50px no-repeat;
}
.layoutAside03 .searchAco.close .trigger:hover:after{
content: '';
width: 36px;
height: 36px;
position: absolute;
right: 0;
top: 0;
background: #f2f2f2 url(/cmn_web/img/index/sprite_001.png) -100px -114px no-repeat;
border-bottom:none;
}
.layoutAside03 .searchAco .content{
padding: 9px 0 8px;
}
.layoutAside03 .searchAco.close .content{
display: none;
}
.layoutAside03 .searchAco .content.last{
border-bottom: solid 1px #d9d9d9;
}
.searchBtnFix.posFix{
background: url(/cmn_web/img/index/bg_side_002.png) no-repeat;
padding: 30px 32px;
width: 224px;
}
.layoutAside.asideBottom{
position: fixed;
left: 0;
bottom:0;
margin-bottom: 0;
z-index: 300;
display: none;
}
.searchBtnFix.posFix .btn{
display: block;
background: url(/cmn_web/img/index/bg_side_001.png) no-repeat;
width: 15px;
padding: 10px 17px 0;
height: 12px;
position: absolute;
right: -1px;
top: -22px;
overflow: hidden;
cursor: pointer;
}
.searchBtnFix.posFix .btn span{
position: relative;
display: block;
width: 15px;
height: 12px;
overflow: hidden;
}
.searchBtnFix.posFix .btn img{
position: relative;
left: -500px;
top: 0px;
}
.searchBtnFix.posFix .btn:hover img{
left: -500px;
top: -25px;
}
.asideBottom.close .searchBtnFix.posFix .btn img{
left: -500px;
top: -50px;
}
.asideBottom.close .searchBtnFix.posFix .btn:hover img{
left: -500px;
top: -75px;
}
.searchBtnFix .numbers{
text-align: center;
margin: -3px 0 6px;
}
.searchBtnFix.posFix .numbers{
color: #fff !important;
}
.searchBtnFix .numbers .number{
font-size: 184.61%;
color: #ff0000;
font-weight: bold;
}
.searchBtnFix.posFix .numbers .number{
color: #fff !important;
}
.layoutAsideCond{
background: #f7f7f7;
padding: 16px;
border: solid 2px #e6e6e6;
}
.layoutAsideCond h5{
font-size: 123.07%;
margin-bottom: 20px;
}
.layoutAsideCond .condition{
margin: -3px 0 8px;
}
.layoutAsideCond .button{
padding-left: 14px;
}

.inputSerchWord01{
width: 158px;
}
/* サイドカラム基本 */
.layoutAside{
margin-bottom: 32px;
}

/* トップページバナー */
.listAsideBnr li{
margin-bottom: 20px;
text-align: center;
}
.listAsideBnr li.last,
.listAsideBnr li:last-of-type{
margin-bottom: 0px;
}
/* トップページイベント情報 */
.listTopEvent{
margin-bottom: 20px;
}
.listTopEvent li{
line-height: 1em;
margin-bottom: 16px;
}
.listTopEvent li.last,
.listTopEvent li:last-of-type{
margin-bottom: 0px;
}
.listTopEvent li a:hover .title,
.listTopEvent li a:hover .date{
text-decoration: underline;
}
.listTopEvent li .date{
display: inline-block;
width: 96px;
}
.listTopEvent li .title{
display: inline-block;
}
/* トップページサイドデータ定義リスト */
.listTopAside01 dt{
font-weight: bold;
margin-bottom: 3px;
}
.listTopAside01 dd{
padding-bottom: 12px;
border-bottom: solid 1px #e6e6e6;
margin-bottom: 13px;
}
.listTopAside01 dd.last,
.listTopAside01 dd:last-of-type{
padding-bottom: 0;
border-bottom: none;
margin-bottom: 0;
}
.fixMenu{
background: #fff;
width: 288px;
}
.fixMenu.fixed{
position: fixed;
}
.fixMenuB.fixed{
position: fixed !important;
}
/*--------------------------------------------------
	Footer Area
--------------------------------------------------*/
#footer{
width: 100%;
margin: 50px auto 0;
}
#footer.footerSimple{
border-top: 1px solid #dedede;
}
#footer a {
color:#666666;
}
#footer a:hover{
color:#333333;
}
.footer1200{
width: 1200px;
margin: 0 auto;
}
.footUpper{
padding: 16px;
background: #f7f7f7;
border : solid 1px #f2f2f2;
padding-bottom: 13px;
}
.footUpper .intro{
color: #333333;
line-height: 1em;
margin-bottom: 20px;
font-size: 84.61%;
}
.footUpperRight .intro{
padding-top: 31px;
margin-bottom: 9px;
}
.footUpperRight .notice{
color:#666666;
font-size: 84.61%;
margin-top: 8px;
}

.footUpperLeft{ width: 846px; float: left;}
.footUpperLeftAll{ width: 100%;}
.footUpperRight{ width: 320px; float: right;}

.footUpper .box01{ width: 192px; float: left; }
.footUpper .box02{ width: 159px; float: left; }
.footUpper .box03{ width: 177px; float: left; }
.footUpper .box04{ width: 144px; float: left; }
.footUpper .box05{ width: 174px; float: left; }
.footUpper .box06{ width: 320px; float: left; }
.footer1024 .footUpper .box06{ width: 288px; float: left; }
.footUpper .box07{ width: 176px; float: left; }
.footUpper .box08{ width: 160px; float: left; }
.footLink{
font-size: 84.61%;
line-height: 1.91em;
}
.footLink dt {
font-weight: bold;
color: #333333;
margin-bottom: 16px;
line-height: 1em;
}
.footerUpperUnder{
clear:both;
border-top: solid 1px #e6e6e6;
margin-top: 3px;
padding-top: 10px;
}
.snsBox{
clear: both;
}
.snsBox .txt{
float: left;
font-size: 84.61%;
line-height: 20px;
margin-right: 10px;
color: #333333;
}
.snsBox .btns{
float: left;
}
.snsBox .btns li{
float: left;
margin-right: 10px;
width: 17px;
}
.snsBox .btns li a{
display: inline-block;
width: 17px;
height: 17px;
position: relative;
overflow: hidden;
}
.snsBox .btns li a img.tw{
position: absolute;
left: -300px;
top: -250px;
}
.snsBox .btns li a img.fb{
position: absolute;
left: -350px;
top: -250px;
}
.snsBox .btns li a img.hb{
position: absolute;
left: -400px;
top: -250px;
}
.footUtility {
font-size: 84.61%;
line-height: 20px;
}
.footSec{
font-size: 92.30%;
line-height: 32px;
}
.footThird{
border-bottom: solid 1px #dedede;
padding: 10px 0 5px;
}
.footFour{
padding: 5px 0 6px;
border-bottom: solid 1px #dedede;
font-size: 84.61%;
line-height: 1.91em;
}
.mr19{
margin-right: 14px;
}
.footFour p{
color: #4c4c4c;
}
.footFour .groupLink li{
float: left;
}
.footFour .groupLink li:after{
content:'｜';
}
.footFour .groupLink li.last:after,
.footFour .groupLink li:last-of-type:after{
display: none;
}
.footer1024{
width: 1024px;
margin: 0 auto;
}
.footerUnder{
height: 74px;
border-top: 1px solid #dedede;
position: relative;
}
#footer.footerSimple .footerUnder{
border-top: none;
}
.footerUnder .pmark{
width: 55px;
height: 54px;
position: absolute;
left: 0;
top: 9px;
overflow: hidden;
}
.footerUnder .pmark img{
position: absolute;
left: -650px;
top: -200px;
}
.footerUnder .pmark02{
width: 289px;
height: 12px;
position: absolute;
left: 69px;
top: 21px;
overflow: hidden;
}
.footerUnder .pmark02 img{
position: absolute;
left: -450px;
top: -300px;
}
.footerUnder .pmark03{
width: 289px;
height: 12px;
position: absolute;
left: 70px;
top: 39px;
}

.footerUnder .pmark03 a{
font-size: 84.61%;
line-height: 1em;
color:#0a50a1 !important;
}
.footerUnder .logo{
width: 106px;
height: 36px;
position: absolute;
right: 0px;
top:18px;
overflow: hidden;
}
.footerUnder .logo img{
position: absolute;
left: -300px;
top: -300px;
}
.footerUnder .copy{
font-size: 84.61%;
color:#4c4c4c;
width: 200px;
height: 10px;
text-align: right;
position: absolute;
right: 116px;
top: 38px;
}
#footerFormTxt{
width: 298px;
height: 67px;
margin-bottom: 10px;
font-size: 84.61%;
padding: 10px;
line-height: 1.28em;
}
#footerFormTxt.initial{
color:#999999;
}
.btnToTop{
overflow: hidden;
width: 64px;
height: 64px;
position: fixed;
right:32px;
bottom: 32px;
}
.btnToTop{
opacity: 0;
-webkit-transition-property: opacity;
-webkit-transition-duration: 0.2s;
-webkit-transition-timing-function: linear;
transition-property: opacity;
transition-duration: 0.2s;
transition-timing-function: linear;
}
.btnToTop.open{
opacity: 1;
}
.btnToTop a img{
position: relative;
top: 0;
left: 0px;
}
.btnToTop:hover a img{
position: relative;
top: -106px;
left: -0px;
}
.footName{
width: 159px;
height: 16px;
position: relative;
overflow: hidden;
}
.footName img{
position: absolute;
left: -450px;
top: -250px;
}

/*--------------------------------------------------
	ScrollHeader
--------------------------------------------------*/

.btnList.btnList37{
padding-top: 20px;
}

.blockBox01 {
}
.blockBox01 .blkUl ul.listBlk {
width: 100%;
}
.blockBox01 .blkUl ul.listBlk li {
height: 68px;
position: relative;
}
.blockBox01 .blkUl ul.listBlk li span.blk_l {
  width: 526px;
  margin: 0;
  padding: 14px 0 10px;
  display: block;
  float: left;
}
.blockBox01 .blkUl ul.listBlk li span.blk_l span.blkTitle {
  font-weight: bold;
  padding-bottom: 4px;
  display: inline-block;
}
.blockBox01 .blkUl ul.listBlk li span.blk_r {
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  bottom: 26px;
  right: 20px;
  float: left;
  overflow: hidden;
}
.blockBox01 .blkUl ul.listBlk li span.blk_r img {
  position: absolute;
  left: -450px;
  top: -100px;
}
.blockBox01 .blkUl ul.listBlk li span.blk_r img:hover {
cursor: pointer;
margin: 0;
left: -450px;
top:-114px;
}

.noScrollArea {
width: 752px;
border: solid 1px #e6e6e6;
margin-bottom: 20px;
box-sizing: border-box;
padding: 15px;
}
.modalCompany {
display: block;
font-weight: bold;
}

.modalAlert02 {
width: 752px;
margin-bottom: 10px;
background: #f2f2f2;
padding: 5px 0;
}
.modal.currentSearch .modalAlert02 p {
line-height: 30px;
margin-left: 17px;
margin-bottom: 0;
padding-left: 20px;
position: relative;
}
.modal.currentSearch .modalAlert02 p:after {
content: '';
display: block;
position: absolute;
left: 0;
top: 8px;
width: 14px;
height: 14px;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat -350px -200px;;
}
.scrollAreaBorder {
border: solid 1px #e6e6e6;
box-sizing: border-box;
}
.scrollArea.currentSearch02 {
height: 459px;
margin-bottom: 20px;
}
.listCons01 li {
padding: 15px;
border-bottom: solid 1px #e6e6e6;
width: 100%;
}
.listCons01 li.last,.listCons01 li:last-of-type {
border-bottom: none;
}
.deleteConfLead .numbers{
float: right;
}
.deleteConfLead .numbers .number{
font-weight: bold;
font-size: 138.46% !important;
color: #ff0000;
margin-left: 5px;
}

.scrollHead{
width: 100%;
border-bottom: solid 1px #cccccc;
height: 59px;
position: fixed;
top:-60px;
left: 0;
background: #fff;
-webkit-transition-property: top;
-webkit-transition-duration: 0.2s;
-webkit-transition-timing-function: linear;
transition-property: top;
transition-duration: 0.2s;
transition-timing-function: linear;
z-index: 7000;
}
.scrollHead.open{
top:0px;
}

.scrollHeadInr.type01,
.scrollHeadInr.type02{
width: 1200px;
background: #fff;
height: 59px;
margin: 0 auto;
position: relative;
}
.scrollHeadInr.type01 .left { width: 320px; float:left;}
.scrollHeadInr.type01 .right{ width: 880px; float:left;}
.scrollHeadInr.type02 .left { width: 500px; float:left;}
.scrollHeadInr.type02 .right{ width: 700px; float:left;}
.scrollHeadInr.type03 .left { width: 560px; float:left;}
.scrollHeadInr.type03.scrollHeadInrJob .left { width: 546px; float:left; overflow: hidden;}
.scrollHeadInr.type03 .right{ width: 464px; float:right;}
.scrollHeadInr .logo{
padding: 19px 0 0 1px;
float: left;
margin-right: 30px;
}
.scrollHeadInr .numbers{
width: 210px;
line-height: 1em;
padding-top: 24px;
}
.scrollHeadInr .numbers.sclC2{
width: 500px;
}
.scrollHeadInr .numbers .number{
color: #ff0000;
font-weight: bold;
font-size: 138.46% !important;
}
.scrollHeadInr .left .numbers{
float: left;
}
.scrollHeadInr .left.sclC2 {
width: 575px;
}
.scrollHeadInr .left.sclC2 .numbers {
width: 300px;
}
.scrollHeadInr .right .numbers{
float: right;
text-align: right;
}
.scrollHeadInr .right.sclC2 {
width: 624px;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight {
float: right;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li {
width: 157px;
font-weight: bold;
float: left;
text-align: center;
z-index: 9995;
position: relative;
margin-right: -1px;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li.active{
z-index: 9996;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li.last,
.scrollHeadInr .right.sclC2 ul.listFullHeight li:last-of-type{
width: 156px;
margin-right: 0;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a{
width: 157px;
height: 56px;
padding: 3px 17px 0 0;
color: #000000;
display: table-cell;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 131px -272px;
vertical-align: middle;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a:hover {
width: 155px;
height: 56px;
border-right: 1px solid #ebecf8;
border-left: 1px solid #ebecf8;
border-bottom: 1px solid #cccccc;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 130px -272px #ebecf8;
text-decoration: none;
display: table-cell;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a.active {
width: 155px;
height: 57px;
border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-bottom: 1px solid #f7f7f7 !important;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 130px -322px #f7f7f7 !important;
text-decoration: none;
}

.scrollHeadInr .right.sclC2 ul.listFullHeight li a.scl01 {
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 117px -272px;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a.scl01:hover {
width: 155px;
border-bottom: none;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 116px -272px #ebecf8;
text-decoration: none;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a.scl01.active {
width: 155px;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 116px -322px #f7f7f7 !important;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a.scl03 {
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 111px -272px;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a.scl03:hover {
width: 155px;
border-bottom: none;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 110px -272px #ebecf8;
text-decoration: none;
}
.scrollHeadInr .right.sclC2 ul.listFullHeight li a.scl03.active {
width: 155px;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat 110px -322px #f7f7f7 !important;
}
.scrollHeadInr .paging{
padding-top: 26px;
line-height: 1em;
}
.scrollHeadInr .right{
height: 30px;
padding-top: 15px;
}
.scrollHeadInr.type03 .right{
height: 59px;
padding-top: 0;
}
.scrollHeadInr .right.typeFullHeigt{
height: 0;
padding-top: 0;
}
.scrollHeadInr .right.sclC2.typeFullHeigt {
height: 60px;
padding: none;
float: right;
}
.scrollHeadInr.type03{
width: 1024px;
background: #fff;
height: 59px;
margin: 0 auto;
}
.scrollHeadInr .jobCompany{
font-size: 107.69%;
font-weight: bold;
line-height: 1em;
padding-top: 12px;
margin-bottom: 12px;	
height: 14px;
overflow: hidden;
}
.scrollHeadInr .jobTitle{
line-height: 1em;
height: 13px;
overflow: hidden;
}
.btnList.btnList36{
padding-top: 12px;
}
.btnList.btnList30{
padding-top: 15px;
}
.scrollHeadInrJob .btnList.btnList30{
padding-top: 12px;
}
.btnList li{
float: right;
margin-left: 8px;
}
.btnList li.last,
.btnList li:last-of-type{
margin-left: 0;
}
/* .scrollHeadInr .allPrint{
margin-right: 17px;
} */

.hstBtnWrapMain ul{
margin-top: 19px;
text-align: center;
}
.hstBtnWrapMain ul li{
display: inline-block;
margin: 0 8px;
}
.hstDeleteInr .hstBtnWrap ul{
text-align: center;
}
.hstDeleteInr .hstBtnWrap ul li{
display: inline-block;
margin: 0 8px;
}

.historyBox01 {
width: 590px;
padding: 16px;
border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
background: #f7f7f7;
position: absolute;
top: 60px;
left: 576px;
display: none;
z-index: 9998;
}
.historyBox01 .hstUl ul.listHst {
width: 588px;
border: 1px solid #cccccc;
background: #ffffff;
}
.historyBox01 .hstUl ul.listHst li {
border-bottom: 1px solid #cccccc;
height: 68px;
position: relative;
}
.historyBox01 .hstUl ul.listHst li:hover {
background: #ebecf8;
}
.historyBox01 .hstUl ul.listHst li.last,
.historyBox01 .hstUl.hstDelete ul li {
border: none;
}
.historyBox01 .hstUl ul.listHst li.noneLi {
width: 588px;
border-bottom: none;
display: none;
vertical-align: middle;
text-align: center;
}
.historyBox01 .hstUl ul.listHst li.noneLi:hover {
background: none;
}
.historyBox01 .hstUl ul.listHst li a {
display: block;
}
.historyBox01 .hstUl ul.listHst li a span.hst_l{
width: 526px;
margin: 0;
padding: 14px 16px 10px;
display: block;
float: left;
color: #0a50a1;
}
.historyBox01 .hstUl ul.listHst li a span.hst_l span.hstTitle {
font-weight: bold;
padding-bottom: 4px;
display: inline-block;
}
.historyBox01 .hstUl ul.listHst li span.hst_r {
width: 14px;
height: 14px;
display: block;
position: absolute;
bottom: 26px;
right: 20px;
float: left;
overflow: hidden;
}
.historyBox01 .hstUl ul.listHst li span.hst_r img {
position: absolute;
left: -450px;
top: -100px;
}
.historyBox01 .hstUl ul.listHst li span.hst_r img:hover {
cursor: pointer;
margin: 0;
left: -450px;
top:-114px;
}
.layout.hsBox {
margin: 0;
}

/*----hstDelete----*/
.historyBox01.hstDelete {
padding-bottom: 86px;
}
.historyBox01 .hstUl.hstDelete {
width: 588px;
height: 402px;
border: 1px solid #cccccc;
background: #FFF;
display: none;
}
.historyBox01 .hstUl.hstDelete ul {
width: 420px;
margin: 0 auto;
border: none;
background: #f7f7f7;
}
.historyBox01 .hstUl.hstDelete .hstDeleteInr {
width:  420px;
height: 200px;
margin: 100px auto;
border: 1px solid #cccccc;
background: #f7f7f7;
}
.historyBox01 .hstUl.hstDelete .hstDeleteInr p {
width: 420px;
margin: 57px auto 33px;
text-align: center;
}
/*----recentBox----*/
.historyBox01.recentBox {
padding-bottom: 23px;
}

/*--------------------------------------------------
	ModalWindow
--------------------------------------------------*/
.modal{
width: 942px;
background: #fff;
margin: 0 auto;
position: relative;
border-radius: 3px;
}
.modalDelMes{
width: 782px;
}
.modal iframe{
display: block;
}
.modal .inner01{
height:558px;
padding: 20px 15px;
}
.modal .inner02{
padding: 20px 15px;
}
.modalFarmeInner .inner01,
.modalFarmeInner .inner02{
padding: 15px;
margin: 5px 0;
}
.modal .inner02 .modalCond{
border: solid 3px #e6e6e6;
background: #f7f7f7;
padding: 16px;
margin-bottom: 30px;
}
.modal .inner02 .modalCond p{
color: #3d3d3d;
margin: -3px 0 -4px;
}
.headModal01{
margin-bottom: 20px;
height:16px;
}
.modalDelMes .headModal01{
margin-bottom: 10px;
}
.headModal01 h2{
font-size: 138.46% !important;
line-height: 1em;
float: left;
}
.headModal01 .numbers{
margin-right: 32px;
float: right;
}
.headModal01 .numbers .number{
font-weight: bold;
font-size: 138.46% !important;
color: #ff0000;
}
.headModal02{
border-bottom: solid 1px #e6e6e6;
background: #101177;
}
.headModal02 h3{
color: #fff;
font-size: 123.07% !important;
line-height: 1em;
padding: 8px 16px;
}
.modal .inner .left{
width:510px;
height:461px;
border: solid 1px #e6e6e6;
float: left;
}
.modal .inner .left .jspPane{
width: 510px !important;
}
ul.hierTop li{
border-bottom: solid 1px #e6e6e6;
position: relative;
}
ul.hierTop li:last-of-type{
border-bottom: none;
}
ul.hierTop .icoModal{
display: none;
}
ul.hierTop li.selected .icoModal{
display: inline-block;
}
ul.hierTop li a{
display: block;
line-height:1em;
padding: 10px 16px 9px;
}
ul.hierTop li.active a,
ul.hierTop li a:hover{
background: #ebebf8;
text-decoration: none;
}
ul.hierTop li.active a{
font-weight: bold;
}

.modal .inner .num{
display: inline-block;
font-size: 76.92% !important;
color: #808080 !important;
font-weight: normal !important;
}
.modal .inner .right{
width:382px;
height:462px;
border: solid 1px #e6e6e6;
float: right;
}
.modal .inner .left .scrollArea{
height: 429px;
}
.modal .inner .right .scrollArea{
height: 429px;
border-bottom: solid 1px #e6e6e6;
}
.modal .inner .right .scrollArea .testInner{
height:1000px;
background: #DDD;
}
.modal .inner .right .scrollArea .jspPane{
width:382px !important;
}
.modal .inner .right .cateBox {
display: none;
}
.modal .inner .right .cateBox.active {
display: block !important;
}
.modal .inner .right .cateBox.cateBoxDefault{
display: table-cell;
text-align: center;
vertical-align: middle;
background: #f7f7f7;
width: 382px;
height: 429px;
}
.modal .inner .right .hier01{
padding: 10px 15px 6px 15px;
background: #f7f7f7;
border-bottom: solid 1px #e6e6e6;
}
.modal .inner .right span.checked{
font-weight: bold;
}
.modal .inner .right dl.hier02{
padding: 10px 0 15px 15px;
border-bottom: solid 1px #e6e6e6;
}
.modal .inner .right dl.hier02.last,
.modal .inner .right dl.hier02:last-of-type{
border-bottom: none;
}
.modal .inner .right dl.hier02 dt{
margin-bottom: 5px;
}
.modal .inner .right dl.hier02 dd{
margin-bottom: 5px;
padding-left: 26px;
position: relative;
}
.modal .inner .right dl.hier02 dd:before{
content:'';
position: absolute;
left: 0;
top: 0;
width: 26px;
height: 21px;
background: url(/cmn_web/img/index/sprite_001.png) 7px -197px no-repeat;
overflow: hidden;
}
.modal .inner .right .ckWrapA{
display: block;
}
.modal .inner .right .ckWrapA .ckWrapA_Cbox{
display: inline;
width: 18px;
float: left;
}
.modal .inner .right .ckWrapA .ckWrapA_Lbox{
display: inline;
float: left;
top: -1px;
}
.modal .inner .right .hier01 .ckWrapA .ckWrapA_Lbox{
width: 314px;
}
.modal .inner .right dt .ckWrapA .ckWrapA_Lbox{
width: 314px;
}
.modal .inner .right dd .ckWrapA .ckWrapA_Lbox{
width: 292px;
}
.modal .inner .buttonWrap{
width: 240px;
margin: 11px auto 0;
height: 30px;
position: relative;
}
.modal .inner .buttonWrap .numbers{
width: 210px;
height: 20px;
text-align: right;
position: absolute;
left: -243px;
top:18px;
}
.modal .inner .buttonWrap .numbers .number{
font-weight: bold;
font-size: 138.46% !important;
color: #ff0000;
}
.modal .inner .buttonWrap .reset{
width: 150px;
line-height: 13px;
height: 13px;
position: absolute;
top:21px;
right: -182px;
}

.modal .placeBox .ckWrapA{
margin-top: -1px;
height: 18px;
overflow: hidden;
}
.modal .placeBox .ckWrapA .ckWrapA_Lbox{
height: 18px;
line-height: 18px;
overflow: hidden;
top:0;
}
.modal .placeBox .ckWrapA.checked .ckWrapA_Lbox{
font-weight: bold;
}
.modal .placeBox .ckWrapA .ckWrapA_Lbox label{
display: inline-block;
height: 18px;
line-height: 18px;
overflow: hidden;
}
.modal .placeBox td p{
margin-bottom: 7px;
}
.modal .placeBox td p .ckWrapA{
width: 139px;
float: left;
margin-right: 0;
}
.modal.modal782{
width: 782px;
}
.modal.modal716{
width: 716px;
}
/*currentSearch Modal*/
.modal.currentSearch {
width: 782px;
}

.headModal01.currentSearch {
margin-bottom: 6px;
}
.modalDelMes .headModal01.currentSearch{
margin-bottom: 16px;
}
.modal.currentSearch .inner p {
margin-bottom: 16px;
}
.modalDelMes .modal.currentSearch .inner p {
margin-bottom: 8px;
}
.modal.currentSearch .inner p.alignC {
margin-bottom: 0;
}
.modalAlert {
width: 710px;
margin-bottom: 10px;
background: #f2f2f2;
border: 1px solid #e6e6e6;
}
.modal.currentSearch .modalAlert p {
font-size: 84.61%;
line-height: 30px;
margin-left: 7px;
margin-bottom: 0;
padding-left: 20px;
position: relative;
}
.modal.currentSearch .modalAlert p:after{
content: '';
display: block;
position: absolute;
left: 0;
top: 8px;
width: 14px;
height: 14px;
background: url(/cmn_web/img/index/sprite_001.png) no-repeat -350px -200px;
}
.moDelListWrap{
height: 275px;
border: solid 1px #e6e6e6;
}
.modalDelList{
width: 750px;
}
.modalDelList li{
padding: 15px 0 11px;
border-bottom: solid 1px #e6e6e6;
}
.modalDelList li.last,
.modalDelList li:last-of-type{
margin-bottom: 0px;
border-bottom: none;
}
.modalDelList li p.title{
padding-left: 16px;
margin-bottom: 2px;
font-weight: bold;
}
/*
.modalDelList li p.title:before {
content: '';
width: 16px;
height: 16px;
background: url(/cmn_web/img/index/sprite_001.png) 0px -245px no-repeat;
position: absolute;
left: 0;
top: 0;
}
*/
.modalDelList li p.txt{
padding-left: 16px;
}
.scrollArea.currentSearch {
height: 236px;
margin-bottom: 20px;
}
.modList02 .middle .box01.currentSearch {
width: 710px;
float: left;
}
.box01.currentSearch .listJpbSpec02 {
margin-bottom: 10px;
}
.box01.currentSearch .listJpbSpec02 dd {
width: 560px;
}
.box01.currentSearch .listJpbSpec02 dt,
.box01.currentSearch .listJpbSpec02 dt .icoSpc02 {
width: 80px;
}
.headModal03{
margin-bottom: 20px;
}
.headModal03 h1{
font-size: 138.46% !important;
line-height: 1em;
float: left;
}
.modal .inner .bookMarkItem .scrollArea{
height: 315px;
margin-bottom: 20px;
}
/* 全体 */
.jspScrollable:focus{
outline: 0;
}
.jspContainer { overflow:hidden; position:relative; }
/* スクロールバーを除いたエリア */
.jspPane { position:absolute; }
/* 縦スクロールバー */
.jspVerticalBar{
position:absolute;
top:0;
right:8px;
width:10px;
height:100%;
}
/* 横スクロールバー */
.jspHorizontalBar{
position:absolute;
bottom:0;
left:0;
width:100%;
height:10px;
border-radius: 5px;
}
/* 背景 */
.jspTrack { background:#cccccc; position:relative; border-radius: 5px; z-index: 10;}
/* ノブ */
.jspDrag { background:#808080; position:relative; top:0; left:0; cursor:pointer; border-radius: 5px;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float:left; height:100%; }
.jspVerticalBar .jspArrow {
  background: #50506d;
  text-indent: -9999px;
  display: block;
  cursor: pointer;
  height: 10px;
}
.jspArrowUp {
position: relative;
top:10px;
opacity: 0;
}
.jspArrowDown {
position: relative;
top:-10px;
z-index: -1;
opacity: 0;
}


.helpWarp{
width: 782px;
min-height: 398px;
margin: 0 auto;
position: relative;
padding-bottom: 28px;
}
.helpHead{
padding: 24px 32px 23px;
}
.headHelp01{
padding: 9px 32px 6px;
background: #101177;
color: #fff;
font-weight: bold;
font-size: 138.46% !important;
margin-bottom: 20px;
}
.helpContent{
padding: 0 32px;
}
.helpFoot{
border-top:solid 1px #dedede;
height: 28px;
width: 100%;
position: absolute;
bottom: 0;
left: 0;
}

.helpFoot .copy{
font-size: 84.61%;
color: #4c4c4c;
line-height: 28px;
padding-right: 32px;
text-align: right;
}

/* GM-010 リンクなしサイドメニュー*/
.asideMunu01 li dd .nolink{
display: block;
line-height: 1em;
padding: 10px 16px 10px 18px;
margin-bottom: 1px;
position: relative;
}


/*--------------------------------------------------
	FileUpload Layout
--------------------------------------------------*/
.selectFileNone {
display:none;
}
.selectFileButton{
display: block;
float: left;
}
.selectFileLabel {
background:#fff !important;
display: block;
float: left;
width:420px;
margin-right:20px;
border:none !important;
}
.selectFileLabelMsg {
width:540px;
}
.deleteFileButton{
position: relative;
float: left;
}
.deleteFileButton a{
width: 15px;
height: 15px;
position: absolute;
left: 0;
top: 7px;
overflow: hidden;
}
.deleteFileButton img{
position: absolute;
left: -450px;
top: -100px;
}
.deleteFileButton img:hover{
position: absolute;
left: -450px;
top: -114px;
}
.displayNone {
display: none;
}
.displayBlock {
display: block;
}
.modalDelMes600{
width: 550px;
}
.modalDelMes600 .headModal01{
margin-bottom: 10px;
}
.modalDelMes600 .headModal01.currentSearch{
margin-bottom: 16px;
}
.modalDelMes600 .modal.currentSearch .inner p {
margin-bottom: 8px;
}
.modal.modal600{
width: 600px;
}

.modal.modal550{
width: 550px;
}

.borderTopNone {
border-top: 0px !important;
}
.marginLeft07 {
display: inline-block;
margin-left: 7px !important;
}
.fontSize11 {
font-size:11px !important;
}
.paddingRight08 {
padding-right: 8px !important;
}
.borderBottom01 {
border-bottom: solid 1px #e6e6e6 !important;
}



