
@CHARSET "Shift_JIS";

#srSuggest {
	font-size: 13px;
	text-align: left;
	z-index: 6000;
	position: absolute;
	border: 1px solid #CCCCCC;
	background-color: white;
}
#srSuggest div {
	padding: 4px 10px;
	background-color: #ffffff;
	color: #000000;
}
#srSuggest div.segCurrent {
	background-color: #EBEBF8;
	color: #0A50A1;
}

.SuggestAPI {
	text-align: left;
}
.SuggestAPI.seghl {
}




