* {
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: none
}
s{
    text-decoration: none;
}
body {
    -moz-user-select: none;
    font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    color: #434343;
}
input,textarea,button{
    font-family: "Microsoft Yahei", Tahoma, Arial, sans-serif;
}
img {
    border: 0
}
a {
    text-decoration: none;
    outline: none;
}
ul li, ol li, dl li {
    list-style-type: none
}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f24{font-size: 24px;}
.f28{font-size: 28px;}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.wrapper{
    width: 1000px;
    margin: auto;
}
.topbar{
    height: 30px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d0d0d0;
    color: #8b8b8b;
    font-family: "宋体";
    line-height: 30px;
}
.topbar .fleft{
    margin-left: 15px;
}
.topbar>.fright{
    margin-right: 15px;
    width: 360px;
}
.topbar .fright a{
    color: #8b8b8b;
    float: left;
}
.topbar .fright span{
    float:left;
    margin: 0px 5px;
}
.topbar .fright a:hover{
    color: #fc6321;
}
.topbar .fright .mob{
    padding-left: 20px;
    background: url(../images/mob.jpg) no-repeat 5px 5px;
}
.header{
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
}
.header .fright{
    line-height: 80px;
    color: #8b8b8b;
}
.header .btn{
    color: #ffffff;
    background-color: #fc6321;
    padding: 10px 40px;
    border-radius: 3px;
    margin-left: 10px;
}
.containter{
    background-color: #f5f5f5;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
}
.title{
    display: inline-block;
    width: 100%;
}
.title .fright a{
    margin: 0px 10px;
    color: #fc6321;
}
.title .fright a:hover{
    text-decoration: underline;
}
.city-list{
    position: relative;
    width: 244px;
    height: 200px;
    display: inline-block;
    margin: 2px;
    float: left;
}
.city-list div{
    position: absolute;
    left: 0px;
    top: 150px;
    
    line-height: 30px;
    padding-left: 10px;
}
.city-list div a{
    color: #ffffff;
}
.city-list div a:hover{
    text-decoration: underline;
}
.city-list div .f14{
    display: none;
}
.city-list:hover div .f14{
    display: block;
}
.city-list:hover .city-hide{
    display: none;
}
.city-list:hover .city-hover{
    display: block;
    top: 130px;
}
.city-hover{
    background-color: #000000;
    background:rgba(0,0,0,0.5) none repeat scroll !important;
    filter:Alpha(opacity=50);
    width: 234px;
    height: 68px;
    display: none;
}
.city-hover p{
    position:relative;
}
.city-search{
    margin: 30px 0px 10px 0px;
    display: inline-block;
    width: 100%;
}
.city-search .fleft.f18{
    width: 166px;
    text-align: center;
    color: #ffffff;
    background: url(../images/tip.jpg) no-repeat 0px 0px;
    padding: 8px 0px 17px 0px;
}
.search-text{
    border: 1px solid #dddddd;
    border-right: 0px;
    padding: 5px;
    outline: none;
    width: 152px;
}
.search-cont{
    width: 188px;
}
.search-btn{
    border: 1px solid #dddddd;
    border-left: 0px;
    width: 25px;
    padding: 5px;
    padding\0:7px 6px 6px 6px;
    background: url(../images/search.jpg) no-repeat 0px 5px;
    outline: none;
    cursor: pointer;
    *padding: 3px;
}
.search-complete{
    position: relative;
}
.search-complete ul{
    position: absolute;
    left: 0px;
    top: 30px;
    width: 178px;
    padding: 4px;
    border: 1px solid #dddddd;
    line-height: 20px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    z-index: 99;
}
.search-complete ul li{
    display: inline-block;
    width: 100%;
}
.allcitys{
    margin-bottom: 30px;
}
.allcitys-list{
    border-bottom: 1px dashed #dddddd;
    padding: 10px 0px;
    display: inline-block;
    width: 100%;
}
.allcitys-list div{
    display: inline-block;
}
.allcitys-cate{
    width: 100px;
    color: #dddddd;
}
.allcitys-cate s{
    margin: 0px 10px;
}
.allcity-word{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #434343;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    display: inline-block;
}
.allcitys-detail{
    width: 850px;
    margin-left: 10px;
}
.allcitys-detail a{
    color: #434343;
    min-width: 50px;
    margin-right: 10px;
    float: left;
    line-height: 30px;
}
.allcitys-detail a:hover{
    color: #fc6321;
}
.link{
    line-height: 25px;
    display: inline-block;
    width: 100%;
}
.link span{
    color: #000000;
    width: 110px;
    text-align: right;
}
.link div{
    width: 850px;
    margin-left: 10px;
}
.link div a{
    width: 80px;
    margin-right: 10px;
    color: #8c8c8c;
}
.link div a:hover{
    text-decoration: underline;
}
.foot-link{
    border-bottom: 1px solid #dddddd;
}
.footer{
    margin: 20px 0px;
    text-align: center;
    color: #7b7b7b;
    line-height: 25px;
    font-family: "宋体";
}

.footer a{
    color: #7b7b7b;
}

.footer a:hover{
    text-decoration: underline;
}

.mob-download{
    display: inline-block;
    position: relative;
}
.mob-down{
    border-radius: 2px;
    background-color: #EBEAEA;
    border: 1px solid #CECECE;
    height: 150px;
    left: -116px;
    position: absolute;
    top: 30px;
    width: 300px;
    z-index: 99;
    display: none;
}
.mob-down-tit{
    color: #333333;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.mob-down .clearfix .fleft{
    width: 140px;
}
.mob-down .clearfix .fright{
    margin-right: 15px;
}
.mob-download:hover .mob-down,.mob-down:hover{
    display: block;
}