/*
	Theme Name: Mega Filmes Online
	Theme URI: http://megafilmesonline.net/
	Author: Leonardo Freitas
	Author URI: http://leonardofreitas.com.br/
*/

@import url('css/reset.css');
@import url('fonts/font.css');
@import url('js/bxslider/jquery.bxslider.css');

body {
	font-family: arial, tahoma, helvetica, sans-serif;
	min-width: 320px;
}

a:hover {
	text-decoration: underline;
}

.left {
	float:left;
}

.right {
	float:right;
}

.dsp-n {
	display: none;
}

#infscr-loading {
	text-align: center;
	margin: 10px auto;
}

input[type="submit"] {
	cursor: pointer;
}

.img-responsive {
	max-width: 100%;
}

.container {
	width: 1172px;
	height: 100%;
	margin: 0 auto;
}

#topo {
	background-color: #b9090b;
	width: 100%;
	height: 58px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 200;
}

#topo .container {
	position: relative;
}

#logo-tipo {
	width: 253px;
	height: 21px;
	float: left;
	display: block;
	margin: 19px 0 0;
}

#logo-tipo a {
	background: url(images/logo-topo.png) no-repeat left top;
	width: 253px;
	height: 21px;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
}

#menu-principal {
	width: 163px;
	height: 58px;
	float: left;
	margin: 0 0 0 85px;
	position: relative;
}

.titulo-menu {
	background: url(images/icone1.png) no-repeat 20px 23px;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	padding: 21px 0 22px 20px;
	cursor: pointer;
	text-shadow: 1px 1px 0 #8c0507;
}

.titulo-menu.topo-xs {
	display: none;
}

.titulo-menu:hover,
.atualizacao-series:hover {
	background-color: #a50608;
	text-decoration: none;
}

#menu-principal .categorias {
	background-color: #a50608;
	width: 229px;
	overflow-y: auto;
	position: absolute;
	left: 0;
	top: 58px;
	z-index: 500;
	display: none;
}

#menu-principal:hover .titulo-menu {
	background-color: #a50608;
}

#menu-principal:hover .categorias {
	display: block;
}

#menu-principal .categorias a {
	display: block;
	border-top: 1px solid #970709;
	font-size: 14px;
	color: #fff;
	padding: 9px 20px;
}

#menu-principal .categorias a:hover {
	background-color: #b9090b;
	text-decoration: none;
}

.atualizacao-series {
	background: url(images/icone2.png) no-repeat 20px 23px;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	display: block;
	padding: 21px 41px 22px 41px;
	text-shadow: 1px 1px 0 #8c0507;
}

.atualizacao-series.btn-xs {
	display: none;
}

.btn-busca.btn-xs {
	width: 8%;
	float: right;
	display: none;
	cursor: pointer;
}

#form-busca {
	width: 32%;
	height: 100%;
	float: left;
}

.bg-busca {
	background-color: #a50608;
	border: 0 none;
	width: 85%;
	height: 58px;
	float: left;
	font-size: 14px;
	color: #fff;
	padding: 15px;
}

.btn-busca {
	background: url(images/icone3.png) no-repeat center center #a50608;
	border: 0 none;
	width: 15%;
	height: 58px;
	float: left;
	text-indent: -9999px;
}

.btn-busca:hover {
	background-color: #820002;
}

#content-site {
	width: 100%;
	overflow: hidden;
	margin: 88px 0 0;
}

.box-ads-maior,
.box-ads-maior img {
	text-align: center;
	margin: 0 auto;
}

#player {
	margin: 40px 0 0;
}

.bx-wrapper {
    box-shadow: none !important;
}

#player.pgn-categorias {
	margin: 40px 0;
}

.titulo-destaque {
	font: 32px 'latoBlack';
	color: #616161;
	text-transform: uppercase;
	display: block;
	margin: 0 0 15px;
}

.bx-wrapper .bx-viewport {
    box-shadow: none !important;
    border: 0 !important;
    left: 0 !important;
    background: transparent !important;
}

.content-player,
.galeria-destaque {
	width: 100%;
	overflow: hidden;
}

.content-slider {
	margin: 0 -14px;
	overflow: hidden;
}

.box-video-destaque {
	width: calc(100%/4);
	height: 480px;
	float: left;
	padding: 0 14px;
}

.box-video-destaque .content {
	position: relative;
	width: 100%;
	height: 100%;
}

.box-video-destaque .thumb {
	width: 100%;
	max-width: 270px;
	height: 383px;
	border: 1px solid #b8b8b8;
	overflow: hidden;
}

.box-video-destaque .thumb > img {
	width: 100%;
	height: 383px;
}

.info-topo {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.info-topo span {
	display: inline-block;
	padding: 7px;
	font-size: 10px;
	color: #fff;
	float: left;
}

.info-topo .qualidade {
	background-color: #b9090b;
}

.info-topo .idioma {
	background-color: #979797;
}

.box-descricao {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 60%);
	width: 100%;
	padding: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.box-descricao .titulo {
	font: 30px 'latoBold';
	color: #fff;
	display: block;
	margin: 0 0 5px;
}

.box-descricao .avaliacao li {
	display: inline-block;
}

.box-descricao .post-ratings img {
	display: inline !important;
}

.box-descricao p {
	font-size: 12px;
	color: #979797;
	margin: 5px 0 0;
}

.box-descricao p b {
	font-weight: bold;
}

.box-descricao .btn-assistir {
	border: 1px solid #b9090b;
	display: block;
	font: 26px 'lato';
	color: #b9090b;
	text-align: center;
	padding: 17px 0;
	margin: 18px 0 0;
}

.box-descricao .btn-assistir:hover {
	background-color: #b9090b;
	color: #fff;
	text-decoration: none;
}

.paginacao-player {
	width: 100%;
	margin: 25px 0 0;
	text-align: center;
}

.paginacao-player a,
.bx-wrapper .bx-pager.bx-default-pager a {
	background-color: #fff !important;
	display: inline-block !important;
	width: 18px !important;
	height: 18px !important;
	border: 1px solid #979797 !important;
	margin: 0 8px !important;
	border-radius: 0  !important;
}

.paginacao-player a:hover,
.bx-wrapper .bx-pager.bx-default-pager a:hover
.paginacao-player a.current,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background-color: #979797 !important;
}

.galeria-padrao {
	width: 100%;
	margin: 40px 0 0;
}

.galeria-videos {
	width: 102.1%;
	margin-left: -13px;
	overflow: hidden;
}

.box-video {
	width: calc(100% / 6);
	height: 253px;
	padding: 0 13px;
	float: left;
	margin: 0 0 30px;
}

.box-video .content {
	position: relative;
	width: 100%;
	height: 100%;
}

.box-video .thumb,
.box-video .thumb > img {
	width: 100%;
	height: 253px;
	overflow: hidden;
	display: block;
}

.box-video .thumb {
	border: 1px solid #b8b8b8;
	cursor: pointer;
}

.box-video .box-descricao {
	padding: 30px 15px 15px 15px;
	text-align: center;
	bottom: 0;
	display: none;
}

.box-video .box-descricao p {
	color: #fff;
}

.info-geral {
	width: 399px;
	height: 145px;
	position: absolute;
	top: 0;
	z-index: 100;
	display: none;
}

.info-geral.left {
	left: 173px;
}

.info-geral.right {
	right: 173px;
}

.info-geral .topo {
	background-color: #b9090b;
	padding: 15px 25px;
}

.info-geral .titulo {
	font: 24px/25px 'latoMedium';
	color: #fff;
	display: block;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.info-geral .categorias li {
	display: inline-block;
	color: #fff;
}

.info-geral .categorias {
	color: #fff;
}

.info-geral .categorias a {
	display: inline-block;
	font-size: 11px;
	color: #fff;
}

.info-geral .content {
	background-color: #979797;
	padding: 15px 25px;
}

.info-geral .content p {
	font-size: 12px;
	line-height: 18px;
	color: #fff;
}

.info-geral .content .btn-assitir,
.box-series .btn-assistir {
	border: 1px solid #fff;
	display:  inline-block;
	margin: 12px 0 0;
	padding: 12px 14px;
	font: 20px 'lato';
	color: #fff;
	text-transform: uppercase;
}

.box-series .btn-assistir {
	font: 26px 'latoLight';
	padding: 14px 20px;
	margin: 5px 0 0;
}

.info-geral .content .btn-assitir:hover,
.box-series .btn-assistir:hover {
	background-color: #fff;
	color: #979797;
	text-decoration: none;
}

.info-geral .bottom {
	min-height: 37px;
	background-color: #555;
	padding: 10px 25px;
}

.info-geral .bottom p {
	font-weight: bold;
	font-size: 11px;
	color: #fff;
}

.info-geral .bottom span {
	background-color: #fff;
	display: inline-block;
	color: #555;
	padding: 3px 5px;
}

.box-generos-series-ads {
	width: 100%;
	overflow: hidden;
	margin: 0 0 40px;
}

.box-generos {
	background-color: #ddd;
	width: 772px;
	float: left;
	padding: 16px 16px 9px 16px;
}

.box-generos .titulo {
	font-weight: bold;
	font-size: 26px;
	color: #b9090b;
	display: block;
	margin: 0 0 10px;
}

.lista-generos li {
	display: inline-block;
}

.lista-generos a,
.lista-amigos a {
	display: inline-block;
	border: 1px solid #616161;
	font-size: 14px;
	color: #616161;
	padding: 8px;
	float: left;
	margin: 0 7px 7px 0;
}

.lista-generos a:hover,
.lista-amigos a:hover {
	background-color: #616161;
	color: #fff;
	text-decoration: none;
}

.box-series {
	background: url(images/bg-series.jpg) no-repeat left top / cover;
	width: 772px;
	height: 158px;
	padding: 13px 20px;
	float: left;
	margin: 20px 0 0;
}

.box-series .titulo {
	font: 58px 'latoBlack';
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin: 0 0 0 25px;
}

.box-ads {
	width: 370px;
	height: 320px;
	padding: 19px;
	border: 1px solid #b8b8b8;
	float: right;
}

.box-ads img {
	width: 100%;
}

.row-btn {
	clear: both;
	text-align: center;
}

.btn-carregar-mais {
	font: 26px 'latoLight';
	color: #616161;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #616161;
	padding: 15px 20px;
	margin: 0 auto 30px;
}

.btn-carregar-mais:hover {
	background-color: #616161;
	color: #fff;
	text-decoration: none;
}

#rodape {
	margin: 30px 0 0;
}

#rodape1 {
	background-color: #ddd;
	padding: 35px 0 21px;
}

.titulo-rodape {
	font-weight: bold;
	font-size: 26px;
	color: #b9090b;
	display: block;
	margin: 0 0 10px;
}

#rodape1 p {
	font-size: 14px;
	line-height: 26px;
	color: #616161;
	margin: 0 0 30px;
}

.lista-amigos li {
	display: inline-block;
}

.lista-amigos a {
	display: inline-block;

}

#rodape2 {
	background-color: #616161;
	padding: 20px 0;
	overflow: hidden;
}

#rodape2 p {
	float: left;
	margin: 3px 0 0;
}

#rodape2 p,
#rodape2 a {
	font-size: 13px;
	line-height: 20px;
	color: #fff;
	text-shadow: 0 1px 1px #535353;
}

.logo-rodape {
	background: url(images/logo-rodape.jpg) no-repeat left top;
	width: 253px;
	height: 20px;
	display: block;
	float: right;
}

#box-shadow {
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 150;
	display: none;
}

.box-popup {
	display: none;
	width: 100%;
	max-width: 843px;
	position: absolute;
	left: 0;
	top: 215px;
	z-index: 165;
}

.box-popup .topo {
	background-color: #b9090b;
	overflow: hidden;
	height: 67px;
}

.box-popup .titulo {
	font: 26px 'latoHeavy';
	color: #fff;
	text-transform: uppercase;
	float: left;
	display: block;
	margin: 15px 0 15px 30px;
	width: 87%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-shadow: 0 1px 1px #9d0809;
}

.box-popup .btn-close {
	background-color: #a50608;
	display: block;
	float: right;
	font: 26px 'latoHeavy';
	color: #fff;
	text-transform: uppercase;
	padding: 15px 25px;
	cursor: pointer;
}

.box-popup .btn-close:hover {
	background-color: #7b0002;
}

.box-popup .content {
	background-color: #fff;
	padding: 27px;
}

.box-popup.box-atualizacoes .content {
	max-height: 770px;
	overflow-y: auto;
}

.box-popup .data {
	background-color: #ddd;
	width: 100%;
	height: 53px;
	padding: 15px;
}

.box-popup .icone {
	background: url(images/icone4.jpg) no-repeat left top;
	width: 21px;
	height: 21px;
	float: left;
	margin: 3px 15px 0 0;
}

.box-popup .dia {
	font: 26px/26px 'latoMedium';
	color: #616161;
	display: block;
	float: left;
}

.galeria-update {
	width: 103.3%;
	overflow: hidden;
	margin: 25px 0 0 -13px;
}

.box-update-series {
	width: calc(100% / 4);
	height: 253px;
	float: left;
	padding: 0 13px;
	margin: 0 0 25px;
}

.box-update-series .thumb {
	display: block;
	height: 253px;
	position: relative;
	border: 1px solid #b8b8b8;
}

.box-update-series .thumb img {
	width: 100%;
	height: 253px
}

.box-update-series .thumb .flag {
	background-color: #12ae12;
	display: block;
	font-size: 10px;
	color: #fff;
	padding: 5px 10px;
	position: absolute;
	left: 0;
	top: 0;
}

/* ===== PÁGINA DE CATEGORIAS ===== */
.descricao-categoria {
	width: 100%;
	overflow: hidden;
	margin: 0 0 40px;
	border: 1px solid #ababab;
}

#breadcrumb {
	background-color: #ababab;
	padding: 15px 25px;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
}

#breadcrumb span {
	float: left;
	display: block;
	margin: 0 10px 0 0;
	color: #fff;
	font-size: 14px;
}

#breadcrumb a,
#breadcrumb strong {
	font-size: 14px;
	color: #fff;
}

#breadcrumb .icone {
	background: url(images/bullet1.jpg) no-repeat left top;
	width: 3px;
	height: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.descricao-categoria .content {
	padding: 20px;
}

.descricao-categoria p {
	font-size: 14px;
	line-height: 26px;
	color: #616161;
}

/* ===== PÁGINA DE FILMES ===== */
.col-left {
	width: 872px;
	float: left;
	margin: 20px 0 0;
}

.box-info-video {
	border: 1px solid #ababab;
	padding: 24px;
	margin: 0 0 30px;
}

.box-info-video .titulo {
	font: 26px 'latoBlack';
	color: #616161;
	text-transform: uppercase;
	display: block;
	margin: 15px 0 10px;
}

.lista-players li {
	display: inline-block;
}

.lista-players a {
	display: inline-block;
	font: 20px 'lato';
	color: #b9090b;
	text-transform: uppercase;
	border: 1px solid #b9090b;
	padding: 10px 12px;
	margin: 0 10px 10px 0;
	cursor: pointer;
}

.lista-players a:hover,
.lista-players a.active {
	background-color: #b9090b;
	color: #fff;
	text-decoration: none;
}

.player-video {
	background-color: #000;
	border: 1px solid transparent;
	width: 100%;
	height: 529px;
	overflow: hidden;
	position: relative;
	z-index: 160;
}

.player-video.box-temp-old {
	background-color: #fff;
	height: auto;
	padding: 15px;
}

.player-video.box-temp-old table,
.player-video.box-temp-old table td table {
	width: 100%;
	table-layout: fixed;
}

.player-video.box-temp-old > table > tbody > tr > td {
    padding: 0 10px 0 0;
}

.player-video.box-temp-old b {
	font: normal 20px 'latoBlack';
	text-transform: uppercase;
	display: block;
	color: #fff !important;
	background-color: #c0c0c0;
	padding: 15px;
}
.player-video.box-temp-old b span {
	color: #b9090b !important;
}

.player-video.box-temp-old a {
	display: block;
	border-bottom: 1px solid #c0c0c0;
	padding: 0 10px 10px;
	font-weight: bold;
	font-size: 14px;
	color: #616161;
}

.player-video iframe,
.box-popup iframe {
	width: 100% !important;
	height: 100% !important;
}

.compartilhar {
	margin: 25px 0 0;
	overflow: hidden;
}

.compartilhar p {
	font-size: 14px;
	color: #616161;
	float: left;
}

.compartilhar p b {
	font: 31px 'latoHeavy';
	color: #e39713;
	display: block;
	text-align: center;
}

.btn-compartilhar {
	display: block;
	float: left;
	border: 1px solid #ababab;
	height: 41px;
	margin: 17px 0 0 20px;
	position: relative;
	font-weight: bold;
	font-size: 14px;
	color: #616161;
	padding: 12px 20px 0 55px;
}

.btn-compartilhar .icone {
	width: 41px;
	height: 100%;
	border-right: 1px solid #ababab;
	position: absolute;
	left: 0;
	top: 0;
}

.btn-compartilhar .face {
	background: url(images/icone-face.jpg) no-repeat left top;
}

.btn-compartilhar .google {
	background: url(images/icone-google.jpg) no-repeat left top;
}

.btn-compartilhar .twitter {
	background: url(images/icone-twitter.jpg) no-repeat left top;
}

.box-info-video strong.tt-info {
	font-weight: bold;
	font-size: 22px;
	color: #d1090b;
	display: block;
	margin: 0 0 10px;
}

.box-info-video strong {
	font-weight: bold;
	color: #d1090b;
}

.box-info-video p {
	font-size: 14px;
	line-height: 23px;
	color: #616161;
}

.box-aviso {
	border: 1px solid #ababab;
	width: 100%;
	height: 42px;
	margin: 12px 0 0;
}

.box-aviso span {
	background-color: #b9090b;
	border-right: 1px solid #ababab;
	padding: 11px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	float: left;
}

.box-aviso p {
	float: left;
	margin: 7px 0 0 15px;
}

.box-aviso p b {
	font-weight: bold;
}

.col-right {
	width: 271px;
	float: right;
	margin: 20px 0 0;
}

.col-right .box-video-destaque {
	width: 100%;
	padding: 0;
	height: 600px;
	float: none;
}

.col-right .box-descricao {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
    padding: 50px 20px 20px;
}

.col-right .titulo {
	font-size: 24px;
}

.col-right .btn-acoes {
	display: block;
	font: 15px 'lato';
	color: #fff;
	text-transform: uppercase;
	margin: 5px 0 0;
	padding: 15px 0 15px 35px;
	position: relative;
	text-shadow: 1px 1px 0 #8c0507;
}

.col-right .btn-acoes:hover {
	background-color: #8f0002;
	text-decoration: none;
}

.btn-acoes.assistir {
	background: url(images/icone5.png) no-repeat 10px center #b9090b;
}

.btn-acoes.reportar {
	background: url(images/icone6.png) no-repeat 10px center #b9090b;
}

.btn-acoes.incorporar {
	background: url(images/icone7.png) no-repeat 10px center #b9090b;
}

.btn-acoes.apagar-luz {
	background: url(images/icone8.png) no-repeat 10px center #b9090b;
}

.detalhes-filme {
	border: 1px solid #ababab;
	margin: 25px 0 0;
}

.detalhes-filme.detalhes-xs {
	display: none;
}

.row-detalhe {
	border-bottom: 1px solid #ababab;
	padding: 13px;
}

.row-detalhe:last-child {
	border: 0 none;
}

.row-detalhe .icone {
	width: 24px;
	height: 24px;
	display: block;
	float: left;
	margin: 4px 8px 0 0;
}

.row-detalhe .lancamento {
	background: url(images/icone9.jpg) no-repeat center center;
}

.row-detalhe .tempo {
	background: url(images/icone10.jpg) no-repeat center center;
}

.row-detalhe .genero {
	background: url(images/icone11.jpg) no-repeat center center;
}

.row-detalhe .audio {
	background: url(images/icone12.jpg) no-repeat center center;
}

.row-detalhe .qualidade {
	background: url(images/icone13.jpg) no-repeat center center;
}

.row-detalhe .visu {
	background: url(images/icone14.jpg) no-repeat center center;
}

.row-detalhe p,
.row-detalhe a {
	font-size: 12px;
	line-height: 17px;
	color: #616161;
	word-wrap: break-word;
}

.row-detalhe p b {
	font-weight: bold;
	color: #b9090b;
	display: block;
}

.videos-relacionados {
	float: none;
	clear: both;
	width: 100%;
}

.top-menu-abas {
	overflow: hidden;
	margin: 0 0 25px;
}

.titulo-relacionados {
	font: 32px 'latoBlack';
	color: #b0b0b0;
	text-transform: uppercase;
	display: inline-block;
	margin: 10px 60px 0 0;
	border-bottom: 4px solid transparent;
	position: relative;
	float: left;
	cursor: pointer;
}

.titulo-relacionados .block-xs2 {
	display: none;
}

.titulo-relacionados .icone {
	background: url(images/icone15.jpg) no-repeat left top;
	width: 16px;
	height: 8px;
	display: none;
	position: absolute;
	bottom: -12px;
	left: 49%;
}

.titulo-relacionados:hover,
.titulo-relacionados.active {
	color: #616161;
	border-color: #616161;
	margin: 0 60px 0 0 !important;
}

.titulo-relacionados:hover .icone,
.titulo-relacionados.active .icone {
	display: block;
}

/* ===== PÁGINA DE SÉRIES ===== */

.lista-temporadas .top-menu-abas {
	margin: 0 0 10px;
}

.lista-temporadas .titulo-relacionados {
	margin: 0 10px 10px 0;
}

.lista-temporadas .titulo-relacionados:hover,
.lista-temporadas .titulo-relacionados.active {
	margin: 0 10px 10px 0 !important;
	background-color: #b9090b;
	border-color: #b9090b;
	color: #fff;
}

.lista-relacionados {
	background-color: #fff;
	position: relative;
}

.lista-temporadas .content-menu-abas {
	border: 1px solid #979797;
	overflow: hidden;
}

.lista-temporadas .content-menu-abas strong {
	background-color: #979797;
	display: block;
	padding: 15px 20px;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

.lista-temporadas .content {
	padding: 20px;
	overflow: hidden;
}

.lista-episodios {
	width: 48%;
	border: 1px solid #c0c0c0;
}

.lista-episodios .titulo {
	background-color: #c0c0c0;
	display: block;
	font: 20px 'latoBlack';
	color: #fff;
	text-transform: uppercase;
	padding: 15px 20px;
	margin: 0;
}

.row-lista {
	overflow: hidden;
	border-bottom: 1px solid #c0c0c0;
}

.row-lista:last-child {
	border: 0 none;
}

.row-lista .item-lista {
	display: inline-block;
	float: left;
	padding: 15px 13px;
}

.row-lista p {
	font-size: 14px;
	color: #616161;
}

.num-episodio {
	background-color: #ececec;
	border-right: 1px solid #c0c0c0;
}

.nome-episodio {
	font-weight: bold;
	width: 62%;
	overflow: hidden;
	line-height: 15px !important;
    max-height: 43px;
    word-wrap: break-word;
}

.row-lista a {
	float: right !important;
	border-left: 1px solid #c0c0c0;
	font-size: 14px;
	color: #b9090b;
	text-transform: uppercase;
	padding: 19px 13px 20px !important;
}

.row-lista a:hover {
	background-color: #b9090b;
	color: #fff;
	text-decoration: none;
}

.titulo-incorporar {
	font: 26px 'latoBlack';
	color: #616161;
	text-transform: uppercase;
	display: block;
	margin: 0 0 10px;
}

.bg-incorporar {
	border: 1px solid #a9a9a9;
	width: 100%;
	font-size: 14px;
	color: #616161;
	padding: 12px 18px;
	margin: 0 0 30px;
}

#iframe {
	height: 80px;
	resize: none;
}

.box-reportar-erro p {
	font-size: 14px;
	line-height: 23px;
	color: #616161;
	margin: 0 0 35px;
}

#tipo-erro {
	width: 275px
}

#tipo-erro .bg-incorporar {
	margin: 0 0 20px;
}

#tipo-erro .btn-enviar {
	background-color: #b9090b;
	border: 0 none;
	width: 93px;
	height: 46px;
	font: 15px 'lato';
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #9d0809;
}

#tipo-erro .btn-enviar:hover {
	background-color: #9d0809;
}

.box-popup.maior {
	max-width: 1050px;
}

.box-popup.box-escolher-server .content {
	height: 520px;
}

.box-popup.box-exibir-serie .content {
	height: 633px;
}

.box-info-video.no-border {
	border: 0;
	padding: 0;
}

.box-info-video.no-border .titulo {
	text-align: center;
	text-shadow: none !important;
}

.box-info-video.no-border .lista-players {
	text-align: center;
	margin: 0 0 60px;
}

.likebox {
	text-align: center;
	float: none;
	clear: both;
}

.box-popup.box-exibir-serie .content {
	padding: 0;
	height: 550px;
}

.detalhes-filme.detalhes-xs {
	overflow: hidden;
	display: none;
}

.detalhes-xs .thumb {
	float: left;
	width: 156px;
	height: 220px;
	overflow: hidden;
}

.detalhes-xs .thumb img {
	width: 100%;
	height: 100%;
}

.detalhes-xs .box-descricao {
	position: static;
	background-image: none;
	float: right;
	width: 77%;
	padding: 20px 20px 20px 0;
}

.detalhes-xs .titulo {
	font-size: 30px;
	color: #616161;
}

.detalhes-xs .btn-acoes {
	width: 230px;
	float: left;
	margin-right: 5px;
}

/* ===== ESTILOS DO POP-UP DE ESCOLHER SERVER NA PÁGINA DE SÉRIES ===== */
.top-menu-abas.servers-series {
	float: left;
	clear: both;
	margin: 0 0 20px !important;
	width: 100%;
}

.lista-relacionados.servers-series {
	position: static;
	float: left;
	clear: both;
	width: 100%;
}

/* ===== ESTILOS DO MINI MENU ===== */
.mini-menu {
	opacity: 0;
	background-color: #a50608;
	width: 230px;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	left: -230px;
	top: 0;
	z-index: 500;
}

.mini-menu a {
	border-top: 1px solid #970709;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 15px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mini-menu a:hover {
    background-color: #b9090b;
    text-decoration: none;
}

.mini-menu .atualizacao-series {
	background-color: #970709;
    background-position: 20px 15px;
    float: none;
    font-weight: normal;
    padding: 15px 20px 15px 30px !important;
    text-transform: none;
}

.mini-menu #form-busca {
	background-color: #970709;
	display: block !important;
	height: 58px;
    padding: 6px;
    position: static;
}

.mini-menu #form-busca fieldset {
	border: 1px solid #fff;
}

.mini-menu .bg-busca,
.mini-menu .btn-busca {
    height: 47px;
}

.box-video-destaque .box-descricao .avaliacao,
.box-video-destaque .box-descricao p,
.box-video .box-descricao .avaliacao,
.box-video .box-descricao p {
	display: none;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width: 1170px) and (min-width: 768px) {
	.container {
		width: 768px;
	}

	#menu-principal {
	    margin: 0 0 0 30px;
	}

	#menu-principal .categorias a {
		padding: 15px 20px;
	}

	.atualizacao-series {
		background-position: 15px 23px;
		padding: 21px 10px 22px 35px;
	}

	.btn-busca.btn-xs {
		display: block;
	}

	#form-busca {
		display: none;
		position: absolute;
	    right: 0;
	    top: 0;
	    width: 63%;
	}

	.bg-busca {
	    width: 89%;
	}

	.btn-busca {
	    width: 11%;
	}
	
	.hidden-xs {
		display: none;
	}

	.hidden-sm {
		display: none;
	}

	.box-video-destaque {
	    width: calc(100% / 3);
	}

	.box-descricao .btn-assistir {
	    font-size: 20px;
	}

	.box-video {
	    width: calc(100% / 4);
	}

	.box-video .box-descricao {
	    bottom: -1px;
	}

	.info-geral {
		display: none !important;
	}

	/* ===== PÁGINA DE FILMES ===== */
	.col-left,
	.col-right {
	    width: 100%;
	    float: none;
	}

	.detalhes-filme {
	    overflow: hidden;
	}

	.row-detalhe {
	    float: left;
	    height: 60px;
	    width: calc(100% / 3);
	    overflow: hidden;
	}

	.row-detalhe.border-right-xs {
		border-right: 1px solid #ababab
	}

	.row-detalhe.no-border-bottom-xs {
		border-bottom: 0 none;
	}

	.detalhes-filme.detalhes-xs {
		display: block;
	}

	.videos-relacionados {
		margin: 25px 0 0;
	}

	.titulo-relacionados {
	    font-size: 27px;
	    margin: 10px 32px 0 0;
	}

	.titulo-relacionados:hover,
	.titulo-relacionados.active {
	    margin: 0 32px 0 0 !important;
	}

	/* ===== PÁGINA DE SÉRIES ===== */
	.lista-episodios {
		width: 100%;
		float: none;
	}

	.lista-episodios:last-child {
		margin: 20px 0 0;
	}
}

@media screen and (max-width: 767px) {
    .container {
    	width: 320px;
    }

    #content-site {
		margin: 80px 0 0;
	}

    #logo-tipo {
	    width: 255px;
	    margin-bottom: 15px;
	}

	.titulo-menu,
	.atualizacao-series,
	.hidden-xs {
		display: none;
	}

	.hidden-xs2 {
		display: none !important;
	}

	.titulo-menu.topo-xs,
	.atualizacao-series.btn-xs {
		display: block;
	}

	#menu-principal {
	    width: 55px;
	    float: right;
	    margin: 0;
	}

	.titulo-menu.topo-xs {
		background-color: #a50608;
		background-position: center;
		padding: 21px;
	}

	#menu-principal .categorias {
		display: none !important;
	}

	.atualizacao-series.btn-xs {
		padding: 25px 33px;
		background-color: #a50608;
		background-position: 28px 23px;
		margin: 0 0 0 5px;
	}

	.atualizacao-series.btn-xs:hover,
	#menu-principal:hover .titulo-menu.topo-xs {
		background-color: #820002;
	}

	#form-busca,
	.btn-busca.btn-xs {
		display: none;
		top: 55px;
	    width: 100%;
	}

	.bg-busca {
	    width: 80%;
	    height: 65px;
	}

	.btn-busca {
	    width: 20%;
	    height: 65px;
	}

	.content-player {
	    margin-left: 0;
	    width: 100%;
	}

	.titulo-destaque,
	.box-info-video .titulo {
		font-size: 18px;
	}

	.box-video-destaque {
	    float: none;
	    margin: 0 auto;
	    width: 92%;
	}

	.galeria-videos {
	    margin: 0 0 0 -5px;
	    width: 103%;
	}

	.box-video {
	    width: calc(100% / 2);
	    padding: 0 8px;
	}

	.box-video .info-geral {
		display: none !important;
	}

	.box-video .box-descricao {
	    bottom: -1px;
	}

	.box-popup .titulo {
		width: 67%;
	}

	.box-update-series {
	    width: calc(100% / 2);
	}

	/* ===== PÁGINA DE FILMES ===== */
	.col-left,
	.col-right {
	    width: 100%;
	    float: none;
	}

	.lista-players a {
	    font-size: 16px;
	}

	.player-video {
	    height: 298px;
	}

	.box-info-video p {
	    font-size: 11px;
	}

	.compartilhar p b {
		line-height: 31px;
	}

	.btn-compartilhar {
	    overflow: hidden;
	    margin: 6px 0 0 7px;
	    padding: 12px 20px 0 19px;
	    white-space: nowrap;
	    width: 37px;
	}

	.box-aviso {
	    height: 65px;
	}

	.box-aviso p {
		margin: 7px 0 0 5px;
	    line-height: 16px;
	    width: 65%;
	}

	.box-aviso span {
	    padding: 23px 11px;
	}

	.detalhes-filme.detalhes-xs {
		display: block;
	}

	.detalhes-xs .thumb {
		width: 120px;
		height: 160px;
		float: left;
		margin: 0 10px 0 0;
	}

	.detalhes-xs .thumb img {
		width: 100%;
	}

	.detalhes-xs .box-descricao {
		float: none;
		width: auto;
		overflow: hidden;
		padding: 5px;
	}

	.detalhes-xs .titulo {
	    font-size: 20px;
	}

	.detalhes-xs .btn-acoes {
		float: left;
	    margin: 5px auto 0;
	    padding: 10px 0 10px 35px;
	    width: 170px;
	}

	.videos-relacionados {
		margin: 25px 0 0;
	}

	.titulo-relacionados .block-xs2 {
		display: inline-block;
	}

	.titulo-relacionados:hover,
	.titulo-relacionados.active {
	    margin: 0 15px 0 0 !important;
	}

	.titulo-relacionados {
	    font-size: 13px;
	    margin: 10px 15px 0 0;
	}

	.box-popup.box-exibir-serie .content {
		height: 300px;
	}

	/* ===== PÁGINA DE SÉRIES ===== */
	.lista-episodios {
		width: 100%;
		float: none;
	}

	.lista-episodios:last-child {
		margin: 20px 0 0;
	}

	.row-lista .item-lista {
	    padding: 15px 9px;
	}

	.nome-episodio {
	    width: 53%;
	}

	.row-lista a {
	    padding: 19px 5px 20px !important;
	}

	.box-popup .content .titulo {
	    width: 100% !important;
	    white-space: normal;
	}

	.box-popup .lista-players a {
	    padding: 10px !important;
	}

	.top-menu-abas.lista-players a {
	    font-size: 14px;
	    margin: 0 5px 10px 0 !important;
	}

	.lista-temporadas .titulo-relacionados:hover,
	.lista-temporadas .titulo-relacionados.active {
	    margin: 0 5px 10px 0 !important;
	}

	.player-video.box-temp-old > table td {
	    padding: 2px;
	    width: 100%;
	}

	.player-video.box-temp-old table b {
	    font: normal 14px 'latoBlack';
	}

	.box-video-destaque .thumb {
		max-width: 100%;
	}
}