@charset "UTF-8";
/* CSS Document */
*{padding:0; margin:0; list-style:none;}
body {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:12px; line-height:15px; color:#102747;}
img {border:0 none;}
video, embed, object, .videocontent {max-width:100% !important;}
.video-clicktoplay-max {max-width:100% !important;}
.video-clicktoplay-inner {position:relative; padding-bottom:50%; padding-top:30px; height:0; overflow: hidden; background:#000;}
.video-clicktoplay-inner iframe, .video-clicktoplay-inner object, .video-clicktoplay-inner embed{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block; clear:both; vertical-align:baseline;}
a {color:#102747; text-decoration:none;}
a:hover {color:#104386; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}

.title {font-size:35px; line-height:40px; font-weight:700;}
.title2 {font-size:18px; line-height:22px; font-weight:700;}
.title3 {font-size:17px; line-height:20px; font-weight:bold;}
.title4 {font-size:15px; line-height:17px; font-weight:bold;}
.sectitle {font-size:20px; line-height:24px; font-weight:700; margin-bottom:15px;clear:both;}
.sectitle2 {font-size:25px; line-height:30px; font-weight:700; margin-bottom:15px;}
.sectitle3 {font-size:25px; line-height:30px; font-weight:bold; margin-bottom:15px; padding:10px 0; color:#104386; text-align:center; text-transform:uppercase; clear:both;}
.date {color:#888; margin:10px 0 15px;}
.date strong {color:#222;}
.summary {font-size:14px; line-height:18px;}
.photo {line-height:0;}
.photo img {width:100%;}
.photo img:hover {-webkit-box-shadow: 1px 1px 1px 1px #bbb; box-shadow: 1px 1px 1px 1px #bbb;}
.clr {clear:both;}
.lft {float:left;}
.rht {float:right;}
.ic-time {background:url(../images/icons.png) no-repeat 0 -410px; width:22px; height:22px; display:inline-block; vertical-align:middle; margin-right:10px;}
.hide {display:none;}

.innerwrap {width:1040px; margin:0 auto;}
.header {width:100%; float:left;}
.header-mb {display:none;}
.header .logo {width:100%; float:left; clear:both; padding:10px 0; text-align:center;}
.nav {width:100%; float:left; height:42px;}
.nav .innerwrap {position:relative; height:42px; background:#102747;}
.nav .menu {float:left; margin-left:20px;}
.nav .menu li {float:left;}
.nav .menu a {color:#fff; font-size:14px; line-height:42px; text-transform:uppercase; padding:0 10px; display:inline-block;}
.nav .menu a:hover {background:#104386;}
.nav .srch {float:right;}
.nav .srch .ic-srch {background:url(../images/icons.png) no-repeat 0 -32px; width:42px; height:42px; display:inline-block;}
.nav .srch .ic-srch:hover {background-color:#1d3961;}
.nav .srch .ic-srch span {display:none;}
.nav .srch .con {display:block; position:absolute; top:100%; right:0; padding:10px; background:#104386;}
.nav .srch .input {background:#fff; border:none; font-size:14px; color:#888; padding:8px 10px;}
.nav .srch .btn {background:#fff; border:none; font-size:14px; color:#003399; padding:8px 10px; margin-left:5px; cursor:pointer;}
.nav .srch .btn:hover {background:#041d51; color:#fff;}

.hd-topic {width:100%; float:left; text-align:center; clear:both; font-weight:700; font-size:16px; line-height:20px;}
.hd-topic .innerwrap {background:#eeeff0; padding:15px 0;}
.hd-topic .ic-quotes {background:url(../images/icons.png) no-repeat 0 -104px; width:23px; height:17px; display:inline-block; margin-right:15px; vertical-align:middle;}
.hd-topic .ic-quotes2 {background:url(../images/icons.png) no-repeat -53px -104px; width:23px; height:17px; display:inline-block; margin-left:15px; vertical-align:middle;}
.hd-topic .ttl {color:#d75128;}
.hd-ad {width:100%; float:left; text-align:center; clear:both; padding:8px 0 5px; background:#eaeaea;}

.contents {width:100%; float:left; padding:20px 0 0;}
.contents .innerwrap {width:1000px; padding:0 10px;}
.contents2 {width:100%; float:left;}

.contents .body {width:67%; float:left; margin-bottom:20px;}
.contents .side {width:30%; float:right; margin-bottom:20px;}
.widget-repeat img {width:100% }
.mcon {width:100%; float:left; clear:both; margin-bottom:20px;}
.mcon2 {width:58.7%; float:right;}
.mcon2 .list {width:100%; float:left; clear:both; border-bottom:#ddd 1px dotted; margin-bottom:15px;}
.mcon3 {width:36.9%; float:left;}
.mcon3 .list {width:100%; float:left; clear:both; margin-bottom:5px;}
.mcon3 .list .photo {margin-bottom:10px;}
.mcon4 {width:100%; float:left; clear:both; margin:0 0 25px; position:relative;}
.mcon4 h3 {position:absolute; bottom:0; left:0; width:92%; background:rgba(0,0,0,0.6); padding:20px 4%; color:#fff;}
.mcon4 a:hover h3 {text-decoration:underline;}
.mcon5 {width:100%; float:left; clear:both;}
.mcon5 .hid {display:none;}
.mcon5 .list {width:22.9%; float:left; margin-right:2.8%; margin-bottom:20px;}
.mcon5 .list2 {width:22.9%; float:right; margin-bottom:20px;}
.mcon5 .photo {margin-bottom:10px;}

.at-title {font-size:24px; line-height:30px; font-weight:700;}
.at-sns {width:100%; float:left; clear:both; font-size:11px; color:#fff; text-transform:uppercase;}
.at-sns a {color:#fff;}
.at-sns .fb, .at-sns .tw {padding:10px 0; text-align:center; display:inline-block; vertical-align:middle;}
.at-sns .fb {background:#306199; width:49.5%; float:left;}
.at-sns .tw {background:#26c4f1; width:49.5%; float:right;}
.at-sns .fb:hover {background:#244872;}
.at-sns .tw:hover {background:#0eaad6;}
.at-sns .g {background:#dd4b39;}
.at-sns .comt {background:#333333;}
.at-sns i {margin-right:2px; width:16px; height:16px; display:inline-block; vertical-align:middle;}
.at-sns .fb i {background:url(../images/icons.png) no-repeat -61px -157px;}
.at-sns .tw i {background:url(../images/icons.png) no-repeat -61px -183px;}
.at-sns .g i {background:url(../images/icons.png) no-repeat -61px -209px;}
.at-sns .comt i {background:url(../images/icons.png) no-repeat -61px -261px;}
.at-share {background: #315699; width: 100%; height: 55px; display: block; clear: both;  margin-bottom: 20px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; color: #fff;}
.at-share a {color: #fff; font-size:20px; line-height:55px!important; font-weight:700; text-align: center; display: block;}
.at-share a:hover {background: #27418b; cursor: pointer;}
.at-share i {background: url(../images/icons.png) no-repeat 0 -151px; width: 42px; height: 42px; display: inline-block; vertical-align: middle;}

.article {width:100%; float:left; clear:both; margin-bottom:20px;}
.article p {font-size:16px; line-height:24px; margin-bottom:20px; color:#333;}
.article p a {color:#003399; text-decoration:underline;}
.article p a:hover {text-decoration:none;}
.at-photo {width:100%; float:left; text-align:center; clear:both; margin-bottom:20px;}
.at-photo img {max-width:100%;}
.article .caption {font-size:12px; color:#888; margin:5px 0; text-align:center;}
.at-slide {width:100%; float:left; clear:both; position:relative; margin-bottom:20px;}
.at-slide .prev {background:rgba(0,51,153,0.9) url(../images/icons.png) no-repeat 0 -462px; width:50px; height:50px; display:inline-block; position:absolute; top:38%; left:0; cursor:pointer;z-index:100}
.at-slide .next {background:rgba(0,51,153,0.9) url(../images/icons.png) no-repeat -60px -462px; width:50px; height:50px; display:inline-block; position:absolute; top:38%; right:0; cursor:pointer;z-index:100}
.at-slide .prev:hover, .at-slide .next:hover {background-color:rgba(0,51,153,0.6);}
.at-slide .num {text-align:center; font-size:14px; color:#555;}
.controller {text-align: center;margin:0 auto;}
.controller .prev {background:rgba(0,51,153,0.9) url(../images/icons.png) no-repeat 0 -462px; width:50px; height:50px; display:inline-block; top:38%; left:0; cursor:pointer;z-index:100}
.controller .next {background:rgba(0,51,153,0.9) url(../images/icons.png) no-repeat -60px -462px; width:50px; height:50px; display:inline-block;  top:38%; right:0; cursor:pointer;z-index:100}
.controller .prev:hover, .at-slide .next:hover {background-color:rgba(0,51,153,0.6);}
.at-side {width:250px; float:left; margin-right:20px; margin-bottom:10px;}
.at-tag {width:100%; float:left; clear:both; margin:10px 0 20px; line-height:22px;}
.at-tag .ttl {background:#eaeaea; padding:5px 10px; margin-right:10px; font-weight:bold;}
.at-tag a {margin:0 6px; display:inline-block; color:#666;}
.at-copy {width:100%; float:left; padding:5px 0; clear:both; color:#888;}
.at-rel {width:100%; float:left; clear:both; margin-bottom:30px;}
.at-rel h3 {padding:5px 0; text-align:center;}
.at-comt {width:100%; float:left; clear:both; overflow:hidden;}
.at-moreread {width:100%; float:left; clear:both; margin-bottom:20px; border-bottom:#eee 1px solid; border-top:#eee 1px solid;}
.at-moreread .list {width:40%; float:left; margin:0 5% 20px;}
.at-ad {width:100%; float:left; text-align:center; clear:both; margin-bottom:20px; overflow:hidden;}
.at-ad2 {width:100%; float:left; text-align:center; clear:both; margin-bottom:20px; overflow:hidden;}

.s-sns {width:100%; float:left; clear:both; margin-bottom:20px;}
.s-sns .ttl {font-size:18px; line-height:22px; font-weight:bold; }
.s-sns .col {width:100%; float:left; clear:both; padding:12px 0; text-align:center; border-bottom:#ddd 1px dotted; margin-bottom:15px;}
.s-sns .col a {width:42px; height:42px; display:inline-block; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; margin:0 8px;}
.s-sns .col a:hover {opacity:0.8;}
.s-sns .col a span {display:none;}
.s-sns .col .fb-b {background:#325a97 url(../images/icons.png) no-repeat 0 -151px;}
.s-sns .col .tw-b {background:#00aced url(../images/icons.png) no-repeat 0 -213px;}
.s-sns .col .g-b {background:#dd4b39 url(../images/icons.png) no-repeat 0 -275px;}
.s-sns .col .rss-b {background:#eb8e3c url(../images/icons.png) no-repeat 0 -337px;}
.s-sns .like {display:inline-block;}
.s-sns .col2 {width:100%; float:left; padding:12px 0; clear:both;}
.s-sns .input {border:none; background:#eaeaea; font-size:12px; color:#888; padding:10px 5%; width:55%;}
.s-sns .btn {font-size:12px; text-transform:uppercase; color:#fff; padding:10px 5%; width:35%; border:none; cursor:pointer; background:#104386;}
.s-sns .btn:hover {opacity:0.8;}
.s-bn {width:100%; float:left; clear:both; text-align:center; margin-bottom:20px;}
.scon {width:100%; float:left; clear:both; margin-bottom:20px;}
.scon .list {width:88%; float:left; padding:15px 0 0 12%; clear:both; position:relative; border-bottom:#ddd 1px dotted;}
.scon .num {width:36px; font-family:Helvetica, Arial, sans-serif; font-size:30px; line-height:35px; font-weight:bold; color:#999999; text-align:center; position:absolute; top:20px; left:0;}
.scon .photo {width:35%; float:right; margin-left:15px;}

.sec-con {width:100%; float:left; clear:both; margin-bottom:20px;}
.sec-con .photo {margin-bottom:10px;}
.sec-con2 {width:100%; float:left; clear:both; padding:20px 0;}
.sec-con2 .photo {width:35%; float:left; margin-right:20px; margin-bottom:10px;}
.page {width:100%; float:left; clear:both; text-align:center; margin:20px 0;}
.page a.num {font-size:14px; line-height:20px; display:inline-block; margin:5px 10px;}
.page a.num:hover {text-decoration:underline;}
.page a.on { font-weight:bold;}

.fcontents {width:100%; float:left; padding:0 0 25px;}
.fcontents .innerwrap {padding-top:25px;}
.fcontents .list {width:18%; float:left; margin-right:2.5%; margin-bottom:20px;}
.fcontents .list2 {width:18%; float:right; margin-bottom:20px;}
.fcontents .photo {margin-bottom:10px;}
.fcontents .caty {font-size:15px; font-weight:bold; color:#104386; margin-bottom:15px;}

footer {width:100%; float:left; text-align:center; color:#fff;}
footer .innerwrap {background:#102747; padding:20px 0;}
.f-logo {width:100%; float:left; margin-bottom:20px; clear:both;}
.f-menu {width:100%; float:left; font-size:14px; line-height:22px; font-weight:bold; margin-bottom:20px; clear:both;}
.f-menu a {color:#fff; margin:0 8px; white-space:nowrap; display:inline-block;} .f-menu a:hover {text-decoration:underline;}
.f-sns {width:100%; float:left; margin-bottom:20px; clear:both;}
.f-sns a {width:16px; height:16px; display:inline-block; vertical-align:middle; background:url(../images/icons.png) no-repeat 0 0; margin-left:10px;}
.f-sns a span {display:none;}
.f-sns .fb {background-position:-61px -157px; background-color:#325a97;}
.f-sns .tw {background-position:-61px -183px; background-color:#00aced;}
.f-sns .g {background-position:-61px -209px; background-color:#dd4b39;}
.f-sns .rss {background-position:-61px -235px; background-color:#e78700;}
.f-subscribe {width:100%; float:left; clear:both; margin-bottom:20px;}
.f-subscribe .input {background:#fff; border:none; font-size:14px; color:#003399; padding:10px 20px; width:300px;}
.f-subscribe .btn {background:#104386; border:none; font-size:14px; color:#fff; padding:10px; width:110px;}
.f-subscribe output {margin-top:5px; clear:both; display:block;}
.f-copy {width:100%; float:left; clear:both; margin-bottom:20px;}
.f-ad {width:100%; float:left; text-align:center; clear:both;}
.fnav {display:none;}

.tv-con {width:94%; float:left; background:#222; clear:both; color:#fff; padding:20px 3%; margin-bottom:25px;}
.tv-con .lft {width:62%; text-align:center; margin-bottom:10px; background:#000;}
.tv-con .rht {width:37%;}
.tv-con .lft img {width:100%;}
.tv-con .summary {margin-bottom:15px;}
.tv-con .date {color:#bc0000; margin:10px 0;}
.tv-con .ad {text-align:center; clear:both; margin:10px 0;}
.tv-con2 {width:100%; float:left; clear:both;}
.tv-con2 .photo {margin-bottom:10px; position:relative;}
.tv-con2 .on .play {border:#003399 5px solid; display:block; position:absolute; top:0; bottom:0; right:0; left:0; background:url(../images/ic-play.png) no-repeat 5% 95%; opacity:1;}
.tv-con2 a .play {border:#003399 5px solid; display:block; position:absolute; top:0; bottom:0; right:0; left:0; background:url(../images/ic-play.png) no-repeat 5% 95%; opacity:0;}
.tv-con2 a:hover .play {opacity:1; -webkit-transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; transition:all 0.2s ease-in-out;}
.tv-con2 .list {width:30.6%; float:left; margin-right:4%; margin-bottom:20px;}
.tv-con2 .list2 {width:30.6%; float:right; margin-bottom:20px;}
.tv-con2 .more {width:99.8%; background:#ddd; border:#fff 1px solid; font-size:14px; text-align:center; padding:10px 0; display:block;}
.tv-con2 .more:hover {background:#fff; border:#003399 1px solid;}

.au-con {width:100%; float:left; clear:both;}
.au-ttl {font-size:18px; line-height:24px; margin-bottom:20px; font-weight:bold;}
.au-ttl2 {font-size:15px; line-height:20px; margin-bottom:20px; font-weight:bold;}
.au-txt {font-size:14px; line-height:22px; margin-bottom:20px;}
.au-list {font-size:14px; line-height:22px; margin-bottom:20px; margin-left:30px;}
.au-list li {padding:8px 0;}

.ad-sample { width: 100%; clear: both;}
.ad-sample:before, .ad-sample:after { content: ""; display: table; }
.ad-sample:after { clear: both; }
.ad-sample span {text-align: center; font-size: 0.688em; text-transform: uppercase; color: #ddd; margin-bottom: 0.625em; display: block; clear: both; }

@media screen and (max-width:1000px) {
.innerwrap {width:92%; margin:0 4%;}
.contents .innerwrap {width:90%; margin:0 5%; padding:0;}
.nav .menu a {font-size:13px; padding:0 6px;}
.at-photo img {width:100%;}
.article .imageBox img {width:100%!important;}
.article .imgBox {width:100%;}
.article .imgNone {width:100%;}
.article .imageNone {width:100%!important;}
.article .imageNone img {width:100%;}
}
@media screen and (max-width:950px) {
.nav .menu a {padding:0 5px;}
.contents .body, .tv-con .lft {width:50%; float:left;}
.contents .side, .tv-con .rht {width:47%; float:right;}
.mcon2, .mcon3 {width:100%; float:left; clear:both;}
.mcon3 .list {margin-bottom:20px;}
.mcon3 .list .photo {width:35%; margin-right:20px; margin-bottom:0; float:left;}
.title {font-size:32px; line-height:37px;}
}
@media screen and (max-width:850px) {
.nav .menu a {font-size:11px; padding:0 4px;}
}
@media screen and (max-width:790px) {
.header, .hd-ad, .f-ad, .hd-topic {display:none;}
.header-mb {display:block; width:100%; float:left; background:#102747; padding:10px 0; position:fixed; top:0; left:0; z-index:100;}
.header-mb .logo {float:left;}
.header-mb .nav-mb {float:right; margin-top:20px; display:inline-block;}
.header-mb .ic-nav {background:url(../images/icons.png) no-repeat 0 0; width:20px; height:17px; display:inline-block;}
.header-mb .ic-nav span {display:none;}
.header-mb .menu {width:90%; display:block; position:absolute; top:100%; left:0; padding:5px 5% 10px; background:#102747;}
.header-mb .menu li {float:left;}
.header-mb .menu a {color:#fff; font-size:14px; line-height:24px; padding:0 10px; display:inline-block;}
.header-mb .srch {float:right; margin-top:9px; margin-right:15px;}
.header-mb .srch .ic-srch {background:url(../images/icons.png) no-repeat 0 -32px; width:42px; height:42px; display:inline-block;}
.header-mb .srch .ic-srch:hover {background-color:#44485a;}
.header-mb .srch .ic-srch span {display:none;}
.header-mb .srch .con {width:90%; display:block; position:absolute; top:100%; left:0; padding:10px 5%; background:#44485a;}
.header-mb .srch .input {background:#fff; border:none; font-size:14px; color:#888; padding:8px 5%; width:58%;}
.header-mb .srch .btn {background:#fff; border:none; font-size:14px; color:#003399; padding:8px 4%; width:23%; margin-left:5px; cursor:pointer;}
.header-mb .srch .btn:hover {background:#041d51; color:#fff;}
body {padding-top:80px;}
.contents {padding-top:0;}
.contents .body, .contents .side, .tv-con .lft, .tv-con .rht {width:100%; float:left; clear:both;}
.mcon4 h3 {position:relative; top:0; left:0; clear:both;}
.mcon5 .hid {clear:both; display:block;}
.mcon5 .list, .mcon5 .list2 {width:47%; float:left; margin:0 1.5% 20px;}
.fcontents .list, .fcontents .list2 {width:100%; float:left; margin-right:0; margin-bottom:20px;}
.fcontents .photo {width:35%; float:left; margin-right:20px; margin-bottom:0;}
}
@media screen and (max-width:540px) {
.header-mb .logo img {width:250px; margin-top:5px;}
.header-mb .nav-mb {margin-top:12px;}
.header-mb .srch {margin-top:0; margin-right:10px;}
.title {font-size:30px; line-height:35px;}
.at-side {width:100%; float:left; text-align:center; clear:both;}
.at-sns .fb, .at-sns .tw {width:100%; float:left; clear: both; padding: 15px 0;}
.f-subscribe .input {padding:10px 5%; width:45%;}
.f-subscribe .btn {padding:10px 5%; width:35%;}
.fnav {display:block; width:100%; float:left; background:#ddd; text-align:center;}
.fnav .btn {width:33.3%; font-size:15px; font-weight:bold; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; color:#000; padding:15px 0; display:inline-block;}
.tv-con2 .list, .tv-con2 .list2 {width:100%; float:left; margin-right:0;}
.tv-con2 .photo {width:35%; float:left; margin-right:20px;}
}
@media screen and (max-width:350px) {
.header-mb .logo img {width:210px; margin-top:7px;}
}

.related_box_name_mobile {
	border-top: 3px solid #ddd;
    width: 100%;    
    font-size: 1.3rem;
    line-height: 2.0rem;
    text-transform: uppercase;
    clear: both;
    padding: 10px 5px;
}
.related_article_box_mobile {
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}


.related_article_box_mobile .art_list_mobile {
    margin: 0 2%;
    width: 46%;
    clear: none;  
    padding: 10px 0;
    float: left;
        }
.related_article_box_mobile  a   {
    color: #111;
    text-decoration: none;}
    .art_related_photo_mobile img {
    width: 100%;
}

.related_article_box_mobile  a:hover {
    color: #8abb22;
    text-decoration: none;}
.art_related_title_mobile{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.0rem;
    letter-spacing: -0.03em;
    font-family: 'Viga', sans-serif;
}
.related_article_box_mobile .clearfix {
    clear: both;
    display: block;
}


.bk-desktop_related {   border-bottom: 3px solid #ddd; clear: both;} 
.bk-desktop_related .bk-hd_desktop_related{    border-top: 3px solid #ddd; clear: both;}
.bk-desktop_related .bk-bd_desktop_related {padding:10px;}
.bk-desktop_related .bk-con_desktop_related { width: 23%; float:left; margin-right:2%; position:relative; display:block;}
.bk-desktop_related .bk-con_desktop_related.last {margin-right:0;}
.bk-desktop_related .bk-con_desktop_related.first {clear: both;}
.bk-desktop_related .art-img_desktop_related {width:100%;}
.bk-desktop_related .art-txt_desktop_related {padding:0 0 15px 0;}
.bk-desktop_related .art-ttl_desktop_related {font-size:14px; line-height:16px;}
.bk-desktop_related .ttl-lft {float: left;padding: 10px 2px;}  
.bk-desktop_related .clearfix {clear:both; display:block; height:0;}
.adunit_leaderboard_phone {
    width: 100%;
    float: left;
    text-align: center;
    clear: both;
    overflow: hidden;
    padding-bottom: 10px;
     padding-top: 10px;
 
}