.banner {
	height: 360px;
	width: 100%;
	background: #000;
}
.b_inner {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 1440px;
	height: 360px;
}
.inner {
	margin: 0 auto;
	position: absolute;
	width: 700%;
	height: 360px;
}
.inner img {
	float: left;
	height: 360px;
}
.tip {
	position: absolute;
	right: 45%;
	bottom: 20px;
	overflow: hidden;
	z-index: 10;
}
.tip li {
	float: left;
	margin-left: 15px;
	width: 20px;
	height: 5px;
	background: #9b9ea1;
	cursor: pointer;
	border-radius: 3px;
}
.tip li.bg {
	background: #d7d8d9;
}
/*------*/
.mask {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-image: linear-gradient(to right, #000, transparent, #000);
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content .contentLeft {
	float: left;
	width: 680px;
}
.content .contentLeft p {
	padding: 30px 0 10px 0;
	color: #17adc1;
	border-bottom: 1px solid #ddd;
}
.content .contentLeft .change_tab {
	padding: 30px 0 10px 0;
	border-bottom: 1px solid #ddd;
}
.content .contentLeft .change_tab li {
	cursor: pointer;
	float: left;
}
.content .contentLeft .change_tab li span {
	border-left: 1px solid #ddd;
	padding: 0 20px;
}
.content .contentLeft .change_tab li.select a {
	color: #3cb0fa;
}
.contentRight {
	float: right;
	width: 260px;
}
.article {
	/*height: 250px;*/
	border-bottom: 1px solid #ddd;
	padding: 30px 0;
}
.article .img {
	float: left;
	overflow: hidden;
	position:relative;
	width:200px;
	
}
.article .img img{ width:200px; height:112px;}
.article .img .time{ position:absolute; z-index:999; bottom:10px; right:10px; background-color:#333; opacity:0.8; padding: 0 5px ; color:#fff; border-radius:10px;}
.article .img .time span{ width:60px; height:20px; line-height:20px;  display:inline-block; background-image:url(../images/1111.png); background-position:left center; background-repeat:no-repeat; background-size:15px 15px; padding-left: 20px;}

.article .words {
	margin-left: 30px;
	width: 450px;
	float: right;
}
.hot {
	margin-top: 8px;
	float: left;
	text-align: center;
	margin-right: 10px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #3cb0fa;
	color: #fff;
}
.part1 h3 {
	font-size: 18px;
}
.part1 .title {
	font-size: 24px;
	color: #333;
}
.part2 {
	margin: 18px 0;
}
.part2 a {
	color: #3cb0fa;
}
.part2 span {
	color: #acacac;
}
.p_mid {
	margin: 0 25px;
}
.part3 {
	color: #8c8c8c;
	margin: 10px 0;
	font-size: 16px;
}
.part4 span {
	color: #3cb0fa
}
/*right content*/
.contentRight p {
	padding: 30px 0 10px 0;
	color: #333;
	border-bottom: 1px solid #ddd;
}
.contentRight {
	padding-left: 5px;
}
.conR_up>div {
	border-left: 1px solid #ddd;
	height: 80px;
}
.conR_up>div:last-child{border-left:none}
.fir {
	margin-top: 20px;
}
.sign {
	float: left;
	background: #3cb0fa;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	margin-left: -4px;
}
.s_content {
	margin-left: 30px;
}
.contentRight .last {
	margin-bottom: 80px;
	border: none;
}
.contentRight .touT {
	border-bottom: 1px solid #ddd;
	height: 35px;
	line-height: 35px;
}
.touT_state {
	border-bottom: 1px solid #ddd;
	height: 100px;
}
.touT_state > img {
	float: left;
	width: 60px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.touT_state .right {
	margin: 25px 0 0 20px;
	float: left;
}
.touT_state .right>div:nth-child(1) {
	color: #17adc1;
}
.colorFont {
	color: #f16b7a;
}
.word2 {
	float: right;
	width: 250px;
}
.word2> h3 {
	margin-bottom: 30px;
	font-size: 18px;
}
.word2 .part {
	color: #8c8c8c;
}
