@charset "utf-8";
/* CSS Document */


/*@头条客*/

.headerline_header {
	width: 100%;
	height: 360px;
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-width: 1260px;
}
.headerline_header_login {
	width: 1200px;
	height: 360px;
	margin: 0 auto;/*	position: relative;*/
}
.headerline_header_login_lump {
	width: 320px;
	height: 320px;
	background-color: #fff;
	/*position: absolute;
	right: 0;
	top: 20px;*/
	border-radius: 20px;
	float: right;
	margin-top: 20px;
}
.headerline_header_login_lump .title {
	width: 240px;
	margin: 20px auto 0 auto;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.headerline_header_login_lump .name {
	width: 240px;
	margin: 20px auto 0 auto;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #dddddd;
	position: relative;
}
.headerline_header_login_lump .password {
	width: 240px;
	margin: 20px auto 0 auto;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #dddddd;
	position: relative;
}
.oName {
	border: none;
	height: 35px;
	width: 170px;
	padding: 0 5px;
	background-color: #fff;
	font-size:14px;
}
.oName_label {
	height: 35px;
	width: 100px;
	padding: 0 5px;
	font-size: 10px;
	color: #F00;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #fff;
}
.headerling_loginButton {
	display: block;
	width: 240px;
	height: 40px;
	border-radius: 20px;
	margin: 20px auto 0 auto;
	border: none;
	background-color: #17adc1;
	color: #fff;
}
.headerline_header_login_lump .news {
	width: 240px;
	margin: 10px auto 0 auto;
	height: 35px;
	line-height: 35px;
	font-size:14px;
}
.headerline_header_login_lump .news .left {
	float: left;
}
.headerline_header_login_lump .news .right {
	float: right;
}
.oLeft {
	width: 680px;
	float: left;
}
.oRight {
	width: 260px;
	float: right;
}
.headerline_bodyer {
	width: 1000px;
	margin: 30px auto;
}
.title_HeaderlineLeft {
	border-bottom: 1px solid #dddddd;
	color: #17adc1;
	font-size: 16px;
	padding-bottom: 5px;
}
.headerlineLeft_list {
	margin-bottom: 60px;
}
.headerlineLeft_list li {
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #dddddd;
}
/*.headerlineLeft_list li:last-child{border-bottom:none;}*/
.headerlineLeft_list li .oLeft_div {
	float: left;
	margin: 25px 0;
	display: block;
}
.headerlineLeft_list li .oRight_div {
	float: right;
	margin: 25px 0;
	width: 100px;
	height: 40px;
	line-height: 40px;
	display: block;
	border: 1px solid #17adc1;
	border-radius: 20px;
	color: #17adc1;
	text-align: center;
	cursor: pointer;
}
.headerlineLeft_list li .oRight_div_current {
	border: 1px solid #ddd;
	color: #666;
}
.headerlineLeft_list li .oLeft_div .headerline_imgList {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	border-radius:60px;
}
.headerlineLeft_list li .oLeft_div .headerline_messageList {
	display: block;
	float: left;
	margin-left: 15px;
	width: 445px;
	height: 60px;
}
.headerlineLeft_list li .oLeft_div p {
	height: 30px;
	line-height: 30px;
}
.pColors {
	color: #17adc1;
	font-size: 16px;
}
.pColors_2 {
	color: #666;
}
.title_HeaderlineRight {
	border-bottom: 1px solid #dddddd;
	color: #333;
	font-size: 16px;
	padding-bottom: 5px;
}
.headerlineRight_hotArticleList {
	margin-top: 25px;
	width: 100%;
}
.headerlineRight_hotArticleList li {
	position: relative;
	padding: 0 15px 30px 15px;
	line-height: 1.6;
	border-left: 1px solid #ddd;
}
.headerlineRight_hotArticleList li:last-child {
	border-left: none;
}
.headerline_green {
	position: absolute;
	top: 0px;
	left: -4px;
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 7px;
	background-color: #7eced9
}
.headerlineRight_hotArticleList li:last-child span {
	left: -3px;
}
/*@选题会*/
.headerline_bodyer .oMiddle {
	width: 1000px;
}
.oMiddle dl {
	margin-right: 40px;
	float: left;
	width: 306px;
	margin-bottom: 30px;
	min-height:332px;
}
.oMiddle dl:nth-child(3n) {
	margin-right: 0;
}
.oMiddle dl dt img {
	width: 306px;
	height: 172px;
}
.oMiddle dl dd p {
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 15px;
	max-height:50px;
	
}
.oMiddle dl dd span {
	display: block;
	font-size: 14px;
	color: #999;
	line-height: 1.6;
	margin-bottom: 15px;
	max-height:30px;
}
.oMiddle dl dd .chooseTi_i {
	margin-bottom: 15px;
	color: #999;
	max-height:30px;
}
.oMiddle dl dd .chooseTi_i i em {
	color: #17adc1;
	font-size: 18px;
}
.chooseTi_i i:first-child {
	float: right;
}
.chooseTi_i i:last-child {
	float: left
}
.chooseTi_nav {
	width: 1000px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
	margin: 30px auto;
}
.chooseTi_nav li {
	float: left;
	padding: 0 20px;
	border-left: 1px solid #eee;
	cursor: pointer
}
.chooseTi_nav li:first-child {
	padding-left: 0;
	border-left: none;
}
.chooseTi_nav li.current {
	color: #17adc1
}
.chooseTi_nav li.current a {
	color: #17adc1
}
.chooseTi_nav .prb {
	float: right;
	background-image: url(../images/4.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 15px 15px;
	padding-left: 20px;
}
/*@选题会-详情页*/
.chooseTi_details .title_details {
	font-size: 30px;
}
.chooseTi_details .img_details {
	width: 680px;
	height: 382px;
	margin: 15px auto;
}
.chooseTi_details .chooseTi_introduce {
	padding-left: 10px;
	color: #333;
	font-size: 16px;
	margin: 15px 0 10px 0;
	background-image:url(../images/5.jpg);
	background-position: left top;
	background-repeat: repeat-y;
}
.chooseTi_details .chooseTi_introduce_details {
	border-top: 1px solid #ddd;
	padding: 30px 0;
	margin-top: 15px;
	font-size: 16px;
	line-height: 1.6;
}
.chooseTi_details_list {
	margin-bottom: 60px;
}
.chooseTi_details_list li {
	width: 100%;/* height:110px;*/
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #dddddd;
}
.chooseTi_details_list li .chooseTi_details_imgList {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
}
.chooseTi_details_list li .chooseTi_details_messageList {
	display: block;
	float: left;
	margin-left: 20px;
	width: 610px;
	font-size: 16px;
}
.chooseTi_details_list li .chooseTi_details_messageList p:last-child {
	margin-top: 15px;
	line-height: 1.6;
}
.pColors_3 {
	color: #999
}
.chooseTi_details_list li .chooseTi_details_messageList textarea {
	padding: 5px;
}
.comment_L button {
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #17adc1;
	border-radius: 20px;
	margin-top: 30px;
	color: #17adc1;
	cursor: pointer
}
.comment_L input {
	display: block;
	float: left;
	width: 130px;
	height: 38px;
	margin-top: 30px;
	padding: 0 10px;
}
.comment_L span {
	width: 90px;
	height: 40px;
	display: block;
	margin-left: 15px;
	margin-top: 30px;
	background-color: #CCC;
	float: left;
}
.comment_L em {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color: #F00;
	margin-left: 15px;
	margin-top: 30px;
}
/*投稿Button*/.contribute {
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #17adc1;
	border-radius: 20px;
	margin: 10px 0 0 0;
	color: #fff;
}
.contribute_p {
	margin: 10px 0 60px 0;
	font-size: 16px;
}
/*.more {*/
	/*width: 140px;*/
	/*height: 40px;*/
	/*line-height: 40px;*/
	/*text-align: center;*/
	/*background-color: #fff;*/
	/*border: 1px solid #ddd;*/
	/*border-radius: 20px;*/
	/*margin: 60px auto 100px auto;*/
	/*color: #666;*/
	/*cursor: pointer;*/
/*}*/
/*@常见问题*/

.oLeft_problem {
	width: 260px;
	float: left;
}
.oRight_problem {
	width: 680px;
	float: right;
}
.oLeft_problem li {
	width: 100%px;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: pointer
}
.oLeft_problem li:last-child {
	border-bottom: none;
}
.oLeft_problem li.current {
	color: #17adc1
}
/*@关于我们系列*/
.cooperation li {
	float: left;
	margin-right: 30px;
	margin-top: 30px;
}
.cooperation li {
	height: 160px;
	min-height: 160px;
}
.cooperation li div {
	width: 110px;
	height: 110px;
	border: 1px solid #ddd;
}
.cooperation li p {
	width: 112px;
	text-align: center;
}
.cooperation li div img {
	width: 92px;
	height: 92px;
	margin: 9px auto;
	display: block;
}
.cooperation li:nth-child(5n) {
	margin-right: 0;
}
.cooperation ul {
	margin-top: 15px;
	border-top: 1px solid #ddd;
}
.blogroll {
	margin-top: 20px;
}
.blogroll li {
	float: left;
	border: 1px solid #ddd;
	padding: 5px 10px;
	margin-right: 15px;
	margin-bottom: 30px;
	cursor: pointer;
}
.blogroll li:hover {
	border: 1px solid #17adc1;
	background-color: #f7fdfe;
	color: #17adc1
}
.blogroll li.current {
	border: 1px solid #17adc1;
	background-color: #f7fdfe;
	color: #17adc1
}
/*@个人中心*/
.oLeft_personalCenter {
	width: 260px;
	float: left;
}
.oRight_personalCenter {
	width: 680px;
	float: right;
}
.oLeft_personalCenter li {
	width: 100%px;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: pointer
}
.oLeft_personalCenter li:last-child {
	border-bottom: none;
}
.oLeft_personalCenter li.current a {
	color: #17adc1
}
.oRight_personalCenter ul {
	margin-top: 20px;
}
.oRight_personalCenter ul li {
	position: relative;
	height: 40px;
	margin-bottom: 30px;
}
.oRight_personalCenter ul li label {
	float: left;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: right;
}
.oRight_personalCenter ul li input {
	float: left;
	height: 36px;
	width: 200px;
	padding: 0 10px
}
.oRight_personalCenter ul li span {
	float: left;
	height: 40px;
	line-height: 40px;
	color: #F00;
	margin-left: 15px;
}
.oRight_personalCenter ul li em {
	float: left;
	margin-left: 15px;
	border: 1px solid #17adc1;
	border-radius: 20px;
	height: 38px;
	width: 80px;
	display: inline-block;
	line-height: 38px;
	text-align: center;
	color: #17adc1;
	cursor: pointer
}
.save {
	float: left;
	margin: 20px 30px 20px 0;
	border: 1px solid #ddd;
	border-radius: 20px;
	height: 38px;
	width: 80px;
	line-height: 38px;
	text-align: center;
	color: #666;
	cursor: pointer
}
.del {
	float: left;
	margin: 20px 30px 20px 0;
	border: 1px solid #ddd;
	border-radius: 20px;
	height: 38px;
	width: 80px;
	line-height: 38px;
	text-align: center;
	color: #666;
	cursor: pointer
}
#imageInput {
	position: absolute;
	left: 335px;
	top: 0;
	z-index: 3;
	height: 38px;
	width: 80px;
	opacity: 0;
}
.oFile {
	position: absolute;
	left: 335px;
	top: 0;
	z-index: 2;
	border: 1px solid #17adc1;
	border-radius: 20px;
	height: 38px;
	width: 80px;
	display: inline-block;
	line-height: 38px;
	text-align: center;
	color: #17adc1;
	cursor: pointer
}
#imagePreview {
	width: 180px;
	height: 180px;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
	margin-top: 30px;
}
/*@个人中心-修改密码*/
.oLeft_personalCenter_password {
	width: 260px;
	float: left;
}
.oRight_personalCenter_password {
	width: 680px;
	float: right;
}
.oRight_personalCenter_password ul {
	margin-top: 20px;
}
.oRight_personalCenter_password ul li {
	position: relative;
	height: 40px;
	margin-bottom: 30px;
}
.oRight_personalCenter_password ul li label {
	float: left;
	height: 40px;
	width: 100px;
	line-height: 40px;
	text-align: right;
}
.oRight_personalCenter_password ul li div {
	float: left;
	height: 38px;
	width: 260px;
	border: 1px solid #ddd;
	position: relative
}
.oRight_personalCenter_password ul li div input {
	height: 38px;
	width: 200px;
	padding: 0 10px;
	border: none
}
.oRight_personalCenter_password ul li div i {
	width: 14px;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 11px;
	background-image: url(../images/12.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 14px 18px;
}
.oRight_personalCenter_password ul li span {
	float: left;
	height: 40px;
	line-height: 40px;
	color: #F00;
	font-size: 14px;
	margin-left: 15px;
}
/*登录框密码样式*/
.password_div {
	height: 38px;
	width: 315px;
	border-bottom: 1px solid #ddd;
	position: relative;
	margin: 15px 0;
}
.password_div .loginPasswd {
	height: 26px;
	width: 260px;
	padding: 0;
	border: none;
}
.password_div .capital {
	width: 14px;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 11px;
	background-image: url(../images/12.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 14px 18px;
}
