.sf-description {
	background: #021B20;
    border: 1px solid #195657;
	color: #E8C330;
	display: none;
	font-size: 5vw;
	font-family: Tahoma;
	padding: 0 2%;
    position: fixed;
	top: 50%;
    width: 46%;
}
.sf-description div {
	color: #cfba6b;
	font-size: 0.9em;
}
.sf-item1 .sf-description, .sf-item2 .sf-description {
	left: 1px;
}
.sf-item6 .sf-description, .sf-item7 .sf-description {
	left: 1px;
	bottom: 50%;
	top: auto;
}
.sf-item3 .sf-description, .sf-item8 .sf-description {
	left: 25%;
	text-align: center;
}
.sf-item8 .sf-description{
	bottom: 50%;
	top: auto;
}
.sf-item4 .sf-description, .sf-item5 .sf-description {
	left: 50%;
	text-align: right;
}
.sf-item9 .sf-description, .sf-item10 .sf-description {
	left: 50%;
	text-align: right;
	bottom: 50%;
	top: auto;
}
.sf-img:hover .sf-description{
	display: block;
}
.sf-img {
	display:block;
	float:left;
	width:20%;
}
img {
    vertical-align: top;
	width: 100%;
}
html, body {
	height: 100%;
	margin:0px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}