
.tbw-deal-widget-300-250 {
    font-family: ProximaNovaRgRegular,arial,sans-serif ;
}
#tb-widget-container {
    height: 250px;
    width: 290px;
    position: relative;
    padding:5px;
    border-radius:3px;
    box-shadow:0 0 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 5px  rgba(0,0,0,0.75);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.75);
}
.tbw-deal-widget-300-250 .tbw-widget-header {
    font-size: 16px;
    height: 45px;
    text-align: center;
    width: 276px;
    font-weight: bold;
    border-bottom:3px solid #3388cc;
    margin:3px 5px 0;
}
.tbw-deal-widget-300-250 #tbw-filterPre {
    position: absolute;
    top: 120px;
    left: 0px;
    cursor: pointer;
    display: none;
    background-image:url("http://static.ziffprod.net/techbargains-widget/300x250_tbw_left_arrow.png");
    height:20px;
    width:18px;
    display: block;
    font-size: 0;
     z-index:10;
}
.tbw-deal-widget-300-250 #tbw-filterNext {
    background-image:url("http://static.ziffprod.net/techbargains-widget/300x250_tbw_right_arrow.png");
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 120px;
    width: 18px;
    z-index: 10;
}
.tbw-deal-widget-300-250 #parent {
    width: 132px;
    position: absolute;
    top: 10px;
    right: 5px;
}
.tbw-deal-widget-300-250 #tbw-logoimg {
    height: 45px;
    width: 120px;
    float:left;
    padding:0 10px 0 0;
}
.tbw-deal-widget-300-250 .tbw-widget-header span {
    float:left;
    background-color:#3388CC;
    border-radius:8px;
    color:#FFFFFF;
    width:146px;
    padding:3px 0;
    line-height:18px;
    text-transform:uppercase;
}
.tbw-deal-widget-300-250 .widget-image {
    box-sizing: border-box;
    height: 138px;
    text-align: center;
    width: 138px;
    margin-right: 6px;
}
.tbw-deal-widget-300-250 .clear {
    clear: both;
}
.tbw-deal-widget-300-250 .widget-image img {
    max-width: 138px;
    height: auto;
    margin: 20px 0;
}
.tbw-deal-widget-300-250 .dealText {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    height: 84px;
    overflow: hidden;
    position: relative;
}
.tbw-deal-widget-300-250 .free-shipping span {
    color: #3bba20;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.tbw-deal-widget-300-250 .price {
    padding: 2px 0px;
    overflow: hidden;
    height: 45px;
    width: 134px;
    box-sizing: border-box;
    position: relative;
}
.tbw-deal-widget-300-250 .price img {
    margin: 2px;
}
.tbw-deal-widget-300-250 .price span {
    display: block;
    font-weight: bold;
}
.tbw-deal-widget-300-250 .price .our-price {
    font-size: 16px;
    font-weight: bold;
    color: #dc2220;
    line-height: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.tbw-deal-widget-300-250 .price .original-price {
    font-size: 14px;
}
.tbw-deal-widget-300-250 .price .original-price span {
    text-decoration: line-through;
    display: inline-block;
}
.tbw-deal-widget-300-250 .get-deal {
    background-color: inherit;
    background-image: url("http://static.ziffprod.net/techbargains-widget/300x250_btn-see-it.png");
    border: medium none;
    cursor: pointer;
    height: 22px;
    width: 51px;
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.tbw-deal-widget-300-250 li {
    list-style: none;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .8s linear;
    -moz-transition: all .8s linear;
    -o-transition: all .8s linear;
    -ms-transition: all .8s linear;
    transition: all .8s linear;
    position: relative;
    width: 285px;
    margin: 0 7.5px;
}
.tbw-deal-widget-300-250 .slider-container {
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 0px 0;
}
.tbw-deal-widget-300-250 .tbw-filterContainer {
    position: absolute;
    height: 160px;
    padding: 0;
    margin: 0;
    left: 0;
}

.tbw-deal-widget-300-250 .tbw-filtersliderWapper {
    height: 152px;
}
.tbw-deal-widget-300-250 .widget-content {
    height: 152px;
    width: 285px;
    padding: 7px 4px;
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.tbw-deal-widget-300-250 .free-shipping {
    left: 6px;
    position: absolute;
    top: 9px;
}
.tbw-deal-widget-300-250 .tbw-more-product {
    width: 276px;
    height:35px;
    background-color: #3388cc;
    padding: 5px 0 ;
    text-align: center;
    border-radius:8px;
    margin:0 5px;
    line-height:18px;
}
.tbw-deal-widget-300-250 .tbw-more-product > a {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.tbw-deal-widget-300-250 .tbw-copyright
{
      text-align: center;
      color: #fff;
      font-size:11px;
}
.tbw-deal-widget-300-250 .tbw-copyright a
{
      color: #fff;
      cursor:pointer;
      font-size:11px;
}
