@font-face {
  font-family: 'Contrail One';
  font-style: normal;
  font-weight: 400;
  src: local('Contrail One'), local('ContrailOne-Regular'), url(http://fonts.gstatic.com/s/contrailone/v6/b41KxjgiyqX-hkggANDU6InF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}
