@CHARSET "ISO-8859-1";
/**************** Slider post title ****************/
.wa_chpcs_slider_title {
	clear: both;
	height: auto;
	overflow: hidden;
}

/****************  Post content excerpt ****************/
.wa_chpcs_foo_con{
	clear: left;
	font-weight:normal;
	font-style:normal;
	height:auto;
	overflow: hidden;
	margin-bottom: 8px;
}

/****************  Post content excerpt ****************/
.wa_chpcs_slider_show_cats {

	clear: left;
	display: block;
}

/****************  read more text ****************/
.wa_chpcs_more {
	font-size:11px;"
}

/****************  Carousel ****************/
.wa_chpcs_image_carousel {
	position: relative;
	width: auto;
	padding: 15px 10px 15px 10px;

}

.wa_chpcs_image_carousel ul{	
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;

}

/****************  Slider post image ****************/
.wa_chpcs_image_carousel li img {
	/*border: 1px solid #ccc;
	background-color: white;
	padding: 9px;*/
    display: inline-block;
    float: none;



}

/****************  slider item ****************/
.wa_chpcs_image_carousel li {
	 position: relative;
    height: auto;
    padding: 5px;
    margin: 6px;
    display: block;
    float: left;


}

/* clear fix */
.wa_chpcs_clearfix {
	float: none;
	clear: both;
}

/**************** slider controllers - horizontal ****************/
.wa_chpcs_image_carousel .wa_chpcs_prev, .wa_chpcs_image_carousel .wa_chpcs_next {

	z-index: 250;	
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: block;
	position: absolute;
	top: 50%;
	z-index: 4;

}

.wa_chpcs_image_carousel .wa_chpcs_prev {

	background-position: 0 0;
	left: -0px;

}
			
.wa_chpcs_image_carousel .wa_chpcs_next {

	background-position: -18px 0;
	right: -0px;

}

/**************** slider controllers - vertical ****************/

.wa_chpcs_image_carousel .wa_chpcs_prev_v, .wa_chpcs_image_carousel .wa_chpcs_next_v {

	/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);


	font-weight: normal;
	text-align: center;
	text-decoration: none;
	display: block;
	position: absolute;
/*	top: 50%;
	z-index: 4;*/
		z-index: 250;	
	margin-left:50%;

}

.wa_chpcs_image_carousel .wa_chpcs_prev_v {

/*	background: transparent url(../images/carousel_control_vertical.png) no-repeat 0 0;
	display: block;
	width: 30px;
	height: 15px;*/
	top: 0px;	



}
.wa_chpcs_image_carousel .wa_chpcs_next_v {

	/*background: transparent url(../images/carousel_control_vertical.png) no-repeat 0 0;
	display: block;
	width: 30px;
	height: 15px;
*/	
	bottom: 0px;	



}
.wa_chpcs_image_carousel .wa_chpcs_prev_v {

	background-position: 0 0;
	text-align: center;

}
.wa_chpcs_image_carousel .wa_chpcs_prev_v:hover {
	text-align: center;
}			
.wa_chpcs_image_carousel .wa_chpcs_next_v {

	background-position: 0 -18px;
	text-align: center;

}
.wa_chpcs_image_carousel .wa_chpcs_next_v:hover {

	text-align: center;
}

a.wa_chpcs_prev_v span, a.wa_chpcs_next_v span {

    /*display: none;*/

}

/**************** Pagination controls ****************/
.wa_chpcs_image_carousel .wa_chpcs_pagination {

	text-align: center;
	margin: 0 auto;
	margin: 20px;

}
.wa_chpcs_image_carousel .wa_chpcs_pagination a {

	text-decoration: none;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 8px;
	height: 8px;
	margin: 0 5px 0 0;
	z-index: 250;	
	cursor: pointer;
	opacity: 0.5;

}
.wa_chpcs_image_carousel .wa_chpcs_pagination a.selected {

	text-decoration: underline;	
	zoom: 1;
	opacity: 1;

}

/**************** Overlay styles ****************/
.wa_chpcss_text_overlay_p_container {

	margin: 0 auto;
	max-width: 100%;

}

.wa_chpcs_text_overlay_caption {

    position: relative;
    overflow: hidden;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);

}

.wa_chpcs_text_overlay_caption::before {

    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;

}

.wa_chpcs_text_overlay_caption:hover::before {

    background: rgba(0, 0, 0, .5);
}

.wa_chpcs_text_overlay_caption_media {

    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;

}

.wa_chpcs_text_overlay_caption_overlay {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.wa_chpcs_text_overlay_caption:hover .wa_chpcs_text_overlay_caption_overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.wa_chpcs_text_overlay_caption_overlay_title {

	font: normal 16px/1.5 Arial, sans-serif;
    padding: 0 0 0.5em;
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}
.wa_chpcs_text_overlay_caption:hover .wa_chpcs_text_overlay_caption_overlay_title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

/***** lazy load ******/
.wa_lazy{
	display: none;
}


/*************  Sale Text over them images *************/
.wa_chpcs_onsale {

	background-color: #96c42e;
	position: absolute;
	top: 15%;
	padding: 2px 8px;
	font-size: 0.8751em;
	text-align: center;
	color: #fff;
	z-index: 999;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);

}

.wa_chpcs_onsale:before {

	content: "";
	border: 14px solid #96c42e;
	border-color: transparent transparent transparent #96c42e;
	position: absolute;
	top: 0;
	right: -28px;

}

.wa_chpcs_onsale {

	left: -2px;

}
.wa_chpcs_onsale:after {

	content: "";
	border: 6px solid #67861f;
	border-color: #67861f transparent transparent transparent;
	border-right-width: 0;
	position: absolute;
	left: 0;
	bottom: -12px;

}

/* disable direction arrows */
.wa_chpcs_prev.disabled, .wa_chpcs_prev.disabled,.wa_chpcs_next.disabled, .wa_chpcs_next.disabled {

	color: #865;
	opacity: 0;
	cursor: default;

}


/************  add to cart button ****************/
a.wa_chpcs_button,  .wa_chpcs_button {
	
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 2px 13px 2px;
	border: 1px solid #ccc;
	color: #444;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	font-size: 1em !important;
	font-family: inherit;
	overflow: visible;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #237fd7;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e5e5e5));
	background-image: -webkit-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: -moz-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: -ms-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: -o-linear-gradient(top, #fefefe, #e5e5e5);
	background-image: linear-gradient(top, #fefefe, #e5e5e5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e5e5e5');
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 0 1px rgba(255,255,255,0.6), 0 1px 2px hsla(0, 0%, 0%, .1) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 0 1px rgba(255,255,255,0.6), 0 1px 2px hsla(0, 0%, 0%, .1) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/, inset 0 0 0 1px rgba(255,255,255,0.6), 0 1px 2px hsla(0, 0%, 0%, .1) /*Shadow*/;
	-webkit-transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
}