@charset "UTF-8";
/* =FancyTabs
-------------------------------------------------------------- */
#fancy-tabs {
	display: block;
	line-height: 3px;
    background: #333333;
	padding: 0px 0px 8px 10px;
}
#fancy-tabs ul {
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
}
#fancy-tabs ul li{
	padding: 0;
	margin: 0;
	display: inline-block;
}
#fancy-tabs ul li a {
	font-family:Tahoma, Geneva, sans-serif;	
	display: block;
	cursor: pointer;
	text-decoration: none;
	padding: 5px 15px;
	margin: 5px 2px 0 2px;
	color: #333;
	font-size: 14px;
	background: #DDD;
	border:#999 1px solid;
	border-radius: 2px;
	border-radius: 2px;
	-moz-border-radius: 8px;
	-moz-border-radius: 8px;
}
#fancy-tabs ul li a.link-catch-all {
	background:#BBB;
}
#fancy-tabs ul li a.fancytab_on {
	color:#333;
	background:#DDD;
}
#fancy-tabs ul li a:hover {	
	color: #000;
	background: #DDD;
}