@charset "utf-8";
/* CSS Document */
/*@media (min-width: 1200px) {}
@media (max-width: 1200px) and (min-width: 768px) {.topdiv {height: auto;}header{ height:auto;}}
@media (max-width: 959px) and (min-width: 768px){.topdiv {height: auto;} .logo{ text-align:center;}header{ height:auto;}}
@media (max-width: 767px) and (min-width: 541px) {.topdiv {height: auto;}.box3 { margin-bottom:20px;} .logo{ text-align:center;}header{ height:auto;}}
@media (max-width: 540px) and (min-width: 400px) {.box5 li {float: none;width: 100%;padding: 0px;}.box3 { margin-bottom:20px;} .logo{ text-align:center;}.topdiv {height: auto;}}
@media (min-width: 241px) and (max-width: 399px) {.topdiv {height: auto;} .logo{ text-align:center;}.box3 { margin-bottom:20px;} .box5 li {float: none;width: 100%;padding: 0px;}header{ height:auto;}}
@media (max-width: 240px) {.topdiv {height: auto;} .logo{ text-align:center;}.box3 { margin-bottom:20px;}.box5 li {float: none;width: 100%;padding: 0px;}header{ height:auto;} }
*/

@media (min-width: 1200px) {}
@media (max-width: 979px) {
header{ height:auto;}
}
@media (min-width: 980px) {
header{ height:auto;}
}
@media (min-width: 768px) and (max-width: 979px) {
header{ height:auto;}
.footer-links li{padding: 4px;}
.search select{ margin:0;width: 76%;}
.search input[type="search"]{ width:74%}
.search span {float: left;width: 100%;text-align: center;padding: 5px 0px;}
}
@media (max-width: 767px) {
header{ height:auto;}
.footer{ text-align:center;}
.footer-links{ text-align:center;}
.footer-links ul{ float:none;}
.footer-links li{ float:none; text-align:center;padding: 0px;}
.filmbox{ text-align:center;}
.rating{ float:none;}
.links{ float:none; clear:both}
.search select{ margin:0;width: 76%;}
.search input[type="search"]{ width:74%}
.search span {float: left;width: 100%;text-align: center;padding: 5px 0px;}
.social{ margin:0px;}
.screen{ text-align:center;}
}
@media (max-width: 480px) {
header{ height:auto;}
.callbacks_nav{ display:none}
.footer{ text-align:center;}
.footer-links ul{ float:none;}
.footer-links li{ float:none; text-align:center;padding: 0px;}
.filmbox{ text-align:center;}
.search select{ margin:0;width: 76%;}
.search input[type="search"]{ width:74%}
.search span {float: left;width: 100%;text-align: center;padding: 5px 0px;}
.social{ margin:0px;}
}
