/*  
Theme Name: Cb01_new_2015
Author: cineblog01.com
*/
@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Contrail+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,700,600,300);
body {font-size:14px; color:#363636; line-height:18px; background:#FFF; font-family: 'Open Sans', sans-serif;}
/*a {	color: #363636;text-decoration: none;}*/
a {	color:#b90000;text-decoration: none;}
a:hover{text-decoration:none; color:#b90000;}
img{ border:0px none; }
a img{ border:0px none;}
.wrapper{ width:100%; margin:0;}
.container-fluid {max-width: 1000px;width: 98%;*zoom: 1;margin: 0 auto;padding: 0;}
.nomargin{ margin:0 !important;}
.nomargin-l{ margin-left:0 !important;}
.nopadding{ padding:0 !important;}
.floatl{ float:left;}
.floatr{ float:right;}
.social{ margin:0px 0 0 0; padding:0; float:right;}
.social li{ float:left; list-style:none;padding: 0px;}
.social li a{width: 32px;height: 32px;float: left;text-align: center; font-size:0px; color:transparent;}
.social li:nth-child(1){background: url('../images/social.png') no-repeat 1px 0px;}
.social li:nth-child(2){background: url('../images/social.png') no-repeat -32px 0px;}
.social li:nth-child(3){background: url('../images/social.png') no-repeat -65px 0px;}
.social li:nth-child(4){background: url('../images/social.png') no-repeat -96px 0px;}
header{ background:#000; height:300px; margin:1px 0px;}
.search_box{ background:#1e1e1e; padding:20px 0px; padding-top: 3px;}
.search_box select{margin: 0 12px 0 0; font-size:14px; width:188px;height: 34px;}
.search_box input[type="search"] { margin-bottom:0px; font-size:14px; width:184px;height: 24px; background:#FFF url('../images/search.png') no-repeat right; border-radius:0px}
.search_box span{ float:left;}
.filmbox{ line-height:21.5px; padding:30px 0px; border-bottom:#b90000 1px solid; margin:0px !important; width:96% !important;min-height: 332px !important;}
.filmbox h1{color:#b90000;font-family: 'Contrail One', cursive; font-size:24px; font-weight:normal;}
.filmbox p{ margin-bottom:10px;}
.rating{unicode-bidi:bidi-override;direction:rtl;font-size:16px; float:left;}
.rating span.star{font-family:FontAwesome;font-weight:normal;font-style:normal;display:inline-block}
.rating span.star:hover{cursor:pointer}
.rating span.star:before{content:"\f005";padding-right:5px;color:#cccccc}
.rating span.star:hover:before, .rating span.star:hover~span.star:before{content:"\f005";color:#f6c70c}
.rating span.star.active:before{content:"\f005";color:#f6c70c}
.rating-msg{color:#b90000  !important; font-size:11px  !important;  }
.links{ color:#b90000  !important; font-size:11px  !important; float:left; padding-left:3px;}
.likes{ float:left; width:100%; margin:0px 0 0 0;}
.rightbox{ padding-top:30px;}
/*--------------------------------single_sidebar--------------------------------------------------------------------------------------------------------*/
.grybox_single{ background:#FCFCFC; padding:1px; font-size:12px;  margin: 0px 0px 30px !important; width: 300px !important;}
.grybox_single h1{color:#b90000;font-family: 'Contrail One', cursive; font-size:21px; text-align:center; border-bottom:#bababa 1px solid; margin-bottom:10px;font-weight:normal;}
.grybox_single span, .grybox strong{/*color:#b90000;*/ color:#000;}
.grybox_single ul{ margin:0; padding:0;}
.grybox_single li{ list-style:none;  padding:5px 0px; border-bottom:#cdcdcd 1px solid; line-height:20px;}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
.grybox{ background:#FCFCFC; padding:1px; font-size:12px;  margin: 0px 0px 30px !important; width: 300px !important; }
.grybox h1{color:#b90000;font-family: 'Contrail One', cursive; font-size:21px; text-align:center; border-bottom:#bababa 1px solid; margin-bottom:10px;font-weight:normal;}
.grybox span, .grybox strong{/*color:#b90000;*/ color:#000;}
.grybox ul{ margin:0; padding:0;}
.grybox li{ list-style:none;  padding:5px 0px; border-bottom:#cdcdcd 1px solid; line-height:20px;}

.single-post .filmbox {border-bottom:none;}
.footer{color:#FFFFFF; font-size:11px; padding:10px 0px; background:#333333;line-height: 30px;}
.footer a{ color:#FFF;}
.footer-links{ text-align:right;}
.footer-links ul{ margin:0; padding:0; float:right;}
.footer-links li{ display:block; float:left; list-style:none; padding:8px;}

.streaming{font-size:13px;}

.streaming h3, .post_content table tbody tr td u strong{color:#b90000;font-family: 'Contrail One', cursive; font-size:18px;font-weight: normal;padding: 10px 0px; }
.post_content table tbody tr td u{text-decoration:none !important;}
.post_content table tbody tr td a{font-size:13px;color:#000;}
.post_content table tbody tr td a:hover{font-size:13px;color:#b90000;}
.post_content table tbody tr td strong a{color:#b90000;}
.index_post_content p strong, .post_content p strong{ clear:both;}
.index_post_content { height:208px;}
.info{ height:100px;}
/*.post_content iframe{width:100% !important; }*/
/*.post_content table {width:100% !important; background-color:#333333;}*/
.streaming span{color:#b90000;}
.streaming ul{ margin:0; padding:0;}
.streaming li{ list-style:none;}
.screen{color:#b90000;font-family: 'Contrail One', cursive; text-align:right;}
.screen strong{ font-weight:normal; color:#666666;}
.ads p{ margin-bottom:9px;}

.commentswrite{ float:left; width:100%; margin:20px 0px; font-family:Arial, sans-serif}
.txtbox2 {width: 96%;margin-left: 0px; border-radius:0px; height:50px;}
.comments{ float:left; width:100%;border-bottom: #ececec 1px solid; margin-bottom:15px; padding-bottom:5px;}
.commentswrite h2{ color: #5a524d;font-size: 17px;font-weight: normal;margin: 0px;line-height: 19px;clear: both; font-family:Arial, sans-serif}
.commentsimg{ float:left; margin-right:15px;}
.commentstxt{float: left;width: 90.5%;}
.commentstxt strong{ color:#000;}
.commentstxt span{color: #a2a2a2;font-size: 13px;padding: 0 10px;}
.commentstxt p{ margin:10px 0px 0px 0px;font-size: 13px;}
.commentstxt .likelinks{font-weight:bold;font-size: 11px;}
.commentstxt .likelinks a{color:#3c2732;}
.commentstxt .likelinks .del{ color:#a32900;}
.commentstxt .likelinks .del:hover{color: #ff4000;}
.commentstxt .likelinks a:hover{color: #f99732;}
/*--------------------------------------------------------------------------------------------------------------------------*/



#content {
	
	width:550px;
}

#item {
	width:530px;
	height:206px;
	color:#333333;
	background:url('images/itemborder.gif') no-repeat bottom;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	margin-bottom:15px;
}

#item a:hover, #galleryitem a:hover, #tagsblock a:link, #tagsblock a:visited, #ratingsblock a:link, #ratingsblock a:visited {
	color:#333333;
	text-decoration:none;
	border:none;
}

#galleryitem {
	width:175px;
	height:250px;
	color:#333333;
	margin:0 4px 25px 0;
	float:left;
}

#galleryratings {
	text-align:left;
	margin:5px 18px 0px 0px;
}

#galleryitem h5 {
	color:#C80000;
	font-size:11px;
	font-weight:normal;
	text-align:left;
	margin:0px 38px 0px 14px;
	padding:0;
}
#covershot img {
	width:118px;
	height:156px;
	margin:7px 0px 12px 7px;
	border:1px solid #666666;
	overflow:hidden;
}
#pagination {
	width:538px;
	margin:0px 15px 15px 0px;
	float:left;
	text-align:left;
}

.galleryh1
{
	color: #B90000;
    font-family: 'Contrail One',cursive;
    font-size: 26px;
    font-weight: normal;
	padding: 7px 0px 12px 7px;
	
}

/*.fblike_button, #___plusone_11{
margin: 10px 0px !important;
width: 100px;
float: left;
}*/
.fblike_button{
margin: 0px 0px !important;
width: 110px;
float: left;
}

/*-------------------------------------------------------------*/
#blockvids img {
    border: 0px solid #CCCCCC;
    float: left;
    height: 57px;
    margin: 0 8px 0 0;
    padding: 2px;
    width: 46px;
}
#blogmeta {
	float:right;
	width:100px;
	background:url('images/user.gif') no-repeat right;
	font-size:10px;
	color:#C80000;
	text-align:right;
	padding-left:0px;
	padding-right:40px;
	padding-top:0px;
	padding-bottom:0px;
	font-family: 'Contrail One', cursive
}

#blogmeta a:hover {
	color:#C80000;
	border-bottom:1px dotted #C80000;
	font-family: 'Contrail One', cursive;
}
#videoblock {
  background: #0A0A0A;

  text-align: center;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#blogitem {

  color: #333333;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0px;
}
#bloghead {
	height:35px;
}
#blogtitle {
	float:left;
}

#blogtitle h1 {
	color: #b90000;
	margin:0;
	padding:2px 0px 0px 0px;
	font-family: 'Contrail One', cursive;
    font-size: 26px;
    font-weight: normal;
}

#blogtitle a:hover {
	color:#333333;
}


.soliloquy-container, .soliloquy-container *{
	visibility:hidden;
}

.head {max-width: 1000px;width: 98%;*zoom: 1;margin: 0 auto;padding: 0;}
#description p {
	margin:0;
	padding:0;
	height:130px;
	overflow:hidden;
}
#film_id {height:100px; width:100px; }

.gallery_adv{ padding:15px; font-size:12px; margin:20px 0px !important;}
/*
@media (min-width: 800px) {.grybox_single{margin-left:-27.436% !important;} }
*/
.span8 .span4 img {width:100%;}

/*--Tab_sidebar---*/

.section {
	
	background: #FCFCFC;
	margin: 0 0 30px;
}
ul.tabs1 {

	line-height: 25px;
	list-style: none;

}
.tabs1 li {
	display: inline-block;
	
	padding: 0 13px 1px;
	color: #000;
	cursor: pointer;
	background: #EFEFEF;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #DDD;
	position: relative;
}
.tabs1 li:hover,
.vertical .tabs li:hover {
	color: #C80000;
	
	background: #EFEFEF;
	border: 1px solid #DDD;
}
.tabs1 li.current {
	color: #000;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #9D9D9D;
	border-bottom: 1px solid #9D9D9D;
}
.box1 {
	display: none;

  border-width: 0 1px 1px;
	background: #FCFCFC;
	padding: 0 5px;
}
.box1.visible {
	display: block;
}

  .gsc-input input {
 margin:auto auto !important;
  }

.wp-pagenavi select {width:auto !important;}

.span12.grybox .section {margin:0 !important;}
.span12.grybox_single .section {margin:0 !important;}

#socialbox {margin-bottom:30px !important; float:right !important}

.row-fluid .span9 {
  width: 576px !important;}

.grybox_single , .grybox {
 border: 1px solid #DDD;
}

.rslides {
  margin: 0 !important;
}

.video-js {
  margin-top: -31px !important;
  margin-bottom: -4px !important;
}

