#wp_page_numbers ul, #wp_page_numbers li, #wp_page_numbers a {
	/*background: #4f4f4f;
	padding: 0;
	margin: 0;
	border: none;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	text-transform: none;
	text-indent: 0px;
	font-variant: normal;
	text-align: left;
	line-height: 18px;
	letter-spacing: 0px;
	word-spacing: 0px;
	font-size: 18px;
	font-family: Arial;
	color: white;*/
	 display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		  
}

#wp_page_numbers {
	/*margin-top: 10px;
	width: 100%;
	background: #4f4f4f;
	border-top: 2px solid black;*/
	height: 36px;
  margin: 18px 0;
  background: #FFF;
}
#wp_page_numbers ul {
	/*
	width: 100%;*/
	 display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
#wp_page_numbers li {
	/*float: left;
	display: block;*/
	display: inline;
}

#wp_page_numbers a {
	/*padding: 6px;
	padding-left: 4px;
	padding-left: 4px;
	display: block;
	color: #ddd;*/
	 float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  color:#b90000;
}

#wp_page_numbers li a:hover {
	text-decoration: none;
}

#wp_page_numbers li.space {
	padding: 6px;
	padding-left: 8px;
	padding-right: 8px;
}

#wp_page_numbers li.first_last_page {
	font-style: italic;

}
#wp_page_numbers li.active_page a:hover  {
	color: #FFF; /* IE fix */
}

#wp_page_numbers li.page_info {
	float: left;
	display: block;
	padding: 6px;
	padding-right: 8px;
	color:#B90000;
	font-size: 14px;

}

#wp_page_numbers li.active_page a {

  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  color:#B90000;
  font-weight: bold;

	
}


#wp_page_numbers {
  height: 36px;
  margin: 18px 0;
  float:left;
  width:auto;
}

#wp_page_numbers ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

#wp_page_numbers li {
  display: inline;
}

#wp_page_numbers a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
  color:#b90000;
}

#wp_page_numbers a:hover,
#wp_page_numbers .active a {
  background-color: #B90000;
  color:#FFF;
   text-decoration: none;
  border: 1px solid #000;
  border-left-width: 0;
    
  
}

#wp_page_numbers .active a {
  color: #999999;
  cursor: default;
  
}

#wp_page_numbers .disabled span,
#wp_page_numbers .disabled a,
#wp_page_numbers .disabled a:hover {
  color: #b90000;
  cursor: default;
  background-color: transparent;
}

#wp_page_numbers li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}