/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page style
*/

body { 
	font-family: Tahoma,arial,helvetica,sans-serif;
    font-size: 12px;
	background: #2e2e4c;
	background-image: url('../img/bcg-buttom.png');
}
#main {
	background: white;
}
#bar1 {
	height:22px;
	background:#6e6db4;
	background-image: url('../img/bcg-top.png');
}
#bar2 {
	height:55px;
	background:#fafaff;
	border-bottom:1px solid #d8d8ef;
}
.content {
	margin:0 auto;
	width:1024px;
}
#content {
	position:relative;
	height: 760px;
}
#logo {
	 margin: 11px 50px 30px;
}

#example {
	width:600px;
	height:350px;
	position:relative;
}

#slidesFrame {
	left: 416px;
    position: absolute;
    top: -55px;
}

#slides {
	position:absolute;
	top:-24px;
	left:509px;
	z-index:100;
}

.slides_container {
	width:426px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container .slide {
	width:426px;
	height: 196px;
	display:block;
	background-color: white;
}

.slides_container  .features li {
	color:#7777A2;
	background-image: url(../img/tick.png);
	background-repeat: no-repeat;	
	background-position: left 50%; 
	padding: 10px 0 10px 22px; 
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:79px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:442px;
}

/*
	Pagination
*/

.pagination {
	margin:26px auto 0;
	width:100px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}
#cities {
	
}
#citiesList {
	position:absolute;
	font-size:22px;
	border-left:1px solid #d8d8ef;
	border-right:1px solid #d8d8ef;
	left: 126px;
	height: 691px;
	width:250px;
	background:white;
	box-shadow: 0 19px 9px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
}
#citiesList a {
	padding:7px 10px;
	color:#9e9ebb;
	display:block;
	text-decoration: none;
}
#citiesList a:hover{
	border-left: 5px solid #2e2e4c;
	color: #7777a2;
	margin-left:-3px;
	padding-left: 8px;
}
#map {
	position: absolute;
	background:url(../img/map_Poland.jpg);
	width:568px;
	height:541px;
	left:384px;
	top:219px;
}
.cityPoint {
	position: absolute;
	width:22px;
	height:22px;
	background: url(../img/cityDot.png);
}
#cityNameBox {
	background-color: white;
    border: 1px solid #D8D8EF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    color: #2E2E4C;
	font-weight:bold;
	left:261px;
	padding:3px;
	position:absolute;
	top:30px;
	z-index:10;
	display:none;
}
#partnersBar {
	height:86px;
	background:#fafaff;
	border-top:1px solid #d8d8ef;
	box-shadow: 0 13px 11px rgba(0, 0, 0, 0.5);
}
#partners{
	border: 1px solid #d8d8ef;
    border-radius: 2px;
	padding: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
    height: 40px;
    margin: 16px 0 10px 413px;
    width: 500px;
	background: white;
}
#partners li {
	margin:0 5px;
}
.jcarousel-clip{
	width: 500px;
	overflow: hidden;
}
#footer {
	color: #aaaac8;
	padding-top:25px;
}
#footer a {
	color: #aaaac8;
	text-decoration: none;
}
#links {
	clear:both;
	margin-left:420px
}
#links ul{
	float: left;
    padding: 10px 0 20px;
    width: 180px;
}
#links li{
	margin: 5px;
}
#footer h5 {
    margin-bottom: 5px;
	font-weight:bold;
}
#footer hr {
	border-style: solid none;
    border-width: 1px medium;
    border-top-color: #000000;
	border-bottom-color: #51516f;
    border-left: medium none;
    border-right: medium none;
    clear: both;
    margin: 20px 0;
}