

* { border: 0; margin: 0; padding: 0; }

body {
	font-size: 62.5%;
	color: #b5b5b5;
	background-color: #0a0e17;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

.network {
    
    height: 20px;
    background: url('//s.ilcorsaronero.info/images/top_bg.png') ;
    clear:both;
   
    background-repeat:repeat-x;
    overflow:hidden ;
}

.network_links {font-size: 11px; font-weight: bold; position: absolute; top: 0px; right: 0px; padding-top: 4px; padding-right: 10px;}
.network_links a {color: #D4831B;}
.network_links a:hover {color:#999933}


a {
	color: #FFFFFF;
	text-decoration: none;
	
}

a:hover {
	color: #D9A52F;
}

.network_links_m {font-size: 11px; position: absolute; top: 0px; right: 0px; padding-top: 4px; padding-right: 10px;}
.network_links a {color: #D4831B;}
.network_links a:hover {color:#999933}


a {
	color: #FFFFFF;
	text-decoration: none;
	
}

a:hover {
	color: #D9A52F;
}

/*
----------------------------------- Main Structure
*/

#container {
	background-image: url(//s.ilcorsaronero.info/images/global/bg/top_grade.gif);
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #151a25;
}

#header {
	width: 930px;
	margin: 0 auto;
}

#header #logo {
	width: 347px;
	float: left;
	height: 100px;
	overflow: hidden;
}

#header #call {
	float: right;
	margin: 50px 0 0 0;
}

#header #menu {
	clear: both;
	height: 75px;
	padding: 13px 0 0 0;
	width: 930px;
}


#content {
	width: 930px;
	margin: 0 auto;
	clear: both;
}

#content #splash {
	height: 190px;
	margin-bottom: 55px;
	width: 930px;
}

#splash #title {
	width: 260px;
	padding: 80px 0 0 0;
	text-align: right;
}

#splash #image {
	width: 575px;
	height: 190px;
	float: right;
}

#splash #subimage {
	width: 575px;
	height: 110px;
	float: right;
	padding-top: 80px;
}


#splash #demooptions {
	width: 500px;
	height: 100px;
	float: right;
	padding-top: 80px;
	padding-left: 75px;
}

#content #plug-show {

	margin-bottom: 55px;
}


#content .plug {
	height: 190px;
	margin-bottom: 55px;
	width: 930px;
}

#content .plugtitle1 {
	width: 260px;
	padding: 60px 0 0 0;
	text-align: right;
	float: left;
}

#content .plugtitle2 {
	width: 260px;
	padding: 50px 0 0 0;
	text-align: right;
	float: left;
}

#content .plugtitle3 {
	width: 260px;
	padding: 60px 0 0 0;
	text-align: right;
	float: left;
}


#content #body {
	clear: both;
}

#body #left {
	width: 200px;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 55px;
}

#body #right {
	margin-left: 5px;
	margin-bottom: 50px;
	width: 195px;
}



#body #reel {
	text-align: center;
	padding-bottom: 55px;
	padding-top: 30px;
}


#footer {
	clear: both;
	color: #202739;
	background-image: url(//s.ilcorsaronero.info/images/global/bg/footer_shade.gif);
	background-repeat: repeat-x;
	background-position: center top;
	padding-top: 65px;
}
#footer #copyright {
	width: 930px;
	margin: 0 auto;
	margin-bottom: 50px;
}
#footer #logos {
	text-align: right;
	height: 60px;
	margin-bottom: 20px;
}

#footer #copy {
	text-align: right;
	clear: both;
}



/*
----------------------------------- Lists
*/

/*left lists*/

#left ul {
	font-size: 1.1em;
	text-transform: uppercase;
}

#left li {
	clear: both;
}

#left li a {
	display: block;
	height: 25px;
	padding-top: 10px;
	color: #989A9F;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #313640;
	padding-right: 15px;
	
}

#left li a:hover {
	padding-right: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #191E28;
	background-color: #11151E;
}

#left li.selected {
	display: block;
	height: 25px;
	padding-top: 10px;
	padding-right: 15px;
	color: #FEDE01;
	background-color: #191E28;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #313640;
}

#left li.selected_list {
	display: block;
	height: 25px;
	padding-top: 10px;
	padding-right: 15px;
	color: #FEDE01;
	background-color: #191E28;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #313640;
}
#right #useflash {
	border: 1px solid #1D222C;
	background-image: url(http://www.islandshots.com/images/video/f_bg.gif);
	background-repeat: repeat-x;
	background-position: center bottom;
	padding-top: 20px;
}
#right #useflash #flashlogo {
	float: left;
	margin-left: 50px;
	margin-bottom: 15px;
}
#right #useflash #flashmsg {
	float: left;
	padding-left: 40px;
	padding-top: 15px;
	color: #404F6A;
	padding-right: 40px;
	text-align: center;
}
#container #content #body #right #useflash #flashmsg a {
	color: #54688D;
}
#right #resume ul {
	margin-bottom: 25px;
	margin-left: 20px;
}






.biglist li strong {
	color: #FFCC00;
	font-size: 1.3em;
	padding-bottom: 4px;
	display: block;
	margin-bottom: 12px;
}


.biglist li {
	margin-bottom: 16px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #282D36;
}

.thumblist ul {}
.thumblist li {
	float: left;
}
.thumblist li a {
	display: block;
	width: 200px;
	padding: 5px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.thumblist img {
	border: 5px solid #313A4F;
}


/* sub-lists */

#left ul ul {
	font-size: 0.9em;
	width: 260px;
}
#left ul ul li {}

#left ul ul li a {
	padding-right: 30px;
	color: #4A525E;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #191E28;
	background-color: #131722;
}
#left ul ul li a:hover {
	padding-right: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #191E28;
	background-color: #11141E;
}

/* footer lists */

#footer ul {
	font-size: 1.1em;
	color: #7B7D84;
}
#left .home1 a {
	color: #FFFFFF;
}


#footer li {
	float: right;
}

#footer li a, .likea {
	display: block;
	padding-top: 2px;
	color: #2C364E;
	padding-bottom: 2px;
	padding-left: 20px;
	
}

#footer li a:hover, .likea:hover {
	color: #384563;
}




/*
----------------------------------- Typography
*/

#menu a { 	color: #b5b5b5; }

#left h4 {
	margin-bottom: 15px;
}
#left h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.3em;
	font-weight: normal;
	color: #E6B01E;
}


#left h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #D9A52F;
	margin-bottom: 5px;
	font-weight: normal;
	background-image: url(//s.ilcorsaronero.info/images/global/content/left_list_line.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 6px;
	padding-top: 10px;
}

#left p {
	margin-bottom: 15px;
	font-size: 1.1em;
}

#left p strong {
	font-size: 1.2em;
}


#body #right p {
	text-align: justify;
	line-height: 2em;
	margin-bottom: 2em;
	font-size: 1.1em;
	color: #A3A3A3;
}

#body #right ul {
	line-height: 2em;
	font-size: 1.1em;
	color: #A3A3A3;
}

#body #right h3 {
	margin-top: 10px;
	margin-bottom: 20px;
}
#right #resume h5 {
	font-size: 1.3em;
	text-transform: uppercase;
	margin-bottom: 24px;
	color: #8998BC;
	font-weight: normal;
}


#splash #demooptions h2 {
	font-weight: normal;
	color: #344056;
	font-size: 2em;
}
#splash #demooptions a {
}


#body #right h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	color: #F1C325;
	letter-spacing: 0.1em;
	margin-bottom: 15px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #1F2636;
	padding-bottom: 10px;
}

#body #right h4 img {
	border: 15px solid #0A0E17;
}

.webport {
	border: 5px solid #313A4F;
}




#footer h4 {
	display: block;
	height: 30px;
}


/*
----------------------------------- Menu
*/


/* Menu List */

#menu ul {
	list-style-type: none;
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
	text-transform: uppercase;
}
#menu li {
	float: left;

}
#menu li a {
	display: block;
	height: 25px;
	float: left;
}
#menu li a:hover {}


/* Menu Buttons */

#menu .selected {
	background-color: #293141;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #homestub {
	width: 260px;
	text-align: right;
	background-image: none;
	display: block;
	padding: 25px 71px 0px 0px;
}

#menu #menu_home span {
	width: 260px;
	text-align: right;
	background-image: none;
	display: block;
	padding: 25px 71px 0px 0px;
}


#menu #menu_stills a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_stills.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_stills a:hover {
	color: #151A25;
	background-color: #D8500D;
}

#menu #menu_video a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_video.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_video a:hover {
	color: #151A25;
	background-color: #3381D1;
}


#menu #menu_audio {
	margin-right: 20px;
}

#menu #menu_audio a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_audio.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_audio a:hover {
	color: #151A25;
	background-color: #81AF1E;
}

#menu #menu_identity a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_brand.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_identity a:hover {
	color: #151A25;
	background-color: #BFAF8E;
}

#menu #menu_web {
	margin-right: 20px;
}

#menu #menu_web a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_web.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_web a:hover {
	color: #151A25;
	background-color: #645950;
}

#menu #menu_gallery {
}

#menu #menu_gallery a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_gallery a:hover {
	color: #151A25;
	background-color: #FEDE01;
}

#menu #menu_about a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_about.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_about a:hover {
	color: #151A25;
	background-color: #E6B01E;
}

#menu #menu_contact a {
	padding: 25px 10px 0px 10px;
	background-image: url(//s.ilcorsaronero.info/images/global/menu/on_contact.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

#menu #menu_contact a:hover {
	color: #151A25;
	background-color: #D59C19;
}

/*
----------------------------------- Splash Images
*/



#splash .splash_stills {
	background-image: url(//s.ilcorsaronero.info/images/stills/splash.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


#splash .splash_stills_equipment {
	background-image: url(//s.ilcorsaronero.info/images/stills/splash_equipment.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_stills_examples {
	background-image: url(//s.ilcorsaronero.info/images/stills/splash_examples.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_video {
	background-image: url(//s.ilcorsaronero.info/images/video/splash.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


#splash .splash_video_equipment {
	background-image: url(http://www.islandshots.com/images/video/splash_equipment.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_audio {
	background-image: url(//s.ilcorsaronero.info/images/audio/splash.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_audio_equipment {
	background-image: url(http://www.islandshots.com/images/audio/splash_equipment.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


#splash .splash_audio_composer {
	background-image: url(//s.ilcorsaronero.info/images/audio/splash_harry_hansen.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_audio_samples {
	background-image: url(http://www.islandshots.com/images/audio/splash_samples.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_brand {
	background-image: url(//s.ilcorsaronero.info/images/brand/splash.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_brand_pricing {
	background-image: url(//s.ilcorsaronero.info/images/brand/splash.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_brand_portfolio {
	background-image: url(//s.ilcorsaronero.info/images/brand/splash.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_web {
	background-image: url(http://www.islandshots.com/images/web/splash.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_web_pricing {
	background-image: url(//s.ilcorsaronero.info/images/web/splash_pricing.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_web_process {
	background-image: url(http://www.islandshots.com/images/web/splash_process.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_web_portfolio {
	background-image: url(http://www.islandshots.com/images/web/splash_portfolio.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_contact {
	background-image: url(//s.ilcorsaronero.info/images/contact/splash.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#splash .splash_about {
	background-image: url(http://www.islandshots.com/images/about/splash.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

/*
----------------------------------- Tables
*/

td, th  {
	padding: 4px;
	
}



thead th {

	text-align: center;
	background: #333;
	color: #FFFFFF;
	font-size: 100% !important;
}



tbody tr.odd { background: #191E28; } 

tbody tr.odd2 { background: #293141; } 

/**
sfondo tabella
**/
a.red:link{color: #645950}
a.red:visited{color: #645950}
a.red:hover{color: #FFFFFF}

td.header2{
background-color: #000000;
}

table a:link {
	color: 	#CCCCCC;
	
	text-decoration: none;
}

table a:visited {
	color: 	#CCCCCC;
	text-decoration: none;
}

table a:hover {
	color:#FFCC33;
	text-decoration: none;
	
}


/*
----------------------------------- Forms
*/

.formbox {
	padding-top: 40px;
	padding-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #313640;
}

form {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

fieldset {
	clear: both;
	margin-bottom: 35px;
}

select {
	font-size: 1.4em;
	padding: 2px;
	border: 1px solid #ADB8CF;
	background-color: #FFFFDD;
	
	background-image: url(//s.ilcorsaronero.info/images/contact/form_bgs.gif);
	background-repeat: repeat-x;
	background-position: center top;

}

.input, textarea {
	font-size: 1.4em;
	padding: 2px;
	border: 1px solid #ADB8CF;
	background-color: #FFFFDD;
	width: 420px;
	background-image: url(//s.ilcorsaronero.info/images/contact/form_bgs.gif);
	background-repeat: repeat-x;
	background-position: center top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

INPUT[type="submit"] {
	cursor:pointer;
}


#submit {
	width: 59px;
	height: 22px;
	border: 0;
	margin-right: 40px;
}

.vote {
	height: 40px;
	vertical-align: bottom;
	padding: 0;
	margin: 0;
}
.vote img { border: 0; padding: 0; margin: 10px 0 0 0; width: 30px; height: 30px; opacity: 0.5; filter:alpha(opacity=50)}
.vote img.currentrating, .vote img:hover { margin: 0 -5px 0 -5px; width: 40px; height: 40px; opacity: 1; filter:alpha(opacity=100)}

/*
----------------------------------- Download links
*/
#dlform input.forbtn, #dlform a.forbtn {
	height:22px;
	width: 22px;
	border:0 none; 
	display:block;
	float:left; 
	margin-right:5px;
	padding:0px;
	color:#000;
	text-align:left;
	font-size:0px;
	cursor:pointer;
}
#dlform .forbtn img {
	padding: 3px;
}

#dlform .magnet {
	background:url(//s.ilcorsaronero.info/frm/icon-magnet.png) center no-repeat;
}
#dlform .google {
	background:url(//s.ilcorsaronero.info/frm/find.png) center no-repeat;
}
#dlform .kickasstorrents {
	background:url(//s.ilcorsaronero.info/frm/kickasstorrents2.gif) center no-repeat;
}
#dlform .isohunt {
	background:url(//s.ilcorsaronero.info/frm/hunt.png) center no-repeat;
}
#dlform .seedpeer {
	background:url(//s.ilcorsaronero.info/frm/seed.png) center no-repeat;
}
#dlform .sumotorrent {
	background:url(//s.ilcorsaronero.info/frm/sumo.png) center no-repeat;
}
#dlform .torrentbit {
	background:url(//s.ilcorsaronero.info/frm/bit.png) center no-repeat;
}
#dlform .idope {
	background:url(//s.ilcorsaronero.info/frm/idope.png) center no-repeat;
}
#dlform .torrage {
	background:url(//s.ilcorsaronero.info/frm/torrage3.png) center no-repeat;
}
#dlform .torcache {
	background:url(//s.ilcorsaronero.info/frm/torcache.png) center no-repeat;
}
#dlform .zoink {
	background:url(//s.ilcorsaronero.info/frm/zoink.ico) center no-repeat;
}

#dlform .play {
	background:url(//s.ilcorsaronero.info/frm/play.png) center no-repeat;
}

#dlform .usenet {
	background:url(//s.ilcorsaronero.info/frm/usenet.png) center no-repeat;

}

/* ----------------------- Bookmarks ------------------- */
#dlform .segnalo {
	background:url(//s.ilcorsaronero.info/images/segnalo.png) center no-repeat;
}
#dlform .diggita {
	background:url(//s.ilcorsaronero.info/images/diggita.gif) center no-repeat;
}
#dlform .wikio {
	background:url(//s.ilcorsaronero.info/images/wikio.gif) center no-repeat;
}
#dlform .delicious {
	background:url(//s.ilcorsaronero.info/images/delicious.png) center no-repeat;
}

.dldr {
	display:inline;
}

.dldr button{
	border:0 none;
	padding:0px;
	text-align:center;
	cursor:pointer;
	background-color:transparent;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #cccccc;
}
.dldr button:hover{
	text-decoration:none;
	color: #ffcc33;
}

li .dldr button { font-size: 11px; }

#left .dldr button {
	display: inline;
	height: 40px;
	padding-top: 10px;
	color: #989A9F;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #313640;
	padding-right: 15px;
}
#left .dldr button:hover {
	padding-right: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #191E28;
	background-color: #11151E;
}

.dldr2 {
	display:inline;
}

.dldr2 button{
	border:0 none;
	padding:0px;
	text-align:center;
	cursor:pointer;
	background-color:transparent;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff9933;
}
.dldr2 button:hover{
	text-decoration:none;
	color: #ff0000;
}

.downarrow {
	height:15px; 
	width: 9px;
	border:0 none;
	display:inline;
	float:left;
	margin:0; 
	padding:0px;
	text-align:left;
	font-size:0px;
	cursor:pointer;
	background:url(//s.ilcorsaronero.info/images/download.gif) center no-repeat;
}

.action {
	margin-left:8px
}
.details {
	float:left; 
	padding-left:3px;
	border: 0 none;
}

/*
----------------------------------- Comment Tabs
*/

div.tabs {
	margin-bottom: 8px;
	border-bottom: #808080 1px solid;  
	padding-bottom: 7px;
}
div.tabs ul { 
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}
div.tabs li { 
	display: inline;
	margin: 0;
	padding-left: 2px;
	padding-right: 2px;
}
div.tabs li a, div.tabs li a:visited {
	background-color: #000000;
	color: #ffffff;
	padding: 7px;
	border: #808080 1px solid;
}
div.tabs li.active a {
	background-color: #151a25;
	color: #ffcc33;
	border-bottom-color: transparent;  
}
div.tabs a:hover {
	background-color: #151a25;
	color: #ffcc33;
}
div.tabs li a span {
	background-color: #262b36;
	color: #fef7df;
	padding: 3px;
	margin-left: 5px;
}
div.tabs li b {
	position: absolute;
	margin-left: -10px;
	margin-top: -11px;
	font-size: 12px;
	color: #ff0000;
}

/*
----------------------------------- Handy Pandys
*/

.clear { 
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.textcenter {
	text-align: center;
}

.textjustified {
	text-align: justify;
}


/* TABS */

#tabs {
text-align: center;

}

#tabs li { display: inline; }

#tabs a {
color: #CCCCCC;
text-decoration: none;
padding: .2em .4em;
background-color: #1a1a1a;
border: 1px solid #000;
}

#tabs a:hover { 
color: #FFFFFF;
background-color: #000000; }

#tabs .current a {
background-color: #fff !important; /* !important is IE fix */
border-bottom-color: #fff;
}

#tabs.left {
text-align: left;
padding: 1.7em 0 .2em 1em;
}

.smallfont
{
	font: 10px Verdana, Tahoma, Arial, sans-serif;
	
}

ul.share-buttons{
	list-style: none;
	padding: 0;
	float: right;
}

ul.share-buttons li{
	display: inline;
}

ul.share-buttons img {
	width: 20px;
	height: 20px;
}

.toggle-ssl span {
	color: green;
	font-weight: bold;
}

.toggle-ssl em {
	color: red;
	font-weight: bold;
	font-style: normal;
}