/*
Theme Name: Ticketfly v4
Theme URI: http://www.ticketfly.com
Author: the Ticketfly team
Author URI: http://www.ticketfly.com/
*/

/*Hide Microformat Elements*/
abbr.url, abbr.location, abbr.summary, abbr.description {
  display: none;
}

/*Region Flyout Menu*/
.region-blocks {

}
.region-block {
  width: 750px;
  float: left;
  margin: 0 40px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.region-block ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.cities-states-block {
  margin: 15px 0 0 0;
}
#location #region-panel-us ul li a {
  color: #fff;
  font-weight: normal;
  width: 19%;
  float: left;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 10px 1px;
}
#location #region-panel-ca ul li a {
  color: #fff;
  font-weight: normal;
  float: left;
  font-size: 14px;
  font-weight: normal;
  margin: 0 60px 10px 1px;
}
.region-block .region-heading {
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  margin: 0 0 10px 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 0 0 3px 1px;
}
#location {
  background: #5450DC;
}
#region-tabs {
  list-style: none;
  margin-bottom: 0;
  padding-top: 20px;
}
#region-tabs li {
  float: left;
  width: 100px;
  padding: 2px 15px;
  border-bottom: none;
  text-align: center;
}
#region-tabs li.active {
  background-color: #fff;
  border-radius: 15px;
}
#region-tabs li.active a {
  color: #5450DC;
  font-weight: bold;
}
#region-tabs li a {
  width: 100%;
  margin: 0;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  letter-spacing: 1px;
}

#region-tabs a:hover {
  text-decoration: none;
}

/* BEGIN orignal file css/layout.css */
.tools-wrap {
  padding: 0;
  background: #3D3F4A;
  position: relative;
}
.tools {
  width: 960px;
  margin: 0 auto;
  line-height: 21px;
}
.tools-location {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 36px;
}
.tools-location a {
  color: #FFF;
  display: inline-block;
  padding-right: 5px;
}
.tools-location a:hover {
  color: #fff;
  text-decoration: none;
}
.tools-location #change-location {
  color: #D5D7DF;
  padding: 0 10px;
  text-decoration: none;
}
.tools-location #change-location:hover {
  background-color: #535663;
}
.tools-location #change-location.active {
  background-color: #5450DC;
  color: #fff;
  font-weight: bold;
}
.tools-location #change-location.active span {
  display: block;
}
.tools ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tools ul li {
  float: left;
  margin: 0 3px 0 0;
  padding: 9px 0 8px;
  font-size: 12px;
  color: #FFFFFF;
  height: 19px;
}
.tools ul li a {
  color: #FFFFFF;
}

.signin {
  float: right;
  padding: 8px 0 0 0;
}
.signin .backstage {
  float: left;
  margin: 0 15px 0 0;
  padding: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #0084B9;
  text-decoration: none;
}
.signin .join {
  float: left;
  text-transform: uppercase;
}
.nav-wrap {
  clear: both;
  padding: 7px 0 10px 0;
  margin: 0 0 30px 0;
  border-top: 1px solid #676767;
  border-bottom: solid 1px #000000;
  background: #464646;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .6);
}

.nav-wrap-home {
  margin: 0 0 2px 0;
}
.nav-wrap .nav {
  width: 960px;
  margin: 0 auto;
  padding: 3px 0 0 0;
}
.nav-wrap .nav ul {
  margin: 0 0 0 310px;
  padding: 0;
  list-style: none;
}
.nav-wrap ul li {
  float: left;
  margin: 0 18px 0 0;
  padding: 0 24px 0 0;
  font-size: 16px;
  font-weight: 700;
  background: url(img/bullet-nav.png) no-repeat center right;
}
.nav-wrap ul li.nav-end {
  background: none;
}
.nav-wrap ul li a:link,
.nav-wrap ul li a:visited {
  color: #FFF;
  text-decoration: none;
}
.search-local .rightcol {
  float: right;
}
.social-plugin {
  margin: 0 0 40px 0;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

@media only screen
and (min-device-width :768px)
and (max-device-width :1024px) {.page-header-pinned-wrap,
.panes-nav-fixed {
  display: none !important;
}

}

/* END css/layout.css*/

/* BEGIN css/ui.css*/
/* --------------------------------------------------
Table of Contents
-----------------------------------------------------
::Headers
::Buttons
::Tooltips
::Modals
*/
/* --------------------------------------------------
Headers
-------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #333333;
  font-weight: bold;
  line-height: 1.25;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 40px;
  margin-bottom: 12px;
}
h2 {
  font-size: 32px;
  margin-bottom: 9px;
}
h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 9px;
}
h4 {
  font-size: 21px;
  margin-bottom: 3px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 3px;
}
h6 {
  font-size: 15px;
  font-weight: normal;
}
.subheader {
  margin: 0 0 15px 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.subheader-centered {
  text-align: center;
}
.subheader-italic {
  margin: 0 0 15px 0;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #999999;
}
.subheader-italic-centered {
  text-align: center;
}
/* --------------------------------------------------
Buttons
-------------------------------------------------- */
.button {
  display: inline-block;
  text-align: center;
  padding: 9px 34px 11px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1;
  position: relative;
  border: none;
  outline: none;
  margin: 0;
  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  background: #aeaeae;
}
/* Don't use native buttons on iOS */
input[type=submit].button,button.button {
  -webkit-appearance: none;
}
/* Hide inner focus effect in Firefox */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
}
.button.radius {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* Sizes ---------- */
.tiny.button {
  font-size: 10px;
  padding: 8px 14px 8px;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
.small.button {
  font-size: 12px;
  padding: 10px 12px;
  width: auto;
  -webkit-font-smoothing: subpixel-antialiased;
}
.medium.button {
  font-size: 13px;
  width: auto;
}
.large.button {
  font-size: 18px;
  padding: 13px 48px 13px;
  width: auto;
}
/* Colors ---------- */
.white.button {
  color: #0084B9;
  text-shadow: none;
  background-color: #FEFEFE;
}
.green.button {
  color: #FFFFFF;
  background-color: #17C284;
}
.blue.button {
  color: #FFFFFF;
  background-color: #5450DC;
}
/* Hovers ---------- */
.white.button:hover,.white.button:focus {
  background: #FEFEFE;
  color: #0084B9;
  text-decoration: none;
}
.green.button:hover,.green.button:focus {
  background: #1DE099;
  color: #FFFFFF;
  text-decoration: none;
}
.blue.button:hover,.blue.button:focus {
  background: #0084B9;
  color: #FFFFFF;
  text-decoration: none;
}
/* Hovers ---------- */
.button:active {
  -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
}
/* Disabled ---------- */
.button.disabled,.button[disabled] {
  opacity: 0.6;
  cursor: default;
}
.button#header-search-btn.disabled,.button#header-search-btn[disabled] {
  opacity: 1;
}
/* Correct FF button padding */
@-moz-document url-prefix(http://) {input[type=submit].button::-moz-focus-inner,button.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
  input[type=submit].tiny.button {
    padding: 5px 14px 7px;
  }
  input[type=submit].small.button {
    padding: 7px 20px 8px;
  }
  input[type=submit].medium.button {
    padding: 8px 34px 9px;
  }
  input[type=submit].large.button {
    padding: 9px 48px 10px;
  }

}
ul.bulleted {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}
ul.bulleted li {
  margin: 0 0 10px 0;
  padding: 0 0 0 15px;
  font-size: 13px;
  line-height: 20px;
  color: #666666;
  background: url(img/bullet-pink.gif) no-repeat 0 8px;
}
.arrow {
  padding-right: 20px;
  background: url(img/arrow-small-blue.png) no-repeat right center;
}
/* --------------------------------------------------
Tooltips
-------------------------------------------------- */
.tooltip {
  display: none;
  width: 290px;
  padding: 10px 0 5px 10px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px hsla(0,0%,0%,.3);
  -moz-box-shadow: 0 0 3px hsla(0,0%,0%,.3);
  box-shadow: 0 0 3px hsla(0,0%,0%,.3);
}
.tooltip img {
  margin: 0 0 5px 0;
}
/* --------------------------------------------------
Modals
-------------------------------------------------- */
.overlay {
  display: none;
  width: 640px;
  padding: 30px 30px 5px 30px;
  min-height: 400px;
  background: #FFFFFF;
  z-index: 10000;
}
.overlay .close {
  position: absolute;
  right: -20px;
  top: -20px;
  cursor: pointer;
  height: 46px;
  width: 46px;
  background-image: url(img/btn-modal-close.png);
}
.overlay-header-left {
  float: left;
  width: 440px;
}
.overlay-header-left h1 {
  margin: 0 0 5px 0;
}
.overlay-header-left h4 {
  margin: 0 0 20px 0;
}
.overlay-header-left h4 span {
  font-size: 13px;
  font-weight: normal;
  color: #999999;
}
.overlay-header-left ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}
.overlay-header-left ul li {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: bold;
}
.overlay-header-right {
  float: right;
}
.overlay-header-right .backstage {
  margin: 0 5px 0 0;
  font-size: 13px;
  color: #A2A2A2;
}
.overlay-footer {
  padding: 10px 0;
  background: url(img/logo-tkf-overlay-footer.gif) no-repeat center right;
  border-top: 1px solid #EAEAEA;
}
.overlay-footer p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}
/* END css/ui.css */

/* BEGIN css/home.css */
.explore-slider-wrap {
  overflow: hidden;
  width: 100%;
}

/* Invisible left hotspot */
.scrollingHotSpotLeft {/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
  min-width:92px;
  width: 10%;
  height: 100%;/* There is a big background image and it's used to solve some problems I experienced
in Internet Explorer 6. */
  background-image:url(img/bg-transparent.gif);
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  left: 0;/* The first url is for Firefox and other browsers,the second is for Internet Explorer */
  cursor:url(/wp-content/themes/ticketfly-v3/img/cursor-arrow-left.png),url(/wp-content/themes/ticketfly-v3/img/cursor-arrow-left.cur),w-resize;
}
/* Visible left hotspot */
.scrollingHotSpotLeftVisible {
  background-image: url(img/arrow-explore-left.png);
  background-repeat: no-repeat;
}
/* Invisible right hotspot */
.scrollingHotSpotRight {
  min-width: 92px;
  width: 10%;
  height: 100%;
  background-image: url(img/bg-transparent.gif);
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  z-index: 200;
  right: 0;
  cursor: url(/wp-content/themes/ticketfly-v3/img/cursor-arrow-right.png),url(/wp-content/themes/ticketfly-v3/img/cursor-arrow-right.cur),w-resize;
}
/* Visible right hotspot */
.scrollingHotSpotRightVisible {
  background-image: url(img/arrow-explore-right.png);
  background-repeat: no-repeat;
}
/* The scroll wrapper is always the same width and height as the containing element (div).
Overflow is hidden because you don't want to show all of the scrollable area.
*/
.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.scrollableArea {
  position: relative;
  width: auto;
  height: 100%;
}
.explore-slider {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0;
  visibility: hidden;
}
.explore-slider .scrollableArea div {
  position: relative;
  float: left;
  margin: 0 6px 0 0;
  padding: 100px 0 0 0;/* If you don't want the images in the scroller to be selectable,try the following
block of code. It's just a nice feature that prevent the images from
accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select:none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
.explore-slider a.event-image {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.explore-slider div .content {
  margin: 0;
  text-align: left;
  z-index: 2;
  position: absolute;
  top: 150px;
  left: 25px;
  right: 25px;
  bottom: 0px;
}
.explore-slider div .content h3 {
  font-size: 34px;
  line-height: 1.2;
  font-weight: normal;
  color: #FFFFFF;
  font-family: 'Gibson-Semibold', 'Akkurat-Pro', sans-serif;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.2);
  position: absolute;
  bottom: 35px;
  left: 0px;
  right: 0px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=-75, Color='#333333')";
}
.explore-slider .explore-slider-event .content h3 a {
  color: #FFFFFF;
  text-decoration: none;
}
.explore-slider p {
  position: absolute;
  bottom: 20px;
  margin: 0;
  left: 0px;
  right: 0px;
}
.explore-slider div .content p a {
  font-size: 13px;
  font-weight: bold;
  font-family: "Akkurat-Pro";
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 0 0 3px rgba(0,0,0,0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
  text-decoration: none;
}
.explore-slider div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  z-index: 1;
  background: #DFF1F6;
}
.explore-slider .explore-slider-event {
  width: 500px;
  height: 250px;
  background: #000000;
}
.explore-slider .explore-slider-event img {
  opacity: 0.7;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.explore-slider .explore-slider-event:hover img {
  opacity: 0.5;
}
.explore-connect {
  width: 960px;
  margin: 0 auto 20px auto;
  text-align: center;
}
.explore-connect h4 {
  font-size: 28px;
  font-weight: 700;
}
.explore-connect p {
  font-weight: 400;
  font-size: 16px;
  color: #777777;
}

.connect-facebook {
  display: block;
  width: 204px;
  height: 28px;
  margin: 0 auto;
  text-indent: -9000px;
  background: url(img/btn-facebook-connect.png) no-repeat;
}
.search-home {
  width: 760px;
  margin: 0 auto 20px auto;
}
.search-home h3 {
  float: left;
  margin: 0 10px 0 0;
  padding: 10px 0 0 0;
  font-size: 24px;
  font-weight: bold;
}
.search-home .text-input {
  float: left;
  width: 320px;
  margin: 0 5px 0 0;
  padding: 8px;
  font-size: 24px;
  font-style: italic;
  color: #999999;
  background: #FFFFFF;
  border: 1px solid #DBD9D3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 3px 3px #EFEFEF;
  -webkit-box-shadow: inset 0 3px 3px #EFEFEF;
  box-shadow: inset 0 3px 3px #EFEFEF;
}
.search-home .button {
  float: left;
}
.happening-now-wrap {
  margin: 0 0 30px 0;
  padding: 15px 0 0 0;
  background: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}
.happening-now-wrap h2 {
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #999999;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
}
.happening-now {
  width: 1100px;
  margin: 0 auto;
  padding: 0 0 0 50px;
}
.scrollable-home {
  position: relative;
  overflow: hidden;
  float: left;
  width: 960px;
  height: 98px;
  border-left: 1px solid #DDDDDD;
}
.scrollable-home .items {
  width: 20000em;
  position: absolute;
  clear: both;
  list-style: none;
}
.scrollable-home .items .item {
  float: left;
  width: 960px;
  height: 98px;
}
.happening-now a.browse {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 35px 10px 0 10px;
  font-size: 1px;
  cursor: pointer;
  background: url(img/sprite-scrollable-buttons.png) no-repeat;
}
.happening-now a.right {
  background-position: 0 -32px;
  clear: right;
  margin-right: 0px;
}
.happening-now a.right:hover {
  background-position: -32px -32px;
}
.happening-now a.right:active {
  background-position: -64px -32px;
}
.happening-now a.left {
  margin-left: 0px;
}
.happening-now a.left:hover {
  background-position: -32px 0;
}
.happening-now a.left:active {
  background-position: -64px 0;
}
.happening-now a.disabled {
  visibility: hidden !important;
}
.scrollable-home .activity {
  float: left;
  width: 238px;
  height: 83px;
  margin: 0;
  padding: 15px 0 0 0;
  border-right: 1px solid #DDDDDD;
}
.scrollable-home .activity img {
  float: left;
  width: 39px;
  margin: 0 5px 0 10px;
}
.scrollable-home .activity p {
  float: left;
  width: 160px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 16px;
}

.local-events h1 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 1em;
  margin-top: 0.5em;
  color: #6A6D7C;
  font-weight: normal;
}

.local-events ul {
margin: 0;
padding: 0;
list-style: none;
}
.local-events ul li .vevent {
padding: 0px;
overflow: hidden;
margin-bottom: 30px;
height: 308px;
position: relative;
background: #fff;
border-radius: 3px;
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.local-events ul li h2 {
font-size: 15px;
font-weight: normal;
margin-bottom: 4px;
padding: 0 12px;
font-family: "Gibson-Semibold", "Akkurat-Pro-Regular", sans-serif;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 90%;
}
.local-events ul li h2 a {
color: #3D3F4A;
}
.local-events ul li h2 a:hover {
  text-decoration: none;
  color: #5450DC;
}

.local-events .vevent p {
  margin:0 0 0 12px;
}

.local-events ul li p, .local-events ul li p a {
color: #6A6D7C;
}
.local-events ul li .event-date {
float: none;
padding: 0;
font-size: 14px;
text-align: left;
background: none;
}

.local-events ul li .venue {
  font-size: 13px;
  margin-bottom: 8px;
}

.local-events ul li .whos-going span {
  display: none;
}
.local-events ul li .whos-going h5 span {
float: right;
}
.local-events ul li .whos-going .facebook-share {
font-size: 12px;
background: url(img/explore-facepile-empty.jpg) no-repeat 0px 19px;
display: block;
padding: 0px 0 40px 0;
width: 100%;
}
.local-events .activity-tools p {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 36px;
margin: 0 0 15px 0;
padding: 0 0 15px 0;
font-size: 32px;
font-weight: bold;
line-height: 32px;
text-transform: uppercase;
text-align: center;
text-shadow: 0 1px 10px rgba(0,0,0,0.9);
color: #FFFFFF;
border-bottom: 1px solid #FFFFFF;
}
.local-events .activity-tools p a {
color: #FFFFFF;
text-decoration: none;
}

.local-events .activity-tools ul li {
  float: left;
  width: 28px;
  height: 28px;
  margin: 0 8px 0 0;
  padding: 0;
  border: none;
  background: none;
}
.local-events .activity-tools ul li a {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  text-indent: -9000px;
}
.local-events .activity-tools ul li a.activity-tools-facebook {
  background: url(img/sprite-activity-tools.png) no-repeat 0 0;
}
.local-events .activity-tools ul li a.activity-tools-twitter {
  background: url(img/sprite-activity-tools.png) no-repeat 0 -100px;
}
.local-events .activity-tools ul li a.activity-tools-mail {
  background: url(img/sprite-activity-tools.png) no-repeat 0 -200px;
}
.local-events .activity-tools ul li a.activity-tools-audio {
  background: url(img/sprite-activity-tools.png) no-repeat 0 -300px;
}
.local-events .activity-tools ul li:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.local-events li .activity-tools {
  opacity: 0;
  -webkit-transition: .2s ease-in-out opacity;
  -moz-transition: .2s ease-in-out opacity;
  -o-transition: .2s ease-in-out opacity;
  transition: .2s ease-in-out opacity;
}
.local-events ul li:hover .activity-tools {
opacity: 1;
}

/* front page */
.discover-more {
clear: both;
}

.local-events .activity-tools {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: -moz-linear-gradient(top,  rgba(5,3,3,0.43) 0%, rgba(5,5,3,0.44) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,3,3,0.43)), color-stop(100%,rgba(5,5,3,0.44))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(5,3,3,0.43) 0%,rgba(5,5,3,0.44) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(5,3,3,0.43) 0%,rgba(5,5,3,0.44) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(5,3,3,0.43) 0%,rgba(5,5,3,0.44) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(5,3,3,0.43) 0%,rgba(5,5,3,0.44) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba050303', endColorstr='#bd050503',GradientType=0 ); /* IE6-9 */
}
.local-events .activity-tools p {
margin: 18px;
padding: 0 0 11px 0;
}
.local-events .activity-tools ul {
  margin: 0 auto;
  width: 72px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -36px;
}
.local-events .activity-tools ul:after {
clear: both;
content: " ";
display: block;
}

.local-events .venue, .local-events .event-date {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width:90%;
}

.discover-more {
margin: 0px auto;
text-align: center;
width: 290px;
}
.discover-more .button.large {
  margin: 20px auto 0;
  text-align: center;
  padding: 10px 20px;
}

.scrollable-cropped-wrap {
  width: 1100px;
  margin: 0 auto;
  padding: 0 0 0 50px;
  background: #DFF1F6;
}
.scrollable-cropped {
  position: relative;
  overflow: hidden;
  float: left;
  width: 960px;
  height: 260px;
  margin: 0 0 25px 0;
}
.scrollable-cropped .items {
  width: 20000em;
  position: absolute;
  clear: both;
  list-style: none;
}
.scrollable-cropped .items .item {
  position: relative;
  float: left;
  width: 475px;
  height: 260px;
  margin: 0 10px 0 0;
}
.scrollable-cropped .items .item .content {
  position: absolute;
  width: 450px;
  margin: 0;
  padding: 80px 10px 0 10px;
  text-align: center;
  z-index: 2;
}
.scrollable-cropped .items .item .content-last {
  margin: 0;
}
.scrollable-cropped .items .item .content h3 {
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 0 1px 10px rgba(0,0,0,0.9);
}
.scrollable-cropped .items .item .content h3 a {
  color: #FFFFFF;
  text-decoration: none;
}
.scrollable-cropped .items .item .content p {
  display: inline;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.28);
  background: #F1B51C ;
  border: 1px solid #E0BD4C;
}
.scrollable-cropped .items .item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 475px;
  z-index: 1;
  background: #FFFFFF;
}
.scrollable-cropped-wrap a.browse {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 120px 10px 0 10px;
  font-size: 1px;
  cursor: pointer;
  background: url(img/sprite-scrollable-buttons.png) no-repeat;
}
.scrollable-cropped-wrap a.right {
  background-position: 0 -32px;
  clear: right;
  margin-right: 0px;
}
.scrollable-cropped-wrap a.right:hover {
  background-position: -32px -32px;
}
.scrollable-cropped-wrap a.right:active {
  background-position: -64px -32px;
}
.scrollable-cropped-wrap a.left {
  margin-left: 0px;
}
.scrollable-cropped-wrap a.left:hover {
  background-position: -32px 0;
}
.scrollable-cropped-wrap a.left:active {
  background-position: -64px 0;
}
.scrollable-cropped-wrap a.disabled {
  visibility: hidden !important;
}
/* END css/home.css */

/*Home page inline RSVP*/
.home .whos-going .fb-loading {
  float: none;
  border: 0px;
  padding: 10px 80px;
}
.home .fb-rsvp-modal-status-box {
  width: auto;
  border: none;
  padding: 0;
  margin: 0 12px;
  position: absolute;
  bottom: 8px;
}
.home .fb-rsvp-modal-status a {
  display: none;
}
.home .local-events ul li .whos-going .fb-rsvp-modal-button,.home .fb-rsvp-modal-status-text {
  font-size: 12px;
  font-weight: normal;
}
.home .fb-rsvp-modal-list {
  padding-top: 0;
  width: 100%;
}
.home .fb-rsvp-modal-list-item {
  padding: 0 3px 4px 0;
  width: auto;
}
.home .fb-rsvp-modal-list-item:last-child {
  padding-right: 0;
}

.home .local-events ul li img.fb-rsvp-modal-profile-image {
  margin: 0;
  width: 32px;
  height: auto;
}
.home .whos-going .fb-rsvp-modal-profile-name {
  display: none;
}
.home .fb-rsvp-modal-status-text {
  position: absolute;
  right: 10px;
  float: none;
  padding: 0;
  margin: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.home .fb-rsvp-modal-status-image {
  display: none;
}
.home .fb-rsvp-modal-button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* BEGIN css/events.css */
.page-header {
  margin: 0 0 30px 0;
  padding: 0;
  border-bottom: solid 1px #DDDDDD;
}
.event-sponsor {
  font-size: 13px;
  font-weight: 400;
  font-style: italic;
  color: #666666;
}
.page-header .event-date {
  float: left;
  margin-right: 20px;
  padding: 8px;
  text-align: center;
  background: #5450DC;
}
.event-date-month,.event-date-day-of-week, .event-date-divider {
  margin: 0 0 5px 0;
  padding: 0 0 0px 0;
  font-size: 15px;
  font-weight: normal;
  color: #FFFFFF;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.event-date-day-of-week {
  border-bottom: 1px solid #FFFFFF;
}
.event-date-day-of-week.end-date, .event-date-day-of-week.start-date {
  border: none;
}
.event-date-day-of-week.end-date {
  padding-bottom: 0;
}
.event-date-divider {
  background: url(img/single-line-white.png)repeat-x 0 10px;
  text-transform: none;
  padding: 0;
}
.event-date-divider span {
  background: #5450DC;
  padding: 5px;
}
.event-date-day {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #FFFFFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.28);
}
.event-titles {
  padding: 0 0 15px 0;
  overflow: hidden;
}
.event-titles h1 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  color: #333333;
  float: left;
  font-family: "Gibson-Semibold", "Akkurat-Pro-Regular", sans-serif;
}
.event-titles h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  color: #333333;
  clear: left;
  float: left;
}
.event-venue {
  padding: 0 0 0 15px;
  border-left: 1px solid #DDDDDD;
}
.event-venue img {
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #DDDDDD;
}
.event-venue h5 {
  display: inline;
  padding: 0 25px 0 0;
  font-size: 15px;
  font-weight: bold;
}
.event-venue .event-location img {
  float: none;
  border: none;
  margin: -3px 0 0 5px;
}
.event-venue p {
  line-height: 17px;
  color: #777777;
}
p.event-start-time {
  font-size: 15px;
  color: #333333;
}
.page-header-pinned-wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 20px 0;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
.page-header-pinned-wrap h1 {
  margin-bottom: 0;
  border-right: 1px solid #D5D7DF;
}
.page-header-pinned-wrap h1 a {
  display: block;
  text-indent: -9000px;
  overflow: hidden;
  background: url(img/flyingT.png) no-repeat;
  margin: 5px 0;
  width: 35px;
  height: 42px;
}
.page-header-pinned-content h3 {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.1;
  font-family: "Gibson-Semibold", "Akkurat-Pro", sans-serif;
}
.page-header-pinned-content h3 span {
  font-size: 14px;
  font-weight: normal;
}
.page-header-pinned-content p {
  font-size: 13px;
  color: #6A6D7C;
  margin-bottom: 5px;
}
.ticket-event-status p {
  padding: 0 20px;
}
.ticket-event-status .button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 2px;
}
.event-hero {
  margin: 0 0 20px 0;
}
.event-details,.event-details-entry {
  margin: 0 0 40px 0;
}
.event-details-header {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #DDDDDD;
}
.event-details-header h3 {
  float: left;
  margin: 0;
  padding: 0;
}
.event-details-header .external-links {
  float: right;
  width: 125px;
  margin: 0;
  padding: 5px 0 0 0;
  list-style: none;
}
.event-details .first-paragraph {
  font-size: 16px;
  line-height: 24px;
}
.event-details ul.list {
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
}
.event-details ul.list li {
  margin: 0 0 10px 0;
  padding: 0 0 0 15px;
  font-size: 13px;
  color: #666666;
  background: url(img/bullet-pink.gif) no-repeat 0 4px;
}
.external-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.external-links li a {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin: 0 5px 0 0;
  text-indent: -9000px;
}
.external-links-site a {
  background: url(img/sprite-external-link.png) no-repeat 0 0;
}
.external-links-site a:hover {
  background: url(img/sprite-external-link.png) no-repeat 0 -22px;
}
.external-links-facebook a {
  background: url(img/sprite-external-link.png) no-repeat -22px 0;
}
.external-links-facebook a:hover {
  background: url(img/sprite-external-link.png) no-repeat -22px -22px;
}
.external-links-twitter a {
  background: url(img/sprite-external-link.png) no-repeat -44px 0;
}
.external-links-twitter a:hover {
  background: url(img/sprite-external-link.png) no-repeat -44px -22px;
}
.external-links-myspace a {
  background: url(img/sprite-external-link.png) no-repeat -88px 0;
  display: none;
}
.external-links-myspace a:hover {
  background: url(img/sprite-external-link.png) no-repeat -88px -22px;
  display: none;
}
.external-links-buy-music a {
  background: url(img/sprite-external-link.png) no-repeat -110px 0;
}
.external-links-buy-music a:hover {
  background: url(img/sprite-external-link.png) no-repeat -110px -22px;
}
.event-details h4 {
  margin: 0 0 5px 0;
  padding: 5px 0 0 0;
}
.scrollable-event-wrap {
  width: 648px;
  margin: 0 0 40px 0;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}
.scrollable-event-header {
  padding: 10px 10px 0 15px;
  border-bottom: 1px solid #DDDDDD;
}
.scrollable-event-header h4 {
  font-weight: 600;
}
.scrollable-event {
  position: relative;
  overflow: hidden;
  float: left;
  width: 586px;
  height: 100px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.scrollable-event .items {
  width: 20000em;
  position: absolute;
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}
.scrollable-event .items li {
  float: left;
  width: 300px;
  height: 100px;
  padding: 10px 0 0 10px;
  border-right: 1px solid #DDDDDD;
}
.scrollable-event .items li img {
  float: left;
  margin: 0 10px 0 0;
}
.scrollable-event .items li h5 {
  font-size: 13px;
  font-weight: bold;
}
.scrollable-event .items li p {
  margin: 0 0 5px 0;
}
.scrollable-event-wrap a.browse {
  display: block;
  float: left;
  width: 30px;
  height: 100px;
  margin: 0;
  font-size: 1px;
  cursor: pointer;
}
.scrollable-event-wrap a.right {
  background: url(img/arrow-scrollable-event-right.gif) no-repeat center center;
  clear: right;
  margin-right: 0;
}
.scrollable-event-wrap a.right:hover {
}
.scrollable-event-wrap a.right:active {
}
.scrollable-event-wrap a.left {
  background: url(img/arrow-scrollable-event-left.gif) no-repeat center center;
  margin-left: 0;
}
.scrollable-event-wrap a.left:hover {
}
.scrollable-event-wrap a.left:active {
}
.scrollable-event-wrap a.disabled {
  visibility: hidden !important;
}
.event-bands {
  margin: 0;
  padding: 0;
  list-style: none;
}
.event-bands li {
  float: left;
  margin: 0 40px 30px 0;
}
.event-bands .event-bands-end {
  margin: 0 0 30px 0;
}
.event-bands li img {
  margin: 0 0 5px 0;
}
.event-bands li h4 {
  font-size: 16px;
  font-weight: bold;
  color: #433E3C;
}
.event-bands li p {
  margin: 0;
  color: #919191;
}
.event-listing {
  float: left;
  width: 190px;
  margin: 0 40px 40px 0;
  padding: 0;
  list-style: none;
}
.event-listing-end {
  margin: 0 0 40px 0;
}
.event-listing li {
  margin: 0 0 15px 0;
}
.event-listing li h4 {
  font-size: 16px;
  font-weight: bold;
  color: #433E3C;
}
.event-listing li p {
  margin: 0;
  color: #919191;
}
.artist-name {
  width: 68%;
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.event-tickets {
  margin: 0 0 20px 0;
  padding: 20px 20px 30px 20px;
  background: #FFF;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
  border-radius: 4px;
}
.event-tickets-price {
  font-size: 20px;
  color: #333333;
  text-align: center;
}
.ticket-link2 {
  margin-bottom: 0;
}
.event-tickets .button {
  padding-left: 0;
  padding-right: 0;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.event-tickets .event-tickets-secondary {
  float: left;
  margin: 0 7px 0 0;
  padding: 8px 0 10px 0;
  width: 76px;
}
.event-tickets .event-tickets-secondary-end {
  margin: 0;
}
.event-tickets .additional-event-info {
  font-size: 13px;
  color: #6A6D7C;
  margin-bottom: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.event-tickets .additional-event-info ul {
  list-style-type: square;
  padding-left: 24px;
}

.event-tickets .additional-event-info li {
  margin-bottom: 10px;
}

.share-and-save {
  margin-bottom: 20px;
}

.rightcol .whos-going {
  margin: 0 0 20px 0;
}
.whos-going .rsvp img {
  float: left;
  margin: 0 5px 10px 20px;
}
.whos-going .rsvp p {
  float: left;
  margin: 0;
  padding: 3px 0 0 0;
  font-size: 13px;
  font-weight: normal;
}
.whos-going img {
  margin: 0 0 0 20px;
}
img.ad {
  display: block;
  margin: 0 auto 20px auto;
}

.header-double-line {
  margin-bottom: 20px;
}

.events-upcoming {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events-upcoming li {
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  border-top: 1px solid #DDDDDD;
}
.events-upcoming li:first-child {
  padding: 0;
  border: none;
}
.events-upcoming li .event-date {
  float: none;
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 11px;
  font-weight: bold;
  color: #6A6D7C;
  text-transform: uppercase;
  text-align: left;
  background: none;
}
.events-upcoming li h4 a {
  margin: 0 0 5px 0;
  font-size: 16px;
  color: #433E3C;
}
.events-upcoming li p {
  color: #919191;
}
.events-upcoming li .get-tickets {
  margin: 0;
}
.events-upcoming li .get-tickets a {
  font-style: italic;
}
.events-header {
  font-size: 28px;
  font-weight: bold;
}
.events-header span {
  padding: 0 0 0 30px;
  font-size: 26px;
  font-weight: normal;
  background: url(img/arrow-events-header.png) no-repeat center left;
}
.events-header a {
  font-size: 13px;
  font-weight: normal;
}
.date-controls {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #DFF1F6;
  border: 1px solid #C3E4ED;
}
.date-controls .prev-month {
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 0 0 0 20px;
  font-size: 13px;
  font-style: italic;
  background: url(img/arrow-prev-month.png) no-repeat center left;
}
.date-controls p {
  margin: 0;
  padding: 15px 0;
  font-size: 24px;
  font-weight: bold;
}
.date-controls .next-month {
  position: absolute;
  top: 20px;
  right: 10px;
  padding: 0 20px 0 0;
  font-size: 13px;
  font-style: italic;
  background: url(img/arrow-next-month.png) no-repeat center right;
}
.main-content {
  margin: 0 0 20px 0;
  padding: 15px 0 0 0;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}

.filter-events {
  margin-bottom: 20px;
}

.filter-events h3, .promoters h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.filter-events .see-all-venues a {
  color: #333;
  margin: 0 5px 0 0;
  text-decoration: none;
}

.filter-events ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.filter-events ul li {
  margin: 0 0 10px 0;
}
.filter-events ul li label {
  font-size: 13px;
  font-weight: normal;
  color: #919191;
}
.event-results-date {
  display: block;
  margin: 0 0 15px 0;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ECEDF1;
  color: #8F92A2;
}
.event-results ul {
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.event-results ul li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #DDDDDD;
}
.event-results ul li:first-child {
  margin-top: 0;
  padding-top: 0;
  border: none;
}
.event-results ul li:before,.event-results ul li:after {
  content: "";
  display: table;
}
.event-results ul li:after {
  clear: both;
}
.event-results .event-results-content {
  margin-bottom: 10px;
}
.event-results .event-results-image {
  float: left;
  width: 130px;
  margin: 0 20px 0 0;
  height: auto;
}
.event-results-titles {
  overflow: hidden;
}
.event-results-titles .event-results-sponsor {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 13px;
  font-style: italic;
  color: #666666;
  float: left;
  clear: left;
}
.event-results-titles h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  float: left;
  clear: left;
}
.event-results-titles .event-results-openers {
  margin: 0 0 10px 0;
  padding: 0;
  color: #919191;
  float: left;
  clear: left;
}
.event-results-titles .venue-name {
  float: left;
  clear: left;
}
.event-results .event-results-venue {
  color: #919191;
  border-left: 1px solid #DDDDDD;
  font-size: 13px;
}
.event-results .event-results-venue .venue a {
  color: #919191;
}
.event-results .event-results-venue .city-state {
  font-size: 12px;
}
.event-results .event-price {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: #333333;
}
.event-results .event-location {
  display: block;
  width: 17px;
  height: 17px;
  text-indent: -9000px;
  background: url(img/icon-location-small.gif) no-repeat;
}
.event-results .event-results-ticket-price .button,
.event-results .event-status-area .button {
  display: block;
}
.venue-city-state {
  color: #666;
}
.calendar-sync {
  padding-top: 5px;
  clear: both;
}
/* END css/events.css */

/* Pagination from orignal css/blog.css */
.pagination {
  margin: 0 0 40px 0;
}
.pagination p {
  float: left;
  margin: 0 10px 0 0;
  padding: 9px 0 0 0;
  font-size: 13px;
  font-weight: bold;
  color: #A4A4A4;
  text-transform: uppercase;
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination ul li {
  float: left;
  margin: 0 10px 0 0;
}
.pagination ul li a {
  display: block;
  width: 32px;
  height: 32px;
  padding: 9px 0 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: url(img/sprite-pagination.png) no-repeat 0 -800px;
}
.pagination ul li a:hover,
.pagination ul li a.active {
  text-decoration: none;
  background: url(img/sprite-pagination.png) no-repeat 0 -1000px;
}
.pagination ul li a.prev {
  text-indent: -9000px;
  background: url(img/sprite-pagination.png) no-repeat 0 0;
}
.pagination ul li a.prev:hover {
  background: url(img/sprite-pagination.png) no-repeat 0 -400px;
}
.pagination ul li a.next {
  text-indent: -9000px;
  background: url(img/sprite-pagination.png) no-repeat 0 -200px;
}
.pagination ul li a.next:hover {
  background: url(img/sprite-pagination.png) no-repeat 0 -600px;
}
/* END Pagination */

/* BEGIN  css/playlist.css */
.player {
  display: block;
  height: 400px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  background: #000000;
  position: relative;
}
a.player img.play-btn {
  position: absolute;
  border:0;
  top: 175px;
}
.playlist-wrap {
  margin: 0 0 40px 0;
  height: 114px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-top: none;
  position: relative;
}
.playlist {
  position: absolute;
  left: 30px;
  right: 30px;
  height: 70px;
  margin: 0;
  padding: 0;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  overflow: hidden;
}
.entries {
  position: absolute;
  width: 10000em;
  height: 70px;
}
.group {
  float: left;
  width: 582px;
}
.entries ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.entries ul li {
  float: left;
  width: 194px;
  margin: 0;
  border-right: 1px solid #DDDDDD;
}
.entries ul li:hover,
.entries ul li.isActive {
  text-decoration: none;
  background: #ECEDF1;
}
.entries ul li a {
  display: block;
  height: 55px;
  margin: 0;
  padding: 15px 10px 5px 50px;
  font-size: 12px;
  color: #333333;
  line-height: 18px;
  text-decoration: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.entries ul li a em {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
}
.entries .playlist-video {
  background: url(img/sprite-playlist.png) no-repeat 10px -185px;
}
.entries .playlist-audio {
  background: url(img/sprite-playlist.png) no-repeat 10px 15px;
}
.entries a:hover {
}
.entries .playing {
}
.entries .paused {
}
.entries .progress {
  opacity: 0.8;
}
.playlist-wrap .next,
.playlist-wrap .prev {
  position: absolute;
  display: block;
  width: 30px;
  height: 70px;
  margin: 0;
  cursor: pointer;
}

.playlist-wrap .next:hover,
.playlist-wrap .prev:hover {
}
.playlist-wrap .prev {
  left: 0;
  background: url(img/arrow-scrollable-event-left.gif) no-repeat center center;
}

.playlist-wrap .next {
  background: url(img/arrow-scrollable-event-right.gif) no-repeat center center;
  right: 0;
}
.playlist-wrap .next.disabled,
.playlist-wrap .prev.disabled {
  visibility: hidden;
}
/*END css/playlist.css*/
#location.tools-wrap {
  display: none;
}

/* Remove styles from TF CMS plugin CSS */
li.facebook {
  background: none !important;
}
li.twitter {
  background: none !important;
}
.tools ul li.buy {
  padding: 4px 20px 0 0;
}
.arrow {
  padding-right: 20px;
  background: url(img/arrow-small-blue.png) no-repeat right 6px;
}
.home .main {
  width: 100%;
}
.signin {
  padding: 0;
}
.footer-twitter {
  margin: 0;
  padding: 0;
  background: url(img/logo-tkf-footer.gif) no-repeat top right;
}
.footer-twitter a {
  text-indent: -9999px;
  width: 170px;
  height: 55px;
  display: block;
}

/* find events page */
#event-header-group {
  margin-bottom: 20px;
}
#event-header-group a {
  float: left;
  line-height: 30px;
  padding: 7px 0 0 12px;
}
.list-view .city-state {
  display: inherit !important;
}

.ticket-link a, .sold-out, .cancelled, .postponed, .free, .tickets-at-the-door, .future-sale a, .on-sale-soon, .custom a, a.custom, .custom, .off-sale, .rescheduled {
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  background: #D5D7DF;
  font-size: 18px;
  text-decoration: none;
}

.ticket-link a:hover,
.sold-out:hover,
.cancelled:hover,
.postponed:hover,
.free:hover,
.tickets-at-the-door:hover,
.future-sale a:hover,
.on-sale-soon:hover,
.custom a:hover,
a.custom:hover,
.custom:hover,
.off-sale:hover,
.rescheduled:hover {
  color: white;
}

/* event details page */
.playlist-wrap .next.disabled, .playlist-wrap .prev.disabled {
  display: none;
}

.projekktor.player.image-only {
  max-width: 100%;
  height: 400px;
  margin-bottom: 30px;
}
.projekktor.player.image-only img {
  height: 400px;
  width: auto;
}
.projekktor.player.image-only.landscape {
  overflow: hidden;
}


.page-header-pinned .ticket-event-status {
  float: right;
  margin-right: 92px;
}
.page-header-pinned .ticket-link2.external-link2 a {
  margin-top: 0;
}

.bio {
  font-size: 16px;
  line-height: 1.8;
}

.share-plus {
  margin: 0 0 10px 0;
}
.share-facebook a,.share-twitter a, .share-plus .share-gplus a,.calendar-sync .ical-sync a,.calendar-sync .gcal-sync a {
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  margin: 0 4px 0 0;
  padding: 7px 18px 7px 17px;
  overflow: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

.share-facebook a:hover,
.share-twitter a:hover,
.share-gplus a:hover,
.ical-sync a:hover,
.gcal-sync a:hover {
  color: #fff;
}
.share-facebook a {
  text-indent: 15px;
  background: #3b5998 url(img/share-sprite.png) no-repeat 10px 5px;
  width: 40%;
}

.share-twitter a {
  text-indent: 18px;
  background: #228fbe url(img/share-sprite.png) no-repeat 10px -25px; /* Old browsers */
  width: 40%;
}
.share-plus .share-gplus a {
  text-indent: -2000px;
  margin-right: 0;
  padding: 7px 0px 7px;
  width: 36px;
  background: #b62d25 url(img/share-sprite.png) no-repeat 11px -57px; /* Old browsers */
}

.share-plus h3, .calendar-sync h3, .rightcol .whos-going h3, .rightcol .header-double-line h4 {
  text-align: left;
  font-size: 15px;
  font-style: italic;
  color: #8F92A2;
  text-transform: lowercase;
  font-weight: normal;
}

.calendar-sync .ical-sync a, .calendar-sync .gcal-sync a {
  text-indent: 20px;
  display: block;
  float: left;
  margin: 0 4px 0 0;
  position: relative;
  background: url(img/share-sprite.png) no-repeat 7px -88px #7F8291; /* Old browsers */
  width: 40%;
}

/*RSVP*/
.main #fb-rsvp {
  background: none;
  border: none;
  width: 250px;
  padding: 0;
}
.main .fb-rsvp-button img {
  display: none;
}
.main #fb-rsvp-status {
  width: 65%;
  float: left;
  padding: 0 10px 0 0;
}
.main #fb-rsvp-status a, .main .fb-rsvp-status-text {
  text-indent: 28px;
  border: solid 1px #3b5998;
  height: 30px;
  display: block;
  border-radius: 3px;
  text-decoration: none;
  background: #3b5998 url(img/share-sprite.png) no-repeat 10px 5px;
}
.main .fb-rsvp-status-text {
  padding: 0px;
  display: block;
  width: 100%;
}
.main a.fb-rsvp-button, .main .fb-rsvp-status-text {/*content:"RSVP to this event on Facebook";*/ color:white;
  font-size: 12px;
  line-height: 32px;
  font-family: helvetica,arial;
  font-weight: bold;
  margin: 0;
}
.main #fb-rsvp .profile-image {
  width: 44px;
  height: 44px;
}
.main #fb-rsvp .fb-rsvp-list-item {
  width: 44px;
  height: 44px;
  margin: 0 6px 6px 0;
  padding: 0;
}
.main #fb-rsvp .profile-name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  display: none;
}
.main #fb-rsvp .fb-rsvp-status-image, .main #fb-rsvp .profile-name {
  margin: 0;
  width: 44px;
}
.main #fb-rsvp #fb-rsvp-status {
  margin: 0 0 10px 0;
}

.fb-rsvp-attending {
  position: relative;
  padding: 6px;
  background: #D5D7DF;
  font-family: "Akkurat-Pro", sans-serif;
  color: #333333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  float: left;
  padding: 8px;
  line-height: 12px;
  margin: 2px;
}


.fb-rsvp-attending:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: -5px;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #D5D7DF;
  display: block;
  width: 0;
  z-index: 1;
  clear: both;
}


.fb-rsvp-list,.fb-rsvp-attending:after {
  content: " ";
  display: block;
  clear: both;
}


.projekktor.player {
  background: #E0E1E5 !important;
}
/* venue/org pages */
.header-image {
  float: left;
  padding-top: 10px;
}
.events-header {
  margin-bottom: 0;
}
.page-header {
  padding: 0 0 15px 0;
  margin: 0 0 25px 0;
}
#event-header-group .external-links a {
  padding: 0;
}
.page-header .venue-info {
  padding-left: 20px;
  float: left;
  width: 80%;
}

.external-links-location a {
  background: url(img/sprite-external-link.png) no-repeat -66px -1px;
}
.external-links-location a:hover {
  background: url(img/sprite-external-link.png) no-repeat -66px -22px;
}
.list-short .event-results {
  padding: 0;
  border-left: none;
}
.list-short .main-content {
  overflow: hidden;
}
.list-short .list-view-item {
  border: none;
  border-top: 1px solid #DDD;
}
.list-short .event-results .button {
  float: none;
  margin: 0 0 5px 0;
}
.sidebar-list {
  background: #F7F8FA;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 13px;
}
.sidebar-list ul {
  margin: 0;
  padding: 0;
}
.list-short .sidebar-list a {

}
.sidebar-list.just-announced .start-date {
  text-transform: uppercase;
}
.list-short .sidebar-list li {
  margin: 0 0 10px 0;
  line-height: 17px;
  list-style: none;
  position: relative;
}
.list-short .sidebar-list li a {
  display: inline-block;
  padding: 0;
}
.list-short .sidebar-list li .entry-content {
  border-top: 1px solid #c5c5c5;
  display: block;
  padding-top: 10px;
}
.list-short .sidebar-list .twitter-follow-button {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.list-short .sidebar-list.twitter-stream ul {
  padding-top: 20px;
}
.list-short .sidebar-list li .entry-meta, .list-short .sidebar-list li .entry-meta-intents {
  display: block;
}
.list-short .sidebar-list li .time-meta a {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #919191;
}
.list-short .sidebar-list li .time-meta:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.intent-meta {
  display: block;
  height: 30px;
}
.intent-meta a:after {
  content: "|";
  margin: 0 5px 0px 5px;
}
.intent-meta a:last-of-type:after {
  content: "";
}


.list-short .sidebar-list.youtube-playlist-sidebar {
  padding: 15px 5px 5px 5px;
}
.youtube-playlist-sidebar ul {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.list-short .sidebar-list.youtube-playlist-sidebar li {
  display: block;
  padding: 0 0 7px 20px;
  background: url('img/youtube-play-btn.png') no-repeat left top;
  border-bottom: 1px solid #c5c5c5;
  font-size: 10px;
  margin: 0 0 7px 0;
}
.list-short .sidebar-list.youtube-playlist-sidebar li:last-child {
  border-bottom: none;
}
.list-short .event-date {
  margin-top: 13px;
  margin-right: 0;
  text-align: center;
  background: none;
  color: #666;
}
.event-date-dayname {
  margin: 0;
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.event-date-monthday {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}
/* Search Page */
.search-results-message {
  padding: 10px;
}

.search-discover-more {
  text-align: center;
}

/* Footer Area */
.social .social-twitter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 20px;
}
.social .social-twitter .entry-meta {
  display: none;
}


/*browse venues*/
.venue-list-wrapper .venues {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.venue-list {
  font-size: 16px;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.venue-list h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}
.venue-list-details {
  padding: 20px;
  font-size: 14px;
  height: 140px;
  color: #6A6D7C;
}
.featured-promoters h3 {
  margin-bottom: 20px;
}
.featured-promoters h4 {
  font-size: 15px;
  font-weight: normal;
}

.featured-promoters .promoters {
  padding: 20px;
}

.promoter-list-item {
  margin-bottom: 10px;
}

.pagination {
  margin: 0 0 40px 0;
}
.pagination .pages {
  font-size: 14px;
  color: #000;
  display: block;
  margin-bottom: 10px;
}
.pagination .extend {
  float: left;
  color: #BDBFCB;
  margin-right: 4px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  border: solid 1px #D5D7DF;
  border-radius: 2px;
}
.pagination a.last,.pagination a.first {
  display: none;
}
.pagination a,.pagination .current {
  float: left;
  display: block;
  margin-right: 4px;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: solid 1px #BDBFCB;
  border-radius: 2px;
  line-height: 1;
}

.pagination span.current {
  color: #fff;
  background-color: #5450DC;
  border-color: #5450DC;
}

.pagination a.page:hover,
.pagination a.nextpostslink:hover,
.pagination a.previouspostslink:hover {
  text-decoration: none;
  border-color: #5450DC;
}

/*404 page*/
.page-404 {
  margin-top: 60px;
}
.page-404.page h2 {
  font-size: 36px;
}
.page-404.page  h3 {
  font-size: 21px;
}
.page-404.page {
  text-align: center;
}
.page-404 a.button {
  margin: 20px auto;
  display: block;
  width: 300px;
  padding: 10px 20px;
}
.page-404 .search-home {
  margin: 50px 0 0 200px;
}

.page-about-us .page {
  margin: 0 auto 30px auto;
}
.page-about-us .page * {
  color: #464646;
}
.page-about-us .page h2 {
  font-size: 24px;
  border-bottom: solid 1px #999999;
  margin: 50px 0 10px 0;
}
.page-about-us .page h2:first-of-type {
  margin: 0px 0 10px 0;
}
.page-about-us .page p {
  font-size: 16px
}
.page-about-us .page ul {
  font-size: 16px;
  line-height: 22px;
  list-style: none;
  margin: 30px 0 30px 0;
  padding: 0;
}
.page-about-us .page ul li {
  margin: 0 0 20px 0;
  padding: 0px 0 0 70px;
  min-height: 65px;
}
.page-about-us .page ul li.about-tickets-everywhere {
  background: url(img/about-icons/about-everywhere.png)no-repeat 0px 5px;
}
.page-about-us .page ul li.about-events-friends {
  background: url(img/about-icons/about-friends.png)no-repeat  0px 5px;
}
.page-about-us .page ul li.about-tickets-your-way {
  background: url(img/about-icons/about-ticket.png)no-repeat  0px 5px;;
}
.page-about-us .page ul li.about-track-your-events {
  background: url(img/about-icons/about-calendar.png)no-repeat  0px 5px;;
}
.page-about-us .page a.button {
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 20px auto 20px auto;
  display: block;
  width: 200px;
}
.page-about-us .page a {
  color: #0084B9;
}


/*Projector*/

.projekktor {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 1px 1px #0c0c0c;
  background-color: #000;
}
.projekktor .inactive {
  display: none;
}
.projekktor .active {
  display: block;
}
.ppdisplay {
  position: relative !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.ppstart {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -55px;
  margin-bottom: -55px;
  cursor: pointer;
  height: 105px;
  width: 105px;
  display: block;
  padding: 0px;
  background: url(img/btn-play-event.png) no-repeat left top transparent;
}
.ppstart:hover {
}
.ppstart:active {
}
.ppcontrols {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 36px;
  background: url(img/player.png) repeat-x scroll 0 0;
  border-style: solid;
  border-color: #413e3e;
  border-width: 1px 0;
  padding: 0;
  margin: 0;
}
.ppcontrols ul {
  list-style-type: none;
}
.ppcontrols ul.left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.ppcontrols ul.right {
  background: url("img/player.png") repeat-x scroll 0 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.ppcontrols ul.bottom {
  position: relative;
  top: 31px;
  left: 0;
  padding: 0;
  margin: 0;
}
.ppcontrols ul.left li {
  float: left;
  position: relative;
}
.ppcontrols ul.right li {
  float: right;
  position: relative;
}
.pptitle {
  display: none;
}
/* PLAY / PAUSE - left */
.ppplay,.pppause {
  background: url("img/maccaco.png") no-repeat left top transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-right: 1px solid #000;
}
.ppplay:hover {
  background: url("img/maccaco.png") no-repeat left -35px transparent;
}
.ppplay:active {
  background: url("img/maccaco.png") no-repeat left -36px transparent;
}
.pppause {
  background: url("img/maccaco.png") no-repeat left -70px transparent;
}
.pppause:hover {
  background: url("img/maccaco.png") no-repeat left -105px transparent;
}
.pppause:active {
  background: url("img/maccaco.png") no-repeat left -106px transparent;
}
/* Enter / Exit Fullscreen - right */
.ppfsenter,.ppfsexit {
  width: 30px;
  height: 30px;
  background: url("img/maccaco.png") no-repeat right top transparent;
  cursor: pointer;
  border-left: 1px solid #413e3e;
}
.ppfsenter:hover {
  background: url("img/maccaco.png") no-repeat right -35px transparent;
}
.ppfsenter:active {
  background: url("img/maccaco.png") no-repeat right -36px transparent;
}
.ppfsexit {
  background: url("img/maccaco.png") no-repeat right -70px transparent;
}
.ppfsexit:hover {
  background: url("img/maccaco.png") no-repeat right -105px transparent;
}
.ppfsexit:active {
  background: url("img/maccaco.png") no-repeat right -106x transparent;
}
/* Unmute / Max volume - right */
.ppvmax {
  width: 30px;
  height: 30px;
  border-right: 1px solid #000;
  border-left: none;
  background: url("img/maccaco.png") no-repeat -842px top transparent;
}
.ppvmax:hover {
  background: url("img/maccaco.png") no-repeat -842px -35px transparent;
}
.ppvmax:active {
  background: url("img/maccaco.png") no-repeat -842px -36px transparent;
}
/* Mute / Min volume - right */
.ppmute {
  width: 29px;
  height: 30px;
  border-left: 1px solid #413e3e;
  background: url("img/maccaco.png") no-repeat -750px top transparent;
}
.ppmute:hover {
  background: url("img/maccaco.png") no-repeat -750px -35px transparent;
}
.ppmute:active {
  background: url("img/maccaco.png") no-repeat -750px -36px transparent;
}
/* volume slider - right */
.ppvslider {
  margin: 13px 5px;
  height: 16px;
  width: 60px;
  background: url("img/maccaco.png") no-repeat -781px -13px transparent;
}
.ppvmarker {
  position: relative;
  right: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: url("img/maccaco.png") no-repeat -634px -13px transparent;
}
.ppvknob {
  cursor: pointer;
  z-index: 201;
  position: relative;
  background: url("img/maccaco.png") no-repeat -699px -5px transparent;
  top: -13px;
  left: 0;
  width: 6px;
  height: 20px;
}
/* time / time left */
.pptimeleft {
  color: #fff;
  width: 130px;
  line-height: 30px;
  height: 30px;
  border-left: 1px solid #413e3e;
  border-right: 1px solid #000;
  overflow: hidden;
}
/* previous / next item */
.ppnext,.ppprev {
  display: block;
  background: url("img/maccaco.png") no-repeat -59px top transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-left: 1px solid #413e3e;
  border-right: 1px solid #000;
}
.ppnext {
  border-right: none;
}
.ppnext:hover {
  background: url("img/maccaco.png") no-repeat -59px -35px transparent;
}
.ppnext:active {
  background: url("img/maccaco.png") no-repeat -59px -36px transparent;
}
.ppprev {
  background: url("img/maccaco.png") no-repeat -32px top transparent;
}
.ppprev:hover {
  background: url("img/maccaco.png") no-repeat -32px -35px transparent;
}
.ppprev:active {
  background: url("img/maccaco.png") no-repeat -32px -36px transparent;
}
/* Scrubber,Playhead and fluff */
.ppscrubber {
  position: absolute;
  height: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
}
.ppscrubberdrag {
  cursor: pointer;
  z-index: 302;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
}
.ppplayhead,.pploaded {
  position: relative;
  display: block;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 1px;
  background-color: #fff;
  cursor: pointer;
  z-index: 301;
}
.ppcuepoint {
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: yellow;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 302;
}
.ppcuepoint:hover {
  background-color: red;
  cursor: pointer;
}
.pploaded {
  position: relative;
  z-index: 10;
  background: rgb(65,62,62) ;
  opacity: 0.8;/* ie7 */
  filter:alpha(opacity = 80);/* ie8 */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.ppplayhead {
  margin-top: -5px;
}
.ppbuffering {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-left: -16px;
  margin-bottom: -16px;
  display: block;
  z-index: 9010;
  padding: 0px;
  background: url("img/buffering.gif") no-repeat center center;
  height: 32px;
  width: 32px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  display: none;
}

.clearfix.search-local::after {
  clear: none;
}

/*Regional Search Styles*/
.search-results-message, .search-no-results {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
.search-no-results {
  background: #fce2e2;
  padding: 10px;
  border: solid 1px #ecbaba;
  border-radius: 3px;
  text-align: center;
  font-weight: normal;
  color: #B34945;
}

.page-search .pagination {
  clear: left;
  padding: 15px 0 0 0;
}

/*Slider Override*/
.explore-slider-wrap.custom-slider {
  height: auto;
}
.custom-slider .explore-slider {
  visibility: visible;
  display: block;
  margin: 0 auto;
  height: auto;
}
.custom-slider .explore-slider img {
  display: block;
  margin: 0 auto;
}

/* jQuery UI Styles */
.ui-dialog .ui-dialog-titlebar-close span {text-indent: -9999px;display: block;}
.ui-front {z-index: 100;}
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.4;
}
body .tfly-share-dialog.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:focus {  outline: none;  }
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {border: 0;}
.cog-dialog {overflow: visible !important;}
body .tfly-share-dialog.ui-dialog {box-sizing:content-box !important;border:1px solid #ddd !important;border-radius:3px !important;}
div#tflyPurFBShareDialog { background-color: #eee;  }

/* -------- New Styles Here --------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #ECEDF1;
  background: #F7F7FA;
  font-family: "Akkurat-Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body.nav-open {
  overflow: hidden;
}

a, a:hover {
  color: #5450DC;
}

#mainContent {
  min-height: 500px;
}

/* Header */

header {
  display: block;
  background: #fff;
  margin: 0;
  padding: 0;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.05);
  z-index: 100;
  position: relative;
}

header .container {
  overflow: hidden;
  padding-top: 12px;
  padding-bottom: 12px;
}

#logo {
  float: left;
  margin: 0 24px 0 0;
}

#logo a {
  width: 102px;
  height: 30px;
  text-indent: -9999em;
  display: block;
  overflow: hidden;
  background: url(img/tflyLogo.png) no-repeat 50% 50%;
}

.searchField {
  float: left;
  width: 260px;
  display: none;
}

.searchField input {
  border-width: 0px;
  border-style: none;
  border-top: solid 1px #ddd;
  background: #E9EAEF url(img/searchIcon.png) no-repeat 10px 50%;
  padding: 5px 10px 5px 32px;
  border-radius: 3px;
  width: 100%;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.2s linear;
}

.searchField input:focus {
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #5450DC, 0px 1px 2px 1px rgba(79, 79, 219, 0.1);
}

.searchField input::-webkit-input-placeholder {
  color: #9295AC;
}

.searchField input:-moz-placeholder { /* Firefox 18- */
  color: #9295AC;
}

.searchField input::-moz-placeholder {  /* Firefox 19+ */
  color: #9295AC;
}

.searchField input:-ms-input-placeholder {
  color: #9295AC;
}

nav {
  float: right;
  line-height: 29px;
}

nav button {
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999em;
}

nav .searchToggle {
  background: url(img/searchButton.png) no-repeat 50% 50%;
  margin-right: 12px;
  -webkit-tap-highlight-color: rgba(0,0,0,0.2);
  outline: 0;
}

nav .menuToggle {
  background: url(img/menuButton.png) no-repeat 50% 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0.2);
  outline: 0;
}

nav a {
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

nav li {
  float: left;
  margin-right: 24px;
}

nav li:last-child {
  margin-right: 0;
}

/* Footer */

footer {
  display: block;
  border-top: solid 2px #5450DC;
  padding-top: 24px;
  padding-bottom: 12px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #787D9B;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 10px;
}

.mobileFooterNav {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 11px;
  padding: 12px 0 24px 0;
}

.mobileFooterNav li {
  display: inline-block;
  padding: 0 1em;
}

.mobileFooterNav a {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.flyingT {
  display: none;
  text-align: left;
}

.footerMenu {
  font-size: 13px;
  text-align: left;
  display: none;
  line-height: 1.8;
}

.promo {
  padding-top: 24px;
  margin-top: 24px;
  text-align: left;
}

.promo p {
  margin: 0;
  color: #656878;
}

.promo a.button {
  color: #fff;
  background: #5450DC;
  display: inline-block;
  padding: 9px 24px 9px 24px;
  border-radius: 6px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  position: relative;
  font-size: 14px;
}

.promo a.button:hover {
  text-decoration: none;
  background-color: #4D4DB8;
  transition: background-color 0.1s linear;
}

.promo h5 {
  margin-top: 0;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: #5747DF;
}

.colophon {
  border-top: solid 1px rgba(0,0,0,0.1);
  font-size: 12px;
  overflow: hidden;
  color: #787D9B;
  margin-top: 24px;
}

.copyright {
  margin: 24px 0;
}

.copyright li {
  display: inline-block;
  margin-right: 12px;
}

.socialLinks {
  margin: 12px 0;
}

.socialLinks li {
  display: inline-block;
  margin-right: 32px;
}

.socialLinks li:last-child {
  margin-right: 0;
}

.socialLinks a {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999em;
}

footer .insta a {
  width: 20px;
  height: 20px;
  background: url(img/socialInsta.png) 50% 50% no-repeat;
}

footer .fb a {
  width: 21px;
  height: 20px;
  background: url(img/socialFB.png) 50% 50% no-repeat;
}

footer .twitter a {
  width: 24px;
  height: 18px;
  background: url(img/socialTwitter.png) 50% 50% no-repeat;
  margin-top: 1px;
}

#mobileMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%,0,0);
  width: 80%;
  background: #383B4E;
  overflow-y: scroll;
  color: #fff;
  transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

#globalWrapper{
  position: absolute;
  width: 100%;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: transform 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

/* Local Events */

.local-events {
  padding-top: 30px;
  padding-bottom: 30px;
}

.local-events .vevent .event-image {
  margin-bottom: 10px;
}

.local-events .vevent .event-image a {
  display: block;
  width: 263px;
  height: 156px;
  overflow: hidden;
  position: relative;
}

.local-events .vevent .event-image a:hover {
}

.local-events .vevent .event-image img {
  position: absolute;
  left: 50%;
  margin-left: -132px;
}

.main-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

#tfly-mobile-link {
  display: block;
  background: #5450DC;
  padding: 10px 0;
  text-align: center;
}

#tfly-mobile-link a {
  color: #fff;
}

/* Rebrand Banner */

#rebrand-promo {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

#rebrand-promo a {
  display: block;
  background: #5450DC;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 316px;
  line-height: 36px;
  padding: 0 12px 0 38px;
  background-image: url('img/promo-mask.png');
  background-size: 20px 38px;
  background-position: left top;
  background-repeat: no-repeat;
}

#rebrand-promo a:hover {
  text-decoration: none;
  background-color: #6562E0;
}

#rebrand-promo .right-arrow {
  position: absolute;
  right: 14px;
  top: 13px;
}

/* Consumer Promo Button */

#consumer-app-button {
  color: #fff;
  background: #5450DC;
  padding: 7px 18px 7px 18px;
  border-radius: 6px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  position: relative;
}

#consumer-app-button:hover {
  text-decoration: none;
  background-color: #4D4DB8;
  transition: background-color 0.1s linear;
}

/* Media Queries */

/* mobile only */
@media (max-width: 767px) {

  .event-venue {
    padding-left: 0;
    border-left: none;
    margin-top: 20px;
  }

  footer .promo {
    display: none;
  }

  footer a.button {
    padding: 8px 24px;
    font-size: 14px;
    border-radius: 18px;
  }

  body {
    margin-bottom: 121px;
  }

  .colophon {
    border-top: none;
    margin-top: 0;
  }

  footer {
    padding-top: 0;
    height: 121px;
  }

  #rebrand-promo {
    display: none;
  }

  .home .fb-rsvp-modal-status-box {
    display: none;
  }

}

/* tablet and larger */
@media (min-width: 768px) {

  header .searchField {
    display: block;
  }

  header nav ul {
    display: block;
  }

  header nav button {
    display: none;
  }

  .mobileFooterNav {
    display: none;
  }

  .footerMenu {
    display: block;
    margin-bottom: 90px;
  }

  .promo {
    display: none;
  }

  .copyright {
    float: left;
  }

  .socialLinks {
    margin: 24px 0;
    float: right;
  }

  body {
    margin-bottom: 336px;
  }

  footer {
    height: 336px;
  }

  .local-events ul li .vevent {
    height: 300px;
  }

  .home .fb-rsvp-modal-list-item {
    padding-right: 2px;
  }

  .home .local-events ul li img.fb-rsvp-modal-profile-image {
    width: 31px;
  }

}

/* desktop and larger */
@media (min-width: 992px) {

  header .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  nav li {
    margin-right: 32px;
  }

  #logo {
    margin-right: 40px;
  }

  header .searchField {
    width: 440px;
  }

  footer {
    padding-bottom: 0;
  }

  .flyingT {
    display: block;
  }

  .footerMenu {
    margin-bottom: 0;
  }

  .promo {
    display: block;
    position: static;
    margin-top: 0;
    padding: 0 15px;
    border: none;
  }

  .promo p {
    margin-bottom: 1em;
  }

  .promo h5 {
    font-size: 11px;
  }

  .colophon {
    margin-top: 24px;
  }

  body {
    margin-bottom: 234px;
  }

  footer {
    height: 234px;
  }

  .local-events ul li .vevent {
    height: 300px;
  }

  .home .fb-rsvp-modal-list-item {
    padding-right: 2px;
  }

  .home .local-events ul li img.fb-rsvp-modal-profile-image {
    width: 29px;
  }

}

/* hd */
@media (min-width: 1200px) {

  header .searchField {
    width: 560px;
    font-size: 14px;
  }

  header {
    font-size: 15px;
  }

  nav li {
    margin-right: 42px;
  }

  footer h6 {
    font-size: 12px;
  }

  .footerMenu {
    font-size: 14px;
  }

  .promo h5 {
    font-size: 12px;
  }

  .colophon {
    font-size: 14px;
  }

  body {
    margin-bottom: 243px;
  }

  footer {
    height: 243px;
  }

  .home .fb-rsvp-modal-list-item {
    padding-right: 3px;
  }

  .home .local-events ul li img.fb-rsvp-modal-profile-image {
    width: 37px;
  }

  .local-events ul li h2 {
    font-size: 16px;
    white-space: normal;
    overflow: visible;
    width:100%;
  }

  #consumer-app-button {
    padding-left: 32px;
    padding-right: 32px;
  }

}

/* retina assets */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  #logo a {
    background: url(img/tflyLogo@2x.png) no-repeat 50% 50% / 102px 15px;
  }

  .searchField input {
    background: #E9EAEF url(img/searchIcon@2x.png) no-repeat 10px 50% / 14px 14px;
  }

  nav .searchToggle {
    background: url(img/searchButton@2x.png) no-repeat 50% 50% / 19px 19px;
  }

  nav .menuToggle {
    background: url(img/menuButton@2x.png) no-repeat 50% 50% / 22px 17px;
  }

  footer .insta a {
    background: url(img/socialInsta@2x.png) no-repeat 50% 50% / 20px 20px;
  }

  footer .fb a {
    background: url(img/socialFB@2x.png) no-repeat 50% 50% / 20px 20px;
  }

  footer .twitter a {
    background: url(img/socialTwitter@2x.png) no-repeat 50% 50% / 22px 18px;
  }

  .page-header-pinned-wrap h1 a {
    background-image: url(img/flyingT@2x.png);
    background-size: 35px 42px;
  }

  a span.right-arrow {
    background-image: url('img/caret-right-2x.png');
    background-size: 6px 9px;
  }

  #rebrand-promo a {
    background-image: url('img/promo-mask-2x.png');
  }

}

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {

  #logo a {
    background: url(img/tflyLogo@3x.png) no-repeat 50% 50% / 102px 15px;
  }

  .searchField input {
    background: #E9EAEF url(img/searchIcon@3x.png) no-repeat 10px 50% / 14px 14px;
  }

  nav .searchToggle {
    background: url(img/searchButton@3x.png) no-repeat 50% 50% / 19px 19px;
  }

  nav .menuToggle {
    background: url(img/menuButton@3x.png) no-repeat 50% 50% / 22px 17px;
  }

  footer .insta a {
    background: url(img/socialInsta@3x.png) 50% 50% no-repeat / 20px 20px;
  }

  footer .fb a {
    background: url(img/socialFB@3x.png) 50% 50% no-repeat / 20px 20px;
  }

  footer .twitter a {
    background: url(img/socialTwitter@3x.png) 50% 50% no-repeat / 22px 18px;
  }

  .page-header-pinned-wrap h1 a {
    background-image: url(img/flyingT@3x.png);
    background-size: 35px 42px;
  }

  a span.right-arrow {
    background-image: url('img/caret-right-3x.png');
    background-size: 6px 9px;
  }

  #rebrand-promo a {
    background-image: url('img/promo-mask-3x.png');
  }

}
