/*body{
	 overflow:visible;
}
.main_nav_container,.footer_container,.search_container{
        width:1024px;
}
.search_dropdown_container{
	position:relative;
}
.global_search_submit{
	position:absolute;
	right:0;
}
.footer_link_container .footer_down_arrow{
	 padding:0px 0px 0 5px !important;
}
.footer_link_container .footer_up_arrow{
	padding:0px 0px 0 5px !important;
}


#main_container{ 
	padding-left:0;
	padding-right:0;
}*/

.sbToggle{
	width: 32px !important;
}
/* <Dattaprasad XMUAT-151 fixed on 09-07-2015 Starts */
.apply_promo{
	margin-left: 0 !important;
}
/* <Dattaprasad XMUAT-151 fixed on 09-07-2015 Ends */
/* <Dattaprasad XMSIT-207 fixed on 09-07-2015 Starts */
.homepageContainer{
	min-width: inherit !important;
}
.homepageBanner{
	float: none !important;
}
/* <Dattaprasad XMSIT-207 fixed on 09-07-2015 Ends */
/* <Dattaprasad XMUAT-147 fixed on 09-07-2015 Starts */
#main_container{
	min-width: inherit !important;
}
/* <Dattaprasad XMUAT-147 fixed on 09-07-2015 Ends */
