/* For Ipad potrat veiw */ 
@import url('include-device-css/device979.css') (max-width: 979px);

/* For Ipad landscape view */ 
@import url('include-device-css/ipad.css') screen and (max-width : 1024px) and (min-width : 600px);

/* For Ipad - mini */
 @import url('include-device-css/ipad_mini.css')  screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) ;


