/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none;-webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
/*.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
*/
.flexslider {
   /*margin: -16px 0 60px 0;*/
    margin: 0 0 60px 0; /*<Hema> MCUA-651 Fixed on 18-Feb-2015 */
    position: relative;
}

.flex-viewport {
    max-height: 2000px; 
    /*cursor:pointer;*//* baskar GWSIT-521 fixed*/
    //padding: 2px 0;
    padding: 2px 1px;
}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
ul.flex-direction-nav a {
	margin: -20px 0 0; 
	display: block; 
	cursor: pointer; 
	text-indent: -9999px; 
	opacity: 0; 
	/*-webkit-transition: all .3s ease; <swetha> : mcu-33 : 28/01/2015 */
	}
ul.flex-direction-nav li > a {
	position: absolute; 
	top: 50%;
	width: 27px; 
	height: 36px;
	margin-top:-18px;
	}
/*<swetha> Start: MCU-33 : 27/01/2015*/
.spotlight-slider .flex-direction-nav .flex-next {
	background: url(/img/slider_arrows.png) no-repeat -26px 0px; 
	right: -28px !important; /* Iris Defects Fixing */
    margin-right:-28px !important; /*<Mala>Start: MCU-38 : 23/12/2014*/

	}
.spotlight-slider .flex-direction-nav .flex-prev {
	background:url(/img/slider_arrows.png) no-repeat 0 0px; 
	left: -28px !important; /* Iris Defects Fixing */
    margin-left:-28px !important; /*<Mala>Start: MCU-38 : 23/12/2014*/

	}
.flexslider:hover .flex-next, .spotlight-slider.focused .flex-next,
.flexslider:hover .flex-prev, .spotlight-slider.focused .flex-prev 
{opacity: 1;}

 .spotlight-slider .flexslider .flex-next:hover {
	background: url(/img/slider_arrows.png) no-repeat -26px -36px;
	}
.spotlight-slider .flexslider .flex-prev:hover  {
	background: url(/img/slider_arrows.png) no-repeat 0 -36px;
	}
/*<swetha> End: MCU-33 : 27/01/2015*/
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: right;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 20px; height: 8px; display: block; background: #d4d4d4; cursor: pointer; text-indent: -9999px; 
/*-webkit-border-radius: 20px; 
-moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px;*/
 box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #9d9d9d ;cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}



.spotlight-slider .flexslider .slides li{
       margin-right:4px; /* itemMargin value in js should be same*/
       float: left;
       display:block;
}
.spotlight-slider .flexslider .slides.ends li{
       margin-left:-5px; /* itemMargin value in js should be same*/
 }
 .spotlight-slider .flexslider .slides img {
 padding-top:30px;
 }
 