/* Add to Bag Gleam CSS  Starts Here */
.add-to-bag-shine {
			width: 150px;
			height: 50px;
			 position: relative;
			line-height: 50px;
			overflow: hidden;
			cursor: pointer;
			margin:20px 0px 15px 0px;
			display:inline-block;
}
.outfit-details-flyout .add-to-bag-shine {
		/* float:left;
		clear:both; */
}
.add-to-bag-shine.add_all{
	width:180px;
}
.check_balance_btn_container .add-to-bag-shine{
	width: 270px;
	left:2px;
}
.add-to-bag-label-2 { 
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: 'Gotham A', 'Gotham B';
		font-size: 11px;
		font-weight: 600;
		z-index: 3;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 50px;
		transition: margin-top 0.3s ease;
		-webkit-transition: margin-top 0.3s ease;
		-moz-transition: margin-top 0.3s ease;
		-o-transition: margin-top 0.3s ease;
}
.add-to-bag-shine .add-to-bag-label-2 {
			z-index: 6;
}
.border-gradient{
			/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
			/* IE10 Consumer Preview */ 
			background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%);
			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%);
			/* Opera */ 
			background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.0)0%, rgba(255, 255, 255, 1) 100%);
			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, top, right top, color-stop(0, rgba(255, 255, 255, 0.0)), color-stop(1, rgba(255, 255, 255, 1)));
			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%);
			/* W3C Markup, IE10 Release Preview */ 
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 1) 100%);
}
.add-to-bag-shine .border-gradient{
			z-index: 5;
			opacity: 0.3;
}
.border-gleam{
			position: absolute;
			width: 200%;
			height: 100%;
			top:20%;
			left:-34px;
			z-index: 4;
			opacity:.4;
			-moz-transition: all .2s ease-out;
			-webkit-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg); /* IE 9 */
			-webkit-transform: rotate(45deg); /* Safari and Chrome */
			-moz-transform: rotate(45deg);
}
.check_balance_btn_container .border-gleam{
	left:-94px;
}
.check_balance_btn_container .add-to-bag-shine:hover .border-gleam-more{
	left: -175px;
}
.check_balance_btn_container .border-gleam-more{
	left: -152px;
}
.border-gleam-more{
			position: absolute;
			width: 200%;
			height: 1%;
			top:20%;
			left:-95px;
			z-index: 3;
			opacity:0;
			-webkit-transition: all .2s ease-out;
			-moz-transition: all .2s ease-out;
			-o-transition: all .2s ease-out;
			transform: rotate(-135deg);
			-ms-transform: rotate(-135deg); /* IE 9 */
			-webkit-transform: rotate(-135deg); /* Safari and Chrome */
			-moz-transform: rotate(-135deg);
			-o-transform: rotate(-135deg);
}
.add-to-bag-shine .add-to-bag-border{
			z-index: 4;
		}
		.add-to-bag-border{
			position: absolute;
			top:0;
			left:0;
			z-index: 2;
			width:136px;
			height: 36px;
			border: 7px solid black;    
		}
		.add-to-bag-border.add_all{
			width:166px;
		}
		.check_balance_btn_container .add-to-bag-border{
			width:256px;
		}
		.add-to-bag-glass{
			position: absolute;
			width: 100%;
			height: 100%;
			bottom:0;
			z-index: 3;
			
			/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
			/* IE10 Consumer Preview */ 
			background-image: -ms-linear-gradient(bottom left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.3) 100%);
			/* Mozilla Firefox */ 
			background-image: -moz-linear-gradient(bottom left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.3) 100%);
			/* Opera */ 
			background-image: -o-linear-gradient(bottom left, rgba(255, 255, 255, 0.0)0%, rgba(255, 255, 255, 0.3) 100%);
			/* Webkit (Safari/Chrome 10) */ 
			background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, rgba(255, 255, 255, 0.0)), color-stop(1, rgba(255, 255, 255, 0.2)));
			/* Webkit (Chrome 11+) */ 
			background-image: -webkit-linear-gradient(bottom left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.3) 100%);
			/* W3C Markup, IE10 Release Preview */ 
			background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.3) 100%);
			}
			.add-to-bag-glitter{
				opacity:0;
				position: absolute;
				width: 100%;
				height: 100%;
				background: white;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				position: absolute;
				z-index: 2;
			}
			.add-to-bag-gleam{
				position: absolute;
				top:8px;
				left:-71px;
				width:200px;
				height:0px;
				background: black;
				transform: rotate(17deg);
				-ms-transform: rotate(17deg); /* IE 9 */
				-webkit-transform: rotate(17deg); /* Safari and Chrome */
				-moz-transform: rotate(17deg);
				-o-transform: rotate(17deg);
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
			}
			.add-to-bag-shine .add-to-bag-label{
				-webkit-transition: all .3s ease-out;   
				-moz-transition: all .3s ease-out;  
				-o-transition: all .3s ease-out;  
				color: black;
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 3;   
				background: white;
			}
			.add-to-bag-shine:hover {
				color: #fff;
			}
			.add-to-bag-shine:hover .add-to-bag-gleam{
				/*top: -19px;
				left: -62px;
				height: 61px;*/
				top: -14px;
				left: -16px;
				height: 93px;
			}
			.add-to-bag-shine:hover .border-gleam-more {
			height: 200%;
			opacity: .2;
			z-index: 5;
			width: 200%;
			top: 20%;
			left: -115px;
			}
			.add-to-bag-shine:hover .add-to-bag-label{
				color: white;
				background: black;
				left: 0;
			}
			.changed_input{
				background:none!important;
				border:0;
				height:50px;
				width:150px;
				line-height:50px;
				letter-spacing:2px;
				position:absolute;
				z-index:999;
				font-weight:normal !important;
				font-size:11px !important;
				font-family:'Gotham 7r' !important;
                font-style:normal !important;
				left:0px;
				color:#000!important;
				padding:0px!important;
				margin:0px!important;
				float:left;
				text-transform:uppercase;
				text-indent:0!important;
			}
			/* Fix for EUSIT-961 starts : 10/May/2016 - sukraj*/
			#it_IT .changed_input{
				 font-size:10px !important;
			}
			/* Fix for EUSIT-961 starts : 10/May/2016 - sukraj*/
			.changed_input.add_all{
				width:180px;
			}
			.changed_input:hover{
				color:#fff!important; 
			}
			.check_balance_btn_container .changed_input{
				width:270px;
				line-height:52px;
			}
			.adding_input{
				display:none;
			    background:none;
				border:0;
				height:50px;
				width:150px;
				line-height:50px;
				letter-spacing:2px;
				position:absolute;
				z-index:999;
				font-weight:600;
				font-size:11px;
				font-family:'Gotham A', 'Gotham B';
				left:0px;
				top:50px;
				color:#000!important;
			}
			.adding_input:hover{
				color:#fff!important;
			}
			.added_input{
				display:none;
			    background:none;
				border:0;
				height:50px;
				width:150px;
				line-height:50px;
				letter-spacing:2px;
				position:absolute;
				z-index:999;
				font-weight:600;
				font-size:11px;
				font-family:'Gotham A', 'Gotham B';
				left:0px;
				top:50px;
				color:#000!important;
			}
			.additemBag .adding_input{
				top:0px;
			}
			.add-to-bag-shine .add-to-bag-label-2 {
				z-index: 6;
			}
			.added_input:hover{
				color:#fff!important;
			}
			.add-to-bag-label-2 { 
				z-index: 3;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 50px;
				transition: margin-top 0.3s ease;
				-webkit-transition: margin-top 0.3s ease; 
				-moz-transition: margin-top 0.3s ease; 
				-o-transition: margin-top 0.3s ease;       
		   }
		   #favoritedItemsContainer .additemBag .adding_input {
			top: 50px;
			}
		  .shift .add-to-bag-label-2 {
				margin-top: -50px;
			}
			.added{
				display:block;
				margin-top:-50px;
			}
			.largeContentSelect .add-to-bag-shine{
				margin:0px;
				vertical-align:middle;
			}
			#yourOrderContainer .add-to-bag-shine{
				margin:0px;
				width:150px;
			}
			#yourOrderContainer .border-gradient{
				margin:0px;
				width:200%;
			}
			#yourOrderContainer .add-to-bag-border{
				margin:0px;
				width:136px;
			}
			#yourOrderContainer .changed_input{
				width:150px;
			}
			#yourOrderContainer .add-to-bag-label-2{
				width:150px;
				margin:0px;
			}
 /* Add to Bag Gleam  CSS  Ends Here */
 /*<swetha> start: DEVCA-166 : 08/12/2014*/
 body#fr_CA .changed_input {
 	font-size: 10px !important;
 	letter-spacing: 1px !important;
 }
  /*<swetha> end: DEVCA-166 : 08/12/2014*/