html.mac-os-root-tag,body.mac-os{ /*MKPROD-1309: <Venkatesh> 14 April 2015*/
	overflow-x:hidden !important;
	zoom:1;
}
.main_nav_container{/*<prashob> DEXSIT-124 07July016*/
	zoom: 95.8%;
}
/* Start: mega menu women fly out css*/
#menuDd .mkDept1{
	/*width:990px !important; *//* DEVCA-819 : 28/1/2015*/
	/*height:275px !important;<prashob> DEXSIT_122 07July2016*/
}
#menuDd .mkDept1 .menuUL{
	/*<saleem>DEVCA-819: to fix the extra space in overlay*/
	/*zoom:95%;*/
}
#menuDd .mkDept1 .spotlight-slider{
	/*<saleem>DEVCA-819: to fix the extra space in overlay*/
	/*zoom:90%;*/
}
/* End: mega menu women fly out css*/
/* Start: Filter flyout fixed it for screen resolution*/
.filters_dropdown_container{
	padding-left:25px !important;
}
/* End: Filter flyout fixed it for screen resolution*/
.main_nav_container{
   /* width:1000px;/*<prashob> GWUAT_38 02feb2016 as per client suggestions*/
	/*margin:0 10px;/*<prashob> GWUAT_38 02feb2016 as per client suggestions*/
	width:100%;/*<prashob> GWUAT_38 02feb2016 as per client suggestions*/
}
.main_nav_content{
  /*  width:auto;/*<prashob> GWUAT_38 02feb2016 as per client suggestions*/
  width:1000px;/*<prashob> GWUAT_38 02feb2016 as per client suggestions*/
}
/* Start: Mega menu search icon css*/
.search_dropdown_container{
	position:relative;
}
#global_search {
	/*float: left;/*<prashob> GWUAT_38* 02feb2016 as per client suggestions*/ /*<swetha> : DEVCA-962 : 29/01/2015*/
	/*display: table;/*<prashob> GWUAT_38* 02feb2016 as per client suggestions*/
	/*below code is commented for fix EUSIT-1308 : 26/May/2016 - sukraj */
	/*margin: 0 auto;
	float:none;<prashob> GWUAT_38
	display:inline-block;<prashob> GWUAT_38 02feb2016 */
}
/* MKFP-318 for ipad*/
/*
#global_search a {
	padding:0 18.5px !important;
}
.search_icon{
	padding-right:2px !important;
}*/

/* MKFP-318 for ipad*/
.search_icon {
    /*background: url(/img/icons_sprite.png) -706px -2px no-repeat; */ /*<swetha> : GWUAT-44 : 30/10/2015*/
  }
.global_search_dropdown{
	zoom:95%;
}
/* End: Mega menu search icon css*/
.footer_link_container .footer_down_arrow,
.footer_link_container .footer_up_arrow {
	padding:0px 0px 0 0 !important;
	position: absolute;
	right: 50px;
	top: 12px; 
}
#main_container{ 
	padding-left:0;
	padding-right:0;
}
.checkout_your_order {
	zoom: 95%;
	float:left;
	margin:0 0 0 15px;
}
.checkout_confirm_right_panel{
	width: 30%;
	float:right;
	margin:0 5% 0 0;
	
}
/*<Hema> DEVCA-603 Defect fixed on 06-01-2015 */
.checkout_confirmation_left_panel{
	width:50% !important;
	float:left;
	margin-left:2% !important;
}
/*<Hema> DEVCA-603 Defect fixed on 06-01-2015 */
.complete_left_content{
	zoom:95% !important;
	margin-right:0px !important;
	float:left;
	padding-right:0 !important;
	padding-left:0 !important;
}
.news_letter_image{
	 zoom: 90%;
	float:right;
	margin:0 50px 0 0;
}
.account_leftnav{
	zoom:90%;
	/*outline:1px solid red; <swetha> : DEVCA-170 : 08/12/2014*/
}
.profile_wrapper{
	margin-right:40px !important;  /* To fix EUSIT-460 : 07/April/2016 - sukraj*/
	float:right;
}

#en_US .profile_wrapper, #fr_CA .profile_wrapper, #en_CA  .profile_wrapper {
	margin-right:14px !important;   /* ECOSIT-3*/
}

.single_orders_container{
	margin-top:0px !important;
}
.single_orders_container .orders_details_container{
	width:980px !important;
	margin:0 auto !important;
	margin-bottom:50px !important;
}
   .single_orders_container .orders_details_container h2{                       
	margin-top:0px !important;
}
.address_book_container,.payment_card_container,.order_history_frag_container,.orders_details_container,.no_fav_article_content,.favorite_content,.favorite_article_content
{
	/* margin:0px 0px 50px 0px;  To fix EUSIT-460 : 07/April/2016 - sukraj */
	float:left;
}
.medium_products_container,.filter_options_container,.small_products_container ,.outfit-top-section,.outfit_small_products_container ,.outfit_medium_products_container{
	margin-left:0px !important;
	
	margin-right:65px !important;
}

.search_mispelled_container .filter_options_container{
	margin-right:65px !important;
}
.search_mispelled_container .mispelled_sentence_container,.mispelled_articles_container{
	margin-right:40px !important;
}
.search_mispelled_container .articles_breadcrumb{
	margin-left:20px !important;
}
.search_mispelled_container .medium_products_container,.mispelled_article_container .search_products_container,.search_articles_wrapper .search_products_container{
	
	margin-left:0px !important;
	margin-right:50px !important;
}
.leftnav_container,.search_leftnav_container{
	zoom:80%;
	margin-left:20px !important;
	margin-right:0px !important;
}
/* Fix for EUSIT-1112 : 16/May/2016 - sukraj*/
.search_results_facets_container .filter_options_container, .search_results_facets_container .searchResultContainer{
	margin-right:72px !important;
}
.search_noresult_container .medium_products_container{
	margin-right:0px !important;
}
.cart_container .cart_content{
	width:60%;
}
.cart_container .your_order_container{
	width:35%;
	float:left;
}
.create_account_left{
	width:59%;
	float:left;
	margin-right:9px !important;
}
.create_account_right{
	width:40%;
	float:left;
}
.sign_content{
	float:left;
	zoom:98%;
	margin-right:20px !important;
}
#prev_next_pager{
	margin-right:60px !important;
	
}
.outfit_viewdetails_left{
    width:19%;
	padding-left:1% !important;
}
/*<swetha> Start: DEVCA-542 : 20/01/2015 */
.outfit_viewdetails_middle{
 	width:51%;
}
.outfit_viewdetails_right{
    width:29%;
   	display: inline-block;
	position: relative;
	float: none;
	right: -40px;
}
/*<swetha> End: DEVCA-542 : 20/01/2015 */
.stores_left_content{
 zoom:90%;
 width: 300px !important; /*<swetha> : DEVCA-296 : 17/12/2014*/
}
.store_locator_image_container,.store_locator_empty_container{
	margin:0 30px 0 0 !important;
	float:left !important;
	width:65% !important;
}


/*megamenu*/
/*#menuDd .destination-menu{
       width: 100% !important;
}<prashob> MKWAR-59 02May2016*/
/*Start: Category Pages Quickview */
#largeview_grids .lg-grid-prev , #product_quickview_popup .lg-grid-prev{
   left:60px !important;
}
 #product_quickview_popup .lg-grid-next{
   right:60px !important;
}
#largeview_grids .lg-grid-next{
   right:60px !important;
}
/*Start: PDP Page */
#share_email_popup .checkbox_container{
    margin-left:21px !important;
}
.product_detail_full_size_image{
    width:570px;
}

.product_details_left_sidebar{
    width:24%;
    padding-left: 1%;
}
.product_detail_full_size_image{
    width:50%;
}
.product_details_right_sidebar{
    width:25%;
}
.you_might_inner_container{
    width:98%;
    padding: 0 1%;
}

/*End: PDP Page */

/*Start: Gift Card PDP */
#giftcard_email_popup .checkbox_container{
    margin-left: 20px;
}
/*End: Gift Card PDP */
.hover_icons{
    padding: 10px;
}
.products_content .share_hover_icons{
    left:-112px;
    top:24px;
}
/* Start: Checkout Pages phone number alignment changes*/
.shipping_default_address p a{
	float:left;
	padding:0;
	color:#898989;
	font-family: 'Gotham 3r';
	font-weight: normal;
	font-style: normal;
}
.payment_address li a,.shipping_exist_address li a{
	color:#8d8d8d;
}
/* End: Checkout Pages phone number alignment changes*/

/* Start: Static Pages , Checkout Pages  and Account Pages  alignment */
.static_container{
	width:1024px;
}
.static_left_nav{
	width:28%;
	padding-left:2%;
}
.static_about_us,.static_faq,.static_shipping_container,.static_terms_condition,.static_account_container,.static_return_container,
.static_warrenty_container,.static_payment_info_container,.static_privacy_container,.static_cookie_container{
	width:68%;
	padding-right:2%;
}
.static_contact_us{
	zoom:95%;
	margin:0 0 0 22px !important;
}
.static_account_container,.static_shipping_container,.static_about_us,.static_terms_condition,.static_faq,.static_shipping_container,.static_return_container,.static_payment_info_container
,.static_privacy_container,.static_cookie_container,.static_warrenty_container{
	width:63% !important;
	float:left !important;
}
.careers_container{
	position:relative;
	top:-26px !important;
}
#main_account_container{
	width:1024px;
	display:inline-block; /*To fix EUSIT-460 : 07/April/2016 - sukraj */
	/* padding-bottom:20px; */ /*commented to fix EUSIT-423 - sharath on 1-4-2016*/
}
.reset_password_content{
	width:50%;
	margin: 0 auto;
}

.reset_password_email_content{
	width:50%;
	margin: 0 auto;
}
.complete_left_content{
	width:36%;
	padding-left: 2%;
	margin-right:2%;
}
.complete_right_content{
	width:58%;
	padding:10px 0 0 2%;
}
#main_checkout_container{
	width:1024px;
}
.checkout_container{
	width:96%;
	margin:0 2%;
}
.order_status_container{
	width:1024px;
	margin:0 auto;
}
.order_account_container{
	width:850px;
	margin:0px auto;
	padding-bottom:50px;
}
.order_content{
	width:50%;
}
.order_account_content{
	width:50%;
}

/* End: Static Pages , Checkout Pages  and Account Pages  alignment */
/* Start: Store Locator Page Postal code color changes */
.individual_store p a{
	color: #8c8c8c;
}
/* End: Store Locator Page Postal code color changes */

/*Start: Career Page css*/
.careers_splash img{
	margin-top:0px;
}
/*End: Career Page css*/
/* Landing Content Slot Small page  added broder right for 3rd product*/
.small_products_container .products_content div ~ ul  li:nth-child(3){
	border-right: 1px solid #ccc;
}

/*Start: All Pages CSS */
.apply_promo{
	margin-left: 5px;
}
.edit_profile_close{
	right:5px;
}
.complete_right_content .password_hint_beside label.error{
	width:235px !important;
}
.complete_right_content .fields_container label#confirm_password-error{
	width: 405px !important;
}
.reset_field_container .sbToggle{
	width: 32px;
}
/* waseem fix for EUSIT-1006 on 07-06-2016 */
/* .join_bg input[type="submit"] {
	width: 48px !important;
}
.visit_bg input[type="submit"] {
	width: 48px !important;
} */
.filter_options_container {
	margin:10px 20px 0px 15px; /*fix for ipad*/
}

.position_right{
	/*top:8px;*/
}
.sbToggle{
	width: 32px !important;
}
.large_view .image_size{
	margin:0 65px 0 0 !important;
}
.searching_drop_downs .sbHolder ul{
	width:145px !important;
}
/* In all dropdown arrow mark hidding the border of dropdown so that moved the arrow position for ipad only*/
.sbToggle{
	top:1px;
	right:1px;
}
.gift_card_landing .check_balance{
	margin-right:30px;
}
.accept_cards .master{
	background-position:-51px 1px;
}
.accept_cards .american{
	background-position:-102px 1px;
}
.accept_cards .discover{
	background-position:-152px 1px;
}
.profile_landing{
	/* waseem fix for MKSPARKRED-210 13/5/16 */
	/* overflow: visible !important; */
}
.accepting_cards span{
	top:6px !important;
}
form#create_account .fields_container.month_date .sbHolder:last-child{
	width:122px !important;
	margin-left: 10px !important;
}
/*<Hema> Start : DEVCA-296 : 19/12/2014*/
/*<swetha> Start : DEVCA-296 : 17/12/2014*/
*:focus, select:focus, .custom-checkbox:focus, .custom-checkbox label:focus, .spotlight-slider .flexslider .slides li:focus a img,.global_search_close_icon:focus,.search_dropdown_container .sbHolder:focus,.mini_cart_container .add-to-bag-shine:focus,
.image_size a:focus span,.product_panel a:focus img, .category_large_prod_details a:focus img,
.checkbox_container:focus  > .css-label, p.shoping_cart_prod_name:focus,
.prod_name a:focus,
a.sbSelector:focus,
a.ui-tabs-anchor:focus,
.outfit_viewdetails_tabs a:focus,
.ui-tabs .ui-tabs-nav li a:focus,
#style_notes:focus,#details:focus,
.pdp_description_content:focus,
.pdp_description_content .jspContainer .jspDrag:focus,
.pdp_thumbnails a:focus,
a.show_hide_arrow:focus > .chevron,
a.prod_tabindex:focus,
.product_panel a:focus img,
a.prod_tabindex:focus,
.ui-tabs-nav a:focus, li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:focus,
.product_panel a:focus img,
.search_article_panel > a:focus img,
.selected_filters > a:focus > span,
input.express_checkout_button:focus,
.product_panel_trends a:focus img,
.fav_div:focus .fav_link span,
ul.thumbnails_container li > a:focus,
.static_nav_list a:focus, .social_icon a:focus > img,
li.ui-state-default.ui-corner-top:focus > a,
.mk_mini_logo a:focus,
.lg-grid-next:focus, .lg-grid-prev:focus
.mk_mini_logo a:focus,
.lg-grid-next:focus, .lg-grid-prev:focus, .details_close:focus, .static_container a:focus, .orders_details_container .scroll-pane:focus{
    outline: none !important;
    border: 0px !important;
}
/*<swetha> End : DEVCA-296 : 17/12/2014*/
/*<Hema> Start : DEVCA-296 : 19/12/2014*/

/*<swetha> Start : DEVCA-242 : 17/12/2014*/
.create_account_right {
	margin-right: 10px;
}
.order_history_frag_container, .favorite_content, .favorite_article_content, #single_order_purchased_outer{
	margin-right:30px;
}
#main_account_container .account_leftnav {
	margin-right: 25px;
}
/*To fix EUSIT-460 starts: 07/April/2016 - sukraj */
#main_account_container .orders_container .account_leftnav, #main_account_container .order_history_container .account_leftnav {  /* Fix for MKSPARKRED-147 - 29/April/2016 - sukraj */
	margin-right: 20px;
}
/*To fix EUSIT-460 ends: 07/April/2016 - sukraj */
.orders_details_container {
	margin-right: 40px;
}
/*<swetha> End : DEVCA-242 : 17/12/2014*/
/*<swetha> Start: DEVCA-557 : 31/12/2014*/
.checkout_your_order {
	margin-right: 30px;	
}
/*<swetha> End: DEVCA-557 : 31/12/2014*/
/*<Hema>  DEVCA-575 Defect fixed on 02/01/2015*/ 
.pdp_main_container{
	width:100% !important;
}
.product_details_left_sidebar{
	width:25% !important;
}
/*<Prashob> MUC-513 Defect fixed on 20/05/2015*/ 
.product_detail_full_size_image{
	width:45% !important; /*<Prashob> ECOSIT-1 03Aug2016*/ 
}
/*<Prashob> MUC-513 Defect fixed on 20/05/2015*/ 

/*<Hema>  DEVCA-540 Defect fixed on 05/01/2015*/ 
.product_details_right_sidebar{
	width:25% !important;
}
/*<Hema>  DEVCA-575 Defect fixed on 02/01/2015*/ 
/*<Hema>  DEVCA-540 Defect fixed on 05/01/2015*/ 
.search_leftnav_container{
	width:125px !important;
}
/*<Hema>  DEVCA-540 Defect fixed on 05/01/2015*/ 
/*<swetha> Start: DEVCA-553 : 05/01/2015*/
.no_fav_article_content {
	width: 700px;
	float: right;
	margin-right: 30px;
}
/*<swetha> End: DEVCA-553 : 05/01/2015*/
/*<swetha> Start: DEVCA-545 : 07/01/2015*/
.join_bg #Join {
	left: 1.5px;
}
.visit_bg #Find {
	left: 1.5px;
}
/*<swetha> End: DEVCA-545 : 07/01/2015*/
 /*<Hema> DEVCA-654 Defect fixed on 12-01-2015 */
.favourites_container .share_email_right_arrow{
	top:25px !important;
}
.share_email_div .share_hover_icons {
	/* top:-128px; */ /*<saleem> ECHOSIT-02 bcz of this its breaking in ipad quick view.*/
}
.share_email_div .share_hover_icons .share_email_right_arrow{
	top:auto !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
	border-bottom: 1px solid #000000 !important;
}
 /*<Hema> DEVCA-654 Defect fixed on 12-01-2015 */
  /*<Hema> DEVCA-657 Defect fixed on 12-01-2015 */
 .details_holder .custom-checkbox {
	margin-top:3px;
}
/*<Hema> DEVCA-657 Defect fixed on 12-01-2015 */
/*<Hema> DEVCA-655 Defect fixed on 12-01-2015 */
ul.might_like li{
	width:248px !important;
}
.fav_product_panel_active{
	left:0px;
}
/*<Hema> DEVCA-655 Defect fixed on 12-01-2015 */
/*<swetha> Start: DEVCA-724 : 13/01/2015*/
.outfit_item_container{
	max-height: 740px !important;
}
.viewdetails_container .vertical_shadow_patch {
	box-shadow: none !important;
}
/*<swetha> End: DEVCA-724 : 13/01/2015*/

/*<saleem> End: DEVCA-708 : 13/01/2015*/
.empty_cart_heading .continue_shopping_link{
	margin-right: 43px;
}

.empty_cart_banner_container{
	margin-left: 3px !important;
}

.find_store_dialog_close,.find_store_dialog_close:hover, .find_store_dialog_close:focus{
	width:20px;
	height:20px;
}

.gift_text_area textarea:focus{
	border:1px solid #ccc !important;
}
/*<Bhoomika> Start : Devca -919   */
#share_email_form textarea:focus{
	border:1px solid #ccc !important;
}
/*<Bhoomika> End : Devca -919   */
.details{
	margin-top:12px !important;
}

.outfit_item_info .sbToggle{
	height: 29px !important;
}

.outfit_item_info .edit_size .sbOptions li a{
	width:134px !important;
}

.outfit_item_info .edit_qty .sbOptions li a{
	width:44px !important;
}

.sign_in_main_box a.details{
	line-height: 0px !important;
}

/*<saleem> End: DEVCA-708 : 14/01/2015*/
/*<swetha> Start: DEVCA-773,DEVCA-768,DEVCA-770 : 14/01/2015*/
.category_container .leftnav_container .nav_seperator {
	width: 90%;	
}
.checkout_steps_container {
	margin-left: 10px;
}
#large_prod_carousel .category_largeview_container {
	margin-right: -5px !important;
}
.checkout_items_holder {
	height: 200px !important;
}
.checkout_promo .apply_promocode .enter_promo[placeholder] {
	font-size: 10px !important;
}
/*<swetha> End: DEVCA-773,DEVCA-768,DEVCA-770 : 14/01/2015*/
/*<swetha> Start: DEVCA-728 : 19/01/2015*/


/*<swetha> End: DEVCA-728 : 19/01/2015*/

/*Start: DEVCA-770:19/1/2015*/
.checkout_promo .apply_promocode .enter_promo[placeholder] {
	font-size: 10px !important;
}
/*End: DEVCA-770:19/1/2015*/
/*<swetha> Start: DEVCA-867 : 29/01/2015*/
.you_might_also_like_container {
	width: 95% !important;
	margin-left:10px;
	margin-right: 10px;
}
.you_might_inner_container,.you_might_inner_container h5,#pdp_you_might_like ul  {
	width: 98% !important;
}
.you_might_inner_container ul.might_like li {
	width: 230px !important;
}
.you_might_inner_container ul.might_like li .product_description,
.you_might_inner_container ul.might_like li .prod_name {
	width: 220px !important;
}

/*<swetha> End: DEVCA-867 : 29/01/2015*/
/* <Bhoomika> :DEVCA-914: 29/1/2015*/ 
.gift_warping_checkbox_label:focus,
.checkout_shipping_address .custom_checkbox_focus:focus,
.checkout_shipping_address #gift_wrapping:focus,
.gift_wrap_checkbox .custom_checkbox_focus:focus{
	outline: 0 !important;
	outline-offset: 0px !important;
	border:none
}

/*<Jebarin> fix for ipad DEVCA-856 : 29/Jan/2015*/ 
#signin_form .details_holder a.details{
	margin-bottom:6px !important;
	vertical-align:bottom !important;
}
/* <Bhoomika> :DEVCA-914: 29/1/2015*/ 
/*<swetha> End: DEVCA-867 : 29/01/2015*/
#quick_view_popup .image_container {
	overflow:hidden !important; /*<swetha> : DEVCA-945 : 29/01/2015*/
}
/*31/01/2015 DEVCA-985 : <Bhoomika>*/
.view_all_stores > a{
	float:none !important;
	display:block;
	margin-top:0px;
	text-align:right;
	width:81%!important;
}
.homepageBanner .homepage{
	margin-top: 0 !important; /*<soma> overlapping banner on the Mega menu navigation */
}
/*<Hema> DEVCA-1147 and DEVCA-1146 fixed 10-Feb-2015*/
body.mac-os .product_panel_small{
	width: 156px !important;
	margin-left: -4.4px !important; /*<saleem> DEVCA-1147 and DEVCA-1146 02-12-2015*/
	margin-right:0px !important;
}
body.mac-os #productGrids ul li.product_panel_small{
	width: 156px !important;
	margin-left:-1px !important;
}
/*<Hema> DEVCA-1147 and DEVCA-1146 fixed 10-Feb-2015*/
/*<Hema> Smoke Test Defect fixed on 22-April-2015*/
body.mac-os .table_rows_container table, body.mac-os #cart_items_content{
	width:590px !important;
}
/*<Hema> Smoke Test Defect fixed on 22-April-2015*/

/*<prashob> MKFP-277 re-design-29 May 05  starts*/




.footer_link_container{
	min-width:100%;
}
/*<prashob> MKFP-277 re-design-29 May 05  starts*/

/*<prashob> MKDEV-794 10April2015  starts*/
.table_rows_container table,.cart_items_table,#cart_items_content,#table_scroll,.table_rows_container{
	width:610px !important;
}
/*<prashob> MKDEV-794 10April2015  ends*/

/*Start <prashob> 08May2015*/
#cart_items_content th.items_details{
	width:130px !important;
}
#cart_items_content th.items_qty{
	width:65px !important;
}
#cart_items_content th.item_unit_price{
	width:150px !important;
}
#cart_items_content th.items_subtotal{
	width:76px !important;
}
#cart_items_content th.items_close{
	width:35px !important;
}
/*End <prashob> 08May2015*/

/* <Dattaprasad> XMSIT-207 starts */
.horizontalSpotlight .carousal_content .flex-direction-nav .flex-prev{
	left: -30px !important;	
}
.horizontalSpotlight .carousal_content .flex-direction-nav .flex-next{
	right: -30px !important;	
}
.horizontalSpotlight .flexslider{
	margin-left: 40px !important;
}
/* <Dattaprasad> XMSIT-207 ends */

.category_largeview_container_outfit .viewdetails_container{
	box-shadow:inset 3px 0px 5px -3px #ccc !important;/*prashob DEVCA-1359 15Oct2015*/
}

/*<prashob> iris defect-25 21Dec2015 Starts*/
.fields_container input:focus{
	outline:1px solid #949494 !important;
}
/*<prashob> iris defect-25 21Dec2015 Ends*/

/*<prashob> 29Dec2015 Starts*/ /*<SPAKREDUAT-29> commanted for space align for navigation menu : 29/06/2016 - sukraj  */
/* #fr_CA .main_nav_container .main_nav_content{
	width:1020px;
} */
#fr_CA ul.dept-list li.dept-sub-list{
	padding:0px;/*<SPAKREDUAT-29> Fix for space align for navigation menu : 29/06/2016 - sukraj  */
}
/*<prashob> 29Dec2015 Ends*/

/*<prashob> AUK-112 13Jan2015 Starts*/
body#fr_CA .store_search #storeLocatorAddressField{
	width:168px ;
}
/*<prashob> AUK-112 13Jan2015 Ends*/


/*<sukraj> code is added for mega menu space alignment start*/
.main_nav_content ul.dept-list {
	position:relative;
	z-index:1001;/*Fix for EUSIT-1308 : 26/May/2016 - sukraj*/
	float:left;
	width:100%;
	display: -webkit-box;
	-webkit-box-pack: justify;
}
/*<sukraj> code is added for mega menu space alignment end*/
/**********************************************************************************************************************
*******************************   <Dattaprasad> Css for the online versus In-store Starts      ************************
***********************************************************************************************************************/
.orders_details_container {
	margin-right: 28px !important;
}
.orderShippedInfo span.orderHistoryHeading4{
	margin-right: 20px !important;
}
.orderShipping, .orderSummary{
	margin-left: 15px !important;
}
.ordersTransactionContainer{
	margin-left: 0 !important;
}
/**********************************************************************************************************************
*******************************   <Dattaprasad> Css for the online versus In-store ends        ************************
***********************************************************************************************************************/
/* <Waseem> CSIT-63 Fixed on 16-03-2016 starts */
/* Fix for EUSIT-594  code is commanded : 22/April/2016 - sukraj*/
/* .filters .filter-list li .label::before{
	top: 3px !important;
} */
/* <Waseem> CSIT-63 Fixed on 16-03-2016 ends */

.sign_in_main_box{
	display:none;/*<prashob> CSIT-428 28April2016*/
}

.main_nav_container{
	margin-top:-2px !important;/*<prashob> MKWAR-59 02May2016*/
}
 /*Fix for EUSIT-1653 on 13/06/2016  <waseem>*/
 body[id^="fr_"] .store_search #storeLocatorSubmit,
 body#es_ES .store_search #storeLocatorSubmit{
	font-size: 10px;
 }
/*Fix for EUSIT-1493 strats : 04/June/2016 - sukraj*/ 
textarea#comments{
	outline: 1px solid #949494 !important;
	box-shadow: 0 0 3px rgba(170,170,170,0.5);
}
/*Fix for EUSIT-1493 ens : 04/June/2016 - sukraj*/

/* Start: for wish list might like section is breaking */
.wishList_you_might_also_like_container li {
    width: 190px; /*<saleem> : FRKSIT-801*/
}
/* End: for wish list might like section is breaking */
/* <sathya> ECOUAT-31 14sep2016 */
#fr_CA .password_hint{
	line-height:11px;
}

/*FRKSIT-381<prashob> 17Sep2016 Starts*/
.pdp_clc_section .shiptoadd_rdbtn, .location-label .pickup-location, .pdp_clc_section .shiptoadd_rdbtn_quickiew{
	background-color:transparent;
	border-color:transparent;
}
/*FRKSIT-381<prashob> 17Sep2016 Ends*/