html,body{
	
	
}
/*<swetha> Start: DEVCA-245,DEVCA-295,DEVCA-299 : 17/12/2014 iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.footer_links_heading:first-child {
		margin-left: 25px;
	}
	input[type='button'].footer_down_arrow,
	input[type='button'].footer_up_arrow {
		color: #fff !important;
	}
	#edit_profile_popup #edit_profile_form .fields_container.month_date .month~div.sbHolder, 
	#edit_profile_popup #edit_profile_form .fields_container.month_date .month~div.sbOptions, 
	#edit_profile_popup #edit_profile_form .fields_container.month_date .month~div.sbSelector {
		width: 150px !important;
	}
	#edit_profile_popup #edit_profile_form .fields_container.month_date .date~div.sbHolder, 
	#edit_profile_popup #edit_profile_form .fields_container.month_date .date~div.sbOptions, 
	#edit_profile_popup #edit_profile_form .fields_container.month_date .date~div.sbSelector {
		width: 115px !important;
	}
	#edit_profile_popup #edit_profile_form .fields_container label[for='birth_date'] {
		margin-right:0px;
	}
}
/*<swetha> End: DEVCA-245,DEVCA-295,DEVCA-299 : 17/12/2014 */

/*<soma> Start: DEVCA-169 : 24/12/2014 iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.main_nav_content {
	  float: none;
}
}
/*Start:<Hema> DEVCA-294 and DEVCA-295 Defect fixed on 24-12-14 */
input[type='button'].footer_down_arrow, input[type='button'].footer_up_arrow{
	cursor:none !important;
}
/*End:<Hema> DEVCA-294 and DEVCA-295 Defect fixed on 24-12-14 */
/*<Hema> DEVCA-491  Defect fixed on 31-12-14 */
.checkout_confirmation_left_panel{
	width:600px !important;
	margin-left:10px !important;
}
/*<Hema> DEVCA-491 Defect fixed on 31-12-14 */
/*Start:<Hema> DEVCA-363 Defect fixed on 06-01-2015 */
.outfit_item_container{
	max-height: 730px;
	height:730px;
	overflow:hidden;
}
/*End:<Hema> DEVCA-363 Defect fixed on 06-01-2015 */
/*Start: DEVCA-770:19/1/2015*/
.checkout_promo .apply_promocode .enter_promo[placeholder] {
	font-size: 10px !important;
}
/*End: DEVCA-770:19/1/2015*/

/*<prashob> MKFP-277 re-design-29 May 05  starts*/
/*
.social_links_div{
	margin-left:-66px;
}
.footer_nav_links li.footer_links_heading{
	margin-right:80px !important;
}
.footer_links_heading:last-child{
	margin-right:0 !important;
}
input.footer_up_arrow[type="button"],input.footer_down_arrow[type="button"]{
	right:80px !important;
}*/
/*<prashob> MKFP-277 re-design-29 May 05  starts*/
.table_rows_container table,.cart_items_table,#cart_items_content,#table_scroll{
	width:610px !important;
}
/*<prashob> MKDEV-794 10April2015  ends*/

/*Start <prashob> MKFP-277 08May2015*/

#cart_items_content th.item_unit_price{
	width:142px !important;
}
#cart_items_content th.items_subtotal{
	width:74px !important;
}
#cart_items_content th.items_close{
	width:32px !important;
}
/*End <prashob> MKFP-277 08May2015*/
/*Fix for EUSIT-1653 on 13/06/2016 <waseem>*/
body[id^="fr_"] .store_search #storeLocatorSubmit,
body#es_ES .store_search #storeLocatorSubmit{
	font-size: 10px;
 }
 /*Fix for EUSIT-1427 starts: 04/June/2016 - sukraj*/
 body#de_CH .create_account_wrapper .password_hint{
	height: auto !important;
} 
/*Fix for EUSIT-1427 ends: 04/June/2016 - sukraj*/

/* <sathya> ECOUAT-31 14sep2016 */
#fr_CA .password_hint{
	line-height:11px;
}