@CHARSET "ISO-8859-1";
.black_overlay {
	background-color: #f2f2f2;
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .40;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	/* top: 9%; Fix for EUSIT-845 - 04/May/2016 - Sukraj */
	left: 32%;
	z-index: 1002;
	overflow: hidden;
	box-shadow: 3px 3px 1px 1px #E6E6E6;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DEDEDE;
	box-shadow: 0 0 5px #CCCCCC;
	clear: both;
	padding: 15px;
	width: 550px;
}

.header_txt {
	padding: 10px 0px 10px 0px;
	font-size: 13px;
	text-align: left;
	font-family: 'Gotham 3r';
	font-weight: normal;
	font-style: normal;
	letter-spacing: 1px;
	line-height: normal;
	color: #000000;
	margin-left:30px;
}

.blue_txt {
	padding-top: 15px;
	font-size: 13px;
	font-family: 'Gotham 3r';
	font-weight: normal;
	font-style: normal;
	color: #13b5f0;
}

.lable_txt {
	text-align: right;
	font-family: 'Gotham 3r';
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 1px;
	color: #000;
}

.socialLogin{
	background-color: #4a3022;
	border: medium none;
	color: #FFFFFF;
	font-size: 11px;
	font-family: 'Gotham 7r';
	font-weight: normal;
	font-style: normal;
	/* padding: 6px 10px !important; */
	text-decoration: none;
	line-height: normal;
}

.socialLoginSubmit{
	position: absolute;
	right: 134px;
}

.socialLoginEmail{
	position: relative;
	left: 205px;
}

.socialRegCancel{
	margin-right: 15px;
	float: right;
}

.socialCancel{
	margin-left: 10px;
}

.socialCancelCheckout{
	margin-left: 470px !important;
	position: relative;
	top: -45px;
	right: 145px;
}

.socialEmailCancel{
	float: right;
	margin-right: 27px;
}

.socialPwd{
	margin-left: 110px !important;
}

.socialLoginCheckout{
	margin-left: 230px !important;
}

.lable_txt input {
	width: 250px;
	height: 25px;
	margin-left: 84px;
}

.txt_re_enter input {
	width: 250px;
	height: 25px;
	margin-left: 10px;
}

.clear {
	clear: both;
}

.button_area {
	margin-top: 15px;
	width: 69%;
	float: right;
	height: auto;
	padding-bottom: 5px;
	position:relative;
}
#socialCreateProfileForm .button_area{
	margin-top: 15px;
	width: 82%;
	float: left;
	height: auto;
	padding-bottom: 5px;
	position: relative;
	text-align: center;
}
body#en_CA #socialCreateProfileForm .button_area{
	width: 74%;
}
.sign-in {
	margin: 15px 27px 0 85px;
	width: 280px;
}

.sign-in_re {
	margin: 27px 10px 0 0px;
	width: 280px!important;
}
body#en_CA #socialSignInDropDown .sign-in_re{
	margin: 5px 10px 10px 30px;/*margin: 27px 10px 0 30px;*/
}

.sign-in_chkout{
	margin: 15px 27px 0 90px;
	width: 280px;
}

.sign-in-gray{
	background-color: #D6D6D6 !important;
	margin: 0px 0px 15px 0px!important;
}

/*Fix for EUAT-819 on 15/07/2016 <waseem>*/
#loginform {
	padding-left: 30px; 
	-ms-width: 98% width: 79%;
	float: left;
	margin-top: 15px;
}
#socialCreateProfileForm #password{
	margin: 0px 0px 15px 30px;
	width:280px;
}
#socialCreateProfileForm #confirmPassword{
	margin: 0px 0px 0px 5px;
	width:280px;
}
.req{
	margin-left: 145px;
	font-size:12px;
}
#passwordLabel{
	/*margin-left: 24px;*/
}
/* Fixed MCUA-257 displying block color santhos */
.alert_msg{
	margin:10px 0px 10px 0px;
	color:block;
	border-top:1px solid red;
	border-bottom:1px solid red;
	padding:5px;
}
#socialSignInDropDown .button_area{
	margin-right: 11px;/*Fix for EUSIT-1482 : 04/June/2016 - sukraj*/
	margin-top:0px;
}
#socialSignInDropDown .req{
	margin-left: 127px;/*Fix for EUSIT-1482 : 04/June/2016 - sukraj*/
}
.header_socialmsg{
	margin-left: 30px;
	margin-bottom: 10px;
}
#socialCheckEmailForm .sign-in{
	margin: 15px 27px 0 15px;
	width: 280px;
}
#socialCheckEmailForm .button_area{
	margin-right: 95px;
	margin-top: 10px;
	width:52%;
}
#socialCheckoutSignin .sign-in-gray{
	margin: 0px 0px 15px 3px!important;
	width: 280px;
}
#socialCheckoutSignin{
	margin-left:30px;
}
#socialCheckoutSignin .button_area{
	margin-top: 10px;
	width: 76%;
}
#socialCheckoutSignin .sign-in_re{
	margin: 5px 10px 0 11px;
}
#socialCheckoutSignin .req {
	margin-left: 118px;
}
#resetSocialEmailForm .socialPwd{
	margin-left: 0px !important;
}
#resetSocialEmailForm .socialResetPwd{
	margin-left: 13px !important;
}
#changePasswordForm #passwordLabel,#changePasswordForm #confirmPasswordLabel,#changePasswordForm #secretQuestionLabel,#changePasswordForm #answerLabel{
	margin-left: 26px;
	margin-left: 40px \0/;
}
#resetSocialEmailForm label#passwordLabel{
	margin-left: 59px !important;
	float: none !important;
}
#resetSocialEmailForm label#confirmPasswordLabel, #socialCreateProfileForm label#passwordLabel, #socialCreateProfileForm label#confirmPasswordLabel{
	float: none !important;
}
#light #loginform #socialCreateProfileForm #confirmPassword, #light #loginform #socialCreateProfileForm #password{
	margin-left: 10px;
}
 #light #loginform #socialCreateProfileForm #confirmPasswordLabel{
	margin-left: 8px;
}
#light #loginform #socialCreateProfileForm #passwordLabel{
	margin-left:33px;
}
#light #loginform #socialCreateProfileForm .req {
	margin-left: 158px;
}
body#fr_CA #light #loginform #socialCreateProfileForm #passwordLabel{
	margin-left: -30px;
}
body#fr_CA #light #loginform #socialCreateProfileForm #confirmPasswordLabel{
	margin-left: -41px;
}
body#fr_CA #light #loginform #socialCreateProfileForm .req{
	margin-left: 150px;
}
body#fr_CA #light #loginform #socialCreateProfileForm #fieldmissingtext{
	margin-left: 137px;
}
body#fr_CA #light .header_txt{
	margin-left: 9px;
}
body#fr_CA #light #loginform #socialSignInDropDown #signInBoxPasswordLabel{
	margin-left: 10px;
}
/******** 14/10/2014 swetha css changes made for the defect MCUA-253 ********/
body#fr_CA #light #loginform #socialSignInDropDown #signInBoxPassword{
	margin-left:0px;
}
/***** MCUA-253 end  ******/
#light.white_content #loginform #socialSignInDropDown #signInBoxPasswordLabel{
	margin-left: 32px;
	margin-right: 0px \0/;
}
#socialCreateProfileForm #socialIconsCreateProfileform{
	margin-left: 85px;
}
#socialCheckEmailForm #socialIconsCheckEmailform{
	margin-right: 77px !important;
}
#resetSocialEmailForm .button_area{
	width: 76.5%;
}
body#en_CA #light.white_content #loginform #socialSignInDropDown #signInBoxPassword.sign-in_re{
	margin-left: 0;
}
/******** 14/10/2014 swetha css changes made for the defect MCUA-258 ********/
body#fr_CA #socialCheckEmailForm .button_area,
body#en_CA #socialCheckEmailForm .button_area{
	width: 283px \0/!important;
}
body#fr_CA #socialCheckEmailForm #socialIconsCheckEmailform,
body#en_CA #socialCheckEmailForm #socialIconsCheckEmailform{
	margin-right: 55px \0/!important;
}
/***** MCUA-258 end  ******/
/*social login cancel button style*/
.socialCancel {
background-color: #000  !important; 
border: none;
color: #FFF;
font-size: 11px;
letter-spacing: 3px;
margin: 10px 0;
padding: 11px 12px 8px 18px;
padding: 11px 18px 11px 18px;
text-transform: uppercase;
vertical-align: middle;
font-family: 'Gotham A', 'Gotham B';
font-weight: 700;
font-style: normal;
outline: 0;
outline-style: none;
outline-width: 0;
}
.socialLogin {
background-color: #000 !important; 
border: none;
color: #FFF;
font-size: 11px;
letter-spacing: 3px;
margin: 10px 0;
padding: 11px 12px 8px 18px;
padding: 11px 18px 11px 18px;
text-transform: uppercase;
vertical-align: middle;
font-family: 'Gotham A', 'Gotham B';
font-weight: 700;
font-style: normal;
outline: 0;
outline-style: none;
outline-width: 0;
}
.socialSavePassword{
	background-color: #000 !important; 
	border: none;
	color: #FFF;
	font-size: 11px;			/*******12-10-2013   ************/
	letter-spacing: 3px;
	margin: 10px 0;
	/* padding:11px 12px 8px 18px; */
	padding: 11px 18px 11px 18px;
	text-transform: uppercase;
	vertical-align: middle;
	font-family: 'Gotham 7r';
	font-weight: normal;
	font-style: normal;	
	outline: 0;
    outline-style:none;
    outline-width:0;	
	
}
/*Fix for EUSIT-1482 starts : 04/June/2016 - sukraj*/
/*Fix for EUAT-819 on 15/07/2016 <waseem>*/
#loginform label.lable_txt {
    width: 140px; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px !important;
}
/*Fix for EUSIT-1482 ends : 04/June/2016 - sukraj*/