.tooltipster-shadow, .image-tooltip{
	background: #fff;
	box-shadow: 0 0 5px #ccc;
	color: #ccc;
}
.tooltipster-shadow .tooltipster-content, .image-tooltip .tooltipster-content{
	font-family: 'Gotham 3r';
    font-weight: normal;
    font-style: normal;
	font-size: 11px !important;
	line-height: 16px;
	padding: 4px 10px;
}