/*--------------------------------------------------------------------------------------------------
 BETBLOG ARTICLES // SPORT24.GR
----------------------------------------------------------------------------------------------------*/
/*
@font-face {
  font-family: 'PFBeauSansPro Bold';
  src: url(../fonts/PFBeauSansPro-Bold/pfbeausanspro-bold.eot);
  src: url(../fonts/PFBeauSansPro-Bold/pfbeausanspro-bold.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/PFBeauSansPro-Bold/pfbeausanspro-bold.woff) format("woff"), 
  url(../fonts/PFBeauSansPro-Bold/pfbeausanspro-bold.ttf) format("opentype"), 
  url(../fonts/PFBeauSansPro-Bold/pfbeausanspro-bold.svg#pfbeausanspro-bold) format("svg");
  font-weight: normal;
  font-style: normal; 
}
*/

@font-face {
  font-family: 'PFBeauSansPro Regular';
  src: url(../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.eot);
  src: url(../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Regular.woff) format("woff"), 
  url(../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Regular.ttf) format("truetype"), 
  url(../fonts/PFBeauSansPro-Reg/PFBeauSansPro-Reg.svg#PFBeauSansPro-Reg) format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'PFDinTextCondPro Regular';
  src: url(../fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.eot);
  src: url(../fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.woff) format("woff"), 
  url(../fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.otf) format("opentype"), 
  url(../fonts/PFDinTextCondPro-Regular/PFDinTextCondPro-Regular.svg#PFDinTextCondPro-Regular) format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'PFDinTextCondPro Medium';
  src: url(../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot);
  src: url(../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.woff) format("woff"), 
  url(../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.otf) format("opentype"), 
  url(../fonts/PFDinTextCondPro-Medium/PFDinTextCondPro-Medium.svg#PFDinTextCondPro-Medium) format("svg");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'PFDinTextCondPro Bold';
  src: url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot);
  src: url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.woff) format("woff"), 
  url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.otf) format("opentype"), 
  url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold) format("svg");
  font-weight: normal;
  font-style: normal; 
}

/*
@font-face {
  font-family: 'PFDinTextCondPro Bold';
  src: url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot);
  src: url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.eot?#iefix) format("embedded-opentype"), 
  url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.woff) format("woff"), 
  url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.otf) format("opentype"), 
  url(../fonts/PFDinTextCondPro-Bold/PFDinTextCondPro-Bold.svg#PFDinTextCondPro-Bold) format("svg");
  font-weight: normal;
  font-style: normal; 
}
*/

html, body, div, button, h1, h2, h3, h4, img, figure, ul, li, a {
  	box-sizing: border-box;
    	-moz-box-sizing: border-box;
      		-webkit-box-sizing: border-box;
}

html {
	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing:antialiased;
}

html, body {
	margin: 0 auto;
	width: 220px;
	overflow-x: hidden;
}

body {
	font-family: "PFBeauSansPro Regular", Arial, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
  -webkit-font-smoothing:antialiased;
}

figure {
	display: block;
	margin: 0;
	max-width: 100%;
}

img {
	display: inline-block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

.clear {
  clear: both;
  display: block;
}

.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clear:after {
  clear: both;
}

.betblog_articles {
	width: 220px;
	color: #444444;
}

a {
	color: inherit;
	background-color: transparent;
  	cursor: pointer;
  	text-decoration: none;
}

a:hover,
a:focus {
  	outline: none;
  	outline: 0 solid;
  	text-decoration: none; 
}

.header-block {
	margin: 0 0 10px;
	background-color: #193d5f;
	padding: 5px 15px 5px 10px;
	color: #ffffff;
	font-family: "PFDinTextCondPro Regular", Georgia;
	font-size: 24px;
	line-height: 33px;
	font-weight: 300;
	text-align: left;
	text-transform: uppercase;
	height: auto;
}

.title {
	font-size: 18px;
	line-height: 20px;
	font-family: "PFDinTextCondPro Bold", Georgia;
	font-weight: normal;
	letter-spacing: -1px;
	color: #193D5E;
	margin: 0 0 10px;
}

.category {
	color: #7d92ac;
	font-family: "PFDinTextCondPro Medium", Georgia;
  font-weight: normal;
	font-size: 12px;
	letter-spacing: 0px;
	margin: 0 0 4px;
}

.lead {
	font-size: 12px;
	line-height: 1.25em;
	font-weight: normal;
	/*font-family: 'PFBeauSansPro';*/
	padding-right: 10px;
	display: inline;
}

.lead p {
  display: inline;
}

time {
	color: #888;
	display: inline;
}

.story {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E1E1E1;
}

.story .thumbnail {
	margin-bottom: 10px;
	height: 125px;
	overflow: hidden;
}









