/*
Theme Name: Sports Radio
Author: BTW
Description: Sports Radio Theme
License: Commercial
*/
body {
  background: #102237;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container-fluid {
  max-width: 78.75em;
  margin-left: auto;
  margin-right: auto; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-weight: 700; }

.condensed {
  font-family: "Roboto Condensed", "Roboto", sans-serif; }

.transition, a {
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out; }

a {
  color: #102237; }

img {
  max-width: 100%; }

iframe {
  max-width: 100%; }

/* Structure */
.text-center {
  text-align: center; }

.main-content {
  background: #fff;
  box-shadow: 0 4px 0px #09121d; }

.right {
  float: right; }

.left {
  float: left; }

.text-right {
  text-align: right; }

.invisible_block {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
  font-size: 0; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

.red-bg {
  background: #EF4147; }

.clr {
  clear: both; }

.visuallyhidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0); }

/* Header */
h1.logo {
  font-size: 1em;
  padding-bottom: 0em;
  margin-top: 0.625em;
  margin-bottom: 0; }
  h1.logo a {
    color: #fff; }
    h1.logo a:hover {
      text-decoration: none; }
  h1.logo img {
    max-width: 9.375em; }

/* Menus */
.social-menu {
  padding: 0.8em 1em 0;
  font-size: 1.25em; }
  .social-menu a {
    display: inline-block;
    margin-right: 7px;
    color: #fff; }

.navbar-default {
  background: #132d46;
  border: 0;
  border-radius: 0 !important;
  box-shadow: 0 2px 0px #09121d; }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1em;
    font-weight: 400; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background: #163552;
    color: #fff; }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li:hover > a {
    background: #102237;
    color: #fff; }
  .navbar-default .navbar-toggle {
    border-color: #102237;
    margin-right: 0;
    color: #fff; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #102237; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: transparent; }

/* Off Canvas Menu */
.menu-toggler-wrap {
  margin-top: 2.25em; }

.menu-toggler {
  font-size: 1.25em;
  padding: 0.75em;
  line-height: 1;
  border-radius: 2px;
  background: #193d5e;
  color: #fff; }

.navigation {
  position: absolute;
  height: 100%;
  min-height: 600px;
  overflow: auto;
  width: 300px;
  background: #10283e;
  color: #fff;
  left: -300px;
  z-index: 10009; }
  .navigation ul {
    list-style: none outside none;
    font-size: 0.9375em;
    margin: 0;
    padding: 0; }
    .navigation ul li {
      display: block; }
      .navigation ul li a {
        display: block;
        padding: 1em 1.3333333333em;
        font-weight: 700;
        border-bottom: 1px solid #14304a; }
        .navigation ul li a:hover {
          text-decoration: none;
          background: #102237; }
  .navigation a {
    color: #fff; }

.navigation_right {
  right: -300px;
  left: auto; }

.wrap {
  position: relative;
  width: 100%;
  overflow: hidden; }

.wrap-inner {
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

/* the open state -  here we are using the CSS 3D Transforms */
.wrap.left-is-active .wrap-inner {
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
  -webkit-overflow-scrolling: touch; }

.wrap.right-is-active .wrap-inner {
  -webkit-transform: translate3d(-300px, 0, 0);
  -moz-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  -webkit-overflow-scrolling: touch; }

/* support for browsers which do not support 3D transforms - must use Modernizr for this feature */
.no-csstransforms3d .wrap.left-is-active .wrap-inner {
  left: 300px; }

.no-csstransforms3d .wrap.right-is-active .wrap-inner {
  right: 300px; }

/* Exit off canvas button - visible only when the offcanvas is visible */
.exit-off-canvas {
  -webkit-backface-visibility: hidden;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  transition: background 300ms ease; }

.menu-is-active .exit-off-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%; }

.menu-is-active .exit-off-canvas:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer; }

/* Footer */
.site-footer {
  padding: 3.2142857143em 0;
  font-size: 0.875em;
  color: #fff; }
  .site-footer a {
    color: #fff; }

.branding-area {
  padding: 0.9375em 0;
  box-shadow: 0 2px 0 #09121d; }

.footer-nav ul {
  list-style: none outside none; }
  .footer-nav ul > li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.5em; }

/* Header Player */
.blue_bg {
  background: #193d5e;
  color: #fff; }

.player-header {
  position: relative;
  font-size: 1.125em;
  height: 125px;
  padding: 1.5em 0.9375em 0em 8.3333333333em;
  padding-left: 1.6666666667em; }
  .player-header h2 {
    line-height: 1;
    font-size: 1.4444444444em;
    margin: 0.1923076923em 0 0;
    font-weight: 700;
    padding: 0;
    color: #fff; }
  .player-header .player-header-inner:before {
    position: relative; }
  .player-header .now-playing {
    font-size: 0.7777777778em;
    font-weight: 700;
    line-height: 1; }
    .player-header .now-playing .hour {
      font-size: 1em;
      line-height: 1;
      color: #a9a9a9; }
    .player-header .now-playing em {
      font-style: normal;
      background: #EF4147;
      color: #fff;
      padding: 0.2142857143em;
      margin-top: -2px;
      display: inline-block;
      vertical-align: middle; }
  .player-header .producer {
    font-size: 0.8888888889em;
    margin-top: 0.125em;
    font-weight: 400;
    color: #5695d1; }

#listen-live-button, .listen-live-button {
  padding: 0;
  margin: 27px 15px 0 0; }
  #listen-live-button .btn, .listen-live-button .btn {
    background: #EF4147;
    box-shadow: 4px 5px #8d1e1f;
    color: #ffffff;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 300;
    padding: 0.9em 1.5em;
    border-radius: 0; }
    #listen-live-button .btn:hover, .listen-live-button .btn:hover {
      background: #8d1e1f; }

/* Buttons = Forms */
button:focus {outline: 0;}
.btn, input[type="submit"], button {
  display: inline-block;
  vertical-align: middle;
  padding: 1.25em 1.875em;
  border: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto Condensed", "Roboto", sans-serif; }
  .btn.btn_right, input[type="submit"].btn_right, button.btn_right {
    margin-right: 0.9375em; }
  .btn.btn_red, input[type="submit"].btn_red, button.btn_red {
    background: #EF4147;
    color: #fff; }
  .btn.btn_blue, input[type="submit"].btn_blue, button.btn_blue {
    background: #102237;
    color: #fff; }
  .btn .fa, input[type="submit"] .fa, button .fa {
    margin-right: 0.1875em;
    font-size: 1.125em; }

label, .wpcf7-quiz-label {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  display: block;
  margin-bottom: 0.3125em;
  font-weight: 700; }

.wpcf7-quiz-label + br {
  display: none; }

input[type="submit"], button {
  background: #102237;
  color: #fff;
  padding: 0.9375em 1.5625em; }

input[type="text"], input[type="password"], input[type="number"], input[type="email"], textarea {
  padding: 0.3125em 0.625em;
  border: 1px solid #888;
  display: block;
  width: 100%; }

.wpcf7 {
  padding-top: 1.875em; }
  .wpcf7 p {
    margin-bottom: 1.875em; }
  .wpcf7 .quiz-291 {
    line-height: 0; }

/* Hero */
.hero {
  margin-bottom: 0.625em; }
  .hero .promo-post {
    position: relative;
    padding-bottom: 56%;
    overflow: hidden; }
    .hero .promo-post figure {
      position: absolute;
      width: 100%;
      height: 100%; }
    .hero .promo-post:hover figure {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05); }
    .hero .promo-post .text {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #fff;
      padding: 1.25em;
      background: #000;
      background: rgba(0, 0, 0, 0.75); }
    .hero .promo-post a {
      color: #fff; }
      .hero .promo-post a:hover {
        text-decoration: none; }
    .hero .promo-post .post-exc {
      margin-top: 0.9375em; }
  .hero .promo-large {
    padding: 0; }
    .hero .promo-large h2 {
      font-size: 2.8125em;
      margin: 0;
      padding: 0; }
  .hero .promo-smaller {
    padding: 0; }
    .hero .promo-smaller h2 {
      font-size: 1.25em;
      margin: 0;
      padding: 0; }
  .hero .promo-category a {
    font-weight: 300;
    border-radius: 2px;
    line-height: 1;
    display: inline-block;
    padding: 0.3125em 0.9375em;
    background: #EF4147;
    margin-bottom: 0.625em; }
    .hero .promo-category a:hover {
      background: #102237; }

@media screen and (min-width: 47.9375em) and (max-width: 61.875em) {
  .promo-smaller .promo-post {
    float: left;
    min-width: 50%;
    max-width: 50%;
    padding-bottom: 28%; } }
.hero img, .post img {
  min-width: 100%; }

/* HOME PAGE 
SCEDULE */
.page .program_tabs {
  margin-top: 1.25em; }

.program_tabs {
  position: relative;
  overflow: hidden; }
  .program_tabs .nav-tabs {
    border-bottom: 1px solid #a9a9a9; }
    .program_tabs .nav-tabs a {
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 0.9375em;
      color: #444444;
      padding: 0.375em 0.9375em;
      border-right: 1px solid rgba(68, 68, 68, 0.3);
      float: left;
      position: relative;
      z-index: 10;
      margin: 0;
      border-radius: 0; }
    .program_tabs .nav-tabs li:last-child > a {
      border-right: 0; }
    .program_tabs .nav-tabs a:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 145, 255, 0);
      border-top-color: #102237;
      border-width: 6px;
      margin-left: -6px;
      display: none; }
    .program_tabs .nav-tabs a:hover,
    .program_tabs .nav-tabs a:focus,
    .program_tabs .nav-tabs .active a,
    .program_tabs .nav-tabs .active a:hover,
    .program_tabs .nav-tabs .active a:focus {
      background: #102237;
      border-radius: 0;
      color: white;
      text-decoration: none;
      border-color: transparent; }
    .program_tabs .nav-tabs a:hover:after,
    .program_tabs .nav-tabs a:focus:after,
    .program_tabs .nav-tabs .active a:after {
      display: inline; }
  .program_tabs .tab-content {
    overflow: hidden; }
  .program_tabs .tab-pane {
    position: relative;
    padding: 0.625em 1.25em 0;
    height: 100%;
    overflow-y: auto;
    background-color: #f3f3f3; }
    .program_tabs .tab-pane .broadcast:last-child {
      border: 0; }

#theProgram .tab-content {
  height: auto; }

.broadcasts-container {
  position: relative;
  z-index: 20;
  background-color: #f3f3f3; }

.broadcast-info-wrapper {
  max-width: 65%; }

.broadcast {
  padding: 0.9375em 0;
  border-bottom: 1px solid #cccccc;
  float: left;
  width: 100%;
  clear: both;
  min-height: 100px; }
  .broadcast a {
    color: #000000;
    text-decoration: none; }

/* PROGRAM PAGE STYLES */
#theProgram .broadcast {
  position: relative;
  border: none; }
#theProgram .broadcast-cover {
  position: relative; }
#theProgram .broadcast-cover:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2; }
#theProgram .broadcast-text {
  position: absolute;
  bottom: 0.9375em;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 1.5625em;
  color: #ffffff; }
  #theProgram .broadcast-text .hour,
  #theProgram .broadcast-text .producer,
  #theProgram .broadcast-text a {
    color: #ffffff; }
  #theProgram .broadcast-text .hour,
  #theProgram .broadcast-text .broadcast-title {
    font-size: 1.875em;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0; }
  #theProgram .broadcast-text .hour {
    padding-top: 11px; }
#theProgram .tab-pane {
  background-color: #ffffff;
  padding: 0; }
@media screen and (max-width: 48em) {
  #theProgram .program_tabs li {
    width: auto; }
  #theProgram .program_tabs a {
    font-size: 10px;
    padding: 4px 5px; }
  #theProgram .program_tabs .producer-info {
    font-size: 0.75em;
    line-height: 1.3333333333em; }
  #theProgram .program_tabs .hour,
  #theProgram .program_tabs .broadcast-title {
    font-size: 1.0625em;
    margin-top: 0; } }
@media screen and (max-width: 30em) {
  #theProgram .program_tabs li {
    width: 100%; } }

/* FEEDS */
#top-feeds {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em; }

.feed-single {
  margin-bottom: 1.875em; }
  .feed-single .feed-single-wrap {
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
    position: relative;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee; }
  .feed-single figure {
    position: relative;
    padding-bottom: 56%;
    background: #eee;
    overflow: hidden; }
    .feed-single figure img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%; }
  .feed-single .feed-category {
    font-weight: 300;
    border-radius: 2px;
    line-height: 1;
    display: inline-block;
    padding: 0.625em 0.9375em;
    background: #EF4147;
    margin-bottom: 0.625em;
    color: #fff;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0; }
  .feed-single .feed-date {
    font-weight: 700;
    font-size: 0.875em;
    color: #888; }
    .feed-single .feed-date .fa {
      margin-right: 0.3125em; }
  .feed-single .feed-text {
    padding: 0.9375em; }
  .feed-single h4 {
    font-size: 1em;
    margin: 0 0 0.3125em;
    line-height: 1; }

/* Blog */
.post-meta {
  font-size: 0.875em;
  font-weight: 400;
  margin: 0 0 1em; }
  .post-meta a {
    font-weight: 700; }
  .post-meta > span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.7142857143em; }
  .post-meta .fa {
    margin-right: 0.1428571429em; }

.tag-links {
  margin-bottom: 1.875em;
  display: block; }
  .tag-links .fa {
    color: #102237;
    margin-right: 0.3125em; }
  .tag-links a {
    padding: 0.38375em 0.8571428571em;
    border-radius: 3px;
    margin: 0 0.25em 0.5em;
    display: inline-block;
    font-size: 0.875em;
    font-weight: 700;
    background: #eee;
    background: rgba(33, 33, 33, 0.1); }
    .tag-links a:hover {
      color: #fff;
      text-decoration: none;
      background: #102237; }

.post-share {
  padding: 0.625em 0 0.4375em;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
  border-top: 1px solid rgba(33, 33, 33, 0.1); }
  .post-share .post-share_item {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.625em; }
    .post-share .post-share_item.twb {
      width: 75px; }
    .post-share .post-share_item.fbb {
      margin-top: -1px; }

.post-nav {
  padding: 2.8125em 0.9375em 1.25em; }

.archive-header {
  border-bottom: 1px solid rgba(16, 34, 55, 0.2);
  margin-bottom: 1.875em; }

.archive-title {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em; }

.loop .hentry {
  margin-bottom: 1.5625em;
  padding-bottom: 1.5625em;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1);
  color: rgba(33, 33, 33, 0.7); }
.loop h2 {
  font-size: 1.375em;
  margin: 0 0 0.4545454545em; }
.loop .post-exc {
  font-size: 0.875em; }
  .loop .post-exc p {
    margin: 0; }

/* Pagination */
.pager li > a, .pager li > span {
  border-radius: 0; }

/* Single */
.entry h1 {
  font-size: 3.125em;
  line-height: 1;
  margin-bottom: 0.4em; }
.entry .post-header {
  padding: 1.25em 1.875em 0.625em; }
.entry .post-image {
  margin-bottom: 1.25em; }
  .entry .post-image img {
    min-width: 100%; }
.entry .entry-body {
  padding: 0 1.875em 1.875em; }
  .entry .entry-body a {
    color: #EF4147; }
.entry .post-lead {
  font-size: 1.625em;
  line-height: 1.5;
  margin-bottom: 1.1538461538em;
  padding-bottom: 0.7692307692em;
  border-bottom: 1px solid rgba(33, 33, 33, 0.1); }
  .entry .post-lead.post-lead_banners {
    font-size: 1.25em;
    max-width: 940px; }
.entry .post-content p {
  margin-bottom: 1.875em;
  line-height: 1.5;
  color: rgba(33, 33, 33, 0.7); }
.entry .post-content p:first-child:first-letter {
  display: block;
  font-weight: bold;
  color: #212121;
  float: left;
  font-size: 80px;
  line-height: 75px;
  margin: 0px 15px -8px 0px; }
.entry .post-content a {
  font-weight: 700; }
.entry .addthis_responsive_sharing {
  margin-bottom: 1.875em; }

/* Widgets */
.widget {
  margin: 0 0 1.875em; }

.twitter-follow-button {
  padding-left: 0.625em;
  padding-bottom: 0.3125em; }

#text-2 iframe, .iframe_wrapper iframe {
  margin: 0 auto;
  text-align: center;
  display: block; }

#weather_widget .iframe_wrapper {
  width: 100%;
  background: #1b4475; }

.widget_heading {
  background-color: #193d5e;
  box-shadow: 0 3px 0px #09121d;
  color: #ffffff;
  padding: 0.3125em 0.4375em;
  font-size: 1.1875em;
  line-height: 1.375em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0.625em 0 0.7894736842em;
  position: relative; }

#social_widget {
  background-color: #f5f5f5; }

iframe #forecast-wrapper {
  display: block !important;
  margin: auto !important; }

.player-follow {
  overflow: hidden; }
  .player-follow h3 {
    font-size: 1.3125em;
    padding-bottom: 0.7142857143em;
    margin-bottom: 0.7142857143em;
    border-bottom: 1px solid #f5f5f5; }
  .player-follow .fa {
    font-size: 2.8125em;
    line-height: 1; }
  .player-follow .fa-facebook-square {
    color: #3a5795;
    margin-right: 0.0666666667em; }
  .player-follow .fa-twitter-square {
    color: #55acee; }

/* Banner Page */
.banner-block {
  margin: 0 0 1.875em;
  padding-bottom: 1.875em;
  border-bottom: 3px solid rgba(136, 136, 136, 0.5);
  max-width: 940px; }
  .banner-block h4 {
    margin-top: 0.9375em; }

.max-w-700 {
  max-width: 700px; }

/* Producer/ Shows Grid */
.white {
  color: #fff; }

.white-bg {
  background: #fff; }

.producer-single .post-image {
  position: relative;
  background: #888;
  padding-bottom: 75%;
  overflow: hidden; }
  .producer-single .post-image img {
    min-width: 100%;
    position: absolute;
    left: 0;
    top: 0; }
.producer-single .producer-body {
  box-shadow: 0 3px 0px #09121d; }
.producer-single .post-body {
  padding: 0.9375em; }

.post-type-archive-paragogoi .pager {
  opacity: 0.5; }

/* Banner */
#the-banner.horizontal .btn {
  font-size: 1.2em;
  box-shadow: 2px 2px #8d1e1f; }
#the-banner.horizontal .hour {
  color: #adabb0; }
#the-banner.horizontal .producer {
  margin: 0; }
#the-banner .player-header {
  padding: 1.0555555556em 0.8333333333em 0.3888888889em 6.1111111111em;
  height: 100px; }
  #the-banner .player-header h2 {
    font-size: 1.1111111111em;
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.1666666667em; }
#the-banner h1.logo {
  margin-top: 16px; }
  #the-banner h1.logo img {
    max-width: 100%;
    width: auto;
    max-height: 70px;
    margin-bottom: 0.375em; }
#the-banner #listen-live-button {
  margin-top: 22px; }
#the-banner .producer {
  font-size: 0.7777777778em; }
#the-banner.vertical {
  width: 300px;
  padding: 0 0.625em;
  font-size: 16px;
  height: 260px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #263749;
  color: #fff; }
  #the-banner.vertical h1.logo {
    margin: 0.75em 0 0.625em;
    padding: 0; }
  #the-banner.vertical .producer {
    display: block;
    color: #c5c3c4;
    font-size: 0.9375em;
    margin-bottom: 1em; }
  #the-banner.vertical .btn {
    padding: 0.75em 1.25em;
    border-radius: 0;
    box-shadow: 2px 2px #8d1e1f; }
  #the-banner.vertical h2 {
    margin: 0 0 0.4166666667em;
    font-size: 1.5em; }
#the-banner.b300x100 {
  background: #fff;
  color: #193d5e;
  border-bottom: 3px solid #193d5e;
  width: 300px;
  height: 80px;
  padding: 12px 0.125em 8px; }
  #the-banner.b300x100 .red {
    color: #EF4147; }
  #the-banner.b300x100 h1.logo {
    width: 101px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    vertical-align: top;
    float: none; }
    #the-banner.b300x100 h1.logo img {
      margin-bottom: 0; }
  #the-banner.b300x100 .text {
    width: 120px;
    margin-right: 13px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden; }
  #the-banner.b300x100 .cta {
    width: 47px;
    display: inline-block;
    vertical-align: top; }
  #the-banner.b300x100 .prod-tab {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    font-size: 12px;
    line-height: 13px; }
    #the-banner.b300x100 .prod-tab a {
      color: #193d5e; }
  #the-banner.b300x100 h2 {
    color: #EF4147;
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 0;
    margin: 0; }
  #the-banner.b300x100 .hour {
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    display: block;
    padding-top: 5px; }
  #the-banner.b300x100 a:hover {
    text-decoration: none; }

#the-banner.rpl {
  color: #ffffff;
  font-family: Helvetica,sans-serif;
  padding: 15px 0;
  background-color: #323232;
  width: 300px; }
  #the-banner.rpl .player-header {
    padding: 0;
    height: auto; }
  #the-banner.rpl h2,
  #the-banner.rpl .hour {
    color: inherit; }
  #the-banner.rpl .hour,
  #the-banner.rpl .producer,
  #the-banner.rpl #listen-live-button .btn,
  #the-banner.rpl .now-playing em {
    font-size: 12px;
    font-family: inherit;
    font-weight: bold; }
  #the-banner.rpl .now-playing em,
  #the-banner.rpl #listen-live-button .btn {
    background-color: #cd2027; }
  #the-banner.rpl .now-playing em {
    padding: 6px 5px 4px;  }
  #the-banner.rpl h2 {
    font-size: 16px;
    margin: 15px 0 10px; }
  #the-banner.rpl .producer {
    color: #e5e5e5;
    line-height: 18px;
    font-weight: normal; }
  #the-banner.rpl #listen-live-button .btn {
    box-shadow: none;
    padding: 7px 10px; }
  #the-banner.rpl.prasinanea .now-playing em,
  #the-banner.rpl.prasinanea #listen-live-button .btn {
    background-color: #039248; }

@media screen and (max-width: 61.875em) {
  .branding-area .player-header {
    padding-left: 6.1111111111em; }
    .branding-area .player-header .producer {
      display: none; }
    .branding-area .player-header h2 {
      font-size: 1.1111111111em; } }
@media screen and (max-width: 47.9375em) {
  .blue_bg {
    background: #102237; }

  .social-menu {
    display: none; }

  .hero .promo-large h2 {
    font-size: 1.5625em; }

  .nav-tabs > li {
    width: 25%; }

  .program_tabs .nav-tabs a {
    display: block;
    float: none; }

  .broadcast .hour {
    float: left !important;
    width: 100%; }

  .program_tabs .nav-tabs a {
    border-bottom: 1px solid #eee; }

  .post-image {
    margin-bottom: 0.9375em; } }
@media screen and (max-width: 37.5em) {
  .entry .post-header, .entry .entry-body {
    padding: 0 0 0.9375em; }

  .entry h1 {
    font-size: 1.875em; } }
@media screen and (max-width: 30em) {
  #listen-live-button .btn, .listen-live-button .btn {
    font-size: 0.9375em; }

  .hero .promo-post .post-exc {
    display: none; }

  .nav-tabs > li {
    float: none;
    width: 100%; }

  .program_tabs .nav-tabs a {
    border: 0; }

  .entry .post-lead {
    font-size: 1.15em; }

  #theProgram .program_tabs .broadcast-text {
    position: static;
    padding: 0;
    color: #000000; }

  #theProgram .program_tabs .hour {
    color: #000000; } }
