/*首页头部视频播放*/
.focus_play{ background-position: top center; background-repeat: no-repeat; height: 670px;}
.focus_play .box{ width: 1250px; position: relative; padding-top: 34px;}
.focus_play .box .lcode{position: absolute; width: 198px; height: 330px; left: -110px;}
.focus_play .box .rcode{position: absolute; width: 198px; height: 330px; right: -110px;}
.focus_play .box .show_play{ margin: 0 auto; width: 1062px; height: 597px; border: 3px solid #000}
/*首页信息总览*/
.focus_info{ background: #f2f6fa; padding-bottom: 20px; min-width:1200px;}
.focus_info:after{content:''; display:block; height:0; width:100%; overflow: hidden; zoom: 1}
.focus_info .btnL,.focus_info .btnR{ position: absolute; top:36px; text-align: center; font-size: 15px; width: 77px; overflow: hidden;}
.focus_info .btnL span,.focus_info .btnR span{ width: 77px; height:77px; display: block; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; background: #fff; overflow: hidden; cursor: pointer; position: relative}

.focus_info .btnL i{ background: url("/images/new_index/prev.png") left top no-repeat}
.focus_info .btnL:hover i{ background-position: right top;}
.focus_info .btnR i{ background: url("/images/new_index/next.png") right top no-repeat}
.focus_info .btnL:hover ul li,.focus_info .btnR:hover ul li{ color:#303030}
.focus_info .btnR:hover i{ background-position: left top;}
.focus_info .btnL i,.focus_info .btnR i{ width: 21px; height: 36px; display: block; position: absolute; left: 50%; top: 50%; margin-left: -10px; margin-top: -18px;}
.focus_info .btnL{ left: 12px;}
.focus_info .btnR{ right:12px;}
.focus_info .btnL ul li,.focus_info .btnR ul li{ padding-top: 9px; color: #a2a2a2;float: left; width:77px;}
.focus_info .box{ width:1200px; margin: 0 auto; position: relative; min-width:1200px;}
.focus_info .anchor_show{ margin: 27px 101px 0; text-align: center; font-size: 0; height:115px; overflow:hidden}
.focus_info .anchor_show ul li{display:inline-block; *display:inline;zoom: 1; vertical-align:top; margin: 0 20px; cursor: pointer;}
.focus_info .anchor_show ul li .imgbox{ position: relative}
.focus_info .anchor_show ul li .imgbox b{ display:none;position: absolute;right:-12px; top:6px;}
.focus_info .anchor_show ul li .user_head{ width: 83px; height:83px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 6px solid #fff;-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;}
.focus_info .anchor_show ul li:hover .user_head{ border-color:#aeafaf}
.focus_info .anchor_show ul li p{ font-size: 15px; color: #a2a2a2; width: 105px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.focus_info .anchor_show ul li.active .user_head{ border-color:#23a4f7}
.focus_info .anchor_show ul li.active p{color: #303030;}
.focus_info .anchor_show ul li.live b{ display: block; width: 60px; height: 21px; background: url(/images/new_index/live.png) left top no-repeat;}
.focus_info .anchor_list{ overflow: hidden;}
.focus_info .rec_info{padding-top: 35px;}
.focus_info .rec_info_l{ float: left}
.focus_info .rec_news{ background:url(/images/new_index/newsbg.png)  left top no-repeat; width: 320px; height: 200px; overflow: hidden;}
.focus_info .rec_news .tp{ text-align: center; border-bottom: 1px solid #65bff9; margin:0 7px; font-size: 12px; height: 100px; line-height:24px; padding-top: 5px;}
.focus_info .rec_news .tp a{ color: #fff;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display: block}
.focus_info .rec_news .tp a:hover{ text-decoration: underline}
.focus_info .rec_news .tp h4{ font-size: 16px;}
.focus_info .rec_news .bm{ padding:10px 15px;}
.focus_info .rec_news .bm ul li{ line-height:25px;}
.focus_info .rec_news .bm ul li span{ float: left; color: #fff; width: 40px; font-size: 14px;}
.focus_info .rec_news .bm ul li a{ overflow: hidden; zoom: 1; display: block;white-space:nowrap; text-overflow:ellipsis; font-size: 14px; color: #000}
.focus_info .rec_news .bm ul li a:hover{ color: #fff; text-decoration:underline}
.focus_info .m-lt{ float: left; margin-right: 10px}
.focus_info .m-lt img{-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;}
.focus_info .m-lt .banner1,.focus_info .m-lt .banner2,.focus_info .m-lt .banner3{ overflow:hidden; box-sizing:border-box}
.focus_info .m-lt .banner1{ width:320px; height:110px; margin-top: 10px}
.focus_info .m-lt .banner1 img{ width: 320px; height:110px;}
.focus_info .m-lt .banner2{ width:320px; height:200px;}
.focus_info .m-lt .banner2 img{ width: 320px; height: 200px;}
.focus_info .m-lt .banner3 { width:220px; height:320px;}
.focus_info .m-lt .banner3 img{ width: 220px; height:320px;}
.focus_info .m-lt .banner1:hover,.focus_info .m-lt .banner2:hover,.focus_info .m-lt .banner3:hover{ border:3px solid #138ae6;}
.focus_info .m-lt img:hover{ -webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);transform:scale(1.1);}
.focus_info .rec_anchor{ overflow: hidden;zoom: 1; height: 320px;}
.focus_info .rec_anchor ul{ width: 105%;}
.focus_info .rec_anchor li{ position: relative; float: left; margin-right: 4px; margin-bottom: 4px;}
.focus_info .rec_anchor p{ background: url("/images/new_index/textbg.png") left top repeat-x; height:35px; line-height:35px; text-align: center;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:100%; position: absolute; left: 0; bottom: 0; color: #fff; font-size: 12px;}
.focus_info .rec_anchor b{ width: 46px; height:21px; display: none; position: absolute; right: 2px; top: 2px; background: url("/images/new_index/live2.png") left center no-repeat;}
.focus_info .rec_anchor .live b{ display: block}
.focus_info .rec_anchor img{ width: 101px; height: 101px;-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s; cursor: pointer;}
.focus_info .rec_anchor .imgbox{ overflow: hidden; width:101px; height: 101px;}
.focus_info .rec_anchor .spe .imgbox{ width: 153px; height:112px;}
.focus_info .rec_anchor .spe img{ width: 153px; height:153px;}
.focus_info .rec_anchor li:hover img{ -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); transform: scale(1.3);}
/**/
.m-list{ background: #fff; overflow: hidden;padding-bottom: 20px;}
.m-list .box{ width: 1200px; margin: 0 auto; min-width:1200px}
.m-list .m-lt{ float: left; width: 880px; margin-right:10px;}
.m-list .m-rt{ overflow: hidden; zoom: 1;}
.m-list .list{ overflow: hidden;}
.m-list .list ul{ width: 110%;font-size: 0;}
.m-list .list li{ width: 202px;display:inline-block; *display:inline;zoom: 1; vertical-align:top;margin-right: 20px;  margin-bottom:27px; position:relative}
.m-list .list .imgbox{ width:202px; height:114px; overflow:hidden; position:relative}
.m-list .list .imgbox img{ width: 202px; height: 114px; -webkit-transition: all linear 0.3s;-moz-transition: all linear 0.3s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.3s;transition: all linear 0.3s;}
.m-list .list .imgbox b{ background:url(/images/supertv/video.png) center no-repeat; display:block; width:50px; height:50px; position:absolute; left:50%; top:50%; margin-left:-25px; margin-top:-25px; -webkit-transform:scale(2);-moz-transform:scale(2);-ms-transform:scale(2);-o-transform:scale(2);transform:scale(2);opacity: 0;-ms-filter: "alpha(opacity=0)";	filter: alpha(opacity=0);-webkit-transition:all ease-out .25s;transition: all ease-out .25s; z-index:1}
.m-list .list li:hover .imgbox b{ opacity: 1;-ms-filter: "alpha(opacity=100)";filter: alpha(opacity=100);-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1)}
.m-list .list li:hover .imgbox img{ -webkit-transform: scale(1.1) ;-moz-transform:  scale(1.1) ;-ms-transform:  scale(1.1) ;-o-transform:  scale(1.1) ;transform:  scale(1.1) ;}
.m-list .list .user_head{ width: 50px; height: 50px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;border: 3px solid #fff;  float: left; margin:-28px 5px 0; position: relative; z-index: 2}
.m-list .list .room_info:after{ content:''; display: block; width: 100%; height:0; overflow: hidden; zoom: 1;}
.m-list .list .room_info p{white-space:nowrap; text-overflow:ellipsis; overflow: hidden; zoom: 1; font-size: 15px; color: #000; padding-top: 6px; position:relative}
.m-list .list .count{font-size: 13px;color: #2196f3; position:relative;}
.m-list .list i{display:inline-block; *display:inline;zoom: 1; vertical-align:middle; width: 19px; height: 19px; background: url("/images/new_index/sex.png") left top no-repeat; margin-right: 4px;}
.m-list .list i.girl{background-position: right top;}
.m-list .list span{display:inline-block; *display:inline;zoom: 1; vertical-align:middle}
.m-list .list span.name{ width: 91px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-right: 10px;}
.m-list .list span.num{ background: url("/images/new_index/num.png") left center no-repeat; padding-left: 16px; position:absolute; right:0; top:0; color:#727272}
.m-list .list .live b.live{ display:block; background:url(/images/new_index/live2.png) left top no-repeat; width:46px; height:21px; position:absolute; left:2px; top:2px; z-index:1}
.m-list .m-lt .m-name{ overflow:hidden; position:relative;padding-top: 17px;padding-bottom: 15px;margin-right: 12px;}
.m-list .m-lt .m-name h3{font-size: 26px; color:#000;display:inline-block; *display:inline;zoom: 1; vertical-align:top}
.m-list .m-lt .m-name p.count{font-size: 15px; color:#010101;display:inline-block; *display:inline;zoom: 1; vertical-align:top; padding-top:14px;}
.m-list .m-lt .m-name p.count span{ padding:0 5px; color:#3baad2}
.m-list .m-lt .m-name i.line{display:inline-block; *display:inline;zoom: 1; vertical-align:top; width:1px; background:#ddd; height:30px; margin-top:5px; margin:5px 10px 0;}
.m-list .m-lt .m-name a.more{font-size: 25px; position:absolute; right:0; bottom:12px; color:#4a4a4a}
.m-list .m-lt .m-name a.more:hover{ color:#138ae6}

.m-list .m-rt .m-name{ position:relative; border-bottom:1px  solid #e8e8e8; z-index:1}
.m-list .m-rt .m-name h3{ font-size: 26px; color:#1a1a1a; height:63px; width:112px; text-align:center; line-height:63px; border-top:3px solid #41bbf3;display:inline-block; *display:inline;zoom: 1; vertical-align:top}
.m-list .m-rt .m-name .dropdown{ background:url(/images/new_index/dropbg.png) left top no-repeat; width:75px; height:31px; cursor: pointer; position:absolute; right:0; bottom:18px}
.m-list .m-rt .m-name .dropdown p{padding-right: 22px; text-align:center; padding-left:6px; line-height:30px;font-size: 13px; color:#fff}
.m-list .m-rt .m-name .dropdown i{ position:absolute; background:url(/images/new_index/updown.png) left bottom no-repeat; width:15px; height:10px; right:4px; top:50%; margin-top:-5px;}
.m-list .m-rt .m-name .dropdown ul { display:none;background:#fff; position:absolute; top:31px; left:6px; width:67px; border:1px solid #138ae6; border-top:none; z-index:2}
.m-list .m-rt .m-name .dropdown ul li{ line-height:24px; color:#fff; font-size: 12px; color:#000; text-align:center; padding-right:22px;}
.m-list .m-rt .m-name .dropdown ul li:hover{ color:#138ae6}
.m-list .m-rt .m-name .dropdown.active i{ background-position:left top;}
.m-list .m-rt .m-name .dropdown.active ul{ display:block; }
.m-list .m-rt .m-name .tab{display:inline-block; *display:inline;zoom: 1; vertical-align:top;font-size: 0;}
.m-list .m-rt .m-name .tab li{ display:inline-block; *display:inline;zoom: 1; vertical-align:top;font-size: 14px; color:#aeaeae;margin:24px 5px 0; cursor: pointer;}
.m-list .m-rt .m-name .tab li.on{ border-bottom:1px solid #138ae6; color:#138ae6}
.m-list .m-rt .more{ background:url(/images/new_index/more_btn.png) top center no-repeat; text-align:center; height:40px; font-size: 16px; color:#fdfdfd; line-height:39px;cursor: pointer;}
.m-list .m-rt .more a{ color:#fdfdfd; display:block; height:40px;}
.m-list .m-rt .more:hover{ opacity:0.8}


.m-list .m-rt .hot_info{ overflow:hidden;margin-bottom: 24px;}
.m-list .m-rt .hot_info .rec_pt .list-type{ overflow:hidden; border-bottom:1px solid #e8e8e8}
.m-list .m-rt .hot_info .rec_pt img{ float:left; width:120px; height: 67px;margin-right: 10px;}
.m-list .m-rt .hot_info .rec_pt dl{ display:block; overflow:hidden; zoom: 1;margin-right: 10px;}
.m-list .m-rt .hot_info .rec_pt dl dt{font-size: 14px; color:#138ae6;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;padding-top: 3px;padding-bottom: 3px;}
.m-list .m-rt .hot_info .rec_pt .list-type:hover dt{ text-decoration:underline}
.m-list .m-rt .hot_info .rec_pt dl dd{ font-size: 12px; color:#4f4f4f;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.m-list .m-rt .hot_info .rec_news{ background: url(/images/new_index/rec_news_bg.png) right top no-repeat;}
.m-list .m-rt .hot_info .rec_news ul{ padding:10px; line-height:36px}
.m-list .m-rt .hot_info .rec_news ul li{ white-space:nowrap}
.m-list .m-rt .hot_info .rec_news span{ font-size: 16px; float:left;white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:190px;}
.m-list .m-rt .hot_info .rec_news p{font-size: 14px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; zoom: 1;}
.m-list .m-rt .hot_info .rec_news li:hover span{ text-decoration:underline}
.m-list .m-rt .top_info{ overflow:hidden;margin-bottom: 24px;}
.m-list .m-rt .top_info ul{ padding-bottom:12px;padding-top: 3px;}
.m-list .m-rt .top_info li{font-size: 0; position:relative; margin-top:9px;}
.m-list .m-rt .top_info li .num{font-style: normal;font-size: 18px; color:#1e90d9;display:inline-block; *display:inline;zoom: 1; vertical-align:middle; width:18px; text-align:center; margin-left:10px;
}
.m-list .m-rt .top_info li .imgbox{display:inline-block; *display:inline;zoom: 1; vertical-align:middle; position:relative; width:50px; height:50px;}
.m-list .m-rt .top_info li .imgbox .user_head{ width:50px; height:50px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; border:3px solid #fff;-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;}
.m-list .m-rt .top_info li:hover .imgbox .user_head { -webkit-transform: scale(1.1);-moz-transform: scale(1.1) ;-ms-transform: scale(1.1) ;-o-transform: scale(1.1) ;transform: scale(1.1) ;}
.m-list .m-rt .top_info li dl{display:inline-block; *display:inline;zoom: 1; vertical-align:middle;font-size: 14px; color:#5e5e5e; margin-left:20px;}
.m-list .m-rt .top_info li dt{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:98px}
.m-list .m-rt .top_info li dd{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:98px}
.m-list .m-rt .top_info li .grade{ position:absolute; right:10px; top:50%; margin-top:-11px; z-index:0}
.m-list .m-rt .top_info li .like{ position:absolute; right:10px; top:0; background:url(/images/new_index/like2.png) left center no-repeat; padding-left:24px;font-size: 14px; color:#5e5e5e; line-height:56px;}

.m-list .m-rt .event_info{ text-align:center;font-size: 0;}
.m-list .m-rt .event_info .tlt{ text-align:left}
.m-list .m-rt .event_info .trt{ text-align:right}
.m-list .m-rt .event_info ul{padding-bottom: 3px;}
.m-list .m-rt .event_info li{ line-height:66px; padding:0 10px; font-size: 0;}
.m-list .m-rt .event_info dl{display:inline-block; *display:inline;zoom: 1; vertical-align:middle;font-size: 13px; color: #474747; line-height:normal; width:78px;}
.m-list .m-rt .event_info dt,.m-list .m-rt .event_info dd{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:100%;}
.m-list .m-rt .event_info .team{display:inline-block; *display:inline;zoom: 1; vertical-align:middle; width:40px; height:50px; line-height:50px;}
.m-list .m-rt .event_info .team img{ max-width:40px; max-height:50px; vertical-align:middle}
.m-list .m-rt .event_info .vs{display:inline-block; *display:inline;zoom: 1; vertical-align:middle; width:54px; color:#138ae6;font-size: 22px;}
.m-list .m-rt .event_info .event_logo{ height:46px; padding-top: 4px;}
.m-list .m-rt .event_info .event_logo img{ max-height:46px;}
.m-list .m-rt .event_info p{ text-align:center;font-size: 13px; color:#000; line-height:20px;}
.m-list .m-rt .event_info ul li:hover p{ color:#138ae6}
.m-list .m-lt1{ background:url(/images/new_index/m-lt1bg.png) right top no-repeat;margin-bottom: 24px;}
.m-list .m-lt2{ background:url(/images/new_index/m-lt2bg.png) left top no-repeat;margin-bottom: 24px;}
.m-list .m-lt3{ background:url(/images/new_index/m-lt3bg.png) right top no-repeat}














