#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
    }
#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
    }
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left
    }
#cboxContent {
    position: relative
    }
#cboxLoadedContent {
    overflow: auto
    }
#cboxTitle {
    margin: 0
    }
#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
    }
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer
    }
.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block
    }
.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0
    }
#cboxOverlay {
    background: #000
    }
#cboxWrapper {
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
    }
#cboxTopLeft {
    width: 15px;
    height: 15px
    }
#cboxTopCenter {
    height: 15px
    }
#cboxTopRight {
    width: 15px;
    height: 15px
    }
#cboxBottomLeft {
    width: 15px;
    height: 10px
    }
#cboxBottomCenter {
    height: 10px
    }
#cboxBottomRight {
    width: 15px;
    height: 10px
    }
#cboxMiddleLeft {
    width: 15px
    }
#cboxMiddleRight {
    width: 15px
    }
#cboxContent {
    background: #fff;
    overflow: hidden;
    font: 12px "Lucida Grande", Verdana, Arial, sans-serif
    }
#cboxError {
    padding: 50px;
    border: 1px solid #ccc
    }
#cboxLoadedContent {
    margin-bottom: 28px
    }
#cboxTitle {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    bottom: 28px;
    left: 0;
    color: #535353;
    width: 100%;
    padding: 4px
    }
#cboxCurrent {
    position: absolute;
    bottom: 4px;
    left: 60px;
    color: #949494
    }
.cboxSlideshow_on #cboxSlideshow {
    position: absolute;
    bottom: 0;
    right: 30px;
    background: url(http://cpassets-a.akamaihd.net/sites/default/modules/contrib/colorbox/styles/default/images/controls.png) -75px -50px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px
    }
.cboxSlideshow_on #cboxSlideshow.hover {
    background-position: -101px -50px
    }
.cboxSlideshow_off #cboxSlideshow {
    position: absolute;
    bottom: 0;
    right: 30px;
    background: url(http://cpassets-a.akamaihd.net/sites/default/modules/contrib/colorbox/styles/default/images/controls.png) -49px -50px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px
    }
.cboxSlideshow_off #cboxSlideshow.hover {
    background-position: -25px -50px
    }
#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(http://cpassets-a.akamaihd.net/sites/default/modules/contrib/colorbox/styles/default/images/controls.png) -75px 0 no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px
    }
#cboxPrevious.hover {
    background-position: -75px -25px
    }
#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(http://cpassets-a.akamaihd.net/sites/default/modules/contrib/colorbox/styles/default/images/controls.png) -50px 0 no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px
    }
#cboxNext.hover {
    background-position: -50px -25px
    }
#cboxLoadingOverlay {
    background: #fff
    }
#cboxLoadingGraphic {
    background: url(http://cpassets-a.akamaihd.net/sites/default/modules/contrib/colorbox/styles/default/images/loading_animation.gif) center center no-repeat
    }
#cboxClose {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(http://cpassets-a.akamaihd.net/sites/default/modules/contrib/colorbox/styles/default/images/controls.png) -25px 0 no-repeat;
    width: 25px;
    height: 25px;
    text-indent: -9999px
    }
#cboxClose.hover {
    background-position: -25px -25px
    }
.cboxIE6 #cboxTitle {
    background: #fff
    }
.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em
    }
.ctools-owns-lock {
    background: #ffd none repeat scroll 0 0;
    border: 1px solid #f0c020;
    padding: 1em
    }
a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(http://clubpenguinimg-a.akamaihd.net/sites/default/files/fc_http/Drupal-HD/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat
    }
div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(http://clubpenguinimg-a.akamaihd.net/sites/default/files/fc_http/Drupal-HD/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat
    }
div.panel-pane div.admin-links {
    font-size: xx-small;
    margin-right: 1em
    }
div.panel-pane div.admin-links li a {
    color: #ccc
    }
div.panel-pane div.admin-links li {
    padding-bottom: 2px;
    background: white;
    z-index: 201
    }
div.panel-pane div.admin-links:hover a, div.panel-pane div.admin-links-hover a {
    color: #000
    }
div.panel-pane div.admin-links a:before {
    content: "["
    }
div.panel-pane div.admin-links a:after {
    content: "]"
    }
div.panel-pane div.panel-hide {
    display: none
    }
div.panel-pane div.panel-hide-hover, div.panel-pane:hover div.panel-hide {
    display: block;
    position: absolute;
    z-index: 200;
    margin-top: -1.5em
    }
div.panel-pane div.feed a {
    float: right
    }
.ui-selectmenu {
    display: block;
    display: inline-block;
    position: relative;
    height: 2.2em;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
    zoom: 1
    }
.ui-selectmenu-icon {
    position: absolute;
    right: 6px;
    margin-top: -8px;
    top: 50%
    }
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    display: none;
    z-index: 1005
    }
.ui-selectmenu-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
    }
.ui-selectmenu-open {
    display: block
    }
.ui-selectmenu-menu-popup {
    margin-top: -1px
    }
.ui-selectmenu-menu li {
    padding: 0;
    margin: 0;
    display: block;
    border-top: 1px dotted transparent;
    border-bottom: 1px dotted transparent;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    font-weight: normal !important
    }
.ui-selectmenu-menu li a, .ui-selectmenu-status {
    line-height: 1.4em;
    display: block;
    padding: 0.405em 2.1em 0.405em 1em;
    outline: 0;
    text-decoration: none
    }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled {
    cursor: default
    }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status {
    padding-left: 20px;
    position: relative;
    margin-left: 5px
    }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon {
    position: absolute;
    top: 1em;
    margin-top: -8px;
    left: 0
    }
.ui-selectmenu-status {
    line-height: 1.4em
    }
.ui-selectmenu-menu li span, .ui-selectmenu-status span {
    display: block;
    margin-bottom: 0.2em
    }
.ui-selectmenu-menu li .ui-selectmenu-item-header {
    font-weight: bold
    }
.ui-selectmenu-menu li .ui-selectmenu-item-footer {
    opacity: 0.8
    }
.ui-selectmenu-menu .ui-selectmenu-group {
    font-size: 1em
    }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
    line-height: 1.4em;
    display: block;
    padding: 0.6em 0.5em 0;
    font-weight: bold
    }
.ui-selectmenu-menu .ui-selectmenu-group ul {
    margin: 0;
    padding: 0
    }
* html .ui-selectmenu-menu li {
    border-color: pink;
    filter: chroma(color=pink);
    width: 100%
    }
* html .ui-selectmenu-menu li a {
    position: relative
    }
* + html .ui-state-disabled, * + html .ui-state-disabled a {
    color: silver
    }
.video_thumbnail {
    min-width: 100px;
    min-height: 100px
    }
.video-width-text {
    width: 10px
    }
.video-thumbnails .form-item {
    float: left;
    margin-right: 10px;
    max-width: 30%;
    padding-right: 10px
    }
.video_image_teaser {
    float: left;
    padding: 0.5em
    }
br.video_image_clear {
    clear: both
    }
.video-inprogress {
    border: 1px solid red;
    padding: 0.5em
    }
.video-conversion-failed {
    border: 1px solid red;
    padding: 0.5em
    }
.widget-edit {
    max-width: 70%
    }
.widget-edit .form-item {
    white-space: normal !important
    }
.admin_flv_player_wrapper {
    display: none
    }
* html object.video-object {
    display: none
    }
* html object.video-object {
    display: inline
    }
* html object.video-object {
    display: none
    }
div.video-preview {
    float: left;
    padding: 0 10px 10px 0
    }
div.video-widget-data {
    float: left;
    width: 85%
    }
div.video-widget-data input.text-field {
    width: auto
    }
div#video-browser-page-wrapper div#video-browser-page div.video-item {
    float: left;
    height: 128px;
    padding: 5px;
    text-align: center;
    border: 1px #ccc dotted
    }
div#video-browser-page-wrapper div#video-browser-page div.video-item:hover {
    background-color: antiquewhite
    }
#views-slideshow-form-wrapper .form-item.dependent-options {
    padding-left: 5px
    }
#views-slideshow-form-wrapper .vs-dependent {
    padding-left: 30px
    }