@font-face {
    font-family: "MyriadWebProBold";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadpro2-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadpro2-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadpro2-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadpro2-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadpro2-webfont.svg#MyriadProBold) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "MyriadWebProItalic";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadproit2-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadproit2-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadproit2-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadproit2-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriadproit2-webfont.svg#MyriadProItalic) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "MyriadWebProRegular";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriad2-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriad2-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriad2-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriad2-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/myriad2-webfont.svg#Myriad-Regular) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_regular";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Reg-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Reg-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Reg-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Reg-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Reg-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Reg-webfont.svg#proxima_nova_regular) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_italic";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-RegIt-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-RegIt-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-RegIt-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-RegIt-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-RegIt-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-RegIt-webfont.svg#proxima_nova_italic) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_semibold";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Sbold-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Sbold-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Sbold-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Sbold-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Sbold-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_semibold) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_bold";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Bold-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Bold-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Bold-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Bold-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Bold-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-Bold-webfont.svg#proxima_nova_bold) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_bold_italic";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-BoldIt-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-BoldIt-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-BoldIt-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-BoldIt-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-BoldIt-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNova-BoldIt-webfont.svg#proxima_nova_bold_italic) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_cn_regular";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Reg-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Reg-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Reg-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Reg-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Reg-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Reg-webfont.svg#proxima_nova_cn_regular) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_cn_italic";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-RegIt-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-RegIt-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-RegIt-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-RegIt-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-RegIt-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-RegIt-webfont.svg#proxima_nova_cn_italic) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_cn_semibold";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-SBold-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-SBold-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-SBold-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-SBold-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-SBold-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-SBold-webfont.svg#proxima_nova_cn_semibold) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_cn_bold";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Bold-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Bold-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Bold-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Bold-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Bold-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-Bold-webfont.svg#proxima_nova_cn_bold) format("svg");
    font-weight: normal;
    font-style: normal
    }
@font-face {
    font-family: "proxima_nova_cn_bold_italic";
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-BoldIt-webfont.eot);
    src: url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-BoldIt-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-BoldIt-webfont.woff2) format("woff2"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-BoldIt-webfont.woff) format("woff"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-BoldIt-webfont.ttf) format("truetype"), url(http://www.clubpenguin.com/sites/default/themes/club_penguin/fonts/ProximaNovaCond-BoldIt-webfont.svg#proxima_nova_condensedBdIt) format("svg");
    font-weight: normal;
    font-style: normal
    }