@charset "shift_jis";

/* !Reseting
---------------------------------------------------------- */
body {
    font-family: "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , Osaka , "ＭＳ Ｐゴシック" , "MS PGothic" , Avenir, 'Open Sans', 'Helvetica Neue', helvetica, arial, Verdana, Roboto, sans-serif;

    /*font-family: Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , Osaka , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, 'メイリオ', Osaka, 'MS PGothic', 'ＭＳ Ｐゴシック', arial, helvetica, Verdana, sans-serif;*/
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-text-size-adjust: none;
    line-height: 1.6;
    color: #333;
}
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td
{ margin: 0; padding: 0;}
input, textarea
{ margin: 0; font-size: 100%;}
label
{ cursor: pointer;}
table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img
{ border: 0;}
img
{ vertical-align: top;}
address, caption, cite, code, dfn, em, th, var
{ font-style: normal; font-weight: normal;}
ol, ul
{ list-style: none;}
caption, th
{ text-align: left;}
h1, h2, h3, h4, h5, h6
{ font-size: 100%; font-weight: bold;}
q:after, q:before
{ content:'';}
a, input
{ /* outline: none; */ }
abbr, acronym
{ border: 0;}

/* !Reset Module
---------------------------------------------------------- */
.reset div, .reset dl, .reset dt, .reset dd, .reset ul, .reset ol, .reset li, .reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6,
.reset pre, .reset form, .reset fieldset, .reset p, .reset blockquote, .reset th, .reset td
{ margin: 0; padding: 0;}
.reset input, .reset textarea
{ margin: 0; font-size: 100%;}
.reset table
{ border-collapse: collapse; border-spacing: 0; font-size: 100%;}
.reset fieldset, .reset img, .reset abbr, .reset acronym
{ border: 0;}
.reset address, .reset caption, .reset cite, .reset code, .reset dfn, .reset em, .reset th, .reset var
{ font-style: normal; font-weight: normal;}
.reset ol, .reset ul
{ list-style: none;}
.reset caption, .reset th
{ text-align: left;}
.reset h1, .reset h2, .reset h3, .reset h4, .reset h5, .reset h6
{ font-size: 100%; font-weight: normal;}
.reset a, .reset input
{ /* outline: none; */ }
.reset q:after, .reset q:before
{ content:'';}

/* !Layout
---------------------------------------------------------- */
html {
    overflow-y: scroll;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
sup  { vertical-align: top;}


/*WEBフォント
---------------------------------------------------------- */
@font-face {
  font-family: "mplus-2p-bold";
  src: url("/commons/font/lib/mplus-2p-bold.eot?") format('eot'),
       url("/commons/font/lib/mplus-2p-bold.woff") format('woff'),
       url("/commons/font/lib/mplus-2p-bold.ttf")  format('truetype');
}
@font-face {
  font-family: "mplus-2p-regular";
  src: url("/commons/font/lib/mplus-2p-regular.eot?") format('eot'),
       url("/commons/font/lib/mplus-2p-regular.woff") format('woff'),
       url("/commons/font/lib/mplus-2p-regular.ttf")  format('truetype');
}
@font-face {
  font-family: "mplus-2p-light";
  src: url("/commons/font/lib/mplus-2p-light.eot?") format('eot'),
       url("/commons/font/lib/mplus-2p-light.woff") format('woff'),
       url("/commons/font/lib/mplus-2p-light.ttf")  format('truetype');
}
@font-face {
    font-family: 'open-sans-extrabold';
    src: url('/commons/font/lib/opensans-extrabold-webfont.eot');
    src: url('/commons/font/lib/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/commons/font/lib/opensans-extrabold-webfont.woff2') format('woff2'),
         url('/commons/font/lib/opensans-extrabold-webfont.woff') format('woff'),
         url('/commons/font/lib/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-bold';
    src: url('/commons/font/lib/opensans-bold-webfont.eot');
    src: url('/commons/font/lib/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/commons/font/lib/opensans-bold-webfont.woff2') format('woff2'),
         url('/commons/font/lib/opensans-bold-webfont.woff') format('woff'),
         url('/commons/font/lib/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-regular';
    src: url('/commons/font/lib/opensans-regular-webfont.eot');
    src: url('/commons/font/lib/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/commons/font/lib/opensans-regular-webfont.woff2') format('woff2'),
         url('/commons/font/lib/opensans-regular-webfont.woff') format('woff'),
         url('/commons/font/lib/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-light';
    src: url('/commons/font/lib/opensans-light-webfont.eot');
    src: url('/commons/font/lib/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/commons/font/lib/opensans-light-webfont.woff2') format('woff2'),
         url('/commons/font/lib/opensans-light-webfont.woff') format('woff'),
         url('/commons/font/lib/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.wFont { font-family: "mplus-2p-bold";font-weight:normal!important;}/* 元書体がボールド書体なのでリセット */


/* ===== chrome用のアンチエイリアス ===== */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    .wFont{
        text-shadow:0 0 1px #333333;
    }.red .wFont,.wFont .red,.wFont.red,.red.wFont{
        text-shadow:0 0 1px #fe0000;
    }
}*/




/* !共通クラス
-------------------------------------------------------------- */

/* 回り込み */
.floatR{
display:block;
float:right;
}

.floatL{
display:block;
float:left;
}

/* 行揃え */
.alignleft,.alignLeft,.txL,.imgAlignL{text-align:left !important;}
.alignright,.alignRight,.txR,.imgAlignR{text-align:right !important;}
.aligncenter,.alignCenter,.txC,.imgAlignC,.slignCent{text-align:center !important;}

table.tdTxL td, tr.tdTxL td, table.thTxL th, tr.thTxL th{text-align:left !important;}
table.tdTxR td, tr.tdTxR td, table.thTxR th, tr.thTxR th{text-align:right !important;}
table.tdTxC td, tr.tdTxC td, table.thTxC th, tr.thTxC th{text-align:center !important;}

.alignClearL{clear: left;}
.alignClearR{clear: right;}
.alignClear{clear: both;}

/* 列揃え */
.vTop,.vaT{vertical-align:top !important;}
.vTTop,.vaTT{vertical-align:text-top!important;}
.vBase{vertical-align:baseline !important;}
.vMiddle,.vMdl{vertical-align:middle !important;}
.vTBtm,.vaTB{vertical-align:text-bottom!important;}
.vBottom,.vBtm{vertical-align:bottom !important;}

/* 文字装飾 */
.red{color:#fe0000 !important;}
.yellow{color:#FEF51C !important;}
.white{color:#fff !important;}
.black{color:#333 !important;}
.asahiRed {color: #dc2226!important;}
.asahiBlue {color: #003894!important;}
/****↓↓ common.css では他のクラスと競合するため要削除 ↓↓****/
.blue {color: #78ceff!important;}
.vividBlue {color: #0097ff!important;}
.ltBlue {color: #cdecfe!important;}
.emerald {color: #019A9F!important;}
.green {color: #b7dddc!important;}
.ltGreen {color: #DFF9F6!important;}
.ltGray {color: #eee!important;}
.gray {color: #999!important;}
.darkGray {color: #666!important;}
.yellow {color: #FFF701!important;}
.ltYellow {color: #fefcab!important;}
.magenta {color: #f22ca2!important;}
.orange {color: #fd6f06!important;}
/****↑↑ common.css では他のクラスと競合するため要削除 ↑↑****/

.bld{font-weight: bold !important;}
.fwN{font-weight: normal !important;}

.wSpace{white-space: nowrap !important;}
.wBreak{word-wrap:break-word !important;}

.lThrough{text-decoration:line-through !important;}
.uLine,.textULine{text-decoration:underline !important;}
a.uLine:hover,a.textULine:hover,.hover.uLine:hover,.hover.textULine:hover{text-decoration: none!important;}
.nLine,.textNLine{text-decoration:none !important;}
a.nLine:hover,a.textNLine:hover{text-decoration: none!important;}
.cPointer{cursor: pointer;}

/* テキストに影 */
.textshadow,.txShadow{text-shadow: 1px 1px 0px rgba(0,0,0,0.75)!important;}
.textshadow.nrgba,.txShadow.nrgba{text-shadow: 1px 1px 0px rgba(0,0,0,1)!important;}
.textshadow.rgba05,.txShadow.rgba05{text-shadow: 1px 1px 0px rgba(0,0,0,0.5)!important;}
.textshadow.rgba025,.txShadow.rgba025{text-shadow: 1px 1px 0px rgba(0,0,0,0.25)!important;}
.textshadow.white,.txShadow.txsWhite{text-shadow: 1px 1px 0px rgba(255,255,255,0.75)!important;}
.textshadow.white.nrgba,.txShadow.txsWhite.nrgba{text-shadow: 1px 1px 0px rgba(255,255,255,1)!important;}
.textshadow.white.rgba05,.txShadow.txsWhite.rgba05{text-shadow: 1px 1px 0px rgba(255,255,255,0.5)!important;}
.textshadow.white.rgba025,.txShadow.txsWhite.rgba025{text-shadow: 1px 1px 0px rgba(255,255,255,0.25)!important;}

/* テキスト縁取り */
.txBorder{
text-shadow:
-1px -1px 0px #000,
1px -1px 0px #000,
1px 1px 0px #000,
-1px 1px 0px #000!important;}
.txBorder.txbWhite{
text-shadow:
-1px -1px 0px #fff,
1px -1px 0px #fff,
1px 1px 0px #fff,
-1px 1px 0px #fff!important;}


/* 行間 */
.lh05,.lh0p5{line-height: 0.5!important;}
.lh06,.lh0p6{line-height: 0.6!important;}
.lh07,.lh0p7{line-height: 0.7!important;}
.lh08,.lh0p8{line-height: 0.8!important;}
.lh09,.lh0p9{line-height: 0.9!important;}
.lh10,.lh1{line-height: 1!important;}
.lh11,.lh1p1{line-height: 1.1!important;}
.lh12,.lh1p2{line-height: 1.2!important;}
.lh13,.lh1p3{line-height: 1.3!important;}
.lh14,.lh1p4{line-height: 1.4!important;}
.lh15,.lh1p5{line-height: 1.5!important;}
.lh16,.lh1p6{line-height: 1.6!important;}
.lh17,.lh1p7{line-height: 1.7!important;}
.lh18,.lh1p8{line-height: 1.8!important;}
.lh19,.lh1p9{line-height: 1.9!important;}
.lh20,.lh2{line-height: 2.0!important;}
.lh21,.lh2p1{line-height: 2.1!important;}
.lh22,.lh2p2{line-height: 2.2!important;}
.lh23,.lh2p3{line-height: 2.3!important;}
.lh24,.lh2p4{line-height: 2.4!important;}
.lh25,.lh2p5{line-height: 2.5!important;}
.lh26,.lh2p6{line-height: 2.6!important;}
.lh27,.lh2p7{line-height: 2.7!important;}
.lh28,.lh2p8{line-height: 2.8!important;}
.lh29,.lh2p9{line-height: 2.9!important;}
.lh30,.lh3{line-height: 3.0!important;}
.lh31,.lh3p1{line-height: 3.1!important;}
.lh32,.lh3p2{line-height: 3.2!important;}
.lh33,.lh3p3{line-height: 3.3!important;}
.lh34,.lh3p4{line-height: 3.4!important;}
.lh35,.lh3p5{line-height: 3.5!important;}
.lh36,.lh3p6{line-height: 3.6!important;}
.lh37,.lh3p7{line-height: 3.7!important;}
.lh38,.lh3p8{line-height: 3.8!important;}
.lh39,.lh3p9{line-height: 3.9!important;}
.lh40,.lh4{line-height: 4.0!important;}

.lh05 li,.lh0p5 li{line-height: 0.5!important;}
.lh06 li,.lh0p6 li{line-height: 0.6!important;}
.lh07 li,.lh0p7 li{line-height: 0.7!important;}
.lh08 li,.lh0p8 li{line-height: 0.8!important;}
.lh09 li,.lh0p9 li{line-height: 0.9!important;}
.lh10 li,.lh1 li{line-height: 1!important;}
.lh11 li,.lh1p1 li{line-height: 1.1!important;}
.lh12 li,.lh1p2 li{line-height: 1.2!important;}
.lh13 li,.lh1p3 li{line-height: 1.3!important;}
.lh14 li,.lh1p4 li{line-height: 1.4!important;}
.lh15 li,.lh1p5 li{line-height: 1.5!important;}
.lh16 li,.lh1p6 li{line-height: 1.6!important;}
.lh17 li,.lh1p7 li{line-height: 1.7!important;}
.lh18 li,.lh1p8 li{line-height: 1.8!important;}
.lh19 li,.lh1p9 li{line-height: 1.9!important;}
.lh20 li,.lh2 li{line-height: 2.0!important;}
.lh21 li,.lh2p1 li{line-height: 2.1!important;}
.lh22 li,.lh2p2 li{line-height: 2.2!important;}
.lh23 li,.lh2p3 li{line-height: 2.3!important;}
.lh24 li,.lh2p4 li{line-height: 2.4!important;}
.lh25 li,.lh2p5 li{line-height: 2.5!important;}
.lh26 li,.lh2p6 li{line-height: 2.6!important;}
.lh27 li,.lh2p7 li{line-height: 2.7!important;}
.lh28 li,.lh2p8 li{line-height: 2.8!important;}
.lh29 li,.lh2p9 li{line-height: 2.9!important;}
.lh30 li,.lh3 li{line-height: 3.0!important;}
.lh31 li,.lh3p1 li{line-height: 3.1!important;}
.lh32 li,.lh3p2 li{line-height: 3.2!important;}
.lh33 li,.lh3p3 li{line-height: 3.3!important;}
.lh34 li,.lh3p4 li{line-height: 3.4!important;}
.lh35 li,.lh3p5 li{line-height: 3.5!important;}
.lh36 li,.lh3p6 li{line-height: 3.6!important;}
.lh37 li,.lh3p7 li{line-height: 3.7!important;}
.lh38 li,.lh3p8 li{line-height: 3.8!important;}
.lh39 li,.lh3p9 li{line-height: 3.9!important;}
.lh40 li,.lh4 li{line-height: 4.0!important;}

/* 文字間（非推奨） */
.ltsp01{letter-spacing: 0.01em!important;}
.ltsp02{letter-spacing: 0.02em!important;}
.ltsp03{letter-spacing: 0.03em!important;}
.ltsp04{letter-spacing: 0.04em!important;}
.ltsp05{letter-spacing: 0.05em!important;}
.ltsp06{letter-spacing: 0.06em!important;}
.ltsp07{letter-spacing: 0.07em!important;}
.ltsp08{letter-spacing: 0.08em!important;}
.ltsp09{letter-spacing: 0.09em!important;}
.ltsp10{letter-spacing: 0.10em!important;}
.ltsp-01{letter-spacing: -0.01em!important;}
.ltsp-02{letter-spacing: -0.02em!important;}
.ltsp-03{letter-spacing: -0.03em!important;}
.ltsp-04{letter-spacing: -0.04em!important;}
.ltsp-05{letter-spacing: -0.05em!important;}
.ltsp-06{letter-spacing: -0.06em!important;}
.ltsp-07{letter-spacing: -0.07em!important;}
.ltsp-08{letter-spacing: -0.08em!important;}
.ltsp-09{letter-spacing: -0.09em!important;}
.ltsp-10{letter-spacing: -0.10em!important;}

.fontSize72em{font-size: 7.2em!important;}
.fontSize60em{font-size: 6em!important;}
.fontSize48em{font-size: 4.8em!important;}
.fontSize36em{font-size: 3.6em!important;}
.fontSize30em{font-size: 3em!important;}
.fontSize28em{font-size: 2.8em!important;}
.fontSize26em{font-size: 2.6em!important;}
.fontSize24em{font-size: 2.4em!important;}
.fontSize22em{font-size: 2.2em!important;}
.fontSize20em{font-size: 2em!important;}
.fontSize18em{font-size: 1.8em!important;}
.fontSize16em{font-size: 1.6em!important;}
.fontSize15em{font-size: 1.5em!important;}
.fontSize14em{font-size: 1.4em!important;}
.fontSize13em{font-size: 1.3em!important;}
.fontSize12em{font-size: 1.2em!important;}
.fontSize11em{font-size: 1.1em!important;}
.fontSize1em{font-size: 1em!important;}
.fontSize09em{font-size: 0.9em!important;}
.fontSize08em{font-size: 0.8em!important;}
.fontSize07em{font-size: 0.7em!important;}
.fontSize06em{font-size: 0.6em!important;}
.fontSize05em{font-size: 0.5em!important;}
.fontSize04em{font-size: 0.4em!important;}

/* フォント指定 */
.nFont{
    font-weight:normal !important;
    font-family: "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "メイリオ" , Meiryo , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , Osaka , "ＭＳ Ｐゴシック" , "MS PGothic" , Avenir, 'Open Sans', 'Helvetica Neue', helvetica, arial, Verdana, Roboto, sans-serif!important;
    text-shadow:none !important;
}
.ff_En{font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , sans-serif!important; font-size:115%;}

/* 装飾パーツ */
/* BOXレイアウト */
.bxC{margin-left:auto!important; margin-right:auto!important;}

.w100 {width:100%!important;}
.w99 {width:99%!important;}
.w98 {width:98%!important;}
.w97 {width:97%!important;}
.w96 {width:96%!important;}
.w95 {width:95%!important;}
.w94 {width:94%!important;}
.w93 {width:93%!important;}
.w92 {width:92%!important;}
.w91 {width:91%!important;}
.w90 {width:90%!important;}
.w89 {width:89%!important;}
.w88 {width:88%!important;}
.w87 {width:87%!important;}
.w86 {width:86%!important;}
.w85 {width:85%!important;}
.w84 {width:84%!important;}
.w83 {width:83%!important;}
.w82 {width:82%!important;}
.w81 {width:81%!important;}
.w80 {width:80%!important;}
.w79 {width:79%!important;}
.w78 {width:78%!important;}
.w77 {width:77%!important;}
.w76 {width:76%!important;}
.w75 {width:75%!important;}
.w74 {width:74%!important;}
.w73 {width:73%!important;}
.w72 {width:72%!important;}
.w71 {width:71%!important;}
.w70 {width:70%!important;}
.w69 {width:69%!important;}
.w68 {width:68%!important;}
.w67 {width:67%!important;}
.w66 {width:66%!important;}
.w65 {width:65%!important;}
.w64 {width:64%!important;}
.w63 {width:63%!important;}
.w62 {width:62%!important;}
.w61 {width:61%!important;}
.w60 {width:60%!important;}
.w59 {width:59%!important;}
.w58 {width:58%!important;}
.w57 {width:57%!important;}
.w56 {width:56%!important;}
.w55 {width:55%!important;}
.w54 {width:54%!important;}
.w53 {width:53%!important;}
.w52 {width:52%!important;}
.w51 {width:51%!important;}
.w50 {width:50%!important;}
.w49 {width:49%!important;}
.w48 {width:48%!important;}
.w47 {width:47%!important;}
.w46 {width:46%!important;}
.w45 {width:45%!important;}
.w44 {width:44%!important;}
.w43 {width:43%!important;}
.w42 {width:42%!important;}
.w41 {width:41%!important;}
.w40 {width:40%!important;}
.w39 {width:39%!important;}
.w38 {width:38%!important;}
.w37 {width:37%!important;}
.w36 {width:36%!important;}
.w35 {width:35%!important;}
.w34 {width:34%!important;}
.w33 {width:33%!important;}
.w32 {width:32%!important;}
.w31 {width:31%!important;}
.w30 {width:30%!important;}
.w29 {width:29%!important;}
.w28 {width:28%!important;}
.w27 {width:27%!important;}
.w26 {width:26%!important;}
.w25 {width:25%!important;}
.w24 {width:24%!important;}
.w23 {width:23%!important;}
.w22 {width:22%!important;}
.w21 {width:21%!important;}
.w20 {width:20%!important;}
.w19 {width:19%!important;}
.w18 {width:18%!important;}
.w17 {width:17%!important;}
.w16 {width:16%!important;}
.w15 {width:15%!important;}
.w14 {width:14%!important;}
.w13 {width:13%!important;}
.w12 {width:12%!important;}
.w11 {width:11%!important;}
.w10 {width:10%!important;}
.w09 {width:09%!important;}
.w08 {width:08%!important;}
.w07 {width:07%!important;}
.w06 {width:06%!important;}
.w05 {width:05%!important;}
.w04 {width:04%!important;}
.w03 {width:03%!important;}
.w02 {width:02%!important;}
.w01 {width:01%!important;}
.wAuto {width:auto!important;}

.h500px {height:500px!important;}
.h450px {height:450px!important;}
.h400px {height:400px!important;}
.h350px {height:350px!important;}
.h300px {height:300px!important;}
.h250px {height:250px!important;}
.h200px {height:200px!important;}
.h150px {height:150px!important;}
.h100px {height:100px!important;}
.h50px {height:50px!important;}


/* ボックス・テーブル装飾 */
.bgRed,table.thBgRed th,table.tdBgRed td {background-color: #e94646!important;}
.bgAsahiRed,table.thBgAsahiRed th,table.tdBgAsahiRed td {background-color: #dc2226!important;}
.bgAsahiBlue,table.thBgAsahiBlue th,table.tdBgAsahiBlue td {background-color: #003894!important;}
.bgBlue,table.thBgBlue th,table.tdBgBlue td {background-color: #78ceff!important;}
.bgVividBlue,table.thBgVividBlue th,table.tdBgVividBlue td {background-color: #0097ff!important;}
.bgLtBlue,table.thBgLtBlue th,table.tdBgLtBlue td {background-color: #cdecfe!important;}
.bgWhite,table.thBgWhite th,table.tdBgWhite td {background-color: #fff!important;}
.bgBlack,table.thBgBlack th,table.tdBgBlack td {background-color: #333!important;}
.bgEmerald,table.thBgEmerald th,table.tdBgEmerald td {background-color: #019A9F!important;}
.bgGreen,table.thBgGreen th,table.tdBgGreen td {background-color: #b7dddc!important;}
.bgLtGreen,table.thBgLtGreen th,table.tdBgLtGreen td {background-color: #DFF9F6!important;}
.bgLtGray,table.thBgLtGray th,table.tdBgLtGray td {background-color: #eee!important;}
.bgGray,table.thBgGray th,table.tdBgGray td {background-color: #999!important;}
.bgDarkGray,table.thBgDarkGray th,table.tdBgDarkGray td {background-color: #666!important;}
.bgYellow,table.thBgYellow th,table.tdBgYellow td {background-color: #FFF701!important;}
.bgLtYellow,table.thBgLtYellow th,table.tdBgLtYellow td {background-color: #fefcab!important;}
.bgMagenta,table.thBgMagenta th,table.tdBgMagenta td {background-color: #f22ca2!important;}
.bgOrange,table.thBgOrange th,table.tdBgOrange td {background-color: #fd6f06!important;}

.bgNone,table.thBgNone th,table.tdBgNone td{background: none!important;}

.bdRed,
.bdRed th,
.bdRed td{border-color: #e94646!important;}
.bdAsahiRed,
.bdAsahiRed th,
.bdAsahiRed td {border-color: #dc2226!important;}
.bdAsahiBlue,
.bdAsahiBlue th,
.bdAsahiBlue td {border-color: #003894!important;}
.bdBlue,
.bdBlue th,
.bdBlue td{border-color: #78ceff!important;}
.bdVividBlue,
.bdVividBlue th,
.bdVividBlue td{border-color: #0097ff!important;}
.bdLtBlue,
.bdLtBlue th,
.bdLtBlue td{border-color: #cdecfe!important;}
.bdWhite,
.bdWhite th,
.bdWhite td{border-color: #fff!important;}
.bdBlack,
.bdBlack th,
.bdBlack td{border-color: #333!important;}
.bdEmerald,
.bdEmerald th,
.bdEmerald td{border-color: #019A9F!important;}
.bdGreen,
.bdGreen th,
.bdGreen td{border-color: #b7dddc!important;}
.bdLtGreen,
.bdLtGreen th,
.bdLtGreen td{border-color: #DFF9F6!important;}
.bdLtGray,
.bdLtGray th,
.bdLtGray td{border-color: #eee!important;}
.bdGray,
.bdGray th,
.bdGray td{border-color: #999!important;}
.bdDarkGray,
.bdDarkGray th,
.bdDarkGray td{border-color: #666!important;}
.bdYellow,
.bdYellow th,
.bdYellow td{border-color: #FFF701!important;}
.bdLtYellow,
.bdLtYellow th,
.bdLtYellow td{border-color: #fefcab!important;}
.bdMagenta,
.bdMagenta th,
.bdMagenta td{border-color: #f22ca2!important;}
.bdOrange,
.bdOrange th,
.bdOrange td{border-color: #fd6f06!important;}

.tBorder{border-top-width: 1px!important;}
.rBorder{border-right-width: 1px!important;}
.bBorder{border-bottom-width: 1px!important;}
.lBorder{border-left-width: 1px!important;}
.Border{border-top-width: 1px!important;border-right-width: 1px!important;border-bottom-width: 1px!important;border-left-width: 1px!important;}

.tThick{border-top-width: 2px!important;}
.rThick{border-right-width: 2px!important;}
.bThick{border-bottom-width: 2px!important;}
.lThick{border-left-width: 2px!important;}
.Thick{border-top-width: 2px!important;border-right-width: 2px!important;border-bottom-width: 2px!important;border-left-width: 2px!important;}

.tDot{border-top-style: dotted!important;}
.rDot{border-right-style: dotted!important;}
.bDot{border-bottom-style: dotted!important;}
.lDot{border-left-style: dotted!important;}
.Dot{border-style: dotted!important;}

.tSolid{border-top-style: solid!important;}
.rSolid{border-right-style: solid!important;}
.bSolid{border-bottom-style: solid!important;}
.lSolid{border-left-style: solid!important;}
.Solid{border-style: solid!important;}

.ntBorder{border-top:none!important;}
.nrBorder{border-right:none!important;}
.nbBorder{border-bottom:none!important;}
.nlBorder{border-left:none!important;}
.nBorder{border-top: none!important;border-right: none!important;border-bottom: none!important;border-left: none!important;border:none!important;}
.nAllBorder,
.nAllBorder table,
.nAllBorder table th,
.nAllBorder table td
{border-top: none!important;border-right: none!important;border-bottom: none!important;border-left: none!important;}

/* 角丸 */
.radius03 {-webkit-border-radius: 3px!important; -moz-border-radius: 3px!important; border-radius: 3px!important;}
.radius05 {-webkit-border-radius: 5px!important; -moz-border-radius: 5px!important; border-radius: 5px!important;}
.radius07 {-webkit-border-radius: 7px!important; -moz-border-radius: 7px!important; border-radius: 7px!important;}
.radius10 {-webkit-border-radius: 10px!important; -moz-border-radius: 10px!important; border-radius: 10px!important;}
.radius15 {-webkit-border-radius: 15px!important; -moz-border-radius: 15px!important; border-radius: 15px!important;}
.radius20 {-webkit-border-radius: 20px!important; -moz-border-radius: 20px!important; border-radius: 20px!important;}
.radius25 {-webkit-border-radius: 25px!important; -moz-border-radius: 25px!important; border-radius: 25px!important;}
.radius30 {-webkit-border-radius: 30px!important; -moz-border-radius: 30px!important; border-radius: 30px!important;}
.radius35 {-webkit-border-radius: 35px!important; -moz-border-radius: 35px!important; border-radius: 35px!important;}
.radius40 {-webkit-border-radius: 40px!important; -moz-border-radius: 40px!important; border-radius: 40px!important;}
.radius45 {-webkit-border-radius: 45px!important; -moz-border-radius: 45px!important; border-radius: 45px!important;}
.radius50 {-webkit-border-radius: 50px!important; -moz-border-radius: 50px!important; border-radius: 50px!important;}

/* ボックスに影 */
.boxshadow{-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75)!important; -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.75)!important; box-shadow: 1px 1px 3px rgba(0,0,0,0.75)!important;}
/* 光彩 */
.innerGlow{
  -webkit-box-shadow: inset 3px 3px 5px 0 rgba(255,255,255,0.75)!important; /* Safari, Chrome用 */
  -moz-box-shadow: inset 3px 3px 5px 0 rgba(255,255,255,0.75)!important; /* Firefox用 */
  box-shadow: inset 3px 3px 5px 0 rgba(255,255,255,0.75)!important; /* CSS3 */
}

/* 要素属性 */
.block{display:block !important;}

.nDisplay{display: none;}

.iBlock{
    display:inline-block !important;
    /* For IE 6/7 */
    *display: inline;
    *zoom: 1;
}

.tbBlock{display: table!important;}
.tbBlock.tbFixed{table-layout: fixed;}
.trBlock{display: table-row!important;}
.tdBlock{display: table-cell!important;}

.list-iBlock li{
    display:inline-block !important;
    margin-right:1em;
    /* For IE 6/7 */
    *display: inline;
    *zoom: 1;
}

.position-A{
    position: absolute;
}.position-R{
    position: relative;
}



/* リンクマーカー */
.icon,.iconEnd {
    position: relative;
    background: none;
}.icon:before,.iconEnd:after {
    position: relative;
    content: "";
    background: url(/commons/img/common/icons.svg) no-repeat 0 0;
    margin-bottom: -8px;
    z-index: 100;
    background-size: 325px;
    width: 25px;
    height: 25px;
    display: inline-block;
}


.icon:before{margin-left:2px;margin-right:2px;}

.icon.mailTo:before{margin-right:0px;}
.icon.external:before{margin-right:0px;}
.icon.login:before{margin-right:0px;}
.icon.print:before{margin-right:3px;}
.icon.tel:before{margin-right:0px;}
.icon.fax:before{margin-right:3px;}
.icon.arrowS:before{margin-left:-5px;margin-right:-5px;}
.icon.arrowM:before{margin-left:-4px;margin-right:-4px;}
.icon.arrowL:before{margin-left:-4px;margin-right:-3px;}
.icon.arrow02S:before{margin-left:-5px;margin-right:-3px;}
.icon.arrow02M:before{margin-left:-4px;margin-right:-2px;}
.icon.arrow02L:before{margin-left:-3px;margin-right:-1px;}
.icon.cArrow02S:before{margin-left:-2px;margin-right:-2px;}
.icon.cArrow02M:before{margin-left:1px;margin-right:1px;}
.icon.cArrow02L:before{margin-left:3px;margin-right:3px;}

.iconEnd:after{margin-left:2px;margin-right:2px;}
.iconEnd.arrowS:after{margin-left:-3px;margin-right:-2px;}
.iconEnd.arrowM:after{margin-left:-2px;margin-right:-1px;}
.iconEnd.arrowL:after{margin-left:-1px;margin-right:0px;}
.iconEnd.arrow02S:after{margin-left:-3px;margin-right:-2px;}
.iconEnd.arrow02M:after{margin-left:-2px;margin-right:-1px;}
.iconEnd.arrow02L:after{margin-left:-1px;margin-right:0px;}
.iconEnd.cArrow02S:after{margin-left:-2px;margin-right:0px;}
.iconEnd.cArrow02M:after{margin-left:1px;margin-right:0px;}
.iconEnd.cArrow02L:after{margin-left:3px;margin-right:4px;}

.icon.pdf:before,.iconEnd.pdf:after{background-position:-25px 0px;}
.icon.word:before,.iconEnd.word:after{background-position:-50px 0px;}
.icon.excel:before,.iconEnd.excel:after{background-position:-75px 0px;}
.icon.ppt:before,.iconEnd.ppt:after{background-position:-100px 0px;}
.icon.zip:before,.iconEnd.zip:after{background-position:-125px 0px;}
.icon.mailTo:before,.iconEnd.mailTo:after{background-position:-150px 0px;}
.icon.external:before,.iconEnd.external:after{background-position:-175px 0px;}
.icon.login:before,.iconEnd.login:after{background-position:-200px 0px;}
.icon.freedial:before,.iconEnd.freedial:after{background-position:-225px 0px;}
.icon.print:before,.iconEnd.print:after{background-position:-250px 0px;}
.icon.tel:before,.iconEnd.tel:after{background-position:-275px 0px;}
.icon.fax:before,.iconEnd.fax:after{background-position:-300px 0px;}

.icon.arrowS:before,.iconEnd.arrowS:after{background-position:0px -50px;}
.icon.arrowM:before,.iconEnd.arrowM:after{background-position:-25px -50px;}
.icon.arrowL:before,.iconEnd.arrowL:after{background-position:-50px -50px;}
.icon.arrow02S:before,.iconEnd.arrow02S:after{background-position:-75px -50px;}
.icon.arrow02M:before,.iconEnd.arrow02M:after{background-position:-100px -50px;}
.icon.arrow02L:before,.iconEnd.arrow02L:after{background-position:-125px -50px;}
.icon.cArrow02S:before,.iconEnd.cArrow02S:after{background-position:-150px -50px;}
.icon.cArrow02M:before,.iconEnd.cArrow02M:after{background-position:-175px -50px;}
.icon.cArrow02L:before,.iconEnd.cArrow02L:after{background-position:-200px -50px;}
.icon.homeCourse:before,.iconEnd.homeCourse:after{background-position:-0px -100px;}
.icon.mansionCourse:before,.iconEnd.mansionCourse:after{background-position:-25px -100px;}

.icon.pdf.rev:before,.iconEnd.pdf.rev:after{background-position:-25px -25px;}
.icon.word.rev:before,.iconEnd.word.rev:after{background-position:-50px -25px;}
.icon.excel.rev:before,.iconEnd.excel.rev:after{background-position:-75px -25px;}
.icon.ppt.rev:before,.iconEnd.ppt.rev:after{background-position:-100px -25px;}
.icon.zip.rev:before,.iconEnd.zip.rev:after{background-position:-125px -25px;}
.icon.mailTo.rev:before,.iconEnd.mailTo.rev:after{background-position:-150px -25px;}
.icon.external.rev:before,.iconEnd.external.rev:after{background-position:-175px -25px;}
.icon.login.rev:before,.iconEnd.login.rev:after{background-position:-200px -25px;}
.icon.freedial.rev:before,.iconEnd.freedial.rev:after{background-position:-225px -25px;}
.icon.print.rev:before,.iconEnd.print.rev:after{background-position:-250px -25px;}
.icon.tel.rev:before,.iconEnd.tel.rev:after{background-position:-275px -25px;}
.icon.fax.rev:before,.iconEnd.fax.rev:after{background-position:-300px -25px;}

.icon.arrowS.rev:before,.iconEnd.arrowS.rev:after{background-position:0px -75px;}
.icon.arrowM.rev:before,.iconEnd.arrowM.rev:after{background-position:-25px -75px;}
.icon.arrowL.rev:before,.iconEnd.arrowL.rev:after{background-position:-50px -75px;}
.icon.arrow02S.rev:before,.iconEnd.arrow02S.rev:after{background-position:-75px -75px;}
.icon.arrow02M.rev:before,.iconEnd.arrow02M.rev:after{background-position:-100px -75px;}
.icon.arrow02L.rev:before,.iconEnd.arrow02L.rev:after{background-position:-125px -75px;}
.icon.cArrow02S.rev:before,.iconEnd.cArrow02S.rev:after{background-position:-150px -75px;}
.icon.cArrow02M.rev:before,.iconEnd.cArrow02M.rev:after{background-position:-175px -75px;}
.icon.cArrow02L.rev:before,.iconEnd.cArrow02L.rev:after{background-position:-200px -75px;}
.icon.homeCourse.rev:before,.iconEnd.homeCourse.rev:after{background-position:0px -125px;}
.icon.mansionCourse.rev:before,.iconEnd.mansionCourse.rev:after{background-position:-25px -125px;}



/* 基本ボタン */
.ctBtn{
    cursor:pointer;
    position:relative;
    display:table;
    border-radius:6px;
    padding:20px 40px 20px 20px;
    font-size:14px;
    font-size:1.4rem;
    line-height:1.4;
    font-weight:bold;
    color:#fff;
    background: #2656a4;
}
.ctBtn span{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.ctBtn:before{
    position: absolute;
    content: "";
    top: 50%;
    right: 8px;
    width: 24px;
    height: 24px;
    margin-top:-12px;
    background-color: #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    z-index: 10;
}
.ctBtn:after{
    position: absolute;
    border-color: #003894;
    border-image: none;
    border-style: solid;
    border-width: 0 0 3px 3px;
    content: "";
    top: 50%;
    right: 16px;
    width: 12px;
    height: 12px;
    margin-top:-6px;
    z-index: 20;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.ctBtn:link{color:#fff;text-decoration:none;}
.ctBtn:visited{color:#fff;text-decoration:none;}
.ctBtn:hover{color:#fff;text-decoration:none;opacity: 0.6;}
.ctBtn:active{color:#fff;text-decoration:none;}

.ctBtn.txBig{font-size:29px;font-size:2.9rem;line-height:98px;line-height:9.8rem;}
.ctBtn.txSmall{padding:13px 20px;font-size:16px;font-size:1.6rem;line-height:24px;line-height:2.4rem;}
.ctBtn.txLow{padding:8px 20px;}
.ctBtn.tx2Line{line-height:60px;line-height:6.0rem;}
.ctBtn .txtSub{font-size:16px;font-size:1.6rem;line-height:16px;line-height:1.6rem;}
.abTxtMain + .txtSub{margin-left:12px;}

.ctBtn.closeBtn{
    background:#e4e4e4;
    border:2px solid #c1c1c1;
    padding:13px 20px 13px 45px;
    color:#666;
    font-size:16px;
    font-size:1.6rem;
    line-height:24px;
    line-height:2.4rem;
    display:inline-block;
}
.ctBtn.closeBtn:hover{background: #ccc;}
.ctBtn.closeBtn:after{border:none;border-style: none;margin:0;}
.ctBtn.closeBtn:before,
.ctBtn.closeBtn:after {
    position: absolute;
    top: 50%;
    left: 15px;
    content: "";
    display: block;
    width: 20px;
    border-top: 2px solid #666;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.ctBtn.closeBtn:before {
    -moz-transform: skewY(-45deg);
    -webkit-transform: skewY(-45deg);
    -o-transform: skewY(-45deg);
    -ms-transform: skewY(-45deg);
    transform: skewY(-45deg);
}
.ctBtn.closeBtn:after {
    -moz-transform: skewY(45deg);
    -webkit-transform: skewY(45deg);
    -o-transform: skewY(45deg);
    -ms-transform: skewY(45deg);
    transform: skewY(45deg);
}

.ctBtn.bgEmerald:before{background-color: #fff;}
.ctBtn.bgEmerald:after{border-color: #019A9F;}
.ctBtn.bgEmerald:hover {opacity: 0.6;}
.ctBtn.bgAsahiBlue:before{background-color: #fff;}
.ctBtn.bgAsahiBlue:after{border-color: #003894;}
.ctBtn.bgAsahiBlue:hover {opacity: 0.6;}
.ctBtn.bgGray:before{background-color: #999;}
.ctBtn.bgGray:after{border-color: #fff;}

.ctBtn.btLtGGray {
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    color: #333;
    background: rgb(225,225,225);
    background: -moz-linear-gradient(top,  rgba(249,249,249,1) 0%, rgba(225,225,225,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,249,1)), color-stop(100%,rgba(225,225,225,1)));
    background: -webkit-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(225,225,225,1) 100%);
    background: -ms-linear-gradient(top,  rgba(249,249,249,1) 0%,rgba(225,225,225,1) 100%);
    background: linear-gradient(to bottom,  rgba(249,249,249,1) 0%, rgba(225,225,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 );
    border: 1px solid #a3a3a3;
}
.ctBtn.btLtGGray:before{background-color: #999;}
.ctBtn.btLtGGray:after{border-color: #fff;}
.ctBtn.btLtGGray:hover {
    background: rgb(230,230,230);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e1e1e1',GradientType=0 );
}
.ctBtn.btLtGGray:hover:before {opacity: 0.6;}



/* その他パーツ */

.soldout{
    position:relative;
}
.soldout img{
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    opacity:0.75;
}
.soldout:before {
    content: "ご好評につき完売いたしました。";
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    line-height:1;
    position: absolute;
    top:50%;
    left:50%;
    margin:-2em -35%;
    width:70%;
    padding:0.5em 5%;
    background-color:rgba(0,0,0,0.25);
    opacity:1;
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    -webkit-filter: none; /* Webkit */
    filter: none; /* IE6-9 */
    z-index:1000;
    display:block;
}
.soldout.soldTextEn:before {
    content: "SOLD OUT";
}
.soldout.waitingStock:before {
    content: "入荷待ち";
/*    margin:-1.5em -40%;*/
}
.soldout.soldTextBlack:before{
    color:#333;
    text-shadow:1px 1px 0px rgba(222,222,222,1);
    background-color:rgba(0,0,0,0.25);
}.soldout.soldTextRed:before{
    color:#f00;
    text-shadow:1px 1px 0px rgba(222,222,222,1);
    background-color:rgba(0,0,0,0.25);
}


/* コード表示用 */
code{font-weight: bold;letter-spacing: 0.05em;}
.source {
    display: block;
    background: #F3FFD8;
    color: #333;
    border: 1px solid #999;
    padding: 10px;
    margin: 5px 10px;
    font-size: 13px;
    overflow-y: auto;
}.source code{font-weight: normal;}



/* margin-set */
.mbZero,.mb00{margin-bottom:0px !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;}
.mb70{margin-bottom:70px !important;}
.mb75{margin-bottom:75px !important;}
.mb80{margin-bottom:80px !important;}
.mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;}
.mb95{margin-bottom:95px !important;}
.mb100{margin-bottom:100px !important;}
.mb105{margin-bottom:105px !important;}
.mb110{margin-bottom:110px !important;}
.mb115{margin-bottom:115px !important;}
.mb120{margin-bottom:120px !important;}
.mb125{margin-bottom:125px !important;}
.mb130{margin-bottom:130px !important;}
.mb135{margin-bottom:135px !important;}
.mb140{margin-bottom:140px !important;}
.mb145{margin-bottom:145px !important;}
.mb150{margin-bottom:150px !important;}
.mb155{margin-bottom:155px !important;}
.mb160{margin-bottom:160px !important;}
.mb165{margin-bottom:165px !important;}
.mb170{margin-bottom:170px !important;}
.mb175{margin-bottom:175px !important;}
.mb180{margin-bottom:180px !important;}
.mb185{margin-bottom:185px !important;}
.mb190{margin-bottom:190px !important;}
.mb195{margin-bottom:195px !important;}
.mb200{margin-bottom:200px !important;}

.mtZero,.mt00{margin-top:0px !important;}
.mt05{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;}
.mt70{margin-top:70px !important;}
.mt75{margin-top:75px !important;}
.mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;}
.mt90{margin-top:90px !important;}
.mt95{margin-top:95px !important;}
.mt100{margin-top:100px !important;}
.mt105{margin-top:105px !important;}
.mt110{margin-top:110px !important;}
.mt115{margin-top:115px !important;}
.mt120{margin-top:120px !important;}
.mt125{margin-top:125px !important;}
.mt130{margin-top:130px !important;}
.mt135{margin-top:135px !important;}
.mt140{margin-top:140px !important;}
.mt145{margin-top:145px !important;}
.mt150{margin-top:150px !important;}
.mt155{margin-top:155px !important;}
.mt160{margin-top:160px !important;}
.mt165{margin-top:165px !important;}
.mt170{margin-top:170px !important;}
.mt175{margin-top:175px !important;}
.mt180{margin-top:180px !important;}
.mt185{margin-top:185px !important;}
.mt190{margin-top:190px !important;}
.mt195{margin-top:195px !important;}
.mt200{margin-top:200px !important;}

.mlZero,.ml00{margin-left:0px!important;}
.ml05{margin-left:5px!important;}
.ml10{margin-left:10px!important;}
.ml15{margin-left:15px!important;}
.ml20{margin-left:20px!important;}
.ml25{margin-left:25px!important;}
.ml30{margin-left:30px!important;}
.ml35{margin-left:35px!important;}
.ml40{margin-left:40px!important;}
.ml45{margin-left:45px!important;}
.ml50{margin-left:50px!important;}
.ml55{margin-left:55px!important;}
.ml60{margin-left:60px!important;}
.ml65{margin-left:65px!important;}
.ml70{margin-left:70px!important;}
.ml75{margin-left:75px!important;}
.ml80{margin-left:80px!important;}
.ml85{margin-left:85px!important;}
.ml90{margin-left:90px!important;}
.ml95{margin-left:95px!important;}
.ml100{margin-left:100px!important;}
.ml105{margin-left:105px!important;}
.ml110{margin-left:110px!important;}
.ml115{margin-left:115px!important;}
.ml120{margin-left:120px!important;}
.ml125{margin-left:125px!important;}
.ml130{margin-left:130px!important;}
.ml135{margin-left:135px!important;}
.ml140{margin-left:140px!important;}
.ml145{margin-left:145px!important;}
.ml150{margin-left:150px!important;}
.ml155{margin-left:155px!important;}
.ml160{margin-left:160px!important;}
.ml165{margin-left:165px!important;}
.ml170{margin-left:170px!important;}
.ml175{margin-left:175px!important;}
.ml180{margin-left:180px!important;}
.ml185{margin-left:185px!important;}
.ml190{margin-left:190px!important;}
.ml195{margin-left:195px!important;}
.ml200{margin-left:200px!important;}

.mrZero,.mr00{margin-right:0px!important;}
.mr05{margin-right:5px!important;}
.mr10{margin-right:10px!important;}
.mr15{margin-right:15px!important;}
.mr20{margin-right:20px!important;}
.mr25{margin-right:25px!important;}
.mr30{margin-right:30px!important;}
.mr35{margin-right:35px!important;}
.mr40{margin-right:40px!important;}
.mr45{margin-right:45px!important;}
.mr50{margin-right:50px!important;}
.mr55{margin-right:55px!important;}
.mr60{margin-right:60px!important;}
.mr65{margin-right:65px!important;}
.mr70{margin-right:70px!important;}
.mr75{margin-right:75px!important;}
.mr80{margin-right:80px!important;}
.mr85{margin-right:85px!important;}
.mr90{margin-right:90px!important;}
.mr95{margin-right:95px!important;}
.mr100{margin-right:100px!important;}
.mr105{margin-right:105px!important;}
.mr110{margin-right:110px!important;}
.mr115{margin-right:115px!important;}
.mr120{margin-right:120px!important;}
.mr125{margin-right:125px!important;}
.mr130{margin-right:130px!important;}
.mr135{margin-right:135px!important;}
.mr140{margin-right:140px!important;}
.mr145{margin-right:145px!important;}
.mr150{margin-right:150px!important;}
.mr155{margin-right:155px!important;}
.mr160{margin-right:160px!important;}
.mr165{margin-right:165px!important;}
.mr170{margin-right:170px!important;}
.mr175{margin-right:175px!important;}
.mr180{margin-right:180px!important;}
.mr185{margin-right:185px!important;}
.mr190{margin-right:190px!important;}
.mr195{margin-right:195px!important;}
.mr200{margin-right:200px!important;}

.mlrAuto{margin-left:auto!important; margin-right: auto!important;}
.mlrZero,.mlr00{margin-left:0!important; margin-right: 0!important;}
.mlr05{margin-left:  5px!important; margin-right:  5px!important;}
.mlr10{margin-left: 10px!important; margin-right: 10px!important;}
.mlr15{margin-left: 15px!important; margin-right: 15px!important;}
.mlr20{margin-left: 20px!important; margin-right: 20px!important;}
.mlr25{margin-left: 25px!important; margin-right: 25px!important;}
.mlr30{margin-left: 30px!important; margin-right: 30px!important;}
.mlr35{margin-left: 35px!important; margin-right: 35px!important;}
.mlr40{margin-left: 40px!important; margin-right: 40px!important;}
.mlr45{margin-left: 45px!important; margin-right: 45px!important;}
.mlr50{margin-left: 50px!important; margin-right: 50px!important;}
.mlr55{margin-left: 55px!important; margin-right: 55px!important;}
.mlr60{margin-left: 60px!important; margin-right: 60px!important;}
.mlr65{margin-left: 65px!important; margin-right: 65px!important;}
.mlr70{margin-left: 70px!important; margin-right: 70px!important;}
.mlr75{margin-left: 75px!important; margin-right: 75px!important;}
.mlr80{margin-left: 80px!important; margin-right: 80px!important;}
.mlr85{margin-left: 85px!important; margin-right: 85px!important;}
.mlr90{margin-left: 90px!important; margin-right: 90px!important;}
.mlr95{margin-left: 95px!important; margin-right: 95px!important;}
.mlr100{margin-left:100px!important; margin-right:100px!important;}
.mlr105{margin-left:105px!important; margin-right:105px!important;}
.mlr110{margin-left:110px!important; margin-right:110px!important;}
.mlr115{margin-left:115px!important; margin-right:115px!important;}
.mlr120{margin-left:120px!important; margin-right:120px!important;}
.mlr125{margin-left:125px!important; margin-right:125px!important;}
.mlr130{margin-left:130px!important; margin-right:130px!important;}
.mlr135{margin-left:135px!important; margin-right:135px!important;}
.mlr140{margin-left:140px!important; margin-right:140px!important;}
.mlr145{margin-left:145px!important; margin-right:145px!important;}
.mlr150{margin-left:150px!important; margin-right:150px!important;}
.mlr155{margin-left:155px!important; margin-right:155px!important;}
.mlr160{margin-left:160px!important; margin-right:160px!important;}
.mlr165{margin-left:165px!important; margin-right:165px!important;}
.mlr170{margin-left:170px!important; margin-right:170px!important;}
.mlr175{margin-left:175px!important; margin-right:175px!important;}
.mlr180{margin-left:180px!important; margin-right:180px!important;}
.mlr185{margin-left:185px!important; margin-right:185px!important;}
.mlr190{margin-left:190px!important; margin-right:190px!important;}
.mlr195{margin-left:195px!important; margin-right:195px!important;}
.mlr200{margin-left:200px!important; margin-right:200px!important;}

.mtbZero,.mtb00{margin-top:0!important; margin-bottom: 0!important;}
.mtb05{margin-top:  5px!important; margin-bottom:  5px!important;}
.mtb10{margin-top: 10px!important; margin-bottom: 10px!important;}
.mtb15{margin-top: 15px!important; margin-bottom: 15px!important;}
.mtb20{margin-top: 20px!important; margin-bottom: 20px!important;}
.mtb25{margin-top: 25px!important; margin-bottom: 25px!important;}
.mtb30{margin-top: 30px!important; margin-bottom: 30px!important;}
.mtb35{margin-top: 35px!important; margin-bottom: 35px!important;}
.mtb40{margin-top: 40px!important; margin-bottom: 40px!important;}
.mtb45{margin-top: 45px!important; margin-bottom: 45px!important;}
.mtb50{margin-top: 50px!important; margin-bottom: 50px!important;}
.mtb55{margin-top: 55px!important; margin-bottom: 55px!important;}
.mtb60{margin-top: 60px!important; margin-bottom: 60px!important;}
.mtb65{margin-top: 65px!important; margin-bottom: 65px!important;}
.mtb70{margin-top: 70px!important; margin-bottom: 70px!important;}
.mtb75{margin-top: 75px!important; margin-bottom: 75px!important;}
.mtb80{margin-top: 80px!important; margin-bottom: 80px!important;}
.mtb85{margin-top: 85px!important; margin-bottom: 85px!important;}
.mtb90{margin-top: 90px!important; margin-bottom: 90px!important;}
.mtb95{margin-top: 95px!important; margin-bottom: 95px!important;}
.mtb100{margin-top:100px!important; margin-bottom:100px!important;}
.mtb105{margin-top:105px!important; margin-bottom:105px!important;}
.mtb110{margin-top:110px!important; margin-bottom:110px!important;}
.mtb115{margin-top:115px!important; margin-bottom:115px!important;}
.mtb120{margin-top:120px!important; margin-bottom:120px!important;}
.mtb125{margin-top:125px!important; margin-bottom:125px!important;}
.mtb130{margin-top:130px!important; margin-bottom:130px!important;}
.mtb135{margin-top:135px!important; margin-bottom:135px!important;}
.mtb140{margin-top:140px!important; margin-bottom:140px!important;}
.mtb145{margin-top:145px!important; margin-bottom:145px!important;}
.mtb150{margin-top:150px!important; margin-bottom:150px!important;}
.mtb155{margin-top:155px!important; margin-bottom:155px!important;}
.mtb160{margin-top:160px!important; margin-bottom:160px!important;}
.mtb165{margin-top:165px!important; margin-bottom:165px!important;}
.mtb170{margin-top:170px!important; margin-bottom:170px!important;}
.mtb175{margin-top:175px!important; margin-bottom:175px!important;}
.mtb180{margin-top:180px!important; margin-bottom:180px!important;}
.mtb185{margin-top:185px!important; margin-bottom:185px!important;}
.mtb190{margin-top:190px!important; margin-bottom:190px!important;}
.mtb195{margin-top:195px!important; margin-bottom:195px!important;}
.mtb200{margin-top:200px!important; margin-bottom:200px!important;}

.nmt05{margin-top: -5px !important;}
.nmt10{margin-top: -10px !important;}
.nmt15{margin-top: -15px !important;}
.nmt20{margin-top: -20px !important;}
.nmt25{margin-top: -25px !important;}
.nmt30{margin-top: -30px !important;}
.nmt35{margin-top: -35px !important;}
.nmt40{margin-top: -40px !important;}
.nmt45{margin-top: -45px !important;}
.nmt50{margin-top: -50px !important;}
.nmt55{margin-top: -55px !important;}
.nmt60{margin-top: -60px !important;}
.nmt65{margin-top: -65px !important;}
.nmt70{margin-top: -70px !important;}
.nmt75{margin-top: -75px !important;}
.nmt80{margin-top: -80px !important;}
.nmt85{margin-top: -85px !important;}
.nmt90{margin-top: -90px !important;}
.nmt95{margin-top: -95px !important;}
.nmt100{margin-top:-100px !important;}
.nmt105{margin-top:-105px !important;}
.nmt110{margin-top:-110px !important;}
.nmt115{margin-top:-115px !important;}
.nmt120{margin-top:-120px !important;}
.nmt125{margin-top:-125px !important;}
.nmt130{margin-top:-130px !important;}
.nmt135{margin-top:-135px !important;}
.nmt140{margin-top:-140px !important;}
.nmt145{margin-top:-145px !important;}
.nmt150{margin-top:-150px !important;}
.nmt155{margin-top:-155px !important;}
.nmt160{margin-top:-160px !important;}
.nmt165{margin-top:-165px !important;}
.nmt170{margin-top:-170px !important;}
.nmt175{margin-top:-175px !important;}
.nmt180{margin-top:-180px !important;}
.nmt185{margin-top:-185px !important;}
.nmt190{margin-top:-190px !important;}
.nmt195{margin-top:-195px !important;}
.nmt200{margin-top:-200px !important;}

.nml05{margin-left: -5px !important;}
.nml10{margin-left: -10px !important;}
.nml15{margin-left: -15px !important;}
.nml20{margin-left: -20px !important;}
.nml25{margin-left: -25px !important;}
.nml30{margin-left: -30px !important;}
.nml35{margin-left: -35px !important;}
.nml40{margin-left: -40px !important;}
.nml45{margin-left: -45px !important;}
.nml50{margin-left: -50px !important;}
.nml55{margin-left: -55px !important;}
.nml60{margin-left: -60px !important;}
.nml65{margin-left: -65px !important;}
.nml70{margin-left: -70px !important;}
.nml75{margin-left: -75px !important;}
.nml80{margin-left: -80px !important;}
.nml85{margin-left: -85px !important;}
.nml90{margin-left: -90px !important;}
.nml95{margin-left: -95px !important;}
.nml100{margin-left:-100px !important;}
.nml105{margin-left:-105px !important;}
.nml110{margin-left:-110px !important;}
.nml115{margin-left:-115px !important;}
.nml120{margin-left:-120px !important;}
.nml125{margin-left:-125px !important;}
.nml130{margin-left:-130px !important;}
.nml135{margin-left:-135px !important;}
.nml140{margin-left:-140px !important;}
.nml145{margin-left:-145px !important;}
.nml150{margin-left:-150px !important;}
.nml155{margin-left:-155px !important;}
.nml160{margin-left:-160px !important;}
.nml165{margin-left:-165px !important;}
.nml170{margin-left:-170px !important;}
.nml175{margin-left:-175px !important;}
.nml180{margin-left:-180px !important;}
.nml185{margin-left:-185px !important;}
.nml190{margin-left:-190px !important;}
.nml195{margin-left:-195px !important;}
.nml200{margin-left:-200px !important;}

.nmr05{margin-right:-5px !important;}
.nmr10{margin-right:-10px !important;}
.nmr15{margin-right:-15px !important;}
.nmr20{margin-right:-20px !important;}
.nmr25{margin-right:-25px !important;}
.nmr30{margin-right:-30px !important;}
.nmr35{margin-right:-35px !important;}
.nmr40{margin-right:-40px !important;}
.nmr45{margin-right:-45px !important;}
.nmr50{margin-right:-50px !important;}
.nmr55{margin-right:-55px !important;}
.nmr60{margin-right:-60px !important;}
.nmr65{margin-right:-65px !important;}
.nmr70{margin-right:-70px !important;}
.nmr75{margin-right:-75px !important;}
.nmr80{margin-right:-80px !important;}
.nmr85{margin-right:-85px !important;}
.nmr90{margin-right:-90px !important;}
.nmr95{margin-right:-95px !important;}
.nmr100{margin-right:-100px !important;}
.nmr105{margin-right:-105px !important;}
.nmr110{margin-right:-110px !important;}
.nmr115{margin-right:-115px !important;}
.nmr120{margin-right:-120px !important;}
.nmr125{margin-right:-125px !important;}
.nmr130{margin-right:-130px !important;}
.nmr135{margin-right:-135px !important;}
.nmr140{margin-right:-140px !important;}
.nmr145{margin-right:-145px !important;}
.nmr150{margin-right:-150px !important;}
.nmr155{margin-right:-155px !important;}
.nmr160{margin-right:-160px !important;}
.nmr165{margin-right:-165px !important;}
.nmr170{margin-right:-170px !important;}
.nmr175{margin-right:-175px !important;}
.nmr180{margin-right:-180px !important;}
.nmr185{margin-right:-185px !important;}
.nmr190{margin-right:-190px !important;}
.nmr195{margin-right:-195px !important;}
.nmr200{margin-right:-200px !important;}

.nmb05{margin-bottom: -5px !important;}
.nmb10{margin-bottom: -10px !important;}
.nmb15{margin-bottom: -15px !important;}
.nmb20{margin-bottom: -20px !important;}
.nmb25{margin-bottom: -25px !important;}
.nmb30{margin-bottom: -30px !important;}
.nmb35{margin-bottom: -35px !important;}
.nmb40{margin-bottom: -40px !important;}
.nmb45{margin-bottom: -45px !important;}
.nmb50{margin-bottom: -50px !important;}
.nmb55{margin-bottom: -55px !important;}
.nmb60{margin-bottom: -60px !important;}
.nmb65{margin-bottom: -65px !important;}
.nmb70{margin-bottom: -70px !important;}
.nmb75{margin-bottom: -75px !important;}
.nmb80{margin-bottom: -80px !important;}
.nmb85{margin-bottom: -85px !important;}
.nmb90{margin-bottom: -90px !important;}
.nmb95{margin-bottom: -95px !important;}
.nmb100{margin-bottom:-100px !important;}
.nmb105{margin-bottom:-105px !important;}
.nmb110{margin-bottom:-110px !important;}
.nmb115{margin-bottom:-115px !important;}
.nmb120{margin-bottom:-120px !important;}
.nmb125{margin-bottom:-125px !important;}
.nmb130{margin-bottom:-130px !important;}
.nmb135{margin-bottom:-135px !important;}
.nmb140{margin-bottom:-140px !important;}
.nmb145{margin-bottom:-145px !important;}
.nmb150{margin-bottom:-150px !important;}
.nmb155{margin-bottom:-155px !important;}
.nmb160{margin-bottom:-160px !important;}
.nmb165{margin-bottom:-165px !important;}
.nmb170{margin-bottom:-170px !important;}
.nmb175{margin-bottom:-175px !important;}
.nmb180{margin-bottom:-180px !important;}
.nmb185{margin-bottom:-185px !important;}
.nmb190{margin-bottom:-190px !important;}
.nmb195{margin-bottom:-195px !important;}
.nmb200{margin-bottom:-200px !important;}

.ptZero,.pt00{padding-top:0px!important;}
.pt05{padding-top: 5px!important;}
.pt10{padding-top: 10px!important;}
.pt15{padding-top: 15px!important;}
.pt20{padding-top: 20px!important;}
.pt25{padding-top: 25px!important;}
.pt30{padding-top: 30px!important;}
.pt35{padding-top: 35px!important;}
.pt40{padding-top: 40px!important;}
.pt45{padding-top: 45px!important;}
.pt50{padding-top: 50px!important;}
.pt55{padding-top: 55px!important;}
.pt60{padding-top: 60px!important;}
.pt65{padding-top: 65px!important;}
.pt70{padding-top: 70px!important;}
.pt75{padding-top: 75px!important;}
.pt80{padding-top: 80px!important;}
.pt85{padding-top: 85px!important;}
.pt90{padding-top: 90px!important;}
.pt95{padding-top: 95px!important;}
.pt100{padding-top:100px!important;}
.pt105{padding-top:105px!important;}
.pt110{padding-top:110px!important;}
.pt115{padding-top:115px!important;}
.pt120{padding-top:120px!important;}
.pt125{padding-top:125px!important;}
.pt130{padding-top:130px!important;}
.pt135{padding-top:135px!important;}
.pt140{padding-top:140px!important;}
.pt145{padding-top:145px!important;}
.pt150{padding-top:150px!important;}
.pt155{padding-top:155px!important;}
.pt160{padding-top:160px!important;}
.pt165{padding-top:165px!important;}
.pt170{padding-top:170px!important;}
.pt175{padding-top:175px!important;}
.pt180{padding-top:180px!important;}
.pt185{padding-top:185px!important;}
.pt190{padding-top:190px!important;}
.pt195{padding-top:195px!important;}
.pt200{padding-top:200px!important;}

.prZero,.pr00{padding-right: 0!important;}
.pr05{padding-right: 5px!important;}
.pr10{padding-right: 10px!important;}
.pr15{padding-right: 15px!important;}
.pr20{padding-right: 20px!important;}
.pr25{padding-right: 25px!important;}
.pr30{padding-right: 30px!important;}
.pr35{padding-right: 35px!important;}
.pr40{padding-right: 40px!important;}
.pr45{padding-right: 45px!important;}
.pr50{padding-right: 50px!important;}
.pr55{padding-right: 55px!important;}
.pr60{padding-right: 60px!important;}
.pr65{padding-right: 65px!important;}
.pr70{padding-right: 70px!important;}
.pr75{padding-right: 75px!important;}
.pr80{padding-right: 80px!important;}
.pr85{padding-right: 85px!important;}
.pr90{padding-right: 90px!important;}
.pr95{padding-right: 95px!important;}
.pr100{padding-right:100px!important;}
.pr105{padding-right:105px!important;}
.pr110{padding-right:110px!important;}
.pr115{padding-right:115px!important;}
.pr120{padding-right:120px!important;}
.pr125{padding-right:125px!important;}
.pr130{padding-right:130px!important;}
.pr135{padding-right:135px!important;}
.pr140{padding-right:140px!important;}
.pr145{padding-right:145px!important;}
.pr150{padding-right:150px!important;}
.pr155{padding-right:155px!important;}
.pr160{padding-right:160px!important;}
.pr165{padding-right:165px!important;}
.pr170{padding-right:170px!important;}
.pr175{padding-right:175px!important;}
.pr180{padding-right:180px!important;}
.pr185{padding-right:185px!important;}
.pr190{padding-right:190px!important;}
.pr195{padding-right:195px!important;}
.pr200{padding-right:200px!important;}

.pbZero,.pb00{padding-bottom:0px!important;}
.pb05{padding-bottom: 5px!important;}
.pb10{padding-bottom: 10px!important;}
.pb15{padding-bottom: 15px!important;}
.pb20{padding-bottom: 20px!important;}
.pb25{padding-bottom: 25px!important;}
.pb30{padding-bottom: 30px!important;}
.pb35{padding-bottom: 35px!important;}
.pb40{padding-bottom: 40px!important;}
.pb45{padding-bottom: 45px!important;}
.pb50{padding-bottom: 50px!important;}
.pb55{padding-bottom: 55px!important;}
.pb60{padding-bottom: 60px!important;}
.pb65{padding-bottom: 65px!important;}
.pb70{padding-bottom: 70px!important;}
.pb75{padding-bottom: 75px!important;}
.pb80{padding-bottom: 80px!important;}
.pb85{padding-bottom: 85px!important;}
.pb90{padding-bottom: 90px!important;}
.pb95{padding-bottom: 95px!important;}
.pb100{padding-bottom:100px!important;}
.pb105{padding-bottom:105px!important;}
.pb110{padding-bottom:110px!important;}
.pb115{padding-bottom:115px!important;}
.pb120{padding-bottom:120px!important;}
.pb125{padding-bottom:125px!important;}
.pb130{padding-bottom:130px!important;}
.pb135{padding-bottom:135px!important;}
.pb140{padding-bottom:140px!important;}
.pb145{padding-bottom:145px!important;}
.pb150{padding-bottom:150px!important;}
.pb155{padding-bottom:155px!important;}
.pb160{padding-bottom:160px!important;}
.pb165{padding-bottom:165px!important;}
.pb170{padding-bottom:170px!important;}
.pb175{padding-bottom:175px!important;}
.pb180{padding-bottom:180px!important;}
.pb185{padding-bottom:185px!important;}
.pb190{padding-bottom:190px!important;}
.pb195{padding-bottom:195px!important;}
.pb200{padding-bottom:200px!important;}

.plZero,.pl00{padding-left:0!important; }
.pl05{padding-left: 5px!important; }
.pl10{padding-left: 10px!important;}
.pl15{padding-left: 15px!important;}
.pl20{padding-left: 20px!important;}
.pl25{padding-left: 25px!important;}
.pl30{padding-left: 30px!important;}
.pl35{padding-left: 35px!important;}
.pl40{padding-left: 40px!important;}
.pl45{padding-left: 45px!important;}
.pl50{padding-left: 50px!important;}
.pl55{padding-left: 55px!important;}
.pl60{padding-left: 60px!important;}
.pl65{padding-left: 65px!important;}
.pl70{padding-left: 70px!important;}
.pl75{padding-left: 75px!important;}
.pl80{padding-left: 80px!important;}
.pl85{padding-left: 85px!important;}
.pl90{padding-left: 90px!important;}
.pl95{padding-left: 95px!important;}
.pl100{padding-left:100px!important;}
.pl105{padding-left:105px!important;}
.pl110{padding-left:110px!important;}
.pl115{padding-left:115px!important;}
.pl120{padding-left:120px!important;}
.pl125{padding-left:125px!important;}
.pl130{padding-left:130px!important;}
.pl135{padding-left:135px!important;}
.pl140{padding-left:140px!important;}
.pl145{padding-left:145px!important;}
.pl150{padding-left:150px!important;}
.pl155{padding-left:155px!important;}
.pl160{padding-left:160px!important;}
.pl165{padding-left:165px!important;}
.pl170{padding-left:170px!important;}
.pl175{padding-left:175px!important;}
.pl180{padding-left:180px!important;}
.pl185{padding-left:185px!important;}
.pl190{padding-left:190px!important;}
.pl195{padding-left:195px!important;}
.pl200{padding-left:200px!important;}

.plrZero,.plr00{padding-left:0!important; padding-right: 0!important;}
.plr05{padding-left: 5px!important; padding-right: 5px!important;}
.plr10{padding-left: 10px!important; padding-right: 10px!important;}
.plr15{padding-left: 15px!important; padding-right: 15px!important;}
.plr20{padding-left: 20px!important; padding-right: 20px!important;}
.plr25{padding-left: 25px!important; padding-right: 25px!important;}
.plr30{padding-left: 30px!important; padding-right: 30px!important;}
.plr35{padding-left: 35px!important; padding-right: 35px!important;}
.plr40{padding-left: 40px!important; padding-right: 40px!important;}
.plr45{padding-left: 45px!important; padding-right: 45px!important;}
.plr50{padding-left: 50px!important; padding-right: 50px!important;}
.plr55{padding-left: 55px!important; padding-right: 55px!important;}
.plr60{padding-left: 60px!important;padding-right: 60px!important;}
.plr65{padding-left: 65px!important;padding-right: 65px!important;}
.plr70{padding-left: 70px!important;padding-right: 70px!important;}
.plr75{padding-left: 75px!important;padding-right: 75px!important;}
.plr80{padding-left: 80px!important;padding-right: 80px!important;}
.plr85{padding-left: 85px!important;padding-right: 85px!important;}
.plr90{padding-left: 90px!important;padding-right: 90px!important;}
.plr95{padding-left: 95px!important;padding-right: 95px!important;}
.plr100{padding-left:100px!important;padding-right: 100px!important;}
.plr105{padding-left:105px!important; padding-right: 5px!important;}
.plr110{padding-left:110px!important; padding-right: 10px!important;}
.plr115{padding-left:115px!important; padding-right: 15px!important;}
.plr120{padding-left:120px!important; padding-right: 20px!important;}
.plr125{padding-left:125px!important; padding-right: 25px!important;}
.plr130{padding-left:130px!important; padding-right: 30px!important;}
.plr135{padding-left:135px!important; padding-right: 35px!important;}
.plr140{padding-left:140px!important; padding-right: 40px!important;}
.plr145{padding-left:145px!important; padding-right: 45px!important;}
.plr150{padding-left:150px!important; padding-right: 50px!important;}
.plr155{padding-left:155px!important; padding-right: 55px!important;}
.plr160{padding-left:160px!important;padding-right: 60px!important;}
.plr165{padding-left:165px!important;padding-right: 65px!important;}
.plr170{padding-left:170px!important;padding-right: 70px!important;}
.plr175{padding-left:175px!important;padding-right: 75px!important;}
.plr180{padding-left:180px!important;padding-right: 80px!important;}
.plr185{padding-left:185px!important;padding-right: 85px!important;}
.plr190{padding-left:190px!important;padding-right: 90px!important;}
.plr195{padding-left:195px!important;padding-right: 95px!important;}
.plr200{padding-left:200px!important;padding-right: 100px!important;}

.ptbZero,.ptb00{padding-top:0!important; padding-bottom: 0!important;}
.ptb05{padding-top: 5px!important;  padding-bottom: 5px!important;}
.ptb10{padding-top: 10px!important; padding-bottom: 10px!important;}
.ptb15{padding-top: 15px!important; padding-bottom: 15px!important;}
.ptb20{padding-top: 20px!important; padding-bottom: 20px!important;}
.ptb25{padding-top: 25px!important; padding-bottom: 25px!important;}
.ptb30{padding-top: 30px!important; padding-bottom: 30px!important;}
.ptb35{padding-top: 35px!important; padding-bottom: 35px!important;}
.ptb40{padding-top: 40px!important; padding-bottom: 40px!important;}
.ptb45{padding-top: 45px!important; padding-bottom: 45px!important;}
.ptb50{padding-top: 50px!important; padding-bottom: 50px!important;}
.ptb55{padding-top: 55px!important; padding-bottom: 55px!important;}
.ptb60{padding-top: 60px!important; padding-bottom: 60px!important;}
.ptb65{padding-top: 65px!important; padding-bottom: 65px!important;}
.ptb70{padding-top: 70px!important; padding-bottom: 70px!important;}
.ptb75{padding-top: 75px!important; padding-bottom: 75px!important;}
.ptb80{padding-top: 80px!important; padding-bottom: 80px!important;}
.ptb85{padding-top: 85px!important; padding-bottom: 85px!important;}
.ptb90{padding-top: 90px!important; padding-bottom: 90px!important;}
.ptb95{padding-top: 95px!important; padding-bottom: 95px!important;}
.ptb100{padding-top:100px!important;padding-bottom: 100px!important;}
.ptb105{padding-top:105px!important;padding-bottom: 5px!important;}
.ptb110{padding-top:110px!important;padding-bottom: 10px!important;}
.ptb115{padding-top:115px!important;padding-bottom: 15px!important;}
.ptb120{padding-top:120px!important;padding-bottom: 20px!important;}
.ptb125{padding-top:125px!important;padding-bottom: 25px!important;}
.ptb130{padding-top:130px!important;padding-bottom: 30px!important;}
.ptb135{padding-top:135px!important;padding-bottom: 35px!important;}
.ptb140{padding-top:140px!important;padding-bottom: 40px!important;}
.ptb145{padding-top:145px!important;padding-bottom: 45px!important;}
.ptb150{padding-top:150px!important;padding-bottom: 50px!important;}
.ptb155{padding-top:155px!important;padding-bottom: 55px!important;}
.ptb160{padding-top:160px!important;padding-bottom: 60px!important;}
.ptb165{padding-top:165px!important;padding-bottom: 65px!important;}
.ptb170{padding-top:170px!important;padding-bottom: 70px!important;}
.ptb175{padding-top:175px!important;padding-bottom: 75px!important;}
.ptb180{padding-top:180px!important;padding-bottom: 80px!important;}
.ptb185{padding-top:185px!important;padding-bottom: 85px!important;}
.ptb190{padding-top:190px!important;padding-bottom: 90px!important;}
.ptb195{padding-top:195px!important;padding-bottom: 95px!important;}
.ptb200{padding-top:200px!important;padding-bottom: 100px!important;}
