@charset "shift_jis";

/* Top style (for SP)
---------------------------------------------------------- */
.h3_heading01.svMobile{color:#10c7cd; border-bottom-color:#9aebed;}
.h3_heading01.svOption{color:#f78b00; border-bottom-color:#fcd7a6;}


/* !mainSlider
---------------------------------------------------------- */
.mainSlider01 {
    position: relative;
    margin-bottom: 40px;
}
	.mainSlider01 ul {}
		.mainSlider01 ul li {}
	.owl-theme .owl-controls {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}
		.owl-theme .owl-controls .owl-pagenation {
			text-align: center;
			line-height: 0;
		}
			.owl-theme .owl-controls .owl-page {
				display: inline-block;
				vertical-align: top;
				padding: 0 6px;
				zoom: 1;
			}
					.owl-theme .owl-controls .owl-page span {
						width: 8px;
						height: 8px;
						display: block;
						background-color: #aaa;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius: 100%;
                        margin:0;
    			        opacity: 0.7;
					}
					.owl-theme .owl-controls .owl-page.active span { background-color: #000;}

/* !topList
---------------------------------------------------------- */
.topList01 {
	overflow: hidden;
	margin: 0 5px;
}
	.topList01 li {
		float: left;
		width: 50%;
		padding: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		.topList01 li a { display: block;}

.topList02 {
	overflow: hidden;
	margin: 0 5px;
}
	.topList02 li {
		width: 100%;
		padding: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
		.topList02 li a { display: block;}

/* !supportInfo01
---------------------------------------------------------- */
.supportCol01 { margin: 0 5px;}
.supportInfo01 {}
	.supportInfo01 > dl {}
		.supportInfo01 > dl > dt {
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			padding: 0 5px 2px 8px;
			font-size: 18px;
			font-size: 1.8rem;
			font-weight: bold;
			border-bottom: 1px solid #c3d0df;
		}
			.supportInfo01 > dl > dt span {
				position: absolute;
				right: 5px;
				bottom:0;
				font-size: 14px;
				font-size: 1.4rem;
				color: #666;
			}
				.supportInfo01 > dl > dt span a {
					padding-right: 18px;
					display: block;
					background: url(/commons/img/cmn/ico_arrow06.png) right 3px no-repeat;
					-webkit-background-size: 12px 12px;
					background-size: 12px 12px;
				}
		.supportInfo01 > dl > dd {}
			.supportInfo01 > dl > dd ul li { margin-bottom: 15px;}
				.supportInfo01 .dl_info01 { padding-left: 5px;}
					.supportInfo01 .dl_info01 dt {
						float: left;
						padding: 4px 10px;
						width: 70px;
						text-align: center;
						font-size: 11px;
						font-size: 1.1rem;
						font-weight: bold;
						background: #52a04d;
						color: #fff;
						line-height: 1.2;
					}
					.supportInfo01 .dl_info01 dd {
						padding: 0 10px 0 88px;
					}
						.supportInfo01 .dl_info01 p {
							font-size: 11px;
							font-size: 1.1rem;
						}
						.supportInfo01 .dl_info01 .date01 { margin-left: -8px;}
						.supportInfo01 .dl_info01 .arrow {
							margin: 0 0 0 -8px;
							padding: 0 0 0 8px;
							background: url(/commons/img/cmn/ico_arrow15.png) 0 5px no-repeat;
						}
							.supportInfo01 .dl_info01 .infoDetail01 a { color: #003399;}
