html { overflow-x:visible; }
body { overflow:visible; }
.sigma--content { min-width:980px; }
.videos .sigma--content { min-width:0px; }
.videolist .sigma--content { min-width:0px; }
.logocontainer.col--1-3 { width:370px; }
.restofheader.col--2-3 { float:right; width:560px; }
.topmenu ul { margin:10px 0 0; }
.topmenu ul li { margin:0 0 5px 10px; }
.topmenu ul li:before { top:4px; }
.aftermenu .aftermenuinner ul li { *display:inline; zoom:1; }
.aftermenu .aftermenuinner a { font-size:15px; line-height:17px;left: 0; }
.row.headerwow{ max-width: 960px; margin: 0 auto;position: relative; padding-bottom: 40px;  }
.topmenu ul{}
.srcbtn{ top: -56px; }

#ieBanner {display:block;}
.leading_banners-inner{text-align:center;}
.topmenu { position: absolute; left: 0px; width: 960px; left: -290px; bottom: -31px; }
main { width:975px; margin:0 auto; }
#main, #sliding--sidebar { padding-top:0px; }
#sliding--sidebar { position:static; float:right; width:300px; }
#sliding--sidebar #sliding--sidebar--inner { position:static; width:auto; }
#sliding--sidebar #sliding--sidebar--inner #sliding--sidebar--inner--contents { padding:30px 14px 14px; overflow:visible; }
.home-wrap .bloggers--slider h3{ margin-bottom: 8px; }
#main--content { float:left; width:660px; } 
#breaking--news--inner { margin:0 14px; }
#breaking--news span { font-size:18px; }
#sliding--sidebar .imgbanner img { min-width:300px; margin-left: -14px;}
.home-wrap .leading_banners {display:none;}

.main--content--inner { padding:20px 14px; }
.smallpaddingtop.main--content--inner { padding-top:10px; }
.leading_banners { margin-bottom:10px; }
.leading_banners .big_banner { float:none; width:auto; }
.leading_banners .small-banner { display:none; }
.article--main--content .smallbanner { margin-top: 105px; margin-left: 120px; }
.article--main--content .relative--articles--inner { margin-left: 140px; width:68%; position: relative; top: 15px; }
.article--main--content .smallbanner,
.article--main--content .relative--articles--inner{ margin-left:0!important }
.relative--articles--clear{
	position: absolute!important;
	left:0!important;
}

.relative--articles {
    margin-right: -78px!important;
    width: 390px!important;
    margin-left:0!important; 
}

.streaming_shout { margin-bottom:18px; }
#article--grid .streaming_shout h2 { padding-left:52px; font-size:18px; }
#livestreaming--body { font-size:16px; }

.inner--content { float:none; display:block; width:auto; }
.leading--title { font-size:35px; }
.leading_article { margin:0; } 
.leading_article .leading--art .description { font-size:16px; }
.leading_article .leading--art .description .desc-inner { padding-top:10px; }
.leading_article .inner--sidebar { float:none; width:100%; margin:0; }
.leading_article .category--list-with--images .article--list--row { float:left; width:48%; margin:0 1% 20px; padding:0 0 12px; }
.leading_article .category--list-with--images .artlist_row_count_2,
.leading_article .category--list-with--images .artlist_row_count_4 { clear:left; }
.leading_article .category--list-with--images div.article--img { width:35%; margin:0 10px 0 0; }
.inner--sidebar .article--grid--infos a.article--title { font-size:16px; line-height:19px; }
.leading_article .description { font-size:15px; line-height:18px; }
.leading_article .category--list-with--images .third-child  { clear: left; }
.leading_article .category--list-with--images .fifth-child { display: none; }


.article--column { width: 47.5%; margin:0 7px 20px 8px; float: left!important; clear: none!important; }
.article--grid--infos a.article--title { margin-top:4px; font-size:16px; }
.article--grid--infos .time--and-cat { font-size:16px; line-height:20px; }
.bloggers--popular--grid .popular--column { width:48%; margin:0 1%; }
.bloggers--popular--grid .popular--column_count_2 { display:none; }
.fullwidth-banner,
.widebanner { display:none; }

.bloggers--popular--grid--inner { padding:20px 10px; }
.bloggers--latest--from--category .category--column { width:47%; margin:0 3% 0 0; }

#breaking--news--left{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -11px -51px; width: 26px; height: 26px; text-indent: -1988em;margin-top: -10px; }
#breaking--news--right{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -43px -51px; width: 26px; height: 26px; text-indent: -1988em;margin-top: -10px; }
#livestreaming--body{ margin-top: 10px; }
span.controlwrapper{ background: #ffffff; border: 0; border-width: 0; }
#livestreaming--left{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -200px -40px; width: 13px; height: 20px; text-indent: -1988em; }
#livestreaming--right{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -170px -40px; width: 13px; height: 20px; text-indent: -1988em; }
#livestreaming--left{ margin-right: 10px; }
#livestreaming--right{  }
#livestreaming--controls span{ display: block; float: left; margin-top: 4px; }
.bloggers--popular--grid .popular--column{}
.bloggers--popular--grid .popular--column:first-child{ display: none; }
.sb-icon-search{ display: block; margin-top: 20px; background: url('../../../img/wedia/iesigmasprites.png') no-repeat -233px -17px; width: 24px; height: 23px;text-indent: -1988em; }
.sb-icon-search:before{ text-indent: -1988em;}
.video--icon{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -80px -70px; width: 34px; height: 34px; }
.video--icon span{visibility: hidden; }
#breaking--news span.controlwrapper .control{}
.alerticon{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -51px -11px; width: 18px; height: 14px; display: block; margin-top: 7px; margin-right: 10px;   float: left; text-indent: -1988em; }
.streaming_shout .play{ left:0; text-indent: -1988em; background: url('../../../img/wedia/iesigmasprites.png') no-repeat -11px -89px; width: 58px; height: 59px;  }
.category--list .three-columh-articled.bloggers--latest--from--category .bloggers--popular--grid--inner .category--column { width:47%; }
#sliding--sidebar .sidebar--block .blck--article-list--row cite{ width: 200px; }
#article--grid .streaming_shout h2{ line-height: 1; padding: 18px 0 18px 66px; font-size: 22px; }
cite a{ word-wrap: break-word; word-break: break-word; }
.category--list .three-columh-articled.bloggers--latest--from--category .bloggers--popular--grid--inner .category--column:after,
.category--list .three-columh-articled.bloggers--latest--from--category .bloggers--popular--grid--inner .category--column{ width: 100%; clear: both; }


/* carousel styles */
.bx-viewport {  -webkit-transform: translatez(0); }
.bx-wrapper {  }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }  
.bx-wrapper .bx-loading { 
	min-height: 50px; background: url(../../../img/wedia/bx_loader.gif) center center no-repeat #ffffff; height: 100%; width: 100%; position: absolute; 
	top: 0; left: 0; z-index: 2000; } 
.bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; } 
.bx-wrapper .bx-pager.bx-default-pager a { 
	background: #666; text-indent: -9999px; display: block; 
	width: 10px; height: 10px; margin: 0 5px; outline: 0; border-radius: 5px; } 
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus { background: #000; } 
.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; } 
.bx-wrapper .bx-pager-item { font-size: 0; line-height: 0; } 
.bx-wrapper .bx-prev { left: 10px; background: url(../../../img/wedia/controls.png) no-repeat 0 -32px; } 
/*.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus { background-position: 0 0; } */
.bx-wrapper .bx-next { right: 10px; background: url(../../../img/wedia/controls.png) no-repeat -43px -32px; } 
/*.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus { background-position: -43px 0; } */
.bx-wrapper .bx-controls-direction a { position: absolute; top:5.5%; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; } 
.bx-wrapper .bx-controls-direction a.disabled { display: none; }
.bx-wrapper .bx-controls-auto { text-align: center; } 
.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(../../../img/wedia/controls.png) -86px -11px no-repeat; margin: 0 3px; } 
.bx-wrapper .bx-controls-auto .bx-start:hover, 
.bx-wrapper .bx-controls-auto .bx-start.active, 
.bx-wrapper .bx-controls-auto .bx-start:focus { background-position: -86px 0; } 
.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(../../../img/wedia/controls.png) -86px -44px no-repeat; margin: 0 3px; } 
.bx-wrapper .bx-controls-auto .bx-stop:hover, 
.bx-wrapper .bx-controls-auto .bx-stop.active, 
.bx-wrapper .bx-controls-auto .bx-stop:focus { background-position: -86px -33px; }
 .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; } 
 .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; } 
 .bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666; background: rgba(80, 80, 80, 0.75); width: 100%; } 
.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }


/* carousels */
.home-wrap .bloggers--slider .bloggers--popular--grid .popular--column{ float: none;display: block; width: 150px; float: left; margin: 0 ; }
#gallery  .bx-viewport,
.lifestyle .bx-viewport{ height: 335px; }
.magazine .bx-viewport{ height: 335px; }
#gallery .slide--item,
.lifestyle .slide--item{ margin-left: 2px; margin-right: 2px; }
.magazine .slide--item{ margin-left: 2px; margin-right: 2px; }
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-viewport{ height: 150px; }
.lifestyle .bx-controls-direction{ position: absolute; top: 25px; right: 45px; }
.magazine .bx-controls-direction{ position: absolute; top: 25px; right: 45px; }
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction{ position: absolute; top: -20px; right: 61px; }

.lifestyle  .bx-controls-direction .bx-prev,
.magazine  .bx-controls-direction .bx-prev,
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction .bx-prev{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -80px -40px; width: 12px; height: 20px; left:0; top: 13px; }
.lifestyle  .bx-controls-direction .bx-next,
.magazine  .bx-controls-direction .bx-next,
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction .bx-next{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -128px -40px; width: 13px; height: 20px; right: -36px; top: 13px;  }
.lifestyle{ margin-right: -14px; margin-left: -14px; }
.magazine{ margin-right: -14px; margin-left: -14px; }
.slide--item{ width: 215px; padding: 0; margin-left: 5px; margin-right: 5px;  }
.slide--item .slide--txt a { font-size: 14px; line-height: 16px; }
.slide--item .slide--cat,
.slide--item .slide--txt { padding-left: 3px; }
.slide--item img{ width: 215px; }

header .controls #burger{ float:left; cursor:pointer; background: url('../../../img/wedia/iesigmasprites.png') no-repeat 0 0; width: 43px; height: 44px; text-indent: -1988em; display: block; }
header .controls #burger.opened{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -140px -70px; width: 44px; height: 44px; }
#burger--sidebar--inner { border-right: 1px solid whitesmoke; border-bottom: 1px solid whitesmoke; }
#burger--sidebar--inner ul { *margin-left: 0px !important; }
#burger--sidebar { min-height: auto; height: auto; z-index: 10000; }


#video--slider--tabs ul a{ font-size: 14px}
#video--slider--tabs ul li{padding: 1.38889em 10px 1.33333em 0.33333em;}
#video--slider--inner{width: 630px;}
#video--slider{ margin-right: -14px; margin-left: -14px; }
#video--slider--tabs{ display: none; }
#gallery{ margin-top:15px; }
#gallery,
#gallery .bx-wrapper,
#gallery .bx-viewport{ width: 660px!important; }
#gallery .slide--img img{ width: 100%!important;}
#video--slider .bx-wrapper .bx-next { right: 0; top: 160px; background: url('../../../img/wedia/iesigmasprites.png') no-repeat -1px -160px; width: 40px; height: 65px; } 
#video--slider .bx-wrapper .bx-prev  {left:0 ; top: 160px; background: url('../../../img/wedia/iesigmasprites.png') no-repeat -50px -160px; width: 40px; height: 65px; } 
.abs_footer_bg{ display: none }
#content_footer .col--1-3{ width: 100%; border:0; clear: both;  padding: 0 0; margin: 0 0 ; display: inline-block; *zoom:1; *display: inline; margin-bottom: 15px; }
.app--link a{ display: block;  background: url('../../../img/wedia/iesigmasprites.png') no-repeat -2px -292px; width: 118px; height: 43px; }
#content_footer .follow.col--1-3:after,
#content_footer .follow.col--1-3:before{ display: none; }
#content_footer .follow.col--1-3{ padding: 0 0 ; margin-bottom: 15px; }
.circled{ background: none; display: block; float: left; text-indent: -1988em;  }
.circled a{ display: block; float: left; text-indent: -1988em;  }
.circled.fb a{background: url('../../../img/wedia/iesigmasprites.png') no-repeat -1px -230px; width: 46px; height: 47px;}
.circled.tw a{background: url('../../../img/wedia/iesigmasprites.png') no-repeat -54px -230px; width: 46px; height: 47px;}
.circled.yt a{background: url('../../../img/wedia/iesigmasprites.png') no-repeat -108px -230px; width: 46px; height: 47px;}
.circled.gp a{background: url('../../../img/wedia/iesigmasprites.png') no-repeat -161px -230px; width: 46px; height: 47px;}
.circled.rs a{background: url('../../../img/wedia/iesigmasprites.png') no-repeat -214px -230px; width: 46px; height: 47px;}
.circled:hover{ background: none;}
#content_footer .follow.col--1-3{ position: static; margin: 0; margin-top: 10px; }
#socialfooter{ position: static; margin-top: 10px; }
#useful a{ display: block; float: left; }
#useful a .icn,
#pharmacy .icn,
#newstitle .icn,
#flights .icn{ display: block; text-indent: -1988em;  width: 82px; height: 82px;  }

#useful #pharmacy .icn{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -100px -140px; }
#useful #newstitle .icn{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -188px -140px; }
#useful #flights .icn{ background: url('../../../img/wedia/iesigmasprites.png') no-repeat -276px -140px; }
#newsletter{ position: static; margin-top: 10px; max-width: 400px; }
#content_footer .col--1-3.newsletter{ margin-top: 15px; }
#newsletter .btn{ line-height: 18px; }
.articlesocial{ display: none; }
.separator{ display: none; }
.related--afterwards{ display: none; }

/* Big category */
.category--slider--inner{}
.category--slider .slide--item{ margin-bottom: 15px; }
.category--slider--inner .slider--img{ width: 630px; }
.category--slider--inner .slider--img img{ display: block; width: 100%; height: auto; clear:both;}
.category--slider--inner .slider--caption{ width: 100%; }
.slider--caption--inner{ padding: 10px 0; }
.slider--caption h1{ font-size:  30px }
.inner--content .article--column{ float: left; width: 300px; }
.btnholder.morebtn{ text-align: center; }
.web-tv .video-item{ width: 155px!important; float: left!important; }
.dark--theme .black--line.clear,
.web-tv-bg{display: none;}
.video-grid{ background: #252525;  margin-left: -14px; margin-right: -14px; padding: 1px 5px 10px 5px; }
.video-grid .video-grid{  margin-left: 0; margin-right: 0;padding: 0 0 0 0; }
.web-tv-block{ background: #464646; margin-left: -14px; margin-right: -14px; padding: 1px 5px 10px 5px;}
.video-grid-content .video-item{ width: 212px!important; float: left!important; }
.bloggers--list .article--author--infos,
.bloggers--list .author--img{ width: 100%; clear: both; }
.bloggers--list .author--img{ padding: 10px; }
.bloggers--list .article--author--infos{padding: 0 10px 0 10px;}
.pharmacy--map{ height: 130px; width: 630px; clear: both; float: none; margin: 10px 0 5px 0;}
.four-oh-four.sigma--content footer #copyright{ width: 660px; margin: 0 auto; } 

.tabbed--content a{ font-size:11px ; padding: 8px 9px; }
.pharmacies--results #article--grid .header--wrapped h2{ letter-spacing: -1.4px; }

.relative--articles { margin-right: 55px; width: 390px; }
#article-content { padding-left: 10px; }
.article--suggested--articles .textholder { *margin: 0.6em; }
.article--suggested--articles .textholder span { *padding: 0;}

.article--main--content .smallbanner {}
.article--main--content .relative--articles--inner { *margin-left: 119px; *top: 50px;}

/* Page athlitika */
.inner--content { margin-left: 0px; }
.inner--content .article--column { margin: 0 7px!important;}
.sidebar--category--stack { clear:both; }
.video--maniac h3 { margin-bottom: 0px; }
.sports-list .bx-viewport{ height: 150px; }
.sports-list .team--slider{ width: 630px; padding: 20px 0 44px 0; }
.sports-list .bx-prev { left: 4px; background: url('../../../img/wedia/iesigmasprites.png') no-repeat -11px -51px; }
.sports-list .bx-next { right: 295px; background: url('../../../img/wedia/iesigmasprites.png') no-repeat -43px -51px; }
.sports-list .bx-prev:hover { background: url('../../../img/wedia/iesigmasprites.png') no-repeat -11px -51px; }
.sports-list .bx-next:hover { background: url('../../../img/wedia/iesigmasprites.png') no-repeat -43px -51px; }
.sports .bloggers--slider .bloggers--popular--grid .popular--img { width:100%; }
.sports .bloggers--slider .bloggers--popular--grid .popular--column { width:48%; }
.category--list.sports-list .fleft { *float:none; }
.sports-list .bx-controls-direction .bx-prev, .sports-list .bx-controls-direction .bx-next{ top:131px; }
.sports-list .bx-controls-direction .bx-prev, .sports-list .bx-controls-direction .bx-next{ *top:187px; }
.sports-list .dropdown ~ .bx-wrapper .bx-prev, .sports-list .dropdown ~ .bx-wrapper .bx-next { top:172px; }
.sports-list .dropdown ~ .bx-wrapper .bx-prev, .sports-list .dropdown ~ .bx-wrapper .bx-next{ *top:187px; }
.dropdownmenu--inner { width:101% !important; }
.dropdownhandler .label { padding-right:10px !important; }
.tabbed--content .dropdownhandler, .tabbed--content a { margin-right:10px; }

/*homepage alt slider*/
#homeslider .bx-viewport img{ line-height:0; }
#homeslider .bx-viewport{ height: 400px; }
#homeslider #slider--body .slider--caption--inner{
	width: 100%;
	position: absolute;
	bottom: 10px;
	width: 500px;
}
#homeslider #slider--body .slider--caption{
	width: 100%;
	*width: 92%;
	height: 100%;
	background:url("../../../img/wedia/black_trans.png") ;
	bottom: 5px;
}
#homeslider .slider--caption--inner {
	*padding-top: 200px;
	padding-left: 25px;
}
#homeslider .bx-wrapper .bx-controls-direction a {
	*top: 5%;
}

span.controlwrapper { *height: 8px; }

.main--content--inner .web-tv-block { *width: 650px; *border-top: 1px solid black; *padding-top:30px;}
.bloggers--popular--grid h3 { *margin-bottom: 23px; *margin-top: 6px;}
.topmenu li { *background: url('../../../img/wedia/iesigmasprites.png') no-repeat -201px 1px;}

.fleft .arrowholder { *background: url('../../../img/wedia/iesigmasprites.png') no-repeat -55px -160px;}
.fright .arrowholder { *background: url('../../../img/wedia/iesigmasprites.png') no-repeat -6px -160px;}
.arrowholder { *padding: 0px 15px;}

.video-icon { *background: url('http://sigmalivefinal.newlab2.wedia.gr/css/../../../img/wedia/iesigmasprites.png')  no-repeat -70px -60px }
.video--slider .video--icon {*width: 25px; *height: 25px;}
.bloggers--list .article--column { width: 47%; padding-right: 14px;}
.article--list.opinions--list h2 { padding-left: 11px; margin-bottom: 18px;}

/* fixed sidebar menu in other browsers*/
main { padding-top: 0px; }
header { position: static; }
.open#burger--sidebar {
    left: 0px;
    top: 0px;
    position: absolute;
}
.expanding--serc + .aftermenu {position: static;}

/* Footer */
footer .footer--row li { display: inline;}
footer ul { margin-left: 0px; }

/* ie 7 only styles */
.bloggers--popular--grid .popular--img{ *width: 120px; }
#lifestyle--slider h4{ *width: 90px; *text-align: center; }
#magazine--slider h4{ *width: 90px; *text-align: center; }
.home_opinions{ *margin-bottom: 20px; }
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction { *position: static; }
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction .bx-prev,
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction .bx-next { *position: absolute; *top: 0px; }
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction .bx-prev { *left: 575px; }
.home-wrap .bloggers--slider .bloggers--popular--grid .bx-controls-direction .bx-next { *right: 23px; }
.category--list .bloggers--latest--from--category.three-columh-articled .bloggers--popular--grid--inner .category--column{ 
	width: 200px!important; 
	float: left;
	margin:0 5px!important;
	clear: none!important;
}
.bloggers--latest--from--category{
	*position: static;
}
.lifestyle {
	*margin-top: 200px;
}
.magazine .ultragrey_bg {
	background: #fff;
}
.bloggers--popular--grid h3 { margin-bottom: 20px; }
.bloggers--popular--grid h3 { *margin-bottom: 30px; *position:static; }
.bloggers--popular--grid--inner .widebanner{ display: none; }
.article--stackimg img,
.article--stackimg{ width: 200px!important; }
.alerticon { *margin-top: 5px}
span.controlwrapper .control { *left: -3px;}
.topmenu { *bottom: -76px; *line-height: 1.5; }
.restofheader ul li::before { 
	*content: "\25A0"!important; 
	*position: absolute!important; 
	*left: -1px!important; 
	*color: #58afbf!important; 
	*top: 3px!important; }
.bloggers--popular--grid h3 { *margin-bottom: 15px; }
#newsletter .btn { *position: relative!important; *top: -37px!important; *left: 31px!important; *height: 37px!important; *line-height: 17px;}
#breaking--news { *position: relative; *top: 12px; }
#breaking--news span {*line-height: 1.2; *vertical-align: baseline;}
#breaking--news--inner { *padding:0; *margin: 0 14px 14px 14px; }
#breaking--news--left, #breaking--news--right {	*margin-top: -28px !important; }
.sports-list .tabbed--content { *display:block; *float:none; margin-top:10px; }
.sports-list .tabbed--content { *display:block; *float:none; margin-top:10px; }
.sports-list .team--slider { padding-top:10px; }
.dropdownmenu--inner { *width:100%!important; }
.dropdownhandler { *position:relative; *z-index:1000; }
.dropdownhandler a { *text-align:left!important; *width:128px!important; *font-size:12px; }
.tabbed--content.dropdown { *margin-left:17px; }
.tabbed--content .label { *font-size:12px!important; }
.tabbed--content .dropdownhandler { padding:5px 10px; }

.dropdown .btnholder .dropdownhandler { *background:url('../../../img/wedia/iesigmasprites.png') no-repeat -340px 5px; }
.dropdown .btnholder .dropdownhandler:hover { *background:white url('../../../img/wedia/iesigmasprites.png') no-repeat -340px 5px; }

.article--title{
	min-height: 50px;
	overflow: hidden;
}

.leading_article .category--list-with--images .fifth-child{
	display: block;
}

#burger-nav ul, #morelinks{
	margin-left: 10px;
}

.leading_article .category--list-with--images .article--list--row{
	padding: 0 0 40px;
}

#lifestyle--slider H4{
	width: 185px;
	padding: 10px;
}

.prefooterinner #usefullinks{
	float: right;
	width: 40%;
}

.prefooterinner #weather{
	float: left;
	width: 55%;
}

.prefooter .weather__block{
	float: left;
	width: 55%;
}

.weather--more{
	clear: both; 
}

.sidebar--block.clearfix{
	clear: both;
}

.home-wrap .bloggers--slider .bloggers--popular--grid .popular--img{
	clear: none;
	float: left;
}

.home-wrap .bloggers--slider .bloggers--popular--grid .popular--body{
	width: 35%;
	float: left;
}

.sports_slider .inner--sidebar{
	display: none;
}

.sports_slider #slider--body{
	width: 100%;
}

#slider--body .slider--caption{
	width: 85%;
}

.team--item{
	float: left;
	margin-top: 40px;
}

.sports-list .dropdownhandler{
	margin-bottom: 20px;
}

#sliding--sidebar{
	width: 315px;
}

.video-grid-content .video-item{
	width: 155px !important;
	/*max-width: 24%;*/
}

.video-grid{
	clear: both;
}

.video-title{
	height: 150px;
	font-size: 13px;
}

.video-grid-content .slvzr-nth-child403n43141.video-item{
	clear: none;
}