@CHARSET "UTF-8";
ul li ul {
	
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?wx8rg2');
    src:    url('../fonts/icomoon.eot?wx8rg2#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wx8rg2') format('truetype'),
        url('../fonts/icomoon.woff?wx8rg2') format('woff'),
        url('../fonts/icomoon.svg?wx8rg2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.streaming-wrap .player.restricted{
	background: url('../../../img/sigma-stream-restricted.jpg') center no-repeat!important;
}

.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui{background:url('../../../img/play_grey.png') center no-repeat;background-size:12%!important;}

.streaming-wrap .player{
	background: url('../../../img/sigma-stream.jpg') center no-repeat!important;
}

.aftermenu .aftermenuinner a{
	padding: 0.444em 1em;
}
.team--slider .owl-item {
	min-width: 79px !important;
	width: 79px !important;
}

.prefooter .weather__block {
	width:110px !important;
}

#slider--body .slider--img img {
  width: 100%!important;
}

.white_color a{
	color: #fff;
}

.sidebar--block.poll{
	clear: both;
} 

.prefooter .weather__block {
clear: none !important;
text-align: inherit !important;
/* padding-left: 0 !important; */
/* padding-right: 0 !important; */
/* width: 22.33333% !important; */
margin-left: 0% !important;
margin-right: 3% !important;
}

span.iconfont span.tip {
	/*display: block;*/
	font-family: "Roboto",​sans-serif;
    font-size: 14px;
    margin-top: 14px;
    /* color: #959595; */
}

.lifestyle .widebanner {
	padding: 2em 0;
}

.weather--column .prediction {
	min-width: 145px !important;
	min-height: 40px;
}

.dropdownhandler{
		max-width:190px!important;
		height:50px;
		font-weight: 500!important;
}

.dropdownmenu--inner{
		max-width:190px!important;
		
}

.extracontent_footer{
	
	margin-top:0px!important;
}

#article-content .player{
	background: url('../../../img/sigma-stream.jpg') center no-repeat!important;
}

#article-content .flowplayer.streaming {
  background: url('../../../img/Sigmatv-new-logo.png') center no-repeat!important;
  background-color: #fff!important;
  } 

#article-content .is-splash.flowplayer .fp-ui, .is-paused.flowplayer .fp-ui {
  background: url('../../../img/play_grey.png') center no-repeat;
  background-size: 12%;
}

.current-menu-item{
	background: #912225;	
	border-radius: 5px;
}

.dark--theme .current-menu-item{
	background: #252525;	
	border-radius: 5px;
}

#burger--sidebar {
	z-index: 99999;
}

.opinions--author--img--inner {
	background:none;
}

.opinions--author--img--inner {
	border-radius:25px;
}

/*.flowplayer{
  margin-top: -12px;
}*/

#grey a{
color: #666;
}

.streaming_shout h2 a{
	color:#fff;
}

.new-image{
	width: 55%!important;
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.event--desc .new-image{
	width: 100%!important;
}

.gallery{
	width:300px;
	margin:auto;
	margin-top:20px;
	margin-bottom:20px;
    padding: 0px;
}



.wi{
	color: #fff;
}
.gallery .hover{
	background: rgba(204, 204, 204, 0.86);
	color: #fff;
	text-align: center;
	width: 100%;
	height: 50px;
	bottom: 57px;
	position: relative;
	border-radius: 5px;
}

#weather{
	width: 60%;
}

#usefullinks{
	width: 40%;
}

.sidebar-box{
	border: 1px solid #ccc;
	float: left;
  	width: 95%;
    
}

#sidebar-box-title{
  	font-size: 18px;
  	font-weight: 900;
  	color: #C21C1A;
  	margin-bottom: 20px;
  	width: 200px;
}


.sidebar-box-back{
	background: #f3f3f3;
  	border: 5px solid #fff;
  	padding: 10px;
  	  width: 100%;
  	float: left;
}

.sidebar-box-list{
	height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.sidebar-box-inner{  
  clear: both;
  overflow: hidden;
  height: 62px;
  padding: 10px 10px 0 0;
  line-height: 16px;
  border-bottom: 1px solid #d7d7d7;
}

.sidebar-inner-img{
	width: 25%;
	float: left;
}

.sidebar-inner-img img{
	width: 45px;
	height: 45px;
}


.sidebar-inner-title{
  font-size: 13px;
  float: left;
   width: 65%;
  margin-left: 10px;
}

.sidebar-inner-title a{
	color: #000;
}

.sidebar-box-footer{
	width: 80%;
  	margin: auto;
  	margin-top: 24px;
}


.sidebar-box-footer img{
	width: 100%;
}

.ilovestyle-box .sidebar-box-footer{
	width: 100%;
  	margin: auto;
  	float: left;

}

.ilovestyle-box{
	margin-bottom: 30px;
	clear: both;
}

.ilovestyle-box #sidebar-box-title{
	color: #bf0159;
	width: 100%;
}

.ilovestyle-box  .sidebar-box-footer img{
	width: 100%;
}

/***************SPORTSBUZZ BOX SIDEBAR*******************/

.sportsbuzz-box .sidebar-box-footer{
	width: 100%;
  	margin: auto;
  	float: left;

}

.sportsbuzz-box{
	margin-bottom: 30px;
	clear: both;
}

.sportsbuzz-box #sidebar-box-title{
	color: #e04344;
	width: 100%;
}

.sportsbuzz-box  .sidebar-box-footer img{
	width: 100%;
}

.sportsbuzz-widget .mCSB_dragger_bar {
  background: #bf0159!important;
}

#side-logo-sportsbuzz{
	background: url("../../../img/sportsbuzz_logo.png") no-repeat;
    width: 100%;
  	height: 70px;
  	background-repeat-y: no-repeat;
  	background-repeat-x: no-repeat;
    background-position: 50% 50%;
}

.sportsbuzz-box .sidebar-inner-img{
	width: 100%;
}

.sportsbuzz-box .sidebar-inner-img img{
	width: 100%;
	height: auto;
}

.sportsbuzz-box .sidebar-inner-title{
	width: 100%;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}

.sportsbuzz-box .sidebar-box-inner{
	height: auto;
}

.sportsbuzz-box .sidebar-box-list{
	height: 386px;
}

/****************END SPORTSBUZZ BOX SIDEBAR*****************/

.gallery .hover a{
	color: #fff;
}

.gallery ul li{
	width:300px;
	height:300px;
	list-style:none;
	float:left;
	margin-right: 20px;
}

.gallery ul li img{
	height:300px;
	border-radius: 10px;
	background: #ccc;
	padding: 5px;
}

#side-logo{
	background-image: url("../../../img/wedia/sphere-logo-3d-blue.png");
	width: 100%;
	height: 50px;
	background-repeat-y: no-repeat;
	background-repeat-x: no-repeat;
	background-position: 50% 50%;
	float:left;
}


#side-logo-lovestyle{
	background-image: url("../../../img/wedia/newswidget_logo.png");
    width: 100%;
  	height: 70px;
  	background-repeat-y: no-repeat;
  	background-repeat-x: no-repeat;
    background-position: 50% 50%;
}

.sidebar-box-list .mCSB_dragger_bar{
	background: #C21C1A!important;
}

.lovestyle-widget .mCSB_dragger_bar {
  background: #bf0159!important;
}


.sidebar-box-list {

  overflow-y: hidden; 
}

a#logo {
	z-index:99999;
}


.category--column_count_0, .category--column_count_4{
	margin-right:3%;
}

header .controls #logocontainer, header .controls #burger {
vertical-align: middle;
display: inline-block;
z-index: 99999;
}

.scores--row.subhead span {
	display:none!important;
}

.gallery_icon{
	background: RGBA(0, 0, 0, 0.3) url(../../../img/wedia/photo-icon.png) center no-repeat;
    width: 35px;
    height: 35px;
    top: 3%;
    right: 3%;
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 900;
}

.video_icon{
	background: RGBA(0, 0, 0, 0.3) url(../../../img/wedia/video-icon.png) center no-repeat;
    width: 35px;
    height: 35px;
    top: 3%;
    right: 3%;
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 900;
}

.fusion_icon{
	background: RGBA(0, 0, 0, 0.3) url(../../../img/wedia/fusion-icon.png) center no-repeat;
    width: 35px;
    height: 35px;
    top: 3%;
    right: 3%;
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    z-index: 900;
}

.slider--img,
.article--lead,
.popular--img,
.article--img{
	position:relative;
}

.article--stackimg {
	position:relative;
    margin-right: 0.55556em;
	padding-right: 0px;
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90%;
	border: 0;
	margin: 0px;
}

.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 75%;
}

/*------------------------ BANNERS AND MEDIA QUERIES ---------------------- */

@media only screen and (min-width: 0px) and (max-width: 1023px){

	.lifestyle .widebanner{
		display:none!important;
	}

}

.imgbanner1{
	width: 300px;
	height: 250px;
}

.big_banner{
	width: 728px;
	height: 90px;
}

.small-banner{
	width: 246px;
	height: 90px;
}

.photo-of--theday{	
	clear:both;	
}


@media only screen and (min-width: 240px) and (max-width: 1260px){	
	.column-title{
		font-size: 1.4em !important;
	}
	
}
/*PERIPOU IPAD*/
@media only screen and (min-width: 1025px) and (max-width: 1296px){
	.banners--onntop{
		/*display: block;*/
	}
}

.article--main--content {
	border:none!important;
}
.article--suggested--articles {
	border-top:1px solid #ebebeb!important;
	min-height:100px!important;
	margin-top:20px!important;
}

#player-live{
	height:500px!important;
	max-width: 820px;
}

.player{
	height:460px!important;
	max-width: 820px;
}

@media only screen and (min-width: 320px) and (max-width: 360px){
	#player-live {
		height:200px!important;
	}
	
	.player{
		height:160px!important;
	}
}

@media only screen and (min-width: 360px) and (max-width: 480px){
	#player-live {
		height:280px!important;
	}
	
	.player{
		height:240px!important;
	}
}

@media only screen and (min-width: 480px) and (max-width: 560px){
	#player-live {
		height:360px!important;
	}
	
	.player{
		height:320px!important;
	}
}

@media only screen and (min-width: 560px) and (max-width: 768px){
	#player-live{
		height:400px!important;
	}
	
	.player{
		height:360px!important;
	}
}

@media only screen and (min-width: 768px) and (max-width:980px){
	#player-live{
		height:480px!important;
	}
	
	.player{
		height:440px!important;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1450px){
	#player-live{
		height:490px!important;
	}
	.player{
		height:450px!important;
	}
}

@media only screen and (min-width: 1450px) and (max-width: 2000px){
	#player-live{
		height:550px!important;
	}
	.player{
		height:510px!important;
	}
}

/* #live_updates .date_holder,  */#live_updates .hidden {
	display: none;
}

#live_updates .date_holder {
	background: #000;	
	color: #fff;
	text-align: center;
}

.article--main-img.original--photo--size {
	background: #ffffff !important;
}

.relative--articles .relative--articles--row{
	margin-top: 0.95em !important;
	padding-bottom: 0.3em !important;
}

div.relative--articles--inner{
	margin-bottom: 0.5em !important;
}

.articlesocial ul li{
	padding: 8px 0;
}

.owl-carousel {   
    /*height: 150px!important;*/
}

/********** PRIVACY COOKIE NOTTICE **********/
#cookie_banner_container {
    top: 10px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
}
#cookie_banner_inner {
	/*margin: 0 auto;
	width: 984px;*/
}
#cookie_banner {
	background-color: #F2F2F2;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 16px -4px #666666;
	color: #333333;
	font: 11px Verdana;
	margin: 0 55px 0 55px;
	padding: 6px;
	text-align: center;
	/*width: 500px;*/
}

a#cookie_banner_close {
	background-image: url("../../../img/banner_close.png");
	color: #C3C3C3;
	float: right;
	font-size: 18px;
	height: 13px;
	position: relative;
	text-decoration: none;
	top: 2px;
	width: 13px;
}

a#privacy_link {
    color: #3366CC;
    text-decoration: underline;
}
/************************************/

.infobox1{
	/*display: none;*/
	position: relative;
}

#div-gpt-ad-1411658176257-0{
	position: absolute;
	top: 57px;
	left: 33px;
	z-index: 999;
}

.blah--blah--name{
	text-align: center;
	font-size: 34px;
	font-weight: bold;
	clear: both;
	height: 40px;
	display:none;
}

.infobox2{
	/*display: none;*/
	position: relative;
}

#div-gpt-ad-1411733193192-0{
	position: absolute;
	top: 17px;
	left: -152px;
	z-index: 999;
}

#div-gpt-ad-1389862664759-0 {
    bottom: 1px;
    height: 0;
    position: fixed;
    right: 1px;
    width: 300px;
    z-index: 9999999;
}

#div-gpt-ad-1371734282353-0{ 
	/*height: 0px;*/
} 

#div-gpt-ad-1371734282353-0 iframe{ 
	position: fixed;
	/*top: 0px; 
	left: 0px;*/
	z-index: 9999999;
}

.banners--onntop--inner{
	padding: 0.3em 1.889em;
}

/**subsribe**/
.mailchimp_form{
	height: 500px;
    margin: auto;
    width: 80%;
}

#mc-embedded-subscribe-form{
	
	height:500px;
}

#mc_embed_signup div#mce-responses {
    clear: both;
    float: left;
    height: 109px;
}
/**************************/

/***sidebar**/

#sliding--sidebar .article--rest {
    width: 180px!important;
}

.red_color a{
	color: #c21c1a;
	
}

/*****************/

.bloggers--latest--from--category .category--column h3 a{
	 color: #003546;
}

#lifestyle--slider h4 a, #video--slider h4 a{
	color:#fff;
}



.category--stack--row.row-even{
	min-height:80px;
}

.bloggers--popular--grid .category--column .category--stack--row.row-odd{
	/*height:120px;*/
}

.row-category .category--column .category--stack--row.row-odd{
	/*height:70px;*/
}

.owl-carousel .owl-item {
	/*width: 383px!important;*/
}

.popular--cat, .time--and-cat a, .main--cat a {
	text-transform: none!important;
}

.heading-fix{
	margin-bottom: 0 !important;
}
.post-fix{
	border-top:0 !important;
}	
.overflow-fix{
	overflow: auto;
}

.relative--articles--clear{
/*height: 550px; min-height: 800px;*/
}

.owl-stage-outer .popular--img img{
	border-radius: 8px;
}

.wi {
    color: #fff;
}

.bar {
	border: 1px solid #eee;
	height: 24px;
	margin-bottom: 10px;
	position: relative;
}

.bar .foreground {
	position: absolute;
	height: 24px;
	/*background: #58afbf;*/
	background: url("../../../img/poll_result_bg.jpg");
	z-index: 8;
}

.bar .percent {
	position: relative;
	z-index: 9;
	padding: 2px 5px;
	line-height: 19px;
	color: #000;
	font-size: 18px;
}


.article--main--content p:first-of-type > strong, .article--description{
	font-size: 1.0em !important;
}

.article--description{
	font-family: Georgia,serif;
}

#video--slider{
	margin-top: 0.8em !important;
}

#article-content .poll_title{
font-style: normal;
font-size: 1.22222em;
margin-top: 1em;
line-height: 1.44444em;	
	
}
#article-content .option{
	font-size: 20px;
	font-style: normal;

margin-top: 1em;
line-height: 1.44444em;	
}

#article-content .poll{
	margin-bottom:150px;
}

.co .tip{
	margin-top: 16px;
}


.tip{
	color: #959595;
	/*display: block !important;*/
}

.articlesocial ul li span.comments-count{
	font-weight: normal;
}

/* BETA SIGMALIVE */

.headline-full-width {
   background-color: #58afbf;
    width: 100%;
}
.headline-full-width .headline-inner {
	width:81%;
	margin: 0 auto;
	overflow:hidden;
	text-align:center;
}
.headline-full-width .headline-inner span.headline-p {
	display: block;
    padding-bottom: 10px;
    line-height: 38px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1em;
    color:#fff;
    width: 100%;
    margin:0 auto;
}
.headline-full-width .headline-inner span.headline-p img {
    height: 34px;
    margin: 0 10px 0 0;
    padding: 0;
    position: relative;
    top: 10px;
    width: 33px;
                
}
.headline-full-width .headline-inner span.headline-p a {
    color:#fff;
    text-decoration:none;
}
.btn-sigmaLive {
  background: #4695a3;
  background-image: -webkit-linear-gradient(top, #4695a3, #4695a3);
  background-image: -moz-linear-gradient(top, #4695a3, #4695a3);
  background-image: -ms-linear-gradient(top, #4695a3, #4695a3);
  background-image: -o-linear-gradient(top, #4695a3, #4695a3);
  background-image: linear-gradient(to bottom, #4695a3, #4695a3);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 20px 5px 20px;
  border: solid #ffffff 1px;
  margin-left: 10px;
  text-decoration: none;
  display:inline-block;
  width:190px;
  line-height:16px;
}

.btn-sigmaLive:hover {
  text-decoration: none;
}

.live--event-row object, .live--event-row video, .live--event-row iframe{
	width: 100%!important;
}


/* END BETA SIGMALIVE */

.teams.teams_othellos {background: url("../../../img/wedia/football_teams.png") no-repeat scroll 2px -1262px transparent; }
.owl-stage{
	margin-left: auto;
	margin-right: auto;
}

.teams.teams_pafosfc {
  background: url("../../../img/wedia/football_teams.png") no-repeat scroll 2px -1323px transparent;
}

.teams.teams_karmiotissa_polemidion {
  background: url("../../../img/wedia/football_teams.png") no-repeat scroll 2px -1388px transparent;
}


.teams.teams_anagennisi_derinias {
  background: url("../../../img/wedia/football_teams.png") no-repeat scroll 2px -1450px transparent;
}


.teams.teams_aez_zakakiou {
  background: url("../../../img/wedia/football_teams.png") no-repeat scroll 2px -1513px transparent;
}

/******* Smaller Sports Buttons **************/

.tabbed--content .dropdownhandler, .tabbed--content a{
	margin-right: 3px;
}

.blablas_red{
	color: #c21c1a !important;
}

.article--body p:first-child {
	font-weight: 900;
}

h1{
	font-size: 2.4em;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 240px) and (max-width: 767px) {
	h1{
		font-size: 1.22222em;
	}

    .pager li{
        display: block;
    }



}

/*************** Footer Credits ***********************/

/*
footer #copyright .col--2-3{
	color: #58afbf;
	font-size: 0.667em;
	line-height: 1;
}


footer #copyright .col--2-3 a{
	position: relative;
}


footer #copyright .col--2-3 a{
	color: #58afbf;
	left: 8px;
	font-weight: bold;
}


footer #copyright .col--1-3{
	color: white;
	font-size: 0.667em;
	line-height: 1;
}
*/
footer #copyright .col--1-3{
	color: #58afbf;
	font-size: 0.667em;
	line-height: 1;
}

footer #copyright .col--1-3 a {
	color: #58afbf;
	background: none;
	text-indent: 0em;
	text-align: right;
	position:relative;
	display: inline;
	margin-left: 8px;
	font-weight: bold;
}

.wedia_footer{
	float: right;
	text-align: left;
	margin-bottom: 5px;
	width: 60%;
}

.kondiment_footer{
	float: right;
	text-align: left;
	margin-bottom: 5px;
	width: 60%;
}

#live_updates .article-content-image img{
 width: 100%;
 margin:auto;
 display: block;
}

.comit_footer{
	float: right;
	text-align: left;
	margin-bottom: 5px;
	width: 60%;
}
@media only screen and (max-width: 1042px) {
	.opinions--author--img, .opinions--author--img {
		display:none!important;
	
	}
}

@media only screen and (max-width: 767px) and (min-width: 240px){
	.category--column_count_0,.category--column_count_1, .category--column_count_2, .category--column_count_3, .category--column_count_4, .category--column_count_5{
	padding-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
	}
	
}

@media only screen and (max-width: 767px) and (min-width: 240px){
	.category--stack--row .time--and-cat {
		margin-left:0px!important;
	}
	/*fix for media title on mobile*/
	.video-thumb{
		width: 125px;
	}
}

@media only screen and (max-width: 800px) {
	footer #copyright .col--1-3{
		width: 100%;
		margin-top: 10px;
		text-align: center;
		}
	
	
	.category--list-with--images div.article--img {
		width: 32%!important;
	
	}
	
	.category--list-with--images .article--grid--infos{
		float: left!important;
		display: inline!important;
		width: 60%!important;
	}
	
	footer #copyright .col--2-3{
		width: 100%;
		text-align: center;
	}
	
	.wedia_footer{
		width: 100%;
		text-align: center;
	}
	
	.kondiment_footer{
		width: 100%;
		text-align: center;
	}
	
	.comit_footer{
		width: 100%;
		text-align: center;
	}
	
}

.clear{
	clear: both;
}
/*************** END Footer Credits ***********************/

/******** CATFISH - 400x100 ***************/
#div-gpt-ad-1389862664759-0{
	bottom: 1px;
    height: 0px;
    position: fixed;
    right: 1px;
    width: 400px;
    z-index: 9999999;
}

/******** CATFISH ***************/
#catfish1{
	display: none;
	bottom: -100px;
    position: fixed;
    right: 10px;
    /*width: 300px;*/
    z-index: 9999999;
	background: #ccc;
}


#close_btn_catfish{
	background: url('../../../img/banner_close.png') no-repeat;
	background-position: center center; 
	background-color:#003546;
	float:right;
	width:35px;
	height: 25px;
}

.catfish_head{
	background: #cccccc;
	height: 25px;
}
#div-gpt-ad-1384501975222-0{
	padding: 2px 5px 5px 5px;
}

@media only screen and (min-width: 1025px) and (max-width: 1860px) {
	.sigma--with--skin .sidebar-opened{
		/*margin-right: 318px!important;*/
	}
	.sigma--with--skin .banners--onntop--inner{
		padding: 0.3em 0.1em;
	}
	
}

@media only screen and (min-width: 1025px) {
	.sigma--with--skin .banners--onntop--inner{
		padding: 0.3em 0.1em;
	}
}

.skin--wrap--inner{
	z-index: 0;
}

@media only screen and (max-width: 800px) {
	.skin--left{
		display: none;
	}
	.skin--right{
		display: none;
	}
}


.app--link1{
	margin-top:0.66667em
}

.app--link1 a{
	display:block;
	text-indent:-999em;
	background:url("../../../img/wedia/sigma_sprites.png") no-repeat -2px -176px;
	width:118px;
	height:43px;
}

.mdrnzr_svg .app--link1{
	margin-top:0.66667em;
}

.mdrnzr_svg .app--link1 a{
	display:block;
	text-indent:-999em;
	background:url("../../../img/wedia/google_play.jpg") no-repeat 0 0;
	width:118px;
	height:43px;
	background-size:118px;
}

.blah--blah .category--stack--row .blah--img {
	float: left;
line-height: 0;
width: 36%;
margin-right: 6%;
}

.blah--blah--icon img {
	width: 60%;
height: auto;
float: right;
}

.blah--blah .category--stack--row .blah--img img {
	width: 100%;
float: left;
height: auto;
}

.blah--blah .article--grid--infos {
padding-right: 9%;
}

@media only screen and (max-width: 1024px) and (min-width: 320px){
	.sports-list .first--sidebar.inner--sidebar {
		display: block;
		width: 100%;
	}

	.srcbtn{top:70px;}

}

@media only screen and (max-width: 768px) and (min-width: 0px){
	.srcbtn{top:70px;}

}

@media only screen and (max-width: 1024px) and (min-width: 768px){
	.srcbtn{top:100px!important;}
	.sb-icon-search:before{margin-top:0px!important;}

}

/********************** burger-nav ************************
#burger--sidebar #burger-nav ul{
	
}
#burger--sidebar #burger-nav ul li{
	
}
#burger--sidebar #burger-nav ul li ul{
	padding: 0px;
	margin: 0px;
	display: none;
}
#burger--sidebar #burger-nav ul li ul li{
	margin-left: 5px;
}
#burger--sidebar #burger-nav ul li ul li ul{
	padding: 0px;
	margin: 0px;
}
#burger--sidebar #burger-nav ul li ul li ul li{
	margin-left: 5px;
}
.handle_burger_group{
	cursor: pointer;
}
*********************************************/

.category--list .bloggers--latest--from--category .bloggers--popular--grid--inner {
	padding-bottom: 0;
	margin-bottom: 0em!important;
}

.article--suggested--articles {
	padding: 1em 0 0.55556em 0!important;
}

.scores--row.onerow .col--th span {
    color: #959595;
    font-size: 0.77778em;
    padding: 1em 2.05556em !important;
}

.scores--row .scores--row--inner span {
	padding: 0.5em 1.05556em!important;
}


.article--description.font_weight_400{
	font-weight:400!important;
}

.bloggers--popular--grid .category--column .category--stack--row.row-odd {
	/*min-height: 120px!important;*/
}

.category--stack--row{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) and (max-width: 939px){
	
	#video--slider--tabs ul a {
		font-size: 10px!important;
	}
}

@media only screen and (min-width: 940px) and (max-width: 979px){
	
	#video--slider--tabs ul a {
		font-size: 11px!important;
	}

}

@media only screen and (min-width: 980px) and (max-width: 1021px){
	
	#video--slider--tabs ul a {
		font-size: 12px!important;
	}
}
@media only screen and (min-width: 1022px) and (max-width: 1099px){
	
	#video--slider--tabs ul a {
		font-size: 10.5px!important;
	}
}
@media only screen and (min-width: 1100px) and (max-width: 1219px){
	
	#video--slider--tabs ul a {
		font-size: 12px!important;
	}
}
@media only screen and (min-width: 1220px) and (max-width: 1249px){
	
	#video--slider--tabs ul a {
		font-size: 15px!important;
	}
}
@media only screen and (min-width: 1250px) and (max-width: 1279px){
	
	#video--slider--tabs ul a {
		font-size: 13px!important;
	}
}
@media only screen and (min-width: 1280px) and (max-width: 1329px){
	
	#video--slider--tabs ul a {
		font-size: 11px!important;
	}
}

@media only screen and (min-width: 1330px) and (max-width: 1399px){
	
	#video--slider--tabs ul a {
		font-size: 12px!important;
	}
}
@media only screen and (min-width: 1400px) and (max-width: 1500px){
	
	#video--slider--tabs ul a {
		font-size: 14px!important;
	}
}

/************************ Sidebar moving content in laptops****************************/
@media only screen and (min-width: 1300px) and (max-width: 1860px){
	.nothreedtrans .sidebar-opened .main--centered,.mdrnzr_csstransforms3d .sidebar-opened .main--centered{
		margin-right:322px
	}
	
}
/***************************************************/

/***********************VIDEO PLAYER SIGMALIVE****************************/

@media only screen and (min-width: 320px) and (max-width: 560px){
	.article--main-img #player-live {
		height:280px!important;
	}
	
	.article--main-img .player{
		height:261px!important;
	}
    
    .pp_pic_holder{
        max-width: 300px!important;
    }
    
    .pp_content, .ppt{
        width:100%!important;
    }
    
    .pp_hoverContainer{
        width: 100%!important;
    }
}


@media only screen and (min-width: 560px) and (max-width:980px){
	.article--main-img #player-live{
		height:373px!important;
	}
	.article--main-img .player{
		height:360px!important;
	}
}

@media only screen and (min-width: 980px) and (max-width: 1450px){
	.article--main-img #player-live{
		height:400px!important;
	}
	.article--main-img .player{
		height:360px!important;
	}
}

@media only screen and (min-width: 700px) and (max-width: 1860px){

	.article--main-img #player-live{
		width: 650px !important;
		height: 425px !important;
		margin-left: auto;
		margin-right: auto;
	}
	
	.article--main-img .player{
		height:410px !important;
	}
	
}

.clear_both{
	clear: both;
}

/***************************************************/






/******************* Skins - With Sidebar ****************/

@media only screen and (min-width: 1670px) and (max-width: 3000px){
	.new_skinned #article {
		margin-left: auto;
	}
	.new_skinned #article {
		position: relative;
	}
}


@media only screen and (min-width: 1250px) and (max-width: 1670px){
	.new_skinned #article{
		margin-left: 130px;
	}
	.new_skinned #article {
		position: relative;
	}
}

}


/******************* END Skins - With Sidebar ****************/



/******************* Sports Slider *****************************/
@media only screen and (min-width: 769px) and (max-width:1025px){
	.sports_slider {
		max-height: 680px!important;
	}
	
	.sports_slider .slider--caption h1 a, #slider--body .slider--caption h1 a{
		font-size: 25px!important;
		line-height: 30px!important;
	}

}
/*
@media only screen and (min-width: 1024px) and (max-width: 1219px){
	
	.sports_slider {
			
		max-height:528px!important;
			
	}
}
*/
@media only screen and (min-width: 1220px) and (max-width: 1400px){
	
	.sports_slider {
			
		max-height:430px!important;
			
	}
}

@media only screen and (min-width: 1401px) and (max-width: 1500px){
	
	.sports_slider {
			
		max-height:466px!important;
			
	}
}

@media only screen and (min-width: 1500px) {
	
	.sports_slider {
			
		max-height:520px!important;
			
	}
}

/***************************************************************/





#sliding--sidebar{
	z-index: 567891 !important;
}

/************* SIDEBAR MANAGEMENT **************************/

#sliding--sidebar--inner--contents{
	padding-left: 6px !important;
	padding-right: 6px !important;
}

.mCSB_inside > .mCSB_container{
	margin-right: 15px;
}


.sidebar_width200{
	display: none;
}

.hangout_img{
	width: 68px;
}


@media only screen and (min-width: 1300px) and (max-width: 3000px){
	
	
	#handler{
		display: none;
	}
	.hangout_img{
		width: 68px;
	}
	#sliding--sidebar .imgbanner{
		width: 300px;
	}
	#sliding--sidebar--inner--contents{
		/*overflow-x: hidden !important;*/
	}
	
}
/***************************************** SIDEBAR CHANGE TO 200 small *****************************/
@media only screen and (min-width: 750px) and (max-width: 1300px){
	#handler{
		display: none;
	}
	#sliding--sidebar{
		width: 220px;
		right: -215px;
		z-index: 9999!important;
	}

	.sidebar-inner-img{
	width: 32%;
	float: left;
	}

	.article--image{
		width: 200px !important;
	}
	
	.article--image .hangout_img{
		width: 100%;
	}
	
	.sidebar-inner-title{
	  font-size: 13px;
	  float: left;
	   width: 60%;
	  margin-left: 10px;
	}
		
		.sidebar-opened #article{
		margin-right: 222px;
	}
	
	#sliding--sidebar .sidebar--block.latest time{
		float: left;
	}
	
	#sliding--sidebar #sliding--sidebar--inner #sliding--sidebar--inner--contents{
		padding: 30px 5px 10px;
		/*overflow-x: hidden !important;*/
	}
	
	.imagerow .article--rest cite{
		width: 170px !important;
		padding: 0px;
	}
	
	.latest cite{
		width: 145px !important;
		margin-left: 10px !important;
	}
	
	#sliding--sidebar .sidebar--block .article--image{
		/*display: none;*/
	}
	
	.sidebar_width300{
		display: none;
	}
	
	.sidebar_width200{
		display: block;
		width: 200px;
	}
	
	.hangout_img{
		width: auto;
	}
	
	#sliding--sidebar .sidebar--block.latest cite, #sliding--sidebar .sidebar--block .article--rest{
		margin-left: 5px;
	}
	
	#sliding--sidebar .article--image{
		margin-left: 10px;
	}
	
	/************* WITH THE SIDEBAR RESIZE THE RELATED ARTICLES *****************/
	.relative--articles{
		width: 200px;
	}
	
	.relative--articles--inner relative--articles--row:last-child{
		display: none;
	}
	
}


@media only screen and (max-width: 1041px){
	#handler{
		display: block !important;
		z-index: 99999999 !important;
	}
	
	#handler span{
		background: url("http://www.sigmalive.com/application/themes/default/img/wedia/sigma_sprites.png") no-repeat scroll -9px -95px !important;
		display: block !important;
	}
	#logo{
		background: url("http://www.sigmalive.com/application/themes/default/img/wedia/sigma_sprites.png") no-repeat scroll -240px -430px !important;
		display: block !important;
	}
	
}

.display--when--no--sidebar{
	display: none;
}

.blablas--style-slider .bloggers--popular--grid--inner {
	background: #ebebeb !important;
	padding: 1.22222em !important;
}

.blablas--style-slider{
	margin-bottom: 20px;
}


/*ipad portrate*/

@media only screen and (min-width: 300px) and (max-width: 900px){
	#handler{
		display: none;
	}
	#sliding--sidebar{
		display: none;
	}
	
	.sidebar-opened #article{
		margin-right: 0px;
	}
	
	.live-streaming-inner .side-ad{
		display: none;
	}
	.livecontainer{
		width: 100%;
		float: none;
	}
	
	.display--when--no--sidebar{
		display: block;
	}
	
}

@media only screen and (min-width: 410px) and (max-width: 900px){
		
	#catfish1{
		
		width:80% !important;
	    margin: 0 0 0 -40%;
	    left:50%;
    	z-index: 9999999;
		/*bottom: 1px;
    	height: 0px;
   		position: fixed;
	    width:80%;
	    margin: 0 0 0 -40%;
	    left:50%;
    	z-index: 9999999;*/
		/*background: green;*/
		/*text-align: center;*/
	}
	#div-gpt-ad-1384501975222-0{
    	text-align: center;
	}
	#div-gpt-ad-1384501975222-0 iframe{
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		background: #ccc;
	}
}


@media only screen and (max-width: 409px){
	#catfish1{
		width: 310px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		left:0%;
	}
	
}

/**********************************************************/

.bloggers--scores{height:335px;}

/*********** LIVE STRIP TITLE FLOAT IN SMALL SCREENS ******************/

@media only screen and (min-width: 900px) and (max-width: 1024px) {
	#livestreaming--body {
	    position: static;
	    max-width: 320px !important;
	    text-overflow: ellipsis;
	    width: 320px !important;
	    overflow: hidden;
	    float: right;
	    text-align: right;
	    white-space: nowrap;
	    color: #fff;
	}
}

@media only screen and (min-width: 670px) and (max-width: 899px) {
	#livestreaming--body {
	    position: static;
	    max-width: 410px  !important;
	    text-overflow: ellipsis;
	    width: 410px  !important;
	    overflow: hidden;
	    float: right;
	    text-align: right;
	    white-space: nowrap;
	    color: #fff;
	}
}

@media only screen and (max-width: 740px){
	#article--grid .streaming_shout h2{
		font-size: 20px;
	}
}

@media only screen and (max-width: 670px){
	#article--grid .streaming_shout h2{
		display: none;
	}
	#livestreaming--body{
		width: 80% !important;
		max-width: 80% !important;
	}
}
@media only screen and (max-width: 480px){
	#livestreaming--body{
		width: 60% !important;
		max-width: 60% !important;
	}
	
}
@media only screen and (max-width: 320px){
	#livestreaming--body{
		width: 180px !important;
		max-width: 180px !important;
		max-width: auto;
	}
	
}

/**********************************************/

.more_link{
	font-weight: bold;
	font-family: "Roboto",sans-serif;
	font-size: 0.85em;
	color: #000000;
}

.home-wrap .category--column.category--column_count_6{
	margin-right:3%!important;
}

.blah--blah--name{
	text-align: left;
	font-size: 23px;
	font-weight: bold;
	/* color: #C21C1A; */
	color: #58afbf;
	clear: both;
	
	background: #fff;
	height: 19px;
	display: none;
}

/****************ipad and lower*******************************/
@media only screen and (min-width: 768px) and (max-width:1024px){
	
	/*display none on ipad*/
	.home-wrap .category--column.category--column_count_8{
		display:none!important;
	}
	
	
	/*****show only 2 items in blabla*******/
	.blah--blah .row-3, .blah--blah .row-4, .blah--blah--icon{
		display:none!important;
	}
	
	.blah--blah--name{
		display:block!important;
	}
	
	.blah--blah .category--stack--row .blah--img {

		/*width: 25%!important;*/
	}
	
	.blah--blah .sidebar--category--stack--inner {
		
		/*height:305px!important;*/
	}
}

/****************mobiles*******************************/
@media only screen and (min-width: 320px) and (max-width:767px){
	
	#sliding--sidebar .mCustomScrollbar .sidebar--block .blck--article-list--row cite {
		width: 162px!important;
	
	}
	
	
	/*****show only 2 items in blabla*******/
	.blah--blah .row-2, .blah--blah .row-3, .blah--blah .row-4, .blah--blah--icon{
		display:none!important;
	}
	
	.blah--blah--name{
		display:block!important;
	}
	
	.blah--blah .category--stack--row .blah--img {

		width: 25%!important;
	}
	
	.blah--blah .sidebar--category--stack--inner {
		padding-bottom: 0px!important;
	}
	
	
	.slider--caption .time--and-cat {
		
		display: none!important;
	}
	
}



@media only screen and (min-width: 310px) and (max-width:350px){
	#slider--body .owl-next > span, #slider--body .owl-prev > span {
	
	padding: 10px!important;
	
	}
	
}

@media only screen and (min-width: 520px) and (max-width:768px){
	.sports_slider .slider--caption h1 a, #slider--body .slider--caption h1 a{
	line-height: 40px!important;
	}
	
}

@media only screen and (min-width: 0px) and (max-width:519px){
	.sports_slider .slider--caption h1 a, #slider--body .slider--caption h1 a{
	line-height: 0px!important;
	font-size:16px!important;
	}
	.sports_slider .slider--caption h1 a, #slider--body .slider--caption h1 {
	min-height:20px!important;
	}
	
	.sports_slider #slider--body .slider--caption{
		padding-left:5px!important;
	}
	
	.sports_slider .time--and-cat{
		display:none!important;
	}
	
	.sports_slider .slider--caption, #slider--body .slider--caption{
		padding-bottom:0px!important;
	}
	
	.sports_slider .slider--caption--inner{
		padding:0px!important;
	}
	
}





/************* Article Bottom Social Media ******************/

.articlesocial_bottom{
	width: 64%; 
	margin-left: auto; 
	margin-right: auto;
}

.articlesocial_bottom ul {
	padding: 0;
	margin: 0;
}
.articlesocial_bottom ul li {
list-style-type: none;
text-align: center;
border-bottom: 1px solid #ebebeb;
padding: 18px 0;
-webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out; 
}

.articlesocial_bottom ul li.fb {
	padding-top: 0;
}
.articlesocial_bottom ul li.co {
	border-bottom: 0;
}
.articlesocial_bottom ul li:hover a {
	color: #c21c1a;
}
.articlesocial_bottom ul li .small, .articlesocial_bottom ul li .big {
vertical-align: baseline;
font-weight: 900;
}
.articlesocial_bottom ul li .small {
font-size: 18px;
}
.articlesocial_bottom ul li .big {
font-size: 28px;
margin-left: -5px;
}
.articlesocial_bottom ul li span.comments-count {
position: absolute;
top: 50%;
z-index: 1000;
left: 50%;
width: 35px;
margin-left: -18px;
height: 10px;
margin-top: -14px;
text-align: center;
color: white;
font-weight: 900;
font-size: 12px;
}
.articlesocial_bottom ul li span.comment-holder {
display: inline-block;
position: relative;
}
.articlesocial_bottom ul li span.comment-holder .iconfont {
font-size: 1.5em;
}
.articlesocial_bottom ul a {
color: #959595;
-webkit-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.articlesocial_bottom span.iconfont {
font-size: 2em;
}
.articlesocial_bottom span.tip {
display: block;
font-size: 0.77778em;
margin-top: 0.72222em;
}





.articlesocial_bottom span.tip,
.articlesocial_bottom ul li.pr {
display: none;
}

.articlesocial_bottom ul li {
float: left;
border-bottom: 0;
margin-top: 0.88889em;
margin-bottom: 0.88889em;
}








.articlesocial_bottom ul li.fb,
.articlesocial_bottom ul li {
text-align: center;
padding: 0 3px;
width: 16.6%;
}

.owl-dots {
display: none !important;
}








.articlesocial_bottom{
position: relative;
}




.articlesocial_bottom--inner {
text-align: center;
}

.articlesocial_bottom--inner ul {
display: inline-block;
padding-right: 0;
}

.articlesocial_bottom ul li.fb, .articlesocial_bottom ul li {
width: 110px;
}




.articlesocial_bottom ul li.fb,
.articlesocial_bottom ul li {
padding: 16px 32px;
border-right: 2px solid #ebebeb;
}

.articlesocial_bottom ul li.co {
border-right: 0;
}

.articlesocial_bottom ul li.zo {
padding: 16px 32px 20px 32px;
}

.articlesocial_bottom span.iconfont {
font-size: 1.27778em;
}

.articlesocial_bottom ul li.zo {
padding: 18px 1px 20px 1px;
width: 16%;
}

@media only screen and (max-width: 500px) {
	
	.articlesocial_bottom{
		width: 100%; 
		margin-left: auto; 
		margin-right: auto;
	}
	.articlesocial_bottom span.iconfont {
		font-size: 1.27778em;
	}
	
	.articlesocial_bottom ul li.zo{
		padding: 16px 1px;
	}
	.articlesocial_bottom ul li .small {
		font-size: 1.0em;
	}
	.articlesocial_bottom ul li .big {
		font-size: 1.27778em;
		margin-left: -5px;
	}
	
	.articlesocial_bottom ul li span.comment-holder .iconfont{
		font-size: 1.65em;
	}
	
	
}

.articlesocial ul li.fb, .articlesocial ul li{
	padding: 8px 0; /*fix for top social media */
}






.articlesocial_bottom ul li.fb,
.articlesocial_bottom ul li {
padding: 16px 1px;
border-right: 2px solid #ebebeb;
width: 16%;
}

.articlesocial_bottom ul li.co {
border-right: 0;
}


/*
.fancylike-fb-like {
	background: url('../../../img/custom-like.jpg');
	width: 128px;
	height: 128px;
}
*/


/*************************** END ARTICLE SOCIAL ********************************/

@media only screen and (min-width: 240px) and (max-width: 1135px) {
	#article .top--banner--wrap{
		padding: 0px !important;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1130px) {
	.widebanner_below_article{
		margin-left: -112px;
	}
}
.widebanner_mobile div iframe{
	margin-left: auto;
	margin-right: auto;
}
/*
.top--banner--wrap--mobile--margin--top{
	margin-top: 15px;
}
*/
@media only screen and (min-width: 240px) and (max-width: 784px) {
	.top--banner--wrap--mobile{
		display: block !important;
	}
	
	.top--banner--wrap--mobile .widebanner, .widebanner_tablet{
		display: block !important;
	}
	
}

@media only screen and (min-width: 240px) and (max-width: 400px) {
	.widebanner_mobile{
		display: block !important;
		margin-left: auto;
		margin-right: auto;
		/*width: 234px;
		height: 60px;*/
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	
	.top--banner--wrap--mobile{
		display: block !important;
	}
	
	.top--banner--wrap--mobile .widebanner{
		display: block !important;
	}
	
}
@media only screen and (min-width: 330px) and (max-width: 767px) {
	.category--stack--row .article--grid--infos .time{
		margin: 0px !important;
	}
	
	.bloggers--popular--grid--inner .category--column .category--stack--row{
		margin-bottom: 20px;
	}
	
	.category--stacked .article--title{
		width: 50% !important;
	}
	
	.category--stacked .time--and-cat{
		display: inline;
		float: left;
		clear: none !important;
		width: 50% !important;
	}
	.category--stacked .column_even .column_6{
		float: none !important;
	}
	
}

@media only screen and (min-width: 240px) and (max-width: 329px) {
	
	.category--stack--row .article--grid--infos .time{
		margin: 0px !important;
	}
	
	
	.category--stacked .article--title span{
		width: 100% !important;
	}
	
	.category--stacked .article--title{
		width: 100% !important;
		clear: both !important;
	}
	
	.category--stacked .time--and-cat{
		float: none;
		clear: both !important;
		width: 100% !important;
	}
	.article--stackimg img{
		width: 100% !important;
	}
	
}

/******* Live Commenting Font ************/
.tinos--font-all{
	font-family: "Roboto",sans-serif;
}

.eventinfo{
	font-size: 0.85em;
}

/******* Fixed on Opinions Tablet and Mobile Display ************/

.bloggers--list .article--row.row--even, .bloggers--list .article--row{
	margin-top: 5px;
}



.bloggers--list .article--column{
	display: block !important;
	clear: none !important;
}

@media only screen and (min-width: 767px) and (max-width:1000px){
	.article--column .article--summary{
		display: none;
	}
}

@media only screen and (min-width: 200px) and (max-width:768px){
	.article--column{
		float: none !important;
		width: 100% !important;
		display: block !important;
		margin-bottom: 5px !important; /*CHANGED FROM 50 to 5*/
	}
	
	.article--column:last-child {
		float: none !important;
		width: 100% !important;
		display: block !important;
		margin-bottom: 0px !important;
	}
	
	.article--column .article--summary{
		display: block;
	}
	
	.bloggers--list .article--row.row--even, .bloggers--list .article--row{
		padding-bottom: 0px !important;
		margin-top: 5px;
	}
	
}


@media only screen and (min-width: 200px) and (max-width:550px){
	.article--column{
		float: none !important;
		width: 100% !important;
		display: block !important;
	}
	.article--column .article--summary{
		display: none;
	}
	.article--column .author--url{
		font-size: 1.0em;
	}
	.article--row .article--column{
		margin-bottom: 20px !important;
	}
}

/** Smaller Font for menu ******/
@media only screen and (min-width: 1025px) and (max-width: 1296px) {
 
 .aftermenu .aftermenuinner a {
     font-size: 0.9em;
    }
 
}

/**Remove current item styling from the burger menu *****/

.white-border-menu-item{
 border: 1px solid white;
 border-radius: 5px;
}

#burger-nav .white-border-menu-item{
 background: none;
 border: none;
}

@media only screen and (min-width: 200px) and (max-width:1050px){
	.opinions--author{
		width: 100%;
	}
	.opinions--inner .opinions--author--bio{
		width: 100%;
	}
	.opinions--inner .opinions--author{
		float: none;
		width: 100%;
	}
	.opinions--inner .articlesocial--inner{
		float: none;
		margin: none;
		position: relative;
	}
	
	.opinion_author_top{
		display: none;
	}
}



/************** TAKEOVER ****************/

#takeover_container .takover_full_bg {
	background: #000;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999999;
	background-color:#aeaeae;
}
#takeover_container .takeover_header {
	width: 100%;
	background-color: #003546;
    overflow: hidden;
    padding: 20px 0 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
#takeover_container .takeover_header .takeover_logo {
	float: left;
	width: 230px;
    height: auto;
}
#takeover_container .takeover_header .takeover_logo img {
	max-width:100%;
	height:auto;
}
#takeover_container .takeover_header .takeover_links_container {
	float: right;
    margin: 5px 100px 0 0;
    text-align: right;
}
#takeover_container .takeover_header .takeover_links_container a.old-sigmalive, .takeover_header .takeover_links_container a.new-sigmalive {
	display:block;
	color: #fff;
    font-family: georgia;
    font-size: 1.4em;
    text-decoration: none;
}
#takeover_container .takeover_header .takeover_links_container a.old-sigmalive:hover, .takeover_header .takeover_links_container a.new-sigmalive:hover {
	text-decoration:underline;
}
#takeover_container .takeover_header .takeover_links_container a.old-sigmalive {
    margin: 0;
	line-height:1.3em;
}
#takeover_container .takeover_header .takeover_links_container a.new-sigmalive {

}
#takeover_container #close_holder {
	height: 27px;
	width: 728px;
	margin:6em auto 0 auto;
	text-align: left;
}

#takeover_container{
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 4em auto 0;
	top: 0;
	left: 0;
	display: none;
	z-index: 999999;
}

#takeover_container #div-gpt-ad-1371734282353-0{
	width: 740px !important;
	height: 470px !important;
	margin-left: auto;
	margin-right: auto;
}

#takeover_container #div-gpt-ad-1371734282353-0 iframe{
	width: 740px !important;
	height: 470px !important;
	margin: 4em auto 0;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
    z-index: 999999;
    /*position: fixed;*/
}

#takeover_container a#close_btn {
	background: url(http://www1.sigmalive.com/manual_uploads/TAKEOVERS/Sigmalive/CLOSE_BTN.jpg) repeat 0 0;
	border: 0;
	height: 27px;
	width: 91px;
	display: block;
	text-align: left;
}
#takeover_container a.clickable {
	outline:none;
	border:none;
}
#takeover_container a.clickable img {
	outline:none;
	border:none;
}
/* Smartphones start somewhere around here */
 @media only screen and (max-width: 767px) {
 	
 	#takeover_container #div-gpt-ad-1371734282353-0 iframe img {
		max-width:100%;
		height:auto;
	}
 	
	#takeover_container .takeover_header {
	    padding: 20px 0;
	    text-align: center;
	}
	#takeover_container .takeover_header .takeover_logo {
	    float: none;
	    height: auto;
	    width: 100%;
	}
	#takeover_container .takeover_header .takeover_links_container {
	    float: none;
	    margin: 0;
	    text-align: center;
	}

	#takeover_container .takeover_header .takeover_links_container a.old-sigmalive {
	    display: block;
	    line-height: 2.5em;
	    margin: 0;
	}
	#takeover_container #div-gpt-ad-1371734282353-0 iframe{
		width: 83% !important;
		height: 40% !important;
		margin: 4em auto 0;
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
	}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
	#takeover_container .takeover_header {
	    padding: 20px 0 20px 30px;
	}
	#takeover_container .takeover_header .takeover_links_container {
		float: right;
	    margin: 0 60px 0 0;
	    text-align: right;
	    width: 60%;
	}

	#takeover_container #div-gpt-ad-1371734282353-0 iframe{
		width: 87% !important;
		height: 63% !important;
		margin: 4em auto 0;
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
	}
}
@media only screen and (min-width: 1200px) {
	#takeover_container .takeover_header .takeover_links_container {
	    width: 56%;
	}
}


/*************** END TAKEOVER **********/



/******************* TAKEOVER ON MOBILES ONLY *********************************/
#takeover_mobile_container .takover_full_bg {
	background: #000;
	height: 120%;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999999;
	background-color:#aeaeae;
}
#takeover_mobile_container .takeover_header {
	width: 100%;
	background-color: #003546;
    overflow: hidden;
    padding: 20px 0 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
}
#takeover_mobile_container .takeover_header .takeover_logo {
	float: left;
	width: 230px;
    height: auto;
}
#takeover_mobile_container .takeover_header .takeover_logo img {
	width:150px;
	height:auto;
}
#takeover_mobile_container .takeover_header .takeover_links_container {
	float: right;
    margin: 5px 36px 0 0;
    text-align: right;
}
#takeover_mobile_container .takeover_header .takeover_links_container a.old-sigmalive, .takeover_header .takeover_links_container a.new-sigmalive {
	display:block;
	color: #fff;
    font-family: georgia;
    font-size: 1.4em;
    text-decoration: none;
}
#takeover_mobile_container .takeover_header .takeover_links_container a.old-sigmalive:hover, .takeover_header .takeover_links_container a.new-sigmalive:hover {
	text-decoration:underline;
}
#takeover_mobile_container .takeover_header .takeover_links_container a.old-sigmalive {
    margin: 0;
	line-height:1.3em;
	font-size: 1em;
}
#takeover_mobile_container .takeover_header .takeover_links_container a.new-sigmalive {

}
#takeover_mobile_container #close_holder {
	height: 27px;
	width: 728px;
	margin:6em auto 0 auto;
	text-align: left;
}

#takeover_mobile_container{
	width: 100%;
	height: 100%;
	position: fixed;
	margin: 4em auto 0;
	top: 0;
	left: 0;
	display: none;
	z-index: 999999;
}

#takeover_mobile_container #div-gpt-ad-1442388981569-0{
	width: 300px !important;
	height: 250px !important;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 999999;
}

#takeover_mobile_container #div-gpt-ad-1442388981569-0 iframe{
	width: 300px !important;
	height: 250px !important;
	margin: 4em auto 0;
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
    z-index: 999999;
    /*position: fixed;*/
}

#takeover_mobile_container a#close_btn {
	background: url(http://www1.sigmalive.com/manual_uploads/TAKEOVERS/Sigmalive/CLOSE_BTN.jpg) repeat 0 0;
	border: 0;
	height: 27px;
	width: 91px;
	display: block;
	text-align: left;
}
#takeover_mobile_container a.clickable {
	outline:none;
	border:none;
}
#takeover_mobile_container a.clickable img {
	outline:none;
	border:none;
}
/* Smartphones start somewhere around here */

 @media only screen and (min-width: 630px) {
 	
 	#takeover_mobile_container .takeover_header{
 		padding-top: 5px;
 		padding-bottom: 1px;
 	}
 	
 	#takeover_mobile_container #div-gpt-ad-1442388981569-0 iframe{
 		margin: 0.5em auto 0;
 	}
 }

 @media only screen and (max-width: 630px) {
 	
 	takeover_mobile_container .takeover_header .takeover_links_container a{
 		z-index: 999999;
 	}
 	
 	#takeover_mobile_container #div-gpt-ad-1442388981569-0 iframe img {
		max-width:100%;
		height:auto;
	}
 	
	#takeover_mobile_container .takeover_header {
	    padding: 5px 0;
	    text-align: center;
	    z-index: 9999999;
	}
	#takeover_mobile_container .takeover_header .takeover_logo {
	    float: none;
	    height: auto;
	    width: 100%;
	}
	#takeover_mobile_container .takeover_header .takeover_links_container {
	    float: none;
	    margin: 0;
	    text-align: center;
	    position: relative;
	}

	#takeover_mobile_container .takeover_header .takeover_links_container a.old-sigmalive {
	    display: block;
	    line-height: 1.2em;
	    margin: 0;
	    z-index: 9999999;
	    position: relative;
	    font-size: 1em;
	}
	#takeover_mobile_container #div-gpt-ad-1442388981569-0 iframe{
		margin: 0.9em auto 0;
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
	}
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
	#takeover_mobile_container .takeover_header {
	    padding: 20px 0 20px 30px;
	}
	#takeover_mobile_container .takeover_header .takeover_links_container {
		float: right;
	    margin: 0 60px 0 0;
	    text-align: right;
	    width: 60%;
	}

	#takeover_mobile_container #div-gpt-ad-1442388981569-0 iframe{
		margin: 4em auto 0;
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center;
	}
}
@media only screen and (min-width: 1200px) {
	#takeover_mobile_container .takeover_header .takeover_links_container {
	    width: 56%;
	}
}


/********************************** TAKEOVER ON MOBILES ONLY ******************************/




@media only screen and (max-width: 1100px) {
	
	.big_banner{
		width: 728px !important;
	}
	
	.small-banner{
		width: 245px !important;
	}
	
	.banners--onntop--inner{
		margin-left: auto;
		margin-right: auto;
		width: 1000px;
		padding: 5px 0px;
	}
}

/*************** IPAD HEADER ADVERTISMENTS ***********/

@media only screen and (min-width: 100px) and (max-width: 1024px) {
	.banners--onntop {
		display: block;
	}
	.sb-icon-search:before{
		display: block;
		margin-top: 97px;
	}
	
	.banners--onntop--inner{
		margin-left: auto;
		margin-right: auto;
		width: 992px;
		padding: 5px 0px;
	}
	
	.big_banner{
		width: 728px !important;
	}
	
	.small-banner{
		width: 245px !important;
		margin-left: 12px !important;
	}
	
}

@media only screen and (min-width: 100px) and (max-width: 995px) {
	.small-banner{
		display: none !important;
	}
	.banners--onntop--inner{
		width: auto;
	}
	.big_banner{
		margin-right: auto !important;
		margin-left: auto !important;
		float: none !important;
		display: block !important;
	}
}

@media only screen and (min-width: 100px) and (max-width: 766px) {
	.big_banner{
		width: 468px !important;
	}
	.banners--onntop{
		height: 71px !important;
	}
	.sb-icon-search:before{
		margin-top: 0px;
	}
}

@media only screen and (min-width: 100px) and (max-width: 616px) {
	.big_banner{
		width: 234px !important;
	}
}

/*************** END IPAD HEADER ADVERTISMENTS ***********/

/******************* NEW SIZES 300x250 to 200x200 to 728x90 to 468x60 FOR BODY ADS HOME (D and lower) **********/

@media only screen and (min-width: 1023px) and (max-width: 1260px){
	.imgbanner1{
		/*background: #cccccc;*/
	}
	
	.imgbanner1 iframe{
		/*width: 200px !important;
		height: 200px !important;*/
	}
	.imgbanner1 iframe div a img{
		/*width: 200px !important;
		height: 200px !important;*/
	}
	.imgbanner1 iframe object{
		/*width: 200px !important;
		height: 200px !important;*/
	}
}

@media only screen and (min-width: 600px) and (max-width: 1041px){ /*1024*/
	.row-category .category--column.category--column__with-banner{
		display: block !important;
		/*width: 728px; 
		height: 90px; 
		clear: both;*/
		float: left !important;
		/*margin-left: auto;
		margin-right: auto;*/
		width: 100% !important;
	}
	.imgbanner1 iframe{
		/*width: 728px !important;
		height: 90px !important;*/
	}
	
	.imgbanner1{
		width: auto; 
		height: auto;
		text-align: center;
	}
	
	.row-category .category--column{
		width: 47% !important;
	}
	
	.bloggers--latest--from--category{
		margin-top: 1.5em;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1041px){ /*1024*/
	/*HACK FOR SAFARY - JS VIEWPORT IS DIFFERENT THAN CSS VIEWPORT - PROBLEM WITH AD SWITCHING */
	::i-block-chrome, .row-category .category--column {
     	width: 31.3333% !important;
     	background: green;
    }
    
    .row-category .category--column.category--column__with-banner{
    	width: 31.3333% !important;
    }
}

@media only screen and (min-width: 240px) and (max-width: 767px) {
	.row-category .category--column{
		width: 100% !important;
	}
}

/******************* END NEW SIZES 300x250 to 200x200 to 728x90 to 468x60 FOR BODY ADS HOME (D and lower) **********/


/******************* NEW SIZES 300x250 to 200x200 to 728x90 to 468x60 FOR BODY ADS -NEWS- (D and lower) **********/

.inner--sidebar{
	float: left;
}

.inner--content{
	float: right;
}

@media only screen and (min-width: 240px) and (max-width: 1024px) {
	.inner--sidebar{
		display: block !important;
		width: 100%; 
		text-align: center;
	}
	
	.inner--sidebar .sidebar--category--stack{
		display: none;
	}
	
	.inner--sidebar .imgbanner, .sports-list .first--sidebar .sidebar--block{
		display: block !important;
		margin-top: 20px;
		margin-bottom: 5px;
		/*background: blue;*/
	}
	
	.inner--sidebar .imgbanner div{
		text-align: center;
	}
	
	.sports-list .sidebar--block .imgbanner{
		display: block !important;
	}
	
	.sports--content .widebanner{
		display: block !important;
	}
	
}
/******************* END NEW SIZES 300x250 to 200x200 to 728x90 to 468x60 FOR BODY ADS -NEWS- (D and lower) **********/

.leading_article .inner--sidebar{
	float: left !important;
}

.leading_article .inner--content{
	float: left !important;
}

.restofheader{
	height: auto !important;
}

/*************************************** SIDEBAR BLABLAS *************************************/
#sliding--sidebar--inner .blah--blah{
	margin-right: 17px;
}

#sliding--sidebar--inner .blablas-title{
	width: 60%;
	float: left;
	font-size: 0.8em;
}

#sliding--sidebar--inner .sidebar--category--stack--inner--blablas{
	padding: 0.8em;
}

#sliding--sidebar--inner .blah--img{
	margin-right: 3%;
}
/************* ON SIDEBAR CHANGE FOR BLABLAS *****************************/
@media only screen and (min-width: 750px) and (max-width: 1300px){
	
	#sliding--sidebar--inner .blah--blah{
		text-align: center;
		margin-right: 7px;
	}
	
	#sliding--sidebar--inner .blah--img{
		width: 100%;
		float: none;
	}
	
	#sliding--sidebar--inner .blablas-title{
		width: 100%;
		float: none;
	}
	
}
/************* END ON SIDEBAR CHANGE FOR BLABLAS *****************************/

/************************************* SCROLL UP BUTTON *************************************/

.cd-container {
	width: 90%;
	max-width: 768px;
	margin: 2em auto;
}
.cd-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}


.cd-top {
	z-index: 999999;
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: #cccccc url(../../../img/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}
.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}
.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}
@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}

/************************************* END SCROLL UP BUTTON *************************************/

/********************************* UPLOADED CONTENT IMAGES **************************************/

.article-content-image{
	width: 100%;
	clear: right;
}

.article-content-image img{
	width:65%;
	margin:auto;
	display: block;
}

.article-content-image-caption{
	text-align: center;
	font-size: 15px;
	font-style: italic;
	padding: 10px;
	line-height: 16px;
	
	width:auto;
	margin:auto;
	display: block;
}


#live_updates .article-content-image img{
	width: 100%;
	margin:auto;
	display: block;
}


#magazine--slider{
	margin-top: 40px;
    margin-bottom: 30px;
}

.magazine--slider .slide--img img{
	height: 280px;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 240px) and (max-width: 767px) {
	
	.article-content-image img{
		width:100%;
		margin:auto;
		display: block;
	}

	.new-image{
		width: 90%!important;
	}
	
}



/********************************* UPLOADED CONTENT IMAGES **************************************/

@media only screen and (min-width: 950px) and (max-width: 1024px) {
	.aftermenu{
		display: block !important;
	}
	.aftermenu .aftermenuinner a{
		font-size: 0.9em;
	}

}

@media only screen and (min-width: 240px) and (max-width: 1024px) {
	header {
    	max-height: 60px; 
    }
    header .headerwow{
    	padding: 16px 0.889em;
    }
}

.flights_sponsor{
	width: 100%;
	text-align: center;
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
	.videos .slider--img {
	  width: 64%!important;
	}

	.videos .actual--caption h2{
		display: block!important;

	}

	.videos .actual--caption{
		display: block!important;
	}

	.videos .slider--caption{
		width: 67%!important;
	}

	.videos .owl-item.active{
		width: 19%!important;
	}

	.videos .owl-carousel .owl-stage-outer{
		height: 630px!important;
	}
}
 


@media only screen and (min-width: 0px) and (max-width: 768px){

	.sidebar-inner-img{
		display: none!important;
	}

	.sidebar-inner-title{
		width: 100%!important;
	}


	.slide--item {	 
	  clear: both!important;	 
	  width: 100%!important;
	}

	.slide--img {
	  position: relative;
	  width: 120px!important;	
	  float: left!important;	
	}

	.owl-carousel .owl-item img {
	  display: block;
	  width: 100px!important;
	  height: auto;
		max-height: 228px;
	}

	.slide--item .slide--txt {
	  font-weight: 700;
	   font-size: 0.75111em!important;
	  line-height: 1.16667em;
	  margin-top: 0px!important;
	}

	#magazine--slider .slide--cat a {
	  color: #fff;
	  background: #f14f22;
	  padding: 2px!important;
	  margin-top: 0px!important;
	  font-size: 13px!important;
	  display: inline-block;
	}

	 #magazine--slider h4 {
	  margin: 0;
	  padding: 10px!important;
	  font-size: 1em!important;
	  font-size: 1em!important;
	  margin-bottom: 20px!important;
	}


}


/********************* SHOW ON TABLETS ************************/

.show_on_tablet{
	display: none;
}

@media only screen and (max-width: 900px) and (min-width: 100px) {
	
	.show_on_tablet{
		display: block;
	}
	
}

/******************* SHOW MOST POPULAR ON TABLET AND MOB *************************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 240px) and (max-width: 767px) {
	
	.homepage-popular{
		display: block;
	}
	
	.homepage-popular .bloggers--popular--grid .popular--column{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.homepage-popular .bloggers--popular--grid .popular--column .popular--img{
		width: 20%;
	}
	
	.homepage-popular .bloggers--popular--grid .popular--column .popular--body{
		width: 80%;
	}
	
	/* Display none for everything after the first*/
	.homepage-popular .bloggers--popular--grid .popular--column:not(:first-child){
		display: none;
	}
	
}

/*************** Smaller Font for menu *********************/
@media only screen and (min-width: 1025px) and (max-width: 1296px) {
	
	.aftermenu .aftermenuinner a {
    	font-size: 0.9em;
    }
	
}

/********** Remove current item styling from the burger menu ***************/

.white-border-menu-item{
	border: 1px solid white;
	border-radius: 5px;
}

#burger-nav .white-border-menu-item{
	background: none;
	border: none;
}


.searchoptions a{
	font-weight: 400;
}

#article-content ul{
	position:relative; 
	left: 10px;
}

#magazine--slider h4.sportsbuzz_red{
	background: #e04344;
}

#magazine--slider .slide--cat a.sportsbuzz_red{
	background: #e04344;
}


#magazine--slider h4.euro_color1{
	background: #d51d23;
}

#magazine--slider .slide--cat a.euro_color1{
	background: #d51d23;
}

.sportsbuzz_bg{
	background: url("../../../img/sportsbuzz_bg.png");
}/*d51d23*/

.euro2016_bg{
	/*background: url("../../../img/euro2016_bg.png");*/
	background: #0d598e;
}

.slide--txt_white a{
	color: #ffffff !important;
}

/************* Burger fix ***********************/

#burger--sidebar #burger-nav ul li ul li a{
	font-weight: 500;
}

#burger--sidebar #burger-nav ul li ul {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#burger--sidebar #burger-nav ul li ul li:last-child{
	border-bottom: none;
}

/*********** fix on main small devices due to sticky changes in main.css *****************/
@media only screen and (min-width: 240px) and (max-width: 1024px) {
	main {
   		padding-top: 0px !important;
   	}
   	.expanding--serc.searched ~ main{
   		padding-top: 0px !important;
   	}
   	#burger--sidebar{
   		margin-top: 0px;
   	}
}

/* Mag strip color change */
.ultragrey_bg {
    background: #D5d5d5;
}


.instagram-media{
	display: inline !important;
}

/******** SCROLLBAR CSS **************/

#sliding--sidebar--inner
{
	overflow: hidden;
}

#sliding--sidebar--inner--contents{
	overflow-x: hidden;
}

#sliding--sidebar--inner--contents::-webkit-scrollbar-track
{
	background-color: #f3f3f3;
	-webkit-border-radius: 10px;
    border-radius: 10px;
}

#sliding--sidebar--inner--contents::-webkit-scrollbar
{
	width: 4px;
	background-color: #f3f3f3;
	-webkit-border-radius: 10px;
    border-radius: 10px;
}

#sliding--sidebar--inner--contents::-webkit-scrollbar-thumb
{
	background-color: #959595;
	-webkit-border-radius: 10px;
    border-radius: 10px;
}

/******** END SCROLLBAR CSS **************/

@media only screen and (max-width: 1024px) and (min-width: 0) {
	.videos .videos_video,
	.videos .videos_captions {
		width: 100%!important;
	}
	
	.videos .videos_captions .actual--caption{
		display:block;
	}
}

@media only screen and (max-width: 728px) and (min-width: 0) {
	.videos .videos_captions .actual--caption #video-slider-info{
		display:none;
	}
}

.video--leading h3 a{
	color: #ffffff !important;
}

.circled.instagram span{
	font-size: 23px;
	margin: 10px;
}

.icon-instagram:before {
    content: "\e900";
}

.circled{
	margin-top: 5px;
}

/*
.icon-uni47:before {
    content: "\47";
}
.icon-uni79:before {
    content: "\79";
}
.icon-uniE600:before {
    content: "\e600";
}
.icon-uniE601:before {
    content: "\e601";
}
.icon-uniE602:before {
    content: "\e602";
}
.icon-uniE603:before {
    content: "\e603";
}
.icon-uniE604:before {
    content: "\e604";
}
.icon-uniE605:before {
    content: "\e605";
}
.icon-uniE606:before {
    content: "\e606";
}
.icon-uniE607:before {
    content: "\e607";
}
.icon-uniF107:before {
    content: "\f107";
}
.icon-uniF10A:before {
    content: "\f10a";
}
.icon-uniF11B:before {
    content: "\f11b";
}
.icon-uniF124:before {
    content: "\f124";
}
.icon-uniF125:before {
    content: "\f125";
}
.icon-uniF132:before {
    content: "\f132";
}
.icon-uniF146:before {
    content: "\f146";
}
.icon-uniF150:before {
    content: "\f150";
}
.icon-uniF152:before {
    content: "\f152";
}
.icon-uniF153:before {
    content: "\f153";
}
.icon-uniF154:before {
    content: "\f154";
}
.icon-uniF20D:before {
    content: "\f20d";
}
.icon-uniF20E:before {
    content: "\f20e";
}
.icon-uniF21A:before {
    content: "\f21a";
}
.icon-uniF21F:before {
    content: "\f21f";
}
.icon-uniF231:before {
    content: "\f231";
}
.icon-uniF235:before {
    content: "\f235";
}
.icon-uniF243:before {
    content: "\f243";
}
.icon-uniF24C:before {
    content: "\f24c";
}
.icon-uniF24D:before {
    content: "\f24d";
}
.icon-uniF2AC:before {
    content: "\f2ac";
}
*/

/* Footer Social media and newsletter on mobile */

#content_footer .col--1-3.newsletter .btn{
	padding: 0.5em 0em;
}

@media only screen and (max-width: 767px) and (min-width: 240px){
	#content_footer .col--1-3.follow{
		width: 100%;
		margin: 10px 0px 10px 0px;
		padding: 10px 0px 0px 0px;
		border-top: 1px solid #ebebeb;
	}
	
	#content_footer .col--1-3.follow:after, #content_footer .col--1-3.follow:before{
		background: none;
	}
	
	#content_footer .col--1-3.follow:after, #content_footer .col--1-3.follow:before{
		background: none;
	}
	
	#content_footer .col--1-3.newsletter{
		width: 100%;
		margin: 10px 0px 10px 0px;
		padding: 10px 0px 0px 0px;
		border-top: 1px solid #ebebeb;
	}
	#content_footer .col--1-3.newsletter .btn{
		font-size: 10.9pt;
		padding: 0.625em 0.533em;
	}
	
	#content_footer #newsletter{
		margin-top: 0em;
	}
}

#article--grid .streaming_shout h2{
	padding-left: 47px !important;
	text-indent: 0em !important;
}

.inner_poll_title{
	font-weight: bold;
	font-size: 2.2em !important;
	font-family: 'Roboto', sans-serif;
	text-shadow: 1px 1px #ccc;
}

.poll_inner_answer{
	font-weight: bold;
	font-size: 1.7em !important;
	margin-bottom: 5px;
	text-shadow: 1px 1px #ccc;
}

.bar_inner_answer{
	border: 3px solid #eee;
	height: 41px;
	margin-bottom: 25px;
}

.bar_inner_answer .foreground{
	height: 35px;
}

.inner_answer_percent{
	margin-top: 7px;
	margin-left: 10px;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
}

.poll_inner_answer_page{
	margin-bottom: 50px !important;
}


.total_inner_answer{
	color: #000000 !important;
	font-weight: bold;
	
}

#commenting{
	background: #f3f3f3;
	padding: 13px;
	border: 2px solid #58afbf;
	font-style: italic;
	
}


/*******new search *****************/


.search--results{
	margin: 0 auto !important;
}

.search-filters{
	width:30%;
	float: left;
}

.search--results .results{
	width: 70%;
	float: left;
}

.filter{
	clear: both;
	width:90%;
	margin:auto;
	float: left;
	margin-bottom: 20px;
}

.picker-search-options{
    position: relative;
    right: 17px;
    top: 40px;
}

.picker-search-options{
	display: none;
}


#close-filter{
    float: right;
    padding: 4px 10px 4px 10px;
    border: 1px solid red;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
	display: none;
}

.picker-search-options span{
	background: url("../../../img/wedia/sigma_sprites.png") no-repeat scroll -9px -95px !important;
    display: block;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 20px;
    height: 50px;
}

.search--results .article--img {
    width: 13%;
    background: white;
    margin-right: 0%;
    min-height: 1px;
    line-height: 0;
    overflow: hidden;
}

.results .article--img{
    height: 100px;
    background-repeat: no-repeat!important;
}

.search-filter-property.selected{
	background: rgba(123, 123, 123, 0.35);
}

.results .none{
	display: none!important;
 }

.search-filter-property{
	color:#000;
	padding: 5px;
    padding-left: 10px;
    height: 40px;
    line-height: 30px;
    border-bottom: 1px solid #ebebeb;
    clear: both;
    font-size: 18px;
    cursor: pointer;
}

.search-filter-property.title{
	background: #003546;
	color: #fff;
	cursor: inherit;
}

.search--results .results {
    width: 70%;
    float: left;
}

.filter {
    clear: both;
    
    margin: auto;
    margin-bottom: 20px;
}

.results .article--img img{
	width: auto;
	height: 80px;
}

.page {
    border-radius: 5px;
    background: #f3f3f3;
    border: solid 1px #d7d7d7;
    padding: 5px 10px 5px 10px;
    color: black;
    margin-left: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 800px){
	.picker-search-options{
			display: block;
	}

	.search-filters{
			width: 100%;
			clear: both;
			display: none;
	}

	.filter{
		width: 100%!important;
	}

	.search-filter-property.option{
			display: none;
	}

	.search--results .results{
		width: 100%!important;
	}

	.filter{
			margin-bottom: 10px;
	}

	#close-filter{
		display: block!important;
	}
}
/*************** KIDSGO SIDEBAR BOX ******************/


.kidsgo_outer_container{
	width:298px;
	border:1px solid #ABD1E4;
	font-family: "Comic Sans MS";
}

.kidsgo_head{
	width: 100%;
	
}

.kidsgo_head img{
	width: 100%;
}

.kidsgo_body{
	width: 96%;
	margin-left: 3%;
}

.kidsgo_title{
	line-height: 19px;
	font-size: 16px;
	color: #b8cb02;
	margin-bottom: 10px;
}

.kidsgo_title a{
	color: #b8cb02;
	/*text-shadow: 1px 1px #000000;*/
	text-decoration: none;
}

.kidsgo_main{
	width: 100%;
	
}

.kidsgo_img{
	width: 25%;
	height: 25%;
	float: left;
}

.kidsgo_img img{
	width: 100%;
	height: 100%;
	border:2px solid #ABD1E4;
}

.kidsgo_text{
	margin-left: 3%;
	width: 68%;
	float: left;
	font-size: 12px;
	line-height: 14px;
}

.kidsgo_more{
	text-align: right;
	width: 97%;
	margin-bottom: 5px;
}

.kidsgo_more a{
	color: #1b589b;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

/** WHEN 200x200 SIDEBAR **/
@media only screen and (max-width: 1300px) and (min-width: 750px){
	.kidsgo_outer_container{
		width: 200px;
	}
	
	.kidsgo_title{
		font-size: 14px;
	}
	
	.kidsgo_img{
		float: none;
		display: none;
	}
	
	.kidsgo_text{
		margin-left: 0px;
		margin-right: 0px;
		float: none;
		width: 96%;
	}
	
}
/**/


/*************** END KIDSGO SIDEBAR BOX ******************/

#sliding--sidebar .sidebar--block .full_width{
	width: 100% !important;
	
}

#sliding--sidebar .sidebar--block .full_width .hangout_img{
	width: 100%;
}

#sliding--sidebar .full_width{
	width: 100% !important;
	margin-left: 0px;
	margin-right: 0px;
}

#sliding--sidebar .sidebar--block .full_width cite{
	width: 90% !important;
	text-align: center;
}

.sidebar--block_more_link{
	width: 100%;
	text-align: right;
	font-weight: bold;
	font-size: 15px;
	margin-top: 25px;
	padding-right: 5px;
}

.leading--title{
	text-shadow: 2px 2px #000000;
}



/******************************** EURO 2016 GROUPS ******************************/

.euro2016_tabs{
	font-family: 'Open Sans',sans-serif;
	border: 1px solid #e5e5e5;
	color: #474747;
}

.euro2016_group_row{
	color: #474747;
	font-size: 18px;
	padding: 15px 10px 8px 15px;
	border-bottom: 1px solid #e5e5e5;
	height: 70px;
}

.euro2016_group_row:hover{
	background-color: #f9f7f7;
}

.euro2016_group_row_heading{
	color: #474747;
	background: #ebebeb;
	font-size: 14px;
	font-weight: normal;
	padding: 4px 10px 2px 15px;
	border-bottom: 1px solid #e5e5e5;
}

.euro2016_all_groups{
	background: #f1f1f1;
}

.euro2016_group_name{
	color: #0087e6;
	padding: 10px 10px 10px 15px;
	font-size: 17px;
	font-weight: bold;
	float: left;
	border-left: 1px solid #e5e5e5;
	cursor: hand;
	cursor:pointer;
}

.euro2016_tabs_title{
	text-align: center;
	background: #ebebeb;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	font-weight: bold;
}

.euro2016_group{
	display: none;
}

.euro2016_active{
	background: #ebebeb;
}

.euro2016_rank{
	width: 10%;
	float: left;
	
}

.euro2016_flag{
	width: 10%;
	float: left;
}

.euro2016_flag img{
	max-width: 42px;
	width: 90%;
}

.euro2016_country{
	width: 30%;
	float: left;
}

.euro2016_points{
	width: 10%;
	float: left;
}

.euro2016_playedGames{
	width: 10%;
	float: left;
}

.euro2016_goals{
	width: 10%;
	float: left;
}

.euro2016_goalsAgainst{
	width: 10%;
	float: left;
}

.euro2016_goalDifference{
	float: left;
}


/******************************** EURO 2016 GROUPS END ******************************/

/******************************** EURO 2016 SCHEDULE ******************************/
.euro2016_schedule_flag img{
	max-width: 42px;
	width: 90%;
}

.euro2016_schedule_flag{
	float: left;
	width: 10%;
}

.euro2016_schedule_flag_right{
	text-align: right;
}

.euro2016_schedule_flag_left{
	text-align: left;
}

.euro2016_schedule_team{
	float: left;
	width: 20%;
	text-align: center;
}

.euro2016_schedule_time{
	float: left;
	width: 15%;
	color: #0087e6;
	text-align: center;
}

.euro2016_schedule_space{
	float: left;
	width: 10%;
	text-align: center;
}



/***************************** EURO 2016 SCHEDULE ************************************/

/****************************** EURO 2016 SCORE ***************************************/

.euro2016_arrow_right{
	float: left;
	width: 15px;
	background: #f1f1f1;
	text-align: center;
	cursor: hand;
	cursor:pointer;
	height: 85px;
}

.euro2016_inner_scrollable{
	float: left;
	width: 100%;
}

.euro2016_arrow_left{
	float: left;
	width: 15px;
	background: #f1f1f1;
	text-align: center;
	cursor: hand;
	cursor:pointer;
	height: 85px;
}

.euro2016_score_container{
	width: 33%;
	float: left;
	border-left: 1px solid #e5e5e5;
}

.euro2016_score_container .euro2016_schedule_space{
	/*width: 5%;*/
}

.euro2016_score_container .euro2016_schedule_team{
	width: 30%;
}

.euro2016_inner_scrollable{
	/*width: 900%;*/
}

.euro2016_outer_scrollable{
	width: 100%;
	float: left;
	overflow-x: hidden;
	margin-top: 7px;
	border-top: 1px solid #e5e5e5;
}
/****************************** EURO 2016 SCORE ***************************************/


@media screen and (max-width: 600px) {
	
	.euro2016_schedule_space{
		width: 0% !important;
	}

	.euro2016_group_row{
		font-size: 16px!important;
	}
	
	.euro2016_schedule_team{
		width: 30%;
	}
	
}

/***************** NEW CSS FOR LIVE *********************

.min--to--min .live--event-wrapper{
	border-left: 0px;
	border-right: 0px;
}

.min--to--min .live--event-row{
	margin-top: 11px;
	border-top: 1px solid #bdbdbd;
	background: #f6f6f6;
}

.live_main_content{
	
}

.min--to--min .eventinfo{
	width: 90%;
}

.min--to--min .event-time{
	width: 7%;
	font-size: 15px;
}

.min--to--min .live--event-wrapper{
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}


/***************** END NEW CSS FOR LIVE **********************/



/***************** OLYMPICS **********************/
.olympics2016_head{
	background: url("../../../img/rio-2016.jpg") no-repeat;
	background-size: contain;
	background-position: left bottom;
	width: 100%;
	height: 82px;
	padding-bottom: 3px;
}

.five_box_separator{
	border-bottom: 1px solid #40a9dd;
	margin-top: 8px;
}

.five_box_continer{
	clear: both;
	margin-top: 10px;
}

.five_box_article{
	margin-top: 5px;
	position: relative;
}

.five_box_article_main{
	position: relative;
}

.five_box_article img{
	width: 100%;
	border-radius: 15px;
	border: 2px solid #134985;
}

.five_box_article_main img{
	width: 100%;
	border-radius: 15px;
	border: 2px solid #134985;
}

.five_box_caption, .five_box_caption_main{
	text-align: center;
	position: absolute;
	text-shadow: 2px 1px #000000;
    bottom: 3px;
    left: 0;
    width: 100%;
    padding: 8px 7.4074%;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 15px;
}

.five_box_caption_main{
    font-size: 19px;
    bottom: 15px;
}

.five_box_article a{
	color: #ffffff;
}

.five_box_article_main a{
	color: #ffffff;
}

@media (max-width: 850px) {
	
	.five_box_continer .col--1-4{
		display: none;
	}
	
	.five_box_continer .col--1-2{
		width: 100%;
	}
	
	.five_box_caption_main{
		font-size: 30px;
	}
	
	.five_box_caption_main{
		bottom: 20px;
    	line-height: 28px;
	}
}

/***************** END OLYMPICS **********************/

.twitter-video{
	margin: 10px 30% !important;
	width: 55%!important;
	text-align: center;
	display: block;
}




/************* ENGAGYA ******************************/

.eng_widget_sw{
	width: 32%!important;
	margin-right: 2%!important;
	margin-left: 0px!important;
}

.eng_widget_sw:nth-child(3n+0){
	margin-right: 0px!important;
	margin-left: 0px!important;
}

@media (max-width: 700px) {
	.eng_widget_sw{
		width: 49%!important;
		margin-right: 2%!important;
		margin-left: 0px!important;
	}
	
	.eng_widget_sw:nth-child(3n+0){
		width: 49%!important;
		margin-right: 2%!important;
		margin-left: 0px!important;
	}
	
	.eng_widget_sw:nth-child(2n+0){
		clear: both;
		margin-right: 0px!important;
		margin-left: 0px!important;
	}
}

/************* ENGAGYA ******************************/

.reload_more{
	text-align: right;
}

.side_video_more{
	margin-right: 15px;
}

.side_video_less{
	margin-right: 20px;
}

.team--slider{
	display: none;
}

/******************** Sports Blablas fix **************/

@media(max-width: 767px) and (min-width: 240px){
	.blablas--style-slider .bloggers--popular--grid{
		margin-left: -1em;
		margin-right: -1em;
	}
	
	.blablas--style-slider h3{
		margin-left: 15px;
		margin-bottom: 5px;
	}
}



#magazine--slider h4.cyprusbasket_color1{
	background: #ffb30c;
}

#magazine--slider .slide--cat a.cyprusbasket_color1{
	background: #ffb30c;
}

.cyprusbasket_bg{
	background: url("../../../img/sportsbuzz_bg.png");
	background-color: #151515;
}/*d51d23*/

.cyprusbasket_bg .slide--item .slide--txt a{
	color: #fff !important;
}

.cyprusbasket_bg #magazinecounter{
	color: #fff !important;
}

.cyprusbasket_bg .owl-nav{
	color: #fff !important;
}
.cyprusbasket_bg .slide--cat a{
	cursor: text;
}
/***************** Cooking slider *********************/

#cooking--slider h4{
	margin: 2px;
	padding: 0.94444em 1em;
	font-size: 1.27778em;
	line-height: 1;
	display: inline-block;
	vertical-align: text-bottom;
	width: 99.8%;
	text-align: center;
}

#cooking--slider h4{
	background: #fff;
}

#cooking--slider h4 img{
	width: 23%;
}

#cooking--slider .slide--item .slide--txt a{
	color: #fff;
}

#cooking--slider .slide--cat{
	text-align:center;
}


#cooking--slider .slide--txt{
	min-height: 80px;
	text-shadow: 2px 2px #6f6c6c;
	text-align: center;
}

#cooking--slider .slide--item{
	background-image: url('../../../img/op_50_white.png');
	margin-bottom: 10px;
	margin-top: 7px;
	margin-left: 0.7%;
	min-height: 370px;
}

#cooking--slider .slide--cat{
	display: none;
}

#cooking--slider .slide--cat a{
	color: #fff;
	background: #ed5c61;
	padding: 6px;
	margin-top: 15px;
    display: inline-block;
}

#cooking--slider{
	position: relative;
}
.cooking--slider--inner{
	padding: 0 1em;
}
.cooking--slider--inner .owl-nav{
    position: absolute;
    top: -50px;
    font-size: 25px;
    color: #58afbf;
    right: 1em;
}

.cooking--slider--inner .owl-nav{
	color: #f14f22;
}

.cooking--slider--inner .owl-prev, .cooking--slider--inner .owl-next{
	float: left;
}

.cooling_slider_bg{
	background-image: url('../../../img/cooking_slider_bg.jpg');
}

.cooking--slider--inner .slide--img img {
	height: auto !important;
	max-height: 228px !important;
}

.section_title{
	font-weight: bold;
	font-size: 20px;
	color: #232323;
	text-shadow: 1px 1px #e6e6e6;
}

.category--list .clearborder_show{
	background: #ebebeb;
}

.category--list .clear_show{
	margin:1.38889em 0;
}

.clear_show{
	width: 100%;
	height: 1px;
	clear: both;
}
