#poll_of_polls svg{
	margin: 0px;
}

#poll_of_polls{
	border: 1px solid #ebebeb;
}

.poll_outer_note_box{
	border: 1px solid #ebebeb;
}

.poll_note_box{
	padding: 10px;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
	text-align: justify;
	color: #707070;
}


/*
#poll_of_polls svg>text{
	display: none;
}
*/
.gov_links{
	background: #ebebeb;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: normal;
}

.gov_link{
	font-family: 'Roboto', sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
}

#gov_results_iframe{
	width: 100%;
	border: none;
	min-height: 500px;
	overflow-y: hidden;
}

.gov_box_header{
	font-family: 'Roboto', sans-serif;
	background: #d9d9d9;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	color: #2b2b2b;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: normal;
}