@media print {
    
    #sliding--sidebar{
    	display: none;
    }
    
    .darkblue_bg{
    	display: none;
    }
    
    .aftermenu{
    	display: none;
    }
    
    .banners--onntop{
    	display: none;
    }
  	
    .article--suggested--articles{
    	display: none;
    }
    
    .articlesocial{
    	display: none;
    }
    
    #breaking--news{
    	display: none;
    }
    
    .article-cats{
    	/*display: none;*/
    }
    
    .time{
    	display: block;
    }
    
    .main--cat{
    	display: block;
    	margin:0px;
    	padding: 0px;
    	height: 15px;
    }
    
    .article--main-img{
    	display: none;
    }
    
    .relative--articles{
    	display: none;
    }
    
    iframe{
    	display: none;
    }
    
    .article--suggested--articles{
    	display: none;
    }
    
    .more-articles--from-the-category{
    	display: none;
    }
    
    #comments{
    	display: none;
    }
    
    #video--slider{
    	display: none;
    }
    
    #content_footer{
    	display: none;
    }
    
    .prefooter{
    	display: none;
    }
    
    #footer{
    	display: none;
    }
    
    #article-content{
    	 margin: 0px;
    	 padding: 0px;
    	 font-size: 12px;
    }
    
 	#article-content h1{
 		font-size: 18px;
 	}
    
    .main--content--inner{
    	 margin: 0px;
    	 padding: 0px;
    	 background: none;
    }
    
    
    article {
    	background: none;
	}
	
	.main--centered{
		transition: none;
		background: none;
	}
	
	.white_bg{
		background: none;
	}
	
	.article--main--content{
		border: none;
	}
	
	.breadcrumb-cats{
		display: block;
		margin: 0px;
		padding: 0px;
		color: black;
	}
	
	time{
		display: block;
	}
	
	#article-content{
		background: none;
	}
	
	#main{
		background: none;
	}
	
	.article--body{
		background: none;
		border: none;
	}
	
	#cookie_banner_container{
		display: none;
	}
	
	#cookie_banner_inner{
		display: none;
	}
}