#home-hero .container,
#home-hero-advertiser .container,
#home-projects .container,
#home-projects-advertiser .container {width:1016px}
#home-hero-advertiser .container {top: 0px;position: absolute;left: 50%;margin-left: -508px;}
#home-hero-advertiser .container #gpt-ad-leaderboard {display:none;}

#home-hero {position:relative; overflow:hidden; min-height:650px; max-height:700px; height:77%; width:100%; min-width:1030px; margin-bottom:-29px; z-index:1}
#home-hero .overlay {top:0; color:#fff; position:absolute; width:100%; height:100%; z-index:400}
#home-hero .overlay > .container {height:100%}

#home-slideshow {position:absolute; overflow:hidden; height:100%; width:100%; left:0; top:0}
#home-slides {position:relative; width:100%; height:100%}
#home-slides .slide {overflow:hidden; position:relative}
#home-slides .caption {display:none}
#home-slides img {width:100%}
#home-slides li {display:none; width:100%; height:100%; position:absolute; overflow:hidden; top:0; left:0}
#home-slides li.active {display:block; left:0}
#home-slides li.next.left {display:block; left:100%}
#home-slides li.next.right {display:block; left:-100%}

#home-explore-search {position:relative; top:220px}

.makeit-searchbar {position:absolute; top:0px; width:1015px; height:81px; background:url(/static/img/home/makeitsearch-bg.png) no-repeat right center}
.makeit-searchbar .title {top:-10px; left:4px; font-size:93px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); letter-spacing:4px; padding:0}
.makeit-searchbar .submit {width:79px; height:77px}

#makeit-searchfield {right:116px; top:0; width:421px; height:75px; line-height:75px; cursor:pointer}
#home-advertiser-searchwrapper #makeit-searchfield {cursor: default;}
#home-advertiser-searchwrapper #makeit-searchfield input {display: block;}
#makeit-searchfield input {display:none; width:421px}
#makeit-searchfield .dummy-input {left:7px; top:0; height:75px; line-height:75px; font-size:56px; text-shadow:0 2px 0 rgba(0, 0, 0, 0.35); color:#fff}
#makeit-searchfield .cursor {top:0; height:63px; background:url(/static/img/home/makeitsearch-cursor.gif) no-repeat}

#home-categories-menu {position:absolute; right:15px; top:90px;}
#home-categories-menu a {text-decoration:none;display:block; text-transform:uppercase; margin-top:10px; height:20px; font-size:20px; color:#fff;text-align:right; font-family: 'Open Sans Condensed', sans-serif;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)}

#home-adslot {display:none; position:absolute; top:auto; bottom:19px}

#home-caption {position:absolute; bottom:3%}
#home-caption .featured-author {margin:0; font-size:13px; color:#fff}
#home-caption .featured-author > a {display:block; color:#fff}
#home-caption .featured-author .image,
#home-caption .featured-author .info {float:left; margin-right:10px}
#home-caption .featured-author img {padding:2px; background-color:#fff; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);  -webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.3); -moz-box-shadow:1px 1px 1px rgba(0, 0, 0, 0.3); }
#home-caption .featured-author span {font-weight:bold}
#home-caption .featured-author p {margin:12px 0 0; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5)}

#home-slide-controls {position:absolute; bottom:3%; left:47%}
#home-slide-controls a {display:inline-block; *display:inline; *zoom:1; margin:0 5px; width:12px; height:12px; background:url(/static/img/home/dot-nav.png) no-repeat}
#home-slide-controls a.active,
#home-slide-controls a:hover {background:url(/static/img/home/dot-nav-active.png) no-repeat}
#home-featured-projects .bg-icon{vertical-align: baseline;}
#home-projects {background:#f6f6f6; margin:26px 0; padding:26px 0 60px; border-bottom: 1px solid #bec6d1; position:relative; z-index:1;min-width: 1030px;border-bottom: 1px solid #bec6d1;border-top: 1px solid rgba(0, 0, 0, 0.25); overflow-x:hidden}
#home-projects-advertiser {background:#f6f6f6; margin:0px !important; padding:26px 0 60px; border-bottom: 1px solid #bec6d1; position:relative; z-index:2; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5); -moz-box-shadow:0 0 10px rgba(0,0,0,0.5); box-shadow:0 0 10px rgba(0,0,0,0.5)}
#home-projects .category-label,
#home-projects-advertiser .category-label {text-decoration:none; color:#333; line-height:40px; display:block; margin-left: 12px;}
#home-projects .category-label .arrow,
#home-projects-advertiser .category-label .arrow {display:inline-block; *display:inline; *zoom:1; margin:15px 0 0 5px; width:6px; height:11px}
#home-projects .category-label:hover .arrow,
#home-projects-advertiser .category-label:hover .arrow {background:url(/static/img/home/caret.png)}

#home-hero-advertiser {position:relative; height:320px; width:100%; min-width:1016px; overflow:hidden; background:#787878}
#home-advertiser-carousel {height:320px; width:1800px; margin:0 0 0 -900px; left: 50%;}
#home-advertiser-adslot {position:absolute; left:0; top:35px; line-height:0; font-size:0}

#home-advertiser-searchwrapper {width:1015px; height:81px; margin:35px auto 70px; position:relative}
#home-advertiser-searchwrapper input {cursor: auto !important;}
#home-advertiser-searchwrapper #makeit-searchfield .dummy-input {color:#333}
#home-advertiser-searchwrapper .makeit-searchbar {background-image:url(/static/img/home/makeitsearch-bg-dark.png)}
#home-advertiser-searchwrapper #makeit-searchfield .cursor {background-image:url(/static/img/home/makeitsearch-cursor-dark.gif)}
#home-featured-classes .icon-ebook,  #home-featured-feed .icon-following {vertical-align: middle;}
#home-featured-feed {display:none;}
.fit-row{
    margin-left: -12px;
    margin-right: -12px;
}
#home-featured-feed .empty-feed-message {color: #333;font-size: 17px; font-weight: bold; margin: 12px; padding: 20px; background-color: #fff; position: relative; margin-bottom: 20px; box-shadow: 0 1px 0 rgba(0,0,0,.15); border: 1px solid rgba(0,0,0,.1); text-align: center;}
#home-featured-feed .empty-feed-message .btn {margin-top: 15px;}
.featured-items-huge li {padding:12px;}
.featured-cover-item-huge,
.featured-cover-item-huge img {width:324px}
.featured-cover-item-huge {padding-bottom:10px}
.featured-cover-item-huge .cover-image {width:322px; height:271px}
.featured-cover-item-huge .cover-image.cover-image-ebook {height: 351px;}

.featured-contests li {
    padding:12px;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.featured-contests li > a {
    background: black;
    display: inline-block;
    font-size: 0px;
}
.featured-contests img {width:100%}
.featured-contests img:hover {opacity: 0.95}

.explore-more {float:right; margin: 10px 12px 40px 0;}
.explore-more .bg-icon{vertical-align: top;}
.explore-more:hover .bg-icon.featured {background-position:-28px -485px}
.explore-more:hover .bg-icon.popular {background-position:-29px -221px}
.explore-more:hover .bg-icon.recent {background-position:-29px -508px}

@media (max-width:1431px){
    #home-projects .container, #home-projects-advertiser .container,  #gbl-header .container.content-match, #gbl-footer .container.content-match{
        width: 1020px;
    }
    .hide-three{
        display: none;
    }
    .featured-contests li.wide-banner{
        width: 100%;
    }
    .featured-contests li {
        width: 50%;
    }
}
@media(max-width:1020px){
    #gbl-header .container.content-match{
        width: 100%;
    }
}
@media (max-width:1779px) and (min-width:1432px){
    #home-projects .container, #home-projects-advertiser .container, #gbl-header .container.content-match, #gbl-footer .container.content-match{
        width: 1368px;
    }
    .hide-four {
        display: none;
    }
    .featured-contests li {
        width: 50%;
    }
    #home-caption{
        left:-170px;
    }
}
@media (min-width:1780px){
    #home-projects .container, #home-projects-advertiser .container,  #gbl-header .container.content-match, #gbl-footer .container.content-match{
        width: 1716px;
    }
    .featured-contests li {
        width: 33.33%;
    }
    #home-caption{
        left:-340px;
    }
}
