﻿html, body { height:100%; }
input {	margin-bottom: 0px !important;}
.tableft {	display: inline-block;	width: 160px;	font-weight: bold;}
.well {	margin-bottom:0px;}
.coinad_viewads_table {	width:100%;	height:100%;	position:absolute;	vertical-align:top;}
.coinad_viewads_topbar {	border-bottom:1px solid #666666;	height:64px;	left:0;	min-width:960px;	width:100%;}
.coinad_viewads_iframetr {	height:100%;	width:100%;	border:0px;	padding:0px;	margin:0px;	vertical-align:top;}
.coinad_viewads_iframe {	height:100%;	width:100%;	border:0px;	padding:0px;	margin:0px;	vertical-align:top;}
.coinad_adMain {	height:41px; 	border:1px #CCC solid;	}
.coinad_adMain:hover {	background-color:#FCFCFC;}
.coinad_adTr {	padding:15px;}
.coinad_ad {	height:20px; 	border:0px;	line-height:20px;	background-color:#FFE1F0; 	margin:1px; }
.coinad_adTitle {	padding-left:3px;}.coinad_adInfo {	border-top:1px #EFEFEF solid;	width:100%;}
.coinad_adLink {	color:#333;	font-style:normal;	text-decoration:none;}
.coinad_adLink:hover {	color:#333;	font-style:normal;	text-decoration:none;}label {  display:inline-block;  margin-bottom: 0px;  width:199px;}



/* --------------- */

#table, #table2 {
	font-size: 12px;
	width:100% !Important;
}
#table thead, #table2 thead {
	background:#fff;
}
tbody .ban {
	width:15px;
	height:15px;
	cursor:pointer;
	float:right;
}
tbody .unban {
	width:15px;
	height:15px;
	cursor:pointer;
	float:right;
}
tbody .net {
	width:15px;
	height:15px;
	cursor:pointer;
	float:right;
}
tbody .unnet {
	width:15px;
	height:15px;
	cursor:pointer;
	float:right;
}
div.container {
        width: 100%;
}
tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}
tbody input {
	margin: 0;
	width: 100%;
	height:14px;
	padding:3px;
}

.date_range_filter {
    width: 5.5em;
}
#table_length select {
	width:50px;
}
#table_filter input {
	width:100px;	
}
.action, .deactive, .active, .pdelete, .messactive, .messdeactive, .messdelete  {
	cursor:pointer;
}

.left-main {
  float: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  text-align:left;
}

.right-main {
  float: right;
  width: 300x;
  background-color: #0074bd;
  color: #ff940c;
  font-size: 18px;
  padding: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 7px;
}
.right-main h2 {
  font-size: 35px;	
}

.bottom-line {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
}