
    /*Lobby Games Grid*/
.games-wrap{width:100%}
.games-wrap .warpLiveCasinoGameItem {width: 48%;margin: 0 1%;float: left; overflow: hidden; }
.games-wrap .warpGameItemNotHover:not(.game-name), .games-wrap .teaser-data{max-width:155px;margin: 0 auto;}

@media screen and (min-width: 500px) {
    .games-wrap .warpLiveCasinoGameItem { width: 33.333%;margin: 0 auto;}
}
@media screen and (min-width: 660px) {
   .games-wrap .warpLiveCasinoGameItem {width: 25%;}
}
@media screen and (min-width: 810px) {
   .games-wrap .warpLiveCasinoGameItem {width: 20%;}
}

@media screen and (min-width: 968px) {
.games-wrap .warpLiveCasinoGameItem {max-width:155px;width:155px;margin-right: 39px; }
.games-wrap .warpLiveCasinoGameItem:nth-of-type(5n) {margin-right:0;}
}
/*////////////////////////////////////////////////////////////*/
/*Dealers Grid*/
.dealer-wrap{overflow:hidden;}
.dealer-wrap .warpLiveCasinoGameItem { width: 123px;    margin: 0 auto;}
.dealer-wrap a{    color: #FFF;text-decoration: none;}
.dealer-wrap .warpLiveCasinoGameItem{text-align: center;float:left}

@media screen and (min-width: 319px) {
 .dealer-wrap .warpLiveCasinoGameItem { width: 50%;      padding: 0; }
.dealer-wrap .warpGameItemNotHover{width:155px;margin: 0 auto;}
}
@media screen and (min-width: 200px) {
    .dealer-wrap .warpLiveCasinoGameItem { width: 50%;}
}

@media screen and (min-width: 440px) {
    .dealer-wrap .warpLiveCasinoGameItem { width: 33.33%;}
}

@media screen and (min-width: 560px) {
    .dealer-wrap .warpLiveCasinoGameItem { width: 25%;}
}

@media screen and (min-width: 690px) {
    .dealer-wrap .warpLiveCasinoGameItem { width: 20%;}
}
@media screen and (min-width: 800px) {
   .dealer-wrap .warpLiveCasinoGameItem {width: 16.66%;}
}
@media screen and (min-width: 925px) {
   .dealer-wrap .warpLiveCasinoGameItem {width: 14.28%;}

}


/*Daily Deals Promotions Grid*/
.daily-wrap{overflow:hidden;}
.daily-wrap .warpLiveCasinoGameItem { width: 123px;    margin: 0 auto;}
.daily-wrap a{    color: #FFF;text-decoration: none;}
.daily-wrap .warpLiveCasinoGameItem{text-align: center;float:left}

@media screen and (min-width: 319px) {
 .daily-wrap .warpLiveCasinoGameItem { width: 50%;      padding: 0; }
.daily-wrap .warpGameItemNotHover{width:155px;margin: 0 auto;}
}
@media screen and (min-width: 200px) {
    .daily-wrap .warpLiveCasinoGameItem { width: 50%;}
}

@media screen and (min-width: 440px) {
    .daily-wrap .warpLiveCasinoGameItem { width: 33.33%;}
}

@media screen and (min-width: 560px) {
    .daily-wrap .warpLiveCasinoGameItem { width: 25%;}
}

@media screen and (min-width: 690px) {
    .daily-wrap .warpLiveCasinoGameItem { width: 20%;}
}
@media screen and (min-width: 800px) {
   .daily-wrap .warpLiveCasinoGameItem {width: 16.66%;}
}

@media screen and (min-width: 925px) {
   .daily-wrap .warpLiveCasinoGameItem {width: 14.28%;}
.dealer-wrap .warpLiveCasinoGameItem{height:145px;width: 120px;padding-right: 18px;box-sizing: content-box;}
.dealer-wrap .warpLiveCasinoGameItem:nth-of-type(7n+7){padding-right: 0;}
}

@media only screen and (max-width: 970px) and (min-width: 922px){ .dealer-wrap .warpLiveCasinoGameItem { padding-right: 12px !important; } }

   .warpLiveCasinoGameItem,.teaser-hover-div:after{content:"";width:1px;display:inline-block;height:100%;vertical-align: middle; }
.touch .mfp-content .teaser-hover-div{width:100%;max-width:500px; margin: 0 auto;position: relative;top: 0; padding: 0 0 0 173px;height: auto;  overflow: hidden;height: 175px;}
.touch .mfp-content .teaser-hover-div img{position:absolute;top:25px;left:20px;max-height:125px;}
.touch .mfp-content .teaser-hover-div a:not(.gameInfoGame):not(.duplicate-button-no-text){display:block;float:none;margin: 0 auto 20px;width: 76%;padding: 0.5em;}
.touch .mfp-content .duplicate-button-no-text {position: absolute;width: 144px;height: 125px;top: 25px;left: 20px;z-index: 2;}
.touch .mfp-content .teaser-hover-div a.hollow{width:auto;display:inline-block;min-width:50%}
.touch .mfp-content .teaser-hover-div>a:not(.gameInfoGame):not(.duplicate-button-no-text){display:inline-block;}
.aligned-button{display: inline-block; vertical-align: middle; width: 92%; width: calc(100% - 14px);   padding-left: 7px;   box-sizing: content-box;}
.aligned-button .button{padding:5px 10px;}
.aligned-button .TeaserButton{min-width: 60%;margin-bottom: 0.8em;}
.game-info-text{display:block;font-size: 0.8em;}
.small-item .big-image, .touch .mfp-content .teaser-hover-div .big-image{display:none;}

   /********************************************************************************************************************/
@font-face {font-family: '888Counter';src:url('/en/CSS/fonts/FreeDesign001Bitbit.eot'),url('/en/CSS/fonts/FreeDesign001Bitbit.otf') format('opentype'),url('/en/CSS/fonts/FreeDesign001Bitbit.svg') format('svg'),url('/en/CSS/fonts/FreeDesign001Bitbit.woff') format('woff'), url('/en/CSS/fonts/FreeDesign001Bitbit.ttf') format('truetype');font-weight: normal;}

h3{margin-bottom:0.9em}
.main-img {height: 0;background-size: 200%;padding-top: 36%;background-position: top center;}
.main-img-wrap { position: relative; }
/*offer*/
.main-image-wrapper .row {background: #000;}
.main-image-wrapper .small-centered{padding:0.4rem}
.main-image-wrapper .dynamic-offer-container{border:none;background:none;padding: 0;margin: 0 auto;max-width: 360px;}}
.main-image-wrapper .dot_border_banner{margin:0;}
.rewards{margin:0;padding:0;display:none;}
/*offer steps*/
.main-image-wrapper .row.offer-steps{text-align: center;display: inline-block;bottom:0;position:relative;padding: 2px 0;background: transparent;cursor: pointer;}
.offer-step {display:block;float:left;padding-left:0.3em;padding-right:0.3em;}
.main-image-wrapper .row.offer-steps span.num {font-size: 28px;display: inline-block;color:#606060;font-weight:700;vertical-align: middle;}
.main-image-wrapper .row.offer-steps span.offer-step-text{display: inline-block;text-indent: 5px;}

/*first-grey-bg games section*/
.first-grey-bg h2{margin-top: 13px;}
/****games-wrap****************/
.game-List-warp{overflowhidden;position:relative;}
.games-list-item .img-item{background-image:url("//images.images4us.com/888casino/en/GamesPage_sprite_hp2-1464010238052.jpg");background-repeat: no-repeat;width: 155px;height: 135px;display: block;margin: 0 auto;}
.teaser-data a{color:#fff;cursor: pointer;font-size:0.9em;line-height:1.2em}
.game-info-text a{color:#fff}
/*games position*/
.jackpot_jacks_pot .img-item{background-position:-1px -1px;}
.jackpot_european_roulette .img-item{background-position:-158px -1px;}
.jackpot_millionaire_genie .img-item{background-position:-315px -1px;}
.jackpot_irish_riches .img-item{background-position:-472px -1px;}
.jackpot_starburst .img-item{background-position:-629px -1px;}

.jackpot_treasure_fair .img-item{background-position:-1px -138px;}
.jackpot_a_nightmare_on_elm_street .img-item{background-position:-158px -138px;}
.jackpot_twin_spin .img-item{background-position:-315px -138px;}
.jackpot_live_roulette .img-item{background-position:-472px -138px;}
.jackpot_pirates_millions .img-item{background-position:-629px -138px;}

.jackpot_live_blackjack .img-item{background-position:-1px -275px;}
.jackpot_spartacus .img-item{background-position:-158px -275px;}
.jackpot_jack_and_the_beanstalk .img-item{background-position:-315px -275px;}
.jackpot_gonzos_quest .img-item{background-position:-472px -275px;}
.jackpot_multihand_blackjack .img-item{background-position:-629px -275px;}

.jackpot_steampunk_nation .img-item{background-position:-1px -412px;}
.jackpot_ultimate_universe .img-item{background-position:-158px -412px;}
.jackpot_deuces_wild_double_up .img-item{background-position:-315px -412px;}
.jackpot_saved_by_the_bells .img-item{background-position:-472px -412px;}
.jackpot_once_upon_a_dime .img-item{background-position:-629px -412px;}

.jackpot_the_big_lebowski .img-item{background-position:-1px -549px;}
.jackpot_cleopatra .img-item{background-position:-158px -549px;}
.jackpot_the_glorious_50s .img-item{background-position:-315px -549px;}
.jackpot_snack_time .img-item{background-position:-472px -549px;}
.jackpot_dawn_of_the_dinosaurs .img-item{background-position:-629px -549px;}

/* not exist */
.jackpot_adventures_in_orbit .img-item{background-position:-1px -1px;}
.jackpot_casino_reels .img-item{background-position:-158px -1px;}
.jackpot_city_life .img-item{background-position:-315px -1px;}
.jackpot_clash_of_the_titans .img-item{background-position:-472px -1px;}
.jackpot_doctor_love .img-item{background-position:-943px -1px;}
.jackpot_american_blackjack .img-item{background-position:-472px; -1px}
.jackpot_american_roulette .img-item{background-position:-629px -1px;}
.jackpot_baccarat .img-item{background-position:-786px -1px;}
.jackpot_all_american_double_up .img-item{background-position:-315px -1px ;}
.jackpot_classic_blackjack .img-item{background-position:-158px -138px;}
.jackpot_fairest_of_them_all .img-item{background-position:-1100px -138px;}
.jackpot_fantastic_four .img-item{background-position:-1px -275px;}
.jackpot_freaky_fruit .img-item{background-position:-158px -275px;}
.jackpot_french_roulette .img-item{background-position:-315px -275px;}
.jackpot_fruit_shop .img-item{background-position:-472px -275px;}
.jackpot_ghost_in_the_shell .img-item{background-position:-629px-275px;}
.jackpot_giants_gold .img-item{background-position:-786px -275px;}
.jackpot_high_limit_blackjack .img-item{background-position:-1px -412px;}
.jackpot_jack_hammer .img-item{background-position:-629px -412px;}
.jackpot_.jackpot_jockey .img-item{ }
.jackpot_jacks_or_better .img-item{background-position:-786px -412px;}
.jackpot_joker_wild_double_up .img-item{background-position:-943px -412px;}
.jackpot_kiss .img-item{background-position:-1100px -412px;}
.jackpot_keno .img-item{background-position:-1px -549px;}
.jackpot_leprechauns_luck .img-item{background-position:-158px -549px;}
.jackpot_live_3_card_poker .img-item{background-position:315px -549px;}
.jackpot_live_baccarat .img-item{background-position:-472px -549px;}
.jackpot_live_holdem .img-item{background-position:-768px -549px;}
.jackpot_low_stakes_roulette .img-item{background-position:-1100px -549px;}
.jackpot_party_pigs .img-item{background-position:-629px -686px;}
.jackpot_raging_rhino .img-item{background-position:-943px -686px;}
.jackpot_rainbow_riches .img-item{background-position:-1100px -686px;}
.jackpot_ramasses_riches .img-item{background-position:-1px -823px;}
.jackpot_reel_rush .img-item{background-position:-158px -823px;}
.jackpot_ruby_slippers .img-item{background-position:-315px -823px;}
.jackpot_south_park .img-item{background-position:-768px -823px;}
.jackpot_superman .img-item{background-position:-158px -960px;}
.jackpot_top_spin_snooker .img-item{background-position:-472px -960px;}
.jackpot_ultimate_grill_thrills .img-item{background-position:-943px -960px;}
.jackpot_victorious .img-item{background-position:-1px -1097px;}
.jackpot_wild_gambler .img-item{background-position:-158px -1097px;}
.jackpot_zeus .img-item{background-position:-315px -1097px;}
.jackpot_zuma .img-item{background-position:-472px -1097px;}
.jackpot_arena_cards_and_table .img-item{ background:black;}
.jackpot_adventures_in_wonderland .img-item{  background:black;}
.jackpot_fairest_of_them_all .img-item{ background:black;}
.jackpot_snowys_wonderland .img-item{ background:black;}
.jackpot_lucky_angler .img-item{ background:black;}
.jackpot_mafia_madness .img-item{ background:black;}
.jackpot_royal_diamonds .img-item{ background:black;}
.jackpot_the_royals .img-item{ background:black;}
.jackpot_arena_exclusive_games_888 .img-item{ background:black;}
.jackpot_arena_.jackpot_ .img-item{ background:black;}
.jackpot_arena_live_casino .img-item{ background:black;}
.jackpot_arena_live_casino_baccarat .img-item{ background:black;}
.jackpot_arena_live_casino_blackjack .img-item{ background:black;}
.jackpot_arena_live_casino_roulette .img-item{ background:black;}
.jackpot_arena_new_games_888 .img-item{ background:black;}
.jackpot_arena_slots .img-item{ background:black;}
.jackpot_jungle_goals .img-item{ background:black;}
.jackpot_3d_roulette .img-item{background-position:-1px -1px;}
/* not exist */

/*winners-section*/
.leftBox, .rightBox, .jack-container{padding:0}
.touch .rightBox {display: none;}
.touch .leftBox {width:100%;}
ul#quotes-ticker {padding: 0;overflow:hidden;margin: 0;}
ul#quotes-ticker li:not(:first-child) { display:none !important; }
.accepted-icons{margin-bottom:1.5em}
@media screen and (max-width:40em){
	.jack-container{position:absolute;top:0; left:0;width:100%}
.total-jackpot{opacity:1;
-webkit-animation: flickerAnimation2 10s infinite;
   -moz-animation: flickerAnimation2 10s infinite;
   -o-animation: flickerAnimation2 10s infinite;
    animation: flickerAnimation2 10s infinite;
}
.paid-month {
    opacity:0;
   -webkit-animation: flickerAnimation 10s infinite;
   -moz-animation: flickerAnimation 10s infinite;
   -o-animation: flickerAnimation 10s infinite;
    animation: flickerAnimation 10s infinite;
}
@keyframes flickerAnimation2 {
  0%{ opacity:1; }5%  { opacity:0; }55%{ opacity:0; } 60% { opacity:1; } 100% { opacity:1; }
}
@-o-keyframes flickerAnimation2{
  0%{ opacity:1; }5%  { opacity:0; }55%{ opacity:0; } 60% { opacity:1; } 100% { opacity:1; }
}
@-moz-keyframes flickerAnimation2{
  0%{ opacity:1; }5%  { opacity:0; }55%{ opacity:0; } 60% { opacity:1; } 100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation2{
  0%{ opacity:1; }5%  { opacity:0; }55%{ opacity:0; } 60% { opacity:1; } 100% { opacity:1; }
}
@keyframes flickerAnimation {
  0%{ opacity:0; }5%  { opacity:1; }55%{ opacity:1; } 60% { opacity:0; } 100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
  0%{ opacity:0; }5%  { opacity:1; }55%{ opacity:1; } 60% { opacity:0; } 100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
  0%{ opacity:0; }5%  { opacity:1; }55%{ opacity:1; } 60% { opacity:0; } 100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%{ opacity:0; }5%  { opacity:1; }55%{ opacity:1; } 60% { opacity:0; } 100% { opacity:0; }
}
}
/*-- vTicker --*/
    .startSliderWrap { height: 163px !important; margin-bottom: 40px; }
     ul.mainDiv { width: 100%; }
     li.winner {  border-bottom: solid 1px #4c4c4c; height: 40px !important; line-height: 40px;overflow: hidden;}
    .winnerRow span:first-of-type { width: 23%; display: inline-block; }
    .winnerRow span:nth-child(2) { color:#a8a8a8; }
    .winnerRow span:nth-child(3) { float: right; padding-right: 2em; }
    .reviews p{margin:0;padding:0;}
    .reviews span{color:#9c9c9c;display:inline-block;margin-bottom:20px}
    .quotes-text{padding-bottom: 10px; border-bottom: 1px solid #4c4c4c;}
.winner .winnerRow .name,.winner .winnerRow .type,.winner .winnerRow .amount{overflow:hidden;top: 0;position: relative;vertical-align: top;}
.winner .winnerRow .name{width:157px;width: 28%;}
.winner .winnerRow .type{width: 300px;width: 55%;}
.winner .winnerRow .amount{width: 76px;padding-right: 1em;width: 15%;}
/*feeds*/

.section section:not(.column).jackpot-feeds-wraper-section{text-align:center;min-height: 107px;text-align: center;padding:0;}
.jackpot-feeds-wraper-section:before{background-image: url("//images.images4us.com/888casino/en/jackpot_bg-1458561720321.png");background-repeat:no-repeat;background-position: top center;background-size: cover;}
 span.jack-container span { color: #ffde00; }
.jackpot-feeds-wraper-section .text { position: relative; top: -6px; font-size: 18px; }
.feed,.JackpotTotalNumber,.jackpotText{font-family: '888Counter';font-size: 2.187em;}
.jack-container .text{font-weight:600;}
/*s-section*/
.stap-wrap{margin-bottom:25px;position:relative}
.stap-wrap figure{width:60px;position:absolute;}
.box-title,.step-text{padding-left:70px}
.box-title{font-size: 1.2em;font-weight: 600;}
.step-text{color: #818181;}
.section section:not(.column).grey-bg.s-section{padding-top:0}
/*stap-wrap*/
.stap-wrap{margin-bottom:20px;}

/********************************************************************************************************************/
/*flip slider*/
/*---- mobile sides shadows ----*/
.side-mobile-shadow1, .side-mobile-shadow2{ background-image: url("//images.images4us.com/888casino/en/side-mobile-shadow-1461236646501.png") ;background-repeat:no-repeat; top:1px; height: 34px; position: absolute; width: 27px;}
.side-mobile-shadow1 { left: 0; }
.side-mobile-shadow2 { right: 0; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
/*----/ mobile sides shadows ----*/
.output.games-wrap{display:block!important;overflow:hidden}
.mobile .games-wrap > .item.active{transform: translate3d(0%, 0px, 0px);left:0;}
.games-wrap>.item{position:absolute;top:0;display:block !important;width: 100%;height: 100%;transition-duration: 0.4s;}

.mobile .games-wrap > .item:nth-of-type(1){transform: translate3d(0%, 0px, 0px);left:0}
.mobile .games-wrap > .item:nth-of-type(2){transform: translate3d(100%, 0px, 0px);left:100%}
.mobile .games-wrap > .item:nth-of-type(3){transform: translate3d(200%, 0px, 0px);left:200%}
.mobile .games-wrap > .item:nth-of-type(4){transform: translate3d(300%, 0px, 0px);left:300%}
.mobile .games-wrap > .item:nth-of-type(5){transform: translate3d(400%, 0px, 0px);left:400%}

.pc .games-wrap > .item.active{left:0px;}
.pc .games-wrap > .item:nth-of-type(1){left:0}
.pc .games-wrap > .item:nth-of-type(2){left:100%}
.pc .games-wrap > .item:nth-of-type(3){left:200%}
.pc .games-wrap > .item:nth-of-type(4){left:300%}
.pc .games-wrap > .item:nth-of-type(5){left:400%}

.no-touch .item .teaser-hover-div{width:100%;height:90%;top:136px}
.large-text .games-wrap{font-size:1rem}
.large-text h2, .large-text #quotes-ticker{font-size:1.3rem}
.large-text .jackpot-feeds-wraper-section{font-size:1rem}
.s-section .teaser-data{margin: 10px auto 0;    padding: 2px 0; height: 60px;}
.large-text .games-wrap{font-size:1rem}
.large-text h2, .large-text #quotes-ticker{font-size:1.3rem}
.large-text .jackpot-feeds-wraper-section{font-size:1rem}
.s-section .teaser-data{margin: 10px auto 0;}
@media screen and (min-width:40.0625em){
	.quotes-text{padding-bottom:0; border-bottom: none}
	.leftBox{padding-right: 30px;}
	.rightBox{padding-left: 30px;border-left: 1px solid #4c4c4c;}
	.jackpot-feeds-wraper-section:before{background-size: initial;}
    .stap-wrap{width:50%;box-sizing:border-box;float: left;padding-right:35px}
    .stap-wrap:nth-of-type(3n+3) {clear:both;}
}
@media screen and (max-width:800px) and (min-width:768px){    
	.main-image-wrapper .offer {margin-right:-10%}
	}
@media screen and (min-width:768px){
	.main-img{height: 350px;padding-top: 0; background-size: 1920px;}
	.main-image-wrapper .offer {display: inline-block;float: right;height: 350px;background: rgba(17, 17, 17, 0.9);text-align: center;    min-width: 350px;}
	.main-image-wrapper .main-img-wrap{position:absolute;top:0;right:0;width: 100%;height: 350px;}
	.main-image-wrapper .dynamic-offer-container{padding: 0 1em;margin-top: 12px;max-width: 600px;}
	.main-image-wrapper .small-centered{padding:0;}
	.main-image-wrapper .row {background: transparent;}
    .main-image-wrapper .offer:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
    .main-image-wrapper .dot_border_banner{vertical-align: middle;display: inline-block;}
}
@media screen and (min-width:64.0625em){
	.first-grey-bg h2 { padding:0}
	.feed,.JackpotTotalNumber,.jackpotText{font-family: '888Counter';font-size: 3em;}
	.stap-wrap figure{width:90px;position:absolute;}
	.box-title,.step-text{padding-left:110px}
	.side-mobile-shadow1, .side-mobile-shadow2{background:transparent;}
.winner .winnerRow .name,.winner .winnerRow .type,.winner .winnerRow .amount{overflow:hidden;}
.winner .winnerRow .name{width:157px;}
.winner .winnerRow .type{width: 300px;top: 0;}
.winner .winnerRow .amount{width: 76px;padding-right: 1em;}
	
}

@media screen and (max-width:768px){
.main-image-wrapper .row.offer-steps{margin-bottom: -30px;}
}
@media screen and (max-width:414px){
.main-image-wrapper .row.offer-steps{margin-bottom: -30px;}
.main-image-wrapper .offer{margin-bottom: -10px;}
.main-image-wrapper .disclaimer {margin-top: -10px;}
}

/*s-section*/
   .output{margin-top:13px;}
.inner-tab-wraper{ overflow: hidden; }
.flipsnap .item{border-top: 1px solid #4c4c4c;border-bottom: 1px solid #4c4c4c;}
.flipsnap .item:hover{background:#3a3a3a;}
.flipsnap:before{background: #2D2D2D;content: "";width: 370%;display: block;height: 100%;position: absolute;top: 0px;left: -130%;right: 0;border-top: 1px solid #4c4c4c;border-bottom: 1px solid #4c4c4c;}
.items-container.mobile {overflow: hidden;margin: 0 auto;-webkit-transform: translateZ(0); }
.open-popup-link{display:block;}
.btn-center {  width: 100%;  text-align: center;  display: inline-block;padding-bottom:15px;}
.btn-center a{padding: 13px 10px!important;}
.items-container.pc {width: 100%;margin: 0 auto;-webkit-transform: translateZ(0); }
.flipsnap {  width: 965px;}
.flipsnap:after {content: '';display: block;  clear: both;  height: 0; }
.flipsnap .item {cursor: pointer;font-size: 1rem;text-align: center;float: left;color:white;padding: 5px 5px 5px 4px;font-weight: 600; width:193px;box-sizing: border-box;}
.flipsnap .item.active{color:#7cf700;}
.items-container.pc .flipsnap{padding:0;}
.items-container.pc .flipsnap .item{margin:auto;}
.inner-tab-wraper{ overflow: hidden; }
.item .teaser-hover-div{    top: 135px;}
/*END flip slider*/
   .warpLiveCasinoGameItem{height: 210px;}
.dealer-wrap .warpLiveCasinoGameItem{height:145px}
.teaser-data{text-align: center;font-size: 0.8em;}
.teaser-data a{text-decoration: none;display:block;}
.aligned-teaser-data {display:block;height: 40px;}
.aligned-teaser-data:before, .aligned-teaser-data .text{content:"";display: inline-block;vertical-align:middle;}
.aligned-teaser-data .text{width:78%;color:#fff;}
.aligned-teaser-data:before{content:"";height:100%;width:1px;}
.teaser-data .amount{color: #eed205;background: #373737;display: inline;padding: 2px 3px;display:block;width:89%;margin:0 auto;font-weight:600;}
.warpGameItemNotHover .teaser-hover-div {background: rgba(27, 27, 27, 0.85); }

   .s-section h1{font-size: 1.4em;background: transparent;font-weight:600;}
/*Realated list*/
@media screen and (min-width: 64.0625em) {
.warpGameItem{width: 25%;float: left;padding: 0 1%;box-sizing: border-box;}
}
@media screen and (min-width: 40.0625em)  and (max-width: 64em){
.warpGameItem{width: 25%;float: left;padding: 0 1%;box-sizing: border-box;}
}
@media screen and (min-width: 376px)  and (max-width:40em) {
.warpGameItem{width: 33.33%;float: left;padding: 0 1%;box-sizing: border-box;}
}
@media screen and (max-width: 375px) {
.warpGameItem{width: 100%;float: left;padding: 0 1%;box-sizing: border-box;}
}
.s-section .warpGameItemNotHover, .s-section .teaser-data{
 max-width: 180px;
    margin: 0 auto;
    text-align:left;
    font-size:0.8em;
}
.warpGameItemNotHover{
     position: relative;
    z-index: 0;
    overflow: hidden;
   
}
.related{position:relative;}
.seo-warper{position: relative;}

.teaser-hover-div{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 86px;
    top: 102px;
    z-index: 2;
    left: 0;
    text-align: center;
}

.related-button {
    width: 70%;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 12px;
}

.related-demo-button {
    width: 50%;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 4px;
}
.s-section .teaser-data .text{color:white;}
.s-section .teaser-data a{text-decoration: none;    text-align: center;}
.no-touch .warpGameItemNotHover:hover > .teaser-hover-div{top:15px;}
.no-touch .teaser-hover-div img{display:none;}

@media screen  and (max-width: 64.0625em) {
.swiper-container {width: calc(100% - 63px); height: auto;}
 .arrow-left {left: 0.5em;}
 .arrow-right { right: 0.5em;}
}
     #entry_popup_wrapper {	
	position: absolute;
	top: 0px;
	left: 0px;
                z-index: 1000;
	width: 100%;
/*	height: 100%;*/
	display: none;
}

#entry_popup_wrapper #entry_popup_overlay {
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	visibility: visible;
	width: 100%;
	z-index: 50;
	background: black;
	opacity: 0.7;
	filter: alpha(opacity=70);
       
}

#entry_popup_wrapper #entry_popup {
	left: 50%;
	position: fixed;
	visibility: visible;
	z-index: 51;
margin-top:-241px;
}

* html #entry_popup_wrapper #entry_popup {
	position: absolute;
}

#entry_popup{
  top: 50% !important;
}
   .StickyMSG{
  margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    color: #000000;
    display: block;
    background: #ffe401;
    z-index: 10;
    height: 60px;
    text-align: center;
    width: 100%;
}

.StickyMSG a{
    color: #000000 !important;
    font-weight: bold;
}
