*, html, body, ul, ol, dl, li, dt, dd {margin:0px; padding:0px;}
html {height: 100%;}
body {min-height: 100%; position: relative; margin: auto; font-family: 'Roboto', sans-serif; font-size:15px;  -webkit-font-smoothing: antialiased; }
h1,h2,h3,h4,h5,h6 { font-weight:normal }
a {outline: none; color:#109bca}
a:hover {text-decoration: none;}
img {border: none; display: block;}
/*@media all and (-webkit-min-device-pixel-ratio:0) {
body{font-family:serif !important }
}*/
/*noindex:-o-prefocus,  body {font-family:serif !important }
@-moz-document url-prefix()
{
	.n-surly_info_foot { height:36px !important }
	.n-surly_info_foot_form { margin:1px 0 0 9px}
}
*/
.-n-mobile-tabl.navigation { display:none !important }
li {list-style-type:none;}
.title_top:after, .description_site:after, .inner_wrapper:after, .wrapper_G_Y:after, .wrapper_tables:after, .traffic:after, .row_social:after, .server_DNS .row_tables:after, .list_sites_similar:after, .dns_records:after, .table_months:after, .general:after, .server_page .row_tables:after, .list_install:after, .compare_domains .one_domain:after, .counters:after { content:''; clear:both; display:block}
table {border-collapse:collapse; border-spacing:0;}
.left {float: left; }
.right {float: right; }
/*HTML5*/
header, section, footer, nav, article, aside {display: block;} 

/*---HEADER---*/
header {
	background:#ffaa3d;
	min-width:1000px;
	}
	header .inner_wrapper {
		height: 68px
		}
	header .logo_main {
		display:block;
		width:192px;
		height:32px;
		position:absolute;
		background:url(../img/logo.png) no-repeat;
		top:18px;
		left:20px;
		}
		#search_form {
			border-bottom: 1px solid #ffd59e;
			left: 349px;
			position: absolute;
			width: 300px;
			top: 18px;
		}
		#search_form input {
			background:none;
			border:none;
			height:33px;
			font-size:15px;
			color:#fff;
			width:271px;
			padding:0 30px 0 5px;
		}
		#search_form .button_search {
			display:block;
			position:absolute;
			top:8px;
			right:0;
			width:20px;
			height:20px;
			background:url(../img/icon_search.png) no-repeat
			}
		#search_form input:focus                            {color: transparent;}
		#search_form input:focus::-webkit-input-placeholder {color: transparent;}
		#search_form input:focus::-moz-placeholder          {color: transparent;}
		#search_form input:focus:-moz-placeholder           {color: transparent;}
		#search_form input:focus:-ms-input-placeholder      {color: transparent;}

		#search_form input[placeholder]               {text-overflow:ellipsis; color:#ffffff;}
		#search_form input::-webkit-input-placeholder {text-overflow:ellipsis; color:#ffffff;}
		#search_form input::-moz-placeholder          {text-overflow:ellipsis; color:#ffffff;}
		#search_form input:-moz-placeholder           {text-overflow:ellipsis; color:#ffffff;}
		#search_form input:-ms-input-placeholder      {text-overflow:ellipsis; color:#ffffff;}

		.login_in {
			position: absolute;
			right: 20px;
			top: 18px;
		}
		.login_in .active, .login_in a:hover {
			border: 1px solid #fff;
			padding: 3px 8px;
		}
		.login_in .active {
			opacity:1 !important
			}
		.login_in a:hover {
			opacity: 0.8
			}
		.login_in a {
			border: none;
			border-radius: 5px;
			color: #fff;
			font-size: 18px;
			line-height: 32px;
			padding: 4px 9px;
			text-decoration: none;
		}
		.login_in a {
			margin:0 6px 0 0
			}
		.login_in a + a {
			margin:0;
			}
.inner_wrapper {
	width:960px;
	padding:0 20px;
	position:relative;
	margin:auto;
	clear:both
	}
/*---CONTENT---*/
section {
padding: 0 0 80px	
}
.part_sand {
	background:#fcf9f4;
	clear:both;
	min-width:1000px;
	border-bottom:1px solid #d2d2d2
	}
.part_white {
	background:#fff;
	clear:both;
	min-width:1000px;
	border-bottom:1px solid #d2d2d2
	}
.description_site {
	border-bottom:1px solid #d2d2d2;
	min-width:1000px;
}
.description_text {
    margin: 30px 0 0;
    word-wrap: break-word;
}
.description_text.left {
	/*width:380px;*/
	margin:0
	}
.description_text.left.bottom-desc {
    padding: 0 0 30px;
}
	.description_text h1, .compare_domains .one_domain > div .title {
		font-weight:bold;
		font-size:32px
		}
	.description_text.left h2 {
		color: #7f7f7f;
		font-size: 20px;
		margin: 4px 0 9px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 630px;
        font-weight: 500;
		}		
	.description_text.left p {
		color:#7f7f7f;
		font-size:16px;
		width: 630px;
		line-height:150%
		}
		.description_text.left h1 a, .compare_domains .one_domain > div .title > a, #domainData .seeMore {
			text-decoration:none;
			color:#109bca;
			padding:0 30px 0 0;
			background:url(../img/icon_link.png) 100% 64% no-repeat;
			}
		.description_text.left h1 a:hover, .compare_domains .one_domain > div .title > a:hover {
			text-decoration:underline
			}
.screenshot_site.right {
	margin:0
	}
	.screenshot_site.right span {
		box-shadow: 0 6px 19px -1px #ccc;
	    -webkit-box-shadow: 0 6px 19px -1px #ccc;
		-moz-box-shadow: 0 6px 19px -1px #ccc;
		display: block;
		height: 180px;
		overflow: hidden;
		width: 300px;
		margin-bottom: 25px;
	}
.info_site {
	clear:both;
	}
	.info_site table {
		width:300px;
		float:left;
		font-size:15px;
		margin:20px 0 30px;
        word-break: break-word;
		}
	.info_site table + table {
		margin-left: 30px
		}
	.info_site table th {
		color:#7f7f7f;
		text-align:left;
		font-weight:normal;
		height:63px;
		border-bottom:1px solid #e5e5e5
		}	
	.screenshot_site a:hover {
		text-decoration:underline
		}
	.screenshot_site a {
		color:#109bca;
		text-decoration:none;
		font-weight:normal
		}
	.info_site table th + th {
		color:#474747;
		}	
	.info_site table td {
		color:#7f7f7f;
		padding: 4px 0
		}	
	.info_site table td + td {
		color:#000;
		}
	.info_site table tr + tr td {
		padding: 16px 0 4px;
		vertical-align: top;
	}
	.info_site table tr + tr + tr td {
		padding: 4px 0;
		vertical-align: top;
	}
	.global_rank_site td {
		width: 205px
		}
	.global_rank_site td + td {
		width:auto
		}
	.global_rank_site th b {
		font-size: 32px;
		white-space: nowrap;
	}
	.global_rank_site th b.small {
		font-size: 24px
	}
	.global_rank_site th b.smallest {
		font-size: 20px
	}
	.rating_site td {
		width:150px;
		}
	.rating_site td + td {
		width:auto;
		}
	.status-online {
		position:relative;
		color:red;
		font-weight:bold;
		padding:0 0 0 18px;	
		}
	.status-online.active {
		color:#1db458
		}
	.status-online:before {
		content:'';
		display:block;
		position:absolute;
		width:14px;
		height:14px;
		border-radius:14px;
		-moz-border-radius:14px;
		-ms-border-radius:14px;
		-webkit-border-radius:14px;
		top:3px;
		left:0;
		background:red
		}
	.status-online.active:before {
		background:#1db458
		}
	.info_site table.name_site td strong {
		color:#7f7f7f;
		font-weight:normal
		}
		.name_site {
		margin-bottom:50px !important;	
		}
		.name_site p {
			display: inline-block;
			height: 86px;
			width: 300px;
		}
	.info_site table.name_site td {
		color: #3e3e3e;
		line-height: 190%;
		padding: 13px 0 4px;
	}		
	.stars_rating { 
		display:inline-block;
		height:23px;
		width:0;
		position:relative;
		background:url(../img/icon_stars.png) no-repeat;
	}
	.stars_rating.rating_0 {
		width:0px
	}
	.stars_rating.rating_1 {
		width:12px
	}
	.stars_rating.rating_2 {
		width:30px
	}
	.stars_rating.rating_3 {
		width:42px
	}
	.stars_rating.rating_4 {
		width:60px
	}
	.stars_rating.rating_5 {
		width:72px
	}
	.stars_rating.rating_6 {
		width:90px
	}
	.stars_rating.rating_7 {
		width:103px
	}
	.stars_rating.rating_8 {
		width:120px
	}
	.stars_rating.rating_9 {
		width:133px
	}
	.stars_rating.rating_10 {
		width:145px
	}
	.stars_rating:before {
		content:'';
		display:block;
		position:absolute;
		top:0;
		left:0;
		opacity:0.5;
		width:145px;
		height:23px;
		background:url(../img/icon_stars.png) no-repeat
	}

.title_top .title {
	font-size: 30px;
	color:#3e3e3e;
	font-weight:500;
	float:left;
	}
p.title span {
	line-height: 14px;
}
.title_top {
	padding: 28px 0 0;
}
.title_top.f-title-i {
    clear: both;
    padding: 0;
}
.title_top .button_top, .button_site .button_top {
	border: 1px solid;
	border-radius: 5px;
	float: right;
	font-size: 16px;
	display:inline-block;
	margin: 4px 0 0;
	padding: 5px 8px;
	text-decoration: none !important;
}

.button_top.orange_bt:hover {
	background:#ffaa3d;
	color:#fff
	}
.button_top.orange_bt {
	color:#ffaa3d;
	}
.button_top.sky_bt:hover {
	background:#109bca;
	color:#fff
	}
.button_top.sky_bt {
	color:#109bca;
}
.short_link {
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	max-width:210px;
	}	
.longLink {
	max-width: 510px;
	display: inline-block;
	line-height: 23px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
.longLink:hover {
	text-decoration:underline
	}
.description_txt {
	color: #7f7f7f;
	padding: 10px 0;
	width: 100%;
	font-size:16px;
	line-height: 150%;
}
.description_txt > p {
    padding: 0 0 20px;
}
.popular_countries .map_img {
	width:629px;
	height:419px;
	overflow:hidden
}
#mapdiv {
	margin:0 0 50px
	}
.table-medium {
	width:100%;
	}
.table-medium.inner {
	width:650px;
}
	.table-medium .title, .competitors_info .title, .round_statistics .title, .social_metrics .title-traffic, .popular_post .title, .engagement .social_metrics .title {
		font-size:20px;
		color:#3e3e3e;
		padding: 10px 0;
		border-bottom:1px solid #e2e0db
		}
	.part_white.competitors_info.right .title {
		padding: 0 0 10px;
		}
	.list_countries table {
		width:300px;
		margin:9px 0 0
		}
		.list_countries table td {
			color:#3e3e3e;
			padding:6px 0;
			}
		.list_countries table td + td {
			width:100%;
			padding:6px 9px
			}
		.list_countries table td + td + td {
			color:#000;
			font-weight:bold;
			width:auto;
			text-align: right;
			white-space: nowrap;
			}
		.list_countries .flag_icon, .rating_site .flag_icon, .rank_part .Ranks_site .flag_icon {
			display:inline-block;
			width:16px;/*auto*/
			height:11px;
			background-repeat:no-repeat;
			background-position:50% 50%
			}
		.table-medium.-t-countries.-t-rank td + td {
			padding:6px /*20px*/9px 6px 9px
			}
		.table-medium.-t-countries {
			margin:0 0 28px
			}
		.table-medium.-t-countries tr {
			cursor:pointer
			}
		.table-medium.-t-countries tr:hover {
			background:#f6f3ee;
			}
			
			
/*diagram_site*/
.diagram_site .description_txt {
	width:630px;
	margin:0 0 22px
	}
.diagram_site {
	width:630px;
	float:left;
	margin:0 0 26px
	}
.part_white.competitors_info {
	background: inherit;
	clear: none;
	border-bottom:none;
	min-width:300px;
	width: 300px;
	margin:0 0 50px
}
.diagram_site .object_one {
	margin:0 0 42px;
	height:203px
	}
	.diagram_img img + img { display:none } 
	.diagram_site .object_one .diagram_img {
		color: #3e3e3e;
		font-size: 20px;
		margin: 16px 0 0;
		}
		.diagram_site .object_one .title {
			font-size:20px;
			color:#3e3e3e;
			position:relative;
			padding:0 0 10px;
			border-bottom:1px solid #ececec
			}
			.diagram_site .object_one nav, .dns_menu { 
			position:absolute;
			top:0;
			right:0
			}
				.diagram_site .object_one nav a, .dns_menu a { 
				font-size:15.5px;
				color:#7f7f7f;
				margin:0 15px 0 0;
				text-decoration:none;
				padding:0 0 12px;
				position:relative
				}
				.diagram_site .object_one nav a:hover, .dns_menu a:hover {
					color:#109bca	
				}
				.diagram_site .object_one nav a.active, .dns_menu a.active {
					color:#e54700
				}
				.diagram_site .object_one nav a.active:before, .dns_menu a.active:before { 
				content:'';
				display:block;
				height:2px;
				width:100%;
				position:absolute;
				background:#e54700;
				bottom:0;
				left:0;
				}
				.menu_month_left_2 {
					float: left;
					margin:15px 0 0;
					position: relative !important;
					width: 180px;
				}
					.menu_month_left_2 a {
					  clear: both;
					  float: left;
					  margin: 0 0 10px !important;
					  padding: 0 !important;
					}
					.menu_month_left_2 a.active:before {
					display:none !important
					}
					.competitors_info .title {
						position:relative
					}
					.competitors_info .worldwide {
						border-bottom: 1px dotted;
						color: #e54700;
						font-size: 16px;
						line-height: 105%;
						position: absolute;
						right: 18px;
						text-decoration: none;
						top: 15px;
					}
					.competitors_info .worldwide:hover {
						border:none
					}
					.rank_and_visitors {
						width: 100%;
						margin:15px 0 0
						}
					.rank_and_visitors th {
						text-align:left;
						font-size:13px; 
						color:#7f7f7f;
						text-transform:uppercase;
						font-weight:normal
						}
					.rank_and_visitors td {
						border-bottom: 1px solid #e2e0db;
						font-size: 18px;
						font-weight: 500;
						padding: 12px 10px 12px 0;
						vertical-align: top;
						white-space: nowrap;
					}
					.rank_and_visitors td + td {
						font-weight:normal;
						color:#3e3e3e;
						line-height:165%;
						font-size:15px
						}
					.rank_and_visitors td a:hover {
						text-decoration:underline
						}
					.rank_and_visitors td a {
						font-size:18px;
						text-decoration:none
						}
					.rank_and_visitors .active td {
						color:#e54700
						}
					.rank_and_visitors .active a {
						color:#e54700
						}
					.rank_and_visitors .active td + td {
						color:#3e3e3e;
						}
					.rank_and_visitors .-seper-r { color:#adadad }
					.rank_and_visitors td + td span { color:#000 }

.subdomains_info {
	min-height: 140px;
}
.subdomains_info .table-medium.-t-mywot {
	width: 629px;
	margin:30px 0 74px
	}
	.subdomains_info .table-medium.-t-mywot table {
	width:100%;
	margin:7px 0 0
	}
		.subdomains_info .table-medium.-t-mywot table td {
			width:180px;
			padding:6px 0
		}
		.subdomains_info .table-medium.-t-mywot table td + td {
			color:#3e3e3e;
			font-weight:bold;
			width:50px;
			text-align:right
		}
		.subdomains_info .table-medium.-t-mywot table td + td + td {
			padding: 6px 0 6px 30px;
			width: 221px;
		}
		.table-medium.-t-mywot table a {
		text-decoration:none
		}
		.table-medium.-t-mywot table a:hover {
		text-decoration:underline
		}
		.progress_bar_subdomains {
			background:#109bca;
			height:6px
			}
.round_statistics {
	width:300px;
	height:215px;
	margin:30px 0 0;
	position:relative
	}
.round_statistics .circle {
		position: absolute;
		right: 50px;
		top: 75px;
	}
	.round_info {
		margin: 6px 0 0;
		overflow: hidden;
		}
	.round_info p {
		font-size:38px;
		color:#3e3e3e;
		width: 135px;
		line-height: 104px;
		text-align: right;
		}
	.round_info a {
		text-decoration:none
		}
	.round_info a:hover {
		text-decoration:underline
		}
	.round_img {
		clip: rect(0px, 100px, 100px, 50px);
		height: 100px;
		right: 0;
		position: absolute;
		width: 100px;
	}	
	.round_img {
	  transform: rotate(116.28deg);
	}	
	
	
	.round_img span {
  border-radius: 100px;
  clip: rect(0px, 50px, 100px, 0px);
  height: 100px;
  position: absolute;
  width: 100px;
}	

.round_img span {
  background-color: blue;
  border-color: blue;
  transform: rotate(109.8deg);
}

/*seo_info*/
.seo_info .inner_wrapper {
	margin:0 auto 20px
	}
	.Ranks_site {
			/*width: 630px;*/
			margin:15px 0 0
		}
		.Ranks_site .top, .Ranks_sites .top {
			border-bottom: 1px solid #ececec;
			padding:10px 0;
			}
			.Ranks_site .top > span, .Ranks_sites .top > span  {
				font-size:20px;
				font-weight:500;
				color:#3e3e3e
				}
				.Ranks_site .top > a:hover {
					text-decoration:underline
				}
				.Ranks_site .top > a, .see_more_updates {
					float: right;
					font-size: 16px;
					position: relative;
					text-decoration: none;
					top: 4px;
				}
				.Ranks_site_wrapper {
					width: 630px;
					float: left;
				}
		.Ranks_site {
			}
			.wrapper_G_Y {
				border-bottom: 1px solid #ececec;
				padding:20px 0;
				width: 630px;
				}
				.wrapper_G_Y span {
					display: block;
					float: right;
					max-width: 265px;
					padding: 25px 33px 0 15px;
				}
				.wrapper_G_Y p {
					font-size:54px;
					color:#404040;
					line-height:124%
				}
				.wrapper_G_Y small {
					font-size: 15px;
					color:#7f7f7f
				}
				.wrapper_G_Y .google_view {
					position:relative;
					width:315px;
				}
				.wrapper_G_Y .google_view:after, .wrapper_G_Y .yandex_view:after {
					content:'';
					display:block;
					position:absolute;
					top:8px;
					left:14px;
					background-image:url(../img/icons_yandex_google.png)
				}
				
				.wrapper_G_Y .google_view:after {
					width:93px;
					height:32px;
					background-position:0 -53px;
				}
				.wrapper_G_Y .yandex_view {
					position:relative;
					width:314px;
					border-left: 1px solid #ececec;
				}
				.wrapper_G_Y .yandex_view:after {
					width:72px;
					height:28px;
					background-position:-11px -4px;
					top:4px !important;
				}
	.Ranks_site .wrapper_tables {
		width: 300px;
		}
	.Ranks_site.first_domain .wrapper_tables, .Ranks_site.second_domain .wrapper_tables {
		width:auto
		}
	.Ranks_site .wrapper_tables .table-medium.-t-t_links {
		height: 209px;
	}
	.Ranks_site .wrapper_tables .table-medium {
		width:300px;
		margin: 0 0 16px;
		}
		.Ranks_site .wrapper_tables .table-medium table {
		margin:6px 0 0
		}
		.Ranks_site .wrapper_tables .table-medium span.-r- {
		font-size: 15px;
		color:#7f7f7f;
		padding:0 1px 0 0;
		float:right;
		position:relative;
		top: 4px
		}
		.-t-t_links span.-r- {
			padding:0 14px 0 0 !important
			}
		.Ranks_site .wrapper_tables .table-medium td {
		width:100%;
		color:#3e3e3e;
		padding:6px 0
		}
		.Ranks_site .wrapper_tables .table-medium td + td {
		font-weight:bold;
		text-align:right;
		color:#000
		}
		
/*		.Ranks_site .wrapper_tables .table-medium.-t-t_links td + td {
			width:150px;
			text-align:center
		}
		.Ranks_site .wrapper_tables .table-medium.-t-t_links td {
			width:450px
		}
*/		.Ranks_site .wrapper_tables .table-medium.-t-t_links td + td {
			width:50px;
			text-align:center
		}
		.Ranks_site .wrapper_tables .table-medium.-t-t_links td {
			width:250px
		}
		.Ranks_site .wrapper_tables .table-medium td a, .table-medium.-t-registar_status td a, .list_parsed_domain a, .detail_dns_table a, .list_sites_similar li .title {
		text-decoration:none
		}
		.Ranks_site .wrapper_tables .table-medium td a:hover, .see_more_updates:hover, .table-medium.-t-registar_status td a:hover, .list_parsed_domain a:hover, .detail_dns_table a:hover, .list_sites_similar li .title:hover {
		text-decoration:underline
		}
.table-medium.-t-history_info {
    margin:30px 0 40px;
	}
	.list_history {
		margin:15px 0 25px
	}	
	.list_history li time {
		font-size:13px;
		color:#7f7f7f;
	}
	.list_history li {
		margin:0 0 20px
	}	
	.see_more_updates {
		float:none	
	}	
	.site_name {
		float: right;
		height: 30px;
		margin: 5px 2px 0 0;
		position: relative;
		width: 298px;
		display:none
	}
	.site_name input {
		border:1px solid #cacaca;
		width: 264px;
		height:30px;
		border-radius:4px;
		font-size:16px;
		color:#3e3e3e;
		padding:0 27px 0 7px
	}
	.site_name .button_enter {
		background: url("../img/icon_enter.png") no-repeat scroll 2px 50% rgba(0, 0, 0, 0);
		display: block;
		height: 31px;
		position: absolute;
		right: -1px;
		top: 0;
		width: 24px;
	}	
	.site_name .button_enter:hover, .search_main .button_search:hover {
	opacity:0.8
	}
.domain_whois .inner_wrapper {
	margin:0 auto 60px
	}
.domain_whois .general {
	margin:15px 0 0
	}
	.general .table-medium.-t-domain_availability {
	margin:30px 30px 0
	}
	.general .table-medium.-t-domain_availability a {
		text-decoration: none;
	}
	.general .table-medium.-t-domain_availability a:hover {
		text-decoration: underline;
	}
	.-t-creation_time table td p {
		width:auto !important
	}
	.-t-creation_time table td small, .-t-creation_time table th small {
		width:auto !important;
		color:#7f7f7f;
		font-size:15px
	}
	 .-t-creation_time table th small {
		position:relative;
		top:-10px	 
	}
	.table-medium.-t-creation_time table {
		margin:13px 0 20px;
		width: 100%;
		}
	.table-medium.-t-registar_status table, .table-medium.-t-domain_availability table {
		width:100%;
		margin:9px 0 0
	}
	.table-medium.-t-creation_time	th, .table-medium.-dns- ul li p, .-t-creation_time table td p {
		font-size:28px;
		font-weight:normal;
		width:50%;
		text-align:left;
		color:#3e3e3e
		}
	.table-medium.-t-creation_time	td {
		width:330px;
		}
	.table-medium.-t-creation_time	td + td {
		width:330px;
		}
	.table-medium.-t-creation_time	td + td + td {
		width:272px;
		}
		.table-medium.-t-creation_time.left.inner td + td {
			width:300px;
			}
		.table-medium.-t-creation_time.left.inner td {
			width:310px;
			}
	
	.table-medium.-dns- ul li small {
		color:#7f7f7f;
		width:50%
		}
	.table-medium.-t-registar_status, .table-medium.-t-domain_availability {
		width: 300px;
		margin:30px 0 0
		}
		.table-medium.-t-registar_status td {
			color:#7f7f7f;
			vertical-align:top;
			min-width:75px;
			padding:6px 0
			}	
		.table-medium.-t-registar_status td p {
			margin:0 0 6px;
			word-break:break-all
			}
		.table-medium.-t-registar_status td + td {
			color:#3e3e3e;
			width:auto;
			}
		.parsed  {
			width:300px;
			margin: 30px 0 0
			}
		.table-medium.-t-domain_availability td + td {
			text-align:right;
			padding:6px 11px
			}
		.table-medium.-t-domain_availability td {
			color:#3e3e3e;
			padding:6px 0;
			}
		.-c-red {
			color:#e54700 !important
			}
		.-c-green {
			color:#1db458 !important
			}
		.list_parsed_domain {
			margin:15px 0 36px
			}
		.list_parsed_domain li {
			margin:0 0 12px
			}
		.list_parsed_domain span {
			color:#7f7f7f;
			padding:0 6px 0 0
			}
.social_engagement .inner_wrapper {
	margin: 0 auto 45px
	}
	.social_metrics {
		width:630px;
		margin:15px 0 0
		}
.social_metrics.report-metrics {
    width: 100%;
}

.report-metrics .social_icons {
    width: 402px;
}

.report-metrics .social_icons .facebook_icon {
    width:275px;
}

.report-metrics .row_social ul {
    box-sizing: border-box;
    margin: 0;
    padding: 105px 20px 0 0;
    width: 29%;
}

.report-metrics .row_social ul:last-child {
    width:13%
}

.report-metrics .tw_icon {
    padding: 105px 0 0 !important;
}
.report-metrics .tw_icon::after {
    left: 0 !important;
}

.report-metrics .circle {
    left: 256px;
}

		.traffic {
			margin:30px 0 0;
			border-bottom:1px solid #ececec;
			height:181px;
			position:relative
			}
			.perc_soc {
			width:330px;
			float:left;
			padding:70px 0 0
			}
			.circle {
			height: 100px;
			position: absolute;
			top: 55px;
			width: 100px;
			left: 168px;
			}
			.traffic .perc_soc > p {
			font-size: 38px;
			color:#3e3e3e;
			line-height:115%
			}
			.traffic .perc_soc > small {
			font-size:15px;
			color:#7f7f7f;
			width:140px;
			display:inline-block
			}
			.social_icons {
				width:300px;
				float:right
				}
				.social_icons ul {
					width:50%;
					float:left;
					position:relative;
					padding:50px 0 0 0
					}
				.row_social ul {
					width:20%;
					float:left;
					position:relative;		
					padding:105px 0 0 0;
					margin:0 0 0 40px
					}
				.google_icon {
					margin:0 !important
					}
				.social_icons ul:after, .row_social ul:after {
					content:'';
					display:block;
					position:absolute;
					top:0;
					left:0;
					background-image:url(../img/sprite_social_icons.png);
					background-repeat: no-repeat
					}
				.row_social {
					margin:30px 0 0
					}
					.social_icons li p, .row_social li p {
						font-size:26px;
						font-weight:500;
						line-height:106%
						}
					.social_icons li small, .row_social li small {
						color:#7f7f7f;
						font-size:15px;
						}
					.facebook_icon:after {
						width:35px;
						height:35px;
						}
					.facebook_icon li + li {
						margin: 10px 0 0
						}
					.facebook_icon li p {
						color:#3b5999;
						}
					.google_icon li p {
						color:#dd4b39;
						}
					.in_icon li p {
						color:#017fb2;
						}
					.pins_icon li p {
						color:#ca2027;
						}
					.stumble_icon li p {
						color:#f04e23;
						}
				.tw_icon {
					padding: 105px 0 0 18px !important;
					width: auto !important;
				}	
				.tw_icon:after {
						width:42px;
						left:19px !important;
						height:35px;
						background-position:0 -107px
						}
					.tw_icon li p {
						color:#01bbf6
						}
					.google_icon:after {
						width:36px;
						height:36px;
						background-position:0 -35px;
						}
					.in_icon:after {
						width:36px;
						height:36px;
						background-position:0 -178px
						}		
					.pins_icon:after {
						width:36px;
						height:36px;
						background-position:0 -71px
						}
					.stumble_icon:after {
						width:36px;
						height:36px;
						background-position:0 -142px
						}
					.popular_post {
						width:300px;
						margin:15px 0 0
						}
					.plugin_block {
						margin:24px 0
						}
.server_DNS .row_tables {
	margin:15px 0 0
	}
.table-medium.-dns- {
	width: 300px
	}
#server .table-medium.-dns-:first-child {
	width:630px;
}
.description_text.left.bottom-desc h2 {
    color:#2e2e2e
}
.table-medium.-dns- + .table-medium.-dns- {
	margin: 0 0 0 30px
	}			
	.table-medium.-dns- ul {
		margin: 13px 0 0 0
		}	
		.table-medium.-dns- ul li {
			margin:0 0 19px
			}	
		.table-medium.-dns- ul li p {
			width: auto !important
			}	
		.table-medium.-dns- ul li small {
			width: auto !important;
			font-size: 15px
			}	
		.list_servers {
			margin:15px 0 0 !important
			}
		.list_servers li {
			color:#3e3e3e;
			font-size:15px;
			margin:0 0 12px !important
			}
.server_DNS .inner_wrapper {
	margin:0 auto 64px
	}
	
.table-dns-inner {
	overflow:auto;
	width:960px;
	outline:none;
	padding:0;
	}
	.jspPane table {
	position:relative;
	
	}
	.jspPane table tr:first-child td {
		padding-top:  0
		}
	.jspPane table tr:last-child td {
		padding-bottom:  0
		}
.dns_menu {
	right: 12px !important
	}
	.dns_menu a { margin-right:14px !important }
.dns_records {
	margin: 42px 0 0
	}
	.dns_records .dns-type-column-mx {
		width: 60px;
		padding-left:20px
	}
	.dns_records .dns-type-table {
		display: none;
	}
	.dns_records .dns-type-table:first-child {
		display: table;
	}
	.dns_records .title {
	border-bottom: 1px solid #ececec;
	color: #3e3e3e;
	font-size: 20px;
	padding: 0 0 10px;
	position: relative;
	width:630px
	}	
	.dns_records .title p {
		color: #3e3e3e;
		font-size: 20px;
		}		
	.wrapper_dns_table {
		margin:10px 0 0;
		width:630px
		}	
		.table-dns table {
			width:630px;
			}
		.wrapper_dns_table .table-dns-inner {
			width:630px
			}
		.table-dns th {
			font-size:13px;
			font-weight:normal;
			text-align:left;
			padding: 5px 0 15px;
			text-transform:uppercase;
			color:#7f7f7f;
			width:180px
			}	
		.table-dns td, .table-dns th {
			
			}
		.table-dns tr + tr + tr td {
			border-top:1px solid #ececec;
		}
		.table-dns td {
			color:#3e3e3e;
			padding: 6px 0;
			vertical-align: top;
			}
			
		.table-dns td + td, .table-dns th + th {
			/*width:330px;*/
			padding-left: 20px;
			padding-right: 20px;
			width: 100%;
			}
		.table-dns td + td + td, .table-dns th + th + th {
			/*width:60px*/
			padding-left: 0;
			padding-right: 0;
			width: auto;
			min-width:0
			}
		.-valueDNS {
			word-break:break-all			}
		.detail_dns_table {
			width: 300px
			}
			.detail_dns_table .title {
				width:auto
				}
			.detail_dns_table ul {
				margin:15px 0 0
				}
			.detail_dns_table li {
				margin:0 0 12px
				}	
				.part_white.safety_site	 {
					padding: 0 0 54px
					}	
.safety_site .table-medium {
	width:300px;
	margin: 15px 0;
	float: left
	}
	.safety_site .table-medium + .table-medium {
		margin-left:30px;
		}	
	.safety_site .table-medium th {
		width:100%;
		text-align:left;
		border-bottom:1px solid #ececec;
		padding:10px 0;
		color:#3e3e3e;
		font-weight:normal
		}		
	.safety_site .table-medium th + th {
		width:auto;
		text-align:right
		}
	.safety_site .table-medium th b {
		font-size: 32px;
		color:#249b00;
		padding:0 11px 0 20px;/*0 20px*/
		line-height: 43px;
		white-space: nowrap;
		text-align: right;
	}
	.safety_site .table-medium td {
		color:#7f7f7f;
		text-align:left;
		width:178px !important;
		padding:16px 0 6px
		}
	.safety_site .table-medium tr + tr + tr td {
		padding:6px 0
		}
	.safety_site .table-medium tr + tr + tr td + td + td {
		padding: 6px 11px;
	}
	.safety_site .table-medium td + td {
		color:#3e3e3e;
		padding:16px 11px 6px 23px;
		width:31px !important;
		text-align: right;
		font-weight:bold;/**/
		}
	.safety_site .table-medium td + td + td {
		font-weight:normal;
		padding:16px 11px 6px;
		white-space: nowrap;
		}
	.safety_site .long_word {
		font-size:23px;
	}
	.safety_site .table-medium tr + tr + tr td + td {
		padding: 6px 11px 6px 23px;
	}
	.-t-siteadvisor td {
		padding:3px 0 !important
		}
	.-cc-green {
		color:#249b00 !important
		}
	.-cc-yellow {
		color:#ffc13d !important
	}
	.-cc-orange {
		color:#e54700 !important
	}
	.-cc-red {
		color:#ff0000 !important
		}
	.-cc-gray {
		color:#7f7f7f !important
	}
	.-c-Top {
		margin:13px 0 0
		}
	.wrapper_dns_table .-c-Top {
		margin:5px 0 0
	}
.wrapper_DL {
	height:76px;
	padding:20px 0;
	}	
.wrapper_DL > div {
	float:left;
	text-align:center;
	height:100%
	}
	.wrapper_DL > div p {
		font-size:32px;
		font-weight:500;
		margin:0 0 7px
	}
	.wrapper_DL > div small {
		font-size:15px;
		font-weight:normal
	}
.wrapper_DL .likes {
	width:140px;
	}
	.wrapper_DL > div.likes {
		color:#249b00
	}
.wrapper_DL .dislikes {
	width:154px;
	border-left:1px solid #ececec
	}	
	.wrapper_DL > div.dislikes {
		color:#ff0000
	}
	.like-n-, .dislike-n- {
		display:inline-block;
		width:29px;
		height:24px;
		margin:0 3px;
		background-image:url(../img/sprite_social_icons.png);
		background-repeat:no-repeat
		}	
	.like-n- {
		background-position: -35px 0
		}
		
	.dislike-n- {
		background-position: -64px 0
		}
	.safety_site .table-medium.google_safe td b {
		padding:0 29px 0 59px
		}
.list_sites_similar {
	margin: 44px 0 29px;
	}
	.list_sites_similar li:nth-child(3n+1) {
		clear:both;
		margin-left:0
		}
	.list_sites_similar li {
		float:left;
		margin:0 0 28px 30px
		}		
		.list_sites_similar li .title {
		font-weight: 500;
		margin: 0 0 12px;
		display: inline-block;
		}
		.list_sites_similar li .img_site {
			display:block;
			width:298px;
			height:182px;
			transition:ease all 0.4s;
			-moz-transition:ease all 0.4s;
			-ms-transition:ease all 0.4s;
			-webkit-transition:ease all 0.4s;
			overflow:hidden;
			border: 1px solid #ececec
			}		
		.list_sites_similar li .img_site:hover {
			opacity:0.6
			}
			
/*page rank history*/	
.description_site.second_page .info_site table {
	margin: 10px 0 35px
	}
.description_site.second_page .info_site.right {
	clear:none
	}
.pagerank_history {
	box-shadow:0 35px 30px -37px #ccc inset;
	-webkit-box-shadow:0 35px 30px -37px #ccc inset;
	-moz-box-shadow: 0 35px 30px -37px #ccc inset;
	}
.pagerank_history a {
	text-decoration:none
	}
.pagerank_history a:hover {
	text-decoration:underline
	}
.list_stories {
	margin:0 0 100px
	}
	.one_obj_pagerank {
		margin:32px 0
		}
		.one_obj_pagerank > .title {
		font-size:20px;
		font-weight:500;
		padding:10px 0;
		color:#3e3e3e
		}
			.table_months .wrapper_one_obj {
			float:left;
			text-align:center
			}
			.table_months .one_obj_month {
			clear:both;
			border-top:1px solid #eae7e2;
			border-bottom:1px solid #eae7e2;
			padding:20px 0;
			position:relative
			}
			.one_obj_month .num_pagerank {
			width:159px;
			height:130px;
			display:table
			}
			.wrapper_one_obj + .wrapper_one_obj .num_pagerank {
			border-left:1px solid #eae7e2
			}
			.wrapper_one_obj > .month_year {
			font-size:14px;
			color:#7f7f7f;
			padding:9px 0
			}
				.wrapper_one_obj > .month_year b {
				font-weight:500;
				color:#3e3e3e
				}
			.one_obj_month .num_pagerank > span {
			font-size:54px;
			color:#404040;
			display:table-cell;
			vertical-align:middle;
			position:relative;
			z-index:1
			}
			.one_obj_month .line_pagerank {
			position:absolute;
			height:4px;
			width:100%;
			left:0;
			top:20px;
			background:#fde1bd
			}
				.line_pagerank.-lh-10 {
					top: 20px
				}
				.line_pagerank.-lh-9 {
					top: 34px
				}
				.line_pagerank.-lh-8 {
					top: 48px
				}
				.line_pagerank.-lh-7 {
					top: 62px
				}
				.line_pagerank.-lh-6 {
					top: 76px
				}
				.line_pagerank.-lh-5 {
					top: 90px
				}
				.line_pagerank.-lh-4 {
					top: 104px
				}
				.line_pagerank.-lh-3 {
					top: 118px
				}
				.line_pagerank.-lh-2 {
					top: 132px
				}
				.line_pagerank.-lh-1 {
					top: 146px
				}
                .line_pagerank.-lh-0 {
                    top: 160px
                }
			.wrapper_one_obj + .wrapper_one_obj .line_pagerank:after {
			content:'';
			display:block;
			height:4px;
			width:1px;
			left:0;
			background:#eae7e2
			}
/*page rank history end*/			
/*updates*/
.updates a {
	text-decoration:none
	}
.updates a:hover {
	text-decoration:underline
	}
.updates {
	box-shadow:0 35px 30px -37px #ccc inset;
	-webkit-box-shadow:0 35px 30px -37px #ccc inset;
	-moz-box-shadow: 0 35px 30px -37px #ccc inset;
	}
.table_updates {
	font-size:15px;
	width:100%;
	margin:30px 0 100px
	}
	.table_updates th {
		text-align:left;
		font-size:20px;
		color:#3e3e3e;
		padding:11px 0;
		font-weight:500
	}
	.table_updates td {
		width:33%;
		padding:25px 0;
		vertical-align:top
		}
		.table_updates td > p {
		padding:0 30px 0 0
		}
	.table_updates tr + tr td {
		border-top:1px solid #eae7e2
	}
	.table_updates .-n-date {
		color:#7f7f7f;
		margin:0 0 10px
	}
	.table_updates .title {
		color:#3e3e3e;
		font-weight:500;
		font-size:20px
	}
	.table_updates .desc {
		color:#7f7f7f;
		line-height:143%
	}
	.table_updates .keyws {
		color:#3e3e3e;
		line-height:143%
	}
/*updates end*/
/*whois*/	
.whois_page {
	box-shadow:0 35px 30px -37px #ccc inset;
	-webkit-box-shadow:0 35px 30px -37px #ccc inset;
	-moz-box-shadow: 0 35px 30px -37px #ccc inset;
	}
	.whois_page .-t-registar_status {
	margin:0
	}
	.whois_page .general {
	margin:30px 0	
	}
.whois_page h2 a, .server_page h2 a {
	text-decoration:none
	}
.whois_page h2 a:hover, .server_page h2 a:hover {
	text-decoration:underline
	}
.whois_table {
	width:960px;
	margin:0 0 60px;
	clear:both
	}
	.whois_table th {
	text-align:left;
	font-size:20px;
	color:#3e3e3e;
	padding:11px 0;
	font-weight:500
	}
	.whois_table td {
		width:327px;
		padding:20px 0 25px;
		vertical-align:top
		}
	.whois_table td + td {
		width:327px;
	}
	.whois_table td + td + td {
		width:297px;
	}
	.whois_table td.-n-whois-info {
	border:none;
	padding:0 0 30px;
	display:none
	}
		.whois_table td > .title {
		font-size:20px;
		color:#3e3e3e;
		margin:0 0 3px
		}
		.whois_table td > .-n-date {
		color:#7f7f7f
		}
		.whois_table td > p {
		padding:0 30px 0 0;
		margin:0 0 6px;
		color:#3e3e3e
		}
	.whois_table tr + tr td {
		border-top:1px solid #eae7e2
	}
	.Show_hide_button {
	border-bottom: 1px dotted #e54700;
	color: #e54700;
	line-height: 100%;
	text-decoration: none;
	display: inline-block;
	}
	.Show_hide_button:hover {
	border:none	
	}
.wrapper_whois_info {
	width:931px;
	padding:10px 8px 18px 19px;
	background:#fff;
	border:1px solid #ece9e4;
	font-family: 'PT Mono';
	cursor:text
	}
	.whois_info {
		height:365px;
		overflow: hidden;
		}
		.whois_info img.loader {
			margin-top: 168px;
			margin-left: 442px;
		}
		.whois_info .jspVerticalBar {
		right:0
		}
		.whois_info p + p {
		margin:0 0 7px
		}
		.whois_info p {
		margin:8px 0 7px
		}
/*whois END*/
/* social numbers */
.social_likes .list_stories {
	margin:45px 0 100px
	}	
.social_numbers a {
	text-decoration:none
	}
.social_numbers a:hover {
	text-decoration:underline
	}
.social_numbers {
	box-shadow:0 35px 30px -37px #ccc inset;
	-webkit-box-shadow:0 35px 30px -37px #ccc inset;
	-moz-box-shadow: 0 35px 30px -37px #ccc inset;
	}
	.social_numbers .social_metrics {
	width:960px;
	margin:30px 0 80px 
	}
	.social_numbers .row_social {
	margin:30px 0 0 -40px	
	}
	.social_numbers .row_social ul {
	margin:0 0 0 40px !important;
	width:122px !important;
	}
	.social_numbers .facebook_icon {
	padding:48px 0 0 !important
	}
.social_likes .list_stories .one_obj_month .num_pagerank > span {
	font-size:26px
	}
	.one_obj_pagerank.-n-facebook > .title a, .one_obj_pagerank.-n-facebook .num_pagerank > span { color:#3b5999 }
	.one_obj_pagerank.-n-twitter > .title a, .one_obj_pagerank.-n-twitter .num_pagerank > span { color:#01bbf6 }
	.one_obj_pagerank.-n-google	 > .title a, .one_obj_pagerank.-n-google .num_pagerank > span { color:#dd4b39 }
	.one_obj_pagerank.-n-linkedin  > .title a, .one_obj_pagerank.-n-linkedin .num_pagerank > span { color:#017fb2 }
	.one_obj_pagerank.-n-pinterest  > .title a, .one_obj_pagerank.-n-pinterest .num_pagerank > span { color:#ca2027 }
	.one_obj_pagerank.-n-stumbleupon  > .title a, .one_obj_pagerank.-n-stumbleupon .num_pagerank > span { color:#f04e23 }
	
	.one_obj_pagerank.-n-facebook .line_pagerank { background:#d8deeb }
	.one_obj_pagerank.-n-twitter .line_pagerank { background:#ccf1fd }
	.one_obj_pagerank.-n-google .line_pagerank { background:#f8dbd7 }
	.one_obj_pagerank.-n-linkedin .line_pagerank { background:#cce5f0 }
	.one_obj_pagerank.-n-pinterest .line_pagerank { background:#f4d2d4 }
	.one_obj_pagerank.-n-stumbleupon .line_pagerank { background:#fcdcd3 }
.social_likes .num_pagerank {
	height:120px
	}
.social_likes .line_pagerank.-lh-30 {
	top: 20px
}
.social_likes .line_pagerank.-lh-29 {
	top: 24px
}
.social_likes .line_pagerank.-lh-28 {
	top: 28px
}
.social_likes .line_pagerank.-lh-27 {
	top: 32px
}
.social_likes .line_pagerank.-lh-26 {
	top: 36px
}
.social_likes .line_pagerank.-lh-25 {
	top: 40px
}
.social_likes .line_pagerank.-lh-24 {
	top: 44px
}
.social_likes .line_pagerank.-lh-23 {
	top: 48px
}
.social_likes .line_pagerank.-lh-22 {
	top: 52px
}
.social_likes .line_pagerank.-lh-21 {
	top: 56px
}
.social_likes .line_pagerank.-lh-20 {
	top: 60px
}
.social_likes .line_pagerank.-lh-19 {
	top: 64px
}
.social_likes .line_pagerank.-lh-18 {
	top: 68px
}
.social_likes .line_pagerank.-lh-17 {
	top: 72px
}
.social_likes .line_pagerank.-lh-16 {
	top: 76px
}
.social_likes .line_pagerank.-lh-15 {
	top: 80px
}
.social_likes .line_pagerank.-lh-14 {
	top: 84px
}
.social_likes .line_pagerank.-lh-13 {
	top: 88px
}
.social_likes .line_pagerank.-lh-12 {
	top: 92px
}
.social_likes .line_pagerank.-lh-11 {
	top: 96px
}
.social_likes .line_pagerank.-lh-10 {
	top: 100px
}
.social_likes .line_pagerank.-lh-9 {
	top: 104px
}
.social_likes .line_pagerank.-lh-8 {
	top: 108px
}
.social_likes .line_pagerank.-lh-7 {
	top: 112px
}
.social_likes .line_pagerank.-lh-6 {
	top: 116px
}
.social_likes .line_pagerank.-lh-5 {
	top: 120px
}
.social_likes .line_pagerank.-lh-4 {
	top: 124px
}
.social_likes .line_pagerank.-lh-3 {
	top: 128px
}
.social_likes .line_pagerank.-lh-2 {
	top: 132px
}
.social_likes .line_pagerank.-lh-1 {
	top: 136px
}
.social_likes .list_stories .one_obj_pagerank > .title {
	color:#7f7f7f
	}	
	.social_likes .list_stories .one_obj_pagerank > .title a {
	text-decoration:none
	}
	.social_likes .list_stories .one_obj_pagerank > .title a:hover {
	text-decoration:underline
	}
/* social numbers END*/
/* server page */
.part_sand.server_page {
	box-shadow:0 35px 30px -37px #ccc inset;
	-webkit-box-shadow:0 35px 30px -37px #ccc inset;
	-moz-box-shadow: 0 35px 30px -37px #ccc inset;
}
.Hoster_history {
	width:630px;
	margin:0 0 0 30px;
	}
	.server_page .row_tables {
	margin:32px 0 87px
	}
	.Hoster_history th {
		border-bottom: 1px solid #e2e0db;
		color: #3e3e3e;
		font-size: 20px;
		text-align:left;
		padding: 10px 0;
		font-weight:normal;
		width:328px
		}
	.Hoster_history th + th {
		width:auto
		}
		.-n-f- {
		background-position:0 50%;
		background-repeat:no-repeat;
		padding:0 0 0 20px
		}
		.Hoster_history td {
		font-size:16px;
		color:#3e3e3e;
		padding:14px 0 6px
		}
		.Hoster_history td + td + td {
		text-align:right
		}
		.Hoster_history tr + tr + tr td {
		padding:6px 0
		}
		.Hoster_history td p {
		background-repeat:no-repeat;
		background-position:0 50%;
		padding:0 0 0 25px
		}
		.Hoster_history td time {
		color:#7f7f7f
		}
.info_server_page {
	padding:42px 0;
	font-family: 'PT Mono';
	}
	.info_server_page table {
		color:#3e3e3e;
		margin:0 0 45px
		}
		.info_server_page table td {
		width:144px;
		padding:6px 0
		}
		.info_server_page table td + td {
		width:auto;
		padding:6px 2px
		}
/* server page END */


/* navigation */
.header_main {
	width:100%;
	z-index:1001
	}
.navigation {
	position:fixed;
	z-index:1000;
	width:100%;
	background:#fff;
	}
	.navigation .inner_wrapper {
		height:108px;
	}
	.navigation .rating_site td:first-child {
	width:105px
	}
	.navigation:before {
		content:'';
		display:block;
		position:absolute;
		width:100%;
		height:18px;
		bottom:-18px;
		background:url(../img/bg_shadow_menu.png) repeat-x;
	}
.navigation .info_site {
	clear:none
	}
.navigation .description_text.left {
	margin:20px 0 45px
	}
.navigation .info_site table {
	margin:34px 0 0;
	width:255px
	}
.navigation {
	display:none;
	min-width:1000px;
	height:108px
	}
	.navigation .menu_navigation {
		position:absolute;
		left:20px;
		bottom:10px;
		}
	.navigation .menu_navigation a, .wrapper_navigation_menu .menu_navigation a {
		color:#3e3e3e;
		font-size:16px;
		text-decoration:none;
		position:relative
		}
		.navigation .menu_navigation a:hover,  .wrapper_navigation_menu .menu_navigation a:hover {
		color:#109bca;
		}
		.navigation .menu_navigation a.active,  .wrapper_navigation_menu .menu_navigation a.active {
		color:#e54700
		}
		.navigation .menu_navigation a.active:after,  .wrapper_navigation_menu .menu_navigation a.active:after {
			content:'';
			left:0;
			bottom:-10px;
			position:absolute;
			display:block;
			width:100%;
			height:2px;
			background:#e54700
			}
		.navigation .menu_navigation a + a,  .wrapper_navigation_menu .menu_navigation a + a {
		margin:0 0 0 25px
		}
/* navigation END */
/*home page*/
.key_features .button_top, .install_counter .button_top {
	font-size:18px;
	padding:10px 14px;
	}

.home_page {
	background:#ffaa3d;
	height: 450px;
	min-width:1000px
	}
	.home_page h1 {
		font-size:40px;
		color:#fff;
		padding:104px 0 40px;
		text-align:center
	}
	.home_page form {
		position:relative;
		width: 414px;
		margin:auto
	}
	.home_page form .button_search {
		display:block;
		position:absolute;
		width:48px;
		height:48px;
		background:url(../img/main_icon_search.png) 8px 10px no-repeat;
		top:0;
		right:0
	}
	.home_page form input {
		width:100%;
		background:#fff;
		font-size: 24px;
		height: 48px;
		padding:0 48px 0 13px;
		box-sizing:border-box;
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		-o-border-radius:2px;
		border-radius:2px;
		border:none
	}
	.home_page form input:focus                            {color: transparent;}
	.home_page form input:focus::-webkit-input-placeholder {color: transparent;}
	.home_page form input:focus::-moz-placeholder          {color: transparent;}
	.home_page form input:focus:-moz-placeholder           {color: transparent;}
	.home_page form input:focus:-ms-input-placeholder      {color: transparent;}

	.home_page form input[placeholder]               {text-overflow:ellipsis; color:#3e3e3e;}
	.home_page form input::-webkit-input-placeholder {text-overflow:ellipsis; color:#3e3e3e;}
	.home_page form input::-moz-placeholder          {text-overflow:ellipsis; color:#3e3e3e;}
	.home_page form input:-moz-placeholder           {text-overflow:ellipsis; color:#3e3e3e;}
	.home_page form input:-ms-input-placeholder      {text-overflow:ellipsis; color:#3e3e3e;}

.title_home {
	font-size:30px;
	color:#3e3e3e;
	font-weight:500;
	text-align:center;
	padding:32px 0
	}
.wrapper_navigation_menu {
	height:40px;
	margin:25px 0 0;
	overflow:hidden
	}
	.wrapper_navigation_menu .menu_navigation {
		float:left;
		position:relative;
		left:50%;
	}
	.wrapper_navigation_menu .menu_navigation a {
		position:relative;
		left:-50%
	}
.wrapper_txt_desc > div + div {
	display:none
	}
	.text_description {
	width:605px;
	margin: 25px auto 36px;
	line-height:150%;
	font-size:16px;
	color:#3e3e3e;
	text-align:center
	}
	.text_description > div {
		display: table;
		height: 72px;
		width: 100%;
		}
		.text_description > div > p {
		display: table-cell;
		vertical-align: middle;
		}
.wrapper_frame_browser {
	position:relative;
	width:969px;
	height:547px;
	margin:auto;
	overflow:hidden;
	box-shadow: 0 0 18px -5px #999;
	-webkit-box-shadow: 0 0 18px -5px #999;
	-moz-box-shadow: 0 0 18px -5px #999;
	-o-box-shadow: 0 0 18px -5px #999;
	background:#fff url(../img/frame_browser.jpg) no-repeat;
	border:1px solid #b0aeaa;
	-webkit-border-radius:5px; 
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	z-index: 1;
	}
	.wrapper_frame_browser .name_domain {
	font-size: 12px;
	left: 99px;
	line-height: 20px;
	position: absolute;
	top: 24px;
	}
	.wrapper_screenshots {
	position:absolute;
	top:52px;
	overflow:hidden;
	width:969px;
	height:495px;
	}
	.wrapper_frame_browser .browser_screenshot {
	display:table;
	position:absolute;
	top:0;
	overflow:hidden;
	width:969px;
	height:495px;
	}
	.wrapper_frame_browser .inner_wrapper_imgs {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	height:495px;
	}
		.wrapper_frame_browser .inner_wrapper_imgs > img {
		display:block
		}
	.steps_install {
	display: table;
	margin: 53px auto 51px;
	text-align: center;
	width: 1000px;
	}
	.steps_install > div {
	display: table-cell;
	margin: 0 40px;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 245px;
	}
	.steps_install > div + div:after {
	background: none repeat scroll 0 0 #e0ddd9;
	content: "";
	display: block;
	height: 3px;
	left: -132px;
	position: absolute;
	top: 16px;
	width: 264px;
	}
	.recently_checked {
	width:100%
	}
	.recently_checked .inner_wrapper {
	width:100%;
	padding:0		
	}	
	.rsContainer .one_obj_site {
	width:400px;
	position:relative
	}
	.rsContainer .one_obj_site .title {
	text-decoration:none;
	font-weight:500
	}
	.rsContainer .one_obj_site .title:hover {
	text-decoration:underline
	}
	.rsContainer .one_obj_site img {
	position:relative;
	border:1px solid #ececec;
	margin:12px 0 0
	}
	.steps_install > div .num {
		font-size:24px;
		-webkit-border-radius:1000px; 
		-moz-border-radius:1000px;
		-o-border-radius:1000px;
		border-radius:1000px;
		color: #e54700;
		display: inline-block;
		height: 35px;
		line-height:35px;
		text-align: center;
		width: 35px;
		border:2px solid #ece9e4;
		}
	.steps_install > div .step_txt {
		color:#3e3e3e;
		font-size:18px;
		font-weight:500;
		padding:5px 30px 3px
		}
.button_site {
	display:block;
	text-align:center;
	margin:50px 0 54px
	}


	.button_site .button_top {
	float:none	
	}
.install_counter .inner_wrapper {
	padding:0;
	width: 1000px
	}
.list_install {
	margin: 0 0 0 5px
	}
	.list_install li {
		float:left;
		width:225px;
		font-size:18px;
		color:#3e3e3e;
		text-align:center;
		font-weight: 500
		}
	.list_install li + li {
		margin: 0 0 0 30px
		}
	.list_install li p {
		padding:25px 20px 10px
		}
.key_features .inner_wrapper {
	width:1000px;
	padding:0;
	margin-bottom: 30px;
	}	
.install_counter .text_description {
	margin:0 auto 27px
	}
/*home page End*/
/*compare domains */
.compare_domains .screenshot_site span {
	box-shadow: 0 8px 19px -1px #ccc;
	display: block;
	overflow: hidden;
	}
.compare_domains .one_domain + .one_domain {
	border-top:1px solid #e5e5e5;
	}
.compare_domains .one_domain + .one_domain > div .title > a{
	color:#ffaa3d
	}
.compare_domains .screenshot_site {
	margin:29px 0
	}
.one_domain {
	padding:0 0 11px;
	min-height:309px
	}
.compare_domains .info_site {
	width:660px;
	clear:none
	}
	.compare_domains .info_site table {
	margin:26px 0 26px 30px
	}
	.compare_domains .info_site table th {
	height:43px	
	}
	.compare_domains .info_site table + table tr + tr td {
	width:110px
	}
	.compare_domains .info_site table + table tr + tr td + td {
	width:auto
	}
.compare_domains .rating_site .d_name {
	font-size:20px;
	color:#3e3e3e
	}
.compare_domains .ip_add {
	color:#3e3e3e
	}
.rating_site .flag_icon {
	margin:0 5px 0 0;
	}

.Ranks_sites {
	width:630px;
	margin:15px 0 0
	}
.rank_b li {
	width:290px;
	float:left;
	padding:10px 0 20px 40px
	}
.rank_b li + li + li {
	border-top:1px solid #ececec
	}
.rank_b li:nth-child(2n+1) {
	padding:10px 0 20px
	}
	.rank_b li > p { 
		text-align:right;
		font-size:32px;
		font-weight:500;
		color:#109bca;
		}
	.rank_b li > p + p { 
		color:#ffaa3d
		}
		.rank_b li > p > span { 
		padding:13px 0 0;
		color:#3e3e3e;
		font-size:20px;
		font-weight:normal;
		float:left 
		}
.Ranks_sites.right {
	width:300px
	}
.visitor_b li {
	clear: both;
	float: left;
	margin: 9px 0;
	width: 290px;
	}
	.visitor_b .left {
	color:#3e3e3e
	}
	.visitor_b .left p {
	padding:5px 0
	}
	.visitor_b .right p {
	color:#109bca;
	text-align: right;
	}
	.visitor_b .right .-c-percent {
	font-size:15px
	}
	.visitor_b .right p span {
	font-weight:bolder;
	font-size: 20px;
	}
	.visitor_b .right p span + span {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 100px;
	}
	.visitor_b .right p + p span {
	color:#ffaa3d
	}
.rank_part {
	padding:0 0 75px
	}
.rank_part .Ranks_site {
	width:100%;
	clear:both;
	float:left;
	margin:20px 0 0
	}
	.rank_part .Ranks_site .wrapper_tables {
	margin:0
	}
	.rank_part .Ranks_site .wrapper_tables table {
	width:290px	
	}
	.rank_part .Ranks_site .wrapper_tables .table-medium span.-r- {
	padding:0 10px 0 0	
	}
	.rank_part .Ranks_site .table-medium + .table-medium {
	margin:0 0 0 30px;
	}
	.rank_part .Ranks_site .flag_icon {
	margin:0 5px 0 0	
	}
	.rank_part .Ranks_site .d_name {
	font-weight:bold;
	font-size:20px
	}
		.rank_part .Ranks_site.first_domain .d_name, .rank_part .Ranks_site.first_domain .wrapper_tables .table-medium td + td {
		color:#109bca;
		}
		.rank_part .Ranks_site.second_domain .d_name, .rank_part .Ranks_site.second_domain .wrapper_tables .table-medium td + td {
		color:#ffaa3d;
		}
.engagement .title_top {
	padding:28px 0 32px
	}
.engagement .diagram_site {
	margin-top:10px
	}
.engagement .social_metrics {
	width:300px;
	float:right;
	margin:0
	}
.traffic_txt {
	color:#7f7f7f;
	padding: 14px 0 10px
	}
.traffic_compare {
	border-bottom: 1px solid #ececec;
	margin: 0 0 25px;
	padding: 0 0 5px;
	}
.traffic_compare li {
	position:relative;
	margin:0 0 10px
	}
.traffic_compare li span {
	font-size:38px;
	color:#109bca
	}
.traffic_compare li + li span {
	color:#ffaa3d
	}
.traffic_compare li .circle {
	position:absolute;
	right:11px;
	top:7px
	}
.likes_social li {
	float:left;
	clear:both;
	width:100%;
	height:48px;
	margin:0 0 15px
	}
.likes_social .right {
	height: 36px;
	line-height: 120%;
	margin: 0 10px 0 0;
	min-width: 65px;
	position: relative;
	top: 1px;
	}
	.likes_social li + li + li .right { top: 2px }
.likes_social .-c-icon {
	display:inline-block;
	width:36px !important;
	padding:0 !important;
	margin: 0 20px 0 0 !important;
	height:36px;
	background-image:url(../img/sprite_social_icons.png);
	background-repeat:no-repeat
	}
	.likes_social .facebook_icon {
		width:35px !important;
		height:35px;
		margin-right:21px !important
		}
	.likes_social .tw_icon {
		background-position:0 -107px;
		width:41px !important;
		height:35px;
		margin-right:15px !important
		}
	.likes_social .google_icon {
		background-position:0 -35px;
		}
	.likes_social .in_icon {
		background-position:0 -178px;
		}
	 
	.likes_social .left span {
		color: #7f7f7f;
		float: left;
		margin: 8px 0 0 5px;
	}
	.likes_social .right span {
	float:right;
	clear:both;
	color:#109bca;
	font-size:18px;
	font-weight:500
	}
	.likes_social .right span + span {
	color:#ffaa3d
	}
/*compare domains END*/
	
/*pop up */
.background_pop_up {
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:50;
	background:rgb(0,0,0);
	background:rgba(0,0,0,.3);
	}
.pop_up_container {
	display:none;
	position:fixed;
	top:139px;
	width:540px;
	min-height:506px;
	padding:30px 30px 22px;
	left:50%;
	margin:0 0 0 -300px;
	background:#fff;
	z-index:60;
	box-shadow:0 0 12px 0 #777;
	-moz-box-shadow:0 0 12px 0 #777;
	-ms-box-shadow:0 0 12px 0 #777;
	-webkit-box-shadow:0 0 12px 0 #777;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	}
	.pop_up_container .title {
	font-size:22px;
	text-align:center;
	color:#3e3e3e;
	font-weight:500;
	}
	.pop_up_container .desc_txt {
	color:#7f7f7f;
	padding:8px 0;
	width:370px;
	margin:auto;
	text-align:center
	}
	.pop_up_container #signupErrorMsg {
		color: #ff0000;
		display: none;
		text-align: center;
	}
	.form_counter {
	float: left;
	margin: 15px 0 0;
/*	padding: 0 0 55px;
*/	position: relative;
	width: 240px;
	}
	.form_counter input[type="text"], .form_counter input[type="password"] {
		width:218px;
		height:30px;
		font-family:"Roboto", sans-serif;
		padding:0 10px;
		color:#000;
		margin:0 0 10px;
		font-size:16px;
		border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		border:1px solid #cacaca;
		}
	.form_counter ::-webkit-input-placeholder {color:#b6b6b6;}
	.form_counter ::-moz-placeholder          {color:#b6b6b6;}/* Firefox 19+ */
	.form_counter :-moz-placeholder           {color:#b6b6b6;}/* Firefox 18- */
	.form_counter :-ms-input-placeholder      {color:#b6b6b6;}
	.form_counter input[placeholder]          {text-overflow:ellipsis;}
	.form_counter input::-moz-placeholder     {text-overflow:ellipsis;} 
	.form_counter input:-moz-placeholder      {text-overflow:ellipsis;} 
	.form_counter input:-ms-input-placeholder {text-overflow:ellipsis;}  
	.form_counter :focus::-webkit-input-placeholder {color: transparent}
	.form_counter :focus::-moz-placeholder          {color: transparent}
	.form_counter :focus:-moz-placeholder           {color: transparent}
	.form_counter :focus:-ms-input-placeholder      {color: transparent}
	@media all and (-webkit-min-device-pixel-ratio:0) {
	.form_counter ::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
	.form_counter ::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
	.form_counter :-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
	.form_counter :-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
	.form_counter :focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.5s ease;}
	.form_counter :focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.5s ease;}
	.form_counter :focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.5s ease;}
	.form_counter :focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.5s ease;}	
	}
	
	
.form_counter input[type="text"].active, .form_counter input[type="password"].active {
border-color:/*#ffaa3d*/ red;
}
.buttons_check li {
	float:left;
	clear:both;
	width:100%;
	margin:0 0 10px
	}
	.buttons_check li span {
	float: left;
	padding: 5px 0 0;
	}
	.buttons_check .button_account {
		height:32px;
		float:right;
		border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		}
		.buttons_check .button_account a {
		background: #f5f5f5;
		min-width:48px;
		text-align:center;
		color: #3e3e3e;
		display: inline-block;
		height: 20px;
		padding: 4px 10px;
		position: relative;
		text-decoration: none;
		top: 1px;
		float:left;
		border-bottom: 1px solid #cacaca;
		border-left: 1px solid #cacaca;
		border-top: 1px solid #cacaca;
		border-radius:4px 0 0 4px;
		-moz-border-radius:4px 0 0 4px;
		-ms-border-radius:4px 0 0 4px;
		-webkit-border-radius:4px 0 0 4px;
		}
		.buttons_check .button_account a + a {
		border-bottom: 1px solid #cacaca;
		border-right: 1px solid #cacaca;
		border-top: 1px solid #cacaca;
		border-radius:0 4px 4px 0;
		-moz-border-radius:0 4px 4px 0;
		-ms-border-radius:0 4px 4px 0;
		-webkit-border-radius:0 4px 4px 0;
		}
		.buttons_check .button_account a + a.active {
		border-radius:0 4px 4px 0;
		-moz-border-radius:0 4px 4px 0;
		-ms-border-radius:0 4px 4px 0;
		-webkit-border-radius:0 4px 4px 0;
		}
		
		.buttons_check .button_account a.active {
		background: none repeat scroll 0 0 #ffaa3d;
		border: medium none;
		color: #fff;
		text-decoration: none;
		padding:5px 10px;
		top: 1px;
		border-radius:4px 0 0 4px;
		-moz-border-radius:4px 0 0 4px;
		-ms-border-radius:4px 0 0 4px;
		-webkit-border-radius:4px 0 0 4px;
		}		
.wrapper_counters {
	float:right;
	margin:15px 0 0
	}		
	.counters {
	width:270px;
	margin:12px 0
	}
	.wrapper_counters p {
	padding:5px 0;
	color:#3e3e3e
	}
	.counters a {
		display:table;
		width:123px;
		height:30px;
		border:1px solid #ebebeb;
		border-radius:4px;
		-moz-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		float:left;
		margin:0 10px 10px 0
		}	
	.counters a.active {
		border-color:#ffaa3d;
		box-shadow: 0 0 0 1px #ffaa3d;
		}
		.counters a:nth-child(2n+1) {
		clear:both;
		}
		.counters a span {
		display:table-cell;
		vertical-align:middle;
		text-align:center
		}
		.counters a span img {
		display:inline
		}
.pop_up_container .button_site {
	clear: both;
	height: 42px;
	padding: 8px 0;
	margin:0
	}
	.close_pop {
		position:absolute;
		width:14px;
		height:14px;
		background:url(../img/pop_close_icon.png) no-repeat;
		top:10px;
		right:10px;
		}
	.pop_up_container .button_site .button_top {
		font-size: 18px;
		font-weight: bold;
		margin: 0;
		z-index:1;
		padding: 7px 52px 9px;
		position: relative;
		}
/*.wrapper_icheck {
	white-space: nowrap;
	bottom: 24px;
	font-size: 14px;
	left: 150px;
	position: absolute;
	width: 100%;
	color:#3e3e3e
	}	
*/	
.wrapper_icheck {
  bottom: 24px;
  color: #3e3e3e;
  float: left;
  font-size: 14px;
  left: 150px;
  margin: 12px 0 24px 150px;
  white-space: nowrap;
  width: 100%;
}	
	.wrapper_icheck .icheckbox {
		display:inline-block;
		cursor:pointer;
		width:12px;
		height:12px;
		margin:0 2px 0 0;
		background:url(../img/chek_icon.jpg) 0 -12px no-repeat;
		}
	.wrapper_icheck .icheckbox.checked {
		background-position: 0 0
		}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/*pop up END*/
	

	
	
/*---FOOTER---*/
footer {
position: absolute; 
width: 100%; 
min-width:1000px;
bottom: 0; 
height: 79px;
}
.content.another_f {
	padding-bottom:119px
	}
footer.another_f {
	height:119px
	}
.wrapper_lang {
	width:100%;
	height:40px;
	position:absolute;
	top:0;
	left:0;
	background:#f5f5f5;
	}
	footer.another_f .copyright {
	margin-top: 69px;
	}
	.lang_n {
	margin:8px 0 0 9px
	}
	.lang_n a {
	font-size:14px;
	text-decoration:none;
	color:#838383;
	position:relative;
	margin:0 15px 0 0;
	text-transform:uppercase
	}
	.lang_n a:hover { 
	border-bottom:2px solid #838383
	}
		.lang_n a.active {
		color:#e54700;
		border-bottom:2px solid #e54700
		}
footer .copyright {
	margin:29px 0 0 9px;
	color:#818181;
	width:500px
	}
footer .menu_footer {
	position:absolute;
	right:20px;
	top:0
	}
	footer .menu_footer a {
		float:left;
		margin:0 0 0 35px
		}

.nobr {
    white-space: nowrap;
}

.title-search-list {
    font-size: 32px;
    margin: 30px 0 0;
}

.search-list {
    border-top: 1px solid #ddd;
    margin: 40px 0 0;
    padding: 30px 0 0;
}

.one-row-result {
    border-bottom: 1px solid #ddd;
    clear: both;
    margin: 0 0 30px;
    min-height: 100px;
    padding: 0 0 30px;
}
.image-screenshot {
    float: left;
    height: 113px;
    margin: 0 20px 0 0;
    width: 139px;
}
.image-screenshot > a {
    border: 1px solid #eee;
    display: block;
    padding: 20px;
    transition:all ease .3s;
    -moz-transition:all .3s ease 0s;
    -webkit-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
}
.image-screenshot > a:hover {
    box-shadow: 0 0 8px -4px #ffaa3d;
    -webkit-box-shadow: 0 0 10px -3px #ffaa3d;
    -moz-box-shadow: 0 0 8px -4px #ffaa3d;
}
.image-screenshot img {
   display: block;
   width: 100%;
}
.info-row-result {
   line-height: 160%;
   overflow: hidden;
}
.info-row-result .sitename {
    display: inline-block;
    font-size: 18px;
    margin: 0 0 10px;
}
.info-row-result .meta-result {
    padding: 0 0 10px;
}
.keywords-result > em {
    font-weight: bold;
}



.right .get-a {
    position: relative;
    top: 4px;
}
.get-a {
    clear: both;
    display: inline-block;
    font-size: 16px;
}

/*POP up*/
.win-p {
    background:#949494;
}
.pop_up {
    background:url(../img/bg_pop_up.jpg) fixed no-repeat 50% 0;
    background-size:cover;
}
.over-flow {
    overflow: hidden
}

.win-p {
    display: table;
    height: 100%;
}
.message_popup {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
}
.inner_message {
	margin: auto;
    width: 95%;
    max-width: 540px;
    padding: 5% 3%;
    box-sizing: border-box;
    font-size: 100%;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: auto;
    box-shadow: 0 1px 10px -3px #333;
    text-align: center;
}
.inner_message > h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #474747;
}
.inner_message > h1 > span {
    background: none repeat scroll 0 0 #dd1010;
    border-radius: 115px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 43px;
    line-height: 43px;
    margin: 0 10px 0 0;
    padding: 0 0 0 1px;
    position: relative;
    text-align: center;
    top: -7px;
    width: 43px;
}
.inner_message > h1 > span.wrn1-t {
    font-size: 32px;
    margin: -2px 10px 5px 0;
    top: -2px;
}
.inner_message > p {
    color: #474747;
    font-size: 18px;
    line-height: 170%;
    padding: 2% 3% 4%;
    text-transform: uppercase;
}
.inner_message > .opn-btn {
    border: 1px solid #009ccd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #009ccd;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 18px 10px;
    text-decoration: none;
}
.inner_message > .opn-btn:hover {
    background: #009ccd;
    color: #fff;
}
.inner_message > .go-btn {
    background: url("../img/new-back-icon.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    color: #009ccd;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    margin: 10% 0 0;
    padding: 3px 0 3px 30px;
    position: relative;
    text-decoration: none;
}
.inner_message > .go-btn:hover {
    text-decoration: underline;
}

.inner_message input.wrn-i {
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-size: 15px !important;
}
/*POP up end*/

.button_visit {
	border: 1px solid;
	border-radius: 5px;
	display: inline-block;
	font-size: 16px;
	margin: 5px 0 0;
	padding: 4px 8px 5px 7px;
	text-decoration: none !important;
}
.button_visit.sky_bt {
	color:#109bca;
}
.button_visit.sky_bt:hover {
	background:#109bca;
	color:#fff
}
.navigation h1 {
	float: left;
}
.description_text .button_visit {
	margin: 8px 0 10px
}
.navigation .button_visit {
	margin: 6px 0 0 10px;
}
.ts-l {
	font-size: 20px !important;
	position: relative;
	top: 9px;
}

.description_text .external-link {
    background: #F5F0E7;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 20px;
    margin: 10px -10px 30px;
    font-weight: 500;
    display:block;
}

.wrapper-desc::after {
    clear: both;
    content: "";
    display: block;
}

.description_site .wrapper-desc {
    padding: 0 0 30px;
    margin: 30px 0 0;
}

.wrapper-desc .description_text.left {
    margin: 0;
}

.wrapper-desc .description_text.left .info_site table {
    margin-bottom: 0
}

.average-bk {
    height: 90px;
    margin: 0 0 30px;
}

.part_sand .screenshot_site.right {
    margin: 42px 0 0;
}

.part_sand .wrapper-desc .description_text.left {
    margin: 4px 0 0;
}

.part_sand .screenshot_site.right span {
    margin-bottom:0
}

.description_txt .nobr {
    white-space: pre-wrap;
}

/* Mobile external link start */
.wrapper-toolbar-static {
    background: none repeat scroll 0 0 #f5f0e7;
    padding: 40px 0 60px 0;
    clear: both;
    min-width: 1000px;
    margin: 0 -20px 30px -20px;
}

.inner-toolbar-static > h1 {
    font-size: 100px;
    font-weight: bold;
    word-wrap: break-word;
    margin: 0 0 30px;
}

.inner-toolbar-static .external-link {
    font-size: 60px;
    word-wrap: break-word;
}

.inner-toolbar-static {
    padding: 0 30px ;
}

.wrapper-toolbar-static {
}

/* Mobile external link end */

.bottom-ads {
	margin-top: -10px;
}
.bottom-ads .average-bk {
	margin: 0 auto 20px;
	max-width: 728px;
}

/* 300x250 ads block */
.wrp-type4 {
    overflow: hidden;
}
.left-type4 {
    float: right;
    height: 250px;
    margin: 28px 0 28px 30px;
    width: 300px;
}

.left-type4 .average-bk {
    margin:0;
    height: 100%;
}

.ads-top .average-bk {
    margin: auto;
    width: 728px;
}

.ads-split-top .average-bk {
    margin: auto;
    width: 970px;
}


.ads-side .average-bk {
    float: right;
    height: 280px;
	margin: 30px 0px 50px 30px;
    width: 336px;
}

.ads-side .description_txt {
    margin: 16px 0 30px;
    overflow: hidden;
    width: auto;
}

/*compare grid*/
.list-compare {
	overflow:hidden;
	padding:0 0 20px
	}
.list-compare .one-compare {
	width:300px;
	float:left;
	margin:0 0 30px 30px
	}
.list-compare .one-compare:nth-child(3n+1) {
	clear:both;
	margin:0 0 30px 0
	}
.list-compare .one-compare > a {
	font-size:16px;
	padding: 0 4px;
	font-weight: 500;
	text-decoration: none;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-transition:all ease .3s;
	-webkit-transition:all ease .3s;
	transition:all ease .3s;		
	}
.list-compare .one-compare > a:hover {
	background-color:#009ccd;
	color:#fff;
	}
.list-compare .one-compare > div {
	margin:12px 0 0;
	height:198px;
	position:relative;
	}
.list-compare .one-compare img {
	width:255px;
	height:153px;
	border: 1px solid #ececec;
	margin: 12px 0 0;
	position: relative;
	z-index:5
	}
.list-compare .one-compare img.active {
	border-color: #0d9fcd;
	z-index: 10;
	}
.list-compare .one-compare img + img {
	left: 43px;
	position: absolute;
	top: 43px;
	z-index: 4;
	margin:0
	}
.list-compare .one-compare {
	
	}
/*compare grid end*/

@media only screen and (min-width : 1px) and (max-width : 360px) {
    .inner_message > p {
        padding: 20px 0 40px;
    }
}

.spinner {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #000;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    transition: all ease .3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: #000;
}

@media screen and (max-device-width: 1280px) and (orientation: landscape) {
	.win-p {
		width: 100%;
	}
	.inner_message {
		padding: 3% 3%;
	}
	.inner_message > p {
		font-size: 100%;
		line-height: 100%;
	}
	.inner_message > .opn-btn {
		font-size: 100%;
	}
	.inner_message > .go-btn {
		margin: 5% 0 0;
	}
}