/*
 Cloud Zoom CSS. (c)2012-2013 Star Plugins.
*/

/* CSS for lens */
.cloudzoom-lens {
    width:89px;
    height:165px;
    cursor:url(images/product-zoom.png), auto;
    z-index: 5;
}
/* CSS for zoom window. */
.cloudzoom-zoom {
    border:1px solid #888;
    width:500px;
    height:200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.40);
	z-index:999;
}
/* CSS for zoom window in 'inside' mode. */
.cloudzoom-zoom-inside {
    border:none;
    box-shadow:none;
	z-index:999;
}

/* CSS for captions */
.cloudzoom-caption {
    display:none;   /* CSS captions should be hidden initially */
    text-align: left;
    background-color:#000;
    color:#fff;
    font-weight:bold;
    padding:10px;
    font-family: "Baskerville", serif;
    font-size:11px;
}

/* A blank image */
.cloudzoom-blank {
    background-image:url(images/blank.png);
}

/* The animated ajax loading image */
.cloudzoom-ajax-loader {
    background-image:url(images/ajax-loader.gif);
    width:32px;
    height:32px;
}