@font-face {font-family: "katespadesymbols"; src:url("fonts/katespadesymbols.eot");
font-weight: normal;
font-style: normal;}
@font-face {font-family: "katespadesymbols";
src:url("fonts/katespadesymbols.woff") format("woff"),
url("fonts/katespadesymbols.ttf") format("truetype"),
url("fonts/katespadesymbols.svg#katespadesymbols") format("svg");
font-weight: normal;
font-style: normal;}
.font-symbol{font-family: "katespadesymbols";}

/**
 * 	Monogramming Phase 2 Styles
 * 
 */
.monogram-wrapper {font-size: 12px; margin: 3.75em 0;}
.monogram-wrapper #product-content{width:410px;}
.monogramming-shop-asset-container, 
.monogram-options-container .monogram-options-body .monogram-option-subsection-title, 
.monogram-product-color-container .monogram-product-color-label,
.cancel-monogram
	{font-family:'FuturaPTHeavy', sans-serif; text-transform: uppercase; letter-spacing: 0.1em;}
.monogram-container .center-text {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);}
.cancel-monogram {left:1.5em; top: 1.5em; position: relative; font-size: 12px;}
.cancel-monogram:hover {text-decoration: none; color: #48A842;}

/* Section headers */
.monogramming-shop-asset-container {color: #48A842; margin-bottom: .75em; }
.pdp-main.katespade .monogram-wrapper .product-name {margin: 0 0 .2em 0;}
.pdp-main.katespade .monogram-wrapper .product-price {margin: 0 0 1em 0;}
.monogram-wrapper .product-price span {font-family:'FuturaPTHeavy', sans-serif; letter-spacing: 0;}
.monogram-wrapper .product-price .monogram-price {font-family:"NewBaskervilleStd", serif;font-size: 15px; text-transform: lowercase;}
.monogram-wrapper .monogram-product-color-container {margin-bottom:2em;}

/**
 * 	Monogram Section Headings
 */
.monogram-container {width:410px;}
.monogram-container .monogram-section{ padding: 1.75em 0 0 0;}

.monogram-container .monogram-section .monogram-options-body{display:none; padding-bottom: 1.75em;}
.monogram-container .monogram-section .monogram-section-header .monogram-section-title{font-size:24px;text-transform:lowercase;float:left; width: 90%; margin-bottom:.5em;}
.monogram-container .monogram-section .monogram-section-header .monogram-section-title.inactive{color:#c3c4c4;}
.monogram-container .monogram-section .monogram-section-header .monogram-section-toggle span.monogram-toggle-icon{
	float:right; margin-top:.5em; width:10px;height:10px;
	background: url(../images/drawer-icons_close.png) no-repeat center center;
	background: url(../images/drawer-icons_close.svg) no-repeat center center, linear-gradient(transparent, transparent);
}
.monogram-container .monogram-section .monogram-section-header .monogram-section-toggle span.monogram-toggle-icon.inactive{
	background: url(../images/drawer-icons_open-inactive.png) no-repeat center center;
	background: url(../images/drawer-icons_open-inactive.svg) no-repeat center center, linear-gradient(transparent, transparent);
}

/**
 * 	Monogram Styles Container
 */
.monogram-container .monogram-style-select-container{border-bottom:2px solid #000000;border-top: 2px solid #000000;}
.monogram-container .monogram-style-select-container.inactive-section{border-bottom:2px solid #c3c4c4;border-top: 2px solid #c3c4c4;}
.monogram-container .monogram-style-select-container .monogram-styles .monogram-style-tile,
.monogram-container .monogram-style-select-container .monogram-styles .monogram-style-tile.selected,
.monogram-container .monogram-style-select-container .monogram-styles .monogram-style-tile:hover {background-size:64px 60px;background-position:4px 9px;}
.monogram-style-select-container .monogram-styles {list-style:none outside none; margin-left: -8px;}
.monogram-style-select-container .monogram-styles .monogram-style-tile{float:left; width:70px;height:95px; margin: 0 8px;font-family:'NewBaskervilleStd-Italic'; text-transform:lowercase; letter-spacing: .025em;position:relative;margin-bottom:20px;}
.monogram-style-select-container .monogram-styles .monogram-style-tile:hover{cursor:pointer;color:#48A842}
.monogram-style-select-container .monogram-styles .monogram-style-tile.selected .monogram-style-name{color:#48A842}
.monogram-style-select-container .monogram-styles .monogram-style-tile .monogram-style-name{position:absolute;bottom:0px;left:4px;}
.monogram-style-select-container .monogram-styles .monogram-style-tile .monogram-style-name:hover{color:#48A842}
.monogram-style-select-container .monogram-styles .monogram-style-tile.selected .monogram-style-name {color:#000;}
.monogram-style-select-container ul.monogram-styles .monogram-style-tile:after {content:' ';position:absolute;width:64px;height:60px;border:1px solid #D7D8D8;top:9px;left:4px;box-sizing:border-box;}
.monogram-style-select-container ul.monogram-styles .monogram-style-tile:hover:after {border-color:#48A842;top:6px;left:1px;}
.monogram-style-select-container ul.monogram-styles .monogram-style-tile.selected:after, ul.monogram-styles .monogram-style-tile:hover:after {width:70px;height:66px;border-color:#000;top:6px;left:1px;}

/**
 * 	Monogram Options Container
 */
.monogram-container .monogram-options-container input{border:solid 1px #000; margin-left: -1px;}
.monogram-container .monogram-options-container{border-bottom:2px solid #000000;}
.monogram-container .monogram-options-container.inactive-section{border-bottom:2px solid #c3c4c4;}
.monogram-options-body .monogram-options-section{margin:.5em 0 0 0; position: relative;}
.monogram-options-container .monogram-options-body .monogram-text-input-container.traditional{margin-bottom:2em;}

/*fonts*/
.monogram-font-select-container .monogram-font-select {margin-top:0.6em;}
.monogram-font-select-container .monogram-font-select .monogram-font{position:relative;float:left; margin: 3px 15px 3px 0; display:block; width: 95px; height: 3em; border: 1px solid #000000;}
.monogram-font-select-container .monogram-font-select .monogram-font:hover{color:#48A842;border: 1px solid #48A842;cursor:pointer}
.monogram-font-select-container .monogram-font-select .monogram-font.selected{color:#FFFFFF; background-color:#000000; margin:0 11px 0 0; padding: 2px; background-clip:content-box;}
.monogram-font-select-container .monogram-font-select .monogram-font.selected:hover{border: 1px solid #000000;}
.monogram-font-select .monogram-font .font-name.monogram-font-style-bold{font-weight:bold;}
.monogram-font-select .monogram-font .font-name.monogram-font-style-italic{font-style:italic;}

/*characters*/
.monogram-text-input-body .monogram-text-input-field{width:58px;height:58px;margin:0;padding:0;display:block;float:left;text-align:center;font-size:50px;}
.monogram-text-input-body .monogram-text-input-field.monogram-word-input-field{width:100%;text-align:left; margin-bottom: .25em;}
.monogram-text-input-body .monogram-text-input-field:focus,.monogram-text-input-field.focused{border:1px solid #48A842;}
.monogram-text-input-body .monogram-text-input-field.error:focus,.monogram-text-input-field.error{border:2px solid #E91C24;}
.monogram-text-input-body .monogram-text-input-field.monogram-text-input-field-bold{font-weight:bold;}
.monogram-text-input-body .monogram-text-input-field.monogram-text-input-field-italic{font-style:italic;}
.monogram-text-input-body .monogram-text-input-field.monogram-font-case-upper{text-transform:uppercase;}
.monogram-text-input-body .monogram-text-input-field.monogram-font-case-lower{text-transform:lowercase;}
.monogram-text-input-body .monogram-text-input-field.monogram-text-input-field-traditional-middle{width:78px;height:78px;font-size:70px;}
.monogram-text-input-body .monogram-text-input-field.monogram-text-input-field-single{font-size:65px;width:97px;height:78px;}
.monogram-text-input-body .monogram-text-input-field.monogram-text-input-field-double{width:72px}
.monogram-text-input-container .monogram-text-input-clear{cursor:pointer; color:#A2A4A5; border-bottom: solid 1px #A2A4A5; letter-spacing: .025em;}
.monogram-text-input-container .monogram-text-input-clear:hover{color:#48A842}
.monogram-text-input-container .traditional-caption {position:absolute; font-family:"NewBaskervilleStd-Italic", serif; color:#a2a4a5; letter-spacing:.025em;}
.monogram-text-input-container .traditional-caption.first{top:8em;left: 1.3em;}
.monogram-text-input-container .traditional-caption.last{top:9.5em; left:7.5em;}
.monogram-text-input-container .traditional-caption.middle{top:8em; left: 13em}
.monogram-options-container .monogram-options-body .text-input-title {margin-top: 2em;}
.monogram-options-container .monogram-text-input-wrapper {margin-top: 1em;}
.monogram-options-container .monogram-text-input-clear-container {position: relative; top: 4em; left: 1.75em;}
.monogram-options-container .monogram-text-input-clear-container.word {position: initial;}
.monogram-options-container .monogram-text-input-error {color:red; margin-top: .5em;}
.monogram-options-container .monogram-text-input-error.traditional {margin-top: 1.5em;}
.monogram-options-container .monogram-text-input-error .monogram-text-missing-input-error, .monogram-options-container .monogram-text-input-error.monogram-text-missing-input-error { margin-top:1.5em }

/*symbols*/
.monogram-symbol-selection-container{width:400px;border: 1px solid #000000;}
.monogram-symbol-selection-container .symbol-select-title{padding: 1.25em 0 1em 1em;}
.monogram-symbol-selection-container .monogram-symbol-list{display:block; width:400px;list-style:none;overflow:hidden;}
.monogram-symbol-selection-container .monogram-symbol-list li:hover{background-color:#48A842; border-color:#48A842}
.monogram-symbol-selection-container .monogram-symbol-list li:hover div{color:#FFFFFF;}
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected.unselectable-double-wide-symbol,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected:hover,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected.unselectable-double-wide-symbol:hover{background-color:#000000; border-color:#000000;}
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected div,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected.unselectable-double-wide-symbol div,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected:hover div,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.selected.unselectable-double-wide-symbol:hover div{color:#FFFFFF;}
.monogram-symbol-list .monogram-symbol{position: relative;float:left;display:block;width:39px;height:40px;border:1px solid #D7D8D8;margin: 0 0 -1px -1px;}
.monogram-symbol-list .monogram-symbol:hover{cursor:pointer}
.monogram-symbol-list .monogram-symbol.double-wide{width:79px;}
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.unselectable-double-wide-symbol,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.unselectable-double-wide-symbol:hover{background-color:#FFFFFF;border-color:#D7D8D8;}
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.unselectable-double-wide-symbol div,
.monogram-symbol-selection-container .monogram-symbol-list li.monogram-symbol.unselectable-double-wide-symbol:hover div{color:#E4E4E4;}
.monogram-symbol-list .monogram-symbol .monogram-symbol-field{position: relative; top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);text-align:center;font-size:25px;}
.monogram-options-body .monogram-symbol-selection-container {margin-top: 2.1em; margin-bottom: .75em;}

/*dots*/
.monogram-dots-container .dots-options {font-family: 'NewBaskervilleStd-Italic'; letter-spacing: .025em;}
.monogram-dots-container .dots-options .dots-option{position:relative;float:left;border: 1px solid #000000;display:block;width:83px; height:28px; margin-bottom: .75em;}
.monogram-dots-container .dots-options .dots-option:hover{color:#48A842;border:1px solid #48A842; background-color:#FFFFFF;cursor:pointer;}
.monogram-dots-container .dots-options .dots-option.selected{color:white;background-color: #000000;border: 1px solid #000000;}
.monogram-dots-container .dots-options .dots-option.selected:hover{color:white;background-color: #000000;border: 1px solid #000000;}
.monogram-dots-container .dots-title {margin: 1.2em 0 1em 0;}
.monogram-dots-container .dots-title.traditional{margin: 3em 0 1em 0;}

/**
*  Monogram Add to Cart
*/
.monogram-wrapper.product-add-to-cart{margin-top:40px;}
.monogram-wrapper .product-add-to-cart .monogram-final-sale-message { display: block; margin: 0 0 1.5em 0; font-family: "NewBaskervilleStd"; color: #E91C24; text-transform: lowercase;clear:both; }
.monogram-wrapper .product-add-to-cart .monogram-final-sale-message .monogram-final-sale { font-family: "NewBaskervilleStd-Bold"; }
.pdp-main.katespade .monogram-wrapper .product-add-to-cart .a2c-btn-container{width:410px;}
#pdpMain .monogram-wrapper .product-add-to-cart .a2c-btn-container button{width: 250px; margin-left: 1em;}
.monogram-wrapper .product-add-to-cart .a2c-btn-container .cancel-monogramming-button{float:left;display:inline-block;width:142px;height: 36px;border:solid 1px #000; line-height: 38px; text-align: center; font-family: 'FuturaPTHeavy', sans-serif; text-transform: uppercase;letter-spacing: .1em; padding-top: 2px;}
.monogram-wrapper .product-add-to-cart .a2c-btn-container .cancel-monogramming-button:hover,
.monogram-wrapper .product-add-to-cart .a2c-btn-container .cancel-monogramming-button:focus,
.monogram-wrapper .product-add-to-cart .a2c-btn-container .cancel-monogramming-button:active{text-decoration: none; color: #48A642; border-color: #48A642;}

/**
 * 	Monogram Color Container
 */
.monogram-container .monogram-color-select-container{border-bottom:2px solid #000000;}
.monogram-container .monogram-color-select-container.inactive-section{border-bottom:2px solid #c3c4c4;}
.monogram-container .monogram-color-select-container .color-name{font-family:"NewBaskervilleStd-Italic", serif;font-size: 12px; margin-left: .5em;}
.monogram-color-select-container .monogram-colors-section-body{display:none;padding-bottom:1.75em;}
.monogram-color-select-container .monogram-colors{list-style:none outside none;}
.monogram-color-select-container .monogram-colors .monogram-color-swatch{float:left;display:block;border-radius:21px;background-clip:content-box;margin: 7px 5px;}
.monogram-color-select-container .monogram-colors .monogram-color-swatch.selected{border:1px solid black;padding:3px; margin: 3px 1px; }
.monogram-color-select-container .monogram-colors .monogram-color-swatch:hover{cursor:pointer;border:1px solid black;padding:3px;margin: 3px 1px;}
.monogram-color-select-container .monogram-colors .monogram-color-swatch img{display:block;width:35px;height:35px;border-radius:21px;}
.pdp-main.katespade .monogram-wrapper .inventory {padding: 0;}

/**
 * 	Monogram Share Section
 */
.pdp-main.katespade .monogram-wrapper .product-actions .sub-header{margin: 9px 0 3px 0;}
.pdp-main.katespade .facebook-share, .pdp-main.katespade .twitter-share, .pdp-main.katespade .pinterest-share {margin-right:1em;}

/**
 * 	Monogramming in the Cart
 */
.monogram-product-option .monogram-item-details { margin: 1.5em 0 1em 0; }
.monogram-product-option .monogram-item-details .monogram-item-details-title{margin: 0 0 .5em 0; font-family: "FuturaPTHeavy", sans-serif;letter-spacing: .1em;text-transform: uppercase;font-size: 12px;font-weight: normal;}
.monogram-product-option .monogram-item-details .monogram-preview{padding:10px 20px; border:1px solid #777777;background-color:#DDDDDD;display:inline-block;text-transform:none;}
.monogram-product-option .item-total { padding: 1.5em 0 0 0; }
.monogram-product-option .item-total .remove-link { margin: 5.5em 0 .5em 0; }
.monogram-item-details .monogram-display-attributes .monogram-display-name{font-family: "FuturaPTMedium", sans-serif;letter-spacing: .1em;text-transform: uppercase;font-size: 12px;font-weight: normal;}
.monogram-item-details .monogram-display-attributes .monogram-display-value{text-transform:lowercase;font-family: "NewBaskervilleStd", serif;font-size: 13px;letter-spacing: 0;}
.monogram-item-details .monogram-cart-image-preview{margin: 0 0 .5em 0; background-color:#F6F6F6;width: 80px; height:50px;}

.monogram-preview-image{width:80px;height:50px;}

/**
 * 	Monogramming in the MiniCart
 */
.monogram-minicart-container{border-top: 1px solid #ccc;margin-top: 15px;padding-top: 15px; height: 70px;clear:both;}
.monogram-minicart-container .monogram-minicart-title{font-family: 'FuturaPTMedium', sans-serif;letter-spacing: .1em;text-transform: uppercase;font-size: 12px;font-weight: normal;}
.monogram-minicart-container .monogram-minicart-image-preview{margin-top:10px;background-color:#F6F6F6;width:80px;height:50px;}
.monogram-minicart-container .monogram-minicart-price-container{float:right;font-size:13px;margin-top:-10px; font-family:'kate_sansregular';}
.mini-cart-refresh.v2 .monogram-minicart-container .monogram-minicart-price-container{font-family:'FuturaPTHeavy', sans-serif;}

/**
* Monograming on Shipping Method Page
*/
form.shipping-method .monogram-product-option .item-total { position: relative; }
form.shipping-method .monogram-product-option .remove-link { margin: 0; }

/**
* Monograming on Checkout MiniCart
*/
.checkout-mini-cart .monogram-minicart-container .mini-cart-pricing {position: relative; bottom: 2em;}

/**
* Monograming on Order Confirmation
*/
.order-confirmation .monogram-product-option .item-total { position: relative; }
