/* Override master.css */
#mySephora #nonConnecte a, .bandeBody #mySephora #nonConnecte a { font-family: Arial; font-size: 11px; font-weight: normal; text-decoration: none; color: #fff; }
#mySephora .btn_menu { margin-left: 0px; }
body.body_ipad > div {
  padding-left: 0px; /* Modif 17/11/15 */
  padding-right: 10px;
}
body.body_ipad #mySephora #headerCompte { margin-left: 0px; padding-left: 0; }
body.body_ipad #mySephora #headerPanier { margin-right: 34px;}

body.body_ipad .ui-dialog.popin-login {left: 0px !important;}
.popin-login { box-shadow: -5px 7px 8px rgba(0, 0, 0, 0.4); border-right: 1px solid #b2b2b2; }
/* box-shadow: -5px 2px 20px rgba(0, 0, 0, 0.5); */
/* -5px 2px 15px rgba(0, 0, 0, 0.7); */

.popin-login .ui-dialog-title { display: none;  }
.popin-login .ui-dialog-content { padding: 0 20px 15px 25px; }
.popin-login .ui-dialog-titlebar { display: none; }
.popin-login.hide .ui-dialog-titlebar-close { display: none; }
.popin-login.line .ui-dialog-titlebar { border-bottom: solid 1px #eeeeee; }

#loginPopin .section { margin: 10px 0 15px; }
#loginPopin .section table { width:100%; margin: 0;}
#loginPopin .section h2 { font-size: 12.75pt; margin-bottom: 5px; }
#loginPopin input[type="text"], #loginPopin input[type="email"], #loginPopin input[type="password"] { margin-top : 0;}
#loginPopin .error-message ul li { margin: 0; line-height: 18px; }

#loginPopin .input-field > * { margin-bottom: 5px; }
#loginPopin .input-field:last-child { margin-bottom: 0; }
#loginPopin .input-field a { font-size: 7.5pt; color: #888888; }
#loginPopin .input-field input { height: 19px; line-height: 17px; width: 170px; padding-left: 5px; }

#loginPopin .input-field { margin-bottom: 0; align-items: center; -webkit-align-items: center; }


#loginPopin .input-field > span:first-child { width: 25%; }

#loginPopin input.error { border:solid 1px #CC0000 !important;}
#loginPopin input.error { color: #000000 !important; }

#loginPopin .message-btn { padding-left: 25px; padding-top: 7px; }
#loginPopin .message { width:215px; padding-top: 7px; margin-right: 10px;  line-height: 11.25pt; color: #112223; word-wrap: break-word; }
/*-ms-word-break: break-all; word-break: break-all; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; -webkit-hyphenate-character:"\2010"; -webkit-hyphenate-limit-after:1; -webkit-hyphenate-limit-before:3;*/

#loginPopin .vertical-separator { width: 100%; border-bottom: 1px solid #eeeeee; margin: 0;}

.section #loginFormPopin { margin: 0;}

#loginPopin .a-btn  { padding: 4px 10px 2px; float: right; }

#loginPopin .forgotten-mdp { margin: 0; color: #888888; text-decoration: underline; }

#loginFormPopin table { width:100%; }
#loginFormPopin table input { width:95%; height: 19px; }
#loginFormPopin table .space { padding-bottom: 3px; }

#loginPopin .error-message { margin-bottom: 10px; margin-top: -5px; }
#loginPopin .error-message ul li { line-height:18px; }
#loginPopin span.error { color: #CC0000 !important; border:none !important; background: transparent;}
#loginPopin input.error {background: transparent;}


