/*
Theme Name: Point
Theme URI: http://mythemeshop.com/themes/point/
Author: MyThemeShop
Author URI: http://mythemeshop.com/
Description: Point is a fluid responsive and multipurpose WP Theme. Through the advanced options panel, you can choose from multiple site layouts, backgrounds and color schemes, as well as control specific features of the theme. ==>>>> Demo: ==>>>> http://demo.mythemeshop.com/point/ It includes 3 custom widgets, 2 site layouts, an author box and related posts widget, ad management, cross-browser compatibility, RTL Language support and it's translation-ready, all search engine optimized. Support for free themes is provided through the MyThemeShop forums. **Notable features => Fluid responsive layout. | Advanced options panel with ability to upload logo, favicon, customize settings and more. | 3 custom widgets included. | SEO Optimized | 2 site layouts to choose from. | Full width page template included. | Translation-ready. | Cross-browser compatible. | Ad management to control ad display. | Related posts widget. | Author box widget. | Unlimited color schemes. | Unlimited background colors, or upload your own image. | Option to disable or enable responsiveness | Numbered pagination | Trending stories option. | 2 featured post sections. | RTL Language Support | And much more! ==>>>> Support ==>>>> http://community.mythemeshop.com/
Version: 2.0.3
Tags: light, custom-menu, custom-header, custom-background, custom-colors, two-columns, right-sidebar, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, gray, blue, featured-images, theme-options, rtl-language-support
License: GPL
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: point
Point WordPress Theme, Copyright 2015 MyThemeShop.
Point is distributed under the terms of the GNU General Public License v3
*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body, button, input, select, textarea {
    font: 14px/23px 'Droid Sans', sans-serif;
    color: #555;
    background-color: #e7e5e6;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template { display: none }
a { background-color: transparent }
a:active, a:hover { outline: 0 }
abbr[title] { border-bottom: 1px dotted }
b, strong { font-weight: bold }
dfn { font-style: italic }
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small { font-size: 80% }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em }
sub { bottom: -0.25em }
img { border: 0 }
svg:not(:root) { overflow: hidden }
figure { margin: 1em 40px }
hr {
    box-sizing: content-box;
    height: 0;
}
pre { overflow: auto }
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible }
button, select { text-transform: none }
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default }
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input { line-height: normal }
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto }
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea { overflow: auto }
optgroup { font-weight: bold }
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 5px 15px;
    border: 1px solid #e2e2e2;
}
/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'point';
    src: url('fonts/point.eot?29400515');
    src: url('fonts/point.eot?29400515#iefix') format('embedded-opentype'), url('fonts/point.woff?29400515') format('woff'), url('fonts/point.ttf?29400515') format('truetype'), url('fonts/point.svg?29400515#point') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "point";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center; /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none; /* fix buttons height, for twitter bootstrap */
    line-height: 1em; /* remove if not needed */
    margin-left: .2em; /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */
}
.point-icon {
    font-family: "point";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center; /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none; /* fix buttons height, for twitter bootstrap */
    line-height: 1em; /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* Uncomment for 3D effect */
}
.icon-search:before { content: '\e800' }
.icon-up-dir:before { content: '\e801' }
.icon-down-dir:before { content: '\e802' }
.icon-menu:before { content: '\e803' }
.icon-flickr:before { content: '\e804' }
.icon-pinterest-circled:before { content: '\e805' }
.icon-behance:before { content: '\e806' }
.icon-facebook:before { content: '\e807' }
.icon-gplus:before { content: '\e808' }
.icon-instagram:before { content: '\e809' }
.icon-dribbble:before { content: '\e80a' }
.icon-linkedin:before { content: '\e80b' }
.icon-soundcloud:before { content: '\e80c' }
.icon-twitter:before { content: '\e80d' }
.icon-tumblr:before { content: '\e80e' }
.icon-vimeo-squared:before { content: '\e80f' }
.icon-stumbleupon:before { content: '\e810' }
.icon-github:before { content: '\e811' }
.icon-youtube:before { content: '\e812' }
.icon-foursquare:before { content: '\e813' }
.icon-reddit:before { content: '\e814' }
.icon-dropbox:before { content: '\e815' }
.icon-skype:before { content: '\e816' }
.icon-mail:before { content: '\e817' }
.icon-rss:before { content: '\e818' }
.icon-zoom-in:before { content: '\e819' }
.icon-left:before { content: '\e81a' }
.icon-right:before { content: '\e81b' }
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 12px;
    color: #2A2A2A;
    font-weight: bold;
    text-transform: uppercase;
}
h1 {
    font-size: 28px;
    line-height: 1.4;
}
h2 {
    font-size: 24px;
    line-height: 1.4;
}
h3 {
    font-size: 22px;
    line-height: 1.4;
}
h4 {
    font-size: 20px;
    line-height: 1.4;
}
h5 {
    font-size: 18px;
    line-height: 1.4;
}
h6 {
    font-size: 16px;
    line-height: 1.4;
}
p {
    margin-bottom: 12px;
    font-size: 14px;
    margin-top: 0;
}
dfn, cite, em, i { font-style: italic }
blockquote, q {
    quotes: none;
    font-family: georgia;
    font-size: 18px;
    font-style: italic;
}
blockquote {
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    padding: 20px 10px 10px 0;
    position: relative;
    font-family: georgia;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    margin: 0;
    margin-bottom: 20px;
}
blockquote p {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
}
code, pre {
    font-weight: normal;
    font-style: normal;
}
pre {
    line-height: 1.3;
    overflow: auto;
    background: #F7F7F7 url('images/code.png') 10px 2px no-repeat!important;
    padding: 2em 1em 1em 1em!important;
    border: 1px solid #DDD;
    margin: 15px 0;
    color: #555!important;
}
code {
    padding: 0 8px;
    line-height: 1.5;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
mark {
    padding: 1px 6px;
    margin: 0 2px;
    color: black;
    background: #FFE974;
}
address {
    margin: 10px 0;
    font-style: italic;
}
big { font-size: 125% }
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html { box-sizing: border-box }
*, *:before, *:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http: //css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}
blockquote:before, blockquote:after, q:before, q:after { content: "" }
blockquote, q { quotes: "" "" }
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}
ul, ol { margin: 0 0 1.5em 3em }
ul { list-style: disc }
ol { list-style: decimal }
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}
dt { font-weight: bold }
dd {
    margin: 0;
    font-style: italic;
    margin: 0 0 10px;
}
img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */ }
table {
    margin: 0 0 1.5em;
    width: 100%;
}
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    text-decoration: none;
    color: #38B7EE;
    transition: background-color, color 0.2s linear;
}
a:hover { color: #38B7EE }
a:link, a:visited, a:active { text-decoration: none }
/*--------------------------------------------------------------
# Basic
--------------------------------------------------------------*/
.main-container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.17);
}
#page, .container {
    max-width: 940px;
    min-width: 230px;
    overflow: visible;
}
#page {
    min-height: 100px;
    clear: both;
    width: 96%;
    padding: 0;
    padding-top: 24px;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;
}
#page .content {
    width: 100%;
    display: block;
    float: left;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-branding .toggle-caret i { display: none }
.trending-articles {
    background: #2A2A2A;
    border-bottom: 1px solid #000;
    float: left;
    width: 100%;
    position: relative;
    z-index: 100;
}
.trending-articles ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.trending-articles li {
    border-right: 1px solid #7D7D7D;
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 10px 0 9px;
    padding: 0 13px;
    text-transform: uppercase;
}
.trending-articles li.firstlink {
    border: none;
    padding-left: 20px;
}
.trending-articles li.last { border: none }
.trending-articles li a {
    color: #7D7D7D;
    display: block;
}
body > header {
    float: left;
    width: 100%;
    position: relative;
}
.site-header {
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 99;
    max-width: 980px;
    float: none;
    display: block;
    min-height: 115px;
}
.site-branding {
    position: relative;
    width: 100%;
    float: left;
    padding: 0 0 0 2%;
    background: #F5F5F5;
}
.site-branding:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #E2E2E2;
    bottom: 0px;
    left: 0;
}
.site-branding h1, .site-branding h2 {
    font-size: 42px;
    float: left;
    display: inline-block;
    line-height: 1;
    margin: 20px 0;
    text-transform: uppercase;
}
.site-branding .image-logo { margin: 11px 0 }
#logo a {
    float: left;
    color: #2A2A2A;
    font-weight: bold;
}
#logo a img { float: left }
.widget-header {
    float: left;
    max-width: 77.7%;
}
.header-bottom-second {
    overflow: hidden;
    clear: both;
}
#header-widget-container {
    width: 96%;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 24px;
}
.widget-header-bottom-right {
    float: right;
    max-width: 20.3%;
    width: 100%;
    font-size: 14px;
}
.widget-header img { float: left }
.widget-header-bottom-right .topad { margin-bottom: 0 }
.header-button {
    background: #38B7EE;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 18px;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.25s linear;
}
.header-button:hover { background: #111111 }
.header-button span { float: none }
a.header-button {
    color: #fff!important;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
a#pull { display: none }
.primary-navigation {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    float: right;
}
.primary-navigation a {
    font-size: 16px;
    color: #2a2a2a;
    text-align: left;
    text-decoration: none;
    line-height: 1.4;
    padding: 18px 30px 18px 20px;
    min-height: 46px;
    font-weight: bold;
    border-right: 1px solid #E2E2E2;
    border-left: 1px solid #fff;
    text-transform: uppercase;
}
.primary-navigation a:hover, .primary-navigation .sfHover { background: #fff }
.primary-navigation li li a { line-height: 1 }
.primary-navigation a .sub {
    font-size: 12px;
    font-weight: normal;
    color: #7d7d7d;
    text-transform: none;
}
.menu-item-has-children > a:after {
    content: "▼";
    font-size: 10px;
    color: #ADADAD;
    position: absolute;
    right: 12px;
    top: 22px;
}
.footer-navigation .menu-item-has-children > a:after { display: none }
.sub-menu .menu-item-has-children>a:after {
    right: 0;
    top: 17px;
}
.menu .current-menu-item > a { background: #fff }
.primary-navigation .menu .current-menu-item > a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #fff;
    bottom: 0px;
    left: 0;
    z-index: 1;
}
#navigation {
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    float: left;
}
#navigation ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
#navigation .menu { float: left }
#navigation ul li {
    float: left;
    position: relative;
    margin-left: 0;
    box-sizing: content-box;
}
#navigation > ul li:first-child a { border-left: 1px solid #E2E2E2 }
#navigation > ul li:last-child a { border-right: 0 }
#navigation > ul > li:last-child { border-right: none }
#navigation ul li a, #navigation ul li a:link, #navigation ul li a:visited { display: block }
#navigation > ul > .current a {
    background: transparent;
    color: #5a5a5a !important;
}
#navigation li:hover ul, #navigation li li:hover ul, #navigation li li li:hover ul, #navigation li li li li:hover ul {
    opacity: 1;
    left: -228px;
    top: 0;
}
#navigation ul ul {
    position: absolute;
    width: 226px;
    z-index: 400;
    font-size: 12px;
    color: #798189;
    border: 1px solid #E2E2E2;
    background: #FFFFFF;
    padding: 0;
    display: none;
}
#navigation ul ul li {
    margin-left: 0;
    padding: 0 10%;
    width: 80%;
    color: #232323;
}
#navigation ul ul li:hover { background: #F5F5F5 }
#navigation ul ul a, #navigation ul ul a:link, #navigation ul ul a:visited {
    padding: 12px 0;
    position: relative;
    border-left: 0;
    background: transparent;
    border-right: 0;
    text-transform: none;
    line-height: 1.4;
    margin-right: 0;
    min-height: 100%;
}
#navigation ul ul li:last-child a { border-bottom: none }
#navigation ul ul {
    opacity: 0;
    left: -999em;
}
#navigation ul li:hover > ul {
    left: -1px;
    opacity: 1;
    top: 81px;
}
#navigation ul ul li:hover ul {
    top: -1px;
    left: 100%;
    padding-top: 0;
}
#navigation ul ul ul:after { border-color: transparent }
.sub-menu {
    top: 22px;
    background: #222;
}
.wpmm-pagination {
    height: 30px;
    overflow: hidden;
}
/*--------------------------------------------------------------
# Custom Nav Widget
--------------------------------------------------------------*/
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .sub-menu { margin-top: 8px }
.sidebar .menu-item-has-children > a:after { top: 0 }
.widget_nav_menu .menu-item-has-children > a:after { content: '' }
.widget_nav_menu .menu-item-has-children ul { margin: 0 0 0 10px }
/*--------------------------------------------------------------
# Toggle menu
--------------------------------------------------------------*/
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    line-height: inherit;
}
.toggle-menu .toggle-caret .fa {
    width: 20px;
    text-align: center;
    font-size: inherit;
    color: inherit;
    line-height: 20px;
}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
.toggle-menu .toggle-caret:hover .fa {

}
/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/
.featuredBox {
    padding: 24px 2.2% 0 2.2%;
    overflow: hidden;
}
.featuredBox img { float: left }
.firstpost {
    float: left;
    margin-bottom: 0;
    max-width: 620px;
    width: 66.2%;
    position: relative;
    overflow: hidden;
    margin-right: 1.8%;
}
.secondpost {
    float: right;
    margin-bottom: 1.6%;
    width: 32%;
    position: relative;
    overflow: hidden;
}
.thirdpost {
    float: left;
    margin-right: 2.2%;
    width: 14.9%;
    position: relative;
    overflow: hidden;
}
.thirdpost:last-child { margin-right: 0 }
#first-thumbnail {
    width: 100%;
    max-width: 550px;
}
#second-thumbnail {
    width: 100%;
    max-width: 380px;
}
.featured-excerpt {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 3%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}
.featured-title {
    font-size: 18px;
    font-weight: 700;
    clear: both;
    display: block;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.secondpost .featured-title {
    font-size: 14px;
    line-height: 1.3;
}
.f-excerpt {
    font-size: 14px;
    font-weight: 400;
}
.thirdpost .featured-title {
    font-size: 10px;
    line-height: 1.3;
    font-weight: normal;
}
.frontTitle {
    background: #E2E2E2;
    color: #2A2A2A;
    line-height: 36px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 28px;
    padding: 2px 0 2px 15px;
}
/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/
.article {
    width: 66.2%;
    float: left;
    margin-bottom: 10px;
    padding: 0;
}
.article.article-full-width { width: 100% }
#content_box {
    float: left;
    width: 95.2%;
}
.page #content_box { width: 100% }
.single #content_box { width: 100% }
.content .post_box_reg .excerpt:nth-last-child(2), .content .post_box_reg .excerpt:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.content .post_box_reg .excerpt:last-child { float: right }
#content_box #content {
    float: left;
    display: block;
    width: 100%;
}
.post {
    float: left;
    width: 100%;
}
.postauthor-container {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.postauthor-container h4 {
    margin-bottom: 10px;
    font-size: 18px;
}
.post-content {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 23px;
}
.post.excerpt .post-content {
    margin-bottom: 0;
    padding-bottom: 0;
}
.post-single-content {
    overflow: hidden;
    margin-bottom: 15px;
}
.readMore {
    float: right;
    color: #38B7EE;
    font-size: 13px;
}
.readMore a { color: #38b7ee }
.ss-full-width {
    overflow: hidden;
    margin-bottom: 10px;
}
.ss-full-width #content_box {
    padding-right: 0;
    padding-left: 0;
}
.ss-full-width .post-content {
    margin-bottom: 0;
    padding-bottom: 0;
}
.post.excerpt {
    overflow: hidden;
    margin-bottom: 24px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 28px;
}
.wp-post-image { float: left }
.featured-thumbnail {
    float: left;
    max-width: 100%;
    width: 100%;
}
#featured-thumbnail {
    float: left;
    max-width: 220px;
    margin-top: 4px;
    margin-bottom: 0;
    margin-right: 3%;
    width: 36%;
    position: relative;
}
.featured-thumbnail img {
    margin-bottom: 0;
    width: 100%;
    transition: all 0.25s linear;
}
.featured-cat {
    position: absolute;
    background: #38B7EE;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
    font-size: 14px;
}
.title {
    font-size: 18px;
    line-height: 1.4;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
}
.single-title {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.1;
}
.title a {
    color: #2A2A2A;
    display: block;
}
.title a:hover { color: #38b7ee }
.page h1.title {
    margin-bottom: 5px;
    padding-top: 0;
    font-size: 32px;
    line-height: 1.2;
    padding: 0;
}
.post-info {
    display: block;
    font-size: 13px;
    float: left;
    color: #999;
    margin-top: 3px;
    width: 100%;
}
.post-info span { margin-right: 3px }
.post-info span { margin-left: 3px }
.post-info span:first-child { margin-left: 0 }
article header {
    margin-bottom: 2px;
    overflow: hidden;
}
.single article header { margin-bottom: 10px }
.error404 .single_post { width: 100% }
.single_post .post-info a, .post-info a { color: #38b7ee }
.article img.left, .article img.alignleft, .wp-caption.alignleft {
    margin: 0.3em 1.571em 0.5em 0;
    display: block;
    float: left;
}
.article img.right, .article img.alignright, .wp-caption.alignright {
    margin: 0.3em 0 0.5em 1.571em;
    display: block;
    float: right;
}
.article img.center, .article img.aligncenter, .wp-caption.aligncenter {
    margin: 0.3em auto 1em auto;
    display: block;
    float: none;
}
.article img.aligncenter, .article img.alignnone {
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    clear: both;
    float: none;
}
.article ul {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: square;
    padding: 0;
}
.article ol {
    margin: 1.5em 0 1.571em 1.9em;
    list-style-type: decimal;
    padding: 0;
}
.article ul ul, .article ol ol, .article ul ol, .article ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/
.sidebar.c-4-12 {
    float: right;
    width: 32%;
    padding: 0;
    line-height: 20px;
    max-width: 300px;
}
.sidebar.c-4-12 a {
    color: #2A2A2A;
    font-size: 14px;
}
.widget {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    list-style: none;
}
.widget .title {
    font-weight: bold;
    text-transform: uppercase;
    color: #545E68;
    font-size: 12px;
}
.widget ul {
    margin: 0;
    padding: 0;
}
.widget li {
    list-style-type: square;
    margin-left: 17px;
    margin-bottom: 7px;
    font-size: 14px;
}
.widget li a:hover { color: #38b7ee }
.widget li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget h3 {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 10px 0;
}
.sidebar .widget_nav_menu .sub-menu { background: none }
.sidebar .widget select {
    width: 100%;
    font-size: 14px;
    padding: 5px;
}
/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
#searchform {
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
}
#searchform fieldset {
    float: left;
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
.article #searchform fieldset {
    float: none;
    max-width: 300px;
}
.article #searchform .icon-search { height: 28px }
.sbutton {
    width: 26px;
    height: 20px;
    border: none;
    position: absolute;
    right: 8px;
    z-index: 1;
    font-size: 18px;
    color: #959595;
    border-left: 1px solid #D8D8D8!important;
    margin-top: 9px;
    padding: 0;
    line-height: 1;
    background: none;
    box-shadow: none;
    text-shadow: none;
}
.sbutton:hover {
    background: none;
    box-shadow: none;
    text-shadow: none;
}
footer .sbutton {
    width: 19.4%;
    height: 38px;
}
#s {
    width: 100%;
    border: 1px solid #E2E2E2;
    float: left;
    padding: 7px 0;
    height: 38px;
    text-indent: 10px;
    opacity: 1;
    font-size: 13px;
    color: #959595;
    border-radius: 0;
    transition: all 0.25s linear;
    background: #F5F5F5;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
/*-[ Ad Widgets ]------------------------------*/
.ad-125 ul {
    float: left;
    width: 100%;
    margin: 0;
    list-style: none;
    max-width: 100%;
}
.ad-125 li {
    float: left;
    border: none;
    list-style: none!important;
    padding-left: 0;
    background: none;
    margin-bottom: 15px;
    margin-left: 0;
    max-width: 45%;
}
.ad-125 .evenad { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 0 }
/*-[ WP Review ]--------------------------------*/
.latestPost-review-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    background: #FFF;
    padding: 2px 8px;
}
.latestPost-review-wrapper .review-total-star { margin: 4px 0 }
.latestPost-review-wrapper .percentage-icon {
    top: 0;
    font-size: inherit;
    font-style: normal;
}
.latestPost-review-wrapper .review-total-star i { color: #fff }
/*-[ Social Profile Widget ]--------------------------*/
.social-profile-icons ul { margin: 0 -5px }
.social-profile-icons ul li {
    background: none;
    border: none;
    float: left;
    list-style-type: none;
    margin: 0 5px 10px 5px!important;
    padding: 0 !important;
    border: none !important;
}
.social-profile-icons ul li a {
    width: 34px;
    height: 34px;
    display: block;
    float: left;
    border-radius: 3px;
    text-align: center;
    line-height: 34px;
    color: #FFF!important;
    transition: all .4s;
    padding: 0;
}
.sidebar .social-profile-icons ul li a:hover {
    color: #fff;
    background: #666;
}
.sidebar .social-profile-icons ul li a { color: #fff }
.social-profile-icons ul li i {
    font-size: 16px;
    line-height: 34px;
    margin: 0;
    width: 100%;
}
.social-profile-icons .social-youtube a { background: #c9322b }
.social-profile-icons .social-rss a { background: #ef922f }
.social-profile-icons .social-twitter a { background: #40bff5 }
.social-profile-icons .social-facebook a { background: #5d82d1 }
.social-profile-icons .social-gplus a { background: #eb5e4c }
.social-profile-icons .social-vimeo a { background: #35c6ea }
.social-profile-icons .social-dribbble a { background: #f7659c }
.social-profile-icons .social-tumblr a { background: #426d9b }
.social-profile-icons .social-instagram a { background: #91653f }
.social-profile-icons .social-flickr a { background: #ff48a3 }
.social-profile-icons .social-pinterest a { background: #e13138 }
.social-profile-icons .social-linkedin a { background: #238cc8 }
.social-profile-icons .social-github a { background: #b5a470 }
.social-profile-icons .social-email a { background: #1d90dd }
.social-profile-icons .social-behance a { background: #1879fd }
.social-profile-icons .social-skype a { background: #13c1f3 }
.social-profile-icons .social-soundcloud a { background: #ff7e30 }
.social-profile-icons .social-stumbleupon a { background: #ff5c30 }
.social-profile-icons .social-dropbox a { background: #3476e4 }
.social-profile-icons .social-foursquare a { background: #0bbadf }
.social-profile-icons .social-reddit a { background: #ff4400 }
.social-profile-icons [class^="icon-"]:before, .social-profile-icons [class*=" icon-"]:before {
    margin-right: 0;
    margin-left: 0;
}
/*-[ Related Posts ]---------------------------*/
.related-posts {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.related-posts .meta {
    margin-top: 0;
    line-height: 1;
    margin-top: 5px;
    font-size: 12px;
    color: #999;
}
.related-posts li {
    width: 48.5%;
    margin-right: 3%;
    float: left;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 12px;
    border-bottom: 1px solid #D8D7D7;
}
.single_post .related-posts a { color: #2A2A2A }
.single_post .related-posts .meta a { color: #999 }
.single_post .related-posts a:hover, .single_post .related-posts .meta a:hover { color: #38b7ee }
.rthumb {
    float: left;
    margin-right: 10px;
}
.related-posts .last {
    margin-right: 0;
    float: right;
}
.related-posts ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-top: 0;
}
.related-posts h5 {
    padding-left: 80px;
    color: #919191;
    text-transform: uppercase;
    font-size: 14px;
}
.related-posts h3 {
    font-size: 18px;
    margin: 0;
    line-height: 1;
    border-bottom: 1px solid #d8d7d7;
    padding-bottom: 6px;
}
.relatedthumb img { margin-top: 4px }
/*-[ Author Box ]---------------------------*/
.postauthor p {
    padding-top: 0px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.postauthor-top span {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}
.postauthor-top .thetime {
    font-weight: normal;
    font-size: 12px;
    color: #999;
    display: inline-block;
    text-transform: none;
    line-height: 1;
}
.postauthor {
    min-height: 125px;
    float: left;
    clear: both;
    padding: 15px 2.4% 0 2.4%;
    background: #EEEEEE;
    border: 1px solid #E1E1E1;
    width: 100%;
}
.postauthor h4 {
    font-weight: bold;
    font-size: 18px;
}
.postauthor h5 {
    display: inline-block;
    text-transform: capitalize;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.postauthor img {
    float: left;
    margin: 5px 20px 15px 0;
}
.postauthor h4 a { color: #473636 }
/*-[ Tags ]---------------------------*/
.tags {
    margin: 5px 0 10px 0;
    width: 100%;
    float: left;
}
.tags a { margin-left: 5px }
/*-[ Misc ]---------------------------*/
.clear { clear: both }
.left, .alignleft { float: left }
.right, .alignright { float: right }
#navigation .alignright, #navigation .alignleft { margin-bottom: 15px }
.last, .post.excerpt.last {
    margin-right: 0;
    clear: none;
}
/*-[ Tag widget ]------------------------------*/
.tagcloud a {
    background: #38B7EE;
    font-size: 14px!important;
    padding: 2px 7px;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
    color: #FFF!important;
    transition: all 0.25s linear;
}
.tagcloud a:hover {
    color: #fff!important;
    background: #2a2a2a;
}
/*-[ Calender Widget ]-------------------------*/
#wp-calendar {
    margin-bottom: 0;
    border: 1px solid #e2e2e2;
}
#wp-calendar td {
    text-align: center;
    padding: 7px 0;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}
#wp-calendar tbody {
    background: #FFFFFF;
    border: 1px solid #e2e2e2;
    border-top: 0;
}
#wp-calendar tbody th { border-bottom: 1px solid #CFCFCF }
#wp-calendar caption {
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}
#wp-calendar #prev {
    text-align: left;
    padding-left: 12px;
}
#wp-calendar thead { background: #e2e2e2 }
#wp-calendar thead th {
    padding: 10px 0;
    text-align: center;
}
#wp-calendar tfoot {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-top: 0;
}
/*-[ pagination ]------------------*/
nav.posts-navigation { clear: both }
.pagination {
    clear: both;
    overflow: hidden;
    width: 100%;
    margin: 5px auto;
    text-align: center;
    font-size: 14px;
}
.single .pagination {
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    padding: 2.2% 0;
    width: 100%;
    text-align: left;
}
.pagination ul {
    list-style: none;
    margin: 0;
    display: inline-block;
}
.pagination ul li {
    display: inline-block;
    margin-bottom: 5px;
}
.pagination .current, .pagination .dots, .pagination a:hover {
    color: #fff;
    margin: 0 1px 0 0;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    padding: 10px 13px;
    background: #2a2a2a;
    font-weight: bold;
    margin-bottom: 10px;
}
.single .pagination .current {
    padding: 0;
    margin: 0;
    background: transparent;
}
.single .pagination a .currenttext {
    padding: 0;
    background: transparent;
    color: #FFF;
    margin-right: 0;
    margin-bottom: 0;
}
.single .pagination a:hover .currenttext { color: #fff }
.pagination a {
    background: #38B7EE;
    margin: 0 1px 0 0;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    padding: 10px 13px;
    transition: all 0.25s linear;
    font-weight: bold;
    margin-bottom: 10px;
}
.pagination ul li:last-child a { margin-right: 0 }
.pagination a:hover { color: #fff }
.pagination i.icon-left { margin-right: 7px }
.pagination i.icon-right { margin-right: 7px }
.top {
    float: right;
    position: absolute;
    left: 50%;
    top: -18px;
    width: 52px;
    height: 52px;
    margin-left: -26px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    z-index: 100;
}
.pnavigation2 {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    float: left;
    margin-top: 20px;
}
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination .nav-previous a, .pagination .nav-next a { color: #fff!important }
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #222 }
.single .currenttext { margin-bottom: 0 }
.pagination .current .currenttext { margin-bottom: 10px }
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body > footer {
    overflow: hidden;
    float: left;
    width: 100%;
    display: block;
    clear: both;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
    background: #EFEFEF;
    color: #555;
}
body > footer .widget { padding: 2px 0 0 0 }
body > footer .sidebar .widget .title {
    font-size: 135%;
    color: #D4D8DB;
}
footer .widget { margin-bottom: 0px }
footer .widget li a { color: #EE210B }
footer .widget li a:hover { color: #222 }
footer {
    position: relative;
    overflow: hidden;
    clear: both;
    line-height: 20px;
}
footer .container { max-width: 100% }
.carousel {
    padding: 0 2.2% 0 2.2%;
    overflow: hidden;
}
.carousel .excerpt {
    float: left;
    max-width: 140px;
    margin-right: 2%;
    width: 15%;
}
.carousel .excerpt:last-child { margin-right: 0 }
.carousel a { color: #2a2a2a }
.carousel .featured-title {
    font-size: 13px;
    margin-top: 10px;
    float: left;
}
.carousel .excerpt div.hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    transition: all 0.20s linear;
}
.carousel .excerpt:hover div.hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}
.carousel a div {
    overflow: hidden;
    position: relative;
}
footer .carousel img { margin-top: 0 }
.carousel .excerpt:hover div.hover { opacity: 1 }
.carousel .excerpt div.hover i {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-top: -16px;
    margin-left: -18px;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #fff;
    font-size: 26px;
}
.foot-logo {
    float: left;
    margin-right: 10px;
}
.copyright-left-text {
    float: left;
    padding-top: 12px;
}
.copyright-text {
    float: left;
    padding-top: 12px;
    margin-left: 5px;
}
.footer-navigation {
    float: right;
    margin: 10px 0;
}
.footer-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-navigation ul li { float: left }
.footer-navigation ul ul { display: none }
.footer-navigation a {
    color: #9b9b9b;
    text-transform: uppercase;
    padding: 0 0 0 25px;
}
.footer-navigation ul li:first-child a { padding-left: 0 }
.footer-navigation .menu .current-menu-item > a { background: transparent }
.copyrights {
    float: left;
    width: 100%;
    clear: both;
    background: #eee;
    padding: 20px 2.2% 10px 2.2%;
    margin-top: 25px;
    color: #9b9b9b;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    border-top: 1px solid #E2E2E2;
}
#copyright-note {
    width: 1060px;
    margin: 0 auto;
    clear: both;
    max-width: 100%;
}
#copyright-note span {
    vertical-align: text-top;
    float: left;
    line-height: 2;
}
#copyright-note span a:first-child {
    float: left;
    margin-right: 5px;
}
a.toplink {
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #9b9b9b;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    line-height: 26px;
    color: #9b9b9b;
}
.toplink .icon-up-dir {
    color: #9b9b9b;
    margin-right: 0;
    text-align: center;
}
.toplink .icon-up-dir:before { margin: 0 }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0 }
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after { clear: both }
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment .comment-respond {
    margin-top: 30px;
    position: relative;
}
.total-comments {
    font-size: 18px;
    line-height: 32px;
    color: #343434;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #D8D7D7;
}
.cnumber { color: #2DB2EB }
#comments {
    padding: 0;
    background-color: transparent;
    float: left;
    clear: both;
    width: 100%;
}
#commentsAdd {
    background-color: transparent;
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
}
#comments .avatar {
    float: left;
    margin-right: 20px;
    width: 11.3%;
    margin-bottom: 30px;
}
.comment time {
    border-left: 1px solid #B3B3B3;
    margin-left: 5px;
    padding-left: 12px;
    color: #939291;
    font-size: 13px;
}
ul.children .commentImageLeft {
    width: 60px;
    height: 90px;
    border-left: 1px solid #c1bbb6;
    border-bottom: 1px solid #c1bbb6;
    position: absolute;
    top: -50px;
    left: -70px;
}
input.text-input, #commentform input { padding: 10px }
input#author, input#email, input#url {
    width: 100%;
    border: 1px solid #E1E1E1;
    background: #fff;
    font-size: 14px;
    display: block;
    float: right;
    padding: 10px 2%;
}
input#author, input#email, input#url, #comment { transition: all 0.25s ease-in-out }
.contactform input[type="text"] { width: 380px }
#cancel-comment-reply-link {
    float: right;
    line-height: 24px;
    margin-top: 0;
}
.contact-submit, #cancel-comment-reply-link {
    color: red;
    cursor: pointer;
    text-decoration: underline;
    z-index: 100;
    right: 30px;
    top: 80px;
    position: absolute;
}
#commentform {
    border: 1px solid #E1E1E1;
    overflow: hidden;
    padding: 10px 5%;
    width: 100%;
    background: #EEEEEE;
}
#commentform input#submit {
    line-height: 1;
    background-color: #38B7EE;
    padding: 12px 15px 11px;
    color: #fff;
    text-decoration: none;
    float: right;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.2s linear;
    text-transform: uppercase;
    font-family: inherit;
}
#commentform input#submit:hover {
    color: #fff;
    background: #2a2a2a;
}
ol.commentlist {
    margin-left: 0;
    overflow: hidden;
    padding: 0;
}
.commentlist li {
    list-style: none;
    margin: 0 0 20px 0;
    padding-left: 0;
    float: left;
    width: 100%;
}
.commentlist p { margin-bottom: 1em }
.commentlist p:last-child { margin-bottom: 0 }
.comment-author { position: relative }
.comment-author:before {
    border-color: rgba(0, 0, 0, 0) #D2D2D2 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 14px 15px 15px;
    bottom: 21px;
    content: " ";
    left: 10.8%;
    position: absolute;
}
.comment-author:after {
    border-color: rgba(0, 0, 0, 0) #F7F5F6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 12px 14px 15px;
    bottom: 21px;
    content: " ";
    left: 11.2%;
    position: absolute;
}
.fn {
    color: #939291;
    font-size: 13px;
    line-height: 1.375em;
}
.fn a { color: #939291 }
.comment-meta {
    font-size: 12px;
    font-style: italic;
}
.comment-meta a { color: #888 }
.commentmetadata {
    background: #EEEEEE;
    border: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    overflow: hidden;
    padding: 12px;
}
.commentmetadata ul, .commentmetadata ol, .commentmetadata ul ol, .commentmetadata ol ul { margin-top: 0 }
.commentmetadata li {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    list-style: square;
}
.commentmetadata ol li { list-style: decimal }
.comment-metadata {
    background: #F7F5F6;
    border: 1px solid #D2D2D2;
    border-bottom: 0;
    overflow: hidden;
    padding: 15px 12px;
    position: relative;
}
.reply { float: right }
.reply a {
    float: right;
    font-size: 13px;
    line-height: 22px;
}
.commentlist .children {
    margin-left: 17%;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
    width: 83%;
}
.commentlist .children li:last-child { margin-bottom: 0 }
.avatar { float: left }
#respond h3 { margin: 0 }
#respond h4 {
    font-size: 18px;
    line-height: 32px;
    color: #343434;
    font-weight: bold;
    border-bottom: 1px solid #D8D7D7;
    margin-bottom: 25px;
    margin-top: 0;
}
.cancel-comment-reply a {
    float: right;
    margin-top: -8px;
    font-size: 14px;
}
.comment-awaiting-moderation {
    font-style: italic;
    font-weight: bold;
}
/*--------------------------------------------------------------
## Comment Form
--------------------------------------------------------------*/
#commentform textarea {
    width: 100%;
    border: 1px solid #E1E1E1;
    background: #fff;
    font-size: 14px;
    padding: 2%;
    line-height: 25px;
    font-family: inherit;
    float: right;
}
#commentform p {
    margin-bottom: 15px;
    float: left;
    width: 100%;
    clear: both;
    margin-top: 0;
}
#commentform p label {
    display: inline-block;
    margin-bottom: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
    float: left;
}
.required {
    color: #a8a8a8;
    font-size: 16px;
    font-style: italic;
    padding: 0;
    line-height: 1;
}
.comment-notes .required {
    padding-left: 0;
    padding-top: 3px;
}
#commentform .comment-notes, #commentform .logged-in-as { margin-top: 15PX }
.comment-form-left {
    float: left;
    width: 50%;
}
.comment-form-right {
    float: right;
    width: 50%;
}
input#author:focus, input#email:focus, input#url:focus, #contactForm textarea:focus, #commentform textarea:focus { border-color: #c9a096 }
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100% }
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text { margin: 0.8075em 0 }
.wp-caption-text { text-align: center }
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery { margin-bottom: 1.5em }
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.gallery-columns-2 .gallery-item { max-width: 50% }
.gallery-columns-3 .gallery-item { max-width: 33.33% }
.gallery-columns-4 .gallery-item { max-width: 25% }
.gallery-columns-5 .gallery-item { max-width: 20% }
.gallery-columns-6 .gallery-item { max-width: 16.66% }
.gallery-columns-7 .gallery-item { max-width: 14.28% }
.gallery-columns-8 .gallery-item { max-width: 12.5% }
.gallery-columns-9 .gallery-item { max-width: 11.11% }
.gallery-caption { display: block }
/*-----------------------------------------------
/* Responsive
/*---------------------------------------------*/
html {
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}
/*-----------------------------------------------
/* @media {      } queries
/*---------------------------------------------*/
@media screen and (max-width:1230px) { 
    .shareit {
        position: relative!important;
        width: 100%!important;
        top: 0!important;
        padding-left: 0!important;
        padding-right: 0!important;
        margin: 0!important;
        padding-top: 10px!important;
        border: none !important;
    }
}
@media screen and (max-width:1000px) { 
    #move-to-top {
        margin-right: 0;
        right: 5px;
    }
}
@media screen and (max-width:960px) { 
    img {
        max-width: 100%;
        height: auto!important;
    }
    .ad-300 img { max-width: 100% }
    .ad-125 li { max-width: 40% }
    .ad-125 img {
        padding: 0;
        background: #FAFAFA;
        border: 0;
    }
}
@media screen and (max-width:900px) { 
    .widget-header { max-width: 70% }
}
@media screen and (min-width:865px) { 
    #navigation.mobile-only { display: none }
}
@media screen and (max-width:865px) { 
    #page, .main-container { max-width: 96% }
    #site-footer .main-container { padding: 0 2% }
    .site-branding {
        padding: 0;
        text-align: center;
    }
    .site-branding h1, .site-branding h2 { float: none!important }
    #navigation {
        width: 100%;
        border: none;
        display: none;
    }
    #navigation .menu a, #navigation .menu .fa > a, #navigation .menu .fa > a {
        color: #fff!important;
        background: transparent;
    }
    #navigation .menu {
        display: block!important;
        background: transparent;
        float: left;
    }
    #navigation ul ul {
        visibility: visible!important;
        opacity: 1!important;
        position: relative;
        left: 0!important;
        border: 0;
        width: 100%;
    }
    #navigation ul li li {
        background: transparent;
        border: 0;
    }
    #navigation { height: auto }
    #navigation li, #navigation ul li li {
        width: 100%!important;
        float: left;
        position: relative;
    }
    #navigation ul li:after { display: none }
    #navigation ul li:before { display: none }
    #navigation li a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15)!important;
        width: 100%!important;
        box-sizing: border-box;
    }
    #navigation a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    #navigation a .sub { display: none }
    a#pull {
        display: block;
        width: 100%;
        background: #1D2933;
        color: #fff;
        padding: 10px 0;
        text-indent: 20px;
        text-align: left;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
    }
    a#pull:after {
        content: '\e803';
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 10px;
        font-family: "point";
        font-size: 24px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    #navigation ul .sfHover a, #navigation ul li:hover, #navigation ul .sfHover ul li { background: transparent }
    /*disable flayout*/
    #catcher { height: 0 !important }
    .sticky-navigation-active {
        position: relative !important;
        top: 0 !important;
    }
    /*-[ Responsive Navigation ]--------------------------------*/
    .main-container {
        position: relative;
        left: 0;
        transition: left 500ms ease;
    }
    .mobile-menu-active .main-container {
        left: 250px;
        transition: left 500ms ease;
    }
    #navigation.mobile-menu-wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        overflow: auto;
        transition: left 500ms ease;
        -webkit-backface-visibility: hidden;
        background: #1D2933;
    }
    .mobile-menu-active #navigation.mobile-menu-wrapper {
        left: 0;
        z-index: 1111111;
    }
    #navigation ul li {
        width: 100%;
        display: block;
    }
    #navigation ul li:hover { background: none }
    #navigation ul li a, #navigation ul ul a {
        padding: 11px 20px;
        width: 100%;
        border: none;
        min-height: auto;
        border-right: 0!Important;
    }
    #navigation ul li:hover > ul { display: none }
    #navigation ul ul {
        position: static;
        width: 100%;
        border: none;
        background: none;
        float: left;
    }
    #navigation ul ul li {
        background: none;
        width: 100%;
        padding: 0;
    }
    #navigation > ul li:first-child a { border-left: none!important }
    .primary-navigation .menu .current-menu-item > a:after { background: none }
    #navigation ul ul li:hover { background: none }
    #navigation i { display: inline }
    #navigation ul ul a {
        padding: 11px 20px 11px 35px!important;
        width: 100%!important;
    }
    #navigation ul ul ul a { padding: 9px 45px !important }
    #navigation ul ul ul ul a { padding: 9px 60px !important }
    #navigation .toggle-caret {
        display: block;
        width: 44px;
        height: 44px;
        line-height: 44px;
        color: #ffffff;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
    #navigation .menu-item-has-children > a:after { content: '' }
    #mobile-menu-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        cursor: pointer;
        display: none;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: rgba(0,0,0,.5);
    }
    html.noscroll {
        position: fixed;
        overflow-y: scroll;
        width: 100%;
    }
    /*-[ Mega Menu ]--------------------------------*/
    #wpmm-megamenu .wpmm-subcategories {
        width: 100%;
        text-indent: 0;
    }
    #wpmm-megamenu .wpmm-posts { width: 100% }
    #wpmm-megamenu .wpmm-post {
        width: 100%!important;
        padding: 0 10px!important;
        text-align: center!important;
    }
    #wpmm-megamenu .wpmm-thumbnail img { float: left }
}
@media screen and (max-width:782px) { 
    .admin-bar .pace .pace-progress { top: 46px }
}
@media screen and (max-width:728px) { 
    #header h1, #header h2, .site-description {
        float: none;
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    #header h1, #header h2 { font-size: 40px }
    .site-description { margin-top: 0 }
    #logo a, #logo img {
        float: none;
        letter-spacing: 0;
    }
    .logo-wrap {
        margin-bottom: 10px;
        margin-top: 0;
        width: 100%;
    }
    .widget-header {
        max-width: 100%;
        float: left;
    }
    .widget-header-bottom-right {
        max-width: 100%;
        margin-top: 20px;
    }
}
@media screen and (max-width:720px) { 
    .article { width: 100% }
    #content_box {
        padding-right: 0px;
        padding-left: 0px!important;
    }
    .sidebar.c-4-12 {
        float: none;
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
    .f-widget, .widgets-num-4 .f-widget { width: 44% }
    .f-widget-2, .widgets-num-4 .f-widget-2, .widgets-num-4 .f-widget.last { margin-right: 0 }
    .ad-125 li { max-width: 45% }
    #comments { margin-right: 0 }
    .widget-header .textwidget {
        margin-top: 0;
        padding-left: 0;
        border-left: none;
    }
    .carousel .excerpt { width: 18.4% }
    .carousel .excerpt:nth-last-child(2) { margin-right: 0 }
    .carousel .excerpt:last-child { display: none }
    .footer-navigation {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .footer-navigation ul li {
        display: inline-block;
        float: none;
    }
    #copyright-note { text-align: center }
    .foot-logo, .copyright-left-text, .copyright-text {
        float: none!important;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1000;
    }
}
@media screen and (max-width:650px) { 
    .trending-articles { display: none }
    .firstpost {
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .f-excerpt { display: none }
    .secondpost {
        width: 33.6%;
        float: left;
    }
    .secondpost .featured-title { font-size: 10px }
    .thirdpost {
        width: 31.2%;
        float: right;
        margin-right: 0;
        margin-left: 2%;
    }
    .thirdpost img { width: 100% }
}
@media screen and (max-width:600px) { 
    .featured-thumbnail img { width: 100% }
    .admin-bar .pace .pace-progress { top: 0px }
    .carousel .excerpt { width: 23.4% }
    .carousel .excerpt:nth-last-child(3) { margin-right: 0 }
    .carousel .excerpt:nth-last-child(2) { display: none }
}
@media screen and (max-width:550px) { 
    .sbutton { float: right }
    .f-widget, .widgets-num-4 .f-widget {
        width: 100%;
        margin-right: 0;
    }
    .related-posts li { width: 100% }
}
@media screen and (max-width:480px) { 
    #navigation { border-bottom: 0 }
    #navigation {
        margin-top: 0;
        margin-bottom: 0;
    }
    .related-posts .latestPost {
        width: 100%;
        float: left!important;
        max-width: 100%;
    }
    .related-posts .relatepostli4 {
        padding-bottom: 15px;
        border-bottom: 1px solid #CCC;
        margin-bottom: 11px;
    }
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
        width: 100%;
        margin-right: 0;
    }
    .copyrights { text-align: center }
    #cancel-comment-reply-link {
        margin-bottom: 0;
        margin-top: -43px;
    }
    .carousel .excerpt { width: 31.8% }
    .carousel .excerpt:nth-last-child(4) { margin-right: 0 }
    .carousel .excerpt:nth-last-child(3) { display: none }
    .foot-logo { margin-top: 10px }
}
@media screen and (max-width:400px) { 
    .copyrights { padding-top: 10px }
    #copyright-note {
        display: block;
        width: 100%;
        float: left;
    }
    #copyright-note span {
        width: 100%;
        text-align: center;
    }
    #copyright-note span a {
        display: block;
        width: 100%;
        clear: both;
        text-align: center;
    }
    .featured-cat { display: none }
    article header { overflow: hidden }
}
@media screen and (max-width:320px) { 
    .latestPost {
        float: none;
        width: 100% !important;
    }
    #featured-thumbnail {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    article header { clear: both }
    .latest-cat-post #featured-thumbnail {
        width: 100%;
        max-width: 100%;
    }
    .latest-cat-post #featured-thumbnail .featured-thumbnail { float: none }
    #navigation li {
        display: block;
        float: none;
        width: 100%;
    }
    #navigation li a { border-bottom: 1px solid #576979 }
}