#wrapper {background: #FFF;}

.sidebar-nav { padding: 9px 0; }

.dropdown-menu .sub-menu { left: 100%; position: absolute; top: 0; visibility: hidden; margin-top: -1px; }

@media (min-width: 768px) {.dropdown-menu li:hover .sub-menu {visibility: visible;}}
@media (min-width: 768px) {.dropdown:hover .dropdown-menu {display: block;}}

@media (min-width: 768px)
.navbar-nav li { font-size: 80%; }
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu { margin-top: 0; }
.navbar .sub-menu:before { border-bottom: 7px solid transparent; border-left: none; border-right: 7px solid rgba(0, 0, 0, 0.2); border-top: 7px solid transparent; left: -7px; top: 10px; }
.navbar .sub-menu:after { border-top: 6px solid transparent; border-left: none; border-right: 6px solid #fff; border-bottom: 6px solid transparent; left: 10px; top: 11px; left: -6px;}
.navbar button{font-size: 80%;}
.navbar-nav li a {padding:10px; line-height:10px;}
.navbar{margin-bottom:0;}
#navbar .nav-main ul li:hover ul {display:block;}

@media (max-width: 1320px) { .navbar-default .navbar-nav>li>a { padding-right: 4px; padding-left: 4px;}	#header-right-list a {font-size: 16px;}  }

.onair .description {    font-weight: bold;     color: white;     font-size: 22px; }

.latest-news-holder { height: 690px; }

.newstitles-box { height: 615px; margin-top: 10px; overflow:auto;}

.media .small-image {width:30px;}

#top-header a {color:#fff;}

body {    position: relative;  }
 
@media (min-width: 768px){ .navbar {    margin-bottom: 0px;    height:80px;  }}
@media (min-width: 768px){ #logo-affix{ margin-top:10px; width: 190px; z-index: 10000 !important;}}
@media (min-width: 768px){ .affix { top:0; width: 100%;  z-index: 9999 !important;  }}
@media (min-width: 768px){ .navbar ul{margin-top:15px;}}
@media (max-width: 768px){ .affix { top:0; width: 100%;  z-index: 9999 !important; position:relative; }}
@media (max-width: 768px){ #logo-affix{ margin-top:10px; width: 190px; z-index: 10000 !important;}}
 
#first-container-home {margin-top:10px;}

input.gsc-input {border:none;}
 
img.smallResolution{ min-height: 243px; }
img.bigResolution{ min-width:840px; }

.datetime{color:#fff;}

#newshome {height: 820px;overflow:auto;}

#politicalCarousel{display:none;}

#newArticle p, #relative-news{padding-left:10px;padding-right:10px;}

#newArticle .addthis_toolbox {max-height:50px;}

.helper-panel ul {padding:5px;}

/* ---- Pagination ---- */
.pagination { width:100%;  float: left; height: auto; padding: 5px 0; color: #777; margin: 10px 0;}
.pagination p { margin:7px; text-align: center;float: none;font-size: 11pt; }
.pagination .right-num { margin:0 0 0 32%; float: left; }
.pagination a {text-decoration: none; display: block; color: #777; margin-right: 1px; float: left; padding: 3px 7px; font-weight: bold; }
.pagination a:hover {color: #555; background-color: #A8A8A8; -moz-border-radius: 7px; border-radius: 7px;}
.pagination .current, .pagination .current:hover {background-position: 0 0; color: #555; background-color: #ECECEC; -moz-border-radius: 7px;
border-radius: 7px;}
.pagination .arrow {font-size: 18px; padding: 6px 7px 8px; color: #777; line-height:13px;}

/* ----- PRWTOSELIDA ----- */
/* jquery datepicker plugin */
.jCalendar {border-collapse: separate; border-spacing: 2px; width: 100%; overflow: hidden;}
.jCalendar th {background: #999; color: #fff; font-weight: bold; padding: 3px 5px;}
.jCalendar td {border: 1px solid #999; color: #666; text-align: center; background: #fff; width:37px; height:29px;}
.jCalendar a {display: block; width: 100%; height: 100%; line-height:29px;}
.jCalendar a:hover,
.jCalendar a {text-decoration: none;}
.jCalendar td.other-month,
.jCalendar td.disabled,
.jCalendar td.disabled.dp-hover {background: #dcdcdc; color: #999; line-height:29px;}
.jCalendar td.dp-hover,
.jCalendar td.today {background: #7cc0ce; color: #fff; font-weight:bold; line-height:29px;}
.jCalendar td.selected {background: #86C7C; color: #fff;}
.jCalendar td.selected.dp-hover { background: #867C7C; color: #fff;}
.jCalendar tr.activeWeekHover td { background: #fff; color: #000;}
.jCalendar tr.selectedWeek td { background: #f66; color: #fff;}

.calendar { background:#FFF; margin-bottom: 10px;}
.calendar .header { height: 23px; padding:5px 0 0 5px; }
.calendar .header .title {background:#CCC; line-height:23px; text-align:center;}
    
.calendar .navigation {width: 298px; height:30px; background:#f6f6f6; position: relative;    }
.calendar .navigation .nav-left {  float:left; width:20px; height:30px; margin-left:4px;   display:block;}
.calendar .navigation .month {float:left; width:250px; height:30px; line-height:30px; color:#990000; font-weight:bold; text-align:center;}

.calendar .navigation .nav-right {float:left; width:20px; height:30px; display:block;}

#calendar {position: relative;}

.dp-popup-inline {/*margin: 10px; position: static;*/}
.dp-popup-inline h2{ line-height:30px; height:30px; color:#284E61; text-align: center;}
.dp-popup .dp-nav-prev,
.dp-popup .dp-nav-next {position: absolute; top: 0; display: block; right: 0; }

.dp-popup .dp-nav-prev {top: 0; left: 0px; }

#wrapper .dp-popup .dp-nav-prev a,
#wrapper .dp-popup .dp-nav-next a {display: block;  font-size: 30px;    color:#CCC;  text-decoration: none;}

#wrapper .dp-popup .dp-nav-prev a:hover,
#wrapper .dp-popup .dp-nav-next a:hover { text-decoration: none; color:#8A8484;}

#calendar .pointer {background: none; height: 0; margin: 0;}

#wrapper .dp-popup .dp-nav-prev, #wrapper .dp-popup  .dp-nav-next{
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  font-size: 30px; 
    line-height:30px;
}
    
.dp-nav-prev a:before { content: "\e079"; }
.dp-nav-next a:before { content: "\e080";}

@media (max-width: 999px) { .hidden-xs-sm { display:none;} .breadcrumb {margin-top:10px;}}

#helper-header .visible-xs-sm {display:none;}

@media (max-width: 999px) { #helper-header .visible-xs-sm { display:block;}}

#home-icon a {    padding-top: 6px;}

#burger {float:left; margin-left:10px; margin-bottom: 10px;}
#header-xs a{    line-height: 60px; color:#fff;}

@media (min-width: 768px) { #main-logo{ text-align: inherit;} }

#team-logos ul li a { width: 33px;}

.schedule ul {list-style:none;}

#the-most-popular-news {display:none;}

.news-box .tabs-holder current{ background: #96BBCE;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;}

.cookieBar{display:none;position: fixed;color: #555;background-color: #FFF;bottom: 0;left: 10px;width: 244px;padding-bottom: 1px;z-index:999;border: 1px solid #ccc;}
.cookieBar .text{padding: 8px;font-size: 72%;} 
.cookieBar .btn {background:#438b61;text-align: center;/* height:30px; */-webkit-border-radius: 2px;-moz-border-radius: 2px;line-height: 12px;border-radius: 2px;margin: 4px 35px;}
.cookieBar .btn span {color:#fff}
.cookieBar a {color: #b11116;}
.cookieBar .the-header{line-height: 30px;padding-left: 10px;/* font-weight: bold; */color: #47688d;background-color: #eaeaea;background-image: url(arrow-hide.png) 0px 0px;background-repeat: no-repeat;height: 30px;font-size: 90%;}
.cookieBar .glyphicon {padding: 6px 9px 0 0;display: block;float: right;}
.cookieBar .content{padding-bottom:5px;}

.bttrlazyloading-wrapper { background-repeat: no-repeat; background-position: center; display: block; }
.bttrlazyloading-clone, .bttrlazyloading { margin: 0; padding: 0; border: 0; display: block; height: auto; max-width: 100%; }

.bttrlazyloading-loaded {  background-image: none !important;}
noscript { display: block; }

#skinright, #skinleft { background-position: 100% 0; position: fixed; height: 100%; background-repeat: no-repeat;}

.footer-area{ z-index: 9999 !important; position: absolute; width: 100%;}

#article-tools{line-height: 38px;}
#article-tools .glyphicon{ padding: 0px 5px; font-size: 14px;}
#social-follow-inarticle {    min-height: 206px;  padding-bottom: 15px;  padding-top: 10px; margin-bottom: 15px;}

#top-header .social, #top-header .apps { padding-top: 0px; padding-bottom:5px; }
#top-header .datetime  { color: #a7b8c0;}

.actual-text a { font-weight: 400;}
.daily-photo h3{color:white;}

@media (max-width: 640px){
	#header-xs h4 {  font-size: 1.4rem;}
	#newArticle .lead   { font-size: 1.300em;}
	#newArticle p { font-size: 1.26em;}
	#sfm-header a { font-size: 2.300rem; padding-left:20px;}
	.social-buttons .at-svc-print, .social-buttons .at_flat_counter {    display: none !important;}
}

#newArticle .social-buttons { padding: 15px 5px;      margin: 0 0 10px 0; background: #eaeaea; }
.actual-text{ padding-bottom: 15px;}

#newArticle .social-buttons .at_flat_counter:after {   border-color: transparent #FFFFFF transparent transparent; }
#newArticle .social-buttons .at_flat_counter {   background-color: #FFFFFF; }

.category h1 a { text-transform: none;}

.news-box .btn { color: #333; background-color: #fff; border-color: #ccc; text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    background-image: -webkit-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -o-linear-gradient(top, #fff 0, #e0e0e0 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), to(#e0e0e0));
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #dbdbdb; text-shadow: 0 1px 0 #fff; border-color: #ccc; background-image: none;
}

.news-box .btn:hover { background: #F5F5F5;}
.news-box .current { color: #fff; background-color: #2f5c73; border-color: #284e61; text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
        background-image: -webkit-linear-gradient(top, #2f5c73 0, #1e3a48 100%);
    background-image: -o-linear-gradient(top, #2f5c73 0, #1e3a48 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2f5c73), to(#1e3a48));
    background-image: linear-gradient(to bottom, #2f5c73 0, #1e3a48 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f5c73', endColorstr='#ff1e3a48', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-color: #1b3441; background: #396f8b;
}
.news-box .current:hover { background: #396f8b;}

@media (max-width: 1330px){ .news-box .btn { font-size:13px;}}

.left-column .articles-list a:hover{ text-decoration:none; color:#396F8B;}

.left-column .articles-list h3:hover {color:#396F8B;}

.left-column .articles-list p { font-size: 13pt; }

#top-link-block{ position: fixed; position: fixed;  bottom: 30px;  right: 30px;  display: none;}

.affix #top-link-block{ z-index: 99999 !important;  display: block;}

.webtv-box h3 a {color: #a7b8c0;}
.webtv-box h3 a:hover {text-decoration:none;}

#newArticle .actual-text .instagram-media {margin:auto !important;     max-width: none !important;}

#newArticle #agwnistikes{ margin-bottom: 20px;}

.list-page .news-box .scrolling { max-height: 775px;	}

.gossip .timeline-footer {     background-color: #A7B8C0 !important;}

#program-tv-home { overflow: auto; overflow-x: hidden; margin-right: -10px;}
.tv-metadoseis .yellowback {    margin-right: -10px; border-bottom:none;}

.epikairotita-metadoseis .row {border-bottom:none;}
#program-tv-home .row {border-bottom: 1px solid #a7b8c0;}

@media (max-width: 780px) { #skinright, #skinleft { display:none; } }

.banner-div {overflow:hidden;}

.footer-area .gloman a {color: #03283c;}

#master-article .glyphicon-play-circle { font-size: 8rem;  color: #FFFFFF; z-index: 3;}
#master-article .play-btn {  position: absolute;  top: 45%;   left: 44%;}
#master-article .embed-responsive {   margin-bottom: 0px;}

.sfmvideo { width: 100%;}
.live-event-frame { width: 100%; }

/*TV-LOGOS*/
.tv_logos { background-image: url("../images/tv/tv-logos-sprite__v2.png"); background-position:300px 0px; background-repeat: no-repeat; height: 43px;}
#tv_30 { background-position:0px 9px; font-size: 0;}/* ERT HD */
#tv_2408042 {background-position:0px -65px; font-size: 0;} /* ERT 1 */
#tv_2408043 { background-position:0px -137px; font-size: 0;} /* ERT 2 */
#tv_2408044 { background-position:0px -211px; font-size: 0;} /* ERT 3 */
#tv_2408050 { background-position:0px -283px; font-size: 0;} /* FOX SPORTS */
#tv_15 { background-position:0px -356px; font-size: 0;} /* EUROSPORT 2 */
#tv_14 { background-position:0px -428px; font-size: 0;} /* EUROSPORT 1 */
#tv_37 { background-position:0px -500px; font-size: 0;} /* OTE SPORT 1 */
#tv_38 { background-position:0px -570px; font-size: 0;} /* OTE SPORT 2 */
#tv_39 { background-position:0px -646px; font-size: 0;} /* OTE SPORT 3 */
#tv_102044 { background-position:0px -718px; font-size: 0;} /* OTE SPORT 4 */
#tv_102050, #tv_102051 { background-position:0px -785px; font-size: 0;} /* OTE SPORT 5 */
#tv_102058 { background-position:0px -862px; font-size: 0;} /* OTE SPORT 6 */
#tv_2408046 { background-position:0px -935px; font-size: 0;} /* OTE SPORT 7 */
#tv_2408049 { background-position:0px -1007px; font-size: 0;} /* OTE SPORT 8 */
#tv_10, #tv_40 { background-position:6px -1080px; font-size: 0;} /* NOVASPORTS 1 HD*/
#tv_11 { background-position:6px -1152px; font-size: 0;} /* NOVASPORT 2 HD*/
#tv_12 { background-position:6px -1223px; font-size: 0;} /* NOVASPORT 3 */
#tv_17 { background-position:6px -1296px; font-size: 0;} /* NOVASPORTS 4 */
#tv_28 { background-position:6px -1369px; font-size: 0;} /* NOVASPORTS 6 */
#tv_24 { background-position:6px -1441px; font-size: 0;} /* NOVASPORTS 7 */
#tv_1 { background-position:6px -1513px; font-size: 0;} /* MEGA */
#tv_3 { background-position:6px -1596px; font-size: 0;} /* ALPHA */
#tv_2 { background-position:6px -1672px; font-size: 0;} /* ANT1 */
#tv_4 { background-position:6px -1752px; font-size: 0;} /* STAR */
#tv_9 { background-position:6px -1839px; font-size: 0;} /* ACTION24 */
#tv_25 { background-position:6px -1911px; font-size: 0;} /* SKAI */

.img_livestreaming{ margin-top:11px; }
.img_banner{ width: 100%; }

/* new logo */
@media (min-width: 1000px){.new-logo-20years img { position: absolute; top: -34px;	}}
@media (min-width: 768px) and (max-width: 999px){.new-logo-20years img { position: absolute; top: -15px;}}

.colored-header {background: url(../specials/rio2016/olympics-mainpage.jpg) no-repeat  top center; background-size:cover;}
.menu-olympics {height:56px; padding-top:7px; background: url(../specials/rio2016/olympics-menu-bg.png) no-repeat; background-size:cover; }
.menu-olympics .active a { color: #66CCFF; }
.menu-olympics a { font-weight: 700; color: #FFFFFF; }
.menu-olympics a.hover { color: #66CCFF; }

.nav-pills>li>a:hover,.nav-pills>li>a:focus{background-color:#2f5c73;}
    