﻿@charset "utf-8";
/* CSS Document */
body {background:#FFF;}
.skin-middle-pick .img-responsive{width:100%}

/* skinning  */
.skin { position: relative; }
.skin .skin-left  { position: absolute; left: -50%; top: 0; width: 50%; height: 100%; display: block; background-color: #000; }
.skin .skin-left a { float: right; width: 130px; height: 100%; background: url(../images/new/left-skin.jpg) no-repeat right top #000; }
.skin .skin-right { position: absolute; right: -50%; top: 0; width: 50%; height: 100%; display: block;  background-color: #000; }
.skin .skin-right a { float: left; width: 130px; height: 100%; background: url(../images/new/right-skin.jpg) no-repeat left top #000; }

/* CONDENCED FONTS */
.condenced {font-family: 'Roboto Condensed', sans-serif;}

/* COLORS */
.darkblueback {background:#03283c;}
.darkblueback-2 {background:#0f3a50;}
.midblueback {background:#1c4c65;}
.lightblueback {background:#396f8b;}
.lightgreyblueback {background:#a7b8c0;}
.darkgreyback {background:#3d4f59;}
.lightgreyback {background:#eaeaea;}
.light-er-greyback {background:#f8f8f8;}
.yellowback {background:#f6a922;}
.whiteBG {background:#FFF;}
.redback {background:#b11116;}

.white-font, .white-font:hover {color:#FFF;}
.yellow {color:#f6a922;}
.lightblue {color:#396f8b;}
a {color:#03283c;}

.dark-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.dark-gradient h1, .dark-gradient h2, .dark-gradient h3, .dark-gradient h4 {text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);  line-height: 1.2em;​}

/* MARGIN-PADDING */
.left-right-margin-0 {margin-left:0px; margin-right:0px;}
.left-right-padding-0 {padding-left:0px; padding-right:0px;}
.right-padding-0 {padding-right:0px;}
.right-padding-20 {padding-right:20px;}
.left-margin-0 {margin-left:0px;}
.left-padding-20 {padding-left:20px;}
.left-padding-30 {padding-left:30px;}
.left-margin-20 {margin-left:20px;}
.padding1 {padding:1px;}
.margin1 {margin:1px;}
.padding5{padding-top:5px; padding-bottom:5px;}
.padding10{padding-top:10px; padding-bottom:10px;}
.padding15{padding-top:15px; padding-bottom:15px;}
.greybox {margin-top:40px; margin-bottom:30px;}
.greybox  h3{padding-left:12px; margin-top:15px;}
.horizontal-banner {margin:20px 0;}
.margins-bottom-0 {margin-bottom:0px;}
.margin-bottom-20 {margin-bottom:20px;}

/* other */
.curved { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.thumbnail .dark-gradient {padding:12px; width:100%}
.title-leftborder {border-left:4px solid #03283c; padding-left:12px;}
.pencil {background:url(../images/new/sprites.png) no-repeat -3px -599px; padding-left:22px;}

/* header elements new */
@media (min-width: 768px) { #top-header {padding-bottom:8px;}}

#top-header h6 {color:#a7b8c0;}
#top-header .social, #top-header .apps {padding-top:10px;}
#top-header .social a, #top-header .apps a{width:38px; height:38px; background:url(../images/new/header-elements.png) no-repeat; background-position: 0px 0px; margin-right:1px;}
#top-header a.iphone {background-position:-128px 0px; }
#top-header a.tablet {background-position:-171px 0px; }
#top-header a.android {background-position: -214px 0px; }
#top-header a.fb {background-position: 0px 0px;}
#top-header a.twt {background-position: -49px 0px;}

#top-header a.iphone:hover {background-position:-128px -40px; }
#top-header a.tablet:hover {background-position:-171px -40px; }
#top-header a.android:hover {background-position: -214px -40px; }
#top-header a.fb:hover {background-position: 0px -40px;}
#top-header a.twt:hover {background-position: -49px -40px;}

/* header elements new */

@media (min-width: 768px) { #top-header .container {margin-top:20px;}}
#top-header h3, #top-header h5, #top-header h3 a {color:#FFF; margin:0px;}
@media (max-width: 768px) { .logo img {max-height:60px;} }
@media (min-width: 1001px) { .radio-onair {background:#07324a; padding:2px 0; } }
.radio-onair {max-width:405px; float:right;}
@media (max-width: 640px) { #top-header .radio-onair h5 {font-size:14px;}}
#top-header .radio-onair h5 {margin-top:12px;}
.radio-onair small {color:#FFF; padding:5px 20px;}
#top-header .fb-like-container, #top-header .twiter-like, .downloads {height:46px; padding:10px 10px 0 10px;}

#top-header .fb-like-container {max-width:105px}
#top-header .twiter-like {max-width:144px;}
.apps1, .apps2 {margin-left:3px;}
.apps1 {max-width:70px;}
.apps2 {max-width:120px;}

.downloads a {display:block; height:30px; padding:0px}
.downloads span {display:block; height:30px; background:url(../images/new/sprites.png) no-repeat 6px -500px;}
.downloads .iphone {background:url(../images/new/sprites.png) no-repeat -93px -500px;}
.downloads .tablet {background:url(../images/new/sprites.png) no-repeat -158px -500px;}
.downloads .android {background:url(../images/new/sprites.png) no-repeat -240px -500px;}

.navbar-default {background-image:none; border-radius:0; box-shadow:none; border-top:14px solid #1c4c65; border-bottom:5px solid #b11116;}
.extra-menu {border-bottom:1px solid #3d4f59;}
.helper-panel {margin-bottom:20px;}

#team-logos ul { list-style-type: none; margin:0px;	padding-left:0px;}
#team-logos ul li { margin: 0px; float: left;}
#team-logos ul li a { height: 36px; width: 36px; display: block; background: url(../images/new/super-league__v3.png) no-repeat; }
#team-logos ul li .aek{background-position: -18px 0px;}
#team-logos ul li .aris {background-position: -63px 0px;}
#team-logos ul li .asterastripolis {background-position: -107px 0px;}
#team-logos ul li .atromitos {background-position: -151px 0px;}
#team-logos ul li .veroia {background-position: -195px 0px;}
#team-logos ul li .levadiakos {background-position: -240px 0px;}
#team-logos ul li .kerkyra {background-position: -288px 0px;}
#team-logos ul li .osfp {background-position: -331px 0px;}
#team-logos ul li .osfpbc {background-position: -1022px 0px;}
#team-logos ul li .panthrakikos {background-position: -375px 0px;}
#team-logos ul li .ofi {background-position: -419px 0px;}
#team-logos ul li .platanias {background-position: -464px 0px;}
#team-logos ul li .pao {background-position: -508px 0px;}
#team-logos ul li .paobc {background-position: -1065px 0px;}
#team-logos ul li .pasg {background-position: -552px 0px;}
#team-logos ul li .panionios {background-position: -598px 0px;}
#team-logos ul li .paok {background-position: -642px 0px;}
#team-logos ul li .xanthi {background-position: -686px 0px;}
#team-logos ul li .kalloni {background-position: -732px 0px;}
#team-logos ul li .ergotelis {background-position: -777px 0px;}
#team-logos ul li .panait {background-position: -822px 0px;}
#team-logos ul li .apollon {background-position: -860px 0px;}
#team-logos ul li .nikivolou {background-position: -897px 0px;}
#team-logos ul li .iraklis {background-position: -935px 0px;}
#team-logos ul li .larisa {background-position: -974px 0px;}

#team-logos ul li .osfpbc:hover {background-position: -1022px -50px;}
#team-logos ul li .paobc:hover {background-position: -1065px -50px;}
#team-logos ul li .aek:hover{background-position: -18px -50px;}
#team-logos ul li .aris:hover {background-position: -63px -50px;}
#team-logos ul li .asterastripolis:hover {background-position: -107px -50px;}
#team-logos ul li .atromitos:hover {background-position: -151px -50px;}
#team-logos ul li .veroia:hover {background-position: -195px -50px;}
#team-logos ul li .levadiakos:hover {background-position: -240px -50px;}
#team-logos ul li .kerkyra:hover {background-position: -288px -50px;}
#team-logos ul li .osfp:hover {background-position: -331px -50px;}
#team-logos ul li .panthrakikos:hover {background-position: -375px -50px;}
#team-logos ul li .ofi:hover {background-position: -419px -50px;}
#team-logos ul li .platanias:hover {background-position: -464px -50px;}
#team-logos ul li .pao:hover {background-position: -508px -50px;}
#team-logos ul li .pasg:hover {background-position: -552px -50px;}
#team-logos ul li .panionios:hover {background-position: -598px -50px;}
#team-logos ul li .paok:hover {background-position: -642px -50px;}
#team-logos ul li .xanthi:hover {background-position: -686px -50px;}
#team-logos ul li .kalloni:hover {background-position: -732px -50px;}
#team-logos ul li .ergotelis:hover {background-position: -777px -50px;}
#team-logos ul li .panait:hover {background-position: -822px -50px;}
#team-logos ul li .apollon:hover {background-position: -860px -50px;}
#team-logos ul li .nikivolou:hover {background-position: -897px -50px;}
#team-logos ul li .iraklis:hover {background-position: -935px -50px;}
#team-logos ul li .larisa:hover {background-position: -974px -50px;}

/*HOMEPAGE ELEMENTS ALL */
.tophot h1, .thema h1, .gossip h1, .webtv h1, .editors-choice h1, .daily-photo h1 {background:url(../images/new/sprites.png) no-repeat -5px -146px; padding-left:120px; margin-left:10px;}
/*LIVE STRESMING */
.live-streaming {padding:20px;}
.live-streaming:hover {background:#0f3a50;}
.live-streaming h2, .live-streaming .lead, .live-streaming h5, .live-streaming a, .live-streaming small {color:#FFF;}
.live-streaming h5 span {margin-right:10px; font-size:22px;}
.live-streaming .lead {font-size:20px;}
.live-streaming a:hover { text-decoration:none}
@media (max-width: 1320px) { 
	.live-streaming h2 {font-size:22px;}
	.live-streaming .lead {font-size:16px;}
	.live-streaming .padding15 { padding-top: 8px; padding-bottom: 8px;}
	.live-streaming h5 a {font-size: 22px;}
	.live-streaming h5 span{font-size: 20px;}
	.live-streaming h2 {margin:0;}
	.live-streaming .lead { margin-top: 10px;}
}

/*master article */
#master-article, .lead-articles .thumbnail, .tophot .thumbnail, .webtv .thumbnail {position:relative; margin-bottom:0px;}
#master-article img{width:100%}
#master-article p{color:#FFF; background: rgba(3, 40, 60, 0.6);}
#master-article small{color:#FFF; background: rgba(3, 40, 60, 0.6);}
#master-article .caption h1 a { background: rgba(3, 40, 60, 0.6);}
#master-article .caption, .lead-articles .caption {position:absolute; bottom:0;}
#master-article .caption a, .lead-articles .caption a{color:#FFF;}
.lead-articles img{width:100%;}
.lead-articles small {color:#FFF; text-transform:uppercase;}
@media (max-width: 480px) {	#master-article h1 {font-size:22px;} .lead-articles h3{font-size:20px;}	}
@media (max-width: 800px) { .lead-articles>div {margin-top:10px;} }
@media (min-width: 768px) and (max-width: 1319px) { #master-article h1 {font-size:28px;}
	.lead-articles h3{font-size:22px;}
	.lead-articles .thumbnail {height:209px; overflow:hidden;}
	.lead-articles .img-responsive {height:209px; }
}
@media (min-width: 768px) and (max-width: 999px) { #master-article h1 {font-size:22px;}}

@media (min-width: 1320px) { .lead-articles .img-responsive{height:229px;}}
/*LATEST & POPULAR NEWS ELEMENTS */
.news-box {margin-bottom:20px; }
.news-box h5{padding-top:14px; padding-bottom:14px; font-weight:900;}
.news-box .news-item, .news-box .more-link {margin-left:0px; margin-right:0px;}
.news-item {border-bottom: 1px solid #eaeaea; margin-top:4px; font-size:15px; line-height:1.25; padding: 7px 0; padding-bottom:10px;}
.news-hour {color:#b11116; font-family: 'Roboto Condensed', sans-serif; border-right: 1px solid #eaeaea;}
.popular h5{margin-bottom:0px; padding-top:14px; padding-bottom:14px;}
.news-box div h5 {margin-bottom:0px; margin-top:0px;}
.news-box .scrolling {    max-height: 856px; overflow:scroll; overflow-x: hidden;}
.news-box .popular-tab a {color:#FFF;}
.news-box .btn, .news-box .btn-default, .news-box .btn-primary {background-image:none;}
.news-box .btn-primary {background:#396f8b;}

.nav-tabs li a {font-size:14px; background:#a7b8c0;}
.nav-tabs li a.current {font-weight:700; background:#FFF;}
.nav-tabs li a:hover {color:#FFF; background:#396f8b;}

@media (max-width: 1319px) { .news-item {font-size:13px; margin-top:1px; padding-bottom:5px; line-height:1.15;} }
@media (min-width: 1000px) and (max-width: 1319px) { .news-box .scrolling {max-height:723px;}}
@media (max-width: 1000px) {.news-box .scrolling {max-height:1056px;}}
/* ONAIR FASA ELEMENTS */
.onair-left, .onair-right {height:82px; padding-top:10px;}
.onair-left { background:url(../images/new/sprites.png) no-repeat 0px 0px;}
.onair-right { background:url(../images/new/sprites.png) no-repeat right 0px; font-size:15px;}
.onair .smalltitle {color:#FFF; font-weight:900; text-shadow: rgb(255, 255, 255) 0px 0px 10px; font-size:18px;}
.onair .small-description {color:#FFF; font-weight:700;}
.onair .col-md-12 {padding-top:5px; padding-bottom:5px; text-align:center;}
.onair .title { font-weight: bold; font-size: 45px; text-align: center; color: #FFF; text-shadow: rgb(255, 255, 255) 0px 0px 10px; }

/* TOPHOT */
.tophot {margin}
.tophot .left h2 {margin-top:10px;}
.tophot .left img{width:100%}
.tophot small {color:#a7b8c0; font-weight:700;}
.tophot .left .large-pict img {margin-bottom:20px;}
.tophot .left .large-pict small, .tophot .right .md-pict small {color:#FFF;}
.tophot .left .large-pict .caption,  .tophot .right .md-pict .caption{position:absolute; bottom:0px;}
.tophot .left .large-pict .caption a, .tophot .right .md-pict .caption a{color:#FFF;}
.tophot .left .thumbnail h4{margin-top:5px;}

@media (min-width: 768px) {
	.tophot .left .thumbnail {background:#FFF; margin-bottom:20px; min-height:308px; max-height:455px;}
	.tophot .left .thumbnail img{max-height:145px;}
	.tophot .left .thumbnail .caption{padding:15px;}
	.tophot .left .large-pict img {max-height:454px;}
}
@media (max-width: 480px) {
	.tophot .left .thumbnail{margin-bottom:30px;}
	.tophot .left .thumbnail h2{font-size:20px;}
}
@media (max-width: 640px) {
.sectophot .row {margin:0}
}
.tophot .right .md-pict {margin-bottom:20px;}
.tophot .right .md-pict img{width:100%;}
.tophot .right .writers .row {padding:10px 0px;}
.tophot .right .writers .row:nth-child(even) {background: rgba(255, 255, 255, 0.4)}
.tophot .right .writers small a {color:#FFF; font-weight:700;}
.writers h2 {margin:5px;}
.writers h2 a {color:#FFF;}
.writers .scrolling {max-height:1538px; overflow:auto; overflow-x: hidden;}
.writers .more-link a {color:#FFF;}
@media (min-width: 768px) and (max-width: 1000px) { 
	.tophot .right .md-pict img{max-height:195px;}
	.writers .scrolling {max-height:700px;}
}
@media (min-width: 1000px) and (max-width: 1320px) { 
	.tophot .right .md-pict img{max-height:215px;}
	.writers .scrolling {max-height:1528px;}
}
@media (min-width: 1320px) { 
	.tophot .right .md-pict img{max-height:215px;}
}

.vip-container .img-circle {width:50px; height:50px; background: url(../images/new/writters__v4.jpg) no-repeat;}

.vip-container .cat228 {background-position: -0px -0px;}
.vip-container .cat290 {background-position: 0px -73px;}
.vip-container .cat224 {background-position: 0px -150px;}
.vip-container .cat102315 {background-position: 0px -660px;}
.vip-container .cat294 {background-position: 0px -443px;}
.vip-container .cat102344 {background-position: 0px -730px;}
.vip-container .cat102345 {background-position: 0px -292px;}
.vip-container .cat272 {background-position: 0px -219px;}
.vip-container .cat102346 {background-position: 0px -365px;}
.vip-container .cat296 {background-position: 0px -584px;}
.vip-container .cat288 {background-position: 0px -514px;}
.vip-container .cat237 {background-position: 0px -803px;}
.vip-container .cat102298 { background-position: 0px -876px;}
.vip-container .cat298 {background-position: 0px -952px;}
.vip-container .cat102342 {background-position: 0px -1029px;}
.vip-container .cat102343 {background-position: 0px -1095px;}
.vip-container .cat102271 {background-position: 0px -1168px;}
.vip-container .cat102359 {background-position: 0px -1313px;} 
.vip-container .cat102358 {background-position: 0px -1249px;}
.vip-container .cat297 {background-position: 0px -1543px;}
.vip-container .cat299 {background-position: 0px -1392px;}
.vip-container .cat302 {background-position: 0px -1467px;}
.vip-container .cat2408280 {background-position: 0px -1605px;}
.vip-container .cat2408278 {background-position: 0px -1687px;}
.vip-container .cat2408279 {background-position: 0px -1754px;}
.vip-container .cat2408281 {background-position: 0px -1831px;}
.vip-container .cat102363 {background-position: 0px -1970px;}
.vip-container .cat2408285 {background-position: 0px -1909px;}
.vip-container .cat2408277 {background-position: 0px -2044px;}
.vip-container .cat303 {background-position: 0px -2117px;}
.vip-container .cat2408286 {background-position: 0px -2190px;}
.vip-container .cat2408288 {background-position: 0px -2258px;}

/* FRONPAGES HOMEOPAGE */
.newspapers-row {margin-bottom:30px; margin-top:5px;}
.newspapers-row-header h2 {margin-top:0px;}

.newspapers-row .left img {border:15px solid #a7b8c0;}
@media (max-width: 768px) { .newspapers-row .left img {border:5px solid #a7b8c0;} }

.newspapers-row .carousel-control { background:none;}
.newspapers-row .glyphicon-chevron-left {font-size:5rem; color:#03283c;}
.newspapers-row .glyphicon-chevron-right {font-size:5rem; color:#03283c;}

@media (max-width: 768px) { .newspapers-row-header .promo-box {background:#000;      text-align: center; margin-bottom: 10px;} }

@media (min-width: 1320px) {
	.newspapers-row .left img {max-height:332px;}
	.newspapers-row .right {padding-top:52px;}
}
@media (min-width: 1000px) and (max-width: 1320px) {
	.newspapers-row .left img {max-height:245px; }
}
@media (max-width:640px){
	.newspapers-row-header h2 {font-size:28px;}
}

/* WEBTV SECTION */
.webtv {margin-bottom:30px;}
.webtv h1, .webtv h1 a, .daily-photo h1, .daily-photo a {color:#FFF;}
 {color:#FFF;}
.webtv .thumbnail {margin-bottom:2px;}
.webtv .thumbnail img {width:100%;}
.webtv .thumbnail .caption {background:rgba(0, 0, 0, 0.6); position:absolute; bottom:0; padding:20px 10px; width:100%;}
.webtv .thumbnail .caption a {color:#FFFFFF;}
.webtv .play-btn {position:absolute; top:45%; left:45%;}

.webtv .glyphicon-play-circle {font-size:5rem; color:#FFFFFF;}
.webtv .glyphicon-chevron-left {font-size:5rem;}
.webtv .glyphicon-chevron-right {font-size:5rem;}
.webtv .carousel-control {width:12%;}

@media (max-width: 640px) {
	.webtv h4 { font-size:18px;}
	.webtv .thumbnail .caption {padding:8px 10px;}
}
@media (min-width:640px)and (max-width: 1000px) {
	.webtv h4 { font-size:20px;}
	.webtv .thumbnail .caption {padding:4px 10px;}
}
@media (min-width:1000px) and (max-width: 1320px) {
	.webtv .thumbnail .caption {padding:8px 10px;}
}

/* VIRAL & ΠΡΟΓΡΑΜΜΑ ΑΓΩΝΩΝ SECTION */
.section-viral .caption {position:absolute; bottom:0px; right:1px;}
.section-viral .caption a{color:#FFF;}
.section-viral .thumbnail {margin-bottom:0px}

@media (min-width: 640px) {
	.section-viral .thumbnail {margin-bottom:0px;}
	.section-viral .thumbnail img{width:100%;}
}
@media (min-width: 768px) and (max-width:1000px) {
       .section-viral .thumbnail img{height:200px;}
}
@media (min-width: 1000px) and (max-width:1320px) {
       .section-viral .thumbnail img{height:270px;}
}
@media (min-width: 1320px) {
       .section-viral .thumbnail img{height:209px;}
}
@media (min-width: 1320px) {
	.section-viral .thumbnail img{height:209px;}
}
@media (max-width: 1320px) {
	.section-viral .left-padding-20 {padding-left:10px}
}

@media (max-width: 440px) {
	#agwnistikes table {font-size:11px}
}
#agwnistikes h3 {margin-bottom:20px;}
#agwnistikes table {margin-bottom:0px;}
#agwnistikes table td {padding:9px}

/* ALL ABOUT BET SECTION */
.bluearea h1, .bluearea h1 a {color:#fff;}
.bluearea {margin-bottom:40px;}
.bluearea .thumbnail {margin-bottom:0px}
.bluearea .thumbnail img {width:100%}

@media (min-width: 1000px) {
	.bluearea .thumbnail img{height:135px;}
}
@media (min-width: 1320px) {
	.bluearea .thumbnail img{height:183px;}
}
@media (min-width: 768px) and (max-width: 1000px) {
	.bluearea .thumbnail img{height:195px;}
	.bluearea .thumbnail img.md-pict {height:auto;}
}
.bluearea .thumbnail .caption {position:absolute; bottom:0px;}
.bluearea .caption a{color:#FFF;}

/* ΘΕΜΑ SECTION */
.thema {border-bottom:1px solid #a7b8c0; padding-bottom:30px;}
.thema .thumbnail {margin-bottom:0px; position:relative;}
.thema .thumbnail .caption {position:absolute; bottom:0px;}
.thema .caption a{color:#FFF;}
@media (min-width: 640px) {
	.thema .thumbnail img{width:100%}
}
@media (max-width: 1320px) {
	.thema h2, .thema h3 {font-size:24px;}
}
@media (max-width: 640px) {
	.thema h2, .thema h3 {font-size:20px;}
	.rankings table {font-size:11px;}
}
@media (min-width: 1320px) {
	.thema .second img {height:238px;}
}
@media (min-width: 1024px) and (max-width: 1320px) {
	.thema .second img {height:180px;}
}

.rankings .table {margin-bottom:0px;}
.rankings .table>tbody>tr>td {padding:6px;}

/* GOSSIP SECTION */
.gossip {border-bottom:1px solid #a7b8c0; padding-bottom:30px;}
.gossip .large-pict {position:relative;}
.gossip .left img{width:100%}
.gossip .left .large-pict .caption {position:absolute; bottom:0px;}
.gossip .left .large-pict .caption a {color:#FFF;}
@media (min-width: 768px) {
	.gossip .left .thumbnail img{max-height:145px;}
	.gossip .left .thumbnail .caption{padding:15px;}
	.gossip .left .thumbnail {background:#FFF; margin-bottom:20px; min-height:308px;}
	.gossip .left .large-pict img {min-height:460px;}
}

@media (max-width: 640px) {
	.gossip h2 {font-size:20px;}
}

.gossip #twitter {margin-bottom: 10px;}

/* EDITOR'S CHOICE SECTION */
.editors-choice {padding-bottom:30px;}
.editors-choice .large-pict {position:relative;}
.editors-choice .left img{width:100%}
.editors-choice small {color:#a7b8c0; font-weight:700;}
.editors-choice .left .large-pict .caption {position:absolute; bottom:0px;}
.editors-choice .left .large-pict .caption a {color:#FFF;}

.editors-choice .monimes h2 small a {color:#FFF;}
.editors-choice .monimes a {color:#FFF;}
.editors-choice .monimes small a {color:#396f8b;}


@media (min-width: 768px) {
	.editors-choice .left .thumbnail img{max-height:145px;}
	.editors-choice .left .thumbnail .caption{padding:15px;}
	.editors-choice .left .thumbnail {background:#FFF; margin-bottom:20px; min-height:308px;}
	.editors-choice .left .large-pict img {min-height:460px;}
}
@media (max-width: 640px) {
	.editors-choice h2 {font-size:20px;}
}

@media (min-width: 1320px) {
	.monimes {padding-bottom:20px; min-height:902px;}
}
@media (max-width: 1320px) {
	.monimes {padding-bottom:20px; min-height:910px;}
}
@media (max-width: 1000px) {
	.monimes {padding-bottom:20px; min-height:auto;}
}

.monimes-media {	
	padding:20px 5px; border-bottom:1px solid rgba(255,255,255, 0.5); border-top:1px solid rgba(255,255,255, 0.5); background:rgba(255,255,255, 0.1);
	}
.monimes-mathe-paidi-mou {	
	padding:20px 5px; border-bottom:1px solid rgba(255,255,255, 0.5); background:rgba(0,0,0, 0.2);
	}
.monimes-tragoudia {	
	padding:20px 5px; border-top:1px solid rgba(255,255,255, 0.5); background:rgba(255,255,255, 0.1); border-bottom:1px solid rgba(255,255,255, 0.5);
	}
	
.epikairotita-metadoseis {padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #eaeaea;}
	
/* ΕΠΙΚΑΙΡΟΤΗΤΑ */
.epikairotita img {width:100%;}
.epikairotita .thumbnail {position:relative; margin-bottom:0px}
.epikairotita .caption {position:absolute; bottom:0px;}
.epikairotita .caption a {color:#FFF;}

@media (max-width: 640px) {
	.epikairotita h2 {font-size:20px;}
}
@media (min-width: 768px) and (max-width: 1000px)  {
	.epikairotita .second img {height:200px;}
}
@media (min-width: 1000px) and (max-width:1320px) {
	.epikairotita .second img {height:270px;}
}
@media (min-width: 1320px) {
	.epikairotita .second img {height:178px;}
}


/* TV ΜΕΤΑΔΟΣΕΙΣ */
.tv-metadoseis .row {padding:10px 0px; margin-bottom:1px; border-bottom:1px solid #a7b8c0; margin-left:1px;}
.tv-metadoseis .row div:nth-child(1) {font-weight:700;}
.tv-metadoseis .row:nth-child(odd) {background:#fff;}
.tv-metadoseis .row:nth-child(even) {background:#f8f8f8;}

.tv-metadoseis .date h5{color:#FFF; font-weight:700;}

@media (min-width:1000px) and (max-width:1320px) {
	.tv-metadoseis h4 {margin-top:22px;}
	}

/* CATEGORIES */
.category {margin-bottom:20px; border-bottom:1px solid #eaeaea; padding-bottom:30px}
.category img{width:100%}
.category h1 a { text-transform:uppercase;}
.category .large-pict {position:relative; margin-bottom:1px;}
.category .thumbnail {margin-bottom:1px;}
.category .thumbnail .caption{padding:15px; position:absolute; bottom:0px;}
.category .thumbnail .caption a{color:#FFF;}

@media (min-width:640px) and (max-width: 768px) {
	.category .thumbnail img {height:auto;}
}

@media (min-width: 769px) and (max-width: 1000px) {
	.category .thumbnail img{height:200px;}
	.category .large-pict img {min-height:400px;}
}

@media (min-width: 1000px) and (max-width: 1320px){
	.category .thumbnail img{height:135px;}
	.category .large-pict img {min-height:370px;}
}
@media (min-width: 1320px){
	.category .thumbnail img{height:178px;}
	.category .large-pict img {min-height:370px;}
}
@media (max-width: 640px) {
	.category h2 {font-size:20px;}
}

.daily-photo img {width:100%; border:20px solid #fff;}
@media (max-width:640px) {
	.daily-photo h1 {font-size:32px;}
	}


/* inner pages elements */

/*WEB TV RIGHT COLUMN BOX */
.webtv-box {margin-top:20px; border-bottom:10px solid #1c4c65; border-top:10px solid #1c4c65;}
.webtv-box h4 a, .webtv-box small{color:#FFFFFF; }
.webtv-box img {width:100%;}
.webtv-box .play-btn {position:relative;}
.webtv-box .glyphicon-play-circle {display:block; position:absolute; top:40%; left:45%;font-size:5rem; color:#FFFFFF; }
.webtv-box h3 {color:#a7b8c0; background:url(../images/new/tag-title-small.png) no-repeat 0px 0px; padding-left:90px;}

/*ARTICLE PAGE */
#newArticle p {font-size:19px; font-weight:300}
#newArticle .lead {font-size:21px;}
#newArticle .main-photo {background:#03283c; padding:10px}
.category-articles {margin-top:20px; padding-top:15px; border-top:1px solid #eaeaea;}
.category-articles .thumbnail {paading-left:-5px; padding-right:-5px;}
.relative {margin-bottom:40px; border-top:9px solid #a7b8c0;}
.programm {border-top:10px solid #f6a922;}
.programm td:nth-child(2) {background:#03283c; text-align:center; color:#FFF;}
.rankings {border-top:10px solid #b11116;}

#social-follow-inarticle {
    padding-top: 20px;
    padding-bottom: 30px;
    background: #f8f8f8;
    margin: 0 10px;
    border: 1px solid #eaeaea;
}
.social-follow-inarticle span {font-weight:700px; color:#1c4c65;}

@media (max-width:640px) {
#newArticle h1 {font-size:2.2rem} 
#newArticle .lead {font-size:1.7rem}
#newArticle p {font-size:1rem}
}
/* footer */
.footer-area h5, .footer-area a {color:#FFF;}
.footer-area ul { list-style:none; padding-left:0px; font-size:14px;}
.social-large row div {text-align:center;}
.footer-area .left, .footer-area .right {border-left:1px solid rgba(255,255,255,0.3)}

.icon-facebook, .icon-twitter, .icon-youtube, .icon-instagram {width:130px; height:130px; display:block; text-align:center; border-radius: 50%; margin:10px auto;}
.icon-facebook { background:rgba(255, 255, 255, 0.2) url(../images/new/social-cons-footer.png) no-repeat 15px -390px;}
.icon-twitter { background:rgba(255, 255, 255, 0.2) url(../images/new/social-cons-footer.png) no-repeat 12px -256px;}
.icon-youtube { background:rgba(255, 255, 255, 0.2) url(../images/new/social-cons-footer.png) no-repeat 15px -125px;}
.icon-instagram { background:rgba(255, 255, 255, 0.2) url(../images/new/social-cons-footer.png) no-repeat 17px 20px;}

/*LIST PAGE ELEMENTS */
.list-article img, .sub-category-container img {width:100%; margin-bottom:10px;}
.list-master-article {position:relative;}
.list-master-article .caption {padding:15px; position:absolute; bottom:0px;}
.list-master-article .caption a, .list-master-article .caption p{color:#FFF;}

.sub-category-container {min-height:610px; border-bottom:3px solid #FFF; border-right:3px solid #FFF; padding-bottom:20px;}
.sub-category-container h2 {margin-bottom:0;}
.sub-category-container h5 {border-bottom:1px dotted #d6d6d6;border-top:1px dotted #fff; padding:10px; margin:0;}

@media (max-width: 768px) {
	.list-master-article h1 {font-size:20px}
	.list-article h4{font-size:14px; margin-top:5px;}
	.list-article {border-bottom:1px solid #eaeaea;}
	.sub-category-container h3{font-size:19px; margin-top:5px;}
	
}
@media (min-width:480px) and (max-width:768px) {
	.list-master-article img {width:100%}
	.list-article h4{font-size:20px; margin-top:5px;}
	}
@media (min-width: 768px) {
	.list-master-article img {width:100%}
	.sub-category-container h3 {margin-top:15px;}
}

@media (min-width: 1320px) {
	.sub-category-container .thumbnail img {height:148px; }
}

@media (min-width: 1000px) and (max-width:1300) {
	.sub-category-container h3 {font-size:22px;}
}

.frontpages-thumbs h4 { background:#1c4c65; color:#fff; text-align:center; padding:3px; -webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
margin-left:10px; margin-right:10px;}
.frontpages-thumbs div {padding-bottom:10px; margin-bottom:30px;}
.frontpages-thumbs div .shownewspaper{display:block; margin:6px; padding:10px; border:1px solid #eaeaea; background:#f8f8f8; overflow:hidden;}
.tabs h5 { background:#eaeaea; padding:5px;}

@media (min-width: 768px) and (max-width: 1000px) {
	.frontpages-thumbs .shownewspaper {height:380px; }
}
@media (min-width: 1000px) and (max-width: 1320px) {
	.frontpages-thumbs .shownewspaper {height:370px;}
}
@media (min-width: 1320px){
	.frontpages-thumbs .shownewspaper { height:322px;}
}

.newspapers-nav .glyphicon {font-size:28px;}

/* webtv page */
.embed-responsive {margin-bottom:30px;}
.list-article img {width:100%}
.category-articles img {width:100%}
.list-article .play-btn, .category-articles .play-btn{position:relative;}
.list-article .glyphicon-play-circle, .category-articles .glyphicon-play-circle{
    display: block;
    position: absolute;
    top: 40%;
    left: 45%;
    font-size: 5rem;
    color: #FFFFFF;}
#video-categ {
	margin-bottom:20px;
	}
	
#video-categ .links-holder a {
	display: block;
    width: 50%;
    margin: 0px;
    padding-left: 20px;
	float: left;
	padding:10px;
	border-left:1px solid #FFF;
	border-bottom:1px solid #ccc;
	font-size:14px;
    
}
#video-categ .links-holder .even {
    background: #f1f1f1;
}
#video-categ .links-holder .odd {
    background: #f8f8f8;
}
@media (min-width: 768px) and (max-width: 1000px) {
	.list-article img { height:200px;}
	.category-articles img {height:200px}
}
@media (min-width: 1000px) and (max-width: 1320px) {
	.list-article img { height:186px;}
	.category-articles img {height:135px}
}
@media (min-width: 1320px){
	.list-article img { height:240px;}
	.category-articles img {height:160px}
}

/* ΤΕΛΕΥΤΑΙΕΣ ΕΙΔΗΣΕΙΣ  ΣΕΛΙΔΑ */
.latest-news {margin-bottom:30px;}
.latest-news img {width:100%}


/* BOOTSTRAP OVERIDES */
.lead {margin-top:30px;}
.row .thumbnail {box-shadow:none; background:none;}
.navbar-default .navbar-nav>li>a {font-size:18px;}
.navbar-toggle {
	margin-top: 12px;
    margin-bottom: 5px;
	background:#1c4c65;
	}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #FFF;
	height: 3px;}
.navbar-default .navbar-toggle {
    border: none;
	}

.navbar-toggle .icon-bar { border-color: transparent;}
#header-xs h4 {margin:0px; font-size: 18px; line-height: 47px;}
#header-xs h4 a {color:#FFF;}

/* banner up of teleytaies eidhshs */
.banner_height{height:110px;}
.bet-logos {border:1px solid #1c4c65; margin-bottom:5px;}
.bet-logos h4 {background: #1C4c65;color:#FFF;padding:8px;text-align:center;margin-top:0px}

.betting {margin-bottom:5px;margin-left:0px}

@media (min-width: 768px) and (max-width: 999px) {
	.sectophot{ padding-left: 20px; padding-right: 20px;}
}
