/* General Styles Starts Here */

body {
	/*color:#fff;*/
	margin:0px;
	background-color:#000000;
}

.padding{
	padding: 8px 0px 8px 0px;
}


.defaulttext1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8.5pt;
	color:#fff;
}

.defaulttext2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8.5pt;
	color:#ffc955;
}

.defaulttext3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8.5pt;
	color:#393939;
}

.defaulttext4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #A31C07;
}

.defaulttext5 {
	font-size:8pt;
	color:#393939;
}

.defaulttext6 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #4b892a;
}

.defaulttext7 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #393939;
	background-color: #FFF;
}

.defaulttext8 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8pt;
	color: #373636;
	background-color: #eee;
}

.defaulttext9 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #373636;
}

.defaulttext10 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:#393939;
}

.border1 {
	border:solid 1px #e4e3e1;
}

/*.verticaldivider {
	background-image:url(../../images/vertical_dotted.gif);
	background-position:center center;
	background-repeat:no-repeat;
	width:1px;
	height:21px;
}*/

.verticaldivider1 {
	background-image:url(../../images/vertical_divider1.gif);
	background-position:left top;
	background-repeat:repeat-y;
	width:1px;
}

.horizontaldivider {
	background-image:url(../../images/horizontal_dotted.gif);
	background-position:left top;
	background-repeat:repeat-x;
	height:1px;
}

.horizontaldivider1{
	background-image:url(../../images/horizontal_divider.gif);
	background-position:left center;
	background-repeat:no-repeat;
	width:172px;
	height:7px;
}

.dottedhdivider {
	background-image:url(../../images/horizontal_dotted_thick_divider.gif);
	background-position:left top;
	background-repeat:repeat-x;
}

.linebg1 {
	background-color:#c5442f;
}

.linebg2 {
	background-color:#a31c07;
}

.linebg3 {
	background-color:#000;
}

.linebg4 {
	background-color:#f6f6f6;
}

.linebg5 {
	background-color:#d8d8d8;
}

.linebg6 {
	background-color:#e7e6e6;
}

#article_table TD {
    padding: 5px;
}

/* General Styles Ends Here */



/* --------------------------------- LINK STARTS---------------------------------*/

A.hylink1:Link, A.hylink1:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8.5pt;
	color:#fff;
	text-decoration:none;
}

A.hylink1:Hover {
	text-decoration:underline;
}

A.hylink2:Link, A.hylink2:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:8.5pt;
	font-weight:bold;
	color:#fbba2e;
	text-decoration:underline;
}

A.hylink2:Hover {
	text-decoration:none;
}

A.hylink3:Link, A.hylink3:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	font-weight:bold;
	color:#f0db68;
	text-decoration:none;
}

A.hylink3:Hover {
	text-decoration:underline;
}

A.hylink4:Link, A.hylink4:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#393939;
	text-decoration:underline;
}

A.hylink4:Hover {
	text-decoration:none;
}

A.hylink5:Link, A.hylink5:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#A31C07;
	text-decoration:none;
}

A.hylink5:Hover {
	text-decoration:underline;
}

/* --------------------------------- LINK ENDS---------------------------------*/


/* --------------------------------- INPUTS STARTS ---------------------------------*/



/* --------------------------------- INPUTS ENDS---------------------------------*/



/* ID Based Styles Starts Here */

/******************************** Header Css Starts Here ******************************/

#header #navigation  {
	border-bottom:solid 1px #fff;
}

#header #logopanel {
	background-color:#fff;
	padding-left:15px;
}

#header .navgrediant {
	background-image:url(../../images/navigation_grediant.png);
	background-position:left top;
	background-repeat:repeat-x;
/*	background-color:transparent;*/
}

/******************************** Header Css Ends Here ******************************/

/******************************** Home Page Middle Table Css Starts Here ******************************/

#contenttable #leftcol {
	background-color:#fff;
}

#contenttable #midcol {
	background-image:url(../../images/middle_column_bg.gif);
	background-position:left top;
	background-repeat:no-repeat;
}

#contenttable #rightcol {
	background-image:url(../../images/right_column_bg.gif);
	background-position:left top;
	background-repeat:repeat-y;
	padding-left:20px;
	
}

/******************************** Home Page Middle Table Css Ends Here ******************************/



/******************************** Inside Content Middle Table Css Starts Here ******************************/


#maincontenttable #leftcol {
	background-color:#ffffff;
	padding-left:19px;
}

#maincontenttable #rightcol {
	width:241px;
	background-image:url(../../images/right_column_bg.jpg);
	background-position:left top;
	background-repeat:repeat-y;
	padding-top:36px;
	background-color:#a31c07;
}

#maincontenttable #leftcol #innercontenttable .defaulttext3 {
	font-size:9pt;
}

#maincontenttable #leftcol #innercontenttable .defaulttext3 span.defaulttext4 {
	color:#b92e18;
	font-size: 9pt;
}

#maincontenttable #leftcol #innercontenttable span.defaulttext3 A.hylink4:Link, #maincontenttable #leftcol #innercontenttable span.defaulttext3 A.hylink4:Visited {
	font-size:9pt;
	text-decoration:none;
}

#maincontenttable #leftcol #innercontenttable span.defaulttext3 A.hylink4:Hover {
	color:#b92e18;
	font-size:9pt;
	text-decoration:none;
}

/******************************** Inside Content Middle Table Css Ends Here ******************************/



/*=========================== Brand Map Css Starts here ===========================*/

#maincontenttable #leftcol #innercontenttable #brandmap .commercial_services {
	background-image:url(../../images/company/comercial_services_bg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	height:282px;
}

#maincontenttable #leftcol #innercontenttable #brandmap .commercial_services table {
	margin-top:36px;
}	

#maincontenttable #leftcol #innercontenttable #brandmap .travel_services {
	background-image:url(../../images/company/travel_industry_service_bg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	height:341px;
}

#maincontenttable #leftcol #innercontenttable #brandmap .travel_services table {
	margin-top:40px;
}

#maincontenttable #leftcol #innercontenttable #brandmap .community_services {
	background-image:url(../../images/company/community_services_bg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	height:318px;
}

#maincontenttable #leftcol #innercontenttable #brandmap .community_services table {
	padding-top:40px;
}

/*=========================== Brand Map Css Ends Here ===========================*/

/*=========================== Business Units Css Starts Here ===========================*/

#maincontenttable #leftcol #innercontenttable #moredetails .defaulttext3 {
	padding:22px;
	text-align:justify;
	background-color:#eeeeee;
}

#maincontenttable #leftcol #innercontenttable #moredetails .defaulttext1 {
	font-size:18pt;
	font-weight:bold;
}

#maincontenttable #leftcol #innercontenttable #moredetails .defaulttext2 {
	background-image:url(../../images/company/shadow.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:38px;
}

/*=========================== Business Units Css Ends Here ===========================*/

/*=========================== Management Team Css Starts Here ===========================*/


#maincontenttable #leftcol #innercontenttable #management .defaulttext2 {
	color:#393939;
}

#maincontenttable #leftcol #innercontenttable #management A.hylink1:Link, #maincontenttable #leftcol #innercontenttable #management A.hylink1:Visited {
	font-size:8.5pt;
	color:#b22b16;
}

#maincontenttable #leftcol #innercontenttable #management A.hylink1:Hover {
	font-size:8.5pt;
	color:#393939;
	text-decoration:none;
}

#maincontenttable #leftcol #innercontenttable #management .defaulttext1 {
	padding-left:14px;
}

#maincontenttable #leftcol #innercontenttable #managementinfo .defaulttext2 {
	background-image:url(../../images/company/shadow.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:38px;
}

#maincontenttable #leftcol #innercontenttable #managementinfo .defaulttext3 {
	padding:12px;
}

#maincontenttable #leftcol #innercontenttable #managementinfo .horizontaldivider {
	background-position:-1px top;
}

#maincontenttable #leftcol #innercontenttable a.about { color:#B22B16; text-decoration:none;}

#maincontenttable #leftcol #innercontenttable a.about:hover { text-decoration:underline;}

/*=========================== Management Team Css Ends Here ===========================*/

/*=========================== Associates Css Starts Here =============================*/

#associates #banklogo {
	padding:15px 0px 15px 0px;
	width:120px;
	float:left;
}

#chinesebanksPanel #banklogo, #singaporebanksPanel #banklogo, #tp1 #banklogo {
	padding:15px 0px 15px 0px;
	width:140px;
	float:left;	
}

#associates .linebg5 {
	height:1px;
	clear:both;
/*	float:left;*/
	width:712px;
}

.AccordionPanel .defaulttext2 {
	background-image:url(../../images/company/shadow.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:25px;
}

.AccordionPanel A.hylink1:Link, .AccordionPanel A.hylink1:Visited {
	color:#000;
	font-weight:normal;
	text-decoration:underline;
}

.AccordionPanel A.hylink1:Hover {
	color:#505050;
	font-weight:normal;
	text-decoration:none;
}

/*=========================== Associates Css Ends Here =============================*/


/*=========================== Clients Css Starts Here =============================*/

#innercontenttable #ccavenueclients .linebg4 {
	background-image:url(../../images/green_bgimg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:19px;
}

#innercontenttable #ccavenueclients .defaulttext2 {
	background-image:url(../../images/company/shadow.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:20px;
}

#innercontenttable #ccavenueclients .linebg5, #innercontenttable #resavenueclients .linebg5  {
	background-color:#e8e8e8;
}

#innercontenttable #ccavenueclients .defaulttext3 {
	padding:10px 0px 20px 0px;
}

#innercontenttable #ccavenueclients .defaulttext1 {
	padding:10px 0px 0px 0px;
}

#innercontenttable #eventsavenueclients .defaulttext1  {
	padding:15px 0px;
}

#innercontenttable #resavenueclients .defaulttext3, #innercontenttable #hotelsavenueclients .defaulttext3 {
	font-size:8pt;
	color:#000000;
	padding:10px 0px 13px 0px;
}

#innercontenttable #resavenueclients .defaulttext1, #innercontenttable #hotelsavenueclients .defaulttext1 {
	padding:18px 0px 0px 0px;
}


/*=========================== Clients Css Ends Here ===============================*/


/*=========================== Contact Us Css Starts Here ===============================*/

#innercontenttable #contactus .linebg4 {
	background-image:url(../../images/green_bgimg.gif);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:19px;
}

#innercontenttable #contactus .shadow {
	background-image:url(../../images/shadow_contact.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	height:13px;
}

#innercontenttable #contactus .shadowlong {
	background-image:url(../../images/company/shadow.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:14px;
}

#innercontenttable #contactus .shadowmedium {
	background-image:url(../../images/company/shadow_medium.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	height:14px;
}


#innercontenttable #contactus A.hylink4:Link, #innercontenttable #contactus A.hylink4:Visited {
	font-weight:normal;
	font-size:12px;
}

#innercontenttable #contactus A.hylink4:Hover {
	font-weight:normal;
}

#innercontenttable #contactus span.defaulttext4 {
	width:122px;
	text-align:center;
	display:block;
	margin-top:5px;
}

#innercontenttable #contactus_businessunits {
	border:1px solid #e3e3e3;
	border-right:0px;
	border-bottom:0px;
}

#innercontenttable #contactus_businessunits TD{
	border:1px solid #e3e3e3;
	border-left:0px;
	border-top:0px;
}

#innercontenttable #contactus_businessunits #contactus_businessunits_inside TD{
	border:0px;
}

#innercontenttable #contactus_businessunits #contactus_businessunits_inside .defaulttext3{
	color:#565656;
}

#innercontenttable #contactus_businessunits #contactus_businessunits_inside A.hylink4:Link, #innercontenttable #contactus_businessunits #contactus_businessunits_inside A.hylink4:Visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#8a8989;
	text-decoration:underline;
}

#innercontenttable #contactus_businessunits #contactus_businessunits_inside A.hylink4:Hover {
	text-decoration:none;
}



/*=========================== Contact Us Css Ends Here ===============================*/


/*=========================== Press Room Css Starts Here =============================*/

#press_landing .newstitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #FFF;
	font-weight:bold;
	padding-bottom: 4px;
	display:block;
}

#press_landing .newsdescription{
	background-color: #222222;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	padding: 10px 15px 10px 15px;
	height:90px;
}

#brewing .title{
	background-color: #030303;
	height: 40px;
	border-bottom: 1px solid #FFF;
	background-image:url(../../images/title_what_brewing_avenues_inside.png);
	background-position: 13px center;
	background-repeat:no-repeat;
}

#brewing .gradient{
	background-image:url(../../images/red_gradient.jpg);
	background-position:left top;
	background-repeat:repeat-x;
	height: 12px;
}

#brewing .defaulttext8{
	padding: 5px 13px 15px 13px;
}

#brewing .defaulttext4{
	font-size: 11px;
}

#brewing .padding {
	padding: 9px 0px 9px 0px;
}

#brewing A.hylink4:Link, #brewing A.hylink4:Visited {
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
}

#brewing A.hylink4:Hover{
	text-decoration:underline;
}

#presslist TD {
	border-bottom:1px solid #d8d8d8;
	padding: 12px 0px 12px 0px;
}

#downloadlist TD {
	padding: 18px 0px 18px 0px;
	border-bottom:1px solid #d8d8d8;
}

#presslist DIV {
	border-left:1px solid #d8d8d8;
	padding-left: 25px;
}

#downloadlist DIV{
	border-left:1px solid #d8d8d8;
	padding:8px 0px 8px 25px;
}

#presslist DIV img {
	margin-top: 6px;
}

#pressarticle .defaulttext4 {
	padding: 0px 0px 10px 0px;
}

#pressarticle A.hylink4:Link, #pressarticle A.hylink4:Visited, #pressarticle A.hylink4:Hover {
	font-size:12px;
}

#pressarticle .defaulttext5 {
	margin-top: 3px;
	display:block;
}

#pressarticle span.defaulttext5 A.hylink4:Link, #pressarticle span.defaulttext5 A.hylink4:Visited, #pressarticle span.defaulttext5 A.hylink4:Hover  {
	font-size:11px;
	font-weight:normal;
}

#pressarticle .arrowbullet {
	background-image:url(../../images/bullet.gif);
	background-repeat:no-repeat;
	background-position:left 15px;
}

#pressarticle .arrowbullet1 {
	background-image:url(../../images/bullet.gif);
	background-repeat:no-repeat;
	background-position:left 12px;
}

#pressarticle #pci {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	padding:5px;
	background-color:#757575;
	text-align:justify;
}

/*=========================== Press Room Css Ends Here =============================*/


/*=========================== Careers Css Starts Here =============================*/

#openings A.hylink4:Link, #openings A.hylink4:Visited {
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}

#openings A.hylink4:Hover {
	text-decoration:underline;
	color: #A31C07;
}

#openings-description .linebg4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #393939;
	padding: 10px 15px 10px 15px;
}

#openings-description .padding {
	padding: 10px 10px 0px 0px;
}

#openings-description A.hylink4:Link, #openings-description A.hylink4:Visited {
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	display: block;
	height: 15px;
	width: 55px;
	background-color:#999999;
	color: #FFF;
	text-align:center;
	padding: 2px 0px 2px 0px;
}

#openings-description A.hylink4:Hover {
	text-decoration:underline;
}

#openings-description span {
	padding-bottom: 4px;
	display:block;
}

#careerdetailstable {
	border: 1px solid #dfdede;
	background-color: #FFF;
}

#careerdetailstable .defaulttext7 {
	padding:6px 6px 6px 6px;
	font-size:12px;
}

#careerdetailstable .arrowbullet{
	background-image:url(../../images/arrow_close_green.gif);
	background-position: 10px 9px;
	background-repeat:no-repeat;
}

#careerdetailstable .nopadding {
	padding: 0px;
}

/*=========================== Careers Css Ends Here =============================*/


/*=========================== Sitemap Css Starts Here =============================*/

#sitemap A.hylink1:Link, #sitemap A.hylink1:Visited {
	font-size:12px;
	color:#fff;
	text-decoration:none;
	background-color: #393939;
	font-weight:bold;
	width: 168px;
	height: 18px;
	display:block;
	padding-left: 10px;
	padding-top: 3px;
	vertical-align:middle;
}

#sitemap A.hylink1:Hover {
	text-decoration:underline;
}


#sitemap A.hylink2:Link, #sitemap A.hylink2:Visited {
	font-size:14px;
	color:#fff;
	text-decoration:none;
	background-color: #68a547;
	font-weight:bold;
	display:block;
	width: 108px;
	height: 20px;
	padding-top: 4px;
	vertical-align:middle;
}

#sitemap A.hylink2:Hover {
	text-decoration:underline;
}

#sitemap A.hylink4:Link, #sitemap A.hylink4:Visited {
	text-decoration:none;
	font-weight:normal;
	font-size: 12px;
}

#sitemap A.hylink4:Hover {
	text-decoration:underline;
}

#sitemap .defaulttext7 {
	font-size: 12px;
	font-weight:bold;
	width: 168px;
	height: 21px;
	padding-left: 10px;
	vertical-align:middle;
	background-color: #393939;
	color: #FFF;
}


/*=========================== Sitemap Css Ends Here =============================*/




/******************************** Content Middle Table Css Ends Here ******************************/

/******************************** Right Navigation Table Css Starts Here ******************************/

#maincontenttable #rightcol #rightnav A.hylink1:Link, #maincontenttable #rightcol #rightnav A.hylink1:Visited {
	font-size:9pt;
}

#maincontenttable #rightcol #rightnav A.hylink1:Hover {
	font-size:9pt;
}

#maincontenttable #rightcol #rightnav .linebg1 {
	background-color:#921a07;
	padding:0px 0px 0px 11px;
	border:none;
}

#maincontenttable #rightcol #rightnav TD {
	font-size:9pt;
	border-bottom:solid 1px #bb6a5e;
}

/******************************** Right Navigation Table Css Ends Here ******************************/


/******************************** Right Explore Services Table Css Ends Here ******************************/

#maincontenttable #rightcol #exploresolutions {
	border: 1px solid #be766a;
	border-top-width: 0px;
}

#maincontenttable #rightcol #exploresolutions .description {
	padding: 6px 0px 14px 13px;
	background-color: #921a07;
}

#maincontenttable #rightcol #exploresolutions .border1{
	border: 0px solid #be766a;
	border-top: 1px solid #be766a;
}


/******************************** Right Explore Services Table Css Ends Here ******************************/



/******************************** Footer Css Starts Here *******************************/

#bottomtable .defaulttext1 {
	padding:0px 21px;	
	background-color:#000000;
}

#bottomtable1 .dottedhdivider {
	height:46px;
	background-position:1px top;
	background-repeat:repeat-x;
	background-color:#fff;
}

#bottomtable1 .linebg2 {
	background-image:url(../../images/bottom_right_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}

/******************************** Footer Css Ends Here ******************************/

/* ID Based Styles Ends Here */
