.chromestyle{
width: 96%;
font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
/*border: 1px solid #BBB;*/
width: 100%;
/*background: url(chromebg.gif) center center repeat-x;*/ /*THEME CHANGE HERE*/
padding: 2px;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #494949;
padding:5px 10px 5px 10px;
margin: 0;
text-decoration: none;
background:url('/images/menu_bg.png') left 50px no-repeat;
/*border: 1px solid #DADADA;*/
}

.chromestyle ul li#home a:hover, .chromestyle ul li#home a.selected { background-position:3px center; }
.chromestyle ul li#company a:hover, .chromestyle ul li#company a.selected { background-position:-72px center; }
.chromestyle ul li#services a:hover, .chromestyle ul li#services a.selected { background-position:-170px center; }
.chromestyle ul li#clients a:hover, .chromestyle ul li#clients a.selected { background-position:-263px center; }
.chromestyle ul li#pressroom a:hover, .chromestyle ul li#pressroom a.selected { background-position:-353px center; }
.chromestyle ul li#downloads a:hover, .chromestyle ul li#downloads a.selected { background-position:-469px center; }
.chromestyle ul li#careers a:hover, .chromestyle ul li#careers a.selected { background-position:-582px center; }
.chromestyle ul li#contact a:hover, .chromestyle ul li#contact a.selected { background-position:-670px center; }


/*.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
/*background: url(chromebg-over.gif) center center repeat-x;*/ /*THEME CHANGE HERE*/
/*background-color:#68a547;
}*/

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
/*border: 3px solid #BBB;*/ /*THEME CHANGE HERE*/
font:normal 9pt Arial;
line-height:20px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
background-color:#000;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #8e8e8e; /*THEME CHANGE HERE*/
padding: 3px 6px;
text-decoration: none;
font-weight: normal;
color: #fff;
background-color:#000;
text-align:left;
}

.dropmenudiv #innerdiv {
	border:3px solid #8e8e8e;
	border-top:none;
	border-bottom-width:2px;
}

.dropmenudiv .break {
	line-height:7px;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #68a547;
}

.verticaldivider {
	background-image:url(/images/vertical_dotted.gif);
	background-position:center bottom;
	background-repeat:no-repeat;
	display:block;
	height:17px;
	padding:1px 5px;
}

.home #navigation .chromestyle ul li#home a { background-position: 3px center; }
.company #navigation .chromestyle ul li#company a { background-position:-72px center; }
.services #navigation .chromestyle ul li#services a { background-position:-170px center; }
.clients #navigation .chromestyle ul li#clients a { background-position:-263px center; }
.pressroom #navigation .chromestyle ul li#pressroom a { background-position:-353px center; }
.downloads #navigation .chromestyle ul li#downloads a { background-position:-469px center; }
.careers #navigation .chromestyle ul li#careers a { background-position:-582px center; }
.contact #navigation .chromestyle ul li#contact a { background-position:-670px center; }