@charset "utf-8";
body{
	word-break : break-all;
}
/** header **/
@media screen and (min-width: 768px){
	/* St-CS-PP-3 */
	#header #header__logo img.jwest {
		width: 121px;
		height: 40px;
	}
	/* St-CS-PP-4 */
	#header #header__logo img.iy {
		width: 112px;
		height: 21px;
	}
	/* St-CS-PP-5 */
	#header #header__logo img.op {
		width: 199px;
		height: 17px;
	}
	#header.min {
		height:auto;
	}
	.contents__inner p.blueTxt {
		font-size: 28px;
		color: #008dec;
	}
	.contents__inner p.blueTxt .small {
		font-size: 18px;
	}
}
@media screen and (max-width: 767px){
	/* St-CS-PP-3 */
	#header #header__logo img.jwest {
		width: 60px;
		height: auto;
	}
	/* St-CS-PP-4 */
	#header #header__logo img.iy {
		width: 80px;
		height: auto;
	}
	/* St-CS-PP-5 */
	#header #header__logo img.op {
		width: 130px;
		height: auto;
	}
	#header.min {
		min-height:44px;
		background-color: #fff;
	}
	#header.min #header__logo ,
	#header.noMenu #header__logo {
		background-color: #fff;
		background-image: url(/common_new/images/common/opacity_black.png);
		background-repeat: repeat-x;
		background-position: left bottom;
	}
	.contents__inner p.blueTxt {
		font-size: 18px;
		color: #008dec;
	}
	.contents__inner p.blueTxt .small {
		font-size: 15px;
	}
}
/* St-CS-PP-2 */
#contents.nonHeader{
	border-top:4px solid #008eed;
	height:auto;
	min-height:auto;
}
/* St-PR-GO St-PR-PR St-PR-TC*/
.mainContents .ttlArea.premium{
	background-image: url(/common_new/images/service/premium/gradation-gold.png);
	padding-top: 8px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 8px;
}
/* St-PR-PL*/
.mainContents .ttlArea.platinum{
	background-image: url(/common_new/images/service/premium/gradation-platinum.png);
	padding-top: 8px;
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 8px;
}


/* speakAnchor */
.speakAnchor,
#navSpeak {
	position:absolute;
	top:0;
	left:-9999em;
}

/* .mainContents */
.mainContents > div:last-child {
	margin-bottom:5em;
}
#contents__release__detail .mainContents > div:last-child ,
.mainContents > div.typePL-corporate ,
.mainContents div.form {
	margin-bottom:0;
}
#contents .mainContents div.form section{
	padding-bottom:2em;
}
.mainContents > #contents__card__personal__detail__basicInfo:last-child {
	margin-bottom:-1px;
}
.carddetail #contents__card__personal__detail__links {
	margin-bottom:0;
}
/* a */
.mainContents a {
	color: #008dec;
}
.mainContents a:hover {
	text-decoration: underline;
}
.mainContents #contents__card__personal__detail__basicService a:hover,
.mainContents .module__cardUtilitiesSet a:hover ,
.mainContents .module__currentCheckSet a:hover ,
.mainContents .module__utilities__2elm a:hover,
.mainContents .module__utilities__3elm a:hover,
.mainContents .module__utilities__4elm a:hover,
.mainContents .module__utilities__5elm a:hover,
.mainContents .module__utilities__6elm a:hover{
	text-decoration: none;
}

/* img */
.mainContents img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	width /***/: auto;
}
.mainContents img.actual {
	width:auto!important;
	height:auto!important;
}
.mainContents p{
	margin-top:1em;
}
/* title module */
.mainContents .ttlType1 {
	font-size: 40px;
	font-weight: normal;
}
.mainContents .row + .ttlType1 {
	margin-top:3em;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlType1 {
		font-size: 20px;
	}
}
.mainContents .ttlType2 {
	font-size: 32px;
	margin: 0 0 1em;
	padding-top: 88px;
	font-weight: normal;
	line-height:1.3;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlType2 {
		font-size: 19px;
		padding-top: 44px;
	}
}
.mainContents .ttlType3 {
	font-size: 28px;
	padding: 2em 0 0;
	margin: 0 0 0.5em;
	font-weight: normal;
	color: #727272;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlType3 {
		font-size: 18px;
	}
}
.mainContents .ttlType4 {
	font-size: 22px;
	margin: 1em 0 0;
	font-weight: normal;
}
.mainContents table.type01 + .ttlType4 {
	margin: 4em 0 0;
}
.carddetail .mainContents #contents__card__personal__detail__service table.type01 + h4.ttlType4 {
	margin-top:3em;
}
.mainContents .row-2-1-1 + .ttlType4 {
	margin: 3em 0 0!important;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlType4 {
		font-size: 16px;
	}
	.mainContents table.type01 + .ttlType4 {
		margin: 2em 0 0;
	}
}
.mainContents .ttlType5 {
	font-size: 20px;
	margin: 1em 0 0;
	font-weight: normal;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlType5 {
		font-size: 15px;
	}
}
.mainContents .ttlType6 {
	font-size: 16px;
	margin: 1em 0 0;
	font-weight: normal;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlType6 {
		font-size: 13px;
	}
}
/* text module */
.mainContents .colorType1 {
	color: #008dec;
}
.mainContents .colorType2 {
	color: #f5493f;
}
.mainContents .colorType3 {
	color: #737373;
}
.mainContents .txtType1 {
	font-size: 28px;
}
.mainContents .ttlArea + section .txtType1,
.mainContents .ttlArea + section .txtType2,
.mainContents .ttlArea + section .txtType3 {
	margin-top:4em;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlArea + section .txtType1,
	.mainContents .ttlArea + section .txtType2,
	.mainContents .ttlArea + section .txtType3 {
		margin-top:2em;
	}
}
@media screen and (max-width: 767px) {
	.mainContents .txtType1 {
		font-size: 18px;
	}
}
.mainContents .txtType2 {
	font-size: 22px;
}
@media screen and (max-width: 767px) {
	.mainContents .txtType2 {
		font-size: 16px;
	}
}
.mainContents .txtType3 {
	font-size: 18px;
}
@media screen and (max-width: 767px) {
	.mainContents .txtType3 {
		font-size: 15px;
	}
}
.mainContents .txtType4 {
	font-size: 12px;
}
@media screen and (max-width: 767px) {
	.mainContents .txtType4 {
		font-size: 11px;
	}
}
/* list module */
.mainContents ul {
	padding-left: 0;
	list-style-type: none;
}
.mainContents .contents__card__personal__detail__toggleContent .module__utilities__4elm ul{
	padding: 0 12px;
}
.mainContents .module__cardUtilitiesSet .module__utilities__4elm ul {
	padding: 0 12px;
}
.mainContents #contents__card__personal__detail__quicpay ul {
	list-style-type: disc;
}
.mainContents #contents__card__personal__detail__quicpay ul.caution > li,
.mainContents #contents__card__personal__detail__quicpay ul.cautionA > li{
	list-style-type: none;
}
.mainContents ul.disc {
	padding-left: 0;
	list-style-type: disc;
}
.mainContents ul.disc > li {
	margin: 0 0 0 2em;
	text-indent: 0;
	list-style-type: disc;
}
.mainContents ul.disc ul,
.mainContents ul.disc ol {
	margin: 0;
}
.mainContents ol.decimal {
	padding-left: 0;
	list-style-type: decimal;
}
.mainContents ol.decimal > li {
	margin: 0 0 0 2em;
	text-indent: 0;
}
.mainContents ol.decimal > li:nth-child(n+10) {
	margin-left: 2.5em;
	text-indent: 0;
}
.mainContents ol.decimal ul,
.mainContents ol.decimal ol{
	margin: 0;
}
.mainContents ul.caution,
.mainContents ul.cautionA {
	padding-left: 0;
	list-style-type: none;
}
.mainContents ul.caution > li ,
.mainContents ul.cautionA > li {
	margin-left: 1.2em;
	text-indent: -1em;
	font-size: 11px;
}
.mainContents ul.caution > li:before ,
.mainContents ul.cautionA > li:before {
	content: "\0203B";
}
.mainContents ul.caution ul,
.mainContents ul.caution ol,
.mainContents ul.cautionA ul,
.mainContents ul.cautionA ol {
	margin: 0;
}
.mainContents ul.cautionA li{
/*	color: #f5493f;*/
}
.mainContents ul.normal li a{
	line-height: 2;
}
.mainContents ul.normal li > ul{
	margin-left: 1.5em;
}

/* link module */
.mainContents a.internal:visited,
.mainContents a.external:visited,
.mainContents a.anchorLink:visited,
.mainContents a.file:visited {
	color:#3545bf;
}
.mainContents .submitBtn a.internal:visited,
.mainContents .submitBtn a.external:visited,
.mainContents .submitBtn a.file:visited {
	color:inherit;
}

.mainContents a.internal::after,
.mainContents a.external::after,
.mainContents a.file::after {
	content: "";
	display: inline-block;
	margin-left: 6px;
	width: 7px;
	height: 12px;
	background: url(/common_new/images/common/icon_arrow-blue.png) no-repeat 50% 50%;
	-webkit-background-size: 7px 12px;
	background-size: 7px 12px;
}
.mainContents a.external::after {
	width: 10px;
	height: 10px;
	background-image: url(/common_new/images/common/icon_blank10-blue.png);
	-webkit-background-size: 10px 10px;
	background-size: 10px 10px;
}

.corporate .mainContents #contents__corporate__service__myjcb .module--button--blue.external,
.corporate .mainContents #contents__corporate__service__eco .module--button--blue.external {
	display:inline-block;
	padding: 2px 10px 2px 10px;
	color: #fff !important;
	background-color: #008eed !important;
	width:auto;
}

.corporate .mainContents #contents__corporate__service__myjcb .module--button--blue.external::after,
.corporate .mainContents #contents__corporate__service__eco .module--button--blue.external::after {
	content: " ";
	width: 10px;
	height: 10px;
	background-image: url(/common_new/images/common/icon_blank-white.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 10px 10px;
}
.mainContents a.anchorLink::after {
	content: "";
	display: inline-block;
	margin-left: 6px;
	width: 12px;
	height: 7px;
	background: url(/common_new/images/common/icon_anchor-blue.png) no-repeat 50% 50%;
	-webkit-background-size: 12px 7px;
	background-size: 12px 7px;
}
.mainContents a.file::after {
	width: 15px;
	height: 15px;
	background-image: url(/common_new/images/common/icon_file-blue.png);
	-webkit-background-size: 10px 10px;
	background-size: 15px 15px;
}
.mainContents a.linkType1 {
	display: block;
	margin-top: 40px;
	padding: 19px 0;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	text-align: center;
	font-size:16px;
}
.mainContents a.linkType1:after {
	width: 7px;
	height: 16px;
	background-size: 7px 12px;
	display: inline-block;
	margin-left: 6px;
	content: '';
	vertical-align: middle;
	background-image: url(/common_new/images/common/icon_arrow-blue.png);
	background-repeat: no-repeat;
	background-position: right top;
}
@media screen and (max-width: 1023px) and (min-width: 768px){
	.mainContents a.linkType1 {
	    font-size: 15.29412px;
	}
}
@media screen and (max-width: 767px) {
	.mainContents a.linkType1 {
		font-size:13.79412px;
	}
}
@media screen and (max-width: 479px){
	.mainContents a.linkType1 {
		font-size: 13px;
	}
}
.mainContents .anchorLinkType1 {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}
.mainContents .anchorLinkType1 li {
	float: left;
	margin-right: 20px;
}
.mainContents .anchorLinkType1 li a {
	line-height: 2;
}
.mainContents .anchorLinkType1 li a::after {
	content: "";
	display: inline-block;
	margin-left: 6px;
	width: 12px;
	height: 7px;
	background: url(/common_new/images/common/icon_anchor-blue.png) no-repeat 50% 50%;
	-webkit-background-size: 12px 7px;
	background-size: 12px 7px;
}
.carddetail .mainContents #contents__card__personal__detail__intro__recommend .anchorLinkType1 {
	margin-top: 1em;
}
.carddetail .mainContents #contents__card__personal__detail__intro__recommend .anchorLinkType1 li {
	margin-left: 0;
}
.carddetail .mainContents #contents__card__personal__detail__intro__recommend .anchorLinkType1 li:before {
	background: none;
}
@media screen and (max-width: 767px) {
	.mainContents .anchorLinkType1 li{
		float:none;
		text-align:left;
	}
}

/* .social */
.mainContents .social {
	list-style-type: none;
	padding: 0;
}
.mainContents .social li {
	float: left;
	margin: 0 15px 5px 0;
}

/* .clearfix */
.mainContents .social:before,
.mainContents .social:after {
	content: " ";
	display: table;
}
.mainContents .social:after {
	clear: both;
}
.mainContents .social {
	*zoom: 1;
}
/* column module */
.mainContents .container {
	margin: 0 -12px;
	padding: 0 12px;
}
.mainContents .swapArea{
	display:none;
}
@media screen and (max-width: 767px) {
	.mainContents .container {
		margin: 0 -6px;
		padding: 0 6px;
	}
}
.mainContents .row {
	margin: 2em -12px 0;
}
.mainContents .row + .row {
	margin: 2em -12px 0;
}
.mainContents .row .row {
	margin: 1em -12px 0;
}
.mainContents .btnBlock + .row {
	margin-top: 1em;
}
@media screen and (max-width: 767px) {
	.mainContents .row {
		margin: 0 -6px 0;
	}
	.mainContents .row + .row {
		margin: 0 -6px 0;
	}
	.mainContents .row .row {
		margin: 0 -6px 0;
	}
}
.mainContents .col12,.mainContents .colSP12,
.mainContents .col11,.mainContents .colSP11,
.mainContents .col10,.mainContents .colSP10,
.mainContents .col9,.mainContents .colSP9,
.mainContents .col8,.mainContents .colSP8,
.mainContents .col7,.mainContents .colSP7,
.mainContents .col6,.mainContents .colSP6,
.mainContents .col5,.mainContents .colSP5,
.mainContents .col4,.mainContents .colSP4,
.mainContents .col3,.mainContents .colSP3,
.mainContents .col2,.mainContents .colSP2,
.mainContents .col1,.mainContents .colSP1 {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	min-height: 1px;
	padding: 0 12px;
}
@media screen and (max-width: 767px) {
	.mainContents .col12,.mainContents .colSP12,
	.mainContents .col11,.mainContents .colSP11,
	.mainContents .col10,.mainContents .colSP10,
	.mainContents .col9,.mainContents .colSP9,
	.mainContents .col8,.mainContents .colSP8,
	.mainContents .col7,.mainContents .colSP7,
	.mainContents .col6,.mainContents .colSP6,
	.mainContents .col5,.mainContents .colSP5,
	.mainContents .col4,.mainContents .colSP4,
	.mainContents .col3,.mainContents .colSP3,
	.mainContents .col2,.mainContents .colSP2,
	.mainContents .col1,.mainContents .colSP1 {
		padding: 0 6px;
	}
}

.mainContents .col12 > *:first-child,.mainContents .colSP12 > *:first-child,
.mainContents .col11 > *:first-child,.mainContents .colSP11 > *:first-child,
.mainContents .col10 > *:first-child,.mainContents .colSP10 > *:first-child,
.mainContents .col9 > *:first-child,.mainContents .colSP9 > *:first-child,
.mainContents .col8 > *:first-child,.mainContents .colSP8 > *:first-child,
.mainContents .col7 > *:first-child,.mainContents .colSP7 > *:first-child,
.mainContents .col6 > *:first-child,.mainContents .colSP6 > *:first-child,
.mainContents .col5 > *:first-child,.mainContents .colSP5 > *:first-child,
.mainContents .col4 > *:first-child,.mainContents .colSP4 > *:first-child,
.mainContents .col3 > *:first-child,.mainContents .colSP3 > *:first-child,
.mainContents .col2 > *:first-child,.mainContents .colSP2 > *:first-child,
.mainContents .col1 > *:first-child,.mainContents .colSP1 > *:first-child {
	margin-top: 0;
	margin-bottom: 0;
}
.mainContents .col12 {
	width: 100%;
}
.mainContents .col11 {
	width: 91.66666667%;
}
.mainContents .col10 {
	width: 83.33333333%;
}
.mainContents .col9 {
	width: 75%;
}
.mainContents .col8 {
	width: 66.66666667%;
}
.mainContents .col7 {
	width: 58.33333333%;
}
.mainContents .col6 {
	width: 50%;
}
.mainContents .col5 {
	width: 41.66666667%;
}
.mainContents .col4 {
	width: 33.33333333%;
}
.mainContents .col3 {
	width: 25%;
}
.mainContents .col2 {
	width: 16.66666667%;
}
.mainContents .col1 {
	width: 8.33333333%;
}
.mainContents .pull12 {
	right: 100%;
}
.mainContents .pull11 {
	right: 91.66666667%;
}
.mainContents .pull10 {
	right: 83.33333333%;
}
.mainContents .pull9 {
	right: 75%;
}
.mainContents .pull8 {
	right: 66.66666667%;
}
.mainContents .pull7 {
	right: 58.33333333%;
}
.mainContents .pull6 {
	right: 50%;
}
.mainContents .pull5 {
	right: 41.66666667%;
}
.mainContents .pull4 {
	right: 33.33333333%;
}
.mainContents .pull3 {
	right: 25%;
}
.mainContents .pull2 {
	right: 16.66666667%;
}
.mainContents .pull1 {
	right: 8.33333333%;
}
.mainContents .push12 {
	left: 100%;
}
.mainContents .push11 {
	left: 91.66666667%;
}
.mainContents .push10 {
	left: 83.33333333%;
}
.mainContents .push9 {
	left: 75%;
}
.mainContents .push8 {
	left: 66.66666667%;
}
.mainContents .push7 {
	left: 58.33333333%;
}
.mainContents .push6 {
	left: 50%;
}
.mainContents .push5 {
	left: 41.66666667%;
}
.mainContents .push4 {
	left: 33.33333333%;
}
.mainContents .push3 {
	left: 25%;
}
.mainContents .push2 {
	left: 16.66666667%;
}
.mainContents .push1 {
	left: 8.33333333%;
}
@media screen and (max-width: 767px) {
	.mainContents .colSP12 {
		width: 100%;
	}
	.mainContents .colSP11 {
		width: 91.66666667%;
	}
	.mainContents .colSP10 {
		width: 83.33333333%;
	}
	.mainContents .colSP9 {
		width: 75%;
	}
	.mainContents .colSP8 {
		width: 66.66666667%;
	}
	.mainContents .colSP7 {
		width: 58.33333333%;
	}
	.mainContents .colSP6 {
		width: 50%;
	}
	.mainContents .colSP5 {
		width: 41.66666667%;
	}
	.mainContents .colSP4 {
		width: 33.33333333%;
	}
	.mainContents .colSP3 {
		width: 25%;
	}
	.mainContents .colSP2 {
		width: 16.66666667%;
	}
	.mainContents .colSP1 {
		width: 8.33333333%;
	}
	.mainContents .colSP12 + .colSP12 {
		margin-top: 1em;
	}
	.mainContents .pull12,
	.mainContents .pull11,
	.mainContents .pull10,
	.mainContents .pull9,
	.mainContents .pull8,
	.mainContents .pull7,
	.mainContents .pull6,
	.mainContents .pull5,
	.mainContents .pull4,
	.mainContents .pull3,
	.mainContents .pull2,
	.mainContents .pull1 {
		right: auto;
	}
	.mainContents .push12,
	.mainContents .push11,
	.mainContents .push10,
	.mainContents .push9,
	.mainContents .push8,
	.mainContents .push7,
	.mainContents .push6,
	.mainContents .push5,
	.mainContents .push4,
	.mainContents .push3,
	.mainContents .push2,
	.mainContents .push1 {
		left: auto;
	}
}

.mainContents .col12 > .colIn,
.mainContents .col11 > .colIn,
.mainContents .col10 > .colIn,
.mainContents .col9 > .colIn,
.mainContents .col8 > .colIn,
.mainContents .col7 > .colIn,
.mainContents .col6 > .colIn,
.mainContents .col5 > .colIn,
.mainContents .col4 > .colIn,
.mainContents .col3 > .colIn,
.mainContents .col2 > .colIn,
.mainContents .col1 > .colIn {

}

@media screen and (max-width: 767px) {
	.mainContents .col12.spLine,
	.mainContents .col11.spLine,
	.mainContents .col10.spLine,
	.mainContents .col9.spLine,
	.mainContents .col8.spLine,
	.mainContents .col7.spLine,
	.mainContents .col6.spLine,
	.mainContents .col5.spLine,
	.mainContents .col4.spLine,
	.mainContents .col3.spLine,
	.mainContents .col2.spLine,
	.mainContents .col1.spLine {
		width: auto;
		float: none
	}
	.mainContents .spLine {
		margin-top: 2em;
	}
	.mainContents .row > .spLine:first-child {
		margin-top: 0;
	}
	.mainContents .row + .row > .spLine:first-child {
		margin-top: 2em;
	}
	.mainContents .borderBox.type2 + .container .row > .spLine:first-child {
		margin-top: 2em;
	}
	.mainContents .ttlArea + section .row > .spLine:first-child{
		margin-top: 2em;
	}
}
/* .clearfix */
.mainContents .row:before,
.mainContents .row:after,
.mainContents .cf:before,
.mainContents .cf:after {
	content: " ";
	display: table;
}
.mainContents .row:after,
.mainContents .cf:after {
	clear: both;
}
.mainContents .row,
.mainContents .cf {
	*zoom: 1;
}
/* important */
.mainContents .txtAL {
	text-align: left !important;
}
.mainContents .txtAC {
	text-align: center !important;
}
.mainContents .txtAR {
	text-align: right !important;
}
.mainContents .vaT {
	vertical-align: top !important;
}
.mainContents .vaM {
	vertical-align: middle !important;
}
.mainContents .vaB {
	vertical-align: bottom; !important;
}
.mainContents .fwB {
	font-weight: bold !important;
}
.mainContents .fwN {
	font-weight: normal !important;
}
.mainContents .mt20 {
	margin-top:20px;
}
.mainContents .mt30 {
	margin-top:30px;
}
.mainContents .mt40 {
	margin-top:40px;
}
.mainContents .mt50 {
	margin-top:50px;
}
.mainContents .mtL {
	margin-top:88px!important;
}
.mainContents .pb30 {
	padding-bottom:30px;
}

/* .pcBlock/.spBlock */
.mainContents .pcBlock {
	display:block;
}
.mainContents .spBlock {
	display:none;
}
.mainContents .pcBlock .img,
.mainContents .spBlock .img {
	text-align:center;
}
@media screen and (max-width: 767px) {
	.mainContents .pcBlock {
		display:none;
	}
	.mainContents .spBlock {
		display:block;
	}
	.mainContents .mtL {
		margin-top:44px!important;
	}
}

/* .ttlArea */
.mainContents .ttlArea{
	background-image: url(/common_new/images/common/opacity_black.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-bottom: 1.5em;
	background-color:#fff;;
}
.mainContents div.ttlArea:last-child{
	margin-bottom:0;
}
.mainContents .ttlArea.img {
	overflow: hidden;
	height: 576px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding-bottom: 0;
}

.mainContents .ttlArea .heroItem {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 106px;
	width: 100%;
	text-align: center;
	max-width: 816px;
	margin: 0 auto;
}
.mainContents .ttlArea .ttlType1 {
	text-align: center;
	font-size: 35.76471px;
	margin: 0 auto 1.5em;
	padding-top: 75px;
	max-width: 816px;
}
.mainContents .ttlArea.img .ttlType1 {
	color: #fff;
	margin:0 auto 17px;
	padding-top: 0;
}
.mainContents .ttlArea .txt {
	text-align: center;
	font-size: 20px;
	margin:0 auto;
	padding-top:3em;
	padding-bottom:2em;
	max-width: 816px;
}
.mainContents .ttlArea .txt + .ttlType1{
	padding-top:0;
}
.mainContents .ttlArea.img .txt {
	padding-bottom:0;
}
.mainContents .ttlArea .txt + .txt,
.mainContents .ttlArea .ttlType1 + .txt {
	padding-top:0;
}
.mainContents .ttlArea .txt + p {
	margin-top:0;
}

.mainContents .ttlArea ol.decimal,
.mainContents .ttlArea ul.normal,
.mainContents .ttlArea ul.disc,
.mainContents .ttlArea ul.caution,
.mainContents .ttlArea ul.cautionA ,
.mainContents .ttlArea p ,
.mainContents .ttlArea .anchorLinkType1 ,
.mainContents .ttlArea .attList {
	margin: 1em auto;
	padding:0 1em;
	max-width: 816px;
}
.mainContents .ttlArea table.type01,
.mainContents .ttlArea .container,
.mainContents .ttlArea .row{
	margin: 1em auto;
	max-width: 984px;
	text-align:center;
}
.mainContents .ttlArea .borderBox{
	margin: 1em auto;
	max-width: 816px;
	text-align:center;
}
.mainContents .ttlArea .submitBtn,
.mainContents .ttlArea .normalBtn,
.mainContents .ttlArea .submitBtn.green,
.mainContents .ttlArea .normalBtn.green,
.mainContents .ttlArea .submitBtn.orange,
.mainContents .ttlArea .normalBtn.orange,
.mainContents .ttlArea .submitBtn.orange02,
.mainContents .ttlArea .normalBtn.orange02,
.mainContents .ttlArea .submitBtn.white,
.mainContents .ttlArea .normalBtn.white,
.mainContents .ttlArea .submitBtn.gray,
.mainContents .ttlArea .normalBtn.gray{
	margin: 1em auto;
	max-width: 816px;
	text-align:center;
	width:300px;
}
.mainContents .ttlArea .submitBtn a,
.mainContents .ttlArea .normalBtn a,
.mainContents .ttlArea .submitBtn.green a,
.mainContents .ttlArea .normalBtn.green a,
.mainContents .ttlArea .submitBtn.orange a,
.mainContents .ttlArea .normalBtn.orange a,
.mainContents .ttlArea .submitBtn.orange02 a,
.mainContents .ttlArea .normalBtn.orange02 a,
.mainContents .ttlArea .submitBtn.white a,
.mainContents .ttlArea .normalBtn.white a,
.mainContents .ttlArea .submitBtn.gray a,
.mainContents .ttlArea .normalBtn.gray a{
	display:inline-block;
	width:auto;
}
.mainContents .ttlArea .borderBox{
	padding:5px 10px;
}
.mainContents .ttlArea .module__utilities__1elm,
.mainContents .ttlArea .module__utilities__2elm,
.mainContents .ttlArea .module__utilities__3elm,
.mainContents .ttlArea .module__utilities__4elm,
.mainContents .ttlArea .module__utilities__5elm,
.mainContents .ttlArea .module__utilities__6elm,
.mainContents .ttlArea .module__utilities__7elm {
	padding-top:0;
	padding-bottom:0;
}


@media screen and (max-width: 767px) {
	.mainContents .ttlArea.img {
		height: 320px;
	}
	.mainContents .ttlArea .heroItem {
		bottom: 38px;
	}
	.mainContents .ttlArea .ttlType1 {
		font-size: 25.29412px;
	}
	.mainContents .ttlArea.img .ttlType1 {
		color: #fff;
		line-height: 1.3em;
		margin-bottom: 10px;
		padding: 0 32px;
	}
	.mainContents .ttlArea .txt {
		font-size: 14px;
	}
	.mainContents .ttlArea .borderBox,
	.mainContents .ttlArea .submitBtn,
	.mainContents .ttlArea .normalBtn,
	.mainContents .ttlArea .submitBtn.green,
	.mainContents .ttlArea .normalBtn.green,
	.mainContents .ttlArea .submitBtn.orange,
	.mainContents .ttlArea .normalBtn.orange,
	.mainContents .ttlArea .submitBtn.orange02,
	.mainContents .ttlArea .normalBtn.orange02,
	.mainContents .ttlArea .submitBtn.white,
	.mainContents .ttlArea .normalBtn.white,
	.mainContents .ttlArea .submitBtn.gray,
	.mainContents .ttlArea .normalBtn.gray{
		width:240px;
	}
}
.mainContents .ttlArea.img .txt {
	color: #fff;
}
/* .imgArea */
.mainContents .imgArea {
	overflow: hidden;
	margin: 0 auto;
	width: 984px;
	height: 284px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
@media screen and (max-width: 1023px) {
	.mainContents .imgArea {
		width: auto;
	}
}
@media screen and (max-width: 767px) {
	.mainContents .imgArea {
		height: 264px;
	}
}
/* .imgTxtArea */
.mainContents .imgTxtArea {
	margin-top: 1em;
}
@media screen and (max-width: 1023px) {
	.mainContents .imgTxtArea.scroll {
		overflow: hidden;
	}
	.mainContents .imgTxtArea.scroll .container {
		overflow: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.mainContents .imgTxtArea.scroll .container .row {
		width: 1008px;
	}
}
.mainContents .imgTxtArea figure {
	margin: 0;
}
.mainContents .imgTxtArea figure .img{
	text-align: center;
}
.mainContents .imgTxtArea figure figcaption .ttl {
	text-align: center;
	font-size: 17px;
}
.mainContents .imgTxtArea figure figcaption .txt {
	color: #737373;
}
.mainContents .imgTxtArea.os figure figcaption .txt {
	min-height:40px;
}
.mainContents .imgTxtArea.os .submitBtn.orange02,
.mainContents .imgTxtArea.os .normalBtn.orange02{
	margin-top:0;
}

@media screen and (max-width: 767px) {
	.mainContents .imgTxtArea figure figcaption .ttl {
		font-size: 13px;
	}
}

/* .itemPointArea */
.mainContents .itemPointArea {
	margin-top: 1em;
}
.mainContents .itemPointArea a{
	color:#262626;
}
.mainContents .itemPointArea a:hover{
	text-decoration: underline;
}
.mainContents .itemPointArea figure {
	margin: 0;
}
.mainContents .itemPointArea figure .img{
	text-align: center;
}
.mainContents .itemPointArea figure figcaption .ttl {
	text-align: center;
	font-size: 17px;
	color: #262626;
}
@media screen and (max-width: 767px) {
	.mainContents .itemPointArea figure figcaption .ttl {
		font-size: 14px;
	}
}
.mainContents .itemPointArea figure figcaption .point {
	padding: .5em 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
@media screen and (max-width: 767px) {
	.mainContents .itemPointArea figure figcaption .point {
		font-size: 14px;
	}
}
.mainContents .itemPointArea figure figcaption .point span {
	font-size: 12px;
	font-weight: normal;
	color: #737373;
}
@media screen and (max-width: 767px) {
	.mainContents .itemPointArea figure figcaption .point span {
		font-size: 10px;
	}
}

/* .leftImgArea */
.mainContents .leftImgArea {
	margin-top: 1em;
}
.mainContents .leftImgArea .ttl {
	font-size: 22px;
}
@media screen and (max-width: 767px) {
	.mainContents .leftImgArea .ttl {
		font-size: 16px;
	}
}
.mainContents .leftImgArea .icon {
	display:table;
	border-collapse: separate;
	border-spacing: 3px 3px;
	padding-left: 0;
	list-style-type: none;
}
.mainContents .leftImgArea .icon li {
	display:table-cell;
	margin-right: 5px;
	padding: 2px 8px;
	border: 1px solid #333;
	border-radius: 3px;
	font-size: 11px;
	width:190px;
	text-align:center;
	min-height:40px;
	vertical-align:middle;
}

/* .imgFloat */
.mainContents .imgLeft img {
	display: inline;
	float:left;
	margin: 0 1em 1em 0;
}
.mainContents .imgRight img {
	display: inline;
	float:right;
	margin: 0 0 1em 1em;
}
.mainContents .imgFloat:before,
.mainContents .imgFloat:after {
	content: " ";
	display: table;
}
.mainContents .imgFloat:after {
	clear: both;
}
.mainContents .imgFloat {
	*zoom: 1;
}

/* .imageLink */
.mainContents .imageLink {
	position: relative;
	min-height:160px;
	color:#FFF;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.mainContents .imageLink a {
	position: absolute;
	top: 0;
	bottom: 0;
	display: table;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	color:#FFF;
	text-decoration: none;
}
.mainContents .imageLink:after {
	position: absolute;
	display: block;
	content: '';
	top: 50%;
	right: 52px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	background-size: 40px 40px;
	background-image: url(/common_new/images/module/module__imageLink--arrow.png);
}
.mainContents .imageLink h3 {
	font-size: 26px;
	font-weight: normal;
	margin:22px 0 0 0;
	text-align: center;
}
.mainContents .imageLink p {
	font-size: 20px;
	text-align: center;
	margin:2em 0 0 0;
}

.mainContents .imageLink a {
	display: block;
}
.mainContents .imageLink p {
	padding-left: 22px;
	padding-right: 22px;
	font-size: 15px;
	text-align: center;
}
.mainContents .imageLink.small:after {
	top: 20px;
	right: 20px;
	width: 28px;
	height: 28px;
	margin-top: 0;
	background-size: 28px 28px;
	background-image: url(/common_new/images/module/module__imageLink--arrow.png);
}
.mainContents .imageLink.small h3 {
	font-size: 20px;
	margin: 22px 0 0 15px;
	text-align: left;
	padding-right: 50px;
}
.mainContents .imageLink.small p {
	position: absolute;
	left:15px;
	width: auto;
	bottom:15px;
	text-align: left;
	padding-left: 0;
}
@media screen and (max-width: 767px) {
	.mainContents .imageLink:after {
		top:auto;
		bottom: 15px;
		right: 10px;
		width: 28px;
		height: 28px;
		background-size: 28px 28px;
	}
	.mainContents .colSP12 > .imageLink {
		margin-top: 0;
	}
	.mainContents .imageLink h3 {
		font-size: 17px;
	}
	.mainContents .imageLink p {
		font-size: 14px;
	}
	.mainContents .imageLink.small:after {
		top: 10px;
		right: 10px;
	}
	.mainContents .imageLink.small h3 {
		margin-top: 15px;
		font-size: 15px;
	}
	.mainContents .imageLink.small p {
		font-size: 13px;
	}
}

/* .areaWhite */
.mainContents .areaWhite{
	background-color: #FFF;
	padding: 4em 0 ;
	border-bottom:1px solid #e1e1e1;
}
.mainContents > .areaWhite:last-child{
	margin-bottom:0;
}
.carddetail .mainContents .module__cardUtilitiesSet + .areaWhite{
	border-top:1px solid #e1e1e1;
}
/* .pictBlock */
.mainContents .pictBlock {
	overflow: hidden;
	overflow-x: auto;
	margin: 1em auto 0;
	text-align: center;
	max-width: 984px;
}
.mainContents .ttlArea + section .pictBlock {
	margin-top: 4em;
}
@media screen and (max-width: 767px) {
	.mainContents .ttlArea + section .pictBlock {
		margin-top: 3em;
	}
}

.mainContents .pictBlock + .pictBlock {
	margin-top: 2em;
}
.mainContents .pictBlock h3 {
	margin: 5px 0 0 0;
	font-size:17px;
}
.mainContents .pictBlock .linkElm {
	color: #008eed;
}
.mainContents .pictBlock .linkElm:after {
	width: 15px;
	height: 15px;
	background-size: 7px 12px;
	display: inline-block;
	content: '';
	vertical-align: middle;
	background-image: url(/common_new/images/common/icon_arrow-blue.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.mainContents .pictBlock .linkElm:hover {
	text-decoration: underline;
}
.mainContents .pictBlock p {
	margin: 0.5em 0 0;
	font-size:15px;
	color: #737373;
}
.mainContents .pictBlock p + p {
	margin-top: 5px;
}
.mainContents .pictBlock a {
	display: block;
	text-decoration: none;
	color: inherit;
}
.mainContents .pictBlock ul{
	text-align: center;
	margin:0 auto;
	padding: 0;
}
.mainContents .pictBlock ul li{
	display: inline-block;
	width: 215px;
	padding: 0 10px;
	border-left:1px solid transparent;
	float: left;
	vertical-align: top;
	min-height:160px;
/*	margin-bottom:-500px;
	padding-bottom:500px;*/
}
.mainContents .pictBlock.column5 ul li{
	width: 164px;
}
.mainContents .pictBlock ul li + li{
	border-left:1px solid #e1e1e1;
}
/** pictType01 **/
.mainContents .pictBlock ul.pictType01{
	display: inline-block;
	width: auto;
}
@media screen and (max-width: 767px) {
	.mainContents .pictBlock ul li{
		width: 164px;
	}
}
@media screen and (min-width: 1024px) {
	.mainContents .pictBlock.column6 ul.pictType01 li:nth-child(5){
		border-left: 1px solid transparent;
	}
	.mainContents .pictBlock.column6 ul.pictType01 li:nth-child(n+5){
		margin-top: 2em;
	}
}
/** pictType02 **/
.mainContents .pictBlock ul.pictType02{
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mainContents .pictBlock ul.pictType02 li{
	display: table-cell;
	max-width: 230px;
	float: none;
}
.mainContents .pictBlock.column5 ul.pictType02 li{
	width: 203px;
}
.mainContents .pictBlock ul.pictType02 p.pictBlockImg img{
	max-width:230px;
}
.mainContents .pictBlock ul.pictType02.img100pr p.pictBlockImg img{
	width:100%;
}
@media screen and (min-width: 768px) {
	.mainContents .pictBlock.column6 ul.pictType02 li:nth-child(5){
		border-left: 1px solid transparent;
	}
	.mainContents .pictBlock.column6 ul.pictType02 li:nth-child(n+5){
		margin-top: 2em;
	}
	.mainContents .pictBlock.column6 ul.pictType02 li{
		float: left;
		width: 22.8%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.mainContents .pictBlock.column6 ul.pictType02 li{
		width: 22.2%;
	}
}
@media screen and (max-width: 767px) {
	.mainContents .pictBlock ul.pictType02{
		width: auto;
	}
	.mainContents .pictBlock ul.pictType02 li{
		display: block;
		width: 70%;
		min-height:auto;
		margin:0 auto;
	}
	.mainContents .pictBlock.column5 ul.pictType02 li{
		width: 70%;
	}
	.mainContents .pictBlock ul.pictType02 li + li{
		padding:0;
		margin-top: 15px;
		border-left:none;
	}
	.mainContents .pictBlock ul.pictType02 p.pictBlockImg{
		text-align: center;
	}
	.mainContents .pictBlock ul.pictType02 p{
		text-align: left;
	}
}
/** pictType03 **/
.mainContents .pictBlock ul.pictType03{
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mainContents .pictBlock ul.pictType03 li{
	display: table-cell;
	width: 230px;
	float: none;
}
.mainContents .pictBlock.column5 ul.pictType03 li{
	width: 203px;
}
@media screen and (min-width: 768px) {
	.mainContents .pictBlock.column6 ul.pictType03 li:nth-child(5){
		border-left: 1px solid transparent;
	}
	.mainContents .pictBlock.column6 ul.pictType03 li:nth-child(n+5){
		margin-top: 2em;
	}
	.mainContents .pictBlock.column6 ul.pictType03 li{
		float: left;
		width: 22.8%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.mainContents .pictBlock.column6 ul.pictType03 li{
		width: 22.2%;
	}
}
@media screen and (max-width: 767px) {
	.mainContents .pictBlock ul.pictType03{
		width: 100%;
	}
	.mainContents .pictBlock ul.pictType03 li{
		display: block;
		width: auto;
		min-height:70px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin:0 16px;
		clear: left;
		padding: 0;
	}
	.mainContents .pictBlock.column5 ul.pictType03 li{
		width: auto;
	}
	.mainContents .pictBlock ul.pictType03 li + li{
		padding-left:0;
		margin-top: 15px;
		padding-top: 15px;
		border-left:none;
		border-top:1px solid #e1e1e1;

	}
	.mainContents .pictBlock ul.pictType03 li a{
		display: block;
		background-image: url(/common_new/images/common/icon_arrow-gray.png);
		background-repeat: no-repeat;
		background-position: right 10px;
		background-size: 6px 10px;
	}
	.mainContents .pictBlock ul.pictType03 p.pictBlockImg{
		text-align: center;
		float: left;
		margin: 0;
		margin-left: 0;
		width: 60px;
	}
	.mainContents .pictBlock ul.pictType03 p.pictBlockImg img{
		width: 100%;
		height: auto;
	}
	.mainContents .pictBlock ul.pictType03 .pictBlockTxt{
		text-align: left;
		padding-left: 70px;
	}
	.mainContents .pictBlock ul.pictType03 .pictBlockTxt h3{
		margin-bottom: 0;
		margin-top: 0;
		font-size: 14px;
	}
	.mainContents .pictBlock ul.pictType03 .pictBlockTxt p{
		margin-bottom: 0;
		font-size: 12px;
	}
	.mainContents .pictBlock ul.pictType03 li:before,
	.mainContents .pictBlock ul.pictType03 li:after,
	.mainContents .pictBlock ul.pictType03 li a:before,
	.mainContents .pictBlock ul.pictType03 li a:after {
		content: " ";
		display: table;
	}
	.mainContents .pictBlock ul.pictType03 li:after,
	.mainContents .pictBlock ul.pictType03 li a:after {
		clear: both;
	}
	.mainContents .pictBlock ul.pictType03 li ,
	.mainContents .pictBlock ul.pictType03 li a {
		*zoom: 1;
	}
}
.mainContents .pictBlock ul:before,
.mainContents .pictBlock ul:after {
	content: " ";
	display: table;
}
.mainContents .pictBlock ul:after {
	clear: both;
}
.mainContents .pictBlock ul {
	*zoom: 1;
}

/* .cardTypeBlock */
.mainContents .cardTypeBlock{
	margin-top: 1em;
}
.mainContents .cardTypeBlock .cardIcon{
	text-align: center;
}
.mainContents .cardTypeBlock .cardText h3{
	margin: 0 0 0.5em 0;
}
.mainContents .cardTypeBlock .cardText p{
	margin:0.5em 0;
}
.mainContents .cardTypeBlock .col6.colSP12{
	margin-top: 2em;
}
@media screen and (max-width: 767px) {
	.mainContents .cardTypeBlock .col6.colSP12{
		margin-bottom: 0;
	}
	.mainContents .cardTypeBlock .col6.colSP12 + .col6.colSP12{
		margin-top: 15px;
		padding-top: 15px;
		border-top:1px solid #e1e1e1;
	}
}

/* imgTitle */
.mainContents .imgTitle{
	text-align: center;
	margin-top: 2em;
}
.mainContents .imgTitle .ttlType2{
	margin-bottom: 0;
}

/* borderBox */
.mainContents .borderBox{
	border:1px solid #d9d9d9;
	background-color: #FFF;
	margin-top: 4em;
	padding: 20px 15px;
}
.mainContents .areaWhite .borderBoxWrap:first-child > .borderBox{
	margin-top: 0;
}
.mainContents .borderBoxWrap .borderBox + .borderBox{
	margin-top: -1px;
}
.mainContents .borderBox > *:first-child {
	margin-top: 0;
}
.mainContents .borderBox.type2{
	border-left: none;
	border-right: none;
	background-color: transparent;
	text-align: center;
}
.mainContents .borderBox p{
	color:#737373;
}
.mainContents .borderBox .example{
	color:#262626;
	font-size:18px;
}
.mainContents .borderBox .title{
	font-size:17px;
}
.mainContents .borderBox .title.negative{
	color:#f5493f;
}
.mainContents .borderBox .title.positive{
	color:#008dec;
}
.mainContents .borderBox .titleL{
	color:#008dec;
	font-size:28px;
	margin:0.5em 0 0 0;
}
.mainContents .borderBox .titleL{
	color:#008dec;
	font-size:28px;
	margin:0.5em 0 0 0;
}
.mainContents .borderBox .caution{
	color:#737373;
}
@media screen and (max-width: 767px) {
	.mainContents .borderBox{
		padding: 13px 10px 13px;
	}
	.mainContents .borderBox .example{
		font-size:15px;
	}
	.mainContents .borderBox .title{
		font-size:14px;
	}
	.mainContents .borderBox .titleL{
		font-size:18px;
	}
}

/* .pluginBlock */
.mainContents .pluginBlock{
	margin: 4em 0;
}
.mainContents .pluginBlock:before,
.mainContents .pluginBlock:after {
	content: " ";
	display: table;
}
.mainContents .pluginBlock:after {
	clear: both;
}
.mainContents .pluginBlock {
	*zoom: 1;
}
@media screen and (max-width: 767px) {
	.mainContents .pluginBlock .icon{
		text-align: center;
	}
}

/* .infoBox */
.mainContents .infoBox{
	border:1px solid #d9d9d9;
	background-color: #FFF;
	margin-top: 1em;
	padding: 25px 15px;
	text-align: center;
}
.mainContents .infoBox.radius{
	border-radius: 6px;
}
.mainContents .infoBox > *:first-child {
	margin-top: 0;
}
.mainContents .infoBox p{
	color:#737373;
	margin: 0.5em 0 0 0;
}
.mainContents .infoBox .example{
	color:#262626;
	font-size:18px;
}
.mainContents .infoBox .title{
	color:#262626;
	font-size: 20px;
	font-weight: bold;
}
.mainContents .infoBox .telLo{
	color:#262626;
	font-size: 22px;
}
.mainContents .infoBox .telNo{
	color:#008eed;
	font-size: 36px;
	margin:10px 0 0 0;
}
.mainContents .infoBox .telNo,
.mainContents .infoBox .telNo:hover,
.mainContents .infoBox .telNo a,
.mainContents .infoBox .telNo a:hover{
	text-decoration:none;
}
.mainContents .infoBox .telNo,
.mainContents .infoBox .telNo:hover{
	color:#000;
}
.mainContents .infoBox .telNo a,
.mainContents .infoBox .telNo a:hover{
	color:#008dec;
}
@media screen and (min-width: 768px) {
	.mainContents .infoBox .telNo,
	.mainContents .infoBox .telNo:hover,
	.mainContents .infoBox .telNo a,
	.mainContents .infoBox .telNo a:hover{
		cursor: text;
		pointer-events: none;
	}
	.mainContents .module__dialBlock--whiteBg a,
	.mainContents .module__dialBlock--whiteBg a:hover{
		color:#000;
		cursor: text;
		pointer-events: none;
	}
}

.mainContents .infoBox .telInfo{
	font-size: 18px;
}
@media screen and (max-width: 767px) {
	.mainContents .infoBox .example{
		font-size:15px;
	}
	.mainContents .infoBox .title{
		font-size: 14px;
	}
	.mainContents .infoBox .telLo{
		font-size: 17px;
	}
	.mainContents .infoBox .telNo{
		font-size: 24px;
	}
	.mainContents .infoBox .telInfo{
		font-size: 14px;
	}
}
.mainContents .infoBox.flat{
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mainContents .infoBox.flat .title{
	display: table-cell;
	vertical-align: middle;
	font-weight: normal;
	padding-right: 10px;
	width: 45%;
}
.mainContents .infoBox.flat .tel{
	display: table-cell;
	vertical-align: middle;
	border-left:1px solid #d9d9d9;
	width: 55%;
}
@media screen and (max-width: 767px) {
	.mainContents .infoBox.flat{
		display: block;
	}
	.mainContents .infoBox.flat .title{
		display: block;
		font-size: 14px;
	}
	.mainContents .infoBox.flat .tel{
		display: block;
		border-left:none;
		border-top:1px solid #d9d9d9;
		margin-top: 15px;
		padding-top: 15px;
	}
	.mainContents .infoBox.flat .title{
		width: 100%;
	}
	.mainContents .infoBox.flat .tel{
		width: 100%;
	}
}
.mainContents .infoBox .telArea{
	margin-top: 1.5em;
}
.mainContents .infoBox .telArea div{
	display: inline-block;
	width: 40%;
}
.mainContents .infoBox .telArea div p{
	display: inline-block;
	vertical-align: middle;
	margin:0 10px 10px;
}
@media screen and (max-width: 767px) {
	.mainContents .infoBox .telArea div{
		width: 100%;
	}
	.mainContents .infoBox .telArea div p{
		margin:0 5px 10px;
	}
}
@media screen and (max-width: 767px) {
	.mainContents .colSP12 > .ttlType2{
		margin: 1.5em 0 0.5em;
	}
}

/* .relationBlock */
.mainContents .relationBlock{
	margin:3em 0;
}

/* .serviceListBlock */
.mainContents .serviceListBlock {
	margin-top: 4em;
}
.mainContents .ttlType3 + .serviceListBlock {
	margin-top: 0;
}
.mainContents .serviceListBlock .ttl{
	margin: 0;
	font-size: 22px;
	font-weight: normal;
}
.mainContents .serviceListBlock .cardIcon {
	text-align: center;
}
.mainContents .classification {
	display: table;
	margin: 10px 0 0 0;
	border-collapse: separate;
	border-spacing: 3px 3px;
}
.mainContents .classification span{
	display: table-cell;
	border:1px solid #333;
	text-align: center;
	padding: 3px 6px;
	font-size: 11px;
	-moz-border-radius: 4px 4px 4px 4px ;
	-webkit-border-radius: 4px 4px 4px 4px ;
	-o-border-radius: 4px 4px 4px 4px ;
	-ms-border-radius: 4px 4px 4px 4px ;
	border-radius: 4px 4px 4px 4px ;
}
.mainContents .classification span.non{
	border:1px solid #999;
	color:#999;
}
@media screen and (max-width: 767px) {
	.mainContents .serviceListBlock .ttl{
	font-size: 16px;
	}
	.mainContents .classification img + img{
	margin: 5px 0 0 0;
	}
	.mainContents .classification img{
		display: block;
	}
}

/* .cardsArea */
.mainContents .cardsArea{
	max-width: 984px;
	margin: 3em auto 0;
}
.mainContents .cardsArea .cardsAreaIn{
/*	margin: 0 -17px;*/
	overflow: hidden;
	overflow-x: auto;
	text-align: center;
}
.mainContents .cardsArea ul{
	display: table;
	padding: 0;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-collapse: separate;
	border-spacing: 17px 0;
}
.mainContents .cardsArea ul li{
	display: table-cell;
	position: relative;
	vertical-align: top;
}
.mainContents .cardsArea ul li .cardImg{
}
.mainContents .cardsArea ul li .cardImg img{
	width: 100%;
	height: auto;
}
.mainContents .cardsArea ul li .cardImgFront{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
}
.mainContents .cardsArea ul li .cardImgBack{
	width: 100%;
	display: inline-block;
}
.mainContents .cardsArea ul li .cardName{
	display: block;
	text-align: center;
	margin-top: 1em;
}
.mainContents .cardsArea ul.scroll{
	display: inline-block;
}
.mainContents .cardsArea ul.scroll li{
	display: inline-block;
	float: left;
	margin-left: 17px;
	width: 144px;
}
.mainContents .cardsArea ul.scroll:before,
.mainContents .cardsArea ul.scroll:after {
	content: " ";
	display: table;
}
.mainContents .cardsArea ul.scroll:after {
	clear: both;
}
.mainContents .cardsArea ul.scroll {
	*zoom: 1;
}
@media screen and (max-width: 767px) {
	.mainContents .cardsArea {
		overflow: hidden;
	}
	.mainContents .cardsArea .cardsAreaIn{
		margin-top: -2em;
		margin-right: -5%;
	}
	.mainContents .cardsArea ul li{
		margin-top: 2em;
		float: left;
		width: 29%;
		height: auto;
		margin-left: 9px;
		min-height: 167px;
	}
	.mainContents .cardsArea ul li span.cardImg{
		display: block;
		height: auto;
		margin: 0;
	}
	.mainContents .cardsArea ul li .cardImgFront{
	}
	.mainContents .cardsArea ul li span.cardName{
		display: block;
		height: auto;
		margin: 1em 8px 0;
	}

	.mainContents .cardsArea  ul.scroll li{
		margin-top: 2em;
		width: 144px;
		height: auto;
	}
	.mainContents .cardsArea ul.scroll li span.cardImg{
		display: block;
		height: auto;
		margin: 0;
	}
	.mainContents .cardsArea ul.scroll li span.cardName{
		display: block;
		height: auto;
		margin: 1em 0 0;
	}
}



/* .attList */
.mainContents .attList {
	margin-top: 2em;
	color: #737373;
}
.mainContents .attList dt{
	font-weight: bold;
}
.mainContents .attList dd{
	margin-left: 0;
}
.mainContents .attList dd ul{
	margin-top: 5px;
}

/* table */
.mainContents table.type01 {
	width: 100%;
	margin-top: 3em;
	border-collapse: separate;
	table-layout: fixed;
}
.mainContents .ttlType4 + table.type01 {
	margin-top: 0;
}
.mainContents table.type01.borderTop {
	border-top:1px solid #e0e0e0;
}
.mainContents table.type01 + table.type01 {
	margin-top: 3em;
}
.mainContents table.type01 tr{
}
.mainContents table.type01 th,
.mainContents table.type01 td{
	border-bottom:1px solid #e0e0e0;
	vertical-align: top;
	line-height: 1.5;
	overflow: hidden;
}
.mainContents table.type01 th{
	padding: 20px 20px 20px 0;
	font-weight: bold;
	text-align: left;
}
.mainContents table.type01 thead th{
	padding: 20px 10px;
}
.mainContents table.type01 thead th:first-child{
	padding-left: 0;
}
.mainContents table.type01 th .large,
.mainContents table.type01 td .large{
	font-size:180%;
}
.mainContents table.type01 .gray,
.mainContents table.type01 .gray th,
.mainContents table.type01 .gray td{
/*	color:#737373;*/
}
.mainContents table.type01 td{
	padding: 20px 10px;
}
.mainContents table.type01 td p{
	margin: 0;
}
.mainContents table.type01 td p + p{
	margin-top: 0.5em;
}
.mainContents table.type01 td .kikan{
	display: inline-block;
	margin-right: 15px;
}
.mainContents table.type01 td .inlineLink a{
	display: inline-block;
}
.mainContents table.type01.tdCenter th,
.mainContents table.type01.tdCenter td{
	text-align: center;
	vertical-align: middle;
}
.mainContents table.type01.tdCenter th:first-child,
.mainContents table.type01.tdCenter td:first-child{
	text-align: left;
}
.mainContents table.type01.tdCenter thead th:first-child{
	text-align: center;
}
.mainContents table.type01 .number{
	display: block;
	float: left;
}
.mainContents table.type01 .txt{
	display: block;
	padding-left: 1.5em;
}
.mainContents .scrollArea {
	overflow: hidden;
	overflow-x: auto;
}
.mainContents .scrollArea table.type01 th,
.mainContents .scrollArea table.type01 td{
	min-width: 70px;
}
.mainContents .scrollArea table.type01 th{
	vertical-align: middle;
}
.mainContents .scrollArea table.type01.fwN th,
.mainContents .scrollArea table.type01.fwN td,
.mainContents .scrollArea table.type01 tr.fwN th,
.mainContents .scrollArea table.type01 tr.fwN td,
.mainContents .scrollArea table.type01 th.fwN,
.mainContents .scrollArea table.type01 td.fwN{
	font-weight: normal;
}
.mainContents table.type01 th.fwN{
	font-weight: bold!important;
}
.mainContents table.type01 th.fwNormal{
	font-weight: normal!important;
}
.mainContents .scrollArea table.type01.txtAC th,
.mainContents .scrollArea table.type01.txtAC td,
.mainContents .scrollArea table.type01 tr.txtAC th,
.mainContents .scrollArea table.type01 tr.txtAC td,
.mainContents .scrollArea table.type01 th.txtAC,
.mainContents .scrollArea table.type01 td.txtAC{
	text-align: center;
}
.mainContents .scrollArea table.type01.vaM th,
.mainContents .scrollArea table.type01.vaM td,
.mainContents .scrollArea table.type01 tr.vaM th,
.mainContents .scrollArea table.type01 tr.vaM td,
.mainContents .scrollArea table.type01 th.vaM,
.mainContents .scrollArea table.type01 td.vaM{
	vertical-align: middle;
}
.mainContents .scrollArea table.type01.vaT th,
.mainContents .scrollArea table.type01.vaT td,
.mainContents .scrollArea table.type01 tr.vaT th,
.mainContents .scrollArea table.type01 tr.vaT td,
.mainContents .scrollArea table.type01 th.vaT,
.mainContents .scrollArea table.type01 td.vaT{
	vertical-align: top;
}
.mainContents .scrollArea table.type01.vaB th,
.mainContents .scrollArea table.type01.vaB td,
.mainContents .scrollArea table.type01 tr.vaB th,
.mainContents .scrollArea table.type01 tr.vaB td,
.mainContents .scrollArea table.type01 th.vaB,
.mainContents .scrollArea table.type01 td.vaB{
	vertical-align: bottom;
}

@media screen and (max-width: 767px) {
	.mainContents table.type01 thead th,
	.mainContents table.type01 tbody th{
		padding: 10px 10px 10px 0;
	}
	.mainContents table.type01 thead td,
	.mainContents table.type01 tbody td{
		padding: 5px;
	}
	.mainContents table.type01.s100 th{
		display: block;
		width: 100%!important;
		text-align: center;
		padding-bottom: 5px;
		float:left;
		clear:both;
	}
	.mainContents table.type01.s100 td{
		display: block;
		width: 100%!important;
		padding-top: 5px;
		float:left;
		clear:both;
		}
	.mainContents table.type01 .spGray th,
	.mainContents table.type01 .spGray td{
	color:#737373;
	}
	.mainContents table.type01 .number{
		display: inline;
		float: none;
	}
	.mainContents table.type01 .txt{
		display: inline;
		padding-left: 0;
	}
	.mainContents table.type01 .gray th,
	.mainContents table.type01 .spGray th{
		font-weight: normal;
	}
}

/* vLine */

.mainContents table.type01.vLine {
	border-collapse: collapse;
}
.mainContents table.type01.vLine th,
.mainContents table.type01.vLine td{
	border:1px solid #e0e0e0;
}
.mainContents table.type01.vLine th{
	padding:20px 10px;
}
@media screen and (max-width: 767px) {
	.mainContents table.type01.vLine th{
		padding:5px;
	}
}

/*table06*/
@media screen and (max-width: 767px) {
	.mainContents table.type01.scroll th,
	.mainContents table.type01.scroll td{
		display: block;
		border-bottom:1px solid #e0e0e0;
	}
	.mainContents table.type01.scroll thead{
		display: block;
		float: left;
	}
	.mainContents table.type01.scroll thead tr{
		display: block;
		border: none;
	}
	.mainContents table.type01.scroll thead th,
	.mainContents table.type01.scroll thead td{
		display: block;
	}
	.mainContents table.type01.scroll tbody{
		display: block;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}
	.mainContents table.type01.scroll tbody tr{
		display: inline-block;
		vertical-align: top;
		border: none;
	}
	.mainContents table.type01.scroll tbody tr + tr{
		margin-left: -3px;
	}
	.mainContents table.type01.scroll tbody th,
	.mainContents table.type01.scroll tbody td{
		padding: 10px;
	}
	.mainContents table.type01.scroll:before,
	.mainContents table.type01.scroll:after {
		content: " ";
		display: table;
	}
	.mainContents table.type01.scroll:after {
		clear: both;
	}
	.mainContents table.type01.scroll {
		*zoom: 1;
	}
}
/*table10/11*/
.mainContents .spFixed {
	margin-top: 3em;
	overflow: hidden;
}
.mainContents .spFixed table.type01 {
	margin-top: 0;
}
.mainContents .spFixed table.type01 th,
.mainContents .spFixed table.type01 td{
	border-bottom:1px solid #e0e0e0;
}
.mainContents .spFixed table.type01.thead{
	display: block;
	float: left;
	width: 280px;
}
.mainContents .spFixed table.type01.thead thead{
	width: 100%;
}
.mainContents .spFixed table.type01.thead tr,
.mainContents .spFixed table.type01.thead th{
	width: 280px;
	white-space: nowrap;
}
.mainContents .spFixed .scroll {
	overflow: hidden;
	overflow-x: auto;
	margin-left: 280px;
}
.mainContents .spFixed .scroll table.type01.data{
	width: 100%;
	position: relative;
	white-space: nowrap;
}
.mainContents .spFixed .scroll table.type01.data tbody tr{
	vertical-align: top;
	border: none;
}
.mainContents .spFixed .scroll table.type01.data tbody tr + tr{
	margin-left: -3px;
}
.mainContents .spFixed:before ,
.mainContents .spFixed:after ,
.mainContents .spFixed table.type01:before,
.mainContents .spFixed table.type01:after {
	content: " ";
	display: table;
}
.mainContents .spFixed:after ,
.mainContents .spFixed table.type01:after {
	clear: both;
}
.mainContents .spFixed:after ,
.mainContents .spFixed table.type01 {
	*zoom: 1;
}
.mainContents .spFixed table.type01 th.rowspan2,
.mainContents .spFixed table.type01 td.rowspan2{
	height:5.95em;
}
.mainContents .spFixed table.type01 th.rowspan3,
.mainContents .spFixed table.type01 td.rowspan3{
	height:10.4em;
}
.mainContents .spFixed table.type01 th.rowspan4,
.mainContents .spFixed table.type01 td.rowspan4{
	height:14.8em;
}
.mainContents .spFixed table.type01 th.rowspan5,
.mainContents .spFixed table.type01 td.rowspan5{
	height:19.25em;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.mainContents .spFixed table.type01 th{
		padding-left: 20px;
	}
	.mainContents .spFixed table.type01.thead{
		width: 210px;
	}
	.mainContents .spFixed table.type01.thead tr,
	.mainContents .spFixed table.type01.thead th{
		width: 210px;
	}
	.mainContents .spFixed .scroll {
		margin-left: 210px;
	}
	.mainContents .spFixed table.type01 th.rowspan2,
	.mainContents .spFixed table.type01 td.rowspan2{
		height:6.15em;
	}
	.mainContents .spFixed table.type01 th.rowspan3,
	.mainContents .spFixed table.type01 td.rowspan3{
		height:10.75em;
	}
	.mainContents .spFixed table.type01 th.rowspan4,
	.mainContents .spFixed table.type01 td.rowspan4{
		height:15.35em;
	}
	.mainContents .spFixed table.type01 th.rowspan5,
	.mainContents .spFixed table.type01 td.rowspan5{
		height:19.9em;
	}
}
@media screen and (max-width: 767px) {
	.mainContents .spFixed table.type01.thead{
		width: 170px;
	}
	.mainContents .spFixed table.type01.thead tr,
	.mainContents .spFixed table.type01.thead th{
		width: 170px;
	}
	.mainContents .spFixed .scroll {
		margin-left: 170px;
	}
	.mainContents .spFixed table.type01 th.rowspan2,
	.mainContents .spFixed table.type01 td.rowspan2{
		height:4.75em;
	}
	.mainContents .spFixed table.type01 th.rowspan3,
	.mainContents .spFixed table.type01 td.rowspan3{
		height:7.95em;
	}
	.mainContents .spFixed table.type01 th.rowspan4,
	.mainContents .spFixed table.type01 td.rowspan4{
		height:11.1em;
	}
	.mainContents .spFixed table.type01 th.rowspan5,
	.mainContents .spFixed table.type01 td.rowspan5{
		height:14.3em;
	}
}
@media screen and (max-width: 479px) {
	.mainContents .spFixed table.type01.thead{
		width: 140px;
	}
	.mainContents .spFixed table.type01.thead tr,
	.mainContents .spFixed table.type01.thead th{
		width: 100px;
	}
	.mainContents .spFixed .scroll {
		margin-left: 100px;
	}
	.mainContents .spFixed table.type01 th.rowspan2,
	.mainContents .spFixed table.type01 td.rowspan2{
		height:4.75em;
	}
	.mainContents .spFixed table.type01 th.rowspan3,
	.mainContents .spFixed table.type01 td.rowspan3{
		height:8em;
	}
	.mainContents .spFixed table.type01 th.rowspan4,
	.mainContents .spFixed table.type01 td.rowspan4{
		height:11.3em;
	}
	.mainContents .spFixed table.type01 th.rowspan5,
	.mainContents .spFixed table.type01 td.rowspan5{
		height:14.5em;
	}
}
/** width **/
.mainContents .wid10{width:10%!important;}
.mainContents .wid15{width:15%!important;}
.mainContents .wid20{width:20%!important;}
.mainContents .wid25{width:25%!important;}
.mainContents .wid30{width:30%!important;}
.mainContents .wid35{width:35%!important;}
.mainContents .wid40{width:40%!important;}
.mainContents .wid45{width:45%!important;}
.mainContents .wid50{width:50%!important;}
.mainContents .wid55{width:55%!important;}
.mainContents .wid60{width:60%!important;}
.mainContents .wid70{width:70%!important;}
.mainContents .wid75{width:75%!important;}
.mainContents .wid80{width:80%!important;}
.mainContents .wid100{width:100%!important;}


/* .openDetailArea */
.mainContents .openDetailArea {
	margin-top: 1em;
	border-top: 1px solid #e0e0e0;
}
.mainContents .openDetailArea.pcOpen {
	border-top: none;
}
.mainContents .plusonemile .openDetailArea {
	margin-top: 0;
	border-top: none;
	border-bottom: none;
}
.mainContents div.plusonemile{
	margin-bottom: 0;
}
.carddetail.plusonemile #contents__card__personal__detail__intro--single{
	padding-bottom: 0;
}

.mainContents .openDetailArea .btnBlock .btn {
	position: relative;
	margin: 0;
	padding: 45px 0 45px 0;
	font-size: 28px;
	cursor: pointer;
	color: #727272;
	padding-right:2.5em;
}
.mainContents .openDetailArea +.openDetailArea {
	margin-top: -1px;
}
@media screen and (max-width: 767px) {
	.mainContents .openDetailArea {
		margin-top: 35px;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}
	.mainContents .openDetailArea .btnBlock .btn {
		font-size: 19px;
	}
}
.mainContents .openDetailArea .btnBlock .btn::after {
	content:"";
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	background: url(/common_new/images/common/icon_menu-open-sp.png) no-repeat;
	-webkit-background-size: 32px 32px;
	background-size: 32px 32px;
}
@media screen and (max-width: 767px) {
	.mainContents .openDetailArea .btnBlock .btn {
		padding: 20px 55px 20px 0;
	}
	.mainContents .openDetailArea .btnBlock .btn::after {
		margin-top: -12px;
		-webkit-background-size: 24px 24px;
		background-size: 24px 24px;
	}
}
.mainContents .openDetailArea .btnBlock.open .btn::after {
	background-image: url(/common_new/images/common/icon_menu-close-sp.png);
}
.mainContents .openDetailArea .detaiBlock {
	margin-top: 0;
	margin-bottom: 2em;
}
.mainContents .openDetailArea .detaiBlock .ttl {
	font-size: 20px;
}
@media screen and (max-width: 767px) {
	.mainContents .openDetailArea .detaiBlock .ttl {
		font-size: 15px;
	}
	.mainContents .openDetailArea.pcOpen {
		border-top: 1px solid #e0e0e0;
	}
}

@media screen and (min-width: 1023px) {
	.mainContents .openDetailArea.pcOpen .btnBlock .btn {
	cursor: default
	}
	.mainContents .openDetailArea.pcOpen .btnBlock .btn::after {
		display: none;
	}
}

/* .tabArea */
.mainContents .tabArea {
	width: 984px;
	margin: 1em auto 49px;
	overflow: hidden;
}
@media screen and (max-width: 1023px) {
	.mainContents .tabArea {
		width: 100%;
	}
}
.mainContents .tabArea ul {
	overflow: hidden;
	overflow-x: auto;
	margin: 0;
	padding-left: 0;
	border-bottom: 1px solid #e0e0e0;
	list-style-type: none;
	text-align: center;
	white-space: nowrap;
}
.mainContents .tabArea ul li {
	display: inline-block;
	margin: 0 10px;
}
.mainContents .tabArea ul li a {
	display: block;
	margin-bottom: -1px;
	padding: 10px 0;
	border-bottom: 2px solid transparent;
	color: #262626;
}
.mainContents .tabArea ul li a.active,
.mainContents .tabArea ul li a:hover {
	text-decoration: none;
	border-bottom: 2px solid #008eed;
	color: #008dec;
}
.mainContents .tabArea ul li.active a,
.mainContents .tabArea ul li:hover a {
	text-decoration: none;
	border-bottom: 2px solid #008eed;
	color: #008dec;
}

/* .anchorBtnArea */
.mainContents .anchorBtnArea .anchorBtn {
	margin: 3em 0 0;
	padding-left: 0;
	list-style-type: none;
}
.mainContents .anchorBtnArea .anchorBtn:before,
.mainContents .anchorBtnArea .anchorBtn:after {
	content: " ";
	display: table;
}
.mainContents .anchorBtnArea .anchorBtn:after {
	clear: both;
}
.mainContents .anchorBtnArea .anchorBtn {
	*zoom: 1;
}
.mainContents .anchorBtnArea .anchorBtn li {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 12.5%;
	border-right: 1px solid #e0e0e0;
	text-align: center;
}
.mainContents .anchorBtnArea .anchorBtn li:first-child {
	border-left: 1px solid #e0e0e0;
}
.mainContents .anchorBtnArea .anchorBtn li a {
	position: relative;
	display: block;
	padding: 10px;
	min-height: 122px;
}
.mainContents .anchorBtnArea .anchorBtn li a span{
	display: block;
	padding: 10px 0;
}
.mainContents .anchorBtnArea .anchorBtn li a:after {
	position: absolute;
	left: 50%;
	bottom:0px;
	content: " ";
	width: 12px;
	height: 6px;
	margin-left: -6px;
	background-image: url(/common_new/images/common/icon_anchor-blue.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 12px 6px;
}

@media screen and (max-width: 767px) {
	.mainContents .anchorBtnArea .anchorBtn li {
		width: 50%;
		border: none;
		margin-top: 1.5em;
		min-height: 116px;
	}
	.mainContents .anchorBtnArea .anchorBtn li:first-child {
		border-left: none;
	}
	.mainContents .anchorBtnArea .anchorBtn li:nth-child(odd) {
		border-right: 1px solid #e0e0e0;
	}
	.mainContents .anchorBtnArea .anchorBtn li a {
		min-height: 60px;
		padding: 0 10px 10px;
	}
	.mainContents .anchorBtnArea .anchorBtn li a span{
		padding: 5px 0;
	}
}

/* .submitBtn */
.mainContents .submitBtn {
	background-color: #008eed;
	color:#fff;
	max-width:300px;
	margin:1em auto 0;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
}
.mainContents .submitBtn + .submitBtn {
	margin-top: 1em;
}
.mainContents table.type01 td .submitBtn {
	margin:0 auto;
}
.mainContents .submitBtn:hover {
	opacity: 0.5;
}
.mainContents .submitBtn a{
	display: block;
	padding: 6px 30px;
	color:#fff;
}
.mainContents .submitBtn a:hover{
	text-decoration: none;
}
.mainContents .submitBtn a.external:after,
.mainContents .normalBtn a:after{
	content: " ";
	width: 10px;
	height: 10px;
	background-image: url(/common_new/images/common/icon_blank-white.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 10px 10px;
}
.mainContents .submitBtn.cancel{
	background-color: #ccc;
}
@media screen and (max-width: 767px) {
	.mainContents .submitBtn{
		max-width:240px;
		font-size: 14px;
	}
}

/* .printBtn */
.mainContents .printBtn{
	display: inline-block;
	background-color: #008eed;
	color:#fff;
	width: 150px;
	margin:1em auto 0;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
}
.mainContents .printBtn:hover {
	opacity: 0.5;
}
.mainContents .printBtn a{
	display: block;
	padding: 6px;
	color:#fff;
}
.mainContents .printBtn a:hover{
	text-decoration: none;
}
@media screen and (max-width: 767px) {
	.mainContents .printBtn{
		display:none;
		width: 115px;
		font-size: 12px;
	}
}

/* .normalBtn */
.mainContents .normalBtn{
	display: inline-block;
	background-color: #008eed;
	color:#fff;
	margin:1em auto 0;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
}
.mainContents .normalBtn:hover {
	opacity: 0.5;
}
.mainContents .normalBtn a{
	display: block;
	padding: 6px 30px;
	color:#fff;
}
.mainContents .normalBtn a:visited{
	color:#fff;
}
@media screen and (max-width: 767px) {
	.mainContents .normalBtn a {
		font-size: 14px;
	}
}
.mainContents .normalBtn a:hover{
	text-decoration: none;
}
.mainContents .submitBtn.green,
.mainContents .normalBtn.green{
	background-color: #76c252;
}
.mainContents .submitBtn.orange,
.mainContents .normalBtn.orange{
	background-color: #fc7d73;
}
.mainContents .submitBtn.orange02,
.mainContents .normalBtn.orange02{
	background-color: #ff7a35;
}
.mainContents .submitBtn.white,
.mainContents .normalBtn.white{
	background-color: #fff;
}
.mainContents .submitBtn.white a,
.mainContents .normalBtn.white a{
	color:#737373;
}
.mainContents .submitBtn.gray,
.mainContents .normalBtn.gray{
	background-color: #c9c9c9;
}

/* .btnFlat */
.mainContents .btnFlat {
	text-align: center;
	margin-top: 1em;
}
.mainContents .btnFlat ul {
	display: inline-block;
	margin:0 auto;
	padding: 0;
}
.mainContents .btnFlat ul li{
	display: inline-block;
	float: left;
}
.mainContents .btnFlat ul li + li{
	margin-left: 18px;
}
.mainContents .btnFlat ul:before,
.mainContents .btnFlat ul:after {
	content: " ";
	display: table;
}
.mainContents .btnFlat ul:after {
	clear: both;
}
.mainContents .btnFlat ul {
	*zoom: 1;
}
@media screen and (max-width: 767px) {
	.mainContents .btnFlat ul li{
		display: block;
		width: 100%;
		float: none;
	}
	.mainContents .btnFlat ul li + li{
		margin-left: 0;
		margin-top: 1em;
	}
	.mainContents .btnFlat.spReverse{
		position: relative;
		min-height: 8em;
	}
	.mainContents .btnFlat.spReverse ul li{
		position: absolute;
		top:0;
		left:0;
	}
	.mainContents .btnFlat.spReverse ul li + li{
		margin-top: 0;
	}
	.mainContents .btnFlat.spReverse ul li:first-child{
		top:3.5em;
		left:0;
	}
}


/* .loadMore */
.mainContents .loadMore{
	display: block;
	overflow: hidden;
	margin: 3em auto;
	white-space: nowrap;
	text-indent: 100%;
	width: 64px;
	height: 64px;
	background-image: url(/common_new/images/common/icon_loadmore.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 48px 48px;
	cursor: pointer;
}
.mainContents .loadMore:hover{
	background-image: url(/common_new/images/common/icon_loadmore-hover.png);
}
@media screen and (max-width: 767px) {
	.mainContents .loadMore{
		width: 48px;
		height: 48px;
		background-size: 36px 36px;
	}
}


/*.typeCol3*/
@media screen and (min-width: 1024px){
	.module__cardListItemSet.typeCol3 .module__cardListItem--image, .module__cardListItemSet.typeCol3 .module__cardListItem--misc {
		width: 30%;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline, .module__cardListItemSet.typeCol3 .module__cardListItem--title {
		width: 35%;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline h4, .module__cardListItemSet.typeCol3 .module__cardListItem--title h4 {
		margin-bottom: 15px;
		margin-right: 20px;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline p, .module__cardListItemSet.typeCol3 .module__cardListItem--title p {
		margin-bottom: 15px;
		margin-right: 20px;
		margin-left: 24px;
		color: #727272;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline h5, .module__cardListItemSet.typeCol3 .module__cardListItem--title h5 {
		font-size:13px;
	}
}
@media screen and (min-width: 768px){
	.module__cardListItemSet.typeCol3 .module__cardListItem--image, .module__cardListItemSet.typeCol3 .module__cardListItem--misc {
		width: 30%;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline, .module__cardListItemSet.typeCol3 .module__cardListItem--title {
		width: 35%;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline h4, .module__cardListItemSet.typeCol3 .module__cardListItem--title h4 {
		margin-bottom: 15px;
		margin-right: 20px;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline p, .module__cardListItemSet.typeCol3 .module__cardListItem--title p {
		margin-bottom: 15px;
		margin-right: 20px;
		margin-left: 24px;
		color: #727272;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline h5, .module__cardListItemSet.typeCol3 .module__cardListItem--title h5 {
		font-size:12px;
	}
	.module__cardListItemSet.typeCol3 a .module__cardListItem--outline h4, .module__cardListItemSet.typeCol3 a .module__cardListItem--title h4 ,
	.module__cardListItemSet.typeCol3 a .module__cardListItem--outline h5, .module__cardListItemSet.typeCol3 a .module__cardListItem--title h5 {
		color:#262626;
	}
	.module__cardListItemSet.typeCol3 a:hover .module__cardListItem--image img {
		opacity: .5;
	}
}
@media screen and (max-width: 767px){
	.module__cardListItemSet.typeCol3 .module__cardListItem--title {
		background-image: none;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline h4, .module__cardListItemSet.typeCol3 .module__cardListItem--title h4 {
		margin-bottom: 0.5em;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline p, .module__cardListItemSet.typeCol3 .module__cardListItem--title p {
		margin-top: 0;
		margin-bottom: 0.5em;
		color: #727272;
	}
	.module__cardListItemSet.typeCol3 .module__cardListItem--outline h5, .module__cardListItemSet.typeCol3 .module__cardListItem--title h5 {
		font-size:12px;
	}
	.module__cardListItemSet.typeCol3 a .module__cardListItem--outline h4, .module__cardListItemSet.typeCol3 a .module__cardListItem--title h4 ,
	.module__cardListItemSet.typeCol3 a .module__cardListItem--outline h5, .module__cardListItemSet.typeCol3 a .module__cardListItem--title h5 {
		color:#262626;
	}
	.module__cardListItemSet.typeCol3 a:hover .module__cardListItem--image img {
		opacity: .5;
	}
		.module__cardListItemSet.typeCol3 a:hover{
			text-decoration: none;
		}
}

.module__cardListItemSet .module__cardListItem--title a:hover,
a.module--button--blue:hover,
a.module--button--white:hover,
a.module--button--orange:hover,
a.module__cardListItem--checkButton:hover,
a.contents__cardListItem--compareButton:hover{
	text-decoration: none;
}
.cardlist .module--button--toggle{
	color:#262626;
}


.module__imageLink160--elm h3{
	font-weight: normal;
}
a.module__imageLink176__withCaption--elm,
a.module__imageLink160--elm{
	color: #fff;
}
a.module__imageLink176__withCaption--elm:hover,
a.module__imageLink160--elm:hover{
	text-decoration: none;
}

.cardpersonal #contents__card__personal__recommend .module__utilities__3elm p {
	margin-bottom: 10px;
}
@media screen and (max-width: 767px){
	.card #contents__card__businessCard p,
	.card #contents__card__personalCard p {
		margin:1em 0;
	}
}

/* index_single_multi.html */
#singleMultiSlide {
	position:relative;
}
#singleMultiSlide li{
	display: block;
}
#singleMultiSlide img {
	left:0;
	top:0;
}
@media screen and (max-width: 767px){
	#singleMultiSlide {
		width: 212px;
		height: 132px;
		margin: 0 auto;
	}
}

/* #emergency */
#emergency{
	background-color: #303038;
	color: #d5d5d7;
	font-size: 13px;
	line-height: 16px;
	padding: 10px 0;
	border-bottom:5px solid #FF6E66;
}
#emergency .emergency-banner {
	position: relative;
	width:100%;
	margin:0 auto;
	max-width: 984px;
	padding: 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#emergency .emergency-banner + .emergency-banner {
	border-top: 1px solid #7c7c85;
}
#emergency .emergency-banner p{
	margin:0;
	padding-right:26px;
}
#emergency .emergency-banner p a{
	color: #d5d5d7;
}
#emergency .emergency-banner p a:hover{
	cursor: pointer;
	text-decoration:underline;
}
#emergency .emergency-banner p a.external:after{
	display:inline-block;
	content: "";
	width: 10px;
	height: 10px;
	background-image: url(/common_new/images/common/icon_blank-white.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 10px 10px;
	margin:0 5px;
}
#emergency .emergency-banner .colorType1 {
	color: #008dec;
}
#emergency .emergency-banner .colorType2 {
	color: #f5493f;
}
#emergency .emergency-banner__label {
	color: #fff;
	display: block;
	font-size: 11px
}

@media (min-width: 768px) {
	#emergency .emergency-banner__label{
		display: inline-block
	}
}
@media screen and (max-width: 1023px) {
	#emergency .emergency-banner {
		padding: 15px;
	}
}

#emergency .emergency-banner__close {
	color: #fff;
	cursor: pointer;
	height: 22px;
	position: absolute;
	right: 5px;
	top: 50%;
	vertical-align: middle;
	width: 22px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

#emergency .emergency-banner__close:after {
	bottom: 0;
	right:0;
	-webkit-transform: translate3d(-4px, -11px, 0) rotate3d(0, 0, 1, -45deg);
	-ms-transform: translate(-4px, -11px) rotate(-45deg);
	transform: translate3d(-4px, -11px, 0) rotate3d(0, 0, 1, -45deg);
}

#emergency .emergency-banner__close:before {
	top: 0;
	right:0;
	-webkit-transform: translate3d(-4px, 10px, 0)rotate3d(0, 0, 1, 45deg);
	-ms-transform: translate(-4px, 10px)rotate(45deg);
	transform: translate3d(-4px, 10px, 0)rotate3d(0, 0, 1, 45deg);
}

#emergency .emergency-banner__close:before, #emergency .emergency-banner__close:after {
	background: currentColor;
	content: "";
	display: inline-block;
	height: 1px;
	position: absolute;
	-webkit-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	width: 14px;
}

/* .carddetail */
.carddetail .contents__card__personal__detail__basicInfo__table {
	width:100%;
	margin-bottom:1em;
}
.carddetail .contents__card__personal__detail__basicInfo__table td {
	padding-right:10px;
	word-break : break-all;
}
.carddetail .contents__card__personal__detail__basicInfo__table .apiLineup td {
	text-align:center;
}
.carddetail .contents__card__personal__detail__basicInfo__table .cardFace{
	max-width:155px;
	margin-bottom:10px;
	margin-left:5px;
	margin-right:5px;
	vertical-align:top;
}
.carddetail .contents__card__personal__detail__basicInfo__table .cardFace p{
	margin-top:5px;
}
.carddetail .contents__card__personal__detail__basicInfo__table .apiCardType td{
	text-align:center;
}
.carddetail .contents__card__personal__detail__basicInfo__table .contents__card__personal__detail__basicInfo__table__tr--cardface img {
	width:95%;
}
.carddetail .contents__card__personal__detail__basicInfo__table a{
	color:#008dec;
}
.carddetail .contents__card__personal__detail__basicInfo__table a:hover{
	text-decoration:underline;
}
.carddetail #contents__card__personal__detail__service .contents__card__personal__detail__toggleContent .row-2-1-1:last-child{
	background-image:none;
	padding-bottom: 0;
}
@media screen and (max-width: 767px) {
	.carddetail .contents__card__personal__detail__basicInfo__table .contents__card__personal__detail__basicInfo__table__tr--cardface td div {
		margin-right:5px;
	}
	.carddetail .contents__card__personal__detail__basicInfo__table .cardFace{
		max-width:88px;
	}
}

/* .form */
.mainContents .form {
	margin-bottom: 3em;
}
.mainContents .form span{
	margin:0 0.5em 0.5em 0;
}
.mainContents .form span {
	display: inline-block;
}
.mainContents .form input[type="text"],
.mainContents .form input[type="password"],
.mainContents .form textarea{
	border: 1px solid #d9d9d9;
	padding: 6px 10px;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	min-width: auto;
	width: auto;
}
.mainContents .form input[type="checkbox"]{
	padding: 6px 10px;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mainContents .form input[type="radio"] {
	padding: 6px 10px;
	margin: 0 0.5em 0 0;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.mainContents .form input[type="checkbox"] + span,
.mainContents .form input[type="radio"] + span{
	margin-right: 1.5em;
}
.mainContents .form select {
	height: 2em;
	min-width: 150px;
	margin: 0;
	padding: 0.2em 0.6em;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
}
.mainContents .form .submitBtn input[type="submit"] ,
.mainContents .form .submitBtn input[type="button"] {
	width: auto;
	display: block;
	padding: 6px 30px;
	color: #fff;
	background-color: #008eed;
	color:#fff;
	margin:1em auto 0;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	border-radius: 4px;
	border:none;
}
.mainContents .form .submitBtn.green input[type="submit"],
.mainContents .form .submitBtn.green input[type="button"]{
	background-color: #76c252;
}
.mainContents .form .submitBtn.orange input[type="submit"],
.mainContents .form .submitBtn.orange input[type="button"]{
	background-color: #fc7d73;
}
.mainContents .form .submitBtn.orange02 input[type="submit"],
.mainContents .form .submitBtn.orange02 input[type="button"]{
	background-color: #ff7a35;
}
.mainContents .form .submitBtn.white input[type="submit"],
.mainContents .form .submitBtn.white input[type="button"]{
	background-color: #fff;
	color:#737373;
}
.mainContents .form .submitBtn.gray input[type="submit"],
.mainContents .form .submitBtn.gray input[type="button"]{
	background-color: #c9c9c9;
}
.mainContents .form .submitBtn.cancel input[type="submit"],
.mainContents .form .submitBtn.cancel input[type="button"]{
	background-color: #ccc;
}
@media screen and (max-width: 767px) {
	.mainContents .form .submitBtn input[type="submit"] ,
	.mainContents .form .submitBtn input[type="button"] {
		font-size: 14px;
		width:100%;
	}
	.mainContents .form .btnFlat.spReverse ul li:first-child{
		top:4.5em;
		left:0;
	}
}

.mainContents #contents__card__personal__detail__faq .contents__card__personal__detail__notes {
	text-align: center;
}
.mainContents .contents__card__personal__detail__notes {
	margin: 0;
	color: #727272;
}
.mainContents .contents__card__personal__detail__notes p,
.mainContents .contents__card__personal__detail__notes ul {
	font-size: 13px;
}
.mainContents #contents__card__personal__detail__intro--single .contents__card__personal__detail__notes ul li{
	list-style-type: none;
}
.mainContents .module__dialBlock--whiteBg {
	background-color: #fff;
}
.mainContents .module__dialBlock--whiteBg a:hover{
	text-decoration:none;
}
@media screen and (min-width: 768px) {
	.mainContents .module__cardCarouselList img {
		height: 136px;
	}
}
@media screen and (max-width: 767px){
	.mainContents .module__cardCarouselList img {
		height: 116px;
	}
	.mainContents #contents__card__personal__detail__carousel__type2 .module__cardCarouselList img {
		height: 185px;
		max-width: none;
		width: 116px;
	}
}

@media screen and (max-width: 767px) {
	.mainContents .contents__card__personal__detail__notes ul {
		text-align: left;
	}
}

.premiumservice #contents__premiumservice__detail__report,
.premiumservicedetail #contents__premiumservice__detail__report{
	background-color: transparent;
}


/* RE01:お知らせ */
.mainContents .module__newsList{
	margin-bottom: 3em;
}
.mainContents .module__newsList ul{
	padding: 0;
}
.mainContents .module__newsList a {
	color: #262626;
	text-decoration: none;
}
.mainContents .module__newsList a:hover dd {
	text-decoration: none;
}
.mainContents .module__newsList .module__newsList--type.new {
	display: inline-block;
	min-width: auto;
	margin:0 10px 0 0;
	padding: 1px 10px;
	position: relative;
	top: -1px;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #f5493f;
	color:#fff;
}

/* YahooプレミアムDSPタグ */
img[src^="https://ads.yahoo.com"]{
	display:none;
}
/* /ordercard/campaign/index.html */
.mainContents .ncCampaign a {
	color: #262626;
}
.mainContents .ncCampaign a:hover {
	text-decoration: none;
}
.mainContents .ncCampaign a:hover img {
	opacity:.5;
}

/* /release/website/index.html */
.release #contents__release__detail__more .mainContents .ttlType2 {
	margin-top:0;
}
.release #contents__release__detail__more .mainContents img {
	display:inline;
	width:auto;
}
.release #contents__release__detail__more{
	padding-bottom:0;
	overflow:hidden;
}
/* お知らせ詳細 */
.release #contents__release__detail .mainContents section{
	background-image:none;
	padding-bottom:0;
}

/* カード特集 */
.card #contents__card__personalCard,
.card #contents__card__businessCard{
	padding-bottom:0;
}
.card #contents .mainContents #contents__card__personalCard section,
.card #contents .mainContents #contents__card__businessCard section{
	background-color:#f5f5f5;
}

.card #contents__card__personalCard + .cardlist > #contents__card__personal__list__cards,
.card #contents__card__businessCard + .cardlist > #contents__card__personal__list__cards{
	padding-bottom:0;
}

section + .cardlist > .module__currentCheckSet{
	background-image:none;
}

/* 特集一覧 */
.mainContents #contents__card__personal__feature{
	padding-bottom:0;
	margin-bottom:-1px;
	background-color:transparent;
}
.mainContents #contents__card__personal__feature section{
	padding-bottom:0;
	margin-bottom:0;
	background-color:#fff;
}
.mainContents #contents__card__personal__feature section:nth-child(2n+1){
	background-color:transparent;
}
.mainContents #contents__card__personal__feature a:hover {
	text-decoration:none;
}

/* Visionalist */
img[src^="http://www31.tracer.jp/VL/Trace"]{
	position:absolute;
}

/* premium */
#premiumContentsDynamic + #premiumContentsBnr{
	margin-top:88px;
}
@media screen and (max-width: 767px) {
	#premiumContentsDynamic + #premiumContentsBnr{
		margin-top:44px;
	}
}
/* PC*/
@media screen and (max-width: 1024px) {
}
/* Tablet */
@media screen and (max-width: 1023px) {
}
/* Tablet */
@media screen and (max-width: 767px) {
}
/* SP */
@media screen and (max-width: 479px) {
}
/** margin **/
.mt0{
margin-top:0px!important;
}
.mt10{
margin-top:10px!important;
}
.mt20{
margin-top:20px!important;
}
.mt30{
margin-top:30px!important;
}
.mt40{
margin-top:40px!important;
}
.mt80{
margin-top:80px!important;
}
.mb0{
margin-bottom:0px!important;
}
.mb10{
margin-bottom:10px!important;
}
.mb20{
margin-bottom:20px!important;
}
.mb30{
margin-bottom:30px!important;
}
.mb40{
margin-bottom:40px!important;
}
.mb80{
margin-bottom:80px!important;
}
.mr0{
margin-right:0!important;
}
.mr20{
margin-right:20px!important;
}
.mb1em{
margin-bottom:1em;
}
.ml0{
margin-left:0!important;
}
.ml20{
margin-left:20px!important;
}
.PCmr20{
margin-right:20px!important;
}
.smt40{
margin-top:40px!important;
}
@media screen and (max-width:767px){
	.smt0{
	margin-top:0!important;
	}
	.smt20{
	margin-top:20px!important;
	}
	.smt40{
	margin-top:0px!important;
	}
	.mb80{
	margin-bottom:40px!important;
	}
}
/** padding **/
.p0{
padding:0px!important;
}
.p10{
padding:10px!important;
}
.p20{
padding:20px!important;
}
.pt0{
padding-top:0px!important;
}
.pt20{
padding-top:20px!important;
}
.pt30{
padding-top:30px!important;
}
.pt40{
padding-top:40px!important;
}
.pt80{
padding-top:80px!important;
}
.pb0{
padding-bottom:0px!important;
}
.pb20{
padding-bottom:20px!important;
}
.pb30{
padding-bottom:30px!important;
}
.pb40{
padding-bottom:40px!important;
}
.pb40Sp10{
padding-bottom:40px!important;
}
.pb40Sp0{
padding-bottom:40px!important;
}
.pb80{
padding-bottom:80px!important;
}
.pl0{
padding-left:0!important;
}
.bgNone{
	background-color: transparent!important;
}
@media screen and (max-width:767px){
	.pb80{
	padding-bottom:50px!important;
	}
	.pb40Sp10{
	padding-bottom:10px!important;
	}
	.pb40Sp0{
	padding-bottom:0!important;
	}
}
