div.jp-audio, div.jp-audio-stream, div.jp-video {
	font-size:1.25em;
	font-family:Verdana,  Arial,  sans-serif;
	line-height:1.6;
	color:#fff;
	background-color:#323232;
}


div.jp-audio {
	width:201px;
	padding:20px;
}


div.jp-audio-stream {
	width:101px;
	padding:20px 20px 10px;
}


div.jp-video-270p {
	width:480px;
}


div.jp-video-360p {
	width:640px;
}


div.jp-video-full {
	width:480px;
	height:270px;
	position:static!important;
}


div.jp-video-full div div {
	z-index:1000;
}


div.jp-video-full div.jp-jplayer {
	top:0;
	left:0;
	position:fixed!important;
	overflow:hidden;
}


div.jp-video-full div.jp-gui {
	position:fixed!important;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1001;
}


div.jp-video-full div.jp-interface {
	position:absolute!important;
	bottom:0;
	left:0;
}


div.jp-interface {
	position:relative;
	width:100%;
	background-color:#323232;
}


div.jp-audio .jp-interface {
	height:80px;
	padding-top:0;
}


div.jp-audio-stream .jp-interface {
	height:50px;
	padding-top:30px;
}


div.jp-controls-holder {
	clear:both;
	width:440px;
	position:relative;
	overflow:hidden;
	margin:0 auto 10px;
}


div.jp-interface ul.jp-controls {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 0 no-repeat;
	list-style-type:none;
	overflow:hidden;
	width:201px;
	height:34px;
	padding:1px 0 2px 1px;
}


div.jp-audio ul.jp-controls, div.jp-audio-stream ul.jp-controls {
	margin:-5px auto 5px;
}


div.jp-audio-stream ul.jp-controls {
	width:100px;
}


div.jp-video ul.jp-controls {
	float:left;
	display:inline;
	margin:0 0 0 115px;
}


div.jp-interface ul.jp-controls li {
	display:inline;
	float:left;
}


div.jp-interface ul.jp-controls a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	height:34px;
	margin:0 1px 2px 0;
	padding:0;
}


div.jp-type-single .jp-controls li a {
	width:99px;
}


div.jp-type-single .jp-play {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -40px no-repeat;
}


div.jp-type-single .jp-play:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -100px -40px no-repeat;
}


div.jp-type-single .jp-pause {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -120px no-repeat;
}


div.jp-type-single .jp-pause:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -100px -120px no-repeat;
}


div.jp-type-single .jp-stop {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -80px no-repeat;
}


div.jp-type-single .jp-stop:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -100px -80px no-repeat;
}


div.jp-type-playlist .jp-controls li a {
	width:49px;
}


div.jp-type-playlist .jp-play {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -24px -40px no-repeat;
}


div.jp-type-playlist .jp-play:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -124px -40px no-repeat;
}


div.jp-type-playlist .jp-pause {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -24px -120px no-repeat;
}


div.jp-type-playlist .jp-pause:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -124px -120px no-repeat;
}


div.jp-type-playlist .jp-stop {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -24px -80px no-repeat;
}


div.jp-type-playlist .jp-stop:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -124px -80px no-repeat;
}


div.jp-type-playlist .jp-previous {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -24px -200px no-repeat;
}


div.jp-type-playlist .jp-previous:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -124px -200px no-repeat;
}


div.jp-type-playlist .jp-next {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -24px -160px no-repeat;
}


div.jp-type-playlist .jp-next:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -124px -160px no-repeat;
}


ul.jp-toggles {
	list-style-type:none;
	overflow:hidden;
	margin:0 auto;
	padding:0;
}


div.jp-audio ul.jp-toggles {
	width:55px;
}


div.jp-audio .jp-type-single ul.jp-toggles {
	width:25px;
}


div.jp-video ul.jp-toggles {
	width:100px;
	margin-top:10px;
}


ul.jp-toggles li {
	display:block;
	float:right;
}


ul.jp-toggles li a {
	display:block;
	width:25px;
	height:18px;
	text-indent:-9999px;
	line-height:100%;
}


#test {
	margin-left:20px;
	margin-right:20px;
}


.jp-full-screen {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -420px no-repeat;
	margin-left:20px;
}


.jp-full-screen:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -30px -420px no-repeat;
}


.jp-restore-screen {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -60px -420px no-repeat;
	margin-left:20px;
}


.jp-restore-screen:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -90px -420px no-repeat;
}


.jp-repeat {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -440px no-repeat;
}


.jp-repeat:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -30px -440px no-repeat;
}


.jp-repeat-off {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -60px -440px no-repeat;
}


.jp-repeat-off:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -90px -440px no-repeat;
}


.jp-shuffle {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -460px no-repeat;
	margin-left:5px;
}


.jp-shuffle:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -30px -460px no-repeat;
}


.jp-shuffle-off {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -60px -460px no-repeat;
	margin-left:5px;
}


.jp-shuffle-off:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -90px -460px no-repeat;
}


div.jp-seeking-bg {
	background:url(../../../../image/jplayer/skin/flat.black/seeking.gif);
	background-color:#000;
}


.jp-progress {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -240px no-repeat;
	width:197px;
	height:13px;
	margin-bottom:4px;
	overflow:hidden;
	padding:0 2px 2px;
}


div.jp-video .jp-progress {
	border-top:1px solid #180a1f;
	border-bottom:1px solid #554560;
	width:100%;
	background-image:none;
	padding:0;
}


.jp-seek-bar {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -260px repeat-x;
	width:0;
	height:100%;
	overflow:hidden;
	cursor:pointer;
}


.jp-play-bar {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -280px repeat-x;
	width:0;
	height:100%;
	overflow:hidden;
}


div.jp-interface ul.jp-controls a.jp-mute, div.jp-interface ul.jp-controls a.jp-unmute, div.jp-interface ul.jp-controls a.jp-volume-max {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -330px no-repeat;
	position:absolute;
	width:16px;
	height:11px;
}


div.jp-audio ul.jp-controls a.jp-mute, div.jp-audio ul.jp-controls a.jp-unmute, div.jp-audio-stream ul.jp-controls a.jp-mute, div.jp-audio-stream ul.jp-controls a.jp-unmute {
	top:-6px;
	left:0;
}


div.jp-audio ul.jp-controls a.jp-volume-max, div.jp-audio-stream ul.jp-controls a.jp-volume-max {
	top:-6px;
	right:0;
}


div.jp-video ul.jp-controls a.jp-mute, div.jp-video ul.jp-controls a.jp-unmute {
	left:0;
	top:14px;
}


div.jp-video ul.jp-controls a.jp-volume-max {
	left:84px;
	top:14px;
}


div.jp-interface ul.jp-controls a.jp-mute:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -25px -330px no-repeat;
}


div.jp-interface ul.jp-controls a.jp-unmute {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -60px -330px no-repeat;
}


div.jp-interface ul.jp-controls a.jp-unmute:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -85px -330px no-repeat;
}


div.jp-interface ul.jp-controls a.jp-volume-max {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -350px no-repeat;
}


div.jp-interface ul.jp-controls a.jp-volume-max:hover {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) -25px -350px no-repeat;
}


.jp-volume-bar {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -300px repeat-x;
	position:absolute;
	width:197px;
	height:4px;
	overflow:hidden;
	padding:2px 2px 1px;
}


.jp-volume-bar:hover {
	cursor:pointer;
}


div.jp-audio .jp-interface .jp-volume-bar, div.jp-audio-stream .jp-interface .jp-volume-bar {
	top:10px;
	left:0;
}


div.jp-audio-stream .jp-interface .jp-volume-bar {
	width:97px;
	border-right:1px solid #180920;
	padding-right:1px;
}


div.jp-video .jp-volume-bar {
	top:0;
	left:0;
	width:95px;
	border-right:1px solid #180920;
	padding-right:1px;
	margin-top:30px;
}


.jp-volume-bar-value {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer-ie8.png) 0 -320px repeat-x;
	height:4px;
}


.jp-current-time, .jp-duration {
	width:70px;
	font-size:.5em;
	color:#a8a8a8;
}


.jp-current-time {
	float:left;
}


.jp-duration {
	float:right;
	text-align:right;
}


.jp-video .jp-current-time {
	padding-left:20px;
}


.jp-video .jp-duration {
	padding-right:20px;
}


.jp-playlist {
	width:241px;
	margin-left:-20px;
}


.jp-playlist .scroll_this {
	height:180px;
}


.jp-title ul, .jp-playlist ul {
	list-style-type:none;
	font-size:8.5pt;
	margin-top:5px;
	padding-left:25px;
	padding-right:25px;
	font-weight:lighter;
	font-style:normal;
}


.jp-video .jp-title ul {
	margin:0 20px 10px;
}


.jp-video .jp-playlist ul {
	margin:0 20px;
}


.jp-title li, .jp-playlist li {
	position:relative;
	padding:2px 0;
}


.jp-title li {
	border-bottom:none;
	border-top:none;
	text-align:center;
	padding:0;
}


div.jp-type-playlist div.jp-playlist li:first-child {
	border-top:none;
	padding-top:3px;
}


div.jp-type-playlist div.jp-playlist li:last-child {
	border-bottom:none;
	padding-bottom:3px;
}


div.jp-type-playlist div.jp-playlist a {
	color:#fff;
	text-decoration:none;
}


.jp-playlist-current {
	position:relative;
	z-index:998;
}


div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
	background-color:#444;
	border-top:1px solid #444;
	border-bottom:1px solid #444;
	margin:0 -20px;
	padding:2px 20px;
}


div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
	float:right;
	display:inline;
	text-align:right;
	margin-left:10px;
	font-weight:700;
	color:#a8a8a8;
}


div.jp-type-playlist div.jp-playlist span.jp-free-media {
	float:right;
	display:inline;
	text-align:right;
	color:#a8a8a8;
}


div.jp-type-playlist div.jp-playlist span.jp-free-media a {
	color:#a8a8a8;
}


span.jp-artist {
	font-size:.8em;
	color:#a8a8a8;
}


div.jp-video div.jp-video-play {
	width:100%;
	overflow:hidden;
	cursor:pointer;
}


div.jp-video-270p div.jp-video-play {
	margin-top:-270px;
	height:270px;
}


div.jp-video-360p div.jp-video-play {
	margin-top:-360px;
	height:360px;
}


div.jp-video-full div.jp-video-play {
	height:100%;
}


a.jp-video-play-icon {
	position:relative;
	display:block;
	width:112px;
	height:100px;
	margin-left:-56px;
	margin-top:-50px;
	left:50%;
	top:50%;
	background:url(../../../../image/jplayer/skin/flat.black/jplayer.pink.flag.video.play.png) 0 0 no-repeat;
	text-indent:-9999px;
}


div.jp-video-play:hover a.jp-video-play-icon {
	background:url(../../../../image/jplayer/skin/flat.black/jplayer.pink.flag.video.play.png) 0 -100px no-repeat;
}


div.jp-jplayer audio, div.jp-jplayer {
	width:0;
	height:0;
}


div.jp-jplayer {
	background-color:#000;
}


.jp-no-solution {
	font-size:.8em;
	background-color:#323232;
	border-top:2px solid #554461;
	border-left:2px solid #554461;
	border-right:2px solid #180a1f;
	border-bottom:2px solid #180a1f;
	color:#FFF;
	display:none;
	padding:5px;
}


.jp-no-solution a {
	color:#FFF;
}


.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:700;
}


div.jp-type-playlist div.jp-playlist a:hover, div.jp-type-playlist div.jp-playlist li.jp-playlist-current a, div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover, div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover {
	color:#fff;
}

