	.sec-news-titles {
			border-bottom: 1px solid #333;
	}
	
	.sec-news-titles .main_topics {
		float: left;
		width: 300px;
		margin-left: 10px;
               margin-top: 20px;
	}
	
	.sec-news-titles .main_topics a {
		color: #333!important;
	}

	.sec-news-titles .main_topics h2 {
		font-size: 16px;
		font-weight: normal;
	}
	
	.sec-news-titles .main_topics img {
		margin-bottom: 10px;
	}
		
	#more_main_topics, #more_main_topics2 {
		list-style: none;
		margin: 0;
		margin-bottom: 30px;
		padding: 0;
		text-align: left;
		font-size: 12px;
		float: left;
		margin-left: 5px;
	}
	
	#more_main_topics a, #more_main_topics2 a {
		color: #333!important;
	}

	#more_main_topics h2, #more_main_topics2 h2 {
		font-size: 13px;
	}
	
	#more_main_topics li, #more_main_topics2 li {
border-left: 1px dotted #808080;
		width: 140px;
		padding: 0 10px 0 10px;
		float: left;
		padding-left: 9px;
		
	}

	#more_main_topics li:first-child, #more_main_topics2 li:first-child {
		padding-left: 10px;
		border-left: 0;
	}