@charset "utf-8";
/* CSS Document */

.new2_new_mainbox {
    float: left;
    font-family: Tahoma,sans-serif;
    margin: 20px;
    width: 930px;
	border-bottom: 1px dotted #636363;
}


.new2_new_mainbox .new_new_mainbox_header2 {
    background-attachment: scroll;
    background-color: #F5F5F5;
    background-position: left bottom;
    background-repeat: repeat-x;
    border: 1px solid #EBEBEB;
    float: left;
    padding: 8px;
    width: 912px;
	float:left;
	text-align:left;
	display:block;
}


.new2_new_mainbox .new_new_mainbox_header2 h2 {
    float: left;
    margin: 0 0 4px;
    padding: 0;
	text-decoration:none;
}


.new2_new_mainbox .new_new_mainbox_header2 h2 a {
    color: #444444;
    font-size: 15px;
    outline: medium none;
    text-decoration: none;
}


.new2_new_mainbox .new_new_mainbox_header2 span {
    float: right;
    font-size: 10px;
}

a {
    color: #333333;
    outline: medium none;
    text-decoration: none;
	cursor: pointer;
}





.new2_new_mainbox ul {
    list-style: none outside none;
    padding: 0;
	float:left;
	margin: 20px 0 5px; 0;
	display:block;
	width: 930px;
}


.new2_new_mainbox ul li {
    float: left;
    font-size: 12px;
    padding: 0px;
	margin-right: 20px;
    width: 460px;
}
li {
    display: list-item;
}


.new2_new_mainbox_posts a {
    font-weight: bold;
}
a {
    color: #333333;
    outline: medium none;
    text-decoration: none;
}

.new2_new_mainbox ul li .date {
    float: left;
    font-size: 12px;
    margin: 10px 0 10px 0;
    color: #444444;
	width: 100%;
}




.new2_new_mainbox ul li h3 {
    clear: both;
    font-size: 14px;
    color: #FF3300;
    padding: 0;
	width:100%;
	margin: 10px 0 10px 0;
	display:block;
}

.new2_new_mainbox ul li p {
    font-size: 12px;
    height: 40px;
    margin: 0 !important;
    overflow: hidden;
    display: block;
    margin: 1em 0;
}

.new2_new_mainbox ul li .more {
    color: #F73001;
    font-size: 12px;
    font-weight: bold;
	margin-top: 5px;
	display:block;
	width: 100%;
}




.new2_new_mainbox .new2_new_mainbox_posts .small_posts {
	display: block;
	float: left;
	width: 190px;
	height: 310px;
	margin-bottom: 10px;
	margin-right: 15px;
	margin-left: 15px;
}
.new2_new_mainbox .new2_new_mainbox_posts .small_posts p {
	 font-size: 12px;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    display: block;
    margin: 1em 0;
}
}
