#local_articles {
     display:block;
      float:left;
      width: 600px;
       
}
.news_arts {
  
    border-top:1px solid #efefef;
      
}
.news_arts  .date{
    
      color: #d20b0b;
      font:  9px tahoma, arial, sans-serif;
      margin:10px 0 0 10px;
      width: 120px;
}
.news_arts  .title{
      text-decoration: none ;
       color: #464646;
      font: normal 16px tahoma, arial, sans-serif;
     margin: 0 0 10px 10px;
}

#local_news {
      display:block;
      float:left;
      margin-left:20px;
      width: 598px;
      border-top:1px solid #c0c0c0;
      border-left:1px solid #c0c0c0;
      border-right:1px solid #c0c0c0;
      border-bottom:2px solid #919191;
}
#region_name {

     float: left;
     clear: both;
     margin: 20px 0 0 10px;
     font: bold 17px tahoma, arial, sans-serif;
     width: 220px;
}
#region_weather {

     float: left;
     margin: 20px 0 0 120px;
     width: 246px;
     font:  17px tahoma, arial, sans-serif;
     color: #000000;
}
#region_weather .temp{
     font:bold  17px tahoma, arial, sans-serif;
     color: #000000;
}
#local_news_menu {
   
      float: left;

}

#local_news_menu a {
	color: #000000;
	text-decoration: none;
}

#local_news_menu .main_ul {
   
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
	width:216px;

}

#local_news_menu ul li {
         background: url(/templates/default/local_news_map/local_arrow.png) no-repeat scroll left center transparent;
	font:  14px tahoma, arial, sans-serif;
        color: #FFFFFF;
       font-size: 16px;
	height:24px;
	position: relative;
	float:left;
	width:100%;
	}
	
#local_news_menu ul li ul li{
        background: none;
        font:  14px arial, helvetica, sans-serif;
        color: #FFFFFF;
       font-size: 16px;
       width: 140px;
	}

#local_news_menu ul li a{
	display:block;
	padding: 6px 3px 0 12px;
        height: 24px;
	}

#local_news_menu ul li a:hover {
        background: url(/templates/default/local_news_map/bg_li_a.png) repeat scroll left center transparent;
	color: #FFFFFF;
	
}

#local_news_menu ul li ul li a:hover{

 background: url(/templates/default/local_news_map/bg_li_a.png) repeat scroll left center transparent;

}

#local_news_menu ul ul {
        background: url(/templates/default/local_news_map/bg_ul_a.png) repeat;
	position: absolute;
	top: 0;
	display:none;
        list-style: none;
	margin: 0;
	padding: 0;
	width:380px;
}

#local_news_menu ul li:hover ul{
	display: block;
	left:216px;
}