/*!
 * SlickNav Responsive Mobile Menu v1.0.6
 * (c) 2015 Josh Cope
 * licensed under MIT
 */
.slicknav_btn {
  position: relative;
  display: block;
  vertical-align: middle;
  float: right;
  padding: 0.438em 0.625em 0.438em 0.625em;
  line-height: 1.125em;
  cursor: pointer; }
  .slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
    margin-top: 0.188em; }

.slicknav_menu {
  *zoom: 1; }
  .slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left; }
  .slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em; }
    .slicknav_menu .slicknav_icon:before {
      background: transparent;
      width: 1.125em;
      height: 0.875em;
      display: block;
      content: "";
      position: absolute; }
  .slicknav_menu .slicknav_no-text {
    margin: 0; }
  .slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
  .slicknav_menu:before {
    content: " ";
    display: table; }
  .slicknav_menu:after {
    content: " ";
    display: table;
    clear: both; }

.slicknav_nav {
  clear: both; }
  .slicknav_nav ul {
    display: block; }
  .slicknav_nav li {
    display: block; }
  .slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em; }
  .slicknav_nav .slicknav_item {
    cursor: pointer; }
    .slicknav_nav .slicknav_item a {
      display: inline; }
  .slicknav_nav .slicknav_row {
    display: block; }
  .slicknav_nav a {
    display: block; }
  .slicknav_nav .slicknav_parent-link a {
    display: inline; }

.slicknav_brand {
  float: left; }

.slicknav_menu {
  font-size: 16px;
  box-sizing: border-box;
  background: #4c4c4c;
  padding: 5px; }
  .slicknav_menu * {
    box-sizing: border-box; }
  .slicknav_menu .slicknav_menutxt {
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px #000; }
  .slicknav_menu .slicknav_icon-bar {
    background-color: #fff; }

.slicknav_btn {
  margin: 5px 5px 6px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222; }

.slicknav_nav {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  list-style: none;
  overflow: hidden; }
  .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 20px; }
  .slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px; }
    .slicknav_nav .slicknav_row:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #fff; }
  .slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff; }
    .slicknav_nav a:hover {
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #ccc;
      color: #222; }
  .slicknav_nav .slicknav_txtnode {
    margin-left: 15px; }
  .slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0; }
  .slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0; }

.slicknav_brand {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 7px 12px;
  height: 44px; }

/************* END OF MENU.CSS ***********************/
  
/* styles for desktop */
.slicknav_menu {
	display:none;
}

/*
@media 
only screen and (max-width: 771px), 
only screen and (max-device-width : 1038px)  {
*/

/* 
body { display:none !important; }
*/

/* styles for mobile */
@media (max-device-width : 965px) {
	/* #menu is the original menu */
	#navigation {
		display:none;
	}

	.slicknav_menu {
		display:block;
		background: #C32701;
	}
	
	.slicknav_nav a:hover {
      color: #000 !important; 
	  background: #fff !important;
	}
	
	#top_ticker_wrapper #top_ticker_container {
    width: 100%;
	}
	
	#top_ticker_wrapper #top_ticker_container span {
    width: 100%;
    text-align: center;
}
#top_ticker_wrapper #weather img {
    float: initial;
	}
	#weather span {
    float: left !important;
    width: 100px !important;
}
#top_ticker_wrapper #top_ticker_container, #top_ticker_wrapper #hot_title { padding-left: 0 !important;padding-right: 0 !important; }

.wrapper {
    width: 100%;
}
#header, #header #logo, #ticker {
width: 100%;
    margin-left: 0px !important;
	margin-right: 0px !important;
    padding-left: 0px !important;
	padding-right:0px !important;
	
}	
#header #logo #logobox {
margin: -3px 0 0 0 !important;
/*display:none;*/
}
	
	#header #logo {
    width: 100%;
	height: 53px;
	    background: #fff;
		padding-top: 9px;
	}
	
	#socialboxtop {     top: 2px !important; }

#secondary_nav {
    line-height: 1.5;
    padding: 3px 7px 3px 7px;
	display: inline-table;
	text-align: center;
}	
#nav {
    padding-top: 0px;
	    height: auto;
}

#header #logo #logobox a {
margin-left: 19px;
}

#ticker {
    width: 100% !important;
	    overflow: hidden;
		height: 60px !important;
		background: url(http://www.newsit.gr/templates/default/images/2012/opt/new_ticker_corner4.jpg) no-repeat 103% 29px !important;
		background-color: #222222 !important;
	}
	
	
.koukouroukou1 {
       width: 100% !important;overflow:hidden;
}
.koukouroukou1 span a {
padding-left:7px; height:60px;
}
.koukouroukou1 span {
    display: flex;
}
#cse-search-box { display:none; }
	
	
	
	.main-container {
    overflow: hidden;
	margin-top: -25px;
}
	#test { display:none; }
	#main { width: 100%;
    padding: 0; }
	
	#category_New {
	    padding: 10px 0px 10px 0px;
    overflow: hidden;
}
	#content { overflow:hidden; }
	#content , #content div, #col_1_00_WIDE div{ width:100% !important; margin:0;padding:0;}
	#content,#SelectContainer img  { max-width: 100%; margin:0;padding:0;}
	.title_story {width:100% !important;}

    /*.shareaholic-share-buttons:first-of-type {     width: 200px;     margin: 0 auto !important; }*/
	#col_1_00_WIDE { text-align: center;padding: 0 0 8px 0 !important; }
	 
	
	#intext_content_tag {
	    width: 95% !important;
    margin: 0 auto !important;
	}

#footer-new div.side-column { text-align: center; }
	
#adjust-text div table, #footer-new, #footer-new div,#category_New,#path_spons {
    width: 100% !important;
}	
#path_spons .path a { width:auto !important; padding-right: 10px !important; }
	
	.article_list_00 span img { margin: 0 11px 0 11px; }
	.article_list_00 span { font-size: 18px; }
	
	#sidebar, #sidebar div {     width: 100% !important; margin-left: 0px;    padding-left: 0px; text-align:center;}
	#sidebar a,#lastNews_module,#lastNews_module div { text-align:center; float:none!important;}
	
#lastNews_title img {
    margin-top: -25px;
}
#footer-new { overflow:hidden; }

.new_article_00 img {
    display: none;
}

.imageBox_00_b .title h2 {      font: 20px tahoma !important; }

#footer-new p.title {
    margin: 17px 0 10px 0;
    width: 91% !important;
}
#footer-new div.article { margin:0; }

#footer-new span.image.blog2 {
    margin: -30px 19px 0px 0;
}
#footer-new div.article.blog0 .date {
    width: 100% !important;
    text-align: left;
}
#footer-new div.article.blog0 p { width:300px !important; float:none;     max-width: 90%;}
.side-column a img {
    margin: 0px 0px 14px 14px; }

	#footer-new div.menu {
    padding: 0px 0px 0px 0px;
}
	body { background: #C42802; }
	#top_ticker_wrapper { margin-bottom: 1px;     overflow: hidden;}
	
	.slicknav_nav a {
    color: #FFF !important;
    font-size: 17px;
    border: 1px solid #CC5D5D;
    border-top: none;
    border-right: none;
    border-left: none;
	
}
.slicknav_menu .slicknav_menutxt {
    color: #FCF020 !important;
 }
 .slicknav_menu {
    /*background: #C42802 !important;;*/
}

.tabs_box_00 { border:0 !important; }
#footer-new div.copy div.links .left_link00 { padding-top:5px; }
#footer-new div.copy div.links { text-align: center; }
#footer-new .l_right_20 {     text-align: center; }
#footer-new div.copy {          height: auto;  padding-bottom: 17px; }
#footer-new div.copy div.copyright {     text-align: center; }

div#lastNews_all {
    font-size: 18px;
}
#lastNews_module {
    margin-bottom: 7px;
}
/* ARXIKH 11-3-2016 */

#topbanner,#ad7top {
float: left !important;
    position: inherit !important;
    margin-left: 0px!important;
    border-top-style: solid !important;
    border-bottom-style: solid !important;
    border-width: 14px !important;
}

#socialboxtop {
    display:none !important;
}

	#header #logo {
	height: auto !important;
	}
	
	.fb_iframe_widget {
    width: 100% !important;
}
#sponsored_title div {
    display: none;
}
#sponsored_title {
	text-align: center;
    font-size: 17px;
    padding: 10px 0 10px 0;
}

.icon_box_00 span {
	width: 100%;
    display: block;
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    margin: 0 0 4px;
    color: #1A1A1A;
	text-align: center !important;
    font-size: 18px;	
}

#sidebar div div {
    text-align: center;
    margin: 15px 0 15px 0;
}
#lastNews_title img {
    margin-top: 0px !important;
}
.lastNews_content_img a img {
    width: 260px;
    height: auto;
}
.lastNews_content_text {
width: 260px !important;
    height: auto;
    margin: 0 auto;
	font-size: 18px;
}



#act { padding-bottom: 7px; }



div#tabs1 {
    text-align: left !important;
}



.text-00 li {
    margin-bottom: 10px;
}
.tabs_box_00 .tabs_00 a {
    font-size: 15px;
}
.text_00 li a {
    font-size: 15px !important;
}

div#lastNews_all , div#sponsored_title {
    padding: 7px 0 7px 0 !important;
	margin-bottom: 8px !important;
}
div#sponsored_title {
	text-align: left;
    padding-left: 5px !important;
}
#footer-new div.menu a {
    font-size: 13px;
}

#footer-new div.menu {
    padding: 0px 0px 15px 0px;
    text-align: center;
    background: #C42802;
    color: #F7F341;
}

div.menu a {
    font-size: 13px;
	color: #FFFFFF !important;
}

#footer-new div.inner {
background: #D9D9D9;

}

#footer-new fieldset input.text,#footer-new fieldset textarea.area { width: 100%; }
#footer-new fieldset input.clear, #footer-new fieldset input.send { float: none; }

div#shr_canvas7 .shareaholic-share-buttons-container ul.shareaholic-share-buttons {
    width: 100%;
/*	display:none;*/
}
.col_2_00_WIDE .icon_box_00 {
    /*display: none;*/
}

#ts ul li, #ts ul, #ts, #ts ul li a {
    width: 100% !important;
    text-align: center;
}


.cc_banner-wrapper {    display: none;}


#section-top, #section { margin:0 !important; }

#ticker { top: 1px !important; margin: 0 !important; }
.wrapper div {     width: 100%; margin: 0 !important;    padding: 0 !important;}
.wrapper { overflow: hidden; }
#firstStoryDivId.contentbox-left, #anotherStoryDivId.contentbox-left {
    padding: 15px 0 15px 0 !important;
}
.contentbox-left .img-article {     height: auto; }


.contentbox-left .img-article a img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.contentbox-inner {
    padding: 0 0 5px 0 !important;
}
.col-left, .col-right { overflow: hidden;    height: auto; }
.container .contentbox {  height: auto !important;}
#video_box {  margin: 0 auto !important;  padding: 15px 0 15px 0 !important; }

#leftcol, #rightcol {
    width: 310px;
    float: none;
    margin: 0 auto !important;
}
#latestStoriesDivId .articles { float: none; }

.contentbox-left h1, .contentbox-left h1 a, .contentbox-left h2, .contentbox-left h2 a, .contentbox-inner .contentbox-right h2 {     text-align: center; }

#header #logo #logobox {
    margin: 14px auto 0 auto !important;
	float: none !important;
}
#latestStoriesDivId .more {
    /* float: right; */
    width: 250px;
    text-align: center;
    height: 20px;
    margin: 12px auto 0px auto!important;
    /* margin-top: 10px; */
    background-color: #fff;
	    float: none;
}

#section-bottom {     display: inline-table; }

.wrapper div {
    margin: 0 auto !important;
}

.koukouroukou1  {
width:95% !important;
text-align: center;
}


#ticker { background: none !important; }
.contentbox-left .img-article { overflow: initial; text-align: center;}
.koukouroukou1 span a {
    margin: 0 auto !important;
}
.main-container {
    overflow: hidden;
    margin-top: 0px;
}

#main.home {     width: 100%; }

#sec-news, #sec-news .sn-main-title {
    float: none;
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
}
#sec-news { float: left;}
#sec-news .sec-news-titles {
width:100% !important;
}

.sec-news-titles .main_topics {
    float: none;
    width: 260px;
}
.sec-news-titles  { height: auto; }

.sec-news-titles .main_topics img {
    margin-bottom: 10px;
    margin-top: 10px;
}

h2.wn-title {
float: none !important;
    margin-top: 9px;
}
#sec-news .sn-banner {
    width: 100%;
	padding-bottom: 15px !important;
	}

#more_main_topics, #more_main_topics2 {
margin-top: 15px;
margin-left:0px;
}

#more_main_topics li, #more_main_topics2 li {
    padding: 0 10px 0 10px;
    float: left;
    /* padding-left: 9px; */
    width: 100% !important;
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c42802;
    margin: 10px 0 !important;
    height: auto !important;	
	display: inline-table !important;
	
}

#more_main_topics li, #more_main_topics2 li {
    padding: 11px 0px 0px 0 !important;
}
#sec-news #more_main_topics2:first-child li {
        border-bottom: 1px solid #000 !important;
		    border-left: none;
    border-right: none;
}

#more_main_topics li, #more_main_topics2 li p, #more_main_topics li h1, #more_main_topics2 li h1 { padding: 0 6px 0 6px !important;    width: 95%; }

.sec-news-titles { height: auto !important; }


#more_main_topics2 li a img, #more_main_topics li a img {
    width: 170px !important;
    height: auto !important;
}
#sidebar div div {
    margin: 10px 0px !important;
}

.lastNews_content_text a {     font-size: 15px; }

#category_New { margin: 2px 0 !important; }


#secondary_nav {
    padding: 3px 7px 3px 7px !important;
 }
.left {text-align: left;}
.left a {
    color: #E2FF8C !important;
    margin-left: 0px !important;
    /* padding: 3px 0; */
}

.top5trends {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c42802;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-top: none;
}

.top5trends .articles .article_top5trends {
    width: 100% !important;
    float: left;
}

.top5trends .articles .article_top5trends a img {
    border: none;
    width: 260px !important;
    height: auto;
    float: none !important;
    margin-bottom: 10px;
    margin: 10px auto !important;
}

.top5trends_newsit .header_top5 h2 {
font-size: 11px;
    text-align: right;
}

ul#more_main_topics li a, ul#more_main_topics2 li a {
    width: 100% !important;
	font-size: 15px;
}

ul#more_main_topics2 h2, ul#more_main_topics span, ul#more_main_topics2 h2, ul#more_main_topics2 span {
    width: 95% !important;
}

#more_main_topics, #more_main_topics2 { margin: 5px 0px !important; }

div#sma-banner-box {
    display: none;
}


.new2_new_mainbox ul {
    list-style: none outside none;
    padding: 0;
    float: left;
    margin: 20px 0 5px;
    display: block;
    width: 100% !important;
}

.new2_new_mainbox ul li {
    float: left;
    font-size: 12px;
    padding: 0px;
    /* margin-right: 20px; */
    width: 100%;
}

.new2_new_mainbox .new2_new_mainbox_posts .small_posts {
    display: block;
    float: left;
    width: 190px;
    height: 310px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

#mapwrapper, #local_news {
width: 100% !important;
    padding: 0 !important;
    /* float: left; */
    margin: 0 !important;
	}
	
	#local_news_menu .main_ul { margin: 0 auto; }
#local_articles {
min-height: 296px;
    width: 95% !important;
    text-align: left !important;
}
#local_news_menu .main_ul {     margin: 0 auto; width: 100% !important;}
#mapwrapper div {
    float: none !important;
	margin: 15px auto !important;
}
div#sidebar_exclusive_box {
    float: none !important;
    /* width: 100% !important; */
    background: none !important;
}

a.main_box_big_white_title {
    max-height: 98px;
    overflow: hidden;
}

.new2_new_mainbox ul li div img {
    width: 100% !important;
}
li {
}
.new2_new_mainbox ul li div {
    width: 100% !important;
}

.new2_new_mainbox ul li {
    float: left;
    font-size: 12px;
    padding: 0px;
    margin-right: 20px;
    width: 460px;
    width: 100% !important;
}

.top5trends_newsit .header_top5 h2 {
    font-size: 11px !important;
    text-align: right !important;
}

#category_list_wrapper .article_list { text-align:center;     padding: 15px 0 !important;     border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #c42802;}
#category_list_wrapper .article_list a img {
    margin: 0 auto;
    float: none;
}
#category_list_wrapper .article_list .title_article {     display: table;    text-align: center; }
#category_list_wrapper .article_list .title_article h1, #category_list_wrapper .article_list .title_article p {   width: 90%;      margin: 5px auto;    float: none; }

#category_list_wrapper {
margin-top: 21px !important;
}
.video_category_module, .video_category_module_last {
    text-align: center;
    background: #000;
    padding: 10px 0 !important;
}

#writer_opinion_module { text-align:center; }
div#writer_opinion_module img {
    text-align: center;
    margin: 0 auto;
    float: none !important;
}
#newletterBOX {
text-align: center !important;
    margin: 0 auto !important;
    float: none !important;
    position: relative;
}
.right-box-simple {
text-align: center !important;
    float: none !important;
    margin: 0 auto !important;
    position: relative;
    width: 260px!important;
}

.weather_box_00_b, #opinion_box, .sec-news-img { display: none; }

.new2_new_mainbox .new2_new_mainbox_posts .small_posts {     height: auto !important;}
#intext_content_tag img, #intext_content_tag iframe, #intext_content_tag object {
    max-width: 100% !important;
    height: auto !important;
}

#m_nikos_blog {
    float: none !important;
}
#press_box_new_demo { height: 180px;    overflow: hidden;}
	
/* 1/4/16 */
#top_ticker_wrapper, #topbanner, #nav, #ticker, .col-right, .new2_new_mainbox, #lirtsogiannis, #press_box_new_demo,#mapwrapper, .new_article_00, #ad7top, #lastNews_module, #video_category_wrapper,#writer_opinion_module, #newletterBOX { display:none !important; }	
	
.contentbox-inner .contentbox-right h2 {
    margin: 10px 0 10px; 
}	
.top5trends .articles .article_top5trends h3 {float: none; margin: 0px auto; padding: 0px; width: 260px; }	
.top5trends .articles .article_top5trends h3 a { font-size: 13px !important; }
.top5trends .articles { width: 100%; border:none; padding-bottom: 10px !important; }	


ul#more_main_topics li a, ul#more_main_topics2 li a {
    width: 100% !important;
    font-size: 15px;
    padding-left: 0px !important;
}

#more_main_topics h2, #more_main_topics2 h2 {
	width: 230px !important;
    float: none;
    margin: 12px auto;
}

#section-top .wrapper.clearfix {
    margin-top: 5px;
}
.imageBox_00_b .title, .imageBox_00 .title {
text-align: center;
    padding: 7px 0 7px 0 !important;
	max-height: 44px;
	 overflow: hidden;
}
.categoryMain_text_b .txt {
    text-align: center;
	display:none;
}
/* CATEGORY */

.main-container {
    overflow: hidden;
    margin-top: -11px;
}

.blackLine_00 .left, .blackLine_01 {     padding: 3px 0px 5px 4px !important;}

#link_main_article { 
padding: 3px 0px 5px 4px !important;
    bottom: -16px;
}


/* economy */

#logo div div table, #wallstreet, .total_wrapper_economy #companies_module, .total_wrapper_economy #newsIt_ticker, .total_wrapper_economy .sidebar, #usual1_b {
    display: none !important;
}
#header #logo h1 {
    margin: 14px auto 0 auto;
    float: none !important;
}
.total_wrapper_economy

/*.total_wrapper_economy div.category_wrapper div.categoryMain_article_b div.imageBox_00_b a img {*/
.imageBox_00 a img, .imageBox_00_b a img {
    width: 100% !important;
	min-height: 205px !important;
}

.total_wrapper_economy .categoryMain_text_b .txt {
    width: 100% !important; display:none;
}
.imageBox_00 .title { width:100%; }

.total_wrapper_economy .imageBox_00_b .title {
    width: 100% !important;
    max-height: 44px;
	    padding: 7px 0 7px 0 !important;
		 overflow: hidden;
}

#secondo_category_wrapper {
    /* padding-top: 6px !important; */
	    width: 100%;
		padding-bottom: 10px !important;
}
#secondo_category_wrapper .subcategories_headers {
/* margin-bottom: 0px; */

}

.secondary_subcategory_title {    
font-size: 16px;
    line-height: 33px;
}


.secondo_catergory_img {
    text-align: center;
    float: none;
	    display: table;
}
.secondo_catergory_img a img {
    width: 290px;
    height: auto;
}
.secondo_category_modules, .secondo_category_modules_last {
height: auto;
text-align: center;
}
.timedate_secondo_catergory, .secondo_category_text {     float: none; }

.secondo_category_text a {
	font-size: 16px;
    font-weight: bold;
    color: #444444;
    text-decoration: none;
	width:90%;
}
span.timedate_secondo_catergory {
    line-height: 25px;
	font-size: 12px;
}
.secondo_category_text {
    width: 90% !important;
}

/* ATHLITIKA */
#category_sports .imageBox_00 .title p, #super_league,#protathlimata_europe,#europaikes_diorganoseis,#all_videos_spots,.gnomi_panel { display: none; }
#category_sports, #category_sports #sports_menu {    width: 100% !important; }
#category_sports #sports_menu li { float:none;  display:inline; list-style-type:none;}
#category_sports #sports_menu { text-align: center;     float: none;    margin: 5px auto !important; display:none; }
#category_sports .imageBox_00 a img  {     width: 100%; }
#category_sports .imageBox_00 .title  {    padding: 7px 0 7px 0 !important; width: 100% !important;     text-align: center;     max-height: 44px;     overflow: hidden;}
#category_sports .category_list_sports .list_article_left, #category_sports .category_list_sports .list_article_right { height: auto !important;  display: table;    text-align: center; width: 100% !important;    text-align: center; padding-bottom: 23px !important; height: initial;}
#category_sports .category_list_sports .list_article_left h2, #category_sports .category_list_sports .list_article_right h2 {  width: 90%;      margin: 5px auto;    float: none;  }
#category_sports .category_list_sports .list_article_left a img, #category_sports .category_list_sports .list_article_right a img {     width: 290px;    text-align: center;    margin: 0 auto;    float: none; }
#category_sports .category_list_sports { padding-top: 11px !important; }
#category_sports .main_date_cat { border: none; }
#category_sports .sports_right div {   width: 100% !important; }
#category_sports #sports_tv img, #category_sports .sports_right #sports_tv ul, #category_sports .sports_right .sports_banner {  margin: 8px auto 8px auto !important; text-align: center; float: none;   display: table; }
#sports_tv { border:none; }
.header_main_content h1 { text-align: center;    margin: 0 auto;    float: none; }
.sports_main_content .list_article_left, .sports_main_content .list_article_right { padding: 15px 0 15px 0 !important; width: 100% !important;    text-align: center;    margin: 0 auto !important;     border-bottom-width: 5px;    border-bottom-style: solid;    border-bottom-color: #c42802; height: auto !important;  display: table;    text-align: center;  }
.sports_main_content .list_article_left h2, .sports_main_content .list_article_right h2 {   width: 90%;      margin: 5px auto;    float: none;  }
.sports_main_content a, .category_list_sports a { font-size: 16px;    font-weight: bold;    color: #444444; width:100%;}
#category_sports .header_main_content span {display: inherit;    position: absolute;    margin-top: -20px;    right: 0; }

/* LIFESTYLE */

.sponsorBox {
    display: none;
}
div#primo_category_wrapper2 {
    width: 100% !important;
    margin-top: -11px !important;
}
div#primo_category_wrapper {
    margin-top: 2px !important;
}

div#primo_category_wrapper2, div#primo_category_wrapper {
    width: 100% !important;
}
.primo_category_img { 
    text-align: center;
}

.primo_category_text {
    width: 100% !important;
    text-align: center;
}

.primo_category_text a {
    width: 90% !important;
    margin: 0 auto !important;
}
.primo_category_modules {
    height: auto !important;
}

span.timedate_primo_catergory {
    word-wrap: break-word;
    width: 58px;
}


.cat_box .txt {
    width: 100% !important;
    text-align: center;
    margin: 0 auto !important;
    height: auto !important;
	min-height: inherit !important;
	margin-top: 10px !important;
}

a.moreBlack {
    width: 100% !important;
}

.cat_box .txt a {
    width: 90% !important;
    margin: 0 auto !important;
    padding: 5px 0 !important;
    float: none !important;
	font-size: 14px !important;
}

.cat_box {
    text-align: center;
	width: 100% !important;
	float:none !important;
}

.cat_box .txt .timeDate {
	text-align: center !important;
    float: none;
}

.cat_box .txt img {
    float: none !important;
    text-align: center;
    margin: 0 auto !important;
	padding: 8px 0px !important;
}

.categoryList {
margin-top: -7px !important;
}

#AjaxCatList2 #secondo_category_wrapper .subcategories_headers {     padding: 13px 0 !important; }

/* #section .main-container .wrapper #main a {    margin: 0 !important;    padding: 0 !important;     text-align: center;     width: 100%;} */
/*#section .main-container .wrapper #main a img { width: 100%;     height: auto !important;     } */

.sports_main_content a img, .article_list a img, .list_article_right a img,  .list_article_left a img, .secondo_catergory_img a img {
    max-width: 260px !important;
    height: auto;
}


#car_wrapper #car_buy #car_sales_header, #car_wrapper #test_drive { display:none; }

span.sub_automoto_title {
margin: 5px 0;
    padding: 4px 0;
    width: 100%;
    text-align: center;
}

#car_wrapper {
width: 100% !important;
    display: inline-table;
}
.test_drive_thumbs { text-align: center; display: inline-table;}
.test_drive_thumbs a img { width:140px; height:auto; }
.car_sales_body { display: inline-table;     text-align: center;  text-align: center;    padding: 15px 0 !important;    border-bottom-width: 5px;    border-bottom-style: solid;    border-bottom-color: #c42802;  }
.test_drve_review_black, .test_drve_title_black { width: 95%;    padding: 0;    margin: 8px 0;     width: 95%;    padding: 0;    margin: 4px auto;    float: none;    display: inline-table; }
.test_drve_title_black { margin-top: 6px; }
.test_drve_review_black {        margin-bottom: 15px; }
.test_drve_title_black a {    text-decoration: none;    color: #3f3f3f;    font-size: 16px;    font-weight: bold;    color: #444444;}
.test_drve_review_black a {    color: #3f3f3f;    text-decoration: none;    font-family: Tahoma, Geneva, sans-serif;    font-size: 14px;    font-weight: normal; }
.newsBox_00	.image {
    /* width: 260px !important; */
    float: left;
    width: 144px;
    height: 81px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    display: inline-table;
}
.newsBox_00	.image img {width:140px;}
.newsBox_00 {
    display: inline-table;
	    height: auto !important;
	border: none;
    background: none;	
}
.newsBox_00 .linkList {display:none;}
.newsBox_00 .txt {
    background: none;
    color: #000;
    overflow: hidden;
        width: 100% !important;
    text-align: center;
	display: inline-table;
	    float: none;
		height: auto;
		text-align: center;
    padding: 15px 0 !important;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #c42802;
	line-height: 21px;
}
.newsBox_00 .txt a {
    color: #000;
    text-decoration: none;
    color: #3f3f3f;
    font-size: 16px;
    font-weight: bold;
    color: #444444;
	    width: 95%;
}
.bigNews_box h2 {
    margin: 5px auto;
    text-align: center;
}

.news_pages_00 a.prev, .news_pages_00 a.next {
    width: 37px !important;
    height: 37px !important;
    background-color: #000 !important;
    background-size: contain !important;
}
.news_pages_00 a.next {
    background-position-x: 6px;
    margin-left: 1px;
}
.news_pages_00 a.prev {
    background-position-x: 2px;
}

.m_nikos_blog_hmerominia
{
    width: 62px !important;
    padding: 31px 27px 0 0 !important;
}

#adjust-text ul li a {
    display: inherit;
	margin-bottom: 8px;
}

div#beforetags {
    margin: 16px 0 !important;
}

#gboxunder {
margin-top: 12px !important;
display: inline-table !important;
}

#category_sports .header, #category_sports .header img { 
width: 100% !important;
height: auto !important;
}

#category_sports .header img { 
    margin: 5px 0 2px 0 !important;
}

div#section.container div#section-bottom div.wrapper div.col-right {
    display: inherit;
}

div#main.home div#sec-news div ul#more_main_topics:not(:first-of-type) li , div#main.home div#sec-news div ul#more_main_topics2:not(:first-of-type) li { background:none !important; }
div#main.home div#sec-news div ul#more_main_topics:not(:first-of-type) li h2 a img, div#main.home div#sec-news div ul#more_main_topics2:not(:first-of-type) li h2 a img, div#main.home div#sec-news div ul#more_main_topics li p a img, div#main.home div#sec-news div ul#more_main_topics2 li p a img {
    max-width: 80px;
    margin-top: 10px;
}	
div#main.home div#sec-news div ul#more_main_topics2:not(:first-of-type) li h2 {
    width: 230px !important;
    float: none !important;
}
div#main.home div#sec-news div ul#more_main_topics:not(:first-of-type) li h2 a, div#main.home div#sec-news div ul#more_main_topics2:not(:first-of-type) li h2 a {
    font-size: 12px !important;
}
div#main.home div#sec-news div ul#more_main_topics:not(:first-of-type) li a img, div#main.home div#sec-news div ul#more_main_topics2:not(:first-of-type) li a img {
    max-width: 140px;
}

#sec-news .sec-news-titles {
    text-align: center;
}
.sec-news-titles .main_topics {
    display: inline-table;
}
.news_list_00 {  display: inline-table !important; }

.eng_top_ww_widget { display:none !important; }

div#firstStoryDivId .img-article a img {
    min-height: 170px;
}

.total_wrapper_economy .secondo_catergory_img a img {
    max-width: 140px !important;
}


.shareaholic-share-buttons-container li.shareaholic-share-button .share-button-verb { background:none; }

.secondo_catergory_img a img { max-width: 140px !important; }


.big_list_article ul li {
    width: 100%;
    text-align: center;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #c42802;
    margin-bottom: 12px;
}

.big_list_article ul li img { float:none; }
.big_list_article ul li p a { float: none !important; font-weight: 600; display: block;     margin-top: 5px;}

.big_list_article ul li p {
    margin: 10px 0 5px 0;
	padding: 0 5px;
}
.big_list_article ul li h3 a { padding: 0 5px; }

.big_list_article div, .big_list_article div div {
    text-align: center;
}

	.artpre {
		border-bottom-width: 5px;
		border-bottom-style: solid;
		border-bottom-color: #c42802;
	}
	.artpre span {
		display: table;
		float: none !important;
		text-align: center;
		width: 100%;
		margin-top: 0px;
	}

	.artpre a img { 
			float: none !important;
	}
	h1.cat-large {    text-align: center;     font-weight: 800; }
	.artpre p, .big_list_article .artbox .artpre h3 {
		width: 96%;
		margin: 0 auto !important;
	}
	.paging-numbers a, .paging-right a, .paging-numbers span {
		font-size: 16px;letter-spacing: 2px;
	}

}

@media (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}
