#m_nikos_blog {

	float: left;

	height: 200px;

	width: 300px;

	background-image: url(/templates/default/images/2012/opt/m_background_blog_nikou.jpg);

}

.m_nikos_blog_time {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bolder;

	color: #FFF;

	text-align: center;

}



.m_nikos_blog_hmerominia {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-weight: bolder;

	color: #25e7ff;

	width: 56px;

	height: 30px;

	float: right;

	margin-top: 25px;

	margin-right: 30px;

	text-align: center;

}

.m_nikos_blog_plhres_apopsh a {

	height: 20px;

	width: 90px;

	float: left;

	margin-top: 15px;

	margin-left: 40px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	font-weight: bolder;

	color: #FFF;

}

.m_nikblog_text a{

	float: left;

	height: 40px;

	width: 170px;

	margin-top: 55px;

	margin-bottom: 15px;

	margin-left: 40px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #FFF;

}