@charset "utf-8";
/* CSS Document */

#opinion_box {
	height: 130px;
	width: 930px;
	background-image: url(opinion_background.png);
	background-repeat: no-repeat;
	float: left;
}
#opinion_box #header {
	float: left;
	height: 20px;
	width: 924px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FFF;
	text-decoration: none;
	margin-bottom: 5px;
	padding-left: 6px;
}
#opinion_box .articles {
	float: left;
	width: 930px;
	margin-right: 0px;
	margin-left: 0px;
	height: 80px;
	margin-bottom: 5px;
	padding: 0px;
	margin-top: 0px;
}
#opinion_box .articles li a {
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#opinion_box .articles li a img {
	float: left;
	height: 80px;
	width: 110px;
	margin-right: 10px;
}
#opinion_box .articles li .h_opinion_author {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	color: #333333;
	border-bottom: 1px dotted #cfcfcf;
	color: grey;
	display: block;
	float: left;
	padding-bottom: 2px;
}
#opinion_box .more {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	float: right;
	height: 15px;
	width: 100px;
	margin-right: 6px;
	margin-bottom: 3px;
	padding: 0px;
	margin-top: 2px;
}


#opinion_box .articles li {
	list-style-type: none;
	float: left;
	height: 80px;
	width: 290px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
}
#opinion_box .articles li h2 {
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-decoration: none;
	width: 160px;
	padding: 0px;
	margin-top: 5px;
	height: 50px;
}
#opinion_box .articles li h2 a {
	color: #333;
	text-decoration: none;
}
