@charset "utf-8";
.interactive_element:hover {
	opacity: 0.5;
}

/* Custom Search */
.boxHead_TopBar{ font-family:Tahoma; width:475px; height:72px; position:relative; background-image:url('http://85.25.43.140/fly2/fly/front_gui/live_banners/newsit-top/imgs/banner-background.png'); }
