@charset "utf-8";
/* CSS Document */


.top5trends {
	width: 100%;
	float: left;
	margin: 0px 0px 20px 0px;
	
}

.top5trends_newsit {
	width: 100%;
	float: left;
}

.top5trends_newsit .header_top5 {
	float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  display: block;
    height: auto;
 background: none;

}


.top5trends_newsit .header_top5 .top5title {
  	display: block;
    float: left;
    left: 20px;
    position: relative;
   top: 35px;
    width: 120px;
    z-index: 1000;
    display: block;
    height: auto;

}
.top5trends_newsit .header_top5 .top5title img {
	width: 100%;
	float: left;
        background: none;
}





.top5trends_newsit .header_top5 h2 {
	background: #dd2e03 none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}







.top5trends .articles {
	width: 98%;
	/* By Fotis
	outline: 1px solid #dd2e03;
  	outline-offset: -1px;*/
	border: 1px solid #dd2e03;
  	float: left;
  	/* padding: 1%; */
	padding: 9px;
  	background-color: #fff;
}

.top5trends .articles .article_top5trends {
	width: 18%;
	float: left;
	margin: 1%;
}
.top5trends .articles .article_top5trends  a img {
	border: none;
	width: 100%;
	float: left;
	margin-bottom: 10px;

}
.top5trends .articles .article_top5trends  h3 a {
	font-size: 12px;
	font-weight: normal;
	font-family: arial;
	color: #000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	line-height: 16px;
}

.top5trends .articles .article_top5trends  h3 {
	float: left;
	margin: 0px;
	padding: 0px;
}


