@charset "UTF-8";
/**
 * 
 * @authors zhou
 * @date    2014-11-17 10:37:57
 */
#footer{clear:both;background-color:#3c3c3c;color:#c2c2c2;line-height:22px;padding-bottom:20px; font-size:12px;}
#footer a{color:#c2c2c2;}
#footer a:hover{color:#fff;text-decoration:none;}
#footer .ft-content{width:1000px;margin:0 auto;}
#footer .ft-info{padding:30px 8px 40px 8px;border-bottom:1px solid #575a5b;}
#footer .ft-info-col{float:left;display:inline;}
#footer .ft-info dt{height:30px;font-size:14px;overflow:hidden;}
#footer .ft-info-intro{width:200px;margin-right:68px;}
#footer .ft-info-intro strong{color:#ff9d00;font-weight:normal;}
#footer .ft-info-about{width:128px;margin-right:85px;}
#footer .ft-info-service{width:135px;margin-right:80px;}
#footer .ft-info-service dt{text-align:center;}
#footer .ft-info-service dd{width:100%;overflow:hidden;}
#footer .ft-info-service ul{margin-right:-35px;}
#footer .ft-info-service li{float:left;width:85px;}
#footer .ft-info-qrcode{float:right;padding-top:22px;line-height:1.4em;}
#footer .ft-info-qrcode dd{width:100px;display:inline;margin-left:30px;float:right;text-align:center;}
#footer .ft-info-qrcode span{display:block;height:90px;margin:0 0 8px 6px;}
#footer .ft-qrcode-weixin{background:url(/images/footer/qr_mfw4.gif) no-repeat; }
#footer .ft-qrcode-tejia{background:url(/images/footer/qr_tejia4.png) no-repeat;}
#footer .ft-info-social{clear:both;text-align:center;padding-top:25px;}
#footer .ft-info-social dt{font-size:16px;}
#footer .ft-info-social dd{padding:5px 0;}
#footer .ft-info-social dd a{display:inline-block;margin:0 6px;}
#footer .ft-social-icon{display:inline-block;width:28px;height:28px;background:url(/images/mfw-footer-sprite5.png) no-repeat 0 0;overflow:hidden;}
#footer .ft-social-qqt .ft-social-icon{background-position:-30px 0;}
#footer .ft-social-qzone .ft-social-icon{background-position:-60px 0;}
#footer .ft-links{margin-top:-1px;border-top:1px solid #575a5b;border-bottom:1px solid #575a5b;padding:17px 0 17px 8px;}
#footer .ft-links a{display:inline-block;margin-right:12px;}
#footer .ft-copyright{padding:12px 0;margin-top:-1px;border-top:1px solid #575a5b;}
#footer .ft-mfw-logo{float:left;margin:2px 20px 0 0;width:136px;height:39px;background:url(/images/mfw-footer-sprite5.png) no-repeat 0 -30px;overflow:hidden;}
#footer .ft-safety{float:right;padding:5px 8px 0 0;}
#footer .ft-safety a{float:left;margin-left:10px;width:90px;height:30px;background:url(/images/mfw-footer-sprite5.png) no-repeat 0 -70px;overflow:hidden;}
#footer .ft-safety .s-b{background-position:0 -110px;}
#footer .ft-safety .s-c{background-position:0 -150px;}

.foot-elephant{ position:fixed; bottom:-30px; left:50%; width:72px; height:30px; margin-left:-36px; opacity:0; -webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out; z-index:90;}
.foot-elephant.flip{ opacity:1; height:36px; bottom:-6px; -webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.foot-elephant.flip:hover{ bottom:0px; -webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.foot-elephant.fade-out{ opacity:.5; -webkit-transition:opacity 0.5s ease-in-out;transition:opacity 0.5s ease-in-out;}
.foot-elephant a{width:72px; height:36px; display:block; background:url(/images/footer/elephant.png) 2px 0 no-repeat;}
.foot-elephant a:hover{ height:36px; background-position:-70px 0;}
.foot-elephant a i{ width:7px; height:10px; background:url(/images/footer/elephant.png) -78px -40px no-repeat; position:absolute; top:-5px; left:1px; display:none;}
.foot-elephant a:hover i.i1{ -webkit-animation:elephant .8s infinite ease-in-out; -moz-animation:elephant .8s infinite ease-in-out; animation:elephant .8s infinite ease-in-out;}
.foot-elephant a:hover i.i2{ -webkit-animation:elephant2 .8s infinite ease-in-out; -moz-animation:elephant2 .8s infinite ease-in-out; animation:elephant2 .8s infinite ease-in-out;}
.foot-elephant a:hover i{ display:block;}

@-webkit-keyframes elephant{
    0% {
        top:-5px;
        left:1px;
        opacity:1;
    }
    80% {
        transform:rotate(80deg);
        top:-35px;
        left:15px;
        opacity:0;
    }
    100% {
        transform:rotate(80deg);
        top:-20px;
        left:10px;
        opacity:0;
    }

}
@-webkit-keyframes elephant2{
    0% {
        top:-5px;
        left:1px;
        opacity:1;
    }
    80% {
        transform:rotate(-80deg);
        top:-35px;
        left:-15px;
        opacity:0;
    }
    100% {
        transform:rotate(-80deg);
        top:-30px;
        left:-10px;
        opacity:0;
    }
}
@keyframes elephant{
    0% {
        top:-5px;
        left:1px;
        opacity:1;
    }
    80% {
        transform:rotate(80deg);
        top:-35px;
        left:15px;
        opacity:0;
    }
    100% {
        transform:rotate(80deg);
        top:-20px;
        left:10px;
        opacity:0;
    }

}
@keyframes elephant2{
    0% {
        top:-5px;
        left:1px;
        opacity:1;
    }
    80% {
        transform:rotate(-80deg);
        top:-35px;
        left:-15px;
        opacity:0;
    }
    100% {
        transform:rotate(-80deg);
        top:-30px;
        left:-10px;
        opacity:0;
    }
}

/* retina css */
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2){
    #footer .ft-mfw-logo{background:url(/images/mfw-footer-sprite@2x.png) no-repeat 0 -30px;background-size:150px;}
}
