@charset "UTF-8";
/* { COMMON */
* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-font-smoothing: antialiased;
}
body {
	width: 260px;
	height: 260px;
}
img {
	border-style: none;
	image-rendering: crisp-edges;
	position: absolute;
	left: 0px;
	top: 0px;
}
#mainContent {
	position: absolute;
	width: inherit;
	height: inherit;
	overflow: hidden;
	cursor: pointer;
	opacity: 0;
}
/* COMMON }*/

/* { LOGO */
#static {
	position: absolute;
	top: 0px;
	left: 0px;
}
/* LOGO } */

/* { CTA */
#cta {
	position: absolute;
	bottom: 4px;
    right: 4px;
    opacity: 0;    
}
/* CTA } */


/* { ANIMATION */
.frame {
	position: absolute;
}

#F2Image,
#logo,
#cta {
	opacity: 0;
}
#F3Image {
	top: -220px;
	opacity: 0;
	left:-90px;
	transform-origin: 0% 100% 0px;
}

#F2Image {
	top: -50px;
	left:-175px;
}
#F1IconP4 {
	top: 230px;
	left:52px;
	opacity: 0;
}


#F2IconP1,
#F2IconP2,
#F2IconP3,
#F3IconP1,
#F3IconP2 {
	opacity: 0;    

}
/* ANIMATION } */

/* { CUSTOM */
/* CUSTOM } */
