#ui-id-1 {
	position: relative;
}

ul.nav-splash li a.dt-selected, ul.nav-splash li.sl {
	background: #000;
}

body {
	background: #FFF;
}

.dt-search-h1 h2.page-title {
    font-size: 44px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 1;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.62);
    font-weight: normal;
}

.dt-slot-txt h1 {
	margin-bottom: 30px;
	font-weight: normal;
}

.dt-slot-txt h1 b {
	font-weight: bold;
}