/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.dt-footer-v2 {
  background: #fff;
  width: 100%;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #d5d5d5;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 25px;
  padding-bottom: 30px; }
  .dt-footer-v2 .dt-cnt {
    padding-left: 110px;
    background: url("//thumbs.dreamstime.com/img/splash2016/logo-f.png") no-repeat top left;
    width: 1170px;
    margin: 0 auto; }
  .dt-footer-v2 .dt-footer-left {
    width: 70%;
    float: left; }
    .dt-footer-v2 .dt-footer-left ul {
      padding: 0;
      width: 25%;
      display: block;
      float: left; }
      .dt-footer-v2 .dt-footer-left ul li {
        position: relative; }
        .dt-footer-v2 .dt-footer-left ul li a {
          font-size: 12px;
          line-height: 18px;
          color: #757575;
          text-decoration: none; }
          .dt-footer-v2 .dt-footer-left ul li a:hover {
            color: #256ee6; }
        .dt-footer-v2 .dt-footer-left ul li.dt-label {
          padding-bottom: 5px;
          font-size: 16px;
          color: #222222;
          font-weight: 600; }
  .dt-footer-v2 .dt-footer-right {
    width: 30%;
    float: right; }
    .dt-footer-v2 .dt-footer-right ul {
      float: right; }
      .dt-footer-v2 .dt-footer-right ul li {
        position: relative; }
        .dt-footer-v2 .dt-footer-right ul li .dt-socials-footer {
          margin-top: 40px; }
        .dt-footer-v2 .dt-footer-right ul li.dt-label {
          padding-bottom: 5px;
          font-size: 16px;
          color: #222222;
          font-weight: 600; }

.dt-footer-info {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  color: #757575;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 40px;
  background: #fff; }

.dt-box-upload-bc {
  background: #fff;
  padding: 10px 0;
  margin-top: 115px;
  margin-bottom: 70px;
  position: relative; }
  .dt-box-upload-bc .dt-bottom-info {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    height: 120px;
    background: rgba(0, 0, 0, 0.6); }
    .dt-box-upload-bc .dt-bottom-info .dt-right-actions {
      float: right;
      margin-top: 40px; }
      .dt-box-upload-bc .dt-bottom-info .dt-right-actions .dt-upload {
        display: inline-block;
        font-size: 14px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        padding: 12px 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #ffffff !important;
        background: #256ee6;
        margin-right: 20px; }
        .dt-box-upload-bc .dt-bottom-info .dt-right-actions .dt-upload:hover {
          text-decoration: none;
          background: #0057e7; }
      .dt-box-upload-bc .dt-bottom-info .dt-right-actions .dt-buy {
        display: inline-block;
        font-size: 14px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        padding: 12px 20px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #ffffff !important;
        background: #50a800;
        margin-right: 25px; }
        .dt-box-upload-bc .dt-bottom-info .dt-right-actions .dt-buy:hover {
          text-decoration: none;
          background: #479500; }
    .dt-box-upload-bc .dt-bottom-info .dt-level {
      font-size: 14px;
      color: #fff;
      margin-top: 50px;
      margin-left: 10px;
      float: left; }
      .dt-box-upload-bc .dt-bottom-info .dt-level span {
        display: inline-block;
        float: left;
        height: 24px;
        line-height: 24px;
        color: #fff;
        border-right: 1px solid #757575;
        padding-right: 10px;
        margin-right: 10px; }
        .dt-box-upload-bc .dt-bottom-info .dt-level span.dt-last {
          border: none; }
      .dt-box-upload-bc .dt-bottom-info .dt-level a {
        color: #256ee6;
        text-decoration: none; }
        .dt-box-upload-bc .dt-bottom-info .dt-level a:hover {
          color: #3b83f8; }
    .dt-box-upload-bc .dt-bottom-info ul {
      float: left;
      padding-top: 17px;
      margin-left: 20px;
      display: block; }
      .dt-box-upload-bc .dt-bottom-info ul li {
        display: inline-block;
        margin-right: 12px; }
        .dt-box-upload-bc .dt-bottom-info ul li div {
          width: 55px;
          text-align: center;
          color: #a7a7a5;
          font-size: 11px;
          margin-bottom: 9px; }
        .dt-box-upload-bc .dt-bottom-info ul li a {
          float: left;
          height: 55px;
          width: 55px;
          background: #fff;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color: #50a800;
          font-size: 10px;
          text-align: center;
          text-decoration: none; }
          .dt-box-upload-bc .dt-bottom-info ul li a span {
            font-size: 18px;
            display: block;
            margin-top: 12px; }
          .dt-box-upload-bc .dt-bottom-info ul li a.dt-selected, .dt-box-upload-bc .dt-bottom-info ul li a:hover {
            background: #50a800;
            color: #fff; }

html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%; }

body {
  background: #f2f2f2; }

.dt-green {
  color: #50a800 !important; }

.dt-splash-2 {
  position: relative; }
  .dt-splash-2.dt-splash-2-header-fix {
    padding-top: 120px; }
  .dt-splash-2 .dt-header-v2 {
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 100;
    top: 0; }
  .dt-splash-2 .fixed-menu {
    position: relative; }
    .dt-splash-2 .fixed-menu.fixed-menu-top {
      background: #000; }
      .dt-splash-2 .fixed-menu.fixed-menu-top .container-splash {
        width: 100%; }
  .dt-splash-2 .dt-searchundermenu {
    height: 80px;
    background: #313335;
    position: relative; }
  .dt-splash-2 .dt-slider-wrapper {
    position: relative; }

.owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-dots {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

.owl-carousel .item img {
  height: 120px;
  display: block;
  width: 100%; }

.bx-wrapper img {
  position: relative;
  top: 0; }

.header-splash a.logo-dt {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -16px -16px;
  width: 114px;
  height: 23px;
  display: inline-block;
  float: left;
  margin-top: 6px; }

.fixed-menu {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1001;
  height: 40px; }

ul.nav-splash {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  float: left; }
  ul.nav-splash .logo img {
    margin-top: 6px; }

ul.nav-splash li {
  float: left;
  height: 40px; }

ul.nav-splash li a {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  text-decoration: none;
  line-height: 40px;
  display: block;
  position: relative; }
  ul.nav-splash li a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #50a800;
    content: '';
    display: none; }
  ul.nav-splash li a.dt-selected, ul.nav-splash li a:hover {
    background: #181818; }
    ul.nav-splash li a.dt-selected:before, ul.nav-splash li a:hover:before {
      display: block; }

ul.nav-splash li.logo a:hover:before {
  display: none; }

ul.nav-secondary-splash {
  list-style: none;
  float: right;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal; }

.lang {
  float: right;
  height: 40px;
  width: 50px;
  background: #1f1e1e;
  position: relative;
  cursor: pointer; }
  .lang:after {
    position: absolute;
    top: 18px;
    right: 9px;
    background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat 0 -23px;
    width: 5px;
    height: 3px;
    content: ''; }
  .lang:hover {
    background: #000; }
    .lang:hover:after {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -5px -23px; }
  .lang .lang-selected {
    width: 14px;
    height: 11px;
    background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat 0 0;
    margin: 15px 0 0 14px; }
    .lang .lang-selected.lang-selected-en {
      background-position: 0 0; }
    .lang .lang-selected.lang-selected-de {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -14px 0; }
    .lang .lang-selected.lang-selected-es {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -28px 0; }
    .lang .lang-selected.lang-selected-fr {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -42px 0; }
    .lang .lang-selected.lang-selected-it {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -56px 0; }
    .lang .lang-selected.lang-selected-nl {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat 0px -11px; }
    .lang .lang-selected.lang-selected-pt {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -14px -11px; }
    .lang .lang-selected.lang-selected-ru {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -28px -11px; }
    .lang .lang-selected.lang-selected-gr {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -42px -11px; }
    .lang .lang-selected.lang-selected-cn {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -56px -11px; }
    .lang .lang-selected.lang-selected-pl {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -70px 0; }
    .lang .lang-selected.lang-selected-se {
      background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -70px -11px; }
  .lang ul {
    display: block;
    background: #1f1e1e;
    position: absolute;
    top: 40px;
    right: 0;
    width: 140px; }
    .lang ul li a {
      line-height: 35px;
      height: 35px;
      display: block;
      font-size: 12px;
      color: #fff;
      text-decoration: none;
      padding: 0 13px;
      position: relative; }
      .lang ul li a:hover {
        background: #000; }
      .lang ul li a.lang-en:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat 0 0; }
      .lang ul li a.lang-de:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -14px 0; }
      .lang ul li a.lang-es:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -28px 0; }
      .lang ul li a.lang-fr:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -42px 0; }
      .lang ul li a.lang-it:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -56px 0; }
      .lang ul li a.lang-nl:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat 0px -11px; }
      .lang ul li a.lang-pt:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -14px -11px; }
      .lang ul li a.lang-ru:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -28px -11px; }
      .lang ul li a.lang-gr:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -42px -11px; }
      .lang ul li a.lang-cn:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -56px -11px; }
      .lang ul li a.lang-pl:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -70px 0; }
      .lang ul li a.lang-se:after {
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat -70px -11px; }
      .lang ul li a:after {
        border: 1px solid #666;
        position: absolute;
        top: 11px;
        right: 6px;
        background: url(//thumbs.dreamstime.com/img/splash2016/splash-sprite.png) no-repeat 0 0;
        width: 14px;
        height: 11px;
        content: '';
        display: none; }
      .lang ul li a:hover:after {
        display: block; }

ul.nav-secondary-splash li {
  float: left;
  margin-right: 0px;
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  text-align: center;
  position: relative; }
  ul.nav-secondary-splash li a {
    display: block;
    font-size: 12px; }
  ul.nav-secondary-splash li.price {
    background: #50a800; }
    ul.nav-secondary-splash li.price a {
      color: #222; }
    ul.nav-secondary-splash li.price:hover {
      background: #60c505; }

ul.nav-secondary-splash li:last-child {
  margin-right: 0;
  padding-left: 17px;
  padding-right: 17px;
  width: auto; }

ul.nav-secondary-splash li:hover {
  background: #1f1e1e; }

ul.nav-secondary-splash a {
  color: #fff;
  text-decoration: none;
  font-size: 12px; }
  ul.nav-secondary-splash a.signinlbl {
    color: #50a800; }

ul.nav-secondary-splash a:hover {
  color: #fff; }

ul.nav-secondary-splash li:first-child:hover .sign-in {
  display: block; }

.sign-in {
  position: absolute;
  background: #1f1e1e;
  width: 230px;
  display: none;
  z-index: 1002;
  height: 150px;
  padding-top: 23px;
  left: 0;
  top: 40px; }

.sign-in input[type="text"] {
  background: #3b3b3b;
  border: 0;
  height: 24px;
  font-size: 12px;
  padding-left: 8px;
  width: 190px;
  display: block;
  margin: 0 auto 15px; }

.sign-in input[type="text"]::-webkit-input-placeholder {
  color: #afafaf; }

.sign-in input[type="text"]:-moz-placeholder {
  /* Firefox 18- */
  color: #afafaf; }

.sign-in input[type="text"]::-moz-placeholder {
  /* Firefox 19+ */
  color: #afafaf; }

.sign-in input[type="text"]:-ms-input-placeholder {
  color: #afafaf; }

.sign-in input[type="submit"] {
  background: #50a800;
  color: #fff;
  font-size: 12px;
  border: 0;
  text-align: center;
  cursor: pointer;
  width: 190px;
  height: 24px;
  display: block;
  padding: 0;
  margin: 0 15px;
  width: 200px; }

.sign-in .input-grup {
  position: relative; }

.sign-in input[type="checkbox"] {
  display: none; }

.sign-in input[type="checkbox"] + label {
  color: #afafaf;
  padding-left: 40px;
  float: left; }

.sign-in input[type="checkbox"] + label i {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -128px -266px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 15px; }

.sign-in input[type="checkbox"]:checked + label i {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -109px -266px; }

.container-splash {
  margin: 0 auto;
  width: 1280px; }

.dt-slot-txt h3 {
  text-align: center;
  color: #3b3b3b;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  padding: 30px 0;
  font-weight: 300; }
  .dt-slot-txt h3 b {
    font-weight: 400;
    font-size: 28px; }

.dt-slot-text-list {
  margin-bottom: 100px;
  padding-left: 50px; }
  .dt-slot-text-list h4 {
    font-size: 24px;
    color: #222222;
    margin: 40px 0 50px 0;
    text-align: center; }
  .dt-slot-text-list ul {
    display: block;
    float: left;
    width: 17%; }
    .dt-slot-text-list ul.dt-last {
      width: 15%; }
    .dt-slot-text-list ul li {
      display: block;
      height: 16px;
      line-height: 16px;
      margin-bottom: 6px; }
      .dt-slot-text-list ul li a {
        font-size: 14px;
        color: #757575;
        text-decoration: none;
        border-left: 2px solid #e7e7e7;
        padding-left: 7px; }
        .dt-slot-text-list ul li a:hover {
          color: #256ee6;
          border-color: #256ee6; }

.dt-features {
  clear: both;
  width: 100%;
  margin: 30px auto; }

.dt-features .container-splash {
  width: 960px; }

.dt-features .box-feat {
  float: left;
  overflow: hidden;
  width: 240px;
  text-align: center;
  display: inline-block; }

.dt-features .box-feat h3 {
  font-size: 22px;
  color: #222222;
  margin: 0; }

.dt-features .box-feat a {
  color: #222222;
  font-size: 14px;
  margin: 0;
  text-decoration: none; }

.dt-features .box-feat .icon-arrow {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -125px -56px;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle; }

.dt-features .icon-feat-1 {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -13px -52px;
  width: 101px;
  height: 60px;
  display: block;
  margin: 20px auto; }

.dt-features .icon-feat-2 {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -7px -217px;
  width: 88px;
  height: 61px;
  display: block;
  margin: 20px auto; }

.dt-features .icon-feat-3 {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -8px -298px;
  width: 77px;
  height: 60px;
  display: block;
  margin: 20px auto; }

.dt-features .icon-feat-4 {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -18px -140px;
  width: 61px;
  height: 60px;
  display: block;
  margin: 20px auto; }

hr {
  border: 0;
  border-bottom: 1px solid #d5d4d4;
  clear: both;
  margin: 0 auto; }

.dt-categories {
  padding-top: 30px;
  padding-bottom: 30px; }

.dt-categories .box-cat {
  width: 48%;
  float: left; }

.dt-categories .padding-box {
  padding: 0 20px; }

.dt-categories .box-cat h3 {
  font-size: 22px;
  color: #222222;
  margin-bottom: 30px; }

.dt-categories .box-cat p {
  font-size: 16px;
  color: #737373; }

.dt-categories .dt-designers {
  text-align: right;
  border-right: 1px solid #e6e6e6;
  padding-right: 0; }

.dt-categories .dt-photographers {
  text-align: left;
  padding-left: 0; }

.dt-categories .dt-photographers a {
  color: #119ce4;
  text-decoration: none;
  font-size: 14px;
  margin-top: 68px;
  display: block; }

.dt-categories p.special {
  font-size: 14px; }

.dt-carousel {
  margin-top: 35px;
  margin-bottom: 45px; }

.dt-carousel .container-splash {
  overflow: initial; }

.dt-carousel .first-item {
  padding-bottom: 20px;
  padding-left: 70px;
  background: url(//thumbs.dreamstime.com/img/splash2016/bg-carousel.png) no-repeat right; }

.dt-carousel h2 {
  font-size: 30px;
  color: #73aa23;
  line-height: 40px; }

.dt-carousel h3 {
  font-size: 22px;
  color: #3c3c41;
  margin: 0; }

.dt-carousel p {
  font-size: 16px;
  margin: 0;
  color: #717174; }

.dt-carousel .owl-dots {
  display: none !important; }

.dt-carousel .owl-controls .owl-nav div {
  position: absolute; }

.dt-carousel .owl-controls .owl-nav .owl-prev {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -94px -132px;
  width: 36px;
  height: 50px;
  left: 0px;
  top: 90px;
  display: block !important;
  text-indent: -9999px; }

.dt-carousel .owl-controls .owl-nav .owl-next {
  background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -138px -132px;
  width: 36px;
  height: 50px;
  right: 0px;
  top: 90px;
  display: block !important;
  text-indent: -9999px; }

.owl-height {
  max-height: 760px; }

.dt-search-h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  height: 50px;
  margin: auto; }
  .dt-search-h1 .dt-search-dropdown {
    background: #fff;
    position: absolute;
    right: 48px; }
    .dt-search-h1 .dt-search-dropdown .horiz.dt-btns {
      background: #fff;
      font-size: 14px;
      color: #000;
      height: 48px;
      font-weight: 400; }
      .dt-search-h1 .dt-search-dropdown .horiz.dt-btns .dt-btn-grey-m {
        height: 48px;
        min-width: 75px;
        font-size: 14px !important;
        font-weight: 400 !important;
        color: #000;
        padding: 0 20px 0 35px; }
        .dt-search-h1 .dt-search-dropdown .horiz.dt-btns .dt-btn-grey-m span {
          color: #000;
          height: 48px;
          line-height: 48px;
          background: none;
          padding: 0;
          border-bottom: none;
          position: relative;
          font-weight: 600; }
          .dt-search-h1 .dt-search-dropdown .horiz.dt-btns .dt-btn-grey-m span i.dt-up {
            position: absolute;
            top: 22px;
            left: -20px;
            background: url("//thumbs.dreamstime.com/img/splash2016/splash-sprite.png") no-repeat 0 -29px;
            width: 8px;
            height: 5px; }
    .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt {
      position: absolute;
      top: 48px;
      right: 0;
      background: #fff;
      z-index: 1000;
      padding: 4px 16px 8px 16px;
      display: block;
      font-weight: 400; }
      .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #222222; }
        .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li input {
          margin: 0 5px 0 0;
          position: relative;
          top: 2px; }
        .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li label {
          cursor: pointer;
          font-weight: 600; }
          .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li label:hover {
            color: #256ee6; }
        .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li input[type="checkbox"] {
          display: none; }
        .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li input[type="checkbox"] + label span {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin: -2px 7px 0 0;
          vertical-align: middle;
          background: url(//thumbs.dreamstime.com/img/splash2016/sprite.png) -165px -318px no-repeat;
          cursor: pointer; }
        .dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt li input[type="checkbox"]:checked + label span {
          background: url(//thumbs.dreamstime.com/img/splash2016/sprite.png) -179px -318px no-repeat; }
  .dt-search-h1 h1.page-title {
    font-size: 44px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 1;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.62);
    font-weight: normal; }
  .dt-search-h1 form.search {
    background: none;
    border: 1px solid #fff;
    width: 824px;
    margin: 0 auto;
    height: 48px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9);
    position: relative; }
  .dt-search-h1 form.search input[type="text"] {
    background: none;
    border: 0;
    height: 46px;
    width: 582px;
    float: left;
    padding-left: 14px;
    color: #272a2d;
    font-size: 14px; }
  .dt-search-h1 form.search button {
    background: #ff1d8c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    height: 48px;
    width: 48px;
    cursor: pointer;
    float: right; }
  .dt-search-h1 form.search button i {
    background: url("//thumbs.dreamstime.com/img/splash2016/sprite.png") no-repeat -146px -11px;
    width: 26px;
    height: 25px;
    display: block;
    margin: 0 auto; }
  .dt-search-h1 span.customSelect {
    background: #fff url(//thumbs.dreamstime.com/img/splash2016/arrow.png) 15px center no-repeat;
    color: #222222;
    width: 145px;
    float: left;
    height: 48px;
    line-height: 48px;
    padding-left: 35px;
    font-size: 15px;
    padding-right: 0px; }
  .dt-search-h1 select.hasCustomSelect {
    top: 0;
    cursor: pointer;
    right: 48px; }

.customSelectInner {
  width: 140px !important; }

.bx-controls-direction {
  display: none; }

.bx-wrapper {
  margin-bottom: 0 !important; }

.bx-wrapper .bx-pager.bx-default-pager a {
  border: 1px solid #eaeaea;
  border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  background: #eaeaea !important; }

a
.bx-wrapper .bx-pager.bx-default-pager a.active {
  border: 2px solid #fff;
  background: none !important;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

.bxslider {
  padding: 0; }

.bx-wrapper .bx-pager.bx-default-pager a {
  border: 2px solid #eaeaea;
  opacity: 0.6;
  height: 6px;
  width: 6px; }

@media screen and (max-width: 1300px) {
  .dt-splash-2 {
    width: 1280px; } }
.dt-splash-content {
  width: 1280px;
  margin: 0 auto; }

.dt-mosaic {
  margin-bottom: 0px;
  background: #fff;
  width: 1276px; }
  .dt-mosaic .dt-float {
    float: left; }
  .dt-mosaic .dt-mz {
    margin: 0 9px 9px 0; }
    .dt-mosaic .dt-mz.dt-mz-nm {
      margin-right: 0; }
    .dt-mosaic .dt-mz a {
      display: block;
      position: relative;
      height: 100%; }
      .dt-mosaic .dt-mz a h2 {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background: url("//thumbs.dreamstime.com/img/splash2016/bkg-black-70.png") repeat;
        color: #fff;
        height: 40px;
        line-height: 40px;
        text-indent: 15px;
        margin: 0;
        font-size: 17px;
        text-align: left;
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        /* ...and now for the proper property */
        transition: .5s; }

          .dt-mosaic .dt-mz a:hover h2 span:before {
            position: absolute;
            top: 8px;
            left: 0;
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background: url("//thumbs.dreamstime.com/img/splash2016/dt-mz-icon.jpg") no-repeat 0 0; }
    .dt-mosaic .dt-mz.dt-txt-right a h2 {
      text-align: right; }
      .dt-mosaic .dt-mz.dt-txt-right a h2 span {
        padding-right: 15px; }
  .dt-mosaic .dt-mz-1 {
    width: 230px;
    height: 199px; }
  .dt-mosaic .dt-mz-2 {
    width: 208px;
    height: 407px; }
  .dt-mosaic .dt-moz-row-195 {
    height: 195px; }
    .dt-mosaic .dt-moz-row-195 .dt-mz-1 {
      width: auto; }
    .dt-mosaic .dt-moz-row-195 .dt-mz {
      height: 195px; }
    .dt-mosaic .dt-moz-row-195 img {
      width: auto; }

.cat38 {
width: 230px!important;
height: 199px!important;
}

.cat172 {
width: 230px!important;
height: 199px!important;
}

.cat29 {
width: 208px!important;
height: 407px!important;
}

.cat69 {
width: 340px!important;
height: 198px!important;
}

.cat177 {
width: 196px!important;
height: 199px!important;
}

.cat86 {
width: 135px!important;
height: 199px!important;
}

.cat133 {
width: 153px!important;
height: 195px!important;
}

.cat114 {
width: 286px!important;
height: 195px!important;
}

.cat103 {
width: 141px!important;
height: 195px!important;
}

.cat55 {
width: 189px!important;
height: 195px!important;
}

.cat74 {
width: 305px!important;
height: 199px!important;
}

.cat188 {
width: 157px!important;
height: 199px!important;
}

.cat108 {
width: 208px!important;
height: 403px!important;
}

.cat8 {
width: 253px!important;
height: 206px!important;
}

.cat197 {
width: 253px!important;
height: 188px!important;
}
	  
.cat38 a {
width: 230px!important;
height: 199px!important;
background-color: #d7692e;
}

.cat172 a {
width: 230px!important;
height: 199px!important;
background-color: #249aa8;
}

.cat29 a {
width: 208px!important;
height: 407px!important;
background-color: #27ce72;
}

.cat69 a {
width: 340px!important;
height: 198px!important;
background-color: #31add9;
}

.cat177 a {
width: 196px!important;
height: 199px!important;
background-color: #e566a5;
}

.cat86 a {
width: 135px!important;
height: 199px!important;
background-color: #9fcf1e;
}

.cat133 a {
width: 153px!important;
height: 195px!important;
background-color: #d5ba08;
}

.cat114 a {
width: 286px!important;
height: 195px!important;
background-color: #db3741;
}

.cat103 a {
width: 141px!important;
height: 195px!important;
background-color: #bd4545;
}

.cat55 a {
width: 189px!important;
height: 195px!important;
background-color: #b5763c;
}

.cat74 a {
width: 305px!important;
height: 199px!important;
background-color: #7ad761;
}

.cat188 a {
width: 157px!important;
height: 199px!important;
background-color: #cf5a2d;
}

.cat108 a {
width: 208px!important;
height: 403px!important;
background-color: #7a39ae;
}

.cat8 a {
width: 253px!important;
height: 206px!important;
background-color: #54cfc8;
}

.cat197 a {
width: 253px!important;
height: 188px!important;
background-color: #00a453;
}

.dt-customers {
  border-bottom: 1px solid #acacac;
  padding-bottom: 45px; }
  .dt-customers h4 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0 10px 0; }

.dt-apps {
  background: url("//thumbs.dreamstime.com/img/splash2016/bkg-apps.png") no-repeat bottom center;
  margin: 100px 0 0 0; }
  .dt-apps .dt-app-info {
    height: 285px;
    position: relative; }
    .dt-apps .dt-app-info .dt-row {
      margin: 30px 0 50px 0;
      height: 52px;
      padding-left: 80px;
      padding-top: 8px; }
      .dt-apps .dt-app-info .dt-row h5 {
        margin: 0;
        font-size: 28px;
        line-height: 28px;
        color: #3b3b3b; }
      .dt-apps .dt-app-info .dt-row p {
        margin: 0;
        font-size: 18px;
        line-height: 24px;
        color: #757575; }
    .dt-apps .dt-app-info .dt-app-link {
      height: 36px;
      margin-bottom: 103px;
      margin-left: 84px; }
      .dt-apps .dt-app-info .dt-app-link a {
        display: block;
        float: left;
        margin-right: 20px; }
    .dt-apps .dt-app-info.dt-app-left {
      float: left;
      width: 50%;
      position: relative; }
      .dt-apps .dt-app-info.dt-app-left img {
        position: absolute;
        right: 50px;
        bottom: 0; }
    .dt-apps .dt-app-info.dt-app-right {
      float: right;
      width: 50%; }
      .dt-apps .dt-app-info.dt-app-right .dt-app-link {
        float: left;
        margin: 0 84px 0 0; }
      .dt-apps .dt-app-info.dt-app-right .dt-row {
        float: left;
        padding-left: 0px;
        padding-top: 80px;
        background: url("//thumbs.dreamstime.com/img/splash2016/dt-app-icn-a.png") no-repeat top left;
        text-align: left; }
      .dt-apps .dt-app-info.dt-app-right .dt-app-link a {
        margin: 0 20px 0 0; }
  .dt-apps.dt-apps-2x {
    margin-top: 0px;
    background: url("//thumbs.dreamstime.com/img/splash2016/bkg-apps-sm.png") no-repeat top center;
    border-bottom: 1px solid #acacac; }
    .dt-apps.dt-apps-2x h4 {
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      margin: 20px 0 30px 0; }
    .dt-apps.dt-apps-2x .dt-app-link {
      margin-bottom: 50px; }
      .dt-apps.dt-apps-2x .dt-app-link img {
        position: relative;
        right: 0; }
    .dt-apps.dt-apps-2x .dt-app-info {
      height: 196px; }
      .dt-apps.dt-apps-2x .dt-app-info.dt-app-right, .dt-apps.dt-apps-2x .dt-app-info.dt-app-left {
        width: 38%; }
      .dt-apps.dt-apps-2x .dt-app-info .dt-row {
        height: 60px;
        margin-top: 0;
        margin-bottom: 40px; }
      .dt-apps.dt-apps-2x .dt-app-info h5 {
        margin-top: 5px; }
      .dt-apps.dt-apps-2x .dt-app-info.dt-app-right .dt-row {
        float: right;
        padding-right: 80px;
        padding-top: 0px;
        background: url("//thumbs.dreamstime.com/img/splash2016/dt-app-icn-ios.png") no-repeat top right;
        text-align: right; }
      .dt-apps.dt-apps-2x .dt-app-info.dt-app-right .dt-app-link {
        float: right;
        margin-right: 0px; }
        .dt-apps.dt-apps-2x .dt-app-info.dt-app-right .dt-app-link a {
          float: right;
          margin: 0 0 0 20px; }
      .dt-apps.dt-apps-2x .dt-app-info.dt-app-left .dt-row {
        float: left;
        padding-left: 80px;
        padding-top: 0px;
        background: url("//thumbs.dreamstime.com/img/splash2016/dt-app-icn-a.png") no-repeat top left;
        text-align: left; }
      .dt-apps.dt-apps-2x .dt-app-info.dt-app-left .dt-app-link {
        float: left;
        margin-left: 0px; }
        .dt-apps.dt-apps-2x .dt-app-info.dt-app-left .dt-app-link a {
          float: left;
          margin: 0 20px 0 0px; }
      .dt-apps.dt-apps-2x .dt-app-info.dt-app-phones {
        width: 24%;
        float: left; }

.dt-slot-latest {
  margin-bottom: 80px; }
  .dt-slot-latest h2 {
    font-size: 24px;
    color: #222222;
    margin-bottom: 35px;
    line-height: 30px;
    text-align: center; }
  .dt-slot-latest .dt-row-latest {
    margin-right: -22px;
    margin-left: -22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    .dt-slot-latest .dt-row-latest:before, .dt-slot-latest .dt-row-latest:after {
      display: table;
      content: " ";
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .dt-slot-latest .dt-row-latest a {
      display: block;
      float: left;
      width: 25%;
      padding: 0 22px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 160px;
      color: #fff;
      font-size: 14px;
      line-height: 160px;
      text-align: center; }
      .dt-slot-latest .dt-row-latest a img {
        height: 160px; }
      .dt-slot-latest .dt-row-latest a.dt-more {
        position: absolute;
        top: 0;
        right: 22px;
        z-index: 100;
        height: 160px;
        width: 140px;
        background: rgba(0, 0, 0, 0.6);
        text-decoration: none; }
        .dt-slot-latest .dt-row-latest a.dt-more:hover {
          background: rgba(0, 0, 0, 0.7); }

.dt-clearfloat {
  clear: both;
  position: relative;
  height: 0;
  overflow: hidden; }

/*# sourceMappingURL=splash.css.map */

.ui-autocomplete-term { font-weight: normal; }
.ui-menu-item { font-weight:bold; }
.lang-selected { background: none!important; font-size: 12px; color: #fff; }
.dt-slot-text-list h2 {
    font-size: 24px;
    color: #222222;
    margin: 40px 0 50px 0;
    text-align: center;
}
.dt-slot-txt h2,h1 {
    text-align: center;
    color: #3b3b3b;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
	}
.dt-slot-txt h1 { padding: 30px 0 0 0;}
.dt-slot-txt h2 { padding: 0 0 30px 0;}
.dt-slot-txt h1,h2 b { font-weight:bold; }
.dt-mosaic .dt-mz a h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: url("//thumbs.dreamstime.com/img/splash2016/bkg-black-70.png") repeat;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    margin: 0;
    font-size: 17px;
    text-align: left;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}


.evt{
    display: block;
    position: absolute;
    bottom: 0px;
    height: 13px;
    z-index: 1;
    width: auto;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 2%;
    background: url("//thumbs.dreamstime.com/img/splash2016/bkg-black-70.png") repeat;
    color: #fff;
    text-align: left;
    overflow: hidden;
    margin: 0 4px 4px 4px;
	}
.evt:hover{ height:auto }

.video-js { background:none!important; }
.dt-box-upload-bc .dt-bottom-info { bottom:0; }
.dt-row-latest a { position:relative; }
.dt-videosign
    {
	background: url(//thumbs.dreamstime.com/images-video/vid.png) no-repeat;
    width: 15px;
    height: 11px;
    top: 10px;
    right: 35px;
    position: absolute;
    z-index: 1;
	}
.vjs-default-skin.vjs-has-started .vjs-control-bar,.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar { display:none!important; }
div.dt-search-dropdown ul li input[type=checkbox] { display:inline-block!important; }
.dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt { right: 0px; width: auto; min-width:150px; }
.infoh2 {
    width: auto;
    display: inline-block;
}

div.dt-search-dropdown ul li input[type=checkbox] { display:inline-block!important; }
.dt-search-h1 .dt-search-dropdown .horiz.dt-all-cnt { right: 0px; width: auto; min-width:150px; }
.infoh2 {
    width: auto;
    display: inline-block;
}
.infoh2 a { color: #72BF43 !important; }
div.info span { font-weight:normal; vertical-align:super; }
div.info { text-align:center; }
ul.nav-secondary-splash li:first-child:hover .sign-in { display: none; }
.lang ul li a:hover:after { display:none!important; }
.lang ul { width:90px; }
.sign-in input[type="text"] { background: #ECECEC!important; }
.sign-in input[type="password"] {
    background: #ECECEC!important;
    border: 0;
    height: 24px;
    font-size: 12px;
    padding-left: 8px;
    width: 190px;
    display: block;
    margin: 0 auto 15px;
}
#backgroundPopup { z-index:1000!important;}
#msgbox_window { z-index:1001!important; width:100%!important; }
.noselect {
	border: 3px solid #FFF !important;
    border-radius: 10px;
	}
.owl-carousel-footer .slide h2 { text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }
.owl-carousel-footer .slide_1 { background:url(https://thumbs.dreamstime.com/images/slide_1.jpg) no-repeat center center; }
.owl-carousel-footer .slide_1 span.slide-title { display:block; padding:10px 0 0 0; color:#72bf43; font-size:24px; font-weight:bold; text-align:center; margin:0 0 5px 0; }
.owl-carousel-footer .slide_1 span.slide-title b { color:#717174; font-size:14px; font-weight:normal; margin:0 5px; }
.owl-carousel-footer .slide_1 h4 { color : #72bf43; font-size : 24px; font-weight : bold; text-align : center; padding-top:15px; }
.owl-carousel-footer .slide_1 p { font-size:11px; color:#717174; text-align:center; width: 444px; margin: auto; }
.owl-carousel-footer .slide_1 .cnt { height:60px; overflow:hidden; }
.owl-carousel-footer .slide_1 .cnt a { overflow:hidden; position:relative; height:60px; display:block; float:left; width:105px; text-align:center; color:#246eac; font-size:11px; }
.owl-carousel-footer .slide_1 .cnt a span { display:block; width:70px; height:11px!important; line-height:11px!important; position:absolute!important; }
.owl-carousel-footer .slide_1 .cnt a span { top: 27px; }
.owl-carousel-footer .slide_1 .cnt a.col1 span { left: -1px; }
.owl-carousel-footer .slide_1 .cnt a.col2 span { left:9px; }
.owl-carousel-footer .slide_1 .cnt a.col3 span { left:23px; }
.owl-carousel-footer .slide_1 .cnt a.col4 span { left:22px; }
.owl-carousel-footer .slide_1 .cnt a.col5 span { left:39px; }
.owl-carousel-footer .slide_1 .cnt a.col6 span { left:47px; }
.owl-carousel-footer .slide_2 { background:url(https://thumbs.dreamstime.com/images/slide_2.jpg) no-repeat center center; }
.owl-carousel-footer .slide_2 .slide_left { width:245px; float:left; margin: 5px 0 0 45px; }
.owl-carousel-footer .slide_2 .slide_left span.slide-title { display:block; color:#72bf43; font-size:24px; font-weight:bold; text-align:left; margin:0 0 5px 0; }
.owl-carousel-footer .slide_2 .slide_left h4 { color : #72bf43; font-size : 24px; font-weight : bold; text-align : left; padding-top:10px; }
.owl-carousel-footer .slide_2 .slide_left p { color:#3c3c41; font-size:12px; font-weight:normal; text-align:left; }
.owl-carousel-footer .slide_2 .slide_right { position: absolute; right: 30px; bottom: -4px; }
.owl-carousel-footer .slide_2 .box { width:111px; height:72px; float:left; margin:36px 3px 0 0; }
.owl-carousel-footer .slide_2 .box a { display:block; text-decoration:none; }
.owl-carousel-footer .slide_2 .box span { display:block; font-size:11px; color:#0193ce; text-align:center; padding-top:45px; width:106px; }
.owl-carousel-footer .slide_2 .box_1 { background:url(https://thumbs.dreamstime.com/images/sprite-v7.png) no-repeat -167px -1509px; }
.owl-carousel-footer .slide_2 .box_2 { background:url(https://thumbs.dreamstime.com/images/sprite-v7.png) no-repeat -284px -1509px; }
.owl-carousel-footer .slide_2 .box_3 { background:url(https://thumbs.dreamstime.com/images/sprite-v7.png) no-repeat -167px -1581px; }
.owl-carousel-footer .slide_2 .box_4 { background:url(https://thumbs.dreamstime.com/images/sprite-v7.png) no-repeat -284px -1581px; }
.owl-carousel-footer .slide_2 .box:hover { opacity:0.9; }
.owl-carousel-footer .slide { height:145px; }
.owl-carousel-footer .slide_3 { background:url(https://thumbs.dreamstime.com/images/slide_3.jpg) no-repeat center center; }
.owl-carousel-footer .slide_3 h4 { line-height:22px; margin:0 0 8px 40px; padding:25px 0 0 0; color:#72bf43; font-size:22px; font-weight:bold; text-align:left; padding-top:10px; }
.owl-carousel-footer .slide_3 p { margin:0 0 5px 40px; color:#3c3c41; font-size:12px; font-weight:normal; text-align:left; }
.owl-carousel-footer .slide_3 p { line-height:13px; margin:0 0 0 40px; color:#717174; font-size:11px; font-weight:normal; text-align:left; }
.owl-carousel-footer .slide_2 .box.box_1 span { padding-top: 42px; line-height: 10px; }
.owl-carousel-footer .slide_5 { background:url(https://thumbs.dreamstime.com/images/slide_5.jpg) no-repeat center center; }
.owl-carousel-footer .slide_5 .slide_left h2 { color: #72bf43; font-size: 24px; font-weight: bold;  text-align: left; padding: 61px 0px 0px 49px; }
.owl-carousel-footer .slide_5 .slide_left h3 { color: #3c3c41;  font-size: 12px;  font-weight: normal;  text-align: left; padding: 1px 0px 0px 47px; }

#footern { background:#ece9e4; }

/*scoase din newsplash */
.ui-autocomplete-term { font-weight: normal; }
.ui-menu-item { font-weight:bold; }

#prevBtn,#nextBtn { z-index:69!important; }
#ajaxdiv { top:0px!important; }

.owl-carousel-footer .slide_5 { background: url("//thumbs.dreamstime.com/images/slide_referral_background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }
.owl-carousel-footer .slide_5 h4 { color: #72BF43; font-size: 24px; font-weight: bold; line-height: 22px; margin: 0 0 8px 265px; padding: 25px 0 0; text-align: left; }
.owl-carousel-footer .slide_5 p { color: #3C3C41; font-size: 17px; font-weight: normal; margin: 0 0 5px 265px; text-align: left; }

.owl-carousel-footer .slide_4 { background: url("//thumbs.dreamstime.com/images/slide_wordpress_background.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); }

.owl-carousel-footer .slide_4 h4 { color: #72BF43; font-size: 24px; font-weight: bold; line-height: 22px; margin: 0 35px 8px 222px; padding: 25px 0 0; text-align: left; padding-top:25px; }
.owl-carousel-footer .slide_4 p { color: #3C3C41; font-size: 17px; font-weight: normal; margin: 0 35px 5px 222px; text-align: left; }

.owl-carousel-footer .slide {
	_padding-bottom: 20px!important;
    _padding-left: 70px!important;
    _height: 145px!important;
	_background-size:cover!important;
	}
.dt-carousel .owl-controls .owl-nav .owl-prev { left:-8px; top:47px; }
.dt-carousel .owl-controls .owl-nav .owl-next { right:-8px; top:47px; }