html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: "Open Sans";
	color: #1D1D1D;
	text-shadow: 1px 1px 1px #ccc;
}

a {
	color: #308CC1;
	cursor: pointer;
}

.error, .success {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#footer {
	width:100%;
	height:210px;
	position:absolute;
	bottom:0;
	left:0;
}

#header {
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 50px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
}

#cover {
	position: relative;
	text-align: center;
	color: #fff;
	min-height: 700px;
	max-height: 700px;
	width: 100%;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	background: url(https://lh5.googleusercontent.com/-Pkn8MnGxeTI/VIaK10sfHJI/AAAAAAAACCg/RP9X7wvZWXc/w1600-h1200/abstract-background-vector-free-download.jpg) no-repeat center -200px fixed #EBEAE8;
	background-size: cover;

}

.cover-page {
	min-height: 145px !important;
	max-height: 145px !important;

	background: rgb(255,255,255) !important; /* Old browsers */
	background: -moz-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* Opera 12+ */
	background: -ms-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* IE10+ */
	background: radial-gradient(ellipse at top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

.cover-download {
	min-height: 400px !important;
	padding-bottom: 50px;

	background: rgb(255,255,255) !important; /* Old browsers */
	background: -moz-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(radial, top top, 0px, top top, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* Opera 12+ */
	background: -ms-radial-gradient(top, ellipse cover,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* IE10+ */
	background: radial-gradient(ellipse at top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

.features {
	min-height: 300px;
	position: relative;
}

/*#####*/

#cloudcontainer {
	position: absolute;
	z-index: 1;
	margin-top: 250px;
	width: 100%;
	text-align: center;
}

#cloud2 { /* 59B8E6 */
	cursor: pointer;
	width: 350px; height: 120px;
	text-align: left;

	background: #84C0DF;
	background: linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -webkit-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -moz-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -ms-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -o-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 120px auto 20px;
}

#cloud { /* 59B8E6 */
	cursor: pointer;
	width: 350px; height: 120px;
	text-align: left;

	background: #84C0DF;
	background: linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -webkit-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -moz-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -ms-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -o-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 120px auto 20px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #84C0DF;
	z-index: -1
}

#cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.shadow {
	position: relative;
	width: 350px;
	bottom: -20px;
	background: #000;
	z-index: -1;
	margin-left: auto;
	margin-right: auto;
	
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.2);
	
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

#menu {
	position: relative;
	float: right;
	display: inline-block;
	margin-top: 15px;
	font-family: arial;
}

#menu a {
	color: #676767;
	text-decoration: none;
	padding: 12px 20px;
	border-radius: 25px;
}

.footer a {
	color: #ccc;
}

#menu a.current {
	background-color: #FFFFFF;
	color: #4C98E8;
}

.highlight {
	background-color: #8CCB30;
	color: #fff;
}

.services {
	border: 2px solid #E5E5E5;
	border-radius: 5px;
	width: 200px;
	height: 200px;
	display: inline-block;
	padding: 0 5px 5px 5px;
	margin-top: 60px;

}

.services .head {
	background-color: #70B9DF;
	width: 100px;
	height: 100px;
	border-radius: 60px;
	color: #fff;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	border: 10px solid #fff;
}

#content {
	padding-bottom: 210px;
}

.statistics {
	background-color: #8CCB30;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer {
	background-color: #313131;
	color: #fff;
	font-size: 14px;
	text-shadow: none;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.fa {
	margin: 26px;
}

#content .container {
	text-align: center; 
	margin-top: 50px;
	margin-bottom: 50px;
}


.file {
	position: absolute;
	width: 96px;
	height: 96px;
	z-index: -2;
	margin-top: 0px;
	margin-left: 120px;

	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out; 
	-o-transition: all 1s ease-in-out; 
	-ms-transition: all 1s ease-in-out; 

	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg); 

	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.file-blue { background-image: URL('../img/icons/lv_file_blue.png'); }
.file-green { background-image: URL('../img/icons/lv_file_green.png'); }
.file-orange { background-image: URL('../img/icons/lv_file_orange.png'); }

.filetype {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.filetype-apk { background-image: URL('../img/icons/lv_apk.png'); }
.filetype-app { background-image: URL('../img/icons/lv_app.png'); }
.filetype-audio { background-image: URL('../img/icons/lv_audio.png'); }
.filetype-contact { background-image: URL('../img/icons/lv_contact.png'); }
.filetype-doc { background-image: URL('../img/icons/lv_doc.png'); }
.filetype-ebook { background-image: URL('../img/icons/lv_ebook.png'); }
.filetype-email { background-image: URL('../img/icons/lv_email.png'); }
.filetype-exe { background-image: URL('../img/icons/lv_exe.png'); }
.filetype-image { background-image: URL('../img/icons/lv_image.png'); }
.filetype-iso { background-image: URL('../img/icons/lv_iso.png'); }
.filetype-pdf { background-image: URL('../img/icons/lv_pdf.png'); }
.filetype-security { background-image: URL('../img/icons/lv_security.png'); }
.filetype-txt { background-image: URL('../img/icons/lv_txt.png'); }
.filetype-video { background-image: URL('../img/icons/lv_video.png'); }
.filetype-xls { background-image: URL('../img/icons/lv_xls.png'); }
.filetype-zip { background-image: URL('../img/icons/lv_zip.png'); }
.filetype-unknown { background-image: URL('../img/icons/lv_unknown.png'); }

#downloadcontainer {
	position: relative;
	z-index: 1;
	padding-top: 150px;
	width: 100%;
	text-align: center;
}

#download { /* 59B8E6 */
	display: inline-block;
	text-align: left;

	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	
	position: relative;
	margin: 0px auto 10px;
	z-index: 1;
	padding: 3px;
}

#download2 {
	z-index: 2;

	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: #1D1D1D;
	padding: 10px;
}

#search-results td {
	padding: 3px 3px 1px 3px;
}

.upload_container .upload_row, .completed_row {
	border-left: 1px solid #C4C4C4;
	border-right: 1px solid #C4C4C4;
	border-top: 1px solid #D7D7D7;
	border-top: 1px solid #D7D7D7;
	background-color: #fff;
	width: 100%;
	padding: 1px;
	text-overflow: ellipsis; 
	overflow: hidden;
}

.upload_container .upload_row:first-child, .completed_row:first-child {
	border-top: 1px solid #C4C4C4;
}

.upload_container .upload_row:last-child, .completed_row:last-child {
	border-bottom: 1px solid #C4C4C4;
}

.upload_container .upload_row .data, .completed_row .data {
	background-color: #EEEEEE;
	padding: 4px;
}

.upload_container {
	position: relative;
}

.upload_container .delete {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: -12px;
	margin-top: -8px;
	cursor: pointer;
}

.upload_group {
	margin-bottom: 10px;
}

.bg {
	position: absolute;
	background-color: #fff;
	opacity: 0.85;
	width: 105%;
	height: 105%;
	display: fixed;
	z-index: -1;
	margin: -5px;
	border-radius: 10px;
}

#cloud, .shadow { 
	transition: left 0.3s ease;
}

.upload_list {
	transition: opacity 0.5s ease;	
}

input[type="text"], input[type="password"] {
	width: 80px;
	height: 25px;
	padding: 0 5px;
	background-color: #EFEFEF;
	border: none;
	border-radius: 3px;
	outline: none;
}

select {
	height: 25px;
	padding: 0 5px;
	background-color: #EFEFEF;
	border: none;
	border-radius: 3px;
	outline: none;
}

textarea {
	padding: 0 5px;
	background-color: #EFEFEF;
	border: none;
	border-radius: 3px;
	outline: none;
}

button, input[type="button"], input[type="submit"], .button-dark {
	height: 25px;
	padding: 0 10px;
	border: 0;
	background-color: #F68920;
	color: #fff;
	border-radius: 5px;
	font-family: "Open Sans";
	text-shadow: 1px 1px 1px #313131;
}

#downloadfile, #downloadfile2 {
	cursor: pointer;
	display: inline-block;
	width: 350px; height: 80px;
	text-align: left;
	margin-left: 100px;
	margin-right: 170px;

	background: #84C0DF;
	background: linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -webkit-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -moz-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -ms-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	background: -o-linear-gradient(top, #84C0DF 5%, #36A7DF 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#downloadfile2 {
	background: #F8C529;
	background: linear-gradient(top, #F8C529 5%, #F68920 100%);
	background: -webkit-linear-gradient(top, #F8C529 5%, #F68920 100%);
	background: -moz-linear-gradient(top, #F8C529 5%, #F68920 100%);
	background: -ms-linear-gradient(top, #F8C529 5%, #F68920 100%);
	background: -o-linear-gradient(top, #F8C529 5%, #F68920 100%);	
}

.button-text {
	position: absolute; 
	text-align: center; 
	color: #fff; 
	width: 350px; 
	margin-top: 30px; 
	font-size: 25px; 
	text-shadow: 1px 1px 1px #2F8BBD; 
	font-family: 'Open Sans';
}