﻿.oryx-maincontent {
	float: left;
	width: 65.7%;
	display: inline-block;
}
.oryx-sidebar {
	float: right;
	width: 31.4%;
	display: inline-block;
}
.ignoreparentstyle, #article-body {
	width: 100% !Important;
	margin: 0px !Important;
}

/*.top-topics-origin {
	display: none !important;
}*/

.row.topics-sec-item {
    padding-top: 9px;
    padding-bottom: 5px;
}

.topics-divider {
    padding-bottom: 12px;
}

.article-wz-video .topics-divider {
    padding-bottom: 13px;
}

.row.topics-sec-item.programmes-style {
    padding-bottom: 13px;
}

.row.topics-sec-item:first-child {
    padding-top: 13px;
}

.row.topics-sec-item:last-child {
    padding-bottom: 3px;
}

.row.topics-sec-item.article-wz-video {
    padding-bottom: 5px;
    padding-top: 9px;
}

@media (max-width: 1200px) {
    .row.topics-sec-item.programmes-style {
        background: #000;
        padding: 15px 0 15px 0;
        margin-top: -4px;
    }
    .row.topics-sec-item.article-wz-video {
        padding-bottom: 9px;
        padding-top: 9px;
    }
    .row.topics-sec-item {
        padding-top: 4px;
        padding-bottom: 5px;
    }
}

/* top topic menu*/
.nav-topics {
    font-size: 14px;
    color: #999;
    position: relative;
    left: 85px;
    top: -13px;
}

#sticky-header.nav-topics {
    display: none;
}

#mobile-header.nav-topics {
    display: none;
}


  
  
/* top topic menu*/
.nav-topics {
    font-size: 14px;
    color: #999;
    position: relative;
    left: 85px;
    top: -13px;
}

#sticky-header .nav-topics {
    display: none;
}

#mobile-header .nav-topics {
    display: none;
}  


/* search text box */
#site-header div.form-search.nav-form-search {
    display: none;
}

#sticky-header div.form-search.nav-form-search {
    display: none;
}


/* watch-live */
li.watchlive-active {
    float: left;
}

li.watchlive-active span {
    color: #fa9000;
    font-size: 16px !important;
    font-family: 'HelveticaNeueLTPro-Bd', Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-weight: bold;
    line-height: 35px;
    position: relative;
    top: 1px;
    left: 2px;
}
li.watchlive-active a:hover {
    text-decoration: none !important;
}

/* mega menu mobile-drop*/
#site-header a.mobile-drop.dropdown-toggle {
    display: none;
}

#sticky-header a.mobile-drop.dropdown-toggle {
    display: none;
}

#mobile-header b.caret {
    display: none;
}


/* to hide block */
.hide-block {
  display: none;
}
