﻿/* Make News Sticky */


#header_container {
background: #C60100;
z-index: 99999 !important;
min-height: 31px;
position: relative;
top: 0px!important;
width: 100%;
padding-top: 6px;
}


/* Ticker Styling */
.ticker-wrapper.has-js {

padding-bottom: 5px;
width: 100%;
display: block;
background-color: #C60100;
font-size: 0.75em;
  margin-right:auto;
  margin-left:auto;
/* max-width: 1200px; */
/* margin-left: 5%; */
}


.ticker {
display: block;
overflow: hidden;
position: relative;
background-color: #C60100;
max-width: 1144px;
margin-left: 3.5%;
margin-right: auto;
margin-left: auto!important;
}


.ticker-title {
padding-top: 2px;
color: white;
font-weight: bold;
font-size: 16px;
font-family: Arial;
/* background-color: #C60100; */
text-transform: uppercase;
  margin-right:10px;
}

.ticker-content {
margin: 0px;
padding-top: 4px;

color: white;
/* font-weight: bold; */
/* background-color: #C60100; */
line-height: 1.2em;
font-size: 16px;
font-family: Arial;
}


.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: White;
}
.ticker-content a:hover {
	text-decoration: none;	
	color: White;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: transparent!important;
	display: block;
	width: 800px;
	height: 55px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: transparent!important;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding-top: -10px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('../images/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../images/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../images/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../images/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 100px; 
	color: White;
}
.left .ticker-swipe {
	left: 80px;
}

.left { }

.left .ticker-controls, .left .ticker-content, .left .ticker-title {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
    margin-top:8px;
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}





/*
@media only screen and (min-width:1200px) {

  .ticker {
 margin-left: 1.5%;
}

}
*/









@media only screen and (max-width:767px) {

  
  #header_container {

z-index: 1001;

}

  .ticker {
 margin-left: -0.5%;
  width:	96%;
}

#header_container {
margin-bottom: -35px;
        margin-top: 60px;
}


  .ticker-content{
  padding-left:0px!important;
  }


}



/*----------------------Article new launch-Changing colors-----------------------*/


#header_container {
background: #9c1324;
z-index: 9999999999;
}


.ticker-wrapper.has-js {
background-color: #9c1324;
}


.ticker {
background-color: #9c1324;
}

.ticker-swipe {
	background-color: #9c1324;
}
.ticker-swipe span {

	background-color: #9c1324;


}

/*.breaking{
	background : #9c1324!important;
  background-color: #9c1324;
}*/

.notification{
	background :  #44464a!important;
  background-color:  #44464a;
}

.hideticker{
	display:none!important;
  	visibility:hidden!important;
}

.showticker{
	display:block!important;
  	visibility:visible!important;
}

/*ticker*/

.breaking{
background :  #44464a!important;
  background-color:  #44464a;
}

div#header_container
{
  background :  #44464a!important;
  background-color:  #44464a;
}
.genericon-close:before{
content: '\f405';
}

.ticker-socials ul li{
    float:right;
}
section.new-ticker {
    background: #44464a;
    margin:0px 0 20px 0;
}

p.news-ticker-des{
     font-family: 'HelveticaNeueLTPro-Bd', Helvetica Neue, Helvetica, Arial, sans-serif !important;
     font-size: 16px;
     color: #FFF;
     font-weight: 400;
     /* padding: 24px 0; */
     margin: 0;
     min-height: 62px;
     /* line-height: 71px; */
     display: inline-block;
     vertical-align: middle;
     line-height: normal;
     display: flex;
     justify-content:center;
     align-content:center;
     flex-direction:column;
}


.new-ticker .genericon-twitter, .new-ticker .genericon-facebook, .new-ticker .genericon-close{
    background-color: transparent;
    color: #FFF;
    font-size: 17px;
    margin: 2px 9px 0px 0;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-

}
/* .new-ticker .genericon-close{
    font-size: 28px;
    border:2px solid #FFF;
    border-radius:100%;
    margin: -4px 0 0 0;

 }*/

.new-ticker .genericon-twitter:hover, .new-ticker .genericon-facebook:hover, .new-ticker .genericon-close:hover{
    color: #ccc;
    text-decoration: none !important;

}


a.ticker-close:hover, a.ticker-facebook:hover, a.ticker-twitter:hover {
    text-decoration: none;
}


.ticker-shares-icon img {
    width: 141px;
    height: 71px;
    float: left;
}

.ticker-des{
    float:left;
    margin-left: 10px;
    width: 73%;
    /*height: 71px;*/
}

.ticker-socials {
    padding: 24px 0;
    float: right;
    width: 50px;
    height: 71px;
}
a.ticker-close img {
    margin: -4px 0 0 0;
}
@media (max-width: 1200px){

.news-ticker-des {
    /* padding: 14px 0 !important; */
}
}

@media (max-width: 880px){

.ticker-des {

width: 67%;
}
.ticker-socials {

/* width: 13%; */
}
}



@media (max-width: 767px){
.ticker-shares-icon img{
    display: none;
}
.ticker-socials {
    /* width: 33%; */
}
p.news-ticker-des {
    font-size: 16px;
}
.ticker-des {
    margin-left: 0;
    width: 80%;
}

}
.ticker-des a:hover {
    color: #fff;
}

@media (max-width: 500px){
p.news-ticker-des {
    padding: 11px 0;
}

}

a.ticker-twitter, a.ticker-facebook {
    display:none;
}


.ticker-close span {
    padding-left: 10px;
    color: #ffffff!important;
    margin-top: 50px!important;
}

.ticker-title{
    margin-top:20px!important;
}

.news-ticker-des a{

    color:#fff!important;
}

.ticker-shares-icon img { height: 80px!important; margin-top:-5px!important;}
.ticker-title span {
    margin-left:10px!important;
}

/*Moftah Fix*/
.ticker-socials {
     padding: 0 !important; 
    width: 50px;
    height: 71px;
    vertical-align: middle;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.ticker-shares-icon img {
    height: 71px !important;
    margin-top: 0px !important;
}
#header_container {
    padding-top: 0px !important;
}

.ticker-wrapper.has-js {
    padding-bottom: 0px !important;
}
.ticker-swipe {
	top:50px;
}


p.news-ticker-des{
     padding-top:5px;
}

.ticker-socials {
    padding-top:9px !important;
}

.ticker-socials a {
    cursor: pointer;
}
/* /Moftah Fix*/


@media only screen and (max-width:767px){
.notification .ticker-title {
    display:none!important;
}

p.news-ticker-des{
     min-height: 71px;

}}


/*-------Fixing #NewsGrid in details pages -----------*/

#header_container div.ticker.notification{
    width: 80%!important;
    min-height:71px;
    /* background-color: red!important; */
    /* left: -10px; */
}


@media only screen and (max-width:1024px){
#header_container div.ticker.notification{
    width: 72%!important;
}}


@media only screen and (max-width:767px){
#header_container div.ticker.notification{
    width: 100%!important;
    margin:0px 0px!important;
}

p.news-ticker-des{
    padding-top:0px!important;
}
}



.notification .ticker-title {
    display:none!important;
}



.ticker-socials {
    padding-top:0px!important;
}

p.news-ticker-des{
    padding-top:1.5px!important;
}



/*-------End of Fixing #NewsGrid in details pages -----------*/






/*-------Fixing Breaking -----------*/

.breaking .ticker-shares-icon {
    display:none;
}

div#header_container.breaking, .ticker.breaking, .breaking {
    background-color:#9c1324!important;
    background:#9c1324!important;
}


#header_container.breaking div.ticker{
    width:100%;
}


@media only screen and (max-width:768px){
#header_container.breaking div.ticker{
    width:94%;
}
}


.breaking .ticker-title span {
    margin-left:0px!important;
}

.ticker-swipe {
    top: 10px;
  	left: 0px;
    opacity:1;
}

/*-------Fixing Breaking -----------*/

/*Breaking styles Fix*/
p.news-ticker-des.notification {
    padding-top: 7px !important;
}
@media (max-width:767px){
.breaking .ticker-title {
    float: none !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}
.breaking p.news-ticker-des {
    font-family: 'HelveticaNeueLTPro-Roman', Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
p.news-ticker-des.notification {
    padding-top: 5px !important;
}
.news-ticker-des a{
    font-family: 'HelveticaNeueLTPro-Roman', Helvetica Neue, Helvetica, Arial, sans-serif !important;	
}
}

.ticker-socials ul li {
    z-index: 999999;
    position: relative;
    margin-top:7px;
}

.breaking .news-ticker-des a:hover{
    text-decoration:none!important;
    cursor:default;
}


.breaking .ticker-socials {

    height: 62px;
}
/* /Breaking styles Fix*/

