﻿html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,
kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,
thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,
mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body {font-family:"open sans",arial,tahoma,verdana,sans-serif;color:#333;background:#CCD3E4}
h1{font-size:1.5em}
h2{font-size:1.2em;margin-bottom:10px}
p{text-align:justify}
.wrapper{margin:0 auto;width: 990px}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary{display:block}
img{vertical-align:middle;max-width: 100%;height:auto}
nav ul {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,
q:before, q:after {content:''}
a {margin:0;padding:0;border:0;text-decoration:none;vertical-align:baseline;background:transparent;cursor:pointer;
color:#06C}
a:hover{text-decoration:underline}
ins {background-color:#ff9;color:#000;text-decoration:none}
mark {background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration: line-through}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #BED0DE;border-bottom:1px solid white;margin:1em 0;padding:0}
input,select{vertical-align:middle}
ul,li{list-style:none}
.hide{display:none}
/* For modern browsers */
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.cf{zoom:1}
.slul1 li,.slul2 li{float:left;margin:5px 0 5px 5px;background:#FFF;padding:5px 0 5px 5px}
.slul1 li{width:184px;font-size:.9em;font-weight:bold}
.slul2 li{width:149px}
.ltb{display:block}
.ltb li{display:inline-block}
.ltb a{display:inline-block;text-decoration:none;color:White;padding:3px 6px;font-size:.9em}
.ltb a:hover{background:#9EB9EB}
/* TopBar */
.navcnt{float:right;padding:0 10px} .navul li{display:inline-block;float:left}
.navul a{display:block;padding:8px 20px;color:#6699FF;background:#FFF;border:1px solid #E5E5E5;margin:8px 6px 0 0;text-decoration:none}
.navul a:hover{background:#191970;color:white}
.ozul{margin-left:10px}
.ozul li{display:inline-block;float:left;background:#F4F4F4;width:254px;height:55px;padding:10px;margin:0px 10px 15px 0px;color:#6F6F6F;border:1px solid #DADADA}
.ozul li strong{color:#06C;display:block;margin-bottom:5px} 
.ulac{font-size:11px;letter-spacing:1px;line-height:16px}
.lesStr{font-family:Arial;color:#036;display:inline-block;font-size:14px}
.slg p{line-height:22px;color:#5584AE;font-size:13px}
.sp-spr{float:left;width:40px;height:40px;margin-right:10px;background:url(/content/hm-sprite.jpg) no-repeat;margin-top:8px}
.sp-msg{background-position:-89px 0px}
.sp-mes{background-position:-174px 0px}
.sp-zide{background-position:-46px 0px}
.sp-ile{background-position:-133px 0px}
.sp-hak{background-position:-216px 0px}
.sp-kar{background-position:-254px 0px}
/* HomePage */
.adrestur{display:block;padding:3px 10px;margin-bottom:10px;background:white;border:1px solid #BED0DE;color:#06C;text-align:center}
.ateti{display:inline-block;width:60px}
.bisilan{color:#5584AE;font-weight:300;font-size: 1.5em;padding:30px;text-align:center}
/* LesCARD pages */
.les-top-nav-cnt{background: #153266;border-bottom: 2px solid white;height: 25px}
.o980{width:980px;margin:0px auto}
.l-logo-div{float:left;padding:15px 0px}
.ytop{background:#FFF;margin-top:10px;border-bottom:1px solid #C0C9E0}
.mid-cnt{background:#FFF;margin:10px 0}
.prcnt{float:left;width:200px;border:1px solid #DEDEDE;padding:10px;margin-right:20px;text-align:center}
.prcnt ul li{padding:6px 0}
.gp-top{background:#E5ECF2 url('/content/top-bg.png') repeat-x;height:263px}
.gp-top-cnt{width:980px;margin:0px auto 0px auto}
.gp-card-cnt{float:left;margin-left:-12px;margin-top:27px;width:415px;height:215px;background-image:url('/content/lesCbg.png');background-repeat:no-repeat}
.gp-card-ic{margin:22px}
.gp-card-top{padding-bottom:2px;margin-bottom:10px;border-bottom:1px solid #BED0E0}
.gp-card-meslek{margin:2px 0px;display:block;float:right;font-size:95%;color:#5584AE}
.gp-card-logo-d{float:left;margin-top: -4px;margin-left:15px}
.gp-card-m-cnt{}
.gp-c-m-right{float:left;width:255px;height:110px}
.gp-cimg-cnt{float:left;margin-right:5px}
.gp-card-img{border:2px solid #E5ECF2;width:104px;height:104px}
.gp-card-isim{margin-bottom:4px}
.gp-right-cnt{float:right;width:570px;height:30px}
.gp-kurumimg{float:right}
.gp-c-gorev{margin:-10px 0px 0px 2px;overflow: hidden;height: 70px}
.gp-gorev-span{font-weight: bold;margin-top: 13px;display: block;color:#F09100;font-size: 11px}
.gp-gorev-yer{font-size: 11px;color: #666}
.gp-c-yer-cnt{position: relative;height: 15px;top:4px;left:3px;color: #9D9D9D}
.gp-cardH1{height:30px;color:#06C;text-shadow: 1px 0px 1px #CCE6FF}
.gp-c-bot-cnt{color: #06C;font-weight: bold;margin-top: 5px;}
.gp-msg{width:94px;margin-right: 5px;font-size: 12px;padding: .19em .1em .29em .1em}
.gp-lid{display:inline-block;float:left;background: #E5ECF2;padding: 4px 0px 4px 3px;width:255px;}
/* General Profile Top */
.prf-page-middle{background:#E5ECF2 url('/content/bodybg.png') repeat-y top center}
.prf-mid{width:980px;margin:0px auto;min-height:750px}
.prf-mid-l{float:left;width:980px;min-height:500px}
.prf-mid-menu-cnt{float:left;width:170px;padding:0px 15px}
.ic-r{float:right;width:450px}
.ic-l{float:left;width:450px;border-right: 1px dashed #E5ECF2;padding-right:15px}
.prf-ic-menu{list-style-type: none}
.prf-ic-menu li{display:inline-block;float:left;margin-left:5px}
.prf-ic-menu li a{display:inline-block;text-align:left;padding: 4px 0px 5px 3px;color: #015EA9;font-weight: bold;font-size: 11px;text-decoration:none}
.icerikcnt{margin: 30px 20px 20px 20px}

.sayfa-bslk{padding: 5px 5px 5px 25px;background: #5584AE;border-bottom: 1px solid #D9DFEA;color: white;}
.mes-cal,.kr-ozet{margin-top:20px}
.mes-cal li{font-weight:bold;color:#06C;margin-bottom:15px}
.mes-cal span{margin:0px 10px 0px 0px}
.mes-p{margin:10px 0px 40px 23px;color:black;font-weight:normal;text-align: justify;line-height:20px}
.ic-r h3, .icbaslik {color:#10528A;padding:3px 0px 5px 15px;border:1px solid #D9DFEA;margin-bottom:20px;
background: url('/content/navbg.png') repeat-x;border-bottom:none}
.icblnk{float:right;font-size:11px}
.icblnk span{background-position:-2px -74px}
.icbolum{}
.icbolara{border-bottom:1px dotted #666;height:15px;margin:20px 0px 40px 0px}
.kutu{width: 12px;height: 12px;display: inline-block;background: url(/content/pr-sprite.png) no-repeat}
.ksari{background-position:0px -9px}
.kmavi{background-position:0px -23px}
.kkirmizi{background-position:-16px -9px}
.kyesil{background-position:-16px -239px}

.sl{font-size: 11px;color:#B7B7B7}
.sc-cnt{width:194px;background:white;padding:8px 8px 13px 8px;border:1px solid #BED0DE}
.sc-bas{display:block;margin-bottom:5px;text-align:center;font-size:11px;color:#4D7A9F;background:#E5ECF2}
.secCode{vertical-align: middle}
#SecurityCode{padding:11px 6px;width:44px}
.scodref{display:inline-block;margin-bottom:-5px;width:16px;height:16px;background:url(/content/pr-sprite.png) no-repeat -16px -40px}

.pyazi{margin-left:10px;margin-bottom:10px;padding-left:15px;padding-top:3px}
.pgirinti{text-align: justify;text-indent: 20px}
.pyorum{margin:0px 0px 20px 10px}
.prf-yorum-img{float: left;margin: 0px 10px 10px 0px}
.ic-l a,.ic-r a{color: #06C}
.hak-p{line-height:20px;font-family:verdana;text-align:justify;text-indent:40px;margin:0px auto
}
/**/
.tmenu{display:inline;float:right}
.tmenu li{display:inline-block;margin:0px 3px;float:left;zoom:1}
.tmenu-cnt{float:right;margin-right:10px}
.imgprf{height:25px;width:25px;border:1px solid #CAD8E6;vertical-align:middle;padding:1px;margin-right:5px}
.imgprfa{display:inline-block;padding:3px 8px 2px 8px}
.imgprfa:hover{text-decoration:none;background:#F2F5F9}
/**/
.kr-ozet li{background:#F7F7F7;margin-bottom: 20px;border: 1px solid #D9DFEA;padding: 10px}
.kr-ozet li h4{font-size: 90%;color:#7DB72F;padding-bottom:5px;border-bottom:1px solid #DADADA}
.kr-ozet-d{border-top:2px solid white;padding-top:7px;line-height:19px}
.sp1{color:Orange;font-weight:bold;font-size:90%}
.a-bar:hover{background:#EDEDF3}
/* */ 
.prf-footer-cnt{width:980px;margin:0px auto 0px auto;background:#E5ECF2;padding-top:10px}
.prf-footer{background: white;padding:10px}
.prf-foo-menu-d{float:right;margin-right:10px}
.prf-foo-menu-d ul{display:inline-block}
.prf-foo-menu-d ul li {display:inline-block;margin-right:13px;border-left: 1px dotted #A9C0D6;padding-left: 15px;zoom: 1;*display:inline;}
.prf-foo-menu-d a{color:#06C}
/* */
.kur-cnt{border-top:1px solid #BED0DE;padding-top:20px;margin-bottom:30px}
.kur-cnt h1{font-size:25px;line-height:25px;margin-bottom:15px;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.kur-menu{float:left;width:150px;height:600px;margin-right:50px;background:#E5ECF2;padding:10px}
.menu-ul{}
.menu-ul li{border-top:1px solid white;border-bottom:1px solid #BED0DE;padding:5px 0px 5px 10px}
.kurumdiv p{padding:0px 0px 0px 20px;margin-bottom:20px;line-height:22px;text-align:justify;}
.kurumdiv{margin-top:30px}
.kurumdiv h2{margin-bottom:10px}

.lescard-footer-cnt{padding:5px 0px;border-top: 1px solid #A9C0D6;background:white}
.lescard-footer{margin:0px auto 0px auto}
.lescard-footer-ul{float:right;display:inline;color:#383838}
.lescard-footer-ul li{display:inline-block;margin-left:20px;font-size:11px;zoom: 1;*display:inline;}
.iletisim strong{display: inline-block;width: 80px}
.kar-ic{width:600px;margin: 0px auto}
.kar-ic h3{font-size:90%;color:#036;border-bottom:1px dotted #036;padding-bottom:5px}
.copyright{float:left;font-size:11px;color:#9A9A9A}
.copyright strong{font-size:11px}
.orangespan{color:#fef4e9;border:solid 1px #da7c0c;background: #f78d1d;
background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20')}
/* button 
---------------------------------------------- */
.button, .lbtn {
display: inline-block;
display: inline;
vertical-align: baseline;
outline: none;
text-align: center;
text-decoration: none;
box-shadow: 0 1px 2px rgba(0,0,0,.2);
padding:2px 5px;
}
.button:hover {text-decoration: none;}
.bigrounded { -webkit-border-radius: 2em; -moz-border-radius: 2em; border-radius: 2em}
.medium { font-size: 12px;padding: .4em 1.5em .42em}
.small {font-size: 13px;padding: .1em .1em .2em .1em}

.lbtn .sagok{background: no-repeat url(/content/pr-sprite.png) 0px 4px;padding: 0px 4px 0px 11px;font-size:11px}
.mego{background: url(/content/pr-sprite.png) no-repeat -17px -76px;width:12px;height:10px;padding:0px 4px 0px 15px;}
/* black */
.black {
border: solid 1px #B7B7B7;
background: white;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
background: -moz-linear-gradient(top, white, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.black:hover {
border: solid 1px #B7B7B7;
background: white;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
background: -moz-linear-gradient(top, white, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.white {
	color: #444;
	border: solid 1px #b7b7b7;
	background: #EDEDED;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.orange {color: #fef4e9;border: solid 1px #da7c0c;background: #f78d1d;background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {background: #f47c20;background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.red 
{
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.lightblue
{
    color:#5584AE;
    border:1px solid #B9CBDB;
    background: #DDE6EF;
	background: -webkit-gradient(linear, left top, left bottom, from(#EFF3F8), to(#CCDAE6));
	background: -moz-linear-gradient(top,  #EFF3F8,  #CCDAE6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFF3F8', endColorstr='#CCDAE6');
}

.lightblue:hover{background:#EFF3F8}
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
input[type="text"], 
input[type="password"],textarea {
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 12px;
    font-family:Verdana;
    color: #444;
    }
select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 11px;
    color: #444;
}
input[type="submit"] {
    font-size: .9em;
    padding: 5px;
}