@charset "shift_jis";
/* Updated 2016/07/27,T */
/* Updated 2015/12/14,T */
/* Updated 2015/09/30,T */


/*-------------------------------------------
Slide Menu
-------------------------------------------*/
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li .categoryBlock dd[aria-expanded="false"] {
	/*display: none;*/
}

#drawerMenu {
	position: relative;
}
/*
#drawerMenu #spDrawerMenu {
	background: #f6f6f6;
	position: absolute;
	top: 0;
	right: 0;
	width: 275px;
	height: 100%;
	z-index: 1001;
}
*/

.drawer-open #spDrawerMenu {
	right: 0;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
#spDrawerMenu {
	display: block;
	position: fixed;
	z-index: 9999;
	top: 0;
	overflow: hidden;
	width: 275px;
	height: 100%;
	right: -275px;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: -o-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transform: translate3d(87%, 0px, 0px);
	transform: translate3d(87%, 0px, 0px);
	background: #f6f6f6;
}

#drawerMenu #spDrawerMenu > nav > dl > dt {
	padding: 10px;
	background: #004831;
	color: #fff;
	font-weight: bold;
}

#drawerMenu #spDrawerMenu .menuTop {
	position: relative;
	padding: 9px 10px 8px;
}
#drawerMenu #spDrawerMenu .menuTop .searchBox02 {
	width: 210px;
}
#drawerMenu #spDrawerMenu .menuTop .drawerClose a {
	position: absolute;
	top: 14px;
	right: 18px;
	display: block;
	padding-top: 22px;
	background: url(/kojin/common/images/btn_close02.png) 50% 0 no-repeat;
	-ms-background-size: 18px 18px;
	-moz-background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	color: #333;
	font-size: 0.714em;
	font-weight: bold;
}

#drawerMenu #spDrawerMenu .menuBottom {
	padding: 12px 10px;
	background: #dfdfdf;
}
#drawerMenu #spDrawerMenu .menuBottom a {
	display: block;
	padding: 8px 10px;
	background: #fff;
	font-weight: bold;
	text-align: center;
}
#drawerMenu #spDrawerMenu .menuBottom a span {
	display: inline-block;
	padding-left: 24px;
	background: url(/kojin/common/images/btn_close02.png) 0 48% no-repeat;
	-ms-background-size: 12px 12px;
	-moz-background-size: 12px 12px;
	-webkit-background-size: 12px 12px;
	background-size: 12px 12px;
	color: #333;
}

#drawerMenu #spDrawerMenu .spFaqBtn {
	display: table;
	width: 275px;
	border: solid 1px #ccc;
	border-width: 0 0 1px 0;
}
#drawerMenu #spDrawerMenu .spFaqBtn a {
	display: table-cell;
	height: 4.2em;
	padding-right: 10px;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
}


#drawerMenu #spDrawerMenu [class*="drawerMenuList"] li {
	display: table;
	float: left;
	width: 137px;
	border: solid 1px #ccc;
	border-width: 0 0 1px 0;
}

#drawerMenu #spDrawerMenu [class*="drawerMenuList"] li {
	display: table;
	float: left;
	width: 137px;
	border: solid 1px #ccc;
	border-width: 0 0 1px 0;
}
#drawerMenu #spDrawerMenu [class*="drawerMenuList"] li:nth-child(2n+1) {
	border-width: 0 1px 1px 0;
}
#drawerMenu #spDrawerMenu [class*="drawerMenuList"] li a {
	display: table-cell;
	height: 4.2em;
	padding-right: 10px;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
}

#drawerMenu #spDrawerMenu .drawerMenuList01 li a,
#drawerMenu #spDrawerMenu .spFaqBtn a {
	padding-left: 35px;
}

#drawerMenu #spDrawerMenu .spFaqBtn a {
	background: url(/kojin/common/images/icon_header_faq_sp.png) 10px 50% no-repeat;
	-ms-background-size: 17px 19px;
	-moz-background-size: 17px 19px;
	-webkit-background-size: 17px 19px;
	background-size: 17px 19px;
}


#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmStore a {
	background: url(/kojin/common/images/ico_dmenu01.png) 10px 50% no-repeat;
	-ms-background-size: 17px 19px;
	-moz-background-size: 17px 19px;
	-webkit-background-size: 17px 19px;
	background-size: 17px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmAdvice a {
	background: url(/kojin/common/images/ico_dmenu02.png) 10px 50% no-repeat;
	-ms-background-size: 19px 19px;
	-moz-background-size: 19px 19px;
	-webkit-background-size: 19px 19px;
	background-size: 19px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmDocument a {
	background: url(/kojin/common/images/ico_dmenu03.png) 10px 50% no-repeat;
	-ms-background-size: 17px 19px;
	-moz-background-size: 17px 19px;
	-webkit-background-size: 17px 19px;
	background-size: 17px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmQa a {
	background: url(/kojin/common/images/ico_dmenu04.png) 10px 50% no-repeat;
	-ms-background-size: 18px 19px;
	-moz-background-size: 18px 19px;
	-webkit-background-size: 18px 19px;
	background-size: 18px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmContact a {
	background: url(/kojin/common/images/ico_dmenu05.png) 10px 50% no-repeat;
	-ms-background-size: 17px 19px;
	-moz-background-size: 17px 19px;
	-webkit-background-size: 17px 19px;
	background-size: 17px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmCommission a {
	background: url(/kojin/common/images/ico_dmenu06.png) 10px 50% no-repeat;
	-ms-background-size: 18px 19px;
	-moz-background-size: 18px 19px;
	-webkit-background-size: 18px 19px;
	background-size: 18px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmRate a {
	background: url(/kojin/common/images/ico_dmenu07.png) 10px 50% no-repeat;
	-ms-background-size: 17px 19px;
	-moz-background-size: 17px 19px;
	-webkit-background-size: 17px 19px;
	background-size: 17px 19px;
}
#drawerMenu #spDrawerMenu .drawerMenuList01 li.dmNav a {
	background: url(/kojin/common/images/ico_dmenu08.png) 10px 50% no-repeat;
	-ms-background-size: 18px 19px;
	-moz-background-size: 18px 19px;
	-webkit-background-size: 18px 19px;
	background-size: 18px 19px;
}

#drawerMenu #spDrawerMenu .drawerMenuList02 li a {
	padding-left: 25px;
	background: url(/kojin/common/images/ico_arrow_green08.png) 9px 48% no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
}


#drawerMenu #spDrawerMenu a {
	text-decoration: none;
}
#drawerMenu #spDrawerMenu .firstHierarchy > li:first-child {
	border-top: solid 1px #ccc;
}
#drawerMenu #spDrawerMenu .globalBlock > dt {
	position: relative;
}
#drawerMenu #spDrawerMenu .globalBlock > dt > a {
	display: block;
	padding: 15px 33px 15px 15px;
	background: url(/kojin/common/images/ico_open03.png) 95% 50% no-repeat;
	-ms-background-size: 18px 18px;
	-moz-background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	border-bottom: solid 1px #ccc;
	color: #333;
	font-weight: bold;
}
#drawerMenu #spDrawerMenu .globalBlock > dt.open > a {
	background: #fff url(/kojin/common/images/ico_close03.png) 95% 50% no-repeat;
	-ms-background-size: 18px 18px;
	-moz-background-size: 18px 18px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
	border-bottom: 0;
}
#drawerMenu #spDrawerMenu .globalBlock > dt > a > span {
	font-size: 1.143em;
 	color: #063;
 	font-weight: bold;
}
#drawerMenu #spDrawerMenu .globalBlock > dt > a > span:after {
	right: 15px;
}
#drawerMenu #spDrawerMenu .firstHierarchy > li {
/*	border-bottom: 1px solid #049147;*/
}
#drawerMenu #spDrawerMenu .firstHierarchy > li > a {
	display: block;
	position: relative;
	padding: 15px 33px 15px 28px;
	font-size: 1.143em;
	color: #063;
	font-weight: bold;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy {
	background: #fff;
	padding: 0 10px 7px;
	border-bottom: solid 1px #ccc;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li {
	margin-bottom: 5px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy li.categoryBlock {
	display: table;
	width: 100%;
	border: solid 1px #ccc;
	border-width: 1px;
	background: #fff;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy li.categoryBlock > a {
	display: table-cell;
	position: relative;
	width: 100%;
	height: 3.4em;
	padding: 0 14px 0 29px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f6f6f6 url(/kojin/common/images/ico_arrow_green08.png) 14px 48% no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy li.categoryBlock > a.pcLink01 {
	background: #f6f6f6 url(/kojin/common/images/ico_pc07.png) 6px 48% no-repeat;
	-ms-background-size: 16px 15px;
	-moz-background-size: 16px 15px;
	-webkit-background-size: 16px 15px;
	background-size: 16px 15px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy li.categoryBlock > a.blankLink01 {
	background: #f6f6f6 url(/kojin/common/images/ico_blank04.png) 6px 48% no-repeat;
	-ms-background-size: 15px 15px;
	-moz-background-size: 15px 15px;
	-webkit-background-size: 15px 15px;
	background-size: 15px 15px;
}

#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt {
	display: table;
	width: 100%;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt > a {
	display: table-cell;
	position: relative;
	width: 100%;
	height: 3.4em;
	padding: 0 14px 0 29px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f6f6f6 url(/kojin/common/images/ico_arrow_green08.png) 14px 48% no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
	color: #333;
	font-weight: bold;
	vertical-align: middle;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock.open > a {
	background: #a0c81e url(/kojin/common/images/ico_arrow_white02.png) 14px 48% no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
	color: #fff;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt.open > a {
	background: #a0c81e url(/kojin/common/images/ico_arrow_white02.png) 14px 48% no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
	color: #fff;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt > a.pcLink01 {
	background: #f6f6f6 url(/kojin/common/images/ico_pc07.png) 6px 48% no-repeat;
	-ms-background-size: 16px 15px;
	-moz-background-size: 16px 15px;
	-webkit-background-size: 16px 15px;
	background-size: 16px 15px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt.open > a.pcLink01 {
	background: #a0c81e url(/kojin/common/images/ico_pc08.png) 6px 48% no-repeat;
	-ms-background-size: 16px 15px;
	-moz-background-size: 16px 15px;
	-webkit-background-size: 16px 15px;
	background-size: 16px 15px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .categoryBlock > dt > a.blankLink01 {
	background: #f6f6f6 url(/kojin/common/images/ico_blank04.png) 6px 48% no-repeat;
	-ms-background-size: 15px 15px;
	-moz-background-size: 15px 15px;
	-webkit-background-size: 15px 15px;
	background-size: 15px 15px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li > dl {
	border: solid 1px #ccc;
	border-width: 1px;
	background: #fff;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy {
	margin: 0 10px;
	border-top: solid 2px #ccc;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy:first-child {
	border-top: 0;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li > a {
	display: block;
	padding: 8px 18px;
	border-top: solid 1px #ccc;
	color: #333;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li:first-child > a {
	border-top: 0;
}
@media screen and (max-width: 767px) {
	a:hover > img,
	a.imgOpacity:hover img,
	a:hover > img.imgOpacityImg,
	a.noImgOpacity:hover img.imgOpacityImg {
		filter:alpha(opacity=100) !important;
	    -moz-opacity: 1.0 !important;
	    opacity: 1.0 !important;
	}
	body {
		min-width: 0;
	}
	/*-------------------------------------------
	Header
	-------------------------------------------*/
	header[role="banner"] #headerTop,
	header[role="banner"] #urgencyBox,
	header[role="banner"] #spHeaderSearch .spHeaderSearchInner {
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header[role="banner"] {
		/*padding-bottom: 10px;*/
		border-bottom: solid 3px #a0c81e !important;
	}
	header[role="banner"] #headerTop {
		padding: 0 10px;
	}
	header[role="banner"] #headerInner {
		padding-top: 0;
	}
	header[role="banner"] #headerTop {
		display: table;
		width: 100%;
		height: 53px;
		margin-bottom: 4px;
		padding-bottom: 0;
	}
	header[role="banner"] #headerTop:before {
		display: none;
	}
	header[role="banner"] #headerTop > * {
		display: table-cell;
		vertical-align: middle;
	}
	header[role="banner"] #headerInner .logoWrap {
		float: none;
		width: 130px;
		margin-bottom: 5px;
	}
	header[role="banner"] #headerInner .logoWrap > * {
		padding-left: 0;
	}
	header[role="banner"] #headerInner .logoWrap a {
		display: inline-block;
		width: 130px;
		height: 36px;
		background: url(/kojin/common/images/logo_sp01.png) 0 0 no-repeat;
		-ms-background-size: 130px 36px;
		-moz-background-size: 130px 36px;
		-webkit-background-size: 130px 36px;
		background-size: 130px 36px;
		text-indent: -9999px;
	}
	header[role="banner"] #headerInner {
		width: auto;
		border-top: 5px solid #94cb10;
	}
	header[role="banner"] #headerInner .financialCode {
		display: block;
		padding-left: 30px;
		position: static;
		border: none;
		color: #000;
	}
	header[role="banner"] #headerInner #spHeaderMenu > ul {
		margin-top: 6px;
		padding-right: 0;
	}
	header[role="banner"] #headerInner #spHeaderMenu,
	header[role="banner"] #headerInner #spHeaderMenu > ul > li > div {
		display: block !important;
	}
	header[role="banner"] #headerInner #spHeaderMenu span {
		text-decoration: none;
	}
	header[role="banner"] #headerInner .glyphPc03 {
		display: inline-block;
		padding: 5px 4px 6px !important;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: #fa8200;
		box-shadow: #e27500 0px -2px inset;
		-webkit-box-shadow: #e27500 0px -2px inset;
		-moz-box-shadow: #e27500 0px -2px inset;
		box-shadow: #e27500 0px -2px inset;
		text-align: center;
		font-weight: bold;
		line-height: 1;
	}
	header[role="banner"] #headerInner .glyphPc03 span {
		display: inline-block;
		padding: 0 !important;
		color: #fff;
		line-height: 1;
	}
	header[role="banner"] #headerGuide,
	header[role="banner"] #gnavArea,
	header[role="banner"] .infoNav,
	header[role="banner"] #headerLink,
	header[role="banner"] #headerInfo,
	header[role="banner"] #categoryNav,
	header[role="banner"] #dropDownNav {
		display: none !important;
	}
	header[role="banner"] #headerInner .headerLeft {
		width: 60%;
	}
	header[role="banner"] #headerInner .headerRight {
		width: 40%;
		margin-top: 0;
	}
	header[role="banner"] #spHeaderSearch {
		display: block;
	}

/*-------------------------------------------
Footer
-------------------------------------------*/
	#pageTop {
		right: 10px;
		width: 53px;
		height: 53px;
	}
	footer[role="contentinfo"] {
		min-width: 0;
	}
	footer[role="contentinfo"] #snsArea > dl,
	footer[role="contentinfo"] #footerInfo,
	footer[role="contentinfo"] #footerNav > nav {
		width: 100%;
	}

	footer[role="contentinfo"] #footerSpSearch01 {
		padding: 18px 10px;
		background: #fff;
	}

	footer[role="contentinfo"] #snsArea > dl {
		display: none;
	}
	footer[role="contentinfo"] #snsArea .spFooterSnsList {
		display: block;
		font-size: 0;
		text-align: center;
	}
	footer[role="contentinfo"] #snsArea .spFooterSnsList > li {
		display: inline-block;
		margin-right: 20px;
	}
	footer[role="contentinfo"] #snsArea .spFooterSnsList > li:last-child {
		margin-right: 0;
	}
	footer[role="contentinfo"] #footerInfo {
		padding-top: 0;
	}
	footer[role="contentinfo"] #footerInfo #smbcInfo > dt {
		margin-bottom: 10px;
		padding-right: 0;
		display: block;
		font-weight: bold;
	}
	footer[role="contentinfo"] #footerInfo #smbcInfo > dd > dl {
		display: table;
		width: 100%;
		margin-left: 0;
		table-layout: fixed;
		margin-bottom: 7px;
		font-size: 11px;
	}
	footer[role="contentinfo"] #footerInfo #smbcInfo > dd > dl > * {
		display: table-cell;
		vertical-align: top;
	}
	footer[role="contentinfo"] #footerInfo #smbcInfo > dd > dl > dt {
		width: 8em;
	}
	footer[role="contentinfo"] #footerInfo #smbcInfo > dd > dl > dt span {
		display: inline-block;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	footer[role="contentinfo"] #footerNav {
		display: none;
		padding: 0;
	}
	footer[role="contentinfo"] #footerNav > nav > div {
		float: none;
		width: auto;
		margin-left: 0;
	}
	footer[role="contentinfo"] #footerNav > nav > div > ul > li > a {
		display: block !important;
		margin: 0;
		padding: 12px 10px 11px 32px !important;
		border-bottom: solid 1px #c1c1c1;
		background: #f6f6f6 url(/kojin/common/images/ico_arrow_glay01.png) 15px 50% no-repeat;
		-ms-background-size: 7px 10px;
		-moz-background-size: 7px 10px;
		-webkit-background-size: 7px 10px;
		background-size: 7px 10px;
		color: #004831;
		font-size: 1.0em;
		font-weight: normal;
		text-decoration: none;
	}
	footer[role="contentinfo"] #footerNav > nav > div > ul ul,
	footer[role="contentinfo"] #footerNav #footerSearch01,
	footer[role="contentinfo"] #footerNav > nav > div > p {
		display: none;
	}

	footer[role="contentinfo"] #spFooterNav,
	footer[role="contentinfo"] #footerInfo #pcSite,
	footer[role="contentinfo"] #spFooterSearch {
		display: block;
	}
	footer[role="contentinfo"] #spFooterNav > ul {
		border-top: 1px solid #ccc;
		font-size: 0;
	}
	footer[role="contentinfo"] #spFooterNav > ul > li {
		display: inline-block;
		width: 50%;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-size: 13px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	footer[role="contentinfo"] #spFooterNav > ul > li:nth-child(even) {
		border-right: none;
	}
	footer[role="contentinfo"] #spFooterNav > ul > li > a {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		padding: 19px 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	footer[role="contentinfo"] #footerSegment {
		display: none;
	}

	footer[role="contentinfo"] #footerInfo .infoNav,
	footer[role="contentinfo"] #footerInfo #pcSite,
	footer[role="contentinfo"] #footerInfo #smbcInfo,
	footer[role="contentinfo"] #footerInfo .smbcGroup {
		margin: 0 10px;
	}
	footer[role="contentinfo"] #footerInfo .infoNav {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	footer[role="contentinfo"] #footerInfo .infoNav > ul {
		width: auto;
	}
	footer[role="contentinfo"] #footerInfo .infoNav > ul > li {
		margin-right: 5px;
		line-height: 2.0;
	}
	footer[role="contentinfo"] #footerInfo .infoNav > ul > li:before {
		content: "";
		display: inline-block;
		position: static;
		width: 1px;
		height: 1em;
		margin: 0 9px 0 0;
		background: #c9c9c9;
		vertical-align: -0.1em;
	}
	footer[role="contentinfo"] #footerInfo .infoNav > ul > li:last-child:after {
		content: "";
		display: inline-block;
		position: static;
		width: 1px;
		height: 1em;
		margin: 0 0 0 5px;
		background: #c9c9c9;
		vertical-align: -0.1em;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo > * {
		float: none;
		width: auto;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo:after {
		content: "";
	}
	footer[role="contentinfo"] #footerInfo #copyRight {
		float: none;
		width: auto;
		margin: 0 10px 10px;
		text-align: center;
		word-break: keep-all;
	}
	footer[role="contentinfo"] #footerInfo #footerLogo {
		float: none;
		text-align: center;
		margin: 0 10px 60px;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo .smbcGroup {
		display: table;
		margin-bottom: 20px;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo .smbcGroup > * {
		display: table-cell;
		vertical-align: middle;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo .smbcGroup > dt #svgGroup {
		width: 94px;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo .smbcGroup  dd > ul > li {
		margin-right: 0;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo .smbcGroup > dd a {
		display: block;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo .smbcGroup > dd #svgSmbc {
		width: 45px;
	}
	footer[role="contentinfo"] #footerInfo #smbcGroupInfo #copyRight {
		padding: 15px 0;
		background: #049849;
		text-align: center;
		color: #fff;
		font-size: 0.857em;
	}
	/*-------------------------------------------
	TopicPath
	-------------------------------------------*/
	#topicPath {
		display: none;
	}


	/*-------------------------------------------
	Main Area
	-------------------------------------------*/
	#wrap #mainArea main > section > section,
	#wrap #mainArea main .contentBlockWrap {
		margin-top: 20px;
	}
	#wrap #mainArea,
	#wrap #mainArea main,
	#wrap #mainArea #sideNav {
		width: 100% !important;
		float: none !important;
	}
	#wrap #mainArea {
		margin-top: 0;
		margin-bottom: 0;
	}
	#wrap #mainArea main {
		padding: 0 10px 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.bnrArea01 {
		background: #fffbea;
		padding: 15px 10px;
	}

	/*-------------------------------------------
	Main Area
	-------------------------------------------*/
	#sideNav .guideArea {
		margin-bottom: 0;
		padding: 15px 10px;
		border-top: 1px solid #ccc;
		border-right: none;
		border-bottom: none;
		border-left: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		background: #fffbea;
	}
	#sideNav .guideArea > * {
		margin-bottom: 15px;
		padding: 10px;
		background: #fff;
		text-align: center;
		border: 1px solid #ccc !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
	}
	#sideNav .loginAreaTop {
		display: table;
		width: 100%;
	}
	#sideNav .loginAreaTop > * {
		display: table-cell;
		vertical-align: middle;
	}
	#sideNav .loginAreaTop h2 {
		width: 90px;
		padding: 0 15px;
	}
	#sideNav .loginAreaTop a {
		width: auto;
		padding-right: 0;
	}
	#sideNav .subNav {
		margin: 0;
		padding: 0;
		background: #04984a;
	}
	#sideNav .subNav .subCategoryTitle > * {
		border-top: solid 1px #c1c1c1;
		font-weight: normal;
	}
	#wrap #sideNav .subNav .subCategoryTitle > *,
	#wrap #sideNav .subNav .secondHierarchy a,
	#wrap #sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a,
	#wrap #sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a {
		display: block;
		margin: 0;
		padding: 12px 10px 11px 32px;
		border-bottom: solid 1px #c1c1c1;
		background: #f6f6f6 url(/kojin/common/images/ico_arrow_glay01.png) 15px 50% no-repeat;
		-ms-background-size: 7px 10px;
		-moz-background-size: 7px 10px;
		-webkit-background-size: 7px 10px;
		background-size: 7px 10px;
		color: #004831;
		font-size: 1.0em;
		font-weight: normal;
	}
	#sideNav .subNav .subCategoryDetail {
		padding: 0;
	}
		#sideNav .subNav .subCategoryDetail,
	#sideNav .subNav .subCategoryDetail .secondHierarchy > li {
		border: none;
	}
	#sideNav .sideInfo {
		margin-right: 10px;
		margin-left: 10px;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy {
		border-top: 0;
	}
	#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy {
		display: none;
	}

	/*-------------------------------------------
	TopPage
	-------------------------------------------*/
	body.categpryTop #wrap #mainArea {
		margin-top: 0;
		padding-top: 0;
	}

	/*-------------------------------------------
	Template
	-------------------------------------------*/
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1 {
		width: 100%;
		margin-bottom: 10px;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoThree,
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoTwo {
		display: table;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoThree > *,
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoTwo > * {
		display: table-cell;
		vertical-align: middle;
		padding-left: 2%;
		margin-left: 0;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoThree > * {
		width: 32.5%;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoTwo > * {
		width: 49%;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoThree > *:first-child,
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1.logoTwo > *:first-child  {
		padding-left: 0;
	}
	.simpleTempelate header[role="banner"] #headerInner .logoWrap > h1 img {
		width: auto;
		display: inline;
		vertical-align: middle;
	}
	/*-------------------------------------------
	Popup
	-------------------------------------------*/
	.popup #spHeaderMenu {
		visibility: hidden;
	}


}