@charset "shift_jis";
/* Updated 2016/07/05,T */
/* Updated 2016/03/14,T */
/* Updated 2015/12/14,T */
/* Updated 2015/09/30,T */

@media screen and (max-width: 767px) {
	/*icon pdf*/
	.iconPdf > span:after {
		width: 15px;
		height: 16px;
		-ms-background-size: 15px 16px;
		-moz-background-size: 15px 16px;
		-webkit-background-size: 15px 16px;
		background-size: 15px 16px;
	}

	*[class*=" btnT"][class^="glyph"].btnWFull > span,
	*[class^="btnT"][class*=" glyph"].btnWFull > span,
	*[class*=" btnT"][class*=" glyph"].btnWFull > span {
		padding-left: 24px !important;
	}
	
	*[class*="btnT"].glyphStore02 > span,
	*[class*="btnT"].glyphPc05 > span,
	*[class*="btnT"].glyphTel02 > span,
	*[class*="btnT"].glyphDoc01 > span {
		padding-left: 0 !important;
	}
	
	*[class*="btnT"].glyphStore02 {
		padding-left: 55px !important;
	}
	*[class*="btnT"].glyphPc05 {
		padding-left: 72px !important;
		padding-right: 10px !important;
	}
	*[class*="btnT"].glyphTel02 {
		padding-left: 61px !important;
		padding-right: 10px !important;
	}
	
	.glyphStar > span:before {
		content: "";
		width: 17px;
		height: 16px;
		margin-top: -8px !important;
		background: url(/kojin/common/images/ico_star01.png) 0 0 no-repeat;
		-ms-background-size: 17px 16px;
		-moz-background-size: 17px 16px;
		-webkit-background-size: 17px 16px;
		background-size: 17px 16px;
	}
	.glyphPc01 > span:before {
		left: 10px;
		width: 18px;
		height: 17px;
		margin-top: -8px !important;
		background: url(/kojin/common/images/ico_pc01.png) 0 0 no-repeat;
		-ms-background-size: 18px 17px;
		-moz-background-size: 18px 17px;
		-webkit-background-size: 18px 17px;
		background-size: 18px 17px;
	}
	.glyphAntenna01,
	.glyphTel01,
	.glyphPc02 {
		min-height: 30px;
		margin-top: 10px;
	}
	.glyphAntenna01 > span,
	.glyphTel01 > span,
	.glyphPc02 > span {
		padding-left: 36px !important;
	}
	.glyphPc02 > span:before {
		content: "";
		width: 30px;
		height: 30px;
		margin-top: -15px !important;
		background: url(/kojin/common/images/ico_pc02.png) 0 0 no-repeat;
		-ms-background-size: 30px 30px;
		-moz-background-size: 30px 30px;
		-webkit-background-size: 30px 30px;
		background-size: 30px 30px;
	}
	.glyphPc03 > span:before {
		content: "";
		position: static;
		display: block;
		width: 20px;
		height: 20px;
		margin: 0 auto 4px !important;
		background: url(/kojin/common/images/ico_pc03.png) 0 0 no-repeat;
		-ms-background-size: 20px 20px;
		-moz-background-size: 20px 20px;
		-webkit-background-size: 20px 20px;
		background-size: 20px 20px;
		line-height: 1;
	}
	#wrap .glyphPc04 > span {
		padding-left: 45px !important;
	}
	
	.glyphTel01 > span:before {
		content: "";
		width: 30px;
		height: 30px;
		margin-top: -15px !important;
		background: url(/kojin/common/images/ico_tel01.png) 0 0 no-repeat;
		-ms-background-size: 30px 30px;
		-moz-background-size: 30px 30px;
		-webkit-background-size: 30px 30px;
		background-size: 30px 30px;
	}
	.glyphMobile02 > span:before {
		left:15px !important;
	}
	.glyphAntenna01 > span:before {
		content: "";
		width: 30px;
		height: 30px;
		margin-top: -15px !important;
		background: url(/kojin/common/images/ico_antenna01.png) 0 0 no-repeat;
		-ms-background-size: 30px 30px;
		-moz-background-size: 30px 30px;
		-webkit-background-size: 30px 30px;
		background-size: 30px 30px;
	}
	.glyphAttention01 > span,
	.glyphAttention02 > span,
	.glyphAttention03 > span {
		padding-left: 30px;
	}
	#wrap .glyphAttention01 > span:before,
	#wrap .glyphAttention03 > span:before {
		top: 0.2em;
	}
	#wrap .accSwitch .glyphAttention01 > span:before,
	#wrap .accSwitch .glyphAttention03 > span:before {
		top: 0;
	}
	.glyphBeginner02 > span:before {
		left: 25px;
	}
	.btnT02.glyphBeginner02 > span,
	.btnT08.glyphBeginner02 > span, {
		/* display: block; */
	}
	.categoryNav a > span:before,
	.categoryNav a > dl > dt:before,
	.categoryNav02 a > span:before,
	.categoryNav02 a > dl > dt:before {
		left: 3px;
	}
	.categoryNav a > dl > dt,
	.categoryNav02 a > dl > dt {
		padding-bottom: 5px;
	}
	.categoryNav a > dl > dd,
	.categoryNav02 a > dl > dd {
		padding: 0 7px 7px;
	}
	.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselPrev:before {
		top: 7px !important;
	}
	.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselNext:before {
		top: 7px !important;
		right: 0 !important;
	}
	.glyphAttention01 > span:before,
	.glyphAttention02 > span:before,
	.glyphAttention03 > span:before {
		top: 0 !important;
	}
	footer[role="contentinfo"] #footerNav > nav > div > ul > li > a:before,
	footer[role="contentinfo"] #footerNav > nav > div > ul ul a:before {
		display: none !important;
	}

	.iconServiceWrap {
		display: inline-block;
		margin-right: 10px;
	}
	.iconService {
		width: 30px;
		height: 30px;
	}
	
	.h3Title01 .iconWrap.spIconDrop {
		float: none;
	}
	.h3Title01 .iconWrap.spIconDrop > span {
		margin-bottom: 10px;
	}
	#wrap .tableLiquid02 .glyphAttention01 > span:before {
		content: "";
		top: 0.1em;
		width: 16px;
		height: 13px;
		background: url(/hojin/common/images/ico_attention01.png) 0 0 no-repeat;
		-ms-background-size: 16px 13px;
		-moz-background-size: 16px 13px;
		-webkit-background-size: 16px 13px;
		background-size: 16px 13px;
	}
	.tableLiquid02 .glyphAttention01 > span,
	.tableLiquid02 .glyphAttention02 > span,
	.tableLiquid02 .glyphAttention03 > span {
		padding-left: 20px;
	}
	.iconQuestion02 > span,
	#wrap .glyphQuestion01 > span {
		padding-left: 15px;
		background: url(/hojin/common/images/ico_question02.png) 0 50% no-repeat;
		-ms-background-size: 11px 11px;
		-moz-background-size: 11px 11px;
		-webkit-background-size: 11px 11px;
		background-size: 11px 11px;
	}
	.tableLiquid02 .glyphNewWindow01 > span:before,
	.tableLiquid02 .glyphNewWindow02 > span:before,
	.tableLiquid02 .glyphNewWindow03 > span:before{
		width: 11px;
		height: 11px;
		-ms-background-size: 11px 11px;
		-moz-background-size: 11px 11px;
		-webkit-background-size: 11px 11px;
		background-size: 11px 11px;
	}
	.tableLiquid02 .iconNewWindow01 > span{
		display: inline-block;
		margin-left: 5px;
		padding-left: 12px;
		background: url(/hojin/common/images/ico_blank01.png) 0 0 no-repeat;
		-ms-background-size: 11px 11px;
		-moz-background-size: 11px 11px;
		-webkit-background-size: 11px 11px;
		background-size: 11px 11px;
	}
	.tableLiquid02 .glyphArrowLineRight > span:before {
		width: 5px;
		height: 7px;
		top: 0.5em !important;
		-ms-background-size: 5px 7px;
		-moz-background-size: 5px 7px;
		-webkit-background-size: 5px 7px;
		background-size: 5px 7px;
	}
	.tableLiquid02 .glyphOtherPage > span:before{
		content: "";
		width: 15px;
		height: 10px;
		top: 0.3em !important;
		background: url(/hojin/common/images/ico_otherpage03.png) 0 0 no-repeat;
		-ms-background-size: 15px 10px;
		-moz-background-size: 15px 10px;
		-webkit-background-size: 15px 10px;
		background-size: 15px 10px;
	}
	.tableLiquid02 .iconOtherPage01 > span {
		display: inline-block;
		margin-left: 5px;
		padding-left: 16px;
		background: url(/hojin/common/images/ico_otherpage01.png) 0 0.3em no-repeat;
		-ms-background-size: 15px 10px;
		-moz-background-size: 15px 10px;
		-webkit-background-size: 15px 10px;
		background-size: 15px 10px;
	}
	.tableLiquid02 *[class*="glyphNewWindow"] > span {
		padding-left: 16px ;
	}
	.tableLiquid02 .glyphArrowLineRight > span {
		padding-left: 7px ;
	}
	.tableLiquid02 .glyphArrowLineBottom > span,
	.tableLiquid02 .glyphArrowLineTop > span {
		padding-left: 1em ;
	}
	#wrap .tableLiquid02 [class*="btnT"][class*="glyph"] > span{
		padding-left: 34px;
	}
	#wrap .tableLiquid02 .glyphArrowLineBottom > span:before,
	#wrap .tableLiquid02 .glyphArrowLineTop > span:before {
		width: 7px;
		height: 5px;
		top: 0.6em;
		-ms-background-size: 7px 5px;
		-moz-background-size: 7px 5px;
		-webkit-background-size: 7px 5px;
		background-size: 7px 5px;
	}
	#wrap .tableLiquid02 [class*="btnT"][class*="glyph"] > span:before {
		top: 65% !important;
	}
	#wrap .tableLiquid02 [class*="btnT"].glyphArrowLineBottom > span:before,
	#wrap .tableLiquid02 [class*="btnT"].glyphArrowLineTop > span:before {
		top: 50% !important;
	}
	.dlBlock02 .title .glyphArrowLineRight > span:before,
	*[class*="fsLarger"].glyphArrowLineRight > span:before,
	*[class*="btnT"].glyphArrowLineRight.btnSLarge > span:before {
		content: "";
		width: 5px;
		height: 7px;
		margin-top: -10px !important;
		background: url(/hojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
		-ms-background-size: 5px 7px;
		-moz-background-size: 5px 7px;
		-webkit-background-size: 5px 7px;
		background-size: 5px 7px;
	}
}

