@charset "shift_jis";
/* Updated 2016/07/27,T */
/* Updated 2016/03/14,T */
/* Updated 2015/12/14,T */
/* Updated 2015/09/30,T */

/*-------------------------------------------
Base Setting
-------------------------------------------*/
@font-face {
}
/*#drawerMenu #spDrawerMenu .firstHierarchy > li > a:before,
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li > a:before,
#drawerMenu #spDrawerMenu .globalBlock > dt:before,
#drawerMenu #spDrawerMenu .categoryBlock > dt:before,
#drawerMenu #spDrawerMenu dt[role="treeitem"][aria-selected="true"] > a:after,
#drawerMenu #spDrawerMenu dt[role="treeitem"][aria-selected="false"] > a:after,
header[role="banner"] #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a:before,
*/
header[role="banner"] #categoryNav li[id^="nav"] .categoryTitle > a:before,
footer[role="contentinfo"] #footerNav > nav > div > ul > li > a:before,
footer[role="contentinfo"] #footerNav > nav > div > ul > li > span:before,
footer[role="contentinfo"] #footerNav > nav > div > ul ul a:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noLink > span:before,
/*#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a > span:before,*/
*[class^="glyph"] > span:before,
*[class^="icon"] > span:after,
*[class*=" glyph"] > span:before,
*[class*=" icon"] > span:after,
.carouselBlock01 .carouselControl > .carouselBtn li > a:before,
.linkArrowCircleRight:before,
.moreLink01 > a:before,
.boxBlock01 .title a:before,
*[class^="normalBlockA"] > .blockInner .blockDetail > span > a:before,
*[class^="normalBlockA"] > .blockInner .blockTitle > span > a:before,
*[class^="linkArrow"]:before,
*[class*=" linkArrow"]:before,
.dateBlock01 dl > dd > a:before,
.dateBlock02 dl > dd > a:before,
.listCircle01 > li:before,
.listCircle02 > li:before,
.listItem02 > ul > li > h3[role="treeitem"] a > span:after,
.linkList02 > li > a:before,
.linkList03 > li > a > span:before,
.linkList06 > li > a > span:before,
.btnPager > li > a:before,
.searchWordBlock01 dl > dd .keywordList01 li > a > span:before,
.accBlock02 [role="tab"] > a > span:before,
*[role="tablist"] > dt a > .accBtn > span:before,
*[role="tablist"] *[role="tabpanel"] .accList > li > a > span:after,
.listItem02 *[role="tab"][aria-selected="true"] > span:after,
.listItem02 *[role="tab"][aria-selected="false"] > span:after,
*[role="tablist"] *[role="tab"][aria-selected="true"] > a > span:after,
*[role="tablist"] *[role="tab"][aria-selected="false"] > a > span:after,
.carouselBlock01 .carouselControl > .carousePager > ul li > a:before,
.spTopAcc > ul > li .itemListInner .spTopLink01 > li > a:before  {
	font-family: 'icon';
	font-weight: normal;
	color: #049849;
	display: block;
	position: absolute;
	line-height: 1;
}

/*-------------------------------------------
Base Setting
-------------------------------------------*/
/*CircleArrowRight*/
/*
#drawerMenu #spDrawerMenu .firstHierarchy > li > a:before,
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li > a:before,
*/
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a:before,
footer[role="contentinfo"] #footerNav > nav > div > ul > li > a:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a > span:before,
.linkArrowCircleRight:before,
.linkList03 > li > a > span:before,
.moreLink01 > a:before,
.boxBlock01 .title a:before,
.btnPager > li.next > a:before,
.glyphArrowCircleRight > span:before,
*[class^="normalBlockA"] > .blockInner .blockDetail > span > a:before,
*[class^="normalBlockA"] > .blockInner .blockTitle > span > a:before {
	content: "\e600";
}

.glyphArrowCircleLeft > span:before,
.btnPager > li.prev > a:before {
	content: "\e601";	
}
#sideNav .subNav .subCategoryDetail .secondHierarchy dt[aria-selected="false"] .noLink > span:before,
.glyphArrowCircleBottom > span:before {
	content: "\e602";	
}
#sideNav .subNav .subCategoryDetail .secondHierarchy dt[aria-selected="true"] .noLink > span:before,
.glyphArrowCircleTop > span:before {
	content: "\e603";	
}
/*TriangleArrow*/

#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a > span:before,
.linkArrowTriangleRight:before,
.linkList02 > li > a:before,
.linkList06 > li > a > span:before,
.spTopAcc > ul > li .itemListInner .spTopLink01 > li > a:before,
.glyphArrowTriangleRight > span:before,
.searchWordBlock01 dl > dd .keywordList01 li > a > span:before,
*[role="tablist"] *[role="tabpanel"] .accList > li > a > span:after {
	content: "\e604";
	font-size: 0.85em;
}
.glyphArrowTriangleLeft > span:before {
	content: "\e605";	
}
.glyphArrowTriangleBottom > span:before,
.accBlock02 [role="tab"] > a > span:before {
	content: "\e606";	
}
.glyphArrowTriangleTop > span:before,
.accBlock02 [role="tab"][aria-selected="true"] > a > span:before {
	content: "\e607";	
}
.glyphArrowLineRight > span {
	padding-left: 1.2em !important;
	font-weight: bold;
}
*[class*="btnT"].glyphArrowLineRight > span {
	padding-left: 1.4em !important;
}
table[class^="table"] .glyphArrowLineRight > span {
	font-weight: normal;
}
#wrap .linkBox01 dt .glyphArrowLineRight > span:before,
.glyphArrowLineRight > span:before {
	content: "";
	width: 8px;
	height: 13px;
	top: 0.2em !important;
	margin-top: 0 !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
#wrap .linkBox01 dt .glyphArrowLineRight > span:before,
	top: 0 !important;
}
table .glyphArrowLineRight > span:before {
	content: "";
	width: 7px;
	height: 11px;
	top: 0.2em !important;
	margin-top: 0 !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 7px 11px;
	-moz-background-size: 7px 11px;
	-webkit-background-size: 7px 11px;
	background-size: 7px 11px;
}
*[class*="btnT"].glyphArrowLineRight > span:before {
	content: "";
	width: 8px;
	height: 13px;
	top: 50% !important;
	margin-top: -7px !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
.categoryNav a > span:before,
.categoryNav a > dl > dt:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 19px;
	width: 8px;
	height: 13px;
	margin-top: -9px !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
.categoryNav a > dl > dt:before {
	margin-top: -6px !important;
}
.categoryNav02 a > span:before,
.categoryNav02 a > dl > dt:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 13px;
	margin-right: 8px;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
.dlBlock02 .title .glyphArrowLineRight > span:before,
*[class*="fsLarger"].glyphArrowLineRight > span:before,
*[class*="btnT"].glyphArrowLineRight.btnSLarge > span:before {
	content: "";
	width: 10px;
	height: 14px;
	top: 50% !important;
	margin-top: -8px !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 10px 14px;
	-moz-background-size: 10px 14px;
	-webkit-background-size: 10px 14px;
	background-size: 10px 14px;
}
.iconArrowLineRight > span:after {
	content: "";
	width: 8px;
	height: 13px;
	margin-top: -8px !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
.iconArrowLineRight.pr40 {
	padding-right: 40px !important;
}
.glyphArrowLineLeft > span:before {
	content: "";
	width: 8px;
	height: 13px;
	top: 50% !important;
	margin-top: -7px !important;
	background: url(/kojin/common/images/ico_arrow_green04.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
.glyphCheck01 > span {
	padding-left: 30px !important;
}
.glyphCheck01 > span:before {
	content: "";
	width: 24px;
	height: 20px;
	top: 0.1em !important;
	background: url(/kojin/common/images/ico_check01.png) 0 0 no-repeat;
	-ms-background-size: 24px 20px;
	-moz-background-size: 24px 20px;
	-webkit-background-size: 24px 20px;
	background-size: 24px 20px;
}
.spCarouselArea .carouselControl a.next > span:before,
.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselNext:before {
	content: '';
	background: url(/kojin/common/images/ico_arrow_glay03.png) 0 0 no-repeat;
	width: 11px;
	height: 18px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	-ms-background-size: 11px 18px;
	-moz-background-size: 11px 18px;
	-webkit-background-size: 11px 18px;
	background-size: 11px 18px;
}
.spCarouselArea .carouselControl a.prev > span:before,
.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselPrev:before {
	content: '';
	background: url(/kojin/common/images/ico_arrow_glay02.png) 0 0 no-repeat;
	width: 11px;
	height: 18px;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	-ms-background-size: 11px 18px;
	-moz-background-size: 11px 18px;
	-webkit-background-size: 11px 18px;
	background-size: 11px 18px;
}
/*CircleArrowTop*/
/*#drawerMenu #spDrawerMenu dt[role="treeitem"][aria-selected="true"] > a:after,*/
#wrap .glyphArrowLineTop > span:before,
*[role="tablist"] *[role="tab"][aria-selected="true"] > a > span:after,
.listItem02 *[role="tab"][aria-selected="true"] > span:after {
	/*content: "\e60a";*/
	content: '';
	background: url(/kojin/common/images/ico_arrow_green03.png) 0 0 no-repeat;
	width: 13px;
	height: 8px;
	top: 0.5em;
	margin-top: 0;
	-ms-background-size: 13px 8px;
	-moz-background-size: 13px 8px;
	-webkit-background-size: 13px 8px;
	background-size: 13px 8px;
}
#wrap *[class*="btnT"].glyphArrowLineTop > span:before {
	top: 50%;
	margin-top: -4px;
}

/*LineArrowBottom*/
/*#drawerMenu #spDrawerMenu dt[role="treeitem"][aria-selected="false"] > a:after,
#drawerMenu #spDrawerMenu .globalBlock > dt[role="tab"][aria-selected="false"]:before,
#drawerMenu #spDrawerMenu .categoryBlock > dt[role="tab"][aria-selected="false"]:before,*/
#wrap .listItem02 *[role="tab"][aria-selected="false"] > span:before,
#wrap .glyphArrowLineBottom > span:before {
/*	content: "\e60b"*/
	content: '';
	background: url(/kojin/common/images/ico_arrow_green02.png) 0 0 no-repeat;
	width: 13px;
	height: 8px;
	top: 0.5em;
	margin-top: 0;
	-ms-background-size: 13px 8px;
	-moz-background-size: 13px 8px;
	-webkit-background-size: 13px 8px;
	background-size: 13px 8px;
}
#wrap *[class*="btnT"].glyphArrowLineBottom > span:before {
	top: 50%;
	margin-top: -4px;
}

/*icon pdf*/
.iconPdf > span:after {
	content: "";
	background: url(/kojin/common/images/ico_pdf02.gif) 0 0 no-repeat;
	width: 20px;
	height: 21px;
	-ms-background-size: 20px 21px;
	-moz-background-size: 20px 21px;
	-webkit-background-size: 20px 21px;
	background-size: 20px 21px;
}
/*.no-svg .iconPdf > span:after {
	content: url(/kojin/common/images/ico_pdf01.png);
	background: none;
}*/
.iconNewWindow > span:after {
	content: "\e612";
}
.iconOtherPage > span:after {
	content: "\e636";
}
.glyphFlag > span:before {
	content: "\e629";
}

.glyphMoney01 > span:before {
	content: "\e62c";
}
.glyphGraph > span:before {
	content: "\e62d";
}
.glyphQuestion > span:before {
	content: "\e62e";
}
.glyphMemo > span:before {
	content: "\e62f";
}
.glyphGps > span:before {
	content: "\e635";
}
.glyphMoble > span:before {
	content: "\e62b";
}
#wrap .glyphAttention01 > span:before {
	content: "";
	top: 0.1em;
	width: 20px;
	height: 17px;
	background: url(/kojin/common/images/ico_attention01.png);
	-ms-background-size: 20px 17px;
	-moz-background-size: 20px 17px;
	-webkit-background-size: 20px 17px;
	background-size: 20px 17px;
}

.no-svg .glyphAttention01 > span:before {
	content: url(/kojin/common/images/ico_attention01.png);
	background: none;
}
.attentionBlock01 .glyphAttention01 > span:before {
	top: 0.3em;
}
.glyphAttention02 > span:before {
	content: "";
	width: 21px;
	height: 21px;
	top: -2px !important;
	background: url(/kojin/common/images/ico_attention03.gif);
	-ms-background-size: 21px 21px;
	-moz-background-size: 21px 21px;
	-webkit-background-size: 21px 21px;
	background-size: 21px 21px;
}
#wrap .glyphAttention03 > span:before {
	content: "";
	top: 0.1em;
	width: 20px;
	height: 17px;
	background: url(/kojin/common/images/ico_attention04.png);
	-ms-background-size: 20px 17px;
	-moz-background-size: 20px 17px;
	-webkit-background-size: 20px 17px;
	background-size: 20px 17px;
}

.glyphBeginner01 > span:before {
	content: "";
	display: inline-block;
	margin-top: -11px !important;
	background: url(/kojin/common/images/ico_beginner01.png) 0 0 no-repeat;
	width: 15px;
	height: 21px;
}
.no-svg .glyphBeginner01 > span:before {
	content: url(/kojin/common/images/ico_beginner01.png);
	background: none;
}


.faqBtn > span:before {
	content: "";
	width: 26px;
	height: 29px;
	display: inline-block;
    vertical-align: top;
	background:#edf3b2 url(/kojin/common/images/icon_header_faq_pc.png) 0 0 no-repeat;
/*	-ms-background-size: 18px 20px;
    -moz-background-size: 18px 20px;
    -webkit-background-size: 18px 20px;
	background-size: 18px 20px;*/
	margin-left: 5px;
	margin-right:5px;
}



#wrap .glyphBeginner02 > span {
	padding-left: 30px !important;
}
.glyphBeginner02 > span:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 25px;
	left: 20px;
	margin-top: -11px !important;
	background: url(/kojin/common/images/ico_beginner02.png) 0 0 no-repeat;
	-ms-background-size: 18px 25px;
	-moz-background-size: 18px 25px;
	-webkit-background-size: 18px 25px;
	background-size: 18px 25px;
}
.glyphClock > span:before {
	content: "\e630";
}
.glyphStar > span:before {
	/*content: "\e631"*/
	content: "";
	width: 17px;
	height: 16px;
	margin-top: -10px !important;
	background: url(/kojin/common/images/ico_star01.png) 0 0 no-repeat;
	-ms-background-size: 17px 16px;
	-moz-background-size: 17px 16px;
	-webkit-background-size: 17px 16px;
	background-size: 17px 16px;
}
.glyphZoom01 {
	display: inline-block;
	padding-left: 20px;
	background: url(/kojin/common/images/ico_zoom01.png) 0 0 no-repeat;
}
header[role="banner"] #categoryNav li#navKojin01 .categoryTitle > a:before,
.glyphCard > span:before {
	content: "\e61e";
}
header[role="banner"] #categoryNav li#navKojin03 .categoryTitle > a:before,
.glyphDownload > span:before {
	content: "\e620";
}
header[role="banner"] #categoryNav li#navKojin04 .categoryTitle > a:before,
.glyphHeart > span:before {
	content: "\e621";
}
header[role="banner"] #categoryNav li#navKojin05 .categoryTitle > a:before,
.glyphBook > span:before {
	content: "\e622";
}
.glyphArrowRight > span:before {
	content: "\e618";	
}
.glyphFax > span:before {
	content: "\e619";
}
.glyphMenu01 > span:before {
	content: "\e63b";	
}
.glyphClose > span:before {
	content: "\e611";
	color: #999;
}
a.glyphClose:hover > span:before {
	color: #cdcdcd !important;
}
.glyphTel > span:before {
	content: "\e61b";
}
.glyphWeb > span:before {
	content: "\e60d";
}
.glyphShop > span:before {
	content: "\e61a";
}
header[role="banner"] #categoryNav li#navNenkin04 .categoryTitle > a:before,
.glyphYen > span:before {
	content: "\e60f";	
}
header[role="banner"] #categoryNav li#navNenkin05 .categoryTitle > a:before,
.glyphInfo > span:before {
	content: "\e610";	
}
.glyphFilm > span:before {
	content: "\e613";
}
.glyphPoint > span:before {
	content: "\e614";
}
.glyphCheck > span:before {
	content: "\e615";
}
.glyphProcession > span:before {
	content: "\e617";
}
.glyphBankbook > span:before {
	content: "\e61c";	
}
.glyphUser > span:before {
	content: "\e61d";	
}
header[role="banner"] #categoryNav li#navKojin02 .categoryTitle > a:before,
.glyphMoney02 > span:before {
	content: "\e61f";	
}
header[role="banner"] #categoryNav li#navHojin01 .categoryTitle > a:before,
header[role="banner"] #categoryNav li#navNenkin01 .categoryTitle > a:before,
.glyphBank > span:before {
	content: "\e623";
}
header[role="banner"] #categoryNav li#navHojin02 .categoryTitle > a:before,
.glyphGlobal > span:before {
	content: "\e624";
}
header[role="banner"] #categoryNav li#navHojin03 .categoryTitle > a:before,
.glyphBill > span:before {
	content: "\e625";
}
header[role="banner"] #categoryNav li#navHojin04 .categoryTitle > a:before,
.glyphReception > span:before {
	content: "\e626";
}
header[role="banner"] #categoryNav li#navNenkin02 .categoryTitle > a:before,
.glyphClover > span:before {
	content: "\e627";	
}
header[role="banner"] #categoryNav li#navNenkin03 .categoryTitle > a:before,
.glyphData > span:before {
	content: "\e628";	
}
.glyphLogin > span:before {
	content: "\e62a";	
}
.glyphBalloon > span:before {
	content: "\e632";
}
.glyphSecurity > span:before {
	content: "\e633";
}
.glyphPen > span:before {
	content: "\e634";
}
.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselStop:before,
.glyphStop > span:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: -13px 0 0;
	background: url(/kojin/common/images/bg_stop01.png) 0 0 no-repeat;
	-ms-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	-webkit-background-size: 32px 32px;
	background-size: 32px 32px;
}
.carouselBlock01 .carouselControl > .carouselBtn li > a.carouselPlayback:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: -13px 0 0;
	background: url(/kojin/common/images/bg_start01.png) 0 0 no-repeat;
	-ms-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	-webkit-background-size: 32px 32px;
	background-size: 32px 32px;
}
.glyphMenu02 > span:before {
	/*content: "\e639";*/
	content: "";
	position: static;
	display: block;
	width: 24px;
	height: 18px;
	margin: 0 auto;
	background: url(/kojin/common/images/ico_menu01.gif) 0 0 no-repeat;
	-ms-background-size: 24px 18px;
	-moz-background-size: 24px 18px;
	-webkit-background-size: 24px 18px;
	background-size: 24px 18px;
}
.glyphPc01 > span:before {
	/*content: "\e638";*/
	content: "";
	width: 25px;
	height: 24px;
	margin-top: -12px !important;
	background: url(/kojin/common/images/ico_pc01.png) 0 0 no-repeat;
	-ms-background-size: 25px 24px;
	-moz-background-size: 25px 24px;
	-webkit-background-size: 25px 24px;
	background-size: 25px 24px;
}
.glyphAntenna01,
.glyphTel01,
.glyphPc02 {
	display: inline-block;
	min-height: 40px;
	margin-top: 10px;
}
.glyphAntenna01 > span,
.glyphTel01 > span,
.glyphPc02 > span {
	padding-left: 50px !important;
	line-height: 1.2;
}
.glyphPc02 > span:before {
	content: "";
	top: 50% !important;
	width: 40px;
	height: 40px;
	margin-top: -20px !important;
	background: url(/kojin/common/images/ico_pc02.png) 0 0 no-repeat;
	-ms-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
*.glyphPc03 > span:before {
	content: "";
	width: 20px;
	height: 20px;
	margin-top: -10px !important;
	background: url(/kojin/common/images/ico_pc03.png) 0 0 no-repeat;
	-ms-background-size: 20px 20px;
	-moz-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}
.glyphPc04 > span:before {
	content: "";
	width: 35px;
	height: 31px;
	margin-top: -15px !important;
	background: url(/kojin/common/images/ico_pc04.png) 0 0 no-repeat;
	-ms-background-size: 35px 31px;
	-moz-background-size: 35px 31px;
	-webkit-background-size: 35px 31px;
	background-size: 35px 31px;
}
.glyphPc05 > span:before {
	content: "";
	top: 50% !important;
	left:inherit;
	right: 15px !important;
	width: 52px;
	height: 36px;
	margin-top: -21px !important;
	background: url(/kojin/common/images/ico_pc09.png) 0 0 no-repeat;
	-ms-background-size: 52px 36px;
	-moz-background-size: 52px 36px;
	-webkit-background-size: 52px 36px;
	background-size: 52px 36px;
}
.glyphMobile02 > span:before {
	content: "";
	top: 50% !important;
	left: 40px !important;
	width: 20px;
	height: 39px;
	margin-top: -20px !important;
	background: url(/kojin/common/images/ico_mobile02.png) 0 0 no-repeat;
	-ms-background-size: 20px 39px;
	-moz-background-size: 20px 39px;
	-webkit-background-size: 20px 39px;
	background-size: 20px 39px;
}
.glyphTel01 > span:before {
	content: "";
	top: 50% !important;
	width: 40px;
	height: 40px;
	margin-top: -20px !important;
	background: url(/kojin/common/images/ico_tel01.png) 0 0 no-repeat;
	-ms-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
.glyphTel02 > span:before {
	content: "";
	top: 50% !important;
	left:inherit;
	right: 15px !important;
	width: 41px;
	height: 36px;
	margin-top: -22px !important;
	background: url(/kojin/common/images/ico_tel03.png) 0 0 no-repeat;
	-ms-background-size: 41px 36px;
	-moz-background-size: 41px 36px;
	-webkit-background-size: 41px 36px;
	background-size: 41px 36px;
}
.glyphAntenna01 > span:before {
	content: "";
	top: 50% !important;
	width: 40px;
	height: 40px;
	margin-top: -20px !important;
	background: url(/kojin/common/images/ico_antenna01.png) 0 0 no-repeat;
	-ms-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
.glyphCalc01 > span:before {
	content: "";
	top: 50% !important;
	left: 25px !important;
	width: 22px;
	height: 29px;
	margin-top: -15px !important;
	background: url(/kojin/common/images/ico_calc01.png) 0 0 no-repeat;
	-ms-background-size: 22px 29px;
	-moz-background-size: 22px 29px;
	-webkit-background-size: 22px 29px;
	background-size: 22px 29px;
}

.glyphStore01 > span:before {
	content: "";
	top: 50% !important;
	left: 25px !important;
	width: 39px;
	height: 41px;
	margin-top: -22px !important;
	background: url(/kojin/common/images/ico_store01.png) 0 0 no-repeat;
	-ms-background-size: 39px 41px;
	-moz-background-size: 39px 41px;
	-webkit-background-size: 39px 41px;
	background-size: 39px 41px;
}
.btnT03.glyphStore01 > span:before {
	background: url(/kojin/common/images/ico_store02.png) 0 0 no-repeat;
	-ms-background-size: 39px 41px;
	-moz-background-size: 39px 41px;
	-webkit-background-size: 39px 41px;
	background-size: 39px 41px;
}
.glyphStore02 > span:before {
	content: "";
	top: 50% !important;
	left:inherit;
	right: 15px !important;
	width: 35px;
	height: 36px;
	margin-top: -20px !important;
	background: url(/kojin/common/images/ico_store02.png) 0 0 no-repeat;
	-ms-background-size: 35px 36px;
	-moz-background-size: 35px 36px;
	-webkit-background-size: 35px 36px;
	background-size: 35px 36px;
}

.glyphPost01 > span:before {
	content: "";
	top: 50% !important;
	left: 25px !important;
	width: 22px;
	height: 28px;
	margin-top: -11px !important;
	background: url(/kojin/common/images/ico_post01.png) 0 0 no-repeat;
	-ms-background-size: 22px 28px;
	-moz-background-size: 22px 28px;
	-webkit-background-size: 22px 28px;
	background-size: 22px 28px;
}
.btnT03.glyphPost01 > span:before {
	background: url(/kojin/common/images/ico_post02.png) 0 0 no-repeat;
	-ms-background-size: 22px 28px;
	-moz-background-size: 22px 28px;
	-webkit-background-size: 22px 28px;
	background-size: 22px 28px;
}

.glyphDoc01 > span:before {
	content: "";
	top: 50% !important;
	left:inherit;
	right: 15px !important;
	width: 33px;
	height: 36px;
	margin-top: -20px !important;
	background: url(/kojin/common/images/ico_doc01.png) 0 0 no-repeat;
	-ms-background-size: 33px 36px;
	-moz-background-size: 33px 36px;
	-webkit-background-size: 33px 36px;
	background-size: 33px 36px;
}

.glyphSearch > span:before {
	content: "\e637";
}
.glyphZip > span:before {
	content: "\e63e";
}
.glyphAtm > span:before {
	content: "\e643";
}
.glyphRing > span:before {
	content: "\e642";
}
.glyphCounter > span:before {
	content: "\e641";
}
.glyphStructure > span:before {
	content: "\e640";
}
.glyphStair > span:before {
	content: "\e63f";
}
.glyphRPoint > span:before {
	content: "\e644";
}
.glyphDoor > span:before {
	content: "\e645";
}
.glyphTie > span:before {
	content: "\e646";
}
.listCircle01 > li:before,
.listCircle02 > li:before {
	content: "\e63a";
}
*[class*="glyphNewWindow"] > span {
	padding-left: 22px !important;
}
#wrap *[class*="btnT"][class*="glyphNewWindow"] > span {
	padding-left: 35px !important;
}
*[class*="btnT"][class*="glyphNewWindow"] > span:before {
	top: 50% !important;
	margin-top: -9px;
}
.glyphNewWindow01 > span:before {
	content: "";
	width: 17px;
	height: 17px;
	top: 0.3em !important;
	background: url(/kojin/common/images/ico_blank01.png) 0 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.glyphNewWindow02 > span:before {
	content: "";
	width: 17px;
	height: 17px;
	top: 0.3em !important;
	background: url(/kojin/common/images/ico_blank02.png) 0 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.glyphNewWindow03 > span:before {
	content: "";
	width: 17px;
	height: 17px;
	top: 0.3em !important;
	background: url(/kojin/common/images/ico_blank03.png) 0 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.iconNewWindow01 > span {
	display: inline-block;
	margin-left: 5px;
	padding-left: 22px;
	background: url(/kojin/common/images/ico_blank01.png) 0 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.glyphOtherPage > span {
	padding-left: 1.8em !important;
}
.glyphOtherPage > span:before {
	content: "";
	width: 21px;
	height: 14px;
	top: 0.3em !important;
	background: url(/kojin/common/images/ico_otherpage01.png) 0 0 no-repeat;
	-ms-background-size: 21px 14px;
	-moz-background-size: 21px 14px;
	-webkit-background-size: 21px 14px;
	background-size: 21px 14px;
}
.btnT01.glyphOtherPage > span:before,
.btnT02.glyphOtherPage > span:before,
.btnT03.glyphOtherPage > span:before,
.btnT04.glyphOtherPage > span:before,
.btnT08.glyphOtherPage > span:before {
	top: 50% !important;
}
.iconOtherPage01 > span {
	display: inline-block;
	margin-left: 5px;
	padding-left: 22px;
	background: url(/kojin/common/images/ico_otherpage01.png) 0 0.3em no-repeat;
	-ms-background-size: 21px 14px;
	-moz-background-size: 21px 14px;
	-webkit-background-size: 21px 14px;
	background-size: 21px 14px;
}
h2.h2Title01 .iconNewWindow01 > span {
	margin-left: 5px;
	padding-left: 22px;
	background: url(/kojin/common/images/ico_blank01.png) 0 0.3em no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.iconNewWindow02 > span {
	margin-left: 5px;
	padding-left: 22px;
	background: url(/kojin/common/images/ico_blank02.png) 0 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.glyphAttention01.iconNewWindow02 > span,
.glyphAttention02.iconNewWindow02 > span,
.glyphAttention03.iconNewWindow02 > span {
	margin-left: 0;
	padding-left: 59px;
	background-position: 30px 0;
}
.iconNewWindow03 > span {
	margin-left: 5px;
	padding-left: 22px;
	background: url(/kojin/common/images/ico_blank03.png) 0 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}

.iconNewWindow04 > span {
	display: inline-block;
	margin-right: 5px;
	padding-right: 22px;
	background: url(/kojin/common/images/ico_blank01.png) 100% 0 no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}

.glyphPdf01 > span {
	padding-left: 25px !important;
}
.glyphPdf01 > span:before {
	content: "";
	width: 20px;
	height: 21px;
	top: 0 !important;
	background: url(/kojin/common/images/ico_pdf02.gif) 0 0 no-repeat;
	-ms-background-size: 20px 21px;
	-moz-background-size: 20px 21px;
	-webkit-background-size: 20px 21px;
	background-size: 20px 21px;
}
*[class*="btnT"].glyphPdf01 > span {
	padding-left: 35px !important;
}
*[class*="btnT"].glyphPdf01 > span:before {
	top: 50% !important;
	margin-top: -12px;
}

.glyphDiscovery01 > span {
	padding-left: 38px !important;
}
.glyphDiscovery01 > span:before {
	content: "";
	width: 27px;
	height: 33px;
	top: 50% !important;
	margin-top: -20px;
	background: url(/kojin/common/images/ico_discovery01.png) 7px 0 no-repeat;
	-ms-background-size: 20px 33px;
	-moz-background-size: 20px 33px;
	-webkit-background-size: 20px 33px;
	background-size: 20px 33px;
}

.mainNarrow .iconQuestion01 {
	color: inherit;
}
.mainNarrow .iconQuestion01:hover {
	color: #ed6d34;
}
.iconQuestion01 > span:after {
	content: "";
	width: 13px;
	height: 12px;
	background: url(/kojin/common/images/ico_question01.png) 0 0 no-repeat;
	-ms-background-size: 13px 12px;
	-moz-background-size: 13px 12px;
	-webkit-background-size: 13px 12px;
	background-size: 13px 12px;
}

.mainNarrow .glyphQuestion01,
.mainNarrow .iconQuestion02 {
	color: inherit;
}
.mainNarrow .glyphQuestion01:hover,
.mainNarrow .iconQuestion02:hover {
	color: #ed6d34;
}
.iconQuestion02 > span,
#wrap .glyphQuestion01 > span {
	padding-left: 27px;
	background: url(/kojin/common/images/ico_question02.png) 0 50% no-repeat;
	-ms-background-size: 17px 17px;
	-moz-background-size: 17px 17px;
	-webkit-background-size: 17px 17px;
	background-size: 17px 17px;
}
.iconQuestion02 > span {
	margin-left: 5px;
	padding-left: 22px;
}

.iconServiceWrap {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.iconService {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

@media screen and (max-width: 767px) {
}

/*-------------------------------------------
font position
-------------------------------------------*/
#drawerMenu #spDrawerMenu .firstHierarchy .globalBlock dt[role="treeitem"] > a:after {
	top: 50%;
	margin-top: -0.5em;	
}
#drawerMenu #spDrawerMenu .firstHierarchy .globalBlock > dt[role="treeitem"] > a:after {
	right: 15px;	
	font-size: 25px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .globalBlock .secondHierarchy .categoryBlock dt[role="treeitem"] > a:after {
	right: 2px;
	color: #fff !important;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li .categoryBlock dt > a > span {	
	padding-left: 60px;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy > li .categoryBlock dt > a > span:before {
	top: 50%;
	left: 14px;
	margin-top: -0.5em;

	color: #fff;
	font-size: 25px;
}
header[role="banner"] #categoryNav [role="navigation"] li .categoryTitle > a:before {
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	font-size: 28px;
}
header[role="banner"] #categoryNav [role="navigation"] li .categoryTitle > a.select:before,
header[role="banner"] #categoryNav [role="navigation"] li .categoryTitle > a.current:before {
	color: #01894d;
} 
header[role="banner"] #categoryNav li#navKojin01 .categoryTitle > a:before {
	left: 8px;
}
header[role="banner"] #categoryNav li#navKojin02 .categoryTitle > a:before {
	left: 12px;
}
header[role="banner"] #categoryNav li#navKojin03 .categoryTitle > a:before {
	left: 8px;
}
header[role="banner"] #categoryNav li#navKojin04 .categoryTitle > a:before {
	left: 8px;
}
header[role="banner"] #categoryNav li#navKojin05 .categoryTitle > a:before {
	left: 11px;
}
header[role="banner"] #categoryNav li#navHojin01 .categoryTitle > a:before {
	left: 10px;
}
header[role="banner"] #categoryNav li#navHojin02 .categoryTitle > a:before {
	left: 8px;
}
header[role="banner"] #categoryNav li#navHojin03 .categoryTitle > a:before {
	left: 10px;
}
header[role="banner"] #categoryNav li#navHojin04 .categoryTitle > a:before {
	left: 9px;
}
header[role="banner"] #categoryNav li#navNenkin01 .categoryTitle > a:before {
	left: 10px;
}
header[role="banner"] #categoryNav li#navNenkin02 .categoryTitle > a:before {
	left: 10px;
}
header[role="banner"] #categoryNav li#navNenkin03 .categoryTitle > a:before {
	left: 15px;
}
header[role="banner"] #categoryNav li#navNenkin04 .categoryTitle > a:before {
	left: 15px;
}
header[role="banner"] #categoryNav li#navNenkin05 .categoryTitle > a:before {
	left: 13px;
}
#sideNav .subNav .subCategoryTitle > * > span:before {
	top: 50%;
	margin-top: -0.5em;
	font-size: 20px;
	color: #fff;
}
#sideNav .sideInfo > ul > li > a > span {
	padding-left: 26px;
}
#sideNav .sideInfo > ul > li > a > span:before {
	font-size: 18px;
	top: 0;
	left: 0;
}

*[class*=" icon"] > span:after,
*[class^="icon"] > span:after{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	position: static;
}
.textLink01 {
	padding: 0;
}
.textLink01 > span {
	padding-left: 0;
}
.textLink01 > span:before {
	margin-top: 0;
	position: static;
	display: inline;
}
.listCircle01 > li:before,
.listCircle02 > li:before,
.linkArrowCircleRight:before {
	top: 0.3em;
	left: 0;
}
footer[role="contentinfo"] #footerNav > nav > div > ul > li > a,
footer[role="contentinfo"] #footerNav > nav > div > ul > li > span,
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a > span,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a > span,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noLink > span,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a > span,
.linkList02 > li > a,
.linkList03 > li > a > span,
.linkList06 > li > a > span,
.searchWordBlock01 dl > dd .keywordList01 li > a > span,
.moreLink01 > a,
*[class^="glyph"] > span,
*[class^="glyph"] > span,
*[class*=" glyph"] > span,
*[class*=" glyph"] > span,
*[class^="linkArrow"],
*[class*=" linkArrow"],
*[class^="normalBlockA"] > .blockInner .blockDetail > span > a,
*[class^="normalBlockA"] > .blockInner .blockTitle > span > a {
	display: block;
	position: relative;
	display: inline-block;
	padding-left: 1.4em;
}
.linkArrowTriangleRight,
.linkList02 > li > a,
.glyphArrowTriangleRight > span,
.searchWordBlock01 dl > dd .keywordList01 li > a > span,
*[role="tablist"] *[role="tabpanel"] .accList > li > a > span {
	padding-left: 0.8em;
}
.dateBlock01 dl > dd > a,
.dateBlock02 dl > dd > a {
	display: inline-block;
	padding-left: 1.2em;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0.4em no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a {
	position: relative;
}
header[role="banner"]  #categoryNav nav[role="navigation"] ul > li .navDropLink > ul > li > a:before {
	top: 50%;
	left: 0;
	margin-top: -0.5em;
}
footer[role="contentinfo"] #footerNav > nav > div > ul > li > a:before,
footer[role="contentinfo"] #footerNav > nav > div > ul > li > span:before,
footer[role="contentinfo"] #footerNav > nav > div > ul ul a:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noLink > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a > span:before,
.dateBlock01 dl > dd > a:before,
.dateBlock02 dl > dd > a:before,
.linkList02 > li > a:before,
.linkList06 > li > a > span:before,
.searchWordBlock01 dl > dd .keywordList01 li > a > span:before,
.moreLink01 > a:before,
*[class^="glyph"] > span:before,
*[class^="glyph"] > span:after,
*[class*=" glyph"] > span:before,
*[class*=" glyph"] > span:after,
*[class^="linkArrow"]:before,
*[class*=" linkArrow"]:before,
*[class^="normalBlockA"] > .blockInner .blockDetail > span > a:before,
*[class^="normalBlockA"] > .blockInner .blockTitle > span > a:before {
	top: 0.3em;
	left: 0;
}
footer[role="contentinfo"] #footerNav > nav > div > ul > li > a:before,
footer[role="contentinfo"] #footerNav > nav > div > ul > li > span:before,
.linkArrowTriangleRight:before,
.dateBlock01 dl > dd > a:before,
.dateBlock02 dl > dd > a:before,
.linkList02 > li > a:before,
.glyphArrowTriangleRight > span:before,
.searchWordBlock01 dl > dd .keywordList01 li > a > span:before,
*[role="tablist"] *[role="tabpanel"] .accList > li > a > span:after {
	top: 0.5em;	
}
.glyphAttention01 > span,
.glyphAttention02 > span,
.glyphAttention03 > span {
	padding-left: 30px;
}
.attentionBlock01 .glyphAttention01 > span,
.attentionBlock01 .glyphAttention02 > span,
.attentionBlock01 .glyphAttention03 > span {
	padding-left: 40px;
}
.glyphBeginner01 > span:before {
	top: 0;
}
.glyphShop01 > span:before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 27px;
	left: 15px;
	margin-top: -13px !important;
	background: url(/kojin/common/images/ico_shop01.png) 0 0 no-repeat;
	-ms-background-size: 26px 27px;
	-moz-background-size: 26px 27px;
	-webkit-background-size: 26px 27px;
	background-size: 26px 27px;
}

.linkList03 > li > a > span:before {
	top: 0;
	left: 0;
}
.accBlock02 [role="tab"] > a > span:before {
	color: #fff;
	bottom: 12px;
	left: 50%;
	margin-left: -0.5em;
}
.accBlock02 [role="tab"] > a > span:after {
	display: none;
}
.telNumber span:before,
*[role="tablist"] > dt a > .accBtn > span:before {
	top: 50%;
	left: 0;
	margin-top: -0.5em;
}
#drawerMenu #spDrawerMenu .firstHierarchy > li > a:before,
#drawerMenu #spDrawerMenu .globalBlock > dt span:before {
	top: 50%;
	right: 15px;
	left: auto;
	margin-top: -0.5em;
}
.listItem02 *[role="tab"] > span:after {
	top: 50%;
	right: 0;
	left: auto;
	margin-top: -0.5em;
}
#drawerMenu #spDrawerMenu .firstHierarchy .secondHierarchy .thirdHierarchy > li > a:before {
	top: 50%;
	left: 17px;
	margin-top: -0.5em;
}
.carouselBlock01 .carouselControl > .carouselBtn li > a:before {
	font-size: 20px;
	display: block;
}
.carouselBlock01 .carouselControl > .carousePager > ul li > a:before {
	font-size: 11px;
	position: static;
	color: #ccc;
}
.carouselBlock01 .carouselControl > .carousePager > ul li > a.select:before {
	color: #049849;
}
.btnT01, 
.btnT02, 
.btnT03,
.btnT04,
.btnT08,
.btnT09 {
	position: relative;
}
.btnT01 > span, 
.btnT02 > span, 
.btnT03 > span, 
.btnT04 > span,
.btnT08 > span,
.btnT09 > span {
	position: static;
	text-decoration: none !important;
}
a[class*="glyph"] > span {
	text-decoration: underline;
}
*[class*=" btnT"][class^="glyph"] > span,
*[class^="btnT"][class*=" glyph"] > span,
*[class*=" btnT"][class*=" glyph"] > span {
	padding-left: 35px !important;
}

#wrap .btnT01Small > span,
#wrap .btnT02Small > span,
#wrap .btnT03Small > span {
	padding-right: 10px !important;
	padding-left: 20px !important;
}
*[class*=" btnT"][class^="glyph"].btnWFull > span,
*[class^="btnT"][class*=" glyph"].btnWFull > span,
*[class*=" btnT"][class*=" glyph"].btnWFull > span {
	padding-left: 30px !important;
	padding-right: 30px;
}
*[class*=" btnT"][class^="glyph"][class*=" icon"] > span,
*[class^="btnT"][class*=" glyph"][class*=" icon"] > span,
*[class*=" btnT"][class*=" glyph"][class*=" icon"] > span {
	padding-left: 20px !important;
}
*[class*=" btnT"][class^="glyph"] > span.pl25,
*[class^="btnT"][class*=" glyph"] > span.pl25,
*[class*=" btnT"][class*=" glyph"] > span.pl25 {
	padding-left: 25px !important;
}

.btnT01 > span:before, 
.btnT02 > span:before, 
.btnT03 > span:before, 
.btnT04 > span:before,
.btnT06 > span:before,
.btnT07 > span:before,
.btnT08 > span:before,
.btnT09 > span:before {
	top: 50%;
	left: 15px;
	margin-top: -0.5em;
	line-height: 1;
}
.btnT01 > span:after, 
.btnT02 > span:after, 
.btnT03 > span:after, 
.btnT04 > span:after,
.btnT06 > span:after,
.btnT07 > span:after,
.btnT08 > span:after,
.btnT09 > span:after {
	position: absolute;
	top: 50%;
	left: auto;
	right: 15px;
	margin-top: -0.5em;
	padding-left: 0;
	line-height: 1;
}
.btnT02[class*=" icon"] > span:after,
.btnT03[class*=" icon"] > span:after,
.btnT08[class*=" icon"] > span:after {
	color: #fff;
}
*[class*=" btnT"][class*=" icon"] > span:after,
*[class^="btnT"][class*=" icon"] > span:after,
*[class*=" btnT"][class^="icon"] > span:after,
*[class^="btnT"][class^="icon"] > span:after {
	margin-right: 0;
}
.btnT01.iconPdf > span:after, 
.btnT02.iconPdf > span:after, 
.btnT03.iconPdf > span:after, 
.btnT04.iconPdf > span:after,
.btnT08.iconPdf > span:after {
	margin-top: -10px;
	font-weight: normal;
}
#sideNav .btnT01 {
	padding-right: 5px;
}
#sideNav .btnT01 > span {
	padding-left: 14px !important;
	padding-right: 0 !important;
}
#sideNav .btnT01 > span:before {
	left: 6px;
}
.btnT02 > span:before, 
.btnT03 > span:before,
.btnT08 > span:before,
.normalBlockA02 > .blockInner .blockTitle a:before,
.tabList [role="tablist"] > li > dl > dt[role="tab"][aria-selected="true"] > a span:after {
	color: #fff !important;
}
.spCarouselArea .carouselControl ul > li > a > span:before {
	font-size: 12px;
	top: 50%;
	left: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
	color: #fff;
}
*[class^="normalBlockA"] > .blockInner .blockTitle span:before,
*[class*=" normalBlockA"] > .blockInner .blockTitle span:before {
	font-size: 26px;
	top: -0.1em;
}
.normalBlockA05 > .blockInner .blockTitle span:before {
	color: #ff9351;
}
.normalBlockA06 > .blockInner .blockTitle span:before {
	color: #fbbe19;
}
.listCircle01 > li:before {
	top: 0;
	left: -0.3em;
	font-size: 1.5em;
}
.listCircle02 > li:before {
	color: #262626;
}
.linkList01 > li > span:before {
	top: 0;
	font-size: 26px;
}

.tabList *[role="tablist"] *[role="tab"] > a > span:after {
	display: none !important;
}
.listCircle01 > li.hasChild:before,
.listCircle02 > li.hasChild:before {
	content: "";
}
#sideNav .sideInfo > ul > li > a:hover > span:before {
	color: #83cba1;
}
#sideNav .subNav .subCategoryDetail .secondHierarchy .categoryBlock > dt > a:hover > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .noChild a:hover > span:before,
#sideNav .subNav .subCategoryDetail .secondHierarchy .thirdHierarchy > li > a:hover > span:before,
a.btnT01:hover span:before {
	color: #84cda6;
}
