@charset "shift_jis";
/* Updated 2016/10/21.T */
/* Updated 2016/09/12.T */
/* Updated 2016/07/27,T */
/* Updated 2015/09/30,T */

/* smbc nav */
#smbcNav {
	background: #ebebeb;
}
#smbcNav ul {
	display: table;
	width: 1008px;
	margin: 0 auto;
	table-layout: fixed;
}
#smbcNav ul li {
	display: table-cell;
	border-right: solid 1px #fff;
	text-align: center;
	border-right: solid 1px #fff;
}
#smbcNav ul li.active {
	background: #fff;
}
#smbcNav ul li a {
	display: block;
	padding: 7px 0;
	color: #333;
	font-size: 0.857em;
	text-decoration: none;
}
#smbcNav ul li.active a {
	color: #004831;
	font-size: 1.0em;
	font-weight: bold;
}
#smbcNav ul li a:hover {
	color: #ed6d34;
}

/* header */
#topPage header[role="banner"] #headerInner #headerInfo {
	width: auto;
}
#topPage header[role="banner"] #headerInner #headerInfo #header_faq_link {
	display:inline-block;
	vertical-align:middle;
	margin-right: 8px;
}

header[role="banner"] #headerInner {
	position: relative;
}

header[role="banner"] #headerInner .logoWrap {
	position: absolute;
	top: 34px;
	left: 0;
	width: 282px;
}
header[role="banner"] #headerInner .logoWrap h1 {
	width: 282px;
	height: 42px;
}
header[role="banner"] #headerInner .logoWrap img {
    width: 282px;
}
header[role="banner"] #headerInner #headerLink #linkGlobal {
	display: inline-block;
	position: relative;
	margin-right: 16px;
	padding: 0 0 0 12px;
	font-size: 14px;
}
header[role="banner"] #headerInner #headerLink #linkGlobal a:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 7px;
	height: 10px;
	margin-top: -5px;
	background:  url(/kojin/common/images/ico_arrow_glay01.png) 0 0 no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
}

/* main */
#topPage #wrap #mainArea {
	width: auto;
	margin-top: 10px;
}
#topPage #wrap #mainArea main.mainNarrow {
	float: none;
	width: auto;
}
#topPage .mainNarrow .column1 .col {
    width: 1008px;
}

#topMain {
	background: #abce03;
}

/* start */
#topStart {
	position: absolute;
	width: 100%;
	height: 290px;
	background: #abce03;
	z-index: 1;
}
#topStartInner {
	width: 1008px;
	margin: 0 auto;
}
#topStart img {
	position: absolute;
}

/* carousel */
#topCarousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: #fff;
}
#topCarouselInner {
	position: relative;
	width: 1008px;
	height: 290px;
	margin: 0 auto;
	text-align: center;
}
#topCarousel .carouselBlock01 {
	filter: alpha(opacity=0);
	-moz-opacity:0;
	opacity: 0;
	position: absolute;
	width: 3024px;
}

#topCarousel .bx-viewport {
	overflow: visible !important;
	border: 0;
}
#topCarousel .carouselList {
	will-change: transform;
	width: 100000px !important;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
#topCarousel .carouselList li {
	background: transparent;
	will-change: all;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}
#topCarousel .carouselList li > a {
	display: block;
	background: transparent;
	border: 0;
}

#topCarousel .carouselBtn {
	filter: alpha(opacity=0);
	-moz-opacity:0;
	opacity: 0;
}
#topCarousel .carouselBtn a {
	will-change: all;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
}


/* login */
#topLink {
	width: 1008px;
	margin: 0 auto;
	padding: 18px 0;
}


#topLink .loginBlock01 {
	float: right;
	width: 200px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}
#topLink .loginBlock01 .btnT03 {
	padding: 15px 5px !important;
}
#topLink .loginBlock01 .btnT03 .fsMaximum {
	display: block;
	margin-top: 7px;
}
#topLink .loginBlock01 .btnT03 > span {
	padding: 0 !important;
}
#topLink .loginBlock01 .btnT03 > span:before {
	position: static;
	display: block;
	width: 59px;
	height: 50px;
	margin: 0 auto 15px !important;
	-ms-background-size: 59px 50px;
	-moz-background-size: 59px 50px;
	-webkit-background-size: 59px 50px;
	background-size: 59px 50px;
	line-height: 1;
	text-align: center;
}

#topLink .loginBlock01 .loginBlockArea02 {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
}
#topLink .loginBlock01 > ul {
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
	-webkit-box-shadow: #cccccc 0px -2px inset;
	-moz-box-shadow: #cccccc 0px -2px inset;
	box-shadow: #cccccc 0px -2px inset;
}
#topLink .loginBlock01 li:first-child {
	margin-bottom: 3px;
}

#topLink .loginBlock01 .loginBlockArea01 .glyphBeginnerTop {
	display: block;
}
#topLink .loginBlock01 .loginBlockArea01 .glyphBeginnerTop > span {
	display: inline-block;
	min-height: 23px;
	padding-left: 25px !important;
	letter-spacing: -0.1em;
	background: url(/kojin/resources/images/index_ico16.gif) 0 50% no-repeat;
	color: #333;
}
#topLink .loginBlock01 .loginBlockArea01 .glyphArrowLineRight > span {
	padding-left: 11px !important;
	letter-spacing: -0.1em;
}
#topLink .loginBlock01 .loginBlockArea01 .glyphArrowLineRight > span:before {
	content: "";
	width: 7px;
	height: 10px;
	top: 0.2em !important;
	margin-top: 0 !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 7px 10px;
	-moz-background-size: 7px 10px;
	-webkit-background-size: 7px 10px;
	background-size: 7px 10px;
}

#topLink .loginBlock01 .btnHojin01 {
	display: block;
	padding-left: 25px;
	background: #fff url(/kojin/resources/images/index_ico13.gif) 0 50% no-repeat;
	letter-spacing: -0.1em;
	line-height: 1.2;
}

/* top nav */
#topNav {
	float: left;
	width: 808px;
	margin: 0 auto;
}
#topNav .column4 {
	width: 808px;
}
#topNav .column4 .col {
	width: 184px;
	margin-left: 18px;
}
#topNav .column4 .col {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
}
#topNav .column4 a {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	box-shadow: #003222 0px -2px inset;
	-webkit-box-shadow: #003222 0px -2px inset;
	-moz-box-shadow: #003222 0px -2px inset;
	color: #fff;
	text-decoration: none;
	background: #004831;
}
#topNav .column4 a figure {
	padding: 18px 0 14px;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	background: #fff;
}
#topNav .column4 a figure img {
	width: 62px;
	height: 52px;
}
#topNav .column4 a dl {
	padding: 14px 10px 14px;
}
#topNav .column4 a dt {
	position: relative;
	display: block;
	font-size: 1.286em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#topNav .column4 a dt:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 13px;
	margin: -9px 12px 0 0 !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
#topNav .column4 a dd {
	margin-top: 8px;
	font-size: 0.857em;
	text-align: center;
}

/* top nav */
#topNav .column5 {
	width: 808px;
	margin-bottom: 7px;
}
#topNav .column5 .col {
    width: 154px;
    margin-left: 5px;
}
#topNav .column5 .col {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
}
#topNav .column5 a {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	box-shadow: #003222 0px -2px inset;
	-webkit-box-shadow: #003222 0px -2px inset;
	-moz-box-shadow: #003222 0px -2px inset;
	color: #fff;
	text-decoration: none;
	background: #004831;
}
#topNav .column5 a figure {
	padding: 18px 0 14px;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	background: #fff;
}
#topNav .column5 a figure img {
	width: 62px;
	height: 52px;
}
#topNav .column5 a dl {
	padding: 14px 10px 14px;
}
#topNav .column5 a dt {
	position: relative;
	display: block;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
#topNav .column5 a dt:before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 13px;
	margin: -9px 12px 0 0 !important;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0 no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
}
#topNav .column5 a dd {
	margin-top: 8px;
	font-size: 0.857em;
	text-align: center;
}

/* main nav */
#mainNav {
	position: relative;
}

#mainNavBtn {
	width: 790px;
	height: 71px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background: #fff;
}
#mainNavBtn a {
	position: relative;
	display: block;
	height: 71px;
	padding-top: 22px;
	background: #f6f9e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #d2d8ae 0px -2px inset;
	-moz-box-shadow: #d2d8ae 0px -2px inset;
	box-shadow: #d2d8ae 0px -2px inset;
	font-size: 1.429em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}
.open #mainNavBtn a {
	z-index: 101;
	height: 71px;
	padding-top: 22px;
	background: #fff;
	border: solid 1px #7fa398;
	border-width: 1px 1px 0;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-ms-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#mainNavBtn a:after {
	content: "";
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-left: 14px;
	background: url(/kojin/resources/images/index_ico12_open.png) 0 0 no-repeat;
	-ms-background-size: 13px 8px;
	-moz-background-size: 13px 8px;
	-webkit-background-size: 13px 8px;
	background-size: 13px 8px;
	vertical-align: middle;
}
.open #mainNavBtn a:after {
	content: "";
	display: inline-block;
	width: 13px;
	height: 8px;
	margin-top: -2px;
	margin-left: 14px;
	background: url(/kojin/resources/images/index_ico12_close.png) 0 0 no-repeat;
	-ms-background-size: 13px 8px;
	-moz-background-size: 13px 8px;
	-webkit-background-size: 13px 8px;
	background-size: 13px 8px;
	vertical-align: middle;
}

#mainNavAccBlock {
	z-index: 100;
	position: absolute;
	top: -9999px;
	left: 0;
	width: 1008px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0 8px 8px;
	-moz-border-radius: 0 8px 8px;
	-ms-border-radius: 0 8px 8px;
	-o-border-radius: 0 8px 8px;
	border-radius: 0 8px 8px;
	border: solid 1px #7fa398;
	background: #fff;
}
#mainNavAccBlock dl {
	float: left;
	width: 170px;
	margin: 0 0 24px 14px;
	padding: 0 0 5px 14px;
	border-left: solid 1px #cbcbcb;
}
#mainNavAccBlock dl.return {
	margin-left: 0;
	padding-left: 0;
	border: 0;
}
#mainNavAccBlock dl dt {
	margin: 20px 0 10px;
	padding: 6px 9px;
	background: #004831;
	color: #fff;
	font-weight: bold;
}
#mainNavAccBlock dl dt:first-child {
	margin-top: 0;
}
#mainNavAccBlock dl dd {
	font-size: 0.857em;
	font-weight: bold;
}
#mainNavAccBlock dl dd li {
	margin-bottom: 7px;
}
#mainNavAccClose {
	clear: both;
}
#mainNavAccClose a {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 0 0 auto;
	background: url(/kojin/common/images/btn_close01.png) 100% 0 no-repeat;
	background-size: cover;
	-ms-background-size: 16px 16px;
	-moz-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	text-indent: -9999px;
}


/* top content */
#topContents {
	width: 1008px;
	margin: 40px auto 0;
}

/* top content main */
#topContentsMain {
	float: right;
	width: 688px;
}


/* top content sub */
#topContentsSub {
	float: left;
	width: 296px;
}

.topContentsSubNav01 {
	margin-bottom: 4px;
	margin-left: -8px;
}
.topContentsSubNav01 li {
	float: left;
	width: 144px;
	min-height: 144px;
	margin: 0 0 8px 8px;
	text-align: center;
}
.topContentsSubNav01 li:nth-child(2n+1) {
}
.topContentsSubNav01 li a:hover {
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity: 0.7;
	color: inherit;
}
.topContentsSubNav01 li a {
	display: block;
	min-height: 144px;
	padding-top: 27px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #edf3b2;
	text-decoration: none;
	font-size: 1.4rem;
}
.topContentsSubNav01 li a p {
	display: table;
	width: 100%;
}
.topContentsSubNav01 li a p > span {
	display: table-cell;
	height: 4.0em;
	vertical-align: middle;
}
.topContentsSubNav01 a figure img {
	width: 52px;
	height: 55px;
}

#topContentsSubNav02 {
	margin-top: 4px;
	margin-bottom: 8px;
}
#topContentsSubNav02 li {
	margin-bottom: 4px;
}
#topContentsSubNav02 li a {
	display: block;
	padding: 8px 8px 8px 28px;
	background: #ebebeb url(/kojin/resources/images/index_ico14.png) 10px 46% no-repeat;
	text-decoration: none;
}
#topContentsSubNav03 {
	margin-bottom: 12px;
	padding: 10px 10px 0;
	border: solid 1px #ccc;
}
#topContentsSubNav03 li {
	display: inline-block;
	width: 134px;
	margin-bottom: 10px;
}
#topContentsSubNav03 li a  {
	padding-left: 1.4em;
	background: url(/kojin/resources/images/index_ico14.png) 0 48% no-repeat;
	text-decoration: none;
}

#topContentsSub .bankCode {
	padding: 8px;
	background: #7f7f7f;
	color: #fff;
	text-align: center;
}
#topContentsSub .bankCode small {
	font-weight: bold;
}


/* top content main */
.tabList .tabBlock01 [role="tablist"] > li > div > a {
	height: 38px;
	padding: 4px 10px 0;
	color: #004831;
	font-size: 1.0em;
	font-weight: normal;
}
.tabList .tabBlock01 [role="tablist"] > li > div[aria-selected="true"] > a {
	color: #fff;
	font-weight: bold;
}
.topNewsMore ul {
	margin-top: 20px;
	text-align: right;
}
.topNewsMore li {
	display: inline-block;
}
.topNewsMore li {
	margin-right: 10px;
}
.topNewsMore li.newsBackNumber {
	margin-right: 110px;
}
.topNewsMore li:last-child {
	margin-right: 0;
}

.topH2Title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	font-size: 1.286em;
	font-weight: bold;
	border-bottom: solid 2px #ccc;
}
#wrap .topH2Title.glyphAttention03 > span:before {
	top: 0.2em;
	padding-bottom: 0.2em;
	background-repeat: no-repeat;
}


/* top aside */
.topAside01 {
	width: 1008px;
	margin: 0 auto;
}
.topAside01 aside {
	margin-top: 40px;
}
.topH3Title {
	margin-bottom: 12px;
	padding-bottom: 5px;
	border-bottom: solid 1px #ddd;
	font-size: 0.857em;
	font-weight: bold;
}

.topBannerList01 li {
	float: left;
	width: 153px;
	margin-left: 18px;
}
.topBannerList01 li:first-child {
	margin-left: 0;
}
.topBannerList01 li a {
	display: block;
}
.topBannerList01 img {
	display: block;
	width: 153px;
}
.topLogoList01 li {
	width: 240px;
	margin: 0 0 12px 16px;
}
.topLogoList01 li:nth-child(4n+1) {
	margin-left: 0;
}
.topBannerList01 li span {
	display: block;
	margin-top: 12px;
	padding-left: 1.2em;
	background: url(/kojin/common/images/ico_arrow_green01.png) 0 0.4em no-repeat;
	-ms-background-size: 8px 13px;
	-moz-background-size: 8px 13px;
	-webkit-background-size: 8px 13px;
	background-size: 8px 13px;
	text-decoration: underline;
}

.topLogoList01 li {
	float: left;
}


/* smbcInfo01 */
.smbcInfo01 {
	width: 1008px;
	margin: 30px auto 0;
	padding-top: 15px;
	border-top: solid 1px #ddd;
	color: #666;
	font-size: 0.857em;
	line-height: 2.0;
}


@media screen and (min-width:768px){
	/* carousel */
	#topCarousel .carouselList li {
		width: 1008px !important;
	}
	#topCarousel .carouselPrev {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 0px;
		right: 50%;
		width: 1008px;
		height: 290px;
		margin-right: 504px;
		background: url(/kojin/resources/images/index_btn01.png) 100% 117px no-repeat;
		background-color: rgba(165, 165, 165, 0.4);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99ffffff,EndColorStr=#44a5a5a5);
		text-indent: -9999px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	#topCarousel .carouselNext {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 0px;
		left: 50%;
		width: 1008px;
		height: 290px;
		margin-left: 504px;
		background: url(/kojin/resources/images/index_btn02.png) 0 117px no-repeat;
		background-color: rgba(165, 165, 165, 0.4);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#99ffffff,EndColorStr=#44a5a5a5);
		text-indent: -9999px;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
	}
	#topCarousel .carouselStop,
	#topCarousel .carouselPlayback {
		display: block;
		position: absolute;
		top: 257px;
		right: 3px;
		width: 28px;
		height: 30px;
		background: url(/kojin/resources/images/index_btn05.png) 8px 8px no-repeat;
		background-color: rgba(0, 0, 0, 0.15);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#15000000,EndColorStr=#15000000);
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		-ms-border-radius: 0 5px 5px 0;
		-o-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
		text-indent: -9999px;
	}
	#topCarousel .carouselPlayback {
		background: url(/kojin/resources/images/index_btn06.png) 9px 7px no-repeat;
		background-color: rgba(0, 0, 0, 0.15);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#15000000,EndColorStr=#15000000);
	}
	#topCarousel .bx-controls {
		position: relative;
		width: 1008px;
		height: 40px;
	}
	#topCarousel .bx-pager {
		position: absolute;
		top: -33px;
		right: 33px;
		height: 30px;
		padding: 0 8px 0 12px;
		background-color: rgba(0, 0, 0, 0.15);
		filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#15000000,EndColorStr=#15000000);
		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		-ms-border-radius: 5px 0 0 5px;
		-o-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
	}
	#topCarousel .bx-pager-item {
		display: inline-block;
		margin: 9px 4px 0 0;
	}
	#topCarousel .bx-pager-link {
		display: block;
		width: 12px;
		height: 12px;
		background: url(/kojin/resources/images/index_btn03.png) 0 0 no-repeat;
		text-indent: -9999px;
	}
	#topCarousel .bx-pager-link.active {
		background: url(/kojin/resources/images/index_btn04.png) 0 0 no-repeat;
	}
	#topCarousel .carouselBtn a:hover {
		filter: alpha(opacity=70);
		-moz-opacity: 0.7;
		opacity: 0.7;
	}

	/* login */
	#topLink .glyphBeginnerTop:hover,
	#topLink .loginBlock01 .btnHojin01:hover {
		filter: alpha(opacity=70);
		-moz-opacity:0.7;
		opacity: 0.7;
		color: inherit;
	}

	/* top nav */
	#topNav .column4 a:hover {
		filter: alpha(opacity=70);
		-moz-opacity:0.7;
		opacity: 0.7;
	}

	#topNav .column5 a:hover {
		filter: alpha(opacity=70);
		-moz-opacity:0.7;
		opacity: 0.7;
	}

	/* main nav */
	#mainNavBtn a:hover {
		filter: alpha(opacity=70);
		-moz-opacity:0.7;
		opacity: 0.7;
		color: inherit;
	}
	.open #mainNavBtn a:hover {
		filter: alpha(opacity=100);
		-moz-opacity:1.0;
		opacity: 1.0;
		color: inherit;
	}
	#mainNavAccBlock dl dd {
		display: block !important;
	}

	.tabList .tabBlock01 {
		padding: 0;
	}
	.tabList .tabBlock01 ul {
		margin-bottom: 0;
		border: 0;
	}
}

@media screen and (max-width: 767px) {
	/* smbc nav */
	#smbcNav {
		display: none;
	}

	#topPage #wrap #mainArea {
		margin-top: 2px;
	}
	#wrap #mainArea main {
		padding-bottom: 0;
	}
	#topContents {
		margin-top: 15px;
	}

	/* header */
	header[role="banner"] #headerInner .logoWrap {
		position: static;
		width: 130px;
	}
	header[role="banner"] #headerInner .logoWrap h1 {
		width: auto;
		height: auto;
	}
	header[role="banner"] #headerInner .logoWrap img {
	    width: auto;
	}

	/* glyphAttention01 */
	#wrap .glyphAttention01 > span {
		padding-left: 22px !important;
	}
	#wrap .glyphAttention01 > span:before {
		top: 0.3em !important;
		width: 15px;
		height: 12px;
		background: url(/kojin/common/images/ico_attention01.png);
		-ms-background-size: 15px 12px;
		-moz-background-size: 15px 12px;
		-webkit-background-size: 15px 12px;
		background-size: 15px 12px;
	}

	/* start */
	#topStart {
		z-index: 101;
		position: relative;
		width: 100%;
		padding-bottom: 31px;
		height: auto;
		background: #fff;
	}
	#topStartInner {
		width: auto;
	}
	#topStart img {
		position: static;
	}
	/* carousel */
	#topCarousel {
		z-index: 100;
		position: absolute;
		top: 0;
	}
	#topCarouselInner {
		width: auto;
		height: auto;
	}
	#topCarousel .carouselBlock01 {
		position: static;
		width: 100% !important;
		margin-bottom: 0;
	}
	#topCarousel .carouselList li {
	}
	#topCarousel .carouselControl {
		position: relative;
		height: auto;
	}
	#topCarousel .bx-pager {
		display: block;
		position: static;
		width: auto;
		height: auto;
		padding: 0 5px;
	}
	#topCarousel .bx-pager .bx-pager-item {
		display: inline-block;
		float: none;
		width: auto;
		height: auto;
		margin: 0 4px;
		vertical-align: top;
	}
	#topCarousel .bx-controls a {
		display: inline-block;
		width: 11px;
		height: 11px;
		background: url(/kojin/common/images/btn_carousel_normal01.png) 0 0 no-repeat;
		-ms-background-size: 11px 11px;
		-moz-background-size: 11px 11px;
		-webkit-background-size: 11px 11px;
		background-size: 11px 11px;
		border: none;
		text-indent: -9999px;
	}
	#topCarousel .bx-controls a.active {
		background: url(/kojin/common/images/btn_carousel_active01.png) 0 0 no-repeat;
		-ms-background-size: 11px 11px;
		-moz-background-size: 11px 11px;
		-webkit-background-size: 11px 11px;
		background-size: 11px 11px;
	}
	#topCarousel .bx-controls .bx-pager {
		position: static;
		width: auto;
		height: auto;
		margin-top: 10px;
		text-align: center;
	}
	#topCarousel .carouselControl > .carouselBtn {
		display: block;
		position: static;
		text-align: center;
	}
	#topCarousel .carouselControl > .carouselBtn li > a {
		display: block;
		font-size: 0;
	}
	#topCarousel .carouselControl > .carouselBtn li > a.carouselPrev:before {
		content: '';
		position: absolute;
		top: -25px !important;
		left: 10px;
		background: url(/kojin/common/images/ico_arrow_glay02.png) 0 0 no-repeat;
		width: 11px;
		height: 18px;
		margin-top: 0 !important;
		-ms-background-size: 11px 18px;
		-moz-background-size: 11px 18px;
		-webkit-background-size: 11px 18px;
		background-size: 11px 18px;
	}
	#topCarousel .carouselControl > .carouselBtn li > a.carouselNext:before {
		content: '';
		position: absolute;
		top: -25px !important;
		right: 10px;
		background: url(/kojin/common/images/ico_arrow_glay03.png) 0 0 no-repeat;
		width: 11px;
		height: 18px;
		margin-top: 0 !important;
		-ms-background-size: 11px 18px;
		-moz-background-size: 11px 18px;
		-webkit-background-size: 11px 18px;
		background-size: 11px 18px;
	}

	/* topLink */
	#topMain {
		position: relative;
		margin: 0 -10px;
		background: #fff;
	}
	#topLink {
		width: auto;
		padding: 0;
	}

	/* login */
	#topLink .loginBlock01 {
		float: none;
		width: 100%;
		padding: 2px 0;
		background: #fff;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	#topLink .loginBlock01 > ul {
		padding: 0;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	#topLink .loginBlock01 .loginBlockArea01 {
		margin-bottom: 0 !important;
		padding: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		text-align: center;
	}
	#topLink .loginBlock01 .loginBlockArea01 p:first-child {
		margin: 0 10px 10px;
	}
	#topLink .loginBlock01 .loginBlockArea01 p:last-child {
		margin-top: -3px;
		padding: 0 10px;
	}
	#topLink .loginBlock01 .btnT03 {
		padding: 5px 25px !important;
	}
	#topLink .loginBlock01 .btnT03 .fsSmall {
		font-weight: normal;
	}
	#topLink .loginBlock01 .btnT03 > span {
		padding: 0 20px 0 45px !important;
	}
	#topLink .loginBlock01 .btnT03 {
	}
	#topLink .loginBlock01 .btnT03 > span {
		display: table;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#topLink .loginBlock01 .btnT03 > span > span {
		vertical-align: middle;
	}
	#topLink .loginBlock01 .btnT03 > span > span.fsMaximum {
		margin-top: 0;
	}
	#topLink .loginBlock01 .btnT03 > span > span:first-child {
		padding-right: 5px;
	}
	#topLink .loginBlock01 .btnT03 > span:before {
		position: static;
		display: block;
		width: 47px;
		height: 40px;
		margin: 0 auto 5px !important;
		-ms-background-size: 47px 40px;
		-moz-background-size: 47px 40px;
		-webkit-background-size: 47px 40px;
		background-size: 47px 40px;
		line-height: 1;
		text-align: center;
	}


	#topLink .loginBlock01 .btnT03 > span {
		padding: 0 20px 0 42px;
		background: url(/kojin/common/images/ico_pc04.png) 0 50% no-repeat;
		-ms-background-size: 35px 31px;
		-moz-background-size: 35px 31px;
		-webkit-background-size: 35px 31px;
		background-size: 35px 31px;
	}
	#topLink .loginBlock01 .btnT03 > span:before {
		display: none;
		position: absolute;
		left: 440px;
	}
	#topLink .loginBlock01 .glyphBeginnerTop.fsSmall {
		width: 100%;
		display: inline-block;
		margin-bottom: 10px;
		padding: 4px 10px;
		font-weight: bold;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		border-radius: 8px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left;
		background: #fff;
		border: 1px solid #b3b3b3;
		box-shadow: #e2e2e2 0px -2px inset;
		-webkit-box-shadow: #e2e2e2 0px -2px inset;
		-moz-box-shadow: #e2e2e2 0px -2px inset;
		text-align: center;
		text-decoration: none;
		font-size: 0.929em !important;
	}
	#topLink .loginBlock01 .loginBlockArea01 .glyphBeginnerTop > span {
		padding-top: 0.2em;
		background: url(/kojin/resources/images/index_ico16.gif) 0 50% no-repeat;
		vertical-align: middle;
	}
	#topLink .loginBlock01 .loginBlockArea02 {
		display: none;
	}

	/* top nav */
	#topNav {
		float: none;
		width: auto;
		padding: 15px 0;
		background: #abce03;
	}
	#topNav .column4 {
		width: auto;
		margin: 0 10px;
	}
	#topNav .column4 .col {
		width: 48% !important;
		margin-bottom: 10px;
		margin-left: 0;
	}
	#topNav .column4 .col:nth-child(2n) {
		float: right;
		margin-left: 2%;
	}
	#topNav .column4 a dl {
		padding: 10px 5px;
	}
	#topNav .column4 a dt {
		font-size: 1.0em;
	}
	#topNav .column4 a dt:before {
		margin-right: 8px !important;
		vertical-align: -1px;
	}
	#topNav .column4 a dl dd {
		display: none;
	}

	/* top nav column5 */
	#topNav .column5 {
		width: auto;
		margin: 0 10px;
	}
	#topNav .column5 .col:nth-child(2n+1) {
		float: right;
		margin-left: 2%;
	}
	#topNav .column5 .col:first-child {
		width: 100% !important;
		float: none;
		margin-bottom: 10px;
		margin-left: 0;
	}
	#topNav .column5 .col {
		width: 48% !important;
		margin-bottom: 10px;
		margin-left: 0;
	}
	#topNav .column5 a dl {
		padding: 10px 5px;
	}
	#topNav .column5 a dt {
		font-size: 1.0em;
	}
	#topNav .column5 a dt:before {
		margin-right: 8px !important;
		vertical-align: -1px;
	}
	#topNav .column5 a dl dd {
		display: none;
	}

	/* main nav */
	#mainNavBtn {
		width: auto;
		height: auto;
		margin: 0 10px;
	}
	#mainNavBtn a {
		height: 40px;
		padding-top: 9px;
		font-size: 1.0715em;
		color: #004831;
	}
	#mainNavBtn a:after {
		width: 11px;
		height: 8px;
		-ms-background-size: 11px 8px;
		-moz-background-size: 11px 8px;
		-webkit-background-size: 11px 8px;
		background-size: 11px 8px;
	}
	.open #mainNavBtn a:after {
		width: 11px;
		height: 8px;
		-ms-background-size: 11px 8px;
		-moz-background-size: 11px 8px;
		-webkit-background-size: 11px 8px;
		background-size: 11px 8px;
	}
	.open #mainNavBtn a {
		height: 30px;
		padding-top: 9px;
		border-color: #004831;
	}
	#mainNavAccBlock {
		display:none;
		position: static;
		width: auto;
		margin: 0 10px;
		padding: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 0 0 8px 8px;
		-moz-border-radius: 0 0 8px 8px;
		-ms-border-radius: 0 0 8px 8px;
		-o-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
		border: solid 1px #7fa398;
		border-width: 0 1px 1px;
		border-color: #004831;
		background: #fff;
	}
	#mainNavAccBlock dl {
		float: none;
		width: auto;
		height: auto !important;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 0.929em;
	}
	#mainNavAccBlock dl:last-of-type {
		border-bottom: solid 1px #ccc;
	}
	#mainNavAccBlock dl dt {
		margin: 0;
		padding: 12px 38px 12px 15px;
		background: url(/kojin/common/images/ico_open03.png) 95% 50% no-repeat;
		-ms-background-size: 18px 18px;
		-moz-background-size: 18px 18px;
		-webkit-background-size: 18px 18px;
		background-size: 18px 18px;
		border-top: solid 1px #ccc;
		color: #333;
		font-weight: bold;
	}
	#mainNavAccBlock dl dt.open {
		background: #f6f6f6 url(/kojin/common/images/ico_close03.png) 95% 50% no-repeat;
		-ms-background-size: 18px 18px;
		-moz-background-size: 18px 18px;
		-webkit-background-size: 18px 18px;
		background-size: 18px 18px;
	}
	#mainNavAccBlock dl dd {
		display: none;
		padding: 12px 15px;
		background: #f6f6f6;
		font-size: 1.0em;
		font-weight: normal;
	}
	#mainNavAccBlock dl dd li {
		margin-bottom: 25px;
	}
	#mainNavAccBlock dl dd li a {
		display: inline-block;
		padding-left: 13px;
		background: url(/kojin/resources/images/index_ico14.png) 0 0.3em no-repeat;
	}
	#mainNavAccClose {
		margin-top: 8px;
		padding: 10px;
		background: #ebebeb;
		text-align: center;
	}
	#mainNavAccClose a {
		display: inline-block;
		width: auto;
		height: auto;
		padding-left: 23px;
		background: url(/kojin/common/images/btn_close01.png) 0 0.2em no-repeat;
		-ms-background-size: 12px 12px;
		-moz-background-size: 12px 12px;
		-webkit-background-size: 12px 12px;
		color: #333;
		font-size: 0.927em;
		font-weight: bold;
		text-decoration: none;
		text-indent: 0;
	}

	/* top contents */
	#topContents {
		width: auto;
	}

	/* top content main */
	#topContentsMain {
		float: none;
		width: auto;
	}

	/* top content sub */
	#topContentsSub {
		float: none;
		width: auto;
	}
	.topContentsSubNav01Wrap {
		margin: 0 -6px;
	}
	.topContentsSubNav01 {
		display: table;
		table-layout: fixed;
		border-collapse: separate;
		border-spacing: 6px 0;
		width: 100%;
		margin-bottom: 6px;
		margin-left: 0;
	}
	.topContentsSubNav01 li {
		display: table-cell;
		float: none;
		width: auto;
		min-height: 0;
		margin: 0;
		text-align :center;
	}
	.topContentsSubNav01 li:nth-child(3n+1) {
		clear: both;
		margin-left: 0;
	}
	.topContentsSubNav01 li a {
		min-height: 96px;
		padding-top: 10px;
	}
	.topContentsSubNav01 a figure img {
		width: 34px;
		height: auto;
	}
	.topContentsSubNav01 a p {
		line-height: 1.2;
	}
	.topContentsSubNav01 a p .fsSmall {
		font-size: 0.714em !important;
	}

	#topContentsSubNav02 {
		margin-bottom: 4px;
	}
	#topContentsSubNav02 li {
		display: table;
		float: right;
		width: 49%;
		margin: 0 0 6px 0;
	}
	#topContentsSubNav02 li:nth-child(2n+1) {
		clear: both;
		float: left;
		margin-left: 0;
	}
	#topContentsSubNav02 li > div.spContent {
		display: table !important;
		width: 100% !important;
	}
	#topContentsSubNav02 li a {
		display: table-cell;
		width: 100%;
		height: 3.4em;
		padding: 0 5px 0 20px;
		background: #ebebeb url(/kojin/resources/images/index_ico14.png) 6px 46% no-repeat;
		vertical-align: middle;
	}

	#topContentsSubNav03 {
		padding: 7px 7px 0;
	}
	#topContentsSubNav03 li {
		width: 49%;
		margin-bottom: 7px;
	}

	/* top content main */
	#topContentsMain {
		margin-top: 40px;
	}
	.tabList .tabBlock01 [role="tablist"] {
		margin-bottom: 0;
	}
	.tabList .tabBlock01 [role="tablist"] > li {
		display: table-cell;
		margin: 0;
		border: solid 1px #ccc;
		border-width: 1px 1px 0 1px;
		-webkit-border-radius: 5px/5px 5px 0 0;
		-moz-border-radius: 5px/5px 5px 0 0;
		-ms-border-radius: 5px/5px 5px 0 0;
		-o-border-radius: 5px/5px 5px 0 0;
		border-radius: 5px/5px 5px 0 0;
	}
	.tabList .tabBlock01 [role="tablist"] li > div > a {
		height: 50px;
		padding: 7px 5px;
		font-size: 0.929em;
		font-weight: bold;
	}
	.tabList .tabBlock01 [role="tablist"] > li:first-child a {
		border-width: 2px 2px 0;
	}
	.tabList .tabBlock01 [role="tablist"] > li > div[aria-selected="true"] > a {
		border-color: #004831;
	}

	.dateBlock03 dl {
		display: block;
		position: relative;
		margin-top: 15px;
	}
	.dateBlock03 dt {
		display: inline-block;
	}
	.dateBlock03 dd .dateIcon01 {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 10em;
	}
	.dateBlock03 dd .dateText01 {
		display: block;
		margin-top: 10px;
	}

	.topNewsMore ul {
		text-align: left;
	}
	.topNewsMore li {
		margin: 0 5px 10px 0;
		text-align: left;
	}
	.topNewsMore li.newsBackNumber {
		display: block;
		margin: 0 0 20px;
		text-align: right;
	}

	.topH2Title {
		margin: 0 -10px 20px;
		padding: 0 10px 5px;
	}
	#wrap .topH2Title.glyphAttention03 > span:before {
		top: 0.2em !important;
	}

	/* top aside */
	.topAside01 {
		width: auto;
	}
	.topAside01 aside {
		margin: 30px 10px 0;
	}
	.topH3Title {
		font-size: 1.0em;
	}

	.topBannerList01 li {
		float: right;
		width: 48%;
		margin: 0 0 20px;
		font-size: 0.929em;
	}
	.topBannerList01 li:nth-child(2n+1) {
		clear: both;
		float: left;
	}
	.topBannerList01 li span {
		margin-top: 8px;
		background-position: 0 0.2em;
	}
	.topBannerList01 img {
		width: auto;
	}

	.topLogoList01 li {
		float: right;
		width: 49%;
		margin: 0 0 10px;
	}
	.topLogoList01 li:nth-child(2n+1) {
		clear: both;
		float: left;
	}

	/* smbcInfo01 */
	.smbcInfo01 {
		width: auto;
		margin: 20px 10px;
		padding-top: 5px;
		color: #333;
		line-height: 1.8;
	}

	/* footer */
	#footerSpMenu {
		padding: 10px 10px 1px;
		background: #e6f0b3;
	}
	#footerSpMenu li {
		display: table;
		float: right;
		width: 48%;
		margin: 0 0 9px 0;
	}
	#footerSpMenu li:nth-child(2n+1) {
		clear: both;
		float: left;
		margin-left: 0;
	}
	#footerSpMenu li a {
		display: table-cell;
		height: 4.2em;
		padding: 0 10px 0 26px;
		background: #fff url(/kojin/resources/images/index_ico14.png) 10px 48% no-repeat;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		box-shadow: #ccc 0px -2px inset;
		-webkit-box-shadow: #ccc 0px -2px inset;
		-moz-box-shadow: #ccc 0px -2px inset;
		color: #004831;
		font-weight: bold;
		vertical-align: middle;
	}
}
