@charset "shift_jis";
/* Updated 2015/12/14,T */
/* Updated 2015/09/30,T */
/*@media print {
  @ page size: 297mm 210mm 

}
body { 
width:100% !important;
margin:0 !important;
padding:0 !important;
color: #000; 
background: none; 
font-size: 14px;
}

#drawerMenu,
#drawerMenu > * {
	width: 100%;
}
html * {
	width: auto !important;
}*/
/*body {
	overflow: visible !important;
}
header,
main {
	display: none;
}
html * {
	width: auto !important;
}*/

#spDrawerMenu,
#topPage .bx-controls,
#topPage .carouselControl {
	display: none !important;
}
#topPage #topLink {
	width: auto !important;
}
#topPage #smbcNav ul,
#topPage header[role="banner"] #headerInner,
#topPage header[role="banner"] #gnavArea > ul,
#topPage .mainNarrow .column1 .col,
#topPage #topStartInner,
#topPage #topCarouselInner,
#topPage #topCarousel .carouselBlock01,
#topPage #topCarousel .carouselList,
#topPage #topCarousel .carouselList li,
#topPage #topNav,
#topPage #mainNavBtn,
#topPage #topLink .loginBlock01,
#topPage #topContents,
#topPage #topContentsSub,
#topPage #topContentsMain,
#topPage .topAside01,
#topPage .smbcInfo01,
#topPage footer[role="contentinfo"],
#topPage footer[role="contentinfo"] #snsArea > dl,
#topPage footer[role="contentinfo"] #footerInfo,
#topPage footer[role="contentinfo"] #footerNav > nav,
#topPage footer[role="contentinfo"] #footerSegment > ul {
	width: 100% !important;
}
#topPage header[role="banner"] #headerInner {
	width: auto !important;
	padding-right: 10px;
	padding-left: 10px;
}
#topPage header[role="banner"] #headerInner .logoWrap {
	left: 10px;
}
#topPage #headerInfo {
/*	display: none !important;
	padding-right: 10px;
	padding-left: 10px;*/
}
#topPage #headerInner {
	height: 93px !important;
}
#topPage header[role="banner"] #gnavArea {
	width: auto !important;
	padding-right: 10px;
	padding-left: 10px;
}
#topPage header[role="banner"] #gnavArea > ul > li {
	width: auto !important;
}
#topPage header[role="banner"] #gnavArea > ul > li .categoryTitle > a {
	background-image: none;
}
#topPage header[role="banner"] #gnavArea li .dropBlock {
	width: 100% !important;
	min-width: 800px;
}

#topPage #topStart {
	height: auto !important;
}
#topPage #topStart img {
	width: 100%;
}

#topPage #topCarousel {
	position: static !important;
	background: none;
}
#topPage #topCarouselInner {
	position: static !important;
	height: auto !important;
}
#topPage #topCarousel .carouselBlock01 {
	position: static !important;
}
#topPage #topCarousel .bx-viewport {
	position: static !important;
	height: auto !important;
}
#topPage #topCarousel .carouselList {
	position: static !important;
}
#topPage #topCarousel .carouselList li {
	display: none !important;
}
#topPage #topCarousel .carouselList li:first-child {
	display: block !important;
}
#topPage #topCarousel img {
	display: block !important;
	width: 100%;
}


#topPage #topLink {
	width: auto !important;
	padding: 3px 10px 10px;
}
#topPage #topLink .loginBlock01 {
	float: right;
	width: 28% !important;
	margin: 0 !important;
}
#topPage #topNav {
	float: left;
	width: 70% !important;
}
#topPage #topNav .column4 {
	width: 100% !important;
	margin: 0 !important;
}
#topPage #topNav .column4 .col {
	width: 49% !important;
	margin-left: 0 !important;
}
#topPage #topNav .column4 .col:nth-child(2n) {
	float: right !important;
}
#topPage #topNav .column4 .col:nth-child(2n+1) {
	clear: both !important;
}

#topPage #topContents {
	margin-top: 20px !important
}
#topPage #topContentsSub {
	float: none !important;
}
#topPage .topContentsSubNav01Wrap {
	margin-right: -2px;
	margin-left: 10px;
}
#topPage .topContentsSubNav01 {
	clear: both !important;
	display: table !important;
	table-layout: fixed !important;
	border-collapse: separate !important;
	border-spacing: 6px 0 !important;
	width: 100% !important;
	margin: 0 -6px 6px !important;
}
#topPage .topContentsSubNav01 li {
	float: none !important;
	display: table-cell !important;
	width: auto !important;
}
#topPage #topContentsSubNav02 {
	margin-right: 10px;
	margin-left: 10px;
}
#topPage #topContentsSubNav03 {
	width: auto !important;
	margin-right: 10px;
	margin-left: 10px;
}

#topPage #topContentsMain {
	float: none !important;
	width: auto !important;
	margin-top: 30px !important;
}
#topPage .dateBlock03 dl > dt {
	width: 100% !important;
}
#topPage .dateBlock03 dl {
	display: block !important;
}
#topPage .dateBlock03 dl > * {
	display: block !important;
}

#topPage .topBannerList01 li {
	margin-right: 18px !important;
	margin-bottom: 30px !important;
	margin-left: 0 !important;
}
#topPage .topBannerList01 li:last-child {
	margin-right: 0 !important;
}
#topPage .topLogoList01 li {
	margin-right: 16px !important;
	margin-left: 0 !important;
}
#topPage .topLogoList01 li:last-child {
	margin-right: 0 !important;
}

#topPage .smbcInfo01 {
	text-align: center;
}

#topPage footer[role="contentinfo"] {
	min-width: 0;
}
#topPage footer[role="contentinfo"] #footerNav,
#topPage footer[role="contentinfo"] #footerSegment,
#topPage footer[role="contentinfo"] #footerInfo {
	width: auto !important;
	padding-right: 10px;
	padding-left: 10px;
}

#topPage footer[role="contentinfo"] #footerNav > nav > div {
	margin-left: 0 !important;
	margin-right: 22px !important;
}

#topPage #pageTop {
	display: none !important;
}
