@charset "shift_jis";
/* Updated 2015/12/14,T */
/* Updated 2015/09/30,T */

/*--------------------------------------------
	HTML5 Reset ::style.css
	-------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer:http://ericmeyer.com
	HTML5 Doctor:http://html5doctor.com
	and the HTML5 Boilerplate:http://html5boilerplate.com
---------------------------------------------*/

/* Let's default this puppy out
--------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
article, aside, figure, footer, header, hgroup, nav, section{display:block;}

/* Responsive images and other embedded objects
   Note:keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed{max-width:100%;}

/*.ie8 img,
.ie8 object,
.ie8 embed{max-width:none;}*/

html{overflow-y:scroll;}
ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:''; content:none;}
a{margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
del{text-decoration:line-through;}
abbr[title], dfn[title]{border-bottom:1px dotted #000; cursor:help;}
table{border-collapse:collapse; border-spacing:0;}
th{font-weight:bold; vertical-align:top;}
td{font-weight:normal; vertical-align:top;}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input, select{vertical-align:top;}
pre{
	white-space:pre; /* CSS2 */
	white-space:pre-wrap; /* CSS 2.1 */
	white-space:pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap:break-word; /* IE */
}
input[type="radio"]{vertical-align:text-bottom;}
input[type="checkbox"]{vertical-align:bottom; *vertical-align:baseline;}
select, input, textarea{font:99% sans-serif;}
table{font-size:inherit; font:100%;}
a:hover, a:active{outline:none;}
strong, th{font-weight:bold;}
td, td img{vertical-align:top;} 
sub, sup{font-size:75%; line-height:0; position:relative;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
pre, code, kbd, samp{font-family:monospace, sans-serif;}
.clickable,
label, 
input[type=button], 
input[type=submit], 
button{cursor:pointer;}
button, input, select, textarea{margin:0;}
button{width:auto; overflow:visible;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{vertical-align:bottom;}
.clear:before,.clear:after {content: " "; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}