/*#reve-chat-widget-holder{
    visibility: hidden;
    position: fixed;
    right:0px;
    bottom: 0px;
    height: 400px;
    overflow: hidden;
    zoom: 1.0;
	border: none !important;
     -ms-zoom: 1;
        -moz-transform: scale(1.0);
        -moz-transform-origin: 0 0;
        -o-transform: scale(1.0);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(1.0);
        -webkit-transform-origin: 0 0;
}

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
                   /* IE10+ specific styles go here */  
/*#reve-chat-widget-holder{
    visibility: hidden;
    position: fixed;
    width: 315px !important;
    right:15px !important;
    bottom: 0px;
    height: 400px;
    overflow: hidden;
	border: none !important;
     zoom: 1.0;
     -ms-zoom: 1;
        -moz-transform: scale(1.0);
        -moz-transform-origin: 0 0;
        -o-transform: scale(1.0);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(1.0);
        -webkit-transform-origin: 0 0;
   }
}*/