@import url("style-base.css");
::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
body {color: #444; background: url("/images/bg.png") top left repeat-x #eeebe4;}
a {color: #ad0f13;}
a:hover {color: #ed1c24;}
/* header */
div.header {height: 100px;}
ul.topmenu {left: auto; right: 125px;}
ul.topmenu li a {color: #5d4610;}
ul.topmenu li a:hover {color: #000;}
div.logo {top: 10px;}
/* search field */
div.search {background: #fff; border-color: #b5ae9a;}
div.search input.sf {color: #222;}
div.search button.sb:after {color: #9c8c66;}
div.search.bottom {margin: 30px auto 40px auto;}
.autocomplete-suggestions {border-color: #b5ae9a; background:#fff;}
.autocomplete-suggestion {color: #222;}
.autocomplete-selected {background: #f0f0f0; color: #000;}
.autocomplete-suggestions strong {color: #ad0f13;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-b.png") no-repeat 100% 50%;}
#lngselect strong {color: #000;}
#lngselect.down:after {border-bottom-color: #b5ae9a;}
#lngselect ul {background-color: #e8e5db; border-color: #b5ae9a;}
/* headers */
h1,h2,div.h {color: #433; background: #ddd7c6; border-bottom: 1px solid #f5f2eb;}
h1,h2 {font-size: 22px; font-weight: 400; padding: 0 10px;}
div.h h1, div.h h2 {border: none; background: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.timerange a, div.pages a {background:#ddd3bb; border: 1px solid #b5ae9b;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {border: 1px solid #5d3f10; color: #452f0b;}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background:#ae110d; color:#fff; border: 1px solid #ae110d;}
/* content and thumb categories */
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #cdc6ad; background: #fbf8f0; box-shadow: 0 1px 1px rgba(255,255,255,0.5);}
ul.content li h3 {}
ul.content li span.src a {color: #444;}
ul.content li span.src a:hover {color: #ed1c24;}
ul.content li span.tl {border-top: 1px solid #eeebe4;}
ul.content li span.tl span {color: #888;}
ul.content li span.tl a {}
ul.content li span.tl a:hover {}
ul.content li span.hdlabel {background: #ae110d;}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after, ul.relatedthumbs li h3:after {color: #b5ae9b;}
div.az ul li:after, div.related a:after {color: #a79e86;}
/* text categories */
div.az ul li.letter {background: #e5e1d4; color: #433; border-bottom: 1px solid #f5f2eb;}
/* back to top button */
#back_to_top a#back-to-top {background: #967f5e;}
/* banners */
.ads3b {border-color: #cdc6ad; background: #fbf8f0; box-shadow: 0 1px 1px rgba(255,255,255,0.5);}
/* toplist */
div.tradeindex div.cont div.timg img {border: 1px solid #b4ae9a;}
div.tradeindex div.cont div.timg a:hover img {border: 1px solid #5d3f10;}
ul.globaltop li {border-bottom: 1px dotted #dfdcd4;}



@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border-color: #eeebe4; box-shadow: inset 0 0 1px #827353;}
}
@media all and (max-width: 767px) {
	div.header {height: 100px; background: none;}
	div.search {top:auto;}
	div.logo {top: 5px;}
	ul.content li a.report {color: #967f5e;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

