/**
 * Default styles, mobile-first, phone.
 * Ugh, Bootstrap overrides. I'm so sorry. Don't shoot the messenger.
 *
 * @author Troy Harvey <troyharvey@gmail.com>
 */
h1 {
    line-height: 24px;
}
a {
  color: #3f8bd4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3f8bd4;
  text-decoration: underline;
}

.container {
    max-width: 1170px !important;
}

div.header, div.footer {
    background-image: url(../images/bg.png);
    background-repeat: repeat;
}

div.header {
    padding: 15px 0;
}

.header__ad {
    text-align: right;
    padding: 20px;
}

div.footer {
    font-size: 13px;
}

div.footer, div.footer .footer-links a, div.footer .footer-links a.active, div.footer strong {
    color: #fff;
    font-size: 13px;
}

.spacer {
    margin-top: 40px;
}

.navbar {
    margin: 0;
    color: #fff;
}

.navbar a {
    color: #fff;
}

.navbar-header {
    margin-bottom: 0;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    height: 3px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

ul.navbar-nav {
    background-color: #fff;
}

.navbar-brand__logo {
    font-size: 22px;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}

.logo__accent {
    color: #fff !important;
}

.logo__tagline {
    font-size: 20px !important;
    line-height: 45px !important;
    color: #fff !important;
}

.topbar {
    margin: 0;
    margin-bottom: 20px;
    border-color: #8CD63F;
}

.url-form__url,
.url-form__go {
    display: block;
    width: 90%;
    margin: 10px auto;
}

.social-media-icons {
    display: block;
    text-align: center;
}

.social-sharing {
    margin-bottom: 20px;
}

.sidebar-ad {
    text-align: center;
    margin-top: 30px;
}

ul.feature-list li {
    padding: 5px;
    border-bottom: 1px solid #e6e6e6;
}

.convert-another-button {
    margin: 30px;
}

/* Ads */

.mail-to-mp3-banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Facebook badge */

.facebook-badge {
    position: fixed;
    right: 0px;
    top: 300px;
    border: 0;
    z-index: 100;
}
.facebook-badge__full, .facebook-badge__icon {
    padding: 0;
    border: 0;
}
.facebook-badge__full {
    display:none;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .navbar-brand .logo {
        font-size: 40px;
    }

    .navbar-header {
        margin-bottom: 25px;
    }

    .url-form__url, .url-form__go {
        display: inline-block;
        width: auto;
    }

    .url-form__url {
        width: 355px !important;
    }

    .social-media-icons {
        display: inline-block;
        text-align: auto;
    }

    .facebook-badge__icon {
        display:none;
    }
    .facebook-badge__full {
        display:block;
    }
}
