/* Theme Name: Theme Theme URI: piratefilmestorrent Description: By <a href="http://piratefilmestorrent.net/">Pirate Filmes Torrent</a> Author: piratefilmestorrent Author URI: http://piratefilmestorrent.net/ Version: 2.0 */

body{background:url("http://imageshack.com/a/img923/4723/kNsF1o.png") no-repeat center top;font-family:Tahoma, sans-serif;background-color:#FFFFFF;margin:0;padding:0}

h1,h2,h3,h4,h5,h6,{font-style:normal;font-weight:700;color:#292727;margin:0}

h1{font-size:1.4em}

h2{font-size:1.2em}

h3,h4,h5,h6{font-size:1em}

code{background:#f4f4f4;color:#6a6a6a;margin:0}

img{border:0}

a:link,a:visited{color:#ff4000;text-decoration:none}

.page{width:950px;position:relative;text-align:center;margin:0 auto;padding:5px}

.header{background:url() no-repeat center top;height:144px;margin:0;padding:0}

.blog-name:link,.blog-name:visited,.blog-name:hover{color:#4f0000;font-family:'Trebuchet MS', Verdana, Sans-Serif;font-size:26pt;font-weight:700;text-decoration:none;letter-spacing:-1px;background:transparent;margin:0 0 0 80px;padding:0}

.blog-description{color:green;font-size:10pt;font-weight:700;margin:0 0 0 80px;padding:0}

.menu-bar{background:url() repeat;height:13px;font-family:Iceberg, cursive;font-size:20px;margin:0;padding:12px 0 28px}

.feed{float:right;font-size:10pt;margin:4px 20px 4px 0 !important}

.feed a.rss{color:#ff4000;background:transparent url(images/rss.gif) no-repeat 5px 0;padding:0 0 0 25px}

.feed a.techno{color:green;background:transparent url(images/techno.png) no-repeat 4px 0;padding:0 0 0 25px}

ul.menu{float:left;list-style-type:none;margin:0;padding:0}

ul.menu li{float:left;list-style:none;line-height:35px}

ul.menu li a{color:#060606;font-weight:bold;text-decoration:none;font-size:13px;display:block;height:37px;float:left;font-weight:400;font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;padding:0 15px}

ul.menu li a:hover,ul.menu li a:active{text-decoration:none}

ul.menu li.current_page_item a:link,ul.menu li.current_page_item a:visited{color:#06c;text-decoration:none}

#subnavbar{background:url() repeat;width:950px;height:24px;color:#FFF;margin-bottom:5px;padding:0}

#subnav{margin:0;padding:0}

#subnav ul{float:left;list-style:none;margin:0;padding:0}

#subnav li{list-style:none;float:left;margin:0;padding:0}

#subnav li a,#subnav li a:link,#subnav li a:visited{color:#FFF;display:block;font-size:10px;font-weight:400;text-transform:uppercase;margin:0 5px 0 0;padding:6px 10px}

#subnav li a:hover,#subnav li a:active{color:#FFF;display:block;text-decoration:none;margin:0 5px 0 0;padding:6px 10px}

#subnav li li a,#subnav li li a:link,#subnav li li a:visited{background:url() repeat;width:140px;float:none;border-bottom:1px solid #FFF;border-left:1px solid #FFF;border-right:1px solid #FFF;margin:0;padding:6px 10px}

#subnav li li a:hover,#subnav li li a:active{margin:0;padding:6px 10px}

#subnav li ul{z-index:9999;position:absolute;left:-999em;height:auto;width:160px;margin:0;padding:0}

#subnav li ul a{width:140px}

#subnav li ul ul{margin:-25px 0 0 161px}

#subnav li:hover ul ul,#subnav li:hover ul ul ul,#subnav li.sfhover ul ul,#subnav li.sfhover ul ul ul{left:-999em}

#subnav li:hover ul,#subnav li li:hover ul,#subnav li li li:hover ul,#subnav li.sfhover ul,#subnav li li.sfhover ul,#subnav li li li.sfhover ul{left:auto}

#subnav li:hover,#subnav li.sfhover{position:static}

.search{float:right;margin:4px 10px 7px 6px}

.search input[type=text]{width:152px;height:13px;background:url();border:0;font-family:Tahoma, sans-serif;font-size:10px;color:#2c2114;padding:10px 7px 4px 24px}

#searchform #searchsubmit{background:url() no-repeat left top;height:24px;width:24px;border:none;text-indent:-999%;line-height:0;margin-top:0;cursor:pointer}

.search input[type=image]{vertical-align:top;line-height:18px;padding-top:1px}

.post-content{color:#444;width:500px;overflow:hidden;margin:15px 0 0;padding:0!important}

.post-content img,.post-content img:hover{border:0;padding:0}

.postmeta{font-size:8pt;margin:8px 2px}

.post-date{background:url(http://imageshack.com/a/img924/3904/JdczqK.gif) no-repeat 0 0;padding:0 0 0 20px}

.post-comment{background:url(http://imageshack.com/a/img922/8359/dqCuJd.png) no-repeat 0 0;padding:0 0 0 20px}

.post-comment a:link,.post-comment a:visited,.post-comment a:hover{color:green}

.post-filed{background:url(http://imageshack.com/a/img922/1610/LElLSY.gif) no-repeat 2px 0;padding:0 0 0 20px}

.more-link{width:100px;height:45px;background:url(http://1.bp.blogspot.com/-nSSOXzhw3dg/Ux2xVeXgcdI/AAAAAAAABnY/a7-AtOOuDm4/s1600/leia-mais.png) no-repeat right middle;margin:0}

.tags{text-align:center;margin-top:5px;color:#4a4a4a;font:bold 13px arial, verdana, tahoma}

.left-sidebar,.right-sidebar{position:absolute;overflow:hidden;margin:20px 0 0!important}

.left-sidebar{width:210px;left:5px}

.right-sidebar{width:210px;right:5px}

.elemento{color:rgb(167, 102, 102)}

.wp-widget-title{position:relative;top:-24px;background:url(http://imageshack.com/a/img923/7974/SBhdrx.png) no-repeat;color:#0B0A0A;font-size:10pt;font-weight:700;margin:0;padding:6px 0 6px 15px}

.wp-widget-title a:link,.wp-widget-title a:visited,.wp-widget-title a:hover{color:#FFF}

.wp-widget{background:url(images/widget_bottom_bg.png) no-repeat bottom;color:#555;font-size:8pt;margin:25px 0 35px;padding:0}

.wp-widget ul{list-style:none;position:relative;top:-15px;margin:5px 10px 5px 15px;padding:0}

.wp-widget ul li{background:url(images/bullet.png) no-repeat 0 0;line-height:15px;font-size:8pt;margin:0 0 10px;padding:0 0 0 14px}

.search-widget-title{background:url(images/widgetbg.gif) no-repeat;color:#fff;font-size:10pt;font-weight:700;margin:-25px 0 0;padding:6px 0 6px 15px}

.search-widget{color:#555;background:url(images/widget_bottom_bg.png) no-repeat bottom;font-size:10pt;margin:0 0 35px;padding:10px}

.textwidget{position:relative;top:-15px;margin:0 0 0 5px;padding:0}

.textwidget ul{list-style:none;position:relative;top:0;margin:0 0 0 5px;padding:0}

.textwidget ul li{background:url(images/bullet.png) no-repeat 0 0;line-height:15px;margin:5px 0 10px;padding:0 0 0 14px}

#calendar_wrap{position:relative;top:-10px;margin:0 40px}

#akismetwrap{position:relative;top:-15px;margin:0 45px}

#cat,select{position:relative;top:-10px;margin:0 30px}

.widget_categories ul li ul.children{position:relative;top:0;left:-10px}

.widget_pages ul li.page_item li{position:relative;top:20px;left:-10px}

.widget-title{background:url(images/widgetbg.gif) no-repeat;color:#fff;font-size:10pt;font-weight:700;padding:6px 0 6px 15px}

.widget{color:#555;background:url(images/widget_bottom_bg.png) no-repeat bottom;font-size:8pt;margin:0 0 10px;padding:10px}

.widget ul{list-style:none;margin:5px 5px 0;padding:0}

.widget ul li{background:url(images/bullet.png) no-repeat 0 0;margin-bottom:10px;padding-left:14px;line-height:15px;font-size:8pt}

.center-widget-title{background:url(images/center_widget_bg.png) center top no-repeat;color:#0066cc;font-size:16px;font-weight:700;margin:0 210px;padding:8px 0 0 15px}

.center-widget{background:url(images/center_widget_bottom_bg.png) center bottom no-repeat;color:#555;font-size:10pt;margin:0 210px 6px;padding:.1em 1.2em .6em}

.bottom-page-nav{text-align:center;color:#1D1E1E}

.footer{color:#555;font-size:10pt;font-weight:400;text-align:center;margin:0;padding:0}

.comment-list{margin:0 15px 20px;padding:0}

.comment-meta{position:relative;top:-20px;color:#555;font-size:10pt;margin:50px 0 0}

.odd-comment .comment-text{position:relative;top:-10px;background:url(images/comment-bg-gradient.gif) top left repeat-y;color:#555;border:1px solid #b6cefe;width:440px;overflow:hidden;padding:0 10px!important}

.even-comment .comment-text{position:relative;top:-10px;background:url(images/comment-bg-gradient-green.gif) top left repeat-y;color:#555;border:1px solid #add3ad;width:440px;overflow:hidden;padding:0 10px!important}

.odd-comment .comment-text a:link,.odd-comment .comment-text a:visited,.odd-comment .comment-text a:hover{color:#0066cc;text-decoration:none}

#searchform{margin:0}

input#s{color:#777;width:90%;height:18px;border-left:1px solid #aaa;border-top:1px solid #aaa;border-right:1px solid #ddd;border-bottom:1px solid #ddd;margin:0;padding:2px}

input{color:#555}

textarea#comment{width:470px;color:#555;border-left:1px solid #aaa;border-top:1px solid #aaa;border-right:1px solid #ddd;border-bottom:1px solid #ddd;font-size:10pt}

input#author,input#email,input#url{width:200px;color:#555;border-left:1px solid #aaa;border-top:1px solid #aaa;border-right:1px solid #ddd;border-bottom:1px solid #ddd;font-size:10pt}

.redes{float:right;margin:2px 10px 7px 6px}

.tituloCompartilhe{width:100%;text-align:center;color:#444;font:bold 18px arial, verdana, tahoma}

ul.postCompartilhe{width:300px;margin:8px 0 0 120px}

.postCompartilhe li{float:left;width:90px}

a:hover,.even-comment .comment-text a:link,.even-comment .comment-text a:visited,.even-comment .comment-text a:hover{color:green;text-decoration:none}

ul.menu li a:link,ul.menu li a:visited,.widget-title a:link,.widget-title a:visited,.widget-title a:hover{color:#080808;font-weight:bold}

h1.post-title a:link,h1.post-title a:visited,h2.post-title a:link,h2.post-title a:visited{color:#272829}

h1.post-title a:hover,h2.post-title a:hover{color:#0066cc}

.post-content a:link,.post-content a:visited,.center-widget a:link,.center-widget a:visited,.bottom-page-nav a:link,.bottom-page-nav a:visited,.bottom-page-nav a:hover,.footer a:link,.footer a:visited,.footer a:hover,#commentform a:link,#commentform a:hover,#commentform a:visited{color:#070708}

.post-content a:hover,.center-widget a:hover{color:#06c;border-bottom:1px dashed #a0a0a0}

.post-content ul li,.center-widget ul li{background:url(images/bullet.png) no-repeat 0 0;list-style:none;margin:6px 0 0 -10px;padding:0 0 0 15px}

.post-content ol li,.center-widget ol li{margin:6px 0 0;padding:0}

.odd-comment .comment-meta a:link,.odd-comment .comment-meta a:visited,.odd-comment .comment-meta a:hover,.odd-comment .comment-meta .comment-author{color:#06c;font-weight:700}

.even-comment .comment-meta a:link,.even-comment .comment-meta a:visited,.even-comment .comment-meta a:hover,.even-comment .comment-meta .comment-author{color:green;font-weight:700}

#related_posts {
    margin-top: 8px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 0px solid #E2E2E2;
}
 
#related_posts .item {
    width: 113px;
    max-height: 205px;
    overflow: hidden;
    float: left;
    margin: 6px;
    font-weight:bold;
    text-align:center;
}
 
#related_posts .item img {
    -webkit-box-shadow: 0 0 4px #999;
    box-shadow: 0 0 0px #999;
    border: white solid 0px;
    padding: 0px;
    margin: 0 auto;
   
}