.social_share_privacy_area {
    clear: both;
	list-style-type: none;
	padding: 0 !important;
	width: auto;
	display: block;
	text-align:left;
}
.social_share_privacy_area li {
	margin: 0 !important;
	padding: 0 !important;
	height: 21px;
	float: left;
}
.social_share_privacy_area li .dummy_btn {
    float: left;
    margin: 0 10px 0 6px;
    cursor: pointer;
    padding: 0;
    height: inherit;
}
.social_share_privacy_area li div iframe {
    overflow: hidden;
    height: inherit;
    width: inherit;
}
/* Facebook begin */
.social_share_privacy_area .facebook {
    /*width: 180px;*/
    display: inline-block;
}
.social_share_privacy_area .facebook .fb_like iframe {
    width: 115px !important;
}
body.lang-en .social_share_privacy_area .facebook .fb_like iframe,
body.lang-cz .social_share_privacy_area .facebook .fb_like iframe {
    width: 120px !important;
}
body.lang-en .like .social_share_privacy_area .facebook .fb_like iframe {
    width: 80px !important;
}
body.lang-it .social_share_privacy_area .facebook .fb_like iframe {
    width: 105px !important;
}

.socialBoxFooter .social_share_privacy_area .facebook .fb_like img {
	/*filter:alpha(opacity=80); /* IE */
	-moz-opacity: 0.80; /* Mozilla */
	opacity: 0.80; /* Opera */
}

/* Facebook end */
/* Twitter begin */
.social_share_privacy_area .twitter {

}
.social_share_privacy_area li div.tweet iframe {
    width: 70px !important;
}
body.lang-en .social_share_privacy_area li div.tweet iframe,
body.lang-it .social_share_privacy_area li div.tweet iframe {
    width: 58px !important;
}

/* Twitter end */
/* Google+ begin */
.social_share_privacy_area .gplus {
}
.social_share_privacy_area li div.gplusone iframe {
    width:32px !important;
}

/* Google+ end */
/* Switch begin */
.social_share_privacy_area li .switch {
    display: inline-block;
    text-indent: -9999em;
    background-image: url(../images/socialshareprivacy_on_off.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 23px;
    height: 12px;
    overflow: hidden;
    float: left;
    margin: 4px 0 0;
    padding: 0;
    cursor: pointer;
}

.social_share_privacy_area li .switch.on {
    background-position: 0 -12px; 
}


/* Switch end */
/* Tooltips begin */
.social_share_privacy_area li.help_info {
    position: relative; 
}
.social_share_privacy_area li.help_info div.tooltipContainer {
	float:left;
	width:auto;
}
.social_share_privacy_area li.help_info div.tooltipContainer div.tooltipOver {
	bottom:0px;
}
.social_share_privacy_area li.help_info.display .tooltipOver , 
.social_share_privacy_area li .help_info.icon.display .tooltipOver {
    display: block;
}
.social_share_privacy_area li.help_info.info_off.display .tooltipOver {
    display: none;
}
.social_share_privacy_area li .help_info.icon {
    background: #fff no-repeat center center scroll;
    width: 25px;
    height: 20px;
    position: relative;
    display: inline-block;
	vertical-align: top;
	border: 2px solid #e7e3e3;
	border-right-width: 0;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
    margin: 0;
    padding: 0;
   display:none;
}
.social_share_privacy_area li.settings_info .settings_info_menu.on .help_info.icon {
	border-top-width: 0;
	border-left-width: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.perma_option_off .help_info.icon {
	border-right-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* Tooltips end */
/* Settings/Info begin */
.social_share_privacy_area li.settings_info {
	position: relative;
	display:none;
	top: -2px;
}
.social_share_privacy_area li.settings_info a {
	text-decoration: none;
	margin: 0 !important;
}
.social_share_privacy_area li.settings_info .settings_info_menu {
    background-color: #f3f4f5;
    border: 2px solid #e7e3e3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #c1c1c1;
	-webkit-box-shadow: 2px 2px 3px #c1c1c1;
    box-shadow: 3px 3px 3px #c1c1c1;
    left: 0;
    position: absolute;
    top: 0;
    width: 135px;
    z-index: 1000;
    margin: 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off {
	border-width: 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
}
.social_share_privacy_area li.settings_info .settings_info_menu.off form {
	display: none;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu .settings {
	text-indent: -9999em;
	display: inline-block;
	background: #fff no-repeat center center scroll;
	width: 25px;
	height: 20px;
	border: 2px solid #e7e3e3;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
	border-left: 1px solid #ddd;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu.on .settings {
	border-top-width: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset {
    border-width: 0;
    margin: 0;
    padding: 0 10px 10px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset legend {
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    margin: 0;
    padding: 10px 0;
	width: 115px;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset input {
	clear: both;
    float: left;
    margin: 4px 10px 4px 0;
    padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
	-moz-transition: color .5s ease-in;
	-webkit-transition: color .5s ease-in;
	transition: color .5s ease-in;
	margin: 0;
	padding: 0;
}
.social_share_privacy_area li.settings_info .settings_info_menu form fieldset label.checked {
	color: #090;
}
/* Settings/Info end */