#ud_social_popup {
    position: fixed;
    z-index: 9999;
    display: none;
    padding: 0;
    border: 10px solid rgba(82, 82, 82, 0.7);
    width: 320px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

#ud_social_popup_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

#ud_social_popup_close_btn {
    position: absolute;
    top: 0;
    right: 0;
}

#ud_social_popup_time_text{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
}

.ud_social_popup_footer {
    text-align: left;
    padding: 2px;
    overflow: hidden;
    font-size: 13px;
    height: 42px;
}

.ud_social_popup_footer a {
    float: right;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 4px 6px;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 12px;
    margin: 1px;
    text-shadow: 1px 1px 0 #fff;
    color: #090;
}

#ud_social_popup_header {
    background-size: 1px 42px;
    background-color: #4e69a2;
    border: 0;
    box-shadow: none;
    height: 42px;
    padding: 0 5px;
    position: relative;
}
.ud_social_popup_text_wrap{
    height: inherit;
    display: table;
    width: 100%;
}

#ud_social_popup_header_text {
    font-family: helvetica, arial, sans-serif;
    color:white;
    font-size: 16px;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5)
}

