html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#fullwidthHeaderImg {
	max-height:360px;
	overflow-y:hidden;
	height:auto;
}

/* page header image */
#fullwidthHeaderImg {
	position: relative;
	overflow: hidden;
}
.carousel-slider {
	max-width: 1260px;
	width: 100%;
	margin: 0 auto;
}
.crsl-items {
	position: relative;
	display: block;
	width: 100%;
}
.crsl-items img{
	width:100% !important;
}
.carousel-slide {
	margin: 0 15px 0 0;
	padding:0;
	float: left;
	-webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.carousel-slide.crsl-opacity {
	opacity: 0.3;
}
.carousel-slide img {
	height: 360px;
	width: 1260px;
	float: left;
}
.crsl-item figcaption {
	box-sizing: border-box;
	position: absolute;
	bottom: -80px;
	opacity: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	color: #FFF;
	background: rgba(0,0,0,.75);
	-webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.crsl-item figcaption.crsl-active-caption {
	bottom: 0;
	opacity: 1;
}
.carousel-slide:not(.crsl-opacity) a:hover figcaption {
	bottom: 0;
	opacity: 1;
}
.title_text {
	font-family: 'Knockout 27 A', 'Knockout 27 B';
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	color: #C00;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin: 0px;
	white-space: nowrap;
}
.description_text {
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	font-size: 24px;
	color: #fff;
	/* height: 30px; */
	margin: 0px;
	white-space: pre-wrap;
	height:auto;
}
#carousel-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
}
#fullwidthHeaderImg #carousel-nav a {
	display: block;
	position: absolute;
	top: 150px;
	text-indent: -9999px;
	z-index: 99;
	width: 48px;
	height: 60px;
	background-color: #000;
	opacity: 0.5;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    color: #000;
    outline:none !important;
}
#carousel-nav a.previous {
	background-image: url('../images/icon/slider-left-arrow.png');
	left: -48px;
}
#carousel-nav a.next {
	background-image: url('../images/icon/slider-right-arrow.png');
	right: -48px;
}
#fullwidthHeaderImg:hover #carousel-nav a:hover {
	opacity: 0.7;
}
#fullwidthHeaderImg:hover #carousel-nav a.previous {
	left: 0;
}
#fullwidthHeaderImg:hover #carousel-nav a.next {
	right: 0;
}

.c-caption{
	text-align: left;
	color:#FFF;
	text-shadow:0 1px 1px #000;
	margin-top:90px;
	margin-left:30px;
}
.container-caption{
	background-image: linear-gradient(to right, rgba(0, 0, 0,0010) 0%, rgba(0, 0, 0,000) 100%);
	background-repeat: repeat-x;			
	position:absolute;
	max-width: 50%;
	top:0;
	left:0;
	bottom:0;
}
.c-caption p{
	padding:3px;
	background-color: #E42216;
	width:150px;
	text-align: center;
}

