#sidebar, #secondary {line-height: 1.3;}
#sidebar li, #secondary li {margin-top: 5px;}

h2 {
	font-size: 1.2em;
	}
/* --------- header ------------ */
h1 { float: left; width: 450px; height: 70px;}
#actualite {
	position: relative;
	border: none;
	margin: 0 24px 0 450px;
	padding: 6px 0 12px 0;
	line-height: 1.4;
	font-size: .9em
	}
	#actualite h2 {
		background: transparent;
		color: #c00050;
		margin: 0;
		padding: 4px 0 0 0;
		text-transform: uppercase;
		}
	#actualite ul {
		margin: 0;
		padding: 0 0 0 4px;
		border-left: 8px solid #c00050;
		list-style-type: none;
		}
		#france {
			background: #fff url(../images/rech-simple-fond.gif) no-repeat right bottom;
			}
/* --------- Legislation ------------ */
#france, #europe, #international, #category {padding: 0 1em;padding-bottom: 1em;line-height: 1.4;}
.ei-al-bo {
	float: right;
	width: 12em;
	}
/* --------- Recherche thematique ------------ */
form#sarde {margin-bottom:.5em;clear: both;}
	form#sarde span {padding-left: 20px;}
	form#sarde input.textArea {width: 20em;}
	form#sarde label {
		display: block;
		color: #333;
		font-style: italic;
		padding-bottom: 5px;
		}
		/*form#sarde label span {
			word-wrap: normal;
			white-space: normal;
			padding-left: 0;
			text-align: left;
			}*/
/* --------- Jurisprudence ------------ */
ul.jurisprudences{
	margin-left: 0;
	}
	ul.jurisprudences li {
		display: inline;
		padding-left: 12px;
		padding-right: 20px;
		}
.f3c #content li {
	background: transparent url(../images/fleche.gif) left .33em no-repeat;
	}
.f3c #content h3 {margin-top:0; padding-top:1.2em}

/* --------------------------------------------------
		secondary
-------------------------------------------------- */

#secondary ul {margin-bottom: 2em;}

ul.translate {
	text-align: left;
	}
.liensimages{
	background: #fff;
	border: 1px solid #369;
	margin: 0 0 1em 0;
	}
	.liensimages p {
		margin: 0;
		padding: 2px 8px;
		text-align: center;
		}
	.liensimages img {
		border: none;
		margin: 0 auto;
		}
	
#dcev {
	border: 1px solid #c00050;
	background: #fff;
	font-family: "palatino linotype", georgia, serif;
	font-style: italic;
	padding:0;
	}
#dcev a small {
	font-style: normal;
	font-weight: normal;
	}	
.capsule {
	border-top: 1px solid #369;
	border-bottom: 1px solid #369;
	margin: 2em 0 1em 0;
	padding: 4px 8px;
	text-align: center;
	}
.capsule a {
	text-decoration: none;
	font-weight: bolder;
	}
.capsule p {margin:0;}

/*.f3c #content ul li,.f3c #secondary ul li, .f3c #sidebar ul li {background:url(../images/fleche.gif) no-repeat 0 .4em;}*/


/* --------------------------------------------------
	MOBILES ET PETITS ECRANS 
-------------------------------------------------- */

@media screen and (max-width:640px) {

#skip, #breadcrumb  {display: none;}
body, #page {
	font-size: 100% !important;
	line-height: 1.2;
	background: #fff;
	width: auto !important;
	}
h1 {height: 50px;border-bottom: 1px solid #369;padding-bottom: 1em}
h1 a img {width: 300px;height: 48px;}
html, body, #page, #header, #skip, .f3c #container, .f2c #container,
#main, #content, #secondary, #sidebar,
h1 a, h1, #actualite, 
#france, #europe, #international, #ei-al-bo,
.article, .cat-home, .aside, #nav {	
	clear: both !important;
	float: none !important;
	width: auto !important;
	margin:0;
	padding:0;
	left: 0;
	}
.f2c #container{
	margin:0 0 0 17em;
	}
#page, .article, .cat-home {padding: 0 6px;}
form#sarde {border: 1px solid #ccc; padding: 1px 4px;}
form#sarde span {display: block; padding-left: 0; text-align: right;}
#header {padding-top:0;}
#container ul { margin: 0; }
#container h2, #container h3, .aside { margin: .75em 0 0; padding: 2px;}
ul#nav {position: relative;clear: both;width: 100%;background: #fff;margin: 0;margin-top: 4px;overflow: hidden;}
ul#nav li {display: block;padding: 2px 4px;background: #e6ecf4;border: 1px solid #cce;border-radius: 3px;margin-bottom: 3px;}
ul#nav li.nomobile {display:none;}
#infos_maj {position:relative;width:100%;top:0;border-radius:0;border-bottom: 1px solid #369;}

}

@media screen and (orientation: landscape) { 
  body { 
   -webkit-text-size-adjust: 70%; 
  } 
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    img { max-width: 100%; }
}

.form_erreur{
    background-color: #fee;
    border: 1px solid #c00050;
    color: inherit;
}