body {background:#fff;}
#page {width:90%;margin:0 auto;text-align:justify;font-family:serif; font-size:11pt; line-height:13pt;color:#000;}
#content, #main, #container {
width: 100%;
margin: 0;
float: none;
}
ul {text-align: left;}
h1 a img, #skip, #nav, #breadcrumb, #footer, form input, #infos_maj, #sidebar {display:none;}
h1 {font:9pt sans-serif normal;text-align:center;text-decoration:none;width:70%;margin:6pt auto;font-style:italic}
a {color:#666;text-decoration:none;}
h1 a {text-decoration: none;}

h2 {
	margin: 0 0 24pt;
	font:bold 16pt sans-serif;
	border-bottom:1pt solid #999;
	border-top:1pt solid #999;
	padding-top:4pt;
	text-align: center;
}
h3 {
  font: bold 14pt sans-serif;
	margin: 12pt 0 6pt;
}
p {
  margin:7pt 0 3pt 0;
}

.encadre-retrait {
    border: 1px solid #CCCCCC;
    border-radius: 0.25em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    margin: 1.5em 3em;
    padding: 0 1em 0.33em;
}
.encadre-plein {
    border: 1px solid #aaa;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 1.5em 0;
    padding: 0 1em 0.33em;
}
.centrer {
    text-align: center;
}

.lang-ar #main {
	float: left;
}
.lang-ar #content {
	float: right;
}
.lang-ar #sidebar {
    float: right;
    margin-right: -16em;
}
.f2c #container.lang-ar {
	margin: 0 17em 0 0;
}
.lang-ar ul, .lang-ar #sidebar ul {
	list-style-type:disc; 
	margin-right: 12px; 
	padding-right: 12px;
}
.lang-ar ul, .lang-ar #sidebar ul {
	margin-right: 6px; 
	padding-right: 0;
}
.lang-ar li, .lang-ar #sidebar li {
	background-image: none;
	margin-right: 12px;
	padding-right: 12px;
}

.lang-ar .aside {float: left;}

.lang-ar ul {text-align: right;}

a.ext {
    background: transparent;
    padding: 0;
}
