/* --------------------------------------------------
	Author : Anne Cavalier / DILA
	Last change : 16 avril 2011
-------------------------------------------------- */

/* ------------- reset minimal ------------- */
html {overflow-y:scroll; font-size: 100.1%;}
body {border: 0; width: 100%;background: #fff;}
body, html, div, form, fieldset, h1 { margin: 0; padding: 0;}
input, button, select {vertical-align: middle;}
img, a img {border: none;}

/* ----------------- liens ----------------- */
a {color: #369; font-weight: normal;}
a:hover { text-decoration: none; }
a:focus { background: yellow; }
a.ext {background: transparent url(../images/a-ext.gif) no-repeat right top; padding-right: 14px;}

/* ------------ Elements html -------------- */
h2, h3, h4, h5, h6 { 
	line-height: 1.2; 
	font-weight: bold;
	font-style: normal; 
	margin: 1em 0 .5em 0;
	zoom: 1;
	}
	h2 {font-size: 1.2em; color: #fff; background: #369; padding: 4px 8px 4px 12px; margin: 8px 0 0 0; border-radius: 2px;}
	h3 {font-size: 1.2em; color: #c00050; padding: 1.5em 5px 0 0; margin: 0;}
	h4 { font-size: 1.15em; color: #c00050; font-weight: normal; }
	h5 { font-size: 1.08em; color: #c00050;font-style:italic;font-weight:normal;}
	h6 { font-size: 0.98em; color: #c00050; font-style:italic;font-weight:normal;}
	.h7 { font-size: 0.9em;}
	.h8 { font-size: 0.85em;}
ul, ol {padding: 0; margin: .75em 0; zoom: 1;}
ul {list-style-type: none;}
ul li {background: transparent url(../images/fleche-grise.gif) no-repeat 0px .33em; padding-left: 12px; margin: 3px;}
ol {margin-left: 1.5em;}
p {margin: .75em 0;}
small {font-size: .9em;}


/* --------------------------------------------------
	HEADER
-------------------------------------------------- */

#header {background: #fff; position: relative; border-bottom: 1px solid #369;}
h1 {padding-top: 2px; padding-bottom: 12px;}
	h1 a img {display: block;}
	h1 span {position: absolute;left: -10000px;}
#skip {
	background: #369;
	line-height: 1.8em;
	margin: 0;
	overflow: hidden;
	}
	#skip li {
		float: left;
		list-style-type: none;
		margin: 0 1em 0 0;
		background:transparent;
		}
	#skip li a {color:#fff;}
	#skip li a:focus {color: #000;}
#breadcrumb {clear: both; background: #fff; margin: 0; padding: 3px 12px !important; font-size: .9em;}
#breadcrumb a, #breadcrumb strong {padding: 0 .5em;}
#infos_maj a {background: transparent url(../images/info.jpg) no-repeat left center; padding-left: 14px;text-decoration:none;}
#infos_maj a:focus {background-color: yellow}

/* --------- Navigation horizontale ------------ */
#nav {
	clear: both;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #d5d5d5;
	background: #eee;
	list-style-type: none;
	margin: 0;
	line-height: 2em;
	padding: 0 0 0 8px;
	}
	ul#nav li {
		display: inline;
		background: none;
		padding: 0;
		}
	ul#nav li a {
		padding: 0 1.8em;
		color: #333;
		text-decoration: none;
		background: transparent url(../images/a-link.png) no-repeat 4px center;
		}
	ul#nav li a:hover, ul#nav li a.active {
		color: #c00050;
		background: transparent url(../images/a-active.png) no-repeat 4px center;
		}
	ul#nav li a:focus { background-color: yellow; }
	ul#nav a strong {font-weight: normal;}

/* --------------------------------------------------
		SIDEBAR
-------------------------------------------------- */

#sidebar {line-height: 1.3;}
#sidebar ul {margin-bottom: 2em;}

	#sidebar ul li a.active, #sidebar ul li a.active strong {
		color: #c00050;
		text-decoration: none;
		}
	#sidebar ul li a:focus { background-color: yellow; }
#sidebar ul ul {margin-top: 0;margin-left:1em;}
#searchbox {padding: 0 6px 4px; margin-top: 1em; margin-bottom: 1em; border: 1px solid #bbb;}
#searchbox fieldset {padding: 0; border: none; margin-top: 2.5em;}
#searchbox form legend, 
#searchbox form label {font-weight: bold;color:#000; border: none; margin-bottom: .5em;}
#searchbox form fieldset label {font-weight: normal;display:block;}
#searchbox label {display:block;}
#searchbox em {font-size: .875em;}
#searchbox p strong {color: #c00050;}
#searchbox p.submit {text-align: left;}
#searchbox select {width: 12em;}

/* --------------------------------------------------
		FOOTER
-------------------------------------------------- */

#footer {text-align: center; border-top:1px solid #369; padding: .5em 0}
#footer ul {margin: 0 auto;}
#footer ul li {display: inline;padding:0 6px;background-image:none;}

/* --------------------------------------------------
		OTHER CLASSES
-------------------------------------------------- */

.hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	}
.article, .cat-home {padding: 0 1em 1em 1em;}
.content-article {margin-top: 2em; padding-bottom: 2em;}
.warning {
	zoom: 1;
	margin: 6px 0 12px 0;
	padding: 2px 10px;
	background: #ffc;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	line-height: 1.3;
	}

.current_index { 
font-weight:bold;
}
/*
css pour les formulaires
*/
.content-article ul.formu {
    margin-left: 10px;
}
ul.formu {
    list-style-type: none;
}
ul.formu li.menu {
    margin: 0;
}
ul li.liste {
    margin: 0 0 10px;
}
ul.formu li ul {
    margin: 10px 0 0 50px;
}
ul.formu li ul li {
    margin: 0 0 10px;
}
p.info {
    font-size: 0.8em;
    font-style: italic;
}
.formu label {
    white-space: nowrap;
}
.content-article label {
    display: block;
}
label, input, abbr, select {
    cursor: pointer;
}
label a, input a {
    color: #000000;
}
.content-article ul.formu label {
    display: block;
    float: left;
    padding-right: 5px;
}
abbr.required {
    border-bottom: 0 none;
    color: #C00050;
    text-decoration: none;
}
.error {
    background-color: #C00050;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px;
}
.message_erreur {
    background: url("../images/bg-error.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 3px solid #c00050;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    font-weight: bold;
}
.message_success {
    border: 3px solid green;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    padding: 0 5px;
    font-weight: bold;
}

.btn-submit {
/*    color: #336699;
    font-weight: bold;
    margin-top: 1em;
    padding: 4px 12px;
*/
}
.msg_hidden{ 
	display:none;
}
.msg_show{
	display:block;
}

ul.formu li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0 0 10px;
    padding: 0;
}
/* tableaux et faux tableaux */
table {
	margin: 16px auto;
	border-collapse:collapse;
	border: 1px solid #aaa;
  	border-spacing: 0; 
	}
.traductions table {
	width: 90%;
	}
	table th, table tr, table td {
		border: 1px solid #aaa;
		border-right-color: #ccc;
		padding: 6px;
	  	vertical-align: top; 
		}
	table th {
		background: #e5e5e0;
		}
	table a, .traductions .fausse-table a { 
		text-decoration: none; 
		color: #000; 
		border-bottom: 1px dotted #000;
		}
	table a:hover, .traductions .fausse-table a:hover { color: #369; }
#content .fausse-table { width: 90%; margin: 16px auto;border: 1px solid #aaa; border-collapse: collapse;}
#content .fausse-table h4{ font-size: 1em; font-weight: bold; color: #000; background: #e5e5e0; padding: 6px; margin: 0;}
#content .fausse-table ul { margin: 0; padding: 0;}
#content .fausse-table li { border-top: 1px solid #aaa; margin: 0; padding: 7px; background: #fff;}

/* sommaire interne */
.aside {
	float: right;
	width: 19em;
	margin: 2em 1em;
	border: 1px dotted #666;
	line-height: 1.3;
	font-size: .9em;
	padding:0.5em;
	}
.lang-ar .aside {float: left;}
.aside ul, .aside p {
	padding: 0 8px;
	}
.oksomm ul.somm li {
		background: transparent;
		padding-left: .25em
		}
.oksomm ul.somm li ul {
	padding-top: 0;
	margin-top: 0;
	}
.oksomm .content-article {
	max-width: 60em;	
	}

/* sous-titre */
.sous-titre {
	margin-top: .33em;
	margin-bottom: 0;
	font-style: italic;
	}

.content-article ul {
	margin-left: 2em;
	}
.content-article ol {
	margin-left: 3em;
}
/* --------------------------------------------------
	LAYOUT COMMON RULES
-------------------------------------------------- */

body {
	background: none repeat scroll 0 0 #EEEEEE;
	color: #333;
	font-family: arial, FreeSans, sans-serif;
	font-size: .8em;
	line-height: 1.5;
	}
#page {
	margin:0 auto;
	width:100%;
	max-width:1600px;
	background:#e6ecf4;
	}
#skip {}
#header {width: 100%;}
#infos_maj {
	z-index:100;
	position:absolute;
	top:0;
	right:0;
	width:17em;
	background:#eee;
	margin:0;
	text-align:center;
	padding-bottom:2px;
	border-bottom-left-radius: 5px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-size:.95em;
	}
#nav {clear: both;}
#container {
	position: relative;
	min-height:0;
	zoom: 1;
	background:#fff;
	padding-top: 1px;
	}
	#container:after {clear:both; content:""; display:block; height:0; font-size:0;}
#main {
    float: right;
    position:relative;
    width:100%;
	}
#content {
    float: left;
    width:100%;
	padding: .5em 0;
	}
#sidebar {
    float:left;
    width:15em;
    margin-left:-16em;
    position:relative;
    padding-top:.5em;
	}
#footer {clear:both;background: #eee}

/* --------------------------------------------------
	LAYOUT fluide 3 colonnes (okazou)
	<body class="f3c">
-------------------------------------------------- */

.f3c #container {margin: 0 17em;}
#secondary {
    float:left;
    width:15em;
    margin-right:-15em;
    position:relative;
    padding-top:.5em;
	left:1em;
	}

.f3c.actu #container {margin:0; background: #fff}
.f3c.actu #container .inner {padding: 0 1em; padding-bottom:2em;}
.f3c.actu #container #bottommain {clear:both;}
.f3c.actu #container #bottommain div {width:30%;padding:1%;float:left}
.f3c.actu #container .two.first {width:48%;padding: 0 1.5% 0 0;float:left}
.f3c.actu #container .two.second {width:48%;padding: 0 0 0 1.5%;float:left}
.f3c.actu #container .two .selection {margin-top:1em;padding: 3px 1em;background:#E6ECF4;border-radius:6px}
.f3c.actu #topmain .selection h3 {padding-top:.5em;}
.f3c.actu #flash {border: 1px dotted #333; padding:3px 1em;margin-top:2em;}
.f3c.actu #flash h3 {color:#999;padding-top:.5em;font-size: 1.1em}


/* --------------------------------------------------
	LAYOUT fluide 2 colonnes (pages intérieures courantes)
	<body class="f2c">
-------------------------------------------------- */

.f2c #container {margin: 0 0 0 17em;}
.f2c #container_entreprise {margin: 0;}
.f2c #sidebar h3 {background: transparent; color: #666; font-size: 1.1em; padding: 0;margin-bottom:0;}
.f2c #sidebar h2 {background: #757575;margin-bottom: .5em; font-size: 1.1em;padding:  2px 8px 2px 12px;}

#filter,#listeTextes{
	background-color:#ffffff;
	margin-bottom:5px;
}
.list{
	text-align: center;
	border:1px solid;
	min-height:50px;
	margin-bottom:1px;
}
ul#filter_h li,ul.filter_date li{
	float:left;
	background:none;
	}
ul#filter_h,ul.filter_date
{
list-style:none outside none;
min-width:10px;
padding-top:15px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
text-align: center;
padding-bottom: 0px;
padding-left: 0;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0;
width: 100%;
font-family: Arial,Helvetica,sans-serif;
line-height: 18px;
/* fixes Firefox 0.9.3 */
}

ul#filter_h li,ul.filter_date li
{
display: inline;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 0px;
padding-top: 0px;
}
#filter h2,#listeDomaines h2{
	text-align:center;
	}
	#listeDomaines h2{
	padding:0;
	margin:0;
	}
.bouton{
	padding:5px;
	text-align:center;
	}
#bouton{
	padding:5px;
	text-align:center;
	}
.table,.calendrier{
	display:table;
	margin-left: auto ;
    margin-right: auto ;	
	}
.calendrier{
	}
#filter_v{	
background-color:#ffffff;
border:1px solid;
}
.bouton_form{
	width:200px;
	} 
ul#filter_h li li_year,ul.filter_date li li_year
{
padding-left: 5px;
padding-right: 5px;
padding-bottom: 0px;
padding-top: 0px;
text-decoration: none;
 
}
#listeDomaines
{
height:100%;
width:22%;
margin-bottom:5px;
float:left;
}	
#list_result{
	float:right;
	width:77%;
	}
#lien_gauche{
	margin-top:-40px;
	margin-left:5px;
	float:left;
	}
#lien_droite{
	margin-top:-20px;
	margin-right:5px;
	float:right;
	}

.lang-ar #main {
	float: left;
}
.lang-ar #content {
	float: right;
}
.lang-ar #sidebar {
    float: right;
    margin-right: -16em;
}
.f2c #container.lang-ar {
	margin: 0 17em 0 0;
}
.lang-ar ul, .lang-ar #sidebar ul {
	list-style-type:disc; 
	margin-right: 12px; 
	padding-right: 12px;
}
.lang-ar ul, .lang-ar #sidebar ul {
	margin-right: 6px; 
	padding-right: 0;
}
.lang-ar li, .lang-ar #sidebar li {
	background-image: none;
	margin-right: 12px;
	padding-right: 12px;
}

.encadre-retrait {
    border: 1px solid #CCCCCC;
    border-radius: 0.25em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
    margin: 1.5em 3em;
    padding: 0 1em 0.33em;
}
.encadre-plein {
    border: 1px solid #aaa;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 1.5em 0;
    padding: 0 1em 0.33em;
}
.centrer {
    text-align: center;
}

/* affichage du bandeau CNIL */
#layerCookies {
    background: #f0f0f5;
    color: #205081;
    line-height: 1.5em;
    margin: 0;
    min-height: 1.5em;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 101;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7); 
}
#layerCookies p {
    margin: 0 auto;
    padding: 0.2em;
    padding-left: 1em;
}
#layerCookies em {
    font-style: normal;
}

#layerCookies a {
    color: #205081;
    text-decoration: underline;
    font-weight: bold;
}
#layerCookies .close {
    background: url("../images/close.png") no-repeat scroll 4px 4px transparent;
    cursor: pointer;
    display: inline-block;
    margin-left: 1em;
    margin-right: 0.5em;
    position: relative;
    text-indent: 24px;
    top: 0;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    float: right;
    overflow: hidden;
}

/* --------------------------------------------------
	MOBILES ET PETITS ECRANS 
-------------------------------------------------- */
	

@media screen and (max-width: 1279px) {
    .oksomm .aside {
        margin: 2em 0;
        float: none;
        width: auto;
    }
    .oksomm .content-article {
        max-width: 100%;
    }
}

@media screen and (max-width:640px) {
	
#skip, #breadcrumb {display: none;}
body, #page {
	font-size: 100% !important;
	line-height: 1.2;
	background: #fff;
	width: auto !important;
	}
h1 {height: 50px;border-bottom: 1px solid #369;padding-bottom: 1em}
h1 a img {width: 300px;height: 48px;}
html, body, #page, #header, #skip, .f3c #container, .f2c #container,
#main, #content, #secondary, #sidebar,
h1 a, h1, .article, .cat-home, .aside,#topmain div, #bottommain div, ul#nav {	
	clear: both !important;
	float: none !important;
	width: auto !important;
	margin:0 !important;
	padding:0;
	left: 0;
	}
#page, .article, .cat-home {padding: 0 6px;overflow: hidden;}
form#sarde {border: 1px solid #ccc; padding: 1px 4px;}
form#sarde span {display: block; padding-left: 0; text-align: right;}
#header {padding-top:0;}
#container ul { margin: 0; }
#container h2, #container h3, .aside { margin: .75em 0 0; padding: 2px;}
ul#nav {position: relative;clear: both;width: 100%;background: #fff;margin: 0;margin-top: 4px;overflow: hidden;}
ul#nav li {display: block;padding: 2px 4px;background: #e6ecf4;border: 1px solid #cce;border-radius: 3px;margin-bottom: 3px;}
ul#nav li.nomobile {display:none;}
#infos_maj {position:relative;width:100%;top:0;border-radius:0;border-bottom: 1px solid #369;}
div.selection p {padding-bottom: 4px}
}
@media screen and (orientation: landscape) { 
  body { 
   -webkit-text-size-adjust: 70% !important; 
  } 
}
a.rss {background: transparent url(../images/rss-icon.gif) no-repeat right top; padding-right: 14px;}
#content_jsactif{display:none;}
