.primary {
  background-color: #ffa400;
  border-color: #ffa400;
  color: #fff;
  margin: 0;
  padding: 6px 12px;
  height: 34px;
  line-height: 20px;
  font-size: 14px;
  font-family: "Gotham 4r", sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle; }

.primary:hover {
  box-shadow: none; }

.secondary {
  background-color: #0094ca;
  border-color: #0094ca;
  color: #fff;
  margin: 0;
  padding: 6px 12px;
  height: 34px;
  line-height: 20px;
  font-size: 14px;
  font-family: "Gotham 4r", sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle; }

.secondary:hover {
  box-shadow: none; }

/*# sourceMappingURL=buttons.css.map */
