#user_hero {
  margin: 10px 0px;
  padding-right: 5px;
  width: 100%;
  line-height: 35px; }
  #user_hero #welcome {
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    font-family: "Gotham 4r", sans-serif;
    text-align: left;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    #user_hero #welcome.teacher {
      background-color: #0094ca; }
    #user_hero #welcome.student {
      background-color: #7665a0; }
  #user_hero #body {
    overflow: hidden;
    padding: 10px;
    font-family: "Gotham 4r", sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    line-height: 25px;
    vertical-align: middle; }
    #user_hero #body.teacher {
      background-color: #d9eff7;
      color: #5b6770; }
    #user_hero #body.student {
      background-color: #a69bc1;
      color: #fff; }
    #user_hero #body.hero_disabled {
      font-size: 14px;
      line-height: 20px;
      background-color: #d9eff7; }
      #user_hero #body.hero_disabled a {
        color: #0094ca; }
  #user_hero #plc_course_progress {
    background-color: #d9eff7;
    border-bottom: 1px solid #0094ca;
    color: #5b6770;
    padding: 10px; }
  #user_hero #currentprogress {
    width: 70%;
    float: left; }
  #user_hero #coursebuttons {
    width: 30%;
    float: right;
    line-height: 45px; }
  #user_hero a {
    color: white;
    font-family: "Gotham 4r", sans-serif;
    text-decoration: none; }
  #user_hero .smalltext {
    font-size: 14px; }

/*# sourceMappingURL=user-hero.css.map */
