#warning-banner {
  padding: 10px 20px 5px 20px;
  font-size: 13px;
  line-height: 16px;
  background-color: #7665a0;
  text-align: center;
  color: white;
  height: 40px; }
  #warning-banner a, #warning-banner a:visited {
    font-family: "Gotham 7r", sans-serif;
    color: white;
    text-decoration: underline; }
  #warning-banner a:hover {
    background: transparent; }
  #warning-banner #message {
    float: left;
    width: 90%; }
  #warning-banner #hide-warning {
    position: relative; }
  #warning-banner #hide-warning .close {
    float: right;
    font-size: 20px; }

.warning-sign {
  font-size: 16px;
  color: #efcd1c; }

@media screen and (min-width: 500px) and (max-width: 940px) {
  #warning-banner {
    min-height: 60px; }
    #warning-banner #hide-warning {
      margin-top: 10px; } }
@media screen and (max-width: 499px) {
  #warning-banner {
    min-height: 75px; }
    #warning-banner #hide-warning {
      margin-top: 15px; } }

/*# sourceMappingURL=warning-banner.css.map */
