.sliderwrapper
{
    position: relative; /*leave as is*/
    overflow: hidden; /*leave as is*/
    width: 505px; /*width of featured content slider*/
    height: 145px;
    margin: 0 auto;
}

.sliderwrapper .contentdiv
{
    visibility: hidden; /*leave as is*/
    position: absolute; /*leave as is*/
    left: 0; /*leave as is*/
    top: 0; /*leave as is*/
    padding: 0;
    background: white;
    width: 505px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.pagination
{
    width: 200px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
    text-align: left;
    float: left;
    height: 27px;
    padding-left: 10px;
    padding-top: 3px;
}

.pagination a
{
    margin: 0px 1px 0px 1px;
    text-decoration: none;
    background-image: url('../Images/bullet_03.jpg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}

.pagination a:hover, .pagination a.selected
{
    background-image: url('../Images/bullet_04.jpg');
    background-repeat: no-repeat;
}
