﻿body
{
    background: #0D0D0D url('../images/bgTopMain.jpg') no-repeat center top; /* display: table; */
}

#mastHead
{
    background-image: url(../images/logo_top.jpg);
    background-repeat: no-repeat;
    height: 147px;
    width: 955px;
    clear: both;
    float: none;
}

.theme-container
{
    float: left;
    width: 200px;
}
.theme-container ul li
{
    float: right;
    border: none;
    margin: 8px 5px 8px 5px;
    padding: 0;
    height: 10px;
    width: 10px;
    overflow: hidden;
}
.theme-container ul li a
{
    display: block;
    width: 10px;
    height: 10px;
    margin: 0;
    background: transparent url(../images/sprite_themeicns.gif) no-repeat;
}

.clearfix::after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#bodyArea
{
    float: left;
    width: 955px;
    background-image: url(../images/babg.jpg);
    padding-top: 0px;
    background-repeat: repeat-y;
    clear: both;
    margin: 0 auto;
}

#content
{
    margin: 0px 8px 0px 9px;
    background-position: center top;
    background-image: url(../images/bodyarea_top.jpg);
    width: 938px;
    float: left;
    position: static;
    background-repeat: no-repeat;
}

*html #content
{
    display: inline;
}

#bodyLeft
{
    float: left;
    vertical-align: top;
    width: 200px;
    color: black;
    position: static;
    clear: left;
}

#bodyCenter
{
    float: left;
    vertical-align: top;
    width: 538px;
    color: #000000;
    position: static;
    text-align: justify;
    overflow: auto;
    background: url(../images/centerSdbar.gif) repeat-x 0 70px;
}

#bodyRight
{
    float: right;
    vertical-align: top;
    width: 200px;
    padding: 20px 0px 0px 0px;
    position: static;
}

/* ------------ Top Links ------------------ */

.topLinks
{
    margin: 0px 10px 10px 10px;
    overflow: hidden;
    width: 515px;
}
.topLinks .hd
{
    width: 6px;
    height: 42px;
    float: left;
    position: static;
    background: url(../images/sprite_hd.png);
}
.topLinks .left
{
    background-position: 0px -416px;
}
.topLinks .right
{
    background-position: 0px -468px;
}
.topLinks .hd-middle
{
    width: 493px;
    height: 30px;
    float: left;
    position: static;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
    background: url(../images/sprite_hd.png);
}
.topLinks .middle
{
    background-position: 0px -520px;
}
.topLinks .left_alter
{
    background-position: 0px -572px;
}
.topLinks .right_alter
{
    background-position: 0px -624px;
}
.topLinks .middle_alter
{
    background-position: 0px -676px;
}
.topLinks .boxMiddle
{
    background: url(../images/bgtopbox.jpg) repeat-y 0 0;
    float: left;
    clear: both;
    padding-top: 6px;
    width: 515px;
    background-color: #FFFFFF;
}
.topLinks .boxMiddle_alter
{
    float: left;
    clear: both;
    padding-top: 6px;
    width: 515px;
    background-color: #e1e1e1;
}
.topLinks h4
{
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    color: black;
}
.topLinks .boxBottom
{
    background: url(../images/border-btm.jpg) no-repeat 0 0;
    padding: 0px;
    margin: 0px;
    height: 8px;
    width: 515px;
    clear: both;
}
.topLinks .boxBottom_alter
{
    background: url(../images/border-btm-alter.jpg) no-repeat 0 0;
    padding: 0px;
    margin: 0px;
    height: 8px;
    width: 515px;
    clear: both;
}
.topLinks ul
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
.topLinks ul li
{
    margin: 0;
    padding: 1px 14px 1px 10px;
    text-align: right;
    direction: rtl;
}
.topLinks ul li A
{
    padding: 3px 13px 3px 5px;
    background: url(../images/bullet_02.gif) no-repeat scroll right 0.65em;
    font-family: tahoma;
    color: #666666;
    display: block;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    text-align: justify;
    line-height: 16px;
}

.topLinks ul li A:hover
{
    color: #000000;
}
.topLinks ul li span
{
    padding: 3px 18px 3px 10px;
    background: url(../images/attention.png) no-repeat scroll right 0.15em;
    font-family: tahoma;
    color: #000000;
    display: block;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    text-align: justify;
    line-height: 17px;
}
.topLinks .new
{
    margin-right: 4px;
}

/* --------------- Top News --------------- */
#topNews
{
    margin: 0px 10px 10px 10px;
    overflow: hidden;
    width: 515px;
}
#topNews .hd
{
    width: 6px;
    height: 42px;
    float: left;
    position: static;
    background: url(../images/sprite_hd.png);
}
#topNews .lefttop
{
    background-position: 0px -156px;
}
#topNews .righttop
{
    background-position: 0px -208px;
}
#topNews .hd-middle
{
    width: 493px;
    height: 30px;
    float: left;
    position: static;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
    background: url(../images/sprite_hd.png);
}
#topNews .middle
{
    background-position: 0px -260px;
}
#topNews .boxMiddle
{
    background: url(../images/bgtopbox.jpg) repeat-y 0 0;
    float: left;
    clear: both;
    padding-top: 6px;
    width: 515px;
    background-color: #FFFFFF;
}
#topNews h4
{
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    color: black;
    float: right;
    width: 100px;
}
#topNews .boxBottom
{
    background: url(../images/border-btm.jpg) no-repeat 0 0;
    padding: 0px;
    margin: 0px;
    height: 8px;
    width: 515px;
    clear: both;
}

/* ----- Top Story ----- */
.top-story
{
    margin: 0px 10px 0px 10px;
    width: 485px;
}
.top-story .cnt
{
    padding: 0;
    width: 295px;
    float: left;
    text-align: right;
    direction: rtl;
    margin-right: 5px;
}
.top-story .cnt h2
{
    margin-bottom: 3px;
    text-align: justify;
}
.top-story .cnt h2 a
{
    background-image: none;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #666666;
    margin-right: 0px;
    line-height: 16px;
    font-family: tahoma;
}
.top-story .cnt h2 a:hover
{
    color: #000000;
}
.top-story .cnt a
{
    font-family: tahoma;
    background-image: none;
    font-size: 11px;
    font-weight: normal;
    text-decoration: underline;
    color: #666666;
}
.top-story .cnt A:hover
{
    text-decoration: none;
}
.top-story P
{
    font-family: Tahoma;
    line-height: 16px;
    text-align: justify;
    margin-bottom: 3px;
    color: #555555;
    font-size: 11px;
}
.top-story .dt
{
    font-family: tahoma;
    color: #9a9a9a;
    direction: rtl;
    text-align: right;
    font-size: 10px;
    background-image: none;
    line-height: 1.2em;
}
.top-story .media
{
    margin: 0px;
    width: 185px;
    float: right;
    padding: 0px 0px 0px 0px;
}
.top-story .media A
{
    background-image: none;
    float: none;
    padding: 0px;
    margin: 0px;
}
.top-story .media img
{
    border: 1px solid #808080;
}
