﻿#pageWrapper
{
    width: 955px;
    margin: 0 auto;
}

.mh-wrap
{
    background: none;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 110px;
}

.link-container
{
    height: 60px;
    width: 126px;
    float: left;
    margin-top: 20px;
}
.link-container ul
{
    margin-top: 14px;
    padding-left: 12px;
    margin-bottom: 5px;
    height: 15px;
}
.link-container ul li
{
    float: left;
    clear: none;
    line-height: 16px;
}
.link-container ul li a
{
    width: 15px;
    height: 15px;
    margin: 0 0 0 14px;
    padding: 0;
    float: left;
}
.link-container span
{
    margin: 0 auto;
    display: block;
    font-size: 11px;
    font-family: tahoma;
    text-align: center;
}

.logo-container
{
    margin: 0 0 0 250px;
    width: 200px;
    float: left;
    height: 110px;
}

/* ------------ Panels ------------------ */
.panelBox
{
    margin: 0 10px 10px 10px;
    overflow: hidden;
}
.panelBox .hd
{
    width: 6px;
    height: 42px;
    float: left;
    position: static;
    background: url(../images/sprite_hd.png);
}
.panelBox .left
{
    background-position: 0 -312px;
}
.panelBox .right
{
    background-position: 0 -364px;
}
.panelBox .hd-middle
{
    width: 164px;
    height: 30px;
    float: left;
    position: static;
    text-align: right;
    padding-right: 4px;
    padding-top: 12px;
    background: url(../images/sprite_hd.png);
}
.panelBox .middle
{
    background-position: 0 -728px;
}
.panelBox .lefttop
{
    background-position: 0 0;
}
.panelBox .righttop
{
    background-position: 0 -52px;
}
.panelBox .middletop
{
    background-position: 0 -104px;
}
.panelBox h4
{
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
}
.panelBox ul li
{
    margin: 0;
    padding: 0 10px 0 5px;
    text-align: right;
    direction: rtl;
}
.panelBox ul li a
{
    background: url(../images/bullet_01.gif) no-repeat scroll right 1.05em;
    font-family: tahoma;
    color: #333333;
    display: block;
    width: auto;
    padding: 3px 7px 3px 0;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
    text-align: justify;
}

.clear15
{
    clear: both;
    height: 15px;
    overflow: hidden;
}

.clear
{
    clear: both;
    height: 2px;
    overflow: hidden;
}

#footerArea
{
    float: left;
    width: 943px;
    position: static;
    background-image: url(../images/footerarea.jpg);
    height: 50px;
    padding-left: 12px;
    padding-top: 10px;
    background-repeat: repeat-y;
    color: #666666;
    margin-bottom: 10px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.footer-left
{
    float: left;
}
.footer-right
{
    float: right;
    width: 500px;
}

#footerArea p.left
{
    float: left;
    text-align: left;
    width: auto;
    font-size: 11px;
    color: #333;
    padding-top: 10px;
}
#footerArea p
{
    margin-bottom: 0;
}
#footerArea .subfooter
{
    color: #666666;
    font-family: tahoma;
    width: 940px;
    float: right;
    text-align: right;
    direction: rtl;
    padding-right: 15px;
    font-size: 11px;
}
#footerArea .subfooter a
{
    color: #666666;
    font-family: Tahoma;
    font-size: 11px;
    text-decoration: none;
}
#footerArea .subfooter a:hover
{
    color: #000000;
}

#bodyAreaBottom
{
    float: left;
    background-image: url(../images/ftr-bg.jpg);
    width: 955px;
    background-repeat: no-repeat;
    position: static;
    height: 10px;
    background-color: #C7C8CC;
}

.link-bottom
{
    float: right;
    padding-right: 12px;
    display: block;
    list-style: none outside none;
    padding-top: 0;
    margin-bottom: 10px;
}
.link-bottom li
{
    display: inline;
    float: left;
    border-left: 1px solid #666666;
}
.link-bottom li:first-child
{
    border-left: 0 none !important;
    margin-left: 0 !important;
    padding-left: 0;
}

.link-bottom li a
{
    font-size: 11px;
    color: #666666;
    margin-left: 3px;
    padding: 0 3px 0 5px;
    text-decoration: none;
    font-family: tahoma;
    margin-right: 5px;
}
.link-bottom li a:hover
{
    color: #000000;
}

.visitor
{
    padding: 0;
    margin: 0;
    width: 200px;
}
.visitor li
{
    padding: 0 1px 1px 0;
    display: block;
    font-size: 11px;
    color: #666666;
    direction: rtl;
}

.visitor li span.t
{
    text-align: right;
    width: 55px;
    display: inline-block;
}

.visitor li span.n
{
    text-align: left;
    width: 90px;
    display: inline-block;
}

/* ------------ Page Box ------------------ */
.pgBox
{
    margin: 0 0 10px 0;
    overflow: hidden;
    width: 712px;
    font-family: tahoma;
    font-size: 12px;
}
.pgBox .hd
{
    width: 6px;
    height: 42px;
    float: left;
    position: static;
    background: url(../images/sprite_hd.png);
}
.pgBox .left
{
    background-position: 0 -416px;
}
.pgBox .right
{
    background-position: 0 -468px;
}
.pgBox .hd-middle
{
    width: 690px;
    height: 30px;
    float: left;
    position: static;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
    background: url(../images/sprite_hd.png);
}
.pgBox .middle
{
    background-position: 0 -520px;
}
.pgBox .lefttop
{
    background-position: 0 -156px;
}
.pgBox .righttop
{
    background-position: 0 -208px;
}
.pgBox .middletop
{
    background-position: 0 -260px;
}
.pgBox h4
{
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
}
.pgBox ul
{
    margin-bottom: 10px;
    margin-right: 10px;
}
.pgBox ul li
{
    margin: 0;
    padding: 0 5px 0 5px;
    text-align: right;
    direction: rtl;
    line-height: 18px;
}
.pgBox ul li a
{
    background: url(../images/bullet_01.gif) no-repeat scroll right 1.05em;
    display: block;
    width: auto;
    padding: 3px 7px 3px 0;
}
.pgBox a
{
    color: #0000FF;
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
    text-align: justify;
}
.pgBox a:hover
{
    color: #333333;
}
.pgBox .boxMiddle
{
    padding: 6px 10px 6px 10px;
    background: url(../images/bgtopbox1.jpg) repeat-y 0 0;
    float: left;
    clear: both;
    width: 692px;
    background-color: white;
    direction: rtl;
}
.pgBox .boxBottom
{
    background: url(../images/border-btm1.jpg) no-repeat 0 0;
    padding: 0;
    margin: 0;
    height: 6px;
    width: 712px;
    clear: both;
}
.pgBox p
{
    line-height: 18px;
    margin-bottom: 10px;
}
.pgBox label
{
    clear: right;
    display: block;
    float: right;
    margin: 10px 0 0 10px;
    padding-top: 0.25em;
    text-align: right;
    vertical-align: middle;
    width: 45%;
}
.pgBox table
{
    border: 1px solid #CCC;
}
.pgBox table td
{
    border: 1px solid silver;
    margin: 3px;
    padding: 3px;
}
.pgBox table th
{
    background-color: #CCCCCC;
    text-align: center;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-size: 11px;
    color: #666666;
}

.labelcnt
{
    float: right;
    border: 1px solid white;
    margin: 10px 0 0;
    padding-top: 0.25em;
    text-align: left;
    direction: rtl;
    width: 40%;
    font-weight: bold;
}

.srss ul li a
{
    background: url(../images/bullet_05.png) no-repeat scroll right 0.65em;
    padding: 4px 17px 3px 0;
}

/* ----- Group Menu ---------- */
#grpMenu
{
    margin: 0 7px 0 7px;
    overflow: hidden;
}
#grpMenu ul
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
#grpMenu ul li
{
    margin: 0;
    padding: 0 0 2px 0;
    text-align: right;
}
#grpMenu ul li a
{
    width: auto;
    padding: 0 20px 0 0;
    height: 20px;
    color: #FFFFFF;
    font-family: tahoma;
    text-decoration: none;
    display: block;
    font-weight: normal;
    font-size: 12px;
    background: url(../images/sprite_groups.png) no-repeat;
}
#grpMenu ul li a:hover
{
    background-position: 0 -275px;
}

* html .rmenu a
{
    /*IE only. Actual menu width minus left padding of LINK (20px) */
    width: 166px;
}

#grpMenu a.o1
{
    background-position: 0 0;
}
#grpMenu a.o2
{
    background-position: 0 -23px;
}
#grpMenu a.o3
{
    background-position: 0 -46px;
}
#grpMenu a.o4
{
    background-position: 0 -69px;
}
#grpMenu a.o5
{
    background-position: 0 -92px;
}
#grpMenu a.o6
{
    background-position: 0 -115px;
}
#grpMenu a.o7
{
    background-position: 0 -138px;
}
#grpMenu a.o8
{
    background-position: 0 -161px;
}
#grpMenu a.o9
{
    background-position: 0 -184px;
}
#grpMenu a.o10
{
    background-position: 0 -207px;
}
#grpMenu a.o11
{
    background-position: 0 -230px;
}
#grpMenu a.o12
{
    background-position: 0 -230px;
}
#grpMenu a.o13
{
    background-position: 0 -252px;
}

.lkf, lkf:visited
{
    color: #324fe1;
    text-decoration: none;
    color: #0000ff;
    text-decoration: none;
    background-image: url('../images/13-20.png');
    background-repeat: no-repeat;
    background-position: right 0;
    padding: 3px 20px 3px 0;
}

.lkf:hover
{
    color: #324fe1;
    text-decoration: underline;
}
