html{
  height: 100%;
}

body.video_container{
  width: 100%;
  position: relative;
  height: 100%
}

body.video_container #panel{
  height: 100%;
}

body.video_container section.video{
  height: 100% !important;
}

.c_wrapper{
  width: 960px;
  margin: 0 auto;
}

section.header{
  /*display: none;*/
  background: #fff;
  position: fixed;
  z-index: 15;
  left: 0;
  right: 0;
  top: -50px;
  height: 50px;
}

section.video{
  position: relative;
  display: none;
  /*background: #000 url(../img/bg_img.png) center center no-repeat;*/
  background: #000 url(../img/bgny2017.png) center center no-repeat;
  background-size: cover;
  /*height: auto !important;*/
  z-index: 14;
}

section.video video,
#video-wrap{
  width: 100%;
  height: 100%;
}

section.header.nav-up {
  top: 0px;
}

section.header.nav-down{
  position: absolute;
}

section.header.absolute{
  position: absolute;
}

section.body{
  padding-top: 50px;
  display: none;
}

section.video .arr_b{
  background: transparent url(../img/arr_b.png) center center no-repeat;
  height: 100px;
  position: absolute;
  top: 87%;
  top: 90vh;
  width: 100%;
  z-index: 10;
  cursor: pointer;
}

section.video .app_btns{
  display: inline-block;
  position: absolute;
  right: 0;
  top: 100%;
  top: 45vh;
}

section.video .app_btns a{
  display: block;
  width: 179px;
  height: 61px;
  float: left;
  margin: 0 15px;
}

section.video .app_btns .app_store{
  background: transparent url(../img/appStore.png) center center no-repeat;
  left: -40px;
  position: relative;
}

section.video .app_btns .google_play{
  background: transparent url(../img/googlePlay.png) center center no-repeat;
  right: -40px;
  position: relative;
}

section.video .app_btns .app_store__eng{
  background: transparent url(../img/appStore_eng.png) center center no-repeat;
  left: -40px;
  position: relative;
}

section.video .app_btns .google_play__eng{
  background: transparent url(../img/googlePlay_eng.png) center center no-repeat;
  right: -40px;
  position: relative;
}

section.video .app_btns .app_store__es{
  background: transparent url(../img/appStore_es.png) center center no-repeat;
  left: -40px;
  position: relative;
}

section.video .app_btns .google_play__es{
  background: transparent url(../img/googlePlay_es.png) center center no-repeat;
  right: -40px;
  position: relative;
}

section.video .app_btns .app_store__br{
  background: transparent url(../img/appStore_br.png) center center no-repeat;
  left: -40px;
  position: relative;
}

section.video .app_btns .google_play__br{
  background: transparent url(../img/googlePlay_br.png) center center no-repeat;
  right: -40px;
  position: relative;
}

section.video .app_btns .app_store__tr{
  background: transparent url(../img/appStore_tr.png) center center no-repeat;
  left: -40px;
  position: relative;
}

section.video .app_btns .google_play__tr{
  background: transparent url(../img/googlePlay_tr.png) center center no-repeat;
  right: -40px;
  position: relative;
}

.content-overlay {
  position: relative;
  z-index: 20;
  max-width: 71%;
  max-width: 70vw;
  margin: auto;
  margin-top: 4.7%;
  margin-top: 15vh;
}

.zag_v{
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 380%;
  font-size: 4vw;
  font-weight: 100;
  width: 35vw;
  line-height: initial;
}

.zag_v p:first-child{
  position: relative;
  left: -50px;
  opacity: 0;
}

.zag_v p:last-child{
  position: relative;
  left: 50px;
  opacity: 0;
}

.signup_v{
  float: right;
  margin-top: 2vh;
}

.signup_v ul{
  list-style: none;
}

.signup_v ul li{
  display: inline-block;
  float: left;
}

.signup_v .registration{
  background: #fdc437;
  display: inline-block;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.signup_v .sign-in{
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.signup_v .sign-in:before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent url(../img/login_w.png) center center no-repeat;
  background-size: 20px;
  float: left;
  margin-right: 7px;
}

.signup_v .sign-in span{
  border-bottom: 1px dashed #fff;
  padding-bottom: 5px;
}

.signup_v .sign-in:hover span{
  border-bottom: 1px solid transparent;
}

.logo_v{
  width: 301px;
  height: 76px;
  background: transparent url(../img/logo_w.png) center center no-repeat;
  display: block;
  float: left;
}

.header_v{
  display: inline-block;
  width: 100%;
  margin-bottom: 20vh;
}

.control_btn{
  opacity: 0.7;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10%;
  top: 84%;
  left: 8vw;
  top: 87vh;
  z-index: 100;
  cursor: pointer;
}

.control_btn:hover{
  opacity: 1;
}

.control_btn.pause{
  background: transparent url(../img/pause.png) center center no-repeat;
}

.control_btn.play{
  background: transparent url(../img/play.png) center center no-repeat;
}

section.video .app_btns__dop {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 126%;
  top: 52vh;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  width: 400px;
}

.app_btns__dop__zag{
  font-size: 15px;
  font-weight: 300;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: .75;
}

.app_btns__dop__list{
  list-style: none;
  display: inline-block;
  width: 100%;
}

.app_btns__dop__list li{
  display: inline-block;
  float: left;
  font-size: 13px;
  margin-right: 48px;
  opacity: .75;
}

.app_btns__dop__list li:hover{
  opacity: 1;
}

.app_btns__dop__list li a{
  color: #fff;
  text-decoration: none;
  padding-left: 45px;
  display: block;
  height: 36px;
  line-height: 36px;
}

.app_btns__dop-OSX a{
  background: transparent url(../img/osx.png) left center no-repeat;
}

.app_btns__dop-Windows a{
  background: transparent url(../img/wind.png) left center no-repeat;
}

.app_btns__dop-Blackberry {
  margin-right: 0 !important;
}

.app_btns__dop-Blackberry a{
  background: transparent url(../img/bb.png) left center no-repeat;
}

.new_menu,
.zag_main-fieldset,
.b-es_banner {
  display: none;
}
