.header-user-block{
  position: relative;
}

td.header-user-block>div.login_popup_cont{
  position: absolute;
  width: 290px;
  height: auto;
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  right: 0;
  margin-top: 5px !important;
  padding: 0;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  display: none;
  top: 33px;
}

.login_popup_cont:after, .login_popup_cont:before {
  bottom: 100%;
  left: 105px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.login_popup_cont:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.login_popup_cont:before {
  border-color: rgba(191, 191, 191, 0);
  border-bottom-color: #bfbfbf;
  border-width: 7px;
  margin-left: -7px;
}

a.icon-log-off,
#wmid{
  display: none;
}

td.header-user-block a.user-link-to-events{
  width: 150px;
  padding-right: 25px;
  background: transparent url(../img/icon-search-toggle-down.png) right center no-repeat;
}

td.header-user-block a.user-link-to-events span{
  white-space: nowrap;
  color: #036cb5;
  /*border-bottom: 1px dotted transparent;*/
  border-bottom: 1px dotted #036cb5;
  display: inline-block;
  overflow: hidden;
  margin-right: 5px;
  line-height: normal;
  padding-top: 8px;
  margin-left: 3px;
  max-width: 145px;
  position: relative;
}

td.header-user-block a.user-link-to-events:after{
  content: "";
  width: 15px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: 17px;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

td.header-user-block a.user-link-to-events:hover span{
  border-bottom: 1px dotted #036cb5;
}

td.header-user-block a.user-link-to-events.active:hover span{
  border-bottom: 1px dotted transparent;
}

td.header-user-block a.user-link-to-events.active{
  background: transparent url(../img/icon-search-toggle-up.png) right center no-repeat;
}

td.header-user-block a.user-link-to-events.active span{
  color: #b0b0b0;
  border-bottom: 1px dotted transparent;
}

td.header-user-block a.user-link-to-events.active img{
  opacity: 0.4;
}

td.header-user-block>div.login_popup_cont.active{
  display: block;
}

td.header-user-block a.user-link-to-events img{
  width: 26px;
  height: 26px;
}

.user_top_info{
  padding: 10px;
  height: 70px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.uti_img{
  width: 50px;
  height: 50px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.uti_img img{
  width: 100%;
  display: block;
}

.uti_descr{
  float: left;
}

.user_nickname{
  display: block;
  line-height: normal;
  text-decoration: none;
  color: #036cb5;
  font-size: 14px;
  margin-bottom: 8px;
}

.user_nickname span{
  border-bottom: 1px dotted transparent;
  position: relative;
  white-space: nowrap;
  max-width: 210px;
  overflow: hidden;
  display: inline-block;
}

.user_nickname:after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 9px;
  right: 0;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 48%,rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

.user_nickname:hover span{
  border-bottom: 1px dotted #036cb5;
}

/* change position */
.user_logout{
  padding: 5px 10px 5px 25px;
  font-size: 11px;
  color: #727a81;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  text-decoration: none;
  background: #f7f7f7 url(../img/user_logout.png) 10px center no-repeat;
  display: inline-block;
  line-height: normal;
  float: right;
}

html[lang^="es"] .user_logout {
  padding: 5px 5px 5px 20px;
  background: #f7f7f7 url(../img/user_logout.png) 5px center no-repeat;
}

html[lang^="es"] td.header-user-block>div.login_popup_cont{
  width: 310px;
}

html[lang^="es"] .uti_descr{
  width: 220px;
}

html[lang^="es"] .login_popup_cont::after, html[lang="es"] .login_popup_cont::before{
  left: 125px;
}

.user_logout:hover{
  background-color: #e6e6e6;
}

.user_purse {
  font-size: 10px;
  color: #546b80;
  padding: 5px 10px 5px 18px;
  background: transparent url(../img/purse.png) left center no-repeat;
  text-decoration: none;
  display: inline-block;
  float: left;
  line-height: normal;
  opacity: 0.7;
}

.user_purse:hover{
  opacity: 1;
}

.user_purse span{
  border-bottom: 1px dotted transparent;
}

.user_purse:hover span{
  border-bottom: 1px dotted #546b80;
}

.login_settings, .login_settings:visited{
  font-size: 12px;
  color: #454545;
  display: block;
  text-decoration: none;
  background: transparent url(../img/settings.png) 11px center no-repeat;
  padding: 8px 10px 8px 40px;
  border-top: 1px solid #e3e3e3;
}

.login_settings:hover{
  background-image: url(../img/settings_h.png);
}

.add_wmid:hover{
  background-color: #e6e6e6;
  opacity: 1;
}

.add_wmid{
  font-size: 12px;
  color: #454545;
  display: block;
  text-decoration: none;
  background: #f3f3f3 url(../img/add_wmid.png) 10px center no-repeat;
  padding: 8px 10px 8px 40px;
  opacity: 0.7;
}

.wmid_dop{
  list-style: none;
}

.wmid_dop li a{
  padding: 10px 10px 6px;
  border-top: 1px solid #e3e3e3;
  background: #f3f3f3;
  display: block;
  height: 33px;
}

.wmid_dop li a:hover{
  background-color: #e6e6e6;
}

.wmid_dop li a img{
  float: left;
  margin-right: 7px;
  margin-top: 2px;
}

.u_info{
  display: inline-block;
  float: left;
  width: 230px;
}

.u_info .u_nickname{
  color: #454545;
  font-size: 12px;
  line-height: normal;
  width: 230px;
  overflow: hidden;
  position: relative;
}

.u_info .u_nickname:after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: -6px;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(243,243,243,1) 47%, rgba(243,243,243,1) 48%, rgba(243,243,243,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(243,243,243,1) 47%,rgba(243,243,243,1) 48%,rgba(243,243,243,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(243,243,243,1) 47%,rgba(243,243,243,1) 48%,rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f3f3f3',GradientType=1 );
}

.wmid_dop li a:hover .u_nickname:after{
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(231,231,231,1) 47%, rgba(230,230,230,1) 48%, rgba(230,230,230,1) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(231,231,231,1) 47%,rgba(230,230,230,1) 48%,rgba(230,230,230,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(231,231,231,1) 47%,rgba(230,230,230,1) 48%,rgba(230,230,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6e6e6',GradientType=1 );
}

.u_info .u_wmid{
  color: #b0b0b0;
  font-size: 10px;
  line-height: normal;
}

.wmid_dop li:last-child a{
  border-bottom: 1px solid #e3e3e3;
}

td.header-user-block > div {
    float: none;
}
.login_close, .overlay_bg{
  display: none;
}
