@media only screen and (max-width: 728px) { 
#wmid {
    display: none !important;
}
td.header-user-block a.user-link-to-events {
    width: 26px; 
    padding-right: 0px; 
    background: none; 
    border:0 !important;
}
td.header-user-block a.user-link-to-events img {
    position: static;
}
td.header-user-block > div {
    width: 26px;
    margin-right: 12px !important;
    margin-top: 12px !important;
    padding-left: 8px;
}
header {
    padding: 0;
    overflow: visible;
    z-index: initial;
}
.overlay_bg{
    background: #000000;
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 19;
    left: 0;
    width: 100%;
    height: 100%; 
    overflow-x: auto;
    overflow: auto;
    display: block;
}
.login_popup_cont:after, .login_popup_cont:before{
  display: none;
}

.uti_descr{
  width: calc(100% - 65px);  
}

td.header-user-block>div.login_popup_cont.active {
    display: block;
    left: 0;
    width: 95%;
    box-sizing: border-box;
    margin: auto !important;
    z-index: 1000;  
    top: 10px;
    min-width: 280px;
}
td.header-user-block{
  position: static;
}
.u_info .u_nickname{
  font-size: 14px;
}
.u_info .u_wmid{
  font-size: 11px;
}
.login_close, .login_close:visited{
    display: block;
    font-size: 12px;
    color: #454545;
    display: block;
    text-decoration: none;
    background: transparent url(../img/user_close.png) 16px center no-repeat;
    background-size: 12px 11px;
    padding: 8px 10px 8px 40px;
    border-top: 1px solid #e3e3e3;
}
}