@font-face {
  font-family: 'Adamina';
  font-style: normal;
  font-weight: 400;
  src: local('Adamina'), local('Adamina-Regular'), url(http://fonts.gstatic.com/s/adamina/v8/6FkaXkveXKT6_fNDsDBhAQ.ttf) format('truetype');
}
