@charset "utf-8";
/* CSS Document */

html{
	height:100%;
}

body {
	height:100%;
	position:relative;
	overflow-x:hidden;
	/overflow-x: visible;
}

a#topAnchor {
	_line-height:1px;
	height:1px;
	display:block;
}

#wrapper {
	position:relative;
	width:100%;
	min-height:100%;
	height:auto;
	_height:99.9%;
	overflow:hidden;
	_overflow:visible;
	/*background:url(../imgs/common/bg.gif);*/
	background:url(../imgs/common/bg_top2.gif);
	/*background-image:url(../imgs/common/bg_lower3.gif);*/
	/*background-image:url(../imgs/top/bg_pict5.jpg);*/
	background-position:0 -200px;
	background-attachment:fixed;
}

#wrapper.lower {
	/*background-image:url(../imgs/common/bg_lower.gif);*/
	background:#f6f6f6 !important;
}


/*ナビゲーション*/
#GLOBALNAV {
	display:block;
	position: fixed;
	_position: absolute;
	width:245px;
	height:100%;
	/*_height:auto;*/
	background:url(../imgs/common/bg_menu.gif) 0 0 repeat-y;
	top:0;
	right: auto;
	left:0;
	padding-right:5px;
	z-index:2000;
}

#GLOBALNAV #menu {
	width:230px;
	/position:fixed;
	/width:230px;
	height:100%;
	_height:99.9%;
	/*padding-top:35px;*/
	background:url(../imgs/common/bg_menu.gif) 0 0 repeat-y;
	box-shadow: 2px 0px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 2px 0px 2px rgba(0,0,0,0.15); /* Firefox用*/
	-ms-box-shadow: 2px 0px 2px rgba(0,0,0,0.15); /* IE用 */
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.15); /* webkit用 */
}

#GLOBALNAV .spBg {
		display:none;
}


#GLOBALNAV.lowerLayer {
	display:block;
	position: fixed;
	_position: absolute;
	width:245px;
	height:100%;
	/*_height:auto;*/
	background:url(../imgs/common/bg_menu.gif) 0 0 repeat-y;
	top:0;
	right: auto;
	left:0;
	padding-right:5px;
	z-index:2000;
}

#GLOBALNAV #menu.lowerLayer {
	width:230px;
	/position:fixed;
	/width:230px;
	height:100%;
	_height:99.9%;
	/*background:#fff;*/
	box-shadow: 2px 0px 2px rgba(0,0,0,0.15);
	-moz-box-shadow:2px 0px 2px rgba(0,0,0,0.15); /* Firefox用*/
	-ms-box-shadow: 2px 0px 2px rgba(0,0,0,0.15); /* IE用 */
	-webkit-box-shadow: 2px 0px 2px rgba(0,0,0,0.15); /* webkit用 */
}

#logo img {
	width:201px;
	/*height:34px;*/
	height:40px;
}

#logo a {
	display:block;
	padding:50px 0 48px;
	text-align:center;
}

#GLOBALNAV .gnavMain {
	border-bottom:1px solid #f6f6f6;
}

#GLOBALNAV .gnavMain li.basicNav{
	position:relative;
	font-size:0;
	text-indent:-100%;
	/zoom:1;
	border-top:1px solid #f6f6f6;
}

#GLOBALNAV .gnavMain li .mainNavBg{
	display:block;
	height:49.9px;
	background-image: url(../imgs/common/navi/nav_2x.png);
	background-size:690px 351px;
	-webkit-background-size:690px 351px;
	background-position:-460px 0;
	background-repeat: no-repeat;
	outline:none;
}

/*
#GLOBALNAV .gnavMain ul.mainNav li:nth-child(5){
	display:none;
}
#GLOBALNAV .gnavMain ul.mainNav > *:first-child + * + * + * + *{
	display:none;
}
*/
#GLOBALNAV .gnavMain li.curNav {
	box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
	-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.15); /* Firefox用*/
	-ms-box-shadow: 0px 2px 2px rgba(0,0,0,0.15); /* IE用 */
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.15); /* webkit用 */
	z-index:2;
}

/* default */
#GLOBALNAV .gnavMain li#nav1 .mainNavBg{ background-position:0 0;}
#GLOBALNAV .gnavMain li#nav2 .mainNavBg{ background-position:0 -50px;}
#GLOBALNAV .gnavMain li#nav3 .mainNavBg{ background-position:0 -100px;}
#GLOBALNAV .gnavMain li#nav4 .mainNavBg{ background-position:0 -150px;}
#GLOBALNAV .gnavMain li#nav5 .mainNavBg{ background-position:0 -200px;}
#GLOBALNAV .gnavMain li#nav6 .mainNavBg{ background-position:0 -250px;}
#GLOBALNAV .gnavMain li#nav7 .mainNavBg{ background-position:0 -300px;}

html.oldIE #GLOBALNAV .gnavMain li .mainNavBg{
	background-image: url(../imgs/common/navi/nav.png);
}
#GLOBALNAV .gnavMain li .mainNavBg span{
	display:none;
}

/* curNav */
#GLOBALNAV .gnavMain li#nav1.curNav .mainNavBg{ background-position:-460px 0;}
#GLOBALNAV .gnavMain li#nav2.curNav .mainNavBg{ background-position:-460px -50px;}
#GLOBALNAV .gnavMain li#nav3.curNav .mainNavBg{ background-position:-460px -100px;}
#GLOBALNAV .gnavMain li#nav4.curNav .mainNavBg{ background-position:-460px -150px;}
#GLOBALNAV .gnavMain li#nav5.curNav .mainNavBg{ background-position:-460px -200px;}
#GLOBALNAV .gnavMain li#nav6.curNav .mainNavBg{ background-position:-460px -250px;}
#GLOBALNAV .gnavMain li#nav7.curNav .mainNavBg{ background-position:-460px -300px;}


/* rollover */
#GLOBALNAV .gnavMain li#nav1 a:hover { background-position:-230px 0;}
#GLOBALNAV .gnavMain li#nav2 a:hover { background-position:-230px -50px;}
#GLOBALNAV .gnavMain li#nav3 a:hover { background-position:-230px -100px;}
#GLOBALNAV .gnavMain li#nav4 a:hover { background-position:-230px -150px;}
#GLOBALNAV .gnavMain li#nav5 a:hover { background-position:-230px -200px;}
#GLOBALNAV .gnavMain li#nav6 a:hover { background-position:-230px -250px;}
#GLOBALNAV .gnavMain li#nav7 a:hover { background-position:-230px -300px;}

/*#GLOBALNAV .gnavMain li#nav6 { display:none;}*/

/*navBtns*/
#GLOBALNAV .navBtns {
	padding:15px;
}

#GLOBALNAV .navBtns ul {
	/*_height: 1px;*/
	min-height: 1px;
}

#GLOBALNAV .navBtns a {
	display: block;
	height:28px;
	width:178px;
	text-indent: -200%;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(../imgs/common/navi/nav_2nd_2x.png);
	background-repeat: no-repeat;
	background-size: 178px 112px;
	-webkit-background-size: 178px 112px;
}

#GLOBALNAV .navBtns li {
	display:block;
}

#GLOBALNAV .navBtns li#subnav1 {
	display:none;
	background-position:0 0;
	background-image: url(../imgs/common/navi/nav_2nd_2x.png);

	overflow: hidden;
	background-repeat: no-repeat;
	width:178px;
	height:28px;
	background-size: 178px 112px;
	-webkit-background-size: 178px 112px;
}



#GLOBALNAV .navBtns li#subnav2 a {
	display:none;
	background-position:0 -28px;
}

#GLOBALNAV .navBtns li#subnav2 a:hover {
	background-position:0 -84px;
}


/*資料請求バナー*/

#GLOBALNAV .navBtns li#subnav3 a {
	background-position:0 0px;
	margin:0px 0 0 -12px ;
	height:77px;
	width:224px;
	overflow:hidden;
	background:url(../imgs/common/navi/inquiry_2x.gif);
	background-size:224px 154px;
	-webkit-background-size:224px 154px;
}

html.oldIE #GLOBALNAV .navBtns li#subnav3 a {
	background:url(../imgs/common/navi/inquiry.gif);
	background-size:112px 77px;
}

#GLOBALNAV .navBtns li#subnav3 a:hover {
	background-position:0 -77px;
}

#GLOBALNAV .navBtns li#subnav4  {
	background-image:url(../imgs/common/tel_2x.gif);
	background-size:201px 50px;
	background-repeat:no-repeat;
	overflow:hidden;
	text-indent:-300%;
	margin-top:20px;
	width:201px;
	height:50px;
}

#GLOBALNAV .navBtns li#subnav5 a {
    background: rgba(0, 0, 0, 0) url(../imgs/common/banner_pmark_top.gif) no-repeat scroll 50% 0px / 60px 60px;
    width: 224px;
    height: 60px;
    margin: 20px 0 0 -12px;
    overflow: hidden;
}

html.oldIE #GLOBALNAV .navBtns li#subnav4 {
	background-image:url(../imgs/common/tel.gif);
}

@media only screen and (orientation : portrait) {

	#GLOBALNAV {
		position: fixed;
		width:100%;
		height: 100px;
		right: 0;
		padding-right:0;
		background:#FFF;
	}
	#GLOBALNAV #menu {
		height: auto;
		width:100%;
		padding-top:15px;
		box-shadow: none;
		background:#fff;
	}
	#GLOBALNAV .spBg {
			display:none;
	}

	#GLOBALNAV.lowerLayer{
		position: fixed;
		width:100%;
		height:114px;
		background: none;
		right: 0;
		padding-right:0;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
	}
	#GLOBALNAV #menu.lowerLayer {
		height: auto;
		width:100%;
		padding-top:15px;

	}

	#GLOBALNAV #logo{
		border-bottom:none;
		height:68px;
		/*text-align:center;*/
		background: #fff;
	}
	#GLOBALNAV #logo a{
		display:inline;
		/*text-align:center;*/
		padding:0;
		margin-left:5%;
	}
	#GLOBALNAV #logo a img{
		width:201px;
		margin-top:10px;
	}
	#GLOBALNAV .navBtns{
		position:relative;
		margin-top:-80px;
		margin-left:85%;
	}
	/*
	#GLOBALNAV .navBtns ul{
		background:url(../imgs/common/navi/bg_nav.png) no-repeat 31px 0;
	}
	*/
	#GLOBALNAV .navBtns .btnContact{
		float:left;
		width:21px;
		height:16px;
		margin-right:21px;
	}
	#GLOBALNAV .navBtns .btnFb{
		float:left;
		width:21px;
		height:16px;
	}



	#GLOBALNAV .gnavMain {
		text-align:center;
		padding:0 0;
		position:relative;
		background: #fff;
		border-bottom:none;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2); /* Firefox用*/
		-ms-box-shadow: 0px 2px 2px rgba(0,0,0,0.2); /* IE用 */
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2); /* webkit用 */
	}
	#GLOBALNAV .gnavMain li.basicNav{
		position: static;
		display:inline-block;
		height:30px;
		width:13%;
		border-bottom:none;
		vertical-align: bottom;
	}

	#GLOBALNAV .gnavMain li .mainNavBg{
		display: block;
		height: 30px;
		background-image: url(../imgs/common/navi/tb_nav_2x.png);
		background-size:110px 630px;
		-webkit-background-size:110px 630px;
		-moz-background-size:110px 630px;
		outline: none;
	}

	#GLOBALNAV .gnavMain li.curNav {
		background-color:0051a4;
		box-shadow: none;
		-moz-box-shadow: none; /* Firefox用*/
		-ms-box-shadow: none; /* IE用 */
		-webkit-box-shadow: none; /* webkit用 */
		z-index:2;
	}
	#GLOBAL .gmavMain li.curNav a {
		background-color:0051a4;
	}

	/* default */
	#GLOBALNAV .gnavMain li#nav1 .mainNavBg{ background-position:50% 0;}
	#GLOBALNAV .gnavMain li#nav2 .mainNavBg{ background-position:50% -90px;}
	#GLOBALNAV .gnavMain li#nav3 .mainNavBg{ background-position:50% -180px;}
	#GLOBALNAV .gnavMain li#nav4 .mainNavBg{ background-position:50% -270px;}
	#GLOBALNAV .gnavMain li#nav5 .mainNavBg{ background-position:50% -360px;}
	#GLOBALNAV .gnavMain li#nav6 .mainNavBg{ background-position:50% -450px;}
	#GLOBALNAV .gnavMain li#nav7 .mainNavBg{ background-position:50% -540px;}
/*	#GLOBALNAV .gnavMain li#nav7 .mainNavBg{ background-position:50% -540px;}*/

	/* curNav */
	#GLOBALNAV .gnavMain li#nav1.curNav .mainNavBg{ background-position:50% -60px;}
	#GLOBALNAV .gnavMain li#nav2.curNav .mainNavBg{ background-position:50% -150px;}
	#GLOBALNAV .gnavMain li#nav3.curNav .mainNavBg{ background-position:50% -240px;}
	#GLOBALNAV .gnavMain li#nav4.curNav .mainNavBg{ background-position:50% -330px;}
	#GLOBALNAV .gnavMain li#nav5.curNav .mainNavBg{ background-position:50% -420px;}
	#GLOBALNAV .gnavMain li#nav6.curNav .mainNavBg{ background-position:50% -510px;}
	#GLOBALNAV .gnavMain li#nav7.curNav .mainNavBg{ background-position:50% -510px;}
/*	#GLOBALNAV .gnavMain li#nav7.curNav .mainNavBg{ background-position:50% -600px;}*/

	#GLOBALNAV .gnavMain li#nav1 a:hover{ background-position:50% -30px;}
	#GLOBALNAV .gnavMain li#nav2 a:hover{ background-position:50% -120px;}
	#GLOBALNAV .gnavMain li#nav3 a:hover{ background-position:50% -210px;}
	#GLOBALNAV .gnavMain li#nav4 a:hover{ background-position:50% -300px;}
	#GLOBALNAV .gnavMain li#nav5 a:hover{ background-position:50% -390px;}
	#GLOBALNAV .gnavMain li#nav6 a:hover{ background-position:50% -480px;}
	#GLOBALNAV .gnavMain li#nav7 a:hover{ background-position:50% -570px;}
/*	#GLOBALNAV .gnavMain li#nav7 a:hover{ background-position:50% -570px;}*/





	#GLOBALNAV .navBtns {
		position: relative;
		margin-top: -115px;
		margin-left: 70%;
	}

	#GLOBALNAV .navBtns ul {
		width:376px;
		overflow:hidden;
	}

	#GLOBALNAV .navBtns li {
		/*float:left;*/
		text-indent:100%;
		white-space:nowrap;
	}

	#GLOBALNAV .navBtns li#subnav1 {
		/*margin-right:20px;*/
	}

	#GLOBALNAV .navBtns a {
		display: block;
		height: 28px;
		width: 178px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background-image: url(../imgs/common/navi/nav_2nd_2x.png);
		background-repeat: no-repeat;
		background-size: 178px 112px;
		/* [disabled]-webkit-background-size: 178px 112px; */
	}

	#GLOBALNAV .navBtns li#subnav1, #GLOBALNAV .navBtns li#subnav2 a {
		display:block;
	}

	#GLOBALNAV .navBtns li#subnav3, #GLOBALNAV .navBtns li#subnav4, #GLOBALNAV .navBtns li#subnav5 {
		display:none;
	}


}




/*CONTENTS*/

#contentsBox {
	position: relative;
	width:100%;
	overflow:hidden;
	/overflow:visible;
}


/*トピックスエリア*/
h2#topicsHead {
	display:block;
	height:22px;
	width:450px;
	margin:2px auto 4px;
	background:#dad9d4;
	text-indent:-200%;
	white-space:nowrap;
	overflow:hidden;
	background-image:url(../imgs/top/head_topics.gif);
	background-repeat:no-repeat;
	background-size:46px 22px;
	background-position:7px 0;
	position:relative;
}

a#rss {
	display:block;
	width:21px;
	height:13px;
	background-image:url(../imgs/top/icon_rss.png);
	background-position:3px 0;
	background-repeat:no-repeat;
	background-size:13px 26px;
	text-indent:-200%;
	overflow:hidden;
	white-space:nowrap;
	top:5px;
	left:59px;
	position:absolute;
	box-shadow:none;
}

a#rss:hover {
	background-position:3px -13px;
	box-shadow:none;
}

a#t_archive {
	position:absolute;
	right:0px;
	top:0;
	display:block;
	width:90px;
	height:22px;
	background-image:url(../imgs/top/btn_archive.png);
	background-repeat:no-repeat;
	background-size:90px 44px;
	white-space:nowrap;
	text-indent:100%;
	overflow:hidden;
	box-shadow:none;
}

a#t_archive:hover {
	background-position:0 -22px;
	box-shadow:none;
}

html.oldIE a#t_archive {

}


a.icon_new {
	background-image:url(../imgs/common/new.gif);
	background-repeat:no-repeat;
	padding-right:24px;
	background-position:right 3px;
}
a.icon_pdf {
	background-image:url(../imgs/common/pdf_mini.gif);
	background-repeat:no-repeat;
	padding-right:20px;
	background-position:right 0px;
}
a.icon_new img {
	margin:0 2px;
	vertical-align:middle;
}

#topTopics {
	padding:13px 13px 0;
	clear:both;
	/*height:178px;*/
	height:413px;
	overflow:hidden;
}

#topTopics li {
	margin-bottom:20px;
}

#topTopics li p {
	font-size:11px;
}



#topTopics li p.topicsDate {
	margin-bottom:4px;
	font-weight:bold;
	font-family:Verdana;
	color:#666;
	display:block;
	line-height:16px;
	background-position:7.5em 0;
	background-repeat:no-repeat;
}

/*プレスリリース*/
#topTopics li p.topicsDate.label_pr {
	background-image:url(../imgs/top/label_pr.gif);
}
/*パブリシティ*/
#topTopics li p.topicsDate.label_pub {
	background-image:url(../imgs/top/label_pub.gif);
}
/*リサーチデータ*/
#topTopics li p.topicsDate.label_rdata {
	background-image:url(../imgs/top/label_rdata.gif);
}
/*IRリリース*/
#topTopics li p.topicsDate.label_ir {
	background-image:url(../imgs/top/label_ir.gif);
}
/*セミナー情報*/
#topTopics li p.topicsDate.label_seminar {
	background-image:url(../imgs/top/label_seminar.gif);
}
/*レポート*/
#topTopics li p.topicsDate.label_report {
	background-image:url(../imgs/top/label_report.gif);
}
/*ニュース*/
#topTopics li p.topicsDate.label_news {
	background-image:url(../imgs/top/label_news.gif);
}

@media only screen and (orientation : portrait) {


}


#topContents {
	display:block;
	position:relative;
	top:0;
	left:0;
	width:100%;

}

#lowerLayer {
	display:block;
	position: relative;
	width:100%;
	float:right;
	padding-bottom:246px;
}

#topContents #contents {
	padding:50px 10px 246px 255px;
	zoom:1;

}

#lowerLayer #lowerContents {
	padding:45px 180px 0px 255px;
	zoom:1;
}

#lowerLayer #lowerContents_ns {
	padding:45px 40px 0px 255px;
	zoom:1;
}


@media only screen and (max-width : 1023px) {
	#topContents #contents {
		padding:50px 10px 246px 255px;
		zoom:1;
	}

	#lowerLayer #lowerContents {
		padding:45px 40px 0px 255px;
		zoom:1;
	}

}


#lowerLayer #lowerContents2 {
	max-width:800px;
	margin:0 auto;
	/*background:#fff;*/
}

html.oldIE #lowerLayer #lowerContents2 {
	min-width:600px;
	_width:800px;
}

html.oldIE #lowerLayer #lowerContents2 {
	position:relative;
}





.facebook {
	display:none;
	position:fixed;
	_position:absolute;
	right:0;
	top:57px;
	text-indent:100%;
	white-space: nowrap;
	overflow:hidden;
	box-shadow:0px 0px 7px rgba(0,0,0,0.6);
	-moz-box-shadow:0px 0px 7px rgba(0,0,0,0.6);
	border-radius:7px 0 0 7px;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-bottom-left-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
}

.facebook.lowerLayer {
	top:45px;
}


.facebook a {
	display:block;
	width:33px;
	height:43px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	background-image:url(../imgs/common/btn_facebook_2x.png);
	background-size:33px 86px;
	background-repeat:no-repeat;
	background-position:0 0;
}

html.oldIE .facebook a {
	background-image:url(../imgs/common/btn_facebook.png);
}

.facebook a:hover {
	background-position:0 -43px;
}



/*サブナビゲーション*/

#contentsMenu{
	margin-top:45px;
	width:180px;
	height:100%;
	right:0;
	top:0px;
	margin:0;
	position:fixed;
	background-color: #666;
	box-shadow:3px 0px 3px rgba(0,0,0,0.3) inset;
	-moz-box-shadow:3px 0px 3px rgba(0,0,0,0.3) inset;
	z-index:0;

}
#contentsMenu p{
	/*background:url(../img/nav/bg_subnav.png) repeat-x left bottom;*/
	border-bottom:1px dotted #ccc;
	cursor:auto;
	zoom:1;
	margin:0;
}

#contentsMenu ul {
	display:block;
	overflow:hidden;
}

#contentsMenu ul li{
	display:block;
	vertical-align:top;
	font-size:12px;
}
/*
#contentsMenu ul li:nth-child(3){
	display:none;
}
#contentsMenu ul > *:first-child + * + * {
	display:none;
}
*/



#contentsMenu ul li a{
	display:block;
	padding:7px 15px 7px 13px;
	width:135px;
	color:#000;
	background-image:url(../imgs/common/module/ico_btn_w_2x.png);
	background-repeat:no-repeat;
	background-size:10px 8px;
	background-position:0 12px;
	color:#fff;
	transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
}
#contentsMenu p a{
	display:block;
	padding:10px 30px;
	background-image:url(../imgs/common/module/ico_btn_w_2x.png);
	background-repeat:no-repeat;
	background-size:10px 8px;
	background-position:16px 18px;
	color:#fff;
	transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
}
#contentsMenu p a:hover {
	background-position:19px 18px;
}
#contentsMenu ul li a:hover{
	text-decoration: underline;
	background-position:3px 12px;
}


html.oldIE #contentsMenu p a, html.oldIE #contentsMenu ul li a {
	background-image:url(../imgs/common/module/ico_btn_w.png) !important;
}


@media only screen and (max-width : 1255px){
	#contentsMenu{
		clear:both;
		margin:60px 0;
		width:100%;
		position:relative;
		top:0;
		background:#fefefe;
		box-shadow:none;
		-moz-box-shadow:none;
	}
	#contentsMenu p{
		/*background:url(../img/nav/bg_subnav.png) repeat-x left bottom;*/
		border-bottom:1px dotted #ccc;
		cursor:auto;
		zoom:1;
	}

	#contentsMenu ul {
		background:#fff;
		width:auto;
		padding-bottom:0px;
	}
	#contentsMenu ul li a{
		display:block;
		padding:11px 15px 11px 13px;
		width:135px;
		color:#000;
		background-image:url(../imgs/common/module/ico_btn_2x.png);
		background-repeat:no-repeat;
		background-size:10px 8px;
		background-position:0 14px;
		transition:all 0.1s linear;
		-webkit-transition:all 0.1s linear;
		line-height:120%;
	}

	#contentsMenu ul li a:hover{
		text-decoration: underline;
		background-position:3px 14px;
	}
	#contentsMenu p a{
		display:block;
		padding:10px 30px;
		background-image:url(../imgs/common/module/ico_btn_2x.png);
		background-repeat:no-repeat;
		background-size:10px 8px;
		background-position:16px 18px;
		color:#0051a4;
		transition:all 0.1s linear;
		-webkit-transition:all 0.1s linear;
	}

	#contentsMenu p a:hover {
		background-position:19px 18px;
		background-color:#fafafa;
		box-shadow:none;
		-moz-box-shadow:none;
	}

	#contentsMenu ul li{
		display:inline-block;
		/display:inline;
		/zoom:1;
	}
}



#contentsMenu p a img{
	display:block;
}

#contentsMenu ul{
	padding:15px 30px 15px 30px;
}



/*IE8のサブメニュー*/
html.oldIE #topContents #contents {
	padding:50px 10px 246px 255px;
	zoom:1;
}

html.oldIE #lowerLayer #lowerContents {
	padding:45px 40px 0px 255px;
	zoom:1;
}
html.oldIE #contentsMenu{
	clear:both;
	margin:60px 0;
	width:100%;
	position:relative;
	top:0;
	background:#fff;
	box-shadow:none;
	-moz-box-shadow:none;

}
html.oldIE #contentsMenu p{
	/*background:url(../img/nav/bg_subnav.png) repeat-x left bottom;*/
	border-bottom:1px dotted #ccc;
	cursor:auto;
	zoom:1;
	padding:0;
	line-height:300%;
	color:#333 !important;
	font-size:14px !important;
}
html.oldIE #contentsMenu ul {

	width:auto;
	padding-bottom:15px;
}
html.oldIE #contentsMenu ul li a{
	display:block;
	padding:10px 15px 10px 13px;
	width:135px;
	line-height:130%;
	color:#000;
	background-image:url(../imgs/common/module/ico_btn.gif) !important;
	background-repeat:no-repeat;
	background-size:10px 8px;
	background-position:0 14px;
	transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
}

html.oldIE #contentsMenu ul li a:hover{
	text-decoration: underline;
	background-position:3px 14px;
}
html.oldIE #contentsMenu p a{
	display:block;
	padding:0px 13px !important;
	background-image:url(../imgs/common/module/ico_btn.gif) !important;
	background-repeat:no-repeat;
	background-size:10px 8px;
	background-position:3px 16px;
	color:#0051a4;
	transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
}

html.oldIE #contentsMenu p a:hover {
	background-position:5px 16px;
	background-color:#fafafa;
	box-shadow:none;
	-moz-box-shadow:none;
}

html.oldIE #contentsMenu ul li{
	display:inline-block;
	/display:inline;
	/zoom:1;
}


html.oldIE #contentsMenu ul li a {
	background-image:url(../imgs/common/module/ico_btn.png);
}





@media only screen and (orientation : portrait) {

	#topContents, #lowerLayer {
		float:none;
	}
	#lowerLayer {
		display: block;
		position: relative;
	}
	#topContents #contents {
		padding:120px 15px 240px 10px;
	}


	#lowerLayer #lowerContents, #lowerLayer #lowerContents_ns {
		padding:150px 30px 0px;
	}

	#lowerLayer #lowerContents2 {
		max-width: none;
		margin: 0 auto;
		width:auto;
	}

	.facebook {
		top:170px;
	}
	.facebook.lowerLayer {
		top:150px;
	}

	#contentsMenu ul li a{
		width:131px;
	}

}




/*FOOTER*/
.footerContents{
	position:absolute;
	bottom:0;
	left:0;
	z-index:4;
	width:100%;
	background-color:#535353;
}
.footer {
	position:relative;
	margin-left:230px;
	/margin-left:231px;
	color:#AAA;
	position:relative;
}

.pageTop {
	background:#f9f9f9;
	margin:0 auto;
	text-align:right;
	position:absolute;
	right:15px;
	top:-21px;
	z-index:40000;

}

.pageTop a {
	background-image:url(../imgs/common/module/btn_pagetop_2x.gif);
	background-positon:0 0 ;
	background-size:98px 42px;
	width:98px;
	height:21px;
	top:-21px;
	display:block;
	color:#fff;
	text-indent:100%;
	overflow:hidden;
}

html.oldIE .pageTop a {
	background-image:url(../imgs/common/module/btn_pagetop.gif);
}

.pageTop a:hover {
	background-position:0 -21px;
	outline:none;
}

.copyright {
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	font:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:0 15px 15px 0;
	margin-left:-20em;
	float:right;
	display:block;
	width:247px;
	height:13px;
	background-image:url(../imgs/common/copyright_2x.png);
	background-repeat:no-repeat;
	background-size:247px 13px;
	text-indent:200%;
	overflow:hidden;
	white-space:nowrap;
}

html.oldIE .copyright {
	background-image:url(../imgs/common/copyright.png);
}

.fMenu {
	width:100%;
	overflow:hidden;
}

.fMenu ul li {
	line-height:220%;
}
/*.fMenu ul.box {
	float:left;
	padding:15px;
	margin-right:5px;
}*/
.fMenu ul.box {
    float: left;
    padding: 10px;
    margin-right: 5px;
}

.fMenu ul.box ul {
	margin-left:12px;
}

.fMenu ul a {
	color:#BBB;
}

.fMenu li.head {
	font-weight:bold;
	font-size:12px;
}

.fMenu li {
	font-size:11px;
	text-shadow:0px -1px 0px #000;
}


.fMenu ul.banner {
	overflow:hidden;
	float:right;
	xpadding-right:15px;
	margin:15px 15px 0 0;
}

.fMenu ul.banner li {
	margin-left:10px;
	/*float:right;*/
}

.fMenu ul.banner li a {
	display:block;
	text-indent:-400%;
	white-space:nowrap;
	background-repeat:no-repeat;
	overflow:hidden;
	float:right;
	margin-bottom:10px;
}

.fMenu ul.banner li.pmark a {
	background-image:url(../imgs/common/banner_pmark.gif);
	width:54px;
	height:54px;
	background-size:54px 54px;
}

.fMenu ul.banner li.jmra {
	padding-top:0px;
}
.fMenu ul.banner li.jmra a {
	background-image:url(../imgs/common/banner_jmra.gif);
	width:146px;
	height:30px;
	background-size:146px 30px;
	margin-bottom:5px;
}

.fMenu ul.banner li.verisign a {
	background-image:url(../imgs/common/banner_norton.gif);
	width:100px;
	height:54px;
	background-size:100px 54px;
}

.fMenu ul.banner li.cybertrust a {
	/*background-image:url(/imgs/common/banner_cybertrust.gif);*/
	width:100px;
	height:72px;
	/*background-size:116px 47px;*/
	text-indent:0;
}

/*IR情報*/
.fMenu .box ul li:nth-child(3){
	display:none;
}
.fMenu .box ul > *:first-child + * + * {
	display:none;
}
/*likebox*/
.fbBox .fbcomments,
.fbBox .fb_iframe_widget,
.fbBox .fb_iframe_widget[style],
.fbBox .fb_iframe_widget iframe[style],
.fbBox .fbcomments iframe[style],
.fbBox .fb_iframe_widget span {
    width: 100% !important;
	margin:0;
	padding:0;
}
.fbBox .pluginConnectTextDark {
	color:#bbbbbb !important;
}
.fbBox {
	float:right;
	min-width:330px;
	max-width:50%;
	overflow:hidden;
	height:165px;
	padding:0;
	margin:8px 0 0;
}
.uiHeader h3 {
	color:#fff !important;
}



@media only screen and (max-width : 1100px){
	.fbBox {
		height:65px;
		overflow:hidden;
		margin:0 !important;
		width:200px !important;
	}
}

@media only screen and (orientation : portrait) {

	/* 縦位置トップ用レイアウト */
	.footer{
		margin-left:0;

	}


	.fMenu ul.banner {
		width:195px;
		overflow:hidden;
		float:right;
		padding-right:15px;
		margin-top:15px;
	}

	.fMenu ul.banner li {
		/*float:right;*/
		margin:0 0 0 15px;

	}

	/*.fMenu ul.banner li.pmark a {
		background-image:url(../imgs/common/banner_pmark.gif);
		width:27px;
		height:27px;
		background-size:27px 27px;
	}
	*/
	.fMenu ul.banner li.jmra {
		/*margin-top:-5px;*/
	}

	/*.fMenu ul.banner li.jmra a {
		width:73px;
		height:15px;
		background-size:73px 15px;
	}
	.fMenu ul.banner li.verisign a {
		background-image:url(../imgs/common/banner_norton.gif);
		width:50px;
		height:27px;
		background-size:50px 27px;
	}*/
	.fbBox {
		height:65px;
		overflow:hidden;
		margin:0 !important;
		width:320px !important;
	}

}

/*関連サービス*/
dl.info {
	margin-top:80px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 10px;
	padding-left: 3px;
}
dl.info dt {
	background:#fff;
	padding: 4px 0;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

dl.info dd {
	padding:0 20px;
	text-align:center;
}
dl.info p{
	margin:0;
	padding:0;
}


/*資料請求・お問い合わせ*/
#bottomFormBtn {
	width: 100%;
	background: #fff;
	padding: 30px 0;
	margin-bottom:40px;
}
#btmCopy {
	margin: 0 0 20px;
	line-height: 130%;
	text-align: center;
}

#bottomFormBtn {
	position:relative;
	overflow:hidden;
}
#bottomFormBtn ul {
	margin: 0 auto;
	position:relative;
	left:50%;
	float:left;
}
#bottomFormBtn li {
	position:relative;
	left:-50%;
	float:left;
	margin:0 20px;
}

#bottomFormBtn li a {
	display:block;
	width:240px;
	height:50px;
	line-height:50px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background:#0051a4;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	-moz-text-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-text-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* IE用 */
	-webkit-text-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* webkit用 */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* webkit用 */
	transition:1s;
	-webkit-transition:1s;
}
#bottomFormBtn li a:hover {
	background:#004286;
	transition:0.1s;
	-webkit-transition:0.1s;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0,0,0,1);
	-moz-text-shadow: 0px 0px 5px rgba(0,0,0,1); /* Firefox用*/
	-ms-text-shadow: 0px 0px 5px rgba(0,0,0,1); /* IE用 */
	-webkit-text-shadow: 0px 0px 5px rgba(0,0,0,1); /* webkit用 */
}


/*script*/

html .script {
	display:none !important;
	line-height:1px !important;
	height:1px !important;
	overflow:hidden !important;
	background:#535353 !important;
}
