@charset "utf-8";
/* CSS Document */




#loginBox {
	width:350px;
	padding:20px 0 0;
	margin:0 auto;
	display:none;
	background:#fff !important;
}

#like {
	height:28px;
	padding-top:7px;
	display:block;
	position:absolute;
	left:262px;
	top:0;
	width:112px;
	color:#fff !important;
}



@media only screen and (orientation : portrait) {
	#like {
		height:28px;
		padding-top:7px;
		display:block;
		position:absolute;
		left:10px;
		top:0;
		width:30%;
		overflow:hidden;
		color:#fff !important;
	}
}


h2#loginHead {
	background:#666;
	padding:6px 10px;
	margin:-20px 0px 20px 0px;
	color:#fff;
}



/* フォーム */

::-webkit-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

::-moz-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

input[type=ID],
input[type=email],
input[type=password],
input[type=text],
textarea[type=text] {
	margin-left:15px;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 25px;
	color: #999;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background:#fff !important;
	width:300px;
}

input[type=ID]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
textarea[type=text]:hover {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

input[type=ID]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus {
	outline: none;
	border: 1px solid #00bce9;
	box-shadow: 0 0 5px #2da1ec;
}

input.highlight {
	border: 1px solid #ffcc33;
	box-shadow: 0 0 5px #ffff00;
}

input.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}

input {
	
}


/*ログインボタン*/

#loginBox #btn_login {
	width: 320px;
	padding:15px 10px;
	margin-left:15px;
	background: #0051a4;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	font-weight:bold;
	-webkit-appearance: none;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* webkit用 */
}
#loginBox #btn_login:hover {
	background:#004286;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* webkit用 */
}


/*ボタン下リンク*/

#bMenu {
	margin-left:10px;
}

#bMenu li {
	display:inline-block;
	/display: inline;  /* IE用ハック */
    /zoom: 1;  /* IE用ハック */
	margin:0 12px;
}

#bMenu li a {
	padding:8px 0;
	background-image:url(../imgs/common/module/ico_btn.png);
	background-repeat:no-repeat;
	background-position:2px 12px;
	font-size:12px;
	display:block;
	padding-left:12px;
	transition:all 0.1s linear;
	-webkit-transition:all 0.1s linear;
}

#bMenu li a:hover {
	background-position:4px 12px;
}
