@charset "utf-8";
/* CSS Document */

@charset "utf-8";


html{
	height:100%;
}

body {
	height:100%;
	position:relative;
	-webkit-text-size-adjust: none;
}


#wrapper{
	position:relative;
	min-height:100%;
	height:auto;
}

/*
	HEADERNAV
-------------------------------------------------*/
#GLOBALNAV{
	position:relative;
	
}
#GLOBALNAV #menu {
	height: auto;
	width:100%;
	padding-top:0px;
	box-shadow: none;
	background:#fff;
}

#GLOBALNAV #logo {
	background:#fff;
	padding:20px 0 15px;
	/*box-shadow: 0 3px 3px rgba(0,0,0,0.15);*/
}
#GLOBALNAV #logo img {
	width:201px;
	margin:0 auto;
	display:block;
}
#GLOBALNAV .spBg{
	position:relative;
	background-color:#0051a4;
	height:33px;
}

#GLOBALNAV .navBtns{display:none;}

#GLOBALNAV .spBg .spBtnNav{
	position:absolute;	
	top:5px;
	right:10px;
	width:75px;
	height:23px;
	background:url(../imgs/common/navi/sp_btn_nav.png) no-repeat 0 0;
	background-size:150px 23px;
	-webkit-background-size:150px 23px;
}
#GLOBALNAV .spBg .spBtnNav span {
	display:none;	
}
#GLOBALNAV .spBg .spBtnNav.openNav{
	background-position: -75px 0;
}





/*
	gnavMain
-------------------------------------------------*/

#GLOBALNAV .gnavMain{
	display:none;
	width:100%;
	background-color:#fff;
	border-collapse: collapse;
	border-bottom:1px solid #e6e6e6;
}

#GLOBALNAV .gnavMain li{
	display: block;
	width:33%;
	float:left;
	border-bottom:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	white-space:normal;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
#GLOBALNAV .gnavMain li a{
	display:block;
	height:40px;
	background-image:url(../imgs/common/navi/sp_nav.png);
	background-repeat:none;
	background-size:220px 560px;
	-webkit-background-size:220px 560px;
}
/* default */
#GLOBALNAV .gnavMain li#nav1 a{ background-position:center 0;}
#GLOBALNAV .gnavMain li#nav2 a{ background-position:center -80px;}
#GLOBALNAV .gnavMain li#nav3 a{ background-position:center -160px;}
#GLOBALNAV .gnavMain li#nav4 a{ background-position:center -240px;}
#GLOBALNAV .gnavMain li#nav5 a{ background-position:center -320px;}
#GLOBALNAV .gnavMain li#nav6 a{ background-position:center -400px;}
#GLOBALNAV .gnavMain li#nav7 a{ background-position:center -480px;}
/*#GLOBALNAV .gnavMain li#nav7 a{ background-position:center -480px;}/*


/* curNav */
#GLOBALNAV .gnavMain li#nav1.curNav a{ background-position:center -40px;}
#GLOBALNAV .gnavMain li#nav2.curNav a{ background-position:center -120px;}
#GLOBALNAV .gnavMain li#nav3.curNav a{ background-position:center -200px;}
#GLOBALNAV .gnavMain li#nav4.curNav a{ background-position:center -280px;}
#GLOBALNAV .gnavMain li#nav5.curNav a{ background-position:center -360px;}
#GLOBALNAV .gnavMain li#nav6.curNav a{ background-position:center -440px;}
#GLOBALNAV .gnavMain li#nav7.curNav a{ background-position:center -480px;}
/*#GLOBALNAV .gnavMain li#nav7.curNav a{ background-position:center -520px;}*/


#GLOBALNAV .gnavMain li a span{
	display:none;
}

/*#GLOBALNAV .gnavMain li#nav1{ display:none;}
#GLOBALNAV .gnavMain li#nav4,
#GLOBALNAV .gnavMain li#nav7{border-right:none;}
#GLOBALNAV .gnavMain li#nav8,
#GLOBALNAV .gnavMain li#nav9{ border-bottom:none;}
#GLOBALNAV .gnavMain li#nav9 a{ background:none;}*/

#ribonedge_top, #ribonedge_company, #ribonedge_service, #ribonedge_r_data {
	display:none;
	visibility:hidden;
}
/*#GLOBALNAV .gnavMain li#nav6 {display:none;}*/

/*
	subNav
-------------------------------------------------*/
#GLOBALNAV .subNav	{
	display:none;
	visibility:visible;
}

/*
	contentsMenu 
-------------------------------------------------*/
#contentsMenu {
	padding:0 0px;
	margin-bottom:40px;
}
#contentsMenu{
	border:1px solid #d9d9d9;
	background-color:#fff;
	border-radius:7px;
	clear:both;
}
#contentsMenu p{
	border-bottom:1px solid #d9d9d9;
	border-top:1px solid #d9d9d9;
	margin:0;
	background:#efefef;
}
#contentsMenu p:first-child{
	border-top:none;
	border-radius:5px 5px 0 0;
}
#contentsMenu p a{
	padding:15px 0px 15px 15px;
}
#contentsMenu p a img{
	display:block;
}
#contentsMenu li{
	border-bottom:1px solid #d9d9d9;
}
#contentsMenu li:last-child{
	border-bottom:none;
}
#contentsMenu li a{
	color:#000;
}
#contentsMenu a{
	position:relative;
	display:block;
	padding:10px 20px 10px 15px;
	text-decoration:none;
}
#contentsMenu a:after {
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 5px;
	height: 5px;
	margin-top: -4px;
	border-top: solid 2px #b3b3b3;
	border-right: solid 2px #b3b3b3;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}




/*
	GLOBALTOPCONT
-------------------------------------------------*/
#topContents{
	display:block;
	padding-bottom:0px;
}

#topContents {
	display:block;
	position:relative;
	top:0;
	left:0;
	width:100%;
	/*float:left;*/
	/*background:#eee;*/
}

#topContents #contents {
	padding:10px 0px 60px 0px;
	zoom:1;
}

#topContents #contents.lowerLayer {
	padding:15px 0px 80px 0px;
	zoom:1;
}


h2#topicsHead {
	display:block;
	height:22px;
	line-height:22px;
	margin:0px auto 4px;
	padding:4px;
	background:#dad9d4;
	/*text-indent:-200%;*/
	/*white-space:nowrap;
	overflow:hidden;*/
	/*background-image:url(../imgs/top/head_topics.gif);
	background-repeat:no-repeat;
	background-size:46px 22px;
	background-position:7px 0;*/
	position:relative;
}
#topTopics {
	padding:13px 13px 0;
	clear:both;
}

#topTopics li {
	margin-bottom:20px;
}


a#rss {
	display:block;
	width:21px;
	height:13px;
	background-image:url(../imgs/top/icon_rss.png);
	background-position:3px 0;
	background-repeat:no-repeat;
	background-size:13px 26px;
	text-indent:-200%;
	overflow:hidden;
	white-space:nowrap;
	top:9px;
	left:63px;
	position:absolute;
}

a#rss:hover {
	background-position:3px -13px;
}

a#t_archive {
	position:absolute;
	right:10px;
	top:4px;
	display:block;
	/*width:90px;*/
	height:22px;
	line-height:22px;
	/*background-image:url(../imgs/top/btn_archive.png);
	background-repeat:no-repeat;
	background-size:90px 44px;*/
	white-space:nowrap;
	/*text-indent:100%;*/
	overflow:hidden;
}

a#t_archive:hover {
	background-position:0 -22px;
}

a.icon_new {
	background-image:url(../imgs/common/new.gif);
	background-repeat:no-repeat;
	padding-right:24px;
	background-position:right 3px;
}


.facebook {
	display:none;
}

/*サブナビゲーション*/


/*
	LOWERLAYER
-------------------------------------------------*/
#LOWERLAYER{
	display:block;	
}
#LOWERLAYER .btnIndexBack{display:none;}



/*
	FOOTCONTENT
-------------------------------------------------*/
#footerContents{
	position:relative;
	margin-top:20px;
	border-top:1px solid #ededed;
	
}
#footerContents .pageTop{
	position:absolute;
	background:url(../imgs/common/module/sp_pagetop.png) no-repeat 0 0;
	background-size: 30px 20px;
	-webkit-background-size: 30px 20px;
	width:30px;
	height:30px;
	top:-15px;
	right:20px;
	cursor:pointer;
	z-index:5;
	
}

.fMenu ul.box {
    display:none;
}

.fMenu ul.banner {
	display:none;
}


.pageTop {
	overflow:hidden;
	z-index:40000;
}

.pageTop a {
	background-image:url(../imgs/common/module/pagetop.png);
	background-positon:0 0 ;
	background-size:100px 30px;
	width:100px;
	height:30px;
	display:block;
	text-indent:-100%;
	overflow:hidden;
	float:right;
}


#footerContents #BREADCRUMBS{display:none;}

#footerContents .utilityLinks{
	padding:0 20px 20px;
}
#footerContents .utilityLinks li{
	margin-top:20px;
	width:50%;
	float:left;
	font-size:10px;
}
#footerContents .utilityLinks li a{
	text-decoration:none;
	color:#e60000;
}
#footerContents .utilityLinks li span{display:none;}

#footerContents .footBnrs{
	border-top:1px solid #ededed;
	padding:20px 20px 10px;
}
#footerContents .footBnrs ul{
	width:100%;	
}
#footerContents .footBnrs li{
	display:inline-block;
	width:49%;
	vertical-align:top;
	margin-bottom:10px;
}
#footerContents .footBnrs li a{
	display: block;
	font-size:10px;
	color:#8c8c8c;
	text-decoration:none;
}
#footerContents .footBnrs li img{
	display:block;
	float:left;
}
#footerContents .footBnrs li span{
	display:block;
	padding-left:50px;
	padding-top:5px;
	font-size:10px;
}

#footerContents .utilityLinks2{
	border-top:1px solid #ededed;
	padding:10px 20px;
	text-align:center;
}
#footerContents .utilityLinks2 p{
	display:inline;
	margin:0 12px;
}
.copyright {
	background-color: #0051a4;
	padding:15px 10px;
	text-align:center;
	color:#fff;
	font-size:10px;
}



/*
	clearfix
-------------------------------------------------*/
#GLOBALNAV .gnavMain:after,
#footerContents .utilityLinks ul:after,
#footerContents .footBnrs ul:after,
#footerContents .footBnrs li a:after {

	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
}

#GLOBALNAV .gnavMain,
#footerContents .utilityLinks ul,
#footerContents .footBnrs ul,
#footerContents .footBnrs li a{
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}


/*
	資料請求
--------------------------------------------*/
@charset "utf-8";
/* CSS Document */

#steps {
	letter-spacing:-.40em;
	margin:40px 0 30px;
}

#steps li {
	width:32.5%;
	background:#fff;
	text-align:center;
	letter-spacing:normal;
	border:1px solid #f6f6f6;
	padding:12px 0;
	display: -moz-inline-box; /*for Firefox 2*/
	display: inline-block; /*for modern*/
	/display: inline; /*for ie5～7*/
	/zoom: 1; /*for ie5～7*/
}

#steps li#active {
	background:#0051a4;
	font-weight:bold;
	color:#fff;
}


/* //FORM ------------------------------------------------------------ */

#form {
	overflow:hidden;
	background:none !important;
}


#form dt {
	float:none !important;
	clear:both;
	margin-right:20px;
	padding:10px 0 5px;
	vertical-align:top;
	line-height:1.2;
	width:100% !important;
	color:#333;
	border-bottom:1px dotted #ccc;
	font-weight:bold;
}




#form dd {
	float:none !important;
	padding:10px 0;
	width:95%;
	margin:0 auto;
}

::-webkit-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

::-moz-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

input[type=text],
input[type=email],
input[type=password],
input[type=text],
textarea[type=text] {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	width: 100%;
	color: #666;
	background-color:#999;
	padding: 5px !important;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color:#fff;
}

select {
	font-size: 14px;
	color: #666;
	background-color:#999;
	padding: 5px;
	border: 1px solid #ddd !important;
	border-radius: 5px;
	
	background-color:#fff;
	height:2.5em !important;
	-webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2NCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  #ffffff 64%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(64%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 64%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 64%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 64%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 64%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */
}

select:hover {
	cursor:pointer;
	outline: none;
	border: 1px solid #bbb !important;
	box-shadow: none;
}

option {
	padding-top:0.5em;
	padding-bottom:0.5em;
}


input[type=ID]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
textarea[type=text]:hover  {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

input[type=ID]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus,
select:focus {
	outline: none;
	border: 1px solid #00bce9;
	box-shadow: 0 0 5px #2da1ec;
	background:#fff;
}

input.highlight {
	border: 1px solid #ffcc33;
	box-shadow: 0 0 5px #ffff00;
}

input.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}




/*コピペ*/

#message {
	margin:40px 0 0;
	text-align:center;
	line-height:200%;
}


#telNum {
	font-weight:bold;
	color:#FF3300;
}






#form dt span {
	font-size:10px;
	font-family:monospace;
	color:#FF3300;
	font-weight:normal;
}






/**フォーム**/
select#formType {
	font-size:14px !important;
}

input:focus, textarea:focus { 
	outline:none; 
}

#formType {
	border:1px solid #7F9DB9;
	height:22px;
}


#formInquiry {
	width:98.5%;
	height:200px;
}

#formUpfile {

}

#formName {
	width:98.5%;
	height:20px;
	line-height:20px;
}

#formCompany {
	width:98.5%;
	height:20px;
	line-height:20px;
}


#formUpfile {
	width:98.5%;
	font-size:12px; 
	height:20px; 
	padding:2px 1px;
}
#upfileTxt {
	font-size:10px; font-family:monospace; 
	text-indent:-1em; 
	padding-left:1em; 
	line-height:120%; 
	margin-top:4px;
}

#formZip1, #formZip2 {
	width:40px;
	height:18px;
	line-height:18px;
}

#adrsBox {
	margin:8px 0 0;
}

#formAddress {
	width:98.5%;
	height:20px;
	line-height:20px;
}

#formTeam {
	width:98.5%;
	height:20px;
	line-height:20px;
}

#formMail {
	width:98.5%;
	height:20px;
	line-height:20px;
}

#formTel1, #formTel2, #formTel3 {
	width:40px;
	height:18px;
	line-height:18px;
}

#formMacromill {
	border:1px solid #7F9DB9;
	height:22px;
}




.inquiry02, .name04, .company05, .zip1_06, .zip2_07, .address08, .team09, .mail10, .tel1_11, .tel2_12, .tel3_13 {
	border:1px solid #36C;
}



.untouched{
	border:1px solid #7F9DB9;
	color:#666;
}


/*ボタン*/
#btnsBox {
	margin:50px auto 60px;
	height:52px;
	position:relative;
	overflow:hidden;
}
#btnsBox ul {
	position:relative;
   left:50%;
   float:left;
}
#btnsBox li {
	position:relative;
 	left:-50%;
	float:left;
	
}

#confirm, #submit, #edit {
	padding:15px 10px;
	margin:50px auto 60px;
	display:block;
	background: #0051a4;
	border: 0;
	-webkit-appearance: none;
	color: #FFFFFF;
	font-weight:bold;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* webkit用 */
	text-align:center;
}
#confirm:hover, #submit:hover, #edit:hover {
	background:#004286;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* webkit用 */
}

#confirm {
	width:300px;
}
#submit, #edit {
	width:20% !important;
	margin:0 5px;
	padding:15px 0;
	float:left;
	font-size:14px !important;
	line-height:1 !important;
	min-width:140px;
}



#monitorTxt {
	border-bottom:0 !important;
	padding:30px 0;
}




/*個人情報保護方針*/

#ppTxt {
	margin:40px 0 4px;
}

#pp {
	height:150px;
	border:1px solid #CCC;
	margin:4px 0 30px;
	overflow:hidden;
	font-size:12px;
	padding:12px;
	background:#fff;
}

#pp li, #pp p {
	font-size:12px;
}

#whatsssl {
	display:block; 
	color:333; 
	text-decoration:none;
	font:10px 'ＭＳ ゴシック',sans-serif; 
	letter-spacing:.5px; 
	text-align:center; 
	margin:0px; 
	padding:0px;
}




/*■■■ベリサイン、Pマーク、JMRAエリア■■■*/
#banner2 {
	clear:both;
	margin:40px 0px 20px;
	background:#fff;
	overflow:hidden;
	letter-spacing:0px;
	padding:12px 12px 12px 8px;
}
#banner2 ul {
	list-style:none;
	padding:0;
	margin:0;
}

#banner2 li {
	font-size:10px;
	font-family:monospace;
	line-height:130%;
	vertical-align:middle;
	display: block;
	clear:both;
}

#bnVerisign {
	width:100%;
	margin-right:10;
}
#bnVerisign span {
	display:block;
	float:left;
	margin:-8px 8px 0px -2px;
}

#bnVerisign a {
	display:none;
}
#bnVerisign p {
	margin:10px 0px 0px;
	display:block;
	padding:0;
	font-size:10px;
}
#bnPmark {
	padding:4px;
	width:100%;
}
#bnPmark a img {
	float:left;
	display:block;
	margin-right:8px;
	margin-top:10px;
}
#bnPmark p {
	margin:34px 0px 0px;
	font-size:10px;
}
#bnPmark #textLink {
	display:block;
	margin:8px 0px 0px 30px;
	padding:0;
	padding-left:12px;
}
#bnPmark a {
	background:url(../../imgs/common/arrowOff.gif) no-repeat 20px 2px;
}
#bnPmark a:hover {
	background:url(../../imgs/common/arrowOn.gif) no-repeat 20px 2px;
}

#bmJmra {
	display:none !important;
}
#bmJmra a {
	display:none !important;
}
.fbBox {
	/*display:none;*/
	background:#0051a4;
	width:100%;
	overflow:hidden;
	text-align:center;
}

html .fb-like-box {
		margin:auto !important;
}


.contentsBox #thanks {
	text-align:center;
	line-height:300%;
	margin:100px 0;
}

.contentsBox #thanks p {
	margin:60px 0 0;
}


#mMessage {
	
}

#interest {
	display:none;
}



/*関連サービス*/
dl.info {
	margin-top:40px;
	border: 1px solid #CCC;
	margin-bottom: 20px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 10px;
	padding-left: 3px;
}
dl.info dt {
	background:#fff;
	padding: 4px 0;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

dl.info dd {
	padding:0 20px;
	text-align:center;
}
dl.info p{
	margin:0;
	padding:0;
}

/*資料請求・お問い合わせ*/
#bottomFormBtn {
	width: 100%;
	/*background: #fff;*/
	padding: 30px 0;
	margin-bottom:40px;
}
#btmCopy {
	margin: 0 0 20px;
	line-height: 130%;
	text-align: center;
}

#bottomFormBtn {
	position:relative;
	overflow:hidden;
}
#bottomFormBtn ul {
	margin: 0 auto;
	position:relative;
	left:50%;
	float:left;
}
#bottomFormBtn li {
	position:relative;
	left:-50%;
	float:left;
	margin:10px 20px;
}

#bottomFormBtn li a {
	display:block;
	width:600px;
	height:50px;
	line-height:50px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	background:#0051a4;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
	-moz-text-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-text-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* IE用 */
	-webkit-text-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* webkit用 */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4); /* webkit用 */
	transition:1s;
	-webkit-transition:1s;
}
#bottomFormBtn li a:hover {
	background:#004286;
	transition:0.1s;
	-webkit-transition:0.1s;
	text-decoration:none;
	text-shadow:0 -1px 0 rgba(0,0,0,1);
	-moz-text-shadow: 0px 0px 5px rgba(0,0,0,1); /* Firefox用*/
	-ms-text-shadow: 0px 0px 5px rgba(0,0,0,1); /* IE用 */
	-webkit-text-shadow: 0px 0px 5px rgba(0,0,0,1); /* webkit用 */
}

