@charset "utf-8";

/*
================================================================
	 basic modules
================================================================
*/

/* WRAP --------------------------------------------------- */

.h1Area{
	margin:40px -10px 0;
}

.editArea{
	line-height:1.6;
	margin:0 10px 40px;
}

/* //WRAP --------------------------------------------------- */

/* H1Area --------------------------------------------------- */


/* H1 */
.h1Area h1.hTxt{
	margin:0 0 40px;
	padding:8px 0 0 8px;
	font-size:20px;
	color:#000000;
	display:block;
	border-top:4px solid #0051a4;
	background:#ffffff;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); /* webkit用 */
}

.h1Area h1.hTxt span {
	font-size:10px;
	display:block;
	color:#999;
	margin:0 0 0 -8px;
	background:#fff;
	font-family:Verdana, Geneva, sans-serif;
	padding:0 3px 8px 8px;
}

h1.hImgTxt{
	margin-bottom:20px;
	border-left:solid 6px #0051a4;
	padding:2px 0 2px 20px;
	font-size:24px;
	color:#000;
}

h1.hImgTxt span{
	font-size:24px;
}
h1.hImgTxt img{
	display:none;
}

h1.hImg{
	margin-bottom:20px;
}
h1.hImg span{
	display:block;/zoom:1;height:0;
	white-space:nowrap;text-indent:100%;overflow:hidden;
}

.h1Area .mainImg{
	margin:0 -20px 20px;
	text-align:center;
}


.h1Area .catch{
	margin:30px 0;
	font-size:18px;font-weight:bold;
}
.h1Area .lead{
	margin-bottom:20px;
	font-size:16px;
	line-height:1.6;
}

.h1Area nav{
	margin-bottom:20px;
	background-color:#f7f7f7;
	border:solid 1px #ededed;
	padding:10px 10px 5px;
}
.h1Area nav ul{
	margin-left:-30px;
}
.h1Area nav ul li{
	display:inline-block;margin:0 0 5px 30px;
	font-size:12px;
}

.h1Area p{
	margin-bottom:20px;
}
.h1Area .shareUnit{
	margin-bottom:20px;
}
.h1Area .shareUnit:after{
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
}
.h1Area .shareUnit{
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
.h1Area .shareUnit .left{
	float:left;
	margin-bottom:20px;
}
.h1Area .shareUnit .left p{
	margin-bottom:0;
}
.h1Area .shareUnit ul.shareBtn{
	float:right;
	margin-bottom:0;
}

.h1Area ul.shareBtn{
	text-align:right;
	margin-bottom:20px;
}
.h1Area ul.shareBtn li{
	display:inline-block;/display:inline;/zoom:1;vertical-align:middle;margin-left:10px;
	text-align:left;
}


/* //H1Area --------------------------------------------------- */


/* DISPLAY --------------------------------------------------- */
.hideNarrow{
	display:none !important;
}
/* //DISPLAY --------------------------------------------------- */


/* RECT  --------------------------------------------------- */
.rect{
	overflow:hidden;
	_zoom:1;
}
/* //RECT --------------------------------------------------- */

/* PARAGRAPH --------------------------------------------------- */

.editArea p{
	margin-top:20px;
}

.editArea p.caption{
	margin-top:10px;
}

/* //PARAGRAPH --------------------------------------------------- */



/* ICON --------------------------------------------------- */

.iconL { display:inline !important;vertical-align:middle;margin:0 10px 0 0 !important; }
.iconR { display:inline !important;vertical-align:middle;margin:0 0 0 10px !important; }
.icon { display:inline !important;vertical-align:middle;margin:0 10px !important; }

/* //ICON --------------------------------------------------- */


/* FLAG --------------------------------------------------- */
span.catTag {
	display:inline-block;/display:inline;/zoom:1;
	padding:0 10px 0 23px;
	margin:0 5px 5px 0;
	height:23px;
	background:#e6e6e6 url(../img/module/ico_tag_head_2x.gif) 0 0 no-repeat;
	-webkit-background-size:20px 23px;
	background-size:20px 23px;
	white-space:nowrap;
	font-size:11px;
	line-height:23px;
	font-weight:bold;
	vertical-align:middle;
}
/* //FLAG --------------------------------------------------- */


/* HR --------------------------------------------------- */

.hrDot{
	margin:20px 0 0 0;
	border:0 none;
	background:transparent url(../img/module/hr_dot.gif) repeat-x;
	height:1px;
	overflow:hidden;
}

/* //HR --------------------------------------------------- */


/* HEADING --------------------------------------------------- */

/* H2 */
h2.hTxt{
	margin:40px 0 20px;
	padding-top:15px;
	background:#fff;
	font-size:18px;
	color:#000;
	overflow:hidden;
	border-left: 3px solid #0051a4;
	padding:6px;
}

h2.hImg{
	margin:40px 0 20px;
	padding-top:15px;
	background:url(../img/module/h2_bar_2x.png) no-repeat;
	-webkit-background-size:760px 2px;
	background-size:760px 2px;
	font-size:18px;
	color:#000;
	overflow:hidden;
}

h2.hImg span{
	font-size:18px;
}
h2.hImg img{
	display:none;
}

.h3Box {
	clear:both;
}

/* H3 */
h3.hTxt,
h3.hImg{
	margin:40px 0 20px;
	padding:3px 0 3px 3px;
	font-size:16px;
	color:#000;
	border-bottom: solid 1px #0051a4;
	background-color:#fff;
	overflow:hidden;
}

h3.hImg span{
	font-size:16px;
}
h3.hImg img{
	display:none;
}



/* H4 */
h4.hTxt,
h4.hImg{
	margin:40px 0 20px;
	padding:3px 0 3px 13px;
	font-size:14px;
	color:#000;
	border-left:solid 3px #b3b3b3;
	overflow:hidden;
}

h4.hImg span{
	font-size:14px;
}
h4.hImg img{
	display:none;
}


/* //HEADING --------------------------------------------------- */


/* LINK --------------------------------------------------- */

ul.link,
ul.inlineLink2{
	margin-top:20px;
	border:solid 1px #d9d9d9;
	border-top:0 none;
	padding-top:1px;
	overflow:hidden;
}
ul.link li,
ul.inlineLink2 li{
	border-top:solid 1px #d9d9d9;
	margin-top:-1px;
}
ul.link li a,
ul.inlineLink2 li a{
	display:block;
	padding:15px 10px 15px 34px;
	text-indent:-24px;
	text-decoration:none;
}


ul.inlineLink{
	margin-top:20px;
	border:solid 1px #d9d9d9;
	padding:0 5px 20px 15px;
}
ul.inlineLink li{
	margin-top:20px;
	display:inline-block;
	border-left:solid 2px #ababab;
	padding:0 10px;
}
ul.inlineLink li a{
	text-decoration:none;
}



ul.col2LinkA{
	margin-right:-40px;
	overflow:hidden;/zoom:1;
}
ul.col2LinkA li{
	width:50%;
	display:inline-block;/display:inline;/zoom:1;vertical-align:top;
}
ul.col2LinkA li .pad{
	background:transparent url(../img/module/hr_dot.gif) repeat-x left bottom;
	margin-right:40px;
	padding:0 0 20px;
}
ul.col2LinkA li a{
	display:block;
	text-indent:-24px;
	padding-left:24px;
}
ul.col2LinkA li.last{
	/margin-right:-40px;
}

@media only screen and (max-width : 640px){
	ul.col2LinkA li{
		display:block !important;
		width:auto;
	}
}



ul.col2LinkB{
	margin:0;
	overflow:hidden;/zoom:1;
}
ul.col2LinkB li{
	width:50%;
	display:inline-block;/display:inline;/zoom:1;vertical-align:top;
}
ul.col2LinkB li .pad{
	margin-right:40px;
}

ul.col2LinkB li p a{
	display:block;
	text-indent:-24px;
	padding-left:24px;
}
ul.col2LinkB li.last{
	/margin-right:-40px;
}

@media only screen and (max-width : 640px){
	ul.col2LinkB li{
		display:block !important;
		width:auto;
	}
}


/* //LINK --------------------------------------------------- */



/* BUTTON --------------------------------------------------- */
.btn{
	display:inline-block;/display:inline;/zoom:1;
	background-color:#0051a4;
	border:solid 2px #0051a4;
	color:#fff;
	position:relative;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	min-width:200px;max-width:400px;
}
.btn .label{
	display:inline-block;/display:inline;/zoom:1;
	padding:15px 40px;text-align:left;
}
.btn span.ico{
	display:block;position:absolute;right:5px;top:50%;margin-top:-5px;
	width:10px;height:10px;
	background:url(../img/module/ico_btn_2x.png) no-repeat;
	-webkit-background-size:10px 20px;
	background-size:10px 20px;
}
.btn span.mail{
	display:block;position:absolute;left:10px;top:50%;margin-top:-7px;
	width:20px;height:15px;
	background:url(../img/module/btn_mail_2x.png) no-repeat;
	-webkit-background-size:20px 30px;
	background-size:20px 30px;
}
.btn span.pdf{
	display:block;position:absolute;left:10px;top:50%;margin-top:-7px;
	width:14px;height:15px;
	background:url(../img/module/btn_pdf_2x.png) no-repeat;
	-webkit-background-size:14px 30px;
	background-size:14px 30px;
}



.btnBack{
	display:inline-block;/display:inline;/zoom:1;
	background-color:#b3b3b3;
	border:solid 2px #b3b3b3;
	color:#fff;
	position:relative;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	min-width:200px;max-width:400px;
}
.btnBack .label{
	display:inline-block;/display:inline;/zoom:1;
	padding:15px 40px;text-align:left;
}
.btnBack span.ico{
	display:block;position:absolute;left:5px;top:50%;margin-top:-5px;
	width:10px;height:10px;
	background:url(../img/module/ico_btn_back_2x.png) no-repeat;
	-webkit-background-size:10px 20px;
	background-size:10px 20px;
}
/* //BUTTON --------------------------------------------------- */


/* LIST --------------------------------------------------- */

ul.sqList{
	margin-top:20px;
}
ul.sqList li{
	margin-top:10px;
	list-style-image:url(../img/module/ico_disc.gif);
	margin-left:1.5em;
}
ul.sqList li ul.sqList,
ul.sqList li ol.numList,
ul.sqList li ul.noteList,
ul.sqList li ol.alpbtList{
	margin-top:0;
}

ol.numList{
	margin-top:20px;
	color:#0051a4;
	font-weight:bold;
}
ol.numList li{
	list-style-type:decimal;
	margin-left:2em;
}
ol.numList li span{
	display:block;
    color:#4c4c4c;
    font-weight:normal;
	margin-top:10px;
}
ol.numList li ul.sqList,
ol.numList li ol.numList,
ol.numList li ul.noteList,
ol.numList li ol.alpbtList{
	margin-top:0;
}

ul.noteList{
	margin-top:20px;
}
ul.noteList li{
	margin-top:5px;
	color:#808080;font-size:12px;
	text-indent:-1em;padding-left:1em;overflow:hidden;/zoom:1;
}
ul.noteList li ul.sqList,
ul.noteList li ol.numList,
ul.noteList li ul.noteList,
ul.noteList li ol.alpbtList{
	margin-top:0;
}


ol.alpbtList{
	margin-top:20px;
	color:#0051a4;
	font-weight:bold;
}
ol.alpbtList li{
	list-style-type:upper-alpha;
	margin-left:2em;
}
ol.alpbtList li span{
	display:block;/zoom:1;
    color:#4c4c4c;
    font-weight:normal;
}
ol.alpbtList li ul.sqList,
ol.alpbtList li ol.numList,
ol.alpbtList li ol.alpbtList,
ol.alpbtList li ul.noteList{
	margin-top:0;
}

/* //LIST --------------------------------------------------- */


/* TABLE --------------------------------------------------- */

.defTbl,
.transTbl{
	margin-top:20px;
	boder-collapse:collapse;
	border:solid 1px #d9d9d9;
	background-color:#fff;
}
.defTbl.w100per,
.transTbl.w100per{
	width:100%;
}
.defTbl th,
.defTbl td,
.transTbl th,
.transTbl td{
	border:solid 1px #d9d9d9;
	padding:0 15px 20px;
	vertical-align:top;
	text-align:left;
}
.defTbl thead th,
.transTbl thead th{
	border-top:solid 2px #0051a4;
	background-color:#e6e6e6;
	color:#000;
}
.defTbl tbody th,
.transTbl tbody th{
	background-color:#f7f7f7;
}

@media only screen and (max-width : 520px){
	table.transTbl{
		display:block;
		background-color:#fff;
		border:0 none;
		border-bottom:solid 1px #d9d9d9;
	}
	table.transTbl tbody,
	table.transTbl thead,
	table.transTbl tfoot,
	table.transTbl tr{
		width:auto;
		display:block;
	}
	table.transTbl th{
		width:auto !important;
		display:block !important;
		border-bottom:0 none !important;
		vertical-align:top;
		text-align:left;
	}
	table.transTbl td{
		width:auto !important;
		display:block !important;
		border-bottom:0 none !important;
		vertical-align:top;
		text-align:left;
	}
}

/* セル幅制御<col>に付与 */
.w5per{
	width:5%;
}
.w10per{
	width:10%;
}
.w15per{
	width:15%;
}
.w20per{
	width:20%;
}
.w25per{
	width:25%;
}
.w30per{
	width:30%;
}
.w35per{
	width:35%;
}
.w40per{
	width:40%;
}
.w45per{
	width:45%;
}
.w50per{
	width:50%;
}
.w55per{
	width:55%;
}
.w60per{
	width:60%;
}
.w65per{
	width:65%;
}
.w70per{
	width:70%;
}
.w75per{
	width:75%;
}
.w80per{
	width:80%;
}
.w85per{
	width:85%;
}
.w90per{
	width:90%;
}
.w95per{
	width:95%;
}

/* //TABLE --------------------------------------------------- */


/* columns ------------------------------------------------------------ */
.columns.col2 .col,
.columns.col3 .col{
	width:auto;
	margin:0 auto;
}
.columns.col2 .col{
	max-width:380px;
}
.columns.col3 .col{
	max-width:240px;
}

/* //columns ------------------------------------------------------------ */


/* img ------------------------------------------------------------ */

.imgBd{
	border:solid 1px #ededed;
}

.pinch{
	display:none;
}
@media only screen and (max-width : 500px){
	.editArea .pinch{
		display:block;
		text-align:right;margin-top:10px;
	}
}

/* //img ------------------------------------------------------------ */


/* img & text ------------------------------------------------------------ */

/* img 1/2(380px) */
/* imgHalfR */
.imgHalfR{
	margin-left:-15px;
	overflow:hidden;
	margin-top:20px;
}
.imgHalfR .img{
	width:50%;min-width:295px;
	float:right;
	margin-bottom:5px;
}
.imgHalfR .img .pad{
	padding-left:15px;
}
.imgHalfR .text{
	margin-left:15px;
}

/* imgHalfL */
.imgHalfL{
	margin-right:-15px;
	overflow:hidden;
	margin-top:20px;
}
.imgHalfL .img{
	width:50%;min-width:295px;
	float:left;
	margin-bottom:5px;
}
.imgHalfL .img .pad{
	padding-right:15px;
}
.imgHalfL .text{
	margin-right:15px;
}
@media only screen and (min-width : 581px){
	.imgHalfR .img .pad > *:first-child,
	.imgHalfR .text > *:first-child,
	.imgHalfL .img .pad > *:first-child,
	.imgHalfL .text > *:first-child{
		margin-top:0;
	}
	.imgHalfR.h2Top,
	.imgHalfL.h2Top{
		margin-top:40px;
	}
	.imgHalfR.h3Top,
	.imgHalfL.h3Top{
		margin-top:40px;
	}
	.imgHalfR.h4Top,
	.imgHalfL.h4Top{
		margin-top:40px;
	}
}
@media only screen and (max-width : 580px){
	.imgHalfR .img,
	.imgHalfL .img{
		float:none;
		width:auto;min-width:0;
		margin-bottom:0;
	}
}

/* img 1/2S(300px) */
/* imgHalfSR */
.imgHalfSR{
	margin-left:-15px;
	overflow:hidden;
	margin-top:20px;
}
.imgHalfSR .img{
	width:40.5%;
	float:right;
	margin-bottom:5px;
}
.imgHalfSR .img .pad{
	padding-left:15px;
}
.imgHalfSR .text{
	margin-left:15px;
}

/* imgHalfSL */
.imgHalfSL{
	margin-right:-15px;
	overflow:hidden;
	margin-top:20px;
}
.imgHalfSL .img{
	width:40.5%;
	float:left;
	margin-bottom:5px;
}
.imgHalfSL .img .pad{
	padding-right:15px;
}
.imgHalfSL .text{
	margin-right:15px;
}
@media only screen and (min-width : 521px){
	.imgHalfSR .img .pad > *:first-child,
	.imgHalfSR .text > *:first-child,
	.imgHalfSL .img .pad > *:first-child,
	.imgHalfSL .text > *:first-child{
		margin-top:0;
	}
	.imgHalfSR.h2Top,
	.imgHalfSL.h2Top{
		margin-top:40px;
	}
	.imgHalfSR.h3Top,
	.imgHalfSL.h3Top{
		margin-top:40px;
	}
	.imgHalfSR.h4Top,
	.imgHalfSL.h4Top{
		margin-top:40px;
	}
}
@media only screen and (max-width : 520px){
	.imgHalfSR .img,
	.imgHalfSL .img{
		float:none;
		width:auto;
		margin-bottom:0;
	}
}


/* img 1/3(240px) */
/* imgTriR */
.imgTriR{
	margin-left:-15px;
	overflow:hidden;
	margin-top:20px;
}
.imgTriR .img{
	max-width:255px;
	float:right;
	margin-bottom:5px;
}
.imgTriR .img .pad{
	padding-left:15px;
}
.imgTriR .text{
	margin-left:15px;
}

/* imgTriL */
.imgTriL{
	margin-right:-15px;
	overflow:hidden;
	margin-top:20px;
}
.imgTriL .img{
	width:255px;
	float:left;
	margin-bottom:5px;
}
.imgTriL .img .pad{
	padding-right:15px;
}
.imgTriL .text{
	margin-right:15px;
}

@media only screen and (min-width : 521px){
	.imgTriR .img .pad > *:first-child,
	.imgTriR .text > *:first-child,
	.imgTriL .img .pad > *:first-child,
	.imgTriL .text > *:first-child{
		margin-top:0;
	}
	.imgTriR.h2Top,
	.imgTriL.h2Top{
		margin-top:40px;
	}
	.imgTriR.h3Top,
	.imgTriL.h3Top{
		margin-top:40px;
	}
	.imgTriR.h4Top,
	.imgTriL.h4Top{
		margin-top:40px;
	}
}
@media only screen and (max-width : 520px){
	.imgTriR .img,
	.imgTriL .img{
		float:none;
		width:auto;
		margin-bottom:0;
		max-width:100%;
	}
}


/* img thumbnail(120pxX80px) */
/* thumbR */
.thumbR{
	margin-left:-15px;
	overflow:hidden;
	margin-top:20px;
}
.thumbR .img{
	max-width:135px;
	float:right;
	margin-bottom:5px;
}
.thumbR .img .pad{
	padding-left:15px;
}
.thumbR .text{
	margin-left:15px;
}

/* thumbL */
.thumbL{
	margin-right:-15px;
	overflow:hidden;
	margin-top:20px;
}
.thumbL .img{
	width:135px;
	float:left;
	margin-bottom:5px;
}
.thumbL .img .pad{
	padding-right:15px;
}
.thumbL .text{
	margin-right:15px;
}
.thumbR .img .pad > *:first-child,
.thumbL .img .pad > *:first-child,
.thumbR .text > *:first-child,
.thumbL .text > *:first-child{
	margin-top:0;
}
.thumbR.h2Top,
.thumbL.h2Top{
	margin-top:40px;
}
.thumbR.h3Top,
.thumbL.h3Top{
	margin-top:40px;
}
.thumbR.h4Top,
.thumbL.h4Top{
	margin-top:40px;
}


/* img width free */

@media only screen and (min-width : 401px){
	/* imgR */
	.imgR{
		margin-top:20px;
	}
	.imgR .img{
		margin-left:15px;
		float:right;
		max-width:40%;
		margin-bottom:5px;
	}
	/* imgL */
	.imgL{
		margin-top:20px;
	}
	.imgL .img{
		margin-right:15px;
		float:left;
		max-width:40%;
		margin-bottom:5px;
	}
	.imgR .img > *:first-child,
	.imgL .img > *:first-child,
	.imgR .text > *:first-child,
	.imgL .text > *:first-child{
		margin-top:0;
	}
}
@media only screen and (max-width : 400px){
	/* imgR */
	.imgR .img{
		text-align:center;
	}
	/* imgL */
	.imgL .img{
		text-align:center;
	}
}

.imgR.h2Top,
.imgL.h2Top{
	margin-top:40px;
}
.imgR.h3Top,
.imgL.h3Top{
	margin-top:40px;
}
.imgR.h4Top,
.imgL.h4Top{
	margin-top:40px;
}


.thumbR:after,
.thumbL:after,
.imgTriR:after,
.imgTriL:after,
.imgHalfR:after,
.imgHalfL:after,
.imgHalfSR:after,
.imgHalfSL:after,
.imgR:after,
.imgL:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.thumbR,
.thumbL,
.imgTriR,
.imgTriL,
.imgHalfR,
.imgHalfL,
.imgHalfSR,
.imgHalfSL,
.imgR,
.imgL{
	display:inline-table;
	min-height:1%;
}
/* \*/
html .thumbR,
html .thumbL,
html .imgTriR,
html .imgTriL,
html .imgHalfR,
html .imgHalfL,
html .imgHalfSR,
html .imgHalfSL,
html .imgR,
html .imgL{
	* height:1%;
}
.thumbR,
.thumbL,
.imgTriR,
.imgTriL,
.imgHalfR,
.imgHalfL,
.imgHalfSR,
.imgHalfSL,
.imgR,
.imgL{
	display:block;
}
/* */

/* //img & text ------------------------------------------------------------ */



/* news list ------------------------------------------------------------ */

.newsList{
	margin-bottom:40px;
	background:url(../img/module/hr_dot.gif) repeat-x left top;
}
.newsList dl{
	background:url(../img/module/hr_dot.gif) repeat-x left bottom;
	display:table;width:100%;
}
.newsList dl dt,
.newsList dl dd{
	display:table-cell;
	text-align:left;vertical-align:top;
	padding:10px;
}
.newsList dl dt{
	width:6em;font-weight:bold;
	padding:10px 0;
}
.newsList dl .flg{
	padding:0;width:54px;
}
.newsList dl .flg div{
	position:relative;
}
.newsList dl .flg .ir,
.newsList dl .flg .pr{
	display:block;
	position:absolute;top:13px;
}
.newsList dl .flg .ir{
	left:0;
}
.newsList dl .flg .pr{
	right:0;
}

@media only screen and (max-width : 480px){

	.newsList dl{
		display:block;padding:20px 0 10px;position:relative;
	}
	.newsList dl dt,
	.newsList dl dd{
		display:block;
		padding:10px 0;
	}
	.newsList dl dt{
		padding:0;
	}
	.newsList dl .flg{
		position:absolute;top:0;right:0;
	}
	.newsList dl .flg .ir,
	.newsList dl .flg .pr{
		top:20px;
	}
	.newsList dl dd a{
		display:block;
	}
}

/* //news list ------------------------------------------------------------ */




/* seminar list ------------------------------------------------------------ */


/* 開催予定のセミナ */
.futureSemi{
}
.futureSemi dl{
	background:url(../img/module/hr_dot.gif) repeat-x left bottom;
	padding-bottom:20px;
	margin-top:20px;
}
.futureSemi dl dt{
	text-indent:-24px;padding-left:24px;
	margin-bottom:20px;
}
.futureSemi dl dd.term{
	background-color:#fafafa;
	border:solid 6px #e6e6e6;
	padding:15px;
	margin-bottom:20px;
}


/* 過去のセミナ */

.semiList{
	margin:20px 0 40px;
	background:url(../img/module/hr_dot.gif) repeat-x left top;
}
.semiList dl{
	background:url(../img/module/hr_dot.gif) repeat-x left bottom;
	display:table;width:100%;
}
.semiList dl dt,
.semiList dl dd{
	display:table-cell;
	text-align:left;vertical-align:top;
	padding:10px;
}
.semiList dl dt{
	width:10em;
	padding:10px 0;
}

@media only screen and (max-width : 480px){

	.semiList dl{
		display:block;padding:20px 0;position:relative;
	}
	.semiList dl dt,
	.semiList dl dd{
		display:block;
		padding:0;
	}
	.semiList dl dd a{
		display:block;
	}
}

/* //seminar list ------------------------------------------------------------ */



/* related ------------------------------------------------------------ */

.related{
	margin:40px -40px 40px 0;
}
.related ul{
	margin-top:20px;
}
.related ul li{
	display:inline-block;/display:inline;/zoom:1;
	width:33.3333%;
}
.related ul li a{
	display:block;
	margin-right:40px;
}
.related ul li .imgBd{
	display:block;
	margin-bottom:10px;
}
.related ul li span{
	display:block;
	text-indent:-24px;
	padding-left:24px;
}
@media only screen and (max-width : 480px){
	.related{
		margin:40px 0;
	}
	.related ul li{
		display:block;
		width:auto;
	}
	.related ul .imgBd{
		display:none !important;
	}
	.related ul{
		border:solid 1px #d9d9d9;
		border-top:0 none;
	}
	.related ul li{
		border-top:solid 1px #d9d9d9;
		margin-top:-1px;
	}
	.related ul li a{
		display:block;
		text-decoration:none;
		margin-right:0;
	}
	.related ul li span{
		padding:15px 10px 15px 34px;
	}

}

/* //related ------------------------------------------------------------ */


/* faq ------------------------------------------------------------ */

.faq dt{
	margin:40px 0 20px;
	font-size:16px;
	color:#000;
	font-weight:bold;
	text-indent:-34px;padding-left:34px;
}

/* //faq ------------------------------------------------------------ */


/* slideshare ------------------------------------------------------------ */

.iframeSlide{
	margin-top:20px;
	width:100%;
	height:300px;
}

/* //slideshare ------------------------------------------------------------ */

/* slideshare ------------------------------------------------------------ */

.youtubeFrame {
	width:260px;
	height:146px;
	margin:40px auto 0;
}
.youtubeFrame iframe,
.youtubeFrame object,
.youtubeFrame embed{
	width:260px;
	height:146px;
}


/* //slideshare ------------------------------------------------------------ */




/* 共通フッタ（お問い合わせボックス） ------------------------------------------------------------ */
.contactBox{
	margin-top:40px;
}
.contactBox .infoBox{
	border:solid 3px #e6e6e6;
	margin-top:20px;padding:15px 10px 0;
}
.contactBox .infoBox dt,
.contactBox .infoBox dd{
	padding-bottom:15px;
}
.contactBox .infoBox dt{
	padding-bottom:5px;
}
.contactBox .infoBox dd{
	text-indent:-0.5em;overflow:hidden;
}
.contactBox .title{
	color:#0051a4;font-size:16px;font-weight:bold;
}

.contactBox .conductorLink{
	text-align:center;
}
.contactBox .wysiwygArea{
	margin-bottom:20px;
}



/* //共通フッタ（お問い合わせボックス） ------------------------------------------------------------ */


/* 注意喚起ボックス --------------------------------------------------- */

.attBox {
	background-color: #FFE8E8;
	padding: 5px 10px;
	margin-top: 20px;
	color: #0051a4;
}


/* //注意喚起ボックス ------------------------------------------------------------ */




/* WYSIWYG --------------------------------------------------- */
.wysiwygArea{
	word-break:break-all;
	word-wrap: break-word;
/*	margin-bottom:40px;*/
}
.wysiwygArea h2{
	margin:40px 0 20px;padding-top:15px;
	background:url(../img/module/h2_bar_2x.png) no-repeat;
	-webkit-background-size:760px 2px;
	background-size:760px 2px;
	font-size:18px;
	color:#000;
}
.wysiwygArea h3{
	margin:40px 0 20px;
	padding:3px 0 3px 13px;
	font-size:16px;
	color:#000;
	border-left:solid 3px #0051a4;
	overflow:hidden;
}
.wysiwygArea h4{
	margin:40px 0 20px;
	padding:3px 0 3px 13px;
	font-size:14px;
	color:#000;
	border-left:solid 3px #b3b3b3;
	overflow:hidden;
}

.wysiwygArea table{
	margin-top:20px;
	width:auto !important;
	boder-collapse:collapse;
	border:solid 1px #d9d9d9;
}
.wysiwygArea table th,
.wysiwygArea table td{
	border:solid 1px #d9d9d9;
	padding:20px 10px;
	vertical-align:top;
	text-align:left;
}
.wysiwygArea table thead th{
	border-top:solid 2px #0051a4;
	background-color:#e6e6e6;
	color:#000;
}
.wysiwygArea table tbody th{
	background-color:#f7f7f7;
}

.wysiwygArea a[target^='_blank']::after{
	content:url(../img/module/ico_blank.png);
	vertical-align: middle;
	margin-left:3px;padding-right:2px;
}
.wysiwygArea a.NoIcon[target^='_blank']::after {
	content:'';
}
.wysiwygArea ul{
	list-style: disc;
	margin-top:20px;
}
.wysiwygArea ul li{
	list-style: disc;
	margin:10px 0 0 2em;
}

.wysiwygArea ol{
	list-style: decimal;
	margin-top:20px;
}
.wysiwygArea ol li{
	list-style: decimal;
	margin:10px 0 0 2em;
}
/* //WYSIWYG ------------------------------------------------------------ */
.pageTop2 {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	padding-top: 8px;
	border-top:1px dotted #ccc;
	text-align: right;
}


