@charset "utf-8";
/* CSS Document */


/*ログインエリア*/

#login {
	display:none;
}




/*トピックス（隠す）*/
.hide {
	display:none;
}


#changed_ci img {
	display:block;
	width:70%;
	padding:40px 0 30px;
	margin:0 auto;
	
}