/* Text */
.text-left {
		text-align: left;
}

.text-center {
		text-align: center;
}

.text-right {
		text-align: right;
}

.text-justify {
		text-align: justify;
}

.text-nowrap {
		white-space: nowrap;
}



/* Quick floats */
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}



/* Center content blocks */
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* Lists */
.list-unstyled {
	list-style: outside none none;
	padding-left: 0;
}