@charset "utf-8";
/* CSS Document */

@charset "utf-8";

/*
================================================================
	 basic modules
================================================================
*/


/* WRAP --------------------------------------------------- */

.h1Area{
	margin-bottom:60px;
}

.editArea{line-height:1.6;}
.editArea > *:first-child{
	margin-top:0;
}

/* //WRAP --------------------------------------------------- */


/* H1Area --------------------------------------------------- */

/* H1 */
.h1Area h1.hTxt{
	margin-bottom:40px;
	padding:18px 0 0 8px;
	font-size:24px;
	color:#000000;
	display:block;
	border-top:4px solid #0051a4;
	background:#ffffff;
	line-height:24px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.4); /* webkit用 */
}

.h1Area h1.hTxt span {
	font-size:10px;
	display:block;
	color:#999;
	margin:0 0 0 -8px;
	background:#fff;
	font-family:Verdana, Geneva, sans-serif;
	padding:0 3px 8px 8px;
}

.h1Area h1.hTxt span#subTitle {
	margin:0 12px 10px 0;
	display:inline;
	font-size:12px;
	font-weight:normal;
	line-height:12px;
	vertical-align:middle;
	color:#000;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	padding:0;
}

h1.hImg{
	margin-bottom:40px;
}
h1.hImg span{
	display:block;/zoom:1;
	height:0;
	white-space:nowrap;
	text-indent:100%;
	overflow:hidden;
}


.h1Area h1.hImgTxt{
	margin-bottom:40px;
}
.h1Area h1.hImgTxt span{
	display:block;/zoom:1;height:0;
	white-space:nowrap;text-indent:100%;overflow:hidden;
}

.h1Area .mainImg{
	max-width:880px;
	margin:0 -40px 40px;
}
.h1Area .mainImg p{
	margin-left:-20px;
	margin-right:-20px;
}

.h1Area .catch{
	margin:60px 0;
	font-size:26px;font-weight:bold;
}
.h1Area .lead{
	margin-bottom:40px;
	font-size:16px;
	line-height:1.6;
}

.h1Area nav{
	margin-bottom:40px;
	background-color:#f7f7f7;
	border:solid 1px #ededed;
	padding:10px 10px 5px;
}
.h1Area nav ul{
	margin-left:-30px;
}
.h1Area nav ul li{
	display:inline-block;/display:inline;/zoom:1;
	margin:0 0 5px 30px;
	font-size:12px;
}
.h1Area nav ul li a{
	color:#4c4c4c;
}
html.oldIE .h1Area nav ul li{
	white-space:nowrap\9;
}

.h1Area p{
	margin-bottom:40px;
}

.h1Area .shareUnit{
	margin-bottom:20px;
}
.h1Area .shareUnit .left{
	float:left;
	margin-bottom:0;
}
.h1Area .shareUnit .left p{
	margin-bottom:0;
}
.h1Area .shareUnit:after{
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
	line-height: 0;
}
.h1Area .shareUnit{
	_height: 1px;
	min-height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
.h1Area .shareUnit ul.shareBtn{
	float:right;
	margin-top:10px;
	margin-bottom:0;
}
.h1Area ul.shareBtn{
	text-align:right;
	margin-bottom:20px;
}
.h1Area ul.shareBtn li{
	display:inline-block;/display:inline;/zoom:1;vertical-align:middle;margin-left:10px;
	text-align:left;
}

/* //H1Area --------------------------------------------------- */


/* DISPLAY --------------------------------------------------- */
.hideWide{
	display:none;
}
/* //DISPLAY --------------------------------------------------- */

/* RECT  --------------------------------------------------- */
.rect{
	overflow:hidden;
	_zoom:1;
}
/* //RECT --------------------------------------------------- */

/* PARAGRAPH --------------------------------------------------- */

.editArea p{
	margin-top:10px;
}

.editArea .caption{
	margin-top:10px;
	font-size:12px;
}

/* //PARAGRAPH --------------------------------------------------- */


/* ICON --------------------------------------------------- */

.iconL { display:inline !important;vertical-align:middle;margin:0 10px 0 0 !important;max-width:none; }
.iconR { display:inline !important;vertical-align:middle;margin:0 0 0 10px !important;max-width:none; }
.icon { display:inline !important;vertical-align:middle;margin:0 10px !important;max-width:none; }

/* //ICON --------------------------------------------------- */


/* FLAG --------------------------------------------------- */
span.catTag {
	display:inline-block;/display:inline;/zoom:1;
	padding:0 10px 0 23px;
	margin:0 5px 5px 0;
	height:23px;
	background:#e6e6e6 url(../imgs/common/module/ico_tag_head.gif) 0 0 no-repeat;
	white-space:nowrap;
	font-size:11px;
	line-height:23px;
	font-weight:bold;
	vertical-align:middle;
}
/* //FLAG --------------------------------------------------- */


/* HR --------------------------------------------------- */

.hrDot{
	border:0 none;
	background:#fff url(../imgs/common/module/hr_dot.gif) repeat-x;
	height:1px;
	overflow:hidden;
	margin:40px 0;
}

/* //HR --------------------------------------------------- */



/* HEADING --------------------------------------------------- */


/* H2 */
h2.hTxt{
	margin:80px 0 30px;
	padding:6px;
	font-size:18px;
	color:#000;
	overflow:hidden;
	background:#fdfdfd;
	border-left:3px solid #0051a4;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.2); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.2); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.2); /* webkit用 */
}

h2.hImg{
	margin:80px 0 40px;
}
h2.hImg span{
	display:block;/zoom:1;height:0;
	white-space:nowrap;text-indent:100%;overflow:hidden;
}

.h3Box {
	clear:both;
}

/* H3 */
h3.hTxt{
	margin:50px 0 30px;
	padding:3px 0 3px 6px;
	font-size:16px;
	color:#000;
	background-color:#fff;
	border-bottom:solid 1px #0051a4;
	overflow:hidden;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.1); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1); /* webkit用 */
}

h3.hImg{
	margin:50px 0 30px;
}
h3.hImg span{
	display:block;/zoom:1;_position:absolute;_top:0;_left:0;
	white-space:nowrap;text-indent:100%;overflow:hidden;
}


/* H4 */
h4.hTxt{
	margin:40px 0 20px;
	padding:3px 0 3px 13px;
	font-size:14px;
	color:#000;
	border-left:solid 3px #b3b3b3;
	overflow:hidden;
}

h4.hImg{
	margin:40px 0 20px;
}
h4.hImg span{
	display:block;/zoom:1;_position:absolute;_top:0;_left:0;
	white-space:nowrap;text-indent:100%;overflow:hidden;
}



/* //HEADING --------------------------------------------------- */


/* LINK --------------------------------------------------- */

ul.link{
	margin-top:20px;
	overflow:hidden;/zoom:1;
}
ul.link li{
	margin-top:10px;
}
ul.link li a{
	display:block;/zoom:1;
	text-indent:-24px;
	padding-left:24px;
}
/* ie8 */
html.oldIE ul.link li a{
	display:block;
}



ul.inlineLink{
	margin-top:20px;
}
ul.inlineLink li{
	margin-top:10px;
	display:inline-block;/display:inline;/zoom:1;
	border-left:solid 2px #ababab;
	padding:0 15px;
	white-space:nowrap;
}


ul.inlineLink2{
	margin:20px -20px -10px 0;
}
ul.inlineLink2 li{
	margin-bottom:10px;margin-right:20px;
	display:inline-block;/display:inline;/zoom:1;
	padding:0;
}
/* ie8 */
html.oldIE ul.inlineLink2{
	margin-right:-40px\9;
}
html.oldIE ul.inlineLink2 li{
	white-space: nowrap\9;
	margin-right:40px\9;
}


ul.col2LinkA{
	margin-right:-40px;
	overflow:hidden;/zoom:1;
}
ul.col2LinkA li{
	width:50%;
	display:inline-block;/display:inline;/zoom:1;vertical-align:top;
}
ul.col2LinkA li .pad{
	background:transparent url(../imgs/common/module/hr_dot.gif) repeat-x left bottom;
	padding:0 0 20px 0;
	margin-right:40px;
}
ul.col2LinkA li a{
	display:block;/zoom:1;
	text-indent:-24px;
	padding-left:24px;
}
/* ie8 */
html.oldIE ul.col2LinkA li a{
	display:block;
}
ul.col2LinkA li.last{
	/margin-right:-40px;
}


ul.col2LinkB{
	margin:20px -40px 0 0;
	overflow:hidden;/zoom:1;
}
ul.col2LinkB li{
	width:50%;
	display:inline-block;/display:inline;/zoom:1;vertical-align:top;
}
ul.col2LinkB li .pad{
	margin-right:40px;
}
ul.col2LinkB li p{
	margin:10px 0 0;padding:0;
}
ul.col2LinkB li p a{
	display:block;/zoom:1;
	text-indent:-24px;
	padding-left:24px;
}
ul.col2LinkB li.last{
	/margin-right:-40px;
}


/* //LINK --------------------------------------------------- */


/* BUTTON --------------------------------------------------- */
.btn{
	display:inline-block;
	/display:inline;
	/zoom:1;
	background-color:#0051a4;
	border:solid 2px #0051a4;
	color:#fff;
	position:relative;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	min-width:200px;
	max-width:400px;
	_width:200px;
}

.btn .label{
	display:inline-block;
	/display:inline;
	/zoom:1;
	padding:15px 40px;
	text-align:left;
}
.btn span.ico{
	display:block;
	position:absolute;
	right:5px;
	top:50%;
	margin-top:-5px;
	width:10px;height:10px;
	background:url(../imgs/common/module/ico_btn_2x.png) no-repeat;
	-webkit-background-size:10px 20px;
	background-size:10px 20px;
}
html.oldIE .btn span.ico{/* IE8以下対応 */
	background:url(../imgs/common/module/ico_btn.png) no-repeat;
}
.btn span.mail{
	display:block;
	position:absolute;
	left:10px;
	top:50%;
	margin-top:-7px;
	width:20px;height:15px;
	background:url(../imgs/common/module/btn_mail_2x.png) no-repeat;
	-webkit-background-size:20px 30px;
	background-size:20px 30px;
}
html.oldIE .btn span.mail{/* IE8以下対応 */
	background:url(../imgs/common/module/btn_mail.png) no-repeat;
}
.btn span.pdf{
	display:block;position:absolute;left:10px;top:50%;margin-top:-7px;
	width:14px;height:15px;
	background:url(../imgs/common/module/btn_pdf_2x.png) no-repeat;
	-webkit-background-size:14px 30px;
	background-size:14px 30px;
}
html.oldIE .btn span.pdf{/* IE8以下対応 */
	background:url(../imgs/common/module/btn_pdf.png) no-repeat;
}
.btn:active,
.btn:hover{
	background:#003f7f;
	border:2px solid #003f7f;
	color:#0051a4;
	text-decoration:none;
	color:#fff;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.3); /* Firefox用*/
	-ms-box-shadow: 0px 0px 7px rgba(0,0,0,0.3); /* IE用 */
	-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.3); /* webkit用 */
}
.btn:active .ico,
.btn:hover .ico,
html.oldIE .btn:active .ico,
html.oldIE .btn:hover .ico{
	background-position:0 -10px;
}
.btn:active .mail,
.btn:hover .mail,
.btn:active .pdf,
.btn:hover .pdf,
html.oldIE .btn:active .mail,
html.oldIE .btn:hover .mail{
	background-position:0 -15px;
}

.btnBack{
	display:inline-block;/display:inline;/zoom:1;
	background-color:#b3b3b3;
	border:solid 2px #b3b3b3;
	color:#fff;
	position:relative;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	min-width:200px;max-width:400px;_width:200px;
}
.btnBack .label{
	display:inline-block;/display:inline;/zoom:1;
	padding:15px 40px;text-align:left;
}
.btnBack span.ico{
	display:block;position:absolute;left:5px;top:50%;margin-top:-5px;
	width:10px;height:10px;
	background:url(../imgs/common/module/ico_btn_back_2x.png) no-repeat;
	-webkit-background-size:10px 20px;
	background-size:10px 20px;
}
html.oldIE .btnBack span.ico{/* IE8以下対応 */
	background:url(../imgs/common/module/ico_btn_back.png) no-repeat;
}
.btnBack:active,
.btnBack:hover{
	background:#fff;
	color:#b3b3b3;
	text-decoration:none;
	
}
.btnBack:active .ico,
.btnBack:hover .ico,
html.oldIE .btnBack:active .ico,
html.oldIE .btnBack:hover .ico{
	background-position:0 -10px;
}

/* //BUTTON --------------------------------------------------- */


/* LIST --------------------------------------------------- */

ul.sqList{
	margin-top:20px;
}
ul.sqList li{
	margin-top:10px;
	list-style-image:url(../img/module/ico_disc.gif);
	margin-left:1.5em;
}
ul.sqList li ul.sqList,
ul.sqList li ol.numList,
ul.sqList li ul.noteList,
ul.sqList li ol.alpbtList{
	margin-top:0;
}

ol.numList{
	margin-top:20px;
	color:#0051a4;
	font-weight:bold;
}
ol.numList li{
	list-style-type:decimal;
	margin-left:2em;
}
ol.numList li span{
	display:block;/zoom:1;
	margin-top:10px;
    color:#4c4c4c;
    font-weight:normal;
}
ol.numList li ul.sqList,
ol.numList li ol.numList,
ol.numList li ul.noteList,
ol.numList li ol.alpbtList{
	margin-top:0;
}


ul.noteList{
	margin-top:20px;
}
ul.noteList li{
	margin-top:5px;
	color:#808080;font-size:12px;
	text-indent:-1em;padding-left:1em;overflow:hidden;/zoom:1;
}
ul.noteList li ul.sqList,
ul.noteList li ol.numList,
ul.noteList li ul.noteList,
ul.noteList li ol.alpbtList{
	margin-top:0;
}


ol.alpbtList{
	margin-top:20px;
	color:#0051a4;
	font-weight:bold;
}
ol.alpbtList li{
	list-style-type:upper-alpha;
	margin-left:2em;
}
ol.alpbtList li span{
	display:block;/zoom:1;
    color:#4c4c4c;
    font-weight:normal;
}
ol.alpbtList li ul.sqList,
ol.alpbtList li ol.numList,
ol.alpbtList li ol.alpbtList,
ol.alpbtList li ul.noteList{
	margin-top:0;
}

/* //LIST --------------------------------------------------- */


/* TABLE --------------------------------------------------- */

.defTbl,
.transTbl{
	margin-top:20px;
	boder-collapse:collapse;
	border:solid 1px #d9d9d9;
	background-color:#fff;
}
.defTbl.w100per,
.transTbl.w100per{
	width:100%;
}
.defTbl th,
.defTbl td,
.transTbl th,
.transTbl td{
	border:solid 1px #d9d9d9;
	padding:0 15px 20px;
	vertical-align:top;
	text-align:left;
}
.defTbl thead th{
	border-top:solid 2px #0051a4;
	background-color:#e6e6e6;
	color:#000;
}
.defTbl tbody th,
.transTbl tbody th{
	background-color:#f7f7f7;
}


/* セル幅制御<col>に付与 */
.w5per{
	width:5%;
}
.w10per{
	width:10%;
}
.w15per{
	width:15%;
}
.w20per{
	width:20%;
}
.w25per{
	width:25%;
}
.w30per{
	width:30%;
}
.w35per{
	width:35%;
}
.w40per{
	width:40%;
}
.w45per{
	width:45%;
}
.w50per{
	width:50%;
}
.w55per{
	width:55%;
}
.w60per{
	width:60%;
}
.w65per{
	width:65%;
}
.w70per{
	width:70%;
}
.w75per{
	width:75%;
}
.w80per{
	width:80%;
}
.w85per{
	width:85%;
}
.w90per{
	width:90%;
}
.w95per{
	width:95%;
}
/* //TABLE --------------------------------------------------- */



/* columns ------------------------------------------------------------ */

.columns{
	margin-top:20px;
	margin-right:-40px;
	overflow:hidden;/zoom:1;
}
.columns .col{
	display:inline-block;/display:inline;/zoom:1;vertical-align:top;
}
.columns .col .colPad{
	padding-right:40px;
}
html.oldIE .columns .col.last{
	margin-right:-40px;
}

.columns.col2 .col{
	width:50%;max-width:420px;
}
.columns.col3 .col{
	width:33.333%;max-width:280px;
}

.columns.col2 > .col:first-child .colPad > *:first-child,
.columns.col2 > .col:nth-child(2) .colPad > *:first-child,
.columns.col3 > .col:first-child .colPad > *:first-child,
.columns.col3 > .col:nth-child(2) .colPad > *:first-child,
.columns.col3 > .col:nth-child(3) .colPad > *:first-child{
	margin-top:0;
}

.columns.h2Top{
	margin-top:80px;
}
.columns.h3Top{
	margin-top:50px;
}
.columns.h4Top{
	margin-top:40px;
}


/* //columns ------------------------------------------------------------ */



/* img ------------------------------------------------------------ */

.imgBd{
	border:solid 1px #ededed;
}

a.imgOvr img{
	-webkit-transition: all 150ms  ease-out;
	-moz-transition: all 150ms  ease-out;
	-o-transition: all 150ms  ease-out;
}
a.imgOvr:hover img{
	opacity:0.7;
	filter:alpha(opacity=70);
}

.pinch{display:none;}

/* //img ------------------------------------------------------------ */



/* img & text ------------------------------------------------------------ */

/* img 1/2(380px) */
/* imgHalfR */
.imgHalfR{
	margin-left:-40px;
	overflow:hidden;
	margin-top:20px;
}
.imgHalfR .img{
	width:50%;min-width:320px;
	float:right;
	margin-bottom:5px;
}
.imgHalfR .img .pad{
	padding-left:40px;
}
.imgHalfR .text{
	margin-left:40px;
}

/* imgHalfL */
.imgHalfL{
	margin-right:-40px;
	margin-top:20px;
}
.imgHalfL .img{
	width:50%;min-width:320px;
	float:left;
	margin-bottom:5px;
}
.imgHalfL .img .pad{
	padding-right:40px;
}
.imgHalfL .text{
	margin-right:40px;
}

.imgHalfR .img .pad > *:first-child,
.imgHalfR .text > *:first-child,
.imgHalfL .img .pad > *:first-child,
.imgHalfL .text > *:first-child{
	margin-top:0;
}
.imgHalfR.h2Top,
.imgHalfL.h2Top{
	margin-top:80px;
}
.imgHalfR.h3Top,
.imgHalfL.h3Top{
	margin-top:50px;
}
.imgHalfR.h4Top,
.imgHalfL.h4Top{
	margin-top:40px;
}


/* img 1/2S(300px) */
/* imgHalfSR */
.imgHalfSR{
	margin-left:-40px;
	overflow:hidden;
	margin-top:20px;
}
.imgHalfSR .img{
	width:40.5%;min-width:320px;
	float:right;
	margin-bottom:5px;
}
.imgHalfSR .img .pad{
	padding-left:40px;
}
.imgHalfSR .text{
	margin-left:40px;
}

/* imgHalfSL */
.imgHalfSL{
	margin-right:-40px;
	margin-top:20px;
}
.imgHalfSL .img{
	width:40.5%;min-width:320px;
	float:left;
	margin-bottom:5px;
}
.imgHalfSL .img .pad{
	padding-right:40px;
}
.imgHalfSL .text{
	margin-right:40px;
}

.imgHalfSR .img .pad > *:first-child,
.imgHalfSR .text > *:first-child,
.imgHalfSL .img .pad > *:first-child,
.imgHalfSL .text > *:first-child{
	margin-top:0;
}
.imgHalfSR.h2Top,
.imgHalfSL.h2Top{
	margin-top:80px;
}
.imgHalfSR.h3Top,
.imgHalfSL.h3Top{
	margin-top:50px;
}
.imgHalfSR.h4Top,
.imgHalfSL.h4Top{
	margin-top:40px;
}



/* img 1/3(240px) */
/* imgTriR */
.imgTriR{
	margin-left:-40px;
	overflow:hidden;
	margin-top:20px;
}
.imgTriR .img{
	width:280px;
	float:right;
	margin-bottom:5px;
}
.imgTriR .img .pad{
	padding-left:40px;
}
.imgTriR .text{
	margin-left:40px;
}

/* imgTriL */
.imgTriL{
	margin-right:-40px;
	margin-top:20px;
}
.imgTriL .img{
	width:280px;
	float:left;
	margin-bottom:5px;
}
.imgTriL .img .pad{
	padding-right:40px;
}
.imgTriL .text{
	margin-right:40px;
}

.imgTriR .img .pad > *:first-child,
.imgTriR .text > *:first-child,
.imgTriL .img .pad > *:first-child,
.imgTriL .text > *:first-child{
	margin-top:0;
}
.imgTriR.h2Top,
.imgTriL.h2Top{
	margin-top:80px;
}
.imgTriR.h3Top,
.imgTriL.h3Top{
	margin-top:50px;
}
.imgTriR.h4Top,
.imgTriL.h4Top{
	margin-top:40px;
}



/* img thumbnail(120pxX80px) */
/* thumbR */
.thumbR{
	margin-left:-20px;
	overflow:hidden;
	margin-top:20px;
}
.thumbR .img{
	max-width:140px;
	float:right;
	margin-bottom:5px;
}
.thumbR .img .pad{
	padding-left:20px;
}
.thumbR .text{
	margin-left:20px;
}


/* thumbL */
.thumbL{
	margin-right:-20px;
	overflow:hidden;
	margin-top:20px;
}
.thumbL .img{
	width:140px;
	float:left;
	margin-bottom:5px;
}
.thumbL .img .pad{
	padding-right:20px;
}
.thumbL .text{
	margin-right:20px;
}


/* img width free */
/* imgR */
.imgR{
	margin-top:20px;
}
.imgR .img{
	margin-left:40px;
	float:right;
	margin-bottom:5px;
}

/* imgL */
.imgL{
	margin-top:20px;
}
.imgL .img{
	margin-right:40px;
	float:left;
	margin-bottom:5px;
}


.thumbR .img .pad > *:first-child,
.thumbR .text > *:first-child,
.thumbL .img .pad > *:first-child,
.thumbL .text > *:first-child,
.imgR .img > *:first-child,
.imgR .text > *:first-child,
.imgL .img > *:first-child,
.imgL .text > *:first-child{
	margin-top:0;
}
.thumbR.h2Top,
.thumbL.h2Top,
.imgR.h2Top,
.imgL.h2Top{
	margin-top:80px;
}
.thumbR.h3Top,
.thumbL.h3Top,
.imgR.h3Top,
.imgL.h3Top{
	margin-top:50px;
}
.thumbR.h4Top,
.thumbL.h4Top,
.imgR.h4Top,
.imgL.h4Top{
	margin-top:40px;
}


.thumbR:after,
.thumbL:after,
.imgTriR:after,
.imgTriL:after,
.imgHalfR:after,
.imgHalfL:after,
.imgHalfSR:after,
.imgHalfSL:after,
.imgR:after,
.imgL:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.thumbR,
.thumbL,
.imgTriR,
.imgTriL,
.imgHalfR,
.imgHalfL,
.imgHalfSR,
.imgHalfSL,
.imgR,
.imgL{
	display:inline-table;
	min-height:1%;
}
/* \*/
html .thumbR,
html .thumbL,
html .imgTriR,
html .imgTriL,
html .imgHalfR,
html .imgHalfL,
html .imgHalfSR,
html .imgHalfSL,
html .imgR,
html .imgL{
	* height:1%;
}
.thumbR,
.thumbL,
.imgTriR,
.imgTriL,
.imgHalfR,
.imgHalfL,
.imgHalfSR,
.imgHalfSL,
.imgR,
.imgL{
	display:block;
}
/* */

/* //img & text ------------------------------------------------------------ */



/* news list ------------------------------------------------------------ */

.newsList{
	margin:20px 0 40px;
	background:url(../imgs/common/module/hr_dot.gif) repeat-x left top;
}
.newsList dl{
	background:url(../imgs/common/module/hr_dot.gif) repeat-x left bottom;
	display:table;width:100%;
}
.newsList dl dt,
.newsList dl dd{
	display:table-cell;/display:inline;/zoom:1;
	text-align:left;vertical-align:top;
	padding:10px;/width:80%;
}
.newsList dl dt{
	width:6em;/width:10%;font-weight:bold;
	padding:10px 0;white-space:nowrap;
}
.newsList dl .flg{
	padding:0;width:54px;
}
.newsList dl .flg div{
	position:relative;
}
.newsList dl .flg .ir,
.newsList dl .flg .pr{
	display:block;/zoom:1;
	position:absolute;top:13px;
}
.newsList dl .flg .ir{
	left:0;
}
.newsList dl .flg .pr{
	right:0;
}

/* //news list ------------------------------------------------------------ */




/* seminar list ------------------------------------------------------------ */


/* 開催予定のセミナ */

.futureSemi{
	margin:20px 0 40px;
}
.futureSemi dl{
	background:url(../imgs/common/module/hr_dot.gif) repeat-x left bottom;
	padding-bottom:20px;
	margin-bottom:40px;
}
.futureSemi dl dt{
	text-indent:-24px;padding-left:24px;
	margin-bottom:20px;
}
.futureSemi dl dd.term{
	background-color:#fafafa;
	border:solid 6px #e6e6e6;
	padding:15px;
	margin-bottom:20px;
	font-weight:bold;text-align:center;
}
.futureSemi dl dd{
	padding-bottom:20px;
}




/* 過去のセミナ */

.semiList{
	margin:20px 0 40px;
	background:url(../imgs/common/module/hr_dot.gif) repeat-x left top;
}
.semiList dl{
	background:url(../imgs/common/module/hr_dot.gif) repeat-x left bottom;
	display:table;width:100%;
}
.semiList dl dt,
.semiList dl dd{
	display:table-cell;/display:inline;/zoom:1;
	text-align:left;vertical-align:top;
	padding:20px;/width:79%;
}
.semiList dl dt{
	width:10em;/width:16%;font-weight:bold;
	padding:20px 0;white-space:nowrap;
}

/* //seminar list ------------------------------------------------------------ */



/* related ------------------------------------------------------------ */

.related{
	margin:40px -40px 40px 0;
	overflow:hidden;/zoom:1;
}
.related .title{
	margin:0 0 20px;
}
.related ul li{
	display:inline-block;/display:inline;/zoom:1;
	width:33.3333%;
}
.related ul li a{
	display:block;
	margin-right:40px;
}
.related ul li .imgBd{
	display:block;
	margin-bottom:10px;
}
.related ul li span{
	display:block;
	text-indent:-24px;
	padding-left:24px;
}

/* //related ------------------------------------------------------------ */


/* faq ------------------------------------------------------------ */

.faq dt{
	margin:50px 0 30px;
	font-size:16px;
	color:#000;
	font-weight:bold;
	text-indent:-34px;padding-left:34px;
}

/* //faq ------------------------------------------------------------ */

/* slideshare ------------------------------------------------------------ */

.iframeSlide{
	margin-top:20px;
	width:100%;
	height:450px;
}

/* //slideshare ------------------------------------------------------------ */



/* youtube ------------------------------------------------------------ */


.youtubeFrame {
	width:420px;
	height:266px;
	margin:40px auto;
}
.youtubeFrame iframe{
	width:420px;
	height:266px;
}


/* //youtube ------------------------------------------------------------ */


/* 共通フッタ（お問い合わせボックス） ------------------------------------------------------------ */
.contactBox{
	margin-top:80px;
	_width:800px;
}
.contactBox .infoBox{
	border:solid 3px #e6e6e6;
	margin-bottom:40px;
	padding:20px 20px 0;
}
.contactBox .infoBox dl{
	display:table;
}
.contactBox .infoBox dt,
.contactBox .infoBox dd{
	display:table-cell;
	/display:inline;
	/zoom:1;
	padding-bottom:20px;
}
.contactBox .infoBox dt{
	padding-right:20px;
	white-space:nowrap;
}
.contactBox .infoBox dd{
	text-indent:-1em;
	padding-left:1em;
}
.contactBox .title{
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.contactBox .conductor{
	padding:0 244px 0 0;
    position:relative;
	_width:556px;
}
.contactBox .conductorLink{
	margin:0;
	padding:0;
	position:absolute;
	top:50%;
	right:0;
	margin-top:-26px;
}
.contactBox .wysiwygArea{
	margin-bottom:20px;
}

/* //共通フッタ（お問い合わせボックス） ------------------------------------------------------------ */


/* 注意喚起ボックス --------------------------------------------------- */

.attBox {
	background-color: #FFE8E8;
	padding: 5px 10px;
	text-align: center;
	margin-bottom: 20px;
	color: #0051a4;
}

/* //注意喚起ボックス ------------------------------------------------------------ */


/* WYSIWYG --------------------------------------------------- */
.wysiwygArea{
	word-break:break-all;
	word-wrap: break-word;
/*	margin-bottom:80px;*/
}
.wysiwygArea h2{
	margin:80px 0 40px;padding-top:20px;
	background:url(../imgs/common/module/h2_bar.gif) no-repeat;
	font-size:18px;
	color:#000;
}
.wysiwygArea h3{
	margin:50px 0 30px;
	padding:3px 0 3px 13px;
	font-size:16px;
	color:#000;
	border-left:solid 3px #0051a4;
	overflow:hidden;
}
.wysiwygArea h4{
	margin:40px 0 20px;
	padding:3px 0 3px 13px;
	font-size:14px;
	color:#000;
	border-left:solid 3px #b3b3b3;
	overflow:hidden;
}

.wysiwygArea table{
	margin-top:20px;
	width:auto !important;
	boder-collapse:collapse;
	border:solid 1px #d9d9d9;
}
.wysiwygArea table th,
.wysiwygArea table td{
	border:solid 1px #d9d9d9;
	padding:20px 15px;
	vertical-align:top;
	text-align:left;
	word-break:normal;
	word-wrap:normal;
}
.wysiwygArea table thead th{
	border-top:solid 2px #0051a4;
	background-color:#e6e6e6;
	color:#000;
}
.wysiwygArea table tbody th{
	background-color:#f7f7f7;
}

.wysiwygArea a[target^='_blank']::after{
	content:url(../imgs/common/module/ico_blank.png);
	vertical-align: middle;
	margin-left:3px;padding-right:2px;
}
.wysiwygArea a.NoIcon[target^='_blank']::after {
	content:'';
}

.wysiwygArea ul{
	list-style: disc;
	margin-top:20px;
}
.wysiwygArea ul li{
	list-style: disc;
	margin:10px 0 0 2em;
}

.wysiwygArea ol{
	list-style: decimal;
	margin-top:20px;
}
.wysiwygArea ol li{
	list-style: decimal;
	margin:10px 0 0 2em;
}
/* //WYSIWYG ------------------------------------------------------------ */

.pageTop2 {
	clear: both;
	width: 100%;
	margin-bottom: 30px;
	padding-top: 8px;
	border-top:1px dotted #ccc;
	text-align: right;
}




