@charset "shift_jis";
/* CSS Document */

body {
	height:100%;
	margin:0;
	padding:0;
	background:#FFF !important;
	background-image:none !important;
	/*border-top:3px solid #000;*/
	letter-spacing:1px;
	line-height:130%;
	color:#333;
	font-size: 14px;
	/*font-family:  "Lucida Grande", sans-serif;*/
	zoom: 60%;
}
#contentsFrame {
	width:100%;
}
/*
#contentsFrame {
	width:760px;
	margin:0px auto;
	background:#FFF !important;
}



#servicePageTitle2 h3, #servicePageTitle h3, #irContents h3, #pageTitle h3 #pageTitle div {
	text-indent:0.5em !important;
	border-bottom:1px solid #CCC;
	height:30px;
	background:#FFF !important;
	margin:0px 0px 0px 5px !important;
}
#servicePageTitle {
	height:50px;
	border-left:4px solid #36C;
	margin:0px 0px 30px !important;
	padding:0;
	float:left;
	width:100%;
}
#bottomCopy {
	display: none;
}

#pageTitle {
	height:50px;
	border-left:4px solid #36C;
	margin:0px !important;
	padding:0;
}

#mapLeft {
	float:none !important;
}
#mapRight {
	float:none !important;
}
*/

#lowerContents2 #contentsMenu, #GLOBALNAV.lowerLayer {
	display:none;
}

#lowerLayer #lowerContents_ns, #lowerContents {
	padding:0;
}
