@charset "utf-8";
/* CSS Document */

/*トップページのみログインエリア*/
#login {
	position:fixed;
	_position:absolute;
	top:0;
	left:0;
	z-index:5;
	width:100%;
	box-shadow:0 3px 3px rgba(0,0,0,0.2);
}

#loginContents {
	overflow:hidden;
	position:relative;
	background-color:#000;
	color:#AAA;
	height:35px;
}

@media only screen and (orientation : portrait) {
	#loginContents {
		display:none;
	}
}



.topbelt_r {
	display:block;
	height:35px;
}

.topbelt_r li {
	float:right;
	display:block;
	height:35px;
	margin-left:20px;
}

.topbelt_r li a {
	text-indent:-100%;
	font-size:1px;
	overflow:hidden;
	display:block;
	height:35px;
	background-size:160px 280px;
	background-repeat:no-repeat;
	background-image:url(../imgs/top/btns_tophead_2x.gif);
}

/*Myページログインはこちら*/
.caution_login {
	height:38px;
	background-image:url(../imgs/top/anime_login.gif);
	margin-right:-10px;
}

.caution_login img {
	margin:0;
}

.topbelt_r li.btn_navi a {
	background-position:0 -210px;
	width:94px;
}
.topbelt_r li.btn_navi a:hover {
	background-position:0 -245px;
}

.topbelt_r li.btn_login a {
	background-position:0 -35px;
	width:160px;
}
.topbelt_r li.btn_login a:hover {
	background-position:0 -35px;
}

.topbelt_r li.btn_monitor a{
	background-position:0 -140px;
	width:132px;
}

.topbelt_r li.btn_monitor a:hover {
	background-position:0 -175px;
}

.topbelt_r li.btn_global a {
	background-position:0 -70px;
	width:75px;
}
.topbelt_r li.btn_global a:hover {
	background-position:0 -105px;
}


html.oldIE .topbelt_r li a {
	background-image:url(../imgs/top/btns_tophead.gif);
	background-size:160px 280px;
}




/*ナビゲーション*/

#ribonedge_top {
	position:absolute;
	left:230px;
	/*top:133px;*/
	top:139px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}

#ribonedge_company {
	position:absolute;
	left:230px;
	top:286px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}

#ribonedge_seminar {
	position:absolute;
	left:230px;
	/*top:337px;*/
	top:343px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}

#ribonedge_company2 {
	position:absolute;
	left:230px;
	/*top:387px;*/
	top:394px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}

#ribonedge_service {
	position:absolute;
	left:230px;
	/*top:184px;*/
	top:190px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}

#ribonedge_r_data {
	position:absolute;
	left:230px;
	/*top:235px;*/
	top:241px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}

#ribonedge_r_data2 {
	position:absolute;
	left:230px;
	/*top:286px;*/
	top:292px;
	z-index:3;
	/*-webkit-filter: drop-shadow(2px 2px 2px #AAA);*/
}


/*forIE6*/
#GLOBALNAV .gnavMain li#nav1 a:hover { _background-position:-460px 0;}




/*コンテンツ*/
.item, .item2, .item3 {
	margin: 7px;
	float: left;
	background:#fff;
	background-repeat:no-repeat;
}

.item a, .item2, .item3 a {
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* Firefox用*/
	-ms-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* IE用 */
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4); /* webkit用 */
	transition:1s;
	-webkit-transition:1s;
}

.item2 {
	transition:none;
	-webkit-transition:none;
}

.item a:hover, .item3 a:hover {
	transition:0.1s;
	-webkit-transition:0.1s;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.8); /* Firefox用*/
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.8); /* IE用 */
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,1); /* webkit用 */
}


.item2 a, .item2 a:hover {
	box-shadow:none;
	transition:none;
}


.item {
	width: 220px;
	height:220px;
	font-size:0;
}

.item a.pictpanel {
	display:block;
	height:220px;
	background-size:220px 220px;
	text-indent:-500%;
	white-space:nowrap;
	overflow:hidden;
}

.item2 {
	width:454px;
	/*height: 220px;*/
	height:454px;
}


.item3 {
	width: 454px;
	height:454px;
	/*height: 220px;*/
}

.item2 a.pictpanel {
	height:454px;
}
.item3 a.pictpanel {
	display:block;
	height:454px;
	/*height: 220px;*/
	background-size:454px 454px;
	text-indent:-300%;
	white-space:nowrap;
	overflow:hidden;
	background-repeat:no-repeat;
}

@media screen and (min-width:1436px) {
	.item3#questantMovie, .item3#questantMovie a iframe, .item3#questantMovie a video {
		text-indent:0;
		width:688px;
		background-color:#000;
	}
}
.item3#questantMovie a {
	text-indent:0;
	/*background-color:#e4555e;*/
}
.item3#questantMovie a video, .item3#questantMovie a iframe {
	margin:0;
	width:100%;
	height:454px;
}
@media screen and (max-width: 1435px) {
	.item3#questantMovie, .item3#questantMovie a {
		width:454px;
		height:220px;
		background-color:#000;
	}
	.item3#questantMovie a iframe, .item3#questantMovie a video, .item3#questantMovie a object {
		height:255px;
		margin:-17px 0 0;
	}
}

.oldIE .item3#questantMovie, .oldIE .item3#questantMovie a {
	width:454px;
	height:220px;
}
.oldIE .item3#questantMovie object {
	height:255px;
	margin:-17px 0 0;
}



/*パネル*/
.item3#access a {
	background-image:url(../imgs/top/panel/accessmill.gif);
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	background-size:392px 208px;
}

.item3#globalaccessmill a {
	background-image:url(../imgs/top/panel/globalaccessmill.gif);
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	background-size:454px 454px;
}

.item3#changed_ci a {
	background-image:url(../imgs/top/panel/changed_ci.jpg);
	background-color:#fff;
	background-position:63px 65px;
	background-repeat:no-repeat;
	background-size:337px 108px;
}

.item3#latest_seminar a {
	background-image:url(../imgs/top/panel/latestseminar.jpg);
	background-size:454px 220px;
}

.item3#makeit21 a {
	background-image:url(../imgs/top/panel/makeit21.jpg);
	background-size:454px 220px;
}

.item3#rdata2x1 a {
	background-image:url(../imgs/top/panel/rdata2x1.jpg);
	background-size:454px 220px;
}

.item3#milltalk a {
	background-image:url(../imgs/top/panel/milltalk20150224.jpg);
	background-size:454px 454px;
}

.item3#milltalk201504 a {
	background-image:url(../imgs/top/panel/milltalk201504.jpg);
	background-size:454px 454px;
}

.item3#mhs a {
	background-image:url(../imgs/top/panel/mhs.jpg);
	background-size:100%;
}

.item#seminar201504 a {
	background-image:url(../imgs/top/panel/seminar201504.jpg);
}

.item#mhs_s a {
	background-image:url(../imgs/top/panel/mhs_s.jpg);
}

.item#shukatsu2015 a {
	background-image:url(../imgs/top/panel/2015shukatsu.jpg);
}

.item#milltalk_min a {
	background-image:url(../imgs/top/panel/milltalk_min.jpg);
}
.item#milltalk_s a {
	background-image:url(../imgs/top/panel/milltalk_s.jpg);
}

.item#ogi a {
	background-image:url(../imgs/top/panel/ogi.jpg);
}

.item#ogitaidan a {
	background-image:url(../imgs/top/panel/ogi_taidan.png);
}

.item#rdata a {
	background-image:url(../imgs/top/panel/rdata.jpg);
	background-color:#0051a4;
}

.item#rdata_2nd a {
	background-image:url(../imgs/top/panel/rdata_mwi.jpg);
	background-color:#fff;
}

.item#weeklyindex a {
	background-image:url(../imgs/top/panel/weeklyindex.gif?20160927);
	background-color:#0051a4;
}

.item#weeklyindex_r a {
	background-image:url(../imgs/top/panel/weeklyindex_report.gif);
	background-color:#0051a4;
}

.item#latest_ir a {
	background-image:url(../imgs/top/panel/ir.jpg);
	background-color:#000;
}

.item#recruit a {
	background-image:url(../imgs/top/panel/recruit2.jpg);
	background-color:#000;
}

.item#recruit2 a {
	background-image:url(../imgs/top/panel/recruit3.jpg);
	background-color:#000;
}

.item#research a {
	background-image:url(../imgs/top/panel/research.jpg);
	background-color:#000;
}

.item#millmaga a {
	background-image:url(../imgs/top/panel/millmaga2.jpg);
	background-color:#000;
}

.item#qcweb a {
	background-image:url(../imgs/top/panel/qcweb.gif);
	background-color:#000;
}

.item#kawamura a {
	background-image:url(../imgs/top/panel/kawamura3.jpg);
	background-color:#000;
}

.item#misecolle a {
	background-image:url(../imgs/top/panel/misecolle.jpg);
}

.item#seminar a {
	background-image:url(../imgs/top/panel/seminar1405.jpg);
}

.item#globalmill a {
	background-image:url(../imgs/top/panel/global.gif);
}

.item#m3 a {
	background-image:url(../imgs/top/panel/m3.gif);
}

.item#group a {
	background-image:url(../imgs/top/panel/group.gif);
}

.item#method a {
	background-image:url(../imgs/top/panel/analyze.gif);
}

.item#sportsmk a {
	background-image:url(../imgs/top/panel/sportsmk.jpg);
}

.item#sportsmk2015 a {
	background-image:url(../imgs/top/panel/sportsmk_2015.jpg);
}

.item#sportsmk2016 a {
	background-image:url(../imgs/top/panel/sportsmk_2016.jpg);
}

.item#halloween a {
	background-image:url(../imgs/top/panel/halloween.jpg);
}
.item#qt150130 a {
	background-image:url(../imgs/top/panel/questant150130.jpg);
}

.item#anniversary a {
	background-image:url(../imgs/top/panel/15anniversary.png);
	background-size:100%;
}

.item#seminar150121 a {
	background-image:url(../imgs/top/panel/seminar150121.jpg);
}

.item#seminar150227 a {
	background-image:url(../imgs/top/panel/seminar150227.jpg);
}

.item#seminar201508 a {
	background-image:url(../imgs/top/panel/seminar201508.jpg);
}

.item#seminar20150911 a {
	background-image:url(../imgs/top/panel/seminar20150911.jpg);
}

.item#seminar20151009 a {
	background-image:url(../imgs/top/panel/seminar20151009.jpg);
}

.item#seminar20151020 a {
	background-image:url(../imgs/top/panel/seminar20151020.jpg);
}

.item#seminar20151113 a {
	background-image:url(../imgs/top/panel/seminar20151113.jpg);
}

.item#seminar20151117 a {
	background-image:url(../imgs/top/panel/seminar20151117.jpg);
}

.item#stress a {
	background-image:url(../imgs/top/panel/stress.jpg);
}

.item#mwi20150213 a {
	background-image:url(../imgs/top/panel/20150213mwi.jpg);
}

.item#anniversary_s a {
	background-image:url(../imgs/top/panel/15anniversary_s.jpg);
}

.item#newyear a {
	background-image:url(../imgs/top/panel/newyear.jpg);
}

.item#globalvisite a {
	background-image:url(../imgs/top/panel/globalvisite.jpg);
}

.item#valentine a {
	background-image:url(../imgs/top/panel/valentine.jpg);
}

.item#o2o a {
	background-image:url(../imgs/top/panel/o2o.jpg);
}

.item#questant a {
	background-image:url(../imgs/top/panel/questant_half2.jpg);
	background-size:100%;
}

.item#questantLarge a {
	background-image:url(../imgs/top/panel/questant201412.gif);
	background-size:100%;
}

.item#fresh2015 a {
	background-image:url(../imgs/top/panel/20150529freshman.jpg);
}

.item#taidan a {
	background-image:url(../imgs/top/panel/taidan.jpg);
}

.item#seminar a {
	background-image:url(../imgs/top/panel/seminar.jpg);
}

.item#seminar1 a {
	background-image:url(../imgs/top/panel/crm.png);
}

.item#seminar_global a {
	background-image:url(../imgs/top/panel/seminar1402.jpg);
}

.item#kyodo_seminar a {
	background-image:url(../imgs/top/panel/seminar1403.jpg);
}

.item#seminar1404 a {
	background-image:url(../imgs/top/panel/seminar1404.jpg);
}

.item#seminar_marketing a {
	background-image:url(../imgs/top/panel/seminar_marketing.jpg);
}

.item#bdb a {
	background-image:url(../imgs/top/panel/bdb2015.gif);
}
.item#mmi a {
	background-image: url(../imgs/top/panel/mmi.jpg);
}

.item#oi a {
	background-image: url(../imgs/top/panel/oi.jpg);
}

.item#matome a {
	background-image: url(../imgs/top/panel/matome.gif);
}

.item#seminar2x2 a {
	background-image: url(../imgs/top/panel/seminar1406x2.jpg);
}

.item#disaster a {
	background-image: url(../imgs/top/panel/rdata_disaster.jpg);
}

.item#disaster_big a {
	background-image: url(../imgs/top/panel/rdata_disaster_big.jpg);
}

.item#intern a {
	background-image: url(../imgs/top/panel/si.jpg);
}

.item#mnri a {
	background-image: url(../imgs/top/panel/mnri.jpg);
}

.item#accessmill_small a {
	background-image:url(../imgs/top/panel/accessmill_small.gif);
}

.item#milltalk201508 a {
	background-image:url(../imgs/top/panel/milltalk201508.jpg);
}

.item#milltalk201510 a {
	background-image:url(../imgs/top/panel/milltalk_201510.gif);
}

.item#milltalk201510 a {
	background-image:url(../imgs/top/panel/milltalk_201510.gif);
}

.item#questant201510 a {
	background-image:url(../imgs/top/panel/questannt_201510.jpg);
}

.item#stress2015 a {
	background-image:url(../imgs/top/panel/stress_2015.jpg);
}

.item#seminar20151211 a {
	background-image:url(../imgs/top/panel/seminar20151211.jpg);
}

.item#newyear2015 a {
	background-image:url(../imgs/top/panel/newyear_2015.jpg);
}

.item#shinseijin2016 a {
	background-image:url(../imgs/top/panel/shinseijin_2016.jpg);
}

.item#globalaccessmill_small a {
	background-image:url(../imgs/top/panel/globalaccessmill_small.gif);
}

.item#novelty a {
    background-image: url(../imgs/top/panel/novelty.jpg);
}

.item#seminar20160311 a {
	background-image:url(../imgs/top/panel/seminar20160311.jpg);
}

.item#seminar20160316 a {
	background-image:url(../imgs/top/panel/20160316seminar.jpg);
}

.item#honote a {
	background-image:url(../imgs/top/panel/honote.png);
}

.item#seminar20160524 a {
	background-image:url(../imgs/top/panel/20160524seminar.jpg);
}

.item#seminar20160602 a {
	background-image:url(../imgs/top/panel/20160602seminar.jpg);
}

.item#kumamoto a {
	background-image:url(../imgs/top/panel/kumamoto.jpg);
}

.item#kumamoto_s a {
	background-image:url(../imgs/top/panel/kumamoto_s.gif);
}

.item#honote20160517 a {
	background-image:url(../imgs/top/panel/20160517_honote.jpg);
}

.item#whitepaper20160520 a {
	background-image:url(../imgs/top/panel/20160520_hp_samll.jpg);
}

.item#honote20160523 a {
	background-image:url(../imgs/top/panel/20160523_honote.jpg);
}

.item#honote20160525 a {
	background-image:url(../imgs/top/panel/20160525_honote.jpg);
}

.item#honote20160531 a {
	background-image:url(../imgs/top/panel/20160531_honote.jpg);
}

.item#honote220 a {
	background-image:url(../imgs/top/panel/honote220.gif);
}

.item#freshman2016 a {
	background-image:url(../imgs/top/panel/20150603freshman.jpg);
}

.item#seminar20160603 a {
	background-image:url(../imgs/top/panel/20160603seminar.gif);
}

.item#honote_facebook a {
	background-image:url(../imgs/top/panel/honote_facebook.jpg);
}

.item#honote20160606 a {
	background-image:url(../imgs/top/panel/20160606_honote.jpg);
}

.item#honote20160615 a {
	background-image:url(../imgs/top/panel/20160615_honote.jpg);
}

.item#honote20160621 a {
	background-image:url(../imgs/top/panel/20160621_honote.jpg);
}

.item#seminar20160623 a {
	background-image:url(../imgs/top/panel/20160623seminar.gif);
}

.item#honote20160629 a {
	background-image:url(../imgs/top/panel/20160629_honote.jpg);
}

.item#honote20160705 a {
	background-image:url(../imgs/top/panel/20160705_honote.jpg);
}

.item#seminar20160706 a {
	background-image:url(../imgs/top/panel/20160706_seminar.gif);
}

.item#honote20160712 a {
	background-image:url(../imgs/top/panel/20160712_honote.jpg);
}

.item#honote20160719 a {
	background-image:url(../imgs/top/panel/20160719_honote.jpg);
}

.item#seminar20160725 a {
	background-image:url(../imgs/top/panel/20160725_seminar.gif);
}

.item#honote20160726 a {
	background-image:url(../imgs/top/panel/20160726_honote.jpg);
}

.item#honote20160802 a {
	background-image:url(../imgs/top/panel/20160801_honote.jpg);
}

.item#webpush a {
	background-image:url(../imgs/top/panel/webpush.png);
}

.item#seminar20160808 a {
	background-image:url(../imgs/top/panel/20160808_seminar.gif);
}

.item#marketech a {
	background-image:url(../imgs/top/panel/marketech.png);
}

.item#honote20160816 a {
	background-image:url(../imgs/top/panel/20160816_honote.jpg);
}

.item#honote20160823 a {
	background-image:url(../imgs/top/panel/20160823_honote.jpg);
}

.item#seminar20160909 a {
	background-image:url(../imgs/top/panel/20160909_seminar.gif);
}

.item#honote20160830 a {
	background-image:url(../imgs/top/panel/20160830_honote.jpg);
}

.item#honote20160906 a {
	background-image:url(../imgs/top/panel/20160906_honote.jpg);
}

.item#seminar20160914 a {
	background-image:url(../imgs/top/panel/20160914_seminar.gif);
}

.item#honote20160913 a {
	background-image:url(../imgs/top/panel/20160913_honote.jpg);
}

.item#seminar20160927 a {
	background-image:url(../imgs/top/panel/20160927_seminar.gif);
}

.item#honote20160920 a {
	background-image:url(../imgs/top/panel/20160920_honote.jpg);
}

.item#honote20160927 a {
	background-image:url(../imgs/top/panel/20160927_honote.jpg);
}

.item#seminar20161012 a {
	background-image:url(../imgs/top/panel/20161012_seminar.gif);
}

.item#seminar20161012 a {
	background-image:url(../imgs/top/panel/20161012_seminar.gif);
}

.item#honote20161004 a {
	background-image:url(../imgs/top/panel/20161004_honote.jpg);
}

.item#honote20161011 a {
	background-image:url(../imgs/top/panel/20161011_honote.jpg);
}

.item#seminar20161025 a {
	background-image:url(../imgs/top/panel/20161025_seminar.gif);
}

.item#halloween2016 a {
	background-image:url(../imgs/top/panel/halloween2016.gif);
}

.item#honote20161018 a {
	background-image:url(../imgs/top/panel/20161018_honote.jpg);
}

.item#honote20161025 a {
	background-image:url(../imgs/top/panel/20161025_honote.jpg);
}

.item#honote20161101 a {
	background-image:url(../imgs/top/panel/20161101_honote.jpg);
}

.item#seminar20161101 a {
	background-image:url(../imgs/top/panel/20161101_seminar_02.gif);
}

.item#honote20161108 a {
	background-image:url(../imgs/top/panel/20161108_honote.jpg);
}

.item#honote20161115 a {
	background-image:url(../imgs/top/panel/20161115_honote.jpg);
}

.item#seminar20161207 a {
	background-image:url(../imgs/top/panel/20161207_seminar.gif);
}

.item#honote20161129 a {
	background-image:url(../imgs/top/panel/20161129_honote.jpg);
}

.item#seminar20170119 a {
	background-image:url(../imgs/top/panel/20170119_seminar.gif);
}

.item#honote20161206 a {
	background-image:url(../imgs/top/panel/20161206_honote.jpg);
}

.item#honote20161213 a {
	background-image:url(../imgs/top/panel/20161213_honote.jpg);
}

.item#mnri20161215 a {
	background-image: url(../imgs/top/panel/20161215_mnri.jpg);
}

/* /パネル */





/*パネル　スマホのみ*/
html .item#fbpage {
	display:none !important;
	height:1px !important;
}

.item#car a {
	background-image:url(../imgs/top/panel/rdata_20140312.jpg);
}



@media only screen and (orientation : portrait) {
	#login {
		z-index:3001;
		display:none;
	}
	#ribonedge_top, #ribonedge_company, #ribonedge_company2, #ribonedge_seminar, #ribonedge_service, #ribonedge_r_data, #ribonedge_r_data2 {
		display:none;
		visibility:hidden;
	}

}

/*自主調査一覧Google検索*/
.gsib_a {
	padding: 0px 6px 0 !important;
}
.gsc-input-box {
	height:26px !important;
}
.cse .gsc-control-cse, .gsc-control-cse {
	padding:0 !important;
	margin:30px 0;
}
input.gsc-search-button-v2 {
	margin-top:1px !important;
}
#box {
	margin:20px 0px 0px;
}

#googleSearch {
	text-align:center;
	margin:30px 0 40px;
	border:1px solid #CCC;
	padding:20px 0px;
}
