@font-face {
    font-family: "yekan";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/YekanWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/YekanWeb-Regular.woff") format("woff"),
    url("../fonts/YekanWeb-Regular.ttf") format("truetype"),
    url("../fonts/YekanWeb-Regular.svg#yekanWeb-Regular") format("svg");
}

@font-face {
    font-family: "YekanNumbers";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/YekanNumbers-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/YekanNumbers-Regular.woff") format("woff"),
    url("../fonts/YekanNumbers-Regular.ttf") format("truetype"),
    url("../fonts/YekanNumbers-Regular.svg#YekanNumbers-Regular") format("svg");
}

body {
    font: normal 13px 'yekan', 'YekanNumbers';
    padding-top: 65px;
}

.container-fluid {
    max-width: 1379px !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

a, p {
    color: #595959;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 1215px;
}

#top-navbar {
    background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%) !important;
    background-repeat: repeat-x !important;
    border-color: #ccc !important;
    text-shadow: 0 1px 0 #fff !important;
    margin: 0 !important;
}

#top-navbar li a {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

#top-navbar #search-btn {
    margin-right: 10px !important;
    margin-top: 5px;
}

.top-menu ul {
    display: none;
}

#top-navbar {
    min-height: 60px;
    background: transparent;
    margin: 20px;
}

#top-navbar.navbar {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

#services-bar {
    min-height: 80px;
    background: #525252;
    color: #fff;
}

ul#services-list {
    text-align: center;
    background: #525252;
    margin: 0;
}

ul#services-list li a {
    display: block;
    width: 180px;
    height: 80px;
}

ul#services-list li a:hover {
    opacity: 0.5;
}

ul#services-list .service-icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url('../img/top_buttons.png');
}

ul#services-list .service-content {
    color: #FFF;
    font: normal 13px 'yekan', 'YekanNumbers';
    text-align: center;
}

#services-list #si1 {
    background-position: 0 0;
}

#services-list #si2 {
    background-position: -50px 0;
}

#services-list #si3 {
    background-position: -100px 0;
}

#services-list #si4 {
    background-position: -150px 0;
}

#services-list #si5 {
    background-position: -200px 0;
}

#post-thumb-list {
    margin: 0;
    text-align: center;
    overflow: hidden;
    line-height: 1px;
}

#post-thumb-list li {
    padding: 0 !important;
    margin: 1px 0;
    line-height: 221px;
    border: 1px solid #000;
    position: relative;
}

#post-thumb-list li img {
    position: absolute;
    left: 0;
    top: 0;
}

#post-thumb-list li a {
    display: block;
    width: 215px;
    height: 221px;
    position: relative;
    overflow: hidden;
}

#post-thumb-list li a .post-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    padding: 0 7px;
    color: #d0d0d0;
    font: normal 13px 'yekan', 'YekanNumbers';
    text-align: center;
    vertical-align: middle;
    background: transparent url('../img/news_box_cover.png') repeat;
}

#post-thumb-list li:hover a .post-title {
    color: #fff;
    background: #525252;
    animation-duration: 1s;
    animation-name: fadeInDown;
}

#post-thumb-list li:hover img {
    opacity: 0.8;
}

#content-list .next, #content-list .previous {
    display: none;
}

#news-list {
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

#news-list .main-box {
    display: inline-block;
    width: 274px;
    margin-left: -4px;

}

#news-list .main-box:hover .main-box-inner {
    border: 1px solid #056EB2;
    transition-duration: 0.3s;
}

#news-list .main-box.last-item {
    width: 275px;
}

#news-list .main-box-inner {
    display: inline-block;
    width: 250px;
    height: 350px;
    border: 1px solid #cecece;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#news-list .main-box-inner .news-text {
    padding: 5px;
    font: normal 13px/22px 'yekan', 'YekanNumbers';
    text-align: justify;
    height: 155px;
    overflow: hidden;
    color: #454545;
}

#news-list .main-box-inner h2 {
    /*height:30px;*/
    padding: 2px 5px;
    margin: 0;
    font: 700 14px/30px 'yekan', 'YekanNumbers' !important;
    direction: rtl;
    text-align: justify;
    color: #565656;
}

#news-list .main-box-inner .more-btn {
    display: block;
    text-align: left;
    padding-left: 10px;
    color: #59a03a;
}

#footer-container {
    text-align: center;
}

.footer-box {
    border: 1px solid transparent;
}

.footer-box:hover {
    border: 1px solid #056EB2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.footer-box .footer-title {
    text-align: right;
    min-height: 40px;
    vertical-align: middle;
}

.footer-box .footer-title h3 {
    font-size: 15px;
    text-align: center;
    line-height: 23px;
}

.footer-body ul {
    margin: 0;
    padding: 0;
}

.footer-box ul li {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-box ul li a {
    font-size: 12px;
    line-height: 23px;
    display: block;
}

.footer-box ul li a:hover {
    color: #0A246A;
    padding-right: 10px;
    transition-duration: 0.3s;
}

div#content {
    padding: 20px;
}

div#content #content-title {
    font-size: 19px;
}

div#content #content-text *:not('i') {
    font-size: 13px !important;
    font-family: 'yekan', 'YekanNumbers' !important;
}

div#content #content-text b,
div#content #content-text strong {
    font-weight: bold !important;
    font-size: 1.1em !important
}

div#content #content-text a {
    color: #0A246A;
    font-weight: 600 !important;
}

div#content #content-text table {
    width: 100%;
}

div#content #content-text tr td {
    border: 1px solid #000;
    padding: 2px 10px;
}

div#content #content-text .collapsible > p {
    padding-right: 5px;
}

div#content #content-text #archive-link {
    font-size: 15px;
    font-weight: normal;
    display: block;
    text-align: left;
}

/*********** Collapsible ***********/
div.collapsible {
    background: #E1E6E9;
    margin: 5px 0;
    padding: 0 30px 0 10px;
    font: 11px/30px Tahoma;
    cursor: pointer;
    clear: both;
}

div.collapsible:hover {
    background-color: #CAD5D9;
}

div.collapse-close {
    background-image: url('../img/plus.gif');
    background-repeat: no-repeat;
    background-position: 98% center;
}

div.collapse-open {
    background-image: url('../img/minus.gif');
    background-repeat: no-repeat;
    background-position: 98% center;
}

/*********** Collapsible/End ***********/

/* LINKS PAGE */
div.link-box {
    border: 1px solid #CAD5D9;
    padding: 5px;
    margin: 5px;
    display: block;
    width: 120px;
    height: 140px;
    border-radius: 4px;
    float: right;
}

div.link-box img {
    cursor: inherit;
    border-radius: 4px;
}

div.link-box img:hover {
    opacity: 0.6;
    cursor: inherit;
    border: none;
}

div.link-box p {
    text-align: center;
}

#psp-user-menu ul {
    list-style-type: none;
    margin: 0;
}

#psp-user-menu ul li {
    margin-top: 10px;
}

#psp-user-menu ul li.active a {
    background-image: linear-gradient(to bottom, #337ab7 0px, #265a88 100%);
    background-repeat: repeat-x;
    background-color: #245580;
    color: #FFF;
    text-shadow: none;
}

#pspDocLogList li {
    text-align: justify;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #EFEFEF;
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #3072AB;
}

#pspDocLogList li:hover {
    background: #3072AB;
    color: #FFF;
    transition-duration: 0.3s;
}

.doc-category-btn .badge {
    position: relative;
    top:-18px;
}