html{width:100%;height:101%;min-height:101%;background:#f1f1f1}
body,html{float:left;width:100%;}
body{padding:0;margin:0;font-size:9pt;color:#000;font-family:"宋体","SimSun","Arial Narrow";}
img{border:none;display:block}
a{color:#000;text-decoration:none}
li,ul{ margin:0; padding:0; list-style:none;}
#top_head{float:left;clear:both;width:100%;min-width:1200px;background:#fbfbfb;border-bottom:1px solid #ccc;border-top:1px solid #eee;height:50px;font-size:9pt;line-height:50px;color:#fff; position:relative;}
#top_head,nav{margin:0;padding:0}
nav{float:right}
#top_head a{float:left;color:#222;padding:0 3px;margin:0 7px}
#top_head a:hover{color:#c00}
.top_nav{float:none;width:1200px;margin:0 auto}
.path_nav{ display:none;}
.path_nav #logo{background:url(/2016/navlogo.gif) no-repeat 4px 17px;padding:0 0 0 25px}
.path_nav span{float:left;text-decoration:none;padding:0 3px;margin:0 7px;color:#666}


.left_list{ float:left;position:relative; width:163px;}
.left_list:before{ position:fixed; top:0;z-index:10; content:''; display:block; width:161px; height:51px; border:1px solid #e8e8e8;border-top:0px;background: url(/sy_2013/logo.png) no-repeat center #fff;}
.ind_hq_list{top:52px;bottom:135px; position:fixed;z-index: 99; width:161px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;font-family: "Microsoft YaHei","SimSun","Arial Narrow";}
.ind_hq_list a{float:left; position:relative;width:141px;padding:19px 8px;border-left:4px solid #fff; border-bottom:1px solid #f1f1f1; background:url(/2016/arrow.png) no-repeat right center #fff;}
.ind_hq_list a:hover{background-color:#ffc;border-left:4px solid #fc9;}
.ind_hq_list a h2{ display:none;}
.ind_hq_list a h3,.ind_hq_list a strong,.ind_hq_list a em{display:inline-block; width:53%; margin:0;font-size: 12px;line-height: 18px; font-style:normal;}
.ind_hq_list a.up em{ width:47%; color:#ff0a0a;}
.ind_hq_list a.down em{ width:47%; color:#009632;}

.ind_stock_dr{ background-color:#fff;position:fixed;z-index: 100; bottom:0;width:161px;border:1px solid #e8e8e8; border-bottom:0; color:#999;padding-top:12px;}
.ind_stock_dr:before{position:fixed; bottom:135px;content:''; display:block; width:161px; height:53px;background: url(/2016/stock_dr_bg.png) repeat-x}
.ind_stock_dr p{ padding:12px; padding-top:0; margin:0;}
.ind_stock_dr input{border:1px solid #ddd; background-color:#f7f7f7;width:100%;height:26px; padding:0 8px;}
.ind_stock_dr input[type="text"]{ width:119px;}
.ind_stock_dr input[type="submit"]{ background-color:#298fc6; border:0; color:#fff; font-size:14px;height:30px;}

#wrap {float: none;width: 1200px;margin: 0 auto;}

.news_list{ position: relative;float:left; margin-left:163px; background-color:#fff; width:646px;border:1px solid #e8e8e8;border-top:0px;border-left:0px;border-bottom:0px; padding:20px; padding-top:0;}
.news_list a{float:left; display:block;width:100%;color:#222;margin-top:20px;padding:0;height:122px;border-bottom:1px solid #eee}
.news_list a img{float:left;width:147px;height:102px}
.news_list a:hover{color:#c00}
.news_list h2{float:left;width:479px;height:30px; overflow:hidden;margin:8px 0 8px 20px;font-size:22px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"}
.news_list p{float:left;width:479px;margin:0 0 0 20px;color:#999;font-size:14px;line-height:24px;height:3pc;overflow:hidden}
.news_list a.more_list{float:left;width:100%;height:56px;font-size:16px;line-height:56px;text-align:center;letter-spacing: 5px; border:0;background:#f3f3f3}
.news_list a.toutiao{ width:606px;height:320px; padding:20px}
.news_list a.toutiao h2{width:100%; height:30px; overflow:hidden; margin:235px 0 12px 0px; font-size:24px; color:#fff;text-shadow:0 0 2px #000;}
.news_list a.toutiao p{ width:100%; height:48px; overflow:hidden; color:#aaa; margin:0;;text-shadow:1px 1px 0px #000;}

.news_list ul{float: left; width:646px;background-color:#f3f3f3; margin:20px 0 0 0; padding:0;}
.news_list li{ float:left; position:relative; list-style:none;border-top:4px solid #f3f3f3; font-size:14px; }
.news_list li:before{content:''; display:block; position:absolute; width:1px; background-color:#e8e8e8; height:25px; left:-1px; top:10px;}
.news_list li.on{ background-color:#fff;width: 84px; border-top:4px solid #298fc6; border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.news_list li.on a{ border-bottom:1px solid #fff; padding:15px 28px;}
.news_list ul a{ width:auto; height:15px; margin-top:0; padding:15px 24px;}


.right_list{float:right;width:330px; padding:20px; padding-right:0; overflow:hidden;}
.hq{float:left;width:302px;height:354px;background:url(/2016/hqbg.png) no-repeat #298fc6;padding:6px 14px 0 14px;}
.hq p{float:left;text-indent:24px;width:302px;color:#FFF;line-height:24px;padding:8px 0;margin:0;}
.hqpic{float:left;width:302px;margin:3px 0;}
.hqpic b{float:left;width:173px;margin:0px 13px 0px 13px;height:36px;line-height:36px;font-size:18px;font-family:Arial,Helvetica,sans-serif;color:#399}
.hqpic em{font-style:normal;font-size:9px;float:right;font-weight:normal;font-family:Verdana,Geneva,sans-serif}
.hqpic .hq_data{float:left;width:198px;margin: 8px 2px;}
.hqpic .hq_data a{float:left}
.hq a{color:#fff}
.hqpic img{margin:0 14px 14px 14px;float:left;width:168px;height:68px;border:1px solid #91bde1;display:inline}
.hqpic ul{float:left;width:81px;border-left:1px dashed #CCC;height:130px;}
.hqpic ul li{float:left;width:66px;text-align:center;margin:10px 0 0 15px;display:inline}
.hqpic ul li a{display:block;padding:8px 4px;background:#298fc6;color:#a9d2e8}
.hqpic ul li a:hover,.hqpic ul li a.on{background:#c60000;color:#f4cccc}
.hq span{float:left;width:302px;height:21px;line-height:21px;padding-bottom:10px;font-weight:bold;text-align:right;color:#f90}
.hq span a{color:#FF0}
.hq span a:hover{color:#fff}
.hq span.p_gcw{ display:none;}


.gcw_m_top_ad{ position:absolute; top:20px;border-bottom: 1px solid #fff;}
.gcw_m_top_ad a{ margin-top:0; border:0; height:54px; overflow:hidden;}
.gcw_m_top_ad a img{width:646px; height:54px;}

.gcw_r_ad{float:right;width:330px; height:auto;margin:20px 0 0;}
.gcw_r_ad img{width:330px}

.gcw_r_txt_ad a{background: url(/2016/arrow.png) no-repeat right center;padding: 17px 0;float: left;display: block;width: 100%;text-align: center;font-size: 14px;color: #1879b8;}

.gcw_pro{float:right;width:330px; height:220px;background:url(/2016/gcw_pro.gif) no-repeat 0 -1px #fff;margin:0 0 0; font-size:14px; color:#333; text-align:center}
.gcw_pro ul{ float:left;}
.gcw_pro ul li{float:left;display:inline;}
.gcw_pro ul li a{float:right;width:109px;height:110px; overflow:hidden;line-height:168px;}
.gcw_pro ul li a:hover{color:#c00}


.r_new_list{float:right;width:330px}
.r_new_list h2{ margin:20px 0 0 0; width:100%;height:40px; background:#cfe5f0;}
.r_new_list h2 a,.r_new_list h2 a:hover{ display:block; width:110px; height:30px;font-size: 16px; padding:10px 0 0 0; border:0; margin:0; text-align:center; background:#1879b8; color:#fff; position:relative;}
.r_new_list h2 a:before{content:'◆';color:#1879b8; position:absolute;left: 43%;bottom: -7px;}
.r_new_list h2:after{content:'指点今日财经·手握明日动向';font-size:14px;padding-right: 3%;padding-top: 12px; float:right;color: #999; font-weight:normal; color:#0078b2;}

.r_new_list a{float:left;width:310px;background:#fff;margin:8px 0 0;height:62px;padding:10px 10px 10px 6px;border-left:4px solid #fff}
.r_new_list a:hover{background:#ffc;border-left:4px solid #fc9}
.r_new_list img{float:right;width:90px;height:auto}
.r_new_list h3{float:left;width:200px; height:48px; overflow:hidden;margin:6px 0 0 10px;font-size:1pc;line-height:24px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"}
#scroll-fixed{ width:330px;float:left;}
.right_img{float:right;width:330px;margin:8px 0 0;background: #fff;}
.right_img img{margin: 0 auto;}


.sri{float:none;border-bottom:1px dashed #bbb;display:table; width:1200px; margin:0 auto; padding:0; clear:both;}
.sri dl{ margin:0 auto; width:1037px;border-left:163px solid #f1f1f1; padding:20px 0 20px 0;background:#e3e3e3;display:table}
.sri dt{padding:0;float:left;text-align:left;margin:0 0px 20px 20px;width:1017px;line-height:40px;}
.sri dt strong{ font-size:18px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"; font-weight:normal; color:#333;}
.sri dt span{float:right; font-size:12px; padding:0 20px 0 0}
.sri dl dd{float:left;width:216px;padding:0 21px;margin:0;border-right:1px dashed #bbb;}
.sri dl dd strong{float:left;text-align:left;background:url(/v2012_img/01.png) no-repeat;display:inline;height:22px;padding:8px 0 0 80px;width:136px;color:#fff;margin-bottom:10px;font-style:normal;font-weight:bold}
.sri dl dd#t_2 strong{ background-position:0 -30px;}
.sri dl dd#t_3 strong{ background-position:0 -60px;}
.sri dl dd#t_4 strong{ background-position:0 -90px;}
.sri dl dd#t_4{border:none}
.sri dl dd strong a{color:#fff}
.sri dd ul{ float:left;}
.sri dd li{ float:left; width:40%; margin-left:7%; line-height:24px; height:24px; text-align:center;}
.sri dd li a{ padding:4px 15px;}
.sri a:hover{color:#c00}
.sri dl dd p{line-height:24px;padding:0 12px; margin:0;text-indent:0;float:right;width:192px;text-indent:24px}

.hz_link{ float:none;background:#e3e3e3; margin:0 auto; width:1037px;display:table; padding:0;border-left:163px solid #f1f1f1; }
.hz_link dl{ width:738px;padding:0;float:left;margin:0 0px 20px 20px;}
.hz_link dl.hzlx{ width: 207px;padding: 0 0 0 33px ; margin:20px 20px 20px 0;float:right;border-left:1px dashed #bbb}
.hz_link dl.hzlx dt{ margin-bottom:0;}
.hz_link dt{line-height:40px;font-size:18px;font-family:"Microsoft YaHei","SimSun","Arial Narrow"; font-weight:normal; color:#333; margin:0 0 20px 0}
.hz_link dd{line-height: 24px; margin:0;}
.hz_link,.hz_link a{ color:#777; line-height:26px}
.hz_link a:hover{color:#c00}
.hz_link img{ display:inline; margin-right:10px; margin-top:5px;}
.hz_link .hzhp img{ height:30px;float:left;display:inline; margin-right:19px;}
.hz_link .hzhp{float:left;height:auto;width:736px;padding:20px 0 20px 0;border-bottom:1px dashed #bbb}
.hz_link .yqlj{float:left;height:auto;padding:0 0 0 0;width:735px;}


footer{float:left;width:100%;min-width: 1200px; color:#999;background:#333;height:50px;line-height:50px;font-size:9pt}
footer p{width:1019px;float:none;margin:0 auto;padding:0 0 0 181px; text-align:left;}
footer a{color:#999}
footer span{float:right; padding:0 4px 0 0;letter-spacing: 3px;}
footer img{display: inline-block;vertical-align: middle;margin: -4px 4px 0 0;}