.hsprite {
    background-image: url('../img/homesprite.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.ViewFront {
    z-index:3;
    position:relative;
}

.FrameDep > body {
    margin-left:0px;
}
.hsprite-video {
    width: 365px;
    height: 341px;
    background-position: -1px -263px;
}

.hsprite-social_widget {
    width: 257px;
    height: 305px;
    background-position: -367px -298px;
}

.hsprite-elmundo {
    width: 478px;
    height: 45px;
    background-position: -1px -29px;
}

.hsprite-impreso {
    width: 250px;
    height: 82px;
    background-position: -367px -215px;
}

.hsrpite-encuesta {
    width: 257px;
    height: 69px;
    background-position: -1px -193px;
}

.hsprite-e_deporte_hd {
    width: 488px;
    height: 27px;
    background-position: -1px -1px;
}

.hsprite-editorial {
    width: 260px;
    height: 49px;
    background-position: -121px -75px;
}

.hsprite-agenda {
    width: 167px;
    height: 57px;
    background-position: -1px -135px;
}

.hsprite-clasificados {
    width: 161px;
    height: 51px;
    background-position: -420px -163px;
}

.hsprite-the_new_york_times {
    width: 161px;
    height: 51px;
    background-position: -429px -111px;
}

.hsprite-the_wall_street_journal {
    width: 161px;
    height: 51px;
    background-position: -480px -56px;
}

.hsprite-club_lectores {
    width: 160px;
    height: 50px;
    background-position: -259px -154px;
}

.hsprite-masleidas_on {
    width: 115px;
    height: 30px;
    background-position: -490px -25px;
}

.hsprite-resumen_on {
    width: 115px;
    height: 30px;
    background-position: -1px -104px;
}

.hsprite-ver_mas {
    width: 139px;
    height: 24px;
    background-position: -169px -125px;
}

.hsprite-masleidas_off {
    width: 119px;
    height: 28px;
    background-position: -309px -125px;
}

.hsprite-resumen_off {
    width: 119px;
    height: 28px;
    background-position: -1px -75px;
}

.hsprite-revista_zonae {
    width: 80px;
    height: 41px;
    background-position: -169px -150px;
}

.tbl-width-padding {
    width:100%;
    border-collapse:collapse;
    border-spacing:0;  
}
.hsprite-revista_zonan {
    width: 90px;
    height: 35px;
    background-position: -382px -75px;
}

.hsprite-revista_ritmo_social {
    width: 90px;
    height: 30px;
    background-position: -259px -205px;
}

.hsprite-revista_oh_magazine {
    width: 60px;
    height: 41px;
    background-position: -582px -163px;
}

.hsprite-comment_more {
    width: 29px;
    height: 23px;
    background-position: -490px -1px;
}



.hbgs {
    background-image: url('../img/homesprite-bg.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.hbgs-resumen {
    width: 3px;
    height: 57px;
    background-position: 0px 0px;
}

.hbgs-tasa {
    width: 3px;
    height: 34px;
    background-position: 0px -58px;
}

.hbgs-4col {
    width: 3px;
    height: 160px;
    background-position: 0px -93px;
}

.hbgs-4col_unit {
    width: 3px;
    height: 140px;
    background-position: 0px -254px;
}

.hbgs-content_area {
    width: 3px;
    height: 89px;
    background-position: 0px -395px;
}

.hbgs-figureo {
    width: 3px;
    height: 33px;
    background-position: 0px -485px;
}

.hbgs-social_row {
    width: 3px;
    height: 302px;
    background-position: 0px -519px;
}

.flexslider {
    background-color: transparent !important;
}

#div-container {
    background-image: url('../img/homesprite-bg.png');
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0px -395px;
    display: table;
    width: 100%;
}

.fp_top {
    background-image: url('../img/homesprite-bg.png');
    background-color: transparent;
    background-repeat: repeat-x;
    height: 30px;
    width: 100%;
    background-position: 0px 0px;
}

.topleftmain_sumario
{
    color:#333333;
}

#div-main {
    
    display: table;
    text-align: left;
    width: 100%;
}

#div-main-banner {
    width: 100%;
    display: table;
}

#div-main-content {
    width: 100%;
}

#div-main-left-center {
    float: left;
    width:700px;
}

#div-main-left {
    width: 349px;
    float: left;
    margin-right: 5px;
}

    #div-main-left .body {
        padding-left:10px;
        width: 330px;
    }

#div-main-center {

    display: table;
}


    #div-main-center .body {
        width: 334px;
    }


#div-main-right {
    width: 300px;
    float: right;
    text-align: center;
}


.espc_pretitle {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    padding-right: 10px;
    text-transform: uppercase;
}

.espc_title {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #000000;
    font-size: 42px;
    margin-bottom: 8px;
    padding-right: 10px;
}

.espc_post_title_especial {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.topleftmain_relacionate_especiales {
    font-family: Georgia, "Times New Roman", Times, serif !important;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 3px;
    text-align: left;
}

.especial_sec {
    width: 700px;
    margin-bottom: 10px;
    background-color: #EBEBEB;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    text-align: left !important;

}

    .especial_sec .body {
        padding: 15px 10px;
    }

    .especial_sec li {
        float: left;
        width: 190px;
        margin: 0 24px 0 0;
        margin-bottom: 20px;
        padding: 0;
        list-style: none;
    }

        .especial_sec li a {
            color: #000;
            text-decoration: none;
        }

#div-entfig {
    margin: 5px 10px 5px 10px;
    text-align: left;
}

#div-ent {
    width: 487px;
    float: left;
}

#div-vida {
    width: 487px;
    float: right;
}

#div-dep {
    width: 100%;
    float: left;
}

#div-ent-header {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}

#div-vida-header {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}

#div-dep-header {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}


#div-fig {
    margin-left: 10px;
    width: 537px;
    float: right;
    height: 340px;
}

.agenda-del-dia {
    background-color:#ededed;
    text-align:center;
    padding-top:20px;
    height:50px;
    margin-top:10px;
    margin-bottom:5px;
}

.agenda-del-dia-head:hover {
    text-decoration:none;
}

.agenda-del-dia-head {
    color:#2e3192;
    font-size:22px;
    font-weight:bold;
}

.agenda-del-dia-date {
    color:#000;
    font-size:13px;
    font-weight:normal;
}

#div-4col {
    background-image: url('../img/homesprite-bg.png');
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0px -93px;
    display: table;
    width: 983px;
    height: 150px;
    padding-top: 10px;
    text-align: center;
    margin-left:10px;
}

#div-4col-cont {
    margin-left: 30px;
    float: left;
}

    #div-4col-cont .col {
        width: 225px;
        height: 135px;
        background-image: url('../img/homesprite-bg.png');
        background-color: transparent;
        background-repeat: repeat-x;
        border-right: 1px solid white;
        background-position: 0px -254px;
        
        float: left;
        padding-left: 10px;
    }

        #div-4col-cont .col .title {
            font-weight: bold;
            font-size: 12pt;
            display: block;
            margin: 8px 0 4px 0;
            text-align: left;
        }

        #div-4col-cont .col td {
            padding: 0 8px 0 0;
            vertical-align: top;
            text-align: left;
            font-family: Verdana;
            font-weight: bold;
        }

#div-social {
    display: table;
    margin-bottom: 15px;
}

#div-social-cont {
    float: left;
    width: 823px;
    display: table;
}

    #div-social-cont .heading {
        background: #FFD700;
        text-align: left;
        height: 28px;
        line-height: 23px;
        border: 1px solid #FFF;
        font-size: 14px;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: bold;
        padding: 5px 0 0 7px;
        margin-bottom:1px;
    }

    .containbox {
        background-color: #F5F5F5;
        border: 1px solid #FFF;
        padding: 8px;
        margin-bottom:5px;
    }

#div-social-row1 {
    display: table;
    
    border-bottom: 1px solid #FFF;
    float: left;
    padding-left: 4px;
    margin-left:5px;
}

#div-social-edimp {
    width: 232px;
    height: 276px;
    float: left;
    display: table;
    margin-right: 30px;
    text-align: center;
}

#div-social-opinion {
    width: 280px;
    float: left;
    text-align: left;
    margin-right: 10px;
    margin-left:10px;
}

#div-social-blogs {
    height: 335px;
    float: left;
    text-align: left;
    background-color: #e6e6e6;
    width:257px;
}

#div-social-ads {
    float: right;
    width: 180px;
    text-align: center;
    display: table;
}

#div-social-row2 {
    width: 805px;
    background-color: #e6e6e6;
    margin-left: 8px;
    padding-top: 5px;
    display: table;
    height:348px;
    background-color:#e6e6e6;
}

#div-social-editorial {
    width: 250px;
    float: left;
    display: table;
margin-left:5px;
}

#div-social-encdig {
    width: 245px;
    float: left;

}

#div-social-twitter {
    width: 257px !important;
    height: 290px;
    margin: 0px !important;
    float: left;
}

#div-deporte {
    display: table;
    margin-bottom: 10px;
    margin-left:10px;
}

#div-deporte-galeria {
    padding-right:8px;
}

.tbl-deporte-galeria {
    background-image: url('../img/homesprite-bg.png');
    background-repeat: repeat-x;
    background-position: 0px -519px;
    background-color:#e6e6e6;
}
#div-deporte-ads2 {
    margin-bottom: 10px;
    height:250px;
    width:300px;
}

#div-deporte-articulos-row1, #div-deporte-articulos-row2 {
    display: table;
}

#div-deporte-articulos-row1 {
    margin-bottom: 5px;
}

#sld-dep-box {
    
   
}

    #sld-dep-box .header {
        background-color: #ed1c24;
        height: 33px;
        font-size: 28px;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-weight: normal;
        padding:5px; 
    }

    #sld-dep-box .header a {
        color:#fff;
    }
#div-deporte .body {
    width: 100%;
    margin-bottom: 10px;
}

#div-deporte-ads {
    float: left;
    text-align: left;
    width:300px;
    margin-top:5px
}

.TopAndBottomSeparator {
    margin-bottom: 5px;
    margin-top:5px;
}

#div-deporte-ads div {
    text-align:center;
}

#div-deporte-articulos {
    display: table;
    width: 100%;
    float: left;
}

#div-deporte-contenido {
    display: table;
    width: 545px;
    float: left;
}

#sld-dep .flex-caption {
    height: 20px;
}

#div-deporte-contenido .body {
    text-align: left;
}

#div-deporte-col1
{
    float: left;
    width: 672px;
    padding-right:10px;
}

#div-deporte-col2 {
    float: right;
}

#div-deporte-articulo {
    padding-top: 10px;
    width: 100%;
    display:table;
}

    #div-deporte-articulo .ladoa {
        width: 300px;
        float: left;
    }

    #div-deporte-articulo .ladob {
        padding-right: 5px;
        float:right;
        width: 350px;
    }


#div-deporte-tasa {
    width: 300px;
    border:1px solid #9bc14c;
    display:table;
}

#div-revista {
    width: 100%;
    display: table;
    text-align: left;
    padding-bottom: 10px;
}

    #div-revista .col {
        text-align: left;
        display:table;
    }

#div-revista-cont {
    display: table;
    margin-bottom: 10px;
    padding-left:5px;
}

    #div-revista-cont .col {
        width: 245px;
        height: 150px;
        float: left;
    }

.entretenimiento {
    margin-bottom: 8px;
}

#div-ent-header {
    background-color: #ff931e;
    height: 33px;
    
    font-size: 28px;
    color: #1A0A0C;
    margin: 0;
    padding: 3px;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
}

#div-vida-header {
    background-color: #17b1cd;
    height: 33px;
    
    font-size: 28px;
    color: #1A0A0C;
    margin: 0;
    padding: 3px;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
}

#div-dep-header {
    background-color: #ed1c24;
    height: 33px;
    
    font-size: 28px;
    color: #fff;
    margin: 0;
    padding: 3px;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-weight: normal;
}
.figuereo {
    margin-bottom: 8px;
}

    #id-figureo-header {
        background-color: #FFD700;
        height: 33px;
        line-height: 29px;
        font-size: 26px;
        color: #1A0A0C;
        margin: 0;
        padding: 0 0 0 7px;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-weight: normal;
        border: 1px solid #fff;
    }

        .figuereo #id-figureo-header img {
            float: right;
            margin: 3px 5px 0 0;
        }

        .figuereo #id-figureo-header a {
            color: #1A0A0C;
            font-size: 26px;
            font-family: Georgia,"Times New Roman",Times,serif;
        }

    .figuereo a {
        font-size: 12px;
        color: #000000;
        font-family: Verdana,Arial,Helvetica,sans-serif;
    }

    .figuereo img {
        width:100%;
    }

    #LnkFigureo {
        width:360px;
    }
    .figuereo a.ver {
        display: block;
        width: 114px;
        font-family: Georgia,"Times New Roman",Times,serif;
        height: 24px;
        line-height: 24px;
        float: right;
        background-color: #FFD700;
        padding-left: 25px;
    }

#div-figureo-detail {
    padding: 15px;
    background-color:#E6E6E6;
    height:20px;
}

.elmundoes {
    width: 465px;
    height: 35px;
    background-image: url('../img/homesprite.png');
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: -1px -29px;
    padding: 8px 0 0 13px;
    display:none;
}

    .elmundoes a.title_munto {
        display: block;
        float: left;
        font-size: 20px;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        color: #000000;
        height: 22px;
        border-right: 1px solid #000;
        padding-right: 17px;
        line-height: 22px;
    }

    .elmundoes a.linknews {
        display: block;
        float: right;
        padding-left: 10px !important;
        background-repeat: no-repeat !important;
        color: #000000 !important;
        text-decoration: none !important;
        width: 254px;
        margin-right: 15px;
    }

        .elmundoes a.linknews:hover {
            text-decoration: underline !important;
        }





    .encuestanew strong {
        font-size: 16px;
        display: block;
        float: none;
        margin-bottom: 3px;
    }

    .encuestanew a {
        color: #000 !important;
    }

.socialtab {
    background-image: url('../img/homesprite.png');
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: -367px -298px;
    width: 257px !important;
    height: 305px;
    margin: 0 !important;
}

    .socialtab ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .socialtab li {
        float: left;
        margin: 0;
        padding: 0;
        margin-right: 1px;
        margin-left: 2px;
    }

        .socialtab li a {
            display: block;
            width: 124px;
            background: url(../dr2/img/main/soctab.png) no-repeat;
            height: 28px;
        }

            .socialtab li a.facebook {
                background-position: 0 0;
            }

                .socialtab li a.facebook:hover {
                    background-position: 0 -28px;
                    cursor: pointer;
                }

            .socialtab li a.twitter {
                background-position: 0 -56px;
            }

                .socialtab li a.twitter:hover {
                    background-position: 0 -84px;
                    cursor: pointer;
                }

.containbox h4 {
    background: url(../dr2/img/main/commet.png) no-repeat;
    padding: 0;
    margin: 0;
    color: #333333;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}

.agendanew {
    width: 159px;
    height: 45px;
    background: url(../dr2/img/main/agendanew.jpg) no-repeat;
    padding-left: 8px;
    padding-top: 12px;
    margin-left: -4px;
    margin-bottom: 5px;
}

    .agendanew strong {
        font-size: 14px;
        display: block;
    }

    .agendanew a {
        color: #666666 !important;
        font-size: 12px;
    }

.containbox ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.containbox li {
    margin: 0 0 10px;
    padding: 5px 0px 0px;
    float: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #000000;
}

    .containbox li span {
        font-weight: bold;
        display: block;
        text-align: center;
        background: url(../dr2/img/main/commentmore.png) no-repeat;
        width: 29px;
        height: 23px;
        float: left;
        margin-right: 10px;
        margin-left:5px; 
    }

    .containbox li a {
        color: #000 !important;
    }

.flex-caption {
    height: 80px;
    margin-top: -30px;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    padding: 5px;
    color: #fff;
}

    .flex-caption a {
        color: white;
        background-image: url(/dr2/img/arrows/right-arrow-16x16.png);
        background-repeat: no-repeat;
        padding-left: 25px;
    }

        .flex-caption a:hover {
            text-decoration: none;
            background-image: url(/dr2/img/arrows/right-arrow-over-16x16.png);
            background-repeat: no-repeat;
        }




ul.blogo {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
}

#div-main-left .pretitulo {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 2px;
}

#div-main-left .titulo_1ra a {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 28px;
    color: #000000;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    line-height: 110%;
}

    #div-main-left .titulo_1ra a:hover {
        text-decoration: underline;
    }

#div-main-left .titulo a {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    line-height: 110%;
}

    #div-main-left .titulo a:hover {
        text-decoration: underline;
    }

#div-main-left .posttitulo {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #333333;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#div-main-left .sumario {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #333333;
    line-height: 15px;
}

#div-main-left .relacion a {
    background-image: url(../dr2/img/main/icorelacionados.jpg) !important;
    background-position: left 5px !important;
    padding-left: 10px !important;
    background-repeat: no-repeat !important;
    color: #000000 !important;
    text-decoration: none !important;
}

#div-videos {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 7px;
    background-color:#F2F2F2;
    border:1px solid #EAEAEA;
    border-radius:4px;
    padding-bottom: 20px;
}

.video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    margin-bottom: 30px;
}
.video-responsive iframe {
	position: absolute;
    top: 30px;
    left: 0px;
    width: 95%;
    height: 100%;
    margin-left: 10px;
}

.video-responsive #vid-streaming {
	position: absolute;
    top: 36px;
    left: 0px;
    width: 95%;
    height: 100%;
    margin-left: 10px;
}

    #div-videos #div-img-video {
        padding-left:10px;
        padding-top:5px;
    }

    #div-videos table {
        width: 300px;
    }

#div-videos-container {
    padding-top: 7px;
    padding-left: 16px;
    width: 330px;
}

#div-video-header {
    height: 30px;
    text-align: right;
    line-height: 30px;
}

#div-video-header {
    text-decoration: none;
}

    #div-video-header a:hover {
        color: orange;
        text-decoration: none;
    }

#div-videos-container {
    margin-top: -8px;
    color: darkgrey;
}

#div-main-center .titulo a {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
}

    #div-main-center .titulo a:hover {
        text-decoration: underline;
    }

#div-main-center img {
    margin-right: 6px;
    margin-bottom: 4px;
    float: left;
}

.linea_divisoria {
    border-bottom: dotted 1px #333333;
    height: 1px;
    background-repeat: repeat-x;
    font-size: 0;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.resumen .titulo a {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.encuestanew {
    background: url(../dr2/img/main/encuesta.png) no-repeat;
    width: 231px !important;
    height: 60px;
    padding: 10px 13px 0;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-left: 2px;
    text-align: left;
}

.encuestanew strong {
    font-size: 16px;
    display: block;
    float: none;
    margin-bottom: 3px;
}



.fp_tasas_sly6_text1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFF;
    background-image: url('../img/homesprite-bg.png');
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: 0px -58px;
    border: 1px solid #FFF;
    padding-left: 11px;
    height: 34px;
    line-height: 34px;
}

.tasas_bg_t1_1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 5px;
}

.edicionimpresa {
    background-color:#ededed;
    height:50px;
    padding:15px;
    margin-bottom:10px;
    margin-top:7px;
}
.tasas_bg_t1_2_text1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-size: 11px;
    color: #333333;
    border-top: 1px dotted #7F7F7F;
    padding: 4px;
}

.tasas_bg_t2_1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    padding: 5px;
}

#descubre_table {
    width: 98%;
    height: 90px;
    max-height: 90px;
}

@media only screen and (max-width:799px) {


    /*
        #div-main-center,
        #div-main-right,
    */
    #div-main ,
    #div-main-left-center, 
    .elmundoes, #div-container,
    #fp_right_tabs_z1,
    #fp_right_tabs_z2,
    #div-main,
    #div-main-left,

    #div-ent,
    #div-vida,
    #div-dep,
    #div-fig,
    #div-entfig,
    #div-social-row1,
    #div-4col,
    #div-4col-cont,
    #div-4col-cont .col, #div-social-cont, #div-social-edimp, #div-social-blogs, #div-social-ads, #div-social-encdig, #div-social-twitter,
    #div-deporte,
    #div-deporte-ads,
    #div-deporte-articulos,
    #div-deporte-articulo, #div-deporte-articulos-row1, #div-deporte-articulos-row2, #div-r#div-deporte-galeria, #div-deporte-ads2,
    #div-deporte-cont, #div-deporte-tasa, #div-deporte-tasa, .fp_tasas_sly6_bg,#div-deporte-articulo .ladoa, #div-deporte-articulo .ladob,#div-deporte-col1
 
   {
        float: none;
        min-width: 210px;
        width: 99%;
      
        margin: 5px auto 5px auto;
        display: block;
        height: auto;
        padding: 0px;
    }

    #div-deporte-col2 {
        float:none;
    }
    #div-ent,#div-vida,#div-dep {
    margin-bottom:15px;
}
    /* para ocultar  */
    #div-news-center,#div-main-right, .elmundoes, #div-4col, #div-social-edimp, #div-social-blogs, #div-social-row2, #div-social-ads,
    #div-deporte-ads, #div-social-editorial, #div-social-encdig, #div-social-twitter, #div-revista,
     #descubre_table, .topleftmain_sumario
     {
        display: none;
    }

    .figuereo a.ver {
        display: none;
    }
  
    #LnkFigureo {
        width:100%;
    }
}

@media only screen and (max-width:799px) {
    #div-social {
        width:100%; 
    }
    #div-deporte-galeria {
        width:100%; 
        padding-bottom:10px;
    }
    .sld-dep-container {
        width:100%; 
    }

    #sld-dep-box {
        height:100%; 
    }
     .logo {
        margin-left: 0px;
    }
}

@media only screen and (min-width:800px) {
    #sld-dep-container {
        
    }

}

@media only screen and (max-width:375px) {

    .logo {
        margin-left: 0px;
    }

         #div-especial .foto, #div-main-left img, #div-especial .foto, .especial_sec li img {
            max-width: 300px;
            width: 100%;
        }

    .espc_title, .espc_title a {
        font-size: 90%;
    }

    .fp_tasas_sly6_bg {
        float: none;
        min-width: 240px;
        width: 100%;
        max-width: 320px;
        margin: 5px 0 5px 0;
        display: block;
        height: auto;
        padding: 0px;
        background-color: #f7f7f7;
    }

    .foto {
        float:none !important;
    }


    .elmundoes .title_munto {
        margin-bottom: 20px;
    }

    #sld-dep-box {
        min-width: 240px;
        width: 100%;
        max-width: 300px;
        height: 240px;
        overflow: hidden;
    }

        #sld-dep-box .header {
            max-width: 300px;
        }

    .resumen {
        margin: 0px;
        min-width: 240px;
        width: 100%;
        max-width: 300px;
        padding: 0px;
    }


    .espc_title {
        font-size: 0.5em;
    }

    .especial_sec {
        width: 100%;
        max-width: 300px;
    }

        .especial_sec li {
            float: none;
            width: 270px;
        }

    .espc_title {font-size:28px !important;}
    .topleftmain_relacionate_especiales {font-size:12px !important;margin-left:0px !important;}
    .especial_sec {width:100%;}


    #div-deporte-contenido, #div-deporte-contenido .body, #div-deporte .body,
    #div-main-left .body, #div-main-center .body, #div-main-right .body, .linea_divisoria {
        width:  100%;
        max-width:320px;
        padding-left: 0px;
        padding-right: 0;
    }

     #div-social-blogs, #div-social-editorial {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        
    }

    #sld-dep .flex-caption {
        height: 60px;
        margin-top: 0px;
    }

     /* para ocultar  */
    #div-news-center,#div-main-right, .elmundoes, #div-4col, #div-social-edimp, #div-social-blogs, #div-social-row2, #div-social-ads,
    #div-deporte-ads, #div-social-editorial, #div-social-encdig, #div-social-twitter, #div-revista,
     #descubre_table, .topleftmain_sumario
     {
        display: none;
    }

     #div-social-opinion
    {
        width: auto;
        margin-right: 5px;
        margin-left: 5px;
        float:none;
    }

    #div-social-row2
    {
        width: 100%;
        margin:0 auto;
    }


}

@media only screen and (min-width:376px) and (max-width: 799px ) {

  #div-main, #div-main-content, #div-main-left, #div-main-left .body,
    #div-main-center, #div-deporte-ads2, 
    #div-deporte-articulo, #div-deporte-tasa { float:none;  width: 97%; }
    .foto { float:left; }
    h2 { display: inline;}

    #div-main-left .body img { width: 250px; margin-right:10px;  }
    #div-especial #div-foto-especial img { width: 250px; margin-right:10px;  }
    .espc_title {font-size:28px !important;}
    .topleftmain_relacionate_especiales {font-size:12px !important;margin-left:0px !important;}
    .especial_sec {width:100%;}

    .row_item {  display:table;}

    #div-social-opinion
    {
        width: auto;
        margin-right: 5px;
        margin-left: 5px;
        float:none;
    }

    #div-social-row2
    {
        width: 100%;
        margin:0 auto;
    }

     #div-main-center .body {
        width: 100%;
    }

    #div-deporte-col1
    {

        width: 100%;
    }

    #div-deporte-col2 {
        float: none;
    }
}


.PlayListButtons {
     width: 68px;
    height: 40px;
    padding-top:15px; 
    background-color: #333333;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold ;   
    font-size:xx-small;  
    border:1px solid #7F7F7F;
    cursor:pointer; 
}

.RevistasLine {
    border-right-style: solid; 
    border-width: 1px; 
    border-color: #CDCDCD;
    padding-right:10px;  
}

.RevistasLogoArea {
    height:45px;
    margin-bottom:5px; 
}

.ent-gallery {
    color:#3f1b07;
}

.vida-gallery {
    color:#3f1b07;
}

.ent-gallery-header {
    color:#000;
}

.dep-gallery-header {
    color:#fff;
}

.vida-gallery-header {
    color:#000;
}

.ent-gallery-header:hover {
    color:#fff;
}

.ent-gallery-social {
    padding-right:3px; 
}

.vida-gallery-header:hover {
    color:#fff;
}

.vida-gallery-social {
    padding-top:5px; 
    padding-right:3px; 
}

.ui-widget-content {
    padding-top:5px; 
}

.edimp-title
{
    width:40px;
    height:195px
}

.edimp-block
{
    float:left;
    margin:1px;    
}

.edimp-foto
{
    width:190px;
    height:160px;
    background-color:#cccccc;
    text-align:center;
    padding-top:10px;
}

.edimp-foto-LD
{
    width:190px;
    height:160px;
    background-color:#cccccc;
    text-align:center;
    padding-top:10px;
}

.edimp-foto img
{
    max-width:120px;
    margin-top:10px;
}

.edimp-foto-LD img
{
    max-width:80px;
}
.edimp-nombre
{
   height:15px;
    background-color:#000;
    text-align:center;
    padding:5px; 
    width:180px;
}

.edimp-nombre a
{
    color:#fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}


.arrow_box_r {
	position: relative;
	background: #FFD700;
	border: 1px solid #ffffff;
}
.arrow_box_r:after, .arrow_box_r:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_r:after {
	border-color: rgba(255, 215, 0, 0);
	border-left-color: #FFD700;
	border-width: 12px;
	margin-top: -12px;
}
.arrow_box_r:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 13px;
	margin-top: -13px;
}

.arrow_box_l {
	position: relative;
	background: #FFD700;
	border: 1px solid #ffffff;
}
.arrow_box_l:after, .arrow_box_l:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_l:after {
	border-color: rgba(255, 215, 0, 0);
	border-right-color: #FFD700;
	border-width: 12px;
	margin-top: -12px;
}
.arrow_box_l:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 13px;
	margin-top: -13px;
}
