﻿/* RESET */
html, body, form, ul, li, p, h1, h2, h3 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

.error-404-header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.error-404 {
    font-size: 120px;
text-align: center;
}

.AdsCenter div {
    margin: 0px auto !important;
}

h2, h3, h4 {
    font-weight: normal;
}

body {
    background-color: #F7F7F7;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

ul, li {
    list-style: none;
    list-style-image: none;
}

img {
    border: 0;
}

p {
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    .desktop-off {
        display:none !important;
    }

.linea_divisoria {
    border-bottom: dotted 1px #333333;
    height: 1px;
    background-repeat: repeat-x;
    font-size: 0;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-right: 5px;
}
/* MAIN LAYOUT */
#doc {
    margin: 0 auto;
    width: 1003px;
    z-index:4;
    position:relative;
}

.ViewFront {
    z-index:3;
    position:relative;
}

.msprite {
    background-image: url('/Themes/Default/Content/img/msprite0.png');
    background-color: transparent;
    background-repeat: no-repeat;
}

.msprite-footer { width: 1003px; background-position: 0px -267px; }
.msprite-header { width: 1003px; height: 91px; background-position: 0px -176px; }
.msprite-nav_3 { width: 1003px; height: 59px; background-position: 0px -117px; }
.msprite-nav_2 { width: 1003px; height: 30px; background-position: 0px -87px; }
.msprite-nav_1 { width: 1003px; height: 23px; background-position: 0px -64px; }
.msprite-logoft { width: 216px; height: 51px; background-position: 0px 0px; }
.msprite-icono_horoscopo { width: 33px; height: 64px; background-position: -216px 0px; }
.msprite-icono_clasificados { width: 26px; height: 58px; background-position: -249px 0px; }
.msprite-icono_cartelera { width: 34px; height: 43px; background-position: -275px -20px; }
.msprite-icono_movil { width: 25px; height: 57px; background-position: -309px 0px; }
.msprite-icono_twitter { width: 22px; height: 63px; background-position: -334px 0px; }
.msprite-icono_anteriores { width: 36px; height: 38px; background-position: -356px -23px; }
.msprite-btn_entrar { width: 47px; height: 23px; background-position: -356px 0px; }
.msprite-icono_facebook { width: 14px; height: 57px; background-position: -403px 0px; }
.msprite-btn_ir { width: 18px; height: 20px; background-position: -275px 0px; }



#hd {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-align: center;
}

#hd_mobile {
  height: auto;
  max-width: 60%;
}

#hd_mobile_spacer {
    width: 100%;
    max-width: 1024px;
    min-width: 240px;
    display: none;
}

.breaknews {
    margin:5px;
    height:45px;
    background-color:#FEC901; 
    border:1px solid #D6A601;
    border-radius:4px;
}

.breaknews2 {
    margin:5px;
    height:55px;
    background-color:#FEC901; 
    border:1px solid #D6A601;
    border-radius:4px;
}

.breaknews-img {
    float:left;
    width:100px;
    padding:5px;
}

.breaknews-img2 {
    float:left;
    width:30px;
    padding:5px;
}

.breaknews-text {
    display: table-cell;
    vertical-align:middle;
    height:45px;
}

.mobile-header {
    display:none; 
}

#ArticleAuthorDiv,#ArticleBody, #ArticleSourceDiv {
    color: #333;
}

#ArticleBody {
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 14px;
    line-height: 18px;
}


#hd_nav_uno {

    width: 100%;
    display: block;
    height:23px;
    line-height: 23px;
    background-image: url('../img/msprite0.png');
    background-position: 0px -64px;
    background-color: transparent;
    background-repeat: no-repeat;
    border-bottom: 1px solid #fff;
}

    #hd_nav_uno a {
        height: 24px;
        line-height: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
        float: left;
    }

        #hd_nav_uno a:hover {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-decoration: none;
            color: #666666;
        }


#n1a, #n1b, #n1c, #n1d, #n1e, #n1f, #n1g, #n1h {
    border-right: solid 1px white;
}

#n1a {
    width: 74px;
}

#n1a1 {
    display:none;
}

#n1b {
    width: 100px;
}

#n1c {
    width: 100px;
}

#n1d {
    width: 100px;
}

#n1e {
    width: 110px;
}

#n1f {
    width: 160px;
}

#n1g {
    width: 130px;
}

#n1h {
    width: 100px;
}

#n1i {
    width: 120px;
}

#hd_tit {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: #fff;
    padding-top: 20px;
    overflow:hidden;
}


.nav_uno_active {
    color: #666666 !important;
}




#hd_nav_dos {
    height: 24px;
    line-height: 22px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #D7D7D7;
    background-image: url('../img/msprite0.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px -87px;
}

    #hd_nav_dos a {
        color: #333333;
        float: left;
        font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
        font-size: 11px;
        padding-left: 0;
        padding-right: 0;
        text-decoration: none;
        text-align: center;
    }

        #hd_nav_dos a:hover {
            color: #000000;
            font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
            font-size: 11px;
            text-decoration: none;
        }

#n2a,#n2ab, #n2b, #n2c, #n2d, #n2e, #n2f, #n2g, #n2h, #n2i {
    width: 89px;
    border-right: 1px solid #D7D7D7;
}

#n2j {
    width: 98px;
}


#hd_frm {
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    background-image: url('../img/msprite0.png');
    background-repeat: repeat-x;
    background-position: 0px -117px;
    width: 100%;height: 45px;
}

#hd_frm_buscar_frm, #hd_frm_usuario_frm {
    float: left;
    height: 35px;
    vertical-align: middle;
}

#hd_frm_buscar {
    margin: 0px 10px 0 0px;
    float: left;
    width: 180px;
    padding-right: 8px;
    border-right: dotted 2px gray;
    height: 35px;
    display: table;
}

#hd_frm_buscar_fld {
    height: 18px;
    width: 156px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-left: 6px;
    border: 1px solid #FFD700;
    border-right: 0;
    font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
}

#hd_frm_buscar_btn {
    font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    width: 23px;
    height: 20px;
    padding: 0;
    border: 0;
    cursor: pointer;
}

#hd_frm_usuario {
    float: left;
    margin: 0px 10px 0 0;
    width: 500px;
}

#hd_frm_usuario_user, #hd_frm_usuario_pwd {
    width: 120px;
    height: 18px;
    border: 1px solid #999999;
    font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    padding-left: 6px;
    margin-right: 4px;
    margin-left: 4px;
}

#hd_frm_usuario_btn {
    width: 47px;
    height: 23px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    font-size: 0;
    font-weight: normal;
}

#hd_frm_usuario_text {
    font-size: 11px;
    color: #333333;
    float: left;
    display: inline;
    margin-left: 10px;
    line-height: 18px;
}

#hd_clima {
    float: right;
    position: relative;
    width: 159px;
    height: 36px;
    margin: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    color: #6A6A6A;
    padding-left: 10px;
    line-height: normal !important;
    text-align: left !important;
    float: right;
}

    #hd_clima img {
        position: absolute;
        margin: -10px 0 0 70px;
    }

    #hd_clima span {
        display: inline-block;
        color: #E85812;
        margin-left: 44px;
        margin-top: 5px;
        font-weight: bold;
    }

    #hd_clima b {
        display: inline-block;
        color: #1794C4;
        margin-left: 49px;
        font-weight: bold;
    }


#bd {
    background-image: url(/Themes/Default/Content/dr2/img/main/bg_content_area.jpg);
    background-repeat: repeat-x;
    background-position-y:-7px;
    background-color: white;
    clear: both;
}


.faceontopbanners {
    height: 2px;
    line-height: 2px;
    font-size: 0;
    margin: 5px 0 11px 0;
    border-top: 3px solid black;
    border-bottom: 3px solid #ffd705;
    max-width: 100%;
}

.content_sly2 {
    width: 1003px;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 10px;
}


#ft {
    border-top: solid 3px black;
    width: 1003px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
}

#ft_uno {
    background-color: #CCCCCC;
    border-top: 1px solid #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

    #ft_uno span {
        font-family: Verdana,Helvetica,sans-serif;
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        margin: 0 0 8px 15px;
        display: block;
    }

    #ft_uno p {
        width: 140px;
        float: left;
        padding-left: 15px;
    }

        #ft_uno p a {
            display: block;
            padding: 1px 0 1px 0;
            text-decoration: none;
            color: #000;
        }

            #ft_uno p a:hover {
                color: #666666;
            }

#ft_info {
    width: 278px;
    float: left;
    border-right: dashed 1px gray;
    text-align: center;
}

#ft_map {
    float: left;
    width: 500px;
    min-height: 170px;
    text-align: left;
    border-right: dashed 1px black;
}

#ft_nos {
    float: left;
    width: 158px;
    height: 165px;
    text-align: left;
}

.footer_info {
    font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #000;
    margin-top: 10px;
}

#ft_bt {
    background-color: #000;
    text-align: center;
}

#ft_bt2 {
    width: 100%;
    padding-bottom: 20px;
}

.footer_bottom_container_tabla {
    padding-top: 24px;
}


.footer_creditos {
    font-family: tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #fff;
    text-align:center;
    float:left;
    margin-top:20px;
    padding-left:20px; 
    font-weight: bold;
}

.footer_creditos2 {
    font-family: tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #fff;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    font-weight: bold;
    display:none;
}

    .footer_creditos a {
        font-family: tahoma,Verdana,Arial,Helvetica,sans-serif;
        font-size: 11px;
        color: #000000;
        font-weight: bold;
        text-decoration: none;
    }

        .footer_creditos a:hover {
            color: #000000;
        }

.footer_links {
    height: 35px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:30px; 
    width: 300px;
    float: right;
}

    .footer_links a {
        display: block;
        width: 50px;
        height: 35px;
        float: right;
        font-size: 11px;
        color: white;
    }

        .footer_links a div {
            float: left;
            margin-right: 5px;
        }

.ft_titulo {
    font-family: Verdana,Helvetica,sans-serif;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 8px;
}

#ft_frm_buscar {
    float: right;
    margin-top: -130px;
    margin-right: 15px;
}

#ft_frm_buscar_fld {
    height: 18px;
    width: 156px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    padding-left: 6px;
    border: 1px solid #FFD700;
    border-right: 0;
    font-family: tahoma,Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    color: #666666;
}

#ft_frm_buscar_btn {
    border: 0;
}

#avisoLegal {
    color: #000;
    text-align: right;
    padding-right: 10px;
}

#avisoLegal2 {
    display: none;
    margin: 5px auto;
}

#hd_nav_uno, #hd_nav_dos {
    display: block;
    visibility: visible;
}

.corp_page {
    width: 93.7%;
    margin: 10px auto 25px auto;
}

    .corp_page .title {
        background-color:#666;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: #FFFFFF;
        padding: 8px;
    }

    .corp_page .body {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 14px;
        color: #333333;
        padding: 15px 20px 15px 20px;
        line-height: 18px;
        background-color: #F2F1ED;
    }

.sect_zcontentleft {
    width: 93.7%;
    margin: 0 auto;
}

.sect_zontitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #000;
    padding-top: 3px;
    padding-bottom: 1px;
}
.reg_bgtop {
  background-image: url(/dr2/img/section/registro/bgtop.jpg);
  background-position: top;
  background-repeat: repeat-x;
  width: 100%;
}

.reg_top_text1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  padding: 8px;
}

.reg_bsent1 {
  background-image: url(/dr2/img/section/registro/bsent.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-color: #F2F1ED;
  font-size: 0;
  width: 115px;
  height: 42px;
  cursor: pointer;
  border: 0;
}
#register-form {
  background-color: #F2F1ED;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #040402;
}

.generic_spc_1 {
  background-image: url(/dr2/img/section/registro/spc_dv_form.jpg);
  background-repeat: repeat-x;
  background-position: top;
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.largeBanner {
   
}


@media only screen and (max-width:799px) {
    html, body {
        margin: 0;
        padding: 0;
    }
    .logo {
        margin-left: 0px;
    }
    #doc, #hd, #ft {
        min-width: 240px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #hd_nav {
        max-width: 420px;
        margin-left:10px;
    }

    #hd_nav_uno {
        display: none;
        width: 100%;
        margin: 0 auto;
        background: none;
        border-bottom: none;
        border-bottom: none;
    }

    #hd_nav_dos {
        display: none;
        width: 100%;
        background: none;
        border-bottom: none;
        border-bottom: none;
    }

    .mobile-header {
        display:block; 
    }

    #n1a,#n1a1, #n1b, #n1c, #n1d, #n1e, #n1f, #n1g, #n1h, #n1i {
        width: 200px;
        float: none;
        height: 22px;
        line-height: 40px;
        font-size: 1.3em;
        font-weight: bold;
        vertical-align: middle;
        border: solid 2px #e6e6e6;
        margin:2px;
        
    }

       #div-bottom-row1-col1-sp {
        margin-bottom: 10px;
        width: 100% !important;
        float:none !important;
}
    .WidgetCaras {
        float:none !important;
        width:100% !important;
    }
    #n2a,#n2ab, #n2b, #n2c, #n2d, #n2e, #n2f, #n2g, #n2h, #n2i, #n2j {
        width: 200px;
        float: left;
        border-right: none;
        height: 22px;
        font-size: 1.3em;
        vertical-align: middle;
        border: solid 2px #e6e6e6;
        /*background-image: url('../img/msprite.png');
        background-position: -1px -66px;
        background-repeat: repeat-x;*/
        background: none;
        margin: 2px;
        background-color:#ccc;
    }

    .desktop-off {
        display:block !important;
    }

    #n1a {
        background-color: #FFCB00;
        color: black;
    }

     #n1a1 {
        background-color: #FFCB00;
        color: black;
        display:block ; 
    }

    #n1b {
        background-color: rgb(14,111,182);
        color: white;
    }

    #n1c {
        background-color: rgb(255,29,37);
        color: white;
    }

    #n1d {
        background-color: rgb(0,195,223);
        color: black;
    }


    #n1e {
        background-color: rgb(182,177,146);
        color: black;
    }

    #n1f {
        background-color: rgb(140,198,63);
        color: black;
    }

    #n1g {
        background-color: rgb(241,90,36);
        color: white;
    }

    #n1h {
        background-color: rgb(237,30,121);
        color: white;
    }

    #n1i {
        background-color: rgb(255,203,0);
        color: black;
    }

    #ft_bt2 {
        display: none;
    }

    #hd_frm_buscar {
        width: 90%;
        
        border: none;
    }

    .footer_creditos2 {
        display:block ;
    }

    .corp_page .body img .resp {
        width: 100%;
    }

    #ft_map, #ft_nos {
        display: none;
    }

    #avisoLegal {
        text-align:center;
    }    
    
    .largeBanner, #hd_frm_usuario_frm, #hd_clima,.mobile_off,.footer_info,.footer_creditos {
        display: none !important;
    }

    #ft_info {
        width:100%;
        margin-bottom:10px; 
    }

    #hd_mobile_spacer {
        display: block;
        visibility: hidden;
    }

    #hd_tit {
        display: none;
    }

    #hd_btn_menu, #hd_btn_search {
        display: block;
    }


    #hd_frm {
        display: none;
        
    }



    #ft_map, #ft_nos, #ft_uno p {
        float: none;
        width: 100%;
        max-width: 300px;
        display: none;
    }


        #ft_info, #ft_map, #ft_nos {
        border: none;
        float: none;
    }

    #hd {
        border-bottom: 1px solid #d5d5d5;
    }

    .footer_links {
        margin:0px auto !important ;
        float:none; 
    }

    #avisoLegal {
        float: none;
    }

    #hd_nav_uno a:hover {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            font-weight: bold;
            text-decoration: none;
            color: #ffffff;
        }
    
}

@media only screen and (min-width:799px) {
    #doc {
        z-index:1040;
    }
}
@media only screen and (max-width:375px) {

      #bd {
        margin: 0px auto;
    }
    
      .logo {
        margin-left: 0px;
    }

    .reg_top_text1 {
       font-size: 12px;
         padding: 2px;
    }
    #div-bottom-row1-col1-sp {
        margin-bottom: 10px;
        width: 100% !important;
        float:none !important;
}
    .WidgetCaras {
        float:none !important;
        width:100% !important;
    }
    .skin {
        display:none;
    }
    #doc {
        z-index:4;
    }
}

@media only screen and (min-width:376px) and (max-width: 799px ) {
       #div-bottom-row1-col1-sp {
        margin-bottom: 10px;
        width: 100% !important;
        float:none !important;
}
    .WidgetCaras {
        float:none !important;
        width:100% !important;
    }
    #bd {
        width:100%;
        margin: 0px auto;
    }

        .reg_top_text1 {
       font-size: 18px;
         padding: 2px;
    }
    .skin {
        display:none;
    }
    #doc {
        z-index:4;
    }
}
/*
.icon-bar {
    padding:3px; 
    width:27px;
     border: 1px solid #808080;
     border-radius:3px;
     color:#333333;
     margin:10px;
}
*/
.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.mobile-header {
    text-align:left;
    font-size:14px;
}

/*ELIPSIS PARA OCURTAR TEXTO*/
.ellipsis {
  overflow: hidden;
  height: 40px;
	
}

.ellipsis2 {
  overflow: hidden;
  height: 55px;
	
}

.ellipsis:before {
	content:"";
	float: left;
	width: 5px; height: 45px; }

.ellipsis > *:first-child {
	width: 100%;
	margin-left: -5px; }		

.ellipsis:after {
	height:35px;
}

#BodyTopAds {
    position: fixed;
right: 0;
left: 0;
border-width: 0 0 1px;
top: 0;
z-index: 1040;
/*Cambiar el z-index con un valor mayor a 1040 puede afectar el boton de busqueda de google*/
}

.video-responsive {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    margin-bottom: 30px;
}

.video-responsive #vid-streaming {
	position: absolute;
    left: 0px;
    width: 95%;
    height: 100%;
    margin-left: 10px;
}

.btn-find-adv {
    background-color: rgb(206, 206, 206);
    border: 1px solid rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 14px;
    border-radius: 2px;
    padding: 4px;
}

.HeaderSeccion {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    height: 25px;
    margin-bottom:5px;
    border-left: 10px solid #000;
}

.HeaderSeccion h1 {
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 0px;
    float: left;
    
}

.HeaderSearch {
    float: right;
    font-size: 10px;
    padding: 3px;
    border: 1px solid #0166B4;
    border-radius: 3px;
    
}

.HeaderSearch a{
    color:#0166B4;
}
.HeaderSearch a{
    color:#0166B4;
}
.HeaderSearch a:visited{
    color:#0166B4;
}
.HeaderSearch a:hover{
    color:#0166B4;
}
.Border_12 {border-color: #0166B4;}
.BorderVid {border-color: #0166B4;}
.BorderSoc {border-color: #0166B4;}
.BorderEnt {border-color: #0166B4;}
.BorderReportajes {border-color: #0166B4;}
.BorderTec {border-color: #0166B4;}
.BorderNorte {border-color: #0166B4;}
.BorderVent {border-color: #0166B4;}
.BorderReligion {border-color: #0166B4;}
.BorderDep {border-color: #0166B4;}
.BorderMund {border-color: #0166B4;}
.BorderMundoAsi {border-color: #0166B4;}
.BorderNeg {border-color: #0166B4;}

.Color_12 {background-color: #AECEE5;color: #0166B4;}
.ColorVid {background-color: #AECEE5;color: #0166B4;}
.ColorSoc {background-color: #AECEE5;color: #0166B4;}
.ColorEnt {background-color: #AECEE5;color: #0166B4;}
.ColorReportajes {background-color: #AECEE5;color: #0166B4;}
.ColorTec {background-color: #AECEE5;color: #0166B4;}
.ColorNorte {background-color: #AECEE5;color: #0166B4;}
.ColorVent {background-color: #AECEE5;color: #0166B4;}
.ColorReligion {background-color: #AECEE5;color: #0166B4;}
.ColorDep {background-color: #AECEE5;color: #0166B4;}
.ColorMund {background-color: #AECEE5;color: #0166B4;}
.ColorMundoAsi {background-color: #AECEE5;color: #0166B4;}
.ColorNeg {background-color: #AECEE5;color: #0166B4;}
