.diver {
	border-bottom: solid 1px #e2e2e2;
	margin: 10px auto;
	width: 98%;
}
.cleaner {
	clear:both !important;
}

.pic img{
	width: 97px;
    height: 97px;
    border: 1px solid #969696;
    padding: 3px;
}

.cat_title a {
	color: #aa0000 !important;
    line-height: 34px;
    font-size: 17px;
}

.cat_title a:hover {
	text-decoration: underline !important;
}
.cat_content {
	font-size:12px;
}

.cat_table:hover{
	width:100%;
    border-collapse: separate;
    background: #E6E6E6;
}

.cat_table  img{
	border-left: solid 5px #969696;
}

.cat_table:hover img{
	border-left: solid 5px #aa0000;
}