.titlex {
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	clear: both;
	padding-right: 10px;
	background-color: #303030;
	margin-bottom: 10px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 34px;
}

.btnclass {
	border-radius: 7px;
	padding: 5px;
	width: 110px;
	border: 1px solid #e0e0e0;
	webkit-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	-moz-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	cursor: pointer; 
	cursor: hand;
	font-family: 'sky';
}

.btnclass:hover {
	background-color: #B2B0B0;
}

.comment-and-photo-title {
	background-image: url('../images/comment-and-photo-title.png');
	background-repeat: no-repeat;
	height: 38px;
}


.comment-box-main {
	height: 10px;
	width:255px;
	margin-top:5px;
}
.comment-box {
	width: 37px;
	height: 24px;
	background-image: url('../images/comment-box.png');
	background-repeat: no-repeat;
	font-family: tahoma;
	color: #FFFFFF;
	font-size: 12px;
	vertical-align: middle;
	text-align: center;
	float: left;
	margin-left: 10px;
	padding-top: 3px;
}


.panorama-comment {
	background-position: right;
	font-family: tahoma;
	font-size: 10px;
	color: #CA686D;
	width: 32px;
	height: 12px;
	background-image: url('../images/comment-icon.png');
	background-repeat: no-repeat;
	float: right;
}


.reader-comment-title {
	text-align: right;
	width: 568px;
	margin-top:5px;
}

.reader-comment-title2 {
	text-align: right;
	width: 568px;
}
.add-comment-title {
	text-align: right;
	width: 568px;
	margin-bottom: 20px;
}

.reader-comment-content-main {
	margin-bottom: 10px;
	width: 100%;
}
.comment-through {
	border: 1px rgb(184, 184, 184) solid;
	margin: 5px 0px;
	background: #FFF;
}
.comment-through-title-with-date {
	width: 100%;
	height: 26px;
	background-color: #E5E5E5;
}
.commenter-name {
	float: right;
	color: #000000;
	font-size: 14px;
	font-family: 'Droid Arabic Naskh';
	font-weight: normal;
	text-align: right;
	margin-right: 30px;
	margin-left: 20px;
	padding-top: 2px;
}
.reply-icon {
	float: right;
	width: 20px;
}
.info-icon {
	float: right;
	width: 20px;
	margin-right: 10px;
	margin-top: 3px;
}
.comment-date {
	float: left;
	margin-left: 20px;
	font-family: tahoma;
	font-size: 12px;
	color: #000000;
	padding-top: 3px;
}
.comment-text {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	margin-right: 30px;
	text-align: right;
	font-size: 15px;
	font-family: 'Droid Arabic Naskh';
	font-weight: normal;
}

.comment_admin_reply{
color: red;
}

.reply-box {
	margin-right: 30px;
	border: 1px solid #C0C0C0;
	margin-left: 30px;
}
.reply-container {
}
.reply-through-title {
	background-color: #E7E7E7;
	height: 20px;
}
.reply-text {
	margin: 10px;
	text-align: right;
}
.reply-title-name {
	margin-right: 10px;
	float: right;
}
.alert-box-main {
	width: 549px;
	display: block;
}
.alert-box-top-bg {
	background-repeat: no-repeat;
	width: 549px;
	height: 4px;
	float: right;
}
.alert-box-bg {
	
	border: 1px solid #E0E0E0;
	padding: 5px;
	direction: rtl;
	text-align: justify;
	margin-bottom:15px;
	margin: 7px;
}

.inp {
	width:98%;
}
.inpt {
	width:98%;
	height:100px;
}
.alert-box-bottom-bg {
	background-repeat: no-repeat;
	float: right;
	width: 549px;
	height: 4px;
}
.alert-text {
	color: #EE0000;
	margin: 20px;
	text-align: right;
	font-size: 15px;
	font-family: 'SKY';
}
.alert-text-title {
	font-size: 18px;
	color: #FF0000;
	margin-right: 20px;
	margin-top: 5px;
	float: right;
	text-align: right;
	width:99%;
	font-family: 'SKY';
	display: block;
}
.fixed-div{
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	background-image: url('../images/fixed-div-bg.png');
	text-align:center;
	z-index: 9999;

}
.fixed-div-inside {
	height: 40px;
	
	text-align: center;
	
	margin: auto;
	
}
.h10 {
	height: 10px;
}

.inner-line-1 {
	background-color: #C0C0C0;
	height: 3px;
	width: 666px;
	margin-top: 10px;
	margin-bottom: 10px;
}




.writer_bl
{
	background-color: #B20418;
	background-image: url(../images/side-block-bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 18px;
	font-family: "ge_ss";
	color: white;
}

.float_r_bl
{
	text-align:center;
	float:right;
	margin:2px;
}

.float_l_bl
{
	float:left;
}

.display_in_bl
{
	display: inline;
}

.display_in-b_bl
{
	text-align:center;
	display: inline-block;
	margin:2px;
}