
/* Mobile Compatibility Css ... By: Ahmad Jaffal */
@media only screen and (max-device-width: 996px) {
/*Home page Css --------------------------------------*/
body, div, img {
	max-width: 100%;
	width: 100%;
}
.header-banner img {
	width: 100%;
}
.polls-chooses img {
	width: 18px !important;
}
.box img {
	width: 100%;
}
.news-a > div img {
	width: 100%;
	height: 125px;
}
.news-b img {
	width: 100%;
}
.news-c img {
	width: 100%;
}
.news-d img {
	width: 100%;
}
.active {
	width: 100%;
	max-width: 100%;
}
.box-header img {
	width: 100%;
}
.location01 img {
	width: 100%;
}
.main-logo {
	height: 105px;
	text-align: right;
	left: -5px;
	top: -2px;
	width: 140px;
}
.newsAj .con .ajc a {
    color: #aa0000 !important;
    text-align: right;
    font-size: 16px !important;
    line-height: 18px !important;
}
.weather-time i {
	font-size: 20px;
	top: 6px;
}
.weather-time span {
	color: #FFF;
	font-size: 9px;
	top: 1px;
	right: 6px;
}
.tabbed-contents-pages img {
	width: 100%;
	max-width: 100%;
	float: right;
}
.news-d > div {
	height: 100%;
}
.half-box .news-d > div img {
	width: 100%;
	height: 100%;
}
.box.right-box.d-style .news-d > div img {
	width: 100%;
	height: 100%;
}
.tabbed-contents.camera.d-style .news-d.focused {
	width: 80% !important;
	height: 126px !important;
	left: 0px !important;
	top: 0px !important;
}
.tabbed-contents.camera.d-style .news-d.focused > div img {
	height: 126px;
	width: 100%;
}
.tabbed-contents-pages, #tabs-roll {
	width: 100%;
	float: right;
}

.news-a > h3 a {
	font: 12px/20px 'Droid Arabic Naskh';
}
.news-b > h3 a {
	font: 12px/20px 'Droid Arabic Naskh';
}
.news-c > h3 a {
	font-size: 12px;
}
.news-d > h3 a {
	padding: 0px 7px;
	font: 12px/20px 'Droid Arabic Naskh';
	height: 40px;
}
.weather-time {
	text-align: left;
	width: 70%;
	max-width: 100%;
	padding: 0px;
	position: relative;
	right: -4px;
}
.header-info {
	max-width: 100%;
	height: 40px;
	width: 100%;
	position: fixed;
	right: 0px;
	/*right: 5px;*/
	z-index: 1002;
	top:0px;
}
.search-box span > input[type="submit"].btn.btn-info {
	background: url(../images/go.png) no-repeat;
	background-size: 38px 30px;
	width: 40px;
	height: 30px;
	padding-right: 24px;
	position: relative;
	left: 229px;
	bottom: -10px;
	border-color: #000;
}
.search-box span > input[type="submit"].btn.btn-info:hover {
	background-position: 0px 0px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: 0px;
}
#search_icon {
	float: left;
	width: 50px;
	height: 45px;
	position: absolute;
	left: 0px;
	bottom: 0;
	padding-right: 0px;
}
#search_icon_close {
	float: left;
	width: 35px;
	height: 34px;
	position: relative;
	right: 40px;
	bottom: 23px;
	padding-right: 0px;
}
.search-box {
	width: 46px;
	position: relative;
	top: 5px;
	right: 25px;
}
#page-header {
	max-width: 100%;
	width: 100%;
	height: 155px;
}
.search-box input.form-control {
	max-width: 150px;
	width: 150px;
	position: relative;
	top: 38px;
	left: 190px;
	height: 25px;
}
.facebook-login, .facebook-login {
	max-width: 100%;
	width: 100%;
}
.box-contents {
	position: relative;
	/*left: 8px;*/
	padding-top: 13px;
}
.box-contents iframe {
	width: 285px;
	position: relative;
	left: 2px;
}
.box.youtube.left-style {
	margin: 0px;
	padding: 0px;
	padding-top: 0px;
	padding-bottom: 12px;
	position: relative;
	left: 0px;
	margin-bottom: 7px;
}
.footer-menu .main-menu li {
	width: 30%;
	max-width: 30%;
	padding: 0px 0px 15px;
}
.footer-menu .main-menu li a {
	font-size: 13px;
	padding-right: 0px;
	position: relative;
	right: 16px;
}
.box, .tabbed-contents, .menu-box {
	max-width: 100%;
	width: 100%;
}
.arrows-container, .left-arrow, .right-arrow {
	max-width: 100%;
	width: 100%;
	visibility: visible;
	position: relative;
}
.top-views, .mini-box {
	width: 100%;
	max-width: 100%;
}
.news-a {
	width: 47%;
	max-width: 47%;
	height: 195px;
	margin-right: 1px;
	margin-left: 11px;
}
.news-a:nth-child(2n) {
	margin-left: 0px;
}
.news-b {
	width: 47%;
	max-width: 47%;
	margin-right: 1px;
}
.news-b:nth-child(2n) {
	margin-left: 0px;
}
.news-c {
	width: 97%;
	max-width: 97%;
	right: 0px;
}
.half-box .news-d {
	width: 47%;
	max-width: 47%;
	margin-right: 1px;
	height: 120px;
	margin-left: 14px;
}
.half-box .news-d:nth-child(2n) {
	margin-left: 0px;
}
.box.right-box.d-style .news-d {
	width: 47%;
	max-width: 47%;
	margin-right: 1px;
	height: 120px;
}
.box.right-box.d-style .news-d:nth-child(2n) {
	margin-left: 0px;
}
.photo, .video {
	width: 45%;
	max-width: 45%;
}
.news-list-c {
	width: 100%;
	max-width: 100%;
}
.header-main-container {
	width: 100%;
	max-width: 100%;
	height: 102px;
	position: relative;
	right: 4px;
}
.box.right-box.d-style .tabbed-contents-pages, .box.right-box.d-style .tab-page, .box.right-box.d-style .news-page {
	height: 290px;
}
.main-contents-header, .full-box {
	margin: 1px !important;
}
.header-main {
	width: 100%;
	max-width: 100%;
	top: 40px;
}
.left-header-area {
	height: 0px;
	padding: 0px;
}
.header-banner.banner.location01 img {
	display: none;
}
.main-slider, .right-box, .main-box {
	width: 100%;
	max-width: 100%;
}
#header-info-inner, #main-contents {
	width: 100%;
	max-width: 100%;
}
.box-header {
	width: 100%;
	max-width: 100%;
}
.full-style .box-contents {
	margin-top: 0;
	padding-right: 0px;
	width: 100%;
	left: 0;
	padding-top: 3px;
}
.left-style, .from-readers {
	width: 100%;
	max-width: 100%;
	padding-top: 15px;
}
.left-box {
	max-width: 100%;
	width: 100%;
}
.half-box, .right-half-box, .left-half-box, .d-style {
	max-width: 100%;
	width: 100%;
}
.header-banner, .location01, .no-border, .one-row {
	max-width: 100%;
	width: 100%;
}
.main-slider .top-desc {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: none;
}
.main-slider-window {
	display: none;
}
/*#news-roll{
        max-width:100%;
        width:100% !important;
        right:0px !important;
    }*/
.tab-page > #news-roll {
	height: 155px;
}
#vertical-roll, .main-slider-window {
	max-width: 100%;
	width: 100%;
}
.tabbed-video .news-d, .tabbed-video .news-d {
	width: 157px;
	max-width: 44%;
}
.tabbed-video #tabs-roll, .box.full-box.tabbed-video, .box.full-box.tabbed-video .tab-page, .box.full-box.tabbed-video .news-page {
	width: 100%;
	max-width: 100%;
}
#mainPageVids {
	/*height: 650px !important;*/
}
#mainPageVids .tabbed-video-viewer > div{
	top: 47px !important;
}
#mainPageVids .news-d{
	width: 100% !important;
    max-width: 98% !important;
}
.box.tabbed-contents.tabbed-video.full-box.no-border.video-style .tabbed-contents-pages {
	width: 49% !important;
}

.newsAj .ha {
	width: 100% !important;
	float:none !important;
}
.newsAj .ha .ajt {
	height: auto !important;
}
.newsAj .con {
    width: 100% !important;
    float: none !important;
}
.newsAj .con .ajc {
	height: auto !important;
	padding: 5px 10px !important;
}
.tabbed-contents-pages {
	height: 450px;
}
.main-slider-thumbs {
	max-width: 100%;
	width: 100%;
	padding-bottom: 10px;
}
.tabbed-contents-header {
	max-width: 100%;
	width: 100%;
	float: right;
	padding-top: 8px;
}
.camera .tabbed-contents-header {
	padding-top: 0px;
}
.tab-page {
	max-width: 100%;
	width: 100%;
}
.has-sub, .sub, .level-1 {
	max-width: 100%;
	width: 100%;
}
.main-contents-header, .headline-text-area, .news-headlines-scroller-roll {
	max-width: 100%;
	width: 100%;
}
.news-title {
	display: none;
}
.news-leadline-scroller {
	max-width: 100%;
	width: 100%;
	background-color: #9f071c;
}
.banners-list, .banners, .banners-480, .banner, .banner-2, .banner-4, .banner-5 {
	max-width: 100%;
	width: 100%;
}
.main-contents-container, .full-box {
	max-width: 100%;
	width: 100%;
	position: relative;
}
.panel, .left-panel, .polls, .polls-title, .polls-chooses {
	max-width: 100%;
	width: 100%;
}
.polls-submit {
	max-width: 100%;
	width: 100%;
	padding-top: 20px !important;
}
.dead, .tabbed-video-viewer {
	max-width: 100%;
	width: 100%;
}
.tabbed-video-viewer iframe {
	max-width: 100%;
	width: 100%;
}
.btn-default, .character, .programs-list, .camera {
	max-width: 100%;
	width: 100%;
}
.btn, .btn-danger {
	left: 100px;
}
.ytp-thumbnail html5-stop-propagation {
	max-width: 100%;
	width: 100%;
}
#wrapper-header, #wrapper-1, #wrapper-2, .left-header-area, .headline-text-area {
	max-width: 100%;
	width: 100%;
	position: relative;
	right: 5px;
}
#wrapper {
	max-width: 98%;
	width: 94%;
	position: relative;/* left: 5px; */
}
ul, li {
	max-width: 100%;
	width: 100%;
}
.main-footer, .menu-title {
	max-width: 100%;
	width: 100%;
}
.copyright {
	max-width: 100%;
	width: 100% !important;
	/*top: -93px !important;*/
	top: 0 !important;
	background-color: #1f1e1e !important;
	/*height: 93px;*/
	height: auto;
    padding-bottom: 20px;
}

.copyright a{
	text-align: center !important;
	margin-left: 0px !important;
}

.contactfooter {
	
}

.contacttable {
	display: none;
}
.contactMobile {
	display: block !important;
    text-align: center;
	margin-bottom:30px !important;
}
.main-footer .main-logo {
	left: -8px;
	width: 70px;
	height: 45px;
	position: relative;
	top: 7px;
}
.menu-title-line {
	max-width: 100%;
	width: 100%;
	left: 0px !important;
	margin-top: 5px;
	top: -35px;
}
.footer-menu {
	max-width: 100%;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	left: 0px !important;
	height: 100px !important
}
.menu-title-text {
	width: 220px;
	font-size: 14px;
	position: relative;
	top: -41px;
	right: 80px;
}
#site-info, #extras {
	max-width: 100%;
	width: 100%;
}
.streming-box, .srteaming-box-container {
	max-width: 90%;
	width: 90%;
	float: right;
}
.v-arrows {
	top: -18px !important;
}
.player {
	width: 100%;
	max-width: 100%;
	height: 146px;
}
.player img {
	width: 90px;
	max-width: 90px;
	margin: 6px;
}
.streaming-title span {
	float: left;
	height: 45px;
	position: relative;
	top: -6px;
	width: 60px;
	left: 2px;
}
.streaming-title {
	max-width: 100%;
	width: 100%;
	padding: 0px;
	float: right;
	padding-right: 12px;
}
.btn, .btn-default {
	max-width: 30%;
	width: 30%;
}
.streaming-box-box {
	max-width: 90%;
	width: 90%;
	left: 15px;
	z-index: 3;
}
.social-media-links, .social-media-container {
	display: none;
}
.banner img {
	width: 100%;
	height: auto;
}
.box, .tabbed-contents, .d-style, .half-box, .right-half-box {
	width: 100% !important;
	max-width: 100% !important;
	position: relative;/*right:3px;*//*by ibrahim*/
}
.news-page {
	width: 100%;
	max-width: 100%;
	right: 0;
}
.box.top-views.mini-box .box-contents, .box.from-readers.mini-box .box-contents {
	height: 240px;
	left: 2px;
	padding: 0px;
	margin: 0px;
}
.box.top-views.left-style.mini-box.polls .box-contents {
	height: 270px;
	padding-top: 0px;
}
.left-hand-contents .from-readers, .facebook {
	width: 100%;
	max-width: 100%;
	left: 0px;
}
.pam, ._43qf, ._4cg3 {
	padding: 7px !important;
	padding-bottom: 0px;
}
.polls-title {
	font-size: 15px;
}
.main-menu {
	position: absolute;
	width: 100%;
	max-width: 100%;
	right: -15px;
	background: none;
	height: 500px;
	bottom: 30px;
	font-size: 15px;
}
.left-header-area .main-menu {
	top: 40px;
	display: table-cell;
	width: 180px;
	z-index: 1001;
	position: fixed;
	right: -180px;
	padding: 0;
}
.left-header-area .main-menu ul {
    margin: 0;
    background: rgba(0,0,0,1);
    float: right;
    padding: 5px;
    border-radius: 5PX;
}
.left-header-area .main-menu li {
    float: right;
    list-style: none;
    margin: 2px;
    background: rgba(180,4,24,0.7);
}
.left-header-area .main-menu li a {
    font-size: 14px;
    color: #fff;
    text-align: right;
}
.tabbed-contents-header li {
	width: 48%;
	max-width: 48%;
	padding: 8px 6px 5px;
	font-size: 11.2px;
	box-shadow: none;
	margin-bottom: 3px;
}
.main-slider-thumbs > div {
	padding: 0px 6px;
}
.main-slider .top-desc a {
	font-size: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}
.character-image img {
	width: 230px;
	height: 230px;
	position: relative;
	left: 0px;
	bottom: 5px;
}
.polls-submit button {
	top: -16px;
	left: 94px;
	width: 81px;
}
.box.mini-box.polls {
	padding: 0px;
	height: 325px;
}
.box.mini-box .box-contents {
	max-height: 310px;
}
.tabbed-contents.camera #news-roll > div {
	top: 0px;
	left: 8px;
	height: 100%;
}
.tabbed-contents.camera.d-style .news-d.item-0 {
	top: 0px !important;
	width: 50%;
	height: 90%;
	margin: 12px;
	margin-left: 0;
	max-width: 91%;
	right: 0;
	left: auto;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	left: auto;
	top: 6px !important;
	height: 90%;
	width: 45%;
	max-width: 31%;
	right: 345px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	left: auto;
	top: 6px;
	right: 682px;
	max-width: 31%;
	height: 90%;
}
.box.mini-box.character {
	padding-top: 15px;
	height: 290px;
	position: relative;
	left: 0px;
}
.box.right-box.d-style.camera .tabbed-contents-pages, .box.right-box.d-style.camera .tab-page, .box.right-box.d-style.camera .news-page {
	height: 210px;
}
.tabbed-contents-pages, #tabs-roll {
	width: 100%;
	max-width: 100%;
}
#panoramblock {
	height: 640px !important;
}
#panoramblock .tab-page , #panoramblock .news-page{
	height: 640px !important;
}
.main-footer {
	height: 65px;
}
.main-footer>.footer-menu >.main-menu {
	position: relative;
	width: 100%;
	max-width: 100%;
	top: 8px !important;
	background-color: #1f1e1e;
	right: 0px !important;
	height: 90px;
	bottom: 0px;
	padding-right: 0px !important;
	font-size: 5px;
}
.footer-menu .main-menu ul {
	top: -30px;
}
.main-footer>.main-logo {
}
#menu_image {
	visibility: visible;
	width: 45px;
	height: 40px;
	float: right;
	top: -6px;
	left: -4px;
	position: relative;
}
.box.tabbed-contents.tabbed-video.full-box.no-border.video-style {
	padding-top: 15px;
}
.banner.banner-3 {
	display: none;
}
.main-slider-thumbs > div.active {
	width: 100%;
}
/*Inner pages Css --------------------------------------*/
.catgeroy-article {
	margin: 0px;
}
.article-content {
	padding-top: 20px;
}
.sharing-options {
	padding-bottom: 15px;
}
.article-title {
	font: bold 24px/30px "Droid Arabic Naskh";
}
.article-content-data {
	font: bold 16px/25px "Droid Arabic Naskh";
	padding-right: 7px;
}
.left-style .box-header {
	max-width: 100%;
	width: 100%;
	position: relative;
	left: 0px;
}
.category-header h2 {
	font: 600 25px/35px "Droid Arabic Naskh";
}
.catgeroy-article-data-title a {
	font: 400 16px/26px "Droid Arabic Naskh";
}
.category-content, .masonry {
	/*left: -8px;*/
	width: 100%;
	max-width: 100%;
}
.catgeroy-article-data-date {
	position: relative;
	right: 4px;
}
.right-hand-contents {
	width: 100%;
	max-width: 100%;
}
.left-hand-contents {
	width: 100%;
	max-width: 100%;
}
.catgeroy-article, .masonry-brick {
	/*margin: 15px;*/
	/*margin: 15px 5px 15px 0px;*/
	margin: 15px auto;
	position: relative !important;
    top: auto !important;
    right: auto !important;
    float: none !important;
	margin-bottom: 22px !important;
	min-height: auto !important;
}

.catgeroy-article-data-date {
	display: block !important;
    margin-left: 0px !important;
	float: none !important;
	right: 0px !important;
}
.box.facebook {
	display: block;
	margin-top: 7px;
}
.desktop-version {
	visibility: visible;
}
.main-box.main-slider #vertical-roll {
	width: 62200px;
	float: right;
	height: 100%;
	position: absolute;
	display: block;
	right: 0;
	max-width: 62200px;
}
.main-box.main-slider #vertical-roll > div {
	height: 430px;
	position: relative;
	width: 715px;
	float: right;
}
.left-ads, .first-banner {
	background: url(../images/killerbanner-bg2-mobile.png) no-repeat top center;
	margin-top: 10px;
	padding-top: 23px;
	height: 320px;
	width: 290px !important;
	left: 50% !important;
	margin-left: -145px !important;
}
.left-style {
	left: 0px;
	margin-left: 0px;
}
.news-b > div, .news-b > div img {
	width: 100%;
}
.news-b > h3 {
	float: right;
}
.from-readers .news-c {
	height: 73px;
	padding-top: 5px;
}
.programs-list a {
	right: 8px;
	top: -6px;
	height: 150px;
}
.full-style .box-contents .pull-right.news-b {
	padding-right: 6px;
	margin-left: 10px;
	width: 47%;
	margin-right: 3px;
	max-width: 50%;
}
.full-style .box-contents .pull-right.news-b:nth-child(2n) {
	margin-left: 0px;
}
.main-slider-thumbs > div {
	width: 100%;
	float: right;
	border: 0px solid #000;
	margin-left: 0;
	margin-top: 8px;
	position: relative;
	padding: 0;
	background: #e7e7e7 none repeat scroll 0 0;
	border-radius: 2px;
	box-shadow: 0 0 2px #333;
}
.main-slider-thumbs > div:hover {
	background: none repeat scroll 0 0 #e8e8e8;
	width: 100%;
	box-shadow: none;
}
.main-slider-thumbs > div.active {
	background: none repeat scroll 0 0 #e8e8e8;
	border-radius: 0;
	/*box-shadow: none;*/
	color: #fff;
	cursor: pointer;
	left: 0;
	position: relative;
	width: 100%;
	/* border: 5px solid #9b3334; */
	padding: 0;
}
.main-slider-thumbs .active a {
	color: #333;
}
.tab-page .arrows-container {
	display: none;
}
.box.d-style .tabbed-contents-pages, .box.d-style .tab-page, .box.d-style .news-page {
	height: 290px;
}
.from-readers.mini-box:nth-child(2n) .box-contents .news-c {
	height: 72px;
}
.chart-legend li {
	width: 30%;
}
.box.html-box.left-style.mini-box.character {
	height: 360px;
}
.live-streaming-block {
	width: 100%;
}
.ads-count-down {
	width: 94%;
}
.catgeroy-article {
	width: 96%;
}
.pagination, .pagination li {
	width: auto;
}
.pagination-lg>li>a, .pagination-lg>li>span {
	padding: 10px 14px;
}
.tabs-more-than-2.active-tabs .tabs-more-than-2-select-btn {
	background: url(../images/dd-list-icon.png) no-repeat;
	float: right;
	padding: 5px;
	height: 30px;
	width: 30px;
	text-decoration: none;
	font-family: helvetica;
	text-align: center;
	display: block;
	margin-right: 5px;
	color: transparent;
}
.tabs-more-than-2.active-tabs {
	position: relative;
	z-index: 1000;
	overflow: visible;
}
.tabs-more-than-2.active-tabs ul {
	position: absolute;
	top: 38px;
	right: 0px;
	list-style: none;
	margin: 0;
	display: none;
	padding: 0;
	width: 50%;
	background: #fff;
	border: 2px solid #9f071c;
	border-radius: 0px 0px 5px 6px;
	border-top: 0;
	z-index:1000;
}
.tabs-more-than-2.active-tabs ul.show {
	display:block;
}
.tabs-more-than-2.active-tabs ul li {
	padding: 5px;
	width: 100%;
	max-width: 100%;
}
.at-share-btn.at-svc-whatsapp {
	display: inline-block !important;
}
.form-horizontal .form-group {
	float: right;
}
.col-lg-1 > a#add_new_row {
	float: left;
}
.gallery_item_wrapper.row {
	margin-right: 0;
}
.gallery-item {
	margin-bottom: 0;
	margin-top: 10px;
	margin-right: 17px;
}
.remove_row_container {
	width: auto;
}
.main-slider-thumbs a img {
	display: block;
	width: 96%;
	margin: 0 auto;
	margin-top: 8px;
}
.main-slider-thumbs h4 {
	display: block;
	/*position: absolute;*/
	bottom: 0;
	/*color: #fff;
    background: rgba(0,0,0,0.4);*/
	padding: 5px;
	font: 400 16px/26px "Droid Arabic Naskh";
	text-align: center;
	height: auto !important;
	font-size: 20px !important;
    font-weight: bold !important;
    line-height: 32px !important;
}
#headerAds {
	display:none !important;
}
.inner .from-readers:nth-child(2n) {
	margin-bottom: 2px;
	margin-top: 4px;
}
.camera .tab-page .arrows-container {
	display: block;
}
.camera div#tabs-roll {
	height: 100%;
}
.box.right-box.d-style.camera .tabbed-contents-pages {
	height: 88%;
}
.box.right-box.d-style.camera .tab-page {
	height: 100%;
}
.camera .tab-page > #news-roll {
	height: 100%;
	width: 500000px !important;
	max-width: 500000px !important;
}
.camera .tab-page .arrows-container {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}
.arrows-container > div.left-arrow, .arrows-container > div.right-arrow {
	height: 100% !important;
	width: 69px;
	left: 0;
	top: 0;
	position: absolute;
	background: transparent;
}
.arrows-container > div.right-arrow {
	left: auto;
	right: -14px;
}
.right-box.d-style .arrows-container > div span {
	top: 30%;
	left: 0 !important;
}
.tabbed-contents.camera {
	height: 280px;
}
.character.box-slider-wrapper .box-contents-roll {
	max-width: initial;
}
.article-share.stiky-share {
	position: fixed;
	top: 40px;
	background: #000;
	left: 0px;
	width: 98.6%;
	z-index: 1000;
}
.full-style .box-header h3.view-desktop {
	display: none;
}
.full-style .box-header h3.view-mobile {
	display: block;
}
.tabbed-video .tab-page .arrows-container {
	display: block;
	position: absolute;
}
.box.tabbed-contents.tabbed-video.full-box.no-border.video-style .arrows-container > div.left-arrow {
	left: 0px;
	right: auto;
	top: 29px;
}
.box.tabbed-contents.tabbed-video.full-box.no-border.video-style .arrows-container > div {
	height: 167px;
	top: 35px;
}
.first-banner {
	height: 330px;
}
.box.full-box.tabbed-video .news-page {
	max-width: initial;
	width: 100% !important;
}
.live-streaming-block .area {
	height: auto;
	min-height: 400px;
}
.live-streaming-block .area div {
	width: 100%;
	float: right;
	margin-left: 0;
}
.gallery, .thumb {
	width: 100%;
}
.gallery ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
.cat-box-wakeel-prog {
	max-height: 340px;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 72%;
}
.cat-box-wakeel-prog .box-contents {
	max-height: 310px;
}
.auther-block {
	margin-top: 10px;
}
.auther-block .img {
	width: 200px;
}
.auther-block .img img {
	width: 180px;
	max-width: 180px;
}
.auther-block .desc {
	padding: 10px 0;
	width: 100%;
}
.first-banner .banner {
	padding-top: 0px;
}
.main-slider-thumbs .catgeroy-article-data-text, .main-slider-thumbs .catgeroy-article-data-date, .main-slider-thumbs > div .shadow {
	display: block;
}
.main-slider-thumbs > div .shadow {
	top: 262px;
}
.gallery ul li.each > iframe ,.gallery ul li.each.active, .gallery ul li.each.active img{
  width: 100%;
}
.gallay-block {
  margin-left: 0%;
  width: 100%;
}
.article-share.stiky-share a.at-share-btn {
    width: 20%;
    max-width: 20%;
    margin: 0;
    padding: 0;
}
.article-share.stiky-share a.at-share-btn.at-svc-facebook {
	background:#3b5998;
}
.article-share.stiky-share a.at-share-btn.at-svc-twitter {
	background:#55acee;
}
.article-share.stiky-share a.at-share-btn.at-svc-linkedin {
	background:#0077b5;
}
.article-share.stiky-share a.at-share-btn.at-svc-whatsapp {
	background:#4dc247;
}
.article-share.stiky-share a.at-share-btn.at-svc-email {
	background:#738a8d;
}

.show .menu-box .tabbed-contents-pages {
    display: none;
}
.main-menu li .sub.show {
    position: relative;
    background: none;
    top: 0;
    border: 0;
    height: auto;
    box-shadow: 0 0px 0px #999;
}
.show .menu-box .tabbed-contents-header a {
    display: none;
}
.show .menu-box .tabbed-contents-header ul {
    display: block !important;
    position: relative;
    top: 0;
    border: 0;
    width: 100%;
    background: #000;
    border-radius: 0;
}
.show .box.tabbed-contents.menu-box {
    height: auto;
    top: 0;
    padding: 0;
    margin: 0;
}
.show .box.tabbed-contents.menu-box .tabbed-contents-header {
    padding: 0;
}
.show .menu-box .tabbed-contents-header ul li {
    width: 98%;
	max-width: 98%;
    background: transparent;
    padding: 0;
    border-bottom: 2px solid #9B3334;
    box-shadow: none;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.show .menu-box .tabbed-contents-header ul li:hover {
    background: #9B3334;
}
.show .menu-box .tabbed-contents-header ul li a {
    display: block;
    background: transparent;
    font-size: 12px;
    padding: 0;
}
.show .menu-box .tabbed-contents-header ul li:last-child {
    border: 0;
}
.tab-page .more-link {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 1000;
    top: 419px;
    height: 35px;
    text-align: left;
    padding-left: 20px;
}
.tab-page .more-link a {
    font-weight: bold;
    color: #000;
}
.box.full-box.one-row.b-style .tabbed-contents-pages, .box.full-box.one-row.b-style .tab-page, .box.full-box.one-row.b-style .news-page {
    height: 265px;
}
#parlamanblock , #parlamanblock .tab-page{
	height: 500px !important;
}
#parlamanblock .tab-page .news-page{
	height: 473px !important;
}
#parlamanblock .tab-page .more-link{
	top: 473px !important;
}
.b-style .tab-page .more-link {
    top: 240px;
}

.box.full-box.one-row.d-style .tabbed-contents-pages, .box.full-box.one-row.d-style .tab-page, .box.full-box.one-row.d-style .news-page {
    height: 290px;
}
.d-style .tab-page .more-link {
    top: 265px;
}
#modal .article-title a {
    font-size: 22px;
}
.modal-position-fixed img {
    position: relative;
    max-width: 90%;
    border: 3px solid #000;
    padding: 10px;
    border-radius: 5px;
}
#modal .article-title{
   border-right: 0px solid #fff;
   padding:0;
   
}
#modal .breaking-news-title{ 
padding:10px;
margin:0px;
}
.news-a:hover ,.news-b:hover ,.news-c:hover ,.news-d:hover ,.main-slider-thumbs > div:hover {
    background: #bbb; 
}
.left-header-area {
    max-width: 56%;
    margin-right: 20px;
}
}

/* ----------- iPad ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
.tabbed-contents-header li {
	width: 24%;
}
.news-a {
	width: 31%;
	max-width: 31%;
}
.news-a:nth-child(2n) {
	margin-left: 14px;
}
.news-b {
	width: 31%;
	max-width: 31%;
}
.news-b:nth-child(2n) {
	margin-left: 14px;
}
.half-box .tabbed-contents-pages, .half-box #tabs-roll, .half-box .tab-page, .half-box .news-page {
	width: 100% !important;
}
.half-box .news-d, .box.right-box.d-style .news-d {
	width: 48%;
	max-width: 48%;
	height: 170px;
}
.box.d-style .tabbed-contents-pages, .box.d-style .tab-page, .box.d-style .news-page, .box.right-box.d-style .tabbed-contents-pages, .box.right-box.d-style .tab-page, .box.right-box.d-style .news-page {
	height: 360px;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper, .box.youtube.left-style, .first-banner {
	width: 48% !important;
	padding-top: 15px;
	height: 325px;
	margin-left: 2%;
}
.box-contents iframe {
	height: 247px;
}
.box.from-readers {
	width: 48% !important;
	margin-top: 0;
	margin-left: 2%;
}
.from-readers.top-views {
	width: 100% !important;
}
.from-readers.mini-box:nth-child(2n) .box-contents .news-c {
	height: 73px;
}
div#polls-wrapper, .box.html-box.left-style.mini-box.character {
	width: 48% !important;
	margin-left: 2%;
	margin-top: 1%;
	height: 350px;
}
.box.mini-box.polls {
	height: 348px;
	padding-top: 15px;
}
.box.html-box.left-style.twitter, .box.top-views.left-style.left-box.dead {
	width: 48% !important;
	margin-left: 2%;
	height: 320px;
}
.tabbed-video .news-d, .tabbed-video .news-d {
	width: 141px;
	max-width: 22%;
}
.left-ads, .tabbed-contents.camera {
	width: 48% !important;
	margin-left: 2%;
	right: 0;
	left: auto;
	float: right !important;
	margin-top: 1%;
	height: 326px;
}
.chart-legend li {
	width: 30%;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper.char-div-2 {
	width: 100% !important;
}
.live-streaming-block {
	width: 49%;
}
.main-slider-thumbs > div, .main-slider-thumbs > div:hover {
	width: 48%;
	margin-left: 3%;
}
.main-slider-thumbs > div:nth-child(2n) {
	margin-left: 0;
}
.main-slider-thumbs > div .shadow {
	top: 266px;
}
.main-slider-thumbs > div.active {
	width: 48%;
}
.inner .box.from-readers {
	width: 100% !important;
}
.inner .full-style .box-contents .pull-right.news-b {
	width: 23.1%;
	margin-left: 10px !important;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 357px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 702px;
}
.cat-box-wakeel-prog {
	width: 49% !important;
	margin-left: 1%;
}
.odd-class.cat-box-wakeel-prog {
	width: 98.7% !important;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 38%;
}
.auther-block .desc {
	width: 66%;
}
.left-ads, .first-banner {
	left: 0 !important;
	margin-left: 0px !important;
}
.tabbed-contents.camera {
	margin-right: 2% !important;
}
.gallay-block {
  margin-left: 2%;
  width: 48%;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.tabbed-contents-header li {
	width: 24%;
}
.news-a {
	width: 31%;
	max-width: 31%;
}
.news-a:nth-child(2n) {
	margin-left: 14px;
}
.news-b {
	width: 31%;
	max-width: 31%;
}
.news-b:nth-child(2n) {
	margin-left: 14px;
}
.half-box .tabbed-contents-pages, .half-box #tabs-roll, .half-box .tab-page, .half-box .news-page {
	width: 100% !important;
}
.half-box .news-d, .box.right-box.d-style .news-d {
	width: 48%;
	max-width: 48%;
	height: 170px;
}
.box.d-style .tabbed-contents-pages, .box.d-style .tab-page, .box.d-style .news-page, .box.right-box.d-style .tabbed-contents-pages, .box.right-box.d-style .tab-page, .box.right-box.d-style .news-page {
	height: 360px;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper, .box.youtube.left-style, .first-banner {
	width: 48% !important;
	padding-top: 15px;
	height: 325px;
	margin-left: 2%;
}
.box-contents iframe {
	height: 247px;
}
.box.from-readers {
	width: 48% !important;
	margin-top: 0;
	margin-left: 2%;
}
.from-readers.top-views {
	width: 100% !important;
}
.from-readers.mini-box:nth-child(2n) .box-contents .news-c {
	height: 73px;
}
div#polls-wrapper, .box.html-box.left-style.mini-box.character {
	width: 48% !important;
	margin-left: 2%;
	margin-top: 1%;
	height: 350px;
}
.box.mini-box.polls {
	height: 348px;
	padding-top: 15px;
}
.box.html-box.left-style.twitter, .box.top-views.left-style.left-box.dead {
	width: 48% !important;
	margin-left: 2%;
	height: 320px;
}
.tabbed-video .news-d, .tabbed-video .news-d {
	width: 141px;
	max-width: 22%;
}
.left-ads, .tabbed-contents.camera {
	width: 48% !important;
	margin-left: 2%;
	right: 0;
	left: auto;
	float: right !important;
	margin-top: 1%;
	height: 326px;
}
.chart-legend li {
	width: 30%;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper.char-div-2 {
	width: 100% !important;
}
.live-streaming-block {
	width: 49%;
}
.main-slider-thumbs > div, .main-slider-thumbs > div:hover {
	width: 48%;
	margin-left: 3%;
}
.main-slider-thumbs > div:nth-child(2n) {
	margin-left: 0;
}
.main-slider-thumbs > div .shadow {
	top: 266px;
}
.main-slider-thumbs > div.active {
	width: 48%;
}
.inner .box.from-readers {
	width: 100% !important;
}
.inner .full-style .box-contents .pull-right.news-b {
	width: 23.1%;
	margin-left: 10px !important;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 357px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 702px;
}
.cat-box-wakeel-prog {
	width: 49% !important;
	margin-left: 1%;
}
.odd-class.cat-box-wakeel-prog {
	width: 98.7% !important;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 38%;
}
.auther-block .desc {
	width: 66%;
}
.left-ads, .first-banner {
	left: 0 !important;
	margin-left: 0px !important;
}
.tabbed-contents.camera {
	margin-right: 2% !important;
}
.gallay-block {
  margin-left: 2%;
  width: 48%;
}
}

/* ----------- iPhone 6 && iPhone6+ ----------- */
/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.tabbed-contents-header li {
	width: 24%;
}
.camera .tabbed-contents-header li {
	width: 29%;
}
.news-a {
	width: 30.9%;
	max-width: 30.9%;
}
.news-a:nth-child(2n) {
	margin-left: 14px;
}
.news-b {
	width: 31%;
	max-width: 31%;
}
.news-b:nth-child(2n) {
	margin-left: 14px;
}
.half-box .tabbed-contents-pages, .half-box #tabs-roll, .half-box .tab-page, .half-box .news-page {
	width: 100% !important;
}
.half-box .news-d, .box.right-box.d-style .news-d {
	width: 48%;
	max-width: 48%;
	height: 170px;
}
.box.d-style .tabbed-contents-pages, .box.d-style .tab-page, .box.d-style .news-page, .box.right-box.d-style .tabbed-contents-pages, .box.right-box.d-style .tab-page, .box.right-box.d-style .news-page {
	height: 360px;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper, .box.youtube.left-style, .first-banner {
	width: 48% !important;
	padding-top: 15px;
	height: 325px;
	margin-left: 2%;
}
.box-contents iframe {
	height: 247px;
	width: 270px;
}
.box.from-readers {
	width: 48% !important;
	margin-top: 0;
	margin-left: 2%;
}
.from-readers.top-views {
	width: 100% !important;
}
.from-readers.mini-box:nth-child(2n) .box-contents .news-c {
	height: 73px;
}
div#polls-wrapper, .box.html-box.left-style.mini-box.character {
	width: 48% !important;
	margin-left: 2%;
	margin-top: 1%;
	height: 350px;
}
.box.mini-box.polls {
	height: 348px;
	padding-top: 15px;
}
.box.html-box.left-style.twitter, .box.top-views.left-style.left-box.dead {
	width: 48% !important;
	margin-left: 2%;
	height: 320px;
}
.tabbed-video .news-d, .tabbed-video .news-d {
	width: 141px;
	max-width: 22%;
}
.left-ads, .tabbed-contents.camera {
	width: 48% !important;
	margin-left: 2%;
	right: 0;
	left: auto;
	float: right !important;
	margin-top: 1%;
	height: 267px;
}
.chart-legend li {
	width: 29%;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper.char-div-2 {
	width: 100% !important;
}
.pop-up-ads {
	top: 5%;
}
.main-slider-thumbs > div, .main-slider-thumbs > div:hover {
	width: 48%;
	margin-left: 3%;
}
.main-slider-thumbs > div:nth-child(2n) {
	margin-left: 0;
}
.main-slider-thumbs > div .shadow {
	top: 220px;
}
.main-slider-thumbs > div.active {
	width: 48%;
}
.inner .box.from-readers {
	width: 100% !important;
}
.inner .full-style .box-contents .pull-right.news-b {
	width: 23.1%;
	margin-left: 10px !important;
}
.inner .full-style .box-contents .pull-right.news-b:nth-child(4n) {
	margin-left: 0px !important;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 307px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 605px;
}
.cat-box-wakeel-prog {
	width: 49% !important;
	margin-left: 1%;
}
.odd-class.cat-box-wakeel-prog {
	width: 98.7% !important;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 44%;
}
.auther-block .desc {
	width: 66%;
}
.first-banner, .tabbed-contents.camera {
	left: 0 !important;
	margin-left: 0px !important;
	float: left !important;
}
.gallay-block {
  margin-left: 2%;
  width: 48%;
}
}

/* iPhone6+ landscape */

@media only screen  and (min-device-width : 414px)  and (max-device-width : 736px)  and (device-width : 414px)  and (device-height : 736px)  and (orientation : portrait)  and (-webkit-min-device-pixel-ratio : 3)  and (-webkit-device-pixel-ratio : 3) {
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 386px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 760px;
}
.main-slider-thumbs > div .shadow {
    top: 293px;
}
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
.tabbed-contents-header li {
	width: 24%;
}
.camera .tabbed-contents-header li {
	width: 29%;
}
.news-a {
	width: 31%;
	max-width: 31%;
}
.news-a:nth-child(2n) {
	margin-left: 14px;
}
.news-b {
	width: 31%;
	max-width: 31%;
}
.news-b:nth-child(2n) {
	margin-left: 14px;
}
.half-box .tabbed-contents-pages, .half-box #tabs-roll, .half-box .tab-page, .half-box .news-page {
	width: 100% !important;
}
.half-box .news-d, .box.right-box.d-style .news-d {
	width: 48%;
	max-width: 48%;
	height: 170px;
}
.box.d-style .tabbed-contents-pages, .box.d-style .tab-page, .box.d-style .news-page, .box.right-box.d-style .tabbed-contents-pages, .box.right-box.d-style .tab-page, .box.right-box.d-style .news-page {
	height: 360px;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper, .box.youtube.left-style, .first-banner {
	width: 48% !important;
	padding-top: 15px;
	height: 325px;
	margin-left: 2%;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper {
	height: 290px;
}
.box-contents iframe {
	height: 247px;
	width: 270px;
}
.box.from-readers {
	width: 48% !important;
	margin-top: 0;
	margin-left: 2%;
}
.inner .box.from-readers {
	width: 100% !important;
}
.from-readers.top-views {
	width: 100% !important;
}
.from-readers.mini-box:nth-child(2n) .box-contents .news-c {
	height: 73px;
}
div#polls-wrapper, .box.html-box.left-style.mini-box.character {
	width: 48% !important;
	margin-left: 2%;
	margin-top: 1%;
	height: 350px;
}
.box.mini-box.polls {
	height: 348px;
	padding-top: 15px;
}
.box.html-box.left-style.twitter, .box.top-views.left-style.left-box.dead {
	width: 48% !important;
	margin-left: 2%;
	height: 320px;
}
.tabbed-video .news-d, .tabbed-video .news-d {
	width: 141px;
	max-width: 22%;
}
.left-ads, .tabbed-contents.camera {
	width: 48% !important;
	margin-right: 2%;
	right: 0;
	left: auto;
	float: right !important;
	margin-top: 1%;
	height: 311px;
}
.chart-legend li {
	width: 30%;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper.char-div-2 {
	width: 100% !important;
}
.pop-up-ads {
	top: 5%;
}
.main-slider-thumbs > div, .main-slider-thumbs > div:hover {
	width: 48%;
	margin-left: 3%;
}
.main-slider-thumbs > div:nth-child(2n) {
	margin-left: 0;
}
.main-slider-thumbs > div .shadow {
	top: 225px;
}
.main-slider-thumbs > div.active {
	width: 48%;
}
.inner .full-style .box-contents .pull-right.news-b {
	width: 23.3%;
	margin-left: 10px !important;
}
.inner .full-style .box-contents .pull-right.news-b:nth-child(4n) {
	margin-left: 0px !important;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 341px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 672px;
}
.cat-box-wakeel-prog {
	width: 49% !important;
	margin-left: 1%;
}
.odd-class.cat-box-wakeel-prog {
	width: 98.7% !important;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 38%;
}
.auther-block .desc {
	width: 66%;
}
.left-ads, .first-banner {
	left: 0 !important;
	margin-left: 0 !important;
}
.main-slider-thumbs > div .shadow {
    top: 251px;
}
.gallay-block {
  margin-left: 2%;
  width: 48%;
}
}

/* ----------- iPhone 4  ----------- */
/* Portrait */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 480px)  and (device-width : 320px)  and (device-height : 480px)  and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 291px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 572px;
}
.main-slider-thumbs > div .shadow {
    top: 205px;
}
}

/* Landscape */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 480px)  and (device-width : 480px )  and (device-height : 320px)  and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) {
.left-ads, .first-banner {
	width: 290px !important;
}
.box.top-views.left-style.mini-box.character.box-slider-wrapper, .box.youtube.left-style {
	width: 100% !important;
}
.news-a {
	width: 30.9%;
	max-width: 30.3%;
}
.news-b {
	width: 31%;
	max-width: 30%;
}
.box.from-readers {
	width: 100% !important;
	margin-top: 0;
	margin-left: 0;
}
div#polls-wrapper, .box.html-box.left-style.mini-box.character {
	width: 100% !important;
	margin-left: 0;
	margin-top: 1%;
	height: 350px;
}
.box.html-box.left-style.mini-box.character {
	height: 400px;
}
.box.html-box.left-style.mini-box.character .box-contents {
	max-height: 350px;
}
.programs-list a {
	height: 170px;
}
.left-ads {
	height: auto;
}
.tabbed-contents.camera {
	width: 100% !important;
}
.tabbed-contents.camera.d-style .news-d.item-0 {
	right: 6px;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 453px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 892px;
}
.cat-box-wakeel-prog {
	width: 49% !important;
	margin-left: 1%;
}
.odd-class.cat-box-wakeel-prog {
	width: 98.7% !important;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 62%;
}
.auther-block .desc {
	width: 100%;
}
.box.html-box.left-style.twitter, .box.top-views.left-style.left-box.dead {
	width: 100% !important;
	margin-left: 0 !important;
}
.main-slider-thumbs > div .shadow {
    top: 205px;
}
.main-slider-thumbs > div .shadow {
    top: 136px;
}
}

/* ----------- iPhone 5  ----------- */
/* Portrait */
@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px)  and (device-width : 320px)  and (device-height : 568px)  and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait) {
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 291px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 572px;
}
.main-slider-thumbs > div .shadow {
    top: 175px;
}
.main-slider-thumbs > div .shadow {
    top: 205px;
}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (device-width : 568px) and (device-height : 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
.box.top-views.left-style.mini-box.character.box-slider-wrapper, .box.youtube.left-style, .first-banner, div#polls-wrapper, .box.html-box.left-style.mini-box.character, .left-ads, .tabbed-contents.camera, .box.html-box.left-style.twitter, .box.top-views.left-style.left-box.dead {
	width: 100% !important;
}
.tabbed-contents-header li {
	width: 23.5%;
}
.news-a, .news-b {
	width: 30%;
	max-width: 30%;
}
.tabbed-video .news-d, .tabbed-video .news-d {
	width: 141px;
	max-width: 21%;
}
.pop-up-ads {
	top: 5%;
}
.news-a:nth-child(2n) {
	margin-left: 14px;
}
.inner .box.from-readers {
	width: 100% !important;
}
.inner .full-style .box-contents .pull-right.news-b {
	width: 31.1%;
	margin-left: 10px !important;
}
.inner .full-style .box-contents .pull-right.news-b:nth-child(4n) {
	margin-left: 10px !important;
}
.inner .full-style .box-contents .pull-right.news-b:nth-child(3n) {
	margin-left: 0px !important;
}
.left-ads, .tabbed-contents.camera {
	height: 475px;
}
.tabbed-contents.camera.d-style .news-d.item-0 {
	right: 6px;
}
.tabbed-contents.camera.d-style .news-d.item-1 {
	right: 537px;
}
.tabbed-contents.camera.d-style .news-d.item-2 {
	right: 1065px;
}
.cat-box-wakeel-prog {
	width: 49% !important;
	margin-left: 1%;
}
.odd-class.cat-box-wakeel-prog {
	width: 98.7% !important;
}
.inner .left-hand-contents .banners-list.banners.full-box .banner {
	width: 52%;
}
.auther-block .desc {
	width: 58%;
}
.left-ads, .first-banner {
	width: 290px !important;
	height: auto;
}
.programs-list a {
	height: 200px;
}
.box.html-box.left-style.mini-box.character {
	height: 480px;
}
.box.html-box.left-style.mini-box.character .box-contents {
	max-height: 420px;
}
.main-slider-thumbs > div .shadow {
    top: 175px;
}
}
