img{border:0px;}

.tablePagnation{
	font-size:11px;
	text-decoration:none;
	font-family: Tahoma, sans-serif;
	display: block;
	float: right;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}
.tablePagnation label{
	font-size:11px;
	text-decoration:none;
}
.pagnation{
	font-size:11px;
	text-align:center; 
	padding:4px 8px 5px; 
	border:1px solid #ccc; 
	background:#f6f6f6; 
	background-image:-moz-linear-gradient(top,#ffffff,#efefef); 
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef)); 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	overflow:visible;
	display:inline-block;
	color:#000000;
	text-decoration:none;
}

.pagnation_selected{
	text-align:center; 
	text-decoration:none;
	padding:4px 8px 5px; 
	border:1px solid #ccc; 
	background:#f6f6f6; 
	color:#000000;
	background-image:-moz-linear-gradient(top,#ffffff,#aaaaaa); 
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#aaaaaa)); 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#aaaaaa);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#aaaaaa)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	overflow:visible;
	display:inline-block;
	font-weight:bold;
}

.pagnation:hover{
	border-color:#999;
	background:#f3f3f3;
	background-image:-moz-linear-gradient(top,#ffffff,#ebebeb);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb));
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EBEBEB)";
	outline:0;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
	text-decoration:none;
}

.btn3d{
	border:1px solid #ccc; 
	background:#f6f6f6; 
	background-image:-moz-linear-gradient(top,#ffffff,#efefef); 
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#efefef)); 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
	padding-left:4px;
	padding-right:4px;
	text-decoration:none;
	color:#900000;
}

.btn3d:hover{
	border-color:#999;
	background:#f3f3f3;
	background-image:-moz-linear-gradient(top,#ffffff,#ebebeb);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ebebeb));
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#ebebeb);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EBEBEB)";
	outline:0;
	-moz-box-shadow:0 0 3px #999;
	-webkit-box-shadow:0 0 3px #999;
	box-shadow:0 0 3px #999;
	text-decoration:none;
}

.infoSpace{
	border:1px solid #ccc; 
	background:#f6f6f6; 
	background-image:-moz-linear-gradient(top,#ffffff,#dfdfdf); 
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#dfdfdf)); 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#dfdfdf);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#dfdfdf)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.infoHeader{
	border:1px solid #ccc; 
	background:#f6f6f6; 
	background-image:-moz-linear-gradient(top,#ffffff,#dfdfdf); 
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#dfdfdf)); 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#dfdfdf);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#dfdfdf)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	direction:rtl;
}

.infoFooter{
	border:1px solid #ccc; 
	background:#f6f6f6; 
	background-image:-moz-linear-gradient(top,#ffffff,#afafaf); 
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#afafaf)); 
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#afafaf);
	-ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#afafaf)";
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.textArea{
background: #dfe3e4;
  background: -webkit-gradient(linear, left top, left bottom, from(#edeff0), to(#ffffff));
  background: -moz-linear-gradient(top, #edeff0, #ffffff);
  background: linear-gradient(top, #edeff0, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edeff0', endColorstr='#ffffff');
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #c1c1c1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tableHeader{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
	background: -moz-linear-gradient(top, #ffffff, #dddddd);
	background: linear-gradient(top, #ffffff, #dddddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
	border-color: #bbbbbb;
	border-color: rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	color: #555555;
	text-shadow: 0 1px 0 #fff;
	text-align:center;
}

.tableData{
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
	background: -moz-linear-gradient(top, #ffffff, #ededed);
	background: linear-gradient(top, #ffffff, #ededed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	border: 1px solid #dfd780;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	color: #3a3a3a;
	text-shadow: 0 1px 0 #fff;
}
.tableData:hover{
	background: #fbf5b1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcf8c9), to(#f9f299));
	background: -moz-linear-gradient(top, #fcf8c9, #f9f299);
	background: linear-gradient(top, #fcf8c9, #f9f299);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf8c9', endColorstr='#f9f299');
	border: 1px solid #dfd780;
	border-top-color: #fbf5b1;
	border-left-color: #fbf5b1;
	-webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);;
}

.center_div{
	display:none;
	position: fixed; /* Needed for Safari */
	margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */
	text-align: right;
	width: 400px;
	#background-color: #e9e9e9;
	#border:1px solid #dedede;
	z-index:9999999;
}

.center_div2{
	display:none;
	position: fixed; /* Needed for Safari */
	margin: auto; /* Takes care of horizontal alignment in standards compliant browsers */
	text-align: right;
	top:0px;
	left:0px;
	z-index:9999998;
	width: 100%;
	height: 100%;
	background-color:#000000;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

.btnSendclass {
	border-radius: 7px;
	padding: 5px;
	width: 176px;
	border: 1px solid #e0e0e0;
	webkit-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	-moz-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	cursor: pointer; 
	cursor: hand;
	font-family: 'Droid Arabic Naskh';
	font-weight:normal;
	font-size: 15px;
	color: #FFF;
	background: #B50000;
	background-image: -webkit-linear-gradient(top, #B50000, #E06E6E);
	background-image: -moz-linear-gradient(top, #B50000, #E06E6E);
	background-image: -ms-linear-gradient(top, #B50000, #E06E6E);
	background-image: -o-linear-gradient(top, #B50000, #E06E6E);
	background-image: linear-gradient(to bottom, #B50000, #E06E6E);
}

.btnSendclass:hover {
	background: #E06E6E;
	background-image: -webkit-linear-gradient(top, #E06E6E, #B50000);
	background-image: -moz-linear-gradient(top, #E06E6E, #B50000);
	background-image: -ms-linear-gradient(top, #E06E6E, #B50000);
	background-image: -o-linear-gradient(top, #E06E6E, #B50000);
	background-image: linear-gradient(to bottom, #E06E6E, #B50000);
}

.green_btn {
	text-align:center;
	background: #6BA529;
	background-image: -webkit-linear-gradient(top, #6BA529, #1E8E21);
	background-image: -moz-linear-gradient(top, #6BA529, #1E8E21);
	background-image: -ms-linear-gradient(top, #6BA529, #1E8E21);
	background-image: -o-linear-gradient(top, #6BA529, #1E8E21);
	background-image: linear-gradient(to bottom, #6BA529, #1E8E21);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
	display: block;
    margin: 3px;
}

.green_btn:hover {
	background: #1E8E21;
	background-image: -webkit-linear-gradient(top, #1E8E21, #6BA529);
	background-image: -moz-linear-gradient(top, #1E8E21, #6BA529);
	background-image: -ms-linear-gradient(top, #1E8E21, #6BA529);
	background-image: -o-linear-gradient(top, #1E8E21, #6BA529);
	background-image: linear-gradient(to bottom, #1E8E21, #6BA529);
	text-decoration: none;
}

.orange_btn {
	text-align:center;
	background: #CA9D9D;
	background-image: -webkit-linear-gradient(top, #CA9D9D, #C77878);
	background-image: -moz-linear-gradient(top, #CA9D9D, #C77878);
	background-image: -ms-linear-gradient(top, #CA9D9D, #C77878);
	background-image: -o-linear-gradient(top, #CA9D9D, #C77878);
	background-image: linear-gradient(to bottom, #CA9D9D, #C77878);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
	display: block;
    margin: 3px;
}

.orange_btn:hover {
	background: #C77878;
	background-image: -webkit-linear-gradient(top, #C77878, #CA9D9D);
	background-image: -moz-linear-gradient(top, #C77878, #CA9D9D);
	background-image: -ms-linear-gradient(top, #C77878, #CA9D9D);
	background-image: -o-linear-gradient(top, #C77878, #CA9D9D);
	background-image: linear-gradient(to bottom, #C77878, #CA9D9D);
	text-decoration: none;
}


.red_btn {
	text-align:center;
	background: #E06E6E;
	background-image: -webkit-linear-gradient(top, #E06E6E, #B50000);
	background-image: -moz-linear-gradient(top, #E06E6E, #B50000);
	background-image: -ms-linear-gradient(top, #E06E6E, #B50000);
	background-image: -o-linear-gradient(top, #E06E6E, #B50000);
	background-image: linear-gradient(to bottom, #E06E6E, #B50000);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
	display: block;
    margin: 3px;
}

.red_btn:hover {
	background: #B50000;
	background-image: -webkit-linear-gradient(top, #B50000, #E06E6E);
	background-image: -moz-linear-gradient(top, #B50000, #E06E6E);
	background-image: -ms-linear-gradient(top, #B50000, #E06E6E);
	background-image: -o-linear-gradient(top, #B50000, #E06E6E);
	background-image: linear-gradient(to bottom, #B50000, #E06E6E);
	text-decoration: none;
}

.blue_btn {
	text-align:center;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
	display: block;
    margin: 3px;
}

.blue_btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

.cbtnSelected {
	background: #75B0D8;
	background-image: -webkit-linear-gradient(top, #75B0D8, #033D63);
	background-image: -moz-linear-gradient(top, #75B0D8, #033D63);
	background-image: -ms-linear-gradient(top, #75B0D8, #033D63);
	background-image: -o-linear-gradient(top, #75B0D8, #033D63);
	background-image: linear-gradient(to bottom, #75B0D8, #033D63);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
}

.cbtnSelected:hover {
	background: #033D63;
	background-image: -webkit-linear-gradient(top, #033D63, #75B0D8);
	background-image: -moz-linear-gradient(top, #033D63, #75B0D8);
	background-image: -ms-linear-gradient(top, #033D63, #75B0D8);
	background-image: -o-linear-gradient(top, #033D63, #75B0D8);
	background-image: linear-gradient(to bottom, #033D63, #75B0D8);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
}

.cbtn {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	font-family: 'Droid Arabic Naskh';
	color: #ffffff;
	font-size: 14px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-weight: bold;
	display: -webkit-inline-box;
}

.cbtn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}

#commentForm input[type="text"] {
	border-radius: 0px;
	padding: 5px;
	width: 80% !important;
	border: 1px solid #e0e0e0;
	webkit-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	-moz-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	font-family: 'Droid Arabic Naskh';
}

#commentForm textarea {
	border-radius: 0px;
	padding: 5px;
	width: 90% !important;
	height: 125px !important;
	border: 1px solid #e0e0e0;
	webkit-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	-moz-box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	box-shadow: 0 1px 5px rgba(120, 120, 120, .3);
	font-family: 'Droid Arabic Naskh';
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper object,
.videoWrapper embed,  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video {
	width: 100%    !important;
	height: auto   !important;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}