body {
	padding:0;
	font-size:14px;
}
.page {
	width:100%;
	padding-left:0;
	padding-right:0;
}
	
.span12,
.span8,
.container,
.span6,
.page {
	width:100%;
	margin-left:0;
	float:none;
}
	
.fullwidth-inner {
	width:100%;
}
.row {
	margin:0;
}
#sidebar {
	width:100%;
	margin:0;
	float:none;
	text-align:center;
	padding:0;
}
#sidebar > div {
	display:inline-block;
	width:300px;
	text-align:left;
	vertical-align:top;
	margin-left:23px;
	margin-right:23px;
	padding-left:0;
	padding-right:0;
}
#sidebar .promobox.visible-tablet,
#sidebar .promobox.hidden-desktop {
	display:inline-block !important;
}
.head-page1 {
	font-size:36px;
	color:#999;
	letter-spacing:normal;
}
.head-page2 {
	font-size:30px;
	color:#fff;
	margin:0 -2.459% !important;
	background-color:#2e2e2e;
	padding:20px 2.459%;
	line-height:1em;
}
.head-section-light2 h1,
.head-section-light2 .tdih-label { 
	font-size:45px;
}
.head-section1 {
	margin-bottom:13px;
	margin-left:2.34375%;
}
.head-section4, .head-section-grp > h1 {
	font-size:26px;
}
.head-section4 > small {
	font-size:.7em;
}
.head-section6 {
	font-size:20px;
}
.head-section7 {
	font-size:14px;
	line-height:1.2em;
	color:#999;
	font-weight:bold;
	text-transform:uppercase;
}
.head-section8 {
	font-size:16px;
}
.section-marked {
	padding-top:20px;
	background-color:#1b1b1b;
}
.section-marked .head-section1 {
	font-size:16px;
}
.section-marked .sizeD .thumb-label {
	font-size:12px;
	margin-bottom:3px;
	color:#999;
}
.section-marked .sizeD .thumb-meta {
	font-size:10px;
}
.section-content {
	padding-bottom:20px;
}
#sidebar {
	margin-bottom:30px;
	margin-top:20px;
}
.section-marked2 {
	border-top-width:2px;
}
#videoGalleries #sidebar .ad.square .ad-label{
	position:static;
	margin:0;
}
#episodes .section-content {
	padding-bottom:0px;
}
#homepageGalleries .head-section1,
#videoCarousels .head-section1 {
	font-size: 24px;
}
#videoCarousels .head-section1 {
	padding-top:20px;
}
.thumb-list .popover {
	display:none !important;
}
.phone-accordion .collapse {
	height:auto !important;
}
.fluid-row-14 > [class*=span],
.fluid-row-14 [class*='span'].offset1_a,
.fluid-row-14 .topic-body > [class*=span] {
	margin-left: 2.34375%;
	margin-right: 2.34375%;
	width:auto;
}
.fluid-row-14 .span-full-tablet {
	width:100%;
}
.device-fullwidth {
	margin-left: -2.34375%;
	margin-right: -2.34375%;
}
.light-theme .container,
.pagemasthead .fullwidth-inner {
	margin-left:2.34375%;
	margin-right:2.34375%;
	width:auto;
}
.light-theme .container .container {
	margin-left:0;
	margin-right:0;
}
.light-theme [class*="head-"] {
	margin-left:0;
}
.light-theme .slider-inner,
.light-theme div:not(.slider-inner) > .thumb-list {
	margin-left:-2.459569%;
	margin-right:-2.459569%;
	width:auto;
}
.light-theme .container .section-header,
.light-theme .container .subsection-header,
.light-theme .container .section-main-img,
.light-theme .container .media-info,
.light-theme .container .dropdown.media-filter {
	margin-left:0;
	margin-right:0;
}
.light-theme .section-marked2 {
	border-top:none;
}
.main-wrapper {
  width:100%;
  overflow:hidden;
}
.view-page {
  z-index:10;
  position:relative;
  -moz-box-shadow: 0 0 8px #000;
  -webkit-box-shadow: 0 0 8px #000;
  box-shadow: 0 0 8px #000;
}
.menu-expanded {
  position:fixed;
  width:100%;
  height:100%;
  overflow:hidden;
  left:0;
}
.content-cover {
  display:none;
  position:fixed;
  left:225px;
  height:100%;
  width:calc(100% - 225px);
  z-index:10;
}
.sidenav-wrapper {
  width:245px;
  -webkit-transform: translateX(-245px);
     -moz-transform: translate(-245px);
      -ms-transform: translate(-245px); // IE9+
        -o-transform: translate(-245px); 
          transform: translate(-245px);
  background-color:#2d2d2d;
  position:fixed;
  top:0;
  bottom:0;
  overflow:auto;
   -webkit-overflow-scrolling: touch;
 } 
 .sidenav-wrapper .close-nav {
  display: block;
  font-size:13px;
  color:#666;
  text-transform:uppercase;
  border-bottom:1px solid rgba(0,0,0,0.2);
  padding:5px 12px;
    
}
 .sidenav-wrapper .close-nav:after {
      content:"×";
      display:inline-block;
      margin-left:8px;
      font-size:20px;
      line-height:1em;
      position:relative;
      top:3px;
    }
   .sidenav-wrapper .close-nav:after:hover {
    text-decoration:none;
   }
.main-menu .nav-items {
  width:225px;
  overflow:hidden;
  padding:20px 0 20px 20px;
}
  
 .main-menu .nav-items li {
  font-family:'Roboto Condensed', sans-serif;
  text-transform:uppercase;
  padding:12px 0 12px 12px;
  border-bottom:1px solid rgba(0,0,0,0.2);
 
}
.main-menu .nav-items .main-nav li {
  font-size:26px;
}
.main-menu .nav-items .main-nav li a {
  color:#fff;
}
.main-menu .nav-items .sub-nav li {
  font-size:20px;
}
.main-menu .nav-items .social-links {
  background-color:#242424;
  display:inline-block;
  margin-top:25px;
  margin-right:12px;
}
.main-menu .nav-items .social-links li {
  float:left;
  border-bottom:none;
  padding:12px 24px;
  border-left:1px solid rgba(0,0,0,0.2);
}
.main-menu .nav-items .social-links li.wide {
  padding:12px 13px;
}
.main-menu .nav-items .social-links li.full {
  width:165px;
  font-size:14px;
  text-align:center;
  
}
.main-menu .nav-items .social-links li.full a {
  color:#999;
}
.main-menu .nav-items .social-links li.full .icon {
  display:inline-block;
  margin-left:5px;
  vertical-align:middle;
}
.main-menu .nav-items .social-links li.full .icon-email {
  margin-right:10px;
}
.main-menu .nav-items .social-links li:nth-child(3n+1) {
  border-left:none;
}
.main-menu .nav-items .social-links li:nth-child(n+4) {
  border-top:1px solid rgba(0,0,0,0.2);
}
.main-menu .nav-items li.with-icon {
  padding: 12px 0 12px 12px;
  position:relative;  
  
}
.main-menu .nav-items li.with-icon a {
  position:relative;
  padding-left:42px;  
}
.main-menu .nav-items li.with-icon .icon {
  position:absolute;
  left:12px;
  top:6px; 
}
.mastheadcol {
	float:none;
	background-color:#2d2d2d;
	position:relative;
}
.mastheadcol-in {
	background-color:#0d0d0d;
	padding:8px 0 6px;
}
.mastheadcol .nav-btn {
	display:block;
	width:36px;
	background:url(../img/sprite.png) no-repeat;
	position:absolute;
	bottom:10px;
	text-indent:-9999px;
}
.mastheadcol .sidenav-btn {
	height:26px;
	background-position:-591px -427px;
	left:2.597%;
}
.mastheadcol .search-btn {
	height:36px;
	background-position:-662px -423px;
	right:2.597%;;
}
.main-logo{
	background-size:600px;
	background-position:-314px -346px;
	width:97px;
	height:91px;
	margin:0 auto;
	float:none;
}
.searchbox {
	margin-left:0;
}
.searchbox .gsc-input[type="text"],
.searchbox input.gsc-search-button {
	background-color:#212121 !important;
}
.showmasthead {
	padding-left:2.604%;
	position:relative;
	padding-top:25px;
	padding-bottom:20px;
}
.showmasthead-inner.fullwidth-inner {
	position: relative;
}
.show-title {
	font-size:37px;
	float:none;
	margin-bottom:10px;
	margin-right:0px;
	max-width:469px;
	position: static;
}
.show-title-meta {
	float:none;
	position: static;
	display: block;
}
.show-subtitle {
	max-width:9999px;
	margin-top:0;
	font-size:15px;
	margin-right:50px;
	text-transform:none;
}
.show-subtitle {
	color:#ffcc00;
}
.show-subtitle > br {
	display:none;
}
.show-sponsor {
	margin-bottom:-3px;
	margin-top:0;
}
.icon-list.show-social-list {
	position:absolute;
	top:50%;
	right:2.604%;
	margin-top:-8px;
}
.showmasthead .show-social-list a {
	color:#ffcc00;
}
.mainnav {
	background:#4f4f4f;
	padding-left:1%;
}
.mainnav a {
	font-size:14px;
	letter-spacing:.05em;
	padding:0 16px;
}
.login-area {
	display:none;
}
.show-social-list > li {
	margin-left:19px;
}
.show-social-list .icon.lighticon.icon-twitter {
	width:20px;
	height:17px;
	background-position: -131px -379px;
}
.show-social-list .icon.lighticon.icon-facebook {
	width:7px;
	height:17px;
	background-position: -205px -379px;
}
.show-social-list .icon.lighticon.icon-instagram {
	width:16px;
	height:16px;
	background-position:-244px -379px;
	background-size:800px;
}
.site-fblike .fb_reset iframe {
	width:10px;
}
.light-theme .showmasthead {
	padding:20px 0;
	background-color:#2e2e2e;
}
.light-theme .show-title {
	margin:0 2.34375%;
	color:#fff;
	font-size:30px;
}
.thumb-list {
	margin-bottom: 20px;
}
.thumb-list > .span2,
.thumb-list > .span4 {
	margin-left:2.34375%;
	width:22.0703%;
	margin-bottom:20px;
}
.thumb-list > .tablet-span8,
.lg-thumb .thumb-list > .span4 {
	width:46.484375%;
}
.thumb-list > .span2:nth-child(4n+1),
.thumb-list > .span4:nth-child(4n+1),
.thumb-list > .tablet-span8:nth-child(2n+1) {
	margin-left:2.34375%;
	clear:left;
}
.thumb-list > .span2:nth-child(4n),
.thumb-list > .span4:nth-child(4n),
.thumb-list > .tablet-span8:nth-child(2n) {
	margin-right:2.34375%;
}
.thumb-label,
.sizeB .thumb-label,
.sizeA .thumb-label {
	font-size:14px;
	line-height:1.3em;
}
.tablet-span8 .thumb-label {
	font-size:15px;
}
.thumb-meta,
.sizeA .thumb-meta {
	font-size:10px;
}
.thumb-list.multiline .thumb-box .caption {
	min-height:58px;
}
.carousel-phone .item,
.slider-phone .item {
	width: 40%;
}
.carousel-phone .thumb-list > .span2,
.slider-phone .thumb-list > .span2 {
	width:46.484375%;
}
.thumb-list > .tablet-span8,
.thumb-list > .tablet-span6 {
	width:46.484375%;
}
.dropdown.media-filter {
	font-size:15px;
	margin-left:0px;
	margin-right:18px;
	width:auto;
	padding:0;
}
.dropdown.media-filter > a {
	padding:12px 38px 12px 18px;
	white-space:nowrap;
}
.dropdown.media-filter .data-meta {
	display:none;
}
.dropdown.media-filter .caret {
	border-width:6px;
	right:17px;
	top:18px;
}
.dropdown.media-filter.open {
	margin-bottom:0;
}
.media-filter .dropdown-menu a {
	color:#fff;
	padding-top:8px;
	padding-bottom:8px;
}
.media-filter .active a {
	background-position: -543px -318px;
}
.media-filter .active a:hover {
	background-color:transparent;
	color:#fff;
}
.input-check,
.input-check:hover {
	background-position: -461px -395px;
	padding: 23px 0 0px 30px;
	margin-right:18px;
	font-size:15px;
}
.input-check.active,
.input-check.active:hover {
	background-position: -503px -345px;
}
.carousel-control,
.slider-control {
	display:none;
}
.carousel-pager {
	text-align:right;
	margin-right:2.34375%;
}
.carousel-pager .carousel-page {
	background-color:#878787;
	border:none;
	margin-left:2px;
	margin-right:2px;
	width:8px;
	height:8px;
}
.carousel-pager .carousel-page.active {
	background-color:#fff;
}
.light-theme .media-filter .dropdown-menu {
	width:135px;
}
#videoCarousels .head-section1 {
	float:left;
	max-width:40%;
}
.section-header {
	padding-top:36px;
	margin-left:2.34375%;
	margin-right:2.34375%;
	border-bottom: 2px #414141 solid;
	margin-bottom:21px;
	position:relative;
}
.subsection-header {
	margin-left:2.34375%;
	margin-right:2.34375%;
	margin-bottom:8px;
	position:relative;
}
.section-title {
	margin-bottom:8px;
}
.section-nav > li {
	font-size:17px;
}
.section-nav > li > a {
	padding:0 .5em;
}
.section-nav {
	margin-bottom:.6em;
}
.subsection-header .icon-share,
.section-header .icon-share {
	position:absolute;
	top:3px;
	right:0;
}
#interactiveDetailPage .subsection-header:first-child {
	margin-top:36px;
}
.subsection-title {
	margin-bottom: 10px;
}
.section-social-list .icon {
	margin-left:30px;
}
.text-body {
	margin-left:2.34375%;
	margin-right:2.34375%;
	font-size:18px;
	line-height:1.9em;
}
.textlist.textlist-img .text-body .text-date-data {
	font-weight:normal;
}
.text-body h2 {
	font-size:24px;
	margin-bottom:.5em;
	color:#fff;
}
#singleArticle article.section-content,
#bioDetailPage article.section-content {
	padding-bottom:10px;
}
.text-body h4 {
	font-weight:600;
	color:#4b4b4b;
	font-size:1.3em;
	margin:0 0 .5em;
}
.text-body p {
	margin:0 0 1.5em;
}
#bioDetailPage #sidebar {
	margin-top:0;
}
.preview:before {
	background-size:100% 33%;
}
.media-info {
	line-height:1.5em;
	margin-bottom: 1em;
	margin-left:2.34375%;
	margin-right:2.34375%;
	color:#ddd;
}
.media-info > p {
	font-size:18px;
	line-height:1.94em;
	margin-bottom:1em;
}
.section-main-img  {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.section-main-img > img {
	width:100%;
}
.section-main-img.margin-large {
	margin-bottom:24px;
}
.media-info {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.access-bar {
	margin-left:2.34375%;
	margin-right:2.34375%;
	padding-bottom:8px;
}
.access-bar {
	font-size:.9em;
}
.section-header + .access-bar {
	margin-top:0;
}
.access-bar .logout-link {
	margin-left:10px;
}
.textlist .text-body {
	font-size:18px;
}
.textlist {
	margin-bottom:100px;
}
.textlist .text-title {
	font-size: 25px;
	margin-bottom:.3em;
}
.text-body .text-date-data {
	margin-bottom:1em;
}
.textlist.textlist-img {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.textlist.textlist-img .text-body {
	margin:0;
	font-size:16px;
}
.textlist.textlist-img .text-title {
	font-size:22px;
}
.textlist.textlist-img .text-date-data {
	margin:0;
	line-height:1em;
}
.textlist.textlist-img li figure {
	width:21.584699%;
	margin-right:3.4153%;
}
.textlist.textlist-img li figure img {
	width:100%;
}
.textlist.textlist-img li article {
	width:75%;
}
.sched-list {
	font-size:16px;
}
#galleryWrapper {	
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.light-theme #galleryWrapper {
	margin-left:0;
	margin-right:0;
}
.light-theme #galleryDetailPage .carousel-control {
	display:none;
}
#galleryWrapper .subsection-header  {
	margin-left:0;
	margin-right:0;
}
.carousel-text {
	font-size:14px;
	padding:10px 10px 0;
}
.carousel-thumbs img {
	width:100%;
}
.main-gallery .slider-image-region {
	position:relative;
}
.main-gallery .carousel-control.left,
.main-gallery .slider-control.left {
	left:15px;
	top:50%;
	margin-left:0;
	background-position:-50px -176px;
	display:block;
}
.main-gallery .carousel-control.right,
.main-gallery .slider-control.right {
	right:15px;
	top:50%;
	margin-right:0;
	background-position:0 -176px;
	display:block;
}
#galleryDetailPage #sidebar {
	float:none;
}
.summarylist {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.summarylist > li {
	margin-bottom:40px;
}
.summarybox .thumb-label {
	font-size:24px;
	line-height:23px;
	margin:0px 0 .5em;
	font-weight:200;
}
.summarybox .span2 {
	margin:0 21px 0 0;
	width:171px;
}
.summarybox .span6 {
	width:auto;
}
.summarybox p {
	padding:0;
	margin:0;
	font-size:17px;
	line-height:1.5em;
}
.hero .carousel-pager .carousel-page {
	width:7px;
	height:7px;
	margin-left:4px;
	margin-right:4px;
}
.hero .meta {
	max-width:272px;
	color:#fff;
	font-size:18px;
}	
.hero .label {
	color:#fff;
	font-size:30px;
	max-width:300px;
}
.hero .meta .action {
	font-weight:normal;
}
.hero .carousel-control-wrapper {
	display:none;
}
.hero .caption.style1 {
	left:10.41667%;
}
.hero .caption.style2 {
	right:10.41667%;
	text-align:right;
}
.hero .carousel-pager {
	text-align:center;
}
.hero.hp-hero .caption .caption-inner {
	margin-left:65px;
}
.hero.hp-hero .strip {
	padding-left:75px;
	margin-bottom:10px;
}
.hero.hp-hero .carousel-inner .img-container img,
.hero-move img.heroimg {
	min-height:325px;
	min-width:995px;
	width:100%;
	opacity:1;
}
.hero.hp-hero .meta,
.hero.hp-hero .caption p,
.hero.hp-hero .more-link {
	font-size:16px;
}
.hero.hp-hero .meta{
	margin-top:5px;
}
.hero.hp-hero .caption p {
	margin:10px 0;
}
.hero.hp-hero .caption li {
	margin-bottom:8px;
}
#pagefooter {
	padding-top:40px;
}
.indp-footer #pagefooter {
	background-color:#111;
	border-top: 6px #36a8e0 solid;
	padding-top: 24px;
}
.footercol:first-child {
	margin-left:0;
}
.footercol {
	float:left;
	color:#999;
	font-size:11px;
	line-height:20px;
	margin-left:18px;
	margin-bottom:50px;
}
.footercol .head-section3 {
	margin-top:30px;
	margin-bottom:15px;
}
.footercol a {
	color:#999;
}
.footercol.footercol1 {
	width:148px;
}
.footercol.footercol2 {
	width:190px;
}
.footercol.footercol3 {
	width:168px;
}
.footercol.footercol4 {
	width:554px;
	margin-left:0;
	clear:left;
}
.footercol.footercol4 .row-fluid ul {
	width:auto;
	margin-left:25px;
}
.footercol.footercol4 .row-fluid ul:first-child  {
	margin-left:0;
}
.footercol .icon-list {
	padding-top:8px;
	margin-bottom:3px;
}
.footercol .icon-list > li {
	margin-left:20px;
	margin-bottom:15px;
}
.footercol .icon-list > li:first-child {
	margin-left:0;
}
.network-icon-list .darkicon {
	height:42px;
}
.darkicon.icon-ae {
	background-position: 0 -104px;
	width:59px;
}
.darkicon.icon-bio {
	background-position: -60px -104px;
	width:66px;
}
.darkicon.icon-fyi {
	background-position: -60px -110px;
	width:67px;
}
.darkicon.icon-history {
	background-position: -127px -104px;
	width:55px;
}
.darkicon.icon-viceland {
	background-position: -183px -502px;
  	width: 67px;
}
.darkicon.icon-lifetime {
	background-position: -234px -104px;
	width:47px;
}
.darkicon.icon-lmn {
	background-position: -282px -104px;
	width:68px;
}
.footer-note {
	display:block;
	font-size:11px;
	color:#999;
	clear:left;
	border-top:1px solid #272727;
	padding:10px 0;
}
.footer-note span {
	display:inline-block;
	width:156px;
	height:20px;
	background:url(../img/aelogo.png) 0 0 no-repeat;
	vertical-align:middle;
	text-indent:-9999px;
	margin-right:10px;
}
#pagefooter .container {
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}
.results-body {
	margin-bottom:0;
}
.results-body .gsc-results .gsc-cursor-box .gsc-cursor-page {
	color:#0093d2;
	font-size:15px;
}
.mobile-accordion .collapse {
	height: auto !important;
}
.video-list li {
	margin-left:1.7045%;
	width:31.6288%
}
.video-list li.ad-bordered {
	float:none;
	clear:both;
	margin:0 0 18px;
	position:relative !important;
}
.shows-list li {
	max-height:79px;
}
#networks-tab li {
	padding-bottom:8px;
}
.sched-controls .dates-option {
	margin:0 auto;
	float:none;
}
.sched-controls .option-group {
	margin:0 auto 40px;
	width:530px;
}
.sched-controls .option-group:after {
	display: table;
	  line-height: 0;
	  content: "";
	  clear:both;
}
.sched-controls .option.view-option {
	float:none;
	margin:0 auto;
}
.sched-slider {
	margin:50px auto 20px
}
.sched-container {
	width:79.97%;
}
.sched-week .sched-container {
	width:83.33%;
}
.sched-week .sched-row {
	overflow:hidden;
	position:relative;
}
.sched-week .sched-container {
	position:absolute;
	left:172px;
	top:0;
}
.sched-results.sched-day .network-logo {
	padding:45px 3.8535%;
}
.sched-results.sched-week .network-logo {
	
}
.hp-video-list {
	margin-bottom:0;
}
.hp-video-list.video-list li {
	margin-left:2.34375%;
	width:47.65625%;
}
.hp-video-list.video-list li img {
	width:100%;
}
.hp-container .slider {
	margin-bottom:30px;
}
.hp-container .ad-centered {
	margin-bottom:50px;
}
.hp-shop .span4 {
	width: 46.484375%;
	margin-left:2.34375%;
}
.hp-shop .span4:first-child {
	margin-left:0;
}
.popularLinks .link-container {
	height:22px;
	overflow:hidden;
}
.ep-detail  .ep-links {
	margin-bottom:30px;
}
.ep-detail .sched-list {
	margin-bottom:1.5em;
}
.ep-detail .section-main-img {
	margin-left:0;
	margin-right:0;
}
.ep-section-marked {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.ep-playlists  > div {
	margin-left:-2.34375%;
	margin-right:-2.34375%;
}
.ep-pagination .slider-control {
	display:block;
}
.ep-pagination .page {
	margin-top:20px;
}
.ep-pagination .prev-page {
	margin-left:30px;
}
.ep-pagination .next-page {
	margin-right:30px;
}
 @media (min-width: 768px) and (max-width:1214px) {
 
.skin-h2 .site-nav .nav-items > ul > li{
	margin:0 1.5%;
}
.skin-h2 .show-title {
	margin-left:0;
	font-size:37px;
	max-width: 467px;
	position: static;
}
.showmasthead-inner.fullwidth-inner {
	min-height: 0;
}
.skin-h2 .show-title-meta {
	position: static;
}
.skin-h2 .showmasthead {
	padding-top: 25px;
	padding-bottom: 20px;
	background-position:left bottom;
}
.skin-h2 .show-sponsor,
.skin-h2 .show-subtitle {
	margin-top: 0;
}
.skin-h2 .title-size-m .show-title {
	margin-left:0;
}
 
.skin-h2 .site-nav ul.sub-nav li{
	margin:0 1.1%;
}
.skin-h2 .show-social-list .icon.lighticon.icon-twitter {
	width:20px;
	height:17px;
	background:url(../img/sprite-h2.png) -240px -89px no-repeat;
}
.skin-h2 .show-social-list .icon.lighticon.icon-facebook {
	width:7px;
	height:17px;
	background:url(../img/sprite-h2.png) -289px -89px no-repeat;
}
}
.skin-h2 .main-logo{
	background:url(../img/sprite-h2.png) -407px 0 no-repeat;
	background-size:1000px;
	width:103px;
	height:94px;
}
#h2About .text-body {
	margin-top:20px;
}
.skin-h2 .promo-zip {
	margin-left:2.34375%;
	margin-right:2.34375%;
}
.skin-h2 .media-filter.dropdown {
	border-color:#3a4547;
}
.skin-h2 .media-filter.dropdown.open,
.skin-h2 .media-filter .dropdown-menu,
.skin-h2 .media-filter.open .dropdown-toggle {
	background-color:#343d3f;
}
.skin-h2 .media-filter.open {
	border-color:#202526;
}
.skin-h2 .input-check, .skin-h2 .input-check:hover {
	background:url(../img/sprite-h2.png) -1292px -69px no-repeat;
}
.skin-h2 .input-check.active {
	background-position: -1334px -19px;
}
.hub-head {
	margin-bottom:30px;
}
.hub-head [class*=span] {
	margin-left:0;
	margin-right:0;
	width:100%;
}
.hub-head .ad {
	margin:0 -2.459%;
	background-color:#f9f9f9;
}
.hub-head .ad > * {
	width:300px;
	margin:0 auto;
	position:relative;
}
.hub-head .section-social-list {
	float:left;
	margin-left:-30px;
}
.hub-head .social {
	margin-bottom:20px;
}
.hub-head .social > ul > li {
	float:left;
	margin-right:15px;
}
.hub-head .social:after {
	content:"";
	display: table;
  	line-height: 0;
  	clear:both;
}
.topics-article.fluid-row-14 .span1,
.topics-article.fluid-row-14 .topic-body .span8,
.topics-article.fluid-row-14 .flex12-8 {
	width:95.3125%;
	margin-left:2.34375%;
	margin-right:2.34375%;
	
}	
.topics-article.fluid-row-14 .topic-intro {
}
.topics-article.fluid-row-14 .topic-intro .span8,
.topics-article.fluid-row-14 .topic-intro .span4  {
	float:left;
	margin-left:2.34375%;
}
.topics-article.fluid-row-14 .topic-intro .span4 {
	width:36.2437%;
}
.topics-article.fluid-row-14 .topic-intro .span4 .ad {
	float:right;
}
.topics-article.fluid-row-14 [class*=span] .slider [class*=span] {
	margin-right:0;
}
.topics-article.fluid-row-14 div:first-child .span1 {
	margin-left:2.34375%;
}
.topics-article.fluid-row-14 .slider .span4 {
	width:48.828125%;
}
.topics-article.fluid-row-14 .slider .span4:first-child {
	
}
.topics-article.fluid-row-14 .grid-list .slider .span4 {
	width:22.65625%;
}
.light-theme .topics-article .slider-inner {
	margin:0;
}
@media (max-width: 835px) {
	.topics-article.fluid-row-14 .topic-intro .span8 article {
		width:95%;
	}
}
.article-tools-section {
	border-bottom: 1px solid #ececec;
  	margin-bottom: 30px;
}
.article-tools-section .article-tools {
	padding-bottom:10px;
	margin-bottom:0;
	float:left;
	position:static !important;
}
.article-tools:first-child + .article-tools {
	float:right;
}
.article-tools:first-child > li:first-child {
	margin-left:0;
}
.topic-intro .article-tools > li,
.franchise .article-tools > li {
	float:left;
	border:none;
	margin-left:25px;
	padding:0;
}
.article-tools .social ul {
	margin:0;
}
.article-tools .social li {
	float:left;
	margin-right:15px;
	margin-left:0;
}
.article-tools:first-child + .article-tools li {
	position:relative;
	top:-5px;
}
.topic-intro .article-tools li span,
.franchise .article-tools li span {
	display:inline-block;
	position:relative;
	top:8px;
	margin-left:5px;
}
.article-tools li.contents {
	margin-left:0;
	margin-right:40px;
	top:-16px;
	font-style:italic;
}
.article-tools li.contents > a {
	font-style:normal;
}
.article-tools li.contents span { 
	top:12px;
}
.article-tools li.contents span:first-child {
	display:inline-block;
	margin-right:8px;
}
.article-tools li.contents span:first-child + span {
	display:none;
}
.article-tools .cite-overlay {
	right:85px;
	left:auto;
	top:-100px;
}
.article-tools .cite-overlay:before {
	right:-25px;
	left:auto;
	top:110px;
	border-left-color: #808080;
	border-right-color: transparent;
}
.extra-tools {
	border-bottom: 1px solid #ececec;
  	margin-bottom: 30px;
}
.extra-tools .article-tools-section {
	border-bottom:none;
	margin-bottom:0;
	float:right;
}
.extra-tools .social-float {
	position:static;
	float:left;
}
.extra-tools .social-float li {
	float:left;
}
.extra-tools .social-float li:first-child {
	margin-left:0;
}
.article .trivia h5 {
	width:auto;
	float:none;
}
.topics-article .article .trivia p {
	margin-left:0;
}
.article .flush-left {
	max-width:none;
	width:100%;
	margin-left:0;
}
.article .flush-left img {
	width:100%;
}
.article .pull-right.wrapped {
	margin-left:20px;
	margin-bottom:20px;
}
.article .pull-right.wrapped .square .ad-label {
	margin-top:0;
	position:static;
}
.grid-list.topics-list {
	margin-bottom:50px;
	
}
.grid-list.topics-list h3 {
	font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight:400;
    text-transform:uppercase;
}
.grid-list.topics-list .slider {
	margin-left:-2.34375%;
}
.grid-list.topics-list li span {
	top:0;
	bottom:auto;
	left:auto;
	right:0;
}
.hero-move {
	background:none !important;
	
}
.hero-move.closed {
	height:auto !important;
	padding-top:35.5%;
}
.hero-move img.heroimg,
.article-hero img {
	position:absolute;
	top:-10.68%;
	left:-10%;
	height:110.68%;
	width:auto;
	max-width:none;
}
.hero-move .expand-content > .player {
	width:90%;
	height:auto;
}
.hero-move .expand-content .video-desc {
	width:86%;
	padding-right:0;
}
.hero-move .close-btn {
	right:-30px;
}
.article-hero .img-wrapper {
	width:100%;
	padding-bottom:35.714%;
	overflow:hidden;
}
.tags-overlay .span3 {
	width:23.1638%;
}
.tags-overlay .span10 {
	width:68.5%;
}
.tags-overlay .offset3 {
	margin-left:27.118644%;
}
.grid-list.tag-list > ul > li {
	width:30.927835%;
	margin-left:3.6%;
}
.grid-list.tag-list > ul > li img {
	max-width:none;
	width:100%;
}
.grid-list.tag-list > ul li:nth-child(5n+1) {
	margin-left:3.6%;
}
.grid-list.tag-list > ul li:nth-child(3n+1) {
	margin-left:0;
}
.tags-overlay .tag-items li a {
	padding:15px 12.19%;
}
.tags-overlay .tag-list h4 {
	font-size:24px;
	width:55%;
}
.topics-article .tags-overlay {
	width:80%;
	left:10%;
}
.topic-body:not(.day-article) .social-float {
	display:none !important;
}
.list-accordion .accordion-body li {
	
}
.list-accordion .accordion-body ul:nth-child(3n+0) {
	margin-right:0;
}
.hm-interactive {
	background-size:contain;
}
.hm-interactive .columns {
	top:-70px;
}
.hm-interactive .column-item {
	width:48%;
}
.hm-interactive .column-item.column-1 {
	margin-right:0;
}
.hm-interactive .column-item span.photo {
	background-size:210px;
	width:165px;
	height:175px;
}
.hm-interactive .logo {
	width:207px;
	height:132px;
	background-size:270px;
	background-position:-14px -620px;
	top:30px;
}
.hm-interactive .column-item.column-1 span.photo {
	background-position: -10px -180px;
}
.hm-interactive .column-item .frame {
	top:-65px;
	padding-left:20px;
	padding-right:20px;
}
.liveplayer {
	margin-left:2.34375%;
	margin-right:2.34375%;
	width:auto;
}
.liveplayer .section-header {
	margin-left:0;
	margin-right:0;
}
.liveplayer .login-overlay,
.liveplayer .watch-overlay { 
	top:40%;
}
@media (max-width: 930px) {
	.liveplayer .login-overlay,
	.liveplayer .watch-overlay { 
		top:36%;
	}
}
@media (max-width: 910px) {
	.liveplayer .login-overlay,
	.liveplayer .watch-overlay { 
		top:34%;
	}
}
@media (max-width: 870px) {
	.liveplayer .login-overlay,
	.liveplayer .watch-overlay { 
		top:32%;
	}
}
@media (max-width: 830px) {
	.liveplayer .login-overlay,
	.liveplayer .watch-overlay { 
		top:30%;
	}
}
@media (max-width: 810px) {
	.liveplayer .login-overlay,
	.liveplayer .watch-overlay { 
		top:28%;
	}
}
.tdih-head .fullwidth-inner {
	margin-left:0;
	margin-right:0;
}
.head-section-light2 .tdih-head .tdih-label {
	margin-left:168px;
	padding-top:15px;
	padding-bottom:10px;
	float:none;
}
.tdih-head .extra {
	margin:0 0 0 20px;
}
.head-section-light2 .tdih-head.sticky-head .tdih-label {
	font-size:24px;
	margin-left:0;
}
.sticky-head .article-toggle {
	padding-top:15px;
	padding-bottom:15px;
}
.sticky-head .article-previous {
	left:20px;
}
.sticky-head .article-next {
	right:20px;
}
.tdih .day-articles .midpage-ad {
	border-bottom:none;
	background:transparent;
}
.tdih .slider {
	margin-right:2.832%;
}
.tdih .slider-inner {
	margin-left:-2.832%;
}
.tdih .slider .slider-item {
	width:22.167%;
}
.tdih .slider .slider-item:nth-child(4n) {
	margin-right:0;
}
.tdih .slider .slider-item:nth-child(4n+1) {
	margin-left:2.832%;
}
.tdih .email-flyout {
	position: static;
	border: none;
	box-shadow: none;
	text-align: center;
	margin-left: -4.6875%;
	margin-right: -4.6875%;
	margin-bottom:40px;
	width: auto;
	background: #ddd;
	display:block !important;
	visibility:visible !important;
}
.tdih .email-flyout .close-btn {
	display:none;
}
.tdih #signup_screen {
	position:relative;
	margin:0 20px;
	background:#fff;
	padding:20px;
	z-index:100;
	background: white;
}
.tdih #signup_screen iframe {
	height:340px;
	width:300px;
	margin:auto;
}
.tdih .email-flyout .close-btn-inner {
	display:block;
}
.tdih .email-flyout .no-signup {
	display:none;
}
.tdih .generic-popover .min-btn {
	top:10px;
	right:10px;
}
.tdih-head .extra li .popover {
	left:auto;
	right:0;
}
.tdih .article-tools .cite-overlay {
	left:auto;
	right:40px;
}
.tdih .article-tools .cite-overlay:before {
	border-right-color:transparent;
	border-left-color:#808080;
	left:auto;
	right:-25px;
}
.franchise .tdih-head .tdih-label {
	margin-left:0;
	display: inline-block;
	width: calc( 100% - 175px - 140px - 4px);
	font-size: 57px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
.franchise .tdih-head .sponsor-ad {
	float:none;
	display:inline-block;
	margin-bottom:20px;
	vertical-align:bottom;
}
.franchise .tdih-head .extra {
	float:none;
}
.franchise .article-list .span1 {
	width:100%;
}
.franchise .article .section-main-img {
	margin-left:0;
	margin-right:0;
}
.speech-tags .tags-list {
	font-size:12px;
}
.speech-tags .list-section {
	padding:20px 0;
}
.speech-tags .list-section:nth-child(odd) {
	background:#f9f9f9;
}
.speech-tags .tag-item {
	width:33.33%;
	float:left;
}
.speech-list .li-inline {
	margin-left: calc( 1.7045% - 4px );
  	width: 31.6288%;
  	display:inline-block;
  	vertical-align:top;
  	min-height:250px;
}
.sap-container header {
	margin:0 0 30px;
}
.sap-container .sap-item li {
	display:inline-block;
	vertical-align:top;
}
.sap-container .sap-item li:nth-child(1) {
	width:20%;
}
.sap-container .sap-item li:nth-child(2) {
	width:10%;
}
.sap-container .sap-item li:nth-child(3) {
	width:calc( 100% - 20% - 10% - 10% - 15px - 10px);
	margin-right:10px;
}
.sap-container .sap-item li:nth-child(4) {
	width:10%;
}
.newsletter-signup .signup-promo-wrapper h4 {
	margin:0 20px 0 0;
	line-height:1.8em;
}
.newsletter-signup .signup-wrapper input {
	width:calc(100% - 210px);
	max-width:360px;
	margin-right:6px;
}
.sticky-signup.screen-expand .signup-promo-wrapper {
	max-height:0;
	overflow:hidden;
	display:none;
}
.sticky-signup.screen-expand .signup-wrapper {
	max-height:1000px;
	opacity:1;
}
