.footer {
width: 1250px;
box-sizing: border-box; 
height: 180px;
margin: 20px 0 0 0;
padding: 14px 60px;
color: #fff;
background: linear-gradient(#2d69ad, #00346d);

display: flex;
flex-direction: row;
flex-wrap: nowrap;
/* justify-content: flex-start; */
justify-content: space-between;
/* align-content: stretch; */
align-items: flex-start;
}

.footer-left {
width: 120px;
height: 120px;
color: #fff;
font-size: 12px;
font-weight: 400;
padding: 10px 0 0 0;
text-align: center;
}

.footer-right {
/* width: 975px; */
width: 960px;
height: 150px;
margin: 0 0 0 15px;
color: #fff;
font-size: 12px;
font-weight: 400;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: stretch;
align-items: flex-start;
}

.footer-right-text {
width: 970px;
margin: 0;
color: #fff;
font-size: 12px;
font-weight: 400;
}

.footer-right-link {
/* width: 510px; */
width: 640px;
height: 110px;
margin: 20px 0px 0px 0px;
color: #fff;
font-size: 12px;
font-weight: 400;
}

.footer-right-link a {
color: #fff;
font-size: 12px;
font-weight: 400;
text-decoration: underline;
}

.footer-right-img {
width: 240px;
margin: 20px 25px 0px 0px;
}

