.horizontal-menu-element {
	flex-grow: 1;
    height: 27px;
	box-sizing: border-box;
	text-align: center;
    font-size: 16px;
	font-weight: 500;
	color: #fff;
	background: linear-gradient(#2d69ad, #00346d);
	border-right: 1px solid #fff;
	text-transform: uppercase;
}

.horizontal-menu-element a:link {
	margin: 0;
	padding: 4px 0 4px 14px;
  color: #fff;
  display: block;  
}

.horizontal-menu-element a:visited {
    color: #fff;
}

.horizontal-menu-element a:hover {
    margin: 0; 
    /* padding: 0; */
    height: 19px;
    background-color: #129955;
    color: #fff;
    /* display: block;  */
} 
   
.horizontal-menu-element a:active {
    color: #fff;
}

.horizontal-menu-element-active {
    background-color: #129955;
/*
    color: #fff;
    display: block; 
*/
        flex-grow: 1;
    height: 27px;
        box-sizing: border-box;
        text-align: center;
    font-size: 16px;
        font-weight: 500;
        color: #fff;
        /* background: linear-gradient(#2d69ad, #00346d); */
        border-right: 1px solid #fff;
        text-transform: uppercase;

} 

.horizontal-menu-element-active a:link {
	margin: 0;
	padding: 4px 0;
	color: #fff;
	display: block;  
}



.horizontal-menu-arrow {
	width: 30px;
    height: 27px;
	box-sizing: border-box;
	padding: 4px 0px 4px 6px;
	background: linear-gradient(#2d69ad, #00346d);
}

.horizontal-menu-arrow a {
    display: block;
}

