
/* ---------- super-style  ------------- */
.superstyle-title {
	margin:  20px 0 0 0;
	width: 1250px;
	height: 45px;
	cursor: pointer;
	box-sizing: border-box;
}

.superstyle-body {
	width: 1250px;
	margin: 0 0 20px 0;
	padding: 20px;
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

  box-sizing: border-box;
}

.superstyle-element {
	width: 130px;
	height: 200px;
	cursor: pointer;

	font: 400 16px Roboto, Verdana; 	
	text-align: left;

	box-sizing: border-box;
}

/* --- superstyle end --- */
/* ------- moscow ----------- */
.msk-informer-box {
	width:1250px; height:150px;
	border:1px solid #BBCCE0; 
	padding: 1px; margin: 0;
	background-color: #E6EDF5;

	display: flex;
		flex-direction: row;
		justify-content: flex-start;		
		align-items: center;

	box-sizing: border-box;
}
.msk-informer-part {	
	background-color: #fff;
	width: 330px; 
	height:132px;
	margin-right: 15px;
	padding: 5px;	
	
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;

	border:1px solid #BBCCE0;

	box-sizing: border-box;
}
.msk-informer-part-img {
	height:123px;
	/* padding: 5px; */
	/* margin: 5px; */
	
	box-sizing: border-box;
}
.msk-informer-part-txt {
	width: 160px;
	margin: 0;
	padding: 0 10px;
	
	box-sizing: border-box;
}
.msk-informer-part-link {
	font: 600 15px/14px Roboto, Verdana; 
	/*font-weight: bold;*/
	text-align: left;
	color: #09488F;
}
/* --- moscow end --- */


/* --- events informer --- */

.event-box {
	width: 1250px;
	min-height: 140px;
	margin: 10px 0;
	padding: 0;

	display: flex;
		flex-direction: column;		
		justify-content: flex-start;
		align-items: stretch;

	/* border: 1px solid #BBCCE0; */
	background-color: #fff;
	box-sizing: border-box;
}
.event-box-title {
	width: 100%;
	min-height: 16px;
	padding: 3px 10px;
	margin-bottom: 10px;
	color: #09488f;
		font-size: 18px;
	background: linear-gradient(#c0d8ec, #95b6d1);
	text-transform: uppercase;
	text-align: left;
	font-weight: 500;
	box-sizing: border-box;
}
.event-link {
	text-decoration: none;
	cursor: pointer;
}

.event-box-main {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;

	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;

	box-sizing: border-box;

}


.event-pic-box {
	width: 548px;	
	min-height: 160px;
	margin: 0 36px 0 2px;
	padding: 10px 15px;

	background-color: #E6EDF5;
	flex-basis: 548px;
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;

	border: 1px solid #fff;	
	outline: 1px solid #bfcfe2;

	box-sizing: border-box;
}
.event-pic-img {
	width: 200px;
	height: 150px;
	margin-right: 25px;
	border: 1px solid #bfcfe2;
	display: block;
	box-sizing: border-box;	
}
.event-pic-txt {
	margin: 0;
	padding: 0;
	width: 324px;
	
	color: #09488f;
	font-size: 20px;
	font-weight: normal;
	text-align: left;

	display: block;
	box-sizing: border-box;
}

.event-comm-box {
	margin: 0 10px;
	padding: 0;
	flex-basis: 630px;

	box-sizing: border-box;

/* background-color: #ed6; */

}
.event-comm-box-txt {
	font-size: 18px;
	box-sizing: border-box;
	color: #000;
}
.event-comm-box-source {
	font-size: 20px;
	color: #09488F;
	box-sizing: border-box;
}
.event-comm-ul { 
	list-style-position: outside; 

	display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;

	box-sizing: border-box;

}

.event-comm-li {
	list-style-image: url(data:image/gif;base64,R0lGODdhBwAHAIAAAP///xicWywAAAAABwAHAAACDIxhGaibACNzbb5UAAA7);
	margin: 3px;
}




/* --- events informer end --- */
