
@import 'https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,latin-ext';

html {
	min-height: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow-y: scroll;
	background-color: #e3e3e3;
	text-rendering: auto;
	margin: 0;
	padding: 0;
}

* {
	outline: none;
}

a {
	text-decoration: none;
}

img.news-img {	
	border: 1px solid #c7cedf;
	box-sizing: border-box;
}

.page {
	width: 1250px;	
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
  box-shadow: 15px 0 5px 2px #adadad, -15px 0 5px 2px #adadad; 
	outline: 15px solid #fff; 
	box-sizing: border-box;
}

.content {
	width: 1250px;
	box-sizing: border-box;
	min-height: 740px;
}

.top_prm {
	width: 1250px;	
	min-height: 10px;
	text-align: center;
	box-sizing: border-box;
}



.body-page {	
	width: 1250px;
	box-sizing: border-box;
	margin-bottom: 5px;
	background-color: #fff;
				
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		/* justify-content: space-between; */
		justify-content: flex-start;
		/* align-content: flex-end; */
		align-items: flex-start;
}

.body-page-left-column {
	width: 200px;
	margin-right: 25px;
	box-sizing: border-box;
	background-color: #fff;
}

.body-page-left-column-prm {
	width: 200px;
	/* height: 6px; */	
	font-size: 13px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
	margin: 15px 0 5px 0;
	/* border: 1px solid #aaa; */
	box-sizing: border-box;
}

/*---------------------------------------------------------------------*/
.body-page-center-column {
	width: 670px;
	margin-right: 25px;
	background-color: #fff;
	
	display: flex;
		flex-direction: column;
		/* flex-wrap: nowrap; */
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
}

.body-page-right-column {
	width: 330px;
	padding: 0;
	/* margin: 0 0 15px; */
	margin-bottom: 15px;
	/* background-color: #3ed; */
	/* display: block; */

	display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;	
}
/* --- arrows before spiegels --- */
.arch-head-w-bg {
	width: 100%;
	box-sizing: border-box;
	height: 32px;
	/* padding: 3px 4px; */
	margin-bottom: 10px;
	color: #09488f;
	font-size: 15px;
	font-weight: 500;	
	background: linear-gradient(#c1d9ed, #94b5d1);

	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
}

.arch-head-w-bg-link-l, .arch-head-w-bg-link-r {
	color: #09488f;
	font-size: 13px;	
	background-repeat: no-repeat;

	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;

 }
.arch-head-w-bg-link-l {
	background-image: url('https://static.newsru.com/v2/img/misc/arrow_left_white.gif');
	background-position: left;
	margin-left: 4px;
	padding-left: 16px;
}
.arch-head-w-bg-link-r {
	background-image: url('https://static.newsru.com/v2/img/misc/arrow_right_white.gif');
	background-position: right;
	margin-right: 4px;
	padding-right: 16px;
}
/* ----------------------------------- */

.main-caption {
	width: 670px;
	padding: 3px 10px;
	margin-bottom: 10px;
	color: #09488f;
		font-size: 18px;
	background: linear-gradient(#c0d8ec, #95b6d1);
	box-sizing: border-box;	
	text-transform: uppercase;
	font-weight: 500;
}

.base-text {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

.cap-link {
	color: #09488f;
	text-transform: lowercase;
	font-weight: 400;
}

.cap-link-up {
	color: #09488f;
	text-transform: uppercase;
	font-weight: 500;
}

.prm {

	min-width: 240px;
	max-width: 1250px;
	width: 100%;
	font-size: 13px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
	margin: 8px 0;
	box-sizing: border-box;
}

.prm_after_sp {
	width: 1250px;
	text-align: center;
	padding: 0;
	margin: 0;
}



.horizontal-menu {
	width: 1250px;
	box-sizing: border-box;
	margin-bottom: 18px;
	color: #fff;
	
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
}

.section_old {	
	width: 1250px;
	min-height: 400px;	
	margin-top: 30px 0 5px 0;	
	padding: 0;
	box-sizing: border-box;
	
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		/* justify-content: space-between; */
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
}

.old-footer {
	width: 1250px;
	box-sizing: border-box;
	height: 180px;
	padding-left: 15px;
	padding-top: 15px;
	color: #fff;
	background: linear-gradient(#2d69ad, #00346d);
		
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-start;
}

#ctrlcopy {
		height: 1px;
		overflow: hidden;
		position: absolute;
		width: 1px;
		margin: 5px 0 0 -1px;
		line-height: 0;
		opacity: 0;
}




.last-column-caption { 
	width: 330px;
	padding: 3px 10px;
	color: #09488f;
		font-size: 18px;
	font-weight: 500;
	background: linear-gradient(#c0d8ec, #95b6d1);
	box-sizing: border-box;
}

.last-column-block { 
	width: 328px;
	box-sizing: border-box;
	background-color: #e7edf5;
	padding: 10px;
	margin: 5px 0px 10px 1px;
	border: 1px solid #fff;
	outline: 1px solid #bfcfe2;

	display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
}

.last-column-block-date { 
	/*width: 100px;*/
	/*box-sizing: border-box;*/
	padding: 0 4px 0 0;
		font-size: 14px;
	font-weight: 400;
	color: #000;
}

.last-column-block-text { 
	width: 100%;
	color: #09488f;
	padding: 0px 0px 10px 0px;
    font-size: 16px;
	font-weight: 400;
	display: block;
}


/* ------------------------------------- */
.right-column-prm, .right-column-prm-top, .right-column-prm-bottom { 
	width: 328px;
	margin: 0;
	box-sizing: border-box;
	font-size: 13px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
}

.right-column-most-popular { 
	width: 330px;
	box-sizing: border-box;

	display: flex;
		flex-direction: column;		
		justify-content: space-between;
		align-items: center;	
}



.right-column-caption { 
	width: 330px;
	padding: 3px 10px;
	color: #09488f;
	font-size: 18px;
	font-weight: 500;
	background: linear-gradient(#c0d8ec, #95b6d1);
	box-sizing: border-box;
}

.right-column-most-popular-list {
	width: 328px;
	background-color: #e7edf5;
	padding: 10px;
	margin: 5px 0 10px 0;	
	box-sizing: border-box;
	border: 1px solid #fff;
	outline: 1px solid #bfcfe2;

		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
}

.right-column-most-popular-item {
	width: 100%;
	margin: 0 0 6px 0;
	padding: 0;

	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		/* justify-content: space-between; */
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
}

.right-column-most-popular-date { 
	width: 40px; 	
	padding: 2px 0 0 0;
	margin: 0 10px 0 0;
	box-sizing: border-box;	
	color: #000;
	font-size: 12px;
	font-weight: 400;	
}

.right-column-most-popular-text { 
	width: 260px; 	
	padding: 0 0 10px 0;	
	box-sizing: border-box;	
}

.right-column-most-popular-text > * { 
	color: #09488f;
	font-size: 14px;
	font-weight: 400;
}

/* ------------------------------------------- */
.prm-mark-small {
width: 60px;
padding: 2px 4px; 
margin: 0;
text-align: center;
background-color: #189c5b; 
color: #fff;
font-size: 8px;
/* font-weight: 500; */
box-sizing: border-box;
}

.prm-mark-mid {
width: 60px;
padding: 2px 4px; 
margin: 0;
text-align: center;
background-color: #189c5b; 
color: #fff;
font-size: 12px;
/* font-weight: 500; */
box-sizing: border-box;
}

.prm-mark {
/* width: 60px; */
padding: 2px 6px; 
margin: 0;
text-align: center;
background-color: #189c5b; 
color: #fff;
font-size: 12px;
font-weight: 500;
}

.prm-block {
background-color: #fff;
width: 552px;
margin: 0 0 15px 0;
padding: 12px;
border: 1px solid #189C5B;    
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-content: flex-start;
align-items: flex-start;
box-sizing: border-box;
}

.prm-image-block {
width: 200px;    
margin: 0;
padding: 0;
text-align: right;
display: block;
box-sizing: border-box;
}

.prm-image img {
border: 1px solid #c7cedf;
box-sizing: border-box;
margin: 0 0 4px 0;
padding: 0;
}

.prm-text-block {
width: 320px;
margin: 0 0 0 30px;
padding: 0;
box-sizing: border-box;
}

.prm-title {
width: 320px;    
margin: 0 0 10px 0;
text-align: left;
color: #09488f;
font-size: 18px;
font-weight: 400;
display: block;
box-sizing: border-box;
}

.prm-text {
width: 320px;
margin: 0;
text-align: left;
color: #000;
font-size: 16px;
font-weight: 400;
display: block;
box-sizing: border-box;    
}