.tik-tak {
	width: 200px;
	margin-bottom: 10px;
	padding: 0;
	color: #000;
    font-size: 12px;
	font-weight: 400;
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;	
}

.date-time {
	width: 60px;
	padding: 8px 0 0 0;
	box-sizing: border-box;
	/* background-color: #cdf; */
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.clock {
	width: 127px;
	height: 79px;
	margin: 0 auto;	
	background-image: url('https://static.newsru.com/v2/img/misc/clock.png');
}

.last-news-link{
	width: 100%;
	margin: 0;
	padding: 0;
}
.last-time {
	width: 90%;
	margin: 6px auto;
	padding: 0;

    font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: #2e5a98;

	display: block;
	box-sizing: border-box;
}



.border {
	border-top: 1px solid #bfcfe2;
	border-bottom: 1px solid #bfcfe2;
}


.menu-active {
	margin: 1px 0;	
	padding: 4px 0 4px 10px;
    font-size: 16px;
	color: #fff;
	font-weight: 500;
	background-color: #189c5b;
	/*border-top: 1px solid #fff;*/
	/*border-bottom: 1px solid #fff;*/
	display: block;
}

.main-menu-element {
	padding: 0;
    font-size: 16px;
	font-weight: 500;
	background-color: #fff;
	border-bottom: 1px solid #bfcfe2;
}

.main-menu-element:first-child {
	border-top: 1px solid #bfcfe2;
} 

/*.main-menu-element a:link {}*/
a.menu:link {
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 4px 0 4px 10px;	
	color: #2e5a98;
	display: block;
}
a.menu:visited {
	color: #2e5a98;
}
a.menu:hover {
	background-color: #d1ebde;
	color: #2e5a98;
	display: block; 
} 

a.menu#arch:link {
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 4px 0 4px 10px;	
	color: #189C5B;
	display: block;
}
a.menu#arch:visited {
	color: #189C5B;
}
a.menu#arch:hover {
	background-color: #d1ebde;
	color: #189C5B;
	display: block; 
} 
a.menu#arch:active {
	color: #2e5a98;
}


/* --- main-menu-search --- */
.main-menu-search {
    width: 200px;
    margin: 35px 0;
}

.main-menu-search-link, .main-menu-search-text a {
    font-size: 14px;
	font-weight: 500;
	color: #2e5a98;
    display: block;
    cursor: pointer;
}

.main-menu-search-input {
    font-size: 14px;
	font-weight: 400;
	width: 150px;
	height: 22px;
	margin: 0 4px 0 0;
	display: inline-block;
	color: #000;
	border: #aac2db 1px solid;
	box-sizing: border-box;
}
.main-menu-search-input:focus {
	color: #000;
}

.main-menu-search-button {
    width: 11px;
	height: 19px;
	display: inline-block;
	background: url('https://static.newsru.com/v2/img/misc/arrow_right.gif');
	background-repeat: no-repeat;
	margin-left: 5px;
	cursor: pointer;
    border: none;
}
/* --- end main-menu-search --- */

.exchange-rate-caption {
    margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
    font-size: 16px;
	font-weight: 500;
    background: linear-gradient(#2d69ad, #00346d);
    color: #fff;
}

.exchange-rate-item {
    margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
    padding-right: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
    font-size: 16px;
	font-weight: 500;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.exchange-rate-label {
    font-size: 14px;
	font-weight: 500;
    color: #000;
}

.exchange-rate-value {
    font-size: 14px;
	font-weight: 400;
    color: #000;
}

.exchange-rate-arrow-up {
    font-size: 14px;
	font-weight: 500;
    color: #08A400;
    margin-top: -1px;
}

.exchange-rate-arrow-down {
    font-size: 14px;
	font-weight: 500;
    color: #F20000;
    margin-top: -1px;
}
