.section {	
	width: 1250px;
	min-height: 400px;	
	margin: 30px 0 5px 0;	
	padding: 0;
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		/* justify-content: flex-start; */
	align-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
}

.left-feed {
	width: 552px;
	box-sizing: border-box;	
}

.left-feed-item {
	width: 552px;	
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 1px solid #c3d2e4;
	box-sizing: border-box;
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}


div.left-feed div.left-feed-item:nth-last-child(2) {
	width: 552px;	
	margin-top: 0px;
	margin-bottom: 15px;
	border: none;
	/*border-bottom: 1px solid #f00;*/
	box-sizing: border-box;
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}




.left-feed-img {
	/*width: 200px;*/
	/*border: 1px solid #aaa;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.left-feed-text {
	width: 330px;	
	margin: 0 0 15px 24px;
	padding: 0;
	box-sizing: border-box;
}

.left-feed-title {
	width: 330px;
	box-sizing: border-box;
	margin: 0 0 10px 0;	
	text-align: left;
}

.left-feed-title > * {
	color: #09488f;
  font-size: 18px;
	font-weight: 400;
}

.left-feed-anons {
	/*width: 100%;*/
	width: 330px;
	box-sizing: border-box;
	margin: 0;
	text-align: left;	
}

.left-feed-anons > * {
	/* box-sizing: border-box; */
	/* margin-left: 0px; */
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.section-left-column-prm {
	width: 550px;
	box-sizing: border-box;
	/* min-height: 2px; */
  font-size: 13px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
	margin: 10px 0;	
	/* border: 1px solid #aaa; */
}


/* ---- r-feed ---- */
.right-feed {
	width: 326px;
	/*height: 100%;*/	
	background-color: #e7edf5;	
	padding: 10px 15px;	
	margin: 0 0 0 15px;
	border: 1px solid #fff;
	outline: 1px solid #bfcfe2;
	box-sizing: border-box;
	
	display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

.feed-section-title > * {
	width: 270px;
	color: #09488f;
    font-size: 16px;
	font-weight: 500;
	margin: 10px 0 10px 0;
	box-sizing: border-box;

	display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
}

.feed-section-link {
	width: 220px;
	color: #09488f;
	font-size: 16px;
	font-weight: 400;
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
.feed-section-link::after{
	margin-top: 3px;
	margin-left: 6px;
	width: 11px;
	height: 19px;
	vertical-align: -15%;
	content: url('https://static.newsru.com/v2/img/misc/arrow_right.gif');
}


.right-feed-item {
	/*width: 210px;*/
	width: 295px;
	margin: 0 0 18px 0;
    font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
}

.right-feed-clock {
	color: #09488f;
    font-size: 16px;
	font-weight: 400;
}
.right-feed-clock-bold {
	color: #09488f;
	font-size: 16px;
	font-weight: bold;
}

.right-feed-title {		
	color: #000;
    font-size: 16px;
	font-weight: 400;
}


/* ---------- r column ------- */
.section-right-column {
	width: 330px;
	margin: 0 0 0 24px;
	height: 100%;
	box-sizing: border-box;
}

.section-right-column-prm {
	width: 325px;
	box-sizing: border-box;
	/* height: 450px; */
  font-size: 13px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
	margin-left: 0px;	
	margin-bottom: 5px;
	/* background-color: #eee; */
	/* border: 1px solid #aaa; */
}



.keep_24 {
	border: 1px solid #fff;
	outline: 1px solid #129955;
	box-sizing: border-box;
}
