.shpigel {
	width: 670px;		
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
}

.sp-main {
	width: 670px;
	padding: 10px;
	margin: 0 0 14px 0;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	/* align-content: flex-start; */
	align-items: center;
	box-sizing: border-box;

	background-color: #E7EDF5;
	border: 1px solid #fff;
	outline: 1px solid #bfcfe2;
}

.sp-main-img {	
	width: 640px;
	border: 1px solid #bfcfe2;
	box-sizing: border-box;
}

.sp-main-last-update {
	width: 640px;
	padding: 0;
	margin: 6px 0;
	color: #000;
	text-align: left;
  font-size: 12px;
	font-weight: 400;
	box-sizing: border-box;
}

.sp-main-title {
	width: 640px;
	margin: 0 0 10px 0;
	padding: 0;
}


.sp-main-title > * {
	color: #09488f;
	font-size: 20px;
	font-weight: 500;
}



.sp-main-text {
	width: 640px;
	margin-bottom: 10px;
	padding: 0;
}

.sp-main-text > * {
	color: #000;
	font-size: 16px;
}



.sp-small {
	width: 670px;	
	margin: 0 0 10px 0;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	
	box-sizing: border-box;
}

.sp-item {
	padding-top: 10px ;
	width: 326px;
	min-height: 275px;
	/*height: 280px;*/
	margin: 0;
	background-color: #E7EDF5;
	border: 1px solid #fff;
	/* outline: 1px solid #c7cedf;	 */
	outline: 1px solid #bfcfe2;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;	
	/*justify-content: space-between;*/
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
}

.sp-small-img {	
	min-width: 240px;
	width: 300px;	
	min-height: 10px;
	height: 169px;
	/* border: 1px solid #c7cedf;	 */
	border: 1px solid #bfcfe2;
	box-sizing: border-box;
}

.sp-small-last-update {
	width: 300px;
	margin-bottom: 3px;
	color: #000;
	font-size: 12px;
	font-weight: 400;
	text-align: left ;
	box-sizing: border-box;
}

.sp-small-title {
	width: 300px;	
	margin-bottom: 10px;	
	text-align: left;
}

.sp-small-title > * {	
	color: #09488f;
	font-size: 16px;
	font-weight: 500;
}

/* ------------------------- */

.arch-head {
	width: 100%;
	box-sizing: border-box;
	height: 30px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 10px;
	color: #09488f;
	font-size: 15px;
	font-weight: 500;	
	background: linear-gradient(#c1d9ed, #94b5d1);
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-content: center;*/
    align-items: center;
}

.arch-head a {
	/*width: 130px;*/
	color: #09488f;
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*align-content: center;*/
    align-items: center;
 }

.day-back {
	/*color: #09488f;*/
	font-size: 13px;
}

.day-forw {
	/*color: #09488f;*/
	font-size: 13px;
}



/* ------------------ */

.sp-main-old {
	width: 670px;
	padding: 10px;
	margin: 0 0 14px 0;
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
	/* align-content: flex-start; */
	align-items: flex-start;
	box-sizing: border-box;

	background-color: #E7EDF5;
	border: 1px solid #fff;
	outline: 1px solid #c7cedf;
}

.sp-main-img-old {
	width: 323px;
	height: 153px;	

	border: 1px solid #c7cedf;
	box-sizing: border-box;
}

.sp-main-anons-old {
	width: 300px;
	margin: 0; padding: 0;

	display: flex;
		flex-direction: column;
		justify-content: space-between;

}

.sp-main-title-old {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
}


.sp-main-title-old > * {
	color: #09488f;
	font-size: 18px;
	font-weight: 500;
	line-height: 120%;
}

.sp-main-text-old {
	width: 100%;
	margin-bottom: 10px;
	padding: 0;
}

.sp-main-text-old > * {
	color: #000;
	font-size: 16px;	
}



.sp-item-old {
	padding-top: 14px ;
	width: 210px;
	/* min-height: 200px; */
	height: 270px;
	margin: 0;
	background-color: #E7EDF5;
	border: 1px solid #fff;
	outline: 1px solid #c7cedf;	
	box-sizing: border-box;

	display: flex;
	flex-direction: column;	
	/*justify-content: space-between;*/
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
}

.sp-small-img-old {	
	min-width: 154px;
	width: 158px;	
	min-height: 10px;
	/* height: 98px; */
	border: 1px solid #c7cedf;	
	box-sizing: border-box;
}

.sp-small-title-old {
	min-width: 154px;	
	width: 158px;	
	margin-bottom: 10px;	
	text-align: left;
}

.sp-small-title-old > * {	
	color: #09488f;
	font-size: 15px;	
	font-weight: 500;
	line-height: 120%;
}




/* --- hot news --- */
.hotnews-column {
	width: 330px;
	padding: 0;
	margin: 0 0 10px 0;
	background-color: #fff;
}

.hotnews-ul { 
	list-style-position: outside; 
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 20px;	
	padding-bottom: 0px;
}

.hotnews-li {
	list-style-image: url(data:image/gif;base64,R0lGODdhBwAHAIAAAP///xicWywAAAAABwAHAAACDIxhGaibACNzbb5UAAA7);
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-right: 5px;	
}

.hotnews-text {
	color: #09488f;
		font-size: 16px;
	font-weight: 500;
}


.hotnews-adv {
	width: 320px;
	box-sizing: border-box;
	height: 450px;
		font-size: 13px;
	font-weight: 400;
	color: #aaa;
	text-align: center;
	margin-left: 5px;	
	margin-bottom: 5px;
	background-color: #eee;
	border: 1px solid #aaa;
}

.hotnews-title { 
	/*width: 330px;*/
	padding: 3px 10px 3px 10px;
	margin: 0 0 8px 0;
	color: #09488f;
		font-size: 18px;
	font-weight: 500;
	text-align: center;
	background: linear-gradient(#c0d8ec, #95b6d1);
	box-sizing: border-box;
}

