#header{
width:980px;
height:100px;
/*background-image:url(../images/bgheader.png);*/
background-repeat:repeat-x;
margin:auto;
}
#nav{
height:30px;
background-image:url(../images/topmenu_bg.png);
background-repeat:repeat-x;
margin: 0 4px;

}
#main{
width:980px;
margin:0 auto;

}
#mainsite{
width:1000px;
margin:auto;
background-color:#3C7FAF;
padding-top:3px;
min-height:2300px;

}
#left{
width:190px;
/*
background-image:url(../images/bgleft.png);
background-repeat:repeat-x;
background-color:#B5C8D5;
*/
float:left;

}
#page{
/*width:399px;*/
/*width:775px;*/
width:789px;
margin:0 auto;
padding:0px;
float:left;
background-color:#FFFFFF;
color:#095199;
border:solid 0px #990033;
float:right;

}
#page-main{
width:462px;
border:solid 0px #990033;
float:left;


padding-bottom:15px;

}
#right{
width:320px;
margin:0 auto;
padding-left:3px;
padding-bottom:15px;
float:right;
background-color:#FFFFFF;
background-image:url(../images/line_v.jpg);
background-position:left;
background-repeat:repeat-y;
border:solid 0px #0066CC;

}
#footer{
width:980px;


margin:0 auto;
padding-top:40px;

}