#m_wap{
font-family:tahoma;
width:100%;
background-color:#3C7FAF;
float:left;
font-size:14px;
}
#m_nav {
    width: 100%;
    height: 45px;
    border-bottom: #fff solid 2px;
}

#m_wap a {  color: #3C7FAF;font-size:14px;text-decoration: none;}
#m_wap a:hover{ }

ul,li{list-style:none;line-height:25px;}
ul{padding-left:0px;}

div#m_menu {
    width: 90%;
    margin: 0 auto;
}
div#m-topad{
height:250px;
width:100%;
text-align:center;
}
div#m-midpad{
height:250px;
width:100%;
margin-top: 10px;
}

ul.left {
    width: 50%;
    float: left;
}
ul.right {
    float: left;
}
div#m_menu{
    float: left;
    background-color: #fff;
    width: 97%;
    padding-left: 5px;
    border: 2px solid #ccc;
    position: absolute;
    z-index: 1000;
    top: 48px;
	display:none;
}
div#l-left{float: left;
    width: 37%;
    padding: 10px 5px;}
div#l-right {
    float: left;
    width: 20%;
    padding-top: 10px;
    text-align: center;}
div#social {
    float: right;
    width: 40%;
    padding-top: 8px;
}
	
h2{font-size:14px;}	
div#mobile2{ background-color:#fff;margin: 0 5px;}
#m_content ul li img {
    max-width: 100%;
    height: 120px;
}
#m_content p{font-size:14px;min-height:75px;}
div#m_content {
    float: left;
    padding-left: 5px;
}
div#m_content a:visited{color: #aba8a8 !important;}
div#m_content ul li {
    float: left;
    width: 47%;
    margin: 2px;
    padding: 2px;
    background: #fff;
}
div#mobile3 {
    float: left;
    background: #fff;
    margin: 5px;
    width: 97%;
}
div#mobile3 p {
    padding-left: 5px;
}
div#m_footer {
    width: 100%;
    text-align: center;
	float:left;
}
#gotop{
    width: 100%;
    text-align: center;
    position: fixed;
	display:none;
	bottom: 100px;
    background-color: rgba(204, 204, 204, 0.49);
}
#title_menu{
    background: #3C7FAF;
    padding: 2px;
    width: 70%;
}
#title_menu a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#mobile2 li {
    line-height: 28px;
}
#mobile2 li a {
    text-decoration: none;
}
#m_page h1 { color: #000;
    text-align: center;
}
#inner_content {background-color:#fff; padding:5px;}
#m_more p{font-size:16px; font-weight:bold;}
ul#mainmenu li {
    float: left;
    padding-right: 10px;
}
li#title-mainmenu {
    font-size: 14px;
    font-weight: bold;
    color: #c7282f;
    text-decoration: underline;
}
li#title-mainmenu-playlist {
    font-size: 14px;
    font-weight: bold;
    color: #201358;
    text-decoration: underline;
}
ul#mainmenu-play,ul#mainmenu {
    float: left;
    width: 100%;
	margin: 5px;
}
ul#mainmenu-play li {
    float: left;
    padding-right: 10px;
}
ul#serial-emi li {
    float: left;
    padding: 5px ;
    width: 45%;
    list-style: none;
}
#sharing{
display:none;
z-index: 1000;
position: fixed;
color: #fff;
text-align: center;
width: 500px;
border: 2px solid #ded1d1;
border-radius: 10px;
font-family: monospace;
background: #009688;
top:100px;
}
#sharing #sub{
font-size: 17px;
font-weight: bold;
height: 37px;
margin-top: 20px;
   
}
#sharing #note{
font-size: 16px;
font-weight: bold;
font-style:italic;
padding: 10px 0px;
}
#closesh{
display:none;
position: fixed;
top:80px;
z-index: 2000;
cursor:pointer;
}
p#pdate {
    font-size: 14px;
    font-weight: bold;
    padding-left: 2%;
    text-decoration: underline;
}
ul#ugallery {
    /* width: 100%; */
    padding-left: 2%;
}
ul#ugallery li {
    min-height: 120px;
}
ul#ugallery li div {
    float: left;
    /* width: 50%; */
}
ul#ugallery img {
    max-width: 150px;
    border: 2px solid #ccc;
}
p#pgallery {
    float: left;
    width: 60%;
    font-size: 12px;
    text-align: justify;
    display: inherit;
    text-transform: uppercase;
    padding-left: 3%;
}
#m_allupdate p{
min-height: 15px !important;
}
div#m_allupdate h2 {
    color: #ffffff;
}
ul.trend li {
    line-height: 15px;
    padding: 5px;
    font-style: italic;
}
div#m-topad img {
    height: 100% !important;
}
div#m-midpad img {


}

.search {
    position: absolute;
    top: 45px;
    height: 30px;
    margin: 0 auto;
    width: 95%;
    text-align: center;
    background: #0a2c79;
    padding: 5px 10px;

}
.search_input_text {
    border: solid 0px #003333;
    height: 25px;
    width: 240px;
    padding-left: 15px;
    text-transform: uppercase;
    border-radius: 3px;
}
div#m_page {
    margin-top: 39px;
}
input#search_searchword {
    width: 180px;
}
fieldset {
    border-width: 0px;
}
form#searchForm {
    margin: 10px;
}

div#inner_content  img {
    max-width: 100%;
    min-width: 30px;
}

div#left div#inner_content{
    background-color: #3c7faf !important;
    padding-left: 0px !important;
    font-size: 14px;
    text-align: left;
}