body{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
margin:0px;

}


img{border:0px;
}
/* Header */
#logo{
background-image:url(../images/logo.gif);
background-repeat:no-repeat;
width:166px;
height:90px;
float:left;
}
.header1{
width:100%;
height:90px;

/*padding-left:40px;*/
padding-right:25px;
float:right;

}
.header1_ads
{
padding-top:0px;


}

#menuline{
height:35px;
float:right;
width:600px;
padding-right:15px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
}

#menuline ul{
list-style:none;
float:right;
}
#menuline ul li{
padding-left:5px;
padding-right:5px;
list-style:none;
display:inline;
}
#menuline a:link, #menuline a:visited{text-decoration:none;color:#FFFFFF;}
#menuline a:hover{text-decoration:underline;color:#FFFFFF;}

#boxSearch{
height:45px;
width:500px;
float:right;
padding-right:15px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;

}
.search_input{
height:23px;
background-color:#FFFFFF;
width:270px;
padding:2px;
}
.search_input_text{ border:solid 0px #003333;
height:18px;
width:240px;
}

.clear{
clear:both;
}

/************* Content **************/
.latestnews li {
float:left;
list-style-image:url(../images/icon.gif);
font-size:12px;
text-align:left;
}
.latestnews a:link{text-decoration:none; color:#447BB4;}
.latestnews a:visited{text-decoration:none; color:#447BB4;}
.latestnews a:hover{text-decoration:underline; color:#447BB4;}

.contentheading{
font-weight: bold;
    font-size: 14px;
    padding-top: 7px;
    text-transform: uppercase;
    color: #c1272d;
}
.contentheading a:link{text-decoration:none; color:#c1272d;}
.contentheading a:visited{text-decoration:none; color:#c1272d;}
.contentheading a:hover{text-decoration:underline; color:#c1272d;}
.main-content{
padding:5px;
color:#095199;
}
.readon{
color:#990000;
font-style:italic;

}
.readon a:link{text-decoration:none; color:#990000;}
.readon a:visited{text-decoration:none; color:#990000;}
.readon a:hover{text-decoration:underline; color:#990000;}

.mainlevel{
color:#07519A;
text-decoration:none;
}

.mainlevel a:visited{
color:#07519A; text-decoration:none;}
.mainlevel a:link{
color:#07519A; text-decoration:none;}
.mainlevel a:hover{
color:#07519A; text-decoration:underline;}


#left a:link, #left a:visited{text-decoration:none;color:#FFF;}
#left a:hover{text-decoration:underline;color:#ccc;}
#left .mainlevel{
font-weight:bold;
background-image:url(../images/arrow.gif);
background-repeat:no-repeat;
padding-left:15px;
margin-left:5px;
margin-top:2px;
margin-bottom:2px;
}

#main-right{
background-color:#FF6600;
border:1px solid #FFFF33;
}

#left h3{
color:#FFFFFF;
text-align:left;
}

/**********************Right **************************/
#rightmenu1 td,#rightmenu2 td{
height:28px;
padding-left:5px;
text-align:left;
}
.mainlevel_right{
background-image:url(../images/arrow_right_menu.png);
background-repeat:no-repeat;
background-position:left;
text-decoration:none;
color:#447BB4;
height:28px;
padding-top:5px;
padding-bottom:10px;
padding-left:30px;
border:0px solid;
margin-bottom:3px;

}

.menu_right {
list-style:none;
float:left;
}
#menu_right  li{

list-style-image:url(../images/arrow_right_menu.png);
text-align:left;

}
#menu_right   span{
height:20px;
padding-top:0px;
color:#CC6633;
background-color:#FF0000;
}
#right a:link{text-decoration:none;}
#right a:visited{text-decoration:none;}
#right a:hover{text-decoration:underline;}

#rightbox2{
max-height:100%px;
background-color:#FFFFFF;
width:315px;
}

#rightmenu1,#rightmenu2{
width:155px;
float:left;
margin:0 auto;
text-align:center!important;
text-align:justify;
}


#right h3{
color:#095199;
padding-left: 5px;
text-align:left;
}
#rightbox1
{
width:320px;
text-align:center !important;
text-align:justify;
overflow:hidden;
padding-top:5px;

}

#rightmenu2{
float:right;
margin:0 auto;
text-align:center !important;
text-align:justify;
padding-right:0px;
width:160px;

}
.module img{ border:0px;}
#rightbox-null{
height:500px;
background-color:#FFFFFF;
width:376px;
}

.inputbox{
border:1px solid #999999;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
/*************** Footer***************/
.footer{
background-color:#3D7FAF;
height:100px;
padding-top:100px;
text-align:justify;
text-align:center !important;
font-weight:none;
width:980px;
color:#CCCCCC;
}
.footer a:link{text-decoration:none; color:#CCCCCC;}
.footer a:visited{text-decoration:none; color:#CCCCCC;}
.footer a:hover{text-decoration:underline; color:#CCCCCC;}
#c2{ position:fixed; width:30px; right:0px;  top:100px; }
#c3{ position:fixed; width:160px; right:0px; background-color:#211457; top:40px; height:auto;display:none;}
#panel li{ list-style:none; margin:5px 0px;}
#panel li a{ font-size:16px; font-weight:bold; color:#0090FF;}
#panel {margin:10px 5px 0px 5px !important;cursor:pointer;padding-left:0px;}
h2 {
    font-size: 18px;
}
ul.homemovie {
    list-style: none;
    padding-left: 0px;
	margin-top: -10px;
}
ul.homemovie li {
    padding: 5px 0px;
    font-size: 14px;
}
ul.homemovie li a:hover {
    text-decoration: underline;
}
ul.homemovie li a {
    text-decoration: none;
}

ul.food {
    list-style: none;
    padding-left: 0px;
}
ul.food li {
    float: left;
    padding: 5px;
}
ul.food a {
    text-decoration: none;
	font-size: 14px;
	
}
.module td, .module_menu td {
    height: 22px;
}
a , a.visited{color:#176fe7;}
.componentheading {
    font-size: 0px;
}
ul.topmovie {
    padding-left: 5px;
}
ul.todayupdate{
    padding-left: 5px;
}

ul.topmovie li {
    list-style: none;
    /* padding-left: 0px; */
    min-height: 70px;
}
ul.todayupdate li {
    float: left;
    width: 50%;
    min-height: 205px;
}
ul.todayupdate li:hover{
    cursor: pointer;
}
ul.topmovie div {
    height: 80px;
    float: left;
}
ul.topmovie li img {
    width: 120px;
	height:70px;
    float: left;
    display: inline;
    padding: 5px;
    max-height: 80px;
    border-width: 5px;
}
.topmovietitle a {
   
    text-decoration: none;
	color: #948c8c !important;
    font-size: 14px;
    text-transform: capitalize;
}
.todayupdatetitle a{
    text-decoration: none;
    color: #948c8c !important;
    font-size: 14px;
    text-transform: capitalize;
}
.todayupdatetitle a:hover{
    cursor: pointer;
    text-decoration: underline;
}
p.topmovietitle {
    text-align: left;
	margin-top: 0px;
}
p.todayupdatetitle{
     text-align: center;
    margin-top: 0px;
}
li#line hr {
    border-width: 1px !important;
    border-color: rgba(245, 237, 237, 0.18);
}
li#line {
    min-height: 5px !important;
}
ul.trend li {
    padding: 5px 0px;
    font-size: 14px;
    text-align: left;
	padding-left:10px;
}
.topmovietitle a:hover{text-decoration:underline;}
ul.topmovie p.more,p.more a {
    text-align: right;
    color: #c1272d;
	text-decoration:none;
	font-style:italic;
}
div.seriallist ul li {
    line-height: 32px;
}
p#daysuntv {
    font-size: 14px;
    font-weight: bold;
    color: #c1272d;
    font-style: italic;
}

.blog_more li {
    line-height: 30px;
    font-size: 14px;
}
.sharesocial {
width:0px !important;
top:410px !important;
}
#close{		position: fixed;    width: 30px;    right: 880px;    top: 40px;	z-index: 1000;	display:none;	cursor:pointer;}
#c2 {    position: fixed;    width: 30px;     top: 40px;	z-index: 200;}
#c3 {    position: fixed;    width: 700px;    top: 40px;    height: 394px;    display: none;    z-index: 1000;}
#fancybox-overlay{		position: absolute;    top: 0;    left: 0;    width: 100%;    z-index: 100;}
div#leftads {
    position: fixed;
    top: 50px;
    width: 160px;
}
.sf-menu a{
padding: 0.1em 1em !important;
}
#page-main a:visited{color: #aba8a8 !important;}


div#serial-emi div{float:left; padding:10px ; width:42%;}
#custom1 img {
    float: right;
    padding-top: 5px;
}
#custom1 p {
    line-height: 40px;
    margin: 0px;
}
.today-block{color:#fff;}
.rc-in-article-container{ width: 100% !important; }
div.module .rc-item .rc-item .rc-headline{
    font-size: 14px !important;
    color: #0b4748 !important;
}
div#rcjsload_6f17ed{
    background: #fff;
    width: 99%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    margin-left: 5px;
}
div#rcjsload_6f17ed .rc-headline {
    font-size: 14px !important;
    font-style: normal !important;
    color: #0951b2 !important;
}
li.parent ul {
    margin-top: -1px;
}

div#rcjsload_6f17ed .rc-t-.rc-g-t-3>div.rc-item {
    width: 16.5% !important;
}
div#rcjsload_2a7a41 .rc-t-.rc-g-t-3>div.rc-item{
    width: 100% !important;
}
.searchsea .search_input_text {
    
    background: #3c7faf;
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
	width: 220px;
}
.searchsea {
    width: 95%;
}
input.buttonsea {
    height: 27px;
    background: #fff;
    border: 1px solid #ccc;
    width: 68px;
}
div#f_search {
    padding: 10px;
    font-size: 14px;
    background: #3c7faf;
    color: #fff;
}
div#f_search input {
    height: 25px !important;
    font-size: 14px;
    padding-left: 5px;
}
div#f_search button {
    height: 27px;
    width: 70px;
    background: #fff;
    border: 1px solid #ccc;
}
div#f_search {
    text-align: center;
}
div#f_phase {
    text-align: center;
    margin: 10px;
    font-size: 14px;
}
div#f_order {
    text-align: center;
    margin: 10px 0px;
    font-size: 14px;
}
div#f_area {
    font-size: 14px;
}
div#f_result fieldset {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
ul.cooks a {
    font-size: 14px;
    font-weight: bold;
    color: #E91E63;
}
ul.cooks img {
    border: 2px solid #ccc;
}