@import url("style-base.css");
::-webkit-input-placeholder {color: #666;}
:-moz-placeholder {color: #666;}
::-moz-placeholder {color: #666;}
:-ms-input-placeholder {color: #666;}
body {color: #888; background: url("/images/tb.png") repeat-x #181917;}
a {color: #d0d0d0;}
a:hover {color: #c0ff01;}
/* header */
div.header {height: 130px;}
div.logo {top: 12px;}
ul.topmenu {top: 90px; left: 320px;}
ul.topmenu li a {border-left: 1px solid #47521c; padding: 0 10px;}
ul.topmenu li a.first {padding-left: 0; border-left: none;}
/* search field */
div.search {background: #e8eae0; border: 3px solid #5d8501; top: 20px; border-radius: 2px; box-shadow: 1px 0 4px #000; width: 658px;}
div.search input.sf {color: #000; width: 600px;}
div.search button.sb:after {color: #5d8501;}
.autocomplete-suggestions {border-color: #5d8501; background:#e8eae0;}
.autocomplete-suggestion {color: #5d8501;}
.autocomplete-selected {background: #cdd8b3; color: #000;}
.autocomplete-suggestions strong {color: #c02d02;}
/* lang selector */
#lngselect {background:url("http://static.webclicks24.com/images/select-arrow-w.png") no-repeat 100% 50%; top: 86px;}
#lngselect strong {color: #fff;}
#lngselect.down:after {border-bottom-color: #364033;}
#lngselect ul {background-color: #1f211e; border-color: #364033;}
/* headers */
h1,h2,div.h {color: #fd3a01; background: #000; border-bottom: 1px solid #222820;}
h1,h2 {font-size: 20px; font-weight: 400; padding: 0 10px;}
div.h h1, div.h h2 {border: none; background: none;}
div.tbookshare {right: -5px;}
/* buttons */
div.sort a, div.durgrp a, div.timerange a, div.pages a {background:#303430; border: 1px solid #000;}
div.sort a:hover, div.durgrp a:hover, div.timerange a:hover, div.pages a:hover {background: #404440;}
div.sort a.current, div.durgrp a.current, div.timerange a.current, div.pages a.current {background: #000; color: #c0ff00; border-bottom-color: #222820;}
/* content and thumb categories */
ul.tcats li a {color: #e7e7e7;}
ul.tcats li a:hover {color: #c0ff01;}
ul.tcats span.cnt {color: #9ca86d;}
ul.content li, ul.tcats li, ul.relatedthumbs li {border-color: #000; background: #1f211e;}
ul.content li h3 {}
ul.content li span.add, ul.content li span.src {padding-left: 0;}
ul.content li span.add:after, ul.content li span.src:after {display: none;}
ul.content li span.add {color: #9ca86d;}
ul.content li span.src a {color: #9ca86d;}
ul.content li span.src a:hover {color: #c0ff01;}
ul.content li span.tl {border-top: 1px solid #252723;}
ul.content li span.tl span {color: #909090;}
ul.content li span.tl a {}
ul.content li span.tl a:hover {}
ul.content li span.tl a.c {}
ul.content li span.hdlabel {}
/* icons */
ul.content li h3:after, ul.content li span.add:after, ul.content li span.src:after, ul.content li span.tl:after, div.related a:after, ul.relatedthumbs li h3:after {color: #91b800;}
div.az ul li:after, div.related a:after {color: #5a6c11;}
/* text categories */
div.az ul li.letter {background: #111211; color: #fd3a01; border-bottom: 1px solid #1f201d;}
/* back to top button */
#back_to_top a#back-to-top {background: #5a6c11;}
/* banners */
.ads3b {border-color: #000; background: #1f211e;}
/* toplist */
div.tradeindex div.cont div.timg img {border: 1px solid #000; background: #1f211e;}
div.tradeindex div.cont div.timg a:hover img {border: 1px solid #000;}
ul.globaltop li {color: #9ca86d;}


@media all and (min-width: 1340px) {
	div.search.top {width: 988px;}
	div.search.top input.sf {width: 930px;}
}
@media all and (min-width: 1670px) {
	div.search.top {width: 1318px;}
	div.search.top input.sf {width: 1260px;}
}
@media all and (max-width: 1000px) {
	h1,h2 {font-size: 20px;}
	ul.content li, ul.tcats li, ul.relatedthumbs li, ul.content li:hover, ul.tcats li:hover, ul.relatedthumbs li:hover {border-color: #181917; box-shadow: inset 0 0 1px #000;}
	div.search {width: 300px;}
	div.search.top {width: auto; left: 320px;}
	div.search input.sf {width: 240px;}
}
@media all and (max-width: 767px) {
	div.header {height: 205px; background: none; padding-top: 115px;}
	div.search {height: 48px;}
	div.search.top {top:auto; left: auto; width: 100%;}
	div.logo {left: 50%; margin-left: -145px;}
	div.logo a img {max-height: inherit; max-width: inherit;}
	ul.topmenu {display: block; left: 5px; top: 175px;}
	#lngselect {top: 167px;}
	ul.content li a.report {color: #888;}
}
@media all and (max-width: 479px) {
	h1,h2 {font-size: 16px;}
}

