/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hj0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(//fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body { margin:0px; padding:0px; color:#000; font-size:11px; font-family: 'Open Sans', sans-serif; -webkit-print-color-adjust:exact; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:none; }
a:focus { outline:none; }
.sol { float: left; }
.sag { float: right; }
.temizle { clear:both; }
img { border:none; }
.border { border:1px solid #ccc; }
/*------------------------------------------------------------------------*/
.text { box-sizing:border-box; margin:0px; padding:10px; height:45px; border:1px solid #ddd; width:100%; font-family: 'Open Sans', sans-serif; font-size:14px; }.text:focus { outline:0px; }
.select { box-sizing:border-box; margin:0px; padding:0px 10px; height:45px; border:1px solid #ddd; width:100%; font-family: 'Open Sans', sans-serif; font-size:14px; }.select:focus { outline:0px; }
.checkbox { box-sizing: border-box; margin:0px; padding:0px; border:0px; }
.buton { box-sizing:border-box; margin:0px; padding:0px 15px; height:45px; border:1px solid #ddd; font-family: 'Open Sans', sans-serif; font-size:14px; font-weight:600; border-radius:5px; cursor:pointer; vertical-align:middle; display:table-cell; text-align:center; }
.buton:focus { outline:0px; }
input[type=submit][disabled=disabled], button[disabled=disabled] { border-color:#eee !important; background-color:#eee !important; color:#ccc !important; }
.input-yazi { font-size:14px; height:45px; vertical-align:middle; display:table-cell; }
/*------------------------------------------------------------------------*/
.yukleniyor { display:none; }
.yukleniyor .yukleniyor-yazi { margin-left:10px; margin-top:5px; font-size:12px; text-align:left; }
/*------------------------------------------------------------------------*/
.uyarilar { }
.uyarilar a { cursor:pointer; text-decoration:underline; }
.uyarilar a:hover { text-decoration:none; }
.uyarilar .basarili-resim { background-image:url(basarili.png); width:16px; height:16px; background-position:center; background-size:cover; margin-right:5px; }
.uyarilar .basarisiz-resim { background-image:url(basarisiz.png); width:16px; height:16px; background-position:center; background-size:cover; margin-right:5px; }
.uyarilar .uyarilar-yazi { height:16px; vertical-align:middle; display:table-cell; font-size:13px; font-weight:600; }
/*------------------------------------------------------------------------*/
.sayfalama { font-size:14px; margin-top:10px; }
.sayfalama .sayfa { border:1px solid #ccc; color:#000; padding:6px 10px; text-align:center; margin-left:1px; display:inline-block; background-color:#fff; }
.sayfalama .sayfa:hover { background-color:#eee; }
.sayfalama .sayfa-aktif { background-color:#eee; color:#ddd; font-weight:bold; }
.sayfalama .sayfa-aktif:hover { background-color:#eee; }
/*------------------------------------------------------------------------*/
.sayfayi-basa-al { width:40px; height:40px; position:fixed; bottom:10px; right:10px; display:none; outline:none !important; background-color:#0072e6; background-image:url('//ofpof.com/genel/sayfayi-basa-al.png'); background-repeat:no-repeat; background-position:12px 16px; cursor:pointer; opacity:0.5; border-radius:5px; z-index: 99999; }
.sayfayi-basa-al:hover { opacity:0.8; }
/*------------------------------------------------------------------------*/
.kategori-bos { background-color:#e6e6e6; color:#000; }
.kategori-kirmizi { background-color: #F32C2C; color:#fff; }
.kategori-mavi { background-color: #00A8DF; color:#fff; }
.kategori-sari { background-color: #ffc000; color:#fff; }
.kategori-turuncu { background-color: #ff8400; color:#fff; }
.kategori-yesil { background-color: #47AF5C; color:#fff; }
.kategori-mor { background-color: #ae7ec1; color:#fff; }
.kategori-pembe { background-color: #cd37cf; color:#fff; }
.kategori-bej { background-color: #D7A359; color:#fff; }
.kategori-gri { background-color: #eee; color:#333; }
.kategori-beyaz { background:linear-gradient(#fff, #f0f0f0); color:#333; }
.kategori-logo { background-color:#00b1ea; color:#000; }
.kategori-kizil { background-color:#ff5400; color:#fff; }
/*.kategori-logo { background-color:#269dff; color:#000; }*/

.sag-taraf .genel-baslik-2 .kategori-bos:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#e6e6e6; bottom:-18px; right:15px; }
.sag-taraf .genel-baslik-2 .kategori-kirmizi:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#F32C2C; bottom:-18px; right:15px; }
.sag-taraf .genel-baslik-2 .kategori-turuncu:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#ff8400; bottom:-18px; right:15px; }
.sag-taraf .genel-baslik-2 .kategori-mor:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#ae7ec1; bottom:-18px; right:15px; }
.sag-taraf .genel-baslik-2 .kategori-mavi:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#00b1ea; bottom:-18px; right:15px; }
.sag-taraf .genel-baslik-2 .kategori-sari:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#ffc000; bottom:-18px; right:15px; }
.sag-taraf .genel-baslik-2 .kategori-yesil:before { content: ''; width:0; height:0; position:absolute; border:9px solid transparent; border-top-color:#51ba66; bottom:-18px; right:15px; }

/*
.kategori-kirmizi { background-color:#cc3333; color:#fff; }
.kategori-mavi { background-color:#00a2d6; color:#fff; }
.kategori-sari { background-color:#e49d30; color:#fff; }
.kategori-turuncu { background-color:#df7300; color:#fff; }
.kategori-yesil { background-color:#449f56; color:#fff; }
.kategori-mor { background-color:#9468a6; color:#fff; }
.kategori-pembe { background-color:#b724b9; color:#fff; }
.kategori-bej { background-color:#cda469; color:#fff; }
.kategori-gri { background-color:#737373; color:#fff; }
*/
