/*-- ExoClick Ad. PopUp--*/
.allIM {
	display: block;
	width: 100%;
	left: 0px;
	bottom: 0px;
	position: fixed;
	z-index: 9998;
	height: 0;
}

.allIMwindow {
	display: block;
	width: 377px;
	height: 323px;
	top: 0px;
	right: 10px;
	position: absolute;
	z-index: 9999;
	background:url('../befuck_images/sprites.png') -0px -863px;
	font-family: Arial;
	font-size: 11px;
}

.allIMwindow-header {
	line-height: 25px;
	width: 314px;
	height: 30px;
	background-repeat: repeat-none;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-left: 14px;
	padding-bottom: 0px;
	margin: 0px;
}

.allIMwindow-header-close{
	display: block;
	position: absolute;
	top: 6px;
	right: 8px;
	width:26px;
	height:26px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	background:url('../befuck_images/sprites.png') 0px -1186px;
}

.allIMwindow-header-close:hover{
	background-position:-26px -1186px;
}

.allIMwindow-header-close:active{
	background-position:-52px -1186px;
}

.IMcontent {
	width: 300px;
	position:absolute;
	top:35px;
	left:40px;
}