.photoblock{
	width: 830px;
	margin:0px auto;
	padding:10px 0px;
}

.w916 .photoblock {
width: 492px;
}

.tags_block
{
	height:20px;
}

.photoblock .right
{
	float:left;
	margin:-5px 0px 0px 40px;
}

.photoblock .gallery-bgn{
	min-height:615px;
	background:url(http://i30.pinkrod.com/images/bg-photo.png) no-repeat 0 -613px;
	width:830px;
	display:block;
	float:left;
}
.photoblock #gallery {
	display: none;
	float: left;
	width:480px;
	height:613px;
	position:relative;
}
.photoblock .ss-controls {
	position:absolute;
	left:179px;
	top:548px;
	z-index:10;
	display:none;
}
.photoblock .ss-controls a{
	display:block;
	width:64px;
	height:48px;
	overflow:hidden;
	text-indent:-9999px;
}
.photoblock .ss-controls .pause{
	background:url(http://i30.pinkrod.com/images/gallery_btns.png) no-repeat -256px 0;
}
.photoblock .ss-controls .play{
	background:url(http://i30.pinkrod.com/images/gallery_btns.png) no-repeat -192px 0;
}
.photoblock .ss-controls .pause:hover{
	background-position:-256px -48px;
}
.photoblock .ss-controls .play:hover{
	background-position:-192px -48px;
}
.photoblock .nav-controls {
	position:absolute;
	left:100px;
	top:100px;
	z-index:9;
}
.photoblock .nav-controls a{
	float:left;
	width:20px;
	height:20px;
	overflow:hidden;
	background:#f00;
	color:#fff;
	margin-left:5px; 
}
.photoblock .slideshow-container {
	position: relative;
	width:478px;
	height:599px;
	margin:7px;
	overflow:hidden;
	display:block;
}
.photoblock #gallery:hover .slideshow-container{
	background-position:0 0;
}
.photoblock #thumbs{
}
.w916 .photoblock #thumbs{
	visibility:hidden;
}
.photoblock .loader {
	position:absolute;
	top:0;
	left:0;
	background:#000;
	z-index:100;
	background-repeat: no-repeat;
	background-position: center;
	width:478px;
	height:599px;
}
.photoblock .slideshow .image-wrapper {
	display: block;
/*	position: absolute;*/
	top: 0;
	left: 7px;
	width:478px;
	height:599px;
	overflow:hidden;
}
.photoblock .slideshow .image-wrapper img{
	display:block;
	vertical-align:top;
	width:478px;
	height:599px;
}
.photoblock .slideshow .image-wrapper a{
	display:block;
	text-decoration:none;
	text-indent:-9999px;
}
.photoblock .thumbs{
	float:right;
	width:306px;
	overflow:hidden;
}
.photoblock .thumbs li{
	float:left;
	overflow:hidden;
	margin:0 0 2px 2px;
    position: relative;
	display:block;
}

.photoblock .thumbs a{
	width:86px;
	height:107px;
	background:url(http://i30.pinkrod.com/images/bg-photo-litle.png) no-repeat;
	overflow:hidden;
	float:left;
	display:inline;
	text-align:center;
	padding:7px;
}
.photoblock .thumbs .selected a,
.photoblock .thumbs a:hover{
	background-position:0 -121px;
}
.photoblock .caption{
	position:absolute;
	top:541px;
	left:310px;
	background:url(http://i30.pinkrod.com/images/gallery_btns.png) no-repeat -64px 0;
	width:64px;
	height:48px;
	overflow:hidden;
	text-indent:-9999px;
	z-index:30;
	display:none;
}
.photoblock .caption-container { position:absolute; left:7px; top:7px; z-index:8; width:478px; height:599px; overflow:hidden; }
.photoblock .image-caption { display:block; position:absolute; width:478px; height:599px; top: 0px; left:0px; }
.photoblock .nav-controls .prev,
.photoblock .nav-controls .next{
	position:absolute;
	top:448px;
	left:5px;
	background:url(http://i30.pinkrod.com/images/gallery_btns.png) no-repeat;
	width:64px;
	height:48px;
	overflow:hidden;
	text-indent:-9999px;
	z-index:30;
	display:none;
}
.photoblock .nav-controls .prev:hover{
	background-position:0 -48px;
}
.photoblock .nav-controls .next:hover{
	background-position:-128px -48px;
}
.photoblock .caption:hover{
	background-position:-64px -48px;
}
.photoblock #gallery:hover .prev,
.photoblock #gallery:hover .next,
.photoblock #gallery:hover .ss-controls,
.photoblock #gallery:hover .caption{
	display:block;
}
.photoblock .nav-controls .next{
	left:143px;
	background-position:-128px 0;
}
.photoblock .hidden-img{
	display:none;
}