* {	
	padding:0;
	margin:0; 
	outline:0; 
	line-height:110%;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
	box-sizing:content-box;
}

html { height:100%; }

body {
	font-size:12px;
	font-family:Arial, sans-serif;
	background:#1b1d29;
	color:#9094aa;
}

h1, h2, h3, h4, p {
	margin-bottom:0.5em;
}

h1 {font-size:36px; color:#555555}
h2 {font-size:30px; color:#555555}
h3 {font-size:146%;}
h4 {font-size:123%;}


a {color:#398dd4;text-decoration:none;}
a:hover {color:#ee2a6b}
a:active {color:#444657}
a img {border:0;}

.clr {
	clear:both;
	border:0;
	height:0px;
	width:0px;
	font-size:1px;
	line-height:1px;
	float:none !important;
	display: block;
}

input[type*=submit],input[type*=button] {
	cursor:pointer;
}


#wrapper {
	min-width:916;
	margin:0 auto;
	position:relative;
	width:1138px;
	visibility:hidden;
}

	#wrapper.w916 {width:916px;visibility:visible;}
	#wrapper.w1221{width:1221px;visibility:visible;}
	#wrapper.w1526 {width:1526px;visibility:visible;}
	#wrapper.w1831 {width:1831px;visibility:visible;}
	
	#wrapper.w1138 {width:1138px;visibility:visible;}
	#wrapper.w1517 {width:1517px;visibility:visible;}
	#wrapper.w1896 {width:1896px;visibility:visible;}
	#wrapper.w2275 {width:2275px;visibility:visible;}
		
span.info {
	position:absolute;
	font-size:12px;
	line-height:16px;
	color:#696969;
	top:50%;
	margin-top:-8px;
	right:0px;
}

header.mh {
	display:block;
	position:relative;
	height:110px;
	z-index:3;
}

	.mh .logo {
		position:absolute;
		top:10px;
		left:0px;
		width:237px;
		height:47px;
		background:url(http://i30.befuck.com/befuck_images/sprites.png) -134px 0px;
	}
	
	nav.mn {
		position:absolute;
		top:0px;
		left:42%;
		margin-left:-135px;
		font-family:Arial;
	}
	
		nav.mn a {
			display:block;
			margin:0px 20px;
			height:66px;
			float:left;
			text-decoration:none;
			text-transform:uppercase;
			font-size:24px;
			line-height:66px;	
			color:#71727e;
			border-top:5px solid transparent;
		}
		
		nav.mn a:hover{
			color:#ee2a6b;
		}
		
		nav.mn a:active, nav.mn a.active {
			color:#ee2a6b;
			border-top:5px solid #ee2a6b;
		}

	nav.an {
		position:absolute;
		bottom:0px;
		left:-1px;
		width:100%;
		height:36px;
		background:#151721;
		border-radius:4px;
		font-family:Arial;
		font-size:13px;
		border:1px solid #444657;
		z-index:10;
	}
		nav.an a {
			float:left;
			text-decoration:none;
			height:36px;
			line-height:36px;
			margin-left:14px;
			color:#e1e1e1;
		}
		
		nav.an a:hover {
			color:#ee2a6b;
		}
		
		nav.an a:active, nav.an a.active {
			color:#71727e;
		}
	
	menu.um {
		position:absolute;
		right:0px;
		top:0px;
		padding:3px 10px 0px;
	}
	
		menu.um a {
			color:#fff;
			display:block;
			text-decoration:none;
			position:relative;
		}
		
		menu.um a:hover {
			color:#ee2a6b;
		}
		
		menu.um a:active {
			color:#747474;
		}
			
			menu.um a * {
				float:left;
			}
			
			menu.um a span {
				line-height:22px;
			}

			menu.um a div {
				position:relative;
				height:16px;
				width:16px;
				top:2px;
				margin-right:6px;
				background:url(http://i30.befuck.com/befuck_images/sprites.png);
			}

			menu.um a:active div {
				opacity:0.5;
			}

			menu.um a div.mobile {
				background-position:0 0;
			}

			menu.um a div.signin {
				background-position:-16px 0;
			}

			menu.um a div.register {
				background-position:-32px 0;
			}

			menu.um a:hover div.mobile {
				background-position:-64px 0;
			}

			menu.um a:hover div.signin {
				background-position:-80px 0;
			}

			menu.um a:hover div.register {
				background-position:-96px 0;
			}
	
	#search {
		display:block;
		position:absolute;
		right:0px;
		bottom:1px;
		height:36px;
		width:190px;
		z-index:11;
	}
	
		#search form {
			position:relative;
			display:block;
			margin-left:5px;
			margin-right:56px;
		}
		
			#search form input[type=text]{
				position:absolute;
				width:100%;
				padding:9px;
				line-height:18px;				
				height:18px;
				font-size:14px;			
				color:#fff;
				border:0px;
				border-radius:0;
				-webkit-border-radius:0;
				border-left:1px solid #444657;
				border-right:1px solid #444657;
				background: #1b1d29;
			}
			
			#search form input[type=submit]{
				position:absolute;
				top:6px;				
				left:100%;
				margin-left:26px;
				width:25px;
				height:25px;
				border:0;
				background:url(http://i30.befuck.com/befuck_images/sprites.png) 0px -88px ;
			}
			
			#search form input[type=submit]:hover{
				background-position:0px -113px;
			}
			
			#search form input[type=submit]:active{
				background-position:0px -138px;
			}
		
		#search .ddm{
			position:absolute;
			top:12px;				
			left:100%;
			margin-left:12px;
			height:32px;
		}
		
			.ddm a.btn {
				white-space:nowrap;
				text-decoration:none;
				text-transform:uppercase;
				color:#db1919;
			}
			
			.ddm a.btn:hover {
				color:#000;
			}	
			
			.ddm a.btn:active {
				color:#747474;
			}			
			
				.ddm a span {
					border-bottom:1px dotted #db1919;
					font-weight:bold
				}
				
				.ddm a:hover span {
					border-color:#000;
				}
				
				.ddm a:active span {
					border-color:#747474;
				}
				
			.ddmc {
				display:none;
				position:absolute;
				margin-top:10px;
				float:left;
				padding:5px 0px;
				background:#222;
				background:rgba(0,0,0,0.8);
			}
				
				.ddmc a {			
					white-space:nowrap;
					display:block;
					float:left;
					padding:5px 10px;
					color:#aaa;
					min-width:120px;
					text-decoration:none;
					text-transform:uppercase;
					line-height:24px;
				}
				
				.ddmc a:hover {
					color:#db1919;					
				}
				
				.ddmc a.active, #search .ddmc a.active:hover {
					color:#000;
					background:#747474;
				}
footer {
	margin-top:30px;
	padding-top:20px;	
	padding-bottom:20px;
	line-height:30px;
	font-size:12px;
	text-align:left;
	border-top:1px solid #444657;
}

	footer .copyright {
		float:right;
		line-height:30px;
	}
		
section#content {
	margin-top:6px;
	position:relative;
}

	section aside {
		position:relative;
		float:right;
		width:300px;
	}
	
	section hr{
		margin:0em 0 1.5em;
		border:0;
		border-top:1px solid #989898;
		border-bottom:1px solid #fff;		
	}

/* -- Pagination start -- */
	nav#pgn {
		position:relative;
		font-size:14px;
		margin:35px 0px 30px;
		text-align:center;
	}
	
		nav#pgn a{
			position:relative;
			padding:8px 12px;
			color:#e1e1e1;
			text-decoration:none;
			border:1px solid #444657;
			background:#151721;
			text-transform:uppercase;
		}
		
		nav#pgn a.txt{
			padding:8px 24px;			
		}
		
		nav#pgn a:hover, nav#pgn a:active, nav#pgn a.active {			
			background:#323340;
		}
		
		nav#pgn a:active, nav#pgn a.active {			
			color:#151721;
		}
		
		nav#pgn span.info {
			position:relative;
			font-size:12px;
			line-height:16px;
			color:#9094aa;
			top:50%;
			margin-top:-8px;
			margin-left:10px;
		}
		
/* -- Pagination end -- */
		
	div.sbg {
		width:100%;
		height:3px;		
		background:url('../befuck_images/sprites-bg.png') 0px -42px;
	}
	
	section menu.sm {
		display:block;
		position:relative;
		height:42px;
		float:left;
		width:100%;
	}
	
		section .sm .info {
			margin-top:-16px;
		}
		
		section .sm a {
			border-bottom:0;
			float:left;
			line-height:34px;
			height:34px;
			font-size:18px;
			color:#e1e1e1;
			text-decoration:none;
			margin-right:20px;
			text-transform:uppercase;
		}
		
		section .sm a:hover {
			color:#ee2a6b;
		}
		
		section .sm a.active {
			border-bottom:5px solid #444657;
			color:#398dd4;
		}
	
	section h1.title {
		color:#ee2a6b;
		margin-left:330px;
		margin-top:5px;
		border-left:2px solid #71727e;
		padding-left:25px;
		margin-bottom:5px;
	}
	
	section h1.title.content {		
		padding-left:0;
		border-left:0;
		margin:10px 0px;
	}
	
	article {
		position:relative;
		z-index:2;
	}
	
	article#video {
		padding-left:1px;
        clear: both;
	}
	
		figure {			
			position: relative;
			float: left;
			height: 337px;
			width: 378px;
			margin: 0px 1px 0px 0px;
			font-size: 12px;
			z-index: 1;
		}
		
		.w916 figure {
			height:277px;
			width:304px;
		}
		
		
		#galleries figure {		
			height:536px;
		}
		
		.w916 #galleries figure {		
			height:437px;
		}
			
		figure:hover {
			z-index:2;
		}
			
			figure .ic {
				position:relative;
				top:0px;
				left:0px;
				background: #323340; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiMzMjMzNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMWQxZjJiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left,  #323340 75%, #1d1f2b 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(75%,#323340), color-stop(100%,#1d1f2b)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  #323340 75%,#1d1f2b 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  #323340 75%,#1d1f2b 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  #323340 75%,#1d1f2b 100%); /* IE10+ */
				background: linear-gradient(to right,  #323340 75%,#1d1f2b 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323340', endColorstr='#1d1f2b',GradientType=1 ); /* IE6-8 */
			}		
			
			figure:hover .ic {
				background: #ee2a6b; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NSUiIHN0b3AtY29sb3I9IiNlZTJhNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzgxMTFmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left,  #ee2a6b 75%, #38111f 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(75%,#ee2a6b), color-stop(100%,#38111f)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  #ee2a6b 75%,#38111f 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  #ee2a6b 75%,#38111f 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  #ee2a6b 75%,#38111f 100%); /* IE10+ */
				background: linear-gradient(to right,  #ee2a6b 75%,#38111f 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee2a6b', endColorstr='#38111f',GradientType=1 ); /* IE6-8 */
			}
			
				figure figcaption {
					line-height:32px;
					height:32px;
					padding:0px 6px;
					overflow:hidden;
					color:#9094aa;
				}
				
					figure:hover figcaption {
						overflow:auto;
						height:auto;
						color:#1b1d29;
					}
			
				figure .ic  a{
					text-decoration:none;
					display:block;
					cursor:pointer;
				}
				
				figure .ic .img{
					position:relative;
					width:378px;
					height:305px;
					overflow:hidden;
				}
				
				#galleries figure .ic .img{
					height:504px;
				}
				
				figure .ic .img{
					position:relative;
					width:378px;
					height:305px;
					overflow:hidden;
				}
				
				.w916 figure .ic .img{
					position:relative;
					width:304px;
					height:245px;
					overflow:hidden;
				}
				
					figure .ic .img img{
                        width:378px;
						height:305px;
					}					
					
					#galleries figure .ic .img img{
						height:504px;
					}
					
					.w916 figure .ic .img img{
                        width:304px;
						height:245px;
					}
					
					.w916 #galleries figure .ic .img img{
						height:405px;
					}
				
					figure .ic .img span{
						display:block;
						position:absolute;
						bottom:0px;
						right:0px;
						float:left;
						padding:5px;
						background:rgba(50,51,64,0.7);
						color:#cdcdcd;
						font-size:11px;
					}

			figure .ai {
				display:none;
				padding:6px;
				color:#fff;
			}
			
			figure .ai p {
				padding:0.5em 0;
			}
			
			figure:hover .ai{
				display:block;
			}
			
				figure .ai p a{
					color:black;
					display:inline;
				}
			
				figure .ai p a:hover{
					color:#db1919;
				}
				
/* --- social Buttons start --- */
#social {
		position:absolute !important;
		width:180px !important;
		height:46px !important;
		bottom:53px;
		right:0px !important;
		background:transparent;
		float:right;
		z-index:100;
	}

		 #social  div.vr {
			position:absolute;
			float:left;
			width:0px;
			height:44px;
			border-left:1px solid #767676;
			border-right:1px solid #fff;
		 }

	.addthis_floating_style {
		position:absolute;
		background:transparent;
		padding:0 !important;
		margin-left:10px;
		margin-top:3px;
	}

	.addthis_floating_style.addthis_32x32_style {
		width:auto;
	}

		 .addthis_toolbox a:hover {
			opacity:1 !important;
		}
		
		 .addthis_toolbox div.addthis_internal_container {
			width:170px !important;
			float:right;
		}

		 .addthis_toolbox div.addthis_internal_container a{
			float:left !important;
			display:block;
			width:24px;height:24px;
			margin:0px;
			padding:7px 5px;
		}

		 .addthis_toolbox div.addthis_internal_container a div {
			width:24px;height:24px;
		}


		 .addthis_button_facebook div
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -0px -16px no-repeat;
		}

		 .addthis_button_facebook div:hover
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -0px -40px no-repeat;
		}

		 .addthis_button_facebook div:active {
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -0px -64px no-repeat;
		}


		 .addthis_button_twitter div
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -24px -16px no-repeat;
		}

		 .addthis_button_twitter div:hover
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -24px -40px no-repeat;
		}

		 .addthis_button_twitter div:active
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -24px -64px no-repeat;
		}

		.google {		 
			padding-left: 2px;
			padding-right: 2px;
		 }
		 
		 .google div
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -48px -16px no-repeat;
		}
		 .google div:hover
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -48px -40px no-repeat;
		}
		 .google div:active
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -48px -64px no-repeat;
		}

		 .addthis_button_favorites div
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -96px -16px no-repeat;
		}
		 .addthis_button_favorites div:hover
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -96px -40px no-repeat;
		}
		 .addthis_button_favorites div:active
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -96px -64px no-repeat;
		}

		 .addthis_button_compact div
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -72px -16px no-repeat;
		}
		 .addthis_button_compact div:hover
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -72px -40px no-repeat;
		}
		 .addthis_button_compact div:active
		{
			background:transparent url('http://i30.befuck.com/befuck_images/sprites.png') -72px -64px no-repeat;
		}
/* --- social Buttons end--- */
/* --- Models start --- */
		#models figure {
			height:298px;
		}
		
				#models figure .ic .img{
					height:262px;
					background:#ccc;
				}
			
				#models figure figcaption {
					font-size:18px;
				}
				
				#models figure figcaption {
					font-size:18px;
				}
				
				#models figure .ai p {
					color:#555;
				}
				
				#models figure .ai p span{
					color:#000;
				}				
/* --- Models end ---*/

/* --- Item page start---*/
		.left-block {
			margin-right:307px;
		}
			
			.left-block-content {
				float:left;
				width:100%;
			}
			
			.left-block-content #video-player,.left-block-content #item-info  {
				margin-right:0px;
			}
			
		#item-info {
			margin-right:307px;
		}
		
		#item-info .cnt {
			background:#e9e9e9;
			border:1px solid #989898;
			padding:10px;
		}
		
		#item-info .cntv {
			float:left;
			width:100%;
		}
		
			#item-info .img {
				width:270px;
				float:left;
				position:relative;
			}
			
			#item-info .info {
				margin-left:280px;
			}
			
			#item-info .cntv .p20{
				padding:10px 20px;
			}
			
			#item-info .cntv .info {
				margin-left:0px;
			}
			
			#item-info .info h1 {
				margin:0;
			}
			
			#item-info .info hr {
				margin:1em 0;
			}
			
			#item-info .info p {
				color:#555;
				font-size:14px;
				padding:0px 10px;
			}
			
			#item-info .info .models {
				line-height:20px;
				padding-bottom:0px;
			}
			
			#item-info .info .origin {
				margin-top: 10px;
				position: relative;
				padding: 10px 0px;
				background: #151721;
				border-radius: 10px;
				border: 1px solid #444657;
			}
			
				#item-info .info .origin a{
					color:#fff;
				}
				
				#item-info .info .origin a:hover{
					color:#ee2a6b;
				}
				
				#item-info .info .origin p {
					margin:5px 0px 5px 80px;
					
				}
				
				#item-info .info .origin p:before {
					display:block;
					position:absolute;
					text-align:right;
					margin-left:-80px;
					width:75px;
					color:#71727e;
				}
				
				#item-info .info .origin p.cats:before {
					content:"Categories:"
				}
				
				#item-info .info .origin p.models:before {
					content:"Models:"
				}
			
			#item-info .info .desc {
				margin-top: 10px;
				position: relative;
				padding: 10px 0px;
				padding-left:46px;
				color:#e1e1e1;
			}
			
				#item-info .info .desc div{
					position:absolute;
					top:10px;
					left:10px;
					width:26px;
					height:26px;
					background:url('http://i30.befuck.com/befuck_images/sprites.png') -64px -163px;
				}
				
			#item-info .info .tools {
				margin-top: 10px;
				position: relative;
				color:#e1e1e1;
				height:66px;
			}
				#item-info .info .tools .dnl a{
					display:block;
					padding:12px;
					position:relative;
					float:left;
					text-transform:uppercase;
					border:1px solid #444657;
					border-radius:4px;
					white-space:nowrap;
					margin-right:10px;
				}
				
				#item-info .info .tools .dnl a:hover{
					border:1px solid #ee2a6b;
				}
				
				#item-info .info .tools .dnl a span {
					float:left;
					line-height:20px;
				}
				
				#item-info .info .tools .dnl a div{
					position:relative;
					float:left;					
					height:30px;
					width:10px;
					margin:5px 0px;
					margin-right:12px;
					background:url('http://i30.befuck.com/befuck_images/sprites.png');
				}
				
				#item-info .info .tools .dnl a div.hd {
					width:65px;
					background-position:0px -211px;					
				}
				
				#item-info .info .tools .dnl a:hover div.hd {
					background-position:-65px -211px;					
				}
				
				#item-info .info .tools .dnl a:active div.hd {
					background-position:-130px -211px;					
				}
				
				#item-info .info .tools .dnl a div.dl {
					width:22px;
					background-position:0px -241px;					
				}
				
				#item-info .info .tools .dnl a:hover div.dl {
					background-position:-65px -241px;					
				}
				
				#item-info .info .tools .dnl a:active div.dl {
					background-position:-130px -241px;					
				}
			
			#item-info .info p span {
				color:#000000;
			}
			
			#item-info .cntv header {
				color:#db1919;
				font-size:24px;
				line-height:30px;
				padding-bottom:10px;
			}
			
			#item-info .cntv .p20 header {
				margin-right:220px;
			}
			
			#item-info .fs {
				margin-left:-5px;
			}
			
			#item-info .fs figure {
				width:176px;
				margin-left:5px;
				height:auto;
			}
				
				#item-info .fs figure figcaption {
					text-align:center;
				}				
			
				#item-info .fs figure .ic{
					width:170px;
					border:3px solid #fff;
					border-radius:4px;
				}

				#item-info .fs figure .dsc {
					position:absolute;
					top:-1px;
					left:-1px;
					width:55px;
					height:45px;
					background:url('http://i30.befuck.com/befuck_images/sprites.png') 0px -163px;
					z-index:10;
					
				}
			
				#item-info .fs figure:hover .ic{
					border:3px solid #ee2a6b;
				}
				
					#item-info .fs figure .ic .img{
						width:170px;
						height:100px;
					}
					
/* --- Item page end---*/

/* --- Video Page start*/
	#video-player {
		margin-right: 307px;
		background:#000;
		position:relative;
	}
	
		.promo {
			margin-top:10px;
			position:relative;
			float:left;
		}
		
			.dl-hd {
				display:block;
			}
			
			.dl-hd .ico{
				width:245px;
				height:44px;
				background:url(http://i30.befuck.com/befuck_images/sprites.png) 0 -211px;
			}
			
			.dl-hd:hover .ico{
				background-position:0 -255px;
			}
			
			.dl-hd:active .ico{
				background-position:0 -299px;
			}
		
		#item-info .ddm{
			position:absolute;
			top:15px;				
			left:100%;
			margin-left:12px;
			height:32px;
		}
		
		#item-info .data-tags p{
			margin-right:220px;
		}
		
		#item-info .data-tags .tags {
			width:200px;
			float:right;
			margin-right:20px;
			line-height:150%;
		}
		
		#item-info .data-tags .tags a{
			/*text-decoration:none;*/
		}
		
		.rating {
			position:relative;
			float:right;
			font-size:12px;
			font-weight:bold;
			width:200px;
			margin-bottom:-17px;
			text-align:center;
		}			
		
			.rating .bar {
				position:relative;
				width:200px;
				height:4px;
				background:#afafaf;
				margin-top:10px;
			}
			
				.rating .bar .result{
					position:relative;
					height:4px;
					float:left;
					background:#3b9101;
				}
			
			.rating .vote {
				position:relative;
				height:35px;
				margin-top:5px;
				width:100%;
			}
			
			.rating .info {
				position:absolute;
				width:100%;
				left:0px;
				font-size:36px;
				margin-top:5px;
				font-weight:normal;
				line-height:36px;
				border:0 !important;
				text-align:center;
				color:#fff;
				font-weight:bold;
			}
				
				.rating .vote a {
					display:block;
					float:left;
					text-align:right;
					padding:5px 3px;
					margin:0px 10px;
					text-decoration:none;
					color:#7e7e7e;
					font-size:11px;
					background: #151721;
					border-radius: 4px;
					border: 1px solid #444657;
				}
				
				.rating .vote a.like {
					float:right;
				}
				
				.rating .vote a:hover {
					color:#000;
				}
				
					.rating .vote a div{
						position:relative;
						height:22px;
						background:url('http://i30.befuck.com/befuck_images/sprites.png');
						margin-bottom:2px;
					}
					
					.rating .vote a span {
						padding-right:4px;
					}
					
					.rating .vote a.like div{
						width:30px;
						background-position:-133px -125px;
					}
					.rating .vote a.dislike div{		
						width:30px;
						background-position:-222px -125px;
					}
					
					.rating .vote a.like:hover div{
						background-position:-133px -149px;
					}
					.rating .vote a.dislike:hover div{
						background-position:-222px -149px;
					}
				
				.rating .hidden {
					margin-top:3.5em;
				}
					
		.discount {
			margin-top:10px;
			position:relative;
			padding:10px 0px;
			background:#151721;
			border-radius:10px;
			border:1px solid #444657;
			height:100px;
		}
		
			.discount .fs {
				position:absolute;
				left:7px;
				top:7px;
			}
			
			#item-info .discount p {
				font-size:20px;
				margin-left:190px;
				line-height:40px;
				color:#fff;
			}
			
				#item-info .discount p small {
					font-size:12px;
					color:#71727e;
				}	
				
				#item-info .discount p a {
					color:#1a1818;
					position:relative;
					border-radius:10px;
					padding:10px 20px;
					background:#fe3e7d;
					font-weight: bold;
					font-size:18px;
					background: #fe3e7e; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZlM2U3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZTJhNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  #fe3e7e 1%, #ee2a6b 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fe3e7e), color-stop(100%,#ee2a6b)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #fe3e7e 1%,#ee2a6b 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #fe3e7e 1%,#ee2a6b 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #fe3e7e 1%,#ee2a6b 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #fe3e7e 1%,#ee2a6b 100%); /* W3C */					
					background-color: #fe3e7e;
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3e7e', endColorstr='#ee2a6b',GradientType=0 ); /* IE6-8 */
					box-shadow:0px -1px 0px 0px #ff9ebe inset,0px 1px 0px 0px #ff9ebe inset;
				}
				
				#item-info .discount p a:hover {
					color:#fff;
				}
				
				#item-info .discount p a:active {
					color:#13141b;
					background:#282b39;
					box-shadow:none;
					border:1px solid #444657;
					padding:9px 19px;
				}
				
				#item-info .discount p b{
					color:#ee2a6b;
				}
				#item-info .discount p u{
					text-decoration:line-through;
					color:#71727e;
				}
		
		#c2p {
            width: 638px !important;
            height: 366px !important;
            text-align: left;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -314px !important;
            margin-top: -183px !important;
            background: url('../befuck_images/c2pbg.png') -0px -0px !important;
            z-index: 10000;
            display: none;
		}

            #c2p iframe {
                border: 0 !important;
                position: absolute;
                top: 30px;
                right: 10px;
            }

			#c2p .img div {
                border: 0 !important;
                position: absolute;
                /*top: 30px;*/
                right: 10px;
			}

            #c2p .img div:last-child {
                left:23px;
                right:auto;
            }
			
			#c2p .btn {
                position: absolute;
                width: 299px;
                height: 51px !important;
                color: rgba(0, 0, 0, 0) !important;
                top: 290px;
                left: 50%;
                margin-left:-149px;
                cursor: pointer;
                background: url('http://i30.befuck.com/befuck_images/sprites.png') -0px -710px;
			}
			
			#c2p .btn:hover {
				background-position:0px -761px;
			}
			
			#c2p .btn:active {
				background-position:0px -812px;
			}


#c2p_small {
    position:absolute;
    top:50%;
    left:50%;
    width:328px;
    height:365px;
    margin-top:-184px;
    margin-left:-164px;
    background:url(http://i30.befuck.com/befuck_images/sprites.png) 0px -345px;
    display: none;
}

#c2p_small .img {
    position:absolute;
    top:31px;
    left:14px;
    width:300px;
    height:250px;
    overflow:hidden;
}

#c2p_small .btn {
    position:absolute;
    top:291px;
    left:23px;
    width:283px;
    height:51px;
    cursor:pointer;
    background:url(http://i30.befuck.com/befuck_images/sprites.png) 0px -710px;
}

#c2p_small .btn:hover {
    background-position:0px -761px;
}

#c2p_small .btn:active {
    background-position:0px -812px;
}






/* --- Video Page end*/

/*-- ExoClick Ad. PopUp--*/
.allIM {
	display: block;
	width: 100%;
	left: 0px;
	bottom: 0px;
	position: fixed;
	z-index: 9998;
	height: 0;
}

.allIMwindow {
	display: block;
	width: 377px;
	height: 323px;
	top: 0px;
	right: 10px;
	position: absolute;
	z-index: 9999;
	background:url('http://i30.befuck.com/befuck_images/sprites.png') -0px -863px;
	font-family: Arial;
	font-size: 11px;
}

.allIMwindow-header {
	line-height: 25px;
	width: 314px;
	height: 30px;
	background-repeat: repeaet-none;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	padding-top: 5px;
	padding-left: 14px;
	padding-bottom: 0px;
	margin: 0px;
}

.allIMwindow-header-close{
	display: block;
	position: absolute;
	top: 6px;
	right: 8px;
	width:26px;
	height:26px;
	font-weight: bold;
	color: black;
	cursor: pointer;
	background:url('http://i30.befuck.com/befuck_images/sprites.png') 0px -1186px;
}

.allIMwindow-header-close:hover{
	background-position:-26px -1186px;
}

.allIMwindow-header-close:active{
	background-position:-52px -1186px;
}

.IMcontent {
	width: 300px;
	position:absolute;
	top:35px;
	left:40px;
}