.advert_part {
    background: transparent url(../../../img/main/partners15-eng.gif) no-repeat;
    width: 490px;
    height: 100px;
}

.advert_download {
    background: transparent url(../../../img/main/try-en.png) no-repeat;
}

.advert_free {
    background: transparent url(../../../img/main/turbogo-en.gif) no-repeat;
    width: 376px;
    height: 139px;
    margin: 0 auto;
}