#offer-banner-container {
  height: 40px;
}
#offer-banner-wrapper {
  position: absolute;
  /*width: 980px;*/
  transition: left 0.5s ease, right 0.5s ease, background-color 0.5s ease, box-shadow 1s ease;
}
#offer-banner-wrapper #offer-banner{
  width: 980px;
  margin:auto;
}
#offer-banner-wrapper.promo-locking-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  /*height: 28px;*/
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(255,255,255, 0.90);
  box-shadow: 0 2px 4px -2px rgba(0,0,0, 0.50);
  z-index: 100;
  border-bottom: 1px solid #999;
}
#offer-banner-wrapper.locking-bar-remove-bottom {
  border-bottom: 0;
  box-shadow: none;
}
.promo-locking-bar #offer-banner {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
#banner-content .dyncontent {
  padding: 0;
}
#docWide section#picturestripContainer {
  margin: 0;
  left: 0;
  right: 0;
  padding-bottom: 0;
  top: 39px;
}
#docWide #photoFirstTile.minimized {
  top: 41px;
}
#docWide #sflystoreThumbnail #rightContent #thumbSortBarTop.stick {
  top: 41px;
}

#docWide #sflystoreThumbnail #rightContent #thumbSortBarTop.minimized {
    margin-left: -2px;
}

#docWide #picturestripContainer.stick {
  height: 180px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0, 0.50);
  border-bottom: 1px solid #999;
  background-color: rgba(255,255,255, 0.90);
}

#leftContent .lockingColumn.promo-locking-bar-locked {
  /*padding-top: 90px;*/
}
