@charset "UTF-8";
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.clear:before,
.clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clear:after {
  clear: both;
}

.clear {
  zoom: 1;
}

[data-icon]:before,
.icon {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before,
.icon-stumbleupon:before,
.icon-pinterest:before,
.icon-linkedin:before,
.icon-google-plus:before,
.icon-search:before,
.icon-play:before,
.icon-menu:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-bubble:before,
.icon-facebook:before,
.icon-feed:before,
.icon-youtube:before,
.icon-tag:before,
.icon-tumblr:before,
.icon-instagram:before,
.icon-podcast:before,
.icon-apple:before, .icon-android:before,
.icon-arrow:after,
.icon-arrow:after,
.icon-more:after,
.icon-envelope:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\74";
}

.icon-stumbleupon:before {
  content: "\75";
}

.icon-pinterest:before {
  content: "\70";
}

.icon-linkedin:before {
  content: "\69";
}

.icon-google-plus:before {
  content: "\67";
}

.icon-search:before {
  content: "\73";
}

.icon-play:before {
  content: "\61";
}

.icon-menu:before {
  content: "\21";
}

.icon-arrow-left:before {
  content: "\23";
}

.icon-arrow-right:before {
  content: "\24";
}

.icon-bubble:before {
  content: "\25";
}

.icon-facebook:before {
  content: "\66";
}

.icon-feed:before {
  content: "\27";
}

.icon-youtube:before {
  content: "\79";
}

.icon-tag:before {
  content: "\28";
}

.icon-tumblr:before {
  content: "\6d";
}

.icon-instagram:before {
  content: "\22";
}

.icon-podcast:before {
  content: "\26";
}

.icon-android:before {
  content: "\29";
}

.icon-apple:before {
  content: "\2a";
}

.icon-envelope:before {
  content: "\2b";
}

.icon-arrow:after {
  content: "\61";
  display: inline-block;
  font-size: 0.8em;
  padding-left: 0.2em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.icon-more:after {
  content: "\61";
  display: inline-block;
  font-size: 0.8em;
  padding-left: 0.2em;
  color: rgba(255, 255, 255, 0.6);
}

.icon-play-box {
  display: block;
  margin-left: 2rem;
}

.icon-play-box:before {
  padding: 0.25rem;
  background: #808081;
  color: white;
  margin-left: -1.7rem;
  margin-right: 0.5rem;
}

/**
* Color standards for old and new EW
*/
#logo {
  width: 146px;
  height: 30px;
}

#page {
  position: relative;
}

.header {
  background: #fff;
  padding-top: 1rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.header .top-nav {
  display: block;
  border-bottom: 1px solid #eee;
  height: 60px;
}
.header .top-nav ul > li {
  display: inline-block;
}
.header .top-nav .top-nav-left {
  position: absolute;
}
.header .top-nav .top-nav-left .sidenav-trigger {
  display: inline-block;
  float: left;
  cursor: pointer;
}
.header .top-nav .top-nav-left .sidenav-trigger img {
  height: 24px;
  margin: 0.8em;
}
.header .top-nav .top-nav-left .logo {
  display: inline-block;
  padding-top: 5px;
}
.header .top-nav .top-nav-left .logo img {
  width: 175px;
}
.header .top-nav ul.top-nav-main {
  width: 994px;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 1300px) {
  .header .top-nav ul.top-nav-main {
    display: none;
  }
}
.header .top-nav ul.top-nav-main.focused li a {
  opacity: 0.5;
}
.header .top-nav ul.top-nav-main.focused li a:hover {
  opacity: 1 !important;
}
.header .top-nav ul.top-nav-main li {
  margin-right: 1.2em;
}
@media only screen and (max-width: 1600px) {
  .header .top-nav ul.top-nav-main li.extra {
    display: none;
  }
}
.header .top-nav ul.top-nav-main li a {
  padding: 1.0em 0.2em 0em;
  color: #000;
  display: inline-block;
  font: 500 1em "proxima-nova";
  text-transform: uppercase;
  opacity: 1;
  transition: opacity .2s ease-in-out;
}
.header .top-nav ul.top-nav-main li a.tv:hover {
  color: #32ae7a;
  border-bottom: 5px solid #32ae7a;
}
.header .top-nav ul.top-nav-main li a.tv-recaps:hover {
  color: #0da6e6;
  border-bottom: 5px solid #0da6e6;
}
.header .top-nav ul.top-nav-main li a.movies:hover {
  color: #ef4223;
  border-bottom: 5px solid #ef4223;
}
.header .top-nav ul.top-nav-main li a.music:hover {
  color: #0072ae;
  border-bottom: 5px solid #0072ae;
}
.header .top-nav ul.top-nav-main li a.books:hover {
  color: #8d64aa;
  border-bottom: 5px solid #8d64aa;
}
.header .top-nav ul.top-nav-main li a.gaming:hover {
  color: #0da6e6;
  border-bottom: 5px solid #0da6e6;
}
.header .top-nav ul.top-nav-main li a.video:hover {
  color: #0da6e6;
  border-bottom: 5px solid #0da6e6;
}
.header ul.top-nav-right {
  position: absolute;
  right: 0;
  padding-right: 200px;
  margin-right: 0.5em;
  margin-bottom: 0;
  padding-top: 0;
}
.header ul.top-nav-right li.icon-search {
  font-size: 1.2em;
  padding: 0 0.5em;
  cursor: pointer;
}
.header ul.top-nav-right li.icon-search :hover {
  color: #eee;
}
.header ul.top-nav-right li a {
  padding: 0.8em;
  color: #000;
  display: inline-block;
  font: 500 1em "proxima-nova" !important;
  letter-spacing: 0.01em;
  border-left: 0 !important;
}
.header span.subscribe {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
}

.service-links {
  text-align: center;
  clear: both;
}
.service-links ul {
  margin: 0 -0.5em 0 0;
  display: inline-block;
  padding: 0;
}
.service-links li {
  height: 2.2rem;
  list-style: none;
  display: inline-block;
  padding: 5px 0;
  transition: background-color 0.2s ease-in-out;
}
.service-links li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px 0 3px;
  height: 25px;
  width: 25px;
  margin-left: 5px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
}
.service-links li.service-links-facebook {
  background-color: #3b5998;
}
.service-links li.service-links-facebook:hover {
  background-color: #2d4373;
}
.service-links li.service-links-facebook:before {
  background-image: url("/sites/all/modules/custom/ew_feature_social/img/social_facebook.svg") !important;
  background-size: 15px 25px;
}
.service-links li.service-links-facebook a {
  font-size: 16px;
  color: white;
}
.service-links li.service-links-twitter {
  background-color: #4099ff;
}
.service-links li.service-links-twitter:hover {
  background-color: #0d7eff;
}
.service-links li.service-links-twitter:before {
  background-image: url("/sites/all/modules/custom/ew_feature_social/img/social_twitter.svg") !important;
}
.service-links li.service-links-twitter a {
  font-size: 16px;
  color: white;
}
.service-links li.service-links-google-plus {
  background-color: #dd4b39;
}
.service-links li.service-links-google-plus:hover {
  background-color: #c23321;
}
.service-links li.service-links-google-plus:before {
  background-image: url("/sites/all/modules/custom/ew_feature_social/img/social_googleplus.svg") !important;
}
.service-links li.service-links-google-plus a {
  padding-right: 5px;
}
.service-links li.service-links-tumblr {
  background-color: #35465c;
}
.service-links li.service-links-tumblr:hover {
  background-color: #222d3c;
}
.service-links li.service-links-tumblr:before {
  background-image: url("/sites/all/modules/custom/ew_feature_social/img/social_tumblr.svg") !important;
  background-size: 15px 25px;
}
.service-links li.service-links-pinterest {
  background-color: #c92228;
}
.service-links li.service-links-pinterest:hover {
  background-color: #9d1b1f;
}
.service-links li.service-links-pinterest:before {
  background-image: url("/sites/all/modules/custom/ew_feature_social/img/social_pinterest.svg") !important;
  background-size: 30px 25px;
}
.service-links li.service-links-pinterest a {
  padding-right: 5px;
}
.service-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 0;
  color: transparent;
  background: none !important;
  margin-left: -22px;
  padding: 0 5px 0 25px;
}
.service-links li a:hover, .service-links li a:active {
  color: white;
}
.service-links li a .count {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  line-height: 1rem;
  border-left: 1px solid #a6a6a6;
  font-size: 16px;
  color: white;
}

header {
  width: 100%;
}
header img {
  border: none;
  outline: none;
}

#ad-global-header .ad-placeholder,
#ad-global-footer .ad-placeholder {
  margin: 0 auto 1rem auto;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

#ad-global-header {
  width: 100% !important;
  text-align: center;
}
#ad-global-header .ad-placeholder {
  background: #f0f0f0;
  padding: 15px 0;
}

.ew-cm-tout-300x250 .ad-placeholder,
.regular-multi-ads-block .ad-placeholder,
.regular-single-ad-block .ad-placeholder {
  background: #f0f0f0;
  padding: 40px 0;
  text-align: center;
}

.regular-cm-ad-block {
  background: #f0f0f0;
  padding: 40px 0;
  text-align: center;
}

body.front {
  background: white !important;
}
body.front h2, body.front h3, body.front span, body.front p, body.front a {
  font-family: "proxima-nova";
}
body.front #main,
body.front .node-content {
  width: 1180px;
  padding-top: 10px;
}
body.front .ob-widget-section .ob-unit.ob-rec-text {
  max-height: none !important;
  padding-bottom: 10px !important;
}
body.front .ob-in-page {
  background: #f0f0f0;
  padding: 20px;
  margin: 1rem 0;
}
body.front .ob-in-page .OUTBRAIN .AR_8 .ob_what {
  float: none;
}
body.front .ob-in-page .OUTBRAIN .AR_8 .ob_what .ob_container_recs .item-container {
  width: 315px;
}
body.front .rail-zergnet {
  width: 375px;
  margin: 50px auto 20px auto;
}
body.front .rail-zergnet h3 {
  font-size: 26px;
}
body.front .node-homepage .block {
  width: auto;
}
body.front .node-homepage .block .see-all-link {
  padding: 0 10px;
}
body.front .node-homepage .block .see-all-link a {
  padding: 15px;
  color: white;
}
body.front .node-homepage .block:after {
  display: none;
}
body.front .node-homepage h2 {
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
body.front .node-homepage .play-button {
  position: absolute;
  top: -72px;
  left: 13px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 3px solid white;
  background: black;
}
body.front .node-homepage .play-button i {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #ffffff;
  display: block;
  left: 16px;
  position: relative;
  top: 13px;
}
body.front .node-homepage .content {
  margin: 0px;
  border: 0px;
  padding: 0;
}
body.front .node-homepage .content .inner-col {
  width: 375px;
}
body.front .node-homepage .content .inner-col.left-col {
  float: left;
}
body.front .node-homepage .content .inner-col.right-col {
  float: right;
  margin-top: -20px;
}
body.front .node-homepage .content .inner-col.right-col .outbrain-2x1 .ob_container {
  height: 180px;
  padding: 20px 0;
}
body.front .node-homepage .content .inner-col.right-col #outbrain_widget_1 {
  margin-bottom: 25px;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .outbrain-header {
  background-color: #949494;
  padding: 20px 15px;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .outbrain-header h3 {
  font: 700 16px "proxima-nova";
  color: white;
  display: inline;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .outbrain-header .ob_what {
  float: right;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .outbrain-header .ob_what a {
  color: #dedede !important;
  font-size: 10px !important;
  font-family: arial !important;
  text-decoration: none !important;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .outbrain-header .ob_what a .ob_logo {
  background: url("http://www.ew.com/microsites/static/i/outbrain-logo.png") no-repeat center top;
  width: 67px;
  height: 12px;
  display: inline-block;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zerglayout, body.front .node-homepage .content .inner-col.right-col #partnerbar .zerglayoutcl {
  width: 375px !important;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zergentity {
  padding: 24px 20px;
  border-bottom: 1px solid #d9d9d9;
  width: 375px !important;
  padding: 15px 0 15px 24px !important;
  margin: 0px !important;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zergentity img {
  width: 100px !important;
  height: 100px !important;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zergentity > a {
  width: 100px;
  height: 100px;
  float: right !important;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zergentity .zergheadline {
  float: none !important;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zergentity .zergheadline a {
  font-family: "proxima-nova" !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 21px !important;
  padding: 0 15px 25px 0 !important;
  position: relative;
}
body.front .node-homepage .content .inner-col.right-col #partnerbar .zergentity .zergheadline a span {
  font-weight: 500 !important;
  font-size: 11px !important;
  text-transform: uppercase !important;
  color: #a7a7b6 !important;
}
body.front .node-homepage .right-rail {
  width: 375px;
  border: 1px solid #d9d9d9;
  padding: 0;
}
body.front .node-homepage .right-rail h2 {
  margin: 0;
}
body.front .node-homepage .right-rail .block {
  border: 0;
  padding: 0;
}
body.front .node-homepage .block-featured_dynamic_lead {
  width: 760px;
  float: left;
  margin-bottom: 25px;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container {
  width: 100%;
  box-sizing: border-box;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list {
  float: left;
  width: 163px;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list li {
  height: 95px;
  border-bottom: 1px solid white;
  overflow: hidden;
  background: black;
  position: relative;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list li i {
  opacity: 0;
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: #fef200;
  transition: all 0.5s linear;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list li a {
  opacity: .5;
  transition: all 0.3s ease;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list li.dl-list-active i {
  opacity: 1;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list li.dl-list-active a {
  opacity: 1;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-list li:last-child {
  border-bottom: 0;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display {
  float: right;
  position: relative;
  width: 597px;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li {
  display: none;
  opacity: 0;
  position: absolute;
  height: 380px;
  transition: all 0.5s ease;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li.dl-display-active {
  display: block;
  opacity: 1;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a {
  width: 100%;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a img {
  min-width: 100%;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .txt-content {
  position: absolute;
  background: #fef200;
  width: 570px;
  box-sizing: border-box;
  padding: 10px 20px;
  right: 20px;
  bottom: 20px;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .txt-content .arrow {
  position: absolute;
  top: -12px;
  right: 60px;
  color: #fef200;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fef200;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .txt-content .channel {
  font-family: "proxima-nova";
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .txt-content h2 {
  font: 700 27px/27px "proxima-nova";
  color: #23241f;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0 0 12px 0;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .txt-content p {
  font-family: "Freight";
  color: #23241f;
  font-weight: 400;
  font-size: 21px;
  line-height: 20px;
  display: none;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .txt-content p.channel {
  display: block;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .imageCrop {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-left: 1px solid white;
}
body.front .node-homepage .block-featured_dynamic_lead .dl-container .dl-display li a .imageCrop img {
  width: 612px;
  height: 380px;
  max-width: none;
}
body.front .node-homepage .block-photos {
  background-color: black;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 10px;
}
body.front .node-homepage .block-photos h2 {
  background-color: black;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
  text-align: left;
  border-bottom: 0;
}
body.front .node-homepage .block-photos .imgcont .imageHolder {
  display: inline-block;
  height: 210px;
  overflow: hidden;
}
body.front .node-homepage .block-photos .imgcont .imageHolder img {
  border-top: 1px solid white;
  width: 375px;
  height: auto;
}
body.front .node-homepage .block-photos .txtcont {
  margin-bottom: 1.75em;
  padding: 0;
  text-align: left;
  padding: 0.5em 1em .5em;
}
body.front .node-homepage .block-photos .txtcont a.toutTitle {
  font-family: "proxima-nova";
  padding: 0;
  font-size: 18px;
}
body.front .node-homepage .block-photos .txtcont .channel {
  font-family: "proxima-nova";
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 5px 0;
}
body.front .node-homepage .block-photos .txtcont .channel.movies {
  color: #f04124;
}
body.front .node-homepage .block-photos .txtcont .channel.tv {
  color: #33ad7a;
}
body.front .node-homepage .block-photos .txtcont .channel.music {
  color: #213983;
}
body.front .node-homepage .block-latest_news {
  border: 0;
  padding: 0;
}
body.front .node-homepage .block-latest_news h2 {
  background: #f04124;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
  margin-bottom: 5px;
}
body.front .node-homepage .block-latest_news ul li {
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  margin-top: 20px;
}
body.front .node-homepage .block-latest_news ul li.native-ad {
  border-bottom: 0;
  margin-top: 0;
}
body.front .node-homepage .block-latest_news ul li.tv .channel {
  color: #33ad7a;
}
body.front .node-homepage .block-latest_news ul li.movie .channel {
  color: #f04124;
}
body.front .node-homepage .block-latest_news ul li.music .channel {
  color: #0072ae;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a {
  display: inline-block;
  padding-bottom: 15px;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a span.channel {
  display: inline-block;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a span.headline {
  width: 89%;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a span.pub-date {
  color: #a7a7b6;
  font-size: 11px;
  font-weight: 500 !important;
  text-transform: uppercase;
}
body.front .node-homepage .block-latest_news ul li.video .imgcont {
  height: auto;
  float: none;
}
body.front .node-homepage .block-latest_news ul li.video .imgcont a {
  width: 333px;
  height: auto;
}
body.front .node-homepage .block-latest_news ul li.video .imgcont a img {
  width: 333px !important;
  height: auto !important;
  margin: initial !important;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont {
  width: auto;
  position: relative;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a :before {
  border-top: 0;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a .channel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1px;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a .headline {
  font-family: "Freight-display-pro";
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
}
body.front .node-homepage .block-latest_news ul li.video .txtcont a .pub-date, body.front .node-homepage .block-latest_news ul li.video .txtcont a .channel {
  display: block;
}
body.front .node-homepage .block-latest_news ul li.no-video .txtcont {
  margin-left: 20px;
  width: 175px;
}
body.front .node-homepage .block-latest_news ul li.no-video .txtcont a {
  margin-top: -8px;
  display: block;
}
body.front .node-homepage .block-latest_news ul li.no-video .txtcont .headline {
  color: #23241f;
  font: 600 21px/24px "Freight-display-pro", Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
}
body.front .node-homepage .block-latest_news ul li.no-video .txtcont .channel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1px;
}
body.front .node-homepage .block-latest_news ul li.no-video .txtcont .pub-date {
  color: #a7a7b6;
  font-size: 11px;
  font-weight: 500 !important;
  text-transform: uppercase;
}
body.front .node-homepage .block-latest_news ul li.no-video .imgcont {
  float: left;
  width: 159px;
  height: 185px;
  overflow: hidden;
  position: relative;
}
body.front .node-homepage .block-latest_news ul li.no-video .imgcont a {
  display: inline-block;
  overflow: hidden;
  height: 185px;
}
body.front .node-homepage .block-latest_news ul li.no-video .imgcont a img {
  max-width: none;
  width: 185px;
  height: auto;
  margin-left: -13px;
}
body.front .node-homepage .block-top_stories {
  border: 0;
}
body.front .node-homepage .block-top_stories h2 {
  background-color: #78cfe2;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
  margin-bottom: 2px;
}
body.front .node-homepage .block-top_stories ol {
  background-color: #ebf9fc;
  padding: 0px 20px 35px;
}
body.front .node-homepage .block-top_stories ol li {
  position: relative;
  list-style: none;
  padding: 30px 15px 20px 50px;
  line-height: 1.2em;
  border-bottom: 1px solid #c8d6d9;
}
body.front .node-homepage .block-top_stories ol li:hover {
  z-index: 10;
}
body.front .node-homepage .block-top_stories ol li:hover a {
  margin-left: -55px;
}
body.front .node-homepage .block-top_stories ol li:hover img {
  right: 0;
  opacity: 1;
}
body.front .node-homepage .block-top_stories ol li:hover .number {
  left: -10px;
  opacity: 0;
}
body.front .node-homepage .block-top_stories ol li img {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  width: 70px;
  height: 70px;
  border: 1px solid #E2E4E4;
  transition: all 0.5s ease;
}
body.front .node-homepage .block-top_stories ol li a {
  color: #23241f;
  margin-left: 0;
  float: left;
  background: #ebf9fc;
  display: block;
  width: 270px;
  max-height: 85px;
  margin-top: -10px;
  vertical-align: middle;
  padding: 10px 5px 10px 5px;
  font-size: 18px;
  transition: all 0.5s ease;
}
body.front .node-homepage .block-top_stories ol li .number {
  position: absolute;
  top: 35px;
  left: 5px;
  opacity: 1;
  background: url(http://www.ew.com/microsites/static/i/numbers.png) no-repeat 0 0;
  width: 30px;
  height: 36px;
  transition: all 0.5s ease;
}
body.front .node-homepage .block-top_stories ol li:nth-child(1) .number {
  background-position: 0 0;
  height: 35px;
}
body.front .node-homepage .block-top_stories ol li:nth-child(2) .number {
  background-position: 0 -35px;
}
body.front .node-homepage .block-top_stories ol li:nth-child(3) .number {
  background-position: 0 -71px;
}
body.front .node-homepage .block-top_stories ol li:nth-child(4) .number {
  background-position: 0 -107px;
  height: 35px;
}
body.front .node-homepage .block-top_stories ol li:nth-child(5) .number {
  background-position: 0 -143px;
}
body.front .node-homepage .block-top_stories ol li:last-child {
  border-bottom: 0;
}
body.front .node-homepage .block-latest_recaps h2 {
  background-color: #33ad7a;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
}
body.front .node-homepage .block-latest_recaps ul li a {
  padding: 9px 21px;
  font-size: 18px;
  font-family: "proxima-nova";
}
body.front .node-homepage .block-latest_recaps ul li a span {
  font-size: 11px;
  color: #a7a7b6;
  display: block;
  margin-top: 2px;
  font-weight: 500;
  text-transform: uppercase;
}
body.front .node-homepage .block-latest_recaps ul li:first-child {
  margin-top: 25px;
}
body.front .node-homepage .block-latest_videos h2 {
  background-color: #213983;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
  margin-bottom: 40px;
}
body.front .node-homepage .block-latest_videos ul li {
  width: 333px;
  margin: 10px auto;
}
body.front .node-homepage .block-latest_videos ul li .imgcont img {
  width: 100%;
  opacity: 1;
}
body.front .node-homepage .block-latest_videos ul li .imgcont img:hover {
  opacity: .9;
}
body.front .node-homepage .block-latest_videos ul li .txtcont a {
  color: #23241f;
  padding-bottom: 15px;
  display: block;
  position: relative;
}
body.front .node-homepage .block-latest_videos ul li .txtcont a .headline {
  font-family: "Freight-display-pro";
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
}
body.front .node-homepage .ew-community-wrapper {
  margin: 20px 0;
  position: relative;
}
body.front .node-homepage .ew-community-wrapper .whats-this {
  position: absolute;
  color: white;
  font-family: "proxima-nova";
  font-size: 16px;
  font-style: italic;
  right: 20px;
  top: 17px;
  opacity: 0.65;
}
body.front .node-homepage .ew-community-wrapper h2 {
  background: #78cfe2;
  border-bottom: 3px solid white;
  box-shadow: 0px 1px 0px black;
}
body.front .node-homepage .ew-community-wrapper #ew-featured-widget-external > a {
  display: none !important;
}
body.front .node-homepage .ew-community-wrapper #community_featured_items li {
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 24px;
  clear: both;
  overflow: hidden;
}
body.front .node-homepage .ew-community-wrapper #community_featured_items li:after {
  content: "〉";
  font-size: 30px;
  color: #787878;
  right: -30px;
  top: 20px;
  position: relative;
}
body.front .node-homepage .ew-community-wrapper #community_featured_items li:last-child {
  border-bottom: 0;
}
body.front .node-homepage .ew-community-wrapper #community_featured_items li .txtcont {
  width: 280px;
  float: left;
}
body.front .node-homepage .ew-community-wrapper #community_featured_items li .txtcont .headline {
  font-family: "proxima-nova";
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
body.front .node-homepage .ew-community-wrapper #community_featured_items li .txtcont .author {
  font-family: "proxima-nova";
  font-size: 11px;
  font-weight: 500;
  color: #a7a7b6;
  margin-top: 6px;
  letter-spacing: 0;
  text-transform: uppercase;
}

footer {
  margin-top: 75px !important;
}
footer .ad-region {
  display: none;
}
footer #partnerbar-bottom {
  width: auto;
  border-top: 1px solid #8a8a8a;
}
footer #partnerbar-bottom h3 {
  font-size: 16px !important;
  font-family: "proxima-nova" !important;
  width: 150px;
  background: white;
  color: #8a8a8a !important;
  font-weight: 700 !important;
  margin-top: -10px !important;
  position: relative !important;
  border-left: 10px solid white;
}
footer #partnerbar-bottom h3 span {
  font-family: "proxima-nova" !important;
  font-weight: 700 !important;
}
footer #partnerbar-bottom #footer-partners {
  width: 100%;
  overflow: hidden;
}
footer #partnerbar-bottom #footer-partners #zerglayout {
  width: 2080px !important;
  position: relative;
  left: -25px;
}
footer #partnerbar-bottom #footer-partners #zerglayout > div {
  clear: none !important;
  float: left !important;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity {
  position: relative;
  margin-right: 20px !important;
  transition: all 0.5s ease;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity a {
  height: 160px !important;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity a img {
  margin-top: -40px !important;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-left {
  opacity: .2;
  position: relative;
  transition: all 0.5s ease;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-left:before {
  content: '‹';
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 80px;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-right a,
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-right .headline {
  opacity: .2;
  position: relative;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-right:before {
  content: '›';
  opacity: .5;
  position: absolute;
  top: 35px;
  left: 50px;
  font-size: 80px;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-right:hover a,
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-right:hover .headline {
  opacity: .7;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity.fringe-element-right:hover:before {
  opacity: .7;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity a:first-child {
  height: 154px;
  overflow: hidden;
}
footer #partnerbar-bottom #footer-partners #zerglayout .zergentity .zergheadline a {
  font: 600 18px/21px "proxima-nova";
  padding-top: 10px;
}
footer .ew-copyright {
  text-align: center;
  font-size: 10px;
  margin-top: 25px;
  font-family: "proxima-nova";
}
footer ul.nav-footer {
  text-align: center;
}
footer ul.nav-footer li {
  display: inline;
  padding: 0.5em;
}
footer ul.nav-footer li a {
  color: #23241f;
  font-size: 12px;
  font-family: "proxima-nova";
}
footer ul.nav-footer li a:hover {
  color: #8a8a8a;
}
footer .footer-logo-wrapper {
  text-align: center;
}
footer .cm-footer-banner {
  background: #f0f0f0;
  padding: 1em;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 2em;
}
