/*
* Theme Name:NoXilie Multipurpose
* Theme URI:http://www.themes.bartiistudio.com/wp/noxilie
* Description:Multipurpose Responsive WordPress Template with many colors and features, Fully Customizable, Comprehensive Theme Options and more..
* Author:BartiiStudio
* Author URI:http://www.bartiistudio.com
* Version:1.0
* License:GNU General Public License v2.0
* License URI:http://www.gnu.org/licenses/gpl-2.0.html
* Tags: business, colors, multipurpose, creative, unique, onepage, features, wordpress, theme options, portfolio, responsive, shortcodes, parallax, slider, widgets, 3 in 1, multipage, super, awesome, theme, premium, themeforest
*/

/* standard base style by Skeleton and new codes */

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Main Fonts
	#Main Colors & Backgrounds
	#Aligns
	#Typography
	#Links
	#Images
	#Transitions */

/* Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block; 
}
body {
	line-height:1; 
}
ol, ul {
	list-style:none; 
}
blockquote, q {
	quotes:none; 
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none; 
}
table {
	border-collapse:collapse;
	border-spacing:0; 
}

/* Basic Styles
================================================== */
html {
	-webkit-text-size-adjust:none;
}

body {
	-webkit-font-smoothing:antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust:100%;
	background:#fff;
}

body.under-construction {
	border-top:0;
}
 
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

::-moz-selection {
    color:#fff;
	text-shadow:none;
}

::selection {
    color:#fff;
	text-shadow:none;
}

span.underline {
	border-bottom:4px solid;
	padding:0px 3px 3px 3px;
	margin:0 0 -999px 0;
	display:inline-block;
}

.tabscontent.color span.underline {
	border-bottom-color:#fff;
}

h3 span.underline, h4 span.underline {
	padding:0px 3px 0px 3px;
}

.google-map iframe {
	width:100%;
	min-height:400px;
}


/* Main Fonts
================================================== */
body, textarea {
	font-family:Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .dropcap, .dropcap2, .reviews .author, ul.tabs li, .parallax .caption .text, .popular-tags a, .tagcloud a, .meta-post, .cycle-slider, .flex-caption, span.date, .nav ul li a, .nav ul li ul li a, .subscribe input.submit, input.subscribe-button {
	font-family:'ExoRegular', Arial, sans-serif;
}

.welcome, .js .selectnav, .qoute, .description, h1.page-title, .tables-column .header h3, .comment .title span.right, #under-construction p, #clock-ticker .block .flip-top, .latest-work .item h4, .qoute h2, .progress-bar h5, .button, .lightbox .item h4, .tables-column .header h1, .portfolio .item h4, .comment .title, .form-box label {
	font-family:'ExoMedium', Arial, sans-serif;
}

span.author {
	font-size:10px;
}

.nav ul li ul li a, span.copyright, .subscribe input.mail, .most-posts li span, .post-meta, .recent-blog .tags, .recent-blog .tags-comments, .tags-comments2, ul.pagination, span.comments {
	font-size:12px;
}

.tweet_list {
	font-size:13px;
}

.tagcloud a, .popular-tags a {
	font-size: 13px !important;
}

body, .services p, span.date span, ul.team  li p, .comment .title span.right, .alert, blockquote, table th, .tables-column .header h3, .pricing-tables-2 .tables-column .list li, #options, .about-project p, .work, .categories, .post-content p, #horizontal-tabs ul.tabs.mini li {
	font-size:14px;
}

.progress-bar h5, .button.medium, .tables-column .list li, .button.full, .tweet_list li i {
	font-size:15px;
}

.nav ul li a, .flex-caption, .qoute p, a.link, #horizontal-tabs ul.tabs li, #vertical-tabs ul.tabs li, input.subscribe-text, input.subscribe-button  {
	font-size:16px;
}

.button.large, .dropcap2 {
	font-size:18px;
}

.tables-column .footer h3 span, span.date {
	font-size:20px;
}

.welcome, .flex-caption span, .sp-box li a h2, .qoute h2, .description, .tables-column .header h3 span, #under-construction p, .dropcap {
	font-size:22px;
}

.tables-column .header h1, .slidecontrols li a.next i, .slidecontrols li a.prev i, .slidecontrols li a.carousel2-next i, .slidecontrols li a.carousel2-prev i, .slidecontrols li a.carousel3-next i, .slidecontrols li a.carousel3-prev i, .slidecontrols li a.carousel4-next i, .slidecontrols li a.carousel4-prev i, .page-title-nav .next-item i, .page-title-nav .prev-item i {
	font-size:24px;
}

.tables-column.featured .header h1, .tables-column.featured .header h3 span {
	font-size:26px;
}

#toTop i, .box-icon i {
	font-size:28px;
}

span.post-ico i, span.color-meta i, span.gray-meta i {
	font-size:29px
}

.parallax .caption .text, #under-construction h1, .slide-wrap .caption .slide-text {
	font-size:40px;
}

.square i, .sp-box i {
	font-size:50px;
}

h1.big {
	font-size:100px;
	line-height:130px;
}

.reviews .author, a.link, .dropcap2, .dropcap, table th, b {
	font-weight:bold;
}

blockquote {
	font-style:italic;
}


/* Main Colors & Backgrounds
================================================== */
body, .post-meta a, .button.white, .button.white2, #vertical-tabs ul.tabs li i, blockquote i.icon-quote-right {
	color:#8d8d8d;
}

#toTop i, .hover-effect span:before, span.color-meta i, .box-icon i, .square i, .slidecontrols li a.next i, .slidecontrols li a.prev i, .slidecontrols li a.carousel2-next i, .slidecontrols li a.carousel2-prev i, .slidecontrols li a.carousel3-next i, .slidecontrols li a.carousel3-prev i, .slidecontrols li a.carousel4-next i, .slidecontrols li a.carousel4-prev i, span.date, span.color-meta, .subscribe input.submit, #clock-ticker .block, .count-end-message, .sp-box li a:hover h2, .sp-box li a:hover p, a.link, a.link:hover, .button, .button:hover, .highlight-color, .highlight-color a,.highlight-color a:hover, .highlight-black, .highlight-black a, .highlight-black a:hover, .highlight-gray, .highlight-gray a, .highlight-gray a:hover, .dropcap2.color, .dropcap2.black, .pagination li a.current, .pagination li a:hover, .pagination li a.prev, .pagination li a.next, .tables-column .header h1, .tables-column .header h3, .tables-column .footer h3 span, .popular-tags a:hover, .tagcloud a:hover, .most-posts .tagcloud a:hover, .flex-caption span, .slide-wrap .caption .slide-text, .parallax .caption .text, .page-title-nav .next-item:hover i, .page-title-nav .prev-item:hover i, .page-title-nav .all:hover i {
	color:#fff;
}

.tabscontent.color, .tabscontent.color .title, #under-construction.parallax h1, #under-construction.parallax {
	color:#fff !important;
}

.recent-blog .tags-comments a, .tags-comments2 a, .recent-blog .tags-comments, .tags-comments2, .more a, .more2 a, .page-title-nav .next-item.disabled i, .page-title-nav .prev-item.disabled i {
	color:#b4b3b3;
}

.tweet_list li i {
	color:#b5b5b5;
}

.flex-caption, .nav ul li a, .sp-box li a h2, .comment a:hover, .form-box label {
	color:#333;
}

h1, h2, h3, h4, h5, h6, ins, mark, .services .item a, .services .item.active:hover a, .qoute h2, .welcome p, .js .selectnav, .description p, .use p, .progress-bar h5, #accordion a:hover, #horizontal-tabs ul.tabs li:hover, #vertical-tabs ul.tabs li:hover, #vertical-tabs ul.tabs li:hover i, .square-list li, .square-list li a, .check-list li, .check-list li a, .plus-list li, .plus-list li a, .arrow-list li, .arrow-list li a, .cross-list li, .cross-list li a, .star-list li, .star-list li a, .heart-list li, .heart-list li a, .asterisk-list li, .asterisk-list li a, .minus-list li, .minus-list li a, .arrow2-list li, .arrow2-list li a, .arrow3-list li, .arrow3-list li a, .circle-list li, .circle-list li a, table th, #options li a, .most-posts li a:hover, .tweet_list li a:hover, #toggle-view li h3.black, #toggle-view li h3.color, #toggle-view li h3.gray, .button.white:hover, span.gray-meta, .page-title-nav .next-item i, .page-title-nav .prev-item i, .page-title-nav .all i {
	color:#222;
}

.latest-work .item:hover a, .reviews .author, .sp-box li a, ul.team  li p, .lightbox .item:hover a, .portfolio .item:hover a, .about-project p, input.search, #toggle-view li h3.normal, #toggle-view li span.link.normal{
	color:#868686;
}

h3.title, footer a, footer .most-posts li a:hover {
	color:#e8e8e8;
}

footer, .subscribe input.mail, footer .popular-tags a, footer .tagcloud a, footer input.search, footer .ads li.banner a {
	color:#a4a1a1;
}

.gray2 {
	color:#ddd;
}

.work li a, .categories li a, .most-posts li a, .form-box label small, input.text, textarea{
	color:#999999;
}

.subscribe input.mail, .sp-box li a, .nav ul li ul li a, .services .item, .choose ul li, .meter, .post, #vertical-tabs ul.tabs li:hover,  #toggle-view .color, #toggle-view .black, #toggle-view .F, .latest-work .item, .welcome, .qoute, .lightbox .item, .portfolio .item, #options li a, .popular-tags a, .tagcloud a, .meta, ul.team li .detalis, input.subscribe-button, input.subscribe-text, .reviews p, .technologies .items, blockquote, .comment .txt .comment_text blockquote, .info-box, .box, .description, .use, #horizontal-tabs ul.tabs li, #vertical-tabs ul.tabs li, .pagination li a, .breadcrumbs.gray, table th, .tables-column .list li.even, #toggle-view li h3.normal, #accordion h3, code, #main-menu, .button.white, .button.white2 {
	background:#fafafa; 
}

/* new code for wordpress */
.fb-like-box iframe[style], .comment .txt .comment_text, .post .info-box, .post blockquote, .post .popular-tags a, .post .tagcloud a, .popular-tags a:hover, .tagcloud a:hover, input.subscribe-button:hover, input.subscribe-text:focus, input.subscribe-text:hover, input.subscribe-text:active,  #options li a:hover, #options li a.selected, a.button.white:hover, a.button.white2:hover, .services .item:hover, .choose ul li:hover, #vertical-tabs ul.tabs li.current, #vertical-tabs .tabscontent, #horizontal-tabs .tabscontent, #horizontal-tabs ul.tabs li.current, .form-elements input[type="text"], .form-elements select, .form-elements textarea, .form-elements2 input[type="text"], .form-elements2 select, .form-elements2 textarea, .nav ul li ul li a:hover, .nav ul li ul li.current_page_item a, .tables-column .list li.odd, #clock-ticker .block, input.search, input.text, textarea, .latest-work .item.active, .lightbox .item.active, .portfolio .item.active, ul.team li:hover .detalis, .breadcrumbs, .use code, .page-title-nav .next-item, .page-title-nav .prev-item, .page-title-nav .next-item.disabled:hover, .page-title-nav .prev-item.disabled:hover, .page-title-nav .all  {
	background:#fff;
}

.tabscontent.white {
	background-color:#fff !important;
}

header, footer, #toTop:hover, .portfolio-icons a, .flex-direction-nav li .next, .cycle-next, .flex-direction-nav li .prev, .cycle-prev, .our-services ul li:hover .box-icon, .button.black, .dropcap2.black, .square, .services .item.active:hover .square, .button.color:hover, .button.gray:hover, .button.red:hover, .button.orange:hover, .button.purple:hover, .button.blue:hover, .button.pink:hover, .button.pink:hover, .button.yellow:hover, .button.green:hover, .button.coffee:hover, .button.rosy:hover, .button.brown:hover, .highlight-black, a.link:hover, .pagination.black li a.current, .pagination.black li a:hover, .page-title-nav .next-item:hover, .page-title-nav .prev-item:hover, .page-title-nav .all:hover {
	background:#222;
}

.sp-box li a:hover {
	background:#222 !important;
}

.slidecontrols li a.next, .slidecontrols li a.carousel2-next, .slidecontrols li a.carousel3-next, .slidecontrols li a.carousel4-next, .slidecontrols li a.prev, .slidecontrols li a.carousel2-prev, .slidecontrols li a.carousel3-prev, .slidecontrols li a.carousel4-prev {
	background:#bbb;
}

.parallax .caption .text, .slide-wrap .caption .slide-text, .flex-caption, .caption:hover .hover-effect {
	background:rgba(0,0,0,.75);
}

footer .subscribe input.mail, footer input.search, footer .popular-tags a, footer .tagcloud a {
	background:#252525;
}

.highlight-gray, .pagination li a.prev, .pagination li a.next {
	background:#b3b3b3;
}

.tables-column .header.gray h1 {
	background:#979797;
}

.tables-column .header.gray h3, .tables-column .footer.gray h3 {
	background:#7e7e7e;
}

.tables-column .header.black h1, .tables-column.featured .footer h3 span:hover {
	background:#5d5d5d;
}

.tables-column .header.black h3, .tables-column .footer.black h3 span {
	background:#474747;
}

.post-ico, .gray-meta, .flex-control-nav li a, .slidecontrols li a.next.carousel-disabled, .slidecontrols li a.next:hover.carousel-disabled, .slidecontrols li a.carousel2-next.carousel2-disabled, .slidecontrols li a.carousel2-next:hover.carousel2-disabled, .slidecontrols li a.carousel3-next.carousel3-disabled, .slidecontrols li a.carousel3-next:hover.carousel3-disabled, .slidecontrols li a.carousel4-next.carousel4-disabled, .slidecontrols li a.carousel4-next:hover.carousel4-disabled, .slidecontrols li a.prev.carousel-disabled, .slidecontrols li a.prev:hover.carousel-disabled, .slidecontrols li a.carousel2-prev.carousel2-disabled, .slidecontrols li a.carousel2-prev:hover.carousel2-disabled, .slidecontrols li a.carousel3-prev.carousel3-disabled, .slidecontrols li a.carousel3-prev:hover.carousel3-disabled, .slidecontrols li a.carousel4-prev.carousel4-disabled, .slidecontrols li a.carousel4-prev:hover.carousel4-disabled {
	background:#f1f1f1;
}

.highlight-yellow {
	background:#ffff99;
	color:#000;
}

footer .subscribe input.mail, footer input.search, footer .popular-tags a, footer .tagcloud a, footer .ads li.banner {
	border-color:#333;
}

footer .ads li.banner:hover {
	border-color:#666;
}

.pagination li.disabled a, .pagination li.disabled a:hover {
	background:#fafafa!important;
	color:#a1a1a1;
}

/* buttons */
.button.black { border-bottom-color:#181818; }
.button.black:hover { border-bottom-color:#222; }

.button.gray { background:#b3b3b3; border-bottom-color:#7d7d7d; }
.button.gray:hover { border-bottom-color:#b3b3b3; }

.button.red { background:#e61316; border-bottom-color:#a10d0f; }
.button.red:hover { border-bottom-color:#e61316; }

.button.orange { background:#ff7924; border-bottom-color:#b25419; }
.button.orange:hover { border-bottom-color:#ff7924; }

.button.purple { background:#9b4cb8; border-bottom-color:#6c3580; }
.button.purple:hover { border-bottom-color:#9b4cb8; }

.button.blue { background:#00a8ff; border-bottom-color:#0075b2; }
.button.blue:hover { border-bottom-color:#00a8ff; }

.button.pink { background:#ff69b4; border-bottom-color:#b2497e; }
.button.pink:hover { border-bottom-color:#ff69b4; }

.button.yellow { background:#ffd800; border-bottom-color:#b29700; }
.button.yellow:hover { border-bottom-color:#ffd800; }

.button.green { background:#9acd32; border-bottom-color:#6b8f23; }
.button.green:hover { border-bottom-color:#9acd32; }

.button.coffee { background:#b27b4a; border-bottom-color:#7c5634; }
.button.coffee:hover { border-bottom-color:#b27b4a; }

.button.rosy { background:#f56c7e; border-bottom-color:#ab4b58; }
.button.rosy:hover { border-bottom-color:#f56c7e; }

.button.brown { background:#6e351e; border-bottom-color:#4d2515; }
.button.brown:hover { border-bottom-color:#6e351e; }
	
/* Aligns
================================================== */
.ads li.banner, #toTop, .box-icon, .square, .flex-direction-nav li a, .flex-control-nav, .slide-wrap .caption-box, .cycle-next, .cycle-prev, .parallax .caption-box, .slidecontrols li a.next, .slidecontrols li a.prev, .slidecontrols li a.carousel2-next, .slidecontrols li a.carousel2-prev, .slidecontrols li a.carousel3-next, .slidecontrols li a.carousel3-prev, .slidecontrols li a.carousel4-next, .slidecontrols li a.carousel4-prev, #clock-ticker .block .flip-top, #clock-ticker .block .label, #under-construction h1, #under-construction p, .welcome, .latest-work .item, .sp-box li a, .description, .lightbox .item, .portfolio .item, span.gray-meta, span.color-meta, span.date {
	text-align:center;
}


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 { font-weight:normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight:inherit; }
h1 { font-size:28px; line-height:50px; }
h2 { font-size:20px; line-height:30px; }
h3 { font-size:18px; line-height:34px; }
h4 { font-size:16px; line-height:30px; }
h5 { font-size:14px; line-height:24px; }
h6 { font-size:12px; line-height:21px; }

p, blockquote { line-height:22px; }

.post-content p, .post-content blockquote { margin-bottom: 15px; }

cite, em { font-style:italic; }

strong { font-weight:bold; }

small { e80%; }

del { text-decoration:line-through; }

ins { text-decoration:none; }

mark { font-style:italic; font-weight:bold; }

ins, mark { background:#ffff99; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

pre.noxilie { background:url("../images/icons/pre.png") repeat scroll 0px 0px transparent; }

code.noxilie, pre.noxilie { border-image:none; padding:0px 20px; line-height:20px; white-space:pre-wrap; overflow:auto; display:block; font-family:"Courier New",Courier,monospace; white-space:pre; }

hr { border:solid #f1f1f1; border-width:4px 0 0; clear:both; margin:-1px 0 0 0; height:0; }

hr.bottom { border:solid #333; border-width:4px 0 0; clear:both; margin:15px 0 !important; height:0; }


/* Links
================================================== */
a { text-decoration:none; color:#585858; }


/* Images
================================================== */
img { max-width:100%; height:auto; }

/* Transitions
================================================== */
ul li, ol li, .widget_categories li, .widget_archive li, .widget_links li, .widget_pages li, .widget_rss li, .widget_meta li, .widget_recent_comments li, .widget_recent_entries li, .pagenav li, .widget_nav_menu li, input, textarea, select, img.border, a, .latest-work .item, .latest-work2 .item, .services .item .square, .technologies ul.items li img, .subscribe input.submit, ul.team li, ul.team li img, ul.team li h3, .choose ul li, .our-services ul li h3, .box-icon, .square-list li, .check-list li, .plus-list li, .arrow-list li, .cross-list li, .star-list li, .heart-list li, .asterisk-list li, .minus-list li, .arrow2-list li, .arrow3-list li, .circle-list li, .ordered-list li, .lightbox .item, .tables-column .footer h3 span, .thumbs li a, .button, .cycle-next, .cycle-prev, #toTop { 
	-webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

#main-menu a{
	-webkit-transition:none;
    -moz-transition:none;
    -ms-transition:none;
    -o-transition:none;
    transition:none;
}