/*STYLES FOR BOXED*/

/* backgroud images for body */
body.p1 { background:url(../../../images/pattern-backgrounds/1.png) repeat; }
body.p2 { background:url(../../../images/pattern-backgrounds/2.png) repeat; }
body.p3 { background:url(../../../images/pattern-backgrounds/3.png) repeat; }
body.p4 { background:url(../../../images/pattern-backgrounds/4.png) repeat; }
body.p5 { background:url(../../../images/pattern-backgrounds/5.png) repeat; }
body.p6 { background:url(../../../images/pattern-backgrounds/6.png) repeat; }
body.p7 { background:url(../../../images/pattern-backgrounds/7.png) repeat; }
body.p8 { background:url(../../../images/pattern-backgrounds/8.png) repeat; }
body.p9 { background:url(../../../images/pattern-backgrounds/9.png) repeat; }
body.p10 { background:url(../../../images/pattern-backgrounds/10.png) repeat; }
body.p11 { background:url(../../../images/pattern-backgrounds/11.png) repeat; }
body.p12 { background:url(../../../images/pattern-backgrounds/12.png) repeat; }
body.p13 { background:url(../../../images/pattern-backgrounds/13.png) repeat; }
body.p14 { background:url(../../../images/pattern-backgrounds/14.png) repeat; }
body.p15 { background:url(../../../images/pattern-backgrounds/15.png) repeat; }
body.p16 { background:url(../../../images/pattern-backgrounds/16.png) repeat; }
body.p17 { background:url(../../../images/pattern-backgrounds/17.png) repeat; }
body.p18 { background:url(../../../images/pattern-backgrounds/18.png) repeat; }
body.p19 { background:url(../../../images/pattern-backgrounds/19.png) repeat; }
body.p20 { background:url(../../../images/pattern-backgrounds/20.png) repeat; }
body.p21 { background:url(../../../images/pattern-backgrounds/21.png) repeat; }
body.p22 { background:url(../../../images/pattern-backgrounds/22.png) repeat; }
body.p23 { background:url(../../../images/pattern-backgrounds/23.png) repeat; }
body.p24 { background:url(../../../images/pattern-backgrounds/24.png) repeat; }
body.p25 { background:url(../../../images/pattern-backgrounds/25.png) repeat; }
body.p26 { background:url(../../../images/pattern-backgrounds/26.png) repeat; }
body.p27 { background:url(../../../images/pattern-backgrounds/27.png) repeat; }
body.p28 { background:url(../../../images/pattern-backgrounds/28.png) repeat; }
body.p29 { background:url(../../../images/pattern-backgrounds/29.png) repeat; }
body.p30 { background:url(../../../images/pattern-backgrounds/30.png) repeat; }
body.p31 { background:url(../../../images/pattern-backgrounds/31.png) repeat; }
body.p32 { background:url(../../../images/pattern-backgrounds/32.png) repeat; }
body.p33 { background:url(../../../images/pattern-backgrounds/33.png) repeat; }
body.p34 { background:url(../../../images/pattern-backgrounds/34.png) repeat; }
body.p35 { background:url(../../../images/pattern-backgrounds/35.png) repeat; }
body.p36 { background:url(../../../images/pattern-backgrounds/36.png) repeat; }
body.p37 { background:url(../../../images/pattern-backgrounds/37.png) repeat; }
body.p38 { background:url(../../../images/pattern-backgrounds/38.png) repeat; }
body.p39 { background:url(../../../images/pattern-backgrounds/39.png) repeat; }
body.p40 { background:url(../../../images/pattern-backgrounds/40.png) repeat; }
body.p41 { background:url(../../../images/pattern-backgrounds/41.png) repeat; }
body.p42 { background:url(../../../images/pattern-backgrounds/42.png) repeat; }

a#boxed.layout {
	border-color:#999;
}

/* wrap */ 
#wrap {
	width:990px;
	margin:25px auto;
	background:#fff;
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
	display:block;
}

#main-menu {
	width:990px!important;
}


/* Media Queries
================================================== */

/* Smaller than standard 1024px (devices and browsers) */
@media only screen and (max-width:1024px) {

#wrap {
	width:100%;
	margin:0;
}

#main-menu {
	width:100%!important;
}
	
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:959px) {

#wrap {
	width:100%;
	margin:0;
}

#main-menu {
	width:100%!important;
}


}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width:767px) {
	
#wrap {
	width:100%;
	margin:0;
}

#main-menu {
	width:100%!important;
}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {
	
#wrap {
	width:100%;
	margin:0;
}

#main-menu {
	width:100%!important;
}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {


#wrap {
	width:100%;
	margin:0;
}

#main-menu {
	width:100%!important;
}

}