/* ====================================== Custom CSS Code =================================================*/

/* you can add any custom css code for any class, id, tags and anything here, it will be active.. */

.blog2-img {
	width:180px;
	height:180px;
}

.blog-3 .post {

}

input.password.text {
	padding:7px;
	margin-top:7px;
}

input.password.button, input.password.button:hover {
	padding:7px;
	border-bottom:0;
}

.item img.pic{
	height:327px!important;
}

.item img.pic.column-3{
	height:213px!important;
}

.item img.pic.column-4{
	height:156px!important;
}

@media (max-width:767px) {
	.video-wrap {
		padding-top:0;
	}
}

.sp-box li a h2 {
	padding:0 !important;
}

* { outline:none;}

ul.team li {
	overflow:visible!important;
}

ul.team li img {
	width:100%;
	height:81.9%;
}

@media only screen and (max-width:479px) {

.blog-3 .post {
	min-height:0px;
}

.item img.pic.column-4, .item img.pic.column-3, .item img.pic {
	height:213px!important;
}

}

@media only screen and (min-width:480px) and (max-width:767px) {

.blog-3 .post {
	min-height:0px;
}

.item img.pic.column-4, .item img.pic.column-3, .item img.pic {
	height:300px!important;
}

ul.team li img {
	height:86.5%;
}

}

@media only screen and (min-width:768px) and (max-width:959px) {

.item img.pic.column-4 {
	height:121px!important;
}

.item img.pic.column-3 {
	height:167px!important;
}

.item img.pic {
	height:259px!important;
}

ul.team li img {
	height:78.5%;
}

}

ul.team li .detalis {
	height:33px;
	overflow:hidden!important;
}

ul.team li:hover .detalis {
	overflow:visible!important;
	height:108px;
}

.big-tooltips .colorTip{
	/* This class is assigned to the color tip span by jQuery */
	display:none;
	position:absolute;	
	left:49%;
	top:26px;
	font-size:12px;
	font-style:normal;
	line-height:2;
	text-align:left;
	white-space: normal !important;
    min-width:250px !important;
    cursor: default;
    z-index: 1000;
}

.big-tooltips .pointyTip, .big-tooltips .pointyTipShadow{
	border:6px solid transparent;
	top:-6px;
	height:0;
	left:49.5%;
	margin-left:-6px;
	position:absolute;
	width:0;
}

.big-tooltips .pointyTipShadow{
	border-width:7px;
	top:-8px;
	margin-left:-7px;
}

.big-tooltips .pointyTip{ border-bottom-color:#333; border-top: 0;}
.big-tooltips .pointyTipShadow{ border-bottom-color:#111; border-top: 0;}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:320px) {

.container { width:100%; }
.container .columns,
.container .column { margin:0; }

.container .one.column,
.container .one.columns,
.container .two.columns,
.container .three.columns,
.container .four.columns,
.container .five.columns,
.container .six.columns,
.container .seven.columns,
.container .eight.columns,
.container .nine.columns,
.container .ten.columns,
.container .eleven.columns,
.container .twelve.columns,
.container .thirteen.columns,
.container .fourteen.columns,
.container .fifteen.columns,
.container .sixteen.columns,
.container .one-third.column,
.container .two-thirds.column { width:100%; }

.whyus img {
	max-width:95% !important;
}

.image-post img {
	min-width:247px !important;
}

#footer.thumbs li, #sidebar.thumbs li {
	width:45.6% !important;
}

.subscribe input.mail {
	width:91% !important;
}

.subscribe input.submit {
	float:none !important;
	margin:0 !important;
	width:97.5% !important;
}

span.copyright {
	line-height:20px !important;
}

.social a {
	margin:0 14px 0 0 !important;
}

input.search {
	width:84% !important;
}

.form-elements2 input[type="text"] {
	width:94% !important;
}

input.subscribe-text {
	width:85% !important;
}

input.subscribe-button {
    width:99% 	!important;
}

input.text, textarea {
	width:90.8% !important;
}

}

/* GOOD VIEW COLUMNS IN POST FOR MOBILE PORTRAIT & LANDSCAPE */

@media only screen and (min-width:321px) and (max-width:767px) {
	.post .one.column,
	.post .one.columns,
	.post .two.columns,
	.post .three.columns,
	.post .four.columns,
	.post .five.columns,
	.post .six.columns,
	.post .seven.columns,
	.post .eight.columns,
	.post .nine.columns,
	.post .ten.columns,
	.post .eleven.columns,
	.post .twelve.columns,
	.post .thirteen.columns,
	.post .fourteen.columns,
	.post .fifteen.columns,
	.post .sixteen.columns,
	.post .one-third.column,
	.post .two-thirds.column  { width:280px!important; }
}

@media only screen and (min-width:480px) and (max-width:767px) {
	.post .one.column,
	.post .one.columns,
	.post .two.columns,
	.post .three.columns,
	.post .four.columns,
	.post .five.columns,
	.post .six.columns,
	.post .seven.columns,
	.post .eight.columns,
	.post .nine.columns,
	.post .ten.columns,
	.post .eleven.columns,
	.post .twelve.columns,
	.post .thirteen.columns,
	.post .fourteen.columns,
	.post .fifteen.columns,
	.post .sixteen.columns,
	.post .one-third.column,
	.post .two-thirds.column { width:400px!important; }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.comment-box {
	margin-bottom: 20px;
}

/*WP Styles*/

.sticky.post h2.title {
	font-weight:bold;
} 

.gallery-caption {
	margin:10px 0;
}

.bypostauthor .comment h6 b{
	background:#fff568;
	padding:1px 4px;
}