@import url("fonts/font-awesome.min.css");

[class^="icon-"],[class*=" icon-"] {
	color:#111;
	font-size:14px;
	width:auto !important;
}

[class^="icon-"].gray,[class*=" icon-"].gray {
	color:#b5b5b5;
}

[class^="icon-"].white,[class*=" icon-"].white {
	color:#fff;
}

.s-10 { font-size:10px; } .s-11 { font-size:11px; } .s-12 { font-size:12px; } .s-13 { font-size:13px; } .s-14 { font-size:14px; }
.s-15 { font-size:15px; } .s-16 { font-size:16px; } .s-17 { font-size:17px; } .s-18 { font-size:18px; } .s-19 { font-size:19px; }
.s-20 { font-size:20px; } .s-21 { font-size:21px; } .s-22 { font-size:22px; } .s-23 { font-size:23px; } .s-24 { font-size:24px; }
.s-25 { font-size:25px; } .s-26 { font-size:26px; } .s-27 { font-size:27px; } .s-28 { font-size:28px; } .s-29 { font-size:29px; }
.s-30 { font-size:30px; } .s-31 { font-size:31px; } .s-32 { font-size:32px; } .s-33 { font-size:33px; } .s-34 { font-size:34px; }
.s-35 { font-size:35px; } .s-36 { font-size:36px; } .s-37 { font-size:37px; } .s-38 { font-size:38px; } .s-39 { font-size:39px; }
.s-40 { font-size:40px; } .s-41 { font-size:41px; } .s-42 { font-size:42px; } .s-43 { font-size:43px; } .s-44 { font-size:44px; }
.s-45 { font-size:45px; } .s-46 { font-size:46px; } .s-47 { font-size:47px; } .s-48 { font-size:48px; } .s-49 { font-size:49px; }
.s-50 { font-size:50px; } .s-51 { font-size:51px; } .s-52 { font-size:52px; } .s-53 { font-size:53px; } .s-54 { font-size:54px; }
.s-55 { font-size:55px; } .s-56 { font-size:56px; } .s-57 { font-size:57px; } .s-58 { font-size:58px; } .s-59 { font-size:59px; }
.s-60 { font-size:60px; } .s-61 { font-size:61px; } .s-62 { font-size:62px; } .s-63 { font-size:63px; } .s-64 { font-size:64px; }
.s-65 { font-size:65px; } .s-66 { font-size:66px; } .s-67 { font-size:67px; } .s-68 { font-size:68px; } .s-69 { font-size:69px; }
.s-70 { font-size:70px; } .s-71 { font-size:71px; } .s-72 { font-size:72px; } .s-73 { font-size:73px; } .s-74 { font-size:74px; }
.s-75 { font-size:75px; } .s-76 { font-size:76px; } .s-77 { font-size:77px; } .s-78 { font-size:78px; } .s-79 { font-size:79px; }
.s-80 { font-size:80px; } .s-81 { font-size:81px; } .s-82 { font-size:82px; } .s-83 { font-size:83px; } .s-84 { font-size:84px; }
.s-85 { font-size:85px; } .s-86 { font-size:86px; } .s-87 { font-size:87px; } .s-88 { font-size:88px; } .s-89 { font-size:89px; }
.s-90 { font-size:90px; } .s-91 { font-size:91px; } .s-92 { font-size:92px; } .s-93 { font-size:93px; } .s-94 { font-size:94px; }
.s-95 { font-size:95px; } .s-96 { font-size:96px; } .s-97 { font-size:97px; } .s-98 { font-size:98px; } .s-99 { font-size:99px; }
.s-100 { font-size:100px; }


.social-icon.behance.color{background-position:0 0;width:35px;height:35px}.social-icon.google_plus.color{background-position:-39px 0;width:35px;height:35px}.social-icon.flickr.color{background-position:-78px 0;width:35px;height:35px}.social-icon.twitter.color{background-position:-117px 0;width:35px;height:35px}.social-icon.facebook.color{background-position:-156px 0;width:35px;height:35px}.social-icon.dribbble.color{background-position:-195px 0;width:35px;height:35px}.social-icon.skype.color{background-position:-234px 0;width:35px;height:35px}.social-icon.digg.color{background-position:-273px 0;width:35px;height:35px}.social-icon.html5.color{background-position:-312px 0;width:35px;height:35px}.social-icon.linkedin.color{background-position:-351px 0;width:35px;height:35px}.social-icon.last_fm.color{background-position:-390px 0;width:35px;height:35px}.social-icon.vimeo.color{background-position:-429px 0;width:35px;height:35px}.social-icon.tumblr.color{background-position:-468px 0;width:35px;height:35px}.social-icon.apple.color{background-position:-507px 0;width:35px;height:35px}.social-icon.youtube.color{background-position:-546px 0;width:35px;height:35px}.social-icon.rss.color{background-position:-585px 0;width:35px;height:35px}.social-icon.deviantart.color{background-position:-624px 0;width:35px;height:35px}.social-icon.blogger.color{background-position:-663px 0;width:35px;height:35px}.social-icon.wordpress.color{background-position:-702px 0;width:35px;height:35px}.social-icon.amazon.color{background-position:-741px 0;width:35px;height:35px}.social-icon.paypal.color{background-position:-780px 0;width:35px;height:35px}.social-icon.dropbox.color{background-position:-819px 0;width:35px;height:35px}.social-icon.pinterest.color{background-position:-858px 0;width:35px;height:35px}.social-icon.android.color{background-position:-897px 0;width:35px;height:35px}.social-icon.behance.gray{background-position:0 -40px;width:35px;height:35px}.social-icon.google_plus.gray{background-position:-39px -40px;width:35px;height:35px}.social-icon.flickr.gray{background-position:-78px -40px;width:35px;height:35px}.social-icon.twitter.gray{background-position:-117px -40px;width:35px;height:35px}.social-icon.facebook.gray{background-position:-156px -40px;width:35px;height:35px}.social-icon.dribbble.gray{background-position:-195px -40px;width:35px;height:35px}.social-icon.skype.gray{background-position:-234px -40px;width:35px;height:35px}.social-icon.digg.gray{background-position:-273px -40px;width:35px;height:35px}.social-icon.html5.gray{background-position:-312px -40px;width:35px;height:35px}.social-icon.linkedin.gray{background-position:-351px -40px;width:35px;height:35px}.social-icon.last_fm.gray{background-position:-390px -40px;width:35px;height:35px}.social-icon.vimeo.gray{background-position:-429px -40px;width:35px;height:35px}.social-icon.tumblr.gray{background-position:-468px -40px;width:35px;height:35px}.social-icon.apple.gray{background-position:-507px -40px;width:35px;height:35px}.social-icon.youtube.gray{background-position:-546px -40px;width:35px;height:35px}.social-icon.rss.gray{background-position:-585px -40px;width:35px;height:35px}.social-icon.deviantart.gray{background-position:-624px -40px;width:35px;height:35px}.social-icon.blogger.gray{background-position:-663px -40px;width:35px;height:35px}.social-icon.wordpress.gray{background-position:-702px -40px;width:35px;height:35px}.social-icon.amazon.gray{background-position:-741px -40px;width:35px;height:35px}.social-icon.paypal.gray{background-position:-780px -40px;width:35px;height:35px}.social-icon.dropbox.gray{background-position:-819px -40px;width:35px;height:35px}.social-icon.pinterest.gray{background-position:-858px -40px;width:35px;height:35px}.social-icon.android.gray{background-position:-897px -40px;width:35px;height:35px}.social-icon.behance.black{background-position:0 -130px;width:35px;height:35px}.social-icon.google_plus.black{background-position:-39px -130px;width:35px;height:35px}.social-icon.flickr.black{background-position:-78px -130px;width:35px;height:35px}.social-icon.twitter.black{background-position:-117px -130px;width:35px;height:35px}.social-icon.facebook.black{background-position:-156px -130px;width:35px;height:35px}.social-icon.dribbble.black{background-position:-195px -130px;width:35px;height:35px}.social-icon.skype.black{background-position:-234px -130px;width:35px;height:35px}.social-icon.digg.black{background-position:-273px -130px;width:35px;height:35px}.social-icon.html5.black{background-position:-312px -130px;width:35px;height:35px}.social-icon.linkedin.black{background-position:-351px -130px;width:35px;height:35px}.social-icon.last_fm.black{background-position:-390px -130px;width:35px;height:35px}.social-icon.vimeo.black{background-position:-429px -130px;width:35px;height:35px}.social-icon.tumblr.black{background-position:-468px -130px;width:35px;height:35px}.social-icon.apple.black{background-position:-507px -130px;width:35px;height:35px}.social-icon.youtube.black{background-position:-546px -130px;width:35px;height:35px}.social-icon.rss.black{background-position:-585px -130px;width:35px;height:35px}.social-icon.deviantart.black{background-position:-624px -130px;width:35px;height:35px}.social-icon.blogger.black{background-position:-663px -130px;width:35px;height:35px}.social-icon.wordpress.black{background-position:-702px -130px;width:35px;height:35px}.social-icon.amazon.black{background-position:-741px -130px;width:35px;height:35px}.social-icon.paypal.black{background-position:-780px -130px;width:35px;height:35px}.social-icon.dropbox.black{background-position:-819px -130px;width:35px;height:35px}.social-icon.pinterest.black{background-position:-858px -130px;width:35px;height:35px}.social-icon.android.black{background-position:-897px -130px;width:35px;height:35px}.social-icon.behance.transparent{background-position:-7px -96px;width:20px;height:13px}.social-icon.google_plus.transparent{background-position:-46px -93px;width:20px;height:18px}.social-icon.flickr.transparent{background-position:-85px -98px;width:19px;height:9px}.social-icon.twitter.transparent{background-position:-126px -92px;width:15px;height:19px}.social-icon.facebook.transparent{background-position:-167px -93px;width:10px;height:19px}.social-icon.dribbble.transparent{background-position:-202px -93px;width:20px;height:20px}.social-icon.skype.transparent{background-position:-240px -93px;width:20px;height:20px}.social-icon.digg.transparent{background-position:-276px -96px;width:26px;height:15px}.social-icon.html5.transparent{background-position:-320px -90px;width:17px;height:23px}.social-icon.linkedin.transparent{background-position:-360px -94px;width:17px;height:16px}.social-icon.last_fm.transparent{background-position:-396px -96px;width:20px;height:13px}.social-icon.vimeo.transparent{background-position:-436px -94px;width:20px;height:17px}.social-icon.tumblr.transparent{background-position:-478px -93px;width:13px;height:19px}.social-icon.apple.transparent{background-position:-515px -92px;width:16px;height:19px}.social-icon.youtube.transparent{background-position:-553px -92px;width:20px;height:19px}.social-icon.rss.transparent{background-position:-592px -92px;width:18px;height:18px}.social-icon.deviantart.transparent{background-position:-628px -96px;width:24px;height:14px}.social-icon.blogger.transparent{background-position:-671px -93px;width:18px;height:18px}.social-icon.wordpress.transparent{background-position:-708px -91px;width:20px;height:20px}.social-icon.amazon.transparent{background-position:-748px -93px;width:20px;height:19px}.social-icon.paypal.transparent{background-position:-787px -93px;width:19px;height:19px}.social-icon.dropbox.transparent{background-position:-825px -94px;width:20px;height:19px}.social-icon.pinterest.transparent{background-position:-867px -92px;width:16px;height:20px}.social-icon.android.transparent{background-position:-904px -89px;width:21px;height:23px}