/*
* Theme Name:NoXilie Multipurpose
* Theme URI:http://www.themes.bartiistudio.com/wp/noxilie
* Description:Multipurpose Responsive WordPress Template with many colors and features, Fully Customizable, Comprehensive Theme Options and more..
* Author:BartiiStudio
* Author URI:http://www.bartiistudio.com
* Version:1.0
* License:GNU General Public License v2.0
* License URI:http://www.gnu.org/licenses/gpl-2.0.html
* Tags: business, colors, multipurpose, creative, unique, onepage, features, wordpress, theme options, portfolio, responsive, shortcodes, parallax, slider, widgets, 3 in 1, multipage, super, awesome, theme, premium, themeforest
*/


/* navigation
=========================================================*/
div#main-menu {
	width:100%;
	height:50px;
	z-index:999;
}

.nav ul{
	z-index:100;
	margin:0;
	padding:0;
	list-style-type:none;
}

/*Top level list items*/
.nav ul li{
	position:relative;
	display:inline;
	float:left;
	margin-left:5px;
}

/*Top level menu link items style*/
.nav ul li a{
	display:block;
	padding:17px 15px;
}

* html .nav ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display:inline-block;
}

/* edited code for wordpress */
.nav ul li ul li a, .nav ul li ul li, .nav ul li ul li a:hover {
	border-top:1px solid #f1f1f1;
	border-bottom:0 !important;
}

.nav ul li ul {
	border-bottom:1px solid #f1f1f1;
}

.nav ul li a.active {
	transition:none;
}

.nav ul li a.noborder{
    border-bottom:none !important;
}

.nav ul li ul {
	top:50px  !important;
}

.nav ul li ul li ul {
	top:-4px !important;
}

/*1st sub level menu*/
.nav ul li ul{
	position:absolute;
	left:0;
	display:none; /*collapse all sub menus to begin with*/
	visibility:hidden;
	box-shadow:4px 4px 0px rgba(241,241,241, 0.5);
}

/*Sub level menu list items (undo style from Top level List Items)*/
.nav ul li ul li{
	display:list-item;
	float:none;
	margin-left:0;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.nav ul li ul li ul{
	top:0;
}

/* Sub level menu links style */
.nav ul li ul li a{
	width:160px; /*width of sub menus*/
	padding:13px 10px;
	margin:0;
}

/* Holly Hack for IE \*/
* html .nav{height:1%;} /*Holly Hack for IE7 and below*/

.rightarrowclass{
	position:absolute;
	top:18px;
	right:10px;
    background:url(../../images/icons/right.png) no-repeat;
    width:5px;
    height:5px;
}

.downarrowclass{
	position:absolute;
	top:12px;
	right:7px;
	display:none;
}


/* UiTop scroll to top page 
=========================================================*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:30px;
	right:20px;
	overflow:hidden;
	width:35px;
	height:35px;
	border:none;
	z-index:9999;
}

#toTop i {
	margin:2px 0 0 0;
}

#toTop:active, #toTop:focus {
	outline:none;
}


/* Flex Slider 
=========================================================*/
.flex-container a:active, .flexslider a:active, .flexslider2 a:active, .flex-container a:focus, .flexslider a:focus, .flexslider2 a:focus{
	outline:none;
}

.slides,.flex-control-nav,.flex-direction-nav{
	margin:0;
	padding:0;
	list-style:none;
}

.flexslider, .flexslider2{
	margin:0;
	padding:0;
	overflow:hidden;
}

.flexslider .slides>li, .flexslider2 .slides>li {
	display:none;
	-webkit-backface-visibility:hidden;
}

.flexslider .slides img, .flexslider2 .slides img{
	max-width:100%;display:block;
}

.flex-pauseplay span{
	text-transform:capitalize;
}

.slides:after{
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

html[xmlns] .slides{
	display:block;
}

* html .slides{
	height:1%;
}

.no-js .slides>li:first-child{
	display:block;
}

.flexslider, .flexslider2 {
	position:relative;
	zoom:1;
}

.flexslider .slides, .flexslider2 .slides {
	zoom:1;
}

.flexslider .slides>li, .flexslider2 .slides>li {
	position:relative;
}

.flex-container{
	zoom:1;
	position:relative;
}

.flex-caption{
	width:30%;
	padding:15px 20px;
	margin:0;
	position:absolute;
	left:20px;
	bottom:20px;
	color:#fff;
	line-height:25px;
	filter:alpha(opacity=80); 
	zoom:1;
}

.flex-caption span {
	display:block;
	padding:0 0 7px 0;
}

.flex-direction-nav{
	height:0;
}

.flex-direction-nav li a{
	width:40px;
	height:40px;
	margin:0px;
	display:block;
	position:absolute;
	top:50%;
	margin-top:-20px;
	cursor:pointer;
	z-index:9999;
}

.flex-direction-nav li .next{
	right:0;
}

.flex-direction-nav li .prev{
	left:0;
}

.flex-direction-nav li i {
	color:#fff;
	font-size:35px;
	margin-top:2px;
}

.flex-direction-nav li .flex-disabled, .flex-direction-nav li .flex-disabled:hover {
	opacity:0.3;
	filter:alpha(opacity=30);
	cursor:default;
	background:#222!important;
}

.flex-control-nav {
	width:100%;
	margin-top:10px;
}

.flex-control-nav li{
	margin:0 0 0 18px;
	display:inline-block;
	zoom:1;
	*display:inline;
}

.flex-control-nav li:first-child{
	margin:0;
}

.flex-control-nav li a{
	width:18px;
	height:18px;
	display:block;
	cursor:pointer;
	text-indent:-999em;
}

/* Cycle Slider
=========================================================*/
.slide-wrap {
	position:absolute;
	left:0; top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:0;
	display:none;
}

.slide-wrap .caption-box {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1;
	display:table;
}

.slide-wrap .caption {
	display:table-cell;
	line-height:1.4;
	vertical-align:middle;
}

.slide-wrap .caption .slide-text {
	display:inline-block;
	width:75%;
	padding:5px;
}

#progress {
	position:absolute;
	top:0;
	height:4px;
	width:0px;
	z-index:81;
}

.cycle-next, .cycle-prev {
	width:40px;
	height:40px;
	margin:0px;
	display:block;
	position:absolute;
	top:50%;
	margin-top:-20px;
	cursor:pointer;
	z-index:90;
}

.cycle-next i, .cycle-prev i {
	color:#fff;
	font-size:35px;
	margin-top:2px;
	display:block;
}

.cycle-next {
	right:0;
}

.cyle-prev {
	left:0;
}

/* Parallax Effect
=========================================================*/
.parallax {
	width: 100%;
	height: 100%;
	background-size: cover !important;
	background-attachment: fixed !important;
}

.parallax .caption-box {
	position:relative;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:50;
	display:table;
}

.parallax .caption {
	display:table-cell;
	line-height:1.4;
	vertical-align:middle;
}

.parallax .caption .text {	
	display:inline-block;
	width:50%;
	padding:5px;
}


/* SP-BOX
=========================================================*/
.sp-box{
	position:relative;
}
.sp-box li{
	height:248px;
	margin-bottom:30px !important;
}
.sp-box li a {
	display:block;
	overflow:hidden;
	height:100%;
	width:100%;
	position:relative;
	-webkit-transition:all 0.5s ease-in-out;  
    -moz-transition:all 0.5s ease-in-out;  
    -ms-transition:all 0.5s ease-in-out;  
    -o-transition:all 0.5s ease-in-out;  
    transition:all 0.5s ease-in-out;
}

.sp-box li a.active {
	border-width:0px 0px 0px 4px;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}

.sp-box li a.inactive {
	opacity:0.5;
	filter:alpha(opacity=50);
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-o-transform:scale(0.9);
	-ms-transform:scale(0.9);
	transform:scale(0.9);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.sp-box li a h2{
	position:absolute;
	top:109px;
	left:0;
	width:100%;
}
.sp-box li a p{
	position:absolute;
	top:150px;
	left:0;
	padding:10px;
}
.sp-box i{
	position:absolute;
	top:40px;
    left:38%;
}


/* Isotope Filtering
=========================================================*/
.isotope-item {
	z-index:2;
}

.isotope-hidden.isotope-item {
	pointer-events:none;
	z-index:1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-ms-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	transition-duration:0.8s;
}

.isotope {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	-ms-transition-property:height, width;
	-o-transition-property:height, width;
	transition-property:height, width;
}

.isotope .isotope-item {
	-webkit-transition-property:-webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	-ms-transition-property:-ms-transform, opacity;
	-o-transition-property:top, left, opacity;
	transition-property:transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration:0s;
	-moz-transition-duration:0s;
	-ms-transition-duration:0s;
	-o-transition-duration:0s;
	transition-duration:0s;
}

/* End:Recommended Isotope styles */


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
}

/**** Isotope styles ****/

#contain {
	margin:10px 0 0 0;
}

#contain .element-4 {
	min-height:230px;
}

#contain .element-3 {
	min-height:280px;
}

#contain .element-2 {
	min-height:400px;
}

/**** Example Options ****/

#options {
	padding:10px 0 25px 0;
	margin-bottom:20px;
}

#options li {
  float:left;
  margin:3px 6px 3px 0 ;
}

#options li a {
  padding:10px 15px;
  display:inline-block;
}

#options li a:hover {
	border-left-color:#222;
}

/* The Magnificent Clearfix:nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }


/* Carousel Slider
=========================================================*/
.slidewrap, .slidewrap2, .slidewrap3, .slidewrap4 {
	position:relative;
}

.slidecontrols li a.next {
	position:absolute;
	top:27px;
	right:12px;
}

.slidecontrols li a.prev {
	position:absolute;
	top:27px;
	right:38px;
}

.slidecontrols li a.next.right {
	position:absolute;
	top:27px;
	right:0;
}

.slidecontrols li a.prev.right {
	position:absolute;
	top:27px;
	right:49px;
}

.slidecontrols li a.carousel2-next, .slidecontrols li a.carousel3-next, .slidecontrols li a.carousel4-next {
	position:absolute;
	top:27px;
	right:0;
}

.slidecontrols li a.carousel2-prev, .slidecontrols li a.carousel3-prev, .slidecontrols li a.carousel4-prev {
	position:absolute;
	top:27px;
	right:26px;
}

.slidecontrols li a.next, .slidecontrols li a.prev, .slidecontrols li a.carousel2-next, .slidecontrols li a.carousel2-prev, .slidecontrols li a.carousel3-next, .slidecontrols li a.carousel3-prev, .slidecontrols li a.carousel4-next, .slidecontrols li a.carousel4-prev {
	width:25px;
	height:25px;
	display:block;
	cursor:pointer;
}

.slidecontrols li a.next.carousel-disabled,
.slidecontrols li a.next:hover.carousel-disabled,
.slidecontrols li a.prev.carousel-disabled, 
.slidecontrols li a.prev:hover.carousel-disabled,
.slidecontrols li a.carousel2-next.carousel2-disabled,
.slidecontrols li a.carousel2-next:hover.carousel2-disabled,
.slidecontrols li a.carousel2-prev.carousel2-disabled,
.slidecontrols li a.carousel2-prev:hover.carousel2-disabled,
.slidecontrols li a.carousel3-next.carousel3-disabled,
.slidecontrols li a.carousel3-next:hover.carousel3-disabled,
.slidecontrols li a.carousel3-prev.carousel3-disabled,
.slidecontrols li a.carousel3-prev:hover.carousel3-disabled,
.slidecontrols li a.carousel4-next.carousel4-disabled,
.slidecontrols li a.carousel4-next:hover.carousel4-disabled,
.slidecontrols li a.carousel4-prev.carousel4-disabled,
.slidecontrols li a.carousel4-prev:hover.carousel4-disabled {
	display:block;
	cursor:default;
}


/* CountDown Timer
=========================================================*/
#clock-ticker, #count2 {
	display:block; 
	margin:60px auto 40px auto;
	width:620px;
}

#clock-ticker .block {
	position:relative;
	float:left; 
	margin-right:22px; 
	height:122px;
	width:118px;
	padding:10px 10px;
}

#clock-ticker .block:last-child {
	margin-right:0px;
}

#clock-ticker .block .flip-top {
	width:118px; 
	display:block;
	font-size:63px;
	padding:10px 0;
}

#clock-ticker .block .label {
	display:block;
	padding:10px 0;
	font-size:20px;
}

#under-construction form {
	width:620px;
	margin:0 auto;
}


/* jQuery Flickr Feed
=========================================================*/
.thumbs {
	margin:0;
	padding:0;
	overflow:hidden;
}

.thumbs li {
	list-style:none;
	float:left;
	margin:5px 10px 5px 0;
}

#sidebar.thumbs li {
	width:29.7%;
}

#footer.thumbs li {
	width:45%;
}
	

#sidebar.thumbs li img { 
	display:inline-block;
	width:73px;
	height:66px; 
	border:4px solid #f1f1f1;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#footer.thumbs li img {
	display:block;
	width:92px;
	height:83px;
	border:4px solid #333;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.thumbs li a img { border:none; opacity:0.7; filter:alpha(opacity=70); }

.thumbs li a:hover img { opacity:1; filter:alpha(opacity=100);  }

/* jQuery widget Tweets
=========================================================*/
.tweet_list {
	list-style:none;
	margin:0;
	padding:0;
	overflow-y:hidden;
	line-height:21px;
}

.tweet_list li {
	overflow-y:auto;
	overflow-x:hidden;
	list-style-type:none;
	padding:0 0 10px 10px;
	margin-bottom:10px;
}

.tweet_list li i {
	margin:0 5px 0 0;
}

.tweet.footer .tweet_list li a {
	color:#fff !important;
}

.tweet.footer .tweet_list li {
	border-bottom:4px solid #3e3e3e;
}
	
.tweet_list li:last-child, .tweet.footer .tweet_list li:last-child, .tweet_list li.tweet_even {
	border-bottom:0;
}

.tweet_list .tweet_avatar {
	padding-right:.5em; float:left;
}

.tweet_list .tweet_avatar img {
	vertical-align:middle;
}


/* jQuery Prettyphoto Lightbox
=========================================================*/
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../../images/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../../images/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../../images/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_expand:hover{background:url(../../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;height:28px;width:28px}
div.pp_default .pp_contract:hover{background:url(../../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{background:url(../../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer;height:30px;width:30px}
div.pp_default .pp_gallery ul li a{background:url(../../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7px}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{left:auto;position:static}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;margin:4px 0 0;width:20px}
div.pp_default a.pp_arrow_next{background-position:-82px -3px;left:52px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;position:relative;width:110px}
div.pp_default .pp_nav .currentTextHolder{color:#999;font-family:Georgia;font-size:11px;font-style:italic;left:75px;line-height:25px;margin:0;padding:0 0 0 10px;position:absolute;top:2px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../../images/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_expand{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.light_rounded .pp_nav .pp_play{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.dark_rounded .pp_description{color:#fff;margin-right:85px}
div.dark_rounded .pp_nav .pp_play{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../../images/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{background:url(../../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{background:url(../../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:75px}
div.light_square .pp_nav .pp_play{background:url(../../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{background:url(../../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer;height:22px;width:22px}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../../images/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;overflow:hidden;width:55px}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px;white-space:nowrap}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;margin:0 0 0 5px;padding:0;position:relative;white-space:nowrap}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{display:block;line-height:22px;position:absolute;right:0;text-indent:-10000px;top:0}
.pp_loaderIcon{display:block;height:24px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:24px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;margin:0 0 5px 15px;z-index:9999}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {

.pp_content{min-height:250px !important;min-width:286px !important; max-height:300px !important;max-width:286px !important; overflow:hidden;}
* html .pp_content{max-height:250px !important;max-width:286px !important; overflow:hidden;} 

#fullResImage /*, iframe */ {
min-height:200px !important;min-width:286px !important;
max-height:250px !important;max-width:286px !important;
}

.pp_gallery, .pp_expand {
display:none !important;
}

.pp_next {
margin-right:-25px !important;
}

.pp_details {
width:100% !important;
}

.pp_pic_holder {
left:20% !important;
overflow:hidden;
min-height:300px;min-width:320px; max-height:300px;max-width:320px; overflow:hidden;
}

#clock-ticker, #count2, #under-construction form {
	width:auto;
}

#clock-ticker, #count2 {
	margin:30px auto 30px auto;
}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {

#clock-ticker, #under-construction form, #count2 {
	width:auto;
}

#clock-ticker, #count2 {
	margin:20px auto 20px auto;
}

}