/* color
================================================== */
.sp-box li a.active,
.subscribe input.mail:hover,
.subscribe input.mail:focus,
.subscribe input.mail:active,
input.subscribe-text:hover,
input.subscribe-button:hover,
input.subscribe-text:focus,
input.subscribe-button:focus,
input.subscribe-text:active,
input.subscribe-button:active,
blockquote.color,
#toggle-view .color,
.choose ul li:hover,
#options li a.selected,
input.search:hover,
input.search:focus,
input.search:active,
input.text:hover,
input.text:focus,
input.text:active,
textarea:hover,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
select:hover,
select:focus,
select:active,
textarea:focus,
textarea:active,
#vertical-tabs ul.tabs li.current,
#accordion h3.ui-state-active {
  border-left-color: #e2341d !important;
}
.nav ul li:hover,
.nav ul li a.selected,
.nav ul li a.active,
/* new code for wordpress */
.nav ul li.current-menu-item, .nav ul li.current-page-parent, .nav ul li.current-menu-ancestor, .nav ul li.current-page-ancestor, .nav ul li.current_page_item,
ul.team li:hover,
.latest-work2 .item:hover,
footer,
.button.color:hover,
a.link:hover,
.button.white2:hover,
#toTop:hover {
  border-bottom: 4px solid #e2341d;
}
/* darken color */
.button.color,
a.link,
#toTop,
#clock-ticker .block {
  border-bottom: 4px solid #9e2414;
}
.latest-work .item:hover,
.lightbox .item:hover,
.portfolio .item:hover {
  border-bottom-color: #e2341d;
}
#horizontal-tabs ul.tabs li.current,
.nav ul li ul li:first-child,
.nav ul li ul li:first-child:hover {
  border-top: 4px solid #e2341d;
}
span.underline,
.popular-tags a:hover,
.tagcloud a:hover,
a img.border:hover,
#footer.thumbs li:hover img,
#sidebar.thumbs li:hover img {
  border-color: #e2341d !important;
}
.post-ico i,
span.gray-meta i,
#vertical-tabs ul.tabs li.current i,
.sp-box i,
i.color,
.detalis [class^="icon-"]:hover,
.detalis [class*=" icon-"]:hover,
#accordion h3.ui-state-active a,
#horizontal-tabs ul.tabs li.current,
#vertical-tabs ul.tabs li.current,
.choose ul li:hover,
#options li a.selected,
span.color,
a:hover,
/* new code for wordpress */
.nav ul li ul li a:hover, .nav ul li ul li.current_page_item a,
.recent-blog .tags-comments a:hover,
.tags-comments2 a:hover,
ul.team li:hover h3,
.choose ul li:hover,
.square-list li:hover,
.square-list li a:hover,
.check-list li:hover,
.check-list li a:hover,
.plus-list li:hover,
.plus-list li a:hover,
.arrow-list li:hover,
.arrow-list li a:hover,
.cross-list li:hover,
.cross-list li a:hover,
.star-list li:hover,
.star-list li a:hover,
.heart-list li:hover,
.heart-list li a:hover,
.asterisk-list li:hover,
.asterisk-list li a:hover,
.minus-list li:hover,
.minus-list li a:hover,
.arrow2-list li:hover,
.arrow2-list li a:hover,
.arrow3-list li:hover,
.arrow3-list li a:hover,
.circle-list li:hover,
.circle-list li a:hover,
.breadcrumbs li a,
.comment a,
h1.big,
.tweet_list li a,
.button.white2:hover {
  color: #e2341d;
}
.nav ul li a.active,
/* new code for wordpress */
.nav ul li.current-menu-item, .nav ul li.current-page-parent, .nav ul li.current-menu-ancestor, .nav ul li.current-page-ancestor, .nav ul li.current_page_item{
  background: url("../../images/icons/colors/corner_red.png") bottom center no-repeat;
}
::-moz-selection {
  background: #e2341d;
}
::selection {
  background: #e2341d;
}
.popular-tags a:hover,
.tagcloud a:hover,
#toggle-view .color span,
#accordion span.ui-icon-triangle-1-s,
#toTop,
.slidecontrols li a.next:hover,
.slidecontrols li a.carousel2-next:hover,
.slidecontrols li a.carousel3-next:hover,
.slidecontrols li a.carousel4-next:hover,
.flex-direction-nav li .next:hover,
.cycle-next:hover,
.slidecontrols li a.prev:hover,
.slidecontrols li a.carousel2-prev:hover,
.slidecontrols li a.carousel3-prev:hover,
.slidecontrols li a.carousel4-prev:hover,
.flex-direction-nav li .prev:hover,
.cycle-prev:hover,
#progress,
span.date,
span.color-meta,
.services .item:hover .square,
.services .item.active .square,
.flex-control-nav li a:hover,
.flex-control-nav li a.active,
.subscribe input.submit,
a.link,
.box-icon,
.button.color,
.button.black:hover,
#clock-ticker .block,
.count-end-message,
.highlight-color,
.red .colorTip,
.dropcap2.color,
.pagination.color li a.current,
.pagination.color li a:hover,
.tables-column.featured .header h3,
.tables-column .footer.gray h3 span:hover,
.tables-column .footer.black h3 span:hover,
.tables-column.featured .footer h3 span,
.page-title-wrap {
  background-color: #e2341d;
}
/* rgb color */
#under-construction.parallax .block,
#under-construction.parallax .count-end-message {
  background: rgba(226, 52, 29, 0.8) !important;
}
.tabscontent.color,
#ascrail2000 div {
  background-color: #e2341d !important;
}
/* another lighten color */
.subscribe input.submit:hover,
.tables-column.featured .header h1 {
  background: #e85d4a;
}
@keyframes meter-an {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
@-moz-keyframes meter-an {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
@-webkit-keyframes meter-an {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
@-o-keyframes meter-an {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px 0;
  }
}
.meter span {
  background: url(../../images/icons/meter-an.png) #e2341d;
  animation: meter-an 2s linear 0s infinite;
  -moz-animation: meter-an 2s linear 0s infinite;
  -webkit-animation: meter-an 2s linear 0s infinite;
  -o-animation: meter-an 2s linear 0s infinite;
}
/* switcher active */
#red.styleswitch {
  opacity: 1!important;
  filter: alpha(opacity=100);
  cursor: default;
}
