/*
* Theme Name:NoXilie Multipurpose
* Theme URI:http://www.themes.bartiistudio.com/wp/noxilie
* Description:Multipurpose Responsive WordPress Template with many colors and features, Fully Customizable, Comprehensive Theme Options and more..
* Author:BartiiStudio
* Author URI:http://www.bartiistudio.com
* Version:1.0
* License:GNU General Public License v2.0
* License URI:http://www.gnu.org/licenses/gpl-2.0.html
* Tags: business, colors, multipurpose, creative, unique, onepage, features, wordpress, theme options, portfolio, responsive, shortcodes, parallax, slider, widgets, 3 in 1, multipage, super, awesome, theme, premium, themeforest
*/

/* Import Basic Files
================================================== */

@import url("css/fonts.css");               		   /* Custom Fonts */
@import url("css/base.css");                		   /* Reset & Basics */
@import url("css/responsive/skeleton.css");            /* Base 960 Grid */
@import url("css/responsive/javascript.css");          /* Css Styles for js scripts */
@import url("css/shortcodes.css");					   /* Css Styles for shortcodes */
@import url("css/responsive/custom.css");              /* Css Styles File for any changes you want to add */

/* Site Styles
================================================== */

/* common styles */
#accordion, .whyus, .recent-blog2, .bottom {
	margin-bottom:25px !important;
}

.services .item, .latest-work .item , .latest-work2 .item , .lightbox .item, .portfolio .item, .our-services ul li {
	margin-bottom:25px;
}

.reviews-arrow, .subscribe input.submit, .reviews .author, .social, a.twitter, a.facebook, a.skype, a.linkedin, .page-title-nav .next-item, .page-title-nav .prev-item, .page-title-nav .all, div.right, .comment, .comment .title span.right, .comments .children, .right {
	float:right !important;
}

.ads li.banner, div.date, .services .item .square, .js .selectnav, .most-posts li, .technologies ul.items li, div.date2, div.date3, .box-icon, .pagination li, img.pic-2, .most-posts li img.avatar, .image-post.left, .avatar, .form-box, #vertical-tabs .contents, #vertical-tabs ul.tabs, .dropcap, .dropcap2, .pricing-tables-1 .tables-column, .pricing-tables-2 .tables-column {
	float:left;
}

.border {
	border:4px solid #f5f5f5;
	margin-bottom:15px;
}

div#main-menu, .title, h2.title, .recent-blog .blog-item, .recent-blog .blog-item.vertical, .work, .comment .title, .tweet_list li, #options {
	border-bottom:4px solid #f1f1f1;
}

.tabscontent.color .title {
	border-bottom-color:#333;
}

.meter, .services .item, .reviews p, .pagination li a, table th, table td, .tagcloud a, .popular-tags a {
	border:1px solid #f1f1f1;
}

#horizontal-tabs ul.tabs li {
	border:solid #f1f1f1;
	border-width:4px 1px 1px 1px;
}

.welcome, .qoute, .description, .use, .technologies ul.items, #vertical-tabs .contents, #horizontal-tabs .tabscontent, .post, .latest-work .item, .latest-work2 .item , .lightbox .item, .portfolio .item, ul.team  li, .button.white, .button.white2 {
	border:solid #f1f1f1;
	border-width:1px 1px 4px 1px;
}

blockquote, input.subscribe-text, input.subscribe-button, .breadcrumbs, .box, .info-box, .sp-box li a, input.search, .choose ul li, input.text, textarea, code.noxilie, pre.noxilie, #options li a, #vertical-tabs ul.tabs li, #toggle-view li h3, #accordion h3, .form-elements select, .form-elements textarea, .form-elements2 input[type="text"], .form-elements2 select, .form-elements2 textarea, .form-elements input[type="text"], .js .selectnav {
	border:solid #f1f1f1;
	border-width:1px 1px 1px 4px;
}

.button {
	border-bottom:4px solid;
}

.box-icon {
	width:50px;
	height:50px;
	margin:7px 10px 80px 0;
}

li:hover .box-icon {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
}

.box-icon.radius {
	border-radius:50%;
}

.box-icon i {
	margin-top:20%;
}

.title {
	padding:6px 0 0px 0;
	margin:15px 0 15px 0;
}

.whyus img {
	max-width:290px;
}

.bottom-2 {
	margin-bottom:10px !important;
}

.top {
	margin-top:10px;
}

.top-2 {
	margin-top:-10px;
}

.top-3 {
	margin-top:20px;
}

.top-4 {
	margin-top:25px;
}

.top-5 {
	margin-top:-2px;
}

img.pic-2, .most-posts li img.avatar {
	margin:0 13px 5px 0;
	width:57px;
	height:57px;
}

.caption {
	position:relative;
}

.caption .hover-effect {
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
	-ms-transition:opacity 0.3s ease-in-out;
	-o-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.caption .hover-effect.big {
	height:100%;
}

.caption:hover .hover-effect {
	opacity:1 !important;	
	filter:alpha(opacity=100);
}

.hover-effect span {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size:25px;
	text-align: center;
	text-decoration: inherit;
	position:absolute;
	top:50%;
	left:50%;
	padding:8px;
	margin:-20px 0 0 -20px;
	
}

.hover-effect span.zoom:before {	content: '\f002'; padding:8px 1px; }

.hover-effect span.permalink:before { content: '\f067'; padding:8px 2px; }

.hover-effect span.video:before { content: '\f03d'; padding:8px 2px; }

/* header */
header {
	min-height:90px;
}

.logo {
	margin:28px 0;
}

.selectnav { 
    display:none; 
}

header .social {
	padding:35px 0;
}

/* slider */
#slider {
	margin:30px 0;
}

.welcome, .qoute {
	padding:30px 10%;
	margin:25px 0;
}

.description {
	padding:20px 10%;
	margin:0 0 30px 0;
}
	
.use {
	padding:10px 2%;
	margin:0 0 15px 0;
}

.welcome p, .description p{
	line-height:35px;
}

.qoute {
	padding:30px 3%;
	overflow:hidden;
}

.qoute p {
	width:97%;
}

/* main container */

h1.page-title {
	padding:5px 0 2px 0;
	margin:12px 0 18px 0;
	color:#fff;
}

.page-title-wrap {
	margin: 20px 0;
	padding: 10px 0;
}

h2.title {
	padding:5px 0 3px 0;
	margin-bottom:25px;
}

a.link {
	padding:15px;
	text-shadow:none;
	margin:4px 0 0 0;
    display:block;
    width:87%;
	text-align:center;
}

/* services */
.services h3 {
	padding:10px 0 3px 0;
}

.services .item {
	max-height:104px;
	min-height:104px;
	padding-right:8px;
	cursor:pointer;
	position:relative;
}

.services .item .square {
	width:110px;
	height:58px;
	padding:23px 0;
	margin-right:22px;
}

.services .item:hover .square {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);	
}

/* latest work */
.latest-work .item, .latest-work2 .item, .lightbox .item, .portfolio .item {
	padding-bottom:10px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.latest-work .item h4, .lightbox .item h4, .portfolio .item h4 {
	padding-top:10px;
}

.latest-work .item img.pic, .lightbox .item img.pic, .portfolio .item img.pic {
	width:100%;
    height:auto;
}

.latest-work .item.inactive, .lightbox .item.inactive, .portfolio .item.inactive {
	opacity:0.5 !important;
	filter:alpha(opacity=50);
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	-ms-transform:scale(0.9);
	-o-transform:scale(0.9);
	transform:scale(0.9);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.latest-work .item.active, .lightbox .item.active, .portfolio .item.active {
	opacity:1.0;
	filter:alpha(opacity=100);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}

.item.active .caption:hover .hover-effect {
	opacity:0.6;
	filter:alpha(opacity=60);
}

.latest-work2 .item {
	overflow:hidden;
	position:relative;
	text-align:center;
	padding:0px !important;
}

.latest-work2 .item .mask, .latest-work2 .item .content {
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
}

.latest-work2 .item img {
	-webkit-transform:scaleY(1.05);
	-moz-transform:scaleY(1.05);
	-o-transform:scaleY(1.05);
	-ms-transform:scaleY(1.05);
	transform:scaleY(1.05);
	-webkit-transition:all 0.7s ease-in-out;
	-moz-transition:all 0.7s ease-in-out;
	-o-transition:all 0.7s ease-in-out;
	-ms-transition:all 0.7s ease-in-out;
	transition:all 0.7s ease-in-out;
	width:100%;
	height:auto;
}

.latest-work2 .item .mask {
	background-color:#fafafa;
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	transition:all 0.5s linear;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
}

.latest-work2 .item h4 {
	margin:13% 0 0 0;
}

.latest-work2 .item h4,.latest-work2 .item p,.latest-work2 .item a.button {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter:alpha(opacity=0);
	opacity:0;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	-ms-transform:scale(0);
	transform:scale(0);
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	transition:all 0.5s linear;
}

.latest-work2 .item:hover img {
	-webkit-transform:scale(2) rotate(20deg);
	-moz-transform:scale(2) rotate(20deg);
	-o-transform:scale(2) rotate(20deg);
	-ms-transform:scale(2) rotate(20deg);
	transform:scale(2) rotate(20deg);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:alpha(opacity=0);
	opacity:0;
}

.latest-work2 .item:hover .mask {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
}

.latest-work2 .item:hover h4, .latest-work2 .item:hover p,.latest-work2 .item:hover a.button {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
}
				
/* recent blog */
div.date {
	margin:8px 8px 2px 0;
}

div.date2 {
	margin:16px 8px 2px 0;
}

div.date3 {
	margin:8px 8px 0px 0;
}

.meta-post {
	-webkit-transform:translate(10px, 0);
	-moz-transform:translate(10px, 0);
	-ms-transform:translate(10px, 0);
	-o-transform:translate(10px, 0);
	transform:translate(10px, 0);
}

span.date {
	display:block;
	width:30px;
	height:30px;
	padding:10px 10px 10px 10px;
}

span.date span {
	display:block;
}

span.post-ico {
	display:block;
	width:26px;
	height:26px;
	padding:12px;
	text-align: center;
}

span.comments {
	display:block;
	width:30px;
	height:48px;
	padding:2px 10px 0px 10px;
}

span.author {
	display:block;
	width:30px;
	height:45px;
	padding:5px 10px 0px 10px;
}

.recent-blog .blog-item {
	padding-bottom:30px;
	margin-bottom:25px;
}

.recent-blog .blog-item:last-child {
	padding-bottom:0;
	border-bottom:0;
}

.recent-blog .blog-item.noborder {
	border:0;
	padding-bottom:5px;
	margin-bottom:1px;
}

.recent-blog .blog-item.vertical {
	padding-bottom:20px;
	margin-bottom:20px;
}

.recent-blog .blog-item.vertical:last-child {
	padding-bottom:0;
	border-bottom:0;
}

.recent-blog p {
	padding-bottom:10px;
}

.recent-blog .tags-comments {
	padding-left:65px;
}

.more {
	padding-left:58px;
}

.more a{
	text-decoration:underline;
}

.more2 {
	display:block;
	padding-top:14px;
}

.more2 a{
	text-decoration:underline;
}

.recent-blog .tags-comments2 {
	padding:2px 0 14px 0;
	display:block;
}

.recent-blog h3.blog-title {
	margin-top:10px;
}

/* reviews */
.reviews .review-item {
	margin-bottom:20px;
}

.reviews p {
	padding:15px;
	margin-left:1px;
}

.reviews-arrow {
	background:url(images/icons/reviews-arrow.png) no-repeat;
	width:16px;
	height:16px;
	margin:-1px 27px 0 0;
}

.reviews .author {
	margin:25px 10px 0 0;
}

/* technologies */
.technologies {
	margin:5px 0 15px 0;
}

.technologies ul.items {
	padding:20px;
	overflow:hidden;
}

.technologies ul.items li img {
	display:block;
    margin-left:auto;
    margin-right:auto;
	opacity:0.8;
	filter:alpha(opacity=80);
}

.technologies ul.items li img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

/* search */
.search {
	position:relative;
}

input.search {
	padding:8px 30px 8px 8px;
	width:84%;
	position:relative;
	display:block;
}

input.submit-search {
	background:url(images/icons/search-icon.png) no-repeat;
	width:15px;
	height:15px;
	border:none;
	position:absolute;
	top:9px;
	right:11px;
	cursor:pointer;
}

.most-posts li {
	margin-bottom:22px;
	margin-right:15px;
	width:100%;
}

.most-posts li.tagcloud {
	margin-top:0px;
}

.most-posts li:last-child {
	margin-bottom:0;
}

.most-posts li p {
	line-height:19px;
}

/* meta posts */
.meta {
	padding:6px 10px 4px;
	min-height:16px;
	margin:0 3px 5px 0;
	display:inline-block;
}

.post-meta.transparent .meta {
	background:none;
}

.image-post.left {
	margin-right:20px;
}

/* post */
.post {
	padding:15px 10px 0px 10px;
	-webkit-transition:border 0.3s ease-in-out;
	-moz-transition:border 0.3s ease-in-out;
	-o-transition:border 0.3s ease-in-out;
	-ms-transition:border 0.3s ease-in-out;
	transition:border 0.3s ease-in-out;
}

/* tags */
.popular-tags, .tagcloud {
	margin-top:20px;
}

.popular-tags a, .tagcloud a {
	padding:6px 8px;
	display:inline-block;
	margin:0 6px 8px 0;
}

/* footer */
footer {
	padding:5px 0 22px 0;
	margin:25px 0 0 0;
}

h3.title {
	padding:0;
	border-bottom:4px solid #333;
	margin-bottom:15px;
}

.subscribe, .about, .tweets, footer .flickr {
	margin-bottom:15px;
}

/* subscribe */
.subscribe input.mail {
	padding:8px;
	border:none;
	width:93%;
	margin:18px 0 8px 0;
	border:solid;
	border-width:1px 1px 1px 4px;
	border-color:#f1f1f1;
}

.subscribe input.submit {
	padding:6px 16px;
	border:none;
	margin:0;
	cursor:pointer;
}

span.copyright {
	padding-top:7px;
    display:block;
	text-align:center;
}

.social a {
	display:inline-block;
	margin:0 0 0 18px;
}

ul.team  li{
	margin-top:20px !important;
	margin-bottom:20px !important;
	height:285px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

ul.team  li img {
	opacity:0.8;
	filter:alpha(opacity=80);
}

ul.team  li:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}

ul.team  li h3 {
	padding-bottom:5px;
    margin-bottom:5px;
}

ul.team li .detalis {
	position:relative;
	-webkit-transition:0.3s ease-in-out ;
	-moz-transition:0.3s ease-in-out ;
	-ms-transition:0.3s ease-in-out ;
	-o-transition:0.3s ease-in-out ;
	transition:0.3s ease-in-out ;
	padding:8px;
	box-shadow:0px -4px 0px #f1f1f1;
}

ul.team li:hover .detalis {
	margin-top:-75px;
}

.detalis [class^="icon-"], .detalis[class*=" icon-"] {
	-webkit-transition:0.3s ease-in-out ;
	-moz-transition:0.3s ease-in-out ;
	-ms-transition:0.3s ease-in-out ;
	-o-transition:0.3s ease-in-out ;
	transition:0.3s ease-in-out ;
}

.choose ul li {
	padding:13px 10px 13px 25px;
    margin-bottom:8px;
	line-height:15px;
}

.choose ul li i {
	margin-right:5px;
}

/* page-title-nav */
.page-title-nav {
	position:absolute;
	top:30px;
	right:0px;
}

.page-title-nav .next-item, .page-title-nav .prev-item, .page-title-nav .all {
	width:25px;
	height:25px;
	display:block;
	cursor:pointer;
	text-align:center;
	margin-right:5px;
}

.page-title-nav .all i{
	margin: 6px 0 0 0;
}

.page-title-nav .next-item.disabled,
.page-title-nav .next-item:hover.disabled,
.page-title-nav .prev-item.disabled,
.page-title-nav .prev-item:hover.disabled {
	display:inline-block;
	cursor:default;
}

.work {
	padding-bottom:13px;
}

.followers li {
	display:inline-block;
	text-align:center;
	margin:10px 5px;
}

/* comments blog */
.comments {
	overflow:hidden;
}

.comment {
	width:86%;
}

.sixteen.columns .comment {
	width:90%;
}

.comment .txt {
	background:url(images/icons/comment-arrow.png)left top no-repeat;
	padding:0 11px;
}

.comment .txt .comment_text {
	border:solid #f1f1f1;
	border-width:1px 1px 1px 0;
	padding:10px;
	min-height:28px;
}

.comment h6 {
	padding:0 20px;
}

.comment span.right {
	margin:0px !important;
}

.comments .children {
	width:88%;
	margin:20px 0 0 0;
}

.sixteen.columns .comments .children .comment {
	width:89%;
}

.comments .children li.comment-box {
	overflow:hidden;
	margin-bottom:15px;
}

.comments .children .comment{
	width:84%;
}

.comment .title {
	margin:0;
	margin-bottom:10px;
	line-height:15px;
	padding:0;
	padding-bottom:13px;
}

/* Forms */
input.text, textarea {
	padding:12px 10px;
	width:89%;
	display:block;
}

textarea {
	width:96.6%;
	min-height:150px;
}

.form-box {
	width:180px;
	margin:0 20px 15px 0;
}

.form-box.last {
	margin-right:0;
}

.form-box.big {
	width:100%;
}

.form-box label {
	padding:5px 0;
	margin-bottom:8px;
	display:block;
}


/* contact us */
.details li {
	margin-bottom:12px;
}

.details li p {
	padding-left:15px;
}

.details li p i {
	margin-right:5px;
}

/* Under Construction */
#under-construction {
	padding:40px 0;
	min-height:420px;
}

#under-construction h1 {
	margin-bottom:15px;
}

footer.under-construction {
	margin:0;
	font-size:15px;
	padding-top:20px;
}

input.subscribe-text, input.subscribe-button {
	padding:16px;
}

input.subscribe-text {
	width:423px;
	margin-right:15px;
}

input.subscribe-button {
	width:140px;
	cursor:pointer;
}

.count-end-message {
	padding:50px;
	font-size:26px;
	max-width:518px;
	text-align:center;
	line-height:40px;
}

/* ads */
.ads li.banner{
	margin: 10px 3px 0 4px;
	border: 1px solid #ececec;
	padding:3px;
}

.ads li.banner:hover {
	border: 1px solid #ccc;
}

.ads li.banner.size-125, .ads li.banner.size-125 img{
	width:125px;
	height: 125px;
	line-height:125px;
}

.ads li.banner.size-250, .ads li.banner.size-250 img{
	width:250px;
	height: 250px;
	line-height:250px;
}

/* Media Queries
================================================== */

/* Smaller than standard 1024px (devices and browsers) */
@media only screen and (max-width:1024px) {

.parallax .caption .text {
	width:75%;
	font-size: 40px;
}

}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width:959px) {

.meta-post {
	-webkit-transform:none;
	-moz-transform:none;
	-ms-transform:none;
	-o-transform:none;
	transform:none;
}

.parallax .caption .text {
	width:75%;
	font-size: 40px;
}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:768px) and (max-width:959px) {

.nav ul li a {
display:block;
padding:17px 15px;
}

.form {
	padding-top:10px;
}

/* End */

.subscribe input.submit {
	margin-right:-4px;
}

.sp-box li a h2{
	padding:0 15%;
}

.services p {
	font-size:12px;
	line-height: 20px;
}

a.link {
	font-size:13px;
	padding:15px;
	margin:6px 0 0 0;
}

.qoute h2 {
	font-size:18px;
}

.qoute p {
	font-size:14px;
}

.team h3 {
	font-size:15px;
}

a.twitter, a.facebook, a.skype, a.linkedin {
	margin-left:1px;
}

.border {
	max-width:225px;
}

.pricing-tables-1 .tables-column {
	width:186px;
}

.pricing-tables-2 .tables-column {
	width:186px;
}

.pricing-tables-2 .tables-column.data-title {
	display:none;
}

.pricing-tables-2 .tables-column .list li:before {
	content:attr(data-title) '' ;
	text-align:center;
	display:block;
	margin-bottom:13px;
	font-family:'ExoRegular', Arial, sans-serif;
	font-weight:bold;
	color:#7e7e7e;
}

#contain .element-4 {
	min-height:185px;
}

#contain .element-3 {
	min-height:235px;
}

#contain .element-2 {
	min-height:330px;
}

input.search {
	width:79%;
}

.comment{
	width:82% !important;
}

.sixteen.columns .comment {
	width:88% !important;
}

.comments .children .comment{
	width:80% !important;
}

.sixteen.columns .comments .children .comment {
	width:87% !important;
}

input.text, textarea {
	width:95.8%;
}

.form-box {
	width:100%;
	margin:0 0 10px 0;
}

#sidebar.thumbs li {
	width:38.7%;
}

#footer.thumbs li {
	margin:5px 5px 5px 0;
}

#footer.thumbs li img {
	max-width:77px;
    min-height:75px;
}

.whyus img {
	max-width:225px;
}

ul.team li {
	height:240px;
}

ul.team li:hover .detalis {
	margin-top:-100px;
}

.latest-work2 .item h4 {
	margin:5% 0 0 0;
}

.slide-wrap .caption .slide-text {
	font-size:34px;
}

}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width:480px) and (max-width:767px) {

.logo {
	margin:28px 27%;
}

.js #nav, header .social { 
    display:none; 
}

.js .selectnav { 
	display:block;
	padding:10px;
	width:100%;
	margin:5px 0;
	cursor:pointer;
}
 
#slider {
    margin-top:20px;
}

.flex-caption {
    font-size:13px;
}

.flex-caption span {
	font-size:15px;
}

.flex-caption{
    width:95.2%;
    padding:5px 10px;
    margin:0;
    position:absolute;
    left:0px;
    bottom:0;
	line-height:18px;
}
 
.flex-caption span {
	display:block;
	padding:0 0 3px 0;
}

.flex-caption {
	display:none;
}

.technologies ul.items li {
	margin:20px auto;
	float:none;
	width:auto!important;
}

.subscribe input.mail {
	width:74%;
	margin:18px 0 8px 0;
}

.subscribe input.submit {
	margin:18px 0 0 ;
	padding:7px 16px;
}

span.copyright {
	padding-bottom:17px;
    display:block;
	text-align:center;
}

.social {
	float:none;
	text-align:center;
}

.sp-box i {
	position:absolute;
	top:36px;
    left:44%;
}

.sp-box li a h2{
	padding:0 35%;
}

.qoute h2 {
	font-size:16px;
}

.qoute p {
	font-size:14px;
}

a.link {
	margin:10px 0 0 0;
}

.border {
	min-width:410px;
}

ul.team  li img, img.pic {
	min-width:420px;
}

.image-post img {
	min-width:390px;
	max-height:250px;
}

blockquote {
	background-position:4% 20%;
}

.slidecontrols li a.next {
	position:absolute;
	right:0;
}

.slidecontrols li a.prev {
	position:absolute;
	right:30px;
}

.pricing-tables-1 {
	margin:5px 0;
}

.pricing-tables-1 .tables-column {
	width:209px;
	margin-bottom:30px;
}

.pricing-tables-2 .tables-column {
	width:209px;
	margin-bottom:30px;
}

.pricing-tables-2 .tables-column.data-title {
	display:none;
}


.pricing-tables-2 .tables-column .list li:before {
	content:attr(data-title) '' ;
	text-align:center;
	display:block;
	margin-bottom:13px;
	font-family:'ExoRegular', Arial, sans-serif;
	font-weight:bold;
	color:#7e7e7e;
}

#contain .element-2 {
	min-height:370px;
}

.slide-wrap .caption .slide-text {
	font-size:19px;
}

.parallax .caption .text {
	font-size:30px;
	width:75%;
}

input.search {
	width:90%;
}

img.pic-3 {
	min-width:390px;
}

.comment{
	width:78% !important;
}

.comments .children .comment{
	width:75% !important;
}

input.text, textarea {
	width:94.8%;
}

.form-box {
	width:100%;
	margin:0 0 10px 0;
}

.form input.button {
	width:100%;
}

#under-construction h1 {
	font-size:27px;
}

#under-construction p { 
	line-height:35px;
	font-size:20px;
}

#clock-ticker .block {
	margin:0 15px 30px 15px;
	padding:10px 30px;
}

.social-under {
	margin-top:20px !important;
}

input.subscribe-text {
	width:354px;
    margin:5px 15px 8px 15px;
}

input.subscribe-button {
	width:392px;
    margin:8px 15px 5px 15px;
}

.under-construction .copyright {
    display:block;
    text-align:center;
}

.social-under {
    float:none;
    text-align:center;
}

#sidebar.thumbs li {
	width:30.9%;
}

#footer.thumbs li {
	width:30.9%;
}

.notification_ok {
	margin:30px 0 0px 0;
}

#sidebar.thumbs li img, #footer.thumbs li img {
       width:126px;
       height:105px;
}

ul.team li {
	height:380px;
}

.meta-post span.date, .meta-post span.post-ico, .meta-post span.color-meta, .meta-post span.gray-meta {
	display:inline-block;
	vertical-align:top;
	margin-right:-3px;
}

.meta-post{
	margin:0 auto;
}

.latest-work2 .item h4 {
	margin:20% 0 0 0;
}

.page-title-nav {
	position: static;
	width: 90px;
	margin: 0 auto;
}


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width:479px) {

.logo {
    margin:28px 18%;
}

.js #nav { 
    display:none; 
}

.js .selectnav { 
	display:block;
	padding:10px;
	width:100%;
	margin:5px 0;
	cursor:pointer;
}

/* slider */
#slider {
	margin-top:20px;
}

.services h3 {
	padding:0;
}

.services .item {
	padding-right:5px;
}

.services .item .square {
	margin-right:12px;
}

#toTop {
	right:8px;
}

.flex-caption {
    font-size:11px;
}

.flex-caption span {
	font-size:13px;
}

.flex-caption{
    width:93.2%;
    padding:5px 10px;
    margin:0;
    position:absolute;
    left:0px;
    bottom:0;
	line-height:15px;
}
 
.flex-caption span {
	display:block;
	padding:0 0 3px 0;
}

.flex-caption, header .social {
	display:none;
}

.technologies ul.items li {
	margin:20px auto;
	float:none;
	width:auto!important;
}

.subscribe input.mail {
	width:64%;
	margin:18px 0 8px 0;
}

.subscribe input.submit {
	margin:18px 0 0 ;
	padding:7px 16px;
}

span.copyright {
	padding-bottom:17px;
    display:block;
	text-align:center;
}

.social {
	float:none;
	text-align:center;
}

.sp-box i {
	position:absolute;
	top:36px;
    left:40%;
}

.sp-box li a h2{
	padding:0 30%;
}

.qoute h2 {
	font-size:16px;
}

.qoute p {
	font-size:14px;
}

a.link {
	margin:10px 0 0 0;
	width:84%;
}

.team h3 {
	font-size:15px;
}

a.twitter, a.facebook, a.skype, a.linkedin {
	margin-left:1px;
}

.alert {
	font-size:13px;
}

.slidecontrols li a.next {
	position:absolute;
	right:0;
}

.slidecontrols li a.prev {
	position:absolute;
	right:30px;
}

.pricing-tables-1 {
	margin:5px 0;
}

.pricing-tables-1 .tables-column {
	width:100%;
}

.tables-column.featured .header h1 {
	margin-top:0;
}

.pricing-tables-2 .tables-column {
	width:100%;
}

.pricing-tables-2 .tables-column.data-title {
	display:none;
}

.pricing-tables-2 .tables-column .list li:before {
	content:attr(data-title) '' ;
	text-align:center;
	display:block;
	margin-bottom:13px;
	font-family:'ExoRegular', Arial, sans-serif;
	font-weight:bold;
	color:#7e7e7e;
}

#contain .element-2 {
	min-height:290px;
}

.flex-direction-nav li a, .cycle-next, .cycle-prev {
	width:30px;
	height:30px;
	margin-top:-15px;
}

.flex-direction-nav li a i, .cycle-next i, .cycle-prev i {
	font-size:24px;
}

.hover-effect span {
	font-size:18px;
	padding:6px;
	margin:-15px 0 0 -15px;
}

.hover-effect span.zoom:before { padding:0px; }

.hover-effect span.permalink:before { padding:0px 2px; }

.slide-wrap .caption {
	display:none;
}

.parallax .caption .text {
	font-size:20px;
	width:75%;
}

input.search {
	width:86%;
}

.image-post img {
	min-width:270px;
	max-height:220px;
}

.comment{
	width:70% !important;
}

span.right {
	float:left !important;
	margin:25px 0 10px 0;
	display:block;
	width:100%;
}

.comments .children .comment{
	width:65% !important;
}

input.text, textarea {
	width:92.8%;
}

.form-box {
	width:100%;
	margin:0 0 10px 0;
}

.form input.button {
	width:100%;
}

#under-construction h1 {
	font-size:20px;
}

#under-construction p { 
	line-height:35px;
	font-size:16px;
}

#clock-ticker .block {
	margin:0 15px 30px 15px;
	padding:10px 0;
}

.social-under {
	margin-top:20px !important;
}

input.subscribe-text {
	width:266px;
    margin:5px 0 8px 0;
}

input.subscribe-button {
	width:304px;
    margin:8px 0 5px 0;
}


.under-construction .copyright {
    display:block;
    text-align:center;
}

.social-under {
    float:none;
    text-align:center;
}

#sidebar.thumbs li {
	width:46.6%;
}

#footer.thumbs li {
	width:46.6%;
}

.notification_ok {
	margin:30px 0 0px 0;
}

#sidebar.thumbs li img, #footer.thumbs li img {
	width:143px;
	height:115px;
}

.meta-post span.date, .meta-post span.post-ico, .meta-post span.color-meta, .meta-post span.gray-meta {
	display:inline-block;
	vertical-align:top;
	margin-right:-3px;
}

.page-title-nav {
	position: static;
	width: 90px;
	margin: 0 auto;
}

}
