/*
* Theme Name:NoXilie Multipurpose
* Theme URI:http://www.themes.bartiistudio.com/wp/noxilie
* Description:Multipurpose Responsive WordPress Template with many colors and features, Fully Customizable, Comprehensive Theme Options and more..
* Author:BartiiStudio
* Author URI:http://www.bartiistudio.com
* Version:1.0
* License:GNU General Public License v2.0
* License URI:http://www.gnu.org/licenses/gpl-2.0.html
* Tags: business, colors, multipurpose, creative, unique, onepage, features, wordpress, theme options, portfolio, responsive, shortcodes, parallax, slider, widgets, 3 in 1, multipage, super, awesome, theme, premium, themeforest
*/

@import url("uniform.css");    /* css styles for forms */


/* Accordion
=========================================================*/
.ui-accordion .ui-accordion-header {
	display:block; 
	cursor:pointer; 
	position:relative; 
	zoom:1; 
}

#accordion h3 {
	padding:2px 10px;
	margin-top:15px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#accordion h3:first-child {
	margin-top:0px;
}

#accordion p {
	padding:15px;
	border:solid #f1f1f1;
	border-width:0px 1px 4px 1px;
}

#accordion span {
	float:right;
	height:38px;
	width:38px;
	margin:-2px -10px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#accordion span.ui-icon-triangle-1-s:before {
content: '\f068'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 14px; position: relative; top:2px; left:14px;
}

#accordion span.plus:before {
content: '\f067'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 14px; position: relative; top:2px; left:14px;
}

#accordion h3:hover {
	border-left-color:#222;
}

#accordion h3:hover span.plus {
	background:#222;
	color:#fff;
}

#accordion h3 span.ui-icon-triangle-1-s {
	color:#fff;
}

#accordion h3 span.plus {
	background:#f1f1f1;
}

.ui-accordion .ui-accordion-content {
	overflow:hidden;
	zoom:1; 
}

#accordion h3.ui-state-active, #accordion h3.ui-state-active a {
	cursor:default;
}


/* Progress Bar
=========================================================*/
.progress-bar h5 {
	margin-bottom:6px;
}

.progress-bar li {
	margin-bottom:12px;
}

.meter { 
	height:20px; 
	position:relative;
}

.meter > span {
	display:block;
	height:100%;
	position:relative;
	overflow:hidden;
}

.meter > span:after, .animate > span > span {
	content:"";
	position:absolute;
	top:0; 
	left:0; 
	bottom:0; 
	right:0;
	overflow:hidden;
}

.animate > span:after {
	display:none;
}


/* Alert Boxes
=========================================================*/
.alert {
	padding:15px;
	position:relative;
	margin-bottom:25px;
	border:solid;
	border-width:1px 1px 1px 4px;
	line-height:16px;
}

.alert.hideit {
	padding:12px 35px 12px 20px;
}

.alert i {
	float:left;
	margin:0px 10px 0 0;
	font-size:18px;
}

.notice {
	background-color:#fafafa;
	color:#bbb;
	border-color:#ddd;
}

.notice i {
	color:#ccc;
}

.error {
	background-color:#fff1f2;
	color:#e54833;
	border-color:#e54833;
}

.error i {
	color:#e54833;
}

.success {
	background-color:#f4ffdf;
	color:#72c327;
	border-color:#72c327;
}

.success i {
	color:#72c327;
}

.info {
	background-color:#e4f7ff;
	color:#19b2df;
	border-color:#19b2df;
}

.info i {
	color:#19b2df;
}

.warning {
	background-color:#fdf7d5;
	color:#e97238;
	border-color:#e97238;
}

.warning i {
	color:#e97238;
}

.close { 
	position:absolute;
	right:5px;
	top:12px;
	cursor:pointer;
	font-size:12px;
}


/* Buttons
=========================================================*/
.button {
	display:inline-block;
	margin:8px 10px 8px 0;
	border:none;
	cursor:pointer;
	text-shadow:none !important;
}

.button.small {
	padding:10px 10px;
}

.button.medium {
	padding:12px 13px;
}

.button.large {
	padding:13px 20px;
}

.button.full {
	padding:12px 13px;
	margin:10px 0;
	display:block;
	position:relative;
	text-align:center;
}

.button.white:hover {
	border-bottom-color:#222;
}


/* Blockquote
=========================================================*/
blockquote {
	padding:20px;
}

blockquote i.icon-quote-right {
	font-size:25px;
	margin:5px 15px 5px 5px;
	float:left;
}

.comment .txt .comment_text blockquote {
	padding:5px;
	margin:10px;
}


/* Info Box
=========================================================*/
.info-box {
	padding:20px;
	overflow:hidden;
}


/* Highlight & Tooltips
=========================================================*/
.box {
	padding:15px;
}

.colorTip{
	/* This class is assigned to the color tip span by jQuery */
	display:none;
	position:absolute;	
	left:50%;
	top:-30px;
	padding:6px;
	background-color:white;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-style:normal;
	line-height:1;
	text-decoration:none;
	text-align:center;
	text-shadow:0 0 1px white;
	white-space:nowrap;
}

.pointyTip,.pointyTipShadow{
	/* Setting a thick transparent border on a 0x0 div to create a triangle */
	border:6px solid transparent;
	bottom:-12px;
	height:0;
	left:50%;
	margin-left:-6px;
	position:absolute;
	width:0;
}

.pointyTipShadow{
	/* The shadow tip is 1px larger, so it acts as a border to the tip */
	border-width:7px;
	bottom:-14px;
	margin-left:-7px;
}

.colorTipContainer{
	position:relative;
	text-decoration:none !important;
	display:inline-block;
}

.white .pointyTip{ border-top-color:white;}
.white .pointyTipShadow{ border-top-color:#ddd;}
.white .colorTip{
	background-color:white;
	border:1px solid #DDDDDD;
	color:#555555;
}

.yellow .pointyTip{ border-top-color:#f9f2ba;}
.yellow .pointyTipShadow{ border-top-color:#e9d315;}
.yellow .colorTip{
	background-color:#f9f2ba;
	border:1px solid #e9d315;
	color:#5b5316;
}

.black .pointyTip{ border-top-color:#333;}
.black .pointyTipShadow{ border-top-color:#111;}
.black .colorTip{
	background-color:#333;
	border:1px solid #111;
	color:#fcfcfc;
	text-shadow:none;
}


/* Tabs
=========================================================*/

/* horizontal tabs */
#horizontal-tabs {
	margin-bottom:15px;
}

#horizontal-tabs ul.tabs {
	overflow:hidden;
}

#horizontal-tabs ul.tabs li {
	display:inline-block;
	padding:12px 20px;
	margin-right:6px;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#horizontal-tabs ul.tabs.mini li {
	padding:8px;
	margin-right:1px;
}

#horizontal-tabs ul.tabs li:hover {
	border-top-color:#222;
}

#horizontal-tabs ul.tabs li.current {
	border-bottom:1px solid #fff;
	cursor:default;
}

#horizontal-tabs .tabscontent {
	padding:15px;
	display:none;
    overflow:hidden;
	margin:-1px 0;
}

#horizontal-tabs .tabscontent.no-padding {
	padding-left:0; padding-right:0;width:100%;
}

/* vertical tabs */
#vertical-tabs {
	margin-bottom:15px;
}

#vertical-tabs .contents {
	width:65%;
	margin-left:-1px;
}

#vertical-tabs ul.tabs {
	overflow:hidden;
	width:34%;
	position:relative;
}

#vertical-tabs ul.tabs li {
	padding:15px 20px 15px 45px;
	margin-bottom:10px;
	cursor:pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#vertical-tabs ul.tabs li.current {
	border-right-color:#fff;
	cursor:default;
}

#vertical-tabs ul.tabs li:hover {
	border-left-color:#222;
}

#vertical-tabs .tabscontent {
	padding:15px;
	display:none;
	overflow:hidden;
}

#vertical-tabs ul.tabs li i {
	padding-right: 5px;
}


/* Toggle
=========================================================*/
#toggle-view li {
	position:relative;
	cursor:pointer;
	margin-bottom:15px;
}

#toggle-view li h3 {
    padding:2px 10px;
}

#toggle-view li span{
	float:right;
	height:38px;
	width:38px;
	margin:-2px -10px;
}

#toggle-view span.minus:before {
	content: '\f068'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 14px; position: relative; top:3px; left:14px;
}

#toggle-view span.plus:before {
	content: '\f067'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 14px; position: relative; top:3px; left:14px;
}

#toggle-view .color span {
	color:#fff;
}

#toggle-view .black {
	border-left-color:#222;
}

#toggle-view .black span {
	background-color:#222;
	color:#fff;
}

#toggle-view .gray span, #toggle-view .normal span {
	background:#f1f1f1;
}

#toggle-view .panel {
	padding:15px;
	display:none;
	border:solid #f1f1f1;
	border-width:0px 1px 4px 1px;
}	


/* dropcaps
=========================================================*/
.dropcap2 {
	padding:5px 10px;
    margin:5px 10px 0 0;
}

.dropcap {
	background:#fff;
	padding: 4px 6px;
	margin:5px 10px 0 0;
	border: 1px solid #f1f1f1;
	width:18px;
	text-align:center;
}

.dropcap2.gray {
	background:#8d8d8d;
	color:#fff;
}

.dropcap.black {
	color:#222;
}

/* List Styles
=========================================================*/
.widget_categories li, .widget_archive li, .widget_links li, .widget_pages li, .widget_rss li, .widget_meta li, .widget_recent_comments li, .widget_recent_entries li, .pagenav li, .widget_nav_menu li, .square-list li, .check-list li, .plus-list li, .arrow-list li, .cross-list li, .star-list li, .heart-list li, .asterisk-list li, .minus-list li, .arrow2-list li, .arrow3-list li, .circle-list li, .post-content ul li {
	padding:5px 5px 5px 17px;
	line-height:18px;
	position:relative;
}

.ordered-list, .post-content ol {
	padding:5px 5px 5px 30px;
}

.ordered-list li, .post-content ol li {
	line-height:25px;
}

.widget_categories li:hover, .widget_archive li:hover, .widget_links li:hover, .widget_pages li:hover, .widget_rss li:hover, .widget_meta li:hover, .widget_recent_comments li:hover, .widget_recent_entries li:hover, .pagenav li:hover, .widget_nav_menu li:hover, .square-list li:hover, .check-list li:hover, .plus-list li:hover, .arrow-list li:hover, .cross-list li:hover, .star-list li:hover, .heart-list li:hover, .asterisk-list li:hover, .minus-list li:hover, .arrow2-list li:hover, .arrow3-list li:hover, .circle-list li:hover, .post-content ul li:hover {
	padding-left:20px;
}

.ordered-list li:hover, .post-content ol li:hover {
	padding-left:3px;
}

.plus-list li:before { content: '\f067'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 10px; position: absolute; top: 5px; left: 0; }
.minus-list li:before { content: '\f068'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 10px; position: absolute; top: 4px; left: 0; }
.widget_categories li:before, .widget_archive li:before, .widget_links li:before, .widget_pages li:before, .widget_rss li:before, .widget_meta li:before, .widget_recent_comments li:before, .widget_recent_entries li:before, .pagenav li:before, .widget_nav_menu li:before, .square-list li:before, .post-content ul li:before { content: '\f04d'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 6px; position: absolute; top: 5px; left: 0; }
.circle-list li:before { content: '\f111'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 7px; position: absolute; top: 4px; left: 0; }
.check-list li:before { content: '\f00c'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 10px; position: absolute; top: 4px; left: 0; }
.cross-list li:before { content: '\f00d'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 11px; position: absolute; top: 5px; left: 0; }
.arrow-list li:before { content: '\f105'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 16px; position: absolute; top: 4px; left: 0; }
.arrow2-list li:before { content: '\f061'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 10px; position: absolute; top: 4px; left: 0; }
.arrow3-list li:before { content: '\f101'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 12px; position: absolute; top: 5px; left: 0; }
.star-list li:before { content: '\f005'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 11px; position: absolute; top: 5px; left: 0; }
.heart-list li:before { content: '\f004'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 9px; position: absolute; top: 5px; left: 0; }
.asterisk-list li:before { content: '\f069'; font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit; font-size: 10px; position: absolute; top: 5px; left: 0; }

.ordered-list, .post-content ol { list-style-type:decimal; }
.decimal-leading-zero { list-style-type:decimal-leading-zero; }
.lower-alpha, .post-content ol ol { list-style-type:lower-alpha; }
.upper-roman, .post-content ol ol ol { list-style-type:upper-roman; }

dl dt {
	font-weight: bold;
}

dl dd {
	margin-bottom:10px;
}

/* Pagination
=========================================================*/
.pags {
	text-align: center;
}

.pags .li {
	display:inline-block;
}

.pagination {
	margin:25px 0 5px 0;
	display: inline-block;
	width:100%;
}

.pagination li {
	margin:5px 5px 15px 5px;
}

.pagination li a { 
	padding:6px 12px;
}

.pagination .current, .pagination .disabled a {
	cursor:default;
}


/* Small & Social Icons
=========================================================*/
/* small icons */
.the-icons li {
	padding:5px 0;
	height:20px;
}

.tabscontent.color .the-icons li {
    padding:5px;
}

/* social icons */
* .social-icon {
	display:inline-block;
	background:url(../images/icons/social-icons.png) no-repeat;
	vertical-align:middle;
	margin:0 0 5px 0;
}

.social-icon.transparent {
	margin:3px 8px 8px 8px;
}

/* icons in icons.css file */


/* Breadcrumbs
=========================================================*/
.breadcrumbs {
	padding:10px;
	margin-bottom:15px;
}

.breadcrumbs li {
	display:inline;
	padding:0 ;
}

.breadcrumbs li b { margin:0 10px; }


/* Tables
=========================================================*/
table {
	width:100%;
	margin-bottom:10px;
	text-align:left;
}

table th, table td {
	padding:11px;
}


/* Pricing Tables
=========================================================*/
.pricing-tables-1, .pricing-tables-2 {
	margin-top:40px;
}

.pricing-tables-1 .tables-column {
	width:234px;
}

.pricing-tables-2 .tables-column {
	width:187px;
}

.pricing-tables-1 .tables-column, .pricing-tables-2 .tables-column {
	text-align:center;
	display:inline;
	margin:10px 0;
	border-right:1px solid #fff;
	position:relative;
}

.tables-column .header {
	min-height:125px;
}

.tables-column .header h3 {
	padding:10px 0 15px 0;
	line-height:15px;
}

.tables-column.featured{
	z-index:1;
	box-shadow:0px 0px 20px rgba(0,0,0,0.2);
}

.tables-column.featured .header h1 {
	margin-top:-16px;
	padding:8px 0;
}

.tables-column.featured .footer h3 span {
	padding-bottom:15px;
}
	

.tables-column .header h3 span {
	display:block;
	padding:10px 0;
}

.tables-column .footer h3 span {
	display:block;
	padding:7px 0;
}

.tables-column .list li {
	padding:16px 0;
	display:block;
}

.pricing-tables-2 .tables-column .list li:before {
	content:'';
}

/* Videos
=========================================================*/
.video-wrap {
	height:0;
	padding-top:25px;
	padding-bottom:67.5%;
	margin-bottom:10px;
	position:relative;
	overflow:hidden;
}

.video-wrap.vimeo {
	padding-top:0;
}

.video-wrap.widescreen {
	padding-bottom:57.25%;
}

.video-wrap embed, .video-wrap iframe, .video-wrap object, .video-wrap video {
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
}


/* Form Elements
=========================================================*/
.widget select, .form-elements input[type="text"], .form-elements select, .form-elements textarea, .form-elements2 input[type="text"], .form-elements2 select, .form-elements2 textarea {
	padding:6px;
    color:#8c8d8b;
}

.form-elements input[type="text"] {
	min-width:145px;
}

.widget select, .form-elements select {
	min-width:165px;
	margin-bottom:10px;
}

.form-elements textarea {
	margin-top:15px;
	min-height:221px;
}

.form-elements fieldset {
	margin-bottom:10px;
	min-height:30px;
}

.form-elements label {
	min-width:90px;
	display:inline-block;
	color:#666;
}

.widget select {
	width:100%;
}

/* form2 */
.form-elements2 fieldset {
	margin-bottom:10px;
	min-height:30px;
}

.form-elements2 label {
	display:inline-block;
	color:#666;
	margin-bottom:10px;
	width:100%;
}

.form-elements2 input[type="text"] {
	width:95%;
}

.form-elements2 select {
	width:98%;
	margin-bottom:10px;
}

.form-elements2 textarea {
	margin-top:10px;
}

/* FB like box widget
=========================================================*/
.fb-like-box {
	margin-top:6px;
}

.fb-like-box, .fb-like-box iframe[style], .fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style], .fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style]  {
	width: 100% !important;
}