body {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	background-color: #FFF;
	margin: 0;
	padding: 0;
    background-image:url(/static/start/view/img/www/netzero/page-bg.png);
    background-repeat: repeat-x;
	}
	
#pageContents {
	margin: 8px 0 15px 32px;
	width:720px;
	}
/**** beginning of popup css ***/
#transBack {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	width: 1%;
	height: 0px;
	padding: 10px; 
	filter: alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
	text-align: center; 
	background-color:#2F5DAA;
	visibility: hidden;
}
#popL {
	position: absolute;
	left: 150;
	top: 75;
	z-index: 1000;
	padding: 0px; 
	text-align: right;
	border: #2F5DAA 5px solid;
	background-color: #2F5DAA; 
	filter: alpha(opacity=100);
	text-align: center;
	visibility: hidden;
}
#popL a.close:link, a.close:visited { float: right; font-size: 11px; font-weight: 900; margin: 0px; text-align: center; color: #fff; padding: 5px; background-color: #2F5DAA; }
#popL a.close:hover, a.close:active { color: #fff; }

.footerFirstCell {
	border-right-color: #CCCCCC;
	border-right-width:1px;
	border-right-style:solid;
}

A:link.b,A:visited.b,A:active.b {
	color:#004182;text-decoration:none;
}
A:hover.b {
	color:#004182;text-decoration:underline;
}

A:link.footerLink2,A:visited.footerLink2,A:active.footerLink2 {
	color:#004182;font-face: arial;text-decoration:none;font-weight:bold;font-size:11px;
}
A:hover.footerLink2 {
	color:#004182;font-face: arial;text-decoration:underline;font-weight:bold;font-size:11px;
}

A:link.footerLink,A:visited.footerLink,A:active.footerLink {
	color:#004182;text-decoration:none;
}
A:hover.footerLink {
	color:#004182;text-decoration:underline;
}

#popL a:link,
#popL a:active,
#popL a:visited,
#popL a:hover {
	display: block;
	float: right;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding: 5px;
	}
/**** end of popup css ***/

/**** Popular Searches tile ****/
#popular-searches { border: red 1px solid; padding: 5px; margin: 0 0 4px 0; font-size: 12px; }
#popsearchlink { padding: 0px 20px 0px 20px; font-weight: 900; color: #000; text-decoration: underline; }

table {font-family: arial,helvetica,sans-serif; font-size:10pt;}
TD {font-family:arial,helvetica,sans-serif;font-size:10pt}

A:link {color:#0066CC;font-family:arial,helvetica,sans-serif;text-decoration:none;}
A:visited {color:#3F73BF;font-family:arial,helvetica,sans-serif;text-decoration:none;}
A:hover {color:#ff0000;font-family:arial,helvetica,sans-serif;text-decoration:underline;}

td A:link {color:#0066CC;font-family:arial,helvetica,sans-serif;text-decoration:none;}
td A:visited {color:#3F73BF;text-decoration:none;}
td A:hover {color:#ff0000;text-decoration:underline;}

#pageContents a:link,
#pageContents a:active {color:#0066CC;text-decoration:none;}
#pageContents a:visited {color:#3F73BF;text-decoration:none;}
#pageContents a:hover {color:#ff0000;text-decoration:underline;}

p a:link {color:#06C;;text-decoration:none;}
p a:active {color:#F00;}
p a:visited {color:#3F73BF;}
p a:hover {color:#F00;text-decoration:underline;}

A.sp:link {color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:8pt;text-decoration:none;font-weight:bold}
A.sp:visited {color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:8pt;text-decoration:none;font-weight:bold}
A.sp:hover {color:#ffcc00;font-family:arial,helvetica,sans-serif;font-size:8pt;text-decoration:none;font-weight:bold}
A.wh:link {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:white;text-decoration:none}
A.wh:visited {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:white;text-decoration:none}
A.wh:hover {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:white;text-decoration:none}
A.ln:link {color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:10pt;text-decoration:none;font-weight:bold}
A.ln:visited {color:#ffffff;font-family:arial,helvetica,sans-serif;font-size:10pt;text-decoration:none;font-weight:bold}
A.ln:hover {color:#ffcc00;font-family:arial,helvetica,sans-serif;font-size:10pt;text-decoration:none;font-weight:bold}
A.raf:link  {COLOR: #5790D5; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline}
A.raf:visited {COLOR: #2F5FAB; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline}
A.raf:hover {COLOR: #ff0000; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: underline}


.clickHere {font-size:10pt; font-family:arial,helvetica,sans-serif; color:#C50102;}
.clickHere A:VISITED {text-decoration:underline;}
.clickHere A:HOVER {text-decoration:underline; color:#EE3536;}
.clickHere A:LINK {text-decoration:underline;}

.cg2{display:table-column;background-color:#346DA2}

.chkfont {font-family: Arial, Helvetica, sans-serif; font-size: 8pt}
.channelsfont {font-family: Arial, Helvetica, sans-serif; font-size: 11px}

.def {color:#000000; font-weight: bold;}
.def:LINK {color:#009900; font-weight: bold; text-decoration:underline; border-bottom: 1px solid green;}
.def:VISITED {color:#009900; font-weight: bold; text-decoration:underline; border-bottom: 1px solid green;}
.def:HOVER {color:#000000; background-color:#FFFF99; font-weight: bold;}

.legalfont { font-family: Arial, Helvetica, sans-serif; font-size: 11px }

.f {font-family:arial,helvetica,sans-serif;font-size:12pt;font-weight:bold;color:#4780CF}
.f1 {font-family:arial,helvetica,sans-serif;font-size:12pt;color:#4780CF;font-weight:bold}
.f2 {font-family:arial,helvetica,sans-serif;font-size:10pt;font-weight:bold}
.f3 {font-family:arial,helvetica,sans-serif;font-size:10pt}
.f4 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:red;font-weight:bold}
.f5 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#3C74C1;font-weight:bold}

.o2:link {color:#FFFFFF;font-family:arial,helvetica,sans-serif;text-decoration:none;}
.o2:visited {color:#FFFFFF;font-family:arial,helvetica,sans-serif;text-decoration:none;}
.o2:hover {color:#FFCC00;font-family:arial,helvetica,sans-serif;text-decoration:none;}

.sp {font-family:arial,helvetica,sans-serif;font-size:9pt;color:white;text-decoration:none;font-weight:bold}
.o1 {font-family:arial,helvetica,sans-serif;font-size:9pt;}
.o2 {font-family:arial,helvetica,sans-serif;font-size:9pt;color:#FFFFFF;text-decoration:none;}

.m1 {font-family:arial,helvetica,sans-serif;font-size:10pt}
.m2 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:white;font-weight:bold}
.m3 {font-family:arial,helvetica,sans-serif;font-size:10pt;font-weight:bold}
.m4 {font-family:arial,helvetica,sans-serif;font-size:14pt;color:white;font-weight:bold}
.m5 {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:#5B5B5B}
.m6 {font-family:arial,helvetica,sans-serif;font-size:7.5pt;font-weight:bold}
.m7 {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:white;text-decoration:none}
.m8 {font-family:arial,helvetica,sans-serif;font-size:14pt;color:#04294A;font-weight:bold}
.m9 {font-family:arial,helvetica,sans-serif;font-size:7.5pt}
.m10 {font-family:arial,helvetica,sans-serif;font-size:10pt;}
.m11 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:white;text-decoration:none}
.m12 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#FFFDCC;font-weight:bold}
.m13 {font-family:arial,helvetica,sans-serif;font-size:8pt;color:#5B5B5B;text-decoration:none;font-weight:bold}
.m14 {font-family:arial,helvetica,sans-serif;font-size:14pt;color:white;text-decoration:none;font-weight:bold}
.m15 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:white;text-decoration:none;font-weight:bold}
.m17 {font-family:arial,helvetica,sans-serif;font-size:8pt;text-decoration:none;}
.m18 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#3D72BE;font-weight:bold}
.m19 {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:#345696}
.m20 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:red;}
.m21 {font-family:arial,helvetica,sans-serif;font-size:8pt;color:white;text-decoration:none}
.m22 {font-family:arial,helvetica,sans-serif;font-size:7.5pt;color:black;text-decoration:none}

.s0 {font-family:arial,helvetica,sans-serif;font-size:7pt;color:#999999;font-weight:bold;text-align:right}
.s1 {font-family:arial,helvetica,sans-serif;font-size:7pt}
.s2 {font-family:arial,helvetica,sans-serif;font-size:10pt;font-weight:bold}
.s3 {font-family:arial,helvetica,sans-serif;font-size:11pt;font-weight:bold}
.s4 {font-family:arial,helvetica,sans-serif;font-size:8pt;font-weight:bold}
.s5 {font-family:arial,helvetica,sans-serif;font-size:8pt;color:#0066CC}
.s6 {font-family:arial,helvetica,sans-serif;font-size:12pt;color:#999999;font-weight:bold}
.sTable {border: solid 1px #0066CC; border-width:1px; background-color: #F2F7FF;}
.sInput {height: 18px; font-family: Verdana; font-size: 11px; border: solid 1px #0066CC}
	
.noheaderpage {background-color:#FFF; margin-top:5px; margin-left:8px; margin-right:8px}

/**** these that start with "t" are used to color the ***/
/**** backgrounds of TABLEs and TDs                   ***/
.t1{display:table;background-color:#346DA2}
.t2{display:table;background-color:#FFFFFF;}
.t3{display:table;background-color:#003e79;}
.t4{display:table;background-color:#356EA3;}
.t5{display:table;background-color:#6D9EEA;}
.t6{
	font-weight: bold;
	background-color:#457FD0;
	color: #FFFFFF;
}

.ta {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#003e79;}
.ti {font-family:arial,helvetica,sans-serif;font-size:12pt;color:#003e79;}
.tt {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#000000;}

.tp {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#000000;font-weight: bold;}
.tp1 {font-family:arial,helvetica,sans-serif;font-size:10pt;color:#000000;}

/***************  color alternating table rows as on the ***************/
/***************  itemization table on the CC page,etc   ***************/

.tableRowColor1 {
	font-weight: normal;
	background-color: #F6F6F6;
	color: #000000;
	}
	
.tableRowColor2 {
	font-weight: normal;
	background-color: #FFFFFF;
	color: #000000;
	}
	

.raffont {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
.side_font {  font-family: Arial, Helvetica, sans-serif; font-size: 11px}
.table_border {  border-color: #305DAA #305DAA #FFFFFF; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px}
.table_border1 {  border-color: #305DAA #305DAA black; border: #305DAA; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

/***************  registration pages header ***************/
.regbreadcrumb {
	font-size: 11px;
	color: #CCCFC4
	}
	    
.regbreadcrumb1 {
	font-size: 11px; 
	font-weight: bold;
	color: #FFFFFF
	}

.reghead {
	background-color: #335696;
	} 

div.box1 { border: solid 1px #0066CC; width: 177; background-color: #F2F7FF; border-width:1px; font-family: Arial; font-size: 11px; padding-left: 4px; color:#0066CC; line-height: 11pt}

div.box2 { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 633; font-family: Arial; padding-left: 4px; font-size: 12px; color:#0066CC; line-height: 11pt; background-color:#F2F7FF}

div.box3 { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 633; font-family: Arial; padding-left: 4px; font-size: 12px; color:#0066CC; line-height: 11pt; background-color:#F2F7FF}

div.box4 { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 633; font-family: Arial; padding-left: 4px; font-size: 12px; color:#0066CC; line-height: 11pt}

div.box5 { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px; width: 250; font-family: Arial; padding-left: 4px; font-size: 12px; color:#0066CC; line-height: 11pt}

div.box6 { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 500; font-family: Arial; padding-left: 4px; padding-top: 1px; font-size: 12px; color:#0066CC;background-color:#F2F7FF}

div.box7 { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 633; font-family: Arial; padding-left: 4px; font-size: 12px; color:#0066CC; line-height: 13pt}

div.box8 { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 500; padding-left: 4px; font-size: 12px; color:#0066CC; font-family: Arial}

div.box9 { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 500; padding-left: 4px; font-size: 12px; color:#0066CC; background-color:#F2F7FF; font-family: Arial}

div.box10 { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px; width: 500; font-family: Arial; padding-left: 4px; padding-top: 1px; font-size: 12px; color:#0066CC}

div.box2a { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 500; padding-left: 4px; padding-top: 4px;  background-color:#F2F7FF}

div.box3a { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px; padding-left: 4px; padding-top: 4px; width: 500}

div.box3b { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-left: 4px; padding-top: 4px; width: 500}

div.box2a1 { border: solid #0066CC; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; width: 633; line-height: 11pt; padding-left: 4px; padding-top: 4px;  background-color:#F2F7FF}

div.box3a1 { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 1px; padding-left: 4px; padding-top: 4px; width: 633}

div.box3b1 { border: solid #0066CC; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; padding-left: 4px; padding-top: 4px; width: 633}


/***************  fonts and sematic markup ***************/

em {
	font-weight: bold;
	font-style: normal;
	color: #0066CC;
    }
		
strong {
	color: #0066CC;
    }

small {
	font-size: 10px;
    }

h1 { 
/*  we should use this rule
	instead of the .pagehead
	class
*/
	font-size:16px;
	font-weight:bold;
	color: #457FD0;
	margin: 0 0 2px 0;
	}

.alert {
	font-weight: bold;
	color: #F00;
	}

.pagehead {
	font-size:16px;
	font-weight:bold;
	color: #457FD0;
	}

.largehead {
/* largehead marks up the text and also
   colors the background of the TD      */
	background-color: #F6F6F6;
	font-size:18px;
	font-weight:bold;
	color: #457FD0;
	}

/***************  footer mark-up ***************/

#footer{
	text-align: center;
	color: #000;
	margin-top: 30px;
	width: 767px;
	}

.footer {
	font-size: 10px;
	text-align: center
	}

.footer A {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none
	}

.footer HR { color:C3C3C3 }

.ftrHomeTopLine {background-color: #85A0FB;}

.ftrHome {
	background-color: #274E8F;
	font-size: 10px;
	color: #FFFFFF;
	}

/***************  nav  ***************/

.topnav A:link, .topnav A:visited {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}

.topnav A:hover {
	color: #FFCC00;
	font-size: 12px;
	text-decoration: none;
	}
		
.brdcrmbs {
	color: #FFFFFF;
	font-size: 10px;
	}
		
.brdcrmbs A:link, .brdcrmbs A:visited {
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
	}
		

.leftnav {
	font-size: 11px;
	color: #FFFFFF;
}

.leftnav A:link, .leftnav A:visited {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	}

.leftnav A:hover {
	color: #FFCC00;
	font-size: 11px;
	text-decoration: none;
	}

.leftnavEmail {
	background-color: #305DAA;
}

.leftnavEmail a:link, .leftnavEmail a:visited, .leftnavEmail a:active, .leftnavEmail a:hover, {
	font-weight: normal;
	text-decoration: underline;
}
/***************  account pages specific styles ***************/	
		
.m16 {FONT-SIZE: 7.5pt; COLOR: #000000; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none}

.cg1 {BACKGROUND-COLOR: #346da2; TEXT-ALIGN: left; column-span: 2}

A.lt:link {COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; TEXT-DECORATION: none}

A.lt:visited {COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; TEXT-DECORATION: none}

A.lt:hover {COLOR: #ffcc00; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; TEXT-DECORATION: none}

A.lt:active {COLOR: red; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; TEXT-DECORATION: none}

.crumbline {COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 7.5pt; TEXT-DECORATION: none}

.boxstyle { width: 125px}

.tablepadding { padding-left: 5px; padding-right: 5px}

.m400 {COLOR: #032a4b; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold}

.m800 {COLOR: #fe0000; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 7.5pt}

.m900 {COLOR: #f1f1f1; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold}

.m1300 {COLOR: #0066cc; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}

.A.ln100:link {COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}

A.ln100:visited {COLOR: white; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.ln100:hover {COLOR: #ffcc00; FONT-FAMILY: arial,helvetica,sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}
A.index:link {color:#225092;font-family:arial,helvetica,sans-serif;text-decoration:none; font-size: 8pt; font-weight: bold}
A.index:visited {color:#3f73bf;font-family:arial,helvetica,sans-serif;text-decoration:none; font-size: 8pt; font-weight: bold}
A.index:hover {color:#ff0000;font-family:arial,helvetica,sans-serif;text-decoration:underline; font-size: 8pt; font-weight: bold}
.back { background-color: #335696 }

/*************** styles for www left nav ***************/	
#navcontainer ul { margin: 0; padding: 0; list-style-type: none; font-size: 1em; }
#navcontainer li { margin: 0; padding: 0px; color: #fff; }
#navcontainer a { display: block; background-image: url(/static/start/view/img/homepage/arrow_css_lrg.gif); padding: 2px 0px 2px 0px; border-bottom: 1px solid #1C3662; border-top: 1px solid #396FCA; width: 132px; \width: 132px; w\idth: 132px; margin: 0px; background-color: #305DAA; } 
#navcontainer a:link, a:visited { color: #fff; text-decoration: none; }
#navcontainer a:hover { background-color: #325696; color: #FFCB05; text-decoration: none; border-bottom: 1px solid #396FCA; border-top: 1px solid #1C3662; }
#navcontainerlast a  { border-bottom: 0px dashed #6A6E72; } 
#navcontainerlast a:link, a:visited { color: #fff; text-decoration: none; }
#navcontainerlast a:hover { background-color: #325696; color: #FFCB05; text-decoration: none; border-bottom: 0px solid #396FCA; border-top: 1px solid #1C3662; }

/****************************** Styles for Support page footers using Div structure *******************/
/************* All these styles are used for support page footer file - html/common/footers/includes/include-support-footer.jsp *****/ 

/************** Begin of Footer ****************/

.UOLlogo { float: right; margin: 0 0 2px 2px;}
#footerlinksHolder {
	clear: right;
	border-top: 1px solid #C3C3C3;
	border-bottom: 2px solid #85A0FB;
}
#footerNav {width:800px;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size:8pt;
	        padding-top: 2px;
	        padding-bottom: 10px;
	        text-align: center;}
#footerDisclaimer {
	border-top: 1px solid #CCC;
	background-color:#274E8F;
	height:75px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:7.5pt;
	color:#FFF;
	padding-top: 10px;
	padding-left: 125px;
}

A:link {color:#0066CC;text-decoration:none}
A:visited {color:#3F73BF;text-decoration:none}
A:hover {color:#FF0000;text-decoration:underline}

/***************** End of Footer *****************/

/************** Begin of Canary account pages (Account summary, billing history...) ****************/

.heading-text-canaryacc { 
	 font: bold 13px Arial, Helvetica, sans-serif;
	 color: #000000
	 }

.text-canaryacc { 
	 font: normal 12px Arial, Helvetica, sans-serif;
	 color: #000000
	 }

.smalltext-canaryacc { 
	 font: normal 9px Arial, Helvetica, sans-serif;
	 color: #000000
	 }
	 
.headingtext-canaryacc { 
	 font: bold 13px Arial, Helvetica, sans-serif;
	 color: #0366CC
	 }

.unboldtext-canaryacc { 
	 font: normal 12px Arial, Helvetica, sans-serif;
	 color: #0366CC
	 }	
/************** End of Canary account pages (Account summary, billing history...) ****************/
