body {
	background:#ffffff;
	background-image:url(/static/start/view/img/dsl/dsl-landing/page-bg.gif);
	background-repeat: repeat-x;
	margin:0;
	padding:0;
}
/* wrapping the content prior to disclaimer */
	



#wrapperL1 {
	width:760px;
	height:150px;	
	top:0px;
	background:#ffffff;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #aeaeae;
	border-left-color: #aeaeae;
	border-right-style: solid;
	border-left-style: solid;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
	float: left;
}
#wrapperLOUT {
	width:760px;
	top:0px;
	background:#ffffff;
	float: left;
	position: inherit;
	display: inline;
	background-image: url(/static/start/view/img/dsl/dsl-landing/table-wrap-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;	
}

#wrapperR1 {
	width:440px;
	height:177px;	
	top:0px;
	background:#ffffff;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #aeaeae;
	border-left-color: #aeaeae;
	border-right-style: solid;
	border-left-style: solid;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
	float: right;
}
#wrapperROUT {
	width:439px;
	top:0px;
	float: right;
	position: inherit;
	display: inline;
	background-color: #ffffff;
	background-image: url(/static/start/view/img/dsl/dsl-landing/table-wrap-bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.wrapperTOP1 {
	width:590px;
	height:218px; /* previously was set at 333px */	
	top:0px;
	background:#ffffff;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #aeaeae;
	border-left-color: #aeaeae;
	border-right-style: solid;
	border-left-style: solid;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aeaeae;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
}
/******** css for HEADER */
.headerbar {padding:0px; width:760px; height:68px; background-image:url(/static/start/view/img/dsl/dsl-landing/headerbar-bg.gif)}
.headerbar1 {padding:0px; width:760px; height:68px; background-image:url(/static/start/view/img/dsl/dsl-landing/headerbar-bg.gif);border-left:1px solid #AEAEAE;border-right:1px solid #AEAEAE;}
.headerlogo {float:left; width: 164px; height:37px; padding:17px 0px 0px 20px; margin:0px;}
.headersignuptext {float:right; width: 105px; height:37px; text-align:right; font:normal 11px Arial;padding-top:9px;_padding-top:15px;}
.headerline {padding:0px; margin:0px; width:762px; _width:760px; height:4px; background:#20487f;font-size:0;}
.headerlinks {float: right;padding:15px 18px 0px 20px;}
.headersignin {clear: right; float:right; height:17px; padding:0px 12px 0px 0px;}
.headerwelcome {font:12px arial; color:#000000; font-weight:bold; padding:0px 5px 20px 0px; vertical-align: middle;}
a.hLink {color:#004182;font:8pt arial;text-decoration:none;}
a.hLink:hover {text-decoration:underline;}

/* signin overlay properties */
td.title-header{font-family: Arial, Helvetica, sans-serif;font-size: 12px;font-weight: bold;padding-left: 10px;}
a.forgot{ font:Arial, Helvetica, sans-serif;font-size:11px;color:#004182;}
.signin-text{font:Arial, Helvetica, sans-serif;font-weight:normal;font-size:11px;color:#000000;
	float:left; vertical-align:bottom;padding-top:3px;}


/* this is for the innerTABLE */
.title-upper {
	font-size: 20px;
	font-weight:normal;
	text-align: left;
	padding:3px 0px 0px 20px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
}
.title-iehelp {
	font-size: 16px;
	font-weight:normal;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.title-mzhelp {
	font-size: 16px;
	font-weight:normal;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	padding-top: 2px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.txtUpTo {
	font-family: Arial;
	font-size: 13px; 
	font-weight:bold; 
	color: #000000;
	vertical-align: top; 
	text-align:left;
}
.txtLow {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight:bold;
	color:#666666;
	vertical-align: top;
	text-align:left;
	padding-left: 30px;
	line-height: 20px;
}
.txtLow-vd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:normal;
	color:#6a6868;
	vertical-align: top;
	text-align:left;
	padding-left: 20px;
	line-height: 20px;
}
.txtLow-vd1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	color:#6a6868;
	vertical-align: top;
	text-align:left;
	padding-left: 10px;
	padding-top: 5px;
	line-height: 18px;
}

.txtLow-vd2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	color:#6a6868;
	vertical-align: top;
	text-align:left;
	padding-left: 12px;

}
.txtLow-ve {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:normal;
	color:#6a6868;
	vertical-align: top;
	text-align:left;
	padding-left: 10px;
	line-height: 20px;
}
.txt-bullets {
	background-image: url(/static/start/view/img/dsl/dsl-landing/bullet-arrow.gif);
	background-repeat: no-repeat; 
	background-position: left top;
	padding: 2px 0px 0px 10px;
	line-height: 25px;
	margin:0px;
}

.txt-bullets-vc {
	background-image: url(/static/start/view/img/dsl/dsl-landing/bullet-arrow.gif);
	background-repeat: no-repeat; 
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
		line-height: 20px;
	padding-left:10px;
	padding-top:5px;
/*	border: 1px solid #000000; */
}
.txt-bullets-vc1{
	background-image: url(/static/start/view/img/dsl/dsl-landing/small-black-bullet-1.gif);
	background-repeat: no-repeat; 
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 15px;
	padding-left:10px;
	padding-top:5px;
	color:#000000;
/*	border: 1px solid #000000; */
}
.txt-bullets-vc2{
	background-image: url(/static/start/view/img/dsl/dsl-landing/small-black-bullet-1.gif);
	background-repeat: no-repeat; 
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	padding-left:7px;
	padding-top:5px;
	color:#000000;
/*	border: 1px solid #000000; */
}
.wrapperFTD {
	width:161px;
	height:218px; /* previously was set at 333px */	
	top:0px;
	background:#ffffff;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #aeaeae;
	border-left-color: #aeaeae;
	border-right-style: solid;
	border-left-style: solid;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aeaeae;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #aeaeae;
}
.ftdboxinside {
background:#FFFFFF;font-family: Arial, Helvetica, sans-serif;font-size: 14px; font-weight:normal; color:#6a6868;text-align:left;

}
.ftdsignuptext{background-image: url(/static/start/view/img/netshop/bg-grey-ftd-box.gif);height:34px;width:159px;font-family: Arial, Helvetica, sans-serif;font-size: 18px;font-weight:normal;color:#6a6868;padding-top:4px;}
.ftdlearnmore {color:#004182;border-bottom:1px dashed #004182;font-family:Arial; font-size:11px;text-align:top;}
.ftdboxtext{color:#225092;font-weight:bold;}
.ftdboxpadding{padding:2px 5px 0 8px;}
.padtop10 {padding-top:10px;}
.bullets-div-vc {
	width:160px;
	float: left;
	padding-left: 20px;
/*	border: 1px solid #000000; */
}

/* price point wrap */
#price-wrapper {
	width: 190px;
	position: relative;
	padding-top: 0px;
	z-index:0;
}

/* subheader style */
#subheader-l {
	background-image:url(/static/start/view/img/dsl/dsl-landing/subheader-bg.gif);
	height:32px;
	width: 760px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cecece;
	text-align:left;	
}
#subheader-r {
	background-image:url(/static/start/view/img/dsl/dsl-landing/subheader-bg.gif);
	height:32px;
	width: 440px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cecece;
	text-align:left;	
}
#subheader-font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	padding-left: 20px;	
	padding-top: 8px;
	float:left;	
}

#subheader-moreinfo {
	float:right;
	padding-right: 25px;	
	padding-top: 8px;	
}

a.subheader-moreinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #004182;
	border-bottom: 1px solid;
	text-decoration:none;	
}	

td.subcontent-font1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	padding-left: 20px;
}
td.subcontent-font2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding-left: 20px;
	width:290px;	
}
td.subcontent-font3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	padding-left: 20px;
}
/******** WHY WE NEED YOUR NUMBER */
.subcontent-why
{
	padding-left: 25px;
}
a.subcontent-why {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #004182;
	border-bottom: 1px dashed;
	text-decoration:none;
}
/* subcontent OVERLAY -why we need your phone number */
.fl {float:left;}
.pColor_1 {color:#333333}
.font8Arial {font:8pt arial;}
.font9Arial {font:9pt arial;}
.scTitl {padding-left: 10px; margin: 6px 0px 0px 0px;}

/******** input availability box field */
.dsl-inputData {
float:left;
}

.dsl-disclaimer {font-family: Arial; font-size: 10px; font-weight:bold;color: #939393;}
