body {
	background:#ffffff;
	background-image:url(/static/start/view/img/dsl/dsl-landing/page-bg.gif);
	background-repeat: repeat-x;
	margin:0;
	padding:0;
}	

.palette {
	width:760px;
}

.wrapperTOP {
	width:760px;
	height:363px;	
	top:0px;
	background:#ffffff;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #aeaeae;
	border-left-color: #aeaeae;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aeaeae;
}	
	
.wrapperTOP_compare {
	width:760px;
	top:0px;
	background:#ffffff;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #aeaeae;
	border-left-color: #aeaeae;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aeaeae;
}	
	
.wrapperBOTTOM {
	width:760px;
	top:0px;
	visibility: inherit;
	background:#ffffff;
	background-image:url(/static/start/view/img/dsl/dsl-landing/ns_bottom_gradient_tile_a.gif);
	background-repeat: repeat-x;
	padding-top: 10px;
	float: inherit;
}	
	
.content { 
	/* text attributes, these go into a .section block for example */
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}
.section{
	/* block to put .content inside of */
	padding:10px;
}