body {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	}

img {border: 0;}

h1 {
	font-size: 13px;
	margin: 4px;
	}

form {
	margin: 0;
	padding: 0;
	}
	
a:link {
	color:#0066CC;
	text-decoration:none;
	}
	
a:visited {
	color:#3F73BF;
	text-decoration:none;
	}
	
a:hover {
	color:#ff0000;
	text-decoration:underline;
	}

td a:link {
	color:#0066CC;
	text-decoration:none;
	}
	
td a:visited {
	color:#3F73BF;
	text-decoration:none;
	}
	
td a:hover {
	color:#ff0000;
	text-decoration:underline;
	}

td {font-size:10pt;}

em {
	font-weight: bold;
	font-style: normal;
	color: #0066CC;
    }
		
strong {
	color: #0066CC;
    }

ul.features {
	list-style: none;
	margin: 0;
	padding: 0;
	}

ul.features li {
	font-size: 14px;
	font-weight: normal;
	padding-left: 7px;
	padding-top: 2px;
	margin-bottom: 4px;
	}

ul.features li a:link,
ul.features li a:active,
ul.features li a:visited,
ul.features li a:hover {color:#000;}

#logo {margin-left: 5px;}

#hsFeatures li {background: url(/static/start/view/img/www/3g_features_arrow.gif) left no-repeat;}

#platFeatures li {
	font-size: 13px;
	background: url(/static/start/view/img/www/plat_features_arrow.gif) left no-repeat;
	margin-bottom: 3px;
	}

#platinumFeatures li {
	font-size: 12px;
	background: url(/static/start/view/img/www/n3/platinum_features_arrow.gif) left no-repeat;
	margin-bottom: 3px;
	}
	
#acceleratorFeatures li {
	font-size: 12px;
	background: url(/static/start/view/img/www/n3/accelerator_features_arrow.gif) left no-repeat;
	margin-bottom: 3px;
	}


/* the skyscraper on the right side of the www homepage */
.violator {padding: 5px;}
	
/***************  footer mark-up ***************/

.footer {
	font-size: 10px;
	text-align: center
	}

.footer A {
	font-size: 11px;
	font-weight: bold;
	text-decoration: none
	}

.footer HR { color:C3C3C3 }

.ftrHomeTopLine {background-color: #85A0FB;}

.ftrHome {
	background-color: #274E8F;
	font-size: 10px;
	color: #FFFFFF;
	}

.m5 {
	font-size:7.5pt;
	color:#5B5B5B;
	}

.m13 {
	font-size:8pt;
	color:#5B5B5B;
	text-decoration:none;
	font-weight:bold;
	}

.m7 {
	font-size:7.5pt;
	color:white;
	text-decoration:none;
	}

/***************  nav  ***************/

.topnav A:link, .topnav A:visited {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	}

.topnav A:hover {
	color: #FFCC00;
	font-size: 12px;
	text-decoration: none;
	}
		
.brdcrmbs {
	color: #FFFFFF;
	font-size: 10px;
	}
		
.brdcrmbs A:link, .brdcrmbs A:visited {
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
	}
		

.leftnav {
	font-size: 11px;
	color: #FFFFFF;
	}

.leftnav A:link, .leftnav A:visited {
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	}

.leftnav A:hover {
	color: #FFCC00;
	font-size: 11px;
	text-decoration: none;
	}

.leftnavEmail {
	background-color: #305DAA;
	}

.leftnavEmail a:link, .leftnavEmail a:visited, .leftnavEmail a:active, .leftnavEmail a:hover, {
	font-weight: normal;
	text-decoration: underline;
	}
	
/***************  freewebhostingpopup  ***************/	
body.fwh {background-color:#3266CC;}
.wyg {font-family: Arial,Helvetica,sans-serif; font-size: 18px;font-weight: bold;color: #FFF;padding-left: 12px;line-height: 20px}
.white {font-family: Arial,Helvetica,sans-serif; font-size: 18px;color: #FFF;padding-left: 12px;line-height: 20px}
.black {font-family: Arial,Helvetica,sans-serif; font-size: 12px;font-weight: bold;color: #000;padding-left: 12px;}
.blue {font-family: Arial,Helvetica,sans-serif; font-size: 16px;font-weight: bold;color: #3465CC;padding-left: 12px;margin-top:4px;}
.regtext {font-family: Arial,Helvetica,sans-serif; font-size: 18px;color: #FFF;font-weight: bold;padding-left: 12px;line-height: 20px}
.toprow{background-color : #3266CC;}
.button {background-color : #2E5EBD;}

/*************** styles for www left nav ***************/	
#navcontainer ul { margin: 0; padding: 0; list-style-type: none; font-size: 1em; }
#navcontainer li { margin: 0; padding: 0px; color: #fff; }
#navcontainer a { display: block; background-image: url(/static/start/view/img/homepage/arrow_css_lrg.gif); padding: 2px 0px 2px 0px; border-bottom: 1px solid #1C3662; border-top: 1px solid #396FCA; width: 132px; \width: 132px; w\idth: 132px; margin: 0px; background-color: #305DAA; } 
#navcontainer a:link, a:visited { color: #fff; text-decoration: none; }
#navcontainer a:hover { background-color: #325696; color: #FFCB05; text-decoration: none; border-bottom: 1px solid #396FCA; border-top: 1px solid #1C3662; }
#navcontainerlast a  { border-bottom: 0px dashed #6A6E72; } 
#navcontainerlast a:link, a:visited { color: #fff; text-decoration: none; }
#navcontainerlast a:hover { background-color: #325696; color: #FFCB05; text-decoration: none; border-bottom: 0px solid #396FCA; border-top: 1px solid #1C3662; }
		
.wwwbox1Text {
	margin : 5px 4px 4px 36px;
	padding: 0;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: 000000;
}
	
.wwwbox1Text a:link{
	text-decoration: none;
	color: 000000;
	font-size: 14px;	
}	
 .wwwbox1Text a:active,
 .wwwbox1Text a:visited,
 .wwwbox1Text a:hover {
	color: #000000;
	font-size: 14px;	
	}		

#otherOffersHd {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	background: url(/static/start/view/img/www/otheroffers_hdr_bckg.gif) repeat-x;
	width: 602px;
	}

#otherOffersBox {
	padding-left: 0px;
	border-left: solid #C1CAB9 1px;
	background: url(/static/start/view/img/www/otheroffers_box_bckg.gif) right repeat-y;
	width: 622px;
	}


#otherOffersBox strong {color: #FE0000;}

#otherOffersFree a:link,
#otherOffersFree a:active,
#otherOffersFree a:visited {
	font-weight: bold;
	color: #000;
	}

#otherOffersFree a:hover {text-decoration: none;}

#otherOffersBtm {
	background: url(/static/start/view/img/www/otheroffers_btm_bckg.gif) repeat-x;
	width: 602px;
	}

#currentMembersPlat {
	font-size: 12px;
	font-weight: bold;
	padding-top: 9px;
	padding-left: 12px;
	}

#currentMembersPlat ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}

#currentMembersPlat li {
	margin-bottom: 8px;
	white-space: nowrap;
	}

#currentMembersPlat li a:link,
#currentMembersPlat li a:active,
#currentMembersPlat li a:visited {
	font-weight: bold;
	color: #4A4A4A;
	}