/* Prelim Styles */
html {
	font-family: "sans-serif";
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body {
	font-family: "sans-serif", "Helvetica Neue",Helvetica,"微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva,arial;
    /*font-family: 'Merriweather', "微軟正黑體",serif;*/
	color: #333;
	margin: 0px;
	border: 0px;
	padding: 0px;
	background-color: #f7f7f7;
	font-size: 15px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
input, textarea, select {
	color: #333;
	font-family: "sans-serif", "Helvetica Neue",Helvetica,"微軟正黑體","Microsoft Sans Serif",Helvetica,Geneva;
	margin: 0px;
}
form {
	margin: 0px;
}
p {
	margin-top: 0px;
	line-height: 1.6em;
}
img {
	border: 0px;
	margin: 0px;
}
a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #ff6600;
	text-decoration: none;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}


.desktop_ver {
	margin-left: 10px;
	font-size: 12px;
	color: #999;
	display: none;
}


/* Clear Hack */
.clear:after {
content: ".";
display: block;
height:0;
font-size: 0;
clear:both;
visibility: hidden;
}
.clear {
min-height: 1px;
}
* html .clear {
height: 1px;
}


/* site_wide styles */
.site_wrapper {
	position: relative;
	overflow: hidden;
}
.site_wrapper.light_bg {
	background-color: #f7f7f7;
}

/* footer */
.main_footer {
	margin-left: auto;
	margin-right: auto;
	line-height: 1.6em; 
	/*border-top: solid 1px #eaebec; */
	margin-top: 0px; 
	color: #666; 
	background-color: #292c32; 
	/*
	background-image: url("http://www.responsivegridsystem.com/images/footerback.png");
	background-repeat: repeat;
	*/
}
.footer {
	margin-left: auto;
	margin-right: auto;
	padding: 40px 0px 40px 0px;
}
.footer a {
	color: #8f95a3;
	font-size: 14px;
}
.footer a:hover {
	color: #ff6600;
	text-decoration: underline;
}
.footer .disclaimer {
	color: #777; clear: both; 
	padding-top: 50px; font-size: 14px;
}
.footer .footer_column {
	text-align: left;
	color: #ccc;
}
.footer .footer_column h2.header {
	color: #eee;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
}
.footer .footer_column ul {
	padding: 0px;
	margin: auto 0px auto 1px;
	list-style: none;
}
/* footer light */
.main_footer.light {
	background-color: transparent; 
}
.main_footer.light .footer .footer_column h2.header {
	font-weight: bold;
	font-size: 14px;
	color: #8f95a3;
	margin-bottom: 15px;
}

/* canvas & off canvas styles */
.canvas {
	min-width: 320px;
	transition: transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
}
.canvas.offedx {
	transition: transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
  
	transform: translate3d(80%, 0, 0);
	-webkit-transform: translate3d(80%, 0, 0);
}
.off_canvas {
	position: absolute;
	z-index: 200000;
	width: 80%;
	left: -80%;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	transition: transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
	color: #eee;
	background-color: #f3f4f5;
	background-color: #555;
	background-color: #364049;
	background-color: #3a3e40;
	background-color: #f2f3f4;
	background-color: rgba(255, 255, 255, 0.95);
}
.off_canvas.offed {
	transition: transform 0.2s ease;
	-webkit-transition: -webkit-transform 0.2s ease;
	transform: translate3d(100%, 0, 0);
	-webkit-transform: translate3d(100%, 0, 0);
}
.canvas_overlay_mask {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
	background:rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 10001;
}
.verytop_nav_expandable {
	background-color: auto;
}

/* side navigation */
.side_nav_content {
	box-sizing: border-box;
}
.side_nav_content .header {
	font-size: 15px; 
	background-color: #00a399;
	color: #e9e9e9;
	line-height: 48px; 
	position: relative;
	padding: 0px 15px;
}
.side_nav_content .close_off_canvas {
	color: #fff; 
	font-weight: bold;
	position: absolute; 
	top: 0px; 
	right: 0px;
	padding: 0px 20px 0px 15px; 
}
.side_nav_content .close_off_canvas i {
	font-size: 20px;
	line-height: 48px;
}
.side_nav_content ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.side_nav_content ul li {
	border-bottom: solid 1px #5e5e5e;
	border-bottom: solid 1px #414d58;
	border-bottom: solid 1px #2e3133;
	border-bottom: solid 1px #dedede;
}
.side_nav_content ul li.section {
	padding-left: 50px;
}
.side_nav_content ul li a {
	color: #c7ccd1;
	color: #333;
	line-height: 45px;
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
	font-size: 14px;
	display: block;
}
.side_nav_content ul li a:hover {
	color: #ff6600;
}
.side_nav_selection li i {
	margin-right: 6px;
	color: #666;
}
.side_nav_all li i {
	color: #666;
}
.side_nav_content ul li .mobile_expandable_div ul li {
	border-bottom: none;
}
.side_nav_content ul li .mobile_expandable_div a {
    padding-left: 40px;
	line-height: 40px;
}
.side_nav_content ul li .mobile_expandable_div a:hover {
	color: #ff6600;
}

/* full screen menu */
.fullscreen_menu {
	display: none;
}
.fullscreen_menu .header {
	font-size: 15px; 
	color: #fff; 
	line-height: 48px; 
	text-align: center;
	position: fixed; 
	background-color: #00bcd4; 
	width: 100%; z-index: 5000000;
}
.fullscreen_menu .header .title {
	font-weight: bold;
}
.fullscreen_menu .header .close_fullscreen_menu {
	font-weight: bold;
	position: absolute; 
	top: 0px; 
	right: 0px; 
	padding: 0px 20px 0px 15px;
	color: #fff;
}
.fullscreen_menu .header .close_fullscreen_menu i {
	font-size: 20px;
	line-height: 48px;
}
.fullscreen_menu ul.fullscreen_selection {
	margin: 0px;
	padding: 0px;
	padding-top: 60px;
}
.fullscreen_menu ul.fullscreen_selection li {
	line-height: 1.5em;
	text-align: center;
}
.fullscreen_menu ul.fullscreen_selection li a {
    color: #c7ccd1;
    color: #333;
    line-height: 45px;
    display: block;
}

/* navigaion level one */
.nav_level_one {
	background-color: #fff;
    background-color: rgba(255, 255, 255, 0.94);
	color: #444;
	display: block;
	font-size: 16px;
	text-align: center;
	position: relative;
	padding-bottom: 8px;
}
.nav_level_one.fluid {
	padding-bottom: 13px;
}
.nav_level_one .logo {
	display: inline-block; 
	padding: 16px 10px 0px 10px;
}
.nav_level_one .nav_bars {
	position: absolute; 
	left: 5px; top: 10px; 
	font-size: 20px;
	padding: 10px;
	color: #666;
}
.nav_level_one .nav_notification {
	border-radius: 10px; width: 20px; height: 20px; 
	background-color: #ff6600; color: #fff; font-size: 10px; position: absolute; 
	top: 16px; left: 30px; line-height: 20px;
	display: block;
}
.nav_level_one .nav_search {
	position: absolute; 
	right: 5px; top: 8px; 
	font-size: 20px;
	padding: 10px;
	color: #666;
}
/* navigation level two */
.nav_placeholder {
	height: 48px;
}
.nav_level_two_wrapper {
	width: 100%;
	position: relative;
	border-bottom: solid 1px #ddd;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.94);
}
.nav_level_two {
	font-size: 14px;
	padding-left: 0px;
}
.nav_level_two .nav_selection {
	position: relative;
}
.nav_level_two ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: table;
	width: 100%;
}
.nav_level_two ul li {
	/*padding: 0px 1.5% 0px 3%;*/
	display: table-cell;
	text-align: center;
	border-bottom: solid 3px #fff;
}
.nav_level_two ul li.right {
	float: right;
	padding: 0px;
}
.nav_level_two ul li.right a {
	padding: 0px 15px;
}
.nav_level_two ul li a {
	display: inline-block;
	line-height: 44px;
	padding: 0px 0px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	color: #333;
}
.nav_level_two ul li a span {
	padding: 0px 5px;
}
.nav_level_two ul li.selected {
	/*padding: 0px 1.5% 0px 3%;*/
	border-bottom: solid 3px #ff6600;
}
.nav_level_two ul li.selected a span {
	/*border-bottom: solid 3px #ff6600;*/
	display: inline-block;
	font-weight: bold;
	color: #28bebd;
	color: #333;
	padding: 0px 5px;
}
.nav_level_two ul li i {
	font-size: 14px;
	line-height: 43px;
	display: inline-block;
}
/* main page top navigation */
.nav_level_two ul li ul.expandable {
	position: absolute;
	top: 47px;
	right: 0px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.93);
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 10000;
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}
.nav_level_two ul li ul.expandable.noselected {
	top: auto;
}
.nav_level_two ul li ul.expandable li {
	text-align: center;
	/*background-color: #fff;*/
	float: right;
	width: 100%;
	border-bottom: solid 1px #ddd;
}
.nav_level_two ul li ul.expandable li a {
	font-size: 14px;
}
.nav_level_two ul li ul.expandable li:last-child {
	border-bottom: solid 1px #ddd;
}

@media (min-width: 768px) { /* show desktop version */
	/* main page navigation level one */
	.nav_level_one {
		width: 1020px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding-top: 15px;
		height: 100px;
	}
	.nav_level_one.fluid {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 15px;
		padding-top: 12px;
	}
	.nav_level_one.desktop {
		color: #333;
		background-color: #fff;
	}
	.nav_level_one .logo {
		padding-left: 0px;
		margin-left: 0px;
		position: relative;
	}
	.nav_level_one .logo .logo_tag {
		position: absolute;
		top: 0px;
		left: 195px;
		font-size: 22px;
		color: #a5a5a5;
		border-left: solid 1px #ddd;
		padding-left: 14px;
		margin-top: 20px;
		width: 300px;
	}
	.nav_level_one .logo img {
		height: 40px;	
	}
	.nav_level_one .nav_bars {
		display: none;
	}
	.nav_level_one .nav_notification {
		display: none;
	}
	.nav_level_one .nav_search {
		display: none;
	}
	/* main page navigation level two */
	.nav_level_two_wrapper {
		width: 100%;
	}
	.nav_level_two {
		width: 1020px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		font-size: 15px;
		font-weight: bold;
	}
	.nav_level_two ul li a span {
		padding: 0px 5px;
	}
	.nav_level_two ul li.selected {
		/*padding: 0px 1.5% 0px 3%;*/
		border-bottom: solid 3px #ff6600;
	}
	.nav_level_two ul li.selected a {
	}
	.nav_level_two ul li.selected a span {
		border-bottom: none;
		display: inline-block;
		font-weight: bold;
		color: #28bebd;
		color: #333;
		padding: 0px 5px;
	}
	.nav_level_two ul li a {
		color: #3e433e;
	}
	/* main page top navigation */
	.nav_level_two ul li ul.expandable {
		width: 250px;
	}

	/* desktop site css */
	.user_functions {
		display: block;
		float: right;
		width: 660px;
		padding: 20px 0px 0px 0px;
		line-height: 2em;
		font-size: 15px;
		text-align: right;	
	}
	.user_functions .button {
		float: right;
		padding: 0px 15px;
		background-color: #ff6600;
		margin-left: 30px;
		border-radius: 5px;
		margin-right: 3px;
		background-color: #ff6600;
		line-height: 30px;
	}
	.user_functions .button a {
		text-decoration: none;
		color: #fff !important;
	}
	.user_functions .greeting {
		display: inline-block;
		margin-right: 10px;
	}
	.user_functions .sep {
		padding: 0px 15px;
		color: #ddd;
	}
}

@media (min-width: 1200px) { /* show large desktop version */
	/* main page navigation level one */
	.nav_level_one {
		width: 1200px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding-top: 15px;
		height: 100px;
	}
	.nav_level_two {
		width: 1200px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
	}
}

/* app navigation level one */
.appnav_level_one {
	background-color: #00a399;
	display: block;
	font-size: 16px;
	text-align: center;
	position: relative;
	height: 48px;
}
.appnav_level_one .logo {
	width: 180px;
	display: inline-block; 
	padding: 12px 10px 0px 10px;
	margin-left: 5px;
}
.appnav_level_one .nav_bars {
	position: absolute; 
	left: 0px; 
	top: -1px; 
	font-size: 20px;
	padding: 13px 14px;
	height: 48px;
	color: #f3f3f3;
	box-sizing: border-box;
	display: inline-block;
}
.appnav_level_one .nav_notification {
	border-radius: 10px; width: 20px; height: 20px; 
	background-color: #ff6600; color: #fff; font-size: 10px; 
	position: absolute; 
	top: 8px; 
	left: 30px; 
	line-height: 20px;
	display: block;
}
.appnav_level_one .nav_search {
	position: absolute; 
	right: 0px; 
	top: -1px;
	padding: 13px 14px;
	height: 48px;
	font-size: 20px;
	color: #f3f3f3;
	display: inline-block;
	box-sizing: border-box;
}
/* app navigation level two */
.appnav_placeholder {
	height: 48px;
}
.appnav_level_two_wrapper {
	width: 100%;
	position: relative;
	border-bottom: solid 1px #dedede;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.94);
}
.appnav_level_two {
	font-size: 15px;
	padding-left: 0px;
	min-height: 47px;
}
.appnav_level_two .appnav_selection {
	position: relative;
}
.appnav_level_two a {
	color: #333;
}
.appnav_level_two ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: table;
	width: 100%;
}
.appnav_level_two ul li {
	/*padding: 0px 1.5% 0px 3%;*/
	display: table-cell;
	text-align: center;
}
.appnav_level_two ul li.right {
	float: right;
	padding: 0px;
}
.appnav_level_two ul li.right a {
	padding: 0px 15px;
}
.appnav_level_two ul li a {
	display: inline-block;
	line-height: 44px;
	padding: 0px 0px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
}
.appnav_level_two ul li a span {
	padding: 0px 5px;
}
.appnav_level_two ul li.selected {
	/*padding: 0px 1.5% 0px 3%;*/
	border-bottom: solid 3px #ff6600;
}
.appnav_level_two ul li.selected a span {
	/*border-bottom: solid 3px #ff6600;*/
	display: inline-block;
	font-weight: bold;
	padding: 0px 5px;
}
.appnav_level_two ul li i {
	font-size: 14px;
	line-height: 43px;
	display: inline-block;
}

/* main page top navigation */
.appnav_level_two ul li ul.expandable {
	position: absolute;
	top: 47px;
	left: 0px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.93);
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 10000;
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
}
.appnav_level_two ul li ul.expandable li {
	text-align: center;
	/*background-color: #fff;*/
	float: right;
	width: 100%;
	border-bottom: solid 1px #ddd;
}
.appnav_level_two ul li ul.expandable li a {
	font-size: 15px;
}
.appnav_level_two ul li ul.expandable li:last-child {
	border-bottom: solid 1px #ddd;
}

@media (min-width: 768px) { /* show desktop version */
	/* app navigation level one */
	.appnav_level_one {
		background-color: #fff;
		width: 1020px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding-top: 15px;
		height: 100px;
	}
	.appnav_level_one.desktop {
		color: #333;
		background-color: #fff;
	}
	.appnav_level_one.desktop a {
		color: #333 !important;
	}
	.appnav_level_one .logo {
		padding-left: 0px;
		margin-left: 0px;
		padding-top: 16px;
		position: relative;
	}
	.appnav_level_one .logo .logo_tag {
		position: absolute;
		top: 19px;
		left: 195px;
		font-size: 22px;
		color: #a5a5a5;
		border-left: solid 1px #ddd;
		padding-left: 14px;
		width: 300px;
	}
	.appnav_level_one .logo img {
		height: 40px;	
	}
	.appnav_level_one .nav_bars {
		display: none;
	}
	.appnav_level_one .nav_notification {
		display: none;
	}
	.appnav_level_one .nav_search {
		display: none;
	}
	/* app navigation level two */
	.appnav_level_two_wrapper {
		width: 100%;
	}
	.appnav_level_two {
		width: 1020px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
	}
	.appnav_level_two ul li {
	}
	.appnav_level_two ul li.selected {
		/*padding: 0px 1.5% 0px 3%;*/
		border-bottom: solid 3px #ff6600;
	}
	.appnav_level_two ul li.selected a span {
		/* border-bottom: solid 3px #ff6600; */
		border-bottom: none;
		display: inline-block;
		font-weight: bold;
		padding: 0px 5px;
	}
	.appnav_level_two ul li a {
		color: #3e433e !important;
	}
	.appnav_level_two ul li ul.expandable {
		width: 250px;
		left: auto;
		right: 0px;
	}
}

@media (min-width: 1200px) { /* show large desktop version */
	/* app navigation level one */
	.appnav_level_one {
		width: 1200px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		padding-top: 15px;
		height: 100px;
	}
	.appnav_level_two {
		width: 1200px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
	}
}


/* simple navigaion level one */
.simple_nav_level_one {
    background-color: #fff;
	color: #444;
	display: block;
	font-size: 16px;
	position: relative;
	width: 100%;
}
.simple_nav_placeholder {
	height: 59px;
}
.simple_nav_level_one_wrapper {
	position: fixed;
	width: 100%;
	border-bottom: solid 1px #ddd;
	z-index: 5000;
}
.simple_nav_level_one .logo {
	display: inline-block; 
	padding: 16px 10px 14px 10px;
	margin-left: 5px;
}
.simple_nav_level_one .nav_bars {
	position: absolute; 
	right: 10px;
	top: 8px; 
	font-size: 20px;
	padding: 10px;
	color: #666;
}
/* simple navigation level one expandable*/
.simple_nav_level_one ul.expandable {
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 10000;
	border-top: solid 1px #ddd;
	display: none;
}
.simple_nav_level_one ul.expandable.show {
	display: block;
}
.simple_nav_level_one ul.expandable li {
	border-bottom: solid 1px #eee;
	line-height: 1em;
	padding: 15px 12px;
}
.simple_nav_level_one ul.expandable li a {
	display: inline-block;
	width: 100%;
	font-size: 15px;
}
.simple_nav_level_one ul.expandable li a span {
	padding: 15px 15px;
	line-height: 15px;
}
.simple_nav_level_one ul.expandable li:last-child {
	border-bottom: none;
}

@media (min-width: 768px) { /* show desktop version */
	.simple_nav_level_one {
		width: 1120px;
		padding: 5px 10px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		height: 82px;
	}
	.simple_nav_placeholder {
		height: 59px;
	}
	.simple_nav_level_one_wrapper {
		height: 83px;
		position: static;
	}
	.simple_nav_level_one.fluid {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}
	.simple_nav_level_one .logo {
		padding: 18px 10px 14px 10px;
		padding-left: 0px;
		margin-left: 0px;
		float: left;
	}
	.simple_nav_level_one .logo .logo_tag {
		float: left;
		padding-left: 20px;
		margin-left: 20px;
		font-size: 20px;
		color: #a5a5a5;
		line-height: 30px;
		border-left: solid 1px #ddd;
	}
	.simple_nav_level_one .logo img {
		height: 35px;
		float: left;
	}
	.simple_nav_level_one .nav_bars {
		display: none;
	}
	.simple_nav_level_one ul.expandable {
		float: right;
		border-top: none;
		display: block !important;
	}
	.simple_nav_level_one ul.expandable li {
		display: inline-block;
		line-height: 1em;
		padding: 24px 12px;
		border-bottom: none;
		width: auto;
	}
	.simple_nav_level_one ul.expandable li a {
		font-size: 15px;
	}
	.simple_nav_level_one ul.expandable li a span {
		padding: 15px 0px;
		line-height: 20px;
	}
	.simple_nav_level_one ul.expandable li:last-child {
	}
}

.fixed {
	position: fixed;
	top: 0;
	z-index: 10000;
}
.hide {
	display: none;
}
.bold {
	font-weight: bold;
}


/* search related */
.mobile_search_box {
	width: 100%;
	top: 0px; left: 0px; 
	padding: 10px; 
	position: absolute;
	background-color: #fff;
	border-bottom: solid 1px #ddd;
}
.mobile_search_box input {
	border: none; font-size: 16px; 
	padding: 6px 10px; border-radius: 5px; 
	width: 100%;
	background-color: #f3f4f5;
}
.mobile_search_box form {
	position: relative;
}
.mobile_search_box .close_searchbox {
	position: absolute; 
	top: 0px; 
	display: block; 
	right: 0px; 
	padding: 5px 10px; 
	font-size: 15px; 
	color: #888;
	cursor: pointer;
}
/* desktop_search_box */
.desktop_search_box {
	display: inline-block;
	margin-right: 30px;
}
.desktop_search_box form {
	display: inline-block;
}
.desktop_search_box form input {
	width: 200px; 
	border: none; 
	background-color: #f4f5f6; 
	border-radius: 5px; 
	font-size: 15px;
	line-height: 15px;
	padding: 7px 8px;
}
.desktop_search_box .toggle_desktop_search {
	cursor: pointer;
}
.desktop_search_box.active {
}
.desktop_search_box.active .caption {
	display: none;
}
.desktop_search_box.active .toggle_desktop_search {
	display: none;
}
.desktop_search_box .search_bar {
	display: none;
}
.desktop_search_box.active .search_bar {
	display: inline-block;
}
.desktop_search_box .submit_desktop_search {
	display: inline-block;
	padding-left: 5px;
}

/* advertisement box */
.large_rect_box {
	text-algin: center; margin-left: auto; margin-right: auto; width: 300px;
	margin: 1em auto;
}
.large_rect_box.double_em {
	margin: 2em auto;
}

/* section */
.section_header {
	font-size: 1.1em;
	/*margin-bottom: 0.5em;*/
	border-bottom: solid 1px #dedede;
	padding: 10px 10px 10px 10px;
	margin-bottom: 15px;
}
.section_header.add_margin {
	margin-bottom: 15px;
}
.section_header .more {
	float: right;
	display: block;
}
.section_header .more a {
	color: #ff6600;
	font-size: 0.8em;
	font-weight: normal;
	margin-left: 10px;
	line-height: 20px;
}
@media (min-width: 768px) { /* show desktop version */
	/* section */
	.section_header {
		margin-left: 10px;
		margin-right: 10px;
		padding: 0px;
		border-bottom: none;
		color: #444;
	    font-size: 20px;
		line-height: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.section_header .more {
		float: none;
		line-height: 20px;
		padding-left: 20px;
		display: inline-block;
	}

}

/* content */
.article_block {
	margin-left: 0px;
	margin-right: 0px;
}
.article_block.negative_margin {
	margin-left: -10px;
	margin-right: -10px;
}

.article_block a {
	color: #333;
	text-decoration: none;
}
.article_block a:hover {
	color: #ff6600;
}
.article_block.add_margin {
	margin-bottom: 2em;
}
/* normal column article layout */
.article_block {
	width: 100%;
}
.article_block .article_div {
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #eee;
}
.article_block .article_div .image_col {
	width: 35%; float: left;
}
.article_block .article_div .image_col img {
	width: 100% !important;
}
.article_block .article_div .content_col {
	width: 65%; 
	float: left;
	padding-left: 10px;
    margin-top: -2px;
}
.article_block .article_div .content_col .title {
    text-align: left;
	font-size: 15px;
	line-height: 1.4em;
	display: block;
}
.article_block .article_div .content_col .date {
	display: block;
	color: #999;
	font-size: 12px;
	margin-top: 5px;
}
.article_block .article_div .content_col .introduction {
	display: none;
	color: #444;
	font-size: 12px;
	margin-top: 1em;
}
/* 2 column article layout */
.article_block.two_column {
	width: 100%;	
}
.article_block.two_column .article_div {
	width: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
.article_block.two_column .article_div .image_col {
	width: 100%;
}
.article_block.two_column .article_div .image_col img {
	width: 100%;
}
.article_block.two_column .article_div .content_col {
	text-align: center;
	width: 100%;
	padding-left: 0px;
	margin-top: 8px;
	margin-bottom: 15px;
}
.article_block.two_column .article_div .content_col .title {
	text-align: center;
	font-size: 14px;
}
/* article block travel first_col*/
.article_block.travel .first_col {
	position: relative;
	margin-bottom: 15px;
}
.article_block.travel .article_div.last {
    border-bottom: none;
}
.article_block.travel .article_div.first {
	width: auto;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}
.article_block.travel .article_div.first .image_col {
	width: 100%;
}
.article_block.travel .article_div.first .content_col {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	padding: 10px 15px;
	background-color: #000;
	background: rgba(0,0,0,.4);
	text-align: center;
}
.article_block.travel .article_div.first .content_col .title {
	text-align: center;
}
.article_block.travel .article_div.first .content_col .title a {
	color: #fff;
	font-size: 18px;
}
.article_block.travel .article_div.first .content_col .date {
	margin-top: 0px;
	margin-bottom: 8px;
	display: none;
	
}
/* article block for narrow column */
.article_block.narrow {
	width: 100% !important;
}
.article_block.narrow .article_div {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #eee;
}
.article_block.narrow .article_div .image_col {
	width: 35%; float: left;
}
.article_block.narrow .article_div .image_col img {
	width: 100%;
}
.article_block.narrow .article_div .content_col {
	width: 65%; 
	float: left;
	padding-left: 10px;
    margin-top: -2px;
}
.article_block.narrow .article_div .content_col .title {
    text-align: left;
	font-size: 15px;
	line-height: 1.4em;
	display: block;
	font-weight: normal;
}
.article_block.narrow .article_div .content_col .date {
	display: block;
	color: #999;
	font-size: 12px;
	margin-top: 3px;
}
.article_block.narrow .article_div .content_col .introduction {
	display: block;
	color: #444;
	font-size: 12px;
	margin-top: 1em;
}


/* different style */
/* trading */
.appnav_level_one.trading {
	background-color: #2f8fca;
}
.appnav_level_two.trading a {
	color: #2f8fca;
}
.side_nav_content.trading .header {
	background-color: #2f8fca;	
}
.fullscreen_menu.trading .header {
	background-color: #2f8fca;	
}
/* news */
.appnav_level_one.news {
	background-color: #00bcd4;
}
.appnav_level_two.news a {
	color: #00bcd4;
}
.side_nav_content.news .header {
	background-color: #00bcd4;	
}
.fullscreen_menu.news .header {
	background-color: #00bcd4;	
}
/* read news */
.appnav_level_one.readnews {
	background-color: #069bdc;
}
.appnav_level_two.readnews a {
	color: #006fa3;
}
.side_nav_content.readnews .header {
	background-color: #069bdc;	
}
.fullscreen_menu.readnews .header {
	background-color: #069bdc;	
}
/* pm */
.appnav_level_one.pm {
	background-color: #008fa1;
}
.appnav_level_two.pm a {
	color: #008fa1;
}
.appnav_level_two.pm ul li.selected a span {
    border-bottom: solid 3px #ff9900;
}
.side_nav_content.pm .header {
	background-color: #008fa1;	
}
.fullscreen_menu.pm .header {
	background-color: #008fa1;	
}
/* shop */
.appnav_level_one.shop {
	background-color: #129fe5;
}
.appnav_level_two.shop a {
	color: #129fe5;
}
.side_nav_content.shop .header {
	background-color: #129fe5;	
}
.fullscreen_menu.shop .header {
	background-color: #129fe5;	
}
/* column */
.appnav_level_one.column {
	background-color: #0e9a95;
}
.appnav_level_two.column a {
	color: #0e9a95;
}
.side_nav_content.column .header {
	background-color: #0e9a95;	
}
.fullscreen_menu.column .header {
	background-color: #0e9a95;	
}
/* model */
.appnav_level_one.model {
	background-color: #AD1018;
}
.appnav_level_two.model a {
	color: #AD1018;
}
.side_nav_content.model .header {
	background-color: #AD1018;	
}
.fullscreen_menu.model .header {
	background-color: #AD1018;	
}
/* fillens */
.appnav_level_one.fillens {
	background-color: #f0b5b8;
}
.appnav_level_two.fillens a {
	color: #f0b5b8;
}
.side_nav_content.fillens .header {
	background-color: #f0b5b8;	
}
.fullscreen_menu.fillens .header {
	background-color: #f0b5b8;	
}
/* photosharing */
.appnav_level_one.photosharing {
	background-color: #333;
}
.appnav_level_two.photosharing a {
	color: #333;
}
.side_nav_content.photosharing .header {
	background-color: #333;	
}
.fullscreen_menu.photosharing .header {
	background-color: #333;	
}
/* cars */
.appnav_level_one.cars {
	background-color: #00bcd4;
}
.appnav_level_two.cars a {
	color: #3498db;
}
.side_nav_content.cars .header {
	background-color: #00bcd4;	
}
.fullscreen_menu.cars .header {
	background-color: #00bcd4;	
}



@media screen and (min-width: 768px) { /* show desktop version */
	.article_block {
		width: 98%;
	}
	.article_block .article_div {
		border-bottom: none;
	}
	.article_block .article_div .image_col {
		width: 38%;
	}
	.article_block .article_div .content_col {
		width: 60%;
		padding-left: 25px;
	}
	.article_block .article_div .content_col .date {
		margin-top: 8px;
	}
	.article_block .article_div .content_col .title {
		color: #333;
		font-size: 20px;
		font-weight: normal;
	}
	.article_block .article_div .content_col .introduction {
		display: block;
		color: #777;
		font-size: 13px;
		line-height: 1.8em;
	}
	.article_block .article_div .content_col .introduction a {
		color: #00bcd4;
	}

	/* two column desktop style */
	.article_block.two_column {
		width: 100%;
	}
	.article_block.two_column .article_div {
		margin-bottom: 20px;
		background-color: #fff;
		border: solid 1px #eee;
	}
	.article_block.two_column .article_div .content_col {
		margin-top: 12px;
		margin-bottom: 25px;
		padding-left: 10px;
		padding-right: 10px;
		height: 42px;
	}
	.article_block.two_column .article_div .content_col .title {
		color: #444;
		font-size: 15px;
		font-weight: normal;
	}


	/* article block type travel */
	.article_block.travel {
		width: 100%;	
	}
	.article_block.travel .article_div {
		width: auto;
		border-bottom: none;
		padding-bottom: 0px;
		background-color: #fff;
		border: solid 1px #eee;
	}
	.article_block.travel .article_div.last {
		border: solid 1px #eee;
	}
	.article_block.travel .article_div .image_col {
		width: 100%;
	}
	.article_block.travel .article_div .image_col img {
		width: 100%;
	}
	.article_block.travel .article_div .content_col {
		text-align: center;
		width: 100%;
		padding: 15px 15px;
		height: 100px;
	}
	.article_block.travel .article_div .content_col .title {
		font-size: 15px;
		color: #556;
		font-weight: normal;
		text-align: center;
	}
	.article_block.travel .article_div .content_col .date {
		margin-top: 3px;
		margin-bottom: 8px;
	}

	/* article block travel first_col*/
	.article_block.travel .first_col {
		position: relative;
		margin-bottom: 15px;
	}
	.article_block.travel .article_div.first {
		margin-left: 0px;
		margin-right: 0px;
		background-color: #fff;
		border: solid 1px #eee;
	}
	.article_block.travel .article_div.first .image_col {
		width: 100%;
	}
	.article_block.travel .article_div.first .content_col {
		position: relative;
		width: 100%;
		background: none;
		padding: 15px 15px;
		height: 100px;
	}
	.article_block.travel .article_div.first .content_col .title {
		text-align: center;
	}
	.article_block.travel .article_div.first .content_col .title a {
		color: #333;
		font-size: 15px;
	}
	.article_block.travel .article_div.first .content_col .title a:hover {
		color: #ff6600;
	}
	.article_block.travel .article_div.first .content_col .date {
		margin-top: 3px;
		margin-bottom: 8px;
		display: block;
		
	}

	.desktop_margin {
		margin-left: 10px;
		margin-right: 10px;
	}

	/* desktop site header style */
	.appnav_level_one.trading,
	.appnav_level_one.news,
	.appnav_level_one.readnews,
	.appnav_level_one.shop,
	.appnav_level_one.column,
	.appnav_level_one.model,
	.appnav_level_one.fillens,
	.appnav_level_one.photosharing,
	.appnav_level_one.cars
	{
		background-color: #fff;
	}

	.appnav_level_one.pm	
	{
		margin-bottom: 10px;
		background-color: transparent;
	}
}


/* pagination */
/* New Pagingation Style */
.pagination {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	color: #444b51;
	clear: left;
}
.pagination .pages {
	font-size: 15px;
	text-align: center;
}
.pagination .pages a {
	color: #555;
	display: inline-block;
	padding: 5px 10px;
	min-width: 12px;
	border: solid 1px #ccc;
	border-radius: 3px;
	margin: 0px 5px;
}
.pagination .pages a:hover {
	border-color: #ff6600;
	text-decoration: none;
}
.pagination .pages span.current {
	color: #fff;
	padding: 5px 10px;
	display: inline-block;
	min-width: 12px;
	margin: 0px 5px;
	background-color: #ff9900;
	border: solid 1px #ff9900;
	border-radius: 3px;
}

/* site_wide loadmore */
.load_more {
	background-color: #000;
	background: rgba(0,0,0,0.6);
	padding: 10px;
	text-align: center;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.load_more a {
	color: #f9f9f9;
}

/* login page */
.login_box {
}

/* error message */
.v4_error_msg {
	font-size: 15px;
	text-align: center;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	color: #cc0033;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
}
.form-error {	
	font-size: 13px;
	margin-top: 3px;
	display: none;
}
label.error {
	font-size: 13px;
	margin-top: 3px;
	display: block;
}


/* mainpage_slider */
.mainpage_slider {
	min-height: 220px; margin-bottom: 2em !important;
}
.mainpage_slider .slides li {
	background-color: #ddd; overflow: hidden; height: 220px; position: relative;
	background-position: center center; height: 220px; width: auto;
}
.mainpage_slider .slides li .caption {
	position: absolute; 
	bottom: 0px;
	left: 0px; 
	padding: 10px;  
	background-color: #333;
	background-color: rgba(33,33,33,0.55); 
	width: 100%; 
	font-size: 1.1em; 
	color: #f1f1f1; 
	text-align: center;
}
.fotorama__dot {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  border: 1px solid #7f7f7f;
}
.flex-active .fotorama__dot {
  width: 0;
  height: 0;
  border-width: 3px;
}
	
.first_ad {
	width: 300px; margin-top: 2em; margin-bottom: 2em; margin-left: auto; margin-right: auto;
}

@media (min-width: 768px) { 	/* RWD styles for desktop site */
	body {
		background-color: #f4f4f4;
	}
	.footer_column {
		margin-left: 25px;
	}
	.site_header {
		background-color: #fff;
	}
	.site_header.pm {
		background-color: transparent;
	}

	/* off canvas to be the main nav menu */
	.off_canvas {
		position: static;
		left: 0px;
		width: 100%;
	}
	.off_canvas .side_nav_content {
		background-color: #00bcd4;
	}
	.off_canvas .side_nav_content.pm {
		background-color: #008fa1;		
	}
	.off_canvas .side_nav_content.shop {
		background-color: #129fe5;		
	}
	.off_canvas .side_nav_content.column {
		background-color: #0e9a95;		
	}
	.off_canvas .side_nav_content.model {
		background-color: #AD1018;		
	}
	.off_canvas .side_nav_content.fillens {
		background-color: #f0b5b8;		
	}
	.off_canvas .side_nav_content.photosharing {
		background-color: #333;		
	}
	.off_canvas .side_nav_content.trading {
		background-color: #2f8fca;
		background-color: #2_892c7;
		background-color: #2_892c7;
		background-color: #f_c983b;
		background-color: #0-08bcf;
		background-color: #2f8fca;

	}

	.off_canvas .side_nav_content ul.side_nav_selection {
		width: 100%;
	}
	.off_canvas .side_nav_content ul.side_nav_selection li {
		border-bottom: none;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all {
		width: 1020px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all li {
		text-align: left;
		float: left;
		border-bottom: none;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all li a {
		font-size: 14px;
		margin-left: 5px;
		margin-right: 25px;
		padding: 0px;
		color: #fff;
	}
	.off_canvas .side_nav_content.trading ul.side_nav_selection ul.side_nav_all li a {
		color: #fff;
		font-size: 13px;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all li i {
		color: #fff;
	}
	.off_canvas .side_nav_content.trading ul.side_nav_selection ul.side_nav_all li i {
		color: #fff;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all li.float_right {
		float: right;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all li.verytop_nav {
		position: relative;
		z-index: 1000;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all ul.verytop_nav_expandable {
		list-style: none;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all ul.verytop_nav_expandable li {
		padding: 10px;
		float: none;
	}
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all ul.verytop_nav_expandable li a {
		color: #333;
		line-height: 1.5em;
	}
	.verytop_nav_expandable {
		display: none;
		top: 40px; position: absolute; width: 200px; background-color: #eee;
	}
	.off_canvas .side_nav_content.photosharing ul.side_nav_selection ul.side_nav_all li a {
		color: #eee;
	}
	.off_canvas .side_nav_content.photosharing ul.side_nav_selection ul.side_nav_all li i {
		color: #eee;
	}



	/* main page slider */
	.mainpage_slider .slides li {
		height: 420px;
	}
	.mainpage_slider .slides li .caption {
		font-size: 1.3em;
	}

	/* hide fullscreen menu in desktop */
	.fullscreen_menu {
		display: none !important;
	}
	.desktop_gutter {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (min-width: 1200px) { 	/* RWD styles for large desktop site */
	.off_canvas .side_nav_content ul.side_nav_selection ul.side_nav_all {
		width: 1200px;
		padding: 0px 10px;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
	}
}

