/* ------------ this is the reponsive layout component -------------- */
.site_wrapper {
	min-width: 320px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 767px) {
	.container {
		max-width: 640px;
	}
	.site_wrapper {
		max-width: 1020px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 1020px;
	}
	.site_wrapper {
		min-width: 1020px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
	.site_wrapper {
		min-width: 1200px;
	}
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row:before, .row:after
{
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12,	
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12,	
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, 
.col-large-desktop-1, .col-large-desktop-2, .col-large-desktop-3, .col-large-desktop-4, .col-large-desktop-5, .col-large-desktop-6, .col-large-desktop-7, .col-large-desktop-8, .col-large-desktop-9, .col-large-desktop-10, .col-large-desktop-11, .col-large-desktop-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-tablet-left, .col-tablet-right,
.col-sm-left, .col-sm-right,
.col-desktop-left, .col-desktop-right,
.col-md-left, .col-md-right,
.col-large-desktop-left, .col-large-desktop-right,
.col-lg-left, .col-lg-right
{
	position: relative;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
}
/* mobile responsive */
.col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12
{
	float: left;
}
.col-mobile-12, .col-xs-12 {
  width: 100%;
}
.col-mobile-11, .col-xs-11 {
  width: 91.66666667%;
}
.col-mobile-10, .col-xs-10 {
  width: 83.33333333%;
}
.col-mobile-9, .col-xs-9 {
  width: 75%;
}
.col-mobile-8, .col-xs-8 {
  width: 66.66666667%;
}
.col-mobile-7, .col-xs-7 {
  width: 58.33333333%;
}
.col-mobile-6, .col-xs-6 {
  width: 50%;
}
.col-mobile-5, .col-xs-5 {
  width: 41.66666667%;
}
.col-mobile-4, .col-xs-4 {
  width: 33.33333333%;
}
.col-mobile-3, .col-xs-3 {
  width: 25%;
}
.col-mobile-2, .col-xs-2 {
  width: 16.66666667%;
}
.col-mobile-1, .col-xs-1 {
  width: 8.33333333%;
}
/* tablet responsive */
@media screen and (min-width: 768px) {
	.col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12,
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
	.col-tablet-left, .col-tablet-right,
	.co.-sm-left, .col-sm-right {
		float: left;
	}
	.col-tablet-12, .col-sm-12 {
	  width: 100%;
	}
	.col-tablet-11, .col-sm-11 {
	  width: 91.66666667%;
	}
	.col-tablet-10, .col-sm-10 {
	  width: 83.33333333%;
	}
	.col-tablet-9, .col-sm-9 {
	  width: 75%;
	}
	.col-tablet-8, .col-sm-8 {
	  width: 66.66666667%;
	}
	.col-tablet-7, .col-sm-7 {
	  width: 58.33333333%;
	}
	.col-tablet-6, .col-sm-6 {
	  width: 50%;
	}
	.col-tablet-5, .col-sm-5 {
	  width: 41.66666667%;
	}
	.col-tablet-4, .col-sm-4 {
	  width: 33.33333333%;
	}
	.col-tablet-3, .col-sm-3 {
	  width: 25%;
	}
	.col-tablet-2, .col-sm-2 {
	  width: 16.66666667%;
	}
	.col-tablet-1, .col-sm-1 {
	  width: 8.33333333%;
	}
	.col-tablet-left, .col-sm-left {
		width: 58%;
	}
	.col-tablet-right, .col-sm-right {
		width: 42%;
	}
	.col-tablet-left-push, .col-sm-left-push {
		right: 42%;
	}
	.col-tablet-left-pull, .col-sm-left-pull {
		right: 42%;
	}
	.col-tablet-right-push, .col-sm-right-push {
		left: 58%;
	}
	.col-tablet-right-pull, .col-sm-right-pull {
		left: 58%;
	}
}

/* desktop responsive */
@media screen and (min-width: 768px) {
	.col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12,
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
	.col-desktop-left, .col-desktop-right,
	.col-md-left, .col-md-right
	{
		float: left;
	}
	.col-desktop-12, .col-md-12 {
	  width: 100%;
	}
	.col-desktop-11, .col-md-11 {
	  width: 91.66666667%;
	}
	.col-desktop-10, .col-md-10 {
	  width: 83.33333333%;
	}
	.col-desktop-9, .col-md-9 {
	  width: 75%;
	}
	.col-desktop-8, .col-md-8 {
	  width: 66.66666667%;
	}
	.col-desktop-7, .col-md-7 {
	  width: 58.33333333%;
	}
	.col-desktop-6, .col-md-6 {
	  width: 50%;
	}
	.col-desktop-5, .col-md-5 {
	  width: 41.66666667%;
	}
	.col-desktop-4, .col-md-4 {
	  width: 33.33333333%;
	}
	.col-desktop-3, .col-md-3 {
	  width: 25%;
	}
	.col-desktop-2, .col-md-2 {
	  width: 16.66666667%;
	}
	.col-desktop-1, .col-md-1 {
	  width: 8.33333333%;
	}
	.col-desktop-left, .col-md-left {
		width: 68.6%;
	}
	.col-desktop-right, .col-md-right {
		width: 31.4%;
	}
	.col-desktop-left-push, .col-md-left-push {
		right: 31.4%
	}
	.col-desktop-left-pull, .col-md-left-pull {
		right: 31.4%
	}
	.col-desktop-right-push, .col-md-right-push {
		left: 68.6%;
	}
	.col-desktop-right-pull, .col-md-right-pull {
		left: 68.6%;
	}

}

/* large desktop responsive */
@media screen and (min-width: 1200px) {
	.col-large-desktop-1, .col-large-desktop-2, .col-large-desktop-3, .col-large-desktop-4, .col-large-desktop-5, .col-large-desktop-6, .col-large-desktop-7, .col-large-desktop-8, .col-large-desktop-9, .col-large-desktop-10, .col-large-desktop-11, .col-large-desktop-12,
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
	.col-large-desktop-left, .col-large-desktop-right,
	.col-lg-left, .col-lg-right	
	{
		float: left;
	}
	.col-large-desktop-12, .col-lg-12 {
	  width: 100%;
	}
	.col-large-desktop-11, .col-lg-11 {
	  width: 91.66666667%;
	}
	.col-large-desktop-10, .col-lg-10 {
	  width: 83.33333333%;
	}
	.col-large-desktop-9, .col-lg-9 {
	  width: 75%;
	}
	.col-large-desktop-8, .col-lg-8 {
	  width: 66.66666667%;
	}
	.col-large-desktop-7, .col-lg-7 {
	  width: 58.33333333%;
	}
	.col-large-desktop-6, .col-lg-6 {
	  width: 50%;
	}
	.col-large-desktop-5, .col-lg-5 {
	  width: 41.66666667%;
	}
	.col-large-desktop-4, .col-lg-4 {
	  width: 33.33333333%;
	}
	.col-large-desktop-3, .col-lg-3 {
	  width: 25%;
	}
	.col-large-desktop-2, .col-lg-2 {
	  width: 16.66666667%;
	}
	.col-large-desktop-1, .col-lg-1 {
	  width: 8.33333333%;
	}
	.col-large-desktop-left, .col-lg-left {
		width: 71.4%;
	}
	.col-large-desktop-right, .col-lg-right {
		width: 28.6%;
	}
	.col-large-desktop-left-push, .col-lg-left-push {
		right: 28.6%
	}
	.col-large-desktop-left-pull, .col-lg-left-pull {
		right: 28.6%
	}
	.col-large-desktop-right-push, .col-lg-right-push {
		left: 71.4%;
	}
	.col-large-desktop-right-pull, .col-lg-right-pull {
		left: 71.4%;
	}

}
/* ------------ this is the reponsive layout component -------------- */
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* @media (max-width: 767px) { */
@media (max-width: 767px) {
	.hidden_mobile, .hidden-xs {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 969px) {
	.hidden_tablet, .hidden-sm {
		display: none !important;
	}
}
@media (min-width: 768px) {
	.hidden_desktop, .hidden-md {
		display: none !important;
	}
}
@media (min-width: 1200px) {
	.hidden_large_desktop, .hidden-lg {
		display: none !important;
	}
}

/* css to hide/show content */
.visible_mobile,
.visible_tablet,
.visible_desktop,
.visible_large_desktop,
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg
{
	display: none !important;
}
.visible_mobile_block,
.visible_mobile_inline,
.visible_mobile_inline_block,
.visible_mobile_tablecell,
.visible_tablet_block,
.visible_tablet_inline,
.visible_tablet_inline_block,
.visible_tablet_tablecell,
.visible_desktop_block,
.visible_desktop_inline,
.visible_desktop_inline_block,
.visible_desktop_tablecell,
.visible_large_desktop_block,
.visible_large_desktop_inline,
.visible_large_desktop_inline_block,
.visible_large_desktop_tablecell,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-xs-tablecell,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-sm-tablecell,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-md-tablecell,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-lg-tablecell
{
	display: none !important;
}



@media (max-width: 767px) {
  .visible_mobile, .visible-xs {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible_mobile_block, .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible_mobile_inline, .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible_mobile_inline_block, .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .visible_mobile_tablecell, .visible-xs-tablecell {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_tablet, .visible-sm {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_tablet_block, .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_tablet_inline, .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_tablet_inline_block, .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_tablet_tablecell, .visible-sm-tablecell {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_desktop, .visible-md {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_desktop_block, .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_desktop_inline, .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_desktop_inline_block, .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .visible_desktop_tablecell, .visible-md-tablecell {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible_large_desktop, .visible-lg {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible_large_desktop_block, .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible_large_desktop_inline, .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible_large_desktop_inline_block, .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible_large_desktop_tablecell, .visible-lg-tablecell {
    display: table-cell !important;
  }
}

/* all size */
.visible_all_screen {
	display: block !important;
}