/* shop@dcfever section */
.mainpage_shop_promo {
	margin-bottom: 2em;
}
.mainpage_shop_promo .mainpage_shop_promo_entry {
	float: left; 
	box-sizing: border-box;
	width: 100%; 
	padding: 0px;
	padding-bottom: 10px;
	border-bottom: solid 1px #eee;
	margin-bottom: 15px;
}
.mainpage_shop_promo .mainpage_shop_promo_entry a {
	color: #555;
}
.mainpage_shop_promo .mainpage_shop_promo_entry a:hover {
	color: #ff6600;
	text-decoration: none;
}
.mainpage_shop_promo .mainpage_shop_promo_entry .image {
	width: 30%; float: left;
}
.mainpage_shop_promo .mainpage_shop_promo_entry .content {
	width: 70%; 
	float: left; 
	font-size: 12px; 
	box-sizing: border-box;
	padding-left: 10px;
}
.mainpage_shop_promo .mainpage_shop_promo_entry .content .price {
	color: red;
}

/* mainpage photosharing */
.mainpage_photos {
}
.mainpage_photos li {
	position: relative;
}
.mainpage_photos li .caption {
	position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
	font-size: 1.1em;
    text-align: center;
    transition: 0.5s opacity;
    color: #f3f3f3;
    overflow: hidden;
    cursor: pointer;
	background-color: rgba(33,33,33,0.55);
}
.mainpage_photos li .caption .user {
	margin-top: 5px;
	font-size: 14px;
}
.mainpage_photos li .caption .user a {
	color: #fff;
}

/* main page hot gadgets */
.mainpage_hot_gadget_block {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 10px;
}
.mainpage_hot_gadget {
	width: 33.3%;
	margin-bottom: 20px;
	float: left;
}
.mainpage_hot_gadget .image_col {
	padding: 10px;
	width: 100%;
	background-color: #fff;
}
.mainpage_hot_gadget .image_col img {
	max-width: 100%;
}
.mainpage_hot_gadget .content_col {
	text-align: center;
	margin-top: 3px;
	margin-right: 5px;
}
.mainpage_hot_gadget .content_col a.title {
	font-size: 12px;
}

/* mainpage models */
.mainpage_model_promotion {
	margin-bottom: 35px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.mainpage_model_promotion .image_col img {
	max-width: 100%;
}
.mainpage_model_promotion .name_col {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
}
.mainpage_model_promotion .name_col a {
	color: #333;
}


/* mainpage trading */
.trade_selection_div {
	margin: 2em 0em 0em 0em;
	margin-left: -10px;
	margin-right: -10px;
}
ul.trading_selection {
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	border-bottom: solid 1px #ddd;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	box-sizing: border-box;
	display: table;
	width: 100%;
	margin-bottom: 0em;
	margin-top: 10px;
	text-align: center; position: relative;
}
ul.trading_selection li {
	width: 16.6%;
	display: table-cell;
	text-align: center;
	border-radius: 5px;
}
ul.trading_selection li a {
	color: #333;
	text-decoration: none;
	display: block;
	margin: 0px 5px;
	padding: 3px 0px;
}
ul.trading_selection li.selected a {
	background-color: #ff6600;
	color: #fff;
	border-radius: 5px;
}
ul.mainpage_tradelist {
    text-overflow:ellipsis;
	box-sizing: border-box;
	background-color: #fff;
	padding: 0em;
	padding-top: 1em;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
}
ul.mainpage_tradelist li {
	border-bottom: solid 1px #eee;
	list-style: none;
	margin-left: 0px;
}
ul.mainpage_tradelist li .price {
	text-align: left;
	display: block;
	margin-top: 3px;
	color: red;
}
ul.mainpage_tradelist a {
	padding-top: 9px;
    padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;
	color: #555;
	display: block;
}
ul.mainpage_tradelist a .item {
}

ul.mainpage_tradelist font {
	margin-right: 10px;
	display: none;
}

/* mainpage_loadmore */
.mainpage_load_more {
	background: rgba(0,0,0,0.6);
	text-align: center;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 40px;
}
.mainpage_load_more.trading {
	background-color: #00bcd4;
	margin-top: 9px;
	margin-bottom: 1em;
}
.mainpage_load_more a {
	padding: 10px;
	color: #f9f9f9;
	display: block;
}

@media (min-width: 766px) { /* desktop version */
	.first_ad {
		margin-top: 62px;
		margin-bottom: 20px;
	}
	.mainpage_load_more {
		background-color: transparent;
		padding: 0px;
		text-align: center;
		font-size: 18px;
		width: 100%;
		margin-bottom: 20px;
	}
	.mainpage_load_more.trading {
		background-color: transparent;
		margin-bottom: 1em;
	}
	.mainpage_load_more a {
		color: #333;
	}
	.mainpage_load_more.trading a {
		color: #ff6600;
	}

	.index_trading {
		background-color: #f9f9f9;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-top: 30px;
	}

	.index_trading .inner {
		width: 1050px;
		margin-left:auto;
		margin-right: auto;
		
	}
	.index_trading .inner .section_header {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.trade_selection_div {
		margin: 0px;
		margin-top: 15px;
		margin-bottom: 20px;
		width: 90%;
	}
	ul.trading_selection {
		margin-top: 0px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		border-bottom: 0px;
		font-size: 18px;
	}
	ul.trading_selection li {
		width: 13%;
		margin-right: 10px;
	}
	ul.trading_selection li a {
		padding: 0px;
		margin: 0px;
		padding: 3px 0px;
		margin-right: 5px;
	}
	ul.trading_selection li a:hover {
		background-color: #eee;
		border-radius: 5px;
	}
	ul.trading_selection li.selected a:hover {
		background-color: #ff6600;
	}
	ul.mainpage_tradelist {
		background-color: transparent;
		font-size: 15px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	ul.mainpage_tradelist li {
		border-bottom: 0px;
	    padding-bottom: 0px;
		list-style: circle;
		margin-left: 20px;
	}
	ul.mainpage_tradelist li a {
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
	}
	ul.mainpage_tradelist li a:hover {
		color: #ff6600;
		text-decoration: underline;
	}

	ul.mainpage_tradelist li .price {
		padding-left: 10px;
		display: inline-block;
		color: #ff3300;
	}
	.mainpage_load_more.trading {
		text-align: right;
	}
}
