/*
$Author: ? $
$Revised: relias $
$Rev: 61014 $
$Date: 2014-10-22 $
*/

html.iframe, body.iframe {
	background:none!important;
}
.iframe .toolTipWrapper{
	display:block;
	width:401px;
	left:0;
}
.iframe .toolTipTop span {
  margin: 11px 0 0 20px;
}
.iframe .toolTipMid {
  text-align:left;
}
.iframe .toolTipMid hr{
  border:0px none;
	border-top:1px solid #ccd1d5;
}
.iframe .toolTipMid div.toolTipContent {
  display: block;
  margin: 0 20px 17px;
  padding-top: 20px;
}
.iframe .toolTipMid form {
  width:200px;
	float:left;
}
.iframe .toolTipMid form span.headline,
.iframe .toolTipMid div span.headline {
  color: #0091CD;
  display: block;
  margin: 17px 10px 18px 20px;
}
.iframe .toolTipMid form .inputUsername {
  margin: 0 0 10px 20px;
  width: 130px;
}
.iframe .toolTipMid form .inputPassword {
  margin: 0 0 10px 20px;
  width: 130px;
}
.iframe .toolTipMid form .buttonContainer {
  margin: 0 20px 20px;
}
.iframe .toolTipMid form a.textLink {
  display: block;
  margin: 0 10px 20px 20px;
}
.iframe .toolTipMid .loginTxt {
  width:199px;
}
.iframe .toolTipMid .loginTxt span.headline {
  margin: 17px 10px 15px 0px;	
}
.iframe .toolTipMid .loginTxt p {
	margin:0 20px 15px 0;
}