/*
$Author: rmarquar $
$Revised: skoe, relias $
$Rev: 61014 $
$Date: 2014-10-22 $
*/

#breadCrumbNavigation {
  height: 20px;
  padding-top: 150px;
  position: relative;
  margin-bottom: 15px;
}

#breadCrumbNavigation ul {
  display:block;
}

#breadCrumbNavigation ul li {
  float: left;
  display:inline;
  color:#b6bcbf;
  padding:0;
  margin:0;
}


#breadCrumbNavigation ul li a,
#breadCrumbNavigation ul li a:link,
#breadCrumbNavigation ul li a:visited {
  display:block;
  margin: 0 9px 0 0;
  white-space: nowrap;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: -16px -12px; 
  background-repeat:no-repeat;
  padding:0 0 0 14px;
  clear:both;
  font-size:11px;
}

#breadCrumbNavigation ul li.firstChild a {
  background:none;
  padding:0;
}
      
#breadCrumbNavigation ul li a:focus,
#breadCrumbNavigation ul li a:hover,
#breadCrumbNavigation ul li a:active {
  color: #0091cd;
}

#breadCrumbNavigation ul li.selected a,
#breadCrumbNavigation ul li.selected a:link,
#breadCrumbNavigation ul li.selected a:visited {
  color: #000000;
  cursor:text;
}