/*
$Author: kgarzareck $
$Revised: relias, skoep $
$Rev: 61992 $
$Date: 2015-03-02 $
*/


/* homepage carousel styles ------------------------ */

/* common & 2-columns width ------------------------ */
.slideTeaserMedium{
	background:url(../images/websiteelemente/teaser_carousel_bg.png) no-repeat 0 bottom;
}
/* carousel blue underlay over shadow */
.blueMenue {
  background:url(../images/websiteelemente/teaser_carousel_bg.png) repeat-x 0 bottom;
  bottom:0;
  height:105px;
  left:-2px;
  position:absolute;
  width:620px;
}
#slider-stage-container{
  overflow:hidden;
	margin:-14px;
}
.small #slider-stage-container{
    overflow:hidden;
    margin:-14px;
    width:296px;
}
.medium #slider-stage-container{
    overflow:hidden;
    margin:-14px;
    width:616px;
}


/* slider teaser medium start */
#slider-stage-container-list-tab1,
#slider-stage-container-list-tab2,
#slider-stage-container-list-tab3,
#slider-stage-container-list-tab4 {
	width:588px;
	overflow:hidden;
	float:left;
	margin-top:10px;
}

#slider-stage-container-list-tab1 .slider-stage-top,
#slider-stage-container-list-tab2 .slider-stage-top,
#slider-stage-container-list-tab3 .slider-stage-top,
#slider-stage-container-list-tab4 .slider-stage-top {
	width:146px;
	height: 90px;
	text-align:center;
}

#slider-stage-container-list-tab1 li,
#slider-stage-container-list-tab2 li,
#slider-stage-container-list-tab3 li,
#slider-stage-container-list-tab4 li{
	float:left;
}
/* slider teaser medium ende */



/* carousel content ul */
#slider-stage{
  height:315px;
  width:615px;
}
/* carousel content li */
#slider-stage li{
    height:315px;
    width:290px;
    position:relative;
    left:-128px;
    margin: 0;
    padding: 0 3px;
}
/* carousel next/prev buttons */
.jcarousel-next-horizontal {
	position:absolute;
	top:88px;
	right:10px;
	width:19px;
	height:19px;
	cursor:pointer;
	background:url(../images/websiteelemente/teaser_carousel_right.png) no-repeat 0 0;
	z-index:2;
}
.jcarousel-direction-rtl .jcarousel-next-horizontal {
	left:10px;
	right:auto;
	background:url(../images/websiteelemente/teaser_carousel_left.png) no-repeat 0 0;
}
.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
	cursor:default;
	background-position:-96px 0;
}
.jcarousel-prev-horizontal {
	position:absolute;
	top:88px;
	left:10px;
	width:19px;
	height:19px;
	cursor:pointer;
	background:url(../images/websiteelemente/teaser_carousel_left.png) no-repeat 0 0;
	z-index:2
}

/* slider teaser medium start */
#slider-stage-container-list-tab1 .jcarousel-prev-horizontal,
#slider-stage-container-list-tab2 .jcarousel-prev-horizontal,
#slider-stage-container-list-tab3 .jcarousel-prev-horizontal,
#slider-stage-container-list-tab4 .jcarousel-prev-horizontal {
	position:absolute;
	top:30px;
	left:0px;
	width:19px;
	height:19px;
	cursor:pointer;
	background:url(../images/websiteelemente/teaser_carousel_left.png) no-repeat 0 0;
	z-index:2
}
#slider-stage-container-list-tab1 .jcarousel-next-horizontal,
#slider-stage-container-list-tab2 .jcarousel-next-horizontal,
#slider-stage-container-list-tab3 .jcarousel-next-horizontal,
#slider-stage-container-list-tab4 .jcarousel-next-horizontal {
	position:absolute;
	top:30px;
	right:0px;
	width:19px;
	height:19px;
	cursor:pointer;
	background:url(../images/websiteelemente/teaser_carousel_right.png) no-repeat 0 0;
	z-index:2;
}
/* slider teaser medium ende */

.jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left:auto;
	right:10px;
	background:url(../images/websiteelemente/teaser_carousel_right.png) no-repeat 0 0;
}
.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
	cursor:default;
	background-position:-96px 0;
}
/* medium carousel left/right fade overlay */
.overlayLeft{
	background:url(../images/websiteelemente/teaser_carousel_overlay_left.png) no-repeat 0 bottom;
	width:158px;
	height:314px;
	position:absolute;
	top:8px;
	left:0;
	z-index:1;
}
.overlayRight{
	background:url(../images/websiteelemente/teaser_carousel_overlay_right.png) no-repeat 0 bottom;
	width:158px;
	height:314px;
	position:absolute;
	top:8px;
	right:0;
	z-index:1;
}
/* carousel image content */
.slider-stage-top{
 height:210px;
 width:290px;
 margin-top:8px;
}
#slider-stage-container li .slider-stage-top img{
	width:238px;
	height:172px;
	margin:19px 26px;
}
#slider-stage-container li.active .slider-stage-top img{
	width:290px;
	height:210px;
	margin:0px 0px;
}
#slider-stage-container li .slider-stage-top img.active{
	display:none;
}
#slider-stage-container li .slider-stage-top img.inactive{
	display:inline;
}
#slider-stage-container li.active .slider-stage-top img.active{
	display:inline;
}
#slider-stage-container li.active .slider-stage-top img.inactive{
	display:none;
}
/* carousel text/link/button content */
.slider-stage-bottom{
 height:77px;
 width:262px;
 color:#ffffff;
 padding:14px;
}
.slider-stage-bottom h3,
.slider-stage-bottom p{
 color:#ffffff;
 font-weight:normal;
 float:left;
}
.slider-stage-bottom h3{
	font-size:14px;
	padding-bottom:3px;
}
#slider-stage-container .infoIcon{
	margin:-1px 0 0 5px
}
/* medium carousel active/disabled differences */
#slider-stage-container li .slider-stage-bottom h3{
	font-size:10px;
	padding-bottom:0;
}
#slider-stage-container li.active .slider-stage-bottom h3{
	font-size:14px;
}
#slider-stage-container li .slider-stage-bottom .infoIcon{
	margin:-2px 0 0 3px;
	height:14px;
}
#slider-stage-container li.active .slider-stage-bottom .infoIcon{
	margin:-1px 0 0 5px;
	height:16px;
}
#slider-stage-container li .slider-stage-bottom .infoIcon .infoIconImage{
  background-position:-34px -325px;
  height:14px;
  width:14px;
}
#slider-stage-container li.active .slider-stage-bottom .infoIcon .infoIconImage{
  background-position:-32px -309px;
  height:16px;
  width:16px;
}
#slider-stage-container li.active .slider-stage-bottom .infoIcon .infoIconImage:focus,
#slider-stage-container li.active .slider-stage-bottom .infoIcon .infoIconImage:hover,
#slider-stage-container li.active .slider-stage-bottom .infoIcon .infoIconImage:active {
  background-position:-48px -309px;
}
#slider-stage-container li .slider-stage-bottom p{
	font-size:9px;
	line-height:13px;
	width:215px;
	padding:0 0 5px 0;
}
#slider-stage-container li.active .slider-stage-bottom p{
	font-size:12px;
	line-height:16px;
	width:262px;
	padding:0 0 6px 0;
}
#slider-stage-container li .slider-stage-bottom .buttonContainer{
	bottom:28px;
	height:16px;
}
#slider-stage-container li.active .slider-stage-bottom .buttonContainer{
	bottom:14px;
	height:20px;
}
#slider-stage-container li .slider-stage-bottom .buttonContainer span{
	height:16px;
}
#slider-stage-container li.active .slider-stage-bottom .buttonContainer span{
	height:20px;
}
#slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonLeft{
	background-position:-38px -1695px;
	width:10px;
}
#slider-stage-container li.active .slider-stage-bottom .buttonContainer .buttonWhite .buttonLeft{
	background-position:-13px -1695px;
	width:12px;
}
#slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonMiddle span{
	font-size:9px;
	line-height:15px;
}
#slider-stage-container li.active .slider-stage-bottom .buttonContainer .buttonWhite .buttonMiddle span{
	font-size:12px;
	line-height:20px;
}
#slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonRight{
	background-position:-49px -1695px;
	width:10px;
}
#slider-stage-container li.active .slider-stage-bottom .buttonContainer .buttonWhite .buttonRight{
	background-position:-26px -1695px;
	width:12px;
}
#slider-stage-container li.active .slider-stage-bottom .buttonWhite:hover .buttonLeft {
  background-position:-13px -1715px; 
}
#slider-stage-container li.active .slider-stage-bottom .buttonWhite:hover .buttonRight {
  background-position:-26px -1715px; 
}
/* special 1-columns width only ------------------------ */
.small #slider-stage{
	width:294px;
}
.slideTeaserSmall{
	background:url(../images/websiteelemente/teaser_carousel_bg.png) no-repeat -1px 1px;
}
.small .blueMenue {
  width:300px;
}
.small #slider-stage li{
 left:0px;
}
.small .overlayLeft,
.small .overlayRight{
	display:none;
	background:none;
	width:0;
	height:0;
	position:absolute;
	top:0;
	right:0;
	z-index:0;
}


/* ------------------------
	Image Link
	KG 19.03.2012
------------------------- */
.small #slider-stage-container li .slider-stage-top a.imagelink{
	display:block;
	margin-top:-6px;
	margin-left:28px;
	width:232px;
	/*overflow:hidden;*/
}


.small #slider-stage-container li .slider-stage-top img.active{
	display:inline!important;
	height:210px;
	width:290px;
	margin:0px 0px 0px -28px;
}
.small #slider-stage-container li .slider-stage-top img.inactive{
	display:none!important;
}
.small #slider-stage-container li .slider-stage-bottom h3 {
  font-size:14px;
	padding-bottom:3px;
}
.small #slider-stage-container li .slider-stage-bottom .infoIcon {
  height:16px;
  margin:-1px 0 0 5px;
}
.small #slider-stage-container li .slider-stage-bottom .infoIcon .infoIconImage {
  background-position:-32px -309px;
  height:16px;
  width:16px;
}
.small #slider-stage-container li .slider-stage-bottom p {
  font-size:12px;
  line-height:16px;
  width:262px;
	padding:0 0 6px 0;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer {
  bottom:14px;
  height:20px;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonLeft {
  background-position:-13px -1695px;
  width:12px;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite:hover .buttonLeft {
  background-position:-13px -1715px;
  width:12px;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer span {
  height:20px;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonMiddle span {
  font-size:12px;
  line-height:20px;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonRight {
  background-position:-26px -1695px;
  width:12px;
}
.small #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite:hover .buttonRight {
  background-position:-26px -1715px;
  width:12px;
}
/* fallback javascript disabled */
.noScript .blueMenue{
	display:none;
}
.noScript.slideTeaserMedium,
.noScript.slideTeaserSmall {
  background:url(../images/websiteelemente/teaser_bg.png) repeat-x scroll 0 0 #F7F7F7;
}
.noScript #slider-stage-container {
  margin:-12px -14px;
  overflow-y:scroll;
	height:320px;
}
.noScript #slider-stage {
  height:315px;
  margin:0 0 0 20px;
  width:545px;
}
.noScript.slideTeaserSmall #slider-stage {
  height:315px;
  margin:0 0 0 20px;
  width:242px;
}
.noScript .slider-stage-top {
	display:none;
}
.noScript #slider-stage li {
    height:auto;
    left:0;
    position:relative;
    width:270px;
    padding:0 26px 10px 0;
}
.noScript #slider-stage li .slider-stage-bottom {
  height:auto;
  left:0;
  position:relative;
  width:auto;
	padding-left:0px;
	padding-top:10px;
}
.noScript .slider-stage-bottom h3, .noScript #slider-stage-container .slider-stage-bottom p {
	font-size:12px;
  color:#666666;
  float:none;
  font-weight:normal;
	width:auto;
}
.noScript #slider-stage-container li .slider-stage-bottom h3 {
  font-size:14px;
  padding-bottom:0;
	color:#0091CD;
}
.noScript  #slider-stage-container li .slider-stage-bottom .infoIcon {
  display:none;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer span {
  height:20px;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonLeft {
  background-position:-13px -140px;
  width:12px;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite:hover .buttonLeft {
  background-position:-13px -120px;
  width:12px;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer span {
  height:20px;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonRight {
  background-position:-26px -140px;
  width:12px;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite:hover .buttonRight {
  background-position:-26px -120px;
  width:12px;
}
.noScript #slider-stage-container li .slider-stage-bottom .buttonContainer .buttonWhite .buttonMiddle span {
  font-size:12px;
  line-height:20px;
	color:#ffffff;
}
.noScript .buttonWhite .buttonMiddle {
  background-color:#B6BCBF;
}
.noScript .buttonWhite:hover .buttonMiddle {
  background-color:#0091cd;
}
.noScript .floatLeft {
    float:right !important;
    margin-right:20px;
}
.jcarousel-clip{
    overflow: hidden;
}