/*
$Author: rmar $
$Revised: skoeppe $
$Rev: 74684 $
$Date: 2016-03-29 $
*/

* {
  margin: 0;
  padding: 0;
}
html, body, a, span, h1, h4, h5, h6, div, p, ul, li , table, tr, td, th, input, select, textarea, label, button {
	font-family: open_sansregular,Arial,sans-serif;
	color: #666666;
	font-size: 12px;
	line-height:16px;
}

h2{
	color: #0091CD;
	font-size:16px;
	font-family: open_sansregular,Arial,sans-serif;
	line-height:16px;
    font-weight: normal;
}

h3{
	color: #0091CD;
	font-size:13px;
	font-family: open_sansregular,Arial,sans-serif;
    font-weight: normal;
}

.mainContentWrapper ul{
	padding-left:20px;
}

.mainContentWrapper ul li{
	padding-left:20px;
	color:#666666;
}

ul li.content_bullet.blue{
	list-style:disc;
	color:#0091CD;
}

ul li.content_hook {
	list-style-image:url(../images/websiteelemente/teaser_li_bullet.png);
	margin-left:5px;
	padding:0 0 7px;
}

ul li span.blue-font{
	color:#0091CD;
}

ul li.content_bullet.gray{
	list-style:disc;
	color:#666666;
}


.copytextLayer h2 {
    color: #0091CD;
    font-size:16px;
    font-weight: normal;
    margin-bottom: 5px;
}







body, html {
	margin:0;
	padding:0;
	height: 100%;
	background-color:#ffffff;
}

body {
	text-align: center;
}

body.print {
  text-align: left;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}
img {
  border:none;
}
ul {
  list-style: none;
}
option {
  padding: 0 5px 0 3px;
}
fieldset, input, label {
  border:none;
}
br.noFloat {
  clear: both;
  display: block;
  height: 0;
  width: 0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
  border:0;
}
      
#content {
  position: relative;
  width: 940px;
  background-color:#ffffff;
  text-align:left;
  margin: 0 auto;
  z-index:1;
}
#contentContainer {
  margin-bottom: 20px;
}

/* ---------------------------------------------------------------------------------------------------- */

/* -- kg anpassung 12.01.2012 --*/
.teaserWrapper #single_teaser img.teaserImage{
	margin-left:-14px;
	margin-top:-14px;
}

.teaserWrapper #single_teaser .buttonContainer{
	right:15px;
	position:absolute;
	margin-top:-44px;	
}

*+html .teaserWrapper #single_teaser .buttonContainer {
	margin-top: 305px;
	right: 15px;
	position: absolute;
	z-index:2;
}

.teaserWrapper #slideshow .innerfade{
	margin-left:-14px;
	margin-top:-14px;
}

/* shadow for forms and boxes ------------------------ */
.element-shadow {
  margin-left:1px;
  border-left:1px solid #ffffff;
  border-right:1px solid #ffffff;
  position:relative;
  
  margin-right:1px;
}   
.element-shadow:before,
.element-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}
.curved:before {
  top:15px;
  bottom:15px;
  left:0;
  right:0;
  -webkit-box-shadow:0 0 3px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 3px rgba(0,0,0,0.6);
  box-shadow:0 0 3px rgba(0,0,0,0.6);
  
  -moz-border-top-left-radius: 1px 20px;
  -moz-border-top-right-radius: 1px 20px;
  -moz-border-bottom-left-radius: 1px 20px;
  -moz-border-bottom-right-radius: 1px 20px;
  
  border-top-left-radius: 1px 20px;
  border-top-right-radius: 1px 20px;
  border-bottom-left-radius: 1px 20px;
  border-bottom-right-radius: 1px 20px;
}

.no-boxshadow .element-shadow {
  border-left:1px solid #f1f1f1;
  border-right:1px solid #f1f1f1;
}
/* ---------------------------------------------------------------------------------------------------- */

/*
.formTable div.cell{
 font-family: open_sansregular, Arial, sans-serif;
 color:#0091cd;
 font-weight:bold;
 font-size:11px;
}
#baggage_shipping .formTable div.cell{
 font-weight:normal;
 color:#666666;
}
.formTable div.cell span {
  color:#0091cd;
}

#baggage_shipping .formTable .expandable-header div.cell,
#baggage_shipping .formTable div.cell.cell_baggage_sum {
 font-weight:bold;
 color:#0091cd;
}

.formTable div.cell label,
.formTable div.cell div{
 font-weight:normal;
}
.red {
 color:#d20019;
}
.blue {
  color: #0392CE;
}

.whiteBG {
  background-color: #fff;
}
.formTable div.cell div{
 color:#666666;
}
*/

a.inlineLink,
.textUnderline {
 text-decoration:underline;
}
.finePrint {
	color: #9A9A9A;
	font-size: 10px;
	padding: 5px 0px;
}
.floatRight {
	float: right
}
.floatLeft {
	float: left !important;
}
.displayBlock {
	display: block !important;
}
.displayNone {
	display: none !important;
}
.clearBoth {
	clear: both
}
.clearRight {
	clear: right
}
.noMargin{
 margin:0 !important;
}
.noBottomMargin{
 margin-bottom:0;
}
.noTopMargin{
 margin-top:0 !important;
}
.noBottomPadding{
 padding-bottom:0;
}
.noTopBorder{
  border-top:none;
}

.logoPrint {
  margin:20px 0 40px 20px;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 11px;
}
sub { 
  top: 0.4em;
}

.mandatoryTextLeft {
    float: left;
}
.mandatoryTextLeft span {
    font-size: 11px;
}

a#feedbackright {
background:url(../images/websiteelemente/feedback.png) no-repeat scroll 50% 50%;
display:block;
height:80px;
line-height:0;
position:fixed;
right:0;
/*left:0;*/
text-indent:-99999px;
top:50%;
width:25px;
}
 a#feedbackright:hover {
background:url(../images/websiteelemente/feedback_hover.png) no-repeat scroll 50% 50%;
}

.fieldLabelLeftTop {
	float: left;
	padding: 4px 5px 4px 2px;
	height: 16px;
	width: 225px;
	overflow: visible;
}

