/*
$Author: ? $
$Revised: relias $
$Rev: 61014 $
$Date: 2014-10-22 $
*/

/* ----- Content Layout ----- */
/* ---- Left Column ---- */
/* --- Table Labels --- */
.selectCol{
  width: 25px;
}
.orderCol{
	width: 31px;
}
.auctionCol{
	width: 90px;
}
.customerCol{
	width: 82px;
}
.endAuctionCol{
	width: 75px;
}
.ebayStatusCol{
	width: 80px;
}
.shippingCol{
	width: 62px;
}
.numCol{
	width: 51px;
}
/* --- Table Footer Elements --- */
#myAuctions table tfoot td p {
	padding:0 0 17px 23px;
  width:330px;	
}
label.lastAuctions {
	padding:0 16px 0 0px;
}
label.lastAuctionsSelect {
	padding:0 16px 0 23px;
}
/* ---- Right Column ---- */
.auctionListFilter label.filterLabel{
	float:left;
	width:60px;
	padding-top:6px;
}
.auctionListFilter select{
	float:left;
}
.auctionListFilter #hideImported {
  float:left;
}
.auctionListFilter label.hideImported{
	margin-left:10px;
	float:left;
	width: 240px;
}
#myAuctions .rightPageCol .formTeaser select.inputMedium {
  width: 145px;
}
.rightPageCol .formTeaser select.inputRegular {
  width: 252px;
}
/* ---- Common Styles ---- */

label.disabled {
	color:#b7bcbf;
	cursor:default;
}
/*.webkit :focus{
outline:0;
}
.webkit input:focus,
.webkit select:focus{
border-color:#0091CD!important;
border-width:2px!important;
margin:-1px 0;
padding:5px 4px!important;
}
.webkit input.buttonMiddle:focus{
margin:0;
padding:0;
border-width:0px!important;
}*/