/*
$Author: rmar $
$Revised: kgar, sas, relias, skoeppe $
$Rev: 78322 $
$Date: 2016-09-26 $
*/

/* text link ----------- */
.textLink {
  padding-left: 8px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: -16px 4px;
  background-repeat:no-repeat;
}
.textLink:focus,
.textLink:hover,
.textLink:active {
  color: #0091cd;
}

.simpleTextLink:focus,
.simpleTextLink:hover,
.simpleTextLink:active {
  color: #0091cd;
}

.text_link.underline{
	color:#0091CD;
	text-decoration:underline;
}
/* button ----------- */
.buttonContainer {
  display: block;
  height: 20px;
  cursor: pointer;
}
.buttonContainer.floatRight {
  margin-left:30px;
}
.buttonContainer span {
  display:block;
  float:left;
  color:#ffffff;
}
.buttonMiddle span{
  line-height: 20px;
}
.buttonMiddle{
  height: 20px;
}
.buttonLeft,
.buttonRight {
  width:12px;
  height: 20px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-repeat:no-repeat;
}
.buttonContainer input {
  float:left;
  color:#ffffff;
  width:auto;
  cursor: pointer;
  overflow:visible;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* disabled input button ----------- */
.buttonDisabled {
	cursor: default;
}
.buttonDisabled input {
	display:none;
}
.buttonDisabled .buttonMiddle span { 
  color:#e1e1e1;
}
.buttonGray .buttonLeft,
.buttonDisabled .buttonLeft { /* disabled */
  background-position: -13px -140px; 
}
.buttonGray .buttonMiddle,
.buttonDisabled .buttonMiddle { /* disabled */ 
  background-color:#b6bcbf;
}
.buttonGray .buttonRight,
.buttonDisabled .buttonRight { /* disabled */
  background-position: -26px -140px; 
}
.buttonGray:hover .buttonLeft {
  background-position: -13px -120px;
}
.buttonGray:hover .buttonMiddle {
  background-color:#0091cd;
}
.buttonGray:hover .buttonRight {
  background-position: -26px -120px;
}
/* button blue ----------- */
.buttonBlue .buttonLeft {
  background-position: -13px -120px; 
}
.buttonBlue .buttonMiddle {
  background-color:#0091cd;
}
.buttonBlue .buttonRight {
  background-position: -26px -120px; 
}
.buttonBlue:hover .buttonLeft {
  background-position: -13px -160px;
}
.buttonBlue:hover .buttonMiddle {
  background-color:#2ab3e5;
}
.buttonBlue:hover .buttonRight {
  background-position: -26px -160px;
}
/* button white ----------- */
.buttonWhite .buttonLeft {
  background-position: -13px -1695px; 
}
.buttonWhite .buttonMiddle {
  background-color:#ffffff;
}
.buttonWhite .buttonMiddle span {
  color:#0091CD;
}
.buttonWhite .buttonRight {
  background-position: -26px -1695px; 
}
.buttonWhite:hover .buttonLeft {
  background-position: -13px -1715px; 
}
.buttonWhite:hover .buttonMiddle {
  background-color:#7cd9fb;
}
.buttonWhite:hover .buttonMiddle span {
  color:#ffffff;
}
.buttonWhite:hover .buttonRight {
  background-position: -26px -1715px; 
}
/* START input type submit ################################################################# */
.formButton {
  border: 0 !important;
  color:#ffffff;
  width:auto;
  cursor: pointer;
  overflow:visible;
  height:20px;
  padding:0 12px 0px 12px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -khtml-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
.formButton.buttonBlue {
  background-color:#0091cd;
}
.formButton.buttonBlue:hover  {
  background-color:#2ab3e5;
}
.formButton.buttonGray {
  background-color:#b6bcbf;
}
.formButton.buttonGray:hover  {
  background-color:#0091cd;
}
/* END input type submit ################################################################# */

/* info icon ------------------------ */
.infoIconContainer, .sliderInfoIconContainer {
	line-height: 16px;
}
.infoIcon, sliderInfoIcon {
  float:left;
  margin:4px 0 0 10px;
  display:block;
  height:16px;
  position: relative;
}
.infoIconContainer .infoIcon,
.infoIconContainer .sliderInfoIcon {
  float: right;
}
.fieldlabelright .infoIcon,
.fieldlabelright .sliderInfoIcon {
  float: right;
  margin:1px;
}

.infoIcon .infoIconImage{
  display:block;
  width:16px;
  height:16px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-repeat:no-repeat;
  //background-position: 0 -309px;
  background-position: -16px -309px;
  cursor: pointer;
}

.infoIconImageMyHermesKundennummer{
  margin-left: 10px;
}
.infoIcon .infoIconImage:focus,
.infoIcon .infoIconImage:hover,
.infoIcon .infoIconImage:active {
  background-position: -16px -309px;
}
.infoIconContainer > .infoIcon, 
.infoIconContainer > .sliderInfoIcon {
  margin-top: 0px;
}
#slider-stage-container .infoIcon .infoIconImage{
  display:block;
  width:16px;
  height:16px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-repeat:no-repeat;
  background-position: -32px -309px;
  cursor: pointer;
}
#slider-stage-container .infoIcon .infoIconImage:focus,
#slider-stage-container .infoIcon .infoIconImage:hover,
#slider-stage-container .infoIcon .infoIconImage:active {
  background-position: -48px -309px;
}
.formTable div.cell div.toolTip,
.toolTip, sliderToolTip {
  padding-right: 20px;
  color: #3366FF;
  position: relative;
}
#toolTipContainer, #sliderToolTipContainer {
  width: 285px;
  position:absolute;
  z-index:3000;
  text-align:left;
  display:none;
}

.infoIcon .toolTipWrapper {
	width: 285px;
}

.formTable div.cell div.toolTipWrapper,
.toolTipWrapper, .sliderToolTipWrapper {
  display: none;
  /*
  width: 285px;
  margin:0;
  padding:0;
  position: absolute;
  top: 0px;
  left: 25px;
  z-index:5000;
  */
}
.formTable div.cell div.toolTipTop,
.toolTipTop, .sliderToolTipTop {
  background-color:#0591CC;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -560px; 
  background-repeat:repeat-x;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  height: 41px;
}
.toolTipMid li{
  color:#0091cd;
}
.formTable div.cell div.toolTipTop span,
.toolTipTop span, .sliderToolTipTop span {
  font-size:15px;
  color:#ffffff;
  display:block;
  margin: 11px 0 0 10px;
  float:left;
}
.formTable div.cell div.toolTipClose,
.toolTipClose, .sliderToolTipClose {
  display:block;
  float: right;
  height: 19px;
  width: 19px;
  margin: 9px 9px 0 0;
  background-image:url(../images/websiteelemente/sprite.png);
  background-repeat:no-repeat;
  background-position: -19px -271px;
  cursor: pointer;
}
.formTable div.cell div.toolTipClose:hover,
.toolTipClose:hover, .sliderToolTipClose:hover {
  background-position: -19px -290px;
}
.formTable div.cell div.toolTipMid,
.toolTipMid, .sliderToolTipMid {
  background-image:url(../images/websiteelemente/form_fieldset_small_bg.gif);
  background-repeat: repeat-x;
  background-color: #F2F2F2;
  border-left: 1px solid #0092CD;
  border-bottom: 1px solid #0092CD;
  border-right: 1px solid #0092CD;
}
.formTable div.cell div.toolTipContent,
.toolTipContent, .sliderToolTipContent {
  display:block;
  margin: 0 10px 10px 10px;
  padding-top:10px;
}

div.toolTipContent a, div.sliderToolTipContent a{
  text-decoration:underline;
}


.formTable div.cell div.toolTipMid ul,
.toolTipMid ul, .sliderToolTipMid ul{
 margin:0;
 padding-left:12px;
 list-style:disc outside;
}
.formTable div.cell div.toolTipMid li,
.toolTipMid li, .sliderToolTipMid li{
  margin-bottom:5px;
}
.toolTipButtonDescription, .sliderToolTipButtonDescription {
  margin: 0 10px 0 10px;
}

/* page up ----------- */
.pageUp {
  float:right;
}
.pageUp span.linkText {
  float:left;
  font-size: 11px;
}
.pageUp span.icon {
  float:left;
  display:block;
  width:17px;
  height:17px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -325px;
  background-repeat:no-repeat;
  margin-left:5px;
  position:relative;
  top:-2px;
}
.pageUp:focus span.linkText,
.pageUp:hover span.linkText,
.pageUp:active span.linkText {
  color: #0091cd;
}
.pageUp:focus span.icon,
.pageUp:hover span.icon,
.pageUp:active span.icon {
  background-position: -17px -325px;
}
/* bookmark page ----------- */
.bookmarkPage {
  margin-right:40px;
  float:left;
  font-size: 11px;
} 
.bookmarkPage span.icon {
  float:left;
  display:block;
  width:14px;
  height:16px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -620px;
  background-repeat:no-repeat;
  position:relative;
  top:-2px;
  margin-right:5px;
}
.bookmarkPage:focus,
.bookmarkPage:hover,
.bookmarkPage:active {
  color: #0091cd;
}
.bookmarkPage:focus span.icon,
.bookmarkPage:hover span.icon,
.bookmarkPage:active span.icon {
  background-position: 0 -646px;
}
/* print page ----------- */
.printPage {
  margin-right:40px;
  float:left;
  font-size: 11px;
}
.printPage span.icon{
  float:left;
  display:block;
  width:16px;
  height:15px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -672px;
  background-repeat:no-repeat;
  position:relative;
  top:-2px;
  margin-right:5px;
}
.printPage:focus,
.printPage:hover,
.printPage:active {
  color: #0091cd;
}
.printPage:focus span.icon,
.printPage:hover span.icon,
.printPage:active span.icon {
  background-position: 0 -697px;
}
.copytextLayer {
  width: 620px;
  margin-bottom: 24px;
}
.copytextLayer a{
  text-decoration: underline;
}
.teaserWrapper .copytextLayer {
  margin-left:21px;
}
.copytextLayer h1 {
  margin-bottom: 5px;
  color: #0091cd;
  font-size: 20px;
  font-weight: normal;
}
#logIn {
	width:401px;
}
#logIn .toolTipWrapper{
	display:block;
	width:401px;
	left:0;
}
#logIn .toolTipTop span {
  margin: 11px 0 0 20px;
}
#logIn .toolTipMid {
  text-align:left;
}
#logIn .toolTipMid hr{
  border:0px none;
	border-top:1px solid #ccd1d5;
}
#logIn .toolTipMid div.toolTipContent {
  display: block;
  margin: 0 20px 17px;
  padding-top: 20px;
	position:relative;
}
#logIn .toolTipMid div.loginError {
  color:#ff0000;
}
#logIn .toolTipMid form {
  width:200px;
	float:left;
}
#logIn .toolTipMid form span.headline,
#logIn .toolTipMid div span.headline {
  color: #0091CD;
  display: block;
  margin: 17px 10px 18px 20px;
}
#logIn .toolTipMid form .inputUsername {
  margin: 0 0 10px 20px;
  width: 130px;
}
#logIn .toolTipMid form .inputPassword {
  margin: 0 0 10px 20px;
  width: 130px;
}
#logIn .toolTipMid form .buttonContainer {
  margin: 0 20px 20px;
}
#logIn .toolTipMid form a.textLink {
  display: block;
  margin: 0 10px 20px 20px;
}
#logIn .toolTipMid .loginTxt {
  width:199px;
}
#logIn .toolTipMid .loginTxt span.headline {
  margin: 17px 10px 15px 0px;	
}
#logIn .toolTipMid .loginTxt p {
	margin:0 20px 15px 0;
}
ol.numberList {
  list-style:decimal outside;
  padding-left:19px;
}
ol.numberList li {
  margin-bottom:10px;
}
/* Content Pages */
.contentWrapper{
	width:620px;
	float:left;
	padding-right:20px;
}
.contentWrapper{
	width:640px;
	float:left;
	padding-right:0px;
	position:relative;
	left:-20px;
}
#contentContainer .contentWrapper .disclaimer p{
	font-size:11px;
}
