/*
$Author: rmarquar $
$Revised: skoeppe $
$Rev: 74957 $
$Date: 2016-03-29 $
*/

@font-face {
 font-family: 'LucidaSans';
 font-weight: normal;
 font-style: normal;
 src: url(font/lucidasansregular_eot.eot);
 src: url(font/lucidasansregular_ttf.ttf) format("truetype");
}

/*
@font-face {
 font-family: 'LucidaSansBold';
 font-weight: normal;
 font-style: normal;
 src: url(font/lucidasansdemibold_eot.eot);
 src: url(font/lucidasansdemibold_ttf.ttf) format("truetype");
}
*/

@font-face {
    font-family: 'open_sansregular';
    src: url(font/OpenSans-Regular-webfont.eot);
    src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url(font/OpenSans-Regular-webfont~3.woff) format('woff'),
         url(font/OpenSans-Regular-webfont~2.ttf) format('truetype'),
         url(font/OpenSans-Regular-webfont~1.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}
