/*
$Author: rmarquar $
$Revised: skoep, relias $
$Rev: 61014 $
$Date: 2014-10-21 $
*/

#footer {
  position: relative;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  display:block;
  background-color: #f7f7f7;
  text-align:left;
}

#footer .content {
  width: 940px;
  height: 90px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

#footer .content div {
  float:left;
  display: block;
  position: relative;
}
#footer .content span {
  display:block;
  clear:both;
  font-weight:bold;
  margin-bottom:5px; 
  font-size:11px;
}

#footer .content .metaLinks {
  /*width:505px;*/
  float: left;
}
#footer .content .weDoLink,
#footer .content .globalLinks {
  /*width:410px;*/
  float: right;
}

#footer .content .metaLinks a,
#footer .content .globalLinks a {
  margin-right:25px;
  font-size:11px;
}

#footer .content .metaLinks,
#footer .content .globalLinks,
#footer .content .weDoLink {
  margin-top:23px;
}

#footer .content a:focus,
#footer .content a:hover,
#footer .content a:active {
  color: #0091cd;
}

#footer .content .weDoLink img {
  border:0;
}

#footer .content .tkLogo {
 	float: right; 
	margin-left: 25px; 
	margin-top: 35px; 
	display: none;
}

/* importend links ----------- */
#importantLinks {
  background-color: #F2F2F2;
  background-image: url(../images/websiteelemente/form_teaser_bg.gif);
  background-repeat: repeat-x;
  float: left;
  width:937px;
  height:77px;
  margin-bottom:32px;
}

#importantLinks span {
  display:block;
  margin: 20px 10px 9px 25px;
  color: #0696D3;
  font-size:15px;
}
#importantLinks .textLink {
  margin: 0 30px 0 25px;
  float: left;
}

/* page functions ----------- */
#pageFunctions {
  float: left;
  width:940px;
  margin-bottom:29px;
}