/*
$Author: rmarquar $
$Revised: skoe, sas, relias $
$Rev: 73565 $
$Date: 2016-01-14 $
*/

#header {
  display: block;
  height: 90px;
  position: absolute;
  width: 940px;
  z-index: 999;
}

/* ----------- meta navigation ----------- */

#metaNavigation {
  display: block;
  float: right;
  position: relative;
  z-index: 900;
}

#metaNavigation li {
  margin-left:30px;
  display: inline-block;
  float: left;
  position: relative;
  /*width: auto !important;*/
}

#metaNavigation li a, #metaNavigation li a:link, #metaNavigation li a:visited {
  display:block;
  float:left;
  margin-top:8px;
  position:relative;
  z-index: 999;
  font-size:11px;
}

#metaNavigation li a:focus, #metaNavigation li a:hover, #metaNavigation li a:active {
	color: #0091CD;
}

#metaNavigation .login a {
  margin-top:0px;
}

#metaNavigation .logout a {
  color:#000000;
}

#metaNavigation a .tabLeft,
#metaNavigation a .tabMiddle,
#metaNavigation a .tabRight {
  display:block;
  float:left;
  height:40px;
}

#metaNavigation a .tabLeft {
  width:4px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 0; 
  background-repeat:no-repeat;
  
}
#metaNavigation a .tabMiddle {
  padding:8px 10px 0 10px;
  height: 32px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -40px; 
  background-repeat:repeat-x;
  color:#ffffff;
}
#metaNavigation a .tabRight {
  width:2px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: -8px 0px; 
  background-repeat:no-repeat;
}

#metaNavigation li:hover .tabLeft {
  background-position: -4px 0;
}
#metaNavigation li:hover .tabMiddle {
  background-position: 0 -80px;
  color:#000000;
}
#metaNavigation li:hover .tabRight {
  background-position: -12px 0px;
}
#metaNavigation li:hover {
  display:block;
}
#metaNavigation li:hover ul {
  display:block;
}

.login-name{
  display:block;
  margin-top:8px;
  color: #0696D3;
}

#metaNavigation .login ul {
  border: 1px solid #d2dbdf;
  float: left;
  margin: 39px 0 0 -402px;
  width: 400px;
  overflow:hidden;
  display:none;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -khtml-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  background-image:url(../images/websiteelemente/login_content_bg.gif);
  background-repeat:repeat-y;
  background-position: 179px 0;
}

#metaNavigation .login .leftRow,
#metaNavigation .login .rightRow {
  float:left;
  display:block;
  margin:0;
  padding-bottom:10px;
}

#metaNavigation .login .leftRow {
  width:179px;
  background-color:#ffffff;
}

#metaNavigation .login .rightRow {
  width:221px;
  background-color:#f8f8f8;
}

#metaNavigation .login span.headline {
  display:block;
  color:#0091cd;
  margin:13px 10px 5px 20px;
}
#metaNavigation .login span.copytext {
  display:block;
  margin:0 10px 10px 20px;
}
#loginForm .inputUsername_Password {
  margin:0 0 8px 5px;
  width: 125px;
}
#loginForm .login a.textLink {
  display:block;
  margin:0 10px 10px 20px;
}
#loginForm .login .copytext a.textLink {
  margin:0 10px 10px 0;
}
#loginForm .login .buttonContainer {
  margin:0 20px 10px 20px;
}

#loginForm .linkArea {
  float:right;
}


/* ----------- logo ----------- */
#logo-area{
	float:left;
	clear:both;
	width:940px;
}

#logo {
  position: absolute;
  top:30px;
  left:10px;
  width:194px;
  height:32px;
}

#logo-area .headerLogin{
	position:absolute;
	top:35px;
	right:0px;
	z-index:1;
	width: 420px;
}

#logo-area .headerLogin form {
    text-align: right;
}

#logo-area .welcomeStyle {
	float:right;
	margin-right:13px;
	margin-top:6px;
	max-width: 315px;
}

#logo-area .buttonContainer.floatRight {
	margin-left:0px;
	margin-top:4px;
}

#logo-area a, #logo-area a:link, #logo-area a:visited {
	font-size: 11px;
}

#logo-area a:focus, #logo-area a:hover, #logo-area a:active {
	color: #0091CD;
}