/*
$Author: ? $
$Revised: relias $
$Rev: 61014 $
$Date: 2014-10-21 $
*/

.hlg-paeckchen-ad-285677244 { 
  position: relative;
  width: 616px;
  height: 359px;
  overflow: hidden;
  background: url(../images/kampagnenbuehne/background.jpg) no-repeat;
}
.hlg-paeckchen-ad-285677244 div {
  position: absolute;
}

.hlg-paeckchen-ad-285677244 .sprite {
  background-image: url(../images/kampagnenbuehne/hlg-paeckchen-sprite.png);
  background-repeat: no-repeat;
}

.hlg-ad-badge{ top:61px; left:395px; display: none; background-position: 0 0; width: 134px; height: 134px; } 
.hlg-ad-button{ top:135px; left:195px; width: 226px; height: 43px; display: none; }
.hlg-ad-button-arrow{ top:12px; left:14px; background-position: 0 -154px; width: 12px; height: 20px; } 
.hlg-ad-button-bg{ background-position: 0 -194px; width: 226px; height: 43px; } 
.hlg-ad-button-label{ top:13px; left:39px; background-position: 0 -257px; width: 161px; height: 15px; } 
.hlg-ad-finger{ top:170px; left:405px; display: none; background-position: 0 -292px; width: 188px; height: 167px; } 
.hlg-ad-das-neue-hermes{ top:33px; left:-327px; background-position: 0 -479px; width: 326px; height: 24px; } 
.hlg-ad-inklusive-haftung{ top:33px; left:30px; background-position: 0 -523px; width: 302px; height: 70px; } 
.hlg-ad-jetzt-verschicken{ top:37px; left:-340px; background-position: 0 -613px; width: 340px; height: 22px; } 
.hlg-ad-he-paeckchen{ top:80px; left:-327px; background-position: 0 -655px; width: 325px; height: 52px; } 
.hlg-ad-line{ top:72px; left:615px; background-position: 0 -727px; width: 585px; height: 3px; }
.hlg-ad-line2{ top:146px; left:615px; background-position: 0 -727px; width: 585px; height: 3px; } 
.hlg-ad-oma{ top:16px; left:225px; display: none; background-position: 0 -750px; width: 358px; height: 343px; } 
.hlg-ad-paeckchen{ top:88px; left:-395px; background-position: 0 -1113px; width: 368px; height: 211px; } 
.hlg-ad-mit-online-paketschein{ top:268px; left:30px; background-position: 0 -1344px; width: 125px; height: 9px; } 
.hlg-ad-brandbox{ top:290px; left:10px; background: url(../images/kampagnenbuehne/brandbox.png) no-repeat; width: 595px; height: 59px; }
/*
.ie .hlg-ad-badge{
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/portaltheme/themes/html/myhermestheme/images/kampagnenbuehne/hlg-paeckchen-badge.png',sizingMethod='image');
}
.ie .hlg-ad-oma {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/media/portaltheme/themes/html/myhermestheme/images/kampagnenbuehne/hlg-paeckchen-oma.png',sizingMethod='image');
}
.ie .hlg-ad-finger {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/kampagnenbuehne/hlg-paeckchen-finger.png',sizingMethod='image');
}
.ie .hlg-ad-inklusive-haftung {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/kampagnenbuehne/hlg-paeckchen-haftung.png',sizingMethod='image');
}
.ie .hlg-ad-mit-online-paketschein {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/kampagnenbuehne/hlg-paeckchen-paketschein.png',sizingMethod='image');
}*/