/*
$Author: kgar$
$Revised: relias $
$Rev: 61033 $
$Date: 2014-10-21 $
*/

.lightbox_video.extern{
	position:relative;
	left:20px;
	clear:both;
}

.imgContainer.lightbox_video{
	margin:-11px 0px 0px -14px;
}