/*
$Author: rmar $
$Review: skoe, sas, relias $
$Rev: 82123 $
$Date: 2014-10-21 $
*/

#mainNavigation {
  display: block;
  position: absolute;
  top: 65px;
  left:0px;
  width: 940px;
  height: 72px;
  background-color: #ffffff;
}

/* navigation background --------------------------------- */
#mainNavigation .navigationBg {
  width:940px;
  height:40px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -725px;
  background-repeat:repeat-x;
  
  -webkit-box-shadow:0 0 2px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 2px rgba(0,0,0,0.6);
  -khtml-box-shadow:0 0 2px rgba(0,0,0,0.6);
  box-shadow:0 0 2px rgba(0,0,0,0.6);

  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -khtml-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  
  position: absolute;
  top:32px;
  left:0px;
  z-index:10;
}

/* two tabs for private or business consumer --------------------------------- */
#mainNavigation .customerPrivate,
#mainNavigation .customerBusiness {
  position: absolute;
  top:0px;
  z-index:20;
}
#mainNavigation .customerPrivate {
  left:250px;
}
#mainNavigation .customerBusiness {
  left:387px;
}
#mainNavigation .customerPrivate,
#mainNavigation .customerBusiness {
  display:block;
  width:126px;
  height:20px;
  border: 1px solid #cccccc;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  background-color:#ffffff;
  text-align:center;
  padding-top:10px;
  color:#000000;
  text-transform:uppercase;
}
#mainNavigation .customerPrivate span,
#mainNavigation .customerBusiness span {
  display:block;
  margin-top: 10px;
  color:#000000;
}

#mainNavigation .customerPrivate:focus,
#mainNavigation .customerPrivate:hover,
#mainNavigation .customerPrivate:active,
#mainNavigation .customerPrivate:active,
#mainNavigation .customerBusiness:focus,
#mainNavigation .customerBusiness:hover,
#mainNavigation .customerBusiness:active,
#mainNavigation .customerPrivate.isSelected,
#mainNavigation .customerBusiness.isSelected {
  color:#ffffff;
  border: 1px solid #0698d5;
  background-color:#0698d5;
}


#navigationMenue {
  position: absolute;
  top:37px;
  left:6px;
  z-index:30;
}

/*
#navigationMenue li {
  display: inline-block;
}
*/

#navigationMenue li.isSelected .tabMiddle {
  background-image:url(../images/websiteelemente/navigation_highlight.png);
  background-position: center 25px;
  background-repeat:no-repeat;
}


/* home link --------------------------------- */
#navigationMenue .homeLink {
  /*width:42px;*/
  width:30px;
  height:35px;
  display:block;
  padding: 7px 0 0 25px;
}
#navigationMenue .homeLink span {
  width:14px;
  height:12px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: -25px -258px;
  background-repeat:no-repeat;
  display:block;
}
#navigationMenue li.isSelected .homeLink {
  background-image:url(../images/websiteelemente/navigation_highlight.png);
  background-position: 23px 26px;
  background-repeat:no-repeat;
}

/* tabs --------------------------------- */
#navigationMenue .alignLeft,
#navigationMenue .alignRight {
  float: left;
  position: relative;
}


#navigationMenue .tabLeft,
#navigationMenue .tabMiddle,
#navigationMenue .tabRight {
  position: relative;
  z-index: 700;
  color:#ffffff;
}

#navigationMenue .alignLeft .tabLeft,
#navigationMenue .alignRight .tabLeft {
  width:8px;
  height:42px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 0 -846px;
  background-repeat:no-repeat;
  display:block;
  float:left;
}

#navigationMenue .tabMiddle {
  display: block;
  float: left;
  padding:8px 17px 0 17px;
  height:34px;
  text-transform:uppercase;
}

/* Nur Internet Explorer 10 und 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#navigationMenue .tabMiddle {
 		padding:8px 15px 0 15px;
	}
}

#navigationMenue .alignLeft .tabRight,
#navigationMenue .alignRight .tabRight {
  width:7px;
  height:42px;
  background-image:url(../images/websiteelemente/sprite.png);
  background-position: 7px -809px;
  background-repeat:no-repeat;
  display:block;
  float:left;
}


/* hover for tabs --------------------------------- */
#navigationMenue li:hover ul {
  display:block;
}
#navigationMenue .alignLeft:hover .tabLeft {
  background-position: 0 -765px;
}
#navigationMenue .alignLeft:hover .tabRight {
  background-position: -9px -765px;
}

#navigationMenue .alignRight:hover .tabLeft {
  background-position: -25px -765px;
}
#navigationMenue .alignRight:hover .tabRight {
  background-position: -34px -765px;
}
#navigationMenue .alignLeft:hover .tabMiddle,
#navigationMenue .alignRight:hover .tabMiddle {
  background-color:#ffffff;
  color:#000000;
  background-image:none;
}

/* expandable menue --------------------------------- */
#navigationMenue ul {
  border: 1px solid #69bee2;
  float: left;
  background-color:#ffffff;
  display:none;
  overflow:hidden;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -khtml-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}

#navigationMenue .alignLeft ul {
  position:absolute;
  top:0;
  left:0;
  margin: 41px 0 0 6px;
}
#navigationMenue .alignRight ul {
  position:relative;
  float:left;
  left:-5px;
}

/* settings for every expandable menue --------------------------------- */

#navigationMenue .alignLeft ul li ul,
#navigationMenue .alignRight ul li ul {
  position: relative;
  border: none;
  display:block;
  background-color: transparent;
  list-style:disc outside;
  clear:both;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  padding-left:14px;
}
#navigationMenue .alignLeft ul li ul li,
#navigationMenue .alignRight ul li ul li {
  color: #0091CD;
  margin-bottom:6px;
}

#navigationMenue .leftRow ul,
#navigationMenue .rightRow ul {
  margin: 0 10px 0 0px;
}

#navigationMenue span.headline {
  clear:both;
  display:block;
  color:#0091cd;
  margin:13px 10px 5px 20px;
}
#navigationMenue span.copytext,
#navigationMenue div.copytext {
  clear: both;
  float:left;
  display:block;
  margin:0 10px 10px 20px;
}
#navigationMenue a.textLink {
  display:block;
  margin:0 10px 10px 20px;
}
#navigationMenue .copytext a.textLink {
    margin: 0;
}

#navigationMenue .buttonContainer {
  margin:0 20px 10px 20px;
}

#navigationMenue a.textLink.firstChild, #navigationMenue div.firstChild {
  clear:both;
  margin-top:13px;
}


#navigationMenue .leftRow,
#navigationMenue .rightRow {
  padding-bottom:10px;
  float: left;
  display:block;
}
/*
#navigationMenue .rightRow {
  background-color:#f4f5f6;
}
*/


#navigationMenue #mhPrices,
#navigationMenue #mhSend,
#navigationMenue #mhStatus,
#navigationMenue #mhShop,
#navigationMenue #mhService,
#navigationMenue #mhAccount {
  background-image:url(../images/websiteelemente/mainnavigation_content_bg.gif);
  background-repeat:repeat-y;
}


/* prices --------------- */
#navigationMenue #mhPrices ul li strong{
	line-height:25px;
}




#navigationMenue #mhPrices{
	background-image:none;
	width:475px;
}

#navigationMenue #mhPrices .leftRow{
	list-style:none;
	width:240px;		
}

#navigationMenue #mhPrices .rightRow{
	list-style:none;
	width:235px;
}

#navigationMenue #mhPrices .leftRow .copytext{
	margin-left:10px;
	margin-top:-2px;
}

#navigationMenue #mhPrices .rightRow .copytext{
	margin-left:0px;
	margin-top:-2px;
}

#navigationMenue #mhPrices span.headline{
	margin-left:0px;
}

#navigationMenue #mhPrices ul{
	margin:0px;
}

#navigationMenue #mhPrices .leftRow ul li a.textLink,
#navigationMenue #mhPrices .rightRow ul li a.textLink{
	background-image:none !important;
}

#navigationMenue #mhPrices li span.textLink{
	padding-left:16px;
}
#navigationMenue #mhPrices a.textLink{
	display:inline;
	margin:0px;
	padding-left:0px;
}
	
#navigationMenue #mhPrices ul li.content_arrow,
#navigationMenue #mhPrices ul li.content_bullet{
	list-style:none;
}
	
	
#navigationMenue #mhPrices div.thirdChild{
	margin-top:13px;
	display:block;
	height:141px;
}


/* send --------------- */
#navigationMenue #mhSend {
  width: 395px;
  background-position: 182px 0;
}
#navigationMenue #mhSend .leftRow {
  width:182px;
}
#navigationMenue #mhSend .rightRow {
  width:213px;
}

/* status --------------- */
#navigationMenue #mhStatus {
  width: 459px;
  background-position: 225px 0;
}
#navigationMenue #mhStatus .leftRow {
  width:225px;
}
#navigationMenue #mhStatus .rightRow {
  width:234px;
}

#navigationMenue #mhStatus .inputOrderNumber {
  margin:15px 0 0 20px;
  width: 175px;
}
#navigationMenue #mhStatus .inputReceiptNumber {
  margin:0 0 10px 20px;
  width: 175px;
}
#navigationMenue #mhStatus span.betweenCopy {
  display: block;
  margin: 3px 0 3px 20px;
}


/* shop --------------- */
#navigationMenue #mhShop {
  width: 438px;
  background-position: 214px 0;
}
#navigationMenue #mhShop .leftRow {
  width:214px;
}
#navigationMenue #mhShop .rightRow {
  width:224px;
}
#navigationMenue #mhShop span.findShopCopy {
  display: block;
  margin: 13px 20px 8px 20px;
}
#navigationMenue #mhShop .inputPacketShop {
  margin:0 0 10px 20px;
  width: 165px;
}


/* service --------------- */
#navigationMenue #mhService {
  margin: 41px 0 0 -484px;
  width: 482px;
  background-position: 241px 0;
}
#navigationMenue #mhService .leftRow {
  width: 241px;
}
#navigationMenue #mhService .rightRow {
  width:241px;
}
#navigationMenue #mhService span.hintCopytext {
  font-size: 11px;
  margin: 0 10px 10px 20px;
  display:block;
}

#navigationMenue .alignRight a .key_mein_konto
{
	float:left; 
	padding-right: 6px;
	background-repeat: no-repeat;
	z-index: -1;
	width: 15px;
	height: 17px;
}


#navigationMenue .alignRight a .key_mein_konto_anonym
{
	background-image: url(../images/websiteelemente/login_icon_anonym.png);
}


#navigationMenue .alignRight:hover a .key_mein_konto_anonym
{
	background-image: url(../images/websiteelemente/login_icon_blue_anonym.png);
}


#navigationMenue .alignRight a .key_mein_konto_signin
{
	background-image: url(../images/websiteelemente/login_icon_signin.png);
}


#navigationMenue .alignRight:hover a .key_mein_konto_signin
{
	background-image: url(../images/websiteelemente/login_icon_blue_signin.png);
}


/* account --------------- */
#navigationMenue #mhAccount {
  margin: 41px 0 0 -464px;
  width: 462px;
  background-position: 243px 0;
}
#navigationMenue #mhAccount .leftRow {
  width:243px;
}
#navigationMenue #mhAccount .rightRow {
  width:219px;
}
#navigationMenue #mhAccount .inputUsername {
  margin:0 0 10px 20px;
  width: 175px;
}
#navigationMenue #mhAccount .inputPassword {
  margin:0 0 10px 20px;
  width: 175px;
}
#navigationMenue #mhAccount .rightRow .textLink {
  float: left;
}


/* logged in --------------- */
#navigationMenue #mhLoggedIn {
  margin: 41px 0 0 -220px;
  width: 218px;
}
#navigationMenue #mhLoggedIn .leftRow {
  width:218px;
}