/*
$Last Update: 2016-09-26 $
$By: skoeppe
$Rev: 78360 $
*/

/* ----- Page Layout ----- */

.formContainer .leftPageCol {
	float: left;
	width: 620px;
	margin-right: 20px;
}
.formContainer .leftPageCol table{
	table-layout:fixed;
}
.formContainer .leftPageCol table td{
	overflow:hidden;
}
.formContainer .rightPageCol {
	float: left;
	width: 300px;
}
.formTeaserSmall {
	width: 200px;
	margin-top: 0px;
}
.formTeaserSmall .buttonContainer {
	margin: 0px;
}
.formTeaserWithoutBG {
	background-color: transparent;
	background-image: none;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	margin-left: 1px;
	margin-right: 1px;
}
.teaserContentWrapper {
	margin: 15px;
}
/* ----- General ----- */

.search_action_button,
.file_action_button,
.file_action_button_edit,
.button_edit,
.duplicate_file_action_button,
.delete_action_button,
.delete_action_button_tab1,
.delete_action_button_tab3 {
	display: block;
	width: 18px;
	height: 18px;
	margin-right: 5px;
	background-image:url(../images/websiteelemente/sprite.png);
	background-repeat: no-repeat;
	float: left;
}

.arrivals .textLinkStyle,
.arrivals .search_action_button,
.arrivals .delete_action_button_tab3,
.arrivals .fb_saveShipment {
	background-image:none;
	width: auto;
	height: auto;
	text-decoration:underline;
	font-size:10px;
}

.arrivals .search_action_button,
.arrivals .delete_action_button_tab3,
.arrivals .fb_saveShipment{
	margin-right: 10px;
}

.arrivals .textLinkStyle:hover,
.arrivals .search_action_button:hover,
.arrivals .delete_action_button_tab3:hover,
.arrivals .fb_saveShipment:hover,
.arrivals .inlineLink:hover {
	color:#0091cd;
}

.arrivals .wuAbbrechen.textLinkStyle {
    margin: 5px 10px 0 0;
	float: right;
}

.arrivals .file_action_button_edit , .arrivals .button_edit{
	display: inline-table;
	float: none;
}

.formContainer .leftPageCol .formWrapper .search_action_button,
.formContainer .leftPageCol .formWrapper .file_action_button,
.formContainer .leftPageCol .formWrapper .file_action_button_edit,
.formContainer .leftPageCol .formWrapper .button_edit,
.formContainer .leftPageCol .formWrapper .duplicate_file_action_button,
.formContainer .leftPageCol .formWrapper .delete_action_button,
.formContainer .leftPageCol .formWrapper .delete_action_button_tab1,
.formContainer .leftPageCol .formWrapper .delete_action_button_tab3  {
	margin-bottom: 5px;
}
.search_action_button {
	background-position: -18px -902px;
}
a.search_action_button:hover,
a.search_action_button:focus {
	background-position: 0px -902px;
}
.file_action_button,
.file_action_button_edit,
.button_edit {
	background-image:url(../images/websiteelemente/edit_sw.png);
/*	background-image:url(../images/websiteelemente/edit_sw.png); */
	width:14px;
	height:14px;
}

#myShipmentForm3 .file_action_button{
	margin-right:90px;
}

a.file_action_button:hover,
a.file_action_button:focus,
a.file_action_button_edit:hover,
a.file_action_button_edit:focus,
a.button_edit:hover,
a.button_edit:focus {
	background-image:url(../images/websiteelemente/edit.png);
	/* background-image:url(../images/websiteelemente/edit.png); */
	width:14px;
	height:14px;
}
.duplicate_file_action_button {
	background-position: -18px -938px;
}
a.duplicate_file_action_button:hover,
a.duplicate_file_action_button:focus {
	background-position: 0px -938px;
}
.delete_action_button, .delete_action_button_tab1, .delete_action_button_tab3 {
	background-position: -18px -956px;
}
a.delete_action_button:hover,
a.delete_action_button:focus,
a.delete_action_button_tab1:hover,
a.delete_action_button_tab1:focus,
a.delete_action_button_tab3:hover,
a.delete_action_button_tab3:focus {
	background-position: 0px -956px;
}
/* ----- Section Title ----- */

.wideFormHeader {
	width: 700px;
}
.formHeader span {
	float: left;
}
.titleprintericon {
	display: block;
	float: right;
	margin: 12px 19px 12px 0px;
	height: 16px;
	width: 75px;
}
.titleprintericon .printer_label {
	padding: 0px;
	color: #FFF;
	line-height: 16px;
	font-size: 12px;
}
.titleprintericon .printer_icon {
	display: block;
	width: 16px;
	height: 15px;
	background-image:url(../images/websiteelemente/sprite.png);
	background-repeat: no-repeat;
	background-position: -19px -672px;
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
.wideFormWrapper {
	width: 696px;
}
/* Pagination */

.titlepagination {
	font-size: 10px!important;
	line-height: 20px;
	padding-left: 10px!important;
}

.titlepagination span {
	float: left !important;
	font-size: inherit !important;
	line-height: 20px !important;
	margin: 0px !important;
	padding: 0px !important;
}
.pagination_prev,
.pagination_next {
	display: block;
	float: left;
	width: 5px;
	height: 7px;
	background-repeat: no-repeat;
	padding: 6px 4px!important;
	margin: 1px 4px 0px 4px!important;
}
a.pagination_prev {
	background-image:url(../images/websiteelemente/sprite.png);
	background-position: 0px -974px;
}
a.pagination_next {
	background-image:url(../images/websiteelemente/sprite.png);
	background-position: -13px -974px;
}
/* ---- Content Table ----- */

.content_table {
	width: 100%;
}
.content_table td {
	border-top: 1px solid #CCD1D5;
}
.content_table td,
.content_table th,
.formInfo {
	border-left: 1px solid #CCD1D5;
	padding: 15px 10px 15px 10px;
	font-weight: normal;
}
.content_table th span {
  display:block;
  width:auto;
}
.content_table td:first-child,
.content_table th:first-child,
.formInfo {
	border-left: 0px;
}
.content_table .infoIcon {
	margin-top: 2px;
}

.content_table ul {
  padding: 0 0 0 20px;
}
.content_table ul li {
  list-style-image: url(../images/websiteelemente/teaser_li_bullet.png);
  margin: 0;
  padding: 0 0 7px;
}

.sendungsCol a:focus,
.sendungsCol a:hover,
.sendungsCol a:active {
  color: #0091cd;
}

.sendungsCol a{
	color: #666666;
}

.formInfo {
	background-color: #FFF;
	border-bottom: 1px solid #CCD1D5;
}
.fullWidthFormInfo {
	width: 916px;
}

/* thead */

/* padding/cell = 15 10 15 10; margin/cell = 0 0 0 0; borders: 6x 1px => 146px; tabel-w = 696px => 696 - 146 = 550px for cellwidth */
.numberCol {
	width: 88px;
}
.amountCol {
	width: 37px;
}
.targetCol {
	width:88px;
}
.targetLandCol {
	width: 54px;
}
.referenceCol {
	width:105px;
}
.packageCol {
	width: 65px;
}
.actionCol {
	width: 52px;
}
.selectCol {
	width: 15px;
}
.preTargetCol{
	width: 88px;
}
.statusCol{
	width: 90px;
}
td.actionCol {
	padding:15px 5px 10px 10px!important;
}

.content_table th {
	vertical-align: top;
	text-align:left;
}

.content_table th,
.content_table th > a,
.content_table th > a:link,
.content_table th > a:active,
.content_table th > a:visited,
.content_table th > a:hover,
.content_table th > a:focus,
.content_table th > span {
	/*display: block;*/
	color: #0091CD;
	text-decoration: none;
}
.content_table th a:hover, .content_table th a:focus {
	text-decoration: underline;
}
.sortcaption.active_desc,
.sortcaption.inactive_desc,
.sortcaption.active_asc,
.sortcaption.inactive_asc {
	display: block;
	float: left;
	line-height: 16px;
	padding-right: 16px;
	background-position: right 6px;
	background-repeat: no-repeat;
}
.sortcaption.active_desc {
	background-image:url(../images/websiteelemente/sortarrow_active_desc.gif);
}
.sortcaption.inactive_desc {
	background-image:url(../images/websiteelemente/sortarrow_inactive_desc.gif);
}
.sortcaption.active_asc {
	background-image:url(../images/websiteelemente/sortarrow_active_asc.gif);
}
.sortcaption.inactive_asc {
	background-image:url(../images/websiteelemente/sortarrow_inactive_asc.gif);
}
/* tbody */

.content_table td > span {
	float: left;
}
.content_table .state_error {
	color: #D20019;
}
.content_table .state_warning {
	color: #F90;
}
.content_table .state_ok {
	color: #3C0;
}
/* tfoot */

.mark_all_checkbox {
	float: left;
	height: 20px;
}
.mark_all_label {
	float: left;
	line-height: 22px;
	margin-left: 10px;
}
/* ----- Pagination ----- */

.content_table tfoot td {
	padding: 15px 10px;
}
/* ----- Sidebar ----- */

.formTeaserSmall {
	padding-bottom: 20px;
}
.formTeaserSmall label + input[type='text'] {
	margin-top: 5px;
}
.formTeaserSmall input[type='text'] {
	width: 147px;
}
.sign_legend {
	margin: 10px;
	padding: 0px;
}
.sign_legend li {
	display: block;
	width: 100%!important;
	margin-bottom: 10px;
	line-height: 18px;
	float: none;
	clear: both;
}
#filtertype {
	width: 160px;
}

/* print */
.printContent {
  width:940px;
  margin:0 0 20px 20px;
}

.printHeader {
  margin:0 0 10px 10px;
}

.printHeader h1 {
  float:left;
  font-size:15px;
  color:#000000;
  margin-right:20px;
}
.printHeader p {
  padding-top:4px;
  font-size:11px;
}

.printContent .content_table{
  border: 1px solid #000000;
  background-color:#ffffff;
  margin-bottom:60px;
}

.printContent .content_table td,
.printContent .content_table th {
  border-left: 1px solid #000000;
  padding: 10px;
}

.printContent .content_table th {
  color:#000000;
  font-weight:bold;
  border-bottom: 1px solid #000000;
}

.pageBreak {
  page-break-after:always;
}

/* Meine Sendung - Tab */

#sendungenTabs{
	background-image: url(../images/websiteelemente/form_fieldset_small_bg.gif);
    background-position: 0 -4px;
    background-repeat: repeat-x;
    display: block;
    float: left;
    position: relative;
    width: 620px;
	clear:both;	
}

#sendungenTabs .ui-tabs-nav, #sendungenTabs .ui-tabs-panel{
	margin:0px 0px 1px 0px;
	padding:0px;
	float:left;
}

#sendungenTabs li.ui-state-default {
    float: left;
    text-align: center;
	background:none;
	margin:0px;
	padding:0px;
	border:0px;
	width:205px;
	height:41px
}

#sendungenTabs .ui-tabs li a{
	margin:0px;
	padding:0px;
}

#sendungenTabs li#tabSdg{
	width:106px;
}

#sendungenTabs li#tabSdg span.description{
	vertical-align:middle;
	text-align:left;
	margin-top:7px;
	display:block;
	font-weight:normal;
}

#sendungenTabs .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active{
    background-color: #0591CC;
	background-image: url(../images/websiteelemente/sprite.png);
    background-position: 0 -560px;
    background-repeat: repeat-x;
}

#sendungenTabs #tab-1 {
	border-radius: 4px 0px 0 0;
}

#sendungenTabs #tab-3 .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active{
	width:180px;
}

#sendungenTabs .ui-state-default a.tab1,
#sendungenTabs .ui-state-default a.tab2{
	background-image: url(../images/websiteelemente/shadow_tab_left.png);
    background-position: right 0;
    background-repeat: no-repeat;
	color:#fff;
	width:184px;
}

#sendungenTabs .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a.tab3{
    background-image: url(../images/websiteelemente/sprite.png);
    background-position: 0 -560px;
    background-repeat: repeat-x;
    color: #FFFFFF;
    width:186px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
}

#sendungenTabs .ui-state-active a{
	
}

#sendungenTabs .ui-state-active a span.text_Big{
    display: block;
    font-size: 15px;
	color: #FFFFFF;
}

#sendungenTabs .ui-state-active a span.text_Small{
   font-size:10px;
	color: #FFFFFF;
}

#sendungenTabs .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a.tab1{
    background-image: url(../images/websiteelemente/shadow_tab_left.png);
    background-position: right 0;
    background-repeat: no-repeat;
	color:#fff;
	width:184px;
}

#sendungenTabs .ui-state-default.ui-corner-top a.tab1{
    background-image: url(../images/websiteelemente/shadow_tab_right.png);
    background-position: right 0;
    background-repeat: no-repeat;
	color:#fff;
	width:184px;
}

#sendungenTabs .ui-state-default.ui-corner-top a.tab2{
    background-image: url(../images/websiteelemente/shadow_tab_right.png);
    background-position: right 0;
    background-repeat: no-repeat;
	color:#fff;
	width:184px;
}

#sendungenTabs .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a.tab2{
	background-image: url(../images/websiteelemente/shadow_tab_left.png);
    	background-position: right 0;
   	background-repeat: no-repeat;
	color:#fff;
	width:184px;
}

#sendungenTabs .ui-state-default.ui-corner-top a.tab3{
	width:186px;
}

#sendungenTabs li. a
    display: block;
    height: 38px;
    padding-top: 5px;
    text-align: center;
    white-space: nowrap;
}

#sendungenTabs li.ui-state-default a{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    background-position: left 0;
    background-repeat: no-repeat;
    /* width: 190px; */
	width: 150px;
}

#sendungenTabs li.ui-state-default.ui-corner-top a span.text_Big{
    display: block;
    font-size: 15px;
}

#sendungenTabs li.ui-state-default.ui-corner-top a span.text_Small{
   font-size:10px;
}

.formHeaderTab {
	 	width: 620px;
    background-color: #0591CC;
    height: 40px;
}

.formHeaderTab span {
    float: left;
    border: 0 none;
    display: block;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 0 19px;
    color: #F7F7F7;
}

#sendungenTabs {
    padding: 0px !important;
}

#placeholder_icon {
	display: block;
	float: left;
	height: 18px;
	margin-right: 5px;
	width: 18px;
}

.sendungenStatusImage {
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* Firefox 3.6 */
	background-repeat:no-repeat;
	width: 100px;
	height: 15px;
}

.arrivals .sendungenStatusImage {
	 background-position: left center;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 36px;
    margin-bottom: 5px;
    width: 250px;
}

.printViewLogo {
	background-image: url(../images/logo_print.png);
	background-size:100% 100%;
	-moz-background-size:100% 100%; /* Firefox 3.6 */
	background-repeat:no-repeat;
	width: 194px;
	height: 32px;
}

.sendungenPrintStatus0 {
    background-image: url(../images/websiteelemente/0status_sw.gif);
	
}

.sendungenPrintStatus1 {
    background-image: url(../images/websiteelemente/1status_sw.gif);
	
}

.sendungenPrintStatus2 {
    background-image: url(../images/websiteelemente/2status_sw.gif);
	
}

.sendungenPrintStatus3 {
    background-image: url(../images/websiteelemente/3status_sw.gif);
	
}

.sendungenPrintStatus4 {
    background-image: url(../images/websiteelemente/4status_sw.gif);
	
}

.sendungenPrintStatus5 {
    background-image: url(../images/websiteelemente/5status_sw.gif);
	
}

.sendungenPrintStatus0 {
    background-image: url(../images/websiteelemente/0status_sw.gif);
	
}

.sendungenStatus0 {
    background-image: url(../images/websiteelemente/0Status.gif);
	
}

.sendungenStatus1 {
    background-image: url(../images/websiteelemente/1Status.gif);
	
}

.sendungenStatus2 {
    background-image: url(../images/websiteelemente/2Status.gif);

}

.sendungenStatus3 {
    background-image: url(../images/websiteelemente/3Status.gif);

}

.sendungenStatus4 {
    background-image: url(../images/websiteelemente/4Status.gif);

}

.sendungenStatus5 {
    background-image: url(../images/websiteelemente/5Status.gif);
	
}

.shipmentDetailsInfo {
	background-image: url(../images/websiteelemente/form_expanded_content_grey_bg.gif);
	background-repeat: repeat-x;
	background-color: #f2f2f2;
	height: 77px;
}

.shipmentDetailsInfo h2{
    margin: 20px 10px 9px 25px;
}

.shipmentDetailsInfo span{
    display: block;
    margin: 10px 10px 9px 25px;
}

.shipmentDetailsInfo a, .shipmentDetailsInfo a:link, .shipmentDetailsInfo a:visited{
    text-decoration: underline;
}

.shipmentDetailsInfo a:focus, .shipmentDetailsInfo a:hover, .shipmentDetailsInfo a:active{
    color:#0091CD;
}

.automatic {
    float: left;
    font-weight: bold;
    margin-top: 5px;
    width: 100%;
}

.automatic span{
    font-weight: bold;
	padding-right: 5px;
}

.nonAutomatic {
	width:100%; 
    height:50px;
	background-repeat: no-repeat;	
	float: left;
}

.arrivals {
	float:left;
	margin-bottom:10px; 
	padding-bottom:10px;  
}

.arrivals .oneOrderContainer  {
	float:left; 
	background-color:#ffffff; 
	padding: 10px; 
	margin-top: 10px;
	border: 1px solid #e1e1e1;
	width:598px;
}

.arrivals .oneOrderContainer.green  {
	border: 1px solid #D6E2CE;
	background:url(../images/websiteelemente/icon_close_success.png) no-repeat scroll 99% 20% / 20px 20px #def0da;
	color:#537250;
	display:none;
	float: left;
	cursor: pointer;
}

.arrivals .oneOrderContainer.green div {
	float: left;
	color:#537250;
}

.arrivals .oneOrderContainer.green span {
	color:#537250;
}

.arrivals .oneOrderContainer.green .imgSpan{
	background:url(../images/websiteelemente/icon_success.png) no-repeat scroll left center / 20px 20px #def0da;
	width:20px;
	height:20px;
	padding-left:10px;
	float: left;
}

.arrivals .oneOrderContainer.red {
	border: 1px solid #E2D4D4;
	background:url(../images/websiteelemente/icon_close_error.png) no-repeat scroll 99% 20% / 20px 20px #F6DDE3;
	color:#87555E;
	display:none;
	float: left;
	cursor: pointer;
}

.arrivals .oneOrderContainer.red div {
	color:#87555E;
	float: left;
}

.arrivals .oneOrderContainer.red span {
	color:#87555E;
}

.arrivals .oneOrderContainer.red .imgSpan{
	background:url(../images/websiteelemente/icon_error.png) no-repeat scroll left center / 20px 20px #F6DDE3;
	width:20px;
	height:20px;
	padding-left:10px;
	float: left;
}

.arrivals .oneOrderContainer .oneOrderContainerLeft{
	float:left; 
	width:135px;   
}

.arrivals .oneOrderContainer .oneOrderContainerLeft .bezeichung,
.arrivals .oneOrderContainer .oneOrderContainerLeft .logo_automatic,
.arrivals .oneOrderContainer .oneOrderContainerLeft .logo_manual,
.arrivals .oneOrderContainer .oneOrderContainerLeft .shipmentId,
.arrivals .oneOrderContainer .oneOrderContainerLeft .orderNo,
.arrivals .oneOrderContainer .oneOrderContainerLeft .links {
	float:left;
}

.arrivals .oneOrderContainer .oneOrderContainerCenter{
	float:left; 
	width:258px; 
	height:205px;  
}

.arrivals .oneOrderContainer .containerSwitch_manual .oneOrderContainerCenter{
	height:170px;
}

.arrivals .oneOrderContainer .oneOrderContainerRight{
	float:left;  
	width:205px; 
	height:205px;
	text-align:center;
	background-color:#f2f2f2;
}

.arrivals .oneOrderContainer .containerSwitch_manual .oneOrderContainerRight{
	height:170px;
}

.oneOrderContainerDay,
.oneOrderContainerParcelShop,
.oneOrderContainerNeighbour,
.oneOrderContainerDropOff {
	float:left; 
	width:443px; 
	display:none;
	background-color:#f2f2f2;
	padding:10px;
	line-height: 14px;
	min-height: 185px;
}

.oneOrderContainerDaySuccess,
.oneOrderContainerParcelShopSuccess,
.oneOrderContainerNeighbourSuccess,
.oneOrderContainerDropOffSuccess {
	background-color: #f2f2f2;
    float: left;
    height: 185px;
    text-align: left;
    width: 185px;
	line-height: 14px;
    padding: 10px;
	display:none;
}

.oneOrderContainerDaySuccess h2,
.oneOrderContainerParcelShopSuccess h2,
.oneOrderContainerNeighbourSuccess h2,
.oneOrderContainerDropOffSuccess h2{
	font-size:14px;
	color:#666666;
	font-weight: bold;
}

.oneOrderContainerDaySuccess .successText,
.oneOrderContainerParcelShopSuccess .successText,
.oneOrderContainerNeighbourSuccess .successText,
.oneOrderContainerDropOffSuccess .successText {
	margin-top:16px;
	height: 100px;
    overflow: hidden;
}

.oneOrderContainerDaySuccess .successTime,
.oneOrderContainerParcelShopSuccess .successTime,
.oneOrderContainerNeighbourSuccess .successTime,
.oneOrderContainerDropOffSuccess .successTime  {
    font-size: 10px;
	margin-top:15px;
}

.arrivals .successText {
	clear:both;
	float:left;
	word-break: break-all;
    word-wrap: break-word;
}
.arrivals .successText .oneRow{
	float:left;
	width:100%;
}

.oneOrderContainerDropOff h2,
.oneOrderContainerDay h2,
.oneOrderContainerParcelShop h2,
.oneOrderContainerNeighbour h2 {
	color: #666666;
    margin: 0 0 5px 20px;
	font-weight:bold;
}

.oneOrderContainerDropOff .preferredDropOffInput {
	margin: 0 0 5px 20px;
	width: 410px;
}

.oneOrderContainerDropOff .preferredDropOffCB {
	float: left;
    height: 45px;
    width: 20px;
	margin-bottom:5px;
}

.oneOrderContainerDropOff .preferredDropOffCBLabelContainer, .oneOrderContainerDropOff .preferredDropOffCBLabelContainer label, .oneOrderContainerDropOff .preferredDropOffCBLabelContainer span{
	float: left;
    font-size: 10px;
    width: 420px;
	line-height: 14px;
}

.oneOrderContainerDropOff .preferredDropOffCBLabelContainer span{
	margin-bottom:5px;
	cursor:pointer;
	text-decoration:underline;
}

.oneOrderContainerDropOff .preferredDropOffText{
	clear: both;
    display: none;
    font-size: 10px;
    line-height: 14px;
    margin: 0 0 5px 20px;
}

.oneOrderContainer .noticeText {
	margin: 0 0 0 20px;
	font-size: 10px;
	line-height: 14px;
	padding-bottom: 6px;
}

.oneOrderContainerDay a,
.oneOrderContainerParcelShop a,
.oneOrderContainerNeighbour a,
.oneOrderContainerDropOff a {
	float:left; 
	width:180px; 
	margin-right:5px;
}

.arrivals .oneOrderContainer .bezeichung  {
	min-height: 40px;
	width:135px;
}

.arrivals .oneOrderContainer .logo_automatic  {
	clear: both; 
	float:left;
    min-height: 97px;
	width:135px;
}
.arrivals .oneOrderContainer .logo_manual  {
	clear: both; 
	float:left;
    min-height: 65px;
	width:135px;
}

.arrivals .oneOrderContainer .shipmentId,
.arrivals .oneOrderContainer .links  {
	clear: both; 
	float:left;
	width:135px;
}

.arrivals .oneOrderContainer .status {
	clear: both; 
}

.arrivals .oneOrderContainer h3 {
	text-decoration: none;
	font-weight:bold;
	color: #666666;
    font-family: open_sansregular,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
}

.arrivals .oneOrderContainerRight h3  {
	padding:10px;
}

.arrivals .oneOrderContainerRight span {
    clear: both;
    float: left;
    font-size: 10px;
    padding: 5px 10px;
}

.arrivals .oneOrderContainerRight .inlineLink {
    font-size: 10px;
}

.arrivals .buttonMyShipment {
  background: #44BFEB !important;
  background-image: -webkit-linear-gradient(top, #44BFEB, #0591CC) !important;
  background-image: -moz-linear-gradient(top, #44BFEB, #0591CC) !important;
  background-image: -ms-linear-gradient(top, #44BFEB, #0591CC) !important;
  background-image: -o-linear-gradient(top, #44BFEB, #0591CC) !important;
  background-image: linear-gradient(to bottom, #44BFEB, #0591CC) !important;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  display:block;
  margin-bottom: 5px;
}

.arrivals .buttonMyShipmentDe {
  background: #dbdbdb;
  background-image: -webkit-linear-gradient(top, #dbdbdb, #b6bcbf);
  background-image: -moz-linear-gradient(top, #dbdbdb, #b6bcbf);
  background-image: -ms-linear-gradient(top, #dbdbdb, #b6bcbf);
  background-image: -o-linear-gradient(top, #dbdbdb, #b6bcbf);
  background-image: linear-gradient(to bottom, #dbdbdb, #b6bcbf);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  display:block;
  margin-bottom: 5px;
}

.arrivals .buttonMyShipment:hover {
  background: #0591CC !important;
  background-image: -webkit-linear-gradient(top, #0591CC, #44BFEB) !important;
  background-image: -moz-linear-gradient(top, #0591CC, #44BFEB) !important;
  background-image: -ms-linear-gradient(top, #0591CC, #44BFEB) !important;
  background-image: -o-linear-gradient(top, #0591CC, #44BFEB) !important;
  background-image: linear-gradient(to bottom, #0591CC, #44BFEB) !important;
  text-decoration: none;
}
/*


.arrivals .buttonMyShipment {
  background-color: #0591CC;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #ffffff !important;
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  display:block;
  margin-bottom: 5px;
}

.arrivals .buttonMyShipment:hover {
  background-color: #2AB3E5;
  text-decoration: none;
}

.arrivals .buttonMyShipmentDe {
  background-color: #BEC3C5;
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  color: #ffffff !important;
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  display:block;
  margin-bottom: 5px;
}
*/
.arrivals .buttonMyShipmentDe {
	margin-left: 15px;
	width: 155px;
	font-size: 12px !important;
	padding: 3px 10px !important;
}
/*
.arrivals  .buttonMyShipment.button_tab3_1,
.arrivals .buttonMyShipmentDe.button_tab3_1  {
    margin-bottom: 10px;
}
*/
.arrivals .oneOrderContainer .oneOrderContainerRight .buttonMyShipment{
	margin-left: 15px;
	width: 155px;
	float:left;
}

.arrivals .statusBox {
	float:left;  
	height:30px;
}

.arrivals .statusOne {
	float:left; 
	width:30px; 
	height:30px; 
	background: #0591CC !important;
	background-image: -webkit-linear-gradient(left, #0591CC, #44BFEB) !important;
	background-image: -moz-linear-gradient(left, #0591CC, #44BFEB) !important;
	background-image: -ms-linear-gradient(left, #0591CC, #44BFEB) !important;
	background-image: -o-linear-gradient(left, #0591CC, #44BFEB) !important;
	background-image: linear-gradient(to right, #0591CC, #44BFEB) !important;
}

.arrivals .statusSpacer {
	float:left; 
	width:25px; 
	height:30px; 
	background: #44BFEB !important;
	background-image: -webkit-linear-gradient(left, #44BFEB, #0591CC) !important;
	background-image: -moz-linear-gradient(left, #44BFEB, #0591CC) !important;
	background-image: -ms-linear-gradient(left, #44BFEB, #0591CC) !important;
	background-image: -o-linear-gradient(left, #44BFEB, #0591CC) !important;
	background-image: linear-gradient(to right, #44BFEB, #0591CC) !important;
}

.arrivals .statusDate, .arrivals .statusDetails , .arrivals .statusDescription {
	float:left;	
	font-size:10px;
	margin-right: 3px;
}

.arrivals .eta {
	clear:both;
	padding-top:32px;
	font-weight:bold;
}

.arrivals .recipient {
	clear:both;
	padding-top:15px;
}

.arrivals .edlTime {
	clear: both;
	padding-bottom: 36px;
	padding-top: 5px;
	font-size: 10px;
}

.arrivals .shipmentId, .arrivals .shipmentId h3 , .arrivals .shipmentId a {
	font-size:10px;
}

.arrivals .orderNo, .arrivals .orderNo h3 , .arrivals .orderNo a  {
	font-size:10px;
	margin-top:15px;
}

.arrivals .links {
	font-size:10px;
	margin-top:0px;
}

.arrivals .errorDropOff.form_error {
    color: #e00b30 !important;
    margin: 0 0 10px 20px;
	display:none;
}

.arrivals .description_edit {
	display:none;
	padding-right: 5px;
}

.arrivals .description_show span {
	word-break: break-all;
    word-wrap: break-word;
}
 
.arrivals .description_edit span, .arrivals .description_edit a {
	font-size:8px;
	font-weight:normal;
	width:auto;
	line-height: 12px;
}

.arrivals .error_INPUT_FIELD{
	border-color: red !important;
}

.arrivals .error_LABEL{
	color: red;
}

.arrivals .description_edit input {
	width:115px;
	border-color: #cccccc #eceef0 #eceef0 #cccccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: -1px -1px 0 #d3d5d6;
    padding: 5px;
}

.arrivals .preferredDayInput {
    margin: 0 20px;
	float:left;
}

.arrivals .preferredDayInput .oneDay{
    margin: 3px 0;
}

.arrivals .preferredDayInput .sideLeft , .arrivals .preferredDayInput .sideRight {
    float: left;
    width: 200px;
}

.arrivals .neighbourInput {
	float: right;
    margin-left:20px;
	text-align:right;
}

.arrivals .neighbourInput .inputRegular{
	width: 240px;
	margin-bottom: 5px;
}

.arrivals .neighbourInput .inputMedium{
	width: 145px;
	margin-bottom: 5px;
}

.arrivals .neighbourInput .inputSmall{
	width: 80px;
	margin-bottom: 5px;
}

.arrivals .neighbourCBContainer label{
	font-size: 10px;
}

.arrivals .neighbourCBContainer {
    float: left;
    margin: 5px 0 5px 20px;
}

.arrivals .buttonNeighbour{
	float:right;
}

#button_ok_AddressConfirm {
    float: left;
}

.arrivals .preferredParcelShopInput,
.arrivals .containerPrefParcelShopError {
    margin-left:20px;
	min-height: 94px;
}

.arrivals .containerPrefParcelShopError {
	display:none;
	color:red;
}

.arrivals .preferredParcelShopInput .containerPrefParcelShop {
    float:left;
	width:100%;
	margin:3px 0;
}
.arrivals .preferredParcelShopInput .containerPrefParcelShop .inputPrefParcelShop {
    float:left;
	max-width:370px;
	overflow:hidden;
	white-space:nowrap;
	margin-right:5px;
}
.arrivals .preferredParcelShopInput .containerPrefParcelShop .inputPrefParcelShop:hover {
	width:auto;
	max-width:420px;
	margin-right:5px;
	float:left;
}
.arrivals .preferredParcelShopInput .containerPrefParcelShop .detailsPrefParcelShop {
    float:left;
}
.arrivals .parcelShopFinderLink {
    float:none;
}
.arrivals .noticeText{
	float:left;
}

.arrivals .sendungenStatus0 {
    background-image: url(../images/websiteelemente/0StatusIcon.png);
/*    background-image: url(../images/websiteelemente/0StatusIcon.png); */
}

.arrivals .sendungenStatus1 {
	background-image: url(../images/websiteelemente/1StatusIcon.png);
/*    background-image: url(../images/websiteelemente/1StatusIcon.png); */
}

.arrivals .sendungenStatus2 {
    background-image: url(../images/websiteelemente/2StatusIcon.png);
/*    background-image: url(../images/websiteelemente/2StatusIcon.png); */
}

.arrivals .sendungenStatus3 {
    background-image: url(../images/websiteelemente/3StatusIcon.png);
/*    background-image: url(../images/websiteelemente/3StatusIcon.png); */
}

.arrivals .sendungenStatus4 {
    background-image: url(../images/websiteelemente/4StatusIcon.png);
/*    background-image: url(../images/websiteelemente/4StatusIcon.png); */
}

.arrivals .sendungenStatus5 {
    background-image: url(../images/websiteelemente/5StatusIcon.png);
/*    background-image: url(../images/websiteelemente/5StatusIcon.png); */
}

.formContainerContent .mobileContainerConfirm{
  clear:both;
  float:left;
  border-bottom:1px solid #CCD1D5;
  padding: 15px;
}

.formContainerContent .mobileContainerConfirm div { 
    padding-left: 50px;
	float: left;
}

.formContainerContent .mobileContainerConfirm .mobileHeader { 
 	color: #666666;
	font-weight: bold;
	margin-bottom: 13px;
}

.formContainerContent .mobileInfoCommon, .formContainerContent .mobileInfoEmail { 
   float: left;
   width:100%;
}