/*
$Author: rmarquar $
$Revised: kgarzareck, relias $
$Rev: 61014 $
$Date: 2014-10-21 $
*/

/*##########################################
Name: Default styling for Niceforms v.1.0
Author: Lucian Slatineanu
URL: http://www.badboy.ro/
##########################################*/

/*General styles - NOT really related to the forms*/

img {border:0;}


form.niceforms{
	line-height:normal;
}
/*Forms defaults - change as needed*/
.niceforms input, .niceforms textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	border:0px;
	line-height:normal;
}

label {
	color:#666666;
	cursor:pointer;
	line-height:16px;
}
label.chosen {color:#666666;}

/*Transparent items*/
.outtaHere {
	position:absolute;
	left:-6000px;
}

/*Radio buttons*/
.radioArea, .radioAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:15px;
	height:14px;
	font-size:0;
	cursor:pointer;
}

/*Checkboxes*/
.checkboxArea, .checkboxAreaChecked {
	display:block;
	float:left;
	clear:left;
	width:13px;
	height:13px;
	font-size:0;
	padding:0;
	margin:0;
	cursor:pointer;
}

.focused {border:1px dotted #ddd;}

/*Text inputs*/
.textinput, .textinputHovered {
	height:24px;
	border:none;
	padding:4px 0;
	vertical-align:middle;
}

.inputCorner {
	padding-bottom:0;
	vertical-align:middle;
}

.txtarea img.txt_corner {
	width:5px;
	height:5px;
	display:block;
}

.txtarea .cntr_l, .txtarea .cntr_l_xon {
	width:5px;
	float:left;
}

.txtarea textarea {
	border:0;
	background:none;
	padding:0;
	margin:5px;
}

.selectArea {
	height:24px;
}
.selectArea .left {
	width:8px;
	height:24px;
	float:left;
}
.selectArea .right {
	width:21px;
	height:24px;
	float:right;
}
.selectArea .right a {
	display:block;
	width:21px;
	height:21px;
	position:absolute;
}
.selectArea .right i {display:none;}
.selectArea .center {
	width:160px;
	color:#666666;
	padding-top:3px;
	overflow:hidden;
	white-space:nowrap;
	border:0px;
	vertical-align:middle;
	background:transparent;
}

/*Selects drop-down*/

.fake_list
{
	background:#fff;
	padding:4px;
	z-index:1000;
	list-style-type:none;
	font-size:11px;
	margin:0px;
	position:absolute;
	float:left;
	overflow:auto;
	border:1px solid #ccd1d5;
	border-top:none;
}

ul.fake_list li
{
	color:#666666;
	padding:0px 2px 0px 10px;
	margin:0px;
	clear:none;
	cursor:pointer;
}
.fake_list li.selected
{
	color:#fff;
	background:#0091cd;
	border-color:#ccd1d5;
}

.niceforms .buttonSubmit, .niceforms .buttonSubmitHovered {
	width:auto;
	height:20px;
	color:#fff;
	font-weight:bold;
	padding:2px;
	cursor:pointer;
	border:none;
}
.niceforms .buttonImg {vertical-align:bottom;}

.inputWide,
.inputRegular,
.inputMedium,
.inputSmall,
.inputXSmall,
.input100Percent,
select {
	border-top: 1px solid #CCCCCC !important;
	border-left: 1px solid #CCCCCC !important;
	border-bottom: 1px solid #ECEEF0 !important;
	border-right: 1px solid #ECEEF0 !important;
	padding: 5px!important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: -1px -1px 0px #D3D5D6;
	-moz-box-shadow: -1px -1px 0px #D3D5D6;
	box-shadow: -1px -1px 0px #D3D5D6;
}

input.nohasDatepicker{
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #ECEEF0;
	border-right: 1px solid #ECEEF0;
	padding: 5px!important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: -1px -1px 0px #D3D5D6;
	-moz-box-shadow: -1px -1px 0px #D3D5D6;
	box-shadow: -1px -1px 0px #D3D5D6;
	width:77px;
}

input.nohasDatepicker.datepicker{
	border:0px !important;
	padding:0px !important;
	box-shadow:none !important;
}

input[readonly],
input[disabled] {
	background-color: #F3F3F3;
}