/*
$Author: rmar $
$Revised: kgar, kschn, relias, skoep $
$Rev: 65962 $
$Date: 2015-04-16 $
*/


.shopFinderButton .buttonContainer {
  margin-right:10px !important;
}
.findShopText {
  float:left;
  width: 252px;
}

.sumTotalText{
  font-size:26px;
  font-weight:bold;
  color:#fff;
}

.shopFinderHeadline {
  font-weight: bold;
  font-size: 12px;
}
.shopFinder{
  position: relative;
}
/*
.shopFinder .paketShopImage {
  position: absolute;
  left: 547px;
  top: 23px;
}

.shopFinderButton {
  margin-bottom: 15px !important;
}
*/

.packagecalculator .infoTextOtherPackageS, 
.packagecalculator .infoTextOtherPackageHP,
.packagecalculator .infoTextOtherPackageS span, 
.packagecalculator .infoTextOtherPackageHP span {
	color: #0091CD; 
	font-size: 10px; 
	margin-bottom: 10px;
	display:none;
}

.packagecalculator .infoTextOtherPackageS span, 
.packagecalculator .infoTextOtherPackageHP span {
	cursor:pointer;
	display:inline;
	text-decoration:underline;
}

.packagecalculator .NO_PRODUCT_INTERNATIONAL,
.packagecalculator .NO_INTEGER_VARIABLE,
.packagecalculator .NO_PRODUCT_NATIONAL,
.packagecalculator .XXL_THIRD_SITE_OVER_FIFTY,
.packagecalculator .VOLUME_EXCEEDED {
	display:none;
}

.packagecalculator .NO_INTEGER_VARIABLE span,
.packagecalculator .NO_INTEGER_VARIABLE a,
.packagecalculator .NO_PRODUCT_NATIONAL span,
.packagecalculator .NO_PRODUCT_NATIONAL a,
.packagecalculator .XXL_THIRD_SITE_OVER_FIFTY span,
.packagecalculator .XXL_THIRD_SITE_OVER_FIFTY a,
.packagecalculator .NO_PRODUCT_INTERNATIONAL span,
.packagecalculator .NO_PRODUCT_INTERNATIONAL a,
.packagecalculator .VOLUME_EXCEEDED span,
.packagecalculator .VOLUME_EXCEEDED a {
	color: red; 
	font-size: 10px; 
	margin-bottom: 10px;
}

.packagecalculator .NO_INTEGER_VARIABLE a,
.packagecalculator .NO_PRODUCT_NATIONAL a,
.packagecalculator .XXL_THIRD_SITE_OVER_FIFTY a,
.packagecalculator .NO_PRODUCT_INTERNATIONAL a,
.packagecalculator .VOLUME_EXCEEDED a {
	text-decoration:underline;
}

.packagecalculator .infoArea {
  clear: both;
  height: 25px;
}

.shopFinder .paketShopImage {
  margin-top:-5px;
  background: url(../images/websiteelemente/h_paket_shop_small.jpg) no-repeat scroll 0 0 transparent;
  height: 41px;
  width: 38px;
}
.calcTable td.c0 {
	padding: 10px 0 5px 11px;
}

.calcTable td.c1 {
	width: 10%;
	padding: 30px 10px 0 20px;
}

.calcTable td.c2 {
	width: 27%;	
	padding: 110px 5px 0px 20px;
	background-image: url(../images/websiteelemente/paket_pk-ermittler.png);
	background-repeat: no-repeat;
	background-position:50% 25%; 
}

.calcTable td input {
	margin-top: 2px;
}

.calcTable td.c2 input {
	margin-left: 25px;
}

.calcTable td.c2 span {
	margin-left: 25px;
}

.calcTable td.c3 {
	width: 15%;	
	padding: 85px 25px 0 0;
}

.calcTable td.c4 {
	width: 30%;	
	height: 50px;
}

.calcTable td.c5 {
	width: 15%;	
}

.calcTableTeaser td input {
	margin-top: 2px;
}

.calcTableTeaser td.c0 {
	padding: 0 0 5px 11px;
}

.calcTableTeaser td.c1 {
	width: 20%;	
	padding: 25px 10px 0 5px;
	vertical-align: top;
}

.calcTableTeaser td.c2 {
	width: 55%;	
	padding: 95px 5px 5px 20px;
	background-image: url(../images/websiteelemente/paket_pk-ermittler.png);
	background-repeat: no-repeat;
	background-position:50% 25%; 
}

.calcTableTeaser td.c2 span {
	margin-left: 5px;
}

.calcTableTeaser td.c3 {
	width: 25%;		
	padding: 50px 0 0 0;
}

.calcHeader {	
	border-bottom: 1px dotted #0091CD;
  height: 39px;
}

.calcHeader h2 {
    color: #0091CD;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0 5px 11px;
}


.calcButton {
		background-image: url(../images/websiteelemente/sprite.png);
    background-position: 0 -361px;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 19px;
    margin-right: 5px;
    width: 19px;
 }

.calc_package_XS {
  width: 46px;
  height: 46px;
  background-position: 0px 0px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important; 
}

.calc_package_S {
  width: 46px;
  height: 46px;
  background-position: 0px -46px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important;
}

.calc_package_M {
  width: 46px;
  height: 46px;
  background-position: 0 -92px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important;
}

.calc_package_L {
  width: 46px;
  height: 46px;
  background-position: 0 -138px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important;
}

.calc_package_XL {
  width: 46px;
  height: 46px;
  background-position: 0 -185px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important;
}

.calc_package_XXL {
  width: 46px;
  height: 46px;
  background-position: 0 -231px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important;
}

.calc_package_SMALL_PACKAGE {
  width: 46px;
  height: 46px;
  background-position: 0px -276px;
  background-image: url(../images/websiteelemente/icon_packages_onesize.gif) !important;
}

#calculator {
	background-image: url(../images/websiteelemente/form_fieldset_small_bg.gif);
  background-repeat: repeat-x;
  border-top: medium none;
}

.calculator_hint_packagelabel{
 height: 40px;
}

.calculator_hint_teaser{
 height: 50px;
}

#btnCalculator .icon{
    
    background-image: url(../images/websiteelemente/sprite.png);
    background-position: 0 -361px;
    background-repeat: no-repeat;
    display: block;
    height: 19px;
    margin-left: -10px;
    width: 19px;    
}

#btnCalculator span.active{    
    background-position: 0 -342px;
}

#btnCalculator .icon:hover {
 background-position: -19px -361px; 
}

#btnCalculator span.active:hover {
  background-position: -19px -342px;
}


#btnCalculator  .buttonRight{
	margin-left: -1px;
}

#btnCalculator .buttonMiddle {	
	padding-right: 15px;
}

.measureResult .mcol1 {
	float: left;
	width: 170px;
	padding-top: 10px;
}

.measureResult .mcol2 {
	float: right;
	width: 95px;
	padding-top: 10px;
}

#packageCalculation .empfohlenStyle{
	float:left; 
	font-style:italic; 
	padding:4px 0px; 
	height:16px;
}
#packageCalculation .inputFloatAndSpace {
	float:left;
	margin-right: 6px;
}
       
#packageCalculation .fieldlabelright {
	width: 79px;
}
#packageCalculation #btnCalculator .icon {
	margin-left: -7px !important;
}


