/*
$Author: rmarquar $
$Revised: kgar, kschn, relias, joergjul $
$Rev: 71078 $
$Date: 2015-08-19 $
*/


#pricesContent {
  width: 640px;
}

#pricesContent .formWrapper .vAlignMiddle td {
  vertical-align: middle;
}

.content_table td.noLeftBorder,
.content_table th.noLeftBorder {
    border-left:none;
}

/* packages */
.packagingCol {
  width:226px;
}
.packagingHalfCol {
  width:113px;
}
.additionCol {
  width:389px;
}
/* bike shippment */
.baggageCol {
  width:115px;
}
.exampleCol {
  width:146px;
}
.pricesCol {
  width:152px;
}
.servicesCol {
  width:202px;
}

.formContainer .formWrapper .buttonContainer.pricePages {
  margin: 10px 0 5px 0;
}


/* footnotes */
.footNotes {
  background-color: #F2F2F2;
  background-image: url(../images/websiteelemente/form_teaser_bg.gif);
  background-repeat: repeat-x;
  float: left;
  width:616px;
  text-align: left;
}

.footNotes dl {
  margin:15px;
}
.footNotes dt {
  color:#666666;
  float:left;
}
.footNotes dd {
  color:#999999;
  margin:0 0 10px 25px;
  line-height:16px;
}
.footNotes ul {
  margin:15px 0 15px 0;
  padding:15px 15px 0 30px;
  list-style:disc outside;
}
#priceTabs li .footNotes li {
  float:none;
  color:#666666;
  text-align: left !important;
}

.footNotes li span {
  display:block;
  color:#999999;
  margin:0 0 10px 10px;
  line-height:16px;
}

.footNotes .infoText{
  padding: 0 16px 0 16px;
  display:block;
  color: #999999;
}
.footNotes .infoText a {
  color: #999999;
  text-decoration: underline;
}



/* price tabs */

.pricePackageClassCol {
  width:124px;
}
.priceExampleCol {
  width:154px;
}
.pricePackageShopCol {
  width:164px;
}
.priceOnlineCol {
  width:171px;
}

#pricesContent .tabContent .formWrapper {
  margin-right:1px;
}
#pricesContent .tabContent .formSection {
  margin-top:20px;
}

#pricesContent .content_table {
  background-image: url(../images/websiteelemente/form_fieldset_bg.gif);
  background-position: 0 40px;
}
#pricesContent .content_table thead tr th{
  background-image: url(../images/websiteelemente/form_expanded_content_grey_bg.gif);
  background-repeat: repeat-x;
}

#pricesContent .content_table .infoIcon {
  margin:0;
}

.copyService {
  width:437px;
  margin: 0 0 10px 0;
}
div.calcexample {    
    background-repeat: no-repeat;
    margin-bottom: 7px;
    height: 160px;
}


.calc_DEU_SMALL_PACKAGE {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_Paeckchen.png);
}
.calc_DEU_S {
   background-image: url(../images/websiteelemente/MyHermes_Produktdetails_S.png);
}
.calc_DEU_M {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_M.png);
}
.calc_DEU_L {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_L.png);
}
.calc_DEU_XL {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_XL.png);
}
.calc_DEU_XXL {
    background-image: url(../images/websiteelemente/myhermes_produktdetails_xxl~1.png);
}
.calc_CHE_XS,
.calc_LIE_XS {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_XS.png);
}
.calc_CHE_S,
.calc_LIE_S {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_S.png);
}
.calc_CHE_M,
.calc_LIE_M {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_M.png);
}
.calc_CHE_L,
.calc_LIE_L {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_L.png);
}
.calc_DEU_XS,
.calc_AUT_XS,
.calc_BEL_XS,
.calc_CZE_XS,
.calc_DNK_XS,
.calc_ESP_XS,
.calc_EST_XS,
.calc_FIN_XS,
.calc_FRA_XS,
.calc_GBR_XS,
.calc_HUN_XS,
.calc_IRL_XS,
.calc_ITA_XS,
.calc_LTU_XS,
.calc_LUX_XS,
.calc_LVA_XS,
.calc_MCO_XS,
.calc_NLD_XS,
.calc_POL_XS,
.calc_PRT_XS,
.calc_SVK_XS,
.calc_SVN_XS,
.calc_SWE_XS {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_XS.png);
}
.calc_AUT_S,
.calc_BEL_S,
.calc_CZE_S,
.calc_DNK_S,
.calc_ESP_S,
.calc_EST_S,
.calc_FIN_S,
.calc_FRA_S,
.calc_GBR_S,
.calc_HUN_S,
.calc_IRL_S,
.calc_ITA_S,
.calc_LTU_S,
.calc_LUX_S,
.calc_LVA_S,
.calc_MCO_S,
.calc_NLD_S,
.calc_POL_S,
.calc_PRT_S,
.calc_SVK_S,
.calc_SVN_S,
.calc_SWE_S {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_S.png);
}
.calc_AUT_M,
.calc_BEL_M,
.calc_CZE_M,
.calc_DNK_M,
.calc_ESP_M,
.calc_EST_M,
.calc_FIN_M,
.calc_FRA_M,
.calc_GBR_M,
.calc_HUN_M,
.calc_IRL_M,
.calc_ITA_M,
.calc_LTU_M,
.calc_LUX_M,
.calc_LVA_M,
.calc_MCO_M,
.calc_NLD_M,
.calc_POL_M,
.calc_PRT_M,
.calc_SVK_M,
.calc_SVN_M,
.calc_SWE_M {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_M.png);
}
.calc_AUT_L,
.calc_BEL_L,
.calc_CZE_L,
.calc_DNK_L,
.calc_ESP_L,
.calc_EST_L,
.calc_FIN_L,
.calc_FRA_L,
.calc_GBR_L,
.calc_HUN_L,
.calc_IRL_L,
.calc_ITA_L,
.calc_LTU_L,
.calc_LUX_L,
.calc_LVA_L,
.calc_MCO_L,
.calc_NLD_L,
.calc_POL_L,
.calc_PRT_L,
.calc_SVK_L,
.calc_SVN_L,
.calc_SWE_L {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_L.png);
}


.calc_nat_hp {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_Paeckchen.png);
}
.calc_nat_s {
   background-image: url(../images/websiteelemente/MyHermes_Produktdetails_S.png);
}
.calc_nat_m {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_M.png);
}
.calc_nat_l {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_L.png);
}
.calc_nat_xl {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_XL.png);
}
.calc_nat_xxl {
    background-image: url(../images/websiteelemente/myhermes_produktdetails_xxl~1.png);
}
.calc_che_xs {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_XS.png);
}
.calc_che_s {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_S.png);
}
.calc_che_m {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_M.png);
}
.calc_che_l {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_L.png);
}
.calc_int_xs {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_XS.png);
}
.calc_int_s {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_S.png);
}
.calc_int_m {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_M.png);
}
.calc_int_l {
    background-image: url(../images/websiteelemente/MyHermes_Produktdetails_L.png);
}

	