/*
$Author: kgar $
$Revised: kgarzareck, relias $
$Rev: 61026 $
$Date: 2014-10-21 $
*/

.table.content_table.morecolumns.sport .middle.twoline .infoIcon{
	margin:0px !important;
}

.table.content_table.morecolumns .placeholder-icon,
.table.content_table.singlecolumns .placeholder-icon{
	display:block;
	width:25px;
	height:35px;
}

.table.content_table.morecolumns td.empty{
	border-top:0px;
}

.table.content_table.morecolumns .price-block td.parcelclasses{
	border-right:20px;
    background-color: #F2F2F2;
	width:28%;
	padding-left:4px;
	padding-right:4px;
}

.table.content_table.morecolumns .price-block t.price.middle{
	background-color: #F2F2F2;
}

.table.content_table td.baggage-name .infoIcon{
	float:none;
	display:inline-block;
	margin:0px;	
}

.price-table table.content_table th:first-child{
	width:220px;
}

.price-table table.content_table td.price .productInformation{
	color:#0091CD;
}

.table.content_table.morecolumns.sport td.price{
	vertical-align:top;
	padding-top:15px !important;
}


.price-table{
	background-attachment: scroll;
    background-clip: border-box;
    
    background-image: url(../images/websiteelemente/form_fieldset_small_bg.gif);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: auto auto;
    float: left;
    position: relative;
    margin-left:21px;

	width:616px;
}

.price-table h2{
	border-bottom-color: #0091CD;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: #0091CD;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 0;
    padding-top: 15px;
}

.price-table .formWrapper{
	margin-left:0px;
	width:600px;
}

table#baggage .baggage-name{
	color:#666666;
}

.price-table table#baggage{
	width:615px;
}

.table.teaser{
	width:587px;
	padding-bottom:0px;
}

.table.table.content_table.morecolumns td.parcelclasses h2.short{
	font-size:12px !important;
	margin-right:-6px !important;
	color:#666666;
}



.table.table.content_table.morecolumns tr.sportgepaeck td.parcelclasses .infoIcon{
	float:right;
}
	
.table.content_table.morecolumns,
.table.content_table.singlecolumns{
	margin-left:-13px;
	//width:620px;
    width:615px;
}

.table.content_table td.price{
	padding:5px 5px 15px 5px;
	text-align:center;
	vertical-align:top;
}

.table.content_table.morecolumns td > span{
	float:none;
}
table.content_table.morecolumns th,
table.content_table.morecolumns td.center.firstrow{
	//width:30%;
}

table.content_table.morecolumns td.center.firstrow.second{
	width:33%;
	padding-right:3px;
	padding-left:3px;
}

table.content_table.morecolumns td.center.firstrow p,
table.content_table.singlecolumns td.center.firstrow p{
	font-size:11px;
}

.table.content_table.morecolumns th:first-child{
	white-space:nowrap;	
	padding-right:24px;
}

.table.content_table.singlecolumns th:first-child{
	width:23%;
}

.table.content_table.singlecolumns td.price .infoIcon.text{
	display:inline;
}


.table.content_table.morecolumns h3,
.table.content_table.singlecolumns h3{
	border:0px;
	margin-top:5px;
	margin-bottom:5px;
}

.table.content_table.morecolumns h3.short{
	font-size:12px;
}

.table.content_table.morecolumns h3 .productInformation,
.table.content_table.singlecolumns h3 .productInformation{
	color: #0091CD;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-left: -14px;
	margin-right: -14px;
	margin-top: 10px;
	display:block;
	padding-bottom: 9px;
	padding-left: 14px;
	padding-right: 0;
	padding-top: 0;
}

.price .productInformation,
.table.content_table.morecolumns .price span.baggageProductInformation,
table#baggage .baggageProductInformation, .price .show_price{
	color:#0091CD;
}


.table.content_table .price_text,
.table.content_table.morecolumns .price_text .productInformation,
.table.content_table.singlecolumns .price_text,
.table.content_table.singlecolumns .price_text .productInformation{
	font-size:9px;
	padding-bottom:10px;
}

.country_text{
	display:block;
	padding-bottom:10px;
	font-size:11px;
}

select#countrySelect{
	display:block;
	margin-bottom:20px;
}

table th.center, 
table tr.center, 
table td.center{
	text-align:center;
	font-size:14px;
	padding:10px 5px 10px 3px;
	vertical-align:top;
}

table th.center{
	white-space:nowrap;
	padding-bottom:15px;
	font-size:13px;
}

table.content_table .infoIcon{
	vertical-align:top !important;
}

table.content_table tr.price-block td.parcelclasses .infoIcon{
	margin-top:3px;
}

table.content_table tr.price-block td.parcelclasses .infoIcon a.detailsLink{
	font-size:11px;
}

table.content_table .action-symbol{
	display:block;
	margin:0px;
}

p.block{
	display:block;
	//margin-top:10px;
}

.textLink.underline{
	text-decoration:underline;
	font-size:11px;
}
	
.table.content_table.morecolumns td.price{
	text-align:center;
	background:#f9f9f9;
}

.table.content_table.morecolumns td.center.firstrow{
	background:#f9f9f9;
}


td.price .ebay-price{
	margin-top:15px;
	display:block;
}

td.price .ebay .infoIcon{
	margin:0px;
}



table.table.content_table.morecolumns tr.subheadline .infoIcon{
	margin:0px 0px 0px 5px;
	float:right;
}

table.table.content_table.morecolumns tr.subheadline td.middle{
	padding-top:10px;
	padding-bottom:10px;
	background:#f9f9f9;
}

table.table.content_table.morecolumns tr.subheadline td.middle.twocol,
.table.content_table.morecolumns td.price.middle,
.table.content_table.morecolumns td.center.firstrow.second{
	background:#F2F2F2;
}

td.middle{
	padding-bottom:0px;
}

td.middle, td.middle p{
	vertical-align:top;
	text-align:center;
	font-size: 11px;
	padding-left: 3px !important;
	padding-right: 5px !important;   
}

td.middle p{
	padding-bottom:0px !important;
	white-space:nowrap;
}

td.middle p span.small{
	font-size:10px;
	color:#666666;
}

td.price .infoIcon.text{
	display:block;
	margin:0px;
	padding:0px;
}

td.price .infoIcon.text .textLink{
	text-decoration:underline;
	font-size:11px;
}

td.price .infoIcon.text .infoIconImageText.textLink{
	white-space:nowrap;
	cursor:pointer;
}


.contContainer .infoIcon.textLink.underline{
	background-image:none;
	font-size:12px;
	padding:0px;
}





table.table.content_table.singlecolumns td.parcelclasses h2{
	border:0px !important;
}
