/*
$Author: ? $
$Revised: relias $
$Rev: 61014 $
$Date: 2014-10-23 $
*/

.inactiveCell .textLink {
	background-position: -16px -12px;
}

/* ---- Content Table ----- */
/* padding/cell = 15 10 15 10; margin/cell = 0 0 0 0; borders: 6x 1px => 156px; tabel-w = 936px => 936 - 156 = 780px for cellwidth */
.table_orderOverview .receiverCol {
	width: 111px;
}
.table_orderOverview .mailingIdCol {
	width: 117px;
}
.table_orderOverview .priceCol {
	width: 71px;
}
.table_orderOverview .lastEditCol {
	width: 108px;
}
.table_orderOverview .lastStateCol {
	width: 173px;
}
.table_orderOverview .mailingHistoryCol {
	width: 100px;
}
.table_orderOverview .mailingDetailsCol {
	width: 100px;
}


/* padding/cell = 15 10 15 10; margin/cell = 0 0 0 0; borders: 1x 1px => 41px; tabel-w = 936px => 936 - 41 = 895px for cellwidth */
.table_orderDetails .senderCol {
	width: 447px;
}
.table_orderDetails .receiverCol {
	width: 448px;
}

/* padding/cell = 15 10 15 10; margin/cell = 0 0 0 0; borders: 2x 1px => 62px; tabel-w = 936px => 936 - 62 = 874px for cellwidth */
.table_shipmentDetails .dateCol {
	width: 100px;
}
.table_shipmentDetails .timeCol {
	width: 60px;
}
.table_shipmentDetails .stateCol {
	width: auto;
}

/* padding/cell = 15 10 15 10; margin/cell = 0 0 0 0; borders: 1x 1px => 41px; tabel-w = 936px => 936 - 41 = 895px for cellwidth */
.table_shipmentDetails2 .deliveryCol,
.table_shipmentDetails2 .receiverCol {
	/*width: 447px;*/
}
.table_shipmentDetails2 .mailingCol,
.table_shipmentDetails2 .paymentCol {
	/*width: 448px;*/
}
.table_shipmentDetails2 th{
	background:#ffffff;
}
.table_shipmentDetails2 td{
	/*background:#f2f2f2;*/
}

/* padding/cell = 15 10 15 10; margin/cell = 0 0 0 0; borders: 5x 1px => 125px; tabel-w = 936px => 936 - 125 = 811px for cellwidth */
.table_voucherOverview .receiverCol {
	width: 111px;
}
.table_voucherOverview .mailingIdCol {
	width: 117px;
}
.table_voucherOverview .packageRegistrationCol {
	width: 119px;
}
.table_voucherOverview .lastEditCol {
	width: 120px;
}
.table_voucherOverview .lastStateCol {
	width: 240px;
}
.table_voucherOverview .mailingHistoryCol {
	width: 104px;
}

.table_orderDetails td,
.table_shipmentDetails2 td {
	border-left: 0px;
	padding: 7px 10px;
}
.table_orderDetails .labelCell,
.table_shipmentDetails2 .labelCell {
	border-left: 1px solid #CCD1D5!important;
}
.table_orderDetails .labelCell.labelCellFirst,
.table_shipmentDetails2 .labelCell.labelCellFirst {
	border-left: 0px!important;
}
.table_orderDetails td,
.table_shipmentDetails2 td {
	color: #333333;
}
.table_orderDetails td.labelCell,
.table_shipmentDetails2 td.labelCell{
	color:#666666;
}

.inactiveCell * {
	color: #ccc!important;
}


/* big icons */
.shipment_icon_handover,
.shipment_icon_base,
.shipment_icon_chain_store,
.shipment_icon_delivery,
.shipment_icon_delivered {
	display: block;
	width: 160px;
	padding-top: 110px;
	float: left;
	background-image: url(../images/websiteelemente/mailing_icons.jpg);
	background-repeat: no-repeat;
	text-align: center;
	color: #0091CD;
}
.shipment_icon_base, .shipment_icon_chain_store,
.shipment_icon_delivery,
.shipment_icon_delivered {
	margin-left: 27px;
}
.shipment_icon_handover.shipment_icon_past {
	background-position:   27px 0px;
}
.shipment_icon_handover.shipment_icon_present {
	background-position: -213px 0px;
}
.shipment_icon_handover.shipment_icon_future {
	background-position: -453px 0px;
}
.shipment_icon_base.shipment_icon_past {
	background-position:   27px -220px;
}
.shipment_icon_base.shipment_icon_present {
	background-position: -213px -220px;
}
.shipment_icon_base.shipment_icon_future {
	background-position: -453px -220px;
}
.shipment_icon_chain_store.shipment_icon_past {
	background-position:   27px -440px;
}
.shipment_icon_chain_store.shipment_icon_present {
	background-position: -213px -440px;
}
.shipment_icon_chain_store.shipment_icon_future {
	background-position: -453px -440px;
}
.shipment_icon_delivery.shipment_icon_past {
	background-position:   27px -660px;
}
.shipment_icon_delivery.shipment_icon_present {
	background-position: -213px -660px;
}
.shipment_icon_delivery.shipment_icon_future {
	background-position: -453px -660px;
}
.shipment_icon_delivered.shipment_icon_past {
	background-position:   27px -880px;
}
.shipment_icon_delivered.shipment_icon_present {
	background-position: -213px -880px;
}
.shipment_icon_delivered.shipment_icon_future {
	background-position: -453px -880px;
}

#shipmentDetails .content_table {
  background-image: url(../images/websiteelemente/form_expanded_content_grey_bg.gif);
	background-position: 0 44px;
  background-repeat: repeat-x;
  background-color: #f2f2f2;
}

#shipmentDetails .bottomBorder {
  border-bottom: 1px solid #CCD1D5;
}

col.labelCol{
	width:176px;
}
col.contentCol{
	width:292px;
}

.labelDeliveryForecast {
    color: #0191cd;
    padding-right: 5px;
}
