/*
$Author: skoe $
$Revised: skoe, relias $
$Rev: 78317 $
$Date: 2016-09-26 $
*/

#rowBIKEBAGGAGE{
	background: url(../images/websiteelemente/baggage_shipment_80x50_fahrrad.jpg) no-repeat scroll left center transparent;
}
#rowTRAVELBAGGAGE{
	background: url(../images/websiteelemente/baggage_shipment_80x50_gepaeck.jpg) no-repeat scroll left center transparent;
}
#rowSPORTBAGGAGE{
	background: url(../images/websiteelemente/baggage_shipment_80x50_sondergepaeck.jpg) no-repeat scroll left center transparent;
}

.formContainerContent .boxHeader {
  	background-image:url(../images/websiteelemente/form_fieldset_small_bg.gif);
  	background-repeat: repeat-x;
  	border-top: none;
	background-color: #F3F3F3;
}

.contentWrapperConfirm.formContainerContent  {
	clear: both;
	float: left;
	width:620px;
	padding-right: 20px;
}
.formContainerContent .imgContainerConfirm{
	clear:both;
	float:left;
	border-bottom:1px solid #CCD1D5;
	padding: 15px 0;
	width: 618px;
}
.formContainerContent .imgContainerConfirm > ul > li {
    float: left;
    font-size: 10px;
    list-style-image: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 154px;
}

.formContainerContent .imgContainerMobileConfirm li {
    float: left;
    font-size: 10px;
    list-style-image: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 154px;
}

.formContainerContent .contentContainerConfirm {
    clear: both;
	display:table;
    width:100%;
}
.formContainerContent .leftContainerConfirm{
	display:table-cell;
	width: 380px;
	word-wrap: break-word;
}
.formContainerContent .contentLeftContainerConfirm {
	width: 352px;
}

.formContainerContent .contentRightContainerConfirm {
	display:table-cell;
	background-color: #F8F8F8;
	width: 185px;
	border-left:1px solid #CCD1D5;
}

.formContainerContent .footerContainerConfirm {
	float:left;
	clear:both;
	border-top: 1px solid #ccd1d5;
    width: 590px;
}
.formContainerContent .teaser ul {
	padding: 0;
}
.formContainerContent .teaser {
	margin-left: 0px;
}
.formContainerContent .contentLeftContainerConfirm, 
.formContainerContent .footerContainerConfirm, 
.formContainerContent .linksLeftContainerConfirm{
    padding: 15px 14px;
}
.formContainerContent .contentRightContainerConfirm {
	padding: 15px 0 15px 15px;
}
.formContainerContent .contentLeftContainerConfirm ul {
	float: left;
}
.formContainerContent .contentLeftContainerConfirm > ul > li {
    list-style-image: none;
    margin: 0;
    padding: 0 8px 8px 0;
}
.contentWrapperConfirm.formContainerContent h2 {
	padding:15px 14px;
	border-bottom: 1px dotted #0091CD;
}
.contentWrapperConfirm.formContainerContent h3 {
	margin-bottom: 13px;
	font-weight: bold;
	color:#666666;
}
.formContainerContent fieldset {
	margin:6px 5px;
}
.formContainerContent .buttonContainer.floatRight{
	margin:10px 15px 0 0;
}
.formContainerContent .spacer {
	padding:5px 0 5px 0;
}

.formContainerContent .contentRightContainerConfirm .firstLi{
	background-image: url(../images/websiteelemente/image.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: #0091CD;
    font-weight: bold;
    list-style-image: none;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-left: 35px;
    padding-top: 5px;
}

.formContainerContent .contentRightContainerConfirm ul li {
	list-style-image:url(../images/websiteelemente/teaser_li_bullet.png);
	margin-left: 20px;
	padding:0 0 7px;
}

.contentWrapperConfirm.formContainerContent a:focus,
.contentWrapperConfirm.formContainerContent a:hover,
.contentWrapperConfirm.formContainerContent a:active {
  color: #0091cd;
}

.formContainerContent .parcelshopstyle {
	float: left;
    margin-right:10px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.formContainerContent .parcelshopstyle img{
	float: left;
}
.formContainerContent .parcelshopstyle span{
	font-size:10px;
	float:left;
}
.formContainerContent .parcelshopstyle a {
    font-size: 10px;
}

.formContainerContent .linksLeftContainerConfirm{ 
        border-top: 1px solid #ccd1d5; 
} 

#baggageShipmentConfirmPage .infoIcon,
#packageLabelConfirmPageBlock .infoIcon{
	margin:8px 0 0 10px;
}

.contentLeftContainerConfirm .totalCostStyle {
	color:#0091CD; 
	font-weight:bold;
}

.contentRightContainerConfirm.loggedIn {
	padding:0; background-color: #F2F2F2; width: 235px;
}

.footerContainerConfirm .confirmShops {
	float:right; 
	width:200px;
}

#myhermesPackageLabel .formFieldset,
#myhermesBaggageShipment .formFieldset {
	padding: 15px 16px 8px 16px;
}

#myhermesPackageLabel div.submitButton,
#myhermesBaggageShipment div.submitButton {
	padding-top: 5px;
}

#myhermesPackageLabel div.submitButton input,
#myhermesBaggageShipment div.submitButton input {
	background:
		url(../images/websiteelemente/submitbutton_shipment.png)
		no-repeat;
	cursor: pointer;
	width: 200px;
	height: 27px;
	border: none;
	color: white;
	text-align: left;
	padding-left: 27px;
}

#myhermesPackageLabel .fontSmallCenter,
#myhermesBaggageShipment .fontSmallCenter {
	font-size: 0.8em;
	display: block;
	text-align: center;
}

#myhermesPackageLabel label.bold,
#myhermesBaggageShipment label.bold {
	font-weight: bold;
}

#tollPrivateLightBox {
	width: 600px;
	text-align: left;
	margin: 10px 10px 20px 10px;
}

#tollPrivateLightBox .toolTipMid .buttonContainer {
	margin: 10px 10px 20px 10px;
}

#myhermesPackageLabel .dpicker fieldset,
#myhermesBaggageShipment .dpicker fieldset {
	margin-bottom: 10px;
}

#myhermesPackageLabel .packageChoice input[type=button],
#myhermesBaggageShipment .packageChoice input[type=button] {
	height: 25px;
	width: 20px;
	background: none;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
}

#myhermesPackageLabel .packageChoice .wrapperPlusMinusInput .active input[type=button],
#myhermesBaggageShipment .packageChoice .wrapperPlusMinusInput .active input[type=button] {
	color: #0091CD;
}

#myhermesPackageLabel .packageChoice .wrapperPlusMinusInput .deactive input[type=button],
#myhermesBaggageShipment .packageChoice .wrapperPlusMinusInput .deactive input[type=button] {
	color: #7F7F7F;
}

#myhermesPackageLabel .packageChoice,
#myhermesPackageLabel .packageChoice table, 
#myhermesPackageLabel.expandedTable,
#myhermesPackageLabel .expandedTable table,
#myhermesBaggageShipment .packageChoice,
#myhermesBaggageShipment .packageChoice table, 
#myhermesBaggageShipment.expandedTable,
#myhermesBaggageShipment .expandedTable table {
	background-image: none !important;
	background-color: #F2F2F2 !important;
}

#myhermesBaggageShipment .packageChoice th {
	vertical-align: top;
}

#myhermesBaggageShipment .packageChoice .row {
	border-top: 1px solid #CCD1D5;
}

#myhermesPackageLabel .packageChoice .row {
	border-top: 1px solid #CCD1D5;
	float: left;
	width: 100%;
}

#myhermesPackageLabel .packageChoice .col1,
#myhermesBaggageShipment .packageChoice .col1 {
	padding: 8px 0px 8px 15px;
	background: none;
	width: 300px;
}

#myhermesPackageLabel .packageChoice .col1,
#myhermesPackageLabel .packageChoice .col2,
#myhermesPackageLabel .packageChoice .col3 {
	float: left;
}

#myhermesPackageLabel .packageChoice .col2,
#myhermesBaggageShipment .packageChoice .col2 {
	padding: 8px 25px 8px 7px;
	width: 50px;
}

#myhermesPackageLabel .packageChoice .col2 input[type=text],
#myhermesBaggageShipment .packageChoice .col2 input[type=text] {
	height: 25px;
	text-align: center;
	width: 25px;
}

#myhermesPackageLabel .packageChoice .col3,
#myhermesBaggageShipment .packageChoice .col3 {
	padding: 8px 0px 8px 15px;
	border-left: none;
	border-right: none;
	width: 85px;
}

#myhermesPackageLabel .packageChoice .col3 input[type=text],
#myhermesBaggageShipment .packageChoice .col3 input[type=text] {
	height: 25px;
	text-align: center;
	width: 25px;
}

#productTableHead .col3 .infoIconContainer .infoIcon {
	float:left;
}

#myhermesBaggageShipment .packageChoice .col4 {
	padding: 8px 15px 8px 10px;
	width: 75px;
	text-align: right;
}

#myhermesPackageLabel .packageChoice .col4 {
	padding: 8px 15px 8px 0px;
	width: 85px;
	text-align: right;
	float: right;
}

#myhermesPackageLabel .packageChoice .wrapperPlusMinusInput,
#myhermesBaggageShipment .packageChoice .wrapperPlusMinusInput {
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: -1px -1px 0px rgb(211, 213, 214);
	width: 72px;
	white-space: nowrap;
	border-color: #CCCCCC #ECEEF0 #ECEEF0 #CCCCCC;
}

#myhermesPackageLabel .packageChoice .plusMinusActive,
#myhermesBaggageShipment .packageChoice .plusMinusActive {
	background-color: #FFFFFF;
}

#myhermesPackageLabel .packageChoice .buttonPackageChoice,
#myhermesBaggageShipment .baggageChoice .buttonBaggageChoice {
	cursor: pointer;
}

#myhermesPackageLabel .packageChoice .plusMinusDeactive,
#myhermesBaggageShipment .packageChoice .plusMinusDeactive {
	background-color: #F3F3F3;
}

#myhermesPackageLabel #productTableHead {
	float: left;
}

#myhermesPackageLabel #productTableHead .col1,
#myhermesPackageLabel #productTableHead .col2,
#myhermesPackageLabel #productTableHead .col3,
#myhermesPackageLabel #productTableHead .col4 {
	font-weight: bold;
}

#myhermesPackageLabel #productTableBody {
	float: left;
}

#myhermesPackageLabel .rowDisabled span,
#myhermesBaggageShipment .rowDisabled span {
	color: #b9b8b8 !important;
}

#myhermesBaggageShipment .dpicker fieldset {
	margin-bottom: 10px;
}

#myhermesBaggageShipment .baggageChoice input[type=button] {
	height: 25px;
	width: 20px;
	background: none;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
}

#myhermesBaggageShipment .baggageChoice .wrapperPlusMinusInput .active input[type=button] {
	color: #0091CD;
}

#myhermesBaggageShipment .baggageChoice .wrapperPlusMinusInput .deactive input[type=button] {
	color: #7F7F7F;
}

#myhermesBaggageShipment .baggageChoice {
	background-image: none !important;
	background-color: #F2F2F2 !important;
	float: left;
}

#myhermesBaggageShipment .baggageChoice th {
	vertical-align: top;
}

#myhermesBaggageShipment .baggageChoice .row {
	border-top: 1px solid #CCD1D5;
	float: left;
	width: 100%;
}

#myhermesBaggageShipment .baggageChoice .col1 {
	padding: 8px 0px 8px 15px;
	background: none;
	width: 80px;
	float: left;
}

#myhermesBaggageShipment .baggageChoice .col2 {
	padding: 8px 0px 8px 85px;
	width: 270px;
	float: left;
}

#myhermesBaggageShipment .baggageChoice .col2 input[type=text] {
	height: 25px;
	text-align: center;
	width: 25px;
}

#myhermesBaggageShipment .baggageChoice .col3 {
	padding: 8px 0px 8px 15px;
	border-left: none;
	border-right: none;
	width: 80px;
	float: left;
}

#myhermesBaggageShipment .baggageChoice .col3 input[type=text] {
	height: 25px;
	text-align: center;
	width: 25px;
}

#myhermesBaggageShipment .baggageChoice .col4 {
	padding: 8px 15px 8px 10px;
	width: 75px;
	text-align: right;
	float: right;
}

#myhermesBaggageShipment .baggageChoice .wrapperPlusMinusInput {
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: -1px -1px 0px rgb(211, 213, 214);
	width: 72px;
	white-space: nowrap;
	border-color: #CCCCCC #ECEEF0 #ECEEF0 #CCCCCC;
}

#myhermesBaggageShipment .baggageChoice .plusMinusActive {
	background-color: #FFFFFF;
}

#myhermesBaggageShipment .baggageChoice .buttonPackageChoice {
	cursor: pointer;
}

#myhermesBaggageShipment .baggageChoice .plusMinusDeactive {
	background-color: #F3F3F3;
}

#myhermesBaggageShipment .rowDisabled span {
	color: #b9b8b8 !important;
}

#myhermesBaggageShipment .baggageChoiceStyle .buttonContainer {
	margin: 10px !important;
}

#myhermesBaggageShipment .baggageChoiceStyle .formFieldset,
#myhermesBaggageShipment .baggageChoiceStyle .formFieldsetData,
#myhermesBaggageShipment .baggageChoiceStyle .formFieldsetJS {
	padding: 0;
	width: 617px;
}

#myhermesBaggageShipment .col1.head,
#myhermesBaggageShipment .col2.head,
#myhermesBaggageShipment .col3.head,
#myhermesBaggageShipment .col4.head {
	font-weight: bold;
}

#myhermesBaggageShipment .col1.footer,
#myhermesBaggageShipment .col4.footer {
	height: 25px;
	width: 200px;
}

#myhermesBaggageShipment #productTableBody .infoIcon {
	margin: 0;
	float: left;
}

#myhermesBaggageShipment .formContainer p {
	width: 100%;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .formFieldset,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .formFieldset {
	width: 274px;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .formFieldset fieldset,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .formFieldset fieldset {
	margin-bottom: 10px;
	width: 100%;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .formFieldset .twoRowLabel label,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .formFieldset .twoRowLabel label {
	padding-top: 0px;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .formFieldset .twoRowLabel input,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .formFieldset .twoRowLabel input {
	margin-top: 3px;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .fieldlabelleft,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .fieldlabelleft {
	width: 100px;
	float: left;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .requiredOrInfo {
	width: 83px;
	float: left;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .inputRegular,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .inputRegular {
	width: 152px;
	float: right;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .inputMedium,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .inputMedium {
	width: 95px;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .inputSmall,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .inputSmall {
	width: 40px;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .infoIcon,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .infoIcon {
	float: right;
	margin: 0;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .floatRight,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .floatRight {
	float: right;
}

#myhermesPackageLabel #packageLabelCreateForm .addressfieldset .floatleft,
#myhermesBaggageShipment #baggageShipmentCreateForm .addressfieldset .floatleft {
	float: left;
}

#myhermesPackageLabel #packageLabelCreateForm .left,
#myhermesBaggageShipment #baggageShipmentCreateForm .left {
	float: left;
}

#myhermesPackageLabel #packageLabelCreateForm .right,
#myhermesBaggageShipment #baggageShipmentCreateForm .right {
	border-left: 1px solid #CCD1D5;
	float: right;
}

#myhermesPackageLabel .packageChoiceStyle .buttonContainer {
	margin: 10px !important;
}

#myhermesBaggageShipment .disabledPriceFormat{
		font-size: 13px;
		color: #B9B8B8;
}

#myhermesBaggageShipment .enabledPriceFormat{
		font-size: 13px;
		color: #0091CD;
}

#myhermesBaggageShipment .disabledIslandSurchagPriceFormat{
		font-size: 13px;
		color: #B9B8B8;
}

#myhermesBaggageShipment .islandSurchageFormat{
		font-size: 12px;
		color: #B9B8B8;
}

#myhermesPackageLabel .containerSmallAndMediumInput,
#myhermesBaggageShipment .containerSmallAndMediumInput {
	float: right;
	width: 164px;
}

#myhermesPackageLabel #pickUpDateBlock .infoIcon,
#myhermesBaggageShipment #pickUpDateBlock .infoIcon {
	margin: 10px 0 0 10px;	
}

#myhermesPackageLabel .packageChoiceStyle .expandedTable,.packageChoiceStyle .expandedTable table {
	width: 617px;
}

#myhermesPackageLabel .packageChoiceStyle .formFieldset,.packageChoiceStyle .formFieldsetData,.packageChoiceStyle .formFieldsetJS {
	padding: 0;
	width: 617px;
}

#myhermesPackageLabel #calculator .calculator_hint_packagelabel {
	height: auto;
	padding-right: 5px;
}

#myhermesPackageLabel #calculator .calculator_hint_packagelabel .errorMsg {
	color: red;
	margin: 0;
}

#myhermesPackageLabel #calculator .infoTextOtherPackageS, 
#myhermesPackageLabel #calculator .infoTextOtherPackageHP,
#myhermesPackageLabel #calculator .infoTextOtherPackageS span, 
#myhermesPackageLabel #calculator .infoTextOtherPackageHP span {
	color: #0091CD; 
	font-size: 10px; 
	margin-bottom: 10px;
	display:none;
}

#myhermesPackageLabel #calculator .infoTextOtherPackageS span, 
#myhermesPackageLabel #calculator .infoTextOtherPackageHP span {
	cursor:pointer;
	display:inline;
	text-decoration:underline;
}

#myhermesPackageLabel #btnCalculator .icon {
	margin-left: -7px;
}

#myhermesPackageLabel .packagingDescription,
#myhermesBaggageShipment .packagingDescription {
	float: left; 
	padding-right: 5px; 
	color: #0091CD; 
	font-size: 13px;
}

#myhermesBaggageShipment #overallPrice {
	font-weight: bold; 
	font-size: 20px;
}

#myhermesBaggageShipment .firstChildSmall .firstRow {
	margin-bottom: 18px;
}

#myhermesPackageLabel .packageBulky {
	font-size: 0.8em;
	font-weight:normal;
}

#myhermesPackageLabel .productSize {
	float:left;
	font-size: 0.8em;
}

#myhermesPackageLabel .productTotaqlPrice {
	font-weight: bold; 
	font-size: 20px;
}