/*
$Author: skoe $
$Revised: skoe, relias, joergjul $
$Rev: 71078 $
$Date: 2015-08-24 $
*/

?.slideShowWrapper {
	position:relative;
	margin:-14px;
	height:359px;
}
#slideshow,
#thumbs-min{
	position:absolute;
}
#slideshow{
	z-index:1;
}
#thumbs-min{
	bottom:11px;
	left:17px;
	z-index:2;
}

#slideshowContent{
	padding:0;
}
#slideshowContent li {
	list-style: none;
	display: none;
	padding: 0;
  left: 0;
  top: 0;
  margin-left: 0;
}

/* teaser button */

#slideshowContent li .buttonContainer{
	position:absolute;
	right:18px;
	bottom:15px;
}

#slideshowContent li a:hover .buttonContainer .buttonBlue .buttonMiddle{
	background:#2ab3e5;
}
#slideshowContent li a:hover .buttonContainer .buttonBlue .buttonLeft{
	background-position:-13px -160px;
}
#slideshowContent li a:hover .buttonContainer .buttonBlue .buttonRight{
	background-position:-26px -160px;
}


/* slide-navigation */

#slide_nav{
	padding: 0;
}
/*
#slide_nav li{
	float:left;
	list-style: none;
	padding:0;
	background: url(../images/websiteelemente/sprite.png);
	background-position: -48px -140px;
	margin:0 5px 0 0;
	width:20px;
	height:20px;
	line-height:19px;
	text-align:center;
	color:#0698d5;
	cursor: pointer;
}
#slide_nav li#button_selected{
	background-position: -48px -120px;
	color:#ffffff;
}
*/

#slide_nav a {
    background: url("../images/websiteelemente/sprite.png") repeat scroll -48px -140px rgba(0, 0, 0, 0);
    color: #0698d5;
    cursor: pointer;
    float: left;
    height: 20px;
    line-height: 19px;
    list-style: none outside none;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
}
#slide_nav a.activeSlide {
    background-position: -48px -120px;
    color: #ffffff;
}

/* small slideshow */

.slideShowTeaserSmall #thumbs-min {
  bottom: 10px;
  left: 5px;
  z-index: 5;
}

.slideShowTeaserSmall #slideshowContent li .buttonContainer{
	right:16px;
	bottom:14px;
}

/* js fallback */
.noScript #slideshowContent li.first{
	display:inline;
}

.noScript #thumbs-min{
	display:none;
}