/*
$Author: relias $
$Revised: skoeppe $
$Rev: 62053 $
$Date: 2015-03-06 $
*/

/*----- Tabs -----*/
#tabs {
    width:100%;
    display:inline-block;
}
	#tabs ul {
		padding: 0 0 0 15px;
		width: 100%
	}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    #tabs .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }

    #tabs .tab-links li {
        float:left;
        list-style:none;
    }

    #tabs .tab-links a {
        padding:9px 15px;
        display:inline-block;
        color:#7A8BA0;
        transition:all linear 0.15s;
		text-align: center;
    }
 
    #tabs .tab-links a:hover {
        background:#a7cce5;
        text-decoration:none;
    }
 
     #tabs .tab-links li.first a {
		margin-left: -34px;
        border-radius:6px 0px 0px 0px;
		border: 1px solid #ccd1d5;
		width: 174px;
    }

    #tabs .tab-links li.mid a {
		margin-left: -6px;
        border-radius: 0px;
		border: 1px solid #ccd1d5;
		width: 173px;
    }
    
    #tabs .tab-links li.last a {
		margin-left: -6px;
        border-radius: 0px 6px 0px 0px;
		border: 1px solid #ccd1d5;
		width: 174px;
    }
 
    #tabs .tab-links  li.active a, #tabs .tab-links  li.active a:hover {
        background:#0091CD;
        color:#FFFFFF;
		border: 1px solid #0091cd;
    }
 
    /*----- Content of Tabs -----*/
    #tabs .tab-content {
        border-radius:3px;
    }
 
        #tabs .tab-content .tab-info {
			background: none repeat scroll 0% 0% #0091cd;
			vertical-align: middle;
			margin: auto -14px;
			margin-top: -7px;
			padding-left: 14px;
			color: #ffffff;
			height: 35px;
        }

		#tabs .tab-content .table.content_table.morecolumns th:first-child {
		    padding-right: 0px;
		}

		#tabs .tab-content .table.content_table.morecolumns .price-block td.parcelclasses {
			width: 22%;
		}

		#tabs .tab-content .tab-info img {
			vertical-align: middle;
		}

		#tabs .tab-content h3 {
			text-align: center;
		}

		#tabs .tab-content .create_parcellink a {
			color: #0091cd;
		}

		#tabs .tab-content .addInfo {
			color: #0091cd;
			font-size: 10px;
		}

		#tabs .tab-content .tab-destination {
			float: left; 
			margin: 15px 0px;
		}

		#tabs .tab-content .tab-destination .country {
			float: left; 
			vertical-align: middle; 
			height:100%; 
			padding-top: 10px; 
			padding-right: 10px
		}

		#tabs .tab-content .tab-destination select#countrySelect {
			margin: 0px;
		}

		#tabs .tab-content td.price {
			padding: 15px 5px;
			vertical-align: middle;
		}

		#tabs .tab-content td.price .infoIcon {
			margin: 0px;
		}

        #tabs .tab-content .tab {
            display:none;
        }
 
        #tabs .tab-content .tab.active {
            display:block;
        }

        #tabs .tab-content .fussnote {
			padding-top: 14px;
			padding-bottom: 14px;
			float: left;
			height: 60px;
        }

        #tabs .tab-content .fussnote .imgContainer {
			float: left;
        }

        #tabs .tab-content .fussnote .textContainer {
			float: left;
        }
        #tabs .tab-content .fussnote .textContainer h2 {
			border: 0;
			line-height: 50px;
        }

        #tabs .tab-content .fussnote .textContainer h2 a {
			text-decoration: underline;
			font-size: 12px;
			color: #666666;
        }

        #tabs .tab-content .fussnote .buttonContainer {
			float: right;
			margin-left: 30px;
			margin-top: 17px;
        }


.sliderMedium {
    float: left;
	margin-left: 21px;
    margin-bottom: 16px;
    padding: 0 14px 15px 14px;
    position: relative;
	background-color:#f2f2f2;
	height:157px;
}

.sliderImgContainer {
	height:115px;
	overflow:hidden;
	float:left;
}

.sliderImgContainer a{
	text-decoration: underline;
}

.sliderMedium.curved::before {
	top:40px !important;
}

.sliderMediumTabs {
	background-color:#ffffff;
	border-bottom: 1px dotted #0091cd;
    color: #0091cd;
    font-size: 16px;
    font-weight: normal;
    margin: 0 -14px 11px;
    padding: 0 !important;
	float:left;
	width:617px;
}
.sliderMediumTab {
	background:url("../images/websiteelemente/form_fieldset_small_bg.gif") repeat-x scroll 0 0 #f2f2f2;
	float: left;
    margin: 0 9px -1px 0;
	color:#0091cd;
	font-size: 16px;
    font-weight: normal;
	padding:15px 14px 9px;
	cursor:pointer;
	text-align:center;
}

.sliderMediumTab a{
	text-decoration:underline;
}

.sliderMediumTab:hover {
	color:#0091cd !important;
}

.contContainer-tab1,
.contContainer-tab2,
.contContainer-tab3,
.contContainer-tab3 {
	clear:both;
}

/*----- Angemeldet bleiben ausgeblendet -----*/
#rememberMeCB_header, 
#rememberMeCB_header_label, 
#rememberMeCB_lightbox, 
#rememberMeCB_lightbox_label, 
.checkboxRememberMe {
	display:none !important;
}