/*
$Author: rma $
$Revised: skoeppe $
$Rev: 74704 $
$Date: 2016-03-29 $
*/


noscript{
	clear: both;
}

noscript.long .formErrors{
    	width: 935px;
}

noscript.long .formErrors.long{
	clear: both;
   	float: left;
    	margin-bottom: 20px;
    	margin-left: 15px;
    	width: 942px;
}

noscript .formErrors span h1, 
noscript .formErrors span p, noscript .formErrors span p a{
	color:#E00B30;
	padding-bottom:15px;
}

noscript .formErrors span p a{
	color:#E00B30;
	font-weight:bold;
	text-decoration:underline;
}

noscript .formHeader {
	width:622px;
}

noscript.long .formHeader.long{
	left:0px;
	position:relative;
	width:940px;
}

noscript.long .formErrors{
	left:6px;
	position:relative;
	width:935px;
	margin-left:15px;
}

noscript.long.portal .formHeader.long{
	left:0;
}

noscript.long.portal .formErrors, noscript.short.portal .formErrors{
	margin-left:0px;
	left:0px;
}

noscript.short .formErrors{
	left:20px;
}

noscript.long.startseite .formHeader.long{
	left:20px;
}

.element-shadow .bigImage{
	margin-top:-15px !important;
	margin-bottom:15px !important;
	margin-left:0px !important;
}


/* common teaser styles */
.teaserWrapper{
	position:relative;
	left:-20px;
	width:966px;
}
.teaserWrapper.small {
  float:left;
	width:640px;
}
.contentWrapper .content,
.teaser{
	background:url(../images/websiteelemente/form_fieldset_small_bg.gif) repeat-x #f2f2f2;
	margin-bottom:16px;
	float:left;
	padding:15px 14px 15px 14px;
	position:relative;
}
.contentWrapper .content,
.contentWrapper .copytextLayer,
.contentWrapper .disclaimer,
.contentWrapper .controls,
.contentWrapper .formWrapper,
.teaser {
  margin-left:21px;
}
.contentWrapper .formHeader,
.contentWrapper .contactInfo,
.contentWrapper .expandableContainer{
  margin-left:20px;
}
.contentWrapper .contentImg {
  margin:-16px 0 16px 20px;
}
.contentWrapper .contactInfo .formHeader {
  margin-left:0;
}
.contentWrapper .teaser {
/*  margin-left:1px;*/
}
.contentWrapper .nomargin {
    margin-top:-16px;
}
/* teaser variations width */
.teaserContainer .small{
	width:268px;
}
.contentWrapper .small,
.teaserWrapper .small{
	width:268px;
}
.contentWrapper .half,
.teaserWrapper .half{
	width:428px;
}
.contentWrapper .medium,
.contentWrapper .content,
.teaserWrapper .medium{
	width:588px;
}
.contentWrapper .large,
.teaserWrapper .large{
	width:908px;
}

.teaserContainer .teaser{
	margin-left:1px;
}
/* teaser heights */
.contentWrapper .doubleHeight,
.teaserWrapper .doubleHeight{
	height:330px;
}
.teaserContainer .standardheight,
.contentWrapper .standardheight,
.teaserWrapper .standardheight{
	height:142px;
}
.teaserWrapper .autoheight{
	height:auto;
}
.contentWrapper .trackTeaser,
.teaserWrapper .trackTeaser{
	height:470px;
}
/* teaser content */
/* teaser headline */
.contentWrapper .content h2,
.contentWrapper .teaser h2,
.teaserContainer .teaser h2,
.teaserWrapper h2 {
  border-bottom: 1px dotted #0091CD;
  color: #0091CD;
  font-size: 16px;
  font-weight: normal;
  margin: 0 -14px 11px;
  padding: 0 0 9px 14px;
}
.contentWrapper .content h2 a,
.contentWrapper .teaser h2 a,
.teaserContainer .teaser h2 a,
.teaserWrapper h2 a {
  color: #0091CD;
  font-size: 16px;
}

.contentWrapper .content h2.withArrow,
.contentWrapper .teaser h2.withArrow,
.teaserContainer .teaser h2.withArrow,
.teaserWrapper h2.withArrow {
	background-image:url(../images/websiteelemente/sprite.png);
  background-position:-18px -197px;
  background-repeat:no-repeat;
  padding:0 0 7px 31px;
}
/* teaser image */
.contentWrapper .imgContainer,
.teaserContainer .imgContainer,
.teaserWrapper .imgContainer,
.teaserContent .imgContainer {
	margin:-11px 0 0 -14px;
	overflow:visible;
	float:left;
}
.contentWrapper .small .imgContainer,
.teaserWrapper .small .imgContainer,
.teaserContainer .small .imgContainer,
.teaserContent .imgContainer {
  width:140px;
}
.contentWrapper .medium .imgContainer,
.teaserWrapper .medium .imgContainer {
  width:270px;
}
.contentWrapper .large .imgContainer,
.teaserWrapper .large .imgContainer {
  width:140px;
	margin-left:0px;
}


.contentWrapper .imgContainer.center,
.teaserWrapper .imgContainer.center,
.teaserContent .imgContainer.center,
.teaserContainer .imgContainer.center{
	margin:10px auto -5px auto;
	float:left;
	width:300px;
	clear:both;
}


.contContainer.introduction.produktliste_klein_top{
	margin-bottom:15px !important;
}
.imgContainer.center.produktliste_klein{	
	margin-top:0px;
	margin-bottom:0px;
	//padding-bottom:15px;
}

.contContainer.introduction.produktliste_klein{
	display:block;
	//height:258px;
	clear:both;
}

.contContainer.introduction.produktliste_klein ul li{
	padding-bottom:4px;
}

.contContainer.introduction.produktliste_klein p{
	padding-bottom:7px;
}

.buttonContainer.floatRight.produktliste_klein{
	margin-top:10px;
}



/* teaser text/button/link */
.large .contContainer{
	position:relative;
}

/* teaser introduction-text long */
.contContainer.introduction{
	/*margin:0px 0px 20px 0px !important;*/
	margin:0px !important;
}

/* teaser text right for contact */
.contContainer.textright{
	margin:0px 0px 0px 117px !important;
}

/* teaser image long on the left side for contact */
.imgContainer.left_longimage{
	width:130px !important;
	/*margin:0px 0px -4px -15px;*/
	margin:0px 0px -19px -15px;
	/*position:absolute;*/
	bottom:0;
}


.contContainer.noImage{
	background:url(../images/websiteelemente/teaser_separator_line.png) no-repeat 0 0;
	clear:both;
	margin:0!important;
	padding:15px 0;
}
.noImage .buttonContainer.floatRight {
  margin-left: 0px;
}
.teaserContent.image .contContainer,
.teaserWrapper .small.image .contContainer,
.contentWrapper .small.image .contContainer,
.teaserContainer .small.image .contContainer {
	margin:0 0 0 126px;
}
.teaserWrapper .medium.image .contContainer,
.contentWrapper .medium.image .contContainer,
.teaserContainer .medium.image .contContainer {
	margin:0 0 0 256px;
}
.contentWrapper .content p,
.contentWrapper .teaser p,
.teaserContainer .teaser p,
.teaserWrapper p {
	padding:0px 0px 17px 0px;
	line-height:16px;
}
.teaserContent .contContainer p {
	left:auto;
	margin:0;
	position:static;
	width:auto;
}

.teaser .contContainer p{
	display:block !important;
}

.contentWrapper .content p span,
.contentWrapper .teaser p span,
.teaserContainer .teaser p span,
.teaserWrapper p span {
	color:#0091CD;
}
.contentWrapper .content p:last-child,
.contentWrapper .teaser p:last-child,
.teaserContainer .teaser p:last-child,
.teaserWrapper p:last-child {
	padding:0px 0px 0px 0px;
}
.teaserContent .buttonContainer,
.teaser.small.standardheight .buttonContainer {
	position:absolute;
	bottom:15px;
}
/* teaser content list simple */
.teaser ul{
	padding:0 0 0 15px;
}
.teaser ul li {
	list-style-image:url(../images/websiteelemente/teaser_li_bullet.png);
	margin-left:5px;
	padding:0 0 7px;
}
.teaser ul .content_bullet {
  list-style: disc;
  margin:0;
}
.teaser ul .content_number {
  list-style: decimal;
}
/* teaser decimal list */
.teaser ol {
	padding:0 0 0 20px;
}
.teaser ol li {
	margin:0;
	padding:0 0 7px;
}
/* teaser special horizontal numbers list */
.teaser ul.hList {
  margin: 0 -27px;
  padding: 0;
  position: absolute;
  top: 0;
}
.teaser ul.hList li {
  float: left;
  list-style: none outside none;
  margin-left: 25px;
  width: 295px;
}
.teaser ul.hList li span {
	background-image:url(../images/websiteelemente/sprite.png);
  background-repeat: no-repeat;
  display: block;
  height: 50px;
  width: 43px;
	float:left;
}
.teaser ul.hList li span.step_01 {
  background-position: 0 -1739px;
}
.teaser ul.hList li span.step_02 {
  background-position: 0 -1789px;
}
.teaser ul.hList li span.step_03 {
  background-position: 0 -1839px;
}
.teaser ul.hList h3 {
  color: #0091CD;
  font-size: 15px;
  font-weight: normal;
  padding: 18px 0 45px 53px;
}
.teaser ul.hList p {
	font-size:11px;
	margin-left:14px;
	width:263px;
	line-height:14px;
}

img.hListBG {
  left: -17px;
  position: relative;
  top: -11px;
}
img.hImgBG {
  left: -16px;
  margin-bottom: -34px;
  position: relative;
  top: -15px;
}

/* teaser special big numbers list */
.teaser dl {
}
.teaser dt {
  color:#0091cd;
  float:left;
  font-size:22px;
}
.teaser dd {
  color:#666666;
  margin:0 0 10px 22px;
  line-height:16px;
}

.teaser table .listTableNumCol {
  width:23px;
}
.teaser table .listTableTextCol {
  width:240px;
}
.teaser table .listTableNum {
  color:#0091cd;
  font-size:22px;
  padding-bottom: 10px;
}
.teaser table .listTableText {
  color:#666666;
  padding-bottom: 10px;
}

.teaser ul ul{
	padding:0;
}
/* teaser 2 columns list w. special img bullets */
.teaserWrapper .teaser ul li.leftCol,
.teaserWrapper .teaser ul li.rightCol {
	float:left;
	list-style-image:none;
}
.teaserWrapper .teaser ul li.leftCol {
  margin:0 0 0 3px;
}
.teaserWrapper .teaser ul li.rightCol {
	margin:0 0 0 40px;
}
.teaserWrapper .teaser ul li.leftCol li,
.teaserWrapper .teaser ul li.rightCol li {
	background:url(../images/websiteelemente/teaser_li_line.png) no-repeat scroll 0 bottom;
  float:none;
	list-style-image:url(../images/websiteelemente/teaser_li_bullet.png);
	margin:0 0 10px 5px;
  width:420px;
}
.teaserWrapper .teaser ul li.leftCol li.last,
.teaserWrapper .teaser ul li.rightCol li.last {
  background:none!important;
	margin: 0 0 0 5px;
}
.teaserWrapper .teaser ul li span.headline {
  color:#0091CD;
  padding:0 0 1px;
	font-weight:bold;
}
.teaserWrapper .teaser ul li span.headline a{
	color:#0091CD;
	text-decoration:underline;
}
/* teaser tooltip/info icon */
.contentWrapper .teaser .infoIcon,
.teaserWrapper .infoIcon{
	margin:-4px 0 0 0;
	float:none;
	display:inline-block;
}

.contContainer p, .contContainer .infoIcon{
	display:inline !important;
}

/* teaser common link */
.contentWrapper .content p a,
.contentWrapper .teaser p a,
.teaserContainer p a,
.teaserWrapper .teaser p a,
.teaserWrapper .teaser ul li p a{
	text-decoration:underline;
}
/* half teaser content */
.half .imgContainer {
	width:220px;
	height:268px;
}
.half .imgContainer.shipmentImg {
  background-image: url(../images/websiteelemente/teaser_sendung_verfolgen_id.png);
  background-repeat: no-repeat;
}
.half .imgContainer.receiptImg {
  background-image: url(../images/websiteelemente/teaser_sendung_verfolgen_quittung.png);
  background-repeat: no-repeat;
}
.half h3 {
  color:#0091CD;
  padding:0 0 1px;
}
.half label {
	float:left;
	margin:0 0 3px 0;
}
.half .inputRegular {
	margin:0 0 18px 0;
}
.half .infoIcon {
	vertical-align:middle;
}
/* expandable */
.contentWrapper .expandableContainer {
	border-top:1px solid #CCD1D5;
  background:none;
	padding:0;
	width:620px;
}
.contentWrapper .expandableContainer .packageSelection,
.contentWrapper .expandableContainer .expandedTable{
  width:auto;
}
.contentWrapper .expandableContainer .expandedTable div.curved{
	background:url(../images/websiteelemente/form_fieldset_bg.gif) repeat-x #f2f2f2;
	padding:14px 34px;
	margin-right:1px;
}
.expandedTable.hasChild .expandedTable.hasChild .expandedTable div.curved {
  padding:14px 34px 14px 60px;
}
.contentWrapper .expandableContainer .packageTitel {
    border: none;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.contentWrapper .expandableContainer .expandedTable h3{
	color:#0091CD;
	font-weight:normal;
	line-height:16px;
}
.contentWrapper .expandableContainer .expandedTable p{
	line-height:16px;
}
.contentWrapper .content ul,
.contentWrapper .content ol,
.contentWrapper .expandableContainer .expandedTable ul,
.contentWrapper .expandableContainer .expandedTable ol{
	margin:0 0 15px 0;
	padding:0 0 0 20px;
	line-height:16px;
}
.contentWrapper .content li,
.contentWrapper .expandableContainer .expandedTable li{
	float:none;
	color:#666666;
	padding:0 0 0 20px;
}
.contentWrapper .content ul,
.contentWrapper .expandableContainer .expandedTable ul{
	list-style:disc;	
}
.contentWrapper .content ol,
.contentWrapper .expandableContainer .expandedTable ol{
	list-style:decimal;
}
/* container for teaser on the left side*/
.teaserContainer {
  float:left;
	width:300px;
}
.adressImportTeaser {
  width:300px;
  float:left;
  margin:0 0 20px 20px;
}
.adressImportTeaser .formHeader {
  margin:0;
}
.teaserContent {
  height:82px;
  margin-right:1px;
  background-color:#F2F2F2;
	background-image:url(../images/websiteelemente/form_teaser_bg.gif);
  background-repeat:repeat-x;
	padding:14px 14px 16px;
}
/* imput fields in small teaser */
.teaser.small input[type='text']{
  margin-top:5px;
  width:105px;
}
.teaser.small input.inputRegular{
  margin-top:5px;
  width:252px;
}
.teaser form dfn {
  display:block;
  font-style:normal;
  margin:1px 0 -3px;
}
.teaser.small form .shopFinder{
	margin-top:-5px;
}
.teaser .addition {
  padding:10px 15px 15px 15px;
  border-top:1px solid #ccd1d5;
  margin:0 -14px -15px -14px;
  background-color:#f9f9f9;
}

.teaser .bigImage,
.content .bigImage{
  width:616px;
  float: left;
  margin: 15px 0 -18px -16px;
  overflow: visible;
}

/* info on contact page */
.contactInfo {
  width:620px;
  float:left;
  margin-bottom:20px;
}
.contactInfo .curved {
	background:url(../images/websiteelemente/form_fieldset_small_bg.gif) repeat-x #f2f2f2;
}
.contactInfo .curved img {
  float:left;
}
.contactInfo .copy {
  margin:15px 10px 0 20px;
  width:313px;
  float:left;
}
.contactInfo .copy h3 {
  color:#0091CD;
  margin-bottom:10px;
}
.contactInfo .copy span {
  font-size:9px;
}
.contactInfo .copy p {
  margin-bottom:10px;
}
.contactInfo .copy a {
  text-decoration:underline;
}
/* download app list */

.teaser ul.mobileApps{
	padding:0;
}

.teaser ul.mobileApps li{
	list-style:none;
	float:left;
	width:50%;
	margin-left: 0;
}
.teaser ul.mobileApps li img{
	margin-top: -12px;
}

/* sitemap */
.contentWrapper .content ul.sitemapList,
.contentWrapper .content ul.sitemapList ul {
    list-style: none;
}
.contentWrapper .content ul.sitemapList a,
.contentWrapper .content ul.sitemapList ul a {
    background-position: -48px -339px;
}

.contentWrapper .content ul.sitemapList {
    margin: 20px 0 0 0;
    padding: 0;
}
.contentWrapper .content ul.sitemapList li {
    margin: 0;
    padding: 0 0 20px 0;
}
.contentWrapper .content ul.sitemapList li ul li,
.contentWrapper .content ul.sitemapList li ul li ul li {
    padding: 0 0 8px 0;
}
.contentWrapper .content ul.sitemapList ul {
    margin: 8px 0 0 0;
    padding: 0 0 0 40px;
}
.contentWrapper .content ul.sitemapList ul a {
    color: #0091cd;
    background-position: -16px 3px;
}
.contentWrapper .content ul.sitemapList ul ul {
    margin: 8px 0 5px 0;
    padding: 0 0 0 11px;
}

/*toggle teaser content*/
.teaser.toggle {
  margin-top:-20px;
  padding: 15px 14px 0 14px;
}
.teaser.toggle h2 {
  font-size: 15px;
  margin: 0 -14px 0 -14px;
  border:none;
}
.teaser.toggle .expandable-icon {
  position: absolute;
  top:11px;
  left: 272px;
}
.teaser.toggle .expandable-icon.active {
  background-position: 0 -342px;
}
.teaser.toggle .expandable-icon.active:hover {
  background-position: -19px -342px;
}
.teaser.toggle .contContainer {
  display:none;
}
.teaser.toggle .contContainer.active {
  border-top: 1px dotted #0091CD;
  margin:0 -14px 0 -14px;
}
.teaser.toggle .contContainer .expanded {
  padding: 12px 14px 15px 14px;
}
.teaser.toggle .expandedTable {
  border:none;
  width: 296px;
}
/* blue teaser header */
.teaser.blueHeaderBg{
  background: none;
  margin-left: 20px;
  width:592px;
}

.teaser.blueHeaderBg .formHeader a{
  color:#fff;
}

.blueHeaderBg .formHeader{
  margin: 0 -14px;
}
.blueHeaderBg .formHeader h2{
  color: #f7f7f7;
  font-size: 15px;
  border: 0 none;
  padding: 10px 0 0 19px;
  margin: 0;
}
.blueHeaderBg .teaserContent{
  margin: 0 -13px 0 -13px;
  height: auto;
  padding-bottom: 0;
  float:left;
}
.blueHeaderBg .teaserContent .imgContainer {
  margin: -14px 0 0 -14px;
}
.blueHeaderBg .teaserContent .contContainer p:last-child {
  padding:0px 0px 17px 0px;
}

/* survey teaser on package class page */
.surveymonkeyTeaserImage {
  background:url(../images/websiteelemente/teaser_surveymonkey~1.png) no-repeat scroll 0 0 transparent;
  height: 130px;
  width: 130px;
}


.teaser.medium.columns.element-shadow.curved{
	float:left;
	width:588px;
	clear:both;
}

.teaser.medium.columns.element-shadow.curved .buttonContainer{
	float:right;
}

.imgContainer.columns{
	float:left;
	width:405px !important;		
	padding:15px 0px 0px 10px;	
}

.teaser.medium.columns.element-shadow.curved .contContainer{
	float:left;
	width:170px;
	padding:15px 0px 0px 15px;
	border-left: 1px dotted #0091CD;
}

.imgContainer.columns ul{
	list-style:none;
	float:left;
	padding:0px;	
}

.imgContainer.columns ul{
	width:206px;
	padding:0px;
	margin-left:-10px;	
}

.imgContainer.columns ul li{
	list-style:none;
	list-style-type:none;
	list-style-image:none;
}

.teaser_travel.textLink{
	//width:102px;
	margin-top:20px;
	//float:left;		
	//background-position: -16px -1900px !important;		
	text-decoration:underline;
}

.imgContainer.columns ul li a{
	float:left;
	width:200px;
	clear:both;
}

.imgContainer.columns ul li a img{
	width:80px;	
	float:left;
	padding-right:1px;
}


.contentWrapper .medium .imgContainer.TWOcolumns{
	width:588px;
	clear:both;
	margin:10px 0px 0px 10px;
}	

.TWOcolumn{
	float:left;
	width:588px;
	clear:both;
	margin:15px 0px 15px 0px;
}

.TWOcolumn .imgContainer{
	float:left;
	width:150px !important;	
}

.TWOcolumn .contContainer{
	float:left;
	width:440px;
	margin-top:-10px;
}

.TWOcolumn .contContainer p{
	display:inline !important;
}

.teaser.medium.TWOcolumns .buttonContainer{
	float:right;
	margin-top:5px;
}

.TWOcolumn .contContainer h3 a{
	color: #0091CD;
    font-family: open_sansregular,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
}


.imgContainer.columns.large{
	width:588px !important;
}

.imgContainer.columns.large ul{
	width:298px;
}

.imgContainer.columns.large ul li{
	clear:both;
	margin-bottom:10px;
	float:left;
	width:285px;
}

.imgContainer.columns.large ul li a{
	float:none;
	clear:none;
	text-decoration:underline;
}

.imgContainer.columns.large ul li .teaser_text{
	float:left;
    margin-left: 8px;
    width: 192px;
}




.header_area{
	clear:both;
	float:left;
	width:588px;
	border-bottom:1px dotted #0091CD;
}
.h-size{
	float:left;
	width:477px;
	margin-top:12px;
}

.header_area .h-size h2{
	border:0px;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
}
.header-img{
	float:left;
	width:100px;
}

.teaserContent-shipping{
	float:left;
	width:578px;
	padding:15px 0px 10px 0px;
	background:0px;
	clear:both;
}

.teaserContent-shipping .left-side{
	float:left;
	width:195px;
	clear:both;
}

.teaserContent-shipping .right-side{
	float:left;
	width:383px;
}

.teaserContent-shipping .left-side .content-more_info{
	margin-top:10px;
}

.teaserContent-shipping .right-side .contContainer{
	margin:0px !important;
}

.teaserContent-shipping a{
	text-decoration:underline;
}

.teaserContent-shipping .left-side .content-more_info .more_info{
	font-weight:bold;
	padding-bottom:5px;
}

.buttonContainer.fullsite{
	float:right;
}


.teaser.medium.image.smallpicture .imgContainer{
	width:200px;
	float:left;
}

.teaser.medium.image.smallpicture .contContainer{
	float:left;
	width:383px;
	margin:15px 0px 0px 0px;	
}

.teaser.medium.image.smallpicture .contContainer .content-header{
	float:left;
	width:383px;
	margin-bottom:15px;
	clear:both;
}

.teaser.medium.image.smallpicture .contContainer .text_headline{
	float:left;
	width:313px;
	clear:both;
}

.teaser.medium.image.smallpicture .contContainer .text_headline h3{
    display:inline;
    float:left;
    margin-right:3px;
}	

.teaser.medium.image.smallpicture .contContainer .text_headline .infoIcon{
	vertical-align: -2px;
	width:16px;
	float:left;
}

.teaser.medium.image.smallpicture .contContainer .text_headline .infoIcon .infoIconImage{
	background-position: -16px -309px !important;
}

.teaser.medium.image.smallpicture .contContainer .price{
	float:left;
	width:70px;
	text-align:right;

	color: #0091CD;
    font-size: 13px;
}




.teaser.medium.longimage .imgContainer.fullsite{
	width: 588px !important;
	float:left;
	margin-bottom:15px;
	margin-top:0px !important;
	margin-left:0px !important;
}


.teaser.medium.longimage .contContainer{
	clear:both;
	float:left;
	width:588px;
	
}	

.teaser.medium.longimage .contContainer a{
	text-decoration:underline;
}
	
.teaser.medium.longimage .contContainer .textarea_left,
.teaser.medium.longimage .contContainer .textarea_right{
	float:left;
	width:294px;		
}

.teaser.medium.longimage .contContainer .textarea_bottom{
	margin-top:15px;
	clear:both;
	float:left;
	width: 568px;
	border:1px dotted #0091CD;
	padding:10px;
}

.teaser.medium.longimage .buttonContainer{
	margin-top:15px;
	float:right;
}

.teaser ul.no-indentation li.content_arrow{
	background-position:-16px -1900px !important;
	background-image: url(../images/websiteelemente/sprite.png) no-repeat !important;
	list-style-image: none;
	margin:0px;
}

.teaser ul.no-indentation{
	padding:0px;
}


.contContainer .infoIcon.textLink.underline{
	background-image:none;
	font-size:12px;
	padding:0px;
}



.promoStyle {
	float:left;
	width:940px;
}

.promoStyle h1{
	color:#0091CD;
	font-size: 20px;
	font-weight: normal;
}

.promoStyle .pt_col1{
	float:left;
	padding-top: 9px;
}

.promoStyle .pt_col2, 
.promoStyle .pt_col3{
	float:right;
	padding-right: 20px;
}

.promoStyle .pt_col4{
	float:right;
	padding-right: 20px;
	padding-top:7px;
}



.blogTeaser .backgroundBox{
	background-color: #ffffff; 
	border: 5px solid #ffffff; 
	border-radius: 4px; 
	overflow: hidden; 
}

.blogTeaser .backgroundBox .imgContainer{
	margin: 3px 10px 0 0; 
	width: 45px;
}

.blogTeaser .backgroundBox .contContainer{
	margin-left: 55px;
}

.blogTeaser .backgroundBox .date{
	font-size: 10px; 
	line-height: normal;
}

.blogTeaser .backgroundBox .headline{
	font-weight: bold;
}

.teaserContainerMediumHeight {
	float:left; 
	width: 320px; 
	height: 360px; 
	overflow:hidden;
}
