/*
$Author: skoe $
$Revised: skoe, relias $
$Rev: 65957 $
$Date: 2015-04-10 $
*/

.versandkostenrechner .formTeaserContent{
	overflow:hidden;
	height: 260px;
}

.versandkostenrechner .formTeaserFooter{
	float: left; 
	width: 100%;
}

.versandkostenrechner h1{
	margin-bottom: 10px; 
	display:inline;
	float:left;
}

.versandkostenrechner .infoIcon {
	margin-left:4px;
	margin-top:0;
	float:left;
}

.versandkostenrechner .infoIconPK {	
	display:none;
	margin-right:4px;
	margin-left:0;
	margin-top:10px;
	float:left;
}

.versandkostenrechner .calcTableTeaser td {
	width:40px;
	padding-bottom:5px;
}

.versandkostenrechner .calcTableTeaser td input[type="text"]{
	width:35px !important;
	margin-top: 0 !important;
}

.versandkostenrechner .formOrderCalc{
	margin-bottom: 5px; 
	float: left;  
	background: url(../images/websiteelemente/versandkostenrechner~1.jpg) no-repeat right top;
	margin-top:5px;
	padding-top:5px;
	width: 100%;
}
		
.versandkostenrechner .textRightCenter{
	float: right; 
	margin-top: 40px; 
	width:155px;
}
.versandkostenrechner .formOrderType {
	margin-bottom: 10px; 
}

.versandkostenrechner .infoText {
	float: left; 
	font-size: 10px; 
	width: 95px;
}
.versandkostenrechner .formTargetLand {
	float: left;
	width: 100%;
}
.versandkostenrechner .textPackageType{
	float: left;
	width: 72px;
}

.versandkostenrechner .textPackagePrice {
	float: left;
	font-size: 15px;
	width: 62px;
}

.versandkostenrechner .textPackagePrice span{
	font-size: 15px;
}

.versandkostenrechner .headerPackageInfo {
	border-bottom:1px dashed #0091CD;
}

.versandkostenrechner .buttonContainer {
	float: right; 
	padding-top: 12px;
}

.versandkostenrechner .infoTextOtherPackageS, 
.versandkostenrechner .infoTextOtherPackageHP,
.versandkostenrechner .infoTextOtherPackageS span, 
.versandkostenrechner .infoTextOtherPackageHP span {
	color: #0091CD; 
	font-size: 10px; 
	margin-bottom: 10px;
	display:none;
}

.versandkostenrechner .infoTextOtherPackageS span, 
.versandkostenrechner .infoTextOtherPackageHP span {
	cursor:pointer;
	display:inline;
	text-decoration:underline;
}

.versandkostenrechner .NO_PRODUCT_INTERNATIONAL,
.versandkostenrechner .NO_INTEGER_VARIABLE,
.versandkostenrechner .NO_PRODUCT_NATIONAL,
.versandkostenrechner .XXL_THIRD_SITE_OVER_FIFTY,
.versandkostenrechner .VOLUME_EXCEEDED {
	display:none;
}

.versandkostenrechner .NO_INTEGER_VARIABLE span,
.versandkostenrechner .NO_INTEGER_VARIABLE a,
.versandkostenrechner .NO_PRODUCT_NATIONAL span,
.versandkostenrechner .NO_PRODUCT_NATIONAL a,
.versandkostenrechner .XXL_THIRD_SITE_OVER_FIFTY span,
.versandkostenrechner .XXL_THIRD_SITE_OVER_FIFTY a,
.versandkostenrechner .VOLUME_EXCEEDED span,
.versandkostenrechner .VOLUME_EXCEEDED a,
.versandkostenrechner .NO_PRODUCT_INTERNATIONAL span,
.versandkostenrechner .NO_PRODUCT_INTERNATIONAL a {
	color: red; 
	font-size: 10px; 
	margin-bottom: 10px;
}

.versandkostenrechner .NO_INTEGER_VARIABLE a,
.versandkostenrechner .NO_PRODUCT_NATIONAL a,
.versandkostenrechner .XXL_THIRD_SITE_OVER_FIFTY a,
.versandkostenrechner .VOLUME_EXCEEDED a,
.versandkostenrechner .NO_PRODUCT_INTERNATIONAL a {
	text-decoration:underline;
}

.versandkostenrechner .infoArea {
  clear: both;
  height: 25px;
}

.toolTipMid .infoProductFeatures li {
	color:#666666;
}

.containerPKspan {
	clear: both;
	display: table-cell;
	height: 35px;
	vertical-align: middle;
	font-weight: bold;
	color:#0091CD;
}