* {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.5;
	font-weight: 400;
	text-align: left;
	color: #444;
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
	-moz-transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
	-o-transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
	transition: background 0.2s ease, color 0.2s ease, border 0.2s ease;
}

*:focus {
	outline: 0;
}

html, body {
	height: 100%;
}

body {
	background: #eee;
	width: 100%;
	display: block;
	float: left;
}

a {
	color: #444;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

img {
	display: block;
	float: left;
}

ul, ol {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 0;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 12px;
}

table {
	width: 100%;
	float: left;
	border: 0;
	border-collapse: collapse;
}

table.table-mailbox tr th, table.table-mailbox tr td {
	padding: 10px;
}

table.table-mailbox tr.table-mailbox-title th {
	background: #f4f4f4;
	font-size: 16px;
	text-transform: uppercase;
}

table.table-mailbox tr:hover td {
	background: #e8f5f5 !important;
}

table.table-mailbox tr.read td {
	background: #fafafa;
}

table.table-mailbox tr.new td {
	background: #ffffcc;
}

table td {
	text-align: center;
	padding: 10px 0;
}

table.table-mailbox td {
	text-align: left;
}

table td.table-left-txt {
	text-align: right;
	padding-right: 10px;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.txt-left {
	text-align: left !important;
}

.txt-right {
	text-align: right !important;
}

.txt-center {
	text-align: center !important;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.center {
	display: table !important;
	float: none !important;
	margin: 0 auto !important;
}

.spacer {
	width: 100%;
	display: block;
	float: left;
	margin-top: 20px;
}

.spacer.half {
	margin-top: 10px;
}

.clear {
	float: none  !important;
	margin: 0  !important;
	clear: both !important;
}

.padding {
	width: 100%;
	display: block;
	float: left;
	padding: 10px;
}

.padding-10 {
	padding: 10px !important;
}

.padding-10-left {
	padding-left: 10px !important;
}

.padding-10-left-right {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.margin {
	margin: 10px;
}

.margin-6-top {
	margin-top: 6px !important;
}

.bttn {
	background: #323232;
	width: auto !important;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
	border: 0 !important;
}

.bttn:hover {
	background: #d00707;
}

.blue, .blue a {
	color: #1986c4;
	text-decoration: none;
}

.blue:hover, .blue a:hover {
	color: #d00707;
}

input, select.select, textarea {
	background: #fff;
	width: 100%;
	padding: 10px;
	border: 1px solid #bdbabd;
}

.do-upload input {
	width: 100% !important;
}

input[type='checkbox'], input[type='radio'] {
	width: auto !important;
	padding: 0 !important;
}

label input {
	width: auto !important;
}

label {
	display: block;
	float: left;
	margin: 11px 10px 0 0;
}

select.select {
	width: auto;
}

select.select.full {
	width: 100% !important;
}

select.select option {
	padding: 0 12px;
}

select.select-edit {
	width: 100%;
	padding: 10px;
}

textarea {
	width: 100% !important;
	resize: vertical;
}

.textarea-height textarea {
	height: 150px;
}

input.button, .do-upload input.button {
	width: auto;
	background: #1986c4;
	color: #fff;
	text-transform: uppercase;
	border: 0;
}

input.button.button-large {
	font-size: 16px;
}

.do-upload input.button {
	width: auto !important;
}

input.button:hover {
	background: #d00707;
}

input.button.red {
	background: #d00707;
}

input.button.red:hover {
	background: #1986c4;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	display: block;
	float: left;
}

.col-1 {
  	width: 8.333%;
}

.col-2 {
  	width: 16.66%;
}

.col-3 {
  	width: 25%;
}

.col-4 {
  	width: 33.33%;
}

.col-5 {
  	width: 41.66%;
}

.col-6 {
  	width: 50%;
}

.col-7 {
  	width: 58.33%;
}

.col-8 {
  	width: 66.66%;
}

.col-9 {
  	width: 75%;
}

.col-10 {
  	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.wrap {
	max-width: 1458px;
	max-width: 1358px;
	display: block;
	padding: 0 20px;
	margin: 0 auto;
}

#header {
	background: #161616;
	width: 100%;
	display: block;
	float: left;
}

#header .intro {
	background: #000;
	padding: 10px 0;
}

#header .intro p {
	font-size: 12px;
	color: #888;
}

#header .margin-logo {
	padding-top: 20px;
}

#logo {
	background: transparent url('../gfx/logo.png') no-repeat 0 0;
	width: 333px;
	height: 70px;
	display: block;
}

#logo span {
	display: none;
}

#add-this {
	width: 100%;
	display: block;
	float: left;
}

ul#top-links {
	float: right;
}

ul#top-links li {
	float: left;
}

ul#top-links li a {
	background: #242424;
	display: block;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration: none;
	padding: 10px;
}

ul#top-links li a:hover {
	background: #3b3b3b;
}

#header form {
	float: right;
}

#header input {
	background: #fff;
	width: auto;
	float: left;
	padding: 10px;
	border: 0;
}

#header select {
	background: #fff;
	height: 38px;
	line-height: 38px;
	float: left;
	padding: 0 6px;
	margin: 0 1px;
	border: 0;
}

#header select option {
	background: #fff;
	padding: 0 8px;
}

#header .button {
	background: #1986c4;
	color: #fff;
	text-transform: uppercase;
}

#header .button:hover {
	background: #d00707;
}

#main-menu-wrapper {
	background: #242424;
	width: 100%;
	display: block;
	float: left;
}

#main-menu-wrapper ul#toggle-menu {
	display: none;
}

#main-menu-wrapper ul#toggle-menu li {
	width: 100%;
}

#main-menu-wrapper ul#toggle-menu li a {
	width: 100%;
	text-align: center;
}

#main-menu-wrapper ul li {
	display: block;
	float: left;
}

#main-menu-wrapper ul li a {
	display: block;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration: none;
	padding: 10px;
}

#main-menu-wrapper ul li.current a, #main-menu-wrapper ul li a:hover {
	background: #3b3b3b;
}

#main-menu-wrapper ul li.upload, #main-menu-wrapper ul li.upload a {
	float: right;
}

#main-menu-wrapper ul li.upload a {
	background: #d00707;
}

#main-menu-wrapper ul li.upload:hover a {
	background: #1986c4;
}

#content {
	width: 100%;
	display: block;
	float: left;
	margin: 20px 0;
}

.box {
	width: 100%;
	display: block;
	float: left;
	border: 1px solid #bfbfbf;
}

.box.default {
	background: #fff;
}

.box.blue {
	background: #e0e5eb;
}

.main-title {
	background: #cacaca;
	width: 100%;
	display: block;
	float: left;
}

.box.blue .main-title {
	background: #323232;
}

.sub-title {
	background: #747e89;
	width: 100%;
	display: block;
	float: left;
}

.sub-title-featured {
	background: #1986c4 !important;
}

.main-title .title, .sub-title .title {
	display: block;
	float: left;
	padding: 0 10px;
	margin: 10px 0;
}

.main-title a.title, .sub-title a.title {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration: none;
}

.main-title a.title:hover, .sub-title a.title:hover {
	color: #d00707;
}

.box.blue .main-title .title, .sub-title .title {
	color: #fff;
}

.main-title ul, .sub-title ul{
	display: block;
	float: right;
	margin: 8px 10px;
}

ul.video-options, ul.video-extra-options {
	background: #747e89;
	width: 100%;
	display: block;
	float: left;
}

ul.video-information {
	width: 100%;
	display: block;
	float: left;
}

.main-title ul li, .sub-title ul li, ul.video-options li, ul.video-extra-options li, ul.video-information li {
	float: left;
}

ul.user-wall-options li a {
	font-size: 14px;
	font-weight: 700;
}

ul.user-wall-options li a:hover {
	color: #fff !important;
	background: #1986c4 !important;
}

ul.video-options li {
	width: 20%;
}

ul.video-options.edit-profile li {
	width: 16.666%;
}

ul.video-options.this-user-profile li {
	width: 12.5%;
}

ul.video-options.this-user-profile.full li {
	width: 11.111% !important;
}

ul.video-extra-options li {
	width: 50%;
}

ul.video-information li {
	width: 100%;
	display: block;
	margin: 2px 0;
}

.main-title ul li a, .sub-title ul li a, ul.video-options li a, ul.video-extra-options li a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
}

ul.video-options li a, ul.video-extra-options li a {
	width: 100%;
	color: #fff;
	text-align: center;
}

.sub-title ul li a {
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main-title ul li.current a, .main-title ul li a:hover, .sub-title ul li.current a, .sub-title ul li a:hover, ul.video-options li.current a, ul.video-options li a:hover, ul.video-extra-options li.current a, ul.video-extra-options li a:hover {
	background: #323232;
	color: #fff;
}

.advert-box {
	background: #f4f4f4;
	width: 100%;
	display: block;
	float: left;
	padding: 10px;
}

.advert-box.advert-box-top {
	padding: 10px 10px 1px 10px;
}

.advert-box.advert-box-bottom {
	padding: 1px 10px 10px 10px;
}

.advert-box img {
	display: inline-block;
	float: none;
	margin: 0 auto;
}

.advert-box.advert-box-top img, .advert-box.advert-box-bottom img {
	width: 100%;
	height: auto;
}

.advert {
	width: 40%;
	display: block;
	float: right;
}

.advert-wrapper {
	width: 300px;
	height: 250px;
	display: block;
	margin: 20% auto;
}

.advert-title {
	display: block;
	font-size: 12px;
	text-align: center;
	margin: 0 0 2px 0;
}

.blog-item, .member-item, .signup-item {
	width: 100%;
	display: block;
	float: left;
	padding: 0 10px;
	margin: 0 0 10px 0;
}

.video-item {
	margin: 10px;
}

.member-item, .signup-item {
	margin: 10px 0 0 0;
}

.blog-item-entry-title, .blog-item-entry-details a {
	float: left;
	font-size: 16px;
	color: #1986c4;
	text-decoration: none;
	margin: 10px 0 2px 0;
}

.blog-item-entry-details a {
	float: none;
	font-size: 12px;
	margin: 
;}

.blog-item-entry-title:hover, .blog-item-entry-details a:hover {
	color: #d00707;
}

.blog-item-entry-details {
	font-size: 12px;
}

.blog-item-entry {
	width: 100%;
	display: block;
	float: left;
	margin: 10px 0;
}

.blog-item-entry img {
	max-width: 100%;
	height: auto;
}

.item {
	width: 20%;
	display: block;
	float: left;
	padding: 10px;
}

.item a {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

.item a .hdDISABLED {
	background: transparent url('../gfx/icon-hd.png') no-repeat 0 0;
	position: absolute;
	right: 4px;
	bottom: 4px;
	width: 24px;
	height: 24px;
	display: block;
}

.item img {
	width: 100%;
	max-height: 196px;
}

.item img:not(.no-auto-height .item img) {
	height: auto;
}

.changePages .item img {
	height: auto !important;
}

.photos img {
	max-height: 251px;
}

.members img {
	height: auto;
	max-height: 254px;
}

.item.categories img {
	height: auto;
	max-height: 197px;
}

.item .title {
	width: 100%;
	display: block;
	float: left;
	font-size: 14px;
	text-decoration: none;
	margin: 10px 0 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.item .title:hover {
	color: #d00707;
}

.item .duration, .item .rating, .item .added, .item .views {
	width: 50%;
	float: left;
	font-size: 12px;
	margin: 2px 0 0 0;
}

.added a, .views a {
	font-size: 12px;
}

.item .rating, .item .views {
	text-align: right;
}

.photos .rating, .photos .added {
	width: 100%;
	text-align: left;
}

.photos .added {
	margin: 4px 0 0 0;
}

.star-off {
	background-image: url('../gfx/star-off.png');
	width: 45px;
	height: 9px;
	float: right;
	margin: 4px 0 0 0;
}

.photos .star-off {
	float: left;
}

.star-on {
	background-image: url('../gfx/star-on.png');
	height: 9px;
}

.side-nav img {
	display: inline-block;
	float: none;
	margin: 0 auto;
}

.video-advert {
	width: 50%;
	height: 250px;
	display: block;
	float: left;
	margin: 0 0 10px 0;
}

#player, #placeholder, #thisPlayer {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

#player {
	max-width: 100%;
}

#placeholder {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

#placeholder object, #placeholder embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.signup-item .col-4, #v_video_flag .col-4, #box_flag .col-4, .form-left-txt {
	text-align: right;
	padding: 0 10px;
	margin: 11px 0 0 0;
}

ul.categories {
	width: 100%;
	display: block;
	float: left;
	margin: 10px 0;
}

ul.categories li {
	width: 16.666%;
	display: block;
	float: left;
	padding: 2px 10px;
}

ul.categories li a {
	display: block;
	float: left;
	font-size: 16px;
	color: #1986c4;
	text-decoration: none;
}

ul.categories li a:hover {
	color: #d00707;
}

.box-list-categories, .side-nav {
	background: #f4f4f4;
	padding: 10px;
}

.user-profile-bg {
	width: 100%;
	display: block;
	float: left;
}

.comment {
	padding: 10px;
	border: 1px solid #ccc;
}

.comment.comment_reply {
	border-top: 0;
}

.comment_info {
	margin: 0 0 10px 0;
}

.comment_info, .comment_info a, p.comment_body {
	font-size: 14px;
}

.user-profile-wall-comments {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

.box-list-categories .title, .side-nav .title {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

ul.list-categories {
	width: 100%;
	display: block;
	float: left;
	margin: 10px 0 0 0;
}

ul.list-categories li {
	width: 100%;
	display: block;
	float: left;
}

ul.list-categories li.current a {
	color: #d00707 !important;
}

ul.list-categories li a {
	display: inline-block;
	font-size: 16px;
	color: #1986c4;
	text-decoration: none;
	padding: 2px 0;
}

ul.list-categories li:last-child a {
	padding-bottom: 0;
}

ul.list-categories li a:hover {
	color: #d00707;
}

a.top-uploaders {
	width: 100%;
	display: block;
	float: left;
	color: #1986c4;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

a.top-uploaders:hover {
	color: #d00707;
}

a.top-uploaders img {
	display: block;
	floaT: none;
	margin: 0 auto;
}

ul.pagination {
	display: table;
	padding: 0 10px;
	margin: 10px auto;
}

ul.pagination.blogs {
	margin-top: 0;
}

ul.pagination li {
	float: left;
}

ul.pagination li.separator {
	background: #e3e3e3;
	display: block;
	font-size: 12px;
	padding: 4px 6px;
	margin: 2px 0;
}

ul.pagination li a {
	background: #838383;
	display: block;
	float: left;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 4px 6px;
	margin: 2px 0;
}

ul.pagination li.current a, ul.pagination li a:hover {
	background: #d00707;
}

#footer {
	background: #333;
	width: 100%;
	display: block;
	float: left;
	padding: 20px 0 40px 0;
}

#footer span {
	width: 100%;
	display: block;
	float: left;
	font-size: 12px;
	color: #888;
	margin: 6px 0 0 0;
}

#footer span a {
	font-size: 12px;
	color: #888;
	text-decoration: none;
}

#footer span a:hover {
	color: #fff;
}

#footer ul {
	width: 100%;
	display: block;
	float: left;
}

#footer ul li {
	display: block;
	float: left;
}

#footer ul li a {
	display: block;
	float: left;
	font-size: 12px;
	color: #888;
	text-decoration: none;
	margin: 0 6px 0 0;
}

#footer ul li:last-child a {
	margin: 0;
}

#footer ul li a:hover {
	color: #fff;
}

.loader, .loader2 {
	background-image: url(../gfx/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 200px;
	display: none;
	float: left;
}

.profile-background {
	width: 100%;
	height: 320px;
	display: block;
	overflow: hidden;
}

.profile-background img, .img-resize img {
	width: 100%;
	height: auto;
}

.profile-user-info {
	display: table;
	margin: -180px auto 0 auto;
}

.profile-user-info h1.title {
	font-size: 28px;
	font-weight: 700;
}

.profile-user-info ul.profile_info li, .profile-user-info li .grey, .profile-user-info .margin-6-top {
	font-size: 16px;
}

.profile-avatar-bg {
	background: #fff;
	display: inline-block;
}

.profile-title {
	background: #242424;
	color: #fff; 
	padding: 0 10px;
}

.profile-title-headline {
	font-size: 48px;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
}

.profile-description {
	font-size: 18px;
	text-align: center;
}

.img-container {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
}

.img-container img {
	z-index: 2;
}

.img-container .img-total {
	position: absolute;
	top: 50%;
	left: 50%;
	visibility: hidden;
	opacity: 0;
	color: #fff;
	font-size: 28px;
	font-weight: 700;
	padding: 10px;
	border: 1px solid #fff;
	z-index: 1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-transition: visibility 0s linear 0.3s,opacity 0.3s linear;
	transition: visibility 0s linear 0.3s,opacity 0.3s linear;
}

.img-container:hover .img-total {
	visibility: visible;
	opacity: 1;
	-webkit-transition: 0s;
	transition-delay: 0s;
}

@media only screen and (max-width: 1080px) {
	.no-auto-height .item img {
		height: auto !important;
	}
}