/* common */
.c-link-default {
    text-decoration: none;
    color: #4998e0;
    min-height: 18px;
    line-height: 18px;
    border-bottom: 1px solid transparent;
    transition: color .3s, border-color .3s, background .3s;
}

.c-link-default:hover {
    color: #2a6ea7;
    border-bottom-color: #b6d3ed;
}

.c-sup-small {
    font-size: 7px;
    line-height: 2;
    vertical-align: top;
}

.page-container {
    position: relative;
}

/* footer */
.c-footer {
    min-width: 992px;
    color: #7a7a7a;
    background: #f4f4f4;
}

.c-footer-legal {
    font-size: 14px;
    color: #7a7a7a;
    line-height: 20px;
    padding: 10px 0 24px;
}

.c-footer-legal a {
    color: #7a7a7a;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    line-height: 20px;
    font-weight: 700;
    transition: border-color .15s;
}

.c-footer-legal a:hover {
    color: #7a7a7a;
    border-bottom-color: hsla(0,0%,7%,.3);
}

.c-footer-links-container {
    border: 1px solid #cdcdcd;
    border-width: 1px 0;
    padding: 21px 0 8px;
}

.c-footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-footer-links-item {
    display: inline-block;
    margin: 0 20px 7px 0;
    padding: 0;
}

.c-footer-links-item a {
    font-size: 14px;
    color: #7a7a7a;
    text-decoration: none;
    line-height: 20px;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-color .15s;
}

.c-footer-links-item a:hover {
    color: #7a7a7a;
    border-bottom-color: hsla(0,0%,7%,.3);
}

.c-footer-links-container {
    border: 1px solid #d8d8d8;
    border-width: 1px 0;
    padding: 23px 0 15px;
}

.c-footer-group {
    line-height: 20px;
    margin-top: 14px;
}

.c-footer-group-logo {
    display: inline-block;
    width: 135px;
    height: 29px;
    margin-right: 24px;
    vertical-align: -5px;
    background: url(./img/cian-group-logo.svg) no-repeat;
    background-size: 100%;
}

.c-footer-group-mobile {
    float: right;
}

.c-footer-group-mobile-button {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    opacity: .9;
    transition: opacity .15s;
    vertical-align: -7px;
    border: 0;
}

.c-footer-group-mobile-apple-btn {
    width: 111px;
    height: 31px;
    background-image: url(./img/app-store-gray.svg);
    margin: 0 21px 0 24px;
}

.c-footer-group-mobile-google-btn {
    width: 131px;
    height: 29px;
    background-image: url(./img/google-play-gray.svg);
}

.c-footer-group-mobile-button:hover {
    opacity: 1;
}

.c-footer-projects {
    padding: 22px 0 24px 0;
}

.c-footer-projects-item {
    font-size: 14px;
    line-height: 20px;
    padding-right: 50px;
}

.c-footer-projects-item a {
    color: #7a7a7a;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-color .15s;
}

.c-footer-projects-item a:hover {
    color: #7a7a7a;
    border-bottom-color: hsla(0,0%,7%,.3);
}

.c-footer-psb a {
    color: #121212;
    border: 0;
    text-decoration: none;
}

.c-footer-psb-logo {
    display: block;
    height: 20px;
}

.c-footer-psb-desc-wrap {
    display: block;
    margin-left: 25px;
}

.c-footer-psb-desc {
    display: inline;
    color: #7a7a7a;
    padding-bottom: 1px;
    line-height: 20px;
    border-bottom: 1px solid transparent;
    transition: border-color .15s;
}

.c-footer-psb a:hover .c-footer-psb-desc {
    border-bottom-color: hsla(0,0%,7%,.3);
}

.c-footer-blackstripe {
    color: #fff;
    background-color: #4a5258;
    box-sizing: border-box;
}

.c-footer-copyright {
    float: left;
    line-height: 42px;
}

.c-footer-tomobile {
    float: left;
    margin-left: 20px;
    line-height: 42px;
    cursor: pointer;
}

.c-footer-tomobile a {
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color .15s;
    color: #fff;
    padding-bottom: 1px;
}

.c-footer-tomobile:hover a {
    border-bottom-color: hsla(0,0%,100%,.3);
    color: #fff;
}

.c-footer-age {
    float: right;
    width: 31px;
    height: 31px;
    border: 3px solid;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    margin: 6px 5px 0 0;
}

@media screen and (max-width: 1024px) {
    .c-footer-projects-item {
        padding-right: 38px;
    }
}
