/*Greeting banner*/
/*#greeting-banner{position:relative;padding:10px 10px;background-color:#F9F1A9;z-index:5000;text-align:center;display:none;margin-bottom:10px;}
#greeting-banner > .closex{position: absolute;right:10px;top:7px;font-size:20px;color:#C9C9C9;}
#greeting-banner > .closex:hover{color:#A2A2A2;cursor:pointer;}*/

/*3-column layout*/
#wrap_full{width: 100%;}
#wrap_c{width:980px;margin:0px auto;}
#wrap_cl{width:163px;float:left;}
#wrap_cr{width:802px;float:right;}

/*desktop top: most pages*/
.desktop_top{position:relative;}
.desktop_top > .section-links{margin-right: -321px;position:relative;border-bottom:solid 2px #e5e5e5;margin-bottom:20px;}
.desktop_top > .section-links > ul{list-style-type:none;margin:0;padding:0px;display:inline-block;vertical-align:bottom;}
.desktop_top > .section-links > ul > li{border:0px;margin:0px;padding:0px;float:left;}
.desktop_top > .section-links > ul > li a.nmlink{border-right:solid 2px #e5e5e5;display:inline-block;font-weight:bold;text-align:center;text-decoration:none;margin:0;padding:4px 15px;color:#1122CC;}
.desktop_top > .section-links > ul > li.ask_the_editor_link a{}
.desktop_top > .section-links > ul > li.word_of_the_day_link a{}
.desktop_top > .section-links > ul > li.quizzes_link a{}
.desktop_top > .section-links > ul > li.words_3000_link a{}
.desktop_top > .section-links > ul > li.most_popular_words_link a{}
.desktop_top > .section-links > ul > li.favorites_link a{border-right:none;}
.desktop_top > .section-links > ul > li.login_link a{border-right:none;}
.desktop_top > .section-links > ul > li.logout_link a{border-right:none;}
.desktop_top > .section-links > ul > li.login_link a.login_btn{margin:0;padding:0;display:inline-block;padding:3px 14px;background-color: #1C8598;font-weight: bold;text-transform: uppercase;color: #fff;border: none;border-radius: 3px;text-decoration:none;margin-top:-1px;}
.desktop_top > .section-links > ul > li.logout_link .logout_btn{margin:0;padding:0;display:inline-block;padding:3px 14px;background-color: #1C8598;font-weight: bold;text-transform: uppercase;color: #fff;border: none;border-radius: 3px;text-decoration:none;margin-top:-1px;}

.desktop_top #ld_searchc_d{position:relative;}
.desktop_top #ld_searchc_d > .frm{padding:8px;background-color:#0A42A1;border-radius:4px;}
.desktop_top #ld_searchc_d > .frm > .ld_search_inp{border:0px;padding:6px;width:100%;resize:none;outline:none;font-size:142%;font-weight: bold;vertical-align: middle;padding:16px 10px;}
.desktop_top #ld_searchc_d > .frm > .ld_search_inp:focus{outline:none;box-shadow:inset 0px 0px 10px rgb(89, 147, 214);}
.desktop_top #ld_searchc_d > .frm > .ld_search_inp.ld_pholder{font-weight:normal;color:#A9A9A9;}
.desktop_top #ld_searchc_d > .frm > .autocomplete_holder_d{position:relative;}
.desktop_top #ld_searchc_d > .frm > .autocomplete_holder_d .ui-widget{border-radius:0px;border:1px solid #D5D7D4;border-top:none;padding:0px;width:220px !important;box-shadow: 10px 10px 10px rgba(0,0,0,0.5);}
.desktop_top #ld_searchc_d > .frm > .autocomplete_holder_d .ui-autocomplete-category{padding: 12px 0px 6px 10px;color:#09429C;font-size:150%;}
.desktop_top #ld_searchc_d > .frm > .autocomplete_holder_d .ui-menu-item > a{border-radius:0px;background-color:#fff;border:none;background-image:none;padding:0px 0px 0px 10px;margin:0px;line-height:24px;color:#5f5f5f;}
.desktop_top #ld_searchc_d > .frm > .autocomplete_holder_d .ui-menu-item > a.ui-state-focus{border-radius:0px;background-color:#EFF2F9;border:none;background-image:none;padding:0px 0px 0px 10px;margin:0px;line-height:24px;}
.desktop_top #ld_searchc_d > .search_btn{width:35px;height:32px;position:absolute;right:18px;top:17px;display:inline-block;border:none;margin:0;padding:0;background:transparent url("/images/search/ld_search_btn_icon.png") no-repeat left top;z-index:5;}
.desktop_top #ld_searchc_d > .search_btn:hover{outline:none;}
.desktop_top #ld_searchc_d > .search_btn:focus{outline:none;}

/*mobile top: logo & labels*/
.mobile_top{display:none;padding:0 10px 0 10px;margin:0;background-color: #D9EDEE;border-bottom:1px solid #B2B2B2;}
.mobile_top > .toppest{overflow: hidden;}
.mobile_top > .toppest > .globe_logo{display:none;height:100%;float:left;}
.mobile_top > .toppest > .main_title{font-weight:bold;text-decoration:none;text-align:center;}
.mobile_top > .toppest > .main_title > a{display:block;text-align:left;}
.mobile_top > .toppest > .main_title > a:hover{text-decoration:none;}
.mobile_top > .toppest > .main_title > a.tt{color:#398597;text-align:center;}
.mobile_top > .toppest > .main_title > a.tb{color:#004890;display:none;}

/*Mobile top: search form*/
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{position:relative;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{display:none;background-color:#ECF6F7;position:absolute;left:-10px;right:-10px;top:100%;list-style-type:none;z-index:6;padding:0;margin:0;box-shadow:0 12px 12px -4px gray;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li{position:relative;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li a{display:block;color:#398597;border-bottom:1px solid #398597;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li:last-child a{border-bottom:none;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li > img{position:absolute;height:auto;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m{position:relative;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm{position: relative;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{float:left;color:#398597;border-top-right-radius:6px;border-top-left-radius:6px;position: relative;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn:focus{outline:none;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn > .prick{position:absolute;top:100%;left:0;right:0;height:10px;background-color:#ECF6F7;display:none;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c{overflow:hidden;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp{border:1px solid #1E8598;border-radius:6px;width:100%;resize:none;outline:none;font-weight:bold;vertical-align:middle;padding-right:4em !important;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp:focus{outline:none;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp.ld_pholder{font-weight:normal;color:#A9A9A9;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m{position:relative;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m .ui-widget{border-radius:0px;border:1px solid #D5D7D4;border-top:none;padding:0px;width:220px !important;box-shadow: 10px 10px 10px rgba(0,0,0,0.5);font-family:inherit;font-size:inherit;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m .ui-autocomplete-category{padding: 12px 0px 6px 10px;color:#09429C;font-size:150%;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m .ui-menu-item > a{border-radius:0px;background-color:#fff;border:none;background-image:none;padding:0px 0px 0px 10px;margin:0px;color:#5f5f5f;font-size:0.66em;line-height:1.4;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m .ui-menu-item > a.ui-state-focus{border-radius:0px;background-color:#EFF2F9;border:none;background-image:none;padding:0px 0px 0px 10px;margin:0px;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn{position:absolute;border:none;margin:0;padding:0;z-index:5;color:#398597;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn:hover{outline:none;color:#29798B;cursor:pointer;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn:focus{outline:none;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{position:absolute;border:none;margin:0;padding:0;z-index:5;color:#398597;display:none;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn:hover{outline:none;color:#29798B;cursor:pointer;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn:focus{outline:none;}

/*mobile top: menu pages*/
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb.open > .m_menu_ul{display: block;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb.open > #ld_searchc_m > .frm > .m_menu_btn{background-color:#ECF6F7;}
.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb.open > #ld_searchc_m > .frm > .m_menu_btn > .prick{display:block;}

/*mobile top (h): logo & labels*/
.mobile_top.hm_page{border-bottom:none !important;padding-bottom:0 !important;}
.mobile_top.hm_page > .toppest{}
.mobile_top.hm_page > .toppest > .globe_logo{display:block;}
.mobile_top.hm_page > .toppest > .main_title{height:auto;}
.mobile_top.hm_page > .toppest > .main_title > a.tt{text-align:left;}
.mobile_top.hm_page > .toppest > .main_title > a.tb{display:block;}

/*mobile top: home page*/
.mobile_top.hm_page > .ld_searchc_m_plusb_w{display:block;background-color: #fff;position:relative;margin:0px -10px;}
.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{}
.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{display: none;}
.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{display: none;}
.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m{margin:0 !important;}
.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp{border:2px solid #1E8598;border-radius:10px;width:100%;resize:none;outline:none;vertical-align: middle;width:100%;}
.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn{}


#wrap_cr_t{margin-bottom:17px;}
#wrap_cr_b{}
#wrap_cr_bl{width:481px;float:left;}
#wrap_cr_br{width:307px;float:right;margin-top:35px;}
#wrap_rbr_c{padding:10px 0px;}
#wrap_cf{}


/*siderail: free apps*/
.free_apps_table{margin:3px 0 0 0;padding:0;width:100%;}
.free_apps_table td{vertical-align:middle;}

/*template: main logo*/
#logo{margin:0 0 40px 0;}
#logo img{margin:0 0 0 7px;padding:0;}
#brit_logo_container{text-align:center;}
#brit_logo{margin:72px 0 0 0;padding:0;}

/*template: main titles*/
#main_title{font-size:292%;margin-bottom:2%;text-decoration:none;}
#main_title a{text-decoration:none;color:#398597;}
#main_title a:hover{text-decoration:none;color:#29798B;}

/*Footer: main container*/
#footer {margin:20px 0;padding:0;clear:both;overflow:hidden;}

/*Footer: offerings top*/
#footer > .offerings_top {margin:0 0 20px 0;padding:0;display:block;}
#footer > .offerings_top a {margin:0;padding:0;color:#1122CC;text-decoration:none;}
#footer > .offerings_top a:hover {text-decoration:underline;}
#footer > .offerings_top > .ind_offer {display:inline-block;vertical-align:top;height:125px;}
#footer > .offerings_top > .ind_offer .featTitle {margin:0 0 3px 0;padding:0;font-weight:bold;font-size:134%;}
#footer > .offerings_top > .offer3 > .featTitle {display:inline-block;}
#footer > .offerings_top > .offer1 {margin:0;padding:0 20px 0 0;border-right:1px dotted #999999;}
#footer > .offerings_top > .offer1 > .featImage_1 {margin:0;padding:0;display:inline-block;vertical-align:top;}
#footer > .offerings_top > .offer1 > .featDescr {margin:0;padding:0;display:inline-block;vertical-align:top;color:#656565;line-height:16px;}
#footer > .offerings_top > .offer2 {margin:0;padding:0 20px;border-right:1px dotted #999999;}
#footer > .offerings_top > .offer2 > .featImage_2 {margin:0;padding:0;display:inline-block;vertical-align:top;}
#footer > .offerings_top > .offer2 > .featDescr {margin:0;padding:0;display:inline-block;vertical-align:top;color:#656565;line-height:16px;}
#footer > .offerings_top > .offer3 {margin:0;padding:0 20px 0 15px;border-right:1px dotted #999999;}
#footer > .offerings_top > .offer3 > .featImage_3 {margin:0;padding:0;float:left;}
#footer > .offerings_top > .offer3 > .featDescr {margin:0;padding:0;display:block;vertical-align:top;color:#656565;line-height:16px;}
#footer > .offerings_top > .offer4 {margin:0;padding:0 0 0 20px;}
#footer > .offerings_top > .offer4 > .featImage_4 {margin:0;padding:0;display:inline-block;vertical-align:top;}
#footer > .offerings_top > .offer4 > .featDescr {margin:0;padding:0;display:inline-block;vertical-align:top;color:#656565;line-height:16px;}

/*Footer: offerings bottom*/
#footer > .offerings_bottom {margin:0 0 40px 0;padding:0;display:block;}
#footer > .offerings_bottom a {margin:0;padding:0;color:#1122CC;text-decoration:none;}
#footer > .offerings_bottom a:hover {text-decoration:underline;}
#footer > .offerings_bottom > .ind_offer {display:inline-block;vertical-align:top;height:60px;}
#footer > .offerings_bottom > .ind_offer .featTitle {margin:0 0 3px 0;padding:0;font-weight:bold;font-size:134%;}
#footer > .offerings_bottom > .offer5 {margin:0;padding:0;width:330px;border-right:1px dotted #999999;}
#footer > .offerings_bottom > .offer5 > .facebook {margin:0;padding:0;display:inline-block;}
#footer > .offerings_bottom > .offer5 > .twitter {margin:0;padding:0;display:inline-block;width:160px;}
#footer > .offerings_bottom > .offer5 > .facebook .fbLogo {margin:0 5px 0 0;padding:0;width:33px;display:inline-block;}
#footer > .offerings_bottom > .offer5 > .facebook .fbLogo img {margin:0;padding:0;width:100%;border-radius:3px;border:0;}
#footer > .offerings_bottom > .offer5 > .facebook .fbDescr {margin:0;padding:0;display:inline-block;vertical-align:top;}
#footer > .offerings_bottom > .offer5 > .twitter .twLogo {margin:0 5px 0 0;padding:0;width:33px;display:inline-block;}
#footer > .offerings_bottom > .offer5 > .twitter .twDescr {margin:0;padding:0;display:inline-block;vertical-align:top;}
#footer > .offerings_bottom > .offer5 > .twitter .twLogo img {margin:0;padding:0;width:100%;border-radius:3px;border:0;}
#footer > .offerings_bottom > .offer6{margin:0;padding:0 0 0 15px;width:240px; /**255**/border-right:1px dotted #999999;}
#footer > .offerings_bottom > .offer6 > .bookstoreDescr {margin:0;padding:0;color:#656565;line-height:16px;}
#footer > .offerings_bottom > .offer7{margin:0;padding:0 0 0 15px;}
#footer > .offerings_bottom > .offer7 > .dictURLs_1 {margin:0;padding:0;width:225px;display:inline-block;}
#footer > .offerings_bottom > .offer7 > .dictURLs_2 {margin:0;padding:0;display:inline-block;}
#footer > .offerings_bottom > .offer7 > .dictURLs_1 a {margin:0;padding:0;display:block;line-height:20px;}
#footer > .offerings_bottom > .offer7 > .dictURLs_2 a {margin:0;padding:0;display:block;line-height:20px;}

/*Footer: major links*/
#footer > .footer_b > .major-links{font-weight: normal;margin: 0 0 1em 0;padding: 0;}
#footer > .footer_b > .major-links ol{margin:0;padding:0;}
#footer > .footer_b > .major-links ol li{display: inline;list-style-type:none;margin:0 1em 0 0;padding:0;}
#footer > .footer_b > .major-links ol a{margin:0;padding:0;font-weight:bold;}
#footer > .footer_b > .major-links ol a:link,
#footer > .footer_b > .major-links ol a:active,
#footer > .footer_b > .major-links ol a:visited{color:#1122CC;text-decoration: none;}
#footer > .footer_b > .major-links ol a:hover{color:#1122CC;text-decoration: underline;}

/*Footer: minor links*/
#footer > .footer_b > .minor-links{font-weight: normal;margin: 0 0 1em 0;padding: 0;}
#footer > .footer_b > .minor-links ol{margin: 0;padding: 0;}
#footer > .footer_b > .minor-links ol li{display: inline;list-style-type: none;margin: 0 1em 0 0;padding: 0;}
#footer > .footer_b > .minor-links ol a{margin:0;padding:0;font-weight:normal;}
#footer > .footer_b > .minor-links ol a:link,
#footer > .footer_b > .minor-links ol a:active,
#footer > .footer_b > .minor-links ol a:visited{color:#1122CC;text-decoration: none;}
#footer > .footer_b > .minor-links ol a:hover{color:#1122CC;text-decoration: underline;}

/*Footer: copyright*/
#footer > .footer_b > .copyright{color:#676767;font-weight:normal;margin: 0 0 1em 0;padding: 0;}
#footer > .footer_b > .copyright a{margin:0;padding:0;}
#footer > .footer_b > .copyright a:link,
#footer > .footer_b > .copyright a:active,
#footer > .footer_b > .copyright a:visited{color:#1122CC;text-decoration:none;}
#footer > .footer_b > .copyright a:hover{color:#1122CC;text-decoration:underline;}

/*Footer: browse the Dictionary List*/
#footer > .footer_b > .browse-dictionary{float:right;clear:both;margin:0 0 4px;padding:0}
#footer > .footer_b > .browse-dictionary a{margin:0;padding:0}
#footer > .footer_b > .browse-dictionary a:link,
#footer > .footer_b > .browse-dictionary a:active,
#footer > .footer_b > .browse-dictionary a:visited{color:#12C;text-decoration:none}
#footer > .footer_b > .browse-dictionary a:hover{color:#12C;text-decoration:underline}

/*Footer: ad holder*/
#footer .ad_holder{text-align:center;margin:20px 0px;}


/*Ads*/
.abl{
    display: inline-block;
    box-sizing: border-box;
    background-color: #f9f8fd;
}
.abl-m0-t728-d728{width:728px;height:90px;}
.abl-m320-t728-d728{width:728px;height:90px;}
.abl-m0-t160-d160{width:160px;height:600px;}
.abl-m0-t300-d300{width:300px;height:250px;}

/********************************************************************************
 * mobile overides
 ********************************************************************************/
@media (min-width: 768px) {
    .mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m .ui-menu-item > a{line-height:24px;}
    .mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .autocomplete_holder_m .ui-menu-item > a.ui-state-focus{line-height:24px;}
}
@media (max-width: 319px) {
	/*modifier*/
	.mobile_top{font-size:16px;}
	
	/*logo sizing*/
	.mobile_top > .toppest > .main_title{}
	.mobile_top > .toppest > .main_title > a.tt{font-size:0.9em;line-height:1.6em;}
	
	/*search form*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{padding:0.1em 0.28em;font-size:1.2em;margin-right:0.2em;margin-left:-0.15em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {padding:0.5em 0.3em;font-size:0.66em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.2em;top:0.16em;font-size:1.1em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.2em;top:0;font-size:1.33em;}
    
	/*logo sizing(h)*/
	.mobile_top.hm_page > .toppest{height: 3.5em;padding:0.4em 0;}
	.mobile_top.hm_page > .toppest > .main_title{padding-top:0.5em;}
	.mobile_top.hm_page > .toppest > .main_title > a.tt{font-size:1.1em;line-height:1.3em;}
	.mobile_top.hm_page > .toppest > .globe_logo{padding-right:0.5em;}
	
	/*search form(h)*/
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m {margin:0 !important;padding:0.4em 0.4em 0 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {font-size: 0.9em;padding: 0.7em 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.4em;top:0.4em;font-size:1.4em;}
    .mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.3em;top:0.2em;font-size:1.7em;}
    
	/*menu*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{font-size:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li a{font-size:100%;padding: 10px 10px 10px 36px;margin:0px 10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li > img{width:22px;left:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.home > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.qa > img{top:18px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.wod > img{top:12px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.quizzes > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.words_3000 > img{top:16px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.saved > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.logout > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.login > img{top:10px;}
}
@media (min-width: 320px) and (max-width: 420px) {
	/*modifier*/
	.mobile_top{font-size:20px;}
	
	/*logo sizing*/
	.mobile_top > .toppest > .main_title{}
	.mobile_top > .toppest > .main_title > a.tt{font-size:0.9em;line-height:1.6em;}
	
	/*search form*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{padding:0.1em 0.28em;font-size:1.2em;margin-right:0.2em;margin-left:-0.15em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {padding:0.5em 0.3em;font-size:0.66em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.2em;top:0.16em;font-size:1.1em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.2em;top:0;font-size:1.33em;}
    
	/*logo sizing(h)*/
	.mobile_top.hm_page > .toppest{height: 3.5em;padding:0.4em 0;}
	.mobile_top.hm_page > .toppest > .main_title{padding-top:0.5em;}
	.mobile_top.hm_page > .toppest > .main_title > a.tt{font-size:1.1em;line-height:1.3em;}
	.mobile_top.hm_page > .toppest > .globe_logo{padding-right:0.5em;}
	
	/*search form(h)*/
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m {margin:0 !important;padding:0.4em 0.4em 0 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {font-size: 0.9em;padding: 0.7em 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.4em;top:0.4em;font-size:1.4em;}
    .mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.3em;top:0.2em;font-size:1.7em;}
    
	/*menu*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{font-size:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li a{font-size:100%;padding: 10px 16px 10px 50px;margin:0px 10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li > img{width:30px;left:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.home > img{top:8px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.qa > img{top:16px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.wod > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.quizzes > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.words_3000 > img{top:13px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.saved > img{top:7px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.logout > img{top:8px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.login > img{top:8px;}
}
@media (min-width: 421px) and  (max-width: 520px) {
	/*modifier*/
	.mobile_top{font-size:22px;}
	
	/*logo sizing*/
	.mobile_top > .toppest > .main_title{}
	.mobile_top > .toppest > .main_title > a.tt{font-size:0.9em;line-height:1.6em;}
	
	/*search form*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{padding:0.1em 0.28em;font-size:1.2em;margin-right:0.2em;margin-left:-0.15em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {padding:0.5em 0.3em;font-size:0.66em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.2em;top:0.16em;font-size:1.1em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.2em;top:0;font-size:1.33em;}
    
	/*logo sizing(h)*/
	.mobile_top.hm_page > .toppest{height: 3.5em;padding:0.4em 0;}
	.mobile_top.hm_page > .toppest > .main_title{padding-top:0.5em;}
	.mobile_top.hm_page > .toppest > .main_title > a.tt{font-size:1.1em;line-height:1.3em;}
	.mobile_top.hm_page > .toppest > .globe_logo{padding-right:0.5em;}
	
	/*search form(h)*/
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m {margin:0 !important;padding:0.4em 0.4em 0 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {font-size: 0.9em;padding: 0.7em 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.4em;top:0.4em;font-size:1.4em;}
    .mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.3em;top:0.2em;font-size:1.7em;}
    
	/*menu*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{font-size:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li a{font-size:150%;padding: 10px 16px 10px 60px;margin:0px 10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li > img{width:40px;left:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.home > img{top:7px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.qa > img{top:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.wod > img{top:12px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.quizzes > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.words_3000 > img{top:16px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.saved > img{top:6px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.logout > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.login > img{top:10px;}
}
@media (min-width: 521px) and (max-width: 600px) {
	/*modifier*/
	.mobile_top{font-size:24px;}
	
	/*logo sizing*/
	.mobile_top > .toppest > .main_title{}
	.mobile_top > .toppest > .main_title > a.tt{font-size:0.9em;line-height:1.6em;}
	
	/*search form*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{padding:0.1em 0.28em;font-size:1.2em;margin-right:0.2em;margin-left:-0.15em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {padding:0.5em 0.3em;font-size:0.66em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.2em;top:0.16em;font-size:1.1em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.2em;top:0;font-size:1.33em;}
    
	/*logo sizing(h)*/
	.mobile_top.hm_page > .toppest{height: 3.5em;padding:0.4em 0;}
	.mobile_top.hm_page > .toppest > .main_title{padding-top:0.5em;}
	.mobile_top.hm_page > .toppest > .main_title > a.tt{font-size:1.1em;line-height:1.3em;}
	.mobile_top.hm_page > .toppest > .globe_logo{padding-right:0.5em;}
	
	/*search form(h)*/
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m {margin:0 !important;padding:0.4em 0.4em 0 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {font-size: 0.9em;padding: 0.7em 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.4em;top:0.4em;font-size:1.4em;}
    .mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.3em;top:0.2em;font-size:1.7em;}
    
	/*menu*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{font-size:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li a{font-size:160%;padding: 10px 18px 10px 60px;margin:0px 20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li > img{width:42px;left:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.home > img{top:6px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.qa > img{top:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.wod > img{top:15px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.quizzes > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.words_3000 > img{top:16px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.saved > img{top:8px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.logout > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.login > img{top:10px;}
}
@media (min-width: 601px) and (max-width: 767px) {
	/*modifier*/
	.mobile_top{font-size:26px;}
	
	/*logo sizing*/
	.mobile_top > .toppest > .main_title{}
	.mobile_top > .toppest > .main_title > a.tt{font-size:0.9em;line-height:1.6em;}
	
	/*search form*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .m_menu_btn{padding:0.1em 0.28em;font-size:1.2em;margin-right:0.2em;margin-left:-0.15em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {padding:0.5em 0.3em;font-size:0.66em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.2em;top:0.14em;font-size:1.1em;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.2em;top:0;font-size:1.4em;}
    
	/*logo sizing(h)*/
	.mobile_top.hm_page > .toppest{height: 3.5em;padding:0.4em 0;}
	.mobile_top.hm_page > .toppest > .main_title{padding-top:0.5em;}
	.mobile_top.hm_page > .toppest > .main_title > a.tt{font-size:1.1em;line-height:1.3em;}
	.mobile_top.hm_page > .toppest > .globe_logo{padding-right:0.5em;}
	
	/*search form(h)*/
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb{padding-bottom:0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m {margin:0 !important;padding:0.4em 0.4em 0 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .ld_search_inp_c > .ld_search_inp {font-size: 0.9em;padding: 0.7em 0.4em;}
	.mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .search_btn {right:0.4em;top:0.4em;font-size:1.4em;}
    .mobile_top.hm_page > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > #ld_searchc_m > .frm > .clear_btn{right:1.3em;top:0.2em;font-size:1.7em;}
    
	/*menu*/
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul{font-size:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li a{font-size:180%;padding: 12px 20px 12px 70px;margin:0px 20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li > img{width:50px;left:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.home > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.qa > img{top:22px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.wod > img{top:15px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.quizzes > img{top:12px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.words_3000 > img{top:20px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.saved > img{top:8px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.logout > img{top:10px;}
	.mobile_top > .ld_searchc_m_plusb_w > .ld_searchc_m_plusb > .m_menu_ul > li.login > img{top:10px;}
}
@media (max-width: 767px) {
	#wrap_c{width:100%;padding-bottom:100px;}
	#wrap_cr{width:100%;float:none;}
	#wrap_cr_t.hm_page{display: none;}
	#wrap_cr_t{background-color:#F1F1F1;border-bottom:1px solid #ccc;}
	#wrap_cr_b{padding:0 10px 0 10px;}
	#wrap_cr_bl{width:100%;float:none;}
	#footer .ad_holder{position:fixed;bottom:0px;left:0;right:0;z-index:1000;margin:0;padding:0;background-color:#F1F1F1;border-top:1px solid #ccc;text-align: center;}
    
    
    .abl-m320-t728-d728{width:320px;height:50px;}
}