.header__top {
	padding: 8px 0;
}

.header__top:after {
	content: "";
	display: table;
	clear: both;
}

.header__logo {
	float: left;
}

.header__nav {
	float: right;
	font-size: 0; 
	margin-top: 4px;
}

.header__nav-list {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	line-height: 1;
	font-weight: bold;
	list-style-type: none;
}

.header__nav-list--no-user {
	height: 40px;
	line-height: 40px;
}

.header__nav-item {
	margin: 0;
	display: inline-block;
	margin-right: 17px;
	font-size: 12px;
}

.header__nav-item:last-child {
	margin: 0;
}

.icon-basket {
	background: url(/image/s/sprite.png?250820161409) -88px 0px no-repeat;
	position: relative;
	height: 14px;
	width: 16px;
}

.icon-basket--header {
	display: inline-block;
	margin-top: -2px;
	vertical-align: text-top;
	margin-right: 3px;
}

.icon-contacts-letter {
	height: 12px;
	width: 18px;
	background: url(/image/s/sprite.png?250820161409) -74px -17px no-repeat;
}

.icon-contacts-letter--header {
	display: inline-block;
	margin-right: 6px;
	vertical-align: text-top;
	margin-top: 1px;
}

.link:hover .icon-contacts-letter {
	background: url(/image/s/icon-contacts-letter-hover.png) 0 0 no-repeat;
}

.icon-contacts-letter--blink {
	background: url(/image/s/icon-letter-gray-blink.gif) no-repeat;
}

.link:hover .icon-contacts-letter--blink {
	background: url(/image/s/icon-letter-gray-blink.gif) no-repeat;
}

.header__menu {
	position: relative;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	z-index: 200;
	width: 55px;
	text-align: right;
}

.header__menu-avatar {
	display: inline-block;
	width: 38px;
	height: 38px;
	border: 1px solid #dddedf;
	border-radius: 50%;
	overflow: hidden;
}

.header__menu-avatar-img {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.header__dropdown {
	position: absolute;
	right: -1px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 6px 1px rgba(0,0,0,0.4);
	font-size: 12px;
	width: 205px;
	display: none;
	top: 50px;
	text-align: left;
}

.header__dropdown--master {
	width: 310px;
}

.header__dropdown:before {
	content: "";
	position: absolute;
	background: url(/image/s/header-menu-arrow.png?123);
	top: -12px;
	right: 12px;
	width: 18px;
	height: 12px;
}

.header__menu--hover .header__dropdown {
	display: block;
}

.header__dropdown-header {
	padding: 12px 20px;
	background-color: #f8f8f8;
	border-radius: 5px 5px 0 0;
}

.header__dropdown-master-name {
	color: #898989;
	display: block;
	font-size: 13px;
	line-height: 18px;
	word-wrap: break-word;
}

.header__dropdown-master-name:hover {
	color: #898989;
}

.header__dropdown-master-text {
	display: block;
	line-height: 16px;
}

.header__dropdown-list {
	list-style-type: none;
	margin: 0;
	padding: 12px 20px 6px 20px;
}

.header__dropdown-list:after {
	content: '';
	display: table;
	clear: both;
}

.header__dropdown-item {
	float:left;
	width: 140px;
	margin: 0 0 4px 0;
	font-size: 13px;
}

.header__dropdown-item:nth-child(even) {
	width: 130px;
}

.header__dropdown-exit-block {
	border-top: 1px solid #efefef;
	font-size: 13px;
	margin: 0 20px 10px 20px;
	padding-top: 10px;
}

.header__dropdown-exit-block:after {
	content: '';
	display: table;
	clear: both;
}

.header__dropdown-exit-link {
	float: left;
}

.header__input-search-lhm {
	width: 200px !important;
}

.header__search-btncontainer {
	float: left;
	margin: 11px 45px 0px 8px;
	line-height: 1;
}

.header-lhm-links {
	float: left;
	margin-top: 15px;
	margin-left: 17px;
}

.b-top-ten-years-anniversary-lhm--test {
	margin-left: 100px;
}

.header__modal-text {
	font-size: 12px;
	margin-bottom: 10px;
}

.header__modal-textarea {
	width: 100%;
	height: 80px;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.header-search {
	position: relative;
	float: left;
	margin: 15px 0 0 5px;
}

.header-search:after {
	content: "";
	display: table;
	clear: both;
}

.header-search-input {
	float: left;
}

.header-search-button {
	float: left;
	margin-left: 8px;
}

.header-search-button .btn {
	padding-top: 1px;
}

.header-search .search-input-header {
	width: 239px;
}

.header-links {
	float: left;
	height: 21px;
	margin-top: 15px;
	margin-left: 22px;
	padding-left: 20px;
	line-height: 21px;
	font-weight: bold;
	border-left: 1px solid #999;
}

/* Новая версия хедера (синяя) */
.header-blue {
	position: relative;
	width: 1000px;
	margin: 0 auto 25px auto;
	z-index: 997;
}

.header-blue--lhm {}

.header-blue-top {
	position: relative;
	padding: 6px 0;
}

.header-blue-top:after {
	content: "";
	display: table;
	clear: both;
}

.header-blue-logo {
	float: left;
}

.header-blue-nav {
	width: 100%;
	height: 43px;
	font-size: 0;
	background-color: #5d99d7;
	border-radius: 5px;
}

.header-blue-nav:after {
	content: "";
	display: table;
	clear: both;
}

.header-blue-sections {
	float: right;
	height: 43px;
	font-size: 0;
}

.header-blue-sections:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.header-blue-sections-item {
	display: inline-block;
	height: 43px;
	padding: 0;
}

.header-blue-sections-vsep {
	display: inline-block;
	width: 1px;
	height: 40px;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.58) 29%,rgba(255,255,255,0.7) 35%,rgba(255,255,255,0.7) 40%,rgba(255,255,255,0.7) 61%,rgba(255,255,255,0.7) 66%,rgba(255,255,255,0.54) 74%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.58) 29%,rgba(255,255,255,0.7) 35%,rgba(255,255,255,0.7) 40%,rgba(255,255,255,0.7) 61%,rgba(255,255,255,0.7) 66%,rgba(255,255,255,0.54) 74%,rgba(255,255,255,0) 100%);
	vertical-align: middle;
}

.header-blue-sections-link,
.header-blue-sections-link:hover {
	display: inline-block;
	height: 43px;
	line-height: 43px;
	padding: 0 23px;
	font-size: 14px;
	color: #fff;
	vertical-align: middle;
	text-decoration: none;
}

.header-blue-sections-link:hover,
.header-blue-sections-link--selected {
	background-color: #548cc7;
	text-decoration: none;
}

.header-blue-sections-link--dropdown {
}

.header-blue-sections-link--dropdown:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 3px;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
	vertical-align: middle;
	-webkit-transform:rotate(360deg);
}

.header-blue-sections-item:last-child .header-blue-sections-link:hover {
	border-radius: 0 5px 5px 0;
}

.header-blue-search {
	float: left;
	padding-left: 7px;
	width: 340px;
	height: 100%;
}

.header-blue-search:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.header-blue-toplinks {
	float: left;
	list-style: none;
	margin: 14px 0 0 10px;
}

.header-blue-toplinks-item {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.header-blue-toplinks:before,
.header-blue-toplinks-item:after {
	content: "";
	display: inline-block;
	width: 1px;
	height: 17px;
	margin: 0 6px;
	background-color: #c2c2c2;
	vertical-align: middle;
}
/* /Новая версия хедера (синяя) */

/* Новая версия хедера (серая) */
.header-gray {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	background-color: #fff;
	z-index: 1700;
}

.header-gray--lhm {}

.header-gray-sticky {
	position: relative;
	width: 100%;
	top: 0;
	background-color: #fff;
	box-shadow: none;
	-webkit-transition: box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
}

.header-gray-top {
	width: 1000px;
	margin: 0 auto;
	padding: 6px 0;
}

.header-gray-top:after {
	content: "";
	display: table;
	clear: both;
}

.header-gray-logo {
	float: left;
	font-size: 0;
}

.header-gray-logo:after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.header-gray-search {
	float: left;
	margin-left: 14px;
	width: 385px;
	height: 43px;
	font-size: 0;
}

.header-gray-search:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.header-gray-nav {
	position: relative;
	width: 100%;
	min-width: 1000px;
	font-size: 0;
	background-color: #fafafa;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.header-gray-nav:after {
	content: "";
	display: table;
	clear: both;
}

.header-gray-sections {
	width: 1000px;
	height: 40px;
	margin: 0 auto;
	list-style: none;
	font-size: 0;
}

.header-gray-sections:after {
	content: "";
	display: table;
	clear: both;
}

.header-gray-sections-item {
	display: inline-block;
	height: 40px;
	margin: 0;
	vertical-align: middle;
}

.header-gray-sections-item:first-child {
	margin: 0 0 0 -23px;
}

.header-gray-sections-link {
	display: inline-block;
	height: 40px;
	padding: 0 23px;
	line-height: 40px;
	font-size: 15px;
	color: #000;
	vertical-align: middle;
}

.header-gray-sections-link:hover,
.header-gray-sections-link--selected {
	color: #000;
	background-color: #eeeeee;
	text-decoration: none;
}

.header-gray-sections-link--dropdown {
}

.header-gray-sections-link--dropdown:after {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	margin-top: -1px;
	margin-left: 4px;
	border-style: solid;
	border-width: 6px 4px 0 4px;
	border-color: #000 transparent transparent transparent;
	vertical-align: middle;
	-webkit-transform:rotate(360deg);
}

.header-gray-sections-item--right {
	float: right;
	margin: 0;
}

.header-gray-sections-item--right .header-gray-sections-link {
	background-color: #f3f3f3;
}

.header-gray-sections-item--right .header-gray-sections-link:hover {
	background-color: #eeeeee;
}

.header-gray--lhm .header-gray-search {
	width: 312px;
	margin-left: 19px;
}

.sticky-header .header-gray-sticky {
	position: fixed;
	top: 0;
	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
	z-index: 998;
}

.sticky-header .header-gray-nav {
	margin-top: 59px;
}
/* /Новая версия хедера (серая) */

/**/
.header-dropdown {
	display: none;
	position: absolute;
	padding: 4px 0;
	background-color: #fff;
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}

.header-dropdown--open {
	display: block;
}

.header-dropdown-arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: -9px;
	border-style: solid;
	border-width: 9px;
	border-color: transparent;
	border-top-width: 0;
	border-bottom: 9px solid #ccc;
	font-size: 0;
	line-height: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.header-blue .header-dropdown-arrow {
	border-bottom-color: #fff;
}

.header-dropdown-arrow:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 1px;
	left: -9px;
	border-style: solid;
	border-width: 9px;
	border-color: transparent;
	border-top-width: 0;
	border-bottom: 9px solid #fff;
	font-size: 0;
	line-height: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.header-dropdown-item {
}

.header-dropdown-link {
	display: block;
	padding: 4px 10px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
}

.header-dropdown-link:hover {
	color: #000;
	background-color: #f0f0f0;
	text-decoration: none;
}