.box-sb-news--new {
	background: #fff;
	border: 1px solid rgb(224, 231, 238);
	background: url(/image/s/banners-subscribe/cloud.png) no-repeat;
	background-position: bottom;
}

.icon-close-test {
	display: inline-block;
	height: 9px;
	width: 9px;
	background: url(/image/s/sprite.png?300320161752);
	background-position: -340px -629px;
	margin-left: 2px;
}

.div-guest-mail {
	width: 100%;
}

.div-link-subscribe, 
.main-text-guest-subscribe {
	text-align: center;
}

.smal-text {
	font: 12px/1.5 Arial, 'Liberation Sans', FreeSans, sans-serif;
	line-height:13px;
}

.unreg-subscribe-bunner-text {
	line-height: 13px;
	margin: 0 10px 0 10px;
}

.box-sb-cloud .unreg-subscribe-bunner-text {
	margin: 0 0 10px 0;
}

.box-sb-menu-title {
	text-align: left;
	padding: 10px 0 0 10px;
	height: 26px;
	font-size: 13px;
	line-height: 13px;
	font-weight: 600;
}

.box-sb-cloud .box-sb-menu-title {
	border-bottom: 1px solid rgb(224, 231, 238);
}