.viewer-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index:1800;
	visibility: hidden;
	line-height: 1.34;
	font-size: 0;
	overflow: auto;
}

.viewer-container:before {
	display: inline-block;
	content: " ";
	vertical-align: middle;
	height: 100%;
}

.viewer-overlay {
	position: fixed;
	opacity: 0.80;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background:#000;
	z-index: 1799;
}

.viewer-block-container {
	text-align: center;
	vertical-align: middle;
	width: 100%;
	display: inline-block;
}

.viewer-block {
	display: inline-block;
	margin: 20px 30px 20px 30px;
	position: relative;
	text-align: left;
}

.viewer {
	background-color: #fff;
	width: 1020px;
	position: relative;
	display: block;
	z-index: 1801;
}

.viewer a {
	text-decoration: none;
}

.viewer-sketch {
	margin-right: 8px;
	margin-bottom: 10px;
	width: 80px;
	height: 80px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.viewer-slider {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	font-size: 0;
	width: 690px;
	height: 690px;
	background: #000;
}

.slide-current {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 690px;
}

.slide-track {
	width: 0 !important;
	height: 0 !important;
	position: absolute;
	overflow: hidden;
}

.slide {
	position: relative;
	background: #000;
	text-align: center;
}

.current-image {
	vertical-align: middle;
	display: inline-block;
}

.viewer-info {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 30px;
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	width: 330px;
	background-color: #fff;
	height: 100%;
	font-size: 12px;
}

.viewer-info .viewer-item-name {
	display: block;
	max-height: 3.9em;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 30px;
	word-wrap: break-word;
	overflow: hidden;
	position: relative;
	font-weight: bold;
	line-height: 1.3;
	color: #000;
}

.viewer-info .viewer-item-name-moderate {
	display: block;
	max-height: 3.9em;
	font-size: 14px;
	margin-top: 20px;
	margin-right: 30px;
	word-wrap: break-word;
	overflow: hidden;
	position: relative;
	font-weight: bold;
	line-height: 1.3;
	color: #000;
}

a.viewer-item-name:hover {
	text-decoration: underline;
}

.viewer-info .viewer-item-name.text-multiline {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	text-overflow: ellipsis;
}

.viewer-info .widget-dropdown{
	top: -103px;
	left: -124px;
}

.viewer-info .b-menu-blog div.list.social div.punkt.first {
	border-radius: 4px 4px 0 0;
}

.viewer-info .b-menu-blog div.list.social div.punkt.last {
	border-radius: 0 0 0 4px;
}

.viewer-info .b-menu-blog {
	z-index: 100;
}

.viewer-btns {
	margin-top: 20px;
	font-size: 0;
}

.viewer-btn {
	display: inline-block;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	text-decoration: none;
}

.viewer-btn:hover {
	color: #fff;
	text-decoration: none;
}

.viewer-btn-primary {
	color: #fff;
	background-color: #fd7801;
}

.viewer-btn-primary:hover {
	background-color: #fd993f;
}

.viewer-btn-primary:active {
	background-color: #fd7801;
}

.viewer-btn-important {
	padding-right: 24px;
	padding-left: 24px;
	background-color: #ed4b0a;
}

.viewer-btn-important:hover {
	background-color: #ed6e3b;
}

.viewer-btn-important:active {
	background-color: #ed4b0a;
}

.viewer-btn-wide {
	padding-right: 40px;
	padding-left: 40px;
}

.viewer-btns .viewer-btn {
	margin-right: 10px;
}

.viewer-btns .viewer-btn:last-child {
	margin-right: 0;
}

.viewer-price {
	margin: 10px 0;
}

.viewer-price .price {
	margin-top: 20px;
	color: #fd7801;
	font-size: 18px;
	font-weight: bold;
}

.viewer-fav {
	margin-top: 15px;
	color: #3f93d9;
	cursor: pointer;
}

.viewer-fav:hover .fav-link {
	text-decoration: underline;
}

.viewer-social {
	margin-top: 40px;
	padding-left: 0px;
	margin-right: 30px;
	position: absolute;
	bottom: 0;
	width: 270px;
	font-size: 0;
}

.viewer-social-title {
	margin-top: 11px;
}

.viewer-social-hr {
	background-color: #e6e6e6;
	margin-bottom: 5px;
	border: none;
}

.viewer-social-link {
	font-size: 12px;
	line-height: 14px;
	margin: 13px 0 13px 0;
	display: inline-block;
}

.viewer-social-link:hover {
	text-decoration: underline;
}

.viewer-social .social-likes {
	margin-bottom: 15px;
}

.viewer-social .social-likes__widget {
	margin-top: 10px;
}

.viewer-social .widget-plus--square {
	margin-top: 10px;
	font-size: 12px;
	margin-left: 0;
}

.viewer-social .social-likes__counter {
	font-size: 12px;
}

.viewer-close {
	background: url('/image/viewer/viewer_sprite.png?310320161554') no-repeat;
	background-position: -99px -22px;
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.viewer-sketches {
	margin-top: 32px;
	max-height: 180px;
}

.viewer-sketches.viewer-sketches-purchase {
	margin-top: 20px;
}

.viewer-sketches-moderator {
	margin-top: 0px;
	max-height: 180px;
}

.social-viewer-btn {
	width: 155px;
}

.viewer-btn-slide-zoom {
	background: url('/image/viewer/viewer_sprite.png?310320161554') no-repeat;
	background-position: -5px -11px;
	border: none;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 30px;
	right: 20px;
	cursor: pointer;
	z-index: 200;
	visibility: hidden;
	display: none;
}

.viewer-btn-slide-zoom.active {
	background: url('/image/viewer/viewer_sprite.png?310320161554') no-repeat;
	background-position: -51px -11px;
}

.viewer-slider-hover:hover .viewer-btn-slide-zoom {
	visibility: visible;
}

.viewer-sketch-toggled {
	box-shadow: 1px 1px 4px 3px rgba(0,0,0,0.3);
}

.viewer-next-image {
	display: none;
}

/* Блок стрелок */
.viewer-item-btn {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0;
	z-index: 12000;
	display: none;
}

.viewer-item-btn-prev {
	left: 0;
}

.viewer-item-btn-next {
	right: 0;
}

.viewer-item-btn-container {
	width: 30px;
	height: 120px;
	line-height: 120px;
	background-color: #c1c1c1;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.viewer-item-btn-icon {
	display: inline-block;
	width: 20px;
	height: 36px;
	vertical-align: middle;
	background-image: url('/image/viewer/viewer-item-scroll-sprite.png?150420161336');
}

.viewer-item-btn-icon-prev {
	background-position: -2px -49px;
}

.viewer-item-btn-icon-next {
	background-position: -27px -49px;
}

.viewer-item-btn-image-container {
	display: inline-block;
	width: 0;
	height: 120px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	background-color: #fff;
	border: 2px solid #c1c1c1;
	overflow: hidden;
}

.viewer-item-btn-image-prev {
	width: 0;
	border-width: 0;
	-moz-transition: width .5s, border-width .1s .4s;
	-o-transition: width .5s, border-width .1s .4s;
	-webkit-transition: width .5s, border-width .1s .4s;
	transition: width .5s, border-width .1s .4s;
}

.viewer-item-btn-image-next {
	width: 0;
	border-width: 0;
	-moz-transition: width .5s, border-width .1s .4s;
	-o-transition: width .5s, border-width .1s .4s;
	-webkit-transition: width .5s, border-width .1s .4s;
	transition: width .5s, border-width .1s .4s;
}

.viewer-item-btn-prev:hover .viewer-item-btn-image-prev,
.viewer-item-btn-next:hover .viewer-item-btn-image-next {
	width: 120px;
	border: 2px solid #c1c1c1;
	-moz-transition: width .5s;
	-o-transition: width .5s;
	-webkit-transition: width .5s;
	transition: width .5s;
}
/* Блок стрелок */

.viewer-items-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.viewer-master-avatar {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.viewer-master-info {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #000;
	margin-left: 10px;
	text-align: left;
	color: #626262;
}

.viewer-master-name {
	display: block;
	max-height: 36px;
	line-height: 18px;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 7px;
	font-size: 17px;
	color: #626262;
}

.viewer-master-name:hover {
	color: #626262;
	text-decoration: underline;
}

.viewer-master-address {
	max-height: 24px;
	line-height: 12px;
	margin-bottom: 0;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 11px;
}

.viewer-master-link {
	display: block;
	margin-top: 20px;
	margin-right: 30px;
}

.viewer-master-link .viewer-social-hr {
	margin-top: 15px;
}

.viewer-start-photo {
	display: inline-block;
	position: relative;
}

.viewer-start-photo-btn {
	content: " ";
	background-image: url('/image/viewer/viewer_sprite.png?310320161554');
	background-position: -2px -60px;
	width: 72px;
	height: 72px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	display: block;
	z-index: 50;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	cursor: pointer;
}

.viewer-start-photo:hover .viewer-start-photo-btn {
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

.viewer-start-photo-btn:hover {
	background-position: -2px -134px;
}

.description-keywords {
	overflow: auto;
	width: 267px;
	max-height: calc(100% - 600px);
}

.tested-new-item {
	margin-left: 80px;
}