html, body { background:#ccc; margin-top:0px; margin-bottom:0px; margin-right:0px; margin-left:0px; padding: 0;}


a {

color:#000;
font-family: Tahoma, Arial, Helvetica, sans-serif;
text-decoration: none;

}

a:hover {
text-decoration: underline;
color:#dda260;
}
 


p, div, h2, h3, h4, h5 { margin: 0; padding: 0;}

h1 { margin: 2px; padding: 3px;}

h1 {font-size: 32px; font-weight:bold;  color:#000;}

h1 a { color:#000; }
h1 a:hover { color:#000; }

h2 {margin-left:8px; font-size: 12px; font-weight:bold; color:#000;  }


TD { FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #999; FONT-FAMILY: Tahoma; }


.cap
{
font-size: 14px;
background: #dda260;
color:black;
text-transform:uppercase;
padding-top:0px; padding-bottom:0px; padding-right:5px; padding-left:5px;
border: 1px solid black;
}


.thumb td
{ 
vertical-align:bottom;
FONT-WEIGHT: bold; 
FONT-SIZE: 9px; 
}

.dur
{
padding-top:0px;
padding-bottom:0px;
padding-right:3px;
padding-left:3px;
font-size: 9px;
color:#000;
background:#dddddd;
border: 1px solid #000;
}


.categ
{
font-size: 30px;
background: #eeeeee;
color:#000000;
padding-top:3px; padding-bottom:3px; padding-right:7px; padding-left:7px;
border: 2px solid black;
}


.tube
{
font-size: 14px;
background: darkred;
color:black;
text-transform:uppercase;
padding-top:0px; padding-bottom:0px; padding-right:7px; padding-left:7px;
border: 1px solid black;
}


.catube
{
font-size: 14px;
background: #ddd;
color:black;
padding-top:0px; padding-bottom:0px; padding-right:7px; padding-left:7px;
border: 1px solid black;
}

.logotube
{
font-size: 16px;
background: #dda260;
color:#eee;
text-transform:uppercase;
padding-top:0px; padding-bottom:0px; padding-right:7px; padding-left:7px;
border: 2px solid black;
}


.bigtube
{
font-size: 32px;
background: #dda260;
color:#000;
text-transform:uppercase;
padding-top:0px; padding-bottom:0px; padding-right:7px; padding-left:7px;
border: 2px solid black;
}



.movie {
vertical-align:top;
width: 304px;
height: 265px;
display: inline;
display: -moz-inline-stack;
display: inline-block;
*display: inline;
margin: 1px;
margin-bottom: 1px;
padding: 0px;
background: #262727;
overflow: hidden;
white-space:nowrap;
border: 1px solid #000;
}

.movie a img {
width: 300px;
height: 225px;
border: 1px solid #262727;
padding: 0px;
margin: 3px 0px 0px 0px;
display: block;
background: black url(http://tube188.com/loading.png) no-repeat center;
}


.movie a:hover img {
border: 1px solid #dda260;
}

.movie a:visited img {
border: 1px solid #888;
}


.movie a {
color: #fff;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
text-decoration: none;
text-transform:capitalize;
}

.movie a:hover {
color:#dda260;
text-decoration: none;
}






.cat {
vertical-align:top;
width: 304px;
height: 258px;
display: inline;
display: -moz-inline-stack;
display: inline-block;
*display: inline;
margin: 1px;
margin-bottom: 3px;
padding: 0px;
background: #262727;
overflow: hidden;
white-space:nowrap;
border: 1px solid black;
}

.cat a img {
width: 300px;
height: 225px;
border: 1px solid #000;
padding: 0px;
margin: 3px 0px 0px 0px;
display: block;
background: black url(http://tube188.com/loading.png) no-repeat center;
}


.cat a:hover img {
border: 1px solid #dda260;

}


.cat a {
color: #fff;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
text-decoration: none;
text-transform:capitalize;
}

.cat a:hover
{
color:#dda260;
text-decoration: none;
}

