* {
	outline: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

img, object, embed {
	vertical-align: bottom;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

caption, th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before, q:after {
	content: '';
}

a * {
	cursor: pointer;
}

.at4-share-outer {
	display: none !important;
}
html {
    overflow-x: hidden;
    height: 100%;
}
body.pushy-active {
    overflow-x: hidden;
    height: 100%;
}
body {
	font: 12px/15px 'Open Sans', sans-serif;
	min-height: 100%;
	position: relative;
	color: #fff;
	min-width: 320px;
	background: #f5f8fa;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

.body-lock {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

a {
	outline: none;
	color: #fff;
	text-decoration: none;
/*	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;*/
}

a:hover {
	/*color: #f56c08;*/
	color: #DAD8DC;
}

input, select, textarea {
	font-size: 14px;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.banner-top {
	overflow: hidden;
	display: none;
}
.banner-top iframe {
	display: block;
	margin: 0 auto;
}
#divExoLayerWrapper {
	visibility: hidden !important;
}
.color-black {
	color: #000;
	font-size: 14px;
	line-height: 18px;
}
.color-black a {
	color: #000;
}
.color-black p {
	margin: 1em 0;
}
.color-black ol {
	list-style: decimal;
	margin: 15px 20px;
}
.color-black ol li {
	margin-bottom: 7px;
}
.video-info-togle {
	width: 30px;
	height: 30px;
	margin-left: 20px;
	overflow: hidden;
	background: url(/images/fa-angle-double-down.png) no-repeat;
	-webkit-background-size: 30px 30px;
	background-size: 30px 30px;
	text-indent: -9999px;
	cursor: pointer;
	float: left;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}
.mfp-container .video-info-togle {
	display: block;
}
.video-info-togle:hover {
	opacity: 0.8;
}
/*#container {
	height: 100%;
}*/
.container {
	max-width: 1553px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding: 0 5px;
}
#index-main-container {
	overflow: visible;
}
.video-page .container,
.mfp-container .container {
	max-width: 1240px;
}
.video-page #header .container,
.video-page .top-menu .container {
	max-width: 1553px;
}
/*.profile-page .container {
	max-width: 1000px;
}*/
.active.navigation + .container {
	background: red;
	padding-left: 342px;
}
.hidden {
	display: none;
}
.movable-top,
.movable-bottom {
	position: relative;
}

.country {
	margin: 1px 3px 1px 0;
}

.page-error {
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #e44242;
	border: 1px solid #e44242;
	font-size: 30px;
	line-height: 34px;
	text-align: center;
	margin: 20px 0 0;
}
/* forms */
form .two-sections:after {
	content: "";
	display: block;
	clear: both;
}

form .two-sections .section-one {
	float: left;
	width: 660px;
}

form .two-sections .section-two {
	float: left;
	width: 320px;
	margin: 0 0 0 15px;
	padding: 0 0 0 15px;
	background: url(/images/separator.png) repeat-y;
}

form .section-title {
	display: block;
	font-size: 16px;
	line-height: 18px;
	margin: 15px 0 0;
	border-bottom: 1px solid #5a5a5a;
}

form .section-title:first-child {
	margin: 0;
}

form .section-title.expand {
	padding: 0 5px;
	cursor: pointer;
	background: url(/images/ico-expand.gif) 100% 3px no-repeat;
}

form .section-title.collapse {
	padding: 0 5px;
	cursor: pointer;
	background: url(/images/ico-collapse.gif) 100% 3px no-repeat;
}

form .row {
	display: block;
	position: relative;
	width: 100%;
	margin: 15px 0 0;
}

form .row:after {
	content: "";
	display: block;
	clear: both;
}

form .row:first-child {
	margin: 0;
}

form label {
	display: block;
	overflow: hidden;
	color: #dcdcdc;
	margin: 0 0 4px;
}

form label.error {
	color: #e44242;
	font-weight: bold;
}

form label.field-label:after {
	content: ":";
}

form label.field-label.required {
	font-weight: bold;
}

form label.field-label.required:after {
	content: " (*):";
}

form .button-group .row {
	margin: 6px 0 0 0;
}

form .button-group .row:first-child {
	margin: 0;
}

form .button-group .row label {
	float: left;
	color: #9b9b9b;
	margin: 0 15px 0 0;
	cursor: pointer;
}

form .radio,
form .checkbox {
	width: 14px;
	height: 14px;
	float: left;
	margin: 0 5px 0 0;
	cursor: pointer;
}

/*form .submit {
	height: 30px;
	text-align: center;
	color: #4e4e4e;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	padding: 0 10px;
	cursor: pointer;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
	-webkit-appearance: none;
}*/
form .submit {
	height: 30px;
	text-align: center;
	/*color: #fff;*/
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	padding: 0 10px;
	cursor: pointer;
	-webkit-appearance: none;
	color: #4e4e4e;
	background: #d0d0d0;
	background: -moz-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #c5c5c5));
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -o-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -ms-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: linear-gradient(to bottom, #d0d0d0 0%, #c5c5c5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#c5c5c5', GradientType=0);
}


form .submit.active {
	background: #3a68a1;
	border: 1px solid #323232;
	color: #a2a2a2;
}

form .submit:disabled {
	cursor: default;
	color: #a7a7a7;
}

form .submit:enabled:hover {
	background: #3a68a1;
	color: #fff;
	/*color: #f56c08;*/
	/*border: 1px solid #242424;*/
}

form .textfield,
form .textarea,
form .selectbox,
form .file {
	border: 1px solid #3a68a1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 5px;
	color: #9b9b9b;
	background: none;
	-webkit-box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
	width: 100%;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form .textarea {
	resize: vertical;
	height: auto;
}

form .selectbox {
	padding: 5px;
}

form .date .selectbox {
	width: auto;
}

form .file {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	opacity: 0;
	font-size: 200px;
	filter: alpha(opacity=0);
}

form .textfield:focus,
form .textarea:focus,
form .selectbox:focus,
form .file:focus {
	border: 1px solid #00aced;
}

form .textfield.error,
form .textarea.error,
form .selectbox.error,
form .file.error,
form fieldset.error .textfield,
form fieldset.error .textarea,
form fieldset.error .selectbox,
form fieldset.error .file {
	border: 1px solid #e44242;
}

form .file-control {
	position: relative;
	width: 100%;
	height: 30px;
}

form .file-control .textfield {
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 12px;
}

form .file-control .button {
	position: absolute;
	left: 3px;
	top: 3px;
	bottom: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 5px 2px 5px;
	font-size: 14px;
	line-height: 16px;
	color: #4e4e4e;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
}

form .file-control .button.disabled {
	color: #a7a7a7;
}

form .list-selector-popup {
	position: absolute;
	width: 90%;
	height: 160px;
	left: 5%;
	bottom: 46px;
	background: #d5d5d5;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

form .list-selector-popup:after {
	position: absolute;
	content: "";
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 10px solid #c5c5c5;
	left: 45%;
	bottom: -10px;
}

form .list-selector-popup .button-group {
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 38px;
	right: 8px;
}

form .list-selector-popup .button-group .item {
	display: inline-block;
	width: 32%;
	padding-bottom: 10px;
	vertical-align: top;
}

form .list-selector-popup .button-group .item label {
	color: #4e4e4e;
	margin: 0 15px 0 0;
	cursor: pointer;
}

form .list-selector-popup .filter {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	background: #c5c5c5;
	border: none;
}

form .list-selector-popup .filter input {
	width: 100%;
	height: 100%;
	padding: 2px 10px;
	border: none;
	background: #c5c5c5;
	color: #4e4e4e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

form .bottom {
	background: url(/images/divider.png) left 10px repeat-x;
	overflow: hidden;
	padding: 20px 0 0;
	clear: both;
	position: relative;
}

form .bottom a {
	color: #dcdcdc;
	font-size: 12px;
	line-height: 16px;
}

form .bottom a:hover {
	color: #fff;
}

form .bottom .links {
	/*float: left;*/
	margin: 0 0 0 10px;
	overflow: hidden;
}

form .bottom .submit {
	float: left;
	margin: 0 10px 0 0;
}

form .bottom .submit.right {
	float: right;
	margin: 0 0 0 10px;
}

form .captcha-control {
	/*height: 52px;*/
	overflow: hidden;
}

form .captcha-control .image {
	float: left;
	border: 0;
	width: 280px;
	height: 52px;
	margin: 0 12px 0 0;
}

form .captcha-control .image img {
	display: block;
	float: left;
	width: 125px;
	height: 52px;
	margin: 0 5px 0 0;
}

form .captcha-control label {
	float: left;
	margin: 0 0 6px;
}

form .captcha-control .textfield {
	width: 135px;
}

form .captcha-control .submit {
	float: right;
	margin: 19px 0 0;
}

form .success {
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #252525;
	color: #dcdcdc;
	font-size: 14px;
	line-height: 16px;
}

form .generic-error {
	text-align: center;
	margin: 0 10px 10px;
	padding: 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #e44242;
	border: 1px solid #e44242;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

form .field-error {
	display: none;
	position: absolute;
	max-width: 400px;
	padding: 5px;
	z-index: 9999;
	margin: 2px 0 0 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #efefef;
	color: #e44242;
	font-weight: bold;
}

form .field-error:before,
form .field-error:after {
	content: "";
	position: absolute;
}

form .field-error.down:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #efefef;
	left: 20px;
	top: -10px;
}

form .field-error.down:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #efefef;
	left: 20px;
	top: -9px;
}

form .field-error.up {
	background-image: none;
}

form .field-error.up:before {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #efefef;
	left: 20px;
	bottom: -10px;
}

form .field-error.up:after {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #efefef;
	left: 20px;
	bottom: -9px;
}

form .field-error label {
	margin: 0;
}

form .captcha-control .field-error {
	margin-left: 145px;
	bottom: 35px;
}

form .file-control .field-error {
	margin-top: 30px;
}

form .smileys-support {
	position: relative;
}

form .smileys-support .textarea {
	padding-top: 42px;
}

form .smileys-support.two-lines .textarea {
	padding-top: 66px;
}

form .smileys-support .smileys-bar {
	position: absolute;
	left: 3px;
	top: 3px;
	right: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #3a3a3a;
	padding: 0 3px 4px 3px;
	cursor: default;
}

form .smileys-support img {
	cursor: pointer;
}

form .progressbar {
	position: absolute;
	z-index: 1200;
	width: 60%;
	left: 20%;
	top: 50%;
	height: 40px;
	margin-top: -20px;
}

form .progressbar .text {
	position: absolute;
	width: 100%;
	height: 40px;
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}

form .progressbar .progress {
	position: absolute;
	height: 40px;
	background: #bfd128;
}

/* toggle button */
.toggle-button {
	display: block;
	color: #4e4e4e;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding: 8px 10px;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
	cursor: pointer;
	outline: none;
}

.toggle-button * {
	cursor: pointer;
}

.toggle-button input {
	margin: 0;
	font-size: 11px;
	line-height: 14px;
}

.toggle-button span {
	padding: 0 0 0 3px;
	font-size: 11px;
	line-height: 14px;
}

.toggle-button:hover,
.toggle-button.inversed:hover {
	background: #3a68a1;
	color: #fff;
}
/*.list-playlists div.toggle-button:hover {
	background: none !important;
}*/
.toggle-button.active,
.toggle-button.inversed {
	/*background: #30bc9d;*/
	padding: 7px 9px;
	color: #fff;
}

.toggle-button.inversed.active {
	color: #4e4e4e;
	padding: 8px 10px;
	border: none;
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
}

.toggle-button.disabled,
.toggle-button.disabled:hover,
.toggle-button.done,
.toggle-button.done:hover {
	background: #fff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
	background: -webkit-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #d5d5d5 100%);
	background: linear-gradient(to bottom, #ffffff 0%, #d5d5d5 100%);
	border: none;
	padding: 8px 10px;
	cursor: default;
	color: #a7a7a7;
}

.toggle-button.done *,
.toggle-button.disabled * {
	cursor: default;
}

.toggle-button.done span {
	background: url(/images/ico-checkmark.png) 0 -2px no-repeat;
	padding: 0 0 0 21px;
}

/* top links */
.top {
	background: #171717 url(/images/bg-top.gif) repeat-x 50% 0;
	border-bottom: 1px solid #272727;
	padding: 3px 0 6px;
	font-size: 11px;
	line-height: 28px;
}

.center-hold {
	width: 1236px;
	margin: 0 auto;
}

.center-hold:after {
	content: "";
	display: block;
	clear: both;
}

.network {
	float: left;
	color: #909090;
	position: relative;
	z-index: 30;
}

.network strong {
	float: left;
	font-weight: normal;
}

.network ul {
	float: left;
}

.network li {
	float: left;
	padding: 0 17px 0 20px;
	background: url(/images/bullet.png) no-repeat 0 50%;
}

.network li:first-child {
	background: none;
	padding-left: 14px;
}

.network a {
	color: #bcbcbc;
}

.network a:hover {
	color: #bfd128;
}

.network .more {
	float: left;
	cursor: pointer;
	background: #1c1c1c url(/images/arrow-down-network.gif) no-repeat 100% 50%;
	border: 1px solid #222;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 0 25px 0 9px;
	line-height: 26px;
	position: relative;
}

.network .more:hover ul {
	display: block;
}

.network ul ul {
	position: absolute;
	top: 100%;
	left: -1px;
	width: 100%;
	float: none;
	z-index: 20;
	background: #1c1c1c;
	border: solid #222;
	overflow: hidden;
	display: none;
	border-width: 0 1px;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}

.network ul ul li:first-child,
.network ul ul li {
	float: none;
	background: none;
	padding: 0;
	border-top: 1px solid #222;
}

.network ul ul a {
	display: block;
	padding: 0 9px;
}

.member-links {
	float: right;
}

.member-links ul {
	float: left;
	padding: 7px 0;
	line-height: 14px;
}

.member-links li {
	float: left;
	padding-left: 15px;
	margin-left: 16px;
	border-left: 1px solid #282828;
}

.member-links li:first-child {
	padding-left: 0;
	margin-left: 0;
	border-left: none;
}

.member-links a {
	color: #f56c08;
}

.member-links a.disabled {
	color: #808080;
}

.member-links a:hover,
.member-links a.disabled:hover {
	color: #fff;
}

.search-cloud {
	font-size: 0;
}
.search-cloud a {
	color: #000;
	background: #ccc;
	padding: 5px 10px;
	display: inline-block;
	vertical-align: top;
	margin: 0 5px 10px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.search-cloud a:hover {
	color: #fff;
	background: #508ad0;
}

/* header */
.header {
	/*height: 98px;*/
	position: relative;
	z-index: 20;
	background: #001a39;
	/*position: fixed;*/
	width: 100%;
}

.logo {
	float: left;
	width: 206px;
	height: 70px;
	margin: -20px 14px 0 -3px;
}

.logo a {
	display: block;
	background: url(/images/logo-retina.png) no-repeat;
	width: 206px;
	height: 70px;
	-webkit-background-size: 206px 70px;
	background-size: 206px 70px;
}
#menu-icon {
	cursor: pointer;
	float: left;
	width: 40px;
	height: 40px;
	position: relative;
	display: block !important;
}
#menu-icon:before,
#menu-icon:after {
	content: "";
	position: absolute;
	width: 40px;
	height: 7px;
	background: #00deff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 1px 1px 3px #3a68a1;
	-webkit-box-shadow: 1px 1px 3px #3a68a1;
	box-shadow: 1px 1px 3px #3a68a1;
}
#menu-icon.active:before,
#menu-icon.active:after {
	background: #fff;
}
#menu-icon:before {
	left: 0;
	top: 0;
}
#menu-icon:after {
	left: 0;
	bottom: 0;
}
#menu-icon span {
	display: block;
	position: absolute;
	width: 40px;
	height: 7px;
	position: absolute;
	left: 0;
	top: 16px;
	background: #00deff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-moz-box-shadow: 1px 1px 3px #3a68a1;
	-webkit-box-shadow: 1px 1px 3px #3a68a1;
	box-shadow: 1px 1px 3px #3a68a1;
}
#menu-icon.active span {
	background: #fff;
}
.mi-holder {
	display: none;
	float: left;
	width: 64px;
	margin: 0 20px 0 -60px;
	position: fixed;
}
.mi-holder strong {
	display: none;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 7px solid #30bc9d;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
}
#menu-icon.active + strong {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 7px solid #fff;
}
.search {
	overflow: hidden;
	padding: 4px 0 33px 0;
}
#menu-icon {
	animation: 0.5s;
	-moz-transition: 0.5s all;
	-webkit-transition: 0.5s all;
	transition: 0.5s all;
}
.pushy-active #menu-icon,
#menu-icon:hover {
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform: rotate(90deg);
}
.search form {
	height: 32px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
	/*background: url(/images/bg-search.png) repeat-x;*/
}

.search form:after {
	content: "";
	display: block;
	clear: both;
}

.search .search-text {
	padding: 0 0 0 14px;
	overflow: hidden;
	background: #fff;
}

.search .search-text input {
	height: 32px;
	width: 100%;
	margin: 0 0 0 -14px;
	padding: 0 0 0 14px;
	color: #000;
	font-size: 16px;
	line-height: 32px;
	border: 0;
	background: none;
}

/*.search .search-text input:focus {
	background: url(/images/bg-grey.gif);
	outline: none;
}*/

.search .advanced {
	float: right;
	font-size: 11px;
	line-height: 13px;
	color: #c5c5c5;
	display: block;
	padding: 8px 9px 9px 9px;
	background: url(/images/bg-search.png) repeat-x 0 -30px;
}

.search .search-button {
	float: right;
	display: block;
	width: 32px;
	height: 32px;
	background: #00aced url(/images/search-submit.png) no-repeat 50% 50%;
	text-indent: 100px;
	overflow: hidden;
	cursor: pointer;
}
.search .search-button:hover {
	background: #3a68a1 url(/images/search-submit.png) no-repeat 50% 50%;
}
#header .wrap {
	width: 100%;
	overflow: hidden;
	min-height: 33px;
/*	box-sizing: border-box;
	padding-left: 260px;*/
}
.header-right {
	float: right;
	padding: 4px 0 0 0;
	/*height: 33px;*/
	overflow: hidden;
}
.user-links {
	float: right;
}
.user-links li {
	float: left;
	font-size: 11px;
	line-height: 33px;
	margin-left: 20px;
	text-transform: uppercase;
}
.user-links li a {
	color: #00deff;
}
.user-links li a:hover {
	color: #fff;
}
.social-bookmarks {
	clear: both;
	height: 32px;
	overflow: hidden;
	margin: 0 -2px 0 10px;
	/*width: 184px;*/
	text-align: right;
}
.thumbs-holder {
	position: relative;
}
.top-menu {
	overflow: hidden;
	background: #508AD0;
	border-top: 1px solid #f5f8fa;
	height: 39px;
	width: 100%;
	z-index: 200;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
	box-shadow: 0 0 10px rgba(0,0,0,1);
}
.top-menu.fix-menu + .container {
	padding-top: 39px;
}
.top-menu ul {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.top-menu ul li {
	font-size: 16px;
	line-height: 39px;
	display: table-cell;
	text-align: center;
	text-transform: uppercase;
	border-right: 1px solid #f5f8fa;
}
.top-menu ul li:first-child {
	border-left: 1px solid #f5f8fa;
	border-right: 1px solid #f5f8fa;
}
.top-menu ul li a {
	display: block;
}
.top-menu ul li a:hover {
	background: #00aced;
	color: #fff;
}
.lang {
	float: right;
	padding: 4px 0 0 12px;
}
.lang a {
	padding-left: 55px;
	display: block;
	font-size: 15px;
	line-height: 32px;
	height: 32px;
}
.lang a.en {
	background: url(../images/gb.png) no-repeat 0 50% !important;
}
.lang a.es {
	background: url(../images/es.png) no-repeat 0 50% !important;
}
/* navigation */
.pushy {
	background: #fff !important;
	/*width: 297px !important;*/
}
.navigation {
/*	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
	box-shadow: 0 0 4px rgba(0,0,0,0.4);*/
}
/*.index-page .navigation {
	display: block;
}*/
.navigation-inner {
	padding-top: 99px;

	width: 297px;
}
.primary {
	font-size: 13px;
	line-height: 16px;
}

.primary li {
	text-transform: uppercase;
	overflow: hidden;
	font-size: 14px !important;
	line-height: 18px !important;
	display: table;
	width: 100%;
	margin-bottom: 1px;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}
.primary li.selected,
.primary li:hover {
	background: #3a68a1;
}
.primary li .icon-holder {
	width: 25px;
	display: table-cell;
	vertical-align: middle;
	padding-right: 15px;
	height: 40px;
}
.primary li img {
	display: none;
}
.primary li img:first-child {
	display: block;
}
.primary li:hover img {
	display: block;
}
.primary li:hover img:first-child {
	display: none;
}
.primary li.selected img {
	display: block !important;
}
.primary li.selected img:first-child {
	display: none !important;
}
.primary li span {
	display: table-cell;
	vertical-align: middle;

}
.primary li:first-child {

}

.primary .tt {
	display: table;
	width: 100%;
	vertical-align: middle;
	/*border-bottom: 1px solid #e5e4e4;*/
}
.primary li:hover .tt {
	border-color: #30bc9d;
}
.primary a {
	text-transform: uppercase;
	color: #3a68a1 !important;
	display: block;
	padding: 0 15px !important;
}
.primary a:hover {
	background: none !important;
}

.primary li:first-child a {

}

.primary .selected a {
	/*color: #5b5b5b;*/
}

.primary .selected a:hover {
	background: none;
}

.primary li.selected a,
.primary a:hover {
	color: #fff !important;
}

.primary .highlight a {
	color: #bfd128;
}

.primary .highlight a:hover {
	color: #f56c08;
}

.primary .drop {
	position: relative;
}

.primary .drop a {
	background: url(/images/bg-drop.png) no-repeat 100% 0;
	padding-right: 35px;
}

.primary .drop:hover a {
	background: #eee url(/images/bg-drop.png) no-repeat 100% -38px;
	color: #4e4e4e;
}

.primary .drop:hover ul {
	display: block;
}

.primary ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	width: 100%;
	display: none;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}

.primary ul li {
	border: solid #cdcdcd;
	border-width: 1px 0 0;
	float: none;
}

.primary .drop:hover ul a {
	color: #4e4e4e;
	display: block;
	float: none;
	padding: 11px 17px;
	text-transform: capitalize;
	background: #eee;
}

.primary .drop ul a:hover {
	color: #f56c08;
	background: #202020;
	background: -moz-linear-gradient(top, #202020 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #202020), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #202020 0%, #191919 100%);
	background: -o-linear-gradient(top, #202020 0%, #191919 100%);
	background: -ms-linear-gradient(top, #202020 0%, #191919 100%);
	background: linear-gradient(to bottom, #202020 0%, #191919 100%);
}

.primary .drop li:first-child a {
	border-radius: 0;
	-webkit-border-radius: 0;
}

.secondary {
	float: right;
	padding: 12px 0 12px;
	font-size: 11px;
	line-height: 14px;
}

.secondary li {
	float: left;
	border-left: 1px solid #373737;
}

.secondary li:first-child {
	border-left: none;
}

.secondary a {
	float: left;
	margin: 0 20px;
	color: #808080;
	text-decoration: underline;
}

.secondary a:hover {
	color: #f56c08;
}

/* footer */

/*.footer-ads {
	padding-bottom: 120px;
}*/

.footer {
	position: relative;
	width: 100%;
	color: #3a68a1;
	background: #001a39;
	font-size: 11px;
	line-height: 16px;
	text-align: center;
	overflow: hidden;
	padding: 10px 0 10px 0;
	z-index: 100;
	margin-top: 50px;
}

.footer .footer-wrap {
	margin: 0 auto;
}

.footer a {
	color: #3a68a1;
	text-decoration: underline;
}

.footer a:hover {
	color: #00deff;
	text-decoration: none;
}

.footer .nav {
	width: 100%;
	overflow: hidden;
	padding: 8px 0;
	text-align: center;
	text-transform: uppercase;
}

.footer .nav li {
	display: inline-block;
	vertical-align: bottom;
	padding: 0 9px;
	position: relative;
	font-size: 14px;
	line-height: 16px;
}

.footer .nav li:before {
	content: "|";
	position: absolute;
	left: -4px;
	top: 0;
	color: #3a68a1;
	font-size: 11px;
	line-height: 14px;
}

.footer .nav li:first-child:before {
	content: "";
}

.footer .nav a {
	color: #3a68a1;
	text-decoration: none;
}

.footer .nav a:hover {
	color: #00deff;
}

.footer .nav .active a,
.footer .nav .active a:hover {
	color: #fff;
}

.footer .copyright {
	max-width: 750px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 10px;
}

.footer .txt {
	max-width: 750px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 100px;
}

.uplink {
	display: block;
	width: 50px;
	height: 50px;
	background: #3a68a1 url(../images/arrow-up.png) no-repeat 50% 50%;
	text-indent: -9999px;
	right: 20px;
	top: 50%;
	margin-top: -25px;
	position: absolute !important;
}
.box {
   /* background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;*/
	overflow: hidden;
}

.box.message {
	font-size: 14px;
	line-height: 16px;
}

.boxprofile {
    background: #272727 url(/images/bg-grey.gif);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
}

/* headings *****/
.headline {
	padding: 20px 0 8px 0;
	width: 100%;
}
.headline a {
	color: #3a68a1;
}

.headline:after {
	content: "";
	display: block;
	clear: both;
}

h2 {
	float: left;
	color: #010101;
	padding: 0 2px;
	font-size: 20px;
	line-height: 25px;
}

h2 a {
	text-decoration: underline;
}

.sort {
	float: right;
	min-width: 140px;
	position: relative;
	margin-left: 3px;
	background: #0db0ee;
	cursor: pointer;
}

.sort:hover {

}

.sort .icon {
	display: block;
	position: absolute;
/*	width: 100%;
	height: 100%;*/
}

/*.sort .type-sort {
	background: url("/images/ico-sort.png") 5px 5px no-repeat;
}*/

.sort .type-sort {
	right: 10px;
	top: 7px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 5px solid #fff;
}
.sort .type-sort:after {
	content: "";
	position: absolute;
	top: 7px;
	left: -3px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #fff;
}

.sort .type-video {
	background: url("/images/ico-video.png") 5px 4px no-repeat;
}

.sort .type-fav {
	background: url("/images/ico-favourite.png") 5px 5px no-repeat;
}

.sort .type-visibility {
	background: url("/images/ico-private.png") 5px 4px no-repeat;
}

.sort .type-edit {
	background: url("/images/ico-edit.png") 5px 5px no-repeat;
}

.sort strong {
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 20px 5px 10px;
	white-space: nowrap;
	color: #fff;
	/*text-shadow: 1px 1px 1px #efefef;*/
	cursor: pointer;
	/*background: url(/images/arrow-down.gif) no-repeat 100% 50%;*/
	max-width: 200px;
	overflow: hidden;
}

.sort:hover strong {
	color: #fff;
	text-shadow: 1px 1px 1px #7c7c7c;
	/*background: url(/images/arrow-up.png) no-repeat 100% 50%;*/
}

.sort:hover ul {
	display: block;
}

.sort ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 100;
	display: none;
	overflow: hidden;
	border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #ebebeb 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #ebebeb 0%, #dcdcdc 100%);
}

.sort ul a {
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	line-height: 15px;
	color: #4e4e4e;
	text-shadow: 1px 1px 1px #efefef;
}

.sort ul a:hover {
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	background: #0db0ee;
	color: #fff;
}

.headline .button,
.headline .more {
	float: right;
	color: #4e4e4e;
	text-shadow: 1px 1px 1px #f0f0f0;
	height: 19px;
	margin-left: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 6px 0 0;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
}

.headline .button.done,
.headline .button.done:hover {
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
	color: #a7a7a7;
	text-shadow: 1px 1px 1px #f0f0f0;
	cursor: default;
}

.headline .button.done * {
	cursor: default;
}

.headline .button span {
	padding: 0 9px;
}

.headline .button.done span {
	background: url(/images/ico-checkmark.png) 4px -2px no-repeat;
	padding: 0 9px 0 23px;
}

.headline .more span {
	padding: 0 25px 0 9px;
	background: url(/images/arrow-right.png) no-repeat 100% 5px;
}

.headline .button:hover,
.headline .more:hover {
	color: #fff;
	text-shadow: 1px 1px 1px #7c7c7c;
	background: #adadad;
	background: -moz-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #828282));
	background: -webkit-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -o-linear-gradient(top, #adadad 0%, #828282 100%);
	background: -ms-linear-gradient(top, #adadad 0%, #828282 100%);
	background: linear-gradient(to bottom, #adadad 0%, #828282 100%);
}

.headline .more:hover span {
	background-position: 100% -20px;
}

.headline .button-info {
	position: relative;
	float: right;
	height: 17px;
	margin: 2px 0 0 10px;
	padding: 3px 8px 0 8px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #4e4e4e;
	background: #ededed;
}

.headline .button-info:before {
	position: absolute;
	content: "";
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #ededed;
	left: -5px;
	top: 5px;
}

.empty-content {
	padding: 15px 15px 0;
	font-size: 14px;
	line-height: 16px;
	color: #000;
}

/* tags cloud *****/

.tags-cloud {
	margin-top: 20px;
}

.tags-cloud .all {
	display: block;
	text-align: center;
	margin: 10px 0 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

/* search cloud *****/

.search-cloud {
	margin-top: 20px;
	text-align: center;
}


/* advertisement boxes *****/
.spot img,
.spot embed,
.spot object,
.spot iframe {
	vertical-align: bottom;
}

/* top ad */
.top-ad a {
	display: block;
	margin: 31px 0 0;
	width: 100%;
	overflow: hidden;
}

.top-ad img {
	width: 1235px;
}

/* videos ad */
.videos-ad {
	float: right;
	width: 315px;
	height: 683px;
	padding: 2px 40px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	margin-left: 15px;
	position: relative;
}

.margin-fix .videos-ad {
	margin-top: 15px;
}

.videos-ad .spot {
	padding: 27px 0 0;
	overflow: hidden;
}

.videos-ad .spot a {
	width: 315px;
	height: 300px;
	background: #000;
	overflow: hidden;
	display: block;
}

.videos-ad-inline {
	display: inline;
	float: right;
	width: 505px;
	height: 209px;
	margin: 15px 0 0 15px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #8a8a8a;
}

form .videos-ad-inline {
	height: 256px;
}

.videos-ad-inline .spot {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* albums ad */
.albums-ad {
	float: right;
	width: 315px;
	height: 659px;
	padding: 2px 40px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	margin-left: 15px;
	position: relative;
}

.margin-fix .albums-ad {
	margin-top: 15px;
}

.albums-ad .spot {
	padding: 20px 0 0;
	overflow: hidden;
}

.albums-ad .spot a {
	width: 315px;
	height: 300px;
	background: #000;
	overflow: hidden;
	display: block;
}

.albums-ad-inline {
	display: inline;
	float: right;
	width: 505px;
	height: 314px;
	margin: 15px 0 0 15px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #8a8a8a;
}

form .albums-ad-inline {
	height: 361px;
}

.albums-ad-inline .spot {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* playlists ad */
.playlists-ad {
	float: right;
	width: 315px;
	height: 683px;
	padding: 2px 40px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	margin-left: 15px;
	position: relative;
}

.margin-fix .playlists-ad {
	margin-top: 15px;
}

.playlists-ad .spot {
	padding: 27px 0 0;
	overflow: hidden;
}

.playlists-ad .spot a {
	width: 315px;
	height: 300px;
	background: #000;
	overflow: hidden;
	display: block;
}

.playlists-ad-inline {
	display: inline;
	float: right;
	width: 505px;
	height: 209px;
	margin: 15px 0 0 15px;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #1a1a1a;
	background: rgba(26, 26, 26, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	color: #8a8a8a;
}

form .playlists-ad-inline {
	height: 256px;
}

.playlists-ad-inline .spot {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* bottom ads */
.footer-ads {
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin: 30px 0;
	padding: 10px 0;
}
.bottom-ads {
	height: 250px;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}
/*.video-page .bottom-ads {
	margin: 30px auto;
	font-size: 0;
}*/
.bottom-ads .spot {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	height: 250px;
	overflow: hidden;
	margin: 0 4px;
}

.bottom-ads .spot a {
	width: 300px;
	height: 250px;
	background: #000;
	overflow: hidden;
	display: block;
}

/*.bottom-ads .spot:first-child {
	margin-left: 0;
}*/

/* lists *****/
.list-comments,
.list-subscriptions,
.list-playlists,
.list-models,
.list-sponsors,
.list-categories,
.list-tags,
.list-albums,
.list-albums-images,
.list-videos,
.list-videos-screenshots {
	overflow: hidden;
	width: 100%;
}
.list-models {
	position: relative;
}
.margin-fix {
	margin: -17px 0 0 -17px;
}
#list_models_models_list_items.margin-fix {
	margin: -17px 0 0 -15px;
}

.list-albums-images .margin-fix,
.list-videos-screenshots .margin-fix {
	margin: 0 0 0 -15px;
}

.list-comments .margin-fix {
	margin: -10px 0 0 -10px;
}

.list-tags .margin-fix {
	margin: -23px 0 0 -15px;
}

.margin-fix .bottom {
	margin: 0 0 0 17px;
}

.margin-fix .generic-error {
	margin: 15px 0 0 17px;
}

.list-playlists .item,
.list-sponsors .item,
.list-categories .item,
.list-albums .item,
.list-albums-images .item,
.list-videos .item,
.list-videos-screenshots .item {
	float: left;
	display: inline;
	margin: 17px 0 0 17px;
	width: 293px;
	padding: 2px;
	background: #3a68a1;
}
.list-playlists .item a,
.list-models .item a,
.list-sponsors .item a,
.list-categories .item a,
.list-albums .item a,
.list-videos .item a {
	display: block;
	outline: 0;
}
.list-models .item {
	float: left;
	display: inline;
	margin: 22px 0 0 17px;
	width: 203px;
	/*height: 308px;*/
	padding: 2px;
	background: #01234E;
}
.list-models .item:first-child {
	margin-left: 241px;
}
#index-main-container .list-models .item {
	float: none;
	display: block;
}
#index-main-container .list-models .item:first-child {
	margin-left: 17px;
}
.slick-track .slick-slide {
	display: block !important;
}
.list-videos-screenshots .item {
	width: 110px;
}

.list-albums-images .item {
	width: 200px;
}

.list-models .item,
.list-sponsors .item,
.list-categories .item {
	padding: 2px;
}

.hp-video-title {
	float: left;
	width: 80px;
	overflow: hidden;
}
.hp-videos-counter {
	float: right !important;
	margin: 0 2px;
	line-height: 28px;
}
/*.list-playlists .item:hover,*/
.list-models .item:hover,
.list-sponsors .item:hover,
.list-categories .item:hover,
.list-albums .item:hover,
.list-videos .item:hover {
	background: #006388;
}

.list-tags .item {
	float: left;
	display: inline;
	margin: 15px 0 0 15px;
	width: 230px;
}

.item em {
	color: #e0e0e0;
}

.item .img {
	position: relative;
	background: #000000;
	overflow: hidden;
}

#list_models_models_list_items .item .img {
	height: 252px;
	overflow: hidden;
}

.list-models .img,
.list-sponsors .img,
.list-categories .img {
	/*margin: 0 0 5px;*/
}
/*.list-models .item .img {
	height: 280px;
}*/

.list-videos .img,
.list-playlists .img {
	width: 293px;
	height: 165px;
}

.list-videos-screenshots .img {
	width: 110px;
	height: 82px;
}

.list-albums .img {
	width: 180px;
	height: 240px;
	position: relative;
}

.list-albums-images .img {
	width: 200px;
	height: 150px;
	text-align: center;
}

.item.disabled .img img {
	opacity: 0.3;
}

.list-videos .img img {
	display: block;
	width: 293px;
	height: 165px;
}

.list-videos-screenshots .img img {
	display: block;
	width: 110px;
	height: 82px;
}

.list-albums .img img {
	display: block;
	width: 180px;
	height: 240px;
}

.list-albums-images .img img {
	display: inline-block;
	width: auto;
	height: 150px;
}

.list-sponsors .img img,
.list-categories .img img {
	display: block;
	width: 293px;
	height: 165px;
}

.list-models .img img {
	display: block;
	width: 100%;
	height: auto;
}

.list-models .img .no-thumb,
.list-sponsors .img .no-thumb,
.list-categories .img .no-thumb {
	display: block;
	width: 100%;
	height: 110px;
	text-align: center;
	line-height: 260px;
	margin: 0 auto;
}

.list-albums-images .img .no-thumb {
	display: block;
	width: 200px;
	height: 150px;
	text-align: center;
	line-height: 150px;
}

.list-playlists .img img.video1 {
	display: block;
	width: 293px;
	height: 165px;
}

.list-playlists .img img.video2,
.list-playlists .img img.video3,
.list-playlists .img img.video4,
.list-playlists .img img.video5 {
	position: absolute;
	width: 60px;
	height: 45px;
	border: 2px solid #7c7c7c;
	opacity: 0.8;
}

.list-playlists .img img.video2:hover,
.list-playlists .img img.video3:hover,
.list-playlists .img img.video4:hover,
.list-playlists .img img.video5:hover {
	opacity: 1;
	z-index: 5;
}

.list-playlists .img img.video2 {
	right: 25px;
	top: 5px;
	z-index: 3;
}

.list-playlists .img img.video3 {
	right: 15px;
	top: 15px;
	z-index: 2;
}

.list-playlists .img img.video4 {
	right: 5px;
	top: 25px;
	z-index: 1;
}

.list-playlists .img .no-thumb {
	display: block;
	width: 180px;
	height: 135px;
	text-align: center;
	line-height: 135px;
}

.item .title {
	font-weight: bold;
	/*margin: 7px 2px;*/
	margin: 0 2px;
	height: 28px;
	line-height: 28px !important;
	overflow: hidden;
	display: block;
}
#channels-thumbs .item .title,
#channels-thumbs .item .videos {
	text-align: center;
	float: none;
	height: auto !important;
	line-height: 15px !important;
}
#channels-thumbs .item .title {
	color: #F7F7F7 !important;
	padding: 3px 0 1px;
}
#channels-thumbs .item .videos {
	color: yellow !important;
	padding: 1px 0 3px;
}
.list-models .item .title {
	/*margin: 0 2px 2px 2px;*/
}

.item.disabled .title,
.item.processing .title {
	color: #8a8a8a;
}

.item.error .title {
	color: #fc5729;
}

.list-models .item .title,
.list-sponsors .item .title,
.list-categories .item .title {
	/*height: 14px;*/
}

.list-tags .item .title {
	height: 20px;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	padding: 15px 0 7px 0;
}

.list-subscriptions .item .title {
	float: left;
/*	height: 14px;
	margin: 5px 2px;*/
}

.item .wrap {
	margin: 0 5px 2px 5px;
	color: #8a8a8a;
	overflow: hidden;
}

.item .wrap:after {
	content: "";
	display: block;
	clear: both;
}

.item .duration,
.item .added,
.item .photos,
.item .videos,
.item .albums,
.item .user {
	float: left;
	color: #fff;
}
/*.list-playlists .item {
	clear: both;
}
.list-playlists .item:after {
	content: "test";
	color: red;
	font-size: 50px;
}
.main-container-user {
	background: #ccc;
}*/
.item .duration {
	display: block;
	position: absolute;
	background: rgba(42,42,42,0.7);
	height: 24px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	left: 5px;
	/*top: 136px;*/
	bottom: 5px;
	padding: 0 4px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.item .hd {
	background: url(/images/hd2.png) no-repeat 100% 0;
	width: 35px;
	height: 25px;
	position: absolute;
	right: 4px;
	top: 4px;
}
.item .views {
	float: right;
}
strong.title {
	color: #fff !important;
}

.item .user {
	height: 14px;
	overflow: hidden;
	white-space: nowrap;
}

.item .rating {
	float: right;
	position: relative;
	padding: 3px 21px 0 0;
	margin: -3px 0 0;
}

.item .positive {
	color: #d4d4d4;
	background: url(/images/ico-rating-positive.png) no-repeat 100% 0;
}

.item .negative {
	color: #fc5729;
	background: url(/images/ico-rating-negative.png) no-repeat 100% 3px;
}

.item.private .thumb,
.item .thumb.private {
	opacity: 0.2;
	filter: alpha(opacity=0.2);
}

.item .ico-private {
	padding: 0 0 0 20px;
	background: url(/images/ico-private.png) no-repeat;
}

.item .ico-fav-0 {
	width: 24px;
	height: 24px;
	position: absolute;
	display: none;
	top: 4px;
	left: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.6;
	background: #000 url(/images/ico-favourite.png) 4px 5px no-repeat;
}

.item .ico-fav-1 {
	width: 24px;
	height: 24px;
	position: absolute;
	display: none;
	top: 4px;
	right: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.6;
	background: #000 url(/images/ico-later.png) 3px 3px no-repeat;
}

.no-touch .item:hover .ico-fav-0,
.no-touch .item:hover .ico-fav-1 {
	display: block;
}

.no-touch .item .ico-fav-0:hover,
.no-touch .item .ico-fav-1:hover,
.item .ico-fav-0.fixed,
.item .ico-fav-1.fixed {
	display: block;
	opacity: 1;
}

.line-disabled,
.line-error,
.line-processing {
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	margin-top: -13px;
	text-align: center;
	background: #000000;
	opacity: 0.7;
	padding: 3px 0;
	color: #8a8a8a;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.line-error {
	color: #fc5729;
}

.line-premium,
.line-private {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #000000;
	opacity: 0.7;
	padding: 3px 0;
	color: #fc5729;
	font-weight: bold;
}

.list-playlists .item-control,
.list-videos .item-control,
.list-videos-screenshots .item-control,
.list-albums .item-control,
.list-albums-images .item-control {
	text-align: center;
	background: url(/images/divider.png) repeat-x;
	margin: 10px 0 5px 0;
	padding: 10px 0 0;
}

.list-subscriptions .item-control {
	float: right;
	margin-top: 2px;
}

.item-control .item-control-holder {
	display: inline-block;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #d5d5d5;
	overflow: hidden;
	vertical-align: top;
}

.item-control .toggle-button {
	float: left;
	padding: 5px 9px;
	margin: 0 1px 0 0;
}

.item-control .toggle-button:last-child {
	margin: 0;
}

.item-control .toggle-button.active,
.item-control .toggle-button:hover {
	/*padding: 4px 8px;*/
}

.item-control .toggle-button.disabled:hover {
	padding: 5px 9px;
}

.list-comments .item {
	margin: 10px 0 0 10px;
	color: #8a8a8a;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	background: #242424;
	background: -moz-linear-gradient(top, #242424 0%, #202020 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #242424), color-stop(100%, #202020));
	background: -webkit-linear-gradient(top, #242424 0%, #202020 100%);
	background: -o-linear-gradient(top, #242424 0%, #202020 100%);
	background: -ms-linear-gradient(top, #242424 0%, #202020 100%);
	background: linear-gradient(to bottom, #242424 0%, #202020 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#242424', endColorstr='#202020', GradientType=0);
}

.list-comments .item:after {
	content: "";
	display: block;
	clear: both;
}

.list-comments.fixed .item {
	float: left;
	width: 592px;
	height: 86px;
	overflow: hidden;
}

.list-comments.fixed.short .item {
	width: 490px;
}

.list-comments .image {
	float: left;
	width: 86px;
	height: 86px;
	margin: 0 6px 0 0;
}

.list-comments .image img {
	width: 86px;
	height: 86px;
	display: block;
}

.list-comments .image .no-thumb {
	background: none repeat scroll 0 0 #000000;
	display: block;
	width: 86px;
	height: 86px;
	line-height: 86px;
	text-align: center;
}

.list-comments .comment-options {
	display: block;
	float: right;
}

.list-comments .comment-options:after {
	content: "";
	display: block;
	clear: both;
}

.list-comments .comment-options a {
	padding: 2px 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #000;
	float: left;
	margin: 0 0 0 5px;
}

.list-comments .comment-options a.disabled {
	cursor: default;
	color: #333;
}

.list-comments .comment-options span {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #000;
	padding: 2px 10px;
	font-weight: bold;
	float: left;
}

.list-comments .comment-options .positive {
	color: #bfd128;
}

.list-comments .comment-options .negative {
	color: #f45655;
}

.list-comments .text {
	overflow: hidden;
}

.list-comments .comment-info {
	display: block;
	margin: 0 0 5px;
}

.list-comments p {
	display: block;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
	padding: 5px 10px;
}

.list-comments .dim-comment p {
	opacity: 0.1;
}

.list-comments .dim-comment:hover p {
	opacity: 1;
}

.list-comments a {
	color: #fff;
	font-weight: bold;
}

.list-comments a:hover {
	color: #f56c08;
}

.list-comments .username {
	color: #fff;
	font-weight: bold;
	padding: 0 5px 0 0;
}

.list-subscriptions .item {
	float: left;
	display: inline;
	width: 31%;
	margin: 17px 0 0 17px;
	color: #8a8a8a;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.2);
	background: #355f92;
}

.list-subscriptions .item:after {
	content: "";
	display: block;
	clear: both;
}

/* pagination */
.pagination {
	margin: 10px 0 0 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.pagination-holder {
	display: inline-block;
	vertical-align: bottom;
}

.pagination .prev,
.pagination .next {
	display: none;
}
.pagination ul {
	text-align: center;
}

/*.pagination ul:after {
	content: "";
	display: block;
	clear: both;
}*/

.pagination li {
	float: left;
	font-size: 18px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	width: 50px;
	height: 35px;
	margin-left: 3px;
	background: #001a39;
}

.pagination li:first-child {
	margin-left: 0;
}
.pagination a {
	display: block;
	color: #00deff;
}
.pagination span {
	display: block;
	color: #fff;
}
.pagination li.active-page span {
	color: #fff;
}
.pagination li.active-page,
.pagination li a:hover {
	background: #00aced;
	color: #fff;
}
.pagination li.first-page {
	background: url(../images/first-page.png) no-repeat;
	width: 85px !important;
}
.pagination li.last-page {
	background: url(../images/last-page.png) no-repeat;
	width: 85px !important;
}
.pagination li.first-page a:hover {
	background: url(../images/first-page.png) 0 100% !important;
}
.pagination li.last-page a:hover {
	background: url(../images/last-page.png) 0 100% !important;
}
/* load-more */

.load-more {
	margin: 10px 0 0 0;
	text-align: center;
}
.pagination .blockUI,
.view-video-content .blockUI {
	background: none !important;
}

.load-more a {
	display: inline-block;
	padding: 12px 28px 14px;
	background: #282828;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.load-more a:hover {
	color: #f56c08;
	background: #212121;
	background: -moz-linear-gradient(top, #212121 0%, #191919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #212121), color-stop(100%, #191919));
	background: -webkit-linear-gradient(top, #212121 0%, #191919 100%);
	background: -o-linear-gradient(top, #212121 0%, #191919 100%);
	background: -ms-linear-gradient(top, #212121 0%, #191919 100%);
	background: linear-gradient(to bottom, #212121 0%, #191919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#191919', GradientType=0);
}

/* content */
.content,
.main-content {
	overflow: hidden;
}
.view-video-content {
	max-width: 1240px;
	margin: 0 auto;
}

.main-container {
	overflow: hidden;
}

.main-container-user {
	/*width: 1030px;
	float: left;*/
	overflow: hidden;
}

/* sidebar */
.sidebar {
	float: left;
	width: 195px;
	margin: 0 10px 0 0;
}

.sidebar .list,
.sidebar .filter {
	overflow: hidden;
	background: #272727 url(/images/bg-grey.gif);
}

.sidebar .list li,
.sidebar .filter li {
	background: url(/images/divider.png) repeat-x;
	margin: -1px 0 0;
}

.sidebar .list li:first-child,
.sidebar .filter li:first-child {
	background: none;
	margin: 0;
}

.sidebar .list a {
	display: block;
	padding: 10px 12px 13px 14px;
	font-weight: bold;
}

.sidebar .list a:hover {
	background: #1a1a1a;
}

.sidebar .list .rating {
	float: right;
	color: #979797;
}

.sidebar .filter li {
	position: relative;
}

.sidebar .filter li:hover {
	background: #1a1a1a;
}

.sidebar .filter li * {
	cursor: pointer;
}

.sidebar .filter li input {
	position: absolute;
	left: 16px;
	width: 14px;
	height: 14px;
	top: 10px;
}

.sidebar .filter li label {
	display: block;
	padding: 10px 12px 13px 34px;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
}

.sidebar label.group {
	display: block;
	padding: 10px 12px 2px 14px;
}

.sidebar label.group:after {
	content: ":";
}

.alphabet {
	overflow: hidden;
	padding: 0 0 4px;
	/*background: #272727 url(/images/bg-grey.gif);*/
	background: #fff;
	width: 205px;
	position: absolute;
	left: 3px;
	top: 5px;
	z-index: 100;
	height: 280px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.alphabet span,
.alphabet a {
	float: left;
	width: 44px;
	height: 34px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	line-height: 34px;
	margin: 4px 0 0 4px;
	border: 1px solid #3a68a1;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}

.alphabet a {
	cursor: pointer;
}

.alphabet span {
	background: #252525;
	border-color: #252525;
	color: #616161;
}

.alphabet a:hover {
	background: #3a68a1;
	/*border-color: #222;*/
	color: #fff;
}

/* block-channel */
.block-channel {
	padding: 10px;
	overflow: hidden;
	background: #98B6DA; /* url(/images/bg-grey.gif)*/
}

.block-channel .img {
	overflow: hidden;
	float: left;
	width: 970px;
	margin: 0 10px 0 0;
	border: 2px solid #799DBB;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.block-channel .img img {
	display: block;
	width: 970px;
	height: 170px;
}

.block-channel .img .no-thumb {
	display: block;
	width: 970px;
	height: 170px;
	text-align: center;
	line-height: 200px;
	background: #000;
}

.channel-info {
	float: left;
	width: 365px;
}

.channel-list {
	background: #D4D8DE;
	overflow: hidden;
	color: #d8d8d8;
	font-size: 12px;
	margin: 0 0 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

.channel-list li {
	background: url(/images/divider.png) repeat-x;
	overflow: hidden;
	padding: 2px 10px 2px 10px;
}

.channel-list li:first-child {
	background: none;
}

.channel-list .name {
	float: left;
	width: 100px;
	margin: 0 3px 0 0;
	color: #444330;
	font-size: 11px;
}

.channel-list .rating {
	float: right;
	padding: 3px 0 0;
	width: 242px;
}

.channel-list .rating span {
	float: left;
	width: 21px;
	height: 6px;
	background: #3a68a1;
	margin: 0 1px 0 0;

}

.channel-list .rating .full {
	border: 0;
	width: 23px;
	height: 6px;
	background: #ff8e2a;
	background: -moz-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8e2a), color-stop(100%, #ff7903));
	background: -webkit-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: -o-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: -ms-linear-gradient(top, #ff8e2a 0%, #ff7903 100%);
	background: linear-gradient(to bottom, #D2B8A2 0%, #FF7700 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e2a', endColorstr='#ff7903', GradientType=0);
}

.block-channel .desc {
	background: #325C90;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 8px;
	height: 84px;
	overflow: hidden;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 5px rgba(54, 105, 158, 0.3);
	box-shadow: inset 0 0 5px rgba(54, 105, 158, 0.3);
}
.channel-rating {
	float: right;
	width: 178px;
}

.channel-rating strong {
	display: block;
	text-align: center;
	color: #fff;
	width: 178px;
	height: 93px;
	padding: 42px 0 0;
	margin: 0 0 6px;
	background: #1a1a1a;
	background: rgba(66, 104, 152, 0.7);
	-webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.3);
	font-size: 74px;
	line-height: 55px;
}

.channel-rating a {
	text-align: center;
	display: block;
	height: 25px;
	width: 170px;
	padding: 8px 4px 0 4px;
	color: #4e4e4e;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	text-shadow: 1px 1px 1px #ededed;
/*	-webkit-border-radius: 3px;
	border-radius: 3px;*/
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f1f1), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #f1f1f1 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #f1f1f1 0%, #dcdcdc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#dcdcdc', GradientType=0);
}

.channel-rating a:hover {
	color: #fff;
	text-shadow: none;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	background: #4E81DE;
}

/* block-model */
.block-model {
	overflow: hidden;
	background: #80a6d4;
	margin-top: 20px;
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.block-model-inner {
	border: 2px solid #f6fbff;
	padding: 0 20px 25px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #ebebeb;
}
.model-image-holder {
	float: left;
	margin: 20px 20px 0 0;
	background: #a9c4e5;
	padding: 15px;
}
.block-model .img {
	border: 1px solid #f5f8fa;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 15px;
}
.block-model .img img {
	display: block;
	width: 380px;
	height: auto;
}
.model-image-holder .headline {
	padding: 0 !important;
	margin: 0 !important;
	float: right;
	padding: 0 !important;
	width: auto !important;
}
.block-model .img .no-thumb {
	display: block;
	width: 280px;
	height: 200px;
	text-align: center;
	line-height: 200px;
	background: #000;
}
.block-model .model-list {
	overflow: hidden;
	font-size: 0;
}
.block-model .model-list li {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	border-right: 20px solid transparent;
	padding-right: 20px;
	margin: 0;
	box-sizing: border-box;
	padding: 7px 0;
	color: #e61f45;
	border-top: 1px solid #d4d9df;
	font-size: 14px;
}
.block-model .model-list li:first-child,
.block-model .model-list li:nth-child(2) {
	border-top: none;
}
.block-model .model-list li span {
	font-weight: normal;
	color: #545252;
}
.block-model .model-list li a {
	color: #f56c08;
}
.block-model .model-list li a:hover {
	color: #fff;
}
.block-model .desc {
	color: #252020;;
	border-bottom: 1px solid #d4d9df;
	line-height: 19px;
	padding: 5px 0 10px 0;
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
}
.block-model .desc span {
	color: #e61f45;
}
.block-model .desc strong {
	font-weight: normal;
	color: #545252;
}
.block-model .website {
	background: #212121;
	color: #a7a7a7;
	padding: 9px;
	margin-top: 11px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
/* model profile from style css p18 */
.bm-right {
	overflow: hidden;
}
.bm-right .headline {
	padding-bottom: 20px;
}
.bm-right .headline h2 {
	text-transform: none;
	font-size: 34px;
	line-height: 36px;
}
.model-headline {
	overflow: hidden;
	border-bottom: 1px solid #d4d9df;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.model-headline strong {
	float: left;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	color: #000;
}
.model-headline div {
	float: right;
	color: #e61f45;
	font-size: 18px;
	line-height: 20px;
}
.headline .viewall {
	color: #ff0045;
	float: right;
	font-size: 18px;
	line-height: 26px;
}
.headline .viewall:hover {
	text-decoration: underline;
}
/* video / album common */
.sponsor {
	width: 100%;
	overflow: hidden;
	margin: 10px 0 0;
}
.ad468 {
	width: 470px;
	/*height: 80px;*/
	float: left;
	color: #00aced;
	margin: 10px 10px 0 0;
}
.ad468 span {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
}
.ad400 {
/* 	width: 468px; */
	height: 80px;
	overflow: hidden;
	/*float: right;*/
	background: #284752;
	text-align: center;
}
.ad400 strong {
	display: block;
	font-size: 22px;
	line-height: 25px;
	padding: 2px 0 2px 0;
	text-shadow: 1px 1px 2px black, 0 0 1em #406671;
}
.ad400 span {
	display: block;
	font-size: 18px;
	line-height: 20px;
	padding-top: 15px;
}
.info-holder {
	width: 100%;
}

.info-holder:after {
	content: "";
	display: block;
	clear: both;
}

.info-buttons {
	width: 100%;
	margin: 0 0 12px;
	position: relative;
}

.info-buttons:after {
	content: "";
	display: block;
	clear: both;
}
.hp-video-info {
	float: left;
}
.hp-video-info li {
	float: left;
}
.hp-video-info li {
	font-size: 13px;
	line-height: 30px;
	float: left;
	margin-right: 20px;
	padding-left: 25px;
	color: #3a68a1;
}
.hp-video-info li a {
	color: #9e9e9e;
	text-decoration: underline;
}
.hp-video-info li a:hover {
	color: #30bc9d;
	text-decoration: none;
}
.hp-duration {
	background: url(../images/icon1.png) no-repeat 0 50%;
}
.hp-views {
	background: url(../images/icon2.png) no-repeat 0 50%;
}
.hp-when-added {
	background: url(../images/icon3.png) no-repeat 0 50%;
}
.hp-add-favorites {
	background: url(../images/icon4.png) no-repeat 0 50%;
}

/* block-video */
.block-video {
	padding: 10px;
	margin: -3px auto 0;
	background: #1A2129;
}

.block-video:after {
	content: "";
	display: block;
	clear: both;
}

/*.block-video .video-holder {
	float: left;
	width: 1220px;
}*/

/*#kt_player > iframe {
	width: 625px !important;
	background: #f2f2f2;
	padding: 10px;
}*/

.block-video .player .player-wrap {
    height: 0;
    padding-bottom: 59.1837%;
    position: relative;
    width: 100%;
}

.block-video .player object,
.block-video .player video,
.block-video .player .player-wrap #kt_player {
    height: 100% !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100% !important;
}

.block-video .player .loading {
	display: block;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #9b9b9b;
	padding: 50px 20px;
}

.block-video .no-player {
	display: block;
	position: relative;
}

.block-video .no-player img {
	opacity: 0.2;
	filter: alpha(opacity=0.2);
}

.block-video .no-player .message {
	display:  block;
	position: absolute;
	text-align: center;
	padding: 20px;
	left: 0;
	right: 0;
	top: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #9b9b9b;
}

.block-video .no-player .message em {
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #ffffff;
}

.block-video .no-player .message form {
	display: block;
	padding: 20px 0 0 0;
}

.block-video .playlist {
	margin: 0 0 10px;
	padding: 3px 3px;
	border: 2px solid #1f1f1f;
	background: #000;
}

.block-video .playlist-holder {
	overflow: hidden;
}

.block-video .playlist .item {
	display: block;
	float: left;
	position: relative;
	width: 290px;
	margin: 3px;
	cursor: pointer;
}

.block-video .playlist .item.selected,
.block-video .playlist .item.selected:hover {
	margin: 0;
	border: 3px solid #f56c08;
}

.block-video .playlist .item:hover {
	margin: 0;
	border: 3px solid #1f1f1f;
}

.block-video .sponsor {
	/*border: 2px solid #1f1f1f;*/
	width: auto;
	margin: 10px 0;
}

.block-video .adv {
	float: right;
	width: 304px;
	overflow: hidden;
}

.block-video .adv .banner {
	border: 2px solid #1f1f1f;
	margin: 0 0 10px;
	width: 300px;
	height: 250px;
	background: #000;
}

.block-video .adv .banner:last-child {
	margin: 0;
}

/* block-album */
.block-album {
	padding: 10px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: -3px 0 0;
	background: #272727 url(/images/bg-grey.gif);
}

.block-album .album-holder {
	float: left;
	width: 887px;
}

.block-album .album-info {
	width: 887px;
}

.block-album .images {
	position: relative;
	overflow: hidden;
	border: 2px solid #1f1f1f;
	padding: 7px;
	background: #000;
}

.block-album .images span.item,
.block-album .images a.item {
	float: left;
	margin: 7px;
}

.block-album .images span.item {
	opacity: 0.2;
}

.block-album .images a.item:hover {
	margin: 0;
	border: 7px solid #f56c08;
}

.block-album .images .message {
	display:  block;
	position: absolute;
	text-align: center;
	padding: 20px;
	left: 0;
	right: 0;
	top: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #9b9b9b;
}

.block-album .images .message em {
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #ffffff;
}

.block-album .images .message form {
	display: block;
	padding: 20px 0 0 0;
}

.block-album .sponsor {
	border: 2px solid #1f1f1f;
	width: auto;
	margin: 10px 0;
}

.block-album .adv {
	float: right;
	width: 319px;
}

.block-album .adv .banner {
	border: 2px solid #1f1f1f;
	margin: 0 0 10px;
	width: 315px;
	height: 300px;
	background: #000;
}

.block-album .adv .banner:last-child {
	margin: 0;
}

/* video / album rating */
.rating-container {
	float: left;
	margin: 0 10px 0 0;
	height: 30px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	width: 200px;
	background: #d5d5d5;
	background: -moz-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #d5d5d5 0%, #ffffff 100%);
	background: linear-gradient(to bottom, #d5d5d5 0%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=0);
}

.rating-container .rate-like {
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	width: 34px;
	height: 30px;
	background: url(/images/btn-vote.png) no-repeat;
}

.rating-container .rate-like.voted,
.rating-container .rate-like:hover {
	background-position: 0 -31px;
}

.rating-container .rate-like.disabled {
	background: url(/images/btn-vote.png) no-repeat;
}

.rating-container .rate-dislike {
	float: right;
	text-indent: -9999px;
	overflow: hidden;
	width: 33px;
	height: 30px;
	background: url(/images/btn-vote.png) no-repeat -34px 0;
}

.rating-container .rate-dislike.voted,
.rating-container .rate-dislike:hover {
	background-position: -34px -31px;
}

.rating-container .rate-dislike.disabled {
	background: url(/images/btn-vote.png) no-repeat -34px 0;
}

.rating-container .disabled,
.rating-container .voted {
	cursor: default;
}

.rating-container .rating {
	text-align: center;
	width: 120px;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px 0 0;
}

.rating-container .voters {
	display: block;
	color: #818181;
	text-shadow: 1px 1px 0 #ededed;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	margin: 0 0 4px;
}

.rating-container .scale-holder {
	background: #f45655;
	display: block;
	height: 4px;
	position: relative;
	width: 120px;
}

.rating-container .scale-holder .scale {
	position: absolute;
	left: 0;
	top: 0;
	height: 4px;
	background: #bfd128;
}


/* video / album add to favourites */

.btn-favourites {
	display: block;
	position: relative;
	float: left;
	width: 40px;
	height: 30px;
	color: #4e4e4e;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #3a68a1;
}

.btn-favourites:hover {
	-webkit-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	background: #204d86;
}

.btn-favourites .ico-favourite {
	width: 18px;
	height: 15px;
	position: absolute;
	top: 8px;
	left: 6px;
	background: url(/images/ico-favourite.png) no-repeat;
}

.btn-favourites .drop {
	display: block;
	width: 100%;
	height: 100%;
	background: url(/images/bg-drop2.png) no-repeat 29px 50%;
	cursor: pointer;
}

.btn-favourites:hover .drop {
	background: url(/images/bg-drop.png) no-repeat 29px 50%;
}

.btn-favourites ul {
	position: absolute;
	/*top: 100%;*/
	bottom: 100%;
	left: 0;
	z-index: 10;
	display: none;
	overflow: hidden;
	border-radius: 3px 3px 3px 0;
	-webkit-border-radius: 3px 3px 3px 0;
}

.btn-favourites:hover ul {
	display: block;
}

.btn-favourites ul li a,
.btn-favourites ul li span {
	white-space: nowrap;
	padding: 8px;
	display: block;
	font-weight: bold;
	color: #4e4e4e;
	background: #d5d5d5;
}

.btn-favourites ul li span {
	position: relative;
	color: #808080;
	padding: 8px 38px 8px 32px;
	background: #d5d5d5 url(/images/ico-checkmark.png) 7px 7px no-repeat;
}

.btn-favourites ul li span .delete {
	position: absolute;
	right: 8px;
	top: 8px;
	color: #808080;
	margin: 0 0 0 10px;
	text-decoration: none;
}

.btn-favourites ul li span .delete:hover {
	color: #4e4e4e;
}

.btn-favourites ul li a:hover {
	color: #fff;
	background: #204d86;
}

.btn-favourites ul li span a {
	padding: 0;
	background: transparent;
	text-decoration: underline;
}

.btn-favourites ul li span a:hover {
	background: transparent;
}

.block-bookmarks {
	overflow: hidden;
	margin: -2px 0 0 10px;
	float: left;
}

/* video / album tabs */
.tabs-menu {
	overflow: hidden;
	float: left;
}

.tabs-menu li {
	margin: 0 20px 0 0;
	float: left;
	font-size: 16px !important;
	line-height: 30px !important;
	padding-left: 25px;
}

.tabs-menu li:last-child {
	margin: 0;
}

.tabs-menu li a {
	font-size: 13px !important;
	line-height: 30px !important;
	font-weight: normal !important;
	background: none !important;
	border: none !important;
	color: #3a68a1 !important;
	padding: 0 !important;
	text-decoration: underline;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	text-transform: none !important;
}
.tabs-menu li a:hover,
.tabs-menu li a.active {
	color: #00deff !important;
}
.hp-tab-video-detail {
	background: url(../images/icon8.png) no-repeat 0 50%;
}
.hp-tab-report-video {
	background: url(../images/icon5.png) no-repeat 0 50%;
}
.hp-tab-screenshots {
	background: url(../images/icon9.png) no-repeat 0 50%;
}
.hp-tab-share {
	background: url(../images/icon6.png) no-repeat 0 50%;
}
.hp-tab-comments {
	background: url(../images/icon7.png) no-repeat 0 50%;
}

.tab-content {
	color: #3a68a1;
	padding: 10px 0;
}

/* video / album details */
.block-details {
	margin: -10px 0;
	overflow: hidden;
}

.block-details .info {
	overflow: hidden;
}

.block-details .item {
	width: 100%;
	overflow: hidden;
	padding: 5px 0;
	background: url(/images/divider.png) repeat-x;
}

.block-details .item:first-child {
	background: none;
}

.block-details .item img {
	margin: 1px;
}

.block-details .item a {
	display: inline-block;
	color: #ffffff;
	margin: 3px 0 3px 3px;
	font-weight: normal;
	background: #29384A;
	padding: 2px 10px;
	white-space: nowrap;
	text-transform: capitalize;
}
.hp-info-item-label {
	width: 70px !important;
	line-height: 25px !important;
	padding: 0 !important;
}
.block-details .item a:hover {
	color: #00deff;
	/*background: #111111;*/
}

.block-details span {
	float: left;
	border-left: 1px solid #353535;
	padding: 0 24px;
}

.block-details span:first-child {
	padding: 0 24px 0 0;
	border: 0;
}

.block-details span.added-by {
	float: right;
	border-left: none;
	padding: 0;
}

.block-details span em {
	color: #dcdcdc;
	margin-left: 3px;
}

.block-details .block-user {
	float: right;
	margin: 10px 0 10px 10px;
}

.block-details .block-user .username {
	margin: 0 0 5px 0;
	font-weight: bold;
}

.block-details .block-user .avatar {
	display: block;
	width: 150px;
	height: 150px;
}

.block-details .block-user .avatar img,
.block-details .block-user .avatar .no-thumb {
	display: block;
	width: 150px;
	height: 150px;
	text-align: center;
	line-height: 150px;
	background: #000;
}

/* video / album flagging */
.block-flagging {
	width: 100%;
	overflow: hidden;
}

.block-flagging .block-radios {
	float: left;
}

.block-flagging .block-textarea {
	float: right;
	width: 600px;
}

.block-flagging .submit {
	margin: 11px 0 0;
}

/* video screenshots */
.block-screenshots {
	width: 100%;
	overflow: hidden;
	margin: -10px 0 0;
}

.block-screenshots span.item,
.block-screenshots a.item {
	float: left;
	border: 1px solid #1f1f1f;
	width: 167px;
	height: 126px;
	margin: 10px 0 0 3px;
}

.block-screenshots a.item:hover {
	border: 1px solid #30bc9d;
}

.block-screenshots span.item img,
.block-screenshots a.item img {
	width: 167px;
	height: 126px;
}

/* video / album sharing */
.block-share {
	width: 100%;
	overflow: hidden;
}

.block-share .block-bookmarks {
	float: right;
	width: 400px;
}

.block-share .textfield {
	width: 700px;
}

.block-share .middle {
	width: 419px;
}

.block-share .block-size {
	width: 100%;
	overflow: hidden;
	padding: 2px 0 0;
}

.block-share .block-size a {
	float: left;
	margin: 0 10px 0 0;
	color: #4e4e4e;
	text-shadow: 1px 1px 0 #e0e0e0;
	background: #d0d0d0;
	height: 23px;
	padding: 9px 17px 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: -moz-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #c5c5c5));
	background: -webkit-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -o-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: -ms-linear-gradient(top, #d0d0d0 0%, #c5c5c5 100%);
	background: linear-gradient(to bottom, #d0d0d0 0%, #c5c5c5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#c5c5c5', GradientType=0);
}

.block-share .block-size a:hover {
	color: #fff;
	text-shadow: none !important;
	background: #30bc9d;
}

.block-share .custom-size {
	float: left;
}

.block-share .custom-size label {
	float: left;
	color: #9b9b9b;
	margin: 8px 9px 0 0;
}

.block-share .custom-size .textfield {
	float: left;
	width: 42px;
	margin: 0 8px 0 0;
	text-align: center;
}

/* video / album comments */
.block-comments {
	width: 100%;
	overflow: hidden;
}

.block-comments .toggle-button {
	float: right;
}

.block-comments .block-new-comment {
	background: url(/images/divider.png) repeat-x 0 10px;
	padding: 20px 0 20px 30px;
	display: none;
}

.block-comments .list-comments {
	background: url(/images/divider.png) repeat-x 0 10px;
	padding: 20px 0 0;
}

/* related videos, albums */
.related-videos,
.related-albums {
	width: 100%;
	overflow: hidden;
	margin: 20px 0 0;
}

.related-videos .list-sort,
.related-albums .list-sort {
	overflow: hidden;
	margin-bottom: 7px;
}

.related-videos .list-sort li,
.related-albums .list-sort li {
	float: left;
	margin: 0 2px 3px 0;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.related-videos .list-sort a,
.related-albums .list-sort a,
.related-videos .list-sort span,
.related-albums .list-sort span {
	float: left;
	height: 27px;
	font-weight: bold;
	color: #ccc;
	background: #204d86;
	padding: 11px 11px 0;
}

.related-videos .list-sort a:hover,
.related-albums .list-sort a:hover {
	color: #fff;
	cursor: pointer;
}

.related-videos .list-sort span,
.related-albums .list-sort span {
	color: #fff;
	background: #3a68a1;
}

/* playlist subscribe */
.btn-subscribe {
	float: left;
	position: relative;
	overflow: hidden;
}

.btn-subscribe .toggle-button {
	float: left;
}

.btn-subscribe .button-info:before {
	border-bottom: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid #BCBCBC;
	border-top: 5px solid rgba(0, 0, 0, 0);
	content: "";
	left: -5px;
	position: absolute;
	top: 5px;
}
.btn-subscribe .button-info {
	background: none repeat scroll 0 0 #BCBCBC;
	border-radius: 3px;
	color: #4E4E4E;
	float: left;
	height: 17px;
	margin: 5px 0 0 10px;
	padding: 3px 8px 0;
	position: relative;
}

/* member-menu */
.member-menu {
	float: right;
	/*width: 195px;*/
	width: 284px;
	margin: 0 0 0 30px;
}

.member-menu .block-main {
	padding: 16px 0 0;
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #355F92; /*url(/images/bg-grey.gif)*/
}

.member-menu .block-main .avatar {
	margin: 0 auto 8px;
	width: 180px;
}

.member-menu .block-main .avatar img,
.member-menu .block-main .avatar .no-thumb {
	display: block;
	width: 180px;
	height: 180px;
	line-height: 180px;
	background: #000;
	color: #838383;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}

.member-menu .block-additional {
	width: 100%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	background: #355F92; /*url(/images/bg-grey.gif)*/
	margin: 10px 0 0;
}

.member-menu .block-additional .user-menu li:first-child {
	background: none;
}

.member-menu .user-menu li {
	margin: -1px 0 0;
	background: url(/images/divider.png) repeat-x;
}

.member-menu .user-menu span,
.member-menu .user-menu a {
	display: block;
	font-weight: bold;
	padding: 10px 12px 9px 14px;
}

.member-menu .user-menu span {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 12px 13px 12px;
	background: #19406F;
	/*text-align: center;*/
	/*background: url(/images/bullet.png) no-repeat 14px 50%;*/
}

.member-menu .user-menu a:hover {
	background: #19406F;
}

.member-menu .user-menu em {
	display: inline-block;
	margin: 0 0 0 5px;
	width: 14px;
	height: 14px;
	padding: 2px;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border-radius: 50%;
	background: #29C2FC;
	color: #ffffff;
}

.member-menu .user-menu em.small {
	font-size: 9px;
}

.member-menu .user-menu a:hover em {
	color: #ffffff;
}

/* profile */

.profile-list {
	width: 100%;
	overflow: hidden;
}

.profile-list .margin-fix {
	margin: 0 0 0 -10px;
	overflow: hidden;
}

.profile-list .about-me {
	display: block;
	overflow: hidden;
	clear: both;
	color: #29c2fc;
}

.profile-list .column {
	float: left;
	width: 330px;
	padding: 0 0 0 10px;
	width: 33.3333333%;
	box-sizing: border-box;
}

.profile-list .item {
	margin: 0 0 0 10px;
	padding: 12px;
	/*background: #052954;*/
	background: #355f92;
	color: #29c2fc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
	box-shadow: inset 0 0 10px rgba(6, 6, 6, 0.2);
}

.profile-list .column .item {
	margin: 0 0 10px;
	overflow: hidden;
	height: 14px;
}

.profile-list .item em {
	color: #fff;
}

.profile-list .item a {
	text-decoration: underline;
}

/* video / album edit */

.form-upload {
	padding-top: 20px;
}
.form-upload .section-title {
	color: #000;
	padding-bottom: 5px;
	border-bottom-color: #ccc;
}
.form-upload label {
	color: #000 !important;
}
.form-upload p {
	display: block;
	margin: 15px 0 0;
	color: #000;
}
.form-upload .textfield, .form-upload .textarea, .form-upload .selectbox, .form-upload .file {
	color: #000;
}
.form-upload .section-one {
	width: auto !important;
	float: none !important;
	overflow: hidden;
}
.form-upload .section-two {
	float: right !important;
}






.form-upload p.preview {
	display: block;
	width: 320px;
	overflow: hidden;
	background: #000000;
	position: relative;
}

.form-upload p.preview em {
	position: absolute;
	bottom: 10px;
	background: #000000;
	opacity: 0.8;
	padding: 5px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #dcdcdc;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
}

.form-upload p.preview em.left {
	left: 10px;
}

.form-upload p.preview em.right {
	right: 10px;
}

.form-upload p.preview em.negative {
	color: #fc5729;
}

.form-upload p.preview img {
	display: block;
	max-width: 320px;
	width: 100%;
	height: auto;
}

.form-upload p.preview.disabled img {
	opacity: 0.3;
}

/* slider  */
.slick-list {
	margin-bottom: 15px !important;
}
.slick-slide {
	margin: 0 5px;
}
.slick-slider {
	overflow: visible !important;
	margin-bottom: 0 !important;
}
.slick-prev {
	/*left: 0 !important;*/
	background: red !important;
	width: 19px !important;
	height: 40px !important;
	background: url(../images/slider-arrow-left.png) !important;
	text-indent: -9999px;
	margin-top: -20px !important;
}
.slick-next {
	/*right: 0 !important;*/
	background: red !important;
	width: 19px !important;
	height: 40px !important;
	background: url(../images/slider-arrow-right.png) !important;
	text-indent: -9999px;
	margin-top: -20px !important;
}
.slick-dots {
	position: relative !important;
	bottom: auto !important;
}
.slick-dots li {
	overflow: hidden;
	width: 10px !important;
	height: 10px !important;
}
.slick-dots li button:before {
	display: none !important;
}
.slick-dots li button {
	background: #747474 !important;
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.slick-dots li.slick-active button {
	background: #00DEFF !important;
}
.slick-slide .item {
	margin: 0 !important;
	width: auto !important;
	height: auto !important;
	overflow: hidden;
}
.slick-slide img {
	width: 100% !important;
	height: auto !important;
}
/* traiders */
.btml {
	display: table;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 16px 10px 10px 10px;
	background: #fff;
	border: 1px solid #dfe2e5;
	box-sizing: border-box;
}
.btml ol {
	display: table-cell;
	vertical-align: top;
}
.btml ol li {
	font-size: 15px;
	line-height: 18px;
	padding: 0 20px 0 2px;
	margin-bottom: 10px;
}
.btml ol li span {
	color: #3a68a1;
	padding-right: 4px;
	font-size: 12px;
}
.btml ol li a {
	color: #000;
	padding: 2px 5px;
}
.btml ol li a:hover {
	background: #3a68a1;
	color: #fff;
}
/* popups */

/* popup with video */

.mfp-container .headline h2 {
	color: #fff;
}

/**/

.popup-title {
	display: block;
	color: #dcdcdc;
	margin: 0 0 5px;
	font-size: 20px;
	line-height: 22px;
}

/*.popup-holder {
	color: #dcdcdc;
	padding: 10px;
	min-width: 480px;
	max-width: 800px;
	background: url(/images/bg-grey.gif) repeat;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.popup-holder form .two-sections .section-one {
	width: 320px;
}*/

.fancybox-close {
	background: url(../images/popup-close.png) no-repeat !important;
	width: 18px !important;
	height: 18px !important;
	top: -30px !important;
	right: 0 !important;
}
.fancybox-skin {
	background: rgba(20,20,20,1) !important;
}
/* new styles for popups */
.popup {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 0 0 0;
	background: #fff;
	/*border-bottom: 5px solid #2fbb9c;*/
}
#popup-categories,
#popup-models {
	max-width: 927px !important;
}
.mfp-close {
	width: 18px !important;
	height: 18px !important;
	display: block;
	text-indent: -9999px;
	background: url(../images/popup-close.png) no-repeat !important;
	opacity: 1 !important;
	top: -30px !important;
}
.mfp-ajax-holder .mfp-close {
	top: 15px !important;
	right: 7px !important;
}
.mfp-ajax-holder .container .mfp-close {
	display: none;
}
.popup a {
	color: #000;
}
.popup-title {
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	line-height: 40px;
	background: #3a68a1;
	padding: 0 20px;
	overflow: hidden;
	/*margin-bottom: 20px;*/
}
.popup-title strong {
	float: left;
}
.popup-title a {
	float: right;
	font-size: 14px;
	line-height: 40px;
	text-decoration: underline;
	color: #fff;
	font-weight: bold;
}
.popup-categories-list {
	overflow: hidden;
	float: left;
}
.popup-categories-list li strong {
	display: block;
	color: #3a68a1;
	padding: 5px;
	font-size: 18px;
	line-height: 22px;
}
.popup-categories-list li a:first-letter {
	text-transform: uppercase;
}
.popup-categories-list li a {
	display: block;
	padding: 5px;
	text-decoration: none;
	overflow: hidden;
	width: 140px;
	/*background: rgba(48,188,157,0.1);*/
	margin: 0 0 2px 2px;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}
.popup-categories-list li a:hover {
	color: #fff;
	background: #00aced;
}
#popup-categories .popup-categories-list li a,
#popup-models .popup-categories-list li a {
	padding: 2px;
}
.wrap2 {
	overflow: hidden;
	padding: 10px 20px;
	margin: 0 0 0 -1px;
}
.wrap3 {
	overflow: hidden;
	padding: 10px 14px;
	margin: 0 0 0 -1px;
}
.top-searches {
	float: none;
}
.top-searches li a {
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	width: auto;
}
.top-searches li {
	float: left;
	margin: 0 5px 5px 0;
}
.fancybox-wrap {
	width: auto !important;
}
.fancybox-inner {
	width: 400px !important;
}
.radius {
	/*background: #1c1b1b;  Цвет фона
	border: 1px solid #2b2b2b;  */
	border-radius: 8px;
	padding: 25px; /* Поля вокруг текста */
	margin-bottom: 10px; /* Отступ снизу */
	color: #000000;
	font-size: 13px;
}
.radius a {
	color: #508ad0;
}
.radius a:hover {
	color: #001a39;
	text-decoration: underline;
}
.com-title {
	display: block;
	margin-bottom: 15px;
}
.stories_wrapper {
	overflow: hidden;
	padding: 10px 0;
}
.ct {
	padding: 5px 0;
}
.radius_story {
	background: #DEE6EF; /* Цвет фона */
    border: 1px solid ##DCDCDC;
	border-radius: 4px;
	padding: 15px; /* Поля вокруг текста */
	margin-bottom: 10px; /* Отступ снизу */
	line-height: 1.2;
}
.radius_story a{
	outline: none;
    color: #437BC5;
    text-decoration: none;
    font-weight: bold;
}
.radius_story a:hover{
    color: #4E4E4E;
}

@media screen and (max-width: 1700px) {
	.container {
		max-width: 1239px !important;
	}
	.slick-slide .item .img {
		height: 289px;
	}
	.block-channel .img {
		width: 652px;
	}
}
@media screen and (max-width: 1360px) {
	.container {
		max-width: 925px !important;
	}
	.block-channel .img {
		width: 338px;
	}
	.top-menu ul li {
		text-transform: none;
		font-size: 14px;
	}
	.slick-slide .item .img {
		height: auto;
	}
	.bottom-ads .spot {
		margin: 0 2px;
	}
	.btml ol:nth-child(7),
	.btml ol:nth-child(8) {
		display: none;
	}
	.block-video .adv {
		display: none;
	}
}
@media screen and (max-width: 1100px) {
	.user-links li {
		display: none;
	}
	.user-links li.visible {
		display: block;
	}
	.logo {
		margin: -23px 14px 0 55px;
	}
	.mi-holder {
		display: block;
	    float: left;
	    margin: 0 20px 0 0;
	    position: absolute;
	    width: 64px;
	}
	#list_models_top_models {
		display: none;
	}
	.pushy-active #menu-icon,
	#menu-icon:hover {
		-moz-transform: none !important;
		-webkit-transform: none !important;
		transform:  none !important;
	}
}

.vthumb {
	display: none;
}
.vthumb {
	height: auto;
}
.vthumb video {
	width: 100% !important;
	height: auto;
}
@media screen and (min-width: 1001px) {
	.member-menu .block-main,
	.member-menu .block-additional {
		display: block !important;
	}
}
@media screen and (max-width: 1000px) {
	.block-model {
		display: none;
	}
/*	body .vthumb:hover .vthumb-wrapper,
	body .vthumb .vthumb-wrapper,
	body .vthumb .thevideo {
		display: none !important;
	}*/
	.list-playlists .item,
	.list-sponsors .item,
	.list-categories .item,
	.list-albums .item,
	.list-albums-images .item,
	.list-videos .item,
	.list-videos-screenshots .item {
		float: none;
		display: inline-block;
		vertical-align: top;
		width: 31%;
		text-align: left;
		margin: 3px 2px 3px 2px;
	}
	.list-videos .img, .list-playlists .img {
		width: auto;
		height: auto;
	}
	.list-videos .img img,
	.list-categories .img img {
		width: 100%;
		height: auto;
	}
	.margin-fix {
		text-align: center;
		margin: 0 0 0 0;
	}
	.bottom-ads {
		text-align: center;
	}
	.bottom-ads .spot {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.ad468,
	.ad400 {
		display: none;
	}
	.block-video .video-info {
		width: auto;
	}
	.pagination li {
		width: 40px;
	}
	.btml ol:nth-child(4),
	.btml ol:nth-child(5),
	.btml ol:nth-child(6) {
		display: none;
	}
	.top-menu {
		display: none;
	}
	/* video */
	.block-video .video-holder {
		float: none;
		width: auto;
	}
	.block-channel .img {
		width: 100%;
		margin: 0 0 10px 0;
		float: none;
	}
	.channel-info {
		width: calc(100% - 188px);
	}
	.member-menu {
		float: none;
		width: 100%;
		margin: 0 0 20px 0;
		top: auto !important;
	}
	.member-menu .headline h2 {
		cursor: pointer;
		position: relative;
	}
	.member-menu .headline h2:after {
	    content: "";
	    display: inline-block;
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 5px 5px 0 5px;
	    border-color: #010101 transparent transparent transparent;
	    position: relative;
	    top: -3px;
	    -webkit-transition: all 100ms linear;
	    -moz-transition: all 100ms linear;
	    -ms-transition: all 100ms linear;
	    -o-transition: all 100ms linear;
	    transition: all 100ms linear;
	}
	.member-menu .headline h2.active:after {
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	.member-menu .block-main .avatar {
		display: none;
	}
	.member-menu .block-main {
		padding: 0 !important;
	}
	.member-menu .block-main,
	.member-menu .block-additional {
		display: none;
	}
}
@media screen and (max-width: 620px) {
	.channel-info {
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.block-channel .desc {
		height: auto;
	}
	.channel-rating {
		width: 100%;
		float: none;
	}
	.channel-list .rating {
		width: auto;
	}
	.channel-rating strong {
		width: 100%;
		float: none;
		display: block;
	}
	.channel-rating a {
		width: 100%;
		box-sizing: border-box;
		display: block;
	}
}
@media screen and (max-width: 767px) {
	.video-info-togle {
		position: relative;
		float: right;
		left: auto;
		top: auto;
		margin: 0;
	}
	#header {
		height: auto;
	}
	.search {
		clear: both;
		padding: 15px 0;
	}
	.footer .txt {
		padding: 0 10px 10px 10px;
	}
	.uplink {
		position: relative !important;
		top: auto;
		right: auto;
		margin: 0 auto 0 auto;
	}
	/* model single page */
	.block-model-left {
		overflow: hidden;
	}
	.block-model .desc {
		clear: both;
		margin-top: 10px;
	}
	.model-list {
		width: auto;
	}
	.pagination ul li {
		display: none;
	}
	.pagination ul li.prev,
	.pagination ul li.next {
		display: block !important;
	}
	.pagination ul li.prev a,
	.pagination ul li.next a {
		background: none !important;
	}
	.pagination li.prev {
		background: url(../images/first-page.png) no-repeat;
		width: 85px !important;
	}
	.pagination li.next {
		background: url(../images/last-page.png) no-repeat;
		width: 85px !important;
	}
	.pagination ul li.prev:hover,
	.pagination ul li.next:hover {
		background-position: 0 100% !important;
	}
	#kt_player iframe {
		display: none !important;
	}
	.form-upload .two-sections .section-two {
		float: none !important;
		margin: 0 0 15px 0 !important;
		padding: 0 !important;
		width: auto !important;
		background: none !important;
	}
}
@media screen and (max-width: 567px) {
	.banner-top {
		display: block;
		padding: 10px 0 0 0;
	}
	#divExoLayerWrapper {
		visibility: visible !important;
	}
	.list-playlists .item,
	.list-sponsors .item,
	.list-categories .item,
	.list-albums .item,
	.list-albums-images .item,
	.list-videos .item,
	.list-videos-screenshots .item {
		width: 47%;
	}
	.footer .nav li {
		padding: 0 5px;
		margin: 5px 0;
	}
	.headline h2 {
		float: none;
	}
	.sort {
		float: left;
		margin-top: 6px;
	}
	.header-right {
		display: none;
	}
}
@media screen and (max-width: 479px) {
	.lang {
		padding: 0;
		margin: 0;
		position: absolute;
		right: 5px;
		top: 5px;
	}
	.list-playlists .item,
	.list-sponsors .item,
	.list-categories .item,
	.list-albums .item,
	.list-albums-images .item,
	.list-videos .item,
	.list-videos-screenshots .item {
		width: auto;
		width: 100%;
		box-sizing: border-box;
		margin: 3px 0;
	}
	.logo {
		margin: 0 auto 0 auto;
		float: none;
	}
	.user-links {
		display: table;
		margin: 0 auto 0 auto;
		float: left;
	}
	.user-links li {
		margin: 0 20px 0 0;
		line-height: 43px;
	}
	#header .wrap {
		min-height: 43px;
	}
	.mi-holder {
		top: 53px;
	}
	/* model single page */
	.model-list {
		width: auto;
		margin: 20px 0 0 0;
	}
	.block-details span {
		float: none;
		display: block;
		padding-bottom: 5px !important;
	}
	.btml ol:nth-child(3) {
		display: none;
	}
	.fancybox-inner {
		width: 250px !important;
	}
	form .captcha-control .image {
		width: 100% !important;
		margin-right: 0 !important;
	}
	form .captcha-control .textfield {
		width: 120px;
	}
	form .captcha-control .submit {
		float: none;
	}
	.headline .button-info {
		display: none;
	}
	.headline .button, .headline .more {
		float: left;
	}
	.channel-list .rating {
		clear: both;
		float: none;
		width: auto;
	}
}
