﻿/* ilightBox */

/* Reset Styles */
.ilightbox-overlay, .ilightbox-loader, .ilightbox-loader *, .ilightbox-holder, .ilightbox-holder .ilightbox-container, .ilightbox-holder .ilightbox-container img.ilightbox-image, .ilightbox-holder .ilightbox-container .ilightbox-caption, .ilightbox-toolbar, .ilightbox-toolbar *, .ilightbox-thumbnails, .ilightbox-thumbnails *, .ilightbox-holder .ilightbox-container .ilightbox-social, .ilightbox-holder .ilightbox-container .ilightbox-social * {
    float:none;margin:0;padding:0;border:0;outline:0;font-size:100%;line-height:100%;vertical-align:baseline;background:#000;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: -moz-none;
	 -khtml-user-select: none;
	     -o-user-select: none;
	        user-select: none;
	-webkit-transform: translateZ(0);
	   -moz-transform: translateZ(0);
}

/* Disable & Hide Scrollbar */
.ilightbox-noscroll {overflow: hidden;}
.ilightbox-closedhand * {cursor: url(/style/closedhand.cur),default !important;}
.ilightbox-overlay {display: none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100000;}
.ilightbox-loader {position: fixed;z-index: 100005;top: 45%;left: -192px;padding-left: 30px;opacity: 0.9;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";	filter: alpha(opacity=90);-webkit-border-radius: 0 100px 100px 0;border-radius: 0 100px 100px 0;}
.ilightbox-loader div {width: 72px;height: 72px;-webkit-border-radius: 0 100px 100px 0;border-radius: 0 100px 100px 0;}
.ilightbox-loader.horizontal {left: 45%;top: -192px;padding: 0;padding-top: 30px;-webkit-border-radius: 0 0 100px 100px;border-radius: 0 0 100px 100px;}
.ilightbox-loader.horizontal  div {-webkit-border-radius: 0 0 100px 100px;border-radius: 0 0 100px 100px;}
.ilightbox-toolbar {display: none;position: fixed;z-index: 100010;}
.ilightbox-toolbar a {float: left;cursor: pointer;}
.ilightbox-thumbnails {display: block;position: fixed;z-index: 100009;}
.ilightbox-thumbnails.ilightbox-horizontal {bottom: 0;left: 0;width: 100%;height: 100px;}
.ilightbox-thumbnails.ilightbox-vertical {top: 0;right: 0;width: 140px;height: 100%;overflow: hidden;}
.ilightbox-thumbnails .ilightbox-thumbnails-container {display: block;position: relative;}
.ilightbox-thumbnails.ilightbox-horizontal .ilightbox-thumbnails-container {width: 100%;height: 100px;}
.ilightbox-thumbnails.ilightbox-vertical .ilightbox-thumbnails-container {width: 140px;height: 100%;}
.ilightbox-thumbnails .ilightbox-thumbnails-grid {display: block;position: absolute;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail {display: block;cursor: pointer;padding: 10px;position: relative;}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img {width: 100%;height: 100%;-webkit-border-radius: 2px;border-radius: 2px;-ms-interpolation-mode: bicubic;}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon {width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: .7;}
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-icon:hover {opacity: 1;}
.ilightbox-holder {display: none;position: fixed;z-index: 100003;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);}
.ilightbox-holder.ilightbox-next, .ilightbox-holder.ilightbox-prev {cursor: pointer;}
.ilightbox-holder div.ilightbox-container {position: relative;width: 100%;height: 100%;}
.ilightbox-holder img.ilightbox-image {width: 100%;height: 100%;}
.ilightbox-holder .ilightbox-container .ilightbox-caption {display: none;position: absolute;left: 30px;right: 30px;bottom: 0;max-width: 100%;padding: 5px 10px;margin: 0 auto;font-size: 12px;line-height: 150%;word-wrap: break-word;z-index: 20003;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
	-webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
.ilightbox-holder .ilightbox-container .ilightbox-social {display: none;position: absolute;left: 10px;top: 10px;padding: 5px;padding-left: 0;z-index: 20003;height: 16px;}
.ilightbox-holder .ilightbox-container .ilightbox-social ul {float: left;list-style: none;height: 16px;}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li {display: inline;}
.ilightbox-holder .ilightbox-container .ilightbox-social ul li a {float: left;margin-left: 5px;width: 16px;height: 16px;background-repeat: no-repeat;background-position:50%;}
.ilightbox-holder .ilightbox-alert {display: block;position: absolute;left: 0;right: 0;top: 0;bottom: 0;text-align: center;padding-top: 100px;margin: auto;width: 300px;height: 50px;}
.ilightbox-holder .ilightbox-wrapper {width: 100%;height: 100%;overflow: auto;}
.ilightbox-holder .ilightbox-inner-toolbar {position: relative;}
.ilightbox-holder .ilightbox-inner-toolbar .ilightbox-toolbar {position: absolute;}
.ilightbox-overlay.dark {background: #000;}
.ilightbox-loader.dark {-webkit-box-shadow: black 0px 0px 85px, black 0px 0px 85px;box-shadow: black 0px 0px 85px, black 0px 0px 85px;}
.ilightbox-loader.dark div {background: #000 url('/images/iLightBox/preloader.gif') no-repeat center;}
.ilightbox-holder.dark {padding: 5px;background: #000;-webkit-box-shadow: 0 0 15px hsla(0,0%,0%,.8);box-shadow: 0 0 15px hsla(0,0%,0%,.8);}
.ilightbox-holder.dark .ilightbox-container  .ilightbox-caption {background: url('/images/iLightBox/caption-bg.png');color: #FFF;text-shadow: 0 1px black;}
.ilightbox-holder.dark .ilightbox-container .ilightbox-social {background: url('/images/iLightBox/caption-bg.png');-webkit-border-radius: 2px;border-radius: 2px;}
.ilightbox-holder.dark .ilightbox-alert {background: url('/images/iLightBox/alert.png') no-repeat center top;color: #555;}
.ilightbox-toolbar.dark {top: 11px;right: 10px;}
.ilightbox-toolbar.dark a {width: 25px;height: 23px;background: black url('/images/iLightBox/buttons.png') no-repeat 7px 6px;}
.ilightbox-toolbar.dark a:first-of-type {-webkit-border-bottom-left-radius: 3px;-webkit-border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-left-radius:3px;}
.ilightbox-toolbar.dark a:last-of-type {-webkit-border-bottom-right-radius: 3px;-webkit-border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-top-right-radius: 3px;}
.ilightbox-toolbar.dark a.ilightbox-close:hover {background-position: -32px 6px;}
.ilightbox-toolbar.dark a.ilightbox-fullscreen {background-position: 6px -33px;right: 35px;}
.ilightbox-toolbar.dark a.ilightbox-fullscreen:hover {background-position: -31px -33px;}
.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail img {box-shadow: 0 0 6px rgba(0, 0, 0, .9);}
.ilightbox-thumbnails.dark .ilightbox-thumbnails-grid .ilightbox-thumbnail .ilightbox-thumbnail-video {background: url('/images/iLightBox/thumb-overlay-play.png') no-repeat center;}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-title {font-size: 18px;padding: 10px 8px;padding-right: 60px;color: #FFF;}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar {left: auto;	top: 5px;right: 5px;}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a {-webkit-border-radius: 0;border-radius: 0;float: right;}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:first-of-type {-webkit-border-bottom-right-radius: 3px;-webkit-border-top-right-radius: 3px;		    border-bottom-right-radius: 3px;border-top-right-radius: 3px;}
.ilightbox-holder.dark .ilightbox-inner-toolbar .ilightbox-toolbar a:last-of-type {-webkit-border-bottom-left-radius: 3px;-webkit-border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-left-radius: 3px;}
