@charset "UTF-8";
table.detail caption.ty01 {
  text-align: left !important;
  margin: 0 0 10px;
  font-size: 107.75%;
  font-weight: bold;
}

.link-list-horizon-01 {
  list-style: none;
  margin: 40px 0 0 0;
  overflow: hidden;
  zoom: 1;
  _width: 710px;
}
.link-list-horizon-01 li {
  float: left;
  _display: inline;
  border-right: 1px solid #d8dadc;
  padding: 0 4px;
  height: 39px;
  margin-bottom: 16px;
  zoom: 1;
}
.link-list-horizon-01 li a {
  display: block;
  text-align: center;
  padding: 8px 0;
  _padding: 4px 0;
  font-size: 14px;
}
.link-list-horizon-01 li a.current {
  border-bottom: 3px solid #84919d;
  _padding: 0;
  zoom: 1;
  _margin-top: 0px;
  position: relative;
}
.link-list-horizon-01 li a.current:hover, .link-list-horizon-01 li a.current:focus {
  text-decoration: none;
}
.link-list-horizon-01 li:first-child {
  border-left: 1px solid #d8dadc;
}
.link-list-horizon-01 li.bd-l {
  border-left: 1px solid #d8dadc;
}
.link-list-horizon-01.col9 li {
  _width: 66px;
}
.link-list-horizon-01.col9 li a {
  width: 69px;
}
.link-list-horizon-01.col9 li:nth-child(9n+1) {
  border-left: 1px solid #d8dadc;
}

.list-icon-01 {
  margin: 0 0 1em;
  list-style: none;
}
.list-icon-01 li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  zoom: 1;
}
.list-icon-01 li .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.box-01 {
  padding: 10px;
  border: 1px solid #d8dadc;
  background-color: #f4f5f6;
  margin-bottom: 20px;
}
.box-01 .list-icon-01 {
  margin-top: 0;
}
.box-01 + .note-list {
  margin-bottom: 40px;
}

.box-select-wrap {
  padding: 10px 15px;
  background-color: #fff;
}
.box-select-wrap .press-control {
  margin-left: 62px !important;
  _margin-left: 50px !important;
}
.box-select-wrap select {
  margin-left: 20px;
  font-size: 14px;
  width: 100px;
}
.box-select-wrap select.press-control {
  width: 90px;
}
.box-select-wrap ul {
  list-style: none;
  margin: 0;
}
.box-select-wrap label {
  font-size: 14px;
}
.box-select-wrap .list li {
  overflow: hidden;
  margin-bottom: 10px;
  zoom: 1;
}
.box-select-wrap .list .category-wrap {
  margin-bottom: 0;
}
.box-select-wrap .list .category-wrap div {
  float: left;
  zoom: 1;
}
.box-select-wrap .list .category-wrap div.select-wrap {
  width: 175px;
}
.box-select-wrap .list .category-wrap div.select-wrap p {
  font-size: 14px;
}
.box-select-wrap .list .category-wrap div.select-wrap button {
  margin-left: 20px;
  font-size: 14px;
  width: 90px;
  text-align: left;
}
.box-select-wrap .list .category-wrap div.select-wrap .title {
  width: 56px;
  display: inline-block;
}
.box-select-wrap .list .category-wrap div.checkbox-wrap {
  width: 442px;
  padding-top: 6px;
  padding-left: 40px;
  _padding-left: 20px;
}
.box-select-wrap .list .category-wrap div.checkbox-wrap label {
  margin-right: 30px;
  white-space: nowrap;
  word-break: break-all;
  display: inline-block;
  padding-bottom: 1px;
  font-size: 14px;
}
.box-select-wrap .list .category-wrap div.checkbox-wrap label input {
  margin-right: 3px;
}
.box-select-wrap .list .category-wrap div.checkbox-wrap label .title {
  width: 140px;
  display: inline-block;
}
.box-select-wrap.en .list .category-wrap div.select-wrap {
  width: 190px;
}
.box-select-wrap.en .list .category-wrap div.select-wrap button {
  margin-left: 16px;
}
.box-select-wrap.en .list .category-wrap div.select-wrap .title {
  width: 75px;
  display: inline-block;
}
.box-select-wrap.en .list .category-wrap div.checkbox-wrap {
  width: 438px;
  padding-left: 30px;
  _padding-left: 20px;
}
.box-select-wrap.en .list .category-wrap div.checkbox-wrap .title {
  width: 170px;
}
.box-select-wrap.presentations select {
  margin-left: 48px;
}
.box-select-wrap.presentations .list .category-wrap div.select-wrap {
  width: 177px;
}
.box-select-wrap.presentations .list .category-wrap div.select-wrap button {
  width: 101px;
}
.box-select-wrap.presentations .list .category-wrap div.checkbox-wrap {
  width: 441px;
}
.box-select-wrap.presentations.en select {
  margin-left: 30px;
}
.box-select-wrap.presentations.en .list .category-wrap div.select-wrap {
  width: 212px;
}
.box-select-wrap.presentations.en .list .category-wrap div.select-wrap .title {
  width: auto !important;
}
.box-select-wrap.presentations.en .list .category-wrap div.select-wrap button {
  margin-left: 30px;
}
.box-select-wrap.presentations.en .list .category-wrap div.checkbox-wrap {
  width: 405px;
}

.list-settlement {
  list-style: none;
  margin: 1em 0 1em;
}
.list-settlement > li {
  margin-bottom: 30px;
}
.list-settlement > li .attention {
  margin-bottom: 0;
}

.link-list-arrow ul.indent {
  padding-left: 3em;
  margin: 0;
  list-style-type: disc;
}
.link-list-arrow ul.indent li:first-child {
  margin-top: 3px;
}
.link-list-arrow ul.indent.ty01 {
  list-style: none;
  padding-left: 1em;
}

/*切り替えではなく普通のリンク遷移のタブリスト*/
.tab-list-02 {
  overflow: hidden;
  list-style: none;
  margin-left: 0;
  zoom: 1;
  position: relative;
}
.tab-list-02:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d8dadc;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.tab-list-02 li {
  float: left;
  padding-left: 2px;
  margin: 0;
  border-bottom: 1px solid #d8dadc;
  zoom: 1;
}
.tab-list-02 li a {
  display: block;
  width: 180px;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #d8dadc;
  border-left: 1px solid #d8dadc;
  border-right: 1px solid #d8dadc;
  color: #006699;
  line-height: 1;
  border-radius: 4px 4px 0 0;
  background-image: url(data:image/svg+xml,%3c%3fxml%20version%3d%221%2e0%22%3f%3e%3csvg%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20width%3d%22100%25%22%20height%3d%22100%25%22%3e%3cdefs%3e%3clinearGradient%20id%3d%22G%22%20x2%3d%220%22%20y1%3d%22100%25%22%3e%3cstop%20style%3d%22stop%2dcolor%3a%23f1f1f1%22%20offset%3d%220%25%22%2f%3e%3cstop%20style%3d%22stop%2dcolor%3a%23ffffff%22%20offset%3d%22100%25%22%2f%3e%3c%2flinearGradient%3e%3c%2fdefs%3e%3crect%20width%3d%22100%25%22%20height%3d%22100%25%22%20fill%3d%22url%28%23G%29%22%2f%3e%3c%2fsvg%3e);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #f1f1f1),color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #f1f1f1 0%,#ffffff 100%);
  background-image: linear-gradient(to top, #f1f1f1 0%,#ffffff 100%);
  background-color: #f4f4f4;
  box-shadow: 1px 1px 1px #fff inset, -1px -1px 1px #fff inset;
  font-size: 14px;
}
.tab-list-02 li:first-child {
  padding-left: 0;
}
.tab-list-02 li.current {
  border-bottom: none;
}
.tab-list-02 li.current a {
  position: relative;
  color: #333;
  background-image: none;
  background-color: #fff;
}
.tab-list-02 li.current a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 1;
}

h2 + .quarter-list h3 {
  margin-top: 20px;
}

.pressrelease-list,
.briefing-list,
.meeting-list {
  list-style: none;
  margin: 0;
}
.pressrelease-list li,
.briefing-list li,
.meeting-list li {
  margin: 0 0 40px;
}

.quarter-list {
  list-style: none;
  margin: 0;
}
.quarter-list li h4.hdg-04 {
  padding-top: 20px;
  border-top: 1px dotted #d8dadc;
}
.quarter-list li h3 + h4.hdg-04 {
  border-top: none;
  padding-top: 0;
}

.timeline-list {
  list-style: none;
  margin-left: 0;
}
.timeline-list li {
  font-size: 85.7143%;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px dotted #d8dadc;
  overflow: hidden;
  zoom: 1;
}
.timeline-list li:first-child {
  padding-top: 0;
}
.timeline-list li .date,
.timeline-list li .icon,
.timeline-list li .content {
  float: left;
}
.timeline-list li .date {
  width: 110px;
  padding-right: 5px;
}
.timeline-list li .icon {
  display: block;
  text-align: center;
  line-height: 1;
}
.timeline-list li .content {
  width: 595px;
  list-style: none;
  margin: 0;
}
.timeline-list li .content .title {
  font-weight: normal;
  font-size: 116.7%;
}
.timeline-list li .content .link {
  font-size: 116.7%;
  margin: 0;
  background-color: #fff;
}
.timeline-list li .content .link a {
  display: block;
  background-color: #fff;
  background-image: url(image);
}
.timeline-list.pressrelease li .date {
  width: 110px;
  padding-right: 6px;
}
.timeline-list.pressrelease li .content {
  width: 509px;
  padding-left: 20px;
}

/*DP1-26(SB) CSR活動トップ バナー3つ並び調整用*/
div.floatblock-l-auto.mr-10 div.imageblock-auto {
  margin-right: 10px;
}
div.floatblock-l-auto.mr-10 div.imageblock-auto.last-child {
  margin-right: 0;
}

/*画像(左)とテキスト(右)：回り込みなし なかったので作成*/
.image-parallel-l {
  zoom: 1;
}
.image-parallel-l .image {
  float: left;
  margin-right: 10px;
}
.image-parallel-l .column {
  overflow: hidden;
  display: block;
  margin: 0;
}
.image-parallel-l:after {
  clear: both;
  content: "";
  display: block;
}

/*画像(右)とテキスト(左)：回り込みなし なかったので作成*/
.image-parallel-r {
  zoom: 1;
}
.image-parallel-r .image {
  float: right;
  margin-left: 10px;
}
.image-parallel-r .column {
  overflow: hidden;
}
.image-parallel-r:after {
  clear: both;
  content: "";
  display: block;
}

/*CRSニュースで使用*/
.link-right {
  overflow: hidden;
  zoom: 1;
}
.link-right span {
  float: left;
}
.link-right a {
  float: right;
  font-size: 66.65%;
  font-weight: normal;
}

.timeline-list.csr-news {
  border: 1px solid #d8dadc;
}
.timeline-list.csr-news li {
  border: none;
}
.timeline-list.csr-news li .date {
  width: 19%;
  padding: 0;
}
.timeline-list.csr-news li .title-link {
  font-size: 116.65%;
  font-weight: bold;
}
.timeline-list.csr-news li .caption {
  margin: 0;
}
.timeline-list.csr-news li .content {
  width: 81%;
}

.box-greeting-president {
  margin: 0;
  padding: 10px;
  border: 1px solid #d8dadc;
}
.box-greeting-president .image-parallel-l .image p {
  margin-bottom: 0;
  line-height: 0;
}
.box-greeting-president .image-parallel-l .column {
  margin: 0 !important;
}

/*CSR活動社長あいさつ*/
.box-president-greeting {
  border: 1px solid #d8dadc;
  padding: 1px;
}
.box-president-greeting .greeting {
  position: relative;
  background-color: #281819;
  color: #fff;
  padding: 20px;
  min-height: 120px;
  _height: 140px;
  zoom: 1;
}
.box-president-greeting .greeting .title {
  font-weight: normal;
  font-size: 114.3%;
  padding: 0;
  margin: 0 0 15px;
  border: none;
  line-height: 1;
}
.box-president-greeting .greeting .txt {
  width: 484px;
  margin: 0;
}
.box-president-greeting .greeting img.president {
  position: absolute;
  bottom: 0;
  right: 25px;
}
.box-president-greeting .link {
  margin: 10px;
  line-height: 1;
}

/*CSR 3社 ソフトバンク手話教室で使用*/
.index-block.column-1first dl {
  float: none;
}
.index-block.ty01 {
  position: relative;
}
.index-block.ty01 dl dt {
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #d8dadc;
  font-size: 114.286%;
  margin: 0;
  padding: 9px 10px 7px;
}
.index-block.ty01 dl dd ul.index-block_text702 {
  width: 100%;
}
.index-block.ty01 dl dd .parallel-link01 {
  overflow: hidden;
  zoom: 1;
}
.index-block.ty01 dl dd .parallel-link01 li {
  float: left;
  width: 37%;
  font-size: 116.7%;
  padding: 0 0 0.5em;
  zoom: 1;
}
.index-block.ty01 dl dd .parallel-link01 li a {
  white-space: normal;
}

/*CSR 3社で使用*/
.link-list-box {
  border: 1px solid #d8dadc;
  padding: 10px 10px 0;
  list-style: none;
  margin-left: 0;
  zoom: 1;
  clear: both;
  letter-spacing: -0.4em;
}
.link-list-box li {
  margin: 0 0 0 40px;
  padding: 0 0 0.5em;
  display: inline-block;
  _display: inline;
  vertical-align: top;
  letter-spacing: normal;
}
.link-list-box li:first-child, .link-list-box li.first {
  margin-left: 0;
}
.link-list-box.col3 li {
  margin: 0;
  width: 219px;
  padding-right: 10px;
}
.link-list-box:after {
  clear: both;
  content: "";
  display: block;
}

h2.img-txt {
  padding: 0;
  border: none !important;
}
h2.img-txt:before {
  display: none;
}

p.note {
  font-size: 85.7%;
  margin: 0 0 40px;
}

/*IR情報top*/
.link-list-image-01,
.link-list-image-02 {
  list-style: none;
  margin: 0 0 33px;
  overflow: hidden;
  clear: both;
  zoom: 1;
}
.link-list-image-01 li,
.link-list-image-02 li {
  float: left;
  padding-left: 10px;
}
.link-list-image-01 li:first-child, .link-list-image-01 li.first,
.link-list-image-02 li:first-child,
.link-list-image-02 li.first {
  padding-left: 0;
}
.link-list-image-01 li a,
.link-list-image-02 li a {
  display: block;
}
.link-list-image-01 li a img,
.link-list-image-02 li a img {
  margin-bottom: 5px;
}
.link-list-image-01 li a span,
.link-list-image-02 li a span {
  display: block;
  font-size: 85.75%;
}

.link-list-image-02 {
  margin: 40px 0;
  padding: 10px;
  border: 1px solid #d8dadc;
  line-height: 0;
}
.link-list-image-02 li {
  padding: 0;
  margin: 0;
  border-left: 1px solid #d8dadc;
}
.link-list-image-02 li:first-child, .link-list-image-02 li.first {
  border-left: none;
}
.link-list-image-02 li a img {
  margin: 0;
}

.col-02 {
  zoom: 1;
}
.col-02 .col {
  _margin-left: 10px;
}
.col-02 .col .ir-news-iframe {
  _padding: 0 5px;
}
.col-02 .ir-news {
  _width: 430px;
}

h2 .small {
  font-size: 66.7%;
}

/*IRニュース（左側）*/
.ir-news-iframe {
  height: 227px;
}
.ir-news-iframe .timeline-list {
  border-top: none;
  margin: 0;
}
.ir-news-iframe .timeline-list li {
  padding: 10px 0;
}
.ir-news-iframe .timeline-list li:first-child {
  border-top: none;
}
.ir-news-iframe .timeline-list li .icon {
  padding-right: 10px;
}
.ir-news-iframe .timeline-list li .date {
  width: 100px;
  padding-right: 6px;
  _width: 69px;
}
.ir-news-iframe .timeline-list li .content {
  width: 240px;
}
.ir-news-iframe .timeline-list li .content .link {
  margin: 0;
}
.ir-news-iframe .timeline-list li .content a {
  font-size: 85.75%;
}

/*株価情報、アニュアルレポート（右側）*/
.local-box.ir-info {
  border: none;
}
.local-box.ir-info #stock-quote-area {
  border: 1px solid #d8dadc;
}
.local-box.ir-info .pseudo-first-child {
  float: none;
}
.local-box.ir-info .pseudo-first-child dd {
  padding: 10px;
}
.local-box.ir-info .pseudo-first-child .link-list-arrow {
  border: none;
  padding: 0;
}

/*株主・投資家向けコンテンツ以下のボックス 3/2の場合*/
.index-block.column-3second dl {
  width: 228px;
  margin-left: 10px;
  _margin-left: 2px;
}
.index-block.column-3second dl.pseudo-first-child {
  width: 468px;
  _width: 454px;
}
.index-block.column-3second dl.pseudo-first-child .link-list-arrow {
  overflow: hidden;
  margin-left: -10px;
}
.index-block.column-3second dl.pseudo-first-child .link-list-arrow.parallel li {
  float: left;
  width: 218px;
  margin-left: 10px;
}

/*株主・投資家向けコンテンツ以下のボックス内のリンクリスト調整*/
.index-block .link-list-arrow.bd-none {
  border: none;
  padding: 0;
}
.index-block .link-list-arrow.bd-none li:first-child {
  margin-top: 0;
}
.index-block .link-list-arrow.bd-none li:last-child {
  margin-bottom: 0;
}

/*五十音順のリスト*/
.fifty-language-sort {
  border-top: 1px dotted #d8dadc;
}
.fifty-language-sort .link-list-arrow {
  border-top: none !important;
  margin-left: -24px;
  position: relative;
}
.fifty-language-sort .link-list-arrow li {
  float: left;
  margin-left: 24px;
}

/*ハイライト*/
/*エクセル形式でダウンロードのリンク*/
.link-list-arrow.ty01 li a {
  display: inline;
  padding: 2px 10px 1px;
  border: 1px solid #d8dadc;
  border-radius: 4px;
  zoom: 1;
}

table.detail.td-right {
  /*tdのみ全て右揃えにする*/
}
table.detail.td-right td {
  text-align: right;
}
table.detail thead th {
  vertical-align: middle;
}
table.detail thead th.right {
  text-align: right !important;
}
table.detail thead th.left {
  text-align: left !important;
}

/*2カラム(既存はテーブルで無理やりやってるので作成)*/
.column {
  overflow: hidden;
  margin-left: -20px;
  position: relative;
  zoom: 1;
}
.column .col {
  float: left;
  _display: inline;
}
.column .col .imagetitle {
  margin: 0 0 15px;
  padding: 0 0 0 20px;
}
.column.col2 .col {
  width: 345px;
  margin: 0 0 0 20px;
}
.column .chart {
  /*グラフ画像用枠*/
  text-align: center;
}
.column .chart img {
  line-height: 0;
}
.column + .note-list,
.column + table.detail {
  margin-top: 40px;
}

/*グラフ*/
.floatblock-rl .unit,
.chart .unit {
  display: block;
  font-size: 71.45%;
  text-align: right;
  margin: 10px 0;
  line-height: 1;
}
.floatblock-rl img,
.chart img {
  margin: 0 !important;
}
.floatblock-rl + table.detail,
.chart + table.detail {
  margin-top: 40px;
}

/*グラフの凡例*/
ul.graph-legend {
  border: 1px solid #c9cacb;
  background-color: #f2f4f6;
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 10px 10px 9px 0;
  zoom: 1;
}
ul.graph-legend li {
  float: left;
  margin: 0 0 0 10px;
  font-size: 71.45%;
  padding-left: 13px;
  white-space: nowrap;
}
ul.graph-legend li.item01 {
  background: url(/corp/set/common/p/img/icon-graph-legend-01.png) no-repeat left center;
}
ul.graph-legend li.item02 {
  background: url(/corp/set/common/p/img/icon-graph-legend-02.png) no-repeat left center;
}
ul.graph-legend li.item03 {
  background: url(/corp/set/common/p/img/icon-graph-legend-03.png) no-repeat left center;
}
ul.graph-legend li.item04 {
  background: url(/corp/set/common/p/img/icon-graph-legend-04.png) no-repeat left center;
}
ul.graph-legend li.item05 {
  background: url(/corp/set/common/p/img/icon-graph-legend-05.png) no-repeat left 1px;
  padding-left: 22px;
}
ul.graph-legend li.item06 {
  background: url(/corp/set/common/p/img/icon-graph-legend-06.png) no-repeat left 1px;
  padding-left: 22px;
}

.img-border img {
  border: 1px solid #d8dadc;
}

div.index-block .note-list {
  margin-top: 5px;
}
div.index-block .note-list span {
  font-size: 83.3%;
}
div.index-block dl dt span {
  display: block;
  padding: 0.52em 10px;
}

.parallel-link01.pdb0 li {
  padding-bottom: 0 !important;
}

/*IE6対策*/
div.column-1third dl,
div.column-2third dl,
div.column-3third dl {
  _width: 227px;
}

div.column-1second dl,
div.column-2second dl {
  _width: 341px;
}

/*開閉モジュール*/
.simple-toggle-01 {
  margin: 0 0 12px;
}
.simple-toggle-01 .toggle-btn {
  list-style: none;
  margin-top: 0 !important;
}
.simple-toggle-01 .toggle-btn a {
  font-weight: normal;
}
.simple-toggle-01 .toggle-btn a img {
  vertical-align: middle;
  margin-left: 3px;
}

.index-block dl dd.carousel ul.pager li.next a,
.index-block dl dd.carousel ul.pager li.next span,
.index-block dl dd.carousel ul.pager li.prev a,
.index-block dl dd.carousel ul.pager li.prev span {
  word-break: break-all;
}

.index-block + .note-list {
  margin-top: 40px;
}

.index-block.column-1first dl.pseudo-first-child {
  margin: 0 !important;
}
.index-block.column-1first .image-right .image {
  margin-left: 10px;
}
.index-block.column-1first .image-right.parallel {
  border-bottom: 1px dotted #d8dacd;
}
.index-block.column-1first .image-right.parallel .col {
  _padding: 0 0 0 40px;
}
.index-block.column-1first .link-list-arrow {
  margin: 0;
  padding: 0;
  border: none;
}
.index-block.column-1first .link-list-arrow.parallel {
  margin-left: -40px;
}
.index-block.column-1first .link-list-arrow.parallel li {
  float: left;
  margin: 10px 0 0 40px;
}

/*画像リンクにアイコンを表示させない*/
.hide-wmvicon img.wmvicon {
  display: none;
}

/*sbcs追加モジュール ニュースリリース用*/
.row + .column.col2.news-release {
  margin-top: 20px;
}

.news-release .box-04 ul {
  position: relative;
  margin: 0;
  list-style-type: none;
}
.news-release .box-04 ul li {
  font-size: 85.71%;
  margin: 10px 0 0;
}
.news-release .box-04 ul li:first-child {
  margin-top: 0;
}
.news-release .box-04 ul li span {
  font-size: 83.33%;
}

.column.col2.news-release .col .hdg-container-02 {
  border-bottom: 1px solid #D8DADC;
  border-top: 3px solid #84909E;
  line-height: 1.2;
  margin: 0 0 10px;
  padding: 10px 0 8px;
}
.column.col2.news-release .col .hdg-container-02 h3 {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 114.29%;
}
.column.col2.news-release .col .box-04 ul {
  position: relative;
  margin: 0;
  list-style-type: none;
}
.column.col2.news-release .col .box-04 ul li {
  font-size: 85.71%;
  margin: 10px 0 0;
}
.column.col2.news-release .col .box-04 ul li:first-child {
  margin-top: 0;
}
.column.col2.news-release .col .box-04 ul li span {
  font-size: 83.33%;
}

.link-list-01 {
  margin: 0 0 20px;
  line-height: 1.2;
  list-style-type: none;
}
.link-list-01 li {
  overflow: hidden;
  border-top: 1px dotted #d8dadc;
  margin: 0;
}
.link-list-01 li a {
  display: block;
  padding: 10px 0;
}
.link-list-01 li:first-child {
  border-top: none;
}
.link-list-01 li:first-child a {
  padding-top: 0;
}
.link-list-01 li:first-child li:first-child a {
  padding-top: 5px;
}
.link-list-01 li:first-child li a {
  padding: 10px 0;
}
.link-list-01 .link-list-01 {
  margin: 0 0 0 30px;
  font-size: inherit;
}

.nav-index {
  clear: both;
  font-size: 85.71%;
  margin: 40px 0 10px;
  text-align: right;
}
.nav-index a {
  display: inline-block;
  position: relative;
}
.nav-index a:before {
  background: url(/site/set/common/p/img/sprite-icon.png) no-repeat 0 50%;
  content: "";
  display: inline-block;
  height: 14px;
  margin: 0 4px 0 0;
  position: relative;
  top: 3px;
  width: 14px;
}

.nav-anchor {
  font-size: 85.71%;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
}
.nav-anchor li {
  display: inline-block;
  margin: 0 20px 10px 0;
  padding: 0;
  position: relative;
}
.nav-anchor li:before {
  background: url(/site/set/common/p/img/sprite-icon.png) no-repeat -16px 50%;
  content: "";
  display: inline-block;
  height: 14px;
  left: 0;
  margin: 0 4px 0 0;
  position: relative;
  top: 3px;
  width: 14px;
}
.nav-anchor li a {
  display: inline-block;
  white-space: nowrap;
}

dl.group-company-list {
  margin: 0;
}
dl.group-company-list dt {
  background-color: #f4f5f6;
  box-shadow: 0 1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #fff inset;
  font-size: 100%;
  margin: 0;
  list-style: none;
  border-top: 1px solid #d8dadc;
  border-left: 1px solid #d8dadc;
  border-right: 1px solid #d8dadc;
}
dl.group-company-list dt .name {
  display: block;
  padding: 10px;
}
dl.group-company-list dd {
  line-height: 1.4;
  padding: 0 10px 0;
  border-bottom: 1px solid #d8dadc;
  border-left: 1px solid #d8dadc;
  border-right: 1px solid #d8dadc;
  margin-bottom: 20px;
  zoom: 0 !important;
}
dl.group-company-list dd:last-child {
  margin-bottom: 0;
}
dl.group-company-list dd table tr td {
  border-top: dotted 1px #d8dadc;
  padding: 0 10px 10px 0;
  max-width: 518px;
}
dl.group-company-list dd table tr td.description {
  width: 518px;
}
dl.group-company-list dd table tr td p {
  margin: 10px 0 0;
}
dl.group-company-list dd table tr td p.business {
  line-height: 1;
  margin: 10px 0 0;
}
dl.group-company-list dd table tr td p:last-child {
  margin-bottom: 0;
}
dl.group-company-list dd table tr td.logo {
  width: 160px;
  border: none !important;
  vertical-align: middle;
  text-align: center;
  padding: 25px 0 25px 10px !important;
}
dl.group-company-list dd table tr:first-child td:first-child {
  border-top: none;
  padding-top: 0;
}

/*SBMS グループ企業再定義*/
#contents-body .header-group {
  width: auto;
}

/*
h1.wrap-logo {
  display: table;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
}
h1.wrap-logo span {
  display: table-cell;
}
h1.wrap-logo .text {
  _float: left;
  *float: left;
}
h1.wrap-logo .logo {
  text-align: right;
  _float: right;
  *float: right;
}
h1.wrap-logo .logo img {
  vertical-align: middle;
}
*/

                                                                                                                                                                                                                                                                                                            
/* l3互換 IE CSS */
h1.wrap-logo {
  margin-bottom: 0;
}
h1.wrap-logo .logo {
  text-align: right;
  float: right\9;
}
h1.wrap-logo .logo img {
  vertical-align: top;
}

/* IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  h1.wrap-logo .text:not(:target) {
    float: left\9;
  }
  h1.wrap-logo .logo:not(:target) {
    float: right\9;
  }
}
h1.wrap-logo .logo:after {
  content: '';
  clear:both;
  display: block;
}


/* l3互換 CSS */
h1.wrap-logo{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-direction:normal;-webkit-box-orient:horizontal;-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center}h1.wrap-logo .logo{-webkit-box-flex:0;-webkit-flex:0 1 auto;-moz-box-flex:0;-moz-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;-webkit-box-ordinal-group:2;-webkit-order:1;-moz-order:1;-ms-flex-order:1;order:1}h1.wrap-logo .text{-webkit-box-flex:1;-webkit-flex:1 1 auto;-moz-box-flex:1;-moz-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto;-webkit-box-ordinal-group:1;-webkit-order:0;-moz-order:0;-ms-flex-order:0;order:0}




.hdg-container-03 {
  position: relative;
  line-height: 1.2;
  margin: 20px 0 10px;
  padding: 0;
}
.hdg-container-03 h2 {
  margin: 0;
}
.hdg-container-03 p {
  font-size: 85.71%;
  margin: 0 !important;
  padding: 0;
  position: absolute;
  top: 12px;
}
.hdg-container-03 .link {
  right: 0;
  line-height: 1.3;
}
.hdg-container-03 .rss {
  line-height: 1.3;
}
.hdg-container-03 .rss a {
  line-height: 1;
}
.hdg-container-03.with-rss .link {
  right: 36px;
}
.hdg-container-03.with-rss .rss {
  right: 0;
  padding: 0 0 0 10px;
  border-left: 1px solid #d8dadc;
}

.column.col2.news-release {
  margin-bottom: 30px;
}
.column.col2.news-release .col .hdg-container-03 {
  margin-top: 0;
}
.column.col2.news-release .col .box-04 {
  margin-bottom: 0;
}

.index-block.column-3third + .index-block.column-3third {
  margin-top: 10px;
}

#contents-body .nav-global-group {
  margin: 20px 0 0;
}
#contents-body .nav-global-group a {
  background-image: url(/corp/set/common/p/img/btn-nav-group-02.png);
}
#contents-body .nav-global-group.items-05 li {
  width: 142px;
}
#contents-body .nav-global-group.items-05 .group-top a {
  background-position: 0 0;
}
#contents-body .nav-global-group.items-05 .group-top a:hover, #contents-body .nav-global-group.items-05 .group-top a:focus, #contents-body .nav-global-group.items-05 .group-top a.active {
  background-position: 0 -40px;
}
#contents-body .nav-global-group.items-05 .group-news a {
  background-position: -142px 0;
}
#contents-body .nav-global-group.items-05 .group-news a:hover, #contents-body .nav-global-group.items-05 .group-news a:focus, #contents-body .nav-global-group.items-05 .group-news a.active {
  background-position: -142px -40px;
}
#contents-body .nav-global-group.items-05 .group-about a {
  background-position: -284px 0;
}
#contents-body .nav-global-group.items-05 .group-about a:hover, #contents-body .nav-global-group.items-05 .group-about a:focus, #contents-body .nav-global-group.items-05 .group-about a.active {
  background-position: -284px -40px;
}
#contents-body .nav-global-group.items-05 .group-published a {
  background-position: -426px 0;
}
#contents-body .nav-global-group.items-05 .group-published a:hover, #contents-body .nav-global-group.items-05 .group-published a:focus, #contents-body .nav-global-group.items-05 .group-published a.active {
  background-position: -426px -40px;
}
#contents-body .nav-global-group.items-05 .group-csr a {
  background-position: -568px 0;
}
#contents-body .nav-global-group.items-05 .group-csr a:hover, #contents-body .nav-global-group.items-05 .group-csr a:focus, #contents-body .nav-global-group.items-05 .group-csr a.active {
  background-position: -568px -40px;
}
#contents-body .nav-global-group.items-05-en li {
  width: 236px;
}
#contents-body .nav-global-group.items-05-en .group-top {
  width: 236px;
}
#contents-body .nav-global-group.items-05-en .group-top a {
  background-position: 0 -160px;
}
#contents-body .nav-global-group.items-05-en .group-top a:hover, #contents-body .nav-global-group.items-05-en .group-top a:focus, #contents-body .nav-global-group.items-05-en .group-top a.active {
  background-position: 0 -200px;
}
#contents-body .nav-global-group.items-05-en .group-news {
  width: 101px;
}
#contents-body .nav-global-group.items-05-en .group-news a {
  background-position: -236px -160px;
}
#contents-body .nav-global-group.items-05-en .group-news a:hover, #contents-body .nav-global-group.items-05-en .group-news a:focus, #contents-body .nav-global-group.items-05-en .group-news a.active {
  background-position: -236px -200px;
}
#contents-body .nav-global-group.items-05-en .group-about {
  width: 101px;
}
#contents-body .nav-global-group.items-05-en .group-about a {
  background-position: -337px -160px;
}
#contents-body .nav-global-group.items-05-en .group-about a:hover, #contents-body .nav-global-group.items-05-en .group-about a:focus, #contents-body .nav-global-group.items-05-en .group-about a.active {
  background-position: -337px -200px;
}
#contents-body .nav-global-group.items-05-en .group-published {
  width: 171px;
}
#contents-body .nav-global-group.items-05-en .group-published a {
  background-position: -438px -160px;
}
#contents-body .nav-global-group.items-05-en .group-published a:hover, #contents-body .nav-global-group.items-05-en .group-published a:focus, #contents-body .nav-global-group.items-05-en .group-published a.active {
  background-position: -438px -200px;
}
#contents-body .nav-global-group.items-05-en .group-csr {
  width: 101px;
}
#contents-body .nav-global-group.items-05-en .group-csr a {
  background-position: -609px -160px;
}
#contents-body .nav-global-group.items-05-en .group-csr a:hover, #contents-body .nav-global-group.items-05-en .group-csr a:focus, #contents-body .nav-global-group.items-05-en .group-csr a.active {
  background-position: -609px -200px;
}
#contents-body .nav-global-group.items-04 li {
  width: 178px;
}
#contents-body .nav-global-group.items-04 .group-top a {
  background-position: 0 -80px;
}
#contents-body .nav-global-group.items-04 .group-top a:hover, #contents-body .nav-global-group.items-04 .group-top a:focus, #contents-body .nav-global-group.items-04 .group-top a.active {
  background-position: 0 -120px;
}
#contents-body .nav-global-group.items-04 .group-news {
  width: 174px;
}
#contents-body .nav-global-group.items-04 .group-news a {
  background-position: -178px -80px;
}
#contents-body .nav-global-group.items-04 .group-news a:hover, #contents-body .nav-global-group.items-04 .group-news a:focus, #contents-body .nav-global-group.items-04 .group-news a.active {
  background-position: -178px -120px;
}
#contents-body .nav-global-group.items-04 .group-about {
  width: 179px;
}
#contents-body .nav-global-group.items-04 .group-about a {
  background-position: -352px -80px;
}
#contents-body .nav-global-group.items-04 .group-about a:hover, #contents-body .nav-global-group.items-04 .group-about a:focus, #contents-body .nav-global-group.items-04 .group-about a.active {
  background-position: -352px -120px;
}
#contents-body .nav-global-group.items-04 .group-csr {
  width: 179px;
}
#contents-body .nav-global-group.items-04 .group-csr a {
  background-position: -531px -80px;
}
#contents-body .nav-global-group.items-04 .group-csr a:hover, #contents-body .nav-global-group.items-04 .group-csr a:focus, #contents-body .nav-global-group.items-04 .group-csr a.active {
  background-position: -531px -120px;
}
#contents-body .nav-global-group.items-04-en li {
  width: 211px;
}
#contents-body .nav-global-group.items-04-en .group-top {
  width: 211px;
}
#contents-body .nav-global-group.items-04-en .group-top a {
  background-position: 0 -240px;
}
#contents-body .nav-global-group.items-04-en .group-top a:hover, #contents-body .nav-global-group.items-04-en .group-top a:focus, #contents-body .nav-global-group.items-04-en .group-top a.active {
  background-position: 0 -280px;
}
#contents-body .nav-global-group.items-04-en .group-news {
  width: 141px;
}
#contents-body .nav-global-group.items-04-en .group-news a {
  background-position: -211px -240px;
}
#contents-body .nav-global-group.items-04-en .group-news a:hover, #contents-body .nav-global-group.items-04-en .group-news a:focus, #contents-body .nav-global-group.items-04-en .group-news a.active {
  background-position: -211px -280px;
}
#contents-body .nav-global-group.items-04-en .group-about {
  width: 179px;
}
#contents-body .nav-global-group.items-04-en .group-about a {
  background-position: -352px -240px;
}
#contents-body .nav-global-group.items-04-en .group-about a:hover, #contents-body .nav-global-group.items-04-en .group-about a:focus, #contents-body .nav-global-group.items-04-en .group-about a.active {
  background-position: -352px -280px;
}
#contents-body .nav-global-group.items-04-en .group-csr {
  width: 179px;
}
#contents-body .nav-global-group.items-04-en .group-csr a {
  background-position: -531px -240px;
}
#contents-body .nav-global-group.items-04-en .group-csr a:hover, #contents-body .nav-global-group.items-04-en .group-csr a:focus, #contents-body .nav-global-group.items-04-en .group-csr a.active {
  background-position: -531px -280px;
}
#contents-body .nav-global-group.items-03 li {
  width: 237px;
}
#contents-body .nav-global-group.items-03 .group-top a {
  background-position: 0 -320px;
}
#contents-body .nav-global-group.items-03 .group-top a:hover, #contents-body .nav-global-group.items-03 .group-top a:focus, #contents-body .nav-global-group.items-03 .group-top a.active {
  background-position: 0 -360px;
}
#contents-body .nav-global-group.items-03 .group-news {
  width: 236px;
}
#contents-body .nav-global-group.items-03 .group-news a {
  background-position: -237px -320px;
}
#contents-body .nav-global-group.items-03 .group-news a:hover, #contents-body .nav-global-group.items-03 .group-news a:focus, #contents-body .nav-global-group.items-03 .group-news a.active {
  background-position: -237px -360px;
}
#contents-body .nav-global-group.items-03 .group-about a {
  background-position: -473px -320px;
}
#contents-body .nav-global-group.items-03 .group-about a:hover, #contents-body .nav-global-group.items-03 .group-about a:focus, #contents-body .nav-global-group.items-03 .group-about a.active {
  background-position: -473px -360px;
}
#contents-body .nav-global-group.items-03-en li {
  width: 237px;
}
#contents-body .nav-global-group.items-03-en .group-top a {
  background-position: 0 -400px;
}
#contents-body .nav-global-group.items-03-en .group-top a:hover, #contents-body .nav-global-group.items-03-en .group-top a:focus, #contents-body .nav-global-group.items-03-en .group-top a.active {
  background-position: 0 -440px;
}
#contents-body .nav-global-group.items-03-en .group-news {
  width: 236px;
}
#contents-body .nav-global-group.items-03-en .group-news a {
  background-position: -237px -400px;
}
#contents-body .nav-global-group.items-03-en .group-news a:hover, #contents-body .nav-global-group.items-03-en .group-news a:focus, #contents-body .nav-global-group.items-03-en .group-news a.active {
  background-position: -237px -440px;
}
#contents-body .nav-global-group.items-03-en .group-about a {
  background-position: -473px -400px;
}
#contents-body .nav-global-group.items-03-en .group-about a:hover, #contents-body .nav-global-group.items-03-en .group-about a:focus, #contents-body .nav-global-group.items-03-en .group-about a.active {
  background-position: -473px -440px;
}
