@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  line-height: 1.4;
  color: #333333;
  font-size: 87.5%;
}

[lang="en"],
[lang="en"] body {
  font-family: Helvetica, Arial, sans-serif;
}

[lang="zh"],
[lang="zh"] body {
  font-family: SimSun, Helvetica, Arial, sans-serif;
}

pre {
  font-family: "MS Gothic", "ＭＳ ゴシック", "Osaka-等幅", serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, ul, ol, li {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

p {
  margin: 0 0 12px 0;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a:link {
  color: #006699;
  text-decoration: none;
}
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #006699;
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

/* ----------------------------------------------------------------
    Common
----------------------------------------------------------------- */
.bold {
  font-weight: bold !important;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.right {
  text-align: right !important;
}

img.left {
  float: left;
  margin: 0 12px 5px 0;
}

img.right {
  float: right;
  margin: 0 0 5px 12px;
}

.top {
  vertical-align: top !important;
}

.middle {
  vertical-align: middle !important;
}

.bottom {
  vertical-align: bottom !important;
}

.analyzer {
  *display: none;
}

.clear {
  clear: both;
}

img.pdficon,
img.wmvicon,
img.xlsicon,
img.flipicon,
img.rssicon,
img.zipicon,
img.mailicon,
img.newwindowicon,
img.videoicon,
img.icon-new {
  vertical-align: middle;
  font-size: 10px;
  margin: 0 5px 2px !important;
}

img.mailicon {
  *position: relative;
  *top: 2px;
}

img.newwindowicon {
  *position: relative;
  *top: 1px;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
  *display: inline !important;
}

.line-reset-top {
  border-top: none !important;
}

.line-reset-bottom {
  border-bottom: none !important;
}

.line-dot-top {
  border-top: 1px dotted #d8dadc !important;
}

.line-dot-bottom {
  border-bottom: 1px dotted #d8dadc !important;
}

.line-solid-top {
  border-top: 1px solid #d8dadc !important;
}

.line-solid-bottom {
  border-bottom: 1px solid #d8dadc !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-50 {
  width: 50% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-75 {
  width: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-100 {
  width: 100% !important;
}

.p-top-0 {
  padding-top: 0px !important;
}

.p-right-0 {
  padding-right: 0px !important;
}

.p-bottom-0 {
  padding-bottom: 0px !important;
}

.p-left-0 {
  padding-left: 0px !important;
}

.m-top-0 {
  margin-top: 0px !important;
}

.m-right-0 {
  margin-right: 0px !important;
}

.m-bottom-0 {
  margin-bottom: 0px !important;
}

.m-left-0 {
  margin-left: 0px !important;
}

.p-top-5 {
  padding-top: 5px !important;
}

.p-right-5 {
  padding-right: 5px !important;
}

.p-bottom-5 {
  padding-bottom: 5px !important;
}

.p-left-5 {
  padding-left: 5px !important;
}

.m-top-5 {
  margin-top: 5px !important;
}

.m-right-5 {
  margin-right: 5px !important;
}

.m-bottom-5 {
  margin-bottom: 5px !important;
}

.m-left-5 {
  margin-left: 5px !important;
}

.p-top-10 {
  padding-top: 10px !important;
}

.p-right-10 {
  padding-right: 10px !important;
}

.p-bottom-10 {
  padding-bottom: 10px !important;
}

.p-left-10 {
  padding-left: 10px !important;
}

.m-top-10 {
  margin-top: 10px !important;
}

.m-right-10 {
  margin-right: 10px !important;
}

.m-bottom-10 {
  margin-bottom: 10px !important;
}

.m-left-10 {
  margin-left: 10px !important;
}

.p-top-15 {
  padding-top: 15px !important;
}

.p-right-15 {
  padding-right: 15px !important;
}

.p-bottom-15 {
  padding-bottom: 15px !important;
}

.p-left-15 {
  padding-left: 15px !important;
}

.m-top-15 {
  margin-top: 15px !important;
}

.m-right-15 {
  margin-right: 15px !important;
}

.m-bottom-15 {
  margin-bottom: 15px !important;
}

.m-left-15 {
  margin-left: 15px !important;
}

.p-top-20 {
  padding-top: 20px !important;
}

.p-right-20 {
  padding-right: 20px !important;
}

.p-bottom-20 {
  padding-bottom: 20px !important;
}

.p-left-20 {
  padding-left: 20px !important;
}

.m-top-20 {
  margin-top: 20px !important;
}

.m-right-20 {
  margin-right: 20px !important;
}

.m-bottom-20 {
  margin-bottom: 20px !important;
}

.m-left-20 {
  margin-left: 20px !important;
}

.p-top-25 {
  padding-top: 25px !important;
}

.p-right-25 {
  padding-right: 25px !important;
}

.p-bottom-25 {
  padding-bottom: 25px !important;
}

.p-left-25 {
  padding-left: 25px !important;
}

.m-top-25 {
  margin-top: 25px !important;
}

.m-right-25 {
  margin-right: 25px !important;
}

.m-bottom-25 {
  margin-bottom: 25px !important;
}

.m-left-25 {
  margin-left: 25px !important;
}

.p-top-30 {
  padding-top: 30px !important;
}

.p-right-30 {
  padding-right: 30px !important;
}

.p-bottom-30 {
  padding-bottom: 30px !important;
}

.p-left-30 {
  padding-left: 30px !important;
}

.m-top-30 {
  margin-top: 30px !important;
}

.m-right-30 {
  margin-right: 30px !important;
}

.m-bottom-30 {
  margin-bottom: 30px !important;
}

.m-left-30 {
  margin-left: 30px !important;
}

.p-top-35 {
  padding-top: 35px !important;
}

.p-right-35 {
  padding-right: 35px !important;
}

.p-bottom-35 {
  padding-bottom: 35px !important;
}

.p-left-35 {
  padding-left: 35px !important;
}

.m-top-35 {
  margin-top: 35px !important;
}

.m-right-35 {
  margin-right: 35px !important;
}

.m-bottom-35 {
  margin-bottom: 35px !important;
}

.m-left-35 {
  margin-left: 35px !important;
}

.p-top-40 {
  padding-top: 40px !important;
}

.p-right-40 {
  padding-right: 40px !important;
}

.p-bottom-40 {
  padding-bottom: 40px !important;
}

.p-left-40 {
  padding-left: 40px !important;
}

.m-top-40 {
  margin-top: 40px !important;
}

.m-right-40 {
  margin-right: 40px !important;
}

.m-bottom-40 {
  margin-bottom: 40px !important;
}

.m-left-40 {
  margin-left: 40px !important;
}

.m-left-12 {
  margin-left: 12px !important;
}

/*float打ち消し用調整クラス*/
.float-none {
  float: none !important;
}

/*訪問済みリンク色打ち消し用調整クラス*/
.visited-color-none:visited,
.visited-color-none a:visited {
  color: #006699 !important;
}

.height-unequolizer {
  height: auto !important;
}

.header-inner, .nav-global, #topicpath-area, #contents-area, .footer-inner, .nav-site-container, .header-list-utility-02, .adjust-font-size, .adjust-font-size dd, #bizsearchAspForm, .nav-global-group, .topicpath, .footer-links .hdg-container, .footer-list-bnr, .footer-list-category-top, .footer-list-utility, #footer-topicpath-area {
  zoom: 1;
}
.header-inner:after, .nav-global:after, #topicpath-area:after, #contents-area:after, .footer-inner:after, .nav-site-container:after, .header-list-utility-02:after, .adjust-font-size:after, .adjust-font-size dd:after, #bizsearchAspForm:after, .nav-global-group:after, .topicpath:after, .footer-links .hdg-container:after, .footer-list-bnr:after, .footer-list-category-top:after, .footer-list-utility:after, #footer-topicpath-area:after {
  display: block;
  clear: both;
  content: "";
}

.header-inner, .nav-global, #topicpath-area, #contents-area, .footer-inner, .lang-container, .adjust-font-size, .site-search, #bizsearchAspForm, .footer-links {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----------------------------------------------------------------
    Layout
----------------------------------------------------------------- */
header.header, .nav-global-container, #body, footer.footer {
  margin: 0 auto;
  text-align: center;
  min-width: 990px;
}

.header-inner, .nav-global, #topicpath-area, #contents-area, .footer-inner {
  margin: 0 auto;
  width: 990px;
  text-align: left;
}

#contents-body {
  width: 710px;
  float: right;
  display: inline;
  margin-right: 20px;
}

#local-nav-area {
  width: 210px;
  float: left;
  display: inline;
  margin-left: 20px;
}

/* ----------------------------------------------------------------
    Header
----------------------------------------------------------------- */
header.header {
  margin-bottom: 0;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid #d8dadc;
  background: url(/site/set/common/p/img/bg-header.png) 50% 38px no-repeat white;
}
header.header .hdg {
  margin: 0 30px 0 20px;
  padding: 56px 0 0;
  font-weight: normal;
  font-size: 14px;
  border: 0;
}

header.header.oversized {
  background: none #fff;
  height: 117px;
}
header.header.oversized .header-inner {
  height: 1px;
}

#top header.header.oversized {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.header-inner {
  position: relative;
}

header.header .logo {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 122px;
  height: 18px;
  font-size: 12px;
}

.logo-sb {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 122px;
  height: 18px;
  background-color: #b9babb;
  background-image: -webkit-linear-gradient(-60deg, #b9babb 20%, white 25%, whitesmoke 28%, #838486 40%, #9fa1a2 45%, #b9babb 60%);
  background-image: linear, -210deg, #b9babb 20%, white 25%, whitesmoke 28%, #838486 40%, #9fa1a2 45%, #b9babb 60%;
  background-position: -160% 0;
  background-size: 110% 110%;
  font-size: 10px;
  overflow: hidden;
}
.logo-sb a {
  position: relative;
  display: block;
  background-image: -webkit-linear-gradient(-60deg, rgba(185, 186, 187, 0) 20%, rgba(255, 255, 255, 0) 25%, rgba(245, 245, 245, 0) 28%, rgba(131, 132, 134, 0) 40%, rgba(159, 161, 162, 0) 45%, rgba(185, 186, 187, 0) 60%);
  background-image: linear, -60deg, rgba(185, 186, 187, 0) 20%, rgba(255, 255, 255, 0) 25%, rgba(245, 245, 245, 0) 28%, rgba(131, 132, 134, 0) 40%, rgba(159, 161, 162, 0) 45%, rgba(185, 186, 187, 0) 60%;
  background-position: 700% 0;
  background-size: 110% 110%;
  height: 18px;
}
.logo-sb a:hover, .logo-sb a:active, .logo-sb a:focus {
  text-decoration: none;
}
.logo-sb .sp1, .logo-sb .sp2 {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0;
  z-index: 2;
  display: block;
  background: #fff;
  content: "";
  font-size: 0;
}
.logo-sb .sp1 {
  top: 35%;
  width: 20%;
  height: 33.33333%;
  min-height: 5.99994px;
}
.logo-sb .sp2 {
  bottom: 0;
  left: 20%;
  width: 5.738%;
  height: 100%;
}
.logo-sb img {
  margin-left: 25.4545%;
  width: 92px;
  height: 18px;
  border: 0;
  background-color: #fff;
  vertical-align: top;
  font-size: 1px;
}

.logo-sb#logo {
  background-color: #fff;
  background-image: none;
}
.logo-sb#logo .sp1, .logo-sb#logo .sp2 {
  background-color: #b9babb;
  width: 20%;
  height: 6px;
}
.logo-sb#logo .sp1 {
  top: 0;
}
.logo-sb#logo .sp2 {
  bottom: 0;
  left: 0;
}

#logo-sb {
  -webkit-animation: logo-sb 3.2s 1 cubic-bezier(0, 1, 0.275, 1);
  animation: logo-sb 3.2s 1 cubic-bezier(0, 1, 0.275, 1);
}
#logo-sb a:hover {
  -webkit-animation: o 1.8s 1 cubic-bezier(0.42, 0.315, 0, 1);
  animation: o 1.8s 1 cubic-bezier(0.42, 0.315, 0, 1);
  background-image: -webkit-linear-gradient(-60deg, #b9babb 20%, white 25%, whitesmoke 28%, #838486 40%, #9fa1a2 45%, #b9babb 60%);
  background-image: linear, -210deg, #b9babb 20%, white 25%, whitesmoke 28%, #838486 40%, #9fa1a2 45%, #b9babb 60%;
}

@-webkit-keyframes logo-sb {
  0%, 10% {
    background-position: 240% 0;
  }

  100% {
    background-position: -160% 0;
  }
}

@keyframes logo-sb {
  0%, 10% {
    background-position: 240% 0;
  }

  100% {
    background-position: -160% 0;
  }
}

@-webkit-keyframes o {
  0% {
    background-position: 700% 0;
  }

  100% {
    background-position: -160% 0;
  }
}

@keyframes o {
  0% {
    background-position: 700% 0;
  }

  100% {
    background-position: -160% 0;
  }
}

header.oversized .logo, header.oversized .logo-sb {
  top: 25px;
  width: 182px;
  height: 27px;
}
header.oversized .logo-sb a {
  height: 27px;
}
header.oversized .logo-sb img {
  width: 136px;
  height: 27px;
}
header.oversized .adjust-font-size, header.oversized .lang-container, header.oversized .site-search {
  top: 30px;
}

.logo-group {
  position: absolute;
  top: 14px;
  right: 20px;
  font-size: 12px;
  font-weight: bold;
}
.logo-group img {
  vertical-align: top;
}

.nav-site-container {
  position: absolute;
  top: 0;
  left: 180px;
  font-weight: bold;
  line-height: 1.2;
}

.nav-site {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-site li {
  margin: 0;
  float: left;
  position: relative;
  z-index: 3;
}
.nav-site a {
  display: block;
  height: 38px;
  text-decoration: none;
  background: url(/site/set/common/p/img/btn-nav-site.png) 0 0 no-repeat;
  overflow: hidden;
}
.nav-site a:hover, .nav-site a:active, .nav-site a:focus {
  text-decoration: none;
}
.nav-site span {
  position: relative;
  z-index: -1;
}
.nav-site .home a {
  width: 58px;
}
.nav-site .home a:hover, .nav-site .home a:focus {
  background-position: 0 -38px;
}
.nav-site .home a.active, .nav-site .home a.active:hover {
  background-position: 0 -76px;
}
.nav-site .mobile a {
  width: 71px;
  background-position: -58px 0;
}
.nav-site .mobile a:hover, .nav-site .mobile a:focus {
  background-position: -58px -38px;
}
.nav-site .mobile a.active, .nav-site .mobile a.active:hover {
  background-position: -58px -76px;
}
.nav-site .ybb a {
  width: 108px;
  background-position: -129px 0;
}
.nav-site .ybb a:hover, .nav-site .ybb a:focus {
  background-position: -129px -38px;
}
.nav-site .ybb a.active, .nav-site .ybb a.active:hover {
  background-position: -129px -76px;
}
.nav-site .lifestyle a {
  width: 109px;
  background-position: -237px 0;
}
.nav-site .lifestyle a:hover, .nav-site .lifestyle a:focus {
  background-position: -237px -38px;
}
.nav-site .lifestyle a.active, .nav-site .lifestyle a.active:hover {
  background-position: -237px -76px;
}
.nav-site .shop a {
  width: 68px;
  background-position: -346px 0;
}
.nav-site .shop a:hover, .nav-site .shop a:focus {
  background-position: -346px -38px;
}
.nav-site .shop a.active, .nav-site .shop a.active:hover {
  background-position: -346px -76px;
}
.nav-site .support a {
  width: 71px;
  background-position: -414px 0;
}
.nav-site .support a:hover, .nav-site .support a:focus {
  background-position: -414px -38px;
}
.nav-site .support a.active, .nav-site .support a.active:hover {
  background-position: -414px -76px;
}
.nav-site .corp a {
  width: 71px;
  background-position: -485px 0;
}
.nav-site .corp a:hover, .nav-site .corp a:focus {
  background-position: -485px -38px;
}
.nav-site .corp a.active, .nav-site .corp a.active:hover {
  background-position: -485px -76px;
}

.site-en .home a {
  width: 56px;
  background-position: 0 -114px;
}
.site-en .home a:hover, .site-en .home a:focus {
  background-position: 0 -152px;
}
.site-en .home a.active, .site-en .home a.active:hover {
  background-position: 0 -190px;
}
.site-en .mobile a {
  width: 62px;
  background-position: -56px -114px;
}
.site-en .mobile a:hover, .site-en .mobile a:focus {
  background-position: -56px -152px;
}
.site-en .mobile a.active, .site-en .mobile a.active:hover {
  background-position: -56px -190px;
}
.site-en .ybb a {
  width: 71px;
  background-position: -118px -114px;
}
.site-en .ybb a:hover, .site-en .ybb a:focus {
  background-position: -118px -152px;
}
.site-en .ybb a.active, .site-en .ybb a.active:hover {
  background-position: -118px -190px;
}
.site-en .lifestyle a {
  width: 72px;
  background-position: -189px -114px;
}
.site-en .lifestyle a:hover, .site-en .lifestyle a:focus {
  background-position: -189px -152px;
}
.site-en .lifestyle a.active, .site-en .lifestyle a.active:hover {
  background-position: -189px -190px;
}
.site-en .shop a {
  width: 50px;
  background-position: -261px -114px;
}
.site-en .shop a:hover, .site-en .shop a:focus {
  background-position: -261px -152px;
}
.site-en .shop a.active, .site-en .shop a.active:hover {
  background-position: -261px -190px;
}
.site-en .support a {
  width: 70px;
  background-position: -311px -114px;
}
.site-en .support a:hover, .site-en .support a:focus {
  background-position: -311px -152px;
}
.site-en .support a.active, .site-en .support a.active:hover {
  background-position: -311px -190px;
}
.site-en .corp a {
  width: 76px;
  background-position: -381px -114px;
}
.site-en .corp a:hover, .site-en .corp a:focus {
  background-position: -381px -152px;
}
.site-en .corp a.active, .site-en .corp a.active:hover {
  background-position: -381px -190px;
}

.lang-container, .adjust-font-size, .site-search {
  position: absolute;
  border: 1px solid #d8dadc;
  padding: 4px;
}

.header-list-utility-01 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 15px;
  left: auto;
  right: 140px;
  font-size: 10px;
}
.header-list-utility-01 li {
  margin: 0;
}
.header-list-utility-01 a {
  color: #333333;
  text-decoration: none;
}
.header-list-utility-01 a:hover, .header-list-utility-01 a:active {
  text-decoration: underline;
}
.header-list-utility-01 img {
  vertical-align: top;
}

[lang="en"] .header-list-utility-01 {
  right: 128px;
}

.header-list-utility-02 {
  position: absolute;
  top: 61px;
  right: 443px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}
.header-list-utility-02 li {
  float: left;
  display: inline;
  margin: 0;
  padding: 0 10px;
  border-left: 1px solid #d8dadc;
}
.header-list-utility-02 li:first-child {
  border: none;
}
.header-list-utility-02 a {
  display: block;
  color: #333333;
  text-decoration: none;
}
.header-list-utility-02 a:hover, .header-list-utility-02 a:active {
  text-decoration: underline;
}
.header-list-utility-02.mobile-utility, .header-list-utility-02.ybb-utility {
  right: 306px;
}

.lang-container {
  top: 54px;
  right: 209px;
  width: 87px;
  height: 32px;
}

#lang {
  position: relative;
}
#lang span {
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 11px;
}
#lang .list-lang {
  z-index: 10;
  position: absolute;
  top: 27px;
  left: -4px;
  box-shadow: 0 1px 2px #d8dadc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 75px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #fff;
  font-size: 12px;
  padding: 0 5px 5px;
  display: none;
}
#lang .list-lang li {
  margin: 0;
  padding: 0;
  border-top: 1px dotted #d8dadc;
}
#lang .list-lang li:first-child {
  border-top: 0;
}
#lang .list-lang a {
  display: block;
  padding: 0.3em 5px 0.3em;
}
#lang .list-lang a:hover {
  background-color: #f4f5f6;
}

.lang-select {
  width: 82px;
}

.lang-btn {
  font-size: 10px;
  border-radius: 3px;
  border: 1px solid #d8dadc;
  background-color: #fff;
  padding: 2px 5px;
}
.lang-btn:hover {
  background-color: #d8dadc;
}

.adjust-font-size {
  top: 54px;
  right: 295px;
  margin: 0;
  padding: 4px;
  width: 138px;
}
.adjust-font-size dt, .adjust-font-size dd {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 10px;
  display: block;
  list-style-type: none;
}
.adjust-font-size dt {
  margin: 2px 0 0 !important;
}
.adjust-font-size ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.adjust-font-size li {
  float: left;
  margin: 0 0 0 4px;
  padding: 0;
  width: 22px;
  height: 22px;
  text-align: center;
}
.adjust-font-size a {
  display: block;
  background: url(/site/set/common/p/img/sprite-icon.png) -32px 50% no-repeat;
  color: #333333;
  text-decoration: none;
}
.adjust-font-size a:hover {
  background-position: -56px 50%;
  text-decoration: none;
}
.adjust-font-size a.active {
  background-position: -56px 50%;
}
.adjust-font-size.no-language{
  right:209px;
}

.static span.lang-selected, .static .list-lang {
  display: none;
}

.site-search {
  top: 54px;
  right: 20px;
  height: 32px;
  z-index: 101;
}

#bizsearchAspForm {
  width: 180px;
  border: 1px solid #e3e4e5;
  background-color: #fff;
  box-shadow: 0 0 1px #e3e4e5 inset;
  height: 22px;
  position: relative;
}
#bizsearchAspForm #bizsearchAspQuery {
  float: left;
  display: inline;
  margin: 1px 0 1px 1px;
  padding: 0 0 0 3px;
  width: 153px;
  height: 18px;
  border: 0;
  font-size: 12px;
  background-color: #fff !important;
}
#bizsearchAspForm .btn-search {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border: 0;
  border-left: 1px solid #e3e4e5;
  color: #f4f5f6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: bottom;
}
#bizsearchAspForm .btn-search:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(/site/set/common/p/img/sprite-icon.png) -106px 50% no-repeat #656565;
  position: absolute;
  top: 0;
  left: 0;
}
#bizsearchAspForm .btn-search:hover:before, #bizsearchAspForm .btn-search:focus:before {
  background-position: -128px 50%;
}
#bizsearchAspForm #bizasarchAspSuggest {
  position: static !important;
  z-index: 5;
  display: none;
  margin: 0 -1px;
  padding: 21px 0 0 0;
  width: 160px !important;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
#bizsearchAspForm #bizasarchAspSuggest li {
  margin: 0;
  padding: .5em 10px;
  width: auto !important;
  height: auto;
  border: 1px solid #d8dadc;
  border-top: 1px dotted #d8dadc;
  border-top: none;
  background: none #fff;
  list-style-type: none;
  cursor: pointer;
}
#bizsearchAspForm #bizasarchAspSuggest li:hover {
  background-color: #f4f5f6;
}
#bizsearchAspForm #bizasarchAspSuggest li:last-child {
  border-radius: 0 0 3px 3px;
}

.header-group {
  margin: 0 auto;
  width: 950px;
}

/* ----------------------------------------------------------------
    Navigation
----------------------------------------------------------------- */
.nav-global-container {
  margin: 18px 0 0;
  border-top: 1px solid #d8dadc;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZiIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY1ZjYiIC8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f5f6));
  background-image: -webkit-linear-gradient(top, white, #f4f5f6);
  background-image: linear-gradient(to bottom,white, #f4f5f6);
  position: relative;
  z-index: 1;
}

[lang="en"] .nav-global-container {
  margin-top: 10px;
}

.oversized .nav-global-container {
  margin: 77px 0 0;
}

.nav-global {
  margin: 0 auto;
  width: 950px;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  font-size: 85.71%;
}
.nav-global li {
  margin: 0;
  float: left;
  position: relative;
  z-index: 3;
}
.nav-global li:last-child ul {
  left: auto;
  right: 0;
}
.nav-global li.open ul {
  display: block !important;
}
.nav-global a {
  display: block;
  text-decoration: none;
  width: 132px;
  height: 38px;
  background: url(/site/set/common/p/img/btn-nav-global.png) 0 0 no-repeat;
}
.nav-global a:hover, .nav-global a:active, .nav-global a:focus {
  text-decoration: none;
}
.nav-global span {
  position: relative;
  z-index: -1;
}

.nav-categories {
  display: none;
  position: absolute;
  font-size: 12px;
  top: 39px;
  left: 0;
  margin: 0;
  padding: 0 5px 5px;
  width: 215px;
  list-style-type: none;
  border: 1px solid #d8dadc;
  border-top: none;
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  z-index: 9;
  font-weight: normal;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.nav-categories li {
  margin: 0;
  padding: 0;
  width: auto;
  float: none;
  text-align: left;
  _line-height: 0;
}
.nav-categories li:first-child a {
  border-top: none;
}
.nav-categories a {
  border-top: 1px dotted #d8dadc;
  width: auto !important;
  height: auto;
  padding: .5em 10px;
  background-image: none;
  white-space: nowrap;
  _line-height: normal;
}
.nav-categories a:hover, .nav-categories a:active, .nav-categories a:focus, .nav-categories a.active {
  background-color: #f4f5f6;
  text-decoration: underline;
}

* html .nav-categories li {
  line-height: 0;
}
* html .nav-categories a {
  line-height: normal;
}

.nav-top-01 a {
  width: 136px;
  background-position: 0 0;
}
.nav-top-01 a:hover, .nav-top-01 a:active, .nav-top-01 a.active {
  background-position: 0 -38px;
}

.nav-top-02 a {
  width: 135px;
  background-position: -136px 0;
}
.nav-top-02 a:hover, .nav-top-02 a:active, .nav-top-02 a.active {
  background-position: -136px -38px;
}

.nav-top-03 a {
  width: 136px;
  background-position: -271px 0;
}
.nav-top-03 a:hover, .nav-top-03 a:active, .nav-top-03 a.active {
  background-position: -271px -38px;
}

.nav-top-04 a {
  width: 135px;
  background-position: -407px 0;
}
.nav-top-04 a:hover, .nav-top-04 a:active, .nav-top-04 a.active {
  background-position: -407px -38px;
}

.nav-top-05 a {
  width: 136px;
  background-position: -542px 0;
}
.nav-top-05 a:hover, .nav-top-05 a:active, .nav-top-05 a.active {
  background-position: -542px -38px;
}

.nav-top-06 a {
  width: 135px;
  background-position: -678px 0;
}
.nav-top-06 a:hover, .nav-top-06 a:active, .nav-top-06 a.active {
  background-position: -678px -38px;
}

.nav-top-07 a {
  width: 137px;
  background-position: -813px 0;
}
.nav-top-07 a:hover, .nav-top-07 a:active, .nav-top-07 a.active {
  background-position: -813px -38px;
}

.nav-mobile-01 a {
  width: 135px;
  background-position: 0 -76px;
}
.nav-mobile-01 a:hover, .nav-mobile-01 a:active, .nav-mobile-01 a.active {
  background-position: 0 -114px;
}

.nav-mobile-02 a {
  width: 135px;
  background-position: -135px -76px;
}
.nav-mobile-02 a:hover, .nav-mobile-02 a:active, .nav-mobile-02 a.active {
  background-position: -135px -114px;
}

.nav-mobile-03 a {
  width: 135px;
  background-position: -270px -76px;
}
.nav-mobile-03 a:hover, .nav-mobile-03 a:active, .nav-mobile-03 a.active {
  background-position: -270px -114px;
}

.nav-mobile-04 a {
  width: 135px;
  background-position: -405px -76px;
}
.nav-mobile-04 a:hover, .nav-mobile-04 a:active, .nav-mobile-04 a.active {
  background-position: -405px -114px;
}

.nav-mobile-05 a {
  width: 135px;
  background-position: -540px -76px;
}
.nav-mobile-05 a:hover, .nav-mobile-05 a:active, .nav-mobile-05 a.active {
  background-position: -540px -114px;
}

.nav-mobile-06 a {
  width: 137px;
  background-position: -675px -76px;
}
.nav-mobile-06 a:hover, .nav-mobile-06 a:active, .nav-mobile-06 a.active {
  background-position: -675px -114px;
}

.nav-mobile-07 a {
  width: 138px;
  background-position: -812px -76px;
}
.nav-mobile-07 a:hover, .nav-mobile-07 a:active, .nav-mobile-07 a.active {
  background-position: -812px -114px;
}

.nav-ybb-01 a {
  width: 137px;
  background-position: 0 -152px;
}
.nav-ybb-01 a:hover, .nav-ybb-01 a:active, .nav-ybb-01 a.active {
  background-position: 0 -190px;
}

.nav-ybb-02 a {
  width: 136px;
  background-position: -137px -152px;
}
.nav-ybb-02 a:hover, .nav-ybb-02 a:active, .nav-ybb-02 a.active {
  background-position: -137px -190px;
}

.nav-ybb-03 a {
  width: 136px;
  background-position: -273px -152px;
}
.nav-ybb-03 a:hover, .nav-ybb-03 a:active, .nav-ybb-03 a.active {
  background-position: -273px -190px;
}

.nav-ybb-04 a {
  width: 136px;
  background-position: -409px -152px;
}
.nav-ybb-04 a:hover, .nav-ybb-04 a:active, .nav-ybb-04 a.active {
  background-position: -409px -190px;
}

.nav-ybb-05 a {
  width: 135px;
  background-position: -545px -152px;
}
.nav-ybb-05 a:hover, .nav-ybb-05 a:active, .nav-ybb-05 a.active {
  background-position: -545px -190px;
}

.nav-ybb-06 a {
  width: 135px;
  background-position: -680px -152px;
}
.nav-ybb-06 a:hover, .nav-ybb-06 a:active, .nav-ybb-06 a.active {
  background-position: -680px -190px;
}

.nav-ybb-07 a {
  width: 135px;
  background-position: -815px -152px;
}
.nav-ybb-07 a:hover, .nav-ybb-07 a:active, .nav-ybb-07 a.active {
  background-position: -815px -190px;
}

.nav-corp-01 a {
  background-position: -421px -228px;
}
.nav-corp-01 a:hover, .nav-corp-01 a:active, .nav-corp-01 a.active {
  background-position: -421px -266px;
}

.nav-corp-02 a {
  width: 157px;
  background-position: 0 -228px;
}
.nav-corp-02 a:hover, .nav-corp-02 a:active, .nav-corp-02 a.active {
  background-position: 0 -266px;
}

.nav-corp-03 a {
  background-position: -157px -228px;
}
.nav-corp-03 a:hover, .nav-corp-03 a:active, .nav-corp-03 a.active {
  background-position: -157px -266px;
}

.nav-corp-04 a {
  background-position: -289px -228px;
}
.nav-corp-04 a:hover, .nav-corp-04 a:active, .nav-corp-04 a.active {
  background-position: -289px -266px;
}

.nav-corp-05 a {
  background-position: -553px -228px;
}
.nav-corp-05 a:hover, .nav-corp-05 a:active, .nav-corp-05 a.active {
  background-position: -553px -266px;
}

.nav-corp-06 a {
  background-position: -685px -228px;
}
.nav-corp-06 a:hover, .nav-corp-06 a:active, .nav-corp-06 a.active {
  background-position: -685px -266px;
}

.nav-corp-07 a {
  width: 133px;
  background-position: -817px -228px;
}
.nav-corp-07 a:hover, .nav-corp-07 a:active, .nav-corp-07 a.active {
  background-position: -817px -266px;
}

.global-en .nav-top-01 a {
  width: 136px;
  background-position: 0 -304px;
}
.global-en .nav-top-01 a:hover, .global-en .nav-top-01 a:active, .global-en .nav-top-01 a.active {
  background-position: 0 -342px;
}

.global-en .nav-top-02 a {
  width: 135px;
  background-position: -136px -304px;
}
.global-en .nav-top-02 a:hover, .global-en .nav-top-02 a:active, .global-en .nav-top-02 a.active {
  background-position: -136px -342px;
}

.global-en .nav-top-03 a {
  width: 136px;
  background-position: -271px -304px;
}
.global-en .nav-top-03 a:hover, .global-en .nav-top-03 a:active, .global-en .nav-top-03 a.active {
  background-position: -271px -342px;
}

.global-en .nav-top-04 a {
  width: 135px;
  background-position: -407px -304px;
}
.global-en .nav-top-04 a:hover, .global-en .nav-top-04 a:active, .global-en .nav-top-04 a.active {
  background-position: -407px -342px;
}

.global-en .nav-top-05 a {
  width: 136px;
  background-position: -542px -304px;
}
.global-en .nav-top-05 a:hover, .global-en .nav-top-05 a:active, .global-en .nav-top-05 a.active {
  background-position: -542px -342px;
}

.global-en .nav-top-06 a {
  width: 135px;
  background-position: -678px -304px;
}
.global-en .nav-top-06 a:hover, .global-en .nav-top-06 a:active, .global-en .nav-top-06 a.active {
  background-position: -678px -342px;
}

.global-en .nav-top-07 a {
  width: 137px;
  background-position: -813px -304px;
}
.global-en .nav-top-07 a:hover, .global-en .nav-top-07 a:active, .global-en .nav-top-07 a.active {
  background-position: -813px -342px;
}

.global-en .nav-mobile-01 a {
  width: 158px;
  background-position: 0 -380px;
}
.global-en .nav-mobile-01 a:hover, .global-en .nav-mobile-01 a:active, .global-en .nav-mobile-01 a.active {
  background-position: 0 -418px;
}

.global-en .nav-mobile-02 a {
  width: 158px;
  background-position: -158px -380px;
}
.global-en .nav-mobile-02 a:hover, .global-en .nav-mobile-02 a:active, .global-en .nav-mobile-02 a.active {
  background-position: -158px -418px;
}

.global-en .nav-mobile-03 a {
  width: 158px;
  background-position: -316px -380px;
}
.global-en .nav-mobile-03 a:hover, .global-en .nav-mobile-03 a:active, .global-en .nav-mobile-03 a.active {
  background-position: -316px -418px;
}

.global-en .nav-mobile-04 a {
  width: 158px;
  background-position: -474px -380px;
}
.global-en .nav-mobile-04 a:hover, .global-en .nav-mobile-04 a:active, .global-en .nav-mobile-04 a.active {
  background-position: -474px -418px;
}

.global-en .nav-mobile-05 a {
  width: 158px;
  background-position: -632px -380px;
}
.global-en .nav-mobile-05 a:hover, .global-en .nav-mobile-05 a:active, .global-en .nav-mobile-05 a.active {
  background-position: -632px -418px;
}

.global-en .nav-mobile-06 a {
  width: 160px;
  background-position: -790px -380px;
}
.global-en .nav-mobile-06 a:hover, .global-en .nav-mobile-06 a:active, .global-en .nav-mobile-06 a.active {
  background-position: -790px -418px;
}

.global-en .nav-corp-01 a {
  width: 133px;
  background-position: 0 -456px;
}
.global-en .nav-corp-01 a:hover, .global-en .nav-corp-01 a:active, .global-en .nav-corp-01 a.active {
  background-position: 0 -494px;
}

.global-en .nav-corp-02 a {
  width: 157px;
  background-position: -134px -456px;
}
.global-en .nav-corp-02 a:hover, .global-en .nav-corp-02 a:active, .global-en .nav-corp-02 a.active {
  background-position: -134px -494px;
}

.global-en .nav-corp-03 a {
  width: 132px;
  background-position: -291px -456px;
}
.global-en .nav-corp-03 a:hover, .global-en .nav-corp-03 a:active, .global-en .nav-corp-03 a.active {
  background-position: -291px -494px;
}

.global-en .nav-corp-04 a {
  width: 132px;
  background-position: -422px -456px;
}
.global-en .nav-corp-04 a:hover, .global-en .nav-corp-04 a:active, .global-en .nav-corp-04 a.active {
  background-position: -422px -494px;
}

.global-en .nav-corp-05 a {
  width: 132px;
  background-position: -554px -456px;
}
.global-en .nav-corp-05 a:hover, .global-en .nav-corp-05 a:active, .global-en .nav-corp-05 a.active {
  background-position: -554px -494px;
}

.global-en .nav-corp-06 a {
  width: 132px;
  background-position: -686px -456px;
}
.global-en .nav-corp-06 a:hover, .global-en .nav-corp-06 a:active, .global-en .nav-corp-06 a.active {
  background-position: -686px -494px;
}

.global-en .nav-corp-07 a {
  width: 132px;
  background-position: -818px -456px;
}
.global-en .nav-corp-07 a:hover, .global-en .nav-corp-07 a:active, .global-en .nav-corp-07 a.active {
  background-position: -818px -494px;
}

/* nav-global-group
----------------------------------------------- */
.nav-global-group {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}
.nav-global-group li {
  margin: 0;
  padding: 0;
  float: left;
  text-align: center;
  font-size: 12px;
}
.nav-global-group a {
  display: block;
  text-decoration: none;
  height: 40px;
  background-image: url(/corp/set/common/p/img/btn-nav-group.png);
  background-repeat: no-repeat;
}
.nav-global-group a:hover, .nav-global-group a:active, .nav-global-group a:focus {
  text-decoration: none;
}
.nav-global-group span {
  position: relative;
  z-index: -1;
}
.nav-global-group.nav-sbm li, .nav-global-group.nav-sbm-en li {
  width: 190px;
}
.nav-global-group.nav-sbm a, .nav-global-group.nav-sbm-en a {
  width: 190px;
}
.nav-global-group.nav-sbb li, .nav-global-group.nav-sbb-en li {
  width: 237px;
}
.nav-global-group.nav-sbb li.group-sbb-news, .nav-global-group.nav-sbb li.group-sbb-csr, .nav-global-group.nav-sbb-en li.group-sbb-news, .nav-global-group.nav-sbb-en li.group-sbb-csr {
  width: 238px;
}
.nav-global-group.nav-sbb li.group-sbb-news a, .nav-global-group.nav-sbb li.group-sbb-csr a, .nav-global-group.nav-sbb-en li.group-sbb-news a, .nav-global-group.nav-sbb-en li.group-sbb-csr a {
  width: 238px;
}
.nav-global-group.nav-sbb a, .nav-global-group.nav-sbb-en a {
  width: 237px;
}
.nav-global-group.nav-sbtm li, .nav-global-group.nav-sbtm-en li {
  width: 237px;
}
.nav-global-group.nav-sbtm li.group-sbtm-news, .nav-global-group.nav-sbtm li.group-sbtm-csr, .nav-global-group.nav-sbtm-en li.group-sbtm-news, .nav-global-group.nav-sbtm-en li.group-sbtm-csr {
  width: 238px;
}
.nav-global-group.nav-sbtm li.group-sbtm-news a, .nav-global-group.nav-sbtm li.group-sbtm-csr a, .nav-global-group.nav-sbtm-en li.group-sbtm-news a, .nav-global-group.nav-sbtm-en li.group-sbtm-csr a {
  width: 238px;
}
.nav-global-group.nav-sbtm a, .nav-global-group.nav-sbtm-en a {
  width: 237px;
}

.group-sbm-top a {
  background-position: 0 0;
}
.group-sbm-top a:hover, .group-sbm-top a:active, .group-sbm-top a.active {
  background-position: 0 -40px;
}

.group-sbm-news a {
  background-position: -190px 0;
}
.group-sbm-news a:hover, .group-sbm-news a:active, .group-sbm-news a.active {
  background-position: -190px -40px;
}

.group-sbm-about a {
  background-position: -380px 0;
}
.group-sbm-about a:hover, .group-sbm-about a:active, .group-sbm-about a.active {
  background-position: -380px -40px;
}

.group-sbm-published a {
  background-position: -570px 0;
}
.group-sbm-published a:hover, .group-sbm-published a:active, .group-sbm-published a.active {
  background-position: -570px -40px;
}

.group-sbm-csr a {
  background-position: -760px 0;
}
.group-sbm-csr a:hover, .group-sbm-csr a:active, .group-sbm-csr a.active {
  background-position: -760px -40px;
}

.group-sbb-top a {
  background-position: 0 -80px;
}
.group-sbb-top a:hover, .group-sbb-top a:active, .group-sbb-top a.active {
  background-position: 0 -120px;
}

.group-sbb-news a {
  background-position: -237px -80px;
}
.group-sbb-news a:hover, .group-sbb-news a:active, .group-sbb-news a.active {
  background-position: -237px -120px;
}

.group-sbb-about a {
  background-position: -475px -80px;
}
.group-sbb-about a:hover, .group-sbb-about a:active, .group-sbb-about a.active {
  background-position: -475px -120px;
}

.group-sbb-csr a {
  background-position: -712px -80px;
}
.group-sbb-csr a:hover, .group-sbb-csr a:active, .group-sbb-csr a.active {
  background-position: -712px -120px;
}

.group-sbtm-top a {
  background-position: 0 -160px;
}
.group-sbtm-top a:hover, .group-sbtm-top a:active, .group-sbtm-top a.active {
  background-position: 0 -200px;
}

.group-sbtm-news a {
  background-position: -237px -160px;
}
.group-sbtm-news a:hover, .group-sbtm-news a:active, .group-sbtm-news a.active {
  background-position: -237px -200px;
}

.group-sbtm-about a {
  background-position: -475px -160px;
}
.group-sbtm-about a:hover, .group-sbtm-about a:active, .group-sbtm-about a.active {
  background-position: -475px -200px;
}

.group-sbtm-csr a {
  background-position: -712px -160px;
}
.group-sbtm-csr a:hover, .group-sbtm-csr a:active, .group-sbtm-csr a.active {
  background-position: -712px -200px;
}

.nav-sbm-en .group-sbm-top a {
  background-position: 0 -240px;
}
.nav-sbm-en .group-sbm-top a:hover, .nav-sbm-en .group-sbm-top a:active, .nav-sbm-en .group-sbm-top a.active {
  background-position: 0 -280px;
}

.nav-sbm-en .group-sbm-news a {
  background-position: -190px -240px;
}
.nav-sbm-en .group-sbm-news a:hover, .nav-sbm-en .group-sbm-news a:active, .nav-sbm-en .group-sbm-news a.active {
  background-position: -190px -280px;
}

.nav-sbm-en .group-sbm-about a {
  background-position: -380px -240px;
}
.nav-sbm-en .group-sbm-about a:hover, .nav-sbm-en .group-sbm-about a:active, .nav-sbm-en .group-sbm-about a.active {
  background-position: -380px -280px;
}

.nav-sbm-en .group-sbm-published a {
  background-position: -570px -240px;
}
.nav-sbm-en .group-sbm-published a:hover, .nav-sbm-en .group-sbm-published a:active, .nav-sbm-en .group-sbm-published a.active {
  background-position: -570px -280px;
}

.nav-sbm-en .group-sbm-csr a {
  background-position: -760px -240px;
}
.nav-sbm-en .group-sbm-csr a:hover, .nav-sbm-en .group-sbm-csr a:active, .nav-sbm-en .group-sbm-csr a.active {
  background-position: -760px -280px;
}

.nav-sbb-en .group-sbb-top a {
  background-position: 0 -320px;
}
.nav-sbb-en .group-sbb-top a:hover, .nav-sbb-en .group-sbb-top a:active, .nav-sbb-en .group-sbb-top a.active {
  background-position: 0 -360px;
}

.nav-sbb-en .group-sbb-news a {
  background-position: -237px -320px;
}
.nav-sbb-en .group-sbb-news a:hover, .nav-sbb-en .group-sbb-news a:active, .nav-sbb-en .group-sbb-news a.active {
  background-position: -237px -360px;
}

.nav-sbb-en .group-sbb-about a {
  background-position: -475px -320px;
}
.nav-sbb-en .group-sbb-about a:hover, .nav-sbb-en .group-sbb-about a:active, .nav-sbb-en .group-sbb-about a.active {
  background-position: -475px -360px;
}

.nav-sbb-en .group-sbb-csr a {
  background-position: -712px -320px;
}
.nav-sbb-en .group-sbb-csr a:hover, .nav-sbb-en .group-sbb-csr a:active, .nav-sbb-en .group-sbb-csr a.active {
  background-position: -712px -360px;
}

.nav-sbtm-en .group-sbtm-top a {
  background-position: 0 -400px;
}
.nav-sbtm-en .group-sbtm-top a:hover, .nav-sbtm-en .group-sbtm-top a:active, .nav-sbtm-en .group-sbtm-top a.active {
  background-position: 0 -440px;
}

.nav-sbtm-en .group-sbtm-news a {
  background-position: -237px -400px;
}
.nav-sbtm-en .group-sbtm-news a:hover, .nav-sbtm-en .group-sbtm-news a:active, .nav-sbtm-en .group-sbtm-news a.active {
  background-position: -237px -440px;
}

.nav-sbtm-en .group-sbtm-about a {
  background-position: -475px -400px;
}
.nav-sbtm-en .group-sbtm-about a:hover, .nav-sbtm-en .group-sbtm-about a:active, .nav-sbtm-en .group-sbtm-about a.active {
  background-position: -475px -440px;
}

.nav-sbtm-en .group-sbtm-csr a {
  background-position: -712px -400px;
}
.nav-sbtm-en .group-sbtm-csr a:hover, .nav-sbtm-en .group-sbtm-csr a:active, .nav-sbtm-en .group-sbtm-csr a.active {
  background-position: -712px -440px;
}

/* ----------------------------------------------------------------
    Topic Path
----------------------------------------------------------------- */
#topicpath-area,
#footer-topicpath-area {
  margin: 0 auto;
  padding: 10px 0;
  width: 950px;
}
#topicpath-area .utility,
#footer-topicpath-area .utility {
  float: right;
  padding-top: 4px;
  _padding-bottom: 2px;
  overflow: hidden;
  zoom: 1;
}
#topicpath-area .utility p,
#footer-topicpath-area .utility p {
  margin: 0;
  float: left;
  display: inline;
  font-size: 12px;
  line-height: 1.2;
}
#topicpath-area .utility p.lang,
#footer-topicpath-area .utility p.lang {
  position: relative;
}
#topicpath-area .utility p.lang:before,
#footer-topicpath-area .utility p.lang:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: url(/site/set/common/p/img/sprite-icon.png) -150px 50% no-repeat;
  margin-right: 5px;
}
#topicpath-area .utility p.print,
#footer-topicpath-area .utility p.print {
  margin: 0 0 0 10px;
  border-left: 1px solid #e3e4e5;
  background: url(/corp/set/common/p/img/icon-print.png) 10px 50% no-repeat;
  padding-left: 25px;
}
#topicpath-area .utility img,
#footer-topicpath-area .utility img {
  vertical-align: middle;
  font-size: 10px;
}

#footer-topicpath-area {
  text-align: left;
  padding: 18px 0 0;
  _padding-top: 10px;
}
.footer-links + #footer-topicpath-area, #container-outer + #footer-topicpath-area {
  padding: 18px 0 0;
}

.topicpath {
  margin: 0;
  padding: 0;
  width: 810px;
  font-size: 12px;
  list-style-type: none;
  vertical-align: top;
  letter-spacing: -0.4em;
}
.topicpath li {
  display: inline-block;
  letter-spacing: normal;
  margin: .2em 0 .3em;
}
.topicpath li:before {
  content: ">";
  padding: 0 5px;
}
.topicpath li.path-home {
  margin: 0;
  font-size: 16px;
}
.topicpath li.path-home:before {
  content: "";
  margin: 0 5px 0 0;
  padding: 0;
  width: 14px;
  height: 12px;
  display: inline-block;
  background: url(/site/set/common/p/img/sprite-icon.png) -80px 50% no-repeat;
}
.topicpath li.path-home a {
  font-weight: bold;
}
.topicpath strong {
  color: #000;
}

/* ----------------------------------------------------------------
    Body
----------------------------------------------------------------- */
#contents-body {
  margin: 0 20px 40px 0;
}

.lyt-top #contents-body {
  margin: 0 0 40px 20px;
  padding-top: 20px;
}
.lyt-top #local-nav-area {
  margin: 0 20px 40px 0;
}

.lyt-col-1 #contents-body {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 40px 0 0;
  width: 950px;
}

#local-nav-area {
  margin: 0 0 40px 20px;
}
#local-nav-area p.update {
  margin: 20px 0 0 0;
}

#contents-body-medium {
  margin: 0 auto;
  padding: 25px 0;
  width: 702px;
}

#local-nav-area h2 {
  position: relative;
  margin: 0 !important;
  padding: 20px 10px 19px;
  width: auto !important;
  border: 1px solid #d8dadc;
  border-bottom: 2px solid #84919d;
  background-image: none !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
}
#local-nav-area h2:before, #local-nav-area h2:after {
  position: absolute;
  bottom: -2px;
  display: block;
  width: 1px;
  height: 2px;
  background-color: #d8dadc;
  content: "";
}
#local-nav-area h2:before {
  left: -1px;
}
#local-nav-area h2:after {
  right: -1px;
}
#local-nav-area h2 + h3.local-hdg-01 {
  margin-top: 10px;
}
#local-nav-area img {
  max-width: 100%;
}
#local-nav-area p {
  font-size: 85.71%;
  line-height: 1.33;
}

.local-hdg {
  position: relative;
  margin: 20px 0 10px;
  border-bottom: 1px solid #d8dadc;
}
.local-hdg h2 {
  margin: 0 !important;
  padding: 8px 0 7px 7px !important;
  border: none !important;
  border-left: 3px solid #84919d !important;
  font-size: 85.71% !important;
}
.local-hdg h2:before, .local-hdg h2:after {
  display: none !important;
}
.local-hdg p {
  position: absolute;
  top: .6em;
  right: 0;
  margin: 0;
}
.local-hdg + h3.local-hdg-01 {
  margin-top: 0;
}
.local-hdg + .link-list-contents {
  margin-top: 10px;
}

h3.local-hdg-01 {
  margin: 20px 0 10px;
  padding: 11px 10px 10px;
  border: 1px solid #d8dadc;
  text-align: center;
  font-size: 85.71%;
}

.hdg-top-l2-container + .local-hdg-01 {
  margin-top: 0 !important;
}

#local-nav-area h2.local-hdg-02 {
  margin: -10px -9px 10px !important;
  padding: 10px !important;
  border: none !important;
  background-color: #fff;
  font-size: 85.71% !important;
}
#local-nav-area h2.local-hdg-02:before, #local-nav-area h2.local-hdg-02:after {
  display: none;
}

.nav-local {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
  border: 1px solid #d8dadc;
  border-top: 0;
  font-size: 12px;
}
.nav-local ul {
  margin: 0 0 9px 9px;
  padding: 0;
  list-style-type: none;
  border-left: 1px solid #d8dadc;
  border-bottom: 1px solid #d8dadc;
}
.nav-local li {
  margin: 0;
  padding: 1px 0;
  border-top: 1px solid #d8dadc;
  background-color: #fff;
}
.nav-local .active {
  background-color: #f2f4f6;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.nav-local .active .active {
  padding: 0 0 1px;
  background-color: #e1e4e8;
  box-shadow: none;
}
.nav-local .active .active li {
  background-color: #fff;
}
.nav-local .active .active .active {
  padding: 1px 0 1px 1px;
  background-color: #d7e3f5;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.nav-local .active .active .active a.dir6th {
  position: relative;
  padding: 8px 9px 7px;
  background-color: #d7e3f5;
}
.nav-local .active .active .active a.dir6th:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: #d7e3f5;
}
.nav-local .active .active .active li {
  background-color: #fff;
}
.nav-local .active .active .active .active {
  padding: 1px 0 1px 1px;
  background-color: #e1e4e8;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
  position: relative;
}
.nav-local .active .active .active .active li {
  background-color: #fff;
}
.nav-local .active .active .active .active .active {
  padding: 1px 0 1px 1px;
  background-color: #d7e3f5;
  box-shadow: 1px 1px 0 #fff inset, -1px -1px 0 #fff inset;
}
.nav-local .active .active .active .active .active a {
  position: relative;
  padding: 8px 9px 7px;
  background-color: #d7e3f5;
}
.nav-local .active .active .active .active .active a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  background-color: #d7e3f5;
}
.nav-local a {
  padding: 9px 10px 8px;
  display: block;
}
.nav-local a.black {
  color: #444 !important;
}

#top #body {
  padding-top: 117px;
}

* html #top #body {
  padding-top: 0;
}

*:first-child + html #top #body {
  padding-top: 0;
}

.lyt-top #contents-body {
  float: left;
  width: 710px;
}
.lyt-top #local-nav-area {
  float: right;
  width: 220px;
  border: none;
}
.lyt-top #local-nav-area .lobal-hdg {
  position: relative;
  margin: 0 0 10px;
  border-bottom: 1px solid #d8dadc;
}
.lyt-top #local-nav-area .lobal-hdg p {
  position: absolute;
  top: .6em;
  right: 0;
  margin: 0;
  font-size: 85.71%;
}
.lyt-top #local-nav-area h2 {
  padding: 10px 5px 9px;
  border: none;
  border-bottom: 0;
  border-left: 3px solid #84909e;
  font-size: 92.86%;
}

.local-box {
  margin: 0 0 20px;
  border: 1px solid #d8dadc;
  border-top: none;
}
.local-box .hdg {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #d8dadc;
  font-weight: bold;
  font-size: 85.71%;
}
.local-box .hdg a {
  display: block;
  padding: 10px 20px 10px 38px;
  position: relative;
  zoom: 1;
}
.local-box .hdg a:link, .local-box .hdg a:visited {
  color: #333333;
}
.local-box .hdg a img {
  margin: -9px 0 0;
  position: absolute;
  top: 50%;
  left: 9px;
}
.local-box .list-news .date {
  font-weight: bold;
}
.local-box ol {
  margin: 0.83333em 0 0.83333em 19px;
  font-size: 85.71%;
}
.local-box ol li {
  margin: 0 0 2px;
}
.local-box.ir-info {
  border-top: 1px solid #d8dadc;
}
.local-box.login {
  margin-top: 20px;
  border: 1px solid #d8dadc;
  background-color: #f4f5f6;
  padding: 10px 9px;
}
.local-box.login .btn-01 {
  min-width: 0;
  width: 200px;
}
.local-box.facebook {
  border-top: 1px solid #d8dadc;
  padding: 0;
}
.local-box.facebook .image-left {
  padding: 10px 10px 0;
}
.local-box.facebook .image-left .image {
  margin: 0 10px 10px 0;
}
.local-box.facebook .image-left .col {
  margin-bottom: 5px;
}
.local-box.cm {
  border: none;
}
.local-box.cm #sub-cm-title {
  margin: 0;
}
.local-box.attention {
  padding: 0 10px;
}
.local-box.attention .hdg {
  margin: 0 -10px 8px;
  padding: 10px 20px 10px 38px;
  position: relative;
  border-bottom: 1px solid #d8dadc;
}
.local-box.attention .hdg img {
  margin: -9px 0 0;
  position: absolute;
  top: 50%;
  left: 9px;
}
.local-box.attention p.date {
  margin: 1em 0 .9em;
  font-size: 71.43% !important;
}
.local-box.app {
  margin: 0 0 -1px;
}
.local-box.rss {
  border-top: 1px solid #d8dadc;
}
.local-box.rss .hdg {
  border-top: 0;
}

.spread-block {
  margin: 0;
  padding: 0;
}

.spread-button {
  margin: 0 !important;
  padding: 0;
  border-top: 1px solid #d8dadc;
  font-weight: bold;
  font-size: 85.71%;
  display: block;
  cursor: pointer;
}
.spread-button:hover, .spread-button:focus, .spread-button:focus {
  background-color: #d7e3f5;
}
.spread-button span {
  padding: 10px;
  display: block;
  position: relative;
}
.spread-button span img.icon-tool-box {
  margin: -5px 0 0;
  position: absolute;
  top: 50%;
  right: 7px;
  display: block;
}
.spread-button img {
  margin: 0 10px 0 0;
}

.spread-block.static .spread-button {
  cursor: auto;
}
.spread-block.static .spread-button:hover, .spread-block.static .spread-button:focus, .spread-block.static .spread-button:focus {
  background-color: #fff;
}
.spread-block.static .spread-button span {
  position: static;
}
.spread-block.static .spread-button span img.icon-tool-box {
  display: none;
}

.active .spread-button {
  background-color: #d7e3f5;
}
.active .spread-button span:before {
  background-position: -96px 100%;
}

.spread-contents, .spread-contents-ir {
  margin: 0;
  padding: 0 10px;
  border-top: 1px solid #d8dadc;
}
.spread-contents div, .spread-contents-ir div {
  padding: 5px 0;
}

#tool-box.default-closed .spread-contents,
#tool-box.default-closed .spread-contents-ir{
  display: none;
  height: auto !important;
}

.frame-stockinfo {
  width: 100%;
  height: 90px;
  border: none;
  overflow: hidden;
}

body.lyt-exception {
  height: 100%;
}
body.lyt-exception .ex-container {
  min-height: 100%;
}
body.lyt-exception .ex-container-inner {
  padding-bottom: 62px;
}

*:first-child + html .lyt-exception .ex-container-inner {
  display: table;
  height: 100%;
}

/* ----------------------------------------------------------------
    Footer
----------------------------------------------------------------- */
.nav-top {
  clear: both;
  margin: 20px auto 10px !important;
  width: 950px;
  text-align: right;
  font-size: 85.71%;
}
.nav-top a {
  position: relative;
  display: inline-block;
}
.nav-top a:before {
  position: relative;
  top: 3px;
  display: inline-block;
  margin: 0 4px 0 0;
  width: 14px;
  height: 14px;
  background: url(/site/set/common/p/img/sprite-icon.png) 0 50% no-repeat;
  content: "";
}

#contents-body .nav-top {
  width: auto;
}

.lyt-exception footer.footer {
  position: relative;
  margin-top: -62px;
  height: 62px;
  clear: both;
}
.lyt-exception .footer-list-utility {
  margin-top: 0;
}

footer.footer {
  font-size: 12px;
  line-height: 1.2;
}
footer.footer.error_503 {
  min-width: 1%;
}

.footer-inner {
  padding: 0;
}
.footer-inner .logo-footer {
  position: static;
  padding: 14px 20px 4px;
  font-size: 10px;
}

.nav-site-footer {
  margin: 15px 20px 0 0;
  padding: 0;
  list-style-type: none;
  float: right;
  height: 28px;
  overflow: hidden;
}
.nav-site-footer li {
  margin: 0;
  float: left;
  position: relative;
  z-index: 1;
}
.nav-site-footer a {
  display: block;
  height: 28px;
  text-decoration: none;
  background-image: url(/site/set/common/p/img/btn-nav-site-footer.png);
}
.nav-site-footer a:hover, .nav-site-footer a:active, .nav-site-footer a:focus {
  text-decoration: none;
}
.nav-site-footer span {
  position: relative;
  z-index: -1;
}
.nav-site-footer .home a {
  width: 58px;
}
.nav-site-footer .home a:hover, .nav-site-footer .home a:focus, .nav-site-footer .home a.active {
  background-position: 0 -28px;
}
.nav-site-footer .mobile a {
  width: 72px;
  background-position: -58px 0;
}
.nav-site-footer .mobile a:hover, .nav-site-footer .mobile a:focus, .nav-site-footer .mobile a.active {
  background-position: -58px -28px;
}
.nav-site-footer .ybb a {
  width: 107px;
  background-position: -130px 0;
}
.nav-site-footer .ybb a:hover, .nav-site-footer .ybb a:focus, .nav-site-footer .ybb a.active {
  background-position: -130px -28px;
}
.nav-site-footer .lifestyle a {
  width: 110px;
  background-position: -237px 0;
}
.nav-site-footer .lifestyle a:hover, .nav-site-footer .lifestyle a:focus, .nav-site-footer .lifestyle a.active {
  background-position: -237px -28px;
}
.nav-site-footer .shop a {
  width: 69px;
  background-position: -347px 0;
}
.nav-site-footer .shop a:hover, .nav-site-footer .shop a:focus, .nav-site-footer .shop a.active {
  background-position: -347px -28px;
}
.nav-site-footer .support a {
  width: 72px;
  background-position: -416px 0;
}
.nav-site-footer .support a:hover, .nav-site-footer .support a:focus, .nav-site-footer .support a.active {
  background-position: -416px -28px;
}
.nav-site-footer .corp a {
  width: 72px;
  background-position: -488px 0;
}
.nav-site-footer .corp a:hover, .nav-site-footer .corp a:focus, .nav-site-footer .corp a.active {
  background-position: -488px -28px;
}

.site-footer-en .home a {
  width: 57px;
  background-position: 0 -56px;
}
.site-footer-en .home a:hover, .site-footer-en .home a:focus, .site-footer-en .home a.active {
  background-position: 0 -84px;
}
.site-footer-en .mobile a {
  width: 63px;
  background-position: -57px -56px;
}
.site-footer-en .mobile a:hover, .site-footer-en .mobile a:focus, .site-footer-en .mobile a.active {
  background-position: -57px -84px;
}
.site-footer-en .ybb a {
  width: 72px;
  background-position: -120px -56px;
}
.site-footer-en .ybb a:hover, .site-footer-en .ybb a:focus, .site-footer-en .ybb a.active {
  background-position: -120px -84px;
}
.site-footer-en .lifestyle a {
  width: 73px;
  background-position: -192px -56px;
}
.site-footer-en .lifestyle a:hover, .site-footer-en .lifestyle a:focus, .site-footer-en .lifestyle a.active {
  background-position: -192px -84px;
}
.site-footer-en .shop a {
  width: 51px;
  background-position: -265px -56px;
}
.site-footer-en .shop a:hover, .site-footer-en .shop a:focus, .site-footer-en .shop a.active {
  background-position: -265px -84px;
}
.site-footer-en .support a {
  width: 71px;
  background-position: -316px -56px;
}
.site-footer-en .support a:hover, .site-footer-en .support a:focus, .site-footer-en .support a.active {
  background-position: -316px -84px;
}
.site-footer-en .corp a {
  width: 77px;
  background-position: -387px -56px;
}
.site-footer-en .corp a:hover, .site-footer-en .corp a:focus, .site-footer-en .corp a.active {
  background-position: -387px -84px;
}

.footer-links {
  margin: 0 auto;
  padding: 0;
  width: 950px;
  border: 1px solid #d8dadc;
  line-height: 1.2;
  _width: 948px;
}
.footer-links .hdg-container {
  border-bottom: 1px solid #d8dadc;
}
.footer-links .hdg {
  float: left;
  margin: 0;
  padding: 13px 20px;
  border: 0;
  font-size: 16px;
}
.footer-links p.description {
  float: left;
  margin: 0;
  padding: 14px 0 12px;
  font-size: 12px;
}
.footer-links p.link {
  float: right;
  margin: 10px 20px;
  padding: 0;
  font-size: 12px;
}
.footer-links p.link a {
  display: block;
  padding: 4px 20px 2px;
  border: 1px solid #d8dadc;
  border-radius: 3px;
}
.footer-links .footer-list-utility {
  position: static;
  margin: 0;
  padding: 1em 0 1em 20px;
  border-top-width: 0;
}
.footer-links .footer-list-utility:before {
  display: none;
}
.footer-links .footer-link-list {
  margin: 0;
  list-style-type: none;
  padding: 10px 20px 2px;
  text-align: left;
  font-size: 12px;
}
.footer-links .footer-link-list li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin: 0 1em 8px 0;
  padding-bottom: 0;
}

.footer-list-bnr {
  margin: 0 0 0 20px;
  padding: 0 0 10px;
  list-style-type: none;
}
.footer-list-bnr li {
  margin: 0 20px 10px 0;
  padding: 0;
  float: left;
  display: inline;
}
.footer-list-bnr img {
  width: 210px;
  height: auto;
}

.footer-list-category-top {
  width: auto;
  margin: 20px 0 0 20px;
  padding: 0;
}
.footer-list-category-top li {
  font-size: 12px;
  float: left;
  display: inline;
  width: 15.9%;
  margin: 0 5px 0 0;
  padding: 0;
  list-style-type: none;
}
.footer-list-category-top li:nth-child(3n+1) {
  clear: none;
}
.footer-list-category-top li ul {
  margin: .5em 0 15px;
  padding: 0;
}
.footer-list-category-top li li {
  clear: both;
  float: none;
  display: block;
  width: auto;
  margin: 0;
  padding: 4px 0;
}
.footer-list-category-top h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
}
.footer-list-category-top h2 a {
  font-weight: bold;
}
.footer-list-category-top h2:before {
  display: none;
}

.footer-list-utility {
  position: relative;
  margin: 15px 20px 20px;
  padding: 10px 0;
  border-top: 2px solid #e6e6e6;
  text-align: left;
  font-size: 10px;
}
.footer-list-utility:before {
  position: absolute;
  top: -3px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #d5d5d5;
  content: "";
}
.footer-list-utility li {
  float: left;
  display: inline;
  margin: 0 5px 0 0;
  padding: 0 0 0 5px;
  border-left: 1px solid #d8dadc;
}
.footer-list-utility li:first-child {
  border-left: 0;
  padding: 0;
}
.footer-list-utility img {
  vertical-align: top;
}

.footer-bottom {
  padding: 0 0 14px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZyIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIC8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIC8+PC9saW5lYXJHcmFkaWVudD48cmVjdCBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
  background-color: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(75%, white));
  background-image: -webkit-linear-gradient(top, #f2f2f2, white 75%);
  background-image: linear-gradient(to bottom,#f2f2f2, white 75%);
}

footer.footer p.copyright {
  margin: 0 20px;
  font-size: 10px;
}

#switch {
  background-color: #e9edf0;
  font-size: 142.86%;
  text-align: center;
  padding: 30px 0;
  line-height: 1.2;
}
#switch dl, #switch dt, #switch dd, #switch ul, #switch li {
  margin: 0;
  padding: 0;
}
#switch dl, #switch ul {
  margin: 0 auto;
  display: table;
}
#switch dt, #switch dd, #switch li {
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}
#switch dt {
  padding-right: 10px;
}
#switch ul {
  font-weight: bold;
  border: 1px solid #c7cbcd;
  -webkit-box-shadow: 0 0 3px #c7cbcd;
  box-shadow: 0 0 3px #c7cbcd;
  border-radius: 6px;
}
#switch li {
  width: 185px;
  font-weight: bold;
}
#switch li.current {
  padding: 12px 0 9px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #6d7984;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d7984), color-stop(5%, #84919d), color-stop(100%, #b4bec8));
  background-image: -webkit-linear-gradient(top, #6d7984, #84919d 5%, #b4bec8);
  background-image: linear-gradient(to bottom,#6d7984, #84919d 5%, #b4bec8);
  background-color: #84919d;
  -webkit-background-origin: border;
  background-origin: border;
  color: #fff;
}
#switch li:first-child a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#switch li:last-child {
  border-left: 1px solid #c7cbcd;
}
#switch li:last-child a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#switch li a:link {
  color: #006699;
  text-decoration: none;
}
#switch li a:visited {
  color: purple;
  text-decoration: none;
}
#switch li a:hover, #switch li a:active, #switch li a:focus {
  color: #006699;
  text-decoration: underline;
}
#switch a {
  display: block;
  padding: 12px 0 9px;
  -webkit-background-origin: border;
  background-origin: border;
  background-color: #fbfcfc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfcfc), color-stop(100%, #e0e5e6));
  background-image: -webkit-linear-gradient(top, #fbfcfc, #e0e5e6);
  background-image: linear-gradient(to bottom,#fbfcfc, #e0e5e6);
}
#switch a:focus {
  background-color: #6d7984;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6d7984), color-stop(5%, #84919d), color-stop(100%, #b4bec8));
  background-image: -webkit-linear-gradient(top, #6d7984, #84919d 5%, #b4bec8);
  background-image: linear-gradient(to bottom,#6d7984, #84919d 5%, #b4bec8);
  background-color: #84919d;
}
