@charset "utf-8";
#tickerWrap {
    margin: 0;
    padding: 0;
    min-width: 990px;
}
#top_ticker_1409 {
    height: 50px;
    background-color: #595cce;
    width: 100%;
    min-width:950px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
#tickerWrap.tickerClose,
.tickerClose #top_ticker_1409 {
    display: none;
}
#top_ticker_inner_1409 {
    width: 950px;
    margin: 0 auto;
    position: relative;
}

#top_ticker_btn_close_1409 {
    width: 50px;
    height: 100px;
    right: 0;
    top: 0;
    position: absolute;
}

#top_ticker_btn_close_1409 a {
    display: block;
    width: 50px;
    height: 100px;
    background: url('../img/20160916/btn_close.png') right 0px no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}

#top_ticker_btn_close_1409 a:hover {
    background-position: right -50px;
}

#top_ticker_effect_1409 {
    display: none;
    width: 105px;
    height: 50px;
    background: url('../img/20160916/fig_effect.png');
    position: absolute;
    left: 0;
    top: 0;
}

#top_ticker_label_1409 p {
    background: url('../img/20160916/txt_label.png') no-repeat center 0;
    width: 900px;
    height: 50px;
    text-indent: -9999px;
    color: transparent;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

#top_ticker_label_1409 a {
    display: none;
}
