@charset "utf-8";
#top_ticker{
	height: 50px;
	background: url(../img/bg_gray.png);
	width: 100%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
#top_ticker_inner{
	width: 950px;
	margin: 0 auto;
	position: relative;
}
#top_ticker_btn_buy{
	width: 120px;
	height: 30px;
	left: 630px;
	top: 10px;
	position: absolute;
	background: url(../img/bg_btn_gray.png);
}
#top_ticker_btn_buy a{
	display: block;
	width: 120px;
	height: 30px;
	background: url(../img/btn_buy_gray.png);
	text-indent: -9999px;
	overflow: hidden;
}
#top_ticker_btn_close{
	width: 54px;
	height: 18px;
	right: 0;
	top: 10px;
	position: absolute;
}
#top_ticker_btn_close a{
	display: block;
	width: 54px;
	height: 18px;
	background: url(../img/btn_close_gray.png);
	text-indent: -9999px;
	overflow: hidden;
}
#top_ticker_effect{
	display: none;
	width: 330px;
	height: 50px;
	background: url(../img/fig_effect.png);
	position: absolute;
	left:0;
	top:0;
}

#top_ticker_label {
	background: url(../img/txt_label_ticker_gray.png) no-repeat left top;
	width: 950px;
	height: 50px;
}

#top_ticker_label p{
	background: url(../img/txt_label_gray.png) no-repeat left top;
	width: 950px;
	height: 50px;
	text-indent: -9999px;
}

