
#nt-example1 {
	margin: auto;
}

#nt-example1-container {
	text-align: center;
}


#nt-example1-container i:hover {
	color: #333;
}

#nt-example1 li {
	color: #4e4e4e;
	background: #F2F2F2;
	overflow: hidden;
	height: 60px;
	list-style: none;
	padding-right: 2px;
	padding-top:2px;	
}

#nt-example1 li:hover {
	background: #859c61;
}