
.ticker1 {
	height: 40px;
	width: 110%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

#soti {
	height: 200px;
	margin-top: -8px;
	}
.back {
	background-color:rgba(255, 255, 255, 0.9);
	border:1px solid rgba(128, 128, 128, 0.2);
	height: 38px;
	vertical-align:middle;
	}
.back:hover{
	background-color:rgba(221, 221, 221, 0.72);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	}
.mywrapper {
    overflow: auto;
	text-align:right;
    height:190px !important;
    max-height: 190px;
	border: 1px solid #708957;
	margin: 0;
	padding-right: 5px;
	list-style: none;
	border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 0px 5px #DDD;
	line-height: 27px;
    background-color:rgba(255, 255, 255, 0.9);
	}
.font1{
	font-family:tahoma;
	font-size:10pt;
	color:#000;
	}
.font1:hover{
	color:rgba(60, 60, 60, 0.54);
	}
.arrownews {
	height: 10px;
    width: 10px;
    position: relative;
    right: -1px;
    top: 2px;
    opacity: 0.7;
	border:0px solid;
	padding-left: 2px;
	}
.text{
	color:#003500;
	font-family:tahoma;
	font-size:10pt;
	}
.text:hover{
	color:#838383;
	]