@charset "utf-8";
/*
.File Name	: /content/css/ver_2/gnb.css
.Final Editor	: 방민재 (2016-01-15 : 신규)
*/
/* .gnbWrap * {margin:0; padding:0;} */
body {text-align:left;}
.gnbWrap {height:31px; border-bottom:1px solid #d7dce2; background:#fbfbfb; text-align:center; position:relative; z-index:10000; *zoom:1;}
.globalBar {position:relative; height:30px; margin-bottom:0; border-bottom:1px solid #fff; text-align:left; letter-spacing:-1px; z-index:10000;}
.globalBar,
.globalBar a,
.globalBar a:link,
.globalBar a:visited,
.globalBar button {font:11px/15px Dotum, sans-serif; color:#666;}
.globalBar a {letter-spacing:-1px;}
.globalBar .innerBar {position:relative; width:960px; height:100%; margin:0 auto;}
.globalBar .innerBar a, .globalBar .innerBar button {letter-spacing:-1px; font:11px '맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif;}
.globalBar .globalLink,
.globalBar .func,
.globalBar .lnb {position:absolute; top:0; left:0;}
.globalBar .globalLink li {float:left; display:inline;}
.globalBar .globalLink .bx {display:block; width:70px; height:31px;}
.globalBar .globalLink .bx .inr {display:inline-block; margin:0 12px 0 28px;}
.globalBar .globalLink a {position:relative; display:block; height:31px; cursor:pointer; white-space:nowrap;}
.globalBar .globalLink .fms .bx {width:92px; border-left:1px solid #dee1e6; border-right:1px solid #dee1e6; background:#fbfbfb;}
.globalBar .globalLink .fms .bx a {width:auto; height:31px; text-align:left; border-left:1px solid #fff; background:#fbfbfb url('/Content/images/common/gnb/sp_icn_gnb.png') no-repeat 75% -77px;}
.globalBar .globalLink .fms .bx a:hover {height:33px;}
.globalBar .globalLink .fms .mn {display:inline-block; width:57px; margin:8px 0 0 12px; background:url('/Content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat;}
.globalBar .globalLink .fms .mn span {display:block; text-indent:-9999px;}
.globalBar .globalLink .fms ul {overflow:hidden; display:none; position:absolute; left:0; top:31px; width:92px; border:1px solid #ccc; background:#fff; text-align:left; z-index:2;}
.globalBar .globalLink .fms li {clear:both; width:92px; height:31px; border-top:1px solid #dee1e6;}
.globalBar .globalLink .fms li.first {border:0;}
.globalBar .globalLink .fms .am {background-position:0 -208px;}
.globalBar .globalLink .fms .cm {background-position:-70px -208px;}
.globalBar .globalLink .fms .jku {background-position:-140px -208px;}
.globalBar .globalLink .fms .hrp {background-position:-210px -208px;}
.globalBar .globalLink .fms .jb {background-position:-280px -208px;}
.globalBar .globalLink .fms .gj {background-position:-350px -208px; width:59px; height:18px;}
.globalBar .globalLink .fms .dj {background-position:-420px -208px;}
.globalBar .globalLink .appDown a {border-right:1px solid #dde0e5; background:url('/Content/images/common/gnb/sp_icn_gnb.png') no-repeat 11px 7px; line-height:28px;}
.globalBar .globalLink a:hover {*zoom:1;z-index:2;}
.globalBar .globalLink a:hover .tooltip,
.globalBar .globalLink a:focus .tooltip,
.globalBar .globalLink a:active .tooltip {top:30px; color:#888;}
.globalBar .tooltip {position:absolute; border-bottom:1px solid #f2f2f2; background:#fff; top:-9999px; left:-36px; line-height:normal;}
.globalBar .tooltip .inner {border:1px solid #cecece; white-space:nowrap; display:block; height:16px; padding:1px 4px 3px 4px;}
.globalBar .tooltip .arrow {position:absolute; width:5px; height:4px; top:-3px; left:50%; margin-left:-3px; background:url('/Content/images/common/gnb/bg_global_bar.gif') no-repeat 0 -90px;}
.globalBar .appDown .tooltip {left:-43px;}
.globalBar .lnb {zoom:1; left:auto; right:0; top:6px;}
.globalBar .lnb a {line-height:1.33;}
.globalBar .lnb:after {content:""; display:block; clear:both;}
.globalBar .lnb .mn {float:left; position:relative; white-space:nowrap; padding-right:7px; margin-right:3px; background:url('/Content/images/common/gnb/bg_global_bar.gif') no-repeat 100% -185px; *zoom:1;}
.globalBar .lnb .mn a {display:inline-block; padding-top:1px; letter-spacing:-1px;}
.globalBar .lnb .mn a:link,
.globalBar .lnb .mn a:visited {color:#333;}
.globalBar .lnb .mn a:hover {color:#39f; font-size:11px;}
.globalBar .lnb .more a,
.globalBar .lnb .more button {color:#333; padding:1px 14px 10px 0; background:url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat 100% -31px; letter-spacing:-1px;}
.globalBar .lnb .more button {padding:0 14px 2px 0; line-height:13px;}
.globalBar .lnb .more a:hover,
.globalBar .lnb .more button:hover {color:#06c; background-position:100% -56px; letter-spacing:-1px;}
.globalBar .lnb .more button span {position:relative; display:inline-block; padding:2px 0 8px 0; *padding:0 0 8px 0; white-space:nowrap;}
.globalBar .lnb .last {background:none; padding-right:0;}
.globalBar .lnb .my a {padding-left:15px; background:url(/Content/images/starter/dec_1.gif) no-repeat 0 5px; text-decoration: underline;}
.globalBar .layer {position:absolute; top:25px; left:0; width:110px; padding:0; background:#fff; display:none; border:1px solid #ccc; text-align:left;}
.globalBar .lnb .layer {width:145px;}
.globalBar .layer .link {padding:7px 0 10px 0;}
.globalBar .layer .link li {padding:3px 0; vertical-align:bottom;}
.globalBar .layer .link a {background:none;}
.globalBar .layer .link .line {background:url(/Content/images/common/gnb/bg_global_bar_line2.gif) repeat-x 0 0;}
.globalBar .lnb .mn .layer .link a {color:#666; padding:0 0 0 10px;}
.globalBar .lnb .mn .layer .link a:hover {color:#39f !important; text-decoration:underline;}
.globalBar .lnb .mn .layer .link strong a {color:#333; font-weight:bold;}
.globalBar .lnb .mn .layer .link strong a:hover {color:#333 !important;}
.globalBar .lnb .mn .layer .link em a {color:#39f;}
/* header
------------------------------------------------------------------------------------ */
#headerWrap {position:relative; zoom:1; width:100%; z-index:2000;}
#headerWrap:after {content:""; display:block; clear:both;}
#header {position:relative; zoom:1; width:100%; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; background:#fff !important; text-align:left; z-index:800;}
#header:after {content:""; display:block; clear:both;}
#header > .inner {position:relative; width:960px; height:140px; margin:0 auto; zoom:1; z-index:500;}
#header .section {float:left; display:inline; position:relative;}
#header .section .inner {overflow:visible; position:relative; width:960px; height:44px; margin:0 auto; zoom:1; z-index:500;}
#header .secLogo h1 {width:234px; height:44px; margin:0; padding:0;}
#header .secLogo {overflow:hidden; width:234px; margin-left:50px; padding-top:36px; text-align:center;}
#header .secLogoVertical {width:254px; margin-left:30px;}
#header .secLogoVertical h1 {width:198px;}
#header .secAmLogo {overflow:hidden; width:176px; padding-top:32px; margin-left:20px;}
#header .secSearch {z-index:100;}
#header .secBanner {width:245px; float:right; text-align:right; overflow:hidden;}
#header .secNav {width:100%; height:44px; z-index:50; background:#46a5ff;}
.header-sub .secNav{border-bottom:1px solid #2d3d55;}
#headerInfo {height:32px; background:#f8f9fa; text-align:left;}
#headerInfo .inner {width:960px; margin:0 auto; text-align:center; position:relative;}
#header .fixed {position:fixed; top:0; z-index:100000;}
.headerCaseLine {border-bottom:4px solid #46a5ff; margin-bottom:15px;}
.headerCaseLine #header > .inner {height:88px;}
#header #gnb:after {content:""; display:block; clear:both;}
#header #gnb {width:680px !important; padding-top:0; background:url('/content/images/common/gnb/bg_gnb_verticalbar.gif') no-repeat 322px center;}
#header .secNav .nav {float:left; position:relative; z-index:30;}
#header .secNav .nav-active {z-index:30;}
#header .secNav .nav > li {float:left; display:inline; margin-left:-1px; text-align:center; position:relative; height:44px; letter-spacing:-1px; z-index:1;}
#header .secNav .nav > li > a, #header .secNav .nav > li > button {font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; font-size:0.93em; color:#fff; display:inline-block; width:100%; height:100%; padding-top:10px; position:relative; z-index:15; cursor:pointer; letter-spacing:-2px;}
#header .secNav .nav > li > button {height:44px; padding:0;}
#header .secNav .nav > li > button:focus {outline:none;}
#header .secNav .nav > li > a span, #header .secNav .nav > li > button > span {position:absolute; left:0; top:10px; display:block; width:100%; height:24px; background:#46a5ff url('/content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat;}
#header .secNav .nav > li > .loc {background-color:#2d3d55;}
#header .secNav .nav > li > .loc span {background:#2d3d55 url('/content/images/common/gnb/sp_bg_gnb_on.png?20161026') no-repeat;}
#header .secNav .nav > li.on {z-index:10;}
#header .secNav .nav > li .on {position:absolute; left:0; height:45px; border-top:1px solid #2d3d55; border-left:1px solid #2d3d55; border-right:1px solid #2d3d55; background:#fff;}
#header .secNav .nav > li .on span {background-color:#fff;}
#header .secNav .nav > li .loc span {background-color:#2d3d55;}
#header .secNav .nav .gi {width:102px; margin-left:0;}
#header .secNav .nav .starter {width:70px;}
#header .secNav .nav .hh {width:70px;}
#header .secNav .nav .hr {width:75px;}
#header .secNav .nav .alba {width:73px;}
#header .secNav .nav .good {width:102px; margin-left:16px;}
#header .secNav .nav .good a {position:relative;}
/*#header .secNav .nav .good a:before {content:""; position:absolute; left:-8px; top:17px; width:1px; height:12px; background:#2a85ff; z-index:10;}*/
#header .secNav .nav .salary {width:72px;}
#header .secNav .nav .edu {width:72px;}
#header .secNav .nav .gg {width:72px;}
#header .secNav .nav .more {width:63px; z-index:11;}
#header .secNav .nav .more .ly {width:136px; padding:0; border:1px solid #ccc; background-color:#fff; text-align:left;}
#header .secNav .nav .more .ly .link {padding:7px 0 10px 0;}
#header .secNav .nav .more .ly .link li {display:block; padding:3px 0; vertical-align:bottom; line-height:normal;}
#header .secNav .nav .more .ly .link a {color:#666; font-weight:bold; padding:0 0 0 10px;}
#header .secNav .etcNav {float:right;}
#header .etcNav li {width:116px;}
#header .etcNav li a {height:34px; padding-top:10px;}
#header .etcNav li a span {top:10px; height:24px;}
#header .etcNav .mypage {width:134px;}
#header .etcNav .mch {width:90px;}
#header .etcNav .mng {width:142px;}
#header .etcNav .ong {width:126px;}
#header .etcNav .smartMatch {width:115px;}
#header .etcNav .layer {z-index:100; position:absolute; left:16px; top:44px; background-color:#fff; border:1px solid #ccc; text-align:left;}
#header .etcNav .layer .link {padding:6px 0 9px;}
#header .etcNav .layer .link li {min-width:160px; width:auto !important; width:160px; padding:3px 11px 5px; box-sizing:border-box;}
#header .etcNav .layer .link a {color:#333; font-size:12px;}
#header .etcNav .layer .link a:hover {color:#3399ff; text-decoration:underline;}
#header .etcNav .layer .iconVerticalBar {margin:0 3px; color:#c3c3c3; font-style:normal;}
#header .etcNav .layer .iconArrowUp {overflow:hidden; position:absolute; left:45px; top:-6px; width:11px; height:6px; background:url('/content/images/common/gnb/sp_header_icon.png') no-repeat 0 0;}

#header .secNav .nav .more span {background-position:-207px -87px;}
#header .secNav .nav .mypage span {background-position:0 -845px;}
#header .secNav .nav .rsm span,
#header .secNav .nav .rsm .loc span {background-position:0 -120px;}
#header .secNav .nav .job span,
#header .secNav .nav .job .loc span {background-position:-116px -120px;}
#header .secNav .nav .mch span,
#header .secNav .nav .mch .loc span {background-position:-398px -120px;}
#header .secNav .nav .mng span,
#header .secNav .nav .mng .loc span {background-position:-240px -120px;}
#header .secNav .nav .reg span,
#header .secNav .nav .reg .loc span {background-position:-495px -120px;}
#header .secNav .nav .ong span,
#header .secNav .nav .ong .loc span {background-position:-615px -120px;}
#header .secNav .nav .smartMatch span,
#header .secNav .nav .smartMatch .loc span {background-position:-757px -120px;}
#header .secNav .nav .more .ly .link a {display:block; font-weight:bold; padding:0 0 0 10px;}
#header .secNav .nav .ly {display:none; position:absolute; top:44px; left:0; padding-top:12px; border:1px solid #2d3d55; background-color:#fff; text-align:left; z-index:9;}
#header .secNav .nav .on .ly {display:block;}
#header .secNav .nav .starter .ly-all {left:-101px; width:765px;}
#header .secNav .nav .hr .ly-all {left:-239px; width:770px; box-sizing:border-box;}
#header .secNav .nav .good .ly-all {left:-330px; width:770px; height:412px; box-sizing:border-box;}
#header .secNav .nav .alba .ly {left:-289px;}
#header .secNav .nav .edu .ly-all {left:-502px;}
#header .secNav .nav .gg .ly-all {left:-506px; /* left:-573px; */ width:576px; /* width:768px; */}
#header .secNav .nav .gi .on {width:102px;}
#header .secNav .nav .starter .bnrGnbStarter {position:absolute; left:0px; bottom:49px;}
#header .secNav .nav .hr .on {width:75px;}
#header .secNav .nav .alba .on {width:71px;}
#header .secNav .nav .edu .on {width:72px;}
#header .secNav .nav .gg .on {width:72px;}
#header .secNav .nav .dLink {overflow:hidden; height:30px; *height:39px; padding:8px 0 0 20px;}
#header .secNav .nav .dLink a {line-height:1.33; font-size:14px; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif;}
#header .secNav .nav .dLink strong {font-size:14px; color:#484848; padding-right:16px; background: url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat right -104px; white-space:nowrap;}
#header .secNav .nav .btnLink {position:absolute; top:13px; right:-1px;}
#header .secNav .nav .btnLink li {float:left; font:11px dotum, "돋움", sans-serif; margin-right:15px;}
#header .secNav .nav p.btnLink {float:left; font:11px dotum, "돋움", sans-serif; margin-right:15px;}
#header .secNav .nav .btnLink a {line-height:1.33; font-size:11px; color:#888; padding-right:8px; background:url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat 100% -128px; font-family:'Dotum';}
/* ==========================================================================
Header - Badge
========================================================================== */
#header .secNav .nav .icnTpl {position:absolute; left:0; top:-10px; display:block; height:19px; z-index:9999; text-indent:-9999px; background:url('/Content/images/common/gnb/sp_bg_gnb.png?v=20161028') no-repeat;}
#header .secNav .nav .icnGood {left:15px; width:76px; background-position:-88px -727px;}
#header .secNav .nav .icnStar {left:2px; width:63px; background-position:0 -727px;}
#header .secNav .nav .icnStCore {left:20px; top:-19px; width:161px; height:25px; background-position:-189px -727px;}
/* ==========================================================================
Search
========================================================================== */
#header .secNav .search-co {position:absolute; right:0; top:50px; width:232px; height:26px; box-sizing:border-box; border:1px solid #2593f3; background-color:#fff; letter-spacing:-1px;}
#header .secNav .search-co .searchWrap {position:absolute; top:31px; right:0; width:580px; background:#fff url('/content/images/common/gnb/star_bg_schline.gif') repeat-y right 0; border:1px solid #4c5673; z-index:1000; }
#header .secNav .search-co .searchWrap_1 {position:absolute; top:55px; left:0; width:294px; background-color:#fff; border:1px solid #3a97fe; border-width:3px; z-index:1000;}
#header .secNav .search-co .searchList {float:right; height:267px !important; width:175px; padding:6px;}
#header .secNav .search-co .searchList ul {height:270px; overflow-y:scroll; overflow-x:hidden;}
#header .secNav .search-co .searchList ul li a {display:block; color:#333; padding:3px 0 6px 5px; letter-spacing:-1px; margin-right:2px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#header .secNav .search-co .searchList ul li a:hover,
#header .secNav .search-co .searchList ul li.active {background-color:#f7f7f7; text-decoration:underline;}
#header .secNav .search-co .searchList ul .hover {background-color:#f7f7f7;}
#header .secNav .search-co .searchList ul li strong {font-weight:normal; color:#ed4c0e;}
#header .secNav .search-co .popCoinfoWrap {float:left; border:0; position:relative; width:390px;}
#header .secNav .search-co .popCoinfoWrap .coInfo {padding:20px; height:80px; background:url(/Content/images/common/gnb/star_bg_popcoinfo.gif) no-repeat 18px 18px;}
#header .secNav .search-co .popCoinfoWrap .coInfo dt {padding:0 0 7px 160px;}
#header .secNav .search-co .popCoinfoWrap .coInfo dt a {color:#333; font:bold 16px/1.5 "Malgun Gothic","맑은 고딕",dotum,"돋움",sans-serif; letter-spacing:-1px; text-decoration:underline;}
#header .secNav .search-co .popCoinfoWrap .coInfo .info {padding:0 0 0 160px; color:#888; font:11px dotum,"돋움",sans-serif; letter-spacing:-1px; height:12px;}
#header .secNav .search-co .popCoinfoWrap .coInfo .info .num {color:#999; font-weight:bold; line-height:1.5;}
#header .secNav .search-co .popCoinfoWrap .coInfo .info .num img {vertical-align:middle; padding:0 2px 0 0; margin-top:-3px;}
#header .secNav .search-co .popCoinfoWrap .coInfo .info span {color:#e7e7e7; padding:0 3px; letter-spacing:-1px; }
#header .secNav .search-co .popCoinfoWrap .coInfo .logo {position:absolute; left:34px; top:34px;}
#header .secNav .search-co .popCoinfoWrap .coInfo .buttonFav {padding:9px 0 0 160px;}
#header .secNav .search-co .popCoinfoWrap .ingGi {padding:7px 10px 7px 18px; color:#333; min-height:57px; margin-top:5px;letter-spacing:-1px;}
#header .secNav .search-co .popCoinfoWrap .ingGi dt {font-weight:bold; padding-bottom:5px; letter-spacing:-1px;}
#header .secNav .search-co .popCoinfoWrap .ingGi dd {padding:2px 0;}
#header .secNav .search-co .popCoinfoWrap .ingGi dd img {vertical-align:middle;}
#header .secNav .search-co .popCoinfoWrap .ingGi dd em {color:#888; font:11px tahoma, dotum,"돋움",sans-serif; }
#header .secNav .search-co .popCoinfoWrap .ingGi dd .iconSt {background:url(/Content/images/starter/btn_part.gif) no-repeat 0 0;}
#header .secNav .search-co .popCoinfoWrap .ingGi dd.no {color:#999;}
#header .secNav .search-co .popCoinfoWrap .ingGi .iconSt {padding-right:5px;}
#header .secNav .search-co .popCoinfoWrap .ingGi .day {color:#888;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa {clear:both; margin-top:10px; padding-top:12px; background:#f7f7f7 url(/Content/images/common/gnb/star_bg_cored.gif) 50% 10px no-repeat;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa p {padding:3px 0 20px 30px; letter-spacing:-1px; line-height:1.6;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa p span {display: block;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa p .tx1 {color:#ccc;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa p .tit {color:#fff; font-size:14px;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa p .tit strong {color:#ffffcc;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa p img {vertical-align:middle;}
#header .secNav .search-co .popCoinfoWrap .banCoreDa .num{color: #99ffff;}
#header .secNav .search-co .popCoinfoWrap .noData {text-align:center; margin:110px 10px 0 10px;}
#header .secNav .search-co .popCoinfoWrap .noData strong {color:#ff6600;}
#header .secNav .search-co label {display:block; float:left; width:44px; height:22px; margin-right:6px; padding:6px 0 0 5px; line-height:1.33; box-sizing:border-box; font-size:11px; font-family:'Dotum'; color:#3399ff; background:url('/content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat 33px -601px;}
#header .secNav .search-co input {float:left; width:155px; height:22px; border:0; line-height:22px;}
#header .secNav .search-co .btn-search {display:block; position:absolute; right:6px; top:5px; width:14px; height:14px; background:#fff url('/content/images/common/gnb/sp_bg_gnb.png?v=20161028') no-repeat -10px -634px; text-indent:-9999px;}
#header .secNav .search-co .btn-search span {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height:100%;}
#header .search {clear:both; width:430px; margin-top:41px; height:38px; border:2px solid #39f;}
#header .search p.ad {width:230px; height:50px; padding:6px 0 0 10px;}
#header .search ol {position:absolute; top:7px; right:6px; z-index:0;}
#header .search ol li {float:left;}
#header .search fieldset {*zoom:1; text-align:left; z-index:1;}
#header .search fieldset dl dd {float:left; display:inline; height:39px;}
#header .search fieldset dl dd input#stext {float:left; border:0; width:373px; padding:0 0 3px 12px; height:35px; font:16px/35px '맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; letter-spacing:-1px;}
#header .search fieldset dl dd.smKey {width:385px; position:relative;}
#header .search fieldset dl dd.submit input {overflow:hidden; float:left; width:45px; height:38px; background:#39f url('/content/images/common/gnb/sp_bg_gnb.png?v=20161028') no-repeat -123px -230px; border:none; white-space:nowrap; cursor:pointer; text-indent:-9999em;}
#header .topKey {position:absolute; left:0; top:88px; width:430px; background:url('/content/images/main/tpl_bg_bul.png') no-repeat 0 -27px;}
#header .topKey ul {overflow:hidden; zoom:1; margin-left:14px;}
#header .topKey ul li {float:left; display:inline; padding:0 10px; background:url('/content/images/main/tpl_bg_bul.png') no-repeat left 4px;}
#header .topKey ul li:first-child {padding:0 10px 0 8px; background:none;}
#header .topKey a {font:12px '맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; color:#888; line-height:16px; letter-spacing:-1px; white-space:nowrap;}
#header .search fieldset .autoSearch {position:absolute; top:0px; left:0; z-index:1000;}
#header .search fieldset .autoSearch * {font:11px dotum,"돋움",sans-serif; letter-spacing:-1px; color:#5C99CE;}
#header .search fieldset .autoSearch .btnOdd {position:absolute; bottom:1px; right:1px; width:422px; height:18px; padding:7px 10px 0 0; background:#f0f8fe; text-align:right; }
#header .search fieldset .autoSearch .btnOdd button::-moz-focus-inner {padding:0; border:0;}
#header .search fieldset .autoSearch .btnOdd button.odd {padding-right:0; background:none;}
#header .search fieldset .autoSearch .btnOdd span {color:#d8e4ee; margin:0 3px 0 4px;}
#header .search fieldset .autoSearch .btnArrow {position:absolute; top:-25px; left:217px;}
#header .search fieldset .autoSearch .btnArrow button {display:block; width:13px; height:15px; background:url('/content/images/main/bg_home_search_all.gif') no-repeat -82px -5px; overflow:hidden;}
#header .search fieldset .autoSearchStop {position:absolute; top:34px; left:-2px; z-index:99;}
#header .search fieldset .autoSearchStop .description {line-height:15px; color:#888; padding-top:14px; text-align:center;}
#header .search fieldset .autoSearchStop .searchStopDesc {width:432px; height:75px; padding:0; border:1px solid #35a4fb; background:#fff;}
#header .search fieldset .autoSearchStop .btnArrowClose button {background:url('/content/images/main/bg_home_search_all.gif') no-repeat -97px -5px; overflow:hidden;}
#header .search fieldset .autoSearchStart {position:absolute; top:33px; left:-2px; width:560px; height:267px; background:url('/content/images/main/bg_home_search_all.gif') no-repeat 0 -30px;}
#header .search fieldset .autoSearchStart .btnOdd {bottom:2px; right:2px; width:auto; background:transparent;}
#header .search fieldset .autoSearchStart iframe {width:560px; height:265px;}
#header .search fieldset .autoSearchStart .bg {font-size:0; line-height:0; height:2px; background:#000; opacity:0.1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; filter:alpha(opacity=10);}
/* 자동완성 최적화 스타일 */
.autoSearch {display:block !important;}
.autoSearch #SearchStop,
.autoSearch #SearchStart {display:none !important;}
.autoSearchShow #SearchStart {display:block !important;}
.autoSearchShow #SearchStop {display:none !important;}
.autoSearchDisabled #SearchStart {display:none !important;}
.autoSearchDisabled #SearchStop {display:block !important;}
.autoSearchDisabledClose #SearchStop #StopDesc {display:none !important;}
.autoSearchDisabled #btnArrow_C {display:none !important;}
.autoSearchDisabled #btnArrow_O {display:block !important;}
.autoSearchDisabledClose #btnArrow_C {display:block !important;}
.autoSearchDisabledClose #btnArrow_O {display:none !important;}
/* 버튼 템플릿 1 : 이전/다음 */
.tpButtonNav_1 {display:inline-block; width:25px; height:13px; background:url('/content/images/main/bg_home_icon_all.gif') no-repeat 0 -100px; overflow:hidden; zoom:1;}
.tpButtonNav_1 button {float:left; width:11px; height:11px; margin:1px 0 0 1px; overflow:hidden;}
.tpButtonNav_1 button span {display:inline-block; width:11px; height:11px; background:url('/content/images/main/bg_home_icon_all.gif') no-repeat 4px -72px; padding-top:20px;}
.tpButtonNav_1 button.prev_no span {background-position:4px -72px;}
.tpButtonNav_1 button.prev_yes span {background-position:-6px -72px;}
.tpButtonNav_1 button.next_no span {background-position:-16px -72px;}
.tpButtonNav_1 button.next_yes span {background-position:-26px -72px;}
html>/**/body .tpButtonNav_1 button.prev_no span, x:-moz-any-link, x:default {background-position:0 -73px;} /* Only FireFox 3 */
html>/**/body .tpButtonNav_1 button.prev_yes span, x:-moz-any-link, x:default {background-position:-9px -73px;}
html>/**/body .tpButtonNav_1 button.next_no span, x:-moz-any-link, x:default {background-position:-19px -73px;}
html>/**/body .tpButtonNav_1 button.next_yes span, x:-moz-any-link, x:default {background-position:-29px -73px;}
/* ==========================================================================
Print
========================================================================== */
@media print {
	.globalBar .globalLink .fms a {overflow:hidden; white-space:pre-wrap;}
	.globalBar .globalLink .fms .mn {background:none; margin:0 0 0 5px;}
	.globalBar .globalLink .fms .mn span {width:85px; text-indent:0;}
}
/* ==========================================================================
GNB - Popup
========================================================================== */
#header .secNav .nav .ly {width:958px;}
#header .secNav .nav .column {position:relative; float:left; font-family:gulim, "굴림", sans-serif; width:156px; height:424px; border-right:1px solid #eaeaea;}
#header .secNav .nav .column_1 {padding:0; border:0;}
#header .secNav .nav .gi .column {width:191px;}
#header .secNav .nav .gi .column_1 {width:190px;}
#header .secNav .nav .starter .column {width:191px; height:450px;}
#header .secNav .nav .starter .column_1, #header .secNav .nav .starter .column_2 {width:190px;}
#header .secNav .nav .hr .column {width:191px; height:370px;}
#header .secNav .nav .good .column {width:191px; height:370px;}
#header .secNav .nav .alba .column {width:191px; height:325px;}
#header .secNav .nav .alba .column_1 {width:190px;}
#header .secNav .nav .edu .column {width:191px; height:370px;}
#header .secNav .nav .edu .column_1 {width:190px;}
#header .secNav .nav .edu .column_1 .hdNav_2 {margin-top:35px; border-top:1px solid #eaeaea;}
#header .secNav .nav .gg .column {width:191px;  height:370px;}
#header .secNav .nav .gg .column_1 {width:190px;}
#header .secNav .nav h4.hdNav {font:14px '맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; font-weight:bold; height:22px; line-height:20px; padding:6px 0 7px 20px; margin-bottom:10px; border-top:1px solid #eaeaea; color:#333;}
#header .secNav .nav h4.hdNav a {font-weight:bold; color:#494949; vertical-align:top; font-size:14px; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif;}
#header .secNav .nav h5.hdNav {color:#555; padding-left:20px; line-height:20px;}
#header .secNav .nav h5.hdNav a {color:#555;}
#header .secNav .nav .hdNav_1 {font-size:14px; background:#fbfbfb;}
#header .secNav .nav .hdNav_1 a strong {padding-right:14px; color:#484848; background: url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat right -104px;}
#header .secNav .nav .hdNav_2 {margin-bottom:9px;}
#header .secNav .nav h4.hdNav_noDepth {margin-bottom:0;}
#header .secNav .nav .listTypeInsetBottom {padding-bottom:10px;}
#header .secNav .nav .listType {zoom:1; font-family:gulim, "굴림", sans-serif; margin-left:20px; clear:both; overflow:hidden;}
#header .secNav .nav .listType li {color:#333; clear:both;}
#header .secNav .nav .listType li strong {color:#555; display:block; width:100%; clear:both; float:left; line-height:20px;}
#header .secNav .nav .listType a {color:#666; line-height:20px; font-family:gulim, "굴림", sans-serif;}
#header .secNav .nav .listType a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .listType .add {margin-bottom:9px;}
#header .secNav .nav .listType .begin {clear:left;}
#header .secNav .nav .listType .begin a {clear:left; padding-left:0; background:none;}
#header .secNav .nav .listType li img {vertical-align:0;}
#header .secNav .nav .listType_1 li {display:inline;}
#header .secNav .nav .listType_1 li a {float:left; padding-left:8px; margin-right:7px; background: url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat 0 -189px; white-space:nowrap;}
#header .secNav .nav .listType_2 {margin:0 0 9px 0;}
#header .secNav .nav .listType_2 a {color:#666;}
#header .secNav .nav .listType_3 {margin-bottom:9px;}
#header .secNav .nav .listType_4 li a {display:block; padding-left:20px;}
#header .secNav .nav .listType_4 li.now > a {position:relative; z-index:10;}
#header .secNav .nav .listType_4 li.now > a:hover,
#header .secNav .nav .listType_4 li.now > a:link {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .listType_4 li .arr {display:block}
#header .secNav .nav .listType_4 li.now .arr {display:block; position:absolute; z-index:20; left:186px; width:6px; height:11px; background: url('/content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat 0 -265px; margin-top:-17px;}
#header .secNav .nav .listType_4 li.now .part2st {display:block;}
#header .secNav .nav .listType_5 {height:87px;}
#header .secNav .nav .part2st li {line-height:22px;}
#header .secNav .nav .part2st li a {display:block; padding-left:15px;}
#header .secNav .nav .part2st li a:hover, #header .secNav .nav .part2st li a:focus {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .etcLink {position:absolute; left:20px; bottom:15px; font-family:dotum, "돋움", sans-serif;}
#header .secNav .nav .etcLink ul {font-size:11px;}
#header .secNav .nav .etcLink ul li {line-height:18px;}
#header .secNav .nav .etcLink ul li a {color:#39f; padding-right:9px; font-size:11px; background:url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat 100% -143px; font-family:'Dotum';}
#header .secNav .nav .gi .part2st {min-height:404px; height:404px;}
#header .secNav .nav .gg .ly {width:766px;}
#header .secNav .nav .ly-all .bannerGroup {overflow:hidden; position:relative; width:100%; padding-top:10px; text-align:center;}
#header .secNav .nav .ly-all .bannerGroup .item {display:block; overflow:hidden; width:100%; margin-bottom:9px; text-align:center;}
/* ==========================================================================
GNB
========================================================================== */
.header-main {margin-bottom:25px}
.header-sub {padding-bottom:38px; border-bottom:1px solid #c8cbce;}
.header-sub-salary {padding-bottom:38px; border-bottom:1px solid #c8cbce;}
/*#header .secNav .nav li > .active {z-index:100; display:block; top:44px;}*/
#header .secNav .nav .part2st {display:none; position:absolute; left:-9999px; top:-1px; z-index:15; width:191px; min-height:350px; height:auto !important; height:372px; padding:10px 0; border:1px solid #2d3d55; background-color:#fff;}
#header .secNav .nav .listType_4 li.now .part2st {display:block; left:191px;}
#header .secNav .nav .ly-all {display:none; z-index:30; position:absolute; left:0; top:44px; width:958px; border:1px solid #2d3d55; background-color:#fff; text-align:left;}
#header .secNav .nav-active .navItem .ly-all-active {display:block; z-index:100; top:44px; font-size:12px; letter-spacing:-1px;}
#header .secNav .nav .navItem .navItemLink {display:inline-block; width:100%; height:100%; padding-top:0; font-size:12px; line-height:44px;}
#header .secNav .nav .navItem .navItemLink span {display:block; position:absolute; left:0; top:14px; width:100%; height:16px; cursor:pointer; background-color:#46a5ff ; background-image:url('/content/images/common/gnb/sp_bg_gnb.png?20161028'); background-repeat:no-repeat;}
#header .secNav .nav .gi {margin-left:0;}
#header .secNav .nav .gi .navItemLink span {background-position:-830px -5px;}
#header .secNav .nav .gi-fixed {z-index:90;}
#header .secNav .nav .gi-active {z-index:100;}
#header .secNav .nav .gi .navItemLink:hover,
#header .secNav .nav .gi-fixed .navItemLink,
#header .secNav .nav .gi-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .gi .navItemLink:hover span,
#header .secNav .nav .gi-fixed .navItemLink span,
#header .secNav .nav .gi-active .navItemLink span {background-color:#fff; background-position:-774px -89px !important}
#header .secNav .nav .starter .navItemLink span {background-position:-63px -5px;}
#header .secNav .nav .starter-fixed {z-index:90;}
#header .secNav .nav .starter-active {z-index:100;}
#header .secNav .nav .starter .navItemLink:hover,
#header .secNav .nav .starter-fixed .navItemLink,
#header .secNav .nav .starter-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .starter .navItemLink:hover span,
#header .secNav .nav .starter-fixed .navItemLink span,
#header .secNav .nav .starter-active .navItemLink span {background-color:#fff; background-position:-61px -59px;}
#header .secNav .nav .starter .btnAll {padding-top:2px; text-align:center; width:152px; height:30px; border:1px solid #dadada; border-radius:3px; margin:10px 0; box-sizing:border-box; line-height:1;}
#header .secNav .nav .starter .btnAll em {color:#39f;}
#header .secNav .nav .starter .btnAll a {color:#333; padding-right:10px; background:url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat right -105px; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; }

#header .secNav .nav .hh .navItemLink{width:70px; box-sizing:border-box;}
#header .secNav .nav .hh .navItemLink span {background-position:-131px -5px;}
#header .secNav .nav .hh-fixed .navItemLink,
#header .secNav .nav .hh-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .hh-fixed .navItemLink span{background-position:-103px -154px; background-color:#fff; width:67px;}
#header .secNav .nav .hh-fixed {z-index:90;}

#header .secNav .nav .hr-fixed {z-index:90;}
#header .secNav .nav .hr-active {z-index:100;}
#header .secNav .nav .hr .navItemLink span {background-position:-203px -5px;}
#header .secNav .nav .hr .navItemLink:hover,
#header .secNav .nav .hr-fixed .navItemLink,
#header .secNav .nav .hr-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .hr .navItemLink:hover span,
#header .secNav .nav .hr-fixed .navItemLink span,
#header .secNav .nav .hr-active .navItemLink span {background-color:#fff; background-position:-130px -59px;}
#header .secNav .nav .good-fixed {z-index:90;}
#header .secNav .nav .good-active {z-index:100;}
#header .secNav .nav .good {margin-left:16px;}
#header .secNav .nav .good .navItemLink:before {display:none;}
#header .secNav .nav .good .navItemLink span {background-position:-675px -90px;}
#header .secNav .nav .good .navItemLink:hover,
#header .secNav .nav .good-fixed .navItemLink,
#header .secNav .nav .good-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .good .navItemLink:hover span,
#header .secNav .nav .good-fixed .navItemLink span,
#header .secNav .nav .good-active .navItemLink span {background-color:#fff; background-position:11px -479px;}
#header .secNav .nav .salary .navItemLink span {background-position:10px -90px;}
#header .secNav .nav .edu-fixed {z-index:90;}
#header .secNav .nav .edu-active {z-index:100;}
#header .secNav .nav .edu .navItemLink span {background-position:-63px -90px;}
#header .secNav .nav .edu .navItemLink:hover,
#header .secNav .nav .edu-fixed .navItemLink,
#header .secNav .nav .edu-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .edu .navItemLink:hover span,
#header .secNav .nav .edu-fixed .navItemLink span,
#header .secNav .nav .edu-active .navItemLink span {background-color:#fff; background-position:-92px -478px;}
#header .secNav .nav .gg-fixed {z-index:90;}
#header .secNav .nav .gg-active {z-index:100;}
#header .secNav .nav .gg .navItemLink span {background-position:-135px -90px;}
#header .secNav .nav .gg .navItemLink:hover,
#header .secNav .nav .gg-fixed .navItemLink,
#header .secNav .nav .gg-active .navItemLink {z-index:200; position:absolute; left:0; height:45px !important;border:1px solid #2d3d55; border-bottom:0; background-color:#fff; box-sizing:border-box;}
#header .secNav .nav .gg .navItemLink:hover span,
#header .secNav .nav .gg-fixed .navItemLink span,
#header .secNav .nav .gg-active .navItemLink span {background-color:#fff; background-position:-170px -479px;}
/* ==========================================================================
GNB - Submenu
========================================================================== */
#header .secNav .nav .submenu {position:absolute; left:0; top:44px; width:700px; height:38px; padding-left:12px; box-sizing:border-box;}
#header .secNav .nav .submenu.submenu-starter {width:720px;}
#header .secNav .nav .submenu > li {position:relative; float:left; height:38px; padding:0 12px;}
#header .secNav .nav .submenu > li.etc {background:none}
#header .secNav .nav .submenu > li.etc > a {background:none;}
#header .secNav .nav .submenu > li.active {border:0; background:transparent;}
#header .secNav .nav .submenu > li > a {display:block; overflow:hidden; height:38px; text-indent:-9999px; background:url('/content/images/common/gnb/sp_bg_gnb.png?v=20161028') no-repeat;}
#header .secNav .nav .submenu > li > a.active {position:relative; border:0;}
#header .secNav .nav .submenu > li > a span {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height:100%;}
#header .secNav .nav .submenu .home {width:12px; background-position: -2px -285px;}
#header .secNav .nav .submenu .home-active,
#header .secNav .nav .submenu .home:hover {background-position:-2px -367px;}
#header .secNav .nav .submenu .part {width:61px; background-position:-162px -322px;}
#header .secNav .nav .submenu .part-active,
#header .secNav .nav .submenu .part:hover {background-position:-162px -413px;}
#header .secNav .nav .submenu .area {width:33px; background-position:-333px -285px;}
#header .secNav .nav .submenu .area-active,
#header .secNav .nav .submenu .area:hover {background-position:-38px -367px;}
#header .secNav .nav .submenu .position {width:33px; background-position:-219px -285px;}
#header .secNav .nav .submenu .position-active,
#header .secNav .nav .submenu .position:hover {background-position:-152px -367px;}
#header .secNav .nav .submenu .co {width:33px; background-position:-38px -285px;}
#header .secNav .nav .submenu .co-active,
#header .secNav .nav .submenu .co:hover {background-position:-95px -367px;}
#header .secNav .nav .submenu .theme {width:56px; background-position:-2px -322px;}
#header .secNav .nav .submenu .theme-active,
#header .secNav .nav .submenu .theme:hover {background-position:-82px -413px;}
#header .secNav .nav .submenu .new {width:84px; background-position:-894px -285px;}
#header .secNav .nav .submenu .new-active,
#header .secNav .nav .submenu .new:hover {background-position:-818px -367px;}
#header .secNav .nav .submenu .search {width:44px; margin-top:0; border:0; background-position:-534px -285px;}
#header .secNav .nav .submenu .search-active,
#header .secNav .nav .submenu .search:hover {background-position:-595px -367px;}
#header .secNav .nav .submenu .interview {width:56px; background-position:-82px -322px;}
#header .secNav .nav .submenu .interview-active,
#header .secNav .nav .submenu .interview:hover {background-position:-2px -413px;}
#header .secNav .nav .submenu .license {width:44px; background-position:-602px -285px;}
#header .secNav .nav .submenu .license-active,
#header .secNav .nav .submenu .license:hover {background-position:-323px -367px;}
#header .secNav .nav .submenu .career {width:33px; background-position:-162px -285px;}
#header .secNav .nav .submenu .career-active,
#header .secNav .nav .submenu .career:hover {background-position:-209px -367px;}
#header .secNav .nav .submenu .starter-best1000 {width:78px; background-position:0 -762px;}
#header .secNav .nav .submenu .starter-best1000-active,
#header .secNav .nav .submenu .starter-best1000:hover {background-position:0 -793px;}
#header .secNav .nav .submenu .starter-passassay {width:55px; background-position:-90px -762px;}
#header .secNav .nav .submenu .starter-passassay-active,
#header .secNav .nav .submenu .starter-passassay:hover {background-position:-90px -793px;}
#header .secNav .nav .submenu .starter-explain {width:55px; background-position:-160px -762px;}
#header .secNav .nav .submenu .starter-explain-active,
#header .secNav .nav .submenu .starter-explain:hover {background-position:-160px -793px;}
#header .secNav .nav .submenu .starter-review {width:80px; background-position:-230px -762px;}
#header .secNav .nav .submenu .starter-review-active,
#header .secNav .nav .submenu .starter-review:hover {background-position:-230px -793px;}
#header .secNav .nav .submenu .starter-calendar {width:44px; background-position:-466px -285px;}
#header .secNav .nav .submenu .starter-calendar-active,
#header .secNav .nav .submenu .starter-calendar:hover {background-position:-391px -367px;}
#header .secNav .nav .submenu .starter-coredata {width:78px; background-position:-325px -762px;}
#header .secNav .nav .submenu .starter-coredata-active,
#header .secNav .nav .submenu .starter-coredata:hover {background-position:-325px -793px;}
#header .secNav .nav .submenu .starter-live {width:70px; background-position:-428px -322px;}
#header .secNav .nav .submenu .starter-live-active,
#header .secNav .nav .submenu .starter-live:hover {background-position:-428px -413px;}
#header .secNav .nav .submenu .starter-pdf {width:71px; background-position:-522px -322px;}
#header .secNav .nav .submenu .starter-pdf-active,
#header .secNav .nav .submenu .starter-pdf:hover {width:71px; background-position:-522px -413px;}
#header .secNav .nav .submenu .starter-times {width:45px; background-position:-256px -464px;}
#header .secNav .nav .submenu .starter-times-active,
#header .secNav .nav .submenu .starter-times:hover {background-position:-418px -464px;}
#header .secNav .nav .submenu .starter-guidebook {width:67px; background-position:-326px -464px;}
#header .secNav .nav .submenu .starter-guidebook-active,
#header .secNav .nav .submenu .starter-guidebook:hover {background-position:-488px -464px;}
#header .secNav .nav .submenu .goodjob-news {width:44px; background-position:-398px -285px;}
#header .secNav .nav .submenu .goodjob-news-active,
#header .secNav .nav .submenu .goodjob-news:hover {background-position:-527px -367px;}
#header .secNav .nav .submenu .goodjob-interview {width:56px; background-position:-82px -322px;}
#header .secNav .nav .submenu .goodjob-interview-active,
#header .secNav .nav .submenu .goodjob-interview:hover {background-position:-2px -413px;}
#header .secNav .nav .submenu .goodjob-inside {width:44px; background-position:-670px -285px;}
#header .secNav .nav .submenu .goodjob-inside-active,
#header .secNav .nav .submenu .goodjob-inside:hover {background-position:-459px -367px;}
#header .secNav .nav .submenu .goodjob-docs {width:33px; background-position:-276px -285px;}
#header .secNav .nav .submenu .goodjob-docs-active,
#header .secNav .nav .submenu .goodjob-docs:hover {background-position:-266px -367px;}
#header .secNav .nav .submenu .goodjob-info {width:94px; background-position:-829px -322px;}
#header .secNav .nav .submenu .goodjob-info-active,
#header .secNav .nav .submenu .goodjob-info:hover {background-position:-829px -413px;}
#header .secNav .nav .submenu .edu-support {width:66px; background-position:-247px -322px;}
#header .secNav .nav .submenu .edu-support-active,
#header .secNav .nav .submenu .edu-support:hover {background-position:-247px -413px;}
#header .secNav .nav .submenu .edu-seminar {width:55px; background-position:-809px -285px;}
#header .secNav .nav .submenu .edu-seminar-active,
#header .secNav .nav .submenu .edu-seminar:hover {background-position:-734px -367px;}
#header .secNav .nav .submenu .people-search {width:47px; background-position:-738px -285px;}
#header .secNav .nav .submenu .people-search-active,
#header .secNav .nav .submenu .people-search:hover {background-position:-663px -367px;}
#header .secNav .nav .submenu .people-school {width:80px; background-position:-617px -322px;}
#header .secNav .nav .submenu .people-school-active,
#header .secNav .nav .submenu .people-school:hover {background-position:-617px -413px;}
#header .secNav .nav .submenu .people-new {width:84px; background-position:-721px -322px;}
#header .secNav .nav .submenu .people-new-active,
#header .secNav .nav .submenu .people-new:hover {background-position:-721px -413px;}
#header .secNav .nav .hh .submenu{position:absolute; left:-170px; top:45px; width:500px; height:38px; padding-left:12px; box-sizing:border-box; background-color:#fff; z-index:201;}
#header .secNav .nav .hh .submenu + .submenu{width:230px; left:321px;}
#header .secNav .nav .hh .submenu + .submenu:before{content:''; position:absolute; top:11px; left:0; width:1px; height:15px; background-color:#c9c9c9; display:block;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .submenuItemLink{background:url(/content/images/common/gnb/sp_headhunting_gnb.png?201611180542); background-position-y:0px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .submenuItemLink.on,
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .submenuItemLink:hover{background-position-y:-38px; border:none; position:relative;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .home{background-position-x:-24px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .manager{background-position-x:-60px; width:62px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .deputy{background-position-x:-149px; width:34px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .ceo{background-position-x:-208px; width:53px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .director{background-position-x:-442px; width:35px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .general{background-position-x:-369px; width:49px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .assistant{background-position-x:-283px; width:61px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .find{background-position-x:-517px; width:69px;}
#header .secNav .nav .hh .submenu.submenu-hr .submenuItem .talk{background-position-x:-610px; width:92px;}
/* ==========================================================================
GNB - Submenu Layer
========================================================================== */
#header .secNav .nav .ly-submenu {display:none; z-index:900; position:absolute; left:0; top:38px; padding-top:0; box-sizing:border-box; background-color:#fff; border:1px solid #3399ff;}
#header .secNav .nav .ly-submenu > div.header {overflow:hidden; position:relative; height:43px; border-bottom:1px solid #eaeaea; box-sizing:border-box;}
#header .secNav .nav .ly-submenu > div.header .link-home {display:block; float:left; margin:11px 0 0 20px; padding-right:16px; font-size:14px; font-weight:bold; font-family:'맑은 고딕',Malgun Gothic,'돋움',Dotum,sans-serif; color:#484848; background:url('http://i.jobkorea.kr/content/images/common/gnb/sp_icn_gnb.png') no-repeat right -104px; line-height:1.42857;}
#header .secNav .nav .ly-submenu > div.header .link-home:hover {color:#484848 !important;}
#header .secNav .nav .ly-submenu > div.header .link-group {float:right; height:42px; padding:12px 18px 0 0; box-sizing:border-box;}
#header .secNav .nav .ly-submenu > div.header .link-group a {margin-left:19px; padding-right:8px; line-height:1.42857; font-size:11px; font-family:'Dotum'; color:#888; background:url('http://i.jobkorea.kr/content/images/common/gnb/sp_icn_gnb.png') no-repeat 100% -128px; font-family:'Dotum';}
#header .secNav .nav .ly-submenu > div.header .link-group a:hover {color:#888 !important;}
#header .secNav .nav .ly-submenu .icon-arrow-up {display:block; z-index:10; position:absolute; left:24px; top:-6px; width:9px; height:6px; background:url('/content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat -10px -536px;}
#header .secNav .nav .ly-submenu .container {position:relative; width:100%; min-height:auto; height:100%; margin:0 auto; padding:0;}
#header .secNav .nav .ly-submenu .row {padding-left:76px; background-color:#fbfbfb; box-sizing:border-box;}
#header .secNav .nav .ly-submenu-part {width:579px;}
#header .secNav .nav .ly-submenu-part .row {width:224px}
#header .secNav .nav .ly-submenu-part .row .header {position:absolute; left:0; top:14px; width:76px; text-align:center; font-size:14px; font-weight:bold; color:#484848; line-height:1.42857; font-family:'Malgun Gothic';}
#header .secNav .nav .ly-submenu-part .row .header-part1 {top:14px;}
#header .secNav .nav .ly-submenu-part .row .header-part2 {top:245px;}
#header .secNav .nav .ly-submenu-part .list {overflow:visible; padding:18px 20px 14px;}
#header .secNav .nav .ly-submenu-part .list ul {width:353px;}
#header .secNav .nav .ly-submenu-part .list ul li {float:left;}
#header .secNav .nav .ly-submenu-area {width:327px;}
#header .secNav .nav > li.on > a.on {z-index:200; height:34px}
#header .secNav .nav .submenu > .etc-edu {float:right; margin-right:0;}
#header .secNav .nav .submenu > .etc > a {padding-top:14px; line-height:1.42857; text-indent:0; font-family:'Dotum';}
#header .secNav .nav .submenu > .etc > a .icon {display:inline-block; position:relative; vertical-align:top;}
#header .secNav .nav .submenu > .etc > a .icon-hanq {top:3px; width:12px; height:11px; margin-left:2px; background:url('/content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat -10px -581px;}
#header .secNav .nav .ly-submenu .list {overflow:hidden; position:relative; padding:18px 0 14px 15px;}
#header .secNav .nav .ly-submenu .list li {margin-bottom:5px; text-align:left; letter-spacing:-1px;}
#header .secNav .nav .ly-submenu .list li a {display:block; width:100%; padding-right:15px; white-space:nowrap; box-sizing:border-box; color:#666; line-height:1.42857; font-family:'Dotum';}
#header .secNav .nav .ly-submenu .list li a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .ly-submenu .list-column-2 {overflow:hidden; position:relative; padding:18px 0 14px 15px;}
#header .secNav .nav .ly-submenu .list-column-2 li {float:left; width:50%; margin-bottom:5px; text-align:left; letter-spacing:-1px;}
#header .secNav .nav .ly-submenu .list-column-2 li a {display:block; width:100%; padding-right:15px; white-space:nowrap; box-sizing:border-box; color:#666; line-height:1.42857; font-family:'Dotum';}
#header .secNav .nav .ly-submenu .list-column-2 li a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .ly-submenu .list-theme .odd {width:110px;}
#header .secNav .nav .ly-submenu .list-part {overflow:visible; width:146px; padding:18px 0 14px; border-left:1px solid #eaeaea; border-right:1px solid #eaeaea; background-color:#fff;}
#header .secNav .nav .ly-submenu .list-part > li {text-align:left; letter-spacing:-1px;}
#header .secNav .nav .ly-submenu .list-part > li > a {display:block; width:100%; padding:0 20px 5px; white-space:nowrap; box-sizing:border-box; color:#666; line-height:1.42857; font-family:'Dotum';}
#header .secNav .nav .ly-submenu .list-part > li > a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .ly-submenu .list-overseas li {margin-bottom:3px;}
#header .secNav .nav .lyThirdlevelPart {display:none; position:absolute; left:223px; width:353px; height:100%; top:-1px;}
#header .secNav .nav .lyThirdlevelPart ul {overflow:hidden; position:relative; width:324px; padding:18px 0 14px 30px;}
#header .secNav .nav .lyThirdlevelPart li {float:left; width:50%; margin-bottom:5px;}
#header .secNav .nav .lyThirdlevelPart a {display:block; width:100%; padding-right:15px; white-space:nowrap; box-sizing:border-box; color:#666; line-height:1.42857; font-family:'Dotum';}
#header .secNav .nav .lyThirdlevelPart a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .lyThirdlevelPart ul {padding:18px 0 14px 30px !important;}
#header .secNav .nav .lyThirdlevelPart ul li {width:162px !important; box-sizing:border-box;}
#header .secNav .nav .lyThirdlevel .icon-arrow-left {display:block; z-index:10; position:absolute; left:-5px; top:0; width:6px; height:9px; background:url('/content/images/common/gnb/sp_bg_gnb.png?20161028') no-repeat -10px -557px;}
#header .secNav .nav .lyThirdlevelPart1 .icon-arrow-left {top:20px;}
#header .secNav .nav .lyThirdlevelPart2 .icon-arrow-left {top:42px;}
#header .secNav .nav .lyThirdlevelPart3 .icon-arrow-left {top:64px;}
#header .secNav .nav .lyThirdlevelPart4 .icon-arrow-left {top:86px;}
#header .secNav .nav .lyThirdlevelPart5 .icon-arrow-left {top:108px;}
#header .secNav .nav .lyThirdlevelPart6 .icon-arrow-left {top:130px;}
#header .secNav .nav .lyThirdlevelPart7 .icon-arrow-left {top:152px;}
#header .secNav .nav .lyThirdlevelPart8 .icon-arrow-left {top:174px;}
#header .secNav .nav .lyThirdlevelPart9 .icon-arrow-left {top:196px;}
#header .secNav .nav .lyThirdlevelPart10 .icon-arrow-left {top:250px;}
#header .secNav .nav .lyThirdlevelPart11 .icon-arrow-left {top:272px;}
#header .secNav .nav .lyThirdlevelPart12 .icon-arrow-left {top:294px;}
#header .secNav .nav .lyThirdlevelPart13 .icon-arrow-left {top:316px;}
#header .secNav .nav .lyThirdlevelArea1 .icon-arrow-left {top:15px;}
#header .secNav .nav .lyThirdlevelArea2 .icon-arrow-left {top:34px;}
#header .secNav .nav .lyThirdlevelArea3 .icon-arrow-left {top:53px;}
#header .secNav .nav .ly-submenu-area .list-area {overflow:visible; width:78px; height:136px; padding:11px 0 0 20px; border-right:1px solid #eaeaea; background-color:#fbfbfb;}
#header .secNav .nav .ly-submenu-area .list-area > li {text-align:left; letter-spacing:-1px; line-height:1.42857;}
#header .secNav .nav .ly-submenu-area .list-area > li > a {display:block; width:100%; padding-bottom:3px; white-space:nowrap; color:#666; font-family:'Dotum';}
#header .secNav .nav .ly-submenu-area .list-area > li > a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .lyThirdlevelArea {display:none; position:absolute; left:98px; top:-1px; width:226px; height:147px;}
#header .secNav .nav .lyThirdlevelArea .header {margin-bottom:3px; padding:11px 0 0 30px; line-height:1.42857; font-family:'Dotum'; font-weight:bold;}
#header .secNav .nav .lyThirdlevelArea ul {overflow:hidden; position:relative; width:196px; padding:11px 0 0 30px;}
#header .secNav .nav .lyThirdlevelArea .list-column-2 {padding:11px 0 0 30px;}
#header .secNav .nav  .lyThirdlevelAreaSubway ul {padding-top:0;}
#header .secNav .nav .lyThirdlevelArea li {float:left; width:33.3%; margin-bottom:3px; line-height:1.42857;}
#header .secNav .nav .lyThirdlevelArea a {color:#666; font-family:'Dotum';}
#header .secNav .nav .lyThirdlevelArea a:hover {color:#333 !important; text-decoration:underline;}
#header .secNav .nav .lyThirdlevelArea li.more a {padding-right:5px; color:#39f !important; background:url('/content/images/common/gnb/sp_icn_gnb.png') no-repeat 100% -141px;}
#header .secNav .nav .lyThirdlevelArea li.more a:hover {color:#39f !important;}
#header .secNav .nav .ly-submenu-part .icon-arrow-up {left:36px;}
#header .secNav .nav .ly-submenu-position {width:175px;}
#header .secNav .nav .ly-submenu-people-position {width:99px;}
#header .secNav .nav .ly-submenu-co {width:250px;}
#header .secNav .nav .ly-submenu-theme {width:280px;}
#header .secNav .nav .ly-submenu-theme .icon-arrow-up {left:34px;}
#header .secNav .nav .ly-submenu-career {width:100px;}
#header .secNav .nav .ly-submenu-hr-category {width:200px;}
#header .secNav .nav .ly-submenu-hr-co {width:220px;}
#header .secNav .nav .ly-submenu-edu-category {width:240px;}
#header .secNav .nav .ly-submenu-edu-license {width:270px;}
#header .secNav .nav .ly-submenu-edu-license .icon-arrow-up {left:29px;}
#header .secNav .nav .ly-submenu-edu-support {width:110px;}
#header .secNav .nav .ly-submenu-edu-support .icon-arrow-up {left:40px;}
#header .secNav .nav .ly-submenu-edu-seminar {width:105px;}
#header .secNav .nav .ly-submenu-edu-seminar .icon-arrow-up {left:34px;}
#header .secNav .nav .ly-submenu-starter-pdf {width:100px;}
#header .secNav .nav .ly-submenu-starter-pdf .icon-arrow-up {left:42px;}
#header .secNav .nav .ly-submenu-starter-interview {width:225px;}
#header .secNav .nav .ly-submenu-starter-interview .icon-arrow-up {left:37px;}
#header .secNav .nav .ly-submenu-goodjob-news {width:190px;}
#header .secNav .nav .ly-submenu-goodjob-news .icon-arrow-up {left:32px;}
#header .secNav .nav .ly-submenu-goodjob-interview {width:220px;}
#header .secNav .nav .ly-submenu-goodjob-interview .icon-arrow-up {left:37px;}
#header .secNav .nav .ly-submenu-goodjob-inside {width:180px;}
#header .secNav .nav .ly-submenu-goodjob-inside .icon-arrow-up {left:32px;}
#header .secNav .nav .ly-submenu-goodjob-docs {width:190px;}
#secStar .searchWrap_1 {position:absolute; top:55px; left:0; width:294px; background-color:#fff; border:1px solid #3a97fe; border-width:3px; z-index:1000;}
#secStar .searchList {padding:6px;}
#secStar .searchList ul {height:270px; overflow-y:scroll; overflow-x:hidden;}
#secStar .searchList ul li a {display:block; color:#333; padding:3px 0 6px 5px; letter-spacing:-1px; margin-right:2px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
#secStar .searchList ul li a:hover,
#secStar .searchList ul li.active {background-color:#f7f7f7; text-decoration:underline;}
#secStar .searchList ul .hover {background-color:#f7f7f7;}
#secStar .searchList ul li strong {font-weight:normal; color:#ed4c0e;}