* {
	padding: 0;
	margin: 0;
}

.cc {
	clear:both;
}

body {
	color: #667;
}

body, td {
	font: 10pt Tahoma, Arial, sans-serif;
}

a {
	color: #0080FE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#head {
	background-color: #F5F5F5;
	width: 100%;
}

#head-content {
	width: 1150px;
	height: 55px;
}

.hr {
	background-color: #ddd;
	width: 100%;
	height: 1px;
}

#logo {
	margin-top: 16px;
	float: left;
}

#logo a {
	font-size: 16pt;
	font-weight: bold;
	color: #99a;
	text-decoration: none;
}

#logo span {
	background-color: #0080FE;
	color: #fff;
}

#search {
	float: right;
	margin: 16px 40px 0px 0px;
}

#search input[type="text"] {
	width: 320px;
	padding: 5px;
	color: #667;
	border: 1px solid #ccc;
	background-color: #fff;
	-webkit-border-radius: 5px;
	 -khtml-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

#search input[type="submit"] {
	padding: 5px 10px;
	color: #667;
	border: 1px solid #eee;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	background-color: #ddd;
	cursor: pointer;
	-webkit-border-radius: 5px;
	 -khtml-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}

#menu {
	float: right;
	margin: 20px 0px 0px 0px;
}

#menu span {
	padding: 0px 15px;
	font-size: 10pt;
	color: #ccc;
}

#menu a:link,
#menu a:visited {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

#menu a:first-child {
	padding-left: 0px;	
}

#menu a:last-child {
	padding-right: 0px;	
}

#menu a:hover,
#menu a:active {
	text-decoration: underline;
}

.content-top {
	margin: auto;
	width: 1150px;
	padding: 12px 0px 12px 0px;
}

.header {
	float: left;
	text-align: left;
}

.header-right {
	float: right;
	text-align: left;
	padding-top: 2px;
}

.thumbs {
	width: 1185px;
	text-align: center;
}

.thumb {
	float: left;
	position: relative;
	margin: 2px;
	width: 290px;
	height: 165px;
	background-color: #f0f0f0;
	border:1px solid #aaa;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.image {
	position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;
}

.image img {
	width: 286px;
	height: 161px;
	border: none;
}

.dur {
	position: absolute;
	bottom: 6px;
	right: 6px;
	z-index: 2;
	padding: 4px;
	background-color: #000;
	font-size: 12px;
	opacity: 0.7;
	filter: alpha('opacity=70');
}

.channels_thumbs,
.categories_thumbs {
	width: 1184px;
}

.channels_thumbs div,
.categories_thumbs div {
	float: left;
	margin: 2px;
	padding-bottom: 5px;
	background-color: #f0f0f0;
	border: 1px solid #aaa;
	font-size:12pt;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.channels_thumbs img,
.categories_thumbs img {
	float: none;
	display: block;
	margin: 3px;
	width: 380px;
	height: 213px;
	border: 1px solid #fff;
}

.channels_thumbs a,
.categories_thumbs a {
	font-size: 12pt;
}

.pages {
	margin: 0px 0px 40px 0px;
	width: 1185px;
	height: 26px;
}

ul.pages_list {
	float: right;
	list-style:none;
}

ul.pages_list li {
	float: left;
	display: block;
}

ul.pages_list li a {
	padding: 6px 8px;
	margin: 0px 4px;
	color: #333;
	background: #f0f0f0;
	font-size: 13pt;
	border: 2px solid #aaa;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

ul.pages_list li a:hover {
	background: #f00;
	border: 2px solid #f00;
	color: #ffffff;
	text-decoration: none;
}

ul.pages_list li span {
	padding: 8px 10px;
	margin: 0px 4px;
	color: #fff;
	background: #0080FE;
	font-size: 13pt;
	border: 2px solid #0080FE;
	-webkit-border-radius: 3px;
	 -khtml-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}

.main {
	width:1185px;
	margin: 0px 0px 40px 0px;
}

.content {
	width:100%;
	padding: 25px 0px 25px 0px;
}

p.content-header {
	font-size: 27px;
	font-weight: bold;
	margin-bottom: 25px;
}

div.header span, h1 {
	font-size: 14pt;
	font-weight: normal;
}

#footer {
	width: 100%;
	background-color: #646464;
	color: #c5c5c5;
	padding: 30px 0px 30px 0px;
}

#footer a {
	color: #fff;	
}

#foot-content {
	width: 1185px;
}

#foot-links span {
	padding: 0px 15px;	
}

.top { margin: auto; width: 1000px; }
.top ul { padding:0; margin:0; width:250px; float:left; }
.top li { list-style:none; text-align:left; padding-bottom:4px; font:14pt Arial, sans-serif; }
.top a { font-size:13pt; text-decoration:none; }
.top a:hover { text-decoration:underline; }

/* ----- video page ----- */

#player {
	float: left;
	position: relative;
	width: 768px;
	height: 432px;
	background-color: black;
	cursor: hand;
	cursor: pointer;
}

#screenshot {
	position: absolute;
	z-index:1;
	top: 0px;
	left: 0px;	
}

#play-button {
	position: absolute;
	z-index: 2;
	top: 166px;
	left: 334px;
	opacity: 0.7;
	filter: alpha('opacity=70');	
}

#play-controls {
	position: absolute;
	z-index: 3;
	bottom: 0px;
	left: 0px;	
}

#video-right {
	float: left;
	width: 868px;
}

#video-share {
	float: left;
	width: 100px;
	height: 432px;
	background-color: #ddd;	
}

#video-info {
	width: 868px;
	background-color: #eee;	
	text-align: left;
}

#report_form {
	width: 270px;
	display: none;
	background-color: #FFF;
	color:black;
	text-decoration: none;
	padding:10px;
	border: #000 1px solid;
}

#video-left {
	float: left;
	padding: 6px;
	background-color: #CCC;
	border: 2px solid #667;
}

#video-left div {
	width: 300px;
	height: 250px;
	margin-bottom: 6px;
	background-color: #EEE;
}

#video-left div:last-child {
	margin-bottom: 0px;
}