/* 
Document   : basic
Created on : 2009-3-5, 11:11:30
Author     : AD
Description:
A basic stylesheet, can be linked by all Diigo projects.
Include css reset section and font-family, size and line-height etc of basic elements.
*/

/*-------------------------------------------
* Reset
* Yahoo css reset
--------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/*-------------------------------------------------------------------
* Basic Elements
* Define styles for basic elements: body, h1-h6, ul, ol, a, p, etc.
--------------------------------------------------------------------*/
body{
    font: normal 13px Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
select, input, textarea{font-family:Helvetica, Arial, sans-serif;}
a{
    color:#04c;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{font-size: 1.5em;}
h2{font-size: 1.4em;}
h3{font-size: 1.3em;}
h4{font-size: 1.2em;}
h1, h2, h3{font-weight:700; line-height:1.5;}
em{
    font-style:italic;
}
strong{
    font-weight:bold;
}
