body{
    color: #464646;
    font-family:Helvetica,Arial,sans-serif;
    /*background: url(/images/v6/homepage/bg.jpg);*/
    /*background: rgb(185, 185, 185);*/
    background-color:#fff;
    font-weight: 200;
}

.clear{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}



/*header*/

.desktop{
  display: block;
}

.mobile{
  display: none;
}


#header {
    position: relative;
    /*background: url(/images/top_nav_bg.png) repeat-x;*/
    border-bottom: 1px solid #e4fdff;
    min-width: 1100px;

}
#headerInner {
    margin: 0 auto;
    position: relative;
    width: 1100px;
    height: 80px;
    line-height: 80px;

}
#logo {
    cursor: pointer;
    position: absolute;
    top: 6px;
    text-align: left;
    z-index: 9;
}

#logo:hover {
    text-decoration: none;
}

#logo span {
    display: block;
    width: 156px;
    height: 60px;
    background: url(/images/v6/logo.png) no-repeat;
}

#topNav {
    font-size: .9em;
    font-weight: 400;
    position: absolute;
    left: 210px;
    top: 21px;
    height: 30px;

}

#topNav a {
    text-decoration: none;
}

#topNav li {
    float: left;
    font-size: 1.1em;
    line-height: 30px;
    margin-right: 1px;
}

#topNav li a {
    display: block;
    padding-left: 1.5em;
    color: #7f7f7f;
}

#topNav li a:hover {
    /*text-decoration: underline;*/
}
#topNav li a:hover span{
    color: #000;
}
#topNav li a:active {
    color: #000;
}

#topNav li a span {
    display: block;
    padding-right: 1.5em;
    white-space: nowrap;
    text-shadow: 0 1px 1px #fff;
    font-size: 13px;
    font-weight: 600;
    /*color: #000;*/
}

#topNav li.current a {
    color: #000;
}

#TopUserNav {
    position: absolute;
    /*width: 180px;*/
    right: 10px;
    top: 18px;
    height: 35px;
}




.UserNavAll{
    position: absolute;
    /*width: 180px;*/
    right: 50px;
    top: 18px;
    height: 35px;
}

.UserNavAll .shortcuts {
    float: left;
    /*width: 120px;*/
    line-height: 35px;
}

.UserNavAll .shortcuts ul li {
    float: left;
    line-height: 35px;
    margin-right: 1px;

}

.UserNavAll .shortcuts ul li a {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color:rgb(77,77,77);
    text-shadow: 0 1px 1px #fff;

}
.UserNavAll .shortcuts ul li cite{
    color: rgb(140,140,140);
}
.UserNavAll .shortcuts ul li a:hover{
    color: #000;
    /*font-weight: 600;*/
    /*text-decoration: none;*/
}

.UserNavAll .shortcuts ul li#SignInButton a{
    position: relative;
    /*width: 67px;*/
    padding: 0px 10px;
    /*background: red;*/
    float: left;
    font-weight: 600;
    border: 1px solid rgb(160,160,160);
    border-bottom-color: rgba(0,0,0,.47);
    margin-left: 0.5em;
    margin-top: 2px;
    line-height: 30px;
    background-color: rgb(226,223,223);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 1%,rgb(226, 223, 223) 69%,rgba(173, 173, 173, .61) 100%);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 1%,rgb(226, 223, 223) 69%,rgba(173, 173, 173, .61) 100%);
    border-radius: 3px;
}

.UserNavAll .shortcuts ul li#SignInButton a:hover{
    text-decoration: none;
    background: -webkit-linear-gradient(top,rgba(173, 173, 173, .61) 1% ,rgb(226, 223, 223) 31%,rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(top,rgba(173, 173, 173, .61) 1% ,rgb(226, 223, 223) 31%,rgb(255, 255, 255) 100%);
}

.UserNavAll .shortcuts ul li a span {
    display: block;
    /*padding-right: 1.5em;*/
    white-space: nowrap;
    font-size: 10px;
    color: #000;
}

#TopUserNav .shortcuts {
    float: left;
    width: 120px;
    line-height: 35px;
}

#goPremiumShortcut {
    margin-left: 5px;
    padding: 2px 10px;
    background-color: #4ea2e4;
    color: #fff;
    /*font-weight: bold;*/
    font-size: 12px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

#goPremiumShortcut:hover {
    text-decoration: none;
    background-color: #027fd9;
}

#TopUserNav .userpanel {
    float: right;
    width: 55px;
}

#TopUserNav .userpanel .useravatar {
    width: 33px;
    float: left;
    height: 35px;
}

#TopUserNav .userpanel .useravatar img {
    width: 33px;
    height: 33px;
    margin-top: 1px;
    border-radius: 16px;
}

#TopUserNav .userpanel .down {
    height: 35px;
}

#TopUserNav .userpanel .down a span.downicon {
    padding-right: 9px;
    height: 6px;
    margin-top: 16px;
    margin-left: 5px;
    display: block;
    background: url(/images/header_user_more.png) no-repeat;
    float: left;
}

#TopUserNav .userpanel .down a:hover {
    text-decoration: none;
}
.userpanelMenu{
    width:110px;
    position: absolute;
    z-index: 9;
    list-style-type: none;
    border: 1px solid #999;
    border-left-color: #d9d9d9;
    border-top-color: #d9d9d9;
    border-radius: 4px;
    padding: 4px 0;
    background: #fff;
    line-height: 26px;
    font-size: .9em;
    white-space: nowrap;
    top:43px;
    right: 0px;
}
.userpanelMenu li{
    float: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-right: none;
    z-index: 8;
    display: block;
    line-height: 26px !important;
    overflow: hidden;
}
.userpanelMenu li a{
    font-weight: normal;
    display: block;
    padding-right: 10px !important;
    padding-left: 10px !important;
    text-decoration: none !important;
    line-height: 26px;
    height: 26px;
    color: #434343;
    min-width: 60px;
    width: 140px;
    background: none !important;
    border: none !important;
}
.userpanelMenu li a:hover{
    background-color: #e8e8e8 !important;
    color: #434343 !important;
    text-decoration: none !important;
}
.userpanelMenu div.spinous{
    position: absolute;
    width: 15px;
    height: 8px;
    background: url(/images/spinou.png) no-repeat;
    border: none;
    z-index: 10;
    top: -8px;
    right: 30px;
}

.homeUserNav{
    text-align: right;

}

.homeUserNav ul{
}

.homeUserNav ul li{
    display: inline-block;
    font-size: 20px;
    margin-left: 20px;
    height: 45px;
    line-height: 45px;
}

.homeUserNav ul li a{
    color: #888;
    font-weight: 200;
}

#SignUpButton a{
    border: 1px solid #888;
    padding: 10px 20px;
    border-radius: 7px;
}

#SignUpButton a:hover{
  text-decoration: none;
  background-color: #eee;
}

#Downloads a{
  color: rgb(39, 107, 178);
}


/*banner*/
.getStart{
    height: 60px;
    width: 235px;
    line-height: 60px;
    background-color:#ffa049;
    text-align: center;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    display: inline-block;
}

.getStart:hover{
    background-color: #FC7D08;
}

#banner{
    border-top: 1px solid #396184;
    background-color: #2269B4;
    min-width: 1100px;
}

.bannerInner{
    height: 540px;
    position: relative;
    width: 1100px;
    margin: 0 auto;
}
.bannerInner .aw {
    height: 91px;
    width: 1001px;
    background: url("/images/v6/homepage/aw.png") no-repeat;
    margin: 40px auto 0px auto;
}

.bannerInner .bannerImg{
    width:1034px;
    height: 425px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.bannerInner .bannerImg img{
  max-width: 100%;
  max-height: 100%;
}

.bannerInner .tagLine{
    color: #fff;
    font-weight: 200;
    color: #dae5f7;
    position: absolute;
    top: 219px;
    right: 100px;
}
.bannerInner .tagLine .t1{
    font-size: 45px;
}
.bannerInner .tagLine .t2{
    font-size: 24px;
}
.bannerInner .tagLine .getStart{
    margin-top: 30px;
}

/*section*/

.f_section{
  min-width: 1100px;
}

.f_sectionInner{
    width: 1100px;
    height: 455px;
    margin: 0 auto;

}

.f_section .img{
    width: 550px;
    height: 455px;
    position: relative;
    text-align: center;
}


/*.f_section .img:after{
    vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: '';
}*/

.f_section .img span{
    vertical-align: middle;
    width: 550px;
    height: 455px;
}
.f_section .img img{
    position: relative;
    top: 50%;
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}
.f_section .text{
    font-size: 30px;
    font-weight: 200;
    width: 500px;
    height: 455px;
    color: #737373;
    display: table;

}
.f_section .text span{
    display: table-cell;
    vertical-align: middle;
}

.f_section .text .title{
    color: #000;
    font-size: 54px;
}

.f_section.ir{
    background-color: #f7f7f7;
}


.f_section.il .img{
    float: left;
}
.f_section.il .text{
    float: right;
}

.f_section.ir .img{
    float: right;
}
.f_section.ir .text{
    float: left;
}


/* Glance */
.glanceInner{
    width: 1100px;
    margin: 0 auto;
}


.glanceInner .glaceTitle{
    text-align: center;;
    font-size: 54px;
    margin:30px 0;
}

.glances{

}

.glances ul li{
    width: 275px;
    height: 240px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}

.glances ul li .img{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(/images/v6/homepage/other-icon.png);
}

.glances ul li.tags .img{
  background-position: -99px 0;
}
.glances ul li.library .img{
  background-position: -199px 0;
}
.glances ul li.hilights .img{
  background-position: -299px 0;
}
.glances ul li.sticknotes .img{
  background-position: 0px -88px;
}
.glances ul li.outliner .img{
  background-position: -99px -88px;
}
.glances ul li.groups .img{
  background-position: -199px -88px;
}
.glances ul li.archived .img{
  background-position: -299px -88px;
}



.glances ul li .g_title{
    font-size:  26px;
      margin: 7px 0;
}
.glances ul li .g_des{
    font-size:  16px;
      padding: 0 20px;
}


/*Social */


#social{
  background-color: #4e8df6;
  margin-top: 100px;
  color: rgba(255,255,255,.9);
  min-width: 1100px;
}

.socialInner{
  width: 1100px;
  margin: 0 auto;
}

.socialInner .aw{
  text-align: center;
  font-size: 30px;
  padding: 100px 0;
}

.socialInner .aw br{
  display: none;
}
.socialInner .aw .getStart{
  display: inline-block;;
}

.socialnetwork ul{
  text-align: center;
}

.socialnetwork ul li{
  display: inline-block;
  margin: 0 20px;
}
.socialnetwork ul li a{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(/images/v6/homepage/other-icon.png);
}
.socialnetwork ul li.facebook a{
  background-position: -11px -181px;
}
.socialnetwork ul li.twitter a{
  background-position: -104px -181px;
}

.socialnetwork ul li.tumblr a{
  background-position: -196px -181px;
}

.socialnetwork ul li.blog a{
  background-position: -289px -181px;
}

.socialInner .footer{
    font-size: 16px;
    text-align: center;
    padding: 20px;
    line-height: 2;
}
.socialInner .footer .links li{
  display: inline-block;
  margin: 0 20px;
}
.socialInner .footer .links li a{
  color: rgba(255,255,255,.9);
}


.mobileNav{
  position: absolute;
  width: 100%;
  top: 80px;
  background: rgba(255,255,255,.9);
  z-index: 10;
}

.mobileNav  li{
    padding:10px 10px;
    font-size: 16px;
}



.mobileNav ul li#SignUpButton{
  border: none;
  padding: 10px;
  border-radius: 0;
}


/* 6 plus */
@media only screen and (max-width: 415px){

  #topNavInner{
    display: none;
  }
  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }


  .mobile .handlerButton{
    height: 60px;
    width: 40px;
    margin: 10px 20px 0 0;
    float: right;
  }
  .mobile .handlerButton div{
      height: 3px;
      background-color: rgba(0,0,0,.5);
      margin: 13px 0;
  }

  .mobile .homeUserNav{
    display: none;
  }

  .mobile #TopUserNav{
    display: none;
  }


  #header,#banner,.f_section,#social{
    min-width: 410px;
  }

  #headerInner,.bannerInner,.f_sectionInner,.glanceInner,.socialInner{
    width: 410px;
    overflow: hidden;
  }
.bannerInner .tagLine{
  top: 10px;
  text-align: center;
  width: 410px;
  left: 50%;
  margin-left: -205px;
}

    .bannerInner {
        height: 585px;
    }

    .bannerInner .tagLine {
        top: 81px;
    }

    .bannerInner .aw {
        display: none;
    }

.bannerInner .bannerImg{
    left: 50%;
    margin-left: -285px;
    width: 724px;
    height: 296px;
}

.bannerInner .tagLine .getStart{
  margin-top: 5px;
}

.f_sectionInner{
  box-sizing: border-box;
  padding: 5px;
  height: 250px;
}

.f_section .img{
  width: 150px;
  height: 250px;
}

.f_section .img span{
  width: 150px;
  height: 250px;
}


.f_section .text{
  width: 250px;
  height: 250px;
  font-size: 20px;
}

.f_section .text .title{
    font-size: 26px;
}

.f_section.il .img{
    float: right;
}
.f_section.il .text{
    float: left;
}

.glanceInner{
  box-sizing: border-box;
  padding: 5px;
}

.glanceInner .glaceTitle{
  font-size: 26px;
}

.glances ul li{
  width: 200px;
  height: 260px;
}
.glances ul li .g_title{
  font-size: 20px;
}
.glances ul li .g_des{
  padding: 0 5px;
}

#social{
    padding-bottom: 50px;
}

.socialInner .aw{
  font-size: 20px;
  padding: 50px 0;
}
.socialInner .aw br{
  display: block;
}

}


@media only screen and (max-width: 376px){




  #header,#banner,.f_section,#social{
    min-width: 370px;
  }

  #headerInner,.bannerInner,.f_sectionInner,.glanceInner,.socialInner{
    width: 370px;
    overflow: hidden;
  }
    .bannerInner {
        height: 585px;
    }

    .bannerInner .tagLine {
        top: 81px;
    }

    .bannerInner .aw {
        display: none;
    }

  .f_section .img{
    width: 150px;
    height: 250px;
  }

  .f_section .img span{
    width: 150px;
    height: 250px;
  }

  .f_section .text{
    width: 210px;
    height: 250px;
    font-size: 20px;
  }

  .glances ul li{
    width: 180px;
    height: 260px;
  }

  .socialnetwork ul li{
    margin: 0 10px;
  }

}

@media only screen and (max-width: 321px){
  #header,#banner,.f_section,#social{
    min-width: 310px;
  }

    .bannerInner {
        height: 512px;
    }

    .bannerInner .tagLine {
        top: 102px;
    }

    .bannerInner .aw {
        display: none;
    }

  #headerInner,.bannerInner,.f_sectionInner,.glanceInner,.socialInner{
    width: 310px;
    overflow: hidden;
  }

  .f_section .img{
    width: 130px;
    height: 250px;
  }

  .f_section .img span{
    width: 130px;
    height: 250px;
  }

  .f_section .text{
    width: 170px;
    height: 250px;
    font-size: 16px;
  }

  .glances ul li{
    width: 150px;
    height: 300px;
  }

}
