﻿﻿/*
Theme Name: Frontier
Theme URI: http://ronangelo.com/frontier/
Description: Frontier is a multi-purpose, HTML5 and CSS3 WordPress theme. It lets you choose between 1, 2 or 3 column layouts while offering independent template layouts for pages. The theme's responsive design makes it compatible with a wide variety of devices and screen resolutions. Frontier is easy to customize through its wide array of options that are simple and easy to understand. It has a lot of strategically placed Widget Areas and Action Hooks that helps achieve a higher level of customization. Theme features include favicons, logos, header images, color options, custom css, a simple image slider, rtl support and a whole lot more. Frontier accomplishes all this while maintaining a minimal file size for a fast and efficient WordPress experience.
Author: ronangelo
Author URI: http://ronangelo.com/
Version: 1.2.4
Tags: black, blue, white, dark, light, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, sticky-post, theme-options, threaded-comments, microformats, translation-ready, rtl-language-support
Text Domain: frontier
License: GNU General Public License, Version 3 or later
License URI: http://www.gnu.org/licenses/gpl.html

This theme is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

IMPORTANT: Do not edit this file. All your modifications will be deleted when the theme is updated. It is recommended to either use the Custom CSS option for CSS changes or use a child-theme if you also plan to modify HTML & PHP.
--------------------------------------------- */

html, body, h1, h2, h3, h4, h5, h6, p, img, ul, ol, li, form, fieldset {
	border: none;
	margin: 0;
	padding: 0;
	list-style: none;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	background-color: #505050;
	color: #303030;
	font-family: Arial, Sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary {
	display: block;
}

embed, iframe, object, video {
	max-width: 100%;
}

h1 {font-size: 24px; font-size: 1.500rem;}
h2 {font-size: 22px; font-size: 1.375rem;}
h3 {font-size: 20px; font-size: 1.250rem;}
h4 {font-size: 18px; font-size: 1.125rem;}
h5 {font-size: 16px; font-size: 1.000rem;}
h6 {font-size: 14px; font-size: 0.875rem;}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: 'Roboto Condensed', Sans-serif;
	font-weight: inherit;
	line-height: 1.2;
}

a {
	color: #0E4D7A;
	cursor: pointer;
	text-decoration: none;
}

pre {
	background-color: #F0F0F0;
	border: 1px solid #AAA;
	margin: 8px 0;
	padding: 8px;
	overflow: auto;
	-ms-word-wrap: normal;
	word-wrap: normal;
}

pre, code {
	font-size: 13px;
	font-size: 0.813rem;
	line-height: 1.55;
}

blockquote {
	background-color: #EDEDED;
	border-left: 6px solid #687888;
	margin: 20px;
	padding: 10px 14px 2px;
	font-style: italic;
}

blockquote cite {
	display: block;
	margin-top: 8px;
	text-align: right;
	font-style: normal;
	font-size: small;
}

dl {padding-left: 20px;}
dt {font-weight: bold;}
dd {margin: 0 0 10px;}

table {
	width: 98%;
	border-collapse: collapse;
	margin: 10px auto;
}
th {
	background-color: #DDD;
	font-weight: normal;
}
th, td {
	border: 1px solid #AAA;
	font-size: 14px;
	font-size: 0.875rem;
}

ul, ol {
	margin-top: 4px;
	margin-bottom: 8px;
	padding-left: 20px;
}
ul ul, ol ol {padding-left: 15px;}

li {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 15px;
	margin-right: 0;
}

address {margin-bottom: 10px;}

.cf:after {
    clear: both;
    content: "";
    display: table;
}

/*----------------------------------------------
	Main Structure
-----------------------------------------------*/
#container {
	margin: 0 auto;
	box-shadow: 0 0 6px #000;
}

#top-bar {
	background-color: #222;
	border-bottom: 1px solid #000;
	padding: 4px;
	min-height: 34px;
	width: 100%;
}
#top-bar-info {
	float: left;
	margin-top: 4px;
}
#site-title, #site-description {
	display: inline-block;
	margin-right: 4px;
	line-height: 1;
	vertical-align: bottom;
}
#site-title {font-size: 20px;}
#site-title a {color: #DC8300;}
#site-description {
	color: #CCC;
	font-size: 15px;
}

#header {
	background-color: #FFF;
	background-position: center;
	border-bottom: 1px solid #000;
	width: 100%;
}
#header-logo {display: inline-block;}
#header-logo, #header-logo img {
	max-width: 100%;
	float: left;
}

#below-menu {width: 100%;}

#main {
	background-color: #F5F5F5;
	padding: 5px;
	width: 100%;
}

#content {
	position:relative;
	display: inline-block;
	padding: 5px;
}

.sidebar {
	display: inline-block;
	float: left;
	padding: 5px;
}

#footer {width: 100%;}

#bottom-bar {
	background-color: #222;
	color: #FFF;
	width: 100%;
	min-height: 34px;
	border-top: 1px solid #000;
	text-shadow: 0 0 2px #000;
}

#bottom-bar a {color: #DC8300;}

#bottom-bar-text {
	float: left;
	padding: 6px 8px;
}

#theme-link {
	float: right;
	margin: 6px 10px;
	font-family: 'Roboto Condensed', Sans-serif;
	font-size: 15px;
}

#theme-link a {color: #CCC;}

#theme-link a:hover {color: #DC8300;}

/* No Sidebar */
.col-c #content, #content.no-sidebars {
	width: 100%;
	max-width: 100%;
}

/* 1 Sidebar - Left */
.col-sc #content {float: right;}

/* 1 Sidebar - Right */
.col-cs #content {float: left;}

/* 2 Sidebars - Left */
.col-ssc #content {float: right;}

/* 2 Sidebars - Right */
.col-css #content {float: left;}

/* 2 Sidebars - Left & Right */
.col-scs #sidebar-left {
	float: left;
	margin-right: 0;
}
.col-scs #sidebar-right {
	float: right;
	margin-left: -4px;
}

.page-template-page-sc-php #main #content {float: right;}
.page-template-page-cs-php #main #content {float: left;}
.page-template-page-scs-php #main #content  {float: none;}
.page-template-page-scs-php #main #sidebar-left {
	float: left;
	margin-right: 0;
}
.page-template-page-scs-php #main #sidebar-right {
	float: right;
	margin-left: -4px;
}

/*----------------------------------------------
	Navigation Menus
-----------------------------------------------*/
#nav-main {
	background-color: #2A5A8E;
	width: 100%;
	border-bottom: 1px solid #000;
	padding-left: 10px;
	line-height: 1.2;
}
#nav-main * {
	-webkit-transition: all 0.14s ease-out;
	-moz-transition: all 0.14s ease-out;
	transition: all 0.14s ease-out;
}

#nav-main ul, #nav-main li, #nav-top ul, #nav-top li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav-main .nav-main {
	position: relative;
	float: left;
	border-left: 1px solid #023266;
	border-right: 1px solid #4878AC;
	z-index: 300;
}
#nav-main .nav-main li {
	float: left;
	position: relative;
}

#nav-main .nav-main > li, #nav-main .nav-main > ul > .page_item {
	background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, 0.15) 100%);
	border-right: 1px solid #023266;
	border-left: 1px solid #4878AC;
}

#nav-main .nav-main > li > a, #nav-main .nav-main > ul > .page_item > a {
	min-width: 80px;
	text-align: center;
}

#nav-main .nav-main a {
	display: block;
	padding: 8px 14px;
	color: #FFF;
	font-family: 'Roboto Condensed', Sans-serif;
	font-size: 16px;
	text-shadow: 0 0 2px #222;
}
#nav-main .nav-main a:hover {
	background-color: #FFF;
	color: #000;
	text-shadow: none;
}

#nav-main .menu-item-has-children > a:after,
#nav-main .page_item_has_children > a:after {
	font-family: "Genericons";
	content: "\f431";
	vertical-align: top;
	padding-left: 4px;
}

#nav-main .sub-menu, #nav-main .children {
	background-color: #2B2B2B;
	position: absolute;
	float: left;
	width: 180px;
	border: 1px solid #000;
	box-shadow: 0 1px 4px #000;
	z-index: 990;
	display: none;
}

#nav-main .sub-menu li, #nav-main .children li {
	border-top: 1px solid #3B3B3B;
	border-bottom: 1px solid #000; 
}

#nav-main .sub-menu li:first-child,
#nav-main .children li:first-child {border-top: none;}
#nav-main .sub-menu li:last-child,
#nav-main .children li:last-child {border-bottom: none;}

#nav-main .sub-menu a, #nav-main .children a {
	float: left;
	width: 178px;
	padding: 10px 14px;
	font-size: 15px;
}

#nav-main .sub-menu .sub-menu, #nav-main .children .children {top: -1px;}

#nav-main li:hover > ul {display: inline;}

#nav-main .drop-toggle {
	display: none;
}

#nav-main .genericon-menu {
	color: #FFF;
	font-size: 30px;
	height: auto;
	padding: 5px 10px;
	width: auto;
}

#nav-top {float: right;}
#nav-top .nav-top, #nav-top .nav-top li {float: left;}
#nav-top .nav-top a {
	display: block;
	margin-top: 2px;
	padding: 0 18px;
	color: #FFF;
	font-family: 'Roboto Condensed', Sans-serif;
	font-size: 14px;
}

/*----------------------------------------------
	Post Elements
-----------------------------------------------*/
.blog-view, .single-view, .author-info, .archive-info, .form-404 {
	background-color: #FFF;
	border: 1px solid #555;
	box-shadow: 0 0 2px #333;
	margin: 0 0 10px;
	padding: 10px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.archive-title {color: #555;}
.archive-title span {color: #333;}
.archive-description {
	border-top: 2px dotted #888;
	margin-top: 8px;
	padding-top: 2px;
}

.form-404 h2 {
	border-bottom: 2px dotted #888;
	padding-bottom: 10px;
}
.form-404 p {margin: 4px 0 10px;}

.blog-view {border-top: 6px solid #2A5A8E;}

.blog-view.sticky {
	background-color: #FFDC8A;
	border-top: 6px solid #222;
}

.entry-header {margin-bottom: 4px;}
.entry-title {line-height: 1;}
.entry-title a {color: #303030;}

.sticky .entry-title:before {
	font-family: "Genericons";
	content: "\f308";
	vertical-align: top;
	padding-right: 4px;
	display: inline-block;
}

.entry-byline * {line-height: 20px;}
.entry-author,
.entry-date,
.entry-categories,
.entry-comment-info {
	float: left;
	margin-right: 10px;
}

.single-view .entry-byline {
	margin-bottom: 10px;
}
.thumbnail{float:left;}
.thumbnail img{max-width: 110px;max-height: 110px;margin-right: 5px;border-radius: 4px;min-height: 110px;min-width: 110px;}
.filename{color: #822424;}
.entry-thumbnail {
	float: left;
	padding-right: 8px;
}
.entry-thumbnail .post-thumbnail {
	display: table;
	background-color: #EEE;
	border: 1px solid #888;
	padding: 3px;
}
.entry-thumbnail img {
	float: left;
	width: auto;
	max-width: none;
}

.continue-reading {
	background: #EEE;
	background: -moz-linear-gradient(top, #FBFBFB 0%, #E5E5E5 100%);
	background: -webkit-linear-gradient(top, #FBFBFB 0%, #E5E5E5 100%);
	background: linear-gradient(to bottom, #FBFBFB 0%, #E5E5E5 100%);
	display: inline-block;
	float: right;
	padding: 2px 10px;
	color: #555;
	border: 1px solid #CCC;
	border-radius: 4px;
}
.continue-reading:hover {
	border-color: #AAA;
	color: #333;
}
.sticky .continue-reading {border-color: #AAA;}

.blog-view .entry-content {
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Arimo, Sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.55;
}
.single-view .entry-content {
	font-family: Arimo, Sans-serif;
	font-size: 15px;
	font-size: 0.938rem;
	line-height: 1.6;
}

.entry-footer {clear: both;}
.entry-updated {
	color: #555;
	font-size: 11px;
	padding: 2px 0;
}
.entry-tags {padding: 2px 0;}

.blog-nav, .post-nav {margin-bottom: 10px;}

.blog-nav {padding: 4px 0;}

.link-prev {float: left;}
.link-next {float: right;}

.link-prev a,
.link-next a {
	background-color: #FFF;
	display: inline-block;
	padding: 2px 8px;
	border: 1px solid #555;
	box-shadow: 0 0 2px #333;
	color: #333;
}
.link-prev a:hover,
.link-next a:hover {
	color: #333;
}

.attachment-nav div a {
	background-color: #DDD;
	border: none;
	box-shadow: none;
	text-decoration: none;
}

.page-nav, .comment-nav {
	display: block;
	padding: 2px 0;
	font-family: Arimo, Sans-serif;
	font-size: 13px;
	line-height: 20px;
}
.page-nav > *, .comment-nav > * {
	background-color: #2A5A8E;
	color: #FFF;
	display: inline-block;
	padding: 2px 8px;
	border-radius: 3px;
}
.page-nav a, .comment-nav a {
	text-decoration: none;
}
.page-nav a:hover, .comment-nav a:hover {
	color: #FFF;
	text-decoration: underline;
}

/*-------------------------------------
	Post Content
--------------------------------------*/

.entry-content p, .comment-content p {margin: 4px 0 12px;}

.entry-excerpt p {margin: 0 0 4px;}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
	clear: none;
	line-height: 1.5;
}

.entry-content li, .comment-content li {
	list-style-position: outside;
	list-style-type: disc;
}

.entry-content ol > li,
.comment-content ol > li {list-style-type: decimal;}

.entry-content ol > li > ol > li,
.comment-content ol > li > ol > li {list-style-type: lower-alpha;}

.entry-content ol > li > ol > li > ol > li,
.comment-content ol > li > ol > li > ol > li {list-style-type: lower-roman;}

.entry-content th, .entry-content td, .comment-content th, .comment-content td {
	padding: 8px 10px;
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
.entry-content img,
.comment-content img {
	height: auto;
	max-width: 100%;
}

.wp-smiley {
	width: auto !important;
	border: none !important;
	padding: 0 !important;
}

.alignnone {
	margin-top: 4px;
	margin-bottom: 4px;
}
.alignleft {
	float: left;
	margin: 4px 8px 4px 0;
}
.alignright {
	float: right;
	margin: 4px 0 4px 8px;
}
.aligncenter {
	display: block;
	margin: 4px auto;
}

.wp-caption {max-width: 100%;}

.wp-caption img {
	width: 100%;
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 4px;
}

.wp-caption .wp-caption-text, .gallery-caption {
	margin: 0;
	padding: 0 5px;
	color: #555;
	font-size: 12px;
	font-size: 0.750rem;
	line-height: 1.6;
}

.gallery .gallery-item {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
.gallery-item img {
	padding: 4px;
	display: inline-block;
	border: 1px solid #CCC !important;
}
.gallery-item img:hover {
	background-color: #DDD;
	border: 1px solid #AAA !important;
}

.type-attachment .entry-content div.attachment {
	margin-bottom: 10px;
	text-align: center;
}

.sitemap-template .entry-content h3 {margin-left: 10px;}
.sitemap-template .entry-content ul {margin: 8px 0 15px 10px;}
.sitemap-template .entry-content ul li {list-style: square inside;}

/*-------------------------------------
	Author Info & Author Page
--------------------------------------*/
.author-info {padding: 0;}

.author-info .title {
	background-color: #2A5A8E;
	color: #FFF;
	padding: 4px 8px;
	text-shadow: 1px 1px 2px #222;
}
.author-avatar, .author-description{
	display: table-cell;
	padding: 8px;
	vertical-align: top;
}
.author-avatar img {display: block;}

.author-post-count {text-align: center;}

.author-latest-posts {
	background-color: #FFF;
	border: 1px solid #555;
	box-shadow: 0 0 2px #333;
	padding: 8px;
}
.author-latest-posts li {
    list-style: square inside;
	margin: 4px 0 4px 4px;
}

/*-------------------------------------
	Comments
--------------------------------------*/
#comment-header, #respond, #no-comments, .comment-body {
	background-color: #FFF;
	margin: 0 0 10px;
	padding: 8px;
	border: 1px solid #555;
	box-shadow: 0 0 2px #333;
}

#comment-header .title {
	display: inline-block;
	float: left;
	line-height: 20px;
}
#comment-header .respond-link {
	display: inline-block;
	float: right;
}
#comment-header .respond-link a {
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;	
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
}
#comment-header .respond-link a:hover {
	text-decoration: underline;
}

#comments .comment-list {
	padding-left: 0;
}

#comments .children {
	padding-left: 30px;
}

.comment-list .comment,
.comment-list .pingback,
.comment-list .trackback {
	list-style: none;
	margin: 0 0 10px;
}

.comment-author-admin > .comment-body, .bypostauthor > .comment-body {
	border-top: 6px solid #2A5A8E;
}

.comment-author,
.comment-author .avatar,
.comment-author .link {
	float: left;
}

.comment-author .avatar {
    margin-left: -8px;
    margin-top: -8px;
}
.comment-author .link {
	margin: 6px 8px;
	font-size: 15px;
	font-weight: bold;
	word-wrap: break-word;
}

.comment-metadata {float: right;}
.comment-metadata a {color: #888;}
.comment-edit-link {
	background-color: #E0E0E0;
	color: #222;
	padding: 2px 8px;
}

.comment-awaiting-moderation {
	clear: right;
	display: inline-block;
	float: right;
	margin: 8px;
	font-style: italic;
}

.comment-content {
	clear: both;
	padding-top: 4px;
	font-size: 13px;
	font-size: 0.813rem;
	line-height: 1.55;
}
.comment-content th, .comment-content td {
	font-size: 13px;
	font-size: 0.813rem;
	line-height: 1.55;
}

.comment-body .reply {
	margin-top: 8px;
	overflow: hidden;
}

.comment-reply-link {
	background-color: #2A5A8E;
	color: #FFF;
	display: inline-block;
	float: right;
	padding: 2px 10px;
}

#no-comments .genericon {
	color: #888;
	font-size: 20px;
	line-height: 22px;
}
#no-comments  h4 {
	display: inline-block;
	margin-left: 10px;
	color: #888;
}

#respond .comment-reply-title {margin-bottom: 8px;}

#respond p {margin-top: 8px;}

#cancel-comment-reply-link {
	background-color: #F0F0F0;
	padding: 2px 8px;
	font-size: 16px;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-url label {
	margin-left: 2px;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment textarea {
	display: block;
	padding: 3px;
	border: 1px solid #555;
	box-shadow: 0 0 3px #888 inset;
}

.comment-form-comment {padding: 0 3px;}

.comment-form-comment label {display: block;}

.comment-form-comment textarea {
	position: relative;
	width: 100%;
	padding: 4px;
}

#respond #submit {padding: 5px 10px;}

.comment-navigation {margin-bottom: 10px;}
.page-numbers.current {cursor: default;}

#comment-area #disqus_thread {
	background-color: #FFF;
	padding: 10px;
	border: 1px solid #555;
	box-shadow: 0 0 2px #333;
}

/*----------------------------------------------
	Widgets
-----------------------------------------------*/
.frontier-widget {
	background-color: #FFF;
	margin: 0 0 10px;
	padding: 8px;
	border: 1px solid #555;
	box-shadow: 0 0 2px #333;
	word-wrap: break-word;
}
.frontier-widget:after {
	clear: both;
	content: "";
	display: table;
}
.widget-title {
	background-color: #2A5A8E;
	margin: -8px -8px 8px;
	padding: 4px 8px;
	color: #EEE;
	font-family: 'Roboto Condensed', Sans-serif;
	font-size: 18px;
	text-shadow: 1px 1px 2px #222;
}
.widget-title a {
	color: #FFF;
	text-decoration: none;
}

.widget-body {display: inline-block;}

.widget-header {
	display: inline-block;
	float: left;
	margin: 0;
}

.widget-header,
.widget-before-post,
.widget-before-post-content,
.widget-after-post-content,
.widget-after-post {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.widget-after-post {margin: 10px 0 0;}

.widget-footer {
	display: inline-block;
	float: left;
	margin: 0 0.5% 10px;
}

.widget-column-1 .widget-footer {
	display: block;
	width: auto;
	float: none;
	margin: 0 0 10px;
}
.widget-column-2 .widget-footer {width: 48.98%;}
.widget-column-3 .widget-footer {width: 32.32%;}
.widget-column-4 .widget-footer {width: 23.98%;}
.widget-column-5 .widget-footer {width: 18.98%;}
.widget-column-6 .widget-footer {width: 15.65%;}

.widget-column-2 .widget-footer:nth-child(2n+1),
.widget-column-3 .widget-footer:nth-child(3n+1),
.widget-column-4 .widget-footer:nth-child(4n+1),
.widget-column-5 .widget-footer:nth-child(5n+1),
.widget-column-6 .widget-footer:nth-child(6n+1) {
	clear: left;
}

#widgets-wrap-below-menu {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	padding: 10px 10px 0;
}
#widgets-wrap-before-post,
#widgets-wrap-before-post-content,
#widgets-wrap-after-post-content,
#widgets-wrap-after-post {
	position: relative;
	clear: both;
}
#widgets-wrap-after-post {margin-top: 8px;}
#widgets-wrap-footer {
	background-color: rgba(0, 0, 0, 0.25);
	border-top: 1px solid #000;
	padding: 10px;
}

.frontier-widget * {
	max-width: 100%;
}

.frontier-widget .widget-title {
	max-width: none;
}

.frontier-widget img {
	height: auto;
}

.frontier-widget p {margin: 4px 0 12px;}

.frontier-widget ul, .frontier-widget ol {
	padding: 0 4px;
}

.frontier-widget ul ul, .frontier-widget ol ol {
	margin: 4px 0;
	padding-left: 15px;
}

.frontier-widget li {
	list-style: none;
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #E0E0E0;
}

.frontier-widget li:last-child {
    border-bottom: none;
}

.widget_search label .screen-reader-text {
	display: none;
}
label .search-field {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 6px;
    border-radius: 4px 0 0 4px;
    margin: 4px 4px 4px 0;
    /* min-width: 67%; */
    font-size: 14px;
    /* box-shadow: 0 0 2px #333 inset; */
    width: 81%;
}
.search-submit {
    border-radius: 0 8px 8px 0;
    background-color: #525252;
    border: 1px solid #333;
    box-shadow: 0 0 0 #333;
    color: #FFF;
    cursor: pointer;
    margin: 2px -8px;
    padding: 5px 8px;
}

.widget_tag_cloud {
	line-height: 24px;
}

.widget_calendar table {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 1.2;
}
.widget_calendar caption {
	background-color: #2A5A8E;
	padding: 8px 0;
	color: #FFF;
}
.widget_calendar th {
	background-color: #E0E0E0;
	padding: 8px;
}
.widget_calendar td {
	background-color: #FFF;
	padding: 8px;
}

/*-------------------------------------
	Basic Slider
--------------------------------------*/
#slider {
    background-color: #FFF;
    border: 1px solid #555;
    box-shadow: 0 0 2px #333;
    display: block;
    overflow: hidden;
}
.slider-main {margin: 5px;}
.slider-content {margin-bottom: 10px;}

#basic-slider {max-width: 100% !important;}

.bjqs, .bjqs-slide {
	margin: 0;
	padding: 0;
	list-style: none;
	display: none;
}
.bjqs {position: relative;}
.bjqs-slide {position: absolute;}

.bjqs-slide a {
	display: block;
}
.bjqs-slide img {
	display: block;
	margin: auto;
}

.bjqs-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
}
.bjqs-controls a {
	position: absolute;
	-webkit-transition: left 0.3s ease-in-out;
	-webkit-transition-property: left, right;
	-moz-transition: left 0.3s ease-in-out;
	-moz-transition-property: left, right;
	transition: left 0.3s ease-in-out;
	transition-property: left, right;
}
.bjqs-prev a {left: -50px;}
.bjqs-next a {right: -50px;}
.slider-prev {background-image: url('images/slider-prev.png');}
.slider-next {background-image: url('images/slider-next.png');}
.slider-prev, .slider-next {
	display: block;
	height: 32px;
	width: 38px;
}
#basic-slider:hover li.bjqs-next a {right: 10px;}
#basic-slider:hover li.bjqs-prev a {left: 10px;}

.slider-element {display: none;}

.bjqs-heading, .bjqs-descript {
	background-color: rgba(0, 0, 0, 0.65);
	color: #EEE;
	padding: 8px;
	width: 100%;
}
.bjqs-heading {
	position: absolute;
	top: 0;
	font-size: 16px;
}
.bjqs-descript {
	position: absolute;
	bottom: 0;
}

/*-------------------------------------
	Extra
--------------------------------------*/
#wpadminbar {box-shadow: 0 0 3px #000;}

/* bbPress */
#content #bbpress-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.super-sticky,
#bbpress-forums ul.sticky {
	font-family: Arial, Sans-serif;
	font-size: 13px;
	font-size: 0.813rem;
}
#content #bbpress-forums a {text-decoration: none;}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {padding: 8px 20px;}

#bbpress-forums .bbp-topic-permalink {
	font-size: 14px;
	font-size: 0.875rem;
}

#bbpress-forums .avatar {
	min-width: 20px;
	min-height: 20px;
}

#bbpress-forums .bbp-reply-content {padding: 10px 0 0;}

.bbp-pagination-links > * {
	background-color: #222;
	padding: 2px 10px !important;
	border: 1px solid #000 !important;
	color: #FFF;
}
.bbp-pagination-links .page-numbers.current {background-color: #555;}

.bbp-pagination-links > a:hover {
	background-color: #E0E0E0;
	color: #000;
	font-weight: bold;
}

@media print {
	#nav-top,
	#header,
	#nav-main,
	#below-menu,
	#slider,
	#sidebar-right,
	#sidebar-left,
	#footer,
	#bottom-bar,
	#comment-area,
	#widgets-wrap-before-content,
	#widgets-wrap-after-content,
	#widgets-wrap-before-post,
	#widgets-wrap-after-post,
	#widgets-wrap-before-post-content,
	#widgets-wrap-after-post-content,
	.entry-footer,
	.blog-nav,
	.post-nav {
		display: none;
	}

	#main,
	#content {
		padding: 0;
	}

	#content {
		display: block;
		float: none;
		width: auto;
	}

	.blog-view,
	.single-view {
		border: none;
	}

	.blog-view,
	.blog-view.sticky {
		border-top: 1px dashed #555;
	}

	#site-title a {
		color: #000;
	}

	#site-description {
		color: #333;
	}

	.entry-byline a,
	.genericon {
		color: #333;
	}
}
.btn-inverse {
    display: inline-block;
    color: #fff;
	padding: 1px 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #a7a7a7;
    background-image: -moz-linear-gradient(top,##626262,#222);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
    background-image: -webkit-linear-gradient(top,#444,#222);
    background-image: -o-linear-gradient(top,#444,#222);
    background-image: linear-gradient(to bottom,#444,#222);
    background-repeat: repeat-x;
    border-color: #6eb6d3 #6eb6d3 #3996bc;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
.btn-success {
    display: inline-block;
    color: #fff;
    padding: 1px 5px;
    margin-bottom: 8px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #3279b1;
    background-image: -moz-linear-gradient(top,#3279b1,#6eb6d3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#3279b1),to(#6eb6d3));
    background-image: -webkit-linear-gradient(top,#3279b1,#3279b1);
    background-image: -o-linear-gradient(top,#3279b1,#6eb6d3);
    background-image: linear-gradient(to bottom,#3279b1,#3279b1);
    background-repeat: repeat-x;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #ccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
.btn-success:hover{background-image: linear-gradient(to bottom,#23537C,#3279b1);}
.actl{
    background-color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.pinted {
    background-color: #F7F7F7;
}
.actl:hover {
    background-color: #E9EAEA;
}
span.label.label-info {
    font-size: 12px;
}
.icon-black {
    display: inline-block;
    width: 14px;
    height: 17px;
    margin-top: 3px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(/wp-content/themes/frontier/images/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.icon-white {
    display: inline-block;
    width: 14px;
    height: 17px;
    margin-top: 3px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url(/wp-content/themes/frontier/images/glyphicons-halflings-white.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.icon-play {
    background-position: -264px -74px;
}
.icon-music {
    background-position: -24px 0;
}
div#title1 {
    margin-left: 18px;
}
div#dowload {
    margin-left: 18px;
}
.search-container {
    float: right;
    width: 399px
}
.cont {
    font-size: 15px;
    margin: 0 auto;
}
.cover {
    float: left;
}
.cont img {
    max-width: 138px;
    margin-right: 10px;
    border: 2px solid #646464;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 2px 7px rgba(0,0,0,.4);
    min-width: 125px;
    min-height: 130px;
    max-height: 130px;
    max-width: 125px;
}
span.tb {
    float: left;
    padding: 0px 9px 0 1px;
    color: #7C8FA0;
    font-weight: bold;
}
.yellowBox {
    clear: both;
    background-color: #FFFFDA;
    padding-left: 12px;
    border-radius: 4px;
    border: 1px solid #FDE6A6;
    border-left: 3px solid #90A53D!important;
}
.links {
    width: 100%;
    text-align:center;
}
.icon-download {
    background-image: url(images/icon-download2.png)!important;
    background-repeat: no-repeat!important;
    background-position: 10px center!important;
}
.hrefdownload {
    background: url(images/download.png) no-repeat 3px 5px;
    background-color: #f6f6f6;
    border-color: #dddddd;
    clear:both;
    color: #333333;
    text-shadow: 0 1px 0 #f3f3f3;
    font-size: 16px;
    margin: .5em 0;
    padding: 4px;
    /* width: 80%; */
    margin: 0 auto;
    display: block;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0 1px 3px /*{global-box-shadow-size} rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    box-shadow: 0 1px 3px /*{global-box-shadow-size} rgba(0,0,0,.2) /*{global-box-shadow-color}*/;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: .3125em /*{global-radii-buttons}*/;
    border-radius: .3125em /*{global-radii-buttons}*/;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
}
.hrefdownload:focus {
    -webkit-box-shadow: 0 0 12px #3388cc;
    -moz-box-shadow: 0 0 12px #3388cc;
    box-shadow: 0 0 12px #3388cc;
}
.hrefdownload:hover {
    background-color: #ededed;
    border-color: #dddddd;
    color: #333333;
    text-shadow: 0 1px 0 #f3f3f3;
}
.getd {
    background-color: #5685B5;
    padding: 5px;
    color: #EFEFEF;
}
.cpmro{
    height: 254px;
}
.chart li {
    background: #fff;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 6px 4px;
    border: 1px solid #f3f3f3;
}
ul.chart a {
    display: block;
    text-decoration: none;
    color: #666;
    font-weight: bold;
}
span.number {
    width: 30px;
    display: inline-block;
    height: 30px;
    float: left;
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
    color: #CBCBCB;
}
.chart img {
    display: inline-block;
    float: left;
    margin-right: 8px;
min-height: 50px;
}
span.artist {
    display: block;
}
span.songtitle {
    color: #999;
}
ul.chart a:hover .number {
    color: #f25758;
}
.related {
    border: 1px solid #BBBBBB;
    border-radius: 6px;
    overflow: hidden;
    background-color: yellow;
    margin-top: 16px;
}
.left {
    float: left;
}
.RelatedPlay {
    background-image: url(images/icon-play-png.png);
    background-position: -4px 1px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 44px;
    height: 49px;
    margin-top: 3px;
    line-height: 14px;
    vertical-align: text-top;
}
.resrel {
    padding: 6px;
}
.titleRel {
    font-size: 20px;
    padding: 1px 1px 1px 9px;
    background-color: #F3F3F3;
    color: #252525;
}
.related .label-info{color: black;}
.redText {
    color: #9E0808;
    margin-top: 13px!important;
    font-weight: bold;
    width: 146px!important;
    margin: auto;
    background: url(images/hand-down.png) no-repeat 132px 3px;
}
@media (min-width:200px) and (max-width:399px) {
.thumbnail {
    text-align: center;
    float: none!important;
}
.thumbnail img {
    margin-right: 5px;
    border-radius: 4px;
    min-height: 121px;
    max-height: 99%;
    max-width: 99%;
}
.search-container {
    float: none!important;
    width: 294px;
}
.single-view .entry-content {
    font-size: 12px;
}
}
.loading {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('http://mp3goo.com/wp-content/themes/frontier/images/loading.gif') 50% 100px no-repeat;
}
.loadingn {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('http://sampsonresume.com/labs/pIkfp.gif') 50% 50% no-repeat;
}