/*----------------------------- style aplha.css --------------------*/

a {
	COLOR: #3686d5; TEXT-DECORATION: none
}
a:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
a.related {
	FONT-WEIGHT: bold; COLOR: #2d336f; TEXT-DECORATION: none
}
a.related:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
a.path {
	COLOR: #2d336f; TEXT-DECORATION: none
}
a.path:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
a.HomeLinks {
	COLOR: #2d336f; TEXT-DECORATION: none
}
a.HomeLinks:hover {
	COLOR: #666666; TEXT-DECORATION: underline
}
a.menu {
	FONT-SIZE: 10px; COLOR: #606060; TEXT-DECORATION: none
}
a.menu:hover {
	FONT-SIZE: 10px; COLOR: #2d336f; TEXT-DECORATION: underline
}
a.menuselected {
	FONT-SIZE: 10px; COLOR: #2d336f; TEXT-DECORATION: none
}
a.menuselected:hover {
	FONT-SIZE: 10px; COLOR: #2d336f; TEXT-DECORATION: underline
}
.menu {
	FONT-SIZE: 10px; COLOR: #606060; TEXT-DECORATION: none
}
.youarehere {
	COLOR: #2d336f; TEXT-DECORATION: none
}
body {
	FONT-SIZE: 10px; COLOR: #606060; LINE-HEIGHT: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
td {
	FONT-SIZE: 10px; COLOR: #606060; LINE-HEIGHT: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
div {
	FONT-SIZE: 10px; COLOR: #606060; LINE-HEIGHT: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
span {
	FONT-SIZE: 10px; COLOR: #606060; LINE-HEIGHT: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
p {
	FONT-SIZE: 10px; COLOR: #606060; LINE-HEIGHT: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
input {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #676767; BORDER-BOTTOM: #d3d3d3 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
option {
	BORDER-RIGHT: #d3d3d3 1px solid; BORDER-TOP: #d3d3d3 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #d3d3d3 1px solid; COLOR: #676767; BORDER-BOTTOM: #d3d3d3 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
select {
	FONT-SIZE: 9px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.homeTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #2d336f
}
.heading1 {
	FONT-SIZE: 22px; COLOR: #2d336f; LINE-HEIGHT: 25px
}
.heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2d336f
}
.Pressheading {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #2d336f
}
.tableheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2d336f
}
.tabledataline1 {
	BACKGROUND-COLOR: #ffffff
}
.tabledataline2 {
	BACKGROUND-COLOR: #e7e7e7
}
.bluecontentbold10 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2d336f
}
.bluecontentbold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2d336f
}
.shareprice {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2d336f
}
.error {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: Maroon;
}
.greylinks {
	FONT-SIZE: 9px; COLOR: #a4a4a4; TEXT-DECORATION: none
}
a.greylinks:hover {
	FONT-SIZE: 9px; COLOR: #2d336f; TEXT-DECORATION: underline
}

.globalTable
{
	BORDER-BOTTOM: #e0e0e0 7px solid;
	BORDER-LEFT: #e0e0e0 7px solid;
	BORDER-RIGHT: #e0e0e0 7px solid;
	background-color : #ffffff;
}

 .signonHighlightLink
{
	font-family:Verdana, Tahoma, Arial;
	font-size:8pt;
	font-weight: bold;
	color: White;
	background-color:#d0e0ff;
	text-decoration:none;
}

/* ----------------------- ----------------------------------------- */


a img							{ border:none; }

select.selectName1,
select.selectName2,
select.selectName3				{ width:175px; margin-bottom:4px; }

.promoBox_new									{ float:left; width:578px; background:url(../new_images/bg_promo.png) no-repeat 0 0; height:243px; padding:0; margin-left:2px; margin-top:5px; position:relative; margin-bottom:3px; overflow:hidden; }
*html .promoBox_new 							{ background:url(../new_images/bg_promo.jpg) no-repeat 0 0; height:243px; margin-bottom:1px;  }
.promoBox_new .mask								{ position:absolute; top:5px; left:3px; z-index:1; overflow:hidden; width:570px; height:233px; }
.promoBox_new .main00							{ /*clear:both; display:block; overflow:hidden;*/ float:left; /*margin:5px 5px 5px 3px;*/ margin:0; background:url(../new_images/bg_blue0.jpg) repeat-x 0 0; width:570px; height:233px; }
/*html .promoBox_new .main00					{ margin:5px 5px 5px 2px; }*/
.promoBox_new .main00 .image00					{ float:left; width:373px; height:233px;  }
.promoBox_new .main00 .text00					{ float:left; width:157px; font:normal 12px Arial, Helvetica, sans-serif; color:#ffffff; margin:20px; }
*html .promoBox_new .main00 .text00				{ margin:0; padding:20px; width:197px; }
.promoBox_new .main00 .text00 p					{ font:normal 12px/19px Arial, Helvetica, sans-serif; color:#ffffff; }
.promoBox_new .main00 .text00 h2				{ font:bold 12px Arial, Helvetica, sans-serif; color:#ffffff; }
.promoBox_new .main00 .text00 h2 em 			{ font-size:15px; font-style:normal; font-weight:bold; display:block; }

.pages_circle								{ position:absolute; height:26px; bottom:-2px; left:245px; z-index:800; }
*html .pages_circle							{ bottom:0px;  }
.pages_circle .p_l							{ float:left; width:6px; height:26px;
											  background:url(../new_images/promo_page_l.png) no-repeat left top;  }
.pages_circle .main0_0						{ float:left; text-align:center; height:13px; padding:13px 4px 0px 5px;
											  background:url(../new_images/promo_page_c.png) repeat-x left top;  }
*html .pages_circle .main0_0				{ background:url(../new_images/promo_page_c.gif) repeat-x left top; height:26px; }	
.pages_circle .p_r							{ float:left; height:26px; padding-right:7px;
											  background:url(../new_images/promo_page_r.png) repeat-x left top;  }
*html .pages_circle .p_r					{ background:url(../new_images/promo_page_r.gif) repeat-x left top;  }
.pages_circle a								{ display: -moz-inline-box; display: inline-block; 
											  background:url(../new_images/circle.png) no-repeat left top; width:8px; height:7px;  
											  padding:0; margin:0px 1px; }
.pages_circle a:hover						{ display: -moz-inline-box; display: inline-block;  width:8px; height:7px; 
											  background:url(../new_images/circle_act.png) no-repeat left top; padding:0; margin:0px 1px; }
.pages_circle a.active						{ display: -moz-inline-box; display: inline-block;  width:8px; height:7px;
											  background:url(../new_images/circle_act.png) no-repeat left top; padding:0; margin:0px 1px; }
*html .pages_circle a						{ background:url(../new_images/circle.gif) no-repeat left top;  }
*html .pages_circle a:hover		    		{ background:url(../new_images/circle_act.gif) no-repeat left top; }
*html .pages_circle a.active				{ background:url(../new_images/circle_act.gif) no-repeat left top;  }

.new_box									{ width:100%; float:left; padding:0; margin:0px 0px 8px 0px; }	

.cols_3_newHome								{ float:left; width:100%; margin:0px 0px 0px 0px; padding:0;
											  background:url(../new_images/grammi.gif) repeat-y left top; }
.col_1										{ float:left; width:170px; padding:0px 10px 0px 3px; margin:0; }
.col_2										{ float:left; width:175px; padding:0px 10px 0px 20px; margin:0; }
.col_3										{ float:right; width:180px; padding:0px; margin:0; }
.title_box									{ clear:both; display:block; overflow:hidden; padding:0; margin:0; }
h2.blue_title								{ font:bold 9px Arial, Helvetica, sans-serif; color:#68b9e3; margin:10px 0px; float:left; width:70%;
											  margin-left:3px; }
*html h2.blue_title							{ margin-left:1px; }
h2.blue_title a								{ color:#68b9e3; }
.buttonTop									{ float:right; width:20%; padding:0px 0px 5px 0px; margin:0px 2px 0px 0px; }
*html .buttonTop							{ margin-right:4px; }
.buttonTop a.topPage						{ float:right; padding:2px 25px 2px 0px; margin:8px 0px; color:#a4a4a4; font-size:9px; 
											  background:url(../new_images/arrow_top.gif) no-repeat right 2px; }
ul.menu_alphaNews							{ width:170px; float:left; margin:0px; padding:0; }
ul.menu_alphaNews li						{ display:block; padding:10px 3px 10px 0px; margin:0; clear:both; overflow:hidden; 
											  border-bottom:1px solid #e5e5e5;
											  list-style:none; font:bold 11px Arial, Helvetica, sans-serif; color:#0c3467; }
ul.menu_alphaNews li.first					{ padding-top:0; margin:0; }
ul.menu_alphaNews li.last					{ border-bottom:none; }
ul.menu_alphaNews li a						{ color:#0c3467; font:bold 11px Arial, Helvetica, sans-serif; text-decoration:none; }
ul.menu_alphaNews li a:hover            	{ color:#606161; text-decoration:none; }
ul.menu_alphaNews li img					{ border:1px solid #e6e6e6; padding:3px; margin-bottom:5px; display:block; }
ul.menu_alphaNews li a span,
ul.menu_alphaNews li a.more					{ display:inline-block; background:url(../new_images/arrow_blue.gif) no-repeat left top;
										      width:12px; height:13px; vertical-align:bottom; }
ul.menu_alphaNews li a:hover span,
ul.menu_alphaNews li a.more:hover			{ background-image:url(../new_images/arrow_gri.gif); }

.cols_3_newHome.second						{ float:left; width:100%; margin:0px 0px 0px 0px; padding:0;
											  background:url(../new_images/grammi_0.gif) repeat-y 2px top; }

.col_2_2									{ float:right; width:384px; padding:0px 5px 0px 0px; margin:0; position:relative; }
*html .col_2_2								{ padding-right:2px; float:left; margin-left:-5px; }

.col_3 ul.menu_alphaNews					{ width:180px; }
.b_t_0										{ float:left; width:100%; margin-top:17px; 
										      background:url(../new_images/bottom_skia.gif) no-repeat center top; height:6px; }	
.t_t_0										{ clear:both; display:block; overflow:hidden; margin-bottom:0px;
											  background:url(../new_images/top_skia.gif) no-repeat center top; height:6px; }	
.menu_left_c								{ float:left; width:181px; overflow:hidden; }					
*html .menu_left_c							{ float:left; width:181px; overflow:hidden; }					
.menu_left_c ul								{ display:block; padding:0; margin:0; }			
.menu_left_c ul li							{ float:left; width:181px; margin:0; list-style:none; padding:1px 0px 2px 0px;
											  background:url(../new_images/grammi5.gif) no-repeat left bottom; }	
.menu_left_c ul li a						{ color:#003366; text-decoration:none; font:normal 11px Arial,Helvetica,sans-serif; padding:3px 5px;
											  float:left; }	
.menu_left_c ul li a:hover   				{ color:#606060; text-decoration:none; }	
.menu_left_c ul li a.active					{ background:url(../new_images/menu_over.gif) no-repeat left top; 
									          float:left; width:181px; height:21px; margin-left:0px; color:#fff; font-weight:bold;
											  padding:0px 0px 0px 0px; text-indent:5px; line-height:21px; }
.menu_left_c ul li a.active:hover			{ color:#fff;  }
.button_gri0								{ display:block; width:143px; height:26px; cursor:pointer; font:bold 11px Arial, Helvetica, sans-serif;
											  background:url(../new_images/button_gri.gif) no-repeat left top;
											  border:0; padding:0px 0px 3px 10px }
*html .button_gri0							{ padding-bottom:0; }

.carousel_0									{ float:left; width:384px; }
.carousel_0	ul								{ float:left; width:100%; overflow:hidden; margin:0px 0px 0px 0px; padding:0;
									          background:url(../new_images/grammi.jpg) repeat-x left bottom; height:260px; }
.carousel_0	ul li							{ float:left; width:384px; padding:0; margin:0; list-style:none; 
											  background:url(../new_images/grammi3.gif) no-repeat -1px 17px; }
.li_box										{ clear:both; display:block; overflow:hidden; height:123px;  }
.li_box.btm									{ height:130px; }
.li_box	.left_b								{ float:left; width:180px; margin:7px 0px 11px 7px; }
.li_box	.left_b	img							{ border:1px solid #e6e6e6; }
.li_box	.left_b	a img						{ border:1px solid #e6e6e6; }
.li_box	.left_b	a:hover	img 				{ border:1px solid #606060; }
.li_box	.right_b							{ float:right; width:177px; padding:7px 0px 11px 0px; }
.li_box	.right_b img						{ border:1px solid #e6e6e6; }
.li_box	.right_b a img						{ border:1px solid #e6e6e6; }
.li_box	.right_b a:hover img    			{ border:1px solid #606060; }
.li_box img									{ margin-top:8px; border:1px solid #e6e6e6; padding:3px;  }
.li_box h3									{ font:bold 11px Arial, Helvetica, sans-serif; color:#0c3467; padding:0; margin:0; }
.li_box h3 a								{ font:bold 11px Arial, Helvetica, sans-serif; color:#0c3467; }
.li_box h3 a:hover							{ color:#606060; text-decoration:none; }

.pages_circleC								{ padding:10px 0px 0px 0px;  text-align:center; margin:0 auto 0px -2px ; background-color:#fff;
											  display:block; overflow:hidden; clear:both; position:relative; width:384px; }
.pages_circleC a							{ display: -moz-inline-box; display: inline-block; 
											  background:url(../new_images/circle.png) no-repeat left top; width:8px; height:10px;  
											  padding:0; margin:0px 1px; }
.pages_circleC a:hover						{ display: -moz-inline-box; display: inline-block;  width:8px; height:10px; 
											  background:url(../new_images/circle_act.png) no-repeat left top; padding:0; margin:0px 1px; }
.pages_circleC a.active						{ display: -moz-inline-box; display: inline-block;  width:8px; height:10px;
											  background:url(../new_images/circle_act.png) no-repeat left top; padding:0; margin:0px 1px; }
*html .pages_circleC a						{ background:url(../new_images/circle.gif) no-repeat left top; width:8px; height:10px;  }
*html .pages_circleC a:hover	    		{ background:url(../new_images/circle_act.gif) no-repeat left top; width:8px; height:10px; }
*html .pages_circleC a.active				{ background:url(../new_images/circle_act.gif) no-repeat left top; width:8px; height:10px;  }
.pages_circleC a.arrow_p					{ display: -moz-inline-box; display: inline-block; 
											  background:url(../new_images/arrow_blue_l.gif) no-repeat left center; width:12px; height:13px;  
											  padding:0; margin:0px 1px; }
.pages_circleC a.arrow_p:hover				{ display: -moz-inline-box; display: inline-block;  width:12px; height:13px; 
											  background:url(../new_images/arrow_gri_l.gif) no-repeat left center; padding:0; margin:0px 1px; }
.pages_circleC a.arrow_p.active	    		{ display: -moz-inline-box; display: inline-block;  width:12px; height:13px; 
											  background:url(../new_images/arrow_gri_l.gif) no-repeat left center; padding:0; margin:0px 1px; }
.pages_circleC a.arrow_n					{ display: -moz-inline-box; display: inline-block; 
											  background:url(../new_images/arrow_blue.gif) no-repeat left center; width:12px; height:13px;  
											  padding:0; margin:0px 1px; }
.pages_circleC a.arrow_n:hover				{ display: -moz-inline-box; display: inline-block;  width:12px; height:13px; 
											  background:url(../new_images/arrow_gri.gif) no-repeat left center; padding:0; margin:0px 1px; }
.pages_circleC a.arrow_n.active	    		{ display: -moz-inline-box; display: inline-block;  width:12px; height:13px; 
											  background:url(../new_images/arrow_gri.gif) no-repeat left center; padding:0; margin:0px 1px; }
											  
.more2										{ position:absolute; right:4px; bottom:0px; 
											  background:url(../new_images/more_l.gif) no-repeat left top; padding:0px 0px 0px 14px; 
											  height:17px; }
*html .more2								{ bottom:-2px; }
.more2 span									{ float:left; background:url(../new_images/more_r.gif) no-repeat right top; height:16px;
											  padding:1px 14px 0px 5px }
.more2 a									{ color:#0c3467; font-size:9px; }
.more2 a:hover								{ text-decoration:none; color:#606060; }


.cols_3_newHome.third						{ float:left; width:100%; margin:0px 0px 0px 0px; padding:0; background-position:left top;
										      position:relative; }
.carousel_1									{ float:left; width:575px; padding-left:3px; }
.carousel_1	ul								{ overflow:hidden; margin:0px 0px 0px 0px; padding:0; clear:both; overflow:hidden; height:125px; }
.carousel_1	ul li							{ float:left; width:178px; padding:0; margin:0px 9px 0px 9px; list-style:none; overflow:hidden }
.carousel_1	ul li.first0					{ margin-left:0; float:left; width:180px }
.carousel_1	ul li.third_0					{ margin-right:0; float:left }
.carousel_1	ul li img						{  }
.carousel_1	ul li a img						{ border:1px solid #ffffff; }
.carousel_1	ul li a:hover img    			{ border:1px solid #606060; }
.carousel_1	ul li h3						{ font:bold 12px Arial, Helvetica, sans-serif; color:#0c3467; padding:0; margin:0px 0px 5px 0px; }
.carousel_1	ul li h3 a						{ font:bold 12px Arial, Helvetica, sans-serif; color:#0c3467; text-decoration:none; } 
.carousel_1	ul li h3 a:hover				{ color:#606060; text-decoration:none;	}
.carousel_1	ul li p							{ font:normal 12px Arial, Helvetica, sans-serif; color:#333333; margin:3px 0px; }
.carousel_1	ul li p	 a						{ font:normal 12px Arial, Helvetica, sans-serif; color:#333333 }

.pages_circleC.last0						{ width:100%; }
.b_t_0.m5									{ margin-top:5px; }
.cols_3_newHome.third .buttonTop			{ position:absolute; position:absolute; right:4px; bottom:-12px;   }
*html .cols_3_newHome.third .buttonTop		{ bottom:-14px;  }

.cols_3_newHome.noBg						{ background:none; }
table.stockPrice_box						{ padding:0; margin:0; float:left; }
table.stockPrice_box td						{ padding:8px 3px 5px 3px; margin:0; }
table.stockPrice_box td.gri_0				{ font:normal 9px/12px Arial, Helvetica, sans-serif; color:#333333; }
table.stockPrice_box td.blue_0				{ font:bold 20px/20px Arial, Helvetica, sans-serif; color:#00abe5; }

.new_box.noM								{ margin-bottom:0; }

.banner_top0								{ float:left; margin:20px 0px 8px 0px; width:578px;  }
.banner_left							    { float:left; background:url(../new_images/banner_bg.jpg) no-repeat left top;
											  width:448px; height:52px; padding:0px 0px 0px 0px; text-align:right; }
.banner_left a								{ margin:0px 10px 0px 0px; margin-top:14px; display:inline-block }
.banner_right							    { float:right; }
img.f_img									{ vertical-align:middle; }
*html img.f_img								{ vertical-align:middle; }
*+html img.f_img							{ vertical-align:middle; }

.carousel_promo								{ /*clear:both; display:block;*/ overflow:hidden; height:243px; width:99999px; position:absolute; top:0; left:0; }
.promoBox_new .main00 .image00 a img		{ border:0;   }
.promoBox_new .main00 .text00 a				{ font:normal 12px Arial, Helvetica, sans-serif; color:#ffffff; }
.promoBox_new .main00 .text00 p a			{ font:normal 12px/19px Arial, Helvetica, sans-serif; color:#ffffff; }
.promoBox_new .main00 .text00 h2 a			{ font:bold 12px Arial, Helvetica, sans-serif; color:#ffffff; }
.promoBox_new .main00 .text00 h2 em a 		{ font-size:15px; font-style:normal; font-weight:bold; }

table.tableMenuHome					{ margin-top:-1px; }

.pages_circle						{ position:absolute; height:26px; bottom:-2px; left:0; z-index:800; width:578px; text-align:center; }
.pages_circle_box					{ display:inline-block; height:26px; margin:0 auto;  }
*html .pages_circle_box				{ display:inline; height:26px; margin:0 auto;  }


.cols_3_newHome.third						{ background-position:-5px top; }
.carousel_1									{ width:578px; padding-left:0; overflow:hidden; position:relative; }
.carousel_1	ul								{ position:relative; float:left; width:9999px; margin:0px 0px 0px -9px; height:auto }




.carousel_0									{ float:left; width:384px; position:relative; overflow:hidden; height:auto; }
.carousel_0	ul								{ position:relative; float:left; width:9999px; margin:0px 0px 0px 0px; height:auto; }
											  									          
.pages_circleC 								{ position:inherit; bottom:0px; }


.cols_3_newHome.third						{ float:left; width:100%; margin:0px 0px 0px 0px; padding:0; background:none;
										      position:relative; }
.carousel_1									{ float:left; width:575px; padding-left:3px; background:url(../new_images/grammi.gif) repeat-y 0 0; }

.carousel_0									{ background:url(../new_images/grammi.jpg) repeat-x 0 100%; padding-bottom:0; }
.carousel_0 ul								{ background:none; height:auto; }

.carousel_0 ul li							{ background:none; }
.li_box										{ clear:both; display:block; overflow:hidden; float:left; width:384px; height:auto; background:url(../new_images/grammi3_top.gif) no-repeat 0 100%; }
.li_box.btm									{ height:auto; background:url(../new_images/grammi3_bottom.gif) no-repeat 0 0; }

.li_box .left_b 							{ margin:7px 0px 0px 9px; padding-bottom:10px; } 

.carousel_1	ul li							{ float:left; width:178px; padding:0; margin:0px 10px 0px 9px; list-style:none; overflow:hidden }


.banner_left							    { float:left; background:none; width:448px; height:52px; padding:0px 0px 0px 0px; text-align:right;	
										      position:relative; }
.banner_left a								{ margin:0px 0px 0px 0px; display:inline-block; text-decoration:none; cursor:pointer; }
.banner_left a.button_individuals			{ position:absolute; right:122px; top:14px; display:block; z-index:9999; cursor:pointer; }
.banner_left a.button_companies				{ position:absolute; right:14px; top:14px; display:block; z-index:9999; cursor:pointer; }
.banner_left.f_en						    {  }
.banner_left.f_en a.button_individuals		{ position:absolute; right:122px; top:14px; width:96px; height:25px; z-index:9999; cursor:pointer; }


.li_box .left_b { margin: 7px 0px 0px 9px; }
*html .li_box .left_b { margin: 7px 0px 0px 9px; }
*+html .li_box .left_b { margin: 7px 0px 0px 16px; }
.li_box .left_b {  margin: 7px 0px 0px 16px\9;  } 

				  
.menu_left_c ul li a.active                                                           { background:url(../new_images/menu_over.gif) no-repeat left center; float:left; width:181px; height:auto; margin-left:0px; color:#fff; font-weight:bold;   padding:4px 5px 3px 5px; text-indent:0px; line-height:15px; }
ul.menu_alphaNews li.first                                                          { padding-top:0; margin:0; width:170px; }
*html ul.menu_alphaNews li.last                                                  { border-bottom:0;  width:167px; }
ul.menu_alphaNews li.first.last                                                   { padding-top:0; margin:0; border-bottom:none; width:167px; }


#wowslider-container { 
/*  overflow: hidden; */
    zoom: 1; 
    position: relative; 
    width:570px;
    margin:0 auto;
    z-index:100;
}
#wowslider-images{
    width:570px;
    height:233px;
    overflow:hidden;
}
#wowslider-images a{
    color:transparent;
}

#wowslider-images img{
    top:0;
    left:0;
    border:none 0;
}
#wowslider-container a{ 
    text-decoration: none; 
    outline: none; 
    border: none; 
}

#wowslider-container  .ws_bullets { 
    font-size: 0px; 
    padding: 0; 
    float: left;
    position:absolute;
    top:10px;
    right: 10px;
    z-index:1001;
}
#wowslider-container .ws_bullets a { 
    margin-left: 5px; 
    height: 10px; 
    width: 10px; 
    float: left; 
    border: 1px solid #d6d6d6; 
    color: #d6d6d6; 
    text-indent: -1000px; 
    background-image:url("data:image/gif;base64,");
    position:relative;
	display:block;
	line-height:0.1%;
}
*html #wowslider-container .ws_bullets a { 
    height: 12px; 
    width: 12px; 
}
#wowslider-container .ws_selbull { 
    background-color: #d6d6d6; 
    color: #FFFFFF; 
}

#wowslider-container .ws_bullets a:hover, #wowslider-container .ws_overbull { 
    background-color: #d6d6d6;
    color: #FFFFFF; 
}

#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
    position:absolute;
    display:block;
    top:50%;
    margin-top:-17px;
    position:absolute;
    z-index:1001;
    height: 34px;
    width: 16px;
	cursor:pointer;
    /*background-image: url(../new_images/arrows.png);*/
}
#wowslider-container a.ws_next{
    /*background-position: 0 0; */
	background:url(../new_images/arrow_right.png) no-repeat 0 0;
    right:-7px;
}
#wowslider-container a.ws_prev {
    left:-7px;
    /*background-position: 0 100%; */
	background:url(../new_images/arrow_left.png) no-repeat 0 0;
}
#wowslider-container a.ws_next:hover{
    /*background-position: 100% 0; */
	background:url(../new_images/arrow_right_hover.png) no-repeat 0 0;
}
#wowslider-container a.ws_prev:hover{
    /*background-position: 100% 100%; */
	background:url(../new_images/arrow_left_hover.png) no-repeat 0 0;
}
#wowslider-container .ws-title{
    position: absolute;
    bottom:7%;
    left: 0;
    margin-right:5px;
    z-index: 50;
    background-color:#FFF;
    color:#1E4553;
    padding:10px;
    opacity:0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
    font-family: Tahoma,Arial,Helvetica;
    font-size: 14px;
}
#wowslider-container .ws-title div{
    padding-top:5px;
    font-size: 12px;
}#wowslider-container .ws_bullets  a img{
    text-indent:0;
    display:block;
    top:12px;
    left:-120px;
    visibility:hidden;
    
    position:absolute;
    border: 2px solid #B8C4CF;
}
#wowslider-container .ws_bullets a:hover img{
    visibility:visible;
}

#wowslider-container .ws_bulframe div div{
    height:46px;
    overflow:visible;
    position:relative;
}
#wowslider-container .ws_bulframe div {
    overflow:hidden;
    width:114px;
}
#wowslider-container .ws_bulframe{
    display:none;
    top:25px;
    overflow:hidden;
    position:absolute;
    cursor:pointer;
    border: 2px solid #B8C4CF;
}
#wowslider-container .ws_bulframe span{
    position:absolute;
}

.promoBox_new,
.promoBox_new .mask							{ overflow:visible; }


#wowslider-container .ws-title{
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 50;
    background-color:#FFF;
		margin-right:0;
		padding:0;
    color:#ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
		width:197px;
		background-color:#003466;
		height:232px;		
		overflow:hidden;
		left:auto;
		opacity:1;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
}
#wowslider-container .ws-title a {
	color:#fff;
}
#wowslider-container .ws-title a:hover {
	color:#fff;
	text-decoration:none;
}
#wowslider-container .ws-title div.title00 {
    padding:0 0 27px;
    font-size:13px;
	line-height:16px;
	color:#fff;
	font-weight:bold;
	letter-spacing:-1px;
}
#wowslider-container .ws-title div.title00 span {
    padding:0;
    font-size:11px;
	line-height:14px;
	padding:2px 0px 0px;
	color:#fff;
	display:block;
}
#wowslider-container .ws-title span.summary00 {
	font-size:11px;
	line-height:16px;
	letter-spacing:-1px;
	display:block;
	padding:0;
	color:#fff;
}

#wowslider-container div.wowslider-cont
{
	padding:27px 35px 15px 18px;
}
#wowslider-container div.wowslider-ttl
{
	display:none;
}