A
{
    COLOR: #3686D5;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #666666;
    TEXT-DECORATION: underline
}
A.related
{
    COLOR: #2d336f;
    TEXT-DECORATION: none;
    FONT-WEIGHT: bold
}
A.related:hover
{
    COLOR: #666666;
    TEXT-DECORATION: underline
    FONT-WEIGHT: bold
}
A.Path
{
    COLOR: #2d336f;
    TEXT-DECORATION: none
}
A.Path:hover
{
    COLOR: #666666;
    TEXT-DECORATION: underline
}
A.HomeLinks
{
    COLOR: #2d336f;
    TEXT-DECORATION: none
}
A.HomeLinks:hover
{
    COLOR: #666666;
    TEXT-DECORATION: underline
}
A.Menu
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    TEXT-DECORATION: none
}
A.Menu:hover
{
    FONT-SIZE: 10px;
    COLOR: #2d336f;
    TEXT-DECORATION: underline
}
A.Menuselected
{
    FONT-SIZE: 10px;
    COLOR: #2d336f;
    FONT-WEIGHT: bold
    TEXT-DECORATION: none
}
A.Menuselected:hover
{
    FONT-SIZE: 10px;
    COLOR: #2d336f;
    FONT-WEIGHT: bold
    TEXT-DECORATION: underline
}
.Menu
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    TEXT-DECORATION: none
}
BODY
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
TD
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
DIV
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
SPAN
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
P
{
    FONT-SIZE: 10px;
    COLOR: #606060;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
INPUT
{
    BORDER-RIGHT: #d3d3d3 1px solid;
    BORDER-TOP: #d3d3d3 1px solid;
    FONT-SIZE: 9px;
    BORDER-LEFT: #d3d3d3 1px solid;
    COLOR: #676767;
    BORDER-BOTTOM: #d3d3d3 1px solid;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
OPTION
{
    FONT-SIZE: 7pt;
    COLOR: #676767;
    FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
SELECT
{
    FONT-SIZE: 9px;
    COLOR: #676767;

    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.HomeTitle {
	color: #2D336F;
	font-weight: bold;
	font-size: 14px;
}
.Heading1
{
    FONT-SIZE: 18px;
    COLOR: #2d336f;
    LINE-HEIGHT: 25px
}
.Heading2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #2d336f
}

.Tableheader {
	color: #2D336F;
	font-size: 10px;
	background-color: #FFFFFF;
	font-weight: bold;
}

.Tabledataline1 {
	background-color: #FFFFFF;
}

.Tabledataline2 {
	background-color: #E7E7E7;
}

.Bluecontentbold {
	color: #2D336F;
	font-weight: bold;
	font-size: 10px;
}

.Shareprice {
	color: #2D336F;
	font-weight: bold;
	font-size: 11px;
}

.Greylinks {
	color: #a4a4a4;
	font-size: 9px;
	text-decoration: none;
}
a.Greylinks:hover {
	color: #2D336F;
	font-size: 9px;
    TEXT-DECORATION: underline
}

.Moto {
	color: #737373;
	font-size: 11px;
	font-weight: bold;
                     LINE-HEIGHT: 13px;
	text-decoration: none;
}
A.HomebannerRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    TEXT-DECORATION: none
}
A.HomebannerRed:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ff0000;
    TEXT-DECORATION: underline
}
.Dropdownbackgrnd {
	background-color: #f5f5f5;
}

#withoutImage span {
display: none;
}