html * {margin:0;padding:0;}
img {border:0;vertical-align:middle;}
p {padding-bottom:1em;}
input, select {vertical-align:middle;font-size:12px;font-family:"Tahoma",Arial,Verdana,Tahoma,sans-serif;}
option {padding-left:5px;}

#commtable .descr, #help .descr, #myt .descr, #tweb .descr, #tradio .descr {font-family:"Times New Roman";font-style:italic;font-size:14px; overflow: hidden; word-wrap: break-word; max-width: 550px;}

body {
	font:normal 12px/1.2em Arial,Verdana,Tahoma,sans-serif;
	color:#FFFFFF;
	background: #ffffff;
	/*background: #d7cec9 url('/images/maingrd.jpg') repeat-x;*/
	margin: 0 auto;
	padding: 0 auto;
}

#comments {
    position: relative; 
}
#comments-loader {
    background: #fff url("../images/loading.gif") no-repeat center;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}


#tabs {margin-bottom: 1px}

a:link,a:hover,a:visited,a:active {
	font:normal 1em/1.2em Arial,Verdana,Tahoma,sans-serif;
	color:#060605;
	text-decoration:underline;
}
a:hover {text-decoration:none;}
strong a:link,strong a:hover,strong a:active,strong a:visited {font-weight:bold;}

h1,h2,h3,h4,h5,h6, .dop, .dots {
	font-family:Arial,Verdana,Tahoma,sans-serif;
	line-height:normal;
	font-weight:normal;
	color:#FFFFFF !important;
}

.maintext h1.mainh1 {
	color: #000!important;
}

h1 {font-size:20px;margin:-5px 0 10px 0;}
.text h2 {margin:15px 0 7px 0;}
.sidebar h2 {font-size:16px;margin:-5px 0 10px 0;}
.sidebar table td {padding:5px 0;}
.sidebar input, select {padding:1px;}
.sidebar a {color:#FFFFFF}
.sidebar .leftlinks {float:left;width:130px;}
.sidebar .rightlinks {float:right;width:140px;}
.sidebar .leftlinks a, .sidebar .rightlinks a {padding:3px 0;display:block}

table.favt td {padding:2px 0;}

.clear {
	font-size:1px;
	line-height:0%;
	clear:both;
	display:block;
	float:none;
	height:0%;
	overflow:hidden;
}

.left {float:left;}
.right {float:right;}

form fieldset {border:0;}
form fieldset ul {list-style:none;}

#wrapper
{
	width:1110px;
	margin: 0 auto;
}

#header
{
	height:70px;
}

#headerv
{
	height:170px;
	width:1017px;
	margin: 0 auto;
}

.logo
{
	/*background: url('/images/logo.png') repeat-x;*/
	width:235px;
	height:68px;
	margin-left:77px;
	margin-top:5px;
	float:left;
}

.search
{
    margin-right: -68px;
    margin-top:49px;
    float:right;
}

#searchk
{
    background: #f3f3f5 url('/images/search.png');
    width:253px;
    height:25px;
    border:0;
    padding-left:7px;
    color:#4c4c4c;
    padding-top:0px;
}

#searchs
{
    background: url('/images/search_button.gif');
    margin-left:-19px;
    margin-top:7px;
    width:11px;
    height:11px;
    border:0;
}

.mainf
{
	/*background: url('/images/mainfon.jpg');*/
	width:1017px;
	height:170px;
	margin-top:-33px;
}

.tvf1
{
	/*background: url('/images/tvfon_1.jpg');*/
	width:306px;
	height:80px;
	position: absolute;
    /*right: 532px;*/
    margin-left: 454px;
    /*top: 64px;*/
    top: 39px;
    z-index:-1;
}

.tvf2
{
	/*background: url('/images/tvfon_2.jpg');*/
	width:250px;
	height:306px;
	position: absolute;
    /*right: 39px;*/
    margin-left: 906px;
    /*top: 66px;*/
    top: 30px;
    z-index:-1;
}

.text table.helpt td {border:0;}
.text table.helpt a {color:#FFFFFF;}

.webf1
{
	/*background: url('/images/webfon_1.jpg');*/
	width:313px;
	height:145px;
	position: absolute;
    /*right: 481px;*/
    margin-left: 465px;
    top: 0px;
    z-index:-1;
}

.webf2
{
	/*background: url('/images/webfon_2.jpg');*/
	width:295px;
	height:241px;
	position: absolute;
    /*right: 65px;*/
    margin-left: 875px;
    top: 0px;
    z-index:-1;
}

.radiof
{
	/*background: url('/images/radiofon.jpg');*/
	width:610px;
	height:248px;
	/*right:65px;*/
	margin-left: 560px;
	top:1px;
	z-index:-1;
	position:absolute;
}

.button1
{
	width:277px;
	height:100px;
	margin-top:-122px;
	margin-left:61px;
	float:left;
}
.button2
{
	width:288px;
	height:131px;
	margin-top:-153px;
	margin-right:359px;/*19*/
	float:left;
}
.button3
{
	width:277px;
	height:88px;
	margin-top:-110px;
	margin-right:63px;
	float:right;
}

h1.htv, h1.hweb, h1.hra {margin-top:-10px}

.htv, h1.htv span, h2.htv span, #sidebart table td b {color:#d4cfda;}
.hweb, h1.hweb span, h2.hweb span, #sidebarw table td b {color:#bdd2d0;}
.hra, h1.hra span, h2.hra span, #sidebarr table td b {color:#E2E8DA; /*#ced4c6*/}

.button1, .button2, .button3
{
	display:block;
	padding:0;
}

.column1, .column2, .column3
{
	margin-top: -8px;
}

.column1
{
	width:289px;
	margin-left:55px;
	float:left;
}

.column2
{
	width:289px;
	margin-right:18px;
	float:left;
}

.column3
{
	width:289px;
	margin-right:57px;
	float:right;
}

.column1-top, .column2-top, .column3-top
{
	width:289px;
	height:20px;
}

.column1-bottom, .column2-bottom, .column3-bottom
{
	width:289px;
	height:91px;
}

.column1-center, .column2-center, .column3-center
{
	padding:0 15px;
}

.column1-top {background: url('/images/block1_top.png');}
.column2-top {background: url('/images/block2_top.png');}
.column3-top {background: url('/images/block3_top.png');}

.column1-bottom {background: url('/images/block1_bottom.png');} 
.column2-bottom {background: url('/images/block2_bottom.png');}
.column3-bottom {background: url('/images/block3_bottom.png');}

.column1-center, .content1, .corner1-tc {background-color:#6f5e86;}
.column2-center, .content2, .corner2-tc {background-color:#4e958d;}
.column3-center, .content3, .corner3-tc {background-color:#728f4c;}

/*.column1-center {background: #6f5e86 url('/images/block1_bottom.jpg') no-repeat bottom;padding-bottom:10px}
.column2-center {background: #4e958d url('/images/block2_bottom.jpg') no-repeat bottom;padding-bottom:10px}
.column3-center {background: #728f4c url('/images/block3_bottom.jpg') no-repeat bottom;padding-bottom:10px}*/

.maintext {margin:20px 56px 0px 54px; border:1px solid #9a8980; padding:10px; background-color:#e3dedb}
.maintext p
{
	font-family: "Times New Roman";
    font-size: 14px;
    font-style: italic;
    padding-bottom: 0.8em;
    color: #525252;
}
a.mainlall {font-weight:bold; font-size:13px; margin-left: -6px;}

.tab1, .tab2, .tab3
{
	width:307px;
	height:33px;
	margin-top:10px;
	/*padding: 0 10px;*/
}

.tab1
{
	margin-left:84px;
	float:left;
	border-bottom: 1px solid #594d6c;
}
.tab2
{
	margin-right:11px;
	float:left;
	border-bottom: 1px solid #146548;
}
.tab3
{
	margin-right:84px;
	float:right;
	border-bottom: 1px solid #385F07;
}

.maintab
{
	float:left;
	margin-left:26px;
	margin-top:28px;
}

.content1, .content2, .content3
{
	width: 1000px;
	margin: 0 auto;
	padding:5px 20px;
	float:left;
}

.content1 {background: #6f5e86 no-repeat right bottom;}
.content2 {background: #4e958d no-repeat right bottom;}
.content3 {background: #728f4c no-repeat right bottom;}

.content1-top, .content2-top, .content3-top {margin:0 auto; width: 1082px;}
.corner1-tl, .corner2-tl, .corner3-tl {float:left;}
.corner1-tc, .corner2-tc, .corner3-tc
{
	width: 1008px;
	height:16px;
	float:left;
}
.corner1-tr, .corner2-tr, .corner3-tr {float:right;}

.corner1-tl {background: url('/images/corner1-tl.png');}
.corner2-tl {background: url('/images/corner2-tl.png');}
.corner3-tl {background: url('/images/corner3-tl.png');}

.corner1-tr {background: url('/images/corner1-tr.png') no-repeat right top;}
.corner2-tr {background: url('/images/corner2-tr.png') no-repeat right top;}
.corner3-tr {background: url('/images/corner3-tr.png') no-repeat right top;}

.corner1-tl, .corner1-tr, .corner2-tl, .corner2-tr, .corner3-tl, .corner3-tr
{
	width:16px;
	height:16px;
}

.corner1-br, .corner2-br, .corner3-br
{
	width:97px;
	height:89px;
	float:right;
}

.corner1-br {background: url('/images/corner1-br.png') no-repeat right bottom;}
.corner2-br {background: url('/images/corner2-br.png') no-repeat right bottom;}
.corner3-br {background: url('/images/corner3-br.png') no-repeat right bottom;}

.text
{
	width:620px;
	float:left;
	color:#FFFFFF;
}

.langs
{
	float:right; padding-right:70px;margin-top:10px;color:#212121;
}

.langs img
{
border: 1px solid #DADADA;
}

.text a {color:#FFFFFF;}
.text object, .text embed {background-color:#000000}

.text table {border-collapse:collapse;}
/*.text table td, .text table th {padding:5px; border:1px solid #9b8cb1}    8c79a7 817195*/
.text table th {padding:6px 5px; background-color:#817195; border:1px solid #9284a4; color:#212121;}
.text table td {padding:5px; border:1px solid #9284a4; color:#e8e3ee; font-family:Arial;}
.text table td a {color:#212121;font-weight:bold; font-family:Arial}

.text table#tweb th {padding:6px 5px; background-color:#60a69c; border:1px solid #67bbab; color:#212121;}
.text table#tweb td {padding:5px; border:1px solid #67bbab; color:#d1e6e4; font-family:Arial;}
.text table#tweb td a {color:#212121;font-weight:bold; font-family:Arial}
.text table#twebc td, .text table.twebc td {color:#d1e6e4;}

.text table#tradio th {padding:6px 5px; background-color:#84a05b; border:1px solid #8bb56a; color:#212121;}
.text table#tradio td {padding:5px; border:1px solid #8bb56a; color:#e2e8da; font-family:Arial;}
.text table#tradio td a {color:#212121;font-weight:bold; font-family:Arial}
.text table#tradioc td, .text table#tradioc td b, .text table.tradioc td, .text table.tradioc td b {color:#e2e8da;}
.text table.tradioc td {border-color: #C3E995 !important}

.text table.nb, .text table.nb td {border-width:0;}
.text table.nb td {padding:3px 5px;}
.text table.nb td img {padding-bottom:3px}
.text table.nb td a, .ui-dialog table.nb td a {color:#FFFFFF;font-weight:normal; font-family:Arial}
.ui-dialog table.nb td {color:#e8e3ee;}

.column1-center a, .column2-center a, .column3-center a {display:block; padding:3px 10px; color:#FFFFFF;}
.column1-center h2, .column2-center h2, .column3-center h2 {font-size:16px; margin:-4px 0 12px 0;}

.contactform input, .contactform textarea {padding:3px;}
.contactform label {margin:0 0 0 3px;}

.addfav {margin-left:4px;color: #F1F0E0 !important;}

.alf a {padding:0 1px;}
.calf
{
	border:1px solid #FFFFFF;
	padding:0 3px;
	background-color:#F2F2F9;
	color:#000000;
}

.sidebar
{
	width: 316px;
	float:right;
	padding:15px 15px 15px 10px;
	margin-bottom:100px;
}

#sidebart {
    background-color: #594D6C;
    border: 1px dashed #352E41;
}

#sidebarw {
    background-color: #388473;
    border: 1px dashed #146548;
}

#sidebarr {
    background-color: #5C7E32;
    border: 1px dashed #385F07;
}


.text table td.tdclt {
    background-color: #594D6C;
    border: 1px dashed #594D6C;
    cursor: pointer;
}

.text table td.tdclw {
    background-color: #388473;
    border: 1px dashed #388473 !important;
    cursor: pointer;
}

.text table td.tdclr {
    background-color: #5C7E32;
    border: 1px dashed #5C7E32 !important;
    cursor: pointer;
}


.sharetext
{
    margin: 5px 0 -2px -5px;
}

#footer
{
	/*height:75px;*/
	color:#000000;
}

#footer .left
{
margin-left:60px;
padding:15px 0px;
}

#footer .right
{
margin-right:60px;
padding:15px 0;
}

#footer .right a
{
padding:0 5px;
}

.fend {color:#808080}

#auth
{
padding-bottom:15px;
margin-bottom:15px;
margin-top: 15px;
/*width: 282px;*/
}
#authcapthca {
    padding-top: 5px;
}

#authinn
{
width: 216px;
margin-left: 5px;
}

.autht {border-bottom:1px dashed #C0B8CF;}
.authw {border-bottom:1px dashed #9FEFD6;}
.authr {border-bottom:1px dashed #C3E995;}



#namek, #passk
{
    background: url('/images/auth.png');
    width:208px;
    height:25px;
    border:0;
    padding-left:7px;
    color:#4c4c4c;
    padding-top:0px;
}

#passk {margin-top:5px}

#auth label {
    display: block;
    margin: -15px 0 0 17px;
}
label {
    cursor: default;
}

.sdone, .serror, .swarn, .swarn2 {
    display: block;
    font-family: Arial;
    font-size: 12px;
    padding: 4px;
    margin-bottom:5px;
}
.sdone {
    background-color: #D6F0D5;
    border: 1px dashed #A4DEA3;
    color: #112E10;
}
.serror {
    background-color: #FFD4C0;
    border: 1px dashed #E68F6B;
    color: #370000;
}
.swarn {
    background-color: #FFFFCE;
    border: 1px dashed #7D7D00;
    color: #370000;
}
.swarn2 {
    /*background-color: #7D7D00;*/
    border: 1px dashed #BDBD00;
    color: #D2D200;
}
.imgdone, .imgerror, .imgwarn, .imgwarn2 {
    background-position: 0 2px;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin-right: 5px;
    margin-top: -1px;
    width: 16px;
}
.imgdone {
    background: url("/images/done.png") repeat scroll 0 0 transparent;
}
.imgerror {
    background: url("/images/error.png") repeat scroll 0 0 transparent;
}
.imgwarn, .imgwarn2 {
    background: url("/images/warning.png") repeat scroll 0 0 transparent;
}

.columns table.mainlogos, .sidebar table.mainlogos {margin:3px 0 10px 1px;}
.columns table.mainlogos td, .sidebar table.mainlogos td {padding:2px;}
.columns table.mainlogos td a, .columns table.mainlogos td img, .sidebar table.mainlogos td a, .sidebar table.mainlogos td img {width:45px;height:45px;padding:0}

.columns table.mainlogos td img {
 /*filter: url(/filters.svg#grayscale);
 filter: gray;
 -webkit-filter: grayscale(1);*/
}

img.greyscale:hover {
/* filter: none;
 -webkit-filter: grayscale(0);*/
}

img.greyscale
{
/* filter: gray;
 -webkit-filter: grayscale(1);*/
}

div.nogreyscale
{
	border:3px solid #3D334A !important;
	margin:-3px !important;
}

div.nogreyscale a
{
	opacity: 0 !important;
	filter: "none" !important;
	-moz-opacity: 0 !important;
	-khtml-opacity: 0 !important;
	zoom: 0 !important;
	display: block;
}


ul.umain
{
	margin-left:25px;
	margin-bottom:12px;
}

ul.umain li
{
	margin-bottom:4px;
}

.pcount
{
	/*float:right;*/
	/*margin-right:40px;*/
	margin-top:10px;
	font-size:13px;
	/*font-family:"Times New Roman";*/
	position:relative;
	z-index:1;
}

.pcount2
{
	float:right;
	margin-right:40px;
	margin-top:10px;
	font-size:13px;
	/*font-family:"Times New Roman";*/
}

.pcountin
{
	/*z-index:1;*/
	position:absolute;
	right:-4px;
}


.pcount img, .pcount2 img {margin: 0 3px 3px 0;}

.descr {margin-left:0px;margin-top:0px;font-family:Arial;font-size:12px}
/*.descr a {font-style:italic;font-family:"Times New Roman";font-size:12px}*/
.descr h2 {font-style:normal;font-family:Arial;font-size:14px;margin-top:4px;color:#E8E3EE !important}

a.commlinks {font-family:"Times New Roman" !important;font-weight:normal !important;color:#FFFFFF !important;}

#smiles {float:right;width:166px;height:115px;text-align:center;overflow-x:hidden;overflow-y:auto}

*:first-child+html #smiles {
  padding-right: 15px !important;
  width: 156px !important;
}

.text table.commt, .text table#commtable {width:100%;border:0}
.text table.commt td, .text table#commtable td {border:0}

.text table td.smile {padding:0}

.progbar{width:625px;margin:10px 0 -5px 0;padding:5px 0 30px 0;position:relative;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-bottom:1px dashed #FFFFFF;}
h3 {text-align:center}

.pbar .ui-progressbar-value {display:block !important}

.dadv {margin:-10px 0 10px 0}
/*.dadv {margin:-5px 0 5px 0}*/
.dadv table td {padding:0; border:0}
.dadv table tr {border:0}
.content1 .dadv table tr {background-color:#6F5E86 !important;}
.content2 .dadv table tr {background-color:#4E958D !important;}
.content3 .dadv table tr {background-color:#728F4C !important;}

#MarketGidComposite566501 div.mcimg {padding: 0 4px 0 8px !important;}


.content1 table .advimg {width:80px; height:80px; padding:3px 7px 0 5px}
.content1 table a.advname {color:#F1F0E0;font-size:13px;padding-bottom:3px}
.content1 table .advprice {color:#d4cfda;font-size:12px}
.content1 table .advdesc {color:#DEDEDE;font-size:11px}
.content1 table a.advmerch {color:#FFFFFF;font-size:11px;padding-top:3px}

.ptitle {margin-bottom:3px;color:#FFFFFF;width:500px; font-size:13px}
.pdesc {margin:7px 0;font-family:Arial;font-size:11px;color:#E8E3EE}
.pbar {overflow: hidden}
.pstart {float:left;margin-top:2px;color:#E8E3EE;/*font-family:"Times New Roman"*/}
.pend {float:right;margin-top:2px;color:#E8E3EE;/*font-family:"Times New Roman"*/}
.pnow {color:#B0A3C3;margin-top:-17px;margin-left:5px;position:absolute;/*font-family:"Times New Roman"*/}
.percent {position:relative;text-align: right;}
.elapsed {position:relative;text-align: right;}

.ui-progressbar { height:1.5em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: 0; height:100%; }

.ui-widget-content {
    /*background: url("/images/pbar/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE;*/
    background-color: #584E65;
    border: 1px solid #3D334A;
    color: #333333;
}
.ui-widget-header {
    /*background: url("/images/pbar/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;*/
    /*background-color: #A59AB1;*/
    border: 1px solid #3D334A;
    color: #FFFFFF;
    font-weight: bold;


    background-color: #3D334A;
}

.modal
{
	overflow:hidden;
	border: 0;
}


input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	outline: 0;
	border: 1px solid #3D334A;
	width: 300px;
	height: 218px;
	z-index:2;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 4px 4px;
	position: relative;
	background-color: #1A1A1A;
	border:0;
}
.ui-dialog .ui-dialog-title {
	margin: 1px 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: 3px;
	top: 50%;
	width: 21px;
	margin: -10px 0 0 0;
	padding: 0px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	/*padding: 5px 10px;*/
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: 5px;
	padding: 3px 10px 5px 4px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: 5px 4px 5px 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}

#halfp
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
	-moz-opacity: 0.5; /* Mozilla 1.6 ï¿½ ï¿½ï¿½ï¿½ï¿½ */
	-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
	opacity: 0.5;
}


.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}


#stream {background-color: #000000;width:625px}
.stream_mini, .stream_mini object, .stream_mini embed {background-color: #000000;width:100%;height:100%}

.tabs ul
{
	list-type:none
}

.tabs li
{
	width:46px;
	display:block;
    float: left;
    margin: 0 1px;
    border: 1px solid #3D334A;
    background-color: #584E65;
    padding:4px;
    cursor:pointer;
}

.tabs li.current
{
    background-color: #3D334A;
    margin-top:-4px;
    padding:8px 4px 4px;
}
.tabs li:hover
{
    background-color: #3D334A;
    /*margin-top:-4px;
	padding:8px 4px 4px;*/
}
/*.tabs {margin-left:2px}*/

.box
{
    background-color: #3D334A;
    padding:4px;
    color:#B0A3C3;
}

.box a {color:#E8E3EE; margin:0 4px;}
.box a.active {color:#E8E3EE; margin:0 4px;text-decoration:none;font-weight:bold;border-bottom: 1px solid #3D334A}

.content3 .box a, .content3 .box a.active {color:#E2E8DA}

.content3 .tabs li
{
    background-color: #5C7E32;
    border: 1px solid #385F07;
}

.content3 .tabs li.current, .content3 .tabs li:hover
{
 background-color: #385F07;
}

.content3 .box
{
    background-color: #385F07;
    color:#E2E8DA;
}

.cont
{
	background-color: #584E65;
	color: #E8E3EE;
	padding: 10px;
}

.content3 .cont
{
    background-color: #5C7E32;
    color:#E2E8DA;
}

#chblock
{
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px dashed #9584AE;
}

.tvprog div
{
    margin:2px 0;
    clear:both;
}
.tvprog p
{
    margin: -14px 0 0 38px;
    display:block;
    padding:0;
}
.gray
{
	color:#9584AE;
}

.telep
{
	margin:7px 0 -20px 0;
	display:block;
	text-align:center;
}

.telep a
{
	color:#E8E3EE;
	text-decoration:none;
	border-bottom:1px dotted #E8E3EE;
	font-size:12px;
	/*font-weight:bold;*/
}

.telep a:hover
{
	border-bottom:1px solid #E8E3EE;
}

.content3 .telep
{
	margin:-15px 0 0 0;
	padding:10px 0 14px
}

.content3 .telep a
{
	color:#cfdbc0;
	border-bottom:1px dotted #cfdbc0;
}

.content3 .telep a:hover
{
	color:#cfdbc0;
	border-bottom:1px solid #cfdbc0;
}

.content3 .telep
{
    margin: -15px 0 0 0;
    padding: 17px 0 14px;
    text-align: left;
}


#map_canvas
{
	width:282px;
	height:200px;
	margin-bottom:15px;
}

#map_line
{
	margin:15px 0 20px 0;
	border-top:1px dashed #9FEFD6;
}

#infocontent
{
width:250px;
}

#infocontent img
{
	float:left;clear:right;margin-right:15px;
}

.text #infocontent a
{
color:#808080;
}

#map_line_tv
{
    margin: -5px 0 15px;
    padding: 0 0 12px;
	border-bottom:1px dashed #9FEFD6;
}

.text table.stable
{
margin:0px 0 7px 0;width:550px;border:0;
}

.text table.stable td
{
border:0;
}

.text th {color:#FFFFFF;font-size:13px;}

.text th a
{
color:#FFFFFF;
border-bottom:1px dotted #FFFFFF;
font-size:13px;
margin-right:2px;
text-decoration:none
}

.text th a:hover, .text th a.active
{
color:#FFFFFF;
border-bottom:1px solid #FFFFFF;
text-decoration:none
}

.text table th img {margin-bottom:2px}

.plnow {margin-left:-12px !important; color:#FFFFFF;font-weight:bold;font-style: italic;font-family: Arial;}
.plnow p {margin-left:50px !important;}

/*#tvimgst div, #tvimgst a {background: url('/images/sprites/tv.jpg') repeat scroll 0 0 #594D6C;}
#webimgst div, #webimgst a {background: url('/images/sprites/webcams.jpg') repeat scroll 0 0 #388473;}
#raimgst div, #raimgst a {background: url('/images/sprites/radio.jpg') repeat scroll 0 0 #5C7E32;}
#tvimgst_pr div, #tvimgst_pr a {background: url('/images/sprites/tv_program.jpg') repeat scroll 0 0 #594D6C;}
#raimgst_pr div, #raimgst_pr a {background: url('/images/sprites/radio_tracks.jpg') repeat scroll 0 0 #5C7E32;}*/

.content3 .tvprog {font-family:"Times New Roman"}

.pageactive {margin:0 2px;padding:0 4px 1px; background-color: #594D6C; border: 1px solid #352E41;}
.pagelinks a {margin:0 4px;}
.pagelinks a:hover {margin:0px;padding:0 3px 1px;background-color: #594D6C; border: 1px dashed #352E41;}
p.pagelinks {padding-bottom:0;}

.text table td.plinkst a {color:#FFFFFF; font-weight:normal}
.text table td.plinkst p.pagelinks {color:#FFFFFF;font:12px/1.2em "Tahoma",Arial,Verdana,Tahoma,sans-serif; margin: -10px 0 5px 0 !important;}
.text table td.plinkst .tpage {margin-bottom: 5px !important; margin-top: -10px !important}

#rlinks .pageactive {background-color: #5C7E32; border: 1px solid #385F07;}
#rlinks a:hover {background-color: #5C7E32; border: 1px dashed #385F07;}

#weblinks .pageactive {background-color: #388473; border: 1px solid #146548;}
#weblinks a:hover {background-color: #388473; border: 1px dashed #146548;}


/*#track {color:#f1f4ed}*/
#ptrack {
	/*color:#eef2e9;
	margin:10px 0 0;
	*//*border-bottom:1px dashed #FFFFFF;*//*
	padding-bottom:12px;
	width:400px;*/
    text-align: center;
    font-weight: bold;
	font-family:Arial;
	font-size:12px
}
#pcontainer {
	border-bottom:1px dashed #FFFFFF;
	width:625px;
	margin-bottom:-5px;
}

.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
	color:#000000;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('/images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.ac_results em {float:right;font-style:italic;color:#808080}

.text object.swfupload, .text embed.swfupload {background-color:inherit;}

.favtone_tv {background-color:#6d6180;}
.favttwo_tv {background-color:#635776;}
.favtdrag_tv {background-color:#3D334A;}

.favtone_webcams {background-color:#428e7d;}
.favttwo_webcams {background-color:#4c9887;}
.favtdrag_webcams {background-color:#146548;}

.favtone_radio {background-color:#66883c;}
.favttwo_radio {background-color:#709246;}
.favtdrag_radio {background-color:#385F07;}

.auth-inputs {
    overflow: hidden;
    text-align: center;
}
.auth-inputs .captcha-img {
    padding: 10px;
    width: 150px;
}
.auth-inputs .captcha-input,
.auth-inputs #namek,
.auth-inputs #passk {
    width: 90px;
    background: #fff;
    background-image: none!important;
    border-radius: 8px;
    margin: 0;
    text-align: left;
}
.auth-inputs #passk {
    margin: 0 0 0 10px;
}
.auth-inputs .submit {
    margin: 2px 0 0 5px;
    padding: 2px 6px;
    /*float: right;*/
}
.auth-inputs .captcha-input {
    width:208px;
    height:25px;
    border:0;
    padding-left:7px;
    color:#4c4c4c;
    padding-top:0px;
}

.downloader {
	border-bottom:1px dashed #C0B8CF;
}

.downloader2 {
	background:#594D6C;
	border:1px solid black;
	margin: 3px;
	padding: 0 40px;
}



#authinn {
    width: auto;
    margin: 0 5px;
}

p.htv {
    position: absolute;
    left: -5000px;
    top: - 5000px;
}
.toggle-desc {
    margin: 0 0 1em 0;
}
.toggle-desc a {
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}
.toggle-desc a:hover {
    border-bottom: none;
}

.progbar .ptitle {
    max-width: 360px;
}
.pcount .vis-count,
.pcount .vis-fav {
    padding: 3px 0 0 0;
    display: inline-block;
}
.pcount .social-share {
    float: right;
    padding: 0 0 0 3px;
    margin-top: -1px;
}

.now-block {
    clear: both;
    margin-top:15px;padding-top:15px;border-top:1px dashed #C0B8CF;
}

a.download-hover {
	background-image: url(/images/download-button.png);
	display: block;
	height: 42px;
	width: 220px;
	border:0;
	margin:-4px auto 6px;
}


a.download-hover:hover {
	background-position: bottom center;
}

p.download-hover {
	font-size:14px;
}
div.jp-audio ul.jp-controls {
    width: auto!important;
}
div.jp-audio div.jp-type-single a.jp-mute,
div.jp-audio div.jp-type-single a.jp-unmute {
    margin-left: 410px!important;
}
div.jp-audio div.jp-volume-bar {
    left: 530px!important;
}
div.jp-audio div.jp-type-single div.jp-progress {
    width: 385px!important;
}
div.jp-audio div.jp-type-single div.jp-time-holder {
    width: 385px!important;
}
#jp_container_1 {
    width: 623px;
}
/*
.sidebar .add-stream {
    margin-top: -5px;
}
.sidebar .add-stream a {
    font-weight: bold;
}
*/


a.download-hover2 {
	background-image: url(/images/download-button.png);
	display: block;
	height: 42px;
	width: 220px;
	border:0;
	float: right;
	margin:-23px 6px;
}

a.download-hover2:hover {
	background-position: bottom center;
}

.download-container {
    width: 625px;
}
.download-container .downloader2 {
    margin-left: auto;
    margin-right: auto;
}

.tablereg {}
.tablereg .error {
    display: block;
    color: #cc0000;
}

.hq-download {
  background: #bca5dc;
  background-image: -webkit-linear-gradient(top, #bca5dc, #9c85bc);
  background-image: -moz-linear-gradient(top, #bca5dc, #9c85bc);
  background-image: -ms-linear-gradient(top, #bca5dc, #9c85bc);
  background-image: -o-linear-gradient(top, #bca5dc, #9c85bc);
  background-image: linear-gradient(to bottom, #bca5dc, #9c85bc);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff !important;
  font-size: 20px !important;
  padding: 10px 50px 10px 50px;
  text-decoration: none !important;
}

.hq-download:hover {
  background: #b29cd0;
  background-image: -webkit-linear-gradient(top, #b29cd0, #907aae);
  background-image: -moz-linear-gradient(top, #b29cd0, #907aae);
  background-image: -ms-linear-gradient(top, #b29cd0, #907aae);
  background-image: -o-linear-gradient(top, #b29cd0, #907aae);
  background-image: linear-gradient(to bottom, #b29cd0, #907aae);
  text-decoration: none !important;
}

.getvideo-landing-page {
	margin-top: 10px;
}

.getvideo-landing-page a {
	padding-bottom: 5px;
	padding-left: 8px;
	text-decoration: underline;
	font-size: 18px;
}