@charset "utf-8";@-ms-viewport {
  width: device-width;
}
.visible-phone {
  display: none !important;
}
.visible-tablet {
  display: none !important;
}
.hidden-desktop {
  display: none !important;
}
.visible-desktop {
  display: inherit !important;
}
.hidden-buyuk {
  display: none !important;
}
.visible-buyuk {
  display: inherit !important;
}
.visible-print {
  display: none !important;
}

@media (min-width: 1300px) {
	.container-sabit{
		margin:auto;
		width:1300px;
	}
} 
@media (max-width: 1280px) {
	.hidden-buyuk {
		display: inherit !important;
	}
	.visible-buyuk {
		display: none !important ;
	}
	.input-xlarge{/*width:400px !important;*/}
	.rklm01yenit728x90{display:none;}
	
	
	.container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	.container-sabit{
		margin:auto;
		width:auto;
	}
	.offset-index {
		margin-left: 230px;
	}
	#notification_wrap{
		left: 100%;
		margin-left: -187px;
	}
	
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width: 200px !important;	}	
}
@media (max-width: 979px) {
	body { padding-top:70px;  }
	.modal {top: 20px; right: 10px; left: 50%; }
	.offset-sidebar { margin-right:0px  ; }
	.nav-collapse,
	.nav-collapse.collapse { overflow: hidden; height: 0; }
	.rklm01{display:none !important; }
	.user-stats { bottom:0; }
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:400px !important;	}
	.entry_list_resimli_dis {  margin-top:0px;}
	h1.title { margin-top: 0px !important;}
	.title-entrytab-sol{ background-color: transparent !important;}
	.loginyok div#head_avatar_area {right:0px !important;}
}
@media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important ;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
  
	/*galeri*/
	#main .grid .thumbnail {width: 44%;margin: 10px 2%;}
	
	#profile .user-left{ display:none; }
	#profile .user-right{ display:none; }
	#profile .user-center{ margin:0 }
	#profile .navbar .nav > li > a { background: transparent; border-top: 3px solid #427FED; }
	#profile #user-menu .navbar-inner { padding:0; }
	#profile #user-menu .navbar-inner .nav{ margin:0; text-align: center; width:100%}
	#profile #user-menu .navbar-inner .nav li { float: left;display: inline-block;width: 16.6%;text-overflow: clip;overflow: hidden;}
	#profile #user-menu .navbar-inner .nav li a{ margin:0; }
	#profile #user-menu .navbar-inner .nav li a span{ padding:13px 2px; }
	#profile #user-menu .navbar-inner .user-avatar-li h1 {text-align:left;left:120px;bottom:42px}
	#profile .user-header-inner {margin:0; text-align:right;}
	#profile .user-header-inner .right-buttons{ width:100%}
	#profile .user-header .user-avatar-container{width:100px;height:100px}
	#profile .user-stats { bottom:46px; }
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:280px !important;}
}
@media (max-width: 768px) {
	
	#ulu_ust_ben{ display:block !important;}
	.hidden-desktop {
	display: inherit !important;
	}
	.visible-desktop {
	display: none !important;
	}
	.visible-phone {
	display: inherit !important;
	}
	.hidden-phone {
	display: none !important;
	}
	.input-xlarge {width:180px;}
	.navbar .logo {	width:82px;	}
	
	.modal {top: 10px;	right: 10px !important;	left: auto;	width:auto;	position:absolute;	}
	.offset-index { margin-left:0px !important; }
	#main{padding-left:0;}
	
	#profile .user-left{ display:none; }
	#profile .user-right{ display:none; }
	#profile .user-center{ margin:0 }
	#profile .navbar .nav > li > a { background: transparent; border-top: 3px solid #427FED; }
	#profile #user-menu .navbar-inner { padding:0; }
	#profile #user-menu .navbar-inner .nav{ margin:0; text-align: center; width:100%}
	#profile #user-menu .navbar-inner .nav li { float: left;display: inline-block;width: 16.6%;text-overflow: clip;overflow: hidden;}
	#profile #user-menu .navbar-inner .nav li a{ margin:0; }
	#profile #user-menu .navbar-inner .nav li a span{ padding:13px 2px; }
	#profile #user-menu .navbar-inner .user-avatar-li h1 {text-align:left;left:120px;bottom:42px}
	#profile .user-header-inner {margin:0; text-align:right;}
	#profile .user-header-inner .right-buttons{ width:100%}
	#profile .user-header .user-avatar-container{width:100px;height:100px}
	#profile .user-stats { bottom:46px; }

	
	#index { background: #ddd;position: absolute;top: 112px;z-index: 9999;left: -100%;width: 100%; }
	.index-head {margin: 3px 35px 3px 0}
 	#index .index-ic > .uluicon-close { float: right;font-size: 15px;padding: 9px 8px 6px 8px;color: #666;}

	/*galeri*/
	#main .grid .thumbnail {width: 44%;margin: 10px 2%;}
	
	.ilk_mesaj_uyari a.uyari_buton{width: 100%;}
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:200px !important;	}
			#main { padding-left: 0px !important;}
	.entryler { padding-right: 0px !important; } 

}
@media (max-width:680px) {
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:250px !important;	}
	.navbar .logo,.navbar .logo:hover{ margin-right:0px !important; background: url(/rs/img/ulu_kisa.png) !important; background-size: contain !important; background-repeat: no-repeat; width:40px !important; margin-left:0px !important; }
	.entry-author {margin-top: 10px !important; }
	.m_box a { font-size: 14px !important; padding: 9px 5px !important; }	
	/*** Profil Yeni ***/
	.left-blocks { padding-right: 0px; }
	.profile-contents .right-block { top: 56px; display: none; }
	ul.nav-pro li a { color: #fff; padding: 5px 0px;}
	.user-header {min-height: 185px; overflow:hidden;}
	
}
@media (max-width:600px) {
	.input-xlarge { width:120px !important;}
	.navbar .logo { width:19px; margin:0 12px 0 6px }
	div#right_top_box i { color: #F5F5F5 !important; }
	.navbar .nav { float:right; margin-right:0px;}
	.material .navbar .nav { float:right; margin-right:55px;}
	.material .navbar .nav > li > a .uluicon-user{ display:none; }
	
	
	.navbar .nav > li > a { margin: 5px 2px 0; padding: 5px 5px; height: 20px; line-height: 20px; }
	.navbar .nav > li > a i { font-size:16px; }
	#top-search { margin:0px 5px;}
	
	#profile .navbar .nav > li > a { background: transparent; border-top: 3px solid #427FED; }
	#profile #user-menu .navbar-inner { padding:0; }
	#profile #user-menu .navbar-inner .nav{ margin:0; text-align: center; width:100%}
	#profile #user-menu .navbar-inner .nav li { float: left;display: inline-block;width: 16.6%;text-overflow: clip;overflow: hidden;}
	#profile #user-menu .navbar-inner .nav li a{ margin:0; }
	#profile #user-menu .navbar-inner .nav li a span{ padding:13px 2px; }
	#profile #user-menu .navbar-inner .user-avatar-li h1 {text-align:left;left:120px;bottom:42px}
	#profile .user-header-inner {margin:0; text-align:right;}
	#profile .user-header-inner .right-buttons{ width:100%}
	#profile .user-header .user-avatar-container{width:100px;height:100px}
	#profile .user-stats { bottom:46px; }
	
	/*cepboy01*/
	#sag-menu{ /*float:none !important;*/ }
	.nav.nav-pills.pull-left{float:none !important;margin-left:0}
	.nav.nav-pills.pull-right{float:none !important;}

	.dahaaltlar{margin:0px 10px;}
	.mobilegitmenu{display:block !important; }

	.uyelik_sayfa_form#yeniuye { width: 90%; margin: 0; padding: 10px;}
	.uyelik_sayfa_form#yeniuye .form-item { margin-bottom: 10px}
	.uyelik_sayfa_form#yeniuye .form-item > label { width: 90%; text-align: left;}
	.uyelik_sayfa_form#yeniuye .form-item > div { margin-left:0 } 
	.uyelik_sayfa_form#yeniuye .form-item  .button { margin:5px }
	

	.entry-list .entry-p {padding: 0 20px 0 0;word-wrap: break-word;min-height: 40px;}
	.entry-list .artieksi {right: 0}

	.submit-form{ padding: 5px 0}
	
	.modal {width:100%; margin-left:0;}
	.modal.fade.in {left:0; top:0}
	.uluhandle {height:auto}
	.modal-header-kapatli h3 {width:90%}
	.mkelimesil #sil_html_sil_sebep textarea {width: 95%}
	
	.mini-avatar-side form { height: auto; float: left; }
	.popkuladi { float:left; width:99% }
	

	.entry_list_kayanlar{ margin:7px 6px; }
	.entry_kaydir_baslik{ width:99%!important;}
	.entry_kaydir_metin{ width:99%!important; }
	.resim_manseti{ display: none!important;}
	
	.entry_list_menu .el_but a{padding: 8px 4px;}
	.secili_el_but a{padding: 8px 4px;}
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:170px !important;	}

}
@media (max-width:540px) {
.title-entrytab-sol a { padding: 6px 4px !important; }
.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:110px !important;	}
ul.logout_bar li:nth-child(1){ display: none; }	
#top-search { margin-left: 5px !important; }
div#head_avatar_area {right: 0px !important;}
ul.logout_bar li a {font-size: 13px !important; line-height: 28px !important; margin-top: 2px !important; }
h1.title {font-size: 18px !important; }
.entry_list_resimli_dis { width: 100% !important; }

}

@media (max-width:480px) {
	#main { padding-left: 0!important; margin-top: 0!important; }
	.navbar .nav > li > a { margin: 5px 2px 0; padding: 5px 5px; height: 20px; line-height: 20px; }
	.container-fluid { padding-right:5px; padding-left: 5px; }
	#profile .navbar .nav > li > a { 
		background: transparent;
		border-top: 3px solid #427FED;
	}
	.user-avatar-li { width:100% }
	.feed-item {max-width:100%!important}
	.user-stats { top: 0;bottom: auto;right: 0;}
	#profile #user-menu .navbar-inner { padding:0; }
	#profile #user-menu .navbar-inner .nav{ margin:0; text-align: center;}
	#profile #user-menu .navbar-inner .nav li { float: left;display: inline-block;width: 16.6%;text-overflow: clip;overflow: hidden;}
	#profile #user-menu .navbar-inner .nav li a{ margin:0; }
	#profile #user-menu .navbar-inner .nav li a span{ padding:13px 2px; }
	#profile #user-menu .navbar-inner .user-avatar-li h1 {text-align:left;left:120px;bottom:42px}
	#profile .user-header-inner {margin:0; text-align:right;}
	#profile .user-header-inner .right-buttons{ width:100%}
	#profile .user-header .user-avatar-container{width:100px;height:100px}
	
	#loginform-mini{width: 94%; padding: 0 2%;}
	#loginform-mini .form-item > div input[type=text],
	#loginform-mini .form-item > div input[type=password]{width:94%;padding:8px 2%}
	#loginform-mini #gonder{ width:98%}
	#loginform-mini #facebook_ile_gir{ width:98%}
	
	.uyelik_sayfa_form .form-item > div input[type=text],
	.uyelik_sayfa_form .form-item > div input[type=password] { width: 96%}
	
	.baslik_wrap{ }
	.baslik_wrap .buyuk_baslik{ text-align:center; margin: 15px 0;}
	
	.ulu-kapak-koca-ust li:nth-child(even){ margin-left:0px;}
	.ulu-kapak-koca-ust li{ width:98%;  border-bottom:1px solid #ccc;		}
	.ulu-kapak-yan li{ width:98%;}
	.ulu-kapak-koca{ width:100%;}
	.ulu-kapak-koca-a{ width:98%;}
	.ulu-kapak-koca #kapak_manset_buts{ height:24px;}
	.manset_but{ width:6.35% !important;}
	.ulu-kapak-koca-b{ margin-left:0px; margin-top:20px; width:98%;}
	
	.entry_list_kapak_resmi{dşsplay:none;}
	.entry_list_kapak_metinler{width:80%!important}
	/*galeri*/
	#main .grid .thumbnail {width: 90%;margin: 10px auto;}	
	.yeni_tema .btn-group .dropdown-toggle{ display:none !important;}	
}

@media (max-width:350px) {
	.input-xlarge { width: 100px !important; }
	ul.logout_bar li:nth-child(2) { display: none; }	
	.navbar-form input, .navbar-form select, .navbar-form .radio, .navbar-form .checkbox{ width:120px !important;	}
	.title-options > ul {padding: 1.8px !important; }
	.title-entrytab-sol i { display: none !important; }
	.title-entrytab-sol b { font-size: 10px !important; }
	.title-options > ul > li > a{  font-size: 9px !important;  }
	.title-entrytab-sol a { padding: 4px !important; }
	#head_avatar_area i.uluicon-menu {font-size: 40px !important;}
	.loginyok div#head_avatar_area { width: 25px !important; right:0px !important; top:-4px !important;}
	
	.yeni_tema .navbar-form input, .yeni_tema .navbar-form select, .yeni_tema .navbar-form .radio, .yeni_tema .navbar-form .checkbox {width: 120px !important;}
	.yeni_tema .btn-group{ display:none !important;}
}



@media print {
  .visible-print {
    display: inherit !important;
  }
  .hidden-print {
    display: none !important;
  }
}

.ulu-kapak-koca { margin-top: -33px !important; }
.kayan_entryler_dis { display: none !important; }