@font-face {
	font-family: 'uluicon';
	src:url('fonts/uluicon.eot?kz9bhz');
	src:url('fonts/uluicon.eot?kz9bhz#iefix') format('embedded-opentype'),
		url('fonts/uluicon.ttf?kz9bhz') format('truetype'),
		url('fonts/uluicon.woff?kz9bhz') format('woff'),
		url('fonts/uluicon.svg?kz9bhz#uluicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="uluicon-"], [class*=" uluicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'uluicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.uluicon-loop-alt1:before {
	content: "\e906";
}
.uluicon-fast_forward:before {
	content: "\e01f";
}
.uluicon-fast_rewind:before {
	content: "\e020";
}
.uluicon-mic_none:before {
	content: "\e02a";
}
.uluicon-pause:before {
	content: "\e034";
}
.uluicon-play_arrow:before {
	content: "\e037";
}
.uluicon-hourglass_empty:before {
	content: "\e88b";
}
.uluicon-question_answer:before {
	content: "\e904";
}
.uluicon-send:before {
	content: "\e900";
}
.uluicon-live_help:before {
	content: "\e901";
}
.uluicon-photo_library:before {
	content: "\e902";
}
.uluicon-video_collection:before {
	content: "\e903";
}
.uluicon-text-format:before {
	content: "\e633";
}
.uluicon-alarm:before {
	content: "\e631";
}
.uluicon-user-delete:before {
	content: "\e628";
}
.uluicon-user-add:before {
	content: "\e629";
}
.uluicon-share:before {
	content: "\e610";
}
.uluicon-users:before {
	content: "\e620";
}
.uluicon-comment:before {
	content: "\e617";
}
.uluicon-error:before {
	content: "\e613";
}
.uluicon-arrow-drop-down:before {
	content: "\e615";
}
.uluicon-arrow-drop-up:before {
	content: "\e616";
}
.uluicon-download:before {
	content: "\e069";
}
.uluicon-cross:before {
	content: "\e117";
}
.uluicon-trending-up:before {
	content: "\e614";
}
.uluicon-arrow-up-left:before {
	content: "\e63a";
}
.uluicon-wordpress:before {
	content: "\e635";
}
.uluicon-feed:before {
	content: "\e636";
}
.uluicon-twitter3:before {
	content: "\e637";
}
.uluicon-facebook3:before {
	content: "\e638";
}
.uluicon-google-plus:before {
	content: "\e639";
}
.uluicon-out:before {
	content: "\e62f";
}
.uluicon-in:before {
	content: "\e630";
}
.uluicon-reload:before {
	content: "\e625";
}
.uluicon-switch:before {
	content: "\e624";
}
.uluicon-flame:before {
	content: "\e622";
}
.uluicon-arrow-right:before {
	content: "\e632";
}
.uluicon-paint-format:before {
	content: "\e62e";
}
.uluicon-files-empty:before {
	content: "\e62a";
}
.uluicon-camera:before {
	content: "\e62d";
}
.uluicon-bookmark:before {
	content: "\e62b";
}
.uluicon-pencil:before {
	content: "\e626";
}
.uluicon-menu2:before {
	content: "\e623";
}
.uluicon-book:before {
	content: "\e621";
}
.uluicon-cog:before {
	content: "\e627";
}
.uluicon-heart:before {
	content: "\e61e";
}
.uluicon-pen:before {
	content: "\e61d";
}
.uluicon-twitter2:before {
	content: "\e619";
}
.uluicon-twitter:before {
	content: "\e618";
}
.uluicon-facebook:before {
	content: "\ea8c";
}
.uluicon-eye:before {
	content: "\e9ce";
}
.uluicon-fullscreen:before {
	content: "\e612";
}
.uluicon-search:before {
	content: "\e60f";
}
.uluicon-user:before {
	content: "\e606";
}
.uluicon-earth:before {
	content: "\e607";
}
.uluicon-info:before {
	content: "\e60c";
}
.uluicon-checkmark:before {
	content: "\e609";
}
.uluicon-volume-medium:before {
	content: "\e60d";
}
.uluicon-volume-mute:before {
	content: "\e60e";
}
.uluicon-copy:before {
	content: "\e601";
}
.uluicon-mobile:before {
	content: "\e600";
}
.uluicon-close:before {
	content: "\e604";
}
.uluicon-enter:before {
	content: "\e602";
}
.uluicon-exit:before {
	content: "\e603";
}
.uluicon-heart-o:before {
	content: "\e634";
}
.uluicon-facebook2:before {
	content: "\e61b";
}
.uluicon-twitter-square:before {
	content: "\f081";
}
.uluicon-facebook-square:before {
	content: "\f082";
}
.uluicon-gears:before {
	content: "\f085";
}
.uluicon-angle-left:before {
	content: "\f104";
}
.uluicon-angle-right:before {
	content: "\f105";
}
.uluicon-angle-up:before {
	content: "\f106";
}
.uluicon-angle-down:before {
	content: "\f107";
}
.uluicon-unlink:before {
	content: "\f127";
}
.uluicon-bar-graph:before {
	content: "\e62c";
}
.uluicon-pie-chart:before {
	content: "\e61f";
}
.uluicon-uniE608:before {
	content: "\e608";
}
.uluicon-menu:before {
	content: "\e605";
}
.uluicon-trashcan:before {
	content: "\e611";
}
.uluicon-addressbook:before {
	content: "\e61c";
}
.uluicon-twitter-old:before {
	content: "\e61a";
}
.uluicon-tag:before {
	content: "\e60b";
}
.uluicon-list:before {
	content: "\e60a";
}

