/*
Theme Name: JJ6 -- 790px Stage TAKEOVER
Theme URI: http://justjared.com
Description: new version of
Version: 2.11
Author: chrischoi

JustJared main theme by chrischoi
This is the main layout to accomodate for a 300px wide sidebar.
This theme is the copyright of Just Jared Inc.  It may not be distributed or used without written permission from Just Jared Inc.  
*/

body{text-align:center;background-color:#404040;font-size:10px;font-family:arial, verdana, sans-serif;color:#333;margin:0 auto;padding:0; }
#page{width:920px;background-color:#fff;border:4px solid #999;border-bottom:none;text-align:left;margin:10px auto 0;padding:0;}
.takeover #page{width:848px;border:1px solid #eee;border-bottom:none;margin-top:0;}
.topads{min-height: 90px; text-align:center;margin:12px auto;}
.takeover .topads{width:850px;}
.tstakeover #page,.tstakeover .topads{position:relative;}
.topads .topad{width:732px;text-align:center;margin:0 auto;}
.topads table{text-align:center;margin:auto;}
.takeoverhed{clear:both;position:relative;margin:0;padding:0;}
.takeovertop{float:left;width:100%;height:90px;background-color:#EAFF00;text-align:center;margin:0;padding:0;}
#topmenu{display:block;clear:both;overflow:hidden;height:30px;background:#1a9dfe url('/wp-content/themes/default/images/bluebar.gif');text-align:left;padding:0;}
ul.topnav{margin:0 0 0 48px;padding:0;}
.takeover ul.topnav{margin-left:10px;}
ul.topnav li{display:block;float:left;margin:7px 0 0;padding:1px 12px 3px;}
ul.topnav a,ul.topnav a:visited{font-size:12px;color:#FFF;text-decoration:none;text-transform:uppercase;margin:2px 2px 0;}
ul.topnav a:hover{color:#444;text-decoration:none;}
#topmenu ul.topnav li{padding:1px 11px 3px;}
#topbar{height:40px;background:#FFF url('/wp-content/themes/default/images/bg-topbar.gif') top left repeat-x;text-align:right;margin:0;padding:0;}
.searchin{float:right;margin:4px 21px 0 0;}
.searchin #s{width:222px;background-color:#fff;border:2px solid #eee;}
.searchin #searchsubmit{border:3px solid #333;background-color:#000;color:#eaff00;cursor:pointer;}
.takeovertop .circlelogo{position:absolute;top:-19px;left:-67px;}
.jjlogo{position:relative;overflow:hidden;height:80px;text-align:left;}
.jjlogo a.logo,.jjlogo a.logo:visited,.jjlogo a.logo:hover{position:absolute;top:8px;left:60px;width:430px;height:62px;text-decoration:none;background-color:transparent;border-width:0;}
.tstakeover .jjlogo a, .tstakeover .jjlogo a.logo:visited,.tstakeover .jjlogo a.logo:hover,.takeover .jjlogo a.logo,.takeover .jjlogo a.logo:visited,.takeover .jjlogo a.logo:hover{left:20px;}
INPUT{background-color:#D6E908;border:3px #D6E908 solid;line-height:20px;font:bold 12px verdana;}
.ad300{float:right;min-height: 250px; width:300px;margin-bottom:5px;}
#hot_stories_slider{width:920px;overflow:hidden;padding-top:5px;position:relative;margin:0 auto;}
.takeover #hot_stories_slider{width:848px;padding-top:0;}
#hot_stories_slider .b2_title{text-transform:uppercase;font-weight:700;color:#1a9dfe;display:none;margin:0 0 0 16px;padding:3px 0 3px 6px;}
.takeover #hot_stories_slider .b2_title{margin-left:6px;}
.scrollContainer div.single{height:210px;width:200px;float:left;overflow:hidden;margin:0 6px 0 0;padding:0;}
.takeover .scrollContainer div.single{margin-right:0px;margin-left:0px;}
a.hot_stories_image,a.hot_stories_image visited{border: 4px solid #fff; width:210px;height:210;text-align:center;overflow:hidden;}
a.hot_stories_image:hover,a.hot_stories_image focus{border: 4px solid #eaff00}
a.hot_stories_image IMG a.hot_stories_image visited IMG{width:204px;margin:0 auto;}
.b2_scroll{overflow:hidden;position:relative;clear:left;width:940px;height:220px;margin:8px 0 0 12px;}
.takeover .b2_scroll{margin-left:5px;}
.scrollContainer div.single img{float:left;display:inline;margin:0 4px 0 0;padding:0;}
#hot_stories_slider div.single {border: 10px solid #fff;height: 200px;overflow: hidden;}
.takeover #hot_stories_slider div.single{border: 5px solid #fff;}
#hot_stories_slider div.single:hover{border: 10px solid #eaff00;z-index: 1;}
.takeover #hot_stories_slider div.single:hover{border: 5px solid #eaff00;}
#hot_stories_slider p.desc{font-family:arial;bottom:10px;position:absolute;float:left;width:182px;font-size:12px;border-bottom:1px solid #eaff00;border-right:1px solid #eaff00;overflow:hidden;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/wp-content/themes/default/images/50p_black.png');clear:left;margin:0 0 0 1px;padding:4px 8px;}
.takeover #hot_stories_slider p.desc {bottom: 15px;}
#hot_stories_slider p.desc[class]{background-image:url(/wp-content/themes/default/images/50p_black.png);}
#hot_stories_slider p.desc a{color:#fff;display:block;font-weight:700;font-size:1em;}
#hot_stories_slider p.desc a:hover,#hot_stories_slider p.desc a:active,#hot_stories_slider p.desc a:focus{color:#eaff00 !important;background-color:transparent;}
.wp_bannerize
    {
        margin: auto;
        text-align: center;
    }
.takeover .wp_bannerize img
    {
    width: 848px;
    }
.hidedesktop, .single-post .hidearticle {display: none;}
#footer{position:relative;border:4px solid #999;border-top:none;width:920px;background-color:#000;margin:0 auto;padding:0;}
.takeover #footer{width:848px;border:1px solid #999;border-top:none;}
#footer .footerlinks{margin-left:4px;clear:both;padding:15px 0 10px 15px;}
.takeover #footer .footerlinks{margin-left:15px;}
#footer .moreposts{float:left;width:100%;}
.takeover #footer .moreposts{width:100%;}
#footer h4{width:230px;height:30px;line-height:30px;color:#FFF;font-size:11px;text-align:left;text-transform:uppercase;margin:0 0 15px;padding:0;}
#footer h4 img{float:left;margin:0 10px 0 0;padding:0;}
.moreposts .pagenum{float:left;width:140px;color:#000;text-align:left;}
.juniorposts .pagenum{float:left;width:150px;color:#000;text-align:left;}
#footer h4 .pagenum a,#footer h4 .pagenum a:visited{color:#000;background-color:#EAFF00;font-size:11px;padding:3px;}
#footer h4 .pagenum a:hover{background-color:#C5D418;}
.moreposts .recentposts{float:left;width:289px;font-size:11px;margin:0 0 10px 1px;}
.takeover .moreposts .recentposts{width:265px;margin-left:0;}
#footer ol{font-size:12px;margin:5px 0 5px 10px;padding:0;}
#footer ol li{color:#A0A0A0;text-align:left;margin:4px 5px 4px 15px;padding:0;}
#footer ol a,#footer ol a:visited{color:#FFF;}
#footerbar{height:27px;background:#000 url('/wp-content/themes/default/images/blackbar.gif') top left repeat-x;padding:0;}
#footermenu{width:660px;height:25px;margin:auto;}
ul.footernav li{display:block;float:left;color:#707070;margin:5px 0 0;padding:1px 10px 3px;}
ul.footernav a,ul.footernav a:visited{color:#FFF;font-size:11px;font-weight:400;text-decoration:none;text-transform:lowercase;margin:2px 2px 0;}
.partnerfooter{border:2px solid #000;padding-bottom:10px;border-bottom:1px solid #fff;margin:0 18px;}
.takeover .partnerfooter{margin-left:28px;}
.partnerfooter .recentposts{float:left;width:50%;height:125px;margin:0;}
.partnerfooter .partnerrss_title{position:relative;height:60px;bottom:0;display:table-cell;vertical-align:middle;text-align:left;margin:auto;}
#content{float:left;width:570px;font-size:1.2em;background-color:#fff;margin:0 10px 10px 14px;}
.takeover #content{width:530px;margin:0 0 10px;}
.post{margin:20px 0 60px 10px;}
.takeover .post{margin:20px 0 60px 5px;}
.entry{line-height:1.4em;}
.entry p{font-size:1.05em;}
a,a:visited{color:#1a9dfe;text-decoration:none;}
a.external,a.external:link,a.external:visited{target-new:window;}
h1,.post h1 a,.post h1 a:visited{text-align:left;line-height:1em;color:#333;text-transform:none;letter-spacing:-1px;font-weight:700;font-size:20px;background-color:transparent;border-width:0;margin:5px 0 15px;padding:0;}
h2,.post h2 a,.post h2 a:visited{text-align:left;line-height:1em;color:#000;text-transform:none;letter-spacing:-1px;font-weight:700;font-size:20px;background-color:transparent;border-width:0;margin:8px 0 15px;padding:0;}
.post-header{clear:both;position:relative;height:21px;overflow:hidden;margin:0 0 1px;}
.post-date{float:left;background-color:#F4F4F4;color:#999;font:normal .9em arial;text-transform:uppercase;margin:1px 0 0;padding:2px 4px;}
.post-header .fb-like{float:left;margin:0 5px 0 0;padding:0;}
.post-header .fb-share-button{float:left;margin:0;padding:0;}
.post-header .retweet{float:left;width:65px;overflow:hidden;padding:0 0 0 8px;}
.post-header .googplus{float:left;overflow:hidden;padding:0 0 0 10px;}
.post .entry h2{font:bold 1.2em verdana;color:#333;}
.pagetitle{text-align:left;font:bold 16px arial;text-transform:uppercase;color:#444;margin:10px 10px 20px;}
.categorycontent .pagetitle {margin-bottom: 0px; font-size: 1.5em;}
.breadcrumbs{margin: 0 10px 20px;}
.lead-imgleft{float:left;}
.adinentry{text-align:center;margin:15px 0;}
.entry-date-ad{width:468px;text-align:center;background-color:#FFF;margin:0;padding:4px 0 15px;}
.catad,.datead{width:468px;text-align:center;background-color:#FFF;margin:0;padding:4px 0 0;}
.adinfooter{width:468px;text-align:center;}
.adincomments{width:336px;}
blockquote{background-color:#F8F8F8;border:1px #CCC solid;border-top:1px #DDD dotted;margin:15px 10px;padding:0 15px;}
.post .entry ul{list-style-type:square;color:#000;margin:15px 0 10px;padding:0 0 0 10px;}
.post .entry ul li{line-height:1.2em;margin:5px 0 12px 5px;padding:0; list-style-position: inside;}
a img{border:none;}
img.alignright{float:right;margin:0 0 10px 10px;padding:4px;}
img.alignleft{float:left;margin:0 25px 5px 0;padding:0 0 15px;}
.takeover img.alignleft{margin-right:15px;}
.center table{margin:auto;}
.morehere{display:block;float:right;width:120px;color:#000;background:transparent url('/wp-content/themes/default/images/icon_morehere.gif') top left no-repeat;text-align:left;font-weight:700;text-transform:uppercase;text-decoration:none;cursor:hand;font-family:verdana;font-size:12px;margin:10px 0 15px;padding:0 0 2px 7px;}
a:hover .morehere{cursor:hand;color:#1A9DFE;}
.post-footer{position:relative;text-align:left;border:1px #CCC solid;color:#707070;font-weight:400;font-size:.9em;border-width:1px 0;margin:15px 0 0;padding:2px;}
.post-footer a,.post-footer a:visited,.postdata a,.postdata a:visited{color:#404040;font-weight:400;}
.postedto{float:left;width:230px;text-align:left;margin:2px 0;}
.takeover .postedto{width:210px;}
.takeover .pfcomments{width:294px;}
.pfcomments  {float: right;}
.pfcomments a:hover{background-color:#D6E908;}
.pfshare{float:right;width:185px;top:-1px;text-align:right;padding:0;}
.pfshare a,.pfshare a img{background:transparent;border-width:0;}
.pfcommentlink a{background-color:#eaff00; text-transform:uppercase; color:#666 !important;}
.postdata{margin-bottom:0;border-top:1px #ddd solid;border-bottom:0 #ddd solid;background-color:#FFF;font-size:.9em;color:#707070;padding:0 7px;}
.postdata .details{width:285px; margin-bottom: 30px;}
.postdata .like-this{margin:10px 0 0;}
.postdata .like-this h4{background:transparent url('/wp-content/themes/default/images/bg-eaff00-gradient.gif') no-repeat scroll -100px 0;border-bottom:2px solid #EAFF00;font-family:normal arial .9em;text-transform:uppercase;color:#000;line-height:23px;text-indent:35px;margin:0 0 10px 0; padding: 4px 0 0}

.zergmod {margin-left:30px;}
.zergmod .small {float: right; font-size: .8em; color: #999;}
.zergmod .zergheader {color: #000 !important; text-transform:uppercase; display: inline; background-color: #eaff00; padding: 8px 30px; font-size: 1em !important; position: relative; top: -4px}
.module .zergheader{text-align:center !important; font-weight:400 !important;font-size:11px !important;background-color:#eee;color:#707070 !important;text-transform:uppercase;border-bottom:1px #EEE solid;margin:0 0 2px;padding:5px 0;}
#zergnet-widget-44221 .zergrow {padding: 8px;}
#zergnet-widget-44221 .small {padding: 4px; font-size: 1em;}
.zergmod .zerglayoutcl {border-top:2px solid #eaff00; padding-top: 10px}

.main-index-posts-nav{width:560px;height:60px;text-align:center;color:#000;font-size:12px;font-weight:400;font-family:arial;margin:0;padding:5px 0;}
.main-index-posts-nav a,.main-index-posts-nav a:visited{text-decoration:none;color:#000;border:1px #EEE solid;background-color:#EAFF00;}
.main-index-posts-nav .current,.main-index-posts-nav a:hover{border:1px #aaa solid;}
.wp-pagenavi span.current{font-weight:700;margin:4px;padding:4px 10px;}
.pagelink {clear: both; font-size: 1.5em; color: #7A7A7A; text-transform: uppercase;}
.pagelink strong {font-size: .8em; font-weight: normal; color: #7A7A7A;}
.pagelink a{line-height: 35px; padding: 2px 8px; border: 1px solid #AAA; background-color: #eaff00; color: #000;}
.pagelink a:hover, pagelink a:hover, pagelink a:hover {background-color: #1a9dfe; color: #fff;}
.tnlist{width:520px;text-align:center;margin:0 auto;}
.tn{display:inline;width:130px;text-align:center;margin:2px 0;}
.minigallery .tnlist a:link img,.minigallery .tnlist a:active img,.minigallery .tnlist a:visited img,.minigallery .tnlist a:hover img{background-color:#EAFF00;border:1px #CCC solid;margin:5px;padding:0;}
.minigallery .tnlist a:hover img{background-color:#EAFF00;border:3px #EAFF00 solid;margin: 3px;}
.morebar {width: 464px;margin: auto;}
.tn a img,.tn img{border:0 #EAFF00 solid;}
.partnerlove{position: relative; border-bottom:3px #000 solid;margin:-50px 0 40px !important;padding:0 15px 0 20px;}
.partnerlove h4{background:transparent url('/wp-content/themes/default/images/blacktitlebar.gif') no-repeat scroll -100px 0;border-bottom:2px solid #000;font-size:.9em !important;text-transform:uppercase;color:#fff;line-height:23px;text-indent:25px;margin:0 0 10px -20px;}
.partnerlove h4 a:hover,.partnerlove h4 a:active,.partnerlove h4 a:focus{color:#eaff00;background-color:transparent;}
.partnerlove img.alignleft{padding-bottom:0;margin-bottom:0;}
.partnerlove .photocredit{font-size:.8em;color:#999;margin-bottom:10px;}
.partnerlove .photocredit a{color:#999;}
.partnerlove li{font-size:1.1em;}
.partnerlove .entry ul li{margin-top:3px !important;line-height:1.2em;font-size: 1em;}
.partnerlove .partnerphotocredit{position:absolute;text-align:right;margin-top:-47px;font-size:.9em;color:#c3c3c3;width:370px;}
.partnerlove .featuredphotocredit{position: absolute; top: 215px; text-align:right;font-size:.9em;color:#c3c3c3;width:370px;}
.partnerlove .featuredcredit{position:absolute;text-align:right;margin-top:-33px;font-size:.9em;color:#c3c3c3;width:370px;}
.partnerlove .featuredtitle {font-weight: bold;}
.takeover .partnerlove img.alignleft{margin-right:25px;padding-bottom:0;}
.partnerlovebtf .lead-img img{position:relative;top:5px;float:right !important;width:120px;margin:0 0 0 15px;}
.partnerlovebtf{border-top:3px #dedede solid;border-bottom:3px #dedede solid;width:500px;margin:0 auto 70px !important;padding:0 5px 10px 20px;}
.partnerlovebtf h4{position:absolute;background:none;border-bottom:none;font-size:.9em !important;text-transform:uppercase;color:#fff;line-height:23px;text-indent:0;font-weight:400;margin:0 0 10px -20px;}
.partnerlovebtf h4 a{background-color:#dedede;color:#999 !important;padding:7px 20px;}
.partnerlovebtf h4 a:hover,.partnerlovebtf h4 a:active,.partnerlovebtf h4 a:focus{background-color:#dedede;color:#000;}
.partnerlovebtf .entry{margin-top:50px;}
.plugs{padding-left:10px;width:540px;margin:auto;clear:both;}
.post-plug{float:left;width:260px;height:22px;font-weight:700;font-size:.9em;color:#fff;text-indent:14px;margin:0 4px 10px 0;padding:4px 0;}
.post-plug#plug-twitter{background-color:#3cbbde;background:#3cbbde url('/wp-content/themes/default/images/plugtwigrad.gif') top left repeat-x;}
.post-plug#plug-facebook{background-color:#3b5999;background:#3b5999 url('/wp-content/themes/default/images/plugfbgrad.gif') top left repeat-x;}
.post-plug span{position:relative;top:-7px;}
#plug-facebook iframe{margin-top:1px;margin-left:6px;}
#plug-twitter iframe{margin-top:1px;}
#poll{margin-left:0;}
#sidebar{float:right;width:300px;overflow:hidden;margin:20px 20px 0 0;padding:0 0 10px;}
.ad300 h4,.ad h4{text-align:center;font-weight:400;font-size:11px;color:#707070;text-transform:uppercase;border-bottom:1px #EEE solid;margin:2px 0;padding:0;}
.ad{float:right;width:160px;text-align:center;border:1px solid #EEE;background-color:#FFF;margin:0 0 2px;padding:0;}
.kixad {margin: 10px auto;}
.ignite-dfp6-ad > div{margin:0px auto; }
.module{background-color:#FFF;border:1px solid #EEE;margin:0 0 10px;}
.module h4{text-align:center;font-weight:400;font-size:11px;background-color:#eee;color:#707070;text-transform:uppercase;border-bottom:1px #EEE solid;margin:0 0 2px;padding:5px 0;}
.module ul{list-style-type:square;color:#707070;margin:5px 5px 5px 20px;padding:0 2px;}
.module ul li{margin:0;padding:0 0 3px;}
.module a,.module a:visited{color:#707070;font-size:11px;}
.module-topceleb{width:298px; padding: 0;}
.module-topceleb ul{width:290px;display: block; list-style-type:none;margin:8px 0 0 8px;padding:0;}
.module-topceleb ul li{float:left;width:91px;height:115px;text-align:center;margin:0 5px 5px 0px;padding:0;}
.module-topceleb ul li a{font-weight:700;color:#707070;}
.module-topceleb ul img{width:90px; height: 90px; border-width:0;}
.module-topceleb .more-nav{text-align:center;margin:10px 0;}
.module-topceleb .more-nav SELECT{width:115px;border:1px solid #EEE;font-size:11px;color:#707070;}
.module-archive{width:298px; height: 55px; clear:both;}
.module-archive .modulecontent{padding:2px 0 4px 2px;}
.module-archive #archive_day{width:40px;border:1px solid #eee;}
.module-archive form {display:inline; width: 160px; float: left; margin-top: 7px}
.module-archive input.action{float: left; margin-top:0px;width:133px;height: 20px; background-color:#1A9DFE;color:#fff;border: none; font: .8em;}
.module-archive input.action:hover,.module-archive input.action:active,.module-archive input.action:focus{background-color:#EAFF00;color:#000;}
.module-follow{float:right;border:none;width:318px;background-color:transparent;}
.takeover .module-follow{width:310px;}
.module-follow h4{font-size:1.4em;font-weight:700;letter-spacing:-0.04em;background-color:transparent;border:none;display:none;}
.module-follow ul{list-style-type:none;text-align:center;margin:18px 0;padding:0;}
.module-follow li span{display:block;font-size:9px;text-align:center;}
.blogads
    {
    margin-bottom: 10px;    
    }
.module-commentlists .author{font-size:1em;font-weight:700;}
.module-partner{margin:20px 0;}
.modue-partner a:hover{background-color:#FFF;}
.gallerypost{border:0 #EEE solid;margin:20px 20px 30px;padding:0;}
.gallerypost h1,.gallerypost h1 a,.gallerypost h1 a:visited{font-size:1.3em;font-weight:700;background-color:transparent;text-align:left;color:#000;margin:0;padding:0;}
.gallerypost h1 .postmetadata,.gallerypost h1 .postmetadata a,.gallerypost h1 .postmetadata a:visited{color:#1a9dfe;font-size:11px;font-weight:400;text-transform:none;text-align:left;margin:0;padding:0;}
.gallerypost .entry .minigallery{text-align:center;padding-left:12px;}
.gallerypost .entry .minigallery .tnlist{width:460px;margin:20px auto;}
.gallerypost .entry .minigallery .tnlist a:link img,.gallerypost .entry .minigallery .tnlist a:active img,.gallerypost .entry .minigallery .tnlist a:visited img,.gallerypost .entry .minigallery .tnlist a:hover img{background-color:#EAFF00;border:1px #CCC solid;float:left;margin:0 7px 12px 0;padding:0;}
.postPromo{background-color:#F8F8F8;border:1px #EEE solid;border-top:1px #DDD dotted;text-align:center;margin:0 20px 30px;padding:0;}
.textMain p{color:#444;font-size:11px;margin:0;}
.navigation{text-decoration:none;color:#404040;margin:10px 0 0;padding:2px 0 4px;}
.nextlink{float:right;width:150px;height:12px;line-height:12px;text-align:right;padding:0;}
.prevlink{width:150px;height:12px;float:left;line-height:12px;text-align:left;}
.navigation .nextlink a,.navigation .nextlink a:visited{margin-right:10px;font-weight:400;color:#404040;font-size:.9em;}
.navigation .prevlink a,.navigation .prevlink a:visited{margin-left:10px;font-weight:400;color:#404040;font-size:.9em;}
#disqus_thread {width: 500px; margin: auto;}
.comment-page-numbers{font-size:12px;font-weight:400;font-family:arial;margin:15px 0;}
.comment-page-numbers a,.comment-page-numbers a:visited{color:#000;background-color:#EAFF00;border:1px #D3E510 solid;margin:2px;padding:1px 4px;}
.comment-page-numbers a:hover{color:#EAFF00;background-color:#404040;border:1px #404040 solid;}
.comments h2{font-size:16px;text-align:left;text-transform:uppercase;}
.comments{font-size:.9em;font-family:arial, verdana, sans-serif;margin:0 20px;}
.comment,.commentalt{border-top:2px #333 solid;font-size:11px;margin:5px 0 25px;padding:0;}
.comment-num{clear:both;float:right;width:100px;text-align:right;font-size:17px;font-weight:700;margin:0;padding:0;}
.comment-num .blackbox{color:#EAFF00;background-color:#333;border:2px #333 solid;border-width:2px 4px;}
.comment-num a,.comment-num a:visited{color:#EAFF00;}
.comment-num a .blue,.comment-num a:visited .blue{color:#1a9dfe;font-size:12px;font-weight:400;}
.comment-data{float:left;width:300px;color:#707070;padding-left:3px;}
.comment-data .author{font-size:1.5em;font-weight:700;color:#303030;width:20px;overflow:hidden;}
.comment-data a.time,.comment-data a.time:visited{color:#707070;text-decoration:none;}
.comment-content{clear:both;width:524px;overflow:hidden;font-size:1.2em;}
.comment-content p{margin:3px 3px 0;}
.comment-content a,.comment-content a:visited{color:#707070;text-decoration:underline;}
.comment-footer{clear:both;text-align:right;font-size:1em;margin:5px 0;padding:0 3px;}
.comment-footer .reply-to a,.comment-footer .reply-to a:visited{font-weight:700;color:#1a9dfe;}
.flag-this{color:silver;text-transform:lowercase;}
.flag-this a,.flag-this a:visited{color:silver;font-weight:400;border-width:0;}
.comments-form{margin:60px 0;}
label,.comments-form small,#commentform .message{font-weight:400;font-size:12px;font-family:arial, verdana, sans-serif;color:#000;}
#commentform input{width:200px;color:#000;font-weight:400;font-size:11px;background-color:#f4f4f4;border:1px #DDD solid;margin:0 0 15px;padding:3px;}
#commentform textarea{width:400px;height:150px;color:#000;font-size:12px;font-family:arial, verdana, sans-serif;background-color:#f4f4f4;border:1px #DDD solid;margin:0 0 2px;padding:3px;}
#commentform input.countdown{width:35px;font-size:12px;font-family:arial, verdana, sans-serif;color:#777;background-color:#fff;border:1px #fff solid;margin:0;}
#commentform #submit{width:75px;background-color:#D6E908;font-weight:700;margin:0 0 15px;padding:3px;}
.excerptpic{width:220px;float:left;text-align:left;}
.excerptentry{width:300px;float:left;}
.excerptentry h2,.excerptentry h2 a,.excerptentry h2 a:visited{color:#000;font-size:15px;margin:0;}
.excerptentry .time{color:#777;font:normal 11px verdana;margin-bottom:2px;}
.archiveset{border:1px #ddd solid;font-size:.9em;color:#707070;border-width:1px 0;padding:2px 0;}
.archiveset h1{float:left;color:#000;margin:2px 0 0;padding:0 10px 0 0;}
.catnav{margin:3px 0;}
.page-column{float:left;width:175px;margin:0;padding:0;}
.page-column h2{margin:15px 0;padding:0;}
.page-column ul{margin:0 15px;padding:0;}
.page-column li p{line-height:12px;margin:0;padding:0;}
.page-column li a,.page-column li a:visited{color:#000;font-size:.9em;}
.clear{clear:both;height:0;}
.wp-polls{width: 300px;background:#EAFF00 url(/wp-content/themes/default/images/callout-mod-bg.jpg) bottom right no-repeat;text-align:left;padding:0 7px; margin: 10px auto; border: 2px solid #eee;}
.wp-polls .poll-question{width:130px;font-weight:700;text-align:left;padding:7px 0 5px;font-size: 1.2em;}
.voted{color:#1a9dfe;font-weight:700;}
ul.wp-polls-ul,.wp-polls-ul-results{text-align:left;background-color:#EAFF00;margin:0 !important;padding:0 !important;}
ul.wp-polls-ul li{list-style-type:none;background-color:#EAFF00;margin:0 !important;padding:0;}
ul.wp-polls-ul li label,.wp-polls-ul-results label{font-size:.9em;background-color:#EAFF00;}
ul.wp-polls-ul INPUT{background-color:#EAFF00;border-color:#EAFF00;}
ul.wp-polls-ul-results li{list-style-type:none;background-color:#EAFF00;}
.wp-polls-ul-results .voted .pollbar{background-color:#1a9dfe;border-color:#1a9dfe;}
.poll-stats{text-align:left;background-color:#EAFF00;margin:5px 0;}
.poll-submits{text-align:center;background-color:#EAFF00;margin:10px 0 0;}
.poll-submits input {background-color:#1a9dfe;border: 1px solid #000; padding: 2px 30px 4px; color: #fff;}
.poll-links{text-align:center;background-color:#EAFF00;padding:2px 0 5px;}
.wp-polls-loading{position:absolute;top:100px;left:20px;display:none;text-align:center;height:16px;line-height:16px;margin:0;}
.block-poll{position:relative;clear:both;width:450px;text-align:left;margin:0;padding:0;}
.block-poll .wp-polls{background:#EAFF00 url(/wp-content/themes/default/images/callout-mod-bg.jpg) bottom right no-repeat;text-align:left;font-size:.9em;margin:3px 0;padding:0 10px;}
.block-poll .poll-question{font-weight:700;text-align:left;padding:10px 0 5px;}
.block-poll .wp-polls-ul{float:left;width:315px;}
.block-poll .wp-polls-ul li{float:left;width:150px;}
.block-poll .poll-footer{float:left;width:100px;margin:-10px 0 10px;padding:0;}
.wp-polls-paging a:hover{border:1px solid #000;color:#000;background-color:#FFF;}
.wp-polls-paging span.pages{color:#000;border:1px solid #000;background-color:#FFF;margin:2px;padding:2px 4px;}
.wp-polls-paging span.current{font-weight:700;border:1px solid #000;color:#000;background-color:#FFF;margin:2px;padding:2px 4px;}
.wp-polls-paging span.extend{border:1px solid #000;color:#000;background-color:#FFF;margin:2px;padding:2px 4px;}
.photos .thumbnails{margin:10px auto 20px 3px;}
.photos .thumbnails .tn{float:left;height:100px;}
.photos .thumbnails .tn a,.photos .thumbnails .tn a:visited,.photos .thumbnails .tn a:link{display:block;border:2px solid #eee;margin:5px;}
.photos .thumbnails .tn a:hover,.photos .thumbnails .tn a:active,.photos .thumbnails .tn a:focus{border:2px solid #EAFF00;}
.photos .thumbnails .tn img{border:2px solid #fff;border-bottom:2px solid #fff;width:60px;position:relative;top:1px;left:1px;border-width:0;}
.gallerynav{text-align:right;font-weight:700;margin:10px 40px 0 0;}
.gallerynav .chosen{color:#000;text-decoration:none;}
.phototags .tagslist{padding-left:5px;}
.photoalbum .thumbnails{padding-left:10px;}
#side1 .photoalbum .thumbnails{padding-left:20px;}
.photoalbum .thumbnails .tn{margin-top:2px;margin-right:4px;height:124px;width:82px;}
.photoalbum .thumbnails .tn a,.photoalbum .thumbnails .tn a:link,.photoalbum .thumbnails .tn a:visited{border:1px solid #fff;width:82px;}
.photoalbum .thumbnails .tn a:focus,.photoalbum .thumbnails .tn a:active,.photoalbum .thumbnails .tn a:hover{border:1px solid #eaff00;backgruond-color:#fff;}
.photoalbum .thumbnails .tn img{border:none;width:80px;border-width:none;padding:none;}
a.moreLnk-cb{font-size:1em;}
.gsc-cursor-page{margin-right:20px !important;}
.gsc-adBlock{margin:16px 0 !important;}
.takeover .searchin,.gallerynav .previous{margin-right:8px;}
.takeover .circlelogo,.tstakeover .circlelogo,#hot_stories_left,#hot_stories_right,#jjjfeatured .topentry p{display:none;}
.takeovertop .circlelogo:hover,.takeovertop .circlelogo:active,.takeovertop .circlelogo:focus,#hpPromo .big a.img:hover,#controlButtons a:hover{background:transparent;}
.jjlogo .promo-post-content .text h2 a,.jjlogo .promo-post-content .text h2 a:visited,.jjlogo .promo-post-content .text ul li a,ul.footernav a:hover,.post-footer a:hover,.postdata a:hover,.pfcomments a,.pfcomments a:visited,.module a:hover,.module a:active,.module a:focus,.navigation a:hover,#jjjfeatured .module-content li a:focus,#jjjfeatured .module-content li a:hover,#jjjfeatured .module-content li a:active{color:#000;}
.jjlogo .promo-post-content .text .column-s,.module-follow li{float:left;width:60px;}
.jjlogo .promo-post-content .text ul li a:hover,#hot_stories_slider p.desc a:hover,.comment-data .author a,.comment-data .author a:visited{color:#1a9dfe;}
#adplaceholder,#adplaceholder2,#google_ads_div_jj_promo_module_162x250,#google_ads_div_JustJared_160x865{float:right;width:160px !important;}
.takeover #footer ol,.module-popeater .module-content a,.module-popeater .module-content a:visited{font-size:11px;}
#footer ol a:hover,a:hover,.button-mobile a:hover,.button-blogroll a:hover,.comment-num a:hover,.comment-footer a:hover{color:#000;background-color:#EAFF00;}
ul.footernav,.postdata .social-share p,.module-archive form,#hpPromo h4,.page-column li{margin:0;padding:0;}
.partnerfooter .partnerrss_title a:active,.partnerfooter .partnerrss_title a:hover,.partnerfooter .partnerrss_title a:focus,.pfcomments a.pl,.pfcomments a.pl:visited,.sociable li a,.sociable li a:hover,.sociable li a:active,.sociable li a:focus,.module-popeater h4 a:hover,.module-popeater h4 a:focus,.module-popeater h4 a:active{background-color:transparent;}
h1,h2,h3,a.celebtag,a.celebtag:link,a.celebtag:visited,a.celebtag:hover{font-weight:700;}
h1 a:hover,.post h1 a:hover,h2 a:hover,.post h2 a:hover,.gallerypost h1 a:hover,h4 a:hover,#hpPromo a.active{background-color:#EAFF00;}
.lead-img,.adpagetop,.addedicated,.adnews,.center,.minigallery,.callout-ad,.module-celebuzz .celebuzzimg{text-align:center;}
.lead-img a:link,.lead-img a:visited,.lead-img a:hover,.lead-img a img,.lead-img a:visited img,.lead-img a:hover img,.lead-img a.external:link,.lead-img a.external:visited,.lead-img a.external:hover,.lead-img a.external img,.lead-img a.external:visited img,.lead-img a.external:hover img,.adinentry a,.adinentry a:visited,.tn a,.tn a:visited,.module-partner a img,.module-partner a:visited img,#controlButtons img{border-width:0;}
img.centered,.aligncenter{display:block;margin-left:auto;margin-right:auto;}
.alignright,.pfcomments .sociable,.pfcommentlink{float:right;}
select,.inline-poll .wp-polls .wp-polls-ans{width:130px;}
.postdata .relatedposts p,.takeover .partnerlovebtf img.alignleft{margin:0;}
.wp-pagenavi {font-size: 1.5em;}
.wp-pagenavi .pages {font-size: .8em; text-transform: uppercase; color: #aaa}
.wp-pagenavi a,.wp-pagenavi a:link,.wp-pagenavi a:active,.wp-pagenavi span.pages,.wp-pagenavi span.extend{margin:4px;padding:4px 10px;}
.wp-pagenavi a:active, .wp-pagenavi a:hover {border: 1px solid #aaa; background-color: #1a9dfe; color:#fff;}
.minigallery .tnlist a:link,.minigallery .tnlist a:active,.minigallery .tnlist a:visited,.minigallery .tnlist a:hover,.gallerypost .entry .minigallery .tnlist a:link,.gallerypost .entry .minigallery .tnlist a:active,.gallerypost .entry .minigallery .tnlist a:visited,.gallerypost .entry .minigallery .tnlist a:hover{text-decoration:none;background-color:transparent;border-width:0;}
.partnerlove h4 a,.module-callout h4 a,.module-callout h4 a:visited,#jjjfeatured .module-content li a{color:#fff;}
.takeover #sidebar,.gallerynav .numbernav{margin-right:5px;}
.module-tweets,#sidebarleft{float:left;width:122px;}
.module-archive #archive_month,.module-archive #archive_year{width:55px;border:1px solid #eee;}
.module-popeater,.module-celebuzz{width:160px;float:right;}
.module-button,.module-yellow{width:160px;background:#EAFF00 url(/wp-content/themes/default/images/callout-mod-bg.jpg) bottom right no-repeat;font-size:11px;border-color:#D9EC09;border-width:1px 0 0 1px;margin:10px 0;padding:0 0 4px;}
.takeover .comment-content,.takeover .comment-content p{width:490px;}
.wp-polls-paging a,.wp-polls-paging a:link,.wp-polls-paging a:visited,.wp-polls-paging a:active{text-decoration:none;border:1px solid #06c;color:#06c;background-color:#FFF;margin:2px;padding:2px 4px;}
.page-links {float: right;}
.post .pagelinks {position: relative;
top: -8px;
}
.page-links a {
	background-color: #eaff00;
	padding: 8px 10px;
	color: #000;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-right: 10px;
}
.page-links a:hover {
	color: #1a9dfe;
}
#assignment {padding: 4px; color: #999}
#assignment span {font-size: .9em; margin: 10px;}
#assignment span a {color: #999}
#assignment a:hover, #assignment a:active
	{
	background: transparent;
	}
#assignment .adchoice img
	{
	position: relative;
	top: 2px;
	}
.partnerposts .jrpartner
	{
	margin-bottom: 15px;
	}
.partnerposts .partnerrss_content
	{
	border: 1px solid #666;
	padding: 20px;
	}
.jrpartner .partnertitle
	{
	position: relative;
	padding: 5px 5px 0 0;
	}
.partnerposts .partnertitle a, .partnerposts .partnertitle a:active, .partnerposts .partnertitle a:visited
	{
	font-size: 1.1em;
	font-weight: bold;
	}
.partnerposts ol
	{	
	margin: 0;
	padding: 0;
	list-style: none;
	clear: both;
	}
.partnerposts li
	{
	padding: 0;
	clear: both;
	border-bottom: 1px solid #eee;
	}
#featuredpartner .jrpartner li
	{
	height: 110px;
	list-style: none;
	border-bottom: 1px solid #CCC;
	}
#featuredpartner .jrpartner .partnerimg
	{
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: 5px 10px 5px 5px;
	}
#featuredpartner .jrpartner .partnerimg img
	{
	width: 100px;
	}
#featuredpartner .jrpartner span.partnertext
	{
	display: block;
	clear: both;
	margin: 0 5px 0 0;
	partner-right: 5px;
	}
#featuredpartner .jrpartner .more
	{
	display: block;
	margin-top: 2px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: right;
	}
        
/* Related Posts Module on Single */
.post .entry ul.jj-related-posts 
{
    margin: 0px;
    padding: 0px;
}
.post .entry ul.jj-related-posts li
    {
    width: 160px;
    float: left;
    list-style: none;
    margin: 0 6px;
    padding: 0px;
    }
.jj-related-posts .related-image-link
    {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
.jj-related-posts li img
    {
    position: relative;
    width: 100%;
    overflow: hidden;
    }
.als-item span
    {
    display: block;
    width: 150px;
    overflow: hidden;
    margin: auto;
    }
.als-item span a
    {
        font-size: 1.1em;
    font-weight: bold;

    }
.related-item-wrap
    {
    width: 160px;
    height: 160px;
    border-bottom: 2px solid #eaff00;
    overflow: hidden;
    }
.als-container {
    position: relative;
    width: 100%;
    margin: 0px auto;
    z-index: 0;
}
.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}
.als-wrapper {
    position: relative;
    /* if you are using a list with <ul> <li> */
    list-style: none;
}
.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
    min-height:200px;
    z-index: 0;
}
.als-item li {
    margin-right: 10px;
}
 
.als-prev, .als-next {
    float: left;
    position: absolute;
    display: inline;
    cursor: pointer;
    clear: both;
    top: 35%;
    z-index: 1;
}
.als-next {
    right: 0px
    }
	
/* Sponsored */
		.sponsoredtag {position: relative; float: right; margin-top: 2px; background-color: #ffcc00; padding: 2px 6px; text-transform: uppercase; }
		.sponsoredtag a {color: #000;}
		.sponsoredtag a:hover {background-color: transparent;}
		.sponsorednote {text-align: center;margin-bottom: 20px}
		.sponsorednote a {text-transform: uppercase;padding: 2px 6px;background-color: #ffcc00; color: #000 !important; }
		
/* sidebar */
.module-zerg span.small
    {
    float: right;
    margin-right:5px;
    font-size: .8em;
    color: #666;}
	
/* Wibbitz */
.video-widget, .article-video {width: 500px; margin: auto; clear: both;}
.article-video {margin-bottom: 10px;}