*{
  padding:0;
  margin:0;
}

img {
  border:0;
}


body {
  font-size:90%;
  font-family:"Verdana", "Geneva";
  word-break:break-all ;
  word-wrap:break-word ;
  background-color:#fff;
  background-image:url('/images/bg_body.png');
  padding-left:5%;
  padding-right:5%;
  color:#333;
  text-align:1.6;
}

#logo {
  text-align:center;
  padding-top: 50px;
  padding-bottom: 30px;
}

#logo, #container, #bannersub {
  background-color:#fff;
  border-left:1px solid #bbb;
  border-right:1px solid #E5E5E5;
}

#container {
  padding-left:4%;
  padding-right:4%;
  border-bottom:1px solid #bbb;
  margin-bottom:20px;
}

#bannersub {
  padding:15px;
}

#bannersub table{
  background-image:url('/images/bg_head.png');
  border:1px solid #E5E5E5;
  border-top:1px solid #bbb;
  border-left:1px solid #bbb;
}

#bannersub td{
  padding:3px 10px 3px 10px;
}

td {
  font-size:90%;
}

pre {
  white-space:-moz-pre-wrap ;
  white-space:-pre-wrap ;
  white-space:-o-pre-wrap ;
  white-space:pre-wrap ;
}

a:link {
	color:#5496FC ;
}
a:visited {
	color:#90BCFF;
}
a:hover {
	color:#FFA458 ;
	text-decoration:none ;
}

h2 {
  font-size:120%;
  background-image:url('/images/bg_title.png');
  color:#4A587B;
  background-repeat:repeat-x;
  background-position:bottom;
  padding-left:1%;
  padding-right:1%;
  padding-bottom:2px;
  padding-top:10px;
  margin-bottom:15px;
}


p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left:1%;
  margin-right:1%;
  text-indent: 1em;
}

.project{
}

.project p{
  margin-top:0.2em;
  margin-bottom: 0.2em;
}

.project p.detail{
  margin-top:0.5em;
}

.project p.attr{
  font-size:80%;
  text-align:right;
  color:#777;
}

.closed {
    color: #999999;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  margin-left:35px;
  margin-top:2px;
  margin-bottom:2px;
}

h3 {
  font-size:100%;
  margin: 5px;
  padding-left:1%;
  padding-right:1%;
}

h3 a:link {
	color:#5496FC ;
	text-decoration:none ;
  background-image:url('/images/bg_link.png');
  background-repeat:repeat-x;
  background-position:bottom;
}
h3 a:visited {
	color:#5496FC ;
	text-decoration:none ;
  background-image:url('/images/bg_link.png');
  background-repeat:repeat-x;
  background-position:bottom;
}
h3 a:hover {
	color:#FFA458 ;
	text-decoration:none ;
  background-image:url('/images/bg_link.png');
  background-repeat:repeat-x;
  background-position:bottom;
}

#copyright {
  font-size:80%;
  text-align:center;
  border:1px solid #E5E5E5;
  border-top:1px solid #bbb;
  border-left:1px solid #bbb;
  padding:10px;
  margin:10px;
  background-image:url('/images/bg_head.png');
}


ul.closed-services {
  margin: 10px;
}

ul.closed-services li {
  color: #666;
  font-size: 90%;
  font-style: italic;
  list-style: none;
  display: inline;
  margin: 0 10px 0 0;
  padding: 0;
  white-space: nowrap;
}