body {
	 margin: 0;
	 height:100%;
	 width:100%;
	 background-color:white;
	 padding: 0;
} 

a.beseder:link {
	color:#135d36;
	text-decoration: none;
}
a.beseder:visited {
	color:#135d36;
	text-decoration: none;
}
a.beseder:hover {
	color:#135d36;
	text-decoration: none;
}
a.beseder:active {
	color:#135d36;
	text-decoration: none;
}
a.header:link {
	color: #09488f;
	text-decoration: none;
}
a.header:visited {
	color: #09488f;
	text-decoration: none;
}
a.header:hover {
	color: #09488f;
	text-decoration: none;
}
a.header:active {
	color: #09488f;
	text-decoration: none;
}
a.text:link {
	color: black;
	text-decoration: none;
}
a.text:visited {
	color: black;
	text-decoration: none;
}
a.text:hover {
	color: black;
	text-decoration: none;
}
a.text:active {
	color: black;
	text-decoration: none;
}
div.main_heading {
	margin: 0;
   padding: 0;	
	color:#09488f;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	font-size: 21px;	
}
div.heading {
	margin-top: 5px;	
	color:#09488f;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
}

div.text {
	color:#black;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	font-size: 13px;
}
table {
    border: 0px solid #1c6434;
}
