/* Tmp
----------------------------------------------------*/
.reLenta{
	position: absolute;
	z-index: 1;
	margin: -1px 0 0 -1px;
}

/* categories widget
----------------------------------------------------*/
div.categoryColoumn {
	float: left;
	width: 218px;
	margin-left: 6px;
} 

ul.top-categories {
	position: relative;
	display: block;
	height: 46px;
	width: 100%;
	margin: 0;
	padding: 10px 6px;
}

	ul.top-categories li {
		float: left;
		width: 160px;
		margin: 0 3px;
	}

		ul.top-categories li a {
			text-align: center;
			padding: 6px 0;
			color: #333;
			display: block;
			border: 1px solid #000;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			-moz-box-shadow: 0px 0px 3px #777; 
			-webkit-box-shadow: 0px 0px 3px #777;
			box-shadow: 0px 0px 3px #777;
		}

		ul.top-categories li a:hover {}

		ul.top-categories li a h1,
		ul.top-categories li a h2,
		ul.top-categories li a h3,
		ul.top-categories li a h4 {
			margin: 0 !important;
			padding: 0 !important;
			font: bold 13px/32px Arial !important;
			text-decoration: none !important;
		}

		ul.top-categories li a span { 
			position: relative; 
			padding-left: 35px; 
			display: inline-block; 
		}
		
		ul.top-categories li a.red { background-position: 0 0;	border-color: #b82e2f;}
		ul.top-categories li a.blue { background-position: 0 -46px;	border-color: #3295ef;}
		ul.top-categories li a.green { background-position: 0 -92px; border-color: #6da615;}
		ul.top-categories li a.yellow {	background-position: 0 -138px; border-color: #d8b211;}

#categories div.tools a {
	font-size: 16px;	
}

#categories .mFix {
	margin-left: 6px !important;
	padding-bottom: 6px;
}

ul.categories {
	margin: 8px;
	display: block;
}

	ul.categories li {
		position: relative;
		display: block;
		height: 42px;
		padding-left: 36px;
	}
	ul.categories li.aktualno {margin-top: 0px;}
	
		ul.categories li .icon {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
		}
		
		ul.categories li .icon:hover,
		ul.categories li a:hover .icon {}
		
		ul.categories li a {
			display: block;
			font-size: 10px;
			color: #333;
			padding: 6px 0;
			text-decoration: none;
		}
		
		ul.categories li a.red { color: #ff0f16; }
		ul.categories li a.blue { color: #3295EF; }
		ul.categories li a.yellow { color: #f8bb00; }
		ul.categories li a.green { color: #6DA615; }
		
		ul.categories li a:hover {
			color: #808080;
		}
		
		ul.categories li a strong { font-size: 13px; }
		
		ul.categories li a label {
			display: block;
			
		}
		
		ul.categories li a label span {
			color: #fff;
			-moz-border-radius: 0 0 10px 10px;
			-webkit-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
			padding: 2px 12px;
			background: #8871eb;
			font-size: 11px;
			line-height: 18px;
		}
		ul.categories li.aktualno a label span {background:#dc066b; }

.categoriesDivider {
	border-top: 1px solid #ededed;
	margin: 18px 0 5px 0;
}

/* information 
----------------------------------------------------------*/

#information .box {padding: 10px;}

#information .coloumn {
	margin: 0 5px;
	/*padding-right: 5px;*/
	width: 206px;
}

#information .checked {
	padding: 6px 0 0 22px;
	font-weight: bold;
	margin: 0;
}
/*	
	#information .checked a {
		color: inherit;
	}
*/


/* newsOfTheDay
----------------------------------------------------*/

#newsOfTheDay {
	background-position: 63px bottom;
	background-repeat: no-repeat;
	min-height: 191px;
	max-height: 235px;
	overflow: hidden;
}

#newsOfTheDay p.news-title {
	font-weight: bold;
	margin-bottom: 5px;
}

#newsOfTheDay a.news-title {
	display: block;
}


/* widget bolha statistics
----------------------------------------------------*/

#bolhaStatistics  {
	background-position: right 38px;
	min-height: 169px;
}

	#bolhaStatistics p {
	  font-size: 12px;
	  font-weight: normal;
	  margin: 3px 0;
	}
	
	#bolhaStatistics span {
	  color: #e5a802;
	  font-weight: bold;
	}

/* coloumn Ad
----------------------------------------------------*/

#coloumnAd {
	min-height: 182px;
	padding-top: 10px;	
}

.dataNotAvailable {
	color: #777;
}