/* footer
----------------------------------------------------*/
footer {
	text-align: center;
	border: 1px solid #ebebeb !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 85% !important;
	margin: 5px 0 0 0 !important;
	padding: 10px 10px 10px 32px !important;
	text-align: left !important;	
}

footer p {
  display: inline-block;
}


/* banner-googleAdsMain
----------------------------------------------------*/

#googleAdsRow {
	padding: 10px 0;
}

/* tagcloud section
----------------------------------------------------*/

#tagcloud {
	font-size: 11px;
	padding: 0;
	/*background: url("/images/netko.png") 776px 114px no-repeat #f5f5f5;*/
}

	#tagcloud ul {
		padding: 20px 20px; 
		width: 109px;
		float: left
	}
	
	#tagcloud li {
		margin: 0 0 8px 10px;
		text-align: left;
		list-style-type: none;
	}
	
	#tagcloud li a {
		color: #656565;
		text-decoration: none;
	}
	
	#tagcloud li a:hover {
	 	text-decoration: underline;
	}

/* footer-links
----------------------------------------------------*/

.footer-links {
  margin: 25px 0 15px 0;
  text-align: center;
  font-size: 12px;
}

.footer-links ul {
  width: 770px;
  margin: 0 auto;
}

.footer-links li {
  float: left;
  padding: 0 0 0 19px;
  margin: 0 0 0 11px;
}

.footer-links .first {
  background: none;
}

.footer-links li a {
  color: #656565;
  text-decoration: none;
}

.footer-links li a:hover {
  text-decoration: underline;
}

.liveChatFooter {
	padding-left: 15px;
}

footer .span-3 {
	text-align: right;
}

footer .span-10 {
	text-align: center !important;
}
