html,body {
  font: normal 12px/18px Arial;
  color: #515151; 
}

a { color: #0E8EAB; /*#333;*/ } /*#0E8EAB*/
/*a:hover { text-decoration: underline; }*/
a:hover { 
    text-decoration: none;
    color: #333;
    /*border :1px solid black*/
}

img { border: 0; }

.error { }
.error h3.title {  }
.error p.errorHeader {
	font-size: 63px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #ddd;
	margin: 20px 0 40px 0;
}
.error p.errorContent {
	color: #515151;
	font-size: 15px;
	font-weight: bold;
	position: relative;
	margin-bottom: 30px;
	top: -12px;
	left: 140px;
	z-index: 1;
	width: 390px;
}
.error h2 {
	margin-top: 20px;	
}
.error ul {
	margin: 10px 0 0 30px;	
}
.error .homeLink  {
	margin-top: 20px;	
}
.error .bolhaError {
	position: absolute;
	top: 38px;
	left: 510px;
}

.errorLayout {
	-moz-border-top-left-radius:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
}

.messageBox {
	position: relative;
	margin: 15px;
	padding-left: 20px;
	line-hegiht: 18px;
	font-size: 13px;
}
.messageBox .icon {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 18px;
}

/* breadcrumbs
----------------------------------------------------*/
#breadcrumbs {
	margin: 0 0 10px 0;
	padding: 0 15px;
	height: 18px;  
}
	#breadcrumbs span {
		padding: 0 6px;
	}
	
	#breadcrumbs a.home {
		display: inline-block;
		line-height: 20px;
	}
	
	#breadcrumbs h1 {
		display: inline;
		font-weight: normal;
	}
/* sections
----------------------------------------------------*/
section {
	position: relative;
	display: block;
	border: 1px solid #e3e3e3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 6px #e3e3e3; 
	-webkit-box-shadow: 0px 0px 6px #e3e3e3;
	box-shadow: 0px 0px 6px #e3e3e3;
  	margin-bottom: 12px;
}
	#categories h2 {
		font-weight: normal;
	}

	section h3.title, section h1.title  {
		font: bold 16px Arial;
		color: #333;
		padding: 10px 0 10px 16px;
		-moz-border-radius: 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0;
		border-radius: 10px 10px 0 0;
	}
	
	section .box {
		padding: 10px 15px;
		font-size: 12px;
	}
	
	section h3.title a {
		color: #333;
		text-decoration: none;
	}
	section h3.title a:hover { text-decoration: underline; }

	section .tools { margin: 6px;}
	section .tools a {
		color: #0e8eab;
		font: bold 14px/20px Arial;
		text-decoration: none;
	}
	section .tools a:hover {
		text-decoration: underline;
		color: #37b9f5;
	}

	section .tools a span.more {
		display: block;
		float: right;
		width: 20px;
		height: 20px;
	}
	
	section .tools a span.more:hover,
	section .tools a:hover span.more  {
	}

	section .footer {
		border-top: 1px solid #ebebeb;
		margin: 10px 0 0 0;
		padding: 7px 15px;
		font-size: 12px;
		line-height: 26px;
	}
	
	section#savedAds {
		display: none;
	}
	
	section#savedAds .image-container {
		width: 60px;
		height: 60px;
		text-align: center;
		float: left;
		border: 1px solid #e3e3e3;
		white-space: nowrap;
	}
	
	section#savedAds img {
		vertical-align: middle;
		margin-left: -3px;
	}
	
	section#savedAds .helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
}

/* dottes in background */

.publishAdd span.publishSmall { background-position: -21px -184px;font-size: 14px;}
.publishAdd span.publishSmallDetail { background-position: 48px -184px;font-size: 14px;}
.publishAdd span.publishBig { background-position: right -360px;}

.bgDottes {
	display: block;
}


/* buttons OBJAVITE OGLAS */

a.publishAdd {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	height: 43px;
	line-height: 43px;
	text-align: center;
	text-decoration: none;
}
a.publishAdd:hover {}





/* pageTopBanner */
/*
#pageTopBanner {
	width: 728px;
	margin: 0 auto;
	padding: 6px 0;
}
*/
#pageTopBanner {
	width: 942px;
	padding: 6px 0;
	position: relative;
	left: -11px;
	text-align: center;
}

#pageTopBanner table {
	width: 942px;/*100%;*/
}

#pageTopBanner * {
	text-align: center;	
}

#pageTopBanner .iAdserver  div.ipromAP {
	text-align: center;
	width: auto !important;
}

#billboard {
	width: 908px;
	padding: 6px 0;
	position: relative;
	text-align: center;
	margin-left: 6px;
}

#billboard * {
	text-align: center;	
}

/*
#pageTopBanner .wrapAd iframe, #pageTopBanner .wrapAd table {
	margin: 6px 0;
} 
*/
/* leftBlockBanners */
#leftBlockBanners {padding: 6px;}
#leftBlockBanners .banners {
	margin: 0 auto;
	width: 180px;
	text-align: center;
}

#leftBlockBanners div span.more {
	display: inline-block;
	padding-right: 20px;
}
	
#leftBlockBanners div span.more:hover {
	background-position: right -156px;
}

#leftBlockBanners div span.bannerArrow {
	content: "";
	position: relative;
	width: 0;
	height: 0;
	top: -1px;
	border-top: 4px solid transparent;
	border-left: 6px solid #0E8EAB;
	border-bottom: 4px solid transparent;
	margin: 0px 0 0 6px;
	vertical-align: middle;
	display: -moz-inline-box;
	display: inline-block;
}


/* banner 300x250 */

#banner300x250 {
  	padding: 5px;
  	display: block;
}
	#banner300x250 div {
		text-align:right;
	}


/* skyscraper */

#skyscraper, #ad300x600 {
	position: absolute;
	left: 936px;
	top: 39px;
	padding: 5px;
	background: white;
	display: block;
	/*width: 160px;*/
	/*height: 624px;*/
}

#ad300x600Detail {
	padding: 5px 4px 0 4px;
	background: white;
	display: block;
}

#ad300x600, #ad300x600Detail {
	width: 300px;
}

	#skyscraper div, #ad300x600 div, #ad300x600Detail div {
		text-align:right;
	}
	
	#skyscraper div.skyscraperText, #ad300x600 div.skyscraperText, #ad300x600Detail div.skyscraperText {
		padding: 4px 8px 4px 0;
	}
	
	.banner div span.bannerArrow, #skyscraper div span.bannerArrow, #ad300x600 div span.bannerArrow, #ad300x600Detail div span.bannerArrow {
		content: "";
		position: relative;
		width: 0;
		height: 0;
		top: -1px;
		border-top: 4px solid transparent;
		border-left: 6px solid #0E8EAB;
		border-bottom: 4px solid transparent;
		margin: 0px 0 0 6px;
		vertical-align: middle;
		display: -moz-inline-box;
		display: inline-block;
	}
	
	.banner div span.more:hover + .bannerArrow, 
	#skyscraper div span.more:hover + .bannerArrow, 
	#ad300x600 div span.more:hover + .bannerArrow, 
	#ad300x600Detail div span.more:hover + .bannerArrow {
		border-left: 6px solid #0099f3;
	}
	#skyscraper div span.more, #ad300x600 div span.more { margin: 4px 0;}

/* borders
----------------------------------------------------*/

.border-5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #4E4E4E;
	-webkit-box-shadow: inset 0 0 3px #b4b4b4;
	-moz-box-shadow: inset 0 0 3px #b4b4b4;
	box-shadow: inset 0 0 3px #b4b4b4;
	background: #fff;
}

/* buttons
------------------------------------------------------*/
.button {
	-webkit-box-shadow: 1px 1px 2px #7a7a74;
	-moz-box-shadow: 1px 1px 2px #7a7a74;
	box-shadow: 1px 1px 2px #7a7a74;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	line-height: 28px;
	color: #ce117b;
	text-decoration: none;
}

.btnYellow {
	color: #444;
	/*vertical-align: top;*/
}
.btnYellow:hover {
	color: #444;
	text-decoration: none;
}

.itemVisibility { display: none; }


/* cookies policy floater
------------------------------------------------------*/
#cookiesWarning {
	position: fixed;
	bottom: -70px;
	left: 0;
	z-index: 100000;
	opacity: 0;
	width: 100%;
	height: 50px;
	background: #000;
	-moz-box-shadow: 0px -3px 30px #000;
	-webkit-box-shadow: 0px -3px 30px #000;
	box-shadow: 0px -3px 30px #000;
}

.cookieContent {
	width: 915px;
	margin: 0 auto;
	margin-top: 8px;
	color: #fff;
	text-align: justify;
}

.cookieContent p {
	width: 700px;
	margin: 0 0 0 3px;
}

.cookieContent .iAgree {
	margin-top: 3px;
	float: right;
	height: 30px;
	color: #000;
}

.cookieContent #cookieFloaterSettings {
	float:left;
	margin-top:10px;
	margin-left:12px;
}

.cookieContent #cookieSelectors {
	display:none;
	clear: both;
	margin-top:10px;
	margin-left:5px;
	float:left;
}

.cookieContent #cookieSelectors label {
	cursor:default;
}

#cookiesShowFloaterFlat {
	position: fixed;
	background: #fff;
	width: 150px;
	height: 30px;
	bottom: -15px;
	right: 5%;

	border: 1px solid #e3e3e3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 0px -1px 3px #ccc;
	-webkit-box-shadow: 0px -1px 3px #ccc;
	box-shadow: 0px -1px 3px #ccc;

	cursor: pointer;
}

#cookiesShowFloaterFancy {
	position: fixed;
	background-color: #fff;
	width: 185px;
	height: 32px;
	top: 70px;
	right: -152px;

	border: 1px solid #e3e3e3;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	-moz-box-shadow: 0px -1px 3px #ccc;
	-webkit-box-shadow: 0px -1px 3px #ccc;
	box-shadow: 0px -1px 3px #ccc;

	cursor: pointer;
}

#cookiesShowFloaterFlat p {
	color: #666;
	text-align:center;
}

#cookiesShowFloaterFancy p {
	color: #666;
	text-align:left;
	text-valign:center;
	margin-left: 5px;
	padding-left: 30px;
	height: 30px;
	line-height:30px;
	background-image: url(/images/cookie.jpg);
	background-repeat: no-repeat;
	background-position: center left;
}

#cookiesWarning a, #cookiesWarningLoginPopUp a, #errorLoginPopUp a {
	font-weight: bold;
}
#cookiesWarning a, #cookiesWarningLoginPopUp a, #cookiesSocialWarning a, #cookiesWarningLoginSocialPopUp a {
	font-weight: bold;
}

/* cookies policy login pop up
------------------------------------------------------*/
#cookiesWarningLoginPopUp, #cookiesWarningProfilePopUp, #cookiesWarningProfileSocialPopUp, #errorLoginPopUp {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index: 10000;
	margin-left:-293px;
	margin-top:-70px;
	width: 585px;
	padding: 18px;
	background: #fff;
	border: 3px solid #555;
	-moz-box-shadow: 0px 0px 12px #777;
	-webkit-box-shadow: 0px 0px 12px #777;
	box-shadow: 0px 0px 12px #777;
}

/* This block is accepted in every browser except IE8, due tu bug in IE8 */
/* In effect: IE8 sets default border size (3px), every other browser overrides border size with 1px */
/* Due to IE7 hack, also IE7 sets border size to 3px. We use this because IE7+8 doesn honor box-shadow */
#cookiesWarningLoginPopUp, #cookiesWarningProfilePopUp, #cookiesWarningProfileSocialPopUp, #ie8#bug, #errorLoginPopUp {
	border: 1px solid #ededed;
	*border: 3px solid #555;			/* IE7 hack*/
}

#cookiesWarningLoginPopUp p, #cookiesWarningProfileSocialPopUp p, #cookiesWarningProfilePopUp p, #errorLoginPopUp p {
	text-align: justify;
	line-height: 21px;
	font-size: 14px;
}

#cookiesWarningLoginPopUp input, #cookiesWarningProfileSocialPopUp input, #cookiesWarningProfilePopUp input, #errorLoginPopUp input {
	height: 30px;
	margin-top: 18px;
}

#cookiesWarningLoginPopUp #cookieSelectorsLogin {
	margin-top:20px;
}

#cookiesWarningLoginPopUp #cookieSelectorsLogin input {
	display:none;
	height:auto;
	margin-top:0;
}

#cookiesWarningLoginPopUp #cookieSelectorsLogin label {
	display: inline-block;
	height: 21px;
	margin: 5px 0;
	padding-left: 25px;
}

#cookiesWarningLoginPopUp #cookieSelectorsLogin label.checked {
	background-position: -4px -359px;
}

#cookiesWarningLoginPopUp #cookieSelectorsLogin label.disabled {
	cursor:default;
	background-position: -3px -629px;
}

.curtain {
	display:none;
	position: absolute;
	overflow:hidden;
	left:0;
	top:0;
	width:100%;
	height:1px;
	background: #fff;
	z-index: 1000;
	zoom: 1;
	opacity: 0.3;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
}

#warningDisagree, #warningCookieCancel, #warningCookieSocialCancel, #errorLoginPopUpClose {
	float:right;
	display:block;
	position:absolute;
	top:0;
	right:0;
	padding:5px;
	padding-top:1px;
	*padding-top:5px;
}

/* Overwrite jquery styles */
.buttonYellowDialog {
	padding: 0 15px 0 15px !important;
	height: 21px;
	width: auto;
	position: relative;
	left: 10px;
	border: #929292 1px solid !important;
	background: transparent url('img/sprite-horizontal.png?v=1.3') 0 -184px repeat-x !important;
	-webkit-box-shadow: inset 0 0 3px #999;
	-moz-box-shadow: inset 0 0 3px #999;
	box-shadow: inset 0 0 3px #999;
	-webkit-border-radius: 5px;
}

.buttonYellowDialog:hover {
	background: transparent url('img/sprite-horizontal-hover.png?v=1.3') 0 -184px repeat-x !important;	
}

.buttonYellowDialog span {
	margin: 0;
	padding:  0 !important;
	font-weight: bold;
	font-size: 1em;
	color: #333;
}

/* Social media and apps */

#socialNetworks { 
	height: 1%;
	width: 360px;
	float: left;
	margin-left: 120px;
}

#downloadAppsFP div.links img {
	height: 41px;
	margin: 9px 0 3px 0;
	
}
#downloadAppsFP div.links a.ios {
	margin-left: 15px;
}
#downloadAppsFP div.links a.android {
	margin-left: 22px;
}

#socialNetworks .links a {
	display: block;
	float: left;
	margin-right: 3px;
	width: 26px;
	height: 26px;
}

#socialNetworks h3 {
	color: #656565;
	font-weight: normal;
	margin: 4px 10px 0 0;
}

#socialNetworks .links a.google img { 
	width: 42px;
	height: 39px;
	margin-top: 1px;
	margin-left: 3px;
}

#socialNetworks .links a {
	margin: 0 5px 0 5px;
}

#socialNetworks .links a.google { background-position: -158px -1px; }

#socialNetworks .links a.fb { background-position: -102px -1px;  }

#socialNetworks .links a.youtube { background-position: -186px -1px;  }

#socialNetworks .links a.twitter { background-position: -130px -1px; }

.widgetDataNotAvailable {
	margin-left: 18px; 
	margin-top: 5px; 
	color: #777;
	width: 90%;
}

#footerAppsMedia {
	float: right;
	width: 360px;
	margin-right: 120px;
}

#footerAppsMedia h3 {
	float: left;
	color: #656565;
	font-weight: normal;
	margin: 4px 10px 0 0;
}

#footerAppsMedia div.links {
	float: left;	
}

#footerAppsMedia div.links img {
	height: 26px;
	margin: 0px 5px 0px 5px;
}

.socialAndApps {
	height: 26px;
	margin-bottom: 25px;
}

div.adGrid label.gift,
div.ad label.gift {
	background: url('img/system_icons.png') 0 -978px no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
}