/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	
}
html {overflow-y: scroll;}
body {
	width: 100%; 
	min-width: 940px;
	overflow-x: hidden;
	overflow-y: hidden;
}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
/*
img,
object,
embed {max-width: 100%;}
*/
/* force a vertical scrollbar to prevent a jumpy page */
/*html {overflow-y: scroll;}*/

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

/*td, td img {vertical-align: top;}*/ 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 1%; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; line-height: 1px !important; }  
.clear { display: block; clear: both; }

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #0E8EAB; text-decoration: none;}
a:hover {color: #37b9f5;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #0099f3; color: #fff; text-shadow: none;}
::selection {background: #0099f3; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700; text-decoration: none;} 

ins {background-color: #fff; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}




/* Grid styles
-------------------------------------------------------------------------------*/
.left { float: left !important; }
.right { float: right !important; }
.leftFix { margin-left: -1px !important; }
.rightFix { margin-right: -1px !important; }
.alignRight { text-align: right !important;}
.alignLeft { text-align: left !important;}
.alignCenter { text-align: center !important;}
.hidden { display: none !important; }
.auto { margin: 0 auto;}

.right.button, .button.right { line-height: normal; }
.left.button, .button.left { line-height: normal; }
.center.button, .button.center { margin-right: auto; margin-left: auto; line-height:normal; width:45px; display:block; }

.noBorder { border: none !important;}
.borderTop { border-top: 1px solid #e3e3e3 !important; }

.roundedBox-10 {
	margin-bottom: 12px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 10px;
  	-moz-box-shadow: 0px 0px 6px #e3e3e3; 
	-webkit-box-shadow: 0px 0px 6px #e3e3e3;
	box-shadow: 0px 0px 6px #e3e3e3;
}

.p5 { padding: 5px !important; }
.pb12 { padding-bottom: 12px !important; }

.mt6 { margin-top: 6px !important; }
.mt12 { margin-top: 12px !important; }

.mb6 { margin-bottom: 6px !important; }
.mb12 { margin-bottom: 12px !important; }

.mr6 { margin-right: 6px !important; }
.mr12 { margin-right: 12px !important; }

.ml0 { margin-left: 0px !important; }
.ml6 { margin-left: 6px !important; }
.ml12 { margin-left: 12px !important; }


.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs14 { font-size: 14px !important; }

a.more span {
	content: "";
	position: relative;
	width: 0;
	top: -1px;
	height: 0;
	border-top: 4px solid transparent;
	border-left: 6px solid #0E8EAB;
	border-bottom: 4px solid transparent;
	margin: 0px 0 0 6px;
	vertical-align: middle;
	display: -moz-inline-box;
	display: inline-block;
}
a.more:hover span {
	border-left: 6px solid #0099f3;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 920px;
	padding: 0 10px;
	display: block;
	background-color: #fff;
}
.top-bar .wrapper {
	background-color: #3D3D3D;
}

.container {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}

.coloumn {
	position: relative;
	display: block;
	margin: 0 6px;
	padding: 0;
	float: left;
}

.span-1 { width: 34px; }
.span-2 { width: 80px; }
.span-3 { width: 126px; }
.span-4 { width: 172px; }
.span-5 { width: 218px; }
.span-6 { width: 264px; }
.span-7 { width: 310px; }
.span-8 { width: 356px; }
.span-9 { width: 402px; }
.span-10 { width: 448px; }
.span-11 { width: 494px; }
.span-12 { width: 540px; }
.span-13 { width: 586px; }
.span-14 { width: 632px; }
.span-15 { width: 678px; }
.span-16 { width: 724px; }
.span-17 { width: 770px; }
.span-18 { width: 816px; }
.span-19 { width: 862px; }
.span-20 { width: 908px; }








