@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/corbelb-webfont.eot');
    src: url('fonts/corbelb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/corbelb-webfont.woff') format('woff'),
         url('fonts/corbelb-webfont.ttf') format('truetype'),
         url('fonts/corbelb-webfont.svg#CorbelBold') format('svg');
    font-weight: normal;
    font-style: normal;
}.corbel-bold{font-family:'CorbelBold';font-weight:normal;font-style:normal}.open-bold{font-family:'Open Sans',sans-serif;font-weight:700}@font-face {
    font-family: 'CorbelRegular';
    src: url('fonts/corbel-webfont.eot');
    src: url('fonts/corbel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/corbel-webfont.woff') format('woff'),
         url('fonts/corbel-webfont.ttf') format('truetype'),
         url('fonts/corbel-webfont.svg#CorbelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}.corbel{font-family:'CorbelRegular'}.open-normal{font-family:'Open Sans',sans-serif;font-weight:400}html{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xfoot.png.pagespeed.ic.BuC6txCZy6.png) repeat-x 0 100%}body{font-family:'Proxima-nova'}.lightgrey{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xswbg.png.pagespeed.ic.EaMk5jJw4b.png) no-repeat top right #f2f2f2}.UserMenu{position:absolute;right:220px;text-align:right;z-index:900;list-style-type:none;font-family:'CorbelRegular'}.UserMenu li{display:inline;font-size:13px;line-height:40px;height:40px;padding:0 0 0 15px}p{font-family:arial,sans-serif}h1,h2,h3,h4,h5,h6,button,.button{font-family:'Proxima-nova';line-height:1.3;font-weight:normal!important}.grey{color:#cbcbcb}.fiolet,.dark:hover{color:#8a1060}.dark{color:#222}.red{color:#da0000}.border-bottom{border-bottom:1px solid #e2e2e2}.border-top{border-top:1px solid #e2e2e2}.margin-border{margin-bottom:5px}.bold{font-family:'CorbelBold';font-weight:700}.ubuntu{font-family:'CorbelRegular'}.padding{padding:16px 0}.inner-padding{padding:0 10px 10px 10px}.minihead{font-family:'Open Sans',sans-serif;font-weight:400;font-size:10px;padding:0 0 10px 0;margin:0 0 20px 0;display:block;border-bottom:1px solid #ebebeb;text-transform:uppercase}.minihead2{font-family:'Open Sans',sans-serif;font-weight:400;font-size:10px;margin:0 0 0px 0;display:block;text-transform:uppercase}.single-post .inner-padding{padding-bottom:0px!important}.padding-bottom{padding:0 0 10px 0}.padding20{padding:20px 0}.separator{padding:0 6px}.margin20{margin:0 0 20px 0}.margintop20{margin-top:20px}.block{display:block}.padding-right{padding:0 6px 0 0}.line{height:1px;width:100%;margin:20px 0;background:rgba(255,255,255,.15)}.line2{height:1px;width:100%;margin:20px 0 30px 0;background:rgba(0,0,0,.18)}.white,a.white,.white a{color:#fff!important;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}a.white:hover,.white a:hover{opacity:.7}a.black{color:#2d2d2d}a.black:hover{color:#8a1060}.middle{vertical-align:middle}#logo{line-height:0px;font-size:0px}#logo img{padding:15px 0 15px 0}div.homepage#logo img{padding:35px 0 35px 0!important}#logo h1{margin:0;font-size:12px}#menu-wrapper{width:100%;z-index:9999}#menu{}#menu nav{line-height:50px;height:54px;padding:5px 0 0 0;background:#f2f2f2;border:1px solid #e4e4e4}nav form{position:absolute;z-index:888;right:15px;top:5px;margin:0!important;width:195px}nav form input{border:none!important;line-height:39px;background:#ececec!important;height:40px!important;font-size:11px!important;text-transform:uppercase;padding:0 10px!important;display:inline!important;width:150px!important;margin:0px!important;box-shadow:inset 0px 1px 2px rgba(0,0,0,0)!important;border-radius:0!important;-webkit-border-radius:0!important;-moz-border-radius:0!important;-ms-border-radius:0!important;-o-border-radius:0!important}nav form input:focus{background:#fff!important}nav form input[type="submit"]{width:40px!important;background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xszukaj.png.pagespeed.ic.DZAkzaRvU8.png) no-repeat center center #8a1060!important;-webkit-box-shadow:0;height:40px!important;line-height:40px;box-shadow:none!important;padding:0px!important}.nav-bar{background:#f2f2f2;font-size:14px}.nav-bar>li{border-top:1px solid #dadada;border-left:1px solid #dadada;border-bottom:1px solid #dadada;font-size:14px!important}.nav-bar>li:hover{border-top:1px solid #f4f4f4;border-left:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;background:#fbfbfb!important}.nav-bar>li a{color:#2d2727;font-family:'CorbelRegular';font-weight:400;font-size:14px!important}.nav-bar li ul li a{border-top:1px solid #dadada;border-left:1px solid #dadada;border-bottom:1px solid #dadada;background:#fff!important;font-size:14px}.nav-bar li ul li{border-left:2px solid #8a1060!important;font-size:14px}.nav-bar li ul li a:hover,.nav-bar li ul li a:focus{background:#f5f5f5!important;color:#8a1060!important;font-size:14px}.nav-bar li ul li:last-child{border-bottom:none!important}.nav-bar>li:last-child{border-right:none}section{}section[role="main"]{margin-top:0px}.recommend{background:#f7f7f7;padding:0 10px 10px 10px;margin:0 0 10px 0}h2.hot{line-height:45px;min-height:45px;font-size:15px!important;background:#a19f9d;padding:0!important}h2.hot span{background:#d41729;line-height:45px;height:45px;font-style:16px;padding:0 10px;font-weight:normal;color:#fff;margin:0 10px 0 0;display:inline-block!important;white-space:pre}h2.hot a{color:#fff;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;opacity:1}h2.hot a:hover{opacity:.7}a.dodaj{opacity:.8!important;font-size:13px!important;color:#d3d3d3!important;font-weight:normal!important;padding:0 10px}a.dodaj:hover{opacity:1!important}.cover-big{width:100%;height:225px;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;position:relative!important;font-size:19px;font-weight:500;line-height:1.5;border:1px solid #fff}.usless_bg{background:rgba(0,0,0,.3);width:100%;height:100%;top:0;left:0;position:absolute;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.usless_bg:hover{background:rgba(0,0,0,0);cursor:pointer;cursor:hand}.cover-small{width:100%;height:125px;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;position:relative!important;font-size:13px;font-weight:500;line-height:1.5;margin:0 0 20px 0;border:1px solid #fff}.cover-cykle{width:100%;height:142px;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;position:relative!important;font-size:13px;font-weight:500;line-height:1.5;margin:0 0 20px 0;border:1px solid #f1f1f1}.cover-small:last-child{margin:0}.cykle h4{font-size:17px}.etykieta a,.etykieta.normal a{display:inline!important;color:#fff!important}.white{color:#fff!important}.pink{color:#ffb4a6;font-weight:normal;font-family:'CorbelRegular',Arial,sans-serif!important}.pink:hover{color:#fff}.etykieta{position:absolute;font-family:'Open Sans',sans-serif;font-weight:400;font-size:10px;text-transform:uppercase;padding:5px;display:inline-block!important;border-radius:3px;-webkit-border-radius:3px;z-index:30;line-height:1!important}.etykieta.normal{position:relative!important;font-family:'Open Sans',sans-serif;font-weight:400;font-size:10px;text-transform:uppercase;padding:5px;display:inline-block!important;border-radius:3px;-webkit-border-radius:3px;z-index:30}.etykieta.fiolet,.etykieta.normal.fioletowy{background:#6c45cf}.etykieta a.fiolet span.fiolet{color:#fff!important}.etykieta.rozowy,.etykieta.normal.rozowy{background:#96115f}.etykieta.czarny,.etykieta.normal.czarny{background:#96115f}.etykieta.czerwony,.etykieta.normal.czerwony{background:#f52626}.etykieta.niebieski{background:#124191}.etykieta.lewo{bottom:15px;left:15px}.etykieta.prawo{bottom:15px;right:15px}.face{position:absolute;top:15px;left:15px}.face img{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;opacity:.7}.face img:hover{filter:grayscale(0%);-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);opacity:1}.content-frame{border:1px solid #e4e4e4;margin:0 0 20px 0;padding:9px}.shadow{line-height:0px;font-size:0px;display:inline-block!important;border:1px solid #e2e2e2;-webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,.2)!important;box-shadow:0px 0px 6px 0px rgba(0,0,0,.2)!important;max-width:none;width:auto}.adframe{line-height:0px;font-size:0px;width:380px;display:inline-block!important;border:1px solid #e2e2e2;-webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,.2)!important;box-shadow:0px 0px 6px 0px rgba(0,0,0,.2)!important;text-align:center;margin-bottom:30px}.adframe img{width:auto!important;margin:0 auto}.font18{font-size:18px}.font17{font-size:17px}.font55{font-size:55px;line-height:1}.touch .font55{font-size:30px}.big{text-transform:uppercase!important}.desc,.desc p{font-size:16px;text-transform:uppercase;font-family:'Open Sans',sans-serif;font-weight:400;color:#fff}.cbox .desc p{font-size:16px}.kreska{border-left:1px solid #5d5b5b;padding:0 0 0 20px}.hotpasek{background:#8a1060;padding:15px;color:#fff!important;margin-top:15px}.hotpasek h4{font-size:18px}.hotpasek span{opacity:.6;color:#fff!important}.hotpasek a{font-family:'CorbelBold'}.author-date,.cykle-head{font-size:10px;text-transform:uppercase;color:#222}.author-date a{color:#222}.author-date a:hover{color:#525252}.authorphoto{position:relative}.authorphoto img{width:100%}.authorphoto .rss{width:18px!important;height:18px!important;position:absolute!important;right:15px!important;display:block!important;bottom:15px!important;z-index:2!important}.authorphoto .rss img{width:18px!important;height:18px!important}.users{line-height:35px;vertical-align:bottom;height:35px}.users img{margin:0 0 0 0px}.photo{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;opacity:.7}.photo:hover{filter:grayscale(0%);-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);opacity:1}.entry{margin:0 0 0px 0}.entry.main_posts{margin-bottom:20px}.entry p{font-family:arial,sans-serif}.entry:last-child{margin:0!important}.entry .cover{height:235px;width:100%;border:1px solid #f1f1f1;position:relative;font-size:0px;line-height:0px}.entry .cover2{height:190px;width:100%;border:1px solid #f1f1f1;position:relative;-webkit-background-size:cover!important;-moz-background-size:cover!important;-o-background-size:cover!important;background-size:cover!important}.entry .cover_reklama{height:390px;width:100%;border:1px solid #f1f1f1;position:relative;-webkit-background-size:cover!important;-moz-background-size:cover!important;-o-background-size:cover!important;background-size:cover!important}.cover2 a.main_link,.egzekucja-cover a.main_link,.cover3 a.main_link,.article-cover a.main_link,.cover-big a.main_link,.cover-small a.main_link{width:100%;height:100%;display:block;z-index:20}.egzekucja-cover{height:135px;width:100%;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;position:relative;font-size:0px;line-height:0px}.cover3{height:90px;width:100%;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;position:relative;font-size:0px;line-height:0px}.entry .category{font-size:13px;font-weight:normal;margin-bottom:0;min-height:26px}.entry .cover a,.entry .cover2 a,.egzekucja-cover a,.cover3 a{display:block;width:100%;height:100%}.category span{display:inline-block;padding:0 0 7px 0;border-bottom:5px solid #8a1060}.category .time{border-bottom:0;float:right}.category span a{color:#262626}.category span a:hover{color:#8a1060}.entry .title{line-height:.8}.entry .title a{font-size:22px;color:#2c2727;line-height:auto!important}.entry .title a:hover{color:#8a1060}.title2 a{display:block;width:100%}.entry .title2{line-height:1.1}.entry .title2 a{font-size:25px;color:#2c2727;line-height:1.3}.entry .title2 a:hover{color:#8a1060}.entry .title3{line-height:1.1;padding-top:0;margin-top:0}.entry .title3 a{font-size:25px;color:#2c2727;line-height:1.3;display:block;width:100%}.entry .title3 a:hover{color:#8a1060}.entry-meta,.entry-meta .columns{min-height:35px;line-height:35px;font-size:12px!important}.entry-horizontal .cover2{margin:0 0 10px 0}.entry-meta img{vertical-align:middle;margin-right:5px}.adv-frame{border:3px solid #e3e3e3;padding:10px 20px}.adv-frame h3{font-weight:normal;font-size:22px}.adv-frame h3 img{vertical-align:middle;padding:0 5px 0 0}.adv-frame .cover-big{margin:0 0 20px 0;height:265px}.testuje-frame{border:3px solid #e3e3e3;padding:0px 20px 10px 20px;margin:35px 0 35px 0}a.testuje{font-weight:400;margin:0 auto;max-width:500px;padding:15px;background:#8a1060;font-size:20px;color:#fff;text-align:center;position:relative;top:-29px;text-decoration:none;display:block}a.testuje:hover{background:#e3e3e3;color:#8a1060}.bottom-border{margin-bottom:15px!important}.egzekucje p{border-left:none;margin:10px 0px 10px 0;background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xcytat.jpg.pagespeed.ic.EGDGOjfvNz.jpg) no-repeat top left;padding:0px 20px 0px 40px;font-style:italic;min-height:88px}.egzekucje li a{color:#6f6f6f}.egzekucje h2{color:#6f6f6f;line-height:1.5;font-size:12px;text-align:center}.paginacja{margin:20px 0;padding:25px 0}.wp-pagenavi{clear:both;text-align:center;font-size:16px;color:#2d2d2d;border:none!important}.wp-pagenavi a{padding:6px 13px!important;margin:0 3px;text-align:left;color:#828282}.wp-pagenavi a:hover,.wp-pagenavi span.current{color:#fff;background:#8a1060;margin:0 3px;padding:6px 13px!important}.panel{background:#fff;border:1px solid #e7e7e7}.four .panel h4{font-size:13px;line-height:1.5;padding:10px 0;font-weight:400;margin:0;border-bottom:1px solid #e7e7e7;min-height:59px}.three .panel h4{font-size:13px;line-height:1.5;padding:10px 0;font-weight:400;margin:0;border-bottom:1px solid #e7e7e7;min-height:70px}.three .panel h4 a,.four .panel h4 a{color:#222}.three .panel h4 a:hover,.four .panel h4 a:hover{color:#802b60}.panel h4:last-child{font-size:13px;padding:10px 0 0 0!important;border-bottom:none!important}.single-post p{text-align:justify}.single-post ol{list-style:decimal;padding-left:20px;margin-bottom:20px}.single-post ul{list-style:square;padding-left:20px;margin-bottom:20px}.single-post ul.no-bullet,.single-post ol.no-bullet{list-style:none;padding-left:0;margin-bottom:0}.szary{background:#f2f2f2;padding:13px;font-size:17px;text-transform:uppercase;line-height:25px}.szary strong{font-size:25px;float:left;padding:0 8px 0 0}#footer{background:#f5f5f5;border-top:3px solid #f8f8f8;padding:10px;font-family:'CorbelRegular',Arial,sans-serif;font-size:13px;color:#2d2d2d}#footer p.grey{font-size:17px!important}#footer p{font-family:'CorbelRegular',Arial,sans-serif}#footer h4{font-size:14px!important;font-weight:normal;line-height:1.5;color:#2d2d2d}#footer li a{color:#2d2d2d;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;opacity:1;font-family:'CorbelRegular',Arial,sans-serif;font-size:13px}#footer li a:hover{opacity:.6}#footer form input[type="submit"],#page404 form input[type="submit"]{width:30px!important;padding:0!important;height:30px!important;background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xszukaj.png.pagespeed.ic.DZAkzaRvU8.png) no-repeat center center #8a1060;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}#footer input,#page404 input{border-radius:0!important;-webkit-border-radius:0!important;-moz-border-radius:0!important;-ms-border-radius:0!important;-o-border-radius:0!important}.popularne p{font-family:ubuntu,sans-serif}h5 img{vertical-align:middle;padding:0 0 5px 10px}#footer h5{padding-top:10px;font-family:'CorbelBold',arial,sans-serif;font-weight:normal;font-size:14px;margin:10px 0 25px 0}.entry-archive{border-bottom:1px solid #e3e3e3;padding:10px 0}.entry-archive h2.title{font-size:27px;line-height:1.5;min-height:120px}.entry-archive h2.title a{color:#2d2d2d}.entry-archive h2.title a:hover{color:#8a1060}.entry-archive .cover{height:195px;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;margin:0 0 5px 0}.entry-archive .entry-meta div{font-size:14px!important}a.more{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xmore.jpg.pagespeed.ic.q1RdcUK9lK.jpg) no-repeat 0 50%;font-size:15px;font-weight:bold;color:#8a1060;padding:10px 0 10px 15px;margin:15px 0 0 0;display:block}.padding-rss{padding:0 0 0 8px}.autor li{font-size:15px;line-height:1.5;padding:8px 0;font-weight:400;margin:0;border-bottom:1px solid #e7e7e7}.autor li:first-child{padding:0 0 8px 0!important}.autor li:last-child{padding:8px 0 20px 0!important;border-bottom:none!important}article{margin:0 0 50px 0}.single-post article{margin-bottom:20px}article,article div,article p,article ul li,article a{font-size:15px;font-family:Arial,Helvetica,sans-serif}article h1,h1{font-size:39px;font-weight:500}article h2{font-weight:normal!important;font-size:26px;margin-bottom:17px;margin-top:17px;font-family:'CorbelBold'!important}article h2 a{font-family:'CorbelBold'!important;font-size:26px!important;font-weight:normal!important}article h3{font-weight:normal!important;font-size:22px;margin-bottom:17px;margin-top:17px;font-family:'CorbelBold'!important}article h3 a{font-family:'CorbelBold'!important;font-size:22px!important;font-weight:normal!important}h3{font-size:22px}article blockquote{margin-bottom:25px!important;margin-top:25px!important;padding-top:0}article blockquote p{font-size:21px!important;margin-top:0;padding-top:0}article h4,h4{font-size:18px}article h5,h5{font-size:16px}article h6,h6{font-size:15px}.article-cover{height:250px;-moz-background-size:cover!important;-webkit-background-size:cover!important;background-size:cover!important;margin:19px 0 10px 0!important;width:100%}.article-cover a{display:block;width:100%;height:100%}.meta{color:#828282;font-size:13px;margin-bottom:20px!important}.meta span{margin:0 30px 0 0!important;display:inline-block;font-size:13px}span.data{display:inline-block!important}.tag{padding:5px;color:#82828e;background:#e3e3e3;font-size:12px;margin:0 5px 5px 0;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;display:inline-block;text-transform:lowercase}.tag:hover{color:#fff;background:#8a1060}a.top{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xtop.jpg.pagespeed.ic.oROGhixpW2.jpg) no-repeat 0 65%;padding:0 0 0 17px;font-size:13px}#page404{margin:50px 0 0 0;padding:50px 0;line-height:1.5}#page404 h2{font-size:45px;font-weight:500;line-height:1.2}#page404 h5{font-weight:400;line-height:1.5;font-size:19px}#page404 .panel{padding:0 0 0 45px;border-left:1px solid #e2e2e2;border-top:none;border-bottom:none;border-right:none;background:transparent}#page404 .panel form:last-of-type div{font-size:0}#page404 form{margin:40px 0 0 0}.alignnone{margin:5px 20px 20px 0}.aligncenter,div.aligncenter{display:block;margin:5px auto 5px auto}.alignright{float:right;margin:5px 0 20px 20px}.alignleft{float:left;margin:5px 20px 20px 0}.aligncenter{display:block;margin:5px auto 5px auto}a img.alignright{float:right;margin:5px 0 20px 20px}a img.alignnone{margin:5px 20px 20px 0}a img.alignleft{float:left;margin:5px 20px 20px 0}a img.aligncenter{display:block;margin-left:auto;margin-right:auto}.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:100%;padding:7px 3px 5px 3px;text-align:center}.wp-caption.alignnone{margin:5px 20px 20px 0}.wp-caption.alignleft{margin:5px 20px 20px 0}.wp-caption.alignright{margin:5px 0 20px 20px}.wp-caption img{border:0 none;height:auto;margin:0;max-width:98.5%;padding:0;width:auto}.wp-caption p.wp-caption-text{font-size:16px;line-height:21px;margin:10px;padding:12px 8px 10px 10px;text-align:left}.smaller_font p{font-size:13px!important;font-family:'CorbelRegular',Arial,sans-serif;color:#2d2d2d}.wpcf7-not-valid-tip,.wpcf7-validation-errors{background-color:#c60f13!important;border-color:#970b0e!important;color:#fff!important;border-style:solid!important;border-width:1px!important;font-weight:bold!important;padding:.6875em 1.3125em .75em .6875em!important;text-shadow:none!important;position:static!important;width:100%!important}.wpcf7-mail-sent-ok{background-color:#5da423!important;border-color:#457a1a!important;color:#fff!important;border-style:solid!important;border-width:1px!important;font-weight:bold!important;padding:.6875em 1.3125em .75em .6875em!important;text-shadow:none!important;display:block!important;width:100%!important}#AddTextWrapper{margin:0 auto;display:block;width:630px;padding:20px;background:#fff}#AddTextWrapper .TabMenu{width:100%;display:block;float:left;list-style:none;margin-bottom:20px;height:57px;padding-left:225px;background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xAddText-Logo-Forum.png.pagespeed.ic.UwTibKptVU.jpg) left top no-repeat}#AddTextWrapper .TabMenu li{display:block;float:left;margin-left:20px;font-size:13px;height:26px;line-height:26px}#AddTextWrapper .TabMenu li:first-child,#AddTextWrapper .TabMenu li.first{margin:0}#AddTextWrapper .TabMenu li a{color:#2e2828;display:block;float:left;height:26px;line-height:26px;padding:0 10px;font-weight:500;font-family:'Ubuntu',sans-serif;margin-top:15px;font-size:15px}#AddTextWrapper .TabMenu li a:hover,#AddTextWrapper .TabMenu li.active a{background:#891057;color:#fff}#AddTextWrapper .TabMenu li a.selected{background:#891057;color:#fff}.TabWrapper{display:block;overflow:hidden;font-family:'Ubuntu',sans-serif;padding-top:20px;border-top:1px solid #e2e2e2;width:100%}.TabWrapper .Tab p{color:#2d2d2d;margin-bottom:10px}.TabWrapper #AddText form{}.TabWrapper #AddText p{margin-bottom:10px}.TabWrapper #AddText form input[type="text"]{display:block;width:608px;padding:0 10px;height:50px;line-height:50px;font-size:16px;color:#000;background:#eee;border:1px solid #e2e2e2;font-family:'Ubuntu',sans-serif;margin-bottom:20px}.TabWrapper #AddText form textarea{display:block;padding:10px;height:250px;line-height:20px;font-size:16px;color:#000;background:#eee;border:1px solid #e2e2e2;font-family:'Ubuntu',sans-serif;width:608px;resize:none;margin-bottom:20px}.TabWrapper .Tab ul{list-style:decimal;margin:20px}.TabWrapper .Tab ul li{margin-bottom:10px}.TabWrapper #AddText form .File{display:block;overflow:hidden}.TabWrapper #AddText form .File span{display:block;float:left;padding:10px;border:1px solid #e2e2e2;margin-right:20px}.TabWrapper #AddText form .File label{font-size:16px;font-family:'Ubuntu',sans-serif;float:left;padding:11px 0}.TabWrapper #AddText form .Buttons{display:block;overflow:hidden;padding-top:20px;margin-top:20px;border-top:1px solid #e2e2e2}.TabWrapper #AddText form .Buttons button{display:block;float:left;height:47px;line-height:47px;color:#fff;font-size:18px;background:#b1b1b1;padding:0 50px;margin-right:20px;font-size:20px;font-family:'Ubuntu',sans-serif;border:none}.TabWrapper #AddText form .Buttons button:hover{background:#891057}.TabWrapper #AddText form .Buttons span{display:block;float:left;height:47px;line-height:47px}.TabWrapper #AddText form .Buttons a{font-size:13px;color:#891057;font-family:'Ubuntu',sans-serif}a.pp_close{top:-708px!important;right:20px!important}.TabWrapper #AddText-Login .Buttons{display:block;overflow:hidden;padding-top:20px;margin-top:20px;border-top:1px solid #e2e2e2}.TabWrapper #AddText-Login form .Buttons button{display:block;float:left;height:47px;line-height:47px;color:#fff;font-size:18px;background:#b1b1b1;padding:0 50px;margin-right:20px;font-size:20px;font-family:'Ubuntu',sans-serif;border:none}.TabWrapper #AddText-Login form .Buttons button:hover{background:#891057}.TabWrapper #AddText-Login form #Login,.TabWrapper #AddText-Login form #Full-Name .TabWrapper #AddText-Login form #Email .TabWrapper #AddText-Login form #Birth-Date{height:72px}.TabWrapper #AddText-Login form div span{margin-left:10px;font:16px/72px 'Ubuntu',sans-serif;height:72px;display:block;float:left;padding-left:30px}.TabWrapper #AddText-Login form div span.Login-OK{background:url(images/login-ok.png) no-repeat left center;color:#5bc815}.TabWrapper #AddText-Login form div span.Login-Error{background:url(images/login-error.png) no-repeat left center;color:#fd1414}.TabWrapper #AddText-Login form input{float:left;font:16px/50px 'Ubuntu',sans-serif;height:50px;width:410px;padding:0 10px;color:#2d2d2d;margin:10px auto;border:1px solid #e2e2e2;background:#eee}.TabWrapper #AddText-Login form input:focus{border:1px solid #891057;box-shadow:0 0 5px #ddbace}.TabWrapper #AddText-Login #Twitter-Login{background:url(images/twitter-login.jpg) no-repeat left top;display:block;width:178px;height:25px}.TabWrapper #AddText-Login #Facebook-Login{background:url(images/facebook-login.jpg) no-repeat left top;display:block;width:179px;height:25px}.TabWrapper #AddText-Login #Login-Error-Box{background:url(images/login-error.png) no-repeat left center;color:#fd1414;margin-bottom:20px;padding-left:30px;line-height:24px}.TabWrapper #AddText-Login #Login-Success-Box{background:url(images/login-ok.png) no-repeat left center;color:#36b338;margin-bottom:20px;padding-left:30px;line-height:24px}.TabWrapper #AddText-Login #Log-In-Form{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ccc}.TabWrapper #AddText-Login #Log-In-Form button{display:block;float:left;height:47px;line-height:47px;color:#fff;font-size:18px;background:#b1b1b1;padding:0 50px;margin-right:20px;font-size:20px;font-family:'Ubuntu',sans-serif;border:none}.TabWrapper #AddText-Login #Log-In-Form button:hover{background:#891057}.TabWrapper #Foreign-Login{padding:10px 0;clear:both}.TabWrapper #Foreign-Login img+img{margin-left:10px}.TabWrapper #Foreign-Login img:hover{cursor:pointer}.TabWrapper #AddText #Post-Success-Box{background:url(images/login-ok.png) no-repeat left center;color:#36b338;margin-bottom:20px;padding-left:30px;line-height:24px}.TabWrapper #AddText #Post-Error-Box{background:url(images/login-error.png) no-repeat left center;color:#fd1414;margin-bottom:20px;padding-left:30px;line-height:24px}.TabWrapper #AddText p a{color:#891057}.TabWrapper #AddText p a:hover{border-bottom:1px dotted #891057}.TabWrapper #AddText label{display:block;margin-bottom:20px}.TabWrapper #AddText label select{background:#eee;border:1px solid #e2e2e2;font-size:16px;padding:10px}.TabWrapper #AddText label input{background:#eee;border:1px solid #e2e2e2;font-size:16px;padding:10px}.TabWrapper #AddText label input[type="file"]{padding:0}.TabWrapper #AddText label input#ArticleTags{margin-top:10px;margin-left:0}.clear{clear:both}.row-side{padding:15px 0;clear:both}.row-side img{width:100%;display:block}.row-side-google{width:300px;position:relative;margin:15px auto 15px 38px!important}.row-side-google ins{margin:0 auto}.reklama{margin:15px auto}.post-ratings span{float:none!important;margin-right:0px!important;font-family:'Open Sans',sans-serif;font-weight:400;font-size:11px;text-transform:uppercase}.ocen h3{margin-bottom:5px!important;margin-top:7px!important}.post-ratings img{vertical-align:middle!important;margin-bottom:2px!important}.post-ratings img:last-child{padding:0 10px 0 0}.entryfont,.entryfont p,.entryfont div,.entryfont section,.entryfont a,.entryfont p a,.entryfont li,.entryfont label{font-family: "Proxima-nova" sans-serif;letter-spacing:normal;font-weight:400;font-style:normal;font-size:18px;line-height:1.45}.entryfont p{margin-bottom:22px}.intro{background:#f8f8f8;padding:10px;border:1px solid #e1e1e1;font-weight:bold}.zajawka{text-align:justify}#sideMenu .first-item{display:none}#cykle{margin-top:50px}.tmobile object,.tmobile div,.tmobile embed{width:262px!important;max-height:660px!important}.small_bottom_padding{padding-bottom:4px}.qualcomm{position:absolute;right:0px;top:60px;width:260px;font-size:11px}.qualcomm img{width:90px}.splay_bg{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xtlo.jpg.pagespeed.ic.aGrpIR3V3c.jpg) no-repeat;background-size:cover;min-height:440px;z-index:1002!important}.reveal-modal-bg{z-index:1001!important}.bialy.button{background-color:#fff;color:#93316e;border-color:#b8b8b8;font-size:12px;position:static;line-height:12px;text-shadow:none}.bialy.button:hover{background-color:#ebebeb}#windows_ad object embed,#windows_ad object{height:200px}.whitesection{background:#fff;border-bottom:1px solid #ebebeb;padding:30px 0}.darksection{background:#32323c;margin-top:0}.darksection2{background:#4d4d59;margin-top:0}.blacksection2{background:#000;margin-top:0}.darksection .padding,.darksection2 .padding,.blacksection2 .padding{padding:30px 0 16px 0}.wazne{background:#e8e8e8;padding:10px 0;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:18px!important;color:#2d2e30;font-family:'CorbelRegular';-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.wazne2{background:#8a1060;color:#ffb4a6;padding:10px 0;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:18px!important;font-family:'CorbelRegular';-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.wazne2:hover{background:#e8e8e8;color:#2d2e30}.wazne2:hover p a.red{color:#8a1060!important}.pilne{background:#e8e8e8!important;padding:10px 0;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;font-size:18px!important;color:#2d2e30;font-family:'CorbelRegular'}.wazne p,.pilne p,.wazne2 p{padding:0px;font-family:'CorbelRegular';margin:0px;font-size:18px}.rssforum{line-height:19px!important;color:#fff;font-size:10px;display:block;margin:30px 0 0 0;text-transform:uppercase}.rssforum:hover{color:rgba(255,255,255,.8)}.rssforum img{padding:0 8px 0 0;vertical-align:middle}.dodajtekst{padding:15px 10px;text-align:center;display:block;color:#fff;text-transform:uppercase;font-size:19px;border:2px solid #fff}.dodajtekst:hover{color:rgba(255,255,255,.8)}.nokia{background:#124191;padding:15px 0;margin-top:0px!important;color:#fff;position:relative}.nokia .glosnik{position:absolute;bottom:-45px;z-index:33;right:0px}.nokia p,.tomtom p{margin:0!important;text-transform:uppercase;color:#fff;font-size:11px}.nokia img{vertical-align:middle}.tomtom{background:#f21b00;padding:15px 0;margin-top:0px!important;color:#fff;position:relative}.szaretlo{padding:20px 0;background:#f2f2f2}.social_buttons a img{filter:grayscale(100%);-webkit-filter:grayscale(100%);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.social_buttons a:hover img{filter:grayscale(0%);-webkit-filter:grayscale(0%)}.wazne:hover{background:#8a1060;color:#ffb4a6!important}.wazne2 a.red{color:#fff!important;opacity:1!important}.wazne:hover a.red,.wazne a.red:hover{color:#fff!important;opacity:1!important}body.error404{padding:60px 0;background:none}body.error404 section{margin:0!important}body.error404 .logo{height:50px;display:block}.font11{font-size:11px}#content404 h1{margin:-60px 0 0 0;font-size:160px!important}.section404{background:none}#content404{border:1px solid #e4e4e4;padding:20px;margin-top:50px!important;margin-bottom:50px!important}#content404 form{margin:20px 0 0 0!important;border-bottom:0;float:right}#content404 input{display:block!important;float:left;margin:0px!important}#content404 input[type="text"]{background:#ececec;width:150px;font-size:10px;height:36px!important;text-transform:uppercase;border-radius:0px}#content404 input[type="submit"]{width:36px;height:36px;line-height:0px;border:0;background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xlupa.jpg.pagespeed.ic.XLfHnUkNkY.jpg) no-repeat center center #8a0f60;cursor:pointer}#content404 p{margin:20px 0}html.touch #logo{padding-top:20px}article strong a,article b a{font-weight:bold!important;font-family: "Proxima-nova" sans-serif}iframe #disqus_thread .serif .post-message p{font-size:17px!important}@media only screen and (max-width:1314px){#splay_box{display:none!important}}.na_gore{line-height:18px!important;padding-top:0;margin-top:0}.na_gore a{font-size:13px;font-family:'Open Sans',sans}.show-for-tablet{display:none}@media only screen and (min-width:800px){html.touch .show-for-tablet{display:block!important}}@media only screen and (min-width:800px) and (max-width:1024px){html.touch .hide-for-tablet{display:none!important}}@media only screen and (max-width:800px){html.no-touch body{padding-left:20px;padding-right:20px}html.touch body{padding-left:20px;padding-right:20px}.font55{font-size:30px}#article_banner h2{font-size:25px!important}#article_banner .category,#article_banner .comments{padding:5px 7px!important}}.end{clear:both}#intel_tablet object embed{height:750px!important}.tomtom_inside{text-transform:uppercase;color:#fff;padding-bottom:10px;display:block;font-size:13px}.fb_ret{font-size:16px;font-style:italic;color:#fff;background:url(http://www.spidersweb.pl/wp-content/uploads/2013/12/xtomtombg.jpg.pagespeed.ic.blNRVksDQJ.jpg) no-repeat;min-height:45px;margin-left:37px;padding-left:15px;margin-top:10px}.fb_title img{vertical-align:middle;margin-right:10px}.fb_title a{color:#fff;font-size:23px;line-height:43px}#myModal{z-index:1002}#Table_01{border-collapse:collapse}#Table_01,#Table_01 td,#Table_01 tr,#Table_01 a,#Table_01 img{margin:0;padding:0;border:0;line-height:0;font-size:0}.a4b-buybox-standard{border:0px solid #ccc;padding:0;margin:10px 0;font-size:12px;font-family:'Open Sans',sans-serif;font-weight:300}.a4b-buybox-standard tr a{color:#93316e;text-decoration:none;-webkit-transition:all .2;-moz-transition:all .2;-ms-transition:all .2;-o-transition:all .2;transition:all .2}.a4b-buybox-standard tr:hover a{color:#606060}.a4b-buybox-standard .a4b-box-head{margin:0;font-size:16px;font-weight:bold;color:#000;padding:10px 0;display:none}.a4b-buybox-standard .a4b-box-table{padding:5px 0}.a4b-buybox-standard .a4b-box-row{border-bottom:1px solid #ededed;padding:6px 10px;-webkit-transition:all .2;-moz-transition:all .2;-ms-transition:all .2;-o-transition:all .2;transition:all .2}.a4b-buybox-standard .a4b-box-row:hover{background:#f8f8f8}.a4b-buybox-standard .a4b-box-row-head{border-bottom:1px solid #ededed;padding:3px 10px 6px 10px;color:#999;font-size:12px}.a4b-buybox-standard .a4b-box-row-foot{border-bottom:1px solid #ededed;padding:6px 10px}.a4b-buybox-standard .a4b-box-th1{float:left;width:30%;text-align:left}.a4b-buybox-standard .a4b-box-th2{float:left;width:20%;text-align:center}.a4b-buybox-standard .a4b-box-th3{float:left;width:20%;text-align:right}.a4b-buybox-standard .a4b-box-th4{float:left;width:30%;text-align:right}.a4b-buybox-standard .a4b-box-td1{float:left;width:30%;text-align:left;font-weight:600;color:#93316e}.a4b-buybox-standard .a4b-box-td1 img{float:left;margin:5px 4px 0px 0px;border-radius:0px;box-shadow:0 0 0 #fff;width:16px;height:16px}.a4b-buybox-standard .a4b-box-td2{float:left;width:20%;text-align:center;color:#000}.a4b-buybox-standard .a4b-box-td3{float:left;width:20%;text-align:right;color:#000}.a4b-buybox-standard .a4b-box-td3 span{font-weight:bold;color:red;font-weight:600}.a4b-buybox-standard .a4b-box-td4{float:left;width:30%;text-align:right;color:#93316e}.a4b-buybox-standard .a4b-box-footer{padding:0 10px 3px;text-align:right;font-size:9px;color:#ccc}.a4b-buybox-standard .a4b-box-footer a{color:#aaa;text-decoration:none}.a4b-buybox-standard .a4b-box-footer a:hover{text-decoration:underline}.a4b-buybox-standard .a4b-box-tabs{font-size:12px;color:#aaa}.a4b-buybox-standard .a4b-box-tabs a{color:#606060;text-decoration:none;margin-left:13px;background:none}.a4b-buybox-standard .a4b-box-tabs a:hover{color:#93316e}.a4b-buybox-standard .a4b-box-tabs a.active{color:#666;font-weight:bold}.a4b-buybox-standard .a4b-box-tab{display:none}.a4b-buybox-standard .a4b-box-tab.active{display:block}.social-footer .fb-like.fb_iframe_widget{top:-4px}#ceneoaffcontainer12772 .ceneoaff-750x200{width:580px!important}.amdlogo{position:absolute;top:-26px;right:0}.amdminilogo{position:relative;top:-30px;left:-80px}.blacksection2 h2.white{font-size:25px;position:absolute;left:265px;top:22px}.amdbg{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xamdhead.jpg.pagespeed.ic.rR9Opj3wyl.jpg) no-repeat 50% 78px;min-height:617px}#logo.amd-logo{padding-top:20px}@media only screen and (max-width:1100px){.amdcat #logo h2{display:none}.amdcat .amdlogo{display:none}.amdcat .amdlogomobile{display:block;max-width:340px;margin-left:auto;margin-right:auto;margin-top:10px;margin-bottom:10px}}.amdcat .amdbg .amdlogo,.amdcat .amdbg .amdlogomobile,.amdcat .amdlogomobile{display:none}@media only screen and (max-width:1100px){.amdcat .amdbg{background:url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/images/xswbg.png.pagespeed.ic.EaMk5jJw4b.png) no-repeat top right #f2f2f2;min-height:0}.amdcat .amdbg .amdlogomobile,.amdcat .amdlogomobile{display:block;max-width:340px;margin-left:auto;margin-right:auto;margin-top:10px;margin-bottom:10px}.amdcat .amdbg #logo h1{display:none}.scroll{position:static!important;width:100%!important}}.kategoria_landing h2{font-size:32px;color:#fff;text-shadow:1px 1px 0px rgba(0,0,0,.5)}.kategoria_landing p{font-size:18px;color:#fff;font-family: "Proxima-nova" sans-serif
}.sidebar-button{margin-bottom:1px;border:0px;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important}.admobile{padding-bottom:25px}.nopadding{padding:0px!important}