/*
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */
@font-face {
    font-family: "foundation-icons";
    src: url("fonts/foundation-icons.eot");
    src: url("fonts/foundation-icons.eot?#iefix") format("embedded-opentype"),
        url("fonts/foundation-icons.woff") format("woff"),
        url("fonts/foundation-icons.ttf") format("truetype"),
        url("fonts/foundation-icons.svg#fontcustom") format("svg");
    font-weight: normal;
    font-style: normal;
}
.fi-address-book:before,
.fi-alert:before,
.fi-align-center:before,
.fi-align-justify:before,
.fi-align-left:before,
.fi-align-right:before,
.fi-anchor:before,
.fi-annotate:before,
.fi-archive:before,
.fi-arrow-down:before,
.fi-arrow-left:before,
.fi-arrow-right:before,
.fi-arrow-up:before,
.fi-arrows-compress:before,
.fi-arrows-expand:before,
.fi-arrows-in:before,
.fi-arrows-out:before,
.fi-asl:before,
.fi-asterisk:before,
.fi-at-sign:before,
.fi-background-color:before,
.fi-battery-empty:before,
.fi-battery-full:before,
.fi-battery-half:before,
.fi-bitcoin-circle:before,
.fi-bitcoin:before,
.fi-blind:before,
.fi-bluetooth:before,
.fi-bold:before,
.fi-book-bookmark:before,
.fi-book:before,
.fi-bookmark:before,
.fi-braille:before,
.fi-burst-new:before,
.fi-burst-sale:before,
.fi-burst:before,
.fi-calendar:before,
.fi-camera:before,
.fi-check:before,
.fi-checkbox:before,
.fi-clipboard-notes:before,
.fi-clipboard-pencil:before,
.fi-clipboard:before,
.fi-clock:before,
.fi-closed-caption:before,
.fi-cloud:before,
.fi-comment-minus:before,
.fi-comment-quotes:before,
.fi-comment-video:before,
.fi-comment:before,
.fi-comments:before,
.fi-compass:before,
.fi-contrast:before,
.fi-credit-card:before,
.fi-crop:before,
.fi-crown:before,
.fi-css3:before,
.fi-database:before,
.fi-die-five:before,
.fi-die-four:before,
.fi-die-one:before,
.fi-die-six:before,
.fi-die-three:before,
.fi-die-two:before,
.fi-dislike:before,
.fi-dollar-bill:before,
.fi-dollar:before,
.fi-download:before,
.fi-eject:before,
.fi-elevator:before,
.fi-euro:before,
.fi-eye:before,
.fi-fast-forward:before,
.fi-female-symbol:before,
.fi-female:before,
.fi-filter:before,
.fi-first-aid:before,
.fi-flag:before,
.fi-folder-add:before,
.fi-folder-lock:before,
.fi-folder:before,
.fi-foot:before,
.fi-foundation:before,
.fi-graph-bar:before,
.fi-graph-horizontal:before,
.fi-graph-pie:before,
.fi-graph-trend:before,
.fi-guide-dog:before,
.fi-hearing-aid:before,
.fi-heart:before,
.fi-home:before,
.fi-html5:before,
.fi-indent-less:before,
.fi-indent-more:before,
.fi-info:before,
.fi-italic:before,
.fi-key:before,
.fi-laptop:before,
.fi-layout:before,
.fi-lightbulb:before,
.fi-like:before,
.fi-link:before,
.fi-list-bullet:before,
.fi-list-number:before,
.fi-list-thumbnails:before,
.fi-list:before,
.fi-lock:before,
.fi-loop:before,
.fi-magnifying-glass:before,
.fi-mail:before,
.fi-male-female:before,
.fi-male-symbol:before,
.fi-male:before,
.fi-map:before,
.fi-marker:before,
.fi-megaphone:before,
.fi-microphone:before,
.fi-minus-circle:before,
.fi-minus:before,
.fi-mobile-signal:before,
.fi-mobile:before,
.fi-monitor:before,
.fi-mountains:before,
.fi-music:before,
.fi-next:before,
.fi-no-dogs:before,
.fi-no-smoking:before,
.fi-page-add:before,
.fi-page-copy:before,
.fi-page-csv:before,
.fi-page-delete:before,
.fi-page-doc:before,
.fi-page-edit:before,
.fi-page-export-csv:before,
.fi-page-export-doc:before,
.fi-page-export-pdf:before,
.fi-page-export:before,
.fi-page-filled:before,
.fi-page-multiple:before,
.fi-page-pdf:before,
.fi-page-remove:before,
.fi-page-search:before,
.fi-page:before,
.fi-paint-bucket:before,
.fi-paperclip:before,
.fi-pause:before,
.fi-paw:before,
.fi-paypal:before,
.fi-pencil:before,
.fi-photo:before,
.fi-play-circle:before,
.fi-play-video:before,
.fi-play:before,
.fi-plus:before,
.fi-pound:before,
.fi-power:before,
.fi-previous:before,
.fi-price-tag:before,
.fi-pricetag-multiple:before,
.fi-print:before,
.fi-prohibited:before,
.fi-projection-screen:before,
.fi-puzzle:before,
.fi-quote:before,
.fi-record:before,
.fi-refresh:before,
.fi-results-demographics:before,
.fi-results:before,
.fi-rewind-ten:before,
.fi-rewind:before,
.fi-rss:before,
.fi-safety-cone:before,
.fi-save:before,
.fi-share:before,
.fi-sheriff-badge:before,
.fi-shield:before,
.fi-shopping-bag:before,
.fi-shopping-cart:before,
.fi-shuffle:before,
.fi-skull:before,
.fi-social-500px:before,
.fi-social-adobe:before,
.fi-social-amazon:before,
.fi-social-android:before,
.fi-social-apple:before,
.fi-social-behance:before,
.fi-social-bing:before,
.fi-social-blogger:before,
.fi-social-delicious:before,
.fi-social-designer-news:before,
.fi-social-deviant-art:before,
.fi-social-digg:before,
.fi-social-dribbble:before,
.fi-social-drive:before,
.fi-social-dropbox:before,
.fi-social-evernote:before,
.fi-social-facebook:before,
.fi-social-flickr:before,
.fi-social-forrst:before,
.fi-social-foursquare:before,
.fi-social-game-center:before,
.fi-social-github:before,
.fi-social-google-plus:before,
.fi-social-hacker-news:before,
.fi-social-hi5:before,
.fi-social-instagram:before,
.fi-social-joomla:before,
.fi-social-lastfm:before,
.fi-social-linkedin:before,
.fi-social-medium:before,
.fi-social-myspace:before,
.fi-social-orkut:before,
.fi-social-path:before,
.fi-social-picasa:before,
.fi-social-pinterest:before,
.fi-social-rdio:before,
.fi-social-reddit:before,
.fi-social-skillshare:before,
.fi-social-skype:before,
.fi-social-smashing-mag:before,
.fi-social-snapchat:before,
.fi-social-spotify:before,
.fi-social-squidoo:before,
.fi-social-stack-overflow:before,
.fi-social-steam:before,
.fi-social-stumbleupon:before,
.fi-social-treehouse:before,
.fi-social-tumblr:before,
.fi-social-twitter:before,
.fi-social-vimeo:before,
.fi-social-windows:before,
.fi-social-xbox:before,
.fi-social-yahoo:before,
.fi-social-yelp:before,
.fi-social-youtube:before,
.fi-social-zerply:before,
.fi-social-zurb:before,
.fi-sound:before,
.fi-star:before,
.fi-stop:before,
.fi-strikethrough:before,
.fi-subscript:before,
.fi-superscript:before,
.fi-tablet-landscape:before,
.fi-tablet-portrait:before,
.fi-target-two:before,
.fi-target:before,
.fi-telephone-accessible:before,
.fi-telephone:before,
.fi-text-color:before,
.fi-thumbnails:before,
.fi-ticket:before,
.fi-torso-business:before,
.fi-torso-female:before,
.fi-torso:before,
.fi-torsos-all-female:before,
.fi-torsos-all:before,
.fi-torsos-female-male:before,
.fi-torsos-male-female:before,
.fi-torsos:before,
.fi-trash:before,
.fi-trees:before,
.fi-trophy:before,
.fi-underline:before,
.fi-universal-access:before,
.fi-unlink:before,
.fi-unlock:before,
.fi-upload-cloud:before,
.fi-upload:before,
.fi-usb:before,
.fi-video:before,
.fi-volume-none:before,
.fi-volume-strike:before,
.fi-volume:before,
.fi-web:before,
.fi-wheelchair:before,
.fi-widget:before,
.fi-wrench:before,
.fi-x-circle:before,
.fi-x:before,
.fi-yen:before,
.fi-zoom-in:before,
.fi-zoom-out:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
}
.fi-address-book:before { content: "\f100"; }
.fi-alert:before { content: "\f101"; }
.fi-align-center:before { content: "\f102"; }
.fi-align-justify:before { content: "\f103"; }
.fi-align-left:before { content: "\f104"; }
.fi-align-right:before { content: "\f105"; }
.fi-anchor:before { content: "\f106"; }
.fi-annotate:before { content: "\f107"; }
.fi-archive:before { content: "\f108"; }
.fi-arrow-down:before { content: "\f109"; }
.fi-arrow-left:before { content: "\f10a"; }
.fi-arrow-right:before { content: "\f10b"; }
.fi-arrow-up:before { content: "\f10c"; }
.fi-arrows-compress:before { content: "\f10d"; }
.fi-arrows-expand:before { content: "\f10e"; }
.fi-arrows-in:before { content: "\f10f"; }
.fi-arrows-out:before { content: "\f110"; }
.fi-asl:before { content: "\f111"; }
.fi-asterisk:before { content: "\f112"; }
.fi-at-sign:before { content: "\f113"; }
.fi-background-color:before { content: "\f114"; }
.fi-battery-empty:before { content: "\f115"; }
.fi-battery-full:before { content: "\f116"; }
.fi-battery-half:before { content: "\f117"; }
.fi-bitcoin-circle:before { content: "\f118"; }
.fi-bitcoin:before { content: "\f119"; }
.fi-blind:before { content: "\f11a"; }
.fi-bluetooth:before { content: "\f11b"; }
.fi-bold:before { content: "\f11c"; }
.fi-book-bookmark:before { content: "\f11d"; }
.fi-book:before { content: "\f11e"; }
.fi-bookmark:before { content: "\f11f"; }
.fi-braille:before { content: "\f120"; }
.fi-burst-new:before { content: "\f121"; }
.fi-burst-sale:before { content: "\f122"; }
.fi-burst:before { content: "\f123"; }
.fi-calendar:before { content: "\f124"; }
.fi-camera:before { content: "\f125"; }
.fi-check:before { content: "\f126"; }
.fi-checkbox:before { content: "\f127"; }
.fi-clipboard-notes:before { content: "\f128"; }
.fi-clipboard-pencil:before { content: "\f129"; }
.fi-clipboard:before { content: "\f12a"; }
.fi-clock:before { content: "\f12b"; }
.fi-closed-caption:before { content: "\f12c"; }
.fi-cloud:before { content: "\f12d"; }
.fi-comment-minus:before { content: "\f12e"; }
.fi-comment-quotes:before { content: "\f12f"; }
.fi-comment-video:before { content: "\f130"; }
.fi-comment:before { content: "\f131"; }
.fi-comments:before { content: "\f132"; }
.fi-compass:before { content: "\f133"; }
.fi-contrast:before { content: "\f134"; }
.fi-credit-card:before { content: "\f135"; }
.fi-crop:before { content: "\f136"; }
.fi-crown:before { content: "\f137"; }
.fi-css3:before { content: "\f138"; }
.fi-database:before { content: "\f139"; }
.fi-die-five:before { content: "\f13a"; }
.fi-die-four:before { content: "\f13b"; }
.fi-die-one:before { content: "\f13c"; }
.fi-die-six:before { content: "\f13d"; }
.fi-die-three:before { content: "\f13e"; }
.fi-die-two:before { content: "\f13f"; }
.fi-dislike:before { content: "\f140"; }
.fi-dollar-bill:before { content: "\f141"; }
.fi-dollar:before { content: "\f142"; }
.fi-download:before { content: "\f143"; }
.fi-eject:before { content: "\f144"; }
.fi-elevator:before { content: "\f145"; }
.fi-euro:before { content: "\f146"; }
.fi-eye:before { content: "\f147"; }
.fi-fast-forward:before { content: "\f148"; }
.fi-female-symbol:before { content: "\f149"; }
.fi-female:before { content: "\f14a"; }
.fi-filter:before { content: "\f14b"; }
.fi-first-aid:before { content: "\f14c"; }
.fi-flag:before { content: "\f14d"; }
.fi-folder-add:before { content: "\f14e"; }
.fi-folder-lock:before { content: "\f14f"; }
.fi-folder:before { content: "\f150"; }
.fi-foot:before { content: "\f151"; }
.fi-foundation:before { content: "\f152"; }
.fi-graph-bar:before { content: "\f153"; }
.fi-graph-horizontal:before { content: "\f154"; }
.fi-graph-pie:before { content: "\f155"; }
.fi-graph-trend:before { content: "\f156"; }
.fi-guide-dog:before { content: "\f157"; }
.fi-hearing-aid:before { content: "\f158"; }
.fi-heart:before { content: "\f159"; }
.fi-home:before { content: "\f15a"; }
.fi-html5:before { content: "\f15b"; }
.fi-indent-less:before { content: "\f15c"; }
.fi-indent-more:before { content: "\f15d"; }
.fi-info:before { content: "\f15e"; }
.fi-italic:before { content: "\f15f"; }
.fi-key:before { content: "\f160"; }
.fi-laptop:before { content: "\f161"; }
.fi-layout:before { content: "\f162"; }
.fi-lightbulb:before { content: "\f163"; }
.fi-like:before { content: "\f164"; }
.fi-link:before { content: "\f165"; }
.fi-list-bullet:before { content: "\f166"; }
.fi-list-number:before { content: "\f167"; }
.fi-list-thumbnails:before { content: "\f168"; }
.fi-list:before { content: "\f169"; }
.fi-lock:before { content: "\f16a"; }
.fi-loop:before { content: "\f16b"; }
.fi-magnifying-glass:before { content: "\f16c"; }
.fi-mail:before { content: "\f16d"; }
.fi-male-female:before { content: "\f16e"; }
.fi-male-symbol:before { content: "\f16f"; }
.fi-male:before { content: "\f170"; }
.fi-map:before { content: "\f171"; }
.fi-marker:before { content: "\f172"; }
.fi-megaphone:before { content: "\f173"; }
.fi-microphone:before { content: "\f174"; }
.fi-minus-circle:before { content: "\f175"; }
.fi-minus:before { content: "\f176"; }
.fi-mobile-signal:before { content: "\f177"; }
.fi-mobile:before { content: "\f178"; }
.fi-monitor:before { content: "\f179"; }
.fi-mountains:before { content: "\f17a"; }
.fi-music:before { content: "\f17b"; }
.fi-next:before { content: "\f17c"; }
.fi-no-dogs:before { content: "\f17d"; }
.fi-no-smoking:before { content: "\f17e"; }
.fi-page-add:before { content: "\f17f"; }
.fi-page-copy:before { content: "\f180"; }
.fi-page-csv:before { content: "\f181"; }
.fi-page-delete:before { content: "\f182"; }
.fi-page-doc:before { content: "\f183"; }
.fi-page-edit:before { content: "\f184"; }
.fi-page-export-csv:before { content: "\f185"; }
.fi-page-export-doc:before { content: "\f186"; }
.fi-page-export-pdf:before { content: "\f187"; }
.fi-page-export:before { content: "\f188"; }
.fi-page-filled:before { content: "\f189"; }
.fi-page-multiple:before { content: "\f18a"; }
.fi-page-pdf:before { content: "\f18b"; }
.fi-page-remove:before { content: "\f18c"; }
.fi-page-search:before { content: "\f18d"; }
.fi-page:before { content: "\f18e"; }
.fi-paint-bucket:before { content: "\f18f"; }
.fi-paperclip:before { content: "\f190"; }
.fi-pause:before { content: "\f191"; }
.fi-paw:before { content: "\f192"; }
.fi-paypal:before { content: "\f193"; }
.fi-pencil:before { content: "\f194"; }
.fi-photo:before { content: "\f195"; }
.fi-play-circle:before { content: "\f196"; }
.fi-play-video:before { content: "\f197"; }
.fi-play:before { content: "\f198"; }
.fi-plus:before { content: "\f199"; }
.fi-pound:before { content: "\f19a"; }
.fi-power:before { content: "\f19b"; }
.fi-previous:before { content: "\f19c"; }
.fi-price-tag:before { content: "\f19d"; }
.fi-pricetag-multiple:before { content: "\f19e"; }
.fi-print:before { content: "\f19f"; }
.fi-prohibited:before { content: "\f1a0"; }
.fi-projection-screen:before { content: "\f1a1"; }
.fi-puzzle:before { content: "\f1a2"; }
.fi-quote:before { content: "\f1a3"; }
.fi-record:before { content: "\f1a4"; }
.fi-refresh:before { content: "\f1a5"; }
.fi-results-demographics:before { content: "\f1a6"; }
.fi-results:before { content: "\f1a7"; }
.fi-rewind-ten:before { content: "\f1a8"; }
.fi-rewind:before { content: "\f1a9"; }
.fi-rss:before { content: "\f1aa"; }
.fi-safety-cone:before { content: "\f1ab"; }
.fi-save:before { content: "\f1ac"; }
.fi-share:before { content: "\f1ad"; }
.fi-sheriff-badge:before { content: "\f1ae"; }
.fi-shield:before { content: "\f1af"; }
.fi-shopping-bag:before { content: "\f1b0"; }
.fi-shopping-cart:before { content: "\f1b1"; }
.fi-shuffle:before { content: "\f1b2"; }
.fi-skull:before { content: "\f1b3"; }
.fi-social-500px:before { content: "\f1b4"; }
.fi-social-adobe:before { content: "\f1b5"; }
.fi-social-amazon:before { content: "\f1b6"; }
.fi-social-android:before { content: "\f1b7"; }
.fi-social-apple:before { content: "\f1b8"; }
.fi-social-behance:before { content: "\f1b9"; }
.fi-social-bing:before { content: "\f1ba"; }
.fi-social-blogger:before { content: "\f1bb"; }
.fi-social-delicious:before { content: "\f1bc"; }
.fi-social-designer-news:before { content: "\f1bd"; }
.fi-social-deviant-art:before { content: "\f1be"; }
.fi-social-digg:before { content: "\f1bf"; }
.fi-social-dribbble:before { content: "\f1c0"; }
.fi-social-drive:before { content: "\f1c1"; }
.fi-social-dropbox:before { content: "\f1c2"; }
.fi-social-evernote:before { content: "\f1c3"; }
.fi-social-facebook:before { content: "\f1c4"; }
.fi-social-flickr:before { content: "\f1c5"; }
.fi-social-forrst:before { content: "\f1c6"; }
.fi-social-foursquare:before { content: "\f1c7"; }
.fi-social-game-center:before { content: "\f1c8"; }
.fi-social-github:before { content: "\f1c9"; }
.fi-social-google-plus:before { content: "\f1ca"; }
.fi-social-hacker-news:before { content: "\f1cb"; }
.fi-social-hi5:before { content: "\f1cc"; }
.fi-social-instagram:before { content: "\f1cd"; }
.fi-social-joomla:before { content: "\f1ce"; }
.fi-social-lastfm:before { content: "\f1cf"; }
.fi-social-linkedin:before { content: "\f1d0"; }
.fi-social-medium:before { content: "\f1d1"; }
.fi-social-myspace:before { content: "\f1d2"; }
.fi-social-orkut:before { content: "\f1d3"; }
.fi-social-path:before { content: "\f1d4"; }
.fi-social-picasa:before { content: "\f1d5"; }
.fi-social-pinterest:before { content: "\f1d6"; }
.fi-social-rdio:before { content: "\f1d7"; }
.fi-social-reddit:before { content: "\f1d8"; }
.fi-social-skillshare:before { content: "\f1d9"; }
.fi-social-skype:before { content: "\f1da"; }
.fi-social-smashing-mag:before { content: "\f1db"; }
.fi-social-snapchat:before { content: "\f1dc"; }
.fi-social-spotify:before { content: "\f1dd"; }
.fi-social-squidoo:before { content: "\f1de"; }
.fi-social-stack-overflow:before { content: "\f1df"; }
.fi-social-steam:before { content: "\f1e0"; }
.fi-social-stumbleupon:before { content: "\f1e1"; }
.fi-social-treehouse:before { content: "\f1e2"; }
.fi-social-tumblr:before { content: "\f1e3"; }
.fi-social-twitter:before { content: "\f1e4"; }
.fi-social-vimeo:before { content: "\f1e5"; }
.fi-social-windows:before { content: "\f1e6"; }
.fi-social-xbox:before { content: "\f1e7"; }
.fi-social-yahoo:before { content: "\f1e8"; }
.fi-social-yelp:before { content: "\f1e9"; }
.fi-social-youtube:before { content: "\f1ea"; }
.fi-social-zerply:before { content: "\f1eb"; }
.fi-social-zurb:before { content: "\f1ec"; }
.fi-sound:before { content: "\f1ed"; }
.fi-star:before { content: "\f1ee"; }
.fi-stop:before { content: "\f1ef"; }
.fi-strikethrough:before { content: "\f1f0"; }
.fi-subscript:before { content: "\f1f1"; }
.fi-superscript:before { content: "\f1f2"; }
.fi-tablet-landscape:before { content: "\f1f3"; }
.fi-tablet-portrait:before { content: "\f1f4"; }
.fi-target-two:before { content: "\f1f5"; }
.fi-target:before { content: "\f1f6"; }
.fi-telephone-accessible:before { content: "\f1f7"; }
.fi-telephone:before { content: "\f1f8"; }
.fi-text-color:before { content: "\f1f9"; }
.fi-thumbnails:before { content: "\f1fa"; }
.fi-ticket:before { content: "\f1fb"; }
.fi-torso-business:before { content: "\f1fc"; }
.fi-torso-female:before { content: "\f1fd"; }
.fi-torso:before { content: "\f1fe"; }
.fi-torsos-all-female:before { content: "\f1ff"; }
.fi-torsos-all:before { content: "\f200"; }
.fi-torsos-female-male:before { content: "\f201"; }
.fi-torsos-male-female:before { content: "\f202"; }
.fi-torsos:before { content: "\f203"; }
.fi-trash:before { content: "\f204"; }
.fi-trees:before { content: "\f205"; }
.fi-trophy:before { content: "\f206"; }
.fi-underline:before { content: "\f207"; }
.fi-universal-access:before { content: "\f208"; }
.fi-unlink:before { content: "\f209"; }
.fi-unlock:before { content: "\f20a"; }
.fi-upload-cloud:before { content: "\f20b"; }
.fi-upload:before { content: "\f20c"; }
.fi-usb:before { content: "\f20d"; }
.fi-video:before { content: "\f20e"; }
.fi-volume-none:before { content: "\f20f"; }
.fi-volume-strike:before { content: "\f210"; }
.fi-volume:before { content: "\f211"; }
.fi-web:before { content: "\f212"; }
.fi-wheelchair:before { content: "\f213"; }
.fi-widget:before { content: "\f214"; }
.fi-wrench:before { content: "\f215"; }
.fi-x-circle:before { content: "\f216"; }
.fi-x:before { content: "\f217"; }
.fi-yen:before { content: "\f218"; }
.fi-zoom-in:before { content: "\f219"; }
.fi-zoom-out:before { content: "\f21a"; }
@font-face
{
    font-family: Corbel;
    src: url(fonts/corbel.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
html{
    background: none;
}
body{
    font-family: "Proxima-nova", sans-serif;
    color:#222222;
    background: #f4f6f8;
}
h2{
    font-family: "Proxima-nova", sans-serif;
    font-size: 25px;
    font-weight: 100;
    margin:0;
}
a{
    text-decoration: none;
}
p{
    font-family: "Proxima-nova", sans-serif;
    margin:0;
}
blockquote, blockquote p{
    font-size: 20px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
header > div{
    width:100%;
    background: #e8e8e8;
}
header > div:first-child{
    background: #32323c;
}
header > div:last-child{
    background: #f4f6f8;
}
header > div > img{
    display:block;
    margin:0 auto;
}
.clearfix{
    /*clear: both;*/
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.pull-right {
    float:right !important;
}
section{
    padding-top: 30px;
}
.bg_violet{
    background: #32323c;
}
.bg_gray{
    background: #e8e8e8;
}
.bg_yellow{
    background: #ffc000;
}
.bg_green{
    background: #00a53c;
}
.bg_marine{
    margin-top: 30px;
    background: #00c3c3;
}
.bg_blue{
    background: #00aaff;
}
.bg_white{
    background: #fff;
}
/******************************
    NADPISANIE WHITE z appv18
*******************************/
.inner.white,
.inner a.white,
.inner.white a{
    color:#222222 !important;
}
/*.white,
a.white,
.white a {
    color: #222222 !important;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}*/
/*a.white:hover,
.white a:hover {
    opacity: 1;
}*/
/***********************
    INFINITE SCROLL
************************/
#more_posts {
    padding-top:30px;
}
#more_posts .columns{
    clear:none !important;
}
#infscr-loading{
    display:none !important;
}
#more_posts .eight {
    width: 33.33333%;
}
.loader-post{
}
/***********************
    GLOWNY SLIDER - STRONA WPISU
************************/
.gallery_thumb{
    list-style: none;
    display: table;
    float:left;
}
.gallery_thumb > li{
    float: left;
    margin: 0 20px 20px 0;
    width: 100px;
    height: 100px;
    display: block;
    overflow: hidden;
    opacity: .4;
}
.gallery_thumb > li:last-child{
    margin-right: 0;
}
.gallery_thumb.op > li{
    opacity: 1;
    margin-bottom: 0;
}
.gallery_thumb > li.active{
    opacity: 1;
    border: 3px solid #96115f;
}
.gallery_thumb > li:hover{
    opacity:1;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.gallery_btn{
    width: 200px;
    height: 100px;
    background: #981763;
    display: table;
    margin-left: 20px;
    float: left;
}
.gallery_btn > a{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: #fff;
    font-family: OpenSans-Regular;
    font-size: 10px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.gallery_btn > a:hover{
    color: #fff;
}
/*
NEXT PREV NAV
*/
.gallery_nav{
    position: absolute;
    font-size: 20px;
    bottom: 0;
    z-index: 9999;
    color: #fff;
    padding: 15px 20px;
    background: rgba(150,17,95,.7);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.gallery_nav:hover{
    background: rgba(150,17,95,1);
    color: #fff;
}
.gallery_nav.next{
    right: 30px;
}
.gallery_nav.prev{
    right: 82px;
}
/***********************
   FULL GALLERY - SLIDER
************************/
.gallery-visible-for-small{display: none;}
#gallery-wrapper{
    position: relative;
    margin-bottom: 20px;
}
#gallery-wrapper.slide-background {
background: #d2d2d2;
}
#gallery-wrapper .gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    max-height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
#gallery_photo{
    margin: 0 auto;
    display: block;
    max-width: 100%;
}
/*.rslides_here{
    border: 3px solid #96115f;
}
.rslides > li > img{
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    display: block;
    width: auto;
    height: auto;
}
.gallery_thumb > li.rslides_here{
    opacity: 1;
}
.rslides > li > .gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}*/
#gallery_nav{
    padding: 0 30px;
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 1000;
}
#gallery_nav > a{
    padding:25px;
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    background: #e8e8e8;
    margin-left: 20px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#gallery_nav > a:hover{
    background: #96115f;
    color: #fff;
}
#gallery_nav > a:first-child{
    margin-left: 0;
    float: left;
    padding: 25px;
}
#gallery_nav > a > span{
    padding-left: 35px;
}
/*show all*/
#gallery_nav > a > .fi-list{
    font-size: 20px;
    position: absolute;
    top: 20px;
}
/* change view */
#gallery_nav > a > #change_view{
   display: inline-block;
width: 26px;
font-size:16px;
position: absolute;
top: 16px;
}
#gallery_nav > a > #change_view > span{
    display: block;
}
#gallery_nav > a > #change_view > span:last-child{
    margin-top:-6px;
}
#gallery_nav > a > #change_view > span > i:first-child{
    padding-right: 1px
}
#gallery_nav > a > #change_view > span > i:last-child{
    padding-left: 1px;
}
/*content text*/
.gallery_text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 15px;
    background: rgba(0,0,0,.7);
}
.gallery_text p{
    color: #fff;
    padding-bottom: 20px;
    font-size: 21px;
}
.gallery_text p:first-child{
/*    padding-top: 20px;*/
}
.gallery_text p:last-child{
    padding-bottom: 0;
}
/***********************
    CONTENT GALLERY
************************/
.content_gallery{
    width: 100%;
    padding:20px;
    background: #fff;
}
.content_gallery_btn{
    text-transform: uppercase;
    background: #e6e6e6;
    font-family: OpenSans-Regular;
    font-size: 10px;
    color: #333;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
/***********************
   FULL GALLERY LIST
************************/
.gallery_list{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
    background: #d2d2d2;
}
.gallery_list > div{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 30px;
    /*    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );*/
}
.gallery_list > div > div{
    position: absolute;
    bottom: 0;
    left:0;
    padding: 15px;
    margin: 30px;
    background: rgba(0,0,0,.7);
}
.gallery_list h2 {
    color: #fff;
    font-size: 55px;
    line-height: 1;
    padding-bottom: 20px;
}
.gallery_list img{
    margin: 0 auto;
    display: block;
}
#gallery_list_btn{
    padding: 25px;
    font-size: 10px;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    background: #e8e8e8;
    margin-bottom:35px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
}
#gallery_list_btn:hover{
    background: #96115f;
    color: #fff;
}
/*.gallery_list img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}
.gallery_list .gradient {
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
.gallery_list h2 {
    color: #fff;
    font-size: 55px;
    line-height: 1;
}
*/
/***********************
    BOXY REKLAMOWE
************************/
#info {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    background: #e8e8e8;
}
.reklama{
    width: 100%;
    max-width:1100px;
    height:200px;
    display:table;
    margin-left:auto;
    margin-right: auto;
    background: #fff;
    margin-top: 15px ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.vreklama{
    max-width:300px;
    max-height:700px;
    display:table;
    margin-left:auto;
    margin-right: auto;
    background: #fff;
    margin-top: 15px ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
reklama-m{
    width: 100%;
    max-width:600px;
    height:300px;
    display:table;
    margin-left:auto;
    margin-right: auto;
    background: #fff;
    margin-top: 15px ;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.box-reklama-sm {
    padding: 15px;
    width: 100%;
    height: 345px;
    position: relative;
    margin-bottom: 30px;
    display: table;
}
.box-reklama-sm > div{
    display: table-cell;
    vertical-align: middle;
}
.reklama-sm{
    width:300px;
    height:250px;
    display:table;
    margin-left:auto;
    margin-right: auto;
    background: #fff;
    border: 1px solid #e8e8e8;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.reklama:hover > p,
.vreklama:hover > p,
.reklama-sm:hover > p{
    color: #fff;
}
.reklama > p,
.vreklama > p,
.reklama-sm > p{
    text-align: center;
    color: #981763;
    display: table-cell;
    vertical-align: middle;
    font-size: 26px;
    line-height: 1.3em;
}
.btn-reklama{
    background: #981763;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    margin-top: 15px;
    outline: none;
}
.reklama:hover .btn-reklama,
.vreklama:hover .btn-reklama,
.reklama-sm:hover .btn-reklama{
    color: #981763;
    background: #fff;
}
.reklama:hover,
.vreklama:hover,
.reklama-sm:hover{
    background:#981763;
}
/***********************
    WAZNE
************************/
.pilne{
    padding: 0;
    border: none;
}
.wazne p, .pilne p, .wazne2 p{
    color: #9a9a9a;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}
.wazne a, .pilne a, .wazne2 a{
    color: #222222;
    font-size: 25px;
    text-transform: none;
    padding: 9px 0;
    display: block;
    float: left;
}
.wazne span, .pilne span, .wazne2 span{
    padding: 22px 15px 0px 0;
    display: block;
    float: left;
}
/***********************
    BOX
************************/
.padding-ad{
    width: 100%;
    padding-bottom: 30px;
}
.box{
    width:100%;
    height: 345px;
    position:relative;
    margin-bottom: 30px;
}
.box:hover h2{
    text-decoration: underline;
}
.box > div{
    width:100%;
    height: 100%;
    padding:15px;
}
.box > div > div{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding:15px;
}
.post-link{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
/***********************
    BOX VERTICAL
************************/
.vbox{
    width:100%;
    height: 720px;
    position:relative;
    margin-bottom: 30px;
}
.vbox > div{
    width:100%;
    height: 100%;
    padding:10px;
}
.vbox > div > div{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding:15px;
}
.box > div > div.inner a:hover{
    text-decoration: underline;
    color: #fff;
}
/* normal */
/*.box > div > div.inner{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);  FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0)));  Chrome,Safari4+
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);  Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);  Opera 11.10+
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);  IE10+
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);  W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );  IE6-9
}*/
.box > div.gradient{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
/*gradient*/
/*.box > div > div.inner.gradient{
    height: 100%;
}*/
.box > div > div > .inner_content{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding:15px;
}
/* dark */
.box > div > div.inner.dark{
    background: rgb(34,34,34);
    color:#fff;
}
/* white */
.box > div > div.inner.white{
    background: rgb(255,255,255);
    color: #222222;
}
.box > div > div.inner.white h2{
    color: #222222;
}
.box > div > div.inner.white a:hover{
    text-decoration: underline;
    color: #222222;
}
.box > div > div.inner.white p{
    color: #222222;
}
.box > div > div.inner h2{
    color:#fff;
    margin: 0;
    padding-bottom: 15px;
}
.inner .author p{
    text-transform: uppercase;
    color:#fff;
    float:left;
    padding: 0px 0 0 12px;
    font-size: 10px;
  line-height: 12px;
    margin: 0;
    font-family: "OpenSans-Regular";
}
.inner .author a{
    opacity: .8;
}
.inner .author a:first-child{
  width: 24px!important;
  height: 24px!important;
    display: block;
    overflow: hidden;
    float: left;
}
.inner .author img{
    float:left;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
  width: 24px!important;
  height: 24px!important;
}
.inner .author img:hover{
    filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
    filter: gray; /* IE */
    -webkit-filter: grayscale(0); /* Old WebKit */
}
.category{
    /*padding: 7px 10px;
    background: #f52626;*/
    text-transform: uppercase;
    color:#fff;
    /*    float:left;
        display: block;*/
    font-family: OpenSans-Regular;
    font-size: 10px;
    border: none;
    float:left;
    position: absolute;
}
.category span{
    text-transform: uppercase;
    color:#fff;
    padding:0;
    font-family: OpenSans-Regular;
    font-size: 10px;
    border: none;
}
.category a{
    color: #fff;
}
.category:hover{
    color: #fff;
}
.comments{
    padding: 7px 10px;
    background: none;
  border: 1px solid #fff;
    text-transform: uppercase;
    color:#fff;
    position: absolute;
  bottom: 15px;
  right: 15px;
    display: inline-block;
    font-family: OpenSans-Regular;
    font-size: 10px;
    z-index: 100;
}
/***********************
    STORIES HEADER
************************/
#stories_header{
    padding-top: 46px;
}
#stories_header > .columns{
    padding:0;
}
#stories_header .content-width{
    width: 79.33333%;
    padding: 0;
}
#stories_header .gradient{
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
#stories_header .box{
    margin-bottom: 0;
    height: 250px;
}
#stories_header .inner{
    padding: 25px 30px;
}
.homepage#logo img{
    padding: 35px 0 35px 0!important;
}
.padding {
    padding-bottom: 35px;
}
#stories_header h2{
    /*    margin-left: 8.33333%;*/
}
#stories_header .category{
    /*    margin-left: 8.33333%;*/
    position: relative;
}
#stories_header #storie > .box{
    height: 620px;
}
#stories_header #storie .category{
    margin-left: 0;
}
#stories_header #storie h2{
    font-size: 64px;
    margin-left: 0;
    line-height:1em;
}
#stories_header #storie h2:hover{
    text-decoration: underline;
}
#stories_header #storie .box > div > div.inner a:hover{
    text-decoration: none  !important;
}
#stories_header #storie > .box > div > div{
    padding: 0 0 100px 0;
}
#stories_header #storie .comments{
    float: left;
    margin-left: 20px;
    background: #2f2f2f;
}
#link_stories{
    position: absolute;
    top:35px;
    padding-left: 10px;
}
#link_stories a{
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-size: 23px;
    font-family:"OpenSans-Regular";
    padding: 0 10px;
}
#link_stories a > i{
    font-size: 36px;
    display: block;
    float: left;
    padding-right: 15px;
    margin-top: -6px;
}
/***********************
    HEADER
************************/
.reklama_header{
    padding-bottom: 30px;
}
.lightgrey{
    background: none;
}
/***********************
    HOT NEWS
************************/
.hot_news{
    margin-bottom: 30px;
    padding:5px 15px;
    background: #96115f;
    display: inline-block;
    width:100%;
    position: relative;
}
.hot_news p{
    color:#fff;
    text-transform: uppercase;
    font-size: 10px;
}
.hot_news h2{
    color: #fff;
    padding-top: 5px;
}
.hot_news h2 a {color: #fff;}
.hot_news .comments{
    float:right;
    background: #580d39;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -12px;
    bottom:initial;
}
/***********************
    PHOTO CONTAINER
************************/
.photo-sm{
    width:56px;
    height: 56px;
    display:block;
    overflow: hidden;
    float: left;
    margin-left: -2px;
}
.photo-sm > img{
    width:100%;
    height: auto;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}
.author_container:hover > .photo-sm > img{
    filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
    filter: gray; /* IE */
    -webkit-filter: grayscale(0); /* Old WebKit */
}
/***********************
    AUTHORS SECTION
************************/
.authors{
    padding-top: 0;
}
.info_sw{
    font-size: 28px;
    line-height: 32px;
}
.authors_box{
    margin-bottom: 30px;
    position: relative;
}
.authors_box > p{
    font-size: 10px;
    padding: 10px 0 9px 0;
}
.author_container{
    width:auto;
    height: auto;
    display: inline-block;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}
.author_name{
    height: 56px;
    display: block;
    background: #96115f;
    float: left;
    width:0;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}
.author_name > a{
    display: table-cell;
    vertical-align: middle;
}
.author_name > a > p{
    text-align: center;
    text-transform: uppercase;
    color:#fff;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    display: none;
}
.author_container:hover .author_name{
    background: #96115f;
    display: table;
    min-width: 112px;
}
.author_container:hover .author_name > a > p{
    display: block;
}
#hide_box{
    display: none;
    padding-top:30px;
}
.btn_authors{
    width: 56px;
    height: 56px;
    position: absolute;
    right: 0;
    bottom:3px;
    background:#b3b3b3;
    cursor: pointer;
    outline: none;
    border: 0;
}
.nav-toggle-authors > span >img{
    margin: 21px auto;
    display: block;
}
.nav-toggle-authors > span >img.up{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
/***********************
    THEMATIC SECTION
************************/
.title{
    font-family: "Proxima-nova",sans-serif;
}
.title a{
    color: #222222;
}
.title > p{
    font-family: "OpenSans-Regular";
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
    color: #222222;
}
.title > h2{
    font-size: 45px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #222222;
}
.title > h2 > a{
    font-size: 45px;
    padding-bottom: 30px;
    text-transform: uppercase;
    color: #222222;
}
.title_white{
    font-family: "Proxima-nova",sans-serif;
}
.title_white > p{
    font-family: "OpenSans-Regular";
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0 0px 0;
    color: #fff;
}
.title_white a{
    font-family: "OpenSans-Regular";
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
    color: #fff;
}
.title_white h2{
    font-size: 45px;
    padding-bottom: 30px;
    color: #fff;
    display: block;
    text-transform: uppercase;
}
.title_white > p > a{
    font-family: "OpenSans-Regular";
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 0 0px 0;
    color: #fff;
}
.title_white > h2{
    font-size: 45px;
    padding-bottom: 20px;
    color: #fff;
    display: block;
    text-transform: uppercase;
}
.title_white > h2 > a{
    font-size: 45px;
    padding-bottom: 20px;
    color: #fff;
    display: block;
}
/***********************
    REKLAMA DLUGA
************************/
.reklama{
    padding: 60px 50px;
    background: #fff;
    margin-bottom:30px;
}
/***********************
    LOAD MORE
************************/
.footer-text {
    width: 38px !important;
    height: 25px;
}
.display-inline{
    display:inline !important;
}
#load_more{
    background: #e1e1e1;
    margin: 30px 0;
}
#load_more span{
    text-transform: uppercase;
    color: #222222;
    font-size: 15px;
    font-family: "OpenSans-Regular";
    width:100%;
    padding: 24px 0;
    display: block;
}
#load_more span span{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#load_more img{
    padding-left:10px;
    margin-bottom:-6px;
}
/***********************
    vCENTER ELEMENT
************************/
.vcenter{
    display: table;
    width:100%;
}
.vcenter > div{
    display: table-cell;
    vertical-align: middle;
}
/* horizontal center */
.vcenter > div > a{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/***********************
    FOOTER
************************/
footer{
    /*    background: #32323c;*/
    width:100%;
    position:fixed;
    overflow:hidden;
    bottom:0;
    z-index:9999;
    height:auto;
    -webkit-transform: translateZ(0);
}
#relative_container{
    position: relative;
}
#sw-info-footer{
    margin-top: 30px;
}
#sw-info-footer p{
    display: table;
    padding-left: 15px;
    font-family: "OpenSans-Regular";
    text-transform: uppercase;
    font-size: 10px;
    line-height: 17px;
    color:#fff;
}
/*.btn_footer{
    height: 56px;
    position: absolute;
    right: 0;
    bottom: 3px;
    background: #b3b3b3;
    cursor: pointer;
    outline: none;
    border: 0;
}*/
#sw_sign{
    /*    position:absolute;
        left:10px;
        top:0;
        padding-top: 6px; */
    height: 65px;
    display: block;
    float: left;
}
#slide_bar{
    width:100%;
    /*    background-color: #32323c;*/
    /*    margin-top: 30px;*/
    position:relative;
    /*    min-height: 71px;;*/
}
#collapse_container{
    background: #32323c;
}
#info_container{
    background: url(http://www.spidersweb.pl/wp-content/themes/new_sw_v3_git/img/xfooter_bar.png.pagespeed.ic.GfRhzCiWhS.png) left no-repeat;
}
#slide_bar p,
#slide_bar button.btn{
    font-family: "OpenSans-Regular";
    text-transform: uppercase;
    font-size: 10px;
    line-height: 17px;
    color:#fff;
}
#slide_bar button.btn{
    /*    display:none;*/
    width: 100%;
    max-width:150px;
    padding: 10px 15px;
    background: #96115f;
    color: #fff;
    text-align: center;
    border:none;
    float:right;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}
#site_map ul{
    list-style: none;
    display:block;
    padding-bottom:30px;
}
#site_map ul > li > a{
    color:#fff;
}
#site_map h5{
    font-size: 12px;
    font-family: "OpenSans-Regular";
    margin:0;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #fff;
}
#footer_info a{
    color: #fff;
}
#footer_info a:hover{
    text-decoration: underline;
}
#footer_info p{
    padding-bottom: 10px;
    color: #fff;
}
#footer_info span{
    padding: 0 5px;
    color: #e1e1e1;
}
#footer_info p:last-child{
    padding-bottom: 30px;
}
#collapse_footer{
    /*display:none;*/
    margin-bottom: -9999px;
    height:auto;
    overflow:hidden;
    -webkit-transition: all 0.2s;
}
#collapse_footer.show{
    /*display:block;*/
    /*height:auto;*/
}
#collapse_footer #site_map .three li {
    display: inline;
    border-right: 2px solid rgb(170, 170, 170);
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 10px;
}
#collapse_footer #site_map .twelve p {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 20px;
}
#collapse_footer #site_map .twelve {
    padding-left: 82px;
}
#collapse_footer #site_map .three li:last-child {
    border: none;
}
#collapse_footer .three {
    width: 100% !important;
    max-height: 40px !important;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 62px;
}
/* ========================
    PODSTRONA WPISU
===========================*/
/***********************
    ARTICLE MAIN BANNER
************************/
.reklama_header#article{
    padding-bottom: 0;
}
#article_banner{
    width: 100%;
    min-height: 510px;
    display: block;
    padding: 30px;
    position: relative;
    margin-bottom: 20px;
}
#article_banner .category{
    padding: 25px 30px;
    background: #f52626;
    position: absolute;
    z-index: 10;
}
.category:hover{
    color: #fff;
}
#article_banner .comments{
    padding: 25px 30px;
    background: #96115f;
    position: absolute;
    z-index: 10;
    right: 30px;
    bottom: initial;
}
#article_banner h2{
    color: #fff;
    font-size: 55px;
    line-height: 1;
}
#article_banner > div{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 30px;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}
#article_banner > div > div{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 30px;
}
#article_banner .author{
    padding: 10px;
    background: #32323c;
    display: table;
    margin-top:15px;
}
#article_banner .author > .author_foto{
    display: block;
    width: 33px;
    height: 33px;
    overflow: hidden;
    opacity: .8;
}
#article_banner .author > a{
    float: left;
    color: #fff;
    text-transform: uppercase;
}
#article_banner .author > a > img{
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    -webkit-filter: grayscale(1);
}
#article_banner .author > a > img:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0);
}
#article_banner .author > a > p{
    margin: 10px 0 0 10px;
    font-size: 10px;
    font-family: "OpenSans-Regular";
}
/***********************
    ZAPYTAJ
************************/
#zapytaj{
    margin-top: 20px;
}
/***********************
    AUTHOR ARTICLE
************************/
.sidebar-left .photo{
    width:100%;
    /*    height: 164px;
        background: #000;*/
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative
}
.sidebar-left .photo > a{
    /*    position: absolute;*/
    width:100%;
    height: auto;
    /*    height: 100%;*/
}
.sidebar-left .photo img{
    width: 100%;
    height: auto;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}
.sidebar-left .photo img:hover{
    filter: grayscale(0%); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
    filter: gray; /* IE */
    -webkit-filter: grayscale(0); /* Old WebKit */
}
.sidebar-left .photo #rss img{
    filter: none;
}
.sidebar-left .photo #rss{
    width: 18px;
    height: 18px;
    position: absolute;
    right:10px;
    bottom:20px;
}
.sidebar-left > #name{
    margin-bottom: 20px;
}
.sidebar-left > #name > a{
    text-transform: uppercase;
    color: #222222;
    font-size: 11px;
    font-weight: bold;
    font-family: "Proxima-nova;
}
.sidebar-left ul{
    list-style: none;
}
.sidebar-left ul > li{
    padding-bottom: 20px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
}
.sidebar-left ul > li:first-child{
}
.sidebar-left ul > li > a{
    font-family: "Proxima-nova",sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
}
/***********************
    ARTICLE
************************/
.article > p{
    font-size: 18px;
    line-height: 1.428;
    padding-bottom: 20px;
}
.article > h1{
    font-size: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold !important;
}
.article > h2{
    font-size: 26px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold !important;
}
.article > h3{
    font-size: 22px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    font-weight: bold !important;
}
.article ul,
.article ol {font-size: 18px;margin: 10px 0 30px 30px;line-height: normal;}
.article ul li,
.article ol li {margin-bottom: 7px; font-size: 18px;}
.article ul li:last-child,
.article ol li:last-child {margin-bottom: 0;}
#follow_us{
    width:100%;
    padding: 20px;
    background: #00a53c;
    margin-bottom: 20px;
}
#follow_us > p{
    color:#fff;
    font-size: 17px;
}
#follow_us > p > a{
    color: #fff;
    font-weight: bold;
}
/***********************
    REKLAMA - sidebar
************************/
.reklama{
    padding: 40px;
    background: #fff;
    margin-bottom: 20px;
    position: relative;
}
.reklama > span{
    position: absolute;
    top:10px;
    left:10px;
    text-transform: uppercase;
    color: #222222;
    font-size: 11px;
    font-family: "OpenSans-Regular";
}
/***********************
    TAGS
************************/
.tags{
    margin-bottom: 10px;
}
.tags > a{
    display: inline-block;
    background: #e8e8e8;
    padding: 5px 10px;
    text-align: center;
    float: left;
    margin:0 15px 10px 0;
    color: #222222;
    text-transform: uppercase;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}
.tags > a:hover{
    background: #96115f;
    color: #fff;
}
/***********************
    OTHERS ARTICLES
************************/
.section#others_articles{
    padding-top: 60px;
}
/***********************
    REKLAMY
************************/
/* .row-side {
    padding: 35px 0;
    clear: both;
    background: #fff;
    margin-bottom: 30px;
}
*/
.row-side {
    padding: 45px 0;
    clear: both;
    height: 344px;
    background: #fff;
    margin-bottom: 30px;
}
.row-side-single {
    padding: 45px 0;
    clear: both;
    background: #fff;
    margin-bottom: 30px;
}
.row-side-google {
    padding: 35px 0;
    clear: both;
    background: #fff;
    display: block !important;
    margin: 30px auto !important;
    width:100%;
    box-shadow: none !important;
    border: none !important;
}
.minihead2{
    position: absolute;
    top: 0;
    left:0;
    padding: 5px 0 0 20px;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; font-family: 'Proxima-nova",sans-serif;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
/*zamykanie*/
/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
.content > p{margin:0; font-size: 16px;}
#cboxOverlay{background:#fff;}
#colorbox{outline:0; border: 1px solid #d7d7d7; line-height: 1.4;}
/*#cboxTopLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 0;}
#cboxTopCenter{height:25px; background:url(images/border1.png) repeat-x 0 -50px;}
#cboxTopRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px 0;}
#cboxBottomLeft{width:25px; height:25px; background:url(images/border1.png) no-repeat 0 -25px;}
#cboxBottomCenter{height:25px; background:url(images/border1.png) repeat-x 0 -75px;}
#cboxBottomRight{width:25px; height:25px; background:url(images/border1.png) no-repeat -25px -25px;}
#cboxMiddleLeft{width:25px; background:url(images/border2.png) repeat-y 0 0;}
#cboxMiddleRight{width:25px; background:url(images/border2.png) repeat-y -25px 0;}*/
#cboxContent{background:#f6f6f6; overflow:hidden;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:20px;}
#cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
#cboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
#cboxLoadingOverlay{background:#fff url(images/loading.gif) no-repeat 5px 5px;}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
#cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
#cboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
#cboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
#cboxClose{position:absolute; bottom:20px; right:20px; display:block; color:#fff; width: 20%; height: 40px; background: #981763; outline: none; font-family: "Proxima-nova",sans-serif; font-size: 15px;}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.slider-gallery.flex-container a:active,
.slider-gallery.flexslider a:active,
.slider-gallery.flex-container a:focus,
.slider-gallery.flexslider a:focus  {outline: none;}
.slider-gallery.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src:url('fonts/flexslider-icon.eot');
    src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('fonts/flexslider-icon.woff') format('woff'),
        url('fonts/flexslider-icon.ttf') format('truetype'),
        url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.slider-gallery.flex-container a:active,
.slider-gallery.flexslider a:active,
.slider-gallery.flex-container a:focus,
.slider-gallery.flexslider a:focus  {outline: none;}
.slider-gallery.slides,
.slider-gallery.flex-control-nav,
.slider-gallery.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src:url('fonts/flexslider-icon.eot');
    src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('fonts/flexslider-icon.woff') format('woff'),
        url('fonts/flexslider-icon.ttf') format('truetype'),
        url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {width: 100px !important; display: block; overflow: hidden; max-height: 100px !important; margin-right: 33px; opacity: .4; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li:hover{opacity: 1; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;transition: all 0.3s linear;}
.flexslider .slides > li.active{opacity: 1; border: 3px solid #981763; width: 97px !important;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}
/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  {
    text-decoration:none;
    background: rgba(150,17,95,.7);
    display: block;
    width: 40px; height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%; z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.flex-direction-nav a:hover {
    background: rgba(150,17,95,1);
}
.flex-direction-nav .flex-prev { left: -50px; font-size: 20px; text-align: center; padding-top: 3px;}
.flex-direction-nav .flex-next { right: -50px; font-size: 20px; text-align: center; padding-top: 3px;}
.flexslider:hover .flex-prev { opacity: 1; left: 10px; }
.flexslider:hover .flex-next { opacity: 1; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: ''; }
.flex-direction-nav a.flex-next:before  { content: ''; display:block; }
.flex-direction-nav a.flex-prev:before  { content: ''; display:block; }
/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }
/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; top: 120px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: rgba(150,17,95,.7); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: rgba(150,17,95,.7); }
.flex-control-paging li a.flex-active { background: rgba(150,17,95,1); cursor: default; }
.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
    .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
@media only screen and (max-width: 800px){
    h2{
        font-size: 19px;
    }
    .title > p {
        font-size: 12px;
    }
    .title > h2,
    .title_white > h2 {
        font-size: 30px;
    }
    img{
        display: block;
        margin: 0 auto;
    }
    /***********************
        STORIES HEADER
    ************************/
    #stories_header{
        padding-top: 0;
    }
    #stories_header > .columns{
        padding:0;
    }
    #stories_header h2{
        margin-left: 0;
    }
    #stories_header .category{
        margin-left: 0;
    }
    #stories_header #storie > .box{
        height: 300px;
    }
    #stories_header #storie h2{
        font-size: 19px;
        padding-top: 10px;
    }
    #stories_header #storie > .box > div > div{
        padding: 0 0 15px 0;
    }
    #link_stories a{
        float: right;
        color: #fff;
        font-size: 19px;
    }
    #more_posts{
        padding: 0;
    }
    .post-count .pull-right{
        float: none !important;
    }
    .reklama_header{
        padding-top: 30px;
    }
    /* ========================
    PODSTRONA WPISU
    ===========================*/
    /***********************
    BOX
    ************************/
    .box{
        min-height: 300px;
    }
    .vbox > img{
        margin: 0 auto;
        display: block;
    }
    /***********************
    ARTICLE MAIN BANNER
    ************************/
    #article_banner {
        min-height: 300px;
        padding: 10px;
    }
    #article_banner h2, .gallery_list h2{
        font-size: 26px;
    }
    #article_banner .category{
        padding: 10px;
    }
    #article_banner .comments {
        padding: 10px;
        right: 10px;
    }
    #article_banner > div{
        padding: 10px;
    }
    #article_banner .author {
        margin-top: 10px;
    }
    /***********************
    ARTICLE
    ************************/
    #article_banner > div > div {padding: 10px;}
    .post-count .column,
    .post-count .columns {padding: 0;}
    .article {padding-top: 20px;}
    .article > p{
        font-size: 18px;
        line-height: 1.45;
        padding-bottom: 30px;
    }
    .comments{
    }
    #article_banner .author{
        padding: 5px;
    }
    /***********************
        GALERIE
    ************************/
    /*galler nav*/
    #gallery_nav {
        padding: 0 10px;
        width: 100%;
        top:0;
        position: static;
        z-index: 1000;
        margin-bottom: 30px;
    }
    #gallery_nav > a{
        margin: 15px 0 0 0;
    }
    #gallery_nav > a:first-child{
        width:100%;
    }

    #gallery_nav > a:last-child{
        margin-left: 0;
        margin-bottom: 20px;
    }
    .gallery-visible-for-small{display: block;}
}
@media only screen and (min-width: 801px) and (max-width: 1024px){
    .category {
        padding: 5px 7px;
    }
    .comments{
        padding: 5px 7px;
    }
    /***********************
        STORIES HEADER
    ************************/
    #stories_header #storie h2{
        font-size: 40px;
        padding-top: 15px;
    }
    /***********************
    PHOTO CONTAINER
    ************************/
    .authors_box {
        margin-bottom: 15px;
    }
    .photo-sm {
        width: 40px;
        height: 40px;
    }
    .author_name {
        height: 40px;
    }
    .btn_authors {
        width: 40px;
        height: 40px;
    }
    .nav-toggle-authors > span >img {
        margin: 15px auto;
        width: 20px;
    }
}
/*@media only screen and (min-width: 1199px){
    #stories_header .box{
        height: 250px;
    }
}*/