body{margin:0;padding:0;font-family:Verdana,arial;font-weight:normal;font-size:12px;color:#696969;background-color:#fff}p{
	margin: 4px;
	padding: 0 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px dotted #f4f4f4;
	font-size: 12px
}
mj{margin:3px;padding:0 3px;font-family:Verdana,Arial,Helvetica,sans-serif;border:1px dotted #f4f4f4;font-size:11px}
.info{color:green}form{margin:7px;padding:0 3px;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px}
.ad{padding:3px 5px}
.search{background-color:#f4f4f4;padding:3px;margin:1px 0}
a img,:link img,:visited img{border:0}
a:link{text-decoration:none;color:#069}
a:visited{text-decoration:none;color:#069}
a:hover{text-decoration:none;color:#069;font-weight:bold}
a:active{text-decoration:none;color:#000}
iimg{max-width:140px}
.left{text-align:left}.right{text-align:right}
.center{text-align:center}
div.jatt{background:#FFF;border-top-right-radius:4px;border-top-left-radius:4px;border:1px solid #f4f4f4}
.line{background:#FFF;border-top-right-radius:4px;border-top-left-radius:4px;border:1px solid #f4f4f4}
.list{padding:1px;border-bottom:1px dashed #d1d8df}
.head{padding:2px 5px 5px 8px;repeat-x top;border:1px solid #ccc;font-weight:bold;color:#212121;margin-top:1px;text-transform:capitalize;background-color:#DDD}.update{border-bottom:1px dashed #d1d8df;padding:3px 5px}input,textarea,select{color:#000;background-color:#fff;border:1px solid #bbb;margin:1px;padding:2px}input[type=password],input[type=text],input[type=file]{max-width:100%;background:#fff;repeat-x top}input[type=submit]{background-color:#f4f4f4;padding:2px 8px;border:1px solid #ccc;font-weight:bold;margin:1px;cursor:pointer}.file{border-bottom:1px dashed #bbb;margin-top:1px;margin-left:2px;padding:3px}.filesmoke{background-color:#f5f5f5;border-bottom:1px dashed #bbb;margin-top:1px;margin-left:2px;padding:2px}.file a{font-weight:bold}.filesmoke a{font-weight:bold}.page{font-weight:bold;color:#656565}hr{color:#fff;border-top:1px dotted #d2d2d2;margin:2px 0}.page a{font-weight:normal}.logo{background:#595959;repeat-x;border-bottom:1px solid #ccc;font-weight:bold;color:#666;padding:4px}.head2{padding:2px 5px 5px 8px;background:#f4f4f4;repeat-x top;border:1px solid #ccc;font-weight:bold;color:#333;margin-top:1px;text-transform:capitalize}.dinfo{font-size:11px;color:#666}.tag{color:#c8ced1;padding:2px;font-size:11px;width:100%;height:15px}.logo-head{background-color:#eee;border-bottom:1px solid #ccc;font-weight:normal;color:#666;padding:4px}.jump{padding:4px;text-align:center}.backlink{border:1px dotted #bbb;margin-top:1px;padding:3px;background-color:#eee;font-weight:bold;text-align:left;color:#000}.backlink a{font-weight:bold}.vipsahil{border-bottom:1px solid #eee;padding:1px;margin-top:1px;margin-left:2px;font-style:normal;font-size:small;text-decoration:none;font-weight:normal;border-left-color:#bdf;border-left-width:3px;border-left-style:solid}.dis{padding:3px;background-color:#eee;border:1px solid #ccc;margin-top:1px}.uleft{padding:4px 4px 4px 6px;width:1%}.uright{padding:4px;vertical-align:baseline}.image{border:1px solid #ccc;margin:1px;padding:3px}.headone span{border-top:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #fff;position:relative;top:3px;padding:3px;background:#fff}.head span{border-top:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #fff;position:relative;top:3px;padding:3px;background:#fff}.daily{border:1px solid #ddd;background:#eee;padding:2px;margin:5px}.footer{padding:5px;background:#595959;repeat-x;color:#ccc;border:1px solid #595959;font-weight:bold;margin-top:1px}.footer a{color:#fff}.
{color:#0489b1}.error{color:red}div.header1{padding:3px;background-color:#39f;border-bottom:1px solid #b1cade;color:#fff;font-weight:bold}.style24{color:#ff6a29}.style18{color:#0489b1}.style60{color:#069}.alert{color:red}.odd{background-color:#f7f7f7}.even{background-color:#fff}table.videos{border-bottom:1px solid #e6e6e6}.tblimg{width:60px;padding:2px}.pagination a,.pagination a:visited{border:1px solid #d3d3d3;text-decoration:none;color:#666!important;background-color:#fff;padding:0 5px}.pagination a.currentpage{background-color:#ceecf5;color:#666!important;font-weight:700;cursor:default;border-color:#d3d3d3}.pagination a:hover{background-color:#ceecf5;color:#666!important;font-weight:700;border-color:#d3d3d3}.headblue{padding:2px 5px 5px 8px;background:#47aed8;repeat-x top;border:1px solid #ccc;font-weight:bold;color:#fff;margin-top:1px;text-transform:capitalize}img.video_thumb{width:70px;height:70px}.title{color:#fff;font-weight:700;background:#47aed8;padding:6px}
div.mainTitle{background:#DDD;color:#000;font-weight:bold;padding:4px 5px;border-top-width:3px;border-top-style:solid;border-top-color:#0489b1}div.mainTitle2{background:#DDD;color:#000;font-weight:bold;padding:4px 5px;border-top-width:3px;border-top-style:solid;border-top-color:orange}.info{background:#e6e6e6;border-top:1px solid #2e9afe;border-bottom:1px solid #2e9afe;padding:2px 2px 3px 4px;margin:2px 0}p.track{padding:2px 0}
            .albumCover,.albumInfo,.albumCoverSmall{
                float:left;
            }
            .albumCover img{
                width:100px;height:100px;border:solid 1px #fff;
            }
            .albumCoverSmall img{
                width:120px;height:120px;border:solid 1px #fff;                
            }
            .head{clear:both;}
            p.track{
                padding:2px 0;
            }        p.touch,a.touch{
               color: #1079a8;
background: #ffffff;
padding: 10px 5px;
text-decoration: none;
font-size: 11px;
display: block;
margin: 0px 0px;
border-bottom: 1px solid #F2F2F2;

            } div.mainTitle{
                background-color: #262A34;
                border:none;
                color:#fff;
                height:35px;
                padding:0;
                line-height: 35px;
                border-bottom: solid 1px red;
            }
           p.touch:hover, a.touch:hover{
                font-weight: normal;
                background: #eee;
            }
            .style24{color: brown;}
            .title_1 {
height: 30px;
clear: both;
padding-top: 5px;
background: #ddd;
padding-right: 10px;
-webkit-box-sizing: border-box;
border-bottom: 2px solid #c0c0c0;
}.title_1 .title_txt {
font-size: 13px;
text-shadow: 0 1px 1px rgba(255,255,255,.8);
border-bottom: 2px solid #f60;
padding: 0px 10px 5px 10px;
color: #333332;
}
div.title{
    background: #1b8cd8;
}.orange {
	color: #339900;
}
