/* concatenation of normalize.css, grid.css, popup_image.css, corp_2015.css, minimal_2016.css */

/* ------------- normalize.css --------------- */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */

audio,
canvas,
video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------- grid.css --------------- */
/*------------------------------------------------------------*/
.row {
    clear:both;
    margin:0 auto;
    width:100%;
}
.col {
    float:left;
    min-height:1px;
    position:relative;
}
.col-full {
    width:100%;
}
/* clear floats */
.row:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

/*------------------------------------------------------------*/
/* 12 column */
.col+.col-1-12,
.col+.col-2-12,
.col+.col-3-12,
.col+.col-4-12,
.col+.col-5-12,
.col+.col-6-12,
.col+.col-7-12,
.col+.col-8-12,
.col+.col-9-12,
.col+.col-10-12,
.col+.col-11-12 {
    margin-left:1.8450184502%;
}
/* 12 column units */
.col-1-12 {width:6.642066420664%;}
.col-2-12 {width:15.129151291513%;}
.col-3-12 {width:23.616236162362%;}
.col-4-12 {width:32.10332103321%;}
.col-5-12 {width:40.590405904059%;}
.col-6-12 {width:49.077490774908%;}
.col-7-12 {width:57.564575645756%;}
.col-8-12 {width:66.051660516605%;}
.col-9-12 {width:74.538745387454%;}
.col-10-12 {width:83.025830258303%;}
.col-11-12 {width:91.512915129151%;}

/* no gutter */
.col-2-12.no-gutter,
.col-3-12.no-gutter,
.col-4-12.no-gutter,
.col-5-12.no-gutter,
.col-6-12.no-gutter,
.col-7-12.no-gutter,
.col-8-12.no-gutter,
.col-9-12.no-gutter,
.col-10-12.no-gutter,
.col-11-12.no-gutter {
    margin-left:0;
}
/* no gutter widths */
.col-2-12.no-gutter {width:16.974169741697%;}
.col-3-12.no-gutter {width:25.461254612546%;}
.col-4-12.no-gutter {width:33.948339483395%;}
.col-5-12.no-gutter {width:42.435424354244%;}
.col-6-12.no-gutter {width:50.922509225092%;}
.col-7-12.no-gutter {width:59.409594095941%;}
.col-8-12.no-gutter {width:67.89667896679%;}
.col-9-12.no-gutter {width:76.383763837638%;}
.col-10-12.no-gutter {width:84.870848708487%;}
.col-11-12.no-gutter {width:93.357933579336%;}

/* 12 column layout offsets */
.offset-1-12 {margin-left:8.487084870849%;}
.offset-2-12 {margin-left:16.974169741697%;}
.offset-3-12 {margin-left:25.461254612546%;}
.offset-4-12 {margin-left:33.948339483395%;}
.offset-5-12 {margin-left:42.435424354244%;}
.offset-6-12 {margin-left:50.922509225092%;}
.offset-7-12 {margin-left:59.409594095941%;}
.offset-8-12 {margin-left:67.89667896679%;}
.offset-9-12 {margin-left:76.383763837638%;}
.offset-10-12 {margin-left:84.870848708487%;}
.offset-11-12 {margin-left:93.357933579336%;}

/* 12 column offset sibling widths */
.col+.offset-1-12 {margin-left:10.332103321033%;}
.col+.offset-2-12 {margin-left:18.819188191882%;}
.col+.offset-3-12 {margin-left:27.306273062731%;}
.col+.offset-4-12 {margin-left:35.793357933579%;}
.col+.offset-5-12 {margin-left:44.280442804428%;}
.col+.offset-6-12 {margin-left:52.767527675277%;}
.col+.offset-7-12 {margin-left:61.254612546125%;}
.col+.offset-8-12 {margin-left:69.741697416974%;}
.col+.offset-9-12 {margin-left:78.228782287823%;}
.col+.offset-10-12 {margin-left:86.715867158672%;}

/*------------------------------------------------------------*/
/* 15 columns */
.col-1-15 {width:5.063291139241%;}
.col-2-15 {width:11.844484629295%;}
.col-3-15 {width:18.625678119349%;}
.col-4-15 {width:25.406871609403%;}
.col-5-15 {width:32.188065099458%;}
.col-6-15 {width:38.969258589512%;}
.col-7-15 {width:45.750452079566%;}
.col-8-15 {width:52.53164556962%;}
.col-9-15 {width:59.312839059675%;}
.col-10-15 {width:66.094032549729%;}
.col-11-15 {width:72.875226039783%;}
.col-12-15 {width:79.656419529837%;}
.col-13-15 {width:86.437613019892%;}
.col-14-15 {width:93.218806509946%;}

/* gutters */
.col+.col-1-15,
.col+.col-2-15,
.col+.col-3-15,
.col+.col-4-15,
.col+.col-5-15,
.col+.col-6-15,
.col+.col-7-15,
.col+.col-8-15,
.col+.col-9-15,
.col+.col-10-15,
.col+.col-11-15,
.col+.col-12-15,
.col+.col-13-15,
.col+.col-14-15 {
    margin-left:1.7179023508%;
}
/* no gutter */
.col-2-15.no-gutter,
.col-3-15.no-gutter,
.col-4-15.no-gutter,
.col-5-15.no-gutter,
.col-6-15.no-gutter,
.col-7-15.no-gutter,
.col-8-15.no-gutter,
.col-9-15.no-gutter,
.col-10-15.no-gutter,
.col-11-15.no-gutter,
.col-12-15.no-gutter,
.col-13-15.no-gutter,
.col-14-15.no-gutter {
    margin-left:0;
}
/* no gutter widths */
.offset-2-15.no-gutter {width:13.562386980108%;}
.offset-3-15.no-gutter {width:20.343580470163%;}
.offset-4-15.no-gutter {width:27.124773960217%;}
.offset-5-15.no-gutter {width:33.905967450271%;}
.offset-6-15.no-gutter {width:40.687160940325%;}
.offset-7-15.no-gutter {width:47.46835443038%;}
.offset-8-15.no-gutter {width:54.249547920434%;}
.offset-9-15.no-gutter {width:61.030741410488%;}
.offset-10-15.no-gutter {width:67.811934900542%;}
.offset-11-15.no-gutter {width:74.593128390597%;}
.offset-12-15.no-gutter {width:81.374321880651%;}
.offset-13-15.no-gutter {width:88.155515370705%;}
.offset-14-15.no-gutter {width:94.936708860759%;}

/* fluid column layout offsets */
.offset-1-15 {margin-left:6.781193490054%;}
.offset-2-15 {margin-left:13.562386980108%;}
.offset-3-15 {margin-left:20.343580470163%;}
.offset-4-15 {margin-left:27.124773960217%;}
.offset-5-15 {margin-left:33.905967450271%;}
.offset-6-15 {margin-left:40.687160940325%;}
.offset-7-15 {margin-left:47.46835443038%;}
.offset-8-15 {margin-left:54.249547920434%;}
.offset-9-15 {margin-left:61.030741410488%;}
.offset-10-15 {margin-left:67.811934900542%;}
.offset-11-15 {margin-left:74.593128390597%;}
.offset-12-15 {margin-left:81.374321880651%;}
.offset-13-15 {margin-left:88.155515370705%;}
.offset-14-15 {margin-left:94.936708860759%;}

/* fluid column offset sibling widths */
.col+.offset-1-15 {margin-left:8.499095840868%;}
.col+.offset-2-15 {margin-left:15.280289330922%;}
.col+.offset-3-15 {margin-left:22.061482820976%;}
.col+.offset-4-15 {margin-left:28.842676311031%;}
.col+.offset-5-15 {margin-left:35.623869801085%;}
.col+.offset-6-15 {margin-left:42.405063291139%;}
.col+.offset-7-15 {margin-left:49.186256781193%;}
.col+.offset-8-15 {margin-left:55.967450271248%;}
.col+.offset-9-15 {margin-left:62.748643761302%;}
.col+.offset-10-15 {margin-left:69.529837251356%;}
.col+.offset-11-15 {margin-left:76.31103074141%;}
.col+.offset-12-15 {margin-left:83.092224231465%;}
.col+.offset-13-15 {margin-left:89.873417721519%;}


/*------------------------------------------------------------*/
/* 16 columns */
.col-1-16 {width:5.063291139241%;}
.col-2-16 {width:11.392405063291%;}
.col-3-16 {width:17.721518987342%;}
.col-4-16 {width:24.050632911392%;}
.col-5-16 {width:30.379746835443%;}
.col-6-16 {width:36.708860759494%;}
.col-7-16 {width:43.037974683544%;}
.col-8-16 {width:49.367088607595%;}
.col-9-16 {width:55.696202531646%;}
.col-10-16 {width:62.025316455696%;}
.col-11-16 {width:68.354430379747%;}
.col-12-16 {width:74.683544303797%;}
.col-13-16 {width:81.012658227848%;}
.col-14-16 {width:87.341772151899%;}
.col-15-16 {width:93.670886075949%;}

/* gutters */
.col+.col-1-16,
.col+.col-2-16,
.col+.col-3-16,
.col+.col-4-16,
.col+.col-5-16,
.col+.col-6-16,
.col+.col-7-16,
.col+.col-8-16,
.col+.col-9-16,
.col+.col-10-16,
.col+.col-11-16,
.col+.col-12-16,
.col+.col-13-16,
.col+.col-14-16,
.col+.col-15-16 {
    margin-left:1.2658227848%;
}
/* no gutter */
.col-2-16.no-gutter,
.col-3-16.no-gutter,
.col-4-16.no-gutter,
.col-5-16.no-gutter,
.col-6-16.no-gutter,
.col-7-16.no-gutter,
.col-8-16.no-gutter,
.col-9-16.no-gutter,
.col-10-16.no-gutter,
.col-11-16.no-gutter,
.col-12-16.no-gutter,
.col-13-16.no-gutter,
.col-14-16.no-gutter,
.col-15-16.no-gutter {
    margin-left:0;
}
/* no gutter widths */
.col-2-16.no-gutter {width:12.658227848101%;}
.col-3-16.no-gutter {width:18.987341772152%;}
.col-4-16.no-gutter {width:25.316455696203%;}
.col-5-16.no-gutter {width:31.645569620253%;}
.col-6-16.no-gutter {width:37.974683544304%;}
.col-7-16.no-gutter {width:44.303797468354%;}
.col-8-16.no-gutter {width:50.632911392405%;}
.col-9-16.no-gutter {width:56.962025316456%;}
.col-10-16.no-gutter {width:63.291139240506%;}
.col-11-16.no-gutter {width:69.620253164557%;}
.col-12-16.no-gutter {width:75.949367088608%;}
.col-13-16.no-gutter {width:82.278481012658%;}
.col-14-16.no-gutter {width:88.607594936709%;}
.col-15-16.no-gutter {width:94.936708860759%;}

/* fluid column layout offsets */
.offset-1-16 {margin-left:6.329113924051%;}
.offset-2-16 {margin-left:12.658227848101%;}
.offset-3-16 {margin-left:18.987341772152%;}
.offset-4-16 {margin-left:25.316455696203%;}
.offset-5-16 {margin-left:31.645569620253%;}
.offset-6-16 {margin-left:37.974683544304%;}
.offset-7-16 {margin-left:44.303797468354%;}
.offset-8-16 {margin-left:50.632911392405%;}
.offset-9-16 {margin-left:56.962025316456%;}
.offset-10-16 {margin-left:63.291139240506%;}
.offset-11-16 {margin-left:69.620253164557%;}
.offset-12-16 {margin-left:75.949367088608%;}
.offset-13-16 {margin-left:82.278481012658%;}
.offset-14-16 {margin-left:88.607594936709%;}
.offset-15-16 {margin-left:94.936708860759%;}

/* fluid column offset sibling widths */
.col+.offset-1-16 {margin-left:7.594936708861%;}
.col+.offset-2-16 {margin-left:13.924050632911%;}
.col+.offset-3-16 {margin-left:20.253164556962%;}
.col+.offset-4-16 {margin-left:26.582278481013%;}
.col+.offset-5-16 {margin-left:32.911392405063%;}
.col+.offset-6-16 {margin-left:39.240506329114%;}
.col+.offset-7-16 {margin-left:45.569620253165%;}
.col+.offset-8-16 {margin-left:51.898734177215%;}
.col+.offset-9-16 {margin-left:58.227848101266%;}
.col+.offset-10-16 {margin-left:64.556962025316%;}
.col+.offset-11-16 {margin-left:70.886075949367%;}
.col+.offset-12-16 {margin-left:77.215189873418%;}
.col+.offset-13-16 {margin-left:83.544303797468%;}
.col+.offset-14-16 {margin-left:89.873417721519%;}



/* ------------- popup_image.css --------------- */

/* popup image viewer */

/* .imageviewer_XXX styles refers to the original implementation and will be deleted eventually
 * .popupimage_XXX is the new black.  the desktop version of the new code is still being developed,
 * so the .imageviewer_XXX are still the ones active in production. -- kj
 */


.popupimage_gallery {
    display: table-cell;
    vertical-align: middle;
    position: fixed;
    left: 0; top: 0;
    bottom: 0; right: 0;
    background: rgba( 255, 255, 255, 0.5 );
    z-index: 10;
}

.popupimage_container {
    position: relative;
    display: table;
    left: 0;
    height: 100%; width: 1000%;
    list-style: none;
    padding: 0;
}

.popupimage_item {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.popupimage_item img {
    display: block;
    background: #000;
    margin-left: auto;
    margin-right: auto;
}

.popupimage_item.loading {
    background: url(/img/playerbusy_transp.gif) no-repeat;
    background-position: 50% 50%;
}


/* --- widgets --- */

.popupimage_nav {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 33%;
    -webkit-tap-highlight-color: rgba( 0,0,0,0 );
}

.popupimage_nav.dismiss {
    left: 33%;
    width: 34%;
}

.popupimage_nav.prev {
    left: 0;
}

.popupimage_nav.next {
    right: 0;
}

.popupimage_navicon {
/* *** old:
    display: inline-block;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    background-image:url(/img/popup_image.png);
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
*** */

    display: inline-block;
    position: absolute;
    top: 85%;
    margin: auto;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 1;
}

.no-svg .popupimage_navicon {
    background-image: url(/img/mobile-sprites-20150520.png);
}

.popupimage_navicon.dismiss {
    left: 50%;
    margin-left: -1rem;
    background-position: 0 31.6%;
}

.popupimage_navicon.prev {
    left: 1em;
    background-position: 0 35.8%;
}

.popupimage_navicon.next {
    right: 1em;
    background-position: 0 40.0%;
}

.popupimage_loading {
    position: absolute;
    display: inline-block;
    background-color: black; 
    opacity: 0.5;
    filter:alpha(opacity=50);
    text-align: center;
    vertical-align: middle;
    z-index: 1;
}

.popupimage_spinny_lg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background: url(/img/playerbusy.gif) no-repeat;
    background-position: 50% 50%;
}

.popupimage_spinny_sm {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background: url(/img/playerbusy_small.gif) no-repeat;
    background-position: 50% 50%;
}

/* ---------- */

.imageviewer_top {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    text-align: center;
    z-index: 100;
}

.imageviewer_top td {
    border: 0;
}

.imageviewer_back {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: #fff;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: -1;
}

.imageviewer_dismiss {
    cursor: pointer;
    position: relative;
    top: 2em; left: -1em;
    background-image:url(/img/popup_image.png);
    background-repeat:no-repeat;
    width:30px;
    height:30px;
    z-index: 10;
}

.imageviewer_image {
    clear: both;
    border: 3px solid grey;
}

.imageviewer_nav {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 200px;
    max-width :33%;
}

.ie .imageviewer_nav {
    /* fixes problems laying out empty elements */
    background: white;
    filter: alpha(opacity=0);
    opacity: 0;
}

.imageviewer_nav.prev {
    left: 0;
}

.imageviewer_nav.next {
    right: 0;
}

.imageviewer_navicon {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
    background-image:url(/img/popup_image.png);
    background-repeat:no-repeat;
    width: 30px;
    height: 30px;
}

.imageviewer_navicon.next {
    right: 30px;
    background-position:0 center;
}

.imageviewer_navicon.prev {
    left: 30px;
    background-position:0 bottom;
}

.imageviewer_nav:hover span.imageviewer_navicon {
    visibility: visible;
}

.imageviewer_loading {
    position: absolute;
    display: inline-block;
    background-color: black; 
    opacity: 0.5;
    filter:alpha(opacity=50);
    text-align: center;
    vertical-align: middle;
}

.imageviewer_spinny_lg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background: url(/img/playerbusy_transp.gif) no-repeat;
    background-position: 50% 50%;
}

.imageviewer_spinny_sm {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50);
    background: url(/img/playerbusy_small.gif) no-repeat;
    background-position: 50% 50%;
}



/* ------------- corp_2015.css --------------- */
/*------------------------------------------------------------*/
body {
    font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
img {
    border:none;
    display: block;
    height:auto;
    max-width:100%;
}
a {
    color: #0687f5;
    text-decoration: none;
}
a:focus {
    outline:none;
}
.newline {
    display: inline-block;
}

/*sprites*/
.bc-ui {
    background: url('../../img/_sprite-bc-ui-20150529.png') 0 0 no-repeat;
}
.bc-ui2 {
    background: url('../../img/_sprite-bc-ui2-20151201@2x.png') 0 0 no-repeat;
    background-size: 100px 200px;
}
.discover-ui {
    background: url('../../img/discover/_sprite-discover-20120528.2.png') 0 0 no-repeat;
}
.bc-home {
    background: url('../../img/_sprite-bc-home-20151207@2x.png') 0 0 no-repeat;
    background-size: 200px 100px;
}
.svg-defs {
    position: absolute;
    width: 0;
    height: 0;
}

/*------------------------------------------------------------*/

.vvv {
    background-image: linear-gradient(to right, #ffc600, #639aa9 50%, #ffc600 100%);
    -webkit-backface-visibility: hidden;
    height: 10px;
    position: relative;
}
.vvv > span {
    background-image: url('../../img/homepage_2015/bc-vvv-reverse.svg');
    background-repeat: repeat-x;
    background-size: 116px 10px;
    display: block;
    height: 10px;
    position: absolute;
    width: 100%;
}
.nowrap {
    display: inline-block;
}

/*------------------------------------------------------------*/
/*page header*/
.hd {
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
    height: 105px;
    margin-top: 0;
    /*overflow: hidden;*/
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    transition: margin 0.25s ease-out;
}
.scroll-detected .hd {
    margin-top: -105px;
}
.hd > .row {
    position: relative;
}
.hd-mobile {
    display: none;
}
.bd {
    padding-top: 105px;
}
.hd-logo {
    background:transparent url('../../img/homepage_2015/bc-logo@2x.png') no-repeat;
    background-size: 100%;
    margin-top: 24px;
    height: 25px;
    width: 156px;
}
.hd-logo > span {
    display: none;
}
.hd-sub-head {
    color: #408ea3;
    font-size: 16px;
    font-weight: 500;
    margin: 18px 0 0;
    opacity: 1;
    transition: opacity .2s ease;
}

.hd-nav {
    font-size: 1.2307692308em;
    color: #777;
    margin:0;
    padding: 0;
}
.hd-nav > li > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hd-nav li {
    display: inline-block;
}
.hd-nav a {
    color: #161113;
    font-weight: 700;
    text-decoration: none;
}
.hd-nav a:hover {
    text-decoration: underline;
}

.nav-label {
    padding: 0 10px 0 0;
}

.corp-nav {
    margin: 15px 0 0;
    text-align: right;
}

.corp-nav > li {
    border-right: 1px solid #e5e5e5;
    padding: 0 12px 0 5px;
    line-height: 20px;
}
.corp-nav > li:first-child {
    padding: 0 10px 0 0;
}
.corp-nav li.log-out-link,
.corp-nav > li:last-child {
    padding-right: 0;
    border-right: 0;
}

.user-nav {
    display: none;
    margin: 18px 0 0;
    position: relative;
}
.user-nav > li {
    border-right: 1px solid #e5e5e5;
    padding: 0 12px;
    display: inline-block;
    line-height: 20px;
}
.user-nav > li:first-child {
    padding-left: 0;
}
.user-nav > li:last-child {
    border-right: none;
    padding-right: 0;
}
.user-nav .name {
    max-width: 35%;
    text-overflow: ellipsis;
    padding-left: 32px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    font-weight: normal;
}
li.user-nav-thumb {
    position: absolute;
    top: -4px;
    width: 25px;
    height: 25px;
    border-right: 0;
    padding: 0;
}
.logged-in .hd-sub-head {
    display: none;
}
.logged-in .user-nav {
    display: block;
}
.logged-in .log-in-link {
    display: none;
}
.hd.logged-in .hd-nav {
    font-size: 14px;
}
.hd.logged-in .corp-nav > li > ul {
    border-right: none;
    padding-right: 0;
}

/*cart*/
.cart.bc-home {
    background-size: 200px 100px;
}
.cartitem {
    position: relative;
}
.cartitem a {
    color: #fff;
}

.cartitem a:hover {
    text-decoration: none;
}
.cart {
    display: inline-block;
    width: 21px;
    background-position: -179px -49px;
    position:relative;
    left:-3px;
    padding-right: 5px;
}
.cart-item-count {
    display: inline-block;
    vertical-align: top;
    background: #43b214;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding: 2px 3px;
    border-radius: 3px;
    position: absolute;
    right: -2px;
    top:-7px;
}

/*search*/
.searchwidget {
    text-align: right;
    margin-top: 24px;
    position: relative;
}
.searchwidget input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #bebebe;
    border-radius: 3px;
    color: rgba(22,17,19,0.7);
    height: 26px;
    padding: 0 28px 0 10px;
    position: relative;
    width: 208px;
    outline: none;

}
@-ms-viewport { width:device-width; }
@-o-viewport { width:device-width; }
@viewport { width:device-width; }
@media (min-width:740px) {
    .searchwidget input[type=text]:focus{
        box-shadow: 0 0 5px #d7d7d7;
        background: #fff;
    }

    .searchwidget.keyboard-focus input[type=text]:focus {
        background: #eef2f3;
    }
}
.searchwidget button[type=submit] {
    background: transparent;
    border: none;
    height: 16px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 12px;
    top: 6px;
    text-indent: -50000px;
    width: 16px;
}
.searchwidget button .icon.bc-home {
    background: url('../../img/homepage_2015/search-icon@2x.png') 0 0 no-repeat;
    background-size: 100%;
    display: block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
}

/* header (hiring) banner */
.hd-banner {
    left: 30%;
    margin: 24px 0 0 -36px;
    text-align: center;
    position: absolute;
    width: 40%;
}
.hd-banner-inner {
    background: #eef2f3;
    border-radius: 3px;
    color: #161113;
    display: inline-block;
    font-size: 13px;
    line-height: 1;
    margin: 0 auto;
    padding: 8px 20px;
    position: relative;
}
.hd-banner-inner a {
    color: #161113;
}
.hd-banner-inner a:hover {
    text-decoration: underline;
}

/*------------------------------------------------------------*/
/*page footer*/
#pgFt {
    padding: 0;
    background: transparent;
    position: relative;
}
.pg-ft {
    background-color: #477987;
    min-height: 320px;
    padding: 0 0 15px;
}
.pg-ft-mobile {
    display: none;
}
.pg-ft h5 {
    color: #abc1c7;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    margin: 40px 0 30px;
}
.pg-ft-nav {
    color: #abc1c7;
    font-size: 13px;
    line-height: 13px;
    list-style: none;
    margin:0;
    padding: 0;
}
.pg-ft-nav li {
    margin: 0 0 13px;
}
.pg-ft-nav a {
    color: #fff;
    text-decoration: none;
}
.pg-ft-nav a:hover {
    text-decoration: underline;
}
.pg-ft-nav a+a {
    border-left: 1px solid #7ea0a9;
    margin-left: 0.3em;
    padding-left: 0.6em;
}
.pg-ft-nav .nav-label {
    padding-right: 0.3em;
}

/*------------------------------------------------------------*/
/*prev/next stepper*/
.stepper {
    border:1px solid #9dc3ce;
    border-radius: 3px;
    display: inline-block;
    font-size: 0;
}
.stepper-prev,
.stepper-next,
.stepper-bcdaily {
    color: #408ea3;
    display:inline-block;
    text-decoration: none;
}
.stepper-prev,
.stepper-next {
    padding:5px 20px;
}
.stepper-bcdaily {
    padding:5px 10px;
}
.stepper-prev > *,
.stepper-next > *,
.stepper-bcdaily > * {
    transition: opacity 0.5s ease-out;
}
.stepper-prev.inactive,
.stepper-next.inactive {
    color: #b9d4dc;
    cursor: default;
}
.stepper-prev.immediate > *,
.stepper-next.immediate > * {
    transition: opacity 0s;
}
.stepper-prev.highlight > *,
.stepper-next.highlight > * {
    opacity: 0.5;
}
.stepper-prev {
    border-right:1px solid #9dc3ce;
}
.stepper-next {}
.stepper-prev:hover,
.stepper-next:hover,
.stepper-bcdaily:hover {
    color: #006480;
    cursor: pointer;
}
.stepper-prev.inactive:hover,
.stepper-next.inactive:hover {
    color: #b9d4dc;
    cursor: default;
}
/* svg icons */
.stepper .icon {
    fill:#408ea3;
    height: 10px;
    width: 8px;
}
.stepper-bcdaily .icon {
    position: relative;
    top: 1px;
    margin-left: 6px;
    fill:#408ea3;
    height: 10px;
    width: 10px;
}
.stepper-prev:hover .icon,
.stepper-next:hover .icon {
    fill: #006480;
}
.stepper-prev.inactive .icon,
.stepper-next.inactive .icon,
.stepper-prev.inactive:hover .icon,
.stepper-next.inactive:hover .icon {
    fill: #b9d4dc;
}

/*------------------------------------------------------------*/
/*pagination*/
.item-page {
    background: none;
    color: #408ea3;
    text-decoration: none;
}
.item-page {
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-weight: 500;
    height: 32px;
    line-height: 32px;
    padding: 5px 12px;
    cursor: pointer;
    transition: opacity 0.4s ease-out;
}
.item-page.immediate {
    transition: opacity 0s;
}
.item-page.highlight {
    opacity: 0.5;
}
.item-page.selected {
    color: #222;
}
.item-page.selected,
.item-page:hover {
    border-color: #afafaf;
}
.item-page.disabled {
    border-color: #d1d1d1;
    color: #ccc;
    cursor: default;
}
.item-page.disabled:hover {

}
.item-page.filler {
    background: none;
    border-color: transparent;
    color:#777;
}
.item-page.filler:hover {
    border-color: transparent;
}

/*------------------------------------------------------------*/
/*fluid aspect ratios*/
.ratio-1-1,
.ratio-4-3,
.ratio-3-2,
.ratio-16-9 {
    display: block;
    height: 0;
    font-size: 0;
    overflow: hidden;
    position: relative;
}
.ratio-1-1 img,
.ratio-4-3 img,
.ratio-3-2 img,
.ratio-16-9 img {
    height: auto;
    left: 0;
    outline:1px solid rgba(0,0,0,0.05);
    outline-offset:-1px;
    position: absolute;
    top: 0;
}
.ratio-1-1 {
    padding:100% 0 0;
}
.ratio-4-3 {
    padding:75% 0 0;
}
.ratio-3-2 {
    padding:66.66666667% 0 0;
}
.ratio-16-9 {
    padding:56.25% 0 0;
}


/*------------------------------------------------------------*/
@-webkit-keyframes fade-in {
    0% { opacity:0.0; }
    100% { opacity:1.0; }
}
@-moz-keyframes fade-in {
    0% { opacity:0.0; }
    100% { opacity:1.0; }
}
@keyframes fade-in {
    0% { opacity:0.0; }
    100% { opacity:1.0; }
}
@-webkit-keyframes fade-out {
    0% { opacity:1.0; }
    100% { opacity:0.0; }
}
@-moz-keyframes fade-out {
    0% { opacity:1.0; }
    100% { opacity:0.0; }
}
@keyframes fade-out {
    0% { opacity:1.0; }
    100% { opacity:0.0; }
}
.fade-in {
    -webkit-animation: fade-in 0.66s ease-in;
    -moz-animation: fade-in 0.66s ease-in;
    animation: fade-in 0.66s ease-in;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.fade-out {
    -webkit-animation: fade-out 0.33s ease-out;
    -moz-animation: fade-out 0.33s ease-out;
    animation: fade-out 0.33s ease-out;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/*------------------------------------------------------------*/
@-ms-viewport { width:device-width; }
@-o-viewport { width:device-width; }
@viewport { width:device-width; }
@media (max-width:740px) {
    /* corp_2015_phone */
    .hd {
        display: none;
    }
    .hd-mobile {
        background-color: rgba(255,255,255,0.98);
        display: block;
    }
    .hd-logo {
        background:transparent url('../../img/homepage_2015/bc-logo-compact@2x.png') no-repeat;
        background-size: 100%;
        display: block;
        float: left;
        height: 18px;
        margin:15px 0 15px 4.265%;
        width: 50px;
    }
    .hd-logo > span {
        display: none;
    }
    .bd {
        margin-top: 0;
        padding-top: 0;
    }
    .hd-mobile > .row,
    .bd-section > .row {
        max-width: 91.47%;
        position: relative;
    }
    .hd .col,
    .pg-ft-mobile .col {
        display: block;
        float: none;
        margin:0 !important;
        width: 100%;
    }
    .pg-ft {
        display: none;
    }
    .pg-ft-mobile {
        display: block;
    }
    .pg-ft-mobile .col {
        background-color: #477987;
        padding: 40px 0 0;
        text-align: center;
    }
    .pg-ft-nav {
        color: #abc1c7;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        padding: 0 4.265%;
    }
    .pg-ft-nav:after {
        clear:both;
        content:".";
        display:block;
        height:0;
        visibility:hidden;
    }
    .pg-ft-nav li {
        margin: 0 0 24px;
    }
    .pg-ft-mobile .col:last-child {
        background-color: #224853;
        padding-bottom: 30px;
    }
    .pg-ft-mobile .col:last-child .pg-ft-nav {
        font-weight: 400;
    }
    .pg-ft-mobile .col:last-child .pg-ft-nav a,
    #pgFt .pg-ft-mobile .col:last-child .pg-ft-nav a {
        opacity: 0.75;
    }
    .pg-ft-mobile .col:last-child .pg-ft-nav a+a {
        border-color: #7ea0a9;
    }
    .social-links a {
        margin-right: 40px;
    }
    .social-links a+a {
        border: none;
    }
    .social-links a:last-child {
        margin-right: 0;
    }
    .social-links .icon {
        fill:rgba(255,255,255,0.6);
        height: 44px;
        width: 44px;
    }
    .social-links a:hover .icon {
        fill:rgba(255,255,255,1);
    }
    .footer-logo {
        background: url('../../img/logo-white.svg') no-repeat left center;
        background-size: 100%;
        float: left;
        height: 18px;
        padding: 6px 0 0;
        position: relative;
        width: 112px;
    }
    .footer-logo > a {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .footer-logo > a > span {
        display: none;
    }
    .footer-logo+li:last-child {
        float: right;
    }
    .footer-logo+li:last-child {
        clear: none;
    }
    .hd-nav {
        font-size: 13px;
        float: right;
        text-align: left;
    }
    .hd-nav a {
        color: #408294;
    }
    .corp-nav {
        margin: 15px 4.265% 0 0;
    }
    .corp-nav.has-cart {
        margin: 15px 2.265% 0 0;
    }
    .user-nav {
        margin: 15px 4.265% 9px 0;
        position: relative;
    }
    .corp-nav li {
        vertical-align:bottom;
    }
    .corp-nav > li > ul,
    .user-nav > li {
        border:none;
        padding: 0;
    }
    .user-nav > li,
    .user-nav > li {
        padding: 0;
        vertical-align: bottom;
    }
    .corp-nav > li > ul > li a,
    .user-nav > li a {
        position: relative;
        padding: 0.5rem;
    }
    .user-nav > li:first-child+li,
    .user-nav > li:first-child+li > a {
        padding-left: 0;
    }
    .corp-nav > li > ul > li+li > a,
    .corp-nav.has-cart > li > ul > li > a,
    .user-nav > li+li > a {
        padding: 0 3px 0 4px;
    }
    .corp-nav > li > ul > li a:after,
    .user-nav > li a:after {
        color: #ababab;
        content: '/';
        display: block;
        position: absolute;
        right: -5px;
        top: 0;
    }
    .corp-nav > li > ul > li:last-child a,
    .user-nav > li:last-child a {
        padding: 0 0 0 4px;
    }
    .corp-nav > li > ul > li:first-child a:after,
    .corp-nav > li > ul > li:last-child a:after,
    .user-nav > li:first-child a:after,
    .user-nav > li:last-child a:after {
        display: none;
    }
    .corp-nav.has-cart > li > ul > li:first-child a:after {
        display: inline;
    }

    .home-cartitem {
        display: inline-block;
        width: 1.94507em;
        height: 1.4em;
        margin: 0 0.875rem 0 1rem;
        position: relative;
    }
    .corp-nav .home-cartitem {
        margin: 0 0.875rem 0 0;
    }
    .home-cartitem .cart {
        /* image h/w ratio: 1/1.38933 */
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url(/img/mobile-sprites-20150520.svg) no-repeat;
        background-size: 500% auto;
        background-position: 0 28.2%;
    }
    .no-svg .home-cartitem .cart{
        background-image: url(/img/mobile-sprites-20150520.png);
    }
    .home-cartitem .cart-item-count {
        position: absolute;
        top: -45%;
        left: 60%;
        min-width: 0.5rem;
        background: #5ac523;
        border: solid thin #43b214;
        border-radius: 0.1875rem;
        color: #fff;
        font-size: 0.6875rem;
        font-weight: bold;
        text-align:center;
    }
    .searchwidget {
        clear: both;
        margin: 0 auto 9px;
        max-width: 95.735%;
        padding: 0;
        text-align: left;
    }
    .searchwidget input[type=text] {
        background-color: #f3f3f3;
        border: 1px solid #e2e2e2;
        border-radius: 5px;
        padding: 4px 12% 4px 4%;
        width: 84%;
        -webkit-appearance: none;
    }
    .searchwidget button[type=submit] {
        top: 12px;
    }
    .searchwidget button .icon.bc-home {
        height: 14px;
        opacity: 0.7;
        width: 14px;
    }
    .hd-banner {
        left: inherit;
        margin: 0;
        position: relative;
        width: 100%;
    }
    .hd-banner-inner {
        background: #ffffc5;
        border-bottom: 1px solid #f3f4b4;
        border-radius: 0;
        display: block;
        margin: 0;
        padding: 15px 5px;
        font-size: 12px;
    }
    .hd-banner-inner a {
        display: block;
        text-decoration: none;
    }
    .hd-banner-inner a:hover {
        text-decoration: none;
    }
    .headroom {
        clear: both;
    }
}
@media (max-width: 800px) and (min-width: 741px) {
    /*corp*/
    .hd .row,
    .bd-section > .row,
    .pg-ft .row {
        max-width: 97%;
    }
    .hd-nav {
        font-size: 14px;
    }
    .user-nav {
        white-space: nowrap;
    }
    .corp-nav {
        margin: 28px 0 0;
        position: absolute;
        right: 88%;
        top: 0;
        width: 100%;
        transition:margin-top .4s ease;
    }
    .corp-nav > li {
        padding: 0 5px 0 2px;
    }
    .corp-nav > li:first-child {
        padding-right:5px;
    }
    .corp-nav > li > ul {
        margin-left: -5px;
    }
    .corp-nav-label {
        display: none;
    }
    .hd-sub-head {
        font-size: 14px;
        margin: 20px 0 0;
        white-space: nowrap;
    }
    .searchwidget input[type=text] {
        width: 190px;
    }
    .hd-banner {
        left: inherit;
        margin: 64px 0 0 0;
        right:0;
        width: auto;
    }
}
@media (max-width: 1024px) and (min-width: 801px) {
    /*corp*/
    .hd .row,
    .bd-section > .row,
    .pg-ft .row {
        max-width: 97%;
    }
    .hd-nav {
        font-size: 14px;
        white-space: nowrap;
    }
    .corp-nav {
        margin: 16px 0 0;
    }
    .corp-nav-label {
        display: none;
    }
    .hd-sub-head {
        font-size: 14px;
        margin: 20px 0 0;
        white-space: nowrap;
    }
}
@media (max-width: 1280px) and (min-width: 1025px) {
    /*corp*/
    .hd .row,
    .bd-section > .row,
    .pg-ft .row {
        max-width: 994px;
    }
}
@media (min-width: 1281px) {
    /*corp*/
    .hd .row,
    .bd-section > .row,
    .pg-ft .row {
        max-width: 1106px;
    }
}


/* ------------- minimal_2016.css --------------- */
/* used on: login, fan_signup, reset_password, forgot_password */

.minimal-hd.hd {
    background-color: #DDDDDD;
    box-shadow: none;
    position: relative;
}
.minimal-hd .hd-logo {
    background: transparent url(../../img/bandcamp-logo-color-bcaqua.svg) no-repeat;
    background-size: 100%;
    margin-top: 44px;
    height: 25px;
    width: 135px;
}
.minimal-hd .corp-nav {
    margin: 45px 0 0;
    text-align: right;
    font-size: 14px;
}
.minimal-hd .corp-nav > li {
    border-right: none;
    padding: 0 12px 0 5px;
    line-height: 22px;
}
.minimal-hd .corp-nav > li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.minimal-hd .hd-nav a {
    color: rgb(0,161,198);
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
}