#head5 {
	padding-top: 5px;
	height: 130px;
}
#head5 form{
	padding-left: 0px;
	
    margin-left: 0px;
    margin-right: 0px;

}




a {
	text-decoration: none;
}

a:hover {
 text-decoration: none;
}	
		
.songtext {
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 160%;
	font-family: Verdana,sans-serif;
	overflow: hidden;
}

h1 {

	font-size: 18px;

}




.main {background-color: #FFFFFF;}

body {
	font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #555;
	background-color: beige;
}


.artist-name {
	color: #337ab7;
}

/*
.artist-name {
	display: block;
}

.title-name {
	display: block;
}
*/
/*body { background: url("/i/back.png") repeat top center fixed;}*/

#header {

  height: 50px;
  margin-top: 50px; 
}
#header span {
	margin-top: 14px;
	display: block;
}
#foter {

  height: 50px;
  margin-bottom: 50px; 
}

#foter a {
	margin-top: 14px;
	display: inline-block;

}



/*
player
*/



.bdsplayer {

position: fixed;
bottom: 0px;
display: none;

}

.bdsplayer .container {
	margin-bottom: 15px;
}

/*
	list
*/

#ajax-list {
	margin-left: -15px;
	margin-right: -15px;
}


.title_wrap {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-top: 12px;
	height: 60px;
}



.title_wrap:hover {

	background-color: #f7f7f7;

}
/*
.title_wrap:first-of-type {

	background-color: #b2ebff;

}
*/

.title_wrap .songname {
	
}


.title_wrap .btn {

	height: 32px;

}

.title_wrap .px {

	display: block;
	float: left;
	margin-right: 10px;

}

.songname {
	width: 440px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;

}

.duration {
	color: gray;
	display: block;
	text-align: right;
}

@media (max-width: 600px) {
	.songname {
			width: 180px;
		}
	
	.duration {
			display: none;
		}
	.artist-name {
		display: block;
	}
	
	.title-name {
		display: block;
	}
	.dash {
		display: none;
	}	
}

.play{
	text-decoration: none;
	cursor: pointer;
}


/*
main
*/

@media (max-width: 600px) {
		#header {
		  margin-top: 0px; 
		}
}

.block iframe {
	width: 100%;
	height: 250px;
	border: 0px;
	overflow:  hidden;
}
.block_2 iframe {
	width: 100%;
	height: 560px;
	border: 0px;
	overflow:  hidden;
}

.block_3 {
	width: 300px;
}

.block_3 iframe {
	
	height: 800px;
	border: 0px;
	overflow:  hidden;
}

.block , .block_2 , block_3 {
	overflow:  hidden;
}

.block_in_tracks iframe {
	width: 100%;
	height: 225px;
	border: 0px;
	overflow:  hidden;
}

.block_bottom_mg iframe {
	width: 100%;
	height: 425px;
	border: 0px;
	overflow:  hidden;
}

@media (min-width: 600px) {
	.block iframe {
		height: 200px;
	}
}

@media (max-width: 600px) {
	.block iframe {
		height: 200px;
	}
}	

.welcome_page {
	margin: 25vh 0 18vh;
}
.welcome_page .welcome_search {
	max-width: 800px;
}	
.welcome_page h1 {
	font-size: 36px;
}

#ajax-welcome {
	cursor: pointer;
}

.welcome_page h1 {
	margin-bottom: 25px;
}
.logo {
	margin-top: -35px;
    margin-left: -35px;
    margin-bottom: 20px;

}
.progressbds {
	padding: 30px;
}

.list-group_a {
	list-style-type: none;
}

.track_title {
	    font-weight: bold;
	    max-width: 200px;
	    overflow:hidden;
	    float: left;
	    display: block;
	    margin-right: 10px;
}

.nowlisen {
	padding-top: 20px;
	max-width: 700px;
}

.nowlisen a {
	color:gray;
}


#right_top_block {
	float: right;
	width: 300px;
}

.wikiblock {
	/*background-color: #f4f1e3; padding: 10px;*/
	
	margin-bottom: 20px;
}

.wikiblock img {
	float: right;
	padding-left: 10px;
	width: 100px;
}

.start_page .name {
	text-align: center;
	display: block;
	height: 50px;
}

.start_page img {
	width: 174px;
	height: 174px;
	
	border-radius: 87px;
}

.start_page {
	padding-left: 40px;
}

#h1 span {
	color: #797979;
}

.btn-letter {

    border-color: #ccc;
	color: black;
    margin-bottom: 10px;
}
.letter-list {
	padding-top: 20px;
}


#progress-load-page {
	height: 5px;
}

#progress-load-page-line {
	height: 5px;
	background-color: #00bbff;
	width: 0px;
}




#logo4 {
	width: 250px;
	overflow: hidden;
	float: left;
}

#logo4 img {
}

.navitems {
	margin-top: 12px;
	margin-left: 0px;		
}

.navbar {
	margin-top: 20px;
}

.menu-btn {

}

.collapsed {

}

.navitems {

}
@media screen and (min-width: 1024px) {
	.searchinputmy {
		width: 460px;
	}
}
@media screen and (max-width: 480px) {
	#logo4 {
		width: 150px;
		overflow: hidden;
		float: left;
		margin-top: 5px;
	}
	
	#logo4 img {
		width: 150px;
	}
}


.mynavblock {
	margin-bottom: 20px;
}


