@charset "utf-8";

/* cssreset */
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li, fieldset, form, tr, th, td, center, input, button, textarea{padding:0;margin:0}
table { border-collapse: collapse; border-spacing: 0;}
fieldset, img { border: 0;}
button,input,select,textarea{ font-size:12px;}
input,img,select{ vertical-align:middle;}
ul,li{list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-family:"MicroSoft YaHei"; }
.left{ float:left;}
.right { float:right;}
.txthide{text-indent:-9999em;overflow:hidden; line-height:0; font-size:0;}
.relative { position:relative;}
.absolute { position:absolute;}

/* float */
.clearfix:after{ content:""; height:0; visibility:hidden; display:block; clear:both;}
.clearfix{ zoom:1;}
.clear { clear:both;}

/* a */
a{ color:#000; text-decoration:none;outline: none;}
a:active {star:expression(this.onFocus=this.blur());}:focus { outline:0; }
a:hover{ text-decoration:none;}

html,body{ font: 12px/21px "MicroSoft YaHei";}
.wrapper{ margin:0 auto; width:1002px;overflow:hidden; }


/*index_header*/
.header{ height:108px; background: #fff url(http://img3.91huo.cn/www/images/99com/14v1/header.jpg) no-repeat bottom center;}
.head_box{ height:108px; }
.head_box span.line{width: 1002px; height: 8px; display: block; position: absolute; left: 0; bottom: 0; z-index: 999; background-color: #FFF; background: url(http://img2.91huo.cn/www/images/99com/14v1/header_wrapper_bg.jpg) no-repeat -512px bottom;}
/*.logo{ position:absolute; top:30px; left:0; width:148px;}*/
.logo{ position:absolute; top:17px; left:0; width:148px;}
.logo a{ padding: 18px 10px; display:block; width:197px; height:75px; background: url(http://img3.91huo.cn/www/images/99com/14v1/99logo_161207.png) no-repeat 0 11px;text-indent: -999em; overflow: hidden;}
.nav{ position:absolute; bottom: 0; left:360px; width:476px;}
.nav li{ float:left; padding:0 27px; width:65px;}
.nav li a{ display:block; width:65px; font-size:20px; color:#666; line-height:86px; text-align: center;}
.nav li a.on,.nav li a:hover{ /* background: #fff;*/ color: #06c7f4; }
.top_links{ position:absolute; top:42px; right:0;}
.top_links a{ display:inline-block; margin-right:7px; width:44px; height:44px; background: url(http://img1.91huo.cn/www/images/99com/14v1/spr.png) no-repeat; text-align:center; color:#fff; line-height:44px; font-size:14px;}
.top_links .login{ background-position:0 -94px;}
.top_links .login:hover{ background-position:-49px -94px;}
.top_links .register{ background-position:0 -141px;}
.top_links .register:hover{  background-position:-49px -141px;}
.top_links .english{ background-position:0 -188px; font-size: 11px;}
.top_links .english:hover{ background-position:-49px -188px;}

.main{ background: #fff; }
.content{ padding:0 10px 0; width:982px; }
/*flash*/
.flash{ position:relative; background:#313131; height:200px; zoom:1; }
.flash_con_box{ width:1920px; height:200px; margin:0 auto; background:#313131; overflow:hidden;}
.flash_con_box ul{ width:4000px;}
.flash_con_box li{ float:left; height:200px; overflow:hidden; width:1920px;}
.flash_con_box li img{ height:200px;}
.flash_links{ width:100%; position:absolute; left:0; bottom:5px; text-align:center; height:15px; overflow:hidden;}
.flash_links a{ margin:0 3px; display:inline-block; width:15px; height:15px; background:url(http://img2.91huo.cn/www/images/11_com/spr_index2.png) no-repeat -223px -580px;}
.flash_links a.on{background-position: -223px -595px;}
/*content*/
.col_list{ height:234px; overflow:hidden; margin-bottom:15px; background:#fff;position:relative;}
.col_list dt,dd{ float:left;}
.col_list dt{  position:relative; padding-top:142px; height:92px;  background:#00baef url(http://img1.91huo.cn/www/images/99com/14v1/spr.png) no-repeat; width:180px; color:#fff; font-size:18px; text-align:center; }
.col_list dd{ width:170px; padding-top:10px; font-size:12px;}
.col_list dd img,.col_list dd a{ display:block; width:170px;}
.col_list dd a.hov_wid{width: 173px}
.col_list dd h4{  font-weight: normal; color:#000;}
.col_list dd p{ color:#999; line-height:18px;}
.col_list .star{ display:block; margin:5px auto 0; height:14px; width:90px; background:url(http://img6.91huo.cn/www/images/11_com/star.gif) repeat-x 0 0;}
.col_list .star1{ width:19px;}
.col_list .star2{ width:38px;}
.col_list .star3{ width:57px;}
.col_list .star4{ width:72px;}
.col_list .star5{ width:90px;}
.list_nav{ position:absolute; top:0; height:243px; width:0; background:#00baef;}
.list_nav ul{ width:446px; display:none;}
.list_nav li{ float:left; display:inline; width:215px; height:28px; line-height:28px;}
.list_nav li a{ display:block; width:160px; margin:0 30px; border-bottom:1px dotted #97ddf3; text-align:left; font-size:12px; color:#fff; }
.list_nav li a:hover{ background-color: #25c2fd;}
.ico_game{ background:url(http://img8.91huo.cn/www/images/11_com/gameico_0206.gif) no-repeat; float:left; display:block; height: 20px; margin: 5px 5px 0 0; width: 20px;}
.kg_ico{ position:absolute; bottom:0; display:block; width:14px; height:24px; background:url(http://img1.91huo.cn/www/images/99com/14v1/spr.png) no-repeat -136px -94px;}
.kg_ico_on{ background-position: -136px -141px;}
  /*recommend*/
  .list1{ height: 203px;}
  .list1 dt{ padding-top: 130px; height: 73px; background-position:56px -242px; background-color: #ff7300;}
  .list1 dd span{ display:block; position: relative; width:184px ; font-size: 14px;z-index:111; }
  .list1 dd img{ display: block; padding-bottom: 5px; width:184px ; height: 146px;}
  .list1 dd span .hover{ display: none; position: absolute; top: 0; left: 0; background-color: #fff; color: #ff6600;cursor: pointer; }
  .list1 dd{ display:inline; margin-left:12px; padding-top: 2px; text-align:center; width: 184px;}
  /*game1*/
  .list2{ border-top: 1px dashed #c9c9c9; border-right: 1px dashed #c9c9c9;}
  .list2 dt{ background-position:53px -475px;}
  .list2 dd{ display:inline; margin-left:25px; }
  .list2 .list_nav{ left:180px;}
  .list2 .list_nav ul{ padding-top:45px;}
  .list2 .kg_ico{ right:-14px;}
  .ico_jz{ background-position: -60px 0;}
  .ico_kx{  background-position: -80px 0;}
  .ico_yx{ background-position: -100px 0;}
  .ico_dsn{ background-position: -120px 0;}
  .ico_cj7{ background-position: -140px 0;}
  .ico_hl{ background-position: -160px 0;}
  .ico_ty{ background-position: -200px 0;}
  .ico_zf{ background-position: -300px 0;}
  .ico_tmz{ background-position: -280px 0;}
  .ico_my{ background-position: -20px 0;}
  .ico_aoe{ background-position: -360px 0;}
  .ico_af{ background-position: -240px 0;}
  .ico_dk{ background-position: -40px 0;}
  .ico_whtx{ background:url(http://img8.91huo.cn/www/images/11_com/whtx_logo.png) no-repeat 0 0;}
  .ico_hbq{ background-position: -440px 0;}
  .ico_yhzr{ background: url(http://image.tqinteractive.com/www/images/yh_iconxin.jpg) no-repeat; }
  /*game2*/
  .list3{ border-top: 1px dashed #c9c9c9; border-left: 1px dashed #c9c9c9;}
  .list3 dt{ float:right; padding-top: 138px; height: 96px; background-position:71px -705px;}
  .list3 dd{ margin-right:5px; display:inline; margin-left:20px;}
  .list3 .list_nav{ right:180px;}
  .list3 .list_nav ul{ padding-top:45px; padding-left:10px;}
  .list3 .kg_ico{  right:180px; background-position: -136px -141px;;}
  .list3 .kg_ico_on{ background-position: -136px -94px;}
  .ico_fkbl{ background-position: -400px -20px;}
  .ico_zcq{ background-position: -480px -20px;}
  .ico_aoe1{  background-position: -420px -20px;}
  .ico_zg{ background-position: -120px -40px;}
  .ico_xmj{ background-position: -380px -20px;}
  .ico_nc{ background-position: -20px -40px;}
  .ico_wxy{ background: url(http://img9.91huo.cn/www/images/11_com/gameicon.png) no-repeat 0 0;}
  .ico_tzsg{background-position: -140px -40px;}
  .ico_zg{background-position: -120px -40px;}
  .ico_ld{ background:url(http://img2.91huo.cn/www/2014/01/21/addicon140121a.png) no-repeat 0 0;}
  .ico_ttbb{ background:url(http://img2.91huo.cn/www/2014/01/21/addicon140121a.png) no-repeat 0 -40px;}
  .ico_cqzz{ background:url(http://img2.91huo.cn/www/2014/01/21/addicon140121a.png) no-repeat 0 -20px;}
  .ico_mykdb{ background:url(http://img2.91huo.cn/www/2014/01/21/addicon140121a.png) no-repeat 0 -60px;}
  .ico_zjh{background:url(http://img2.91huo.cn/www/2014/01/21/addicon140121a.png) no-repeat -20px -20px;}
  .ico_dw{background:url(http://img2.91huo.cn/www/2014/01/21/addicon140121a.png) no-repeat -20px 0px;}
  /*app*/
  .col_bottom{ padding-bottom:30px;}
  .app_box{ float:left; padding-right: 34px; border-top: 1px dashed #c9c9c9; width:567px; border-right: 1px dashed #c9c9c9; width:567px; height:323px; overflow:hidden; position:relative;}
  .app_nav{ float:left; width:180px; height: 323px; background:#00aeef;}
  .app_nav h3{ padding-top:110px; width:180px; height:41px; background:url(http://img1.91huo.cn/www/images/99com/14v1/spr.png) no-repeat 62px -960px; color:#fff; font-size:18px; text-align:center; font-weight:normal;}
  .app_links{ padding-top:10px; height:110px;}
  .app_links a{ padding-right:50px; display:block; text-align:right; color:#fff; line-height:23px; font-size: 14px;}
  .app_con{ float:right; position:relative; width:374px; height:323px;}
  .app_con li{ width:180px; position:absolute;}
  .app_con .li1{  /*height:300px;*/ height: 150px; top:19px; left:0}
  .app_con_1 .li1 a,.app_con_1 .li1{ height: 300px;}
  .app_con .li2{  height:150px; top:170px; left:0}
  /*.app_con_3 img,.app_con_2 .li1 img,.app_con_2 .li2 img{ width: 180px; height: 123px;}*/
  .app_con .li3{ height:300px; top:19px; right:0}
  .app_con .li3 a{ height:273px;}
  .app_con .li4{  height:150px; top:19px; right:0}
  .app_con .li5{  height:150px; top:170px; right:0}
  .app_con li a{ display:block; height:131px; position:relative;}
  .app_con span{ display:block; width:100%; height:27px; line-height:27px; text-align:center; color:#333; font-size: 14px;}
  .app_con_4 .li1,.app_con_4 .li1 a{ width:374px; height:300px;}
  .app_con_2,.app_con_3,.app_con_4{ display:none;}
  .app_con .app_con_3 .new_li1,.app_con .app_con_3 .new_li5{height: 280px;}
  .app_con .app_con_3 .new_li1 img,.app_con .app_con_3 .new_li5 img{width: 180px;height: 273px;}
  .app_con .app_con_3 .new_li5{top: 19px;}
  /*life*/
  .life{ float:right; width:380px; height:323px; position:relative; background: #f7f7f7; border-bottom: 1px dashed #c9c9c9;}
  .life h3{ float:left; padding-top:168px; width:195px; height:113px; background: url(http://img1.91huo.cn/www/images/99com/14v1/spr.png) no-repeat 67px -1130px; color:#00aeef; font-size:18px; text-align:center; font-weight:normal;}
  .life_con{ position:relative; width:180px;}
  .life .life_con li,.life .life_con li a{ height:111px;}
  .life_con .li1{ top:17px; left:0;}
  .life_con .li2{ top:130px; left:0;}
  .life_con .li3{ top:189px; left:0;}
   .life .app_con_1413 .li2,.life .app_con_1413 .li2 a{ height:191px;} 
  
  
/*服务条款_my*/
.cont_wrapper{ min-height:709px;}
.my1019_main{ background:#fff;min-height:710px;}
.my1019_pt13{ padding-top:13px;}
.my1019_main ul li { margin-bottom:2px;}
.my1019_main ul li a{ width:205px; display:64px; line-height:64px; display:block; background:#00baef; font-size:20px; color:#fff; text-indent:20px;}
.my1019_main ul li a span{ font-size:12px; padding-left:2px;}
.my1019_main ul li a:hover,.my1019_main ul li a.on{ background:#ff7300;}

.cont_my1019{ width:748px; background:#fff; padding:17px 16px 30px 25px; overflow:hidden;}
.cont_my1019 h2{ margin-bottom:10px; height:32px; overflow:hidden; padding-left:36px; font-size:18px;font-weight:normal; background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat left top;}
.cont_my1019 h2 span{ width:500px; display:inline-block; color:#000; padding-top:8px;}
.cont_my1019 h2 em{ padding-left:5px; font-style:normal; color:#afafaf; font-size:12px}
.cont_my1019 h2 span em.hotline_my1019{ font-size:18px; color:#58c8e0;}
.cont_my1019 h3{ color:#58c8e0; font-size:14px; margin-top:15px;}
.cont_my1019 p{ width:714px; color:#000; font-size:12px; line-height:150%;}
.footer_my1019{ padding:50px 0;background:#fff;}
.cont_my1019 h2.zz_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -32px;}
.cont_my1019 h2.yxgw_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -64px;}
.cont_my1019 h2.mall_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -96px;}
.cont_my1019 h2.software_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -128px;}
.cont_my1019 h2.fzzb_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -160px;}
.cont_my1019 h2.lxfs_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -192px;}
.cont_my1019 h2.email_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -224px;}
.cont_my1019 h2.aboutus_my1019{background:url(http://img4.91huo.cn/www/images/11_com/bg_h2_my1019.jpg) no-repeat 0 -256px;}
.zddt_my1019 h3{ padding-left:28px;}
.zddt_my1019 p{ padding-left:56px;width:580px;}
.zddt_my1019 p a{ padding-right:15px;line-height:300%;/*white-space: nowrap;*/}
.lx_my1019 img{ display:block; margin:20px 0 20px 0;}
p.line{ height:1px; overflow:hidden;background:#d2d2d2; margin:10px 0 20px 0;}
.phone_my1019{ width:345px; height:223px; border:1px solid #c8c8c8; background:url(http://img2.91huo.cn/www/images/11_com/pic/bg_about_my10193.jpg) no-repeat 170px 20px #fff;}
.phone_my1019 p{ padding-left:30px; width:150px; color:#656565; font-size:15px; line-height:200%;}
.phone_my1019 p.c1_my1019{ color:#58c8e0; margin-top:10px;}
.xmphone_my1019{ margin-left:15px; width:180px; height:223px; border:1px solid #c8c8c8;}
.xmphone_my1019 h3{ margin-top:5px; padding-left:8px;}
.xmphone_my1019 p.c1_my1019{ color:#58c8e0; margin-top:10px; background:url(http://img6.91huo.cn/www/images/11_com/bg_dot_my1019.jpg) no-repeat 25px 5px;}
.xmphone_my1019 p{ padding-left:50px; width:120px; color:#656565; font-size:13px; line-height:200%;}
.grid_my1019 dd{ position:relative; margin:0 15px 20px; display:inline; width:218px; height:150px; overflow:hidden;}
.grid_my1019 dd span{ padding:0 5px; display:block; height:45px; position:absolute; bottom:0; left:0; color:#fff;}
.grid_my1019 dd span a{ color:#fff;}
.grid_my1019 dd img{ margin:0;}
.grid_my1019 dd .shadow{ width:100%; height:45px; position:absolute; left:0; bottom:0; background:#000; opacity:0.7; filter:alpha(opacity=70);}

.my_con{ position:relative;}
.TabTitle {width:742px; height: 60px; overflow: hidden; font-size:18px; line-height:60px; text-align:center;}
.TabTitle ul { border-top:2px solid #ff8f01; margin:0; padding:0; }
.TabTitle li { float: left; width: 245px; cursor: pointer; padding-top: 4px; padding-right: 0px; padding-left: 0px; padding-bottom: 2px; list-style-type: none;color:#b0b0b0; }
.TabTitle .active {color:#ff8f01; background:url(http://img3.91huo.cn/www/images/11_com/bg_tip_my1019.jpg) no-repeat center top #fff;}

.TabContent {background:#fff; margin: 0px auto; padding:10px 0 0 0; min-height:500px; }
.TabContent p{ font-size:12px; margin-top:20px; text-indent:24px; width:auto; padding:0 5px;}
.TabContent p span,.TabContent p strong{ display:block;line-height: 20px;}
.none_my { display:none; }
.fzlc_my1019 dl{ padding:15px 0;}
.fzlc_my1019 dl dt{ float:left; width:65px; padding:0 20px; text-align: right; color:#fff;}
.fzlc_my1019 dl dt span{ padding-left:5px; height:13px; line-height:13px; display:inline-block;padding-right:10px; background:url(http://img4.91huo.cn/www/images/11_com/bg_fzlcspan_my1019.jpg) no-repeat right center #58c8e0;}
.fzlc_my1019 dl dd{ float:left; padding-left:30px; width:600px; color:#333;}
.fzlc_my1019 dl dd span{ display:inline-block; padding-left: 36px;}
.fzlc_my1019 dl dd b{ padding-right:10px;}

.footer_my1019 a,.footer_my1019{ color:#666;}

.swhz_lj140505 p{ margin-top:10px; padding-left:20px;}

/*蓝色热门推荐的样式*/
.hot-recom{
   height: 203px;
   padding-bottom: 30px;
}
 .hot-recom dt{
   float: left;
   padding-top: 130px;
   height: 73px;
   width: 180px;
   color: #fff;
   font-size: 18px;
   text-align: center;
   background: url("http://img7.91huo.cn/www/images/11_com/pic/160317/icon_hot.png") no-repeat 55px 50px #00baef;
}
 .hot-recom dd{
   float: left;
   padding-left: 25px;
}
 .hot-recom dd a{
   display: block;
   width: 376px;
   height: 203px;
}

/*20160622*/
.cl-site{height: 215px;}
.cl-site dd h4{margin-top: 20px;text-align: center;}
.cl-site dt{height: 70px;}
.cl-site .list_nav{height: 208px;}
.cl-site .ico_fkbl{ background:url(http://img7.91huo.cn/www/images/nd2016/20160621spr.png) 0 -1px;}
.cl-site .ico_zcq{ background:url(http://img7.91huo.cn/www/images/nd2016/20160621spr.png) 0 -69px;}
.cl-site .ico_aoe1{background:url(http://img7.91huo.cn/www/images/nd2016/20160621spr.png) 0 -35px;}
.cl-site .ico_mykdb{ background:url(http://img7.91huo.cn/www/images/nd2016/20160621spr.png) -30px 0;}