/* Search & Filter Styles */
body
{
	display:block;
}
.searchandfilter p
{
	margin-top: 1em;
	display:inline-block;
}
.searchandfilter ul
{
	display:inline-block;
}
.searchandfilter li
{
	list-style: none;
	display:inline-block;
	padding-right:10px;
}

/* If in a widget area make a single column by adding display block  */
.widget-area .searchandfilter li, .widget-area .searchandfilter p
{
	display:block;
}
.searchandfilter label
{
	display:block;
}
.searchandfilter h4
{
	margin:13px 0;
	font-size:13px;
    color: yellow;

}

.searchandfilter ul > li > ul:not(.children)
{
	margin-left:0;
}