@charset "utf-8";
/* CSS Document */
a{ color:#c74a18; text-decoration:none; font-weight:bold}
a:hover{ text-decoration:underline;color:#c74a18; font-weight:bold}
body { margin:0; padding:0; background: #e06939; color: #FFFFFF; font-family: Verdana, Geneva, sans-serif; line-height:1.6}
p{ font-family:Verdana, Geneva, sans-serif; color:#000; font-size:13px; text-align:justify; margin:10px; line-height:1.45}
.centered {font-size: 14px;font-weight: bold;text-align: center;color: #000;line-height: 1.45;margin: 10px;}
.text-center{font-size:20px;color: #000;font-weight: bold;line-height: 1.45;margin: 10px;text-align: center;}
.sidebar-box{background: #ffffff none repeat scroll 0 0;border-radius: 3px;margin-bottom: 0; height:auto}
.header_container {top: 0;left: 0;position: fixed;right: 0;z-index: 1030;background: #fff;border-bottom: 1px solid #762203; height: 100px;}
.header { max-width: 1163px; min-width: 1163px; margin-left: auto; margin-right: auto;}
.header:after { clear: both;}
.logo { float: left; padding-top: 14px;}
.logo-sm{ padding-top:11px; float:left}
.description { color: #000; float: right; font-size: 13px; width: 750px; padding-top: 3px; text-shadow: 1px 1px #fff; float:right}
.description-jp{font-size: 12px;}
.description #default_desc { margin-bottom:5px;}
.container{width: 1200px;padding-top:110px; height:auto;}
.footer {width: 1200px;padding-top:10px; height:auto;}
.pull-left, .pull-right{ width:274px}
.container .url_container { background: none repeat scroll 0 0 #FFFFFF; border-radius: 3px 3px 3px 3px; margin-bottom: 10px;}
.container .url_container .url_head { background: none repeat scroll 0 0 #000; border-top-left-radius: 3px; border-top-right-radius: 3px; font-size: 14px; font-weight: bold; height: 30px; margin-top: 4px;}
.container .url_container .url_body {padding-top: 5px}
.container .url_container .url_body li { font-size: 12px; position: relative;}
.container .url_container .url_body li a { color: #000; border-bottom: #fff 1px dashed; font-weight:normal}
.container .url_container .url_body li a:hover { text-decoration: underline!important;color: #c74a18; font-weight:normal}
.container .url_container .url_head a, .container .url_container .url_head a:hover{ color: #FFFFFF; text-decoration: none; text-shadow: 1px 1px #000000; font-weight:bold}
.container ol { color: #999999; margin-left: -10px; font-size: 15px;}
.container ol  li span { font-size: 15px;}
h2 { font-size: 15px; font-weight: bold;text-align: center; line-height: 28px; background: transparent;margin-top:0px; margin-bottom:0; text-decoration:none}
.icon { top: 2px; width: 16px; height: 16px; margin-right: 3px; position: relative; display: inline-block;}
@media (min-width:400px) and (max-width:1200px){.container, .footer{width:100%;}.pull-left, .pull-right{float: none !important; width:100%}.container {padding-top: 100px;}}
@media only screen and (max-width: 640px) {body {overflow-x: hidden; width: 100%;}.container, .footer { min-width: 0px;width:100%;}.url_body { max-height: 355px;overflow-x:hidden!important }.pull-left, .pull-right{float: none !important; width:100%}.row.partially-hidden{margin:0}.partially-hidden p{margin:-5px;}.footer .row.visible-xs-block{ margin:-5px}}
@media screen and (max-width: 1200px) {.description{ float:left;padding-left: 15px;} #default_desc{ display: none}.logo{ float:none}.logo-sm{ float:none}.container{padding-top: 125px;}}
@media only screen and (max-width: 640px) {.container .url_container .url_body li{font-size: 17px;}.container ol {margin-left: 3px;}.url_body { max-height: 355px;overflow-x:hidden!important }}
/*@media only screen and (max-width: 640px) {body {overflow-x: hidden; width: 100%;}.container { min-width: 0px;width:300px;}.container ol li span {font-size: 15px;line-height: 24px;}
.url_body { max-height: 355px;overflow-x:hidden!important }}
 */
@media(min-width:640px){.btn{display:none}.btn-block{display:none}}
.icon1 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: 0px 0px; }
.icon2 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -16px 0px; }
.icon3 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -32px 0px; }
.icon4 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -48px 0px; }
.icon5 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -64px 0px; }
.icon6 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -80px 0px; }
.icon7 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -96px 0px; }
.icon8 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -112px 0px; }
.icon9 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -128px 0px; }
.icon10 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -144px 0px; }
.icon11 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -160px 0px; }
.icon12 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -176px 0px; }
.icon13 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -192px 0px; }
.icon14 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -208px 0px; }
.icon15 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -224px 0px; }
.icon16 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -240px 0px; }
.icon17 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -256px 0px; }
.icon18 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -272px 0px; }
.icon19 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -288px 0px; }
.icon20 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -304px 0px; }
.icon21 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -320px 0px; }
.icon22 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -336px 0px; }
.icon23 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -352px 0px; }
.icon24 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -368px 0px; }
.icon25 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -384px 0px; }
.icon26 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -400px 0px; }
.icon27 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -416px 0px; }
.icon29 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -432px 0px; }
.icon28 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -448px 0px; }
.icon30 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -464px 0px; }
.icon31 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -480px 0px; }
.icon32 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -496px 0px; }
.icon33 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -512px 0px; }
.icon34 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -528px 0px; }
.icon35 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -544px 0px; }
.icon36 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -560px 0px; }
.icon37 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -576px 0px; }
.icon38 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -592px 0px; }
.icon39 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -608px 0px; }
.icon40 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -624px 0px; }
.icon41 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -640px 0px; }
.icon42 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -656px 0px; }
.icon43 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -672px 0px; }
.icon44 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -688px 0px; }
.icon45 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -704px 0px; }
.icon46 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -720px 0px; }
.icon47 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -736px 0px; }
.icon48 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -752px 0px; }
.icon49 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -768px 0px; }
.icon50 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -784px 0px; }
.icon51 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -800px 0px; }
.icon52 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -816px 0px; }
.icon53 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -832px 0px; }
.icon54 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -848px 0px; }
.icon55 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -864px 0px; }
.icon57 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -880px 0px; }
.icon56 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -896px 0px; }
.icon58 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -912px 0px; }
.icon59 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -928px 0px; }
.icon60 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -944px 0px; }
.icon61 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -960px 0px; }
.icon62 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -976px 0px; }
.icon63 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -992px 0px; }
.icon64 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1008px 0px; }
.icon65 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1024px 0px; }
.icon66 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1040px 0px; }
.icon67 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1056px 0px; }
.icon68 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1072px 0px; }
.icon69 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1088px 0px; }
.icon70 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1104px 0px; }
.icon71 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1120px 0px; }
.icon72 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1136px 0px; }
.icon73 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1152px 0px; }
.icon74 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1168px 0px; }
.icon75 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1184px 0px; }
.icon76 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1200px 0px; }
.icon77 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1216px 0px; }
.icon78 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1232px 0px; }
.icon79 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1248px 0px; }
.icon80 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1264px 0px; }
.icon81 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1280px 0px; }
.icon82 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1296px 0px; }
.icon83 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1312px 0px; }
.icon84 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1328px 0px; }
.icon85 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1344px 0px; }
.icon86 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1360px 0px; }
.icon87 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1376px 0px; }
.icon88 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1392px 0px; }
.icon89 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1408px 0px; }
.icon90 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1424px 0px; }
.icon91 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1440px 0px; }
.icon92 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1456px 0px; }
.icon93 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -1472px 0px; }
.icon94 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: 0px 16px; }
.icon95 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -16px 16px; }
.icon96 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -32px 16px; }
.icon97 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -48px 16px; }
.icon98 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -64px 16px; }
.icon99 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -80px 16px; }
.icon100 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -96px 16px; }
.icon101 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -112px 16px; }
.icon102 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -128px 16px; }
.icon103 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -144px 16px; }
.icon104 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -160px 16px; }
.icon105 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -176px 16px; }
.icon106 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -192px 16px; }
.icon107 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -208px 16px; }
.icon108 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -224px 16px; }
.icon109 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -240px 16px; }
.icon110 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -256px 16px; }
.icon111 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -272px 16px; }
.icon112 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -288px 16px; }
.icon113 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -304px 16px; }
.icon114 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -320px 16px; }
.icon115 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -336px 16px; }
.icon116 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -352px 16px; }
.icon117 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -368px 16px; }
.icon118 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -384px 16px; }
.icon119 { width: 16px; height: 16px; background: url(../images/favicon-all.jpg); background-position: -400px 16px; }

.new-add{ padding-left:5px;}
.new-add-last{padding-left:0;}
.footer{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.footer-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}
.footer-fluid:after,.footer-fluid:before,.footer:after,.footer:before,.footer-fluid:after,.footer:after{display:table;content:" "}
.footer-fluid::after, .container::after{clear: both;}
.footer .sidebar-box{margin-bottom: 10px;}
@media (max-width: 640px) {.icon-review-main .icon-zoom-in{font-size: 1.20em;}.partially-hidden {height: 6em;overflow: hidden;position: relative; }
.partially-hidden:after {position: absolute;bottom: 0;height: 120%;width: 100%;content: "";background: linear-gradient(to top,rgba(255,255,255, 1) 10%,rgba(255,255,255, 0) 90%) /* so the text is still selectable */}}

.btn-primary {background-color: #e06939;border-color: #d05929;color: #fff;}
.btn-primary.focus, .btn-primary:focus{background-color: #f8510e;border-color: #fe4a01;}
.btn-primary:hover{background-color: #f8510e;border-color: #fe4a01;}
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary{background-color: #f8510e;border-color: #fe4a01;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover{background-color: #f8510e;border-color: #fe4a01;}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {background-color: #e06939;border-color: #d05929;}
.btn{ margin-bottom:5px}
.back-to-top, .back-to-top:focus{position: fixed;bottom: 0.1em;right: 0px;text-decoration: none;color: #afacac;font-size: 56px;padding: 0.1em 0.5em;display: none;}
.back-to-top:hover {text-decoration:none;color: #838080;}
h1.title{ text-align:center;font-size: 30px; margin-top:0;text-shadow: 1px 1px #000;}
.footer {margin-left: auto;margin-right: auto;padding-left: 15px;  padding-right: 15px;}
.icon-review-main,.icon-review-main:hover{ color: #BBBBBB;float: right; text-decoration:none; padding-right:5px; padding-top:3px}
@media screen and (max-width: 640px) {.icon-review-main,.icon-review-main:hover{padding-top:0px}}
.dropdown-menu{z-index: 2000;}
@media (min-width:768px){.col-sm-6{float:left}
.visible-xs-block{display:block!important}}

.tooltip-inner {letter-spacing:0.7px;min-width: 240px;max-width: 100%;color:#f3895e;font-weight:bold;}
.tooltip-arrow{display:inline-block;}

@media (max-width:992px) {.tooltip.left{display: none !important}}
@media (max-width: 350px){.sp-small{ padding-right:25px}}
@media (max-width: 540px){.col-xs-6{ width: 100%}}
@media (min-width:992px) {.padd-right{padding-right:10px}}
@media screen\0 {h2{ font-size: 14px;}}

.url_body ol li .icon-review-main, .url_body ol li .icon-review-main { transition: all .2s ease-in-out; }
.col-md-4 .icon-review-main, .col-md-4 .icon-review-main { transition: all .2s ease-in-out; }
.hover .icon-review-main { transform: scale(1.5); color: #000000; }
.prev-one .icon-review-main, .next-one .icon-review-main { transform: scale(1.25); color: #444444; }
.prev-two .icon-review-main, .next-two .icon-review-main { transform: scale(1.1); color: #999999; }
@media screen and (max-width:992px){.url_body ol li .icon-review-main { transition: none}.col-md-4 .icon-review-main, .col-md-4 .icon-review-main{ transition: none}.hover .icon-review-main {transform: none}.prev-one .icon-review-main, .next-one .icon-review-main, .prev-two .icon-review-main, .next-two .icon-review-main{ transform: none}}
.siteimages .img-responsive {display:inline}
.siteimages{ text-align: center}
@media only screen and (min-width:325px){.langcode{display:none}}
@media screen and (max-width:325px){.fullname{ display: none}.url_body ol li .icon-review-main {margin-top: 6px;}}


