@charset "utf-8";
.flag{ display: inline-block;margin-left:5px}
.icones1 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: 0px 0px; }
.icones2 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -16px 0px; }
.icones3 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -32px 0px; }
.icones4 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -48px 0px; }
.icones5 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -64px 0px; }
.icones6 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -80px 0px; }
.icones7 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -96px 0px; }
.icones8 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -112px 0px; }
.icones9 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -128px 0px; }
.icones10 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -144px 0px; }
.icones11 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -160px 0px; }
.icones12 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -176px 0px; }
.icones13 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -192px 0px; }
.icones14 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -208px 0px; }
.icones44 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -224px 0px; }
.icones45 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -240px 0px; }
.icones46 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -256px 0px; }

.icones15 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: 0px -16px; }
.icones43 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -16px -16px; }
.icones48 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -32px -16px; }
.icones49 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -48px -16px; }
.icones50 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -64px -16px; }
.icones51 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -80px -16px; }
.icones52 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -96px -16px; }
.icones54 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -112px -16px; }

.icones16 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: 0px -32px; }
.icones17 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -16px -32px; }
.icones18 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -32px -32px; }
.icones19 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -48px -32px; }
.icones20 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -64px -32px; }
.icones21 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -80px -32px; }
.icones22 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -96px -32px; }
.icones23 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -112px -32px; }
.icones24 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -128px -32px; }
.icones25 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -144px -32px; }
.icones26 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -160px -32px; }
.icones27 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: 0px -48px; }
.icones28 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -16px -48px; }
.icones29 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -32px -48px; }
.icones30 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -48px -48px; }
.icones53 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -64px -48px; }
.icones31 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: 0 -64px; }
.icones32 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -16px -64px; }
.icones33 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -32px -64px; }
.icones34 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -48px -64px; }
.icones35 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -64px -64px; }
.icones36 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -80px -64px; }
.icones37 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -96px -64px; }
.icones38 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -112px -64px; }
.icones39 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: 0 -80px; }
.icones40 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -16px -80px; }
.icones41 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -32px -80px; }
.icones42 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -48px -80px; }
.icones47 { width: 16px; height: 16px; background: url(../images/favicon-languages.jpg); background-position: -64px -80px; }
.g-plusone{display:inline-block;}
#___plusone_0{width:75px !important;}
.FP {width:30px !important}
.bp .Oy {margin: 1px 2px !important}
.flag-es{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: 0px 0px}
.flag-it{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -15px 0px}
.flag-de{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -30px 0px}
.flag-nl{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -45px 0px}
.flag-pt{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -60px 0px}
.flag-sv{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -75px 0px}
.flag-fr{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -90px 0px}
.flag-gr {width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -105px 0px}
.flag-jp{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -120px 0px}
.flag-pl{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -135px 0px}
.flag-tr{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -150px 0px}
.flag-hu{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -165px 0px}
.flag-ru{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -180px 0px}
.flag-ar{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -195px 0px}
.flag-ro{ width: 15px; height: 10px; background: url(../images/flags-sm.jpg); background-position: -210px 0px}

.header_container_lg{top: 0;left: 0;position: fixed;right: 0;z-index: 1030;background: #fff;border-bottom: 1px solid #762203;height: 120px;}
.new-add {vertical-align: top;padding-top: 6px;}
.container-lg{padding-top: 130px}
.dropdown{width:135px;float:right;font-size:12px;}
.dropdown button.dropdown-toggle{width: 135px; padding:0}
.dropdown-toggle, .dropdown-toggle:active, .dropdown-toggle:focus{background: #fff none repeat scroll 0 0; border: 1px solid #ccc;border-radius: 0;overflow: hidden;white-space: nowrap;}
.dropdown span.flag-big{ margin:0}
.dropdown span.flags-en { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: 0px 0px; }
.dropdown span.flags-es { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -26px 0px; }
.dropdown span.flags-it { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -52px 0px; }
.dropdown span.flags-de { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -78px 0px; }
.dropdown span.flags-nl { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -104px 0px; }
.dropdown span.flags-pt { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -130px 0px; }
.dropdown span.flags-sv { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -156px 0px; }
.dropdown span.flags-fr { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -182px 0px; }
.dropdown span.flags-gr { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -208px 0px; }
.dropdown span.flags-jp { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -234px 0px; }
.dropdown span.flags-pl { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -260px 0px; }
.dropdown span.flags-tr { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -286px 0px; }
.dropdown span.flags-hu { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -312px 0px; }
.dropdown span.flags-ru { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -338px 0px; }
.dropdown span.flags-ar { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -364px 0px; }
.dropdown span.flags-ro { width: 26px; height: 16px; background: url(../images/flags-big.jpg); background-position: -390px 0px; }
.dropdown-menu span.flag-big{padding-right: 26px; margin-left:3px; font-size: 13px}
.dropdown-toggle span.flag-big{padding-right: 26px; margin-left:0; font-size: 13px}
.dropdown-menu span.language, .dropdown-toggle span.language{padding-left:5px; height:16px; color:#000}
.caret{ margin: 2px 0 5px 5px}
.car-en, .car-hu {margin: 2px 10px 5px 30px;}
.car-pt {margin: 2px 5px 5px 15px}
.car-es {margin: 2px 10px 5px 25px}
.car-fr{margin: 2px 6px 5px 26px}
.car-it{ margin:2px 10px 5px 26px}
.car-de{margin: 2px 8px 5px 26px;}
.car-nl{margin: 2px 4px 5px 0}
.car-gr{margin: 2px 4px 5px 26px}
.car-jp{margin: 2px 4px 5px 44px;}
.car-pl{margin: 2px 4px 5px 45px;}
.car-tr{margin: 2px 8px 5px 50px;}
.car-ru{margin: 2px 6px 5px 28px}
.car-ar {margin: 2px 8px 5px 43px;}
.dropdown-menu {border-radius: 0;font-size: 12px;margin: 0;padding: 0;border-image: none; border: 1px solid #ccc; border-top:none; min-width:100%;text-shadow:none; float:none; position:inherit;}
.dropdown-menu > li > a, .dropdown-menu > li > a:hover{ padding:0;text-shadow: none; color:#000;line-height:inherit}
.dropdown-menu > li > a:hover{ background-color:#dcd5d5}
ul.dropdown-menu li.second{border-top: 1px solid #ccc;}
@media screen and (max-width: 1200px) {.car-ar{margin: 2px 8px 5px 41px}.header_container, .header_container_lg{height: 120px}.container {padding-top: 130px;}.description {padding-left: 12px; width:auto}.dropdown{bottom: 10px;position: absolute;right: 15px;display: block !important;float: right;}}
/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {.dropdown-menu span.flag-big, .dropdown-toggle span.flag-big{font-size: 12px}.car-pt {margin: 2px 5px 5px 19px}.car-es {margin: 2px 9px 5px 32px}.car-fr{margin:2px 5px 5px 30px}.car-it{ margin:2px 11px 5px 28px}.car-de{ margin:2px 7px 5px 28px}.car-nl{margin: 2px 8px 5px 3px;}.car-en{margin: 2px 10px 5px 32px;}car-ru {margin: 2px 8px 5px 28px;}.dropdown{ margin:0; padding:0}}
@media screen and (max-width: 420px) {.dropdown-toggle span.language { display:none;}.dropdown button.dropdown-toggle{width: 43px}.dropdown-toggle{padding-left:0; padding-right:0}.dropdown-menu{width:43px;padding-left: 0;padding-right: 0;}.dropdown-menu span.language, .dropdown-menu span.language-en { display:none;}.dropdown-menu > li > a, .dropdown-menu > li > a:hover {padding: 0;}.dropdown span.flag-big{margin: 0 2px;}.dropdown-menu span.flag-big{ margin-left:2px}.caret {margin: 2px 3px 5px 1px}.dropdown{width: 43px; right:15px}.new-add{padding-top:7px;}}
@media screen and (max-width: 375px){.dropdown{right:5px; bottom:18px}.description{padding-left: 6px}}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 980px) {.car-pl{margin: 2px 4px 5px 47px;}.car-pt {margin: 2px 10px 5px 19px}.car-es{margin: 2px 15px 5px 27px}.car-fr {margin: 2px 15px 5px 24px}.car-it{margin: 3px 10px 4px 35px}.car-ar {margin: 2px 8px 5px 50px;}.car-gr{margin: 2px 4px 5px 32px}.car-en, .car-hu {margin: 2px 10px 5px 35px;}.car-de{margin: 3px 10px 4px 30px}.car-nl{margin: 3px 5px 4px 15px}.car-jp{margin: 2px 4px 5px 46px;}}
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 420px){.dropdown{ width:43px} .car-en, .car-ar, .car-de, .car-gr, .car-es, .car-fr, .car-jp, .car-it, .car-hu, .car-nl, .car-pl, .car-pt, .car-ro, .car-ru, .car-sv, .car-tr{margin: 2px 3px 5px 1px}}
@media only screen and (min-width:330px){.fbk-sm{display:none;}.fbk{border:none; overflow:hidden; width:auto; max-width:140px;height:20px}}
@media only screen and (max-width:330px){.fbk{display:none;}.fbk-sm{border:none; overflow:hidden;width:124px; height:20px;}}
@media screen\0 {.dropdown-menu span.flag-big, .dropdown-toggle span.flag-big{font-size: 12px}.car-ar{margin: 2px 8px 5px 41px}.car-hu{margin: 2px 10px 5px 28px}.car-tr {margin: 0 8px 2px 48px}.car-ru{margin:0px 6px 5px 28px}.car-pt {margin: 2px 5px 5px 19px}.car-es {margin: 2px 11px 5px 27px}.car-fr{margin:2px 6px 5px 26px}.car-it{ margin:2px 12px 5px 26px}.car-de{ margin:2px 8px 5px 26px}.car-nl{margin:2px 8px 5px 0}.dropdown-menu{font-size: 13px;}.dropdown-toggle span.flags-jp {padding-top: 1px; padding-bottom:0}}
