.video-item.pornstar-item .video-thumb .image.image-ar {padding-top:137%;}
#pornstar-bio {padding-left:10px;padding-right:10px;float:left;width:100%;}
#pornstar-bio > .row {clear:both;margin-right:0;margin-left:0px;} 
.mrb {margin-bottom:20px;}
#pornstar-bio .col-left img{max-width:100%;}
#pornstar-bio .col-right {font-size:13px;float:left;width:100%;}
.aside-content::before,
.aside-content::after {display:block;clear:both;content:" ";}
.aside-content {padding-left:200px;}
.aside-content .col-left{width:180px;;margin-left:-200px;margin-bottom:20px;}
.aside-content .col-right{width:100%;padding:0;margin-bottom:20px;}
@media (max-width:550px) {
    #pornstar-bio .aside-content {padding-left:0;}
    #pornstar-bio .aside-content .col-left {width:100%;margin-left:0;}
    .filter-group {float:left;width:50%;}
    .filter-group:nth-child(2n+1) {clear:both;}
}

.model-scroll {height:191px;overflow: auto;}
.filters ul li.quality.quaility-wide a {width:auto;}
ul.sort-list {padding:0;margin:0 0 20px 0;}
ul.sort-list li{padding:0;margin:0 0 0px 0; list-style-type: none;font-size:13px;}
ul.sort-list li a{display:block;padding:1px 0;}
ul.sort-list li a.active{color:white;}
.content-page.all-tags{
    padding: 0 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.section-header{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    line-height: 26px;
    padding: 7px 0;
    position: relative;
    display: block;
    height: 55px;

}
.section-header:after {
    clear: both;
    content: "";
    display: table;
}
.taxonomy a{
    background-color: #f6d0d3;
    border: 1px solid #e52637;
    color: #e52637;
    display: inline-block;
    font-family: "Lato";
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin: 2px;
    padding: 0 4px;
}
.page-part.top-tags .taxonomy a{
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px;
}
.page-part.top-tags{
    border-bottom: 1px solid #2f2f2f;
    margin-bottom: 16px;
    padding: 5px 0 13px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.page-part.top-tags .section-title{
    font-size: 16px;
}
.section-title{
    color: #d90074;
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}
.page-part.tag-search{
    border-color: #2f2f2f;
    border-style: solid;
    border-width: 1px 0;
    padding: 20px 0;
}
.page-part.tag-search .search-form{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    max-width: 560px;
}
.page-part.tag-search .search-form .wrap{
    background: none repeat scroll 0 0 white;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 5px 0;
}
.search-form input[type="text"]{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: #333333;
    font-family: "Lato";
    height: 28px;
    line-height: 15px;
    margin: 0;
    outline: medium none;
    padding: 2px 41px 2px 12px;
    width: 100%;
}
.search-form button{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    color: #e52637;
    cursor: pointer;
    font-size: 18px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: color 0.5s ease 0s;
    width: 40px;
}
.page-part.tag-search .search-form button{
    color: #202020;
    margin-top: 5px;
}
.letters {
    font-size: 0;
}
.letters a {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: white;
    display: inline-block;
    font-size: 14px;
    min-width: 38px;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.letters a span {
    background-color: #202020;
    display: block;
    line-height: 34px;
    padding: 0 9px;
    text-align: center;
}
.letters a:hover span, .letters a.active span{
    background-color: #d90074;
    display: block;
    line-height: 34px;
    padding: 0 9px;
    text-align: center;
}
.letters a:hover span, .letters a.active span{
    background-color: #d90074;
}
.tag-group a{
    color: #808080;
    display: block;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 0;
    text-decoration: none;
}
.tag-group a small{
    color: #fff;
}
.tag-group{
    padding-bottom: 20px;
}
.video-item .video-thumb .image.image-ar{
    background-color: black;
    display: block;
    overflow: hidden;
    padding: 72.73% 0 0;
    position: relative;
    z-index: 11;
}
.video-item .video-thumb .image.image-ar span{
    display: block;
    position: absolute;
    right: 0; 
    bottom: 0;
    padding: 5px 8px;
    background: #000;
    color: #fff;
    font-size: 12px;
}
.video-item .video-thumb .image img{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: -2% 0 0px 0px;
}
.notification.info{
    width: 100%;
}
#profile{
    margin-top: 0;
}

#profile .send-message input[type="text"], #profile .send-message textarea, #profile .add-wall-post textarea, .sendCommentsBox textarea{
    max-width: 100%;
}

#profile .general .picture,
#profile .general .picture img{
    width: 100%;
}

.my_profile thead td{
    background-color: #282828;
    border-bottom: 1px solid #434343;
}

#formUpload #txtFileName{
    background: transparent;
}

.btn-share { 
    text-transform: uppercase; 
    padding: 0 12px 0 42px; 
    background-repeat: no-repeat; 
    background-position: 11px 50%; 
    background-image: url("../images/icoShare.png"); 
    margin-right: 5px;
    float: right;
}
.reportBox{
    display: none;
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.reportBox h5{
    font-size: 20px;
    color: #d90074;
    width: 100%;
    margin: 10px 0;
}
.reportBox .leftReport,
.reportBox .rightReport{
    width: 50%;
    float: left;
}
.reportBox .leftReport label{
    width: 100%;
    display: inline-block;
    clear: both;
    font-size: 12px;
}
.reportBox .leftReport label span{
    margin-left: 10px;
}
.reportBox .rightReport input,
.reportBox .rightReport label,
.reportBox .rightReport i,
.reportBox .rightReport textarea{
    width: 100%;
    display: inline-block;
    clear: both;
    font-size: 12px;
}
.reportBox .rightReport input{
    padding: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.reportBox .rightReport input[type=submit]{
    padding: 6px 25px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    float: left;
    background: #d90074;
    border: 0;
    display: block;
    width: auto;
}

.reportBox .notification{
    width: 100%;
    margin-top: 20px;
    float: left;
}

#categoriesBox a{
    font-size: 16px;
}
.banner-mobile-header{
    display: none;
    margin-top: 20px;
    text-align: center;
}
.paysite-rank{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    color: #fff;
    padding: 6px 0px;
    text-align: center;
    font-size: 13px;
    z-index: 99;
    line-height: 17px;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.paysite-rank i{
    font-style: normal;
    clear: both;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.video-item .video-thumb{
    position: relative;
}

.paysite-rank-info i{
    color: #fff;
    background: #008be0;
    font-size: 16px;
    padding: 5px 13px;
    font-style: normal;
}

.not-active {
    pointer-events: none;
    cursor: default;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.section-header::after {
    clear: both;
    content: "";
    display: table;
}
.tag-group .section-header {
    clear: both;
    padding: 15px 0;
}
.section-header {
    box-sizing: border-box;
    line-height: 26px;
    padding: 7px 0;
    position: relative;
}
.all-tags .columns-wrap {
    max-height: 110px;
    overflow: hidden;
}
.tag-group .column {
    float: left;
    margin-bottom: 10px;
    width: 19%;
}
.window .video-item:nth-of-type(7),
.window .video-item:nth-of-type(8){
    display: none;
}

.sortable-list ul li.hidden_on_start{
    display: none;
}
#showMoreCategories{
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    background: #292929;
    clear: both;
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 1034px) {
    .banner-mobile-header{
        display: block;
    }    
    .tag-group .column {
        width: 25%;
    }
    .window .video-item:nth-of-type(7),
    .window .video-item:nth-of-type(8){
        display: block;
    }        
    #showMoreCategories{
        display: inline-block;
    }
    .leftCollumn{
        display: none;
    }
}

@media screen and (max-width : 750px) {
    section#top-stripe .register{
        text-align: center;
    }
    section#top-stripe .register a{
        float: none;
        display: inline-block;
        padding: 0 20px;
        margin-bottom: 10px;
    }
    section#top-stripe .small-links ul{
        text-align: center;
    }  
    #formUpload td {
        clear: both;
        display: inline-block;
        max-width: 100%;
        width: 100%;
    }
    #formUpload input[type="text"], #formUpload textarea {
        width: 100%;
        max-width: 500px;
    }
    .video-item.category-item{
        width: 33%;
        clear: none;
    }
    .leftCollumn{
        display: none;
    }
    .tag-group .column {
        width: 33.3%;
    }
}

@media screen and (max-width : 480px) {
    .sort_links {
        float: right;
        font-size: 13px;
        line-height: 35px;
        margin-top: 0;
        padding-bottom: 12px;
        text-align: center;
        width: 100%;
    }
    .sort_links a:last-child{
        white-space: nowrap;
    }
    .heading-row h2{
        width: 100%;
        text-align: center;
    }
    .filters ul{
        width: 100%;
        margin-left: 0;
    }
    .filters{
        width: 100%;
        text-align: center;
    }
    .filters ul li{
        float: none;
        display: inline-block;
    }
    .filters ul li:first-child{
        margin-left: 0;
    }
    .reportBox .leftReport,
    .reportBox .rightReport{
        width: 100%;
        float: left;
    }   
    .video-item.category-item{
        width: 50%;
        clear: none;
    }    
    .leftCollumn{
        display: none;
    }
    .paysiteHead{
        width: 100%;
    }
    .paysiteHead:last-child{
        padding-top: 20px;        
    }
    .banner-mobile-header{
        display: block;
    }   
    .video-item .stats{
        font-size: 9px;
    }
    .tag-group .column {
        width: 50%;
    }
}
a.closeReply{
    position: absolute;
    right: 0;
    top: 0;
}
ul.paysiteStats{
    margin: 0;
    float: left;
    padding: 0;
}
ul.paysiteStats li{
    list-style-type: none;
    float: left;
    margin-right: 20px;
}
ul.paysiteStats li i{
    font-size: 16px;
}

.paysiteBanner img{
    max-width: 100%;
}
.btns-group,
.item-stats {overflow:hidden;margin-bottom:10px;}


#likePaysite, .btn-primary{
    display:inline-block;
    color: #fff;
    background: #d90074;
    font-size: 16px;
    padding: 5px 20px;
}
#likePaysite:hover, .btn-primary:hover{
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
#addFav{
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding: 5px 20px;
    border: 1px solid #434343;
}
#addFav:hover{
    color: #d90074;
    text-decoration: none;
}
.del-fav{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 11px;
    z-index: 9999;
}
#comments .contents.comments{
    display: none;
}
#showAllComments{
    float: right;
}
.paysite-subsort .sort_links a:last-child{
    margin: 0; 
    padding: 0; 
    background: transparent; 
    color: #d90074;  
}
.paysite-subsort{
    padding-bottom: 20px; 
    clear: both;      
}
.sort_links a.active{
    color: #fff !important;
}
.video-item .video-time{
    z-index: 9999;
    bottom: 0;
}
.ui-autocomplete{
    z-index: 9999 !important;
}
.forms-wrapper input[type="text"], 
.forms-wrapper input[type="password"], 
.forms-wrapper select, 
.forms-wrapper textarea{
    width: 100% !important;
    max-width: 300px !important;
}
.tags-container ul li{
    margin-top: 5px;
}
.videoDeletedBox{
    background: #000;
    width: 100%;
    height: 100%;
    text-align: center;
}
.videoDeletedBox{
    padding: 124px 0;
}
.video-container .main-video .videoDeletedBox img{
    width: 167px;
    height: 167px;
    display: inline-block;
}
.video-container .main-video .videoDeletedBox b{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
}
.video-container .main-video .videoDeletedBox span{
    font-size: 27px;
    color: #535353;
    display: inline-block;
}