/*  Custom Nhance SCSS Framework (c) + Bootstrap 3.2 Created : 2013.12.02 | Update : 2014.09.05 Author : Pawel Miatkowski
*/
html { font-size: 16px; }

body { font-family: "Open Sans", Arial, Helvetica, Sans-serif; color: white; background-color: black; }

.common-bg { background-color: #181818; *zoom: 1; clear: both; }
.common-bg:before, .common-bg:after { display: block; clear: both; content: " "; }

.ad img{
    max-width: 100%;
}

.strong { font-weight: 700; }

.fleft { float: left; }

.fright { float: right; }

span.clear { *zoom: 1; clear: both; }
span.clear:before, span.clear:after { display: block; clear: both; content: " "; }
span.sup { font-size: 12px; font-size: 0.75rem; line-height: 0; vertical-align: super; }

a { color: #d90074; text-decoration: none; -moz-transition: color 0.25s ease-in; -webkit-transition: color 0.25s ease-in; -khtml-transition: color 0.25s ease-in; -ms-transition: color 0.25s ease-in; -o-transition: color 0.25s ease-in; transition: color 0.25s ease-in; }
a:hover, a:focus { color: #ff0d8e; }
a.onepx { position: absolute; display: block; top: 0; left: 0; bottom: 0; right: 0; }
a.onepx img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; font-weight: 300; line-height: 1.2em; color: white; }

h1, h2, h3 { margin-top: 8px; margin-bottom: 12px; }

h1, .h1 { font-size: 24px; font-size: 1.5rem; }

h2, .h2 { font-size: 24px; font-size: 1.5rem; }

h3, .h3 { font-size: 20px; font-size: 1.25rem; }

h4, .h4 { font-size: 18px; font-size: 1.125rem; }

h5, .h5 { font-size: 16px; font-size: 1rem; }

h6, .h6 { font-size: 14px; font-size: 0.875rem; }

table { width: 100%; }
table tr td, table tr th { padding: 4px; }
table tr > td { font-size: 14px; font-size: 0.875rem; }
table tr:hover > td { }

.thumbnail { -moz-border-radius: 0; -webkit-border-radius: 0; -khtml-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }

.btn { color: white; text-align: center; display: inline-block; }
.btn:hover { text-decoration: none; }

.btn-default { background-color: #d90074; }
.btn-default:hover { color: #ff8dca; }

.btn-fav { text-transform: uppercase; padding: 0 12px 0 42px; background-repeat: no-repeat; background-position: 11px 50%; background-image: url("../images/icon_fav.png"); }

button.nav-opener { font-weight: 700; font-size: 14px; font-size: 0.875rem; text-transform: uppercase; padding: 8px 0; }
button.nav-opener.active { color: #d90074; }
button.nav-opener span { display: inline-block; }
button.nav-opener span:before { display: block; content: "\f0c9"; font-family: "FontAwesome"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; margin: 0 10px 0 3px; }

.take-left-gap { margin-left: -20px; }

.take-right-gap { margin-right: -20px; }

section#top-stripe { background-color: #181818; }
section#top-stripe .row { height: 26px; line-height: 26px; }
section#top-stripe .small-links ul { padding: 0; margin: 0; }
section#top-stripe .small-links ul li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
section#top-stripe .small-links ul li { display: inline-block; font-size: 10px; font-size: 0.625rem; margin-right: 15px; }
section#top-stripe .small-links ul li:last-child { margin-right: 0; }
section#top-stripe .small-links ul li a { color: #a0a0a0; display: block; }
section#top-stripe .register a { display: block; font-size: 12px; font-size: 0.75rem; }
section#top-stripe .register a:hover { color: #ff8dca; text-decoration: none; }
section#top-stripe .register a span { margin-right: 14px; display: inline-block; }
section#top-stripe .register a span:before { display: block; content: "\f007"; font-family: "FontAwesome"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: white; font-size: 14px; font-size: 0.875rem; }

header { height: 79px; }
header #logo { height: 79px; line-height: 74px; }
header #logo img { width: 100%; height: auto; max-width: 161px; }
header #search-module { margin-top: 21px; }
header #search-module .inner-wrapper { position: relative; }
header #search-module input[type="text"] { background-color: white; width: 100%; height: 37px; border: none; line-height: 37px; padding: 0 40px 0 12px; }
header #search-module button { position: absolute; top: 0px; right: 10px; bottom: 0; height: 37px; line-height: 37px; }
header #search-module button span.icon:before { display: block; content: "\f002"; font-family: "FontAwesome"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #d90074; text-indent: 0; font-size: 18px; font-size: 1.125rem; }
header #search-module button span.text { display: none; }

nav#menu-main .inner-wrapper { border-top: 1px solid #d90074; border-bottom: 1px solid #d90074; }
nav#menu-main ul { padding: 0; margin: 0; *zoom: 1; clear: both; }
nav#menu-main ul li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
nav#menu-main ul:before, nav#menu-main ul:after { display: block; clear: both; content: " "; }
nav#menu-main ul li { float: left; margin-right: 20px; font-size: 16px; font-size: 1rem; font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; font-weight: 300; }
nav#menu-main ul li a { display: block; color: white; line-height: 50px; }
nav#menu-main ul li a:hover, nav#menu-main ul li.active a { color: #d90074; text-decoration: none; }
nav#menu-main ul li.discounted a { color: #ff0000; }
nav#menu-main ul li.discounted a:hover { color: #47b8ff; }
nav#menu-main ul li.upload { margin: 0; }
nav#menu-main ul li.upload a { line-height: 34px; margin-top: 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #545454; background: -moz-linear-gradient(top, #545454 0%, #14384d 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545454), color-stop(100%, #14384d)); background: -webkit-linear-gradient(top, #545454 0%, #14384d 100%); background: -o-linear-gradient(top, #545454 0%, #14384d 100%); background: -ms-linear-gradient(top, #545454 0%, #14384d 100%); background: linear-gradient(to bottom, #545454 0%, #14384d 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#545454', endColorstr='#14384d',GradientType=0 ); position: relative; padding: 0 18px 0 35px; }
html.no-filter nav#menu-main ul li.upload a { filter: none; }
nav#menu-main ul li.upload a:before { -moz-transition: background-position 0.25s ease-in; -webkit-transition: background-position 0.25s ease-in; -khtml-transition: background-position 0.25s ease-in; -ms-transition: background-position 0.25s ease-in; -o-transition: background-position 0.25s ease-in; transition: background-position 0.25s ease-in; top: 10px; left: 14px; position: absolute; display: block; content: ""; width: 10px; height: 10px; background-color: transparent; background-repeat: repeat-y; background-position: 0 0%; background-image: url("../images/icon_arrow_top.png"); }
nav#menu-main ul li.upload a:hover:before { -moz-animation-fill-mode: both; -webkit-animation-fill-mode: both; -khtml-animation-fill-mode: both; -ms-animation-fill-mode: both; -o-animation-fill-mode: both; animation-fill-mode: both; -moz-animation-duration: 1s; -webkit-animation-duration: 1s; -khtml-animation-duration: 1s; -ms-animation-duration: 1s; -o-animation-duration: 1s; animation-duration: 1s; -moz-animation-name: bganim; -webkit-animation-name: bganim; -khtml-animation-name: bganim; -ms-animation-name: bganim; -o-animation-name: bganim; animation-name: bganim; -moz-animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite; -khtml-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.rating-module { *zoom: 1; clear: both; padding: 0; margin: 0; }
.rating-module:before, .rating-module:after { display: block; clear: both; content: " "; }
.rating-module li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
.rating-module li { margin-right: 5px; float: left; }
.rating-module li:before { display: block; content: "\f005"; font-family: "FontAwesome"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 14px; font-size: 0.875rem; font-weight: 400; }
.rating-module li.active:before { color: #d90074; }

.video-desc .ratings{
    clear: both;
    margin: 0;
    padding: 0;
    width: 90px;
}
.video-desc .ratings .starOff{
    width: 90px;
    height: 13px;
    background: url(../images/stars.png) repeat-x 0 0;
}
.video-desc .ratings .starOn{
    height: 13px;
    background: url(../images/stars.png) repeat-x 0 -13px;
}

#top-advert .inner-wrapper { background-color: #2f2f2f; padding: 116px 0; text-align: center; }

.video-item { -moz-transition: all 0.25s ease-in-out; -webkit-transition: all 0.25s ease-in-out; -khtml-transition: all 0.25s ease-in-out; -ms-transition: all 0.25s ease-in-out; -o-transition: all 0.25s ease-in-out; transition: all 0.25s ease-in-out; }
.video-item:hover { -moz-transform: scale(1.05); -webkit-transform: scale(1.05); -khtml-transform: scale(1.05); -ms-transform: scale(1.05); -o-transform: scale(1.05); transform: scale(1.05); }
.video-item .inner-wrapper { position: relative; border-bottom: 5px solid #2f2f2f; margin-bottom: 24px; }
.video-item .video-thumb { position: relative; }
.video-item .video-thumb .image { position: relative; overflow: hidden; }
.video-item .video-thumb .image img { width: 110%; height: auto; margin: -5% 0 0 -5%; }
.video-item .video-time { position: absolute; bottom: 12px; right: 0px; white-space: nowrap; }
.video-item .video-time span { float: left; margin-left: 1px; background-color: rgba(0, 0, 0, 0.9); color: white; font-weight: 700; font-size: 10px; font-size: 0.625rem; line-height: 19px; padding: 0 5px; }
.video-item .video-desc { background-color: black; *zoom: 1; clear: both; padding: 5px 9px; }
.video-item .video-desc:before, .video-item .video-desc:after { display: block; clear: both; content: " "; }
.video-item .title { margin-bottom: 2px; white-space: nowrap; font-size: 16px; font-size: 1rem; font-weight: 700; font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; overflow: hidden; position: relative; }
.video-item .title:after { width: 120px; position: absolute; display: block; content: ""; top: 0; bottom: 0; right: 0; background-color: transparent; background-repeat: repeat-y; background-position: 0 0%; background-image: url("../images/title_shade.png"); z-index: 5; }
.video-item .title a { position: relative; z-index: 4; text-decoration: none; }
.video-item .stats { font-size: 11px; font-size: 0.6875rem; *zoom: 1; clear: both; margin-bottom: 3px; white-space:nowrap;overflow:hidden;}
.video-item .stats:before, .video-item .stats:after { display: block; clear: both; content: " "; }
.video-item .stats span { margin-right: 13px; }
.video-item .stats span.added-stats { margin: 0; }

section.sep .wrapper .row.content-row { padding-bottom: 10px; }
section.sep .wrapper .row.content-row:after { height: 1px; background-color: #d90074; display: block; content: ""; margin: 5px 10px 0 10px; }

ul.pagination { padding: 0; margin: 0; *zoom: 1; clear: both; margin-bottom: 24px; }
ul.pagination li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
ul.pagination:before, ul.pagination:after { display: block; clear: both; content: " "; }
ul.pagination li { float: left; margin: 0 3px 0 0; }
ul.pagination li:last-child { margin: 0; }
ul.pagination li span, ul.pagination li a { display: block; font-size: 12px; font-size: 0.75rem; font-weight: 700; color: white; height: 28px; line-height: 28px; width: 28px; text-align: center; }
ul.pagination li a { background-color: #2f2f2f; text-decoration: none; }
ul.pagination li a:hover { background-color: #d90074; }
ul.pagination li span { background-color: #d90074; }
ul.pagination li.prev a, ul.pagination li.next a { width: auto; padding: 0 15px; background-color: #d90074; }

.right-ads .side-ad { margin-bottom: 20px; }
.right-ads .side-ad img { width: 100%; height: auto; margin: 0.168%;}

.video-container .main-video img { width: 100%; height: auto; }
.video-container .main-gallery img { width: 33%; height: auto; margin: 0.168%;}
.video-container {}
.video-container .player-stretched {position:relative;}
.video-container .player-stretched span.stretcher {display:block;}
.video-container .player-stretched span.stretcher img {width:100%;height:auto;}
.video-container .player-stretched #player.main-video {width:100% !important;height:100% !important;position:absolute;top:0;left:0;right:0;bottom:0;display:block;}
.video-container .player-stretched #player.main-video a {width:100% !important;height:100% !important;position:absolute;top:0;left:0;right:0;bottom:0;display:block;}
.video-container .player-stretched #player.main-video iframe,
.video-container .player-stretched #player.main-video video,
.video-container .player-stretched #player.main-video embed,
.video-container .player-stretched #player.main-video object {width:100% !important;height:100% !important;position:absolute;top:0;left:0;right:0;bottom:0;display:block;}
.video-nav { line-height: 30px; font-size: 12px; font-size: 0.75rem; *zoom: 1; clear: both; border-bottom: 5px solid #2f2f2f; margin-bottom: 12px; }
.video-nav:before, .video-nav:after { display: block; clear: both; content: " "; }
.video-nav .inner-padding { *zoom: 1; clear: both; padding: 8px 0; }
.video-nav .inner-padding:before, .video-nav .inner-padding:after { display: block; clear: both; content: " "; }
.video-nav .main-stats { float: left; }
.video-nav .main-stats ul { padding: 0; margin: 0; }
.video-nav .main-stats ul li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
.video-nav .main-stats ul li { background-color: transparent; background-repeat: no-repeat; background-position: 0 50%; padding: 0 10px 0 30px; float: left; }
.video-nav .main-stats ul li.time { background-image: url("../images/icon_time.png"); }
.video-nav .main-stats ul li.views { background-image: url("../images/icon_eye.png"); }
.video-nav .main-stats ul li.added { background-image: url("../images/icon_cal.png"); }
.video-nav .embed-link { float: left; margin: 0 35px 0 25px; }
.video-nav .rating-wrapper { float: left; margin: 0 30px 0 0; border-right: 1px solid #2f2f2f; padding: 0 22px 0 0; }
.video-nav .report-link { float: left; padding: 0 22px 0 22px; }
.video-nav .btn-fav { float: right; }

.video-banner { text-align: center; margin-bottom: 18px; }
.video-banner img { width: 100%; height: auto; max-width: 840px; }

.video-desc-full { background-color: black; border-top: 1px solid #2f2f2f; *zoom: 1; clear: both; }
.video-desc-full:before, .video-desc-full:after { display: block; clear: both; content: " "; }
.video-desc-full .inner-wrapper { padding: 18px 10px; font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; color: white; font-size: 14px; font-size: 0.875rem; font-weight: 300; }

.tags-container { *zoom: 1; clear: both; margin-bottom: 18px; }
.tags-container:before, .tags-container:after { display: block; clear: both; content: " "; }
.tags-container > div { margin-bottom: 14px; }
.tags-container ul { padding: 0; margin: 0; *zoom: 1; clear: both; }
.tags-container ul li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
.tags-container ul:before, .tags-container ul:after { display: block; clear: both; content: " "; }
.tags-container ul li { float: left; font-size: 12px; font-size: 0.75rem; text-transform: uppercase; line-height: 19px; margin-right: 5px; }
.tags-container ul li:first-child { margin-right: 15px; font-weight: 700; font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; font-size: 14px; font-size: 0.875rem; text-transform: none; }
.tags-container ul li a { display: block; background-color: #2f2f2f; color: white; padding: 0 4px; }

section#comments { padding-top: 10px; }
section#comments h3 { font-size: 14px; font-size: 0.875rem; text-transform: uppercase; border-bottom: 1px solid #d90074; padding: 0 0 10px 36px; position: relative; }
section#comments h3:before { display: block; content: ""; background-color: transparent; background-repeat: no-repeat; background-position: 0 0%; background-image: url("../images/icon_comments.png"); position: absolute; top: 0; left: 0; width: 23px; height: 20px; }
section#comments .comment-form { *zoom: 1; clear: both; margin-bottom: 8px; }
section#comments .comment-form:before, section#comments .comment-form:after { display: block; clear: both; content: " "; }
section#comments .comment-form textarea { padding: 17px 14px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -khtml-border-radius: 1px; -ms-border-radius: 1px; -o-border-radius: 1px; border-radius: 1px; font-size: 14px; font-size: 0.875rem; font-family: "Open Sans", Arial, Helvetica, Sans-serif; width: 100%; min-height: 117px; resize: vertical; margin-bottom: 11px; }
section#comments .comment-form textarea:-moz-placeholder { color: #2f2f2f; }
section#comments .comment-form textarea::-moz-placeholder { color: #2f2f2f; }
section#comments .comment-form textarea:-ms-input-placeholder { color: #2f2f2f; }
section#comments .comment-form textarea::-webkit-input-placeholder { color: #2f2f2f; }
section#comments .comment-form button { font-size: 16px; font-size: 1rem; text-transform: uppercase; font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; padding: 4px 13px; }
section#comments .comments-list { *zoom: 1; clear: both; margin-bottom: 20px; }
section#comments .comments-list:before, section#comments .comments-list:after { display: block; clear: both; content: " "; }
section#comments .comments-list .c-item { margin-top: 15px; border-bottom: 1px solid #474548; padding-bottom: 15px;}
section#comments .comments-list .c-item .author { font-size: 14px; font-size: 0.875rem; margin-bottom: 3px; }
section#comments .comments-list .c-item .time-stamp { font-size: 12px; font-size: 0.75rem; color: #474548; }
section#comments .comments-list .c-item .comment { color: white; font-size: 12px; font-size: 0.75rem; }

section#lower-ads .ad { border-top: 1px solid #2f2f2f; padding: 18px 0; text-align: center; }

section#site-bottom-info { text-align: center; font-size: 12px; font-size: 0.75rem; color: #4f4f4f; }
section#site-bottom-info .inner-wrapper { border-top: 1px solid #2f2f2f; padding-top: 18px; padding-bottom: 25px; }

footer { background-color: black; text-align: center; font-size: 12px; font-size: 0.75rem; font-weight: 300; padding: 23px 0; }
footer ul { padding: 0; margin: 0; padding: 1px 0; }
footer ul li { list-style-type: none; margin: 0; padding: 0; list-style-image: none; }
footer ul li { display: inline-block; position: relative; }
footer ul li:after { display: inline-block; content: "|"; margin: 0 3px; }
footer ul li:last-child:after { display: none; }
footer nav.legal-links ul li:nth-child(3) { margin-right: 10px; }
footer nav.legal-links ul li:nth-child(3):after { display: none; }

input:not([type="submit"]), select, textarea { font-family: "Open Sans Condensed", Arial, Helvetica, Sans-serif; font-weight: 300; font-size: 14px; font-size: 0.875rem; color: #4f4f4f; border: none; background-color: white; }
input:not([type="submit"]):-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder { font-style: normal; color: #969696; }
input:not([type="submit"])::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder { font-style: normal; color: #969696; }
input:not([type="submit"]):-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder { font-style: normal; color: #969696; }
input:not([type="submit"])::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder { font-style: normal; color: #969696; }

button { background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; cursor: pointer; border: none; font-size: 14px; font-size: 0.875rem; }

textarea { resize: none; }

#profile{
    margin-top: -24px;
}
#profile .general{
    margin-top: 12px;
}

.selectboxArea{
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.staticPage{
    width: 100%;
    float: left;
    padding: 10px;
    padding-top: 0;
    font-size: 13px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.filters{
    float: right;
    margin: 5px 0;
}
.filters ul,
.filters ul li,
.filters ul li span,
.filters ul li a{
    display: block;
    float: left;
    margin: 0;
    margin-left: 10px;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
}
.filters ul li a:hover,
.filters ul li a.active{
    color: #d90074;
    text-decoration: none;
}
.filters ul li a i{
    margin-right: 3px;
}
.filters ul li.quality a{
    padding: 4px 5px;
    color: #fff;
    background: #2f2f2f;
    font-size: 11px;
    text-decoration: none; 
    text-align: center;
    width: 30px;
}
.filters ul li:nth-child(3).quality{
    margin: 0;
}
.filters ul li:nth-child(3).quality a{
    margin: 0;
}
.filters ul li.quality a:hover{
    background: #373737;
}
.filters ul li.quality.active a{
    background: #d90074;
}

.sortable-list ul,
.sortable-list ul li{
    display: block;
    list-style-type: none;
    width: 100%;
    float: left;    
    padding: 0;
    line-height: 25px;
}
.sortable-list ul{
    margin: 0;
    padding: 0 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.sortable-list ul li{
    width: 100%;
}
.sortable-list ul li ul,
.sortable-list ul li ul li{
    float: left;
    width: 100%;
    border: 0;
    padding: 0;
    line-height: 18px;
}
.sortable-list ul li ul{
    padding: 4px 0;
    display: block;
}
.sortable-list ul a{
    font-size: 13px;
    color: #7f7f80;
}
#timeBox a{
    font-size: 13px;
    color: #7f7f80;
    width: 100%;
    display: inline-block;
    clear: both;    
}
#durationBox a{
    width: 100%;
    display: inline-block;
    clear: both;    
}
#durationBox li.active a,
#timeBox a.subSortBold{
    color: #fff;
}
.sortable-list ul li a.active{
    color: #d90074;
}
.sortable-list ul li a i{
    color: #fff;
    margin-right: 5px;
}
.sortable-list ul li a:hover i{
    color: #d90074;
}
.sortable-list ul li a:hover{
    text-decoration: none;
    color: #fff;
}

.sortable-list ul.normalLinks{
    width: auto;
    float: right;
}
.sortable-list ul.normalLinks li{
    width: 100%;
    float: left;
}
.sortHead{
    padding: 0;
    background: #292929;
}
.sortHead li{
    padding: 10px;
}
.sortHead a{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}
.sortHead:first-child a{
    border-top: 0;
}

.sortable-list ul li span.categories-head{
    font-weight: bold;
    font-size: 14px;
    color: #b2b2b2;
    border-bottom: 1px solid #2f2f2f;
    border-top: 1px solid #2f2f2f;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
}
.sortable-list ul li span.categories-head i{
    margin-right: 3px;
    color: #fff;
}


.filters select{
    float: left;
    margin-left: 10px;
}
.col-xs-20 h2{
    float: left;
}

.leftCollumn{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border: 1px solid #2f2f2f;
    padding: 0;
}

.sort_links{
    float: right;
    margin-top: 15px;
    font-size: 13px;
}
.sort_links select{
    margin-left: 10px;
}
.sort_links a.active{
    color: #fff;
}
.sort_links a:last-child{
    color: #fff;
    padding: 5px 8px;
    background: #d90074;
    margin-left: 10px;
}

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
/* Ionicons, v1.5.2 Created by Ben Sperry for the Ionic Framework, http://ionicons.com/ https://twitter.com/helloimben  https://twitter.com/ionicframework MIT License: https://github.com/driftyco/ionicons
*/
@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=4.1.0"); src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }
.fa { font-family: "FontAwesome"; }

.ion, .fa, .feather { display: inline-block; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@-webkit-keyframes bganim { 0% { background-position: 0 0; }
                            100% { background-position: 0 -10px; } }
                            @-moz-keyframes bganim { 0% { background-position: 0 0; }
                                                     100% { background-position: 0 -10px; } }
                                                     @-o-keyframes bganim { 0% { background-position: 0 0; }
                                                                            100% { background-position: 0 -10px; } }
                                                                            @keyframes bganim { 0% { background-position: 0 0; }
                                                                                                100% { background-position: 0 -10px; } }





                                                                                                