/*-------------------------
Template Name: QUCHA (Куча)
Author: maxwellum
Version: 1.0
E-mail: mail@qucha.ru
-------------------------*/
@import url(scrollbar.css);
@import url(font-awesome.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,select,textarea,button,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{background:black url(../images/body-bg.jpg) no-repeat top center fixed;line-height:1;font-family:'Droid Arabic Naskh', serif;background-size:cover;color: #aaa;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none;}
img{border:0;}
p {margin: 0 0 10px;line-height: 18px;}
strong{font-weight:bold;}
select{background: #666;color: #eee;border: 2px solid #777;border-radius: 5px;}
.custom-field {margin-right:10px;}
:focus{outline:0;}
.clear{clear:both;}
.container{width:984px;margin:0 auto;}
.italic{font-style:oblique;}
.box {display:none;}
.box.visible {display:block;}
#news_set_sort a {color:#e5ebee;}
h1 {text-align:right; margin-right:5px; }
/* --- Header --- */
.logo-dark{background:url(../images/logo.png) no-repeat 0 0;width:200px;height:64px;display:inline-block;}
.icon-logo{background:url(../images/logo.png) no-repeat 0 0;width:200px;height:64px;display:inline-block;}
.header{height:64px;background-color:#0c161a;box-shadow:0 1px 0 0 #4b565a inset;position:relative;}
.header .logo-text{float:right;}
.header .logo-text a{display:block;padding:0 15px;height:64px;}
.header .logo-text a span{position:relative;top:4px;}
.header .search{position:absolute;top:16px;left:291px;}
.header .search input{width:233px;height:25px;background-color:#bec8cb;border-radius:16px;font-size:12px;color:#424b4f;padding:5px 10px;line-height:25px;text-indent:30px;transition:300ms background-color;}
.header .search input:focus{background-color:#fff;}
.header .search button{position:absolute;top:8px;left:14px;background-color:transparent;color:#636f74;font-size:17px;}
.header .search .search-result{display:none;width:253px;border-radius:6px;overflow:hidden;background:#1e2427;position:absolute;top:40px;left:0;z-index:999;}
.header .search .search-result h3{line-height:30px;font-size:12px;color:#c3d0d6;text-indent:10px;background:#191d1e;}
.header .search .search-result .inner{padding:10px 5px;}
.header .search .search-result .inner ul li{overflow:hidden;}
.header .search .search-result .inner ul li a{background:#262d30;display:block;height:45px;padding-top:5px;padding-left:7px;}
.header .search .search-result .inner ul li a img{float:left;width:40px;height:40px;border-radius:3px;margin-right:10px;}
.header .search .search-result .inner ul li a .title{display:block;font-size:13px;color:#e3eaed;padding-bottom:1px;padding-top:4px;}
.header .search .search-result .inner ul li a .category{font-size:12px;color:#7c878c;}
.header .search .search-result .all-result{background:#2b3336;line-height:31px;text-align:center;color:#e3eaed;font-size:12px;display:block;}
.header .user-bar{float:left;}
.header .user-bar>li{float:right;position:relative;}
.header .user-bar>li>a{display:block;line-height:64px;padding:0 15px;font-size:25px;color:#262d30;transition:300ms color;position:relative;}
.header .user-bar>li>a .notification{min-width:10px;height:18px;padding:0 4px;color:#fff;text-align:center;background-color:#d95e40;border-radius:100%;font-size:10px;line-height:18px;display:inline-block;position:absolute;top:13px;right:5px;}
.header .user-bar>li>a:hover{color:#c1cbd0;}
.header .user-bar>li.active a{color:#c1cbd0;}
.header .register-link{float:left;padding-top:15px;padding-right:15px;}
.header .register-link li{float:left;margin-left:10px;}
.header .register-link li a{display:block;background-color:#0c161a;border-bottom:1px solid #384146;line-height:35px;border-radius:3px;padding:0 15px 0 40px;font-size:13px;font-weight:300;position:relative;color:#9badb4;overflow:hidden;}
.header .register-link li a strong{font-weight:600;}
.header .register-link li a span{position:absolute;top:0;left:0;height:35px;width:30px;text-align:center;background:#384146;line-height:35px;}
.header .user-profile-url{box-shadow:0 1px 0 0 rgba(255,255,255,0.07) inset;float:left;background-color:#0c161a;height:64px;line-height:64px;position:relative;}
.header .user-profile-url>a{color:#adb9bd;display:block;padding:0 20px;font-size:18px;}
.header .user-profile-url>a img{float:right;width:35px;height:35px;border-radius:100%;margin-right:10px;position:relative;top:14px;}
.header .user-profile-url ul{position:absolute;top:64px;left:0;width:230px;background:#1e2427;padding:10px;border-radius:7px;z-index:99;display:none;}
.header .user-profile-url ul:before{content:'';position:absolute;top:-16px;left:50px;border:8px solid transparent;border-bottom-color:#1e2427;}
.header .user-profile-url ul li a{display:block;line-height:49px;border-bottom:1px solid #1e2427;background:#232a2e;color:#b6c4ca;text-indent:15px;font-size:13px;font-weight:600;transition:300ms all;}
.header .user-profile-url ul li a:hover{background:#272f34;}
.header .user-profile-url ul li:first-child a{border-radius:7px 7px 0 0;}
.header .user-profile-url ul li:last-child a{border-radius:0 0 7px 7px;}
.header-top{height:75px;background:url(../images/header-top.png) no-repeat bottom center;position:relative;}
.menu{height:37px;background-color:#425f9b;}
.menu ul{padding-top:9px;}
.menu ul li{float:right;border-right:1px solid #434f53;}
.menu ul li:last-child{border-right:none;}
.menu ul li a{display:block;line-height:19px;padding:0 20px 1px;font-size:13px;color:#cedbdf;transition:300ms color;}
.menu ul li a:hover{color:#fff;}
/* --- Main content --- */
.content{background:#13181b url(../images/bg.png) repeat-x;overflow:hidden;min-height:500px;border-radius:8px;margin-bottom:50px; }
.left{width:75px;float:right;}
.left .logo{height:64px;display:block;background:#0c161a;text-indent:-9999px;box-shadow:0 1px 0 0 rgba(255,255,255,0.07) inset;}
.left .logo span{display: block;text-indent: -9999px;width: 62px;height: 50px;background: #0c161a url(../images/wheel.png) no-repeat 0 0;position: relative;top: 6px;left: 5px;}
.left .left-menu ul li a{background-color:#425f9b;display:block;padding:20px 0;text-align:center;color:#cedbdf;border-bottom:1px solid #262c2e;transition:300ms background-color;}
.left .left-menu ul li a .fa{display:block;font-size:30px;transition:300ms color;}
.left .left-menu ul li a .title{font-size:11px;display:block;padding:5px 5px 0;line-height:15px;}
.left .left-menu ul li a:hover{background-color:#2b3235;}
.left .left-menu ul li a:hover .fa{color:#b4c6cc;}
.left .my-movies ul li a{background-color:#282f32;display:block;padding:12px 0;text-align:center;color:#869499;border-bottom:1px solid #22282a;transition:300ms all;}
.left .my-movies ul li a img{width:52px;height:52px;border-radius:100%;}
.left .my-movies ul li a .title{font-size:11px;display:block;padding:5px 5px 0;line-height:15px;}
.left .my-movies ul li a:hover{background-color:#2b3235;}
.left .my-movies ul li a:hover .fa{color:#b4c6cc;}
.left .my-movies .buttons{height:43px;border-top:1px solid #343e41;background-color:#425f9b;padding-top:5px;}
.left .my-movies .buttons a{display:block;text-align:center;padding:1px 0;color:#1c2123;}
.left .my-movies .buttons a.passive{opacity:.5;}
.right{float:left;width:909px;}
.right .section-tab{padding:25px 0 15px;text-align:center;}
.right .section-tab ul{display:inline-block;}
.right .section-tab ul li{float:right;display:block;border-bottom:2px solid #353e42;padding:10px 20px;font-size:16px;font-weight:600;color:#667378;line-height:20px;transition:300ms all;cursor:pointer;}
.zabistyle{background-color:#1b2022;padding:20px; margin-right:20px; margin-left:20px;  text-align:right;font-family: "JF Flat Regular";}
.zabistyle ul{overflow:hidden;width:800px}
.zabistyle ul li {width:200px;float:right;margin-right:7px;margin-top:7px;display:block;}
.zabistyle li a{color:#bac0c3 ;}
.zabistyle li a:hover{color:#486bab ; border-bottom:2px #27354e solid; }
.zabistyle  span{font-family: "JF Flat Regular"; color:#497ad4; margin-bottom:30px}
.zabistyle  .bottom{margin-bottom:30px}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

 .header1 {width:500px; font-family: "JF Flat Regular"; text-align:right; padding-right:10px; float:right; margin-right:30px}
.toggle-box + label:before {
  background-color: #4F5150;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  float: right;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-left: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}

.right .section-tab ul li .fa{margin-right:5px;font-size:18px;position:relative;top:2px;}
.right .section-tab ul li:hover{color:#425f9b;border-color:white;}
.right .tabs li{ font-family: "JF Flat Regular";}
.tabs img{left:0; float:left; margin-right:150px}
.right .tabs li.current{border-bottom:#fff 1px solid;}
.right .tabs li.current:hover  {color:#425f9b;border-color:white;}
.right .movies-list{background-color:#1b2022;padding:20px; margin-right:20px; margin-left:20px;  text-align:right;}
.right .movies-list .movies-roll{width:850px;overflow:hidden;margin:0 auto ;position:relative;}
.right .movies-list .movies-roll .ps-scrollbar-y-rail{background-color:#121516;width:10px;opacity:1;}
.right .movies-list .movies-roll .ps-scrollbar-y-rail .ps-scrollbar-y{background-color:#2d3538;cursor:pointer;width:10px;}
.right .movies-list ul{overflow:hidden;width:999px}
.right .movies-list ul li {width:200px;float:left;margin-right:7px;margin-top:7px;display:block;}
.right .movies-list .special{width:850px;margin-left:7px;margin-right:7px;display:block;}
.right .movies-list .special a img{width:800px;height:260px;border-radius:3px;}
.right .movies-list ul li a img{float:left;width:190px;height:260px;border-radius:3px;}
.right .movies-list ul li a .title{font-size:13px;color:#c0cad1;text-shadow:1px 1px 0 #333b3f;display:block;padding:5px 0 1px;width:118px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;}
.right .movies-list ul li a .alt-title{font-size:12px;color:#dbcaa1;text-shadow:1px 1px 0 #374045;}
.right .movies-list ul li a .new{background:#d35400;height:15px;padding:0 5px;border-radius:2px;color:#fff;font-size:11px;position:absolute;top:5px;right:5px;}
.right .movies-list .aspect-ratio {position: relative; height:260px;width: 195px;float: left;margin: 0 13px 12px 0;}
.right .movies-list .aspect-ratio:before {content: "";display: block;margin-top: 150%;}
.right .movies-list .poster-article {width: 100%;height: 100%;position: absolute;top: 0;left: 0;font-size: 11px;}
.right .movies-list .poster-article .figure {width: 100%;height: 100%;border-radius: 3px;overflow: hidden;position: relative;}
.right .movies-list .poster-article .post-details.description {height:260px;width: 350px;top: 0;right: -446px;left: -447px;z-index: 10;padding: 15px;line-height: 22px;font-size: 12px;color: #aaaaaa;text-shadow: 0 1px black;font-weight: 500;}
.right .movies-list .poster-article .post-details {display: none;position: absolute;background: rgba(16, 18, 19, 0.95);color: white;height: 100%;border-radius: 3px;padding: 10px;width: 100%;z-index: 10;}
.right .movies-list .poster-article .post-details.description strong{background:red; border-radius:10px; color:white; float: right; bottom:0px; padding:8px; width:auto; margin-top:30px font-size:12px; margin-right:10px;  font-family: "JF Flat Regular";}
.right .movies-list .poster-article .post-details .post-info {padding:10px;height: 78%;overflow: hidden;}
.right .movies-list .poster-article .post-details .post-info strong{background:#4b5ea6; border-radius:10px; color:white; float: left; top:0px; padding:8px; width:35%; margin-bottom:10px; font-size:16px; margin-right:10px}
.right .movies-list .poster-article .post-details .post-info strong i{padding-left:10px}
.right .movies-list .poster-article .post-details .post-info  b i{padding-left:5px}
.right .movies-list .poster-article .post-details .post-info p{font-family: "JF Flat Regular"; border-bottom:2px #4b5ea6 solid; padding:10px; width:100% ;text-align:center; font-size:14px; margin:0px 0px 10px 0px}
.right .movies-list .poster-article .post-details .post-info b{background:#28304d; border-radius:10px;color:white;float: right; text-align:center; padding:8px; width:93%; font-size:16px;margin-right:4px ; }
.right .movies-list .poster-article .post-details .post-info span{background:#141828; border-radius:10px;color:white;float: right;padding:8px; width:93%; font-size:12px;margin-top:14px ;margin-right:4px;font-family: "JF Flat Regular"; text-align:center;}
.right .movies-list .poster-article .post-details .post-info span a:hover{color: yellow;}
.right .movies-list .poster-article .post-details .post-info a{color: #FFFFFF;}
.right .movies-list .poster-article .post-details .post-info a:hover{color: #CCCCCC;}
.right .movies-list .poster-article .figure .btn-blue {position: absolute;bottom: 35px;left: 20px;padding: 12px 10px;}
.right .movies-list .poster-article .figure img {position: absolute;border-radius:3px;}
.right .movies-list .poster-article .post-details h3 {margin: 0;font-size: 16px;margin-bottom: 10px;}
.post-fields {line-height: 12px;font-size: 11px;display: inline-block;}
.txt-overflow {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-family: "JF Flat Regular";}
.figure img {width: 100%;height: 100%;display: block;}
.btn-blue {background: #1e7dc6;background: -moz-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e7dc6), color-stop(100%, #124f93));background: -webkit-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: -o-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: -ms-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: linear-gradient(top, #1e7dc6 0%, #124f93 100%);filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#1e7dc6', endColorstr='#124f93');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e7dc6', endColorstr='#124f93')";color: white;text-shadow: 0 1px rgba(0, 0, 0, 0.25);border-bottom: 1px solid #124e91;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);}
.button {display: inline-block;margin-bottom: 0;font-size: 13px;font-weight: 700;text-align: center;vertical-align: middle;cursor: pointer;background-color: white;border: 1px solid transparent;white-space: nowrap;padding: 6px 10px;line-height: 1.42857;border-radius: 3px;user-select: none;overflow: hidden;margin-left:20px; font-family: "JF Flat Regular";}
.mr0 {margin-right: 0 !important;}
.right .banner{padding:24px;}
.ads728x90{width:728px;height:90px;margin:20px auto;overflow:hidden;}

/* --- smotret-online --- */
.button_s {background: #1e7dc6;background: -moz-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e7dc6), color-stop(100%, #124f93));background: -webkit-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: -o-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: -ms-linear-gradient(top, #1e7dc6 0%, #124f93 100%);background: linear-gradient(top, #1e7dc6 0%, #124f93 100%);filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#1e7dc6', endColorstr='#124f93');-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e7dc6', endColorstr='#124f93')";color: white;text-shadow: 0 1px rgba(0, 0, 0, 0.25);border-bottom: 1px solid #124e91;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);}
.pedit-form li>span.form-value input,.pedit-form li>span.form-value textarea{height:17px;line-height:17px;padding:5px 10px;font-size:12px;color:#B3BABD;border:1px solid #515a5e;border-radius:5px;background-color:#22282b;transition:300ms border-color;}
.button_s{line-height:32px;background-color:#10729e;padding:0 10px; padding-top:8px; padding-bottom:8px;border-radius:8px;font-size:12px;font-weight:900;color:#fff;cursor:pointer;transition:300ms background-color;}
.button_s:hover{background-color:#0c5879;}
/* --- Bottom news --- */
#box    {  width:140px;
           height:220px;
           box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #425f9b;
          border-right:2px solid #425f9b;
          border-top:2px solid #425f9b;
          border-left:2px solid #425f9b;
          margin:5px; 
border-radius:5px;
overflow:hidden;}

#overlay    
{  
background:black;
text-align:center;
opacity:0;
-webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;
 width:140px;
height:300px;
}

#box:hover #overlay {
               opacity:1;}

#plus       {  font-family:Helvetica;
               font-weight:900;
               color:rgba(255,255,255,.85);
               font-size:96px;
			   margin-top:100px
			   }
			   #plus img{width:120px; height:45px;}
			   #plus span img{width:45px; height:45px; margin-left:45px; margin-top:50px }
			   .plusojac{ margin:auto }
			   
#box2    
{  
width:500px;
height:200px;
box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
border-bottom:2px solid #425f9b;
border-right:2px solid #425f9b;
border-top:2px solid #425f9b;
border-left:2px solid #425f9b;
margin:5px; 
border-radius:5px;
overflow:hidden;}

#overlay2    
{  
background:black;
text-align:center;
opacity:0;
-webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;
 width:500px;
height:200px;
}

#box2:hover #overlay2 
{
opacity:1;
}

#plus2       
{  
font-family:Helvetica;
font-weight:900;
color:rgba(255,255,255,.85);
font-size:96px;
margin-top:30px;

}
#plus2 a       
{  

font-size:16px; display:block;  float:right;

}
#plus2 div       
{  

width:350px; margin:30px 10px 15px 10px
}
#plus2 h1 {
font-size:20px; padding:10px 10px 10px 0px; font-family: "JF Flat Regular";
}
#plus2 b{
font-size:12px; text-align:left; float:left; margin:0px 20px 0px 20px; padding:10px 10px 15px 10px; font-family: "JF Flat Regular"; padding-left:10px; color:#b4b6a3
}

#plus2 b i {color:#425189;  padding-right:8px}
#plus2 img
{
width:120px; height:45px; float:right;
}
#plus2 span img
{
width:45px; height:45px; margin-left:45px; margin-top:50px
}
.plusojac
{ 
margin:auto 
}


/* --- Bottom news --- */
.right .section-left{width:502px;margin-right:30px; float:right; padding-bottom:30px; margin-bottom:30px; margin-top:30px }
.right .section-right{float:left;width:347px;margin-right:14px;}
.movies-news li{padding:12px 0; float:right; width:160px; height:230px; margin:2px }
.movies-news li:last-child{border-bottom:none;}
.movies-news li img{float:right;width:auto;height:220px;margin-right:14px;border-radius:4px;border-bottom:2px solid #1a1f21;}
.movies-news li .title{font-size:14px;font-weight:600;color:#cdd8dd;line-height:18px;padding-bottom:7px; text-align:left; float:left }
.movies-news li .description{font-size:12px;color:#768287;display:block;line-height:18px; margin-right:7px; width:290px;}
.movies-news li .alt{font-size:12px;color:#3e464a;padding-top:5px; text-align:center}
.movies-news li .alt .fa{font-size:15px;margin-right:1px;}
.movies-news li .alt .date{padding-left:7px;color:#535c61;}
.movies-four{overflow:hidden;padding:15px 0;}
.movies-four li{float:left;width:120px;margin-right:7px;}
.movies-four li:nth-child(4n){margin-right:0;}
.movies-four li a{text-align:center;}
.movies-four li a img{width:120px;height:160px;}
.movies-four li a .title{font-size:13px;font-weight:600;color:#b9ad8c;padding:7px 0;}
.movies-four li a .alt-title{font-size:12px;color:#667378;display:block;}
 
.movies-four2{overflow:hidden;padding:15px 0;}
.movies-four2 li{float:left;width:191px;margin-right:17px;}
.movies-four2 li:nth-child(4n){margin-right:0;}
.movies-four2 li a{display:block;text-align:center;}
.movies-four2 li a img{width:191px;height:242px;}
.movies-four2 li a .title{font-size:13px;font-weight:600;color:#b9ad8c;display:block;padding:7px 0;}
.movies-four2 li a .alt-title{font-size:12px;color:#667378;display:block;}

.movies-four3{overflow:hidden;padding:15px 0; width:99%; margin-left:50px}
.movies-four3 ul {border-bottom:orange 2px solid; border-left:orange 2px solid;  border-right:orange 2px solid; }
.movies-four3 li{float:left;width:191px;margin-right:17px;}
.movies-four3 li:nth-child(4n){margin-right:0;}
.movies-four3 li a{display:block;text-align:left; direction:rtl; background:black; }
.movies-four3 li a .title:hover{opacity:1 }
.movies-four3 li a img{width:191px;height:242px;opacity:0.5}
.movies-four3 li a img:hover{opacity:1}
.movies-four3 li a .title{font-size:13px;font-weight:600;display:block;padding:7px 0;color:white; font-family: "JF Flat Regular"; opacity:0.5 ;margin-bottom:10px ; height:35px; text-align:center }
.movies-four3 li a .alt-title{font-size:12px;color:#667378;display:block;}

.seemore{display:block;float:right;font-family: "JF Flat Regular"; border-right:8px #c8bcb7 solid; padding-right:10px; margin-right:30px; width:100%;}
.seemore a{color:white; text-align:left; float:left; margin-left:60px; }
.seemore a:hover{background-color:#06a1ea;color:#000000; padding:7px}
.seemore i{padding-right:10px; font-size:18px}

.movies-four4{overflow:hidden;padding:15px 0; width:99%;}
.movies-four4 ul {border-bottom:orange 2px solid; border-left:orange 2px solid;  border-right:orange 2px solid; }
.movies-four4 li{float:left;width:140px;margin-right:17px;}
.movies-four4 li a{display:block;text-align:left; direction:rtl; background:black; }
.movies-four4 li a .title:hover{opacity:1 }
.movies-four4 li a img{width:140px;height:242px;opacity:0.5}
.movies-four4 li a img:hover{opacity:1}
.movies-four4 li a .title{font-size:13px;font-weight:600;display:block;padding:7px 0;color:white; font-family: "JF Flat Regular"; opacity:0.5 ;margin-bottom:10px ; height:35px; text-align:center }
.movies-four4 li a .alt-title{font-size:12px;color:#667378;display:block;}

.movies-fourc{overflow:hidden;padding:15px 0; width:99%;}
.movies-fourc ul {border-bottom:orange 2px solid; border-left:orange 2px solid;  border-right:orange 2px solid;width:840px; }
.movies-fourc li{float:left;width:840px;margin-right:17px;}
.movies-fourc li a{display:block;text-align:left; direction:rtl; background:black; }
.movies-fourc li a img{width:830px;height:242px;opacity:0.5}
.movies-fourc li a img:hover{opacity:1}

.moviesgpr {float:right; width:52%; height:auto;}
.moviesgpc {float:right; width:100%; height:auto;}
.moviesgpc h3 .title{margin-top:20px}
.moviesgpl {float:left; width:47% ; height:auto; }


h2.title{border-bottom:2px solid #353e42; margin-left:455px; text-align:right}
h2.title span{display:inline-block;font-size:14px;color:#b8cbd3;padding-bottom:10px;border-bottom:2px solid #c0392b;margin-bottom:-2px;padding-right:15px;}
h2.title span.orange{border-bottom-color:#f39c12;}
h2.title span.blue{border-bottom-color:#3797cd;}
h2.title span.purple{border-bottom-color:#8e44ad;}
h2.title span.green{border-bottom-color:#16a085;}
h2.title span.none{border-bottom-color:#353e42;}
h2.title span.big-font{font-size:16px;color:#e5ebee;padding-bottom:15px;}
h2.title a.btn{float:right;line-height:27px;padding:0 15px;font-size:12px;color:#e5ebee;border-radius:3px;background:#353e42;position:relative;top:-4px;}

h3.title{ font-family: "JF Flat Regular"; padding-bottom:20px; text-align:center; margin:auto;  }
h3.title span{display:inline-block;font-size:20px;color:#b8cbd3;padding-bottom:10px;border-bottom:2px solid #c0392b;margin-bottom:-2px;padding-left:15px; border-bottom-left-radius:10px ; border-bottom-right-radius:10px }
h3.title span.orange{border-bottom-color:#f39c12;}
h3.title span.blue{border-bottom-color:#3797cd;}
h3.title span.purple{border-bottom-color:#8e44ad;}
h3.title span.green{border-bottom-color:#16a085;}
h3.title span.none{border-bottom-color:#353e42;}
h3.title span.big-font{font-size:16px;color:#e5ebee;padding-bottom:15px;}
h3.title a.btn{float:right;line-height:27px;padding:0 15px;font-size:12px;color:#e5ebee;border-radius:3px;background:#353e42;position:relative;top:-4px;}
.global-box{margin-bottom:15px; text-align:right}
.most-tab{border-bottom:2px solid #353e42;margin-bottom:17px;}
.most-tab h3{font-size:14px;color:#b8cbd3;display:block;padding-bottom:15px;padding-top:2px;}
.most-tab ul{height:20px;}
.most-tab ul li{float:right;margin-right:10px;font-family: 'Droid Arabic Kufi', sans-serif;}
.most-tab ul li{display:block;font-size:13px;font-weight:600;border-bottom:2px solid #353e42;margin-bottom:-2px;color:#667378;padding:0 10px 7px 0;transition:300ms all;}
.most-tab ul li:hover{color:#eee;border-color:#515f65;}
.most-tab ul li.active, .most-tab ul li.active a{color:#e8edef;border-color:#27ae60;}
.most-tab ul li a {color:#667378}
.most-tab-list{margin-bottom:15px;}
.most-tab-list ul li .info .fa {font-size:15px;margin-right:1px;}
.most-tab-list ul li{margin-bottom:2px;background-color:#1b2022;}
.most-tab-list ul li:nth-child(even){background-color:#1e2326;}
.most-tab-list ul li:last-child{margin-bottom:0;}
.most-tab-list ul li a{display:block;height:135px;position:relative;}
.most-tab-list ul li a .position{width:29px;line-height:48px;float:left;background-color:#181c1e;text-align:center;font-size:18px;font-weight:600;color:#667378;}
    .unit-rating li a {
    display: block;
    width: 16px;
    top:-8.5px;
    height: 16px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 17;
    position: absolute;
    padding: 0;
}
.most-tab-list ul li a .fa{color:#667378;font-size:17px;}
.most-tab-list ul li a .points{position:absolute;top:0;right:55px;font-size:13px;font-weight:600;line-height:45px;color:#667378;}
.most-tab-list ul li a .points span{font-size:16px;font-weight:bold;color:#e2c576;position:relative;top:2px;padding-left:4px;}
.most-tab-list ul li a .info{float:right;width:330px;padding:7px 7px 0px 10px;height: 120px;overflow: hidden;}
.most-tab-list ul li a .info img{float:right;width:80px;height:120px;border-radius:4px;margin-right:10px;}
.most-tab-list ul li a .info .title{font-size:13px;font-weight:600;color:#cdd8dd;width:240px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;padding-bottom:1px;padding-top:1px; text-align: right; width:220px;}
.most-tab-list ul li a .info .category{font-style:normal;font-size:12px;color:#667378;}
.most-tab-list ul li a .info .shortstory{margin-top:5px;display:block;color:#797979;line-height:18px;text-align:right; margin-right:20px;  width:230px;}
.most-tab-list.style1 ul li a .info{width:290px;}
.most-tab-list.style1 ul li a .info .title{margin-bottom:5px;font-weight:normal;color:#c1ac87;width:156px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;}
.most-tab-list.style1 ul li a .info .category{font-style:normal;}
.most-tab-list.dashboard-fix{margin-top:30px;margin-bottom:30px;}
.most-tab-list.dashboard-fix h3{margin-bottom:15px;}
.most-tab-list.dashboard-fix ul li a .points{right:20px;}
.most-tab-list.dashboard-fix ul li a .info{width:210px;}
.most-tab-list.dashboard-fix ul li a .info .title{width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;}
.archives{padding:15px;text-align:center;}
.archives h3{text-align:left;}
.archives h2{font-size:22px;font-weight:100;color:#b8cbd3;line-height:30px;padding:25px 0 10px;text-shadow:5px 5px 13px rgba(0,0,0,0.5);}
.archives p{font-size:16px;color:#b8cbd3;font-weight:100;opacity:.8;padding-bottom:10px;}
.archives .tags{padding:20px 0 5px;overflow:hidden; }
.archives .tags a{margin:0 3px;display:inline-block;line-height:26px;padding:0 15px;border:2px solid #798083;border-radius:20px;font-size:13px;font-weight:600;color:#c2cbd2;margin-bottom:15px;transition:300ms all;}
.archives .tags a:hover{color:#fff;border-color:#eee;}

.archives2{padding:15px; height:450px; background:black}
.archives2 h3{text-align:left;}
.archives2 h2{font-size:22px;font-weight:100;color:#b8cbd3;line-height:30px;padding:25px 0 10px;text-shadow:5px 5px 13px rgba(0,0,0,0.5);}
.archives2 p{font-size:16px;color:#b8cbd3;font-weight:100;opacity:.8;padding-bottom:10px;}
.archives2 .tagss{padding:20px 0 5px;overflow:hidden; width:200px;float:right ; font-family: "JF Flat Regular";}
.archives2 .lefttags{float:right;font-family: "JF Flat Regular"; padding:0px 0 5px 20px; text-align:right; margin-top:10px}
.archives2 .lefttags a{margin:0 3px;display:inline-block;line-height:26px;padding:0 15px 8px;font-size:13px;font-weight:600;color:#c2cbd2;margin-bottom:15px;transition:300ms all;  width:160px;float:right; background-image:url(../images/playcur.svg) ; background-repeat: no-repeat; background-size:28px 28px; border-bottom:2px #233354 solid}
.archives2 .lefttags a:hover{background-image:url(../images/playhov.svg) ; background-repeat: no-repeat; background-size:32px 32px; border-bottom:2px #dfe5f1 solid}
.archives2 .lefttags a:visited{background-image:url(../images/playvis.svg) ; background-repeat: no-repeat; background-size:32px 32px;}
.archives2 .lefttags a:current{}
.archives2 .lefttags a b{color:#666e11 ; font-size:16px; padding-right:7px}
.archives2 .tagss a{margin:0 3px;display:inline-block;line-height:26px;padding:0 15px 8px;font-size:13px;font-weight:600;color:#c2cbd2;margin-bottom:15px;transition:300ms all;  width:160px;float:right; background-image:url(../images/playcur.svg) ; background-repeat: no-repeat; background-size:28px 28px; border-bottom:2px #233354 solid}
.archives2 .tagss a:hover{background-image:url(../images/playhov.svg) ; background-repeat: no-repeat; background-size:32px 32px; border-bottom:2px #dfe5f1 solid}
.archives2 .tagss a:visited{background-image:url(../images/playvis.svg) ; background-repeat: no-repeat; background-size:32px 32px;}
.archives2 .tagss .current{background-image:url(../images/playcur2.svg) ; background-repeat: no-repeat; background-size:32px 32px; border-bottom:2px #382f0c solid}
.archives2 .tagss a b{color:#666e11 ; font-size:16px; padding-right:7px}
.archives2 iframe{width:620px; height:410px; float:left}

.right-inner{padding:15px 15px 15px 16px;}
.archives-menu{margin-top:14px;float:right;width:185px;background-color:#1e2325;padding:13px 10px; text-align:right}
.archives-menu h3{font-size:13px;font-weight:600;color:#d9dfe5;border-bottom:2px solid #353e42;padding-bottom:10px;margin-bottom:10px;}
.archives-menu ul{margin-bottom:15px;}
.archives-menu ul li{font-size:12px;}
.archives-menu ul li.title{color:#717e83;padding-bottom:5px;}
.archives-menu ul li a{display:block;color:#b5c1c6;padding:10px 0 10px 10px;border-bottom:1px solid #282d2f;position:relative;transition:300ms background-color;}
.archives-menu ul li a .fa{position:absolute;top:10px;left:5px;font-size:16px;color:#3a4346;transition:300ms color;}
.archives-menu ul li a:hover{background-color:#282d2f;}
.archives-menu ul li a:hover .fa{color:#748389;}
.archives-menu ul li:last-child a{border-bottom:none;}
.archives-menu ul li.active a{background-color:#282d2f;}
.archives-menu ul li.active a .fa{color:#748389;}
.archives-menu ul:last-child{margin-bottom:0;}
.archives-movies-list{margin-top:14px;float:left;width:650px;}
/* --- Movie Shortstory --- */

.archives-menu{margin-top:14px;float:right;width:185px;background-color:#1e2325;padding:13px 10px; text-align:right}
.archives-menu2 h3{font-size:13px;font-weight:600;color:#d9dfe5;border-bottom:2px solid #353e42;padding-bottom:10px;margin-bottom:10px;}
.archives-menu2 ul{margin-bottom:15px;}
.archives-menu2 ul li{font-size:12px;}
.archives-menu2 ul li.title{color:#717e83;padding-bottom:5px;}
.archives-menu2 ul li a{display:block;color:#b5c1c6;padding:10px 0 10px 10px;border-bottom:1px solid #282d2f;position:relative;transition:300ms background-color; width:40px; float:left; margin-left:10px; text-align:center}
.archives-menu2 ul li a .fa{position:absolute;top:10px;left:5px;font-size:16px;color:#3a4346;transition:300ms color;}
.archives-menu2 ul li a:hover{background-color:#000;}
.archives-menu2 ul li a:hover .fa{color:#748389;}

/* --- Movie Shortstory --- */

.movies-single{padding-bottom:5px;overflow:hidden;position:relative; text-align:right; direction:rtl}
.movies-single .rank{position:absolute;top:0;right:0;}
.movies-single .rank .fa{font-size:12px;color:#353e42;}
.movies-single .rank .rank-text{position:absolute;top:0;left:0;width:100%;text-align:center;line-height:50px;font-size:17px;font-weight:bold;color:#191d23;letter-spacing:-1px;}
.movies-single .film-image{float:right;}
.movies-single .film-image img{width:135px;height:290px;}
.movies-single .tss-detail img {float:right;margin-right:12px;background:#181D1E; width:185px;padding:2px;}
.movies-single .tss-detail .title{padding-bottom:10px;padding-top:2px;position:relative;font-size:18px;color:#dae3e7;display:block;font-weight:100;line-height:25px; text-align:right; width:436px; margin-right:7px;}
.movies-single .tss-detail .title .position{font-size:32px;font-weight:bold;color:#525d62;position:absolute;top:0;right:0;}
.movies-single .tss-detail ul li{padding-bottom:12px;overflow:hidden;}
.movies-single .tss-detail ul li span{font-size:12px;color:#adb8bd;}
.movies-single .tss-detail .cast {width: 330px;line-height: 20px;height: 20px;overflow: hidden;}
.movies-single .tss-detail ul li span.alt-title{color: #525D62;display: inline-block;width: 80px;text-align:right; margin-right:7px;}
.movies-single .tss-detail ul li a{font-size: 12px; display:inline-block;color:#898f99;transition:300ms color;}
.movies-single .tss-detail ul li a:hover{color:#eee;}
.movies-single .tss-detail ul li span a.more{color:#879298;text-decoration:underline;}
.movies-single .tss-detail .series-summery{font-size:12px;color:#aab1b4;line-height:20px;padding-top:7px; margin-right:7px; text-align:right; width:95%;}
.movies-single .tss-detail .series-summery a{color:#c9b280;}
.movies-single .tss-detail .series-summery a:hover{text-decoration:underline;}
.movies-single .alt{font-size:12px;color:#535c61;display:block;padding-top:15px;}
.movies-single .alt span {float:left;}
.movies-single .alt .fa{font-size:15px;margin-right:1px;}
.movies-single .alt .fa-facebook{padding-left:7px;}
.movies-single .alt .date{padding-left:7px;color:#535c61;}
.movies-single .rater-rank{margin-left:7px;line-height:18px;padding:0 5px;border-radius:3px;font-size:10px;color:#aab1b5;background-color:#1a1e20;}
.movies-single .ui-rater-starsOff{width:90px;}
.movies-single .ui-rater-starsOff,.movies-single .ui-rater-starsOn{display:inline-block;height:14px;background:url(../images/stars.png) repeat-x 0 0px;}
.movies-single .ui-rater-starsOn{display:block;max-width:90px;top:0;background-position:0 -28px;}
.movies-single .ui-rater-starsHover{background-position:0 -14px!important;}
/* --- News Shortstory --- */
.news-single{padding-bottom:5px;overflow:hidden;position:relative;}
.news-single .rank{position:absolute;top:0;right:0;}
.news-single .rank .fa{font-size:12px;color:#353e42;}
.news-single .rank .rank-text{position:absolute;top:0;left:0;width:100%;text-align:center;line-height:50px;font-size:17px;font-weight:bold;color:#191d23;letter-spacing:-1px;}
.news-single .news-image{float:left;padding:3px;background:#181D1E;}
.news-single .news-image img{width:235px;height:140px;}
.news-single .tss-detail{padding-left:250px;}
.news-single .tss-detail .title{position:relative;font-size:18px;color:#dae3e7;display:block;font-weight:100;line-height:25px;}

.news-single .tss-detail .news-summery{font-size:12px;color:#aab1b4;line-height:20px;}
.news-single .tss-detail .news-summery a{color:#c9b280;}
.news-single .tss-detail .news-summery a:hover{text-decoration:underline;}
.news-profile-bottom{background:#181d1e;height:52px;margin-bottom:27px;padding-bottom:15px;}
.news-profile-bottom ul li{float:left;width:16.6%;}
.news-profile-bottom ul li {position:relative;top:9px;display:block;font-size:12px;color:#6a7889;text-align:center;border-right:1px solid #22282a;}
.news-profile-bottom ul li a{color:#c3ced9;}
.news-profile-bottom ul li span{display:block;font-size:16px;font-weight:600;color:#c3ced9;padding-top:5px;}
.news-profile-bottom ul:last-child li{border-right:none;}
.story-news img {padding:3px;background:#181D1E;margin-right:5px; }
.story-news-img img {width: 560px;}
.story-news-img {margin-top: 15px;margin-bottom: 15px;}
.story-news {line-height: 18px;margin-top: 15px;margin-bottom: 20px;text-align:right}
.story-news a {color:#797979;;transition: 300ms all;}
.story-news a:hover {color:#eee;text-decoration:none;transition: 300ms all;}


/* --- Pagination --- */
.pagination{text-align:center;width:630px; margin-top:20px; margin-bottom:20px; margin-left:40px; font-family: "JF Flat Regular", sans-serif;}
.pagination.space{margin-top:50px;}
.pagination a,.pagination span,.pagination span span{margin-right:5px;float:right;display:block;line-height:30px;padding:0 10px;background-color:#131718;border-radius:10px;font-size:16px;color:#7b8488;transition:300ms all;text-align:center;}
.pagination a:hover{background-color:#425f9b; color:#FFF}
.pagination span{background-color:#425f9b; color:#FFF; }
.pagination  .nospan{background-color:#131718; color:#FFF; font-size:14px  }
.pagination.right{text-align:right;padding-bottom:25px;}
.archives-filter{padding-bottom:10px;overflow:hidden;border-bottom:1px solid #353e42;margin-bottom:15px;}
.archives-filter li{float:left;margin-right:12px;}
.archives-filter li.title{line-height:29px;color:#687175;font-size:13px;font-weight:600;}
/* --- Profile --- */
.profile-edit-left{float:left;width:184px;margin-top:25px;margin-left:16px;}
.profile-edit-left .change-avatar{background-color:#272f32;margin-bottom:17px;}
.profile-edit-left .change-avatar>div{padding:12px;position:relative;font-size:0;}
.profile-edit-left .change-avatar>div img{width:100%;height:160px;}
.profile-edit-left .change-avatar>div a{position:absolute;bottom:12px;left:12px;width:160px;background-color:rgba(0,0,0,0.7);line-height:35px;text-align:center;font-size:13px;font-weight:bold;color:#d7dfe2;}
.profile-edit-left .profile-edit-menu{background-color:#1e2325;padding:9px;}
.profile-edit-left .profile-edit-menu li{border-bottom:1px solid #282d2f;}
.profile-edit-left .profile-edit-menu li:last-child{border-bottom:none;}
.profile-edit-left .profile-edit-menu li a{display:block;padding:10px;font-size:14px;font-weight:600;color:#d7dfe2;transition:300ms background-color;}
.profile-edit-left .profile-edit-menu li a span{font-size:11px;font-weight:normal;color:#a1acb0;display:block;line-height:17px;padding-top:4px;opacity:.8;}
.profile-edit-left .profile-edit-menu li a:hover{background-color:#171b1d;}
.profile-edit-left .profile-edit-menu li.active a{background-color:#282d2f;}
.profile-edit-right{width:650px;float:right;margin-top:25px;margin-right:29px;}
.pedit-form{margin-bottom:25px;}
.pedit-form li{border-bottom:1px solid #262e32;padding:16px 0;overflow:hidden;}
.pedit-form li>span{float:left;}
.pedit-form li>span.title{line-height:20px;color:#b3babd;font-size:13px;font-weight:600;width:135px;padding-left:10px;padding-top:4px; text-align:right; float:right; direction:rtl}
.pedit-form li>span.form-value{position:relative;width:500px; float:right}
.pedit-form li>span.form-value .edit-value{position:absolute;top:5px;right:15px;color:#424c51;font-size:20px;z-index:1;transition:300ms color;}
.pedit-form li>span.form-value .edit-value:hover{color:#58656b;}
.pedit-form li>span.form-value .value{display:block;font-size:14px;font-weight:600;color:#c9cfd2;line-height:20px;}
.pedit-form li>span.form-value .description{font-size:12px;color:#7d888d;line-height:16px;padding-top:5px;display:block;opacity:.8;}
.pedit-form li>span.form-value .description.position-fixed{position:relative;top:10px;}
.pedit-form li>span.form-value .current-value{line-height:31px;font-size:13px;color:#c9cfd2;display:block;}
.pedit-form li>span.form-value input,.pedit-form li>span.form-value textarea{height:17px;line-height:17px;padding:5px 10px;font-size:12px;color:#B3BABD;border:1px solid #515a5e;border-radius:5px;background-color:#22282b;transition:300ms border-color; float:right; text-align:right}
.pedit-form li>span.form-value input:focus,.pedit-form li>span.form-value textarea:focus{border-color:#78888f;}
.pedit-form li>span.form-value textarea{width:359px;height:70px; }
.submit-btn{text-align:center;}
.submit-btn button{display:inline-block;width:270px;text-align:center;font-size:13px;font-weight:600;color:#fff;line-height:27px;background-color:#10729e;border-radius:5px;transition:300ms background-color;cursor:pointer;border:2px solid #10729e;}
.submit-btn button:hover{background-color:#0e6187;}
.submit-btn.empty button{background-color:transparent;}
.submit-btn.empty button:hover{background-color:#30383d;}
.btn-blue{line-height:11px;background-color:#10729e;padding:0 12px;border-radius:4px;font-size:13px;font-weight:600;color:#fff;cursor:pointer;transition:300ms background-color;}
.btn-blue:hover{background-color:#0c5879;}
.deactive h3{font-size:18px;color:#a9b2b7;line-height:25px;padding-top:10px;}
.deactive p{border-bottom:1px solid #353e42;padding-bottom:15px;margin-bottom:15px;font-size:13px;line-height:18px;color:#6a757b;}
.deactive p a{color:#9fa8ad;}
.deactive p a:hover{text-decoration:underline;}
.movies-head{background-color:#1b2022;padding:14px;border-radius:5px 5px 0 0;}
.movies-head .next-prev{float:right;}
.movies-head .next-prev a{display:inline-block;border:2px solid #7f8689;border-radius:12px;line-height:28px;padding:0 10px;color:#b2bbbf;font-size:12px;margin-left:6px;transition:300ms all;}
.movies-head .next-prev a:hover{border-color:#b0b8bc;}
.movies-head .mini-info img{float:left;width:40px;height:40px;border-radius:4px;margin-right:10px;}
.movies-head .mini-info .title{font-size:18px;color:#b2bbbf;display:block;}
.movies-head .mini-info .title span{font-weight:600;color:#dae0e5;}
.movies-head .mini-info .episode-name{font-size:14px;color:#b8a676;display:block;padding-top:5px;}
.movies-head .tab-menu{height:30px;text-align:center;padding-top:10px;}
.movies-head .tab-menu>li{display:inline-block;margin:0 3px;position:relative;}
.movies-head .tab-menu>li ul{display:none;position:absolute;top:30px;left:0;background-color:#394043;text-align:left;border-radius:0 0 5px 5px;}
.movies-head .tab-menu>li ul.alternative{width:126px;padding:3px 3px 1px;}
.movies-head .tab-menu>li ul.alternative li{padding:3px 0;border-bottom:1px solid #353b3e;}
.movies-head .tab-menu>li ul.alternative li a{display:block;line-height:30px;font-size:12px;font-weight:600;color:#6a7275;border-radius:4px;padding:0 10px;position:relative;}
.movies-head .tab-menu>li ul.alternative li a .fa{position:absolute;top:6px;right:7px;font-size:18px;color:#394043;}
.movies-head .tab-menu>li ul.alternative li a:hover{background-color:#2c3235;color:#cdd8dd;}
.movies-head .tab-menu>li ul.alternative li.active a{background-color:#2c3235;color:#cdd8dd;}
.movies-head .tab-menu>li ul.alternative li:last-child{border-bottom:none;margin-bottom:0;}
.movies-head .tab-menu>li ul.language{width:141px;padding:3px 3px 1px;}
.movies-head .tab-menu>li ul.language li{padding:3px 0;border-bottom:1px solid #353b3e;}
.movies-head .tab-menu>li ul.language li a{display:block;line-height:30px;font-size:12px;font-weight:600;color:#6a7275;border-radius:4px;padding:0 7px;}
.movies-head .tab-menu>li ul.language li a:hover{background-color:#2c3235;color:#cdd8dd;}
.movies-head .tab-menu>li ul.language li a span{margin-right:4px;position:relative;top:1px;}
.movies-head .tab-menu>li ul.language li.active a{background-color:#2c3235;color:#cdd8dd;}
.movies-head .tab-menu>li ul.language li:last-child{border-bottom:none;margin-bottom:0;}
.movies-head .tab-menu>li>a{display:block;background-color:#425f9b;line-height:30px;padding:0 10px;font-size:12px;color:#c1cbd2;border-radius:4px;transition:300ms background-color;}
.movies-head .tab-menu>li>a:hover{background-color:#3f494c;color:#fff;}
.movies-head .tab-menu>li>a:hover .fa-lightbulb-o,.movies-head .tab-menu>li>a:hover .fa-history{color:#dcc469;}
.movies-head .tab-menu>li>a:hover .fa-heart{color:#d95e40;}
.movies-head .tab-menu>li>a .fa{transition:300ms color;color:#56636c;font-size:16px;position:relative;top:1px;margin-right:5px;}
.movies-head .tab-menu>li>a .fa.fa-angle-down{margin-right:0;margin-left:5px;font-size:19px;top:3px;}
.movies-head .tab-menu>li>a .lang-icon{position:relative;top:1px;margin-left:5px;}
.movies-head .tab-menu>li.active>a{background-color:#3f494c;}
.movies-head .tab-menu>li.active>a .fa-lightbulb-o,.movies-head .tab-menu>li.active>a .fa-history{color:#dcc469;}
.movies-head .tab-menu>li.active>a .fa-heart{color:#d95e40;}
.movies-head .tab-menu>li.hover>a{background-color:#394043;border-radius:4px 4px 0 0;}
.player{height:415px;overflow:hidden;margin-bottom:15px;}
.detail-left{float:right;width:563px; }
.detail-left .report-btn{float:right;line-height:26px;border:2px solid #884444;border-radius:10px;color:#884444;padding:0 15px;font-size:12px;transition:300ms all;}
.like-box a {line-height:35px;background-color:#4c77ca;border-radius:3px;display:inline-block;width:100px;float:right;margin-right:15px;text-align:center;font-size:16px;font-weight:600;transition:300ms all; color:#F0E4E4; margin-top:9px; font-family: 'Droid Arabic Kufi', sans-serif;
}

.undermovie{width:100%; margin:auto; height:60px; background:#000000}
.undermovie .like {float:left; width:100px; margin-left:10px}
.undermovie .download {float:left; width:250px; margin-left:100px; margin-top:5px}
.undermovie .download span{padding-top:50px }
.undermovie .download span a{ font-family: "JF Flat Regular"; font-size:12px; color:#d8e0e4 }
.undermovie .download span a:hover{color:#06a1ea}
.undermovie .share {float:right; width:320px; margin-left:50px}
.undermovie .share span{float:right; font-family: "JF Flat Regular", sans-serif; direction:rtl; text-align:center; padding-top:8px;color:#c5d0d5; padding-right:5px}

.soclink2 {width:150px;  float:left; margin-bottom:10px; }
.soclink2 a{padding:0px}
.soclink2 span{float:left; font-family: "JF Flat Regular", sans-serif; direction:rtl; text-align:center; padding-top:8px; padding-right:40px; color:#c5d0d5}



.soclink {width:30%;  float:left; margin-bottom:10px; }
.soclink a{padding:0px}
.soclink span{float:right; font-family: "JF Flat Regular", sans-serif; direction:rtl; text-align:center; padding-top:8px; padding-right:40px; color:#c5d0d5}
.like-box a:hover {background-color:#7da340;color:#fff;}
.like-box a .fa {font-size:16px;margin-right:5px;}
.like-box a:last-child {margin-right:0;}
.like-box a.dislike:last-child:hover{background-color:#ad2e33;color:#fff;}
.like-box img{margin:3px;}
.title span span {border-bottom:none;display:none;}
.pedit-form label {color:#797979;}
.detail-left .pedit-form textarea {background: #333;border: 1px solid #797979;}
.detail-left .report-btn:hover{border-color:#a65353;color:#a65353;}
.detail-left .report-btn .fa{font-size:14px;margin-right:3px;}
.detail-left .translators{line-height:30px;padding:0 12px;font-size:12px;color:#868e92;background-color:#181b1d;float:left;}
.detail-left .translators span{color:#cdd8dd;}
/*--- Add comment form ---*/
.add-comment{margin-top:15px;padding-top:15px;margin-bottom:25px;overflow:hidden; }
.add-comment h3{font-size:18px;color:#dae0e5;margin-bottom:20px;}
.add-comment form{overflow:hidden;}
.add-comment .fieldsubmit button{margin: 0 3px;display: inline-block;background: none;cursor: pointer;font-family: 'Open Sans';line-height: 19px;padding: 0 11px 2px 12px;border: 2px solid #798083;border-radius: 5px;font-size: 13px;float: right;font-weight: 600;color: #fff;margin-bottom: 15px;transition: 300ms all;}
.add-comment form img{float:left;width:47px;height:47px;border-radius:100%;}
.add-comment form .add-comment-form{padding-left:60px;}
.add-comment form .add-comment-form>div{border:2px solid #798184;border-radius:6px;}
.add-comment form .add-comment-form>div textarea{box-sizing:border-box;width:100%;padding:15px;height:44px;font-size:13px;color:#6c7477;background-color:transparent;resize:none;overflow:auto;}
.add-comment form .add-comment-form>div .alt{border-top:2px solid #798184;overflow:hidden;height:33px;line-height:32px;background-color:#2a3337;border-radius:0 0 5px 5px;}
.add-comment form .add-comment-form>div .alt button{float:right;background-color:#1e2326;width:84px;text-align:center;font-size:14px;font-weight:600;color:#9aa3a7;cursor:pointer;border-left:2px solid #798184;transition:300ms background-color;line-height:33px;}
.add-comment form .add-comment-form>div .alt button:hover{background-color:#121618;}
.add-comment form .add-comment-form>div .alt label{font-size:12px;color:#a3adb2;padding-left:10px;position:relative;top:-2px;}
.add-comment form .add-comment-form>div .alt label strong{color:#c1ac87;}
.add-comment form .add-comment-form>div .alt label span{position:relative;top:2px;margin-right:3px;}
.add-comment span.form-value input,.pedit-form span.form-value textarea{height:17px;line-height:17px;padding:5px 10px;font-size:12px;color:#B3BABD;border:1px solid #515a5e;border-radius:5px;background-color:#22282b;transition:300ms border-color; }
.add-comment span.form-value input:focus,.add-comment span.form-value textarea:focus{border-color:#78888f;}
.add-comment span.title{line-height:20px;color:#b3babd;font-size:13px;font-weight:600;width:135px;padding-right:10px;padding-top:4px; text-align:center; }
.error-msg{position:relative;background-color:#491f1f;padding:11px;border-radius:5px;color:#c1c5c7;font-size:12px;line-height:20px;margin-bottom:15px; text-align:right}
.error-msg .close-btn{font-size:20px;color:#3a1616;position:absolute;top:7px;right:7px;}
/*--- Comments ---*/
#comments {color:#B3BABD;}
#comments h3.title span span {border-bottom:none;}
#comments h3.title{margin-bottom:20px;}
#comments .comments div.left_block{float:left;}  
#comments .comments div.left_block a{color: #eee;font-size: 9px;margin-left: -3px;position: relative;top: -3px;}
#comments .comments div.right_block{float:right;}  
#comments .comments .otvet{background: url(../images/quot.png);background-position: -0px -0px;width: 25px;  height: 23px;  cursor: pointer;  border-right:1px solid #696969;}  
#comments .comments .otvet:hover{background: url(../images/quot.png);background-position: -0px -23px;width: 25px;height: 23px;cursor: pointer;}  
#comments .comments .edit-com {background: url(../images/moder-panel.png);background-position: -0px -0px;width: 35px;height: 23px;cursor: pointer;border-left:1px solid #696969;}  
#comments .comments .edit-com:hover{background: url(../images/moder-panel.png);background-position: -0px -23px;width: 35px;height: 23px;cursor: pointer;}  
#comments .comments .delete-com{background: url(../images/moder-panel.png);background-position: -35px -0px;width: 35px;height: 23px;cursor: pointer;border-left:1px solid #696969;}  
#comments .comments .delete-com:hover{background: url(../images/moder-panel.png);background-position: -35px -23px;width: 35px;height: 23px;cursor: pointer;}  
#comments .comments .avatar_comment{width:50px;height:50px;padding:3px;background:#888888;}  
#comments .comments .wbr3{-webkit-border-radius:3px;-moz-border-radius:3px; border-radius:3px;}  
#comments .comments .content-com{float:left;width:100%;position:relative;margin-bottom:15px}  
#comments .comments .com_p{top:0;right:0;width:75px;position:absolute;}  
#comments .comments .com_l{padding: 0px 0;background: #555;margin: 0 74px 0 0;overflow: hidden;}  
#comments .comments .com_v{height:23px;border-bottom:1px solid #696969;}  
#comments .comments .com_v,.com_n{margin:0 0px 0 0px;}  
#comments .comments .com_c {min-height: 39px;overflow:hidden;margin:5px 15px 7px 15px; text-align:right; line-height:30px;}  
#comments .comments .com_c p{padding:10px;margin:10px 0;background:#333;overflow:hidden!important;border:1px solid #22282B;}  
#comments .comments .kcom_like:link,.kcom_like:visited{text-align:center;color:#fff;float:right;width:47px;background:#999999;margin-top:3px;padding:1px 3px 1px 3px;border:1px solid #666666;}  
#comments .comments .kcom_like:hover{text-decoration: none;border:1px solid #666666!important;color:#375e15!important;text-shadow:1px 1px 1px #d7ffb6!important;background:#9aeb56!important;}  
#comments .comments .line-right{height:20px;border-right:1px solid #696969;}  
#comments .comments .line-left{height:19px;border-left:1px solid #696969;}  
#comments .comments .text_r {text-align:right;}  
#comments .comments .text_9 {font:9px Verdana,Arial,Helvetica, sans-serif;}  
#comments .comments .grey {color:#b1b1b1;}  
#comments .comments .grey2{color:#cac8c8;}  
#comments .comments .green{color:#429e1e;font-weight:bold;}  
#comments .comments .right{float:right;}  
#comments .comments .left{float:left;}  
#comments .comments .top{padding: 4px 12px 0px 12px;}  
#comments .comments .top2{padding: 5px 12px 0px 12px;}  
#comments .comments .bold{font-weight:bold;}  
#comments .comments .text_115{font:'Open Sans',Arial,Helvetica, sans-serif;color:#797979;}
#comments .comments .text_115 div{min-height: 25px;overflow: hidden;color: #eee;padding-top: 15px;padding-bottom: 15px;}
#comments .comments .mass_comments_action input[type="submit"]{margin: 0 3px;display: inline-block;background: none;font-family: Arial;line-height: 14px;padding: 0 11px 2px 12px;border: 2px solid #798083;border-radius: 5px;font-size: 12px;font-weight: normal;color: #797979;margin-bottom: 15px;transition: 300ms all;}
#comments .comments .mass_commnets_action input[type="submit"]:hover{border-color:#eee;transition: 300ms all;}
.detail-right{float:left;width:300px;}
.detail-right .favorite, .detail-right .actions{margin-bottom: 20px;margin-top: 10px;}
.detail-right .favorite a {text-align:center;width:267px;display:inline-block;line-height:28px;padding:0 15px;border:1px solid #626566;border-radius:5px;font-size:12px;color:#cfd4d6;font-weight:normal;transition:300ms background-color;opacity:.9;}
.detail-right .favorite a:hover{background-color:#425f9b;}
.detail-right .favorite a .fa{margin-right:5px;font-size:15px;position:relative;top:1px;}
.detail-right .like-box{}
.detail-right .like-box .like-count,.detail-right .like-box .dislike-count{font-size:12px;color:#dae0e5;padding-bottom:10px;display:inline-block;}
.detail-right .like-box .like-count .fa,.detail-right .like-box .dislike-count .fa{margin-right:4px;}
.detail-right .like-box .dislike-count{float:right;}
.detail-right .like-box .like-bar{height:2px;background-color:#fff;margin-bottom:18px;}
.detail-right .like-box .like-bar>div{height:2px;background-color:#0c90ff;}
.detail-right .like-box .like-btn{line-height:35px;background-color:#151516;border-radius:3px;display:inline-block;width:149px;float:left;margin-right:2px;text-align:center;font-size:12px;font-weight:600;color:#8c8c8c;transition:300ms all;}
.detail-right .like-box .like-btn:hover{background-color:#7da340;color:#fff;}
.detail-right .like-box .like-btn.dislike:hover{background-color:#ad2e33;color:#fff;}
.detail-right .like-box .like-btn .fa{font-size:16px;margin-right:5px;}
.detail-right .like-box .like-btn:last-child{margin-right:0;}
.detail-right .go-movies-profile{overflow:hidden;background-color:#1c2123;border-radius:5px;display:block;font-size:12px;color:#cdd8dd;line-height:17px;padding:7px;margin-bottom:15px;transition:300ms background-color;}
.detail-right .go-movies-profile img{float:left;width:32px;height:32px;border-radius:4px;margin-right:10px;}
.detail-right .go-movies-profile span{font-size:13px;font-weight:600;color:#b8a676;display:block;margin-top:-1px;}
.detail-right .go-movies-profile:hover{background-color:#2e373a;}
.detail-right .cast{background-color:#1b2022;padding:5px 12px;border-radius:5px;margin-bottom:15px;}
.detail-right .cast a {color:#6c7579;transition:300ms all;}
.detail-right .cast a:hover {color:#ffffff;transition:300ms all;}
.detail-right .cast h3{text-align:center;border-bottom:1px solid #262d30;font-size:13px;font-weight:600;color:#c1ac87;line-height:35px;}
.detail-right .cast ul li{border-bottom:1px solid #1f2527;}
.detail-right .cast ul li a{padding:10px 0;display:block;line-height:19px;font-size:12px;font-weight:600;color:#6c7579;transition:300ms all;}
.detail-right .cast ul li a span{display:block;color:#bbc4c8;}
.detail-right .cast ul li a:hover{background-color:#1f2527;padding-left:10px;}
.detail-right .cast .topic-more{display:block;padding:10px;text-align:center;font-size:11px;color:#687072;}
.detail-right .cast .topic-more span{display:block;font-size:13px;color:#bbc4c8;padding-bottom:7px;}
.adsdown span{font-family: 'Droid Arabic Kufi', sans-serif; font-size:18px; display:block; text-align:center; color:#EFE1E2; margin-right:20px  }

.ads300x250{width:300px;height:250px;overflow:hidden;margin:0 auto 20px;}
.ads200x625 {float: left;width: 200px;height: 625px;overflow: hidden;margin-top: 15px;margin-left: -7px;}
.movies-profile-head{padding:15px;overflow:hidden;background:#050e12;}
.movies-profile-head .movies-image{float:right;padding:11px;background:#22292b;margin-left: 20px;}
.movies-profile-head .movies-image img{width:214px;height:317px;}
.movies-profile-head .movies-right-content{position:relative;}
.movies-profile-head .movies-right-content h3{font-size:24px;font-weight:600;color:#eaf2f5;padding-top:10px; text-align:right}
.movies-profile-head .movies-right-content h3 .follow-btn{margin-left:14px;position:relative;top:-3px;}
.movies-profile-head .movies-right-content .rank{position:absolute;top:0;left:0;}
.movies-profile-head .movies-right-content .rank .fa{font-size: 23px;color: #797979;}
.movies-profile-head .movies-right-content .rank .ratingzero {color:#797979;}
.movies-profile-head .movies-right-content .rank .rank-text{position:absolute;top:0;left:0;width:100%;text-align:center;line-height:50px;font-size:17px;font-weight:bold;color:#191d23;letter-spacing:-1px;}
.movies-profile-head .movies-right-content .movies-detail-menu{overflow:hidden;border-bottom:1px solid #272c2f;padding-bottom:10px;padding-top:10px; }
.movies-profile-head .movies-right-content .movies-detail-menu li{float:right;margin-right:20px;color:#898f99;font-size:13px; }
.movies-profile-head .movies-right-content .movies-detail-menu li .fa{font-size:14px;margin-right:5px;color:#494e56;}
.movies-profile-head .movies-right-content .movies-detail-menu li a{display:inline-block;color:#898f99;transition:300ms color;}
.movies-profile-head .movies-right-content .movies-detail-menu li a:hover{color:#eee;}
.movies-profile-head .movies-right-content .movies-story{font-size:13px;line-height:22px;color:#adb3b6;padding:10px 0;}
.movies-profile-head .movies-right-content .movies-story .read-more{display:block;font-size:13px;font-weight:600;color:#b8a676;border-bottom:1px solid #272c2f;text-align:center;padding:3px 0 10px 0;}


.movies-profile-bottom{background:#181d1e;height:52px;margin-bottom:27px;padding-bottom:15px;}
.movies-profile-bottom ul li{float:right; width: 16.8%;font-family: "JF Flat Regular", sans-serif;}
.movies-profile-bottom ul li i{display:inline-block; padding-left:5px}
.movies-profile-bottom ul li {position:relative;top:9px;display:block;font-size:12px;color:#bcc0cd;text-align:center;border-right:1px solid #22282a;}
.movies-profile-bottom ul li span{display:block;font-size:16px;font-weight:600;color:#c3ced9;padding-top:5px;}
.movies-profile-bottom ul:last-child li{border-right:none;}
.movies-last-episode{display:block;border-radius:5px;margin-bottom:20px;background:#1b2022;overflow:hidden;padding:10px;}
.movies-last-episode img{float:left;width:48px;height:48px;border-radius:4px;margin-right:10px;}
.movies-last-episode .title{font-size:13px;color:#d95e40;display:block;padding-bottom:5px;padding-top:1px;}
.movies-last-episode .alt-title{font-size:12px;color:#adb3b6;padding-bottom:5px;display:block;}
.movies-last-episode .alt-title span{color:#535c61;}
.movies-last-episode .episode-name{font-style:oblique;font-size:12px;display:block;color:#b8a676;}
.movies-seasons{text-align:center;padding-bottom:10px;font-family: "JF Flat Regular", sans-serif;height:25px; border-bottom:1px #b5babc solid; border-left:5px #b5babc solid}
.movies-seasons li{display:inline-block;line-height:25px;border:0px solid #acb3b6;cursor:pointer;border-radius:0px;font-size:14px;color:#c2cbd2;margin:0 3px 12px 3px; float:right; padding:5px; direction:rtl; padding-left:5px ; padding-right:5px }
.movies-seasons li:hover{border-color:#d1dadd;color:#fff;background:#425f9b ; border-top-left-radius:10px; border-top-right-radius:10px}
.movies-seasons li.current {color:#fff !important; border-bottom:0;  border-radius: 2px;  background-image:url(../images/123.svg) ; background-repeat: no-repeat; background-size:32px 32px; padding-left:20px; width:150px;font-size:16px}
.tipstowatch {width:97.8%; background:#313547; padding:10px;text-align:right ; margin-bottom:32px; font-size:13px; direction:rtl}
.tipstowatch span{font-family: "JF Flat Regular", sans-serif; direction:rtl }
.tipstowatch span.spanleft{margin-right: 50px}
.tipstowatch span i{padding-left:10px}
.hdcammovie {width:70%; background:#dd0711; padding:10px;text-align:right ; margin:auto; font-size:13px; direction:rtl; margin-bottom:20px}
.hdcammovie span{font-family: "JF Flat Regular", sans-serif; direction:rtl; color:white }
.hdcammovie span i{padding-left:10px}
.movies-seasons li.border {border-bottom:1px #06a1ea solid}
.movies-seasons li.border2 {border-bottom:1px #badb01 solid}
.movies-seasons li.border3 {border-bottom:1px #db0125 solid; margin-right:40px}
.movies-seasons li.borderleft {float:left}
.movies-episodes{background:#000000; }
.movies-episodes ul li{border-bottom:1px solid #22282b;border-top:1px solid #141819;overflow:hidden;}
.movies-episodes ul li>span{float:left;line-height:36px;}
.movies-episodes ul li>span:nth-child(1){width:70px;text-align:center;}
.movies-episodes ul li>span:nth-child(2){width:72px;text-align:center;}
.movies-episodes ul li>span:nth-child(3){width:90px;text-align:center;}
.movies-episodes ul li>span:nth-child(4){width:175px;}
.movies-episodes ul li>span:nth-child(5){float:right;text-align:center;width:150px;}
.movies-episodes ul li .radius{display:inline-block;width:21px;height:21px;border-radius:100%;background:#15191a;line-height:21px;color:#15191a;}
.movies-episodes ul li .radius.active{background:#d95e40;}
.movies-episodes ul li .date{color:#6c7477;font-size:12px;}
.movies-episodes ul li .season,.movies-episodes ul li .episode-name{color:#96a0a4;font-size:12px;}
.movies-episodes ul li .episode{font-size:12px;color:#c1ac87;}
.movies-episodes ul li.title span{font-size:12px;color:#bcc4cb;}
.movies-episodes ul li:hover{background:#202628;}
.movies-episodes ul li.title:hover{background:transparent;}
.relnews img {display:none;}
.user-profile-head{height:224px;background-color:#1d2224;position:relative;}
.user-profile-head .user-avatar{float:left;width:160px;height:160px;background-color:#272f32;padding:12px;position:relative;top:20px;left:20px;}
.user-profile-head .user-avatar img{width:160px;height:160px;}
.user-profile-head .user-social{position:absolute;top:35px;right:20px;}
.user-profile-head .user-social li{float:left;margin-left:15px;}
.user-profile-head .user-social li a{display:block;font-size:25px;color:#cdd3db;}
.user-profile-head .last-watch{font-size:12px;color:#adb3b6;position:absolute;top:85px;left:220px;border-bottom:1px solid #292e31;padding-bottom:15px;width:637px;}
.user-profile-head .last-watch a{color:#b8a676;}
.user-profile-head .last-watch a:hover{text-decoration:underline;}
.user-profile-head .last-watch span{padding-left:12px;color:#485053;font-size:11px;font-style:oblique;}
.user-profile-head .user-friends{position:absolute;top:130px;left:220px;}
.user-profile-head .user-friends ul li{width:60px;float:left;margin-right:12px;}
.user-profile-head .user-friends ul li a{display:block;font-size:0;position:relative;}
.user-profile-head .user-friends ul li a img{width:60px;height:60px;}
.user-profile-head .user-friends ul li.more a img{width:30px;height:30px;float:left;}
.user-profile-head .user-friends ul li.more a span{position:absolute;top:0;left:0;z-index:1;width:100%;height:60px;line-height:60px;text-align:center;font-size:28px;font-weight:600;color:#cdd3db;background-color:rgba(0,0,0,0.7);text-shadow:1px 1px 0 #0e0f11;}
.user-profile-head .user-name{position:absolute;top:35px;left:220px;}
.user-profile-head .user-name h3{font-size:24px;font-weight:600;color:#eaf2f5;display:inline-block;}
.user-profile-head .user-name h3 .fa{color:#cb9010;font-size:20px;position:relative;top:-1px;}
.user-profile-head .user-name .follow-btn{margin-left:14px;position:relative;top:-2px;}
.follow-btn{display:inline-block;line-height:28px;padding:0 15px;border:1px solid #626566;border-radius:5px;font-size:12px;color:#cfd4d6;font-weight:normal;transition:300ms background-color;opacity:.9;}
.follow-btn:hover{background-color:#425f9b;}
.follow-btn .fa{margin-right:5px;font-size:15px;position:relative;top:1px;}
.follow-btn .fa.fa-check{color:#494e56;}
.user-profile-bottom{background-color:#181d1e;height:53px;position:relative;margin-bottom:15px;}
.user-profile-bottom .buttons{position:absolute;top:9px;right:14px;}
.user-profile-bottom .buttons a{display:block;float:left;line-height:35px;background:#23292d;margin-left:10px;font-size:13px;color:#d9dee3;padding:0 10px;border-radius:5px;}
.user-profile-bottom .buttons a .fa{font-size:18px;position:relative;top:1px;}
.user-profile-bottom .buttons a .fa.fa-envelope{margin-right:6px;}
.user-profile-bottom ul{width:700px;}
.user-profile-bottom ul li{width:20%;float:left;}
.user-profile-bottom ul li a{border-right:1px solid #22282a;display:block;font-size:12px;color:#6a7889;text-align:center;line-height:17px;position:relative;top:10px;}
.user-profile-bottom ul li a span{display:block;text-align:center;font-size:15px;font-weight:600;color:#c3ced9;}
.user-profile-bottom ul li:last-child a{border-right:0;}
h3.profile-title{font-size:14px;font-weight:600;color:#b3babd;padding-bottom:20px;}
h3.profile-title span{line-height:18px;padding:0 10px;background:#181d1e;border-radius:7px;font-size:11px;font-weight:normal;margin-left:5px;}
.user-profile-right{float:right;width:585px;margin-right:20px;}
.user-profile-right .last-activity{margin:10px 0 35px;}
.pagination-radius{text-align:right;}
.pagination-radius ul{display:inline-block;overflow:hidden;}
.pagination-radius ul li{float:left;margin-left:7px;}
.pagination-radius ul li a{text-align:left;display:block;width:15px;height:14px;display:inline-block;text-indent:-9999px;}
.pagination-radius ul li a:hover{opacity:.7;}
.pagination-radius ul li.active a{background-position:-70px -44px;}
.user-profile-left{float:left;width:216px;background:#1d2224;padding:10px;margin-bottom:25px;}
.user-profile-left .user-about{margin-bottom:15px;margin-top:10px;}
.user-profile-left .user-about li{border-bottom:1px solid #22282b;padding:8px 0;line-height:20px;font-size:12px;opacity:.9;color:#adb8bd;}
.user-profile-left .user-about li:last-child{border-bottom:none;}
.user-profile-left .user-about li span{color:#525d62;display:block;}
.user-profile-left .user-about li a {display: inline-block;text-align:center;width: 205px;line-height: 25px;border: 2px solid #acb3b6;cursor: pointer;border-radius: 10px;font-size: 13px;color: #c2cbd2;margin: 0 3px 0 3px;font-weight: 600;transition: 300ms all;}
.user-profile-left .user-about li a:hover {border-color:#d1dadd;color:#e5eef1;transition: 300ms all;}
.user-profile-left .icon-menu{margin-bottom:15px;}
.user-profile-left .icon-menu li{border-bottom:1px solid #22282b;}
.user-profile-left .icon-menu li a{display:block;font-size:13px;color:#adb8bd;padding:12px 0;transition:300ms all;}
.user-profile-left .icon-menu li a .fa{margin-left:3px;margin-right:6px;font-size:16px;position:relative;top:1px;}
.user-profile-left .icon-menu li a .fa.fa-angle-right{float:right;}
.user-profile-left .icon-menu li a:hover{background:#22282b;padding-left:7px;}
.user-profile-left .icon-menu li:last-child{border-bottom:none;}
.user-profile-left .user-fav-list{overflow:hidden;padding:5px 0;margin-bottom:14px;}
.user-profile-left .user-fav-list li{float:left;width:33.3%;}
.user-profile-left .user-fav-list li a{display:block;text-align:center;padding:7px 0;}
.user-profile-left .user-fav-list li a img{width:43px;height:43px;border-radius:100%;}
.user-profile-left .user-fav-list li a>span{color:#1d2224;display:inline-block;width:43px;height:43px;line-height:43px;background:#31393c;border-radius:100%;font-size:27px;}

.dashboard-head{height:154px;background:#1b2022;position:relative;}
.dashboard-head .image{position:absolute;top:15px;left:16px;width:113px;height:113px;border:8px solid #272f32;z-index:1;}
.dashboard-head .username{font-size:24px;font-weight:bold;color:#eaf2f5;position:absolute;top:20px;left:160px;}
.dashboard-head .username .fa-star{color:#cb9010;font-weight:normal;font-size:20px;}
.dashboard-head .username .follow-btn{margin-top:8px;}
.dashboard-head .alt{background:#181d1e;height:62px;width:100%;position:absolute;bottom:0;left:0;}
.dashboard-head .alt ul{padding-left:145px;}
.dashboard-head .alt ul li{text-align:center;float:left;text-transform:uppercase;padding:0 20px;margin-top:15px;font-size:12px;color:#6a7889;border-right:1px solid #22282a;border-left:1px solid #0c1012;}
.dashboard-head .alt ul li:first-child{border-left:none;}
.dashboard-head .alt ul li:last-child{border-right:none;}
.dashboard-head .alt ul li span{display: block;font-size: 16px;font-weight: normal;color: #c3ced9;padding-top: 5px;text-transform: none;}
.dashboard-inner{padding:20px 25px;overflow:hidden;}
.dashboard-inner .dashboard-right{padding-top:25px;float:right;width:336px;}
.dashboard-inner .dashboard-left{margin-top:25px;float:left;width:488px;padding-right:14px;border-right:1px solid #292e31;}
.dashboard-inner .dashboard-left .last-watch{margin-top:20px;margin-bottom:25px;}
.dashboard-inner .dashboard-left .last-watch ul li{overflow:hidden;background:#1e2326;line-height:35px;border-bottom:1px solid #22282b;}
.dashboard-inner .dashboard-left .last-watch ul li:nth-child(odd){background:#1b2022;}
.dashboard-inner .dashboard-left .last-watch ul li span{float:left;}
.dashboard-inner .dashboard-left .last-watch ul li span:nth-child(1){width:322px;text-indent:15px;color:#96a0a4;font-size:12px;}
.dashboard-inner .dashboard-left .last-watch ul li span:nth-child(1) a{font-size:13px;font-weight:bold;color:#c1ac87;}
.dashboard-inner .dashboard-left .last-watch ul li span:nth-child(2){width:165px;border-left:1px solid #22282b;text-align:center;color:#96a0a4;font-size:12px;}
.dashboard-inner .dashboard-left .last-watch ul li.title span{border-left:transparent;font-weight:bold;}
.dashboard-inner .dashboard-left .last-watch .more{display:block;background:#1b2022;line-height:31px;text-align:center;font-weight:bold;color:#bcc4cb;font-size:12px;}
.dashboard-inner .dashboard-left .dashboard-stats{overflow:hidden;}
.dashboard-inner .dashboard-left .dashboard-stats ul{margin:20px 0;overflow:hidden;padding-bottom:15px;border-bottom:1px solid #292e31;}
.dashboard-inner .dashboard-left .dashboard-stats ul li{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;float:left;width:25%;text-align:center;font-size:13px;font-weight:bold;color:#5a666c;border-right:1px solid #292e31;padding:15px 0;}
.dashboard-inner .dashboard-left .dashboard-stats ul li:last-child{border-right:none;}
.dashboard-inner .dashboard-left .dashboard-stats ul li span{display:block;font-size:36px;color:#e5ebee;padding-bottom:5px;}
.dashboard-inner .dashboard-left .dashboard-stats p{font-weight:bold;font-size:13px;color:#5a666c;text-align:center;padding-bottom:15px;border-bottom:1px solid #292e31;margin-bottom:25px;}
.dashboard-inner .dashboard-left .dashboard-stats p span{display:block;font-size:33px;color:#e5ebee;padding-bottom:10px;}
.dashboard-inner .dashboard-left .user-messages ul li{border-bottom:1px solid #292e31;}
.dashboard-inner .dashboard-left .user-messages ul li a{display:block;overflow:hidden;padding:12px 0;}
.dashboard-inner .dashboard-left .user-messages ul li a .image{float:left;width:42px;padding-top:4px;}
.dashboard-inner .dashboard-left .user-messages ul li a .image img{width:42px;height:42px;border-radius:100%;}
.dashboard-inner .dashboard-left .user-messages ul li a .m-content{display:block;padding-left:55px;}
.dashboard-inner .dashboard-left .user-messages ul li a .m-content .title{font-size:13px;font-weight:bold;color:#c1ac87;display:inline-block;padding-bottom:5px;}
.dashboard-inner .dashboard-left .user-messages ul li a .m-content .type{float:right;font-weight:bold;font-size:12px;color:#6c7477;}
.dashboard-inner .dashboard-left .user-messages ul li a .m-content p{font-size:12px;color:#96a0a4;line-height:20px;}
.dashboard-inner .dashboard-left .user-messages ul li a .m-content .alt{font-size:12px;color:#6c7477;}
.dashboard-inner .dashboard-left .user-messages ul li a .m-content .alt span{color:#96a0a4;}
.dashboard-inner .dashboard-left .user-messages .more{display:block;line-height:31px;text-align:center;font-weight:bold;font-size:12px;color:#bcc4cb;border-bottom:1px solid #292e31;transition:300ms all;}
.dashboard-inner .dashboard-left .user-messages .more:hover{background:#292e31;}

div.goog-te-gadget-simple{background:#425f9b; border-color: #0c161a;}
a.goog-te-menu-value span{color: #cedbdf;}


.footer{border-top:14px solid #1d2225;height:172px;background-color:#171b1c;padding:26px 16px 0;position:relative;}
.footer .footer-logo{width:237px;height:111px;border-right:1px solid #202628;position:relative;text-align:center;}
.footer .footer-logo .logo-dark{text-indent:-9999px;margin-top:20px;}
.footer .disclaimer{float:right;width:700px;font-size:11px;color:#586062;line-height:15px;}
.footer .disclaimer p{padding-bottom:20px;}
.footer .disclaimer p a{color:#7b8486;}.footer .disclaimer p a:hover{text-decoration:underline;}
.footer .bottom{position:absolute;bottom:0;left:16px;width:945px;border-top:1px solid #202628;color:#6e787f;font-size:11px;padding:15px 0;}
.footer .bottom ul{float:right;}.footer .bottom ul li{float:left;border-left:1px solid #545b5d;}
.footer .bottom ul li:first-child{border-left:none;}
.footer .bottom ul li a{display:block;color:#6e787f;padding:0 10px;}
.footer .bottom ul li a:hover{text-decoration:underline;}
.footer .bottom ul li.feedback a{color:#b95841;}
.footer .bottom ul li:last-child a{padding-right:0;}
.footer .bottom p a{color:#a3afb7;}
.footer .bottom p a:hover{text-decoration:underline;}
.popup{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:9999 !important;display:none;}
.popup .popup-content{width:325px;border-radius:5px;background:#374145;position:absolute;top:50%;left:50%;margin-left:-162.5px;overflow:hidden;}
.popup .popup-content .popup-logo{height:99px;background:#444f54;margin-bottom:30px;position:relative;}
.popup .popup-content .popup-logo span{position: absolute;bottom: 0;left: 67px;background: url(../images/logo.png) no-repeat 0 0;width: 200px;height: 50px;top: 25px;}
.popup .popup-content .lostpassword-text{margin-top:-10px;text-align:center;padding:0 30px;margin-bottom:20px;}
.popup .popup-content .lostpassword-text h2{font-size:18px;font-weight:600;color:#e3d7b1;padding-bottom:15px;}
.popup .popup-content .lostpassword-text p{font-size:13px;font-weight:300;color:#aeb1b2;line-height:18px;}
.popup .popup-content .lospassword{border-top:1px solid #444f54;margin:-10px 30px 0;padding:15px 0 25px;text-align:center;font-size:14px;font-weight:600;}
.popup .popup-content .lospassword a{color:#e3d7b1;}
.popup .popup-content .popup-close{position:absolute;top:10px;right:10px;color:#1d2326;z-index:2;font-size:17px;}
.popup .popup-content h3{font-size:18px;font-weight:300;color:#fff;padding:25px 30px;text-align:center;}
.popup .popup-content h3 strong{font-weight:600;}
.popup .popup-content ul.form{padding:0 30px 15px;}
.popup .popup-content ul.form li{margin-bottom:14px;overflow:hidden;}
.popup .popup-content ul.form li button{height:41px;cursor:pointer;background:#8864a9;border-radius:25px;display:block;width:100%;font-size:15px;font-weight:bold;color:#f5f8fa;transition:300ms all;}
.popup .popup-content ul.form li button:hover{background:#6e4e8c;}
.popup .popup-content ul.form li input{width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;padding:10px;height:45px;background:#2d3539;color:#69767c;font-size:14px;line-height:25px;}
.popup .popup-content ul.form li ::-webkit-input-placeholder{color:#69767c;}
.popup .popup-content ul.form li :-moz-placeholder{color:#69767c;}
.popup .popup-content ul.form li ::-moz-placeholder{color:#69767c;}
.popup .popup-content ul.form li :-ms-input-placeholder{color:#69767c;}
.popup .popup-content ul.form li .subtitle{display:block;color:#7e8c92;font-size:13px;padding-bottom:10px;}
.popup .popup-content ul.form li select{cursor:pointer;font-size:12px;}
.popup .popup-content ul.form li .date input{float:left;}
.popup .popup-content ul.form li .date input:nth-of-type(1){width:48px;}
.popup .popup-content ul.form li .date input:nth-of-type(2){width:103px;}
.popup .popup-content ul.form li .date select{margin-left:10px;width:93px!important;}
.popup .popup-content ul.form li .date .customSelect{margin:0 10px;float:left;width:93px;background-position:85%;}
.popup .popup-content ul.form li.gender select{width:265px!important;}
.popup .popup-content ul.form li.gender .customSelect{width:100%;}
.popup .popup-content .alt{height:66px;background:#444f54;line-height:66px;text-align:center;font-size:14px;font-weight:300;color:#fff;}
.popup .popup-content .alt a{font-weight:600;color:#e3d7b1;}
.popup .popup-inner{width:556px;height:410px;border-radius:10px;background:#374145;position:absolute;top:50%;left:50%;margin-top:-205px;margin-left:-303px;padding:0 25px;}
.popup .popup-inner .close-btn{font-size:20px;position:absolute;top:17px;right:25px;color:#1d2326;}
.popup .popup-inner .close-btn:hover{color:#070809;}
.popup .popup-inner h3{font-size:16px;color:#7d8d93;padding:10px 0;margin-top:10px;border-bottom:1px solid #444f54;}
.popup .popup-inner h3 strong{color:#dde3e6;}
.popup .popup-inner .scroll{width:576px;padding-top:10px;}
.popup .popup-inner .scroll>div{height:335px;overflow:hidden;position:relative;padding-right:20px;}
.popup .popup-inner .scroll .ps-scrollbar-y-rail{right:0;width:9px;opacity:1;}
.popup .popup-inner .scroll .ps-scrollbar-y-rail:hover{background:transparent;}
.popup .popup-inner .scroll .ps-scrollbar-y-rail>div{width:9px;background:#2d3539;cursor:pointer;}
.popup .popup-inner .scroll ul li{border-bottom:1px solid #444f54;}
.popup .popup-inner .scroll ul li a{display:block;height:48px;padding:10px 0;line-height:48px;overflow:hidden;font-size:14px;font-weight:bold;color:#dde3e6;}
.popup .popup-inner .scroll ul li a img{float:left;width:48px;height:48px;border-radius:100%;margin-right:15px;}
.popup .popup-inner .scroll ul li a .go-profile{position:relative;top:6px;float:right;height:32px;border:2px solid #6c767a;border-radius:17px;font-size:11px;font-weight:bold;color:#dde3e6;line-height:32px;padding:0 15px;}
.popup .popup-inner .scroll ul li a .go-profile:hover{background:rgba(255,255,255,0.05);}
.popup .popup-inner .scroll ul li:last-child{border-bottom:none;}
.loader{background:rgba(0,0,0,0.6) url(../images/ajax-loader.gif) no-repeat center;position:absolute;top:0;left:0;width:100%;height:100%;}
.movies-single .film-image img{width: 190px;border-radius: 3px;padding: 2px;border: 1px solid #353e42;}
.swiper-container{height:840px;}
.swiper-slide{height:40px;position:relative;}
#comments span.masha_index {display:none;}
[data-load-image]{background:#111111 url(../images/loader.gif) no-repeat center;}

.tableservers a{ color:#f9f4f4; }
.tableservers a:hover{ color: #9ee90d; }

.Vertical-Emphasis-2 {width:500px; }

.fa-usa{background: url(../images/usa.png) center no-repeat}

.tableform b{ line-height:30px; text-align:right}.tableform { text-align:right; line-height:30px; float:right; direction:rtl}



		.vip {
					background: url(../images/vip.png) left top no-repeat;
					display: block;
					width: 250px;
					height: 50px;
					text-decoration: none;
					line-height: 50px;
					color:  #514a32;
					font-weight: bold;
					float:left;
					text-align: justify;
					margin-bottom:150px;
				}
				
					.vip:hover {
						background: url(../images/vip.png) left bottom no-repeat;
						color: #706544;
					}		
								.ordvip {
					background: url(../images/ordvip.png) left top no-repeat;
					display: block;
					width: 250px;
					height: 50px;
					text-decoration: none;
					line-height: 50px;
					color:  #514a32;
					font-weight: bold;
					float:left;
					text-align: justify;
				}
				
					.ordvip:hover {
						background: url(../images/ordvip.png) left bottom no-repeat;
						color: #706544;
					}
					
					.backg {font-family: 'Droid Arabic Kufi', sans-serif;}
					.backg h1 {font-size:16px}
					
					
/*shortstory*/
.shortstory-in {float:none; width:198px; margin-right:30px}
.shortstory {background:#0b0d11; margin:0 50px 20px 10px; overflow:hidden;}
.short-content {overflow:hidden;}
.short-link {overflow:hidden; margin:0 0 10px 0; background:#425f9b; padding:10px;}
.short-link a {
	font-size:13px; line-height:1.3; display:block; text-align:center;
	height:30px; overflow:hidden; text-transform:uppercase; color:#eeedf5}
.short-link:hover {background:#403c76}


.short-images {margin:5px; position:relative;}
.short-images .short-images-link {display:block; position:relative; overflow:hidden}
.short-images short-images-link:before {
	position:absolute; left:-100%; top:0; width:198; height:265; z-index:2; background:rgba(40,40,40,0.3); content:"";
	transition: all 300ms ease-in; -webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;	-o-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in}
.short-images short-images-link:hover:before {
	left:0;	transition: all 300ms ease-in; -webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;	-o-transition: all 300ms ease-in; -ms-transition: all 300ms ease-in}



/*short-images*/
.short-images img {width:198px; display:block; height:265px; border:3px solid #222933; border-radius:3px;}
.shortstory:hover .short-images a img {opacity:0.8}


/*owl-carousel*/
.block-carousel {overflow:hidden;}
.owl-box {margin-left: -10px; margin-right:-10px;}
.owl-box .shortstory-in {margin:0 10px !important; width:auto; float:none}
.owl-box .shortstory {margin:0 !important}

.owl-carousel .owl-wrapper:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.owl-carousel {display: none; position: relative; width: 100%;	-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper {display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer {overflow: hidden; position: relative;	width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out;}	
.owl-item.loading {min-height: 150px; background: url(AjaxLoader.gif) no-repeat center center}
.owl-carousel .owl-item {float: left;}
.owl-controls .owl-page, .owl-controls .owl-buttons div {cursor: pointer;}
.owl-controls {
	-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
	-ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/*.grabbing {cursor:url(grabbing.png) 8 8, move;}*/
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
	-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);}
.owl-controls {text-align: center; }
.owl-controls .owl-prev, .owl-controls .owl-next {
	position:absolute; top:50%; color:#fff; background:#425f9b; font-size:20px;
	filter: Alpha(Opacity=80); opacity: 0.8; z-index:5; border-radius:3px; margin-top:-30px;
	width:38px; height:60px; line-height:60px;}	
.owl-controls .owl-prev {left:10px; top}
.owl-controls .owl-next {right:10px;}
.owl-controls.clickable .owl-buttons div:hover {filter: Alpha(Opacity=100); opacity: 1; background:#526480;}
.owl-pagination {height:30px; line-height:30px; position:absolute; top:-20px; left:20px}
@media (max-width: 467px) {.owl-pagination {position:static;}}
#related-news .owl-pagination {position:static !important; margin-top:20px;}
.owl-controls .owl-page {display: inline-block; vertical-align:middle; zoom: 1; *display: inline;}
.owl-controls .owl-page span {
	display: block;	width: 10px; height: 10px; margin-left: 4px;
	filter: Alpha(Opacity=80); opacity:0.8; background: #fff; border-radius:50%}
.owl-controls .owl-page.active span,
.owl-controls.clickable .owl-page:hover span {background:#425f9b; filter: Alpha(Opacity=100); opacity: 1; }
.h-owl {text-transform:uppercase; font-size:17px; font-weight:bold;	border-left:8px solid #9B59B6; padding:5px 0 5px 12px; background-color:#111826}



.fstorys{ color:#CCC}

.fstorys h1{ line-height:30px; color:#FFF}

.fstorys .table{ color:#CCC}

.imdb {
width:69px;
height:60px;
margin-top:0px;
margin-right:10;
margin-bottom:50px;
background-image:url('http://maxcdn.dardarkom.com/files/uploads/13992729001.png');
text-align:center;
text-decoration:none;
font-family:Tahoma;
font-size:14pt;
font-weight:bold;
color:black;
position:absolute;
}
        .movies-list .date {margin-bottom:20px;line-height: 30px;text-indent: 12px;background: #031a27;border-radius: 3px;font-size: 6px;color: #999;width: 822px!important;margin-right: 0!important;font-family: "JF Flat Regular";padding:10px; background-image: url(../images/movie.svg); background-repeat:no-repeat; background-size:32px 32px; text-align:center}
		        .movies-list .date2 {margin-bottom:20px;line-height: 30px;text-indent: 12px;background: #031a27;border-radius: 3px;font-size: 6px;color: #999;width: 822px!important;margin-right: 0!important;font-family: "JF Flat Regular";padding:10px; background-image: url(../images/tv.svg); background-repeat:no-repeat; background-size:32px 32px; text-align:center}
        .right .movies-list ul li {margin-top: 7px!important;}
		        .add-comment form .add-comment-form>div textarea {
            line-height: 18px;
            padding: 10px 15px;
        }
		 .movies-list .date span{font-size:18px;color:#eee; margin-right:10px; border-bottom-left-radius:10px white solid; }
		 .movies-list .date2 span{font-size:18px;color:#eee; margin-right:10px;  border-bottom-left-radius:10px white solid;}
		 .rateplus a {padding-left: 30px;display: block;}
        .rateplus a span {float:left;margin-right:5px;margin-top:-5px;} 
        .rateplusminus {padding-left: 20px;}
        .rateplusminus a {float:left;}
        .rateplusminus a span {}
        
        .rateplusminus span {display: inline;float: left;margin-top:-3px;}
		.notbar{
	background-color:#425f9b;
	height:25px;
	padding:5px;
	width:100%;
	z-index: 99999; position: fixed;overflow: hidden;
	color:#FFFFFF; font-family: 'Droid Arabic Kufi', sans-serif;
	
	
}
.notbar a{
	color:#ffe400; border-bottom:1px #FFFFFF solid;
}
.xbutton{
	 float:left;margin-left:10px;color:#000;cursor:pointer;
}

.xbutton a{
	color:#FFFFFF;
	text-decoration:none
}
.secretpopout { display: none; }
.relatedart{width:860px; height:300px;  margin-left:50px;  }
.relatedart h4{background:#4c77ca; font-family: 'Droid Arabic Kufi', sans-serif;width:800px; padding:10px; color:#F1E0E1; text-align:center }


.btn_showdown {
background-color:#38710e;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:10px;
cursor:pointer;
font-size: 18px;
color:#ffffff;
padding:10px;
font-family: "JF Flat Regular";
float:right; text-align:center }
.btn_showdown:hover {
background-color:#21252f;
color: #fff;
transition: all 0.5s;
}
.btn_showdown:active {
position:relative;
top:1px;
}
.btn_showdown i {padding-right:10px}
.btn_showdown span{padding-bottom:10px; text-align:center; }

.btn_show {
background-color:#425f9b;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:10px;
display:inline-block;
cursor:pointer;
font-size: 18px;
color:#ffffff;
padding:10px;
margin: 40px 0px 0px 0;
text-decoration:none;
transition: all 0.5s;
font-family: "JF Flat Regular"; }
.btn_show:hover {
background-color:#21252f;
color: #fff;
transition: all 0.5s;
}
.btn_show:active {
position:relative;
top:1px;
}
.btn_show i {padding-left:8px}
.curredesplay{}
.curredesplay ul{width:94%; margin: auto}
.curredesplay ul li {display:block; float:right; margin-left:30px; margin-bottom:40px}
.curredesplay ul li  img{position: relative; width: 100%; /* for IE 6 */}
.curredesplay ul li  h2{position: absolute;  left: 0; width: 100%; }
.liimage { position: relative; width: 270;  }
.liimage img{ position: relative; width: 170px; height:91px}
.liimage h2 {position: absolute; top: 80px; right: 0; width: 100%; background-color:#000000; opacity:0.8 ; padding:2px 2px 2px 0px}
.liimage h2 b{text-align:left; float:left; padding-left:5px; opacity:1;}
.liimage h2 span {color:white;opacity:1; font-family: "JF Flat Regular"; font-size:12px; width:170px; display: inline-block}
.liimage a{color:#d8e2e6}
.liimage a img:hover{opacity:0.5;}
.liimage a:hover{opacity:0.5; color:#06a1ea}
.contrdhover {
display:inline-block;
cursor:pointer;
font-size: 18px;
color:#ffffff;
text-decoration:none;
font-family: 'Droid Arabic Kufi', sans-serif;
border-left:solid 5px #425f9b;
}
.contrdhover:hover  {
background-color:#425f9b;
color: #ffffff;
transition: all 0.5s;
border-left:solid 5px #21252f;

}
.contrdhover:active {
position:relative;
top:1px;
}
.morerd span{margin-right:50px}
.morerd{}
.c-tabs-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
      direction:rtl; 
	    font-family: "JF Flat Regular";


}

.c-tabs-nav__link {
  flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  background-color: #1b2022;
  text-align: center;
  transition: color 0.3s;
  border-bottom:3px #425f9b solid; border-left:4px #13181b solid

}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: #fff;
  background-color: #425f9b;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}
/**
 * Tab
 */
.c-tab {
  display: none;
  background-color: #1b2022;
    direction:rtl; float:right

}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}