html, body {
	     height:100%;
		 margin-bottom:0px;		 
    }
	[class*="col-"] {
		min-height:0;
	}
	.leftContent {
		background-color:#fff;
		border-left: 1px solid #ccc;
		border-top:3px solid #D6002A;
	}
	.rightContent{
		background-color:#ccc;
		border-right: 1px solid #ccc;
		border-top:3px solid #D6002A;
	}
    /* Remeber Me Button */
	.button1 {
		color: #fff !important;
		padding: 7px 15px;
		font-size:1.25em !important;
		font-weight:bold;
		margin:5px 15px;
		position:relative;
		background-color: #D6002A;
		border-radius:5px;
  		-webkit-border-radius:5px;
		-moz-border-radius:5px;		  
	}
	.clear {
	    clear: both;
	}
	.form {
	    margin:0 auto;
		width:260px !important;
		margin-bottom:30px;
	}
	.c2 {
	    float:left;
		margin: 0 auto;		  
	}
	.c4 {
		height:80px;
	}
	/* columns of same height styles */
    /* vertical alignment styles */	 
    .row-xs-height {
        display:table-row;
    }
    .col-xs-height {
        display:table-cell;
        float:none;
    }
    /* firefox fix */
    .img-responsive {
       width: 100%;
    }
    /* vertical alignment styles */
    .col-top {
       vertical-align:top;
    }
    .col-middle {
       vertical-align:middle;
    }
    .col-bottom {
       vertical-align:bottom;
    }
	/* list style in our document */
	.logo {
	   margin:0 10% 10% 10% ;
	   margin-bottom:76px;
	}	  
    .logo2 {
	   margin:0 33% 10% 33%;
	   margin-bottom:30px;
    }
	.item {	
	   padding:3% 8%;	
	   display:table;
    }
	.content {		
	   display:table-cell;
    }
	.ourBusinesses {
	   border-top:1px solid #ccc;
	   border-bottom:1px solid #ccc;
	   padding-top:30px;
	   padding-bottom:30px;
	   padding-left:11%;
	}
	li {
	   color: #3f3f41;
       font-size: 1.1em;
       font-weight: bold;
	   list-style:none;
    }
    li a {
	   color: #D6002A !important;
    }
	a {
       outline: 0 !important;  
    }
    a:hover {
	   text-decoration:none;
    }	  
    /* Fonts for the Social Icons */
    .social-icons a {
	   color: #a1a1a1 !important;
	   padding-top: 10px;
	   padding-right: 24px;
	   padding-bottom:10px;
	   padding-left: 8px;
	   font-size:28px;
	   float:left;
    }
    .social-icons {
	   margin:15px 0;
    }
	@font-face { font-family: "mhfi"; src: url("http://media.mhfi.com/binary/mhfi.eot"); 
src: url("http://media.mhfi.com/binary/mhfi.eot?#iefix") format("embedded-opentype"), url("http://media.mhfi.com/binary/mhfi.woff") format("woff"), url("http://media.mhfi.com/binary/mhfi.ttf") format("truetype"), url("http://media.mhfi.com/binary/mhfi.svg#mhfi") format("svg"); font-weight: normal; font-style: normal; }
[data-icon]:before { font-family: "mhfi" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

    [class^="icon-"]:before, [class*=" icon-"]:before { font-family: "mhfi" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
    .icon-facebook:before { content: "a"; }
    .icon-twitter:before { content: "c"; }
    .icon-youtube:before { content: "e"; }
    .icon-linkedin:before { content: "f"; }
    .icon-google-plus:before { content: "h"; }
    .icon-tumblr:before { content: "i"; }
    .icon-rss:before { content: "b"; }
    .icon-magnifying-glass:before { content: "d"; }
    .icon-search:before { content: "j"; }
    .icon-arrow-up:before { content: "g"; }
    .icon-plus:before { content: "k"; }
    .icon-minus:before { content: "l"; }

@media only screen and (max-width : 360px) {

	.ourBusinesses{
		width:255px;
		margin:0 auto;
		padding-left:0;
		padding-right:0;
		border:none;
		font-size:.8em;
	}
	.OB {
		width:95%;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		margin:0 auto;
	}	
	.ourBusinesses li li {
		margin-left:-20px;
	}
	.item{
		padding: 3% 0;
	}	
	.logo {
		 margin:0 20% 10% 20%;
		 margin-bottom:28px;
	}	
	.social-icons {
		width:262px;
		margin:10px auto !important;
		position:relative !important;
		left:-8px;
	}		
	.social-icons a {
	    color: #a1a1a1 !important;
		padding-top: 10px;
	    padding-right: 10px !important;
	    padding-bottom:10px;
	    padding-left:2px;
	    font-size:23px;
	    float:left;
    }
	.social-icons a:hover {
		text-decoration:none;
	}
	.rightContent{
		border-right: none;
		border-top:none;
	}
}

@media only screen and (max-width : 500px) and (min-width : 361px) {
	.item{
		padding: 3% 0;
	}
	.ourBusinesses{
		width:275px;
		margin:0 auto;
		padding-left:0;
		padding-right:0;
		border:none;
		font-size:.8em;
		border:none;		
	}
	.OB {
		width:95%;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		margin:0 auto;
	}
	.socialDiv {
		width:271px;
		margin:10px auto !important;
	}
	.social-icons {
		margin-left: -14px;
	}
	.social-icons a {
	    color: #a1a1a1 !important;
		padding-top: 10px;
	    padding-right: 27px !important;
		margin-right: 1px !important;
	    padding-bottom:10px;
	    padding-left:4px !important;
		margin-left:4px !important;
	    font-size:23px;
	    float:left;
		width:25px;
    }
	.social-icons a:hover {
		 text-decoration:none;
	}
	.content {
		width:98%;
	}
	.item {	
	     padding:3% 2px;
	     display:table;
    }
	.logo {
		 margin:0 22% 10% 22%;
		 margin-bottom:48px;
	}	  
	.logo2 {
		 margin:0 32% 10% 32%; 
		 margin-bottom:30px;
	}	
	.leftContent {
		border-left: none;
		border-top:3px solid #D6002A;
	}
	.rightContent{
		border-right: none;
		border-top:none;
	}
}

@media only screen and (max-width : 768px) and (min-width : 501px) {
	.content{width:95%;}	
	.ourBusinesses{
		width:332px !important;
		margin:0 auto;
		font-size:1.0em;
		padding-left:0;
		padding-right:0;
		border:none;
	}
	.OB {
		width:90%;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		margin:0 auto;
	}
	li{
		padding-right:0;
		margin-right:0;
	}
	.item {	
	    padding:3% 2%;	
	    display:table;
    }
	.logo {
		margin:0 28% 10% 28%;
		margin-bottom:48px;
	}	  
	.logo2 {
		margin:0 40% 10% 40%; 
		margin-bottom:30px;
	}  
	.socialDiv {
		width:406px !important;
		margin:10px auto !important;
	}  
	.social-icons {
		margin-left: -14px;
	}
	.social-icons a {
	    color: #a1a1a1 !important;
		padding-top: 10px;
	    padding-right: 27px !important;
		margin-right: 1px !important;
	    padding-bottom:10px;
	    padding-left:20px !important;
		margin-left:4px !important;
	    font-size:23px;
	    float:left;
		width:25px;
    }  	  
    .social-icons {
	    margin:15px 0;
    }	
	.leftContent {
		border-left: none;
		border-top:3px solid #D6002A;	
	}
	.rightContent{
		border-right: none;
		border-top:none;
	}
}
  
@media (max-width:992px) and (min-width: 769px){
	.ourBusinesses{
		width:305px;
		margin:0 auto;
		padding-left:5%;
		font-size:.8em;
	}
	.social-icons a {
	    color: #a1a1a1 !important;
	    padding-top: 10px;
	    padding-right: 5%;
	    padding-bottom:10px;
	    padding-left: 2%;
	    font-size:23px;
	    font-size:22px;
	    float:left;
    }
    .social-icons {
	    margin:15px 0;
    }
	.leftContent {
		border-left: 1px solid #ccc;
		border-top:3px solid #D6002A;
	}
	.logo {
		margin-bottom:65px;
	}
}

@media (max-width:1099px) and (min-width: 993px){
	.social-icons a {
	    color: #a1a1a1 !important;
	    padding-top: 10px;
	    padding-right: 9%;
	    padding-bottom:10px;
	    padding-left: 1%;
	    font-size:24px;
	    float:left;
    }
    .social-icons {
	    margin:15px 0;
    }
	.leftContent {
		border-right: 1px solid #ccc;
	}
}

@media (min-width: 769px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
	.item {	
	    padding:3% 4%;	
	    display:table;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}

@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
