#int-course-nav .ui-helper-reset {
  line-height: 1.4;
}
#int-course-nav .ui-tabs-nav {
  border-bottom: 0 !important;
  height: auto;
}
#int-course-nav .ui-tabs-nav li {
  margin: 0;
  top: 0;
}
@media (max-width: 767px) {
  #int-course-nav .ui-tabs-nav li {
    float: none;
  }
  #int-course-nav .ui-tabs-nav li a {
    float: none;
    padding: 12px 15px;
  }
}
#int-course-nav .ui-tabs-nav .ui-state-default,
#int-course-nav .ui-tabs-nav .ui-state-active {
  background-image: none;
  border: 0;
}
.int-modal-window .ui-tabs .ui-tabs-nav {
  border: 0;
  height: auto;
}
.int-modal-window .ui-tabs .ui-tabs-nav li {
  float: none;
}
.int-modal-window .ui-tabs .ui-tabs-nav li a {
  float: none;
  font-size: inherit;
  font-weight: inherit;
}
.int-modal-window .ui-tabs-nav {
  padding-top: 2.5em !important;
}
.int-modal-window .ui-state-default,
.int-modal-window .ui-state-active {
  background: none;
  border: 0 !important;
}
.int-modal-window .interaction .int-btn-close {
  position: absolute;
  top: .4em;
  right: .5em;
  z-index: 220;
  visibility: hidden;
}
.modalPrinter {
  margin: 5px;
  position: absolute;
  top: .1em;
  right: 2.2em;
  z-index: 220;
}
.table {
  display: table;
}
.table .int-grid6 {
  display: table-cell;
  float: none;
}
.int-toolBanner {
  padding: .8em 0 2em;
  margin-bottom: 1.5em;
}
.int-toolBanner h1,
.int-toolBanner h2,
.int-toolBanner h3,
.int-toolBanner h4 {
  font-family: 'CaratLight';
}
.int-toolBanner h1 {
  font-size: 2.25em;
}
.int-toolBanner h2 {
  font-size: 1.3em;
}
.int-toolBanner p {
  margin-top: 1.5em;
}
.int-steppedAccordion {
  background: #e7eff7;
  color: #002158;
  margin-top: .5em;
}
.int-steppedAccordion.active {
  font-weight: bold;
}
.int-steppedAccordion.active,
.int-steppedAccordion.visited {
  background: #002158;
}
.int-steppedAccordion.result {
  background: #0b55a8;
  margin-bottom: 15px;
}
.int-steppedAccordion.result a,
.int-steppedAccordion.result span {
  display: inline-block;
}
.int-steppedAccordion.result .saveForLater {
  padding: 0;
  vertical-align: middle;
  float: right;
  margin: 1.2em;
  color: #ffc23d;
}
.int-steppedAccordion .int-toggle {
  font-size: 1.4em;
  color: #0b55a8;
  vertical-align: middle;
  padding: .75em 1em;
  display: block;
}
.int-steppedAccordion.active .int-toggle,
.int-steppedAccordion.visited .int-toggle,
.int-steppedAccordion.result .int-toggle {
  color: #fff;
}
.int-steppedAccordion.visited .int-button {
  margin: 0;
  float: right;
  font-size: .75em;
  padding: .25em 1em;
  display: inline-block;
}
.int-steppedAccordion.visited .int-roundal {
  background: #fff;
}
.int-steppedAccordion .int-button {
  display: none;
}
.int-steppedAccordion .int-roundal {
  border-radius: 20px;
  background: #fff;
  color: #0b55a8;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  margin-right: .5em;
}
.int-steppedAccordion.active .int-roundal {
  background: #ffc23d;
}
.int-accordionContainer {
  padding: 1em 1em 1em;
  border: 4px solid #d3d9df;
  border-top: 0;
}
.int-accordionContainer.visited .int-toggle {
  text-decoration: underline;
  cursor: pointer;
}
.int-accordionContainer.visited .int-toggle:hover {
  text-decoration: none;
}
.int-accordionContainer .int-label {
  left: 25.5%;
}
@media (max-width: 767px) {
  .int-accordionContainer .int-label {
    left: 0;
  }
}
.int-container .int-accordionContainer .interaction {
  padding: 0 1em 1em;
  margin: 0;
}
[id*="ouaccordion"] {
  border: 0;
  padding: 0;
}
[id*="ouaccordion"] + div,
[id*="ouaccordion"] ~ div + div {
  border-bottom: 0;
}
[id*="ouaccordion"] ~ [id*="ouaccordion"] {
  border: 0;
}
[id*="ouaccordion"] ~ div {
  border-top: 1px solid #a6d0ff;
}
[id*="ouaccordion"] + div {
  border-top: 0;
}
.int-accordionContainer span.int-label,
.int-accordionContainer label.int-label {
  font-size: 1.1em;
  font-family: "futura-pt", verdana, sans-serif;
}
.int-accordionContainer span label {
  font-size: 1em;
  font-family: "futura-pt", verdana, sans-serif;
}
.int-accordionContainer .int-requiredAsterisk {
  color: #424242;
}
.int-accordionContainer .interaction .int-requiredAsterisk {
  color: #fff;
}
.int-accordionContainer input[type="radio"] {
  margin: 14px 8px;
}
.int-accordionContainer input[type="radio"] + label:before {
  background-position: -62px -178px;
  height: 18px;
  margin: -5px 8px 0 -22px;
  width: 18px;
}
.int-accordionContainer input[type="radio"]:checked + label:before,
.int-accordionContainer input[type="radio"].checked + label:before {
  background-position: -42px -178px;
}
.int-accordionContainer legend {
  color: #424242;
}
.radioCheckAlt {
  display: block;
  clear: both;
}
.radioCheckAlt + br {
  display: none;
}
.radioCheckAlt input[type="radio"] {
  margin-top: 1.1em;
}
.radioCheckAlt input:empty {
  position: absolute;
}
.radioCheckAlt input:empty ~ label {
  position: relative;
  line-height: 1.45em;
  padding-left: 2.25em;
  padding-right: .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 0;
  font-family: "futura-pt", verdana, sans-serif;
  font-size: 1em;
  margin-top: .5em;
  background: #e7eff7;
  border: 4px solid #d3d9df;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #0b55a8;
}
.radioCheckAlt input:empty ~ label:before {
  position: absolute;
  display: block;
  top: 10px;
  bottom: 0;
  left: 10px;
  margin: 0;
  text-indent: 0;
  height: auto;
  text-align: center;
  color: #0b55a8;
}
.radioCheckAlt input:empty:focus ~ label {
  border-color: #ffc23d;
}
.radioCheckAlt input:checked ~ label {
  border-color: #a6d0ff;
  background: #a6d0ff;
  font-weight: bold;
}
.radioCheckAlt input:checked:focus ~ label {
  border-color: #929fb0;
}
.radioCheckAlt.int-roundedCornersBottomRemoved input:checked ~ label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.generatedcontent .radioCheckAlt input[type=radio]:focus + label:before {
  outline: 0 !important;
}
.radioCheckAlt + .interaction .int-errorMessage {
  margin-top: -0.8em;
  margin-bottom: .5em;
}
.radioCheckContainer {
  padding: 0;
  width: 100%;
}
.radioCheckContainer select:first-child {
  margin-top: 1.3em;
}
.radioCheckContainer + .int-errorMessage {
  margin-top: -0.8em;
}
@media (max-width: 767px) {
  .int-steppedAccordion .int-roundal {
    line-height: 1.6;
  }
  .int-steppedAccordion .int-grid3 {
    display: none;
  }
}
.int-feeOptions [class*="grid6"] {
  margin-bottom: 1em;
  border: 2px solid #a6d0ff;
  padding: 0 15px;
  margin-left: 0;
}
.int-feeOptions [class*="grid6"].right {
  margin-left: 2%;
}
@media (max-width: 767px) {
  .int-feeOptions [class*="grid6"].right {
    margin-left: 0;
  }
}
.int-feeOptions [class*="grid6"] h2 {
  font-family: "futura-pt", verdana, sans-serif;
  font-weight: bold;
}
.int-feeOptions [class*="grid6"] .cta {
  background: #e7eff7;
  color: #0b55a8;
  padding: .75em 1em;
  display: inline-block;
  margin-bottom: 1em;
  bottom: 0;
}
.int-feeOptions.alt [class*="grid6"] {
  background: #e7eff7;
  border: 0;
}
.int-feeOptions.alt [class*="grid6"] .cta {
  background: #fff;
}
main .int-container .interaction.int-saveForLater {
  padding: 1em 0 .5em 0;
  margin-bottom: 1em;
}
main .int-container .interaction.int-saveForLater .int-grid6 {
  padding-right: 15px;
}
main .int-container .interaction.int-saveForLater .int-grid6 + .int-grid6 {
  padding-right: 0;
  padding-left: 15px;
}
@media (max-width: 767px) {
  main .int-container .interaction.int-saveForLater .int-grid6,
  main .int-container .interaction.int-saveForLater .int-grid6 + .int-grid6 {
    padding: 0;
  }
}
main .int-container .interaction.int-saveForLater h2 {
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
}
main .int-container .interaction.int-saveForLater h3 {
  font-size: 1.5em;
  margin-bottom: 1.2em;
}
main .int-container .interaction.int-saveForLater h4 {
  font-size: 1.25em;
  margin-top: .3em;
  margin-bottom: 1em;
}
main .int-container .interaction.int-saveForLater .int-button {
  min-width: 50%;
  text-align: center;
}
[id*="ouaccordion"].active ~ div + [id*="oubutton"],
.dstFormCtrl .btnSubmit-row {
  border-bottom: 4px solid #d3d9df;
  padding-bottom: 0;
  padding-top: 0;
  border-top: 0;
}
.dstFormCtrl .btnSubmit-row {
  border-left: 4px solid #d3d9df;
  border-right: 4px solid #d3d9df;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .dstFormCtrl .btnSubmit-row br {
    display: none;
  }
}
@media print {
  .int-steppedAccordion .int-toggle {
    color: #424242 !important;
    text-decoration: none;
    padding: 0;
  }
  .int-steppedAccordion .int-roundal {
    width: auto;
    height: auto;
    vertical-align: top;
    line-height: 1.3;
  }
  .int-accordionContainer {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .radioCheckContainer {
    padding: 0 0 .5em;
  }
  .radioCheckAlt {
    display: table;
    margin-top: 0;
    margin-bottom: .2em;
  }
  .radioCheckAlt input[type=radio] {
    display: table-cell;
  }
  .radioCheckAlt input:empty {
    display: inline !important;
    float: none !important;
    position: relative !important;
    margin-top: 8px !important;
  }
  .radioCheckAlt input:empty ~ label {
    display: table-cell !important;
    border: 0 !important;
    background: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    line-height: 18pt !important;
    font-size: 14pt !important;
  }
  .radioCheckAlt input:empty ~ label:before {
    background: transparent !important;
    width: 32px !important;
  }
  .radioCheckAlt input:checked ~ label {
    background: transparent !important;
  }
  .radioCheckContainer select:first-child {
    margin-top: 0;
  }
  .int-steppedAccordion.result .saveForLater {
    display: none;
  }
  .int-feeOptions .int-grid6 {
    padding: 0 !important;
    border: 0 !important;
    height: auto !important;
  }
  .int-feeOptions .int-grid6 .cta {
    padding: 0 !important;
  }
  .int-feeOptions.alt .int-grid6 .cta {
    padding: 0 !important;
    text-align: left;
  }
  .int-saveForLater {
    display: none;
  }
}
.int-notice.wfa-icon .int-icon[class*="int-icon-"]:first-child {
  font-size: 100px;
  display: table-cell;
  width: 100px;
  text-align: center;
  vertical-align: top;
  color: #0b55a8;
}
.int-notice.int-notice-icon {
  display: table-cell;
  padding: 0;
}
.int-notice.alt.wfa-icon {
  border: solid 1px #a6d0ff;
  width: 100%;
  display: block;
  padding: .5em 1.875em .5em 1.875em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.int-notice.alt.wfa-icon .int-icon.int-icon-mobile {
  padding-top: 14px;
}
@media (max-width: 479px) {
  .int-notice.alt.wfa-icon .int-icon.int-icon-mobile {
    display: none;
  }
}
.int-notice.alt .int-notice.int-notice-icon.int-notice-icon-prospectus {
  background-position: 28px center;
  padding-left: 150px;
}
.int-notice.alt .int-notice.int-notice-icon.int-notice-icon-calculator {
  background-image: url('../img/icons/icon-calculator-white.png');
  background-position: 16px 23px;
  padding-left: 123px;
}
@media (max-width: 479px) {
  .int-notice.alt .int-notice.int-notice-icon.int-notice-icon-prospectus,
  .int-notice.alt .int-notice.int-notice-icon.int-notice-icon-calculator {
    background-image: none;
    padding-left: 0;
  }
}
.int-notice.interaction.alt {
  border: 0;
}
