/*
// ----------------------------------------------------------
// OU.DigitalFramework
// ----------------------------------------------------------
// The Open University © Copyright 2014. All rights reserved
// Written by Paul Liu
// paul.liu@open.ac.uk
// ----------------------------------------------------------
// v0.2
// Throbber
// ----------------------------------------------------------
*/
#int-throbber {
    display: none;
    top: 50% !important;
    left: 50% !important;
    position: fixed !important;
    z-index: 999999;
}
.int-throbberOverlay {
    z-index: 9999999;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: .5;
    filter: alpha(opacity=50);
}