#ou-home-video h2 {
    color: #fff;
    font-size: 1.7em;
    margin-top: 0;
}

#ou-home-video h2 { color: #424242; }

#ou-home-video a {
    color:#ffc23d;
}

main {
    padding-bottom: 0;
}

#ou-home-signin {
    padding-bottom: 1em;
    padding-top: 1em;
}

a.ou-home-news {
    color: #0B55A8;
    font-weight: normal;
	text-decoration:none;
}

a.ou-home-news strong {
	text-decoration:underline;
}

a:hover.ou-home-news strong {
	text-decoration:none;
}

#ou-home-news {
    display: none;
}

div.video-container {
	height:208px;
}

div.video-container-mast {
	width:369px;
}

body .ou-footer .ou-footer-nav #ou-ia-student {
    display: none;
}

@media all and (max-width: 1030px) {

	div.video-container-mast {
		width:280px;
		height:157px;
	}
}

button, input[type=button], input[type=submit], .int-button, a.int-button {
    padding: .5em .8em;
}

@media (max-width: 767px) {
    /*General Styles*/
    .cl-mobile-hidden {
        display: none;
    }

    .cl-floatRight-sm {
        float: right;
    }

    .cl-floatLeft-sm {
        float: left;
    }

	div.video-container {
		width:320px;
		height:179px;
	}

	.int-container {
        margin-top:8px;
    }

	#ou-home-video {
		margin-bottom:50px;
	}
}



.homepage.int-banner {
                padding-right: 0;
                overflow: hidden;
}
.homepage.int-banner.dark-blue {
                background: #0b55a8;
}
.homepage.int-banner.dark-blue,
.homepage.int-banner.dark-blue p,
.homepage.int-banner.dark-blue h1,
.homepage.int-banner.dark-blue h2,
.homepage.int-banner.dark-blue h3,
.homepage.int-banner.dark-blue h4 {
                color: #fff;
}
.homepage.int-banner.dark-blue h1 {
                font-size: 1.7em;
                margin-top: .67em;
}
.homepage.int-banner.dark-blue a {
                color: #ffc23d;
}
.homepage.int-banner [class*="int-grid"] {
                display: table-cell;
                float: none;
                vertical-align: top;
                width: 49%;
}
.homepage.int-banner .image {
                background: url(../ouhomepics/home-feb16.jpg);
                -moz-border-radius: 0 0 0 198px;
                -webkit-border-radius: 0 0 0 198px;
                border-radius: 0 0 0 198px;
                background-position: -223px -90px;
                right: -15px;
                background-repeat: no-repeat;
                width: auto;
                -moz-border-radius: 17% / 0% 0% 0% 80%;
                -webkit-border-radius: 17% / 0% 0% 0% 80%;
                border-radius: 17% / 0% 0% 0% 80%;
}
@media (max-width: 767px) {
                .homepage.int-banner {
                                padding-right: 0;
                }
                .homepage.int-banner [class*="int-grid"] {
                                width: 49%;
                }
                .homepage.int-banner .image {
                                background-position: -303px -90px;
                                -moz-border-radius: 30% / 0% 0% 0% 80%;
                                -webkit-border-radius: 30% / 0% 0% 0% 80%;
                                border-radius: 30% / 0% 0% 0% 80%;
                }
}
@media (max-width: 480px) {
                .homepage.int-banner {
                                padding-right: 15px;
                }
                .homepage.int-banner [class*="int-grid"] {
                                width: 100%;
                                margin-left: 0;
                }
                .homepage.int-banner .image {
                                display: none;
                }
}

/***** FED 17 ****/

.int-bannerWrap {
                                outline: 0;
                }
                .int-countdownBanner {
                                padding: 20px 15px;
                                -moz-border-radius: 10px;
                                -webkit-border-radius: 10px;
                                border-radius: 10px;
                                margin-bottom: 1em;
                                margin-top: 1.5em;
                }
                .int-countdownBanner.int-blue {
                                background-color: #0b55a8;
                }
                .int-countdownBanner.int-pink {
                                background-color: #e21481;
                }
                .int-countdownBanner h1,
                .int-countdownBanner h2,
                .int-countdownBanner h3,
                .int-countdownBanner h3,
                .int-countdownBanner h4,
                .int-countdownBanner h5 {
                                color: #fff;
                                font-family: 'futura-pt',verdana,sans-serif;
                                font-weight: bold;
                }
                .int-countdownBanner .int-count {
                                display: table;
                                padding-bottom: 0;
                }
                .int-countdownBanner.int-blue .int-count {
                                border-right: 1px solid #5588c2;
                }
                .int-countdownBanner.int-pink .int-count {
                                border-right: 1px solid #fff;
                }
                .int-countdownBanner img {
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                                float: left;
                                max-width: none;
                }
                .int-countdownBanner .int-count .int-title {
                                font-size: 1.5em;
                                text-transform: uppercase;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                                padding: 0 20px;
                }
                .int-countdownBanner .int-cta {
                                padding: 0 15px;
                }
                .int-countdownBanner .int-cta .int-title {
                                font-size: 1.35em;
                                margin-top: 0;
                                margin-bottom: .67em;
                }
                .int-countdownBanner .int-cta .int-closingDate {
                                display: inline-block;
                                position: relative;
                                padding: 5px 10px;
                                text-transform: uppercase;
                                font-size: 1.1em;
                                font-weight: bold;
                                margin-bottom: .67em;
                }
                .int-countdownBanner.int-blue .int-cta .int-closingDate {
                                color: #0b55a8;
                                background-color: #ffc23d;
                }
                .int-countdownBanner.int-pink .int-cta .int-closingDate {
                                color: #e21481;
                                background-color: #fff;
                }
                .int-countdownBanner .int-cta .int-link {
                                text-decoration: none;
                                font-size: 1em;
                }
                .int-countdownBanner.int-blue .int-cta .int-link,
                .int-countdownBanner.int-blue .int-cta .int-link a {
                                color: #ffc23d;
                }
                .int-countdownBanner.int-pink .int-cta .int-link,
                .int-countdownBanner.int-pink .int-cta .int-link a {
                                color: #fff;
                }
                .int-countdownBanner .int-cta .int-link span {
                                text-decoration: underline;
                }
                .int-countdownBanner .int-cta .int-link span:hover,
                a:hover .int-countdownBanner .int-link span {
                                text-decoration: none;
                }
                a:focus .int-countdownBanner .int-link {
                                outline: auto;
                }
                .int-countdownBanner .int-cta .int-icon-chevron-right {
                                font-size: .65em;
                }
                .two-thirds-width .int-count {
                                display: table-cell;
                }
                .two-thirds-width img {
                                display: block;
                                width: 108px;
                                margin: 0 auto;
                                float: none;
                                margin-bottom: .5em;
                }
                @media (max-width: 767px) {
                                .int-countdownBanner.int-blue .int-count,
                                .int-countdownBanner.int-pink .int-count {
                                                border-right: 0;
                                                padding-bottom: 15px;
                                                width: auto;
                                }
                                .int-countdownBanner .int-cta {
                                                padding: 0;
                                                padding-top: 15px;
                                }
                                .int-countdownBanner.int-blue .int-cta {
                                                border-top: 1px solid #5588c2;
                                }
                                .int-countdownBanner.int-pink .int-cta {
                                                border-top: 1px solid #fff;
                                }
                                .int-countdownBanner .int-cta,
                                .int-countdownBanner .int-cta .int-closingDate {
                                                display: block;
                                                text-align: center;
                                }
                                .int-countdownBanner .int-cta a {
                                                margin-top: 1.5em;
                                }
                                .int-countdownBanner .int-cta .int-link {
                                                display: inline-block;
                                                margin-top: 1em;
                                }
                                .two-thirds-width .int-count {
                                                display: table;
                                }
                                .int-countdownBanner img {
                                                float: left;
                                }
                }
                @media print {
                                .int-countdownBanner {
                                                display: none;
                                }
                }
