body.ie #postBoxCount{
    margin: 0;
}
.text-center {
    text-align: center;
}
/* BEGIN LOADING CSS */
@keyframes spinner {
    to {transform: rotate(360deg);}
}
@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}
.spinner {
    min-width: 24px;
    min-height: 24px;
}
.spinner:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
}
.spinner:after{
    content: '載入中';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 12px;
    line-height: 14px;
    margin-top: -6px;
    margin-left: -17px;
    font-size: 11px;
}
.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 2px solid rgba(220, 71, 118, .3);
    border-top-color: rgba(220, 71, 118, 1);
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
/* END LOADING CSS */

/* shakeArrow start */
@-webkit-keyframes shakeArrow {
    0%   {color: #dc4776;}
    50%  {color: #ccc;}
    100% {color: #dc4776;}
}
@keyframes shakeArrow {
    0%   {color: #dc4776;}
    50%  {color: #ccc;}
    100% {color: #dc4776;}
}
.shakeArrow{
    animation-name: shakeArrow;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    -webkit-animation-name: shakeArrow;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: infinite;
    font-weight: bold;
    position:relative;
    bottom: 1px;
}
.shakeArrow:nth-child(odd){
}
.shakeArrow:nth-child(even){
    animation-delay: .25s;
    -webkit-animation-delay: .25s;
}
/* shakeArrow end */

.single-post #primary #main article h2 {
    font-size: 18px !important;
    margin-bottom: -10px;
}

.home.page .fb-like.fb_iframe_widget{
    display: none;
    visibility: hidden;
}
.main-box.vce-related-box .vce-post.vce-lay-e .meta-image{
    height: 75px;
}
.vce-grid-item{
    height:240px;
    width: 400px;
}
.vce-featured-grid .owl-item img{
    min-height: inherit;
    min-width:470px;
}

.dfp_m_footer_center {
    max-width: 300px;
    margin: 0 auto;
}
.dfp_m_content {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}
.main-box.vce-related-box .vce-post.vce-lay-c{
    width: 23%;
    padding-bottom: 0;
    margin-right: 20px
}
.main-box.vce-related-box .vce-post.vce-lay-c:last-child{
    margin-right:0;
}
.main-box.vce-related-box .vce-post.vce-lay-c .meta-image{
    height: 89px;
    margin-bottom: 0;
}
.main-box.vce-related-box .vce-post.vce-lay-c .meta-image .entry-title{
    bottom: 5px;
    font-size: 14px;
}
.main-box.vce-related-box .vce-post.vce-lay-c .entry-header{
    display: none;
    visibility: hidden;
}

/* temp must delete while do the meta box of color */
#main-box-3 h3{
    border-top: 2px solid #cdc943;
}
#main-box-4 h3{
    border-top: 2px solid #A678B4;
}
#main-box-5 h3{
    border-top: 2px solid #F27160;
}
#main-box-6 h3{
    border-top: 2px solid #8CC63E;
}
#main-box-7 h3{
    border-top: 2px solid #45B1A7;
}
#main-box-8 h3{
    border-top: 2px solid #83B9E4;
}
/* end temp must delete */

/*Jerry home page layout*/
.meta-image img {
    max-height: none;
}
.attachment-vce-lay-d.wp-post-image {
    min-height: inherit;
    min-width: 145px;
    float: right;
}
.vce-lay-c .meta-image,.vce-lay-b .meta-image {
    height: 187px;
}

/* allenwu edit */
*{
    font-family: "Helvetica Neue","Helvetica","Arial","Microsoft JhengHei",sans-serif;
}

.fb-like.fb_iframe_widget{
    height: 28px;
    overflow: hidden;
}
#post_share{
    text-align: left;
    position: relative;
    max-width: 400px;
    height: 66px;
    left: 100px;
    border: 0;
}
#post_share .fb_iframe_widget{
    width: 100%;
    height: 100%;
}
#post_share td{
    vertical-align: middle;
    position: relative;
    padding: 5px;
    max-height: 66px;
    display: inline-block;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
#post_share div{
	z-index: 11;
}
.fb_iframe_widget{
    margin-bottom: 0;
}

.vce-single .entry-footer{
    margin-top: 30px;
}

#vce_main_navigation_menu a[title='MMC_login'], #vce_main_navigation_menu a[title='MMC_logout']{
    display: none;
    visibility: hidden;
}

#iconSearch-mobile{
    display: none;
    visibility: hidden;
}

.vce-lay-b .entry-title {
    margin-bottom: 3px;
    line-height: 26px;
    font-size: 22px;
    margin-top: 3px;
}
#vce-main #content #primary .main-box-inside .vce-lay-b .entry-header{
    padding: 18px 0 0;
}
.vce-lay-c .entry-title {
    color: #fff;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 4px;
    line-height: 24px;
    font-size: 18px;
    position: absolute;
    bottom: 14px;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 2;
}
.vce-lay-c .entry-title a{
    color: #fff;
}
.vce-lay-c .meta-image .vce-featured-header-background{
    display: inline;
}
.vce-lay-c .entry-title .entry-meta{
    margin: -15px;
}

h1.entry-title {
    font-size: 30px;
    line-height: 60px;
    margin: 0 auto 15px;
    padding: 0;
    width: 700px;
}
#vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-info.vce-vertical-center{
    top: 65% !important;
}
#sidebar .widget.vce_posts_widget .vce-post-big .vce-posts-wrap{
    top: 65% !important;
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    font-style: normal;
}
#vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-header-background,
#sidebar .widget.vce_posts_widget .vce-post-big .vce-post-img:after,
.vce-lay-c .meta-image .vce-featured-header-background,
#mb-layb-bg{
/* background: rgba(60,60,60,0.4); */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.69) 74%, rgba(0,0,0,0.7) 75%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(74%,rgba(0,0,0,0.69)), color-stop(75%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 74%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 74%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.69) 74%,rgba(0,0,0,0.7) 75%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 65%,rgba(0,0,0,0.95) 100%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000  ',GradientType=0 );
opacity: 0.8;

}

#vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-info.vce-vertical-center .vce-featured-title{
    width: 100%;
    text-align: left;
}
#vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-info.vce-vertical-center .vce-featured-title .vce-featured-link-article, #sidebar .widget.vce_posts_widget .vce-post-big .vce-post-link{
    text-shadow: 1px 1px 3px rgba(0,0,0,0);
}
#main-wrapper #primary #main .entry-header .entry-title{
    margin: 5px 0px 15px;
    width: 90%;
    line-height: 30px;
}
.vce-single .entry-header{
    margin: 10px 20px;
    text-align: left;
}
.vce-module-columns .main-box.vce-border-top.main-box-half .main-box-inside .vce-loop-wrap .entry-header{
    padding: 25px 0;
}

#sticky_header .container .site-title .has-logo img{
    max-height:48px;
    margin-top: -7px;
}
#main-wrapper #primary #main .entry-header .entry-footer{
    margin: 0 auto;
}
#header #vce_main_navigation_menu .search-header-wrap{
    display: none;
    visibility: hidden;
}
.vce-header-ads .vce-search-form{
    padding: 10px 20px;
}
#header .header-main-area .vce-header-ads .vce-search-form .vce-search-input{
    width: 488px;
    height: 43px;
    font-size: 16px;
    line-height: 44px;
    background: #fff;
}
#header .header-main-area .vce-header-ads{
    height: 82px;
}
#header .header-main-area .vce-header-ads #search-keyword{
    position: relative;
    font-size: 14px;
    left: 11px;
    top: 3px;
    display: flex;
}
#header .header-main-area .vce-header-ads #search-keyword .dfp_keyword {
    line-height: 20px;
}
#vce-main #main-wrapper #content #primary .main-box .main-box-inside .vce-search-form #search-keyword{
    position: relative;
    font-size: 14px;
    text-align: left;
    left: 36px;
}
#search-keyword a{
    margin-right:5px;
}
#search-keyword a:hover{
    text-decoration: underline !important;
}
.main-box-inside article .vce-search-form .vce-search-submit{
    height: 31px;
}
.main-box-inside article .vce-search-form .vce-search-submit .fa.fa-search{
    top: 0px;
    font-size: 20px;
}
.main-box-inside article .vce-search-form #search-keyword{
    display: none;
    visibility: hidden;
}

#vce-main #main-wrapper #content #sidebar .widget.widget_tag_cloud .tagcloud a:hover{
    background: rgba(0,0,0,0);
    text-decoration: underline !important;
}

#sticky-desktop, #sticky-desktop a{
    display: block;
    visibility: visible;
}
#sticky-mobile, #sticky-mobile a{
    display: none;
    visibility: hidden;
}
#share-top .line-share, #share-bottom .line-share{
    display: none;
    visibility: hidden;
}
#vce-main #main-wrapper #content #primary #respond .must-log-in{
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}

/* 最新消息 切換-電腦 */
.home.page #main-box-1 {
    display: block;
    visibility: visible;
}
.home.page #main-box-2 {
    display: none;
    visibility: hidden;
}

#back-top{
    bottom: 80px;
    border-radius: 5px;
    height: 45px;
    width: 45px;
}
#vce-main #main-wrapper #content #primary #comments .comment-author.vcard img{
    display: none;
    visibility: hidden;
}
#vce-main #main-wrapper #content #primary #comments .comment-content, #vce-main #main-wrapper #content #primary #comments .reply a{
    margin-left: 0px;
}
#vce-main #main-wrapper #content #primary #comments .navigation{
    text-align: right;
    padding: 0 20px 20px 0;
}
#respond .form-submit{
    text-align: right;
}
#vce-main #main-wrapper #content #sidebar .widget.mks_author_widget{
    min-height: 210px;
}
#vce-main #main-wrapper #content #primary .main-box .main-box-inside .vce-author-card .data-content .data-entry-content{
    margin: 0 7px 20px;
}
#vce-main #main-wrapper #content #primary .main-box .main-box-inside .vce-author-card .data-image img{
    height: 112px;
}
#footer .menu a:hover{
    color: #ffdddd;
}
.vce-search-form .vce-search-submit{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: -54px;
    border-radius: 0 4px 4px 0;
    opacity: 0.5;
    width: 24px;
    height: 30px;
    background: none;
    margin-top: 7px;
    border-left: 1px solid #a6a9b2;
}

.vce-search-form .vce-search-submit .fa.fa-search{
    position: relative;
    top: -1px;
    color: #dc4776;
}
.vce-search-form .vce-search-submit:hover{
    opacity: 0.8;
}
#header .container .site-branding img{
    max-width: inherit;
}
#sticky-desktop .has-logo img{
    margin-left: 0 !important;
}
#vce-main #main-wrapper #content #primary #main .entry-content small a{
    color: #5E5E5E !important;
}
#respond .must-log-in a{
    background: #dc4776;
    color: #fff;
    width: 150px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    border-radius: 4px;
}
#respond .must-log-in a:hover{
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1)));
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -o-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%);
}
#respond #commentform .logged-in-as{
    margin-bottom: 5px;
}
#respond #commentform .comment-form-comment label{
    display: none;
    visibility: hidden;
}
#respond #commentform .comment-form-comment #comment{
    height: 60px;
}
#respond #commentform .comment-form-comment{
    margin-bottom: 10px;
}
#vce_main_navigation_menu .vce-mega-cat .vce-mega-menu-wrapper .mega-menu-link{
    height: 42px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#vce_main_navigation_menu .vce-mega-cat .vce-mega-menu-wrapper{
    min-height: inherit;
}
#vce_main_navigation_menu .vce-cat-127 > a{
    color: #dc4776;
}
#primary #main .vce-single .entry-content .wpfp-span{
    display: none;
    visibility: hidden;
}
.wpfp-span{
    position: relative;
    float: right;
    font-size: 14px;
    z-index: 1;
}
.wpfp-img{
    margin: -2px 2px 2px;
}
.entry-meta div:before{
    content: "";
    margin: 0 2px;
}
#primary .vce-loop-wrap .entry-header{
    padding: 4px 0;
}
#primary .main-box-inside article .entry-header .vcard.author .fn a{
    color: #9b9b9b !important;
}
.vce-post.vce-lay-d .meta-item.author{
    margin-left: -3px;
}
.vce-post.vce-lay-d .entry-meta{
    margin-top: 9px;
    white-space: pre;
}

a[title='MMC_collect']{
    display: none;
    visibility: hidden;
}
.main-box .main-box-head .main-box-title, .main-box.vce-border-top .main-box-title, .vce-module-columns .main-box-title{
    background: #fff;
    padding: 10px;
    color: #232323;
    height: initial;
}
#primary .main-box .main-box-head .main-box-subtitle{
    width: 100%;
    padding: 0 20px 9px;
}
#footer .container .widget .widget-title{
    padding: 10px;
}
.sidebar .widget, .main-box, #respond, .main-box-head, .main-box .main-box-head{
    border-radius: 5px 5px 0 0;
}
.sidebar .widget-title, .main-box-title, #reply-title{
    border-radius: 5px 5px 0 0;
    padding: 7px;
    background: rgba(220,71,118,.9);
    color: #fff;
    font-size: 20px !important;
}
#reply-title{
    height: 42px;
}
#poll_div .wp-polls-ul li small, #poll_div .wp-polls-ul li .pollbar{
    display: block;
    visibility: visible;
}
#poll_div .wp-polls .poll-bg{
    padding: 10px 10px 0 !important;
    margin: 0 0 10px !important;
}
#poll_div .wp-polls .poll-bg .wp-polls-ans{
    padding-top: 15px;
}
#poll_div .wp-polls .poll-bg .wp-polls-ans li{
    border-bottom: none;
}
#poll_div .wp-polls .poll-bg > p{
    margin-bottom: 0;
}
#poll_div #poll_img img{
    width: 100%;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
  display: none !important;
}
.vce-post.vce-lay-b .entry-header .meta-item, .vce-post.vce-lay-c .entry-header .meta-item, .vce-single .entry-meta .meta-item{
    display: inline;
}
.vce-post.vce-lay-b .entry-header .meta-item::before, .vce-post.vce-lay-c .entry-header .meta-item::before, .vce-post.vce-lay-d .entry-header .meta-item::before{
    content: none;
}
.vce-post.vce-lay-d .entry-header .entry-meta{
    overflow: hidden;
}
.vce-post.vce-lay-d .entry-header .entry-title{
    position: relative;
    top: 5px;
}
.vce-post.vce-lay-d .entry-header .entry-meta .meta-item{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.vce-post.vce-lay-d .entry-header{
    /*height: 100px;*/
}
article.vce-post.vce-lay-d {
    /*height: 95px !important;*/
    /*min-height: 95px;*/
    /*max-height: 67px;*/
    height: initial !important;
}
.wpfp-ul .vce-post.vce-lay-d{
    margin-top: -5px;
}
.wpfp-ul .wpfp-link.remove-parent{
    position: relative;
    float: right;
    margin-top: -28px;
}
.wpfp-ul .vce-post.vce-lay-d .entry-header .entry-meta .meta-item .vcard.author span a{
    color: #9b9b9b !important;
}
.wpfp-ul .alignright{
    margin-right: 20px;
}
.wpfp-ul .alignleft{
    position: absolute;
    bottom: -30px;
    line-height: 10px;
    left: 0;
    margin-left: 20px;
}
.vce-single .entry-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
#comments .comments-holder.main-box #respond{
    box-shadow: none;
    margin-bottom: 0;
}
#comments .comments-holder.main-box #respond #reply-title{
    display: none;
    visibility: hidden;
}
#comments .comments-holder.main-box #respond #commentform .comment-form-comment #comment{
    background: #fff;
}
#comments .comments-holder.main-box .main-box-inside.content-inside .comment-list li .comment-body .comment-meta .comment-author.vcard b.fn{
    margin: 0;
}
#comments .comments-holder.main-box .main-box-inside.content-inside .comment-list li .comment-body .comment-content{
    margin-bottom: 0;
}
#comments .comments-holder.main-box .main-box-inside.content-inside .comment-list li .comment-body .reply{
    display: none;
    visibility: hidden;
}
#sidebar .widget.mks_ads_widget .mks_adswidget_ul.small li a{
    text-align: left;
}
#sidebar .widget.vce_posts_widget .vce-post-list li{
    margin-bottom: 5px !important;
}
#sidebar .widget.vce_posts_widget .vce-post-list li .vce-posts-wrap{
    height: 43px !important;
}
#sidebar .widget.vce_posts_widget .vce-post-list li .vce-posts-wrap a{
    line-height: 18px;
}
#sidebar .widget.vce_posts_widget .vce-post-list li a span{
    width: 35px !important;
    line-height: 40px !important;
}
#sidebar .widget.vce_posts_widget .vce-post-list li a span img{
    width: 35px !important;
    height: 35px !important;
}
.vce-single .entry-footer .meta-tags a{
    padding: 6px;
    background: rgba(221,221,221,0.9);
}
.vce-single .entry-footer .meta-tags a:hover{
    color: rgba(221,221,221,0.9);
    background: rgba(220,71,118,0.9);
}

.memberSetting #um_form_signupadvanced textarea{
    width: 100%;
}
.memberSetting #member-logout{
    display: none;
    visibility: hidden;
}
#mb-layb-title, #mb-layb-bg{
    display: none;
    visibility: hidden;
}
.vce-post.vce-lay-g .vce-featured-info .entry-meta .meta-item{
    white-space: nowrap;
}
.vce-related-box .main-box-inside .vce-post.vce-lay-e .entry-header .entry-title a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
}
.category-4707 #main-wrapper #content #primary .vce-loop-wrap .vce-post.vce-lay-c{
    padding-bottom: 0;
}
.category-4707 #main-wrapper #content #primary .vce-loop-wrap .vce-post.vce-lay-c .meta-image{
    max-height: 187px;
    margin-bottom: 0;
}
.category-4707 #main-wrapper #content #primary .vce-loop-wrap .vce-post.vce-lay-c .entry-header{
    display: none;
    visibility: hidden;
}
.category-4707 #main-wrapper #content #primary .main-box .main-box-inside .vce-loop-wrap{
    padding-bottom: 20px;
}
.category-4707 .meta-image #FbForVideo{
    display:block !important;
    visibility: visible !important;
}
.single-format-video .category-mamatv .entry-header .meta-category{
    display: none;
    visibility: hidden;
}
.archive #main-wrapper #content #primary .vce-loop-wrap article .entry-header .entry-title{
    text-align: left;
}
#sidebar .widget.vce_posts_widget .vce-post-list .vce-posts-wrap a:hover{
    color: #dc4776;
}
#primary .vce-post.vce-lay-c .entry-header .meta-category{
    display: none;
    visibility: hidden;
}
#primary .vce-post.vce-lay-c .entry-header{
    margin-bottom: 0;
}
#primary .vce-post.vce-lay-c .meta-image{
    margin-bottom: 0;
}
.error404 #main .entry-content.page-content h4, .error404 #main .entry-content.page-content p{
    display: none;
    visibility: hidden;
}
#pc_logo, .pc_logo{
	display: block !important;
	visibility: visible !important;
}
#mb_logo, .mb_logo{
	display: none !important;
	visibility: hidden !important;
}
#sticky-desktop #pc_logo{
	margin-top: -6px !important;
}
/*
.main-box-single .meta-author .entry-meta{
	text-align: left;
	margin: 0 auto;
	width: 600px;
}
*/
.main-box-single .meta-author .entry-meta .meta-item{
	font-size: 14px;
	margin-left: -4px;
}
#menu-item-81422{
    letter-spacing: -4px;
}
.vce-lay-c .entry-header{
    margin-top: 6px;
}
#sharebarMobile{
    display: none;
    visibility: hidden;
}
#marqueeCustom{
    display: none;
    visibility: hidden;
}
#footer .container .container-fix div:first-child .widget .fb-page.fb_iframe_widget{
    margin: 3px 0 7px 0;
}
#menu-mmc_footer li:first-child{
    padding-top: 0;
}
#menu-mmc_footer li:last-child{
    padding-bottom: 0;
}
.site-footer .widget li{
    padding: 3px 0;
}
.breadcrumb_last{
    display:none;
}
#vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-info.vce-vertical-center .vce-featured-title a.vce-featured-link-article{
    margin: 0 auto;
    display: block;
    width: 99%;
}
#rightSlide{
    display: none;
}
.wp-polls-ans > p input{
    margin-top: 10px;
}
.video-widget-inside p{
    text-align: center;
    padding-top: 15px !important;
    margin-bottom: 15px !important;
    font-size: 16px;
}
#tvMoreBtn{
    color: rgb(255, 255, 255);
    padding: 7px 16px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 16px;
    background: rgb(220, 71, 118);
}
#tvMoreBtn:hover{
    background: #ff6298;
}
.main-navigation a{
    font-family: "Helvetica Neue","Helvetica","Arial","Microsoft JhengHei",sans-serif;
}
#sticky_header .main-navigation a{
    padding-left: 13px;
    padding-right: 13px;
    letter-spacing: 0px;
    font-size: 15px;
}
div[data-app=floated_share_buttons]{
    display: none !important;
    visibility: hidden;
}
.single-post .campaign_div mark, .single-post .campaign_div ins {
    background: transparent;
    text-decoration: none;
}
.nav-menu li > ul.sub-menu, .nav-menu li > ul.sub-menu li{
    max-width: 125px;
}
#menu-item-211639 ul.sub-menu, #menu-item-211639 ul.sub-menu li{
    max-width: initial;
}
.header-is-sticky .nav-menu li > ul.sub-menu{
    max-width: 115px;
}

.single .next-post {
    z-index: 10100;
}
#next-post.next-post>div{
    margin-bottom: 10px;
}

/*FB Ad*/
#ad_root {
    display: none;
    font-size: 14px;
    height: 250px;
    line-height: 16px;
    position: relative;
    width: 300px;
}

.thirdPartyMediaClass {
    height: 157px;
    width: 100%;
}

.thirdPartyTitleClass {
    font-weight: 600;
    font-size: 16px;
    margin: 8px 0 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.thirdPartyBodyClass {
    display: -webkit-box;
    height: 32px;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.thirdPartyCallToActionClass {
    color: #326891;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 8px;
}

.avatar.avatar-100{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
}
article.vce-single{
    text-align: justify;
}
article .e-c-img-preview.center {
    margin: 0 auto;
    display: block;
}

/** BEGIN comment input **/
.comment-list .comment-body .form-submit input[name=view_all_comment] {
    margin-right: 9px;
}
.comment-list .comment-body .form-submit input[name=edit_comment] {
    margin-right: 9px;
}
/** END comment input **/


#outside_post_caption {
    background: #EEE;
    color: #666;
    font-size: 17px;
    border-radius: 4px;
    text-align: justify;
    margin-bottom: 20px;
}
#outside_post_caption .o_p_a-report {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10241;
    display: none;
}
#outside_post_caption.open .o_p_a-report {
    display: block;
}
#outside_post_caption .o_p_a-report .o_p_a-r-button {
    padding: 5px 9px 5px 11px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-outside {
    position: relative;
    background: #f9f9f9;
    padding: 3px;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#outside_post_caption.open .o_p_a-report .o_p_a-r-outside {
    box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, .7);
}
#outside_post_caption .o_p_a-report .o_p_a-r-inside {
    border: 1px solid #DDD;
    border-radius: 4px;
    padding: 9px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-textarea {
    border: 1px solid #EEE;
    padding: 1px;
    background: #FFF;
    border-radius: 4px;
    margin: 11px 0;
    min-height: 160px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-textarea textarea {
    background: #FFF;
    resize: none;
    letter-spacing: 0.08em;
    min-height: 156px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-button {
    text-align: center;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-button span {
    padding: 7px 17px;
    background: #777;
    color: #FFF;
    border-radius: 4px;
    display: block;
    cursor: pointer;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-button span:hover {
    background: #555;
}
#outside_post_caption .o_p_a-report.done .o_p_a-r-d-textarea,
#outside_post_caption .o_p_a-report.done .o_p_a-r-d-button {
    display: none;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-thank {
    display: none;
}
#outside_post_caption .o_p_a-report.done .o_p_a-r-d-thank {
    display: block;
    letter-spacing: 0.03em;
    color: #333;
    min-height: 200px;
    line-height: 200px;
    text-align: center;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-title {
    color: #444;
    font-size: 17px;
    padding-bottom: 7px;
    border-bottom: 1px solid #DDD;
    display: flex;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-title > span {
    width: 100%;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-title i {
    margin-right: 3px;
    font-size: 15px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-title span:first-child {
    text-align: left;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-title span:last-child {
    text-align: right;
    cursor: pointer;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-title span:last-child i {
    font-size: 19px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-login {
    position: relative;
    min-height: 200px;
    margin: 9px;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-login span {
    background: #DC4776;
    color: #FFF;
    border-radius: 4px;
    padding: 9px;
    text-align: center;
    display: inline-block;
    width: 100%;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    cursor: pointer;
}
#outside_post_caption .o_p_a-report .o_p_a-r-d-login span:hover {
    background: rgba(255,98,152,1);
}

#outside_post_caption .o_p_a-outside {
    border-radius: 4px;
    line-height: 27px;
    padding: 5px;
}
#outside_post_caption .o_p_a-inside {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 17px;
    color: #444;
    border: 1px dashed gray;
}
#outside_post_caption .o_p_a-outside i {
    margin-right: 3px;
}
#outside_post_caption .o_p_a-inside .report_button {
    color: #333;
    padding: 0 5px;
    background: #F7F7F7;
    border-radius: 1px;
    cursor: pointer;
    margin: 0 3px;
}
.m-i-ribbon {
    width: 160px;
    height: 160px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.m-i-ribbon .ribbon_box {
    margin: 23px 0 0px -58px;
    width: 230px;
    height: 65px;
    font-size: 29px;
    text-align: center;
    background: #DC4776;
    color: #FFF;
    padding: 3px;
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}
.m-i-ribbon .ribbon_box .ribbon_text {
    font-weight: bold;
    border: 1px dashed #FFF;
    line-height: 47px;
    padding: 5px;
}
.m-i-ribbon .ribbon_box .ribbon_text.ribbon-editorschoice:before {
    content: "精選";
}
/*.meta-image .m-i-ribbon .ribbon_box .ribbon_text.ribbon-editorschoice:after {
    content: "\f087";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 17px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 5px;
}*/
.m-i-ribbon .ribbon_box .ribbon_text.ribbon-editorschoice img {
    height: 43px;
    width: 43px;
    margin-left: 5px;
    margin-top: -3px;
}
.widget.mks_author_widget .avatar_box {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    border: 5px solid #FFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}
.meta-author .avatar_box {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    border: 5px solid #FFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    margin-top: -50px;
}
.vce-author-card .data-image .avatar_box {
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    border: 5px solid #FFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    max-width: 120px;
    max-height: 120px;
}
.widget.mks_author_widget .avatar_box img {
    box-shadow: none;
    border-radius: initial;
    border: 0;
    margin: 0;
    max-width: initial;
    max-height: initial;
    min-height: initial;
    height: 100%;
    width: 100%;
}
.vce-author-card .data-image .avatar_box img {
    box-shadow: none;
    border-radius: initial;
    border: 0;
    margin: 0;
    max-width: initial !important;
    max-height: initial !important;
    min-height: initial !important;
    width: 100% !important;
    height: 100% !important;
}
.meta-author .avatar_box img {
    box-shadow: none;
    border-radius: initial;
    border: 0;
    margin: 0;
    max-width: initial;
    max-height: initial;
    min-height: initial;
    height: 100%;
    width: 100%;
}

.vce-lay-d .meta-image {
    max-height: 100px;
}

/** BEGIN quote post **/
.__quote {
    background: #eee;
    padding: 9px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.single .__quote {
    margin-bottom: 50px;
}
.__quote .__quote_title {
    color: gray;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 1px;
    position: relative;
    text-align: justify;
    line-height: 18px;
}
.__quote .__quote_title span {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}
.__quote .__quote_title:after {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    content: "\f0c5";
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ccc;
}
.__quote .__quote_outer {
    background: #fff;
    padding: 3px;
    border-radius: 4px;
}
.__quote .__quote_inner {
    background: #fff;
    padding: 9px;
    border: 1px dashed #ccc;
    border-radius: 4px;
}
.__quote .__quote_container {
    display: flex;
    align-content: space-around;
    border-radius: 2px;
}
.__quote .__q_c_featured {
    width: 320px;
}
.__quote .__q_c_featured img {
    width: 100%;
}
.__quote .__q_c_content {
    color: #444;
    width: 100%;
    padding-left: 9px;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: space-between;
}
.__quote .__q_c_c_description {
    font-size: 19px;
    font-weight: bold;
}
.__quote .__q_c_c_author {
    text-align: right;
    font-size: 15px;
    color: #9197a3;
}

.single .__author_write_post {
    margin-bottom: 9px;
    display: flex;
    width: 100%;
}
.single .__author_write_post a {
    width: 100%;
    text-align: center;
}
.single .__author_write_post .__a_w_p_button {
    border: 1px solid #eee;
    padding: 9px 0;
    background: #ddd;
    color: #444;
    width: 100%;
    font-weight: bold;
}
.single .__author_write_post .__a_w_p_button:hover {
    background: #eee;
}
.single .__author_write_post .__a_w_p_button i {
    margin-right: 5px;
}
.single .__author_write_post .__a_w_p_button.__a_w_p_normal {
    border-right: 5px solid #eee;
    border-radius: 4px 0 0 4px;
}
.single .__author_write_post .__a_w_p_button.__a_w_p_quote {
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0;
}
/** END quote post **/


@media (min-width: 1200px){
    .main-navigation a{
        padding-left: 11px;
        padding-right: 11px;
        letter-spacing: -0.5px;
    }
    #sticky_header .main-navigation a{
        padding-left: 7px;
        padding-right: 7px;
        letter-spacing: -0.2px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 1100px){
    #vce-main #main-wrapper #content #primary #main #fb-bottom{
        left: 0 !important;
    }
    #header .header-main-area .vce-header-ads .vce-search-form .vce-search-input{
        width: 422px;
    }

    .video-widget-inside p{
        text-align: center;
        padding-top: 15px !important;
        margin-bottom: 15px !important;
        font-size: 16px;
    }
    #tvMoreBtn{
        color: rgb(255, 255, 255);
        padding: 7px 16px;
        border-radius: 5px;
        margin-left: 5px;
        font-size: 16px;
        background: rgb(220, 71, 118);
    }
    #tvMoreBtn:hover{
        background: #ff6298;
    }
    header .header-main-area .vce-header-ads #search-keyword{
        position: relative;
        font-size: 13px;
        left: 11px;
    }
    #sharebarMobile{
        display: none;
        visibility: hidden;
    }
    #sticky-desktop img{
        padding: 6px;
    }

	.main-box.vce-related-box .vce-post.vce-lay-c{
		margin-right: 16px;
	}
	.site-content{
		padding: 0;
	}

    #post_line {
        left: 35px;
        position: relative;
        margin-bottom: 10px;
        max-width: 220px;
    }
    #post_share{
        left: 30px;
        max-width: 280px;
        margin-bottom: 0 !important;
    }
}
@media only screen and (max-width: 768px){
    .vce-related-box .main-box-inside #postmax-5{
        display: none;
        visibility: hidden;
    }
    #header .header-main-area .site-branding .has-logo img{
        margin-left: -34px !important;
    }
    #sticky_header .container #sticky-mobile .has-logo img{
        margin-left: 2px !important;
    }
    #bottomShareBar{
        left: 20px;
    }
    #bottomShareBar #fb-bottom{
        left: 105px;
    }

    #iconSearch-mobile{
        display: block;
        visibility: visible;
    }
    #fb-top{
        top: -5px;
    }
    /* 最新消息 切換-手機 */
    .home.page #main-box-1 {
        display: none;
        visibility: hidden;
    }
    .home.page #main-box-2 {
        display: block;
        visibility: visible;
    }

    #vce-main #main-wrapper #content .vce-lay-d h2.entry-title{
        max-width: none;
        font-size: 14px;
    }
    #sidebar div.vce-posts-wrap{
        font-weight: bold;
        font-size: 15px;
    }

    #header .wrapper-topbar{
        margin-bottom: -6px;
    }
    #header .container .site-branding .site-title .has-logo img{
        max-width: none;
        max-height: none;
        width: 193px;
        height: 35px;
    }

    #header #vce_main_navigation_menu .search-header-wrap{
        display: block;
        visibility: visible;
    }
    #sticky-desktop, #sticky-desktop a{
        display: none;
        visibility: hidden;
    }
    #sticky-mobile, #sticky-mobile a{
        display: block;
        visibility: visible;
    }
    #main-wrapper #content #primary .main-box.vce-border-top .main-box-inside .vce-lay-b{
        margin: 0 0 20px;
    }
    #vce-main #header .vce-res-nav{
        float: right;
        right: 0;
        left: initial;
    }
    #sidr-main, #sticky_header #sidr-main{
        right: 0 !important;
        left: initial !important;
    }
    .sidr-open.sidr-main-open{
        right: 260px !important;
        left: initial !important;
    }
    #main-wrapper .container.site-content{
        padding-top: 9.3px;
    }
    .entry-content {
        font-size: 140%;
        line-height: 22px;
        line-height: 1.6;
    }
    .main-box-inside {
        font-size: 14px;
        line-height: 22px;
        padding: 10px 10px 0 10px;
    }
    .main-box.vce-related-box .main-box-inside{
        padding: 10px 22px 0;
    }
    #vce-main #main-wrapper .main-box.vce-related-box .main-box-inside .entry-header .entry-title a{
        font-size: 15px;
        line-height: 22px;
    }

    #vce-main #main-wrapper #content #primary #main #fb-bottom{
        left: 0 !important;
    }

    #footer .container .widget.widget_categories{
        display: none;
        visibility: hidden;
    }

    #main-wrapper #primary #main .entry-header .entry-title {
        margin: 0px;
        width: 100%;
        line-height: 30px;
    }

    h1.entry-title {
        font-size: 26px;
        line-height: 60px;
        margin: 0 auto 15px;
        padding: 0;
        width: 700px;
    }

    .main-box.vce-related-box .main-box-inside article{
            height: inherit !important;
    }
    .main-box.vce-related-box .main-box-inside article .entry-header .vce-square{
        width: 10px;
        height: 10px;
    }
    .main-box.vce-related-box .main-box-inside .vce-post.vce-lay-e .entry-title{
        padding-left: 5px;
        max-width: initial;
        min-height: 59px;
    }
    #primary #main .vce-single .entry-header .entry-meta .meta-item.author{
        line-height: 7px;
    }
    #vce-main #main-wrapper #content #primary .main-box.vce-border-top.main-box-half .main-box-inside .vce-loop-wrap #postmax-4{
        display: none;
        visibility: hidden;
    }
    #sharebarMobile{
        display: block;
        visibility: visible;
    }
    .vce-post.vce-lay-b .meta-category .fb-like.fb_iframe_widget.fb_iframe_widget_fluid{
        height: 22px;
    }
    a[title='MMC_collect']{
        display: block;
        visibility: visible;
    }
    .vce-search-form .vce-search-submit{
        margin-left: -54px;
        border-radius: 0 4px 4px 0;
        opacity: 0.5;
        width: 24px;
        height: 30px;
        background: #fff;
        margin-top: 6px;
        border-left: 1px solid #a6a9b2;
    }
    .vce-search-form .vce-search-submit .fa.fa-search{
        position: initial;
        font-size: 20px;
    }
    .sidr-class-search-header-form-ul li .sidr-class-search-header-form input{
        margin-bottom: 4px;
    }

    #main .vce-single .entry-header{
        text-align: left;
        margin: 5px 20px 10px;
    }
    #main .vce-single .entry-header .entry-title{
        margin: 10px 0;
    }
    #main .vce-single .entry-header .meta-category, #main .vce-single .entry-header .entry-meta{
        padding-left: 19px;
    }
    #primary .main-box .main-box-inside .vce-post.vce-lay-b .entry-header{
        text-align: left;
        padding: 18px 10px 0 !important;
    }
    #primary .main-box .main-box-inside .vce-post.vce-lay-b .entry-header .entry-title{
        text-align: left;
        padding: 0 !important;
    }

    .wpfp-ul .vce-post.vce-lay-d{
        margin-top: -5px;
    }
    .wpfp-ul .alignright{
        margin-right: 0;
    }
    #primary .main-box-inside .vce-search-form .vce-search-input{
    	width: 325px;
    }
    .vce-single .entry-footer{
        margin-top: 20px;
    }
    .sidr-inner #sidr-id-vce_main_navigation_menu .sidr-class-search-header-wrap{
        display: none;
        visibility: hidden;
    }
    .main-box.vce-related-box .main-box-inside .vce-post.vce-lay-f{
        padding-right: 0;
        padding-left: 0;
    }
    #comments .comments-holder.main-box{
        margin-bottom: 0;
    }
    #footer .container .container-fix .bit-3:first-child{
        display: none;
        visibility: hidden;
    }
    #footer .container .container-fix .bit-3{
        margin: 10px 0 0;
    }
    #footer .container .container-fix .bit-3:first-child{
        display: block;
        visibility: visible;
    }
    #footer .container .container-fix .bit-3:last-child{
        margin: 10px 0 10px;
    }
    #footer .container .container-fix div:first-child .widget{
        text-align: center;
    }
    #content #primary .vce-module-columns div:last-child{
        margin-bottom: 0;
    }
    .widget ul.vce-post-list{
        padding: 10px 18px 10px 23px;
    }
    .widget ul.vce-post-list .vce-posts-wrap a{
        font-size: 15px;
    }
    #main-box .container.clearfix.titlecontainer{
        margin: 5px auto !important;
    }
    .memberSetting #member-logout{
        display: block;
        visibility: visible;
        float: right;
        background: #dc4776;
        color: #fff;
        padding: 6px;
        margin: -5px -9px;
        border-radius: 0 5px;
    }
    .memberSetting #member-logout a{
        color: #fff;
    }
    #mb-layb-bg{
        display: block;
        visibility: visible;
    }
    #mb-layb-title{
        display: block;
        visibility: visible;
        color: #fff;
        text-align: left;
        padding: 0 10px;
        margin-bottom: 4px;
        line-height: 24px;
        font-size: 18px;
        position: absolute;
        bottom: 14px;
        width: 100%;
        margin: 0 auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 2;
    }
    #mb-layb-title a{
        color: #fff;
    }
    .archive #main-wrapper #content #primary .vce-loop-wrap article .meta-image{
        max-height: 90px;
    }
    .archive #main-wrapper #content #primary .vce-loop-wrap .vce-post.vce-lay-b .meta-image{
        max-height: 175px;
    }
    .archive #main-wrapper #content #primary .vce-loop-wrap .vce-post.vce-lay-b .entry-header .entry-title{
        display: none;
        visibility: hidden;
    }
    #main-wrapper #content #primary .vce-post.vce-lay-b .meta-image{
        max-height: 175px;
    }
    #main-wrapper #content #primary .vce-post.vce-lay-b .entry-header .entry-title{
        display: none;
        visibility: hidden;
    }
    .archive #main-wrapper #content .vce-post.vce-lay-e .entry-header .entry-title{
        text-align:left;
    }
    .archive #main-wrapper #content .vce-post.vce-lay-e .meta-image .attachment-vce-lay-d.wp-post-image{
        min-width: 160px;
    }
    #primary .main-box .main-box-head .main-box-subtitle{
        padding: 0 10px 9px;
    }
    .sidr-open .header-is-sticky{
        left: -260px;
    }
    #sidr-box{
       margin: 0;
       padding: 0;
    }
    #sidr-box #sidr-box-content{
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    #sidr-box #sidr-box-content img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
    }
    #sidr-box #sidr-box-content div{
        padding: 8px;
        width: 40%;
        font-size: 15px;
        display: inline-block;
    }
    #sidr-box #sidr-box-content div a{
        color: #fff;
    }
    #sidr-box #sidr-box-content #sidr-mamaclub{
        background: #dc4776;
    }
    #sidr-box #sidr-box-content #sidr-facebook{
        background: #3b5998;
        margin-left: 3px;
    }
    #sidr-box #sidr-box-content #sidr-profile{
        background: #dc4776;
    }
    #sidr-box #sidr-box-content #sidr-collect{
        background: #ffd800;
        margin-left: 3px;
    }
    #sidr-id-vce_main_navigation_menu a[title='MMC_login']{
        display: none;
        visibility: hidden;
    }
    #sidr-id-vce_main_navigation_menu #sidr-id-menu-item-74285{
        border: 0;
    }
    .main-box.vce-related-box .attachment-vce-lay-d.wp-post-image {
        min-width: 100%;
    }
    .main-box.vce-related-box .vce-post.vce-lay-c{
        width: 100%;
        padding-bottom: 0;
        margin-right: 20px
    }
    .main-box.vce-related-box .vce-post.vce-lay-c .meta-image{
        height: initial;
        margin-bottom: 0;
    }
    .main-box.vce-related-box .vce-post.vce-lay-c .meta-image .entry-title{
        min-height: initial;
    }
    .main-box.vce-related-box .vce-post.vce-lay-c .meta-image .entry-title a{
        font-size: 20px;
    }
    .marqueeSticky{
        display: none;
        visibility: hidden;
    }
    .vce-single .entry-footer .meta-tags a{
        line-height: 35px;
        white-space: nowrap;
    }
	#pc_logo, .pc_logo{
		display: none !important;
		visibility: hidden !important;
	}
	#mb_logo, .mb_logo{
		display: block !important;
		visibility: visible !important;
	}
	#sticky-mobile #mb_logo{
		margin-top: 0 !important;
	}
	.footer-btn{
        font-size: 13px !important;
    }
    #sticky_header{
    	display: none;
    	visibility: hidden;
    }
    #postBoxCountMB, #sliderLineMB{
        display: block !important;
        visibility: visibile !important;
    }
    #marqueeCustom{
        display: block;
        visibility: visible;
    }
    .site-footer .widget{
        padding: 0 20px 20px;
    }
    #header.main-header {
      box-shadow: 0px 8px 6px -6px rgba(119,119,119,0.5);
    }
    .closed{
        max-height: 0 !important;
    }
    #header .container.header-main-area{
        overflow-y: hidden;
        max-height: 50px;
        -webkit-transition-property: all;
        -webkit-transition-duration: .5s;
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -moz-transition-property: all;
        -moz-transition-duration: .5s;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -ms-transition-property: all;
        -ms-transition-duration: .5s;
        -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    .single-post #primary #main article h2 {
       font-size: 21px !important;
       margin-bottom: 0px !important;
    }
    #next-post.next-post>div{
        margin-bottom: 50px;
    }
    /* BEGIN single post full widht BY ALLENWU */
    .single #main-wrapper .container.site-content {
        min-width: 100%;
    }
    .single #main-wrapper #main{
        border-radius: 0;
    }
    .single #main-wrapper .main-box.vce-related-box,
    .single #main-wrapper #comments,
    .single #main-wrapper #sidebar,
    .single #main-wrapper #cp_comments{
        max-width: 95%;
        margin-left: 2.5%;
    }
    /* END single post full widht BY ALLENWU */


    #post_line {
        left: 85px;
    }
    #post_share{
        left: 80px;
    }

    #outside_post_caption {
        display: none;
    }

    /** BEGIN quote post **/
    .__quote .__q_c_featured {
        width: 160px;
    }
    .__quote .__q_c_c_description {
        font-size: 13px;
        font-weight: bold;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 17px;
    }
    .__quote .__q_c_c_author {
        text-align: right;
        font-size: 12px;
        line-height: 11px;
    }
    .__quote .__quote_title {
        line-height: 17px;
        font-size: 12px;
    }
    /** END quote post **/
}

@media only screen and (max-width: 670px) and (min-width: 200px){
    #post_share{
        left: 15px;
    }
    .vce-lay-d img{
        max-width: 130px;
    }
    .vce-lay-c .meta-image{
        height: 149px;
    }
    #sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap.top_author .vce-post-link.custom-widget-link{
        max-width: 180px !important;
    }
    /** BEGIN comment input **/
    .comment-list .comment-body .form-submit {
        margin-top: 15px;
    }
    .comment-list .comment-body .form-submit input[name=view_all_comment] {
    }
    .comment-list .comment-body .form-submit input[name=edit_comment] {
        min-width: 70px;
    }
    .comment-list .comment-body .form-submit input[name=delete_comment] {
        min-width: 70px;
    }
    /** END comment input **/
    article.vce-post.vce-lay-d,
    .vce-lay-d .meta-image {
        max-height: 67px;
    }

}
@media only screen and (max-width: 480px){
    #vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-info.vce-vertical-center .vce-featured-title a.vce-featured-link-article{
        width: 350px;
    }
    .wpfp-span .entry-meta{
        display: none;
    }
    #post_line {
        left: 20px;
    }
    #sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap.top_author .vce-post-link.custom-widget-link{
        max-width: 180px !important;
    }
}
@media only screen and (max-width: 350px) and (min-width: 200px){
    #footer .container .container-fix .bit-3:first-child .widget{
        padding: 0 10px 10px 10px;
    }
    #footer .container .container-fix .bit-3:first-child .widget .widget-title{
        padding: 10px;
        margin: 0 -10px 10px;
    }
    #sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap.top_author .vce-post-link.custom-widget-link{
        max-width: 130px !important;
    }
}
@media only screen and (max-width: 320px){
    #vce-featured-grid .owl-stage-outer .owl-stage .vce-grid-item .vce-grid-text .vce-featured-info.vce-vertical-center .vce-featured-title a.vce-featured-link-article{
        width: 300px;
    }
    .dfp_m_content{
        margin-left: -20px;
        margin-right: -20px;
    }
    #main-wrapper #content #primary .vce-post.vce-lay-b .meta-image{
        max-height: 145px;
    }

    /** BEGIN comment input **/
    .comment-list .comment-body .form-submit input[name=view_all_comment] {
        margin-right: 5px;
    }
    .comment-list .comment-body .form-submit input[name=edit_comment] {
        margin-right: 5px;
        min-width: 55px;
    }
    .comment-list .comment-body .form-submit input[name=delete_comment] {
        min-width: 55px;
    }
    /** END comment input **/
}

/* bell */
.footer-btn {
   border-top: 1px solid #ffffff;
   background: #b8b8b8;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#b8b8b8));
   background: -webkit-linear-gradient(top, #f7f7f7, #b8b8b8);
   background: -moz-linear-gradient(top, #f7f7f7, #b8b8b8);
   background: -ms-linear-gradient(top, #f7f7f7, #b8b8b8);
   background: -o-linear-gradient(top, #f7f7f7, #b8b8b8);
   padding: 6.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   color: #ff8caf;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}
.footer-btn:hover {
   border-top-color: #e3e3e3;
   background: #d4d2d4;
   color: #d4d2d4;
}
.footer-btn:active {
   border-top-color: #e0e0e0;
   background: #e0e0e0;
}
/* bell */

/* shortcode */
#span_color_DC4776 a{
    color: #DC4776 !important;
    font-weight: bold;
}
#span_color_4B64AE a{
    color: #4B64AE !important;
    font-weight: bold;
}
#span_color_A678B4 a{
    color: #A678B4 !important;
    font-weight: bold;
}
/* end shortcode */

/* breadcrumbs */
.home.page #breadcrumbs{
  display: none;
  visibility: hidden;
}
#breadcrumbs{
  line-height: 32px;
  margin-bottom: 0;
  font-size: 14px;
}
#breadcrumbs .last_breadcrumb_span{
    visibility: hidden;
}
#breadcrumbs .last_breadcrumb_link{
    visibility: visible;
}
/* end breadcrumbs */

a[title='MMC_muzikair'] span{
    color: #dc4776 !important;
    padding: 0 !important;
    margin-left: 3px !important;
    display: inline-block !important;
}

#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list li a.number span img {
    border-radius: 3px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list li a.avatar.top_author span img {
    border-radius: 50%;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap.top_post{
    display: table;
    padding: 0px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap.top_author{
    display: inline-block;
    height:45px;
    width: 110px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap .vce-post-link.custom-widget-link{
    text-align: justify;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .vce-posts-wrap.top_author .vce-post-link.custom-widget-link{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 40px;
    max-width: 110px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .ranking-status.top_author {
    display: inline-block;
    height: 43px;
    line-height: 37px;
    float: right;
    text-align: left;
    width: 35px;
    padding-left: 5px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .ranking-status.top_author .fa.count_compare{
    padding-top: 8px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .ranking-status.top_author .fa.fa-caret-up{
    color: #fe1a65;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .ranking-status.top_author .fa.fa-caret-down{
    color: gray;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .ranking-status.top_author .fa::before{
    padding-right: 5px;
}
#sidebar .widget.vce_posts_widget.MMC_Ranking_Widget .vce-post-list .ranking-status.top_author .fa {
    margin-left: 3px;
}

#primary .author-box div.main-box-inside{
    padding: 10px 20px 0 20px;
}

#primary .author-box div.main-box-inside div.data-content h4{
    margin-bottom: 0px;
}

#primary .author-box div.main-box-inside div.data-entry-content p{
    margin-bottom: 20px;
}


.header-is-sticky .main-navigation #menu-item-211639 #beforeHot{
    margin-top: -7px;
}
.vce-single .entry-footer {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.single .vce-main-content table td{
    word-break: break-all;
}
mark, ins{
    background: transparent !important;
}
button.adCloseBtn {
    margin: 0 auto;
    width: 140px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 30px;
    background: -moz-linear-gradient(
        top,
        #f0d8ee 0%,
        #f5b6cf);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#f0d8ee),
        to(#f5b6cf));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e3d1d1;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0.6),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0.6),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0.6),
        inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.3),
        0px 1px 0px rgba(255,255,255,0.3);
}
.home.page .owl-stage-outer{
    height:240px;
}
#crossAd_div .inner .box_0 iframe{
    max-height:250px;
}
@media only screen and (max-width: 768px){
    #next-post{
        bottom: 0 !important;
    }
    #fb_btn .sharrre .box{
        background: rgba(255,0,0,1);
    }
}

@media only screen and (max-width: 480px){
    #primary .author-box .data-image{
        margin-bottom: 0px;
    }
    #primary .author-box div.main-box-inside div.data-content h4{
        margin-bottom: 10px;
    }
    #primary .author-box div.main-box-inside div.data-entry-content p{
        text-align: justify;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.5px;
    }
    .main-box.author-box{
        max-width: 95%;
        margin-left: 2.5%;
    }
    .comment-form{
        padding: 10px;
    }
}

.entry-content img{
    display: block;
    margin: auto;
}