.idleAd {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 10800;
    background: rgba(0,0,0,.8);
}

.idleAd .inner {
    width: 80vw;
    height: 80vh;
    min-width: 1100px;
    max-width: 1100px;
    min-height: 650px;
    max-height: 650px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
}