#loginPopupLayout .lightbox-target {
    /* 設定好背景層的樣式以及位置 */
    position: fixed;
    top: -100%;
    width: 100%;

    opacity: 1;
    @include transition(opacity .5s ease-in-out);
    top: 0;
    bottom: 0;
    z-index:10500;
}
#loginPopupLayout .lightbox-target .lightbox-overlay{
    height: 99999px;
    background: rgba(0,0,0,.6);

}

#loginPopupLayout .lightbox-content {
    /* 設定內容的樣式及位置(白底區塊) */
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 5px solid #DC4776;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #333;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 395px;
    max-width: 320px;
    min-height: 300px;
    overflow: hidden;
    @include box-shadow(0 0 8px rgba(0,0,0,.3));
    box-sizing: border-box;
    @include transition(.5s ease-in-out);

}
@media (max-width: 321px) {
    #loginPopupLayout .lightbox-content {
        width: 300px;
    }
}
#loginPopupLayout .lightbox-img {
    /* 設定圖片的樣式及位置，利用 */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #fff;
    @include box-shadow(0 0 8px rgba(0,0,0,.3));
    box-sizing: border-box;

    /* 預設寬高為 0，觸發 :target 後，利用動畫效果展開寬與高 */
    max-height: 100%;
    max-width: 100%;
    @include transition(.5s ease-in-out);
}
#loginPopupLayout .lightbox-content-center{
    margin: 0 auto 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

#loginPopupLayout .text-center{
    font-size: 30px;
}

#loginPopupLayout .img-center{
    width: 100%;
    max-width: 235px;
    margin: 0 auto 0;
    display: block;
}

#loginPopupLayout .alert-button-non:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34bee1), color-stop(1, #34bee1) );
    background:-moz-linear-gradient( center top, #34bee1 5%, #34bee1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bee1', endColorstr='#34bee1');
    background-color:#34bee1;
}
#loginPopupLayout .alert-button-non:active {
    position:relative;
    top:1px;
}

#loginPopupLayout .alert-button-non {
    -moz-box-shadow:inset 0px 0px 0px -50px #34bee1;
    -webkit-box-shadow:inset 0px 0px 0px -50px #34bee1;
    box-shadow:inset 0px 0px 0px -50px #34bee1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34bee1), color-stop(1, #34bee1) );
    background:-moz-linear-gradient( center top, #34bee1 5%, #34bee1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bee1', endColorstr='#34bee1');
    background-color:#34bee1;
    -webkit-border-top-left-radius:9px;
    -moz-border-radius-topleft:9px;
    border-top-left-radius:9px;
    -webkit-border-top-right-radius:9px;
    -moz-border-radius-topright:9px;
    border-top-right-radius:9px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:100px;
    text-decoration:none;
    text-align:center;
}

#loginPopupLayout .alert-button {
    -moz-box-shadow:inset 0px 0px 0px -50px #34bee1;
    -webkit-box-shadow:inset 0px 0px 0px -50px #34bee1;
    box-shadow:inset 0px 0px 0px -50px #34bee1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34bee1), color-stop(1, #34bee1) );
    background:-moz-linear-gradient( center top, #34bee1 5%, #34bee1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bee1', endColorstr='#34bee1');
    background-color:#34bee1;
    -webkit-border-top-left-radius:9px;
    -moz-border-radius-topleft:9px;
    border-top-left-radius:9px;
    -webkit-border-top-right-radius:9px;
    -moz-border-radius-topright:9px;
    border-top-right-radius:9px;
    -webkit-border-bottom-right-radius:9px;
    -moz-border-radius-bottomright:9px;
    border-bottom-right-radius:9px;
    -webkit-border-bottom-left-radius:9px;
    -moz-border-radius-bottomleft:9px;
    border-bottom-left-radius:9px;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:100px;
    text-decoration:none;
    text-align:center;
}
#loginPopupLayout .alert-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #34bee1), color-stop(1, #34bee1) );
    background:-moz-linear-gradient( center top, #34bee1 5%, #34bee1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#34bee1', endColorstr='#34bee1');
    background-color:#34bee1;
}
#loginPopupLayout .alert-button:active {
    position:relative;
    top:1px;
}

#loginPopupLayout .popup-topbar2 {
    width: 100%;
    height: 50px;
    background: #fcd4e2;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
}

#loginPopupLayout .popup-login-logo {
    float: left;
    margin: 12px 20px;
    width: 91px;
    height: 26px;
    background: url("../images/popup_logo.png");
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
#loginPopupLayout .btn-popup-close {
    float: right;
    margin: 12px;
    width: 24px;
    height: 24px;
    background: url("../images/btn_popup_close.png");
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    cursor: pointer;
}
