@charset "UTF-8";

/* ===============================================
  吹き出しのスタイル
================================================== */
.gray {
    color: #666666;
}

.disp_none {
    display: none;
}

.add_balloon {
    position: relative;
}

.option_balloon {
    min-width: 100px;
    max-width: 360px;
    text-shadow: none !important;
    /* box-shadow */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid #2d59b2;
    background-color: #f0f4fc !important;
    background-image: none !important;
    color: #444;
    font-weight: normal;
    font-size: 11px;
    position: absolute;
    top: -6px;
    display: none;
    z-index: 10;
}
.layout--login #work-search .option_balloon{
  display: none !important;
}

#optionBalloonCloseSubmit.option_balloon__close{
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  right: -13px;
  top: -13px;
  color: #fff;
  font-weight: bold;
  background: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  cursor: pointer;
}

.option_balloon p,
.option_balloon span {
    margin: 0;
    white-space: nowrap;
    text-wrap: normal;
    word-break: break-all;
    word-wrap : break-word;
}

.balloon_word {
    font-size: 100% !important;
    color: #444 !important;
}

#balloonArrowImg{
    display: inline-block;
    position: absolute;
    border: 0;
    background: transparent url(../img/work_create/arrow_right_blue.png) no-repeat 0 0;
    width: 8px;
    height: 17px;
}

#balloonArrowImg.right{
    top: 50%;
    margin-top: -10px;
    right: -8px;
}

#balloonArrowImg.left{
  top: 50%;
  margin-top: -10px;
  left: -8px;
  -webkit-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}

#balloonArrowImg.top {
  top: -.75rem;
  left: 50%;
  margin-left: -5px;
  -webkit-transform: scale(1) rotate(270deg);
  -o-transform: scale(1) rotate(270deg);
  -moz-transform: scale(1) rotate(270deg);
  transform: scale(1) rotate(270deg);
  filter: FlipH FlipV;
  -ms-filter: "FlipH" "FlipV";
}

#balloonArrowImg.bottom {
  bottom: -.75rem;
  left: 50%;
  margin-left: -5px;
  -webkit-transform: scale(1) rotate(90deg);
  -o-transform: scale(1) rotate(90deg);
  -moz-transform: scale(1) rotate(90deg);
  transform: scale(1) rotate(90deg);
  filter: FlipH FlipV;
  -ms-filter: "FlipH" "FlipV";
}

td.v_ali-t .button.green {
  width: 260px;
  position: absolute;
  font-size: 1.35em;
  top: -12px;
  right: 0;
  padding: 5px 10px 12px 15px;
}
