@charset "UTF-8";
/* =======================================
  Base CSS
  *Create Date : [2013/05/06]
  *Update Date : [2015/05/20]
========================================== */

/* --------------------------------------------------
  99. Clearfix
-------------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
.ie6 .clearfix { zoom:1; }/* IE6 */
.ie7 .clearfix { zoom:1; }/* IE7 */

/* ===============================================
  [Base]
================================================== */

/* --------------------------------------------------
  Coomon Module  共通設定
-------------------------------------------------- */

body { font-size:85%; line-height:1.6; font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴシック", Hiragino Sans,"メイリオ", meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Arial, Helvetica, Verdana, sans‒serif; }
a{ color:#0268cc;}
a:visited{ color:#551A8B;}
a:hover,a:active{ text-decoration: none;}
ul.disk{ padding-left: 25px;}
ul.disk li{ list-style-type:disc;}
ol{ padding-left: 25px;}
img{ vertical-align: top;}
span.br { display:block;}/* for br Tag */
ul.horizontal li { display: block; float: left;}

/* ===============================================
  [Layout]
================================================== */
body{ background:#FFF;}
h1, h2, h3, h4 { font-weight: bold;}
h1 { font-size: 2.8em;}
h2 { font-size: 1.6em;}
h3 { font-size: 1.2em;}
.inner section.contents { margin: 0 10px 50px;}
.contents_wrapper{ margin-bottom: 80px;}
.page_path{ margin: 15px 0 8px;}
.box-layout { display: -webkit-box; display: -moz-box; display: box;}

/* ===============================================
  [Module]
================================================== */
.fl_left{ float:left;}
.fl_right{ float:right;}
.clear { clear: both;}
.ie6 .fl_left,.ie6 .fl_right{ display:inline;}
.icon { margin-right: 5px;}
.hgroup h2,.hgroup span{ display: inline;}
.hgroup span { color: #808080; margin-left: 10px;}
.more-links { text-align: right;}
.more-links a { font-size: 90%;}
.more-links img { vertical-align: 0px;}
.add-watchlist { background: url(/img/icon/star_s.gif) no-repeat 0 3px; padding-left: 16px;}
.work-price-span { margin: 0 !important; padding: 0 !important; margin-left: 0 !important;}

/* Slider
==========================================*/
.slider .bx-wrapper .bx-pager { z-index: 98;}
.slider .bx-wrapper .bx-pager.bx-default-pager a { border: 2px #fff solid; border-radius: 8px; background-color: #aaa; width: 11px; height: 11px;}
.slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.slider .bx-wrapper .bx-pager.bx-default-pager a.active { background-color: #0C85CF;}
.slider .bx-wrapper .bx-controls-direction a { z-index: 98;}
.slider .bx-wrapper .bx-loading { background-color: transparent;}
.slider .bx-wrapper .bx-prev { background-image: url(/renewal/img/home/slider_controls.png);}
.slider .bx-wrapper .bx-next { background-image: url(/renewal/img/home/slider_controls.png);}

/* Buttons
========================================== */

/* デフォルトのボタン設定 */
.button, .button.blue {
  border: none;
  background-color: #3075bf;
  border-top: 1px solid #5a91cc;
  border-bottom: 1px solid #24568d;
  border-radius: 4px;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 5px;
  padding: 9px 10px 7px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: background-color 200ms ease 0s;
  position: relative;
  font-weight: normal;
  text-shadow: none;
  box-shadow: none;
}
.button:disabled, .button.disabled {
  opacity: 0.5;
}
.button:link, a.button.blue:link {
  text-decoration: none;
}
/* ボタン上部に立体的に見せるための線を入れる */
.button:before {
  width: 98%;
  content: ' ';
  border-top: 1px solid #fff;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 2px;
}
.button:hover:before {
  width: 98%;
  content: ' ';
  border-top: 1px solid #fff;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 2px;
}
/* ホバー時に少し暗くする */
.button:hover {
  background-color: #2562b2;
}
input[type="submit"].button:hover:after,
.button:hover:after {
  background-color: #000 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: 10;
  content: ' ';
  border-radius: 4px;
}
/* クリック時には押下したように見せる */
.button:active {
}

/* ボタンの色定義 */
.button.green {
  background: #80b825;
  border-bottom: #5f871b;
  border-top-color: #9ac651;
}
.button.yellow {
  background-color: #f7b101;
  border-top-color: #f7b101;
  border-bottom-color: #d38b15;
}
.button.red {
  background-color: #e66845;
  border-bottom-color: #ab4d33;
  border-top-color: #eb876b;
}
.button.gray {
  background: #CCC;
  border-bottom-color: #dadfe6;
  border-top-color: #dadfe6;
}
.button.white {
  border-top-color: #e2e2e2;
  border-right-color: 1px solid #e2e2e2;
  color: #666 !important;
  background-color: #fff;
  border-bottom-color: #ddd;
  background: -moz-linear-gradient(top, #fff, #f2f2f2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
}
.button.orange {
    border-top-color: #ed9d84;
    color: #fff !important;
    background-color: #e6694d;
    border-bottom-color: #ac4d39;
    background: -moz-linear-gradient(top, #e8684f, #e6684f);
    background: -webkit-gradient(linear, left top, left bottom, from(#e8684f), to(#e6684f));
}

/* ボタンのサイズの定義 */
.button.big {
  border-radius: 4px;
  font-size: 1.9em;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0 10px 0 0;
  padding: 14px 55px 9px;
  border-left: none;
  border-right: none;
}
.button.large { font-size: 1.4em; padding: 12px 55px 10px;}
.button.small { font-size: 80%; padding: 3px 15px 2px;}
.button .sub-text.large { font-size: 0.9em; font-weight: normal;}
.button.middle { font-size: 1.2em; font-weight: bold; padding: 11px 30px 9px;}

/* simulator button */
.btn-simulator-small { position: relative; font-size: 0.9em; padding: 5px 43px !important;}
.btn-simulator-big { width: 300px;}

/* パンくず
-------------------------------------------------- */
ul.page-path { font-size: 90%; padding: 20px 0 25px;}
ul.page-path li { float: left;}
ul.page-path li:after { content: " > ";}
ul.page-path li:last-child:after { content: "";}

/* Notifications
-------------------------------------------------- */
h1.notification { font-size: 160%; padding-bottom: 30px;}
h2.notification { font-size: 125%; border-bottom: 3px solid #DADAD0; padding-bottom: 3px; padding-left: 3px;}
ul.notifications { margin: 15px 0; font-size: 95%;}
ul.notifications li { border-bottom: 1px solid #f2f2f2;}
ul.notifications li a { display: block; text-decoration: none; padding: 10px;}
ul.notifications li a:hover { background-color: #f2f9ff;}
ul.notifications li:hover { background-color: #f2f9ff;}
ul.notifications li.not-opened { background-color: #f2f9ff;}
ul.notifications li:last-child { border-bottom: none;}
ul.notifications li span.timestamp { font-size: 80%; color: #888;}
ul.notifications li a:link span.timestamp { text-decoration: none;}

/* ===============================================
 *  [footer fix]
================================================== */
/* リマーケタグが吐き出すimg要素が、フッター下部に空白をつくってしまう事の対策 #4366 */
body > img {position: absolute; z-index: -9999; bottom:0;}
