@charset "UTF-8";
/*==================================
Common Parts Styles
==================================*/

#main_menu {
    margin-left: 0;
}

#main_menu .change-template {
    position: relative;
    text-align: right;
    top: -20px;
}

#main_menu .change-template a {
    background: url("../img/mypage/icon-arrow-nxt.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    line-height: 30px;
    padding-left: 10px;
}

.icon_chat_check {
    display: inline;
    background: url(/renewal/img/chat/icon_check.png) center left no-repeat;
    margin-right:10px;
    padding-left:15px;
}

.del_data {
    display: inline-block;
    margin-left: 2px;
    width: 12px;
    height: 18px;
    background: url(/renewal/img/chat/btn_close_s.png) center center no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

.del_data:hover {
    background: url(/renewal/img/chat/btn_close_s_on.png) center center no-repeat;
    cursor: pointer;
}

.message_list_active .add_file .msg_file_name:hover {
    display: inline;
    background: #F0F8FC;
}
.add_img, .add_data {
    display: inline-block;
    background: #0C69C6;
    border-radius: 3px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0 3px;
    color: #fff;
    font-size: 11px;
    cursor: default;
    word-break: break-all;
    word-wrap : break-word;
}

.add_img:last-child, .add_data:last-child {
    margin-right: 0;
}

.join_num {
    display: inline-block;
    margin-left: 5px;
}

.message_title{
    margin-top: 30px;
}

/*==================================
Chat Window
==================================*/
.message_active .bnr {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 3px;
    padding-left: 30px;
    width: 203px;
    height: 26px;
    border: solid 1px #0c6ac7;
    background: url(/renewal/img/chat/icon_user.png) 10px 5px no-repeat;
    background-color: #0c69c6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_active .bnr span {
    color: #fff;
}

.message_active .online_num {
    display: inline-block;
    padding-left: 5px;
    font-size: 12px;
}

.message_active .bnr.active {
    bottom: 285px;
}

.message_active .contact_search {
    position: fixed;
    right: 0;
    bottom: 254px;
    z-index: 100;
    display: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 201px;
    height: 32px;
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    background: #f0f8fc;
    *zoom: 1;
}

.message_active .contact_search input[type="text"] {
    position: absolute;
    top: 2px;
    left: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 2px;
    width: 197px;
    height: 28px;
    border: solid 1px #E5E5E5;
    font-size: 10px;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_active .contact_search .btn_search {
    position: absolute;
    top: 2px;
    right: 0;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 33px;
    height: 18px;
    border-radius: 3px;
    background: #FaFdFf;
    box-shadow: 0 1px 1px #3d95f0;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
}

.message_active .contact_list {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    overflow: auto;
    width: 201px;
    height: 252px;
    border: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    background: #FaFdFf;
    font-size: 11px;
    *zoom: 1;
}

.message_active .contact_num_0 {
    padding: 13px 11px;
    height: 256px;
    background: #fff;
    line-height: 1.8;
}

.message_active .btn_add_contact {
    display: block;
    margin-top: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    background: #3d95f0;
    box-shadow: 0 1px 1px #3d95f0;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.message_active .contact_data {
    position: relative;
    z-index: 1;
    clear: both;
    padding: 10px 5px;
    background: #FaFdFf;
    cursor: pointer;
}

.message_active .contact_data:hover {
    background: #deeff7;
}

.message_active .contact_img {
    width: 40px;
}

.message_active .contact_name {
    position: absolute;
    bottom: 17px;
    left: 60px;
    width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_active .contact_status {
    position: absolute;
    right: 10px;
    bottom: 17px;
    font-size: 10px;
}

.message_active .status_online {
    color: #79ba38;
}

.message_active .meg {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    margin-bottom: 0;
    width: 270px;
    height: 310px;
    border: 1px solid #e5e5e5;
    border-top: 0 solid #e5e5e5;
    background-color: #fff;
}

.message_active .meg:first-child {
    right: 200px;
}

.message_active .title_bar {
    position: relative;
    top: 0;
    left: -1px;
    z-index: 100;
    width: 270px;
    height: 23px;
    border: solid 1px #0c6ac7;
    background-color: #0c69c6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #fff;
    cursor: pointer;
}

.message_active .base_contact {
    position: relative;
}

.profile_data {
    position: fixed;
    right: 248px;
    bottom: 0;
    z-index: 200;
    display: block;
    overflow: hidden;
    padding: 22px;
    width: 390px;
    height: 138px;
    background: url(/renewal/img/chat/fuki_profile.png) 0 0 no-repeat;
    list-style-type: none;
    *zoom: 1;
}

.profile_data #contact_img {
    float: left;
    width: 114px;
}

.profile_data .box_txt span {
    color: #333;
}

.message_active .profile_data .contact_name {
    position: static;
    color: #2d8de0;
    font-weight: bold;
    font-size: 15px;
}

.contact_win_count {
    float: left;
}

.contact_feedback {
    display: inline-block;
    margin-left: 10px;
}

.contact_win_count .bold,
.contact_feedback .bold {
    font-weight: bold;
}

.message_active .title_bar .title.mini {
    overflow: hidden;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message_active .btn_end {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    width: 20px;
    height: 24px;
    background: url(/renewal/img/chat/btn_close.png) 3px center no-repeat;
    text-indent: -9999px;
}

.message_active .btn_end:hover {
    background: url(/renewal/img/chat/btn_close_on.png) 3px center no-repeat;
}

.message_active .btn_end:before {
    content: "";
}

.message_active .btn_end:after {
    content: "";
}

.message_active .btn_end:hover:before {
    position: absolute;
    top: -25px;
    right: -20px;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "閉じる";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}

.message_active .btn_end:hover:after {
    position: absolute;
    top: -6px;
    right: 5px;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
}

.message_active .btn_add:hover {
    background: url(/renewal/img/chat/btn_add_on.png) 2px center no-repeat;
}

.message_active .btn_setting:hover {
    background: url(/renewal/img/chat/btn_setting_on.png) 3px center no-repeat;
}

.message_active .btn_add {
    position: absolute;
    top: 0;
    right: 48px;
    display: block;
    width: 22px;
    height: 24px;
    background: url(/renewal/img/chat/btn_add.png) 3px center no-repeat;
    text-indent: -9999px;
}

.message_active .btn_add:before {
    content: "";
}

.message_active .btn_add:after {
    color: #333;
    content: "";
}

.message_active .btn_add:hover:before {
    position: absolute;
    top: -25px;
    right: -45px;
    width: 130px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "他のユーザーを追加する";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}

.message_active .btn_add:hover:after {
    position: absolute;
    top: -6px;
    right: 7px;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
}

.message_active .btn_add:hover {
    background: url(/renewal/img/chat/btn_add_on.png) 2px center no-repeat;
}

.message_active .btn_setting:hover {
    background: url(/renewal/img/chat/btn_setting_on.png) 3px center no-repeat;
}

.message_active .btn_setting {
    position: absolute;
    top: 0;
    right: 26px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(/renewal/img/chat/btn_setting.png) 3px center no-repeat;
    text-indent: -9999px;
}

.message_active .btn_setting:before {
    content: "";
}

.message_active .btn_setting:after {
    content: "";
}

.message_active .btn_setting:hover:before {
    position: absolute;
    top: -25px;
    right: -20px;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "設定";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}

.message_active .btn_setting:hover:after {
    position: absolute;
    top: -6px;
    right: 5px;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
}

.message_active .menu_setting {
    position: absolute;
    top: 24px;
    right: -81px;
    z-index: 100;
    display: none;
    padding: 5px 0 5px 0;
    padding-top: 2px;
    padding-bottom: 2px;
    width: auto;
    border: solid 1px #333;
    border-radius: 2px;
    background: #fff;
    color: #333;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.message_active .menu_setting li a {
    display: block;
    padding: 5px 20px 5px 10px;
    color: #333;
    text-decoration: none;
    font-size: 11px;
}

.message_active .menu_setting li a:hover {
    background: #0c69c6;
    color: #fff;
    text-decoration: none;
}

.message_active .btn_setting.reduce {
    display: none;
}

.message_active .btn_add.reduce {
    display: none;
}

.message_active .btn_close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    text-indent: -9999px;
}

.message_active .btn_open {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    text-indent: -9999px;
}

.message_active .title_bar .title {
    position: absolute;
    top: 3px;
    left: 11px;
    overflow: hidden;
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}

.message_active .title_bar .title a {
    white-space: nowrap;
    position: relative;
    z-index: 100;
    color: #fff;
}

.message_active .title_bar .active {
    background-color: #0b58a5;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

.title_bar .btn_open {
    display: none;
    float: right;
    margin-right: 5px;
}

.title_bar .btn_add {
    float: right;
    margin-right: 5px;
}

/* tool-tip group member */
.message_active .member_list {
    position: absolute;
    left: 10px;
    bottom: 30px;
    background: #333;
    border-radius: 4px;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-size: 12px;
    cursor: default;
}

.message_active .member_list .member_data  {
    padding-top: 2px;
    padding-bottom: 2px;
}

.message_active .member_list .member_data a  {
    color: #fff;
    text-decoration: underline;
}

.message_active .member_list .member_data img {
    display: none;
}

.message_active .member_list:after {
    position: absolute;
    bottom: -5px;
    border-top: 5px solid #333;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    content: " ";
}

.message_active .box_add_user {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 100;
    margin-bottom: 30px;
    padding-left: 3px;
    padding-right: 3px;
    min-height: 26px;
    width: 262px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background: #eeeeee;
}

.message_active .add_member,
.message_active .add_title {
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 100;
    display: none;
    padding: 2px 4px 8px;
    width: 260px;
    height: 20px;
    background: #fff;
    cursor: pointer;
}

.message_active .add_member .add_search input[type="text"],
.message_active .add_title .add_name_title input[type="text"] {
    width: 200px;
    font-size: 10px;
    margin-right:2px;
}


.message_active .msg_input_box .img_list {
    position: absolute;
    top: -28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 28px;
    background: #eee;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 0 3px 0 3px;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_active .add_member .add_list {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 50;
    overflow: auto;
    min-height: 41px;
    width: 100%;
    height: 256px;
    background-color: #f5f5f5;
}

.message_active .add_search, .message_active .add_name_title {
    position: relative;
    top: 0;
    left: 0;
}

.message_active .add_search .add_submit,
.message_active .add_name_title .add_complete {
    background: none repeat scroll 0 0 #3075bf;
    border-bottom: 1px solid #144e97;
    border-radius: 3px;
    border-top: 1px solid #5a91cc;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 26px;
    line-height: 27px;
    position: relative;
    text-align: center;
    width: 42px;
}


.message_active .add_search .add_submit:hover,
.message_active .add_name_title .add_complete:hover {
    background-color: #2562b2;
    padding-top: 1px;
    height: 26px;
}

.message_active .meg_log {
    overflow: auto;
    margin-bottom: 30px;
    padding-top: 0;
    width: 270px;
    height: 260px;
    border-top: 0px;
    border-bottom: none;
    background-color: #FaFdFf;
}

.message_active .msg_input_box {
    top: 0;
    left: 0;
    margin-left: 1px;
    padding: 0;
}

.message_active .msg_input_box_wp {
    position: absolute;
    right: 0;
    bottom: 0px;
    min-height: 25px;
    width: 100%;
    border-top: 1px solid #E1E4E6;
    background-color: #fff;
}

.message_active .msg_input_box textarea {
    margin: 0;
    padding: 3px 5px 0;
    width: 220px;
    height: 20px;
    outline: none;
    border: none;
    font-size: 11px;
    resize: none;
    overflow: hidden;
}

.message_active .msg_input_box input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    text-indent: -9999px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    cursor: pointer;
}
.message_active .message_new .msg_input_box input[type="file"]{
    position:relative;
}

.message_active .msg_input_box .btn_file_wp {
    position: absolute;
    right: 8px;
    bottom: 3px;
    display: block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    border: none;
    border-width: 0px;
    background: url(/renewal/img/chat/btn_add_image_s.png) left center no-repeat;
    background-color: #fff;
    text-indent: -9999px;
}

.message_active .msg_input_box .btn_file_wp:hover {
    background: url(/renewal/img/chat/btn_add_image_s_on.png) left center no-repeat;
}

.message_active .input.string.required {
    position: absolute;
    bottom: 1px;
}

.message_active .more {
    font-size: 0px;
}

.mine_meg, .other_meg,
.mine_meg .msg_file_name, .other_meg .msg_file_name {
    word-wrap: break-word;
}

.message_active .mine_msg {
    clear: both;
    margin-top: 8px;
    float: right;
}

.message_active .mine_msg > #text {
    position: relative;
    right: 15px;
    display: inline-block;
    padding: 5px 7px 4px 6px;
    min-height: 15px;
    max-width: 188px;
    border: solid 1px #b2d8ec;
    border-radius: 5px;
    float: right;
  /* グラデーション*/
    background-color: #d7f0fc;
    background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, #d7f0fc), color-stop(100%, #edf9ff));
    background-image: -webkit-linear-gradient(to top, #d7f0fc, #edf9ff);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d7f0fc), to(#edf9ff));
    background-image: -webkit-linear-gradient(bottom, #d7f0fc, #edf9ff);
    background-image: linear-gradient(to top, #d7f0fc, #edf9ff);
    box-shadow: 0 1px 2px #d6dde0;
    text-align: left;
    word-wrap: break-word;
    font-size: 11px;
    line-height: 1.28;
}

.message_active .mine_msg > #text:after {
    position: absolute;
    top: 5px;
    right: -7px;
    display: block;
    content: url("/renewal/img/chat/fuki_arrow_mine.png");
}

.message_active .contact_text{
    color:#A5A5A5;
    padding:15px 10px ;
    clear:both;
    text-indent: -19px;
    margin-left: 19px;
    font-size:11px;
    line-height:1.6em;
}

.message_active .contact_text:before {
    content: "注意事項";
    background-image: url("/renewal/img/chat/icon_alert.png");
    background-repeat: no-repeat;
    background-position: left;
    margin:0 3px 0 0;
    position:relative;
    display: block;
    top:3px;
    padding-left: 40px;
    color: #333;
    margin-bottom: 8px;
}

.message_active .message_new .contact_text{
    padding: 0 5px;
    position: relative;
    top:32px;
    line-height: 15px;
}

.message_active .warn_msg > #text {
    clear:both;
    padding: 5px ;
    min-height: 15px;
    text-align: left;
    word-wrap: break-word;
    font-size: 11px;
    line-height: 1.28;
}



.message_active .msg_user_img {
    float: left;
    width: 30px;
}

.message_active .other_msg {
    clear: both;
    padding-top: 8px;
    margin-left: 10px;
}


.message_active .other_msg .msg_user_name {
    color: #A8BAC3;
    font-size: 10px;
}

.message_active .other_msg > #text {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px 4px 7px;
    min-height: 15px;
    max-width: 178px;
    border: solid 1px #dedede;
    border-radius: 5px;
  /* グラデーション*/
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, to top, to bottom, color-stop(0%, #f2f2f2), color-stop(100%, white));
    background-image: -webkit-linear-gradient(to top, #f2f2f2, white);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f2f2), to(white));
    background-image: -webkit-linear-gradient(bottom, #f2f2f2, white);
    background-image: -webkit-linear-gradient(bottom, #f2f2f2, #ffffff);
    background-image: linear-gradient(to top, #f2f2f2, #ffffff);
    box-shadow: 0 1px 2px #e7eef2;
    word-wrap: break-word;
    font-size: 11px;
    font-size: 11px;
    line-height: 1.28;
}

.message_active .other_msg #text:after {
    position: absolute;
    top: 5px;
    left: -6px;
    display: block;
    content: url(/renewal/img/chat/fuki_arrow_other.png);
}

.message_active .other_msg #text.add_file a,
.message_active .mine_msg #text.add_file a {
    display: block;
}

.message_active .time {
    clear: both;
    color: #a8bac3;
    font-size: 10px;
}

.message_active .time.write {
    margin: 8px 15px 8px 0;
    padding-top: 8px;
    text-align: right;
}

.message_active .time.other {
    padding: 8px 0 8px 52px;
    text-align: left;
}

.contact_data_mini {
    overflow: hidden;
    padding: 4px;
    height: 29px;
    border-bottom: 1px solid #ccc;
    font-size: 11px;
    *zoom: 1;
}

.contact_data_mini:hover {
    background: #F0F8FC;
}

.new_msg {
    font-weight: bold;
}

/*==================================
Message page
==================================*/
/*== Right Side =======================*/

#bard_search,
#board_list {
  border-right: solid 3px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.page_path_button {
    text-align: right;
}

.page_path_button a {
    width: 196px;
    padding-left: 10px;
    padding-right: 10px;
}

.wp_page_desc_message {
    position: relative;
}

p.page_desc_message {
    margin: 0 0 20px;
}

.page_button {
    position: absolute;
    top: 0;
    right: -4px;
}

.message_list_active .title_bar {
    width: 100%;
    position: relative;
    border: none;
    background: #fff;
}

.message_list_active .title_bar .title_bar_left_content {
    width: 45%;
}

.message_list_active .title_bar .title_bar_right_content {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 50px;
}

.message_list_active .title_bar .title {
    position: static;
    overflow: hidden;
    padding-top: 24px;
    padding-left: 20px;
    width: 100%;
    max-width: 400px;
    min-height: 43px;
    color: #262626;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.message_list_active .title_bar .title:hover {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

.message_list_active .title_bar .title a {
    color: #333;
    text-decoration: none;
}

.message_list_active .add_search .add_submit,
.message_list_active .add_name_title .add_complete,
.message_list_active .btn_videotalk,
.message_list_active .btn_add,
.message_list_active .btn_setting_group,
.message_list_active .btn_create_msg,
.message_list_active .btn_setting,
.message_list_active .btn_change_msg,
.message_list_active .menu_setting {

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.message_list_active .title_bar .message_member_list {
    position: absolute;
    top: 60px;
    left: 22px;
    min-width: 215px;
    border: 1px solid #b5b5b5;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
    z-index: 2;
}

.message_list_active .title_bar .message_member_list:after {
    position: absolute;
    content: "";
    background: url(/renewal/img/chat/arrow-bottom.png) left top no-repeat;
    height: 9px;
    width: 18px;
    top: -3px;
    left: 10px;
    z-index: 3;
    margin-top: -5px;
}

.message_list_active .title_bar .message_member_list .member_data {
    overflow: hidden; /* clearfix */
    height: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1;
}

.message_list_active .title_bar .message_member_list .member_data img {
    float: left;
    padding-right: 6px;
    line-height: 32px;
}


.message_list_active .title_bar .message_member_list .member_data a {
    color: #1B6CCD;
    font-weight: bold;
    text-decoration: underline;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message_list_active .title_bar .message_member_list .member_data a:hover {
    color: #09F;
}

/* User Videotalk Button */
.message_list_active .btn_videotalk {
    position: absolute;
    top: 32px;
    right: 371px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/renewal/img/chat/btn_list_videotalk.png?v=1.0) left top no-repeat;
    text-indent: -9999px;
}
.message_list_active .btn_videotalk:hover {
    background: url(/renewal/img/chat/btn_list_videotalk_on.png?v=1.0) left top no-repeat;
}
.message_list_active .btn_videotalk:before {
    content: "";
}

.message_list_active .btn_videotalk:after {
    content: "";
}
.message_list_active .btn_videotalk:hover:before {
    position: absolute;
    top: 30px;
    right: -27px;
    z-index: 100;
    width: 80px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "ビデオ通話する";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}
.message_list_active .btn_videotalk:hover:after {
    position: absolute;
    top: 25px;
    right: 8px;
    z-index: 100;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    border-left: 5px solid transparent;
    content: " ";
}

/* User Add Button */
.message_list_active .btn_add {
    position: absolute;
    top: 32px;
    right: 336px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/renewal/img/chat/btn_list_add.png) left top no-repeat;
    text-indent: -9999px;
}
.message_list_active .btn_add:hover {
    background: url(/renewal/img/chat/btn_list_add_on.png) left top no-repeat;
}

.message_list_active .btn_add:before {
    content: "";
}

.message_list_active .btn_add:after {
    content: "";
}

.message_list_active .btn_add:hover:before {
    position: absolute;
    top: 30px;
    right: -50px;
    z-index: 100;
    width: 120px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "他のユーザーを追加する";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}

.message_list_active .btn_add:hover:after {
    position: absolute;
    top: 25px;
    right: 8px;
    z-index: 100;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    border-left: 5px solid transparent;
    content: " ";
}

/* Edit Chat Name Button */
.message_list_active .btn_setting_group {
    position: absolute;
    top: 30px;
    right: 315px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(/renewal/img/chat/btn_list_edit.png) left top no-repeat;
    text-indent: -9999px;
}

.message_list_active .btn_setting_group:hover {
    background: url(/renewal/img/chat/btn_list_edit_on.png) left top no-repeat;
}

.message_list_active .btn_setting_group:before {
    content: "";
}

.message_list_active .btn_setting_group:after {
    content: "";
}

.message_list_active .btn_setting_group:hover:before {
    position: absolute;
    top: 30px;
    right: -40px;
    z-index: 100;
    width: 100px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "チャット名の変更";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}

.message_list_active .btn_setting_group:hover:after {
    position: absolute;
    top: 25px;
    right: 4px;
    z-index: 100;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    border-left: 5px solid transparent;
    content: " ";
}

/* Create New Messege Button */
.message_list_active .btn_create_msg {
    position: absolute;
    top: 25px;
    right: 187px;
    display: block;
    width: 124px;
    height: 27px;
    background: url(/renewal/img/chat/btn_list_new.png) left top no-repeat;
    text-indent: -9999px;
}

.message_list_active .btn_create_msg:hover {
    background: url(/renewal/img/chat/btn_list_new_on.png) left top no-repeat;
}


/* Change Messege Button */
.message_list_active .btn_change_msg {
    position: absolute;
    top: 25px;
    right: 57px;
    display: block;
    width: 124px;
    height: 27px;
    background-color: #e6e6e6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#change_msg_text {
  color: #9a9a9a;
  font-weight: bold;
  font-size: 11px;
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 12px;
}

.message_list_active .btn_change_msg:hover {
  background-color: #d4d4d4;
}


.message_list_active .btn_create_msg:hover {
    background: url(/renewal/img/chat/btn_list_new_on.png) left top no-repeat;
}


/* Setting Button */
.message_list_active .btn_setting {
    position: absolute;
    top: 25px;
    right: 24px;
    display: block;
    width: 27px;
    height: 27px;
    background: url(/renewal/img/chat/btn_list_setting.png) left top no-repeat;
    text-indent: -9999px;
}

.message_list_active .btn_setting:hover {
    background: url(/renewal/img/chat/btn_list_setting_on.png) left top no-repeat;
}

.message_list_active .btn_setting:before {
    content: "";
}

.message_list_active .btn_setting:after {
    content: "";
}

.message_list_active .btn_setting:hover:before {
    position: absolute;
    top: 40px;
    right: -17px;
    z-index: 100;
    width: 60px;
    height: 20px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "設定";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2.0;
}

.message_list_active .btn_setting:hover:after {
    position: absolute;
    top: 35px;
    right: 8px;
    z-index: 100;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #333;
    border-left: 5px solid transparent;
    content: " ";
}

.board_data_list_menu {
    overflow: hidden;
    padding: 22px 0 17px 35px;
    *zoom: 1;
}

.board_data_list_menu li {
    position: relative;
    float: left;
    margin-right: 20px;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
}

.board_data_list_menu li a {
    color: #3d95f0;
}

.message_list_active .menu_setting {
    position: absolute;
    top: 47px;
    right: 24px;
    z-index: 100;
    display: none;
    padding: 5px 0 5px 0;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 200px;
    border: solid 1px #333;
    border-radius: 2px;
    background: #fff;
    color: #333;
    list-style: none;
    text-indent: 0;
}

.message_list_active .menu_setting li {
    background: #fff;
}

.message_list_active .menu_setting li a {
    display: block;
    padding: 5px 20px 5px 10px;
    background: #fff;
    color: #333;
    text-decoration: none;
}

.message_list_active .menu_setting li a:hover {
    background: #0c69c6;
    color: #fff;
    text-decoration: none;
}

.message_list_active .add_search .add_submit,
.message_list_active .add_name_title .add_complete {
    background: none repeat scroll 0 0 #3075bf;
    border-bottom: 1px solid #144e97;
    border-radius: 3px;
    border-top: 1px solid #5a91cc;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 5%;
}


.message_list_active .add_search .add_submit:hover,
.message_list_active .add_name_title .add_complete:hover {
    background-color: #2562b2;
    padding-top: 1px;
    height: 26px;
}

.message_list_active .box_add_user {
    position: absolute;
    top: 50px;
    left: 9px;
    z-index: 1;
    margin-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
    min-height: 38px;
    width: 95%;
    background: #f5f5f5;
}

.message_list_active .add_list {
    position: absolute;
    top: 90px;
    z-index: 1;
    z-index: 3;
    overflow: auto;
    width: 100%;
    height: 534px;
    background: #fff;
}

.message_list_active .add_data {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 3px;
    background: #0c69c6;
    color: #fff;
}

.message_list_active .mine_msg,
.message_list_active .other_msg,
.message_list_active .warn_msg {
    position: relative;
    padding: 12px 6px;
    border-bottom: #e6e6e6 solid 1px;
}

.message_list_active .contact_text {
    border:1px solid #e6e6e6;
    background: url("/renewal/img/chat/icon_alert.png") #F7F7F7 no-repeat scroll 8px 5px;
    border-radius:5px;
    color:#a5a5a5;
    padding:4px 10px 4px 28px;
    margin: 100px 12px;
}

.message_list_active .contact_text a{
    display:inline;
    margin:0 3px 0;
}

.message_list_active .msg_user_img {
    padding-right: 12px;
}

.message_list_active .msg_user_img a {
    display: block;
    margin-left: 12px;
}

.message_list_active .msg_user_name {
    position: absolute;
    top: 9px;
    left: 47px;
    font-weight: bold;
}

.message_list_active .msg_user_name a {
    display: block;
    margin-left: 12px;
}

.message_list_active .time.write,
.message_list_active .time.other {
    position: absolute;
    top: 9px;
    right: 20px;
    color: #808080;
    text-align: right;
    font-size: 10px;
}

.message_list_active .add_file a {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 12px;
    margin-left: 0;
    padding: 8px 6px;
    border: 1px solid #e6e6e6;
    background: #f7f7f7;
    *zoom: 1;
}

.message_list_active .add_file a img {
    float: left;
    margin-right: 7px;
}

.message_list_active #text {
    margin-top: -10px;
    margin-left: 53px;
    word-wrap: break-word;
}

.message_list_active .warn_msg #text{
margin:0 ;
}

.message_list_active .msg_window {
    float: right;
    width: 64.8%;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    margin-left: -4%;
}

.message_list_active .msg_window_large {
    height: 926px;
    border: 1px solid #e6e6e6;
}

.message_list_active .msg_input_box_wp {
    position: relative;
}

.message_list_active .msg_input_box {
    position: relative;
}

.message_list_active .add_submit_msg_wp {
    width: 99.5%;
    min-width: 29%;
    height: 33px;
    border-top: solid 1px #e6e6e6;
    border-right: solid 1px #E6E6E6;
    border-bottom: solid 1px #E6E6E6;
    border-left: solid 1px #E6E6E6;
    background: #fff;
    position: absolute;
    top: 117px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.message_list_active .add_submit_msg_wp .add_submit_msg_txt {
    position: absolute;
    top: 8px;
    right: 58px;
    height: 32px;
    color: #aaa;
}

.msg_input_box_wp .img_list {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 99.5%;
    min-width: 30%;
    min-height: 28px;
    background: #fff;
    border-left: solid 1px #E6E6E6;
    border-right: solid 1px #E6E6E6;
    border-bottom: solid 1px #E6E6E6;
    padding: 1px 3px 0 3px;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_list_active .msg_input_box input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    clear: both;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    cursor: pointer;
}

.message_list_active .msg_input_box .btn_wp {
    position: absolute;
    top: 119px;
    left: 0;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 126px;
    height: 30px;
    border: none;
    border-width: 0px;
    background: url(/renewal/img/chat/btn_add_image.png) left center no-repeat;
    text-indent: -9999px;
    font-size: 0;
}

.message_list_active .msg_input_box .btn_wp:hover {
    background: url(/renewal/img/chat/btn_add_image_on.png) left center no-repeat;
}

.message_list_active .msg_input_box_wp textarea:focus {
    outline: none;
}

.message_list_active .msg_input_box_wp input[type="file"]:focus {
    outline: none;
}

.add_submit_msg {
    background: #3075bf;
    border-bottom: 1px solid #144e97;
    border-radius: 3px;
    border-top: 1px solid #5a91cc;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    right: 6px;
    text-align: center;
    top: 4px;
    width: 40px;
}

.add_submit_msg:hover {
    background-color: #2562b2;
    height: 22px;
    padding-top: 1px;
}

.message_list_active {
    overflow: hidden;
    margin-top: -10px;
    min-height: 100%;
    width: 99.5%;
    position: relative;
    left: 3px;
    *zoom: 1;
    display: table;
}

.message_list_active .msg_log {
    clear: both;
    overflow: auto;
    padding-top: 20px;
    height: 685px;
    border-top: 1px solid #e6e6e6;
}

.message_list_active .msg_log > div:last-child {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 50px;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/*== Left Side =======================*/
.board_search .search_input {
    height: 67px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 20px;
    left: -10px;
}

.board_search .search_input input[type="text"] {
    margin: 0 0 0 11px;
    padding: 0 0 0 10px;
    width: 90%;
    min-width: 225px;
    height: 20px;
    font-size: 12px;
}

.board_data_list {
    position: relative;
    float: left;
    width: 35%;
    min-width: 300px;
    max-width: 80%;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.board_list {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 622px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.board_modified {
  color: #7e7f8e;
  font-size: 9px;
  position: absolute;
  top: 12px;
  right: 20px;
}

.board_data_msg,
.board_work_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 4px;
    color: #6a6e71;
    max-width: 450px;
    font-size: 13px;
}

.board_data_msg {
  width: 80%;
}

.board_work_title {
  position: absolute;
  bottom: 12%;
  font-size: 11px;
  width: 90%;
  left: 3%;
}

.board_data_list .board_data .inclution {
    position: absolute;
    top: 38px;
    right: 20px;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
}

.board_data_list .board_data:hover .inclution {
    background: url(/renewal/img/chat/icon_unread.png) left center no-repeat;
}

.board_data_list .board_data:hover .inclution:hover {
    background: url(/renewal/img/chat/icon_unread_on.png) left center no-repeat;
    background-color: #3d95f0;
}

.board_data_list .board_data.active:hover .inclution {
    background: url(/renewal/img/chat/icon_unread_on.png) left center no-repeat;
}

.board_data_list .board_data.active:hover .inclution:hover {
    background: url(/renewal/img/chat/icon_unread.png) left center no-repeat;
    background-color: #f0f8fc;
}

.board_data_list .inclution:before {
    content: "";
}

.board_data_list .inclution:after {
    content: "";
}

.board_data_list .inclution:hover:before {
    position: absolute;
    top: -5px;
    right: 18px;
    padding: 2px;
    width: 70px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    content: "未読にする";
    text-align: center;
    text-indent: 0;
    font-size: 9px;
    line-height: 2;
}

.board_data_list .inclution:hover:after {
    position: absolute;
    top: 2px;
    right: 11px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #333;
    content: " ";
}

.message_list_active .add_title,
.message_list_active .add_member {
    position: relative;
    display: none;
}

.message_list_active .add_title input[type="text"],
.message_list_active .add_search input[type="text"] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 88%;
    height: 20px;
    font-size: 12px;
    display: inline-block;
}

.board_data {
    position: relative;
    overflow: hidden;
    padding: 5px 0 5px 10px;
    min-height: 52px;
    height: 105px;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    *zoom: 1;
}

.board_data.active {
    border-bottom: 1px solid #177ee6;
    background: #3d95f0;
}

.board_data.unread {
    background: #f0f8fc;
}

.board_data:hover {
    background: #f0f8fc;
}

.board_data.active:hover {
    background: #3d95f0;
}

.board_data .status {
    position: absolute;
    top: 36px;
    right: 20px;
    color: #3d95f0;
    font-weight: bold;
    font-size: 12px;
}

.board_data .left_content {
    width: 80px;
    position: absolute;
    left: 9px;
    top: 0;
}

.board_data .right_content {
    width: 80%;
    margin-left: 60px;
}

.board_img {
    float: left;
    margin-right: 10px;
}

.board_title {
    overflow: hidden;
    margin-top: 6px;
    width: 68%;
    color: #1B6CCD;
    text-overflow: ellipsis ;
    white-space: nowrap;
    font-weight: bold;
}

.board_title:hover {
    color: #0099FF;
}

.board_data.active .board_title {
    color: #ffffff;
}

.board_img img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
    margin-left: 5px;
}

.message_list_active .msg_input_box {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 10px 10px;
    min-height: 170px;
    border: 1px solid #E6E6E6;
    background: #f2f2f2;
    height: 170px;
}

.message_list_active .msg_input_box textarea {
    margin: 0;
    padding: 8px;
    width: 99.5%;
    height: 120px;
    border: solid 1px #E6E6E6;
    resize: none;
    min-width: 30%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.message_list_active .add_search,
.message_list_active .add_name_title {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 1;
    background: #fff;
    width: 100%;
}

/*==================================
New Message page
==================================*/
.layer_modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2999;
    width: 100%;
    height: 100%;
    background: #000;
    background-attachment: fixed;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.message_active .message_new {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3000;
    margin-top: -300px;
    margin-left: -470px;
    width: 940px;
    height: 658px;
    background: #fff;
}

.message_active .message_new .title_bar {
    width: 940px;
}

.message_active .message_new .msg_input_box {
    position: relative;
    height: 100%;
}

.message_active .message_new .message_new_address {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 13px;
    z-index: 100;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_active .message_new .msg_input_box_wp {
    position: relative;
    top: 38px;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_active .message_new .msg_input_box_wp .img_list {
    position: relative;
    top: 185px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 28px;
    background: #eee;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 1px 3px 0 3px;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    z-index: 100;
}

.message_active .message_new .msg_input_box_wp .input.string.required {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message_active .message_new .msg_input_box_wp textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 488px;
    padding: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.message_active .message_new .msg_input_box_wp .btn_wp {
    position: absolute;
    top: 491px;
    z-index: 2;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-right: 1px solid #ddd;
    background: url(/renewal/img/chat/btn_add_image_new.png) left center no-repeat;
    text-indent: -9999px;
    font-size: 0;
}

.message_active .message_new .msg_input_box_wp .btn_wp:hover {
    background: url(/renewal/img/chat/btn_add_image_new_on.png) left center no-repeat;
}

.message_active .message_new .msg_input_box_wp .btn_wp input#Messageimage {
    display:block;
    width: 126px;
    height: 32px;
}

.message_active .message_new .msg_input_box_wp .add_submit_msg_wp {
    position: absolute;
    top: 492px;
    right: 10px;
    margin: 0;
    padding: 0;
    width: 220px;
}

.message_active .message_new .msg_input_box_wp .add_submit_msg_txt {
    position: absolute;
    top: 6px;
    font-size: 13px;
    color:#AAAAAA;
}

.message_active .mine_msg.create_msg,
.message_active .other_msg.create_msg {
    float: none;
}

.message_active .mine_msg.create_msg > #text:after,
.message_active .other_msg.create_msg > #text:after {
    display: none;
    content: "";
}

.message_active .mine_msg.create_msg > #text,
.message_active .other_msg.create_msg > #text {
    background:none;
    border:none;
    box-shadow:none;
    color:#A8BAC3;
}

.message_active .other_msg.create_msg .msg_user_img {
    display: none;
}

.message_active .box_add_user {
    display: none;
}

.no_message {
    margin-top: 45px;
    background-color:#EDEDED;
    padding:15px 20px;
    font-size:110%;
}
