@charset "UTF-8";
/**
 * Description : ヘッダー、フッターなどLJP共通フレーム
 */
.ljp-header *{
    box-sizing:border-box;
}

.frametype-respond .layout--nologin {
    padding-top: 79px;
}

.ljp-header{
    width:100%;
    z-index:99;
}
.ljp-header a,
.ljp-header a:hover {
    text-decoration: none;
}
.ljp-header--no-login{
    min-width: 950px;
    background: #fff;
    border-bottom: solid 1px #e9e9e9;
}

.ljp-header--logged-in {
    min-width: 950px;
    height: 50px;
    background: #256bb3;
    position: fixed;
}

.ljp-header--no-navigation{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    min-width: auto;
    height:50px;
    background: #fff;
    border-top: 4px solid #0268CC;
    border-bottom: 1px solid #e9e9e9;
}

.ljp-header--no-navigation .ljp-header__logo__img {
    margin-left: 15px;
    margin-bottom: 3px;
}

.ljp-header__above{
    display: -webkit-flex;
    display: flex;
    font-size: 11px;
    line-height: 28px;
    max-height: 28px;
    overflow: hidden;
    color: #fff;
    padding: 0 10px;
    background-color: #0268CC;
    position: relative;
    box-sizing: border-box;
}
.ljp-header__above__list__item .ljp-header__above__list__item__icon {
    display: none;
}
.ljp-header__above__list__item .ljp-header__above__list__item__label br {
    display: none;
}
.ljp-header__above__txt {
    margin-bottom: 0;
}

.ljp-header__above__list {
    margin-left: auto;
    position: relative;
}
.ljp-header__above__list__item {
    display: inline;
}
.ljp-header__above__list__item__anchor:link,
.ljp-header__above__list__item__anchor:visited {
    color: #fff;
}
a.ljp-header__above__list__item__anchor:hover {
    text-decoration: underline;
}
.ljp-header__above__list__item + .ljp-header__above__list__item {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: 0.5em;
    padding-left: 1em;
}

.ljp-header__main {
    position: relative;
    height: 50px;
    padding: 0 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
}
/* 未ログインヘッダーの場合 */
.ljp-header__main.main--hasBizbnr {
    padding-right: 0;
}
.ljp-header__main.main--hasBizbnr .Bizbnr__icon {
    vertical-align: bottom;
    display: inline-block;
}
.ljp-header__main.main--hasBizbnr a.header-menu__right__item__anchor {
    width: auto;
    padding: 0;
}
.ljp-header__main.main--hasBizbnr .header-menu__right__item__anchor__icon.fa-building,
.ljp-header__main.main--hasBizbnr .header-menu__right__item__label {
    display: none;
}

/** ヘッダロゴ */
.ljp-header__logo,
#ljp-store-logo {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-bottom: 3px;
    z-index: 999;
}
.ljp-header__logo:hover,
#ljp-store-logo:hover {
    opacity: 0.6;
}

.ljp-header__menu {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    width: 100%;
    margin-left: 10px;
}

/* Header Left Menu
========================================== */
.header-menu__left{
    display: -webkit-flex;
    display: flex;
}

.header-menu__left__item{
    position: relative;
    list-style-type: none;
    transition: all 0.4s;
}

a.header-menu__left__item__anchor,
a.header-menu__right__item__anchor {
    display: block;
    transition: background-color 200ms;
    text-decoration: none;
}

a.header-menu__left__item__anchor{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.ljp-header--no-login a.header-menu__left__item__anchor:hover,
.ljp-header--no-login a.header-menu__left__item__anchor:active {
    background-color: #F0F8FF;
    text-decoration: none;
}
.ljp-header--no-login .header-menu__left__item__anchor__icon {
    vertical-align: bottom;
    display: inline-block;
    margin-right: 3px;
}
.header-menu__left__item__anchor__text--sp {
    display: none;
}

/* ログイン時のスタイル */
.ljp-header--logged-in a.header-menu__left__item__anchor {
    color: #FFF;
    text-decoration: none;
}
.ljp-header--logged-in a.header-menu__left__item__anchor:hover,
.ljp-header--logged-in a.header-menu__left__item__anchor:active,
.ljp-header--logged-in a.header-menu__right__item__anchor:hover,
.ljp-header--logged-in a.header-menu__right__item__anchor:active {
    background-color: rgba(255,255,255,0.2);
    text-decoration: none;
    color: #FFF;/* なぜかこれ消すとhoverで文字色青くなる、多分アンチエイリアス関係のバグ */
}

/* ljp-header 検索ボックス */
.ljp-header__search {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.ljp-header__search__inner {
    display: -webkit-flex;
    display: flex;
    width: 270px;
    line-height: 30px;
    margin-left: 10px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

input[type="text"].ljp-header__search__txtbox {
    border: none;
    font-size: 11px;
    padding: 0 6px;
    margin: 0;
    width: 150px;
}

.ljp-header__search__btn {
    border: none;
    padding: 0;
    margin-left: auto;
    background: none;
}

.ljp-header__search__btn > .fa{
    color: #aaa;
    border-left: 1px solid #ededed;
    margin: 0;
    padding: 0 8px;
}

.ljp-header__search__toggle__trigger {
    display: none;
    font-size: 11px;
    padding: 0 5px;
    width: 95px;
    background: #f9f9f9;
    border-right: 1px solid #ccc;
}
.ljp-header__search__toggle__trigger.active {
    display: block;
}
.ljp-header__search__toggle__trigger .fa {
    margin-left: 5px;
}

/* ヘッダドロップダウン */
.header-menu--hasdropdown:hover .header-dropdown__child {
    visibility: visible;
    opacity: 1;
}
.header-dropdown__child {
    clear: both;
    width: 210px;
    border-radius:  3px;
    position: absolute;
    top: 45px;
    left: 50%;
    margin-left: -105px;
    box-shadow:  0 1px 7px rgba(0,0,0,0.3);
    background-color: #FFF;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease 0s;
}
.header-dropdown__child:before,
.header-dropdown__child:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -2px;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #FFF transparent;
}
.header-dropdown__child:before{
    top: -7px;
    border-color: transparent transparent #ddd transparent;
}

.header-dropdown__child__list {
    padding: 6px 0;
    border-bottom: 1px solid #E9E9E9;
}
.header-dropdown__child__list:last-child {
    border-bottom: none;
}
.header-dropdown__child__list__item {
    font-size: 12px;
    line-height: 22px;
    list-style: none;
}
.header-dropdown__child__list__item a {
    box-sizing:border-box;
    display: inline-block;
    width: 100%;
    padding: 0 12px;
}
.header-dropdown__child__heading {
    box-sizing:border-box;
    display: inline-block;
    width: 100%;
    color: #999;
    padding: 8px 12px 0;
    margin: 0;
}
.header-dropdown__child__list__item a:hover {
    background-color: #f0f8ff;
}
.header-dropdown__child__list__item__anchor--right {
    text-align: right;
}



/* Header Right Menu
========================================== */
.header-menu__right {
    margin-left: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    z-index: 999;
}

.header-menu__right__item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    list-style-type: none;
}

.header-menu__right__item.list--order-button {
    -webkit-align-items: center;
    align-items: center;
}

a.header-menu__right__item__anchor {
    text-align: center;
    width: 32px;
    padding: 16px 0;
    vertical-align: middle;
    position: relative;
}

.header-menu__right__item__anchor__icon.fa {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size:18px;
    color: white;
    text-align: center;
}

.header-menu__right__item.list--my-menu .header-menu__right__item__anchor {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 13px 5px;
    width: 45px;
}
.header-menu__right__item.list--my-menu .header-profile-icon__figure {
    width: 24px;
}

.header-menu__right__item.list--my-menu .header-profile-icon .fa {
    font-size: 8px;
    margin-left: 6px;
    margin-right: 0;
    color: white;
}

.header-menu__right .notification-count {
    background-color: #DC5C3F;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 700;
    line-height: 15px;
    padding: 0 5px;
    position: absolute;
    right: -3px;
    top: 10px;
    z-index: 2;
}

.header-menu__right__item.list--order-button .c-btn.btn--headermenu {
    font-size: 12px;
    margin-top: 0;
    margin-left: 10px;
    padding: 6px 10px;
}

/* noscript等アラート
========================================== */
.ljp-headAlert{
  width: 100%;
  font-size: 12px;
}
.ljp-headAlert__content{
  padding: 5px;
  display:block;
  text-align: center;
  border-bottom: 1px solid rgb(237, 237, 0);
  background: none repeat scroll 0px 0px rgb(255, 255, 0);
}


/* ヘッダポップアップ */
.header-popup {
    border-radius: 3px;
    width: 280px;
    position: absolute;
    background-color: #fff;
    top: 45px;
    right: 132px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    font-size: 12px;
    display: none;
}
.header-popup:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -6px;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #FFF transparent;
}
.header-popup--help:before{
    right: 12px;
}
.header-popup--important:before{
    right: 45px;
}
.header-popup--message:before{
    right: 75px;
}
.header-popup--my-menu:before{
    right: 120px;
}

/* ヘッダポップアップ 共通 エレメント */
.header-popup a:hover {
    background-color: #f2f9ff;
    text-decoration: none;
}

.header-popup__list {
    padding: 5px 0;
}

.header-popup__list__item {
    list-style: none;
}

.header-popup__list__item--loader,
.header-popup__list__item--no-data {
    margin: 10px;
    color: #666;
    text-align: center;
}

.header-popup__list__item__anchor {
    display: block;
    padding: 4px 10px;
}

.header-popup__heading {
    font-weight: bold;
    border-bottom: 1px solid #E9E9E9;
    padding: 5px 10px 3px;
}

.header-popup__bottom {
    background-color: #F2F2F2;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.header-popup__bottom__anchor {
    display: block;
    padding: 5px 10px;
    font-size: 11px;
}
.header-popup__bottom__anchor.anchor--left{
    float: left;
}
.header-popup__bottom__anchor.anchor--right{
    float: right;
}

/* ヘッダポップアップ マイメニュー */
.header-popup--my-menu .header-popup__heading {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: left;
    align-items: left;
    padding: 10px;
    border-radius: 3px 3px 0 0;/* hover時の角丸対策 */
    overflow: hidden;/* hover時の角丸対策 */
}
.my-menu__thumb {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.my-menu__thumb__img {
    width: auto;
    max-width: 40px;
    height: auto;
    max-height: 40px;
    margin: auto;
}

.my-menu__thumbnail:hover {
    opacity: 0.7;
}
.my-menu__profile__name {
    font-size: 13px;
    margin-bottom: 0;/* 旧レイアウト対策 */
}
.my-menu__profile__txt {
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 0;/* 旧レイアウト対策 */
}

.header-popup--my-menu .header-popup__bottom{
    background: none;
    border-top: 1px solid #E9E9E9;
    font-size: 11px;
}

/* ヘッダポップアップ 共通 アクティビティメッセージ */
.item--message {
    cursor: pointer;
}
.item--message + .item--message {
    border-top: 1px solid #F2F2F2;
}
.anchor-message--not-opend {
    background-color: #f2f9ff;
}
.anchor-message__icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.anchor-message__content {
    line-height: 1.5;
    margin: 0;
}
.anchor-message__content strong {
    background-color: transparent;/* 旧レイアウトcssの打ち消し */
}
.anchor-message__timestamp {
    font-size: 10px;
    color: #aaa;
}

/* ヘッダポップアップ メッセージ */
.header-popup--message .header-popup__bottom__anchor.anchor--left{
    font-weight: bold;
}

/* ヘッダポップアップ お知らせ */
.header-popup--important .header-popup__bottom__anchor{
    text-align: center;
}

/* ヘッダポップアップ ヘルプ */
.header-popup--help {
    width: 180px;
}
.item--search-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    width: 90%;
    margin: 5px 5%;
    padding: 0 5px;
    line-height: 2.0;
    position: relative;
}
.item--search-box__txtbox {
    border: medium none;
    width: 90%;
}
.item--search-box__txtbox::-ms-clear {
    display: none;
}

.item--search-box__submit {
    position: absolute;
    border: none;
    background: none;
    width: 10%;
    height: 2.0em;
    z-index: 102;
}
.item--search-box__submit + .fa {
    color: #aaa;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
    z-index: 101;
}

/* スマートデバイス用ナビゲーションボタン */
.ljp-header__btn {
    display: none;
    border: none;
    width: 70px;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    padding: 12px;
    position: relative;
    outline: none;
    z-index: 999;
    transition: all 0.4s;
}
.ljp-header__btn .ljp-header__btn__icon {
    display: block;
    width: 24px;
    height: 19px;
    margin: auto;
    position: relative;
}
.ljp-header__btn .ljp-header__btn__icon::before,
.ljp-header__btn .ljp-header__btn__icon::after {
    content: "";
    display: block;
    position: absolute;
}
.ljp-header__btn .ljp-header__btn__icon::before {
    width: 24px;
    height: 3px;
}
.ljp-header__btn .ljp-header__btn__icon::after {
    width: 24px;
    height: 3px;
    bottom: 0;
}

.ljp-header--logged-in .ljp-header__btn .ljp-header__btn__icon::before {
    background-color: #fff;
    box-shadow: 0 8px 0 #fff;
}
.ljp-header--logged-in .ljp-header__btn .ljp-header__btn__icon::after {
    background-color: #fff;
}

.ljp-header--no-login .ljp-header__btn .ljp-header__btn__icon::before {
    background-color: #0268cc;
    box-shadow: 0 8px 0 #0268cc;
}
.ljp-header--no-login .ljp-header__btn .ljp-header__btn__icon::after {
    background-color: #0268cc;
}



.ljp-header--logged-in .ljp-header__btn--open {
    background-color: rgba(255,255,255,0.2);
}
.ljp-header--no-login .ljp-header__btn--open {
    background-color: rgba(240,248,255,1.0);
}

.ljp-header__btn .ljp-header__btn__label {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin: 4px -10px 0;
}
.ljp-header--logged-in .ljp-header__btn .ljp-header__btn__label {
    color: #fff;
}
.ljp-header--no-login .ljp-header__btn .ljp-header__btn__label {
    color: #0268cc;
}

.header-menu__right__item__label {
    display: none;
    color: #fff;
    font-size: 10px;
}



/* Minimum Header (未ログインヘッダーの追従ヘッダー)
========================================== */
#minHeader {
    font-size:91%;
    background: none repeat scroll 0 0 #2c5da2;
    height: 40px;
    left: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    display: none;
    background-color:#0268CC;
}

.frametype-respond #minHeader {
    display: none !important;
}

#minHeader p {
    margin: 0;
}
#minHeader #mHinner {
    margin: 0 auto 0;
    text-align: center;
    width: 950px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
#minHeader #mHinner .logo img{
    vertical-align: top;
}
#minHeader #mHinner .logo:hover {
    opacity:0.7;
}
#minHeader .minHeader-ul {
    margin-left: auto;
}
#minHeader .minHeader-ul li {
    margin: 10px 0;
    display: inline-block;
    list-style: none;
}
#minHeader .minHeader-ul li + li {
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left:12px;
    margin-left: 12px;
}
#minHeader .minHeader-ul li:last-child {
    border-left: none;
    padding-left: 0;
}
#minHeader .minHeader-ul li a{
    font-size: 12px;
    color:#FFF;
    text-decoration:none;
}
#minHeader .minHeader-ul li a:hover{
    text-decoration:underline;
}
#minHeader .minHeader-ul li a.btngreen{
    font-weight:bold;
    background:#79ba38;
    padding:6px 12px;
    border-radius:3px;
    border-bottom:1px solid #638400;
    text-shadow:0px 2px 0px #5fa619;
}
#minHeader .minHeader-ul li a.btngreen:hover{
    text-decoration:none !important;
    background:#71ad34;
}
#minHeader .minHeader-ul li a.btngreen:active{
    position:relative;
    top:1px;
    border: none;
}

/* Footer
========================================== */

#footer {
  background: #0268cc;
  clear: both;
  margin-top: 40px;
}
#footer.footer-no-navigation {
  padding: 40px 0;
}
#frametype-simple #footer {
  margin-top: 0;
  padding: 0;
}

#footer.ljp-footer,
#footer.ljp-footer a,
#footer.ljp-footer--no-navigation{
  color:#fff;
  text-decoration:none;
}
#footer.ljp-footer a:hover {
  text-decoration:underline;
}
#footer .ljp-footer__bnr{
  background: #99b9da;
  border-top: 2px solid #7d98b3;
  border-bottom: 1px solid #add2f7;
  padding: 20px 0;
}
#footer .ljp-footer__bnr__list{
  display: -webkit-flex;
  display: flex;
}
#footer .ljp-footer__bnr__list > *:first-child{
  margin-left: 0;
}
#footer .ljp-footer__bnr__list__item{
  margin-left:12.5px;
  list-style: none;
}
#footer .ljp-footer__bnr__list__item__anchor:hover{
  opacity: 0.7;
}

#footer .ljp-footer__nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom:1px solid #025db7;
  padding: 40px 0 20px;
}
#footer .ljp-footer__nav__item {
    max-width: 220px;
    margin-left: 40px;
}
#footer .ljp-footer__nav__item:first-child {
    margin-left: 0;
}
#footer .ljp-footer__nav__item > *:first-child {
    margin-top: 0;
}
#footer .ljp-footer__nav__list {
  position: relative;
  line-height:27px;
  margin-top: 20px;
}
#footer .ljp-footer__nav__list__title{
  position: relative;
  font-weight:bold;
  font-size:13px;
  padding-left:16px;
  letter-spacing:1px;
}
#footer .ljp-footer__nav__list__title::before,
#footer .ljp-footer__nav__list__title::after{
  font-size: 10px;
  position: absolute;
  left: 0;
  top:2px;
}
#footer .ljp-footer__nav__list__title::before{
  content: "●";
}
#footer .ljp-footer__nav__list__title::after{
  content: "・";
  color: #0268cc;
}
#footer .ljp-footer__nav__list__description{
}
#footer .ljp-footer__nav__list__child {
    list-style: none;
    font-size: 11.5px;
    margin: 0;
    padding-left: 16px;
}
#footer .ljp-footer__nav__list__child__item:before {
  content: "・";
  left: 0;
  position: absolute;
}
#footer .ljp-footer__bottom__copyright {
  display:block;
  font-size: 10px;
  text-align:center;
  padding:40px 0;
}
.ljp-footer__bottom__copyright__copy,
.ljp-footer__bottom__copyright__description {
    display: inline-block;
}

#footer .ljp-footer__ssl-certificate img {
  margin: 5px 0 0 18px;
}

#footer.footer-no-navigation {
  background:#0268cc;
  margin-top: 40px;
  padding: 40px 0;
}
#footer.footer-no-navigation .copyright {
  color: #FFF;
  font-size: 77%;
  text-align: center;
}


/* Others
========================================== */
.layout--login {
    padding-top: 50px;
}

.inner {
    text-align: left;
    margin: 0 auto;
    width: 950px;
}

/* 1220px以下で検索ボックス非表示 */
@media screen and (max-width: 1135px) {
    .ljp-header__search { display: none; }
}

/* モバイルでPC版サイトを見たとき用の指定 */
@media screen and (max-width: 768px) {
    #footer .ljp-footer__bottom__copyright{padding: 20px;}
}
