@charset "utf-8";
/* CSS Document */

/* ===============================================
  トップページ [ .home ]
================================================== */

/* ===============================================
  [Layout]
================================================== */
.column-left {float: left;}
.column-right {float: right;}
#news{background:#f8f8f1;}

/* ===============================================
  [Module]
================================================== */
/* --------------------------------------------------
  1. SERVICE_INFO-AREA
-------------------------------------------------- */
#serviceInfo #mainCategories {
  font-size: 0.9em;
  background-color: #3C94EC;
  color: #fff;
  padding : 5px 0;
  height: 68px;
  overflow: hidden;
  border-bottom: 2px #217DD9 solid;
}
#serviceInfo #mainCategories strong {
  display: block;
  padding: 13px 5px;
  margin-top: 3px;
}
#serviceInfo #mainCategories a {
  color: #fff;
}
#serviceInfo #mainCategories a:link,
#serviceInfo #mainCategories a:hover,
#serviceInfo #mainCategories a:active {
  text-decoration: none;
}
#serviceInfo #mainCategories ul {
  margin: 0 20px
}
#serviceInfo #mainCategories ul li {
  color: #fff;
  display: block;
  float: left;
  margin: 0 10px;
  -moz-transition: margin-top 200ms;
  -webkit-transition: margin-top 200ms;
  -o-transition: margin-top 200ms;
  transition: margin-top 200ms;
  text-align: center;
}
#serviceInfo #mainCategories ul li:hover {
  margin-top: -8px;
}
#serviceInfo #mainCategories #registerButton {
  margin: -2px;
  background-color: #2B82D9;
  border-radius: 4px;
}
#serviceInfo #mainCategories #iconList {
  margin-top: 17px;
}
#serviceInfo #mainCategories #buttonSpace .button {
  font-size: 125%;
  padding: 5px 22px 6px;
}

/* 注目リンク */
#serviceInfo div.featured-top-links {
  margin-top: 35px;
}
#serviceInfo div.featured-top-links ul,
#serviceInfo div.featured-top-links li {
  display: inline-block;
}
#serviceInfo div.featured-top-links li {
  font-size: 13px;
  margin-left: 10px;
}
#serviceInfo div.featured-top-links li:first-child {
  margin-left: 0;
}

/* --------------------------------------------------
  TIEUP-AREA
-------------------------------------------------- */
#tieUp {
  padding-top: 20px;
}
#tieUp .bx-wrapper {
  margin: 0 auto 30px;
}
#tieUp .bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  margin: 0 auto;
}
#tieUp .bx-wrapper .bx-prev {
  background-image: url("/renewal/img/home/slider_controls.png");
  left: -50px;
  z-index: 1;
}
#tieUp .bx-wrapper .bx-next {
  background-image: url("/renewal/img/home/slider_controls.png");
  right: -40px;
  z-index: 1;
}
#tieUp ul {
  width: 950px;
  height: 120px;
  overflow: hidden;
}
#tieup ul li {
  position: absolute;
  top: 0;
  left: 0;
}

/* --------------------------------------------------
  2. WORK_LIST-AREA
-------------------------------------------------- */
#workLists {
  background: #f5f5ed;
  padding: 20px 0 20px 0;
}
#workLists header {
  margin: 10px 0;
}
#workLists header span,
#workLists header h2 {
  display: inline;
}
#workLists .listTitle {
  background-color: #0268CC;
  color: #fff;
  padding: 6px 20px 4px;
  border-radius: 3px;
}
#workLists section.work-list {
  padding-bottom: 20px;
}
#workLists .work-feature-banner {
  margin-bottom: 30px;
}
#workLists .column-left,
#workLists .column-right {
  width: 460px;
}
#workLists .column-left {
  margin-right: 10px;
}
#workLists .column-right {
  margin-left: 10px;
}
#workLists #buttonMore {
  margin-top: 20px;
  text-align: center;
}
.work-list .work {
  background: #fff;
  border-bottom: 1px #e0e0e0 solid;
  border-radius: 3px;
  padding: 15px 20px;
  margin: 10px 0;
}
.work-list .work:last-child {
  border-bottom: none;
}
.work-list .work .work-icon {
  float: left;
  display: block;
  margin-right: 10px;
}
.work-list .work .title {
  color: #0e498c;
  margin-left: 46px;
  font-size: 15px;
}
.work-list .work .title .new img {
  vertical-align: baseline;
}
.work-list .work .details {
  margin-left: 56px;
  margin-top: 10px;
  font-size: 90%;
}
.work-list .work .details span.type,
.work-list .work .details span.price,
.work-list .work .details span.deadline {
  margin: 0 3px;
}
.work-list .work .details span.pipe {
  color: #999;
  margin: 0;
}
.work-list .work .category {
  font-size: 10px;
  margin-bottom: 5px;
}
.work-list .work .category span a {
  color: #a0a0a0;
  margin: 0 3px;
}
.work-list .work .type img {
  vertical-align: -4px;
}
.work-list .work .type.competition {
  background-color: #edffdd;
  border-color: #489701;
  color: #489701;
}
.work-list .work .type.project {
  background-color: #fbecf1;
  border-color: #d53166;
  color: #d53166;
}
.work-list .work .type.task {
  background-color: #f4faff;
  border-color: #0268cc;
  color: #0268cc;
}
.work-list .work .price {
  color: #ff0000;
  font-weight: bold;
}
.work-list .work .price .taskUnit{
  color: #5e5e5e;
}
.work-list .work .proposals {
  color: #5e5e5e;
}
.work-list .work .proposals a {
  font-weight: bold;
}
.work-list .work .proposals span {
  margin: 0 5px;
}
.work-list .work .deadline {
  color: #5e5e5e;
}
.work-list .work .deadline a {
  font-weight: bold;
}
.work-list .work .deadline a.soon {
  color: #ff0000;
}
.work-list .work .deadline a.end {
  color: #ff0000;
}

/* --------------------------------------------------
  0. Categories
-------------------------------------------------- */
#categories {
  padding: 20px 0 20px 0;
}
#categories .work_list {
  margin-bottom: 37px;
}
#categories section.cate_job {
  padding-top:10px;
}
#categories .work_list .hgroup h2 {
  margin-right: -1px;
}
#categories dl {
  width: 308px;
  float: left;
  padding: 10px 0px 0px 13px;
  margin: 0 0 15px;
 }
#categories dl.cate_left {
  margin-left:-13px;
}
#categories dl .icon {
  float: left;
}
#categories dl a.link_category {
  text-decoration:none;
}
#categories dl dt span {
  font-size: 0.7em;
}
#categories dl span {
  color: #808080;
  font-size: 0.9em;
}
#categories dt {
  font-weight: bold;
  width:308px;
  height:63px;
}
#categories dt h4 {
  line-height:1.2em;
  display:inline-block;
  margin:9px 0 0 5px;
  width:200px;
}
#categories dt img.category_box_arrow {
  position: relative;
  right: 242px;
  top: 47px;
}
#categories dd {
  margin-top: -7px;
  background-color: #f7f7ed;
  border-radius: 4px;
  padding: 10px 15px;
}

/*カテゴリ数に合わせて高さを設定*/
#categories dd.list-4 {
  height: 95px;
}
#categories dd.list-6 {
  height: 135px;
}
#categories dd.list-8 {
  height: 180px;
}
#categories ul.categories_topic {
  margin-bottom: 37px;
  background-color: #f7f7ed;
  border-radius: 4px;
  padding: 10px 0;
  overflow: hidden; /* clearfix */
  zoom: 1;
}
#categories ul.categories_topic li {
  float: left;
  margin-left: 15px;
  font-size: 0.8em;
}
#categories ul.categories_job {
  margin-bottom: 37px;
  overflow: hidden; /* clearfix */
  zoom: 1;
}
#categories ul.categories_job li {
  position:relative;
  font-size:12px;
  float:left;
  width:250px;
  line-height:2em;
}
#categories span.work-count {
  font-size: 0.7em;
  color: #808080;
}
.joblist {
  margin-left:100px;
}
#categories .work li {
  margin: 8px 0;
}
#categories header {
  margin: 10px 0;
}
#categories #buttonMoreCategory {
  padding: 10px 0 0;
  text-align: center;
}

/* --------------------------------------------------
  0. Beginners
-------------------------------------------------- */
#beginners .hgroup {
  margin-top: 50px;
  padding-bottom:3px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 #fff;
}
#beginners .beginners_list {
  overflow: hidden;
  margin-left: -50px;
}
#beginners .beginners_list .beginners_list_item {
  width: 280px;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-left: 50px;
}
#beginners .beginners_list .beginners_list_item .beginners_img {
  width: 280px;
  height: 110px;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
#beginners .beginners_list .beginners_list_item .beginners_img a {
  display: inline-block;
}
#beginners .beginners_list .beginners_list_item .beginners_heading {
  text-align: center;
  margin-top: 28px;
}
#beginners .beginners_list .beginners_list_item .beginners_text {
  margin-top: 20px;
}
#beginners .more {
  text-align: right;
}
#beginners .more_link {
  font-size: 12px;
  font-weight: bold;
}

/* --------------------------------------------------
  0. Portfolio
-------------------------------------------------- */
#portfolio {
  margin-top:35px;
  padding: 20px 0;
  background:url(/renewal/img/home/bg_portfolio.gif?v=1.1) repeat;
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
#portfolio .img-area {
}
#portfolio .img-area .hgroup {
  margin-bottom: 10px;
}
#portfolio .img-area .slider {
  margin-top: 18px;
}
#portfolioSlider .flex-viewport {
  width: 950px;
  margin: 0 auto;
}
#portfolioSlider ul li {
  position: relative;
}
#portfolioSlider ul.slides li a {
  width: 150px;
  height: 150px;
  background: #f7f7f0;
  border-bottom: 1px solid #ccc;
  display: table;
}
#portfolioSlider ul.slides li a span {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
#portfolioSlider ul.slides li a:hover {
  background: #fff;
  border-bottom: none;
  border-top: 1px solid #ddd;
}
#portfolio .more-links {
  margin-top: 10px;
  text-align: right;
}
.proposal-award-icon {
  background: transparent url(/img/icon/award.png) top left no-repeat;
  height: 34px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 21px;
}

/* --------------------------------------------------
  0. Ad
-------------------------------------------------- */
section.ad .lancers-ad a {
  display: block;
  margin: 25px 0;
}

/* --------------------------------------------------
  0. How to use
-------------------------------------------------- */
#how-to-use {
  background-color: #f2f5fa;
  padding: 40px 0;
}
#how-to-use .how-to-use {
  margin-top: 15px;
}
#how-to-use .flow-lancer,
#how-to-use .flow-client {
  background-color: #fff;
  width: 450px;
  padding-bottom: 25px;
  border-bottom: 2px solid #DBDADB;
}
#how-to-use .flow-lancer h3,
#how-to-use .flow-client h3 {
  border-radius: 3px 3px 0 0;
  background-color: #8ED496;
  border-bottom: 2px solid #6DC278;
  color: #fff;
  font-size: 110%;
  font-weight: bold;
  padding: 10px 0 3px 20px;
}
#how-to-use .flow-lancer h3 {
  background-color: #9BC3E6;
  border-bottom: 2px solid #83B0D9;
}
#how-to-use section ul {
  margin: 25px 20px 20px 25px;
}
#how-to-use section ul li {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  position: relative;
}
#how-to-use section ul li:first-child {
  padding-top: 0;
}
#how-to-use section ul li:last-child {
  border: none;
}
#how-to-use section ul li p {
  margin: 15px;
  font-size: 95%;
  color: #666;
}
#how-to-use section .flow-list {
  margin: 25px 20px 20px 25px;
}
#how-to-use section .flow-list li {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  padding-right: 127px;
  padding-top: 20px;
  position: relative;
}
#how-to-use section .flow-list li:first-child {
  padding-top: 0;
}
#how-to-use section .flow-list li:last-child {
  border: medium none;
}
#how-to-use section .flow-list li p {
  color: #666;
  font-size: 95%;
  margin: 15px;
}
#how-to-use .flow-list li::after {
  background-color: transparent;
  background-image: url("/renewal/img/home/flow_img_1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  display: block;
  height: 110px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 128px;
}
#how-to-use .flow-client .flow-list .flow-item1::after {
  background-position: 0 0;
}
#how-to-use .flow-client .flow-list .flow-item2::after {
  background-position: 0 -110px;
}
#how-to-use .flow-client .flow-list .flow-item3::after {
  background-position: 0 -220px;
}
#how-to-use .flow-lancer .flow-list .flow-item1::after {
  background-position: -128px 0;
}
#how-to-use .flow-lancer .flow-list .flow-item2::after {
  background-position: -128px -110px;
}
#how-to-use .flow-lancer .flow-list .flow-item3::after {
  background-position: 0 -220px;
}
#how-to-use section .guide-link {
  text-align: center;
}
#how-to-use section .guide-link .button.blue,
#how-to-use section .guide-link .button.green {
  padding-left: 0;
  padding-right: 0;
  width: 350px;
}
#how-to-use section .guide-link .button.blue .fa,
#how-to-use section .guide-link .button.green .fa{
  border: 2px solid #fff;
  border-radius: 12px;
  display: inline-block;
  font-size: 13px;
  padding: 1px 4px 1px 6px;
  vertical-align: middle;
}
#how-to-use .flow-heading {
  font-size: 142%;
  color: #666666;
  vertical-align: middle;
}
#how-to-use .flow-heading .flow-num {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  color: #fff;
  font-size: 78.6%;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
}
#how-to-use .flow-lancer .flow-num {
  background-color: #9ac2e5;
}
#how-to-use .flow-client .flow-num {
  background-color: #8dd69a;
}

/* --------------------------------------------------
  0. Voice
-------------------------------------------------- */
#voiceArea {
  padding: 40px 0;
}
#voiceArea .more-links {
  margin: 20px auto 0;
  width: 500px;
}
#voiceArea .more-links a {
  margin-right: 10px;
}

/* 0. Post
========================================== */
#voiceArea .case {
  clear: both;
}
.ie6 #voiceArea section {
  display:inline;
}
#voiceArea .company-case {
  margin-top: 15px;
}
#voiceArea .lancer-case {
  margin-top: 40px;
}
#voiceArea .case .case__heading {
  display: inline-block;
  padding: 4px 12px 3px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
}
#voiceArea .company-case .case__heading {
  background: #5ca611;
}
#voiceArea .lancer-case .case__heading {
  background: #2f97ec;
}
#voiceArea .case .case__heading__sub {
  display: inline-block;
  margin-left: 10px;
  font-size: 11px;
  line-height: 1.6;
  vertical-align: middle;
  letter-spacing: -0.03em
}
#voiceArea .article-group {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden; /* clearfix */
  zoom: 1;
  margin-top: 20px;
}
#voiceArea .article-group > *:first-child {
  margin-left: 0;
}
#voiceArea article {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
}
#voiceArea article:hover {
  background: #f2f5fa;
  border-color: #c3d4e5;
}
#voiceArea article > a {
  text-decoration: none;
}
#voiceArea .case-thumbnail {
  display: block;
  width: 100%;
}
#voiceArea article:hover .case-thumbnail {
  opacity: 0.7;
}
#voiceArea .case .case-sup {
  font-size: 11px;
  font-weight: bold;
  margin: 15px 0 0;
  padding: 0 15px;
}
#voiceArea .case-title {
  padding: 4px 15px 15px;
}
#voiceArea .case-title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  color: #000;
  text-decoration: none;
  word-break: normal;
  word-wrap: break-word;
}
#voiceArea .case-txt {
  padding: 0 15px;
  font-size: 12px;
  line-height: 1.6;
  color: #8d8d8d;
  word-break: normal;
  word-wrap: break-word;
}
#voiceArea .case-link {
  padding-bottom: 10px;
  padding-right: 20px;
  text-align: right;
  font-size: 12px;
}
#voiceArea .company-case .case__heading__sub,
#voiceArea .company-case .case-sup,
#voiceArea .company-case .case-link {
  color: #5ca611;
}
#voiceArea .lancer-case .case__heading__sub,
#voiceArea .lancer-case .case-sup,
#voiceArea .lancer-case .case-link {
  color: #2f97ec;
}

/* --------------------------------------------------
  0. media
-------------------------------------------------- */
#cooperation section {
  margin: 20px 0 45px 0;
}
#cooperation #corp header {
  border-bottom: 1px solid #dddddd;
  margin-top: 50px;
}
#corp .corp-use,
#corp .media {
  margin-top:40px;
  margin-top:42px;
}
#corp .voice-media {
  clear:both;
  padding-top:15px;
}
#corp .corp-use h4,
#corp .media h4 {
  display:inline-block;
  font-size:131%;
  margin-bottom:10px;
}
#corp .corp-use p {
  margin-top: 20px;
}
#corp .media span,
#corp .corp-use span {
  color: #808080;
  margin-left: 20px;
}
#corp .more-links {
  margin-top:14px;
}
#corp .media ul li {
  float:left;
  width:220px;
  margin-left:20px;
  border-radius:2px;
}
#corp .media ul li.media_first {
  margin-left:0;
}
#corp .media ul li p {
  font-size:12px;
  text-align:center;
  margin-top:3px;
}
#corp .media ul li .media_news_img {
  height:80px;
  width:220px;
  display:table;
}
#corp .media ul li .media_news_img p {
  display:table-cell;
  vertical-align:middle;
}
#corp .media ul li .media_news_img img {
  margin-top:10px;
}
#corp .media ul li a {
  border:1px solid #ddd;
  display:block;
  min-height:150px;
}
#corp .media ul li a:hover {
  border:1px solid #0268cc;
  text-decoration:underline;
}

/* --------------------------------------------------
  1. footer-sub
-------------------------------------------------- */

/* 0. Layout
========================================== */
#footer-sub {
  background: #f5f5ed;
  padding:30px 0 0;
  border-top: 1px solid #CCCCCC;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}
#footer-sub section {
  float:left;
  width:460px;
}
#footer-sub section.explanation {
  clear: both;
  width: 950px;
  padding-top: 20px;
  padding-bottom: 40px;
}
#footer-sub section.feature-crowdsourcing {
  clear: both;
  float: none;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff;
}
.ie6 #footer-sub section {
  display:inline;
}

/* 0. Headline
========================================== */
#footer-sub .hgroup {
  padding-bottom:3px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 #fff;
}
#footer-sub .hgroup h3 {
  font-size:131%;
  font-weight:bold;
}
#footer-sub .hgroup span {
  float:right;
}

/* 0. News
========================================== */
#footer-sub section.news {
  margin-right:30px;
}
#footer-sub section.news .more-links {
  font-size: 90%;
}
#footer-sub section.news .hgroup span {
  margin-top:4px;
  font-size:93%;
}
#footer-sub section.news .hgroup span img {
  vertical-align: middle;
}

/* .post */
#footer-sub section ul.posts {
  margin-top:14px;
}
#footer-sub section ul.posts li {
  margin-bottom:10px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 10px;
  padding-left: 5px;
}
#footer-sub section ul.posts time {
  color: #808080;
  float: left;
  font-size: 77%;
  width: 95px;
  margin-top: 2px;
}
#footer-sub section ul.posts h4 {
  color: #3F80CB;
  font-size: 90%;
  font-weight: normal;
}
#footer-sub .stuff-feature-work {
}
#footer-sub .stuff-feature-work .work-list li.work {
  margin: 0;
  padding-left: 5px;
}
#footer-sub .stuff-feature-work .work-list .work .title {
  margin-left: 0;
  font-size: 90%;
}
#footer-sub .stuff-feature-work .work-list .work .type {
  margin-left: 5px;
}
#footer-sub .stuff-feature-work .work-list .work .price,
#footer-sub .stuff-feature-work .work-list .work .proposal_count {
  font-size: 90%;
  margin-left: 5px;
}

/* 0. SNS Btn
========================================== */
#footer-sub section ul.btn-sns {
  margin-top:20px;
}
#footer-sub section ul.btn-sns li {
  float:left;
  margin-right:12px;
}
.ie6 #footer-sub section ul.btn-sns li {
  display:inline;
}
#footer-sub section ul.btn-sns li:last-child {
  margin-right:0;
}
footer#footer {
  margin-top: 0;
}
#portfolioSlider .bxslider {
  height: 190px;
}

/* 0. Explanation
========================================== */
#footer-sub section.explanation {
  border-bottom: 1px solid #E0E0E0;
}
#footer-sub section.explanation h2 {
  font-size: 1.3em;
}
#footer-sub section.explanation p {
  color: #808080;
  padding-top: 20px;
  font-size: 0.99em;
}
#footer-sub section.explanation .magazine {
  float: right;
  width: 200px;
  margin-bottom: 10px;
}
.more-links-top {
  clear: both;
  margin-top: 10px;
}

/* 0. Feature Crowdsourcing
========================================== */
#footer-sub section.feature-crowdsourcing .hgroup {
  background: none;
}
#footer-sub section.feature-crowdsourcing h2 {
  float: none;
  font-size: 1.3em;
}
#footer-sub section.feature-crowdsourcing .hgroup span {
  float: none;
  margin-left: 23px;
  font-size: 0.9em;
}
#footer-sub section.feature-crowdsourcing .article_group {
  overflow: hidden; /* clearfix */
  zoom: 1;
  padding-top: 20px;
  padding-bottom: 10px;
}
#footer-sub section.feature-crowdsourcing .article {
  float: left;
  margin-right: 30px;
}
#footer-sub section.feature-crowdsourcing .article dt {
  float: left;
  margin-right: 9px;
}
#footer-sub section.feature-crowdsourcing .article dt img {
  border: 1px solid #cdcdcd;
}
#footer-sub section.feature-crowdsourcing .article dd {
  float: left;
  width: 168px;
  font-size: 14px;
  word-break: normal;
  word-wrap: break-word;
}
#footer-sub section.feature-crowdsourcing .article dd a {
  word-break: normal;
  word-wrap: break-word;
}
#footer-sub section.feature-crowdsourcing .article:last-of-type {
  margin-right: 0;
}
#footer-sub section.feature-crowdsourcing .inner.more-links.top {
  margin-top: 15px;
}
#footer-sub .fb-page {
  margin-top: 10px;
}

/* 0. Carousel (flexslider)
========================================== */
#carousel {
  background:#f0f7fc;
  width: 100%;
}
#carousel .flex-viewport {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
}
#carousel .flex-viewport li {
  position: relative;
  cursor: pointer;
}
#carousel .flex-viewport li p {
  margin:20px 12px 20px 2px;
  background: #fff;
  border:1px solid #ccc;
}
#carousel .flex-viewport li span.copy {
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  display: block;
  padding: 5px 0;
  font-size: 11px;
}
#carousel li.flex-active-slide p {
  border: 3px solid #3c94ec;
  margin: 18px 10px 18px 0;
}
#carousel li.flex-active-slide p:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 40%;
  display: block;
  width: 27px;
  height: 12px;
  background: url(/renewal/img/home/carousel_balloon.png?v=1.0) 0 0 no-repeat scroll;
}
#carousel li p,
#carousel li img {
  width: 120px;
}
#carousel li img:hover {
  opacity: .5;
}

/* --------------------------------------------------
  0. Slider (flexslider)
-------------------------------------------------- */
#slider {
  height: 400px;
  overflow: hidden;
}
#slider .slides > li {
  height: 400px;
  overflow: hidden;/* 画面幅小さいと溢れる件対応 #6481 */
}
.content-frame {
  height:400px;
  width:950px;
  display:block;
  margin:0 auto;
  position:relative;
}
.button:active {
  border-bottom: none;
  margin-top: 5px;
  text-decoration: none !important;
}
.button.red:hover {
  background-color: #D15E41;
}
.button.gold {
  background-color: #9f8a54;
  border-top-color: #b3a277;
  border-bottom: #76653e;
  padding: 14px 55px;
  color: #FFF;
  text-decoration: none;
}
.button.green {
  border-bottom: 1px solid #599c17;
}

/**
 * 選べる仕事は全xxxカテゴリ
 */
.banner-2 {
  background: #fff url(/renewal/img/home/banner_2.png?v=1.0) top left repeat;
}
.banner-2__content {
  padding-top: 30px;
}
.banner-2__left {
  background-color: #8FC75A;
  float: left;
  margin-left: 25px;
  padding: 10px 15px;
  width: 340px;
}
.banner-2__heading {
  font-size: 2.8em;
  color: #fef200;
}
.banner-2__text {
  color: #48741f;
  font-size: 1.1em;
  line-height: 2;
}
.banner-2__right {
  float: right;
}
.banner-2__img {
  margin-right: 40px;
}

/**
 * クラウドソーシング「ランサーズ」とは？
 */
.banner-3 {
  background: #fff url(/renewal/img/home/banner_3.png?v=1.0) top left repeat;
}
.banner-3__content {
  padding-top: 20px;
}
.banner-3__left {
  float: left;
  width: 390px;
  margin: 30px 0 0 40px;
}
.banner-3__title {
  font-size: 2.8em;
}
.banner-3__subtitle {
  color: #5Ca810;
}
.banner-3__text {
  color: #7F6C31;
  font-size:0.9em;
  line-height:1.6em;
  margin: 10px 20px 0 0;
}
.banner-3__right {
  float: right;
}
.banner-3__movie {
  background: url(/renewal/img/home/banner_3_display.gif?v=1.0) no-repeat;
  width: 483px;
  height: 360px;
  padding: 20px 0 0 17px;
}

/**
 * 日本最大級のクラウドソーシング　佐藤 有希子さん
 */
.banner-7 {
  background: url(/renewal/img/home/banner_default.jpg?v=1.0) no-repeat scroll 50% -50px #FFF;
  margin: 0 auto;
  overflow: hidden;
  height: 400px;
}
.banner-7__content {
  margin: 30px auto 0;
}
.banner-7__lefter {
  position: absolute;
  bottom: 60px;
}
.banner-7__profile {
  margin-left: 20px;
  text-shadow: 0 0 7px rgba(255,255,255,1);
}
.banner-7__profile__title {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}
.banner-7__profile__text {
  font-size: 0.9em;
  line-height: 1.5;
}
.banner-7__profile__anchor {
  color: #000;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.5em;
  display: inline-block;
}
.banner-7__profile__anchor:hover {
  text-decoration: none;
}
.banner-7__profile__anchor:visited {
  color: #000;
}
.banner-7__righter {
  color: #000;
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 550px;
}
.banner-7__title {
  font-weight: bold;
  font-size: 2.6em;
  color: #FFF;
  text-shadow: 0 1px 2px rgba(0,0,0, 0.5);
}
.banner-7__description {
  font-weight: normal;
  font-size: 1.1em;
  color: #FFF;
  margin: 0 0 13px 0;
  text-shadow: 0 1px 2px rgba(0,0,0, 0.5);
  width: 445px;
}
.banner-7__title,
.banner-7__description {
  color: #000;
  text-shadow: 0 1px 2px rgba(255,255,255, 0.9);
}
.banner-7 .signup_btn {
  margin: 40px 0 30px;
}
.layout--login .banner-7 .signup_btn {
  height: 50px;
  margin: 0 0 55px;
}
.layout--login .banner-7 a.button.green.big {
  height: 50px;
  padding: 20px 12px 0 40px;
  width: 300px;
  border-bottom-width: 4px;
  border-radius: 6px;
  font-size: 1.9em;
  line-height: 1.3em;
  display: block;
  font-weight: bold;
}
.layout--login .banner-7 a.button.big:active {
  position: relative;
  top: 1px;
  border-bottom-width:3px;
}
.banner-7 a.button.big {
  font-size: 1.55em;
  display: inline;
  padding: 16px 41px 14px 44px;
  margin: 0;
  height:50px;
}
.banner-7 a.button.big:active {
  position: relative;
  top: 3px;
  border-bottom-width:1px;
  margin-top: 2px;
}
.banner-7 a.button.yellow {
  margin-right: 15px;
}
.banner-7__statistics__list {
  color: #FFF;
}
.banner-7__statistics__list__item {
  text-align: left;
  vertical-align: middle;
  font-size: 2.5em;
  font-weight: bold;
}
.banner-7__statistics__list__item span {
  font-size: 0.5em;
  font-weight: normal;
  margin: 0 2px;
}

/*
 * ランサーズ for business
 */
.banner-13 {
  background: url(/renewal/img/home/banner_biz_logo.png?v=1.0) no-repeat top center,
    url(/renewal/img/home/banner_biz_bg.jpg?v=1.1) #a0a0a0 no-repeat top center;
}
.banner-13__text {
  padding-top: 160px;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  font-weight: normal;
}
.banner-13__btnWrap {
  width: 300px;
  padding-top: 30px;
  margin: auto;
}
.banner-13__btn {
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-decoration: none;
  width: 300px;
  background:#ffc82c;
  border: none;
  border-radius: 5px;
  color:#333;
  text-decoration:none;
  line-height:45px;
  text-align:center;
}
.banner-13__btn:hover {
  background: #ffc82c;
  height: 50px;
  width: 300px;
}

/*
 * 安心安全なお仕事の場を作るために
 */
.banner-14 {
  background:url(/renewal/img/home/banner_standard.png?v=1.0) no-repeat scroll 50% 0 #eaeaea;
}
.banner-14 * {
  text-align: center;
  margin: 0 auto;
}
.banner-14__title {
  padding-top: 60px;
  font-size: 33px;
  letter-spacing: 1px;
}
.banner-14__subtitle {
  padding-bottom: 105px;
  font-size: 21px;
  color: #0268cc;
}
.banner-14__text {
  color: #666;
}
.banner-14__btnWrap {
  margin-top: 15px;
}
.banner-14__btn {
  display: block;
  width: 200px;
}

/*
 * ビデオ通話
 */
.banner-15 {
  background:url(/renewal/img/home/banner_videotalk.jpg?v=1.0) no-repeat scroll 50% 0 #FFF;
}
.banner-15__heading {
  font-size: 2.5em;
  font-weight: bolder;
  line-height: 1.2;
  left: 600px;
  letter-spacing: -1px;
  position: absolute;
  top: 100px;
}
.banner-15__text {
  color: #737373;
  font-size: 1.1em;
  font-weight: normal;
  left: 600px;
  line-height: 1.2;
  position: absolute;
  top: 200px;
}
.banner-15__btnWrap {
  left: 595px;
  position: absolute;
  top: 275px;
}
.banner-15__btn {
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-decoration: none;
  width: 260px;
}

/**
 * クライアント活用事例
 */
.banner-18 {
  background:url(/renewal/img/home/banner_clientcase.jpg?v=1.0) no-repeat scroll 50% 0 #FFF;
}
.banner-18 * {
  text-align: center;
}
.banner-18__content {
  padding-top: 30px;
}
.banner-18__heading-sub {
  font-size: 18px;
}
.banner-18__heading-main {
  font-size: 33px;
  font-weight: bold;
  line-height: 1;
  margin-top: 10px;
}
.banner-18__img {
  margin-top: 10px;
}
.banner-18__lead {
  color: #666666;
  font-size: 13px;
  margin-top: 16px;
}
.banner-18__btnWrap {
  margin-top: 15px;
}
.banner-18__btn {
  width: 260px;
  height: 50px;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 50px;
  padding: 0;
}

/**
 * コンテンツマーケ(Quant)LP
 */
.banner-20 {
  background: #000 url(/renewal/img/home/banner_quant.jpg?v=1.0) no-repeat top center;
}
.banner-20__logo {
  width: 360px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}
.banner-20__heading,
.banner-20__text {
  font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS P Gothic","ＭＳ Ｐゴシック",helvetica,arial,clean,sans-serif;
}
.banner-20__heading {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  letter-spacing: -1px;
  margin: 30px 0 0;
}
.banner-20__textWrap {
  color: #ccc;
  margin: 15px auto 0;
}
.banner-20__text  {
  text-align: center;
}
.banner-20__btnWrap {
  width: 300px;
  margin: auto;
}
.banner-20__btn.c-btn {
  margin-top: 25px;
  width: 300px;
  background:#0095d9;
  border-top-color: #0095d9;
}
.banner-20__btn.c-btn:hover {
  background-color: #1e50a2;
  border-top-color: #000;
}

/**
 * エリアパートナー
 */
.banner-29 {
  background: #FFF url("/renewal/img/home/banner_lap.jpg?v=2.1") no-repeat center top;
  height: 400px;
}
.banner-29__block {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -170px;
}
a.banner-29__btn {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 340px;
  background: rgba(255,255,255,0.8);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  transition: all 0.4s ease 0s;
}
.banner-29__btn:hover {
  box-shadow: 0 0 5px rgba(255,255,255,1);
  background: rgba(255,255,255,1);
  text-decoration: none;
}

/**
 * kabukuLP 1/26~
 */
.banner-33 {
  background:#f6c621 url(/renewal/img/home/banner_3d.png?v=1.0) no-repeat center top;
  height: 400px;
  position: relative;
}
.banner-33__block {
  display: inline-block;
  position: absolute;
  bottom: 28px;
  right: 23px;
}
.banner-33__btn {
  display: block;
  position: relative;
  background: url(/renewal/img/home/banner_3d_btn.png?v=1.0) no-repeat center top;
  width: 168px;
  height: 168px;
  overflow: hidden;
}
.banner-33__btn:hover {
  background: url(/renewal/img/home/banner_3d_btn_hover.png?v=1.0) no-repeat center top;
  top: 3px;
  left: 3px;
}

/**
* AMEX 再掲載の予定あり
*/
.banner-35 {
  background: url(/renewal/img/home/banner_amex_01.png?v=1.3) no-repeat bottom center,
    url(/renewal/img/home/banner_amex_03.png?v=1.3) repeat top left;
}
.banner-35__title,
.banner-35__service {
  text-align: center;
  letter-spacing: .03em;
}
.banner-35__title {
  color: #002847;
  font-size: 45px;
  line-height: 1;
  padding: 90px 0 5px 20px;
}
.banner-35__service {
  color: #be9551;
  font-family: "游明朝体","Yu Mincho",YuMincho,"ヒラギノ明朝 ProN W3","HiraMinProN-W3","HG明朝E","ＭＳ Ｐ明朝","MS PMincho","MS 明朝",clean,serif;
  font-size: 21px;
  margin-bottom: 10px;
}
.banner-35__img {
  margin: 0 auto;
}
.banner-35__btnWrap {
  margin-top: 15px;
}
.banner-35__btn {
  display: block;
  font-size: 1.2em;
  line-height: 50px;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  height: 50px;
  width: 260px;
}

/**
 * store 3/23~
 */
.banner-36 {
  background: #3793f0 url(/renewal/img/home/banner_store.png?v=1.1) no-repeat top center;
}
.banner-36__text {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: normal;
  padding-top: 150px;
  margin: 0 auto;
}
.banner-36__btnWrap {
  margin-top: 10px;
  text-align: center;
}
.banner-36__btn {
  color: #000!important;
  background: #fff;
  border-top: none;
  border-radius: 3px;
  text-align: center;
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  padding: 0;
  text-decoration: none;
  width: 300px;
}
.banner-36__btn:hover {
  background: #fff;
}

/**
 * インテリジェンス（再掲載の予定あり）
 */
.banner-37 {
  background:url(/renewal/img/home/banner_intelligence.jpg?v=2.0) no-repeat center top #fff;
}
.banner-37__block {
  position: absolute;
  right: 40px;
  bottom: 48px;
}
.banner-37__btn {
  background:url(/renewal/img/home/banner_intelligence_btn.png?v=2.0) no-repeat center top;
  display: block;
  width: 360px;
  height: 78px;
}
.banner-37__btn:hover {
  opacity: 0.8;
}

/**
 * マイクロソフト（再掲載の予定あり）
 */
.banner-40 {
  background: #fff url("/renewal/img/home/banner_microsoft.jpg?v=1.0") no-repeat center top;
  height: 400px;
}
.banner-40__block {
  background: #8d2802;
  border-radius: 3px;
  position: absolute;
  bottom: 50px;
  left: 30px;
}
.banner-40__block__btn:hover {
  opacity: .7;
}

/* .banner-41 使用済み #8151 */

/* 最新のスライダーのCSSを消した場合は、
   クラス名の番号について使用済みであることがわかるようにコメントを残してください
   & このコメントは削除しないでください
*/


/* 0. portfolioSlider (flexslider)
========================================== */
#portfolioSlider .bx-wrapper {
  margin-bottom: 0;
}
#portfolioSlider .bx-wrapper .bx-viewport {
  box-shadow: none;
  border-top: none;
  border-bottom: none;
  background-color: transparent;
  border-color: transparent;
}
#portfolioSlider .bx-wrapper .bx-viewport {
  height: 153px !important;
}

/* ===============================================
 *  [Mobile]
 *  ================================================== */
@media screen and (max-width: 1070px) {
  #portfolioSlider .bx-wrapper .bx-controls-direction .bx-prev {
    margin-left: 0;
  }
  #portfolioSlider .bx-wrapper .bx-controls-direction .bx-next {
    margin-right: 0;
  }
}

