@charset "utf-8";

/* 会員登録モーダル */
.simplemodal-wrap{
    overflow: visible !important;
}
.simplemodal-wrap .section {
    padding: 22px 30px;
}

.simplemodal-wrap .section h2 {
    color: #ff0d0e;
    font-size: 1.2em;
}

.simplemodal-wrap .section hr {
    margin: 1.4em 0 1em;
}

.simplemodal-wrap .section ul {
    margin: 22px 0 22px 25px;
    font-size: 15px;
}

.simplemodal-wrap .section ul li span {
  font-size:10px;
}

.modal-sign-up-sns-buttons .button {
    width: 100%;
    padding: 18px 0;
    margin-left: 0;
}


/* modal-sign-up-sns-buttons */
.modal-sign-up-sns-buttons .link {
    font-size: 12px;
    text-align: center;
}

.modal-sign-up-sns-buttons .strong_comment {
    font-size: 20px;
}

/* modal_panel */
.modal_panel {
    background-color: #fff;
    display: none;
}

.modal_panel .section {
    padding: 40px;
}

.modal_panel .section hr {
    margin: 1.4em 0 1em;
}

/* modal-list */
.modal-list {
    margin: 22px 0 22px 25px;
    font-size: 15px;
}

.modal-list .modal-list-item .modal-list-item-bullet {
    font-size:10px;
}

/* modal-sign-up-message */
.modal-sign-up-message {
    margin-top: 20px;
    font-size: 10px;
    color: #999;
}

/* modal-heading */
.modal-heading {
    font-weight: bold;
    text-align: left;
}

.modal-heading.heading--blue {
    color: #0268CC;
    font-size: 20px;
}

.modal-heading.heading--red {
    color: #ff0d0e;
    font-size: 1.2em;
}

.modal-heading.modal-heading-center {
    text-align: center;
}



/* modal-notice */
.modal-notice {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    margin-top: 30px;
    padding: 15px;
    position: relative;
    border-color: #e56848;
}

.notice-heading {
    color: #e56848;
    font-size: 16px;
}

.notice-text {
    color: #e56848;
    font-size: 12px;
    margin-top: 4px;
}



/* icons */
.icon--attention {
    padding-left: 28px;
    position: relative;
}

.icon--attention:before {
    display: block;
    content: "";
    width: 23px;
    height: 20px;
    background-image: url(/renewal/img/common/icons/icon_attention_01.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}



/* modal-steps */
.modal-steps {
    text-align: center;
    list-style: none;
    vertical-align: top;
    margin: 25px 0 0 0;
    padding: 0;
}

.steps-item-heading {
    font-size: 15px;
    font-weight: bold;
}

.steps-item-text {
    color: #656565;
    margin-top: 8px;
}

/* modal-steps-videotalk */
.modal-steps.modal-steps-videotalk {
    margin-right: -20px;
    overflow: hidden;
}

.modal-steps.modal-steps-videotalk .modal-steps-item {
    display: inline-block;
    width: 160px;
    vertical-align: top;
    background-image: url(/renewal/img/videotalk/img_steps_01.png?v=1.0);
    background-repeat: no-repeat;
    margin-right: 20px;
    padding-top: 110px;
}

.modal-steps.modal-steps-videotalk .modal-steps-item:nth-child(1) { background-position: 0 0; }
.modal-steps.modal-steps-videotalk .modal-steps-item:nth-child(2) { background-position: -150px 0; }
.modal-steps.modal-steps-videotalk .modal-steps-item:nth-child(3) { background-position: -300px 0; }
.modal-steps.modal-steps-videotalk .modal-steps-item:nth-child(4) { background-position: -450px 0; }



/* modal-buttons */
.modal-buttons {
    text-align: center;
    margin-top: 16px;
}

.modal-buttons .button {
    min-width: 200px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.modal-buttons .button img {
    float: right;
    display: inline;
}



/* modal-thumb */
.modal-thumb {
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 2px solid #e8e8e8;
    margin: 20px auto 0;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.modal-thumb img {
    min-width: 130px;
    min-height: 130px;
    display: inline-block;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}



/* modal-text */
.modal-text {
    margin-top: 14px;
}

.modal-text.text-center {
    text-align: center;
}

.modal-text.text-left {
    text-align: left;
}

.modal-text.text-right {
    text-align: right;
}



/* name-display */
.name-display {
    color: #000;
    font-weight: bold;
    display: inline-block;
}

/* name-id */
.name-id {
    color: #000;
    font-weight: bold;
    display: inline-block;
}
