/* No Login Footer 共通
-------------------------------------------------- */
.nologin_footer {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 64px;
    padding: 10px 0 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 101;
}
.nologin_footer__inner {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}
.nologin_footer__inner > *:first-child {
    margin-top: 0;
}
.nologin_footer .c-grid {
  position: relative;
}
.nologin_footer .c-grid .grid__group .text_registration {
    margin-left: 24px;
}
.nologin_footer .c-grid .grid__group .btn_registration {
    margin-left: 8px;
}
.nologin_footer .c-text {
  font-weight: bold;
}
.nologin_footer .c-text .c-strong {
    background-color: transparent;
}
.nologin_footer .c-btn {
    margin-top: 0;
}
.nologin_footer .c-btn,
.nologin_footer .c-btn:link,
.nologin_footer .c-btn:visited,
.nologin_footer .c-btn:hover,
.nologin_footer .c-btn:active {
    color: #fff;
    width: 49%;
}
.nologin_footer .box_nologin_footer_close{
    position: absolute;
    bottom: 6px;
    right: -30px;
}
.nologin_footer .img_nologin_footer_close {
  cursor:pointer;
}
.nologin_footer .img_nologin_footer_close:hover {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70 );
  opacity: 0.7;
}
