@charset "utf-8";
/* CSS Document */

/* --------------------------------------------------
	0. Resetting default browser CSS
		by Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
		http://cssreset.com
-------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio,
b, body, caption, canvas, center, code,
details, dialog,embed,
figcaption, figure, footer,
header, hgroup, html,
i, img,  mark, menu, nav,
output, ruby,
section, summary,
textarea, time,
u, video {
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
	outline: none;
}

a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed,
fieldset, figcaption, figure, form, footer,
header, hgroup, h1, h2, h3, h4, h5, h6, html,
i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, output, p, pre, q, ruby,
s, samp, section, small, span, strike, strong, sub, summary, sup,
tt, table, tbody, tfoot, thead, time, tr, th, td,
u, ul, var, video {
	white-space: normal;
	text-align: left;
	background: transparent;
}

textarea {
	text-align: left;
	background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;

	vertical-align: top; /*h5bp.com*/
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}



/* --------------------------------------------------
	1. Font CSS
		YUI 3.10.0 (build a03ce0e)
		Copyright 2013 Yahoo! Inc. All rights reserved.
		Licensed under the BSD License.
		http://yuilibrary.com/license
-------------------------------------------------- */
body{
	font:13px/1.231 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', "MS P Gothic", 'ＭＳ Ｐゴシック',arial,helvetica,sans-serif;
}
.ie8 body{ font-family:'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;}/* for Ie8 */
.ie7 body{ font-family: 'メイリオ', Meiryo, sans-serif;}/* for Win IE7 */
.ie6 body{ font-family: Verdana, "ＭＳ Ｐゴシック", sans-serif; letter-spacing: 1px; vertical-align:baseline;}/* for Win IE6 */

.ie7 body{ font-size: 82%;}
.ie7 body{ font-size:small;}
.ie7 body{ font:x-small;}
.ie6 body{ font-size: 82%;}
.ie6 body{ font-size:small;}
.ie6 body{ font:x-small;}

select,input,button,textarea{ font:99% 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', "MS P Gothic", 'ＭＳ Ｐゴシック',arial,helvetica,sans-serif}
table{ font-size:inherit;font:100%}
pre,code,kbd,samp,tt{ font-family:monospace;line-height:100%}
.ie7 pre,.ie7 code,.ie7 kbd,.ie7 samp,.ie7 tt{ font-size:108%;}
.ie6 pre,.ie6 code,.ie6 kbd,.ie6 samp,.ie6 tt{ font-size:108%;}
#yui3-css-stamp.cssfonts{ display:none}
.ie7 pre, .ie6 pre{ font-family:'MS ゴシック','Osaka-mono',monospace;}


/* --------------------------------------------------
	2. Custom CSS
		Base
-------------------------------------------------- */
/* =========================
	HTML5 表示定義
========================== */
audio, canvas, video{
	display:inline-block;
}
.ie7 audio, .ie7 canvas, .ie7 video, .ie6 audio, .ie6 canvas, .ie6 video{
	display:inline;
	zoom:1;
}

audio:not([controls]){
	display: none;
}
[hidden]{
	display:none;
}

/* ==========================
	ベース
========================== */
/*
 * 2. IE 以外での垂直スクロールバーの使用を強制
 * 3. ユーザーズームを無効にしないと、デバイス方向の変更で iOS テキストサイズが調整されないように修正 : h5bp.com/g
 */
html{
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

/* ==========================
	リンク
========================== */

/* ==========================
	テキスト編集
========================== */
/* すべてのブラウザーで、フォーカスの設定時およびホバー時の読みやすさを改善 : h5bp.com/h */
a:hover,
a:active{
	outline:0;
}

ins{
	background:#ff9;
	color:#000;
	text-decoration:none;
}

mark{
	background:#ff0;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

*{
	word-break: break-all;
	word-wrap: break-word;
}

/* タイプライター字体ファミリーを再宣言 : h5bp.com/j  */
.ie6 pre, .ie6 code, .ie6 kbd, .ie6 samp{
	font-family: 'courier new',monospace;
}

/* すべてのブラウザーでのプリフォーマットテキストの読みやすさを改善 */
pre{
	white-space: pre;/* すべてのブラウザーでのプリフォーマットテキストの読みやすさを改善 */
	white-space: pre-wrap;
	word-wrap: break-word;
}

/* 行の高さに影響を与えずに、サブスクリプトおよびスーパースクリプトコンテンツを配置 : h5bp.com/k */
sub,
sup{
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup{
	top:-0.5em;
	vertical-align: text-top;
}
sub{
	bottom:-0.25em;
	vertical-align: text-bottom;
}

b{
	font-weight:bold;
}
em,
strong{
	font-weight:bold;
	font-style:normal;
}

abbr,
acronym{
	border:none;
	font-variant:normal;
}
abbr[title]{
	border-bottom:1px dotted;
}

dfn{
	font-style:italic;
}
address,
caption,
cite,
code,
dfn,
ar{
	font-weight:normal;
	font-style:normal;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection{
    background:#b3d4fc;
    text-shadow:none;
}

::selection{
    background:#b3d4fc;
    text-shadow:none;
}

/* ==========================
	リスト
========================== */

/* ==========================
	埋め込まれたコンテンツ
========================== */
/*
 * 1. IE7 で拡大/縮小する際の画質を改善 : h5bp.com/d
 * 2. イメージコンテナでのイメージとボーダーとの間の隙間を削除 : h5bp.com/e
 */
img{
	border:0;
	border:none;
	-ms-interpolation-mode:bicubic;
	vertical-align:middle;
}

/*
 * IE9 で非表示にならないオーバーフローを修正
 */
svg:not(:root){
	overflow:hidden;
}

/* =============================================================================
	図
========================================================================== */
figure{
	margin:0;
}

/* =============================================================================
	フォーム
========================================================================== */
/*
 * Remove default fieldset styles.
 */
fieldset{
	border:0;
	margin:0;
	padding:0;
}

/* "ラベル" が、関連付けられたフォームエレメントにフォーカスをシフトするように指定 */
label{
	cursor:pointer;

	vertical-align: baseline;/* 追加　必要なければ削除 */
}
.ie7 label, .ie6 label{
	vertical-align: middle;/* 追加　必要なければ削除 */
}

/* 
 * 1. IE6/7/8/9 の継承しないカラーを修正
 * 2. IE6/7 正常に表示されない整列を修正
 */
.ie7 legend, .ie6 legend{
	margin-left:-7px;
}

input, textarea, select, label{/* buttonはいらない？ */
	font-size: 100%;
	font-family: inherit;
}
/*
 * 1. すべてのブラウザーでの継承しないフォントサイズを修正
 * 2. FF3/4 S5 Chrome のマージンを削除
 * 3. すべてのブラウザーの縦揃えの一貫した表示を定義
 */
button, input, select, textarea{
	/*font-size: 100%;*/
	margin: 0;
	vertical-align: baseline;
}
.ie7 button, .ie7 input, .ie7 select, .ie7 textarea, .ie6 button, .ie6 input, .ie6 select, .ie6 textarea{
	vertical-align: middle;
}

/*
 * 1. FF3/4 に合わせて行の高さを標準に定義 (UA スタイルシートで !important を使用して設定)
 * 2. IE6/7 で正常に表示されない内部間隔を修正
 */
button, input{
	line-height:normal;
}
.ie7 button, .ie7 input, .ie6 button, .ie6 input{
	overflow:visible;
}

/*
 * IE6/7 のオーバーラップとホワイトスペースの問題を回避するために "テーブル" の内部間隔を再導入
 */
.ie7 table button, .ie7 table input, .ie6 table button, .ie6 table input{
	overflow:auto;
}

/*
 * 1. クリック可能なフォームエレメントの手の形のカーソルを表示
 * 2. iOS のクリック可能なフォームエレメントのスタイル付けを許可
 */

button, input[type="button"], input[type="reset"], input[type="submit"]{
	cursor:pointer;
	-webkit-appearance:button;
}

/*
 * 一貫したボックスのサイズ変更および外観を保持
 */
input[type="checkbox"], input[type="radio"]{
	box-sizing:border-box;
}
input[type="search"]{
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none;
}

/* 
 * FF3/4 の内部余白とボーダーを削除 :  h5bp.com/l 
 */
button::-moz-focus-inner,
input::-moz-focus-inner{
	border:0;
	padding:0;
}

/* 
 * 1. IE6/7/8/9 のデフォルトの垂直スクロールバーを削除 
 * 2. 垂直のサイズ変更のみを許可
 */
textarea{
	overflow:auto;
	vertical-align:top;
	resize:vertical;
}


/* ==========================
	Other
========================== */
/*
 * A better looking default horizontal rule
 */
hr{
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}


/* ==========================================================================
	Chrome Frame prompt
========================================================================== */
/* ------------------------------------------------------------
	6. Chrome Frame prompt
------------------------------------------------------------ */
.chromeframe{
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ------------------------------------------------------------
	7. For IE6/7
------------------------------------------------------------ */
/* --- for ie7: page zoom bug fix --- */
.ie7 + html body,
.ie7 + html br{
	letter-spacing:0;
}
