/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {
    display: none
}
/* Overlay */
#simplemodal-overlay {
    background-color: #000;
}
/* Container */
#simplemodal-container {
    color: #666;
    background-color: #fff;
}

#simplemodal-container a.modalCloseImg {
    background: transparent url(/renewal/img/common/basic/btn_close--white--small.png?v=1.0) no-repeat;
    width: 19px;
    height: 19px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: 0px;
    right: -40px;
    cursor: pointer;
}
