@charset "UTF-8";

/*************************************************
Name:simulator.css
Description:シミュレータ
**************************************************/

/* --------------------------------------------------
    1. Layout
-------------------------------------------------- */

#simulator {
    display: none;
    width: 900px;
    height: 615px;
    background-color: #4A7096;
}

/* title */
#simulator h2 {
    background-color: #537DA7;
    border-bottom: 2px #4A7096 solid;
    font-size: 1em;
    margin: 0;
    padding: 20px 30px 15px;
    color: #fff;
    font-size: 170%;
}

/* menu */
#simulator #nav {
    background-color: #4A7096;
    border-bottom: 1px #BBB solid;
    height: 40px;
}

/* content */
#simulator .content {

}

#simulator .aside,
#simulator .proposal-list,
#simulator .type,
#simulator .budget,
#simulator .result {
    display: none;
}

/* header */
#simulator .header {
    position: relative
}

    #simulator .header .info {
        font-size: 0.7em;
        position: absolute;
        right: 30px;
        top: 21px;
        color: #FFF;
        display:none
    }

/* --------------------------------------------------
    2. Navigation
-------------------------------------------------- */

    /* step */
    #simulator #nav .step {
        background: transparent url(../img/home/simulator_nav.png) -151px 0 no-repeat;
        color: #818181;
        display: block;
        float: left;
        font-weight: bold;
        height: 20px;
        margin-right: -14px;
        padding: 10px 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 314px;
        cursor: default;
    }
        #simulator #nav .step.long {
            width: 465px;
        }

        #simulator #nav .step.enabled {
            color: #666;
        }

        #simulator #nav #categories,
        #simulator #nav #budget.enabled {
            cursor: pointer;
        }

        #simulator #nav #categories.enabled:hover,
        #simulator #nav #budget.enabled:hover {
            color: #0268cc;
        }

    /* circle */
    #simulator #nav .step span {
        background: #0268cc;
        border-radius: 50%;
        color: #fff;
        padding: 4px 6px 2px;
        margin-right: 10px;
    }

    /* type */
    #simulator #nav #categories {
        z-index: 19;
    }

        #simulator #nav #categories.enabled {
            background-position: -151px -40px;
        }

        #simulator #nav #categories.enabled.long {
            background-position: 0 -40px;
        }

    /* budget */
    #simulator #nav #budget {
        z-index: 18;
    }

        #simulator #nav #budget.enabled {
            background-position: -151px -80px;
        }

        #simulator #nav #budget.enabled.long {
            background-position: 0 -80px;
        }

    /* result */
    #simulator #nav #result {
        z-index: 17;
        background-position: -151px 0;
        width: 300px;
        margin: 0;
    }

    #simulator #nav #result.long {
        width: 449px;
    }

        #simulator #nav #result.enabled {
            background-position: -151px -120px;
        }

        #simulator #nav #result.enabled.long {
            background-position: 0 -120px;
        }


/* --------------------------------------------------
    3. category list
-------------------------------------------------- */

#simulator .category-list {
    padding: 34px 50px;
    display: none;
    background-color: #fff;
}

#simulator .category {
    background-color: #99B3CC;
    border-radius: 6px;
    color: #FFF;
    display: block;
    float: left;
    height: 102px;
    padding: 15px;
    text-align: center;
    width: 116px;
}

#simulator .category-list .category {
    cursor: pointer;
    line-height: 1.2em;
    margin-right: 12px;
    margin-bottom: 12px;
    transition: background-color 100ms;
    -webkit-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
    -o-transition: background-color 100ms;
}

#simulator .category-list .category img {
    margin: -2px;
}

#simulator .category-list .category:hover,
#simulator .category.active {
    background-color: #537DA7;
}

#simulator .category-list .category:active {
    background-color: #3A648E;
}

/* --------------------------------------------------
    4. aside
-------------------------------------------------- */
#simulator .aside {
    background-color: #fff;
    float: left;
    padding: 0 25px;
    width: 200px;
    height: 400px;
}

#simulator .aside h3 {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    margin: 25px 0 5px 0;
    text-align: left;
}

#simulator .aside select {
    width: 100%;
}

#simulator .aside .select-budget {
    display: none;
}

#simulator .aside small {
    font-size: 0.65em;
}

#simulator .aside #order {
    display: none;
    width: 55%;
    margin: 0 auto;
}

#simulator .order-btn {
    text-align: center;
}

/* --------------------------------------------------
    5. result counter
-------------------------------------------------- */

#simulator .aside #resultCounter {
    background-color: #E1EAF3;
    color: #507BA5;
    height: 80px;
    margin: 30px 0;
    padding: 35px 0 60px;
    text-align: center;
    width: 200px;
}

    #simulator #resultCounter .number {
        font-family: Verdana, sans-serif;
        font-size: 85px;
        font-weight: bold;
        line-height: 85px;
    }

    #simulator #resultCounter .number.small {
        font-size: 70px;
    }


/* --------------------------------------------------
    6. proposal list
-------------------------------------------------- */

#simulator .proposal-list {
    text-align: center;
    border-left: 1px #aaa solid;
    float: left;
    height: 370px;
    overflow: auto;
    width: 619px;
    padding: 15px;
    background-color: #fff;
}

    #simulator .proposal-list .status {
        text-align: center;
        font-size: 18px;
        margin-top: 150px;
        display: none;
    }

    #simulator .proposal-list .image {
        background: #fff;
        border: 1px solid #ccc;
        display: none;
        float: left;
        font-size: 1em;
        height: 110px;
        line-height: 110px;
        margin: 4px;
        text-align: center;
        width: 110px;
    }

    #simulator .proposal-list .image img {
        margin-top: 0;
        vertical-align: middle;
        border: 0;
        max-height: 108px;
        max-width: 108px;
    }

#simulator .compe-action {
    clear: both;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
    display: none;
}
    #simulator .compe-action .compe-action__anchor {
        float: right;
    }

    #simulator .compe-action p {
        font-weight: bold;
        margin-top: 8px;
        padding-right: 342px;
    }

/* --------------------------------------------------
    7. project screen
-------------------------------------------------- */

#simulator .project-result {
    display: none;
    padding: 40px 70px;
    background-color: #fff;
}

#simulator .project-result .highlighted-section {
    background-color: #fff;
    margin: -35px -70px 0px;
    padding: 38px 70px;
}

#simulator .project-result .category {
    float: left;
    margin: 35px 60px 0 0;
}

#simulator .project-result .number {
    margin-bottom: 10px;
}

    #simulator .project-result .number p {
        margin-bottom: 10px;
    }

#simulator .project-result .number .big {
    font-family: verdana;
    font-size: 4.5em;
    line-height: 0.9em;
}

#simulator .project-result .number .middle {
    font-family: Verdana;
    font-size: 3em;
}

#simulator .project-result .footer {
    font-size: 0.8em;
    margin: -40px;
    margin-top: 30px;
}

#simulator .project-result .info * {
    text-align: center;

}

    #simulator .project-result .info .big {
        font-size: 1.2em;
        font-weight: bold;
    }

    #simulator .project-result .info .small {
        color: #999;
        font-size: 0.9em;
    }

    #simulator .project-result .info .order-btn {
        margin: 15px auto;
    }

    #simulator .project-result .info .button {
        padding: 18px 50px;
        width: 200px;
    }
