@charset "UTF-8";

.new_task_form {
  display: none;
}

/*新タスクフォームのメニュー*/
.new_work_contents_detail_left_contents {
  margin-top: 20px;
  position: relative;
}

.taskMenuStatic {
  position: relative;
}

.taskMenuFixed {
  position: fixed;
  top: 130px;
}

/*新タスクフォームのメニュー*/
.new_task_form_menu {
  height: 40px;
  background-color: #e9f6fd;
  border-bottom: 2px solid #d4d7de;
  margin-bottom: 5%;
  color: #257cb7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  width: 150px;
}

.new_task_form_menu:hover {
  background-color: #d2ecfb;
}

.newTaskFormMenuText {
  font-weight: bold;
  position: relative;
  top: 7px;
  left: 19px;
  font-size: 12px;
}

.formMenuOptionRequiredWord .newTaskFormMenuText {
  width: 70px;
}


/*新タスクフォームのフォームコンポーネント部分*/
.taskFormWrap {
  position: relative;
  margin: 10px 0 3rem;
  padding: 10px 15px;
  color: #020202;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
}
.taskFormWrap.taskFormWrapEdit {
  border: 1px solid #0268cc;
}

.taskFormWrap.success {
  border: #1fa806 5px solid;
}

.taskFormWrapPreview {
  background: #f2f2f2;
  border: 1px solid #ededed;
}

.taskFormWrap .button {
  line-height: 0.8rem;
}

.controlMenus {
  overflow: hidden;
}

.formMenuButtonFormEdit.button  {
  padding-left: 20px;
  padding-right: 20px;
  float: right;
}

.formMenuButtonFormEdit.button:link {
  text-decoration: none !important;
}

.formMenuButtonFormEdit.button:hover {
  background-color: #2d90e0;
  text-decoration: none !important;
}

.formMenuButtonFormEdit.button:active {
  margin-top: 7px;
  border-bottom-width: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  text-decoration: none !important;
}

.formMenuButtonFormDelete.button {
  border-bottom: 1px #a6a6a6 solid;
  padding: 2px 7px;
  margin: 0;
  color: #666 !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  position: absolute;
  right: 0rem;
  top: -2rem;
}

.formMenuButtonFormDelete.button:link {
  text-decoration: none !important;
}

.formMenuButtonFormDelete.button:hover {
  background-color: #c2c2c2;
  text-decoration: none !important;
}

.formMenuButtonFormDelete.button:active {
  border-bottom-width: 0;
  background: #999;
}

.controlMenus div {
  display: block-inline;
  *display: inline;
  *zoom: 1;
}

.questionWrap {
  display: inline;
}

#new_work_contents_form_wrap div.edit span.question_label {
  margin-top:7px;
  display:block;
}

#new_work_contents_form_wrap div.edit div.option_wrap {
  margin-top:5px;
}

#new_work_contents_form_wrap div.edit span.option_label {
  margin-right:5px;
}

#new_work_contents_form_wrap div.edit label.similar_label {
  margin-top:5px;
  display:block;
}

#new_work_contents_form_wrap .textArea {
  width:35rem;
  height:80px;
}

#new_work_contents_form_wrap div.preview select,
section.taskFormWrap select{
  width:150px;
}

#new_work_contents_form_wrap textarea:disabled {
  background-color: rgb(235, 235, 228)
  padding: 1px 0px;
}

#new_work_contents_form_wrap input[type=text] {
  width: 35rem;
}
#new_work_contents_form_wrap .preview input[type=text],
#new_work_contents_form_wrap .preview textarea{
  background: #f2f2f2;
}
#new_work_contents_form_wrap .preview input.button.gray[disabled=disabled]{
  opacity: 1;
  border: none;
}
#new_work_contents_form_wrap div.edit div.option_wrap input[type=text] {
  width:71px;
}

#new_work_contents_form_wrap div.edit li input[type=text] {
  width:550px;
}

#new_work_contents_form_wrap div.edit input.option_input {
  margin-right:10px;
}

.taskform_word_count {
  color: #ff0000;
  font-weight: bold;
  margin-right: 10px;
}
.taskform_word_count .taskform_current_count,
.taskform_word_count .taskform_count_separator{
  display: none;
}
.taskform_word_count.success {
  color: #1fa806;
}



/*オプションで指定できる項目*/
.optionsArea {
  margin-top: 1rem;
}

.optionsArea.active {
  background-color: #f7f7f7;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
}

.optionElement {
  padding: 0.5rem 1rem 0;
}

.optionElement .optionSeparate {
  width: 80%;
  position: relative;
  margin: auto;
}

/*新タスクフォームの編集メニュー*/
.editMenus {
  position: absolute;
  right: -3rem;
  top:0;
}

/*編集メニューのボタン*/
.editMenus div {
  width: 25px;
  height: 25px;
  background-color: #ddd8d5;
  margin-bottom: 5px;
  border-bottom: 1px solid #a6a6a6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.editMenus div:hover {
  background-color: #ccc;
}

.editMenus div span {
  width: 7px;
  height: 7px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.formMenuButtonFormFront span {
  background-image:url(/img/work/task/icn_arrow_s_up_top.png);
}

.formMenuButtonFormUp span {
  background-image:url(/img/work/task/icn_arrow_s_up.png);
}

.formMenuButtonFormDown span {
  background-image:url(/img/work/task/icn_arrow_s_down.png);
}

.formMenuButtonFormLast span {
  background-image:url(/img/work/task/icn_arrow_s_down_bottom.png);
}

.taskFromEditMenuText {
  font-weight: bold;
  position: absolute;
  left: 17px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: -8px;
  width: 30px;
  margin-top: 10px;
}

.taskFormMenuIcon {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  top: 30%;
  left: 12px;
}

.taskFormMenuDescriptionIcon {
  background-image:url(/img/work/task/icn_task_baloon.png);
}

.taskFormMenuRadioButtonIcon {
  background-image:url(/img/work/task/icn_task_radio.png);
  top: 28%;
}

.taskFormMenuCheckBoxIcon {
  background-image:url(/img/work/task/icn_task_chkbox.png);
}

.taskFormMenuTextFieldIcon {
  background-image:url(/img/work/task/icn_task_txt.png);
}

.taskFormMenuTextAreaIcon {
  background-image:url(/img/work/task/icn_task_txt.png);
}

.taskFormMenuSelectBoxIcon {
  background-image:url(/img/work/task/icn_task_pulldown.png);
}

.editMenus span {
  cursor: pointer;
}

/*編集モード*/
.edit label {
  margin-top: 6px;
}

.edit .addItem {
  display: block;
  margin-top: 12px;
}

.edit ol li {
  margin-bottom: 3px;
}

.editTitle {
  font-weight: bold;
  color: #0268cc;
}

.preview .label {
  margin-bottom: 5px;
}

.task_edit_wrap {
  position: relative;
}

.optionMenusWrap {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.optionMenusWrap div {
  display: inline-block;
}

.optionMenusWrap div span {
  border-radius: 3px;
  cursor: pointer;
  background: #ccc;
  border-top-color: #ccc;
  border-bottom: 1px #a6a6a6 solid;
  padding: 2px 7px;
  color: #666 !important;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  width: 55px;
}

.optionMenusWrap div span:hover {
  background-color: #c2c2c2;
}

/*文字数制限*/
.charLimitLabel {
  margin-left: .6rem;
  color: #ff0000;
}

.tone_type_wrap {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
}

.tone_type_wrap span {
  font-weight: bold;
}

.tone_type_text {
  color: #ff0000;
}

.prohibited_word_wrap {
  margin-left: 30px;
  font-size: 14px;
}

.prohibited_word_wrap span {
  font-weight: bold;
}

.prohibited_word_text {
  color: #ff0000;
}

.optionElement:last-child { padding-bottom: 0.5rem;}

.formMenuOptionSimiler:hover:after {
  position: absolute;
  font-size: 12px;
  color: #777;
  padding: 2px 2px 2px 10px;
  border: 1px solid #79BA38;
  content: '作業の重複チェック';
  display: block;
  width: 120px;
  height: 20px;
  background-color: #fff;
}

.formMenuOptionCharLimit:hover:after {
  position: absolute;
  font-size: 12px;
  color: #777;
  padding: 2px 2px 2px 10px;
  border: 1px solid #79BA38;
  content: '文字数制限の設定';
  display: block;
  width: 110px;
  height: 20px;
  background-color: #fff;
}

.formMenuOptionPlaceholder:hover:after {
  position: absolute;
  font-size: 12px;
  color: #777;
  padding: 2px 2px 2px 15px;
  border: 1px solid #79BA38;
  content: '回答例の設定';
  display: block;
  width: 90px;
  height: 20px;
  background-color: #fff;
}

.formMenuOptionRowCol:hover:after {
  position: absolute;
  font-size: 12px;
  color: #777;
  padding: 2px 2px 2px 10px;
  border: 1px solid #79BA38;
  content: 'フォームの幅と高さの設定';
  display: block;
  width: 150px;
  height: 20px;
  background-color: #fff;
}

.formMenuOptionRequiredWord:hover:after {
  position: absolute;
  font-size: 12px;
  color: #777;
  padding: 2px 2px 4px 8px;
  border: 1px solid #79BA38;
  content: '入力必須ワードを設定';
  display: block;
  width: 125px;
  height: 20px;
  background-color: #fff;
}

.required_word_count_label {
  display: inline-block;
  margin-left: 10px;
}

.prohibitedWordPreview {
  display: inline-block;
  margin-right: 10px;
}

.prohibitedWordPreviewDelete {
  font-size: 9px;
  display: inline-block;
  margin-left: 10px;
}

/**
 * 以下enterprise用のスタイル
 **/
.ep-task-label {
  font-weight: bold;
}

.ep-task-title {
  font-size: 10px;
}
.ep-task-title-box-outer{
  color: #0268cc;
}
.ep-task-title-box.word-count {
  width: 300px;
}

.ep-task-title-box.char-limit {
  width: 299px;
}

.ep-task-emphasize {
  font-weight: bold;
  color: black;
}

.ep-task-alert {
  color: red;
}

.easy-keyword-outer {
  float: right;
  display: inline-block;
  text-align: right;
  list-style-type: none!important;
}

.easy-keyword-inner {
  text-align: right;
}

.easy-keyword-outer-top {
  background-color: #DDD;
  border-radius: 5px;
  padding: 0px 10px 0px 15px;
}

.easy-keyword-button {
  line-height:8px;
  height: 8px;
  font-size: 8px;
}

.task_info_wrap {
  width: 885px;
  border: 1px solid #ccc;
  margin-bottom: 3rem;
  position: relative;
}

.task_info_item {
  display: inline-block;
}


.task_info_contents section {
  width: 100%;
  margin-left: .3rem;
}

.task_info_label {
  width: 20%;
  font-weight: bold;
}

.task_info_item_text {
  display: inline-block;
  margin-top: .3rem;
  margin-left: 1rem;
}

.task_info_head {
  background-color: #0267cc;
  width: 885px;
  margin-bottom: 0;
  padding: .3rem 0 .3rem 0;
  color: #ffffff;
}

.task_info_head_text {
  font-weight: bold;
  display: inline-block;
  position: relative;
  left: 50%;
  width: 200px;
  margin-left: -40px;
}

#task_info_controller {
  position: absolute;
  right: 0;
  display: inline-block;
}

.taskUploadText {
  display: block;
  font-size: 11px;
  color: #666;
}

.newTaskFormQuestion{
  font-weight: bold;
  color: #0268cc;
  white-space: pre-wrap;
}


.error-message {
  color: #CC0000;
  padding: 0;
  background-repeat: no-repeat;
  background : none;
  background-position: 0 1px;
  margin: 2px 4px;
}
