h1, h2, h3, h4, h5, h6, .side-list-title, span.side-list-cat, span.post-header, nav.fly-nav-menu ul li a, .foot-menu .menu li a {
  font-family: 'Roboto', sans-serif;
  text-transform: none !important;
}


span.side-list-cat {
 font-size: .72rem;
}

a, a:visited {
  font-weight: 400;
}

#main-nav-cont {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#atstbx {
  text-align: center;
}


#toggleText {
    text-align: justify;
    color: #222;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.55;
    margin-bottom: 20px;
    margin: 30px;
}

nav.main-menu-wrap ul li a {
  font-size: 14px;
  text-transform: none;
}


.nav-logo span {
  margin-top: 7px;
    display: block

}

/* .fly-but-wrap, #home-mid-wrap,  #post-left-col, .feat-widget-text, .side-widget {
  background-color: #fcfcfc !important;
} */

.fly-but-wrap span {
  background-color: #000;
}

#fly-wrap {
  background: #ffffff;
}

.fly-side-wrap {
  background: #040404;
}

nav.fly-nav-menu ul li a {
  color: #040404;
}

@media only screen and (min-width: 720px){
h1.post-title {
font-size: 2.4rem;
}
div#content-area p {
font-size: 17px;
  }
  h2.post-title {
font-size: 17px;
}
}

.flexundertitle {
  min-width: 720px;
  min-width: 125px;
}


#content-main ul {
color: #222;
        display: block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 155%;
        margin-bottom: 20px;
        }


#content-main ul li, #content-main ol li {
    line-height: 1.5;
  list-style-position: inside;
}

#breadcrumbs {
  font-size: .8em;
   display: inline-block;
  color: #bbb;
}

.breadcrumb_last {
	display: none;
}



.social div span {
vertical-align:middle !important;
} - See more at: http://www.zeeshanarshad.com/topic/273/solved-vertical-alignment-issue-of-facebook-and-twitter-buttons#sthash.iLz9mhDl.dpuf

@media only screen and (max-width: 719px){

div#content-area p {
font-size: 15px;
  }

}

.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#cont {display: none; }
.show:focus + .hide {display: inline; }
.show:focus + .hide + #cont {display: block;}

.feat-widget-text h2 {
  font-weight: bold;
}

div.adblade-dyna.zone-1117 .zone .adbladetitle
{
  padding-top:25px;
}

.feat-top2-right-text h2, .side-list-text p, .side-full-text p, .row-widget-text p, .feat-widget-text h2, .blog-widget-text h2, .prev-next-text a, .prev-next-text a:visited, .prev-next-text a:hover, span.post-header, .archive-list-text h2, #woo-content h1.page-title, .woocommerce div.product .product_title, .woocommerce ul.products li.product h3, .video-main-text h2, .mvp-related-text a {
  font-weight: bold
}

#content-main h3
{
  padding-top: 25px;
}


.frm_style_formidable-style.with_frm_style input[type=text], .frm_style_formidable-style.with_frm_style input[type=password], .frm_style_formidable-style.with_frm_style input[type=email], .frm_style_formidable-style.with_frm_style input[type=number], .frm_style_formidable-style.with_frm_style input[type=url], .frm_style_formidable-style.with_frm_style input[type=tel], .frm_style_formidable-style.with_frm_style input[type=file], .frm_style_formidable-style.with_frm_style input[type=search], .frm_style_formidable-style.with_frm_style select {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.frm_style_formidable-style.with_frm_style label.frm_primary_label, .frm_style_formidable-style.with_frm_style.frm_login_form label {
  text-align: center;
}

div.fb-life {
  padding-bottom: 25px;F
}

.fb-like.fb_iframe_widget span{
  vertical-align: top !important;
}

div.winiphone {
  border-style: solid;
}

#authorlist li {
clear: left;
float: left;
margin: 0 0 5px 0;
}

#authorlist img.photo {
width: 40px;
height: 40px;
float: left;
}

#authorlist div.authname {
margin: 20px 0 0 10px;
float: left;
}

iframe {
}

 .stackCommerceInlineDisplayHeader .stackCommerceInlineHeaderText {
text-align: center; }            

.td_smart_list_3 .td-sml3-top-controls .td-icon-right, .td_smart_list_3 .td-sml3-bottom-controls .td-icon-right {
  background-color: #f44336;
}

.td_smart_list_3 .td-sml3-top-controls .td-icon-left, .td_smart_list_3 .td-sml3-bottom-controls .td-icon-left {
    background-color: #f44336;
}


#TOC { margin:0; padding:0; }
#TOC li { float:left; background:white; }
#TOC li a { display:block; padding:8px }
#TOC li a:hover { background:#000; }



.toggle-column{
  	display: block;
  	font-family: 'Helvetica', sans-serif;
    color: #222;
    font-size: 1rem;
    font-weight: 400;
    line-height: 155%;
  margin-top: 10px;
    margin-bottom: 20px;
  
}

.cse .gsc-control-cse, .gsc-control-cse {
    margin-top: -13px;
}


.gs-result a {
    display: inline-block;
}
			
/* MAILCHIMP SIGN UP FORM CUSTOM STYLES */

#mc_embed_signup {
    line-height: 2.2;
    text-align: center; 
  	display: block;
    margin: 0 auto;
 	margin-top: 62px;
    padding: 0px;
    min-width: 250px;
}

#mc-embedded-subscribe {
 	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #00aeef;
    background-image: -webkit-linear-gradient(top, #00aeef, #2980b9);
    background-image: -moz-linear-gradient(top, #00aeef, #2980b9);
 	background-image: -ms-linear-gradient(top, #00aeef, #2980b9);
 	background-image: -o-linear-gradient(top, #00aeef, #2980b9);
  	background-image: linear-gradient(to bottom, #00aeef, #2980b9); 
    border: none;
    width: 45%;
    max-width: 200px;
    height: 30px;
    display: inline-block;
    padding: 0px;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
}


#mc-embedded-subscribe:hover {
    background: #00aeef;
  background-image: -webkit-linear-gradient(top, #00aeef, #3498db);
  background-image: -moz-linear-gradient(top, #00aeef, #3498db);
  background-image: -ms-linear-gradient(top, #00aeef, #3498db);
  background-image: -o-linear-gradient(top, #00aeef, #3498db);
  background-image: linear-gradient(to bottom, #00aeef, #3498db);
  text-decoration: none;
    
}






#mce-EMAIL {
    width: 50%;
    max-width: 300px;
    height: 30px;
    font-size: 12px;
    display: inline-block;
    padding: 0px;
    padding-left: 5px;
    margin: 0;
    border: none;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
}

@media (max-width: 520px) {
  #mce-EMAIL   {
  		font-size: 12px;
  
      }
  #mc-embedded-subscribe {
	font-size: 12px;
    letter-spacing: 0px;

	}
}

input {
    border-radius: 0;
  -webkit-appearance: none;
}


.coolquote {
     color: #E95B24;
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(https://cdn.idropnews.com/wp-content/uploads/2016/10/24160311/gradient-1.png) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
    font-size: 3rem;
    font-weight: 700;
 	font-style: italic;
    line-height: 130%;
  	margin: 0 auto;
  	margin-left: -2em;
   padding: 15px;
  	max-width:320px;
    display: inline;
    float: left;
  
}

.coolquote-right {
	margin-left: 0;
    float: right;
  
}


@media (max-width: 1320px) {
	.coolquote {
  		margin-left: -1em;
	}
.coolquote-right {
	margin-left: 0;
}
}


@media (max-width: 719px) {
	.coolquote {
  		font-size: 1.5rem !important;
	}
}

@media (max-width: 530px) {
	.coolquote {
  		display: block;
  		text-align: center;
  		margin: 0 auto;
  max-width: 340px;
	}
.coolquote-right {
 display: block;
  		text-align: center;
  		margin: 0 auto;
  max-width: 340px;
  
}
}

.postquestion {
  text-align: center;
  font-style: italic;
  display: block;
  margin: 0 auto;
}


 #content-main ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
 #content-main ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
  line-height: 1.5;
}
 
 #content-main ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
  font-size: 1.1em;
}




.flexundertitle {
    margin-top: 6px;
    height: auto;
}

#body-main-wrap {
    padding-top: 2px;
}

@media screen and (max-width: 599px) and (min-width: 480px) {
#leader-wrap {

    padding-bottom: 8px;
}
}

@media screen and (max-width: 479px) {
  h1.post-title {
     font-size: 1.5rem;
	 line-height: 1.2;    
}
  
#leader-wrap {
    padding: 7px 0;
}
}


h1.post-title, #content-main h1.post-title {
  margin-top: -10px;
  
}

#post-header {
  margin-left: 0;
  padding: 0;
  padding-left: 3%;
  margin-top: 9px;
  margin-bottom: 8px;
}

.post-info-in {
  margin-left: 0px;
}

.post-info-name {
    border-bottom: none;
    width: auto;
    display: inline-block;
 	margin-right: 4px;
}
.post-info-date {
    display: inline-block;
}

.block-shadow {
  -webkit-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.71);
-moz-box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.71);
box-shadow: 0px 0px 23px -3px rgba(0,0,0,0.71);
}

#content-main h1, #content-main h2, #content-main h3, #content-main h4, #content-main h5, #content-main h6 {

    text-transform: none;
}


.foot-widget {
  max-width: 500px;
  width: 100%;
  margin-top: 25px;
  color: #fff;
}
  

.site-map-wrap {
  color: #fff !important;
  display: inline-block;
}

.site-map-box {
  width: 19.25%;
  min-width: 96px; 
  margin-top: 10px;
  display: inline-block; 
  vertical-align: top;
  line-height: 1.4;
  text-align: left;
  font-size: .74em;
}



.newsletter-footer {
  	margin-top: 32px !important;
    color: #fff !important;
  	line-height: 1.55 !important;
    font-size: 15px !important;
    margin-left: 0px;
}

.news-foot-btn {
   	background-color: #ff0030 !important;
    border: solid 1px #ff0030 !important;
  	border-radius: 5px !important;
    height: 30px !important;
	vertical-align: middle;
  display: block !important;
  margin: 0 auto ;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.footer-email {
  width: 100% !important;
}

.footer-input {
  margin-top: 12px;
}
  

.site-map-foot {
    margin-top: 25px;
}

.foot-widget {
  margin-bottom: 0;
}

footer#foot-wrap {
    background: #030303;
}

#foot-bot-wrap {
  background:  #000000;
}

@media screen and (max-width: 479px) {
.nav-left-wrap { 
    width: 100% !important;
  }
 .nav-logo {
    display: inline-block;
    margin: 0 auto;
    width: 70%;
    padding: 0;
}
  
 .nav-logo span {
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin-top: 7px;
  }
  
  .nav-menu-out {
    position: absolute;
    right: 0;
    width: 0px;
    margin-right: 0px;
     }
}

#content-main td, #content-main th, #content-main table, #content-main tr {
  border: #929292 1px solid;
  font-size: 12px;
}

#content-main table {
   margin: 0 auto; 
}



ul.archive-col-list li {
  height: 230px;
  background: #fff;
-webkit-box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
}

ul.archive-col-list li:hover {
   animation: lift .2s linear;
  animation-fill-mode: forwards;
}

@keyframes lift {
  100% {
    transform: translate(0, -2.9px);
     -webkit-transform: translate(0, -2.9px);
    -webkit-box-shadow: 0 13px 18px rgba(0,0,0,0.2);
  }
}


ul.archive-col-list li .archive-list-img {
    max-height: 190px;
  background-color: #000;
}

.archive-list-img img {
  opacity: .975;
}

ul.archive-col-list li .archive-list-in {
    float: none;
    position: absolute;
    top: 77%;
    height: 40%;
    background: #fff;
    margin-left: 10%;
    padding: 5px !important;
    padding-left: 10px !important;
}


.inf-more-but {
  display: inline-block !important;
  width: 100% !important;
  margin 0 auto !important; 
  text-transform: none !important;
}

.archive-list-in {
  padding: 2px 15px 10px 20px !important;
}

@media (max-width: 540px) {
ul.archive-col-list li {
     height: 70px;
    width: 100%;
  margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
  padding-right: 15px !important;
 
    flex-direction: column;
}

ul.archive-col-list li .archive-list-img {
  max-width: 30%;
  padding: 0px;
  margin: 0px;
  
}

ul.archive-col-list li .archive-list-in {
  max-width: 65%;
  position: relative;
  display: inline-block;
  margin-left: 0px;
  padding-left: 20px;
  height: auto;
}

ul.archive-col-list li:hover {
  animation: none;
   animation: liftmobile .2s linear;
  animation-fill-mode: forwards;
}

@keyframes liftmobile {
  100% {
    transform: translate(0, -1px);
     -webkit-transform: translate(0, -1x);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  }
}

}

.category-description{
    text-align: center;
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'helvetica';
   font-size: 18px;
   line-height: 1.25;
}

.category-description h1{
   margin-bottom: 10px;
  font-size: 4em;
}

#comments-button {
  margin-bottom: 15px;
}

.feat-info-wrap {
  display: none;
}

.inf-more-but, span.more-posts-text, a.inf-more-but, #comments-button a, #comments-button span.comment-but-text {
  border-radius: 0px !important;
  border-bottom: #00aeef solid 4px !important;
  font-size: 1rem !important;
}

#disqus_thread {
  display: block;
}

/* Alternative Category Styling */

.alt-cat-body {
  height: 100%;
}
.alt-cat-body p{
    font-family: 'Helvetica', sans-serif;
    color: #222;
    display: block;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.49;
    margin-bottom: 20px;
}

.alt-cat-body  a {
  line-height: 1.49;
}


.alt-cat-header {
  width: 100%;
  height: auto;
  height: 620px;
  background-color: #000;
  background-image: url('https://cdn.idropnews.com/wp-content/uploads/2016/12/13142253/Front-View-Grass-Smaller.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.alt-cat-header h1{
    font-size: 6rem;
    padding: 50px;
    display: inline-block;
    text-align: center;
    padding-top: 285px;
    color: #fff;
  line-height: 1;
}

.alt-cat-meta {
  color: #ffffff !important;
  font-size: 1rem !important;
  padding: 50px;
  padding-top: 0px;
}

.entry-img {
  display: inline-block;
  width: 45%;
  vertical-align: top;

}

.entry-text {
  display: inline-block;
  width: 45%;
  vertical-align: top;
   margin-left: 5%;
}




.alt-cat-header-overlay {
  width: 100%;
  height: 700px;
	text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alt-cat-post h2{
  font-size: 2.2rem;
    margin-bottom: 15px;
    width: 100%;
    line-height: 1;
}

.alt-cat-post-time {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}


.alt-cat-map {
  padding: 6.4%;
  padding-top: 20px;
  max-width: 1100px;
   margin: 0 auto;
}



.alt-cat-post {
     padding: 20px;
    margin: 0 auto;
  margin-bottom: 35px;
   max-width: 1100px;
      -webkit-box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);
    box-shadow: 0px 1px 2px 0.2px rgba(0,0,0,0.17);

}

.alt-cat-post:hover {
      animation: lift .2s linear;
    animation-fill-mode: forwards;
}

.alt-cat-post img{
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}


.alt-cat-map-title {
	font-size: 2rem;
	font-weight: 600;
	color: #222;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.alt-cat-description {
padding-left: 6.4%;
padding-right: 6.4%;
max-width: 1100px;
  margin: 0 auto;
}

.alt-cat-map ul li {
    list-style-type: initial;
    margin-left: 6%;
    line-height: 1.4;
  padding-bottom: 10px;
}

.alt-cat-questions {
  padding-left: 6.4%;
  padding-right: 6.4%;
  font-family: 'Helvetica', sans-serif;
    color: #222;
    display: block;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.49;
    margin-bottom: 20px;
}

.comparison-block {
     vertical-align: top; 
      display: inline-block; 
      width:49%; 
      height: auto;
    }
    
@media (max-width: 800px) {
    .comparison-block {
      width: 100%;
      margin-bottom: 10px;
    }
  }


@media (max-width: 750px) {
.alt-cat-header {
  height: 400px;
  background-size: 900px;
  background-position: center top;
}

.alt-cat-header h1 {
  font-size: 4.5rem;
  width: 95%;
  padding: 0px;
  padding-bottom: 15px;
  padding-top: 60px;
}

.alt-cat-meta {
  padding: 10px;
  padding-top: 0px;
  text-align: center;
}

.alt-cat-header-overlay {
  height: 100%;
}

.entry-img {
  width: 100%;
}

.entry-text {
  width: 100%;
  margin-left: 0px;
}

..alt-cat-post {
  margin: 14px;
  padding: 18px;
}
}



.table-background{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
  width: 115%;
    margin-left: -6.4%;
    margin-right: -6.4%;
}

.table-background h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

#content-main ul li, #content-main ol li {
    margin-left: 20px;
}
    
