﻿@charset "utf-8";
/*public head/footer set style*/
 body a{
     outline:none;
 }
 html,body{margin:0;padding:0;}
.cui_hd a, .cui_nav a, #base_ft a {
    text-decoration: none;
}
.cui_hd a:hover, .cui_nav a:hover, #base_ft a:hover {
    text-decoration: underline;
}
.cui_hd ul, .cui_hd ul li, #base_ft ul {
    list-style: none;
}
.cui_hd img, #base_ft img {
    border: none;
    display: inline-block;
}
/*button style*/
.basebtns_01 {
    width: 100%;
    height: 35px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: 1px solid #d5790a;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffba14;
    font-weight: bold;
    text-shadow: 1px 1px 0 #e57c00;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.4em;
    text-indent: 0.4em;
    *text-indent: 0;
}
.basebtns_01:hover {
    background-color: #ff9914;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 5px #fb0 inset;
}
/*css sprite*/
.cui_hd .language_list a, .cui_hd .ico-langen, .cui_hd .ico-langgb, .cui_hd .ico-global, .cui_hd .ico-langhant, .cui_hd .cui_tel b, .cui_hd .myctrip b.arrow, .cui_hd .cui_myctrip, .cui_hd .cui_weibo, .cui_hd .cui_lang b, .cui_hd .cui_lang_hover b, #cui_lang_bottom a,
.cui_myctrip_log .badge, .cui_myctrip_log .myctrip a b.arrow,.cui_ico_app,.cui_ico_chatarrow,.cui_ico_wechat,
.cui_ico_tips,
.cui_search button,
.cui_hd .language b.arrow,
.cui_service b.arrow {
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_header_footer20160610.png);
    background-repeat: no-repeat;
}
.cui_wireless .wireless,
.cui_wireless_type dt,
.cui_wireless_msg i,
.cui_wireless_code,
.cui_link_app i,
.cui_input_close {
    background: url(//pic.c-ctrip.com/common/un_wireless_140722.png) 0 -9999em no-repeat;
}
/* search list diamonds */
.cui_diamond01, .cui_diamond02, .cui_diamond03, .cui_diamond04, .cui_diamond05, .cui_diamond06, .cui_diamond01_half, .cui_diamond02_half, .cui_diamond03_half, .cui_diamond04_half, .cui_diamond05_half, .cui_diamond06_half, .cui_star01, .cui_star02, .cui_star03, .cui_star04, .cui_star05 {
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_search.png);
    background-repeat: no-repeat;
}
.cui_diamond01, .cui_diamond02, .cui_diamond03, .cui_diamond04, .cui_diamond05, .cui_diamond06, .cui_diamond01_half, .cui_diamond02_half, .cui_diamond03_half, .cui_diamond04_half, .cui_diamond05_half, .cui_diamond06_half, .cui_star01, .cui_star02, .cui_star03, .cui_star04, .cui_star05 {
    display: inline-block;
    height: 12px;
    overflow: hidden;
    _margin-bottom: 4px;
}
.cui_diamond01, .cui_diamond02, 
.cui_diamond03, .cui_diamond04, 
.cui_diamond05, .cui_diamond06 {
    background-position: 0 -268px;
}
.cui_diamond01 { width: 12px;}
.cui_diamond02 { width: 24px;}
.cui_diamond03 { width: 36px;}
.cui_diamond04 { width: 48px;}
.cui_diamond05 { width: 60px;}
.cui_diamond06 { width: 72px;}
.cui_diamond01_half { width: 11px;}
.cui_diamond02_half { width: 23px;}
.cui_diamond03_half { width: 35px;}
.cui_diamond04_half { width: 47px;}
.cui_diamond05_half { width: 59px;}
.cui_diamond06_half { width: 71px;}
.cui_diamond01_half { background-position: -72px -268px;}
.cui_diamond02_half { background-position: -60px -268px;}
.cui_diamond03_half { background-position: -48px -268px;}
.cui_diamond04_half { background-position: -36px -268px;}
.cui_diamond05_half { background-position: -24px -268px;}
.cui_diamond06_half { background-position: -12px -268px;}
/* stars */
.cui_star01, .cui_star02, .cui_star03, .cui_star04, .cui_star05 { background-position: 0 -285px;}
.cui_star01 { width: 10px;}
.cui_star02 { width: 21px;}
.cui_star03 { width: 32px;}
.cui_star04 { width: 43px;}
.cui_star05 { width: 54px;}
/*直通车图标
*二级导航右侧图标
*我携拓展订单图标
*/
.cui-icon-flight,
.cui-icon-hotel,
.cui-icon-train,
.cui-icon-bus,
.cui-icon-boat,
.cui-icon-car,
.cui-icon-vacations,
.cui-icon-ticket,
.cui-icon-huodong,
.cui-icon-insurance,
.cui-icon-HHtravel,
.cui-icon-wifi,
.cui-icon-visa,
.cui-icon-outboundtravel,
.cui-icon-taocan,
.cui-icon-card,
.cui-icon-g,
.cui-icon-tuan,
.cui-icon-standby {
    display: inline-block;
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_icon_index_type.png);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}

.cui-icon-flight { background-position: 0 0;}    /*机票*/
.cui-icon-hotel {  background-position: -26px 0;}  /*酒店*/
.cui-icon-train {  background-position: -52px 0;}  /*火车票*/
.cui-icon-bus {background-position: -78px 0;}  /*汽车票*/
.cui-icon-boat {   background-position: -104px 0;}     /*船票*/
.cui-icon-car {width: 17px;    background-position: -130px 0;}  /*用车*/
.cui-icon-vacations {  background-position: 0 -26px;}    /*旅游*/
.cui-icon-ticket { background-position: -26px -26px;}    /*门票*/
.cui-icon-huodong {background-position: -52px -26px;}    /*玩乐*/
.cui-icon-insurance {  background-position: -78px -26px;}   /*保险*/
.cui-icon-HHtravel {   background-position: -104px -26px;}   /*HHtravel*/
.cui-icon-wifi {   background-position: -130px -26px;}   /*wifi*/
.cui-icon-visa {   background-position: 0 -52px;}   /*签证*/
.cui-icon-outboundtravel { background-position: -26px -52px;}   /*出境游*/
.cui-icon-taocan { background-position: -52px -52px;}   /*酒+景*/
.cui-icon-card {   background-position: -78px -52px;}   /*礼品卡*/
.cui-icon-g {  background-position: -104px -52px;}   /*全球购*/
.cui-icon-tuan {   background-position: -130px -52px;}   /*团购*/
.cui-icon-standby {background-position: 0 -78px;}  /*保底*/


/*
    头部右上角
    手机APP二维码
    携程订阅号二维码
*/
.cui_ico_app,
.cui_ico_wechat,
.cui_ico_wechat2{
    display: inline-block;
    width: 20px;
}
.cui_ico_app{height: 17px;background-position:0  -56px;}
.active .cui_ico_app,.active .cui_ico_app:hover,.cui_ico_app:hover{background-position:0  -78px;}
.cui_ico_wechat{height:17px;background-position: -20px -55px;margin-top: 0;}
.cui_ico_wechat_gif{background:url(//pic.c-ctrip.com/platform/online/home/ico_wechat.png) no-repeat 0 0;
-webkit-animation: wechat 2s ease-out 1s  5 ;
-o-animation: wechat 2s ease-out 1s  5 ;
animation: wechat 2s ease-out 1s  5 ;
}
@keyframes  wechat{
    0%{margin-top:0;}
    10%{margin-top:-4px;}
    20%{margin-top:0;}
    30%{margin-top:-3px;}
    40%{margin-top:0;}
    100%{margin-top:0;}
}
@-webkit-keyframes  wechat{
    0%{margin-top:0;}
    10%{margin-top:-4px;}
    20%{margin-top:0;}
    30%{margin-top:-3px;}
    40%{margin-top:0;}
    100%{margin-top:0;}
}

.active .cui_ico_wechat,.active .cui_ico_wechat:hover,.cui_ico_wechat:hover,
.active .cui_ico_wechat_gif,.active .cui_ico_wechat_gif:hover,.cui_ico_wechat_gif:hover{height:17px;background:url(//pic.c-ctrip.com/platform/online/home/ico_wechat.png) no-repeat 0 0;margin-top: 0;}
.cui_ico_chatarrow{
    width: 13px;
    height: 9px;
    background-position: 0 -271px;
}

/* header */
.cui_hd_cont {
    background: #fff;
    *zoom: 1;
}
.cui_hd, .cui_nav {
    _width: 1180px;
}
.cui_hd {
    position: relative;
    z-index: 26;
    min-width: 980px;
    max-width: 1180px;
    height: 65px;
    margin: 0 auto;
}
.cui_hd .ctriplogo {
    position: relative;
    z-index: 10;
    display: inline-block;
    width: 126px;
    height: 43px;
    margin: 11px 0;
    overflow: hidden;
}
.cui_hd .ctriplogo a {
    display: block;
    width: 126px;
    height: 43px;
    background: url(//pic.c-ctrip.com/common/c_logo2013.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}
/* doddle */
/*.cui_tourism_festival {
    position: absolute;
    width: 592px;
    height: 59px;
    bottom: 0;
    left: 117px;
    background: url(//pic.c-ctrip.com/platform/online/home/pic_doodle_october.jpg) 0 0 no-repeat;
}
.cui_doudle_newyear {
    width: 1180px;
    height: 65px;
    margin: -65px auto 0;
    background: url(//pic.c-ctrip.com/platform/online/home/cui_doudle_newyear.jpg) 115px 0 no-repeat;
}
.cui_doudle_march{
    width: 1180px;
    height: 65px;
    margin: -65px auto 0;
    background: url(//pic.c-ctrip.com/platform/online/home/pic_doodle_march.jpg) 15px 0 no-repeat;
}
/* 春节气氛 */
/*.festival-ui .cui_doudle_newyear{
    background: url(//pic.c-ctrip.com/platform/online/home/festival.gif) 90px 0 no-repeat;
}
.festival-ui .cui_hd .cui_search{
    left:324px;
}*/
.cui_doudle_disny{
    width: 1180px;
    height: 65px;
    margin: -65px auto 0;
    background: url(//pic.c-ctrip.com/platform/online/home/pic_doodle_disny.jpg) 0 0 no-repeat;
}
/* cui_search */
.cui_hd .cui_search {
    position: absolute;
    top: 18px;
    left: 170px;
    z-index: 100;
    width: 28%;
    font-family: "Microsoft Yahei", Tahoma;
}
.cui_hd .cui_search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 28px;
    padding: 0 45px 0 5px;
    line-height: 28px \9;
    font-size: 12px;
    font-family: "Microsoft Yahei", Tahoma;
    border: 1px solid #8ebefc;
    box-shadow: 2px 2px 1px 0 rgba(164, 203, 255, 0.25) inset;
    outline: 0 none;
}
.cui_hd .cui_search input[type="text"] {
    border-radius: 4px;
}
.cui_hd .cui_search input:focus {
    border-color: #2577e3;
    box-shadow: 1px 1px 0 0 rgba(146, 187, 241, 1) inset;
}
.cui_hd .cui_search button {
    position: absolute;
    top: 1px;
    right: -51px;
    width: 42px;
    height: 28px;
    cursor: pointer;
    border: 0 none;
    background-color: #a4cbff;
    background-position: -52px -603px;
    border-radius: 0;
}
.cui_hd .cui_search button:hover, .cui_hd .cui_search input:focus + button:hover {
    background-color: #299cff;
    background-position: -52px -653px;
}
.cui_hd .cui_search input:focus + button {
    background-color: #2b82f4;
    background-position: -52px -628px;
}
.cui_hd .cui_search_list {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 100;
    width: 380px;
    overflow: hidden;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 1px;
    font-size: 12px;
}
.cui_hd .cui_search_list div {
    padding: 6px 10px 4px;
    color: #999;
}
.cui_hd .cui_search_list .search_split {
    margin: 0 4px;
    padding: 6px 6px 4px;
    border-top: 1px dotted #999;
}
.cui_hd .cui_search_list a {
    display: block;
    padding: 5px 20px 5px 34px;
    text-indent: -25px;
    font-size: 12px;
    color: #333;
    word-break: break-all;
}
.cui_hd .cui_search_list a .first_item {
    display: block;
    padding-right: 15px;
    color: #333;
}
.cui_hd .cui_search_list a strong {
    font-weight: normal;
    color: #06c;
}
.cui_hd .cui_search_list a span {
    color: #999;
}
.cui_hd .cui_search_list .history_link {
    position: relative;
    padding-left: 10px;
    padding-right: 40px;
    text-indent: 0;
}
.cui_hd .cui_search_list a .history_del {
    display: none;
    position: absolute;
    *top: 6px;
    right: 10px;
    cursor: pointer;
}
.cui_hd .cui_search_list a:hover {
    text-decoration: none;
    cursor: pointer;
}
.cui_hd .cui_search_list .hover {
    text-decoration: none;
    color: #fff;
    background-color: #2577e3;
}
.cui_hd .cui_search_list .hover strong {
    color: #fff;
}
.cui_hd .cui_search_list .hover span {
    color: #fff;
}
.cui_hd .cui_search_list .hover .history_del {
    display: inline;
}
.cui_hd .cui_search_list .search_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 32px;
    padding: 0;
    line-height: 32px;
    text-align: center;
    text-indent: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: Simsun;
    color: #666;
    *background-color:;
}
.cui_hd .cui_search_list .search_close:hover {
    color: #ffa800;
    background-color: transparent;
}
.cui_hd .cui_search_list i {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: -6px;
    *vertical-align: 0;
    background-image: url(//pic.c-ctrip.com/platform/online/home/un_search.png);
    background-repeat: no-repeat;
    padding: 0;
}
.cui_hd .cui_search_list .ico_location {background-position: 0 0;}
.cui_hd .cui_search_list .hover .ico_location {background-position: -20px 0;}
.cui_hd .cui_search_list .ico_hotel {background-position: 0 -20px;}
.cui_hd .cui_search_list .hover .ico_hotel {background-position: -20px -20px;}
.cui_hd .cui_search_list .ico_flight {background-position: 0 -40px;}
.cui_hd .cui_search_list .hover .ico_flight {background-position: -20px -40px;}
.cui_hd .cui_search_list .ico_train {background-position: 0 -60px;}
.cui_hd .cui_search_list .hover .ico_train {background-position: -20px -60px;}
.cui_hd .cui_search_list .ico_vacation {background-position: 0 -80px;}
.cui_hd .cui_search_list .hover .ico_vacation {background-position: -20px -80px;}
.cui_hd .cui_search_list .ico_scenicHotel {background-position: -40px 0;}
.cui_hd .cui_search_list .hover .ico_scenicHotel {background-position: -60px 0;}
.cui_hd .cui_search_list .ico_destination {background-position: 0 -100px;}
.cui_hd .cui_search_list .hover .ico_destination {background-position: -20px -100px;}
.cui_hd .cui_search_list .ico_ticket {background-position: 0 -120px;}
.cui_hd .cui_search_list .hover .ico_ticket {background-position: -20px -120px;}
.cui_hd .cui_search_list .ico_tuan {background-position: 0 -140px;}
.cui_hd .cui_search_list .hover .ico_tuan {background-position: -20px -140px;}
.cui_hd .cui_search_list .ico_gs {background-position: 0 -160px;}
.cui_hd .cui_search_list .hover .ico_gs {background-position: -20px -160px;}
.cui_hd .cui_search_list .ico_food {background-position: 0 -180px;}
.cui_hd .cui_search_list .hover .ico_food {background-position: -20px -180px;}
.cui_hd .cui_search_list .ico_shopping {background-position: 0 -200px;}
.cui_hd .cui_search_list .hover .ico_shopping {background-position: -20px -200px;}
.cui_hd .cui_search_list .ico_play {background-position: 0 -220px;}
.cui_hd .cui_search_list .hover .ico_play {background-position: -20px -220px;}
.cui_hd .cui_search_list .ico_car {background-position: -40px -20px;}
.cui_hd .cui_search_list .hover .ico_car {background-position: -60px -20px;}

/*new search wj*/
.cui_hd .cui_search_list div.search_list_history {
    padding: 0;
    border-bottom: 1px dotted #ccc;
}
.cui_hd .search_list_history a strong {color: #333;}
.cui_hd .cui_search_list .ico_history {background-position: 0 -240px;}
.cui_hd .cui_search_list a.hover .ico_history {background-position: -20px -240px;}
.cui_hd .cui_search_list div.search_list_hotel {
    position: relative;
    padding: 5px 10px 5px 34px;
    height: 30px;
    color: #333;
    cursor: pointer;
}
.cui_hd .cui_search_list div.search_list_vacation {
    position: relative;
    padding: 5px 10px 5px 34px;
    height: auto;
    color: #333;
    cursor: pointer;
}
.cui_hd .search_list_hotel i, .search_list_vacation i {
    position: absolute;
    left: 9px;
}
.cui_hd .search_hotel_name {
    margin: 0;
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cui_hd .search_hotel_name span {
    color: #999;
}
.cui_hd .search_hotel_name strong {
    font-weight: normal;
    color: #06c;
}
.cui_hd .search_list_hotel .search_hotel_grade {
    display: block;
}
.cui_hd .search_hotel_price {
    position: absolute;
    right: 18px;
    top: 4px;
    color: #f60;
    font-family: arial;
}
.cui_hd .search_hotel_price dfn {
    font-style: normal;
    color: #333;
    font-family: arial;
}
.cui_hd .search_hotel_price span {
    color: #999;
}
.cui_hd .search_hotel_notes {
    position: absolute;
    right: 18px;
    top: 18px;
    color: #999;
}
.cui_hd .search_hotel_notes span {
    margin-left: 5px;
    color: #333;
}
.cui_hd .cui_search_list .hover .search_hotel_name,
.cui_search_list .hover .search_hotel_price dfn {
    color: #fff;
}
/* stars and diamonds hover*/
.cui_search_list .hover .cui_diamond01,
.cui_search_list .hover .cui_diamond02,
.cui_search_list .hover .cui_diamond03,
.cui_search_list .hover .cui_diamond04,
.cui_search_list .hover .cui_diamond05,
.cui_search_list .hover .cui_diamond06 {
    background-position: 0 -298px;
}
.cui_search_list .hover .cui_diamond01_half {background-position: -72px -298px;}
.cui_search_list .hover .cui_diamond02_half {background-position: -60px -298px;}
.cui_search_list .hover .cui_diamond03_half {background-position: -48px -298px;}
.cui_search_list .hover .cui_diamond04_half {background-position: -36px -298px;}
.cui_search_list .hover .cui_diamond05_half {background-position: -24px -298px;}
.cui_search_list .hover .cui_diamond06_half {background-position: -12px -298px;}
.cui_search_list .hover .cui_star01,
.cui_search_list .hover .cui_star02,
.cui_search_list .hover .cui_star03,
.cui_search_list .hover .cui_star04,
.cui_search_list .hover .cui_star05 {
    background-position: 0 -315px;
}
/*nav-bar*/
.cui_hd .nav-bar {
    position: absolute;
    right: 0;
    top: 0;
    _width: 465px;
    font-family: Arial, tahoma, verdana, "Microsoft YaHei", Simsun, sans-serif;
    color: #4c4c4c;
    font-size: 12px;
}
.cui_hd .nav-bar ul.service_1180 {
    border-right: none;
}
.cui_hd .nav-bar,
.cui_hd .nav-bar a {
    color: #4c4c4c;
}
.cui_hd .nav-bar .language,
.cui_hd .nav-bar .cui_service,
.cui_hd .nav-bar .cui_wireless {
    float: left;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    margin: 23px 0 0 0;
    border-right: 1px solid #b2b2b2;
}
.cui_hd .nav-bar .language {
    padding-right: 0px;
}
.cui_hd .nav-bar .cui_wireless {
    border-right: none;
    padding: 0;
    margin-left: 13px;
}
.cui_hd .nav-bar .cui_wireless li{
    float: left;
    margin-right: 7px;
}
.cui_hd .nav-bar .cui_wireless a.wireless_link{cursor: pointer;}
.cui_hd .nav-bar .cui_wireless a.wireless_nolink{cursor: default;position: relative;}
/*=myctrip*/
.cui_hd .language b.arrow,
.cui_hd .cui_service b.arrow {
    display: inline-block;
    width: 9px;
    height: 5px;
    vertical-align: middle;
    margin-left: 5px;
    overflow: hidden;
    background-position: -63px -260px;
}
.cui_hd .language a:hover b.arrow,
.cui_hd .language_current b.arrow {
    background-position: -0px -260px;
}
.cui_hd .cui_service a:hover b.arrow,
.cui_hd .service_current b.arrow {
    background-position: -22px -260px;
}
.cui_hd .drowndrop, .cui_nav .drowndrop {
    display: none;
    position: absolute;
    z-index: 10;
    top: 22px;
    right: 0;
    background: #fff;
}
.cui_hd .language li .selected,
.cui_hd .cui_service li .service_tel {
    display: inline-block;
    padding: 3px 3px 0 3px;
    margin-top: -10px;
    color: #4c4c4c;
    font-size: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
}
.cui_hd .language li .selected span,
.cui_hd .cui_service li .service_tel span {
    position: relative;
    z-index: 112;
    display: inline-block;
    padding: 6px 5px 6px 9px;
    *padding: 6px 5px 3px 9px;
    margin: 1px 1px -2px;
}
.cui_hd .language li .language_current,
.cui_hd .cui_service li .service_current,
.cui_hd .language li .selected:hover,
.cui_hd .cui_service li .service_tel:hover {
    background: #e4e7eb;
    text-decoration: none;
    cursor: pointer;
    color: #4c4c4c;
    font-size: 12px;
}
.cui_hd .language li .language_current span,
.cui_hd .cui_service li .service_current span,
.cui_hd .language li .selected:hover span,
.cui_hd .cui_service li .service_tel:hover span {
    background-color: #fff;
    border: 1px solid #b8b8b8;
    border-bottom: none;
    margin: 0px;
}
.cui_hd .cui_wireless_box,
.cui_hd .language_wrap,
.cui_hd .service_wrap {
    top: 17px;
    *top: 14px;
    left: 0;
    right: auto;
    height: auto;
    background: #e4e7eb;
    padding: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
}
.cui_hd .service_wrap{
    right: 0;
    left:auto;
    +right:-9px;
}
/*=Language*/
.cui_hd .nav-bar ul.language {
    padding: 0;
    _overflow: hidden;
}
.cui_hd .language li {
    position: relative;
    z-index: 31;
}
.cui_hd .language li .selected em.ico-langen,
.cui_hd .language li .selected em.ico-langgb,
.cui_hd .language li .ico-global,
.cui_hd .language li .selected em.ico-langhant {
    display: inline-block;
    width: 19px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
}
.cui_hd .cui_service li .service_tel span {
    padding-left: 5px;
}
.cui_hd .language_list {
    border: 1px solid #b8b8b8;
    background: #fff;
    padding: 0 10px 0 0;
    margin: 0;
    width: 148px;
}
.cui_hd .language_list li {
    width: 140px;
    margin: 0 9px;
    line-height: 20px;
    height: 20px;
    padding: 4px 0;
    border-bottom: 1px dotted #e4e7eb;
}
.cui_hd .language_list li:hover {
    background: #f5f5f5;
}
.cui_hd .language_list li.first {
    border-top: 1px dotted #e4e7eb;
    *float: left;
    _margin-left: 4px;
}
.cui_hd .language_list li.last {
    border-bottom: none;
}
.cui_hd .language_list li a {
    font-family: Arial, tahoma, verdana, "Microsoft YaHei", Simsun, sans-serif;
    white-space: nowrap;
    display: block;
    padding-left: 25px;
    color: #4c4c4c;
    height: 0;
    padding-top: 20px;
    line-height: 20px;
    overflow: hidden;
}
.cui_hd .ico-langen {
    background-position: -61px -471px;
    _background-position: -61px -469px;
}
.cui_hd .ico-langgb {background-position: 0 -19px;}
.cui_hd .language li .ico-global {margin-top:-2px;height:16px;background-position: -64px 0;}
.cui_hd .ico-langhant {background-position: 0 0;}
.cui_hd .language_hk {background-position: 0 -315px;line-height: 22px;}
.cui_hd .language_en {background-position: -61px -467px;}
.cui_hd .language_gb {background-position: 0 -16px;}
.cui_hd .language_big5 {background-position: 0 3px;}
.cui_hd .language_en em.ico-langen {background-position: -61px -471px;_background-position: -61px -469px;}
.cui_hd .language_jap {background-position: 0 -430px;}
.cui_hd .language_korea {background-position: 0 -449px;}
.cui_hd .language_de {background-position: -61px -485px;}
.cui_hd .language_fr {background-position: -61px -503px;}
.cui_hd .language_es {background-position: -61px -520px;}
.cui_hd .language_ru {background-position: 0 -35px;}
.cui_hd .language_vn {background-position: 0px -411px;}
.cui_hd .language_sg {background-position: 0px -392px;}
.cui_hd .language_id {background-position: 0px -373px;}
.cui_hd .language_my {background-position: 0px -353px;}
.cui_hd .language_th {background-position: 0px -335px;}

.cui_hd .language_list li a.language_hk, .cui_hd .language_list li a.language_big5, .cui_hd .language_list li a.language_gb, .cui_hd .language_list li a.language_en, .cui_hd .language_list li a.language_es, .cui_hd .language_list li a.language_de, .cui_hd .language_list li a.language_fr, .cui_hd .language_list li a.language_sg, .cui_hd .language_list li a.language_id, .cui_hd .language_list li a.language_my {
    font: 12px/20px "Microsoft yahei", tahoma, arial, sans-serif;
    color: #4c4c4c;
    height: 20px;
    padding-top: 0;
}
.cui_hd .language_list li a:hover {
    text-decoration: none;
}
/*客服电话*/
/*.cui_hd .service_wrap {
    right: 0;
    +right:-9px;
    left: auto;
}*/
.cui_hd .service_telnum {
    color: #06c;
    font-style: normal;
}
.cui_hd .service_telnum .time{
    position:initial;
    color:#999;
    font-style: normal;
}
.cui_hd .cui_service li .service_tel span.time{
    padding: 0;
    border: 0;
    margin: 0;
}
.cui_hd .service_tel b.arrow {
    background-position: -22px -264px;
}
.cui_hd .service_tel a:hover b.arrow, .cui_hd .service_current b.arrow {
    background-position: -22px -259px;
}
.cui_hd .cui_service li {
    position: relative;
    z-index: 30;
}
.cui_hd .cui_service li a {
    color: #4c4c4c;
    font-size: 12px;
}
.cui_hd .cui_service li .service_tel {
    margin-left: -9px;
    color: #4c4c4c;
    font-size: 12px;
}
.cui_hd .service_list {
    min-width: 158px;
    padding: 0px 15px 3px 15px;
    margin: 0;
    border: solid 1px #b8b8b8;
    background: #fff;
}
.cui_hd .service_list li dl {
    margin: 0;
    padding: 0;
    line-height: 20px;
    margin-top: 2px;
    *margin-top: -5px;
}
.cui_hd .service_list li dt {
    color: #ccc;
    text-align: right;
}
.cui_hd .service_list li dd {
    margin: 0;
    padding: 0;
    text-align: right;
    line-height: 23px;
    white-space: nowrap;

}
.cui_hd .service_list li dd em {
    color: #06c;
    font-style: normal;
}
.cui_hd .service_list li dd em .time{
    color:#999;
    font-style:normal;
}
.cui_hd .service_list li a {
    color: #06c;
}
.cui_hd .nav-bar ul.service_1180 {
    border-right: none;
    padding-right: 0;
}

/*头部微信订阅号、手机APP下载*/
.cui_hd .cui_wireless li {
    display: block;
    width: 20px;
    height: auto;
}
.cui_hd .cui_wireless_hover {
    display: block;
}
/*头部微信订阅号、手机APP下载hover内容*/
.cui_hd .cui_wireless_box {
    display: none;
    position: absolute;
    right: 0;
    left:auto;
    top: 46px;
    width: 156px;
    height: 218px;
    z-index: 100;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}
.cui_hd .cui_wireless_box .cui_ico_chatarrow{
    position: absolute;
    z-index: 9;
    right: 8px;
    top: -5px;
}
.cui_hd .cui_wireless_inbox {
    position: relative;
    width: 154px;
    height: 216px;
    border: 1px solid #b8b8b8;
    background-color: #fff;
    cursor: default;
}
.cui_hd .cui_wireless_box:hover {
    display: block;
}
.cui_hd .cui_wireless_type {
    margin: 18px 0 0;
    *zoom: 1;
    text-align: center;
}
.cui_hd .cui_wireless_type:after {
    content: '\0020';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.cui_hd .cui_wireless_type dt {
    margin-bottom: 15px;
    color:#3882e5;
    text-align: center;
}
.cui_hd .cui_wireless_type dd {
    margin: 0 auto 18px;
    text-align: center;
}
/*.cui_hd .cui_input_box {
    position: relative;
    margin: 0 0 7px 0;
}
.cui_hd input.cui_wireless_input {
    width: 144px;
    padding: 0 3px;
    border-color: #bbb #ddd #ddd #bbb;
    border-style: solid;
    border-width: 1px;
    height: 28px;
    font: 14px/28px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
    outline: none;
    color: #333;
    box-shadow: 1px 1px 1px #ddd inset;
}
.cui_hd .cui_wireless_input:focus {
    border-color: #67a1e2;
    box-shadow: none;
}
.cui_hd .cui_wireless_input::-ms-clear {
    display: none;
}
.cui_hd .cui_input_error {
    background-color: #fff7d9;
    border-color: #d80000;
}
.cui_hd .cui_input_close {
    position: absolute;
    top: 1px;
    left: 128px;
    width: 24px;
    height: 30px;
    background-position: -78px -44px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -99em;
}*/
.cui_hd .cui_wireless_btn, .cui_hd .cui_wireless_btn_disabled {
    display: block;
    margin-top: 10px;
    width: 150px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-size: 14px;
    font-family: SimSun, Tahoma, Verdana, Arial;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 1px 0 rgba(204, 204, 204, 0.7);
    border-radius: 3px;
    *filter: chroma(color=#000);
    overflow: visible;
}
.cui_hd input.cui_wireless_btn {
    text-shadow: 1px 1px 0 #cf7000;
    background-color: #ffb000;
    border: solid 1px #e77c00;
    color: #fff;
}
.cui_hd input.cui_wireless_btn:hover {
    background-color: #ff8400;
    border-color: #de7800;
}
.cui_hd input.cui_wireless_btn_disabled {
    color: #999;
    background-color: #efefef;
    border: solid 1px #ccc;
    font-size: 12px;
    font-weight: normal;
    cursor: default;
}
.cui_hd input.cui_wireless_btn_disabled:hover {
    text-decoration: none;
}
.cui_hd .cui_wireless_msg {
    position: absolute;
    padding: 5px 5px 5px 20px;
    font-family: Simsun;
    font-size: 12px;
    line-height: 16px;
    color: #333;
    overflow: hidden;
    *zoom: 1;
    white-space: nowrap;
}
.cui_hd .cui_wireless_msg i {
    float: left;
    margin-left: -20px;
    width: 16px;
    height: 16px;
    margin-top: -1px \0;
    *margin-top: -1px;
}
.cui_hd .cui_wireless_msg i.cui_ico_s {
    background-position: -60px -50px;
}
.cui_hd .cui_wireless_msg i.cui_ico_w {
    background-position: -60px -70px;
}
.cui_hd .cui_wireless_code {
    display: block;
    width: 104px;
    height: 104px;
    background-position: 0 -110px;
    margin: 0 auto;
}
.cui_hd .cui_link_app {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
}
.cui_hd .cui_link_app i {
    display: inline-block;
    margin-left: 5px;
    font-family: 'Simsun';
    font-style: normal;
}
/*.cui_hd .cui_wireless_hover a.wireless i {
    border: 5px solid #fff;
    border-bottom-color: #ff5613;
    border-top: 0 none;
}*/
.train_hd .nav-bar {
    _width: 350px;
}
.train_hd .service_list li dd {
    /*padding-top: 8px;*/
}
/* verification added by dulh 20150415 */
.cui_wireless_waring {
    position: relative;
    height: 16px;
    margin-top: -8px;
    padding-bottom: 8px;
}
.cui_input_box .img-verifi {
    width: 83px;
    height: 24px;
    border: 1px solid #070808;
    margin-right: 5px;
    vertical-align: middle;
}
.cui_input_box .change {
    color: #06c;
}
/*cncorp wireless*/
.cncorp_hd .nav-bar .cui_wireless {
    margin-top: 0;
}
.cncorp_hd .cui_wireless .wireless {
    top: 0;
    bottom: 0;
    margin: 0;
    padding-right: 0;
    width: 197px;
    height: 59px;
}
.cncorp_hd .cui_wireless a.wireless {
    display: block;
    padding: 0;
    width: 197px;
    height: 59px;
    background:url(//pic.c-ctrip.com/common/un_wireless_140722.png)  0 -224px no-repeat;
}
.cncorp_hd .cui_wireless a.wireless i {
    top: auto;
    bottom: 3px;
    right: 130px;
    border-top-color: #06c;
}
.cncorp_hd .cui_wireless_box {
    padding: 0;
    top: 59px;
    right: 0;
    width: 210px;
}
.cncorp_hd .cui_wireless_inbox {
    width: 204px;
    border-color: #2577e3;
    text-align: center;
}
.cncorp_hd .cui_wireless_close {
    position: absolute;
    top: 4px;
    right: 3px;
    width: 35px;
    height: 30px;
    font: bold 23px SimSun;
    color: #a9a9a9;
}
.cncorp_hd .cui_wireless_title {
    margin-bottom: 25px;
    color: #155ebd;
    font-family: "Microsoft yahei";
    line-height: 1.4;
}
.cncorp_hd .cui_wireless_code {
    display: inline-block;
    margin-bottom: 30px;
    background: none;
    *display: inline;
    *zoom: 1;
}
.cncorp_hd .cui_link_app {
    margin-top: -2px;
}
.cncorp_hd .cui_wireless_hover a.wireless i {
    border: 5px solid #fff;
    border-bottom-color: #06c;
    border-top: 0 none;
}
/*=nav-background*/
#cui_nav {
    font-family: 'microsoft yahei', Arial, sans-serif;
    text-align: left;
    font-size: 12px;
    width: 100%;
}
.base_nav {
    width: 100%;
    height: 40px;
    background-color: #2577e3;
    margin: 0 auto 54px;
}
.cui_nav_single .base_nav {
    margin-bottom: 10px;
}
.cui_nav_single .base_nav_pages {
    margin-bottom: 0;
}
/* pages no margin */
/*=nav*/
.cui_nav {
    position: relative;
    z-index: 25;
    min-width: 980px !important;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background-color: #2577e3;
}
.cui_nav li {
    float: left;
    display: inline-block;
    height: 40px;
    _float: none;
    _display: inline;
    _zoom: 1;
    _vertical-align: top;
}
.cui_nav li a {
    font-size: 15px;
    transition: all 0.2s ease 0s;
}
.cui_nav li a.cui_nav_has,
.cui_nav li a.cui_nav_non {
    position: relative;
    display: block;
    height: 40px;
    padding: 0 8px;
    color: #fff;
    _float: left;
    cursor: pointer;
}
.cui_nav li.divider {
    width: 1px;
    height: 14px;
    padding-left: 0;
    margin: 13px 0 0;
    background-color: #1d67dd;
    clear: none;
    border: none;
}
.cui_nav li a.cui_nav_non:hover,
.cui_nav li a.cui_nav_has:hover,
.cui_nav li.cui_nav_current a.cui_nav_has,
.cui_nav li.cui_nav_current a.cui_nav_non,
.cui_nav li.cui_nav_current.cui_nav_unhover {
    background: #0a56bb;
    text-decoration: none;
}
.cui_nav li.cui_nav_o a.cui_nav_has:hover,
.cui_nav li.cui_nav_o a.cui_nav_non:hover {
    background-color: #2577e3;
}
/* point */
.cui_nav_has .point {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -7px;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    _color: #ff3fff;
    _filter: chroma(color=#ff3fff);
}
.cui_nav_current .point,
.cui_nav_o .point {
    display: inline-block;
}
.cui_nav_current.cui_nav_unhover .point {
    display: none;
}
/* label */
.label-cn,
.label-en {
    position: absolute;
    z-index: 9;
    right: 0px;
    top: -6px;
    display: inline-block;
    padding: 0 2px;
    height: 15px;
    line-height: 15px;
    background-color: #ff9913;
    color: #fff;
}
.cui_sub_nav .label-cn,
.cui_sub_nav .label-en {
    right: -9px;
}
.label-cn em,
.label-en em {
    display: inline-block;
    font-size: 9px;
    font-family: 'Tahoma', arial;
    font-style: normal;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.label-cn em {
    font-family: 'SimHei', STHeiti,'Microsoft yahei';
    font-size: 11px;
}
.label-en em {
    text-transform: uppercase;
}
:root .label-cn em,
:root .label-en em {
    font-size: 12px;
    vertical-align: 2px;
    -webkit-transform: scale(.75);
    -ms-transform: scale(.75);
    -o-transform: scale(.75);
    transform: scale(.75);
}
:root .label-cn em {
    -webkit-transform: scale(.92);
    -ms-transform: scale(.92);
    -o-transform: scale(.92);
    transform: scale(.92);
}
.label-cn .triangle,
.label-en .triangle {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #da620a transparent transparent #da620a;
}
.cui_nav_current.cui_nav_unhover .cui_subnav_wrap .label-cn,
.cui_nav_current.cui_nav_unhover .cui_subnav_wrap .label-en {
    display: none;
}
/*=nav-current*/
.cui_nav li i.cui_ico_triangle {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 3px solid #fff;
    border-bottom: 0 none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    _color: #ff3fff;
    _filter: chroma(color=#ff3fff);
    -webkit-transition: transform 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
}
.cui_nav li a:hover .cui_ico_triangle,
.cui_nav li.cui_nav_current .cui_ico_triangle,
.cui_nav li.cui_nav_o .cui_ico_triangle {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-bottom: 3px solid #fff;
    border-top: 0 none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    _color: #ff3fff;
    _filter: chroma(color=#ff3fff);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*=subnav*/
.cui_nav_current .cui_subnav_wrap,
.cui_nav_o .cui_subnav_wrap {
    display: block;
}
.cui_nav_o .cui_subnav_wrap {
    z-index: 10;
}
.cui_subnav_wrap {
    display: none;
    white-space: nowrap;
    position: absolute;
    z-index: 8;
    left: 0;
    top: 40px;
    line-height: 40px;
    color: #666;
    width: 100%;
    background-color: #fff;
}
.cui_nav_current .cui_subnav_wrap {
    display: block;
}
.cui_nav_current .cui_sub_nav {
    background: #fff;
}
.cui_sub_nav {
    width: auto !important;
    height: 37px;
    line-height: 37px;
    margin: 0;
    border: 1px solid #2577e3;
    border-top: none;
    font-size: 14px;
}
.cui_sub_nav:before, .cui_sub_nav:after {
    content: '\0020';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.cui_sub_nav li {
    position: relative;
    float: left;
    display: inline-block;
    height: auto;
    margin: 0 8px;
    color: #333;
    font-size: 14px;
}
.cui_sub_nav li a {
    color: #333;
    font-size: 14px;
}
.cui_sub_nav a:hover,
.cui_sub_nav a.cui_sub_current {
    color: #2577e3;
    text-decoration: none;
}
.cui_sub_nav li.divider {
    background-color: #ccc;
}
.cui_subnav_wrap .cui_ico_order {
    position: absolute;
    top: 10px;
    right: 18px;
    padding-left: 20px;
    background-position: -67px -542px;
    line-height: 18px;
    font-size: 14px;
    color: #333;
}
.cui_subnav_wrap .cui_ico_order:hover{color:#3983e5;text-decoration: none;}
.cui_ico_tips {
    position: absolute;
    right: 15px;
    top: 14px;
    display: inline-block;
    width: 25px;
    height: 13px;
    padding: 0 3px;
    overflow: hidden;
    background-position: -49px -590px;
    line-height: 13px;
    text-align: center;
    color: #de0808;
    font-family: 'Tahoma';
    font-size: 12px;
}
/*=sub-nav-margin*/
#cui_nav_vac .cui_sub_nav {
    padding-left: 0;
}
#cui_nav_hotel .cui_sub_nav,
#cui_nav_vac .cui_sub_nav {
    padding-left: 16px;
}
#cui_nav_flight .cui_sub_nav {
    padding-left: 16px;
}
#cui_nav_trains .cui_sub_nav {
    padding-left: 124px;
}
#cui_nav_car .cui_sub_nav {
    padding-left: 230px;
}
#cui_nav_tuan .cui_sub_nav {
    padding-left: 390px;
}
#cui_nav_g .cui_sub_nav {
    padding-left: 505px;
}
#cui_nav_lpk .cui_sub_nav {
    padding-left: 480px;
}
#cui_nav_sl .cui_sub_nav {
    padding-left: 617px;
}
#cui_nav_more .cui_sub_nav {
    padding-left: 800px;
}
#cui_nav_ticket .cui_sub_nav {
    padding-left: 346px;
}
#cui_nav_destination .cui_sub_nav {
    padding-left: 255px;
}
/*myctrip*/
li.cui_nav_myctrip {
    position: absolute;
    z-index: 25;
    right: 0;
    top: 0;
    width: 128px;
    height: 40px;
    padding: 0 5px 0 27px;
    background: #ff9913 url(//pic.c-ctrip.com/platform/online/home/un_header_footer20160610.png) no-repeat -59px -179px;
    color: #fff;
}
/*myctrip common*/
.cui_myctrip_log, .cui_myctrip_log li ul {
    margin: 0;
    padding: 0;
}
.cui_myctrip_log li {
    float: left;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.cui_myctrip_log li,
.cui_myctrip_log li a {
    color: #fff;
    font-size: 12px;
}
.cui_myctrip_log li.user {
    display: inline-block;
}
.cui_myctrip_log li.user p.user_name {
    width: 100px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cui_myctrip_log li.user p.user_level, .cui_myctrip_log li.user span.user_avatar {
    display: none;
}
.cui_myctrip_log li.logout {
    position: absolute;
    right: 5px;
    top: 0;
}
.cui_myctrip_log li.myctrip {
    float: left;
    width: 100%;
    margin-top: -2px;
    margin-left: -19px;
}
.cui_myctrip_log li.message {
    position: absolute;
    right: 3px;
    bottom: 2px;
}
.cui_myctrip_log li.message a.badge {
    display: block;
    height: 20px;
    background-position: -66px -52px;
    padding: 0 0 0 14px;
    font-weight: normal;
    border-radius: 0;
    background-color: #ff9913;
    text-shadow: none;
}
.cui_myctrip_log li.userLogin {
    padding-top: 1px;
    height: 18px;
}
.cui_myctrip_log li.userLogin span {
    font-size: 14px;
    padding: 0 5px;
}
.cui_myctrip_log li.userLogin {
    font-size: 12px;
    line-height: 1.5;
}
/*myctrip*/
.cui_myctrip_log li.myctrip a {
    font-size: 14px;
}
.cui_myctrip_log .myctrip a b.arrow {
    display: inline-block;
    width: 9px;
    height: 5px;
    vertical-align: middle;
    margin-left: 3px;
    overflow: hidden;
    background-position: -43px -264px;
}
.cui_myctrip_log .myctrip a:hover b.arrow, .cui_myctrip_log .myctrip a b.b_h {
    background-position: -43px -259px;
}
.cui_myctrip_log .cui_account {
    position: absolute;
    left: -1px;
    top: 40px;
    z-index: 10;
    border: 1px solid #c3c3c3;
    border-top: none;
    padding: 8px 14px 5px;
    margin: 0;
    width: 131px;
    background-color: #fff;
    color: #333;
    text-align: left;
    line-height: 1.5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.cui_myctrip_log .cui_account li {
    width: 100%;
    display: block;
    padding: 3px 0;
    clear: left;
    font-size: 12px;
    height: auto;
    line-height: 1.5;
}
.cui_myctrip_log .cui_account li.account_order ul {
    margin: 0;
    padding: 0;
}
.cui_myctrip_log .cui_account li a {
    color: #06c;
    font-size: 12px;
}
.cui_myctrip_log .cui_account li.divider {
    width: 100%;
    padding: 0;
    margin: 0 0 3px;
    height: 0;
    line-height: 0;
    border-bottom: 1px solid #c3c3c3;
    font-size: 0;
    background-color: #c3c3c3;
    overflow: hidden;
}
/* ========== common footer ========== */
#base_ft .honour_wrap, .honour_wrap {
    display: inline-block;
    padding-top: 10px;
    *display: inline;
    *zoom: 1;
    text-align: left;
}
#base_ft .honour_wrap a, .mod .honour_wrap a {
    float: left;
    margin: 0 5px;
    width: 88px;
    height: 32px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    font: 12px/32px Simsun;
    color: #666;
    overflow: hidden;
    text-indent: -99em;
    white-space: normal;
}
#base_ft .icon-gns,.mod .icon-gns, #base_ft .honour_wrap a, .honour_wrap a, .honour_wrap span,.footer .icon-code-wechat{
    background-image: url(//pic.c-ctrip.com/platform/online/home/phone_list20161031.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.mod .honour_wrap a, .mod .honour_wrap span {
    float: left;
    margin: 0 4px;
    width: 88px;
    height: 32px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    font: 12px/32px Simsun;
    color: #666;
    overflow: hidden;
    text-indent: -99em;
}
#base_ft .honour_wrap a:hover, .mod .honour_wrap a:hover {
    text-decoration: none;
}
#base_ft .honour_wrap .honour1, .mod .honour_wrap .honour1 {
    background-position: -88px -50px;
    text-indent: 36px;
}
#base_ft .honour_wrap .honour2, .mod .honour_wrap .honour2 {
    background-position: -88px -85px;
    text-indent: 36px;
}
#base_ft .honour_wrap .honour3, .mod .honour_wrap .honour3 {
    background-position: 0 -50px;
}
#base_ft .honour_wrap .honour4, .mod .honour_wrap .honour4 {
    background-position: -88px -118px;
    text-indent: 0;
    padding: 2px 0 2px 37px;
    width: 51px;
    height: 28px;
    line-height: 1.2;
}
#base_ft .honour_wrap .honour5, .mod .honour_wrap .honour5 {
    width: 116px;
    background-position: 0 -387px;
}
#base_ft .honour_wrap .honour6, .mod .honour_wrap .honour6 {
    background-position: 0 -118px;
}
#base_ft .honour_wrap .honour7, .mod .honour_wrap .honour7 {
    background-position: 0 -155px;
    width: 128px;
}
#base_ft .honour_wrap .honour8, .mod .honour_wrap .honour8 {
    background-position: 0 -193px;
    width: 90px;
}
.mod .honour_wrap .honour9 {
    background-position: 0 -350px;
    width: 102px;
}
#base_ft .icon-gns,.mod .icon-gns {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-position: 0 -235px;
    vertical-align: middle;
}
.footer .code-wechat{
    display: inline-block;
    width: 112px;
    height: 112px;
}
#base_ft .gns, .mod .gns {
    margin-top: 7px;
}
.mod.footer {
    padding:28px 0 30px 0;
    color: #666;
    margin-top: 0;
}
.mod.footer .footer-item {
    width: 210px;
    height: 150px;
    padding: 0 10px 0 40px;
    float: left;
    display: inline-block;
    border-left: 1px solid #dedede;
    margin-left: -1px;
}
.mod.footer .footer-item dt {
    font: 16px/20px 'Microsoft yahei';
    margin-bottom: 10px;
    margin-top: -3px;
    position: relative;
}
.mod.footer .ft-link-item {
    float: left;
    display: inline-block;
    width: 105px;
    line-height: 14px;
    margin: 6px 0;
    white-space: nowrap;
    overflow: hidden;
}
.mod.footer .ft-link-item_drop {
    overflow: inherit;
    height: 14px;
}
.mod.footer .ft-link-item a {
    color: #666;
    position: relative;
}
.mod.copyright a:hover,
.mod.footer .ft-link-item a:hover{
    color: #3983e5;
}

.mod.footer .advantage {
    position: relative;
    width: 235px;
    padding-left: 0;
    border-left: none;
}
.mod.footer .advantage .block-link {
    position: absolute;
    left: 0;
    top: 20px;
    display: block;
    width: 235px;
    height: 100px;
}
.mod.footer .advantage .advan-item {
    margin-bottom: 15px;
}
.mod.footer .advantage .advan-title {
    font: bold 16px "Microsoft Yahei";
    color: #ff9913;
}
.mod.footer .advan-server .advan-title {
    color: #2577e3;
}
.mod.footer .advan-img {
    float: left;
    overflow: hidden;
}
.mod.footer .advan-img .icon {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-image: url(//pic.c-ctrip.com/platform/online/home/pic_partner.png);
    background-repeat: no-repeat;
}
.mod.footer .advan-img .icon-price {
    background-position: -41px -200px;
}
.mod.footer .advan-img .icon-server {
    background-position: -41px -250px;
}
.mod.footer .advan-text {
    margin-left: 45px;
}
.mod.footer .about_ctrip {
    padding-right: 0;
}
.mod.footer .ft-link-item_drop .dropdown {
    z-index: 10;
}
.mod.footer .ft-link-item_drop .dropdown-toggle_border {
    left: -5px;
    top: -5px;
    padding-top: 5px;
    height: 17px;
    width: 63px;
    border: 1px solid #fff;
    border-bottom: none;
}
.mod.footer .ft-link-item_drop .dropdown-cont {
    right: 37px;
    top: 17px;
}
.mod.footer .dropdown-news {
    width: 160px;
    background: #fff;
    padding: 5px 14px;
    height: auto;
    border: 1px solid #999;
    max-height: 96px;
    overflow: hidden;
}
.mod.footer .drop-news-item a {
    line-height: 24px;
    display: block;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mod.footer .drop-news-item a:hover {
    text-decoration: underline;
}
.mod.footer .drop-news-item a.more {
    color: #06c;
}
.mod.footer .wechat_code{
    width:130px;
    padding-right:0;
    padding-left: 30px;
    text-align: center;
}
.mod.footer .wechat_code dt{
    margin-bottom: 1px;
    font-size: 12px;
}
.mod.footer .wechat_code .ft-link-item{
    width:114px;
    padding:8px;
    border: 1px solid #efefef;
}
.mod.footer .wechat_code .wechat_text{
    margin-top:10px;
    line-height: 1.3;
    color:#999;
}
.mod.copyright {
    text-align: center;
    color: #999;
}
.mod .honour_wrap a:hover,
.mod.copyright a {
    color: #999;
}
.mod .gns {
    margin-top: 8px;
}
.supervision-call{
    padding-top: 10px!important;
}
#base_ft {
    width: 980px !important;
    clear: both;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto 20px;
    line-height: 1.5;
    font-family: Arial, verdana !important;
    color: #4c4c4c;
    font-size: 12px;
}
#base_ft a {
    color: #4c4c4c;
    white-space: nowrap;
}
#base_ft p {
    margin: 0;
    padding: 0;
    font-family: Arial!important;
}
#base_ft #cui_lang_bottom {
    padding: 5px 0;
}
#base_ft p .suggestions {
    color: #06c;
}
#cui_lang_bottom {
    padding: 5px 0;
}
#cui_lang_bottom a {
    margin-left: 0;
    width: 54px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    overflow: hidden;
    height: 20px;
    padding-left: 25px;
    padding-top: 0;
    text-align: left;
    line-height: 20px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    word-break: keep-all;
}
#cui_lang_bottom a:hover {
    text-decoration: none;
}
@media screen and (max-width: 1200px) {
    .cui_hd, .cui_nav {width: 980px;}
    #cui_nav_cruise, li.divider_spec, #cui_nav_cruise_skysea {display: none;}
    .cui_nav li a.cui_nav_has,
    .cui_nav li a.cui_nav_non {
        padding:0 6px;
    }
    .cui_sub_nav li {margin: 0 4px;}
    #cui_nav_g .cui_sub_nav {padding-left: 508px;}
    #cui_nav_more .cui_sub_nav {padding-left: 701px;}
    #cui_nav_lpk .cui_sub_nav {padding-left: 450px;}

    /*index footer*/
    .cui_footer .ft_guide {width: 980px;}
    .cui_footer .ft_guide dl {padding: 0 30px 0 66px;}
    .cui_footer .ft_guide .travel_info {
        padding-left: 50px;
        padding-right: 0;
    }
    .cui_footer .ft_guide .about_ctrip {padding-right: 20px;}
    .cui_footer .ft_guide .ft_lang {
        padding-left: 25px;
        width: 180px;
    }
    .cui_footer .ft_guide .ft_lang dd { margin: 0 0 8px 6px;}
    .mod.footer .footer-item {width:155px;padding: 0 10px 0 15px;}
    .mod.footer .ft-link-item{width:77px;}
    .mod.footer .join_in{width:180px;}
    .mod.footer .join_in .ft-link-item{width:90px;}
    .mod.footer .wechat_code{width:130px;}
    .mod.footer .wechat_code .ft-link-item{width:114px;}
    .mod.footer .advantage {width: 245px; padding: 0;}
    .mod.footer .ft_lang {
        width: 980px;
        height: auto;
        margin: 20px auto 0;
        border-left: none;
        text-align: center;
    }

    .mod.footer .ft_lang .ft-link-item {
        width: auto;
        float: none;
    }
    .mod.footer .ft-link-item_drop .dropdown-cont{
        right: 9px;
    }
}
