@charset "utf-8";

/* UNIVERSAL-RESET */
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
	background: transparent;
	border: 0;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	outline: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ul,
ol {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	outline: none;
}

img {
	vertical-align: bottom;
}

/* BASE-SET */

body {
	background: #fff;
	font-size: 13px;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Arial, Sans-serif;
	line-height: 1;
	-webkit-text-size-adjust: none;
}

@media screen and (max-device-width: 599px) {
	body {
		-webkit-text-size-adjust: none; /* for iPhone */
	}
}

.cx:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

*:first-child+html .cx {
	display: inline-block;
	min-height: 1%;
}

* html .cx {
	height: 1%;
}

a {
	color: #36c;
	overflow: hidden;
	text-decoration: none;
}

a:visited {
	color: #609;
}

a:hover {
	text-decoration: underline;
}

/* WIRE-FRAME */

html {
	overflow-y: scroll;
}

* html {
	text-align: center;
}

#NR-header-in,
#NR-footer-in,
.NR-tpath,
#NR-wrapper-in,
.NR-search-in {
	margin: 0 auto;
	padding: 0 10px;
	text-align: left;
	width: 1004px;
}

#NR-nav,
#NR-nav-main,
#NR-nav-sub,
#NR-wrapper,
#NR-footer,
#NR-gosp {
	min-width: 1024px;
}

#NR-wrapper {
	padding-top: 10px;
}

#NR-wrapper-in {
	margin: 0 auto 20px;
}

/* col2a(default) */

#NR-main {
	float: left;
	width: 684px;
}

#NR-sub {
	float: right;
	width: 300px;
}

/* col1 */

.NR-col1 #NR-main {
	float: none;
	margin-right: 0;
	width: 100%;
}

.NR-col1 #NR-main-in {
	margin-right: 0;
}

/* col2b */

.NR-col2b #NR-main {
	float: right;
}

.NR-col2b #NR-sub {
	float: left;
}

#NR-header-in {
	padding: 15px 10px;
}

#NR-footer-in {
	padding: 25px 10px;
}

/* UI */

.NR-tpath {
	padding-bottom: 10px;
}

.NR-tpath ol {
	overflow: hidden;
	padding: 10px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.NR-tpath li {
	display: inline;
}

*:first-child+html .NR-tpath li.NR-first {
	background: none;
	padding-left: 0;
}

*:first-child+html .NR-tpath li {
	background: url(img/lt.png) 3px no-repeat;
	padding-left: 12px;
}

.NR-tpath li:before {
	color: #999;
	content: '>';
	font-family: monospace;
	margin: 0 5px;
}

.NR-tpath li.NR-first:before {
	content: '';
	margin: 0;
}

*:first-child+html #tpath li {
	margin-right: 10px;
}

#NR-nav {
	background: #eee;
	border-bottom: 1px solid #ccc;
}

#NR-nav a {
	text-decoration: none;
}

#NR-nav li {
	float: left;
}

#NR-nav-main {
	background: #930;
	margin-bottom: 3px;
	padding-top: 4px;
}

#NR-nav-sub {
	background: #eee;
}

#NR-nav-main-in,
#NR-nav-sub-in {
	margin: 0 auto;
	padding: 0 10px;
	width: 984px;
}

#NR-nav-main li {
	margin-right: 5px;
}

#NR-nav-main li a {
	color: #fff;
	display: block;
	font-size: 15px;
	padding: 10px 20px;
	-webkit-transition: background-color 0.25s linear;
	-moz-transition: background-color 0.25s linear;
	transition: background-color 0.25s linear;
}

#NR-nav-main li.NR-now a {
	border-bottom: 1px solid  #eee;
}

#NR-nav-main li a:hover,
#NR-nav-main li.NR-now a {
	border-radius: 2px 2px 0 0;
}

#NR-nav-main li a:hover {
	background: rgba(255, 255, 255, 0.2);
}

#NR-nav-main li.NR-now a {
	background: #eee;
	color: #000;
}

#NR-nav-sub li {
	margin-right: 10px;
}

#NR-nav-sub li a {
	border: 0 solid #930;
	display: block;
	padding: 10px;
}

#NR-nav-sub li.NR-now a,
#NR-nav-sub li a:hover {
	border-bottom-width: 2px;
	padding-bottom: 8px;
}

#NR-nav-sub #NR-nav-sub-more-label {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAEAQMAAACJA+yzAAAAA3NCSVQICAjb4U/gAAAABlBMVEVmZmb///9zS1moAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAEElEQVQImWNgYGhkOMzwHAAFvQIss49Z/gAAAABJRU5ErkJggg==) 100% no-repeat;
	padding-right: 15px;
}

*:first-child+html #NR-nav-sub #NR-nav-sub-more-label {
	background-image: url(img/dw.png);
}

#NR-nav-sub #NR-nav-sub-more-label:hover {
	border-bottom: 0;
	padding-bottom: 10px;
}

#NR-nav-sub #NR-nav-sub-more-label.NR-open {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAEAQMAAACJA+yzAAAAA3NCSVQICAjb4U/gAAAABlBMVEVmZmb///9zS1moAAAAAnRSTlP/AOW3MEoAAAAJcEhZcwAACusAAArrAYKLDVoAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAEElEQVQImWN4znCYoZGBAQALqwIsdz9yjwAAAABJRU5ErkJggg==);
}

*:first-child+html #NR-nav-sub #NR-nav-sub-more-label.NR-open {
	background-image: url(img/up.png);
}

#NR-nav-sub-more-list {
	background: #fff;
	border: 1px solid #666;
	display: none;
	padding: 10px;
	position: absolute;
	z-index: 1;
}

#NR-nav-sub-more-list li {
	float: none;
	margin-right: 0;
}

#NR-footer {
	background: #eee;
	border-top: 1px solid #ccc;
}

#bta {
	display: none;
}

/* FORM */

input,
select,
textarea {
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Arial, Sans-serif;
	font-size: 12px;
}

.NR-search {
	vertical-align: middle;
}

.NR-search-in {
	padding-bottom: 10px;
	text-align: center;
	vertical-align: baseline;
}

.NR-text,
.NR-select,
.NR-button {
	font-size: 12px;
	vertical-align: middle;
}

.NR-text {
	border: 1px solid #ccc;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0 5px;
	width: 24em;
}

.NR-text:focus {
	border-color: #333;
}

.NR-button {
	white-space: nowrap;
	-webkit-appearance: none;
}

.NR-button,
.NR-button:visited,
.NR-button:hover {
	color: #000;
	text-decoration: none;
}

.NR-button {
	background: #ffd700;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	font-weight: bold;
	margin: 0;
	padding: 6px 1em;
	text-align: center;
}

*:first-child+html .NR-button {
	min-width: 0;
}

.NR-button:hover {
	background: #ffe711;
}

.NR-button-normal {
	background: #ddd;
}

.NR-button-normal:hover {
	background: #eee;
}

.NR-button-disabled,
.NR-button-disabled:hover {
	background: #f0f0f0;
	color: #aaa;
	cursor: default;
}

.NR-select {
	border: 1px solid #ccc;
	height: 28px;
	line-height: 28px;
	margin: 0;
	padding: 0;
}

.NR-search-text {
	width: 24em;
}

/* COMMON */

#NR-nav-sp {
	display: none;
	background: #36c;
}

#NR-nav-sp a {
	color: #fff;
	display: block;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.NR-copyright-ip {
	font-size: 12px;
	line-height: 1.4;
	margin: 15px auto;
	text-align: right;
	width: 1004px;
}

.NR-copyright {
	text-align: center;
}

#NR-header-logo {
	line-height: 36px;
	width: 400px;
}

#NR-header-logo img {
	vertical-align: middle;
}

#NR-header-logo-goo img {
	height: 36px;
	margin-right: 10px;
	width: 70px;
}

#NR-header-logo-sv img {
	height: 28px;
	margin-left: 5px;
	width: 28px;
}

#NR-header-logo a {
	color: #000;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}

#NR-header-in {
	position: relative;
}

#NR-header-util {
	position: absolute;
	right: 10px;
	top: 10px;
}

#NR-header-util li {
	float: right;
	margin-left: 8px;
}

#NR-header-util a {
	color: #333;
	font-size: 12px;
}

#NR-header-util a:hover {
	color: #36c;
}

#NR-header-tool {
	margin-bottom: 5px;
	text-align: right;
}

#NR-header-ocn {
	text-align: right;
}

#NR-header-ocn-logo {
	margin-right: 5px;
	vertical-align: middle;
}

#NR-sp-menu {
	display: none;
}

#NR-footer-sv {
	margin-bottom: 20px;
}

#NR-footer a {
	color: #333;
	font-size: 12px;
}

#NR-footer a:hover {
	color: #36c;
}

#NR-footer-sv  {
	border-bottom: 1px solid #ccc;
}

#NR-footer-sv dl {
	line-height: 1.5;
	margin-bottom: 15px;
}

#NR-footer-sv dt,
#NR-footer-sv dd {
	margin-bottom: 15px;
}

#NR-footer-sv dt {
	clear: left;
	float: left;
	margin-right: 2em;
	width: 8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#NR-footer-sv dt,
#NR-footer-sv dt a {
	font-size: 13px;
	font-weight: bold;
}

#NR-footer-sv ul,
#NR-footer-sv li {
	display: inline;
}

#NR-footer-sv li {
	margin-right: 10px;
}

#NR-footer-link {
	margin-bottom: 20px;
	text-align: center;
}

#NR-footer-link li {
	display: inline;
	margin-right: 10px;
}

.NR-pr {
	margin: 0 auto 10px;
	text-align: center;
}

.NR-pr a {
	color: #36c;
}

.NR-pr-imgTxt {
	border: 1px solid #ccc;
	padding: 10px;
	width: 950px;
}

.NR-pr-imgTxt img {
	margin-right: 10px;
	vertical-align: middle;
}

.NR-pr-txt {
	padding: 20px 0;
}

.NR-go {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAIAQMAAADk/cxGAAAABlBMVEX///9mZmaO7mygAAAAAXRSTlMAQObYZgAAABVJREFUeF5jaGA4wPCA4QMQPgCyGgAxEAYhoO6KiwAAAABJRU5ErkJggg==) 0 no-repeat;
	padding-left: 12px;
}

*:first-child+html .NR-go {
	background-image: url(img/go.png);
}

#NR-gosp-in {
	background: #36c;
	color: #fff;
	display: block;
	font-size: 48px;
	padding: 2em;
	text-align: center;
	text-decoration: none;
}

.txtimgl {
	margin-bottom: 20px;
}

.txtimgl dt {
	margin-bottom: 1em;
	font-size: 16px;
}

.txtimgl dd {
	font-size: 12px;
	line-height: 1.2;
	margin-bottom: 10px;
	min-height: 80px;
	position: relative;
	zoom: 1;
}

.txtimgl .NR-txtimgl-img {
	position: absolute;
	top: 0;
	left: 0;
}

.txtimgl .NR-txtimgl-txt {
	display: block;
	margin-left: 90px;
	position: static;
}

.txtimgl .black {
	font-weight: bold;
	margin-bottom: 5px;
}

/* SOCIAL */

#NR-wrapper-in .social-button,
#NR-wrapper-in .social-button li {
	margin: 1em 0;
}

#NR-wrapper-in .social-button li {
	display: inline-block;
	list-style: none;
	margin-right: 8px;
}

#NR-wrapper-in .social-button li.line {
	display: none;
}

*:first-child + html #NR-wrapper-in .social-button li {
	display: inline;
}

#NR-wrapper-in .social-button li a:hover {
	-moz-opacity: .8;
	opacity: .8;
}

#NR-wrapper-in .social-button li a,
#NR-wrapper-in .social-button li img {
	display: block;
	height: 32px;
	width: 32px;
}

/* RWD(option) */

@media screen and (max-width: 599px) {
	.NR-rwd #NR-header-util,
	.NR-rwd #NR-header-logo-sv img,
	.NR-rwd #NR-sub,
	.NR-rwd #NR-nav-sub,
	.NR-rwd #NR-footer-sv,
	.NR-rwd #NR-footer-link,
	.NR-rwd .NR-pr {
		display: none !important;
	}

	.NR-rwd #NR-nav,
	.NR-rwd #NR-nav-main,
	.NR-rwd #NR-nav-sub,
	.NR-rwd #NR-wrpper,
	.NR-rwd #NR-footer,
	.NR-rwd #NR-nav-main-in,
	.NR-rwd #NR-nav-sub-in,
	.NR-rwd #NR-header-in,
	.NR-rwd #NR-header-logo,
	.NR-rwd #NR-footer-in,
	.NR-rwd #NR-tpath,
	.NR-rwd #NR-wrapper,
	.NR-rwd #NR-wrapper-in,
	.NR-rwd #NR-main,
	.NR-rwd .NR-tpath,
	.NR-rwd .NR-copyright-ip {
		min-width: 0;
		width: auto;
	}

	.NR-rwd #NR-wrapper {
		padding-top: 0;
	}

	.NR-rwd .NR-copyright-ip {
		padding: 0 10px;
	}

	.NR-rwd #NR-header-in {
		border-bottom: 1px solid #ccc;
		padding: 10px;
	}

	.NR-rwd #NR-header-logo {
		height: 36px;
		position: relative;
	}

	.NR-rwd #NR-header-logo-goo {
		position: absolute;
		left: 0;
		top: 0;
	}

	.NR-rwd #NR-header-logo-goo img {
		height: 32px;
		margin-right: 0;
		vertical-align: bottom;
		width: auto;
	}

	.NR-rwd #NR-header-logo-sv {
		display: block;
		line-height: 36px;
		margin: 0 32px 0 70px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.NR-rwd #NR-sp-menu {
		display: block;
		background-size: 24px 21px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVAQMAAABmJ7xlAAAABlBMVEUAAAD///+l2Z/dAAAAEklEQVR4XmPABv7//w/D5MgDAPF+Ee+1qqw3AAAAAElFTkSuQmCC) no-repeat 50% 50%;
		position: absolute;
		right: -5px;
		top: 0;
		width: 36px;
		height: 36px;
		-webkit-transition: opacity 0.5s ease-in-out;
		-moz-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
	}

	.NR-rwd #NR-sp-menu.NR-on {
		opacity: 0.3;
	}

	.NR-rwd #NR-nav-main,
	.NR-rwd .NR-search {
		max-height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		-webkit-transition: max-height 0.7s;
		-moz-transition: max-height 0.7s;
		transition: max-height 0.7s;
	}

	.NR-rwd #NR-nav-main.NR-open,
	.NR-rwd .NR-search.NR-open,
	.NR-rwd .NR-search.NR-search-fixed {
		max-height: 600px;
	}

	.NR-rwd #NR-nav {
		border: none;
	}

	.NR-rwd #NR-nav ul {
		padding: 0;
	}

	.NR-rwd #NR-nav li {
		border-bottom: 1px solid #fff;
		float: none;
		margin-right: 0;
	}

	.NR-rwd #NR-nav-main li a,
	.NR-rwd #NR-nav-main li a:hover {
		background: #eee;
		color: #000;
		padding: 15px;
		position: relative;
	}

	.NR-rwd #NR-nav-main li.NR-now a {
		background: #930;
		border-bottom: 0;
		border-radius: 0;
		color: #fff;
	}

	.NR-rwd .NR-search {
		background: #ddd;
	}

	.NR-rwd .NR-search-in {
		padding: 10px;
		text-align: left;
		width: auto;
	}

	.NR-rwd .NR-search-in .NR-select {
		display: none;
	}

	.NR-rwd .NR-search-in .NR-search-text {
		box-sizing: border-box;
		float: left;
		height: 40px;
		line-height: 1.4;
		width: 80%;
	}

	.NR-rwd .NR-search-in .NR-button {
		box-sizing: border-box;
		display: inline-block;
		float: left;
		height: 40px;
		line-height: 40px;
		padding: 0;
		width: 20%;
	}

	.NR-rwd .NR-tpath {
		font-size: 12px;
		padding: 0 0 0 10px;
	}

	.NR-rwd .NR-tpath ol {
		overflow: hidden;
		padding: 10px 0;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}

	.NR-rwd .NR-tpath li {
		display: inline;
		float: none;
		padding: 0;
	}

	.NR-rwd .NR-tpath li.NR-first span {
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAAJ1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADdEvm1AAAADHRSTlMAgO8Q0mAwnHBQQCDxzyhtAAAA2klEQVRIx+2SsQqCUBSGjaiGHGp3VQgaHBoi2oQmh/AJInqAHsCt1alX6AV6BK0LOpyHSo7VRf3PbZXw2w7/h8inVgfZ3Mz7NFR3o3Ak8kz7eEn0OBiEiEpceR8RsxcFh5hM2if05oz3YfwRch8KK/oSwAeEWlA+bqTxYCMNqhVRDRc3YnCtpCkUqBGDa8VtIRcaaQLcCNY6EWSHGsFaVxJYgEaoViILRaMRrrU1Cc9SsE1CCt4Rf1M08vCPQjZnHFFIq8PuhV74IYRtQdWENf9rs+oY8HGxOsML6dGn/Tfwgb8AAAAASUVORK5CYII=) 0 0 no-repeat;
		background-size: 14px 14px;
		display: inline-block;
		height: 14px;
		line-height: 14px;
		text-indent: -9999px;
		width: 14px;
	}

	/* SOCIAL */

	.NR-rwd #NR-wrapper-in .social-button {
		text-align: center;
	}

	.NR-rwd #NR-wrapper-in .social-button li.line {
		display: inline-block;
	}

}
