.style-0 .mega-col-left, .style-2 .mega-col-left {position:relative}
.style-0 .mega-col-left .vbuttons_wrap,.style-1 .vbuttons_wrap{position:absolute;right:15px;top:5px;height:24px;z-index:2;padding:5px;border-radius:6px}
.style-1 .vbuttons_wrap{right:200px}
.vbuttons_wrap{opacity:.5}
.vbuttons div{display:inline-block;margin:0 5px;cursor:pointer;cursor:hand;width:24px;height:24px;background:url(/img/vplayer.png) no-repeat;background-size:48px auto;text-indent:-9999px}
.style-1 .vbuttons div {
  background: rgba(0, 0, 0, 0) url("/img/big_player.png") no-repeat scroll 0 0 / 180px auto;
  height: 90px;
  width: 90px;
}
.vbuttons #vbplay{display:none}
.vbuttons #vbplay.active{display:none}
.vbuttons #vbsound, .vbuttons .vbsound {background-position:bottom right}
.vbuttons #vbsound.active, .vbuttons .vbsound.active{background-position:bottom left}
.mega-td:hover h2 span,#megacol1:hover h2 span{color:#fff200!important}
.mega-item3 .mega-video{position:relative}
.mega-item1 .mega-video img,.mega-item2 .mega-video img,.mega-item3 .mega-video img{display:block;height:auto;max-width:100%;width:100%;position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.mega-item1 .mega-video > div,.mega-item2 .mega-video > div,.mega-item3 .mega-video > div.videocontainer{display:block;position:relative;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.mega-item3 .vbuttons_wrap{position:absolute;top:10px;right:10px;z-index:1}
.single-mega-video.iframeplay > div{display:block;position:relative;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.mega-image1.mega-video{height:680px}
.mega-image1.mega-video img{display:block;height:100%!important;max-width:none!important;width:auto!important;position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.mega-image1.mega-video > div{display:block;position:relative;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:1000px}
#mega-ribbon{background:#282828;width:100%;position:relative;z-index:5}
.mega-wrap{width:1120px;background:#000;margin:auto;position:relative;box-sizing:border-box;height:680px}
.mega-date-widget{position:absolute;top:-200px;left:-200px;z-index:1;font-family:FedraSansNormal;font-size:11px;color:#fff;letter-spacing:.05em;width:150px}
.mega-date-widget .w-col{float:left}
.mega-date-widget .date-inset{margin-bottom:17px}
.mega-date-widget .weatherInfo{font-size:11px;font-family:FedraSansNormal;line-height:18px;letter-spacing:0;color:#969696}
.mega-date-widget .city{margin-top:4px}
.mega-date-widget .wi{color:#C7C7C7;font-size:30px}
.mega-date-widget .wc1{padding-right:12px;margin-right:12px;border-right:1px dotted #969696}
.mega-date-widget .date-inset span:first-child{display:block}
.mega-date-widget .date-inset span:nth-child(4){display:block}
.mega-date-widget .date-inset span:nth-child(2){display:block;font-family:LifoEgyptian;font-size:28px;color:#FFF200;letter-spacing:.1em}
.mega-date-widget .date-inset span:last-child{display:block;font-family:FedraSansBook;font-size:14px;color:#969696;margin-top:3px}
#mega-ribbon.style-0 .mega-wrap, #mega-ribbon.style-2 .mega-wrap{width:1150px;margin:auto auto auto 80px}
#mega-ribbon.style-0 a.mega-logo, #mega-ribbon.style-2 a.mega-logo{margin:20px 0 10px}
.mega-share{position:absolute;width:80px;height:100%;left:-80px;top:0;background:#000}
.mega-badge{background:#E1001E;width:220px;height:182px;position:absolute;top:0;left:0;box-sizing:border-box;padding:10px 20px;z-index:4}
#mega-ribbon.style-0 .mega-badge, #mega-ribbon.style-2 .mega-badge{height:165px}
#mega-ribbon.style-0 #mega-tabs, #mega-ribbon.style-2 #mega-tabs{top:165px}
#mega-ribbon.style-0 span.mm1, #mega-ribbon.style-2 span.mm1{top:165px}
#mega-ribbon.style-0 .lh-panel, #mega-ribbon.style-2 .lh-panel{padding-top:215px!important}
a.mega-logo{background:0 0 url(/img/graphics10.png) no-repeat;width:180px;height:90px;display:block;margin:10px 0}
.mega-date{font-family:"LifoEgyptian";color:#fff;font-size:16px;letter-spacing:.04em;padding:10px 0 2px;height:16px;line-height:16px}
.mega-date span:first-child{color:#FFF200}
.mega-date span:last-child{display:inline-block;font-family:"FedraSansBook";font-size:15px;line-height:16px;height:16px;vertical-align:middle;color:#000}
.mega-share span,.mega-share a{background:url(/img/allgraphics.png) no-repeat;background-size:100px auto;position:absolute;display:block}
.mega-share a{width:26px;height:26px;left:40px;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60);filter:alpha(opacity=60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6}
.mega-share a.mfb{background-position:-1px -1px;bottom:92px}
.mega-share a:hover{-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}
.mega-share a.mtw{background-position:-28px -1px;bottom:56px}
.mega-share a.min{background-position:-55px -1px;bottom:20px}
.mega-share span{background-position:-2px -29px;width:8px;height:119px;bottom:130px;left:48px}
.mega-content{width:100%}
.mega-search{position:relative;height:24px}
.mega-tellis{background:-148px -422px url(/img/graphics10.png) no-repeat;width:22px;height:24px;position:absolute;left:0;top:0}
.mega-search form{position:absolute;right:0;top:0}
.mega-search form.gsc-search-box, .mega-search form.gsc-search-box {
    padding: 0;
    margin: 0;
}
.mega-search form > div,
.mega-search form .gsc-search-box
{background:top left url(/img/search-g.png) no-repeat;width:142px;height:19px;overflow:hidden;box-sizing:border-box;position:relative;right:-3px}
.mega-search form.gsc-search-box {width: 142px;}
.mega-search input.searchBox,
.mega-search input.gsc-input 
{background:none!important;width:100%;padding:0 30px 0 10px !important;height:19px;font-size:11px;line-height:19px;font-family:"FedraSansNormal";color:#fff;border:none!important;box-sizing:border-box;
border: 1px solid #7e9db9;
    padding: 2px;
}
.mega-search input.searchBox:focus{background:none!important}
.mega-search .gsc-clear-button {display: none!important;}
.mega-search input.searchButton,
.mega-search input.gsc-search-button
{background:-121px -38px url(/img/search-g.png) no-repeat;width:13px;height:13px;position:absolute;text-indent:-999em;margin:0;padding:0;border:0;top:3px;right:13px;cursor:pointer;min-width:0;}
ul.mega-menu{bottom:0;box-sizing:border-box;height:50px!important;height:50px!important;width:168px}
ul.mega-menu li{list-style-type:none;float:left!important;display:block!important;height:50px!important}
ul.mega-menu span{display:block!important;height:50px!important;width:52px!important;float:none;border:0;padding:0!important;margin:0;background:transparent url(/img/home-fx2.png) no-repeat top left;cursor:pointer;cursor:hand}
ul.mega-menu span.mm2{background-position:0 -50px;width:72px!important}
ul.mega-menu span.mm3{background-position:0 -100px;width:96px!important}
ul.mega-menu span.mm2.active{background-position:right -50px;width:72px!important}
ul.mega-menu span.mm3.active{background-position:right -100px;width:96px!important}
.mega-col-left{width:600px;height:680px;overflow:hidden}
.mega-col-right{width:520px;margin:0 0 0 30px;overflow:hidden;height:680px}
#mega-ribbon.style-0 h2 a:hover span,#mega-ribbon.style-0 .mega-td a:hover h2 span{color:#fff200}
.mega-main-text-block{position:absolute;width:100%;max-width:600px;left:0;bottom:0;box-sizing:border-box;padding-right:15px;padding-left:80px;padding-top:40px;background:-moz-linear-gradient(270deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));background:-webkit-linear-gradient(270deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);background:-o-linear-gradient(270deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);background:-ms-linear-gradient(270deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000',GradientType=0)}
.mega-main-text{padding:20px 0;text-align:left}
.mega-main-text span{color:#969696}
.mega-main-text h2{font-family:FedraSansNormal;font-size:36px;line-height:43px;color:#fff}
.mega-main-text .author,.mega-intro .author{font-size:11px;color:#fff200;line-height:1;margin-top:10px}
.mega-image2{margin-bottom:14px}
.mega-row-top{border-bottom:1px solid #f0f0f0;width:100%;float:left;margin-bottom:20px;padding-top:30px;padding-bottom:20px;position:relative}
.mega-item1{width:100%;overflow:hidden}
.mega-item1 .mega-td{height:auto;overflow:hidden}
.mega-item1 .mega-image,.mega-item1 .mega-video{float:left;margin-right:20px}
.mega-item1 .mega-video,.mega-item1 .mega-image{width:300px;height:118px;overflow:hidden}
.mega-item1 .mega-video img{width:100%;max-width:100%;height:auto}
.mega-item1 .mega-item-content{float:right;width:200px}
.mega-item1 h2{font-family:FedraSansMedium;font-size:17px;line-height:21px}
.mega-row-bottom{float:right;width:100%;overflow:hidden;position:relative}
.mega-summary{bottom:20px;color:#969696;font-style:italic;position:absolute;width:150px;font-family:FedraSansNormal;font-size:13px;line-height:17px}
.mega-summary-in{max-height:250px;overflow:hidden}
.mega-col-right h2 span{color:#969696}
.mega-col1{width:178px}
.mega-col2{width:342px}
.mega-item2{border-bottom:1px solid #f0f0f0;padding-bottom:20px;margin-bottom:20px}
.mega-item2 .mega-image,.mega-item2 .mega-video{float:left;margin-right:20px}
.mega-item2 .mega-video{width:124px;height:115px;overflow:hidden}
/*.mega-item2 .mega-video img{width:100%;max-width:100%;height:auto}*/
.mega-item2 .mega-video img{width:auto!important;max-width:none!important;height:100%!important;
top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}
.mega-item2 .mega-item-content{float:right;width:198px}
.mega-item2 h2{font-family:FedraSansMedium;font-size:17px;line-height:21px}
.mega-item3 .mega-image{margin-bottom:10px; }
.mega-item3 .mega-video{width:342px;height:180px;overflow:hidden;margin-bottom:10px}
.mega-item3 .mega-video img{width:100%;max-width:100%;height:auto}
.mega-item3 h2{font-family:FedraSansNormal;font-size:20px;line-height:25px}
a.mega-more{color:#FFF200!important;font-family:"FedraSansNormal";font-size:12px;letter-spacing:.023em;display:inline-block;margin-top:8px;line-height:1}
.mega-item1 a.mega-more{margin:0 0 8px;position:relative;padding-left:9px}
.mega-summary:after{left:-24px;top:3px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(150,150,150,0);border-right-color:#969696;border-width:6px}
#mega-ribbon.style-1 .mega-intro{position:absolute;bottom:0;width:100%;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.75)));background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0)}
#mega-ribbon.style-1 .mega-intro > div{width:100%;max-width:940px;margin:auto;text-align:center;padding-bottom:20px;padding-top:20px}
.mega-intro h2{font-size:40px;font-family:'FedraSansMedium';color:#fff!important}
.mega-intro h2 span{color:#E1001E!important}
#mega-ribbon.style-1 .mega-share{display:none}
.mega-box-wrap{position:absolute;width:100%;height:100%}
#mega-ribbon.style-1 .mega-image{background-size:cover;background-repeat:no-repeat;background-position:50% 50%;display:block;width:100%;position:absolute;top:0;left:0}
#mega-ribbon.style-1 .lh-wrapper{position:relative;top:0;max-width:1120px;width:100%;margin:auto;height:100%}
#mega-ribbon.style-1 .mega-wrap{overflow:hidden}
#mega-ribbon.style-1 .mega-wrap,#mega-ribbon.style-1 #mega-panel{padding:0;width:100%;min-width:980px;height:auto}
#mega-ribbon.style-1 .mega-image img{width:100%;height:auto}
#mega-ribbon.style-1 .mega-box{width:100%;max-width:1120px;margin:auto;position:relative}
#mega-ribbon.style-1 .mega-badge{left:0}
.article-item-video{display:block;overflow:hidden}
body.home #pageTop{display:none}
body.home .owl-scroller-box{margin-left:-90px;margin-right:-90px;position:relative}
body.home .das_300_right{margin-top:20px;margin-bottom:0;min-height:0;padding-bottom:20px}
body.home .das_head{text-align:center;position:relative;padding:0 0 20px;border-bottom:0;width:auto}
body.home .ads_top,body.home .das_top{text-align:center;position:relative;padding:20px 0;width:auto;border-top:1px solid #ccc}
body.redo.home #pageWrap,body.redo.home #page{width:1120px}
body.home .mainMenuWrap{width:100%;z-index:5;position:relative;background:#F4F4F4}
body.home .mainMenuLine{background:#E1001E;width:100%;position:relative}
body.home .newMenuWrap{width:100%;max-width:1120px;box-sizing:border-box;margin:auto;position:relative;height:32px}
body.home #newMenu{float:left;width:auto}
body.home #newMenu ul.sf-menu a.toplink{width:auto!important;height:32px!important;line-height:32px;padding:0 2px}
body.home #newMenu ul.sf-menu > li{margin-left:10px}
body.home #newMenu ul.sf-menu{height:32px;box-sizing:border-box;padding-left:10px;float:left}
body.home #newMenu a.agenda-link{height:32px;width:150px;float:right;margin:0}
@media (max-width: 1280px) {
body.home #newMenu > .clearfix{width:980px;margin:auto}
body.home #newMenu ul.sf-menu{width:980px}
.mega-summary-in{max-height:86px}
}
@media (min-width: 1120px) {
#mega-panel #moreMenu::before{content:"ΠΛΗΡΕΣ ΜΕΝΟΥ";display:block;font-family:"FedraSansMedium";font-size:12px;height:20px;left:-106px;line-height:20px;padding-right:5px;position:absolute;text-align:right;top:1px;width:100px}
}
body.home #pageMid{border:0;margin:0;padding:0;overflow:hidden}
body.home .generic-wrapper,body.home .content-wrapper{background:none;padding:0}
body.redo.home .content-in{width:940px;margin:auto}
body.home #pageContent{float:none}
body.redo #top_stories .article-item-main{margin-bottom:20px;border:0!important}

#top_stories .flex-container {padding-top: 20px; border-top: 1px dotted #000;}
#top_stories .items {padding-bottom: 20px;}
#top_stories .flex-container .article-item {
width: 160px;
    padding: 0 0 2px 0;
    border: 0;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 20px;
}
#top_stories .flex-container .article-item:after {
    content: "";
    border-right: 1px dotted #000;
    height: 100%;
    position: absolute;
    top: 0;
    left: 187px;
}
#top_stories .flex-container .article-item:last-child:after {content: none;}
body.redo .tps-item .article-item-image{position:relative}
body.redo .tps-item .article-item-content,body.redo .tps-item .article-item-header{height:auto;max-height:none;overflow:hidden}
body.redo .tps-item .article-item-section {color: #e0001b !important;}
body.redo .tps-item .article-item-header{font-size: 16px;
    height: auto !important;
    padding-top: 10px;
    max-height: none !important;
    font-family: "FedraSansNormal";
    font-size: 14px;
}

section .articles-list.main_image .article-item:first-child{padding-top:20px!important;border-top:1px dotted #000!important;padding-bottom:20px!important}
section .articles-list .article-item-main .article-item-image,#top_stories .article-item-main .article-item-image{width:590px;height:310px}
section .articles-list .small-item .article-item-image{width:300px;height:140px;overflow:hidden}
section .articles-list.s-vertical{border-bottom:0;margin-bottom:0}
section .articles-list.s-vertical.nomain{margin-top:10px}
.articles-list.s-vertical .article-item .article-item-header{font-size:16px;line-height:1.3}
.articles-list.s-vertical .first-item .article-item-header{font-size:18px;line-height:1.3}
.articles-list.s-vertical .first-item .article-item-summary{display:inline;font-family:FedraSansMedium;font-size:18px;line-height:1.3;color:#b1b1b1}
.articles-list.s-vertical .article-item{border:none;padding:10px 0}
.articles-list.s-vertical .article-item.first-item{padding-top:20px!important;border-top:1px dotted #000!important;padding-bottom:20px!important}
.articles-list.s-vertical .article-item.first-item .article-item-image{width:285px;height:330px}
.articles-list.s-vertical .article-item.vs-item{width:285px}
.articles-list.s-vertical .article-item.vs-item .article-item-image{width:285px;height:185px;overflow:hidden}
.articles-list.s-vertical .flex-container .vs-item{background:#f0f0f0;border-bottom:3px solid #b400d2;padding-top:0!important;border-top:0!important;margin-bottom:20px}
.articles-list.s-vertical.nomain .article-item.vs-item{width:300px;background:-moz-linear-gradient(left,rgba(220,220,220,1) 0%,rgba(255,255,255,0.8) 100%);background:-webkit-linear-gradient(left,rgba(220,220,220,1) 0%,rgba(255,255,255,0.8) 100%);background:linear-gradient(to right,rgba(220,220,220,1) 0%,rgba(255,255,255,0.8) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc',endColorstr='#ccffffff',GradientType=1)}
body.redo .articles-list.s-vertical .article-item-left{width:285px;padding:0;margin-right:20px}
body.redo .articles-list.s-vertical .article-item-right{width:285px}
.articles-list.s-vertical .vs-item .article-item-content{padding:10px 40px 15px;height:auto}
.articles-list.s-boxed1{border:0;margin:0}
.articles-list.s-boxed1 .vs-item{border:0!important}
.articles-list.s-boxed-wide .article-item,.articles-list.s-boxed-wide4 .article-item{width:50%;background:none;border-bottom:none;padding-top:0;border-top:0;margin:0;box-sizing:border-box}
.articles-list.s-boxed-wide4 .article-item,section .articles-list.s-boxed-wide4 .article-item:first-child{width:25%;background:none;border-bottom:none!important;padding-top:0!important;border-top:0!important;margin:0!important;box-sizing:border-box}
.articles-list.s-boxed-wide,.articles-list.s-boxed-wide4{border:0}
.articles-list.s-boxed-wide4,#lifoland-home-box{box-sizing:border-box;padding-left:30px;padding-right:30px;border-top:1px dotted #000;padding-top:20px}
#lifoland-home-box{padding-right:0}
.articles-list.s-boxed-wide4 .article-item{box-sizing:border-box;padding:0 30px;border-right:1px dotted #000;text-align:center}
.articles-list.s-boxed-wide4 .article-item-image{width:160px;height:160px}
.articles-list.s-boxed-wide4 .article-item-image img{-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;margin:auto}
.articles-list.s-boxed-wide4 .flex-container .article-item:last-child{border-right:none}
.articles-list.s-boxed-wide4 .article-item-content{height:auto;padding-top:10px}
body.redo .articles-list.s-boxed-wide4 .article-item-header{height:auto!important;max-height:none!important;font-size:16px}
.articles-list.s-boxed-wide .flex-container.last{border-top:1px dotted #000;border-bottom:0;padding-top:20px;margin-top:20px}
.articles-list.s-boxed-wide .flex-container .article-item:first-child{padding-right:20px;border-right:1px dotted #000;padding-bottom:0;border-top:none!important;padding-top:0!important}
.articles-list.s-boxed-wide .flex-container .article-item:last-child{padding-left:20px;padding-bottom:0}
.articles-list.s-boxed-wide .article-item-image{margin-bottom:10px;width:450px;height:260px}
.articles-list.s-boxed-wide .article-item-content{padding-left:62px;height:auto}
.articles-list.s-boxed-wide .article-item-section{color:#E0001B!important}
.articles-list.s-boxed-wide .article-item-summary{color:#b1b1b1;font-size:17px;line-height:1.3;display:inline;font-family:'FedraSansMedium'}
.articles-list.s-boxed-wide .article-item-header{display:inline}
#lifoland-home-box h2{font-size:22px;font-family:"UBRockWell",serif;margin-bottom:3px}
#lifoland-home-box .subtitle{font-family:"FedraSansNormal";font-size:13px;font-style:italic;color:#646464}
#lifoland-home-box.var_columns .box2 .box-item a{margin-bottom:25px;min-height:68px}
#lifoland-home-box .article-item{border:0;width:164px;text-align:left;padding-right:25px;padding-bottom:0}
#lifoland-home-box .article-item-image img{margin:0}
#lifoland-home-box .article-item.fleft .article-item-content{padding-right:0}
#lifoland-home-box .article-item:first-child{padding-top:20px!important}
#lifoland-home-box .article-item-header{font-size:16px}
#lifoland-home-box .article-item-author{color:#E0001B!important}
#lifoland-home-box .article-item-content{padding-top:10px;width:164px}
#lifoland-home-box .article-item-content,#lifoland-home-box .article-item-header{min-height:none;max-height:none;height:auto}
#lifoland-home-box .gfx{position:absolute;background:top left url(/img/lifoland-gfx.png) no-repeat;width:64px;height:64px;top:-2px;left:0}
#lifoland-home-box .flex-container{justify-content:initial;flex-wrap:nowrap;justify-content:flex-start}
#lifoland-home-box.var_columns .box-item-image{position:absolute;width:64px;height:64px;top:-2px;left:0;overflow:hidden}
#lifoland-home-box.var_columns .box-item-image img{width:100%;max-width:100%;height:auto}
#lifoland-home-box .gfx.instalifo img{-webkit-border-radius:32px;-moz-border-radius:32px;border-radius:32px}
#lifoland-home-box{padding-left:0}
#lifoland-home-box .gfx.dedications{background-position:-64px 0}
#lifoland-home-box .gfx.isawyou{background-position:-128px 0}
#lifoland-home-box .gfx.confessions{background-position:-192px 0}
#lifoland-home-box .box{border-right:1px dotted #000}
#lifoland-home-box .box1{width:396px;padding-right:0}
#lifoland-home-box.var_columns .box1{width:285px;padding-right:25px}
#lifoland-home-box .box2{padding-left:25px;padding-right:25px;width:278px}
#lifoland-home-box.var_columns .box2{width:280px}
#lifoland-home-box .box3{border-right:0 none;padding-left:25px;padding-right:0;width:164px}
#lifoland-home-box.var_columns .box3{width:272px}
#lifoland-home-box .box2 .box-item a{display:block;position:relative;padding-left:80px;min-height:90px}
#lifoland-home-box.var_columns .article-item.main-item{padding-top:0!important;padding-right:0!important;padding-bottom:0;width:285px;margin-bottom:20px}
body.home #lifoland-home-box.var_columns .article-item-meta{margin-top:5px}
#lifoland-home-box.var_columns .article-item.main-item .article-item-content{width:auto;padding-left:40px;padding-right:5px;height:auto}
#lifoland-home-box.var_columns .article-item-header{display:inline}
#lifoland-home-box.var_columns .article-item-section{color:#e0001b}
#lifoland-home-box.var_columns .article-item-summary{font-family:"FedraSansMedium";font-size:16px;line-height:1.3;color:#b1b1b1}
#lifoland-home-box.var_columns .article-item.main-item .article-item-header,#lifoland-home-box.var_columns .article-item.main-item .article-item-summary{font-size:17px;line-height:1.3}
#lifoland-home-box.var_columns .article-item.main-item .article-item-image{width:285px}
#columns-box{width:200px;margin:auto;text-align:center;margin-top:20px}
#columns-box img{margin:auto}
#columns-box .box-item-image::after{content:"";display:block;border-bottom:2px solid #000;width:132px;margin:auto}
#columns-box .box-header{font-family:"UBRockWell";font-size:24px;background:#000;color:#fff;-webkit-border-radius:17px;-moz-border-radius:17px;border-radius:17px;height:34px;line-height:32px}
#columns-box .box-item{margin-top:20px}
#columns-box .box-item-title{font-family:"LifoEgyptian";font-size:15px;color:#000!important;margin-top:12px;letter-spacing:.02em}
#columns-box .box-item-summary{font-family:"FedraSansMedium";font-size:11px;line-height:14px;color:#000!important}
body.redo .s-lightbox .article-item-meta{text-align:center}
#guide-top-articles .indexHeader{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(left,rgba(255,255,0,1) 0%,rgba(255,255,255,0) 100%);background:-webkit-linear-gradient(left,rgba(255,255,0,1) 0%,rgba(255,255,255,0) 100%);background:linear-gradient(to right,rgba(255,255,0,1) 0%,rgba(255,255,255,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00',endColorstr='#00ffffff',GradientType=1);padding:8px 8px 6px}
body.redo #guide-top-articles .article-item-main{padding-bottom:2px}
body.redo #guide-top-articles .article-item-main .article-item-image{width:100%;height:500px;margin:0}
body.redo #guide-top-articles .article-item-content{background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmYwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top,rgba(255,255,0,1) 0%,rgba(255,255,255,0) 100%);background:-webkit-linear-gradient(top,rgba(255,255,0,1) 0%,rgba(255,255,255,0) 100%);background:linear-gradient(to bottom,rgba(255,255,0,1) 0%,rgba(255,255,255,0) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00',endColorstr='#00ffffff',GradientType=0);margin:0;padding:20px 12px 30px 158px}
body.redo #guide-top-articles .article-item-header{font-size:24px;line-height:34px}
body.redo #guide-top-articles .article-item-summary{font-size:24px;line-height:34px;color:#888281}
#box-home-guide{border:1px solid #7d7d7d;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;padding:0 12px;box-sizing:border-box;margin-top:20px}
#box-home-guide .box-header{font-family:"UBRockwell";font-size:24px;margin-bottom:18px;padding-top:15px;line-height:1;color:#646464}
#box-home-agenda .article-item-content{height:auto;padding:10px 0 0 26px}
#box-home-agenda .article-item-header{display:inline}
#box-home-agenda .article-item-section{color:#00ACF0}
#box-home-agenda .article-item-summary{display:inline;font-size:17px;line-height:1.3;font-family:"FedraSansMedium";color:#b1b1b1}
#box-home-agenda .article-item{width:25%;box-sizing:border-box;height:auto;min-height:auto;border:none;padding:0 12px 2px;margin:0;border-right:1px dotted #000}
#box-home-agenda .article-item-image{width:210px;height:110px}
#box-home-agenda .flex-container{margin-left:-12px;margin-right:-12px;padding-bottom:20px;margin-bottom:0;width: 100%; box-sizing: border-box;}
#box-home-agenda .flex-container .article-item:last-child{border:none}
#box-home-events .flex-container{margin-left:-9px;margin-right:-9px;margin-bottom:0}
.hover-box-item img{width:100%;height:auto;max-width:100%}
.hover-box-item{width:137px;height:80px;float:left;position:relative;margin:6px 18px 12px 0;overflow:hidden}
#box-home-events .items-list .hover-box-item:nth-child(6n+0){margin-right:0}
#box-home-events .items-list .hover-box-item:nth-child(n+7){display:none}
#box-home-events .items-list.expanded .hover-box-item{display:block}
.hover-box-item:hover .hover-box-content{top:0}
.hover-box-content{position:absolute;width:137px;height:80px;overflow:hidden;background-color:rgba(0,175,240,0.5);background:rgba(0,175,240,0.5);color:rgba(0,175,240,0.5);top:81px;left:0;box-sizing:border-box;padding:4px;transition-property:top;transition-duration:1s,1s;font-family:"FedraSansMedium";font-size:12px}
.lightbox-large-slider,.topics-slider,.spotlight-large-slider{border:2px solid #7d7d7d;border-radius:12px;box-sizing:border-box;min-height:400px;padding:30px 55px;position:relative;margin-bottom:60px}
.spotlight-large-slider{background:#DCDCDC;border:0 none}
.lightbox-large-slider{background:#DCDCDC;border:0 none}
.topics-large-slider,.spotlight-large-slider{margin-top:20px;padding:20px 88px;margin-bottom:30px}
.topics-large-slider .owl-controls,.spotlight-large-slider .owl-controls{position:absolute;top:206px;left:0;z-index:1;width:100%}
.topics-large-slider .owl-buttons div,.spotlight-large-slider .owl-buttons div{background:top left url(/img/nav_arrows.png) no-repeat;height:46px;width:24px;left:-50px;position:absolute}
.topics-large-slider .owl-buttons div.owl-next,.spotlight-large-slider .owl-buttons div.owl-next{background-position:top right;right:-50px;left:auto}
.lightbox-large-slider .owl-buttons{bottom:-58px;height:16px;left:-42px;position:absolute;width:560px}
.lightbox-large-slider .owl-buttons > div{text-indent:-9999px;width:9px;height:16px;background:url(/img/nav_arrows.png) no-repeat 0 -46px;position:absolute;left:0;font-family:"FedraSansNormal";font-size:9px;color:#646464;line-height:16px}
.lightbox-large-slider div.owl-next::after{content:"ΕΠΟΜΕΝΟ";display:block;position:absolute;right:9px;padding-right:12px;text-indent:0;top:0;height:100%}
.lightbox-large-slider div.owl-prev::after{content:"ΠΡΟΗΓΟΥΜΕΝΟ";display:block;position:absolute;left:9px;padding-left:12px;text-indent:0;top:0;height:100%}
.lightbox-large-slider .owl-buttons > div.owl-next{background-position:-40px -46px;left:auto;right:0}
.lightbox-large-slider .box-header a{background:rgba(0,0,0,0) url(/img/graphics10.png) no-repeat scroll 0 -528px / 350px auto;display:block;height:60px;margin:auto auto 30px;text-indent:-999em;width:350px}
.topics-large-slider .box-header,.spotlight-large-slider .box-header{display:block;margin:auto auto 20px;font-family:"LifoEgyptian";text-align:center;font-size:36px}
.spotlight-large-slider .box-header{color:#fff}
.lightbox-large-slider .item-title{font-family:"FedraSansBook";font-size:20px;font-weight:400;width:450px;margin:20px auto 0;color:#000;text-align:center;line-height:25px;font-weight:normal}
.topics-large-slider .item-title,.spotlight-large-slider .item-title{font-family:"UBRockwell";font-size:48px;line-height:49px;text-align:center;margin:20px 0}
.topics-large-slider .article-item-summary{font-family:'FedraSansNormal';font-style:italic;font-size:25px;line-height:32px;text-align:center;color:#b4b4b4}
.topics-slider .article-item-meta{text-align:center;font-family:"FedraSansMedium";font-size:15px;color:#000;text-align:center;margin-top:20px}
body.home .col-side.first-side .news-list .inset{border-top:0}
#mega-panel{width:1280px;background:#000;margin:auto}
#mega-tabs{position:absolute;width:168px;height:52px;top:182px;z-index:4;left:52px}
.latest-hover{width:100%;box-sizing:border-box;padding-left:0;position:absolute;height:100%;left:0;bottom:0;z-index:2;padding-top:240px}
.mega-latest{width:100%;height:100%}
@media (max-width: 1280px) {
.mega-summary{width:135px}
.mega-main-text-block{padding-left:40px;left:80px;width:478px}
.mega-main-text h2{font-size:26px;line-height:32px}
body.redo.home #pageWrap,body.redo.home #page{width:980px}
body.redo.home .mega-badge{left:0}
.mega-col2{width:312px}
#mega-ribbon.style-0 .mega-share, #mega-ribbon.style-2 .mega-share {left:0}
#mega-ribbon.style-0 .mega-badge, #mega-ribbon.style-2 .mega-badge{left:80px}
#mega-ribbon.style-0 .mega-box-wrap, #mega-ribbon.style-2 .mega-box-wrap{box-sizing:border-box;padding-left:80px}
#mega-ribbon.style-0 #mega-panel, #mega-ribbon.style-2 #mega-panel{width:1120px;margin:auto;min-height:574px}
#mega-ribbon.style-0 #mega-tabs, #mega-ribbon.style-2 #mega-tabs{left:131px}
#mega-ribbon.style-0 .mega-wrap, #mega-ribbon.style-2 .mega-wrap{background:#000;height:542px;width:1120px;margin:auto}
#mega-ribbon.style-0 .mega-content, #mega-ribbon.style-2 .mega-content{width:980px;overflow:hidden}
.mega-col-left{width:478px;overflow:hidden;height:542px}
.mega-image1.mega-video{height:542px}
.mega-col-right{width:470px;height:540px}
.mega-item1 .mega-image,.mega-item1 .mega-video{width:266px;height:102px}
.mega-item1 .mega-image img{height:auto;width:266px}
.mega-item3 .mega-image,.mega-item2 .mega-image,.mega-item3 .mega-video,.mega-item2 .mega-video{width:108px;height:100px;overflow:hidden;float:left;margin-right:20px}
.mega-item3 .mega-image img{height:100%;width:auto}
.mega-item2 .mega-image img{width:100%;height:auto}
.mega-item1 .mega-item-content,.mega-item2 .mega-item-content,.mega-item3 .mega-item-content{float:right;width:184px}
.mega-main-text-block{left:0}
.mega-item3 .mega-video img{width:auto!important;max-width:none!important;height:100%!important;
top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)
}
}
@media (max-width: 1120px) {
#mega-ribbon.style-0, #mega-ribbon.style-2 {background:#000}
.mega-main-text-block{left:0}
#mega-ribbon.style-0 #mega-panel, #mega-ribbon.style-2 #mega-panel{width:100%;background:transparent;min-width:980px}
#mega-ribbon.style-0 #mega-panel .mega-share, #mega-ribbon.style-2 #mega-panel .mega-share{display:none}
#mega-ribbon.style-0 #mega-tabs, #mega-ribbon.style-2 #mega-tabs{left:52px}
#mega-ribbon.style-0 .mega-box-wrap, #mega-ribbon.style-2 .mega-box-wrap{padding-left:0}
#mega-ribbon.style-0 .mega-badge, #mega-ribbon.style-2 .mega-badge{left:0}
#mega-ribbon.style-0 .mega-wrap, #mega-ribbon.style-2 .mega-wrap{width:980px}
}
.home-banners{position:relative;border-bottom:1px solid #ccc;margin:0 -90px;padding-top:20px}
#user-panel.islogged span.mm1{background-position:top right}
.home_banner{width:940px}
.hb-item{display:block;position:relative;width:940px;height:150px}
.hb-item .item-image{width:940px;height:150px}
.hb-item .item-content{position:absolute;width:940px;height:150px;top:0;left:0;background:0 0 url(/img/banner-mask.png) no-repeat}
.hb-item .item-content > div{position:relative;width:940px;height:150px;box-sizing:border-box;padding:10px}
body.redo .hb-item .article-item-header{color:#fff;font-size:22px;line-height:28px;width:500px;display:block;max-height:88px;overflow:hidden}
body.redo .hb-item .article-item-section{color:#64C8F0}
.home_banner{border-top:1px solid #C8C8C8;padding-top:30px}
.hb-item .item-section{font-size:36px;line-height:1;font-family:"UBRockWell";color:#fff;position:absolute;box-sizing:border-box;bottom:0;left:0;width:100%;padding:0 0 10px 10px}
.home_banner .owl-controls,.nowness_banner .owl_controls{padding-top:10px}
.home_banner .owl-buttons,.nowness_banner .owl-buttons{position:relative;width:100%;height:16px}
.home_banner .owl-buttons > div,.nowness_banner .owl-buttons > div{position:absolute;left:0;background:0 0 url(/img/banner-nav.png) no-repeat;width:93px;height:16px}
.home_banner .owl-buttons .owl-next,.nowness_banner .owl-buttons .owl-next{background-position:bottom left;left:auto;right:0}
.nowness_banner .item > a{position:relative;width:590px;height:150px}
body.redo .spotlight-large-slider .item-content{text-align:center;padding:0 30px}
body.redo .spotlight-large-slider .article-item-summary,body.redo .spotlight-large-slider .article-item-header{font-family:"FedraSansMedium";font-size:20px;line-height:25px;color:#B4B4B4}
.spotlight-large-slider .article-item-meta{font-size:13px;font-family:"FedraSansMedium";color:#646464}
.article-item-content.live_post{position:relative}
.article-item-content.live_post .article-item-header span{font-family:"LifoEgyptian";font-size:23px}
#mega-slider,#mega-slider .owl-wrapper-outer,#mega-slider .owl-wrapper,#mega-slider .owl-item,#mega-slider .item{height:100%}
#mega-slider .owl-buttons div{position:absolute;width:50px;background:red;z-index:1;height:50px;top:50%;left:0;margin-top:-25px}
.blink{width:12px;height:12px;background:#fff;display:block;position:absolute;top:16px;left:26px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;animation:blinker 1s linear infinite;-webkit-animation:blinker 1s linear infinite}
@keyframes blinker {
50%{opacity:0}
}
@-webkit-keyframes blinker {
50%{opacity:0}
}
#mega-slider .item{background-size:cover;background-position:50% 50%;background-repeat:no-repeat}
ul.mega-menu span,a.mega-logo,.mega-tellis,.mega-search input.searchButton,#mega-ribbon span.mm1{background:url(/img/cover_buttons4.png) no-repeat;background-size:220px auto}
#mega-ribbon span.mm1{background-position:0 -50px}
#mega-ribbon span.mm1:before{content:"LOG IN";display:block;font-size:11px;padding:5px 0 0 5px;color:#BEBEBE;letter-spacing:.02em}
#user-panel.islogged span.mm1{background-position:0 0}
#user-panel.islogged span.mm1:before{content:"LOG IN";display:block;font-size:11px;padding:5px 0 0 5px;color:#BEBEBE;letter-spacing:.02em}
ul.mega-menu span.mm3{background-position:-124px 0}
ul.mega-menu span.mm3:before{content:"ΡΟΗ ΑΡΘΡΩΝ";display:block;font-size:11px;padding:5px 0 0 5px;letter-spacing:.02em}
ul.mega-menu span.mm3.active{background-position:-124px -50px;color:#fff}
ul.mega-menu span.mm2{background-position:-52px 0}
ul.mega-menu span.mm2:before{content:"TRENDING";display:block;font-size:11px;padding:5px 0 0 5px;letter-spacing:.02em}
ul.mega-menu span.mm2.active{background-position:-52px -50px;color:#fff}
a.mega-logo{background-position:0 -137px}
.mega-tellis{background-position:0 -100px}
.mega-search input.searchButton{background-position:0 -124px}
ul.mega-menu li span{cursor:pointer;cursor:hand}
.nowness_banner{margin-bottom:40px}
.nowness_banner .owl-wrapper-outer{box-sizing:border-box}
.nowness_banner .item-image{float:left;position:relative;height:150px;overflow:hidden}
.nowness_banner .item-content::before{background:rgba(0,0,0,0) url(/img/nowness_logo_inv.png) no-repeat scroll 50% 50% / 130px auto;bottom:20px;content:"";height:20px;position:absolute;right:20px;width:130px}
.nowness_banner .item-content{background-color:rgba(0,0,0,0.2);background:rgba(0,0,0,0.2);text-align:center;box-sizing:border-box;width:590px;position:absolute;left:0;top:0;height:100%}
.nowness_banner .item-content > div{box-sizing:border-box;height:150px;padding:10px;position:relative;width:400px;display:table-cell;vertical-align:middle}
.nowness_banner .owl-controls{padding-top:10px}
.nowness_banner .owl-buttons{height:16px;position:relative;width:100%}
.nowness_banner h3.articleItemHeader{font-family:"hgf_mediumregular";font-size:22px;letter-spacing:-.02em;line-height:1.1;color:#fff;text-align:center}
.nowness_banner .articleItemSection{color:#fff}
.play-wrap{height:40px;margin:auto;position:relative;width:30px}
.play-button{background:#000 none repeat scroll 0 0;border:2px solid #fff;border-radius:46px;bottom:0;height:26px;margin-right:0;margin-top:0;position:absolute;right:0;width:26px}
.play-button span{border-bottom:6px solid transparent;border-left:10px solid #fff;border-top:6px solid transparent;height:0;left:10px;position:absolute;top:7px;width:0}
.section-grey{border-top:1px solid #c8c8c8;margin-bottom:30px;margin-left:-90px;padding-left:90px}
.articles-list.s-vertical .article-item.vs-item .article-item-video{width:285px;height:143px;overflow:hidden}
.articles-list.s-vertical .article-item.first-item .article-item-content{height:auto!important}
.articles-list.s-vertical .article-item.first-item .article-item-video{width:285px;height:330px;overflow:hidden}
.articles-list.s-vertical .article-item.first-item .article-item-video.iframeplay{height:143px}
.articles-list.s-vertical .article-item.first-item .article-item-video img{height:100%!important;width:auto!important;display:block;position:relative;max-width:none!important;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);left:50%}
.articles-list.s-vertical .article-item.first-item .article-item-video > div{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.articles-list.main_image .article-item.small-item .article-item-video{width:300px;height:140px;overflow:hidden}
.articles-list.main_image .article-item.article-item-main .article-item-video{width:590px;height:310px;overflow:hidden;margin-bottom:10px}
.single-mega-video{background:#000;height:100%;left:0;position:absolute;top:0;width:100%}
.single-mega-video img{display:block;width:100%!important;max-width:none!important;height:auto!important;top:50%;position:relative;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.single-mega-video a{display:block;height:100%;left:0;position:absolute;top:0;width:100%}
.side-tabs.news-list .article-item .article-item-video{width:300px;height:160px}
.side-tabs.news-list .article-item .article-item-video.iframeplay{height:160px!important}
.articles-list.s-vertical .article-item.vs-item .article-item-video img,.articles-list.main_image .article-item.small-item .article-item-video img,.articles-list.main_image .article-item.article-item-main .article-item-video img,.side-tabs.news-list .article-item .article-item-video img,.spotlight-large-slider .article-item-video img,#guide-top-articles .article-item-video img{display:block;height:auto;max-width:100%;width:100%;position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.article-item-video.iframeplay img{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important;top:auto!important;left:auto!important}
.spotlight-large-slider .article-item-video{width:760px;height:425px!important}
.spotlight-large-slider .article-item-video iframe{display:none}
.spotlight-large-slider .owl-item.active .article-item-video iframe{display:block}
.articles-list.s-vertical .article-item.vs-item .article-item-video > div,.articles-list.main_image .article-item.small-item .article-item-video > div,.articles-list.main_image .article-item.article-item-main .article-item-video > div,.side-tabs.news-list .article-item .article-item-video > div,.spotlight-large-slider .article-item-video > div,#guide-top-articles .article-item-video > div{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
#guide-top-articles .article-item-video{width:940px;height:500px;overflow:hidden}
section .indexLinks.styleboxed-wide{border-bottom:1px dotted #000;margin-bottom:20px;margin-left:-60px;padding-left:60px}
body.home .ads_top.moveToDecoy,body.home .das_top.moveToDecoy{border-top:1px solid #fff;left:90px!important}
.cVerHor > a{position:relative;top:50%;left:50%;display:block;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.mega-main-text .author span:first-child:after{content:" - "}
.mega-col-right .eventDate span{display:block}
.mega-col-right .eventDate{margin-top:5px;color:#969696;font-size:10px}
.mega-subitems h2 {
    font-family: FedraSansNormal;
    font-size: 15px;
    line-height: 1.2;
}
#mega-ribbon.style-1 .mega-intro .mega-subitems {width: 870px; margin: auto; overflow: hidden; padding-bottom: 20px; padding-top: 5px;}
.mega-subitems .col {
    width: 260px;
    float: left;
    margin: 0 15px;
    position: relative;
    text-align: left;
    padding-top: 6px;
}
.mega-subitems .col::after {
    content: "";
    display: block;
    height: 3px;
    left: 0;
    line-height: 0;
    position: absolute;
    top: -4px;
    width: 204px;
    background: top left url(/img/dots.png) repeat-y;
/*    border-bottom: 1px dotted #fff;*/
}
#mega-latest .item-left {
    width: 130px;
    float: left;
    padding-left: 46px;
    box-sizing: border-box;
    position: relative;
}
#mega-latest .item-right {
    float: right;
    width: 214px;
}
#mega-latest .item {
    display: block;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px dotted #000;
}
#mega-latest h3 {font-family: "FedraSansNormal";font-size: 13px; line-height: 17px;}
#mega-latest .item-image {width: 80px; height: 44px; overflow: hidden;}
#mega-latest .item-image img {height: 44px; width: auto;}
#mega-latest .time {position: absolute; top: 0; left: 8px; width: 24px;font-family: "UBRockwell";font-size:13px; line-height: 1}
#mega-scroll {
/*    overflow: auto;*/
    width: 374px;
/*    height: 730px;*/
}
#mega-latest {width: 374px;}
#mega-latest .top, #mega-latest .bottom {background: none;padding: 0;border: 0;}

.mega-track {
    width: 10px;
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
    margin-right: 2px;
    border-radius: 10px;
    -webkit-transition: background 250ms linear;
    transition: background 250ms linear;
}

.mega-track:hover,
.mega-track.dragging {
    background: #d9d9d9; /* Browsers without rgba support */
    background: rgba(0, 0, 0, 0.15);
}

.mega-handle {
    width: 10px;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}

.mega-track:hover .mega-handle,
.mega-track.dragging .mega-handle {
    width: 10px;
}
#mega-popular .item-image {
    height: 92px;
    width: 100%;
    overflow: hidden;
}
#mega-popular ul li:first-child .item-image {
    height: 276px;
    
}
#mega-popular ul li:first-child {
    border-bottom: 1px dotted #000;
    padding-bottom: 20px;
    margin-bottom: 15px;
    
}
#mega-popular ul li:first-child .item-image {
    height: 276px;
    margin-bottom: 5px;
}

#mega-popular ul li:nth-child(2) .item-image {
    display: none;
}

#mega-popular .item-image img {
    width: 100%;
    height: auto;
}
#mega-popular h3 {
    font-family: "FedraSansMedium";
    font-size: 13px;
    line-height: 17px;
    color: #969696;
}
#mega-popular a:hover h3 {
    color: #E1001E;
}
#mega-popular h3 span {
    color: #000;
}
#mega-popular .item-content {
    padding-left: 22px;
    padding-top: 5px;
    color: #969696;
    line-height: 1;
}
#mega-popular ul li {
    margin-bottom: 20px;
}
#mega-popular .time {
    font-family: "FedraSansMedium";
    font-size: 11px;
    margin-top: 10px;
}
#mega-popular ul li:nth-child(n+4) {
    display: none;
}
#mega-popular {
    padding-bottom: 30px;
    position: relative;
    min-height: 660px;
}
#mega-popular .button-more {position: absolute; bottom: 0; left: 0;}
#mega-latest ul li:first-child {
    margin-top: 10px;
}
.mp-container:after {
    content: "";
    height: 100%;
    width: 5px;
    right: -20px;
    top: 0;
    position: absolute;
    border-right: 1px solid #969696;
}
#megablocks.expand #mega-popular ul li {display: block;}
#megablocks.expand #mega-latest .overview {position: static;}
#megablocks.expand #mega-latest .viewport {height: auto;}
#megablocks.expand #mega-latest .scrollbar {display: none;}

#mega-popular .ml-header span {position: relative;}
#mega-popular .ml-header span:after {
    content: "";
    background: url("/img/cover_buttons4.png") no-repeat;
    background-size: 220px auto;
    position: absolute;
    right: 0;
    width: 35px;
    height: 36px;
    background-position: -186px -204px;
}
#scrollbar1
{
    width:355px;
    margin:0;
    position: relative;
}

#scrollbar1 .viewport
{
    height: 700px;
    overflow:hidden;
    position:relative;
/*    background: #dedede;*/
}

#scrollbar1 .overview
{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
/*    padding: 10px 20px;*/
}

#scrollbar1 .scrollbar
{
    background:#ECECEC;
    position:absolute;
    background-position:0 0;
    right: -20px;
    top:0;
    width:15px;
      border-radius: 6px;
}

#scrollbar1 .track
{
    background:#ECECEC;
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
    border-radius: 6px;
}

#scrollbar1 .thumb
{
    background:transparent url(/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height:20px;
    width:25px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:-5px;
}

#scrollbar1 .thumb .end
{
    background:transparent url(/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow:hidden;
    height:5px;
    width:25px;
}

#scrollbar1 .disable
{
    display:none;
}

.noSelect
{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}
#top_stories .customHeader {display:inline-block;color:#000;letter-spacing:0;word-spacing:-0.08em;padding-left:2px;}

.type-highlight .mega-col-left {width: 770px;}
.type-highlight .mega-col-right {width: 360px; height: 565px; margin-left: 20px; box-sizing: border-box; margin-top: 115px; border-top: 2px solid #fff; padding-top: 15px;}
.type-highlight .mega-date-widget {top: 20px!important; width: 360px!important; left: auto!important; right: 0!important; }
.type-highlight  .mega-date-widget .date-inset {float: left; width: 190px!important;margin-bottom: 0; }
.type-highlight  .megasuptitle {border-radius: 12px 12px 12px 12px;
-moz-border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px; background: #FFF200; font-family:"FedraSansMedium", sans-serif; font-size: 11px; text-align: center; width: 170px; margin: auto; line-height: 1; padding: 2px 0 1px 0;}
.type-highlight  .megatitle {font-family:"UBRockWell",serif;  text-align: center; color: #fff; padding: 0 10px; font-size: 26px; line-height: 1; margin-top: 10px;}
.type-highlight .mega-image {width: 70px; height: 70px; overflow: hidden; float: left;}
.type-highlight .mega-item-date {width: 70px; float: left; color: #fff; text-align: right; font-family:"UBRockWell",serif;  font-size: 14px; line-height: 1; box-sizing: border-box;}
.type-highlight .mega-item-content { width: 280px; margin-left: 10px; float: left;}
.type-highlight .mega-item-content h2 { font-size: 14px; font-weight: inherit; font-family: FedraSansNormal; color: #fff;}
.type-highlight ul.mega-list li {display: block; padding-top: 15px; margin-top: 15px; border-top: 1px dotted #ccc;}
.type-highlight ul.mega-list li a {display: block;}
.mega-list li .mega-image, .mega-list li:first-child .mega-item-date {display: none;}
.mega-list li:first-child .mega-image {display: block;}
.type-highlight .mega-image img {display: block; height: 100%; width: auto; position:relative;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);position: relative;}
.type-highlight ul.mega-list li a:hover .mega-item-content h2 span {color: #FFF200;}
.type-highlight .mega-main-text h3 {color: #fff; font-family: FedraSansMedium, sans-serif; font-size: 14px; font-style: italic; line-height: 18px; margin-top: 2px;}
.type-highlight .mega-main-text {padding: 0;}
.type-highlight .mega-main-text-block {max-width: 770px; bottom: auto; top: 0;padding: 20px 20px 40px 240px;width:100%!important;
background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
}
.type-highlight .mega-date-widget .wc1 {
    border-left: 1px dotted #969696;
    padding-left: 12px;
}
.type-highlight .mega-image1.mega-video a, .type-highlight .mega-image1 a {display: block; position: relative; height: 100%; width: 100%;}
.type-highlight .vbuttons_wrap {position: absolute; bottom: 25px; right: 20px; z-index: 2;}
.type-highlight .vbuttons_wrap .vbuttons div {height: 40px; width: 40px; background-size: 80px auto; }
@media (max-width: 1280px) {
   .type-highlight .mega-col-left {width: 690px; height: 680px!important}
   .type-highlight .mega-image1.mega-video, .type-highlight .mega-image1 {height: 680px!important}
    .type-highlight .mega-col-right {width: 280px;} 
    .type-highlight .mega-date-widget {width: 280px!important; right: 50px!important;}
    .type-highlight  .mega-date-widget .date-inset {width: 120px!important;}
    .type-highlight .mega-item-content {width: 200px;}
    .type-highlight#mega-ribbon .mega-wrap {height: 680px!important;}
}
@media (max-width: 1120px) {
    .type-highlight .mega-col-left {width: 680px;}
    .type-highlight .mega-item-content {width: 190px;}
    .type-highlight .mega-date-widget {right: 0px!important;}
}
.type-highlight2 #megacol1 {bottom: 0;box-sizing: border-box;height: 100%;padding-left: 240px;position: absolute;width: 1120px;}
.type-highlight2 .mega-content-wrap {bottom: 0;height: 100%;position: relative;}
.type-highlight2 .mega-image1 {height: 100%;position: absolute;width: 100%;overflow: hidden;max-height: 520px;}
.type-highlight2 .vbuttons_wrap {top: 20px; left: 20px;position: absolute;width: 200px;}
.type-highlight2 .mega-main-text {background: #000 none repeat scroll 0 0;bottom: 0;padding: 18px 0 20px 0;position: absolute;text-align: left;width: 100%;}
.type-highlight2 .mega-image1 a {display: block; position: relative; height: 100%; width: 100%;}
.type-highlight2 .mega-image1 img {display: block; width: 100%; height: auto; margin: 0;}
.type-highlight2 .megasuptitle { font-family: "LifoEgyptian", serif; font-size: 40px; color: #fff; letter-spacing:  0.04em; }
.type-highlight2  h2 {font-family: "UBRockWell", serif; font-size: 50px; letter-spacing: 0.01em; line-height: 1; }
.type-highlight2 .mega-side-summary {position: absolute; bottom: 22px; left: 20px; width: 190px; color: #fff; font-family: FedraSansNormal; font-size: 16px; font-style: italic; text-align: right;}
.type-highlight2 .mega-image1.mega-video img {
  display: block;
  height: 100% !important;
  left: 50%;
  max-width: none !important;
  position: relative;
  transform: translateX(-50%);
  width: auto !important;
}
@media (max-width: 1280px) {
    .type-highlight2 #megacol1 { 
        width: 965px;
        overflow: hidden;
    }
    .type-highlight2 .mega-image1 {
        max-height: 412px;
    }
}
@media (max-width: 1120px) {
    .type-highlight2 #megacol1 {
        bottom: 0;
        box-sizing: border-box;
        height: 100%;
        padding-left: 240px;
        position: relative;
        width: 100%;
        margin: auto;
    }
}
.homeBanners {margin-bottom: 10px;}
.homeBanners a::before {background: rgba(0, 0, 0, 0) url("/img/homebanners.png") no-repeat scroll left top / auto 50px;content: "";height: 50px;left: 0;position: absolute;width: 50px;}
.homeBanners a:first-child {border-right: 1px solid #ccc;padding-left: 60px;}
.homeBanners a {display: inline-block; width: 294px; height: 50px; float: left; position: relative;box-sizing: border-box;}
.homeBanners a {font-family: FedraSansNormal; font-size: 11px;}
.homeBanners a span {font-family:"UBRockWell",serif;font-size: 13px;letter-spacing: 0.04em;}
.homeBanners a.bannerCrossword::before {background-position: top right;left: auto;right: 0;}
.homeBanners a.bannerCrossword {padding-right: 60px; text-align: right;}
#lifoland-home-box .homeBanners a.bannerCrossword::before {background-position: top right;left: 0;right: auto;}

.style-0 .mega-item1 .mega-video {position: relative;}
.style-0 .mega-item1 .mega-video .vbuttons_wrap {
    transform: none;
    top: 10px;
    left: 10px;
    margin: auto;
    position: absolute;
}
.valign {top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}