/* 
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau 
and/or their suppliers. You may not attempt to copy, install, 
redistribute, convert, modify or reverse engineer this font 
software. Please contact WebType with any questions: www.webtype.com
*/

body:after { content: ''; background-image: url(//pls.webtype.com/v.gif?ct=54632,55880,54632,55880,54632,55880,54632,55880&r=8627&p=6450&h=eIQZPUUAZwjt%2bCt2h5MEaA%3d%3d); }

@font-face {
 font-family: "GeorgiaProCondSemiBold";
 src: url("//cloud.webtype.com/webtype/ff/2/6461aa35-b17e-414e-93b1-0337f0392c20");
 src:  url("//cloud.webtype.com/webtype/ff/2/6461aa35-b17e-414e-93b1-0337f0392c20#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/3/7360f7c1-61ba-434b-b24e-1e20617fe40f") format("woff"),
  url("//cloud.webtype.com/webtype/ff/1/cea22128-a0c2-4631-8a64-445c704b1fd0") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/4/a2542b3f-fa41-45b3-ade1-3c49eafba8d6#web") format("svg");
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: "GeorgiaProCondSemiBoldItalic";
 src: url("//cloud.webtype.com/webtype/ff/2/beca0f7b-d1ef-442b-8bc4-8617bfb03bc9");
 src:  url("//cloud.webtype.com/webtype/ff/2/beca0f7b-d1ef-442b-8bc4-8617bfb03bc9#iefix")  format("embedded-opentype"),
  url("//cloud.webtype.com/webtype/ff/3/5d05fb1a-ed55-47fe-9640-2cd216771d18") format("woff"),
  url("//cloud.webtype.com/webtype/ff/1/d4ff8b1a-68fb-4de5-bbcf-bc9143f6a3c7") format("truetype"),
  url("//cloud.webtype.com/webtype/ff/4/c558334b-f397-4e67-8836-1eae0c7a6cd9#web") format("svg");
 font-style: italic;
 font-weight: normal;
}
