/*CABECERAS GENERALES*/



/*BARRA DE NAVEGACIN*/
#barra {
  	position:fixed;
  	margin:0px;
  	z-index:25;
	height:18px;
	width:100%;
	background-color:transparent;
	font-family: 'Century Gothic', Arial, sans-serif;
}
#barra ul{
  	list-style:none;
  	padding:0px;
  	margin:0px;
  	padding-right:20px;
}
#barra li{
  	float:right;
  	margin-left:12px;
}
#barra li a{
  	color:#ffffff;
  	border:0px;
}
.barra_personal, .permisos_edicion{
  padding-right:8px;
  padding-top:5px;
  font-size:12px;
  float:right;
}
input.editapag{
      	margin-left:6px;
  	cursor:pointer;
  	border:0px;
	background-color:#f0f0f0;
  	color:#000000;
  	margin-top:4px;
  	font-size:11px;
  	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius:2px 2px 2px 2px;
	border-radius:2px 2px 2px 2px;
	
}
input.editapag:hover{
  	background-color:transparent;
  	color:#ffffff;
  	border:1px solid #c0c0c0;
  	padding:0px 4px 0px 4px;
}
