/*
 *****************************************************************************************************************************
 * HOJA DE ESTILO GENERAL DE LA UNIVERSIDAD COMPLUTENSE DE MADRID
 * OFICINA WEB - REA DE INFRAESTRUCTURAS WEB
 * Universidad Complutense de Madrid
 *
 * Fichero:             normal.css
 * Finalidad:           Visualizacion normal
 * Fecha actualizacion: 04/11/2011
 *
 *****************************************************************************************************************************
 */


/*
 *****************************************************************************************************************************
 * OPCIONES GENERALES
 *****************************************************************************************************************************
 */
/* Cuerpo general */


html, body {
	margin: 0px;
	padding: 0px;
	height:100%;
	min-width:980px;
	font-family: 'Century Gothic', Arial, sans-serif;  
}
h1, h2, h3, h4 {
	font-weight:400;
	display: block;
}
h1 {
	margin: 2px 0 4px 0px;
	color: #970100;
	font-size: 2em;
	font-weight:bold;
}
h2 {
	font-size: 1.4em;
	margin: 0px 0px 5px 0px;
	color: #009fbf;
	font-weight:bold;
}
h3 {
	font-size: 1.15em;
	margin: 0px 0px 5px 0px;
	color: #009fbf;
	font-weight:bold;
}
h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0px;
	padding:0px;
	color: #009fbf;
}
hr {
	border: 0px;
	height: 1px;
}
img {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
p {
  	text-align:justify;
  	padding-right:24px;
  	font-size: 0.9em;
  	font-family: 'Century Gothic', Arial, sans-serif;
}

div.wg_dir table {
  	border:4px solid #ffffff;
	-moz-border-radius:0px 42px 0px 42px;
	-webkit-border-radius:0px 42px 0px 42px;
	border-radius:0px 42px 0px 42px;
	overflow:hidden;
}
div.wg_dir table tr td{
  	border:0px;
  	padding-left:6px;
  	border:2px solid #ffffff;
}
div.wg_dir table tr td:nth-child(2n+1),div.wg_dir table tr td:nth-child(2n+1) p{
  	background-color:#dcdddf;
}
div.wg_dir table tr td:nth-child(2n+2),div.wg_dir table tr td:nth-child(2n+2) p{
  	background-color:#e7e7e8;
}
div.wg_dir table tr td:first-child,div.wg_dir table tr td:first-child p{
  	background-color:#bdbec0;
  	color:#000000;
  	font-weight:bold;
}
div.wg_dir table tr:first-child td,div.wg_dir table tr:first-child td p{
  	color:#ffffff;
  	font-weight:bold;
  	font-size:1.4em;
  	text-align:center;
}
div.wg_dir table tr:first-child td:nth-child(5n+1),div.wg_dir table tr:first-child td:nth-child(5n+1) p{
  	background-color:#636466;
}
div.wg_dir table tr:first-child td:nth-child(5n+2),div.wg_dir table tr:first-child td:nth-child(5n+2) p{
  	background-color:#d89b65;
}
div.wg_dir table tr:first-child td:nth-child(5n+3),div.wg_dir table tr:first-child td:nth-child(5n+3) p{
  	background-color:#c7bb65;
}
div.wg_dir table tr:first-child td:nth-child(5n+4),div.wg_dir table tr:first-child td:nth-child(5n+4) p{
  	background-color:#a9bb67;
}
div.wg_dir table tr:first-child td:nth-child(5n+5),div.wg_dir table tr:first-child td:nth-child(5n+5) p{
  	background-color:#4dbbd4;
}


table.normal {
  	border:0px;;
}
table.normal tr td{
  	border:0px;
  	padding-left:6px;
}
table.normal tr td:nth-child(2n+1), table.normal tr td:nth-child(2n+1) p{
  	background-color:transparent;
}
table.normal tr td:nth-child(2n+2), table.normal tr td:nth-child(2n+2) p{
  	background-color:transparent;
}
table.normal tr td:first-child, table.normal tr td:first-child p{
  	background-color:transparent;
  	color:#000000;
  	font-weight:normal;
}
table.normal tr:first-child td, table.normal tr:first-child td p{
  	color:#000000;
  	font-weight:normal;
  	font-size:1.2em;
  	text-align:left;
}

select{
   border: 1px solid #808080;
   border-radius: 5px;
   cursor:pointer;
}


/*  Otras */
a{
  	color:#4e4d64;
  	border-bottom:1px dotted #c5c4da;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color:#01bf17;
}
a.sinborde{
  	text-decoration: none;
  	border:0;
}
a.btn_gris{
  	width:auto;
  	color:#ffffff;
  	padding:2px;
  	padding-right:14px;
	padding-left:14px;
	border:2px solid #e9aa66;
	border-bottom:2px solid #e8533e;
  	-moz-border-radius: 18px 0px 18px 0px;
	-webkit-border-radius:18px 0px 18px 0px;
	border-radius:18px 0px 18px 0px;
	background: rgba(66,66,66,1.0);
	font-weight:600;
}
a.btn_gris:hover{
 	 background: rgba(222,222,222,1.0);
 	 color:#000000;
}  
.rojo{
  color:#d90303;
}
div.gris1{
  background-color:#e2e2e2;
  padding:4px;
}
div.gris2{
  background-color:#f0f0f0;
  padding:4px;
}
/*
 *****************************************************************************************************************************
 * ESTRUCTURA GENERAL
 *****************************************************************************************************************************
 */

#pagina_web, #pagina_web_pg{
  	height:auto;
}
#pagina_web_pg, body{
  	background: rgba(255, 255, 255, 1.0) url('../media/img/fondo_gris.jpg') top left repeat-y;
}
#contenedor {
  	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: left;
	height:auto;
	background-color: transparent;
}
#contenedor_pag {
  	margin: 0px 0px 0px 0px;
	padding: 0px;
	text-align: left;
	height:auto;
}

#area_ppal {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	margin-top:20px;
	padding: 0px;
	color: #4E4F4F;
}
#header, #header_pags {
  	position:fixed;
  	height: 84px;
	margin: 0px;
	padding: 0px;
	top:0px;
	z-index: 5;
	width:100%;
	background-image:url('../media/img/cabecera-1.png');
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#4b4b4b;
	background: rgba(0, 0, 0, 0.4) url('../media/img/cabecera-1.png') top left no-repeat;
	min-width:980px;
}
#header_pags{
  	position: fixed;
  	width: 100%;
	background-image: linear-gradient(left, rgb(255,255,255) 46%, rgb(142,142,142) 66%);
	background-image: -o-linear-gradient(left, rgb(255,255,255) 46%, rgb(142,142,142) 66%);
	background-image: -moz-linear-gradient(left, rgb(255,255,255) 46%, rgb(142,142,142) 66%);
	background-image: -webkit-linear-gradient(left, rgb(255,255,255) 46%, rgb(142,142,142) 66%);
	background-image: -ms-linear-gradient(left, rgb(255,255,255) 46%, rgb(142,142,142) 66%);
  	
}
div.header_pags{
  	height:84px;
	background: transparent url('../media/img/cabecera-1.png') top left no-repeat;
	  
}
#area_izq, #area_izq_pag, #area_izqb, #area_izqc {
  	position:absolute;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	margin-top:100px;
	margin-left:13px;
	width: 195px;
	background-color:#d9d9d9;
	float:left;
	overflow:hidden !important; 
	border:3px solid #ffffff;
	border-radius: 0 0 26px 0;  
 	-moz-border-radius: 0 0 26px 0;  
 	-webkit-border-radius: 0 0 26px 0;
}
#area_izq_pag{
	box-shadow: 2px 2px 1pc #000;
    	-webkit-box-shadow: 2px 3px 1pc #000;
	-moz-box-shadow: 2px 2px 1pc #000;
}
#area_izqb{
  	bottom:50px;
  	border:0px;
  	background-color:transparent;
}
#area_izqc{
  	position:absolute;
  	top:430px;
	border:0px;
	border-radius: 0 0 0 0;  
 	-moz-border-radius: 0 0 0 0;  
 	-webkit-border-radius: 0 0 0 0;
  	background-color:transparent;
}


#area_dcha, #area_dcha_pag, #area_apps, .ventana_apps {
  	margin: 0px 0px 0px 270px;
	padding: 120px 5px 5px 0px;
	color: #ffffff;
	height:100%;
}
#area_dcha_pag, #area_apps{
  	color:#000000;
  	background-color:#ffffff;
	padding-left:20px;
  	padding-top:120px;
  	padding-bottom:60px;
  	margin-left:220px;
  	font-size:0.8em;
}
#area_apps{
	margin-left:24px;  
}
.ventana_apps{
  	color:#000000;
  	margin:0px;
  	margin-left:24px;
}

/*
 *****************************************************************************************************************************
 * ELEMENTOS PRINCIPALES
 *****************************************************************************************************************************
 */

#header hgroup {
	position: relative;
	float: left;
	left: 120px;
	top: 10px;
	color: #ffffff;
	font-family: 'Century Gothic', Arial, sans-serif;
	font-size: 1em;
}

#header hgroup h1{
	font-size: 2.2em;
}	


#logo {
	position: absolute;
	left: 20px;
	top: 5px;
	margin: 0px;
	padding: 0px;
	z-index:20;
}
#logo img{
  	height:70px;
}
#logo a{
  	border:0px;
}
.area_pie a:link, #area_pie a:active, #area_pie a:visited {
	color: #ffffff;
}
#area_pie a:hover {
	color: #f1f1f1;
}
#area_pie{
  	position:fixed;
  	width:100%;
  	height:38px;
  	bottom:0px;
  	margin: 0px;
	padding: 0px;
	background-color:#4c4c4c;
 	z-index:5;
	min-width:980px;
}
#pieRSizq{
	position: relative;
	float: left;
	width:150px;
	margin: 8px 0px 1px 6px;
	text-align: left;
	font-size:1.2em;
	color:#404040;
}
#pieRSizq a{
  	color:#d4d4d4;
  	font-size:0.75em;
  	float:left;
  	display:block;
  	width:125px;
  	margin-top:-10px;
  	border-bottom:0px;
}
#pieRSizq img{
  	float:left;
  	margin-right:4px;
  	border:0px;
}
#pieRScent{
    	float: left;
    	font-size:0.5em;
    	margin:0 auto 0 auto;
}
#pieRScent ul{

}
#pieRScent ul li{
  	margin-top:8px;
  	float:left;
	text-align:left;
	margin-left:8px;
}
#pieRScent ul li .menu2_linea1{
  	font-weight:800;
	color:#f8cd1e;
	font-size:1.1em;
}
#pieRScent ul li .menu2_linea2{
  	font-weight:800;
	color:#f8cd1e;
	font-size:1.05em;
}

#pieCentIzq {
  	float:left;
  	margin:0 auto 0 auto;
  	text-align:left;
}
#pieCentDer {
  	float:right;
  	margin:8px 26px 0 0;
  	text-align:right;
}
#pieCentDer img{
	border:0px;
	float:left;
	width: 28px;
}

.titPie{
  	color:#e9ae00;
  	font-size: 1em;
  	margin:0px;
  	padding:0px;
}
.subtitPie{
  	color:#ffffff;
  	font-size: 1em;
  	margin:0px;
  	padding:0px;
}
#pieRSder{
	position: relative;
	float: right;
	margin: 4px 4px 1px 0px;
	width:25%;
}
#pieDer {
	float: right;
	margin: 0px 4px 1px 0px;
	font-family: Verdana,Arial,Helvetica;
	font-size: 0.9em;
}
#pieIzq {
	float: left;
	margin: 4px 0px 1px 8px;
	text-align: left;
	clear: both;
	color: #A7A5A8;
	font-family: Verdana,Arial,Helvetica;
	font-size: 0.8em;
}
.pie_contacto{
  	float:left;
  	margin-left:10px;
  	margin-top:6px;
  	text-align:left;
	font-size: 0.7em;
	line-height: 0.9em;
}
.pie_contacto a{
  	color:#d4d4d4;
  	border-bottom:0px;
}
.pie_contacto a:hover{
  	color:#fdd977;
}
#pieRScent ul, #pieRScent ul li{
  	float:left;
}
ul.naranja{
  	list-style:none;
  	border-bottom:0px;
}
ul.naranja li{
	background: transparent url("../media/img/ico_noticias1.gif") left 7px no-repeat;
	padding-left:14px;
	margin-bottom:6px;
	font-size:1.3em;
}


.cei{
  	position:absolute;
  	width:120px;
  	border-left:1px solid #fafafa;
  	font-family: 'Didact Gothic', sans-serif;
   	font-size:0.8em;
   	right:12px;
  	top:28px;
	padding-left:10px;
	padding-top:0px;
/*  	background: url('../media/img/cei.png') no-repeat right -1px; */
  	text-align:left;
  	color:#ffffff; 
  	z-index:25;
  	line-height:18px;
 }
.cei a{
  	color:#fafafa;
  	font-weight:800;
  	border-bottom:0px;
}
#buscador{
  	float:right;
  	margin-top:36px;
  	margin-right:156px;
  	height:40px;
  	width:338px;
  	font-size:1.2em;
  	background: none;
}

#directo{

  	float:left;
  	margin-left:12px;
  	margin-top:-3px;
}
form.fBuscar label{
	display: none;
}
form.fBuscar input[type="search"], form.fBuscar select, div.barra_editor a, input.negro{
	background-color: #000000;
	border: 1px solid #000000;
	color: #ffffff;
	font-family: 'Century Gothic', Arial, sans-serif;
	padding: 0px 8px 0px 6px;
}
form.fBuscar input[type="image"]{
  	position:fixed;
  	top:34px;
  	right:150px;
  	width:44px;
  	cursor:pointer;
  	z-index:2;
}

form.fBuscar input[type="text"]{
  	position:fixed;
	border:0px;
  	z-index:1;
  	top:40px;
  	right:170px;
  	width:320px;
  	height: 30px;
  	margin: 0px 10px 0px 0px;
  	padding: 0px 0px 0px 4px;
  	background-color: #FFFFFF;
  	font-family: 'Didact Gothic', sans-serif;
   	font-size:0.8em;
}
form.fBuscar div#boption{
	margin: -16px 0px 0px 0px;
	font-size: 0.6em;
	color: #FFFFFF;
}
form.fBuscar div#boption label{
	display: inline;
}
form.fBuscar div#boption input[type="radio"]{
	font-size: 0.6em;
}
form.fBuscar input[type="text"].binput{
	background-color: #FFFFFF;
	width: 300px;
	height: 27px;
	top:40px;
	margin-right: 10px;
}
div.barra_editor{
  	position:absolute;
  	padding-top:0px;
  	right:20px;
  	z-index:2;
}
div.barra_permisos, div.barra_editor{
	position:absolute;
  	top:83px;
  	right:21px;
  	font-size:1.0em;
  	z-index:2;
  	margin:6px;
}	
div.barra_editor{
  	top:110px;
}
div.barra_permisos a, div.barra_editor a{
  	background-color:red;
  	color:#000;
  	margin-right:4px;
  	padding:0px;
  	padding-left:2px;
  	padding-right:2px;
  	border:2px solid #000000;
  	border-bottom:0px;
}
input.negro{
  	padding: 0 3px 0 3px;
  	cursor:pointer;
  	color:#ffffff; 

}
form.fBuscar input[type="search"]{
	background-color: #ffffff;
	width:110px;
	color:#000000;
}
/*
form.fBuscar input[type="submit"], form.fBuscar select, .boton_buscar{
	font-family: 'Century Gothic', Arial, sans-serif;
	-moz-border-radius:0.3em;
	-webkit-border-radius:0.3em;
	border-radius:0.3em;
	
	-moz-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 0 rgba(0,0,0,0.3);
	
	background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);	
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));
	
	color:#000000;
	padding:0px 4px 0px 4px;
	border: 1px solid #000;
	cursor: pointer;
}
*/
form.fBuscar select{
 	width:120px; 
 	color:#000000;
	background-color:#ececec;
 	padding-right:0px;
	padding-left:0px;
	margin-left:0px;
	font-size:0.9em;
}
form.fBuscar input[type="submit"]{
  	position:fixed;
  	top:34px;
  	right:150px;
  	height: 44px;
  	width:44px;
  	cursor:pointer;
  	z-index:2;
  	background:rgba(0, 0, 0, 0) url("../media/img/lupa.png") no-repeat scroll 0px 0px;
  	background-size: 44px 44px;
	border: 0px;
	box-shadow: none;
}
/*
form.fBuscar input[type="submit"]:hover{
	background: -moz-linear-gradient(19% 75% 90deg,#D6D6D6, #FAFAFA);
	background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#D6D6D6));
}
*/
input[type="submit"]{
  	cursor:pointer;
}
input.integrado, input.integrado_des{
  	font-size:0.8em;
  	border:0px;
  	background-color: #fdfcea;
}
button.integrado{
  	padding:0px;
  	background-color:#ffffff;
  	border:1px solid #c0c0c0;
  	cursor:pointer;
	border-radius: 6px;  
 	-moz-border-radius:6px;  
 	-webkit-border-radius:6px;  
  	
}
input.integrado_des{
  	background-color:transparent;
}
button.integrado:hover{
  	background-color:#feb73f;
}
div.masnot_item{
	margin-right:24px; 
	margin-bottom:12px;
}
div.masnot_item img{
	width:100px; height:60px; 
	margin-bottom:10px; 
	padding:2px; 
	border:1px solid #464646;
	text-decoration:none !important;
	float:left;
	margin-right:12px;
}
div.masnot_item a{
	text-decoration:none !important;
	border:0px;
}
.masnot_titulo{
	font-size:1.2em;
	color:#2d2d2d;
	text-decoration:none;
	border:0xp;
}
.masnot_fecha{
	font-style:italic;
	color:#757575;
	font-size:0.9em;
}
p.masnot_descripcion{
	color:#000000; 
	font-size:1.0em;
	margin-top:4px;
	padding-top:4px;
}
.masnot_gris{
	border-bottom:4px solid #f6f6f6;
	padding:4px;
	margin-top:-12px;
}
.masnot_gris:hover{
	background-color:#f6f6f6;
}
.masnot_blanco{
	border-bottom:4px solid #f6f6f6;
	margin-top:-12px;
	padding-left:4px;
}
.masnot_blanco:hover{
	background-color:#f6f6f6;
}

a.masnot_enlace:hover{
	color:#000000;
	background-color:#c3c3c3;
}
.not_ppales_marco{
  	float:left;
	width:90px;
	height:80px;
	margin-right:6px;
	font-size:0.8em;
}
.not_ppales_marco a{
  	color:#ffffff;
  	border-bottom:0px;
}
.not_ppales_portada{
 	position:relative;
	width:90px;
	height:50px;
	overflow:hidden; /* IMPORTANTE */
	border:1px solid #ccc;

	box-shadow: 2px 2px 5px #000;
	-webkit-box-shadow: 2px 2px 5px #000;
	-moz-box-shadow: 2px 2px 5px #000;
 }
.not_ppales_portada img{
	width:170px;
	margin:-20px -15px -20px -35px;
 }
.txt_descripcion{
  	font-weight:bold;
  	font-style:italic;
  	color:#808080;
}
.foto_thunbnail{
  	float:left;
  	border:2px solid #c0c0c0;
  	padding:2px;
  	margin-right:24px;
  	height:80px;
}
.foto_thunbnail img{
  	height:80px;
}


div.wg_include{
  height:100%;
  min-height:800px;
}
#barra{
  min-width:980px;
}

div.p_destacados, div.p_destacados_p{
  border:1px solid #ffffff;
  background-color:rgba(0, 0, 0, 0.6);
  -moz-border-radius:0px 0px 26px 0px;
  -webkit-border-radius:0px 0px 26px 0px;
  border-radius:0px 0px 0px 26px 0px;
}
div.p_destacados_p{
  background-color:rgba(0, 0, 0, 0.6);
}
div.p_destacados h2{
  font-size:14px;
  color:#e7e7e7;
  font-weight:normal;
  padding:0 0 2px 4px;
  margin:0px;
  background-color:rgba(213, 3, 3, 0.6);
}
div.p_destacados ul{
  list-style:none;
  padding:4px;
  margin:0px;
  font-size:12px;
  font-weight:normal;
}
div.p_destacados li{
  margin-bottom:3px;
  font-weight:normal;
}
div.p_destacados a{
  color:#e7e7e7;
  font-weight:normal;
}
div.p_destacados a:hover{
  color:#a00c18;
}

/*
 *****************************************************************************************************************************
 * MENUS
 *****************************************************************************************************************************
 */


#lang {
	float: right;
	margin: 2px 70px 0px 0px;
	padding:0px;
}
#lang ul {
	position: relative;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#lang li {
	display: inline;
	padding: 0px 8px 0px 4px;
	margin: 0px;
	font-family: 'Century Gothic', Arial, sans-serif;
	font-size: 1.3em;
	font-weight:normal;
	border-right: 1px solid #494949;
}
#lang li.ultimo {
	border: 0px;
}
#lang li a:link, #lang li a:active, #lang li a:visited {
	color: #FFFFFF;
}
#lang li a:hover {
	color: #FAE793;
	border-bottom: 1px dotted #494949;
}

#pieDer ul, #pieIzq ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
#pieDer li, #pieIzq li {
	float: left;
	padding: 0px 4px 0px 0px;
	margin: 0px 0px 0px 4px;
	border-right: 1px solid #494949;
}
#pieDer li.ultimo, #pieIzq  li.ultimo {
	border: 0px;
}
#pieDer li a:link, #pieDer li a:active, #pieDer li a:visited {
	color: #A7A5A8;
	border: 0px;
}
#pieDer li a:hover {
	color: #f1f1f1;
	border-bottom: 1px solid #494949;
}
#pieIzq a:link, #pieIzq a:active, #pieIzq a:visited {
	border: 0px;
}
#pieIzq a:hover {
	border: 0px;
}

#pieRScent ul{
	margin: 0px;
	padding: 0px 0px 0px 16px;
	list-style: none;
	border-left: 1px solid #191919;
}

#pieRScent li {
	float: left;
	padding: 0px;
	margin: 0px 15px 0px 0px;
}

#pieRScent li img{
}

#pieRScent span.pieRScentF{
	color: #FAE793;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

#pieRScent span{
	color: #A7A5A8;
	font-size: 1.1em;
	margin: 0px;
	padding: 0px;
}

#pieRScent span.pieRScentH{
	color: #FAE793;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0px 0px 0px 6px;
}
#pieRScent a:link, #pieRScent a:active, #pieRScent a:visited {
	color: #FAE793;
	border: 0px;
	font-size: 1.3em;
	margin: -4px 0px 0px 0px;
	padding: 0px;
	display: block;
}
#pieRScent a:hover {
	color: #ffffff;
}

#pieRSder ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#pieRSder li {
	display: inline;
	padding: 0px 6px 0px 2px;
	margin: 0px;
}

#pieRSder li img{
	width: 21px;
}

#pieRSder li a:link, #pieRSder li a:active, #pieRSder li a:visited,#pieRSder li a:hover {
	border: 0px;
}

div.barra_nav{
 	margin-top:-20px; 
 	margin-bottom:10px;
 	margin-left:-10px;
 	padding:3px;
 	color:#808080;
	font-weight:normal;
	float:left;
	border-bottom: 1px solid #E9E9E9;
	display:block;
	width:100%;
}
div.barra_nav a{
  	border:0;
}
div.barra_editor{
 	margin-top:-20px; 
 	margin-bottom:10px;
 	margin-right:24px;
 	color:#808080;
	font-weight:normal;
	float:right;
}

/*
 *****************************************************************************************************************************
 * ELEMENTOS PGINAS
 *****************************************************************************************************************************
 */
#area_contenido{
	background: rgba(255, 255, 255, 0.9);
	padding: 20px;
	color: #000000;
	font-size: 1.2em;
	border-radius:0.8em;
}

#area_contenido a:link, #area_contenido a:active, #area_contenido a:visited {
	color: #5D5855;
}
#area_contenido a:hover {
	color: #B30A26;
}
#area_contenido #pag_cont {
	font-family: 'Century Gothic', Arial, sans-serif;
	font-size: 1.2em;
}
#area_contenido hgroup {
	margin: 0px 0px 10px 0px;
}
#area_contenido hgroup h1 {
	font-family: 'Century Gothic', Arial, sans-serif;
	font-size: 2em;
	color: #000000;
}
#area_contenido hgroup h2 {
	font-family: 'Century Gothic', Arial, sans-serif;
	font-weight: normal;
	color: #000000;
}

#area_contenido #pag_cont nav ul{
	list-style-image: url('http://www.ucm.es/media/dots/dot.gif');
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

#area_contenido #pag_cont nav ul li{
	float: left;
	width: 46%;
	margin: 10px 20px 10px 10px;
	font-size: 1.3em;
}

#area_contenido #pag_cont nav ul ul{
	list-style-image: url('http://www.ucm.es/media/dots/dot1.gif');
	margin: 0px;
	padding: 0px;
}

#area_contenido #pag_cont nav ul ul li{
	float: none;
	margin: 0px 0px 0px 20px;
	width: 100%;
	font-size: 0.8em;
}
ul.menu_pag, ul.menu_pag_horizontal, ul.menu_pag_ni{
  	list-style:none;
  	margin-bottom:24px;
}
ul.menu_pag li, ul.menu_pag_horizontal li, ul.menu_pag_ni li{
 	font-size:1.1em;
 	margin-bottom:18px;
 	color:#880000;
}
ul.menu_pag_horizontal li{
	margin-right:24px;
 	padding-left:8px;
 	display:inline;
}
ul.menu_pag li a, ul.menu_pag_horizontal li a, ul.menu_pag_ni li a{
 	color:#880000;
 	border-left:8px solid #a2171c;
 	padding:0px;
 	padding-left:8px;
 	display:inline;
 	border-bottom:0px;
}
ul.menu_pag li a:hover, ul.menu_pag_horizontal li a:hover, ul.menu_pag_ni li a:hover{
 	color:#404040;
}
ul.menu_pag li img, ul.menu_pag_horizontal li img,  ul.menu_pag_ni li img{
  	float:left;
  	margin-right:6px;
}
ul.menu_pag ul, ul.menu_pag_horizontal ul, ul.menu_pag_ni ul{
  	list-style:none;
  	padding:0px;
  	margin:4px 0 14px 10px;
}
ul.menu_pag ul li, ul.menu_pag_horizontal ul li, ul.menu_pag_ni ul li{
  	font-size:0.9em;
  	margin-top:2px;
 	padding-right:4px;
 	padding-left:4px;
 	color:#c0c0c0;
 	border-right:1px solid #dadada;
 	display:inline;
}
ul.menu_pag ul li:first-child, ul.menu_pag_horizontal ul li:first-child, ul.menu_pag_ni ul li:first-child{
 	padding-left:0px;
}
ul.menu_pag ul li:last-child, ul.menu_pag_horizontal ul li:last-child, ul.menu_pag_ni ul li:last-child{
 	border:0px;
}
ul.menu_pag ul li a, ul.menu_pag_horizontal ul li a, ul.menu_pag_ni ul li a{
  	color:#000000;
  	border:0px;
}
ul.menu_pag ul li a:hover, ul.menu_pag_horizontal ul li a:hover, ul.menu_pag_ni ul li a:hover{
  	color:#000000;
}
ul.menu_pag_ni li{
  	padding-left:8px;
  	font-weight:400;
}
ul.menu_pag_ni li a{
  	border:0px;
  	font-weight:400;
}

p.descripcion_pags{
  	margin:0 20px 0 0;
  	font-size:0.85em;
  	color:#999999;
  	padding-left:17px;
}
img.foto_dir, img.foto_ent{
  	width:124px;
  	border:2px solid #c3c3c3;
  	padding:2px;
  	margin-top:0px;
  	float:left;
  	margin-right:24px;
}
img.foto_ent{
  	width:220px;
}
/*
 *****************************************************************************************************************************
 * ELEMENTOS ADICIONALES
 *****************************************************************************************************************************
 */
#agendaUCM{
	position: relative;
	margin-top: 80px;
	font-family: 'Century Gothic', Arial, sans-serif;
}

.peque1, .peque {
	font-family: arial, 'lucida console', sans-serif;
	font-size: 11px;
}
.subrayado {
	text-decoration: underline;
}
.none {
	display: none;
	visibility: hidden;
	margin: 0px;
	white-space: nowrap;
}
.noimprimir {
}
div.spacer, div.spacer_linea {
	clear: both;
	margin:0px;
	padding:0px;
}
div.spacer_linea{
  	border-bottom:1px solid #c0c0c0;
}
div.limpiar {
	clear: both;
	margin: 0px;
	padding: 0px;
}
div.spacer2 {
	clear: both;
	padding: 2px;
}
p.not_found{
  font-size:1.2em; 
  font-weight:bold;
  color:#ffffff; 
  margin:0px; 
  text-align:right; 
  background:url('../media/img/404.jpg') top left no-repeat; 
  width:670px; 
  height:400px; 
  padding-right:80px; 
  padding-top:130px;
}

ul.descargas, ul.descargas2, ul.enlaces, ul.enlaces2, ul.enlaces1{
   margin: 0;
   padding: 0;
   list-style-type: none;
   font-size:1.1em;
   color:#404040;
   margin-bottom:24px;
}
.abajo0{
   margin-bottom:0px;
}
ul.enlaces1 li{
	margin-top:12px;
	margin-bottom:4px;
	margin-left:8px;
}
ul.descargas2, ul.enlaces2{
   padding: 0 0 0 40px;
}
ul.enlaces, ul.enlaces2{
   font-size:12px !important;
}
ul.enlaces li, ul.enlaces2 li{
   padding-bottom:12px;
}
ul.enlaces2 li.enlaces4-4 a{
     color: #880000;
     font-weight:normal;
}

ul.enlaces li a:hover, ul.enlaces2 li a:hover, ul.enlaces1 li a:hover{
   color:#999;
}
.enlaces3{
   font-size:0.9em;
   padding-left:12px;
   color:#808080;
}
p.enlaces{
	font-size:1.1em;
	padding:0 0 0 12px;
	margin:0px;
	font-weight:400;
}
li.enlaces4-1{
   background: transparent url("../media/img/ico_link18-1.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-2{
   background: transparent url("../media/img/ico_link18-2.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-3{
   background: transparent url("../media/img/ico_link18-3.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-4{
   background: transparent url("../media/img/ico_link18-4.png") left 1px no-repeat; 
   padding-left: 4px;
}
li.enlaces4-5{
   background: transparent url("../media/img/ico_link18-5.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-6{
   background: transparent url("../media/img/ico_link18-6.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-7{
   background: transparent url("../media/img/ico_link18-7.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-8{
   background: transparent url("../media/img/ico_link18-8.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-9{
   background: transparent url("../media/img/ico_link18-9.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-10{
   background: transparent url("../media/img/ico_link18-10.png") left 1px no-repeat; 
   padding-left: 22px;
}
li.enlaces4-11{
   background: transparent url("../media/img/ico_link18-11.png") left 1px no-repeat; 
   padding-left: 22px;
}

li.enlaces_float{
	display: inline;
	float:left;
	margin:0 8px 0 0;
	padding-top:4px;
	padding-right: 8px;
}

ul.enlaces_sinicono li a{
  	border-left:0px;
}
li.enlaces_grandes{
  	border:1px solid #ffffff;
  	margin-bottom:12px;
  	padding-bottom:0px;
  	background: rgba(50, 115, 125, 0.8);
  	min-height:18px;
  	padding-top:6px;
  	text-align:right;
  	padding-right:18px;
}
img.enlaces_grandes{
  	border:0px;
  	float:left;
  	width:32px;
  	height:32px;
  	margin-right:16px;
  	margin-left:2px;
  	margin-top:-18px;
}
li.enlaces_grandes a{
  	font-size:14px;
  	font-weight:bold;
  	color:#ffffff !important;
  	
}
li.enlaces_grandes a:hover{
 	color:#ffe36b !important; 	
}
li.enlaces_grandes .enlaces3{
  	font-size:0.8em;
}
ul.descargas li, ul.descargas2 li{
	margin-bottom:4px;
}
ul.descargas li a, ul.descargas2 li a{
   	background: transparent url("../media/img/ico_descargas2.gif") left center no-repeat; 
	padding-left: 15px;
	text-align: left; 
	text-decoration: none; 
	color: #212121;
	border-bottom:0px;
}
ul.descargas li a:hover, ul.descargas2 li a:hover{
	background: transparent url("../media/img/ico_descargas1.gif") left center no-repeat; 
	color: #000000;
	border-bottom:1px dotted #c1c1c1;
}
div.marco_widget{
  	border:1px solid #c0c0c0;
  	padding:6px;
}
.tletra_widget{
  	font-size:0.7em;
}
.tletra_widget ul li{
  	margin:0px;
  	padding:0px;
}
.letra_grande{
  	font-size:1.1em;
  	color:#000000;
}
div.directorio_dcha{
  	float:left; 
	width:60%;
}
div.directorio_vcard{
  	margin-bottom:6px;
  	width:100%;
  	max-width:470px;
	-moz-border-radius: 0px 40px 0px 40px;
	-webkit-border-radius:0px 40px 0px 40px;
	border-radius:0px 40px 0px 40px;
  	background-color:#ededed;
}
div.cabecera_vcard{
  	border:1px solid transparent;
  	-moz-border-radius: 0px 40px 0px 0px;
	-webkit-border-radius:0px 40px 0px 0px;
	border-radius:0px 40px 0px 0px;
  	background-color:#444141;
  	color:#ffffff;
  	text-transform: uppercase; 
  	font-size:16px;
  	font-weight:bold;
  	padding:12px;
  	text-align:center;
}
ul.menu_pag li.sublist{
	color: #000000;
	font-weight: bold;
	font-size: 1.2em;
	margin: 30px 0px 0px -15px;
}
div.cabecera_vcard a{
  	color:#ffffff;
}
div.cabecera_vcard a:hover{
  	color:#efbc53;
}
div.foto_vcard{
  	float:left;
  	width:126px;
  	padding:2px 2px 0 0;
  	overflow:hidden;
  	text-align:left;
  	border-top:4px solid #eaaf60;
	-moz-border-radius: 0px 0px 0px 40px ;
	-webkit-border-radius:0px 0px 0px 40px ;
	border-radius:0px 0px 0px 40px ;
}
div.foto_vcard img{
  	width:124px;
	border:0px;
}

div.direccion_vcard{
  	float:left;
  	width:240px;
	border-top:4px solid #e04a35;
	text-align:left;
	padding: 0 0 0 8px;
	font-size:11px;
}
div.direccion_vcard h2, div.direccion_vcard h3, div.direccion_dir h2, div.direccion_dir h3{
  	font-size:14px;
  	margin:4px 12px 4px 0;
  	text-align:left;
}
div.direccion_vcard h3, div.direccion_dir h3{
  	font-size:14px;
	font-style:italic;
	font-weight:400;
}
div.telefonos_vcard{
  	width:94px;
	float:left;
	border-top:4px solid #bf073d;
  	text-align:left;
	
}
div.tfno_vcard{
	background-color:#ededed;
	padding: 4px 4px 4px 8px;
	border-bottom:2px solid #ffffff;
	font-size:12px;
}

div.directorio_entidad h2{
  	font-size:16px;
  	margin-bottom:0px;
  	padding-bottom:6px;
}
.directorio_dir, .directorio_met, .directorio_bus{
  	text-align:left;
  	margin-top:0px;
  	margin-bottom:0px;
  	margin-left:0px;
  	padding:0px;
  	font-family: 'Century Gothic', Arial, sans-serif;
}

.directorio_met{
  	background: transparent url("/data/cont/media/img/metro.png") left center no-repeat;
  	padding-left:18px;
  	display:inline;
  	margin-right:24px;
}
.directorio_bus{
  	background: transparent url("/data/cont/media/img/bus.png") left center no-repeat;
  	padding-left:18px;
  	display:inline;
  	margin-right:24px;
}

/*
 *****************************************************************************************************************************
 * IMAGENES
 *****************************************************************************************************************************
 */
 
 img.izqda{
   	float:left;
   	border:1px solid #c0c0c0;
   	padding:2px;
   	margin-right:12px;
   	margin-bottom:6px;
 }

/*
 *****************************************************************************************************************************
 * PORTADA
 *****************************************************************************************************************************
 */
 
 div.agenda{
  	border:4px solid #ffffff;
  	-moz-border-radius: 0px 0px 46px 0px;
	-webkit-border-radius:0px 0px 46px 0px;
	border-radius:0px 0px 46px 0px;
	background: rgba(229,229,229,0.9);
	text-align:left;
    	margin-top:24px;
  	
}
.agenda h2{
  	margin: 0px;
  	display:block;
  	background-color:#ec6f05;
  	color:#ffffff;
  	text-align:center;
  	font-size:1.4em;
  	padding-top:6px;
  	padding-bottom:6px;
}
.agenda h2 a{
	color:#ffffff;
	border-bottom:0px;
}

 
table#homeAgenda{
	width: 100%;
	margin: 0px;
	border-collapse:separate;
	border-spacing:0px 6px;
	font-family:"Century Gothic",Arial,Verdana;
	font-weight:400;
}

table#homeAgenda td.homeDate{
	width: 26px;
	padding: 4px;
	margin: 0px;
	color: #000000;
	font-size: 0.8em;
	line-height:90%;
	text-align:right;
	background: transparent url("../media/img/agenda_fecha.png") right top no-repeat;
}

table#homeAgenda td.homeDate span{
	color: #000000;
	font-size: 0.9em;
}
table#homeAgenda td.homeDate span.dia{
	color: red;
	font-weight: bold;
}
table#homeAgenda td.homeEvent{
	text-align: left;
	padding: 0px 0px 15px 6px;
	font-family: Verdana,Arial,Helvetica;
	font-size: 0.8em;
	color: #000000;
	background: transparent url("../media/img/agenda_mas.png") 225px bottom no-repeat;
}
table#homeAgenda td.homeMas{
	border-bottom:2px dotted #fcac01;
}
table#homeAgenda tr:last-child td{
  	border-bottom:0px;
}

#ucmHome-panel{
	position: fixed;
	top: 150px;
	right: 1%;
	width: 210px;
	height: 300px;
	font-family: 'Century Gothic', Arial, sans-serif;
	font-size: 1.2em;
	text-align: left;
/*	background: rgba(255, 255, 255, 0.1);*/
}

#ucmHome-panel h2{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

#ucmHome-panel h2.apli{
	margin-top: 20px;
	display: block;
}

#ucmHome-panel h2 a:link, #ucmHome-panel h2 a:active, #ucmHome-panel h2 a:visited {
	color: #ffffff;
	font-weight: normal;
}
#ucmHome-panel h2 a:hover {
	color: #FAE793;
}

#ucmHome-panel nav ul{
	list-style: none;
	margin: 0px 0px 20px 0px;
	padding: 2px 0px 0px 6px;
	font-family: Verdana,Arial,Helvetica;
	font-size: 0.7em;
	color: #CBC9C9;
}

#ucmHome-panel nav ul li{
	margin: 1px 0px 3px 0px;	
}

#ucmHome-panel nav ul li a:link, #ucmHome-panel nav ul li a:active, #ucmHome-panel nav ul li a:visited {
	color: #CBC9C9;
	font-weight: normal;
}
#ucmHome-panel nav ul li a:hover {
	color: #FAE793;
}

#ucmHome-panel nav.ucmHome-apli{
	margin-top: 30px;
}

#ucmHome-panel nav.ucmHome-apli ul li{
	float: left;
	margin-right: 12px;
}

#ucmHome-panel nav.ucmHome-apli ul li img{
	width: 45px;
}

.ucmHome-container {
	position:fixed;
	overflow:hidden;
	width: 70%;
//	height:100px;
	background: rgba(255, 255, 255, 0.2);
	border-radius:1em;
	bottom: 80px;
	margin: 0;
	margin-left: 2%;
	padding: 0;
}
.ucmHome-container #ucmHome { position: relative; left: 0; top: 0; margin: 0; padding: 4px 20px 4px 12px;}
.ucmHome-container #ucmHome li { float: left; margin: 0 10px 0 0; width: 164px; list-style: none outside none; padding: 0;text-align: center;}
.ucmHome-container #ucmHome li h2 {font-family: 'Century Gothic', Arial, sans-serif; font-size: 1em; margin: 0px; padding: 0px; font-weight: normal;}
.ucmHome-container li img {	border:2px solid #000; width:160px; height:60px; border-radius:4px; margin: 0;}
.ucmHome-container li img:hover { cursor:pointer; }

.ucmHome2-container {
	position:fixed;
	overflow:hidden;
	width: 70%;
	bottom: 60px;
	margin: 0;
	padding: 0;
}
.ucmHome2-container #ucmHome2 {
	position: relative;
	left: 0; top: 0;
	margin: 0px 0px 0px -20px;
	padding: 0px;
	font-family: 'Century Gothic', Arial, sans-serif;
}
.ucmHome2-container #ucmHome2 li {
	float: left;
	width: 46%;
	margin: 0 0 20px 20px;	
	background: rgba(0, 0, 0, 0.8);
	border-radius:1em;
	list-style: none outside none;
	padding: 4px 8px 4px 8px;
	text-align: left;
}

.ucmHome2-container #ucmHome2 li a {
	position: relative;
	float: right;
	margin: 0px;
	font-size: 0.9em;
	border-radius:15px;
	padding: 0px 10px 0px 10px;
}
.ucmHome2-container #ucmHome2 li a:link, .ucmHome2-container #ucmHome2 li a:active, .ucmHome2-container #ucmHome2 li a:visited {
	color: #fff;
	background-color: #000;
}
.ucmHome2-container #ucmHome2 li a:hover {
	color: #FAE791;
	background-color: #707475;
}


.ucmHome2-container #ucmHome2 li h3{ color: #ffffff; font-size: 1.4em;}
.ucmHome2-container #ucmHome2 li h4{ color: #CBC9C9; font-size: 1.2em; font-style:normal;display: none;}

#ucmHome-content {
	position: fixed;
	margin: 0px 0px 0px 10px;
	padding: 12px 14px 10px 14px;
	top: 180px;
/*	right: 6%; */
	background: rgba(0, 0, 0, 0.8);
	border-radius:1em;
	width: 54%;
	height: 200px;
	display: none;
	font-family: 'Century Gothic', Arial, sans-serif;
	font-size: 2.4em;
}

#ucmHome-content a {
	position: relative;
	top: 30px;
	margin: 0px;
	font-size: 0.6em;
	border-radius:20px;
	padding: 0px 10px 0px 10px;
}
#ucmHome-content a:link, #ucmHome-content a:active, #ucmHome-content a:visited {
	color: #fff;
	background-color: #000;
}
#ucmHome-content a:hover {
	color: #FAE791;
	background-color: #707475;
}

#ucmHome-content h3{
	color: #ffffff;
}

#ucmHome-content h4{
	color: #ffffff;
	font-size: 0.6em;
	font-style:normal;
}

#ucmHome-controls{
	position:fixed;
	bottom: 108px;
	margin: 0;
	margin-left: -4px;
	padding: 0;
	width: 74%;
}
#ucmHome-prev { float: left; }
#ucmHome-prev img{ opacity: 0.4 }
#ucmHome-prev img:hover{ opacity: 0.8 }
#ucmHome-next { float: right; }
#ucmHome-next img{ opacity: 0.4 }
#ucmHome-next img:hover{ opacity: 0.8 }



input.boton_editar{
  	border:0px;
  	background-color:transparent;
  	color:#c0c0c0;
  	font-weight:bold;
  	cursor:pointer;
  	margin-bottom:20px;
}
.wg_txt2{
 	margin-top:-15px; 
 	border-top:1px dotted #38808c;
}
div.wg_mt{
  	text-align:center;

}
div.wg_ip_horizontal{
  	float:left;
  	width:80px;
  	text-align:center;
  	height:100px;
  	font-size:0.8em;
}
p.wg_ip_vertical{
  	text-align:center;
  	margin-bottom:24px;
}
div.wg_ip a{
  	text-decoration:none;
  	border:0;
}
div.wg_dir{
  margin-top:0px;
  width:auto;
  float:none;
}

div.wg_form{
	position: relative;
	padding: 8px 12px 8px 12px;
}
div.wg_form h2{
	padding: 0px;
	margin: 0px;
}
div.wg_form h3{
	padding: 0px;
	margin: 0px;
}

div.wg_form p.codigo{
	margin: 25px 0px 25px 0px;
	display: inline-block;
	border-left: 4px solid #D9D9D9;
	padding-left: 6px;
	font-size: 1.1em;
}
div.wg_form p.codigo strong{
	font-weight: bold;
	color: #009FBF;
}
div.wg_form div.pago{
	max-width: 660px;
	margin: 6px 6px 6px 20px;
	padding: 8px 12px 8px 12px;
	border: 2px solid #ECF1F1;
	border-radius: 0 40px 0 40px;
	background-color:#FDFDFD;
}
div.wg_form div.pago h3{
	display: inline-block;
	padding: 0px;
	font-size: 0.95em;
}
div.wg_form div.pago span{
	font-weight: bold;
	color: #A00D17;
}
div.wg_form div.pago p.cuenta{
	display: inline-block;
	padding: 4px 8px 4px 8px;
	border: 1px solid #D3D3D3;
	background-color: #EAEAEA;
	font-weight: bold;
	border-radius: 0 20px 0 20px;
}
div.wg_form .field{
	clear: left;
	float: left;
	margin: 0px;
	padding:0px;
}
div.wg_form .field .label_no{
	font-weight: normal;
}
div.wg_form .col{
	clear: none;
	margin: 0px 0px 0px 20px;
}
div.wg_form input[type="text"],div.wg_form input[type="email"],div.wg_form textarea{
	width: 98%;
}
div.wg_form .field label{
	font-weight: bold;
}
div.wg_form .field label span{
	font-weight: normal;
	font-size: 0.6em;
}
div.wg_form .field p{
	margin-top: 0px;
}

div.wg_form .lopd{
	margin: 20px 0px 10px 0px;
	padding: 8px 10px 8px 10px;
	border: 1px solid #EAEAEA;
	max-width: 700px;
	font-size: 0.75em;
	font-style: italic;
}
div.wg_form .lopd p{
	margin: 0px;
	padding: 0px;
}
div.wg_form div.error{
	display: inline-block;
	margin: 8px 0px 20px 0px;
	padding: 2px 8px 2px 8px;
	background-color: #FFF5F9;
	border: 1px solid #FFEFF1;
	border-radius: 0 20px 0 20px;
}
div.wg_form div.error p.atencion strong{
	color: red;
}
div.wg_form p.instrucciones{
	margin: 0px 0px 0px 4px;
	font-size: 0.8em;
}
.pago_boton{
  	padding-left:30px;
 	border:1px solid #c0c0c0;
  	border-radius:5px;
  	-moz-border-radius:5px;
  	background: #ebebeb url('../../../ext/apps/form/images/tarjeta.png') 2px 2px no-repeat;
}


 /* SPOTLIGHT TEXT STYLING */

#spot_text {
  	position:relative;
  	top:80%; 
  	right:0px;
    	padding: 7px;	
        background: rgba(0,0,0,0.6);
        font-size:0.8em;
        float:right;
}
#spot_text h2{
	margin:0px;  
}
#spot_text a{
	color: #e6e6e6;	
	border-bottom:0px;
}
#spot_text a:hover{
	color: #ffffff;	
}

#spot_title {
	font-size:1.0em;
	line-height:1.2em;    
}

#spot_title a{
	font-style:italic;
    	font-weight:normal;
    	color:#e9ae00;
    	border-bottom:0px;
}

#spot_hed {
	font-size:1.1em;
	font-weight:600;
	line-height:1.3em;
}

#spot_dek {
	font-size:1.0em;
}

/* END SPOTLIGHT TEXT STYLING */

.webucm{
	text-align:right;
	padding-left:65px;
	border-top:1px dotted #a54242;
}
.webucm img{
  	border:0px;
  	float:left;
  	margin-top:8px;
}
.webucm p{
  	font-size:0.8em;
}

/*MENU PRINCIPAL BLUR */
.menu_item{
  	margin-bottom:6px;
}
.menu_editor{
	position:absolute;
	right:0px;
 	float:right;
  	margin-top:-40px;
  	padding:3px;
  	padding-left:4px;
  	padding-right:4px;
	margin-right:20px;
	font-size:0.8em;
	width:200px;
	text-align:center;

}
.menu_editor a, .menu_editor a:link, .menu_editor a:active{
	color:#ffffff;
	background: rgba(0,0,0,0.6);
  	border:1px solid #c0c0c0;
	padding-left:4px;
	padding-right:4px;
}
.menu_editor a:hover{
  	color:#f7e380;	
}
#area_izq ul, #area_izq_pag ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
#area_izq ul li, #area_izq_pag ul li{
	font-size: 0.7em;
	margin:0px;
	padding:0px;
	margin-bottom:6px;
}
#area_izq ul li:last-child, #area_izq_pag ul li:last-child{
	margin-bottom:20px;
}
#area_izq ul li a, #area_izq_pag ul li a{
	display: block;
	padding: 5px 40px 5px 5px;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	color: #ffffff;
	font-weight:bold;
	font-family: 'Century Gothic', Arial, sans-serif;
	font-weight:600;
	letter-spacing: 1px;
	font-size:1.4em;
	background-color:#a00c18;
	margin-bottom:6px;
	margin-left:0px;
	width:160px;
	background: #a00c18 url("../media/img/masmenu.png") 180px 12px no-repeat;
	border-bottom:0px;
}

#area_izq ul li a:hover, #area_izq_pag ul li a:hover{
	background: transparent;
	color: #ffffff;
	background: #e70000 url("../media/img/flechazul1.png") 183px 12px no-repeat;

}


#area_izq ul ul, #area_izq_pag ul ul{
  	margin:0px 0px 0px 0px;
	padding:0px;
	background: transparent;
	margin-left:5px;
	margin-top:6px;
	list-style:none;
	
}

#area_izq ul ul li, #area_izq_pag ul ul li{
    	display:inline;
    	padding-left: 7px;
    	background: url(../media/img/bulletn.gif) 1px 2px no-repeat;
}

#area_izq ul ul li a, #area_izq_pag ul ul li a{
  	display:inline;
  	font-size:1.35em;
  	color:#000000;
    	margin:10px 0px 0px 0px;
	padding: 0px 2px 0px 0px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-color:#d9d9d9;
	font-weight:normal;
	border-bottom:0px;
}
#area_izq ul ul li a:hover, #area_izq_pag ul ul li a:hover{
	background: transparent;
	color: #000000;
	background-color:#ffffff;
	transition: all 0.4s ease-in-out;
}


#menuUCMsec{
  	margin-top:0px;
}
#menuUCMsec ul li, #menuUCMsec ul li a{
  	color:#eae4d3;
  	border-bottom:0px;
}


/*
 *****************************************************************************************************************************
 * PLANTILLAS
 *****************************************************************************************************************************
 */
 
 div.template_100_100{
   	width:100%;
   	min-height:100%;
 }
 
 div.template_50_100{
   	width:96%;
   	margin-bottom:2%;
  	float:left;
 }
 div.template_100_50{
   	width:47%;
   	min-height:100%;
   	margin-right:2%;
   	float:left;
 }
 div.template_50_50{
   	width:46%;
   	margin-right:3%;
	margin-bottom:2%;
	float:left;
 }
div.template_100_33{
   	width:31%;
   	margin-right:1%;
   	float:left;
 }
 div.template_100_66{
   	width:64%;
   	min-height:100%;
   	margin-right:1%;
   	float:left;
 }
 div.template_100_20{
   	width:18%;
   	min-height:100%;
   	margin-right:1%;
   	float:left;
 }
 div.template_100_60{
   	width:58%;
   	max-width:58%;
   	min-height:100%;
   	margin-right:1%;
   	float:left;
 }

 div.template_100_39{
   	width:30%;
   	min-height:100%;
   	margin-right:0;
   	float:left;
 }
 div.template_100_59{
   	width:62%;
   	min-height:100%;
   	margin-right:1%;
   	float:right;
 }
  div.template_33_100{
   	width:96%;
   	min-height:31%;
   	margin-bottom:2%;
  	float:left;
 }
  div.template_33_50{
   	width:47%;
   	min-height:31%;
   	margin-right:2%;
	margin-bottom:2%;
	float:left;
 }
  div.template_102_50{
   	width:45%;
   	min-height:102%;
   	margin-right:2%;
   	float:left;
 }
 div.template_70_70{
   	position:relative;
   	width:67%;
   	float:left;
	padding-top:55%;
}
 div.template_70_70_p{
   	width:67%;
   	float:left;
   	height:70%;
   	vertical-align:bottom;
}
 div.template_60_100{
   	width:47%;
   	float:left;
   	height:100%;
}
 div.template_40_50{
   	width:37%;
   	float:right;
   	height:50%;
}
 div.template_40_50_b{
   	width:225pc;
   	float:right;
}

 div.template_70_30{
   	position:relative;
   	width:28%;
   	margin-right:2%;
	margin-bottom:2%;
	float:right;
}
  div.template_40_30{
   	position:relative;
   	width:28%;
   	margin-right:2%;
	margin-bottom:2%;
	float:right;
}  
div.template_30_30{
   	position:relative;
   	width:28%;
   	height:30%;
   	margin-right:2%;
	margin-bottom:2%;
	float:right;
}

div.template_widgets img{
	border:1px solid #404040;
}
div.template_widgets .marco_widget{
	border:2px solid #ffffff;
	background-color:#0e98f3;
	color:#ffffff;
	padding:6px;
}
div.template_widgets .marco_widget a{
	color:#000000;
}
div.template_widgets .marco_widget a:hover{
	color:#f8af0b;
}
div.template_nots{
  	float:left;
  	width:49%;
  	padding:0px;
}
div.template_nots .column .wg_txt{
  	border:2px solid #ffffff;
  	margin-top:12px;
  	margin-right:40px;
        padding:12px;
        background: rgba(0,0,0,0.6);
}
div.template_nots, div.template_nots p, div.template_nots a, div.template_nots li, div.template_nots li a, div.template_nots strong{
  	color:#ffffff;
}
div.template_nots h2, div.template_nots h3{
  	color:#f8af0b;
}
div.template_150{
   	position:relative;
   	min-width:75px;
   	margin-right:6px;
	margin-bottom:6px;
	padding:0px;
	float:left;
  	overflow:hidden;
}
div.template_150 .column .wg_txt p{
 	padding:0px;
	margin:0px; 
}
div.fondo_gris{
  	border:2px solid #ffffff;
  	-moz-border-radius: 0px 0px 46px 0px;
	-webkit-border-radius:0px 0px 46px 0px;
	border-radius:0px 0px 46px 0px;
	background: rgba(59,59,59,0.9);
	opacity: 0.9;
    	filter:alpha(opacity=90);
    	-moz-opacity:0.9;
    	-khtml-opacity: 0.9;
    	text-align:left;
	margin-bottom:40px;
  	color:#ffffff;
  	padding:6px;
}
div.template_widgets{
  	margin-right:0px;
        padding:0px;
        padding-right:0px;
        margin-top:10px;
}
div.template_celdas0{
  	position:relative;
  	margin-left:12px;
  	margin-bottom:12px;
  	width:auto;
  	height:250px;
  	overflow:hidden;
  	text-align:center;
  	background-color:#e3e4e5;
  	padding:0px;
}
div.template_celdas0 img{
  	margin:0px;
  	padding:0px;
  	margin-top:-30px;
}
div.template_celdas{
  	position:relative;
  	float:left;
  	margin-left:12px;
  	margin-bottom:12px;
  	width:300px;
  	height:250px;
}
div.template_celdas p img{
	width:300px;
	height:100px;
	border:0px;
	padding:0px;
	margin-top:-24px;
	margin-left:-12px;
	
}
div.template_celdas .wg_txt{
  	border:1px solid #808080;
  	padding:12px;
  	background: rgba(255,255,255,0.95);
	opacity: 0.95;
	width:276px;
  	height:210px;
  	overflow:hidden;
  	
}
div.template_celdas1{
  	position:relative;
  	overflow:hidden;
  	width:auto;
  	height:80px;
  	border:0px;
  	padding:0px;
  	margin:0px;
  	margin-left:12px;
  	margin-bottom:12px;
}
div.template_celdas1 h1, div.template_celdas1 h2, div.template_celdas1 h3{
	display:block;
	float:left;
	padding:6px;
	background-color:#231497;
	color:#ffffff;
  	width:268px;
  	margin:0px;
  	padding:6px;
  	height:56px;
}
div.template_celdas1 p{
  	display:block;
  	float:left;
  	background-color:#ffffff;
  	padding:4px;
  	margin:0px;
  	width:600px;
  	height:76px;
  	font-size:0.9em;
}
div.template_celdas1 p.leemas{
	display:none;
}
div.template_celdas:nth-child(2n+2) .wg_txt{
  	border-top:4px solid #231497;
}
div.template_celdas:nth-child(2n+1) .wg_txt{
  	border-top:4px solid #972c14;
}
div.template_celdas:nth-child(4n+1) .wg_txt{
  	background: rgba(35,20,151,0.95);
	opacity: 0.95;
	color:#ffffff;
}
div.template_celdas:nth-child(4n+1) .wg_txt a{
  	color:#f9da7a;
}
div.template_celdas:nth-child(4n+1) .wg_txt h1, div.template_celdas:nth-child(4n+1) .wg_txt h2, div.template_celdas:nth-child(4n+1) .wg_txt h3{
  	color:#f9da7a;
}
div.fondo_gris a{
  	color:#e3e3b0;
}
div.fondo_gris ul{
  	list-style:none;
  	padding:0px;
  	margin:10px;
}
div.fondo_gris ul li{
	background: transparent url("../media/img/ico_noticias1.gif") left 5px no-repeat;
	padding-left:12px;
}
div.fondo_gris h2{
  	color:#ffffff;
}
div.portada2_izda .column .marco_widget{
	border:0px;
	padding:0px;
}

#marco_00{
  width:50%;
}
#lista_n{
  position:absolute;
  bottom:20px;
  
}

.wg_txt{
  	border:1px solid transparent;
}
.wg_txt hr{
  	margin: 30px 0px;
  	border: 0;
  	height: 1px;
  	background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(210, 210, 210), rgb(245, 245, 245));
}
.wg_txt img{
  	padding:2px;
}

.wg_txt table {
  	border: 0;
}
.wg_txt table thead tr th{
  	color:#ffffff;
  	font-weight:bold;
  	text-align:center;
	background-color: #444141;
}

.wg_txt table tbody tr td,.wg_txt table thead~tbody tr:first-of-type td{
  	border:0px;
  	padding: 2px 4px 2px 4px;
  	border:1px solid #EEEEEE;
	background-color:#ffffff;
	margin: 2px;
	color: #000000;
	font-weight: normal;
	text-align: left;
}

.wg_txt table tbody tr td p{
	margin: 0px;
}

.wg_txt table tbody tr:first-of-type td{
  	color:#ffffff;
  	font-weight:bold;
  	text-align:center;
	background-color: #444141;
}
.wg_txt table thead tr th h1,.wg_txt table thead tr th h2,.wg_txt table thead tr th h3,.wg_txt table thead tr th h4,.wg_txt table tbody tr:first-of-type td h1,.wg_txt table tbody tr:first-of-type td h2,.wg_txt table tbody tr:first-of-type td h3,.wg_txt table tbody tr:first-of-type td h4{
	color: #FFFFFF;
}
.wg_txt table thead tr th a,.wg_txt table tbody tr:first-of-type td a{
	color: #F5FFD0;
}
.wg_txt table thead tr th a:hover,.wg_txt table tbody tr:first-of-type td a:hover{
	color: #E7FF99;
	border-bottom: 1px solid #E7FF99;
}
.wg_txt table tbody tr td a,.wg_txt table thead~tbody tr:first-of-type td a{
	color: #4E4D64;
	border-bottom: 1px dotted #C5C4DA;
}
.wg_txt table tbody tr td a:hover,.wg_txt table thead~tbody tr:first-of-type td a:hover{
	color: #444141;
	border-bottom: 1px solid #444141;
}

.wg_txt table.table1{
	border: 0px;
}
.wg_txt table.table1 thead tr th,.wg_txt table.table1 tbody tr:first-of-type td{
	background-color:#ffffff;
	color: #000000;
}
.wg_txt table.table1 a,.wg_txt table.table1 tbody tr:first-of-type td a {
	color: #4E4D64;
	border-bottom: 1px dotted #C5C4DA;
}
.wg_txt table.table1 a:hover,.wg_txt table.table1 tbody tr:first-of-type td a:hover{
	color: #444141;
	border-bottom: 1px solid #444141;
}

.wg_txt ul.menu_pag{
	margin-top: 0px;
}

.wg_txt ul li {padding-right:24px; text-align:justify; }

.negro_600{
  	font-weight:bold;
}
a.negro{
  	color:#000000;
}
/*
 *****************************************************************************************************************************
 * PLUGIN JQUERY SIMPLEMODAL
 *****************************************************************************************************************************
 */
#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-image:url('../media/img/ui-bg_diagonals.png'); background-color:#000000; cursor:auto;}

/* Container */
#simplemodal-container {height:460px; width:700px; color:#000000; background-color:#f1f1f1;  border:1px solid #000000; padding:4px; overflow:hidden; border-radius: 5px;   	-moz-border-radius:5px;   	-webkit-border-radius:5px;}
#simplemodal-container .simplemodal-data {padding:4px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container h1{display:block; padding:6px; font-size:1.0em; border:1px solid #404040; color :#ffffff; background-color:#c5c5c5; margin-left:-4px; width:99%; margin-top:-4px; border-radius: 5px;   	-moz-border-radius:5px;   	-webkit-border-radius:5px;}
/*#simplemodal-container a.modalCloseImg {background:url('../media/img/x.png') no-repeat; width:16px; height:16px; display:inline; z-index:3200; position:absolute; top:10px; right:1%; padding:0px; cursor:pointer;} */
#simplemodal-container h3 {color:#84b8d9;}
#simplemodal-container_msg {height:260px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}

a.basic{cursor:pointer;}

/*
 *****************************************************************************************************************************
 * BOTONES
 *****************************************************************************************************************************
 */
button{
	cursor:pointer;
	padding:0px;
	padding-bottom:4px;
	padding-left:6px;
	padding-right:6px;
	min-height:25px;	
}
button img{
    margin: 0 0 -3px 0 !important;
    padding:0;
    border:none;
    width:34px;
    height:32px;
}
.positive{
	background-color:#d1d1d1;
	border:1px solid #000000;
	border-radius: 5px;   	
	-moz-border-radius:5px;   	
	-webkit-border-radius:5px;
	
}
.sinmarco{
	background-color:transparent;
	border:0px;
}
.boton_guardar:hover{
	background-color:#fec25b;
}
.boton_pie{
  	border:1px solid #c0c0c0;
  	border-radius: 5px;   	
	-moz-border-radius:5px;   	
	-webkit-border-radius:5px;
	padding:4px;
	width:auto !important;
	font-size:12px !important;
	margin:0 0 0 14px !important;
	background-color:#38808c;
}
.boton_pie:hover{
	background-color:#fae793;  
	color:#000000 !important;
}
div.column{width:100%; min-height:100px; margin-top: 30px;}
div.portlet{margin:4px;}
div.portlet-header{cursor:move; border:1px solid #c0c0c0;}
div.portlet-content{color:#000000; border:1px solid #c0c0c0; padding:4px;}
div.portlet-content a{color:#426e7e;}
div.portlet-titulo{ float:left;  border:4px solid #ffffff}
div.portlet-controles{ float:right; margin-top:-16px; }
div.portlet-controles img{margin-right:4px; border:0px;}
.ui-draggable-dragging .portlet-header{ heigth:42px;	border-radius: 5px;   	-moz-border-radius:5px;   	-webkit-border-radius:5px;}

.boton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	color:#777777;
	font-family:arial;
	font-size: 1.1em;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	margin-top:0.5em;
}
.boton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.boton:active {
	position:relative;
	top:1px;
}
/*
 *****************************************************************************************************************************
 * GALERIAS DE FOTOS
 *****************************************************************************************************************************
 */
.gallery_horizontal {
	background-color: #ffffff;
	padding: 10px;
	width: 95%;
}
.gallery_horizontal ul { list-style: none; }
.gallery_horizontal ul li { display: inline; margin:0px;}
.gallery_horizontal ul img {
	border: 5px solid #c8cccf;
	border-width: 5px 5px 20px;
	width:90px;
}
.gallery_horizontal ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
.gallery_horizontal ul a:hover { color: #fff; }


.gallery_vertical {
	background-color: #ffffff;
	padding: 10px;
	width: 95%;
}
.gallery_vertical ul { list-style: none; }
.gallery_vertical ul li { display: block; margin:0px;}
.gallery_vertical ul img {
	float:left;
	border: 5px solid #c8cccf;
	border-width: 5px 5px 5px;
	width:90px;
	margin-right:24px;
}
.gallery_vertical ul a:hover img {
	border: 5px solid #fff;

}
.gallery_vertical ul a:hover { color: #000; }

/*
 *****************************************************************************************************************************
 * PAGINACIN
 *****************************************************************************************************************************
 */
ul.paginar{
	margin: 0px;
	list-style: none;
}

ul.paginar li{
	display: inline;
	margin: 0px;
	padding: 0px;
}

ul.paginar li a{
	margin: 0px 4px 0px 4px;
	padding: 1px 6px 1px 6px;
	color: #FFFFFF;
	border: 1px solid #000000;
	background-color: #000000;
	border-bottom:0px;
}

ul.paginar li a:hover{
	color: #000000;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}


ul.paginar li.actual{
	margin: 0px 4px 0px 4px;
	padding: 1px 6px 1px 6px;
	color: #FFFFFF;
	border: 1px solid #000000;
	background-color: green;
}

ul.paginar li.prev{
	margin: 0px 16px 0px 0px;
	padding: 1px 6px 1px 6px;
}
ul.paginar li.next{
	margin: 0px 0px 0px 16px;
	padding: 1px 6px 1px 6px;
}

ul.paginar li.off{
	color: #5B5952;
	border: 1px solid #BEBDBC;
}
a.negro{
  	color:#000000;
}
#titulo_otros{
  	position:absolute;
  	display:block;
  	width:100%;
  	top:84px;
  	padding:2px 0 2px 0;
  	text-align:center;
  	font-family:Helvetica,Verdana,Arial;
  	font-size:1.1em;
  	color:#ffffff;
  	background-color:#808080;
}
#titulo_otros a{
  	color:#ffffff;
  	border-bottom:0px;
}
#titulo_otros a:hover{
  	color:#f6fe7b;
}
.checkbox {
  float:left;
  width: 63px;
  height: 27px;
  overflow: hidden;
  border-radius: 3px;
  margin-left:32px;
}	

.checkbox input[type=checkbox] {
  display: none;
}

.checkbox input[type=checkbox] + label {
  text-indent: -9999px;
  display: block;
  width: 100px;
  height: 18px;
  line-height: 27px;
  background: transparent url("../media/img/si_no.png") no-repeat -37px 0;
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  cursor:pointer;
}

.checkbox input[type=checkbox]:checked + label {
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  background-position: -3px 0;
  cursor:pointer;
}
.widget_noticias .not_secs_titulo{
  	font-size:14px !important;
}
.widget_noticias p{
  	margin-bottom:0px;
}
.widget_noticias .w_np_fecha{
  	font-size:12px;
  	font-style:normal;
  	border-bottom:0px;
}
li.iniciasesion{
  	margin-right:130px;
}

.wg_buscador{
  	margin: 2px 4px 10px 0px;
	padding: 4px 6px 14px 6px;
}
.wg_buscador form{
	display: inline-block;
    text-align: right;
}
.wg_buscador input[type="search"],.wg_buscador input[type="text"]{
	min-width: 220px;
}	
.wg_buscador .boton{
	display: inline-block;
	padding: 1px 15px 1px 15px;
	margin-left: 10px;
}
.wg_buscador a.b_av{
	font-size: 0.7em;
}

.wg_rss img{
	float: left;
	margin: 0px 10px 20px 0px;
}
.wg_rss h3{
	clear: left;
}
.wg_rss h4{
	margin: 2px 0px 4px 0px;
}
.wg_rss h5{
	margin: 2px 0px 4px 0px;
	font-weight: normal;
	font-style: italic;
}
.wg_rss div{
	margin-right: 25px;
}
.wg_estudios{
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.wg_estudios h1{
	font-size: 1.6em;
    font-weight: normal;
}
.wg_estudios h1.wg_est_h1{
	color: #A00D17;
    font-size: 1.5em;
    font-weight: bold;
}
.wg_estudios h2{
	font-size: 1.2em;
    font-weight: normal;
}
.wg_estudios ul.menu_pag{
	margin-bottom: 0px;
}
.datos p{
  	font-size:1.1em;
}
.datos h2{
  	font-size:1.2em !important;
}
.solo_imprimir{
  display:none;
}
.gris_peque{
  font-size:0.8em;
  color:#707070;
}
