/* FAQs PAGE STYLES */
.faq-hidden {
	display:none;
	padding:10px 15px;
	background-color:#DAE7F0;
	color: #333333;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none !important;
	cursor: default;
}
.faq-hidden:hover {
	text-decoration: none !important;
	cursor: default;
}
.faq-hidden p:last-child {
	margin-bottom: 0;
}

.faq-question h4 {
	color: #0d649a;
	cursor:pointer;
}
.faq-question h4:hover{
	text-decoration:underline;
	color:#0D649A !important;
}
ol.faqs li {
	margin-bottom: .8em;
}
ol {
	color: #0D649A;
	font-weight: 300;
}
ol.faqs {
	padding: 10px 40px;
	margin: 0 0 1.2em;  
	display:none;
	background-color:#F1F1F1;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.faqs-header {
	/*font-weight: normal;*/
	padding: 5px;
	border-radius: 3px;
	color: #0d649a;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}
.faqs-header:hover{
	background-color:#0D649A;
	color:#FFF;
	cursor: pointer;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}
.faqs h4 {
	font-weight: 300;	
}
.faq-count {
	font-size: .6em;
	vertical-align: middle;
	/*display: inline-block;*/
	margin-top: -4px;
}

.faqs-header .icon-up-open,
.careers-header .icon-up-open {
	float: right;
	font-weight: 300;
	font-size: 15px;
	margin-top: 10px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.faqs-header .icon-up-open.turn,
.careers-header .icon-up-open.turn {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.faqs-header:nth-child(4n+1),
.careers-header:nth-child(4n+1) {
	background: #ECF1F5;	
}
.faqs-header:nth-child(4n+1):hover,
.careers-header:nth-child(4n+1):hover {
	background: #0D649A;
	color: #FFF;
}

.faqs-header.open, .careers-header.open {
	background-color:#0D649A;
	color:#FFF;
}
/* End FAQs */