@charset "UTF-8";
/* 游戏大广告 */
/* line 2, ../../scss/sass/index/module/_speard_con.scss */
.speard-con {
  z-index: 1;
  margin-bottom: 10px;
}
/* line 5, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .speard400 {
  width: 300px;
  height: 100%;
  margin-right: 1px;
  float: left;
}
/* line 11, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .speard195 {
  width: 195px;
  height: 100%;
  margin-right: 1px;
  float: left;
}
/* line 17, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .speard192 {
  width: 192px;
  height: 100%;
  float: left;
}
/* line 22, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a.img1 {
  height: 400px;
}
/* line 25, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a.img2 {
  height: 259px;
  margin-bottom: 1px;
}
/* line 29, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a.img3 {
  height: 140px;
}
/* line 32, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a.img4 {
  height: 144px;
  margin-bottom: 1px;
}
/* line 36, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a.img5 {
  height: 255px;
}
/* line 39, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}
/* line 44, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a img {
  _float: left;
}
/* line 47, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a .meng {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  background: url("http://www.9game.cn/public/images/pc/pc_new/meng.png") repeat-x left bottom;
  _background: url("http://www.9game.cn/public/images/pc/pc_new/meng.gif") repeat-x left bottom;
  z-index: 200;
  cursor: pointer;
}
/* line 57, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a .meng .meng-con {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 63, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a .meng .tit {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
/* line 70, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a .meng .tit2 {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  padding: 10px 15px;
}
/* line 78, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a .meng .text {
  padding: 10px;
  color: #dad9d9;
  line-height: 22px;
  text-indent: 2em;
}
/* line 85, ../../scss/sass/index/module/_speard_con.scss */
.speard-con a .meng.meng2 {
  background: url("http://www.9game.cn/public/images/pc/pc_new/meng2.png") repeat-x left bottom;
  _background: url("http://www.9game.cn/public/images/pc/pc_new/meng2.gif") repeat-x left bottom;
}
/* line 90, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo {
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
/* line 96, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo.hover .btn {
  display: block;
}
/* line 100, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .img-list {
  width: 900px;
  height: 400px;
  position: relative;
}
/* line 104, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .img-list li {
  width: 300px;
  height: 400px;
  float: left;
}
/* line 110, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .img-list .img {
  width: 300px;
  height: 400px;
  display: block;
}
/* line 116, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .btn {
  width: 52px;
  height: 76px;
  display: block;
  position: absolute;
  top: 162px;
  cursor: pointer;
  display: none;
  background: url(../../images/spead_side.png) no-repeat 100px 100px;
}
/* line 126, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .prev {
  left: 0;
  background-position: 0 0;
}
/* line 129, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .prev:hover {
  background-position: -134px 0;
}
/* line 133, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .next {
  right: 0;
  background-position: -65px 0;
}
/* line 136, ../../scss/sass/index/module/_speard_con.scss */
.speard-con .adv-lunbo .next:hover {
  background-position: -194px 0;
}

/* 推荐游戏 */
/* line 2, ../../scss/sass/index/module/_game_recom.scss */
.game-recom {
  margin-bottom: 30px;
}
/* line 4, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con {
  height: 26px;
  padding: 8px 0;
  border-bottom: 1px dotted #ebebeb;
  overflow: hidden;
  white-space: nowrap;
}
/* line 10, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con .name {
  display: inline-block;
  width: 60px;
  height: 26px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/top_classify.png) no-repeat 100px 100px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/top_classify.gif) no-repeat 100px 100px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-indent: 10px;
  font-weight: 700;
  cursor: default;
}
/* line 24, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con .name.phone {
  background-position: 0 0;
}
/* line 27, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con .name.android {
  background-position: 0 -32px;
}
/* line 30, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con .name.apple {
  background-position: 0 -64px;
}
/* line 33, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con a {
  font-size: 14px;
  padding: 0 12px;
  line-height: 14px;
  height: 14px;
  display: inline-block;
  text-align: center;
  border-right: 1px solid #ebebeb;
}
/* line 41, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con a.last {
  border-right: 0;
}
/* line 44, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con a.hot {
  color: #f00;
}
/* line 47, ../../scss/sass/index/module/_game_recom.scss */
.game-recom .recom-con a:hover {
  text-decoration: underline;
}

/* 游戏icon和文字 */
/* line 4, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list li {
  height: 90px;
  overflow: hidden;
  border-bottom: 1px dotted #ebebeb;
  cursor: pointer;
}
/* line 9, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list li:hover {
  background: #f7f7f7;
}
/* line 11, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list li:hover .tit {
  color: #f60;
}
/* line 16, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list a:hover {
  _display: block;
}
/* line 18, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list a:hover .btn {
  _color: #fff;
  _background: #ff8a00;
  _border-color: #ff8a00;
}
/* line 24, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .pic {
  width: 70px;
  margin: 10px 10px 0 10px;
  float: left;
  position: relative;
  _cursor: pointer;
}
/* line 30, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .pic img {
  width: 70px;
  height: 70px;
}
/* line 36, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .right-text {
  margin-left: 90px;
  height: 80px;
  margin-top: 10px;
  _cursor: pointer;
}
/* line 41, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .right-text .tit {
  _width: 100%;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 48, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .right-text .text {
  _width: 100%;
  color: #666;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
/* line 54, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .right-text .text a {
  color: #666;
}
/* line 58, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .right-text .btn {
  display: block;
  width: 58px;
  height: 22px;
  border: 1px solid #ccc;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fff, #fafafa);
  background: -webkit-linear-gradient(top, #fff, #fafafa);
  background: -ms-linear-gradient(top, #fff, #fafafa);
  background: -o-linear-gradient(top, #fff, #fafafa);
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 69, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .right-text .btn:hover {
  color: #fff;
  background: #ff8a00;
  border-color: #ff8a00;
}
/* line 77, ../../scss/sass/index/module/_today_news.scss */
.icon-word-list .corner-nine {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 54px;
  height: 54px;
  background: url(http://portal.ucgc.ucfly.com/public/images/pc/nine_act/nine_active.png) no-repeat 0 -74px;
}

/* 抢礼包 */
/* line 88, ../../scss/sass/index/module/_today_news.scss */
.get-gift-con {
  width: 195px;
  margin-right: 10px;
  float: left;
}
/* line 93, ../../scss/sass/index/module/_today_news.scss */
.get-gift-con .icon-word-list .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 96, ../../scss/sass/index/module/_today_news.scss */
.get-gift-con .icon-word-list li {
  height: 87px;
}

/* 今日新闻 */
/* line 104, ../../scss/sass/index/module/_today_news.scss */
.today-news {
  width: 405px;
  float: left;
}
/* line 107, ../../scss/sass/index/module/_today_news.scss */
.today-news .box-text {
  border: 1px solid #ebebeb;
  border-top: 0;
  padding: 15px 10px 0 10px;
}
/* line 112, ../../scss/sass/index/module/_today_news.scss */
.today-news .big-new {
  height: 27px;
  font-size: 18px;
  color: #f60;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 119, ../../scss/sass/index/module/_today_news.scss */
.today-news .big-new a {
  color: #f60;
}
/* line 121, ../../scss/sass/index/module/_today_news.scss */
.today-news .big-new a:hover {
  text-decoration: underline;
}
/* line 126, ../../scss/sass/index/module/_today_news.scss */
.today-news .side-new {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px dotted #ebebeb;
}
/* line 132, ../../scss/sass/index/module/_today_news.scss */
.today-news .side-new a {
  width: 49%;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 138, ../../scss/sass/index/module/_today_news.scss */
.today-news .news-list {
  padding-left: 0;
}
/* line 140, ../../scss/sass/index/module/_today_news.scss */
.today-news .news-list li {
  line-height: 27px;
  _line-height: 31px;
}
/* line 143, ../../scss/sass/index/module/_today_news.scss */
.today-news .news-list li .date {
  margin: 0;
}
/* line 147, ../../scss/sass/index/module/_today_news.scss */
.today-news .news-list li a {
  max-width: 90%;
  _width: 86%;
}
/* line 152, ../../scss/sass/index/module/_today_news.scss */
.today-news .little-tit {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px dotted #ebebeb;
  background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.png) no-repeat 0px 12px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.gif) no-repeat 0px 12px;
}
/* line 161, ../../scss/sass/index/module/_today_news.scss */
.today-news .today-pic {
  margin: 12px 0;
  height: 155px;
}
/* line 165, ../../scss/sass/index/module/_today_news.scss */
.today-news .pic-word-con {
  width: 186px;
  height: 150px;
  float: left;
  margin-right: 3px;
}
/* line 170, ../../scss/sass/index/module/_today_news.scss */
.today-news .pic-word-con.last {
  _padding-top: 0;
  margin-right: 0;
}

/* 本周热门 */
/* line 177, ../../scss/sass/index/module/_today_news.scss */
.side-rank {
  width: 250px;
  float: left;
}
/* line 180, ../../scss/sass/index/module/_today_news.scss */
.side-rank .box-text {
  height: 530px;
  overflow: hidden;
}
/* line 184, ../../scss/sass/index/module/_today_news.scss */
.side-rank.pcdex {
  float: right;
}

/* line 188, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list {
  zoom: 1;
}
/* line 190, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list:after {
  content: '';
  visibility: hidden;
  display: block;
  clear: both;
}
/* line 196, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li {
  float: left;
  width: 100%;
  display: block;
  height: 52px;
  border-bottom: 1px dotted #ebebeb;
}
/* line 203, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li:hover {
  background: #f7f7f7;
  border-bottom: none;
  height: 53px;
}
/* line 208, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .radius32 {
  width: 32px;
  height: 32px;
  background: url("http://www.9game.cn/public/images/pc/pc_new/img_radius.png") no-repeat 0 -150px;
  _background: url("http://www.9game.cn/public/images/pc/pc_new/img_radius.gif") no-repeat 0 -150px;
  position: absolute;
  top: 10px;
  left: 0;
}
/* line 217, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .btn {
  float: left;
  display: block;
  margin: 1px auto;
  width: 23px;
  height: 23px;
  margin-top: 15px;
  border-radius: 3px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.png) no-repeat 100px 100px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.gif) no-repeat 100px 100px;
  background-color: #f2f2f2;
  text-indent: -500px;
  overflow: hidden;
}
/* line 231, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .down {
  background-position: -89px -80px;
}
/* line 234, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li:hover .down {
  background-position: -88px -37px;
  background-color: #a3ce0e;
}
/* line 238, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li:hover .down.no {
  background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.png) no-repeat 3px -98px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.gif) no-repeat 3px -98px;
  background-color: #f2f2f2;
}
/* line 242, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .down.no {
  background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.png) no-repeat 3px -98px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.gif) no-repeat 3px -98px;
  background-color: #f2f2f2;
  cursor: default;
}
/* line 246, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .down.no:hover {
  background-position: 3px -98px;
  background-color: #f2f2f2;
}
/* line 251, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .down:hover {
  background-position: -88px -37px;
  background-color: #a3ce0e;
}
/* line 255, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .down-ip {
  background-position: -128px -60px;
}
/* line 258, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li:hover .down-ip {
  background-position: -88px -37px;
  background-color: #83a7d4;
}
/* line 262, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .down-ip:hover {
  background-position: -88px -37px;
  background-color: #83a7d4;
}
/* line 266, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .side-rank-info {
  float: left;
  width: 160px;
  padding: 10px 0 0 0;
  margin-right: 14px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
/* line 274, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .side-rank-info img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 16px;
}
/* line 280, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .side-rank-info p {
  font-size: 14px;
  display: inline-block;
  width: 112px;
  margin-top: 7px;
  *margin-top: 5px;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 291, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list li .side-rank-info:hover p {
  text-decoration: underline;
  color: #ff6600;
}
/* line 297, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list .side-rank-num {
  float: left;
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background: #999;
  display: inline-block;
  margin: 18px 15px 0 10px;
  cursor: default;
}
/* line 310, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list .first .side-rank-num {
  background: #ff6600;
}
/* line 313, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list .second .side-rank-num {
  background: #ff9000;
}
/* line 316, ../../scss/sass/index/module/_today_news.scss */
.side-rank-list .third .side-rank-num {
  background: #ffc000;
}

/* 手机游戏推荐 */
/* line 2, ../../scss/sass/index/module/_game_con_5.scss */
.game-con-5 {
  width: 600px;
  float: left;
}
/* line 5, ../../scss/sass/index/module/_game_con_5.scss */
.game-con-5 .box-text {
  padding: 10px 0 0 0px;
  height: 500px;
  overflow: hidden;
}
/* line 10, ../../scss/sass/index/module/_game_con_5.scss */
.game-con-5 .game-ul-list li {
  margin: 0 12px 5px 0;
}
/* line 13, ../../scss/sass/index/module/_game_con_5.scss */
.game-con-5 .game-ul-list li.last {
  margin: 0 0 5px 0;
}

/* 开测表table */
/* line 20, ../../scss/sass/index/module/_game_con_5.scss */
.open-test {
  width: 378px;
  float: right;
}
/* line 23, ../../scss/sass/index/module/_game_con_5.scss */
.open-test .box-text {
  height: 510px;
  position: relative;
}
/* line 27, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 34, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table th {
  background-color: #fdfdfd;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #f5f5f5;
  cursor: default;
  color: #666;
}
/* line 41, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table th.time {
  width: 55px;
}
/* line 44, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table th.name {
  width: 130px;
}
/* line 47, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table th.static {
  width: 105px;
}
/* line 50, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table th.down {
  width: 44px;
}
/* line 54, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table tr:hover {
  background: #f7f7f7;
}
/* line 57, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td {
  height: 38px;
  border-bottom: 1px dotted #ebebeb;
  font-size: 14px;
}
/* line 61, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .btn {
  display: block;
  margin: 1px auto;
  width: 24px;
  height: 24px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.png) no-repeat 100px 100px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.gif) no-repeat 100px 100px;
  background-color: #f2f2f2;
  overflow: hidden;
  text-indent: -500px;
}
/* line 72, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td a.name {
  text-align: center;
  display: block;
  width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 77, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td a.name:hover {
  text-decoration: underline;
}
/* line 81, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .home {
  background-position: -127px 2px;
}
/* line 83, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .home:hover {
  background-position: -89px 2px;
  background-color: #ff8a00;
}
/* line 89, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .down {
  background-position: -87px -80px;
}
/* line 91, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .down:hover {
  background-position: -87px -37px;
  background-color: #a3ce0e;
}
/* line 96, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .down.no {
  background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.png) no-repeat 3px -98px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.gif) no-repeat 3px -98px;
  background-color: #f2f2f2;
  cursor: default;
}
/* line 100, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .down.no:hover {
  background-position: 3px -98px;
  background-color: #f2f2f2;
}
/* line 105, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .gift {
  background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.png) no-repeat 3px -52px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/lit_icon.gif) no-repeat 3px -52px;
  background-color: #f2f2f2;
}
/* line 108, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .gift:hover {
  background-position: 3px -25px;
  background-color: #ff622b;
}
/* line 113, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .gift.no {
  background-position: 3px -74px;
  cursor: default;
}
/* line 116, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table td .gift.no:hover {
  background-position: 3px -74px;
  background-color: #f2f2f2;
}
/* line 122, ../../scss/sass/index/module/_game_con_5.scss */
.open-test table.current {
  display: block;
}

/* 开测表table */
/* line 2, ../../scss/sass/index/module/_open_test.scss */
.open-test {
  width: 378px;
  float: right;
}
/* line 5, ../../scss/sass/index/module/_open_test.scss */
.open-test .box-text {
  height: 510px;
  position: relative;
  border-bottom: 1px dotted #f5f5f5;
}
/* line 11, ../../scss/sass/index/module/_open_test.scss */
.open-test .more .icon {
  width: 12px;
  height: 12px;
  display: inline-block;
}
/* line 18, ../../scss/sass/index/module/_open_test.scss */
.open-test .more .org {
  color: #f80;
}
/* line 22, ../../scss/sass/index/module/_open_test.scss */
.open-test table {
  width: 100%;
  text-align: center;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 29, ../../scss/sass/index/module/_open_test.scss */
.open-test table th {
  background-color: #fdfdfd;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #f5f5f5;
  cursor: default;
  color: #666;
}
/* line 36, ../../scss/sass/index/module/_open_test.scss */
.open-test table th.time {
  width: 55px;
}
/* line 39, ../../scss/sass/index/module/_open_test.scss */
.open-test table th.name {
  width: 130px;
}
/* line 42, ../../scss/sass/index/module/_open_test.scss */
.open-test table th.static {
  width: 105px;
}
/* line 45, ../../scss/sass/index/module/_open_test.scss */
.open-test table th.downtr {
  width: 44px;
}
/* line 48, ../../scss/sass/index/module/_open_test.scss */
.open-test table th.type {
  width: 44px;
}
/* line 51, ../../scss/sass/index/module/_open_test.scss */
.open-test table th.hottr {
  width: 59px;
}
/* line 55, ../../scss/sass/index/module/_open_test.scss */
.open-test table tr {
  width: 100%;
  border-bottom: 1px dotted #ebebeb;
}
/* line 58, ../../scss/sass/index/module/_open_test.scss */
.open-test table tr:hover {
  background: #f7f7f7 !important;
}
/* line 61, ../../scss/sass/index/module/_open_test.scss */
.open-test table tr.last {
  border: 0;
}
/* line 64, ../../scss/sass/index/module/_open_test.scss */
.open-test table tr.spec {
  background: #fff8f0;
}
/* line 68, ../../scss/sass/index/module/_open_test.scss */
.open-test table td {
  font-size: 14px;
}
/* line 70, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.time1 {
  color: #666;
  cursor: default;
}
/* line 73, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.time1 .d {
  color: #666;
  line-height: 20px;
  font-size: 14px;
}
/* line 78, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.time1 .t {
  color: #999;
  line-height: 16px;
  font-size: 12px;
}
/* line 84, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.time2 {
  cursor: default;
  color: #666;
  font-size: 12px;
}
/* line 89, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.static {
  color: #666;
  cursor: default;
}
/* line 92, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.static .p2 {
  display: block;
  line-height: 16px;
  font-size: 12px;
}
/* line 98, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.type {
  width: 44px;
  cursor: default;
}
/* line 102, ../../scss/sass/index/module/_open_test.scss */
.open-test table td.hot {
  text-align: right;
}
/* line 107, ../../scss/sass/index/module/_open_test.scss */
.open-test table .num {
  color: #999;
  cursor: default;
}
/* line 110, ../../scss/sass/index/module/_open_test.scss */
.open-test table .num .n {
  width: 17px;
  height: 17px;
  display: inline-block;
  background: #ccc;
  line-height: 17px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
/* line 120, ../../scss/sass/index/module/_open_test.scss */
.open-test table .num.num1 .n {
  background: #f60;
}
/* line 123, ../../scss/sass/index/module/_open_test.scss */
.open-test table .num.num2 .n {
  background: #ff9000;
}
/* line 126, ../../scss/sass/index/module/_open_test.scss */
.open-test table .num.num3 .n {
  background: #ffc000;
}
/* line 130, ../../scss/sass/index/module/_open_test.scss */
.open-test table .hot {
  cursor: default;
}
/* line 132, ../../scss/sass/index/module/_open_test.scss */
.open-test table .hot .up {
  padding-right: 14px;
  margin-right: 4px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/newgame_rank.png) no-repeat right 4px;
}
/* line 137, ../../scss/sass/index/module/_open_test.scss */
.open-test table .hot .mid {
  margin-right: 4px;
  padding-right: 14px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/newgame_rank.png) no-repeat right -35px;
}
/* line 142, ../../scss/sass/index/module/_open_test.scss */
.open-test table .hot .low {
  margin-right: 4px;
  padding-right: 14px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/newgame_rank.png) no-repeat right -69px;
}
/* line 148, ../../scss/sass/index/module/_open_test.scss */
.open-test table .btn {
  display: block;
  margin: 1px auto;
  width: 24px;
  height: 24px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.png) no-repeat 100px 100px;
  _background: url(http://www.9game.cn/public/images/pc/pc_new/pcnew_ico.gif) no-repeat 100px 100px;
  background-color: #f2f2f2;
  overflow: hidden;
  text-indent: -500px;
}
/* line 159, ../../scss/sass/index/module/_open_test.scss */
.open-test table a.name {
  text-align: center;
  display: inline-block;
  width: 130px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 164, ../../scss/sass/index/module/_open_test.scss */
.open-test table a.name:hover {
  text-decoration: underline;
}
/* line 168, ../../scss/sass/index/module/_open_test.scss */
.open-test table a.act {
  width: 40px;
  height: 20px;
  display: inline-block;
  margin-left: 1px;
  overflow: hidden;
  text-indent: -555px;
  background: url(http://www.9game.cn/public/images/pc/pc_new/newgame_icon.png) no-repeat 0 -120px;
}
/* line 177, ../../scss/sass/index/module/_open_test.scss */
.open-test table .home {
  background-position: -127px 2px;
}
/* line 179, ../../scss/sass/index/module/_open_test.scss */
.open-test table .home:hover {
  background-position: -89px 2px;
  background-color: #ff8a00;
}
/* line 185, ../../scss/sass/index/module/_open_test.scss */
.open-test table .down {
  background: #f2f2f2 url(http://www.9game.cn/public/images/pc/p