html,
body {
  height: 100%;
  width: 100%; }

body {
  background: #fff;
  color: #131525;
  font-family: "AmsiPro-Light", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  position: relative; }
  body.mobile-open {
    overflow: hidden; }

.main-container {
  overflow-x: hidden; }

.container {
  margin: 0;
  padding: 0;
  width: 100%; }

a,
a:hover,
a:focus,
a:active {
  transition: all .3s ease-out;
  color: #50bbeb;
  font-weight: 400;
  outline: 0;
  text-decoration: none; }
  nav a, nav
  a:hover, nav
  a:focus, nav
  a:active {
    color: #ec2560; }
  .mobile-open a, .mobile-open
  a:hover, .mobile-open
  a:focus, .mobile-open
  a:active {
    color: #fff;
    text-align: center; }

nav a:hover, nav
a:active, nav
.current-page {
  border-bottom: 7px solid #ec2560;
  color: #ec2560; }
  .mobile-open nav a:hover, .mobile-open nav
  a:active, .mobile-open nav
  .current-page {
    border-color: #fff;
    color: #fff; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

iframe {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #131525;
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  margin: 0; }
  .spotlight h1, .spotlight
  h2, .spotlight
  h3, .spotlight
  h4, .spotlight
  h5, .spotlight
  h6 {
    margin-bottom: 30px; }

h1 {
  font-size: 30px;
  line-height: 34px; }
  .intro h1 {
    color: #fff;
    margin-bottom: 15px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
    @media (min-width: 414px) {
      .intro h1 {
        font-size: 50px;
        line-height: 56px; } }

h2 {
  color: #ec2560;
  font-size: 62px;
  line-height: 66px; }
  footer h2 {
    color: #131525;
    margin: 20px 0;
    white-space: normal; }

h3 {
  font-size: 36px;
  line-height: 48px;
  margin-top: 40px; }
  .section-pink h3,
  .section-blue h3 {
    color: #fff; }

h4 {
  font-size: 20px;
  line-height: 1.125em; }
  @media (min-width: 991px) {
    h4 {
      font-size: 26px;
      line-height: 1em; } }

h5 {
  font-size: 14px;
  line-height: 1.2857em; }
  @media (min-width: 991px) {
    h5 {
      font-size: 16px;
      line-height: 1.125em; } }

h6 {
  font-size: 12px;
  line-height: 1.5em; }
  @media (min-width: 991px) {
    h6 {
      font-size: 14px;
      line-height: 1.2857em; } }

nav {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 70px;
  position: fixed;
  top: 0;
  transition: all 1s ease-in-out;
  width: 100%;
  z-index: 10; }
  nav .apply-flex {
    align-items: flex-start; }
  .mobile-open nav {
    background-color: transparent;
    box-shadow: none; }

.nav-branding {
  display: inline-block;
  padding-left: 20px;
  position: relative;
  vertical-align: top;
  z-index: 20; }
  @media (min-width: 600px) {
    .nav-branding {
      padding-left: 34px; } }

.nav-app-access {
  opacity: 1;
  position: absolute;
  right: 34px;
  top: 17px; }
  @media (max-width: 1023px) {
    .nav-app-access {
      display: inline-block;
      margin: 17px 10px;
      max-width: calc(100% - 175px);
      position: static;
      transition: all 1s ease-in-out;
      width: 100%; } }
  .nav-app-access .app-store {
    display: none;
    margin: 0 auto;
    width: 135px; }
    .has-touch .nav-app-access .app-store {
      display: block; }
  .nav-app-access .phone-form-container {
    margin: 0 auto; }
  .mobile-open .nav-app-access {
    opacity: 0; }

.nav-menu {
  display: inline-block;
  margin-left: 270px;
  max-width: calc(100% - 600px);
  padding: 24px 0 0;
  width: 100%; }
  .nav-menu.mobile-display {
    display: none; }
    @media (max-width: 1023px) {
      .nav-menu.mobile-display {
        display: block; } }
  @media (max-width: 1023px) {
    .nav-menu {
      background-color: rgba(236, 37, 96, 0.95);
      height: 100vh;
      left: 100%;
      margin-left: 0;
      max-width: 100%;
      overflow: scroll;
      padding-top: 0;
      position: absolute;
      top: 0;
      transition: all 1s ease-in-out; }
      .mobile-open .nav-menu {
        left: 0; } }

.nav-controls {
  cursor: pointer;
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  right: 34px;
  text-transform: uppercase;
  top: 26px;
  z-index: 20; }
  .nav-controls.mobile-display {
    display: none; }
    @media (max-width: 1023px) {
      .nav-controls.mobile-display {
        display: block; }
        .nav-controls.mobile-display .menu-open {
          display: block; }
          .mobile-open .nav-controls.mobile-display .menu-open {
            display: none; }
          .nav-controls.mobile-display .menu-open .icon {
            vertical-align: text-top; }
        .nav-controls.mobile-display .menu-close {
          display: none; }
          .mobile-open .nav-controls.mobile-display .menu-close {
            display: block; } }
    @media (max-width: 413px) {
      .nav-controls.mobile-display {
        right: 17px; } }

.list-inline {
  margin: 0 auto;
  text-align: center;
  width: 430px; }
  @media (max-width: 1023px) {
    .list-inline {
      margin: 130px 30px 0;
      width: calc(100% - 60px); } }
  @media screen and (max-width: 320px) and (max-height: 482px) {
    .list-inline {
      margin-top: 90px; } }

nav .list-inline > li {
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  max-width: 140px;
  padding: 0;
  text-transform: uppercase;
  width: 32%; }
  @media (max-width: 1023px) {
    nav .list-inline > li {
      display: block;
      font-family: "AmsiProNarw-Ultra", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 74px;
      max-width: 100%;
      text-align: center;
      width: 100%; } }
  @media screen and (max-width: 320px) and (max-height: 482px) {
    nav .list-inline > li {
      margin-bottom: 44px; } }

li.app-store {
  opacity: 0; }
  .has-touch li.app-store {
    display: inline-block;
    opacity: 1; }

li.mobile-display {
  display: none; }
  @media (max-width: 1023px) {
    li.mobile-display {
      display: block; } }

.app-store {
  opacity: 0; }
  .has-touch .app-store {
    display: block;
    opacity: 1; }

p {
  color: #131525;
  font-size: 24px;
  line-height: 32px;
  margin: 10px 0; }
  @media (min-width: 768px) {
    p {
      margin: 10px auto; } }
  @media (min-width: 1024px) {
    p {
      font-size: 34px;
      line-height: 45px; } }
  .section-pink p,
  .section-blue p,
  .section-bg p {
    color: #fff; }

.btn {
  border-radius: 3px 3px 3px 3px;
  background-color: #ec2560;
  border: 2px solid #ec2560;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  line-height: 17px;
  padding: 10px 40px; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #fff;
    border: 2px solid #fff;
    border-color: #ec2560;
    box-shadow: none;
    color: #ec2560; }
  .btn:active, .btn:focus {
    color: #131525; }
  nav .btn {
    padding: 10px 15px;
    width: 100%; }
  .btn.msg-sent:hover {
    background-color: #ec2560;
    border: 2px solid #ec2560;
    color: #fff;
    cursor: default; }

.wrapper section {
  background-color: #fff;
  padding: 80px 10%; }
  .wrapper section.section-pink {
    background-color: #ec2560; }
  .wrapper section.section-blue {
    background-color: #131525; }

section.spot-skew {
  transform: skewY(-6.8deg); }
  section.spot-skew > div > *,
  section.spot-skew > figure > * {
    transform: skewY(6.8deg); }

.carousel div {
  position: relative; }

.slick-slider {
  margin: 30px 0 20px; }
  @media (max-width: 767px) {
    .slick-slider {
      margin-top: 90px; } }

.slick-slider:focus,
.slick-slide:focus,
.slick-track:focus {
  outline: 0 none; }

svg.triangle-tail {
  height: 90px;
  position: absolute;
  right: 0;
  top: calc(100% - 11px);
  transform: skewY(6.8deg);
  z-index: 0; }
  @media (min-width: 768px) and (max-width: 1450px) {
    svg.triangle-tail {
      height: 180px;
      top: calc(100% - 22px); } }
  @media (min-width: 1451px) {
    svg.triangle-tail {
      height: 189px;
      top: calc(100% - 24px); } }
  .overflow-mask svg.triangle-tail {
    top: -36px; }
  svg.triangle-tail g {
    fill: #f9ed32; }
  svg.triangle-tail.green-tail g {
    fill: #7fdcbf; }

.apply-flex {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; }
  .apply-flex .flex-child {
    flex-basis: 50%; }

img.img-responsive {
  margin: 0 auto; }
  @media (max-width: 1499px) {
    img.img-responsive {
      max-width: 100%; } }
  img.img-responsive.icons {
    margin: 0; }
    @media (max-width: 767px) {
      img.img-responsive.icons {
        margin: 0 auto; } }

img:focus {
  outline: 0 none; }

img.brand {
  padding: 0; }
  img.brand.icon {
    margin: 10px 0 0;
    width: 50px; }
    footer img.brand.icon {
      height: 26px;
      vertical-align: text-bottom;
      width: 26px; }

header img.confetti.nav, img.confetti.nav-scroll {
  left: 170px;
  margin: 0;
  position: relative;
  z-index: 100; }
  @media (max-width: 1023px) {
    header img.confetti.nav, img.confetti.nav-scroll {
      height: 74px;
      visibility: hidden; } }
  @media (max-width: 320px) {
    header img.confetti.nav, img.confetti.nav-scroll {
      display: none; } }

img.confetti.flip-horiz {
  transform: scaleX(-1); }

.slick-slide img {
  margin: 0 auto; }

footer img {
  margin: 20px 0; }

.phone-form-container {
  height: 56px;
  position: relative;
  text-align: left;
  width: 350px; }
  @media (max-width: 599px) {
    .phone-form-container {
      margin: 0 auto;
      max-width: 350px;
      width: 100%; } }
  .nav-app-access .phone-form-container {
    height: 40px;
    width: 155px; }
  .has-touch .phone-form-container {
    display: none; }

.pink-back {
  border-radius: 5px 5px 5px 5px;
  background-color: #ec2560;
  height: 53px; }
  .nav-app-access .pink-back {
    height: 28px; }

.submit-arrow {
  height: 25px;
  opacity: .53;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 25px; }
  .submit-arrow.active {
    cursor: pointer;
    opacity: 1; }
  .nav-app-access .submit-arrow {
    height: 18px;
    top: 5px;
    width: 18px; }

input[type=text], input[type=email] {
  background: transparent;
  border: 0 none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 20px;
  margin: 15px 10px 0;
  width: calc(100% - 55px); }
  @media (max-width: 320px) {
    input[type=text], input[type=email] {
      margin-top: 10px; } }

input:focus {
  box-shadow: none;
  outline: 0; }

.nav-app-access input {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0; }

.text-me {
  font-family: "AmsiPro-Regular", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  padding: 0 10px; }

.animated {
  animation-duration: 2s;
  animation-fill-mode: both; }

footer {
  text-align: center; }
  footer .follow-all {
    color: rgba(255, 19, 94, 0.7);
    font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    vertical-align: bottom; }
  footer .pairade-name {
    color: #131525;
    font-family: "AmsiProNarw-Ultra", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 32.2px;
    margin: 0 7px; }
  footer.global {
    padding: 80px 20px 40px; }
  footer.page {
    padding: 100px 0 0; }
    footer.page ul.apply-flex {
      flex-direction: row;
      height: 73px;
      width: 100%; }
      @media (min-width: 600px) {
        footer.page ul.apply-flex {
          height: 100px; } }
      footer.page ul.apply-flex li {
        background-color: #ec2560;
        display: inline-block;
        line-height: 73px;
        margin-right: 1px;
        width: 50%; }
        @media (min-width: 600px) {
          footer.page ul.apply-flex li {
            line-height: 100px; } }
        footer.page ul.apply-flex li:last-child {
          margin-right: 0; }
        footer.page ul.apply-flex li:hover {
          background-color: rgba(236, 37, 96, 0.8); }
        footer.page ul.apply-flex li a {
          color: #fff;
          display: block;
          font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
          font-size: 20px;
          text-transform: uppercase; }
          @media (min-width: 600px) {
            footer.page ul.apply-flex li a {
              font-size: 28px; } }

body {
  transition: background .5s; }
  body.intro {
    background-color: #fff; }
  body.personalities {
    background-color: #e25c65; }
  body.playlists {
    background-color: #2e6cc4; }
  body.topics {
    background-color: #28235e; }
  body.cur-cats {
    background-color: #fffeda; }

@media (min-width: 1024px) {
  nav {
    background-color: transparent;
    box-shadow: none; } }

nav.content-nav {
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  left: calc(50% - (70% / 2));
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 90vh;
  transition: opacity 1s linear;
  width: 70%;
  z-index: 10; }
  @media (max-height: 700px) {
    nav.content-nav {
      top: 640px; } }
  @media (max-width: 1023px) {
    nav.content-nav {
      background-color: transparent;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      height: 62px;
      left: 0;
      position: fixed;
      top: 70px;
      width: 100%; } }
  nav.content-nav.fixed {
    position: fixed;
    top: 0; }
    @media (max-width: 1023px) {
      nav.content-nav.fixed {
        position: fixed;
        top: 70px; } }
  .mobile-open nav.content-nav {
    opacity: 0; }
  body.intro nav.content-nav {
    color: #131525; }
    @media (max-width: 1023px) {
      body.intro nav.content-nav {
        background-color: #fff; } }
  @media (max-width: 1023px) {
    body.personalities nav.content-nav {
      background-color: #e25c65; } }
  @media (max-width: 1023px) {
    body.playlists nav.content-nav {
      background-color: #2e6cc4; } }
  @media (max-width: 1023px) {
    body.topics nav.content-nav {
      background-color: #28235e; } }
  body.cur-cats nav.content-nav {
    color: #131525; }
    @media (max-width: 1023px) {
      body.cur-cats nav.content-nav {
        background-color: #fffeda; } }
  body.cur-cats nav.content-nav,
  body.curation nav.content-nav {
    opacity: 0;
    transition: opacity .5s; }

.nav-app-access .app-store {
  display: block; }

.app-store {
  opacity: 1; }

.menu-open {
  color: #131525; }

.content-nav ul {
  margin-top: 10px; }

li {
  display: inline-block; }
  .content-nav li {
    cursor: pointer;
    font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 11px;
    line-height: 11px;
    opacity: .39;
    text-transform: uppercase;
    transition: all 1s;
    width: 30%; }
    body.intro .content-nav li,
    body.personalities .content-nav li.personalities,
    body.playlists .content-nav li.playlists,
    body.topics .content-nav li.topics {
      opacity: 1; }
    @media (min-width: 1024px) {
      .content-nav li {
        font-size: 18px;
        height: 50px;
        line-height: 18px; } }
  .content-nav.fixed li {
    height: 50px;
    transition: all 1s; }
    @media (min-width: 1024px) {
      .content-nav.fixed li {
        font-size: 12px;
        line-height: 12px;
        width: 21%; } }
  .flipper-control li {
    cursor: pointer;
    display: block;
    height: 38px;
    margin: 8px 0;
    opacity: .5;
    overflow: hidden;
    width: 38px; }
    @media (min-width: 768px) {
      .flipper-control li {
        margin: 12px 0; } }
    .flipper-control li.card--current {
      opacity: 1; }
  footer li {
    font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    height: 35px;
    line-height: 23px;
    padding: 0 2px;
    vertical-align: top;
    width: 49%; }
    @media (min-width: 768px) {
      footer li {
        line-height: 35px;
        padding: 0 5px 0 0;
        width: 48%; } }

body.personalities .content-nav li.personalities span,
body.playlists .content-nav li.playlists span,
body.topics .content-nav li.topics span {
  border-bottom: 7px solid #fff;
  padding: 0 12px; }

.content-nav svg.icon {
  display: block;
  height: 28px;
  margin: 0 auto 8px; }
  @media (max-width: 1023px) {
    .content-nav svg.icon {
      height: 18px;
      width: auto; } }

body.personalities svg.icon g {
  fill: #fff; }

.content-nav.fixed svg.icon {
  height: 19px;
  transition: all .5s; }
  @media (max-width: 1023px) {
    .content-nav.fixed svg.icon {
      height: 18px; } }
  .content-nav.fixed svg.icon g {
    fill: #fff; }
    body.intro .content-nav.fixed svg.icon g {
      fill: #131525; }

img.confetti-card {
  height: 154px;
  opacity: 1;
  position: absolute;
  transition: opacity .5s linear; }
  img.confetti-card.faded {
    opacity: 0; }
  @media (min-width: 414px) {
    img.confetti-card {
      height: auto; } }
  img.confetti-card.card1 {
    left: -15%;
    top: 12%;
    transform: rotate(-22deg); }
    img.confetti-card.card1.our-animate {
      animation: nudge-card1-in 2s 1; }
    @media (min-width: 375px) {
      img.confetti-card.card1 {
        left: -10%;
        top: 15%; } }
    @media (min-width: 768px) {
      img.confetti-card.card1 {
        left: 22%;
        top: 5%;
        transform: rotate(6deg); } }
  img.confetti-card.card2 {
    right: -13%;
    top: 13%;
    transform: rotate(17deg); }
    img.confetti-card.card2.our-animate {
      animation: nudge-card2-in 2s 1; }
    @media (min-width: 375px) {
      img.confetti-card.card2 {
        right: -8%;
        top: 16%; } }
    @media (min-width: 768px) {
      img.confetti-card.card2 {
        right: 24%;
        top: -2%;
        transform: rotate(8deg); } }
  img.confetti-card.card3 {
    left: -12%;
    top: 84%;
    transform: rotate(-11deg); }
    img.confetti-card.card3.our-animate {
      animation: nudge-card3-in 2s 1; }
    @media (min-width: 375px) {
      img.confetti-card.card3 {
        left: -8.5%;
        top: 78%; } }
    @media (min-width: 768px) {
      img.confetti-card.card3 {
        left: -8.5%;
        top: 32%;
        transform: rotate(-21deg); } }
    @media (min-width: 1024px) {
      img.confetti-card.card3 {
        left: -2%; } }
    @media (min-width: 1500px) {
      img.confetti-card.card3 {
        left: 2%; } }
  img.confetti-card.card4 {
    right: -8%;
    top: 89%;
    transform: rotate(21deg); }
    img.confetti-card.card4.our-animate {
      animation: nudge-card4-in 2s 1; }
    @media (min-width: 375px) {
      img.confetti-card.card4 {
        right: -3%;
        top: 82%; } }
    @media (min-width: 768px) {
      img.confetti-card.card4 {
        right: -3%;
        top: 28%;
        transform: rotate(-12deg); } }
    @media (min-width: 1500px) {
      img.confetti-card.card4 {
        right: 2%; } }
  img.confetti-card.card5 {
    display: none; }
    img.confetti-card.card5.our-animate {
      animation: nudge-card5-in 2s 1; }
    @media (min-width: 768px) {
      img.confetti-card.card5 {
        display: block;
        left: -3%;
        top: 70%;
        transform: rotate(31deg); } }
    @media (min-width: 1024px) {
      img.confetti-card.card5 {
        left: 1.5%; } }
    @media (min-width: 1500px) {
      img.confetti-card.card5 {
        left: 7.5%; } }
  img.confetti-card.card6 {
    display: none; }
    img.confetti-card.card6.our-animate {
      animation: nudge-card6-in 2s 1; }
    @media (min-width: 768px) {
      img.confetti-card.card6 {
        display: block;
        right: -2%;
        top: 68%;
        transform: rotate(-34deg); } }
    @media (min-width: 1500px) {
      img.confetti-card.card6 {
        right: 5%; } }

img.icon-large {
  display: none; }
  @media (min-width: 768px) {
    img.icon-large {
      display: block; } }

.card-flipper .cards li img {
  height: 100%;
  width: 100%; }

.card-flipper .flipper-control img {
  display: block;
  height: 38px;
  left: -42px;
  position: relative; }

.card-flipper .flipper-control .card--current img,
.card-flipper .flipper-control li:hover img {
  left: 0; }

footer img.icons {
  margin: 5px 35px; }

.playlists .heading img {
  margin: 45px 0 25px;
  width: 253px; }
  @media (min-width: 768px) {
    .playlists .heading img {
      width: auto; } }

.playlists .detail-carousel img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 8px 0 0;
  transition: all .5s linear;
  width: 125px; }
  @media (min-width: 768px) {
    .playlists .detail-carousel img {
      margin: 12px 0 0;
      width: 182px; } }

.playlists .detail-carousel .slick-current img {
  margin: 0;
  width: 140px; }
  @media (min-width: 768px) {
    .playlists .detail-carousel .slick-current img {
      width: 204px; } }

.cur-cats .nav-carousel img {
  margin: 0 10px;
  width: 252px; }
  @media (min-width: 768px) {
    .cur-cats .nav-carousel img {
      width: auto; } }

.cur-cats .detail-carousel img {
  width: 95px; }
  @media (min-width: 768px) {
    .cur-cats .detail-carousel img {
      width: 126px; } }

.chat-question img,
.chat-answer img {
  width: 90%; }
  @media (min-width: 600px) {
    .chat-question img,
    .chat-answer img {
      width: auto; } }

@keyframes nudge-card1-in {
  0% {
    left: -50%;
    @media (min-width: 375px) {
      left: -50%; }
    @media (min-width: 768px) {
      left: -20%; } } }

@keyframes nudge-card2-in {
  0% {
    top: -20%; } }

@keyframes nudge-card3-in {
  0% {
    left: -60%;
    @media (min-width: 375px) {
      left: -60%; }
    @media (min-width: 768px) {
      left: -30%; } } }

@keyframes nudge-card4-in {
  0% {
    right: -50%;
    @media (min-width: 375px) {
      right: -50%; }
    @media (min-width: 768px) {
      right: -20%; } } }

@keyframes nudge-card5-in {
  0% {
    left: -20%; } }

@keyframes nudge-card6-in {
  0% {
    right: -100%; } }

@keyframes nudge-content-in {
  0% {
    top: 100%; } }

section {
  height: 100vh;
  opacity: 1;
  margin: 150px 0;
  transition: opacity .5s; }
  @media (min-width: 768px) {
    section {
      min-height: 570px; } }
  section.intro {
    margin: 0;
    position: relative;
    text-align: center; }
    @media (min-width: 1024px) {
      section.intro {
        min-height: 640px; } }
  section.intro, section.cur-cats {
    color: #131525; }
  @media (min-width: 768px) {
    section.personalities, section.topics {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      padding-top: calc((100vh - 595px) / 2); } }
  section.playlists {
    position: relative; }
    @media (min-width: 768px) {
      section.playlists {
        padding: 80px 0 0; } }
  section.curation {
    background-color: #fff;
    margin-bottom: 0;
    max-height: 600px;
    min-height: 480px;
    overflow: hidden; }
    @media (min-width: 768px) {
      section.curation {
        min-height: 850px; } }

.intro h2 {
  animation: nudge-content-in 2s 1;
  color: #131525;
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto 25px;
  padding-top: 45vh;
  position: relative;
  top: 0;
  width: 260px;
  z-index: 1; }
  .has-touch .intro h2 {
    margin: 0 auto; }
  @media (min-width: 1024px) {
    .intro h2 {
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 46px;
      padding-top: 300px;
      width: auto; } }

.rotation-word {
  color: #7fdcbf;
  opacity: 1;
  transition: opacity .5s linear; }
  .rotation-word.faded {
    opacity: 0; }

.heading {
  margin: 0 auto 25px;
  padding: 0 5%;
  text-align: center; }
  @media (min-width: 768px) {
    .heading {
      display: inline-block;
      margin: 0;
      padding: 0 5px 0 50px;
      text-align: left;
      width: calc(45% - 3px); } }
  @media (min-width: 1024px) {
    .heading {
      padding-left: 80px;
      width: calc(50% - 3px); } }
  section.playlists .heading,
  section.cur-cats .heading,
  section.curation .heading {
    margin-bottom: 25px;
    padding: 0 5%;
    text-align: center;
    width: 100%; }
    @media (min-width: 1024px) {
      section.playlists .heading,
      section.cur-cats .heading,
      section.curation .heading {
        margin-bottom: 50px; } }
  section.cur-cats .heading {
    margin-bottom: 70px; }

h3 {
  color: #fff;
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  line-height: 32px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 50px;
      line-height: 50px; } }
  body.intro h3 {
    color: #131525;
    transition: color .5s; }
  body.topics h3 {
    color: #fff; }
  .cur-cats h3 {
    color: #000;
    transition: color .5s; }
  section.curation h3 {
    color: #ec2560; }

h4 {
  color: #fff;
  font-family: "AmsiPro-Light", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  margin-top: 21px; }
  @media (min-width: 768px) {
    h4 {
      font-size: 26px;
      line-height: 26px;
      margin-top: 30px; } }
  section.personalities h4,
  section.topics h4 {
    display: none; }
    @media (min-width: 768px) {
      section.personalities h4,
      section.topics h4 {
        display: block; } }
  body.topics h4 {
    color: #fff; }
  .cur-cats h4 {
    color: #2e2e2e;
    transition: color .5s; }
  section.curation h4 {
    color: #ec2560; }
  .cur-cats h4,
  .curation h4 {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px; }

.asterisk {
  color: #fff;
  font-family: "AmsiPro-Light", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 14px; }
  section.personalities .asterisk,
  section.topics .asterisk {
    bottom: 0;
    padding: 0 8%;
    position: absolute;
    width: 100%; }
  .playlists .asterisk {
    margin-top: 30px;
    text-align: center; }

.phone-form-container-outer {
  border-bottom: 0.5px solid #fff;
  height: 222px;
  margin: 0 auto 26px;
  padding: 75px 0 68px;
  width: calc(100% - 60px); }
  .has-touch .phone-form-container-outer {
    border-bottom: 0 none;
    height: 1px;
    padding: 0; }

.phone-form-container {
  height: auto;
  margin: 0 auto; }
  .intro .phone-form-container {
    animation: nudge-content-in 2s 1;
    top: 0; }
  footer .phone-form-container {
    width: 285px; }

.text-me {
  color: #9b9b9b;
  font-size: 14px;
  line-height: 14px;
  margin: 11px 0 10px;
  text-align: center; }
  footer .text-me {
    margin-top: 0; }

.msg-sent {
  display: block;
  margin-top: 24px; }

a {
  cursor: pointer; }
  footer a {
    color: #fff; }
    footer a:active, footer a:focus, footer a:hover {
      color: #ec2560; }

.card-flipper {
  min-height: 370px;
  position: relative;
  text-align: center;
  width: 100%; }
  @media (min-width: 375px) {
    .card-flipper {
      height: 430px; } }
  @media (min-width: 768px) {
    .card-flipper {
      display: inline-block;
      min-height: 584px;
      width: calc(50% - 3px); } }

.card-flipper .cards {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 210px; }
  @media (min-width: 375px) {
    .card-flipper .cards {
      height: 391px;
      width: auto; } }
  @media (min-width: 768px) {
    .card-flipper .cards {
      height: 551px; } }

.card-flipper .cards li {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  height: 318px;
  left: -10px;
  position: absolute;
  top: 0;
  transform-origin: 0 0;
  width: 178.5px;
  z-index: 2; }
  @media (min-width: 375px) {
    .card-flipper .cards li {
      height: 374px;
      left: 0;
      width: 210px; } }
  @media (min-width: 768px) {
    .card-flipper .cards li {
      height: 534px;
      width: 300px; } }

.card-flipper .cards li.card--next {
  transform: translateY(5px) rotate(2deg) translateX(15px) scale(1);
  z-index: 3; }
  .personalities .card-flipper .cards li.card--next {
    background-color: #e25c65; }
  .topics .card-flipper .cards li.card--next {
    background-color: #28235e; }

.card-flipper .cards li.card--out {
  animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translateY(-10px) rotate(3deg) translateX(25px) scale(1);
  z-index: 1; }
  .personalities .card-flipper .cards li.card--out {
    background-color: #cf6059; }
  .topics .card-flipper .cards li.card--out {
    background-color: #0f2064; }

@keyframes card-out {
  0% {
    z-index: 6;
    transform: translateY(0) rotate(-4deg); }
  50% {
    transform: translateY(-20px) rotate(-5deg) translateX(-20px); }
  80% {
    z-index: 1; }
  100% {
    transform: translateY(-10px) rotate(3deg) translateX(25px) scale(1); } }

.card-flipper .cards li.card--current {
  cursor: auto;
  z-index: 5;
  opacity: 1;
  background: #EEE;
  transform: rotate(0); }

.flipper-control {
  display: inline-block;
  padding-left: 240px;
  padding-top: 24px;
  vertical-align: top; }
  .flipper-control.controls-5 {
    padding-top: 24px; }
    @media (min-width: 375px) {
      .flipper-control.controls-5 {
        padding-top: 68px; } }
    @media (min-width: 768px) {
      .flipper-control.controls-5 {
        padding-top: 136px; } }
  .flipper-control.controls-4 {
    padding-top: 51px; }
    @media (min-width: 375px) {
      .flipper-control.controls-4 {
        padding-top: 91px; } }
    @media (min-width: 768px) {
      .flipper-control.controls-4 {
        padding-top: 161px; } }
  @media (min-width: 768px) {
    .flipper-control {
      padding-left: 320px; } }

.carousel-with-nav {
  position: relative; }

.nav-carousel > div,
.detail-carousel > div {
  font-family: "AmsiProNarw-Bold", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16.8px;
  line-height: 16.8px;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .nav-carousel > div,
    .detail-carousel > div {
      font-size: 28px;
      line-height: 28px; } }

.slick-slider.nav-carousel {
  margin: 0 0 30px; }
  .playlists .slick-slider.nav-carousel {
    margin: 0 0 23px; }

.slick-slider.detail-carousel {
  height: 100%;
  margin: 15px 0;
  opacity: 1;
  transition: all .5s linear;
  width: 100%; }
  .slick-slider.detail-carousel.faded {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: all .5s linear; }

.slick-slide {
  color: rgba(255, 255, 255, 0.38); }
  .nav-carousel .slick-slide {
    cursor: pointer; }
  .playlists .nav-carousel .slick-slide {
    margin: 0 35px; }
  .cur-cats .nav-carousel .slick-slide {
    opacity: .2;
    transition: opacity .5s linear; }
  .playlists .detail-carousel .slick-slide {
    margin: 0 4px;
    position: relative;
    width: 125px !important;
    z-index: 1; }
    @media (min-width: 768px) {
      .playlists .detail-carousel .slick-slide {
        width: 182px !important; } }
  .cur-cats .detail-carousel .slick-slide {
    min-width: 120px; }
    @media (min-width: 768px) {
      .cur-cats .detail-carousel .slick-slide {
        min-width: 158px; } }
  .playlists .nav-carousel .slick-slide.slick-current {
    color: white; }
  .cur-cats .nav-carousel .slick-slide.slick-current {
    opacity: 1; }
  .playlists .detail-carousel .slick-slide.slick-current {
    height: 146px;
    width: 140px !important;
    z-index: 5; }
    @media (min-width: 768px) {
      .playlists .detail-carousel .slick-slide.slick-current {
        height: 210px;
        width: 204px !important; } }

.nav-pointer-container {
  height: 14px;
  overflow: hidden;
  position: absolute;
  top: -18px;
  width: 100%; }
  .playlists .nav-pointer-container {
    height: 14px;
    top: 25px; }
    @media (min-width: 768px) {
      .playlists .nav-pointer-container {
        top: 37px; } }
  .cur-cats .nav-pointer-container {
    top: 79px; }
    @media (min-width: 768px) {
      .cur-cats .nav-pointer-container {
        top: 100px; } }

.nav-pointer {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
  height: 16px;
  margin: 0 auto;
  position: relative;
  top: 6px;
  transform: rotate(45deg);
  transition: background .5s;
  width: 16px;
  z-index: 1; }

.carousel-contents {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.17);
  height: 170px;
  overflow: hidden;
  position: relative; }
  @media (min-width: 768px) {
    .carousel-contents {
      height: 234px; } }
  .cur-cats .carousel-contents {
    height: 136px; }
    @media (min-width: 768px) {
      .cur-cats .carousel-contents {
        height: 171px; } }

.sample-chat-phone {
  background-image: url("/images/landing/curation_iphone_bg.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 432px;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 600px) {
    .sample-chat-phone {
      height: 720px;
      width: 563px; } }
  @media (min-width: 768px) {
    .sample-chat-phone {
      height: 720px;
      width: 563px; } }

.sample-chat {
  padding-top: 100px;
  text-align: center; }
  @media (min-width: 768px) {
    .sample-chat {
      padding-top: 152px; } }

.chat-question,
.chat-answer {
  margin: 5px 0;
  opacity: 0;
  position: relative;
  top: 50vh; }
  .chat-question.fade-in,
  .chat-answer.fade-in {
    opacity: 1;
    top: 0; }

.chat-question {
  transition: all 0.75s cubic-bezier(0, 1.5, 0.5, 1) 1s; }
  .chat-question.fade-in {
    transition: all 0.75s cubic-bezier(0, 1.5, 0.5, 1) 0.2s; }
  @media (min-width: 768px) {
    .chat-question {
      margin: 10px 0 10px 82px; } }

.chat-answer {
  transition: all 0.75s cubic-bezier(0, 1.5, 0.5, 1) 0.2s; }
  .chat-answer.fade-in {
    transition: all 0.75s cubic-bezier(0, 1.5, 0.5, 1) 1s; }
  @media (min-width: 768px) {
    .chat-answer {
      margin: 35px 93px 10px 0; } }

footer {
  background-color: #131525;
  color: #fff;
  padding-bottom: 30px;
  text-align: left; }

.links-branding {
  margin: 0 auto;
  width: calc(100% - 40px); }
  @media (min-width: 768px) {
    .links-branding {
      width: calc(100% - 75px); } }

.links,
.branding {
  display: block;
  margin: 0 0 30px;
  width: 100%; }
  @media (min-width: 768px) {
    .links,
    .branding {
      display: inline-block;
      vertical-align: top;
      width: calc(50% - 3px); } }

.links {
  text-align: center; }
  @media (min-width: 768px) {
    .links {
      text-align: left; } }

.branding {
  text-align: center; }
  @media (min-width: 768px) {
    .branding {
      text-align: right; } }

footer .pairade-name {
  color: #fff; }
