body{
	font-family: Arial,"宋体", Helvetica, sans-serif;
	font-size: 12px;
	background-color: #fff;
	text-align:center;
	padding:0px;
	margin:0px;
}
img {border:0px;}
ul{ list-style-type:none; padding:0px; margin:0px;}
li{ padding:0px; margin:0px;}
.left{ float:left;}
.right{ float:right;}
.both360doc{ clear:both;}
.font12{ font-size:12px;}
.font14{ font-size:14px;}

.hui A:link {
	COLOR: #696969; TEXT-DECORATION: none
}
.hui A:visited {
	COLOR: #7a597a; TEXT-DECORATION: none
}
.hui A:hover {
	COLOR: #2d609f; TEXT-DECORATION: none;
}
.hei{COLOR: #28353d;}
.hei A:link {
	COLOR: #28353d; TEXT-DECORATION: none
}
.hei A:visited {
	COLOR: #7a597a; TEXT-DECORATION: none
}
.hei A:hover {
	COLOR: #2d609f; TEXT-DECORATION: none;
}
.name A:link {
	COLOR: #588600; TEXT-DECORATION: none
}
.name A:visited {
	COLOR: #588600; TEXT-DECORATION: none
}
.name A:hover {
	COLOR: #588600; TEXT-DECORATION: underline;
}

.topbj{background-image: url(http://pubimage.360doc.com/index/sy-1.gif);background-repeat: repeat-x;width:100%;min-width:1000px;}
.topbj2{background-image: url(http://pubimage.360doc.com/index/bgtihuan.gif);background-repeat: repeat-x;width:100%;min-width:1000px;}
.topnav{height:31px;width:1000px;margin:0px auto;text-align:left;min-width:1000px;}
.topboxwz{text-align:right; color:#555964; font-size:14px;}



.navwz1{ font-size:16px; font-weight:bold; color:#5f5f5f; text-align:center; padding-top:4px;cursor:pointer;
}

.divtit{ font-weight:bold; color:#fb6600; padding-top:16px; font-size:14px;}
.yzphbox{ padding-left:10px; padding-top:12px;}
.yzphlist{ height:27px; line-height:26px;}
.num1{
	background-image: url(http://pubimage.360doc.com/index/num-1.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num2{
	background-image: url(http://pubimage.360doc.com/index/num-2.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num3{
	background-image: url(http://pubimage.360doc.com/index/num-3.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num4{
	background-image: url(http://pubimage.360doc.com/index/num-4.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num5{
	background-image: url(http://pubimage.360doc.com/index/num-5.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num6{
	background-image: url(http://pubimage.360doc.com/index/num-6.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num7{
	background-image: url(http://pubimage.360doc.com/index/num-7.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num8{
	background-image: url(http://pubimage.360doc.com/index/num-8.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num9{
	background-image: url(http://pubimage.360doc.com/index/num-9.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.num10{
	background-image: url(http://pubimage.360doc.com/index/num-10.gif);
	background-repeat: no-repeat;
	background-position: 0px 6px; padding-left:27px;
}
.mainmed{border-left:1px solid #eae3dd;width:448px;COLOR: #696969;}
.mainrig{width:250px; background-color:#fbfbfb; color:#9e9e9e;border-left:1px solid #fbfbfb;}
.mainlef{width:300px;}
.jinbbj{
	font-size:18px;
font-family: "Microsoft YaHei";
 height:31px; line-height:26px; 
}
.jinbtit{height:31px;padding-top:10px;font-size: 18px;
font-family: "Microsoft YaHei";
line-height: 26px;}
.fenge{
	background-image: url(http://pubimage.360doc.com/index/sy-11.gif);
	background-repeat: repeat-x;
	margin:0px 8px;
	height:7px;
	background-position: bottom;
}
.list{ padding-left:22px; padding-top:10px;}
.list ul{}
.list li{
	background-image: url(http://pubimage.360doc.com/newsite/dian.gif);
	background-repeat: no-repeat;
	background-position: 0px 12px; height:26px; line-height:26px; padding-left:13px; font-size:14px;
}
.heilist{ padding-top:10px;*padding-top:5px;}
.heilist ul{}
.heilist li{
	background-image: url(http://pubimage.360doc.com/index/sy-17.gif);
	background-repeat: no-repeat;
	background-position: 0px 12px;
	height:24px;
	line-height:24px;
	padding-left:13px;
	font-size:12px;
}
.list2{ padding-left:6px; padding-top:10px;}
.list2 ul{}
.list2 li{
	background-image: url(http://pubimage.360doc.com/index/sy-17.gif);
	background-repeat: no-repeat;
	background-position: 0px 12px; height:26px; line-height:26px; padding-left:13px; font-size:14px;
}
.bianju{padding:0px 17px 0px 17px;}
.zhucipt{text-align:left; height:20px;background-color: #ffffff;font-size:12px;line-height:20px; padding:4px 4px; border:1px solid #d6d6d6; width:217px; color:#b2b2b2;}

.zhucbox{padding-left:11px; padding-top:14px;}

.denglbox{height:29px; padding-top:10px;}

.zhucbt{text-align:center; padding-right:13px; height:47px; padding-top:2px;}
.gengduo{ float:right ; padding-top:17px; padding-right:7px;}


.headimg img{ border:none;}

.nametit{ font-size:14px; font-weight:bold; padding-left:17px; padding-top:3px;}
.smallhead{text-align:center; line-height:17px;}
.bigtit{height:24px; padding-top:15px;}
.kejitit{ font-weight:bold; padding-top:7px; height:25px;}
.kejiwzjj{ line-height:18px; color:#727272;}
.kejibox{padding-top:8px;*padding-top:4px;_padding-top:4px; clear:both;}
.medsstop{
	background-image: url(http://pubimage.360doc.com/index/sy-19.gif);
	background-repeat: repeat-x;
	background-position: 0px bottom; height:30px; line-height:30px;
}
.medsmatit{color:#363636; font-weight:bold;}
.padd{ padding-left:5px;}
.medsmatit A:link {
	COLOR: #363636; TEXT-DECORATION: none
}
.medsmatit A:visited {
	COLOR: #363636; TEXT-DECORATION: none
}
.medsmatit A:hover {
	COLOR: #2d609f; TEXT-DECORATION:none;
}


.mianju{padding:0px 13px;}
.foot{ height:36px;}
.footerji{ color:#7c7c7c;text-align:center; line-height:20px; height:90px;}
.footzhu{ font-size:14px; color:#5d5d5d; height:27px; font-weight:bold;}
.footwzs{color:#9c9c9c; height:24px;}
.foota{background-color:#fff; height:100px; text-align:left; width:898px; margin:0px auto;}
.titbg{
	background-image: url(http://pubimage.360doc.com/index/sy-20.gif);
	background-repeat: repeat-x; height:5px;
}
.titbg2{
	background-image: url(http://pubimage.360doc.com/index/sy-22.gif);
	background-repeat: repeat-x; height:5px; width:60px;
}


.xtright{
	background-image: url(http://pubimage.360doc.com/index/sy-24.gif);
	background-repeat: repeat-y;
	background-position: right 0px;
}
.xtbott{
	background-image: url(http://pubimage.360doc.com/index/sy-11.gif);
	background-repeat: repeat-x; height:1px;
}
.listbju{padding-right:26px; padding-left:18px;}

.bottomdiv{
	background-image: url(http://pubimage.360doc.com/index/8.gif);
	background-repeat: repeat-x;
	height:106px;
}
.bordrign{border-right:none; width:448px;}

.tuwenbo{padding-left:6px;padding-top:14px;}
.jianju{padding-top:10px; _padding-top:3px;}

.headwz{ font-size:16px; font-weight:bold;}
.kejiwzjj A:link {
	COLOR: #727272; TEXT-DECORATION: none
}
.kejiwzjj A:visited {
	COLOR: #727272; TEXT-DECORATION: none
}
.kejiwzjj A:hover {
	COLOR: #727272; TEXT-DECORATION: underline;
}


.hesdbox{ width:100px; height:100px;}
.hesdbox img{ vertical-align:middle;text-align:center;MAX-WIDTH: 100px;
MAX-HEIGHT:100px;width: expression(this.width > 100 && this.width >= this.height ? 100 : true);height: expression(this.height >100 && this.width < this.height ? 100 : true);
}

.head2img img{ border:1px solid #e3e3e3; vertical-align:middle;text-align:center;MAX-WIDTH: 75px;
MAX-HEIGHT:75px;width: expression(this.width > 75 && this.width >= this.height ? 75 : true);height: expression(this.height >75 && this.width < this.height ? 75 : true);}

.head2outer
{
    MAX-WIDTH: 75px;
MAX-HEIGHT:75px;width: expression(this.width > 75 && this.width >= this.height ? 75 : true);height: expression(this.height >75 && this.width < this.height ? 75 : true);
    }

.headxinx{width:227px; height:67px; border:1px solid #f2f2f2;cursor:pointer;}
.newheadwz{ color:#3c6384; line-height:33px; height:33px; padding-left:10px;}
.jiantou{padding-top:12px; padding-right:15px;}





.part_03 { width:293px; height:390px;float:right;
}
.part_03 .p_left {
	WIDTH: 293px; FLOAT: left
}

.clearfix {
	ZOOM: 1
}
.ct_pt_01 {
	WIDTH: 293px; ZOOM: 1; FLOAT: left; OVERFLOW: hidden
}
.ct_pt_01 .ct_pic {
	
}
.ct_pt_01 .ct_txt 
{
    
	MARGIN-TOP: -30px; 
	width: 293px;height: 30px;display: block;filter:alpha(opacity=70);  -moz-opacity:0.7;   -khtml-opacity: 0.7;  opacity: 0.7;  background-color:#000; color:#fff; line-height:30px; font-size:14px;  cursor: pointer;
}
.b_cons {
	TEXT-ALIGN: right; HEIGHT: 34px; OVERFLOW: hidden;padding-right:20px;
}
.scrDotList {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;float:right;
}


.scrDotList div {
	LINE-HEIGHT: 0; MARGIN: 2px; WIDTH: 16px; DISPLAY: inline-block; BACKGROUND: url(http://pubimage.360doc.com/index/1.gif) no-repeat center center;_ BACKGROUND: url(http://pubimage.360doc.com/index/1.gif) no-repeat center center;HEIGHT: 21px; FONT-SIZE: 0px; CURSOR: pointer;float:left;
}
.scrDotList div.on {
	MARGIN: 2px; BACKGROUND: url(http://pubimage.360doc.com/index/2.gif) no-repeat center center; _ BACKGROUND: url(http://pubimage.360doc.com/index/2.gif) no-repeat center center;float:left;
}


.meiwen{COLOR: #727272}
.meiwen A:link {
	COLOR: #727272; TEXT-DECORATION: none
}
.meiwen A:visited {
	COLOR: #727272; TEXT-DECORATION: none
}
.meiwen A:hover {
	COLOR: #727272; TEXT-DECORATION: none;
}

.bai A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.bai A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.bai A:hover {
	COLOR: #fff; TEXT-DECORATION: none;
}




.dlu{width:105px; height:32px;float:left;}
.dlu a:link,.dlu a:visited{
	display:block;
	width:105px;
	height:32px;
	background-image: url(http://pubimage.360doc.com/index/sy-12.gif);
	background-repeat: no-repeat;
}
.dlu a:hover{display:block;
	width:105px; height:32px;
	background-image: url(http://pubimage.360doc.com/index/sy-12a.gif);
	background-repeat: no-repeat;}

	.dlu2{width:105px; height:32px;float:right;}
.dlu2 a:link,.dlu2 a:visited{
	display:block;
	width:105px; height:32px;
	background-image: url(http://pubimage.360doc.com/index/sy-13.gif);
	background-repeat: no-repeat;
}
.dlu2 a:hover{display:block;
	width:105px; height:32px;
	background-image: url(http://pubimage.360doc.com/index/sy-13a.gif);
	background-repeat: no-repeat;}



.fixeddiv
{
    position:fixed;
    _position:absolute;

_bottom:auto;

 _top:expression(eval(document.documentElement.scrollTop));

z-index:10000;
    }
    
    *html{ 

background-image:url(about:blank);

background-attachment:fixed;

} 

.lan3 A:link {
	COLOR: #1e5490; TEXT-DECORATION: none
}
.lan3 A:visited {
	COLOR: #1e5490; TEXT-DECORATION: none
}
.lan3 A:hover {
	COLOR: #fa6900; TEXT-DECORATION: none;
}
	.xzzc{width:93px; height:22px;padding-top:19px; padding-left:627px;}
.xzzc a:link,.xzzc a:visited{
	display:block;
	width:93px;
	height:22px;
	background-image: url(http://pubimage.360doc.com/index/7.gif);
	background-repeat: no-repeat;
}
.xzzc a:hover{display:block;
	width:93px; height:22px;
	background-image: url(http://pubimage.360doc.com/index/6.gif);
	background-repeat: no-repeat;}
.ckgdjc{font-size:14px; text-align:center; color:#6a6a6a; padding-top:35px;}





zhhaocss1{position: absolute; margin-left:104px; padding-top:2px; width:96px;}




.tipzhu ul{ margin:0px; padding:0px;}
.tipzhu li{  margin:0px; padding:0px;height:27px; line-height:27px; }



.xiax{width:21px; height:21px;}
.xiax a:link,.xiax a:visited{
	display:block;
	width:21px;
	height:21px;
	background-image: url(http://pubimage.360doc.com/index/xia.gif);
	background-repeat: no-repeat;
}
.xiax a:hover{display:block;
	width:21px; height:21px;
	background-image: url(http://pubimage.360doc.com/index/xia.gif);
	background-repeat: no-repeat;}
	
	
	
.xiax2{width:21px; height:21px;}
.xiax2 a:link,.xiax2 a:visited{
	display:block;
	width:21px;
	height:21px;
	background-image: url(http://pubimage.360doc.com/index/shang.gif);
	background-repeat: no-repeat;
}
.xiax2 a:hover{display:block;
	width:21px; height:21px;
	background-image: url(http://pubimage.360doc.com/index/shang.gif);
	background-repeat: no-repeat;}
	
	
	.W_layer { position:absolute; border-radius:3px; z-index:9999; }
.W_layer .bg {
	padding:3px;
	border-radius:4px;
	background-image: url(http://pubimage.360doc.com/index/layer_bg.png);
	background-repeat: repeat;
}
.W_layer .content { position:relative; background:#fff; border:1px solid #ccc; border-radius:2px }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }
.W_layer .arrow{
	position:absolute;
	overflow:hidden;
	display:block;
	background-image: url(http://pubimage.360doc.com/index/layer_arrow.png);
	background-repeat: no-repeat;
}

.W_layer .arrow_t,.W_layer .arrow_b { width:14px; height:9px; top:-5px; left:20px;background-position:0 0; }
.W_layer .arrow_b { top:auto; bottom:-5px; background-position:0 -8px; z-index:10000;}
.W_layer .arrow_t { z-index:10000; margin-top:0px;}
.W_layer .arrow_r,.W_layer .arrow_l { width:9px; height:14px; top:20px; right:-5px; background-position:-8px -24px; }.W_layer .arrow_l { right:auto; left:-5px; background-position:0 -24px; }
.W_layer .arrow_r, .W_layer .arrow_l{  width:8px;z-index:10000;}
.W_layer .arrow_l{ margin-left:1px;}
.W_layer .arrow_r{ margin-right:1px;}

.xximg{padding-right:6px; padding-top:6px;}
.numboxcss{height:26px; font-size:14px;}
.numwjjs{height:16px; background-color:#f2f2f2; color:#666666;  font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.numwjjsa{height:16px; background-color:#fe8500; color:#fff;font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.tabnav {TEXT-ALIGN: left; WIDTH: 417px; padding-left:18px; }
.tabnav .navmain {WIDTH:417px; font-size:14px;HEIGHT:30px; margin-top:5px;
	
	
	}
.tabnav .navmain SPAN {TEXT-ALIGN: left;  WIDTH:60px;  FLOAT: left; HEIGHT: 30px; line-height:30px; COLOR:#fb6600; font-weight:bold;TEXT-DECORATION: none; cursor:pointer;
}
.tabnav .navmain SPAN.checked {
	POSITION: relative; BACKGROUND: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none;BORDER-bottom: none;BORDER-left: #eae3dd 1px solid;BORDER-right: none; border-top:2px solid #fe5502;
}
.tabnav2 {
	TEXT-ALIGN: left; WIDTH: 249px; 
}
.tabnav2 .navmain2 {
	WIDTH:249px; FLOAT: left;font-size:14px;
}
.tabnav2 .navmain2 SPAN {TEXT-ALIGN: center; BORDER-left: #eae3dd 1px solid; BORDER-top: #eae3dd 1px solid; BORDER-bottom: #eae3dd 1px solid;BORDER-right: none;LINE-HEIGHT: 34px; WIDTH:61px; BACKGROUND: #fbfbfb; FLOAT: left; HEIGHT: 34px; COLOR: #28353d;TEXT-DECORATION: none; cursor:pointer;
}
.tabnav2 .navmain2 SPAN.checked {
	POSITION: relative; BACKGROUND: #ffffff; FONT-WEIGHT: bold; TEXT-DECORATION: none;BORDER-bottom: none;BORDER-left: #eae3dd 1px solid;BORDER-right: none; border-top:2px solid #fe5502;
}

.heilist3{ padding-left:6px; padding-top:10px;}
.heilist3 ul{}
.heilist3 li{ height:26px; line-height:26px;font-size:12px;}
.wjjboxmain div.divever{width:60px; border-left:1px solid #eae3dd; padding-top:3px; line-height:16px; height:16px;}
.wjjbox{ width:1000px; height:530px;}
.wjjboxmain {WIDTH:1000px; height:31px; font-size:14px;}
.wjjboxmain div {
	BORDER-BOTTOM: 0px;
	TEXT-ALIGN: center;
	LINE-HEIGHT: 31px;
	WIDTH: 62px;
	FLOAT: left;
	COLOR: #28353d;
	height:31px;
	CURSOR: pointer;
	TEXT-DECORATION: none;
	
}
.wjjboxmain div.checked {
	BORDER-BOTTOM: 0px;
	height:31px;LINE-HEIGHT: 31px;
	WIDTH: 62px;
	FLOAT: left;
	COLOR: #28353d;
	POSITION: relative;
	font-weight: bold;
}
.wjjboxmainxt {
	height:1px;
	FLOAT: left;
	width:1000px;
	margin-top:-1px;
	 border-top:1px solid #eae3dd;
}

.wztxtmed{ padding-top:6px; line-height:16px;}

.tulist1{width:240px; position:relative;}
.tulist1 span{width: 240px;height: 30px;display: block;filter:alpha(opacity=70);  -moz-opacity:0.7;   -khtml-opacity: 0.7;  opacity: 0.7; position:absolute; left: 0px;bottom: 0px; background-color:#000; color:#fff; line-height:30px; font-size:14px;  cursor: pointer;}


.tulist2{width:184px; position:relative;}
.tulist2 span{width: 184px;height: 30px;display: block;filter:alpha(opacity=70);  -moz-opacity:0.7;   -khtml-opacity: 0.7;  opacity: 0.7; position:absolute; left: 0px;bottom: 0px;background-color:#000; color:#fff; line-height:30px; font-size:14px; cursor: pointer;}
.tulist5{width:280px; position:relative;}
.tulist5 span{width: 280px;height: 30px;display: block;filter:alpha(opacity=70);  -moz-opacity:0.7;   -khtml-opacity: 0.7;  opacity: 0.7; position:absolute; left: 1px;bottom: 0px; background-color:#000; color:#fff; line-height:30px; font-size:14px;  cursor: pointer;}

.tulist6{width:134px; position:relative;}
.tulist6 span{width: 134px;height: 21px;display: block;filter:alpha(opacity=70);  -moz-opacity:0.7;   -khtml-opacity: 0.7;  opacity: 0.7; position:absolute; left: 0px;bottom: 0px; background-color:#000; color:#fff; line-height:21px; font-size:12px;  cursor: pointer;}




#fd p.now{ display:block; }
#fd p{ padding:0px; margin:0px;}


#fd img{border:none;}
#fd{height:205px; width:273px;position:relative; font-size:14px; color:#fff;}
.quanquan{position: absolute;top: 175px;left:0px; width:273px; height:30px; display: block;filter:alpha(opacity=60);  -moz-opacity:0.6;   -khtml-opacity: 0.6;  opacity: 0.6; background-color:#000; color:#fff;   cursor: pointer;}
.titcss{ text-align:left;line-height:30px;}		
		.hei2{COLOR: #000;}
.hei2 A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.hei2 A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.hei2 A:hover {
	COLOR: #2d609f; TEXT-DECORATION: none;
}

.numwjjs A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
.numwjjs A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
.numwjjs A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.numwjjsa A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.numwjjsa A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.numwjjsa A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}

.huise{color:#5E605D;}
.huise A:link {
	COLOR: #5E605D; TEXT-DECORATION: none
}
.huise A:visited {
	COLOR: #5E605D; TEXT-DECORATION: none
}
.huise A:hover {
	COLOR: #5E605D; TEXT-DECORATION: none;
}


.navtab a{COLOR: #28353d;}
.navtab A:link {
	COLOR: #28353d; TEXT-DECORATION: none
}
.navtab A:visited {
	COLOR: #28353d; TEXT-DECORATION: none
}
.navtab A:hover {
	COLOR: #28353d; TEXT-DECORATION: none;
}


.hei3{}
.hei3 A:link {
	COLOR: #28353d; TEXT-DECORATION: none
}
.hei3 A:visited {
	COLOR: #28353d; TEXT-DECORATION: none
}
.hei3 A:hover {
	COLOR: #2d609f; TEXT-DECORATION: none;
}

.dianlb li{ list-style:none;float:left; padding:0px 2px;}
.dianlb img{cursor: pointer; }


.boxfading{height:97px; width:48px; border:1px solid #dddddd;  
            bottom: 10px;
    position: fixed;
    _position:absolute;
    right: 10px;
    width: 47px;
    z-index: 9;
           }
.huigubox{width:90px; height:242px; cursor:pointer;background-color:#fff;}
.huigubox1{position:absolute; width:100px; height:242px;left:-100px;top:-80px;}
.huigubox2{position:absolute; width:48px; height:49px;left:-1px;background-image:url(http://pubimage.360doc.com/edit/images/editor/blank.gif)}
.huigubox ul{border:1px solid #dddddd;}
.huigubox li{ height:22px; line-height:22px; color:#585858;}
.huigucss1{ height:48px; border-bottom:1px solid #dddddd; cursor:pointer;}
.huigucss2 {height:48px;cursor:pointer;}
.huiguwz{color:#aaaaaa;line-height:15px; padding-top:10px;}


.huigubox A:link {
	COLOR: #585858; TEXT-DECORATION: none
}
.huigubox A:visited {
	COLOR: #585858; TEXT-DECORATION: none
}
.huigubox A:hover {
	COLOR: #585858; TEXT-DECORATION: none;
}
.zzzccs{font-size:24px; color:#ff8500; font-weight:bold; text-align:center; line-height:24px; margin-top:-1px;}
.zzzccs1{font-size:20px; color:#ff8500; font-weight:bold; text-align:center; line-height:24px; margin-top:-1px;}
.zzzcfont{color:#aeaeae;text-align:center; font-size:12px;}
.time{ color:#aeaeae;}
.gaixt{height:17px; width:13px; background-color:#fff; left:496px; position:absolute; top:0px;}

.tablext{
	background-image: url(http://pubimage.360doc.com/index/sy-24.gif);
	background-repeat: repeat-y;
	background-position: 499px 0px;
}

.fengexian_li{
	margin-top:14px;
	width:290px;
	float:left;
	height:1px;
	background-image: url(http://pubimage.360doc.com/index/sy-11.gif);
	background-repeat: repeat-x;	
	}
.fengexian_li2{
	width:350px;
	height:30px;
	background-image: url(http://pubimage.360doc.com/index/meirijingxuan.jpg);
	background-repeat: no-repeat;
	background-position: 65px 15px;
	}
.moreyuanchuang {
	font-size:12px;
	font-weight:100px;
	float:right;
	height:30px;
	line-height:30px;	
	}
.moreyuanchuang a{
	color:#fb6600;
	}
.moreyuanchuang a:hover{
	text-decoration: underline;}

.reviewmainbox{
	height:49px;
	width:993px;
	margin:0px auto; padding-left:7px;
	text-align:left;
}		
.reviewmain{
	height:49px;
	BORDER-left: #efefef 1px solid;
	width:991px;
	text-align:left;
	background:#f6f6f6 url(http://pubimage.360doc.com/index/huigu.jpg) no-repeat right top;
}
.review  {
	WIDTH:777px; FLOAT: left;font-size:16px;font-family:"Microsoft YaHei";
}
.review SPAN {TEXT-ALIGN: center; BORDER-right: #efefef 1px solid;BORDER-bottom: #efefef 1px solid;border-top:2px solid #f6f6f6;LINE-HEIGHT: 46px; WIDTH:110px; BACKGROUND: #f6f6f6; FLOAT: left;  COLOR: #4f4f4f;cursor:pointer;
}
.review  SPAN.checked {
	POSITION: relative; BACKGROUND: #fff;BORDER-bottom: #fff 1px solid; border-top:2px solid #ffba00; color:#ff3d00;BORDER-right: #efefef 1px solid;
}
.review  SPAN.checked a{COLOR: #ff3d00;}
.review A:link ,.review A:visited  {COLOR: #a4a4a4; TEXT-DECORATION: none;}
.review A:hover {COLOR: #ff3d00; }
.reviewjt{top:50%;margin-top:-10px;position: fixed;_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop));
_margin-top:250px;}
.jtbox{background-image: url(http://pubimage.360doc.com/index/huigu_jt.jpg);background-repeat: no-repeat;height: 54px;width:21px; cursor:pointer;}
.jtringt{background-position: -21px 0px;}
.jtringt2{background-position: -21px -54px;}
.jtleft{background-position: 0px 0px;}
.jtleft2{background-position: -0px -54px;}

.weixin{
position:fixed;
bottom:107px;
_position:absolute;
_bottom:107px;

}


.dsftb{
	background-image: url(http://pubimage.360doc.com/index/sf28.png);_background-image: url(http://pubimage.360doc.com/index/sf28.gif);
	background-repeat: no-repeat;
	width:28px; height:28px; display:block; float:left; margin:0px 5px;
}
.sf1{background-position: 0px 0px; }
.sf2{background-position: 0px -28px; }
.sf3{background-position: 0px -56px; }
.dsfwz{ line-height:28px; float:left; display:block; color:#929292;}
.wxcss{
	background-image: url(http://pubimage.360doc.com/index/wx1.png);_background-image: url(http://pubimage.360doc.com/index/wx1.gif);
	background-repeat: no-repeat; width:131px; height:145px;position:absolute; top:-150px; left:-73px; display:none;
}