a{
color:#106655;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
body{
background-color:#FBFBFB;
color:#111111;
font-family:Arial, sans-serif;
margin:0;
min-width:1200px;
padding:0;
}
form{
margin:0;
padding:0;
}
img{
border:0;
vertical-align:middle;
}
input, select, textarea{
font-family:Arial, sans-serif;
}
label{
cursor:pointer;
}
#main{
margin-left:auto;
margin-right:auto;
max-width:1600px;
min-width:1200px;
padding-top:45px;
width:80%;
}
#navbar{
float:left;
text-align:left;
width:45%;
}
#searchcontainer{
float:right;
padding:7px 0px 7px 0px;
text-align:left;
width:55%;
}
#tabnav{
float:right;
font-size:0.8em;
height:40px;
margin:0px 12px 0px 0px;
padding:0;
}
#tabnav a{
color:#FBFBFB;
float:left;
line-height:19px;
padding:12px 9px 8px 9px;
}
#tabnav a:hover{
text-decoration:underline;
}
#tabnav li{
display:inline;
list-style-type:none;
margin:0;
padding:0;
}
#topbar{
background:url(topbar.png) repeat-x black;
height:40px;
position:fixed;
width:100%;
}
.content{
background-color:#FBFBFB;
border:2px solid #666666;
border-radius:5px;
float:left;
font-size:0.8em;
margin-bottom:6px;
margin-top:4px;
padding-bottom:4px;
padding-top:2px;
width:87%;
}
.aplus{
background-color:#60B0F0;
}
.hidden{
background-color:#C0C0C0;
}
.remake{
background-color:#F0B080;
}
.str{
display:none;
}
.trusted{
background-color:#98D9A8;
}
.page{
border:1px solid #666666;
padding:0.25em;
}
.pagelink:hover{
background-color:#339999;
border:1px solid #333333;
color:#FBFBFB;
text-decoration:none;
}
.leftpages{
text-align:right;
width:5.6%;
}
.pages{
text-align:center;
width:88.8%;
}
.rightpages{
text-align:left;
width:5.6%;
}
.leftpages, .pages, .rightpages{
float:left;
margin-bottom:8px;
margin-top:4px;
}
.refinesearch{
line-height:2em;
margin-left:8px;
margin-top:4px;
}
.torrentcats{
padding-left:6px;
width:70%;
}
.torrentsubcatlist{
padding-left:18px;
padding-top:4px;
}
.notice{
font-weight:bold;
padding:11px;
}
.eyecatch{
color:red;
font-weight:bold;
}
.tlist{
border:0;
border-collapse:collapse;
margin-bottom:4px;
margin-left:auto;
margin-right:auto;
table-layout:fixed;
width:100%;
}
.tlistsortorder{
padding:8px;
}
.tlisthead{
font-weight:bold;
text-align:left;
vertical-align:top;
}
.tlistthone{
width:84px;
}
.tlistthtwo{
width:68%;
}
.tlistththree{
width:20px;
}
.tlistsizehead{
text-align:center;
width:9%;
}
.tlistthfive{
width:5%;
}
.tlistthsix{
width:5%;
}
.tlistthseven{
width:5%;
}
.tlisttheight{
width:4%;
}
.tlistrow{
border-bottom:1px solid #666666;
border-top:1px solid #666666;
}
.tlisticon{
padding:3px 2px;
}
.tlistname{
font-weight:bold;
overflow:hidden;
padding-bottom:3px;
padding-top:3px;
word-wrap:break-word;
}
.tlistdownload{
padding-bottom:2px;
}
.tlistsize{
border-left:1px solid #666666;
border-right:1px solid #666666;
text-align:center;
}
.tlistfailed{
font-weight:bold;
text-align:center;
}
.tlistsn{
color:green;
font-weight:bold;
padding-left:4px;
}
.tlistln{
color:red;
font-weight:bold;
}
.tlistdn{
font-weight:bold;
}
.tlistmn{
color:navy;
font-weight:bold;
text-align:center;
}
.chatbox{
height:400px;
overflow:auto;
}
.chatboxinner{
padding:4px;
}
.deletebutton{
background-color:#FBFBFB;
border:0;
}
.manageheader{
font-size:1.2em;
font-weight:bold;
text-align:center;
}
.manage{
margin:0px 20px 0px 20px;
}
.container{
padding:10px;
}
.separatelinks{
clear:both;
}
.viewtop{
border:0;
border-collapse:collapse;
width:100%;
}
.viewtable{
border:0;
border-collapse:collapse;
table-layout:fixed;
width:100%;
}
.viewcategory{
font-weight:bold;
text-align:left;
}
.viewflagtorrent{
font-weight:bold;
text-align:right;
}
.viewtorrentname{
overflow:hidden;
word-wrap:break-word;
}
.viewmisc{
float:left;
width:70%;
}
.viewdownloadbutton{
float:right;
margin-top:2px;
padding-bottom:5px;
padding-right:10px;
padding-top:10px;
text-align:right;
width:115px;
}
.viewdownloadtxtbutton{
float:right;
margin-top:2px;
padding-bottom:5px;
padding-top:10px;
text-align:right;
width:43px;
}
.viewilink{
font-weight:bold;
}
.tname{
font-weight:bold;
padding-left:10px;
text-align:left;
vertical-align:top;
width:100px;
}
.viewthtwo{
width:60%;
}
.viewthfour{
width:20%;
}
.viewsn{
color:green;
font-weight:bold;
}
.viewln{
color:red;
font-weight:bold;
}
.viewdn{
font-weight:bold;
}
.vtop{
vertical-align:top;
}
.viewdescription{
background-color:#FBFBFB;
border:2px solid #666666;
border-radius:5px;
padding:10px;
word-wrap:break-word;
}
.viewfile{
background-color:#FBFBFB;
border:2px solid #666666;
border-radius:5px;
padding:2px;
}
.viewfiletable{
border-collapse:collapse;
table-layout:fixed;
width:100%;
}
.fileentry{
border-bottom:2px dotted #666666;
}
.fileentryname{
padding-left:10px;
padding-top:4px;
width:88%;
word-wrap:break-word;
}
.fileentrysize{
padding-top:4px;
width:11%;
}
.comment{
background-color:#FBFBFB;
border:2px solid #666666;
border-radius:5px;
margin-top:4px;
padding:4px;
width:auto;
}
.commentoutline{
background-color:#FBFBFB;
border:3px solid #339999;
border-radius:5px;
margin-top:4px;
padding:4px;
width:auto;
}
.chead{
float:left;
padding-left:5px;
width:50%;
}
.cnumber{
float:right;
font-weight:bold;
text-align:right;
width:5%;
}
.cmain{
clear:both;
padding:4px;
word-wrap:break-word;
}
.avatar{
float:left;
max-height:50px;
max-width:50px;
}
.avatarstaff{
float:left;
max-height:300px;
max-width:300px;
}
.commentform{
height:100px;
width:600px;
}
.commentformdiv{
text-align:center;
}
.spoiler, .quote{
background-color:#FBFBFB;
border:2px solid #666666;
border-radius:5px;
padding:10px;
}
.quoteheader{
font-style:italic;
font-weight:bold;
}
.plink{
padding-left:6px;
}
.pedit{
padding-left:6px;
}
.sheader{
clear:both;
margin:0px;
padding-top:30px;
}
.sleft{
float:left;
padding:12px 6px 1px 6px;
width:87.7%;
}
.sright{
float:right;
padding:12px 6px 1px 6px;
width:10%;
}
.error{
color:red;
font-weight:bold;
padding:8px;
}
.center{
margin:auto;
text-align:left;
width:50%;
}
.flagcontent{
padding-left:6px;
padding-top:4px;
}
.ulform{
padding:4px 0px 6px 6px;
}
.ulformtable{
border:0;
border-collapse:collapse;
padding:0;
}
.manageformtable{
border:0;
border-collapse:collapse;
padding:0;
width:100%;
}
.inputmanagename{
font-weight:bold;
vertical-align:top;
width:150px;
}
.inputmanagetext{
width:100%;
}
.inputmanagetextarea{
height:200px;
width:100%;
}
.inputmanagesubmitter{
width:60px;
}
.inputmanagereason{
width:150px;
}
.inputulname{
font-weight:bold;
vertical-align:top;
width:125px;
}
.inputultext{
width:400px;
}
.inputulselect{
width:404px;
}
.inputultextarea{
height:200px;
width:400px;
}
.inputulrules{
padding-bottom:4px;
width:400px;
}
.inputsearchterm{
width:140px;
}
.inputsearchcategory{
width:140px;
}
.inputsearchsubmit{
margin-left:3px;
width:67px;
}
.inputptext{
width:500px;
}
.inputchatboxmsg{
width:600px;
}
.inputflagreason{
height:150px;
width:500px;
}
