/*normalize.css v1.1.3*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}{outline:thin dotted}a:focus,a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}/*user*/.clearfix:before,.clearfix:after{content:" ";display:table;}.clearfix:after{clear:both;}.clearfix{*zoom:1;}.l{float:left;}.r{float:right;}.c{text-align:center;}.pos-a{position:absolute;}.pos-r{position:relative;}.pos-f{position:fixed;}

@font-face {
	font-family: 'proxima_nova_rgregular';
    src: url('../../fonts/proximanova-regular-webfont.eot');
    src: url('../../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body{
	height: 100%;
}

body{
	font-family: 'proxima_nova_rgregular', 'Microsoft Sans Serif', Arial, sans-serif;
	background-color: #fff;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.container{
	height: auto; 
    min-height: 100%; 
}

.wrap{
	padding-bottom: 76px;
}

.home_head{
	height: 660px;
	width: 100%;
	background: #0f0007 url('../images/home_head_bg.jpg') center top no-repeat;
	/*padding-top: 1px;*/
}

.home_logo{
	width: 100%;
	height: 100%;
	background: url('../images/logo.png') center 6px no-repeat;
}

.home_logo h1{
	font-size: 60px;
	color: #fff;
	padding-top: 273px;
	margin-top: 0;
}

.home_logo p{
	color: #ff8ea0;
	font-size: 16px;
	line-height: 1.6em;
}

.download{
	display: block;
	width: 226px;
	height: 54px;
	font-size: 18px;
	color: #fff;
	text-indent: 66px;
	background: #fa435e url(../images/down.png) 35px 20px no-repeat;
	border-radius: 3px;
	line-height: 54px;
}

.download:hover{
	background-color: #ff526d;
	text-decoration: none;
}

.home_head .download{
	margin: 0 auto;
	margin-bottom: 45px;
}

.bottom_download{
	padding-bottom: 20px;
}

.bottom_download .download{
	top: -190px;
	left: 10px;
}

.content{
	width: 1000px;
	margin: 0 auto;
}

.feature{
	margin-top: 105px;
	margin-bottom: 90px;
}

.feature li{
	width: 25%;
	background-image: url(../images/feature.png);
	background-repeat: no-repeat;
	padding-top: 200px;
	font-size: 16px;
	color: #999;
}

.feature i{
	display: block;
	font-size: 20px;
	color: #333;
	font-style: normal;
	line-height: 1.7em;
}

.feature .f_1{
	background-position: 31px top
}

.feature .f_2{
	background-position: -229px top
}

.feature .f_3{
	background-position: -489px top
}

.feature .f_4{
	background-position: -749px top
}

.slide{
	height: 440px;
}

.s_content{
	height: 395px;
	overflow: hidden;
}

.s_content h3{
	font-size: 26px;
	color: #333;
	line-height: 1em;
	margin:58px 0 0 0;
	padding-left: 10px;
}

.s_content p{
	width: 360px;
	font-size: 18px;
	color: #999;
	line-height: 1.5em;
	padding-left: 10px;
}

.s_content li{
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.s_content .s_c_001{
	background: url(../images/slide_001_img.jpg) right bottom no-repeat;
}

.s_content .s_c_002{
	background: url(../images/slide_002_img.jpg) right bottom no-repeat;
}

.s_content .s_c_003{
	background: url(../images/slide_003_img.jpg) right bottom no-repeat;
}

.s_content .s_c_004{
	background: url(../images/slide_004_img.jpg) right bottom no-repeat;
}

.s_button{
	width: 503px;
	padding-top: 10px;
}

.s_button li{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/slide_btn.jpg) -15px 5px no-repeat;
	cursor: pointer;
	*display: inline;
}

.s_button li.s{
	background-position: 5px 5px;
}

.footer{
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: #4d4d4d;
	font-size: 12px;
	color: #b8b8b8;
}

.footer a{
	font-size: 12px;
	color: #b8b8b8;
}

.footer a:hover{
	text-decoration: underline;
}

.foot{
	width: 1000px; 
	margin: 0 auto;
	height: 76px;
}

.foot li{
	line-height: 6em;
}

/*sub*/
.sub_head{
	background-color: #0f0007;
}

.sub_head_content{
	width: 1300px;
	margin: 0 auto;
	height: 80px;
	background: url(../images/sub_head_bg.jpg) center top no-repeat;
}

.sub_head_content .l{
	background: url(../images/sub_logo.png) 53px top no-repeat;
	font-size: 40px;
	color: #fff;
	line-height: 80px;
	text-indent: 237px;
}

.sub_head_content .r{
	padding-right: 150px;
	padding-top: 24px;
}

.sub_head_content .r a{
	display: block;
	width: 100px;
	background-color: #fa435e;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 18px;
}

.sub_head_content .r a:hover{
	background-color: #ff526d;
	text-decoration: none;
}

.sub_content{
	padding: 80px 0;
}

.sub_content h1{
	color: #fa405e;
	font-size: 35px;
}

.sub_content p{
	line-height: 1.6em;
	color: #3b3b3b;
}

.sub_content ul{
	line-height: 1.6em;
	color: #3b3b3b;
}

.sub_content span{
	font-weight: bold;
}

.sub_content em{
	padding-right: 6px;
}

.sub_content a{
	color: #fa405e;
	text-decoration: none; 
}

.sub_content a:hover{
	text-decoration: underline;
}
