* {
margin: 0;
padding: 0;
}

body {
height: auto !important;
height: 100%;
min-height: 100%;
position: relative;
font-family:Arial,Tahoma,Verdana;
font-size:14px;
background:url(http://i.stranamam.ru/i/body.gif) white repeat-y 50% 0;
color:#222;
}
input,select,textarea,button {font-family:Arial,Tahoma,Verdana;}

td {vertical-align:top;border:0;padding:0;border-collapse:collapse;}
img { border:0px; }
a:focus {outline:none}
input:focus {outline:none}

.fl{float:left}
.fc{
  position: absolute;
  left: 50%;
  height: 30px;
  top: 0;
  width: 530px;
  margin-left: -300px;
  text-align: center;
  display: table;
}
.fc > div {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.stop-ok,.stop-vk,.stop-fb, .stop-mail {
  background:url('/i/soctop.png') no-repeat;
  display: inline-block;
  height: 26px;
  width: 26px;
  margin: 3px 0 0 0;
  border-radius: 50%;
}
.stop-vk {background-position:-2px 0;}
.stop-ok {background-position:-2px -33px;}
.stop-fb {background-position:-2px -66px;}
.fr{float:right}
.clear{clear:both}
div.clear {line-height:1px;height:1px;font-size:1px;}

a {color:#0e8bdf}
a:hover {color:#ff0036;}
a.moderator:hover,
a.admin:hover,
.leftmenu a:hover
{color:#ff0036 !important;}

.crumbs a {font-size:12px;}
.crumbs {font-size:12px;padding-bottom:17px;}

.beautylist {padding-left:20px;}
.beautylist li {padding-bottom:5px;}

.bbhover:hover .bbalt {
    background: none repeat scroll 0 0 yellow;
}
.bbhover {
    float: left;
    position: relative;
}
.bbhover .bbextra {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
}
.bbhover .bbextra a, .bbhover .bbextra span {
    background: none repeat scroll 0 0 #333333;
    color: white;
    float: right;
    font-size: 15px;
    margin-bottom: 4px;
    opacity: 0.5;
    padding: 2px 8px;
    text-decoration: none;
		font-family:Arial;
}
.bbhover .bbextra a:hover {
    opacity: 1;
}
.bbhover:hover .bbextra {
    display: block;
}

.ajaxlenta {background: url("/i/ajaxlenta.gif") no-repeat scroll 95% 15px #FfF4dd; border: 1px outset #554444;color: #222222;font-size: 17px;padding: 7px 24px 7px 7px;}
.ajaxlenta:hover {background-color:#FFF7E7;color:#000;border:1px solid #bbb;}


.indexhot li a:visited { color:#8090aa; }
.indexhot li a:hover { color:#ff0036 !important; }
div.top-tabs {
    padding: 2px 0 5px;
}
div.top-tabs a {
    border-bottom: 1px dotted #0E8BDF;
    color: #0E8BDF;
    float: left;
    font-size: 12px;
    margin-right: 10px;
    text-decoration: none;
}
div.top-tabs a.active {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #f2f2f2;
    color: black;
    padding: 0 11px;
}

.coins {padding-left:20px;background:url(http://i.stranamam.ru/i/coins.gif) no-repeat 0 0;}
.nocoins {padding-left:20px;background:url(http://i.stranamam.ru/i/nocoins.gif) no-repeat 0 0;}

input.abtn {background:none;border:none;color:#0e8bdf;border-bottom:1px dashed #0e8bdf;cursor:pointer;font-size:15px;}
a.dashed {text-decoration:none;border-bottom:1px dashed #0e8bdf;color:#0e8bdf}
a.dashed:hover {text-decoration:none;border-bottom:1px dashed #0e8bdf;color:#0e8bdf}
.boardlist a.dashed  {font-family:Arial,Tahoma,Verdana;font-size:15px;}

a.black {color:#222}
a.black:hover {color:#ff0036;}

a.nolink-yellow,a.nolink-green {color:#222;text-decoration:none;}
a.nolink-yellow:hover {color:#222;text-decoration:none;background:#FFFEE0;}
a.nolink-green:hover {color:#222;text-decoration:none;background:#F4FFD7;}

a.wspan {text-decoration:none}
a.wspan span {text-decoration:underline}

table.bb {border-collapse:collapse}
table.bb th {background:#f5f5f5;color:black;font-weight:bold;}
table.bb td, table.bb th {border:1px solid #bbb;padding:2px 4px;margin:0;}

.gray {color:#555}
.green {color:#009911}
.red, a.red {color:#ee0400}
a.red:hover {color:#ff0036;}

.vb {vertical-align:bottom;}
.vmid {vertical-align:middle;}
.times {font-family:Georgia,"Times New Roman";}

.checkboxes ul {margin:0;padding:7px 5px 5px 20px;list-style:none}
.checkboxes li {margin:0;padding:1px 0px 2px 0px;}

.hovergray:hover {background:#fffee5;}

a.blackactive,a.blackactive:hover {text-decoration:none;color:#222;}

h1 {color:#707070;font-family:Georgia,"Times New Roman";font-size:22px;font-weight:normal;font-style:italic;margin-bottom:14px;}
h2 {color:#6a6a6a;font-family:Georgia,"Times New Roman";font-size:18px;font-weight:normal;font-style:italic;margin-bottom:8px;}
h3 {color:#606060;font-family:Georgia,"Times New Roman";font-size:16px;font-weight:normal;margin-bottom:7px;}
.mb10 {margin-bottom:10px}

h1 a {color:#707070;}
h2 a {color:#6a6a6a;}
h1 a:hover {color:#707070;text-decoration:none}
h2 a:hover {color:#6a6a6a;text-decoration:none}

h1 a.hlink ,
h2 a.hlink {color:#0e8bdf;}
h2 a.hlink:hover,
h1 a.hlink:hover {color:#ff0036;text-decoration:underline}

h3.red {color:#EE0400}

table.cp5 td {padding:5px;}
.radius5 {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

small {color:#808080;font-size:11px;}
.sm12 {color:#707070;font-size:12px;}

.op40 {opacity:0.4; filter:alpha(opacity=40);}

.maincolumn {padding-right:20px;}

div.welcome {padding-bottom:20px;font-size:13px;}

div.roundgray {background:#f5f5f5;border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding:8px;}

.vc2 {float:left;padding-left:8px;padding-top:3px; }
.vc2 img {vertical-align:-3px;cursor:pointer;}
.vc2 .r {float:left; padding-right:10px;padding-left:5px;}
.crow2 {float:left; line-height:20px;}
.crow3 {float:left;padding-top:4px;padding-left:10px;font-size:11px;}
.favcom, .favcom1, .favcom2 {float:left;margin-left:7px;margin-right:9px;margin-top:5px;}
.favcom {float:left;width:13px;height:12px;background:url(http://i.stranamam.ru/i/favcom.gif) no-repeat 0 -14px;}
.favcom:hover {background-position:0 0;}
.favcom1, .favcom2 {float:left;width:13px;height:12px;background:url(http://i.stranamam.ru/i/favcom.gif) no-repeat 0 0px;}
.favcom2:hover {background-position:0 -14px;}

.favs_cms {background:url(http://i.stranamam.ru/i/mail.gif) no-repeat scroll 0 0;line-height:20px;padding-left:23px;}
.favs_folder {background:url(http://i.stranamam.ru/i/favfolder.gif) no-repeat scroll 0 2px;line-height:20px;padding-left:23px;}
.fav_current .favs_folder {background:url(http://i.stranamam.ru/i/favfolder2.gif) no-repeat scroll 0 2px;}
.fav_current a {color:#222;text-decoration:none}

.ages_div {margin:8px 10px 12px 10px;}
#ages_container .vb {width:auto;height:auto;}
#ages_container  {padding-top:10px;min-width:500px;}
#ages_container .ned {padding:5px 0 0px 20px;}
.waitages td {background:#f7f7f7;border:2px solid white;}
.waitages .head0 td {background:#FFF;height:34px;vertical-align:middle}
.waitages .head td {background:#FFF6D7;height:34px;vertical-align:middle}
#ages_container .waitages .head td .vb {vertical-align:baseline;}
.waitages .second td {background:#f0f0f0}
.waitages .third td {background:#e9e9e9}
#ages_container td.amonth {padding:5px 0 10px 20px;}
#ages_container .waitages small {font-size:5px;}
.agesel {font-weight:bold;color:#0e8d23;}

.ffield {padding:2px;width:auto;}
.ffactive {background:#ffef55;}

.indexhot small {background:url(http://i.stranamam.ru/i/disc.gif) no-repeat scroll 2px 2px;padding-left:14px;}
.indexhot ul {list-style:none;margin:0;padding:0;}
.indexhot ul li {padding-bottom:4px;}

.index-top-coms a:hover {color:#ff0036;}
.index-top-coms a {color:#222;line-height:19px;font-size:12px}
.index-top-coms h3 {margin-bottom:0px;}


#top-menu-str {border-bottom:1px solid #ccc;background:#eee;padding:4px 12px 5px 15px;font-size:13px;}
#top-menu-str a {color:#222;}
#top-menu-str a:hover {color:#222;text-decoration:none}
#top-menu-str span {color:#aaa}
.g-ex {background:url(http://i.stranamam.ru/i/g-ex.gif) no-repeat 0 1px;padding-left:18px;float:right;}
.g-calendar {background:url(http://i.stranamam.ru/i/g-calendar.gif) no-repeat 0 0;padding-left:22px;}
.g-girl {background:url(http://i.stranamam.ru/i/g-girl.gif) no-repeat 0 0;padding-left:22px;}
.g-kid {background:url(http://i.stranamam.ru/i/kid-gray.gif) no-repeat 0 1px;padding-left:23px;}


.profilemenu {background:url(http://i.stranamam.ru/i/profilemenu.gif) #f7f7f7 no-repeat 0px 0px;width:235px;height:62px;margin-bottom:5px;margin-left:-2px;}
.profilemenu div {padding:6px 10px 4px;}
.profilemenu a.tomail2, .profilemenu a.delfriend, .profilemenu a.tofriend
{padding-left:25px;}

.clearbtn, .create .clearbtn, .signup .clearbtn
{height:auto;width:auto;background:#FFE189;border:1px solid #EEC159;font-size:13px;color:black;padding:1px 10px;cursor:pointer;}
.btn, .create .btn, .signup .btn
{height:auto;width:auto;background:#25b103;border:1px solid #7ed068;font-size:13px;color:white;padding:1px 10px;cursor:pointer;}
.btn-disabled {height:auto;width:auto;background:#ddd;border:1px solid #ccc;font-size:13px;color:#555;padding:1px 10px;cursor:default;}


.btn85 {height:22px;width:85px;color:white;background:url(http://i.stranamam.ru/i/btn85.gif) no-repeat 0px 0px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:12px; cursor:pointer;padding:0;}
.btn85:hover {background:url(http://i.stranamam.ru/i/btn85.gif) no-repeat 0px -28px;}
.btn65 {height:22px;width:65px;color:white;background:url(http://i.stranamam.ru/i/btn65.gif) no-repeat 0px 0px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:12px; cursor:pointer;padding:0;}
.btn65:hover {background:url(http://i.stranamam.ru/i/btn65.gif) no-repeat 0px -28px;}

.btn82, .create .btn82, .signup .btn82
{height:26px;width:82px;color:white;background:url(http://i.stranamam.ru/i/btn82.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:15px; cursor:pointer;padding:0;}

.btn120, .create .btn120, .signup .btn120
{height:26px;width:120px;color:white;background:url(http://i.stranamam.ru/i/btn120.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:15px; cursor:pointer;padding:0;}

.btn135, .create .btn135, .signup .btn135
{height:26px;width:135px;color:#292929;background:url(http://i.stranamam.ru/i/btn135.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:14px; cursor:pointer;padding:0;}

.btn110, .create .btn110, .signup .btn110
{height:26px;width:110px;color:#292929;background:url(http://i.stranamam.ru/i/btn110.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:14px; cursor:pointer;padding:0;}


.btn168, .create .btn168, .signup .btn168
{height:26px;width:168px;color:white;background:url(http://i.stranamam.ru/i/btn168.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:15px; cursor:pointer;padding:0;}
a.btn168 {float:left;text-align:center;color:white !important;text-decoration:none;font-size:15px !important;line-height:25px;}

.btn200, .create .btn200, .signup .btn200
{height:26px;width:200px;color:white;background:url(http://i.stranamam.ru/i/btn200.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:15px; cursor:pointer;padding:0;}


.btn210, .create .btn210, .signup .btn210
{height:32px;width:210px;color:white;background:url(http://i.stranamam.ru/i/btn210.gif) no-repeat 0px 2px;border:0;font-family:"Trebuchet MS", Verdana, Arial;font-size:16px; cursor:pointer;padding:0;}

.formbg {background:#FFFAC8;border:1px solid #E2D4AD;border-left:5px solid #E9CF89;padding:15px 10px 15px 14px;}
.formbg h3 {color:#111;}

a.otpis {background:url(http://i.stranamam.ru/i/cmsminus.gif) no-repeat 0px -1px;text-decoration:none;}
a.otpis:hover {background:url(http://i.stranamam.ru/i/otpis.gif) no-repeat 0px -29px;text-decoration:none;}

.frame158 img {padding:7px;background:url(http://i.stranamam.ru/i/frame158.gif) no-repeat 0px 0px;}



.fr32 {float:left;padding:4px;background:url(http://i.stranamam.ru/i/fr32.gif) no-repeat;}
.fr32 .online {position:absolute;margin-left:-4px;margin-top:29px;}
.fr48 .online {position:absolute;margin-left:-5px;margin-top:43px;}
.fr32gray {float:left;padding:3px;background:url(http://i.stranamam.ru/i/fr32gray.gif) no-repeat;}
.fr48 {float:left;padding:5px;background:url(http://i.stranamam.ru/i/fr48.gif) no-repeat;}
.fr64 {float:left;padding:9px;background:url(http://i.stranamam.ru/i/fr64.gif) no-repeat;}
.fr64 .online {position:absolute;margin-left:-9px;margin-top:59px;}
.fr90 {float:left;padding:7px;background:url(http://i.stranamam.ru/i/fr90.gif) no-repeat;}

.moderator {color:#007733 !important}
.admin {color:#F03050 !important}

textarea {border:1px solid #aaa;}

.errordiv {background:#ffdbdb;border:1px solid #e5a5a5;padding:10px 10px 13px;margin:10px 20px 10px 0px;}
.alert {background:#F4FFD7;border:1px solid #ccc;padding:10px 10px 15px;margin:10px 20px 10px 0px;}
.control {background:#FFF1CA;border:1px solid #ccc;padding:10px 10px 15px;margin-bottom:10px;float:left;clear:both;}
.blue-control {background:#F0FBFF;border:1px solid #ccc;padding:10px 10px 15px;margin-bottom:10px;float:left;clear:both;}

#container {max-width:1280px;min-width:960px;background:white;margin:0 auto;}

#header { height:89px; width:100%; background:url(http://i.stranamam.ru/i/dolls.jpg) no-repeat right bottom;}
#logo 	{ float:left; margin:13px 0 0 9px; font-size:20px;color:#ee0400;}
#searchbar 	{ float:right; margin:25px 9px 0 0; background:url(http://i.stranamam.ru/i/search.gif) no-repeat right top; width:370px; height:42px;}
#searchbar .subbar 	{ margin:1px 0 0 23px;font-family:"Trebuchet MS", Verdana, Arial; font-size:15px; height:41px;}
#searchbar .subbar 	td.l {padding-bottom:2px;}
#searchbar .subbar td {vertical-align:middle;}
#searchbar input.txt { border:1px solid #bcbcbc; width:190px; margin:0 8px 0 10px; padding:1px;}
#searchbar input { font-size:13px; }
#searchbar input.submit {width:55px;}

#mainmenu { height:46px; width:100%; background:url(http://i.stranamam.ru/i/mainmenu.gif) #dc0905 repeat-x left top;}
#mainmenu .rasp { height:1px;}
#mainmenu td { padding-top:11px;padding-left:26px;}
#mainmenu td.home { padding-left:0px;}
#mainmenu td.home a { margin-left:11px;padding-right:2px;padding-left:4px;}
#mainmenu td.home a img { margin-bottom:-3px;}
#mainmenu a { color:white; font-family:"Trebuchet MS", Verdana, Arial; font-size:17px;}
#mainmenu a.active { color:#fffaa4; }
#mainmenu a:hover { text-decoration:none;color:#fffaa4; }
#mainmenu a.dropdown {background:url(http://i.stranamam.ru/i/dd.gif) no-repeat 100% 9px;padding-right:15px;}

#mainmenu div.hover {margin-left:-11px;margin-top:-6px;background:white;border:1px solid #aaa;position:absolute;padding:5px 10px;z-index:15;cursor:default;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;}
#mainmenu div.hover ul {list-style:none;padding:0;margin:0;margin-top:10px;margin-bottom:8px;}
#mainmenu div.hover ul li {padding:2px 0;}
#mainmenu div.hover ul li a {color:#222;text-decoration:underline;font-size:14px;}
#mainmenu div.hover ul li a:hover {color:#222;text-decoration:none;}
#mainmenu span.dropdown {background:url(http://i.stranamam.ru/i/ddr.gif) no-repeat 100% 9px;padding-right:15px;font-family:"Trebuchet MS", Verdana, Arial; font-size:17px;color:#da0805}

#ddsprav { box-shadow:0 0 4px rgba(0, 0, 0, 0.2); }
#ddsprav > div { line-height:24px; padding:7px 15px 0 0; }
#ddsprav b { display:block; padding:14px 0 2px; color:green; }
#ddsprav a { color:#0E8BDF; font-size:15px; }
#mainmenu #ddsprav a:hover { color:#ff0036; text-decoration:none; }
#mainmenu #ddsprav ul { margin:0 0 0 7px; }
#mainmenu div.hover ul li a { font-size:15px; }
#mainmenu td { padding-left:32px; }

.justtext {max-width:800px;padding-right:20px;}

#all {margin-top:18px;}
#main-b {float:right; margin-left:-510px; width:100%;}
#main {margin-left:270px;  }
#left-b  {float:left;width:250px;}
.leftblock {padding-left:16px;float:left;clear:both;width:100%}
.lb-top {float:left; background:url(http://i.stranamam.ru/i/left-bg.gif) #f7f7f7 no-repeat left top; width:243px; }
.lb-bottom {float:left; background:url(http://i.stranamam.ru/i/left-bottom.gif) no-repeat left bottom; width:243px;}
.lb-inner {float:left;padding:12px 10px 20px 17px;}
.lb-bottom h2 {margin-bottom:20px;}

#newfooter {background:url(http://i.stranamam.ru/i/footer.png) #7aa7cc repeat-x 0 0;height:194px;margin-top:70px;color:#CdEaFf;font-size:13px;overflow:hidden;}
#newfooter a {color:#CdEaFf;}
#newfooter a:hover {color:#fff;}
.fbold, a.fbold {color:#fff !important;font-family:'Trebuchet MS',Arial;font-weight:bold;}
a.fbold:hover {text-decoration:none;}
ul.foothot small {background:url(http://i.stranamam.ru/i/footdisc.gif) no-repeat scroll 2px 2px;padding-left:14px;color:white;}
ul.foothot {list-style:none;margin:0;padding:0;}
ul.foothot li {padding-bottom:5px;}
a.bhelp {background:url(http://i.stranamam.ru/i/bhelp.gif) no-repeat 0 2px;padding-left:20px;}
a.bref {background:url(http://i.stranamam.ru/i/bref2.gif) no-repeat 0 2px;padding-left:19px;}
div.foot18 {line-height:18px;padding-top:14px;padding-left:8px;}
#newfooter div {text-align:left;}
#newfooter td {text-align:left;}

.toplogin1 {background:#60C812;width:243px;border:1px solid #7cb736;border-left:0;border-bottom:1px solid #5ca716;color:white;font-family:"Trebuchet MS",Arial;}
.toplogin1 div {padding:7px 0px 8px 15px;}
.toplogin1 a {color:white;font-size:15px;}
.toplogin1 a:hover {text-decoration:none;}

.toplogin2 {background:#d1fd92;width:243px;border:1px solid #bcb;border-left:0;border-top:0;}
.toplogin2 .tl-caption {padding-top:3px;padding-bottom:2px;font-family:'Trebuchet MS', Verdana, Arial;color:#444;padding-right:4px;}
.toplogin2 input.txt {font-size:13px;width:205px;border:1px solid #bcb;padding:3px 4px;background:transparent;}
.toplogin2 input.txt:focus {outline:none;border:1px solid #999;background:white;}
#login_back_id, #pwd_back_id {width:205px;border:1px solid #fff;padding:3px 4px 3px;background:white;color:#bbb;font-size:13px;}

.toplogin3 {background:#fff8d5;width:243px;border:1px solid #bcb;border-left:0;border-top:0;}
.toplogin3 .tl-caption {padding:0 0 6px 2px;font-family:"Trebuchet MS", Verdana, Arial;color:#444;}


.small-enter a {background:url(http://i.stranamam.ru/i/social/smallenter.png) no-repeat;display:block;height:22px;width:70px;color:black;text-decoration:none;font-family:Arial,sans-serif;font-size:12px;text-shadow:1px 1px 0 white;}
.small-enter a.se-mailru {background-position:0 0px;}
.small-enter a.se-yandex {background-position:0 -28px;}
.small-enter a.se-gmail {background-position:0 -56px;}
.small-enter a.se-mailru:hover {background-position:-70px 0px;}
.small-enter a.se-yandex:hover {background-position:-70px -28px;}
.small-enter a.se-gmail:hover {background-position:-70px -56px;}
.small-enter a span {display:block;padding-left:24px;padding-top:4px;}
.small-enter a.se-yandex span {padding-left:23px;}
.newbtn90 {background:#88d152 url(http://i.stranamam.ru/i/newbtn90.png) no-repeat 0 -2px;display:block;height:32px;width:90px;	text-decoration:none;font-family:"Trebuchet MS",Verdana,Arial;	cursor:pointer;font-size:16px;border:0;text-shadow:1px 1px 0px #68b132;color:white;padding:0;	}
.newbtn90:hover {background-position:0 -37px;}




#whats {margin-top:5px;}
#whats a {font-size:19px;text-decoration:none;border-bottom:1px dashed;letter-spacing:0.4px;color:#ee0400;float:left;}


#usermenu1 {float:left; background:url(http://i.stranamam.ru/i/left-bg.gif) #f7f7f7 no-repeat left top; width:243px;border-bottom:1px solid #e1e0dd;}
#usermenu1 .inner {padding-left:15px;margin-top:18px;margin-bottom:15px;float:left;}
#usermenu1 .inner2 {width:210px;}
#usermenu1 .fr32gray {margin-right:10px;}
#usermenu1 a.username {text-decoration:none;font-size:15px;}
#usermenu1 a.black {font-size:13px;line-height:22px;text-decoration:none;}
#usermenu1 a.black span {text-decoration:underline;}

#userregion {background:#f4ffd7;float:left;width:242px;border-right:1px solid #e1e0dd;border-bottom:1px solid #e1e0dd;}
#userregion .inner {float:left;padding:4px 10px 6px 13px;}
#userregion em {font-size:12px;font-style:normal;line-height:19px;}
#userregion a {padding-left:22px;font-size:14px;}

#newdirect {background:#e4f5ff url(http://i.stranamam.ru/i/direct.gif) no-repeat 10px 5px;float:left;width:242px;border-right:1px solid #e1e0dd;border-bottom:1px solid #e1e0dd;}
#newdirect .inner {float:left;padding:6px 10px 7px 38px;font-size:13px;}
#newdirect a {font-size:12px;font-weight:bold;}

#usercon {background:#FFFEE0;float:left;width:242px;border-right:1px solid #e1e0dd;border-bottom:1px solid #e1e0dd;}
#usercon .inner {float:left;padding:4px 10px 6px 10px;font-size:12px;}

#useractivate {background:#ffddde;float:left;width:242px;border-right:1px solid #e1e0dd;border-bottom:1px solid #e1e0dd;}
#useractivate .inner {float:left;padding:4px 10px 6px 30px;font-size:12px;background:url(http://i.stranamam.ru/i/exclamation.gif) no-repeat 11px 4px;}

#usermessage {background:#edf6ff;float:left;width:242px;border-right:1px solid #e1e0dd;border-bottom:1px solid #e1e0dd;}
#usermessage .inner {float:left;padding:7px 10px 8px 32px;font-size:12px;background:url(http://i.stranamam.ru/i/usermessage.gif) no-repeat 11px 6px;}

#umenu_material {padding:5px 0 5px 15px;}
#umenu_material .cross {padding-left:25px;}
#umenu_material .em {text-decoration:none}
#umenu_material a.em span {border-bottom:1px dashed #222;}
#umenu_material a.em:hover span {border-bottom:1px dashed #ff0036;}
#umenu2 #umenu_material ul {margin:8px 0 5px 25px;}
#umenu2 #umenu_material ul li a {font-size:13px;}

#umenu2 {background:#f7f7f7;width:242px;border-right:1px solid #ccc;float:left;}
#umenu2 ul {margin-left:15px;margin-top:10px;list-style:none}
#umenu2 li {line-height:17px;}
#umenu2 a:hover {color:#ff0036;}
#umenu2 a {color:#222;}
#umenu2 li.newmessages a {text-decoration:none;}
#umenu2 li.newmessages a span {text-decoration:underline;}
#umenu2 li.newmessages a:hover {text-decoration:none;}
#umenu2 li.newmessages a:hover span {text-decoration:underline;}
#umenu2 li a small {font-style:italic;color:red;vertical-align:top;}
#umenu2 li a:hover small {text-decoration:none;}

#usermenu3 {float:left; background:url(http://i.stranamam.ru/i/umenubot.gif) #f7f7f7 no-repeat left bottom; width:243px;clear:both}
#usermenu3 .inner {padding-left:15px;margin-top:12px;padding-bottom:12px;float:left;font-size:12px;clear:both}
#usermenu3 a {color:#444;}
#usermenu3 a:hover {color:#ff0036;}

.leftmenu {margin-top:33px;margin-bottom:35px;}
.leftmenu a {font-size:15px;line-height:20px;color:#222}

.fnews {max-width:700px;}
.fnews .date {float:right;font-size:12px;color:#444;}
.fn-day {margin-top:15px;background:#E5F1FF;padding:4px 10px;border-bottom:1px solid #c5d1df}
.fn-item {padding:10px 0 14px 26px;border-top:1px solid #ddd;margin-right:15px;margin-left:5px;}
.fn-status {background:url(http://i.stranamam.ru/i/tip-green.gif) no-repeat 7px 13px;}
.fn-friend {background:url(http://i.stranamam.ru/i/girl17.gif) no-repeat 5px 11px;}
.fn-photo {background:url(http://i.stranamam.ru/i/fn-pictures.gif) no-repeat 5px 11px;}
.fn-post {background:url(http://i.stranamam.ru/i/doc.gif) no-repeat 5px 10px;}
.fn-kidblogm {background:url(http://i.stranamam.ru/i/kidm.gif) no-repeat 3px 10px;}
.fn-kidblogf {background:url(http://i.stranamam.ru/i/kidf.gif) no-repeat 3px 9px;}
.fn-community {background:url(http://i.stranamam.ru/i/community.gif) no-repeat 5px 11px;}


.discuss {margin-bottom:35px;float:left;clear:both;}
.discuss a {font-size:13px;line-height:13px;}
.discuss .item {margin-bottom:7px;}
.discuss small {padding-left:14px;background:url(http://i.stranamam.ru/i/disc.gif) no-repeat 2px 2px;}

.more_more {padding:7px 0px 3px;float:left;}
.more_more a {display:block;font-family:Verdana;font-size:12px;line-height:16px;color:#444;text-decoration:underline;float:left;margin-right:19px;}
.more_more a:hover {text-decoration:none;}
.more_photo {background:url(http://i.stranamam.ru/i/more_photo2.gif) no-repeat 0px 3px;padding-left:25px;}
.more_video {background:url(http://i.stranamam.ru/i/more_video2.gif) no-repeat 2px 0px;padding-left:23px;}


.ss_div {width:550px;max-height:300px;overflow:auto;}

.lenta-comments .head {margin-bottom:10px;background:#f7f7f7;border:1px solid #ccc;padding:3px 10px;}
.lenta-comments .head,
.lenta-comments .head a {font-size:11px;}
.lenta-comments .fr48 {margin-right:10px;}
.lenta-comments .ava img {padding:3px;border:1px solid #ccc;}
.lenta-comments .subitem {padding:0px 10px 22px;}
.commenttext {font-family:"Times New Roman";font-size:16px;padding-bottom:4px;}


.lefttags .lb-bottom {padding:8px 10px 15px 16px}
.lefttags h2 {margin-bottom:5px;}
.tags_cloud {clear:both;}
.tags_cloud a {margin-right:5px;white-space: nowrap;text-decoration:underline;}
.tags_cloud .g1 {font-size:11px;}
.tags_cloud .g2 {font-size:14px;}
.tags_cloud .g3 {font-size:16px;}
.tags_cloud .g4 {font-size:18px;}
.tags_cloud .g5 {font-size:20px;}
.tags_cloud .g6 {font-size:22px;}
.tags {clear:both;margin:10px 0 5px;}
.tags , .tags a {font-size:12px;}

.lefticons {margin-top:55px;padding-left:20px;}
.lefticons a {color:#222;font-family:Verdana,Arial;font-size:13px;line-height:24px;float:left;clear:both;padding-left:29px;}
.lefticons a:hover {text-decoration:none;color:#222}
.i-feedback {background:url(http://i.stranamam.ru/i/icons.png) no-repeat 0px 2px;}
.i-rss {background:url(http://i.stranamam.ru/i/icons.png) no-repeat 1px -31px;}
.i-send {background:url(http://i.stranamam.ru/i/icons.png) no-repeat 1px -59px;}

.usertext {font-family:"Times New Roman";font-size:16px;}
.usertext ul,
.usertext ol  {clear:both;margin-left:40px;}
.usertext img {float:left;margin-right:10px;margin-bottom:3px;max-width:570px;}
.usertext .smile {float:none;margin:0;}
.thickbox img{padding:4px;background:#fff;border:1px solid #ddd;}
.justbox img{padding:4px;background:#fff;border:1px solid #ddd;}
.size7 {font-size:11px;color:#888;font-family:Arial;}
.size9 {font-size:13px;}
.size12 {font-size:16px;}
.size18 {font-size:20px;}
.size24 {font-size:24px;}

.rm-table .left {vertical-align:top;width:42px;padding-right:0 !important;padding-bottom:0; border-bottom:0;padding-top:0px;}
.rm-table td.last {border-bottom:0;}
.rm-table td {vertical-align:top;padding-top:4px;border-bottom:1px dashed #E0E0E0;}
.rmenu {padding-left:10px;padding-right:15px;}
.rmenu a {font-size:13px;}
.rmenu a.active {color:black}
.rmenu ul {list-style:none;margin:8px 0px 8px 2px;}
.rmenu ul li {padding-bottom:6px;}
.rmenu ul a {color:#444;font-size:12px;}

.rm2-table .left {vertical-align:top;width:42px;padding-right:0 !important;padding-bottom:0; border-bottom:0;padding-top:0px;}
.rm2-table td.last {border-bottom:0;}
.rm2-table td {vertical-align:top;padding-top:2px;}
.rmenu2 {padding-left:10px;padding-right:15px;}
.rmenu2 a {font-size:13px;xcolor:#107d00}
.rmenu2 a.active {color:black}
.rmenu2 ul {list-style:none;margin:8px 0px 8px 0px;}
.rmenu2 ul li {padding-bottom:2px;padding-left:8px}
.rmenu2 ul li.active {background:url(http://i.stranamam.ru/i/triblack.gif) no-repeat 0px 5px;}
.rmenu2 ul a {color:#444;font-size:12px;}
.rmenu2 ul li.active a {color:#000;}


.content {width:100%;}
.content td.left {padding-right:20px;}
.content td.left h1 {padding-left:3px;}
.content td.right {width:214px;}

h2.label {color:#fff;font-family:"Trebuchet MS",Verdana,Arial;font-size:17px;font-style:normal;height:43px;width:207px;}
h2.label span {float:left;margin-left:15px;margin-top:8px;}
h2.label-violet {background:url(http://i.stranamam.ru/i/labels.png) #f01886 no-repeat 0px 0px;}
h2.label-blue {background:url(http://i.stranamam.ru/i/labels.png) #4187de no-repeat 0px -48px;}
h2.label-green {background:url(http://i.stranamam.ru/i/labels.png) #06af17 no-repeat 0px -96px;}


#r-contests .item {width:207px;text-align:center;margin-bottom:20px;}
#r-contests .item div {text-align:left;background:#f1f1f1;padding:5px 7px 5px 8px;border:1px solid #ddd;margin:6px 2px 0px 3px;font-size:12px;border-left:5px solid #f5369a;}
#r-contests .item div a{color:#222;text-decoration:none;}
#r-contests .item div a:hover{color:#ef1081;text-decoration:underline;}

#r-albums .item {text-align:center;margin-bottom:20px;width:207px;}
#r-albums .item div {padding-top:3px;}
#r-albums .item div a {font-size:12px;}
.your-photos {clear:both;padding-left:21px;}

.testquest .vopros {float:left;font-size:18px;height:30px;padding-top:6px;}
.testquest .bignum {float:left;font-size:24px;height:30px;padding:0px 5px;}
.testquest .smallnum {float:left;font-size:15px;height:30px;padding-top:8px;}
.testquest .progress {float:left;margin-left:20px;padding-top:5px;}

.testquest table {margin-bottom:10px;margin-left:5px;}
.testquest td.left {padding-top:3px;width:30px;}
.testquest td {padding-bottom:10px;}


.sort_block {margin-top:7px;margin-bottom:10px; font-size:12px;background:#fffbf2;padding:4px 10px 4px 8px;float:left;clear:both;border:1px solid #ddd;}
.sort_block span {color:#707070;font-family:Georgia,"Times New Roman";}
.sort_block a, .sort_block b {font-size:12px;}

ul.tags_list {margin:10px 0 0 4px;padding:0;list-style:none}
ul.tags_list li {padding:0 0 4px 14px;background:url(http://i.stranamam.ru/i/tri.gif) no-repeat 4px 5px;}
ul.tags_list li.active a {color:#000;text-decoration:none;}

.last-comments {padding-right:0px;}
.last-comments {font-size:11px;}
.last-comments a {font-size:11px;}
.last-comments .item {padding:1px 0px;}
.last-comments .girl,.last-comments .boy,.last-comments .winner, .last-comments .sharik {padding-left:20px;line-height:19px;}
.last-comments .winner {background-position:0px 0px;}

a.spamreport {float:left;background:url(http://i.stranamam.ru/i/spam.jpg) no-repeat 0px 1px;font-size:17px;padding-left:36px;padding-bottom:2px;color:#e2001e;}
a.spamreport:hover {text-decoration:none}

ul.right-sort {margin:2px 0 0 9px;padding:0;list-style:none}
ul.right-sort li {padding:0 0 2px 0;font-size:13px;}

ul.blog-block {margin:2px 0 0 4px;padding:0;list-style:none}
ul.blog-block li {padding:0 0 2px 0;font-size:13px;}

ol.cities {margin:7px 0 0 27px;padding:0;}
ol.cities li {padding:0 0 2px 0;font-size:13px;}

.com-grid {width:100%;margin-left:5px;margin-right:-20px;}
.com-grid .item {float:left;height:160px;margin-bottom:20px;width:220px;margin-right:15px;}
.com-grid a.group {font-size:16px;}
.com-grid ul {list-style:none;margin-top:4px;margin-left:4px;}
.com-grid ul li {padding-left:14px;background:url(http://i.stranamam.ru/i/tri.gif) no-repeat 4px 5px;padding-bottom:1px;}

.com-grid2 {width:99%;margin-left:5px;margin-right:-20px;}
.com-grid2 a.more {color:#707070;font-size:13px;}
.com-grid2 .item {float:left;height:164px;margin-bottom:20px;width:275px;margin-right:20px;}
.com-grid2 a.group {font-size:16px;}
.com-grid2 ul {list-style:none;margin-top:4px;margin-left:4px;}
.com-grid2 ul li {padding-left:14px;background:url(http://i.stranamam.ru/i/tri.gif) no-repeat 4px 5px;padding-bottom:1px;}

.usergridx .item {float:left;text-align:center;width:106px;height:120px;overflow:hidden;margin:0px 2px 10px;font-size:11px;}
.usergridx .item48 {float:left;text-align:center;width:88px;height:104px;overflow:hidden;margin:0px 2px 10px;font-size:11px;}
.usergridx .fr64 {margin-left:12px;margin-bottom:2px;}
.usergridx .fr48 {margin-left:11px;margin-bottom:2px;}
.usergridx a {text-decoration:none;}
.usergridx span {text-decoration:underline;}
.usergridx .tip {margin-left:2px;}

a.none {text-decoration:none;}
a.none span {text-decoration:underline;}
a.none .tip {margin-left:4px;}


#index-bottom {max-width:745px;margin-right:20px;margin-top:70px;margin-bottom:30px;}

.index-rating {width:100%;max-width:745px;}
.index-rating td {padding-right:15px;}

.photo-comments {padding-top:10px;}
.photo-comments img {padding:1px;border:1px solid #ccc;}
.photo-comments td {padding-bottom:8px;}
.photo-comments td em {font-size:12px;}
.photo-comments a {font-size:13px;}

.photo-best {padding-top:10px;}
.photo-best img {padding:1px;border:1px solid #ccc;}
.photo-best td {padding-bottom:8px;font-size:12px;}
.photo-best a {font-size:12px;}


#csml {position:absolute;margin-top:5px;cursor:pointer;}
#smiles-popup {position:absolute;margin-top:-5px;padding:5px 0;border:1px solid #aaa;margin-left:-455px;background:#fffcea;width:453px;}
#smiles-popup .bbsmiles {padding-left:10px;}

#cform_ss {padding-top:5px;font-size:13px;padding-left:2px;}

#comments_tree {padding-right:15px;overflow:hidden;}
#comments_tree img {max-width:570px;}
#comments_tree .item {margin-top:0;margin-bottom:0;border:0;padding:0px;background:white;padding-top:10px;}
#comments_tree .item2 {padding-left:5px;border-left:1px #ccc dashed;margin-left:20px;border-right:0px;}
#comments_tree a.cau { float:left;font-size:12px;padding-top:3px;background-position:1px 3px; }
#comments_tree span.cauap { float:left;margin-left:5px;font-size: 11px; padding-top: 4px;color: #0E8BDF; }


.deep-comment {background:#fafafa;border:1px solid #ccc;padding:5px;font-size:12px;font-family:Tahoma,Arial;line-height:14px;margin-bottom:4px;}
.deep-comment a {color:#222;text-decoration:none;border-bottom:1px dashed #222;padding-left:1px;}
.deep-comment span {font-size:14px;font-family:Times New Roman;padding-right:1px;}



table.calmonth th {background:#ddd;color:#222;font-weight:bold;font-size:12px;padding:3px;border-bottom:3px solid white;}
table.calmonth_current th {background:#0E8BDF !important;color:white !important;}
table.calmonth td {padding:3px;text-align:center;border-bottom:1px solid white;border-right:1px solid white;}
.wday-red {background:#ff3e3e;color:white;}
.wday-default {background:#fffdc5;}
.wday-ov1 {background:#c4afff;}
.wday-ov2 {background:#8f68ff;color:white;}
.wday-green {background:#c8ffa6;}
.wday-pms {background:#b3ff50;}


#fixedbar {
background:url(http://i.stranamam.ru/i/fx.gif) no-repeat 0 55px;
position:fixed;
right:0;
top:40%;
width:37px;
font-size:12px;
}

#fx_battery {height:55px;background:url(http://i.stranamam.ru/i/batteryright.gif) no-repeat 7px 0px;padding-left:2px;}
#fx_battery2 {padding-top:22px;text-align:center;color:black;}

#fixedbar #fx_up {
display:block;
height:25px;
}

#fixedbar #fx_down {
background:url(http://i.stranamam.ru/i/fx_down.gif) no-repeat 0 0;
display:block;
height:25px;
}


#fixedbar #fx_refresh {
display:block;
height:38px;
}

#fixedbar #nncom {
background:url(http://i.stranamam.ru/i/fx_com.gif) no-repeat 0 0;
display:block;
padding-left:5px;
padding-top:22px;
padding-bottom:3px;
text-align:center;
text-decoration:none;
color:#0E8BDF;
}
#fixedbar a:hover {color:#0E8BDF;}


#popup_complain {width:412px;margin-left:-206px;}
#complain_text {width:380px;margin-top:7px;height:70px;}

.cmsctrl {margin-top:3px;clear:both}
.cmsctrl a {color:#777;font-size:11px;}
.cmsctrl a:hover {color:#222;}
#comments_block .avatarsmall img {border:2px solid #ddd;margin-right:5px;float:left;}
#comments_block small br {font-size:8px;}
.newcom {background:url(http://i.stranamam.ru/i/nbg.gif) #e5f1ff repeat-y 0px 0px;padding:5px 0;}
.newcom  .cmsctrl a {color:#557;}
.newcom2 {background:url(http://i.stranamam.ru/i/nbg5.gif) #f4fcf1 repeat-y 0px 0px;padding:5px 0;}
.newcom2  .cmsctrl a {color:#557;}
.oddcom {background:url(http://i.stranamam.ru/i/oddbg.gif) #fff5ce repeat-y 0px 0px;padding:5px 0;}
.commenttext2 {
	font-family:"Times New Roman";
	font-size:17px;
	line-height:20px;
	padding:3px 5px 2px 0;
}
.commenttext2 .bb_quote
{
	float:none;
	font-size:12px;
	line-height:16px;
}
.commenttext2 .bb_quote_author
{
	font-size:12px;
}
.comment-form textarea {height:80px;margin:5px 0pt;width:100%;}

a.answer-on {
float:left;
background:#F5F5F5 none repeat scroll 0 0;
border:1px solid #CCCCCC;
margin-right:7px;
padding:0 3px 1px;
font-size:10px;
text-decoration:none;
color:#222;
}
a.answer-on span {float:left;}
a.answer-on:hover {background:#7AB7E7;color:white;border:1px solid #779AB6;}

#quote_comment {background:#FFF1CA;border:1px solid #CCCCCC;padding:10px 10px 12px 52px;position:absolute;float:left;}
#quote_comment .rdquo {position:absolute;font-size:96px;color:#dfc471;margin-left:-49px;margin-top:-15px;font-family:Georgia;}
#quote_comment .qclose {text-align:right;padding-top:10px;padding-right:2px;}
#quote_comment a {color:black;}
#quote_comment a:hover {color:black;text-decoration:none}
#quote_comment .qclose a {font-size:12px;color:#555;}

.bb_quote {
		margin-top:3px;
		background:url(http://i.stranamam.ru/i/quotes.gif) #fafafa no-repeat 6px 5px;
		border:1px solid #ccc;
		padding:5px 20px 8px 36px;
		font-size:13px;
		font-family:Verdana;
		margin-bottom:5px;
		}
.bb_quote_author {font-family:Verdana;font-size:14px;font-weight:bold;color:black;}


.bbmoderator
{
	margin-top:3px;
	margin-bottom:5px;
	background:url(http://i.stranamam.ru/i/bbmoder.gif) #F4FFD7 no-repeat 7px 7px;
	border:1px solid #d4dFb7;
	padding:3px 10px 7px 50px;
	font-size:13px;
	font-family:Verdana;
}

.docinfo2 {
background:url(http://i.stranamam.ru/i/fr.gif) no-repeat 100% 50%;
clear:both;
float:left;
font-size:12px;
margin:5px 0 22px;
}

.docinfo2 .row{
padding:18px 5px 0px 10px;
float:left;
}

.docinfo2 .views, .docinfo2 .favs {margin-right:0;}
.docinfo2 .ras1 {border-left:1px solid #dfdfdf;padding-right:8px;}
.docinfo2 .ras2 {border-left:1px solid #dfdfdf;padding-right:7px;margin-left:3px;}

.contacts td.left {text-align:center;vertical-align:middle;}
.contacts td.left label {padding:10px 5px 15px;}
.messages img.icon {margin-top:2px;margin-right:8px;float:left}
.messages img.icon_open {margin-right:8px;float:left}
.messages .item {padding-bottom:5px;padding-top:5px;}

.qa-main .title a {font-size:18px;}
.qa-main .title {padding-bottom:5px;}
.qa-main p {font-style:italic;}
.qa-info {padding:12px 0 8px;}
.qa-bottom {padding:2px 0 8px;}
.qa-control {padding:2px 0 8px;}
a.qa-ask {color:#1f43ad;padding-left:20px;background:url(http://i.stranamam.ru/i/ask.gif) no-repeat 0px 1px;font-size:15px;}
a.qa-read {color:#0a6e0c;padding-left:20px;background:url(http://i.stranamam.ru/i/reports.gif) no-repeat 0px 1px;font-size:15px;}
a.qa-ask:hover, a.qa-read:hover {text-decoration:none}

.postlist {margin-left:3px;}
.postlist .item {clear:both;margin-bottom:40px;float:left;width:100%}
.postlist .title {color:#707070}
.postlist .red {font-size:18px;margin-right:3px;}
.postlist .item p,
.postlist .item div.p {margin-top:7px;font-family:Verdana,Arial;line-height:19px;}
.postlist .item p img,
.postlist .item div.p img {float:left;margin-right:10px;margin-bottom:4px;max-width:100%;}
.postlist .usertext {font-family:Verdana,Arial;line-height:19px;font-size:14px;}
.postlist .item .usertext .smile {float:none;margin:0;}

div.info {float:left;}
.info {background:url(http://i.stranamam.ru/i/listinfo.gif) no-repeat 0px 1px;height:28px;margin-top:9px;clear:both;}
.info td {vertical-align:middle;font-size:13px;}
.info td.l {vertical-align:top;padding-top:6px;padding-left:10px;padding-right:12px;}
.info td.r {vertical-align:bottom;padding-bottom:3px;padding-right:8px;background:url(http://i.stranamam.ru/i/listinfo-r.gif) no-repeat 100% 1px;font-weight:bold;}
.info strong {color:#00ac1c;font-family:Arial;font-size:15px;font-weight:bold;}
.info td.date {padding:8px 15px 0 9px;color:#333;font-size:11px;vertical-align:top;}
.info .favs,.docinfo2 .favs  {color:#222;font-weight:normal;text-decoration:none;font-size:12px;}
.info .views {font-size:12px;}
.info .cms {font-size:12px;}
.info .red {font-size:13px;}
.info a.favs:hover {color:#222}
.info a.cms:hover {color:#1e8bdf;}

.new {color:#11AA22;}

a.more {text-decoration:none;font-size:15px;}
a.more span {text-decoration:underline;font-size:14px;margin-right:3px;}

a.next {text-decoration:none;font-size:17px;}
a.next span {text-decoration:underline;font-size:14px;margin-right:3px;}
a.prev {text-decoration:none;font-size:17px;}
a.prev span {text-decoration:underline;font-size:14px;margin-left:3px;}

span.tipgirl  {color:#ff52b4;font-size:14px;}
span.tipboy   {color:#4e91f4;font-size:14px;}

a.kidicon-m{color:#4e91f4;background:url(http://i.stranamam.ru/i/kidm.gif) no-repeat 0px 1px;padding-left:22px;}
a.kidicon-f{color:#ff52b4;background:url(http://i.stranamam.ru/i/kidf.gif) no-repeat 0px 0px;padding-left:22px;}

#profiletip div.kidicon-m {background:url(http://i.stranamam.ru/i/kidm.gif) no-repeat 0px 1px;padding:3px 0 2px 24px;margin-bottom:2px;}
#profiletip div.kidicon-f {background:url(http://i.stranamam.ru/i/kidf.gif) no-repeat 0px 1px;padding:3px 0 2px 24px;margin-bottom:2px;}


a.kidgirl,span.kidgirl  {color:#ff52b4;font-size:16px;}
a.kidboy ,span.kidboy   {color:#4e91f4;font-size:16px;}
h1.kidgirl  {color:#ff52b4;}
h1.kidboy   {color:#4e91f4;}
.kid-age {padding:3px 0px 5px;font-size:13px;}
.plan {color:#227722;font-size:15px;}
.wait {color:#DC0905;font-size:15px;}

.wait-big-weeks {width:182px;height:25px;text-align:center;position:absolute;line-height:24px;}
.wait-big-weeks a {color:#222;}
.wait-big-weeks a.plan {color:#227722;font-size:12px;}
.wait-big-weeks a:hover {text-decoration:none}
.wait-big-white {width:182px;height:25px;background:url(http://i.stranamam.ru/i/wait-big-white.gif) no-repeat 0px 0px;}
.wait-big {height:25px;background:url(http://i.stranamam.ru/i/wait-big.jpg) no-repeat 3px 3px;}

.waitsm-t {width:102px;height:15px;text-align:center;position:absolute;line-height:13px;font-size:11px;margin:4px 0 2px;}
.waitsm-wh {width:102px;height:15px;background:url(http://i.stranamam.ru/i/waitsm.gif) no-repeat 0px 0px;margin:4px 0 2px;}
.waitsm0 {height:15px;background:url(http://i.stranamam.ru/i/waitsm.gif) no-repeat 0px -45px;}
.waitsm1 {height:15px;background:url(http://i.stranamam.ru/i/waitsm.gif) no-repeat 0px -15px;}
.waitsm2 {height:15px;background:url(http://i.stranamam.ru/i/waitsm.gif) no-repeat 0px -30px;}
.waitsm-g {width:102px;height:15px;background:url(http://i.stranamam.ru/i/waitsm.gif) no-repeat 0px -60px;margin:4px 0 2px;}

.writednev {padding:13px 0 5px 15px;background:url(http://i.stranamam.ru/i/dnevnik.gif) no-repeat 10px 10px;}
#umenu2 .writednev a {font-size:17px;color:#0E8BDF;padding-left:27px;}
#umenu2 .writednev a:hover {color:#ff0036}

.community, .girl, .boy {padding-left:22px;}
.community {background:url(http://i.stranamam.ru/i/community.gif) no-repeat 2px 0px; }
.girl {background:url(http://i.stranamam.ru/i/girl17.gif) no-repeat 2px 0px;}
.boy {background:url(http://i.stranamam.ru/i/boy17.gif) no-repeat 2px 0px;}
.book {background:url(http://i.stranamam.ru/i/book.gif) no-repeat 2px 0px; padding-left:22px;}

a.cross, span.invisible, a.lock {line-height:20px;padding-left:22px;}
a.cross {background:url(http://i.stranamam.ru/i/cross.gif) no-repeat 0px 2px;}
a.cross,a.lock {color:#222;font-size:15px;font-family:"Trebuchet MS",Verdana,Arial;}
a.cross:hover, a.lock:hover {color:#222;text-decoration:none}
a.lock {background:url(http://i.stranamam.ru/i/lock.gif) no-repeat 0px 3px;}

.cms, .views, .favs {line-height:20px;margin-right:8px;padding-bottom:2px;padding-left:20px;}
.views {background:url(http://i.stranamam.ru/i/views.gif) no-repeat 0 0;}
a.favs, .favs {background:url(http://i.stranamam.ru/i/heart.gif) no-repeat 0 0;font-weight:bold;text-decoration:none;}
.cms {background:url(http://i.stranamam.ru/i/mail.gif) no-repeat 0 0;text-decoration:none;}
a.cms .new {color:#69B400 !important;text-decoration:none;font-size:9px;vertical-align:super;}


a.dtri {background:url(http://i.stranamam.ru/i/dtri.gif) no-repeat 0px -38px;padding:0 0 0 14px !important;}
a.dtri:hover {color:#0E8BDF;text-decoration:none}
a.utri {background:url(http://i.stranamam.ru/i/dtri.gif) no-repeat 0px 6px;padding:0 0 0 14px !important;}
a.utri:hover {color:#0E8BDF;text-decoration:none}

a.edit, a.guestbook,a.delete ,a.tomail, a.tomail2 ,.tofriend ,a.togroup ,a.fromgroup ,.newdoc ,a.settings,a.delfriend,
a.pin,
a.help,
a.hide,
a.cross,
.rotate-cw,
.rotate-ccw,
span.invisible {line-height:20px;padding-left:20px;}
a.like, a.notlike,.like2, .notlike2  {padding-left:30px;font-size:16px;text-decoration:none;float:left;clear:both;padding-top:4px;padding-bottom:4px;margin-bottom:5px;}
.iconphoto {line-height:20px;padding-left:23px;}
.refresh,.refresh2 {line-height:20px;padding-left:20px;}

.bboard {padding-left:20px;background:url(http://i.stranamam.ru/i/bboard.gif) no-repeat 0px 1px;}

.sharik {line-height:20px;padding-left:18px;}
.sharikgrid,
.sharik1,.sharik2,.sharik3,.sharik4,.sharik5,.sharik6 {padding-left:16px;}
.bsharik1,.bsharik2,.bsharik3,.bsharik4,.bsharik5,.bsharik6 {padding-left:16px;}

.ktable {margin:0px auto;}
.ktable td {vertical-align:middle;}

a.klike, a.knotlike,.klike2, .knotlike2  {text-decoration:none;}
a.klike img, a.knotlike img,.klike2 img, .knotlike2  img {border:0 !important;}
.ired,
.igreen {padding-left:16px;}

a.like {background:url(http://i.stranamam.ru/i/plus32.gif) no-repeat 0px 0px;}
a.notlike {background:url(http://i.stranamam.ru/i/minus32.gif) no-repeat 0px 0px;}
.like2 {background:url(http://i.stranamam.ru/i/plus32g.gif) no-repeat 0px 0px;}
.notlike2 {background:url(http://i.stranamam.ru/i/minus32g.gif) no-repeat 0px 0px;}

.rotate-cw {background:url(http://i.stranamam.ru/i/cw.gif) no-repeat 0px 0px;}
.rotate-ccw {background:url(http://i.stranamam.ru/i/ccw.gif) no-repeat 0px 0px;}

a.battery-full,a.battery-zero,a.battery-one,a.battery-two,a.battery-empty {text-decoration:none;padding-left:36px;font-size:14px;}
a.battery-full  {background:url(http://i.stranamam.ru/i/battery-full.gif) no-repeat 0px 1px;color:#21810f;}
a.battery-zero {background:url(http://i.stranamam.ru/i/battery-zero.gif) no-repeat 0px 1px;color:#21810f;}
a.battery-one {background:url(http://i.stranamam.ru/i/battery-one.gif) no-repeat 0px 1px;color:#21810f;}
a.battery-two {background:url(http://i.stranamam.ru/i/battery-two.gif) no-repeat 0px 1px;color:#21810f;}
a.battery-empty {background:url(http://i.stranamam.ru/i/battery-empty.gif) no-repeat 0px 1px;color:#555;}


.bug {background:url(http://i.stranamam.ru/i/bug.gif) no-repeat 0px 0px;padding-left:19px;}
a.cmsplus {background:url(http://i.stranamam.ru/i/cmsplus.gif) no-repeat 0px 0px;padding-left:19px;}
a.cmsminus {background:url(http://i.stranamam.ru/i/cmsminus.gif) no-repeat 0px 0px;padding-left:19px;}

.card-yellow, a.setcard {background:url(http://i.stranamam.ru/i/card-yellow.gif) no-repeat 1px 0px;padding-left:17px;}
.card-red {background:url(http://i.stranamam.ru/i/card-red.gif) no-repeat 1px 0px;padding-left:17px;}
.card-black {background:url(http://i.stranamam.ru/i/card-black.gif) no-repeat 1px 0px;padding-left:17px;}

.smedit {background:url(http://i.stranamam.ru/i/smedit.gif) no-repeat 1px 4px;text-decoration:none;padding-left:10px;}
.smdelete {background:url(http://i.stranamam.ru/i/smcross2.gif) no-repeat 2px 5px;text-decoration:none;padding-left:10px;}
.smdelete:hover {background:url(http://i.stranamam.ru/i/smcross2.gif) no-repeat 2px -13px;text-decoration:none;padding-left:10px;}
.smstar {background:url(http://i.stranamam.ru/i/smstars2.gif) no-repeat 4px 4px;text-decoration:none;padding-left:10px;}
.smstar:hover,
.smstar_active {background:url(http://i.stranamam.ru/i/smstars2.gif) no-repeat 4px -11px;text-decoration:none;padding-left:10px;}

#mailformtop div.inner {background:#f5f5f5;border:1px solid #ccc;padding:5px 7px;float:left;color:#555;}
#mailformtop div.inner a {padding-left:20px;color:#000;font-size:13px;}
#mailformtop div.inner a:hover {text-decoration:none}

.frominet {background:url(http://i.stranamam.ru/i/inet.gif) no-repeat 0px 0px;padding-left:20px;}
.hidden {background:url(http://i.stranamam.ru/i/hidden.gif) no-repeat 0px 0px;padding-left:18px;}
.bestlock {background:url(http://i.stranamam.ru/i/bestlock.gif) no-repeat 0px 0px;padding-left:18px;}
h1.hidden, h1.bestlock {background-position:0px 5px;}
h1.frominet {background-position:0px 6px;}
.title a.hidden, .title a.bestlock {background-position:0px 3px;}
.title a.frominet {background-position:0px 4px;}

a.edit {background:url(http://i.stranamam.ru/i/edit.gif) no-repeat 0px 0px;}
a.guestbook {background:url(http://i.stranamam.ru/i/guestbook.gif) no-repeat 0px 0px;}
a.delete {background:url(http://i.stranamam.ru/i/delete.gif) no-repeat 0px 0px;}
a.tomail {background:url(http://i.stranamam.ru/i/mail.gif) no-repeat 0px 0px;}
a.tomail2 {background:url(http://i.stranamam.ru/i/tomail.gif) no-repeat 0px 2px;}
.iconphoto {background:url(http://i.stranamam.ru/i/photo.gif) no-repeat 0px 1px;}
.refresh {background:url(http://i.stranamam.ru/i/refresh.gif) no-repeat 0px 0px;}
.refresh2 {background:url(http://i.stranamam.ru/i/refresh2.gif) no-repeat 0px 0px;}
.tofriend {background:url(http://i.stranamam.ru/i/friend.gif) no-repeat 0px 0px;}
a.delfriend {background:url(http://i.stranamam.ru/i/delete_friend.gif) no-repeat 0px 0px;}
a.togroup {background:url(http://i.stranamam.ru/i/add_group.gif) no-repeat 0px 0px;}
a.fromgroup {background:url(http://i.stranamam.ru/i/delete_group.gif) no-repeat 0px 1px;}
.newdoc {background:url(http://i.stranamam.ru/i/doc.gif) no-repeat 0px 0px;}
.pin {background:url(http://i.stranamam.ru/i/pin.gif) no-repeat 1px 1px;}
a.help {background:url(http://i.stranamam.ru/i/fav_help.gif) no-repeat 0px 0px;}
a.hide {background:url(http://i.stranamam.ru/i/hide.gif) no-repeat 0px 0px;}
a.settings {background:url(http://i.stranamam.ru/i/settings.gif) no-repeat 0px 0px;}
.winner {background:url(http://i.stranamam.ru/i/winner16.gif) no-repeat 0px 0px;}
.sharik {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 0px;}
.sharikgrid {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 0px;}
.sharik1 {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 0px;}
.sharik2 {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 0px;}
.sharik3 {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 0px;}
.sharik4 {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 1px;}
.sharik5 {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 7px;}
.sharik6 {background:url(http://i.stranamam.ru/i/sharik.gif) no-repeat 0px 8px;}
.bsharik1 {background:url(http://i.stranamam.ru/i/sharikblue.gif) no-repeat 0px 0px;}
.bsharik2 {background:url(http://i.stranamam.ru/i/sharikblue.gif) no-repeat 0px 0px;}
.bsharik3 {background:url(http://i.stranamam.ru/i/sharikblue.gif) no-repeat 0px 0px;}
.bsharik4 {background:url(http://i.stranamam.ru/i/sharikblue.gif) no-repeat 0px 1px;}
.bsharik5 {background:url(http://i.stranamam.ru/i/sharikblue.gif) no-repeat 0px 7px;}
.bsharik6 {background:url(http://i.stranamam.ru/i/sharikblue.gif) no-repeat 0px 8px;}
span.views {background:url(http://i.stranamam.ru/i/views.gif) no-repeat 0px 0px;}
span.invisible {background:url(http://i.stranamam.ru/i/invisible.gif) no-repeat 0px 1px;}
.ired {background:url(http://i.stranamam.ru/i/ired.gif) no-repeat 0px 2px;text-decoration:none;}
.igreen {background:url(http://i.stranamam.ru/i/igreen.gif) no-repeat 0px 2px;text-decoration:none;}

a.deletesmall {background:url(http://i.stranamam.ru/i/cross_small.gif) no-repeat 0px 0px;font-size:12px;padding-left:19px;}

a.newwindow {padding-left:22px;}
a.newwindow-red {padding-left:20px;}
a.newwindow {background:url(http://i.stranamam.ru/i/newwindow.gif) no-repeat 4px 4px;}
a.newwindow-red {background:url(http://i.stranamam.ru/i/newwindow-red.gif) no-repeat 0px 4px;}

.groupinfo {font-size:13px;margin-bottom:5px;margin-top:2px;}
.groupinfo span {padding-right:7px;padding-bottom:2px;}




.aftertabs {float:left;padding:5px 0px 1px;margin-left:5px;color:red;font-size:13px;}
.aftertabs a {color:red;}

.tabs {min-height:25px;-height:25px;}
.tabs a {float:left;background:#FFF6D7;border:1px solid #ccc;padding:3px 10px;margin-right:3px;margin-bottom:-1px;text-decoration:none;margin-top:2px;}
.tabs a:hover {background:#FFF9E7;}
.tabs a.active{background:white;color:black;border-bottom:1px solid white;padding-top:5px;margin-top:0;}
.tabs a.active:hover {background:white;}
.tabcontent {border:1px solid #ccc;padding:20px 10px 10px;clear:both;background:white}
.ajaxtabs a.active{padding-right:16px;padding-left:16px;}
.ajaxtabs a.active:hover{background:url(http://i.stranamam.ru/i/reload.gif) white no-repeat 100% 0% !important;padding-right:24px;padding-left:8px;}


.graymenu {height:30px;}
.graymenu a.tabb {float:left;background:#e5e5e5;border-right:1px solid #ccc;text-decoration:none;color:#222;padding:4px 15px;border-bottom:1px solid #ccc;}
.graymenu a.tabb:hover {background:#bbb;color:#fff;}
.graymenu a.active,.graymenu a.active:hover {background:#f5f5f5;border-bottom:0;color:#222;cursor:default;padding:4px 15px 5px;}
.graymenu a.close {float:right;padding:4px 15px;}



div.feedback-good {margin-top:5px;background:#F4FFD7;padding:10px;border:1px solid #D4DFB7;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
div.feedback-bad {margin-top:5px;background:#ffddde;padding:10px;border:1px solid #ddbbbc;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}

table.cataloglist .head td {padding:5px 0px;background:#f1f1f1;color:black;font-family:Georgia,"Times New Roman";font-size:16px;font-weight:normal;vertical-align:middle;text-align:center;border-bottom:1px solid #ccc;}
table.cataloglist .head td.left {padding-left:10px;text-align:left;}
table.cataloglist td.left {padding-left:8px;text-align:left;}
table.cataloglist td {padding:7px 0px 7px;border-bottom:1px solid #ddd;text-align:center;vertical-align:middle}
table.cataloglist small {color:#222;}
table.cataloglist .otzyv {background:url(http://i.stranamam.ru/i/disc.gif) no-repeat 0px 3px;padding-left:14px;font-size:15px;text-decoration:none}
table.cataloglist .otzyv .slash {color:#444;font-size:14px;padding:0 2px 0 1px;}

tr.tr-odd td, tr.tr-even td {vertical-align:middle;padding:10px 4px;border-bottom:2px solid #eee;}
tr.tr-odd td {background:#fafafa;}


ul.board {list-style:none;margin:0;padding:0;}
ul.board li {padding-bottom:4px;font-size:13px;}
ul.board .sell, h1 .sell {color:#129027;}
ul.board .buy, h1 .buy {color:#0a3488;}
ul.board .service, h1 .service {color:#c07;}
ul.board a {color:#222}
ul.board a:hover {color:#222;text-decoration:none}


.boardinfo {margin-bottom:10px;}
.boardinfo td {vertical-align:middle;}
.boardinfo .price
{
background:#129027;
color:#FFFFFF;
padding:3px 8px;
margin-left:4px;
font-family:Georgia,"Times New Roman";
font-size:16px;
}

.board-phone {background:url(http://i.stranamam.ru/i/phone.gif) no-repeat 0px 5px;padding-left:20px;font-family:Georgia,"Times New Roman";font-size:18px;color:#37C;margin-bottom:8px;}
.board-region {font-size:15px;color:#444;font-family:Verdana,Arial}

.boardlist {max-width:800px;}
.boardlist .head td {padding:12px 7px;background:#FFF6D7;color:#606060;font-family:Georgia,"Times New Roman";font-size:16px;font-weight:normal;}
.boardlist .row td {vertical-align:middle;padding:10px 4px;border-bottom:2px solid #eee;}
.boardlist .odd td {background:#fafafa;}
.boardlist td.left {padding-right:15px;padding-left:7px;}

ul.user-grid32 {list-style:none}
ul.user-grid32 li {clear:both;padding-top:9px;}
ul.user-grid32 li a {font-size:13px;}
ul.user-grid32 .fr32 {margin-right:6px;margin-top:-2px;}

ul.user-grid48 {list-style:none}
ul.user-grid48 li {clear:both;padding-top:14px;}
ul.user-grid48 li a {font-size:13px;}
ul.user-grid48 .fr48 {margin-right:6px;margin-top:-2px;}

ul.rating-grid {list-style:none}
ul.rating-grid li {clear:both;padding-top:9px;}
ul.rating-grid .fr64 {margin-right:5px;margin-top:-4px;}
ul.rating-grid .fr48 {margin-right:5px;margin-top:-3px;}

.rating-coms {margin-top:5px;}
.rating-coms td {padding-bottom:8px;padding-right:0;}
.rating-coms td.l {width:48px;}
.rating-coms td.r {padding-top:2px;}



.pager {clear:both;}
.pager i {color:#707070;font-family:Georgia,"Times New Roman";font-size:16px;margin-right:15px;float:left;margin-top:2px;}
.pager a,
.pager b {margin-right:5px;float:left;padding:3px 5px;}
.pager a {border:1px solid #d3e0ea;text-decoration:none;}
/*.pager a:hover {color:#ff0036;text-decoration:none;background:#fefefe;border:1px solid #ddd;}*/
.pager a:hover {color:#fff;text-decoration:none;background:#ff414a;border:1px solid #f0343e;}
.pager b {border:1px solid #d3e0ea;background:#7ab7e7;color:white;border:1px solid #779ab6}
.pager span {float:left;color:#91c2e9;padding:0 10px 0 5px;margin-top:3px;font-weight:bold;}
.pager b {float:left;}
.pager a.next {padding:0;border:0;font-weight:normal;color:#1e8bdf;margin-left:10px;}
.pager a.next span {padding:0;border:0;font-weight:normal;color:#1e8bdf;cursor:pointer}
.pager a.next:hover {background:white;color:#ff0036;border:0;}
.pager a.next:hover span {color:#ff0036}
.pager a.prev {padding:0;border:0;font-weight:normal;color:#1e8bdf;margin-right:10px;}
.pager a.prev span {padding:0;border:0;font-weight:normal;color:#1e8bdf;cursor:pointer;float:right;}
.pager a.prev:hover {background:white;color:#ff0036;border:0;}
.pager a.prev:hover span {color:#ff0036}
.pager a.extrapages {border:0;}
.pager a.extrapages:hover {border:0;background:white;}
.pager div.extrapager {float:left;background:#FaFaFa;color:#444;font-size:13px;border:1px solid #bbb;position:absolute;margin-top:10px;margin-left:10px;padding:7px 12px;}
div.extrapager .txt{width:75px;margin-right:10px;padding:2px 1px;}



input.file {font-size:14px;height:auto;}

.signup input
{font-size:20px;padding:4px;background:white;border:1px solid #bbb;width:315px;}
.signup textarea {
font-size:14px;padding:4px;background:white;border:1px solid #bbb;width:315px;height:100px;
}
.smallinput {font-size:14px !important;}

.create .checkboxes input {height:auto;width:auto;vertical-align:bottom}
.create input {font-size:15px;padding:2px;xheight:22px;background:white;border:1px solid #bbb;}
.create select {font-size:15px;background:white;border:1px solid #bbb;height:22px;}
.create td {padding:3px;}
.create input {width:96%;}
.create select {width:96%;}
.create textarea {width:96%;height:200px;}
.create .btn {width:auto;}
.create td.left {text-align:right;padding-right:10px;}

a.diez {color:#888;font-size:11px;text-decoration:none;}

a.small,
small,
.create td.left span {color:#888;font-size:11px;}

.signup select{font-size:18px;height:35px;padding:7px;}
.signup td {font-size:14px;padding:4px 4px 0px;}
.signup td.left {text-align:right;vertical-align:middle;padding-right:10px;}
.signup td.left span {color:#888;font-size:11px;}

.signup td {padding-right:35px;}
.signup td.required {background:url(http://i.stranamam.ru/i/required.gif) no-repeat 100% 11px;}
.signup td.ok {background:url(http://i.stranamam.ru/i/ok2.gif) no-repeat 100% 7px;}
.signup .error span,
.create .error span,
#formerror  {display:block;color:#DA0000;padding-bottom:15px;}
.error {color:#DA0000;}
.error-kid {display:block;padding:0px 10px 8px 5px;}


input.err, select.err  {background-color:#ffeedd;}


#top_login_new .newmessages a, #top_login_new .newmessages a:hover { text-decoration:none; }
#top_login_new .newmessages a span, #top_login_new .newmessages a:hover span  { text-decoration:underline; }
#top_login_new .newmessages small { color:#F90000;font-style:italic;font-size:12px; }
#top_login_new { background:#fdf9eb;padding:7px 9px;border-right:1px solid #e9e7da;border-bottom:1px solid #e9e7da;clear:both; }
#top_login_new a { color:black; }
#top_login_new a:hover, #tl_settings a:hover,  #top_login_new a.tl-new-in:hover, #tl_write_blog a:hover { color:#ff0036; }
#tl_settings { padding:4px; }
#tl_settings a { font-size:12px; color:#222; }
#top_login_new a.tl-new-in { color:green;font-size:13px; }
#tl_write_blog { background: url(http://i.stranamam.ru/i/writednev.gif) no-repeat 4px 8px;padding:5px 0 6px 36px; }
#tl_write_blog a { font-family: 'Trebuchet MS',Arial; font-size: 17px;color:#0E8BDF; }


.flyTop { background:#e5f1ff;border-top:1px solid #ccc;border-right:1px solid #ccc;border-radius:0 5px 0 0; }
.flyTop:hover { background:#e0eeff; }
.flyTop a { background:url(/i/leftup.png) no-repeat 78px 11px;color:#548bcf;font-weight:bold;display:block;padding:11px 0 11px 99px;text-decoration:none; }

.flyButton { background: #f7f7f7;
    background: -moz-linear-gradient(top, #fbfbfb, #f5f5f5);
    background: -webkit-linear-gradient(top, #fbfbfb, #f5f5f5);
    background: -o-linear-gradient(top, #fbfbfb, #f5f5f5);
    background: linear-gradient(top, #fbfbfb, #f5f5f5);
		border-top:1px solid white;
		border-bottom:1px solid #ccc;
}
.flyButton:hover { background: #fff9e7; }
.flyButton a { display:block;text-align:center;padding:7px 0px 7px 10px; }

.flySearch { height:36x;background:#efefef;border-bottom:1px solid #ccc;border-right:1px solid #ccc;border-radius:0 0 5px 0;padding:10px; }
#flyInput { width:208px;background:white;border:1px solid #ccc;border-radius:3px;padding:3px;color:#888; }

#flySearchX { display:none; padding-top:11px; }
#flySearchX input { margin-right:3px; float:right; }




.bbimgitem{
	padding-bottom:8px;
	padding-top:8px;
	margin-bottom:8px;
	border-bottom:1px #cbb46d dashed;
}
.bbimgitem img {float:left;border:1px solid #ccc;margin-right:10px;}
.bbimgitem textarea {width:400px;height:50px;}


.photo {border:1px solid #ccc;padding:4px;text-align:center;width:auto;float:left;}

div.grippie {
	background:#EEEEEE url(http://i.stranamam.ru/i/grippie2.gif) no-repeat scroll center 1px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
}


.kphotos .item {float:left;text-align:center;width:310px;height:270px;overflow:hidden;margin-bottom:10px;}
.kphotos .item img {padding:3px;border:1px solid #ccc;}
.kphotos .item a {font-size:12px;}

.albums .item {float:left;text-align:center;width:135px;height:157px;overflow:hidden;margin-bottom:10px;}
.albums .item img {padding-left:10px;}
.albumsfull .item{height:185px !important;}

.photos .item {float:left;text-align:center;width:155px;height:185px;overflow:hidden;margin-bottom:10px;}
.photos .item img {padding:3px;border:1px solid #ccc;}
.photos .item a {font-size:12px;}
.photos .item a.phcms {font-size:11px;color:#ff0036;text-decoration:underline}

.photos100 .item {float:left;text-align:center;width:135px;height:195px;overflow:hidden;margin-bottom:10px;font-size:12px;}
.photos100 .item img {padding:3px;border:1px solid #ccc;}
.photos100 .item a {font-size:12px;}

.smallphotos .item {float:left;text-align:center;width:80px;height:65px;overflow:hidden;margin-bottom:5px;font-size:11px;}
.smallphotos .item {padding:10px 3px;border:1px solid #ccc;margin:5px;}
.smallphotos .item img {margin-bottom:3px;}

.users .item {clear:both;margin-bottom:15px;}
.users .item img {padding:3px;border:1px solid #ddd;float:left;margin-right:10px;}

.usersx .item {clear:both;margin-bottom:15px;}
.usersx .item .fr64 {margin-right:7px;}

.commx {width:45%;float:left;margin-right:15px;}
.commx td {padding-bottom:10px;}
.commx td img {padding:2px;border:1px solid #ddd;margin-right:5px;}


.communities .item {clear:both;margin-bottom:22px;}
.communities .item img {padding:3px;border:1px solid #ddd;float:left;margin-right:10px;}

.albuminfo {padding:5px 10px 0px;border:1px solid #ccc;}
.thumbs {margin-top:10px;}
.thumbs .item {float:left;height:54px;overflow:hidden;margin-bottom:5px;}
.thumbs .item img {border:2px solid white;}
.thumbs .icurrent {padding-left:1px;padding-right:1px;}
.thumbs .icurrent img {border:2px solid #ff6464 !important;}

.usergrid .item {float:left;text-align:center;width:106px;height:110px;overflow:hidden;margin-bottom:10px;font-size:11px;}
.usergrid .item img {padding:3px;border:1px solid #ccc;}

.statgrid h2 {padding:0;margin:0;}
.statgrid .item img {padding:3px;border:1px solid #ccc;}
.statgrid td {padding:4px;}
.statgrid td.yel {background:#fff1c4;text-align:center;}
.statgrid .group {text-align:center;padding-bottom:4px;font-weight:bold;}
.statgrid .theader {font-size:17px;vertical-align:middle;}
.statgrid .vm td {vertical-align:middle;}
.statgrid .top {padding:8px 0;}

.usergrid_cb .item {float:left;text-align:center;width:106px;height:130px;overflow:hidden;margin-bottom:10px;font-size:12px;}
.usergrid_cb .item label {display:block;}
.usergrid_cb .item input {margin:5px 0;}
.usergrid_cb .item img {padding:3px;border:1px solid #ccc;}

.userlines {line-height:24px;}

.kidz {margin-bottom:7px;}
.kidz .item {clear:both;margin-bottom:2px;}
.kidz .item .fr32 {margin-right:3px;}
.kidz .item .fr48 {margin-right:4px;}
.kidz .item a.kidgirl,
.kidz .item a.kidboy {font-size:13px;}
.kidz .item .kid-age {font-size:11px;color:#555;}


#profiletip
{
	display:none;
	position:absolute;
	width:360px;
	z-index:999;
	background:url(http://i.stranamam.ru/i/grayinside.gif) #f1f1f1 repeat-x 0px -20px;
	padding:8px;
	border:1px solid #ccc;
	font-size:12px;
	color:#555555;
}

.ptip_avatar {
background:white none repeat scroll 0 0;
border:1px solid #CCCCCC;
padding:4px;
}


.pr_avatar {
float:left;
margin-right:10px;
margin-bottom:5px;
padding:14px 10px;
background:white;
border:1px solid #ccc;
text-align:center;
}

.brief_avatar {
float:left;
margin-right:10px;
margin-bottom:5px;
padding:4px;
background:white;
border:1px solid #ccc;
text-align:center;
}



.pcalendar {margin-left:-10px;}

#p1,#p2,#p3,#p4,#p5,#p6,#p7,#p8,#p9,#p10,
#p11,#p12,#p13,#p14,#p15,#p16,#p17,#p18,#p19,#p20,
#p21,#p22,#p23,#p24,#p25,#p26,#p27,#p28,#p29,#p30,
#p31,#p32,#p33,#p34,#p35,#p36,#p37,#p38,#p39,#p40,#p41,#p41,#p42
{float:left;height:30px;background:url(http://i.stranamam.ru/i/c_preg.gif) no-repeat -350px 0px;width:9px;margin-top:6px;margin-bottom:6px;}

#m1,#m2,#m3,#m4,#m5,#m6,#m7,#m8,#m9,#m10,
#m11,#m12,#m13,#m14
{float:left;height:30px;background:url(http://i.stranamam.ru/i/c_year.gif) no-repeat 0px 0px;width:9px;margin-top:6px;margin-bottom:6px;}

#m15,#m16,#m17,#m18,#m19,#m20,
#m21,#m22,#m23,#m24,#m25,#m26
{float:left;height:30px;background:url(http://i.stranamam.ru/i/c_year.gif) no-repeat -9px 0px;width:9px;margin-top:6px;margin-bottom:6px;}

.pcal_sel {background:url(http://i.stranamam.ru/i/c_sel.gif) no-repeat 0px 0px !important;width:24px !important;height:42px !important;margin-top:0px !important;margin-bottom:0px !important;}

#plabel0 ,#plabel, #plabel2, #plabel3
{position:absolute;font-size:13px;color:#c00;text-decoration:underline}
#plabel0 {margin-top:-24px;padding-left:0px;width:190px;}
#plabel {margin-top:-20px;padding-left:8px;width:120px;}
#plabel2 {margin-top:-20px;padding-left:8px;width:140px;}
#plabel3 {margin-top:-20px;padding-left:8px;width:140px;}

.pkids {padding:4px 0 2px;}
.flag {font-size:12px;padding-left:20px;background-position:0px 2px;background-repeat:no-repeat;color:#555;line-height:15px;}

div.calendar {background:url(http://i.stranamam.ru/i/calendar.gif) no-repeat 0px 0px;height:27px;padding-top:4px;padding-right:20px;}
.calendar a {padding-left:38px;}

.r-gray {float:right; background:url(http://i.stranamam.ru/i/r-gray.gif) #f7f7f7 no-repeat left top; width:220px;}
.r-gray2  {float:right; background:url(http://i.stranamam.ru/i/r-gray2.gif) no-repeat left bottom; width:220px;}
.r-gray-inner {padding:9px 10px 0px 15px;}


div.btleftday,
div.btright {width:550px;padding-left:10px;padding-right:10px;}

div.btleftday {color:white;background:#0E8BDF;font-size:14px;padding-top:6px;padding-bottom:6px;
border:1px solid #0E8BDF;
-moz-border-radius-topright:5px;
-moz-border-radius-topleft:5px;
-webkit-border-radius-topright:5px;
-webkit-border-radius-topleft:5px;
border-radius-topright:5px;
border-radius-topleft:5px;
}
div.btright {background:#F5F5F5;border:1px solid #CCCCCC;
-moz-border-radius-bottomright:5px;
-moz-border-radius-bottomleft:5px;
-webkit-border-radius-bottomright:5px;
-webkit-border-radius-bottomleft:5px;
border-radius-bottomright:5px;
border-radius-bottomleft:5px;
padding-top:8px;padding-bottom:7px;}

div.btleftday h3 {color:white;font-size:22px;margin-bottom:2px;}

.bbtable td {padding:0;}
.bbcontrols {background:#FFF9E9;border:1px solid #bbb;margin-bottom:10px;float:left;width:96%;}
.bbcontrols .bb2 {padding:8px;}

.bbtable .bbbuts input {height:24px;cursor:pointer;background:#FFE189;border:1px solid #eec159;margin-right:3px;}
.bbtable .bbbuts {padding-bottom:7px;}
.bbtable #helpbox {background:#FFE189;border:1px solid #eec159;padding:3px;font-size:12px;height:auto;width:490px;}

.bbsmiles {clear:both;margin-bottom:10px;}
.bbsmiles a {padding:5px 8px 8px 0px;float:left;}
.bbsmiles a.dtri,
.bbsmiles a.utri {margin:11px 0 0 12px; float:left;}

#bbextra {clear:both;}

.bbcenter {text-align:center;clear:both;}
.usertext img.bbimg {float:none;clear:both;margin:10px 0;max-width:800px;display:block;}

div.bbpicbutton {display:block;clear:both;margin:5px 0;background:url(http://i.stranamam.ru/i/bbpic.gif) #f2f2f2 no-repeat 4px 4px;padding:3px 3px 3px 33px;width:120px;font-family:arial;font-size:13px;
	border-left:1px solid #f1f1f1;border-top:1px solid #f1f1f1;border-right:1px solid #bbb;border-bottom:1px solid #bbb;cursor:pointer;}
div.bbpicbutton:hover {background-color:#f5f5f5;}


/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('http://www.stranamam.ru/js/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('http://www.stranamam.ru/js/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -12px;
	right: -14px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('http://www.stranamam.ru/js/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('http://www.stranamam.ru/js/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
	padding-top:5px;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}





.ac_results {
background-color:white;
border:1px solid #BBBBBB;
border-top:0;
overflow:hidden;
}
.ac_results ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt;
padding:0pt;
width:100%;
}
.ac_results iframe {
display:block;
height:3000px;
left:0pt;
position:absolute;
top:0pt;
width:3000px;
z-index:-1;
}
.ac_results li {
cursor:pointer;
display:block;
font-family:Arial,Tahoma,Verdana;
font-size:14px;
margin:0px;
overflow:hidden;
padding:5px 5px;
width:100%;
}

.ac_results2 li {
padding:2px 2px !important;
font-size:14px !important;
}
.ac_results2 .ac_over {
background-color:#0E8BDF;
color:white;
}

.ac_loading {
background:transparent url(http://i.stranamam.ru/i/ajax-loader.gif) no-repeat scroll right center;
}
.ac_over {
background-color:#FFF1CA;
color:black;
}










.tooltip-profile {
	margin-top:5px;
	margin-bottom:14px;
	margin-left:-3px;
	width:430px;
	}
.tooltip-profile .top-tip {background:url(http://i.stranamam.ru/i/tip-top-pr.gif) no-repeat 0px 0px;}
.tooltip-profile .bottom-tip {background:url(http://i.stranamam.ru/i/tip-bottom-pr.gif) no-repeat 0px 100%;padding:5px 0 17px;}
.tooltip-profile .text-tip {padding: 4px 20px 6px 15px; background:url(http://i.stranamam.ru/i/tip-bg-pr.gif) white repeat-y 0px 0px; font-size:13px;}
.tooltip-profile .text-tip span {font-style:italic;}
.tooltip-profile .text-tip-edit {background:url(http://i.stranamam.ru/i/tip-bg-pr.gif) white repeat-y 0px 0px;font-size:13px;}
.tooltip-profile .text-tip-edit #status_str {padding: 4px 20px 6px 15px;  }
.tooltip-profile .text-tip-edit #status_edit {padding: 8px 15px;  }
.tooltip-profile .text-tip-edit #status_field {width:394px;}
.tooltip-profile .text-tip-edit span {font-style:italic;padding-right:5px;}

.tip-date {position:absolute;margin-left:35px;margin-top:7px;font-size:11px;color:#888}

.greentick {line-height:20px;background:url(http://i.stranamam.ru/i/greentick.gif) no-repeat 0px 0px;padding-left:20px;color:#227722;}

.tooltip {
	margin-bottom:2px;
	margin-left:-3px;
	}
.tooltip .top-tip {background:url(http://i.stranamam.ru/i/tip-top2.gif) no-repeat 0px 0px;}
.tooltip .bottom-tip {background:url(http://i.stranamam.ru/i/tip-bottom2.gif) no-repeat 0px 100%;padding:5px 0 17px;}
.tooltip .text-tip {padding: 5px 15px 5px 10px; background:url(http://i.stranamam.ru/i/tip-bg2.gif) white repeat-y 0px 0px; font-style:italic;font-size:11px;}

.lamp_on,
.lamp_shine,
.lamp_off {line-height:20px;padding-right:16px;}
.lamp_shine {background:url(http://i.stranamam.ru/i/tip-green.gif) no-repeat 100% 3px;}
.lamp_on {background:url(http://i.stranamam.ru/i/tip-yellow.gif) no-repeat 100% 3px;}
.lamp_off {background:url(http://i.stranamam.ru/i/tip-gray.gif) no-repeat 100% 3px;}


#vtip {
display: none;
position: absolute;
font-size: 0.8em;
width:330px;
z-index: 999;
}
#vtip #toptip {background:url(http://i.stranamam.ru/i/tip-top.gif) no-repeat 0px 0px;}
#vtip #bottomtip {background:url(http://i.stranamam.ru/i/tip-bottom.gif) no-repeat 0px 100%;padding:5px 0;}
#vtip #texttip {background:url(http://i.stranamam.ru/i/tip-bg.gif) white repeat-y 0px 0px; font-style:italic;font-size:13px;padding:8px 15px;}
#vtip #vtipArrow
{
position: absolute;
bottom: -13px;
left: 5px;
}
#vtip #vtipArrow.right
{
position: absolute;
bottom: -13px;
left: 310px;
}
#vtip #vtipArrow2
{
position: absolute;
top: -13px;
left: 5px;
}
#vtip #vtipArrow2.right
{
position: absolute;
top: -13px;
left: 310px;
}


div.fsitem {padding:3px;margin-bottom:3px;border:1px solid #f5f5f5;margin-top:-5px;}
div.fsitem:hover {background:white;border:1px solid #ccc;}

div.fsitem div.fsbottom {visibility:hidden;margin:-5px 0px 3px 5px;font-size:12px;color:#555;/visibility:visible}
div.fsitem div.fsbottom a:hover {text-decoration:none}
div.fsitem:hover div.fsbottom {visibility:visible}


.helpsmall
{
	background:url(http://i.stranamam.ru/i/hgrad1.gif) #fafafa repeat-x 0px 0px;
	border:1px solid #ccc;
	padding:4px;
}
.helplogo1 {height:24px;background:url(http://i.stranamam.ru/i/hlogo1.jpg) no-repeat 0px 0px;padding-left:32px;}
.helpsmall .fl {margin-top:2px;font-size:16px;}
.helpsmall .fr {margin-top:3px;margin-right:10px;}

.helpbig
{
	background:url(http://i.stranamam.ru/i/hgrad2.gif) #fafafa repeat-x 0px 50%;
	border:1px solid #ccc;
	padding:4px;
}
.helplogo2 {height:32px;background:url(http://i.stranamam.ru/i/hlogo2.gif) no-repeat 0px 0px;padding-left:38px;}
.helpbig .fl {margin-top:5px;font-size:17px;}
.helpbig .fr {margin-top:3px;margin-right:10px;}
.helpbig .inner {padding:10px 10px 10px 5px;}

.helpbig .inside {padding:2px 2px 2px 20px;font-size:13px;}
.helpbig .num {font-size:22px;font-family:Georgia;}
.helpbig .helper_title {font-size:16px;}
.helpbig .helper_green {color:green;}


a.expand {background:url(http://i.stranamam.ru/i/expand.gif) no-repeat 0px 3px;padding-left:17px;}
a.expand:hover {background:url(http://i.stranamam.ru/i/expand.gif) no-repeat 0px -16px;}
a.collapse {background:url(http://i.stranamam.ru/i/collapse.gif) no-repeat 0px 3px;padding-left:17px;}
a.collapse:hover {background:url(http://i.stranamam.ru/i/collapse.gif) no-repeat 0px -16px;}




table.jCalendar {
	background: #fff;
    border-collapse: separate;
    border-spacing: 2px;
}
table.jCalendar th {
	background: #0E8BDF;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}
table.jCalendar td {
	background: #ffe28a;
	color: #000;
	padding: 3px 5px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #fff5d7;
	color: #000;
}
table.jCalendar td.today {
	background: #ffc91b;
	color: #000;
}
table.jCalendar td.selected {
	background: #dd0000;
	color: #fff;
}
table.jCalendar td.selected:hover {
	background: #ff0000;
	color: #fff;
}
table.jCalendar td:hover, table.jCalendar td.dp-hover {
	background: #ff0000;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	background: #EDF0F2;
	color: #aaa;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #fff;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 5px;
	width: 171px;
	line-height: 1.2em;
	border:1px solid #B9CEDD;
	z-index: 1990;
	margin-left:-59px;
	margin-top:-4px;
}
div#dp-popup {
	position: absolute;
	z-index: 1990;
}
div.dp-popup h2 {
	font-size: 13px;
	text-align: center;
	margin: 0 0 4px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}

/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}






/* jQuery Modal dialog CSS */
.jqmWindow h2 {margin-top:0px;}
.popup_bg {background:url(http://i.stranamam.ru/i/grayinside.gif) #f1f1f1 repeat-x 0px -20px;padding:15px;}

.jqmWindow {
	display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  width:400px;
  margin-left: -200px;
  background-color: #fff;
	padding:1px;
	font-size:13px;
	border:1px solid #ddd;
}

div.popuptitle {background:#3369c1;padding:1px 7px 4px;}
div.popuptitle h2 {color:white;font-size:16px;margin:0;padding:0;}
div.popup_btns {padding-top:18px;clear:both;}

div.jqmWindow2 {
	display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  width:400px;
  margin-left: -200px;
  background-color: #fff;
	border:3px solid #3369c1;
	font-size:13px;
}

.jqmOverlay { }
/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}
/* Fixed posistioning emulation for IE6 */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
* html div.jqmWindow2 {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.fist_post {
  background: #daf3d3 url(/i/firstpost_badge.png) no-repeat right center;
  color: #037d40;
  font-size: 11px;
  display: inline-block;
  padding: 3px 16px 2px 7px;
  border-radius: 3px 0 0 3px;
  vertical-align: 2px;
  margin-left: 2px;
}

.vkfb {padding:5px 0 25px;min-height:320px;}
.vkfb-tabs {height:26px;font-family: tahoma;font-weight:bold;color:#45688e;font-size:15px;}
#vk_groups {border-right:1px solid #5B7FA6;border-bottom:1px solid #5B7FA6;}
#VK_tab .tab1 {background:#5B7FA6;border:1px solid #5B7FA6;border-bottom:0;height:26px;width:107px;position:absolute;z-index:100;color:white;}
#VK_tab .tab1 > div {padding:2px 12px 0;}
#VK_tab .tab2 {cursor:pointer;background:#fff;border:1px solid #bec8d3;border-bottom:0;border-left:0;height:21px;width:82px;position:absolute;font-weight:bold;margin-top:4px;margin-left:109px;}
#VK_tab .tab2 > div {color:#3b5998;font-size:15px;padding:1px 5px 0;font-family: tahoma;}
#FB_tab .tab1 {cursor:pointer;background:#dae2e8;border:1px solid #bec8d3;border-bottom:0;border-right:0;height:21px;width:97px;position:absolute;margin-top:4px;}
#FB_tab .tab1 > div {padding:1px 5px 0;font-family: tahoma;font-weight:bold;color:#45688e;font-size:15px;}
#FB_tab .tab2 {background:#fff;border:1px solid #315c99;border-bottom:0;height:25px;width:96px;position:absolute;margin-left:98px;z-index:100;}
#FB_tab .tab2 > div {padding:2px 12px 0;font-weight:bold;color:#3b5998;font-size:15px;font-family: tahoma;}