/*
Theme Name: Flexmls
*/

/* Resets */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, sub, sup, tt, var,b, u, i, center,dl, dt, dd, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
*{outline:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* Forms */
button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}
button { overflow: visible;}
button,select { text-transform: none; }
button, html input[type="button"], input[type="reset"],input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;  box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
/* Magnific Popup */
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8;filter:alpha(opacity=80)}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-error .mfp-content,.mfp-s-ready .mfp-preloader{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;filter:alpha(opacity=65);padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1;filter:alpha(opacity=100)}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);margin:-55px 0 0;top:50%;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1;filter:alpha(opacity=100)}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0;margin:0 auto}.mfp-figure{line-height:0}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(0.75);transform:scale(0.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
.mfp-close:hover{background:none;}
/* Clearfix */
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}.clearfix{*zoom:1}
/* FlexSlider Necessary Styles */
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus  {outline: none;}
.slides, .flex-control-nav, .flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
/* .flexslider .slides img {width: 100%; display: block;} */
.flex-pauseplay span {text-transform: capitalize;}
/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* General */
*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
html,
body {
	overflow-x:hidden;
	min-width: 320px;
}
html {
	height: 100%;
}
body {
	/*
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	min-height: 100%;
	color: #666;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	position: relative;
}
h1,h2,h3,h4,h5,h6 {
	color: #333;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {

}
h1 {
	font-size: 32px;
	line-height: 39px;
	margin-bottom: 40px;
}
.single h1 {
	margin-bottom: 20px;
}
h2 {
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 20px;
}
h3 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;
}
h4 {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}
h5 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 10px;
}
h6 {
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: #969696;
	font-weight: 700;
	margin-bottom: 0;
}
.date {
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
	color: #969696;
}
h1 + .date,
h2 + .date,
h1 + h6,
h2 + h6 {
	margin-top: -20px;
	margin-bottom: 20px;
}
h3 + .date,
h4 + .date,
h5 + .date,

h3 + h6,
h4 + h6,
h5 + h6 {
	margin-top: -10px;
	margin-bottom: 10px;
}
h6 + .date {
	margin-top: -20px;
	margin-bottom: 10px;
}
.price {
	font-size: 42px;
	line-height: 45px;
}
strong, b {
	font-weight: bold;
}
i, em {
	font-style: italic;
}
small {
	font-size: 0.8em;
}
p {
	padding-bottom: 24px;
}
.tighten p {
	padding-bottom: 10px;
	line-height: 16px;
}
hr {
	margin: 0 0 24px;
}
a {
	color: #4A76CD;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
ol, ul {
	margin: 0;
	padding: 0 0 24px 21px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
iframe {
	max-width: 100%;
}
.wrapper {
	margin: 0 auto;
	width: 780px;
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
@media only screen and (min-width: 480px){
	.wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media only screen and (min-width: 850px){
	h1 {
		margin-bottom: 70px;
	}
	.mobile {
		display: none;
	}
}
@media only screen and (max-width: 749px){
	.desktop {
		display: none;
	}
}

/* Layout */
.alignleft, img.alignleft {
	margin-right: 20px;
	margin-bottom: 20px;
	display: inline;
	float: left;
}
.alignright, img.alignright {
	margin-left: 20px;
	margin-bottom: 20px;
	display: inline;
	float: right;
}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	display: block;
	clear: both;
}
.textcenter {
	text-align: center;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.box {
	padding-top: 40px;
	padding-bottom: 16px;
}
.pad-top {
	padding-top: 40px;
}
.pad-bottom {
	padding-bottom: 16px;
}
.pad-bottom.no-par,
p.pad-bottom {
	padding-bottom: 40px;
}
.no-pad {
	padding: 0;
}
.no-marg {
	margin: 0;
}
.video-container {
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	position: relative;
}
.video-container  iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (min-width: 850px){
	.box {
		padding-top: 70px;
		padding-bottom: 46px;
	}
	.pad-top {
		padding-top: 70px;
	}
	.pad-bottom {
		padding-bottom: 46px;
	}
	.pad-bottom.no-par,
	p.pad-bottom {
		padding-bottom: 70px;
	}
	.floatleft {
		float: left;
	}
	.floatright {
		float: right;
	}
	.half {
		float: left;
		width: 45%;
		margin-right: 10%;
	}
	.half:nth-of-type(even) {
		margin-right: 0;
	}
	.third {
		float: left;
		width: 30%;
		margin-right: 5%;
	}
	.third:nth-of-type(3n) {
		margin-right: 0;
	}
	.fourth {
		float: left;
		width: 20%;
		margin-right: 6%;
	}
	.fourth:nth-of-type(4) {
		margin-right: 0;
	}
}

/* Buttons, Icons, & Shapes */
.button,
button,
input[type="submit"] {
	display: inline-block;
	color: #4A76CD;
	font-size: 11px;
	line-height: 13px;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 10px 20px;
	border: 1px solid;
	background: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.button:hover,
button:hover,
input[type="submit"]:hover {
	text-decoration: none;
	color: #fff;
	background-color: #4A76CD;
}
.reverse.button {
	color: #fff;
	background-color: #4A76CD;
}
.reverse.button:hover {
	background: #315db3;
}
.white.button {
	color: #FFF;
}
.white.button:hover {
	color: #4A76CD;
	background: #FFF;
}
.circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.menu-btn {
	color: #666;
	font-size: 14px;
	font-weight: regular;
	text-transform: uppercase;
	font-family: helvetica;
	font-weight: 500;
}
.menu-btn:hover {
	color: #333;
	text-decoration: none;
}
.menu-btn .menu-icon {
	width: 15px;
	display: inline-block;
	margin-left: 3px;
}
.menu-btn .menu-icon .bar {
	height: 2px;
	margin-bottom: 2px;
	display: block;
	background-color: #666;
}
.menu-btn .menu-icon .bar:last-child {
	margin-bottom: 0;
}
.menu-btn:hover .menu-icon .bar {
	background-color: #333;
}
i.hr {
	display: block;
	border-top: 1px solid #E5E5E5;
}


/* Custom Flexslider */
.flexslider {
	position: relative;
}
.flex-direction-nav {
	font-size: 50px;
	display: none;
}
.flex-direction-nav a {
	color: #666;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
}
.flex-direction-nav a:hover {
	color: #969696;
}
.flex-direction-nav a.flex-prev {
	left: -40px;
}
.flex-direction-nav a.flex-next {
	right: -40px;
}
@media only screen and (min-width: 850px){
	.flex-direction-nav {
		display: block;
	}
}


/* Form */
form {
	font-size: 13px;
	line-height: 16px;
}
input,
textarea {
	color: #333;
	font-size: 15px;
	line-height: 17px;
	padding: 10px;
	border: 1px solid #D9D9D9;
	background: #FFF;
	resize: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border-color: #4A76CD;
}
textarea {
	height: 175px;
}
input[placeholder] {
	color: #333;
	font-size: 14px;
	opacity: 1;
}
input::-webkit-input-placeholder  {
   color: #666;
   font-size: 12px;
   opacity: 1;
}
input:-moz-placeholder {
	color: #666;
	font-size: 12px;
	opacity: 1;
}
input::-moz-placeholder {
   color: #666;
   font-size: 12px;
   opacity: 1;
}
input::-moz-p {
   color: #666;
   font-size: 12px;
   opacity: 1;
}
input:-ms-input-placeholder  {
   color: #666 !important;
   font-size: 12px;
   opacity: 1;
}
input:focus::-webkit-input-placeholder  {
   border-color: #4A76CD;
}
input:focus:-moz-placeholder {
	border-color: #4A76CD;
}
input:focus::-moz-placeholder {
   border-color: #4A76CD;
}
input:focus:-ms-input-placeholder  {
   border-color: #4A76CD;
}
input.error,
textarea.error {
	border-color: #FC3E39;
}
label.error {
	color: #FC3E39;
}
.form-title {
	font-size: 11px;
	line-height: 20px;
	text-transform: uppercase;
	color: #969696;
}
.form-field {
	margin-bottom: 15px;
}
.form-field.error {
	color: #FC3E39;
}

/* Default Table */
table tr td:first-child {
	border-left: none;
}
table tr:first-child td {
	border-top: none;
}
table td {
	border-left: 1px solid #E5E5E5;
	border-top: 1px solid #e5e5e5;
	padding: 10px;
}

/* Compare Table */
.page.compare table {
	border-collapse: collapse;
	margin-bottom: 24px;
}
.page.compare table td {
	color: #4A76CD;
	font-size: 20px;
}
.page.compare table td, .page.compare table th {
	border: 1px solid #E5E5E5;
	padding: 15px 20px;
	vertical-align: middle;

}
.page.compare table tr:first-child th {
	border-top: 0;
}
.page.compare table tr:last-child td {
	border-bottom: 0;
}
.page.compare table tr td:first-child,
.page.compare table tr th:first-child {
	border-left: 0;
	width: 55%;
}
.page.compare table tr td:nth-child(2),
.page.compare table tr th:nth-child(2) {
	width: 15%;
}
.page.compare table tr td:nth-child(3),
.page.compare table tr th:nth-child(3) {
	width: 15%;
}
.page.compare table tr th:first-child {
	border-bottom: 0;
}
.page.compare table tr td:last-child,
.page.compare table tr th:last-child {
	border-right: 0;
	width: 15%;
}
@media only screen and (min-width: 850px){
	.page.compare table tr td:first-child,
	.page.compare table tr th:first-child {
		width: 22%;
	}
	.page.compare table tr td:nth-child(2),
	.page.compare table tr th:nth-child(2) {
		width: 25%;
	}
	.page.compare table tr td:nth-child(3),
	.page.compare table tr th:nth-child(3) {
		width: 21%;
	}
	.page.compare table tr td:last-child,
	.page.compare table tr th:last-child {
		width: 32%;
	}
}

/* Header */
header {
	padding-top: 12px;
	padding-bottom: 9px;
	border-bottom: 1px solid #E5E5E5;
	background-color: #FFF;
}
header.main-header .wrapper {
	width: auto;
}
header .logo {
	position: relative;
	left: 0;
	display: block;
	width: 140px;
	float: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
header .menu-btn {
	float: right;
	margin-top: 10px;
}

/* Nav */
.page-wrapper {
	position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.main-nav {
    position: absolute;
    z-index: 20;
    overflow: scroll;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    top: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    background: #FAFAFA;
    border-left: 1px solid #E5E5E5;
    padding: 7px 22px 22px;
}
nav.main-nav ul {
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-size: 13px;
	font-family: helvetica;
	font-weight: 600;
}
nav.main-nav a {
	color: #666;
}
nav.main-nav .main-menu a:after,
nav.main-nav .sub-menu a:after {
    content:"\a";
    white-space: pre;
}
nav.main-nav a:hover,
nav.main-nav .current-menu-item a,
nav.main-nav .current-page-ancestor a,
body.single-post .menu-item-95 a,
body.single-training .menu-item-96 a,
body.single-product-news .menu-item-98 a,
body.single-events .menu-item-97 a,
body.single-jobs .menu-item-4893 a {
	color: #4A76CD;
	text-decoration: none;
}
nav.main-nav .close-btn {
	float: right;
	font-size: 25px;
	line-height: 32px;
	display: block;
}
nav.main-nav .close-btn:hover {
	color: #333;
}
nav.main-nav .main-menu {
	font-size: 15px;
	line-height: 40px;
	margin-bottom: 30px;
}
nav.main-nav .sub-menu {
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 30px;
}
nav.main-nav .sub-menu strong {
	text-transform: uppercase;
	font-size: 12px;
}
nav.main-nav .social {
	font-size: 17px;
	line-height: 30px;
	text-align: center;
	color: #FAFAFA;
	background-color: #666;
	width: 30px;
	display: inline-block;
	margin: 10px 5px 20px;
}
nav.main-nav .social:hover {
	color: #FAFAFA;
}
body.menu-open nav.main-nav {
    right: 0;
}
body.menu-open .page-wrapper {
    left: -100%;
}
@media only screen and (min-width: 850px){
	nav.main-nav {
		width: 285px;
	    right: -285px;
	}
	body.menu-open .page-wrapper,
	body.menu-open footer.sticky-footer  {
	    left: -285px;
	}
	body.menu-open footer.sticky-footer.fixed-to-bottom {
		left: 0;
	}
	body.menu-open header .logo {
	    left: 285px;
	}
	body.menu-open nav.product-features-nav {
		margin-right: -315px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}
}


/* Footer */
footer.main-footer {
	color: #666;
	background-color: #FAFAFA;
	font-size: 14px;
	line-height: 28px;
	padding-top: 35px;
	padding-bottom: 15px;
}
footer.main-footer .wrapper {
	width: auto;
}
footer.main-footer a {
	color: #666;
	display: inline-block;
	margin-right: 15px;
}
footer.main-footer a:last-child {
	margin-right: 0;
}
footer.main-footer a:hover {
	text-decoration: none;
}
footer.main-footer .main-menu {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 10px;
}

/* Sticky Footer */
footer.sticky-footer {
	color: #FFF;
	background-color: #4A76CD;
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 28px;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
footer.sticky-footer strong {
	text-transform: uppercase;
	font-size: 12px;
}
footer.sticky-footer .wrapper {
	width: auto;
}
footer.sticky-footer a {
	color: inherit;
}
footer.sticky-footer .learn-more {
	margin-bottom: 10px;
}
footer.sticky-footer .phone-contact {
	line-height: 34px;
}
footer.sticky-footer .social {
	font-size: 17px;
	line-height: 30px;
	text-align: center;
	color: #4A76CD;
	background-color: #FFF;
	width: 30px;
	display: inline-block;
	margin: 0px 3px 10px;
}
footer.sticky-footer .social:hover {
	color: #4A76CD;
}
@media only screen and (max-width: 849px){
	footer.sticky-footer {
		position: relative !important;
	}
}
@media only screen and (min-width: 850px){
	footer.sticky-footer {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 1000;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	footer.sticky-footer .learn-more {
		margin-bottom: 0;
	}
	.sticky-footer-spacer {
		height: 55px;
	}
	footer.sticky-footer .social {
		margin-bottom: 0;
	}
}
/* Index and Single Template */
.feature-image img {
	margin: 0 auto 30px auto;
}
.pagination > * {
	display: inline-block;
}
.pagination {
	text-align: center;
}
.pagination .next-link {
	float: right;
}
.pagination .previous-link {
	float: left;
}
.blog-signup {
	margin-bottom: 45px;
}
.blog-signup input[type="text"] {
	width: 160px;
}
.commentlist {
    list-style-type: none;
    padding: 0;
}
.comment-author {
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: 800;
    color: #969696;
    font-size: 12px;
    line-height: 1;
    clear: both;
}
#respond h3 {
	clear: both;
}
@media only screen and (min-width: 850px){
	.blog-signup {
		position: absolute;
		top: 0;
		right: 0;
	}
	.blog-signup input[type="text"] {
		width: 180px;
	}
	.feature-image {
		width: 250px;
		height: 250px;
		float: left;
	}
	.copy.has-image {
		margin-left: 275px;
	}
}


/* Homepage */
body.home h1 {
	margin-bottom: 20px;
}
body.home .page-content .wrapper {
	width: 960px;
}
body.home .support.circle.button {
	position: absolute;
	top: -4px;
	right: 15px;
	font-size: 16px;
	line-height: 16px;
	padding: 6px 10px;
}
body.home .page-content {
	padding-bottom: 20px;
}
body.home .login {
	background-image: url(img/mobile-keys.jpg);
	background-color: #333;
	background-size: cover;
	background-position: center;
}
body.home .login .wrapper {
	width: 840px;
	padding-top: 45px;
	padding-bottom: 30px;
}
body.home .login h2 {
	color: #FFF;
}
body.home .login-form input {
	border: none;
}
body.home .forgotpassword {
	color: #FFF;
	float: right;
	line-height: 35px;
}
body.home .promotions {
	margin-bottom: 90px;
}
body.home .promotions .wrapper {
	width: 900px;
	padding-top: 35px;
	padding-bottom: 35px;
}
body.home .promotions .flexslider {
	margin: 0 auto;
}
body.home .promotions .slides > li {
	position: relative;
}
body.home .promotions .slides > li .slide-contain {
	height: 100%;
	width: 100%;
}
body.home .promotions .graphic {
	margin: 0 auto 15px auto;
}
body.home .promotions a.slide-contain,
body.home .promotions a.slide-contain:hover {
	color: inherit;
	text-decoration: none;
}
body.home .flex-control-paging {
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -85px;
}
body.home .flex-control-paging > li {
	display: inline-block;
	margin: 0 7px;
}
body.home .flex-control-paging > li > a {
	display: inline-block;
	text-indent: -9000px;
	text-transform: uppercase;
	border: 1px solid #969696;
	height: 11px;
	width: 11px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
body.home .flex-control-paging > li > a.flex-active {
	background-color: #969696
}
body.home .flex-control-paging > li > a:hover {
	background-color: #969696
}
@media only screen and (min-width: 480px){
	body.home .support.circle.button {
		right: 30px;
	}
	body.home .promotions {
		margin-top: 45px;
	}
}
@media only screen and (min-width: 750px){
	body.home {
		border-bottom: 0;
	}
	body.home .page-content {
		padding-top: 0;
		padding-bottom: 50px;
	}
	body.home .devices {
		width: 400px;
	}
	body.home .login {
		background-image: url(img/desk.jpg);
		background-size: cover;
		background-position: 0% 20%;
		margin-bottom: 45px;
	}
	body.home .login .wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
		background-image: url(img/keys.png);
		background-size: 280px;
		background-repeat: no-repeat;
		background-position: 30% 80%;
	}
	body.home .login-form {
		width: 235px;
		float: right;
	}
	body.home .promotions .content {
		position: relative;
	}
	body.home .promotions .graphic {
		position: absolute;
		margin: 0;
	}
	body.home .promotions .copy {
		margin-left: 210px;
		min-height: 125px;
	}
	body.home .promotions .cta {
		border-left: 1px solid #E5E5E5;
		position: absolute;
		top: 0;
		right: 140px;
		height: 100%;
		padding-left: 40px;
	}
	body.home .promotions .cta .button {
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -17px;
		width: 140px;
	}
}
@media only screen and (min-width: 960px){
	body.home .login .wrapper {
		padding: 70px 0;
		background-size: 360px;
	}
	body.home .devices {
		width: 490px;
	}
	body.home .promotions .graphic {
		left: 55px;
	}
	body.home .promotions .copy {
		margin-left: 265px;
	}
	body.home .promotions .cta {
		right: 195px;
	}
}
@media only screen and (min-width: 1440px){
	body.home .login .wrapper {
		padding: 120px 0;
		background-position: 30% 70%;
	}
	body.home .promotions {
		margin-bottom: 150px;
	}
}
@media only screen and (min-width: 1700px){
	body.home .login .wrapper {
		background-position: 10% 60%;
		padding: 200px 0;
		background-size: 460px;
	}
}


/* Product Home */
.testimonial {
	margin-right: 20px;
	margin-left: 20px;
}
.testimonial .copy:before {
    content: '\201C';
    font-size: 65px;
    line-height: 60px;
    display: block;
    position: absolute;
    left: -45px;
    font-weight: 700;
    color: #4874D0;
}
@media only screen and (min-width: 850px){
	.testimonial .image {
		float: left;
	}
	.testimonial .copy {
		margin-left: 220px;
		position: relative;
	}
}

/* Product Overview */
.product-header {
	position: relative;
}
.subitem:last-child {
	padding-bottom: 0;
}
.subitem .image {
	width: 285px;
}
.subitem .image img {
	margin: 0 auto;
}
nav.product-nav a {
	color: #666;
}
nav.product-nav a:hover,
nav.product-nav a.current-link {
	color: #4A76CD;
	text-decoration: none;
}
.video-popup > i {
	font-size: 9px;
	margin-left: 2px;
}
@media only screen and (min-width: 850px){
	nav.product-nav {
		position: absolute;
		top: 0;
		right: 30px;
		line-height: 39px;
	}
	.subitem:nth-of-type(even) .image {
		float: left;
	}
	.subitem:nth-of-type(even) .copy {
		margin-left: 310px;
	}
	.subitem:nth-of-type(odd) .image {
		float: right;
	}
	.subitem:nth-of-type(odd) .copy {
		margin-right: 310px;
	}
}

/* Product Features */
.product-image {
	max-width: 250px;
	margin: 0 auto;
}
.product-features-nav nav{
	margin-bottom: 20px;
}
.product-features-nav nav a {
	display: inline-block;
	padding-right: 20px;
	color: #B2B2B2;
	font-weight: bold;
	margin: 1px 0;
}
.product-features-nav nav a:hover,
.product-features-nav nav a.current-link {
	text-decoration: none;
	border-color: #969696;
	color: #333;
}
.product-cta {
	padding: 15px 0 20px 0;
}
@media only screen and (min-width: 1200px){
	.product-features-nav {
		position: fixed;
		width: 250px;
		right: 50%;
		margin-right: -650px;
		-webkit-transition: margin-right 0.3s;
		-moz-transition: margin-right 0.3s;
		-ms-transition: margin-right 0.3s;
		-o-transition: margin-right 0.3s;
		transition: margin-right 0.3s;
	}
	.product-features-nav nav a {
		display: block;
		padding: 0px 15px;
		border-left: 3px solid #E5E5E5;
		font-size: 14px;
	}
	.product-cta {
		padding: 15px 0 20px 23px;
	}
}

/* Pricing */
.pricing .third {
	margin-bottom: 15px;
}
.pricing .popular {
	border: 1px solid #4A76CD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.pricing ul {
	text-align: left;
}
.popular > div {
	padding: 10px;
}
.popular .popular-heading {
	color: #FFF;
	background-color: #4A76CD;
	line-height: 22px;
}
.pricing .pricing-year {
	font-size: 24px;
	color: #b2b2b2;
}
@media only screen and (min-width: 850px){
	.pricing .third {
		width: 28%;
		margin-top: 53px;
		margin-bottom: 0;
		text-align: center;
	}
	.pricing .popular {
		margin-top: 0;
		width: 34%;
	}
}

/* Contact */
.page.contact iframe.contact-map {
	width: 320px;
	height: 320px;
}
@media only screen and (min-width: 850px){
	/* .page.contact .third {
		width: 27%;
		margin-right: 9%;
		border-right: 1px solid #e5e5e5;
	}
	.page.contact .third:last-child {
		border: none;
		margin-right: 0;
	} */
	.page.contact iframe.contact-map {
		width: 450px;
		height: 450px;
	}
}

/* Training */
.post-type-archive-training .feature-image {
	width: 150px;
	margin-right: 30px;
}
.past-training a {
	color: #666;
}
.past-training a:hover {
	color: #969696;
	text-decoration: none;
}
