.notaDest{
	min-height: 282px;
}
.subMenuCiudades{
	background-color: #4e6785;
    display: block;
    float: left;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    width: 1040px;
    height: 30px;
}
.subMenuCiudades ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 100%;
}
.subMenuCiudades li{
    float: left;
    flex: auto;
    text-align: center;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}
.subMenuCiudades li a{
    color: #fff;
    font-size: .7rem;
    vertical-align: middle;
}
.subMenuCiudades li.titulo:hover {
    background-color: #0073ac;
}
.subMenuCiudades li:hover{
	background-color: #022F46;
}
.orbit-container .orbit-slides-container > * .orbit-caption{
    background-color: #ffffff;
}
.marco #marquee {
    width: 690px;
}
.en_edi{
    width: 135px;
    height: 35px;
    float: left;
}
.expand{
    display: block !important;
}
.box  .columnistaTitle{
  color: #333333;
  font-size: .9rem !important;
  font-weight: 600 !important;
}
.box.columnistas h1{
    font-size: .8rem;
		font-weight: 400;
}
#realtime .pic{
    position: relative;
}
#realtime .visitas{
    background-color: rgba(0,0,0, .8);
    color: #ffffff;
    display: inline-block;
    width: 60px;
    text-align: center;
}
#realtime .txt{
    font-size: .6rem;
}
.headLeft{
    float: left;
    display: block;
    width: 1000px;
    position: relative;
}
.headLeft{
    float: left;
    display: block;
    width: 1040px;
    position: relative;
}
.head_content .head .social{
    right: 0;
}
.head_content .head .busca{
    right: 0;
    width: 22%;
}
.head_content{
    padding-top: 0;
}
.head_content.adSuperior{
    padding-top: 35px;
}
.head_content.adSuperior .headLeft{
    padding-left: 21px;
}
.f-topbar-fixed{
    padding: 0 !important;
}
.fixed{
    top: 35px;
}
.noticiasDestacadas > div{
    margin-bottom: 15px;
}
.noticiasDestacadas{
    padding-bottom: 0 !important;
}
.ad-250x250{
    display: inline-block;
}
.ad-728x90{
    padding: 0;
}
.adInferior{
    background-color: transparent !important;
    margin: 6px 0 10px;
}
.adInferior .headLeft{
    margin-left: 20px;
}
.super_content{
    margin: 0 auto;
}
.separadorTab{
    position: absolute;
    height: 70%;
    width: 1px;
    top: 15%;
    right: 0;
    background-color: rgba(0,0,0, .2);
}
.superTitular .ahora {
    background-color: rgb(221,86,0);
    color: #fff;
    padding: 10px 30px;
    position: absolute;
    top: 30px;
    left: -15px;
    text-transform: uppercase;
}
.superTitular .ahora .trian {
    position: absolute;
    bottom: -16px;
    left: 0;
    border: 8px solid rgb(189,58,0);
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.box header h5{
    float: left;
}
.box header .v-mas{
    float: right;
    font-size: .8rem;
    padding: 10px 0;
}
.box header .v-mas a{
    margin-left: 10px;
    opacity: .8;
    color: #333333;
}
.box header .v-mas a:hover{
    margin-left: 10px;
    opacity: 1;
}
.bbclTV{
    float: none;
    overflow: hidden;
    height: 245px;
    width: 100%;
}
.bbclTV h1{
    margin: 0;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 500 !important;
}
.masLeido .tabs-content ul li h6{
    margin: 0;
}
.masLeido .tabs-content ul li span{
    color: #9197a3;
    font-size: .8rem;
    display: block;
    margin-bottom: 6px;
}
.bbclFooter{
    background-color: rgba(0,0,0,0.9);
    border-top: 3px solid #18366c;
    padding: 30px 0 0 0;
    margin-top: 15px;
    position: relative;
}
.bbclFooter .row{
    max-width: 78.5rem;
}
.bbclFooter li{
    text-align: center;
}
.bbclFooter h6{
    color: #ffffff;
}
.bbclFooter li a{
    color: #ffffff;
    background-color: rgba(255,255,255, .1);
    display: block;
    font-size: .8rem;
    padding: 9px 0;
}
.container{
    padding-bottom: 15px;
}
.bbclFooter .fInfo{
    background-color: #000000;
    margin-top: 30px;
}
.bbclFooter .fInfo h6{
    font-size: .7rem;
}
.bbclFooter .bbclLogoFoot{
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
    width: 121px;
    height: 22px;
    background-image: url(../img/logo-bbcl.png);
    background-position: 123px -17px;
    opacity: 0.7;
}
.bbclFooter .fInfo .columns{
    padding: 20px 0;
}

/* ---- CSS STANDAR [ELIMINAR] ----*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);


.content-left {
font-size: 16px;
  width: 1000px;
  margin: 0 auto; margin-bottom: 8px; }
.content-left * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }


.content-left header,
.content-left span,
.content-left .fLeft,
.content-left ul,
.content-left li,
.content-left img,
.content-left article{
float: none;
}
.content-left .eso {
    -webkit-animation: myfirst 0.5s infinite alternate; /* Chrome, Safari, Opera */
    animation: myfirst 0.5s  infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {color: white;}
    to {color: #010711;}
}

/* Standard syntax */
@keyframes myfirst {
    from {color: white;}
    to {color: #010711;}
}
.content-left .escucha a {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
/* -- / -- */
/* ---- CAJA RADIO BIO BIO ---- */

.content-left marquee {
  padding: 10px 0;
}

.radiocontainer{
-webkit-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
transition: all .2s ease-out;
overflow: hidden;
height: 66px;
position: relative;
}
.rbbinfo {
    font-size: 0.8125rem;
    color: #979797;
    margin: 8px 10px;
}
.rbbinfo h2 a{
    color: #164893;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
#rbb-paginador{
    margin: 0 auto;
    float: none;
    text-align: center;
}
#rbb-paginador ul{
    display: inline-block;
}
#rbb-paginador ul li {
  background-image: url("/assets/biobiochile/img/bullet-a.png");
  width: 14px;
  height: 14px;
  cursor: pointer;
  margin-left: 4px;
  display: inline-block;
}
#rbb-paginador ul li.activeSlide{
    background-image: url("/assets/biobiochile/img/bullet-b-rbb.png");
}
.radiocontainer:hover{
  height: 430px;
  z-index: 999;
}
.optionradio a{
  width: 217px;
margin-top: 0 !important;
border-top: 0 !important;
padding: 12px 12px 0 12px !important;
min-height: 30px;
background-color: rgba(0,0,0,0.9);
z-index: 9000;
}
 .box-rbb marquee span {
          display: inline-block;
          font-size: 0.8125rem;
          color: #7f8c8d;
          padding: 0 12px 0 8px;
          border-right: 1px solid #a8a8a8; }
 .box-rbb ul li span{
	  	  display: inline-block;
          font-size: 0.8125rem;
          color: #7f8c8d;
          padding: 0 25px 0 8px;
          border-right: 1px solid #a8a8a8;
          }

.box-rbb {
  width: 100%;
  float: left; }
  .box-rbb header {
    width: 100%;
    padding: 15px 0;
    height: auto;
    float: left; }
    .box-rbb header .logo {
      width: 488px;
      height: 90px;
      display: block;
      float: left;
      background-image: url(/assets/biobiochile/img/logo-rbb.png);
      background-size: cover; }
  .box-rbb .frecuencias {
    height: 40px;
    background-color: #ededed;
    margin-bottom: 15px;
    float: left;
    width: 100%; }
    .box-rbb .frecuencias .carrusel {
      width: 735px;
      float: left; }
      .box-rbb .frecuencias .carrusel ul {
        margin-top: 8px; }
        .box-rbb .frecuencias .carrusel ul li {
          display: inline-block;
          font-size: 0.8125rem;
          color: #979797;
          padding: 0 12px 0 8px;
          border-right: 1px solid #a8a8a8; }
    .box-rbb .frecuencias a.imprimir {
      width: 265px;
      height: 40px;
      float: right;
      text-align: center;
      display: block;
      color: #3c3c38;
      background-color: #333333; }
      .box-rbb .frecuencias a i {
        font-size: 1rem;
        margin-top: 12px; }
        .box-rbb .frecuencias a i span {
          font-size: 0.75rem;
          margin-left: 10px;
          font-weight: 700;
         }
      .box-rbb .frecuencias a:hover {
        background-color: #a8a8a8;
        text-decoration: none;
        }
  .box-rbb .contenido {
    width: 100%;
    height: 250px; }
    .box-rbb .contenido .envivo {
      width: 735px;
      height: 250px;
      background-image: url(/assets/biobiochile/img/i-vivo.jpg);
      background-size: cover;
      float: left;
      text-align: center; }
      .box-rbb .contenido .envivo .escucha {
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
        display: inline-block;
        margin-top: 70px; }
        .box-rbb .contenido .envivo .escucha a {
          display: table;
          font-size: 0.9rem;
          text-transform: uppercase;
          color: white;
          font-weight: 700;
          padding: 5px 12px;
          margin: 0 auto;
          border: 3px solid white;
          margin-top: 12px; }
          .box-rbb .contenido .envivo .escucha a .fa-stack {
            margin-right: 10px; }
          .box-rbb .contenido .envivo .escucha a:hover {
            background-color: black; }
    .box-rbb .contenido .programas {
      width: 250px;
      height: 250px;
      background-color: #ededed;
      float: right;
      overflow: hidden; }
      .box-rbb .contenido .programas img {
        width: 250px;
        height: 170px; }

     .rbb-menu-superior {
        float: right !important;
        display: inline-block !important;
        width: auto !important;
    }
    .rbb-menu-superior ul li{
        float: left;
    }
    .box-rbb .nosotros{
        margin-top: 35px;
    }
     .rbb-menu-superior h3 {
        color: #164893;
        float: right;
        margin-top: 35px;
        text-transform: uppercase;
    }

a.itemradio{
    color: #ffffff;
    font-weight: 500
}
.rbbbox .subMenuCiudades,
.rbbbox .bbclHeadLogo{
    display: none;
}
.rbbbox .adSuperior{
  background-color: transparent;
}
.rbbbox #rbb-info-box-ref{
    width: 1040px;
    margin: 0;
}
.box-rbb header .logo{
    margin-left: 15px;
}
.box-rbb .nosotros {
    margin-right: 15px;
}
.rbb-menu-superior ul li {
    float: left;
    font-size: .8rem;
    margin: 0 6px;
}
.programas h2{
    text-align: center;
}
.rbbbox .box-rbb .contenido .programas{
    margin-right: 15px;
}
.rbbbox .box-rbb .contenido .envivo{
    margin-left: 15px;
    width: 730px;
}
.orbit-bullets-container{
    margin-top: -25px;
    height: 30px;
}
.menuRadio{
    display: none;
}

.head_content .head .menuNew ul li{
  position: relative;
  float: left;
  width: 100%;
  font-size: .85rem;
}

/* ref radiobiobio.cl */
.rbbbox .menuRadio{
    display: block;
}
.rbbbox .menu {
    width: 1040px;
    float: left;
    display: block;
    margin-left: -15px;
}
.rbbbox .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
}
.rbbbox .menu ul li {
    float: left;
    padding: 0;
    -webkit-flex: auto;
    -ms-flex: auto;
    -moz-flex: auto;
    flex: auto;
    border-left: 1px solid rgba(0,0,0,0.1);
    position: relative;
}
.rbbbox .menu ul li a {
    font-size: .8rem;
    text-align: center;
    font-weight: 600;
    padding: 6px;
    display: block;
    color: #333;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
    border-top: 4px solid;
}
.rbbbox .menu ul li a:hover {
    color: #ffffff;
}
.rbbbox .menu ul li a.inicio {
    border-top-color: RGB(29, 111, 184);
}
.rbbbox .menu ul li a.inicio:hover {
    background-color: RGB(29, 111, 184);
}
.rbbbox .menu ul li a.nacional {
    border-top-color: RGB(0, 151, 221);
}
.rbbbox .menu ul li a.nacional:hover {
    background-color: RGB(0, 151, 221);
}
.rbbbox .menu ul li a.internacional {
    border-top-color: RGB(0, 178, 255);
}
.rbbbox .menu ul li a.internacional:hover {
    background-color: RGB(0, 178, 255);
}
.rbbbox .menu ul li a.economia {
    border-top-color: RGB(0, 173, 64);
}
.rbbbox .menu ul li a.economia:hover {
    background-color: RGB(0, 173, 64);
}
.rbbbox .menu ul li a.deporte {
    border-top-color: RGB(231, 0, 0);
}
.rbbbox .menu ul li a.deporte:hover {
    background-color: RGB(231, 0, 0);
}
.rbbbox .menu ul li a.sociedad {
    border-top-color: RGB(160, 0, 167);
}
.rbbbox .menu ul li a.sociedad:hover {
    background-color: RGB(160, 0, 167);
}
.rbbbox .menu ul li a.tecnologia {
    border-top-color: RGB(0, 146, 126);
}
.rbbbox .menu ul li a.tecnologia:hover {
    background-color: RGB(0, 146, 126);
}
.rbbbox .menu ul li a.cultura {
    border-top-color: RGB(255, 76, 0);
}
.rbbbox .menu ul li a.cultura:hover {
    background-color: RGB(255, 76, 0);
}
.rbbbox .menu ul li a.espectaculos {
    border-top-color: RGB(255, 165, 0);
}
.rbbbox .menu ul li a.espectaculos:hover {
    background-color: RGB(255, 165, 0);
}
.rbbbox .menu ul li a.hombre {
    border-top-color: RGB(60, 64, 188);
}
.rbbbox .menu ul li a.hombre:hover {
    background-color: RGB(60, 64, 188);
}
.rbbbox .menu ul li a.mujer {
    border-top-color: RGB(249, 0, 91);
}
.rbbbox .menu ul li a.mujer:hover {
    background-color: RGB(249, 0, 91);
}
.rbbbox .menu ul li a.opinion {
    border-top-color: RGB(68, 128, 142);
}
.rbbbox .menu ul li a.opinion:hover {
    background-color: RGB(68, 128, 142);
}
.rbbbox .menu ul li a.bbtv {
    border-top-color: RGB(0, 82, 161);
}
.rbbbox .menu ul li a.bbtv:hover {
    background-color: RGB(0, 82, 161);
}
.paraRadio{
	display: none;
	border-top: 15px solid #e9eaed;
	    height: 45px;
}
.rbbbox .paraRadio{
	display: block;
}
/* menui */
.head_content .head .menuNew #subMenuEconomiaNew .indicadores_superior{
  float: left;
  margin: 15px 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0,0,0,0.1);
}
.head_content .head .menuNew #subMenuEconomiaNew .indicadores_superior .titulo_indicadores {
  color: #000;
  font-size: .85rem;
}
.head_content .head .menuNew #subMenuEconomiaNew .indicadores_superior .indicador_superior span {
  color: #000;
  font-size: .8rem;
}
.head_content .head .menuNew #subMenuEconomiaNew .indicadores_superior .indicador_superior i {
  color: #000;
  font-size: .9rem;
}
.head_content .head .menuNew #subMenuEconomiaNew .indicadores_superior .indicador_superior .fa-arrow-up{
  color: lightgreen;
}
.head_content .head .menuNew #subMenuEconomiaNew .indicadores_superior .indicador_superior .fa-arrow-down{
  color: red;
}
.head_content .head .menuNew .subMenuSuperiorNew i {
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.head_content .head .menuNew .subMenuSuperiorNew,
.rbbbox .menu ul.subMenuSuperiorNew{
  display: none;
  position: absolute;
  top: 135px;
  width: 100%;
  left: 0;
  z-index: 1000;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo,
.rbbbox .menu ul.subMenuSuperiorNew.activo{
  display: block;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li,
.rbbbox .menu ul.subMenuSuperiorNew.activo li{
  width: 100%;
  border: none;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a,
.rbbbox .menu ul.subMenuSuperiorNew.activo li a{
  color: #333333;
  border-top: none;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a:hover,
.rbbbox .menu ul.subMenuSuperiorNew.activo li a:hover{
  color: #226cf8;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.nacional:hover{
  color: #226cf8;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.internacional:hover{
  color: #3878bc;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.economia:hover{
  color: #27a454;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.deporte:hover,
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.deporte i:hover{
  color: #e83b15;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a i{
  color: #000;
  font-weight: bold;
}
.subMenuFutbolNew ul li a:hover{
  color: #e83b15 !important;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.tendencias:hover,
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.tendencias i:hover{
  color: #f97300;
}
.subMenuSociedadNew ul li a:hover, .subMenuTecnologiaNew ul li a:hover, .subMenuCulturaNew ul li a:hover,
.subMenuTVNew ul li a:hover, .subMenuMujerNew ul li a:hover, .subMenuHombreNew ul li a:hover {
  color: #f97300 !important;
}
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.opinion:hover,
.head_content .head .menuNew .subMenuSuperiorNew.activo li a.opinion i:hover{
  color: #488090;
}
.desdeRadio{
	display: none;
}
.rbbbox .desdeRadio{
	display: block;
}
.rss .small-8,
.rss .small-4{
  padding: 0;
}
.superTitular {
  border-bottom: 5px solid #1F608B;
}
.box.superTitular.azul .relacionados{
  width: 100%;
  border: none;
}

    #caja_lateral_columnistas {
		width: 250px;
		height: 260px;
		overflow: hidden;
	}
	#caja_lateral_columnistas ul {
		width:250px;
		height:180px;
	}
	#caja_lateral_columnistas ul li {
		width:250px;
		height:220px;
		background-repeat: no-repeat;
	}
	#caja_lateral_columnistas ul li .nombre_columnista {
		color: #292929;
		margin: 10px 0 0 10px;
		font-weight: bold;
		font-size: 1rem;
	}
	#caja_lateral_columnistas ul li a {
		margin: 10px 0 0 10px;
		font-weight: bold;
		font-size: .9rem;
		color: #737373;
		width: 130px;
		float: left;
	}
	#caja_lateral_columnistas .orbit-slide-number {
		display: none;
	}
	#caja_lateral_columnistas .orbit-next {
		background-color: #2e348c;
		border-radius: 50px;
		width: 64px;
		right: -40px;
		top: 140px;
	}
	#caja_lateral_columnistas .orbit-next span {
		margin-left: -23px;
	}
	#caja_lateral_columnistas .orbit-prev {
		background-color: #2e348c;
		border-radius: 50px;
		width: 64px;
		left: -40px;
		top: 140px;
	}
	#caja_lateral_columnistas .orbit-prev span {
		margin-left: 33px;
	}
	#caja_lateral_columnistas #header_lateral_columnistas {
		width: 250px;
		height: 40px;
		border-top: 2px solid #2e348c;
	}
	#caja_lateral_columnistas #header_lateral_columnistas img {
		margin: 7px 0 0 20px;
		float: left;
	}
	#caja_lateral_columnistas #header_lateral_columnistas i {
		color: #2E348C;
		float: left;
		margin: 7px 0 0 20px;
		font-size: 22px;
	}
	#caja_lateral_columnistas #header_lateral_columnistas div {
		border-left: 2px solid #737373;
		color: #292929;
		font-weight: bold;
		font-size: 16px;
		float: left;
		margin: 5px 0 0 20px;
		padding-left: 20px;
	}
	#caja_lateral_columnistas ul li .link-columnistas{
		width: 250px;
		margin: 0;
		position: absolute;
		height: 220px;
		top: 0;
		left: 0;
	}
.container.categoria h3{
  /*text-transform: capitalize;*/
}
.contenido-nota h2{
    box-sizing: border-box;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    margin: 25px 0;
    border-left: 3px solid #E74C39;
    padding-left: 8px;
    color: #E74C39;
    margin-left: 9px;
    line-height: 1.5;
    font-size: 20px;
}
.ad_inferior{
  padding: 0;
}
.fbSuperior{
    width: 95px;
    float: left;
	max-height: 80px;
}
.contenido-nota blockquote {
    display: inline-block;
    background-color: #316596;
    border: 1px solid #2C467C;
    font-weight: 400;
    width: 100%;
    margin: 15px 0 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #ffffff;
    text-align: left;
}
.contenido-nota blockquote h2{
	color: #fff;
  border-left: 3px solid #fff;
}
.nota .contenido-nota blockquote p{
  color: #ffffff;
}
.nota .contenido-nota blockquote a{
	color: #66C2E0;
}
.contenido-nota p,
.contenido-nota a{
    line-height: 1.5;
}
.wp-caption{
	position: relative;
	display: inline-block;
}
.nota .contenido-nota .wp-caption .wp-caption-text{
    color: #333;
    background-color: rgba(0,0,0, .1);
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    font-size: .8rem;
}
.wp-caption.aligncenter {
    border-radius: 10px;
    display: block;
    text-align: center;
    margin: 15px auto;
}
.wp-caption.aligncenter img {
    display: block;
    width: auto;
    border: 5px solid rgba(0,0,0, .1);
    /*
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}
/*
.wp-caption.aligncenter p {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}*/
.nota .socialSuperior{
      width: 100%;
}
.nota .info i{
    margin: 7px 0;
    font-size: .8rem;
    color: #8c8c8c;
    font-style: normal;
    display: inline-block;
}
.nota .info a{
    margin: 7px 0;
    font-size: .8rem;
    display: inline-block;
}
a.bbcl-gal-thumb{
    width: 100px;
    height: 70px;
    background-size: cover;
    display: inline-block;
    margin: 2px 3px;
    border: 1px solid #666;
    opacity: .8;
    -webkit-transition:all .2s ease-out;  /* Chrome y Safari */
    -o-transition:all .2s  ease-out;  /* Opera */
    -moz-transition:all .2s  ease-out;  /* Mozilla Firefox */
    -ms-transition:all .2s  ease-out;   /* Internet Explorer */
    transition:all .2s  ease-out;  /* W3C */
}
a.bbcl-gal-thumb:hover{
    opacity: 1;
}
.content-bbcl-gal-thumb{
    width: 100%;
    display: inline-block;
    background: #f1f1f1;
    margin-top: 0px;
    padding-top: 0px;
}
.ad-1000x200{
  margin-top: 15px;
}
#adesta ul{
  list-style: none;
  margin: 0;
}
#adesta img{
  float: right;
}
#adesta a{
  color: #333333;
}
#adesta p {
    margin-top: 5px;
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
}
#adesta img {
    width: 100px;
    height: 80px;
    float: left;
    margin-left: 10px;
}
#adesta ul li {
    width: 100%;
    display: block;
    padding: 13px 0;
    float: left;
    border-bottom: 2px solid #dedede;
}
/*.adestacados header {
    width: 100%;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 4px 0;
}*/
.adestacados header h1 {
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    margin: 0;
}
.b-leidos ul{
  list-style: none;
  margin: 0;
}
.b-leidos li{
    margin-bottom: 10px;
    min-height: 80px;
}
.b-leidos .b-body a{
  font-size: .8rem;
  line-height: 1.2;
  display: block;
  color: #333333;
}
.b-leidos .b-body a:hover{
  color: #008CBA;
}
.b-leidos .b-body .b-img{
  float: right;
  width: 100px;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.b-leidos .b-body span{
    color: #666666;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 0px;
    display: block;
}
.b-leidos h4{
    font-size: 1rem;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    margin-bottom: 15px;
    margin-top: 0;
}
.box .b-body .b-btn a, .box .b-btn a {
    width: 100%;
    height: 35px;
    display: block;
}
.box .b-body .b-btn h3, .box .b-btn h3 {
    float: left;
    line-height: 33px;
    margin: 0;
    color: #FFF;
    font-size: 1rem;
}
.ad-nota{
  padding: 0;
}
.b-leidos.nacional .b-body .b-btn, .b-leidos.internacional .b-body .b-btn {
    background-color: #419bda;
}
.reveal-modal{
  width: 30%;
}
marquee > div{
  display: inline-block;
}
.contenido-nota blockquote em, i{
	color: #ffffff;
}
.contenido-nota em, i,
.contenido-nota em a, i a{
	font-style: italic;
}
.nota h1{
    font-weight: 400 !important;
    margin: 10px 0 20px 0;
    display: inline-block;
    width: 100%;
    line-height: 2.2;
}
.enDesarrollo{
  width:100%;
  float: left;
}
.enDesarrollo > div{
    background: #f8b700;
     float: left;
    padding: 8px 20px;
    color: #FFF;
    font-weight: bold;
    margin: 0 10px 10px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; width: 680px;text-transform: uppercase;
}
.twitter-tweet{
      margin-left: auto;
    margin-right: auto;
}
.nota .imgDestacada img{
  width: 100%;
}
.MapaContiene {
    width: 100%;
    height: 200px;
    float: left;
    margin: 10px 0;
}
.MapaContiene .wp_geo_map{
  height: 200px;
}
#texto-fotodest p{
  margin: 0;
}
.alignright{
	float: right;
}
.alignright img{
	margin-left: 10px;
	border: 5px solid rgba(0,0,0, .1);
}
.nota .contenido-nota .wp-caption.alignright .wp-caption-text{
    margin-left: 10px;
}
.d>div {
    display: inline-block;
}
.fotoCiudadana,
.videoCiudadano{
  width: 100%;
}
.container.categoria.empresa,
.box.empresa{
    border-top-color: rgb(0, 173, 64);
}
.adSuperior200x200{
  width: 200px;
  height: 200px;
  float: left;
  display: block;
      margin-top: -75px;
    margin-left: 15px;
}
.aligncentercontainer{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.alignleft{
	float: left !important;
	max-width: 350px;
  margin-right: 10px;
}
.adsLateral{
	position: relative;
}
.adsLateral #div-gpt-ad-1402410227712-0 {
	position: absolute;
	top: -230px;
}
.adsLateral #div-gpt-ad-1371847906253-0 {
	margin-top: 0px !important;
}
.information{
  background-color: rgba(249, 12, 92, .9);
}
iframe{
  overflow: hidden;
  border: none;
}
.relacionados .pic .time{
	position: absolute;
    top: 0;
    left: 15px;
    background-color: rgba(0,44,107,0.7);
    color: #ffffff;
    font-size: .7rem;
    padding: 5px 10px;
}
.en_logo{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/en-bbcl.png);
}
.no-rel{
  padding: 0 !important;
}
.no-rel .dos-relacionados,
.no-rel .relacionados{
  margin: 0 !important;
}

#publicidad { min-height:80px; }

.caja-psu{border-top:1px solid rgba(145,151,163,0.2);border-left:1px solid rgba(145,151,163,0.2);border-right:1px solid rgba(145,151,163,0.2);background-color:rgba(0,0,0,0.05);margin-bottom:15px}.caja-psu header{padding-left:15px;background-color:#009688}.caja-psu header h5{color:white}.caja-psu header h5 i{margin-right:10px}.caja-psu ul{padding:0 10px}.caja-psu ul li a .pic{height:110px;background-color:#999}.caja-psu ul li a h1{font-size:.9rem;font-weight:600;line-height:1.3;margin:7px 0}.caja-psu-lateral{width:250px;padding:0;overflow:hidden;border-top:1px solid rgba(145,151,163,0.2);border-left:1px solid rgba(145,151,163,0.2);border-right:1px solid rgba(145,151,163,0.2);background-color:rgba(0,0,0,0.05)}.caja-psu-lateral header{padding:10px;background-color:#009688}.caja-psu-lateral header h3{color:white}.caja-psu-lateral header i{margin-right:10px}.caja-psu-lateral section{padding:0 10px 10px 10px}.caja-psu-lateral section .pic{width:100%;height:130px;margin-bottom:10px}.caja-psu-lateral section h1{font-size:.9rem;font-weight:600;color:#002c6b}
/*# sourceMappingURL=psu-caja.css.map */
.super-titular .super-box .relacionados .columns h1{ font-weight:500 !important; }

.super-titular .super-box .relacionados .columns{ min-height: 100px; }
.super-titular .super-box .relacionados .columns.ver-mas{ min-height: auto; }

.tuiteable{font-size: 16px;background:whitesmoke;padding:4px;padding-right:22px;padding-left:5px;background-position:center right;background-image:url(http://www.biobiochile.cl/assets/img/tw_line.png);background-repeat:no-repeat}a.tuiteable:hover{text-decoration:none}


.barra_elecciones_argentina{
	width:1000px;
	height:70px;
	float:left;
}
.barra_elecciones_argentina .titulo_elecciones_argentina {
	width:275px;
	background:url('http://www.biobiochile.cl/assets/bbclnew/img/titulo_elecciones.png?v=1.0.0');
	float:left;
	height:70px;
}
.barra_elecciones_argentina .cont_elecciones_argentina{
	width:720px;
	background:#cdcdcd;
	float:left;
	height:70px;
}
.barra_elecciones_argentina .cont_elecciones_argentina .argentina_face1{
	width:55px;
	background:url('http://www.biobiochile.cl/assets/bbclnew/img/cara_scioli.png');
	float:left;
	height:70px;
}
.barra_elecciones_argentina .cont_elecciones_argentina .argentina_face2{
	width:55px;
	background:url('http://www.biobiochile.cl/assets/bbclnew/img/cara_macri.png');
	float:right;
	height:70px;
}
.barra_elecciones_argentina .cont_elecciones_argentina .cont_candidatos{
	width:610px;
	background:#cdcdcd;
	float:left;
	height:70px;
}
.barra_elecciones_argentina .cont_elecciones_argentina .cont_candidatos .can_1{
	float:left;
	height:70px;
	background:#d9effc;
}
.barra_elecciones_argentina .cont_elecciones_argentina .cont_candidatos .can_2{
	float:right;
	height:70px;
	background:#fff2cf;
}
.barra_elecciones_argentina .cont_elecciones_argentina .cont_candidatos .nombre_can{
	margin-top:15px;
	float:left;
	width:100%;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
	color: #2d3e46;
}
.barra_elecciones_argentina .cont_elecciones_argentina .cont_candidatos .votos_can{
	float:left;
	width:100%;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
	color: #708188;
}
.wp-audio-shortcode{
	visibility: visible !important;
}
.nota #etiquetas {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.nota #etiquetas a {
	background: #FFF;
    padding: 5px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    color: #2776b8;
    text-transform: uppercase;
    font-size: .7rem;
    border: 1px solid #2776b8;
}
.nota #etiquetas a:hover {
	background: #246cb8;
	color: #fff;
  }
.box.regional .tab-title a{
	font-size: .71rem;
}
.indicadores_caja {
    font-size: .8rem;
}
.indicadores_caja span {
	margin-left: 15px;
    font-size: .8rem;
}
.twitter-video{
  margin: 10px auto !important;
}


/* ------------------------------------------------------------------

	CAMBIOS 2016

------------------------------------------------------------------ */

	h1{
		font-weight: 300 !important;
		-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
	}

	.postChico li h1{
		font-size: 14px !important;
	}

	/* barra noticias */
  .barra_tags {
      background: linear-gradient(90deg, #04274a 50%, #084e92 50%);
  }
  .barra_tags .row #marquee {
      background:#003660;
  }
  .barra_tags .row .en_edi {
      background:#013156;
      color:white;
      text-transform:uppercase;
      font-size: 0.8rem;
      padding: 8px 0 0 20px;
      font-weight:bold;
  }
	.barra_tags .row #marquee #cont_tags {
      height:100%;
      padding-top:0;
  }
    .barra_tags .row #marquee #cont_tags .div_tag a{
	 	display: block;
	 	padding: 9px 0;
    }
  .barra_tags .row #marquee #cont_tags .div_tag {
      display:inline-block;
      margin-left:20px;
      vertical-align: middle;
  }
  .barra_tags .row #marquee #cont_tags .div_tag i {
      float:left;
      margin-right:5px;
  }
  .barra_tags .row #marquee #cont_tags .div_tag h1 {
      text-transform:uppercase;
      font-weight: 600 !important;
      opacity: .7;
      margin: 0;
			display: block;
  }
  .barra_tags .row #marquee #cont_tags .div_tag h1:hover {
  		opacity: 1;
  }

	/* color titulares */
		.box h1{color: #000;}
		.box h1:hover{color: #333;}

		/* comentarios bio bio & bio bio blogs */
		.comentariosBioBio ul li h1, .BioBioBlogs ul li h1{color: #000;}
		.comentariosBioBio ul li h1:hover, .BioBioBlogs ul li h1:hover{color: #333;}

		/* caja mas leidos */
		.masLeido .tabs-content ul li h6{color: #000;}
		.masLeido .tabs-content ul li h6:hover{color: #333;}


	/* Barra ciudades */
	.subMenuCiudades{
    background-color: #4e6785;
	}
	.subMenuCiudades li a{
		color: #fff;
		font-weight: 600;
	}
	.subMenuCiudades li:hover{
		background-color: rgba(0,0,0,0.4)
	}
	.subMenuCiudades li:hover a{
		color: white;
	}

	.subMenuCiudades ul li:first-child{
		background-color: rgba(0,0,0,0.4);
		display: none;
	}
	.subMenuCiudades ul li:first-child a{
		cursor: default;
	}

	.subMenuCiudades ul li:first-child:hover{
		background-color: rgba(0,0,0,0.2);
	}

	.subMenuCiudades ul li:first-child:hover a{
		background-color: rgba(0,0,0,0.6);
	}

	/* fanpage facebook */
	.like-fanpage {
		float: left;
		margin-top: 10px;
		width: 100%;
	}
	.like-fanpage img {
		width: 20px;
		float: left;
	}
	.like-fanpage a {
		color: #000;
	}
	.like-fanpage span.texto-fanpage {
		font-family: Helvetica;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		padding-top: 2px;
		float: left;
		margin: 0 5px 0 5px;
	}
	.like-fanpage .fb-like{
		margin-top: -4px;
		float: left;
	}
	.box .postChico li{
		min-height: 55px ;
	}

	#box-caja-videos {
    width: 100%;
    background:#313131;
    float:left;
    margin-top:15px;
    height:170px;
    overflow:hidden;
    overflow-y: hidden;
  }
  #box-caja-videos .example-orbit {
    list-style: none;
    height: 170px !important;
  }
  #box-caja-videos .cont-video {
    width: 230px;
    float:left;
    padding:10px;
  }
  #box-caja-videos .orbit-container ul {
    margin-left: 20px;
  }
  #box-caja-videos .cont-video:hover{
    opacity: 1;
  }
  #box-caja-videos .cont-video a .pic {
    background-repeat:no-repeat;
    background-size:cover;
    height:100px;
    text-align: center;
  }
  #box-caja-videos .cont-video a .pic i {
    font-size: 2.5rem;
    margin-top: 30px;
    color: #000;
    background: rgb(255, 255, 255);
    width: 40px;
    border-radius: 50%;
  }
	#box-caja-videos .cont-video a .pic .cat-video {
    background: #5597DD;
    padding: 0px 5px 0px 5px;
    position: absolute;
    color: #fff;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  #box-caja-videos .cont-video a .pic .cat-video.Internacional {
    background: #00b2ff;
  }
  #box-caja-videos .cont-video a h4 {
    color: #000;
    font-size: .8rem;
  }
  #box-caja-videos #ver-mas-videos {
    color: #fff;
    background: #000;
    margin-top: 50px;
    padding: 10px;
    font-size: 14px;
  }
  #box-caja-videos .orbit-slide-number, #box-caja-videos .orbit-timer {
    display: none;
  }
  #box-caja-videos .orbit-container .orbit-prev, #box-caja-videos .orbit-container .orbit-next{
    background: #5C7583;
    width: 20px;
    height: 30px;
    top: 90px;
  }
  #box-caja-videos .orbit-container .orbit-prev {
    left: 5;
  }
  #box-caja-videos .orbit-container .orbit-next {
    right: 5;
  }
  #box-caja-videos .orbit-container .orbit-prev span {
    left: -5px;
  }
  .cont-video label {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
  }

 .votacion {
  border: 1px solid #bebebd;
  padding-bottom: 0.9375rem;
}

.votacion h4 {
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}

.votacion > div {
  position: relative;
  min-height: 200px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.votacion h5 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.95));
  color: #FFF;
  font-size: .9rem !important;
  text-align: center;
  padding: .5rem 0;
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  width: 100%;
}

.votacion > div span {
  background-color: #ccc;
  color: #333;
  text-align: center;
  line-height: .9rem;
  position: absolute;
  z-index: 10;
  right: 0;
  font-weight: bold;
  padding: .2rem .4rem .6rem;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: .6rem;
  text-transform: uppercase;
}

.votacion > div span div {
  line-height: 1.2rem;
  font-size: .8rem;
}
/* estilo caja copa centenario */
/*
.bbclFutbol {
  background-color: #0b0d3c !important;
  border-top: 3px solid #98752a !important;
}
.bbclFutbol .bbcl {
  color: #fff !important;
  font-weight: bold;
}
.bbclFutbol header h3 {
  color: #ec2b3a;
  font-weight: bold;
}
.bbclFutbol h1 {
  color: #fff !important;
}
.bbclFutbol h1.medio {
  border-top: 1px solid #98752a !important;
}
.bbclFutbol footer a {
    font-weight: bold;
    color: #98752a !important;
}*/
/* estilo caja copa centenario */
.barra_tags .row .en_edi {
  background:#04274A !important;
}
.barra_tags .row #arrow-right {
    width: 0;
    height: 0;
    border-top: 17px solid transparent !important;
    border-bottom: 17px solid transparent !important;
    border-left: 16px solid #04274A !important;
    background: transparent;
    position: absolute;
    right: -16px;
    z-index: 999;
    top: 0;
}
.barra_tags .row #marquee #cont_tags {
    background:#084e92 !important;
    padding-left:20px !important;
}
.barra_tags .row #marquee #cont_tags .div_tag h1 {
    opacity: 1 !important;
}
.ca-marcador {
	min-height: 0 !important;
}
.caja-olmue-lateral section .pic {
    height: 180px !important;
}
.caja-olmue-lateral section {
    background: #000 !important;
}
.caja-olmue-lateral section h1 {
  color: #fff !important;
  border-top: 1px solid #868686 !important;
  padding-top: 20px !important;
}
.caja-olmue-lateral section h1:hover {
  color: #00b2ff !important;
}
.caja-olmue-lateral {
  border-top: 3px solid #00b2ff !important;
}
#caja-ana-josefa {
  border:1px solid #d0d0d0;
}
#caja-ana-josefa .cont-nota {
  margin:10px;
}
#caja-ana-josefa .cont-nota h1 {
  font-size:14px;
}
#caja-ana-josefa .cont-nota .titulo-caja {
  border-top:1px solid #000;
  padding-top: 20px;
}
#caja-ana-josefa .footer div {
  float:right;font-size: 14px;
  font-weight: bold;
  color: #000;
}
#caja-ana-josefa .footer div a {
  float:right;font-size: 14px;
  font-weight: bold;
  color: #000;
}


#box-caja-rio {
  width: 100%;
  background:#313131;
  float:left;
  margin-top:15px;
  height:170px;
  overflow:hidden;
}
#box-caja-rio .cont-video {
  width:242px;
  float:left;
  padding:10px;
}
#box-caja-rio .orbit-container ul {
  margin-left: 20px;
}
#box-caja-rio .cont-video:hover{
  opacity: 1;
}
#box-caja-rio .cont-video a .pic {
  background-repeat:no-repeat;
  background-size:cover;
  height:100px;
  text-align: center;
}
#box-caja-rio .cont-video a .pic i {
  font-size: 2.5rem;
  margin-top: 30px;
  color: #000;
  background: rgb(255, 255, 255);
  width: 40px;
  border-radius: 50%;
}
#box-caja-rio .cont-video a .pic .cat-video {
  background: #5597DD;
  padding: 0px 5px 0px 5px;
  position: absolute;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}
#box-caja-rio .cont-video a .pic .cat-video.Internacional,
.box-caja-videos .cont-video a .pic .cat-video.Internacional {
  background: #00b2ff;
}
#box-caja-rio .cont-video a h4 {
  color: #fff;
  font-size: .8rem;
}
#box-caja-rio #ver-mas-videos {
  color: #fff;
  background: #000;
  margin-top: 50px;
  padding: 10px;
  font-size: 14px;
}
#box-caja-rio .orbit-slide-number, #box-caja-videos .orbit-timer {
  display: none;
}
#box-caja-rio .orbit-container .orbit-prev,
#box-caja-videos .orbit-container .orbit-next{
  background: #5C7583;
  width: 20px;
  height: 30px;
  top: 90px;
}
#box-caja-rio .orbit-container .orbit-prev {
  left: 5;
}
#box-caja-rio .orbit-container .orbit-next {
  right: 5;
}
#box-caja-rio .orbit-container .orbit-prev span {
  left: -5px;
}
.box-caja-videos {
  width: 100%;
  background:#313131;
  float:left;
  margin-top:15px;
  height:170px;
  overflow:hidden;
  overflow-y: hidden;
}
.box-caja-videos .example-orbit {
  list-style: none;
  height: 170px !important;
}
.box-caja-videos .cont-video {
  width: 230px;
  float:left;
  padding:10px;
}
.box-caja-videos .orbit-container ul {
  margin-left: 20px;
}
.box-caja-videos .cont-video:hover{
  opacity: 1;
}
.box-caja-videos .cont-video a .pic {
  background-repeat:no-repeat;
  background-size:cover;
  height:100px;
  text-align: center;
}
.box-caja-videos .cont-video a .pic i {
  font-size: 2.5rem;
  margin-top: 30px;
  color: #000;
  background: rgb(255, 255, 255);
  width: 40px;
  border-radius: 50%;
}
.box-caja-videos .cont-video a .pic .cat-video {
  background: #5597DD;
  padding: 0px 5px 0px 5px;
  position: absolute;
  color: #fff;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}
.box-caja-videos .cont-video a .pic .cat-video.Internacional {
  background: #00b2ff;
}
.box-caja-videos .cont-video a h4 {
  color: #fff;
  font-size: .8rem;
}
.box-caja-videos #ver-mas-videos {
  color: #fff;
  background: #000;
  margin-top: 50px;
  padding: 10px;
  font-size: 14px;
}
.box-caja-videos .orbit-slide-number, .box-caja-videos .orbit-timer {
  display: none;
}
.box-caja-videos .orbit-container .orbit-prev, .box-caja-videos .orbit-container .orbit-next{
  background: #5C7583;
  width: 20px;
  height: 30px;
  top: 90px;
}
.box-caja-videos .orbit-container .orbit-prev {
  left: 5;
}
.box-caja-videos .orbit-container .orbit-next {
  right: 5;
}
.box-caja-videos .orbit-container .orbit-prev span {
  left: -5px;
}
.cont-video label {
  color: #000;
  margin-bottom: 20px;
  margin-top: 30px;
}
.box .pic {
	position: relative;
}
.box .pic .time.pin {
  background-color: rgba(255,255,255,0.95) ;
	font-size: .7rem;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
  z-index: 999;
}
.box .pic .time.pin i {
  color: #4A90E2;
}

#newMasLeido .cont-newMasLeido .caja .interior .titulo {
	font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #0d4f9b;
  padding-bottom: 2px;
  margin-bottom: 15px;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto {
  margin: 0px;
  list-style: none;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li .nota-imagen {
  width: 100%;
  height: 150px;
  background-size: cover !important;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li .posicion {
	position: absolute;
  margin-top: -150px;
  background: #1b4d90;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 0px;
  font-size: 1.5rem;
  font-weight: bold;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li {
	border-bottom: 2px solid #cecece;
  margin-bottom: 15px;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li h3 {
	font-size: .9rem;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li .numero-visitas {
	font-size: .9rem;
	font-weight: bold;
	float: left;
    margin-left: 0;
}

#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li .dot {
	float: left;
  font-size: 3rem;
  line-height: 17px;
  color: #9a9a9a;
  margin: 0 3px 0 3px;
}

#newMasLeido #newMasSociedad .caja .interior .titulo {
  border-bottom: 2px solid #a000a7 !important;
}
#newMasLeido #newMasSociedad .caja .interior .lista-con-foto li .posicion {
  background: #a000a7 !important;
}

#newMasLeido #newMasNacional .caja .interior .titulo {
  border-bottom: 2px solid #0097dd !important;
}
#newMasLeido #newMasNacional .caja .interior .lista-con-foto li .posicion {
  background: #0097dd !important;
}

#newMasLeido #newMasInternacional .caja .interior .titulo {
  border-bottom: 2px solid #00B2FF !important;
}
#newMasLeido #newMasInternacional .caja .interior .lista-con-foto li .posicion {
  background: #00B2FF !important;
}

#newMasLeido #newMasEconomia .caja .interior .titulo {
  border-bottom: 2px solid #00AD40 !important;
}
#newMasLeido #newMasEconomia .caja .interior .lista-con-foto li .posicion {
  background: #00AD40 !important;
}

#newMasLeido #newMasTecnologia .caja .interior .titulo {
  border-bottom: 2px solid #00927e !important;
}
#newMasLeido #newMasTecnologia .caja .interior .lista-con-foto li .posicion {
  background: #00927e !important;
}

#newMasLeido #newMasCultura .caja .interior .titulo {
  border-bottom: 2px solid #ff4c00 !important;
}
#newMasLeido #newMasCultura .caja .interior .lista-con-foto li .posicion {
  background: #ff4c00 !important;
}

#newMasLeido #newMasEspectaculos .caja .interior .titulo {
  border-bottom: 2px solid #ffa500 !important;
}
#newMasLeido #newMasEspectaculos .caja .interior .lista-con-foto li .posicion {
  background: #ffa500 !important;
}

#newMasLeido #newMasHombre .caja .interior .titulo {
  border-bottom: 2px solid #3C40BC !important;
}
#newMasLeido #newMasHombre .caja .interior .lista-con-foto li .posicion {
  background: #3C40BC !important;
}

#newMasLeido #newMasOpinion .caja .interior .titulo {
  border-bottom: 2px solid #44808e !important;
}
#newMasLeido #newMasOpinion .caja .interior .lista-con-foto li .posicion {
  background: #44808e !important;
}

.totalPosts {
  display: none !important;
}

#box-caja-videos .cont-video a h4,
.orbit-container .orbit-slides-container,
#newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li h3{

}

body #newMasLeido .cont-newMasLeido .caja .interior .lista-con-foto li h3 {
  padding: 0px 5px 0 5px;
}

#cont-cajaradio {
    float: left;
    width: 100%;
    border: 1px solid #cecece;
    border-top: 3px solid #2953a0;
}
#cont-cajaradio .cont-superior {
    float: left;
    width: 100%;
    padding: 10px 20px;
}
#cont-cajaradio .cont-superior img {
    width: 30px;
    border-radius: 1px;
    float: left;
    margin-right: 10px;
}
#cont-cajaradio .cont-superior h3 {
    float: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 3px;
}
#cont-cajaradio .cont-notas {
    float: left;
    width: 100%;
}
#cont-cajaradio .cont-notas .nota {
    float: left;
    width: 100%;
    border-top: 1px solid #cecece;
    padding: 10px 5px;
}
#cont-cajaradio .cont-notas .nota i {
  float: left;
  color: #fff;
  background-color: #2953a0;
  padding: 6px 0;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-left: 5px;
  display: inline-block;
}
#cont-cajaradio .cont-notas .nota h3 {
    font-size: .8rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    display: inline-block;
    width: 190px;
}
#cont-cajaradio .cont-notas .nota.ver-mas {
    padding: 0;
}
#cont-cajaradio .cont-notas .nota.ver-mas a {
  color: #fff;
  background: #2953a0;
  font-size: 1rem;
  font-weight: 600;
  float: right;
  padding: 8px 10px 2px 20px;
  margin-top: 10px;
  border-radius: 30px 0px 0px;
}
#cont-cajaradio .cont-notas .nota.ver-mas a i {
  font-size: .8rem;
  width: auto;
  height: auto;
  margin: 0;
}
