@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/ProximaNova-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/ProximaNova-Light.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/ProximaNova-Semibold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/ProximaNova-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
body{background-color:#e9eaed;font-family: "proxima-nova", sans-serif ; -webkit-font-smoothing:antialiased;}
h1, h2, h3, h4, h5, h6{
	font-family: "proxima-nova", sans-serif ;
}
.super-titular{padding:15px 15px 0 15px;margin-top:30px}.super-titular .super-box{background-color:#006063;padding:15px}.super-titular .super-box .now{display:none}.super-titular .super-box.ahora{background-color:#ed1c24}.super-titular .super-box.ahora .now{display:block;position:absolute;padding:5px 30px;color:#fff;background-color:#ed1c24;top:15px;left:-30px;border-bottom:1px solid rgba(0,0,0,0.1)}.super-titular .super-box.ahora .trianguloAhora{width:0;height:0;border-top:15px solid #A20000;border-left:15px solid transparent;top:49px;position:absolute;left:-30px}.super-titular .super-box h1{color:#FFF}.super-titular .super-box .titular .titular-img{width:100%;height:350px;background-color:#000;display:block;position:relative;background-repeat:no-repeat;background-position:left}.super-titular .super-box .titular .titular-img a{width:100%;height:100%;display:block}.super-titular .super-box .titular .titular-img a .texto{width:615px;height:100%;background-image:url(http://www.biobiochile.cl/assets/bbclnew/img/st-mask.png);background-repeat:no-repeat;display:block;float:right;text-align:right;padding-right:15px}
.super-titular .super-box .titular .titular-img a .texto h1{
	width: 460px;
	float: right;
	line-height: 1.1;
	padding: 15px;
  margin-top: 120px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	font-weight: 600 !important;
	font-size: 38px;
}
	.super-titular .super-box .dos-relacionados{margin-top:15px}.super-titular .super-box .dos-relacionados .pic{width:150px;height:90px;float:left;margin-right:15px}.super-titular .super-box .dos-relacionados h1{font-size:1.1rem;margin-top:0;font-weight:600}.super-titular .super-box .relacionados{margin-top:15px}.super-titular .super-box .relacionados .columns{margin-bottom:15px;min-height:80px;float:left}.super-titular .super-box .relacionados .columns .pic{width:125px;height:75px;float:left;margin-right:15px}.super-titular .super-box .relacionados .columns h1{font-size:13px;margin-top:0}.super-titular .super-box .relacionados .ver-mas{margin-bottom:0;display:block;position:relative;margin-top:10px;min-height:auto}.super-titular .super-box .relacionados .ver-mas a{font-size:13px;font-weight:700;color:white;width:145px;margin:0 auto;display:block;background-color:rgba(255,255,255,0.4);text-align:center;padding:8px 0}.super-titular .super-box .relacionados .ver-mas:after,.super-titular .super-box .relacionados .ver-mas:before{content:"";border-top:1px solid rgba(255,255,255,0.4);width:417px;display:block;position:absolute;top:50%}.super-titular .super-box .relacionados .ver-mas:after{right:15px}.super-titular .super-box .multimedia{margin-top:20px}.super-titular .super-box .multimedia a.pic{width:100%;height:120px;display:block;position:relative}.super-titular .super-box .multimedia a.pic .mask{width:100%;height:100%;display:block;position:relative;background-image:url(http://www.biobiochile.cl/assets/bbclnew/img/st-mask-m.png);padding:15px}.super-titular .super-box .multimedia a.pic .mask .icon{font-size:12px;color:white;font-weight:700;text-transform:uppercase;background-color:red;display:inline-block;padding-right:5px;position:absolute;top:15px;left:15px}.super-titular .super-box .multimedia a.pic .mask .icon i{background-color:rgba(0,0,0,0.2);padding:5px;margin-right:5px}.super-titular .super-box .multimedia a.pic .mask h1{color:white;font-size:14px;line-height:1.1;position:absolute;bottom:15px;width:86%}
	.container.categoria{border-top:3px solid}.container.categoria.nacional{border-top-color:#0097dd}.container.categoria.nacional .bgColor{color:#0097dd}.container.categoria.internacional{border-top-color:#00b2ff}.container.categoria.internacional .bgColor{color:#00b2ff}.container.categoria.economia{border-top-color:#00ad40}.container.categoria.economia .bgColor{color:#00ad40}.container.categoria.deporte{border-top-color:#e70000}.container.categoria.deporte .bgColor{color:#e70000}.container.categoria.sociedad{border-top-color:#a000a7}.container.categoria.sociedad .bgColor{color:#a000a7}.container.categoria.tecnologia{border-top-color:#00927e}.container.categoria.tecnologia .bgColor{color:#00927e}.container.categoria.cultura{border-top-color:#ff4c00}.container.categoria.cultura .bgColor{color:#ff4c00}.container.categoria.espectaculos{border-top-color:orange}.container.categoria.espectaculos .bgColor{color:orange}.container.categoria.hombre{border-top-color:#3c40bc}.container.categoria.hombre .bgColor{color:#3c40bc}.container.categoria.opinion{border-top-color:#44808e}.container.categoria.opinion .bgColor{color:#44808e}.container.categoria.mujer{border-top-color:#f9005b}.container.categoria.mujer .bgColor{color:#f9005b}.container.categoria.bbtv{border-top-color:#0052a1}.container.categoria.bbtv .bgColor{color:#0052a1}.container.categoria h3{padding:0 15px;font-size:1.3rem;margin:5px 0}.marco{height:35px;display:block;background-color:#000000;position:fixed;z-index:5000;width:100%}.marco .plaza{width:150px;float:left;background-color:#000000;height:35px;position:relative;cursor:pointer;text-align:center}.marco .plaza .fa-caret-down{margin-left:7px}.marco .plaza h6{font-size:.8rem;color:#ffffff;margin:0;line-height:2rem}.marco .plaza .lista{height:0;position:absolute;top:35px;left:0;width:100%;background-color:#FF892A;padding:0;margin:0;list-style:none;-webkit-transition:all 0.2s;-o-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;overflow:hidden;text-align:left}.marco .plaza .lista li{padding-left:20px;height:35px;border-top:1px solid rgba(0,0,0,0.1)}.marco .plaza .lista li:nth-child(1){background-color:#4a37a6}.marco .plaza .lista li:nth-child(1):hover{background-color:#271D5A}.marco .plaza .lista li:nth-child(2){background-color:#cd3357}.marco .plaza .lista li:nth-child(2):hover{background-color:#9A2641}.marco .plaza .lista li:nth-child(3){background-color:#2d45a3}.marco .plaza .lista li:nth-child(3):hover{background-color:#22347B}.marco .plaza .lista li:nth-child(4){background-color:#3f831d}.marco .plaza .lista li:nth-child(4):hover{background-color:#2E6115}.marco .plaza .lista li a{color:#ffffff;font-size:.8rem;line-height:2rem;display:block}.marco .plaza:hover .lista{height:140px}.marco .radio{width:215px;float:left;background-color:#fd7100;height:35px;position:relative;cursor:pointer;text-align:center}.marco .radio .fa-volume-up{margin-right:7px}.marco .radio .fa-caret-down{margin-left:7px}.marco .radio h6{font-size:.8rem;color:#ffffff;margin:0;line-height:2.2rem}.marco .radio .lista{height:0;position:absolute;top:35px;left:0;width:100%;background-color:#FF892A;padding:0;margin:0;list-style:none;-webkit-transition:all 0.2s;-o-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;transition:all 0.2s;overflow:hidden;text-align:left}.marco .radio .lista li{padding-left:20px;height:35px;border-top:1px solid rgba(0,0,0,0.1)}.marco .radio .lista li:hover{background-color:#fd7100}.marco .radio .lista li a{color:#ffffff;font-size:.8rem;line-height:2rem;display:block}.marco .radio:hover .lista{height:280px}.marco .row{max-width:1255px}
	.marco .row h1{font-size:.8rem;color:#ffffff;line-height:1.4;margin-top:9px}
	.marco #marquee{float:left;width:676px;height:35px;overflow:hidden;position:relative}.marco #marquee .resLeft{position:absolute;top:0;left:0;height:35px;width:40px;background-image:-webkit-gradient(linear, left top, right top, from(#000), to(rgba(0,0,0,0.1)))}.marco #marquee .resRight{position:absolute;top:0;right:0;height:35px;width:40px;background-image:-webkit-gradient(linear, right top, left top, from(#000), to(rgba(0,0,0,0.1)))}.super_content{max-width:1255px;display:block;margin:15px auto}.container{background-color:#ffffff;min-width:1040px;float:left;display:block;position:relative;min-height:1000px}.adsLateral{width:200px;float:left;margin-left:15px}.ads-superior{box-sizing:border-box;padding-left:23.5px;margin:15px 0}.fixed{left:inherit}.head_content{background-color:#ffffff;display:block;margin:0 auto;padding-top:35px}.head_content .head{max-width:1255px;height:auto;position:relative}.head_content .head .social{position:absolute;right:215px;top:12px}

.head_content .head .social h6{
	display:inline-block;padding:0;margin:0
}

.subMenu {
    display: none;
    top: 35px;
    left: 0;
    z-index: 1000;
}

.head_content .head .social .fa{
	color:#ffffff;text-align:center;line-height:2rem;width:33px;height:33px;margin-left:4px
}

.head_content .head .social .fa-facebook{
	background-color:#395e93;
	border-radius: 50px;
}
.head_content .head .social .fa-twitter{
	background-color:#64a3d6;
	border-radius: 50px;
}
.head_content .head .social .fa-instagram{
	background-color:#b8ad92;
	border-radius: 50px;
}
.head_content .head .social .fa-paper-plane{
	border-radius: 50px;
}
.head_content .head .busca{
	position:absolute;
	top:50px;
	right:215px;
	width:18%;
	padding:5px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.head_content .head .busca .row.collapse{
	width:240px
}
.head_content .head .busca #buscador{
	background: #eee;
}
.head_content .head .busca .lupa-search{
	position: absolute;
    right: 10px;
    text-align: right;
}
.head_content .head .busca input[type='search']{
	height:30px;
	margin:0;
	border-radius: 50px;
}
.head_content .head .busca input[type='search']::-webkit-input-placeholder,
.head_content .head .busca input[type='search']:-moz-placeholder,
.head_content .head .busca input[type='search']::-moz-placeholder,
.head_content .head .busca input[type='search']:-ms-input-placeholder {
   color: #656464;
}
.head_content .head .busca button[type='submit']{
	height:30px;margin:0;padding:0 .7rem;background-color:transparent;color:#a1a1a1;
}
.head_content .head .logo{
	width:300px;height:52px;margin:25px 0 25px 15px;padding:0;border:0;
	background-image:url("http://www.biobiochile.cl/assets/img/newBbcl.png");
	background-repeat:no-repeat;display:block;background-size: cover;
}

.head_content .head .menuNew{
	width:1040px;
	float:left;
	display:block
}
.head_content .head .menuNew #subMenuOpinionNew.subMenuNew ul{
	float: left;
	margin-left: 805px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
}
.head_content .head .menuNew #subMenuNacionalNew.subMenuNew ul{
	float: left;
	margin-left: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
}
.head_content .head .menuNew #subMenuInternacionalNew.subMenuNew ul{
	float: left;
	margin-left: 280px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
}
.head_content .head .menuNew #subMenuEconomiaNew.subMenuNew ul{
	width: 200px;
	float: left;
    padding-right: 40px;
	margin-left: 410px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
}
.head_content .head .menuNew #subMenuEconomiaNew.subMenuNew .indicadores_caja{
	float: left;
	margin-top: 25px;
    width: 250px;
    line-height: 25px;
    margin-left: 20px;
}
.head_content .head .menuNew #subMenuEconomiaNew.subMenuNew .indicadores_caja .titulo_indicadores{
	float: left;
	width: 100%;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 15px;
}
.head_content .head .menuNew #subMenuDeporteNew.subMenuNew ul{
	margin-left: 540px;
	float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
}
.head_content .head .menuNew #subMenuDeporteNew.subMenuNew .subMenu{
	display: none;
	width: 170px;
    height: 170px;
    margin-top: -20px;
    padding-top: 20px;
}
.head_content .head .menuNew #subMenuDeporteNew.subMenuNew .subMenu ul{
	font-weight: normal;
	margin: 0px 0px 0px 20px;
	float: left;
}
.head_content .head .menuNew #subMenuTendenciasNew.subMenuNew ul{
	float: left;
	margin-left: 670px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
}
.head_content .head .menuNew #subMenuTendenciasNew.subMenuNew .subMenu{
	display: none;
	width: 300px;
	height: 170px;
    margin-top: -20px;
    padding-top: 20px;
}
.head_content .head .menuNew #subMenuTendenciasNew.subMenuNew .subMenuTVNew.subMenu{
	display: none;
	width: 300px;
	height: 120px !important;
    margin-top: -20px;
    padding-top: 20px;
}
.head_content .head .menuNew #subMenuTendenciasNew.subMenuNew .subMenuHombreNew.subMenu{
	display: none;
	width: 300px;
	height: 120px !important;
    margin-top: -20px;
    padding-top: 20px;
}
.head_content .head .menuNew #subMenuTendenciasNew.subMenuNew .subMenu ul{
	font-weight: normal;
	margin: 0px 0px 0px 20px;
	float: left;
}

.head_content .head .menuNew .subMenuSuperiorNew{
	border: 1px solid rgba(0,0,0,0.1);
}
.head_content .head .menuNew .elMenuNew{
	list-style:none;margin:0;padding:0;display:flex;height:100%;width:100%
}
.head_content .head .menuNew .subMenuSuperiorNew {
	background: #ecf0f1;
}
.head_content .head .menuNew .elMenuNew li{
	float:left;padding:0;
	-webkit-flex:auto;
	-ms-flex:auto;
	-moz-flex:auto;
	flex:auto;
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.1);
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.head_content .head .menuNew .elMenuNew li:hover{
	border-left:1px solid rgba(0,0,0,0.1);
	border-right:1px solid rgba(0,0,0,0.1);
}
.head_content .head .menuNew .elMenuNew li:nth-child(1){
	border-left:1px solid rgba(0,0,0,0.1);
}
.head_content .head .menuNew .elMenuNew li:nth-child(8){
	border-right:1px solid rgba(0,0,0,0.1);
}
.head_content .head .menuNew .elMenuNew li a{
	font-size:.85rem;
	text-align:center;
	font-weight:600;
	padding:6px;
	display:block;color:#333;
	-webkit-transition:all 0.1s;
	-o-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
	transition:all 0.1s;
}
.head_content .head .menuNew .elMenuNew li a i{
	color: #000;
	margin-left: 5px;
}
.head_content .head .menuNew .elMenuNew li a:hover{
	color: #226cf8;
}
.head_content .head .menuNew .elMenuNew li a.nacional:hover{
	color: #226cf8;
}
.head_content .head .menuNew .elMenuNew li a.internacional:hover{
	color: #3878bc;
}
.head_content .head .menuNew .elMenuNew li a.economia:hover{
	color: #27a454;
}
.head_content .head .menuNew .elMenuNew li a.deporte:hover{
	color: #e83b15;
}
.head_content .head .menuNew .elMenuNew li a.tendencias:hover{
	color: #f97300;
}
.head_content .head .menuNew .elMenuNew li a.opinion:hover{
	color: #488090;
}

.i,.d{padding-top:15px}.i{width:73%}.i>div{margin-bottom:15px}.d{width:27%}.d>div{margin-bottom:10px}a:hover{color:#1d6fb8}
h1,h2,h3,h4,h5,h6,a{-webkit-transition:all 0.1s;-o-transition:all 0.1s;-moz-transition:all 0.1s;-ms-transition:all 0.1s;transition:all 0.1s;}
.bbclFutbol{box-sizing:border-box;padding:10px;border-top:3px solid #e70000;display:block;background-color:#EAEAEA;border-bottom:3px solid rgba(0,0,0,0.1)}.bbclFutbol .bbcl{color:#1d6fb8}.bbclFutbol header{margin-bottom:10px}
.bbclFutbol header h3{
	font-size:1rem;
	text-transform:uppercase;
	margin:0;
  font-weight: 600;
}
.bbclFutbol footer{text-align:right}.bbclFutbol footer a{font-size:.9rem;color:#333333}.bbclFutbol footer a:hover{color:#e70000}.bbclFutbol .pic.destacadoFutbol{width:100%;height:130px;margin-bottom:10px}
.bbclFutbol h1{font-size: 1rem;font-weight: 600 !important;color:#002c6b}
.bbclFutbol h1:hover{color:#1d6fb8}
.bbclFutbol h1.medio{
	font-size: .9rem;
	border-top: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
	margin: 0;
	color: #002c6b;
	font-weight: 400 !important;
	-webkit-font-smoothing: antialiased;
  line-height: 1.3;
}
.bbclTV{border-top:3px solid #0052a1;border-bottom:3px solid rgba(0,0,0,0.1)}.bbclTV header{height:40px}.bbclTV header .bbcltvLogo{width:100%;height:40px;background-image:url(http://widgets.biobiochile.cl/widget-biobiotv/img/logo_new.png);background-size:45%;display:block;background-repeat:no-repeat;background-position:center center}.iconoCaja{width:40px;height:40px;text-align:center;vertical-align:middle;display:block;float:left;font-size:1.3rem;line-height:1.9}.fotoCiudadana,.videoCiudadano{border-top:3px solid #00b3a1;overflow:hidden}.fotoCiudadana header,.videoCiudadano header{height:40px}.fotoCiudadana header .iconoCaja,.fotoCiudadana header .fa,.videoCiudadano header .iconoCaja,.videoCiudadano header .fa{color:#00b3a1}
.fotoCiudadana header h6,.videoCiudadano header h6{font-size:1rem;font-weight: 600;margin:0;padding:0;line-height:2.8}
.fotoCiudadana .orbit-caption,.videoCiudadano .orbit-caption{padding:5px !important}
.fotoCiudadana .orbit-caption h1,.videoCiudadano .orbit-caption h1{margin:0;font-size:.9rem	;line-height:1.2;font-weight: 500 !important;margin: 5px 0;}
.fotoCiudadana footer,.videoCiudadano footer{background-color:#00b3a1;position:relative;height:40px}.fotoCiudadana footer h6,.videoCiudadano footer h6{margin:0 0 0 10px;color:#ffffff;font-size:.9rem;line-height:2.8}.fotoCiudadana footer .iconoCaja,.videoCiudadano footer .iconoCaja{position:absolute;top:0;right:0;background-color:#009583;color:#ffffff}.comentariosBioBio,.BioBioBlogs{border-top:3px solid #1d6fb8;overflow:hidden;border-bottom:3px solid rgba(0,0,0,0.2)}.comentariosBioBio ul,.BioBioBlogs ul{list-style:none;margin:0;margin:0}.comentariosBioBio ul li,.BioBioBlogs ul li{min-height:80px}
.comentariosBioBio ul li h1,.BioBioBlogs ul li h1{font-size:.9rem;font-weight: 400 !important;color:#002c6b;line-height:1.3;font-weight:600}
.comentariosBioBio ul li h1:hover,.BioBioBlogs ul li h1:hover{color:#1d6fb8}
.comentariosBioBio .bbcltv,.BioBioBlogs .bbcltv{
	height: 70px;
	float: left;
	margin-right: 8px;
}.comentariosBioBio header,.BioBioBlogs header{height:40px}.comentariosBioBio header .iconoCaja,.BioBioBlogs header .iconoCaja{background-image:url(http://www.biobiochile.cl/assets/css/sprite-lateral.png);background-position:5px 8px;width:40px;height:28px;margin-right:8px}
.comentariosBioBio header h6,.BioBioBlogs header h6{font-size:1rem;margin:0;padding:0;line-height: 2.4;font-weight: 600;}
.comentariosBioBio footer,.BioBioBlogs footer{background-color:#00b3a1;position:relative;height:40px}.comentariosBioBio footer h6,.BioBioBlogs footer h6{margin:0 0 0 10px;color:#ffffff;font-size:.9rem;line-height:2.8}.comentariosBioBio footer .iconoCaja,.BioBioBlogs footer .iconoCaja{position:absolute;top:0;right:0;background-color:#009583;color:#ffffff}.masLeido{border-top:3px solid #1d6fb8;border-bottom:3px solid rgba(0,0,0,0.2)}.masLeido .tab-title{width:33.3%;text-align:center}.masLeido .tab-title>a{padding:10px 0;font-size:.8rem}.masLeido .tab-title.active a{color:#1d6fb8}.masLeido .tabs-content{margin-bottom:0}.masLeido .tabs-content>.content{padding:0.9375rem 0 0 0}.masLeido .tabs-content ul{margin:0;padding:0;list-style:none}.masLeido .tabs-content ul li{min-height:80px}.masLeido .tabs-content ul li h6{font-size:.8rem;color:#002c6b;line-height:1.3;font-weight:600}.masLeido .tabs-content ul li h6:hover{color:#1d6fb8}.masLeido .pic{width:80px;height:70px;float:left;margin-left:8px;position:relative;margin-right: 9px;}.masLeido .pic span{background-color:rgba(255,255,255,0.7);color:#000;position:absolute;width:100%;left:0;bottom:0;font-size:.6rem;text-align:center;font-weight:600}.masLeido footer{background-color:#24558e;position:relative;height:40px}.masLeido footer h6{margin:0 0 0 10px;color:#ffffff;font-size:.9rem;line-height:2.8}.masLeido footer .iconoCaja{position:absolute;top:0;right:0;background-color:#063770;color:#ffffff}.rss{border-top:3px solid #f99700;padding-bottom:10px;border-bottom:3px solid rgba(0,0,0,0.2)}.rss header .iconoCaja{color:#f99700}.rss header h6{font-size:.9rem;margin:0;padding:0;line-height:2.8}.rss .postfix{padding:0;font-size:.8rem}.rss label{font-size:.8rem;margin:10px 0;font-weight:600}.rss input{margin-bottom:0}.rss .button{margin-bottom:0}.videoCiudadano{border-bottom:3px solid rgba(0,0,0,0.2)}.BioBioBlogs header .iconoCaja{background-position:-35px 8px;width:20px;margin-left:10px}.BioBioBlogs h1{font-size:.8rem;color:#002c6b;line-height:1.3;font-weight:600}.BioBioBlogs footer{background-color:#24558e;position:relative;height:40px}.BioBioBlogs footer h6{margin:0 0 0 10px;color:#ffffff;font-size:.9rem;line-height:2.8}.BioBioBlogs footer .iconoCaja{position:absolute;top:0;right:0;background-color:#063770;color:#ffffff}.box{border-top:3px solid;/*border-bottom:3px solid rgba(145,151,163,0.2);*/display:block;float:left;width:100%;position:relative;padding-bottom:30px}.box .datetime{color:rgba(0,0,0,0.5);display:block;font-size:.7rem;text-transform:uppercase;margin:5px 0}.box .time{color:rgba(0,0,0,0.5)}.box .mas{position:absolute;bottom:0;right:0;background-color:rgba(145,151,163,0.2);padding:5px 10px;font-size:.9rem}.box .mas a{color:#333333}.box h1{color:#002c6b}.box h1:hover{color:#1d6fb8}.box header{height:40px;border-bottom:1px solid rgba(145,151,163,0.2);margin-bottom:15px}
.box header h5{
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.6;
}
.box.inicio{border-top-color:#1d6fb8}.box.superTitular{border-top:0;padding-bottom:0;border-bottom:3px solid #1F608B}.box.superTitular .pic{width:100%;height:350px;display:block}.box.superTitular h1{font-size:1.9rem;font-weight:600;margin:0;line-height:1.2;padding:10px}.box.superTitular.azul{background-color:#3498db}.box.superTitular.azul h1{color:#ffffff}.box.superTitular.azul h1:hover{text-decoration:underline}.box.superTitular.azul .relacionados{display:table;padding:10px;vertical-align:center;margin:0;list-style:none;background-color:#2980b9}.box.superTitular.azul .relacionados li{width:48%;margin-bottom:10px;min-height:30px;float:left}.box.superTitular.azul .relacionados li:nth-child(2){list-style:square url("http://www.biobiochile.cl/assets/img/li.png");margin-left:25px}.box.superTitular.azul .relacionados li:nth-child(2) .pic{display:none}.box.superTitular.azul .relacionados li:nth-child(3){list-style:square url("http://www.biobiochile.cl/assets/img/li.png");margin-left:25px}.box.superTitular.azul .relacionados li:nth-child(3) .pic{display:none}.box.superTitular.azul .relacionados li:nth-child(5){list-style:square url("http://www.biobiochile.cl/assets/img/li.png");margin-left:25px}.box.superTitular.azul .relacionados li:nth-child(5) .pic{display:none}.box.superTitular.azul .relacionados li:nth-child(6){list-style:square url("http://www.biobiochile.cl/assets/img/li.png");margin-left:25px}.box.superTitular.azul .relacionados li:nth-child(6) .pic{display:none}.box.superTitular.azul .relacionados li a{display:block}.box.superTitular.azul .relacionados li .pic{width:100px;height:70px;float:left;margin-right:7px}.box.superTitular.azul .relacionados li p{color:#ffffff;line-height:1.2;font-size:.8rem;margin:0}.box.superTitular.azul .relacionados li p:hover{text-decoration:underline}.box.granTitular{border-top:0;padding-bottom:0}.box.granTitular .pic{width:100%;height:350px;display:block}
.box.granTitular h1{
	line-height: 1.1;
	padding: 10px;
	font-weight: 600 !important;
	font-size: 2rem;
}
.box.nacional{border-top-color:#0097dd}.box.nacional .mas a:hover{color:#0097dd}.box.nacional h5{color:#0097dd}.box.nacional .box-l{padding:0 0.5375rem 0 0}.box.nacional .box-l .pic{width:100%;height:180px}
.box.nacional .box-l h1{
	line-height:1.2;
	margin:10px 0;
  font-weight: 600 !important;
  font-size: 1.3rem;
}.box.nacional .box-r{padding:0 0 0 0.5375rem}.box.nacional .box-r .post{min-height:90px;margin-bottom:15px}.box.nacional .box-r .pic{width:135px;height:90px;float:left;margin-right:10px}
.box.nacional .box-r h1{
	line-height: 1.2;
  margin: 0;
  font-weight: 500 !important;
  font-size: 1rem;
}.box.nacional .box-b{border-top:1px solid #e9eaed;position:relative;padding:15px 0 0}.box.nacional .box-b .ultimo{position:absolute;top:-12px;left:0;color:rgba(0,0,0,0.5);background-color:#ffffff;font-size:.9rem;padding:0 10px 0 0}.box.nacional .box-b .postChico{margin:0;padding:0;list-style:none}.box.nacional .box-b .postChico li{width:50%;float:left;min-height:65px;}.box.nacional .box-b .postChico li:nth-child(even){padding-left:7.5px}.box.nacional .box-b .postChico li:nth-child(odd){padding-right:7.5px}
.box.nacional .box-b .postChico li h1{
	font-weight: 400 !important;
	font-size: .9rem !important;
	line-height: 1.2;
}.box.internacional{border-top-color:#00b2ff}.box.internacional .mas a:hover{color:#00b2ff}.box.internacional h5{color:#00b2ff}.box.internacional .box-u{padding:0;margin-bottom:10px}.box.internacional .box-u .pic{width:100%;height:180px}.box.internacional .box-u .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.internacional .box-u .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.internacional .box-u h1{
	line-height: 1.2;
	margin: 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}.box.internacional .box-u h6{font-size:.8rem;color:#333333}.box.internacional .box-u .postChico{margin:10px 0 0 0;display:block;width:100%;float:left;list-style:none}.box.internacional .box-u .postChico li{width:50%;float:left;margin-top:15px;min-height:65px}.box.internacional .box-u .postChico li:nth-child(odd){padding-right:7.5px}.box.internacional .box-u .postChico li:nth-child(even){padding-left:7.5px}.box.internacional .box-u .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.internacional .box-u .postChico li h1{
	margin: 0;
	line-height: 1.3;
	font-weight: 500 !important;
	font-size: .9rem !important;
}
.box.entrevistas{border-top-color:#585858}.box.entrevistas .mas a:hover{color:#585858}.box.entrevistas h5{color:#585858}.box.entrevistas .box-l{padding:0 0.5rem 0 0}.box.entrevistas .box-l .pic{width:100%;height:180px}.box.entrevistas .box-l .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.entrevistas .box-l .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.entrevistas .box-l h1{
	line-height: 1.2;
	margin: 10px 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}
.box.entrevistas .box-l h6{font-size:.8rem;color:#333333}.box.entrevistas .box-r{padding:0 0 0 0.5rem}.box.entrevistas .box-r .postChico{list-style:none;margin:0}.box.entrevistas .box-r .postChico li{min-height:65px;margin-bottom:15px}.box.entrevistas .box-r .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.entrevistas .box-r .postChico li h1 {
	margin: 0;
	line-height: 1.3;
	font-weight: 500 !important;
	font-size: .9rem !important;
}
.box.economia{border-top-color:#00ad40}.box.economia .mas a:hover{color:#00ad40}.box.economia h5{color:#00ad40}.box.economia .box-l{padding:0 0.5375rem 0 0}.box.economia .box-l .pic{width:100%;height:180px}
.box.economia .box-l h1{
	line-height: 1.2;
	margin: 10px 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}
.box.economia .box-r{padding:0 0 0 0.5375rem}.box.economia .box-r .post{min-height:90px;margin-bottom:15px}.box.economia .box-r .pic{width:135px;height:90px;float:left;margin-right:10px}
.box.economia .box-r h1{
	line-height: 1.2;
	margin: 0;
	font-weight: 500 !important;
	font-size: 1rem;
}
.box.economia .box-b{border-top:1px solid #e9eaed;position:relative;padding:15px 0 0}.box.economia .box-b .ultimo{position:absolute;top:-12px;left:0;color:rgba(0,0,0,0.5);background-color:#ffffff;font-size:.9rem;padding:0 10px 0 0}.box.economia .box-b .postChico{margin:0;padding:0;list-style:none}.box.economia .box-b .postChico li{width:50%;float:left}.box.economia .box-b .postChico li:nth-child(even){padding-left:7.5px}.box.economia .box-b .postChico li:nth-child(odd){padding-right:7.5px}
.box.economia .box-b .postChico li h1{
	font-weight: 400 !important;
	font-size: .9rem !important;
	line-height: 1.2;
}
.box.deporte{border-top-color:#e70000}.box.deporte h5{color:#e70000}.box.deporte .mas a:hover{color:#e70000}.box.deporte .box-u{padding:0;margin-bottom:10px}.box.deporte .box-u .pic{width:100%;height:180px}.box.deporte .box-u .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.deporte .box-u .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.deporte .box-u h1{
	line-height: 1.2;
	margin: 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}.box.deporte .box-u h6{font-size:.8rem;color:#333333}.box.deporte .box-b{border-top:1px solid #e9eaed;position:relative;padding:15px 0 0;margin-top:10px}.box.deporte .box-b .ultimo{position:absolute;top:-12px;left:0;color:rgba(0,0,0,0.5);background-color:#ffffff;font-size:.9rem;padding:0 10px 0 0}.box.deporte .box-b .postChico{margin:0;padding:0;list-style:none}.box.deporte .box-b .postChico li{width:50%;float:left}.box.deporte .box-b .postChico li:nth-child(even){padding-left:7.5px}.box.deporte .box-b .postChico li:nth-child(odd){padding-right:7.5px}
.box.deporte .box-b .postChico li h1{
	font-weight: 400 !important;
	font-size: .9rem !important;
	line-height: 1.2;
}.box.deporte .box-b .postChico li .time{color:rgba(0,0,0,0.5)}.box.deporte .box-l{padding:0 0.5375rem 0 0}.box.deporte .box-l .post{min-height:65px;margin-bottom:10px}.box.deporte .box-l .post .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.deporte .box-l .post h1{
	margin: 0;
	line-height: 1.3;
	font-weight: 500 !important;
	font-size: .9rem !important;
}.box.deporte .box-r .arribaPelota{background-color:#f2f2f2;padding-bottom:10px;border-bottom:3px solid rgba(0,0,0,0.2)}.box.deporte .box-r .arribaPelota header{background-color:#e70000;height:30px;margin:0}.box.deporte .box-r .arribaPelota header h6{color:#ffffff;text-transform:uppercase;margin:0;padding-left:10px;line-height:1.9}.box.deporte .box-r .arribaPelota .post{padding:10px;min-height:75px}
.box.deporte .box-r .arribaPelota h1{
	font-size: .9rem;
  font-weight: 400 !important;
  line-height: 1.3;
  margin: 0;
}
.box.deporte .box-r .arribaPelota .pic{float:right;width:105px;height:65px;margin-left:10px}.box.sociedad{border-top-color:#a000a7}.box.sociedad h5{color:#a000a7}.box.sociedad .mas a:hover{color:#a000a7}.box.sociedad .box-l{padding:0 0.5rem 0 0}.box.sociedad .box-l .pic{width:100%;height:180px}.box.sociedad .box-l .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.sociedad .box-l .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.sociedad .box-l h1{
	line-height: 1.2;
  margin: 10px 0;
  font-weight: 600 !important;
  font-size: 1.3rem;
}
.box.sociedad .box-l h6{font-size:.8rem;color:#333333}.box.sociedad .box-r{padding:0 0 0 0.5rem}.box.sociedad .box-r .postChico{list-style:none;margin:0}.box.sociedad .box-r .postChico li{min-height:65px;margin-bottom:15px}.box.sociedad .box-r .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.sociedad .box-r .postChico li h1{
	margin: 0;
	line-height: 1.3;
	font-weight: 500 !important;
	font-size: .9rem !important;
}
.box.tecnologia{border-top-color:#00927e}.box.tecnologia h5{color:#00927e}.box.tecnologia .mas a:hover{color:#00927e}.box.tecnologia .box-u{padding:0;margin-bottom:10px}.box.tecnologia .box-u .pic{width:100%;height:180px}.box.tecnologia .box-u .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.tecnologia .box-u .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.tecnologia .box-u h1{
	line-height: 1.2;
	margin: 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}.box.tecnologia .box-u h6{font-size:.8rem;color:#333333}.box.tecnologia .box-u .postChico{margin:10px 0 0 0;display:block;width:100%;float:left;list-style:none}.box.tecnologia .box-u .postChico li{width:50%;float:left;margin-top:15px;min-height:65px}.box.tecnologia .box-u .postChico li:nth-child(odd){padding-right:7.5px}.box.tecnologia .box-u .postChico li:nth-child(even){padding-left:7.5px}.box.tecnologia .box-u .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}.box.tecnologia .box-u .postChico li h1{font-size:.8rem;margin:0;line-height:1.3}.box.cultura{border-top-color:#ff4c00}.box.cultura h5{color:#ff4c00}.box.cultura .mas a:hover{color:#ff4c00}.box.cultura .box-l{padding:0 0.5rem 0 0}.box.cultura .box-l .pic{width:100%;height:180px}.box.cultura .box-l .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.cultura .box-l .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.cultura .box-l h1{
	line-height: 1.2;
	margin: 10px 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}.box.cultura .box-l h6{font-size:.8rem;color:#333333}.box.cultura .box-r{padding:0 0 0 0.5rem}.box.cultura .box-r .postChico{list-style:none;margin:0}.box.cultura .box-r .postChico li{min-height:65px;margin-bottom:15px}.box.cultura .box-r .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.cultura .box-r .postChico li h1{
	margin: 0;
  line-height: 1.3;
  font-weight: 500 !important;
  font-size: .9rem !important;
}
.box.espectaculos{border-top-color:orange}.box.espectaculos h5{color:orange}.box.espectaculos .mas a:hover{color:orange}.box.espectaculos .box-u{padding:0;margin-bottom:10px}.box.espectaculos .box-u .pic{width:100%;height:180px}.box.espectaculos .box-u .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.espectaculos .box-u .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.espectaculos .box-u h1{
	line-height: 1.2;
	margin: 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}
.box.espectaculos .box-u h6{font-size:.8rem;color:#333333}.box.espectaculos .box-u .postChico{margin:10px 0 0 0;display:block;width:100%;float:left;list-style:none}.box.espectaculos .box-u .postChico li{width:50%;float:left;margin-top:15px;min-height:65px}.box.espectaculos .box-u .postChico li:nth-child(odd){padding-right:7.5px}.box.espectaculos .box-u .postChico li:nth-child(even){padding-left:7.5px}.box.espectaculos .box-u .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}.box.espectaculos .box-u .postChico li h1{font-size:.8rem;margin:0;line-height:1.3}.box.hombre{border-top-color:#3c40bc}.box.hombre h5{color:#3c40bc}.box.hombre .mas a:hover{color:#3c40bc}.box.hombre .box-l{padding:0 0.5rem 0 0}.box.hombre .box-l .pic{width:100%;height:180px}.box.hombre .box-l .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.hombre .box-l .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.hombre .box-l h1{
	line-height: 1.2;
  margin: 10px 0;
  font-weight: 600 !important;
  font-size: 1.3rem;
}
.box.hombre .box-l h6{font-size:.8rem;color:#333333}.box.hombre .box-r{padding:0 0 0 0.5rem}.box.hombre .box-r .postChico{list-style:none;margin:0}.box.hombre .box-r .postChico li{min-height:65px;margin-bottom:15px}.box.hombre .box-r .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.hombre .box-r .postChico li h1{
	margin: 0;
  line-height: 1.3;
  font-weight: 500 !important;
  font-size: .9rem !important;
}
.box.columnistas .pic{width:100%;height:110px}.box.columnistas h1{font-size:.9rem;font-weight:600;line-height:1.3;margin:7px 0}.box.mujer{border-top-color:#f9005b}.box.mujer h5{color:#f9005b}.box.mujer .mas a:hover{color:#f9005b}.box.mujer .box-u{padding:0;margin-bottom:10px}.box.mujer .box-u .pic{width:100%;height:180px}.box.mujer .box-u .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.mujer .box-u .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.mujer .box-u h1{
	line-height: 1.2;
  margin: 0;
  font-weight: 600 !important;
  font-size: 1.3rem;
}
.box.mujer .box-u h6{font-size:.8rem;color:#333333}.box.mujer .box-u .postChico{margin:10px 0 0 0;display:block;width:100%;float:left;list-style:none}.box.mujer .box-u .postChico li{width:50%;float:left;margin-top:15px;min-height:65px}.box.mujer .box-u .postChico li:nth-child(odd){padding-right:7.5px}.box.mujer .box-u .postChico li:nth-child(even){padding-left:7.5px}.box.mujer .box-u .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}.box.mujer .box-u .postChico li h1{font-size:.8rem;margin:0;line-height:1.3}.box.masLeidoInf{border-top-color:#1d6fb8}.box.masLeidoInf h5{color:#1d6fb8}.box.masLeidoInf .pic{width:100%;height:110px}.box.masLeidoInf h1{font-size:.9rem;font-weight:600;line-height:1.3;margin:7px 0}.box.opinion{border-top-color:#44808e}.box.opinion h5{color:#44808e}.box.opinion .mas a:hover{color:#44808e}.box.opinion .box-u{padding:0;margin-bottom:10px}.box.opinion .box-u .pic{width:100%;height:180px}.box.opinion .box-u .small-6:nth-child(1){padding:0 0.5375rem 0 0}.box.opinion .box-u .small-6:nth-child(2){padding:0 0 0 0.5375rem}
.box.opinion .box-u h1{
	line-height: 1.2;
  margin: 0;
  font-weight: 600 !important;
  font-size: 1.3rem;
}
.box.opinion .box-u h6{font-size:.8rem;color:#333333}.box.opinion .box-u .postChico{margin:10px 0 0 0;display:block;width:100%;float:left;list-style:none}.box.opinion .box-u .postChico li{width:50%;float:left;margin-top:15px;min-height:65px}.box.opinion .box-u .postChico li:nth-child(odd){padding-right:7.5px}.box.opinion .box-u .postChico li:nth-child(even){padding-left:7.5px}.box.opinion .box-u .postChico li .pic{width:105px;height:65px;float:left;margin-right:10px}.box.opinion .box-u .postChico li h1{font-size:.8rem;margin:0;line-height:1.3}.box.bbtv{border-top-color:#0052a1}.box.bbtv h5{color:#0052a1}.box.bbtv .mas a:hover{color:#0052a1}.box.tendencias{border-top-color:green;padding: 0;}.box.tendencias .pic{width:100%;height:110px}
.box.tendencias h1{
	font-size: .9rem;
	line-height: 1.3;
	margin: 7px 0;
	font-weight: bold !important;
}
.box.noticiasDestacadas{border-top:0}.box.noticiasDestacadas .columns:nth-child(odd){padding:0 0.5rem 0 0}.box.noticiasDestacadas .columns:nth-child(even){padding:0 0 0 0.5rem}.box.noticiasDestacadas .pic{width:100%;height:160px;position:relative}.box.noticiasDestacadas .pic .time{position:absolute;top:0;left:0;background-color:rgba(0,44,107,0.7);color:#ffffff;font-size:.7rem;padding:5px 10px}
.box.noticiasDestacadas h1{
	line-height:1.2;
	margin:7px 0 15px 0;
	font-weight: 500 !important;
	font-size: 1.3rem;
}.box.breaktime{border-top-color:#ff6a00;padding-bottom:0}.box.breaktime h5{color:#ff6a00}.box.breaktime .mas a:hover{color:#ff6a00}.box.breaktime header .logo{background-image:url(http://breaktime.biobiochile.cl/assets/img/cara-barrita.png);height:39px;background-repeat:no-repeat;display:block}.box.breaktime .pic{width:100%;height:150px}.box.breaktime h1{font-size:1rem;font-weight:600;text-align:center}.box.regional{border:1px solid rgba(0,0,0,0.1);background-color:#f8f8f8}.box.regional .tab-title a{padding:10px;font-size:.8rem;background-color:#f8f8f8}.box.regional .tab-title a:hover{background-color:#599ddf;color:#ffffff}.box.regional .tabs{border-bottom:1px solid rgba(0,0,0,0.1);background-color:#f8f8f8}.box.regional .tabs .active a{background-color:#599ddf;color:#ffffff}.box.regional .contentRegional{display:block;float:left;padding:0.9375rem 0}.box.regional .contentRegional .box-l{padding-right:0.5rem}.box.regional .contentRegional .box-l .pic{width:100%;height:180px}
.box.regional .contentRegional .box-l h1{
	line-height: 1.2;
	margin: 6px 0;
	font-weight: 600 !important;
	font-size: 1.3rem;
}.box.regional .contentRegional .box-l h6{font-size:.8rem;color:#333333}.box.regional .contentRegional .box-r{padding-left:0.5rem}.box.regional .contentRegional .box-r .postChico{list-style:none;margin:0}.box.regional .contentRegional .box-r .postChico li{min-height:65px;margin-bottom:10px}.box.regional .contentRegional .box-r .postChico .pic{width:105px;height:65px;float:left;margin-right:10px}
.box.regional .contentRegional .box-r .postChico h1{
	margin: 0;
	line-height: 1.3;
	font-weight: 500 !important;
	font-size: .9rem !important;
}.titulares{display:none;border-top:0;padding-bottom:15px}.titulares .box-l{padding:0}.titulares .box-r{padding-left:0}.titulares .box-b{padding:0;margin-top:10px}.titulares .box-b .post{width:33.3%;float:left}.titulares .box-b .post:nth-child(1){padding-right:5px}.titulares .box-b .post:nth-child(2){padding:0 5px}.titulares .box-b .post:nth-child(3){padding-left:5px}.titulares .box-b .post .pic{width:100%;height:140px;float:left}.titulares .box-b .post h1{font-size:1rem}.titulares h1{font-size:1.3rem;font-weight:600;margin:0 0 10px 0;line-height:1.2}.titulares h6{font-size:.8rem}.titulares .pic{width:100%;height:250px}.pic{background-repeat:no-repeat;background-size:cover;background-position:center center;background-color:#e9eaed}#results-list{list-style:none;margin:0}#results-list img{float:left;display:block;width:150px;height:150px;margin-right:10px}#results-list .date{display:block;color:rgba(0,0,0,0.5);font-size:.8rem}
#results-list h1{
	line-height: 1.2;
	font-weight: 600 !important;
	font-size: 1.3rem;
}
#results-list h6{font-size:.9rem}#results-list li{min-height:150px;display:inline-block;width:100%;margin-bottom:15px}.b-leidos h4{font-size:1rem;padding:8px 0;border-bottom:1px solid rgba(0,0,0,0.2);margin-bottom:15px;margin-top:0}.b-leidos ul{list-style:none;margin:0}.b-leidos li{margin-bottom:10px;min-height:80px}.b-leidos .b-body a{font-size:.8rem;line-height:1.2;display:block;color:#333333}.b-leidos .b-body a:hover{color:#008CBA}.b-leidos .b-body .b-img{float:right;width:100px;height:70px;background-size:cover;background-position:center center;background-repeat:no-repeat;margin-left:5px}.b-leidos .b-body span{color:#666666;font-size:.8rem;font-weight:400;margin-top:0px;display:block}.box .b-body .b-btn a,.box .b-btn a{width:100%;height:35px;display:block}.box .b-body .b-btn h3,.box .b-btn h3{float:left;line-height:33px;margin:0;color:#FFF;font-size:1rem}.b-leidos .b-body span{color:#666666;font-size:.8rem;font-weight:400;margin-top:0px;display:block}.b-leidos.nacional .b-body .b-btn,.b-leidos.internacional .b-body .b-btn{background-color:#419bda}.new-super-titular,.new-titular-section{margin-top:15px}.new-super-titular h1,.new-super-titular h5,.new-super-titular a,.new-titular-section h1,.new-titular-section h5,.new-titular-section a{-webkit-transition:all 0s;-o-transition:all 0s;-moz-transition:all 0s;-ms-transition:all 0s;transition:all 0s}.new-super-titular .header-container,.new-titular-section .header-container{padding:0}.new-super-titular .header-local-title,.new-titular-section .header-local-title{margin:12px 0 15px 0}.new-super-titular .header-local-title h1,.new-titular-section .header-local-title h1{font-size:25px}.new-super-titular .header-local-title .titulo,.new-titular-section .header-local-title .titulo{color:#0097DD}.new-super-titular .header-local-tiempo,.new-titular-section .header-local-tiempo{margin-bottom:15px}.new-super-titular .header-local-tiempo .medium-4,.new-titular-section .header-local-tiempo .medium-4{border-left:1px solid rgba(0,0,0,0.05);height:60px;padding:8px 0.2rem}.new-super-titular .header-local-tiempo .medium-4 h6,.new-titular-section .header-local-tiempo .medium-4 h6{text-align:center;display:block;font-size:0.6rem;color:#A5A6AB;text-transform:uppercase;line-height:1rem;margin:0}.new-super-titular .header-local-tiempo .medium-4 .pic,.new-titular-section .header-local-tiempo .medium-4 .pic{width:30px;height:30px;background-size:100%;background-repeat:no-repeat;background-position:center center;font-size:2rem;line-height:.8rem;margin:0 auto;text-align:center;background-color:transparent;display:inline-block}.new-super-titular .header-local-tiempo .medium-4 .temp,.new-titular-section .header-local-tiempo .medium-4 .temp{font-size:.8rem}.new-super-titular .header-local-tiempo .medium-4 .despejado,.new-titular-section .header-local-tiempo .medium-4 .despejado{color:orange}.new-super-titular .header-local-tiempo .medium-4 .lluvia,.new-titular-section .header-local-tiempo .medium-4 .lluvia{color:#2980b9}.new-super-titular .header-local-tiempo .medium-4 .nublado,.new-titular-section .header-local-tiempo .medium-4 .nublado{color:#95a5a6}.new-super-titular .header-local-tiempo .medium-4 .tormenta,.new-titular-section .header-local-tiempo .medium-4 .tormenta{color:#2c3e50}.new-super-titular .header-local-tiempo .medium-4 .nieve,.new-titular-section .header-local-tiempo .medium-4 .nieve{color:#bdc3c7}.new-super-titular header,.new-titular-section header{border-top:3px solid #0097dd;padding:7px 0}.new-super-titular header h5,.new-titular-section header h5{font-size:.9375rem;text-transform:uppercase;font-weight:700;margin:0;color:#666}.new-super-titular .datatime,.new-titular-section .datatime{font-size:0.8125rem;text-transform:uppercase;font-weight:500;color:rgba(255,255,255,0.8);margin-top:.9375rem}.new-super-titular .datatime span,.new-titular-section .datatime span{color:#0097dd;border-left:1px solid #b4b4b4;margin-left:8px;padding-left:8px}.new-super-titular ul,.new-titular-section ul{list-style:none;margin:0;padding:0}.new-super-titular .lista-foto-nota,.new-titular-section .lista-foto-nota{margin-top:15px}.new-super-titular .lista-foto-nota li,.new-titular-section .lista-foto-nota li{border-top:1px solid #e6e6e6;padding:5px 0}.new-super-titular .lista-foto-nota li a,.new-titular-section .lista-foto-nota li a{display:block;overflow:hidden}.new-super-titular .lista-foto-nota li a .pic,.new-titular-section .lista-foto-nota li a .pic{width:93px;height:63px;float:left;margin-right:15px}.new-super-titular .lista-foto-nota li a h1,.new-titular-section .lista-foto-nota li a h1{font-size:0.8125rem}.new-super-titular .super-titular{border-top:5px solid #0d1f83;background-color:#3f51b5;padding:.9375rem;padding-bottom:0}.new-super-titular .super-titular .header-ahora{display:none}.new-super-titular .super-titular .titular .pic{height:330px;position:relative}.new-super-titular .super-titular .titular .pic .ahoraImg{position:absolute;top:26px;left:-15px;color:#fff;background-color:#cd2500;padding:5px 30px;font-weight:600}.new-super-titular .super-titular .titular .pic .triangulo_top_left{width:0;height:0;position:absolute;top:60px;left:-15px;border-top:15px solid #861800;border-left:15px solid transparent}.new-super-titular .super-titular .titular .datatime span{color:#2196F3}.new-super-titular .super-titular .titular h1{font-size:34px;line-height:1.1;color:#fff;margin-bottom:20px;font-weight:700}.new-super-titular .super-titular .titular p{font-size:14px;line-height:1.2;color:rgba(255,255,255,0.85);margin-bottom:0;font-weight:300}.new-super-titular .super-titular .titular p a{font-weight:700;color:#fff;margin-left:5px}.new-super-titular .super-titular .relacionados .lista-foto-nota{margin-top:0}.new-super-titular .super-titular .relacionados .lista-foto-nota li{padding:10px 0;border-color:#5d6fd3}.new-super-titular .super-titular .relacionados .lista-foto-nota li .pic{display:none}.new-super-titular .super-titular .relacionados .lista-foto-nota li h1{margin-top:0;color:#fff;font-size:.9375rem;font-weight:600;margin-bottom:0}.new-super-titular .super-titular .relacionados .lista-foto-nota li h1 i{margin-right:10px;color:#2196F3}.new-super-titular .super-titular .relacionados .lista-foto-nota li:nth-child(1){border-top:0;padding-top:0}.new-super-titular .super-titular .relacionados .lista-foto-nota li:nth-child(-n+2) .pic{display:block;width:120px;height:80px}.new-super-titular .super-titular .relacionados .lista-foto-nota li:nth-child(-n+2) i{display:none}.new-super-titular .super-titular .relacionados .btn-mas{background-color:#2196F3;font-size:13px;color:#fff;text-align:center;text-transform:uppercase;width:150px;display:block;padding:9px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-top:15px;position:relative}.new-super-titular .super-titular .relacionados .btn-mas:after{width:100%;border-top:red;content:'';display:block;position:absolute}.new-super-titular .super-titular .utilidades{background-color:#2b3da1;margin-top:25px;padding:.9375rem 0}.new-super-titular .super-titular .utilidades .pic{height:110px;margin-bottom:5px;position:relative}.new-super-titular .super-titular .utilidades .pic span{position:absolute;top:10px;left:10px;padding-right:10px;color:#fff;text-transform:uppercase;font-size:12px;font-weight:700}.new-super-titular .super-titular .utilidades .pic span i{font-size:11px;padding:7px;background-color:rgba(0,0,0,0.2);margin-right:7px;width:25px;text-align:center}.new-super-titular .super-titular .utilidades .pic span.imagenes{background-color:#FF1744}.new-super-titular .super-titular .utilidades .pic span.videos{background-color:#009688}.new-super-titular .super-titular .utilidades .pic span.vivo{background-color:#3F51B5}.new-super-titular .super-titular .utilidades .pic span.otro{background-color:#607D8B}.new-super-titular .super-titular .utilidades h1{color:#fff;font-size:14px;line-height:1.1;font-weight:400;margin-bottom:0}.new-super-titular.sin-relacionados .titular{width:100%}.new-super-titular.sin-relacionados .titular .pic{width:559.156px;display:inline-block;float:left;margin-right:15px}.new-super-titular.sin-relacionados .titular .datatime{margin-top:0}.new-super-titular.sin-relacionados .relacionados{display:none}.new-super-titular.ahora .super-titular{background-color:#ff5722;padding-top:0;border-top:0}.new-super-titular.ahora .super-titular .header-ahora{display:block;background-color:#cd2500;margin-bottom:15px;color:white;font-size:.9375;text-transform:uppercase;padding:3px 0}.new-super-titular.ahora .super-titular .header-ahora i{margin-right:10px;-webkit-animation:iahora 1s infinite;animation:iahora 1s infinite}@-webkit-keyframes iahora{0%{opacity:1}50%{opacity:0}100%{opacity:1}}@keyframes iahora{0%{opacity:1}50%{opacity:0}100%{opacity:1}}.new-super-titular.ahora .super-titular .datatime span{color:#BF360C}.new-super-titular.ahora .super-titular .relacionados li{border-color:#eb430e}.new-super-titular.ahora .super-titular .relacionados li a h1 i{color:#cd2500}.new-super-titular.ahora .super-titular .relacionados .btn-mas{background-color:#BF360C}.new-super-titular.ahora .super-titular .utilidades{background-color:#cd2500}.new-titular-section .datatime{color:rgba(0,0,0,0.5);font-weight:700}.new-titular-section .section-doble,.new-titular-section .tercera-col{min-height:540px;position:relative}.new-titular-section .section-doble:after,.new-titular-section .tercera-col:after{content:'';border-top:2px solid #e6e6e6;display:block;position:absolute;bottom:0}.new-titular-section .section-doble{width:68.27%;position:relative}.new-titular-section .section-doble:after{width:95.8%}.new-titular-section .section-doble .primera-col{width:60.564%}.new-titular-section .section-doble .primera-col .pic{height:275px}.new-titular-section .section-doble .primera-col h1{font-size:1.75rem;font-weight:700;line-height:1.2}.new-titular-section .section-doble .primera-col p{font-size:0.8125rem;color:#888}.new-titular-section .section-doble .vermas{position:absolute;bottom:10px;right:10px;width:100px;font-size:.8rem;text-align:center}.new-titular-section .section-doble .segunda-col{width:39.437%}.new-titular-section .section-doble .segunda-col .pic{height:120px}.new-titular-section .section-doble .segunda-col h1{font-size:1rem;font-weight:700;line-height:1.2}.new-titular-section .section-doble .segunda-col ul.lista-notas{margin-top:15px}.new-titular-section .section-doble .segunda-col ul.lista-notas li{margin-bottom:5px}.new-titular-section .section-doble .segunda-col ul.lista-notas li:last-child{margin-bottom:15px}.new-titular-section .section-doble .segunda-col ul.lista-notas li a{background-color:rgba(73,116,166,0.1);padding:5px;display:block}.new-titular-section .section-doble .segunda-col ul.lista-notas li a h1{margin:0;font-size:0.8125rem;font-weight:600}.new-titular-section .section-doble .segunda-col ul.lista-notas li a h1 span{font-size:0.75rem;color:#4974a6;border-right:1px solid rgba(73,116,166,0.6);margin-right:5px;padding-right:5px}.new-titular-section .tercera-col{background-color:whitesmoke;width:31.731%}.new-titular-section .tercera-col:after{width:90.8%}.new-titular-section .tercera-col .pic{height:150px}.new-titular-section .tercera-col h1{font-size:1.125rem;line-height:1.2;font-weight:700}
