
#box-caja-videos {
    width: 100%;
    background:#f0f0f0;
    float:left;
    margin-top:15px;
    height:185px;
    overflow:hidden;
}
#box-caja-videos .art-video {
    width: 230px;
    height: 170px;
    float: left;
    padding: 10px;
    display: inline-block;
    position: relative;
}
#box-caja-videos .vrudo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 222px;
    height: 100px;
    display:block;
}
.notaDest > .vrudo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-right: 0.51rem;
    height: 160px;
}
.notaDest:nth-child(even) > .vrudo {
    top: 0px;
    right: 0px;
    padding-left: 0.51rem;
    padding-right: 0px;
}
.notaDest > .repr-video{
    z-index: 10;
}
.notaDest > .repr-video > .boton-video{
    opacity: 0;
}
.notaDest:nth-child(odd) > .repr-video > .loading-video{
    position:absolute;
    top: 60px;
    left:150px;
    width: 3rem;
    height: 3rem;
}
.notaDest:nth-child(even) > .repr-video > .loading-video{
    position:absolute;
    top: 60px;
    right:150px;
    width: 3rem;
    height: 3rem;

}
.notaDest:nth-child(odd) > .repr-video > .boton-video{
    position:absolute;
    top: 60px;
    left:150px;
    width: 3rem;
    height: 3rem;
}
.notaDest:nth-child(even) > .repr-video > .boton-video{
    position:absolute;
    top: 60px;
    right:150px;
    width: 3rem;
    height: 3rem;

}
#box-caja-videos .orbit-container ul {
    margin-left: 6%;
    height: 200px !important;
}
#box-caja-videos .art-video:hover{
    opacity: 1;
}
#box-caja-videos .art-video > .repr-video {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    z-index: 10;
}

#box-caja-videos .art-video > .repr-video > figure {
    position: absolute;
    top: 0px;
    left: 0px;
    width: inherit;
    height: inherit;
    margin: 0px;
    overflow: hidden;
}
#box-caja-videos .art-video > .cat-video,
#box-caja-videos .art-video > .repr-video > .cat-video {
    background: #5597DD;
    padding: 0px 5px 0px 5px;
    position: absolute;
    color: #fff;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    z-index:30;
}

#box-caja-videos .art-video > .repr-video > .boton-video {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 0px;
    font-size: 2.4rem;
    width: inherit;
    text-align: center;
}
#box-caja-videos .art-video > .repr-video > .boton-video > img{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
#box-caja-videos .art-video > .repr-video > .loading-video {
    position: absolute;
    top: 32px;
    left: 92px;
    font-size: 2.4rem;
    width: 2.6rem;
    height: 2.6rem;
    color: black;
    margin: 0px;
    text-align: center;
}

#box-caja-videos .art-video > .title-video {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 10;
}

#box-caja-videos .art-video > .title-video > a > h4 {
    color: #fff;
    font-size: .8rem;
}
#box-caja-videos .art-video > label {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    pointer-events: none;
}
#box-caja-videos .art-video > a {
    position: absolute;
    margin:0px;
    top: 94px;
    left: 80px;
}
#box-caja-videos #ver-mas-videos {
    color: #fff;
    background: #000;
    padding: 10px;
    font-size: 14px;
}

.img-video-nota{
    background-repeat: no-repeat!important;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    height: 350px;
}


.box-horizontal > .repr-video > .boton-video,.box-vertical > .repr-video > .boton-video{
    position:absolute;
    top: 60px;
    left:150px;
    width: 3rem;
    height: 3rem;
    opacity: 0;
}
.box-horizontal > .repr-video > .loading-video,.box-vertical > .repr-video > .loading-video{
    position:absolute;
    top: 60px;
    left:150px;
    width: 3rem;
    height: 3rem;
}
.box-vertical{
    height:240px;
    width: 363px;
}
.box-horizontal > .vrudo,.box-vertical > .vrudo{
    position:absolute;
    top:0px;
    left:0px;
    width:365px;
    height:180px;
    padding-left: 0px;
    z-index:1;
    display:none;
}
.box-vertical > .vrudo{
    padding-right: 0.51rem;
}
.box-vertical > .repr-video{
    width: 357px;
    height: 180px;
    position: absolute;
    z-index:10;
}
.box-vertical > .title-video{
    position: absolute;
    top: 180px;
}
.box-horizontal > .repr-video, .box-vertical > .repr-video{
    z-index: 10;
}
.img-video-nota{
    overflow: hidden;
}
.img-video-nota > .vrudo{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index:10;
    opacity:0;
}
.img-video-nota > .repr-video{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index:10;
}
.img-video-nota > #texto-fotodest{
    z-index:20;
    bottom: -38px;
    color: rgb(23,23,23);
    background: rgb(255,255,255);
}
.nota .imgDestacada{
    overflow: visible;
}
.img-video-nota > .repr-video > img{
    position: absolute;
    top:100px;
    left:334px;
    width: 4rem;
    height: 4rem;
    padding: 1px;
    z-index:10;
    opacity: 0;
}
.iv-nota-deportes > .repr-video > img {
    left:230px;
    top: 140px;
}
.img-video-mujer{
    overflow: hidden;
}
.img-video-mujer > .vrudo{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    z-index:10;
    opacity:0;
}
.img-video-mujer > .repr-video{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    padding: 0px;
    z-index:10;
}
.img-video-mujer > .repr-video > .mask{
    position: absolute;
    z-index:15;
}
.img-video-mujer > #texto-fotodest{
    z-index:20;
}
.img-video-mujer > .repr-video > img{
    position: absolute;
    top:160px;
    left:45%;
    width: 4rem;
    height: 4rem;
    padding: 1px;
    z-index:10;
    opacity: 0;
}
.img-video-supertitular > .vrudo{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index:1;
}
.img-video-supertitular > .repr-video{
    height: 100%;
    width: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 15;
}
.img-video-supertitular > .imagen-supertitular-v{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}
.img-video-supertitular > .repr-video > img{
    position: absolute;
    top:140px;
    left:244px;
    width: 4rem;
    height: 4rem;
    padding: 1px;
    z-index:10;
    opacity: 0;
}
.img-video-supertitular > .now{
    z-index: 30;
}
.img-video-supertitular > .enlace-supertitular{
    position:absolute;
    z-index:12;
}
.super-titular .super-box .titular .titular-img .enlace-supertitular{
    position:absolute;
    z-index:25;
    right:0px;
    top:0px;
    width: 50%;
}
.img-video-nota > .fix-iv-nota > img{
    top:140px;
    left:324px;
}
.iv-grantitular > .repr-video{
    position: absolute;
}
.iv-grantitular > .repr-video > img{
    position: absolute;
    top:140px;
    left:300px;
    width: 4rem;
    height: 4rem;
    padding: 1px;
    z-index:10;
    opacity: 0;
}
.iv-grantitular > .vrudo{
    position: absolute;
    top:0px;
    left:0px;
    width: inherit;
    height: 350px;
    z-index:1;
}
.iv-grantitular > .repr-video{
    position: absolute;
    top:0px;
    left:0px;
    width: inherit;
    height: 350px;
    z-index:10;
}
.iv-grantitular{
    height: 442px;
}
.iv-grantitular > .title-video{
    position: absolute;
    top: 350px;
    left: 0px;
}
.iv-grantitular > .repr-video > .loading-video,.img-video-supertitular > .repr-video > .loading-video{
    opacity:1;
}
.box .box-horizontal > .repr-video > .pic{
    width: 350px;
    height: 180px;
}
#box-caja-videos .mostrar-oculto{
    opacity:1;
    display:block;
}
#caja-super-titular .repr-video{
    width:inherit;
    height: inherit;
}
#caja-super-titular .vrudo {
    position: absolute;
    width: 45%;
    height: 90%;
    top: 5%;
    left: 5%;
    border: solid 1px rgb(255,255,255);
}
.super-titular .super-box .titular.video-destacado-cajita .titular-img a .texto{
    width: 430px;
}
.img-video-nota .vrudo,.vrudo{
    /*width: 100%;
    height: 100%;*/
    width: 730px;
    height: 350px;
}
.img-video-nota > .tiene-video > .caption{
    display: none;
}
.img-video-nota > .repr-video + .caption{
    display:none;
}
.img-video-nota > .tiene-video + .caption{
    display: block;
}
.nota .imgDestacada .tiene-video .caption{
    bottom: -55px;
    z-index: 30;
    display: block;
    color: rgb(13,13,13);
    background: rgb(255,255,255);
}
.nota .imgDestacada.overflow-visible{
    /*overflow: visible;*/
}
.nota .imgDestacada.overflow-hidden{
    overflow: hidden;
}
.nota .contenido-nota .vrudo{
    width: 700px;
    height: 394px;
}
.video-destacado-cajita .repr-video > .vrudo{
    position: absolute;
    top:0px;
    left:0px;
    padding:inherit;
    width: 100%;
    height: 100%;
}
