/*
	SevenOne Media Ad Integration for www.wetter.com
*/

.som-ad-banner {
    position: relative;
}

.ad-version:after {
	content: '';
	display: none;
}
.ad-wrapper div,
.ad-wrapper object,
.ad-wrapper embed,
.ad-wrapper img,
.ad-wrapper iframe,
.ad-wrapper ins {
	vertical-align: bottom;
}
/* suppress ugly dotted border after click */
.ad-wrapper a:focus {
	outline-style: none;
}
/* tracking pixels, swf, iframes must not open up vertical space */
.ad-wrapper img[height="0"],
.ad-wrapper img[height="1"],
.ad-wrapper object[height="0"],
.ad-wrapper object[height="1"],
.ad-wrapper embed[height="0"],
.ad-wrapper embed[height="1"],
.ad-wrapper iframe[height="0"],
.ad-wrapper iframe[height="1"] {
	display: block;
	position: absolute;
}
/* reset harmful definitions for tag selectors */
.ad-wrapper img {
	max-width: none;
}
#ads-outer {
  position: relative;
  z-index: 100000; /* higher than navigation bar which is 10001 */
  margin: 5px 0 0 0; /* only margin-top, margin-bottom is definded by content box */
}
#ad-fullbanner2-outer {
	position: relative;
	z-index: 3;
}
#ad-fullbanner2 {
	margin: 0 0 0 auto;
}
#ad-fullbanner2-billboard-outer {
	position: relative;
	z-index: 90;
}
#ad-fullbanner2-billboard {
	margin: 0 auto;
	padding-top: 10px;
}
#ad-skyscraper1-outer,
#ad-skyscraper2-outer {
	position: absolute;
	z-index: 2;
	right: -165px;
	width: 160px;
	margin-top: 5px;
}
#ad-skyscraper2-outer {
	margin-top: 1010px;
	z-index: 1;
}
#ad-skyscraper1,
#ad-skyscraper2 {
	width: 160px;
}
#ad-rectangle1-outer {
	position: relative;
	z-index: 100;
}
#ad-rectangle1,
#ad-promo1,
#ad-promo2,
#ad-promo3,
#ad-promo4,
#ad-promo5 {
	margin: 0 auto;
}
iframe.ad-wrapper {
	width: 0;
	height: 0;
	display: none;
	padding: 0;
	margin: 0 auto;
	border-style: none;
}
#ad-mlayer1 {
  position: relative;
}
#ad-mbanner1-outer,
#ad-mbanner2-outer {
  position: relative;
  margin: 5px 0;
}
#ad-mbanner1,
#ad-mbanner2 {
  width: 320px;
  margin: 0 auto;
}
