html, body {
    background-image: none;
    background-color: transparent;
    width: 100%;
}

img {
    display: block;
    line-break: auto;
}

div,
form,
input,
button,
select {
    display: none;
}

.printable {
    display: block !important;
    width: 100%;
    min-width: 700px;
}

.not-printable {
    display: none !important;
}

#printChart,
#printChart div {
    display: block !important;
}

.new-page {
    page-break-after: always;
}

h1 {
    font-size: 28px;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

td {
    position: relative;
    vertical-align: middle;
}

table.details td {
    vertical-align: middle;
    border: 1px solid #CCC;
    padding: 5px;
    white-space: nowrap;
    text-align: center;
}

img.additional-icon {
    position: absolute;
    left: 0px;
    top: 20px;
}

.sf-minitoolbar {
    display: none !important;
}

#printRoutingInfo {
    padding-bottom: 20px;
}