.black_header
{
 background:0;
 width:956px;
 height:38px;
 margin:10px 0 0 0;
 padding:0;
 position:relative;
 margin: 10px auto 0 auto;
 z-index: 9999;
}

.header_leftBlack
{
 width:5px;
 height:38px;
 background:url(../img/flags/black_left.jpg) no-repeat;
 float:left;
}

.header_midBlack
{
 width:946px;
 height:38px;
 background:url(../img/flags/black_mid.jpg) repeat-x;
 float:left;
}

.header_rightBlack
{
 width:5px;
 height:38px;
 background:url(../img/flags/black_right.jpg) no-repeat;
 float:left;
}

.LogoBlack
{
 border-right: 1px solid #000;
 height:33px;
 padding:5px 15px 0 10px;
 margin:0;
 float: left;
}

.black_header a:link, .black_header a:active, .black_header a:visited {
	color: #ffffff;
	text-decoration:none;
}
.black_header a:hover {
	color: #96c627;
	text-decoration:none;
}

.TopMenuBlack
{
 float: left;
 font-size:14px;
 margin:0;
 height:38px;
}														

.mainBlack {
	display: block;
	width: 90px;
	height: 26px;
}

.itemBlack
{
 height:26px;
 width:90px;
 float:left;
 border-right: 1px solid #000;
 padding:12px 5px 0 5px;
 text-align:center;
}

.innerBlack {
	background:url(http://img.babylon.com/site//images/babylon9/header/new_header/innerBlack.jpg) repeat-x;
	height: 11px !important;
	border: 0 !important;
}

.item_storeBlackNew
{
 height:26px;
 width:70px;
 float:left;
 border-right: 1px solid #000;
 border-left: 1px solid #000;
 padding:12px 5px 0 5px;
 text-align:center;
 margin:0 0 0 145px;
}
.item_storeBlack
{
 height:26px;
 width:70px;
 float:left;
 border-right: 1px solid #000;
 border-left: 1px solid #000;
 padding:12px 5px 0 5px;
 text-align:center;
 margin:0 0 0 250px;
}

.item_storeBlack:hover
{
 height:26px;
 width:70px;
 background:url(../img/flags/black_mid_sel.jpg) repeat-x;
 float:left;
 border-right: 1px solid #000;
 border-left: 1px solid #000;
 padding:12px 5px 0 5px;
 text-align:center;
 margin:0 0 0 250px;
}


.itemBlack:hover
{
 height:26px;
 width:90px;
 background:url(../img/flags/black_mid_sel.jpg) repeat-x;
 float:left;
 border-right: 1px solid #000;
 padding:12px 5px 0 5px;
 text-align:center;
}

.itemBlack  ul
{
 display: none;
}

.itemBlack:hover  ul
{
 margin:0;
 padding:0;
 list-style-type:none;
 position:absolute;
 display:block;
 top:38px;
 width:159px;
 border-right:1px solid #575a5b;
 font-size:13px;
 -moz-box-shadow: 3px 3px 3px #ccc;
 -webkit-box-shadow: 3px 3px 3px #ccc;
 box-shadow: 3px 3px 3px #ccc;
 filter: progid:DXImageTransform.Microsoft.dropShadow(color=#cccccc, offX=3, offY=3, positive=true);
}

.itemBlack:hover li
{
 background-color:#393d3f;
 height: 40px;
}

.lastBlackli {
 background-image: url(../img/flags/list_bottom.png);
 background-repeat: no-repeat;
 background-position: bottom;
 background-color: transparent !important;
 height: 5px !important;
}

.lastBlackliL {
 background-image: url(http://img.babylon.com/site//images/babylon9/header/new_header/list_bottomL.png);
 background-repeat: no-repeat;
 background-position: bottom;
 background-color: transparent !important;
 height: 5px !important;
}
.lastBlackliR {
 background-image: url(http://img.babylon.com/site//images/babylon9/header/new_header/list_bottomR.png);
 background-repeat: no-repeat;
 background-position: bottom;
 background-color: transparent !important;
 height: 5px !important;
}

.itemBlack:hover li a
{
 padding:5px 5px 5px 15px;
 text-align:left;
 margin:0 auto;
 border-top:1px solid #242627;
 border-bottom:1px solid #575a5b;
 width:120px;
 display: block;
}

.itemBlack:hover li a:hover
{
 background-color:#2e3133;
 color:#96c627;
 display: block;
}

.first {
	border-top: 0 !important;
 height: 29px !important;
}

.last {
	border-bottom: 0 !important;
}

.middle {
	line-height: 29px;
}

.list_bottom
{
 background:url(http://img.babylon.com/site//images/babylon9/header/new_header/list_bottom.png) bottom no-repeat;
}

.column {
	height: 25px !important;
}

.SideBar {
	margin-top: 15px !important;
}

.noborder {
	border: 0 !important;
}

.footerBlack {
 width:958px;
 border-top: 1px solid #717070;
 margin:20px auto 0 auto;
 text-align:center;
 font-size:10pt;
 padding-top:12px;
 color: #717070;
}

.footerBlack a:link, .footerBlack a:visited, .copyBlack a:link, .copyBlack a:visited {
	color: #717070;
	font-weight: normal;
	text-decoration: none;
	margin: 0 5px;
}

.footerBlack a:hover, .footerBlack a:active, .copyBlack a:hover, .copyBlack a:active {
	color: #8db100;
	text-decoration: underline;
}

.copyBlack {
 font-size: 10pt;
 color: #717070;
 margin: 10px auto;
 text-align: center;
}

/********* NEW BLACK Language Bar *********/

.lb_positionerBlack {
	position: absolute;
	width:170px;
	color:#004a80;
	float:right;
    font-size:14px;
	top:6px;
	right:4px;
	z-index:99999;
	margin:0;
}

.lb_positionerBlack  > .lb_wrap {
	position: absolute;
	z-index: 9999;
	width: 170px;
	height: 32px;
	background-position: 152px 9px;
	font-size: 12px;
	background-image: url('../img/flags/arrowC.png');
	background-repeat: no-repeat;
}

.lb_currentBlack  {
	float: left;
	line-height: 25px;
	width: 150px;
	color: #000;
}

.lb_positionerBlack > .lb_wrap ul .lb_flag {
	background-image: url('../img/flags/flags_new.gif') !important;
	background-repeat: no-repeat;
	width: 26px;
	height: 13px;
	margin: 3px 5px 0 5px;
	float: left;
}

.lb_flagCurrentBlack  {
	background-image: url('../img/flags/flags_new.gif');
	background-repeat: no-repeat;
	width: 26px;
	height: 13px;
	margin: 6px 5px 0 5px !important;
	float: left;
}

.lb_positionerBlack > .lb_wrap ul {
	display: none;
	list-style-type: none;
	background-color: #ffffff;
}
.lb_positionerBlack > .lb_wrap:hover ul {
	display: block;
	float: right;
	padding: 0;
	width: 140px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	height: 200px;
	margin-top: -1px;
	font-size: 100% !important;
}

.lb_wrap ul li{
	display: block;
	line-height: 19px;
	height: 20px;
	float: left;
	cursor: pointer;
	width: 140px
}

.lb_positionerBlack > .lb_wrap ul li:hover {
	background-color: #eeeeee;
}

.lb_container ul li a {
	color: #000000;
	text-decoration: none;
	display: block;
	width: 140px;
	font-size: 100% !important;
}

.lb_container ul li a:hover {
	color: #8db100;
	text-decoration: none;
	font-size: 100% !important;
}

.lb_positionerBlack > .lb_wrap .lb_first{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	height: auto !important;
}

.lb_mid{
}

.lb_positionerBlack > .lb_wrap .lb_last{
	border-left: 1px solid #000;
}

.lb_container {
    margin-left: -406px;
    margin-top: 32px;
    position: absolute;
    width: 580px;
}

.lb_flag.eng { background-position: 0px 0px;}
.lb_flag.ger { background-position: 0px -13px;}
.lb_flag.fre { background-position: 0px -26px;}
.lb_flag.spa { background-position: 0px -39px;}
.lb_flag.ita { background-position: 0px -52px;}
.lb_flag.dut { background-position: 0px -65px;}
.lb_flag.ptg { background-position: 0px -78px;}
.lb_flag.heb { background-position: 0px -91px;}
.lb_flag.swe { background-position: 0px -104px;}
.lb_flag.jpn { background-position: 0px -117px;}
.lb_flag.chs { background-position: 0px -130px;}
.lb_flag.cht { background-position: 0px -143px;}
.lb_flag.rus { background-position: 0px -156px;}
.lb_flag.kor { background-position: 0px -169px;}
.lb_flag.tur { background-position: 0px -182px;}
.lb_flag.ara { background-position: 0px -195px;}
.lb_flag.hun { background-position: 0px -208px;}
.lb_flag.nor { background-position: 0px -221px;}
.lb_flag.pol { background-position: 0px -234px;}
.lb_flag.rom { background-position: 0px -247px;}
.lb_flag.tha { background-position: 0px -260px;}
.lb_flag.hin { background-position: 0px -273px;}
.lb_flag.dan { background-position: 0px -286px;}
.lb_flag.ind { background-position: 0px -273px;}
.lb_flag.den { background-position: 0px -286px;}
.lb_flag.ukr { background-position: 0px -299px;}
.lb_flag.far { background-position: 0px -312px;}
.lb_flag.gre { background-position: 0px -325px;}
.lb_flag.ido { background-position: 0px -339px;}
.lb_flag.cze { background-position: 0px -354px;}
.lb_flag.vie { background-position: 0px -367px;}
.lb_flag.srp { background-position: 0px -381px;}
.lb_flag.fin { background-position: 0px -394px;}
.lb_flag.slk { background-position: 0px -408px;}
.lb_flag.fil { background-position: 0px -422px;}
.lb_flag.bul { background-position: 0px -436px;}
.lb_flag.hrv { background-position: 0px -450px;}
.lb_flag.lit { background-position: 0px -464px;}
.lb_flag.slv { background-position: 0px -479px;}

.lb_flagCurrentBlack.eng { background-position: 0px 0px;}
.lb_flagCurrentBlack.ger { background-position: 0px -13px;}
.lb_flagCurrentBlack.fre { background-position: 0px -26px;}
.lb_flagCurrentBlack.spa { background-position: 0px -39px;}
.lb_flagCurrentBlack.ita { background-position: 0px -52px;}
.lb_flagCurrentBlack.dut { background-position: 0px -65px;}
.lb_flagCurrentBlack.ptg { background-position: 0px -78px;}
.lb_flagCurrentBlack.heb { background-position: 0px -91px;}
.lb_flagCurrentBlack.swe { background-position: 0px -104px;}
.lb_flagCurrentBlack.jpn { background-position: 0px -117px;}
.lb_flagCurrentBlack.chs { background-position: 0px -130px;}
.lb_flagCurrentBlack.cht { background-position: 0px -143px;}
.lb_flagCurrentBlack.rus { background-position: 0px -156px;}
.lb_flagCurrentBlack.kor { background-position: 0px -169px;}
.lb_flagCurrentBlack.tur { background-position: 0px -182px;}
.lb_flagCurrentBlack.ara { background-position: 0px -195px;}
.lb_flagCurrentBlack.hun { background-position: 0px -208px;}
.lb_flagCurrentBlack.nor { background-position: 0px -221px;}
.lb_flagCurrentBlack.pol { background-position: 0px -234px;}
.lb_flagCurrentBlack.rom { background-position: 0px -247px;}
.lb_flagCurrentBlack.tha { background-position: 0px -260px;}
.lb_flagCurrentBlack.hin { background-position: 0px -273px;}
.lb_flagCurrentBlack.dan { background-position: 0px -286px;}
.lb_flagCurrentBlack.ind { background-position: 0px -273px;}
.lb_flagCurrentBlack.den { background-position: 0px -286px;}
.lb_flagCurrentBlack.ukr { background-position: 0px -299px;}
.lb_flagCurrentBlack.far { background-position: 0px -312px;}
.lb_flagCurrentBlack.gre { background-position: 0px -325px;}
.lb_flagCurrentBlack.ido { background-position: 0px -339px;}
.lb_flagCurrentBlack.cze { background-position: 0px -354px;}
.lb_flagCurrentBlack.vie { background-position: 0px -367px;}
.lb_flagCurrentBlack.srp { background-position: 0px -381px;}
.lb_flagCurrentBlack.fin { background-position: 0px -394px;}
.lb_flagCurrentBlack.slk { background-position: 0px -408px;}
.lb_flagCurrentBlack.fil { background-position: 0px -422px;}
.lb_flagCurrentBlack.bul { background-position: 0px -436px;}
.lb_flagCurrentBlack.hrv { background-position: 0px -450px;}
.lb_flagCurrentBlack.lit { background-position: 0px -464px;}
.lb_flagCurrentBlack.slv { background-position: 0px -479px;}

.firstLeft { left:145px; }
.secondLeft { left:247px; }
.thirdLeft { left:407px; }