﻿input {
    -webkit-appearance: none;
}
/* Universal */
body {
    background: #222222;
    font-family: 'Titillium Web', sans-serif;
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}
/* Avoid text resizing on Mobile Safari */
input {
    -webkit-appearance: none;
}

img {
    display: block;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

h1, h2, b {
    font-weight: normal;
}

ul, ol, li {
    list-style: none;
}

/* Helpers */

h3 {
    color: #2e7cf1;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font: bold 20px'Titillium Web', sans-serif;
}

.section-title {
    color: #2e7cf1;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 40px;
    font: bold 34px'Titillium Web', sans-serif;
}

.section-title-W {
    color: white;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 40px;
    font-style: normal;
    font-size: 34px;
    font-family: 'Titillium Web', sans-serif;
}

.special {
    color: silver;
    font: normal 28px 'Titillium Web', sans-serif;
}

.container {
    overflow: hidden;
    width: 700px;
    color: #7a7a7a;
    font: 1em/1.4em 'Titillium Web', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
    padding-left: 60px;
}

.container-W {
    overflow: hidden;
    width: 700px;
    color: #ffffff;
    font: 1em/1.4em 'Titillium Web', sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 55px;
    padding-left: 60px;
}

.slogan {
    clear: both;
    color: #2e7cf1;
    text-align: center;
    text-transform: none;
    width: 80%;
    font: bold 40px 'Titillium Web', sans-serif;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
}

.tagline {
    color: #2e7cf1;
    text-align: center;
    width: 80%;
    font: 22px 'Titillium Web', sans-serif;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.1px;
}

/* Sections */
nav {
    height: 110px;
    position: fixed;
    text-transform: none;
    z-index: 10;
    border-bottom: 2px solid #a4a4a4;
    background: white no-repeat;
    margin-top: -8px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    opacity: 0.93;
}

.jrtop {
    width: 900px;
    height: 85px;
    text-transform: none;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    margin-top: 22px;
}

.toplogo {
    position: fixed;
    text-transform: none;
    z-index: 10;
    opacity: 1;
    height: 80px;
    width: 280px;
    background: url('img/logo.png') no-repeat 4px 4px;
}

.buttons {
    background-color: transparent;
    height: 44px;
    width: 650px;
    padding-left: 300px;
    font-family: 'Titillium Web', sans-serif;
}

nav ul {
    overflow: hidden;
    position: relative;
    margin-right: auto;
    padding-bottom: 6px;
    width: 100%;
    padding-top: 30px;
}

    nav ul:after, nav ul:before {
        background: none no-repeat;
        bottom: 0;
        content: "";
        position: absolute;
        top: 0;
        width: 220px;
        height: 22px;
    }

    nav ul:before {
        background-position: left top;
        left: 0;
    }

    nav ul:after {
        background-position: right top;
        right: 0;
    }

nav li {
    float: left;
    margin-right: 4px;
}

nav a {
    color: #2e7cf1;
    float: left;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    font-family: 'Titillium Web', sans-serif;
    padding: 2px 6px 0;
    margin-right: 2px;
    margin-left: 2px;
}


nav .active {
    background-color: #2e7cf1;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
}

nav a:hover, nav a:focus {
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #bababa;
    outline: none;
}

.background-image {
    height: 690px;
    max-width: 1200px;
    min-width: 960px;
    overflow: hidden;
    position: absolute;
    z-index: -3;
    top: 10px;
    margin-left: auto;
    right: 10%;
    left: 10%;
    margin-right: auto;
}


#install-ext-btn {
    margin: 50px;
    margin: 0 auto;
    height: 88.6px;
    width: 336px;
    cursor: pointer;
}

.chrome-ext-btn {
    background: url('../images/chrome-btn.png') 0 0;
}

    .chrome-ext-btn:hover {
        background: url('../images/chrome-btn.png') 0 177.5px;
    }

    .chrome-ext-btn:active {
        background: url('../images/chrome-btn.png') 0 266px;
    }


.ff-ext-btn {
    background: url('../images/ff-btn.png');
}

    .ff-ext-btn:hover {
        background: url('../images/ff-btn.png') 0 177.5px;
    }

    .ff-ext-btn:active {
        background: url('../images/ff-btn.png') 0 266px;
    }


.logo {
    color: #97bf46;
    overflow: hidden;
    opacity: 1;
    background: transparent no-repeat;
    width: 508px;
    font-size: 12px;
    margin-right: auto;
    margin-top: 120px;
    margin-left: auto;
    padding-left: 55px;
}

    .logo a {
        color: #97bf46;
        float: right;
        height: 456px;
        opacity: 1;
        width: 508px;
        font-size: 14px;
        background: url('img/icon1.png') no-repeat;
        font-weight: bold;
        font-variant: small-caps;
        text-align: right;
    }

        .logo a:hover {
            color: #97bf46;
            float: right;
            height: 456px;
            opacity: 1;
            width: 508px;
            font-size: 14px;
            background: url('img/icon1.png') no-repeat;
            font-weight: bold;
            font-variant: small-caps;
            text-align: right;
            cursor: default !important;
            -webkit-cursor: default !important;
            -moz-cursor: default !important;
        }

/*.logo a.active {
  background-image:url('img/bubble1.png');
  background-repeat:no-repeat;
  float:right;
  height: 456px;
  opacity: 1;
  width: 508px;
  -moz-transition-property: all;
  -moz-transition-duration: 2s;
  -o-transition-property: all;
  -o-transition-duration: 2s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  transition-property: all;
  transition-duration: 2s;
	color: black;
	opacity: 0.6;
}*/
greenbar {
    color: #fff;
    font-size: 11px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    background-image: none;
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    margin-top: 10px;
}

.top {
    height: 28px;
    width: 500px;
    background-color: #2e7cf1;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 22px auto 55px;
}

.middle {
    font-size: 11px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    height: 40px;
    width: 80%;
    background-color: #2e7cf1;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 55px auto;
    padding: 24px;
    color: white;
    top: 55px;
}

    .middle a {
        font-size: 11px;
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: 0.1em;
        line-height: 12px;
        text-align: center;
        height: 40px;
        width: 80%;
        background-color: #2e7cf1;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin: 55px auto;
        padding: 20px;
        color: white;
        top: 55px;
    }

        .middle a:hover {
            font-size: 11px;
            font-family: 'Titillium Web', sans-serif;
            letter-spacing: 0.1em;
            line-height: 12px;
            text-align: center;
            height: 40px;
            width: 80%;
            background-color: #2e7cf1;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            margin: 55px auto;
            padding: 20px;
            color: #4f4f4f;
            top: 55px;
        }

.topcopy {
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    height: 24px;
    width: 100%;
    top: 6px;
    left: 5%;
    visibility: visible;
    position: relative;
}

.middlelinks {
    font-size: 11px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    height: 22px;
    width: 100%;
    top: 10px;
    left: 5%;
    visibility: visible;
    position: relative;
}

.socialiconstop {
    width: 200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
    float: right;
}

    .socialiconstop a {
        margin: 0 10px 0 0;
        width: 55px;
        height: 55px;
        float: left;
        display: block;
        text-indent: -9999px;
    }

.socialicons {
    width: 250px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14px;
    float: right;
}

    .socialicons a {
        margin: 0 10px 0 0;
        width: 45px;
        height: 45px;
        float: left;
        display: block;
        text-indent: -9999px;
    }

#connect .twitter {
    background: url('../img/twitter_icon.png');
    background-repeat: no-repeat;
    color: #4d8195;
    width: 120px;
}

#connect .facebook {
    background: url(../img/facebook.png) no-repeat;
    color: #3b5998;
}

#connect .members {
    background: url('../img/members.png');
    background-repeat: no-repeat;
    color: #333;
}

#connect .email {
    background: url(../img/email.png) no-repeat;
    color: #333;
    width: 120px;
}

.socialiconstop .twitter {
    background: url('img/tw_icon1.png') no-repeat 0 0;
    margin-top: -18px;
    margin-right: 20px;
    margin-left: 15px;
    width: 55px;
    height: 55px;
}

    .socialiconstop .twitter:hover {
        background: url('img/tw_icon2.png') no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

.socialiconstop .facebook {
    margin-top: -18px;
    margin-right: 20px;
    background-image: url('img/fb_icon1.jpg');
    width: 55px;
    height: 55px;
}

    .socialiconstop .facebook:hover {
        background: url('img/fb_icon2.jpg') no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-right: 20px;
    }

.socialicons .twitter {
    background: url('img/tw_icon1.png') no-repeat 0 0;
    margin-top: -18px;
    margin-right: 20px;
    margin-left: 15px;
    width: 55px;
    height: 55px;
}

    .socialicons .twitter:hover {
        background: url('img/tw_icon2.png') no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-bottom: 20px;
        margin-left: 15px;
    }

.socialicons .facebook {
    margin-top: -18px;
    margin-right: 20px;
    background-image: url('img/fb_icon1.png');
    width: 55px;
    height: 55px;
}

    .socialicons .facebook:hover {
        background: url('img/fb_icon2.png') no-repeat;
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-right: 20px;
    }

.socialicons .email {
    background: url('img/mail_icon1.png') no-repeat 0 0;
    margin-top: -18px;
    margin-right: 20px;
    width: 55px;
    height: 55px;
}

    .socialicons .email:hover {
        background-image: url('img/mail_icon2.png');
        width: 55px;
        height: 55px;
        margin-top: -18px;
        margin-right: 20px;
    }



#arrows {
    background: url('img/arrows.png') no-repeat 0 80px;
    width: 200px;
    opacity: 0.5;
    height: 200px;
}

#getitnow {
    height: 202px;
    width: 520px;
    text-decoration: none;
    margin-left: 20%;
    margin-top: -20px;
    background-image: url('img/btn_download_1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 40px;
}

    #getitnow:hover {
        height: 202px;
        width: 520px;
        text-decoration: none;
        margin-top: -20px;
        margin-left: 20%;
        background-image: url('img/btn_download_2.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        margin-bottom: 40px;
    }

.greenfooter {
    background: #2e7cf1 100%;
}
