body {
	font-family: 'Signika', sans-serif;
}


.clear{
	clear:both;
}

.share-actions{
	position:fixed;
	left:0;
	top: 220px;
	z-index:9999
}

.txt{
	font: 14px 'Signika', sans-serif;
	letter-spacing: 0.05em;
	height:80px;
	min-height:80px;
	padding:5px;
}

.share-actions .twitter{
	background-color:#31b6d9;
	background-image: url(../img/twitter_ico.png);
	background-repeat:no-repeat;
	background-position: 6px 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
     border-radius: 4px;
	margin-left: -4px
}

.share-actions .facebook{
	background-color:#5069ba;
	background-image: url(../img/facbook_ico.png);
	background-repeat:no-repeat;
	background-position: 6px 4px;
	text-shadow:0px 1px 1px #192b88
	-moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
     border-radius: 4px;
	margin-left: -4px
}

.share-actions .twitter,.share-actions .facebook,.share-actions .email{
	cursor:pointer;
	display:block;
	height:40px;
	width:40px;
	white-space:nowrap;
	-webkit-transition:width 0.1s ease-out;
	-moz-transition:width 0.1s ease-out;
	transition:width 0.1s ease-out
}

.share-actions .twitter .txt,.share-actions .facebook .txt,.share-actions .email .txt{
	color:#fff;
	font-weight:200;
	line-height:40px;
	height:40px;
	visibility:hidden;
	    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;
	-webkit-transition:opacity 0.4s ease-out 0.1s;
	-moz-transition:opacity 0.0s ease-out 0.1s;
	transition:opacity 0.5s ease-out 0.1s
}

.share-actions .twitter:hover{
	width:120px
}

.share-actions .facebook:hover{
	width:135px
}

.share-actions .email:hover{
	width:145px
}

.share-actions .twitter:hover,.share-actions .facebook:hover,.share-actions .email:hover{
	padding-left:42px
}

.share-actions .twitter:hover .txt,.share-actions .facebook:hover .txt,.share-actions .email:hover .txt{
	visibility:visible;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1
}

.row{zoom:1;margin-bottom:18px;margin-left:-20px;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
.row .span1,.row .span2,.row .span3,.row .span4,.row .span5,.row .span6,.row .span7,.row .span8,.row .span9,.row .span10,.row .span11,.row .span12,.row .span13,.row .span14,.row .span15,.row .span16{display:inline;float:left;margin-left:20px;}
.row .span1{width: 100px;}
.row .span2{width: 100px;
}
.row .span3{width: 55px;}
.row .span4{
	width: 220px;
}



