html>/**/body .SaveClick, html>/**/body .CancelClick, html>/**/body .okClick {
	display: inline-block; /* for all but IE 6-7 */
}
* html .SaveClick, * html .CancelClick, * html .okClick,
*+html .SaveClick, *>html .CancelClick, *>html .okClick {
	display: inline !important; /* IE 6-7 */
}
.SaveClick {
	margin-right: 12px;
}
* html .SaveClick, *+html .SaveClick {
	margin-left: 0; /* IE 6-7 */
	margin-right: 56px; /* IE 6-7 */
}
