/*
    Chat styles
    buildin chat, resource chat, fullscreen chat mode

    1. Reset browser styles
    2. Base chat styles
        2.1 Chat header
        2.2 Chat smiles
        2.3 Users list and content
            2.3.2 Font size
        2.4 Controlbar
        2.5 Toolbar
        2.6 Content authorized access btns
        2.7 Animations
        2.8 Position right relocate
    3. Resource type
        3.1 Standalone resource
    4. Media queries section
        4.1 Resize chat for mobile
    5. Column copy from media queries section
    6. Fullscreen chat change webkit
    7. Fullscreen chat change Gecko
    8. Fix browser fullscreen
    

*/
/*-----------------------------------------------------------------------------------*/
/* Reset browser styles */
/*-----------------------------------------------------------------------------------*/
body.fullscreen {
    margin: 0;
}

.chat a {
    color: #0E859F;
}

/*-----------------------------------------------------------------------------------*/
/* Base chat styles */
/*-----------------------------------------------------------------------------------*/

/* Chat header */
.chat {
    padding: 3px 7px;
    box-sizing: border-box;
    
    background-color: #e2ecf0;
    
    font-family: Tahoma,Arial,sans-serif;
    font-size: 13px;
}

.chat .header {
    text-align: left;
}

.chat .body {
    width: 100%;
    display: flex;
}

/* Chat smiles */
.chat .smiles-holder {
    width: 0px;
    position: relative;
}

.chat .smiles {
    overflow: hidden;
    width: 0px;
    position: absolute;
    right:0;
    height: 100%;
    background-color: #e2ecf0;
    
    transition: width 0.5s ease;
}

.chat .smiles.open {
    width: 360px;
}

.chat .SmilesTable td {
    text-align: center;
}

.chat .SmilesTable td a {
    display: inline-block;
}

/* Users list and content */
.chat .body .content, .chat .body .users-list {
    flex: 1;
    height: 310px;

    overflow-y: scroll;
    background-color: white;
    
    text-align: left;
}

.chat .users-list.hidden, .chat .content.hidden {
    display: none;
}

.chat .body > .content > div, .chat .body > .users-list > div  {
    box-sizing: border-box;
    padding: 4px;
}

.chat .body > .content > div:nth-child(even) {
    background-color: #fbfbfb;
}

.chat .content > div a {
    text-decoration: none;
}

.chat .content > div a:hover {
    text-decoration: underline;
}

.chat .content > div p, .chat .content > div a.user {
    display: inline;
    line-height: 24px;
    vertical-align: middle;
}

.chat .content  div.owner {
	font-weight: bold;
}

.chat .content > div p > * {
    vertical-align: middle;
}

.chat .content > div a.user,
.chat .users-list > div a.user
{
    display: inline-block;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chat .content > div p {
    margin: 0;
    vertical-align: middle;
}

.chat .content > div p img.smile {
    vertical-align: middle;
}

.chat .content > div a.user:after {
    content:":";
    display: inline-block;
    padding: 0 5px;
}

.chat .content > div a.MakeLink {
    vertical-align: baseline;
}

.chat img.user_icon {
    display: inline-block;
}

/* 2.3.2 Font size */
.chat .body {
    position: relative;
}

/*show action*/
.chat .body:hover .font {
    display: block
}

.chat .body .font {
    display: none;
}

/*  location */
.chat .body .font {
    position: absolute;
    right: 80px;
    top: 20px;
}

.chat .body .font > div {
    padding: 5px;
    margin: 2px;
    
    border-radius: 4px;
    
    color: white;
    
    cursor: pointer;
    user-select: none;
}

/* sizes */
.chat .body .font.size-13 .up {
    background: rgba(100, 100, 100, 1);
}

.chat .body .font.size-13 .down {
    background: rgba(100, 100, 100, 0.2);
}

.chat .body .font.size-14 .up {
    background: rgba(100, 100, 100, 0.8);
}

.chat .body .font.size-14 .down {
    background: rgba(100, 100, 100, 0.4);
}

.chat .body .font.size-15 .up {
    background: rgba(100, 100, 100, 0.6);
}

.chat .body .font.size-15 .down {
    background: rgba(100, 100, 100, 0.6);
}

.chat .body .font.size-16 .up {
    background: rgba(100, 100, 100, 0.4);
}

.chat .body .font.size-16 .down {
    background: rgba(100, 100, 100, 0.8);
}

.chat .body .font.size-17 .up {
    background: rgba(100, 100, 100, 0.2);
}

.chat .body .font.size-17 .down {
    background: rgba(100, 100, 100, 1);
}

.chat .body .font + .content > div a.MakeLink {
    font-size: inherit;
}


.chat .body .font.size-13 + .content,
.chat .body .font.size-13 ~ .users-list {
    font-size: 13px;
}

.chat .body .font.size-14 + .content,
.chat .body .font.size-14 ~ .users-list {
    font-size: 14px;
}

.chat .body .font.size-15 + .content,
.chat .body .font.size-15 ~ .users-list {
    font-size: 15px;
}

.chat .body .font.size-16 + .content,
.chat .body .font.size-16 ~ .users-list {
    font-size: 16px;
    line-height: 26px;
}

.chat .body .font.size-17 + .content,
.chat .body .font.size-17 ~ .users-list {
    font-size: 17px;
    line-height: 26px;
}


/* Controlbar */
.chat .body .controlbar {
    flex: 0 0;
    min-width: 50px; 
    
    display: flex;
    flex-direction: column;
}

.chat .body .controlbar > * {
    display: inline-block;
    min-width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    padding-top: 5px;
    
    text-align: center;
    
    cursor: pointer;
}

.chat .body .controlbar > div:last-child {
    flex: 1;
    border-bottom: 10px solid #0E859F;
}

/* Controlbar btns */
.chat .controlbar .btn {
    position: relative;
}

.chat .controlbar .btn:before {
    content: " ";
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
}

.chat .controlbar .btn object {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.chat .controlbar .btn-fullscreen object {
    padding-top: 7px;
    width: 27px;
}

/* Toolbar */
.chat .toolbar textarea {
    width: 100%;
    height: 50px;
    border: none;
    border-top:1px solid #e2ecf0;
    box-sizing: border-box;
    
    font-size: 13px;
    font-family: Tahoma,Arial,sans-serif;
    
    resize: vertical;
}

.chat .toolbar .form-chat-message {
    display: flex;
}


.chat .toolbar .form-chat-message > div {
    flex: 1;
}

.chat .toolbar .form-chat-submit {
    max-width: 66px;
    height: 50px;
}

.chat .toolbar form > span {
    display: inline-block;
}


.chat .toolbar #BroChatSmiles {
    display: inline-block;
    margin-top: 10px;
    text-align: left;
    margin-top: 0;
}

.chat .toolbar button[type="submit"] {
    
    border: none;
    width: 100%;
    height: 50px;
    background-color: #0E859F;
    color: white;
    font-size: 13px;
    
    cursor: pointer;
}

.chat .content .sys-msg {
    font-style: italic;
}

.chat .toolbar .decline {
    padding: 5px;
    background: #0e859f;
    
    color: white;
    line-height: 24px;
}

/* Content authorized access btns */
.chat .content a.btn-ban, .chat .users-list a.btn-ban  {
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url(/images/loadup.ru/ignore.gif) top left no-repeat;
    
    text-decoration: none;
    color: red;
    line-height: 24px;
    vertical-align: middle;

    cursor: pointer;
}

.chat .content a.btn-ban img {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    
}

/* Animations */
.chat .btn-submit.animate {
    animation: pressenter 0.3s ease 1;

}

.chat .body .controlbar > div:last-child.animate {
    animation: pressentercap 0.3s ease 1;
}

@keyframes pressenter {
    50% {
        background-color: #FF7B00;
    }
}

@keyframes pressentercap {
    50% {
        border-bottom: 8px solid #FF7B00;
    }
}

/* Position right relocate */
.chat-wrapper.relocate {
    position: absolute;
    z-index: 50;
    width: 480px;
}

.chat-wrapper.relocate .chat .body .content,
.chat-wrapper.relocate .chat .body .users-list {
    height: 355px;
}


/*-----------------------------------------------------------------------------------*/
/* Resource type */
/*-----------------------------------------------------------------------------------*/

/* standalone resource */
.chat-location.standalone {
    height: 100vh;
}

.chat-location.standalone .chat {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-location.standalone .chat .body {
    flex: 1 1 0;
	max-height: 90vh;
}

.chat-location.standalone .chat .toolbar {
	max-height: 10vh;
}

.chat-location.standalone .chat .body > .content,
.chat-location.standalone .chat .body > .users-list {
    height: auto;
}

.chat-location.standalone .chat .body .controlbar > *.btn-relocate,
.chat-location.standalone .chat .body .controlbar > *.btn-window,
.chat-location.standalone .chat .body .controlbar > *.btn-fullscreen {
    display: none;
}

/*-----------------------------------------------------------------------------------*/
/* Media queries section */
/*-----------------------------------------------------------------------------------*/

/* Resize chat for mobile */
@media (max-width : 400px) {
    /* full screen height */
    .chat {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .chat > div.body {
        flex: 1;
        flex-direction: column;
    }
    
    /* smiles animation from bottom */
    .chat .smiles-holder {
        width: inherit;
        height: 0;
    }
    
    .chat .smiles {
        width: inherit;
        right: 0;
        bottom: 0;
        transition: height 0.5s ease;
    }
    
    .chat .smiles.open {
        height: 270px;
        width: inherit;
    }
    
    .chat .body .font {
        right: 20px;
    }
    
    /*chenge orientation and location for controllbar */
    .chat .body .controlbar {
        flex: 0;
        min-height: 50px;
        flex-direction: row;
        justify-content: flex-end;
        min-width: inerit;
    }
    
    
    /* change buttons borders */
    .chat .body .controlbar > * {
        border-bottom: none;
        border-left: 1px solid white;
    }
    
    .chat .body .controlbar > *:last-child {
        /*disable last button stretch */
        flex: 0;
        /* fix inclined angle */
        border-left: none;
    }
    
    /* hide buttons */
    .chat .btn-relocate {
        display: none;
    }
}


/*-----------------------------------------------------------------------------------*/
/* Column copy from media queries section */
/*-----------------------------------------------------------------------------------*/

    /* full screen height */
    .chat-location.column .chat {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .chat-location.column .chat > div.body {
        flex: 1;
        flex-direction: column;
    }
    
    /* smiles animation from bottom */
    .chat-location.column .chat .smiles-holder {
        width: inherit;
        height: 0;
    }
    
    .chat-location.column .chat .smiles {
        width: inherit;
        right: 0;
        bottom: 0;
        transition: height 0.5s ease;
    }
    
    .chat-location.column .chat .smiles.open {
        height: 270px;
        width: inherit;
    }
    
    .chat-location.column .chat .body .font {
        right: 20px;
    }
    
    /*chenge orientation and location for controllbar */
    .chat-location.column .chat .body .controlbar {
        flex: 0;
        min-height: 50px;
        flex-direction: row;
        justify-content: flex-end;
        min-width: inerit;
    }
    
    
    /* change buttons borders */
    .chat-location.column .chat .body .controlbar > * {
        border-bottom: none;
        border-left: 1px solid white;
    }
    
    .chat-location.column .chat .body .controlbar > *:last-child {
        /*disable last button stretch */
        flex: 0;
        /* fix inclined angle */
        border-left: none;
    }

    /* hide buttons */
    .chat-location.column .chat .btn-relocate,
    .chat-location.column .chat .btn-fullscreen
    {
        display: none;
    }
    
    /********** differ from media queries **********/
    .chat-location.column {
        height: 90vh;
    }

/*-----------------------------------------------------------------------------------*/
/* Fullscreen chat change webkit */
/*-----------------------------------------------------------------------------------*/

/* fullscreen design */
:-webkit-full-screen .chat {
    background-color: #444;
}

:-webkit-full-screen .chat .body .content, 
:-webkit-full-screen .chat .body .users-list {
    background-color: #3e3e3e;
  
    color: white;
}

:-webkit-full-screen .chat .content > div a.user,
:-webkit-full-screen .chat .users-list > div a.user {
    color: #06d1ff;
}

:-webkit-full-screen .chat .content > div a.MakeLink {
    color: #e7ab02;
}

:-webkit-full-screen .chat .body .font {
    right: 20px;
}

:-webkit-full-screen .chat .toolbar textarea {
    background-color: #555;
    border: 1px solid #666;
    
    color: white;
}

:-webkit-full-screen .chat .body > .content > div:nth-child(even) {
    background-color: #333;
}


/* fullscreen layout */
    /* full screen height */
    :-webkit-full-screen .chat {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    :-webkit-full-screen .chat > div.body {
        flex: 1;
        flex-direction: column;
    }
    
    /* smiles animation from bottom */
    :-webkit-full-screen .chat .smiles-holder {
        width: inherit;
        height: 0;
    }
    
    :-webkit-full-screen .chat .smiles {
        width: inherit;
        right: 0;
        bottom: 0;
        transition: height 0.5s ease;
    }
    
    :-webkit-full-screen .chat .smiles.open {
        height: 270px;
        width: inherit;
    }
    
    /*chenge orientation and location for controllbar */
    :-webkit-full-screen .chat .body .controlbar {
        flex: 0;
        min-height: 50px;
        flex-direction: row;
        justify-content: flex-end;
        min-width: inerit;
    }
    
    
    /* change buttons borders */
    :-webkit-full-screen .chat .body .controlbar > * {
        border-bottom: none;
        border-left: 1px solid #666;
    }
    
    :-webkit-full-screen .chat .body .controlbar > *:last-child {
        /*disable last button stretch */
        flex: 0;
        /* fix inclined angle */
        border-left: none;
    }


/* full screen layout change */
.videophone:-webkit-full-screen  {
        display: flex;
}

.videophone:-webkit-full-screen  > .player {
    flex: 2 0;
}

.videophone:-webkit-full-screen  > .chat-location {
    min-width: 360px;
    flex: 0;
}

.videophone:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

/* full screen hack */
#BroadcastViewUpgraded:-webkit-full-screen  {
    float: none;
    width: 100%;
    height: 100%;
    display: flex;
}

#BroadcastViewUpgraded:-webkit-full-screen #BroPlayer {
    flex: 2 0;
    float: none;
    width: 100%;
    height: 100%;
}

#BroadcastViewUpgraded:-webkit-full-screen #BroPlayer > div {
    width: 100%;
    height: 100%;
}

#BroadcastViewUpgraded:-webkit-full-screen  .chat-location {
    min-width: 360px;
    max-width: 360px;
    height: 100%;
    flex: 0;
    position: inherit;
    
    margin-bottom: 0;
}

#BroadcastViewUpgraded:-webkit-full-screen #BroCaption,
#BroadcastViewUpgraded:-webkit-full-screen #BroDescr,
#BroadcastViewUpgraded:-webkit-full-screen #BroDescrExpandCollapse,
#BroadcastViewUpgraded:-webkit-full-screen #BroTop,
#BroadcastViewUpgraded:-webkit-full-screen .BroModeratePanel,
#BroadcastViewUpgraded:-webkit-full-screen #BannerUnderBroPlayer,
#BroadcastViewUpgraded:-webkit-full-screen #BannerOverBroTitle,
#BroadcastViewUpgraded:-webkit-full-screen #BroChatReplacer,
#BroadcastViewUpgraded:-webkit-full-screen .run.run-donations-wrapper,
#BroadcastViewUpgraded:-webkit-full-screen .popup-container.popup-hide.on-ajax-links, 
#BroadcastViewUpgraded:-webkit-full-screen #BannerUnderBroChat, 
#BroadcastViewUpgraded:-webkit-full-screen .BroSocial{
    display: none;
}

/* 100% flash width */
#BroadcastViewUpgraded:-webkit-full-screen #flashcontent {
    width: 100%;
    height: 100%;
    position: inherit;
}

:-webkit-full-screen .chat .body .content {
    overflow: hidden;
}

:-webkit-full-screen .chat .body .content:hover {
    overflow-y:scroll;
}


:-webkit-full-screen .chat .controlbar .btn-window,
:-webkit-full-screen .chat .controlbar .btn-relocate
{
    display: none;
}
/*-----------------------------------------------------------------------------------*/
/* Fullscreen chat change Gecko */
/*-----------------------------------------------------------------------------------*/

/* fullscreen chat change */
/* fullscreen design */
:-moz-full-screen .chat {
    background-color: #444;
}

:-moz-full-screen .chat .body .content, 
:-moz-full-screen .chat .body .users-list {
    background-color: #3e3e3e;
    
    color: white;
}

:-moz-full-screen .chat .content > div a.user,
:-moz-full-screen .chat .users-list > div a.user {
    color: #06d1ff;
}

:-moz-full-screen .chat .content > div a.MakeLink {
    color: #e7ab02;
}


:-moz-full-screen .chat .body .font {
    right: 20px;
}

:-moz-full-screen .chat .toolbar textarea {
    background-color: #555;
    border: 1px solid #666;
    
    color: white;
}

:-moz-full-screen .chat .body > .content > div:nth-child(even) {
    background-color: #333;
}

/* fullscreen layout */
    /* full screen height */
    :-moz-full-screen .chat {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    :-moz-full-screen .chat > div.body {
        flex: 1;
        flex-direction: column;
    }
    
    /* smiles animation from bottom */
    :-moz-full-screen .chat .smiles-holder {
        width: inherit;
        height: 0;
    }
    
    :-moz-full-screen .chat .smiles {
        width: inherit;
        right: 0;
        bottom: 0;
        transition: height 0.5s ease;
    }
    
    :-moz-full-screen .chat .smiles.open {
        height: 270px;
        width: inherit;
    }
    
    /*chenge orientation and location for controllbar */
    :-moz-full-screen .chat .body .controlbar {
        flex: 0;
        min-height: 50px;
        flex-direction: row;
        justify-content: flex-end;
        min-width: inerit;
    }
    
    
    /* change buttons borders */
    :-moz-full-screen .chat .body .controlbar > * {
        border-bottom: none;
        border-left: 1px solid #666;
    }
    
    :-moz-full-screen .chat .body .controlbar > *:last-child {
        /*disable last button stretch */
        flex: 0;
        /* fix inclined angle */
        border-left: none;
    }

#BroadcastViewUpgraded:-moz-full-screen  {
    float: none;
    width: 100%;
    height: 100%;
    display: flex;
}

#BroadcastViewUpgraded:-moz-full-screen #BroPlayer {
    flex: 2 0;
    float: none;
    width: 100%;
    height: 100%;
}

#BroadcastViewUpgraded:-moz-full-screen #BroPlayer > div {
    width: 100%;
    height: 100%;
}

#BroadcastViewUpgraded:-moz-full-screen  .chat-location {
    min-width: 360px;
    max-width: 360px;
    height: 100%;
    flex: 0;
    position: inherit;
    
    margin-bottom: 0;
}

#BroadcastViewUpgraded:-moz-full-screen #BroCaption,
#BroadcastViewUpgraded:-moz-full-screen #BroDescr,
#BroadcastViewUpgraded:-moz-full-screen #BroDescrExpandCollapse,
#BroadcastViewUpgraded:-moz-full-screen #BroTop,
#BroadcastViewUpgraded:-moz-full-screen .BroModeratePanel,
#BroadcastViewUpgraded:-moz-full-screen #BannerUnderBroPlayer,
#BroadcastViewUpgraded:-moz-full-screen #BannerOverBroTitle,
#BroadcastViewUpgraded:-moz-full-screen #BroChatReplacer,
#BroadcastViewUpgraded:-moz-full-screen .run.run-donations-wrapper,
#BroadcastViewUpgraded:-moz-full-screen .popup-container.popup-hide.on-ajax-links, 
#BroadcastViewUpgraded:-moz-full-screen #BannerUnderBroChat, 
#BroadcastViewUpgraded:-moz-full-screen .BroSocial{
    display: none;
}

/* 100% flash width */
#BroadcastViewUpgraded:-moz-full-screen #flashcontent {
    width: 100%;
    height: 100%;
    position: inherit;
}

:-moz-full-screen .chat .body .content {
    overflow: hidden;
}

:-moz-full-screen .chat .body .content:hover {
    overflow-y:scroll;
}

:-moz-full-screen .chat .controlbar .btn-window,
:-moz-full-screen .chat .controlbar .btn-relocate
{
    display: none;
}
/*-----------------------------------------------------------------------------------*/
/* Fix browser fullscreen */
/*-----------------------------------------------------------------------------------*/
:-moz-full-screen .chat > div.body {
    max-height: 90vh;
}

#BroadcastViewUpgraded:-ms-fullscreen .chat > div.body {
    max-height: 90vh;
}