#mouthoff {
  font-size: 1em;
  padding: 0;
}
#mouthoff dl {
  margin-bottom: 0;
}
#mouthoff form select {
  font-size: 0.9em !important;
}
#mouthoff form button {
  display: block;
}
#mouthoff .bg-success {
  width: 100%;
  text-align: center;
}
