﻿#pbNews {
	font-family: Tahoma;
	font-size: 8pt;
	direction: rtl;
	text-align: right;
}
#pbNews div.newsArchive {
	height: 20px;
	background-position: right center;
	width: 440px;
	background-image: url('images/bullet-archive.gif');
	background-repeat: no-repeat;
	padding-right: 12px;
	font-family: tahoma;
	font-size: 8pt;
	margin-top:10px;
}
#pbNews div.newsArchive a {
	font-family: Tahoma;
	font-size: 8pt;
	color: #cc0000;
	text-decoration: none;
}
#pbNews div.newsArchive a:hover {
	font-family: Tahoma;
	font-size: 8pt;
	color: #336699;
	text-decoration: none;
}
#pbNews div.newsItems {
	height: 20px;
}
#pbNews div.newsItems div.newsDate {
	float: right;
	width: 80px;
	font-family: tahoma;
	font-size: 8pt;
	color: #808080;
}
#pbNews div.newsItems div.newsItem {
	background-position: right center;
	float: right;
	width: 375px;
	background-image: url('images/bullet-news.gif');
	background-repeat: no-repeat;
	padding-right: 12px;
	font-family: tahoma;
	font-size: 8pt;
}
#pbNews div.newsItems div.newsItem a {
	font-family: Tahoma;
	font-size: 9pt;
	color: #336699;
	text-decoration: none;
}
#pbNews div.newsItems div.newsItem a:hover {
	font-family: Tahoma;
	font-size: 9pt;
	color: #cc0000;
	text-decoration: none;
}