﻿html{overflow: auto;}
a, body{font-family: "Segoe UI" ,Segoe,Tahoma,Arial,Verdana,sans-serif;font-size: small;text-decoration: none;background-color: #333;margin: 0px; padding: 0px;}
a:hover{text-decoration: underline;}
ul{padding: 0;border: 0px;}
table{border: 0;}
html, body, #hp #mainTbl, #hp #mainTbl td.mainTD{height: 100%;width: 100%;border-collapse: collapse;margin: 0;padding: 0;background-color: #333;border: 0;}
#hp #mainTbl td.mainTD{vertical-align: middle;overflow: hidden;}
	
#bgDiv{position: absolute;top: 0;overflow: hidden;width: 100%;height: 100%;background-repeat: no-repeat;background-color: #666;
	-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
	width: 100%; height: 768px; top:0px; left: 0px;opacity: 1;background-image: url(../img/bgimg-1366x768-1.jpg);
}

.sform{position: absolute;top: 20%;left: 8%;width: 1028px; *width: 707px; margin: 0;z-index: 8;}
.logo, .hpcNext, .hpcPrevious{background: transparent url(../img/hpc2.png) no-repeat 0 0;overflow: hidden;}
.logo{float: left;text-indent: -20em;margin: -3px 21px 0 0;width: 132px;height: 54px;}  
.hpcNext, .hpcPrevious{cursor: pointer;}

body .searchboxSubmit{height: 37px;width: 37px; border: 5px solid #ffb900;background: #ffb900 url(../img/hpc2.png) no-repeat;
	background-position: -136px -10px;vertical-align: top;margin: -2px 0 3px;
}
* + html .searchboxSubmit{color: #010101;filter: progid:DXImageTransform.Microsoft.Chroma(color=#000000);}
.searchboxSubmit{text-indent: -99em; position: static;right: 0;top: 0;cursor: pointer;}

body .searchboxForm{border: 1px #e5e5e5 solid;padding: 5px 3px 0;background-color: #fff;font: 18px/normal 'Segoe UI' ,Arial,Helvetica,Sans-Serif;display: inline-block;position: relative;}
body .searchbox{background-color: transparent;border-right: 0;margin-left: 6px;padding-right: 4px;}
.searchbox{
    width: 490px;margin-top: 2px;margin-right: 0;margin-bottom: 3px;margin-left: 12px;border: 0;padding-top: 0;padding-right: 10px;
    padding-bottom: 0;padding-left: 0;max-height: 30px;outline: none;-webkit-appearance: none;border-right: 1px solid;
    border-color: #ccc;box-sizing: content-box;position: relative;height: 40px;
}
              
#nav{position: absolute;top: 0; width: 100%;}
#foot, #nav{height: 35px;background-color: #333;z-index: 9;width: 100%;position: relative;border: 0;padding: 0px 0px 0 0;}

#nav ul li a{cursore: pointer;}
#nav ul li a:hover{text-decoration: none;color: #fff;}
#nav li.sc_active{font-weight: 700;border-left: solid 1px #a8b1b7;border-right: solid 1px #a8b1b7;margin: 0;border: none;}
#nav li.sc_active a{color: #ffa615;}

#nav .sw_mktsw{position: relative;display: none;top: 0;}
#nav .sw_mktsw a, #nav .sw_mktsw span{color: #999;margin: 0 10px 0 9px;height: 35px;line-height: 35px;}

.sw_tb{padding: 0;width: 100%;height: 35px;margin: 0;font-size: 13px;}
	
ul.hp_head_nav{/*position: absolute;top: 0;height: 55px;line-height: 35px;bottom: 0;margin: 0;padding: 0;*/}
ul.hp_head_nav li{display: inline;zoom: 1;}
ul.hp_head_nav li a{font-weight: 400;zoom: 1;vertical-align: middle;line-height: 35px !important;display: inline-block;margin-left: 15px;margin-right: 15px;color: #acacac; cursor: pointer;}

ul.hp_head_nav li a:hover{color: #fff !important;text-decoration: none;}
ul.hp_head_nav{padding-left: 3px;}
ul.hp_head_nav > li > a{text-transform: uppercase;}

.hpcNext, .hpcPrevious{width: 16px;height: 32px; margin: 0px 10px;}        
.hpcNext{background-position: -184px -9px;}
.hpcPrevious{background-position: -164px -9px;}

b{padding: 0;}
        
::-webkit-search-decoration, ::-webkit-search-cancel-button{-webkit-appearance: none;}
input[type='radio']{-webkit-appearance: radio;}
input[type='checkbox']{-webkit-appearance: checkbox;}
input{font: inherit;font-size: 100%;}

#hp_ctrls{height: 60px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
#sh_rdiv{position: absolute;right: 25px;top: 19px;}
#sh_rdiv a > div{position: relative;margin: 0 5px;}
#sh_rdiv a{position: relative;float: left;display: block;text-decoration: none;cursor: default;outline: none;}
#sh_rdiv a:hover, #sh_rdiv a:hover span{visibility: visible;}
#sh_igl > div, #sh_igl > div, #sh_igf > div{visibility: hidden;cursor: pointer;}
#sh_rdiv .sc_lightdis div{}


#hp_bottomCell{position: absolute;bottom: 0px; width: 100%;}
#hp_container{min-width: 1115px;max-width: 1366px;width: 100%;min-height: 599px;max-height: 768px;height: 100%;position: relative;margin: 0px auto;}
* + html #hp_container{overflow: hidden;}
table, td{border-spacing: 0;border: 0;padding: 0;}

#foot{_display: inline;_zoom: 1;overflow: hidden;}
#footL{margin: 0;padding: 0;text-align: right;position: absolute;right: 20px;white-space: nowrap;color: #666;}
#foot ul{display: block;}
#foot a, #foot{margin: 0;color: #666;}
#foot, #foot li a{font-weight: 400;}
#footL li{line-height: 32px;height: 32px;display: inline;zoom: 1;}

.banwrap{width: 550px;margin: 150px 0px 0px 152px;}
.ban{width: 300px; height: 270px; text-align: center; margin: 0px auto;}
	.ban iframe {
		width: 100%;
		height: 100%;
	}

@media (max-width: 480px) { 
	#nav{display: none;}
	#hp_ctrls{display: none;}
	.logo{width: 38px;height: 54px;}
	.sform{left: 5%;max-width: 300px;}
	#hp_ctrls{display: none;}
	.searchbox{width: 320px;}
	#hp_container{min-width: 280px; max-width: 470px;min-height: 100%;}
	.searchboxForm{margin-left: -10px;}
	input#q_top{width: 170px;}
	#suggestWrapper{width: 220px;}
}


@media (min-width: 481px) and (max-width: 767px) 
{
	#nav{display: none;}
	#hp_ctrls{display: none;}
	.sform{left: 4%;max-width: 530px;}
	#hp_container{min-width: 481px; max-width: 767px;min-height: 100%;}
	input#q_top{width: 300px;}
	#hp_ctrls{display: none;}
	#suggestWrapper{width: 360px;}
}

@media (min-width: 768px) and (max-width: 991px) 
{
	#hp_container{min-width: 768px; max-width: 991px;}
	input#q_top{width: 450px;}	
}

@media (min-width: 992px) and (max-width: 1199px) 
{
	#hp_container{min-width: 992px; max-width: 1199px;}
	/*#search_form{width: 992px;}
	.searchbox{width: 660px;}	
	#search_form{min-width: 992px;max-width: 1190px;}
	.hpcNext, .hpcPrevious{width: 16px;height: 32px; margin: 0px 10px;}        
	.hpcNext{background-position: -184px -9px;}
	.hpcPrevious{background-position: -164px -9px;}*/
}