/*-------------------------------
	Main Suggest UIO
-------------------------------*/

#suggestWrapper {
    border-top: 1px solid #e5e5e5;
    clear: both;
    
    position: relative;
    *margin-left: 5px;
    
    z-index:100;
    /*margin: 0px -4px;*/
	top: 1px;
	width: 100%;
}
#rtl #suggestWrapper {
    margin-right: 0;
    margin-left: -3px;
    *margin-left: 0;
    *margin-right: 5px;
}
.qltr 
{
    width:503px;height:30px;border:solid #aaa 1px;margin:10px 85px 18px 0;padding:0 0 0 9px;font-size:16px;*padding:6px 0 0 9px;*height:24px;*width:503px;outline:none;
}
.qrtl 
{
    width:503px;height:30px;border:solid #aaa 1px;margin:10px 85px 18px 0;font-size:16px;*height:24px;*width:503px;outline:none;padding:0 9px 0 0;*padding:6px 9px 0 0;
}
.acp_ltr
{
    background:#FFFFFF;
    cursor: default;
    width: 100%;
}
.acp_ltr td 
{
    text-align:left;
    padding-left: 2px 0 1px 8px;
}
.acp_ltr tfoot th{text-align:center}
.acp_ltr tbody td
{
    width:282px;
    /*width:869px;*/
    font-size:16px;
    padding:1px;
    cursor: pointer;
}
.acp_ltr tfoot th input{padding:0 8px}
.acp_ltr tfoot td{text-align:right;padding:2px 8px 2px 8px;color:gray;font-size:9px}
.acp_rtl{border-color:#c9d7f1 #3366cc #36c #a2bae7;border-style:solid;border-width:1px;background:#fff;cursor:default;font-size:15px;width:514px;position:absolute;z-index:4;margin:-19px 98px 0 0;*margin:42px -517px 0 0}
.acp_rtl td{text-align:right;padding:2px 9px 1px 0}
.acp_rtl tbody td{width:514px}
.acp_rtl tfoot th{text-align:center}
.acp_rtl tfoot th input{padding:0 8px}
.acp_rtl tfoot td{text-align:right;padding:2px 10px 2px 2px;color:gray;font-size:9px}
@media screen and (-webkit-min-device-pixel-ratio:0){#more_langs{margin:0 -370px 0 0}/*.acp_ltr{width:512px;margin:-18px 0 0 108px}.acp_rtl{width:512px;margin:-18px 97px 0 111px}*/}
#user_text {color:#000000}
#suggest_div 
{
    color: silver;
    font: 20px Arial,sans-serif;
    left: 11px;
    position: absolute;
    top: 12px;
    z-index: 60;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #suggest_div 
    {
        top: 14px;   
    }
}

#userText {
    font-size: 20px;
}

#suggests_close {
    color: #A1B9ED;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 4px;
    top: 46px;
    z-index: 60;
}

#suggestTable tr.selected {
    background-color: #F0F1F2;
}

/* chrome fix */
@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    /* align suggest with search input size (ONLY in results page) */
    #rtl #form_search_wrapper #suggestWrapper {
        margin-right: 1px;
    }

}







/*------------------------------
            Globals
-------------------------------*/
* {  
	font-family:Arial;
	font-style: inherit;  
	font-size: 100%;  
	padding: 0;
	margin: 0;  
}
*:focus {outline: none;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
.clear {
    clear: both;
}
.before {float:left;}
#rtl .before {float:right;}

.after {float:right}
#rtl .after {float:left;}

/*html {
    height:100%; /* fix height to 100% for IE */
  /*  max-height:100%; /* fix height for other browsers */
    /*overflow-x: hidden;
    *min-height: 625px;
    
}
body {
	font-size:12px;
    min-height: 625px;
    height: 100%;
    *overflow-x: hidden;
    position: relative;
}


a {text-decoration:none;color:#151515;}
a:focus { 
    outline: none; 
}
img {border:none;}*/
ul li {list-style:none}

.sep {
    border-left: 1px solid #919496;
    display: block;
    /*float: left;*/
    height: 11px;
    margin-top: 2px;
    width: 5px;
    
    display: inline-block;
}
#rtl .sep 
{
    border-left: none;
    border-right: 1px solid #919496;
    /*float: right;*/
}
#cu a {
    /*
    float:left;
*/
    padding-right:5px;
    display: inline-block;
}
#rtl #cu a {
    /*float:right;
    */
    padding-left:5px;
    padding-right:0;
    display: inline-block;
}
#f #cls a {
    margin: 0 3px;
}
#f {font-size:11px;}

#more_wrapper {cursor:pointer;}

#bottom_links_wrapper1 {display:inline;}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}		 
.clearfix {
	display: inline-block;
	_display: inline;
	zoom: 1;
}		 
html[xmlns] .clearfix {
	display: block;
}		 
* html .clearfix {
	height: 1%;
}
a:active, a:selected { 
    border: none;
    outline: none;
}
#f a:hover {text-decoration:underline}
#lq, #lq .wq {
    /*background: no-repeat;
    background: url(/Images/search/labs/bg/input_bg.png) 0 0 no-repeat;*/
    /*height:45px !important;*/
}
#lq {
	/*height: 42px;
	background-position: right -46px;
	position: relative;
	display: block;
	z-index: 50;
	text-align: left;
	cursor: text;
	padding-right: 10px;*/
}
#lq .wq {
	background-position: left right;
	display: block;
	height: 42px;
	zoom: 1;
}
input#q_top {

	/*width: 800px;*/
	/*z-index: 70;
	position: relative;
	top: 0px;
	left: 0px;
	border: none;
	outline-style: none;
	display: block;
	background: white;
	width:800px;
    width: 97%;
    font-size: 18px;*/
	/*opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    filter:alpha(opacity=0);
    */
}
input#q_top.open {
	/*opacity:1;*/
    /*-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=100)";*/ /* IE 8 */
    /*filter:alpha(opacity=100);*/ /* IE 6 + 7 */
}
#lq .lb {
	color: #c0c0c0;
	cursor: text;
	font-size: 16px;
	font-style: italic;
    height: 42px;
    line-height:42px;
    text-indent: 10px;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 255px;
	/*z-index: 80;*/
	background: 12px 12px no-repeat;
}
#rtl #lq .lb {
	left: auto;
	right: 8px;
	text-align: right;
	zoom: 1;
	width /*\**/: 110px\9;
	white-space: nowrap;
}
/* IE9 hack */
:root #lq .lb {
    height:43px;
    line-height: 43px;
}

:root #rtl #lq .lb {
    height:43px;
    line-height: 43px;
}
#lq.focus .lb,
#lq.occupied .lb {
	display: none;
	color: #FFF
}

#s #st {
	padding: 8px 0 0;
	font-size: 15px;
	text-align: left;
	color: #FFF;
	font-weight: bold;
}
#s #st label {
    color: #FFF;
    font-weight: normal;
    background: left 1px no-repeat;
    outline: none;
}
#s #submit  {
	text-align: center;
	position: absolute;
	top: 3px;
	right: -2px;
	z-index: 70;
	zoom: 1;
    xmargin-left: -50000px;
    cursor: pointer;
}
#search_form {
    /*width: 700px;
   */
    margin: 0 auto;
}
SubmitButton,
html body #s #submit button {
    display: none;
}
html body#rtl #s #submit button {
    display: block;
}
html body#rtl #s #submit button::-moz-focus-inner {border: 0;}
html body#rtl #s #submit .button {
    /*display: none;*/
}

SubmitButton,
html>/**/body #s #submit .button,
html>/**/body #s #submit .button span {
}
html body #s #submit .button {
    background-position: right -49px;
    height: 46px;
    padding: 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
    xbackground-color: #F0F;
    display: block;
    color: #000;
}
html body#rtl #s #submit .button {
    background-position: right -50px;
}    
#s #submit button {
	padding: 16px 29px 11px 40px;
	display: block;
}

html body #s #submit.hover .button  {
	background-position: right -149px;
}
html body #s #submit.hover .button span {
	background-position: 0 -100px;
}
html body #s #submit.active .button {
	background-position: right -250px;
}
html body #s #submit.active .button span {
	background-position: left -200px;
	padding: 17px 28px 10px 41px;
}
.bg span {cursor:pointer;}
span.onhover {text-decoration:underline;}
span.onout {text-decoration:none;}

/*---------------------------
        button
---------------------------*/        
#main_button_wrapper {
    position:absolute;
    top:0;
    right:0;
}   
#rtl #main_button_wrapper {
    left:-8px;
    right:auto;
    margin-left:0;
}    
#button_wrapper {
	position:relative;
}
#suggest_button_wrapper
{
    position:relative;
}
#lastTd a#suggest_button {
    margin-left: -8px;
    padding-left: 30px;
    padding-right: 30px;
    color: #000;
}

a#button:link,
a#button:visited,
a#button:active	{
	color:black;
}		

#rtl a#button {
	float: left;
	padding: 15px 30px 10px 40px;
}
#rtl #lastTd a#suggest_button {
    margin-left: 0;
    padding: 15px 22px 10px 40px;
}
#rtl #lastTd #suggest_button_wrapper {
    margin-right: -14px;
}

body#rtl {direction:rtl;_direction: ltr;}
#rtl #lq {
	text-align: right;
	direction: rtl;
}
#rtl #lq .wq #q_top {
	/*left: auto;
	right: 0;
	text-align: right;
	direction: rtl;*/
}
#rtl #s #st {
	text-align: right;
}

#rtl #s #submit {
	right: auto;
	left: -4px;
}
#w {
	margin: 0 auto;
}
#lo {
	margin: 115px auto 0;
	text-align: center;
    position: relative;
}
#lo img.si
{
    margin-bottom:-13px;
    *margin-bottom:-5px;
    *margin-bottom:-5px\9;
}
#lo img {
    margin: 0 auto;
}
#lo table {
    margin: 0 auto;
}
#lo table td {
    vertical-align: middle;
}

#s {
    padding: 35px 0 0;
    text-align: center;
    /*width: 700px;*/
    margin: 0 auto;
    *position: relative;
    _position: static;
}
#s #st {
		
	font-size: 15px;
	text-align: left;
	color: #0066cf;
	color: #000;
}
#s #st label {
	color: #0066cf;
}
#lq, #lq .wq {
   /* background:none;*/
}
#lq {
 /*   background-position: right -47px;
    z-index:5;*/
}
#input_wrapper {
    border: 1px solid #a1a1a1;
    margin-right: -10px;
    height: 40px;
}
#input_wrapper.focus {
   /* border: 1px solid #0886d7;*/
}
#input_wrapper.hover {
  /*  border: 1px solid #5e6365;*/
}
#rtl #lq .wq {
    margin-left: 0;
    margin-right: -10px;
}
#lq .wq #q_top {
    /*left: 10px;*/
}
#rtl #lq .wq #q_top {
   /* right: 10px;
    *right: 22px;
    _text-indent: 1px;*/
}
/*Fix for IE8 cursor is not show*/  
@media \0screen 
{
    #rtl #lq .wq #q_top {
   /* right: 10px;
    *right: 22px;
    _text-indent: 1px;
    padding-right:1px;*/
    }  
}
#s #submit {
	position: relative;
    margin: 41px 0 0;
}
#s #submit .sb {
    width: auto;
    display: inline-block;
}
#f {
	margin: 115px auto 0;
	_margin-top: 28px;
	text-align: center;
}
#f table {
    margin: 0 auto;
}
#f #cr {
	direction: ltr;
}
#f #cr a {
	color: black;
}
#f #lo {
	display: none;
}
	
#main_button_wrapper {
    margin:25px 0 0 10px;
    text-align:center;
    position:static;
}

#button_closer {
    background: url("button_bg2.png") no-repeat right 0;
    float: left;
    width: 9px;
    display:block;
    cursor: pointer;
}
#suggest_button_closer {
    background: url("button_bg2.png") no-repeat right 0;
    float: left;
    width: 9px;
    display:block;
}
#button_closer.hover
{
    background: url("button_bg2.png") no-repeat right -54px;
}
#suggest_button_closer.hover
{
    background: url("button_bg2.png") no-repeat right -54px;
}
#button_wrapper {display:inline-block;text-align:center;*display:inline;zoom: 1;}
#suggest_button_wrapper {display:inline-block;text-align:center;*display:inline;zoom: 1;}
#rtl #button_wrapper {margin-right:-4px;}
#suggest_button_wrapper {margin-right:-4px;}

.b_class {
    height: 47px;
}
a#button, a#suggest_button
{
    cursor: pointer;
    float: left;
    font-size: 15px;
    padding: 14px 30px 10px 38px;
	height: 45px;
	text-align: center;
	text-decoration: none;
	outline:none;
	background: url("button_bg2.png") no-repeat 0 0;
}
.hover a#button
{
	background: url("button_bg2.png") no-repeat 0 -54px;
}

.clear {
    clear: both;
}
.before {float:left;}
#rtl .before {float:right;}

.after {float:right}
#rtl .after {float:left;}

#rtl #in {
    direction: rtl;
}

/*------------------------
        Suggest
------------------------*/
#suggestWrapper {
    left: 0px;
    /* *left: -6px;*/
    _left: -5px;
    margin-top: 0px;
    /*  *margin-top: 19px;  */
    border-width: 1px;
    
    _position: absolute;
    
  /*  
     margin: 0px -4px;
	top: 1px;
	width: 100%;*/
	
}
#rtl #suggestWrapper {
    border-width: 1px;
    left: auto;
    right: -1px;

    *right: -6px;
    _right: -5px;

}

:root #rtl #suggestTable {
    /* for IE9 - fixing when resizing browser window, suggest right border is missing, ONLY on RTL mode */     
    border-right: 1px solid #0886d7 \0/IE9;
    margin-right: -1px \0/IE9;
}  
/* for IE8 - fixing when resizing browser window, suggest right border is missing, ONLY on RTL mode */
@media \0screen 
{
    #rtl #suggestTable {    
        border-right/*\**/: 1px solid #0886d7;
        margin-right/*\**/: -1px;
    }
}


.acp_ltr tbody td {
    font-family: arial,sans-serif;
    text-indent: 8px;
    padding: 4px 0px;
    color: #999;
}

.acp_ltr tbody td b{color: #000;}

#rtl .acp_ltr tbody td {
    text-align: right;
}
#suggest_div {
    top: 10px;
}		

#suggests_close { top: 74px;}
#rtl #suggests_close { right: auto;left: 4px;}

#suggests_close.hover {
    color: #0000CC;
}

#lastTd {
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: default;
}

#rtl #lastTd {
    text-align: center;
}

    /* Suggest fix */
    span#button:hover, a#button:hover, a#suggest_button:hover
    {
        background: url("button_bg2.png") no-repeat 0 -54px;
    }

#lastTd #ccr {
    bottom: 5px;
    color: #C0C0C0;
    font-size: 8pt;
    *font-size: 9pt;
    position: absolute;
    right: 10px;
}
#rtl #lastTd #ccr {
    right: auto;
    left: 7px;
    direction: ltr;
}
#lastTd #ccr span
{
    font-family: Levenim MT;
    color: #5e6365;
}
#lastTd #ccr img {
    _margin-bottom: 1px;    

}
/* test mode */
.testmode
{
    position:fixed;
    border:solid 1px #787878;
    bottom:45px;
    font-size:35px;
    background-color:White;
    color:#787878;
    padding:5px;
    right:10px;
}
#rtl .testmode
{
    right: auto;
    left:10px;
}


/* --------------------------------
            Footer
----------------------------------*/

#footer_wrapper {
    position: absolute;
    bottom: 5px;
    left:0;
    width: 100%;
    border-top: 1px solid #E9E9E9;
    background: #ffffff;
    padding-top: 4px;    
}
#footer_wrapper#footer_wrapper #footer {
    display: block;
    direction: rtl;
    
    position: relative;
}
#footer_wrapper a:hover {
    text-decoration: underline;
}

#footer_wrapper div {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

#footer_side_wrapper { margin-left: 20px; color:#2200C1 }
#footer_wrapper a:link, #footer_wrapper a:visited {
    color: #898994;
    padding:0 5px;
    display: inline-block;
    font-size: 11px;
}
#footer_side_wrapper #lo {
    margin-top: 4px;
}

#rtl #footer_side_wrapper { margin-left: 0;margin-right: 20px;direction: rtl;}
#footer_side1_wrapper {
    margin-right: 20px;
}
#rtl #footer_side1_wrapper {
    margin-right: 0;
    margin-left: 20px;
    direction: rtl;
}    
#make_homepage a{
    color: #2200c1;
}

#copyright {
    color: #898994;
    padding: 0 5px;
    direction: ltr;
    font-size: 11px;
}
#copyright a:link{padding: 0}
.footer_sep {
    padding: 0 5px;
    color: #8197AD;
}
.textaslink {
    padding-left: 5px;
    color: #8197AD;
}

/*------------------------
        Banners
------------------------*/

#banner_wrapper {
    display: block;
}

/* chrome fix */
/*@media screen and (-webkit-min-device-pixel-ratio:0) 
{
    html {
        height: 95% !important;
        overflow-x: hidden;
        position: relative;
        min-height: 630px;
    }
    body {
        position: static;
        min-height: auto;
    }
}*/

/*------------------------------------------
    NewTab Popup + redirect404PopUpInfo
------------------------------------------*/
#newTabPopUp, #redirect404PopUp {
    position: relative;
    *padding-right: 5px;
    direction: ltr;
}
#newTabPopUpInfo, #redirect404PopUpInfo {
    bottom: 30px;
    left: 0;
    *zoom: 1;    
    position: absolute;
    display: block;
}
#rtl #newTabPopUpInfo, #rtl #redirect404PopUpInfo {
    left: auto;
    right: 0;
}
#inner_newTabPopUpInfo, #inner_redirect404PopUpInfo {
    background: #FFFFFF;
    border: 1px solid black;
    padding: 15px 30px;
    -moz-box-shadow: 8px 8px 5px #888;
    -webkit-box-shadow: 8px 8px 5px #888;
    box-shadow: 8px 8px 5px #888;
    text-align: left;
    color: #151515;
    font-size: 13px;
    width: 300px;
}

#rtl #inner_newTabPopUpInfo, #rtl #inner_redirect404PopUpInfo {
    text-align: right;
    direction: rtl;
}

#inner_newTabPopUpInfo p, #inner_redirect404PopUpInfo p {
    margin-bottom: 10px;
}
#footer_wrapper #inner_redirect404PopUpInfo a {
    color: #1122CC;
    font-size: 13px;
    text-decoration: underline;
}

#footer_wrapper a#closeNewTabPopup, #footer_wrapper a#closeRedirect404PopUp {
    position: absolute;
    right: 5px;
    top: 5px;
    background: url(/Images/search/searchimages/results_sprites.gif) no-repeat -52px -22px;
    width: 17px;
    height: 14px;
    padding: 0;
    float: right;
    *clear: both;
}

#rtl #footer_wrapper a#closeNewTabPopup, #rtl #footer_wrapper a#closeRedirect404PopUp {
    right: auto;
    left: 5px;
    float: left;
}

#inputs_wrapper {
    float: right;
    margin-top: 45px;
    text-align: right;
}
#rtl #inputs_wrapper {
    float: left;
    text-align: left;
}
#inputs_wrapper input {
    _width: 70px;
    margin: 0 5px;
    padding: 0 15px 1px;
    min-width: 70px;
    *min-width: auto;
    text-align: center;
    height: 28px;
    line-height: 23px;
    *line-height: normal;
}

#newTabPopUpInfo_title, #redirect404PopUpInfo_title {
    font-weight: bold;
}

#lbl404Text {
    color: #818181;
    font-size: 14px;
    margin-left: 25px;
    margin-top: 20px;
    display: block;
}


#rtl #lbl404Text {
    margin-left: 0;
    margin-right: 25px;
}

.b_count
{
	width: 0px;
	height: 0px;
	background: url("button_bg.png") no-repeat 0 0;
}

/* IE8+9 fix - footer goes up when closing top strip - cause min-height bug in IE*/
html {
 /*   position/*\**//*: relative\9;
    overflow-x/*\**//*: hidden\9;
    overflow-y/*\**//*: scroll !important\9;
    min-height/*\**//*: 670px\9;
}

body {
    position/*\**//*: static\9;
    *position: relative;
}
*/

