.px_bottom{background: url('px_bottom.png') repeat-x; width:100%;height: 17px; bottom:0px; left: 0px; position: absolute; z-index: 10;}
#promo_bl {
    text-align: right;
}
#promo_bl .body_bl {
    z-index: 4;
}
#promo_bl .shd {
    background: url('shd_promo.png') repeat-x scroll center bottom transparent;
    height: 25px;
    margin-top: -25px;
    position: relative;
    z-index: 10;
    pointer-events: none;
}
.program_fb{
    margin:-10px 0 -12px 15px !important;  
}
/*Err reporting system*/
/* =========================================================================================== */
#bug_report{float:right;color:#999;width:25%;font:10px Tahoma;padding:20px 20px 0 0;text-align:right}
#bug_report img{vertical-align:middle}
.edit_err_mes{font:12px Tahoma;color:#666;text-align:center}
.edit_err_mes .stext{font:13px Tahoma}
.edit_err_mes textarea{margin:10px 0;border:1px solid #ccc;width:370px;color:#666;font:13px Tahoma}
.edit_err_mes .button{text-align:center;margin:20px auto;position:relative;background:url('ok_button.gif') no-repeat;width:80px;height:27px;padding-top:5px;}
.edit_err_mes .button a{font:bold 12px Arial;text-decoration:none;color:#068AEC}
.edit_err_mes .button a:hover{font:bold 12px Arial;text-decoration:none;color:#E30001}
.edit_err_mes .err_body{font:11px Tahoma;color:#FF0000}
.edit_err_mes div {-moz-border-radius:10px;-webkit-border-radius:10px}

#copy{float:left;width:65%;color:#666;padding:20px 0 0 20px}
#counters {margin:20px auto 0 auto;width:130px;text-align:center;FILTER: alpha(opacity=50); opacity: 0.5; KhtmlOpacity: 0.5; MozOpacity: 0.5}
/*paginator*/
/*страничная навигация*/
/*навигация общие стили*/
ul.nav1 li, ul.nav2 li, ul.nav3 li, ul.nav4 li {
    display:inline;
    float:left;
    text-align:center;
}
ul.nav1 li a, ul.nav2 li a, ul.nav3 li a, ul.nav4 li a, div#nav2 p a {
    font-weight:bold;
    display:inline-block;
    text-decoration:none;
}
ul.nav1 li a span, ul.nav2 li a span, ul.nav3 li a span, ul.nav4 li a span {
    text-align:center;
    display:inline-block;
}
ul.nav1 li#current1 a, ul.nav2 li#current2 a, ul.nav3 li#current3 a, ul.nav4 li#current4 a {
    color:#4f4f4f;
    text-decoration:none;
}
/*навигация1*/

ul.nav1 {
    /*float:left;*/
    margin:37px 0 0 9px;
    height:20px;
}
ul.nav1 li {
    height:20px;
    margin:2px 8px 0 8px;
    vertical-align:middle;

}
ul.nav1 li a {
    height:20px;
    text-decoration:underline !important;
}
ul.nav1 li a span {padding:0;}

ul.nav1 li a:hover {
    text-decoration:none !important;
}
ul.nav1 li a:visited {
    color:#7EC7FF;
    text-decoration:underline;
}
ul.nav1 li#current1 {
    background:#dadada;
    height:20px;
    margin:0;
}
ul.nav1 li#current1 a {
    background:url('nav1-r.gif') no-repeat right !important;
    height:20px;
    _width:70px;
    padding:0 !important;
    display:block !important;
    text-decoration:none !important;
}
ul.nav1 li#current1 a span {
    background:url('nav1-l.gif') no-repeat left;
    padding:2px 12px;
    font-size:14px;
    display:block;
}

*html ul.nav1 li#current1 a span,ul.nav1 li#current1 a {display:inline;} 

div#nav2 {
    margin:15px 25px 0 19px;
}
ul.nav2 li {
    background:#fff;
    height:22px;
    padding:2px 8px 0;
}
ul.nav2 li a {
    text-decoration:none;
}
ul.nav2 li#current2 {
    background:url('nav2-c.gif') repeat-x;
    height:24px;
    padding:0;
    _width:50px;
}
ul.nav2 li#current2 a {
    background:url('nav2-l.gif') no-repeat left !important;
    display:block !important;
    height:22px;
    padding:0 !important;
}
ul.nav2 li#current2 a span {
    background:url('nav2-r.gif') no-repeat right;
    height:18px;
    margin:0;
    padding:2px 8px 2px 10px;
    display:block;
}

*html ul.nav2 li#current2 a span, ul.nav2 li#current2 a  {display:inline;}
div#nav2 p {
    background:#fff;
    float:right;
    padding:2px 10px;
    margin-right:1px;
}
div#nav2 p a.current {
    color:#4F4F4F;
    text-decoration: none;
}
/*навигация3*/

ul.nav3 {
    background:url('btn5.gif') no-repeat;
    height:27px;
    width:240px !important;
    padding:10px 5px 0 5px;
    margin:0 25px 0 19px;
}
*html ul.nav3 {
    width:204px;
}
ul.nav3 li {
    margin:0 4px;
    height:17px;
}
ul.nav3 li a {
    font-size:11px;
}
ul.nav3 li a span {
}
ul.nav3 li#current3 {
    background:url('nav3-l.gif') #fff no-repeat left;
    height:17px;
}
ul.nav3 li#current3 a {
    background:url('nav3-r.gif') no-repeat right;
    height:17px;
    color:#4f4f4f;
}
ul.nav3 li#current3 a span {
    padding:1px 8px;
}
*html ul.nav3 li#current3 span {
}


#nav4
{text-align:center}
#nav4 {
    position:relative;
    top:50px;
    background:url('separator_pag.gif') repeat-x center;
    height:39px;
    margin-bottom:40px;
    clear:both;
    width:700px;
    float:left;
    margin:-20px auto 50px auto;
    text-align:center;    
}
ul.nav4 {
    /*background:#fff;*/
    display:inline;
    padding-top:10px;
    float:left;
    /*margin-left:40px;*/

}
ul.nav4 li {
    margin:2px 4px 0 4px;
    height:21px;

}
ul.nav4 li a {
    padding:0px;
}
ul.nav4 li a span {
}
ul.nav4 li#current4 {
    background:url('sel.gif') no-repeat center;
    width:27px;
    height:21px;
    margin:0 0 3px
}
ul.nav4 li#current4 a {
    background:none;
    vertical-align:middle;
    padding-top:2px;
}
#nav4 #btnnext {
    display:block;
    float:right;
    cursor:pointer;
}
#nav4 #btnprev {
    display:block;
    float:left;
    cursor:pointer;
}
/*paginator*/

.left{float:left}
.right{float:right}
.tags_list{color:#888;margin:10px 25px 15px 21px}

.login_bl{position:absolute;top:70px;right:10px;font:11px Tahoma;}
.login_bl img{vertical-align:middle;margin:0 3px 3px 0}
.login_bl a:link,.login_bl a:active,.login_bl a:visited{text-decoration:none;color:#888;font-weight:normal !important}
.login_bl a:hover{color:#DAAE45;text-decoration:underline}
#login_block{display:none;background:none;}
#login_bg span{color:#4E4E4E;font:bold 22px Trebuchet MS;letter-spacing:-1px}
#login_bg span span{font:15px Trebuchet MS;letter-spacing:-1px}
#login_bg{width:473px;height:283px;background:transparent;background:url('login_bg.png') no-repeat;}
#login_bg .block{padding:42px}

#login_bg input{color:#D5D5D5;font:22px Trebuchet MS}
#login_bg .input_box1 {background:url('inputbg_1.gif') no-repeat !important}

#login_bg .input_box2 {
margin:0 0 15px 0;
background:url('inputbg_2.gif') no-repeat;
width:390px;
height:36px;
display:block;
padding:3px 7px 3px 7px;
}

#login_bg .submit{outline-style:none;outline:0;margin:0 0 0 115px;background:url('login_but.gif') no-repeat;width:157px;height:35px;cursor:pointer;}
#login_bg .submit:hover{outline-style:none;outline:0;background:url('login_but2.gif') no-repeat;}

.register_bl{position:absolute;top:70px;right:40px;font:11px Tahoma}
.register_bl img{vertical-align:middle;margin-bottom:3px}
.register_bl a:link,.login_bl a:active,.login_bl a:visited{text-decoration:none;color:#888;font-weight:normal}
.register_bl a:hover{color:#DAAE45;text-decoration:underline}
#register_block{display:none;}
#register_bg {font:12px Trebuchet MS;color:#B3C7C7}
#register_bg span{color:#4E4E4E;font:bold 22px Trebuchet MS;letter-spacing:-1px}
#register_bg span span{font:15px Trebuchet MS;letter-spacing:-1px}
#register_bg{width:680px;height:644px;background:transparent url('register_bg.png');}
#register_bg .block{padding:42px}

#register_bg .inp{float:left}
#register_bg input{color:#D5D5D5;font:22px Trebuchet MS}
#register_bg .input_box1 {background:url('inputbg_1.gif') no-repeat !important}

#register_bg .input_box2 {
margin:0 0 15px 0;
background:url('inputbg_2.gif') no-repeat;
width:390px;
height:36px;
display:block;
padding:3px 7px 3px 7px;
}

#register_bg .agree{margin:15px 0 0 0}
#register_bg .agree textarea{background:url(register_agree.gif) no-repeat;width:565px;height:153px;font:11px Trebuchet MS;color:#999;padding:15px}

#register_bg .submit{outline-style:none;outline:0;margin:20px 0 0 182px;background:url(register_but.gif) no-repeat;width:228px;height:37px;cursor:pointer;}
#register_bg .submit:hover{outline-style:none;outline:0;background:url(register_but2.gif) no-repeat;}

/*castings*/
#casting_bl form{width:390px}
#casting_bl input{color:#D5D5D5;font:22px Trebuchet MS;}
#casting_bl .input_box2 {
margin:0 0 25px 0;
background:url(inputbg_2.gif) no-repeat;
width:390px;
height:36px;
display:block;
padding:0 7px 0 7px;
}
#casting_bl{width:665px}
#casting_bl .submit{outline-style:none;outline:0;margin:0;float:right;background:url(/tnt2012/castings/next_step.gif) no-repeat;width:159px;height:37px;cursor:pointer;}
#casting_bl .submit:hover{outline-style:none;outline:0;background:url(/tnt2012/castings/next_step2.gif) no-repeat;}
#casting_bl .submit2{outline-style:none;outline:0;margin:0;float:right;background:url(/tnt2012/castings/next_step3.gif) no-repeat;width:159px;height:37px;cursor:pointer;}
#casting_bl .fileinput{font:12px Trebuchet MS;margin:10px 0 0 0;border:1px solid #ccc}
#casting_bl .submit2:hover{outline-style:none;outline:0;background:url(/tnt2012/castings/next_step4.gif) no-repeat;}
#casting_bl span.h1{color:#4D4D4D;font:bold 22px Trebuchet MS;letter-spacing:-1px;padding:0 0 15px 0;display:block;}
#casting_bl .img1{background:no-repeat url(/tnt2012/castings/img1.jpg);height:400px;width:169px;float:right;padding-right:40px}
#casting_bl .img2{background:no-repeat url(/tnt2012/castings/img2.jpg);height:473px;width:310px;margin:20px auto 0 auto;text-align:center}
#casting_bl .file{margin:20px 0 0 0;margin:0 auto;width:400px}

.txt ol, {list-style-type:decimal !important;}
.txt ol, .txt ul{padding:20px !important}

html {background-color:#f0f4f4;}

* {
    margin:0;
    padding:0;
}
body {
    background-color:#f4f7f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    background:url(repeat-t1.jpg) repeat-x center top;
    min-width:1002px;
    }
#bg0 {
}
#bg {
    background:url(repeat-b.jpg) repeat-x center bottom;
    position:relative;
}
#bg1 {
    position:relative;
}
#bg2 {
    background:url(bg-topbl.jpg) no-repeat top;
    position:relative;
}
#bg3 {
    background:url(bg-bot.jpg) no-repeat bottom;
    position:relative;
}
#all {
    position:relative;
    text-align:left;
    width:1002px;
    padding:214px 0 47px 0;
    margin:0 auto;
    min-height:900px;
    height:auto !important;
    height:1100px;
}
#top {
    background:transparent url(bg-all-top.png) no-repeat !important;
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-all-top.png');
    width:1002px;
    height:11px;
}
*html #top {
    height:5px;
}
#logo h1 {
}
#logo h1 a {
    background:url(logo.gif);
    width:421px;
    height:200px;
    left:133px;
    position:absolute;
    top:0;

}
/*стили заголовков*/

h1, h2, h3 {
    font-family:Arial;
    font-weight:bold;
}
h1 {
    font-size:25px;
    color:#333;
    letter-spacing:-0.5px;
}
h2 {
    font-size:22px;
    color:#4f4f4f;
}
h3 {
    font-size:16px;
    color:#4f4f4f;
}
h4 {
    font-size:14px;
}

a, img, a img, input, textarea {
    border:0;
}
div#foto a, div#video a, div#ln1 a, div.h1 a, div.h2 a, div.h2 em, div#forum-list ul li span, div.tit p, div.tvbl span, #left em, #all-videos em, div.tvb2 em, div.link a, div.tvbl h3 a, ul#help li a, #programm div em  {    
font-size:11px;
}
dt.light-grey, div.tvbl a, div.tvbl em, dl.tv-day dt {
    font-size:10px;
}

#top-show2 h1 a, #top-show2 h1 em, div.tvbl h4 a, #programm div a {
font-size:12px;
}

#top-sale div a {
font-size:14px;
}

em {
    /*font-style:normal;*/
}
.grey, div.h1 a, div.h2 a, div.h2 em, div#forum-list ul li span, div.tit p, div.tvbl a, div.tvbl span, #top-sale em, #top-sale a:hover, #left b a:hover, p.p i, #sale-show h1 em, ul#help li a, #programm div em , #prod em , #about em {
    color:#4f4f4f;
}
div.h1 a.link {
    font-size:12px;
    color:#0A94FF;
}
.mid-grey, ul#help li a, div#bl a:hover {
    color:#666;
}
.light-grey, #video-info em, div.h2 em, div.tvbl em, div.tvbl a:hover, #all-videos em, ul#help li a:hover, #programm div a:hover, #programm div em, #news p a:hover, dl.tv-day dt  {
    color:#9a9a9a;
}
#left b a, #all-videos a, #top-show div a, #top-sale div a, div#bl a, #programm div a, #news p a, dl.tv-day em {
    color:#000;
}
.div-line, div#nav2 {
    background:transparent url(separator.gif) repeat-x scroll center center;
    height:25px;
}

a, div.tvbl h4 a {
    color:#0a94ff;
    text-decoration:underline;
}

a:hover, a:focus {
    color:#7EC7FF;
    text-decoration:none;
    cursor:pointer;
}

a.unactive {
    color:#bcbcbc;/*неактивная ссылка, светло-серый*/
}
.blue-dot, div#nav2 a, div#nav2 p a, ul.nav3 li a, ul.nav4 li a {
    background:url(line-dot.gif) repeat-x bottom;
}
a, a img, input, img {
    outline: 0; /* Убираем границу вокруг ссылок FF*/
}

#left-block ul, #left-block li {
list-style-type:none;

}
       
#content {
    background:url(bg-all-middle.png) repeat-y center;
    width:1002px;
    float:left;
    display:block;
}
#copyright #bottom_menu{font:11px Arial;color:#888;position:relative;text-align:center !important;line-height:15px}
#copyright #bottom_menu .btm_cont{padding:0 20px 20px 20px}
#copyright #bottom_menu a{font:11px Arial;color:#888 !important;text-decoration:underline;line-height:15px}
#copyright #bottom_menu td{padding:3px;}
#copyright #bottom_menu a:hover{font:11px Arial;color:#D2D2D2 !important;line-height:15px}
#copyright #bottom_menu .btm_cont div{float:left;height:100%;width:11%}
#copyright {
    background:url(bg-all-middle.png) repeat-y center;
    clear:both;
    padding-top:40px;
    width:100%;
    display:inline-block;
}
#copyright p {
    padding:20px 0 0 22px;
}
*html #copyright p {
    padding:8px 0 0 22px;
}
#copyright a {
    color:#3366ff !important;
    font-weight:normal;
}
#copyright div.line {
    margin:0 22px;
}
/*    footer    */
#footer {
    background:transparent url(bg-all-bottom.png) no-repeat !important;
    background-image:none;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-all-bottom.png');
    width:1002px;
    height:11px;
}

#img {
    height:400px;
    margin-left:-2px;
}
.line {
    background:url(line-grey.gif) repeat-x scroll 0 0;
    display:block;
    height:1px;
    margin:0 16px;
    clear:both;
}
*html p.line {
    margin:0 8px;
}
div.br {
clear:both;
}

div.thcorn_tl{position:absolute;top:0;left:0;background:transparent url(th_corners.png) no-repeat top left;width:5px;height:5px;z-index:1;}
div.thcorn_tr{position:absolute;top:0;right:0;background:transparent url(th_corners.png) no-repeat top right;width:5px;height:5px;z-index:1;}
div.thcorn_bl{position:absolute;bottom:0;left:0;background:transparent url(th_corners.png) no-repeat bottom left;width:5px;height:5px;z-index:1;}
div.thcorn_br{position:absolute;bottom:0;right:0;background:transparent url(th_corners.png) no-repeat bottom right;width:5px;height:5px;z-index:1;}
div.thcorn_tl.wb{margin:4px;}
div.thcorn_tr.wb{margin:4px;_margin:4px 4px 4px 4px !important}
div.thcorn_bl.wb{margin:4px;_margin:4px 4px 3px 4px !important}
div.thcorn_br.wb{margin:4px;_margin:4px 4px 3px 4px !important}


/* 09.06.2011 jsbanner include */
#js_banner1{
    width:240px;
    height:400px;
    background:#fefefe;
    border:1px solid #aaa;
    overflow:hidden;
    position:relative;
    background:url('images/bg.jpg');
    margin:20px auto;
}
#js_banner1 img{
    position:absolute;
}
#js_banner1 img.bg{
    left:0;
    top:0;
}
#js_banner1 img.text{
    left:-200px;
    top:95px;
    width:185px;
    height:183px;
}
#js_banner1 img.obj_1{
    width:260px;
    height:214px;
    left:-320px;
    top:80px;
}
#js_banner1 img.obj_2{
    width:116px;
    height:60px;
    right:-240px;
    top:230px;
}
#js_banner1 img.logo{
    width:217px;
    height:92px;
    left:-230px;
    top:110px;
}
#js_banner1 img.but{
    width:127px;
    height:44px;
    left:-210px;
    top:220px;
}
#js_banner1 a.goto
{
    position:absolute;
    top:0;
    left:0;
    width:240px;
    height:400px;
    z-index:300;
}
div#heroes {
    display:inline;
    float:left;
    margin:10px 0 10px 15px;
}
div#foto div a {
    display:block;
    width:86px;
    height:65px;
    border:0px;
}
div#heroes div {
    display:inline;
    float:left;
    margin:0 10px 15px 0;
    width:172px;
    min-height:221px;
    height:270px !important;
    height:221px;
}
div#heroes div img {
    border:1px solid #ccc;
    display:block;
    padding:4px;
}
div#heroes div.sel img {
    background:#ccc;
}
div.hero > div.result {
    display:block;
    font-size:110%;
}

@charset "utf-8";
/* CSS Document */



/* TV PROGRAMM*/
/* mainpage */
#select-tv-item .mark {display:block;height:31px; width:37px; position:absolute; top:0; right:-94px; visibility:visible;}
#select-tv-item .mark.age6  {background-image:url('6b.png');}
#select-tv-item .mark.age12 {background-image:url('12b.png');}
#select-tv-item .mark.age16  {background-image:url('16b.png');}
#select-tv-item .mark.age18 {background-image:url('18b.png');}

.prev .mark {visibility:hidden; padding-left:0px;  width:19px; height:15px;  position:absolute; background-repeat:no-repeat; background-position:right top;}
.prev .mark.age {}
.prev .mark.age6  {background-image:url('6.png');}
.prev .mark.age12 {background-image:url('12.png')}
.prev .mark.age16  {background-image:url('16.png');}
.prev .mark.age18 {background-image:url('18.png');}
.prev dd:hover  .mark  {visibility:visible; padding-left:8px;  }

#tvs-list-item dd{ position:relative;}



/* big programm*/

#left #select-tv-item .mark {
    display: block;
    height: 31px;
    position: absolute;
    right: 14px;
/*    top: 27px;*/
    top: 20%;
    width: 37px;
    visibility:visible;
}

dd .mark {visibility:hidden; padding-left:0px;  width:19px; height:15px;  position:absolute; background-repeat:no-repeat; background-position:right top;}
 dd .mark.age {}
 dd .mark.age6  {background-image:url('6.png');}
 dd .mark.age12 {background-image:url('12.png')}
 dd .mark.age16  {background-image:url('16.png');}
 dd  .mark.age18 {background-image:url('18.png');}
#left  dd:hover  .mark  {visibility:visible; padding-left:8px;  }





/* Left block menu */
#left-block .mark { visibility:hidden; display:block; width:19px; height:15px;  position:absolute; margin-left:-10px; background-repeat:no-repeat; background-position:left top;}
#left-block .mark.age6  {background-image:url('6.png');}
#left-block .mark.age12 {background-image:url('12.png')}
#left-block .mark.age16  {background-image:url('16.png');}
#left-block .mark.age18 {background-image:url('18.png');}

#left-block li:hover  .mark  {visibility:visible;}

#left-block #current-item .mark { visibility:visible; display:block; width:30px; height:26px;  position:absolute; margin-left:-19px; background-repeat:no-repeat; background-position:left top; z-index:100;}
#left-block #current-item .mark.age6 {background-image:url(6l.png);}
#left-block #current-item .mark.age12 {background-image:url(12l.png);} 
#left-block #current-item .mark.age16 {background-image:url(16l.png);} 
#left-block #current-item .mark.age18 {background-image:url(18l.png);} 

/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 *
 * Version: 1.3.1 (05/03/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

* html #fancybox-loading {    /* IE6 */
    position: absolute;
    margin-top: 0;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('fancybox.png');
}

#fancybox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 1100;
    display: none;
}

* html #fancybox-overlay {    /* IE6 */
    position: absolute;
    width: 100%;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    z-index: 1101;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF;
}

#fancybox-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    outline: none;
    overflow: hidden;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background-image: url('fancybox.png');
    background-position: -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none;
}

#fancybox_error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 7px;
    margin: 0;
}

#fancybox-content {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
    -ms-interpolation-mode: bicubic;
}

#fancybox-frame {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: Arial;
    font-size: 12px;
    z-index: 1102;
}

.fancybox-title-inside {
    padding: 10px 0;
    text-align: center;
    color: #333;
}

.fancybox-title-outside {
    padding-top: 5px;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.fancybox-title-over {
    color: #FFF;
    text-align: left;
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('fancy_title_over.png');
    display: block;
}

#fancybox-title-wrap {
    display: inline-block;
}

#fancybox-title-wrap span {
    height: 32px;
    float: left;
}

#fancybox-title-left {
    padding-left: 15px;
    background-image: url('fancybox.png');
    background-position: -40px -90px;
    background-repeat: no-repeat;
}

#fancybox-title-main {
    font-weight: bold;
    line-height: 29px;
    background-image: url('fancybox-x.png');
    background-position: 0px -40px;
    color: #FFF;
}

#fancybox-title-right {
    padding-left: 15px;
    background-image: url('fancybox.png');
    background-position: -55px -90px;
    background-repeat: no-repeat;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background-image: url('blank.gif');
    z-index: 1102;
    display: none;
}

#fancybox-left {
    left: 0px;
}

#fancybox-right {
    right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}

#fancybox-left-ico {
    background-image: url('fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible;    /* IE6 */
}

#fancybox-left:hover span {
    left: 20px;
}

#fancybox-right:hover span {
    left: auto;
    right: 20px;
}

.fancy-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

#fancy-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('fancybox-x.png');
}

#fancy-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('fancybox.png');
    background-position: -40px -162px;
}

#fancy-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('fancybox-y.png');
    background-position: -20px 0px;
}

#fancy-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('fancybox.png');
    background-position: -40px -182px; 
}

#fancy-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('fancybox-x.png');
    background-position: 0px -20px;
}

#fancy-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('fancybox.png');
    background-position: -40px -142px;
}

#fancy-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('fancybox-y.png');
}

#fancy-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('fancybox.png');
    background-position: -40px -122px;
}

/* IE */

#fancybox-loading.fancybox-ie div    { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_loading.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-close        { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_close.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-title-over    { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie #fancybox-title-left    { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-main    { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-title-right    { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_title_right.png', sizingMethod='scale'); }

.fancybox-ie #fancybox-left-ico        { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-right-ico    { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_nav_right.png', sizingMethod='scale'); }

.fancybox-ie .fancy-bg { background: transparent !important; }

.fancybox-ie #fancy-bg-n    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-ne    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-e    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-se    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-s    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-sw    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-w    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancy-bg-nw    { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancy_shadow_nw.png', sizingMethod='scale'); }

#facebox .b {
  background:url(facebox/b.png);
}

#facebox .tl {
  background:url(facebox/tl.png);
}

#facebox .tr {
  background:url(facebox/tr.png);
}

#facebox .fcontent {position:relative}
#facebox .bl {
  background:url(facebox/bl.png);
}

#facebox .br {
  background:url(facebox/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  padding: 10px;
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .footer img {
  vertical-align: middle;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

.fcontent h3{font:22px Arial;color:#2E2E2E}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CCAttribution-ShareAlike 2.5 Brazil - http://creativecommons.org/licenses/by-sa/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000020;
    width: 100%;
    height: 500px;
}
#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000030;
    text-align: center;
    line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}
#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100005;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}
#lightbox-nav-btnPrev { 
    left: 0; 
    float: left;
}
#lightbox-nav-btnNext { 
    right: 0; 
    float: right;
}
#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}
#lightbox-container-image-data {
    padding: 0 10px; 
    color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
    width: 70%; 
    float: left; 
    text-align: left; 
}    
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
    display: block; 
    clear: left; 
    padding-bottom: 1.0em;    
}            
#lightbox-secNav-btnClose {
    width: 66px; 
    float: right;
    padding-bottom: 0.7em;    
}

#logo h1 a {left:382px !important;height:150px !important;top:-163px !important;}
#logo .logoref{height:200px;left:370px !important;position:absolute;top:0;width:600px;}
#content{-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;overflow:hidden;}
#promo_bl{text-align:right;padding:0 0 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;min-height:35px}
#promo_bl .shd{position:relative;background:url("shd_promo.png") bottom repeat-x;margin-top:-25px;height:25px;z-index:10;}
#promo_bl .body_bl{z-index:4;}
#top-the-main {background:url(skin_main_bl.jpg) no-repeat scroll 0 0 transparent !important;}
.text_foot{color:#666666;float:right;padding:20px 20px 0 0;}
#bg4{position:relative;margin:0 auto;z-index:1;width:100%;background:url(btm2.jpg) no-repeat scroll center bottom transparent;text-align:center;}
#bg5{position:relative;text-align:center;}
html,body{background:none;}
#mainmenu_new{top:308px !important}
#mainmenu_new2{top:-14px !important}
#mainmenu_tantum{top:-14px !important}
#all{padding:0 !important;top:0px !important;z-index:999998}
#content{border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;}
#btn_for_mac{display:block;position:absolute;right:11px;top:47px;width:220px;height:84px;font: bold 14px Arial;text-decoration: none;color:#25649D;}
#btn_for_mac span{display: block;left: 92px;position: relative;top: 9px;width: 130px;}
#btn_for_bachelor{display:block;position:absolute;right:-20px;top:2px;width:279px;height:154px;font: bold 14px Arial;text-decoration: none;color:#25649D;}
#copy{padding:20px 0 40px 20px !important;}
#copyright{border-bottom: 1px solid #CCCCCC;
border-radius: 0 0 8px 8px;}
#soc_buttons{right:853px !important;top:-320px !important;}
