/*разметка блоков*/
#left-block {
	width:241px!important;
	float:left;
	background:url(bg-left.gif) no-repeat top right;
	padding-left:17px;
	margin-top:43px;
	display:inline;
}
#center-block {
	/*width:472px;*/
	float:left;
	padding-left:25px;
	margin-top:10px;
	display:inline;
}
#right-block {
	width:245px;
	float:right;
	display:inline;
	margin-top:55px;
}
*html #right-block {
	width:235px;
	margin-top:55px
}
#left-block h3 {
	background:url(separator.gif) no-repeat left;
	padding-left:15px;
	margin-bottom:7px;
	font-size:13px;
}
#left-block ul {
	margin-bottom:33px;
    display:block;
}
#left-block ul li {
	margin:0 0 7px 0;
}
#left-block ul li a {
	padding-left:15px;
    font-weight: normal;
}
#left-block li#current-item {
	/*display:block;
	height:26px;*/
	display: inline-block;
  
    position: relative;
}
#left-block li#current-item .lister{
	background:url(current-btn.gif) repeat scroll -1px 0 transparent;
	height:25px;
	display:table-cell;
	_padding-bottom:6px;
	padding-right:20px;	
	max-width:193px;
}
#left-block li#current-item a {
	line-height:23px;
	color:#4f4f4f;
	font-family:Arial;
	font-size:13px;
	text-decoration:none;
	/*padding:4px 0 0 14px;*/
	font-weight:bold;
	height:25px;
	_height:26px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
}
#left-block li#current-item .arrow_right{
background:transparent url(arrow_right.gif) no-repeat scroll right top;
width:15px;
display:block;
height:27px;
position:absolute;
right:0px;
top:0px;
width:15px;
z-index:45;
/*_padding:5px 0 6px 0;*/
}
#left-block li#current-item .arrow_hider{
background:transparent url(arrow_hider.png) no-repeat scroll right top;
width:47px;
display:block;
position:absolute;
top:0px;
height:27px;
left:165px;
}

#center-block h1 {
	margin-bottom:7px;
    font-size:22px;
}
#center-block h2 {
	display:inline;
    font-size:18px;
}
#center-block span.grey {
	font-size:13px;
	padding:0 5px;
	color:#4f4f4f;
}
/* правый блок превью  */

#right-block .links {
	clear:both;
	height: 481px;
	overflow: hidden;
	position: relative;
}
.btnup {
	margin-left:105px;
	padding-bottom:20px;
}
.btndown {
	clear:both;
	padding-top:20px;
	margin-left:105px;
}
.thumb-video {
	float:left;
	height: 120px;
	width: 115px;
	background:url(bg-thumb-video.gif) no-repeat 11px 10px;
	position: relative;
}
*html.thumb-video {
	height:80px;
}
.thumb-video.played {
	background:url(player_hover.gif) no-repeat top center;
	height: 120px;
	width: 115px;
}
.thumb-video.selected {
	background:url(player.png) no-repeat top center;
	height: 120px;
	width: 115px;
}
.thumb-video img.thmb {
    width:86px;
    height:65px;
    border:0px;
}
.thumb-video img {
	margin-left: 11px;
	margin-top: 9px;
	padding:4px;
	position: relative;
}

.thumb-video .link {
	/*margin-left: 9px;*/
	margin-left: 15px;
	margin-top: 1px;
	width: 95px;
	height: 30px;
	overflow:hidden;
	position: relative;
}
.thumb-video .playbtn {
	top: 30px;
	left: 40px;
	display: none;
	margin: 0;
	padding: 0;
	z-index: 90;
	position: absolute;
    border: none;
    content:url(play_btn.png);
    width:35px;
    height: 35px;
}
.thumb-video.selected .playbtn {
	display: block;
}
#video-player {
	clear:both;
	height:353px;
	border:0;
	position:relative;
}
#video-player_new {
	clear:both;
	height:553px;
	border:0;
	position:relative;
}

div#video-info .left{float:left;width:70%;background:none !important}
div#video-info .left div{background:none;padding:0 0 5px 15px}
div#video-info .right{float:right;width:30%;background:none !important}
div#video-info .right div{background:none}
div#video-info .prev_but, div#video-info .prev_but_off{float:left;width:110px;text-align:left;margin:0 0 0 5px;}
div#video-info a.text{width:60px;margin:5px 0 0 0}
div#video-info .prev_but, div#video-info .prev_but_off{float:left;text-align:left;width:65px;}
div#video-info .next_but, div#video-info .next_but_off{float:right;text-align:right;width:65px;padding:0 5px 0 0;}
div#video-info .soc_icons{background:none !important;margin:15px 5px 0 0;float:left}
/* Иконки соц.сетей */
div#video-info .soc_icons .soc_mm {width:27px;height:26px;content:url(icon_mm.png);border: none;}
div#video-info .soc_icons .soc_mail {width:27px;height:26px;content:url(icon_mail.png);border: none;}
div#video-info .soc_icons .soc_fb {width:27px;height:26px;content:url(icon_fb.png);border: none;}
div#video-info .soc_icons .soc_twi {width:27px;height:26px;content:url(icon_twi.png);border: none;}
div#video-info .soc_icons .soc_vk {width:27px;height:26px;content:url(icon_vk.png);border: none;}

div#video-info .soc_icons img{margin:0 0 0 4px}
div#video-info .step{margin:10px 0 0 0}

div#video-info .prev_but a{font-size:10px;color:#0A94FF !important;display:block;height:40px;padding:5px 0 0 43px;float:left;background:no-repeat url(prev_video.png) !important;text-decoration:underline;}
div#video-info .prev_but_off a{font-size:10px;color:#0A94FF !important;display:block;height:40px;padding:5px 0 0 43px;float:left;background:no-repeat url(prev_video_off.png) !important;text-decoration:underline;}
div#video-info .next_but a{font-size:10px;color:#0A94FF !important;display:block;height:40px;padding:5px 43px 0 0;float:right;background:url(next_video.png) no-repeat scroll right top !important;text-decoration:underline;}
div#video-info .next_but_off a{font-size:10px;color:#0A94FF !important;display:block;height:40px;padding:5px 43px 0 0;float:right;background:url(next_video_off.png) no-repeat scroll right top !important;text-decoration:underline;}

div#video-info .prev_but a:hover{background:no-repeat url(prev_video_on.png) !important;color:#FF2B33 !important;text-decoration:underline;}
div#video-info .next_but a:hover{background:no-repeat url(next_video_on.png) right top !important;color:#FF2B33 !important;text-decoration:underline;}

div#video-info {
	background:#ebeff0;
	padding-top:16px;
    width:715px !important;
}
div#video-info.new {
    background:#ebeff0;
    padding-top:16px;
    width:704px !important;
}

div#video-info div {
	background:url(corner-left.gif) no-repeat bottom left;
}
div#video-info div div {
	background:url(corner-right.gif) no-repeat bottom right;
}
#video-info a {
	font-size:11px;
	padding:0 2px;
}
#video-info a:link {
	color:#4f4f4f !important;
	text-decoration:underline;
}
#video-info a:visited {
	color:#9a9a9a !important;
	text-decoration:underline;
}
#video-info a:hover {
	color:#9a9a9a !important;
	text-decoration:none;
}
#video-info a:active {
	color:#666;
	text-decoration:underline;
}
#video-info .v_descr a {
    font:14px Arial;
    color:#0A94FF !important
}
#video-info p {
	padding:0 16px 13px 16px;
}
#video-info .v_descr{font:14px Arial;margin-bottom:5px;color:#888}
	
#video-info p span {
	margin:0 5px;
	font-size:11px;
}
a#addfav:link, a#addfav:visited {
	background:url(add-favorite.gif) no-repeat left;
	height:12px;
	padding-left:20px;
	text-decoration:none !important;
	font-size:11px;
	color:#0a94ff !important;
	text-decoration:none;
}
a#addfav:hover {
	color:#7EC7FF !important;
	text-decoration:none !important;
	cursor:pointer;
}
a#addfav span {
	background:url(line-dot.gif) repeat-x bottom;
	height:1px;
}
h2.title-comm {
	margin:40px 0 22px 0;
	display:block !important;
}
#comments {
	background:url(bg-form-comment1.gif) no-repeat;
	width:472px;
	height:157px;
	margin:20px 0;
}
#comments input {
	background:url(add-comm-btn.png) no-repeat;
	width:178px;
	height:33px;
	margin:17px 0 0 6px;
}
#comments textarea {
	border:0;
	background:#f6f6f6;
	height:86px;
	margin:14px 0 0 14px;
	width:440px;
}
#comments2 {
	background:url(bg-form-comment2.gif) no-repeat;
	width:434px;
	height:157px;
	margin:20px 0 40px 0;
}
#comments2 input {
	background:url(reply-btn.png) no-repeat;
	width:98px;
	height:33px;
	margin:17px 0 0 6px;
}
#comments2 textarea {
	border:0;
	background:#f6f6f6;
	height:86px;
	margin:14px 0 0 14px;
	width:408px;
}
/*второй уровень*/

.lev1, .lev2, .lev3 {
	margin:0 0 40px 0;
}
div.lev2 {
	background:url(reply-comment.jpg) no-repeat left 10%;
	padding-left:20px;
}
div.lev3 {
	background:url(reply-comment.jpg) no-repeat left 10%;
	margin-left:20px;
	padding-left:20px;
}
input.reply {
	float:right;
}
.title {
	background:url(separator.gif) repeat-x center;
	height:25px;
}
div.title .grey {
	background:#fff;
	padding:4px 6px 4px 0;
	float:left;
}
div.title .light-grey {
	background:#fff;
	float:left;
	font-size:10px;
	margin-left:10px;
	padding:6px;
}
div.title .light-grey2 {
	color:#9A9A9A;
	background:#fff;
	padding:4px 6px 4px 0;
	float:left;
	font-size:11px;
}
.lev1 p {
	clear:both;
	text-align:justify;
}
#left-block {width:241px !important}
#center-block  {padding-left:15px !important;width:715px}
div.block-anonse,div.block-seasons,div.block-video {width:705px; float:left; margin:20px 0 0 0;clear:both}
div.block-anonse > h3,div.block-seasons > h3,div.block-video > h3 {margin-left:12px}

div#video-player-empty {
    display:table;
    width:704px;
    height:528px;
    background-color:#434343;
    text-align:center;
}
div#video-player-empty > span {
    color: white;
    font-size: 19px;
    display:table-cell;
    vertical-align:middle;
}