a.cur_video_link{position:relative;top:5px;color:#999;font:10px Tahoma}
a.cur_video_link:hover{color:#aaa;text-decoration:underline !important}
/* plex global editions */
.cont{height:380px;background:url(load.gif) center center no-repeat;}

/* eof */
#nav2 h2, #news h2, #programm h2 {
	font-family:tahoma;
	font-weight:bold !important;
}
#top-the-main {
	background:url(the_main.jpg) no-repeat;
	width:1002px;
	height:442px;
}
#play {
	width:470px;
	height:355px;
	padding:46px 0 0 22px;
	display:block;
	float:left;
	background-position:234px 198px;
}
#best-vid {
	width:483px;
	float:left;
	padding:40px 0 0 22px;
}
#best-vid h1 {
	margin:0 0 15px 9px;
}
#best-vid div.tvbl {
	width:224px;
	height:88px;
	float:left;
	padding:6px 0 0 6px;
	margin:0;
	overflow:hidden;
	position:relative;
}
/*plex "id 2 class" edition*/
div.select { 
	background:url(tvbl-h.gif) no-repeat;
	width:224px;
	height:88px;
	padding:6px 0 0 6px;
	margin:0;
}
div#select h4 a {
	color:#4f4f4f !important;
	border:0 !important;
}
#best-vid div.thumb-video {
	background:url(tvbl.png) no-repeat;
	float:left;
	width:102px;
	height:82px;
}
#best-vid div.thumb-video img {
	padding:7px 0 0 8px;
}
#best-vid div.text {
	float:left;
	width:105px;
	height:75px;
	overflow:hidden;
}
#best-vid div.text h4 a {
	display:inline;
	font-size:12px;
	color:#ff2b33;
	border-bottom:1px dashed #ff2b33;
	text-decoration:none;
	margin:0;
	padding:0;
}
#best-vid div.text h4 a:hover {
	color:#333333;
	border-bottom:1px dashed #333333;
}
#best-vid div.text h3 a {
	text-decoration: underline;
	margin:0;
	padding:0;
}
/*центральный блок*/


#all-video {
	width:718px;
	float:left;
	padding:16px 0 0 19px;
	display:inline;
	height:423px;
}
#all-video div.tvbl {
	width:224px;
	overflow:hidden;
}
#all-video .text {
	width:125px;
	_width:120px;
	float:left;
}
#content #img {
	float:left;
	width:240px;
	height:400px;
	padding:0 22px 0 0;
	margin-top:23px;
}
#all-video #nav2 {
	margin:6px 25px 0 0;width:700px;_width:680px
}
#all-video #nav2 h3 {
	float:left;
	background:#fff;
	padding-right:10px;
}
ul.nav2 li#current {
	background:url(btn-2.gif) repeat-x;
	display:block;
	height:22px;
	padding:0;
	margin:0 0 0 -2px;
	_width:50px;
}
ul.nav2 li#current a {
	background:url(btn-1.gif) no-repeat left center !important;
	display:block !important;
	height:22px;
	padding:0 !important;
	color:#4f4f4f;
}

*html ul.nav2 li#current a span, ul.nav2 li#current a  {display:inline;}
ul.nav2 li#current a:hover {color:#9a9a9a;}
ul.nav2 li#current a span {
	background:url(btn-3.gif) no-repeat right center;
	height:18px;
	margin:0;
	padding:2px 8px 2px 10px;
	display:block;
	
}

#programm {
	width:520px;
	_width:510px;
	float:left;
	margin-top:50px;
	padding-left:20px;
	overflow:hidden;
}
#programm div {
	width:150px;
	height:140px;
	_height:160px;
	float:left;
	text-align:center;
	margin:0 110px 25px 0;
	_margin:0 100px 10px 0;
	display:block;
}
#programm div em {
    font-style: normal;
}
#programm div em, #programm div a {
	display:block;
}
#programm h3 {
	padding:0 0 15px 0;
}
/*новости*/

#news {
	width:400px;
	_width:380px;
	float:left;
	margin-top:50px;
}
#news h3 {
	margin-bottom:18px;
}
#news p {
	background:url(news-l.gif) #ebeff0 no-repeat left;
	width:400px;
	height:30px;
	margin-top:5px;
}
#news strong {
	background:url(news-r.gif) #ebeff0 no-repeat right;
	display:block;
	height:30px;
}
#news p a {
	display:block;
	padding:5px 10px;
}
#news em {
    font-style: normal;
}
dl.tv-day {
	margin:20px 0;
}
dl.tv-day dd a {
	display:block;
}
div.rss {
	background:transparent url(separator.gif) repeat-x center center;
	height:17px;
	margin-right:20px;
	clear:both;
	font-size:11px;
}
div.rss a {
	background:#fff;
	padding:0 5px;
}
div.rss img {
	vertical-align:middle;
}
#tv-progr {
	float:left;
	width:450px;
	_width:450px;
	padding:0 !important;
	margin:0 !important;
}
#tv-progr h3 {
	margin-top:30px;
	margin-bottom:15px;
}
#line-tv {
	background:url(line-tv.gif) no-repeat left;
	position:relative;
	height:160px;
	float:left;
	width:4px;
	/*z-index:1;*/
	margin:0 0 20px 0;
	top:5px;
}

#tv-progr dl {
	float:left;
	width:400px;
	margin:5px 0;
}
#tv-progr dl dd{color:#666666}
#tv-progr dt.time {
	width:50px;
	height:33px;
	float:left;
	padding:10px 0 0 10px;
	font-weight:bold;
	color:#999;
}
#tv-progr dl dd {
	margin:10px 0 0 0;width:235px;
}
#tv-progr dl dd img {
	float:left;
	height:76px;
	margin-right:12px;
	width:100px;
}
span.descr {
	display:block;
	color:#666;
	width:370px;
}

#select-tv-item {
	background:url(select-tv-itemR.gif) no-repeat right;
	height:50px;
}
#select-tv-item2 {
	background:url(select-tv-itemL.gif) no-repeat left;
	height:50px;
	margin-left:-21px;
	position:relative;
	z-index:0;
}

#select-tv-item dt {
	background:none;
	width:50px;
	height:33px;
	float:left;
	margin:0;
	padding:10px 0 0 32px;
	font-weight:bold;
}
#select-tv-item dd {
	float:left;
}
#tv-progr p, #prod ul li, #about ul li {
	line-height:1.5em;
}
#prod, #about {
	width:215px;
	_width:200px;
	float:left;
	padding:0 !important;
	margin:0 !important;
}
#prod ul, #about ul {
	width:215px;
}
#prod ul li, #about ul li {
	background:transparent url(li.gif) no-repeat left center;
	list-style-type:none;
	padding-left:10px;
}
#prod em, #about em {
	display:block;
    font-style: normal;
	font-weight:bold;
	padding-bottom:11px;
}