#more_but{-moz-border-radius:15px 15px 15px 15px;
background:no-repeat url(more_off.gif);
color:#888888;
font:12px Arial;
height:24px;
margin:10px 0 0 15px;
padding:4px 0 0 14px;
width:53px;
cursor:pointer}
#more_but:hover{background:no-repeat url(more_on.gif);}

.hided{display:none;}

#main-block {
	float:left;
	display:inline;
	width:744px;
	overflow:hidden;
	padding:20px 0 0 0;
}
div.tit {
	display:inline;
	float:left;
	margin:10px 20px 10px 16px;
}
div.tit h1 {
	letter-spacing:-1px;
}
div.tit p {
	padding-left:1px;
}
div.h1, div.h2, div#forum-list ul {
	margin-left:15px;
    margin-bottom:5px;
}
#fancybox-inner div.h1 {
	margin-left:5px !important;
}

#vbl {
	padding:0 21px;
}
div.tvbl {
	display:inline;
	float:left;
	height:73px;
	margin:25px 15px 0 0;
	width:336px;
	overflow:hidden;
}
div.tvbl .thumb-video {
	background:url(bg-thumb-video.gif) no-repeat top center;
	float:left;
	display:inline;
	width:94px;
	height:73px;
	margin:0 5px 0 0;
	position:relative;
}
div.tvbl .thumb-video img {
	padding:4px;
	margin:0;
    width:86px;
    height:65px;
    border:0px;
}
div.tvbl h3 a {
	color:#222222 !important;
}
div.tvbl h3 a:hover {
	color:#9a9a9a !important;
/*    padding-left:2px;*/
}
div.tvbl h4 a:hover {
	color:#7EC7FF;
	text-decoration:none;
	cursor:pointer;
/*    padding-left:2px;*/
}
div.tvbl span {
	padding:0 5px 0 3px;
}
div.tvbl a {
/*	padding:0 0 0 2px;*/
}
div.tvbl h3 a, div.tvbl h4 a {
	padding:0;
}
div.tvbl a {
/*	padding-left:2px;*/
}
div.tvbl div.text {
	width:235px;
	float:left;
}
/*nav*/
/*картинка*/
#pict {
	clear:both;
	background: no-repeat;
	width:721px;
	height:276px;
	margin:0 0 17px 15px;
}
#pict2 {
}
/*разделитель со стрелкой*/
#ln1 {
    clear:both;
    margin:10px 21px 10px 15px;    
}
#ln2 {
	clear:both;
	margin:16px 21px 16px 21px;
}
#ln1 a {
	background:#fff;
	padding:5px;
	text-decoration:none;
	margin-left:-3px;
}
#ln1 a span {
	background:url(line-dot.gif) repeat-x bottom;
}
#ln1 input {
	vertical-align:middle;
}
div.video {
	float:left;
	margin:10px 0 0;
}
div.video .pr_thumb {
	width:94px;
	height:73px;
	position:relative;
}
div.video div.vid_bl {
	background:transparent url(bg-thumb-video.gif) no-repeat center top;
	display:inline;
	float:left;
	min-height:105px;
	height:130px;
	overflow:hidden;
	margin:0 10px 10px 15px;
	width:94px;
	position:relative;
}
div.video div img {
	padding:4px;
    width:86px;
    height:65px;
    border:0px;
}
div.video div a, div#foto div a {
	display:block;
    width:86px;
    height:65px;
    border:0px;
}
div.video div a span {
    display:block;
    padding-top:3px;
    padding-left:4px;
}
/*фото*/
.pr_photo{margin:7px 4px 4px 6px}

div#foto {
	display:inline;
	float:left;
	margin:10px 0 0 15px;
}
div#foto div {
	display:inline;
	float:left;
	margin:0 11px 15px 0;
	width:110px;
	min-height:115px;
	height:auto !important;
	height:115px;
}
div#foto div img {
	border:1px solid #ccc;
	display:block;
	padding:4px;
}
div#foto div.sel img {
	background:#ccc;
}
div#forum-list, div#read-list {
	float:left;
	width:370px;
}
div.txt {
	margin:0 15px 0 15px;
	line-height:20px;
}
div.txt p {
    line-height:18px;
    margin-top: 10px;
    margin-bottom: 5px;
}
div.txt h2 {
	margin:0 0 15px 0;
}
div#read-list ul {
	margin:20px 25px 20px 14px;
}
div#forum-list ul {
	margin:20px 25px 20px 25px;
}
div#read-list ul li, div#forum-list ul li {
	line-height:1.5em;
}
div#read-list ul li {
	list-style-type:none;
	list-style-position:outside;
	background:url(li.gif) no-repeat left center;
	padding-left:10px;
}
/*стили programms*/
#pict2 {
	background:url(comedyclub960.jpg) no-repeat center;
	width:960px;
	height:196px;
	margin:0 21px;
	clear:both;
}
#bg-prog-t {
	background:url(programms-bg.gif) no-repeat bottom;
	width:1000px;
	margin-left:1px;
	height:310px;
}
#bg-prog-b {
	background:url(programms-bg.gif) no-repeat bottom;
	width:1000px;
	display:table-row;
	margin-left:1px;
	float:left;
	position:relative;
	padding-bottom:20px;
}
#l {
	background:transparent url(programms_03.gif) no-repeat 0 50%;
	width:1000px;
	padding:50px 0 50px 0;
}
#ll {
    background:transparent url(programms_06.gif) no-repeat 0 50%;
    width:1000px;
    padding:20px 0;
}
#lll {
	background:transparent url(night_tnt-onl.png) no-repeat 0 50%;
	width:1000px;
	padding:20px 0;
}
#bg-prog-t div.b-kino {
	height:215px;
	margin:0 0 0 323px;
	width:594px;
}
#bg-prog-b div.b-kino {
	height:120px;
	margin:0 0 0 323px;
	width:594px;
}
div.tvb2 {
	float:left;
	margin:15px 0;
	width:295px;
}
div.tvb2 h4 {
}
*html div.tvb2 h4 {
	padding-left:2px;
}
div.tvb2 h4 a, div.tvb2 em {
	font-family:tahoma;
    font-style: normal;
	margin-left:4px;
}
.t-video {
	background:transparent url(bg-thumb-video.gif) no-repeat;
	float:left;
	display:inline;
	height:73px;
	position:relative;
	width:94px;
}
.t-video img {
	padding:4px;
	position:relative;
}
div.tvb2 div.t-video {
	margin:0;
	position:relative;
}
div#all-videos {
	clear:both;
}
div#all-videos div {
	display:inline;
	width:150px;
	text-align:center;
	float:left;
	margin:0 80px 30px 20px;
	_margin:0 80px 0 20px;
	height:170px;
	_height:190px;
}
div#all-videos div div {
	width:150px;
	margin:20px 0 0 0;
	padding:0;
	height:110px;
}
div#all-videos div a, div#all-videos em {
	display:block;
    font-style: normal;
}
div#all-videos p.line {
	clear:both;
	margin: 0 36px;
}
#today {
	height:47px;
	left:308px;
	position:absolute;
	width:47px;
	z-index:100;
}

.empty_video{width:470px;height:353px;background:#F0F0F0;-moz-border-radius:15px;}
.empty_video .corn_tl{position:absolute}
.empty_video .corn_tr{position:absolute}
.empty_video .corn_bl{position:absolute}
.empty_video .corn_br{position:absolute}
.empty_video .label{font:bold 16px Arial;color:#bbb;position:relative;top:172px;left:125px}
