/**********addthis************/
.atss {
	top: 38%;
}
.at4-hide-content {
	visibility: visible;
	opacity: 1 !important;
}
.at-share-close-control {
	background-color: #0045a8;
	padding: 8px;
	cursor: pointer;
}
.at-share-open-control-left {
	top: 38%;
	background-color: #0045a8;
	width: 3pc;
	cursor: pointer;
	padding: 8px;
}
.at4-arrow.at-right {
	background: url(clientlibs/img/addthisRight.png) no-repeat 50% 50% !important;
}
.at-share-close-control .at4-arrow.at-left {
	background: url(clientlibs/img/addthisLeft.png) no-repeat 0 0 !important;
}
@media print {
	.udailyLeftContent {
		display: none;
	}
	.par_pageheader {
		display: none;
	}
	.udaily-global-story-header {
		display: none;
	}
	.local_footer_content {
		display: none;
	}
	.par_pagefooter {
		display: none;
	}
	.tagsDivMobile {
		display: none;
	}
	.printenabled {
		display: block !important;
		background-size: 616px 142px !important;
		height: 144px !important;
		background: url('clientlibs/img/logo-header-udel.png')
			50% 0 !important;
		background-repeat: no-repeat !important;
		background-color: #0048a5 !important;
		-webkit-print-color-adjust: exact;
		text-align: cente !important;
	}
	.printenabled img {
		margin: 9px auto !important;
		padding: 14px 14px 8px 14px !important;
		-webkit-print-color-adjust: exact;
	}
}
