<!--A:hover {text-decoration:bold; color:#FF0000;}-->
<!--A:active {text-decoration:bold; color:#FF0000;}-->

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
b {
  font-weight: 700;
}
table.rzalert {
  border-radius: 15px;
  background-color: #fafad2;
}
table.rzf {
  background-color: #000000;
}
div.mainform {
  margin-top:10;
  margin-left:10;
  font-size:16;
  padding:0;
}
.resbox {
  border-radius: 15px;
}
.resbox2 {
 border-radius: 11px;
}
.resbox3 {
 border-radius: 14px;
}
.d {color:#56789a}
.srl {
cursor: pointer;
font-size: 24;
color: green;
}
#selrhy {
    width: 250px;
}
#selgen {
    width: 250px;
}
#selrhy-button {
    margin-right: 6px;
}
#selgen-button {
    margin-left: 6px;
}
#rhymefilter {
    cursor: pointer;
    margin-bottom: 10px;
}
.r_highlight {
  font-size: 24;
  color:red;
}
.r_nohighlight {
  font-size: 12;
 color:#56789a;
}
#related_restrict {
 color:#888;
}
#filter_res {
 font-size: 12;
 color:#888;
}
#filtertitle {
  display: inline-block;
  margin: 0px;
}
.filterinnertitle {
  vertical-align: top;
}
#rz_oldrel {
  display: inline-block;
  padding-bottom: 10px;
}
.r {
  text-decoration: none;
  margin-left: 0.2em;
}
.advwelcome1 {
    width: 600px;
    border: 2px solid #999;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
    border-color: green;
}
.advwelcome2 {
    width: 600px;
    border: 2px solid #999;
    border-color: blue;
    padding: 15px 25px 15px 25px;
    border-radius: 15px;
}

