#AtfSquareBannerModule {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px; }

@media only screen and (max-width: 1000px) {
  #AtfSquareBannerModule {
    display: none; } }
#SignupPromoModule .Column {
  width: 50%;
  display: inline-block;
  vertical-align: top; }
#SignupPromoModule .Column1 .Intro {
  font-weight: bold;
  font-size: 16px; }
#SignupPromoModule .Column2 {
  text-align: center; }
  #SignupPromoModule .Column2 img {
    width: 80%; }
#SignupPromoModule .BenefitsIntro {
  margin-top: 10px; }
#SignupPromoModule ul {
  margin: 5px 5px 20px 20px;
  font-size: 11px; }
  #SignupPromoModule ul li {
    display: block;
    margin-bottom: 10px; }
    #SignupPromoModule ul li .IconSheet {
      margin-right: 5px; }
#SignupPromoModule .SignupButtonWrapper {
  margin-top: 15px;
  text-align: center; }
  #SignupPromoModule .SignupButtonWrapper a {
    display: inline-block;
    font-size: 16px;
    padding: 5px 15px; }
#SignupPromoModule .MemberLoginWrapper {
  display: block;
  text-align: center;
  font-size: 10px; }

#AddFormModuleRequesterModule .Content {
  padding: 0;
  text-align: center; }
  #AddFormModuleRequesterModule .Content .Intro {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 16px; }
  #AddFormModuleRequesterModule .Content .AreaTabs li {
    font-weight: bold;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    margin: 0 10px; }
  #AddFormModuleRequesterModule .Content .AreaTabs .Selected, #AddFormModuleRequesterModule .Content .AreaTabs li:hover {
    color: #FFE033;
    border-color: rgba(0, 0, 0, 0.5); }
  #AddFormModuleRequesterModule .Content .AreaPanes {
    border-top: 1px solid rgba(0, 0, 0, 0.5); }
    #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane {
      display: none; }
      #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .Sections {
        white-space: nowrap;
        overflow: auto;
        font-size: 0; }
        #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .Sections li {
          display: inline-block;
          cursor: pointer;
          padding: 5px; }
          #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .Sections li span, #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .Sections li small {
            display: inline-block;
            vertical-align: middle; }
          #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .Sections li small {
            margin-left: 5px;
            font-size: 10px; }
        #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .Sections li.Selected {
          color: #FFE033;
          background: rgba(0, 0, 0, 0.25); }
      #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations {
        height: 160px;
        overflow: auto;
        background: rgba(0, 0, 0, 0.25); }
        #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation {
          display: none;
          padding: 10px 10px 0 10px; }
          #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p {
            padding: 0 0 5px 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.25);
            margin-bottom: 10px;
            position: relative; }
            #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p .IconSheet {
              margin-right: 5px; }
            #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p span {
              vertical-align: middle;
              display: inline-block; }
              #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p span a {
                font-weight: bold;
                font-size: 16px; }
              #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p span small {
                display: block;
                font-size: 12px; }
            #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p button {
              display: block;
              position: absolute;
              top: 0;
              right: 0; }
              #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation p button small {
                display: block;
                color: #999999;
                margin: 0;
                font-size: 9px; }
          #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation .FeaturedSubmissions li {
            font-size: 10px;
            vertical-align: top;
            display: inline-block;
            margin-right: 10px; }
            #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation .FeaturedSubmissions li a {
              display: block; }
              #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation .FeaturedSubmissions li a img {
                max-height: 50px; }
          #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation .TopGames li {
            display: inline-block; }
            #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation .TopGames li a {
              padding: 5px;
              display: block;
              font-size: 0; }
            #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .SectionExplanation .TopGames li a:hover {
              background: rgba(0, 0, 0, 0.25); }
        #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane .SectionExplanations .Selected {
          display: block; }
    #AddFormModuleRequesterModule .Content .AreaPanes .AreaPane.Selected {
      display: block; }
  #AddFormModuleRequesterModule .Content .ModalLauncher {
    display: none; }

#FeaturesSliderModule {
  vertical-align: top;
  display: inline-block;
  margin: 0;
  width: 685px;
  height: 250px; }
  #FeaturesSliderModule .Content {
    position: relative;
    padding: 0;
    overflow-y: inherit; }
  #FeaturesSliderModule .SlidesShortcuts {
    z-index: 3;
    position: absolute;
    height: 10px;
    right: 0;
    top: -26px; }
    #FeaturesSliderModule .SlidesShortcuts li {
      border-bottom: 1px solid black;
      text-align: center;
      padding: 2.5px;
      opacity: 0.25;
      background-position: center center;
      background-size: 100%;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 5px;
      width: 50px;
      height: 20px; }
      #FeaturesSliderModule .SlidesShortcuts li span {
        display: inline-block;
        vertical-align: middle; }
      #FeaturesSliderModule .SlidesShortcuts li img {
        width: 16px;
        display: inline-block;
        vertical-align: middle; }
    #FeaturesSliderModule .SlidesShortcuts li:hover {
      opacity: 1; }
    #FeaturesSliderModule .SlidesShortcuts .CurrentShortcut {
      opacity: 1; }
  #FeaturesSliderModule .Slides > li {
    text-shadow: 1px 1px 3px #000,0 0 1px #000;
    background-position: center center;
    background-size: 100%;
    display: none;
    height: 250px;
    overflow: hidden;
    position: relative;
    color: rgba(255, 255, 255, 0.75); }
  #FeaturesSliderModule .Slides > li > a {
    z-index: 3;
    position: absolute;
    display: block;
    width: 100%;
    height: 250px; }
  #FeaturesSliderModule .Slides > .CurrentSlide {
    display: block; }
  #FeaturesSliderModule .Slides > li:hover {
    color: rgba(255, 255, 255, 0.75); }
  #FeaturesSliderModule .Slides > li:hover h4 {
    color: #FD70E1; }
  #FeaturesSliderModule .Name {
    z-index: 2;
    position: absolute;
    max-width: 550px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px; }
    #FeaturesSliderModule .Name h4 {
      padding: 0;
      margin: 0;
      border: none;
      font-size: 24px; }
      #FeaturesSliderModule .Name h4 span {
        display: inline-block;
        vertical-align: middle; }
      #FeaturesSliderModule .Name h4 small {
        font-size: 14px; }
  #FeaturesSliderModule .Stats {
    z-index: 4;
    position: absolute;
    font-size: 10px;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px; }
    #FeaturesSliderModule .Stats span {
      vertical-align: middle;
      display: inline-block; }
  #FeaturesSliderModule .Category {
    font-weight: bold;
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 10px; }
    #FeaturesSliderModule .Category span {
      vertical-align: middle;
      display: inline-block; }
    #FeaturesSliderModule .Category img {
      vertical-align: middle;
      display: inline-block; }
  #FeaturesSliderModule .Studio {
    z-index: 4;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 5px; }
    #FeaturesSliderModule .Studio span {
      vertical-align: middle;
      display: inline-block; }
    #FeaturesSliderModule .Studio img {
      height: 20px;
      vertical-align: middle;
      display: inline-block; }
  #FeaturesSliderModule .Submitter {
    z-index: 4;
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 5px; }
    #FeaturesSliderModule .Submitter span {
      vertical-align: middle;
      display: inline-block; }
    #FeaturesSliderModule .Submitter img {
      width: 25px;
      vertical-align: middle;
      display: inline-block; }

@media only screen and (max-width: 1000px) {
  #FeaturesSliderModule {
    display: none; } }
#ActivityFeedModule .Content {
  padding: 0; }
  #ActivityFeedModule .Content .Controls {
    padding: 10px 5px; }
    #ActivityFeedModule .Content .Controls strong {
      display: inline-block;
      margin: 0 10px; }
    #ActivityFeedModule .Content .Controls a {
      display: inline-block; }
    #ActivityFeedModule .Content .Controls button {
      display: inline-block; }
    #ActivityFeedModule .Content .Controls .PrevPage {
      border-radius: 3px 0 0 3px; }
    #ActivityFeedModule .Content .Controls .NextPage {
      border-radius: 0 3px 3px 0; }
    #ActivityFeedModule .Content .Controls .MarkAllAsSeen {
      margin-right: 5px;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
      #ActivityFeedModule .Content .Controls .MarkAllAsSeen span {
        border-radius: 100%;
        margin: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1); }
    #ActivityFeedModule .Content .Controls .MarkAllAsSeen:hover span {
      background: rgba(255, 255, 255, 0.25); }
  #ActivityFeedModule .Content li {
    padding-bottom: 10px;
    color: #999999;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 12px; }
    #ActivityFeedModule .Content li .MainParticipant {
      font-size: 14px;
      border-top: 3px solid rgba(0, 0, 0, 0.25);
      padding: 5px; }
    #ActivityFeedModule .Content li .Messages {
      margin-bottom: 5px; }
      #ActivityFeedModule .Content li .Messages li {
        padding: 5px;
        margin-left: 10px; }
        #ActivityFeedModule .Content li .Messages li .IconSheet {
          float: left;
          margin-right: 2.5px; }
        #ActivityFeedModule .Content li .Messages li span {
          display: block; }
        #ActivityFeedModule .Content li .Messages li small {
          text-transform: uppercase;
          font-size: 8px; }
        #ActivityFeedModule .Content li .Messages li .Info {
          float: right; }
    #ActivityFeedModule .Content li .ParticipantSubmissions {
      margin: 0 0 5px 15px; }
      #ActivityFeedModule .Content li .ParticipantSubmissions a {
        display: inline-block;
        overflow: hidden;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
        font-size: 0; }
        #ActivityFeedModule .Content li .ParticipantSubmissions a img {
          width: 100%;
          max-width: 220px; }
    #ActivityFeedModule .Content li .MultipleParticipants a {
      width: 45%;
      max-height: 100px; }
    #ActivityFeedModule .Content li .ParticipantMembers {
      margin: 0 10px 5px 15px; }
      #ActivityFeedModule .Content li .ParticipantMembers img {
        max-width: 25px;
        display: inline-block; }
  #ActivityFeedModule .Content .Unseen {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.05); }
    #ActivityFeedModule .Content .Unseen .BroadcastStatusWrapper {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      cursor: pointer; }
      #ActivityFeedModule .Content .Unseen .BroadcastStatusWrapper span {
        border-radius: 100%;
        margin: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.1); }
    #ActivityFeedModule .Content .Unseen .BroadcastStatusWrapper:hover span {
      background: rgba(255, 255, 255, 0.25); }
    #ActivityFeedModule .Content .Unseen .Broadcast {
      font-weight: bold;
      vertical-align: middle;
      display: inline-block;
      width: 90%; }
      #ActivityFeedModule .Content .Unseen .Broadcast span {
        margin-right: 25px; }
  #ActivityFeedModule .Content .NoBroadcastsMessage {
    padding: 10px; }

#SubFeedModule {
  position: relative; }

#SubFeedModule > .Content {
  padding: 0; }
  #SubFeedModule > .Content .GamesFilter {
    display: none; }
    #SubFeedModule > .Content .GamesFilter ul {
      text-align: center;
      font-size: 0;
      padding: 10px;
      overflow: auto;
      white-space: nowrap;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
      #SubFeedModule > .Content .GamesFilter ul li {
        border-width: 2px;
        border-style: solid;
        border-color: #6EE16C;
        display: inline-block;
        margin: 0 5px 0 0;
        padding: 2.5px;
        position: relative;
        width: 32px;
        height: 32px;
        cursor: pointer;
        vertical-align: top; }
        #SubFeedModule > .Content .GamesFilter ul li img {
          width: 100%; }
        #SubFeedModule > .Content .GamesFilter ul li small {
          visibility: hidden; }
      #SubFeedModule > .Content .GamesFilter ul .Hidden {
        border-color: #444; }
        #SubFeedModule > .Content .GamesFilter ul .Hidden img {
          opacity: 0.25; }
        #SubFeedModule > .Content .GamesFilter ul .Hidden small {
          text-shadow: 0 0 1px black,0 0 1px black;
          visibility: visible;
          position: absolute;
          top: 0;
          right: 0;
          color: #FF4E4E;
          background: #444;
          padding: 0 2.5px;
          font-weight: bold;
          font-size: 9px; }
      #SubFeedModule > .Content .GamesFilter ul .Hidden:hover img {
        opacity: 0.5; }
  #SubFeedModule > .Content .SubFeedSortedBySection h3 {
    margin: 0;
    padding: 10px;
    border: 0;
    font-size: 14px; }
    #SubFeedModule > .Content .SubFeedSortedBySection h3 span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px; }
  #SubFeedModule > .Content .SubFeedSortedBySection .SubFeed {
    margin-bottom: 15px; }
  #SubFeedModule > .Content .SubFeed {
    text-align: center;
    overflow: hidden;
    margin: 5px; }
    #SubFeedModule > .Content .SubFeed .AddBox div {
      margin: 5px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.25); }
      #SubFeedModule > .Content .SubFeed .AddBox div a {
        padding: 10px;
        display: block;
        border: 1px dashed #6CB1E1; }
        #SubFeedModule > .Content .SubFeed .AddBox div a span, #SubFeedModule > .Content .SubFeed .AddBox div a strong {
          display: inline-block;
          vertical-align: middle; }
        #SubFeedModule > .Content .SubFeed .AddBox div a strong {
          font-size: 10px; }
    #SubFeedModule > .Content .SubFeed li {
      position: relative;
      list-style-type: none;
      width: 33.33%; }
      @media only screen and (max-width: 450px) {
        #SubFeedModule > .Content .SubFeed li {
          width: 50%; } }
      #SubFeedModule > .Content .SubFeed li .Submission {
        background: rgba(0, 0, 0, 0.25);
        margin: 5px;
        padding: 0 0 5px 0;
        overflow: hidden; }
        #SubFeedModule > .Content .SubFeed li .Submission a {
          font-size: 0; }
          #SubFeedModule > .Content .SubFeed li .Submission a span {
            font-size: 14px;
            max-width: 190px;
            overflow: hidden;
            display: inline-block;
            padding: 5px 5px 0 5px; }
        #SubFeedModule > .Content .SubFeed li .Submission .Preview img {
          width: 100%; }
        #SubFeedModule > .Content .SubFeed li .Submission .Preview audio {
          width: 100%;
          max-width: 200px; }
        #SubFeedModule > .Content .SubFeed li .Submission .SprayPreview img {
          box-shadow: none; }
        #SubFeedModule > .Content .SubFeed li .Submission .ScriptPreview {
          display: block;
          background: rgba(0, 0, 0, 0.25);
          font-size: 10px;
          box-shadow: none; }
          #SubFeedModule > .Content .SubFeed li .Submission .ScriptPreview code {
            display: block;
            padding: 5px; }
        #SubFeedModule > .Content .SubFeed li .Submission .Details .GameIcon {
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 16px; }
        #SubFeedModule > .Content .SubFeed li .Submission .Details .StudioBanner {
          display: inline-block;
          vertical-align: middle;
          height: 16px; }
        #SubFeedModule > .Content .SubFeed li .Submission .Details .AvatarIcon {
          display: inline-block;
          vertical-align: middle;
          height: 16px; }
        #SubFeedModule > .Content .SubFeed li .Submission .Details .SubmissionTypeSmall {
          vertical-align: middle; }
        #SubFeedModule > .Content .SubFeed li .Submission .Details .Date {
          display: inline-block;
          font-size: 10px;
          vertical-align: middle; }
      #SubFeedModule > .Content .SubFeed li .UserOwned {
        box-shadow: 0 0 0 2px #FF5E9D; }

#SubFeedFilterModule {
  width: 200px;
  display: none; }
  #SubFeedFilterModule ul {
    padding: 0;
    margin-bottom: 10px; }
    #SubFeedFilterModule ul li {
      margin: 0;
      font-size: 12px;
      display: block;
      opacity: 0.25;
      padding: 2.5px 0;
      cursor: pointer; }
      #SubFeedFilterModule ul li span {
        vertical-align: middle;
        display: inline-block;
        margin-right: 2.5px; }
      #SubFeedFilterModule ul li input {
        vertical-align: middle;
        display: inline-block;
        margin-right: 2.5px; }
    #SubFeedFilterModule ul li:hover {
      background: rgba(0, 0, 0, 0.25); }
    #SubFeedFilterModule ul .Enabled {
      opacity: 1; }

/*# sourceMappingURL=5f785e266d72ec45869b780a4e61fcb0.css.map */
