html, body, div, 
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
.nav ul { list-style:none; }

.subnav ul { list-style:none; }

body, select, input, textarea { color: #444; }
html { overflow-y: scroll; }

/*a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #000; font-size:12px; font-weight:bold; }
a:hover { color: #036; }*/

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Primary Styles
	Author: Louis Lazaris
*/


#container {
	width: 999px;
	margin: 0 auto;
}

h1 {
	font-size: 32px;
	text-align: center;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-shadow: #ddd 2px 2px 2px;
	color: #888;
	padding: 20px 0;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	padding: 0 0 20px 0;
}

.nav ul {
	height: 31px;
	overflow: hidden;
	background:url(../images/navbg.gif) repeat-x;
	width: 999px;
	margin: 0 auto;


}

	.nav ul li {
		float: left;
	}

		.nav ul li a, .nav ul li a:link, .nav ul li a:visited {
			display: block;
			height: 30px;
			padding: 0 5px;
			float: left;
			line-height: 30px;
			text-decoration: none;
			color:#ffffff;
			font-size:12px;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:bold;
		}

		.nav ul li a:hover, .nav ul li a:active {
			color: #FFF;	
		}
		
		.nav ul li a.active, .nav ul li a.active:link, .nav ul li a.active:visited {
			color: #FFF;
			background:url(../images/taborange.gif) repeat-x; /*new index change*/
		}
	
		.nav ul li a span {
			color: #fff;
			font-size: 11px;
			_font-size: 9px; /* for IE6 */
		}
		
		.nav ul li a.active span {
			color: #fff;
			font-size: 11px;
			_font-size: 9px; /* for IE6 */
		}
		
		
		
		
		.subnav ul {
	height: 31px;
	overflow: hidden;
	background:url(../images/sub_navbg.gif) repeat-x;
	width: 999px;
	margin: 0 auto;


}

	.subnav ul li {
		float: left;
	}

		.subnav ul li a, .subnav ul li a:link, .subnav ul li a:visited {
			display: block;
			height: 30px;
			padding: 0 7px;
			float: left;
			line-height: 30px;
			text-decoration: none;
			color:#ffffff;
			font-size:12px;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:normal;
		}

		.subnav ul li a:hover, .subnav ul li a:active {
			color: #ffffff;	
		}
		
		.subnav ul li a.active, .subnav ul li a.active:link, .subnav ul li a.active:visited {
			color: #ffffff;
			margin-top:0px;
			font-weight:bold;
			background:url(../images/taborange.gif) repeat-x; /*new index change*/
		}
	
		.subnav ul li a span {
			color: #ffffff;
			font-size: 11px;
			_font-size: 9px; /* for IE6 */
		}
		
		.subnav ul li a.active span {
			color: #ffffff;
			font-size: 11px;
			_font-size: 9px; /* for IE6 */
		}
		
		
		

	#dropdown {
		width: 979px;
		margin: 0 auto;
		border: solid 10px #1b688f;
		background-color:#ffffff;
		border-top: none;
		display: none;
		position: relative;
		overflow: hidden;
		height: 400px;
		z-index:1000;
	}
	
		#ajax {
			padding: 20px;
			margin-left:-22px;
		}
		
			#ajax h2 {
				text-align: center;
				font-size: 40px;
				color: #bbb;
			}
	
	.loading {
		background: transparent url(../images/lightbox-ico-loading.gif) no-repeat center center;
	}
	
	#main {
		padding: 20px 0 0 0;
	}
	
	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-family:Arial, Helvetica, sans-serif;
		color:#ffffff;
	}
	
	.close a {
		font-family:Arial, Helvetica, sans-serif;
		color:#ee7a1c;
		text-decoration:none;
	}
	
	#ajax ul {
		float: left;
		width: auto;
		padding: 0 25px 0 0;
	}
	
		#ajax ul li {
			padding: 3px 0;
		}
		
		footer p {
			text-align: center;
		}
		
.navheading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;	
}


.navheading a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#006ea6;
	text-decoration:none;
}

.navheading a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ee7a1c;	
	text-decoration:none;
}


.navsubpoints:link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#006ea6;
}

.navsubpoints:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#006ea6;
}

.navsubpoints:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#ee7a1c;
}


.navsubpoints:active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#ee7a1c;
}

.nav{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#006ea6;
}