*:focus{outline:0;}


html,body,div,span,
applet,object,iframe,code,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,
del,dfn,font,img,ins,kbd,q,s,samp,
small,strike,sub,sup,tt,var,
dd,dl,dt,li,ol,ul,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td {
margin: 0;
padding: 0;
border: 0;
font-weight: normal;
font-style: normal;
font-family: inherit;
text-align: left;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
ol,ul {
list-style: none;
}
q:before,q:after,
blockquote:before,blockquote:after {
content: "";
}
html {
margin: 0;
padding: 0;
width: 902;
text-align: center;
background: #fff;
}
body {
font-family: Arial, Helvetica, sans-serif;
margin: auto;
color: #5e5e5d;
}
h1.title {
text-align: center;
padding: 10px;
}
.base {
width: 273px;
height:180px;
text-align: center;
position:static;
}
#photo {
width: 273px;
height: 78px;
overflow: hidden;
}
#photo ul {
margin-left: 0;
width: 2880px;
}
#photo ul li {
display: block;
float: left;
}
#photo img {
display: block;
}
#photo1 {
width: 273px;
height: 78px;
overflow: hidden;
}
#photo1 ul {
margin-left: 0;
width: 2880px;
}
#photo1 ul li {
display: block;
float: left;
}
#photo1 img {
display: block;
}
#photo2 {
width: 273px;
height: 78px;
overflow: hidden;
}
#photo2 ul {
margin-left: 0;
width: 2880px;
}
#photo2 ul li {
display: block;
float: left;
}
#photo2 img {
display: block;
}
#details {
border: solid 1px #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 5px;
}
#hover-box {
height: 23px;
margin-top: -23px;
position: relative;
z-index: 1000;
}
#thumbs {
position: absolute;
height: 61px;
background: #444444;
background: rgba(0, 0, 0, .7);
padding: 3px 0 0 0;
bottom: 0;
opacity: 0;
display: none;
}
#thumbs ul {
width: 480px;
margin: 0 auto;
}
#thumbs ul li {
display: inline-block;
float: left;
padding: 0 2px 0 2px;
}
#thumbs p {
color: #fff;
font-size: 9px;
padding: 2px 5px 5px 5px;
letter-spacing: normal;
font-family: Arial, Helvetica, sans-serif;
clear: both;
}
#thumbs img {
border: solid 1px #fff;
position: relative;
z-index: 1;
}
#thumbs a.highlight img {
border: solid 1px #ff9933;
}
#thumbs ul li a:link, #thumbs ul li a:visited {
position: relative;
display: block;
outline: none;
}
#thumbs ul li a span {
display: block;
width: 64px;
height: 32px;
border: solid 5px #fff;
opacity: .68;
filter: alpha(opacity=68);
position: absolute;
z-index: 20;
top: 1px;
left: 1px;
}
#thumbs ul li a.highlight span {
border-color: #ff9933;
opacity: .6;
}
#navigation {
height: 20px;
width: 942px;
z-index: 1;
position: absolute;
bottom: 0px;
left: 380px;
}
.ie #navigation {
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff', endColorstr='#99ffffff');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99ffffff', endColorstr='#99ffffff')";
}
#navigation ul {
width: 120px;
float: left;
margin: 0 0 0 142px;
display: inline;
}
#navigation ul li {
width: 20px;
float: left;
padding: 5px 0 0 0;
}
#navigation a:link, #navigation a:visited {
font-size: 10px;
text-decoration: none;
color: #fff;
outline: none;
}
#navigation a:hover, #navigation a:focus {
color: #ff9933;
background: none;
}
#navigation ul li a:hover, #navigation ul li a:focus {
background: rgba(255, 255, 255, .5);
}
#navigation ul li a.highlight:hover, #navigation ul li a.highlight:focus {
background: rgba(255, 153, 51, .5);
}
#navigation ul li a.highlight:link, #navigation ul li a.highlight:visited {
border-color: #a8aebc;
background: #ff9933;
}
#navigation ul li a:link, #navigation ul li a:visited {
display: block;
float: left;
width: 8px;
height: 8px;
border: solid 2px #a8aebc;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-indent: -9999em;
overflow: hidden;
}
a.play, a.play:link, a.play:visited {
display: block;
width: 14px;
height: 14px;
background: transparent url(images/play-pause.gif) no-repeat 0 -14px;
text-indent: -9999em;
overflow: hidden;
position: absolute;
top: 4px;
left: 156px;
}
a.pause, a.pause:link, a.pause:visited {
background-position: 0 0;
}
#navigation a.play:hover, #navigation a.play:focus {
background: transparent url(images/play-pause.gif) no-repeat 0 -14px;
}
#navigation a.pause:hover, #navigation a.pause:focus {
background: transparent url(images/play-pause.gif) no-repeat 0 0;
}
#prev {
float: left;
padding: 0 0 0 5px;
}
#next {
float: right;
padding: 0 5px 0 0;
}
#prev a:link, #prev a:visited {
background: none;
}
#next a:link, #next a:visited {
background: none;
}
#navigation a span {
font-size: 6px;
font-family: Verdana, Arial, Helvetica, sans-serif;
line-height: 24px;
}
#description {
padding: 1px 0 0 0;
}
p#small-caption {
font-size: 10px;
color: #333;
line-height: 11px;
padding: 0 0 0 4px;
/* FF3.6 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#d3d3d3')";
zoom: 1;
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f4f4f4),color-stop(1, #d3d3d3));/* Saf4+, Chrome */
/* IE6,IE7 */
}
#title a:link, #title a:visited {
font-size: 14px;
color: #0089d0;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
line-height: 35px;
}
#title_1 a:link, #title_1 a:visited {
font-size: 14px;
color: #0089d0;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
line-height: 35px;
}
#title_2 a:link, #title_2 a:visited {
font-size: 14px;
color: #0089d0;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
line-height: 35px;
}
/*		#title a:hover, #title a:focus {
text-decoration: underline;
}*/
#long-desc {
font-size: 12px;
color: #000000;
}
#long-desc_1 {
font-size: 12px;
color: #000000;
}
#long-desc_2 {
font-size: 12px;
color: #000000;
}
.addspritemain{
background:url(http://www.bseindia.com/include/images/newssec_sprite88.jpg) no-repeat;
}
.spriteadblock1{
width: 273px;
background-position: -1px -1px;
}
.spriteadblock2{
width: 273px;
background-position: -549px -1px;
}
.spriteadblock3{
width: 273px;
background-position: -275px -1px;
}
.spriteadblock4{
width: 273px;
background-position: -1px -159px;
}
.spriteadblock5{
width: 273px;
background-position: -549px -159px;
}
.spriteadblock6{
width: 273px;
background-position: -275px -159px;
}
.spriteadblock7{
width: 273px;
background-position: -549px -80px;
}
.spriteadblock8{
width: 273px;
background-position: -1px -80px;
}
.spriteadblock9{
width: 273px;
background-position: -275px -80px;
}
.spritemain{
background:url(http://www.bseindia.com/include/images/bsesprite.gif) no-repeat;
}
.spriteprevarrow{
width: 20px;
background-position: -78px -157px;
}
.spritenextarrow{
width: 18px;
background-position: -61px -157px;
}
.spritenewsdivide{
width: 3px;
background-position: -159px -2px;
}