﻿*:focus{outline:0;}

body {
	background:#ffffff;
	background-position:center top;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
a:link {
	color: #0089d0;
	text-decoration: underline;
	
}
a:hover {

	text-decoration: underline;
	color: #0089d0;
}
a:visited {
	
	text-decoration: underline;
	color: #ee7a1c;
}
a:active {

	text-decoration: underline;
	color: #ee7a1c;
}

#wrap
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:999px;
	margin:0 auto;
	*margin:0 auto;
}

.maindiv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	height:auto;
	width:999px;
	float:left;
	background:#dfdedd;
}

.indexmiddlearea{
	float:left;
	padding:10px;	
}


.topbararea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	height:130px;
	background-color:#ffffff;
	z-index:9999;
	position:relative;
}

.stocktopbararea {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	height:95px;
	background-color:#ffffff;
}

.bselogoarea{
	float:left;
	margin-left:20px;
	margin-top:40px;
}

.torightarea{
	float: right;
    width: 770px;
    padding-right: 12px;
    height: 82px;	
}


.selectionarea{
	float:right;
	margin-top:2px;
}

.dropdownbox{
	border:1px solid #e7e7e7;
	width:145px;
	font-size:12px;
}

.dropdownbox2{
	border:1px solid #e7e7e7;
	font-size:12px;
	height:23px;
}

.dropdownbox20{
	border:1px solid #e7e7e7;
	font-size:12px;
	height:20px;
}


.dropdownboxlang{
	border:1px solid #e7e7e7;
	width:140px;
	font-size:12px;
}

.groupsitedownbox{
	border:1px solid #e7e7e7;
	width:168px;
	font-size:12px;
}

.sensexquotearea{
	float:right;
	width:auto;
	height:32px;
	margin-top:0px;
}

.getquoteareapage{
	float:left;
	width:auto;
	height:32px;
	margin-top:15px;
	margin-left:60px;
}

.sensexarea{
	float:left;
	width:630px;
	margin-top:13px;
	margin-left:174px;
	
}

.sensexvalue{
	float: left;
    width: auto;
    margin-top: 55px;
    margin-left: 24px;
}

/*for top change in indexpage */

.sensexvalue2{
	float: left;
    width: auto;
    margin-top: 20px;
    margin-left: 24px;
}


.getquotearea{
	float: right;
    width: 290px;
    margin-left: 30px;
}

.greayshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	clear:both;
	margin-bottom:10px;
}

.whitearea{ /*new index change*/
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:975px;
	height:auto;
	background-color:#ffffff;
	border: 1px solid #bebebd;
}

.datearea{
	float:left;
	margin-right:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#979797;
	padding-top:5px;
	font-weight:bold;
	
}

.senseximg{/*new home page*/
	float:left;
	margin-right:15px;
	margin-top:6px;	
}

.sensextext{ /*new home page*/
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#010101;
	margin-top:4px;	
}

.sensextext2{
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#010101;
	margin-top:6px;	
}

.greenupimg{
	float:left;
	margin-right:7px;
}

.textbox{
	border:1px solid #B2B2B2;
	width:217px;
	padding:5px;
	font-size:12px;
	color:#000000;
	background-color:#ddeeff;
}


.textbox2{
	border:1px solid #e7e7e7;
	width:175px;
	font-size:12px;
	color:#7e7e7e;
	height:20px;
}

.textbox15{
	border:1px solid #e7e7e7;
	width:175px;
	font-size:12px;
	color:#7e7e7e;
	height:15px;
}

.gettextbox{
	border:1px solid #e7e7e7;
	width:330px;
	font-size:12px;
	color:#000000;
	height:20px;
	background-color:#ddeeff;
	padding-left:5px;
	}

.quotetabarea{
	float:left;
	width:335px;
}

.getquotetext{
	float:left;
	width:67px;
	height:20px;
	border-top:#E7E7E7 solid 1px;
	border-left:#E7E7E7 solid 1px;
	border-right:#E7E7E7 solid 1px;
	padding-left:4px;
	padding-right:4px;
	padding-top:7px;
	padding-bottom:4px;
	font-size:13px;
}


.searchbox{
	float:left;
	font-size:12px;
	color:#010101;
}

.quotearea{
	float:left;
	font-size:12px;
	color:#000000;
	margin-top:-8px;
}

.quotebox{
	border-bottom:1px solid #e7e7e7;
	border-top:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	border-left:1px solid #ffffff;
	width:70px;
	font-size:12px;
	height:31px;
	font-size:12px;
	color:#000000;
	float:left;
	padding:0px 0px 0px 0px;
}

.searchbutton{
	float:left;
	margin-top:-8px;
	margin-left:1px;
}

.navigarionarea{
	float:left;
	z-index:500;
	position:relative;
}

.stock_navigarionarea{
	margin:0 auto;
	width:999px;
}


.stocktop{
	margin:0 auto;
	width:999px;
	*margin:0 auto;
}

.googleadarea
{
	float:left;
	margin:0 auto;
	margin-bottom:10px;
}

.innergooglead
{
	float:left;
	margin-top:10px;
	z-index:1;
	position:relative;
}

.stockinnergooglead
{
	float:left;
	margin-top:10px;

}

.marketsgooglead
{
	float:left;
	margin-bottom:10px;

}


.greayshadediv2{/*new index change*/
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	clear:both;
}


.addarea{
	margin:0 auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:955px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px 10px 10px 10px;
	}

.advertisebox{
	float:left;
	margin-top:10px;
}

.greayshadediv3{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	clear:both;
	border:1px solid #d6d5d4;
}

.whitearea2{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:955px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px 10px 10px 10px;
}

.marketandcorporatdiv
{
	float:left;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	width:955px;
	height:298px;
}

.markettoolsarea{
	float:left;
	width:301px;	
}

.marketheading{
	float:left;
	width:190px;
	height:19px;
	font-size:15px;
	font-weight:bold;
	border-left:1px solid #d6d6d6;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:111px;	
}

.marketgalaxyarea{
	float:left;
	width:300px;
	height:159px;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;

}

.marketgalaxyheading
{
	float:left;
	width:291px;
	height:22px;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	/*background:url(../images/blueshade.gif) repeat-x;*/
	background-color:#0089cf;
	padding-top:8px;
	padding-left:10px;	
}


.followusarea{
	float:left;
	width:300px;
	height:100px;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	margin-bottom:9px;	
}

.followusheading
{
	float:left;
	width:291px;
	height:22px;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	/*background:url(../images/orangeshade.gif) repeat-x;*/
	background-color:#ef7a1d;
	padding-top:8px;
	padding-left:10px;	
}

.googleadarea2{
	float:left;
	width:300px;
	margin-left:14px;
	margin-top:30px;
}

.sharelinksarea{
	font-size:12px;
	color:#8f887c;
}

.sharelinks:link{
	color:#919191;
	font-size:12px;
	text-decoration:none;	
}

.sharelinks:hover{
	color:#919191;
	font-size:12px;	
	text-decoration:none;
}

.sharelinks:visited{
	color:#919191;
	font-size:12px;	
	text-decoration:none;
}

.sharelinks:active{
	color:#919191;
	font-size:12px;	
	text-decoration:none;
}


.sharelinks1{
	
	float:left;
	width:14px;
	margin-right:10px;
	
}

.sharelinks2{
	float:left;
	width:150px;
	
}

.sharelinks3{
	
	float:left;
	width:14px;
	margin-right:10px;	
}

.sharelinks4{
	float:left;
	width:60px;	
}




.shareicon{
	line-height:27px;
	list-style:none;
}



.companynamearea{
	float:left;
	width:300px;
	height:129px;	
}

.dbrealty {
	position:absolute;
	margin-left:150px;
	margin-top:20px;
	width:103px;
	height:11px;
	z-index:1;
	color:#a0c461;
	font-size:12px;
}

.corporatearea{
	
	float:right;
	width:320px;
	
}

.corporateheading{
	float:left;
	width:208px;
	height:19px;
	font-size:15px;
	font-weight:bold;
	border-right:1px solid #d6d6d6;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:111px;	
}

.corporatetabarea{
	float:left;
	width:320px;
	margin-left:-7px;
}

.indtabarea{
	float:left;
	width:320px;
	margin-left:-7px;
}


.sensexmaparea{
	float:left;
	width:300px;
}


.equityderivativearea
{/*new index change*/
	float:left;
	width:975px;
	height:245px;
}

.equityarea{/*new index change*/
	float:left;
	width:975px;
}

.equityheading{
	float:left;
	width:184px;
	height:19px;
	font-size:15px;
	font-weight:bold;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:140px;	
}

.equitytabarea{/*new index change*/
	float:left;
}


.derivativesarea{
	float:right;
	width:305px;
}


.derivativesheading{
	float:left;
	width:183px;
	height:19px;
	font-size:15px;
	font-weight:bold;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:120px;	
}


.derivativestabarea{
	float:left;
	width:305px;
}


.footerarea{
	
float:left;
background:#d2d2d2;
width:976px;
height:32px;
border:1px solid #aeaeae;
margin-top:10px;
margin-bottom:10px;	
}

.disclaimerarea{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#252525;
	margin-top:9px;
	margin-left:11px;	
}

.copyrightarea{
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#252525;
	margin-top:9px;
	margin-right:11px;	
}

.innermiddlearea{
	float:left;
	width:979px;
	padding:10px;	
}

.stockreacharea{
	float:left;
	width:999px;
	margin:0 auto;
	*margin:0 auto;	
}

.leftmenuarea{
	float:left;
	width:168px;
	margin-top:-1px;	
}

.innerrightarea{
	float:left;
	width:803px;
	padding-left:8px;
}


.headbcshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	float:left;
}

.headbcwhitearea{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:782px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	float:left;
	padding:9px 9px 7px 9px;
}

.searchshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-top:8px;
	float:left;
}



.searchwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:780px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}



.noticeshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	float:left;
	margin-bottom:10px;
}



.noticewhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:750px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}



.incontentshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-top:8px;
	float:left;
}

.incontentwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:780px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}

.iframeshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	float:left;
}

.iframewhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:750px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}


.getquoteshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-bottom:8px;
}

.getquotewhitearea{
	margin:0 auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:958px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:9px 9px 7px 9px;
}


.bcandshararea{
	float:left;
	width:780px;
}


.breadcrumbdiv{
	float:left;
	width:auto;
	font-size:11px;
	height:20px;
}

.blackbredcrumb{
	margin-right:5px;	
}

.bredcrumblink:link {
	font-size:11px;
	font-weight:normal;
	color: #000000;
	text-decoration: none;
}
.bredcrumblink:visited {
	font-size:11px;
	font-weight:normal;
	text-decoration: none;
	color: #000000;
}
.bredcrumblink:hover {
	font-size:11px;
	font-weight:normal;
	text-decoration: none;
	color: #0089D0;
}
.bredcrumblink:active {
	font-size:11px;
	font-weight:normal;
	text-decoration: none;
	color: #0089D0;
}


.activatebcrumb{
	color:#0089d0;
}

.shrearea{
	float:right;	

}


.sheretext{
	margin-right:5px;
	color:#000000;
}

.greyline{
	border-bottom:1px solid #d6d6d6;
	width:780px;
	height:1px;
	float:left; 
}


.shareholheading{
	width:auto;
	font-size:15px;
	font-weight:bold;	
}


.contentdatearea{
	float:right;	

}

.datetext{
	margin-right:14px;
	color:#838383;
	font-weight:bold;
}

.autorefreshon{
	margin-right:5px;
	color:#ee7a1c;
}

.contenttypearea{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.contenttypearea2{
	float:left;
}

.innerdropdownbox{
	border:1px solid #e7e7e7;
	width:133px;
	font-size:12px;
	margin-right:5px;
	float:left;
}

.gobutton{
	margin-top:0px;
	float:left;	
}


.languagelink:link{
	color:#0089d0;
	text-decoration:none;
	font-size:12px;	
}

.languagelink:visited {
	color:#0089d0;
	text-decoration:none;	
	font-size:12px;	
}

.languagelink:hover {
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;		
}

.languagelink:active {
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;		
}

.corporatelink:link{
	color:#002d44;
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;	
}

.corporatelink:visited {
	color:#002d44;
	text-decoration:underline;	
	font-size:12px;
	font-weight:bold;	
}

.corporatelink:hover {
	color:#ee7a1c;
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;		
}

.corporatelink:active {
	color:#ee7a1c;
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;		
}



.tablebluelink:link{
	color:#0089d0;
	text-decoration:underline;
	font-size:12px;	
}

.tablebluelink:visited {
	color:#0089d0;
	text-decoration:underline;	
	font-size:12px;	
}

.tablebluelink:hover {
	color:#ee7a1c;
	text-decoration:underline;
	font-size:12px;		
}

.tablebluelink:active {
	color:#ee7a1c;
	text-decoration:underline;
	font-size:12px;		
}

.tablebluelink10:link{
	color:#0089d0;
	text-decoration:underline;
	font-size:10px;	
}

.tablebluelink10:visited {
	color:#0089d0;
	text-decoration:underline;	
	font-size:10px;	
}

.tablebluelink10:hover {
	color:#ee7a1c;
	text-decoration:underline;
	font-size:10px;		
}

.tablebluelink10:active {
	color:#ee7a1c;
	text-decoration:underline;
	font-size:10px;		
}



.announcelink:link{
	color:#0089d0;
	text-decoration:none;
	font-size:12px;	
}

.announcelink:visited {
	color:#0089d0;
	text-decoration:none;
	font-size:12px;		
}

.announcelink:hover {
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;		
}

.announcelink:active {
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;		
}


.announcelink11:link{
	color:#0089d0;
	text-decoration:none;
	font-size:11px;	
}

.announcelink11:visited {
	color:#0089d0;
	text-decoration:none;
	font-size:11px;		
}

.announcelink11:hover {
	color:#ee7a1c;
	text-decoration:none;
	font-size:11px;		
}

.announcelink11:active {
	color:#ee7a1c;
	text-decoration:none;
	font-size:11px;		
}


.noteshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-top:8px;
}

.notewhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:800px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.notearea{
	float:left;
	margin:10px;
	font-size:12px	
}

.notecontent{
	color:#000000;
	text-align:justify;
	font-size:12px	
}


.innerleftadshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;

}

.innerleftadwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}

.innerleftgooglead{
	float:left;	
}


<!--sachin css-->

.table_header_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	/*background: url(../images/grbghead.gif) repeat-x;*/
	background-color:#d2d2d2;
	height:30px;
}

.divgeryhead{
	width:288px;
	height:23px;
	/*background:url(../images/grbghead.gif) repeat-x;*/
	background-color:#d2d2d2;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	padding-top:7px;
	padding-left:10px;
	text-align:left;	
}

.TTHeaderorange{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	background: url(../images/taborange.gif) repeat-x;
	height:30px;
	text-align:center;
}



.TTHeader{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	/*background: url(../images/tabblue.gif) repeat-x;*/
	height:30px;
	text-align:center;
	background-color:#016091;
}

.TTHeader_left{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-top:10px;
	/*background: url(../images/tabblue.gif) repeat-x;*/
	background-color:#016091;
	height:30px;

}

.TTHeaderlink{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	/*background: url(../images/tabblue.gif) repeat-x;*/
	background-color:#0089d1;
	height:30px;
	text-align:center;
	text-decoration:underline;
	cursor:pointer;
}


.TTHeadergrey{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-transform: none;
	text-decoration: none;
	padding:5px;
	/*background: url(../images/grbghead600.gif) repeat-x;*/
	background-color:#d2d2d2;
	height:30px;
}

.resultgreyhead{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-transform: none;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	background-color: #eaeaea;
	height:30px;
}



.TTHeadergrey2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	background-color:#BEE9FF;
	height:30px;
}



.TTRow_leftnotices{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #000000;
	text-align:left;
	text-decoration: none;
	height:25px;
	background-color:#ffffff;
	padding:5px;
}


.TTHeader10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	/*background: url(../images/tabblue.gif) repeat-x;*/
	background-color:#0089d1;
	height:30px;
	text-align:center;
}

.searchmodetext
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	font-weight:bold;	
}

.TTRow{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	height:30px;
	background-color:#ffffff;
	text-align:center;
}


.TTRow10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	height:30px;
	background-color:#ffffff;
	text-align:center;
}



.TTRow_right{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: normal;
	text-transform: none;
	text-align:right;
	padding-right:5px;
	color: #000000;
	text-decoration: none;
	height:30px;
	background-color:#ffffff;
}

.TTRow_right10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-variant: normal;
	text-transform: none;
	text-align:right;
	padding-right:5px;
	color: #000000;
	text-decoration: none;
	height:30px;
	background-color:#ffffff;
}

.TTRow_rightUlaValue{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-variant: normal;
	text-transform: none;
	text-align:right;
	padding-right:5px;
	color: #000000;
	text-decoration: none;
	height:25px;
	background-color:#C1EAFF;
}

.TTRow_rightBlue{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-variant: normal;
	text-transform: none;
	text-align:right;
	padding-right:5px;
	color: #000000;
	text-decoration: none;
	height:25px;
	background-color:#a4d8f2;
}


.Rowrightturnover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-variant: normal;
	text-transform: none;
	text-align:right;
	padding-left:5px;
	padding-right:5px;
	color: #000000;
	text-decoration: none;
	height:25px;
	background-color:#ffffff;
}



.TTRow_left{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #000000;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
	text-decoration: none;
	height:30px;
	background-color:#ffffff;
}


.TTRow_leftpad{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #000000;
	text-align:left;
	padding-left:15px;
	padding-right:5px;
	text-decoration: none;
	height:25px;
	background-color:#ffffff;
}


.TTRow_left10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-transform: none;
	color: #000000;
	text-align:left;
	padding-left:5px;
	padding-right:5px;
	text-decoration: none;
	height:30px;
	background-color:#ffffff;
}


.ErrorRow{
	
	background-color:#ffffff;
	color:#F00;
	
	
}


.body_text_table_ro{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #0089d0;
	text-decoration: none;
	height:30px;
}

.table_line{
	background:#d6d6d6;
	height:1px;
}

<!--sachin css-->

.framepadding{
	padding-left:10px;
	
}

.textcontentmaindiv{
	margin-top:8px;
	width:804px;
	float:left;
}

.stockreachcontentdiv{
	margin-left:8px;
	width:804px;
	float:left;
}


.contentshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
}

.contentwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:606px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}

.leftarea{
	float:left;
	width:628px;
	margin-right:8px;
}



.rightarea{
	float:left;
	width:164px;
}



.recentactivityshade{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:164px;
	height:auto;
	border:1px solid #d6d5d4;
	margin-bottom:10px;
}

.recentactivitywhite{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:152px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:5px;
}



.rightgoogleadshade{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:164px;
	height:614px;
	border:1px solid #d6d5d4;
}

.rightgoogleadwhite{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:162px;
	height:612px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.rightadd{
	margin-top:10px;
	margin-left:1px;	
}

.circuheadshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:628px;
	height:38px;
	border:1px solid #d6d5d4;
	margin-top:8px;
}

.circuheadwhitearea{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:626px;
	height:36px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}


.secondcontentshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:628px;
	height:165px;
	border:1px solid #d6d5d4;
	margin-top:8px;
}

.secondcontentwhitearea{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:626px;
	height:163px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.content{
	color:#000000;
	font-size:12px;
	text-align:justify;
	float:left;
}

.ullist{
	list-style-image:url(http://www.bseindia.com/include/images/nav_bullet.png);
	line-height:25px;
	color:#000000;
	padding-left:20px;
}

.subullist{
	list-style-image:url(http://www.bseindia.com/include/images/greybullet.gif);
	line-height:25px;
	color:#000000;
	padding-left:20px;
}

.secondheading{
	color:#333333;
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	margin-left:9px;	
}

.tabledatetext{
	color: #000000;
	padding-left:10px;
	font-size:12px;
}

.notetoclick{
	color:#000000;
	font-size:12px;
	float:right;
	margin-right:10px;
	margin-top:5px;	
}

.announcecontent{
	font-size:12px;
	color:#000000;
	line-height:25px;
	margin-top:10px;	
}

.announcetext{
	font-size:12px;
	color:#000000;
	list-style-image:url(http://www.bseindia.com/include/images/nav_bullet.png);
}	

.dottedline{
	list-style:none;
	color:#8c8c8c;
	
}

.morediv{
	float:right;
	margin-right:-5px;
}

.srmorediv{
	float:right;
}

.morediv{
	float:right;
	margin-right:-5px;
}

.morediv2{
	float:right;
}

.corporatecontent{
	float:left;
	height:215px;
}

.indcontent{
	float:left;
	height:215px;
}

.highlowdiv{   /*change*/
		font-size:12px;		
}

.equitycontent{
	float:left;
	height:167px;
}

.srtabcontent{
	float:left;
	height:245px;
	border:1px solid #d6d6d6;
}

.srsectioncontent{
	float:left;
	height:229px;
	text-align:left;
}

.dericontent{
	float:left;
	height:185px;
	border:1px solid #dfdedd;
	margin-bottom:5px;
	border-bottom:1px solid #dfdedd;*/
	
}

.statscontent{
	float:left;
	border:1px solid #dfdedd;
	margin-bottom:5px;
	border-bottom:1px solid #dfdedd;*/
	
}



.marktestatcontent{
	float:left;
	border:1px solid #dfdedd;
}

.gainersandloosers{
	float:left;
	width:800px;	
}

.topandspurt{
	float:left;
	width:800px;
	margin-top:7px;	
}

.gainersdiv{
	float:left;
	width:385px;
	margin-right:10px;	
}


.topvolumediv{
	float:left;
	width:385px;
	margin-right:10px;	
}

.gainersheading{
	/*background:url(../images/tabblue.gif) repeat-x;	*/
	background-color:#0089d1;
	width:375px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;
}

.gainergrid{
		width:376px;
}

.morelink{
	float:right;
	margin-top:5px;
}


.loosersdiv{
	float:left;
	width:385px;		
}

.spurtvolumediv{
	float:left;
	width:385px;		
}

.marketcontent{
	float:left;
	margin-top:9px;
	margin-left:10px;
	margin-bottom:7px;
}


.markettabarea{
	float:left;
	margin-bottom:7px;
}


.sensexandheatmap{
	float:left;	
	width:780px;
	margin-bottom:10px;
}

.sensexinnermap{
	float:left;
	width:302px;
	margin-right:10px;	
}

.sensexheading{
	width:292px;
	height:23px;
	/*background:url(../images/tabblue.gif) repeat-x;	*/
	background-color:#0089d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;	
}

.sensexinnermaparea{
	float:left;	
}


.sensexheatmaparea{
	float:left;
	width:459px;	
}

.sensexheatarea{
	float:left;	
}

.sensexhmheading{
	width:459px;
	height:23px;
	/*background:url(../images/tabblue.gif) repeat-x;	*/
	background-color:#0089d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;		
}


.secondareasensex{
	float:left;
	width:780px;	
}

.volumetopmainarea{
	float:left;
	width:302px;
	margin-right:10px;	
}

.volumetopcontent{
	float:left;	
}

.googleadsensex{
	float:left;
	width:300px;
	margin-right:10px;
		
}

.sensexindicator{
	float:left;
	width:149px;
}

.higindicator{
	float:left;
	width:149px;	
}

.bluedivheading{
	width:149px;
	height:30px;
	/*background:url(../images/tabblue.gif) repeat-x;	*/
	background-color:#016091;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-left:9px;	
}

.smallblueheading{
	width:149px;
	height:30px;
	/*background:url(../images/tabblue.gif) repeat-x;*/	
	background-color:#016091;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-left:5px;	
}


.highareacontent{
	width:156px;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	height:69px;	
}

.lowindicator{
	float:left;
	width:149px;	
}

.orangeheading{
	width:149px;
	height:30px;
	/*background:url(../images/taborange.gif) repeat-x;*/
	background-color:#a84210;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-left:9px;	
}

.lowareacontent{
	width:156px;
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	height:69px;	
}

.steamingtab{
	float:left;
	margin-top:15px;	
}

.sensexderivative{
	float:left;
	width:302px;
	margin-right:10px;	
}


.senderivativeheading{
	/*background:url(../images/tabblue.gif) repeat-x;*/	
	background-color:#0089d1;
	width:292px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;
}

.senderivativegrid{
		width:302px;
}


.majorsensexdiv{
	float:left;
	width:469px;
	margin-right:10px;	
}


.majorsensexheading{
	/*background:url(../images/tabblue.gif) repeat-x;*/	
	background-color:#0089d1;
	width:459px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;
}

.majorsensexgrid{
		width:469px;
}


.sensexscripsdiv{
	float:left;
	width:782px;
	margin-right:10px;	
}


.sensexscripsheading{
	/*background:url(../images/tabblue.gif) repeat-x;*/	
	background-color:#0089d1;
	width:772px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;
}

.sensexscripsgrid{
		width:782px;
}

.corporatecontent2{
	float:left;
	height:215px;
	overflow-x:hidden;
	overflow-y:auto;
	margin:0; padding:0px; border:0;
	scrollbar-face-color:white;
	scrollbar-highlight-color:white;
	scrollbar-3dlight-color:white;
	scrollbar-darkshadow-color:white;
	scrollbar-shadow-color:white;
	scrollbar-arrow-color:#4DECF8S;
	scrollbar-track-color:white;
	scrollbar-track-width:2px;
	
}


.srheadbcshadediv{
	float:left;
	margin-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-top:10px;
}

.srheadbcwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:958px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:9px 9px 7px 9px;
}

.srgreyline{
	border-bottom:1px solid #d6d6d6;
	width:958px;
	height:1px;
	float:left; 	
}

.srbcandshararea{
	float:left;
	width:958px;
}

.srheadingdatearea{
	float:left;
	width:958px;
	margin-top:5px;
}

.srcompanyinfoarea{
	float:left;
	width:980px;
	margin-left:10px;
	margin-top:8px;
		
}

.coareashadediv1{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:525px;
	height:63px;
	border:1px solid #d6d5d4;
}

.coareawhitearea1{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:523px;
	height:61px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.coareashadediv2{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:444px;
	height:63px;
	border:1px solid #d6d5d4;
}

.coareawhitearea2{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:442px;
	height:61px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.conameandsensex{
	float:left;
	width:523px;
}

.companyname{
	float:left;
	width:350px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#0089d0;
	margin-left:11px;
	margin-top:21px;
	height:30px;	
}

/*for h1*/

.srcompanynametext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0089D0;
	padding: 0;
	margin: 0;
	text-shadow: none;
}

.srcompanyname{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#0089d0;
	margin-left:11px;
	margin-top:21px;
	height:30px;	
}

/*for h1*/
.companysensex{
	float:right;
	width:150px;	
}

.companysensexvalue{
	float:left;
	width:150px;
	margin-top:10px;	
}

.blackvalue{
	font-size:20px;
	color:#010101;
	font-weight:bold;
	text-align:right;	
}

.greyvalue{
	font-size:12px;
	color:#000000;	
}


.srcontentshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:559px;
	height:auto;
	border:1px solid #d6d5d4;
}

.srcontentwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:557px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.srrightareashade{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:233px;
	height:auto;
	border:1px solid #d6d5d4;
	margin-bottom:8px;
	float:left;
}

.srrightareawhite{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:231px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	float:left;
}

.srleftarea{
	float:left;
	width:559px;
	margin-right:10px;
}

.srrightarea{
	float:left;
	width:235px;
}

.srmaparea{
	width:auto;
}



.sensexview{
	width:auto;
		
}

.sensexgreyhead{
	/*background:url(../images/greyshade.gif) repeat-x;*/
	background-color:#566e7a;
	height:30px;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;	
}

.valuegrey{
	background-color:#e9ecee;
	text-align:center;
	height:30px;
	border-bottom:1px solid #bebebd;	
}


.valuegreyleft{
	background-color:#e9ecee;
	text-align:center;
	height:30px;
	border-left:1px solid #bebebd;
	border-bottom:1px solid #bebebd;	
}


.valuegreyright{
	background-color:#e9ecee;
	text-align:center;
	height:30px;
	border-right:1px solid #bebebd;
	border-bottom:1px solid #bebebd;	
}

.valueblue{
	background-color:#0042e9;
	text-align:center;
	color:#ffffff;
	height:30px;
	border-bottom:1px solid #bebebd;	
}

.valuered{
	background-color:#e60000;
	text-align:center;
	color:#ffffff;
	height:30px;
	border-bottom:1px solid #bebebd;	
}

.srinfoarea{
	float:left;
	width:537px;
	margin-top:10px;	
}

.scriptradinginfo{
	float:left;
	margin-right:10px;	
}

.scriptradinghead{
	width:235px;
	height:23px;
	/*background:url(../images/tabblue.gif) repeat-x;	*/
	background-color:#0089d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;	
}

.marketdephhead{
	width:201px;
	height:23px;
	/*background:url(../images/tabblue.gif) repeat-x;	*/
	background-color:#0089d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;	
}

.depthcontent{
	float:left;
	font-size:11px;
}

.historycontent{
	float:left;
	font-size:11px;
	border:1px solid #d6d6d6;	
}

.depthvalugreen{
	color:#4a8106;
	text-align:center;
	background-color:#ffffff;
	height:25px;	
}

.depthvalured{
	color:#e60000;
	text-align:center;
	background-color:#ffffff;
	height:25px;	
}

.depthvalue{
	text-align:center;
	background-color:#ffffff;
	height:25px;	
}

.scriphistory{
	float:left;
	width:211px;	
}

.scriphistoryhead{
	width:201px;
	height:23px;
	/*background:url(../images/tabblue.gif) repeat-x;*/	
	background-color:#0089d1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding-top:7px;
	padding-left:10px;	
}

.sectionarea{
	float:left;
	width:281px;	
}


.scripcotent{
border:1px solid #d6d6d6; width:296px;	
}

.scriptext{
	text-align:left;
	width:110px;
	font-size:11px;
	color:#000000;
	padding-left:10px;
	height:25px;
	background-color:#ffffff;
	font-weight:bold;	
}

.scripfig{
	text-align:right;
	width:110px;
	font-size:11px;
	color:#000000;
	padding-right:10px;
	height:25px;
	background-color:#ffffff;			
}

.archivelink{
	float:right;
	font-size:11px;
	color:#0089d0;
	margin-top:5px;
	margin-right:5px;	
}

.archivelink a{
	font-size:11px;
	color:#0089d0;
	text-decoration:underline;
}

.archivelink a:hover{
	font-size:11px;
	color:#EE7A1C;
	text-decoration:underline;
}


.archivelink2{
	float:right;
	font-size:11px;
	color:#0089d0;
	margin-right:5px;
	margin-bottom:5px;
	text-decoration:	
}


.archivelink2 a{
	font-size:11px;
	color:#0089d0;
	text-decoration:underline;
}

.archivelink2 a:hover{
	font-size:11px;
	color:#EE7A1C;
	text-decoration:underline;
}

.body_text_table{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	height:25px;
	padding-left:10px;
	padding-right:5px;
}

.innertable_header{/*new index change*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	background: #016091;*/
	background-color:#016091;
	height:30px;

}



.innertable_header1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	text-align:center;
	vertical-align:middle;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	background: #016091;
	height:30px;

}


.innertable_header2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	vertical-align:middle;
	color: #ffffff;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	background: #016091;
	height:30px;

}

.innertable_header10{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	background: #016091;
	height:30px;
	text-align:center;
	vertical-align:middle;

}


.noticeconteshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
}

.noticecontewhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:956px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}


.sensexshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
}

.sensexwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:972px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:2px;
}

.whitelink:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;

}

.whitelink:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;


}


.whitelink12:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;

}

.whitelink12:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;


}

.whitelink12:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;


}

.whitelink12:active{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;


}

.TTHeadedefault{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
/*	background: url(../images/tabblue.gif) repeat-x;*/
	background-color:#016091;
	height:30px;

}


.noticeheadbcshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
}

.noticeheadbcwhitearea{
	margin:0 auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:958px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:9px 9px 7px 9px;
}

.red_new{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#F00;
	text-decoration:none;

}

.tableheadlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	background: url(http://www.bseindia.com/include/images/tabblue100.gif) repeat-x;
	height:30px;
	text-align:center;
	vertical-align:middle;
	text-decoration:underline;
}


/*stockreach*/

.subgreynavdiv{
	width:288px;
	height:30px;
	background:url(http://www.bseindia.com/include/images/grbghead.gif) repeat-x;
	/*background-color:#cbcbcb;*/
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-align:center;	
}

.subgreyselect{
	width:288px;
	height:30px;
	background:#959595 repeat-x;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;	
}

.noticefilterarea{
	margin:10px;	
}

.subgreynavdiv a{	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-align:center;	
	text-decoration:none;	
}


.subgreynavdiv a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	text-align:center;
	text-decoration:none;	
}


.subheadergrey2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	text-decoration: none;
	padding-left:5px;
	padding-right:5px;
	background: url(http://www.bseindia.com/include/images/grbghead600.gif) repeat-x;
	height:30px;
}


.greycentertd{
	background:url(http://www.bseindia.com/include/images/grbghead600.gif) repeat-x;
	height:30px;
	font-size:12px;
	text-align:center;	
}


.noticesearchshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-top:8px;
}

.noticesearchwhite{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
	width:966px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:5px;
}
/*stockreach*/


/*sensexstream*/
.streamcontentmaindiv{
	float:left;
	margin-top:8px;
}

.noticecontentmaindiv{
	float:left;
	margin-top:8px;
}



.streamleftarea{
	float:left;
	width:800px;
}

.streamcontentshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
}

.streamcontentwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:790px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:5px;
}


.streamrightarea{
	float:right;
	width:164px;
	margin-right:1px;
}


/*sensexstream*/


.selectpagination{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0089d0;
	background-color:#ffffff;
	border:solid 1px #0089d0;
	width:10;
	height:10;
		
}

.paginationbox{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
	background-color:#0089d0;
	border:solid 1px #0089d0;
	width:10;
	height:10;
	
}
  .dropcap {
    display:block;
    width:6px;
    height:9px;
    background-image:url("http://www.bseindia.com/include/images/rs_b.gif");
    background-repeat:no-repeat;
    }
  .dropcap span {display:none;}


.indextabhead{
	background-image:url(http://www.bseindia.com/include/images/grbghead.gif);
	/*background-color:#cbcbcb;	*/
	height:30px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.crorefont{
	font-size:10px;	
}

.oldbse:link{
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;	
}

.oldbse:visited {
	color:#ee7a1c;
	text-decoration:none;	
	font-size:12px;
	font-weight:bold;	
}

.oldbse:hover {
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;	
	font-weight:bold;	
}

.oldbse:active {
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;		
}

.imagediv{
	border:solid 1px #0089d0;
	padding:4px;
	margin-right:15px;	
}

.getquotelink:link {
	color: #0089d0;
	text-decoration: none;
	
}
.getquotelink:hover {

	text-decoration: none;
	color: #0089d0;
}
.getquotelink:visited {
	
	text-decoration: none;
	color: #ee7a1c;
}
.getquotelink:active {

	text-decoration: none;
	color: #ee7a1c;
}

/*h1 heading*/

.headingdatearea{
	float:left;
	width:780px;
	margin-top:5px;
}


.headingdiv{
	float:left;
	width:500px;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;	
}


.innerheding{
	float: left;
	margin-top: 0px;	
}


.heading1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	padding: 0;
	margin: 0;
	text-shadow: none;
	text-align:left;
}

/*h1 heading*/




.quicklinksshadearea{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	clear:both;
	margin-top:8px;
}

.quicklinkswhitearea{
	margin:0 auto;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:955px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px 10px 10px 10px;
	}


.quickfollowlinksarea{
	float:left;
	width:950px;	
}

.quicklinksarea{
	float:left;
	width:780px;	
}

.dividearea{
	float:left;
	width:3px;	
}

.followusearea
{
	float:left;
	width:150px;
	margin-left:15px;	
}

.quicklinksheading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#0089d0;	
}

.linksbullet{
	background:url(http://www.bseindia.com/include/images/redbullet.gif) no-repeat;
	width:6px;
	height:9px;
}

.quicklinklist{
	list-style-type:none;
	color:#000000;
	font-size:12px;

}

.lilist{
	background-position: 0px 5px;
	background-image:url(http://www.bseindia.com/include/images/nav_bullet.png);
	background-repeat:no-repeat;
	background-position:0px 7px;
	padding-left:14px;
	line-height:20px;

}

.followheading{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#ee7a1c;	
}

.quicklink:link{
	color:#000000;
	text-decoration:none;
	font-size:12px;	
}

.quicklink:visited {
	color:#000000;
	text-decoration:none;	
	font-size:12px;	
}

.quicklink:hover {
	color:#0089D0;
	text-decoration:none;
	font-size:12px;		
}

.quicklink:active {
	color:#0089D0;
	text-decoration:none;
	font-size:12px;		
}

.quotecontent {
float: left;
}





/*pagination*/

 .cssPager_1 span 
              { 
              	background-color:#4f6b72; font-size:12px;
              	} 
              	.mpager span a
              	 {   
              	 	text-decoration:none;  
              	 	 }  
              	 	 
      .mGrid {    
   width: 100%;    
  background-color: #fff;        
   border: solid 1px #d6d6d6;    
    border-collapse:collapse; 
    font-size:12px;   
}   
.mGrid td {    
    border: solid 1px #d6d6d6;    
    
}   
.mGrid th {     
   color: #fff;    
    border-left: solid 1px #d6d6d6;      
}   
.mGrid .alt { background: #fcfcfc  repeat-x top; }   
.mGrid .pgr { background: #ffffff  repeat-x top; font-size:12px; }   
.mGrid .pgr table { margin: 5px 0; }   
.mGrid .pgr td {    
   border-width: 0;    
   padding: 0 6px;    
    border-right: solid 1px #d6d6d6;    
   font-weight: bold;    
    color: #0089D0;    
    line-height: 12px;    
 }      
.mGrid .pgr a { color: #666; text-decoration: none; font-size:12px; }   
.mGrid .pgr a:hover { color: #000; text-decoration: none; font-size:12px; } 

/*pagination*/


/*pagination2*/



.pagintiontable
{
	border-left:solid 1px #d6d6d6;
	border-right:solid 1px #d6d6d6; 
	border-bottom:solid 1px #d6d6d6;
	height:25px;       
}

 .cssPager_1table span 
              { 
              	background-color:#4f6b72; font-size:12px;
              	} 
              	.mpagertable span a
              	 {   
              	 	text-decoration:none;  
              	 	 }  
              	 	 
      .mGridtable {    
    
  background-color: #fff;        
    border-collapse:collapse; 
    font-size:12px; 
  
}   
.mGridtable td {    
    border-right: solid 1px #d6d6d6;    
    
}   
.mGridtable th {     
   color: #fff;    
    border-left: solid 1px #d6d6d6;      
}   
.mGridtable .alt { background: #fcfcfc  repeat-x top; }   
.mGridtable .pgrtable { background: #ffffff  repeat-x top; font-size:12px; }   
.mGridtable .pgrtable table { margin: 5px 0; }   
.mGridtable .pgrtable td {    
   border-width: 0;    
   padding: 0 6px;    
    border-right: solid 1px #d6d6d6;    
   font-weight: bold;    
    color: #0089D0;    
    line-height: 12px;    
 }      
.mGridtable .pgrtable a { color: #666; text-decoration: none; font-size:12px; }   
.mGridtable .pgrtable a:hover { color: #000; text-decoration: none; font-size:12px; } 

/*pagination2*/

.newgetquote
{
 margin-left:300px;
 height:200px; 
}

.announceheader {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
line-height: normal;
text-transform: none;
text-decoration: none;
padding: 5px;
background-color: #a09d9d;
height: 30px;
}




.imagediv{
	border:solid 1px #0089d0;
	padding:4px;
	margin-right:20px;	
}


.graphgreydiv{
	border:solid 1px #D6D5D4;
	width:427px;
	height:251px;
	float:right;
	
}

.graphdayarea{
		background:url(http://www.bseindia.com/include/images/daygrey.gif) repeat-x;
		height:33px;	
}


.dateselected{
	font-weight: bold;
	color: #0089D0;
}

.dateselected:link{ /*new stock reach*/
	font-weight: bold;
	color: #ee7a1c;
	text-decoration:none;
	font-size:12px;	
}

.dateselected:visited {/*new stock reach*/
	font-weight: bold;
	color: #ee7a1c;
	text-decoration:none;
	font-size:12px;		
}

.dateselected:hover {/*new stock reach*/
	font-weight: bold;
	color: #ee7a1c;
	text-decoration:none;
	font-size:12px;			
}

.dateselected:active {/*new stock reach*/
	font-weight: bold;
	color: #ee7a1c;
	text-decoration:none;
	font-size:12px;			
}

.datelink:link{/*new stock reach*/
	color:#ffffff;
	text-decoration:none;
	font-size:12px;	
	font-weight: bold;
}

.datelink:visited {/*new stock reach*/
	color:#ffffff;
	text-decoration:none;	
	font-size:12px;	
	font-weight: bold;
}

.datelink:hover {/*new stock reach*/
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;	
	font-weight: bold;	
}

.datelink:active {/*new stock reach*/
	color:#ee7a1c;
	text-decoration:none;
	font-size:12px;
	font-weight: bold;		
}


.tbhead{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 12px;
	background-color: #0089CF;
	font-weight: bold;
	text-align: center;
}

.tbmain{
	font-family: Arial, Helvetica, sans-serif;
	color: #1C355D;
	font-size: 12px;
	background-color: #E6EEF1;
	padding-left:5px;
	padding-right:5px;
}


/*newseo*/


.seoinnermiddlearea{
	float:left;
	margin-left:10px;
	width:977px;	
}


.seocoareashadediv2{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:978px;
	height:40px;
	border:1px solid #d6d5d4;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.seocoareawhitearea2{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:976px;
	height:38px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.seosrcompanyname{
	float:left;
	margin-top:3px;		
}


.seoeconteshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:978px;
	height:auto;
	border:1px solid #d6d5d4;
}

.seocontewhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:976px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
}


.seoscriptext{
	text-align:left;
	/*width:110px;*/
	font-size:11px;
	color:#000000;
	padding-left:10px;
	height:25px;
	background-color:#ffffff;
	font-weight:bold;		
}


.seoscripfig{
	text-align:right;
	/*width:110px;*/
	font-size:11px;
	color:#000000;
	padding-right:10px;
	height:30px;
	background-color:#ffffff;				
}

/*newseo*/

/*newsensexview*/
.sensexshadediv1{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-bottom:8px;
}

.sensexwhitearea1{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:972px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:2px;
}


.infoareashade{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-top:8px;
}

.infoareawhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:972px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:2px;
}


.graphheatmapdiv{
	float:left;
	width:955px;
}

.sensexgrapharea{
	float:left;
	width:431px;
	margin-right:8px;	
}

.sensexheatmaparea{
	float:left;
	width:511px;	
}

.infocontent{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #000000;
	text-align:left;
	padding-left:10px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
	text-decoration: none;
	height:25px;
	background-color:#ffffff;
}
/*newsensexview*/



.newoptisensexvalue{

	margin-top:40px;
	float:right;
}

.newotidatearea{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#979797;
	padding-top:5px;
	font-weight:bold;
	
}

.newoptigetquotearea{
	float:right;
	width:290px;
	margin-right:45px;
}


.spritemain{
	background:url(http://www.bseindia.com/include/images/bsesprite.gif) no-repeat;
}

.spritebselogo{
	width: 151px;
	background-position: -1px -2px;
}

.spritesensex{
	width: 115px;
	background-position: -1px -99px;
}

.spritesensexstream{
	width: 135px;
	background-position: -1px -68px;
}

.spritesensexview{
	width: 116px;
	background-position: -1px -84px;
}

.spritefbicon{
	width: 32px;
	background-position: -118px -105px;
}

.spritetwiticon{
	width: 32px;
	background-position: -85px -171px;
}


.spritegplusicon{
	width: 32px;
	background-position: -52px -171px;
}


.spriteinstaicon{
	width: 32px;
	background-position: -118px -138px;
}

.spriterssicon{
	width: 32px;
	background-position: -85px -204px;
}

.spriteyticon{
	width: 32px;
	background-position: -118px -204px;
}


.spritelinkinicon{
	width: 32px;
	background-position: -118px -171px;
}

.spritemobicon{
	width: 32px;
	background-position: -20px -175px;
}

.spritewindowicon{
	width: 32px;
	background-position: -20px -208px;
}

.spriteappleicon{
	width: 32px;
	background-position: -52px -204px;
}

.spritebbicon{
	width: 32px;
	background-position: -118px -237px;
}

.spritegameicon{
	width: 32px;
	background-position: -85px -237px;
}

.spritedivideline{
	width: 3px;
	background-position: -154px -2px;
}

.spritenewsdivide{
	width: 3px;
	background-position: -154px -2px;
}

.spritemorelink{
	width: 65px;
	background-position: -1px -133px;
}


.spritenavbullet{
	width: 6px;
	height:9px;
	background-position: -110px -135px;
}

.spritecalender{
	width: 20px;
	background-position: -301px 0px;
}


.valuetoparea{
	float:left;
	width:310px;
	margin-left:10px;	
}


.newdatetoparea{/*new home page*/
	float:right;
	width:200px;	
}

.newsensexvaluearea{/*new home page*/
	float: right;
    margin-right: 55px;
    width: 250px;	
}

.newsensexvalue{/*new home page*/
	font-size:18px;	
}


.newdatearea{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#979797;
	padding-top:5px;
	font-weight:bold;
	
}

.gqandlinksarea{
	float:right;
	width:340px;
	margin-right:15px;
}

.toplinksarea{
	float:right;
	margin-top:2px;	
}

.newgqarea{
	float:right;
	margin-top:40px;	
}

.mainboxdiv {
	 width:auto;
}

.chitranewdatearea {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #979797;
font-weight: bold;
}



/*windos css*/

.windowtabarea{
	float:left;
	width:970px;
}

.windowtabcontent{
	float:left;
	height:auto;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000; 
}

.windowtabshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
}

.windowtabwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:976px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
}

.windowsheading{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#0089d0;
	font-weight:bold;
}


.windowsullist{
	list-style-image:url(http://www.bseindia.com/include/images/nav_bullet.png);
	line-height:25px;
	color:#5f5f5f;
	padding-left:20px;
}
/*windos css*/


/*new index page*/

.allfieldarea{
		margin-left:10px;
	margin-top:10px;
}

.neweqitymainarea{
	float: left;
	width: 954px;

}

.neweqitysubara1{
	float: left;
	width: 954px;
	margin-bottom:10px;
}

.neweqitysubara2{
	float: left;
	width: 954px;
	margin-bottom:10px;
}

.newcorpanarea{
	float: left;
	width: 400px;
}

.newmarketstatarea{
	float: right;
	width: 527px;
	text-align:right;
}

.newgrapharea{
	float: left;
	width: 400px;
}

.gainersloosrarea{
	float: left;
	width: 415px;
	text-align:right;
}

.neweqtabarea{
	float:left;
	width:415px;
	
}

.newmarkettabarea{
	float:left;
	width:525px;
}


.newttheader{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	padding-left:10px;
	padding-right:10px;
	/*background: url(../images/tabblue.gif) repeat-x;*/
	height:30px;
	background-color:#016091;
}

.debthomedate{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: none;
	color: #ffffff;
	font-weight:normal;
}

.rbirefdiv{
	width:946px;
	font-size:14px;
	padding:5px;
	border:1px solid #dfdedd;
}

.dricurrencycontent{
	width:956px;
}

.tabrbiratefont{
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	background: url(http://www.bseindia.com/include/images/tabblue.gif) repeat-x;
	width:410px; 
}
	
.newsensextext2{
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#de1439;
	margin-top:-2px;	
}

.newsensexvalue
{
	font-size:18px;	
}

.homegooglead
{
	float:left;
	margin-bottom:10px;

}


.newsensexgreen{
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#179600;
	margin-top:-2px;	
}

.newsensexred{
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#de1439;
	margin-top:-2px;	
}
/*new index page*/



/*new stock reach*/

.covaluearea{
	float:right;
	width:570px;	

}

.newsrheadingdiv{
	float:left;
	width:410px;
	font-size:15px;
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;	
}

.newblackvalue{
font-size: 20px;
color: #010101;
font-weight: bold;
margin-right:5px;
}	

.copointheading{
font-size: 11px;
color: #00000;
font-weight: bold;
text-align: left;
}

.newsensexgreen{
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#179600;
	margin-top:-2px;	
}

.newsensexred{
	float:left;
	font-size:15px;
	font-weight:bold;
	color:#de1439;
	margin-top:-2px;	
}

.newsrinnermidarea{
	float:left;
	width:979px;
	padding:10px;	
}

.newsrshadediv{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:978px;
	height:40px;
	border:1px solid #d6d5d4;
	margin-left:10px;
	margin-top:10px;
}

.newsrwhitearea{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:976px;
	height:38px;
	background-color:#ffffff;
	border:1px solid #bebebd;
}


.newsrcontentshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	float:left;
	
}


.newgraphgreydiv{
	border:solid 1px #D6D5D4;
	width:465px;
	height:272px;
	float:left;
	
}

.newseoscriptext{
	text-align:left;
	/*width:110px;*/
	font-size:11px;
	color:#000000;
	padding-left:5px;
	height:30px;
	background-color:#ffffff;	
}

.newseoscripfig{
	text-align:right;
	/*width:110px;*/
	font-size:11px;
	color:#000000;
	padding-right:5px;
	height:30px;
	background-color:#ffffff;				
}

.newdivgeryhead{
	width:206px;
	height:23px;
	/*background:url(../images/grbghead.gif) repeat-x;*/
	background-color:#016091;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	padding-top:7px;
	padding-left:10px;
	text-align:left;	
}

.newscripcotent{
border:1px solid #d6d6d6; width:214px;	
}

.newscripcotent2{
border:1px solid #d6d6d6; width:213px;	
}

.newscripcotent3{
border:1px solid #d6d6d6; width:250px;	
}

.newscripcotent4{
border:1px solid #d6d6d6; width:251px;	
}

.newscripcotent5{
border:1px solid #d6d6d6; width:298px;
}

.newheaddivgrey{
	height:30px;
	/*background:url(../images/grbghead.gif) repeat-x;*/
	background-color:#016091;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	padding-left:10px;
	text-align:left;
}

.redsell
{
	width:125px;
	color:#ff0000;
	text-align:center;
	font-size:12px;
	height:30px;
	background-color:#ffffff;
	font-weight:bold;	
}

.greenbuy
{
    width:125px;
	color:#018d7c;
	text-align:center;
	font-size:12px;
	height:30px;
	background-color:#ffffff;
	font-weight:bold;	
}

.borederbottom td{
	border-bottom: 1px solid #e0e0e0;
padding: 4px 4px 2px 4px;
}

.newstdscrollbar{
height:215px;
overflow:auto;
overflow-x:hidden;
}

.notificationicon{ /*change*/
	width:38px;
	height:21px;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	background:url(http://www.bseindia.com/include/images/notificationicon.gif) no-repeat;
	text-align:center;
	float: left;
	margin-bottom:5px;
	margin-left:5px;
	padding-top:3px;
	padding-left:3px;	
}

.notificationicon a{ /*change*/
	
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;

}
.notificationicon a:hover{ /*change*/
	
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;

}

.newsrblueheading{
	width:auto;
	float: left;
	margin-top:9px;	
}

.newsrblueheading  h1{ /*change*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #0089D0;
	padding: 0;
	margin: 0;
	text-shadow: none;
	text-align: left;	
}

.newsrsearchshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	margin-bottom:8px;
	float:left;
}



.newsrsearchwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:780px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
}

.srttheadergrey{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	text-transform: none;
	text-decoration: none;
	padding:5px;
	/*background: url(../images/grbghead600.gif) repeat-x;*/
	background-color:#ebebeb;
	height:20px;
}


.newsrincontentwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:780px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding-left:10px;
	padding-right:10px;
}

.redsrtext{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000000;
}

.redtext{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#e60000;	
}

.innertabsr{clear:left;}
.innertabsr li { float:left; list-style:none; font-family:Arial, Helvetica, sans-serif; font-weight:normal; font-size:12px; border-right:1px solid #ffffff;}
.innertabsr li a { display:block; border-right:0px solid #ffffff; font-family:Arial, Helvetica, sans-serif; font-weight:normal; padding:7px;  font-size:12px; background: white url(http://www.bseindia.com/include/images/tabblue.gif) center center repeat-x; color:#ffffff; text-decoration:none; }
.innertabsr li a:hover { background: white url(http://www.bseindia.com/include/images/tabblue.gif) center center repeat-x; font-weight:normal; font-family:Arial, Helvetica, sans-serif; color:#ffffff; font-size:12px;  border-right:0px solid #ffffff; }
.innertabsr li a.selected { background: white url(http://www.bseindia.com/include/images/taborange.gif) center center repeat-x; font-weight:normal; color:#FFF; font-size:12px; border:0px solid #ffffff;}
.nanotabs div { display:none; clear:left;  font-size:12px;}
.nanotabs ul { margin-left: 1px;}

.newsrheadshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	float:left;
	margin-bottom:10px;
}

.newsrheadwhitearea{
	float:left;
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000000;
	width:780px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	padding:10px;
	font-weight:bold;
}

.compareselected{
	width: 200px;
	color:#ffffff;
	height: 25px;
	padding-left: 25px;
    text-indent: -25px;
	background-color: #0089d1;
	font-weight: bold;
}


.newgraphdayarea{
		background:url(http://www.bseindia.com/include/images/dayblue.gif) repeat-x;
		height:33px;	
}

.newsrgreyline{
	border-bottom:1px solid #d6d6d6;
	width:958px;
	height:1px;
	float:left;
	margin-top:4px;
	margin-bottom:4px;	
}

.newcoinfoarea
{
	width:958px;
	float:left;
}


.reserveshadediv{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#000000;
	width:auto;
	height:auto;
	border:1px solid #d6d5d4;
	float:left;
	margin-bottom:10px;
}

.reservewhitearea{
	margin:0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
	color:#000000;
	width:782px;
	height:auto;
	background-color:#ffffff;
	border:1px solid #bebebd;
	float:left;
	padding:9px 9px 7px 9px;
}

.resevedatetex{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#838383;	
}

/*new stock reach*/


/*irbseindia*/


.blackcss

{
           height:15px;vertical-align:middle;font-family:Arial; font-weight:bold; color:#000000; font-size:25px; text-align:right;padding:1px;
        }


 .greencss
        {
           height:15px;vertical-align:middle;font-family:Arial; font-weight:bold; color:#179600; font-size:25px; text-align:right;padding:1px;
        }

		  .greencsssmall
        {
           height:15px;vertical-align:middle;font-family:Arial; color:#ffffff; font-size:12px; text-align:right;padding:1px;background-color:green;
        }
        .redcss
        {
			height:15px;vertical-align:middle;font-family:Arial;  font-weight:bold; color:#de1439; font-size:25px;  text-align:right;padding:1px;
        }

		 .redcsssmall
        {
			height:15px;vertical-align:middle;font-family:Arial; color:white; font-size:12px;  text-align:right;padding:1px;background-color:#de1439;
        }


.tbmainred{height:15px;vertical-align:middle;font-family:Arial; color:#de1439; font-weight:bold; font-size:25px; text-align:right;padding-top:1px; padding-bottom:1px;padding-left:1px;padding-right:1px;}


		.tbmaingreen{height:15px;vertical-align:middle;font-family:Arial; color:green; font-weight:bold; font-size:25px; text-align:right;padding-top:1px; padding-bottom:1px;padding-left:1px;padding-right:1px;}


		.tbmainsmall{height:15px;vertical-align:middle;font-family:Arial; color:#1c355d; font-size:12px; background-color:#ffffff;text-align:right;padding-top:1px; padding-bottom:1px;padding-left:1px;padding-right:1px;}

		.tbmainsmallred{height:15px;vertical-align:middle;font-family:Arial; color:#016091; font-size:15px; background-color:#ffffff;text-align:right;padding-top:1px; padding-bottom:1px;padding-left:1px;padding-right:1px;}

		.tbmainsmallgreen{height:15px;vertical-align:middle;font-family:Arial; color:#016091; font-size:15px; background-color:#ffffff;text-align:right;padding-top:1px; padding-bottom:1px;padding-left:1px;padding-right:1px;}

/*irbseindia*/


/*mkt galaxy*/
.W1 {
	font-size: 11px; color:gray ; font-family: Arial, Helvetica, sans-serif;
}
.W1 a {
	color:gray ; text-decoration: none
}
.W2 {
	font-size: 12px; color:gray; font-family: Arial, Helvetica, sans-serif; font-weight:bold
}
.W2 a {
	color:gray; text-decoration: none
}
.W3 {
	font-size: 13px; color:gray; font-family: Arial, Helvetica, sans-serif; font-weight:bold
}
.W3 a {
	color:gray; text-decoration: none
}
.W4 {
	font-size: 14px; color: gray; font-family: Arial, Helvetica, sans-serif;
}
.W4 a {
	color: gray; text-decoration: none
}
.W5 {
	font-size: 15px; color:gray ; font-family: Arial, Helvetica, sans-serif;
}
.W5 a {
	color: gray; text-decoration: none
}
.W6 {
	font-size: 16px; color:gray ; font-family: Arial, Helvetica, sans-serif;
}
.W6 a {
	color: gray; text-decoration: none
}
.W7 {
	font-size: 17px; color:gray ; font-family: Arial, Helvetica, sans-serif;
}
.W7 a {
	color: gray; text-decoration: none
}

/*mkt galaxy*/


/*slideshow*/
.slideshow {
width: 975px;
background-color: #ffffff;
}

.slideshow ul {
margin: 0;
padding: 0;
list-style-type: none;
height: 1%; /* IE fix */}

.slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;}            

.slideshow .slides {
overflow: hidden;
width: 975px;
}

.slideshow .slides-nav {
	background:url(http://www.bseindia.com/include/images/tabblue.gif) repeat-x;
	font-size:12px;
	color:#ffffff;
}

.slideshow .slides-nav li {
float: left;
font-size:14px;
font-weight:bold;
color:#ffffff;
text-decoration:none;
}

.slideshow .slides-nav li a {
display: block;
padding: 8px 7px;
outline: none;
font-size:14px;
font-weight:bold;
color:#ffffff;
text-decoration:none;
}

.js .slideshow .slides-nav li.on,
.js .slideshow .slides-nav li.on a {
background:url(http://www.bseindia.com/include/images/taborange.gif) repeat-x;
height:30px;
color:#ffffff;
}

.js .slideshow .slides-nav li.on a {
position: relative;
}

/*slideshow*/


.oarangegobutton{
	background:#ee7a1c;
	border:1px solid #ffffff;
	padding:2px;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:40px;
	cursor:pointer;	
}

.oarangegobutton a {   
	background-color: LightGrey;
	border: solid 1px;
	border-color: #99f #039 #039 #99f;
	color: #cc6633;
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 3px;
	text-decoration: none;
	text-align: center;
	line-height: 1.5;
	width: 12em;
	float: left;
	margin-right: 2px;
}

.oarangegobutton:hover
{   background-color: #ee7a1c; color: white;}

.oarangegobutton:active {   
	border: solid 1px;
	border-color: #039 #99f #99f #039;
	letter-spacing: normal;
}


/*collapse Contact Page*/

.col {
  width: 780px;
  float: left;
  margin-right:32px;
  margin-bottom: 16px;
}
.c3 {
  margin-right:0;
}

h2 {
  margin: 10px 0;
  color: #000;
  font-size: 18px;

}

h3 {
  margin: 0;
  background-color: rgb(9,95,143);
  background-image: linear-gradient(bottom, rgb(1,122,185) 14%, rgb(9,95,143) 57%);
  background-image: -o-linear-gradient(bottom, rgb(1,122,185) 14%, rgb(9,95,143) 57%);
  background-image: -moz-linear-gradient(bottom, rgb(1,122,185) 14%, rgb(9,95,143) 57%);
  background-image: -webkit-linear-gradient(bottom, rgb(1,122,185) 14%, rgb(9,95,143) 57%);
  background-image: -ms-linear-gradient(bottom, rgb(1,122,185) 14%, rgb(9,95,143) 57%);
}

h3 a {
  background: url("http://www.bseindia.com/include/images/newarrow_sprit.png") 15px 13px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color: #fff;
  text-decoration: none!important;
  font-weight: normal;
  margin-bottom:1px;

}
h3:hover { background: rgb(0,155,235); 

}
h3.open  { background: rgb(168,66,16);

}
h3.open a { background-position: 13px -25px; 

}
h3 + div { padding: 10px;
 }
 
h2 + div,
.example {
  background: #fff;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 20px;
}

/* Pre hide sections with JavaScript on
--- */
h3+div {
  display: none;
}

/* CSS3 Animation example--- */
#css3-animated-example h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example--- */

/* CSS3 Animation example1--- */
#css3-animated-example1 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example1 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example1--- */



/* CSS3 Animation example2--- */
#css3-animated-example2 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example2 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example2--- */



/* CSS3 Animation example3--- */
#css3-animated-example3 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example3 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example3--- */


/* CSS3 Animation example4--- */
#css3-animated-example4 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example4 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example4--- */


/* CSS3 Animation example5--- */
#css3-animated-example5 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example5 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example5--- */


/* CSS3 Animation example6--- */
#css3-animated-example6 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example6 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example6--- */

/* CSS3 Animation example7--- */
#css3-animated-example7 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example7 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example7--- */

/* CSS3 Animation example8--- */
#css3-animated-example8 h3 + div {
  height: 0px;
  padding: 0px;
  overflow: hidden;
  display: block!important;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.3s ease;
  moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition: all 0.3s ease;
}

#css3-animated-example8 h3.open + div {
  height: auto;
  background: #ffffff;
}

/* CSS3 Animation example8--- */


/*for new streamer*/

	.sensexstreamul{
			float:left;
		}
	
	.bluetabforstramer{
		font-family: Arial, Helvetica, sans-serif;
		background: url(http://www.bseindia.com/include/images/tabblue.gif) center center repeat-x;
		font-size: 12px;
		text-decoration: none;

	}
	
	 .steramorangeselected{
		font-family: Arial, Helvetica, sans-serif;
		background: url(http://www.bseindia.com/include/images/taborange.gif) center center repeat-x;
		font-size: 12px;
		text-decoration: none;

	}
	
	.steramorangeselected a{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#ffffff;
		text-decoration: none;

	}
	
	.steramorangeselected a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#ffffff;
		text-decoration: none;

	}
	
	.bluetabforstramer a{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#ffffff;
		text-decoration: none;

	}
	
	.bluetabforstramer a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color:#ffffff;
		text-decoration: none;

	}
	
	/*for new streamer*/


/*collapse Contact Page*/
