*:focus{outline:0;}

.maintabarea{
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;
 width:315px; 
 height: 229px; 
 padding: 5px; 
 margin-bottom:1em;
}

.maintabareaind{
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;
 width:315px; 
 height: 229px; 
 padding: 5px; 
 margin-bottom:1em;
}

.maintabareaquote{
 width:335px; 
 padding: 5px 0px 5px 0px; 
 margin-bottom:1em;
 margin-top:-5px;
}

.maintabareaequity{/*new index change*/
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;
 width:324px; 
 height: 180px; 
 padding: 5px 0px 5px 0px; 
 margin-bottom:1em;
 margin-top:-5px;
}

.maintabareamarket{
 width:780px; 
 height: 180px; 
 padding: 5px 0px 5px 0px; 
 margin-bottom:3px;
 margin-top:-5px;
}

.srmaintabarea{
 width:278px; 
 height: 242px; 
 padding: 5px 0px 5px 0px; 
 margin-bottom:3px;
 margin-top:-5px;
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;
 border-bottom:1px solid #d6d6d6;
}


.maintabareaderi{
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;
 width:303px; 
 height: 180px; 
 padding: 5px 0px 5px 0px;  
 margin-bottom:1em;
 margin-top:-5px;
}

.maintabneweq{/*new index change*/
 width:525px; 
 padding: 5px 0px 5px 0px;  
 margin-bottom:1em;
 margin-top:-5px;
}



.maintabmarketstat{/*new index change*/
 width:525px; 
 padding: 5px 0px 5px 0px;  
 margin-bottom:1em;
 margin-top:-5px;
}



.indentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 330px; 
}

.indentmenu ul{
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
/*background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#0089d1;
height:30px;
font-size:12px;
text-decoration: none
}

.indentmenu ul li{
display: inline;
font-size:12px;
text-decoration: none
}

.indentmenu ul li a{
float: left;
color: white;
text-align:center; 
text-decoration: none;
height:30px;
font-size:12px;
padding-top:6px;
}

.indentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none
}

.indentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
/*background: url(../images/tabbluehover.gif) center center repeat-x;*/
background-color:#005c8c;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none
}



<!--forequity-->



.equityindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 330px; 
}


.equityindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/ 
/*background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#0089d1;
height:30px;
font-size:12px;
text-decoration: none;
}

.equityindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
width:324px;
text-decoration: none;
}

.equityindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
text-align:center;
text-decoration: none;
height:25px;
font-size:12px;
padding-top:6px;
}

.equityindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
}

.equityindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
/*background: url(../images/tabbluehover.gif) center center repeat-x;*/
background-color:#005c8c;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;
}


<!--forequity-->




<!--forgetquote-->



.quoteindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}


.quoteindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: right;
/* width: 80%; width of menu*/ 
background: white url(../images/tabblue.gif) center center repeat-x;*/
/*background-color:#0089d1;*/
height:30px;
font-size:12px;
text-decoration: none;
}

.quoteindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
width:335px;
text-decoration: none;
}

/*new index change*/
.quoteindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
text-align:center;
text-decoration: none;
height:22px;
font-size:12px;
padding-top:8px;
}

.quoteindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
text-align:right;
float:right;
}

/*new index change*/
.quoteindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-7px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;
/*background-color:#005c8c;*/
height:18px;
/*padding-top:15px;*/
font-size:12px;
text-decoration: none;
border:none;
}


<!--forgetquote-->




<!--formarkettab-->



.marketindentmenu{
font-family:Arial, Helvetica, sans-serif;
width: 330px; 
font-size:12px;
}

.markettabmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 780px; 
}

.marketindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid white; 
/*background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#0089d1;
height:30px;
font-size:12px;
}

.marketindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
}

.marketindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
padding: 6px 29px;
text-decoration: none;
border-right: 1px solid white;
height:18px;
font-size:12px;
}

.marketindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
}

.marketindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
/*background: url(../images/tabbluehover.gif) center center repeat-x;*/
background-color:#005c8c;
height:20px;
/*padding-top:11px;*/
font-size:12px;
}


<!--formarkettab-->



<!--forsotockreachtab-->


.srindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 281px; 
}

.srindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
border-top: 1px solid white; 
/*background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#0089d1;
height:30px;
font-size:12px;
}

.srindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
}

.srindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
padding: 6px 21px;
text-decoration: none;
border-right: 1px solid white; 
height:18px;
font-size:12px;
}

.srindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
}

.srindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
/*background: url(../images/tabbluehover.gif) center center repeat-x;*/
background-color:#005c8c;
height:20px;
/*padding-top:11px;*/
font-size:12px;
}



<!--forsotockreachtab-->


<!--forderivatives-->


.derivaindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 297px; 
}

.derivaindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
/*background: white url(../images/taborange.gif) center center repeat-x;*/
background-color:#ef7a1b;
height:30px;
font-size:12px;
text-decoration: none;
}

.derivaindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
text-decoration: none;
}

.derivaindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; 
text-decoration: none;
height:25px;
font-size:12px;
padding-top:6px;
text-align:center;
}

.derivaindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
}

.derivaindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
/*background: url(../images/taborangehover.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;

}


<!--forderivatives-->




<!--forindustrywatch-->

.indindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 330px; 
}

.indindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
/*background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#0089d1; 
height:30px;
font-size:12px;
text-decoration: none
}

.indindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
text-decoration: none
}

.indindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white;
text-align:center; 
text-decoration: none;
height:30px;
font-size:12px;
padding-top:6px;
}

.indindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none
}

.indindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
/*background: url(../images/tabbluehover.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none
}



<!--forindustrywatch-->



<!--forwindowtab-->



.maintabwindowtab{
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;
 width:324px; 
 height: 180px; 
 padding: 5px 0px 5px 0px; 
 margin-bottom:1em;
 margin-top:-5px;
}


.windowtabidentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 976px;
color:#000000; 
}


.windowtabidentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/ 
background: url(../images/wdtabbg.gif) center center repeat-x;
height:45px;
font-size:15px;
font-weight:bold;
text-decoration: none;
}

.windowtabidentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:15px;
font-weight:bold;
width:324px;
text-decoration: none;
}

.windowtabidentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
text-align:center;
text-decoration: none;
height:45px;
font-size:15px;
font-weight:bold;
padding-top:15px;
}

.windowtabidentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:15px;
font-weight:bold;
text-decoration: none;
}

.windowtabidentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
background: url(../images/windowbghover.gif) center center repeat-x;
height:30px;
padding-top:15px;
font-size:15px;
font-weight:bold;
text-decoration: none;
border: 0px solid lightGrey;
}


<!--forwindowtab-->




<!--forneweqindentmenu-->  


.neweqindentmenu{ /*new index change*/
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
width: 525px; 
}

.neweqindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#ef7a1b;
height:30px;
font-size:14px;
text-decoration: none;
}

.neweqindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:14px;
text-decoration: none;
}

.neweqindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; 
text-decoration: none;
height:25px;
font-size:14px;
padding-top:6px;
text-align:center;
}

.neweqindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:14px;
text-decoration: none;
}

.neweqindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:14px;
text-decoration: none;

}


<!--forneweqindentmenu-->






<!--fornewstatsindentmenu--> 
 

.newstatsindentmenu{ /*new index change*/
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
width: 525px; 
}

.newstatsindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#ef7a1b;
height:30px;
font-size:14px;
text-decoration: none;
}

.newstatsindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:14px;
text-decoration: none;
}

.newstatsindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; 
text-decoration: none;
height:25px;
font-size:14px;
padding-top:6px;
text-align:center;
}

.newstatsindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:14px;
text-decoration: none;
}

.newstatsindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:14px;
text-decoration: none;

}


<!--forneweqindentmenu-->



<!--newmarktstatindentmenu-->  


.newmarktstatindentmenu{ /*new index change*/
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
width: 525px; 
}

.newmarktstatindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#ef7a1b;
height:30px;
font-size:14px;
text-decoration: none;
}

.newmarktstatindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:14px;
text-decoration: none;
}

.newmarktstatindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; 
text-decoration: none;
height:25px;
font-size:14px;
padding-top:6px;
text-align:center;
}

.newmarktstatindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:14px;
text-decoration: none;
}

.newmarktstatindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:14px;
text-decoration: none;

}


<!--newmarktstatindentmenu-->



<!--newsrindentmenu-->



.newsrindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width: 295px; 
}


.newsrindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/ 
background: url(../images/tabblue.gif) center center repeat-x;*/
height:30px;
font-size:12px;
text-decoration: none;
}

.newsrindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
width:324px;
text-decoration: none;
}

.newsrindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
text-align:center;
text-decoration: none;
height:25px;
font-size:12px;
padding-top:8px;
}

.newsrindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
}

.newsrindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
background: url(../images/taborange.gif) center center repeat-x;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;
border:0px solid;
}


<!--newsrindentmenu-->


<!--peerindentmenu-->



.peerindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;.
width:770px;
}


.peerindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/ 
background: white url(../images/tabblue.gif) center center repeat-x;
background-color:#0089d1;
height:30px;
font-size:12px;
text-decoration: none;
}

.peerindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
text-decoration: none;
}

.peerindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
text-align:center;
text-decoration: none;
height:25px;
font-size:12px;
padding-top:6px;
}

.peerindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
}

.peerindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;
background-color:#005c8c;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;
border:0px;
}


<!--peerindentmenu-->



<!--mtwindentmenu-->



.mtwindentmenu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;.
width:770px;
}


.mtwindentmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/ 
background: white url(../images/tabblue.gif) center center repeat-x;
background-color:#0089d1;
height:30px;
font-size:12px;
text-decoration: none;
}

.mtwindentmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
text-decoration: none;
}

.mtwindentmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; /*text color*/
text-align:center;
text-decoration: none;
height:25px;
font-size:12px;
padding-top:6px;
}

.mtwindentmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
}

.mtwindentmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;
background-color:#005c8c;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;
border:0px;
}



<!--mtwindentmenu-->





<!--ivvolumetopmenu-->

.maintabnewivvolume{/*new index change*/
 width:268px; 
 padding: 5px 0px 0px 0px;  
 margin-bottom:1em;
 margin-top:-5px;
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;

}

.ivvolumetopmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#ef7a1b;
height:30px;
font-size:12px;
text-decoration: none;
}

.ivvolumetopmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
text-decoration: none;
}

.ivvolumetopmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; 
text-decoration: none;
height:25px;
font-size:12px;
font-weight:bold;
padding-top:6px;
text-align:center;
}

.ivvolumetopmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
font-weight:bold;
}

.ivvolumetopmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;
font-weight:bold;
border: 0px solid lightgrey;
}

<!--ivvolumetopmenu-->






<!--ivvolumetopmenu-->

.maintabnewivann{/*new index change*/
 width:365px; 
 padding: 5px 0px 0px 0px;  
 margin-bottom:1em;
 margin-top:-5px;
 border-left:1px solid #d6d6d6;
 border-right:1px solid #d6d6d6;

}

.ivannboxmenu ul{
font-family:Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
float: left;
/* width: 80%; width of menu*/
background: white url(../images/tabblue.gif) center center repeat-x;*/
background-color:#ef7a1b;
height:30px;
font-size:12px;
text-decoration: none;
}

.ivannboxmenu ul li{
font-family:Arial, Helvetica, sans-serif;
display: inline;
font-size:12px;
text-decoration: none;
}

.ivannboxmenu ul li a{
font-family:Arial, Helvetica, sans-serif;
float: left;
color: white; 
text-decoration: none;
height:25px;
font-size:12px;
font-weight:bold;
padding-top:6px;
text-align:center;
}

.ivannboxmenu ul li a:visited{
font-family:Arial, Helvetica, sans-serif;
color: white;
font-size:12px;
text-decoration: none;
font-weight:bold;
}

.ivannboxmenu ul li a.selected{
font-family:Arial, Helvetica, sans-serif;
color: white !important;
/*margin-top:-5px;*/
padding-bottom: 4px;
background: url(../images/taborange.gif) center center repeat-x;*/
background-color:#9c5012;
height:20px;
/*padding-top:11px;*/
font-size:12px;
text-decoration: none;
font-weight:bold;
border: 0px solid lightgrey;
}

<!--ivvolumetopmenu-->




.tabcontentstyle{ 
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}