@charset "gb2312";

/* 

PChome front group public style, applicable to all channel page.

Write the date 2014-01-07. Name: global.css-2014.1.10

PChome front-end group LTD. All rights reserved.

*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,button,input,textarea,th,td{padding:0px; margin:0px; border:none;}

a{ color:#333; text-decoration:none;}
a:visited { }
a:active, a:hover { text-decoration:none;}
a:focus,input:hover,button:hover,input[type='button']:hover{ outline:none;}
i, em, cite { font-style: normal; }
li{ vertical-align:bottom; overflow:hidden; list-style-type:none;}
body, button, input, select, textarea{ font:14px/1.5em tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;}

/* 超出隐藏 */
.overflow{ overflow:hidden;}        
		          
/* float */
.fl{ float: left; }
.fr{ float: right;}

/* The default style of the mouse */
.cursor{cursor:pointer;}

/* iE6 固定定位闪动 */
*html{ background-image:url(about:blank); background-attachment:fixed; }  

/* 图片自适应调整 并去除IE6下底部空白*/
img{ max-width:100%;border: 0 none; vertical-align: top;}

/* 文字居中 */
.txt-center{ text-align:center;}
.txt-left{ text-align:left;}
.txt-right{ text-align:right;}
.txt-justify{ text-align:justify;}

/* 自动换行 */
.word-auto{word-wrap: break-word;word-break: normal;}

/* 自动居中 */
.mg-auto{ margin-left:auto; margin-right:auto;}

/* Container-width: 960 980 1000 1200 */
.container-960{ width:960px; position:relative;}
.container-980{ width:980px; position:relative;}
.container-1000{ width:1000px; position:relative;}
.container-1200{ width:1200px; position:relative;}

/* margin */
.mg-b10{ margin-bottom:10px;}.mg-b15{ margin-bottom:15px;}.mg-b20{ margin-bottom:20px;}.mg-b30{ margin-bottom:30px;}

/* clearfix */  
.clearfix:after{ visibility: hidden;display: block;font-size: 0;content:" ";clear: both;height: 0;}
.clearfix{ *zoom:1;}

/* transtion-Hover */
.tianstion{ transition:all ease 0.3s; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s;}

/*  广告角标2016-08-17  */
.mod_banner{display:block;position:relative;overflow:hidden;}
.mod_banner .banner_fix_inner{width:29px;height:16px;position:absolute;bottom:0;left:0;z-index:99999;background:url(http://images.pchome.net/global/ad/ad_fix_2016/ad_tip_2016.png) no-repeat;overflow:hidden;}