*{
    font-family: "Microsoft YaHei";
}
.a-hover a{
    transition:all ease 0.3s; -moz-transition:all ease 0.3s; -ms-transition:all ease 0.3s; -o-transition:all ease 0.3s; -webkit-transition:all ease 0.3s;
}
a:hover{
    color: red !important;
}
.img-hover a img{
    transition:all linear 0.4s; -moz-transition:all linear 0.4s; -ms-transition:all linear 0.4s; -o-transition:all linear 0.4s; -webkit-transition:all linear 0.4s;
}
.img-hover a img:hover{
    transform:scale(1.06);
    -webkit-transform:scale(1.06);
    -moz-transform:scale(1.06);
    -o-transform:scale(1.06);
    -ms-transform:scale(1.06);
}
.color-red{
    color: #ff3333 !important;
}
.container-1000{
    margin: 0 auto;
}
.top-top{
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    text-align: right;
    line-height: 30px;
    border-top: 1px solid #ececfb;
    border-bottom: 2px solid #ececfb;
    background-color: #fafafa;
}
.top-top p{
    float: left;
    margin: 2px 0 0 10px;
    font-size: 12px;
    color: #666666;
}
.top-top span{
    margin-left: 10px;
    font-size: 12px;
    color: #666666;
}
.top-top span a{
    margin: 0 2px;
}
.top-top span .enter{
    color: #09f;
}
.nav-top{
    position: relative;
    z-index: 5;
    height: 80px;
}
.nav-top h1{
    float: left;
    width: 136px;
    height: 80px;
    background: url("../img/logo.png") top no-repeat;
}
.nav-top h1 a{
    width: 136px;
    height: 80px;
    display: block;
}
.nav-list{
    float: left;
    margin:20px 0 0 36px ;
}
.nav-list a{
    float: left;
    width: 99px;
    height: 40px;
	margin-right: 20px;
    line-height: 40px;
    text-indent: 43px;
    display: block;
}
.nav-list .a1{
	width: 85px;
    background: url("../img/pic-01.png") left 50% no-repeat;
}
.nav-list .a2{
    background: url("../img/pic-02.png") left 50% no-repeat;
}
.nav-list .a3{
    background: url("../img/pic-03.png") left 50% no-repeat;
}
.nav-list .a4{
	background: url("../img/pic-11.png") left 50% no-repeat;
	margin-right: 0;
}

#search-form {
    float: right;
    margin-top: 24px;
    position: relative;
    display: block;
    width: 360px;
    height: 35px;
    z-index: 33;
    background: url("../img/search.png") center no-repeat;
}

#search-class-box {
    float: left;
    position: relative;
    margin-top: 1px;
    width: 81px;
    height: 33px;
}
#search-class {
    display: block;
    width: 79px;
    line-height: 33px;
    height: 33px;
    overflow: hidden;
    position: absolute;
}
#search-class .the-1st {
    background-image: url("../img/po-dn.png");
    background-position: 80% center;
    background-repeat: no-repeat;
}

#search-class .the-1st:hover {
    background-position: 80% center;
    background-repeat: no-repeat;
    background-image: url("../img/po-up.png");
}
#search-class li {
    display: none;
    height: 33px;
    cursor: pointer;
    text-align: center;
}
#search-class .cur {
    display: block;
    border: 0;
    width: 81px;
}
#search-form .current li {
    width: 79px;
    height: 33px;
    border: #ddd solid 1px;
    border-top: 0;
    background: white;
}
#search-form .current :hover {
    color: red;
}
#kword {
    margin-top: 1px;
    display: block;
    border: none;
    overflow: hidden;
    width: 184px;
    *width: 182px;
    height: 33px;
    line-height: 33px;
    *height: 30px;
    *line-height:30px;
    float: left;
    color: #999;
    padding: 0 15px;
}
#search_btn {
    margin-top: 1px;
    display: block;
    width: 62px;
    height: 33px;
    float: right;
    background: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
.nav-main{
    position: relative;
    z-index: 2;
    margin: 20px 0 5px 0;
}
.nav-block{
    float: left;
    margin-left: 15px;
}
.nav-main .block-1st{
    margin-left: 0;
}
.a-block{
    float: left;
    width: 60px;
    height: 80px;
    display: block;
    text-align: center;
}
.a-block img{
    position: relative;
}
@keyframes buzz-out {
    0% {
        transform:translateY(3px);
        -webkit-transform: translateY(3px);
        -moz-transform:translateY(3px);
        -o-transform:translateY(3px);
        -ms-transform:translateY(3px);
    }
    25% {
        transform:translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform:translateY(-3px);
        -o-transform:translateY(-3px);
        -ms-transform:translateY(-3px);
    }
    50% {
        transform:translateY(2px);
        -webkit-transform: translateY(2px);
        -moz-transform:translateY(2px);
        -o-transform:translateY(2px);
        -ms-transform:translateY(2px);
    }
    100% {
        transform:translateY(-2px);
        -webkit-transform: translateY(-2px);
        -moz-transform:translateY(-2px);
        -o-transform:translateY(-2px);
        -ms-transform:translateY(-2px);
    }
}
.a-block:hover img{
    animation: buzz-out 0.35s linear 1;
    -webkit-animation: buzz-out 0.35s linear 1;
    -moz-animation: buzz-out 0.35s linear 1;
    -o-animation: buzz-out 0.35s linear 1;
    -ms-animation: buzz-out 0.35s linear 1;
}

.a-block p{
    position: relative;
    width: 60px;
    height: 20px;
    font-size: 13px;
    color: red;
    overflow: hidden;
}

.a-list{
    float: left;
    margin-left: 7px;
}
.a-list li{
    line-height: 24px;
}
.a-list li a{
    font-size: 13px;
    padding: 0 2px;
    white-space: nowrap;/*本地更新2016/6/16*/
}
.ad{
    position: relative;
    margin: 10px auto;
    width: 1000px;
}

.ad-1,.ad-2,.ad-3,.ad-4{
    float: left;
    margin-left: 20px;
    width: 235px;
}
.container-1000 .ad-1{
    margin-left: 0;
}
.ad-p{
    float: left;
    position: relative;
    margin-top: 12px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}
.ad-p a{
    line-height: 30px;
    font-size: 13px;
}

/*焦点图和今日头条*/
.part-1st{
    margin-top: 31px;
    padding: 10px 9px;
    width: 980px;
    border: 1px solid #ccc;
}
.pic-left{
    float: left;
}
.pic-show{
    position: relative;
    width: 640px;
    height: 335px;
}
.pic-box{
    float: left;
    position: relative;
    width: 640px;
    height: 300px;
    overflow: hidden;
}
.pic-box .pic-a{
    position: absolute;
    width: 640px;
    height: 300px;
    display: none;
}
.pic-box #pic-1st{
    display: block;
}
.pic-box .pic-a span{
    background-size: 640px 300px!important;
}
.pic-box a img{
    width: 100%;
    height: 100%;
}

.p-box{
    float: left;
    padding: 12px 5px 0 15px;
    width: 395px;
    height: 22px;
}
.p-box p{
    position: absolute;
    width: 435px;/*2016/6/15更新 p长度 原300*/
    height: 22px;
    overflow: hidden;
    background-color: white;
    line-height: 22px;
    display: none;
}
.p-box .p-1st{
    display: block;
}
.p-box p a{
    font-size: 16px;
    color: #999;
}
.p-box p span{
    padding-left: 6px;
}
.p-box p span a{
    color: #333;
}
.btn{
    float: right;
    display: inline;
    margin-top: 13px;
    margin-right: 35px;
}
.btn li{
    float: left;
    width: 15px;
    height: 20px;
    background: url("../img/po-bg2.png") center no-repeat;
    cursor: pointer;
}
.btn li.change-color{
    background: url("../img/po-bg1.png") center no-repeat;
}
.txt-right{
    float: left;
    margin-left: 26px;
    position: relative;
    width: 310px;
}
.txt-right h3{
    position: absolute;
    top: -20px;
    left: -10px;
    width: 120px;
    height: 30px;
    text-align: center;
    font:400 24px SimHei;
    color: #09f;
    background: white;
}
.txt-p{
    position: relative;
    margin-top: 16px;
    width: 310px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
}
.txt-p a{
    font-weight: 700;
    font-size: 18px;
    color: #d92020;
}
.txt-a{
    position: relative;
}
.txt-a a{
    float: left;
    margin:0 10px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-family: SimSun;
    font-size: 13px;
    overflow: hidden;
}
.a-left{
    text-align: right;
}
.a-right{
    text-align: left;
}
.txt-news{
    width: 310px;
}
.txt-news li{
    height: 34px;
    line-height: 34px;
}

.txt-right .txt-news li{
    height: 31px;
    line-height: 31px;
}
.txt-news li span{
    float: left;
}
.txt-news li span a{
    font-size: 14px;
    color: #999;
}

.txt-news li p{
    float: left;
    position: relative;
    width: 271px;  /*2016/6/7更新 原width: 270px; */
    height: 30px;
    overflow: hidden;
    text-indent: 15px;
    text-align: left;
}
.txt-news li p a{
    font-size: 14px;
    color: black;
}
/*产品报价，智能移动，智能生活。。。*/
.part-2nd{
    margin-top: 15px;
}
.product-left{
    float: left;
    width: 310px;
}
.left-one{
    width: 310px;
}
.h4-sty{
    line-height: 58px;
    font-size: 20px;
    font-weight: 400;
    color: #09f;
}
.pro-content{
    position: relative;
    _overflow: hidden;
    width: 306px;
    border: 2px solid #e4e4e4;
    z-index: 2;
}
.pro-menu{
    float: left;
    width: 100px;
}
.pro-menu li{
    margin-bottom: 2px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-indent: 21px;
    background: #f2f2f2;
    cursor: pointer;
}
.pro-menu li.change-bg{
    border-left: 2px solid #09f;
    margin-left: -2px;
    z-index: 3;
    background-color: white;
}
.pro-menu li a{
    width: 100%;
    height: 100%;
    display: block;
}
.pro-list-box{
    float: left;
    position: relative;
    margin:17px 16px 0 20px;
    width: 170px;
    height: 359px;
    overflow: hidden;
}
/*2016/6/15更新开始*/
.pro-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 355px;
    display: none;
    background-color: white;
}
.pro-list-box .pro-1st{
    display: block;
}
.pro-img{
    margin-bottom: 13px;
    display: block;
    overflow: hidden;
}
.pro-img img{
    width: 170px;
    height: 115px;
}
.pro-name{
    width: 170px;
    overflow: hidden;
    margin-top: 9px;
    line-height: 25px;
}
/*2016/6/15更新结束*/
.pro-name span{
    float: left;
    display: block;
    font-size: 14px;
    color: #a9a9a9;
}
.pro-name a{
    float: left;
    margin: 0 2px;
    display: block;
    font-size: 14px;
    color: #333;
    white-space: nowrap;/*本地更新2016/6/16*/
}

.pro-pic{
    float: left;
    width: 306px;
    margin-top: 28px;
    _margin-left:-10px;/*ie6 hack*/
}
.pro-pic-hd{
    position: relative;
}
.pro-pic h5{
    float: left;
    margin-top: 7px;
    margin-left: 16px;
    font-size: 17px;
    font-weight: 400;
    color: #09f;
}
.pro-btn{
    float: right;
    margin: 12px 15px 0 0;
}

.pro-btn li{
    float: left;
    width: 12px;
    height: 12px;
    border: solid 1px white;
    cursor: pointer;
    background: url("../img/po-bg2.png") center no-repeat;
    _background: url("../img/po-bg2.png") center top no-repeat;
}
.pro-btn li:hover{
    border: solid 1px #09f;
}
.pro-btn li.ch-po{
    background: url("../img/po-bg1.png") center no-repeat;
    _background: url("../img/po-bg1.png") center top no-repeat;
}
.pro-pic-box{
    float: left;
    width: 306px;
}
.pro-show{
    position: relative;
    width: 306px;
    background: white;
    display: none;
}
.pro-pic-box .show-1st{
    display: block;
}
/*2016/6/13更新开始*/
.pro-apic a{
    float: left;
    position: relative;
    margin:19px 5px 0 14px ;
    width: 126px;
    height: 136px;
    display: block;
    overflow: hidden;
}
.pro-apic a img{
    width: 126px;
    height: 100px;
}
.pro-apic a h4{
    position: relative;
    width: 126px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
}
/*2016/6/13更新结束*/
.pro-ptxt{
    float: left;
    margin:6px 0 9px 20px;
}
.pro-p{
    position: relative;
    width: 280px;
    height: 34px;
    line-height: 34px;
    background: url("../img/po-pbg.png") left no-repeat;
    overflow: hidden;
}
.pro-p a{
    margin-left: 15px;
    font-size: 14px;
    color: #333;
}
.left-two{
    width: 306px;
    margin-top: 15px;
}
.left-two .h4-sty{
    margin-bottom: 3px;
}
.pro-app{
    width: 336px;
    margin-left: -30px;
}

.pro-app li{
    float: left;
    padding-left: 30px;/*2016/6/14更新 原margin-left*/
}
.pro-app a{
    position: relative;
    margin-bottom: 13px;
    width: 80px;
    height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
}
.pro-app a img{
    width: 60px;
    height: 60px;
}
.pro-app a p{
    position: relative;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}
.mobile-middle{
    float: left;
    width: 320px;
    margin-left:30px;
}
.mobile-news{
    position: relative;
    width: 320px;
    margin-bottom: 6px;
}
.mob-p{
    position: relative;
    margin-bottom: 9px;
    width: 320px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
}
.mob-p a{
    font-weight: 700;
    font-size: 18px;
    color: #333;
}
.h4-red{
    margin-top: -8px;
}
.h4-red .h4-sty{
    color: #ff3333;
}
.h4-green{
    margin-top: -1px;
}
.h4-green .h4-sty{
    color: #66cc00;
}
.life-right{
    float: left;
    margin-left: 28px;
    width: 312px;
}
.life-picshow{
    margin-bottom: 10px;
}
.life-pic{
    position: relative;
    margin-top: -6px;
    width: 300px;
    height: 245px;
    padding: 5px;
    border: 1px solid #ccc;
}
.life-show-top .life-pic{
    margin-top: 0;
}
.life-pic a{
    position: relative;
    width: 300px;
    height: 245px;
    display: block;
    overflow: hidden;
}
.life-pic a img{
    width: 300px;
    height: 200px;
}
.life-pic a p{
    width: 300px;
    height: 45px;
    line-height:45px ;
    font-size: 16px;
    text-align: center;
    background-color: white;
}
.pic-toshow a img:hover{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
}
.pic-boder{
    position: relative;
    width: 310px;
    border: 1px solid #ccc;
}
.life-pic-box{
    position: relative;
    margin: 5px;
    width: 300px;
    height: 245px;
    overflow: hidden;
}
.life-pic-box .pic-toshow{
    position: relative;
    left: -300px;
    height: 245px;
}

.life-pic-box .pic-toshow a p{
    width: 300px;
    height: 45px;
    line-height:45px ;
    font-size: 16px;
    text-align: center;
    background-color: white;
}

.life-pic-box .pic-toshow a{
    float: left;
    width: 300px;
    height: 245px;
    display: block;
}
.life-pic-box .pic-toshow a img{
    width: 300px;
    height: 200px;
}

.pic-btn-show .btn-sty{
    position: absolute;
    height: 51px;
    width: 26px;
    z-index: 4;
    display: none;
}
.pic-btn-show .btn-prev{
    left: 0;
    top: 70px;
    background: url("../img/btn-left.png") center no-repeat;
}
.pic-btn-show .btn-next{
    right: 0;
    top: 70px;
    background: url("../img/btn-right.png") center no-repeat;
}
.part-3rd,.part-4th,.part-5th,.part-6th,.part-7th{
    margin: 20px auto 27px auto;
}
.part-8th,.part-10th{
    margin-top: 20px;
}
/*智能移动，笔记本，影像行摄，数字家电，硬件中心*/
.hd-nav{
    float: left;
    width: 1000px;
    height: 44px;
    border-bottom: 2px solid #0099ff;
}
.h3-sty{
    float: left;
    font-weight: 400;
    line-height: 40px;
    font-size: 24px;
    color: #333;
}
.hot-nav{
    float: right;
    margin-top: 13px;
}
.hot-nav li{
    float: left;
    margin: 0 4px;
    overflow: hidden;
}
.hot-nav li a{
    font-size: 12px;
    color: #666;
}
.more{
    color: #ff3333;
}
.hot-left{
    float: left;
    width: 300px;
}
.hot-left .h4-sty{
    line-height: 48px;
    margin-top: -7px;
}
.hot-right .h4-sty{
    line-height: 48px;
    margin: -7px 0 6px 0;
}
/*2016/6/13更新开始*/
.hot-pro{
    width: 295px;
    margin-left: 5px;
    background: url("../img/list.png") left center no-repeat;
}
.hot-pro li{
    position: relative;
    width: 295px;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
}
.hot-pro li a{
    float: left;
    position: relative;
    width: 230px;
    height: 33px;
    display: block;
    text-indent: 26px;
    font-size: 13px;
    line-height: 33px;
    overflow: hidden;
}
.hot-pro li em{
    float: left;
    position: relative;
    width: 62px;
    height: 33px;
    overflow: hidden;
    text-align: left;
    color: #eb7000;
}
.hot-right{
    float: right;
    width: 674px;
}
.hot-right-news{
    position: relative;
    width: 674px;
}
.hot-right-pic{
    float: left;
    margin-top: 10px;
}
.hot-right-pic a{
    float: left;
    position: relative;
    margin-left: 29px;
    width: 146px;
    height: 116px;
    display: block;
    overflow: hidden;
}
.hot-right-pic .hot-pic-1st{
    margin-left: 0;
}
.hot-right-pic a img{
    width: 146px;
    height: 116px;
}
/*2016/6/13增加 e-diy*/
.e-diy{
    height:310px;
    overflow:hidden;
}
.e-diy li{
    height:51px;
    border-bottom:#ddd dotted 1px;
    line-height:50px;
    text-align:right;
    padding-right:5px;
}
.e-diy li .fl{
    width:55px;
    margin-top:5px;
}
.e-diy li .fl img{
    width: 55px;
    height: 45px;
}
.e-diy li a{
    padding:0 3px;
}
.e-diy li a em{
    float:left;
    display:block;
    margin-left: 30px;
    width:60px;
    height:50px;
    font-family:tahoma,arial,'Hiragino Sans GB','microsoft yahei',sans-serif;
    font-size:14px;
    text-align: center;
}
/*软件下载-8th*/
.part-8th-left{
    float: left;
    width: 650px;
}
.app-download{
    width: 650px;
}
.app-nav{
    float: left;
    margin-left: 20px;
}
.app-nav a{
    float: left;
    margin-top: 10px;
    padding: 0 20px;
    /*width: 82px;*/
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #09f;
    display: block;
    text-align: center;
    border-top: 1px solid #c8dcf2;
}
.app-nav .ch-boeder{
    border-top: 2px solid #09f;
}
.app-download .more{
    float: right;
    margin: 16px 9px 0 0;
}
.app-list-box{
    position: relative;
    margin: 25px 0 21px 0;
    width: 650px;
    overflow: hidden;
}
/*2016/6/7更新
1 .app-list{width: 650px;更新成672px；增加}
2 增加.app-list-box .app-1st a p{line-height: 20px;}
*/
.app-list{
    position: relative;
    margin-left: -22px;
    _margin-left: -44px;
    width: 672px;
    _width: 692px;
    background-color: white;
    display: none;
}
.app-list li{
    float: left;
}
.app-list a{
    position: relative;
    margin:20px 0 0 30px;
    width: 80px;
    height: 100px;
    display: block;
    text-align: center;
    overflow: hidden;
}
.app-list a img{
    width: 60px;
    height: 60px;
}
.app-list a p{
    position: relative;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}
.app-list-box .app-1st{
    display: block;
}
.app-list-box .app-1st a p{
    margin-top: 8px;
    height: 32px;
    line-height: 16px;
}
/*2016/6/7更新结束*/
.na-price .app-nav a{
    padding: 0 10px;
    font-size: 14px;
}
.price-news-box{
    position: relative;
    margin-top: 24px;
    width: 650px;
    overflow: hidden;
}
.price-news{
    position: relative;
    width: 650px;
    display: none;
}
.price-news-box .news-1st{
    display: block;
}
.price-news .txt-news{
    float: left;
    display: inline;
    margin-left: 5px;
    width: 320px;
}
.price-news .txt-news li p{
    width: 230px;  /*2016/6/7更新 原width: 260px; */
}
.part-8th-right{
    float: left;
    margin-left: 10px;
    width: 340px;
}
.pic-download{
    width: 340px;
}
.pic-download .more{
    float: right;
    margin-top: 16px;
}
/*2016/6/14更新开始*/
.pic-boder-dn{
    margin-top: 28px;
    position: relative;
    width: 338px;
    border: 1px solid #ccc;
}
.pic-download-box{
    position: relative;
    margin: 10px 10px 0 10px;
    width: 318px;
    height: 225px;
    overflow: hidden;
}
/*2016/6/14更新结束*/
.pic-download .pic-toshow{
    position: relative;
    height: 225px;

}
.pic-download .pic-toshow a{
    float: left;
    width: 318px;
    height: 225px;
    display: block;
    overflow: hidden;
}

.pic-download .pic-toshow a img{
    width: 318px;
    height: 175px;
}

.pic-download .pic-toshow a p{
    width: 318px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    background-color: white;
}

.pic-boder-dn .pic-btn-show .btn-prev{
    top: 70px;
}
.pic-boder-dn .pic-btn-show .btn-next{
    top: 70px;
}
.shop-sale{
    margin-top: 20px;
}
.shop-sale h3{
    float: none;
    margin:0 0 26px 8px;
}
.shop-sale .txt-news{
    margin-left: 13px;
}
/*购划算-9th*/
.free-price{
    margin: 12px 0 19px 0;
}
.free-nav{
    float: right;
    margin-top: 11px;
}
.free-nav a{
    margin: 0 2px;
}
.free-sale{
    width: 996px;
    padding-bottom: 2px;
    border: 2px solid #e4e4e4;

}
.free-sale .pro-menu{
    padding-bottom: 96px;
    background: url("../img/weixin.png") center bottom no-repeat ;
}
.free-sale .pro-menu li.change-bg{
    border-left: 2px solid #ff3333;
    margin-left: -2px;
    z-index: 3;
    background-color: white;
}
.buy-info-box{
    float: left;
    position: relative;
    margin-top: 20px;
    width: 890px;
    height: 240px;
    overflow: hidden;
}
.buy-info{
    position: absolute;
    left: 0;
    top: 0;
    width: 890px;
    height: 240px;
    background: white;
    display: none;
}
.buy-info-box .buy-1st{
    display: block;
}
.buy-sth{
    float: left;
    display: inline;
    position: relative;
    margin-left:35px;
}
.free-sth{
    width: 140px;
    height: 203px;
    text-align: center;
    display: block;
}
.free-sth div{
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
}
.free-sth div img{
    width: 100%;
    height: 100%;
}
.free-sth p{
    position: relative;
    width: 140px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #333;
    text-align: center;
    overflow: hidden;
}
.free-sth span{
    position: relative;
    width: 140px;
    height: 20px;
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #ff5252;
}
.go-buy{
    margin-left: 16px;
    width: 100px;
    height: 27px;
    line-height: 27px;
    color: white;
    font-size: 14px;
    display: block;
    text-align: center;
    background: url("../img/buy-bg.png") center no-repeat;
}
/*万人使用-10th*/
.try-hd{
    margin-bottom: 20px;
}
.try-hd .h3-sty{
    color: #ff4c4c;
}
.enter-try{
    float: right;
    margin-top: 10px;
}
.try-sth{
    float: left;
}
.try-sth .buy-sth{
    margin: 10px;
    display: inline;
}
.try-sth .free-sth{
    width: 230px;
    height: 251px;
}
.try-sth .free-sth div{
    position: relative;
    width: 230px;
    height: 173px;
    overflow: hidden;
}
.try-sth .free-sth div img{
    width: 100%;
    height: 100%;
}
.try-sth .free-sth p{
    margin-top: 19px;
    line-height: 24px;
    height: 24px;
    width: 230px;
}
.try-sth .free-sth em{
    position: relative;
    width: 230px;
    height: 17px;
    display: block;
    font-size: 12px;
    color: #999999;
    overflow: hidden;
}
.try-sth .free-sth span{
    width: 230px;
    font-size: 14px;
    color: #ff5252;
}
.try-sth .go-buy{
    margin: 0 65px;
}
.go-buy:hover{
    color: white!important;
    text-shadow: 1px 1px 5px #000;
}
/*宽带山-11th*/
.part-11th{
    margin-top: 45px;
}
.kds-h3{
    float: left;
    width: 1000px;
}
.line-blue{
    float: left;
    position: relative;
    margin: 14px 0 0 30px ;
    width: 860px;
    height: 1px;
    overflow: hidden;
    background: #c8dcf2;
}
.kds-h3 .h3-sty{
    line-height: 36px;
}
.kds-left{
    float: left;
    width: 320px;
}
.kds-hd .h4-sty{
    float: left;
    line-height: 42px;
    font-size: 16px;
}
.kds-more{
    float: right;
    margin: 13px 10px 0 0;
    font-size: 12px;
    color: #666666;
}
.kds-left .hot-pro li{
    width: 320px;
}
.kds-left .hot-pro p{
    margin-left: 8px;
    width: 280px;
}
.kds-middle{
    float: left;
    margin-left: 10px;
    width: 320px;
}
.kds-right{
    float: left;
    margin-left: 10px;
    width: 340px;
}
.kds-right .kds-hd{
    margin-bottom: 9px;
}
.game-info{
    position: relative;
    margin-bottom: 20px;
    width: 340px;
}
.game-info .pic{
    float: left;
    margin-right: 14px;
    height: 85px;
    width: 104px;
    display: block;
    overflow: hidden;
}
.game-info .pic img{
    width: 100%;
    height: 100%;
}
.game-info h4{
    float: left;
    height: 26px;
    width: 220px;
    line-height: 26px;
    overflow: hidden;
}
.game-info h4 a{
    font-size: 16px;
    color: #000;
}
.game-info p{
    float: left;
    margin-top: 6px;
    width: 220px;
    height: 52px;
    line-height: 26px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}
/*页脚-12th*/
.copyright {
    font: 12px/1.5 tahoma,simsun,sans-serif;
    height: 72px;
    padding: 20px 0;
    width: 960px;
}

.copyright li {
    color: #333333;
    height: 24px;
    line-height: 24px;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 960px;
}

.copyright li a {
    font: 12px/1.5 tahoma,simsun,sans-serif;
}

.copyright li span {
    color: #E73F4C;
    line-height: 24px;
}

.copyright li img {
    left: 150px;
    position: absolute;
    top: 0;
}

.certificate {
    width: 960px;
    margin: 0 auto;
    height: 120px;
    border: 1px solid #dddddd;
    border-right: none;
    text-align: center;
    font: 12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
}

.certificate li {
    width: 159px;
    border-right: 1px solid #dddddd;
    float: left;
    padding: 20px 0 10px;
    height: 90px;
    position: relative;
}

.certificate li img {
    margin: 0 auto 10px;
    height: 50px;
}

.certificate span {
    width: 159px;
    height: 20px;
    line-height: 20px;
    bottom: 15px;
    left: 0;
    position: absolute;
    display: block;
    text-align: center;
}

.bureau {
    width: 175px;
    height: 47px;
    margin: 0 auto;
    padding: 15px 0;
}

.bureau ul {
    width: 175px;
    height: 47px;
}

.bureau ul li {
    float: left;
    height: 47px;
    display: inline;
}

.bureau ul li img {
    height: 47px;
}