* { padding:0; margin:0; }
body {
font-family: Arial, Helvetica, sans-serif;
	background-color: #000000;
	background-image:url(/images/fondo3.gif);
	background-repeat: repeat;
	margin: 0px 0px 0px 0px;
	}
	img { border:0px;} 
#container {	
	overflow:auto; 
	MARGIN: 0px auto; 
	WIDTH: 960px;
	PADDING-TOP: 0px; 
	background-color: #FFFFFF;
}
#fooder {	
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
	overflow:auto; 
	MARGIN: 0px auto; 
	WIDTH: 900px;
	PADDING-TOP: 10px; 
	color:#ffffff;
}
#fooder a{color:#ffffff;}	
#header{
	background-color: #000000;
	background-image:url(/images/header.png);
	background-repeat: repeat-x;
	WIDTH: 954px;
	height:90px;
	margin-left:3px;
	margin-right:3px;
}

#logo{color:#FFFFFF;background-color:inherit; }
.top-col h2 a{color:#FFFFFF; text-decoration:none;background-color:inherit;}
.top-col h2 a:visited{color:#FFFFFF; text-decoration:none;background-color:inherit;}
.top-col h2 a:hover{color:#f25c05; text-decoration:none;background-color:inherit;}
#logo h1{float:left;padding-left:40px;
font-size:15px;
padding-top:29px;
width:auto;}
#navbar{
	background-image:url(../images/navbar.png);
	background-repeat: repeat-x;
	WIDTH: 954px;
	height:38px;
	margin-left:3px;
	margin-right:3px;
	color:#7f7f7f;
	vertical-align:middle;
}
#menuhoriz ul li {

font-size:16px;
        display: inline;
        padding: 2px 7px; /*Separar el texto*/
        margin:5px; /* Separar los botones */
        background-color:#E4E4E4; /* Color de fondo */
}
#menuhoriz ul li:hover {
        background-color:#CCCCCC; /* Color de fondo sobre el boton */
        cursor: pointer; /* cambiar el aspecto del puntero */
}
#menuhoriz ul li a {
text-decoration:none;
color:#000000;
background-color:inherit;
}
#menuhoriz ul {
        padding-top:5px;
        /* Linea para delimitar la botonera */
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #E4E4E4;
}
#menuhoriz{
        float:left;
}
#top-estrenos{
margin-left:30px;
margin-right:30px;

	float:left;
	background-image:url(../images/estre-top.png);
	
	WIDTH: 900px;
	height:16px;
}
#bottom-estrenos{
margin-left:30px;
margin-right:30px;
	float:left;
	background-image:url(../images/estre-bottom.png);
	
	WIDTH: 900px;
	height:16px;
}


#estrenos ul li {
list-style:none;
text-align:center;
width:108px;
font-size:12px;
       float:left;
        padding: 2px 2px; /*Separar el texto*/
        margin:5px; /* Separar los botones */        
		color:#FFFFFF;
		background-color:inherit;
}
#estrenos ul {
text-align:center;
width:891px;
	height:170px;
   background-image:url(../images/estre-body.png);
	background-repeat: repeat-y;     
      float:left;
margin-left:30px;
margin-right:30px;	 
padding-left:5px;
		overflow:hidden; 
}
#estrenos ul li img{

        
		border: #FF6600 1px solid;
}
#estrenos ul li h3{
font-size:12px;
background-color:inherit;
}
#estrenos ul li h3 a:link, #estrenos ul li h3 a:visited{
color:#FFFFFF;
text-decoration:none;
background-color:inherit;
}
#estrenos ul li h3 a:hover{
color:#FF6600;
}
#izquierda, #derecha{

        float:left;
		WIDTH: 442px;
		margin-right:10px;
		margin-left:8px
}

#seccionestrenos{float:left;WIDTH: 90%;margin-right:10px;margin-left:8px;height:auto;background-image:url(../images/col-body.png);background-repeat: repeat-y;float:left;}

#columnas{

float:left;
margin-left:20px;
margin-top:10px;
}
.top-col{ color:#FFF; text-align:center; float:left;	background-image:url(../images/col-top.png);width: 442px;height:36px; }
.top-col h2{
font-size:20px;
	padding-top: 5px;
}
.bottom-col{
	float:left;
	background-image:url(../images/col-bottom.png);
	
	WIDTH: 442px;
	height:16px;
}
.body-col {

WIDTH: 442px;
	height:auto;
   background-image:url(../images/col-body.png);
	background-repeat: repeat-y;     
      float:left;
}
.imgficha{
	margin-right:20px;
	margin-left:10px;
	margin-bottom:10px;
	border:#ff6600 1px solid
	}
.noticia{	
float:left;
font-size:12px;
margin-right:20px;
margin-left:40px;
min-width:330px;
}
.body-col h3 a:link, .body-col h3 a:visited{color:#000000;text-decoration:none; }
.body-col h3  a:hover{
color:#FF6600;

}
.body-col h3{
font-size:16px;
width:100%;
float:left;	
margin-bottom:5px;
margin-right:20px;
margin-left:20px;	}
.authorcomment {margin: 0px 0px 10px 50px;height:100%;width: 80%;border-bottom:1px solid #ccc;overflow: hidden;}
.slogan{float:right; }
.slogan { margin: 10px 30px  10px; color: #CCC; text-align: right; }
div.slogan { margin: 5px 10px 10px 10px; padding: 0 5px; }
/*div.search h2 { font-size: 1.5em; margin: 0; padding: 0 0 5px; color: #06c; border-bottom: 1px dashed #63a915; }*/
div.slogan h2 { background: url('../img/h2-search.png') no-repeat left; margin: 0; padding:8px 0; text-indent:-5000px; }
div.slogan form { margin: 10px auto; text-align: center; }
div.slogan form input.word { padding: 4px 3px; border: 1px inset #000; }
div.slogan form input.srch { font-weight: bold; padding: 4px 0; }
div#login form input.word {border:#b8b8b8 1px solid;  }
div#login form input.srch {   }
#login{padding-top:3px;margin-right:2px;float:right;font-size:12px;color:#222222;}
#login a:hover{color:#FF6600;}
.publi300{text-align:center;margin-bottom:10px;}
#fooder ul{margin-left:90px;float:left;margin-bottom:10px;font-size:11px;list-style:none;}

/*512megas.com */
	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
		margin-top:10px;
		margin-bottom:15px;
	}
	
	div.pagination a {
		border: 1px solid #dedfde;
		margin-right:3px;
		padding:2px 6px;

		background-position:bottom;
		text-decoration: none;

		color: #99210B;
	}
	div.pagination a:hover, div.pagination a:active {
		border: 1px solid #000;
		background-image:none;
		background-color:#777777;
		color: #fff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #99210B;
	}
	div.pagination span.disabled {
		margin-right:3px;
		padding:2px 6px;
	
		color: #adaaad;
	}

/* Estilos para registro */
box_form .topbox2 h3{font-size:16px}
.box_form .form_list li h4{font-size:14px; text-indent:50px; margin-bottom:15px}
.box_form .form_list{margin-top:20px; font-size:14px}
.box_form .form_list li input {border:#666 1px solid; width:400px}
.box_form .form_list input.corto {border:#666 1px solid; width:160px}
.box_form .form_list input.supercorto {border:#666 1px solid; width:50px}
.box_form .form_list li select{border:#666 1px solid; width:150px}
.box_form .form_list li textarea{border:#666 1px solid; width:400px}
.no_dislpay{display:none;float:left; clear:both}
.no_dislpay *{float:left;}
.box_form li{list-style:none; clear:both; margin-bottom:10px}
.form_item{clear:both}
.box_form .form_item *{float:left}
.box_form .form_item p{margin-bottom:10px}
.box_form .form_list li.canalmail *{float:left;}
.box_form .form_list li p{width:150px; display:block; text-align:right; margin-right:5px; font-size:12px}
.box_form #sexo input{width:20px; border:0}
.box_form #sexo p.sexotag{width:500px; text-align: left}
.box_form li.canalmail{margin-left:30px; height:20px; clear:both; margin-bottom:5px}
.box_form li.canalmail input{width:20px; border:0}
.box_form li.canalmail p{width:60px;font-size:11px; margin-left:5px; margin-right:10px; text-align:left; height:21px; line-height:18px}
.box_form li.formtxt{margin-top:15px}
.box_form li.formtxt *{ float:left}
.box_form li.formtxt p{width:580px; font-size:11px}
.box_form li.formtxt a{margin:0; padding:0; float:left}
.box_form li.formtxt img{float:left; margin-right:8px}
.box_form li.button_form{margin-left:180px; clear:both; text-align:left}
.box_form li.button_form input{padding:5px 15px; background-color:#f25c05; color:#fff; font-weight:700; margin-top:30px; margin-bottom:25px}
.box_form li.button_form input:hover{cursor:pointer}
.box_form li.formtxt2 p{width:500px; text-align:left}
.box_form li.formtxt2 a{text-decoration:none}
.box_form li.formtxt2 a:hover{color:#f25c05; text-decoration:underline; }
.box_form li.int_canalmail {margin-top:15px}
.box_form li.int_canalmail p {width:600px; font-size:11px; text-align: left; line-height:21px; margin-left:10px}
.button_form{margin-left:180px; clear:both; text-align:left}
.button_form input{padding:5px 15px; background-color:#f25c05; color:#fff; font-weight:700; margin-top:30px; margin-bottom:25px}
.button_form input:hover{cursor:pointer}
.box_form .form_list .no_dislpay  .idioma input { margin-right:10px;width:auto; float:left}
.box_form .form_list .no_dislpay  p { float:left}
.box_form .form_list .no_dislpay  .idioma {width:450px; float:left}
.box_form .form_list .no_dislpay  .dioma .checkbox {width:auto;  margin-right:20px; float:left}

.informacionregistro {padding-left:10%;padding-right:50px;padding-top:50px;padding-bottom:70px;font-size:12px; }
.informacionregistro ul li{ line-height:8px;}
.areainteresregistro {margin-left:100px;padding-right:50px;} 
.informacionregistro .corto { color:#000; width:160px; height:30px;  }
/* Capa contenido para utilizar en registro ,secciones, recuperar contraseņa ,etc */
.contenido { width:80%; margin-left:12%;margin-right:10%;margin-top:50px;margin-bottom:70px; } 




TABLE.searchResult {
	 FONT-FAMILY: Verdana, Helvetica; MIN-WIDTH: 400px; FONT-SIZE: 10px; MARGIN: 0px; WIDTH: 800px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left; border-spacing: 2px;FONT-WEIGHT: bold; TEXT-ALIGN: center;
}
TABLE.searchResult A { BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px;COLOR: #000000;	TEXT-DECORATION: none;}
TABLE.searchResult A:visited { TEXT-DECORATION: none}
TABLE.searchResult A:hover {TEXT-DECORATION: underline;	COLOR: #cc0000;}
THEAD.tableHead A {	 COLOR: #fff ; }
THEAD.tableHead A:hover {	 BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px}
THEAD.tableHead TH { background-image:url(../images/rojotabla.jpg); background-repeat:repeat-x; font-weight:bold; height:18px;}
TABLE.searchResult TH {	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid;	COLOR: #FFFFFF;}
TABLE.searchResult TD {	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #fff 1px solid;}
TABLE.searchResult TR {HEIGHT: 13px;line-height:13px;BACKGROUND:#e0e0e0;COLOR: #354462; } /*#e0e0e0 */
TABLE.searchResult TR a {	COLOR:#354462;}
TABLE.searchResult TR.fichserietabla_b {	background-color:#ffffff;COLOR: #29344b; }/* */
TABLE.searchResult TR.fichserietabla_b a {	COLOR: #29344b; }
TABLE.searchResult TR:hover {BACKGROUND: #b7d2f4;color:#000000;}
TABLE.searchResult TD.vertTh {FONT-WEIGHT: bold;  TEXT-ALIGN: left;HEIGHT: 13px; color:#000000;}
TABLE.searchResult TD.vertThseccion { FONT-WEIGHT: bold;  TEXT-ALIGN: left;HEIGHT: 24px;color:#000000;}
TABLE.searchResult TD.vertThseccion A {	FONT-SIZE: 11px; color:#000000;}
TABLE.searchResult IMG {BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px; BORDER-RIGHT-WIDTH: 0px;}
TABLE.searchResult IMG.dl {	WIDTH: 9px; HEIGHT: 11px}
TABLE.searchResult IMG.co { WIDTH: 11px; HEIGHT: 9px}



.seccionesuploadseries {background-image:url(../images/seccion-body.png); background-repeat:repeat-y; margin-left:30px;width:900px; padding-top:30px; }
.seccion-top {background-image:url(../images/seccion-top.png);width:900px; margin-left:30px; height:32px; padding-top:4px; }
.seccion-top h2{ font-size:22px; color:#FFFFFF;}
.secciones {background-image:url(../images/seccion-body.png); background-repeat:repeat-y; margin-left:30px;width:900px; padding-top:30px; }
.bottom-seccion {background-image:url(../images/seccion-bottom.png);width:900px; height:16px;}
.tablaseries2 { margin-left: 8px;FONT-FAMILY: Verdana, Helvetica; MIN-WIDTH: 400px; FONT-SIZE: 10px;  BORDER-COLLAPSE: collapse; TEXT-ALIGN: center; border-spacing: 1px;FONT-WEIGHT: bold;COLOR: #7b563a; TEXT-ALIGN: center; width:850px;} 

.tablaseries2 TD {FONT-WEIGHT: bold; TEXT-ALIGN: left; width:auto; background-color:#E0E0E0; padding:22px; vertical-align:top; text-align:center; width: 175px;}
.tablaseries2 TD img {border:#D96248 solid 2px;} 
.tablaseries2 TD  img:hover {border:#E0CD1F solid 2px;} 

.tablaseries3{  width:850px; FONT-FAMILY: Verdana, Helvetica; MIN-WIDTH: 400px; FONT-SIZE: 10px;  BORDER-COLLAPSE: collapse;  border-spacing: 1px;FONT-WEIGHT: bold;COLOR: #7b563a; TEXT-ALIGN: center;}
.tablaseries3 TD { FONT-WEIGHT: bold;   width:100px; background-color:#E0E0E0; padding:15px; vertical-align:top; text-align:center;}
.tablaseries3 TD img {border:#D96248 solid 2px;} 
.tablaseries3 TD  img:hover {border:#E0CD1F solid 2px;} 


.tituloserietabla {color:#000000; font-weight:bold; font-size:14px;background-color:inherit;}
.alfabeto li {  display: inline;
        padding: 1px; /*Separar el texto*/
        margin:1px; 		
		font-size:11px;
		text-transform: uppercase;

		}
.alfabeto li a:visited,a,a:hover { color:#1F1F1F; text-decoration:none;}


.ultimasseries li {list-style:none;text-align:center;width:108px;font-size:12px;float:left; padding: 2px 2px;margin:5px;color:#FFFFFF;}

.ultimaseries {
	text-align:center;
	WIDTH: 900px;
	height:170px;
    background-image:url(../images/estre-body.png);
	background-repeat: repeat-y;     
    float:left;
	margin-left:30px;
	margin-right:30px;	 
	padding-left:5px; 
	
}
/* Estilos Ficha de Serie */

.fichsercartel { height:300px;}
.fichsercartelupload { height:150px; text-align:left; margin-left:30px;}
.fichserieimagen {}
.fichserieotra { text-align: left; margin-top:10px; height:25px;} 
.fichserieotra input { text-align: left; } 
.fichserieotra a { text-align: left; color:#FF0000; } 
.fichaserie2 { overflow:hidden; list-style-type:none; text-align:justify;} 		
.fichaserie2 hr { color:#FBFBFB; }
.fichaserie3 { overflow:hidden; list-style-type:none; text-align:justify; float:left; padding-left:30px;} 		
.fichaserie3 hr { color:#FBFBFB;  }

.fichseriedescrip { float:left; width:400px; padding:20px; font-size:12px; text-align:justify; }
.fichserietecnica { float:left; width:400px; padding:20px; font-size:12px; }
.fichserietecnica  ul{ list-style-type:none;}

.fichseriecapitulos  { float:left; width:400px;padding:20px; font-size:12px; text-align:left; }
.fichseriecapitulos ul { list-style-type:none;}
.fichseriesubtitulos { float:left; width:400px; padding:20px;font-size:12px; text-align:left;}
.fichseriesubtitulos ul { list-style-type:none; }

.subtitulo { color:#FF8040;} 

.fichserietabla { font-size:12px; border:0px; width:820px; margin-left:20px; margin-right:20px; background-color:#ececec; }
.capitulotitulo {font-weight:bold;}
.fichserietabla tr { height:22px;}
.fichserietabla tr:hover {color:#F11D1D;   background-color:#FFFFFF;}
.fichserietabla  .capitulonombre{  font-size:13px;font-weight: bold; width:70%;}
.fichserietabla  .capitulofecha{  font-size:11px;  width:13%; text-align:center;}
.fichserietabla  .capitulouploader{  font-size:11px;  width:13%;text-align:center;}
.fichserietabla  .capitulosubtitulo{  font-size:10px;  width:5%;text-align:center;}
.fichserietabla  .capitulodescarga{  font-size:10px;  width:5%;text-align:center;}


.fichserietablauplo { font-size:12px; border:0px; width:720px; margin-left:20px; margin-right:20px; background-color:#ececec;  }
.fichserietablauplo tr { height:22px;}
.fichserietablauplo tr:hover {color:#F11D1D;   background-color:#FFFFFF;}
.fichserietablauplo  .capitulonombre{  font-size:13px;font-weight: bold; width:70%;}
.fichserietablauplo  .capitulofecha{  font-size:11px;  width:13%; text-align:center;}
.fichserietablauplo  .capitulouploader{  font-size:11px;  width:13%;text-align:center;}
.fichserietablauplo  .capitulosubtitulo{  font-size:10px;  width:5%;text-align:center;}
.fichserietablauplo  .capitulodescarga{  font-size:10px;  width:5%;text-align:center;}



.fichseriecapitulos {  border: thin hidden #C0C0C0; width:830px;}
.fichserietabla_a {   background-color: #CCCCCC;}

fichserietablaupload { font-size:12px; border:0px; width:700px; margin-left:20px; margin-right:20px; background-color:#ececec;}

.fichserietablaedit {   border: 1px ridge #C0C0C0;caption-side: bottom;} 

.fichaheader{ font-weight: bold;text-align: center;  color:white;}
.fichaheader :hover{ font-weight: bold;text-align: center;background-color:  #333333;color:white;}
.fichaheader td
{
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #333333;
}
.fichaheader td :hover { font-weight: bold;text-align: center;background-color: #C0C0C0;color:Black;}

#commentlist {width:850px; margin-left:70px; height:32px; padding-top:4px; font-size:12px; text-align:justify;  }

/* Comentarios y ... mas */
.cuerpoficha1 {  float:left; margin-left:30px;width:900px; margin-top:20px;}
.comentarios { float:left; width:550px; margin-left:10px;} 
.comments-list {margin-left:45px; padding-top:5px; color: #4b4b4b;}
.comments-list STRONG {color: #000; }
.comments-list A {	color: #a20339;	text-decoration: none;}
.comments-list A:hover {color: #000;text-decoration: none; }
.comments-list .comments-list-empty {text-align: center;font-size: 1.1em;}
.comments-list .comments-list-single { font-size:12px;}
.comments-list .comments-list-single .comment-text {background: #F9F9F9; color:#000000; padding:10px;border-left: 1px solid #dcdcdc;border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc; text-align:justify;}
.comments-list .comments-list-single .comment-info {height: 39px;overflow: hidden;background: url(../images/bkg_content.gif) repeat-x 0 38px;}
.comments-list .comments-list-single .comment-info .comment-info-counter {float: left;width: 70px; height: 39px;;font-size:12px;color: #d4d4d4;font-weight: bolder;background: url(../images/bkg_comment-info-counter.gif) no-repeat 50% 100%;}
.comments-list .comments-list-single .comment-info .comment-info-avatar {float: left; width:36px;text-align: left;}
.comments-list .comments-list-single .comment-info .comment-info-avatar .avatar {padding: 1px; border: 1px solid #000;}
.comments-list .comments-list-single .comment-info .comment-info-data { font-size:10px; padding-top: 12px; text-align:right;}
.comments-list .comments-list-single.type_pingback {	}
.comments-list .comments-list-single.type_pingback .comment-info .comment-info-data {margin-left: 72px;}
.comments-list .comments-list-single.type_comment_meneame {	}
.comments-list .comments-list-single.type_comment_meneame .comment-info .comment-info-counter {background: url(../images/bkg_comment-info-counter_meneame.gif) no-repeat 50% 100%;}
.comments-list .comments-list-single.type_comment_meneame {background: #FEEFE5;}		
.comments-list .comments-list-single.bypostauthor .comment-info .comment-info-counter {background: url(../images/bkg_comment-info-counter_byauthor.gif) no-repeat 50% 100%;}


/* Fin de estilos comentarios*/
.comentario { margin-left:45px; }
.escribircomentario
{
    float: left;
    color: #123456;
    font-size: 11px;
    text-align: justify;
    margin-left: 40px;    
    width:300px;
} 
.escribircomentario a { text-decoration:underline;}

.capabotones { text-align:center; overflow:hidden;}
.capabotones hr { padding-right: 20px; padding-left: 20px; background-color: #C0C0C0;}
.botontorrent { text-align:left; width:200px; float:left; padding-left:50px;}
.capapublicentral {text-align:left; width:330px; float:left; padding-left:50px;}
.botonserie { text-align:right;width:200px;float:left; padding-left:40px;} 

.box_content
{
    width: 700px;
    font-size: 12px;
    list-style-type: none;
}
.box_content a
{
    text-decoration: underline;
    color: #808080;
}
.box_content fieldset
{
    padding-left: 50px;
    text-align: left;
}
.box_content ul li {list-style-type: none;}
#commentform {text-align:justify;}
.uploadform  {margin:10px; float: left;width:700px;height:auto;overflow:hidden;}
.sincomentarios {width: 450px;text-align: justify; float: left;margin-left: 50px;font-size: 12px;}
.capauploadsub {margin:30px;text-align:left;}
.capauploadsub  fieldset {padding:40px;}
.clasetextarea { width:350px; height:200px;}
.editcapiizqu { width:220px;float:left;height:30px;text-align:right;}
.editcapider { height:30px;text-align:left;padding-left:230px;}
.uploadformcapitulo {margin:10px; float: left;width:800px;height:auto;overflow:hidden;}
.uploadformcapitulo  fieldset{ margin-left:80px; margin-top:40px;} 
.contenidoupload {  margin-top:50px;margin-bottom:70px; overflow:hidden; } 
.option_list {padding-top:20px;}
.option_list li { float:left; padding:15px; list-style-type:none; text-align:center; font-size:12px; }
.rangousuarios {width:600px; text-align:left; float:none; overflow:hidden;}
#tablausuarios {  WIDTH: 670px; margin-bottom:30px; margin-top:25px; text-align:center;}
.celda1{ width:70px; color:#CCFF00;}
.tablausuariosHead { color:#000000;  }

.boton { text-align:center;margin:35px; width:150px;  background-color:#CCCCCC; }
.boton hover {background-color:#CCCCCC; }


.boxbuscar { width:650px;}
boxbuscar .topbox2 h3{font-size:14px}
.boxbuscar .form_list li h4{font-size:14px; text-indent:50px; margin-bottom:15px}
.boxbuscar .form_list{margin-top:20px; font-size:14px}
.boxbuscar .form_list li input {border:#666 1px solid; width:400px}
.boxbuscar .form_list input.corto {border:#666 1px solid; width:160px}
.boxbuscar .form_list input.supercorto {border:#666 1px solid; width:50px}
.boxbuscar .form_list li select{border:#666 1px solid; width:150px}
.boxbuscar .form_list li textarea{border:#666 1px solid; width:400px}
.no_dislpay{display:none;float:left; clear:both}
.no_dislpay *{float:left;}
.boxbuscar li{list-style:none; clear:both; margin-bottom:10px}
.form_item{clear:both}
.boxbuscar .form_item *{float:left}
.boxbuscar .form_item p{margin-bottom:10px}
.boxbuscar .form_list li.canalmail *{float:left;}
.boxbuscar .form_list li p{width:150px; display:block; text-align:right; margin-right:5px; font-size:12px}
.boxbuscar #sexo input{width:20px; border:0}
.boxbuscar #sexo p.sexotag{width:500px; text-align: left}
.boxbuscar li.canalmail{margin-left:30px; height:20px; clear:both; margin-bottom:5px}
.boxbuscar li.canalmail input{width:20px; border:0}
.boxbuscar li.canalmail p{width:60px;font-size:11px; margin-left:5px; margin-right:10px; text-align:left; height:21px; line-height:18px}
.boxbuscar li.formtxt{margin-top:15px}
.boxbuscar li.formtxt *{ float:left}
.boxbuscar li.formtxt p{width:580px; font-size:11px}
.boxbuscar li.formtxt a{margin:0; padding:0; float:left}
.boxbuscar li.formtxt img{float:left; margin-right:8px}
.boxbuscar li.button_form{margin-left:180px; clear:both; text-align:left}
.boxbuscar li.button_form input{padding:5px 15px; background-color:#f25c05; color:#fff; font-weight:700; margin-top:30px; margin-bottom:25px}
.boxbuscar li.button_form input:hover{cursor:pointer}
.boxbuscar li.formtxt2 p{width:500px; text-align:left}
.boxbuscar li.formtxt2 a{text-decoration:none}
.boxbuscar li.formtxt2 a:hover{color:#f25c05; text-decoration:underline; }
.boxbuscar li.int_canalmail {margin-top:15px}
.boxbuscar li.int_canalmail p {width:600px; font-size:11px; text-align: left; line-height:21px; margin-left:10px}
.button_form{margin-left:180px; clear:both; text-align:left}
.button_form input{padding:5px 15px; background-color:#f25c05; color:#fff; font-weight:700; margin-top:30px; margin-bottom:25px}
.button_form input:hover{cursor:pointer}
.boxbuscar .form_list .no_dislpay  .idioma input { margin-right:10px;width:auto; float:left}
.boxbuscar .form_list .no_dislpay  p { float:left}
.boxbuscar .form_list .no_dislpay  .idioma {width:450px; float:left}
.boxbuscar .form_list .no_dislpay  .dioma .checkbox {width:auto;  margin-right:20px; float:left}
.filtrogene { font-size:14px; font-weight:bold; margin-bottom:10px; }
.filtrogene li { display:inline; margin-left:15px;  }
.filtrogene img {border:#f7f7f7 solid 2px;}
.filtrogene img:hover {border:#E0CD1F solid 2px;}
.fichimagen{ float:left; width:300px; height:auto;}
.fichimagen .carat img{border: #FF6600 1px solid;}
.fichimagen  .carat:hover {border:#E0CD1F  1px solid;}
.fichdatos{ float:left; width:500px;  text-align:left; margin-left:30px;margin-right:10px; min-height:350px; height:auto; overflow:hidden;} 
.fichdatos ul { list-style:none;width:400px; padding:25px; font-size:12px;}
.fichdatos ul li{padding-top:5px;}
.fichdatos label { font-weight:bold; text-align:justify; font-size:13px;}


.datosfiles { font-weight:bold; }
.publi_descri { width:810px; min-height:300px; min-height:350px; height:auto; color:#330033; overflow:hidden; padding:20px;}
.fichdescrip2 {     font-size: 12px;height: auto; margin-top: 0; min-height: 180px;text-align: justify;width: 80%;display: block; overflow: hidden;}
.fichdescrip2 fieldset { padding:15px;}

.publicidadenficha { float:left;  width:auto; height:auto; overflow:hidden; }
.fichdescrip {float:left; display:block; text-align:justify; padding-left:20px; padding-right:20px;  font-size:12px; width:470px; height:auto; overflow:hidden;}
.fichdescrip fieldset { padding:0 15px 15px 15px;}
.estiloleyend { font-size:14px; font-weight:bold; padding-left:4px; padding-right:4px;}  

.fichadescargat
{
}
a.fichabtndes {
padding-top: 20px;
background-image: url(../images/bittorrent.png);
background-position: 208px 8px;
width: 258px;
height: 40px;
background-repeat: no-repeat;
display: block;
cursor: pointer;
}
/*a:hover.fichabtndes
{
	display:block;
	width: 200px;
	height:40px;	
    background-image: url(../images/bittorrent2.png);
   	background-position: 130px 2px;   
    background-repeat: no-repeat;
	cursor:pointer;
	text-decoration:underline;
	
}*/
a.fichabtndesdir {
	padding-top:15px;
	/* background-image: url(../images/megaupload40.png); */
    background-position: 120px 0px;
    width: 200px;
	height:40px;
    background-repeat: no-repeat;
	display:block;
	cursor:pointer;
			
}
.fichabtndesdir :hover{
	text-decoration:underline;
	cursor:pointer;
}
a:hover.fichabtndesdir {
	padding-top:15px;
	/* background-image: url(../images/megaupload40.png); */
    background-position: 120px 0px;
    width: 200px;
	height:40px;
    background-repeat: no-repeat;
	display:block;
	text-decoration:underline;
	cursor:pointer;			
}

.textareaficha{
height:130px;
background-color:#f7f7f7;
border:2px  inset #9c9c9c;
color:#0f6295;
}
.btnenviarcoment
{
width:130px;
height:25px;
background-image:url(/images/enviarcomentario.gif);
}
.center{text-align:center;}

.fichadescargat {width: 257px;
float: left;
margin-left: 21px;
border-radius: 10px;
}
.fichadescargat:hover {
background: #cccccc;
}
/*.fichadescargat :hover {width: 200px;height:81px;background-image: url(../images/bittorrent2.png);background-position: 120px 0px; background-repeat: no-repeat; cursor:pointer; }*/
.fichadescargat label{ font-size:14px}
.fichsub { font-size:16px; }

.fichasubtitulos {  float:left; width:180px; height:40px; text-align:justify;}
.fichasubtitulos label{ font-size:14px}

.fichasubtitulos :hover { cursor:pointer; text-decoration:underline;}
.otrasrelacionadas ul { }
.otrasrelacionadas ul li { display:inline; float:left; padding-left:25px; padding-top:15px; padding-bottom:20px; width:125px; text-align:center; }
.otrasrelacionadas  {overflow:hidden; height:auto; min-height:300px; width:770px; font-size:12px;}

.otrasrelacionadas legend { font-size:16px; font-weight:bold; padding-left:5px; padding-right:5px;}
.otrasrelacionadas img {border: #FF6600 2px solid; }
.otrasrelacionadas img:hover {border:#E0CD1F  2px solid; }
.uploader { width:800px;}
.editcapiizqudescrip { text-align:left; padding-left:140px;}
.uploadfiles ul{ list-style:none; }
.left { text-align:left;}
.capabuscarsub {width:502px; height:116px; background-image:url(../images/fondobussub4.png);}
.capabuscador { padding-top:70px; padding-left:30px; font-size:13px; line-height:25px;}
.infonuser { width:770px; margin:20px; font-size:12px; text-align:left;} 
.field { padding-left:5px; padding-right:5px;}
.imginfouser { float:left; width:100px;}
.informauser { float:left; padding-left:40px;}
.cabecera { width:700px; height:40px; margin-top:35px;}
.izqu_user { width:70px;float:left;height:40px;text-align:left;}
.der_user { width:320px;float:left;text-align:left; padding-top:20px;}
.userver { font-size:10px;}
.filapanel { width:850px; height:135px; margin-bottom:20px; margin-left:20px; background-color:#f1f1f1; }
.filapanel2 { width:720px; height:135px; margin-bottom:20px; margin-left:70px; background-color:#f1f1f1;}
.filapanel3 { width:720px; height:400px; margin-bottom:20px; margin-left:70px; background-color:#f1f1f1;}
.filapanel4 { width:730px; height:auto; margin-bottom:20px; margin-left:70px; background-color:#f1f1f1;}
.filapanel h4 {  line-height:15px;}
.esitlotablamensajes { text-align:left; border:1px solid #6699CC; width:100%; font-size:12px;}
TABLE.esitlotablamensajes TR.mensajes_fila_b {	background-color:#ffffff;COLOR: #29344b; }/* */
TABLE.esitlotablamensajes TR.mensajes_fila_b a {	COLOR: #29344b; }
TABLE.esitlotablamensajes TR TD { padding-left:4px;}
.mensajes_fila_b {}
.tagcloud {width: 270px;padding: 10px;text-align:center;}
.tagcloud a {color:#f25c05;  text-decoration:none; }
.tagcloud a:link, .tagcloud a:visited {text-decoration:none;} 
.tagcloud a:hover, .tagcloud a:active {text-decoration: underline;color: #000;}
.tagcloud span {padding: 4px;}
.smallest {font-size:12px;}
.small {font-size: 16px;}
.medium {font-size:20px;} 
.large { font-size:24px;}
.largest {font-size:30px;}
.izqbus{ float:left; overflow:hidden; margin-top:50px;padding-left:130px; height:350px;}
.derbus {float:left; overflow:hidden;margin-top:50px; padding-left:50px; height:auto;}
.publiytag { min-height:350px; height:auto; overflow:hidden;} 
.section_list { width:800px; height:auto;  font-size:12px; padding-left:70px; }
.section_list li{list-style:none; height:23px;  padding-top:5px; padding-left:50px;float:left;}
.section_list li.section_item_tit{background-color:#333; color:#fff; font-weight:700; height:24px; line-height:24px}
.section_list li.section_item2 p, .section_list li.section_item p{display: block; float:left}
.section_list li.section_item2{background-color:#ddd}
.section_list li.section_item{ border-bottom:#ccc 1px solid}
.section_list li:hover { background-color:#FFFFCC;}
.section_item_tit .sectitnom{width:100px; float:left; margin-left:10px}
.section_list_nombre { width:300px;  background-color:#d3dce3;}
.section_list_nonombre { width:80px; background-color:#d3dce3;}
.section_list_nombrea { width:300px; background-color:#e5e5e5; }
.section_list_nombreb { width:300px; background-color:#d5d5d5; }
.section_list_nombrefilaa { width:80px;background-color:#e5e5e5; text-align:center; }
.section_list_nombrefilab {  width:80px;background-color:#d5d5d5; text-align:center;}
.capatorrentespe { margin-bottom:190px;}
.section_list_nombre2 { width:250px;  background-color:#d3dce3;}
.section_list_nombre2a { width:300px; background-color:#e5e5e5;}
.section_list_nombre2b {width:300px; background-color:#d5d5d5; }
.section_list_nombre2filaa {width:80px;background-color:#e5e5e5; text-align:center; }
.section_list_nombre2filaa {width:80px;background-color:#d5d5d5; text-align:center;}
.section_list_nonombre2 { width:100px; background-color:#d3dce3;}
.enlaceroja :hover{ color:#FF3300;}
.listatorrentrech1 { background:#f9f9f9; width:300px; border-color:#7B7B7B; border-bottom-style:solid; border-bottom-width:1px;}
.listatorrentrech2 { background:#f9f9f9; width:200px; border-color:#7B7B7B; border-bottom-style:solid; border-bottom-width:1px;}
.listatorrentrech3 { background:#f9f9f9; width:100px; border-color:#7B7B7B; border-bottom-style:solid; border-bottom-width:1px;}
.capaidioma {padding-top:5px; padding-right:60px; overflow:hidden;}
.capaidioma img{ vertical-align:middle; padding-right:2px;}
.capaidioma a{ color:#FFFFFF; font-size:12px; padding-left:7px;font-weight:bold;  }
.capaidioma a:hover { color:#ff6600;}
.informebusquedas { padding-left:100px; padding-bottom:50px; font-size:13px;}
.valigaabsbottom { vertical-align:bottom;}
.capaimagenestrenos { width:24px; height:170px; float:left; margin-left:34px; background-color:#000000;} 
.minifichasestrenos { float:left;  width:866px; height:170px;}
.minifichasestrenos ul li { list-style:none;text-align:center;width:108px;font-size:12px; float:left; padding-bottom:2px; padding-top:2px; margin:5px;  color:#FFFFFF; }
.minifichasestrenos ul  {text-align:center; width:866px; height:170px; background-color:#000000;   
      float:left;  margin-right:30px; }

.minifichasestrenos ul li img{ border: #FF6600 1px solid; }
.minifichasestrenos ul li img:hover{ border:#FFFFCC 1px solid; }
.minifichasestrenos ul li h3{font-size:12px; color:#FFFFFF;}
.minifichasestrenos ul li h3 a{color:#FFFFFF;text-decoration:none;}
.minifichasestrenosul ul li h3 a:visited{color:#FFFFFF;text-decoration:none;}
.minifichasestrenos ul li h3 a:hover{color:#FFFFCC;}
.capaderechoslegal { width:890px; margin-top:49px; font-size:9px; color:#FFFFFF;}
.capaderechoslegal a { color:#FFFFFF; }
.capaderechoslegal a:hover{ color:#FFFFCC;}
.capaderechoslegal a img { vertical-align:sub;}
.capadereimg { padding-top:5px;}
.caparedes {float: right;text-align: right; padding-right:10px;}
.capaseriestabla { padding: 10px;font-size: 14px;}
.enlace_ayuda {  color: #A20339;  font-family: verdana;  font-size: 11px;   margin-bottom: 10px;} 

#dvd3d { margin-left: 34px; margin-right: 36px; margin-top:12px; } 
#cp_cabe_up { margin-left: -16px;} 
#capa_ind_dvds { float:left; background-color:#000;padding-left: 25px; width:407px; height:138px;}
#capa_ind_dvds ul {float:left; background-color:#000;}
#capa_ind_dvds ul li{ float:left; width:90px; list-style:none; padding-left:5px; line-height: 13px; padding-top:5px;}
#capa_ind_dvds ul li img { border: #FF6600 1px solid; } 
#capa_ind_dvds ul li img:hover{ border:#FFFFCC 1px solid; }
.lisspan1 { font-size:11px; color:#CCC;}
.lisspan2 { font-size:9px; color:#666;}

#capa_ind_3d { background-color: #000000; float: left; padding-left: 49px; width: 409px;  height:138px;} 
#capa_ind_3d ul { float:left; background-color:#000; }
#capa_ind_3d ul li{ float:left; width:100px; list-style:none; line-height: 13px; padding-top:5px; }
#capa_ind_3d ul li img  { border: #FF6600 1px solid; } 
#capa_ind_3d ul li img:hover { border:#FFFFCC 1px solid; }
#publiderecha{position:fixed; top:0;}
#publiizquierda{position:fixed; top:0;}
	
div.paginacion {
    color: #A0A0A0;
    font-size: 80%;
    margin: 3px;
    padding: 3px;
    text-align: center;
}
div.paginacion a {
    background-image: url("bar.gif");
    background-position: center bottom;
    border: 1px solid #909090;
    color: #C0C0C0;
    margin-right: 3px;
    padding: 2px 5px;
    text-decoration: none;
}
div.paginacion a:hover, div.meneame a:active {
    background-color: #404040;
    background-image: url("invbar.gif");
    border: 1px solid #F0F0F0;
    color: #FFFFFF;
}
div.paginacion span.current {
    background-color: #606060;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 3px;
    padding: 2px 5px;
}
div.paginacion span.disabled {
    border: 1px solid #606060;
    color: #808080;
    margin-right: 3px;
    padding: 2px 5px;
}
.enlace_panl_mens { color:#333; text-decoration:none;}
.enlace_panl_mens:hover { color:#C60; text-decoration:underline;}

