
.clear {
  clear: both;
}





/*==[wrapper]== */
@media (max-width: 550px) {
  .wrapper {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .wrapper {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .wrapper {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*==[slider]== */
.slider_wrapper {
  width: 100%;
  overflow-x: hidden;
}

.slider {
  position: relative;
}
@media (max-width: 550px) {
  .slider {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    padding: 20px;
    background-image: url("../img/block_bg.png");
  }
  .slider .slider_img_pc {
    display: none;
  }
  .slider .slider_img_tablet {
    display: none;
  }
  .slider .slider_img_mobile {
    display: block;
  }
  .slider .slider_img_mobile img {
    width: 100%;
    height: auto;
  }
  .slider .arrow_left {
    position: absolute;
    cursor: pointer;
    left: 0%;
    top: 180px;
    z-index: 120;
  }
  .slider .arrow_right {
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 180px;
    z-index: 121;
  }
  .slider .slide_dot {
    width: 180px;
    height: 30px;
    z-index: 500;
    margin: 0 auto;
    margin-top: 15px;
  }
  .slider .slide_dot ul li {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    background-color: #999999;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 100%;
    opacity: 0.6;
    text-indent: -9999px;
    cursor: pointer;
  }
  .slider .slide_dot ul li:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.9;
  }
  .slider .slider_on {
    display: block;
    float: left;
    height: 17px !important;
    width: 17px !important;
    background-color: #0397fe !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    opacity: 1 !important;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .slider {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    width: 300px;
    padding: 20px;
    background-image: url("../img/block_bg.png");
    right: 9%;
    top: 38%;
  }
  .slider .slider_img_pc {
    display: none;
  }
  .slider .slider_img_tablet {
    display: block;
  }
  .slider .slider_img_tablet img {
    width: 100%;
    height: auto;
  }
  .slider .slider_img_mobile {
    display: none;
  }
  .slider .arrow_left {
    position: absolute;
    cursor: pointer;
    left: 0%;
    top: 50%;
    z-index: 120;
  }
  .slider .arrow_right {
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 50%;
    z-index: 121;
  }
  .slider .slide_dot {
    width: 180px;
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 100;
  }
  .slider .slide_dot ul li {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    background-color: #999999;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    opacity: 0.7;
    cursor: pointer;
    text-indent: -9999px;
  }
  .slider .slide_dot ul li:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
  }
  .slider .slider_on {
    display: block;
    float: left;
    height: 17px !important;
    width: 17px !important;
    background-color: #0397fe !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    opacity: 1 !important;
    cursor: none;
  }
}
@media (min-width: 781px) {
  .slider {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 24.12791%;
    float: left;
    margin-right: 1.16279%;
    position: absolute;
    width: 380px;
    padding: 20px;
    background-image: url("../img/block_bg.png");
    right: 5%;
    top: 45%;
  }
  .slider .slider_img_pc {
    display: block;
    background: url("../img/000.jpg");
    width: 1662px;
    height: 400px;
    margin-left: -319px;
    overflow-x: hidden;
  }
  .slider .slider_img_tablet {
    display: none;
  }
  .slider .slider_img_mobile {
    display: none;
  }
  .slider .arrow_left {
    position: absolute;
    cursor: pointer;
    left: 0%;
    top: 50%;
    z-index: 120;
  }
  .slider .arrow_right {
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 50%;
    z-index: 121;
  }
  .slider .slide_dot {
    width: 180px;
    height: 25px;
    margin: 0 auto;
    margin-top: 15px;
    z-index: 100;
  }
  .slider .slide_dot ul li {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    background-color: #999999;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    opacity: 0.7;
    cursor: pointer;
    text-indent: -9999px;
  }
  .slider .slide_dot ul li:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
  }
  .slider .slider_on {
    display: block;
    float: left;
    height: 17px !important;
    width: 17px !important;
    background-color: #0397fe !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    opacity: 1 !important;
    cursor: none;
  }
}

.top_block h6 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 33px;
}

.top_block p {
  color: white;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 18px;
}

.top_block a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.l_link {
  color: black;
  background-color: #e98901;
  margin: 5px 5px;
}

.d_link {
  color: black;
  background-color: #c75ebe;
  margin: 5px 5px;
}

.t_link {
  color: white;
  background-color: #994466;
  margin: 5px 5px;
}

/*==[spotlight]== */
.spotlight {
  color: #b81a35;
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .spotlight {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 0.75em;
  }
  .spotlight:after {
    content: "";
    display: table;
    clear: both;
  }
  .spotlight .soptlight_item_1 {
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 0.75em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .spotlight .soptlight_item_2 {
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 0.75em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.spotlight h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}
@media (min-width: 551px) and (max-width: 780px) {
  .spotlight {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.75439%;
    margin-bottom: 0.75em;
  }
  .spotlight .soptlight_item_1 {
    width: 49.12281%;
    float: left;
    margin-right: 1.75439%;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .spotlight .soptlight_item_2 {
    width: 49.12281%;
    float: right;
    margin-right: 0;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.spotlight h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}
@media (min-width: 781px) {
  .spotlight {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 32.55814%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 0.75em;
  }
  .spotlight .soptlight_item_1, .spotlight .soptlight_item_2 {
    margin-bottom: 1.5em;
    padding: 0 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.spotlight h3 {
  padding-left: 30px;
  padding-bottom: 15px;
  font-weight: 100;
  margin-bottom: 8px;
}

.spotlight h3, .product_item h3 {
  font-size: 30px;
  color: #b81a35;
  font-weight: 100;
}

/*==[product_item]== */
.product_4group_1 {
  background-color: white s;
}

.product_4group_2 {
  display: none;
}

.product_4group_3 {
  display: none;
}

.product_4group_4 {
  display: none;
}

.product_item {
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .product_item {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 0.75em;
  }
  .product_item:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_item .product_show_1, .product_item .product_show_2 {
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 2.25em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show_1:nth-child(2n), .product_item .product_show_2:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .product_item .product_show_1 h4, .product_item .product_show_2 h4 {
    margin-top: 10px;
  }
  .product_item h3 {
    display: block;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  .product_item img {
    width: 105px;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .product_item {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.75439%;
    margin-right: -100%;
    margin-bottom: 0.75em;
  }
  .product_item:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .product_item .product_show_1 {
    width: 49.12281%;
    float: left;
    margin-right: 1.75439%;
    margin-bottom: 2.25em;
    padding: 0 15px 0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show_1 h4 {
    margin-top: 10px;
  }
  .product_item .product_show_2 {
    width: 49.12281%;
    float: right;
    margin-right: 0;
    margin-bottom: 2.25em;
    padding: 0 15px 0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item h3 {
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
  }
  .product_item img {
    width: 105px;
  }
}
@media (min-width: 781px) {
  .product_item {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 66.27907%;
    float: left;
    margin-right: 1.16279%;
    margin-right: -100%;
    margin-left: 0%;
    margin-bottom: 0.75em;
  }
  .product_item .product_show_1 {
    width: 49.4186%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 2.25em;
    padding: 0 20px 10px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show_1 h4 {
    margin-top: 10px;
  }
  .product_item .product_show_2 {
    width: 49.4186%;
    float: right;
    margin-right: 0;
    margin-bottom: 2.25em;
    padding: 0 20px 10px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show_2 h4 {
    margin-top: 10px;
  }
  .product_item h3 {
    float: left;
  }
  .product_item img {
    width: 38%;
  }
}

@media (max-width: 550px) {
  .product_sort_dektop {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    display: none;
  }
  .product_sort_dektop:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .product_sort_dektop {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 61.84211%;
    float: right;
    margin-right: 0;
    margin-right: 15px;
  }
  .product_sort_dektop:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort_dektop a {
    color: black;
    margin-left: 12px;
    float: right;
    margin-bottom: 25px;
  }
}
@media (min-width: 781px) {
  .product_sort_dektop {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 66.27907%;
    float: right;
    margin-right: 0;
    margin-right: 15px;
  }
  .product_sort_dektop:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort_dektop a {
    color: black;
    margin-left: 12px;
    float: right;
    margin-bottom: 25px;
  }
  .product_sort_dektop a:hover {
    color: #b81a35;
  }
}

@media (max-width: 550px) {
  .product_sort_mobile {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .product_sort_mobile:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort_mobile a {
    color: black;
    margin-left: 25px;
    float: left;
    line-height: 25px;
  }
  

}
@media (min-width: 551px) and (max-width: 780px) {
  .product_sort_mobile {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .product_sort_mobile:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .product_sort_mobile {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .product_sort_mobile:after {
    content: "";
    display: table;
    clear: both;
  }
}

.product_show_1 img, .product_show_2 img {
  float: left;
  margin-right: 10px;
}

.product_show_1 h4, .product_show_2 h4 {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 18px;
  margin-left: 118px;
  font-weight: 800;
}
.product_show_1 h4 a, .product_show_2 h4 a {
  color: black;
}
.product_show_1 h4 a:hover, .product_show_2 h4 a:hover {
  color: #444444;
}

.product_show_1 p, .product_show_2 p {
  font-size: 14px;
  line-height: 19px;
  margin-left: 42%;
  margin-bottom: 4px;
}

@media (max-width: 550px) {
.product_show_1 p, .product_show_2 p {
  font-size: 14px;
  line-height: 19px;
  margin-left: 118px;
  margin-bottom: 4px;
}
}

@media (min-width: 551px) and (max-width: 780px) {
 .product_show_1 p, .product_show_2 p {
  font-size: 14px;
  line-height: 19px;
  margin-left: 125px;
  margin-bottom: 4px;
}
}
.product_show_1 a, .product_show_2 a {
  color: #b81a35;
}

.product_show_1 a:hover {
  color: #e98901;
}

.product_show_2 a:hover {
  color: #e98901;
}

.pricetag {
  font-size: 15px;
  color: #333333;
  font-weight: 800;
}

/*==[Popular Downloads]== */
.downloads {
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .downloads {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 0.75em;
    padding: 0 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads:after {
    content: "";
    display: table;
    clear: both;
  }
  .downloads .download_a, .downloads .download_b {
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 30px;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .downloads {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.75439%;
    margin-bottom: 0.75em;
    padding: 0 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_a {
    width: 49.12281%;
    float: left;
    margin-right: 1.75439%;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_b {
    width: 49.12281%;
    float: right;
    margin-right: 0;
    padding-left: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 781px) {
  .downloads {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 32.55814%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 0.75em;
    padding-right: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_a, .downloads .download_b {
    width: 100%;
    float: left;
    margin-right: 1.16279%;
    padding-left: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
}

.download_a ul li a, .download_b ul li a {
  display: block;
  color: black;
  line-height: 20px;
  padding: 12px 0;
  border-top: 1px dotted #999999;
}

.download_a ul li a:hover {
  color: #b81a35;
}

.download_b ul li a:hover {
  color: #b81a35;
}

.all a {
  display: block;
  color: #555555;
  line-height: 45px;
  border-top: 1px dotted #999999;
}

.all a:hover {
  color: #b81a35;
}

.downloads h3 {
  font-size: 30px;
  color: #b81a35;
  margin-bottom: 23px;
  font-weight: 100;
}

/*==[software_update]== */
@media (max-width: 550px) {
  .software_update {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #cccccc;
    padding: 20px;
    margin: 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.75em;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .software_update {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #cccccc;
    padding: 20px;
    margin: 10px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.75em;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .software_update {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 91.56977%;
    float: left;
    margin-right: 1.16279%;
    border: solid 2px #cccccc;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }
}
.software_update img {
  float: left;
  margin-right: 10px;
}
.software_update h6 {
  line-height: 40px;
  color: #b81a35;
  font-size: 20px;
}
.software_update p {
  color: #333333;
  font-size: 14px;
  line-height: 22px;
}
.software_update a {
  color: #b81a35;
}
.software_update a:hover {
  color: #e98901;
}

/*==[foursection]== */
.foursection {
  background-color: white;
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .foursection {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 0.75em;
  }
  .foursection:after {
    content: "";
    display: table;
    clear: both;
  }
  .foursection .section {
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 21px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .foursection {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.75439%;
    margin-right: -100%;
    margin-bottom: 0.75em;
  }
  .foursection:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .foursection .section {
    width: 48.12281%;
    float: left;
    margin-right: 1.75439%;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section:nth-child(2n) {
   
    margin-right: 0;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 21px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 781px) {
  .foursection {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    width: 66.27907%;
    float: left;
    margin-right: 1.16279%;
    margin-right: -100%;
    margin-left: 0%;
    margin-bottom: 0.75em;
  }
  .foursection .section {
    width: 48.4186%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 2.25em;
    padding-right: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section:nth-child(2n) {
    
    margin-right: 0;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 21px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }
}
.foursection h4 {
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  margin-bottom: 5px;
}
.foursection h4 a {
  color: black;
}
.foursection h4 a:hover {
  color: #b81a35;
}

.section img {
  margin-bottom: 14px;
}

.section_go a {
  margin-top: 5px;
  color: #b81a35;
  font-size: 14px;
}

.section_go a:hover {
  color: #e98901;
}

/*==[follow]== */
.follow {
  width: 100%;
  padding: 30px 0;
  background-color: #38bfe6;
}

@media (max-width: 550px) {
  .follow_content {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .follow_content {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
.follow_content h3 {
  padding-left: 20px;
}
@media (min-width: 781px) {
  .follow_content {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

.follow_title {
  float: left;
  margin-right: 20px;
}
.follow_title h3 {
  font-size: 30px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;
}

.follow_socialgroup {
  float: left;
}
.follow_socialgroup img {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

.follow_a {
  color: white;
  background-image: url("../img/follow_bg.png");
}
@media (max-width: 550px) {
  .follow_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_a img {
    display: block;
    width: 100%;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .follow_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.12281%;
    float: left;
    margin-right: 1.75439%;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_a img {
    display: block;
    width: 100%;
  }
}
@media (min-width: 781px) {
  .follow_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: left;
    margin-right: 1.16279%;
    padding: 20px 20px 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_a p {
    margin-left: 190px;
  }
}

.follow_b {
  color: white;
  background-image: url("../img/follow_bg.png");
}
@media (max-width: 550px) {
  .follow_b {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.35294%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_b img {
    display: block;
    width: 100%;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .follow_b {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.12281%;
    float: right;
    margin-right: 0;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_b img {
    display: block;
    width: 100%;
  }
}
@media (min-width: 781px) {
  .follow_b {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: right;
    margin-right: 0;
    padding: 20px 20px 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_b p {
    margin-left: 190px;
  }
}

.follow_a img, .follow_b img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.follow_a p, .follow_b p {
  color: white;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 5px;
}

.follow_a a, .follow_b a {
  color: #b81a35;
}

.follow_a a:hover {
  color: white;
}

.follow_b a:hover {
  color: white;
}
