html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-family: "Open Sans";
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-family: "Open Sans";
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

.clear {
  clear: both;
}

/*==[header]== */
.blackgalss {
 display:none
}

.topitem {
  width: 100%;
  height: 28px;
  background-color: black;
}


.header_promotion {
  width: 260px;
  float: left;
  margin-left: 20px;
}

.header_promotion h6 {
  color: white;
  font-size: 13px;
  line-height: 28px;
  font-weight:normal;
}
.header_promotion a {
  color: white;
}
.header_promotion a:hover {
  color: red;
}




  .icon_wrapper {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

.icon_wrapper .person_name, .icon_wrapper .person_icon, .icon_wrapper .shopping_icon, .icon_wrapper .language, .icon_wrapper .search {
  height: 28px;
  line-height: 28px;
  float: right;
  margin-left: 15px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.icon_wrapper .person_icon {
  margin-left: -5px;
}

.shopping_icon {
  position: relative;
}

.shopcount {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #b81a35;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  top: 3px;
  left: 17px;
}

.header_wrapper {
  width: 100%;
  background: #D8D8D8;
  position: absolute;
  z-index: 999;
}

.logo {
  z-index: 1001;
}


  .logo {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .logo:after {
    content: "";
    display: table;
    clear: both;
  }





  .mobile_menu {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .mobile_menu:after {
    content: "";
    display: table;
    clear: both;
  }





  .tablet_menu {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .tablet_menu:after {
    content: "";
    display: table;
    clear: both;
  }


.header {
  height: 70px;
}



  .header {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo_pc {
    position: absolute;
    opacity: inherit !important;
    float: left;
    top: 20px;
    left: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1500;
  }
  .header .nav_desktop {
    position: absolute;
    width: 560px;
    height: 70px;
    left: 180px;
  }
  .header .nav_desktop ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    font-size: 17px;
    color: black;
    font-family: "Open Sans";
    padding: 0 10px;
  }
  .header .nav_tablet {
    display: none;
  }
  .header .search_inmenu {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 850px;
    top: 20px;
  }


.ugly_store {
  height: 70px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 10px;
}

.ugly_border a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  color: #b81a35;
  font-family: "Open Sans";
  padding: 0 10px;
  border: 1px solid #999999;
  margin-top: 20px;
  border-radius: 18px;
}

.ugly_border_hover {
  color: white;
}

#search {
  width: 170px;
  padding: 10px;
  float: left;
  background-color: none;
}

#s {
  width: 145px;
  height: 20px;
  margin-left: -3px;
  margin-top: -3px;
  float: left;
  border: none;
  background: none;
  color: #888888;
  border-bottom: 1px solid #999999;
}

#r {
  width: 25px;
  height: 25px;
  margin-top: -5px;
  float: right;
  cursor: pointer;
  border: none;
  background-color: none;
  background: url(../img/Search004.png) right;
}

/*==[dropdown]== */
.mobile_go {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: black;
  top: 45px;
  z-index: 400;
}
.mobile_go ul li a {
  display: block;
  color: white;
  text-align: center;
  line-height: 55px;
  border-bottom: 1px solid #333333;
}

.m_ugly {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  background-color: black;
  border-bottom: 1px solid #333333;
}

.m_ugly a {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #666666;
  border-radius: 40px;
  margin-top: 13px;
  color: #b81a35;
}

.tablet_go {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: black;
  top: 97px;
  z-index: 400;
}
.tablet_go ul li a {
  display: block;
  color: white;
  text-align: center;
  line-height: 55px;
  border-bottom: 1px solid #333333;
}

.mobile_go_icon {
  width: 272px;
  height: 28px;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 10px;
}

.iconbox {
  float: left;
  margin: 0 20px;
}

.mobile_search {
  height: 80px;
  background-color: black;
  border-top: 1px solid #333333;
}

.drop_search_go {
  width: 420px;
  margin: 0 auto;
}

#drop_m_search {
  width: 420px;
  padding: 10px;
  background-position: 180px 9px;
}

#drop_search_input {
  width: 87%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

#drop_search_go {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  float: right;
  cursor: pointer;
  border: none;
  background: url(../img/m_search.png) right;
}

.search_go {
  width: 240px;
  margin: 0 auto;
}

#mobile_m_search {
  width: 240px;
  padding: 10px;
}

#mobile_search_input {
  width: 76%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

#mobile_search_go {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  float: right;
  cursor: pointer;
  border: none;
  background-color: #998877;
  background: url(../img/m_search.png) right;
}

.mobile_login {
  height: 180px;
  background-color: black;
  border-top: 1px solid #333333;
  padding-top: 20px;
}

.mobile_login_go {
  width: 90%;
  margin: 15 auto;
}
.mobile_login_go a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
}

.mobile_language {
  height: 400px;
  background-color: black;
  border-top: 1px solid #333333;
  padding-top: 20px;
}

.mobile_language_a {
  width: 40%;
  float: left;
  margin-left: 35px;
}

.mobile_language_b {
  width: 40%;
  float: right;
  margin-right: 35px;
}

.mobile_language_a a, .mobile_language_b a {
  display: block;
  color: white;
  font-size: 13px;
  width: 100%;
}
.mobile_language_a h6, .mobile_language_b h6 {
  font-size: 15px;
  font-weight: 800;
  color: #b81a35;
  margin-top: 20px;
}

/*=================== */
/*Product */
.drop_product {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}




  .menulist {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menulist:after {
    content: "";
    display: table;
    clear: both;
  }


.list_a {
  border-right: 1px solid #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
}



  .list_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 32.55814%;
    float: left;
    margin-right: 1.16279%;
  }
  .list_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_a .a_1 {
    float: left;
    width: 40%;
    padding: 0 10px;
  }
  .list_a .a_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_a .a_1 a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_a .a_2 {
    float: right;
    width: 40%;
    padding: 0 10px;
  }
  .list_a .a_2 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_a .a_2 a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


.list_b {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



  .list_b {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 15.69767%;
    float: left;
    margin-right: 1.16279%;
  }
  .list_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_b .b_1 {
    padding: 0 5px;
  }
  .list_b .b_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_b .b_1 a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


.list_c {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



  .list_c {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: right;
    margin-right: 0;
  }
  .list_c:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_c .c_1 {
    float: left;
    width: 31%;
    padding: 0 15px 0 0px;
  }
  .list_c .c_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_1 a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_c .c_2 {
    float: left;
    width: 31%;
    padding: 0 15px 0 0px;
  }
  .list_c .c_2 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_2 a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_c .c_3 {
    float: left;
    width: 29%;
    padding: 0 15px 0 0px;
  }
  .list_c .c_3 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_3 a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


.viewall a {
  display: block;
  width: 100%;
  margin-top: 40px;
  margin-left: 10px;
  color: #b81a35;
  text-align: right;
}

.list_a h5 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 800;
  line-height: 23px;
  color: #b81a35;
  margin-left: 8px;
  margin-bottom: 10px;
}
.list_a h5 a {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
}
.list_a h5 a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: #b81a35;
}
.list_a h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 15px;
  color: white;
  margin-left: 3px;
}

.list_b h5 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 800;
  line-height: 23px;
  color: #b81a35;
}
.list_b h5 a {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
}
.list_b h5 a:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: #b81a35;
}
.list_b h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 15px;
  color: white;
  margin-left: 3px;
}

.list_c h5 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 800;
  line-height: 23px;
  color: #b81a35;
}
.list_c h5 a {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
}
.list_c h5 a:hover {
  color: #b81a35;
}
.list_c h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 15px;
  color: white;
  margin-left: 3px;
}

/*Store */
.drop_store {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}




  .store_menulist {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .store_menulist:after {
    content: "";
    display: table;
    clear: both;
  }





  .center {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
  }
  .center:after {
    content: "";
    display: table;
    clear: both;
  }


.store_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}


  .store_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .store_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .store_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .store_a a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


/*downloas */
.drop_downloas {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}




.downloas_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}


  .downloas_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .downloas_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .downloas_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .downloas_a a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


/*Support */
.drop_Support {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}




  .Support_menulist {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .Support_menulist:after {
    content: "";
    display: table;
    clear: both;
  }


.support_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}


  .support_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .support_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .support_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .support_a a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


/*company */
.drop_company {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}


  .company_menulist {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .company_menulist:after {
    content: "";
    display: table;
    clear: both;
  }


.company_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}

  .company_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .company_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .company_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .company_a a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }


/*===dropdown/login=== */
.login, .menu_search, .menu_language {
  width: 100%;
  background-color: black;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  position: absolute;
  z-index: 300;
  top: 98px;
  overflow: hidden;
}





  .login_content {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 40px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a a {
    color: white;
    text-decoration: underline;
  }


  .login_content .login_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 28.55814%;
    float: left;
    margin-right: 1.16279%;
  }
  .login_content .login_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a:nth-child(3n) {
    float: right;
    margin-right: 0;
  }

.login_content h6 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.login_content p {
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-bottom: 20px;
}

.loginlink a {
  display: block;
  background-color: orange;
  float: left;
  color: black !important;
  line-height: 35px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none !important;
}

.mobile_loginlink a {
  display: block;
  float: right;
  background-color: orange;
  color: black !important;
  line-height: 35px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-decoration: none !important;
}

/*==[language]== */



  .language_content {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }


.language_go {
  margin-bottom: 20px;
}



  .language_go {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 23.12791%;
    float: left;
    margin-right: 1.16279%;
    border-right: 1px solid #555555;
    height: 280px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .language_go:after {
    content: "";
    display: table;
    clear: both;
  }
  .language_go:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

.language_go ul li a {
  display: block;
  color: white;
  line-height: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}
.language_go ul li a:hover {
  color: #b81a35;
}
.language_go h6 {
  color: #b81a35;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

/*==[login_input]== */
#login_search {
  width: 100%;
}

#login_email {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 15px;
  border: 1px solid white;
}

#login_psw {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 15px;
  border: 1px solid white;
}

#m_search {
  width: 450px;
  padding: 10px;
  background: url(../img/icon_4.png) no-repeat;
  background-position: 430px 9px;
}

#search_input {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}




  .search_content {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }


.search_go {
  margin-top: 20px;
}



  .search_go {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: left;
    margin-right: 1.16279%;
    margin-right: -100%;
    margin-left: 25.2907%;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-family: "Open Sans";
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

.clear {
  clear: both;
}

/*==[footer]== */
.footer_wrapper {
  width: 100%;
  background-color: #e2e2e2;
  padding-top: 40px;
  padding-bottom: 30px;
}




  .footer_content {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }





  .footer_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 90px;
    margin-left: auto;
    margin-right: auto;
    
    float: left;
    margin-right: 1.16279%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(4n) {
    float: right;
    margin-right: 0;
  }

.footer_a h4 {
  font-size: 15px;
  color: black;
}
.footer_a ul {
  margin-bottom: 20px;
}
.footer_a ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 28px;
}
.footer_a a:hover {
  color: #b81a35;
}

.foot_bottomtext {
  font-size: 13px;
  margin-top: 30px;
}



  .foot_bottomtext {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin: 0 auto;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }

.foot_bottomtext ul li a {
  display: block;
  float: left;
  padding: 0 30px 0 0;
  font-size: 14px;
  color: black;
}
.foot_bottomtext a:hover {
  color: #b81a35;
}
.foot_bottomtext p {
  display: block;
  float: left;
  color: black;
}


* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

.clear {
  clear: both;
}

/*==[wrapper]== */



  .wrapper {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }


/*==[slider]== */
.slider_wrapper {
  width: 100%;
  overflow-x: hidden;
}

.slider {
  position: relative;
}



  .slider {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 24.12791%;
    float: left;
    margin-right: 1.16279%;
    position: absolute;
    width: 380px;
    padding: 20px;
    background-image: url("../img/block_bg.png");
    right: 5%;
    top: 45%;
  }
  .slider .slider_img_pc {
    display: block;
    background: url("../img/000.jpg");
    width: 1662px;
    height: 400px;
    margin-left: -319px;
    overflow-x: hidden;
  }
  .slider .slider_img_tablet {
    display: none;
  }
  .slider .slider_img_mobile {
    display: none;
  }
  .slider .arrow_left {
    position: absolute;
    cursor: pointer;
    left: 0%;
    top: 50%;
    z-index: 120;
  }
  .slider .arrow_right {
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 50%;
    z-index: 121;
  }
  .slider .slide_dot {
    width: 250px;
    height: 25px;
    bottom: 3px;
    left: 45%;
    z-index: 100;
	margin-top: 20px;
	margin-left: 420px;
  }
  .slider .slide_dot ul li {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    background-color: #999;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    opacity: 0.7;
    cursor: pointer;
    border: 1px solid #babbbc;
    text-indent: -9999px;
  }
  .slider .slide_dot ul li:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
  }
  .slider .slider_on {
    display: block;
    float: left;
    height: 17px !important;
    width: 17px !important;
    background-color: #0397fe !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    opacity: 1 !important;
    cursor: none;
  }


.top_block h6 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 33px;
}

.top_block p {
  color: white;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 18px;
}

.top_block a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.l_link {
  color: black;
  background-color: #e98901;
  margin: 5px 5px;
}

.d_link {
  color: black;
  background-color: #c75ebe;
  margin: 5px 5px;
}

.t_link {
  color: white;
  background-color: #994466;
  margin: 5px 5px;
}

/*==[spotlight]== */
.spotlight {
  color: #b81a35;
  margin-bottom: 1.5em;
}

.spotlight h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}

.spotlight h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}

  .spotlight {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 32.55814%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 0.75em;
  }
  .spotlight .soptlight_item_1, .spotlight .soptlight_item_2 {
    margin-bottom: 1.5em;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

.spotlight h3 {
  padding-left: 30px;
  padding-bottom: 15px;
  font-weight: 100;
  margin-bottom: 8px;
}

.spotlight h3, .product_item h3 {
  font-size: 30px;
  color: #b81a35;
  font-weight: 100;
}

/*==[product_item]== */
.product_4group_1 {
  background-color: white s;
}

.product_4group_2 {
  display: none;
}

.product_4group_3 {
  display: none;
}

.product_4group_4 {
  display: none;
}

.product_item {
  margin-bottom: 1.5em;
}



   .product_item {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 66.27907%;
    float: left;
    margin-right: 1.16279%;
    margin-right: -100%;
    margin-left: 0%;
    margin-bottom: 0.75em;
  }
  .product_item .product_show_1 {
    width: 49.4186%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 2.25em;
    padding: 0 20px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show_1 h4 {
    margin-top: 10px;
  }
  .product_item .product_show_2 {
    width: 49.4186%;
    float: right;
    margin-right: 0;
    margin-bottom: 2.25em;
    padding: 0 20px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show_2 h4 {
    margin-top: 10px;
  }
  .product_item h3 {
    float: left;
  }
  .product_item img {
    width: 38%;
  }



 .product_sort_dektop {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 66.27907%;
    float: right;
    margin-right: 0;
    margin-right: 15px;
  }
  .product_sort_dektop:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort_dektop a {
    color: black;
    margin-left: 12px;
    float: right;
    margin-bottom: 25px;
  }
  .product_sort_dektop a:hover {
    color: #b81a35;
  }




  .product_sort_mobile {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .product_sort_mobile:after {
    content: "";
    display: table;
    clear: both;
  }


.product_show_1 img, .product_show_2 img {
  float: left;
  margin-right: 10px;
}

.product_show_1 h4, .product_show_2 h4 {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 18px;
  margin-left: 118px;
  font-weight: 800;
}
.product_show_1 h4 a, .product_show_2 h4 a {
  color: black;
}
.product_show_1 h4 a:hover, .product_show_2 h4 a:hover {
  color: #444444;
}

.product_show_1 p, .product_show_2 p {
  font-size: 14px;
  line-height: 19px;
  margin-left: 118px;
  margin-bottom: 4px;
}

.product_show_1 a, .product_show_2 a {
  color: #b81a35;
}

.product_show_1 a:hover {
  color: #e98901;
}

.product_show_2 a:hover {
  color: #e98901;
}

.pricetag {
  font-size: 15px;
  color: #333333;
  font-weight: 800;
}

/*==[Popular Downloads]== */
.downloads {
  margin-bottom: 1.5em;
}


  .downloads {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.75439%;
    margin-bottom: 0.75em;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_a {
    width: 49.12281%;
    float: left;
    margin-right: 1.75439%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_b {
    width: 49.12281%;
    float: right;
    margin-right: 0;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }


  .downloads {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 32.55814%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 0.75em;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_a, .downloads .download_b {
    width: 100%;
    float: left;
    margin-right: 1.16279%;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
  }


.download_a ul li a, .download_b ul li a {
  display: block;
  color: black;
  line-height: 20px;
  padding: 12px 0;
  border-top: 1px dotted #999999;
}

.download_a ul li a:hover {
  color: #b81a35;
}

.download_b ul li a:hover {
  color: #b81a35;
}

.all a {
  display: block;
  color: #555555;
  line-height: 45px;
  border-top: 1px dotted #999999;
}

.all a:hover {
  color: #b81a35;
}

.downloads h3 {
  font-size: 30px;
  color: #b81a35;
  margin-bottom: 23px;
  font-weight: 100;
}

/*==[software_update]== */



  .software_update {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 91.56977%;
    float: left;
    margin-right: 1.16279%;
    border: solid 2px #cccccc;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }

.software_update img {
  float: left;
  margin-right: 10px;
}
.software_update h6 {
  line-height: 40px;
  color: #b81a35;
  font-size: 20px;
}
.software_update p {
  color: #333333;
  font-size: 14px;
  line-height: 22px;
}
.software_update a {
  color: #b81a35;
}
.software_update a:hover {
  color: #e98901;
}

/*==[foursection]== */
.foursection {
  background-color: white;
  margin-bottom: 1.5em;
}



  .foursection {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 66.27907%;
    float: left;
    margin-right: 1.16279%;
    margin-right: -100%;
    margin-left: 0%;
    margin-bottom: 0.75em;
  }
  .foursection .section {
    width: 47.4186%;
    float: left;
    margin-right: 1.16279%;
    margin-bottom: 2.25em;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 21px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }

.foursection h4 {
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  margin-bottom: 5px;
}
.foursection h4 a {
  color: black;
}
.foursection h4 a:hover {
  color: #b81a35;
}

.section img {
  margin-bottom: 14px;
}

.section_go a {
  margin-top: 5px;
  color: #b81a35;
  font-size: 14px;
}

.section_go a:hover {
  color: #e98901;
}

/*==[follow]== */
.follow {
  width: 100%;
  padding: 30px 0;
  background-color: #38bfe6;
}


.follow_content h3 {
  padding-left: 20px;
}

  .follow_content {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }


.follow_title {
  float: left;
  margin-right: 20px;
}
.follow_title h3 {
  font-size: 30px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;
}
.follow_socialgroup img {
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
}

.follow_a {
  color: white;
  background-image: url("../img/follow_bg.png");
}



  .follow_a {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: left;
    margin-right: 1.16279%;
    padding: 20px 20px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_a p {
    margin-left: 190px;
  }


.follow_b {
  color: white;
  background-image: url("../img/follow_bg.png");
}


  .follow_b {
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: right;
    margin-right: 0;
    padding: 20px 20px 10px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow_b p {
    margin-left: 190px;
  }


.follow_a img, .follow_b img {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.follow_a p, .follow_b p {
  color: white;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 5px;
}

.follow_a a, .follow_b a {
  color: #b81a35;
}

.follow_a a:hover {
  color: white;
}

.follow_b a:hover {
  color: white;
}
