/*==[footer]== */
.footer_wrapper {
  width: 100%;
  background-color: #e2e2e2;
  padding-top: 40px;
  padding-bottom: 30px;
}

@media (max-width: 550px) {
  .footer_content {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .footer_content {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .footer_content {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 550px) {
  .footer_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 48.82353%;
    float: left;
    margin-right: 2.35294%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .footer_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.12281%;
    float: left;
    margin-right: 1.75439%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 781px) {
  .footer_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 24.12791%;
    float: left;
    margin-right: 1.16279%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
.footer_a h4 {
  font-size: 15px;
  color: black;
  font-weight: 400;
}
.footer_a ul {
  margin-bottom: 20px;
}
.footer_a ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 28px;
}
.footer_a a:hover {
  color: #b81a35;
}

.foot_bottomtext {
  font-size: 13px;
  margin-top: 30px;
}
@media (max-width: 550px) {
  .foot_bottomtext {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .foot_bottomtext {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    margin: 0 auto;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .foot_bottomtext {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin: 0 auto;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }
}
.foot_bottomtext ul li a {
  display: block;
  float: left;
  padding: 0 30px 0 0;
  font-size: 14px;
  color: black;
}
.foot_bottomtext a:hover {
  color: #b81a35;
}
.foot_bottomtext p {
  display: block;
  float: left;
  color: black;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

.clear {
  clear: both;
}