@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}



/*==[header]== */
.blackgalss {
  position: absolute;
  width: 0;
  height: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 250;
}

.topitem {
  width: 100%;
  height: 28px;
  background-color: black;
}
@media (max-width: 550px) {
  .topitem {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .topitem:after {
    content: "";
    display: table;
    clear: both;
  }
}

.header_promotion {
  width: 590px;
  float: left;
  margin-left: 20px;
}

.header_promotion  img{
   height:28px;
   margin-right:5px;
}
@media (max-width: 550px) {
  .header_promotion {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .header_promotion:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .header_promotion {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .header_promotion:after {
    content: "";
    display: table;
    clear: both;
  }
}
.header_promotion h6 {
  color: white;
  font-size: 13px;
  line-height: 28px;
}
.header_promotion a {
  color: white;
}
.header_promotion img {
  float: left;
}

@media (max-width: 550px) {
  .icon_wrapper {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .icon_wrapper {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .icon_wrapper {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
.icon_wrapper .person_name, .icon_wrapper .person_icon, .icon_wrapper .shopping_icon, .icon_wrapper .language, .icon_wrapper .search {
  height: 28px;
  line-height: 28px;
  float: right;
  margin-left: 15px;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.icon_wrapper .person_icon {
  margin-left: -5px;
}

.shopping_icon {
  position: relative;
}

.shopcount {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #b81a35;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  top: 3px;
  left: 17px;
}

.header_wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: 999;
}

.logo {
  z-index: 1001;
}
@media (max-width: 550px) {
  .logo {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 110px;
    height: 30px;
    opacity: 1;
    top: 8px;
    left: 10%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .logo:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .logo {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 45px;
    left: 7%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .logo:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .logo {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .logo:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 550px) {
  .mobile_menu {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: 456px;
    position: absolute;
    top: 15px;
    right: 5%;
    z-index: 1000;
  }
  .mobile_menu:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .mobile_menu {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .mobile_menu:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .mobile_menu {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .mobile_menu:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 550px) {
  .tablet_menu {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .tablet_menu:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .tablet_menu {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: 456px;
    position: absolute;
    top: 53px;
    right: 6%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1001;
  }
  .tablet_menu:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .tablet_menu {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .tablet_menu:after {
    content: "";
    display: table;
    clear: both;
  }
}

.header {
  height: 70px;
}
@media (max-width: 550px) {
  .header {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 45px;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo_pc {
    display: none;
  }
  .header .nav_tablet, .header .nav_desktop {
    display: none;
  }
  .header .search_inmenu {
    display: none;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .header {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo_pc {
    display: none;
  }
  .header .nav_tablet {
    position: absolute;
    width: 300px;
    height: 70px;
    left: 32%;
  }
  .header .nav_tablet ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    color: black;
    font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
    padding: 0 10px;
  }
  .header .nav_desktop {
    display: none;
  }
  .header .search_inmenu {
    display: none;
  }
}
@media (min-width: 781px) {
  .header {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo_pc {
    position: absolute;
    opacity: inherit !important;
    float: left;
    top: 20px;
    left: 25px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1500;
  }
  .header .nav_desktop {
    position: absolute;
    width: 700px;
    height: 70px;
    left: 180px;
  }
  .header .nav_desktop ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
    font-size: 17px;
    color: black;
    font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
    padding: 0 10px;
  }
  .header .nav_tablet {
    display: none;
  }
  .header .search_inmenu {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 850px;
    top: 20px;
  }
}

.ugly_store {
  height: 70px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0 10px;
}

.ugly_border a {
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 17px;
  color: #b81a35;
  font-family: "Open Sans", "Segoe UI", "Meiryo", "微軟正黑體", "MS UI Gothic", "MS PGothic", Arial, Helvetica, sans-serif;
  padding: 0 10px;
  border: 1px solid #999999;
  margin-top: 20px;
  border-radius: 18px;
}

.ugly_border_hover {
  color: white;
}

#search {
  width: 170px;
  padding: 10px;
  float: left;
  background-color: none;
}

#s {
  width: 145px;
  height: 20px;
  margin-left: -3px;
  margin-top: -3px;
  float: left;
  border: none;
  background: none;
  color: #888888;
  border-bottom: 1px solid #999999;
}

#r {
  width: 25px;
  height: 25px;
  margin-top: -5px;
  float: right;
  cursor: pointer;
  border: none;
  background-color: none;
  background: url(../img/Search004.png) right;
}

/*==[dropdown]== */
.mobile_go {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: black;
  top: 45px;
  z-index: 400;
}
.mobile_go ul li a {
  display: block;
  color: white;
  text-align: center;
  line-height: 55px;
  border-bottom: 1px solid #333333;
}

.m_ugly {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  background-color: black;
  border-bottom: 1px solid #333333;
}

.m_ugly a {
  display: block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #666666;
  border-radius: 40px;
  margin-top: 13px;
  color: #b81a35;
}

.tablet_go {
  position: absolute;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: black;
  top: 97px;
  z-index: 400;
}
.tablet_go ul li a {
  display: block;
  color: white;
  text-align: center;
  line-height: 55px;
  border-bottom: 1px solid #333333;
}

.mobile_go_icon {
  width: 272px;
  height: 28px;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 10px;
}

.iconbox {
  float: left;
  margin: 0 20px;
}

.mobile_search {
  height: 80px;
  background-color: black;
  border-top: 1px solid #333333;
}

.drop_search_go {
  width: 420px;
  margin: 0 auto;
}

#drop_m_search {
  width: 420px;
  padding: 10px;
  background-position: 180px 9px;
}

#drop_search_input {
  width: 87%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

#drop_search_go {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  float: right;
  cursor: pointer;
  border: none;
  background: url(../img/m_search.png) right;
}

.search_go {
  width: 240px;
  margin: 0 auto;
}

#mobile_m_search {
  width: 240px;
  padding: 10px;
}

#mobile_search_input {
  width: 76%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

#mobile_search_go {
  width: 25px;
  height: 25px;
  margin-top: 0px;
  float: right;
  cursor: pointer;
  border: none;
  background-color: #998877;
  background: url(../img/m_search.png) right;
}

.mobile_login {
  height: 180px;
  background-color: black;
  border-top: 1px solid #333333;
  padding-top: 20px;
}

.mobile_login_go {
  width: 90%;
  margin: 15 auto;
  margin-left: 20px;
}
.mobile_login_go a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 15px;
}

.mobile_language {
  height: 400px;
  background-color: black;
  border-top: 1px solid #333333;
  padding-top: 20px;
}

.mobile_language_a {
  width: 40%;
  float: left;
  margin-left: 35px;
}

.mobile_language_b {
  width: 40%;
  float: right;
  margin-right: 35px;
}

.mobile_language_a a, .mobile_language_b a {
  display: block;
  color: white;
  font-size: 13px;
  width: 100%;
}
.mobile_language_a h6, .mobile_language_b h6 {
  font-size: 15px;
  font-weight: 800;
  color: #b81a35;
  margin-top: 20px;
}

/*=================== */
/*Product */
.drop_product {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}

@media (max-width: 550px) {
  .menulist {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .menulist {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .menulist {
    *zoom: 1;
    max-width: 900px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}

.list_a {
  /*border-right: 1px solid #555555;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 15px;
}
@media (max-width: 550px) {
  .list_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .list_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .list_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    float: left;
    margin-right: 3%;
    margin-left: 7%;
  }
  .list_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_a .a_1 {
    width: 90%;
    padding: 0 10px;
  }
  .list_a .a_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_a .a_1 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_a .a_2 {
    width: 90%;
    padding: 0 10px;
  }
  .list_a .a_2 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_a .a_2 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .list_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    float: left;
    /*margin-right: 1.16279%;*/
  }
  .list_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_a .a_1 {
    float: left;
    width: 90%;
    padding: 0 10px;
	text-align: center;
  }
  .list_a .a_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_a .a_1 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_a .a_2 {
    float: right;
    width: 40%;
    padding: 0 10px;
  }
  .list_a .a_2 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_a .a_2 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

.list_b {
	/*border-right: 1px solid #555555;*/
  margin-top: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 550px) {
  .list_b {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .list_b:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .list_b {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    float: left;
    margin-right: 3%;
  }
  .list_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_b .b_1 {
    padding: 0 5px;
  }
  .list_b .b_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_b .b_1 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .list_b {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 32.5%;
    float: left;
    /*margin-right: 1.16279%;*/
  }
  .list_b:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_b .b_1 {
    padding: 0 10px;
	width:90%;
	text-align: center;
  }
  .list_b .b_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_b .b_1 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

.list_c {
  margin-top: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 550px) {
  .list_c {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .list_c:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .list_c {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
    float: left;
    margin-right: 3%;
  }
  .list_c:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_c .c_1 {
    float: left;
    width: 90%;
    padding: 0 5px;
    margin-bottom: 12px;
  }
  .list_c .c_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_1 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_c .c_2 {
    float: left;
    width: 90%;
    padding: 0 5px;
    margin-bottom: 12px;
  }
  .list_c .c_2 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_2 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_c .c_3 {
    float: left;
    width: 90%;
    padding: 0 5px;
  }
  .list_c .c_3 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_3 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .list_c {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    float: left;
   /* margin-right: 0;*/
  }
  .list_c:after {
    content: "";
    display: table;
    clear: both;
  }
  .list_c .c_1 {
    padding: 0 10px;
    width: 90%;
	text-align: center;
  }
  .list_c .c_1 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_1 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_c .c_2 {
    float: left;
    width: 31%;
    padding: 0 15px 0 0px;
  }
  .list_c .c_2 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_2 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
  .list_c .c_3 {
    float: left;
    width: 29%;
    padding: 0 15px 0 0px;
  }
  .list_c .c_3 ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
  }
  .list_c .c_3 a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

.viewall a {
  display: block;
  width: 100%;
  font-size: 14px;
  margin-top: 185px;
  margin-left: 0px;
  color: #FFF;
  text-align: center;
  text-decoration:underline;
  /*border:rgba(184,26,53,0.7) 1px solid;*/
  }
.viewall a:hover{
	text-decoration:none;
}
.free_app{
	font-size:13px;
	color:#FC3;
	text-align:center;
}
.free_app a {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight:400;
  margin-top: 40px;

  color: #FFF;
  text-align: center;
  /*border:rgba(184,26,53,0.5) 1px solid;*/

	/*background-color:rgba(255,204,51,0) !important;*/
	border:rgba(184,26,53,0.7) 1px solid;
  }
.free_app a:hover{
	/*color:#222 !important;*/
  /*border:#FC3 1px solid;*/
  /*background-color:rgba(255,204,51,1) !important;*/
}
.list_a h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-bottom: 10px;
  text-align:center;
  border-bottom: #D007F5 2px solid;
  border-bottom-width:90%;
}
.list_a h5 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 800;
  line-height: 23px;
  color: #b81a35;
  margin-left: 3px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.list_a h5 a {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
}
.list_a h5 a:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: #b81a35;
}
.list_a h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 15px;
  color: white;
  margin-left: 3px;
}

.list_b h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-bottom: 10px;
  text-align:center;
  border-bottom: #FF6600 2px solid;
  border-bottom-width:90%;
}
.list_b h5 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 800;
  line-height: 23px;
  color: #b81a35;
  margin-left:3px;
  text-transform: uppercase;
}
.list_b h5 a {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
}
.list_b h5 a:hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  background-color: #b81a35;
}
.list_b h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 15px;
  color: white;
  margin-left: 3px;
}

.list_c h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-bottom: 10px;
  text-align:center;
  border-bottom: #138DF5  2px solid;
}
.list_c h5 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 800;
  line-height: 23px;
  color: #b81a35;
  margin-left:3px;
  text-transform: uppercase;
}
.list_c h5 a {
  color: #b81a35;
  border-bottom: 1px solid #b81a35;
}
.list_c h5 a:hover {
  color: #b81a35;
}
.list_c h6 {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 8px;
  line-height: 15px;
  color: white;
  margin-left: 3px;
}

/*Store */
.drop_store {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}

@media (max-width: 550px) {
  .store_menulist {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .store_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .store_menulist {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .store_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
  /*
  .free_app{
	text-align:left;
}
.free_app a {
  margin-left: 1%;
  }
  */
}
@media (min-width: 781px) {
  .store_menulist {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .store_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 550px) {
  .center {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .center:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .center {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  .center:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .center {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
  }
  .center:after {
    content: "";
    display: table;
    clear: both;
  }
  
}

.store_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}
@media (max-width: 550px) {
  .store_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .store_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .store_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .store_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .store_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .store_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .store_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 15px;
  }
  .store_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .store_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .store_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

/*downloas */
.drop_downloas {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}

@media (max-width: 550px) {
  .downloas_menulist {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .downloas_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .downloas_menulist {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .downloas_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .downloas_menulist {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .downloas_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}

.downloas_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}
@media (max-width: 550px) {
  .downloas_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .downloas_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .downloas_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .downloas_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .downloas_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .downloas_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .downloas_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .downloas_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .downloas_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .downloas_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

/*Support */
.drop_Support {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}

@media (max-width: 550px) {
  .Support_menulist {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .Support_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .Support_menulist {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .Support_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .Support_menulist {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .Support_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}

.support_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}
@media (max-width: 550px) {
  .support_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .support_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .support_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .support_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .support_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .support_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .support_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .support_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .support_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .support_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

/*company */
.drop_company {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}

@media (max-width: 550px) {
  .company_menulist {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .company_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .company_menulist {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .company_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .company_menulist {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .company_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}

.company_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}
@media (max-width: 550px) {
  .company_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .company_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .company_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .company_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .company_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .company_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .company_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .company_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .company_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .company_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

/*Menu6 */
.drop_menu6 {
  position: absolute;
  width: 100%;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  z-index: 500;
  overflow: hidden;
  top: 98px;
}

@media (max-width: 550px) {
  .menu6_menulist {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu6_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .menu6_menulist {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu6_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .menu6_menulist {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu6_menulist:after {
    content: "";
    display: table;
    clear: both;
  }
}

.menu6_a {
  margin-top: 40px;
  border-left: 1px solid #555555;
}
@media (max-width: 550px) {
  .menu6_a {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu6_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .menu6_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .menu6_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .menu6_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .menu6_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}
@media (min-width: 781px) {
  .menu6_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin-right: 40px;
  }
  .menu6_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .menu6_a ul li a {
    display: block;
    line-height: 15px;
    margin-bottom: 7px;
    color: #d5d3d3;
    padding: 3px;
    font-size: 14px;
    margin-left: 10px;
  }
  .menu6_a a:hover {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    background-color: #b81a35;
  }
}

/*===dropdown/login=== */
.login, .menu_search, .menu_language {
  width: 100%;
  background-color: black;
  height: 0px;
  background: url("../img/dropdown_bg.png");
  position: absolute;
  z-index: 300;
  top: 98px;
  overflow: hidden;
}
@media (max-width: 550px) {
  .login, .menu_search, .menu_language {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .login:after, .menu_search:after, .menu_language:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 550px) {
  .login_content {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .login_content {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 200;
    padding: 0 40px;
    top: 501px;
    opacity: 1;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a a {
    color: white;
    text-decoration: underline;
  }
}
@media (min-width: 551px) and (max-width: 780px) and (min-width: 551px) and (max-width: 780px) {
  .login_content .login_a {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .login_content .login_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .login_content {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 0 40px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a a {
    color: white;
    text-decoration: underline;
  }
}
@media (min-width: 781px) and (min-width: 781px) {
  .login_content .login_a {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 32.55814%;
    float: left;
    margin-right: 1.16279%;
  }
  .login_content .login_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
.login_content h6 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.login_content p {
  font-size: 14px;
  line-height: 21px;
  color: white;
  margin-bottom: 20px;
}

.loginlink a {
  display: block;
  background-color: orange;
  float: left;
  color: black !important;
  line-height: 35px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none !important;
}

.mobile_loginlink a {
  display: block;
  float: right;
  background-color: orange;
  color: black !important;
  line-height: 35px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 30px;
  text-decoration: none !important;
}

/*==[language]== */
@media (max-width: 550px) {
  .language_content {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .language_content {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .language_content {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

.language_go {
  margin-bottom: 20px;
}
@media (max-width: 550px) {
  .language_go {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .language_go:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .language_go {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 23.68421%;
    float: left;
    margin-right: 1.75439%;
    padding-left: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #555555;
    height: 280px;
  }
  .language_go:after {
    content: "";
    display: table;
    clear: both;
  }
  .language_go:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 781px) {
  .language_go {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 24.12791%;
    float: left;
    margin-right: 1.16279%;
    border-right: 1px solid #555555;
    height: 280px;
    padding-left: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .language_go:after {
    content: "";
    display: table;
    clear: both;
  }
  .language_go:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
.language_go ul li a {
  display: block;
  color: white;
  line-height: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}
.language_go ul li a:hover {
  color: #b81a35;
}
.language_go h6 {
  color: #b81a35;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

/*==[login_input]== */
#login_search {
  width: 100%;
}

#login_email {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 15px;
  border: 1px solid white;
}

#login_psw {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 15px;
  border: 1px solid white;
}

#m_search {
  width: 450px;
  padding: 10px;
  background: url(../img/icon_4.png) no-repeat;
  background-position: 430px 9px;
}

#search_input {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

@media (max-width: 550px) {
  .search_content {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .search_content {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .search_content {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

.search_go {
  margin-top: 20px;
}
@media (max-width: 550px) {
  .search_go {
    *zoom: 1;
    max-width: 510px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 780px) {
  .search_go {
    *zoom: 1;
    max-width: 684px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 36.40351%;
    float: left;
    margin-right: 1.75439%;
    margin-right: -100%;
    margin-left: 12.7193%;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 781px) {
  .search_go {
    *zoom: 1;
    max-width: 1032px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.4186%;
    float: left;
    margin-right: 1.16279%;
    margin-right: -100%;
    margin-left: 25.2907%;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }
}

