#big_banner {
	height: 279px;
	width: 960px;
	margin-bottom: 10px;
}
#banner_nav {
	background-image: url(/prog/homepage/img/nav_bar1.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 24px;
	position: absolute;
	width: 203px;
	margin-top: 255px;
	margin-left: 667px;
	padding-right: 20px;
}
#banner_nav ul {
	height: 24px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
}
#banner_nav li {
	background-image: url(/prog/homepage/img/nav_bar2.png);
	text-align: center;
	height: 24px;
	width: 35px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	list-style-type: none;
	line-height: 24px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
#banner_nav a {
	display: block;
	height: 24px;
	width: 35px;
	float: left;
	color: #FFCC00;
	text-decoration: none;
}
#banner_nav a:hover {
	display: block;
	height: 24px;
	width: 35px;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
}
#banner_end {
	background-image: url(/prog/homepage/img/nav_bar3.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 15px;
	margin-left: 1px;
}


#index_mid {
	clear: both;
	width: 960px;
}
#product_list {
	width: 720px;
	height: 185px;
	float: left;
	padding-bottom: 30px;
}
.pn {
	font-weight: bold;
	font-size: 13px;
	color: #000000;
	line-height: 20px;
}
.intro_text h1 {
	font-size: 15px;
	line-height: 18px;
	color: #E14804;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.p_price {
	color: #990000;
	margin-bottom: 8px;
}
#link_list {
	float: left;
	width: 720px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.link_more {
	position: absolute;
	margin-top: 5px;
	margin-left: 300px;
}


#link_list h3 {
	color: #E14804;
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}
#link_list ul {
	padding-left: 0px;
	margin-left: 20px;
	margin-top: 0px;
}
#link_list li {
	list-style-type: square;
}
#link_list a {
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
}
#link_list a:hover {
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	color: #FF6600;
}
#free_resources {
	width: 330px;
	float: left;
	padding-right: 15px;
	margin-bottom: 10px;
	border-right:1px dotted #999999;
}
#free_resources li {
	list-style:none;
	margin-bottom: 7px;
}
#popular_links {
	float: left;
	width: 330px;
	padding-left: 15px;
	margin-bottom: 10px;
}

#popular_links ul{}
#popular_links li{
	margin-left:5px;}


#small_banner {
	float: right;
	width: 224px;
	margin-bottom: 4px;
	margin-top: 5px;
}
.s_b {
	padding-bottom: 3px;
}
#index_bottom {
	width: 960px;
}
#news_list {
	background-image: url(/prog/homepage/img/news_bar.jpg
	);
	background-repeat: no-repeat;
	height: 28px;
	width: 930px;
	padding-right: 10px;
	padding-left: 20px;
	padding-top: 7px;
	clear: both;
	overflow: hidden;
	
}
#news_list h3 {
	font-size: 13px;
	width: 80px;
	text-align: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-right-style: solid;
	border-right-color: #999999;
	margin-top: 0px;
	margin-left: 0px;
	height: 22px;
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
}
#news_list h3 a{
	text-decoration: none;
	color: #000000;
	line-height: 22px;
}
#news_list h3 a:hover{
	text-decoration: underline;
	color: #FF6600;
	line-height: 22px;
}
#news_list h4{
	width: 700px;
	padding: 0px;
	float: left;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-weight: normal;

}
#news_list h4 a {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}
#news_list h4 a:hover {
	text-decoration: none;
	color: #FF6600;
	font-size: 12px;
}
#news_point {
	width: 120px;
	padding-top: 0px;
	text-align: right;
	margin-top: 3px;
	float: left;
}
#news_point img {
	padding: 3px;
}
#news_point a {
	text-decoration: none;
	color: #989898;
	font-size: 11px;
}
#news_point a:hover {
	text-decoration: none;
	color: #E04900;
}
#quick_links {
	background-image: url(/prog/homepage/img/q_bk.jpg);
	background-repeat: no-repeat;
	padding-right: 10px;
	padding-left: 25px;
	padding-top: 15px;
	margin-top: 2px;
	padding-bottom: 0px;
	clear: both;
	background-position: left top;
}
.quick_links_part {
	float: left;
	width: 170px;
	margin-right: 15px;
}
#quick_links h3 {
	font-size: 13px;
	margin: 0px;
	padding: 0px;
}

#quick_links ul {
	padding: 0px;
	float: left;
	margin: 0px;
}
#quick_links li {
	padding-right: 13px;
	list-style-type: none;
	padding-left: 0px;
}
#quick_links a {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}
#quick_links a:hover {
	text-decoration: none;
	color: #FF6600;
	font-size: 12px;
	background-color: transparent;
}#index_note {
	clear: both;
	padding-bottom: 15px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
#index_note p{
	font-size: 11px;
	line-height: 15px;
	color: #333333;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#footer #index_note a {
	color: #455eb1;
	text-decoration: none;
}
/*Footer*/
#footer {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #EDEDED;
	padding-top: 30px;
	width: 100%;
	clear: both;
	margin-top: 15px;
	background-image: url(/include/img/footer_bk.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding-bottom: 30px;
	height: auto;
}
#footer a {
	color: #333333;
	text-decoration: none;
}
#footer a:hover {
	color: #990000;
	text-decoration: underline;
}
#social_feedback {
	position: fixed;
	top: 200px;
	right: 0px;
	_position:absolute;/*positionfixedforIE6*/
	_top:expression(documentElement.scrollTop+100);
}
#connect_facebook {
	color: #455EB1;
	margin-top: 8px;
	font-size: 11px;
}
#connect_facebook a {
	text-decoration: none;
	color: #455EB1;
	font-weight: bold;
}
#connect_facebook a:hover {
	text-decoration: underline;
	color: #455EB1;
	font-weight: bold;
}
/* defaults for all examples */
.kwicks {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.kwicks li{
	display: block;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
}

/* example7 */

#example7 {
	margin-top: 8px;
}
#example7 li {
	float: left;
	width: 180px;
	height: 158px;
}
#example7 .kwicks_inner {
	width: 280px;
}
.kwicks_inner h2 {
	font-size: 11px;
	-webkit-text-size-adjust : none;
	line-height: 13px;
	font-weight: normal;
	color: #444444;
	margin: 0px;
	padding: 0px;
	width: 100px;
}
.p_slogan h3 {
	font-size: 12px;
	color: #333333;
	padding: 0px;
	line-height: 18px;
	font-weight: normal;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 0px;
	height: 54px;
}


#example7 .bigLetter1 {
	height: 158px;
	float: left;
	margin-left: 5px;
	margin-right: 8px;
}
#example7 .bigLetter1 span{
	float:left;
	margin-left:15px
}
#example7 .bigLetter {
	height: 158px;
	color: #000000;
	float: left;
	background-image:url(/prog/homepage/img/p_line.gif);
	background-repeat:repeat-y;
	font-size: 11px;
	line-height: 13px;
	background-position: left top;
	padding-right: 8px;
	padding-left: 10px;
}
#example7 .bigLetter span{
	float:left;
	margin-left:15px
}
#example7 .smallLetters {
	display: none;
	text-align: left;
	width: 125px;
	font-size: 12px;
	margin-top: 7px;
	float: left;
	height: 158px;
	padding-right:10px;
}
#example7 li.active .smallLetters {
	display: block;
}
