 .top_block1{
	background-color: #6E6E6E;
}
	
.top_block1 h6 {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 35px;
  font-weight: 200;
}
.top_block1 h5 {
  color: yellow;
  font-size: 21px;
  margin-bottom: 0px;
  line-height: 33px;
  font-weight: 200;
}

.top_block1 p {
  color: white;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 200;
}

.top_block1 a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.top_block1 .l_link {
  color: black;
  background-color: #ff9e2b;
  margin: 5px 5px;
}

.top_block1 .d_link {
  color: black;
  background-color: #34dcfa;
  margin: 5px 5px;
}

.top_block1 .t_link {
  color: white;
  background-color: #994466;
  margin: 5px 5px;
}








 .top_block1{
    position: absolute;
     width: 38%;
    padding: 20px 25px 20px 25px;
    right: 5%;
    top: 35%;
  }
 
 .top_block1 h5 {
  font-size: 30px;
  margin-top: -64px;
  margin-left: -60px;
  line-height: 33px;
  position:absolute;

}



.top_block2{
	background-color: #6E6E6E;
}
	
.top_block2 h6 {
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 33px;
  font-weight: 200;
}
.top_block2 h5 {
  color: yellow;
  font-size: 25px;
  margin-bottom: 0px;
  line-height: 33px;
  font-weight: 200;
}

.top_block2 p {
  color: white;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 200;
}

.top_block2 a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.top_block2 .l_link {
  color: black;
  background-color: #ff9e2b;
  margin: 5px 5px;
}

.top_block2 .d_link {
  color: black;
  background-color: #34dcfa;
  margin: 5px 5px;
}

.top_block2 .t_link {
  color: white;
  background-color: #994466;
  margin: 5px 5px;
}









.top_block2{
    position: absolute;
     width: 35%;
    padding: 20px 25px 20px 25px;
    right: 5%;
    top: 30%;
  }
 
.top_block2 h5 {
  font-size: 30px;
  margin-top: -60px;
  margin-left: -60px;
  line-height: 33px;
  position:absolute;
}

 .top_block2 h3 {
	 color:#FC3;
	 font-size:18px;
	 margin-bottom:10px;
		 }



 .top_block3{
	background-color: #6E6E6E;
}
	
.top_block3 h6 {
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 33px;
  font-weight: 200;
}
.top_block3 h5 {
  color: yellow;
  font-size: 21px;
  margin-bottom: 0px;
  line-height: 33px;
  font-weight: 200;
}

.top_block3 p {
  color: white;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 200;
}

.top_block3 a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.top_block3 .l_link {
  color: black;
  background-color: #ff9e2b;
  margin: 5px 12px 5px 0;
}

.top_block3 .d_link {
  color: black;
  background-color: #34dcfa;
  margin: 5px 5px;
}

.top_block3 .t_link {
  color: white;
  background-color: #994466;
  margin: 5px 5px;
}









 .top_block3{
    position: absolute;
     width: 38%;
    padding: 20px 25px 20px 25px;
    right: 9%;
    bottom: 25%;
  }
 
 .top_block3 h5 {
  font-size: 19px;
  margin-top: -60px;
  line-height: 33px;
  position:absolute;
}


 .top_block3 h3 {
	 color:#FC3;
	 font-size:22px;
	 margin-bottom:10px;
		 }



.top_block4{
	background-color: #6E6E6E;
}
	
.top_block4 h6 {
  color: white;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 33px;
  font-weight: 200;
}
.top_block4 h5 {
  color: yellow;
  font-size: 25px;
  margin-bottom: 0px;
  line-height: 33px;
  font-weight: 200;
}

.top_block4 p {
  color: white;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 3px;
  color: #fff;
  font-weight: 200;
}

.top_block4 a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.top_block4 .l_link {
  color: black;
  background-color: #ff9e2b;
  margin: 5px 5px;
}

.top_block4 .d_link {
  color: black;
  background-color: #34dcfa;
  margin: 5px 5px;
}

.top_block4 .t_link {
  color: white;
  background-color: #994466;
  margin: 5px 5px;
}









.top_block4{
    position: absolute;
     width: 37%;
    padding: 20px 25px 20px 25px;
    right: 5%;
    top: 35%;
  }
 
.top_block4 h5 {
  font-size: 30px;
  margin-top: -60px;
  margin-left: -60px;
  line-height: 33px;
  position:absolute;
}
 .top_block4 h3 {
	 color:#FC3;
	 font-size:22px;
	 margin-bottom:10px;
		 }



 .top_block5{
	background-color: #6E6E6E;
	margin-top: 70px;
	margin-right: 10px;
}
	
.top_block5 h6 {
	color:#FFF;
  	font-size: 35px;
  	line-height: 35px;
 	font-weight: 500;
	margin-bottom: 6px;
}
.top_block5 h5 {
  color: yellow;
  font-size: 21px;
  margin-bottom: 6px;
  line-height: 33px;
  font-weight: 200;
}

.top_block5 p {
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 5px;
	color:#FFF;
	font-weight: 500;
}

.top_block5 a {
  display: block;
  float: left;
  height: 35px;
  font-size: 15px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.top_block5 .l_link {
	color: black;
	background-color: #ff9e2b;
	margin: 5px 5px;

}

.top_block5 .d_link {
  color: black;
  background-color: #34dcfa;
   margin: 5px 5px;

}

.top_block5 .t_link {
  color: white;
  background-color: #994466;
    margin: 5px 5px;

}









 .top_block5{
    position: absolute;
    width: 33%;
	padding: 20px 25px 20px 25px;

    right: 6%;
    top: 12%;
  }
 
 .top_block5 h5 {
  font-size: 19px;
  margin-top: -60px;
  line-height: 33px;
  position:absolute;
}

.top_block5 h3{
	font-size: 28px;
	color:#F93;
	margin-bottom:8px
	}

