﻿@charset "utf-8";
/* CSS Document */
       /*----------------------------------------------------------css重置----------------------------------------------------------*/
body,h1,h2,h3,h4,h5,h6,input,form,ul,ol,li,textarea,button,table,th,tr,td {padding:0; margin:0; border:0; font:12px "Microsoft YaHei",sans-serif;}
ol li, ul li {list-style:none;}
textarea {display:block; overflow:auto;}
table{ border-collapse:collapse; border-spacing:0;}

/* Images */
img {padding:0; margin:0; border:0;outline:none;}
*:lang(zh) img {margin:0 0 -4px;}


/* 解决高度自适应的Hack代码 */
.clear {clear:both; height:0; line-height:0; font-size:0;} 
.clearfix { zoom:1; }
.hidden{visibility:hidden;}
:focus {outline: 0;}

/* 页面整体框架控制 */
#layout { margin:0 auto;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-family:"Microsoft YaHei",sans-serif;}
a:link,a:visited{text-decoration:none; font-family:"Microsoft YaHei",sans-serif;}
a:hover{text-decoration:underline; font-family:"Microsoft YaHei",sans-serif;}
ul,form{margin:0px;padding:0px; font-family:"Microsoft YaHei",sans-serif;}

      /*----------------------------------------------------------首页头部----------------------------------------------------------*/
body{ background:#FFF;}
.hc_top_area{ width:100%; height:36px; background:#f7f7f7; border-bottom:1px solid #e1e1e1;}
.hc_top_center{ height:36px; width:1000px; margin:0 auto;}
.hc_top_left{ width:350px; height:36px; float:left; }
.hc_top_left ul li{ float:left; margin-left:8px;}
.hc_top_left ul li a{ color:#333333; text-decoration:none; line-height:36px; vertical-align:middle; font-size:14px;}
.hc_top_left ul li a:hover{ color:#1549a1; }
.link_split{ overflow:hidden; height:14px; line-height:14px; vertical-align:middle; margin-top:12px; width:1px; border-right:1px solid #bcbcbc;-moz-box-shadow :1px 0px 1px #ffffff;   *filter : progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color="#ffffff"); box-shadow :1px 0px 1px #ffffff; }

.hc_top_right{/*width:365px;+width:375px;_width:395px;*/ height:36px; float:right;  }
.hc_top_right ul li{ float:left; margin-left:8px;}
.hc_top_right ul li a{ color:#333333; text-decoration:none; line-height:36px; vertical-align:middle; font-size:14px;}
.hc_top_right ul li a:hover{ color:#1549a1; }
.hc_top_right ul li .blue_color{ color:#1549a1;/* font-weight:bolder;*/}
.find_type{ color:#a7a7a7; width:160px; height:22px;font-size:12px; background:#FFF; border:1px solid #cccccc; border-right:none; float:left; margin-top:6px; padding:0 3px; +padding-top:3px;_padding-top:3px; +height:19px;_height:19px;}
.find_step{ background:url(../images/search.png) no-repeat 5px #ff8400; width:28px; height:24px; cursor:pointer; float:left;margin-top:6px;+float:left;}
.find_step:hover{ background:url(../images/search.png) no-repeat 5px #ffa800;}
.hc_logo_area{ height:93px; width:1000px; margin:0 auto;}
.hc_logo{ background-repeat:no-repeat;width:173px; height:60px; margin:16px 0 0 12px; float:left;}
.hc_ad{ width:355px; height:70px; float:right;}
.ad_1{ margin:12px 0 0 25px;}
.ad_2{ margin:12px 0 0 15px;}



.hc_top_left{ width:750px; height:36px; float:left; }
.hc_top_left ul li img{ width:300px; height:30px; margin-top:3px; margin-left:130px;}

      /*----------------------------------------------------------首页菜单----------------------------------------------------------*/

#subNav{width:100%;height:41px;background-color:#1f2e5b;}
.menu_area{height:41px; width:1000px; margin:0 auto;}
#subNav li{float:left;position:relative; +z-index:99999;}
#subNav .wrap{width:1002px;}
#subNav li a{display:block;width:62px;height:41px;text-align:center;color:#ffffff; font-size:16px; line-height:41px; vertical-align:middle;}
#subNav li a:hover{text-decoration:none}
#subNav li a:hover,#subNav .adv_active a{background-color:#ff5400;color:#fff}
.adv_actives{ +margin-top:-22px;}
.adv_actives a{background-color:#ff5400;color:#fff;}
.fixedSubNav{position:fixed;top:0;left:0;z-index:1000}
.empty-placeholder{height:0px}
.hidden {display: none !important}

.menu_ads{ height:36px; width:100%; border-bottom:1px solid #d5d5d5; -moz-box-shadow :0px 3px 3px #f4f4f4; *filter : progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color="#f4f4f4");  +filter :none;
-webkit-box-shadow :0px 3px 3px #f4f4f4;  box-shadow :0px 3px 3px #f4f4f4; +filter  :none;}
.menu_ads_area{ height:36px; line-height:36px; vertical-align:middle;height:36px; width:1000px; margin:0 auto; position:relative;}
.menu_ads_area ul li{ float:left;}
.menu_ads_area ul li a{ display:block;width:90px;height:36px;text-align:center;color:#333333; font-size:14px; line-height:36px; vertical-align:middle;}

#subNav li .ul_dd {display:none;position:absolute;z-index:10000;top:41px;background:#ff5400;border-bottom:none;+left:-0px;width:130px; text-align:center; z-index:999;/*alpha(opacity=80); 	-moz-opacity:0.8; 	opacity: 0.8;*/}
#subNav li .ul_dd li {display:block;width:130px; text-align:center;float:none;margin-right:0px;height:41px;position:relative;line-height:41px;/*border-bottom:#004E6C 1px solid;*/font-size:12px;z-index:10000;}
#subNav li .ul_dd li a{width:130px; text-align:center; display:block;}
#subNav li .ul_dd li.navmoon {background:#ff6d26;width:100%;height:41px;line-height:41px;}
#subNav li .ul_dd li a:hover{background:#ff6d26;width:100%;height:41px;line-height:41px;}
/* #subNav li .cls_blk{display:none;} */

.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }
.clearfix { *zoom: 1; }

/*2016-12-13要闻菜单修改*/
#subNav .nav_news{position: relative;}
#subNav .nav_news_main{position: absolute;top: 41px;left: 0;background: #fff;border: 1px solid #ff5400;width:800px;z-index: 999;box-shadow: 2px 2px 5px #c7c5c6;display: none;overflow: hidden;}
#subNav .nav_news_main>li{overflow: hidden;float: left;height: 41px;}
#subNav .nav_news_main li span,#subNav .nav_news_main li span a{display: block;float: left;width: 96px;line-height: 41px;color:#ff5400;background-color:#fff6f2;text-align: center;font-size: 14px;}
#subNav .nav_main_r{float: left;margin:0 20px;width: 664px;border-bottom: 1px solid #f3f3f3;}
#subNav .nav_main_r li{color: #1f2e5b;font-size:14px;line-height: 20px;padding: 10px 0;float: left;}
#subNav .nav_main_r li a{display: inline-block;color: #1f2e5b;font-size: 14px;line-height: 20px;width: auto;height: auto;cursor: pointer;padding: 0 12px;float: left;}
#subNav .nav_main_r li.first a{padding-left: 0;border-left: none;}   
#subNav .nav_main_r li a.btn_h{background: none;color:#ff5400;}
      /*----------------------------------------------------------正文部分----------------------------------------------------------*/
.hc_content{ width:1000px; height:auto; margin:0 auto;}
/*ads*/
.hc_ad_2{ height:65px; width:738px; float:left; margin:18px 0 5px 0;}
.hc_ad_3{ height:65px; width:242px; float:right; margin:18px 0 5px 0;}
.hc_ad_4{ height:65px; width:360px; float:left; margin:5px 0 5px 0;}
.hc_ad_5{ height:65px; width:360px; float:left; margin:5px 0 5px 18px;}
.hc_ad_6{ height:65px; width:242px; float:right; margin:5px 0 5px 0;}
.hc_ad_7{ height:65px; width:360px; float:left; margin:20px 0 5px 0;}
.hc_ad_8{ height:65px; width:360px; float:left; margin:20px 0 5px 18px;}
.box_video{ width:242px; height:252px; float:right; margin:15px 0 0 0;  overflow:hidden; background:#ffffff; position:relative;}
.hc_ad_9{ height:75px; width:1000px; float:left; margin:20px 0 5px 0px;}
.hc_ad_10{ height:75px; width:1000px; float:left; margin:20px 0 5px 0px;}
.hc_ad_11{ height:75px; width:1000px; float:left; margin:20px 0 5px 0px;}

.hc_part_1{ width:360px; height:250px; float:left; margin:15px 0 0 0; position:relative;}

.hc_part_1_span{ display:inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');width:355px; height:36px; line-height:36px; vertical-align:middle;}

.hc_part_1 h1{ font-size:18px; color:#004276; font-weight:bold; text-align:center; height:36px; line-height:36px; vertical-align:middle; margin:2px 0 6px 0;width:360px; display:inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.hc_part_1 h1 img{ display:inline; width:56px; height:28px;}
.hc_part_1 h1 a{ color:#004276;}
.hc_part_1 h2{height:25px; line-height:25px; vertical-align:middle;width:360px; display:inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.hc_part_1 h2 a{ color:#004276; padding:0 5px;font-size:14px; }
.hc_part_1 h2 a:hover{ color:#cd0010;}
.dosh_line{ width:100%; height:1px; border-bottom:1px dotted  #e3e3e3; margin:7px auto; margin-bottom:6px;}
.hc_part_1 h3{height:20px; line-height:20px; vertical-align:middle; margin:1px 0;width:360px; display:inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.hc_part_1 h3 a{ color:#ce0a00; padding:0 5px;font-size:12px;}
.hc_part_1 h3 img{ display:inline; width:35px; height:15px; margin-left:10px;}
.hc_part_1 h4{ font-size:18px; color:#004276; font-weight:bold; text-align:center; height:32px; line-height:32px; vertical-align:middle; margin:2px 0 0 0;width:360px; display:inline-block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.hc_part_1 h4 a{ color:#004276;}



/* box */
.hc_part_2{ width:360px; height:250px; float:left; margin:15px 0 0 18px;  position:relative;}
.box{width:360px;margin:0px auto 0;background:#fff;}
.bbb{ border-bottom:1px solid #d1e3f3;border-top:1px solid #d1e3f3; height:35px;line-height:35px;position:relative; }
/*.tab_menu{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;}
.tab_menu li{width:70px;float:left;height:35px;line-height:35px;color:#004276; font-weight:bolder; text-align:center;cursor:pointer;border-right:1px solid #d1e3f3;}
.tab_menu li.current{color:#cd0010; text-decoration:none;font-weight:bolder; background:#fff; height:33px;line-height:33px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; :-99;+z-index:-9; border-left:none; border-top:3px solid #e93200; }
.tab_menu li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:18px;}
.tab_menu li.current a{color:#cd0010;font-weight:bolder;text-decoration:none;}*/
.tab_box{padding:5px 3px 0 ;}
.tab_box li{height:26px;line-height:26px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.tab_box li a{height:26px;line-height:26px;overflow:hidden;font-size:14px;color:#004276;}
.tab_box li a:hover{color:#cd0010;}
.tab_box li span{margin:0 10px 0 0;font-size:14px;color:#b4c6d0;}
.tab_box .hide{display:none;}

.tab_box_yt {padding:5px 3px 0 ;}
.tab_box_yt li{height:25px;line-height:25px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.tab_box_yt li a{height:25px;line-height:25px;overflow:hidden;font-size:14px;color:#004276;}
.tab_box_yt li a:hover{color:#cd0010;}
.tab_box_yt li span{margin:0 10px 0 0;font-size:14px;color:#b4c6d0;}
.tab_box_yt .hide{display:none;}
.hide{display:none;}

.box_part_2{}
.hc_head_sty{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3; }
.hc_head_sty_current{}
.hc_head_sty_current li{width:70px;display:inline-block;color:#cd0010; text-decoration:none;font-weight:bolder; height:33px;line-height:33px; float:left;}
.hc_head_sty_current li.current{width:70px;display:inline-block;color:#cd0010; text-decoration:none;font-weight:bolder; background:#fff; height:33px;line-height:33px; margin-top:-1px; border:1px solid #d1e3f3; border-bottom:1px solid #fff; :-99;+z-index:-9; border-left:none; border-top:3px solid #e93200; }
.hc_new_ads ul li {
float: left;
/*list-style: circle;*/
margin-left: 10px;
}
.hc_head_sty_current a{color:#cd0010;font-weight:bolder;text-decoration:none;font-size:18px; width:70px; display:inline-block; text-align:center;}
.hc_head_sty_current2{width:70px;display:inline-block;color:#cd0010; text-decoration:none;font-weight:bolder; background:#fff; height:34px;line-height:34px; margin-top:-1px; border:1px solid #d1e3f3; border-bottom:1px solid #fff; :-99;+z-index:-9; border-left:none; border-top:2px solid #334fa0; }
.hc_head_sty_current2 a{color:#000000;font-weight:bolder;text-decoration:none;font-size:16px; width:70px; display:inline-block; text-align:center;}
.hc_head_sty_current3{width:100px;display:inline-block;color:#cd0010; text-decoration:none;font-weight:bolder; background:#fff; height:34px;line-height:34px; margin-top:-1px; border:1px solid #d1e3f3; border-bottom:1px solid #fff; :-99;+z-index:-9; border-left:none; border-top:2px solid #334fa0; }
.hc_head_sty_current3 a{color:#000000;font-weight:bolder;text-decoration:none;font-size:16px; width:100px; display:inline-block; text-align:center;}


.hc_head_sty li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:18px;}
.hc_head_sty li{width:70px;float:left;height:35px;line-height:35px;color:#004276; font-weight:bolder; text-align:center;cursor:pointer;border-right:1px solid #d1e3f3;}
.hc_head_sty li.current{ +display:block;color:#cd0010; text-decoration:none;font-weight:bolder; background:#fff; height:33px;line-height:33px; margin-top:-1px; border:1px solid #d1e3f3; border-bottom:1px solid #fff; :-99;+z-index:-9; border-left:none; border-top:3px solid #e93200; }
.hc_head_sty li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:18px;}
.hc_head_sty li.current a{color:#cd0010;font-weight:bolder;text-decoration:none;}

 .zhibo_s{ height:35px; line-height:35px; display:inline-block; vertical-align:middle;margin-left:1px; margin-top:-6px; }
 .zhibo_s a{  font-size:16px; color:#004276;height:35px; line-height:35px; display:inline-block; vertical-align:middle;  cursor:pointer; margin-top:0px;+margin-top:0px;}
 .zhibo_s a:hover{ text-decoration:underline;}
 .zhibo_s img{ margin-top:0px;+display:inline; margin-left:5px; margin-top:0px;}
 .zhibo_s2{ height:33px; line-height:33px; display:inline-block; vertical-align:middle;margin-left:10px; margin-top:-8px; +margin-top:-52px; +margin-left:80px; width:110px;}
 .zhibo_s2 a{  font-size:16px; color:#004276;height:33px; line-height:33px; vertical-align:middle;  cursor:pointer; }
 .zhibo_s2 a:hover{ text-decoration:underline;}
 .zhibo_s2 img{ margin-top:0px;+display:inline; margin-left:5px; margin-top:3px;}
 .zhibo_s22{ height:35px; line-height:35px; display:inline-block; vertical-align:middle;margin-left:10px; width:40px; margin-top:-4px; +margin-top:0px; border-right:1px solid #d1e3f3; }
 .zhibo_s22 a{  font-size:16px; color:#004276;height:33px; line-height:33px; display:inline-block; vertical-align:middle;  cursor:pointer; }
 .zhibo_s22 a:hover{ text-decoration:underline;}
 .zhibo_s3{ height:33px; line-height:33px; display:inline-block; vertical-align:middle;margin-left:10px; margin-top:-8px; +margin-top:-34px; +margin-left:110px;}
 .zhibo_s3 a{  font-size:16px; color:#004276;height:33px; line-height:33px; vertical-align:middle;  cursor:pointer; }
 .zhibo_s3 a:hover{ text-decoration:underline;}
 .zhibo_s3 img{ margin-top:0px;+display:inline; margin-left:5px; margin-top:3px;}



/* box small*/
.hc_part_3{ width:242px; height:250px; float:right; margin:15px 0 0 0; position:relativ;}
.box_2{width:241px;margin:0px auto 0;background:#fff;}
.menu_small{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:0px solid #d1e3f3;}
.bbb{ border-bottom:1px solid #d1e3f3;border-top:1px solid #d1e3f3;  height:35px;line-height:35px;}
.menu_small li{width:59px;float:left;height:35px;line-height:35px;color:#004276; font-weight:bolder; text-align:center;cursor:pointer;border-right:1px solid #d1e3f3;}
.menu_small li.current{color:#000000; font-weight:bolder; background:#fff; height:34px;line-height:34px; margin-top:-1px;border:1px solid #d1e3f3;
 border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0; }
.menu_small li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:16px;}
.menu_small li.current a{color:#000000;font-weight:bolder;}
.box_small{padding:5px 3px 0;border:1px solid #d1e3f3; border-top:none;}
.box_small li{height:26px;line-height:26px;overflow:hidden;}
.box_small li a{height:26px;line-height:26px;overflow:hidden;font-size:12px;color:#004276;}
.box_small li span{margin:0 10px 0 0;font-size:12px;color:#b4c6d0;}
.box_small .li_header{ height:32px; line-height:32px; vertical-align:middle; width:100%; background:#f6f7f8; }
.box_small .li_header span{ color:#1f2d4a; width:28%; text-align:center; display:block; float:left;font-size:14px;}

.box_small .li_body{ width:210px;height:26px; line-height:26px; vertical-align:middle; border-bottom:1px dotted  #e3e3e3; margin:0 auto; }
.box_small .li_body .sp_color{ color:#004276; width:55px; text-align:left; display:block; padding-left:10px; float:left;font-size:12px;}
.box_small .li_body .sp_top{ color:#1f2d4a; width:55px; text-align:left; display:block;padding-left:10px; float:left;font-size:12px;}
.box_small .li_body .sp_up{ color:#ff0000; width:40px; text-align:left; display:block;padding-left:10px; float:left;font-size:12px; background:url(../images/red-arrow.png) no-repeat 0px 6px;}
.box_small .li_body .sp_down{ color:#008000; width:40px; text-align:left; display:block;padding-left:10px; float:left;font-size:12px;background:url(../images/green-arrow.png) no-repeat 0px 6px;}

.box_small .li_bottom{ border-bottom:none;}


/* box_part_4*/
.hc_part_4{ width:360px; height:360px; float:left; margin:15px 0 0 0;}
.box_4{width:360px;margin:0px auto 0;background:#fff;}
.menu_part_4{width:360px;overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;/* position:relative;*/}
.bbb{ border-bottom:1px solid #d1e3f3;border-top:1px solid #d1e3f3;  height:35px;line-height:35px;}
.menu_part_4 li{width:auto;padding:0 15px;float:left;height:35px;line-height:35px; vertical-align:middle; color:#004276; font-weight:bolder; text-align:center;cursor:pointer;border-right:1px solid #d1e3f3;}
.menu_part_4 li img{display:inline; width:21px; height:14px; margin:-5px 0 0 5px;_margin:5px 0 0 5px;}
.menu_part_4 li.current{color:#000000; font-weight:bolder; background:#fff; height:34px;line-height:34px; vertical-align:middle; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0; }
.menu_part_4 li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:16px;}
.menu_part_4 li.current a{color:#000000;font-weight:bolder;}

.box_part_4{padding:10px 5px 0;/*border:1px solid #d1e3f3;*/ border-top:none;}
.box_part_4 li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_4 li a{height:28px;line-height:28px;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:300px;}
.box_part_4 li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
.more_area a{ font-size:12px; color:#004276; float:right; font-family:'宋体'; margin:2px 5px 0 0;}
.more_areas a{ font-size:12px; color:#004276; float:right; font-family:'宋体'; margin:2px 5px 0 0; +margin-top:-60px;}
.more_area_1224 a{ font-size:12px; color:#004276; float:right; font-family:'宋体'; margin:2px 5px 0 0; +margin:-34px 5px 0 0; }
.more_iehack a{ position:absolute; right:5px; top:10px; display:block; font-size:12px; color:#004276; float:right; font-family:'宋体'; margin:2px 5px 0 0;}
.more_right a{ float:right; font-size:12px; color:#004276;  font-family:'宋体'; margin:2px 5px 0 0;  }
.more_right a:hover{text-decoration:underline;}
/* box_part_5*/
.hc_part_5{ width:360px; height:360px; float:left; margin:15px 0 0 18px;}
.hc_5_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_5_head .hc_5_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; }
.hc_5_head .hc_5_sp a{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.box_5{width:360px;margin:0px auto 0;background:#fff;}
.menu_part_5{overflow:hidden; padding:10px 5px 0; background:none; border:none;  }
.menu_part_5 li{width:30px; padding:0 8px; float:left;height:18px;line-height:18px;color:#004276; font-weight:bolder;border-right:1px solid #dbe4f9; text-align:center;}
.menu_part_5 li.current{color:#004276; margin-top:-2px; font-weight:bolder; background:#fff; height:22px;line-height:22px; position:relative;background:#dbe4f9;border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; border:none; }
.menu_part_5 li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:12px; font-family:'宋体';}
.menu_part_5 li.current a{color:#004276;font-weight:bolder; }
.box_part_5{padding:5px 5px 0;/*border:1px solid #d1e3f3;*/}
.box_part_5 li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_5 li a{height:28px;line-height:28px;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:300px;}
.box_part_5 li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
.hc_5_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;}
.hc_5_head .hc_new5_sp ul li{color:#004276; cursor:pointer; font-weight:bolder; background:#f9fcff; font-size:16px; display:block;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:1px solid #d1e3f3;}
.hc_5_head .hc_new5_sp ul li a{color:#004276; text-decoration:none;}
.hc_5_head .hc_new5_sp ul li.selected{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
/*.box_5{width:360px;margin:0px auto 0;background:#fff; display:none;}*/
.menu_part_5_2{overflow:hidden; padding:10px 5px 1px; background:none; border:none;  }
.menu_part_5_2 li{width:40px; padding:0 1px; float:left;height:18px;line-height:18px;color:#004276; font-weight:bolder;border-right:1px solid #dbe4f9; text-align:center;}
.menu_part_5_2 li.current{color:#004276; margin-top:-2px; font-weight:bolder; background:#fff; height:22px;line-height:22px; position:relative;background:#dbe4f9;border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; border:none; }
.menu_part_5_2 li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:12px; font-family:'宋体';}
.menu_part_5_2 li.current a{color:#004276;font-weight:bolder; }
.box_5_hide{ display:block;}

.box_5_down{}
.box_part_5_down{padding:3px 10px 2px;/*border:1px solid #d1e3f3;*/}
.box_part_5_down li{height:31px;line-height:31px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); list-style-type:none;}
.box_part_5_down li a{height:31px;line-height:31px;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:300px;}
.box_part_5_down li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
.hc_part_14{ width:360px; height:390px; float:left; margin:15px 0 0 18px; overflow:hidden;_border-bottom:1px solid #d1e3f3;}
.hc_14_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_14_head .hc_14_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:140px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}

/* box_part_6*/
.box_6{ width:242px; height:345px; float:right; margin:15px 0 0 0; border:1px solid #dbe4f9;overflow:hidden; background:#f9fcff; position:relative;}
.box_part_6_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff;}
.box_part_6_head h1{ color:#000000; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:100px; text-align:center; float:left; }
.box_part_6_head h1 a{ color:#000000; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:100px; text-align:center; float:left; }
.box_part_6_head .cj_time{ color:#0f264f; font-size:14px; float:right; margin-right:10px;}
.part_6_next_head{ height:23px;line-height:23px; vertical-align:middle; width:100%; background:#f9fcff; border-bottom:1px solid #dbe4f9; border-top:1px solid #dbe4f9; padding-left:10px; }
.part_6_next_head .next_6_time{color:#ff3e3e; padding:0 5px;}
.part_6_next_bg{ width:100%; height:85px; background:#ffffff; border-bottom:1px #dbe4f9 solid;border:none }
.part_6_next_body{ width:225px; height:70px; padding:10px 0 5px 0; margin:0 auto; color:#004276;}
.part_6_next_body .part_6_body_left{ width:130px; height:auto; float:left;}
.part_6_next_body .part_6_body_left .part_6_time{ width:100%; height:24px;line-height:24px; vertical-align:middle; }
.part_6_next_body .part_6_body_left .part_6_time span{ margin-left:5px; font-weight:bolder;}
.part_6_next_body .part_6_body_left .part_6_star{ width:100px; height:16px; margin:3px 0 5px 0;}
.part_6_next_body .part_6_body_left .part_6_company{ height:24px; line-height:24px; vertical-align:middle;}
.part_6_next_body .part_6_body_right{ width:90px; height:auto; float:left; }
.part_6_next_body .part_6_body_right .part_6_taday,.part_6_predict,.part_6_before{height:23px;line-height:23px; vertical-align:middle;}
.part_6_next_body .part_6_body_right .part_6_taday span,.part_6_predict span,.part_6_before span{ margin-left:7px;}

.part_6_already{}
.part_6_already .part_6_already_head{ color:#34476a; height:30px;line-height:30px; vertical-align:middle; padding-left:10px;}
.part_6_already_body{ width:225px; height:70px; padding:7px 0; margin:0 auto; color:#004276; border-bottom:1px dotted #dbe4f9;}
.part_6_already_body a{ color:#004276; text-decoration:underline}
.part_6_already_body .part_6_body_left{ width:130px; height:auto; float:left;}
.part_6_already_body .part_6_body_left .part_6_time{ width:100%; height:22px;line-height:22px; vertical-align:middle; }
.part_6_already_body .part_6_body_left .part_6_time span{ margin-left:5px; font-weight:bolder;}
.part_6_already_body .part_6_body_left .part_6_star{ width:100px; height:16px; margin:3px 0 5px 0;}
.part_6_already_body .part_6_body_left .part_6_company{ height:24px; line-height:24px; vertical-align:middle;}
.part_6_already_body .part_6_body_right{ width:90px; height:auto; float:left; }
.part_6_already_body .part_6_body_right .part_6_taday,.part_6_predict,.part_6_before{height:23px;line-height:23px; vertical-align:middle;width: 103px;}
.part_6_already_body .part_6_body_right .part_6_taday span,.part_6_predict span,.part_6_before span{ margin-left:7px;}
.no_bottom{ border-bottom:none;}

.left_line{ background:url(../images/left_line.png) no-repeat; width:10px; height:11px; position:absolute; left:0px; top:0px; z-index:99;}
.right_line{background:url(../images/right_line.png) no-repeat; width:10px; height:11px; position:absolute; right:0px; top:0px; z-index:99;}
.left_down_line{background:url(../images/left_down_line.png) no-repeat; width:10px; height:11px; position:absolute; left:0px; bottom:0px; z-index:99; _margin-bottom:-7px;}
.right_down_line{background:url(../images/right_down_line.png) no-repeat; width:10px; height:11px; position:absolute; right:0px; bottom:0px; z-index:99; _margin-bottom:-7px}

/* box_part_7*/
.hc_part_7{ width:360px; height:362px; float:left; margin:15px 0 0 0px;}
.hc_7_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;}
.hc_7_head .hc_7_sp ul li{color:#004276; cursor:pointer; font-weight:bolder; background:#f9fcff; font-size:16px; display:block;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:1px solid #d1e3f3;}
.hc_7_head .hc_7_sp ul li a{color:#004276; cursor:pointer; font-weight:bolder; background:#f9fcff; font-size:16px; display:block;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:1px solid #d1e3f3;}
.hc_7_head .hc_7_sp ul li.selected{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.box_7{width:360px;margin:0px auto 0;background:#fff; display:none;}
.box_7_hide{ display:block;}
.menu_part_7{overflow:hidden; padding:15px 5px 0; background:none; border:none;  }
.menu_part_7 li{width:65px; padding:0 1px; float:left;height:18px;line-height:18px;color:#004276; font-weight:bolder;border-right:1px solid #dbe4f9; text-align:center;}
.menu_part_7 li.current{color:#004276; font-weight:bolder; background:#fff; height:22px;line-height:22px; margin-top:-2px; position:relative;background:#dbe4f9;border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; border:none; }
.menu_part_7 li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:12px; font-family:'宋体';}
.menu_part_7 li.current a{color:#004276;font-weight:bolder; }

.box_part_7{padding:5px 5px 0;/*border:1px solid #d1e3f3;*/}
.box_part_7 li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_7 li a{height:28px;line-height:28px;overflow:hidden;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:300px;}
.box_part_7 li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
.box_part_7_b{padding:5px 5px 0;/*border:1px solid #d1e3f3;*/}
.box_part_7_b li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_7_b li a{height:28px;line-height:28px;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:300px;}
.box_part_7_b li span{margin:0 10px 0 0;font-size:12px;color:#696969;}

/* box_part_8*/
.hc_part_8{ width:360px; height:362px; float:left; margin:15px 0 0 18px; overflow:hidden;}
.hc_8_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3; _height:34px;_line-height:34px;_position:relative; }
.hc_8_head .hc_8_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px;margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; z-index:999; border-left:none; }
.hc_8_head .hc_8_sp a{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px;margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; z-index:999; border-left:none; border-top:2px solid #334fa0;}
.box_8{width:360px;margin:2px auto 0;background:#fff;}
.menu_part_8{overflow:hidden; padding:10px 5px 0; background:none; border:none;  }
.menu_part_8 li{width:60px; padding:0 1px; float:left;height:18px;line-height:18px;color:#004276; font-weight:bolder;border-right:1px solid #dbe4f9;}
.menu_part_8 li.current{color:#004276; font-weight:bolder; background:#fff; height:22px;line-height:22px; position:relative;background:#dbe4f9;border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; border:none; }
.menu_part_8 li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:12px; font-family:'宋体';}
.menu_part_8 li.current a{color:#004276;font-weight:bolder; }
.box_part_8{padding:5px 5px 0;/*border:1px solid #d1e3f3;*/}
.box_part_8 li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_8 li a{height:28px;line-height:28px;overflow:hidden;font-size:14px;color:#004276;}
.box_part_8 li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
/*分析师问答*/
.box_part_8 dl{border-bottom:solid 1px #e2e9fa;  padding:0px; margin-bottom:0px; height:auto; margin-top:14px;}
.box_part_8 dt{ background:url(../images/wen.jpg) no-repeat 0 4px;  color:#59d;}
.box_part_8 dt a{color:#004276; font-size:14px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:320px;}.box_part_8 dt{padding:0px 0px 6px 30px; margin:0px 5px;}
.box_part_8 dl dt a:hover{color:#cd0010; text-decoration:none;}
.box_part_8 dt span{ color:#696969; display:block;}
.box_part_8 dt{padding:3px 0px 8px 30px; margin:0px 5px;}
@-moz-document url-prefix() {.box_part_8 dt{padding:0px 0px 6px 30px} }



/* box_part_9*/
.box_9{ width:242px; height:180px; float:right; margin:15px 0 0 0; border:1px solid #dbe4f9;overflow:hidden; background:#ffffff; position:relative;}
.box_part_9_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff; border-bottom:1px solid #dbe4f9;}
.box_part_9_head h1{ color:#000000; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:100px; text-align:center; float:left; }
.box_part_9_head h1 a{ color:#000000; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:100px; text-align:center; float:left; }
.box_part_9_head .cj_dz{ color:#0f264f; font-size:14px; float:right; margin-right:10px; cursor:pointer;}
.box_part_9_head .cj_dz a{ color:#0f264f; font-size:14px; float:right; margin-right:10px; cursor:pointer;}
.box_part_9_head .cj_dz:hover{ text-decoration:underline;}
.box_part_9_body{ width:220px; height:auto; overflow:hidden; margin:0 auto; padding:5px 0;}
.box_part_9_body ul li{ height:28px;line-height:28px;overflow:hidden;font-size:12px;color:#004276;width:220px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_9_body ul li span{ color:#004276; padding-right:5px;}
.box_part_9_body ul li a{ color:#004276;}
.box_part_9_body ul li a:hover{ color:#cd0010;}

.left_line{ background:url(../images/left_line.png) no-repeat; width:10px; height:11px; position:absolute; left:0px; top:0px; z-index:99;}
.right_line{background:url(../images/right_line.png) no-repeat; width:10px; height:11px; position:absolute; right:0px; top:0px; z-index:99;}
.left_down_line{background:url(../images/left_down_line.png) no-repeat; width:10px; height:11px; position:absolute; left:0px; bottom:0px; z-index:99;}
.right_down_line{background:url(../images/right_down_line.png) no-repeat; width:10px; height:11px; position:absolute; right:0px; bottom:0px; z-index:99;}


/* box_part_10*/
.hc_part_10{ width:360px; height:360px; float:left; margin:15px 0 0 0;}
.box_10{width:360px;margin:0px auto 0;background:#fff;}
.menu_part_10{overflow:hidden; background:#f9fcff; }
.menu_part_10 li{width:auto; padding:0 10px; float:left;height:35px;line-height:35px;color:#004276; font-weight:bolder; text-align:center;cursor:pointer;border-right:1px solid #d1e3f3;}
.menu_part_10 li img{display:inline; width:21px; height:14px; margin:-5px 0 0 5px;}
.menu_part_10 li.current{color:#000000; font-weight:bolder; background:#fff; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0; }
.menu_part_10 li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:16px;}
.menu_part_10 li.current a{color:#000000;font-weight:bolder;}
.box_part_10{padding:10px 5px 0;/*border:1px solid #d1e3f3;*/ border-top:none;}
.box_part_10 li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_10 li a{height:28px;line-height:28px;overflow:hidden;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:340px;}
.box_part_10 li a:hover{color:#cd0010;}
.box_part_10 li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
.more_area a{ font-size:12px; color:#004276; float:right; font-family:'宋体'; margin:2px 5px 0 0;}


/* box_part_11*/
.hc_part_11{ width:360px; height:360px; float:left; margin:15px 0 0 18px; overflow:hidden;}
.hc_11_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_11_head .hc_11_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none;}
.hc_11_head .hc_11_sp a{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.box_11{width:360px;margin:0px auto 0;background:#fff;}
.menu_part_11{overflow:hidden; padding:10px 5px 0; background:none; border:none;  }
.recommend_now{font-size:14px; color:#004276; height:32px;line-height:32px; vertical-align:middle; padding-left:10px; }
.recommend_now span{color:#e93200;}
.pic_area_box_11{ width:350px; height:120px; margin:0 auto; background:#f5f8fc;}
.pic_area_box_11 ul li{ width:70px; height:auto; float:left; margin:10px 0 10px 14px; _margin:10px 0 10px 10px; position:relative;}
.pic_area_box_11 ul li img{ width:70px; height:70px; margin:5px auto; float:left;}
.pic_area_box_11 ul li span{ width:70px; height:24px; line-height:24px; vertical-align:middle; float:left; color:#000000; font-size:12px; text-align:center;}
.pic_area_box_11 ul li .box_11_now{ position:absolute; top:0; left:0; width:29px; height:29px;}
.color_area_box_11{ width:360px; height:auto; margin:0 auto; background:#none;+margin:5px auto;}
.color_area_box_11 ul li{ display:inline;}
.color_area_box_11 ul li a{ display:block; height:22px; line-height:22px; vertical-align:middle; float:left; margin:10px 0 10px 5px;_margin:10px 0 10px 3px; color:#ffffff;}
.color_area_box_11 ul li .red_g_1{ background:#ffbb11; width:75px; text-align:center;}
.color_area_box_11 ul li .red_g_2{ background:#ff9900; width:65px; text-align:center;}
.color_area_box_11 ul li .red_g_3{ background:#ff6600; width:65px; text-align:center;}
.color_area_box_11 ul li .red_g_4{ background:#ee5500; width:65px; text-align:center;}
.color_area_box_11 ul li .red_g_5{ background:#dd3300; width:65px; text-align:center;}

.review_past{font-size:16px; width:100%; font-weight:bolder; float:left; color:#004276; height:32px;line-height:32px; border-bottom:1px solid #dbe4f9; vertical-align:middle; padding-left:10px; }
.review_past_li{ float:left; width:100%; padding:2px 10px;}
.review_past_li ul li{ font-size:12px; width:95%; color:#004276; line-height:22px; height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.review_past_li ul li a{ font-size:12px; width:95%; color:#004276; line-height:22px; height:22px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.review_past_li ul li:hover{color:#cd0010; text-decoration:underline;}
.review_past_li ul li span{ font-weight:bolder; padding-right:5px;}

/* box_part_12*/
.box_12{ width:242px; height:360px; float:right; margin:15px 0 0 0; border:1px solid #dbe4f9;overflow:hidden; background:#ffffff; position:relative;}
.box_part_12_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff; }
.box_part_12_head h1{ color:#000000; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:100px; text-align:center; float:left; }
.box_part_12_head h1 a{ color:#000000; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:100px; text-align:center; float:left; }
.recommend_title{font-size:14px; color:#004276;height:36px; line-height:36px; vertical-align:middle;background:#f3f7fc; padding-left:10px; }
.recommend_title span{color:#e93200;overflow:hidden;height:36px; line-height:36px; vertical-align:middle;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:160px;}
.recommend_title a{color:#e93200;overflow:hidden; vertical-align:middle;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:160px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { .recommend_title span{color:#e93200;overflow:hidden;height:36px; line-height:32px; vertical-align:middle;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:160px;}
}

.pic_area_box_12{ width:100%; height:105px;}
.pic_area_box_12_left{ width:85px; height:105px; float:left;}
.pic_area_box_12_left img{ width:70px; height:70px; margin:20px 0 0 15px;}
.pic_area_box_12_right{width:130px; height:105px; float:left; margin-left:15px;}
.pic_area_box_12_right_name{font-size:14px; color:#004276; line-height:22px; height:22px; margin-top:15px; display:inline-block;}
.pic_area_box_12_right_name span{ float:right; width:70px; +margin-top:-22px; _margin-top:-22px;}
.pic_area_box_12_right_name span:hover{ text-decoration:underline; cursor:pointer;}
.pic_area_box_12_right_name span a{ text-decoration:underline;  color:#004276}
.pic_area_box_12_right_decr{font-size:12px; color:#004276; line-height:22px; height:22px; margin-top:10px;}
.color_area_box_12{ width:242px; height:auto; margin:0 auto; background:#ffffff;}
.color_area_box_12 ul li{ display:inline;}
.color_area_box_12 ul li a{ display:block; height:22px; line-height:22px; vertical-align:middle; float:left; margin:4px 0 0px 10px; color:#ffffff;}.color_area_box_12 ul li .red_g_1{ background:#ffbb11; width:65px; text-align:center;}
.color_area_box_12 ul li .red_g_2{ background:#ff9900; width:65px; text-align:center;}
.color_area_box_12 ul li .red_g_3{ background:#ff6600; width:65px; text-align:center;}
.color_area_box_12 ul li .red_g_4{ background:#ee5500; width:65px; text-align:center;}
.color_area_box_12 ul li .red_g_5{ background:#dd3300; width:65px; text-align:center;}

/* box_part_13*/
.hc_part_13{ width:360px; height:390px; float:left; margin:15px 0 0 0px; overflow:hidden;}
.hc_13_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_13_head .hc_13_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:150px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.box_13{padding:4px 3px 0;border:1px solid #d1e3f3; border-top:none;}
.box_part_13 li{height:26px;line-height:26px;overflow:hidden;}
.box_part_13 li a{height:26px;line-height:26px;overflow:hidden;font-size:12px;color:#004276;}
.box_part_13 li span{margin:0 10px 0 0;font-size:12px;color:#b4c6d0;}
.box_part_13 .li_header{ height:32px; line-height:32px; vertical-align:middle; width:100%; background:#f6f7f8;  }
.box_part_13 .li_header span{ color:#004276; font-weight:bolder; width:55px; text-align:center; display:block; float:left;font-size:12px;}

.box_13add_down{}
.box_part_13add_down{padding:3px 10px 2px;/*border:1px solid #d1e3f3;*/}
.box_part_13add_down li{height:31px;line-height:31px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_13add_down li a{height:31px;line-height:31px;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:300px;}
.box_part_13add_down li span{margin:0 10px 0 0;font-size:12px;color:#696969;}
.menu_part_13add{overflow:hidden; padding:10px 5px 1px; background:none; border:none;  }
.menu_part_13add li{width:60px; padding:0 1px; float:left;height:18px;line-height:18px;color:#004276; font-weight:bolder;border-right:1px solid #dbe4f9; text-align:center;}
.menu_part_13add li.current{color:#004276; margin-top:-2px; font-weight:bolder; background:#fff; height:22px;line-height:22px; position:relative;background:#dbe4f9;border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; border:none; }
.menu_part_13add li a{color:#004276;text-decoration:none;font-weight:bolder; font-size:12px; font-family:'宋体';}
.menu_part_13add li.current a{color:#004276;font-weight:bolder; }

.box_part_13 .li_body{ width:350px;height:34px; line-height:34px; vertical-align:middle; border-bottom:1px dotted  #e3e3e3; margin:0 auto; }
.box_part_13 .li_body .fxs_1r{ color:#004276; width:50px;_width:45px; text-align:left; display:block; padding-left:20px; float:left;font-size:14px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block;}
.box_part_13 .li_body .zx_2r{ color:#004276; width:50px; text-align:left; display:block; float:left;font-size:14px;}
.box_part_13 .li_body .yx_3r{ color:#004276; width:50px;_width:50px; text-align:left; display:block;padding-left:10px; float:left;font-size:14px;}
.box_part_13 .li_body .yl_4r{ color:#004276; width:40px;_width:40px; text-align:left; display:block; float:left;font-size:14px; margin-left:5px;}
.box_part_13 .li_body .gd_5r{ color:#ce0a00; width:40px;_width:50px; text-align:center; display:block;padding-left:10px; float:left;font-size:12px; cursor:pointer; margin-left:10px;}
.box_part_13 .li_body .gd_5r a{ color:#ce0a00;line-height: 35px; display:block;font-size:12px; cursor:pointer;color:#ce0a00; width:40px;_width:50px; text-align:center; display:block;padding-left:10px; float:left;font-size:12px; cursor:pointer;}
.box_part_13 .li_body .gd_5r:hover{ text-decoration:underline;}
.box_part_13 .li_bottom{ border-bottom:none;}



/* box_part_14*/

.hc_part_14{ width:360px; height:390px; float:left; margin:15px 0 0 18px; overflow:hidden;_border-bottom:1px solid #d1e3f3;}
.hc_14_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_14_head .hc_14_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:140px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}.hc_14_head .hc_14_sp a{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.box_14{padding:5px 0 0;border:1px solid #d1e3f3; border-top:none; overflow:hidden;}
.box_part_14 li{height:26px;line-height:26px;overflow:hidden;}
.box_part_14 li a{height:26px;line-height:26px;overflow:hidden;font-size:12px;color:#004276;}
.box_part_14 li span{margin:0 10px 0 0;font-size:12px;color:#b4c6d0;}
.box_part_14 .li_header{ height:38px; line-height:38px; vertical-align:middle; width:100%; display:block; margin-top:3px; }
.box_part_14 .li_header span{ color:#004276; font-weight:bolder; width:50px; text-align:center; display:block; float:left;font-size:12px;}
.box_part_14 .li_header .head_br{line-height:16px; width:65px;}

.box_part_14 .li_body{ width:100%;height:auto; vertical-align:middle;margin:0 auto;  background:#f6f8fd; padding:5px 0;_padding:2px 0;}
.box_part_14 .li_body .fxs_1t{ color:#004276; width:84px;_width:50px; text-align:left; margin-left:5px; display:block;float:left;font-size:14px; height:66px;}
.box_part_14 .li_body .fxs_1t img{width:40px; height:40px; margin:4px 18px 0; }
.box_part_14 .li_body .fxs_1t b{text-align:center; color:#004276; font-size:12px; font-weight:normal; text-align:center;width:60px; display:block; height:22px; line-height:22px; vertical-align:middle;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:75px;}
.box_part_14 .li_body .zx_2t{ color:#004276; width:55px; text-align:left; display:block; float:left;font-size:14px; padding:5px 0;}
.box_part_14 .li_body .zx_2t .all_get{ background:url(../images/all_get.png) no-repeat 0 7px; color:#004276; width:45px; text-align:left; display:block;padding-left:17px; float:left;}
.box_part_14 .li_body .zx_2t .mon_get{ background:url(../images/mon_get.png) no-repeat 0 7px; color:#004276; width:45px; text-align:left; display:block;padding-left:17px; float:left;}

.box_part_14 .li_body .yx_3t{ color:#ce0a00; width:50px; _width:50px; margin-left:5px; text-align:center; display:block; float:left;font-size:14px; height:60px; line-height:60px; vertical-align:middle;}
.box_part_14 .li_body .yl_4t{ color:#004276; width:40px; text-align:left; display:block;padding-left:10px; float:left;font-size:14px; height:60px; line-height:60px; vertical-align:middle;}
.box_part_14 .li_body .gd_5t{ color:#004276; width:40px; text-align:left; display:block;padding-left:15px; float:left;font-size:14px; height:60px; line-height:60px; vertical-align:middle;}

.box_part_14 .li_body_bg{ width:100%;height:auto; vertical-align:middle;margin:0 auto;  background:#ffffff; padding:5px 0;}
.box_part_14 .li_body_bg .fxs_1t{ color:#004276; width:84px;_width:50px; text-align:left; margin-left:5px; display:block;float:left;font-size:14px; height:66px;}
.box_part_14 .li_body_bg .fxs_1t img{ width:40px; height:40px; margin:4px 18px 0; }
.box_part_14 .li_body_bg .fxs_1t b{ text-align:center; color:#004276; font-size:12px; font-weight:normal; text-align:center;width:60px; display:block; height:22px; line-height:22px; vertical-align:middle;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); display:inline-block; width:75px;}
.box_part_14 .li_body_bg .zx_2t{ color:#004276; width:55px;_width:45px; text-align:left; display:block; float:left;font-size:14px; padding:5px 0;}
.box_part_14 .li_body_bg .zx_2t .all_get{ background:url(../images/all_get.png) no-repeat 0 7px; color:#004276; width:45px; text-align:left; display:block;padding-left:17px; float:left;}
.box_part_14 .li_body_bg .zx_2t .mon_get{ background:url(../images/mon_get.png) no-repeat 0 7px; color:#004276; width:45px; text-align:left; display:block;padding-left:17px; float:left;}

.box_part_14 .li_body_bg .yx_3t{ color:#ce0a00; width:50px; _width:50px;text-align:center; display:block; float:left;font-size:14px; height:60px; line-height:60px; vertical-align:middle;}
.box_part_14 .li_body_bg .yl_4t{ color:#004276; width:40px; text-align:left; display:block;padding-left:10px; float:left;font-size:14px; height:60px; line-height:60px; vertical-align:middle;}
.box_part_14 .li_body_bg .gd_5t{ color:#004276; width:40px; text-align:left; display:block;padding-left:15px; float:left;font-size:14px; height:60px; line-height:60px; vertical-align:middle;}



/* box_part_15*/
.box_15{ width:242px; height:375px; float:right; margin:15px 0 0 0; border:1px solid #dbe4f9;overflow:hidden; background:#ffffff; position:relative;}
.box_part_15_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff; border-bottom:1px solid #dbe4f9;}
.box_part_15_head h1{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; }
.box_part_15_head h1 a{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; }
.box_part_15_body{ width:220px; height:auto; overflow:hidden; margin:0 auto; padding:0px 0;}
.box_part_15_body ul li{line-height:22px;overflow:hidden;font-size:14px; padding:5px 0;+padding:5px 0;color:#004276;width:220px;border-bottom:1px dotted  #e3e3e3;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_15_body ul li a:hover{color:#cd0010;}
.box_part_15_body ul li span{ color:#696969; padding-right:5px;font-size:12px;}
.box_part_15_body ul li a{ color:#1f2d4a;}

/* box_part_16*/
.hc_part_16{ width:360px; height:380px; float:left; margin:15px 0 0 0px; overflow:hidden;}
.hc_16_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_16_head .hc_16_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none;}
.hc_16_head .hc_16_sp a{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.box_16{padding:5px 3px 0; border-top:none;}
.box_part_16 li{height:36px;line-height:36px;overflow:hidden;border-bottom:1px dotted  #e3e3e3;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_16 li a{height:36px;line-height:36px;overflow:hidden;font-size:14px; width:290px; display:block; padding-left:5px; color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_16 li a:hover{color:#cd0010;}
.box_part_16 li span{margin:0 10px 0 0;font-size:12px;color:#696969; float:right; /*width:40px;*/ text-align:center; padding:0 5px;}

/* box_part_17*/
.hc_part_17{ width:360px; height:380px; float:left; margin:15px 0 0 18px; overflow:hidden;}
.hc_17_head{overflow:hidden; background:#f9fcff;  border-left:1px solid #d1e3f3;border-right:1px solid #d1e3f3;_height:34px;_line-height:34px;_position:relative; }
.hc_17_head .hc_17_sp{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; }
.hc_17_head .hc_17_sp a{color:#000000; font-weight:bolder; font-size:16px; display:block;background:#fff;width:100px; float:left; text-align:center; height:34px;line-height:34px; margin-top:-1px; position:relative;border:1px solid #d1e3f3; border-bottom:1px solid #fff; border-left:none; border-top:2px solid #334fa0;}
.hc_17_head .ib_right{ color:#0f264f; font-size:14px; float:right; margin-right:10px; cursor:pointer;}
.hc_17_head .ib_right a{ color:#0f264f; font-size:14px; float:right; margin-right:10px; cursor:pointer;}
.hc_17_head .ib_right:hover{ text-decoration:underline;}
.box_17{padding:5px 3px 0; border-top:none;}
.box_part_17 li{height:36px;line-height:36px;overflow:hidden;border-bottom:1px dotted  #e3e3e3;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_17 li a{height:36px;line-height:36px;overflow:hidden;font-size:14px;color:#004276;width:290px; display:block; padding-left:5px; color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');}
.box_part_17 li span{margin:0 10px 0 0;font-size:12px;color:#696969; float:right; /*width:40px;*/ text-align:center; padding:0 5px;}
.box_part_17 li a:hover{color:#cd0010;}


/* box_part_18*/
.box_18{ width:242px; height:386px; float:right; margin:15px 0 0 0; border:1px solid #dbe4f9;overflow:hidden; background:#ffffff; position:relative;}
.box_part_18_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff; border-bottom:1px solid #dbe4f9;}
.box_part_18_head h1 a{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; }
.box_part_18_head h1{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; }
.box_part_18_body{ width:242px; height:auto; overflow:hidden; margin:0 auto; padding:5px 0;}
.box_part_18_body ul li{line-height:24px;overflow:hidden;font-size:14px;color:#004276;width:242px;}
.box_part_18_body ul li a{ background:url(../images/video_icon.png) no-repeat 8px 14px; color:#1f2d4a; display:block; padding:5px;padding-left:28px; overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); width:212px;}
.box_part_18_body ul li a:hover{color:#cd0010;}
.listtd{ background:#f9fbff;}


/* box_part_18add*/
.box_18add{ width:242px; height:360px; float:right; margin:15px 0 0 0; border:1px solid #dbe4f9;overflow:hidden; background:#ffffff; position:relative;}
.box_part_18add_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff; border-bottom:1px solid #dbe4f9;}
.box_part_18add_head h1 a{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; }
.box_part_18add_head h1{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; }
.box_part_18add_body{ width:242px; height:auto; overflow:hidden; margin:0 auto; padding:5px 0;}
.box_part_18add_body ul li{line-height:24px;overflow:hidden;font-size:14px;color:#004276;width:242px;}
.box_part_18add_body ul li a{ color:#1f2d4a; display:block; padding:5px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis'); width:240px;}
.box_part_18add_body ul li a:hover{color:#cd0010;}
.listtd{ background:#f9fbff;}


/* box_part_19*/
.box_19{ width:738px; height:370px; float:left; margin:15px 0 0 0;overflow:hidden;}
.box_part_19_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; background:#ffffff;  _height:22px; _line-height:22px;}
.box_part_19_head h1{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left;_height:22px; _line-height:22px; }
.box_part_19_head h1 a{ color:#004276; font-size:18px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left;_height:22px; _line-height:22px; }
.red_line_b{ border-bottom:2px solid #ce0a00; width:120px; height:2px; float:left;}
.green_line_b{ border-bottom:2px solid #243f8e; width:235px; margin-left:4px; height:2px; float:left;}
.linktop{font-size:16px; color:#004276; height:34px;line-height:34px; vertical-align:middle; margin-top:5px; }

.box_part_19_body_1{width:360px; height:370px; float:left; margin:5px 0 0 0px; overflow:hidden;}
.box_part_19_body_1_title{font-size:16px; color:#004276; height:34px;line-height:34px; vertical-align:middle;margin-top:5px; }
.box_part_19_body_1_pic{ width:100%; height:105px; background:#f5f8fc; margin:7px 0;}
.box_part_19_body_1_img{ width:120px; height:105px; float:left;}
.box_part_19_body_1_img img{ width:105px; height:70px; margin:20px 0 0 15px;}
.box_part_19_body_1_word{width:200px; height:80px; float:left; margin:20px 0 0 15px;font-size:12px; color:#2b2b2b; height:20px ; line-height:20px;}
.box_part_19_body_1_word span{ float:right;color:#1547a0; text-align:right; +float:none; margin-left:15px;}
.box_part_19_body_1_word span a{color:#1547a0; }

.box_part_19_body_1_ul{padding:5px 5px 0;/*border:1px solid #d1e3f3;*/}
.box_part_19_body_1_ul li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');font-size:14px;color:#004276; _display:inline-block; _width:350px;}
.box_part_19_body_1_ul li a{height:28px;line-height:28px;overflow:hidden;font-size:14px;color:#004276;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');  _display:inline-block; _width:200px;}
.box_part_19_body_1_ul li:hover{color:#cd0010; cursor:pointer; /*text-decoration:underline;*/}
.box_part_19_body_1_ul li span{margin:0 10px 0 0;font-size:12px;color:#666666;}

.box_part_19_body_2{width:360px; height:370px; float:left; margin:5px 0 0 18px; overflow:hidden;}
.box_part_19_body_2_title{font-size:16px; color:#004276; height:34px;line-height:34px; vertical-align:middle; margin-top:5px; }
.box_part_19_body_2_pic{ width:100%; height:105px; background:#f5f8fc; margin:7px 0;}
.box_part_19_body_2_img{ width:120px; height:105px; float:left;}
.box_part_19_body_2_img img{ width:105px; height:70px; margin:20px 0 0 15px;}
.box_part_19_body_2_word{width:200px; height:80px; float:left; margin:20px 0 0 15px;font-size:12px; color:#2b2b2b; height:20px ; line-height:20px;}
.box_part_19_body_2_word span{float:right;color:#1547a0; text-align:right; +float:none; margin-left:15px;}
.box_part_19_body_2_word span a{color:#1547a0; }

.box_part_19_body_2_ul{padding:5px 5px 0;/*border:1px solid #d1e3f3;*/}
.box_part_19_body_2_ul li{height:28px;line-height:28px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;-moz-binding: url('ellipsis.xml#ellipsis');font-size:14px;color:#004276;_display:inline-block; _width:350px;}
.box_part_19_body_2_ul li a{height:28px;line-height:28px;overflow:hidden;font-size:14px;color:#004276;}
.box_part_19_body_2_ul li span{margin:0 10px 0 0;font-size:12px;color:#666666;}
.box_part_19_body_2_ul li:hover{color:#cd0010; cursor:pointer; /*text-decoration:underline;*/}

/* hc_link_area*/
.hc_link_area{ width:100%; height:auto; padding-bottom:30px; border-bottom:1px solid #e6e6e6; border-top:1px solid #e6e6e6; background:#fafafa; margin:20px 0 0 0;}
.hc_link_area_center{ width:1000px; height:auto; margin:0 auto;}
.hc_link_area_head{ height:36px; line-height:36px; vertical-align:middle; width:100%; padding-bottom:20px;  }
.hc_link_area_head h1{ color:#000000; font-size:24px;font-weight:bolder;height:36px; line-height:36px; vertical-align:middle; width:120px; text-align:center; float:left; margin:15px 0; }
.hc_mtl{ height:auto; width:940px; margin:0 auto; border-bottom:1px dotted #cacad4;border-left:1px dotted #cacad4; position:relative; float:right; }
.hc_mtl h2{  width:80px; text-align:center; height:30px; line-height:30px; vertical-align:middle; color:#333333; font-size:18px; position:absolute; left:-40px; top:30px;  background:#fafafa; display:block;}
.hc_mtl_ul{ width:900px; float:right; margin-top:15px; +margin-top:20px; height:auto; padding-bottom:15px; overflow:hidden;}
.hc_mtl_ul ul li{ float:left; margin-left:5px;+margin-left:0px; line-height:22px;height:22px; vertical-align:middle;}
.hc_mtl_ul ul li a{ color:#818181; text-decoration:none; +display:block; line-height:22px;height:22px; vertical-align:middle; font-size:12px; padding:0 5px; +padding:0 8px; _float:left; display:block; float:left;white-space:nowrap;}

.hc_mtl_ul ul li a:hover{ color:#cd0010; }

.hc_mtl_ul .link_split2{ height:22px; margin-left:5px; float:left; display:block; }
.hc_mtl_ul .link_split2 div{ overflow:hidden; height:12px; white-space:nowrap; margin-left:5px; float:left; display:block; line-height:12px; vertical-align:middle; margin-top:6px; width:1px; border-right:1px solid #bcbcbc; color:red; -moz-box-shadow :1px 0px 1px #ffffff;   *filter : progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color="#ffffff"); box-shadow :1px 0px 1px #ffffff; }


.img_new{background:url(../images/new_menu.png) no-repeat; width:26px; height:18px;  position:absolute; top:-4px; right:-8px;z-index:3;}

/*---------------------------------------interfooter------------------------------------------*/
.footer2_bg{ height:175px; width:100%; margin-top:10px;}
.footer2_bg_center{ width:1000px; height:175px; margin:0 auto; }

.botblock2{ width:1000px; padding:15px 0 0 0; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}
.botblock2 p{ height:22px;}
.botblock2 a{ width:1000px; padding:15px 0 0 0; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}
.foot_bottom2{width:1000px; padding:5px 0 0 0; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}
.foot_bottom2 a{width:1000px; padding:5px 0 0 0; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}
.foot_down2{width:1000px; padding:5px 10px; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px; margin-top:10px;}
.foot_down2 a{width:1000px; padding:5px 10px; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}

.foot_bottom2_ad{width:655px; padding:5px 0 0 0; margin:0 auto; text-align:center; line-height:35px;height:35px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}
.foot_bottom2_ad a{width:435px;padding:5px 0 0 0; margin:0 auto; text-align:center; line-height:20px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px; margin-right:5px;}
.foot_down2_ad{width:680px; padding:5px 0; margin:0 auto; text-align:center; line-height:35px;height:35px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;position:relative; z-index:999; }
.foot_down2_ad a{vertical-align: middle; padding:5px 3px; margin-right:10px; text-align:center; line-height:35px;height:35px;font-family:"Microsoft YaHei",sans-serif; color:#777777; font-size:14px;}
.foot_down2_ad a img{margin-right:5px;}
.foot_down2_ad a span{ font-size:10px; margin-left:4px;}

/*---------------------------------------interfooter6end------------------------------------------*/
.star_1{ background:url(../images/star_11.png) no-repeat;}
.star_2{ background:url(../images/star_22.png) no-repeat;}
.star_3{ background:url(../images/star_33.png) no-repeat;}
.star_4{ background:url(../images/star_4.png) no-repeat;}
.star_5{ background:url(../images/star_5.png) no-repeat;}

/*gaiban*/
#dl_small_01{ position:fixed; left:5px; top:40px;z-index:999;}
#dl_small_02{ position:fixed; right:5px; top:40px;z-index:999;}
#dl_small_03{ position:fixed; left:30px; top:362px;}
#dl_small_04{ position:fixed; right:30px; top:367px;}
#dl_small_01_2{ position:fixed; left:5px; top:40px;}
#dl_small_02_2{ position:fixed; right:5px; top:40px;}

/*------------15-10-09视频添加-------------------*/
.video_area{ width:360px; height:auto; margin-top:5px;}
.video_part{ width:166px; height:155px;  float:left; margin:10px 7px 0 7px;}
.video_part .video_img{ width:166px; height:100px;}
.video_part .video_img img{ width:166px; height:100px;}
.video_part .video_font{ width:154px; height:32px; background:#f5f8fc;padding:2px 6px; overflow:hidden; margin-top:7px;}
.video_part .video_font a{ color:#2b2b2b; font-size:14px; line-height:36px; vertical-align:middle; }
.dd{ display:none;}


.line_hhr{ height:1px; width:350px; border-bottom:1px dashed #d4d4d4; float:left;}
.video_part .video_font a:hover{ color:#cd0010;}

/*------------15-12-11会展会议添加-------------------*/
.huiyi_body{ width:222px; height:auto; overflow:hidden; margin:0 auto; padding:2px 0;}
.huiyi_body ul li{line-height:24px;overflow:hidden;font-size:14px;color:#004276;width:222px; margin-top:10px;}
.box_part_18add_body ul li a:hover{color:#cd0010;}
.huiyi_body .huiyiLeft{ float:left; display:inline; width:50px; height:50px; border:1px #ddd solid;}
.huiyi_body .huiyiRight{ float: right; display:inline; width:160px; height:50px;}
.huiyi_body .huiyiRight h5{ font-size:14px; color:#004276; height:34px; overflow:hidden; line-height:17px;}
.huiyi_body .huiyiRight h5 a{ font-size:14px; color:#004276;}
.huiyi_body .huiyiRight h5 a:Hover{ color:#cd0010;}
.huiyi_body .huiyiRight p{ margin:3px 0 0 0; padding:0; color:#777; font-size:12px; line-height:18px;}


.zhibo_ads{height:35px; line-height:35px; display:inline-block; vertical-align:middle;margin-left:4px; +margin-top: -20px;}
.zhibo_ads a{  font-size:16px; color:#fb0c0c;  text-decoration:none; height:20px; line-height:20px; display:inline-block; vertical-align:middle;  cursor:pointer; margin-top:4px;+margin-top:-37px;}

.zhibo_adsc{height:35px; line-height:35px; display:inline-block; vertical-align:middle;margin-left:4px; margin-top:4px; +margin-top: 25px;}
.zhibo_adsc a{  font-size:16px; color:#fb0c0c;  text-decoration:none; height:20px; line-height:20px; display:inline-block; vertical-align:middle;  cursor:pointer; margin-top:7px; margin-left:7px;}

.new_part_4 .lid_ads{height:22px;line-height:22px; vertical-align:middle;overflow:hidden;width:350px; margin-left:12px; float:left; font-size:14px;}
.new_part_4 .lid_ads .lid_ads1{color:#cd0010;margin-left:20px; width:120px; display:block; float:left;}.new_part_4 .li_ads a.lid_ads1:hover{  color:#cd0010;text-decoration:underline;}
.new_part_4 .lid_ads .lid_ads2{color:#cd0010; margin-left:40px; width:120px;display:block; float:left;}.new_part_4 .li_ads a.lid_ads2:hover{  color:#cd0010;text-decoration:underline;}


/*ads添加*/
.menu_ads_area,.hc_ad_2,.hc_ad_3,.add_ads2,.hc_part_1,.hc_ad_4,.hc_ad_5,.hc_ad_6,.hc_ad_7,.hc_ad_8,.hc_ad_9,.hc_ad_10,.hc_ad_11,.hc_ad_16,.ad_1,.ad_2,.adv_active,.adv_actives,.box_video,.menu_ads_area,.hc_ad_13,.lid_ads{ position:relative;}
.font_tip1{background:url(../images/ads_tip2.png) no-repeat; height:18px; width:32px; position:absolute; right:0; z-index:998; top:0;}
.font_tip2{background:url(../images/ads_tip2.png) no-repeat; height:29px; width:16px; position:absolute; right:0; z-index:998; bottom:30px;}
.img_tips{background:url(../images/img_adtip.png) no-repeat; height:15px; width:28px; position:absolute; right:0; z-index:998; bottom:0;}
.menu_ads_area_line{ border-left:1px solid #ddd; line-height:14px; vertical-align:middle;height:14px; margin-top:12px; float:left; }
.menu_ads_area_line2{ border-left:1px solid #ddd; line-height:14px; vertical-align:middle;height:14px; margin-top:12px; float:right; }