@charset "UTF-8";

/*===================================================================
	reset
===================================================================*/
html{ overflow-y:scroll; }
body, div, h1, h2, h3, h4, h5, h6, p, pre, blockquote, address, ul, ol, li, dl, dt, dd, table, caption, th, td, form, fieldset, textarea, iframe { margin:0; padding:0; }
p { word-wrap:break-word; word-break:break-all; } /* For Japanese */
* html h1, * html h2, * html h3, * html h4, * html h5, * html h6 { height:1%; }
img { line-height:1; border:none; vertical-align:top; }
table { border:none; border-collapse:collapse; border-spacing:0; font-size:inherit; }
th, td { padding:2px 0; }
caption, th, td { text-align:left; }
a[name] { color:#000; }
a[name]:hover { color:#000; text-decoration:none !important; outline:0 !important; }
a img { color:#000; }
fieldset { border:none; }
input, textarea, select { font-family:inherit; font-size:1em; }
input { vertical-align:-3px; }
select { vertical-align:middle; }
ul li { list-style-type:none; }
li li { font-size:inherit; }
em { font-style:normal; font-weight:bold; }
address { font-style:normal; }
label { cursor:pointer; }
legend { display:none; }
hr { display:none; visibility:hidden; height:0; border:0; }
h1, h2, h3, h4, h5, h6, form, fieldset, textarea, pre, blockquote, table, th, td { font-size:100%; }
p, li, dt, dd, pre, legend { line-height:1.5; }
h1, h2, h3, h4, h5, h6, dt { font-weight:bold; }
/* ------ password ------ */
input[type="password"] { height:1.2em; font-family:arial; ime-mode:disabled; }
/* ------ button ------ */
input[type="submit"], input[type="reset"], input[type="button"], input[type="image"] { cursor:pointer; }
/* ------ file ------ */
input[type="file"] { height:20px; }

/*===================================================================
	clearfix
===================================================================*/
.noteMod01:after,
#gNav:after, 
#headNav:after, 
.clearfix:after { display:block; clear:both; height:0; visibility:hidden; content:" "; }

.noteMod01,
#gNav, 
#headNav, 
.clearfix { /*position:relative;*/ display:inline-block; }

/* Hides from IE-mac \*/
* html .noteMod01,
* html #gNav, 
* html #headNav, 
* html .clearfix { height:1%; }

.noteMod01,
#gNav, 
#headNav, 
.clearfix { display:block; }
/* End hide from IE-mac */

.clearboth { clear:both; }
br.clear { clear:both; margin:0; padding:0; line-height:0; font-size:0; }

/*===================================================================
	base
===================================================================*/
body { background:#FFF; color:#333; font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif; font-size:100.01%; /* font-size:16px; */ }

/* ------ link ------ */
a:link    { color:#005AB4; text-decoration:none; }
a:visited { color:#005AB4; text-decoration:none; }
a:hover   { color:#FF3300; text-decoration:underline; }
a:active  { color:#FF3300; text-decoration:underline; }

/*===================================================================
	layout
===================================================================*/
/* ------ margin ------ */
.mtA   { margin:0 auto !important; }
.mt0   { margin-top:0 !important; }
.mt3   { margin-top:3px !important; }
.mt5   { margin-top:5px !important; }
.mt8   { margin-top:8px !important; }
.mt10  { margin-top:10px !important; }
.mt13  { margin-top:13px !important; }
.mt15  { margin-top:15px !important; }
.mt18  { margin-top:18px !important; }
.mt20  { margin-top:20px !important; }
.mt25  { margin-top:25px !important; }
.mt30  { margin-top:30px !important; }
.mt35  { margin-top:35px !important; }
.mt40  { margin-top:40px !important; }
.mt45  { margin-top:45px !important; }
.mt50  { margin-top:50px !important; }
.mt55  { margin-top:55px !important; }
.mt60  { margin-top:60px !important; }
.mt65  { margin-top:65px !important; }
.mt70  { margin-top:70px !important; }
.mt75  { margin-top:75px !important; }
.mt80  { margin-top:80px !important; }
.mt85  { margin-top:85px !important; }
.mt90  { margin-top:90px !important; }
.mt95  { margin-top:95px !important; }
.mt100 { margin-top:100px !important; }

.mr0   { margin-right:0 !important; }
.mr5   { margin-right:5px !important; }
.mr10  { margin-right:10px !important; }
.mr15  { margin-right:15px !important; }
.mr20  { margin-right:20px !important; }
.mr25  { margin-right:25px !important; }
.mr30  { margin-right:30px !important; }
.mr35  { margin-right:35px !important; }
.mr40  { margin-right:40px !important; }
.mr45  { margin-right:45px !important; }
.mr50  { margin-right:50px !important; }
.mr55  { margin-right:55px !important; }
.mr60  { margin-right:60px !important; }

.mb0   { margin-bottom:0 !important; }
.mb3   { margin-bottom:3px !important; }
.mb5   { margin-bottom:5px !important; }
.mb8   { margin-bottom:8px !important; }
.mb10  { margin-bottom:10px !important; }
.mb13  { margin-bottom:13px !important; }
.mb15  { margin-bottom:15px !important; }
.mb18  { margin-bottom:18px !important; }
.mb20  { margin-bottom:20px !important; }
.mb25  { margin-bottom:25px !important; }
.mb30  { margin-bottom:30px !important; }
.mb35  { margin-bottom:35px !important; }
.mb40  { margin-bottom:40px !important; }
.mb45  { margin-bottom:45px !important; }
.mb50  { margin-bottom:50px !important; }
.mb55  { margin-bottom:55px !important; }
.mb60  { margin-bottom:60px !important; }
.mb65  { margin-bottom:65px !important; }
.mb70  { margin-bottom:70px !important; }
.mb75  { margin-bottom:75px !important; }
.mb80  { margin-bottom:80px !important; }
.mb85  { margin-bottom:85px !important; }
.mb90  { margin-bottom:90px !important; }
.mb95  { margin-bottom:95px !important; }
.mb100 { margin-bottom:100px !important; }

.ml0   { margin-left:0 !important; }
.ml5   { margin-left:5px !important; }
.ml10  { margin-left:10px !important; }
.ml15  { margin-left:15px !important; }
.ml20  { margin-left:20px !important; }
.ml25  { margin-left:25px !important; }
.ml30  { margin-left:30px !important; }
.ml35  { margin-left:35px !important; }
.ml40  { margin-left:40px !important; }
.ml45  { margin-left:45px !important; }
.ml50  { margin-left:50px !important; }
.ml55  { margin-left:55px !important; }
.ml60  { margin-left:60px !important; }

/* ------ padding ------ */
.pt0   { padding-top:0 !important; }
.pt3   { padding-top:3px !important; }
.pt5   { padding-top:5px !important; }
.pt8   { padding-top:8px !important; }
.pt10  { padding-top:10px !important; }
.pt13  { padding-top:13px !important; }
.pt15  { padding-top:15px !important; }
.pt18  { padding-top:18px !important; }
.pt20  { padding-top:20px !important; }
.pt25  { padding-top:25px !important; }
.pt30  { padding-top:30px !important; }
.pt35  { padding-top:35px !important; }
.pt40  { padding-top:40px !important; }
.pt45  { padding-top:45px !important; }
.pt50  { padding-top:50px !important; }
.pt55  { padding-top:55px !important; }
.pt60  { padding-top:60px !important; }
.pt65  { padding-top:65px !important; }
.pt70  { padding-top:70px !important; }
.pt75  { padding-top:75px !important; }
.pt80  { padding-top:80px !important; }
.pt85  { padding-top:85px !important; }
.pt90  { padding-top:90px !important; }
.pt95  { padding-top:95px !important; }
.pt100 { padding-top:100px !important; }

.pr0   { padding-right:0 !important; }
.pr5   { padding-right:5px !important; }
.pr10  { padding-right:10px !important; }
.pr15  { padding-right:15px !important; }
.pr20  { padding-right:20px !important; }
.pr25  { padding-right:25px !important; }
.pr30  { padding-right:30px !important; }
.pr40  { padding-right:40px !important; }
.pr45  { padding-right:45px !important; }
.pr50  { padding-right:50px !important; }
.pr55  { padding-right:55px !important; }
.pr60  { padding-right:60px !important; }

.pb0   { padding-bottom:0 !important; }
.pb3   { padding-bottom:3px !important; }
.pb5   { padding-bottom:5px !important; }
.pb8   { padding-bottom:8px !important; }
.pb10  { padding-bottom:10px !important; }
.pb13  { padding-bottom:13px !important; }
.pb15  { padding-bottom:15px !important; }
.pb18  { padding-bottom:18px !important; }
.pb20  { padding-bottom:20px !important; }
.pb25  { padding-bottom:25px !important; }
.pb30  { padding-bottom:30px !important; }
.pb35  { padding-bottom:35px !important; }
.pb40  { padding-bottom:40px !important; }
.pb45  { padding-bottom:45px !important; }
.pb50  { padding-bottom:50px !important; }
.pb55  { padding-bottom:55px !important; }
.pb60  { padding-bottom:60px !important; }
.pb65  { padding-bottom:65px !important; }
.pb70  { padding-bottom:70px !important; }
.pb75  { padding-bottom:75px !important; }
.pb80  { padding-bottom:80px !important; }
.pb85  { padding-bottom:85px !important; }
.pb90  { padding-bottom:90px !important; }
.pb95  { padding-bottom:95px !important; }
.pb100 { padding-bottom:100px !important; }

.pl0	{ padding-left:0 !important; }
.pl5	{ padding-left:5px !important; }
.pl10	{ padding-left:10px !important; }
.pl15	{ padding-left:15px !important; }
.pl20	{ padding-left:20px !important; }
.pl25	{ padding-left:25px !important; }
.pl30	{ padding-left:30px !important; }
.pl35	{ padding-left:35px !important; }
.pl40	{ padding-left:40px !important; }
.pl45	{ padding-left:45px !important; }
.pl50	{ padding-left:50px !important; }
.pl55	{ padding-left:55px !important; }
.pl60	{ padding-left:60px !important; }

/* ------ width ------ */
.w1   { width:1%; }
.w2   { width:2%; }
.w3   { width:3%; }
.w4   { width:4%; }
.w5   { width:5%; }
.w6   { width:6%; }
.w7   { width:7%; }
.w8   { width:8%; }
.w9   { width:9%; }
.w10  { width:10%; }
.w11  { width:11%; }
.w12  { width:12%; }
.w13  { width:13%; }
.w14  { width:14%; }
.w15  { width:15%; }
.w16  { width:16%; }
.w17  { width:17%; }
.w18  { width:18%; }
.w19  { width:19%; }
.w20  { width:20%; }
.w21  { width:21%; }
.w22  { width:22%; }
.w23  { width:23%; }
.w24  { width:24%; }
.w25  { width:25%; }
.w26  { width:26%; }
.w27  { width:27%; }
.w28  { width:28%; }
.w29  { width:29%; }
.w30  { width:30%; }
.w31  { width:31%; }
.w32  { width:32%; }
.w33  { width:33%; }
.w34  { width:34%; }
.w35  { width:35%; }
.w36  { width:36%; }
.w37  { width:37%; }
.w38  { width:38%; }
.w39  { width:39%; }
.w40  { width:40%; }
.w41  { width:41%; }
.w42  { width:42%; }
.w43  { width:43%; }
.w44  { width:44%; }
.w45  { width:45%; }
.w46  { width:46%; }
.w47  { width:47%; }
.w48  { width:48%; }
.w49  { width:49%; }
.w50  { width:50%; }
.w51  { width:51%; }
.w52  { width:52%; }
.w53  { width:53%; }
.w54  { width:54%; }
.w55  { width:55%; }
.w56  { width:56%; }
.w57  { width:57%; }
.w58  { width:58%; }
.w59  { width:59%; }
.w60  { width:60%; }
.w61  { width:61%; }
.w62  { width:62%; }
.w63  { width:63%; }
.w64  { width:64%; }
.w65  { width:65%; }
.w66  { width:66%; }
.w67  { width:67%; }
.w68  { width:68%; }
.w69  { width:69%; }
.w70  { width:70%; }
.w71  { width:71%; }
.w72  { width:72%; }
.w73  { width:73%; }
.w74  { width:74%; }
.w75  { width:75%; }
.w76  { width:76%; }
.w77  { width:77%; }
.w78  { width:78%; }
.w79  { width:79%; }
.w80  { width:80%; }
.w81  { width:81%; }
.w82  { width:82%; }
.w83  { width:83%; }
.w84  { width:84%; }
.w85  { width:85%; }
.w86  { width:86%; }
.w87  { width:87%; }
.w88  { width:88%; }
.w89  { width:89%; }
.w90  { width:90%; }
.w91  { width:91%; }
.w92  { width:92%; }
.w93  { width:93%; }
.w94  { width:94%; }
.w95  { width:95%; }
.w96  { width:96%; }
.w97  { width:97%; }
.w98  { width:98%; }
.w99  { width:99%; }
.w100 { width:100%; }

.w100.auto { width:auto !important; }

/* ------ font-weight ------ */
.fwB { font-weight:bold !important; }
.fwN { font-weight:normal !important; }

/* ------ font-size ------ */
.fsS  { font-size:79%; } /* font-size:11px; */
.fsM  { font-size:85%; } /* font-size:12px; */
.fsL  { font-size:115% } /* font-size:16px; */
.fsXL { font-size:129%; } /* font-size:18px; */

/* ------ color ------ */
.fcR { color: #E60000 !important; }

/* ------ text-decoration ------ */
.fdU { text-decoration:underline; }

/* ------ indent ------ */
.indent1 { padding-left:1em; text-indent:-1em; }
.indent2 { padding-left:0.5em; text-indent:-0.5em; }
.indent3 { padding-left:2.2em; text-indent:-2.2em; }

/* ------ letter-spacing ------ */
.ls1 { letter-spacing:1px; }

/* ------ text-align ------ */
.taL { text-align:left; }
.taC { text-align:center; }
.taR { text-align:right; }

/* ------ vertical-align ------ */
.vaT { vertical-align:top !important; }
.vaM { vertical-align:middle !important; }
.vaB { vertical-align:bottom !important; }

/* ------ float ------ */
.flL { float:left; }
.flR { float:right; }

/* ------ border ------ */
.lineS { padding-bottom:10px; background:url(/common/images/bg_line_01.gif) repeat-x left bottom; }
.lineD { padding-bottom:10px; background:url(/common/images/bg_dline_02.gif) repeat-x left bottom; } 

/* ------ overflow ------ */
.ofH { overflow:hidden; }
.ofV { overflow:visible; }

/* ------ inline-block ------ */
.iBlk { display:-moz-inline-box; display:inline-block; /display:inline; /zoom:1; }

/* ------ nowrap ------ */
.nwrp { white-space:nowrap; }

/* ------ sup ------ */
body sup { font-size:100%; }
html>/* */body sup { font-size:100%; }
html:not(:target) sup { font-size:85%; }

/*===================================================================
	common
===================================================================*/
#header, 
#topicPath, 
#contents, 
#footer {
	font-size:87.5%; /* font-size:14px; */
}

/* ------ pagetopBlock ------ */
#pagetopBlock { position:fixed; bottom:0; z-index:999; right:0; }
#pagetopBlock p { text-align:right; }

/* ------ DeviceSwitch ------ */
#footer .deviceSwitch{ width:358px; margin:0 auto; padding-bottom:20px; }
#footer .deviceSwitch li{ float:left; width:179px; }

/*===================================================================
	contents
===================================================================*/
#contents { position:relative; width:100%; min-width:960px; margin:0 auto; }

/*===================================================================
	module
===================================================================*/
/* ------ iLink ------ */
.iLink01 { display:block; padding-left:21px; background:url(/common/images/ico_link_01.gif) no-repeat left top; }
.iLink02 { display:inline-block; /display:inline; /zoom:1; padding:0.2em 0 0 21px; background:url(/common/images/ico_link_01.gif) no-repeat left 0.2em; }

/* ------ iPop ------ */
.iPop01 { display:inline-block; /display:inline; /zoom:1; }
.iPop01 img { margin-right:5px; vertical-align:-2px; }
a.iPop01 img { margin-right:5px; margin-left:5px; vertical-align:-1px; }

/* ------ iDown ------ */
.iDown01 { display:block; padding-left:21px; background:url(/common/images/ico_down_01.gif) no-repeat left top; }
.iDown02 { display:inline-block; /display:inline; /zoom:1; padding:0.2em 0 0 21px; background:url(/common/images/ico_down_01.gif) no-repeat left 0.2em; }

/* ------ myEpson ------ */
.myEpson { display:inline-block; /display:inline; /zoom:1; }
.myEpson img { margin-right:5px; vertical-align:-7px; }

/* ------ listDot ------ */
.listDot01 { }
.listDot01 li { padding-left:12px; background:url(/common/images/ico_dot_01.gif) 0.5em 0.6em no-repeat; zoom:1; }
.listDot01 li li { padding-left:0; background:none; }

/* ------ headMod ------ */
.headMod01 { font-size:143%; } /* font-size:20px; */
.headMod02 { font-size:129%; } /* font-size:18px; */
.headMod03 { font-size:115%; } /* font-size:16px; */

/* ------ tblMod ------ */
.tblMod01 { width:100%; border-top:1px solid #E5E5E5; border-left:1px solid #E5E5E5; border-collapse:collapse; }
.tblMod01 th { background-color:#FAFAFA; }
.tblMod01 th, 
.tblMod01 td { padding:15px; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5; }

/* ------ relatedMod ------ */
.relatedMod01 { border:1px solid #D9D9D9; background-color:#FFF; }
.relatedMod01Mod01 .innerBlock { margin:1px; padding:10px 0; background-color:#F1F1F1; }
.relatedMod01 table { }
.relatedMod01 th, 
.relatedMod01 td { padding:0 10px; }
.relatedMod01 th { border-right:1px solid #D9D9D9; }
.relatedMod01 td.ico { padding:0 10px 0 20px; }

/* ------ noteMod ------ */
.noteMod01 { }
.noteMod01 .catch, 
.noteMod01 .txt { display:table-cell; padding:2px 0; vertical-align:top; /display:block; /float:left; /zoom:1; }
.noteMod01 .catch { width:auto; white-space:nowrap; }

/* ------ imgHeight ------ */
.imgHeight01 { position:relative; zoom:1; }
.imgHeight01 .img { position:absolute; right:0; bottom:1px; }


/*===================================================================
	/products/colorio/common/
===================================================================*/
/* ------ lNav ------ */
.lNav {
	width:100%;
	min-width:960px;
	height:43px;
	background:url(/common/images/bg_line_01.gif) repeat-x left bottom;
}
.lNav ul {
	width:960px;
	margin:0 auto;
}
.lNav li {
	float:left;
	width:192px;
	height:43px;
}
.lNav li a {
	display:block;
	width:100%;
	height:100%;
}
.lNav.top li.lnav01 a,
.lNav li.lnav01 a:hover { background:url(/products/colorio/common/images/nav_local_01_on.gif) no-repeat left top; }
.lNav.feature li.lnav02 a,
.lNav li.lnav02 a:hover { background:url(/products/colorio/common/images/nav_local_02_on.gif) no-repeat left top; }
.lNav.spec li.lnav03 a,
.lNav li.lnav03 a:hover { background:url(/products/colorio/common/images/nav_local_03_on.gif) no-repeat left top; }
.lNav.supply li.lnav04 a,
.lNav li.lnav04 a:hover { background:url(/products/colorio/common/images/nav_local_04_on.gif) no-repeat left top; }
.lNav.service li.lnav05 a,
.lNav li.lnav05 a:hover { background:url(/products/colorio/common/images/nav_local_05_on.gif) no-repeat left top; }

.lNav li a:hover img,
.lNav.top li.lnav01 a img,
.lNav.feature li.lnav02 a img,
.lNav.spec li.lnav03 a img,
.lNav.supply li.lnav04 a img,
.lNav.service li.lnav05 a img {
	visibility:hidden;
}

/* ------ ancNav ------ */
.ancNav {
	width:960px;
	margin:0 auto;
}
.ancNav li {
	float:left;
	width:220px;
	margin-right:10px;
	padding-right:10px;
	background:url(/common/images/bg_anc_01.gif) no-repeat right top;
	font-weight:bold;
	font-size:100%;
}
.ancNav li.last { background:none; }
.ancNav li p { padding-top:0; }

/*===================================================================
	contents
===================================================================*/
/* ------ headSection ------ */
#contents .headSection {
	position:relative;
	z-index:900;
	padding-bottom:20px;
}
/*#contents .headSection.lineS {
	padding-bottom:0 !important;
}*/
#contents .headSection .innerBlock {
	width:960px;
	margin:0 auto;
}

/*↓↓↓↓旧体裁↓↓↓↓*/
#contents .headSection .ttl {
	float:left;
	width:520px;
	/*height:40px;*/
	overflow:hidden;
}
#contents .headSection .aside {
	float:right;
	width:433px;
	padding-top:18px;
}
#contents .headSection .ttl h1,
#contents .headSection .ttl p {
	display:inline-block;
	/display:inline;
	/zoom:1;
	vertical-align:bottom;
	padding-left:15px;
	background:url(/common/images/bg_dline_01.gif) repeat-y left top;
}
#contents .headSection .ttl p.productsLogo {
	padding-right:15px;
	padding-left:0;
	background:none;
}

#contents .headSection .aside { }
#contents .headSection .aside .sns {
	float:left;
	width:117px;
	overflow:hidden;
}
#contents .headSection .aside .sns li {
	display:inline;
	padding-left:7px;
}
#contents .headSection .aside .guide {
	float:right;
	width:316px;
}
#contents .headSection .aside .guide ul {
	position:relative;
	z-index:997;
}
#contents .headSection .aside .guide li {
	/display:inline;
	float:left;
	width:141px;
	padding-left:16px;
	letter-spacing:-1px;
	font-weight:bold;
}
#contents .headSection .aside .guide li ul {
	display:none;
	position:absolute;
	top:100%;
	z-index:998;
	width:141px;
	font-size:79%; /* font-size:11px; */
	border-bottom:1px solid #E5E5E5;
	background-color:#FFFFFF;
}
#contents .headSection .aside .guide li ul li {
	/display:block;
	float:none;
	width:127px;
	padding:10px 7px;
	background:#FFF url(/common/images/bg_model_01.gif) repeat-x left top;
}
#contents .headSection .aside .guide li a {
	display:block;
	width:100%;
	height:100%;
}
#contents .headSection .purchase {
	width:141px;
	height:23px;
}
#contents .headSection .purchase a {
	display:block;
	width:100%;
	height:23px;
	background:url(/common/images/bt_purchase_01_on.gif) no-repeat left top;
}
#contents .headSection .purchase a:hover img {
	visibility:hidden;
}
#contents .headSection .purchase02 {
	width:141px;
	height:23px;
}
#contents .headSection .purchase02 a {
	display:block;
	width:100%;
	height:23px;
	background:url(/common/images/bt_purchase_02_on.gif) no-repeat left top;
}
#contents .headSection .purchase02 a:hover img {
	visibility:hidden;
}
/*↑↑↑↑旧体裁↑↑↑↑*/

#contents .headSection .leftArea {
	float:left;
	width:804px;
}
#contents .headSection .leftArea .logo,
#contents .headSection .leftArea .title,
#contents .headSection .leftArea .list {
	display:inline-block;
	/display:inline;
	/zoom:1;
	vertical-align:bottom;
}
#contents .headSection .leftArea .title,
#contents .headSection .leftArea .list {
	padding-left:15px;
}
#contents .headSection .leftArea .logo {
	padding-right:15px;
}
#contents .headSection .leftArea .title {
	background:url(/common/images/bg_dline_01.gif) repeat-y left bottom;
}
#contents .headSection .leftArea .list .item {
	position:relative;
	z-index:997;
	width:141px;
	left:0;
}
#contents .headSection .leftArea .list .item ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	z-index:998;
	font-size:79%; /* font-size:11px; */
	border-bottom:1px solid #E5E5E5;
	background-color:#FFFFFF;
}
#contents .headSection .leftArea .list .item ul li {
	width:127px;
	padding:10px 7px;
	background:#FFF url(/common/images/bg_model_01.gif) repeat-x left top;
	letter-spacing:-1px;
	font-weight:bold;
}
#contents .headSection .leftArea .list .item ul li a {
	display:block;
	width:100%;
	height:100%;
}

#contents .headSection .rightArea {
	float:right;
	width:141px;
	padding-top:18px;
}
#contents .headSection .rightArea .purchase {
	width:141px;
	height:23px;
}
#contents .headSection .rightArea .purchase a {
	display:block;
	width:100%;
	height:23px;
	background:url(/common/images/bt_purchase_01_on.gif) no-repeat left top;
}
#contents .headSection .rightArea .purchase a:hover img {
	visibility:hidden;
}
#contents .headSection .rightArea .purchase02 {
	width:141px;
	height:23px;
}
#contents .headSection .rightArea .purchase02 a {
	display:block;
	width:100%;
	height:23px;
	background:url(/common/images/bt_purchase_02_on.gif) no-repeat left top;
}
#contents .headSection .rightArea .purchase02 a:hover img {
	visibility:hidden;
}

#contents .headSection .snsArea {
	clear:both;
	padding-top:15px;
	text-align:right;
}
#contents .headSection .snsArea .sns {
	text-align:right;
}
#contents .headSection .snsArea .sns li {
	display:inline;
	padding-left:7px;
}


/* ------ mainSection ------ */
#contents .mainSection {
	position:relative;
	width:960px;
	margin:45px auto;
	z-index:800;
}

#contents .mainSection .img {
	display:table-cell;
	/display:inline;
	/zoom:1;
	vertical-align:middle;
	width:470px;
	text-align:center;
}
#contents .mainSection .img .imgGroup {
	display:inline-block;
	/display:inline;
	/zoom:1;
	text-align:left;
}

#contents .mainSection .summary {
	display:table-cell;
	/display:inline;
	/zoom:1;
	vertical-align:middle;
	width:490px;
}
#contents .mainSection .summary .ttl .ttlGroup {
	display:inline-block;
	vertical-align:bottom;
}
#contents .mainSection .summary .ttl .ttlGroup .sttl {
	display:block;
	margin-bottom:5px;
	font-weight:bold;
	font-size:115%; /* font-size:16px; */
}
#contents .mainSection .summary .ttl .note {
	display:inline-block;
	vertical-align:bottom;
	padding-left:15px;
	font-weight:normal;
	font-size:79%; /* font-size:11px; */
}
#contents .mainSection .summary .ttl .note span {
	vertical-align:bottom;
}
#contents .mainSection .summary .txt {
	margin-top:25px;
	line-height:1.3;
	font-weight:bold;
	font-size:129%; /* font-size:18px; */
}
#contents .mainSection .point {
	width:480px;
	margin-top:17px;
}
#contents .mainSection .point li {
	display:inline-block;
	/display:inline;
	/zoom:1;
	vertical-align:top;
	margin:0 5px 5px 0;
}
#contents .mainSection .iDown01 {
	font-size:79%; /* font-size:11px; */
}

#contents .mainSection .btn {
	position:absolute;
	right:0;
	top:-30px;
}
#contents .mainSection .btn .iLink01 {
	white-space:nowrap;
}

#contents .mainSection .snsArea { }
#contents .mainSection .snsArea .sns {
	text-align:right;
}
#contents .mainSection .snsArea .sns li {
	display:inline;
	padding-left:7px;
}

/* ------ detailSection ------ */
#contents .detailSection {
	width:960px;
	margin:0 auto;
}

#contents .detailSection .main {
	float:left;
	/*2013/09/13 10:15下記変更*/
	width:720px;
	/*↑↑↑↑ここまで↑↑↑↑*/
}
#contents .detailSection .side {
	float:right;
	width:180px;
}

.feature #contents .detailSection .main .detailGroup {
	/*2013/09/13 10:15下記コメントアウト*/
	/*padding:0 39px 30px 39px;
	border-top:1px solid #E5E5E5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;*/
	/*↑↑↑↑ここまで↑↑↑↑*/
	padding:0 39px 30px;
	border-radius:2px;
	border-top:1px solid #E5E5E5;
	border-left:1px solid #E5E5E5;
	border-right:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}
#contents .detailSection .main .detailGroup .detail {
	padding-bottom:15px;
	border-bottom:solid 1px #E5E5E5;
}

/*2013/09/13 10:16下記追加*/
#contents .detailSection .main .detailGroup .detail_no-border {
	padding-bottom:30px;
	border-bottom: none;
}
#contents .detailSection .main .detailGroup .detail a{
	text-decoration:none;
	display:block;
	padding-right:26px;
	background:url(/common/images/products_top_arrow_1.png) no-repeat right center;
}
/*↑↑↑↑ここまで↑↑↑↑*/
#contents .detailSection .main .detailGroup .detail .summary {
	display:table-cell;
	/display:inline;
	/zoom:1;
	/*2013/09/13 10:17下記変更*/
	vertical-align:middle;
	/*padding-right:10px;*/
	color:#005AB4;
	/*↑↑↑↑ここまで↑↑↑↑*/
	width:325px;
}
#contents .detailSection .main .detailGroup .detail .img {
	display:table-cell;
	/display:inline;
	/zoom:1;
	vertical-align:middle; 
	width:355px;
	/* 2013/09/13 10:17下記追加 */
	text-align: right;
	/*↑↑↑↑ここまで↑↑↑↑*/
}
#contents .detailSection .main .detailGroup .detail .summary .ttl {
	line-height:1.3;
	font-weight:normal;
	font-size:172%; /* font-size:24px */
}
/*2013/09/13 10:18 下記追加*/
#contents .detailSection .main .detailGroup .detail .summary .ttl .lead {
line-height: 1.3;
font-weight: normal;
font-size: 87.5%;
font-size: 14px;
}
/*↑↑↑↑ここまで↑↑↑↑*/
#contents .detailSection .main .detailGroup .detail .summary .txt {
	margin-top:17px;
	/*2013/09/13 10:18 下記追加*/
	color:#000000;
	/*↑↑↑↑ここまで↑↑↑↑*/
}
#contents .detailSection .main .detailGroup .detail .summary .btn {
	margin-top:17px;
	font-weight:bold;
}

#contents .detailSection .main .detailGroup .detail .layCol01 {
	float:left;
	width:335px;
}
#contents .detailSection .main .detailGroup .detail .layCol02 {
	float:right;
	width:335px;
}
/*2013/09/13 10:09 下記追加*/
#contents .detailSection .main .detailGroup .detail .layCol01 a,
#contents .detailSection .main .detailGroup .detail .layCol02 a{
display:block;
text-decoration: none;
padding-right: 26px;
padding-bottom:10px;
background: url(/common/images/products_top_arrow_1.png) no-repeat right center;
border-bottom: solid 1px #E5E5E5;
}
/*↑↑↑↑ここまで↑↑↑↑*/
#contents .detailSection .main .detailGroup .detail .layCol01 .img,
#contents .detailSection .main .detailGroup .detail .layCol02 .img {
	/*float:left;2013/09/13 10:05コメントアウト*/
	width:87px;
}
#contents .detailSection .main .detailGroup .detail .layCol01 .summary,
#contents .detailSection .main .detailGroup .detail .layCol02 .summary {
	/*float:left;2013/09/13 10:05コメントアウト*/
	color:#000000;
	width:198px;
	padding-left: 5px;
	padding-right:0;
}
#contents .detailSection .main .detailGroup .detail .layCol01 .summary .ttl,
#contents .detailSection .main .detailGroup .detail .layCol02 .summary .ttl { 
	font-size:85%; /* font-size:11px; */
	font-weight:bold;
}
#contents .detailSection .main .detailGroup .detail .layCol01 .summary .txt,
#contents .detailSection .main .detailGroup .detail .layCol02 .summary .txt,
#contents .detailSection .main .detailGroup .detail .layCol01 .summary .btn,
#contents .detailSection .main .detailGroup .detail .layCol02 .summary .btn {
	font-size:79%; /* font-size:11px; */
}
#contents .detailSection .main .detailGroup .detail .layCol01 .summary .txt,
#contents .detailSection .main .detailGroup .detail .layCol02 .summary .txt,
#contents .detailSection .main .detailGroup .detail .layCol01 .summary .btn,
#contents .detailSection .main .detailGroup .detail .layCol02 .summary .btn {
	margin-top:5px;
}

#contents .detailSection .main .noteBlock {
	margin-top:20px;
}
#contents .detailSection .main .noteBlock li {
	display:inline;
	padding-right:10px;
}

/* ------ detailSection .side ------ */
#contents .detailSection .side {
	float:right;
	width:180px;
}
#contents .detailSection .side .sideNav {
	border:1px solid #E5E5E5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}
#contents .detailSection .side .sideNav .ttl {
	padding:12px 15px 10px 15px;
	background-color:#FAFAFA;
}
#contents .detailSection .side .sideNav .listBlock {
	padding:0 15px;
	border-top:1px solid #E5E5E5;
}
#contents .detailSection .side .sideNav .listBlock .list {
	font-size:85%; /* font-size:12px; */
}
#contents .detailSection .side .sideNav .listBlock .list li {
	padding:10px 0;
	background:url(/common/images/bg_dline_02.gif) repeat-x left bottom;
}
#contents .detailSection .side .sideNav .listBlock .list li.last {
	background:none;
}
#contents .detailSection .side .sideNav .sub { }
#contents .detailSection .side .sideNav .sub .ttl {
	padding:10px 0 0 0;
	background:none;
	font-size:85%;
}
#contents .detailSection .side .bnr {
	margin-top:10px;
}

/* ------ subSection ------ */
#contents .subSection {
	width:960px;
	margin:0 auto;
}
#contents .subSection .modelNav {
	width:800px;
	margin:0 auto 30px auto;
}
#contents .subSection .modelNav li {
	display:inline;
} 
#contents .subSection .subNav .ttl {
	padding:12px 15px 10px 15px;
	background-color:#FAFAFA;
}
#contents .subSection .subNav .listBlock {
	padding:0 15px;
	border-top:1px solid #E5E5E5;
}
#contents .subSection .subNav .listBlock .list li {
	padding:10px 0;
	background:url(/common/images/bg_dline_02.gif) repeat-x left bottom;
}
#contents .subSection .subNav .listBlock .list li.last {
	background:none;
}
#contents .subSection .subNav .layCol01 {
	float:left;
	width:460px;
}
#contents .subSection .subNav .layCol02 {
	float:right;
	width:460px;
}
#contents .subSection .subNav .layCol01,
#contents .subSection .subNav .layCol02 {
	border:1px solid #E5E5E5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}
#contents .subSection .subNav .list {
	font-size:85%; /* font-size:12px; */
}
#contents .subSection .otherNav {
	margin-top:15px;
}
#contents .subSection .otherNav ul {
	font-size:85%;
}
#contents .subSection .otherNav li {
	display:inline;
	padding-right:15px;
}


/*===================================================================
	module
===================================================================*/
/* ------ relatedMod ------ */
.relatedMod01 { border:1px solid #D9D9D9; background-color:#FFF; }
.relatedMod01 .innerBlock { margin:1px; padding:10px 0; background-color:#F1F1F1; }
.relatedMod01 table { }
.relatedMod01 th,
.relatedMod01 td { padding:0 10px; }
.relatedMod01 th { border-right:1px solid #D9D9D9; }
.relatedMod01 td.ico { padding:0 10px 0 20px; }

/* ------ ttlMod01 ------ */
#contents .detailSection .main .detailGroup .ttlMod01 h2,
#contents .detailSection .main .detailGroup .ttlMod01 h3,
#contents .detailSection .main .detailGroup .ttlMod01 h4,
#contents .detailSection .main .detailGroup .ttlMod01 h5 {
	display:inline-block;
	/display:inline;
	/zoom:1;
	background:url(/products/colorio/common/images/bg_ttl_02.gif) no-repeat right center;
}
#contents .detailSection .main .detailGroup .ttlMod01 span {
	display:inline-block;
	/display:inline;
	/zoom:1;
	padding:0.8em 20px 0.7em 20px;
	background:url(/products/colorio/common/images/bg_ttl_01.gif) no-repeat left center;
	line-height:1;
	color:#FFF;
	font-weight:bold;
}

/* ------ oneCol ------ */
#contents.oneCol .detailSection .main {
	float:none;
	width:100%;
}

/*===================================================================
	feature.htm
===================================================================*/
body .ancNav li a {
	text-decoration:underline;
}

body.feature_1 .ancNav .current01 a,
body.feature_2 .ancNav .current02 a,
body.feature_3 .ancNav .current03 a,
body.feature_4 .ancNav .current04 a,
body.feature_5 .ancNav .current05 a,
body.feature_6 .ancNav .current06 a,
body.feature_7 .ancNav .current07 a,
body.feature_8 .ancNav .current08 a,
body.feature_9 .ancNav .current09 a,
body.feature_10 .ancNav .current10 a,
body.feature_11 .ancNav .current11 a,
body.feature_12 .ancNav .current12 a,
body.feature_13 .ancNav .current13 a,
body.feature_14 .ancNav .current14 a,
body.feature_15 .ancNav .current15 a {
	color:#333;
	text-decoration:none;
	cursor:default;
}

body.feature h4 {
	margin-bottom:15px;
	padding:5px 10px;
	background-color:#F1F1F1;
}

/*===================================================================
	size.htm
===================================================================*/
body.size #contents .detailSection {
	margin:40px auto
}
body.size #contents .detailSection .main .imgGroup {
	display:inline-block;
	/display:inline;
	/zoom:1;
	text-align:left;
}


.newsSection {
	width:960px;
	margin:0 auto;
	border:1px solid #E5E5E5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}

.newsSection .headMod02 {
	padding:15px 20px;
	background-color:#FAFAFA;
}
.newsSection .newsGroup {
	padding:0 20px;
	font-size:79%; /* font-size:11px; */
}
.newsSection .newsGroup dl {
	padding:10px;
}
.newsSection .newsGroup .date {
	display:table-cell;
	/display:inline;
	/zoom:1;
	vertical-align:middle;
	width:100px;
	padding-right:10px;
}
.newsSection .newsGroup .ico {
	display:table-cell;
	/display:inline;
	/zoom:1;
	vertical-align:middle;
	width:80px;
	padding-right:10px;
}
.newsSection .newsGroup .txt {
	display:table-cell;
	/display:inline;
	/zoom:1;
	vertical-align:middle;
	width:700px;
}
