@charset "UTF-8";

/*===================================================================
	reset
===================================================================*/
#footer div, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer p, #footer pre, #footer blockquote, #footer address, #footer ul, #footer ol, #footer li, #footer dl, #footer dt, #footer dd, #footer table, #footer caption, #footer th, #footer td, #footer form, #footer fieldset, #footer textarea, #footer iframe { margin:0; padding:0; }
#footer p { word-wrap:break-word; word-break:break-all; } /* For Japanese */
* html #footer h1, * html #footer h2, * html #footer h3, * html #footer h4, * html #footer h5, * html #footer h6 { height:1%; }
#footer img { line-height:1; border:none; vertical-align:top; }
#footer table { border:none; border-collapse:collapse; border-spacing:0; font-size:inherit; }
#footer caption, #footer th, #footer td { text-align:left; }
#footer a[name] { color:#000; }
#footer a[name]:hover { color:#000; text-decoration:none !important; outline:0 !important; }
#footer a img { color:#000; }
#footer fieldset { border:none; }
#footer input, #footer textarea, #footer select { font-family:inherit; font-size:1em; }
#footer input { vertical-align:-3px; }
#footer select { vertical-align:middle; }
#footer ul li { list-style-type:none; }
#footer li li { font-size:inherit; }
#footer em { font-style:normal; font-weight:bold; }
#footer address { font-style:normal; }
#footer label { cursor:pointer; }
#footer legend { display:none; }
#footer hr { display:none; visibility:hidden; height:0; border:0; }
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer form, #footer fieldset, #footer textarea, #footer pre, #footer blockquote, #footer table, #footer th, #footer td { font-size:100%; }
#footer p, #footer li, #footer dt, #footer dd, #footer pre, #footer legend { line-height:1.5; }
#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6, #footer dt { font-weight:bold; }
/* ------ password ------ */
#footer input[type="password"] { height:1.2em; font-family:arial; ime-mode:disabled; }
/* ------ button ------ */
#footer input[type="submit"], #footer input[type="reset"], #footer input[type="button"], #footer input[type="image"] { cursor:pointer; }
/* ------ file ------ */
#footer input[type="file"] { height:20px; }

/*===================================================================
	clearfix
===================================================================*/
#footer .clearfix:after { display:block; clear:both; height:0; visibility:hidden; content:" "; }
#footer .clearfix { /*position:relative;*/ display:inline-block; }

/* Hides from IE-mac \*/
* html #footer .clearfix { height:1%; }
#footer .clearfix { display:block; }
/* End hide from IE-mac */

#footer .clearboth { clear:both; }
hr,
#footer br.clear { clear:both; margin:0; padding:0; line-height:0; font-size:0; }

/*===================================================================
	base
===================================================================*/
body { margin:0; padding:0; background-color:#FFF !important; background-image:none !important; font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif; font-size:100.01% !important; /* font-size:16px; */ }

/* ------ link ------ */
#footer a:link    { color:#005AB4; text-decoration:none; }
#footer a:visited { color:#005AB4; text-decoration:none; }
#footer a:hover   { color:#FF3300; text-decoration:underline; }
#footer a:active  { color:#FF3300; text-decoration:underline; }

/*===================================================================
	common
===================================================================*/
#footer {
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	font-size:14px; /* font-size:14px; */
}

#footer p, #footer ul, #footer ul li {
	line-height:1.5 !important;
	letter-spacing:0 !important;
}

/* ------ pagetopBlock ------ */
#pagetopBlock { position:fixed; bottom:0; z-index:999; right:0; }
#pagetopBlock p { text-align:right; }

/*===================================================================
	footer
===================================================================*/
#footer {
	width:100%;
	min-width:960px;
	margin:70px auto 0 auto;
	padding-bottom:30px;
	background:#FAFAFA url(/common/images/bg_line_01.gif) repeat-x left top;
	color:#333;
}
#footer.narrow {
	min-width:725px;
}

/* ------ deepFoot ------ */
#footer #deepFoot {
	width:960px;
	margin:0 auto;
	padding:30px 0;
}
#footer.narrow #deepFoot {
	width:725px;
}

#footer #deepFoot .main {
	float:left;
	width:690px;
}
#footer.narrow #deepFoot .main {
	width:543px;
}

#footer #deepFoot .side {
	float:right;
	width:190px;
}
#footer.narrow #deepFoot .side {
	width:161px;
}

#footer #deepFoot .layCol01 { float:left; width:210px; padding-right:30px; }
#footer #deepFoot .layCol02 { float:left; width:210px; padding-right:30px; }
#footer #deepFoot .layCol03 { float:left; width:210px; }
#footer.narrow #deepFoot .layCol01 { float:left; width:161px; padding-right:20px; }
#footer.narrow #deepFoot .layCol02 { float:left; width:161px; padding-right:20px; }
#footer.narrow #deepFoot .layCol03 { float:left; width:161px; }

#footer #deepFoot .layCol03 dt, 
#footer #deepFoot .layCol03 dd {
	padding-left:31px;
}
#footer.narrow #deepFoot .layCol03 dt, 
#footer.narrow #deepFoot .layCol03 dd {
	padding-left:21px;
}

#footer #deepFoot .layCol03 dt{
	line-height:1.3;
}
#footer #deepFoot .layCol03 dl.first {
	padding-bottom:20px;
}

#footer #deepFoot .main .listBlock {
	background:url(/common/images/foot/foot_bg_dline_01.gif) repeat-y left top;
}
#footer.narrow #deepFoot .main .listBlock {
	background:url(/common/images/foot/foot_bg_dline_narrow_01.gif) repeat-y left top;
}

#footer #deepFoot .side .listBlock {
	padding-bottom:20px;
	background:url(/common/images/bg_dline_02.gif) repeat-x left bottom;
}
#footer #deepFoot .ttl {
	margin-bottom:20px;
	padding-bottom:20px;
	background:url(/common/images/bg_dline_02.gif) repeat-x left bottom;
}
#footer #deepFoot .list li {
	margin-top:10px;
	font-size:79%; /* font-size:11px; */
}
#footer #deepFoot .list li.first {
	margin-top:0 !important;
}
#footer #deepFoot .other .list {
	padding-top:10px;
}
#footer #deepFoot dt, 
#footer #deepFoot .side .list li, 
#footer #deepFoot .other .list li {
	font-size:85%; /* font-size:12px; */
	font-weight:bold;
}

/* ------ fNav ------ */
#footer #fNav {
	width:920px;
	margin:0 auto;
	padding:15px 20px;
	background:#EBEBEB url(/common/images/foot/foot_bg_01.gif) repeat-x left top;
	font-size:79%; /* font-size:11px; */
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}
#footer.narrow #fNav {
	width:705px;
	font-size:72%; /* font-size:10px; */
}

#footer #fNav .nav {
	float:left;
	width:600px;
}
#footer.narrow #fNav .nav {
	width:440px;
}

#footer #fNav .nav li {
	display:inline;
	padding-right:15px;
}
#footer.narrow #fNav .nav li {
	padding-right:10px;
}

#footer #fNav .copy {
	float:right;
	width:300px;
	font-family:Arial, sans-serif;
	font-weight:bold;
	text-align:right;
}
#footer.narrow #fNav .copy {
	float:right;
	width:265px;
}

#footer #fNav .copy span { }

/*===================================================================
	module
===================================================================*/
/* ------ iLink ------ */
#footer .iLink01 { display:block; padding:0 0 0 21px; background:url(/common/images/ico_link_01.gif) no-repeat left top; }
#footer .iLink02 { display:inline-block; /display:inline; /zoom:1; padding:0.2em 0 0 21px; background:url(/common/images/ico_link_01.gif) no-repeat left 0.2em; }

/* ------ iPop ------ */
#footer .iPop01 { display:inline-block; /display:inline; /zoom:1; }
#footer .iPop01 img { margin-right:5px; vertical-align:-2px; }
#footer a.iPop01 img { margin-right:5px; margin-left:5px; vertical-align:-1px; }

/* ------ iDown ------ */
#footer .iDown01 { display:block; padding:0 0 0 21px; background:url(/common/images/ico_down_01.gif) no-repeat left top; }
#footer .iDown02 { display:inline-block; /display:inline; /zoom:1; padding:0.2em 0 0 21px; background:url(/common/images/ico_down_01.gif) no-repeat left 0.2em; }

/* ------ myEpson ------ */
#footer .myEpson { display:inline-block; /display:inline; /zoom:1; }
#footer .myEpson img { margin-right:5px; vertical-align:-7px; }

/* ------ headMod ------ */
#footer .headMod01 { font-size:143%; } /* font-size:20px; */
#footer .headMod02 { font-size:129%; } /* font-size:18px; */
#footer .headMod03 { font-size:115%; } /* font-size:16px; */

/* ------ table ------ */
#footer .tblMod01 { width:100%; border-top:1px solid #E5E5E5; border-left:1px solid #E5E5E5; border-collapse:collapse; }
#footer .tblMod01 th { background-color:#FAFAFA; }
#footer .tblMod01 th, 
#footer .tblMod01 td { padding:15px; border-right:1px solid #E5E5E5; border-bottom:1px solid #E5E5E5; }