@charset "UTF-8";

/*===================================================================
	index.html　
===================================================================*/
/* ------ headSection ------ */
#contents .headSection { }
#contents .headSection .aside {
	padding-top:2px;
}
#contents .headSection .aside .guide {
	font-size:72%;
}
#contents .headSection .aside .guide li {
	float:none;
	display:inline-block;
	/display:inline;
	/zoom:1;
	vertical-align:bottom;
}

/* ------ mainSection ------ */
#contents .mainSection {
	width:960px;
	margin:25px auto 0;
}
#contents .mainSection .mainvisual_guide {
	position:relative;
	z-index:500;
	width:1200px;
	height:345px;
	margin:0 -120px;
	overflow:hidden;
}
#contents .mainSection .mainvisual_guide #pagination_guide {
	position:absolute;
	top:113px;
	z-index:990;
	width:1200px;
}
#contents .mainSection .mainvisual_guide #pagination_guide li {
	position:absolute;
	z-index:999;
	width:40px;
	cursor:pointer;
}
#contents .mainSection .mainvisual_guide #pagination_guide li#mainPrev {
	left:0;
}
#contents .mainSection .mainvisual_guide #pagination_guide li#mainNext {
	right:0;
}
#contents .mainSection .mainvisual_guide #slide_guide {
	position:relative;
	left:0;
	top:0;
	z-index:980;
	/*width:3600px;*/
	height:345px;
}
#contents .mainSection .mainvisual_guide #slide_guide li{
	float:left;
}
.mainSection #mainList {
	text-align:center;
}
.mainSection #mainList li {
	z-index:970;
	display:inline-block;
	/display:inline;
	/zoom:1;
	width:15px;
	height:15px;
	padding:0 5px;
	cursor:pointer;
}

/* ------ lineupSection ------ */
#contents .lineupSection {
	width:960px;
	margin:45px auto 0;
}
#contents .lineupSection .headMod02 {
	padding-bottom:30px;
	background:url(/images/bg_lineup.gif) no-repeat center bottom;
}
#contents .lineupSection .product_guide {
	position:relative;
	z-index:500;
	width:1200px;
	height:165px;
	margin:0 -120px;
	overflow:hidden;
}
#contents .lineupSection .product_guide #pagination_guide2 {
	position:absolute;
	top:13px;
	z-index:990;
	width:1200px;
}
#contents .lineupSection .product_guide #pagination_guide2 li {
	position:absolute;
	z-index:999;
	width:40px;
	cursor:pointer;
}
#contents .lineupSection .product_guide #pagination_guide2 li#mainPrev2 {
	left:0;
}
#contents .lineupSection .product_guide #pagination_guide2 li#mainNext2 {
	right:0;
}
#contents .lineupSection .product_guide #slide_guide2 {
	position:relative;
	left:0;
	top:0;
	z-index:980;
	margin-left:0px;
	width:2400px;/* 160*15 */
	height:165px;
}
#contents .lineupSection .product_guide #slide_guide2 {

}
#contents .lineupSection .product_guide #slide_guide2 li {
	float:left;
	width:160px;
	margin-top:25px;
	font-size:80%;
	text-align:center;
}
#contents .lineupSection .product_guide #slide_guide2 li img {
	margin-bottom:5px;
}

/* ------ tickerSection ------ */
#contents .tickerSection {
	width:956px;
	margin:30px auto 0;
	border:2px solid #005ab4;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	font-size:90%;
}
#contents .tickerSection h2 {
	width:164px;
	height:48px;
	line-height:48px;
	float:left;
	text-align:center;
	color:#fff;
	background:#005ab4;
	overflow:hidden;
}
#contents .tickerSection .tickerGroup {
	width:770px;
	height:48px;
	float:right;
	overflow:hidden;
}
#contents .tickerSection .tickerGroup dl {
}
#contents .tickerSection .tickerGroup dl dt {
	float:left;
	width:115px;
	padding-right:10px;
	_width:125px;
	height:48px;
	line-height:48px;
	overflow:hidden;
}
#contents .tickerSection .tickerGroup dl dd {
	float:left;
	width:635px;
	height:48px;
	line-height:48px;
	overflow:hidden;
}

/* ------ columnSection ------ */
#contents .columnSection {
	width:960px;
	margin:15px auto 0;
}
#contents .columnSection .main {
	width:770px;
	float:left;
}
#contents .columnSection .sub {
	width:180px;
	float:right;
}

/* ------ newsSection ------ */
#contents .newsSection {
	width:768px;
}
#contents .newsSection .newsTitle {
	background:#fafafa;
}
#contents .newsSection .newsTitle {
	background:#fafafa;
}
#contents .newsSection .newsTitle ul {
	float:right;
	padding:20px 19px 0;
}
#contents .newsSection .newsTitle ul li{
	float:right;
	padding-left:15px;
}
#contents .newsSection .newsTitle li.rss {
	padding-right:16px;
	background:url(/common/images/bg_dline_01.gif) repeat-y right top;
}
#contents .newsSection .newsGroup {
	padding:10px 20px;
}
#contents .newsSection .newsGroup .txt {
	width:600px;
}
html*#contents .newsSection .newsGroup .txt { /* IE 6/7 */
	width:590px;
}
#contents .newsSection #tabGroup .tabNav {
	height:41px;
	padding:0 19px;
	background:#fafafa url(/common/images/bg_line_01.gif) repeat-x left bottom;
}
#contents .newsSection #tabGroup .tabNav .tab {
}
#contents .newsSection #tabGroup .tabNav .tab li {
	float:left;
	width:365px;
	height:41px;
}
#contents .newsSection #tabGroup .tabNav .tab li img {
	cursor:pointer;
}

/* attenion */
#contents .attention {
	margin-top:10px;
}
#contents .attention .newsTitle h2 {
	padding-left:50px;
	color:#f51c00;
	background:url(/common/img/ico_important.gif) no-repeat 25px 15px;
}
#contents .attention .date span{
	color:#f51c00;
}

/* ------ companySection ------ */

#contents .companySection {
	margin-top:10px;
	border:1px solid #e5e5e5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}
#contents .companySection h2 {
	padding:10px 15px;
	background:#fafafa;
	border-bottom:1px solid #e5e5e5;
}
#contents .companySection ul {
	margin:10px;
	border:1px solid #e5e5e5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}
.companySection ul li {
	padding:15px 5px 15px 55px;
	border-bottom:1px solid #e5e5e5;
	font-size:80%;
}
#contents .companySection ul li.sidenavi_01 {
	background:#fafafa url(/images/bg_sidenavi_01.jpg) no-repeat 3px 50%;
}
#contents .companySection ul li.sidenavi_02 {
	background:#fafafa url(/images/bg_sidenavi_02.jpg) no-repeat 3px 50%;
}
#contents .companySection ul li.sidenavi_03 {
	background:#fafafa url(/images/bg_sidenavi_03.jpg) no-repeat 3px 50%;
}
#contents .companySection ul li.sidenavi_04 {
	background:#fafafa url(/images/bg_sidenavi_04.jpg) no-repeat 3px 50%;
}
#contents .companySection ul li.sidenavi_05 {
	background:#fafafa url(/images/bg_sidenavi_05.jpg) no-repeat 3px 50%;
	padding:7px 5px 7px 55px;
}
#contents .companySection ul li.sidenavi_06 {
	background:#fafafa url(/images/bg_sidenavi_06.jpg) no-repeat 3px 50%;
}
#contents .companySection ul li.sidenavi_07 {
	background:#fafafa url(/images/bg_sidenavi_07.jpg) no-repeat 3px 50%;
	padding:7px 5px 7px 55px;
}
#contents .companySection ul li.sidenavi_08 {
	background:#fafafa url(/images/bg_sidenavi_08.jpg) no-repeat 3px 50%;
}
#contents .companySection ul li.sidenavi_09 {
	background:#fafafa url(/images/bg_sidenavi_09.jpg) no-repeat 3px 50%;
	padding:7px 5px 7px 55px;
	border-bottom:none;
}


/* ------ linkSection ------ */
#contents .linkSection {
	margin-top:10px;
	border:1px solid #e5e5e5;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
}
#contents .linkSection h2 {
	padding:10px 15px;
	background:#fafafa;
	border-bottom:1px solid #e5e5e5;
}
#contents .linkSection ul {
	margin:0 10px;
}
#contents .linkSection ul li {
	padding:10px 5px;
	font-size:80%;
	background:url(/common/images/bg_dline_02.gif) repeat-x left bottom;
}
#contents .linkSection ul li.last {
	background:none;
}





