/*
 * ----------
 *  IMPORTS
 * ----------
 */
/* Libs */
/* Countdown */
.countdown .clock {
  display: inline-block;
  font-size: 0.8em;
  white-space: nowrap;
  color: #333;
  font-weight: bold;
}
.countdown .clock .item {
  position: relative;
  display: inline-block;
  text-align: right;
}
.countdown .clock span:before {
  content: "";
  display: none;
}
.countdownSticker {
  display: inline-block;
  margin: 0 0 0.5em;
  padding: 0.3em 1em;
  color: #0171c4;
}
.countdown-label {
  display: inline-block;
  margin: 0 0 0.5em;
  padding: 0.3em 1em;
  background: #0176A2;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}
.countdown-label p {
    margin-bottom: 0;
}
.ie8 .countdown header,
.lt-ie8 .countdown header {
  font-size: 1em;
}
@media only screen and (min-width: 998px) {
  .countdown header {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1240px) {
  .countdown header {
    font-size: 1.1em;
  }
}
