@charset "UTF-8";
/* CSS Document */

/*override site styles*/
body {background-image: url("http://currys.cdn.dixons.com/css/themes/Homepage/wk27_homepage/img/snow-bg.jpg"); background-repeat: repeat;
    background-color:#cdcac6!important; background-attachment: fixed;}
#wrapper {padding: 10px; margin-top: -10px;}

/*generic styles*/
/*#peak16-homepage *, #peak16-homepage *::after, #peak16-homepage *::before {box-sizing: border-box;}*/
#peak16-homepage img {max-width: 100%;}
#peak16-homepage a {text-decoration: none;}
#peak16-homepage {font-family: 'Gotham A', 'Gotham B', sans-serif; font-weight: 500; font-style: normal;}

/* Delivery dropdown */
#peak16-homepage #delivery-dropdown {color: white; text-align: center; background:#c8264b;}
#peak16-homepage #delivery-dropdown h1 {margin: 0; padding: 5px 10px 10px 10px; font-weight: 500; line-height: 22px}
#peak16-homepage #delivery-dropdown h1 a {color: white; font-size: 18px}
#peak16-homepage #delivery-dropdown h1 a i {font-size: 75%;}
#peak16-homepage #delivery-dropdown #delivery-information {display: none;}
#peak16-homepage #delivery-dropdown.show #delivery-information {display: block;}
#peak16-homepage #delivery-dropdown.hide #delivery-information {display: none;}

#peak16-homepage #delivery-dropdown h1.down {display: block}
#peak16-homepage #delivery-dropdown h1.up {display: none}

#peak16-homepage #delivery-dropdown.show h1.down {display: none}
#peak16-homepage #delivery-dropdown.show h1.up {display: block}

#peak16-homepage #delivery-dropdown.hide h1.down {display: block}
#peak16-homepage #delivery-dropdown.hide h1.up {display: none}


#peak16-homepage #delivery-dropdown #delivery-information ul {list-style-type: none; margin: 0; padding:0; }
#peak16-homepage #delivery-dropdown #delivery-information ul li {float: left; width: 33.3%; padding: 5px 0;}
#peak16-homepage #delivery-dropdown #delivery-information a ul li {color: white; background:#c8264b;}
#peak16-homepage #delivery-dropdown #delivery-information a ul li span {font-weight: 700; font-size: 15px;}

#peak16-homepage #delivery-dropdown #delivery-information p {background: #fff; border: 1px solid #c8264b; color: #c8264b;}
#peak16-homepage #delivery-dropdown #delivery-information p i {font-size: 80%;}


/*main section*/
#peak16-homepage .homepage-main {float: left; width: 78%; max-width: 100%; /*margin-top: 10px;*/ height: auto;  border-right: 1px solid #ccc; margin-top: 10px; padding-right: 10px;}
#peak16-homepage .header {margin-bottom: 10px;}
#peak16-homepage .header figure img {width: 100%;}
#peak16-homepage .header figure {max-width:49%; display:inline-block; margin-left:0%; margin-right:0;}
#peak16-homepage .overlay figure img {width: 100%;}

/* Deal Blocks */
/*default*/
#peak16-homepage .dcg-deals .deal-blocks img {width: 100%}
#peak16-homepage .dcg-deals .deal-blocks {/* IE6-9 */ padding: 10px 10px 0 10px; margin-bottom: 10px; margin-top: 20px; overflow:hidden; clear:both; border: solid 1px #e1e1e1;}
#peak16-homepage .dcg-deals .deal-blocks ul {margin-left: -1%; list-style-type: none; padding: 0; margin-bottom: 0}
#peak16-homepage .dcg-deals .deal-blocks ul li {float: left; width: 24%; margin-left: 1%; margin-bottom: 10px;}
#peak16-homepage .dcg-deals .deal-blocks ul li a img {max-width: 100%;}
#peak16-homepage .dcg-deals .deal-blocks .face.front {outline: 1px solid #878787;}

/*fancy title*/
#peak16-homepage .fancy {position: relative; text-align: center; font-size: 1.2em; color: #464646; text-transform: uppercase; margin-top: 10px; clear:both;}
#peak16-homepage .fancy span {background: #fff; padding: 0 15px; position: relative; z-index: 1;}
#peak16-homepage .fancy:before {background: #e0e0e0;/*HC changed from #0d72a6*/ content: ""; display: block; height: 1px; position: absolute; top: 55%; width: 100%;}
#peak16-homepage .fancy:before {left: 0;}

/*side services*/
/*#peak16-homepage aside {float: right; max-width: 100%; margin-top: 10px; position: fixed;  width: 242px; height: 600px;}*/
#peak16-homepage aside {margin-top: 10px; /*width: 18%;*/ margin-left: 0px; top: 0px;}
#peak16-homepage aside figure {margin-bottom: 5px;border: 1px solid #dddddd;}
/* menu styles – nav height MUST BE SET or it will not fix */
nav#navblock.sticky {margin-top:0px; height:455px; width: 252px;}
.col-custom {float:right; padding:0px; background:transparent;}
#navcontent > a {padding: 0px; display: inline;}
#navcontent img {width: 100%;}

/*scroller*/
#peak16-homepage .scroller {border-color: #ccc; border-style: solid; border-width: 0px 20px; padding: 0px; text-align: center; margin-top: 10px;}
#peak16-homepage .scroller #page-scroller .item {margin: 0px 4px;}
#page-scroller .item img {width: 100%;}
.owl-carousel {position: relative;}
.owl-prev, .owl-next {position: absolute; bottom: 0; height: 100%;}
.owl-prev {left: -10px;}
.owl-next {right: -10px;}
.owl-prev i, .owl-next i {padding-top: 250%;}
.owl-theme .owl-controls .owl-buttons div {color: #1a8c6f; font-size: 2em; margin: -9% -9px; border-radius: 0; opacity: 1;}
#bar {width: 0%; max-width: 100%; height: 4px; background: #7fc242;}
#progressBar {width: 100%; background: #EDEDED;}
.owl-theme .owl-controls {margin-top: -3%; text-align: center;}


/*apple*/
#peak16-homepage .apple {border: solid 1px #e1e1e1; padding: 10px; text-align: center; margin-top: 10px; overflow: hidden;}
#peak16-homepage .apple figure {width: 49.5%; float: left; margin: 0px;}
#peak16-homepage .apple:first-child {margin-right: 1%;}

/*stories*/
#peak16-homepage .stories {border: solid 1px #e1e1e1; background-color: #f4f4f4; padding: 10px 10px 0px; text-align: center; margin-top: 10px; overflow: hidden;}
#peak16-homepage .stories .story {background: #fff; border: #1c977b solid 1px; margin-bottom: 10px; overflow: hidden; padding: 10px;}
#peak16-homepage .stories .story .story-lifestyle {float: left; border: 1px solid #1a8c6f; width: 41%;}
#peak16-homepage .stories .story .story-message-container {float: right; width: 58%;}
#peak16-homepage .stories .story .story-shout {float: left; width: 48%;}
#peak16-homepage .stories .story .story-messages {float: right; width: 50%; text-align: left; height: 165px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ddeeea+0,ffffff+100 */
background: #ddeeea; /* Old browsers */
background: -moz-linear-gradient(top,  #ddeeea 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ddeeea 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ddeeea 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddeeea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#peak16-homepage .stories .story .story-messages ul {list-style: none; padding: 10px;}
#peak16-homepage .stories .story .story-messages ul li {color: #303030; font-size: 0.85em; padding-bottom: 10px; letter-spacing: -0.3px;}
#peak16-homepage .stories .story .story-messages ul a {color: #303030;}
#peak16-homepage .stories .story .story-messages ul a:hover {text-decoration: underline;}
#peak16-homepage .stories .story .story-shop {clear: both;}
#peak16-homepage .stories .story .story-shop ul {border-spacing: 5px; list-style: none; margin-left: -20px; margin-right: -6px;}
#peak16-homepage .stories .story .story-shop ul li {float: none; padding: 12px; width: 26%; height: 34px; display: table-cell; vertical-align: middle; border: 1px solid #1a8c6f; border-radius: 3px;}
#peak16-homepage .stories .story .story-shop ul li:hover {background: #1a8c6f; -webkit-transition: 400ms; transition: 400ms;}
#peak16-homepage .stories .story .story-shop ul li:hover a {color: #fff;}
#peak16-homepage .stories .story .story-shop ul a {color: #1a8c6f;}
#peak16-homepage .fancy-story {position: relative; text-align: center; font-size: 1em; font-weight: 500; color: #464646; margin-top: 10px; width: 75%; margin: auto;}

#peak16-homepage .stories .story .story-shop ul li .icon-chevron-right {font-size: 10px;}
#peak16-homepage .fancy-story span {background: #fff; padding: 0 15px; position: relative; z-index: 1;}
#peak16-homepage .fancy-story:before {background: #1a8c6f; content: ""; display: block; height: 1px; position: absolute; top: 55%; width: 100%;}
#peak16-homepage .fancy-story:before {left: 0px;}
#peak16-homepage h3 {font-size: 1em; font-weight: 500; color: #464646; margin: 0 auto 10px; width: 75%;}
#peak16-homepage .stories .story h2 {color: #1a8c6f; font-size: 1.5em; text-transform: uppercase;}

/*gifting*/
#peak16-homepage .gifting {border: solid 1px #e1e1e1; padding: 10px; text-align: center; margin-top: 10px;}

/*latest tech*/
#peak16-homepage .latest-tech {border: solid 1px #e1e1e1; background-color: #f4f4f4; background-image: url("http://currys.cdn.dixons.com/css/themes/latest_tech_2016/img/bg2.jpg"); padding: 10px; text-align: center; margin-top: 12px; height: auto; overflow: hidden;}
#peak16-homepage .latest-tech .tech-block-wrapper {margin-left: -1%;}
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block {position: relative; margin-left: 1.1%; background: #fff; margin-bottom: 10px; border: 1px #ccc solid; height: 307px; width: 23.8%; float: left; -webkit-box-shadow: 2px 1px 2px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */ -moz-box-shadow: 2px 1px 2px 2px #ccc;  /* Firefox 3.5 - 3.6 */ box-shadow: 2px 1px 2px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block:hover {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-transition: 0.3s; transition: 0.3s;}
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block figure {padding: 10px; letter-spacing: -0.5px;}
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block h2 {color: #661e61; text-transform: uppercase; font-size: 1em; padding-left: 10px; text-align: left; clear: both; min-height: 30px; letter-spacing: -0.5px}
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block p {font-weight: 300; padding-left: 10px; padding-right: 10px; text-align: left; color:#3d3d3d; line-height: 1.2em;}

#peak16-homepage .latest-tech .tech-block-wrapper .tech-block p.tech-cta {bottom: 0px; position: absolute;   -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;}
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block:hover p.tech-cta {-webkit-transform: translateX(25px);
  transform: translateX(25px);}

#peak16-homepage .latest-tech .tech-block-wrapper .tech-block a {color: #3d3d3d;}
#peak16-homepage .latest-tech .tech-block-wrapper .tech-block i {font-size: 80%;}
#peak16-homepage .latest-tech .tech-banner figure {float: left; margin-right: 10px}
#peak16-homepage .latest-tech .tech-banner {padding-top: 20px; clear: both;}
#peak16-homepage .latest-tech .tech-banner .tech-banner-text {background: #ebebeb; padding: 3px 40px 0px; text-align: center; overflow: hidden; margin-top: 11px;}
#peak16-homepage .latest-tech .tech-banner .tech-banner-text:hover {background: #fff; -webkit-transition: 0.3s; transition: 0.3s;}
#peak16-homepage .latest-tech .tech-banner .tech-banner-text i {font-size: 76%;}
#peak16-homepage .latest-tech .tech-banner .tech-banner-text h3 {color: #661e62; text-transform: uppercase; font-weight: 500; font-size: 1.5em; padding-top: 5px;}
#peak16-homepage .latest-tech .tech-banner .tech-banner-text p {color: #661e62; font-weight: 300; font-size: 1.3em;}

/*carphone pcwb*/
#peak16-homepage .external {margin-left: -1%; margin-top: 10px; overflow: hidden;}
#peak16-homepage .external .half {/*border: solid 1px #e1e1e1; background: #f4f4f4;*/ float: left; width: 49%; margin-left: 1%; /*padding: 10px;*/}
#peak16-homepage .external .half h2 {color: #033260; float: left; width: 55%; text-align: center; font-size: 15px; font-weight: 500;}
/*#peak16-homepage .external .half figure {float: right; padding-top: 2%; width: 40%;}*/

/*#peak16-homepage .external {border: solid 1px #e1e1e1; padding: 10px; text-align: center; margin-top: 10px; overflow: hidden;}
#peak16-homepage .external figure {width: 49.5%; float: left; margin: 0px;}
#peak16-homepage .external:first-child {margin-right: 1%;}*/

/*social*/
#peak16-homepage section.social-group {margin-left: -8%; clear: both; min-height: 60px; padding-bottom: 20px; padding-top: 20px; overflow: hidden;}
#peak16-homepage section.social-group .social {text-align: center; float: left; width: 8.5%; padding: 5px; margin-left: 7%;}
#peak16-homepage section.social-group .social a {color: #231f20;}
#peak16-homepage section.social-group .social i {color: #09347b;}
#peak16-homepage section.social-group .social span {font-size: 13px;}
#peak16-homepage section.social-group .social i, .dcg aside.social-group .social img {display: block; margin-bottom: 5px;}
#peak16-homepage section.social-group .social img {vertical-align: bottom;margin-left: auto; margin-right: auto;}
#peak16-homepage section.social-group .social i {font-size: 2em; margin-right: 5px;}
#peak16-homepage section.social-group .social i.icon-facebook-sign {color: #3B5998}
#peak16-homepage section.social-group .social i.icon-twitter {color: #55ACEE}
#peak16-homepage section.social-group .social i.icon-pinterest {color: #CC2127}
#peak16-homepage section.social-group .social i.icon-google-plus-sign {color: #dd4b39}
#peak16-homepage section.social-group .social i.icon-youtube-play {color: #cd201f}
#peak16-homepage section.social-group .social img {margin-bottom: 8px;}
.ie7 #peak16-homepage section.social-group .social {width:15%;}
	 
	 
	 
/*RESPONSIVE STYLES*/	
	
@media only screen and (max-width:1239px){
	/*.page-content {width:72%;}*/
	/*#peak16-homepage aside {width: 20%;}*/
	#peak16-homepage nav#navblock.sticky {width: 195px;}
	#peak16-homepage .stories .story .story-lifestyle {width: 40%;}
	#peak16-homepage .stories .story .story-message-container {width: 58%;}
	#peak16-homepage .stories .story .story-shout {width:48%;}
	#peak16-homepage .stories .story .story-messages {width: 50%; height:auto;}
	#peak16-homepage .stories .story .story-messages ul li {font-size: 0.8em;}
	#peak16-homepage .stories .story .story-shop ul li {font-size: 0.8em; width: 26.7%; padding: 8px;}
	#peak16-homepage .stories .story .story-messages ul {padding:10px 10px 0px 10px; margin-bottom:0px;}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 81%; padding: 5px 10px;*/}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text h3 {font-size: 1.4em;}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text  p {font-size:1.1em;}
	#peak16-homepage .external .half {width: 49%;}
	#peak16-homepage section.social-group .social {width: 8%;}
	#peak16-homepage .homepage-main {padding-right: 10px;}
}
	
@media only screen and (max-width:1126px){
	/*bottom services*/
	#peak16-homepage aside.bottom-services {margin-top: 10px; /*width: 18%;*/ margin-left: 0px; width: 100%; overflow:hidden;}
	/*#peak16-homepage aside.bottom-services figure {margin-bottom: 10px;}*/
	#peak16-homepage aside.bottom-services.touch a {width: 25%; float: left; padding: 0px;}
	#peak16-homepage aside.bottom-services figure.bottom-header {text-align: center; width: 100%;background: none; margin-bottom: 10px;  height: auto;}
	#peak16-homepage aside.bottom-services figure.bottom-nav-link img {width: 100%;}
}

@media only screen and (max-width:1024px){
	#wrapper {padding: 10px 0px 0px;}
	#peak16-homepage .homepage-main {border-right: none;}
	aside#fixed {display:none;}
	#peak16-homepage .homepage-main {float: none; width: 100%;}
	#peak16-homepage .stories .story .story-messages {height:159px;}
	#peak16-homepage .external .half {width: 49%;}
	#peak16-homepage .external .half h2 {font-size: 13px;}
	#peak16-homepage .stories .story .story-shop ul li {width: 25.1%;}
	.owl-theme .owl-controls .owl-buttons div {margin: -12% -9px; font-size: 1.8em;}
	#peak16-homepage aside figure {margin-bottom: 5px; background-color:#f2f2f2;float: left; margin-left: 5px;}
	/*top services*/
	#peak16-homepage .top-services {overflow: hidden; margin-top: 10px;}
 	#peak16-homepage .tservices-block {margin-left: -1%;}
	#peak16-homepage .tservice {margin-left: 1%; width: 19%; float: left; margin-bottom: 5px;}
	#peak16-homepage .tservice figure {border: 1px solid #dddddd;}
	#peak16-homepage .tservice img {width: 100%;}
	#peak16-homepage .latest-tech .tech-block-wrapper .tech-block p {font-size: 0.9em; letter-spacing: -0.5px;}
}

@media only screen and (max-width:1012px){
	#peak16-homepage .external .half {width: 48.7%;}
	.owl-theme .owl-controls .owl-buttons div {margin: -9% -9px;}
}

@media only screen and (max-width:1002px){
	#peak16-homepage .stories .story .story-shop ul li {width: 27.9%;}
}


@media only screen and (max-width:984px){
	#peak16-homepage .stories {padding: 10px 10px 0px 0px;}
	#peak16-homepage .stories .story {width: 46.5%; float: left; margin-right: 0px; margin-left: 10px;}
	#peak16-homepage .stories .story h2 {font-size: 1em;}
	#peak16-homepage .stories .story .story-lifestyle {width: 100%;}
	#peak16-homepage .stories .story .story-message-container { width: 100%; margin-top: 10px;}
	#peak16-homepage .stories .story .story-shout {width: 100%; }
	#peak16-homepage .stories .story .story-messages {width: 100%; margin-top: 10px;margin-bottom:  10px;}
	#peak16-homepage .stories .story .story-shop ul li { width: 94%;padding: 8px;}
	#peak16-homepage .story h3 {height: 55px;font-size: 0.8em; width: 100%;}
}



@media only screen and (max-width:978px){
	#peak16-homepage .stories .story .story-shop ul li {width: 24.7%;}
	.owl-theme .owl-controls .owl-buttons div {margin: -12% -9px;}
}

@media only screen and (max-width:957px){
	#peak16-homepage .stories .story .story-shop ul li {width: 24.5%;}
	#peak16-homepage .stories .story {width: 46.4%;}
}

@media only screen and (max-width:937px){
	#peak16-homepage .stories .story .story-shop ul li {width: 26.3%;}
}

@media only screen and (max-width:932px){
#peak16-homepage .stories .story {width: 46.2%;}
}

@media only screen and (max-width:918px){
	#peak16-homepage .stories .story .story-shop ul li {width: 24%;}
}

@media only screen and (max-width:908px){
#peak16-homepage .stories .story {width: 46.2%;}
}

@media (max-width: 900px) {
    .owl-theme .owl-controls .owl-buttons div {font-size: 2em;}
	
}

@media only screen and (max-width:891px){
	#peak16-homepage .stories .story .story-shop ul li {width: 23.7%; height: 35px;}
}

@media only screen and (max-width:908px){
#peak16-homepage .stories .story {width: 46.1%;}
}

@media only screen and (max-width: 869px) {	 
	#peak16-homepage section.social-group .social {float: left; }
	/*#peak16-homepage .stories .story .story-message-container {float: none; width: 100%; margin-top: 10px;}
	#peak16-homepage .stories .story .story-messages {width: 100%; height: 165px;}
	#peak16-homepage .stories .story .story-shout {width: 100%; margin-top: 10px;}
	#peak16-homepage .stories .story .story-shop ul li {width: 93%;}*/
	#peak16-homepage .stories .story {width: 46%;}
	#peak16-homepage .stories .story .story-lifestyle {width: 100%;}
	#peak16-homepage .latest-tech .tech-block figure {float: none;}
	#peak16-homepage .latest-tech .tech-block figure img {width: 100%;}

	#peak16-homepage .external .half h2 {font-size: 11px;}
	#peak16-homepage .stories .story h2 {font-size: 0.9em;}	
	.owl-theme .owl-controls .owl-buttons div {font-size: 1.8em;}
}

@media only screen and (max-width:843px){
#peak16-homepage .stories .story {width: 45.9%;}
}

@media only screen and (max-width:824px){
#peak16-homepage .stories .story {width: 45.8%;}
}

@media only screen and (max-width:843px){
#peak16-homepage .stories .story {width: 45.7%;}
}

@media only screen and (max-width: 792px) {	
	/*#peak16-homepage .scroller  {margin-bottom: 70px;}*/
	 .owl-theme .owl-controls {margin-top: -8%; margin-left: 5%; text-align: left;}
    .owl-theme .owl-controls .owl-page span {width: 8px; height: 8px;}
}

@media only screen and (max-width:787px){
#peak16-homepage .stories .story {width: 45.6%;}
}

@media only screen and (max-width:770px){
#peak16-homepage .stories .story {width: 45.5%;}
}

@media only screen and (max-width: 768px) {	
	/*#peak16-homepage .scroller  {min-height: 191px;}*/
	#peak16-homepage section.social-group .social span {display: none}
}

@media only screen and (max-width:754px){
#peak16-homepage .stories .story {width: 45.4%;}
}

@media only screen and (max-width: 750px) {
	#peak16-homepage .stories story {width: 43%;}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 76%;*/ }
	#peak16-homepage .stories .story h2 {height: 30px;}
	#peak16-homepage .tservice.ts4, .tservice.ts5 {display: none;}
	#peak16-homepage .tservice {width: 32.3%;}
}

@media only screen and (max-width:739px){
#peak16-homepage .stories .story {width: 45.3%;}
}

@media only screen and (max-width:723px){
#peak16-homepage .stories .story {width: 45%;}
}


@media only screen and (max-width: 687px) {
	#peak16-homepage .stories .story .story-shop ul li {width: 90%; float: left; padding-left: 5px; margin-left: 0px; margin-top: 0px;}
	#peak16-homepage .stories .story h2 {font-size: 0.8em;}
	#peak16-homepage .external .half {width: 98%; margin-bottom: 10px;}
	#peak16-homepage .latest-tech .tech-block-wrapper .tech-block {height: 400px;width: 48%;}
	/*#peak16-homepage .scroller  {margin-bottom: 60px;}*/
}

@media only screen and (max-width:683px){
#peak16-homepage .stories .story {width: 44.7%;}
}

@media only screen and (max-width:647px){
#peak16-homepage .stories .story {width: 44.5%;}
}

@media only screen and (max-width:625px){
#peak16-homepage .stories .story {width: 44.3%;}
}

@media only screen and (max-width:605px){
#peak16-homepage .stories .story {width: 44%;}
}
		
/* < 600 */
@media only screen and (max-width: 599px) {
	#peak16-homepage #delivery-dropdown h1 a {font-size: 16px}
	#peak16-homepage section.social-group .social {float: left; width: 50%;}
	#peak16-homepage section.social-group .social i {font-size: 1.25em; display: inline;}
	#peak16-homepage .header {width: 99.5%;}
	#peak16-homepage .overlay {width: 99%;}
	/*carousel*/
	#peak16-homepage .carousel {padding: 0px 23px; text-align: center; margin-top: 10px; overflow: hidden;}
	.owl-theme .owl-controls .owl-buttons div {padding-top: 20%; margin: -13% -9px; background: #ccc;}
	.owl-prev {left:-13px;}
	#peak16-homepage .carousel .item {margin-right: 2%;}
	/*story blocks */
	#peak16-homepage .stories {width: 97%;}
	#peak16-homepage .stories .story {padding: 0px; margin-bottom: 10px; width: 47.5%;}
	#peak16-homepage .stories .story img {width: 100%;}
	#peak16-homepage .fancy {font-size: 0.8em;}
	/*top services*/
	#peak16-homepage .top-services {margin-top: 0px;}
	#peak16-homepage .tservice.ts3, .tservice.ts4, .tservice.ts5 {display: none;}
    #peak16-homepage .tservice {width: 48.5%;}
    /*Apple banners */
    #peak16-homepage .apple figure {width: 99.5%; float: left; margin: 0px; margin-top: 5px;}
	/*latest tech*/
	#peak16-homepage .latest-tech .tech-block-wrapper .tech-block {height: auto; width: 48.5%;}
	#peak16-homepage .latest-tech .tech-block-wrapper .tech-block figure {width: 96%; padding: 5px;}
	#peak16-homepage .latest-tech {width: 95%;}
	#peak16-homepage .latest-tech .tech-block {width: 48%;}
	
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 72%;*/}
	#peak16-homepage .latest-tech .tech-banner figure {display: none;}
	#peak16-homepage section.social-group {margin-left: 1%; width: 100%;}
	#peak16-homepage section.social-group .social {width:auto; text-align: center}
	
	#peak16-homepage aside.bottom-services {margin-top: 10px; /*width: 18%;*/ margin-left: 0px; width: 100%;}
	/*#peak16-homepage aside.bottom-services figure {margin-bottom: 10px;}*/
	#peak16-homepage aside.bottom-services.touch a {width: 24.5%; float: left; padding: 0px;}
	#peak16-homepage aside.bottom-services figure.bottom-header {margin: auto;}
	#peak16-homepage aside.bottom-services figure.bottom-nav-link img {width: 100%;}

	#peak16-homepage #delivery-dropdown #delivery-information ul li {float: none; width: 100%; padding: 5px 10px;}

}

@media only screen and (max-width: 550px) {
	/*#peak16-homepage .stories .story-mobile-block {width: 47.7%;}*/
}

@media only screen and (max-width: 535px) {
	/*story blocks */
	#peak16-homepage .stories {}
	#peak16-homepage .stories .story {}
	#peak16-homepage .stories .story-mobile-block {width: 47%;}
	#peak16-homepage .stories .story-mobile-block img {}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 69%;*/}	
	.owl-theme .owl-controls .owl-buttons div {font-size: 1.7em; margin: -13% -7px;}
}


@media only screen and (max-width: 509px) {
	#peak16-homepage .stories .story {width: 46%;}

}

@media only screen and (max-width: 478px) {	
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text h3 {font-size: 1.3em;}
}

@media only screen and (max-width: 451px) {	
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 65%;*/}
	#peak16-homepage aside.bottom-services.touch a {width: 48%;}
}
	
/* <415 */
@media only screen and (max-width: 414px) {	
	#peak16-homepage #delivery-dropdown h1 a {font-size: 10px}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 55%;*/}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text h3 {font-size: 1.15em;}
	#peak16-homepage .fancy {width: 100%; text-align: left;}
	#peak16-homepage .fancy span {padding: 0 4px;}
	#peak16-homepage .fancy:before {display: none;}
}

@media only screen and (max-width: 348px) {	
	.owl-theme .owl-controls .owl-buttons div {font-size: 1.6em;}
}

@media only screen and (max-width:322px){
	#peak16-homepage .stories .story {width: 45%;}
}

@media only screen and (max-width: 310px) {	
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text {/*width: 50%;*/}
	#peak16-homepage .latest-tech .tech-banner .tech-banner-text h3 {font-size: 1em;}
}

@media only screen and (max-width: 264px) {	
	#peak16-homepage .stories .story {width: 44.9%;}
}

/* GRID DEAL BLOCKS Tablet */ 
@media only screen and (min-width: 0) and (max-width:830px) {

	#peak16-homepage .dcg-deals .deal-blocks {padding: 8px 8px 0 8px;}
	#peak16-homepage .dcg-deals .deal-blocks ul li, .dcg-deals .deal-blocks.bf ul li, .dcg-deals .deal-blocks.cm ul li {width: 24%;margin-bottom: 8px;}
	#peak16-homepage .dcg-deals .deal-blocks ul li a img {max-width: none}
}

/* GRID DEAL BLOCKS Mobile */
@media only screen and (min-width: 0) and (max-width: 599px) {
 #peak16-homepage .dcg-deals .deal-blocks ul li, .dcg-deals .deal-blocks.bf ul li, .dcg-deals .deal-blocks.cm ul li {width: 32.33%; margin-left: 1%;}
}

/* GRID DEAL BLOCKS Small mobile */
@media only screen and (max-width: 479px) {
    #peak16-homepage .header figure { max-width: 48%;}
	#peak16-homepage .dcg-deals .deal-blocks {padding-bottom: 2px;}
	#peak16-homepage .dcg-deals .deal-blocks ul {margin-left: -2%;}
	#peak16-homepage .dcg-deals .deal-blocks ul li, .dcg-deals .deal-blocks.bf ul li, .dcg-deals .deal-blocks.cm ul li {width: 48%; margin-left: 2%; margin-bottom: 6px;}
	#peak16-homepage .dcg-deals .deal-blocks ul li a .overlay h2 {font-size: 10px;}
}

/*SCROLLER*/
.page-scroller .owl-controls {text-align: center; margin-top: -1px;}
#page-scroller .item {margin: 3px;}
#page-scroller .item img {display: block; width: 100%; height: auto;}
.margin-left-50 {margin-left: 50px;}
.margin-right-50 {margin-right: 50px;}
/*SCROLLER END*/


/*ANIMATED CUBE*/
@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}
#peak16-homepage .latest-tech .tech-banner .cube_wrap {
    float: left;
    width: 160px;
    height: 132px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

#peak16-homepage .latest-tech .tech-banner #cube_container {
  -webkit-perspective : 1000px;
  -moz-perspective    : 1000px;
  -o-perspective      : 1000px;
  -ms-perspective     : 1000px;
  perspective         : 1000px;
  -webkit-perspective-origin  : 50% 50%;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;
-webkit-backface-visibility: hidden;
 }

#peak16-homepage .latest-tech .tech-banner .animate {
  -webkit-animation : spinningH 10s infinite ease-in-out;
  -moz-animation    : spinningH 10s infinite ease-in-out;
  -o-animation      : spinningH 10s infinite ease-in-out;
  -ms-animation     : spinningH 10s infinite ease-in-out;
  animation         : spinningH 10s infinite ease-in-out;
  -webkit-animation-delay: 0; /* Chrome, Safari, Opera */
    animation-delay: 0;
}

#peak16-homepage .latest-tech .tech-banner #cube {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 100px;

  -webkit-transition  : -webkit-transform 4s linear;
  -moz-transition     : -moz-transform 4s linear;
  -o-transition       : -o-transform 4s linear;
  -ms-transition      : -ms-transform 4s linear;
  transition          : transform 4s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;

  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0); 

}

#peak16-homepage .latest-tech .tech-banner #cube>div {
  position: absolute;
  height: 80px;
  width: 80px;
  padding: 10px;
  opacity: 0.7;
  background-repeat :no-repeat;
  background-size: cover;
  background-position: center center;

}
  
#peak16-homepage .latest-tech .tech-banner #cube div:nth-child(1) {
  -webkit-transform : translateZ(50px);
  -moz-transform    : translateZ(50px);
  -o-transform      : translateZ(50px);
  -ms-transform     : translateZ(50px);
  transform         : translateZ(50px);
 /* background-color  : #2E272F;*/
  font-size: 20px; color:white; text-align: center; font-weight: 700; /*text-transform:uppercase;*/
	animation: colourchange 8s infinite;
	-webkit-animation: colourchange  8s infinite; 
	-webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
	animation-timing-function: linear;
	line-height: 1;
	padding-top: 20px;
	text-transform: uppercase;
	padding-bottom: 0;
}

#peak16-homepage .latest-tech .tech-banner #cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(50px);
  -moz-transform    : rotateY(90deg) translateZ(50px);
  -o-transform      : rotateY(90deg) translateZ(50px);
  -ms-transform     : rotateY(90deg) translateZ(50px);
  transform         : rotateY(90deg) translateZ(50px);
  /*background-color  : #2D3A4D;*/
  background-image: url("http://currys.cdn.dixons.com/css/themes/latest_tech_2016/img/samsung-addwash.jpg");
}

#peak16-homepage .latest-tech .tech-banner #cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(50px);
  -moz-transform    : rotateY(180deg) translateZ(50px);
  -o-transform      : rotateY(180deg) translateZ(50px);
  -ms-transform     : rotateY(180deg) translateZ(50px);
  transform         : rotateY(180deg) translateZ(50px);
  /*background-color  : #2D1C12;*/
  background-image: url("http://currys.cdn.dixons.com/css/themes/latest_tech_2016/img/sony-4k.jpg");
 }

#peak16-homepage .latest-tech .tech-banner #cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(50px);
  -moz-transform    : rotateY(-90deg) translateZ(50px);
  -o-transform      : rotateY(-90deg) translateZ(50px);
  -ms-transform     : rotateY(-90deg) translateZ(50px);
  transform         : rotateY(-90deg) translateZ(50px);
  /*background-color  : #693C1F;*/
   background-image: url("http://currys.cdn.dixons.com/css/themes/latest_tech_2016/img/fitbit-blaze.jpg");
}

#peak16-homepage .latest-tech .tech-banner #cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(50px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(50px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(50px) rotate(180deg);
  /*background-color  : #955122;*/
  background-image: url("http://currys.cdn.dixons.com/css/themes/latest_tech_2016/img/laptop-new-range.jpg");
}

#peak16-homepage .latest-tech .tech-banner #cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(50px);
  -moz-transform    : rotateX(90deg) translateZ(50px);
  -o-transform      : rotateX(90deg) translateZ(50px);
  -ms-transform     : rotateX(90deg) translateZ(50px);
  transform         : rotateX(90deg) translateZ(50px);
  /*background-color  : #E34C26;*/
  background-image: url("http://currys.cdn.dixons.com/css/themes/latest_tech_2016/img/tv-new-range.jpg");
  background-repeat :no-repeat;
  background-size: cover;
}


/* Animations */
@keyframes colourchange
    {
		0%   {background-color: #AF2BBF; background-position: 0 0}
		12%  {background-color: #A14EBF;}
		24%  {background-color: #6C91BF;}
		36%  {background-color: #5FB0B7;}
		48% {background-color: #5BC8AF; }
		60%  {background-color: #5FB0B7;}
		72%  {background-color: #6C91BF;}
		84%  {background-color: #A14EBF;}
		100%   {background-color: #AF2BBF; background-position: 104px 0}
    }
@-webkit-keyframes colourchange
    {
		0%   {background-color: #AF2BBF; background-position: 0 0}
		12%  {background-color: #A14EBF;}
		24%  {background-color: #6C91BF;}
		36%  {background-color: #5FB0B7;}
		48% {background-color: #5BC8AF; }
		60%  {background-color: #5FB0B7;}
		72%  {background-color: #6C91BF;}
		84%  {background-color: #A14EBF;}
		100%   {background-color: #AF2BBF; background-position: 104px 0}
    }
@keyframes navbounce
    {
		0%   {top: 30%;}
		50%   {top: 40%;}
		100%   {top: 30%;}
    }
@-webkit-keyframes navbounce
    {
		0%   {top: 30%;}
		50%   {top: 40%;}
		100%   {top: 30%;}
    }
/*ANIMATED CUBE END*/


/*HOVER EFFECTS*/

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect-ming {
	background: #030c17;
}

figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect-ming h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect-ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-ming:hover img {
	opacity: 0.4;
}


/*HOVER EFFECTS END*/