@charset "utf-8";

/**
 * CSS Reset Style 
 *
 * @author: Piotrek Wojciechowski
 * @author: based on Eric's Meyer universal css reset (http://www.meyerweb.com)
 * @author: based on Twitter Bootstrap css reset (https://github.com/twitter/bootstrap/)
 * @author: based on Html5 Boilerplate css reset (http://html5boilerplate.com/)
 *
 * @lastmodified: 2012-07-30
 */



/**
 * @section: Reset
 * -------------------------------------------------------
 */

html, body, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td, textarea, button {
	margin: 0;
	padding: 0;
	border: 0;
	}
ul, li {
	list-style-type: none;
	}

/* HTML5 display definition */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	}
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
audio:not([controls]) {
	display: none;
	}
[hidden] {
	display: none;
	}


/**
 * @section: Global forms setup
 * -------------------------------------------------------
 */

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner { 
    border: 0;
    padding: 0;
	}

/* Remove default vertical scrollbar in IE6/7/8/9 and allow vertical only resinig */
textarea {
	resize: vertical;
	overflow: auto;
	vertical-align: top;
	}

/* Consistent box sizing and appearance */
input[type='checkbox'], input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
	}
input[type='search'] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	}
	input[type='search']::-webkit-search-decoration, input[type='search']::-webkit-search-cancel-button {
		-webkit-appearance: none;
		}

/* Remove default focus highlight */
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, textarea:focus, select:focus {
	outline: none;
	}

/* Cursor pointer and consistent appearance */
button, input[type='button'], input[type='reset'], input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
	}
input[type='checkbox'], input[type='radio'] {
	cursor: pointer;
	}

/* Hide placeholder text in Chrome on field focus */
input:focus::-webkit-input-placeholder {
	color: transparent;
	}


/**
 * @section: Global tags setup
 * -------------------------------------------------------
 */

html {
	overflow-y: scroll;
	/* Correct text resizing oddly in IE6/7 when body font-size is set using em units */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}

/* Improve image quality when scaled in IE7: h5bp.com/d */
/* Remove the gap between images and borders on image containers: h5bp.com/i/440 */
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	max-width: 100%;
	}

/* Correct overflow not hidden in IE9 */
svg:not(:root) {
	overflow: hidden;
	}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	}
	sup {
		top: -0.5em;
		}
	sub {
		bottom: -0.25em;
		}

hr {
	display: block;
	height: 1px;
	border: 0;   
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
	}
del {
	text-decoration: line-through;
	}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
a:link, a:visited, a:hover, a:active {
	outline: none;
	}


/**
 * @section: Classes
 * -------------------------------------------------------
 */
 
.left {
	float: left;
	}
.right {
	float: right;
	}
.group:before, .group:after {
	content: "";
	display: table;
	}
	.group:after {
		clear: both;
		}
	.group {
		clear: both;
		*zoom: 1;
		}
.is-hidden {
	display: none;
	}

/* sectioning title header (for document outline purpose) */
.sectioningHeader {
	display: none;
	}
