@charset "utf-8";

/*----------------------------------------------------*/ 
/* strong
------------------------------------------------------*/

.bld { font-weight:bold !important;}
.nol { font-weight:normal !important;}
.red {	color:#FF0000; font-weight:normal;}
.redBold {	color:#FF0000; font-weight:bold !important;}


/*----------------------------------------------------*/ 
/* margin
------------------------------------------------------*/ 

.bm0 {	margin-bottom:0 !important;}
.bm5 {	margin-bottom:5px !important;}
.bm10 {	margin-bottom:10px !important;}
.bm15 {	margin-bottom:15px !important;}
.bm20 {	margin-bottom:20px !important;}
.bm25 {	margin-bottom:25px !important;}
.bm30 {	margin-bottom:30px !important;}
.bm35 {	margin-bottom:35px !important;}
.bm40 {	margin-bottom:40px !important;}
.bm45 {	margin-bottom:45px !important;}
.bm50 {	margin-bottom:50px !important;}

.tm0 {	margin-top:0 !important;}
.tm5 {	margin-top:5px !important;}
.tm10 {	margin-top:10px !important;}
.tm15 {	margin-top:15px !important;}
.tm20 {	margin-top:20px !important;}
.tm25 {	margin-top:25px !important;}
.tm30 {	margin-top:30px !important;}
.tm35 {	margin-top:35px !important;}
.tm40 {	margin-top:40px !important;}
.tm45 {	margin-top:45px !important;}
.tm50 {	margin-top:50px !important;}

/*----------------------------------------------------*/ 
/* text
------------------------------------------------------*/ 

.txt8 { font-size:57% !important;}
.txt9 { font-size:64% !important;}
.txt10 { font-size:72% !important;}
.txt11 { font-size:79% !important;}
.txt12 { font-size:86% !important;}
.txt13 { font-size:93% !important;}
.txt14 { font-size:100% !important;}
.txt15 { font-size:108% !important;}
.txt16 { font-size:115% !important;}
.txt17 { font-size:122% !important;}
.txt18 { font-size:129% !important;}
.txt19 { font-size:136% !important;}
.txt20 { font-size:143% !important;}
.txt21 { font-size:150% !important;}
.txt22 { font-size:158% !important;}
.txt23 { font-size:165% !important;}
.txt24 { font-size:172% !important;}
.txt25 { font-size:179% !important;}
.txt26 { font-size:186% !important;}


/*----------------------------------------------------*/ 
/* position
------------------------------------------------------*/ 

.posC {	text-align:center !important;}
.posR {	text-align:right !important;}


/*----------------------------------------------------*/ 
/* clearfix
------------------------------------------------------*/ 

.clearfix { /zoom:1;}
.clearfix:after {	content:"."; display:block;	clear:both;	height:0;	visibility:hidden;} 

.clrfl { clear:both; }


/*----------------------------------------------------*/ 
/* heading
------------------------------------------------------*/ 

.h01_01 {
	margin-bottom:40px;
}


.h02_01box {
	position:relative;
}

.h02_01box  .util {
	position:absolute;
	right:0;
	bottom:0;
}

.h02_01 {
	font-size:86%;
	margin-bottom:10px;
	line-height:1;
}

.h02_01 img {
	vertical-align:text-bottom;
}

.h02_01 span {
	color:#999;
	display:inline-block;
	font-weight:normal;
	padding-left:10px;
}



/*----------------------------------------------------*/ 
/* link
------------------------------------------------------*/ 

/*----------------------------------------------------*/ 
/* list
------------------------------------------------------*/ 

ul.bnr01 {		margin-bottom:20px;}
ul.bnr01 li {		margin-bottom:10px;}
ul.bnr01 a:hover img {
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

ul.banner.ad li {
	margin-bottom:20px;
}


/*----------------------------------------------------*/ 
/* box
------------------------------------------------------*/ 


/*----------------------------------------------------*/ 
/* table
------------------------------------------------------*/ 


/*----------------------------------------------------*/ 
/* link
------------------------------------------------------*/ 

/* allow01 */

#contents a.allow01 {
		box-sizing:border-box;
		display:block;
		padding:0 0 0 10px;
		margin:15px auto;
		color:#333;
		text-decoration:underline;
	}
	
#contents a.allow01:before {
		content:"";
		width:8px;
		height:8px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_arrow_01_.png) no-repeat 0 center;
		margin-right:5px;
		display:inline-block;
		vertical-align:middle;
		position:relative;
		top:0;
	}

#contents a.allow01:hover {	text-decoration:none;}


/* config */

#contents a.config {
		box-sizing:border-box;
		display:block;
		padding:0 0 0 10px;
		color:#333;
		text-decoration:underline;
		font-size:86%;
	}
	
#contents a.config:before {
		content:"";
		width:22px;
		height:22px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_config_01.png) no-repeat 0 center;
		margin-right:5px;
		display:inline-block;
		vertical-align:middle;
		position:relative;
		top:0;
	}

#contents a.config:hover {	text-decoration:none;}

/* btn */

#contents a.btn01 {
		box-sizing:border-box;
		display:block;
		width:300px;
		padding:8px 10px 7px;
		margin:15px auto;
		text-align:center;
		color:#333;
		border:2px solid #CCC;
		border-radius:3px;
	}
	
#contents a.btn01:before {
		content:"";
		width:8px;
		height:8px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_arrow_01_.png) no-repeat 0 center;
		margin-right:5px;
		display:inline-block;
		vertical-align:middle;
		position:relative;
		top:0;
	}

#contents a.btn01:hover {
		background:#F3F3F3;
		text-decoration:none;
	}
	

/* moreLink */

.moreLink a,
.moreLinkPhase a,
.moreLinkKamelio a,
.moreChildList a{
		border:2px solid #CCC;
		border-radius:3px;
		display:block;
		width:300px;
		box-sizing:border-box;
		padding:6px 10px 5px;
		margin:0 auto;
		text-align:center;
		color:#333 !important;
		clear:both;
		text-decoration:none !important;
	}
	
.moreLink a:before,
.moreLinkPhase a:before,
.moreLinkKamelio a:before,
.moreChildList a:before {
		content:"";
		width:24px;
		height:24px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_moreread_01.png) no-repeat 0 center;
		margin-right:5px;
		display:inline-block;
		vertical-align:middle;
		position:relative;
		top:0;
	}

.moreLink a.close:before,
.moreLinkPhase a.close:before,
.moreLinkKamelio a.close:before,
.moreChildList a.close:before {
		background:url(/images/n/bpnet/2016/pc/icon/icon_moreread_02.png);
	}

.moreLink a:hover,
.moreLinkPhase a:hover,
.moreLinkKamelio a:hover,
.moreChildList a:hover {
		background:#F3F3F3;
		text-decoration:none;
	}
	
/* myfollowlink */

.myfollowlink {
	position:relative;
}

.myfollowlink > img {
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
	z-index:1;
}

.myfollowlink > img.visible,
.myfollowlink.already > img {
	visibility:visible;
	filter: alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}

.myfollowlink a,
.myfollowlink span {
	display:block;
	width:39px;
	height:39px;
	background:url(/images/n/bpnet/2016/pc/icon/icon_myfollow_pn_n.png) no-repeat 0 0;
	}

.myfollowlink a.on,
.myfollowlink span.on {
	background:url(/images/n/bpnet/2016/pc/icon/icon_myfollow_pn_h.png) no-repeat 0 0;
}


/*----------------------------------------------------*/ 
/* #mustTopics (card)
------------------------------------------------------*/ 

.topicindex {
	overflow:hidden;
	width:672px;
	margin:0 -5px 40px 0;
	padding-top:5px;
}

#mustTopics .card {	
	width:327px;
	box-sizing:border-box;
	border:1px solid #DDD;
	margin-bottom:12px;
	padding:9px;
	box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	-webkit-box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	-moz-box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	position:relative;
}

#mustTopics .card a {
	text-decoration:none;
	color:#333;
}

/* .card.wide  */

#mustTopics .card.wide {	
	width:662px;
}

#mustTopics .card.wide a {
	color:#FFF;
}

#mustTopics .card.wide:hover  {
	background:#DDDDDD;
	display:block;
}

#mustTopics .card.wide:hover a > img {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

#mustTopics .card.wide .subpanel {
	position:absolute;
	bottom:9px;
	left:9px;
	background: rgba(0,0,0,0.7);
	width:642px;
	border-top:2px solid #FFF;
	padding:30px 10px 10px;
	box-sizing:border-box;
}

#mustTopics .card.wide .subpanel .myfollowlink {
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-20px;
}

#mustTopics .card.wide .subpanel .title {
	text-align:center;
	font-size:186%;
	font-weight:normal;
	margin-bottom:20px;
}

#mustTopics .card.wide .subpanel .title span {
	display:block;
	font-size:46%;
}

#mustTopics .card.wide .discription ul {
	border-left:6px solid #FFF;
	padding-left:12px;
	margin:0 0 10px 20px;
}

#mustTopics .card.wide .discription ul li {
	line-height:1.6;
}

#mustTopics .card.wide .discription .date {
	color:#BBB;
	margin:0 0 0 20px;
}

/* .card.photo */

#mustTopics .card.photo .photoBox {
	position:relative;
	background:#000;
}

#mustTopics .card.photo:hover .photoBox img {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

#mustTopics .card.photo:hover .photoBox .myfollowlink > img{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	opacity:1;
}


#mustTopics .card.photo .titleBox {
	position:absolute;
	bottom:0;
	left:0;
	width:307px;
	background: rgba(0,0,0,0.7);
	background: -moz-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.7)); 
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(0.2, rgba(0,0,0,0.5) ), to(rgba(0,0,0,0.7)));
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.7)); 
	padding-top:15px;
}

#mustTopics .card.photo .titleBox .myfollowlink {
	position:absolute;
	bottom:-20px;
	left:50%;
	margin-left:-20px;
}

#mustTopics .card.photo .titleBox .title {
	text-align:center;
	color:#FFF;
	font-size:143%;
	font-weight:normal;
	margin:10px 0 20px;
}

#mustTopics .card.photo .titleBox .title span {
	display:block;
font-size:60%;
}

#mustTopics .card.photo .discription {
	background:#F7F7F7;
	padding:25px 10px 8px 10px;
	min-height:82px;
}

#mustTopics .card.photo:hover .discription {
	background:#D6D6D6;
}

#mustTopics .card .discription .loading {
	display:block;
	margin:0 auto;
	width:48px;
	height:48px;
	background:url(/images/n/bpnet/2016/pc/parts/loading.gif) no-repeat;
}


#mustTopics .card.photo:hover  {
	background:#DDDDDD;
	display:block;
}

#mustTopics .card.photo .discription ul {
	border-left:6px solid #999;
	padding-left:12px;
	margin:0 0 10px 0;
	font-size:86%;
}

#mustTopics .card.photo .discription ul li {
	line-height:1.6;
}

#mustTopics .card.photo .discription .date {
	color:#AAA;
	margin:0 0 0 0;
	font-size:86%;
}

/* .card.plain  */

#mustTopics .card.plain  .myfollowlink {
	position:absolute;
	top:5px;
	right:5px;
}

#mustTopics .card.plain .title {
	text-align:center;
	margin-top:10px;
	margin:15px 0 10px;
	font-size:143%;
	font-weight:normal;
}

#mustTopics .card.plain .title span {
	display:block;
	font-size:60%;
}

#mustTopics .card.plain .discription {
	background:#F7F7F7;
	padding:14px 10px 8px 10px;
}

#mustTopics .card.plain:hover .discription {
	background:#D6D6D6;
}

#mustTopics .card.plain:hover  {
	background:#DDDDDD;
	display:block;
}

#mustTopics .card.plain .discription ul {
	border-left:6px solid #999;
	padding-left:12px;
	margin:0 0 10px 0;
	font-size:86%;
}

#mustTopics .card.plain .discription ul li {
	line-height:1.6;
}

#mustTopics .card.plain .discription .date {
	color:#AAA;
	margin:0;
	font-size:86%;
}


/*----------------------------------------------------*/ 
/* #columnistsTopics (card)
------------------------------------------------------*/ 

.columnistSeriese {
	overflow:hidden;
	width:672px;
	margin:0 -5px 20px 0;
	padding-top:5px;
}

#columnistsTopics {
	margin-bottom:40px;
}

#columnistsTopics .card {	
	width:327px;
	box-sizing:border-box;
	border:1px solid #DDD;
	margin-bottom:12px;
	padding:9px;
	box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	-webkit-box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	-moz-box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	position:relative;
	float:left;
}

#columnistsTopics .card:hover {	background:#DDDDDD;}
#columnistsTopics .card a {	text-decoration:none;}

#columnistsTopics .card .photoBox {
	position:relative;
	margin:0 -10px 10px -10px;
	padding: 10px 15px 20px 85px;
	border-bottom:1px solid #DDD;
}

#columnistsTopics .card .photoBox > img {
	position:absolute;
	top:0;
	left:10px;
}

#columnistsTopics .card .photoBox .titleBox {	
	width:215px;
}

#columnistsTopics .card .photoBox .titleBox .category {
	font-weight:bold;
	margin-bottom:5px;
}

#columnistsTopics .card .photoBox .titleBox .title {
	font-size:143%;
	font-weight:normal;
	line-height:1.3;
}

#columnistsTopics .card .photoBox .myfollowlink {
	position:absolute;
	bottom:-20px;
	left:50%;
	margin-left:-20px;
}

#columnistsTopics .card .list {
	background:#F7F7F7;
	padding:10px 10px 8px 10px;
	clear:both;
}

#columnistsTopics .card:hover .list {
	background:#D6D6D6;
}

#columnistsTopics .card .list ul {
	margin:0 0 -5px 0;
}

#columnistsTopics .card .list li {
	font-size:86%;
	margin-bottom:5px;
}

#columnistsTopics .card .list li span {
	color:#AAA;
	display:block;
	margin-top:5px;
}

/*----------------------------------------------------*/ 
/* #topicList (card)
------------------------------------------------------*/ 

#topicList {
	margin-bottom:40px;
}

.topicList01 {
	width:672px;
	padding-top:5px;
}

.topicList01 li {	
	box-sizing:border-box;
	border:1px solid #DDD;
	margin-bottom:12px;
	padding:9px;
	box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	-webkit-box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	-moz-box-shadow:rgb(243, 243, 243) 3px -3px 0px 0px;
	position:relative;
	overflow:hidden;
}

.topicList01 li:hover {	background:#DDDDDD;}
.topicList01 li a { display:block;	text-decoration:none;}


.topicList01 .photo,
.topicList01 .titleBox {
	display:table-cell;
	vertical-align:middle;
}

.topicList01 .photo {
	width:230px;
}

.topicList01 .titleBox .title {
	font-size:165%;
	margin-bottom:15px;
}

.topicList01 .titleBox p {
	font-size:86%;
	line-height:1.5;
}

.topicList01 .myfollowlink {
	position:absolute;
	left:190px;
	top:50%;
	margin-top:-20px;
}


/*----------------------------------------------------*/ 
/* bmr_musttopics (side)
------------------------------------------------------*/ 

#bnr_musttopics {
	background:#126A9E;
	text-align:center;
	border:1px solid #0F5A88;
	padding:25px 20px 15px 20px;
	margin-bottom:20px;
}

#bnr_musttopics a {
	display:block;
	border-radius:4px;
	border:1px solid #666666;
	padding:6px;
	margin:15px 0 0 0;
	background:#F3F3F3;
	background: -moz-linear-gradient(top, #FFF, #A0A0A0); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#A0A0A0));　
}

#bnr_musttopics a:before {
	content:"";
	display:inline-block;
	background:url(/images/n/bpnet/2016/pc/icon/icon_arrow_01_.png) no-repeat 0 0;
	width:14px;
	height:10px;
	vertical-align:middle;
}

#bnr_musttopics a:hover {
	text-decoration:none;
	background:#FFF;
}

/*----------------------------------------------------*/ 
/* #popularNow/ #recentChannel (side)
------------------------------------------------------*/ 


#side ul.topicList02 {
	letter-spacing:-.4em;
}

#side .topicList02 li {
	display:block;
	margin:0 0 10px 0;
	letter-spacing:0;
}

#side .topicList02 li a {
	display:block;
}

#side .topicList02 li a:hover {
	text-decoration:underline;
}

#side .topicList02 li .photo {
	position:relative;
}

#side .topicList02 li .photo,
#side .topicList02 li .title {
	display:table-cell;
}
	
#side .topicList02 li span.number {
	display:block;
	position:absolute;
	top:0;
	left:0;
	padding:2px 2px;
	text-align:center;
	background:rgba(0,0,0,0.5);
	color:#FFF;
	font-size:143%;
	width:31px;
	box-sizing:border-box;
}

#side .topicList02 li .myfollowlink {
	position:absolute;
	top:25px;
	left:120px;
	margin-left:-20px;
}

#side .topicList02 li .title {
	font-size:115%;
	font-weight:normal;
	vertical-align:middle;
	padding-left:20px;
}


/* #popularNow */

#side #popularNow {
	border:6px solid #DDD;
	padding:10px 14px 15px 14px;
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
}

#side #popularNow h2 {
	margin-bottom:10px;
}

#side #popularNow .topics {
		box-sizing:border-box;
		padding: 15px 15px 15px 20px ;
		background:#F3F3F3;
		overflow:hidden;
	}
	
	#side #popularNow .topics dt {
		font-weight:bold;
		margin-bottom:10px;
	}
	
	#side #popularNow .topics li {
		font-size:86%;
		margin:0 15px 5px 0;
	}
	

/* #recentChannel */

#side #recentChannel {
	border:6px solid #DDD;
	padding:15px 14px 15px 14px;
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
}

#side #recentChannel h2 {
	margin-bottom:15px;
}

/*----------------------------------------------------*/ 
/* .sidebanner (top/side)
------------------------------------------------------*/ 

.sidebanner {	
	width:300px;
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	margin:0 0 20px 0;
	padding:0;
}

dl.bpMyfollow {		
	margin-bottom:10px;
}

.su_actionbtn {
	background:#F3F3F3;
	width:300px;
	padding:12px;
	text-align:center;
	box-sizing:border-box;
	margin-bottom:10px;
}

.su_actionbtn ul { margin-bottom:-10px;}
.su_actionbtn li { margin-bottom:10px;}

.su_actionbtn a:hover img {
filter:alpha(opacity=80);
-moz-opacity:0.8;
opacity:0.8;
}

/*----------------------------------------------------*/ 
/* .mostRead (top/side)
------------------------------------------------------*/ 

.mostRead #bpnetTotal {
	margin:10px 0 20px 0;
}

.mostRead #bpTopNews {
	padding-left:10px;
}



.mostRead .head {
	padding:0 20px 0 20px;
	background:#EEEEEE;
	border-bottom:1px solid #DDD;
}

.mostRead .head h2 {
	margin-bottom:12px;
}

/* .tab */

.mostRead .head .tab {
	position:relative;
	letter-spacing:-.4em;
}

.mostRead .head .tab li {
	background:#126A9E;
	display:inline-block;
	width:86px;
	padding:5px 0 4px 0;
	text-align:center;
	border:1px solid #EEE;
	box-sizing:border-box;
	letter-spacing:0;
}

.mostRead .head .tab li a {
	display:block;
	color:#FFF;
	text-decoration:none;
}

.mostRead .head .tab li.current,
.mostRead .head .tab li:hover {
	background:#FFF;
	border:1px solid #DDD;
	border-bottom:none;
	padding:8px 0 4px;
	position:relative;
	bottom:-2px;
	left:0;
}

.mostRead .head .tab li.current a,
.mostRead .head .tab li:hover a {
	color:#333 !important;
}

/* .rankingbox */

.mostRead .rankingbox {
	padding:15px 10px 0 0;
}

.mostRead .rankingbox ol li {
	margin-bottom:15px;
	padding:.4em 0 0 3.5em;
	position:relative;
	font-size:86%;
}

.mostRead .rankingbox ol li span {
	color:#CCC;
 font-size:167%;
	display:block;
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	width:2em;
}

/* .newsbox */

.mostRead .newsbox {
	padding:15px 10px 0 10px;
}

.mostRead .newsbox ul{
	font-size:86%;
}

.mostRead .newsbox li { margin-bottom:18px; }
.mostRead .newsbox li span { 
	font-weight:bold; 
	display:block;
	margin-bottom:2px;
}

.mostRead #bpnetTotalYes,
.mostRead #bpnetTotalWeek,
.mostRead #bpTopNewsYst,
.mostRead #bpTopNewsWeek { display:none; }


.mostRead p.goRanking {
	border-top:1px solid #DDD;
	padding-top:5px;
	text-align:right;
	font-size:86%;
}

.mostRead a.allow01 {
		box-sizing:border-box;
		display:block;
		padding:0 0 0 10px;
		margin:5px auto;
		color:#333;
	}
	
.mostRead a.allow01:before {
		content:"";
		width:8px;
		height:8px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_arrow_01_.png) no-repeat 0 center;
		margin-right:5px;
		display:inline-block;
		vertical-align:middle;
		position:relative;
		top:0;
	}


/*----------------------------------------------------*/ 
/* #reccomendinfo (side)
------------------------------------------------------*/ 

#reccomendinfo {
	border-top:2px solid #333;
}


#reccomendinfo h2 {
	padding:12px 3px;
	margin-bottom:15px;
	font-size:129%;
	font-weight:bold;
	border-bottom:1px solid #DDD;
}

#reccomendinfo {
	margin-bottom:20px;
}

#reccomendinfo li {
	position:relative;
	min-height:60px;
	margin-bottom:15px;
}

#reccomendinfo li .photo {
	position:absolute;
	top:0;
	left:0;
}

#reccomendinfo li .title { font-weight:bold; margin-bottom:5px; }
#reccomendinfo li .lead { font-size:86%; line-height:1.5; }

/*----------------------------------------------------*/ 
/* #seminar (side)
------------------------------------------------------*/ 

#seminar .h02_01 {
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #DDD;
}

#seminar .seminarlist li {
	margin-bottom:20px;
}


#seminar .seminarlist li span {
	display:block;
	font-size:86%;
	margin-top:5px;
}

/*----------------------------------------------------*/ 
/* #nikkeibpSite (side)
------------------------------------------------------*/ 

#nikkeibpSite {
	margin:20px 0;
}

#nikkeibpSite h2 {
	font-size:100%;
	font-weight:bold;
	margin-bottom:7px;
	padding-left:3px;
}

#nikkeibpSite li {
	font-size:86%;
	padding:7px 0 7px 3px;
	border-top:1px solid #CCC;
}

#nikkeibpSite li a {
	color:#333;
}

/*----------------------------------------------------*/ 
/* #atcl_ad
------------------------------------------------------*/

#atcl_ad {
	margin-top:20px;
}

#atcl_ad .ad_bnr {
	letter-spacing:-.4em;
	text-align:center;
	margin-left:-8px;
}

#atcl_ad .ad_bnr > div {
	letter-spacing:normal;
	display:inline-block;
	margin-left:8px;
}

/*----------------------------------------------------*/ 
/* #trandEye
------------------------------------------------------*/

#trandEye {
	margin-bottom:30px;
}

#trandEye h2 {
	border-top:solid 2px #231815;
	border-bottom:dotted 2px #CCCCCC;
	padding:15px 0;
	font-size:113%;
}

#trandEye .category {
	letter-spacing:-.4em;
	margin-left:-20px;
	margin-top:10px;
}

#trandEye .category > li {
	letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
	width:325px;
	font-size:86%;
	line-height:1.6;
	margin-bottom:5px;
	margin-left:20px;
	padding:5px 0;
}



/*----------------------------------------------------*/ 
/* #timeline
------------------------------------------------------*/

#timeline {
	width:1000px;
	margin:0 auto 40px;
	padding:10px 0;
	position:relative;
	background:#FFF;
}

#timeline .selectbox {
	overflow:hidden;
	position:absolute;
	top:15px;
	right:0;
}

#timeline .selectbox p {
	float:left;
	margin-right:5px;
	font-size:86%;
	padding:.4em;
}

#timeline .selectbox select {
	vertical-align:middle;
	display:table-cell;
}

#timeline .timelinebox {
	box-sizing:border-box;
	width:1000px;
	margin:30px 0;
	overflow:hidden;
}

#timeline .timelinebox ul {
	border-left:3px solid #CCC;
	padding:0 0 0 20px;
	margin-left:38px;
	float:left;
	width:280px;
}

#timeline .timelinebox ul:first-child {
	margin-left:15px;
}

#timeline .timelinebox li {
	width:280px;
	margin-top:15px;
	padding-top:10px;
	position:relative;
	line-height:1.7;
}

#timeline .timelinebox ul li:first-child {
	margin-top:0;
}

#timeline .timelinebox ul:first-child li:first-child {
	padding-top:0;
}

#timeline .timelinebox li:before {
	content:"";
	display:block;
	width:25px;
	height:25px;
	position:absolute;
	left:-33px;
	top:10px;
	background: no-repeat 0 0;
}

#timeline .timelinebox ul:first-child li:first-child:before {
	top:0;
}

#timeline .timelinebox li.business:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_bis.png);}
#timeline .timelinebox #timeline1 li:nth-child(3):before,#timeline .timelinebox #timeline2 li:nth-child(2):before,#timeline .timelinebox #timeline3 li:nth-child(5):before{background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_pr.png);}
#timeline .timelinebox li.pc:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_digi.png);}
#timeline .timelinebox li.it:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_it.png);}
#timeline .timelinebox li.life:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_life.png);}
#timeline .timelinebox li.manufacture:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_tech.png);}
#timeline .timelinebox li.ecology:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_env.png);}
#timeline .timelinebox li.architecture:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_arch.png);}
#timeline .timelinebox li.medical:before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_medi.png);}
/* overview.html用*/
#timeline  .timelinebox #articleList.indexTimelinBox li:nth-child(5):before,
#timeline  .timelinebox #articleList.indexTimelinBox li:nth-child(10):before,
#timeline  .timelinebox #articleList.indexTimelinBox li:nth-child(15):before {background-image:url(/images/n/bpnet/2016/pc/icon/icon_tl_pr.png);}

#timeline .timelinebox li span.date {
	font-size:86%;
	display:inline-block;
	margin-right:5px;
}

#timeline .timelinebox li span.media {
	display:inline-block;
	font-size:86%;
	font-weight:bold;
}

#timeline .iconlist {
	border:1px solid #DDD;
	border-radius:5px;
	padding: 5px 20px;
	margin-bottom:20px;
}

#timeline .iconlist li {
	display:inline-block;
	margin-right:2em;
	font-size:86%;
	vertical-align:middle;
}

#timeline .iconlist li img {
	margin-right:5px;
}

/*----------------------------------------------------*/ 
/* pager
------------------------------------------------------*/

#contents .atcl_pager {
	text-align:center;
	position:relative;
	margin-top:20px;
	height:36px;
}

#contents .atcl_pager ul {
	letter-spacing:-.4em;
}

#contents .atcl_pager li {
	letter-spacing:normal;
	display:inline-block;
	vertical-align:middle;
	margin:0 5px;
}

#contents .atcl_pager li a,
#contents .atcl_pager li .current,
#contents .atcl_pager li .more {
	display:block;
	width:36px;
	height:36px;
	box-sizing:border-box;
	border:solid 1px #CCCCCC;
	font-size:115%;
	padding-top:8px;
}

#contents .atcl_pager li .current {
	background:#CCCCCC;
	font-weight:bold;
}

#contents .atcl_pager li.prev a,
#contents .atcl_pager li.next a {
	width:14px;
	height:20px;
	border:none;
	padding:0;
}


#contents .atcl_pager .atcl_btn_comment {
	position:absolute;
	right:0;
	top:5px;
}


/*----------------------------------------------------*/ 
/* error
------------------------------------------------------*/
#error #header #gnavi {
	border-top:1px solid #CCCCCC;
	border-bottom:2px solid #CCCCCC;
	background-color:#EAEAEA;

}
#error #header #gnavi navi {margin:0 auto; }

#error #contents {width:1000px;margin:0 auto;}

#error #contents .article-header {
    border-left:10px solid  #4c95d9;
    margin-bottom: 20px;
}
#error #contents .article-header .inner {
    padding: 0 15px;
}
#error #contents .article-header .inner h1 {
    font-size: 185.8%;
    line-height: 1.2;
}
#error #contents .article-body {
   border-bottom-color: #368ad9;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #368ad9;
    border-top-style: solid;
    border-top-width: 1px;
    clear: both;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 30px;
}
#error #contents .styled p{
    font-size: 114.4%;
    line-height: 1.5em;
}
#error #contents .styled p.bplead {
    font-size: 114.4%;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
#error #contents .styled ul {
    margin-bottom: 1.75em;
}
#error #contents .styled ul li {
    display: list-item;
    list-style-type: square;
    font-size: 114.4%;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-left: 20px;
    padding-top: 0.15em;
}