@charset "utf-8";

html.modal-is-locked {
  overflow: hidden;
  touch-action: none;
}

.modal,
[data-modal-id] {
  display: none;
}

.modal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;
  display: none;
}

.modal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.modal-wrapper:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: "";
}

.modal-overlay,
.modal-wrapper {
  backface-visibility: hidden;
}

.modal {
  position: relative;
  outline: none;
  text-size-adjust: 100%;
}

.modal-is-initialized {
  display: inline-block;
}



.modal-bg.modal-is-opening,
.modal-bg.modal-is-opened {
  filter: blur(3px);
}

.modal-overlay {
  background:rgba(0,0,0, 0.6);
}

.modal-overlay.modal-is-opening,
.modal-overlay.modal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.modal-overlay.modal-is-opening {
  animation-name: modal-overlay-opening-keyframes;
}

.modal-overlay.modal-is-closing {
  animation-name: modal-overlay-closing-keyframes;
}

.modal-wrapper {
  padding: 10px 10px 0;
}

.modal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);
  color: #2b2e38;
  background: #fff;
}

.modal.modal-is-opening,
.modal.modal-is-closing {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.modal.modal-is-opening {
  animation-name: modal-opening-keyframes;
}

.modal.modal-is-closing {
  animation-name: modal-closing-keyframes;
}

.modal,
.modal-wrapper:after {
  vertical-align: middle;
}

.modal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.modal-close:hover,
.modal-close:focus {
  color: #2b2e38;
}

.modal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\00d7";
  text-align: center;
}

.modal-confirm,
.modal-cancel {
  font: inherit;
  display: inline-block;
  overflow: visible;
  min-width: 110px;
  margin: 0;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: 0;
  outline: 0;
}

.modal-confirm {
  color: #fff;
  background: #81c784;
}

.modal-confirm:hover,
.modal-confirm:focus {
  background: #66bb6a;
}

.modal-cancel {
  color: #fff;
  background: #e57373;
}

.modal-cancel:hover,
.modal-cancel:focus {
  background: #ef5350;
}

.modal-confirm::-moz-focus-inner,
.modal-cancel::-moz-focus-inner,
.modal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

@keyframes modal-opening-keyframes {
  from {
    transform: scale(1.05);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes modal-closing-keyframes {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

@keyframes modal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.lt-ie9 .modal-overlay {
  background: #2b2e38;
}

.lt-ie9 .modal {
  width: 700px;
}
