@charset "utf-8";

/*----------------------------------------------------*/ 
/* element reset
------------------------------------------------------*/ 

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, a, input {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:transparent;
}
body { line-height:1; position:relative;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ul, ol, dl { list-style:none; }
del { text-decoration: line-through; }
table {	border-collapse:collapse;	border-spacing:0;	empty-cells:show;	font-size:inherit;	font:100%;}
th,td,img {	border:0;}
caption, th {	text-align:left;}
img,a img{	background:transparent; vertical-align:top;}
address {	font-style:normal;}
hr { display:none;}
input, select { vertical-align:middle; }
input[type=text],input[type=submit]{
	-webkit-appearance:none;
}


/*----------------------------------------------------*/ 
/* link
-----------------------------------------------------*/ 

a:link {	color:#333; text-decoration:none;}
a:visited {	color:#333;	text-decoration:none;}
a:hover {	color:#333;	text-decoration:underline;}
a:active {	color:#333;	text-decoration:none;}

#contents a:hover,
#side a:hover {
	color:#458CDD;
}

/*----------------------------------------------------*/ 
/* text
------------------------------------------------------*/ 

body {
	background:#FFF;
	color:#333;
	font: 14px "メイリオ", "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","ＭＳ Ｐゴシック",Helvetica,Arial,sans-serif;
}

p,dt,dd,li,th,td,address {
	line-height:1.3;
}

p,dt,dd,li,th,td,input,textarea,address {
	font-size:100%;
}

img {
	vertical-align:bottom;
}

/*----------------------------------------------------*/ 
/* #header
------------------------------------------------------*/ 

/* #gpLink */

#header #gpLink {
	background:#E6E6E6;
	border-bottom:solid 1px #C0C0C0;
}

#header #gpLink > nav {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
}

#header #gpLink .site {
	float:left;
	padding:6px 0;
	overflow:hidden;
}

#header #gpLink .site li {
	float:left;
	font-size:79%;
	border-right:solid 1px #CCC;
	padding:0 5px;
	line-height:1;
}

#header #gpLink .site li a {
	color:#333;
}

#header #gpLink .regist {
	float:right;
	overflow:hidden;
}

#header #gpLink .regist li {
	float:left;
	overflow:hidden;
	min-width:110px;
	font-size:79%;
	white-space:nowrap;
	line-height:1;
}

#header #gpLink .regist li a {
	display:block;
	color:#FFF;
	padding:6px 5px;
	background:#006EB0;
	text-align:center;
}

#header #gpLink .regist li.login {
	border-left:dotted 1px #FFF;
}

/* #head */


#header #head {
	width:1000px;
	margin:0 auto;
	padding:10px 0;
	position:relative;
	background:#FFF;
	z-index:100;
}

	/* #head .search */
#header #head .search {
	position:absolute;
	left:0;
	top:15px;
}

#header #head .search p {
	font-size:72%;
	margin-bottom:3px;
}

#header #head .search .searchbox {
	background:#FFF url(/images/n/bpnet/2016/pc/cmn/header_icon_search.png) no-repeat 8px 8px;
	border:1px solid #CCC;
	border-radius:3px;
	width:220px;
}

#header #head .search .searchbox input {
	padding: 5px 5px 5px 30px;
}

#header #head.lower .search p {
	margin-bottom:10px;
}

#header #head.lower .search .searchbox {
	width:auto;
	display:inline-block;
	vertical-align:middle;
	background:none;
	border:none;
}

#header #head.lower .search .logo_lower {
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
}

	/* #head .logo */
#header #head .logo {
	text-align:center;
	margin:0 260px;
	padding:10px 0 5px;
}

	/* #head .util */
#header #head .util {
	position:absolute;
	right:0;
	top:10px;
	width:150px;
}

#header #head .util ul.mainMenu {
	padding:20px 0 0 0;
	letter-spacing: -0.4em;
}

#header #head .util ul.mainMenu li {
	display:inline-block;
	vertical-align:top;
	margin-right:1px;
}

#header #head .util ul.mainMenu li.sns_gplus {
	position:relative;
	top:3px;
}

#header #head .util ul.mainMenu li a,
#header #head .util ul.mainMenu li span {
	display:block;
	padding:2px;
	background:#FFF;
	border:1px solid #FFF;
}

#header #head .util ul.mainMenu li span {
	padding:2px 4px;
	cursor:pointer;
	margin-left:-1px;
	}

#header #head .util ul.subMenu {
	padding: 4px 2px 2px 2px;
	background:#FFF;
	border-radius:2px;
	border:1px solid #DDD;
	width:28px;
	margin-left:-3px;
	display:none;
}

#header #head .util ul.subMenu li {
	display:block;
	margin-bottom:2px
}

#header #head .util .btn {
	position:absolute;
	right:0;
	top:0;
}

/* #gnavi */

#header #gnavi {
	border-top:1px solid #CCCCCC;
	border-bottom:2px solid #CCCCCC;
	background:#EAEAEA;
	background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EAEAEA));
	background: linear-gradient(to bottom, #FFF, #EAEAEA); 
}

#header #gnavi > nav {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #FFFFFF;
}

#header #gnavi > nav > ul > li {
	float:left;
	width:25%;
	box-sizing:border-box;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #CCCCCC;
}

#header #gnavi > nav > ul > li > a {
	display:block;
	padding:14px 0 12px;
	text-align:center;
	font-weight:bold;
	color:#333;
}

#header #gnavi > nav > ul > li:first-child > a {
	padding:10px 0 12px;
}

#header #gnavi > nav > ul > li:first-child > a:before {
	content:"";
	display:inline-block;
	width:17px;
	height:17px;
	background:url(/images/n/bpnet/2016/pc/icon/icon_myfollow_01.png) no-repeat 0 0;
	margin-right:8px;
	top:2px;
	position:relative;
}

#header #gnavi > nav > ul > li:hover > a,
#header #gnavi > nav > ul > li.current > a {
	text-decoration:none;
	background:#FFF;
}

#header #gnavi > nav > ul > li:hover .latest {
	display:block;
}

#header #gnavi > nav > ul > li .latest {
	position:absolute;
	left:50%;
	margin-left:-501px;
	z-index:20;
	border:solid 1px #CCC;
	border-top-width:2px;
	background:#F7F7F7;
	width:1001px;
	box-sizing:border-box;
	padding:15px 0 10px 20px;
	display:none;
	min-height:190px;
}

#header #gnavi > nav > ul > li .latest > .category {
	font-size:129%;
	font-weight:bold;
	margin-bottom:10px;
}

#header #gnavi > nav > ul > li .latest ul {
	overflow:hidden;
	margin-left:-15px;
}

#header #gnavi > nav > ul > li .latest li {
	float:left;
	width:310px;
	margin-left:15px;
}

#header #gnavi > nav > ul > li .latest li a {
	display:block;
	overflow:hidden;
}

#header #gnavi > nav > ul > li .latest li a:hover {
	color:#458CDD;
}

#header #gnavi > nav > ul > li .latest li .image {
	float:left;
	margin-right:10px;
}

#header #gnavi > nav > ul > li .latest li .image img {
	max-width:160px;
	height:auto;
}

#header #gnavi > nav > ul > li .latest li a:hover .image img {
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

#header #gnavi > nav > ul > li .latest li .detail {
	overflow:hidden;
	line-height:1.6;
}

#header #gnavi > nav > ul > li .latest li .detail .title {
	font-size:108%;
	font-weight:bold;
	margin-bottom:10px;
}

#header #gnavi > nav > ul > li .latest li .detail .sub {
	font-size:93%;
	margin-bottom:10px;
}

#header #gnavi > nav > ul > li .latest li .detail .title:last-child,
#header #gnavi > nav > ul > li .latest li .detail .sub:last-child {
	margin-bottom:0;
}

#header #gnavi > nav > ul > li .latest li .detail .date {
	font-size:79%;
	margin-top:10px;
}

#header .hbnr {
	text-align:center;
	margin:10px 0 20px;
	overflow:hidden;
}


/* #popularNowWord */

#popularNowWord {
	background:#F7F7F7;
}

#popularNowWord .now {
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	padding:10px 0 0;
	font-size:86%;
	position:relative;
}

#popularNowWord .now dl {
	margin:0 12em 0 0;
	overflow:hidden;
}

#popularNowWord .now dt {
	float:left;
	padding:3px 5px 0 0;;
}


#popularNowWord .now dd {
	overflow:hidden;
}

#popularNowWord .now li {
	display:inline-block;
	white-space:nowrap;
	margin:0 1px 0;
	padding-bottom:10px;
}

#popularNowWord .now li a {
	display:block;
	background:#FFF;
	border-radius:1em;
	text-decoration:none;
	color:#333;
	padding:3px .75em;
} 

#popularNowWord .now li a:hover {
	text-decoration:underline;
}

#popularNowWord .now .morekeyword {
	position:absolute;
	top:12px;
	right:5px;
}

#popularNowWord .now .morekeyword span {
	text-decoration:underline;
	cursor:pointer;
}

#popularNowWord .now .morekeyword span:after {
	content:"";
	display:inline-block;
	width:8px;
	height:8px;
	background:url(/images/n/bpnet/2016/pc/icon/icon_arrow_02.png) no-repeat 0 0;
	margin-left:8px;
	top:5px;
}

#popularNowWord .now .morekeyword.close span:after {
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_arrow_03.png);
}

#popularNowWord .topic {
	background:#FFF;
	position:absolute;
	left:0;
	z-index:10;
	width:100%;
	display:none;
}

#popularNowWord .topic:after {
	content:"";
	display:block;
	height:10px;
	margin-bottom:-10px;
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(204,204,204,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(204,204,204,0) 100%);
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(204,204,204,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#00cccccc',GradientType=0 );
}

#popularNowWord .topic .theme {
	width:1000px;
	margin:0 auto;
	padding:30px 0;
}

#popularNowWord .topic .lead {
	font-size:86%;
	margin-bottom:20px;
}

#popularNowWord .topic .ichiran > li {
	background:#F7F7F7;
	border-radius:3px;
	margin-bottom:10px;
	padding:7px 0 0;
	overflow:hidden;
}

#popularNowWord .topic .ichiran > li p {
	float:left;
	width:120px;
	box-sizing:border-box;
	padding:5px 0 5px 28px;
	font-weight:bold;
	background-position:7px 5px;
	background-repeat:no-repeat;
}

#popularNowWord .topic .ichiran > li ul {
	overflow:hidden;
	border-left:dotted 2px #CCCCCC;
	padding:5px 0 0 20px;
	margin-bottom:7px;
	min-height:20px;
}

#popularNowWord .topic .ichiran > li li {
	float:left;
	margin:0 40px 5px 0;
}

#popularNowWord .topic .ichiran > li a:hover {
	color:#458CDD;
}

#popularNowWord .topic .ichiran > li.business p {
	color:#2DBA29;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_bis.png);
}
#popularNowWord .topic .ichiran > li.pc p {
	color:#1788CC;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_digi.png);
}
#popularNowWord .topic .ichiran > li.it p {
	color:#14B8C5;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_it.png);
}

#popularNowWord .topic .ichiran > li.life p {
	color:#D9A300;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_life.png);
}

#popularNowWord .topic .ichiran > li.manufacture p {
	color:#7C58C7;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_tech.png);
}

#popularNowWord .topic .ichiran > li.ecology p {
	color:#93D110;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_env.png);
}

#popularNowWord .topic .ichiran > li.architecture p {
	color:#CE31CA;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_con.png);
}

#popularNowWord .topic .ichiran > li.medical p {
	color:#C4C400;
	background-image:url(/images/n/bpnet/2016/pc/icon/icon_tpc_medi.png);
}


/* #myFollowBox */

#myFollowBox {
	background:#FFF;
	text-align:left;
	box-shadow: 0px 0px 15px #999;
	box-sizing:border-box;
	padding:45px 50px 30px 50px;
}

#myFollowBox.first {
	width:800px;
}

#myFollowBox.not-member,
#myFollowBox.member,
#myFollowBox.already,
#myFollowBox.limit,
#myFollowBox.error,
#myFollowBox.delete,
#myFollowBox.already_delete {
	width:660px;
}

#myFollowBox .btn_close {
	position:absolute;
	right:-22px;
	top:-22px;
	width:55px;
	height:55px;
	background:url(/images/n/bpnet/2016/pc/cmn/btn_modal_close.png) no-repeat;
	cursor:pointer;
}

#myFollowBox .title {
	font-size:34px;
	font-weight:bold;
	text-align:center;
	line-height:1.3;
}

#myFollowBox p {
	line-height:1.8;
	margin-top:10px;
}

#myFollowBox p.notice {
	text-indent:-1em;
	padding-left:1em;
}

#myFollowBox p.notice02 {
	text-align:center;
}

#myFollowBox.first .image {
	float:left;
	margin:0 15px 0 -50px;
}

#myFollowBox .detail {
	overflow:hidden;
	padding-top:40px;
}

#myFollowBox .btn {
	overflow:hidden;
	margin:25px 0 0 -20px;
}

#myFollowBox .btn li {
	float:left;
	margin-left:20px;
}

#myFollowBox .btn_box {
	background:#F7F7F7;
	letter-spacing:-.4em;
	text-align:center;
	padding:20px 0;
	margin-top:30px;
}

#myFollowBox .btn_box li {
	letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
	margin:0 10px;
}

#myFollowBox .btn_box li p {
	font-size:129%;
	font-weight:bold;
	margin-bottom:5px;
}

#myFollowBox p.close {
	text-align:center;
	margin-top:15px;
}

#myFollowBox p.close a {
	display:inline-block;
	padding-left:15px;
	background:url(/images/n/bpnet/2016/pc/icon/icon_close_01.png) no-repeat 0 .6em;
	color:#656565;
	text-decoration:underline;
}



/*----------------------------------------------------*/ 
/* #contents
------------------------------------------------------*/ 

#contents {
	padding:30px 0;
}

#maincontainer {
	padding:0 0 30px 0;
	margin:0 auto;
	width:1000px;
	background:#FFF;
	overflow:hidden;
}

#maincontainer #contents {
	float:left;
	width:670px;
	padding:10px 0 20px 0;
}

#maincontainer #side {
	float:right;
	width:300px;
	padding:50px 0 0 0;
}

#maincontainer.column1 #contents,
#maincontainer.wide #contents {
	float:none;
	width:auto;
}

#maincontainer.wide {
	padding:0 0 50px 0;
	width:auto;
}

#maincontainer.wide #contents {
	padding-top:15px;
}



/*----------------------------------------------------*/ 
/* #contents
------------------------------------------------------*/ 

#contents .topicpath {
	font-size:72%;
	width:1000px;
	margin:0 auto 27px;
}

#maincontainer.wide #contents .topicpath {
	margin-bottom:15px;
}


#contents .topicpath a { text-decoration:underline; }


/*----------------------------------------------------*/ 
/* #footer
------------------------------------------------------*/ 

#footer {
	background:#F7F7F7;
	border-top:1px solid #DDD;
}

/* #nikkeibpSite */
#footer #nikkeibpSite {
	margin:0 auto;
	padding:15px 0;
	position:relative;
	border-bottom:1px solid #DDD;
}

#footer #nikkeibpSite h2 {
	font-size:100%;
	width:940px;
	margin:0 auto 10px auto;
}

#footer #nikkeibpSite ul {
	width:1000px;
	overflow:hidden;
	margin:0 auto 0 auto;
}

#footer #nikkeibpSite ul li {
	margin:0 30px 10px 30px;
	float:left;
	padding:0;
	border:none;}

/* #sitemap */

#footer #sitemap {
	margin:0 auto;
	width:860px;
	position:relative;
	padding:15px 0 15px 140px;
}

#footer #sitemap .logo {
	position:absolute;
	top:30px;
	left:0;
}

#footer #sitemap ul {
	margin-bottom:10px;
}

#footer #sitemap li {
	font-size:86%;
	display:inline-block;
	margin:0 2em 0 0;

}

#footer #sitemap li a {
	color:#1F509F;
}


#footer #sitemap .notice {
	font-size:86%;
}

/* .copyright */
#footer .copyright {
	color:#FFF;
	font-size:86%;
	text-align:center;
	background:#126A9E;
	padding:10px 0;
}

