@charset "utf-8";

/*----------------------------------------------------*/ 
/* #topInfo
------------------------------------------------------*/ 

#topInfo {
	background:#FFE5E6 url(/images/n/bpnet/2016/pc/icon/icon_info_01.png) no-repeat 10px 5px;
	border-radius:3px;
	padding:6px 10px 5px 37px;
	font-size:86%;
	width:1000px;
	box-sizing:border-box;
	margin:0 auto 20px;
	min-height:30px;
}

#topInfo p {
	line-height:1.6;
}

/*----------------------------------------------------*/ 
/* #mustTopics
------------------------------------------------------*/

#mustTopics {
	width:1000px;
	margin:0 auto 50px;
	padding:10px 0;
	position:relative;
	background:#FFF;
}

#mustTopics p{
	font-size:86%;
}

#mustTopics .topicsContainer {
	overflow:hidden;
	width:1005px;
	margin:0 -5px 0 0;
}


/* .card.banners  */
ul.banner.topad {/* ★★ 追記部分★★ */
	position:absolute;
	z-index:1;
}
div.sidebannerinside {/* ★★ 追記部分★★ */
	position:absolute;
	top:270px;
	z-index:0;
}
#mustTopics .card.sidebanner {	
	width:300px;
	height:735px; /* ★★ 追記部分★★ */
	position:relative;  /* ★★ 追記部分★★ */
	overflow:hidden; /* ★★ 追記部分★★ */
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	margin:0 0 20px 10px;
	padding:0;
}


#mustTopics .topicsContainer dl.bpMyfollow {		
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px solid #DDD;
}


/* #popularNow  */

#mustTopics #popularNow {
	border:6px solid #DDD;
	padding:19px 14px 19px 24px;
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
}

#mustTopics #popularNow h2 {
	margin-bottom:15px;
}

#mustTopics #popularNow ul.ranking {
	letter-spacing:-.4em;
	width:700px;
	float:left;
}

#mustTopics #popularNow .ranking li {
	display:inline-block;
	width:160px;
	margin:0 15px 0 0;
	letter-spacing:0;
	position:relative;
	vertical-align:top;/* ★★ 追記部分★★ */
}

#mustTopics #popularNow .ranking li span.number {
	display:block;
	position:absolute;
	top:0;
	left:0;
	padding:2px 2px;
	text-align:center;
	background:rgba(0,0,0,0.5);
	color:#FFF;
	font-size:143%;
	width:31px;
	box-sizing:border-box;
	z-index:1;
}

#mustTopics #popularNow .ranking li a:hover .photo > img {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

#mustTopics #popularNow .ranking li .myfollowlink {
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-20px;
}

#mustTopics #popularNow .ranking li .title {
	margin:20px 0 0 0;
	font-size:115%;
	font-weight:normal;
}

#mustTopics #popularNow .ranking li .title span {
	display:block;
	font-size:76%;
	width:160px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-bottom:5px;
}

#mustTopics #popularNow .topics {
		width:240px;
		height:190px;
		box-sizing:border-box;
		padding: 20px 15px 20px 20px ;
		background:#F3F3F3;
		float:right;
		overflow:hidden;
	}
	
	#mustTopics #popularNow .topics dt {
		font-weight:bold;
		margin-bottom:15px;
	}
	
	#mustTopics #popularNow .topics li {
		font-size:86%;
		margin:0 15px 7px 0;
	}
	/* .mustTopicsLink */
	
	#mustTopics .mustTopicsLink {
		margin:0;
	}

	#mustTopics .mustTopicsLink {
		text-align:center;
	}

	#mustTopics .mustTopicsLink li {
		display:inline-block;
		margin:0 2px;
	}

	#mustTopics .mustTopicsLink li a {
		border:2px solid #CCC;
		border-radius:3px;
		display:block;
		width:300px;
		box-sizing:border-box;
		padding:15px 10px;
		text-align:center;
		color:#333;
	}
	
	#mustTopics .mustTopicsLink li a:hover {
		background:#F3F3F3;
		text-decoration:none;
	}
	
	#mustTopics .mustTopicsLink li a:before {
		content:"";
		width:8px;
		height:17px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_arrow_01_.png) no-repeat 0 center;
		margin-right:5px;
		display:inline-block;
		position:relative;
		top:3px;
	}

	#mustTopics .mustTopicsLink li:last-child a:before {
		width:17px;
		height:17px;
		background:url(/images/n/bpnet/2016/pc/icon/icon_myfollow_01.png)no-repeat 0 0;
		margin-right:3px;
	}
	
/*----------------------------------------------------*/ 
/* #columns .entry
------------------------------------------------------*/

#columnsContainer {
	border-top:1px solid #CCC;
	background:url(/images/n/bpnet/2016/pc/parts/bg_columnsContainer.png) repeat-x 0 0;
	margin-bottom:50px;
	padding:40px 0 0 0;
}

#columns {
	width:1000px;
	margin:0 auto;
	position:relative;
}


	
/* #columnContainer */

#columnContainer {
	overflow:hidden;
}

#columnContainer .main {
	width:670px;
	float:left;
}

#columnContainer .sub {
	width:300px;
	float:right;
}

/* .entry */

#columns .clmEntry {
	border-top:3px solid #CCC;
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
}

#columns .clmEntry a {
	color:#333;
	text-decoration:none;
}

#columns .clmEntry a:hover,
#columns .clmEntry a:hover .date {
	color:#458CDD;
}

#columns .clmEntry a:hover img {
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

#columns .clmEntry .discription {
	float:right;
	width:490px;
	padding:10px 0;
}

#columns .clmEntry .photo {
	float:left;
	width:160px;
}

#columns .clmEntry .photo img { width:100%; height:auto;}
#columns #hotColumnEntry { margin:30px 0 0 0;}
#columns #hotColumnEntry .clmEntry .discription { width:658px; padding:20px 0;}
#columns #hotColumnEntry .clmEntry .photo { width:320px;}

#columns .clmEntry .category {
	position:absolute;
	top:-3px;
	left:0;
	color:#FFF;
	font-weight:bold;
	background:#CCC;
	width:110px;
	box-sizing:border-box;
	padding: 5px 2px 2px 25px;
	text-align:center;
	z-index:1;
}

#columns .clmEntry .category:after {
	content:"";
	position:absolute;
	top:7px;
	left:10px;
	display:block;
	width:20px;
	height:15px;
}

#columns .clm-bis { border-top:3px solid #2DBA29;}
#columns .clm-bis .category { background:#2DBA29;}
#columns .clm-bis .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_bis.png) no-repeat 0 0;}
#columns .clm-digi { border-top:3px solid #1788CC;}
#columns .clm-digi .category { background:#1788CC;}
#columns .clm-digi .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_digi.png) no-repeat 0 0;}
#columns .clm-it { border-top:3px solid #14B8C5;}
#columns .clm-it .category { background:#14B8C5;}
#columns .clm-it .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_it.png) no-repeat 0 0;}
#columns .clm-life { border-top:3px solid #D9A300;}
#columns .clm-life .category { background:#D9A300;}
#columns .clm-life .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_life.png) no-repeat 0 0;}
#columns .clm-tech { border-top:3px solid #7C58C7;}
#columns .clm-tech .category { background:#7C58C7; width:150px;}
#columns .clm-tech .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_tech.png) no-repeat 0 0;}
#columns .clm-env { border-top:3px solid #93D110;}
#columns .clm-env .category { background:#93D110;}
#columns .clm-env .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_env.png) no-repeat 0 0;}
#columns .clm-arch { border-top:3px solid #CE31CA;}
#columns .clm-arch .category { background:#CE31CA;}
#columns .clm-arch .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_arch.png) no-repeat 0 0;}
#columns .clm-medi { border-top:3px solid #D9D900;}
#columns .clm-medi .category { background:#D9D900;}
#columns .clm-medi .category:after { background:url(/images/n/bpnet/2016/pc/icon/icon_clmn_medi.png) no-repeat 0 0;}

#columns .clmEntry .icon {
	margin-bottom:12px;
}
#columns .clmEntry .icon .new {
	display:inline-block;
	padding:4px .5em 2px;
	color:#FFF;
	font-weight:bold;
	background:#FF0000;
	line-height:1;
	margin-right:5px;
}

#columns .clmEntry .title {
	margin-bottom:10px;
	font-size:129%;
	font-weight:bold;
	line-height:1.2;
}

#columns .clmEntry a:hover .title {
	text-decoration:underline;
}

#columns .clmEntry .parentsTitle {
	font-size:86%;
	font-weight:bold;
	display:block;
	margin-bottom:5px;
}

#columns #hotColumnEntry .clmEntry .title { font-size:172%; font-weight:bold;}
#columns #hotColumnEntry .clmEntry .parentsTitle { font-size:86%; margin-bottom:10px; font-weight:bold;}

#columns .clmEntry .lead {
	font-size:86%;
	line-height:1.6;
	margin-bottom:10px;
}

#columns .clmEntry .date {
	color:#AAA;
}



/* nikkeiRanking */

#columnContainer #nikkeiRanking {
	background:#126A9E;
	padding:15px;
	margin-bottom:20px;
}

#columnContainer #nikkeiRanking h2 {
	color:#FFF;
	font-size:129%;
	font-weight:bold;
	border-bottom:1px solid #89B5CF;
	padding:0 15px 10px 15px;
	margin:0 -15px 10px -15px;
}

#columnContainer #nikkeiRanking ul {
	margin-bottom:-12px;
}

#columnContainer #nikkeiRanking li {
	margin-bottom:12px;
	position:relative;
	padding:2px 2px ;
}

#columnContainer #nikkeiRanking li a {
	color:#FFF;
}

#columnContainer #nikkeiRanking li span {
	display:inline-block;
	background:#FFF;
	padding: .2em .4em;
	margin-right:5px;
	font-size:115%;
	font-weight:bold;
	line-height:1;
	color:#333;
}

#columnContainer #nikkeiRanking li img {
	vertical-align:middle;
}


#columnContainer .bnr li {
	margin-bottom:15px;
}

	/*----------------------------------------------------*/ 
/* #reccomendinfo
------------------------------------------------------*/ 

#reccomendinfo h2 {
	padding:20px 3px;
	margin-bottom:15px;
	font-size:129%;
	font-weight:bold;
	font-size:129%;
	border-bottom:1px solid #DDD;
}


/*----------------------------------------------------*/ 
/* #columns #videos
------------------------------------------------------*/

#videos {
	overflow:hidden;
	position:relative;
	margin:40px 0;
}

#videos .mirailens {
	position:absolute;
	top:0;
	right:0;
}

#videos .videoList {
	overflow:hidden;
	margin:20px 0 0;
}

#videos .clmMore .videoList {
	margin:0;
}

#videos .videoList li {
	float:left;
	border:1px solid #DDD;
	width:210px;
	margin-right:20px;
	padding:10px;
	box-sizing:border-box;
	margin-bottom:20px;
}

#videos .videoList li:hover { background:#DDD;}

#videos .videoList li:nth-child(3n) {
	margin-right:0;
}

#videos .videoList li a { text-decoration:none;}

#videos .videoList li .photo {
	margin:-11px -11px 10px -11px;
	background:#CCC;
	text-align:center;
	height:157px;
	overflow:hidden;
	position:relative;
}

#videos .videoList li .photo:before {
	content:"";
	width:28px;
	height:28px;
	background:url(/images/n/bpnet/2016/pc/icon/icon_play_01.png) no-repeat;
	z-index:1;
	position:absolute;
	left:50%;
	top:50%;
	margin:-14px 0 0 -14px;
}

#videos .videoList li .photo img {
	height:157px;
	width:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#videos .videoList li:hover .photo img { 
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

#videos .videoList li .title {
	font-size:115%;
	margin-bottom:10px;
	color:#333;
}

#videos .videoList li .date {
	font-size:86%;
	color:#AAA;
}

/*----------------------------------------------------*/ 
/* #columns .mostRead
------------------------------------------------------*/

#contents .mostRead h2.h02_01 {
	margin-bottom:20px;
}

.mostRead #bpnetTotal,
.mostRead #bpTopNews {
	display:table-cell;
}

.mostRead #bpnetTotal {
	border-right:1px solid #DDD;
	width:325px;
	padding-right:10px;
}

.mostRead #bpnetTotal .rankingbox ol li {
	font-weight:bold;
}

.mostRead #bpTopNews {
	width:324px;
	padding-left:10px;
}


/* .tab */

.mostRead .head {
	padding:12px 20px 0 20px;
}

.mostRead .head .tab li {
	width:94px;
}

.mostRead .goRanking a {
		border:2px solid #CCC;
		border-radius:3px;
		display:block;
		box-sizing:border-box;
		padding:8px 10px 7px;
		margin:0 auto;
		text-align:center;
		color:#333;
	}


/*----------------------------------------------------*/ 
/* #relBnrs
------------------------------------------------------*/

#relBnrsContainer {
	background:#F7F7F7;
	margin-bottom:40px;
}

#relBnrs {
	width:1000px;
	margin:0 auto;
	padding:20px 0;
	position:relative;
}

#relBnrs ul {
	margin:0 auto;
	width:960px;
	letter-spacing:-.4em;
}

#relBnrs li {
	display:inline-block;
	margin:10px;
}

#relBnrs li a:hover img {
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}



/*----------------------------------------------------*/ 
/* #seminarSelection
------------------------------------------------------*/

#seminarSelection {
	width:1000px;
	margin:0 auto 50px;
	padding:10px 0;
	position:relative;
	background:#FFF;
	overflow:hidden;
}

#contents #seminarSelection h2.h02_01 {
	margin-bottom:30px;
}

#seminarSelection #seminar {
	float:left;
	width:470px;
	border-top:double 3px #DDD;
	padding:25px 5px 0 5px;
}

#seminarSelection #selection {
	float:right;
	width:480px;
	border-top:double 3px #DDD;
	padding:25px 0 0 0;
}


/* #selection */

#selection .selectionList {
	overflow:hidden;
}

#selection .selectionList li {
	float:left;
	border:1px solid #DDD;
	width:150px;
	padding:9px;
	box-sizing:border-box;
	margin:0 14px 14px 0;
}

#selection .selectionList li:last-child {
	margin:0 0 14px 0;
}

#selection .selectionList li .photo {
	margin:-10px -10px 10px -10px;
}

#selection .selectionList li p {
	line-height:1.5;
}


#selection .selectionList li:hover {
	background:#F3F3F3;
}
	
#selection .selectionList li:hover img {
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}
	

/*----------------------------------------------------*/ 
/* #footer
------------------------------------------------------*/ 

#footer {
	border-top:none !important;
}

/*----------------------------------------------------*/ 
/* #topBtmAd
------------------------------------------------------*/ 

#topBtmAd {
	width:1000px;
	margin:0 auto;
}

#topBtmAd #trandEye,
#topBtmAd #atcl_ad {
	width:670px;
	box-sizing:border-box;
}

