﻿.inline-list li, .icons li, .nav li, .botoes-destaque li, #iconlist li, .fotos li {
        *display: inline;
        *zoom:1;
    }

.botoes-destaque{
    *width: 225px;
}

#menu-wrapper{
    *height: 115px;
}

.videos-direita .titulo{
    *margin: 10px 0 0 7px;
}

.botao-votar-dir{
    *margin: -52px 0 0 0;
}

#menu-principal-hp{
    *zoom:1;
}

#cabecahp{
    *z-index: 100;
}

.login-img{
    *left: 93px;
    *right: auto;
    *margin: auto;
}