/* BRANCO */
.branco {
    color: #FFFFFF !important;
}

.branco-bg {
    background-color: #ffffff !important;
    z-index: 3;
}

/* PRETO */
.preto {
    color: #000000 !important;
}

.preto-bg {
    background-color: #000000 !important;
}

/* CINZA */
.cinza {
    color: #999999 !important;
}

.cinza-bg {
    background-color: #999999 !important;
    z-index: 1;
}

.cinza-escuro {
    color: #6F6766 !important;
}

.cinza-escuro-bg {
    background-color: #6F6766 !important;
}

.cinza-medio {
    color: #9E9A98 !important;
}

.cinza-medio-bg {
    background-color: #9e9a98 !important;
    z-index: 2;
}

.cinza-light {
    color: #D1D1CE !important;
}

.cinza-light-bg {
    background-color: #D1D1CE !important;
    z-index: 2;
}


/* VERMELHO */
.vermelho {
    color: #fc0000;
}

.vermelho-bg {
    background-color: #fc0000 !important;
}

.vermelho-bola {
    color: #e51e20 !important;
}

.vermelho-bola-bg {
    background-color: #e51e20 !important;
}



/* TEMAS */
.benfica-01 {
    color: #FF0000 !important;
}

.benfica-01-bg {
    background-color: #FF0000 !important;
}

.benfica-02 {
    color: #FFCCFF !important;
}

.benfica-02-bg {
    background-color: #FFCCFF !important;
}

.porto-01 {
    color: #0066CC !important;
}

.porto-01-bg {
    background-color: #0066CC !important;
}

.porto-02 {
    color: #CCFFFF !important;
}

.porto-02-bg {
    background-color: #CCFFFF !important;
}

.sporting-01 {
    color: #009933 !important;
}

.sporting-01-bg {
    background-color: #009933 !important;
}

.sporting-02 {
    color: #CCFF00 !important;
}

.sporting-02-bg {
    background-color: #CCFF00 !important;
}

.nacional-01 {
    color: #00CCFF;
}

.nacional-01-bg {
    background-color: #00CCFF;
}

.nacional-02 {
    color: #cc3333;
}

.nacional-02-bg {
    background-color: #cc3333 !important;
}

.nacional-03 {
    color: #CCCC99 !important;
}

.nacional-03-bg {
    background-color: #CCCC99 !important;
}

.modalidades-01 {
    color: #FF6633;
}

.modalidades-01-bg {
    background-color: #FF6633 !important;
}

.modalidades-02 {
    color: #009999 !important;
}

.modalidades-02-bg {
    background-color: #009999 !important;
}

.internacional-01 {
    color: #6666CC;
}

.internacional-01-bg {
    background-color: #6666CC !important;
}

.internacional-02 {
    color: #CCCCFF !important;
}

.internacional-02-bg {
    background-color: #CCCCFF !important;
}

.motores-01 {
    color: #FDCA68;
}

.motores-01-bg {
    background-color: #FDCA68 !important;
}

.mundos {
    color: #0099CC;
}

.mundos-bg {
    background-color: #0099CC;
}

.africa {
    color: #FF0000 !important;
}

.africa-bg {
    background-color: #FF0000 !important;
}

.selecao-01 {
    color: #9a0000 !important;
}

.selecao-01-bg {
    background-color: #9a0000 !important;
}
