﻿.sondagem-result-titulo {
    width: 300px;
    height: 23px;
}

.sondagem-result-texto {
    width: 300px;
    height: 26px;
    padding: 10px 0 0 0;
    font-size: 12px;
}

.graph-title {
    padding: 10px;
}

.bargraph {
    list-style: none;
    padding: 35px 0 5px 0;
    position: relative;
}

.graph-legenda {
    list-style: none;
    padding-bottom: 10px;
}

ul.bargraph li {
    height: 18px;
    color: #000;
    text-align: left;
    font-weight: bolder;
    font-size: 9px;
    line-height: 18px;
    margin-bottom: 5px;
    border-radius: 0 5px 5px 0;
    /*behavior: url(css/pie/pie.htc);*/
}

ul.graph-legenda li {
}

.legenda-item {
    height: 10px;
    margin-top: 5px;
    margin-left: 20px;
    width: 10px;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.legenda-text {
    padding-left: 7px;
    float: left;
    margin-bottom: 10px;
}

.galeria-sondagem .label {
    font-size: 10px;
    margin: 10px 0 0 10px;
}

/* ******************** CORES ******************* */
.gold {
    background: #ffD577;
}

.blue {
    background: #6db9ed;
}

.marine {
    background: #77ECFF;
}

.olive {
    background: #CCBE4B;
}

.green {
    background: #8AE372;
}

.cream {
    background: #D4C599;
}

.purple {
    background: #644BCC;
}

.light-purple {
    background: #825fb3;
}

.wine {
    background: #7F3B45;
}

.blue-green {
    background: #407F7F;
}

.light-green {
    background: #CEE1C5;
}

.grey {
    background: ##8E8E91;
}

.light-grey {
    background: #F7F7F7;
}

.light-pink {
    background: #D9B3BE;
}

.pink {
    background: #E54990;
}

.brown {
    background: #6F240A;
}

.light-brown {
    background: #E59C83;
}

.grass-green {
    background: #085908;
}

.orange {
    background: #FF7400;
}

.light-orange {
    background: #FF9033;
}

.lime {
    background-color: #0f0;
}

.orchid {
    background-color: orchid;
}
/* ********************************************** */

    .sondagem-votar-titulo {
        width: 300px;
        height: 23px;
    }

    .sondagem-votar-texto {
        width:300px;
        height: 26px;
        padding: 10px 0 0 0;
        font-size: 12px;
    }

    .votar-radio {
        height: 30px;
        padding: 25px 0 0 0;
        width: 300px;
        
    }

    .botao-votar {
        border-radius: 10px;
        width: 70px;
        height: 15px;
        border: 2px solid #000000;
        behavior: url(css/pie/pie.htc);
    }

    .botao-votar-dir {
        float: right;
        font-size: 10px;
        margin-top: -30px;
    }

    .radPerguntas{
         padding: 5px 0 0 0;
    }

    .radPerguntas td{
       padding: 5px 0 0 0;
    }

    .votar-radio .escolha {
        position: relative;
        bottom: 5px;
        left: 85px;
    }
