@charset "utf-8";

/* Common */
body { line-height: 22px; font-size: 13px; color: rgb(51, 51, 51); background-color:#fff; background-repeat: no-repeat; background-position: center bottom; background-attachment:fixed; background-size:cover; }
body.is-mobile { font-size:14px; }
body.is-pc .ko { font-size:12px; }

a { color: rgb(51, 51, 51); cursor: pointer; text-decoration: none; }
a:hover, a:focus, a:active { color: crimson; text-decoration: none; }
fieldset legend { display:none; }
label { font-weight:normal; }
label.checkbox, label.radio { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
hr { margin-top: 20px; margin-bottom:20px; border:0; border-top:1px solid #eee; display:block; }
h1, h1 a { font-family: "Roboto", sans-serif; }
h2, h2 a { font-family: "Roboto", sans-serif; }
h3, h3 a { font-family: "Roboto", sans-serif; }
h4, h4 a { font-family: "Roboto", sans-serif; }
h5, h5 a { font-family: "Roboto", sans-serif; }
blockquote { font-size: 12px; margin:0px 0px 20px; }

/* Font */
.ko { font-family:dotum, sans-serif; }
.ko small { font-family:dotum, sans-serif; }
.en { font-family:"Roboto", sans-serif; }
.sns-share-icon img { width:20%; max-width:34px; border-radius:50%; }

/* Thema Common */
.wrapper { position:relative; overflow:hidden; margin:0 auto; background:#fff; }
.at-content, .at-main, .at-side { position:relative; background: rgb(255, 255, 255);  padding-top:20px; padding-bottom:20px; overflow:hidden; }
.is-pc .at-content { min-height:600px; }
.at-slide { transition: all 0.3s ease-in-out; }

/* Sidebar */
.aside-menu-in .wrapper { }
.at-sidebar { top: 0px; width: 280px; height: 100%; right: -320px; position: fixed; z-index:99999; background: rgb(34, 34, 34); border-left:1px solid #333; color: rgb(136, 136, 136); margin-left:40px; }
.at-sidebar label { line-height:12px; font-size: 12px; font-weight: normal; cursor: pointer; }
.at-sidebar .close-box { position:absolute; top:0; left:0; margin-left:-35px; margin-top:65px; background: rgb(34, 34, 34); color: rgb(255, 255, 255); text-align:center; width:36px; height:36px; z-index:999999; line-height:36px; border:1px solid rgb(51, 51, 51); border-right:0px; -webkit-backface-visibility: hidden; cursor:pointer; }
.at-sidebar .close-box i { font-size: 16px; font-weight: 300 !important; }
.at-sidebar .sidebar-wrap { overflow:auto; height:100%;	-webkit-overflow-scrolling:touch; }
.at-sidebar .sidebar-title { margin: 0px; padding: 8px 20px; color: rgb(97, 97, 97); text-transform: uppercase; overflow: hidden; font-size: 11px; position: relative;  }
.at-sidebar .sidebar-title::after { background: rgb(51, 51, 51); left: 15px; top: 26px; width: 80px; height: 1px; position: absolute; content: "";  }
.at-sidebar .sidebar-box { padding: 20px; }
.at-sidebar .sidebar-box h5 { font-size: 12px; }
.at-sidebar .sidebar-nav { margin-bottom:20px; }
.at-sidebar .sidebar-nav > ul { list-style: none; margin: 0px; padding: 0px; }
.at-sidebar .sidebar-nav > ul > li { border-bottom-color: rgb(51, 51, 51); border-bottom-width: 1px; border-bottom-style: solid; }
.at-sidebar .sidebar-nav > ul > li > a { padding: 6px 20px; color: rgb(176, 176, 176); display: block; }
.at-sidebar .sidebar-nav > ul > li > a:hover { background: rgb(41, 41, 41); color: rgb(255, 255, 255); text-decoration: none; }
.at-sidebar .sidebar-nav > ul > li > a > i { margin-right: 5px; }
.at-sidebar .profile-box { padding: 20px 20px 0px; }
.at-sidebar .profile { height:95px; }
.at-sidebar .profile h3 { color: rgb(255, 255, 255); font-size:20px; line-height:30px; padding:8px 0px; margin:0px; letter-spacing:-1px; display:block; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden; }
.at-sidebar .profile p { color: rgb(138, 138, 138); padding:0px; margin:0px; }
.at-sidebar .badge { font-weight:normal; }
.at-sidebar .profile-photo { width:80px; height:80px; margin:0px; margin-right:15px; border-radius: 50%; border:4px solid #000; -webkit-box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 0 5px rgb(34,34,34), 0 0 10px 0 rgba(0, 0, 0, 0.2); }
.at-sidebar .profile-photo img { width:100%; height:100%; border-radius: 50%; }
.at-sidebar .profile-photo i { width:100%; height:100%; font-size:40px; line-height:72px; text-align:center; color:#666;}
.at-sidebar .btn-admin { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(223, 27, 35); background-image: none; }
.at-sidebar .btn-admin:hover, .sidebar .btn-admin:focus, .sidebar .btn-admin:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }
.at-sidebar .btn-upload { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(233, 27, 35); background-image: none; }
.at-sidebar .btn-upload:hover, .sidebar .btn-upload:focus, .sidebar .btn-upload:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }
.at-sidebar .btn-logout { border: 1px solid rgb(223, 17, 25); border-image: none; color: rgb(255, 255, 255) !important; background-color: rgb(223, 27, 35); background-image: none; }
.at-sidebar .btn-logout:hover, .sidebar .btn-logout:focus, .sidebar .btn-logout:active { border-color: rgb(213, 7, 15); color: rgb(255, 255, 255) !important; background-color: rgb(213, 7, 15); background-image: none; }

/* LNB */
.at-lnb { background: rgb(255, 255, 255); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; }
.at-lnb ul.menu > li > a { letter-spacing:-1px; font-size:11px; padding-right:1px; }
.at-lnb .at-lnb-icon { float: left; }
.at-lnb .at-lnb-icon > ul.menu { list-style: none; margin: 0px; padding: 0px; }
.at-lnb .at-lnb-icon > ul.menu > li { border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block; position: relative; }
.at-lnb .at-lnb-icon > ul.menu > li:last-child { border: 0px currentColor; border-image: none; }
.at-lnb .at-lnb-icon > ul.menu > li > a { padding: 6px 15px; color: rgb(51, 51, 51); display: block; }

.at-lnb-dark.at-lnb { background: rgb(2, 2, 2); border-bottom-color: rgb(34, 34, 34); border-bottom-width: 1px; border-bottom-style: solid; }
.at-lnb-dark.at-lnb .at-lnb-icon > ul.menu > li { border-color: rgb(34, 34, 34); }
.at-lnb-dark.at-lnb .at-lnb-icon > ul.menu > li > a { color: rgb(255, 255, 255); }
.at-lnb-dark.at-lnb .at-lnb-menu > ul.menu > li { border-color: rgb(34, 34, 34); }
.at-lnb-dark.at-lnb .at-lnb-menu > ul.menu > li > a { color: rgb(255, 255, 255); }

.at-lnb-gray.at-lnb { background: rgb(248, 248, 248); border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid; }
.at-lnb-gray.at-lnb .at-lnb-icon > ul.menu > li { border-color: rgb(228, 228, 228); }
.at-lnb-gray.at-lnb .at-lnb-icon > ul.menu > li > a { color: rgb(51, 51, 51); }
.at-lnb-gray.at-lnb .at-lnb-menu > ul.menu > li { border-color: rgb(228, 228, 228); }
.at-lnb-gray.at-lnb .at-lnb-menu > ul.menu > li > a { color: rgb(51, 51, 51); }

.at-lnb .at-lnb-menu { float: right; }
.at-lnb .at-lnb-menu i { margin-right:6px; }
.at-lnb .at-lnb-menu > ul.menu { list-style: none; margin: 0px; padding: 0px; }
.at-lnb .at-lnb-menu > ul.menu > li { border-right-color: rgb(238, 238, 238); border-right-width: 1px; border-right-style: solid; float: left; display: inline-block; position: relative; }
.at-lnb .at-lnb-menu > ul.menu > li:last-child { border: 0px currentColor; border-image: none; }
.at-lnb .at-lnb-menu > ul.menu > li > a { padding: 6px 15px; color: rgb(51, 51, 51); display: block; }
.at-lnb .lnb-txt { display: inline; }

/* Header */
.at-header { padding:15px 0px 8px; background: rgb(255, 255, 255); }
.at-header .header-logo { padding:0px 20px; }
.at-header .header-logo a { font-size:42px; line-height:40px; font-family:'Georgia', sans-serif; font-weight:bold; letter-spacing:0px; color:#000; -webkit-font-smoothing: antialiased; }
.at-header .header-logo a:hover { color:#000; }
.at-header .header-desc { font-size:11px; font-weight:normal; letter-spacing:-1px; color:#888; }
.at-header .header-search { display:block; max-width:260px; }
.at-header .header-search form { padding:0px; margin:0px 0px 4px; border:4px solid #111; background: #111; }
.at-header .header-search input { background: rgb(255, 255, 255); border:1px solid #111; }

/* Menu */
.navbar { min-height:10px; }
.navbar .container { position:relative; }
.navbar-fixed { left: 0px; width: 100%; }
.navbar-fixed .navbar { width: 100%; }
.at-navbar { margin:0px; padding:0px; border-radius:0px; z-index: 1000; background: rgb(38, 38, 38); border:0px; }
.at-navbar .navbar-collapse { border-color: rgb(231, 231, 231); padding:0px; }
.at-navbar .navbar-nav  { padding:0px; margin:0px; position:absolute; left:0px; top:0px; width:100%; }
.at-navbar .navbar-nav .old,
.at-navbar .navbar-nav .sub-old { display: none; }
.at-navbar .navbar-nav .new { color: rgb(233, 75, 59); margin-left:6px; }
.at-navbar .navbar-nav .sub-on > a,
.at-navbar .navbar-nav .sub2-on > a { font-weight:bold; color:crimson; }
.at-navbar .navbar-nav .sub-off > a,
.at-navbar .navbar-nav .sub2-off > a { font-weight:normal; }
.at-navbar .navbar-nav .sub-new { color: rgb(233, 75, 59); margin-left:6px; }
.at-navbar .navbar-nav .sub-caret { margin-top:2px; }

.at-navbar .navbar-nav > li { margin:0px; padding:0px; border-right:1px solid rgb(0, 0, 0); }
.at-navbar .navbar-nav > li:first-child { border-left:1px solid rgb(0, 0, 0); }
.at-navbar .navbar-nav > li > a { color: rgb(255, 255, 255); height:46px; line-height:46px; padding: 0px 20px; font-weight: bold; margin:0px; border-bottom:4px solid rgb(0, 0, 0); letter-spacing:-1px; border-radius: 0px; }
.at-navbar .navbar-nav.nav-12 > li > a { font-size: 12px; }
.at-navbar .navbar-nav.nav-13 > li > a { font-size: 13px; }
.at-navbar .navbar-nav.nav-14 > li > a { font-size: 14px; }
.at-navbar .navbar-nav.nav-15 > li > a { font-size: 15px; font-family: "Roboto", sans-serif; line-height:40px; }
.at-navbar .navbar-nav.nav-16 > li > a { font-size: 16px; font-family: "Roboto", sans-serif; line-height:40px; }
.at-navbar .navbar-nav.nav-17 > li > a { font-size: 17px; font-family: "Roboto", sans-serif; line-height:40px; }
.at-navbar .navbar-nav.nav-18 > li > a { font-size: 18px; font-family: "Roboto", sans-serif; line-height:40px; }

.at-navbar .navbar-nav > li > a:hover,
.at-navbar .navbar-nav > li > a:focus,
.at-navbar .navbar-nav > .active > a,
.at-navbar .navbar-nav > .active > a:hover,
.at-navbar .navbar-nav > .active > a:focus,
.at-navbar .navbar-nav > .open > a,
.at-navbar .navbar-nav > .open > a:hover,
.at-navbar .navbar-nav > .open > a:focus { color: rgb(255, 255, 255); border-bottom:4px solid rgb(233, 27, 35); background: rgb(0, 0, 0); letter-spacing:-1px; border-radius: 0px; }

.at-navbar .dropdown-menu { padding:0px; background: rgb(255, 255, 255); border: 0px; border-radius: 0px; font-size:12px !important; }
.at-navbar .dropdown-menu ul { border:0px; padding:0px; margin:0px; list-style:none; border-radius: 0px; }
.at-navbar .dropdown-menu ul > li { padding:0px; margin:0px; border-bottom:1px solid rgb(238, 238, 238); }
.at-navbar .dropdown-menu ul > li > a { display:block; padding: 7px 16px; color: rgb(51, 51, 51); line-height:18px; }
.at-navbar .dropdown-menu ul > li:hover { background: rgb(233, 27, 35); color: rgb(255, 255, 255); }
.at-navbar .dropdown-menu ul > li:hover > a { color: rgb(255, 255, 255); }
.at-navbar .dropdown-menu ul > li:last-child { border:0px; }

.at-navbar .dropdown-submenu { position: relative; }
.at-navbar .dropdown-submenu > .dropdown-menu { left: 100%; top: 0px; margin-top: 0px; margin-left: -10px; }

.at-navbar .navbar-nav li.line,
.at-navbar .navbar-nav li.line:hover { background:#f5f5f5 !important; border-bottom:1px solid rgb(238, 238, 238) !important; }
.at-navbar .navbar-nav li.line > a,
.at-navbar .navbar-nav li.line:hover > a { color: rgb(0, 0, 0) !important; font-weight:bold; }

.at-navbar .navbar-nav li.line-sub,
.at-navbar .navbar-nav li.line-sub:hover { background:#f5f5f5 !important; border-bottom:1px solid rgb(238, 238, 238) !important; }
.at-navbar .navbar-nav li.line-sub > a,
.at-navbar .navbar-nav li.line-sub:hover > a { color: rgb(0, 0, 0) !important; font-weight:bold; }

.at-navbar.navbar-contrasted .navbar-nav > li > a:hover,
.at-navbar.navbar-contrasted .navbar-nav > li > a:focus,
.at-navbar.navbar-contrasted .navbar-nav > .open > a,
.at-navbar.navbar-contrasted .navbar-nav > .open > a:hover,
.at-navbar.navbar-contrasted .navbar-nav > .open > a:focus { color: rgb(255, 255, 255) !important; background: rgb(44, 44, 44); }

.at-navbar.navbar-contrasted .dropdown-menu { background: rgb(44, 44, 44); border: 0px; border-radius: 0px; }
.at-navbar.navbar-contrasted .dropdown-menu ul > li { border-bottom:1px solid rgb(34, 34, 34); }
.at-navbar.navbar-contrasted .dropdown-menu ul > li > a { color: rgb(255, 255, 255); }
.at-navbar.navbar-contrasted .dropdown-menu ul > li:hover { background: rgb(55, 55, 55); }
.at-navbar.navbar-contrasted .dropdown-submenu > .dropdown-menu { background: rgb(38, 38, 38); }
.at-navbar.navbar-contrasted .dropdown-submenu > .dropdown-menu ul > li { border-bottom:1px solid rgb(28, 28, 28); }
.at-navbar.navbar-contrasted .dropdown-submenu > .dropdown-menu ul > li:hover { background: rgb(14, 14, 14); }

.at-navbar.navbar-contrasted .navbar-nav li.line,
.at-navbar.navbar-contrasted .navbar-nav li.line:hover { background: rgb(34, 34, 34) !important; border-bottom:1px solid rgb(34, 34, 34) !important; }
.at-navbar.navbar-contrasted .navbar-nav li.line > a,
.at-navbar.navbar-contrasted .navbar-nav li.line:hover > a { color: rgb(255, 255, 255) !important; font-weight:bold; }

.at-navbar.navbar-contrasted .navbar-nav li.line-sub,
.at-navbar.navbar-contrasted .navbar-nav li.line-sub:hover { background: rgb(14, 14, 14) !important; border-bottom:1px solid rgb(34, 34, 34) !important; }
.at-navbar.navbar-contrasted .navbar-nav li.line-sub > a,
.at-navbar.navbar-contrasted .navbar-nav li.line-sub:hover > a { color: rgb(255, 255, 255) !important; font-weight:bold; }

.at-navbar .navbar-icon a { font-size:20px !important; }
.at-navbar .navbar-menu-btn { padding-top:8px; height:46px; z-index:1001; }
.at-navbar .navbar-menu-btn .btn { padding:4px 8px; margin-top:0px; }
.at-navbar .navbar-menu-bar { height:1px; border-top:4px solid rgb(0, 0, 0); margin:-4px 0px 0px; width:100%; }

/* PC All Menu */
.menu-all-wrap { background: #fff; overflow:hidden; line-height:24px; -webkit-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.3); -moz-box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.3); box-shadow: inset 0px -10px 10px -10px rgba(0,0,0,0.3); }
.menu-all-wrap .container { overflow:hidden; }
.menu-all-wrap .menu-all-container { position:relative; padding:20px 0px 15px; margin:0; overflow:hidden; margin-right:-30px; min-height:60px; }
.menu-all-wrap .menu-all { padding:0; margin:0; list-style:none; }
.menu-all-wrap .old,
.menu-all-wrap .sub-old { display:none; }
.menu-all-wrap .new { color: rgb(233, 75, 59); }
.menu-all-wrap .sub-on a { font-weight:bold; color:crimson; }
.menu-all-wrap .sub-off a { font-weight:normal; }
.menu-all-wrap .sub-new { color: rgb(233, 75, 59); }
.menu-all-wrap .menu-all-head { padding:0px; margin:0px; background:#fff; overflow:hidden; }
.menu-all-wrap .menu-all-head a { display:block; cursor:pointer; }
.menu-all-wrap .menu-all-head ul { display:block; }
.menu-all-wrap .menu-all-head-item { margin-bottom:10px; margin-right:30px; }
.menu-all-wrap .menu-all-main { display:block; font-weight:bold; font-size:15px; letter-spacing:-1px; margin:0px; padding:0px; padding-bottom:6px; padding-right:6px; border-bottom-width:2px; border-bottom-style:solid; }
.menu-all-wrap .menu-all-main.is-sub::after { font-family: "FontAwesome"; float: right; content: "+"; }
.menu-all-wrap .menu-all-head.active .menu-all-main { }
.menu-all-wrap .menu-all-sub { padding:10px; margin:0px; }
.menu-all-wrap .sub-line { display:block; margin:14px 0px 10px; line-height:20px; padding:0; padding-bottom:6px; padding-right:6px; font-weight:bold; position: relative; border-bottom:1px solid #333; }

/* Mobile All Menu */
.mobile-menu-in .wrapper { }
.mobile-menu { 
	background:#f5f5f5;  top: 0px; left: -245px; width: 240px; height: 100%; position: fixed; z-index:99998; overflow:auto; 
	box-shadow: 0px 2px 10px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,0.3); -moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.3); -webkit-overflow-scrolling:touch;
}
.mobile-menu .menu-icon { display:table; width:100%; table-layout:fixed; border-bottom:1px solid #ddd; background:#333; }
.mobile-menu .menu-icon a { display:table-cell; height:34px; line-height:22px; padding:6px 0px; text-align:center; }
.mobile-menu .menu-all { padding:0px; margin:0px; list-style:none; overflow:hidden; background:#fff; }
.mobile-menu .old,
.mobile-menu .sub-old { display:none; }
.mobile-menu .new { color: rgb(233, 75, 59); }
.mobile-menu .sub-on a { font-weight:bold; color: crimson; }
.mobile-menu .sub-off a { font-weight:normal; }
.mobile-menu .sub-new { color: rgb(233, 75, 59); }
.mobile-menu .menu-all-head { padding:0px; margin:0px; }
.mobile-menu .menu-all-head a { display:block; cursor:pointer; }
.mobile-menu .menu-all-main { display:block; padding:7px 10px; padding-right:15px; line-height:28px; border-bottom:1px solid #ddd; font-weight:bold; font-size:15px; letter-spacing:-1px; padding-right:6px; }
.mobile-menu .menu-all-head.active .menu-all-main { color:#000; border-bottom:1px solid #000; }
.mobile-menu .menu-all-main.is-sub::after { color:#ddd; font-family: "FontAwesome"; float: right; content: "\f0d7"; padding-right:10px; }
.mobile-menu .menu-all-head.active .menu-all-main.is-sub::after { color:#000; }
.mobile-menu .menu-all-head .menu-all-sub { display:none; background:#fafafa; }
.mobile-menu .menu-all-head.active .menu-all-sub { display:block; }
.mobile-menu .menu-all-head .menu-all-sub-item { border-bottom:1px solid #ddd; }
.mobile-menu .menu-all-head .menu-all-sub-item:last-child { border-bottom:1px solid #000; }
.mobile-menu .menu-all-head .menu-all-sub-item a { padding:6px 10px; padding-left:20px; line-height:24px; }
.mobile-menu .menu-all-head .menu-all-sub-item.sub-line a { font-weight:bold; background:#efefef; }

/* Footer */
.at-footer { background:#fff; }
.at-footer .at-map { display:block; }
.at-footer .at-map ul { list-style:none; padding:0px; margin:0px; border-top:2px solid #333; }
.at-footer .at-map ul:after {display:block;visibility:hidden;clear:both;content:""}
.at-footer .at-map ul li { float:left; font-size:12px; display:inline-block; text-align:center; }
.at-footer .at-map ul li a { display:inline-block; color:#888; line-height:40px; height:40px; padding:0px 12px; }
.at-footer .at-map ul li a:hover { color:#000; }
.at-footer .at-map ul li span { letter-spacing:-1px; padding-right:1px; }

.at-footer .at-copyright { letter-spacing:0; }
.at-footer .footer-txt { padding:15px 10px 30px; text-align:center; color:#888; }
.at-footer .footer-logo { margin-right:20px; color:#ddd; }
.at-footer .media { padding:15px 15px 10px; border-top:1px solid #eee; }
.at-footer .media-body ul { list-style:none; padding:0px; margin:0px;  }
.at-footer .media-body ul:after {display:block;visibility:hidden;clear:both;content:""}
.at-footer .media-body ul li { float:left; font-size:12px; padding-right:30px; color:#888; letter-spacing:-1px; }
.at-footer .media-body ul li a { color:#888; text-decoration:none; }
.at-footer .media-body ul li a:hover { color:#000; }
.at-footer .media-body ul li span { letter-spacing:0; }

/* Go-Top */
#toTop { background: rgba(0, 0, 0, 0.5); border-radius: 50%; border: currentColor; border-image: none; width: 46px; height: 46px; right: 20px; bottom: 10px; text-indent: 100%; overflow: hidden; text-decoration: none; display: none; position: fixed; }
.is-mobile #toTop { right:5px; bottom:5px; }
#toTopHover { width: 46px; height: 46px; overflow: hidden; float: left; display: block; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop::before { left:0px; top:0px; width: 46px; height: 46px; text-align: center; color: #fff; line-height: 42px; text-indent: 0px; font-family: "FontAwesome"; font-size: 32px; position: absolute; content: "\f106"; }

/* Page Title */
.page-title { position:relative; background-color: #fafafa; border-bottom:1px solid #ddd; }
.page-title h2 { color: rgb(0, 0, 0); margin: 0px; padding: 24px 0px; font-size: 22px; float:left; }
.page-title h2 a span { color: rgb(0, 0, 0); }
.page-title .breadcrumb { background: none; margin: 0px; padding:0px; padding-top: 26px; border-radius: 0px; float: right; }
.page-title .breadcrumb .active { color: #888; font-size:11px; }
.page-header { margin: 0px; border: 0px currentColor; border-image: none; }
.page-header p { font-size: 16px; }

/* Site Size & Responsive */
.no-responsive .wrapper { min-width:1200px; }
.no-responsive .boxed.wrapper { width:1200px; }
.no-responsive .container { width:1170px; }
.no-responsive .boxed .navbar-fixed .navbar { width: 1200px; }

@media all and (min-width:1200px) {
	.responsive .boxed.wrapper { margin: auto; width: 1200px; }
	.responsive .boxed .navbar-fixed .navbar { width: 1200px; }
}

@media all and (max-width: 991px) {
	/* BS3 */
	.responsive .navbar-header { float: none; }
    .responsive .navbar-toggle { display: block; }
    .responsive .navbar-collapse { margin-left:-15px; margin-right:-15px; }
	.responsive .navbar-collapse.collapse { display: none !important; }
    .responsive .navbar-collapse.collapse.in { display: block !important; }
	.responsive .menu-all-wrap .menu-all-head { width:25% !important; }
	.responsive .at-main.pull-right,
	.responsive .at-side.pull-left { float:none !important }
	.responsive .at-footer .at-map ul { padding:10px 0px; border-bottom:1px solid #eee; }
	.responsive .at-footer .at-map ul li { display:block; width:25%; text-align:left; }
	.responsive .at-footer .at-map ul li a { height:28px; line-height:28px; }
	.responsive .at-footer .at-map .pull-right { float:left !important; }
	.responsive .at-footer .media { border:0px; }
}

@media all and (max-width:767px) {
	.responsive .menu-all-wrap .menu-all-head { width:33.3% !important; }
	.responsive .at-header .pull-left { float: none !important; }
	.responsive .at-header .header-container { padding-left:0px !important; }
	.responsive .at-header .header-desc { display:none !important; }
	.responsive .at-header .header-search { margin:0px auto; text-align:center; }
	.responsive .at-header form { display:none !important; }
	.responsive .at-box { text-align: center; }
	.responsive .at-box .pull-right { float: none !important; }
	.responsive .at-content { padding:20px 0px; }
	.responsive .at-footer .at-map ul li { width:33.3%; }
	.responsive .pull-right.at-main { float:none !important; }
	.responsive .pull-left.at-side { float:none !important; }
}

@media all and (max-width:511px) {
	.responsive .menu-all-wrap .menu-all-head { width:50% !important; }
	.responsive .menu-all-wrap .menu-all-head ul { display:none; }
	.responsive .menu-all-wrap .menu-all-head.active ul { display:block; }
	.responsive .menu-all-wrap .menu-all-main { border-bottom-width:1px; border-bottom-color:#ddd; padding-bottom:8px; }
	.responsive .menu-all-wrap .sub-line { border-bottom:1px dotted #aaa; }
}

@media all and (max-width:480px) {
	.responsive .at-lnb .lnb-txt { display: none; }
	.responsive .at-header .pull-left { float: none !important; }
	.responsive .at-header .header-desc { display:none !important; }
	.responsive .at-header .header-search { margin:0px auto; text-align:center; }
	.responsive .at-header form { display:none !important; }
	.responsive .at-footer .at-map ul li { width:50%; }
	.responsive .at-footer .footer-logo { display:none; }
	.responsive .menu-all-wrap .menu-all-head { width:100% !important; }

}

/* Bootstrap3 ----------------------------------------------------------------------------------- */

/* Button */
.btn { font-family: "Roboto", sans-serif; border-radius: 2px; border: 1px solid transparent; font-weight: normal; vertical-align: middle; white-space: nowrap; cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
.btn-lg { padding: 10px 16px; border-radius: 3px; line-height: 1.33; font-size: 18px; }
.btn-lg i {	top: 3px; font-size: 24px; position: relative; }
.btn-xs { padding: 4px 10px; }
.is-pc .ko .btn-xs,
.is-pc .ko .btn-sm { font-family:dotum, sans-serif; }

/* Tabs */
.tabs { margin-bottom: 0px; }
.tabs::before { display: table; content: " "; }
.tabs::after { display: table; content: " "; }
.tabs::after { clear: both; }
.tabs div.tab-content { border-width: 0px 1px 1px; border-style: solid; border-color: rgb(221, 221, 221); padding: 15px; border-radius: 0px; border-image: none; box-shadow: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0; -moz-box-shadow: none; -moz-border-radius: none; -webkit-border-radius: 0; }
.tabs div.tab-content-inverse.tab-content { background: none; border: 1px solid rgb(238, 238, 238); border-image: none; }
.tabs ul.nav-tabs { margin: 0px; }
.tabs ul.nav-tabs li.active a { background: rgb(255, 255, 255); color: rgb(204, 204, 204); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; }
.tabs ul.nav-tabs a { background: rgb(247, 247, 247); border-radius: 0px; border: 0px currentColor; border-image: none; color: rgb(51, 51, 51); margin-right: 0px; -moz-border-radius: 0; -webkit-border-radius: 0; }
.tabs ul.nav-tabs a:hover { color: rgb(233, 27, 35); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid; }
.tabs ul.nav-tabs a:active { border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; }
.tabs ul.nav-tabs a:focus { border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; }
.tabs ul.nav-tabs a { border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) currentColor rgb(238, 238, 238) rgb(238, 238, 238); border-image: none; font-size: 1em; }
.tabs ul.nav-tabs a:hover { border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(221, 221, 221) currentColor rgb(238, 238, 238) rgb(238, 238, 238); border-image: none; font-size: 1em; }
.tabs ul.nav-tabs a:last-child {	border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; }
.tabs ul.nav-tabs a:last-child:hover { border-right-color: rgb(221, 221, 221); border-right-width: 1px; border-right-style: solid; }
.tabs-centered { margin: 0px auto; width: 100%; display: table; }
.tabs-centered ul li { width: 100px; float: none; display: inline-block; }

/* Nav-Pills */
.nav-pills { border: 1px solid rgb(238, 238, 238); border-image: none; margin-bottom: 15px; }
.nav-pills > li > a { border-radius: 0px; border-right-color: rgb(224, 237, 237); border-right-width: 1px; border-right-style: solid; }
.nav-pills > li:last-child > a { border-radius: 0px; border-right-color: currentColor; border-right-width: 0px; border-right-style: none; }
.nav-pills > li > a:hover { background: rgb(245, 245, 245); }
.nav-pills > li > a:focus { background: rgb(245, 245, 245); }
.nav-pills > li + li { margin-left: 2px; }
.nav-pills > li.active > a { background: none; color: rgb(55, 55, 55); }
.nav-pills > li.active > a:hover { background: none; color: rgb(55, 55, 55); }
.nav-pills > li.active > a:focus { background: none; color: rgb(55, 55, 55); }

/* Panel : Accordions */
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0px; }
.panel-group { margin-bottom: 30px; }
.panel-group .panel { border-radius: 0px; }
.panel-group .panel + .panel { margin-top: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.panel-group .panel-heading { padding: 12px 15px; position: relative; }
.panel-group .panel-heading a { color: rgb(51, 51, 51); }
.panel-group .panel-heading a i { color: rgb(55, 55, 55); margin-right: 5px; }
.panel .panel-heading { border-radius: 0px; }
.panel .panel-body { font-size:14px; }
.ko .panel .panel-body { font-size:12px; }

/* List Group */
.list-group-item { word-break:break-all; border-radius:0 !important; }

/* Pagination */
.pagination { font-family: "Roboto", sans-serif; }
.pagination li a { border-radius:0 !important; color:#333 !important; }
.pagination li.active a { color:#fff !important; background:#444 !important; border-color:#444 !important; }

/* Table */
.table > thead > tr > th { vertical-align: middle; }
.table > tbody > tr > th { vertical-align: middle; }
.table > tfoot > tr > th { vertical-align: middle; }
.table > thead > tr > td { vertical-align: middle; }
.table > tbody > tr > td { vertical-align: middle; }
.table > tfoot > tr > td { vertical-align: middle; }
.table-no-border.table > thead > tr > th { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tbody > tr > th { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tfoot > tr > th { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > thead > tr > td { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tbody > tr > td { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table-no-border.table > tfoot > tr > td { padding: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; }
.table > thead > tr > th { border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid; }
.table > thead > tr { background: rgb(243, 243, 243); }

/* Progress */
.progress { position:relative; border-radius: 0px; height: 28px; overflow: hidden; margin-bottom: 15px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1); background-color: rgb(245, 245, 245); -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
.progress .sr-only { font-family: "Roboto", sans-serif; margin: 0px 15px; left: 0px; width: auto; height: 28px; line-height: 28px; font-size: 12px; clip: auto; }
.sr-score { font-family: "Roboto", sans-serif; height: 28px; line-height: 28px; font-size: 12px; padding-right:8px; }

/* Misc */
.form-control, .well, .btn, .alert, .input-group-addon, .label { border-radius:0 !important; }

ul {
	list-style-type: none;
}
