/* Roboto font stack */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('Roboto-Thin-webfont.eot'); /* IE9 Compat Modes */
  src: url('Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('Roboto-Thin-webfont.woff') format('woff'), /* Modern Browsers */
  url('Roboto-Thin-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('Roboto-Thin-webfont.svg#robotothin') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('Roboto-Light-webfont.eot');
  src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Light-webfont.woff') format('woff'),
  url('Roboto-Light-webfont.ttf') format('truetype'),
  url('Roboto-Light-webfont.svg#robotolight') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Regular-webfont.eot');
  src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Regular-webfont.woff') format('woff'),
  url('Roboto-Regular-webfont.ttf') format('truetype'),
  url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('Roboto-Medium-webfont.eot');
  src: url('Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Medium-webfont.woff') format('woff'),
  url('Roboto-Medium-webfont.ttf') format('truetype'),
  url('Roboto-Medium-webfont.svg#robotomedium') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('Roboto-Bold-webfont.eot');
  src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Bold-webfont.woff') format('woff'),
  url('Roboto-Bold-webfont.ttf') format('truetype'),
  url('Roboto-Bold-webfont.svg#robotobold') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('Roboto-Black-webfont.eot');
  src: url('Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Black-webfont.woff') format('woff'),
  url('Roboto-Black-webfont.ttf') format('truetype'),
  url('Roboto-Black-webfont.svg#robotoblack') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('Roboto-ThinItalic-webfont.eot');
  src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-ThinItalic-webfont.woff') format('woff'),
  url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
  url('Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('Roboto-LightItalic-webfont.eot');
  src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-LightItalic-webfont.woff') format('woff'),
  url('Roboto-LightItalic-webfont.ttf') format('truetype'),
  url('Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('Roboto-Italic-webfont.eot');
  src: url('Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Italic-webfont.woff') format('woff'),
  url('Roboto-Italic-webfont.ttf') format('truetype'),
  url('Roboto-Italic-webfont.svg#robotoitalic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('Roboto-MediumItalic-webfont.eot');
  src: url('Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-MediumItalic-webfont.woff') format('woff'),
  url('Roboto-MediumItalic-webfont.ttf') format('truetype'),
  url('Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('Roboto-BoldItalic-webfont.eot');
  src: url('Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-BoldItalic-webfont.woff') format('woff'),
  url('Roboto-BoldItalic-webfont.ttf') format('truetype'),
  url('Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('Roboto-BlackItalic-webfont.eot');
  src: url('Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('Roboto-BlackItalic-webfont.woff') format('woff'),
  url('Roboto-BlackItalic-webfont.ttf') format('truetype'),
  url('Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
}
