.ppic {
    text-align:center;
    border-radius:50%;
    background: #e6e6e6;
    /* box-shadow: 0 2px 10px 0 rgba(51, 51, 51, 0.15); */
    overflow: hidden;    
}

.ppic-256 {
    width:256px;
    height:256px;
    line-height:256px;
    font-size: 128px;
    }

.ppic-128 {
    width:128px;
    height:128px;
    line-height:128px;
    font-size: 64px;
    }

.ppic-64 {
    width:64px;
    height:64px;
    line-height:64px;
    font-size: 32px;
    }

.ppic-30 {
    width:30px;
    height:30px;
    line-height:30px;
    font-size: 15px;
    }

/* edit class for camera styling on ppic for follow me */

.ppic-edit-30 {
	display: none;
    }

.ppic-edit-64 {
	background-color: #ffffff;
    width:24px;
    height:24px;
    line-height:24px;
    font-size: 12px;
	margin-top: -20px;
	margin-left: 40px;
	
	
  box-shadow: 0 2px 10px 0 rgba(51, 51, 51, 0.15);
  -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease, background-color 0.2s ease;
          transition: box-shadow 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
  -webkit-transform: translate3d(0, 0, 0);
	
    }

.ppic-edit-128 {
	display: none;
    }
    
.ppic-edit-256 {
	display: none;
    }
/* profile pic selection button */
.ppic-btn {
	width:185px;
}
/* checkmark next to button on settings page */
.ppic-chk {
	color : #f68d14;
}
