/* css override base css */

html {
 overflow-y: scroll;
}

html, body {
 width: 100%;
 min-height: 100%;
}
body {
 text-align: center;
}  
h1, h2, h3 {
 font-size: 18px;
 line-height: 20px;
}
.container-fluid {
 text-align: left;
} 
.navbar {
 padding-left: 10px;
 padding-right: 10px; 
 margin-bottom: 0;
 margin-top: 0;
}
.navbar-inner {   
 width: 100%;
 padding-left: 0;
 padding-right: 0;
 position: relative;
 left: 0;
 top: 0;
 z-index: 10;
} 
.navbar .brand {
 padding-top: 12px;
 padding-bottom: 6px;  
 padding-left: 10px;
}  
.navbar .nav > li > a {
 padding-top: 12px;    
 padding-bottom: 12px;   
 color: #FFFFFF;
}
.navbar .nav > li > a:hover {
 text-decoration: underline;
}
.navbar .nav .caret {
 opacity:1;
}

.breadcrumb {      
  background-color: #FFF;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(top, white, white);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  border: 1px solid #DDD;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 none;  
  padding: 1px 0 9px 0; /* 1 0 1 0 */
  margin: 0;
  
  -webkit-box-shadow: inset 0 0 0 #FFF;
  -moz-box-shadow: inset 0 0 0 #FFF;
  box-shadow: inset 0 0 0 #FFF;
} 
.breadcrumb li { 
  color: #808080;
  padding-left: 20px;
  background: url(/pic/nodge.png) no-repeat 4px center scroll; 
 font-weight: bold;   
 font-size: 12px;
}
.breadcrumb li.home {
  padding-left: 0;
  background-image: none;
}
.breadcrumb a {
  color: #808080;  
font-weight: normal;
}
.breadcrumb a:hover {
  color: #333; /* #08C; */
} 
.breadcrumb li.home a {
  opacity: 0.45;
  filter: alpha(opacity=45);
} 
.breadcrumb li.home a:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}   

.btn-primary { 
background-color: #0088CC;
background-image: -moz-linear-gradient(top, #00AADD, #0088CC);
background-image: -ms-linear-gradient(top, #00AADD, #0088CC);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00AADD), to(#0088CC));
background-image: -webkit-linear-gradient(top, #00AADD, #0088CC);
background-image: -o-linear-gradient(top, #00AADD, #0088CC);
background-image: linear-gradient(top, #00AADD, #0088CC);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00AADD', endColorstr='#0088CC', GradientType=0);
border-color: #0088CC #0088CC #0044AA;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0088CC;
}

.well,
.hero-unit {
  background-color: #EFEFEF;
  border: 1px solid #E3E3E3;
  border: 1px solid rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0); 
  padding: 14px 19px 6px 19px;
}   

.text-center {
  text-align: center;
}

.well hr {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #EFEFEF;
}

form.well.form-horizontal {
  padding-bottom: 14px;
}  

.navbar .btn, .navbar .btn-group {
 margin-top: 8px;
}   

.alert-info, .alert-info .alert-heading {
  color: #0088CC;
}   

.muted, h6, .nav .nav-header {
  color: #808080; 
}



/* highly customized CSS */

#page { 
 width: 100%; 
 margin: 0 auto; 
 max-width: 1100px;
 padding-top: 1px; 
}
 
#page > .container-fluid {
 background-color: white;
}

#logo {
 display: block;
 float: left;
 height: 25px;
 width: 100px;
 text-indent: -9999em;
 overflow: hidden;
 text-decoration: none;
 background: url(/pic/logo-babla-header-small2.png) no-repeat left top scroll;
 padding: 0;
 margin: 0 10px 0 0;
 position: relative;
 left: 0;
 top: -2px;
}

.babStage {
 padding-left: 19px;
 padding-right: 19px;
}   
.babStage-inner {  
 width: 100%; 
 padding-top: 14px; 
 padding-bottom: 2px;
 background-color: #E9E9E9;
 border: 1px solid #E3E3E3;
 border-top: 0 none;  
 -webkit-border-bottom-right-radius: 3px;
 -webkit-border-bottom-left-radius: 3px;
 -moz-border-radius-bottomright: 3px;
 -moz-border-radius-bottomleft: 3px;
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;  
 -webkit-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.85);
 -moz-box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.85);
 box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.85);
}
.babStage-inner h1.beforeForm,
.babStage-inner p.beforeForm {
  margin-bottom: 15px;
}
.babStage-inner p.beforeForm {
  margin-top: 8px;
} 
.babStage-inner p.handwriting {
  margin: 0;  
  padding: 8px 0 12px 0;
} 
.babStage-inner p.handwriting.handwriting-arrow {
  background: url(/pic/arrw-handwriting.png) no-repeat left 1px scroll;
  padding-left: 30px;
} 
.babStage-inner form {
  margin-bottom: 12px;
} 
.babStage-inner form .btn-primary {
  font-weight: bold;
}

#main {
 padding-top: 18px;
 position: relative;  /* required to position ad skyscraper absolute */
 left: 0;
 top: 0;
 background-color: white;
}


#babAdTopWrapper {
 padding-top: 4px;
 padding-bottom: 10px;
}  

#branding {
 width: 100%;
 background-color: white;
} 

h1.page-title, h2.page-title, h3.page-title {
 font-size: 18px;
 line-height: 20px;
 margin-top: 0;
 padding-top: 1px;
 margin-bottom: 0;
 padding-bottom: 10px;
 border-bottom: 0px solid #DDD; 
}
span.google-plus {
 display: inline-block;
 width: 120px; 
 margin: 0 0 0 10px; 
 position: relative;
 top: 1px;
 left: 0;
}  

.lftClmnTube {
  border-right:1px solid #DDD;
  border-bottom:1px solid #DDD;
  padding-right:14px;
  padding-top:0px;  
  padding-bottom: 12px; 
  margin-bottom: 20px;
}   
.lftClmnTube h2 {
  margin-bottom: 4px;
}

.quick-result-section {
  display: block;
  margin: 0 0 4px -10px;
  width: 100%;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
  padding: 8px 10px;
}

.quick-result-section:hover {
  background-color: #F0F0F0;
}
.quick-result-section h6 {
  margin-bottom: 2px; 
  padding-bottom: 0;
  line-height: 13px;
  color: #808080;
}

.quick-result-section:hover h6 {
  color: #B94A48;
}
.quick-result-section h6 i {
  float: right;   
  opacity: 0.35;
  filter: alpha(opacity=35);
  visibility: hidden;
}
.quick-result-section:hover h6 i {
  visibility: visible;
}
.quick-result-section p {
  margin-bottom: 0;
  margin-top: 4px;
 /* margin-right: 18px; */
  line-height: 17px;
  word-wrap: break-word;
}
.quick-result-section:hover p {
  background-color: #F0F0F0;
} 
.quick-result-section p i {
  float: right;   
  opacity: 0.35;
  filter: alpha(opacity=35);
  visibility: hidden;
}
.quick-result-section:hover p i{
  visibility: visible;
}
/**** trainer ****/
.babla-vocabulary-table {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 13px;
}
.babla-vocabulary-table-actions {
 margin-bottom: 20px;
 margin-top: 8px;
}
.babla-vocabulary-searchblock {
  margin-top: 18px;
}
.babla-vocabulary-faq-question {
  color: #0088CC;
  margin-bottom: 4px;
  margin-top: 14px;
}
.progress {
    margin-top: 12px;
}
.flashcard-container {
  perspective: 1000;
  -ms-perspective: 1000;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.flashcard-container.flipped .flashcard-back {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flashcard-container.flipped .flashcard-front {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.flashcard-container, .flashcard-front, .flashcard-back {
  margin-bottom: 20px;
  margin-top: 12px;
  height: 176px;
  width: 100%;
}
.flashcard-flipper {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
.flashcard-front, .flashcard-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.flashcard-front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
}
.flashcard-back {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
}
.flashcard-front p, .flashcard-back p, .flashcard-front .vocabulary, .flashcard-back .vocabulary {
  padding-left: 20px;
  padding-right: 20px;
}
.flashcard-front p, .flashcard-back p {
  padding-top: 10px;
}
.flashcard-front .vocabulary, .flashcard-back .vocabulary {
  font-size: 28px;
  line-height: 32px;
  margin-top: 36px;
  text-align: center;
}
.flashcard-controls {
    margin-bottom: 24px;
    text-align: center;
}
.flashcard-controls-back {
    display: none;
}
/**** phrasebook ****/
.quick-result-section-pb {
  display: block;
  margin: 0 0 4px -10px;
  width: 100%;
  background-color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; 
  padding: 8px 10px;
}
.quick-result-section-pb h6 {
  margin-bottom: 2px; 
  padding-bottom: 0;
  line-height: 13px;
  color: #808080;
}
.quick-result-section-pb h6 i {
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.quick-result-section-pb p {
  margin-bottom: 0;
  margin-top: 4px;
 /* margin-right: 18px; */
  line-height: 17px;
}
.quick-result-section-pb p i {
  opacity: 0.35;
  filter: alpha(opacity=35);
}
.babpbImg {
 display:block;
/* width:60px;
 height:60px; */
 margin:0 10px 10px 0;
 float:left;
 }
 .babpbList {
 list-style-type:none;
 margin: 0 0 0 2px;
 }
 .babPbMore {
 color:#F39300;
 margin-left:3px;
}
/****/
.muted-link {
  color: #333;
}
.muted-link:hover {
  color: #08C;
} 

.muted-icon {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
 
.section-block {
  margin-top: 5px; /* changed 20px */
  margin-bottom:15px; /* new added */
}
 
.section-block-head {
  font-size: 11px;  
  line-height: 16px;
  text-transform: uppercase;
  color: #B94A48;
  margin-bottom: 2px;
  padding-bottom: 0;
}   
.section-block h3 {
  color: #666;  
 /* margin-bottom:5px; /* changed new */
  /* font-size: 14px;
  line-height: 17px;   */
}

.result-block {   
  border-top: 1px solid #E3E3E3;
  margin-top: 5px; /* with grey line 0px */
  margin-bottom: 3px; /* changed from 22px, with grey line 0px */
}

.result-block p {
  margin-bottom: 5px;
} 

.result-wrapper {
  border-bottom: 1px solid #E3E3E3;
  padding-top: 5px;
}
.result-wrapper:hover {
  background-color: #F0F0F0; 
}
.result-wrapper.result-wrapper-toggable {
  background: transparent url(/pic/arrw-result-toggle.png) no-repeat 41% -9999em scroll;
}
.result-wrapper.result-wrapper-toggable:hover {
  border-bottom-color: #08C;
  background-color: #F0F0F0;
  background-position: 48% 100%; /* changed from 41px */
  cursor:pointer;
} 
.result-more-wrapper {
 /* background-color: #F0F0F0; */
}       
.result-wrapper-head,
.result-wrapper-head:hover {
  background-color: #FFF;
}

.result-right p,
.result-left p {
  line-height: 16px;
} 

ul.result-entry-menu {
  float: right;
  visibility: hidden;
}
ul.nav.result-entry-menu {
  margin-bottom: 3px;
}
.result-wrapper:hover ul.result-entry-menu,
.result-wrapper.result-wrapper-open ul.result-entry-menu {
  visibility: visible;
}  

.result-wrapper .dropdown-menu {
  left: auto;
  right: 0;
} 
.result-wrapper-toggable {
}

.result-entry-menu > li {
  float: left;
  margin-left: 1px;
  margin-bottom: 1px; 
}
.result-entry-menu > li > a {
  display: block;
  float: left;
  padding: 1px 2px 0; 
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; 
  background-color: #D6D6D6;
  text-decoration: none;
} 
.result-entry-menu > li > a > i {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.result-entry-menu > li > a:hover {
  background-color: #C0C0C0;
  text-decoration: none;
}  

.result-entry-menu > li > a:hover > i {
  opacity: 1.0;
  filter: alpha(opacity=100);
} 
.result-more-handle {
  width: 100%;
  padding-left: 5px;
  border-left: 1px solid #B00;
  margin-left: -6px;
}

.result-link {
  font-size: 14px;
}  

.btn-below-resultwrapper {
  display: block;
  /* padding-top: 5px;  changed removed */
  padding-bottom: 2px;
 /* margin-bottom: 22px; /* changed new */
}

#resultSynonyms strong a {
  margin-right: 5px;
} 


h6.sideclmn-head {   
  margin-top: 18px;
  margin-bottom: 8px;
}                    

h6.sideclmn-head.sideclmn-head-border {
  padding-top: 14px;
  border-top: 1px solid #DDD;
}

 

.fb-like-wrapper {   
  display: block;
  width:100%;
  margin-bottom: 7px;
} 
.babStage .fb-like-wrapper { 
  padding-top: 10px;
}


.letter-nav > .nav-pills {
  margin-left: -5px;
}
.letter-nav > .nav-pills > li > a {
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 1px;
  line-height: 13px; 
}
.letter-nav > .nav-pills > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}   

.bab-sorting { 
  display: inline-block;
  width: 20px;
  height: 7px;
  padding: 0;
  margin: 0 2px;
  background: url(/pic/babla-sorting.png) no-repeat left top scroll;
}  
.bab-sorting.bab-sorting-down {
  background-position: -20px top;
}
.bab-sorting.bab-sorting-up {
  background-position: -40px top;
}

.babNoSound {
 padding-left:11px;
}


#colophon {  
  clear: both; 
 padding-top: 21px; 
 background: url(/pic/bablas_tore.png) no-repeat 22px 20px scroll;
 background-color: white;
}  
#colophon .span12 {
  border-top: 1px solid #DDD; 
  margin-top: 53px;
  padding-top: 18px;
  padding-bottom: 28px; 
}

#colophon p {
  margin-bottom: 4px;
}

#colophon .muted a, #colophon .muted a:visited { 
  color: #808080;
  text-decoration: none;
}
#colophon .muted a, #colophon .muted a:visited,
#colophon .muted strong { 
  padding-right: 4px;
}
#colophon .muted a:hover { 
  color: #333;
  text-decoration: underline;
} 
#colophon span.divider-line {
  color: #CCC;
  padding-right: 4px;
}


.babFlag {background: url(/pic/babFlags.gif) no-repeat top left; display:inline-block; margin-right:5px;
 overflow: hidden; white-space: nowrap; text-indent: 100%; position: relative; left: 0; top: 2px; width: 20px;} 
.dropdown-menu .babFlag, th .babFlag { margin-left: 0; margin-right: 5px; }
.babStage .btn .babFlag { margin-right: 2px; margin-left: 2px; border: 0 none; top: 1px;}
a .babFlag, a.babFlag:visited {cursor:pointer; text-decoration:none;}
.babFlag-pl {width:20px;height:12px;background-position: 0px 0px;border: 1px solid #E0E0E0; }
.babFlag-pt {width:20px;height:12px;background-position:-20px 0px;border: 1px solid #E0E0E0;}
.babFlag-ro {width:20px;height:12px;background-position:-40px 0px;border: 1px solid #E0E0E0;}
.babFlag-ru {width:20px;height:12px;background-position:-60px 0px;border: 1px solid #E0E0E0;}
.babFlag-ke {background: url(/pic/flags/flag_tz.gif) no-repeat top left;width:20px;height:12px;border: 1px solid #E0E0E0;}
.babFlag-se {width:20px;height:12px;background-position:-100px 0px;border: 1px solid #E0E0E0;}
.babFlag-tr {width:20px;height:12px;background-position:-120px 0px;border: 1px solid #E0E0E0;}
.babFlag-uk {width:20px;height:12px;background-position: 0px -12px;border: 1px solid #E0E0E0;}
.babFlag-cn {width:20px;height:12px;background-position:-20px -12px;border: 1px solid #E0E0E0;}
.babFlag-in {width:20px;height:12px;background-position:-40px -12px;border: 1px solid #E0E0E0;}
.babFlag-it {width:20px;height:12px;background-position:-60px -12px;border: 1px solid #E0E0E0;}
.babFlag-nl {width:20px;height:12px;background-position:-80px -12px;border: 1px solid #E0E0E0;}
.babFlag-fr {width:20px;height:12px;background-position:-100px -12px;border: 1px solid #E0E0E0;}
.babFlag-de {width:20px;height:12px;background-position:-120px -12px;border: 1px solid #E0E0E0;}
.babFlag-hu {width:20px;height:12px;background-position: 0px -24px;border: 1px solid #E0E0E0;}
.babFlag-cz {width:20px;height:12px;background-position:-20px -24px;border: 1px solid #E0E0E0;}
.babFlag-eg {background: url(/pic/flags/flag-league-arab.png) no-repeat top left;width:20px;height:12px;border: 1px solid #E0E0E0;}
.babFlag-fi {width:20px;height:12px;background-position:-60px -24px;border: 1px solid #E0E0E0;}
.babFlag-id {width:20px;height:12px;background-position:-80px -24px;border: 1px solid #E0E0E0;}
.babFlag-no {width:20px;height:12px;background-position:-100px -24px;border: 1px solid #E0E0E0;}
.babFlag-uk-us {width:20px;height:12px;background-position:-120px -24px;border: 1px solid #E0E0E0;}
.babFlag-es {width:18px;height:12px;background-position:-1px -36px;border: 1px solid #C0C0C0;margin-left:1px;margin-right:6px;}
.babFlag-eo {width:18px;height:12px;background-position:-21px -36px;border: 1px solid #C0C0C0;margin-left:2px;margin-right:6px;}
.babFlag-dk {width:16px;height:12px;background-position:-42px -36px;border: 1px solid #C0C0C0;margin-left:2px;margin-right:7px;}
.babFlag-kr {width:20px;height:12px;background-position:-60px -36px;border: 1px solid #E0E0E0;}
.babFlag-jp {width:20px;height:12px;background-position:-80px -36px;border: 1px solid #E0E0E0;}
.babFlag-pt-br {width:20px;height:12px;background-position:-100px -36px;border: 1px solid #E0E0E0;}
.babFlag-th {width:18px;height:12px;background-position:-121px -36px;border: 1px solid #E0E0E0;}
.babFlag-bg {width:20px;height:12px;background-position:-60px -48px;border: 1px solid #E0E0E0;}
.babFlag-la {width:20px;height:12px;background-position:-80px -48px;border: 1px solid #E0E0E0;}
.babFlag-gr {width:20px;height:12px;background-position: 0px -48px;border: 1px solid #E0E0E0;}
.babFlag-vn {width:20px;height:12px;background-position: -20px -48px;border: 1px solid #E0E0E0;}
.babMobileTitle {
 min-width: 30%;
}

/* Set up for scroll detector */

#page.header-fixed #branding {
 position: fixed;
 left: 0;
 top: 0;    
 z-index: 1020;
 text-align: center;
}   
#page.header-fixed .navbar,
#page.header-fixed .babStage {
 padding-left: 0;
 padding-right: 0;
}   
#page.header-fixed .navbar-inner {
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
}
#page.header-fixed .babStage-inner {
 border-left: 0 none; 
 border-right: 0 none;
 -webkit-border-radius: 0;
 -moz-border-radius: 0;
 border-radius: 0;
} 
#page.header-fixed .babStage-inner h1,
#page.header-fixed .babStage-inner p,
#page.header-fixed .babStage-inner .fb-like-wrapper {
  display: none;
}

#page.header-fixed .babStage .container-fluid {
 margin: 0 auto;  
 padding-left: 40px;
 padding-right: 40px;   
 max-width: 1020px;   /* #page max-width minus 2x 40px */
}
#page.header-fixed .navbar .container-fluid {
 margin: 0 auto;  
 padding-left: 30px;
 padding-right: 30px; 
 max-width: 1040px;   /* #page max-width minus 2x 30px */  
}     
#page.header-fixed #main {
 margin-top: 100px;   /* adjust to default #branding height */ 
} 


.blue {
  color: #08C;
}   



.bablevel-handle {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}    
.bablevel-handle .icon-chevron-right {
  float: right; 
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: relative;
  left: 0;
  top: 2px;
}
.bablevel-handle .bablevel-content {   
  left:100%;
  margin-left: -2px;
  top:-6px;
  visibility: hidden;  
}  
.bablevel-handle:hover .bablevel-content {
  visibility: visible;
}
.bablevel-handle:hover {
  background-color: #E0E0E0;
}
.bablevel-handle:hover .icon-chevron-right {
  display: none;
}

.babQButIcon, .babCJButIcon, .babFButIcon, .babQzButIcon {
  display:none;
  background-image: url("/pic/glyphicons-halflings-white.png") !important;
}

#span8HOnecol {
 padding-left:6%
}

#babJpVd, #babAboutUsVd {
 width:560px;
 height:315px;
 }

 iframe.babIxMapIframe{
 /* add iframe css for news product*/
  width: 500px;
  height: 280px;
 }
 
 #babIxMapIframe{
 /* this css only for s-topExchangeBlogs14.php*/
  width: 500px;
  height: 280px;
 }

/* Set up for skyscraper (content space for skyscraper height) */  

#babAdSkyWrapper {
  display: none;
}

/** bab5 only for mobile **/
.bab5M {
 display:none;
}

/** Quizzes **/
.babQzISpeak, .babQzILearn {
display: inline-block;
float:left;
}

#babQzISpeakFlag, #babQzILearnFlag {
float:left;
margin-right:0px;
margin-left:2%;
}

#babQzDIlearn:hover, #babQzDIspeak:hover , #babQzDLevel:hover, #babQzDSortBy:hover, #qzCatDropdown:hover, #qzILearnDropdown:hover, #qzISpeakDropdown:hover, #qzLevelDropdown:hover {
cursor:pointer;
}

.babLbISpeak, .babLbILearn, .babLbLevel, .babLbSearch {
 display: inline-block;
 margin-left: 5%;
 margin-right: 1%;
}

#qzSearchBtn {
 vertical-align: -80%;
 margin-left: 4%;
}
#babQSp {
 display: inline-block;
}

#babTransSmallWidget{
 display:none;
}

 /* Personality quizzes test on normal browser*/
 #qRadioAndPic {
  width:32%;
 }
 
#qzRadioImg {
 
 position:relative;
}

.qSepQuest2{
 margin-top :3%;
}

 #babQzSocialLinks {
  width:60%;
 }
 
 #retryPerQuiz {
  font-weight: bold;
  float: right; 
  cursor: pointer; 
  width: 30%; 
  padding-top: 10px; 
  text-align: right;
 }

 /* Personality Quizzes buttons*/
 .qzPerBtns {
 margin-right: 34%;
}

/* Personality Quizzes Pic Source*/
a.PicSrc {
    outline: none;
    text-decoration: none;
    position: relative;
    color: black;
}
a.PicSrc strong {
    line-height: 30px;
}
a.PicSrc > span {
    width: 100px;
    padding: 1px 1px;
    margin-top: 0;
    margin-left: -10px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    font-family: Arial;
    font-size: 9px;
    font-style: normal;
    letter-spacing:1px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #999;
    -webkit-transition-property: opacity, margin-top, visibility, margin-right;
    -webkit-transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-property: opacity, margin-top, visibility, margin-left;
    transition-duration: 0.4s, 0.3s, 0.4s, 0.3s;
    transition-timing-function: 
    ease-in-out, ease-in-out, ease-in-out, ease-in-out;
}
a.PicSrc:hover > span {
    opacity: 0.8;
    text-decoration: none;
    visibility: visible;
    overflow: visible;
    margin-top: 1px;
    display: inline;
    margin-left: 105px;
}
a.PicSrc span b {
    width: 15px;
    height: 15px;
    margin-left: 40px;
    margin-top: -19px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: inset -1px 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -o-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    display: none\0/;
    *display: none;
}
a.PicSrc > span {
 color: #FFFFFF; 
 background: #000000;
 background: -webkit-linear-gradient(top, #000000, #000000);
 background: linear-gradient(top, #000000, #000000);
 border: 1px solid #000000;
}

a.PicSrc span b {
 background: #000000;
 border-top: 1px solid #000000;
 border-right: 1px solid #000000;
}

/* Grammar Product */
.babWidth25 {
 width: 25px;
}

.babInBlock {
 display: inline-block;
}
.babValignTop {
 vertical-align: top;
}

.babTextRight {
 text-align: right;
}

.babLetterOrange {
 color: #F39300;
 font-weight: bold;
}

.babLetterGreen {
 color: rgb(0,176,80);
}

.babLetterPurple {
 color: rgb(112,48,160);
}

.babLetterBlue {
 color: rgb(0,112,192);
}

.babLessonHeadlineH2 {
 font-size: 14px;
 font-weight: bold;
 color: #0088cc;
 line-height: 20px;
}

.babLessonHeadlineH3 {
 font-size: 14px;
 font-weight: bold;
 line-height: 20px;
 margin-left: 30px;
}

.babIndent30 {
 text-indent: 30px;
}

.babIta {
 font-style: italic;
}

.babStrike { 
 text-decoration: line-through;
}

.babUnd {
 text-decoration: underline;
}

.babSup {
 position: relative;
 bottom: 1ex; 
 font-size: 80%;
}

.babLessonTable {
 table-layout: fixed;
 width: 100%;
 border: 1px solid;
 border-color: #0088cc transparent;
}

.babLessonTable tr {
 border: 1px solid;
 border-color: #0088cc transparent;
}

.babLessonTableHeader {
 text-align: center;
 background-color: #0088cc;
 color: white;
 border: 1px solid;
 border-color: #0088cc;
}

.ix2016_container {
 padding: 10px;
 border: solid 2px #00B0F0
}

.ix2016_container:hover {
  cursor: pointer;
  background-color: #F6F6F6;
  border: solid 3px #00B0F0;
}

.ix2016_container h1, .ix2016_container h2, .ix2016_container h3 {
  color: #00B0F0;
}

.babGramQuizWidget {
 width:390px;
 height:385px;
 background-color:#3A87AD;
 padding:0;
 margin:0 auto;
 border-radius: 5px;
}
 
.babGramQuizWidget iframe {
 width:380px;
 height:345px;
 border:0px;
 margin:5px;
}
 
.babGramQuizWidget img {
 margin:0px 0 0 292px;
}
.babMonoHwStr {
 color:#666;
 font-weight: bold;
 font-size: 18px;
 line-height: 20px;
 margin-right:3px;
 text-rendering: optimizelegibility;
}
.babMonoPos {
 color: #808080;
 font-weight: bold;
 font-size: 18px;
 line-height: 20px;
 margin-right:4px;
 text-rendering: optimizelegibility;
}
.babMonoSe1Num {
 font-size: 16px;
 font-weight: bold;
 margin-right:4px;
 margin-left:5px;
}
.babMonoSe2Num {
 font-size: 14px;
 font-weight: bold;
 margin-right: 4px;
 margin-left: -12px;
}
.babMonoSe3Num {
 font-size: 12px;
 font-weight: bold;
 margin-right: 4px;
 margin-left: -15px;
}
.babMonoSe2, .babMonoSe3 {
 padding-left: 15px;
}
.babMonoSe2 {
 margin-bottom: 5px;
}
.babMonInfg1 {
 font-style:italic;
}
.babMonoSg {
 padding-left: 20px;
 padding-right: 20%;
}

/*!
 * Bootstrap Responsive v2.0.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

@media (max-width: 480px) {
#main {
   padding-left:10px;
   padding-right:10px;
   background-color: white;
 }

#babAdTopWrapper {
  padding-top:0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
 }

 .container-fluid .brand #logo {
  margin-right:5px;
 }
 #babQ {
  width:42%;
 }

 #babDDDict {
 font-size:0px;
 }

 .babDDDictL1, .babDDDictL2, #babDDDictToggle, #babFbStgDict, #babSocialLinks, #babQzSocialLinks, .babDictSug, .fb-like-wrapper, .main-count, #babDDDictM, #vk_groups {
  display:none;
 }
 
 #babQzStage {
 display:none;
 }

 .btn-group .btn .icon-resize-horizontal {
  vertical-align:middle;
 }

 .babStage .btn .babFlag {
  vertical-align:middle;
  top:0;
 }

 .babQButIcon, .babCJButIcon, .babFButIcon, .babQzButIcon {
  display:inline-block;
  background-image: url("/pic/glyphicons-halflings-white.png") !important;
 }

 .babQButSt, .babCJButSt, .babFButSt, .babQzButSt {
  display:none;
 }

 .well .btn .babFlag {
  vertical-align:middle;
  top:0;
 }

 .well .btn .icon-resize-horizontal {
  top:0;
 }

 .well .btn .icon-search {
  vertical-align:middle;
  background-image: url("/pic/glyphicons-halflings-white.png") !important;
 }

 .well .btn-group {
  position:static;
 }

 .front-stage .well {
   margin-top:50px;
   margin-bottom:40px;
 }

 #span8HOnecol {
   padding-left:0px;
  }

 .front-image-wrapper {
    padding-right: 0px;
  }
 .well {
padding-left: 10px;
padding-right: 10px;

  }
 .navbar {
  padding-left: 0px;
  padding-right: 0px;
 }

 .babStage {
  padding-left: 9px;
  padding-right: 9px;
 }

 .row-fluid > [class*="span"]:first-child {
  margin: 0 0 10px 0;
 }
 .row-fluid.result-row {
  background-color: #FFFFFF;
 }

 .result-wrapper:hover {
  background-color: #FFFFFF;
 }

 .result-wrapper.result-wrapper-toggable:hover {
  background-color: #FFFFFF;
 }

 .nav.result-entry-menu.pull-right {
  visibility:visible;
 }

 #babGPlus{
   display:none;
  }

 #babJpVd, #babAboutUsVd {
  width:290px;
  height:163px;
 }

 #babMemorizeTeaser, #babMBWTeaser, #babMBWTeaserVote, #babHangmanTeaser, #babMatchItTeaser, #valentineTeaser, #babix14Teaser, #babFWC14Teaser, #babFbTeaser, 
 #babPbWriteCVTeaser, #babPbWriteLetterTeaser, #babLWCWidget, #babTransTeaser, #babLexioArticleTeaser {
  display:none;
 }

 #babIsOfferByCountries, #babIsOfferByLangsTeaser {
  display:none;
 }

#babConjStHint, #babQzSmallButtons, #babQzCats, #babQzSmallTest, .babGamesSeoText, #babGamesMenu {
 display:none;
}

#babExtraSpUser, #babLangWCDisplay {
 /* add css for user product*/
  display:none;
 }

 iframe.babIxMapIframe{
 /* add iframe css for news product*/
  width: 100%;
  height: 50%;
 }

 #babIxMapIframe{
 /* this css only for s-topExchangeBlogs14.php*/
  width: 280px;
  height: 240px;
 }

 #babBlog10Fb{
  width:300px;
 }

 #babTrainerStageHideT, #babTrainerStgTitle {
 /* add css for vocabulary trainer stage area*/
  display:none;
 }

 /* add css for vocabulary trainer flip card container*/
 .flashcard-container, .flashcard {
  height: 176px;
  width: 95%;
 }

 .flashcard .vocabulary {
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
  text-align: center;
 }

 .babTrainerArrowKey {
  display: none;
 }

/** Grammar **/
 .babGramLeftCat {
  display:none;
 }

 .babGramQuizWidget {
  width:356px;
  height:385px;
  background-color:#3A87AD;
  padding:0px;
  margin:-2px;
 }

 .babGramQuizWidget iframe {
  width:350px;
  height:345px;
  border:0px;
  margin:3px;
 }
 
 .babGramQuizWidget img {
  margin:0px 0 0 260px;
 }

/** Quizzes **/
 .bab5M {
  display:block;
  clear:both;
  height:5px;
 }

 .babLbISpeak, .babLbILearn, .babLbLevel, .babLbSearch {
  display: inline-block;
  margin-left: 0%;
  margin-right: 1%;
 }

 #qzSearchBtn {
  vertical-align:-4px;
  margin-left: 1%;
 }

 #babQzBigTestDesc {
 margin-left :-5%;
}

.babQzLeftSide {
 margin-left : 0px;
}

#babQzFeatH2, #babQzBigTestDesc {
 margin-top:2px;
 clear:both;
}

 #babQSp {
  display:none;
 }

 #babTransSmallWidget{
  display:block;
 }
 #babTransSeo, #babTransBigWidget,#babTransMenu{
  display:none;
 }
 
 .babQzCoverContainer {
  padding: 0!important;
 }
 
  /* Personality quizzes test on mobile*/
 #retryPerQuiz {
 font-weight: bold;
 float:left;
 cursor: pointer; 
 width:30%;
 padding-top: 10px;
 text-align: left;
 
}

  .navbar .brand {
   width: 65% !important;
  }

 .babMobFixHide {
  display: none !important;
 }

 .babMobFixMargNull, .babMobFixMargNull .beforeForm {
  margin: 0px !important;
 }

 #babGameMatchIt {
  display: none;
 }

 #babDefaultQuiz {
   margin: 0px;
 }

}

  .fb-50k {
   width:200px;
  }

@media (max-width: 1000px) {
 /* Personality quizzes test on ipad*/
 #qRadioAndPic {
  width:100%;
 }

 #qzRadioImg {
  position:relative;
 }

  /* Personality Quizzes buttons*/
  .qzPerBtns {
  margin-right: 25%;
 } 
}
@media (min-width: 768px) and (max-width: 979px) {
  /* add css for vocabulary trainer stage area - iPad*/
 #babGameMatchIt {
  display: none;
 }

 #babDefaultQuiz {
   margin: 0px;
 }

 .navbar .brand {
   width: 40%;
  }

 .babMobFixHide {
   display: none;
  }

  .babMobFixMargNull, .babMobFixMargNull .beforeForm {
  margin: 0px !important;
 }

  #babTrainerStageHideT, #babTrainerStgTitle{
   display:none;
  }

  .flashcard-controls abbr {
   display:none;
  }

  .fb-50k {
   width:150px;
  }
}
@media (max-width: 979px) {
  .visible-desktop {
   visibility:collapse;
  }
  
  .voting-links-right {
    display:none;
  }
}  

@media (min-width: 980px) {
  .fb-50k {
   width:150px;
  }

  .visible-desktop {
   visibility:visible;
  }
 
  /* Set up for for inline skyscraper  */ 
  
  #main {
    min-height: 600px;
    background-color: white;
  }
  
  #main.container-fluid {
   padding-right: 200px;
  }   
  #babAdSkyWrapper { 
    display: block;
   position: absolute;
   right: 20px;
   top: 20px;
  }
}
@media (min-width: 1200px) {
  /* Set up for for outside skyscraper */
  #page {
   width: auto;
   padding-left: 10px; /* 170px */
   padding-right: 170px; /* 10px */
  }
  #main {
    min-height: 200px;
    background-color: white;
  }
  #main.container-fluid {
   padding-right: 20px;
  }
  #babAdSkyWrapper {
   position: absolute;
   right: -170px; /* 100% */
   top: 19px;  
   margin-right: 5px;
  }  
  #page.header-fixed .babStage .container-fluid {
   padding-left: 50px; /* 210px */
   padding-right: 210px; /* 50px */
  }
  #page.header-fixed .navbar .container-fluid {
   padding-left: 50px; /* 200px */
   padding-right: 210px; /* 40px */
  }
  .fb-50k {
   width:200px;
  }

}

@media (max-width: 1200px) {
 .main-count, #babMBWTeaserVote {
  display:none;
 }

 /** Quizzes **/
 .babLbISpeak, .babLbILearn, .babLbLevel, .babLbSearch {
  display: inline-block;
  margin-left: 3%;
  margin-right: 1%;
 }

 #qzSearchBtn {
  margin-left: 1%;
 }

 .babQzButIcon {
  display:inline-block;
 }

 .babQzButSt {
  display:none;
 }
 
 /* Social media*/
#babQzSocialLinks {
  width:70%;
}

}

@media (min-width: 1330px) {
  #page { 
   width: auto; 
   padding-left: 10px;
   padding-right: 310px;
  }
  #babAdSkyWrapper {
   width: 300px;
   right: -310px;
  }
  #page.header-fixed .babStage .container-fluid {
   padding-left: 50px; /* 210px */
   padding-right: 350px; /* 50px */
  }
  #page.header-fixed .navbar .container-fluid {
   padding-left: 50px; /* 200px */
   padding-right: 350px; /* 40px */
  }
}
p.handwriting {
 font-family: 'Nothing You Could Do', cursive;
 font-size: 20px;
 line-height: 22px; 
}

/* bab.la overwrites */
abbr {
  font-size: 90%;
  text-transform: none;
  border-bottom: 0px;
  cursor: help;
}

/* bab.la styles */
#babPM {
 position:absolute;
 z-index:100001;
}
.babL {
 float:left;
}
.babL.babMobile, .section-block.babMobile {
 margin: 5px 0 5px;
}
.babL.babMobile, .section-block.babMobile > h3 {
 margin-bottom: 3px;
}
.babL.babMobile > a, .section-block.babMobile > a {
 padding-left: 12px;
 display: block;
}
.babR {
 float:right;
}
.babB {
 clear:both;
}
.babB.babMobile, .bab10.babMobile {
 border-bottom: 1px solid #E3E3E3;
 margin-bottom: 8px
}
.babB.babMobile.babLast, .bab10.babMobile.babLast {
 border: none;
}
.bab5 {
 clear:both;
 height:5px;
}
.bab10 {
 clear:both;
 height:10px;
}
.bab15 {
 clear:both;
 height:15px;
}
.bab20 {
 clear:both;
 height:20px;
}
.bab25 {
 clear:both;
 height:25px;
}
.babResRow {
 background-color: #F0F0F0;
 height: 5px;
}
.babQRBlock:hover h6 {
 color: #B94A48;
}
.babGyLi {
 height:6px;
 line-height:6px;
 font-size:6px;
 background-color:#E3E3E3;
 overflow:hidden;
 clear:both;
}
.babGy {
 color:#878787;
}
.babAnchor {
position:relative;
top:-100px;
}
.babAMore {
 font-size: 12px;
 float:right;
}
.babCSColor {
 color: #505050;
}
.babRTL {
 direction:rtl;
}

.beforeForm {
  margin-bottom: 15px;
  color: #0088CC;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}
.babH2Gr {
  color: #666;  
}
.babH4Gr {
 color: #808080;
 font-size: 11px;
}
.quick-result-section h4 {
  margin-bottom: 2px; 
  padding-bottom: 0;
  line-height: 13px;
  color: #808080;
  font-size: 11px;
  text-transform: uppercase;
}
.quick-result-section:hover h4 {
  color: #B94A48;
}
.quick-result-section h4 i {
  float: right;   
  opacity: 0.35;
  filter: alpha(opacity=35);
  visibility: hidden;
}
.quick-result-section:hover h4 i {
  visibility: visible;
}
.front-stage {
  padding-top:1px;
  position: relative;
  padding-bottom: 1px;
  margin-bottom: 0;
} 
.front-image-wrapper {
  position: absolute;
  top: 0px; /* -20 */
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-image: url(/pic/babMap_1060_F3F3F3.png);
/*
  background-image: url(/pic/icons4homepage-D3D3D3-3s.png);
  background-image: url(/pic/halloween_dummy.jpg);
  */
  z-index: 1; 
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}    
.front-stage .well {
  position: relative;
  z-index: 5;
  margin-top: 100px;
  margin-bottom: 140px; 
  background: transparent url(/pic/bckgr-input-front-stage.png) repeat left top scroll;
  transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -webkit-transition: margin 0.3s; 
  -o-transition: margin 0.3s; 
}
/* Adding additional class .light to .well creates more transparent background for the Input Box */   
.front-stage .well.light {
  background-image: url(/pic/bckgr-input-front-stage-light.png);
}

.front-stage p.handwriting.handwriting-arrow {
  background: url(/pic/arrw-handwriting.png) no-repeat left 1px scroll;
  padding-left: 30px;
}
.front-stage p.handwriting {
  clear: both;
  margin: 0;
  padding: 8px 0 12px 0; 
}   
.front-stage h1 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -1px;
  margin-left: -1px;
  color: #08C;
} 
.front-stage h4 {
  margin-top: 4px;
  margin-bottom: 28px;
}  
.front-stage .btn .babFlag {
  margin-right: 2px;
  margin-left: 2px;
  border: 0 none;
  top: 1px;  
}
.front-stage input, .front-stage .btn {
  font-size: 18px;
  line-height: 23px;
}  
.front-stage input {
  height: 23px;
}   
.front-stage .caret, .front-stage .icon-resize-horizontal {
  position: relative;
  top: 3px;
}    
.front-picture-copyright {
  margin-bottom: 10px;
}
.front-picture-copyright p {
  margin-top: -13px;
}
.sharing-footer {
  margin-top:-2px; 
  display: block;
}  
.muted span.divider-line {
  color: #CCC; 
  padding-right: 2px; 
  padding-left: 2px;   
}

@media (max-width: 600px) {
 /* Change the modal size for the login when the screen is small
 *  * as a mobile device
 *   */
 .modal {
   width: 300px;
 }
}

/* Control height of the stage area on frontpage through responsive CSS3 styles (responsive to screen height) */

@media (max-width: 979px)   {
  .front-image-wrapper {
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px; 
  } 
}
@media (max-width: 480px) {
 .front-stage .well {
   margin-top:50px;
   margin-bottom:40px;
 }
}
@media (min-height: 900px)   {
  .front-stage .well {
    margin-top: 110px;      
    margin-bottom: 155px; 
  }   
}

@media (max-height: 600px)   {
  .front-stage .well {
    margin-top: 70px;      
    margin-bottom: 110px; 
  }
} 
@media (max-height: 500px)   {
  .front-stage .well {
    margin-top: 55px;      
    margin-bottom: 100px; 
  }   
}
@media (max-height: 400px)   {
  .front-stage .well {
    margin-top: 40px;      
    margin-bottom: 90px; 
  }   
}

#showMoreCS, #showMoreCS1, #showMoreCS2, #showMoreVDiv {
padding: 4px 25px;
margin-top:12px;
}
#showMoreCSDiv, #showMoreCSDiv1, #showMoreCSDiv2, #showMoreVDiv {
text-align:center;
}
.warn-cs {
padding-right:5px;
}
/**************** Success *********/
.babSuccessLayover {
 background:url(/pic/bbOk.gif) no-repeat;
 padding-left:90px;
 margin:40px 25px;
}
.babSuccessLayover p {
 font-size:13px;
 padding-bottom:20px;
}
/**************** Modal Dialog *********/

.babModalD {
 background-color: #FFFFFF;
 border: 2px solid #4881B8;
 padding-bottom: 15px;
 width: 730px;
 display:none;
 position:absolute;
 top:40px; 
 left:40px;
 font-size:12px;
 text-align:left;
}
.babModalD .babPad {
 padding: 10px;
}
.babModalD .babLM {
 float:left;
 margin: 0 90px 0 0;
}
.babModalD .babRM {
 float:left;
}
.babModalD div.babOne, .babModalD div.babTwo, .babModalD div.babThree, .babModalD div.babHook, .babModalD div.babQuest {
 float: left;
 width: 160px;
}
.babModalD .babFields {
 float: left;
 width: 470px;
}
.babModalD .babFieldL {
 width:200px;
 margin-right:20px;
 border-right:3px solid #dadac3;
}
.babModalD .babFieldR {
 width: 175px;
}
.babModalD .babAuth {
 width:200px;
}
.babModalD .babStd {
 background:#F3F4E4;
}
.babModalD .babHelp {
 display:block;
 float:right;
}
.babModalD .babBreakArrow {
 background:transparent url(../pic/break_arrow.gif) no-repeat;
 height:30px;
 width:140px;
}
.babModalD .babBreakArrow select {
 width:120px;
 margin:0 0 0 20px;
}
.babModalD div.babOne p, .babModalD div.babTwo p {
 color: #555555;
 padding: 40px 6px 0;
 font-size:12px;
 text-align:center;
}
.babModalD div.babThree p, .babModalD div.babHook p, .babModalD div.babQuest p {
 color: #555555;
 padding: 10px 6px 0;
 font-size:12px;
 text-align:center;
}
.babModalD div.babQuest p {
 padding: 20px 6px 0;
}
.babModalD select, .babModalD input {
 width: 140px;
 display: block;
 font-weight: bold;
 margin: 0 0 10px;
 height: 17px;
 font-size:11px;
 padding:0px;
}
/**************** User Suggestion *********/
table.babUserSug {
 width:100%;
 margin:0 0 20px 0;
}
table.babUserSug th, td {
 text-align:left;
}
.babOddBg {
 background-color:#F3F4E4;
}
.babUserSugSp {
 display:inline;
 margin: 0 4px 0 0;
}
.babUserSugI {
 margin-right:5px;
}
.babGrmBg {
 background-color:#CCCCCC;
}
.babAnoUserSug {
 float: left;
 margin: 0 10px 0 0;
}
.babUserSugTd {
min-width:220px;
}
.babUserSugBt {
margin-top:18px;
}
.babRed {
color:#c03;
}
/************** Inline Dialog ************/

.babInlineD h2 {
 text-align: left;
}
.babInlineD .babUSugStep1{
 margin-top:30px;
 text-align:left;
}
.babInlineD .babFields {
 float:left;
 text-align:left;
}
.babInlineD .span3 {
 margin-left:0;
}
.babInlineD .babSpan3B {
 border-right:3px solid #dadac3;
 margin-right:20px;
}
.babInlineD .babSubGra {
 padding-bottom:10px;
}
.babInlineD .babVerifyBnt {
 margin-left:0;
 text-align:right;
}
.babInlineD .babMar {
 width:100px;
 float:left;
 margin:0;
}
.babInlineD .babMar label {
 font-weight:bold;
 margin:0 0 20px 0;
}
.babInlineD .babPad {
 padding:10px;
}
table#simWords {
 margin:0 0 10px 0;
}
.babInlineD td {
 width:285px;
 padding:3px 6px;
}
.babInlineD select {
 display:block;
 margin:0 0 10px 0;
 font-weight:bold;
}
.babInlineD select.tSpace {
  margin:30px 0 10px 0;
}
.inlineDia select, .inlineDia input {
 margin-left:20px;
 width:200px;
}
.babInlineD .babBreakArrow {
 background:transparent url(/pic/break_arrow.gif) no-repeat;
 margin-left:20px;
 height:30px;
 width:140px;
}
.babInlineD .babBreakArrow select {
 width:180px;
 margin:0 0 0 20px;
}
/**** Conjugation ****/
.fTime-conj b {
 color: #666666;
}
.fTimeP-conj {
 color:#878787;
}
.h5-conj {
 margin-bottom:5px;
}
.babConjButtons {
 display:block;
 float:left;
 margin:0 4px 9px 4px;
}
/***** index page *****/
.babIndexInfo h2 {
 color: #B94A48;
 font-size: 11px;
 line-height: 16px;
 margin-bottom: 2px;
 padding-bottom: 0;
 text-transform: uppercase;
}
.babIndexInfo h3 {
 color: #808080;
 font-size: 13px;
 font-weight: bold;
}
/************** Text Editor ************/
.babTxtEditorButtons {
 list-style: none;
 margin: 0px;
 padding: 0px;
}
.babTxtEditorButtons li {
 list-style: none;
 float: left;
}
.babTxtEditorButtons li img {
 border:none;
}
.babTxtEditorBody {
 clear:both; 
 float:none;
 }
.babIntershipsIfr {
border:1px solid #ccc;
background-color:#fff;
}
.select-xlarge {
  width: 280px;
}

.babEBlogN {
    vertical-align: top;
    width: 3%;
}
.babEBlogT6, .babEBlogT3 {
    font-weight: bold;
    vertical-align: top;
    width: 30%;
    word-break:normal;
}
.babEBlogT3 {
    padding-bottom: 3px;
}
.babEBlogT6 {
    padding-bottom: 6px;
}
.babEBlogD {
    font-style: italic;
    vertical-align: top;
    width:60%;
}
.babEBlogTxt {
    font-weight: bold;
    width:90%;
    word-break:break-all;
}

.babPad4 {
    padding: 4px;
}
.babL {
    float: left;
}

.text-error {
    color:#B94A48;
}

/** Games **/
#babGamesLangM a, #babGamesDiffM a, #babGamesCatM a {
 cursor:pointer;
}

/** End of bab.la's own code **/
#keyboardInputMaster {
  position:absolute;
  font:normal 11px Arial,sans-serif;
  border-top:1px solid #eeeeee;
  border-right:1px solid #888888;
  border-bottom:1px solid #444444;
  border-left:1px solid #cccccc;
  -webkit-border-radius:0.6em;
  -moz-border-radius:0.6em;
  border-radius:0.6em;
  -webkit-box-shadow:0px 2px 10px #444444;
  -moz-box-shadow:0px 2px 10px #444444;
  box-shadow:0px 2px 10px #444444;
  opacity:0.95;
  filter:alpha(opacity=95);
  background-color:#dddddd;
  text-align:left;
  z-index:1000000;
  width:auto;
  height:auto;
  min-width:0;
  min-height:0;
  margin:0px;
  padding:0px;
  line-height:normal;
  -moz-user-select:none;
  cursor:default;
}
#keyboardInputMaster * {
  position:static;
  color:#000000;
  background:transparent;
  font:normal 11px Arial,sans-serif;
  width:auto;
  height:auto;
  min-width:0;
  min-height:0;
  margin:0px;
  padding:0px;
  border:0px none;
  outline:0px;
  vertical-align:baseline;
  line-height:1.3em;
}
#keyboardInputMaster table {
  table-layout:auto;
}
#keyboardInputMaster.keyboardInputSize1,
#keyboardInputMaster.keyboardInputSize1 * {
  font-size:9px;
}
#keyboardInputMaster.keyboardInputSize3,
#keyboardInputMaster.keyboardInputSize3 * {
  font-size:13px;
}
#keyboardInputMaster.keyboardInputSize4,
#keyboardInputMaster.keyboardInputSize4 * {
  font-size:16px;
}
#keyboardInputMaster.keyboardInputSize5,
#keyboardInputMaster.keyboardInputSize5 * {
  font-size:20px;
}

#keyboardInputMaster thead tr th {
  padding:0.3em 0.3em 0.1em 0.3em;
  background-color:#999999;
  white-space:nowrap;
  text-align:right;
  -webkit-border-radius:0.6em 0.6em 0px 0px;
  -moz-border-radius:0.6em 0.6em 0px 0px;
  border-radius:0.6em 0.6em 0px 0px;
}
#keyboardInputMaster thead tr th div {
  float:left;
  font-size:130% !important;
  height:1.3em;
  font-weight:bold;
  position:relative;
  z-index:1;
  margin-right:0.5em;
  cursor:pointer;
  background-color:transparent;
}
#keyboardInputMaster thead tr th div ol {
  position:absolute;
  left:0px;
  top:90%;
  list-style-type:none;
  height:9.4em;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:#f6f6f6;
  border:1px solid #999999;
  display:none;
  text-align:left;
  width:12em;
}
#keyboardInputMaster thead tr th div ol li {
  padding:0.2em 0.4em;
  cursor:pointer;
  white-space:nowrap;
  width:12em;
}
#keyboardInputMaster thead tr th div ol li.selected {
  background-color:#ffffcc;
}
#keyboardInputMaster thead tr th div ol li:hover,
#keyboardInputMaster thead tr th div ol li.hover {
  background-color:#dddddd;
}
#keyboardInputMaster thead tr th span,
#keyboardInputMaster thead tr th strong,
#keyboardInputMaster thead tr th small,
#keyboardInputMaster thead tr th big {
  display:inline-block;
  padding:0px 0.4em;
  height:1.4em;
  line-height:1.4em;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #5d5d5d;
  border-bottom:1px solid #5d5d5d;
  border-left:1px solid #e5e5e5;
  background-color:#cccccc;
  cursor:pointer;
  margin:0px 0px 0px 0.3em;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  border-radius:0.3em;
  vertical-align:middle;
  -webkit-transition:background-color .15s ease-in-out;
  -o-transition:background-color .15s ease-in-out;
  transition:background-color .15s ease-in-out;
}
#keyboardInputMaster thead tr th strong {
  font-weight:bold;
}
#keyboardInputMaster thead tr th small {
  -webkit-border-radius:0.3em 0px 0px 0.3em;
  -moz-border-radius:0.3em 0px 0px 0.3em;
  border-radius:0.3em 0px 0px 0.3em;
  border-right:1px solid #aaaaaa;
  padding:0px 0.2em 0px 0.3em;
}
#keyboardInputMaster thead tr th big {
  -webkit-border-radius:0px 0.3em 0.3em 0px;
  -moz-border-radius:0px 0.3em 0.3em 0px;
  border-radius:0px 0.3em 0.3em 0px;
  border-left:0px none;
  margin:0px;
  padding:0px 0.3em 0px 0.2em;
}
#keyboardInputMaster thead tr th span:hover,
#keyboardInputMaster thead tr th span.hover,
#keyboardInputMaster thead tr th strong:hover,
#keyboardInputMaster thead tr th strong.hover,
#keyboardInputMaster thead tr th small:hover,
#keyboardInputMaster thead tr th small.hover,
#keyboardInputMaster thead tr th big:hover,
#keyboardInputMaster thead tr th big.hover {
  background-color:#dddddd;
}

#keyboardInputMaster tbody tr td {
  text-align:left;
  padding:0.2em 0.3em 0.3em 0.3em;
  vertical-align:top;
}
#keyboardInputMaster tbody tr td div {
  text-align:center;
  position:relative;
  zoom:1;
}
#keyboardInputMaster tbody tr td table {
  white-space:nowrap;
  width:100%;
  border-collapse:separate;
  border-spacing:0px;
}
#keyboardInputMaster tbody tr td#keyboardInputNumpad table {
  margin-left:0.2em;
  width:auto;
}
#keyboardInputMaster tbody tr td table.keyboardInputCenter {
  width:auto;
  margin:0px auto;
}
#keyboardInputMaster tbody tr td table tbody tr td {
  vertical-align:middle;
  padding:0px 0.45em;
  white-space:pre;
  height:1.8em;
  font-family:'Lucida Console','Arial Unicode MS',monospace;
  border-top:1px solid #e5e5e5;
  border-right:1px solid #5d5d5d;
  border-bottom:1px solid #5d5d5d;
  border-left:1px solid #e5e5e5;
  background-color:#eeeeee;
  cursor:default;
  min-width:0.75em;
  -webkit-border-radius:0.2em;
  -moz-border-radius:0.2em;
  border-radius:0.2em;
  -webkit-transition:background-color .15s ease-in-out;
  -o-transition:background-color .15s ease-in-out;
  transition:background-color .15s ease-in-out;
}
#keyboardInputMaster tbody tr td table tbody tr td.last {
  width:99%;
}
#keyboardInputMaster tbody tr td table tbody tr td.space {
  padding:0px 4em;
}
#keyboardInputMaster tbody tr td table tbody tr td.deadkey {
  background-color:#ccccdd;
}
#keyboardInputMaster tbody tr td table tbody tr td.target {
  background-color:#ddddcc;
}
#keyboardInputMaster tbody tr td table tbody tr td:hover,
#keyboardInputMaster tbody tr td table tbody tr td.hover {
  border-top:1px solid #d5d5d5;
  border-right:1px solid #555555;
  border-bottom:1px solid #555555;
  border-left:1px solid #d5d5d5;
  background-color:#cccccc;
}
#keyboardInputMaster thead tr th span:active,
#keyboardInputMaster thead tr th span.pressed,
#keyboardInputMaster tbody tr td table tbody tr td:active,
#keyboardInputMaster tbody tr td table tbody tr td.pressed {
  border-top:1px solid #555555 !important;
  border-right:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;
  border-left:1px solid #555555;
  background-color:#cccccc;
}

#keyboardInputMaster tbody tr td table tbody tr td small {
  display:block;
  text-align:center;
  font-size:0.6em !important;
  line-height:1.1em;
}

#keyboardInputMaster tbody tr td div label {
  position:absolute;
  bottom:0.2em;
  left:0.3em;
}
#keyboardInputMaster tbody tr td div label input {
  background-color:#f6f6f6;
  vertical-align:middle;
  font-size:inherit;
  width:1.1em;
  height:1.1em;
}
#keyboardInputMaster tbody tr td div var {
  position:absolute;
  bottom:0px;
  right:3px;
  font-weight:bold;
  font-style:italic;
  color:#444444;
}

.keyboardInputInitiator {
  margin:0px 3px;
  vertical-align:middle;
  cursor:pointer;
}

#keyboardInputImg {
float:left;
margin-left:-38px;
margin-top:8px;
}

table.babGramm-table {

}

div.babGramm-contentContainer {
  margin-bottom: 45px;
}

div.babGramm-contentArea {
	border-bottom: 1px solid #E3E3E3;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

div.babGramm-contentArea:hover {
	background-color: #F0F0F0;
}

h1.babGramm-mainTitle {
  font-size:      27px;
  color:          #148CC8;
  margin-bottom:  12px;
}

h2.babGramm-title { 
  font-size:    20px;
  line-height:  25px;
  color:        #008CC8;
  margin-bottom: 5px;
}

h1.previewTitle {
  text-align: center;
  color: #3CA0C8;
  margin-bottom: 20px;
  font-size: 25px;
}

div.quizzPreview {
  margin: 0 auto;
  width: 610px;
}

div.bLogoContainer {
  width: 100px;
  float: right;
}

.babGramm-quizzWidget {
  width: 390px;
  height: 385px;
  background-color: #3A87AD;
  padding: 7px;
  margin: 0 auto;
  border-radius: 5px;
}

.babGramm-widgetIframe {
  width: 390px;
  height: 345px;
  border: 0px;
  margin: 0px auto 12px;
  display: block;
}

.bLogoImg {
  margin: 0;
}

ul.babGramm-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
}

table.sv_bOETable {
  width: 100%;
}

table.sv_bOETable th, table.sv_bOETable td {
  border: 1px solid;
  padding: 2px 0 0 7px;
}

@media (max-width: 410px) {
  .babGramm-quizzWidget {
    width: 90%;
  }
  
  .babGramm-widgetIframe {
    width: 90%;
  }
}

@media (max-width: 768px) {

	.babGramm-widgetIframe {
	}
	
 .babMobPadding {
  padding-top: 5px;
  padding-bottom: 5px;
 }

 .babMobWhite {
    background-image: url("/pic/glyphicons-halflings-white.png") !important;
 }

 .babMobMarginLeft5 {
  margin-left: 5px !important;
 }

 .babMobInputStgWid40 {
  width: 40%;
 }

 #babGameMatchIt {
  display: none;
 }

 #babDefaultQuiz {
   margin: 0px;
 }

 .navbar .brand {
   width: 40%;
  }

.babMobFixHide {
  display: none !important;
 }

 .babMobFixMargNull, .babMobFixMargNull .beforeForm {
  margin: 0px !important;
 }
 
 /* Hotfix vocabulary stg trainner. */
 .babiPadInputFix {
   float:left;
   width: 60%;
   margin-bottom: 10px;
   margin-left: 0px !important;
  }

 /* add css for vocabulary trainer stage area - mobil*/
 #babTrainerStageHideT, #babTrainerStgTitle {
  display:none;
 }

 .flashcard-controls abbr {
   display:none;
  }

 #babShowSolutionBtn {
 margin-left: 20px !important;
 }
 
 #babFormVocabulary .btn-mobile {
  width:100%;
  margin: 0px;
 }

 #babFormVocabulary .btn-mobile .btn-primary {
  width:100% !important;
  margin: 0px;
 }

 #gMatchItSetCookie .control-label {
   width:100%;
 }

 #gMatchItSetCookie .btn-mobile {
  width:99%;
 }

 #gMatchItSetCookie .btn-mobile .btn-primary {
  width:100% !important;
 }

 #gMatchItSetCookie .babMobLabelFix {
  width:100%;
 }

 #gMemorizeSetCookie .control-label {
  width:100%;
 }

 #gMemorizeSetCookie .btn-mobile {
  width:99%;
 }

 #gMemorizeSetCookie .btn-mobile .btn-primary {
  width:100% !important;
 }

 #gMemorizeSetCookie .babMobLabelFix {
  width:100%;
 }
}

#babToTop {
 background-color: rgba(128,128,128,0.9);
 border: 1px solid gray;
 border-radius: 3px;
 bottom: 50px;
 color: white;
 cursor: pointer;
 display: none;
 font-size: 12px;
 line-height: 10px;
 outline: 0;
 padding: 10px 30px 10px 5px;
 position: fixed;
 right: 50px;
 white-space: nowrap;
 z-index: 1000;
 transition: opacity .1s ease-out;
}
#babToTop:before {
 background-color: rgba(242,242,242,0.9);
 border-radius: 2px;
 content: "";
 height: 20px;
 position: absolute;
 right: 5px;
 top: 5px;
 width: 20px;
}
#babToTop span {
 height: 16px;
 position: absolute;
 right: 7px;
 top: 5px;
 width: 16px;
}
#babToTop span:before {
 color: #009090;
 font-size: 16px;
}
#babToTop .topLinkArrowUp {
 display: inline-block;
 font-size: 0;
 font-style: normal;
 font-variant: normal;
 font-weight: 400;
 line-height: 7px;
 text-decoration: inherit;
 text-transform: none;
}

/** Stage special fonts **/
@media (max-width: 480px) {
 .stg-desc-el {
  font-size: 1em;
 }
 .stg-desc-vi {
  font-family: 'Lobster', cursive!important;
  font-size: 1.4em;
 }
 .stg-desc-ru {
  font-family: 'Bad Script'!important;
  font-size: 1.3em;
 }
 .stg-desc-tr,
 .stg-desc-pl,
 .stg-desc-ro {
  font-family: 'Kaushan Script'!important;
  font-size: 1.5em;
 }
}
@media (min-width: 481px) {
 .stg-desc-el {
  font-size: 1.2em!important;
 }
 .stg-desc-vi {
  font-family: 'Lobster', cursive!important;
  font-size: 1.4em!important;
 }
 .stg-desc-ru {
  font-family: 'Bad Script'!important;
  font-size: 1.3em!important;
 }
 .stg-desc-tr,
 .stg-desc-pl,
 .stg-desc-ro,
 .stg-desc-cs,
 .stg-desc-eo,
 .stg-desc-hu {
  font-family: 'Kaushan Script'!important;
  font-size: 1.5em!important;
 }
}

/** Quizzes general **/
@media (min-width: 481px) {
 .babQzCoverContainer {
  padding-left: 0;
  padding-right: 0;
 }
 .babQzCoverHeadTop {
  float: left;
  width: 25%;
 }
 .babQzImgSrc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: x-small;
  display: block;
 }
 .babQzImg {
  width: 72px;
 }
 .babQzBtnStart {
  margin: 10px 0 10px;
 }
 .babQzDescField {
  display: inline-block;
  width: 50%;
  margin-bottom: 5px;
 }
 .babQzDescFieldTitle {
  width: 100px;
  display: inline-block;
 }
}
/** Quizzes for mobile **/
@media (max-width: 480px) {
  .babQzCoverContainer {
  padding-left: 0px;
  padding-right: 0px;
 }
 
 .babQzCoverHead {
  margin-top: 0;
 }
 
 img.babQzImg {
  width: 72px;
  display: inline-block;
  float: right;
 }
 
 .babQzMyFlags {
  display: inline-block;
  vertical-align: top;
  float: left;
  text-align: left;
  font-size: 1.3em;
 }
 
 .babFlag {
  margin-right: 0;
 }
 
 .babQzLongDesc {
  text-align: justify;
 }
 
 .babQzImgSrc {
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 30%;
  font-size: x-small;
  text-align: right;
  float: right;
 }
 .babQzCoverHeadBottom a {
  text-decoration: none;
 }
 
 .babQzBtnStart {
  margin: 10px 0 10px;
  text-transform: uppercase;
  padding: 10px 0px 10px;
 }
 
 .babQzTitle h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
 }
 .babQzTeaser, .babQzLongDesc {
  font-size: 0.9em;
  text-align: justify;
 }
 .babQzCoverContent {
  clear: both;
 }
 .babQzSrc {
  float: right;
  margin-bottom: 10px;
 }
 .babQzDescField {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.3em;
 }
 .babQzDescFieldTitle {
  font-weight: bold;
 }
 .babQzDescFieldValue {
  font-size: 0.9em;
 }
 .babQzDescFieldLast {
  border: none;
  margin-bottom: 0;
 }
}

.babDictBottomAd {
  margin-top:20px;margin-bottom:20px;
}