
#top_athlitika .article.left .article-image {
width:100%;
}
#oneman-cross-pub .article-image{
    overflow: hidden;
    width: 180px;
}
.newspaper-item .body-newspaper a img{
height:auto !important;
}
.newspaper-item .body-newspaper{
height:210px;
}

.newspaper-item a.year {
padding: 3px 6px 4px;
margin: 10px 4px 20px 0;
font-size: 10px;
}
.authors.stories{
background-color:#fff;
}
#footer ul.menu {    
    margin: 30px 0 0 20px;
}
/*#footer {
height: 915px;
}*/

.ui-widget-content {
display:block;
width:300px;
}

#top_athlitika h2{
font-size: 36px;
font-weight: 800;
}
#top_athlitika_2 h2{
font-size: 32px;
font-weight: bold;
}

/*maris changes*/
.stories .article .summary, .stories .article .related_summary {
font-weight: normal;
}
#politipika .article p {
height: 23px;
}
div.lineborder h2 {
height: 31px;
padding: 5px 0 0 0;
margin: 0;
float: left;
letter-spacing: -.05em;
font-size: 20px;
}
#top ul.menu li.green a {
color: white;
font-weight: bold;
background-color: #A82400;
padding: 4px;
}
#footer a:hover ,#footer a.title:hover{
color: #A72400;
}

#footer ul.upper_menu li a:hover {
color: #A72400;
}

.newspaper-item .body-newspaper a img:hover {
border: #F7F7F7 5px solid;
}

.newspaper-navigation-title-nextprev {
border-bottom: #EEE solid 1px;
padding: 0 0 0 8px;
overflow: hidden;
padding-bottom: 6px;
margin-bottom: 12px;
margin-top: 6px;
}

.newspaper-navigation-title-nextprev h1 {
font-weight: 800;
float: left;
margin: 0;
font-size: 16px;
}



.liveblog .sum {
font-weight: normal;
font-size: 13px;
}

.stories .article .summary, .stories .article .related_summary {
font-weight: normal;
line-height: 1.35em;
color: #333;
}
.stories.mostImportant .box:hover {
background-color: #FC0;
}
.stories.mostImportant .box.header:hover {
background-color: #272727;
}
#top ul.menu li a:hover {
color: #666;
}

.liveblog .blog {
padding: 10px;
text-align: left;
border-bottom: 1px solid #F7F7F7;
padding-left: 20px;
}

.liveblog .sum {
font-weight: bold;
font-size: 12px;
line-height: 1.35;
}

.liveblog .blog .time_published {
color: #999;
font-weight: normal;
font-size: 11px;
}

.liveblog .blog .section{
font-weight: 900;
}

.liveblog img{
display:none;
}

div.light-line {
border-top: 0px solid #CCC;
margin: 10px 0;
overflow: hidden;
}

.storyContent h1.title {
line-height: 1em;
margin-bottom: 20px;
font-weight: 800;
color: #2A2A2A;
font-size: 42px;
margin-top: 10px;
}
.authors.stories .quote:hover {
color: #666;
}

.authors.stories .authorName {
color: #215B87;
font-weight: bold;
font-size: 11px;
margin-top: 10px;
display: block;
}

.stories.paratypos .read {
font-weight: bold !important;
font-style: italic;
color: #A82400 !important;
padding: 0 5px;
font-size: 13px;
}

/*maris newspapers*/
.tags ul li a:hover {
color: #F7F7F7;
background-color: #215B87;
}



.newspaper-item .body-newspaper a img {
height: 250px;
width: 170px;
border: white 5px solid;
}

.newspaper-item .body-newspaper {
height: 225px;
}

.newspaper-item .header li a {
color: #215B87;
font-size: 15px;
font-weight: bold;
line-height: 1;
}



.newspapers .newspapers-container.single-newspaper-bg a img {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 20px solid white;
width: 660px;
}


.authors.stories .article{
    padding: 15px;
    text-align: center;
}



.authors.stories .authorName{
    color: #005FA3;
    font-weight: 900;
    font-size: 12px;
    margin-top: 8px;
    display: block;
    text-align: center;
}
.authors.stories .info {
    color: #666;
    font-size: 11px;
    margin-bottom: 10px;
}

.authors.stories .quote {
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    line-height: 0;
    font-family: Georgia,serif;
}

.authors.stories .article-image {
    text-align: center;
}

stories.default.right h2 {
  font-size: 22px;
 line-height: 1.1;
}

.grid_5 .stories.default .article h2 {
 font-size: 12px;
 line-height: 1.1em;
}
.storyContent .body, .storyContent .prologue {
 font-family: arial, 'Open Sans',sans-serif;
 font-size: 14px;
 color: #292929;
 line-height: 1.5em;
}
#top ul.menu li a:hover {
  color: #A82400;
  background-color: transparent;
}
/*css tickets:251,234,242,250*/
#footer .bottomMenu {
height: 36px;
background: #F8F8F8;
float: left;
clear: both;
width: 100%;
margin-top: 40px;
}

.grid_5 .stories.default .article h2 {
font-size: 13px;
line-height: 1.1em;
}

.grid_5 .stories.default .article h2:hover
{
color: #A82400;
}

.stories.mostImportant h2 {
position: relative;
z-index: 2;
}

#mhn_ta_xasete .article.left .article-image {
margin: 0px 20px 10px 0px;
}

#footer .grid_5 .stories.default .article h2 {
    text-shadow: none;
}

.athlitika .grid_5.omega .stories h2{
clear:both;
}

.athlitika .grid_5.omega .stories img{
width:180px;
}

.storyContent .body a:hover, .storyContent .prologue a:hover, .stories .article .summary p a:hover,.paratypos .tags a:hover,.authors.stories a.authorName:hover {
   color:#fff;
   background-color:#215B87;
   
}
.stories.paratypos .tag {
padding: 0px 5px 0px 0 !important;
}
.authors.stories .authorName {
color: #215B87;
}

.stories.mostImportant .box.header .time {
visibility:hidden;
}

#top ul.menu li {
   padding: 10px 6px;}

#footer ul.menu li {
padding: 10px 6px !important;
font-size: 12px;
border-right: 1px solid #BDBDBD;
}

#footer ul.menu li a {
color: black;
font-weight: 600;
}

#footer ul.menu {
list-style-type: none;
}

#footer ul li {
float: left;
}

#footer ul.menu li.green a {
color: white;
font-weight: bold;
background-color: #A82400;
padding: 4px;
}

#footer ul.menu li a:hover {
color: #A82400;
background-color: transparent;
}

.ece_frontpage.sec #top .submenu {
margin: 20px 0 10px -18px;
}
#top .submenu {
margin: 20px 0 10px 0;
}

#newspaperSliderCntr{
overflow:hidden;
background-color:#eaeaea;
}

.newspaper-navigation-title-nextprev h1 a{
color: #A82400;
background: url(http://news247.gr/latest/article1730777.ece/BINARY/original/zoom.png) left center no-repeat;
height: 30px;
display: block;
padding-left: 38px;
}

.stories.mostImportant .box {
overflow: hidden;
}

