/*
Theme Name:         BKM.com.tr
Theme URI:          http://bkm.com.tr
Description:        BKM.com.tr wordpress theme
Version:            1.0
Author:             Özgür Yazılım A.Ş.
Author URI:         http://ozguryazilim.com.tr/
*/


/* ===== Primary Styles ========================================================
Author: Safak Otur
Twitter: @safakotur
========================================================================== */

/*
* Tools
*******************/
@import url('css/tools.css');
@import url('css/animate.min.css');
@import url('css/validator.css');
@import url('css/custom.css');


/*
* Fonts (import please)
*******************/
@font-face {
  font-family: 'AvenirNext';
  src: url('fonts/AvenirNextLTPro-Regular.eot');
  src: url('fonts/AvenirNextLTPro-Regular.eot#iefix') format('embedded-opentype'), url('fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Regular.svg#AvenirNext') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('fonts/AvenirNextLTPro-Bold.eot');
  src: url('fonts/AvenirNextLTPro-Bold.eot#iefix') format('embedded-opentype'), url('fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('fonts/AvenirNextLTPro-Bold.svg#AvenirNext') format('svg');
  font-weight: bold;
  font-style: normal;
}


/*
* Body
*******************/
html, body { height: 100%; }
html { -webkit-font-smoothing: antialiased; }
body { background: #f2f4f7; font-family: 'AvenirNext', Helvetica, Arial; }
.container { width: 990px; margin: 0 auto; }
.overlay { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 8; display: none; }
#main, #aspnetForm { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -160px; }
body.iframe { background: transparent; }
.bold { font-weight: bold; }

/*
* Header
*******************/
#header {  }
#header #h-holder { position: relative; width: 990px; margin: 0 auto; }
#header #header-top { background: url('images/header-bg.png') repeat-x left top; width: 100%; height: 90px; }
#header #header-top #logo { background: url('images/logo.png') no-repeat left top; width: 85px; height: 52px; margin: 18px 0 0 0; float: left; }
#header #header-top #top-menu { float: left; font-weight: bold; margin: 0 0 0 10px; }
#header #header-top #top-menu .dropdown-list > a { color: #696b70; font-size: 12px; float: left; margin: 0; display: block; height: 89px; padding: 0 10px; line-height: 105px; text-decoration: none; text-align: center; border-left: 1px solid transparent; border-right: 1px solid transparent; border-top-width: 0; border-bottom-width: 0; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; }
#header #header-top #top-menu .dropdown-list > a span { float: left; }
#header #header-top #top-menu .dropdown-list > a .arrow-down { width: 0;  height: 0;  border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid #696b70; float: left; margin: 49px 0 0 5px; }
#header #header-top #top-menu .dropdown-list > a:hover, #header #header-top #top-menu > .dropdown-list > .active > a { background: url('images/menu-hover.png?v2') repeat-x left top; border-left-color: #dfdfdf; border-right-color: #dfdfdf; }
#header #header-top #top-menu .dropdown-list { float: left; }
#header #header-top #search-box { float: right; margin: 30px 0 0 0; position: relative; width: 130px; height: 50px;}
#header #header-top #search-box > input[type="text"] { width: 64px; border-radius: 30px; height: 29px; border: 1px solid #e1e1e1; margin: 0; box-shadow: none; padding: 5px 50px 3px 15px; font-size: 12px; position: absolute; left: 0; top: 0; z-index: 0;}
#header #header-top #search-box > input[type="submit"] { background: url('images/submit-btn.png') no-repeat; width: 42px; height: 37px; display: block !important; border: none; top: 1px; position: absolute; right: 0; z-index: 9; }
#header #header-top #top-menu .dropdown-list > .menu-dropdown { background: url('images/transparent.png') repeat left top; width: 100%; min-height: 50px; position: absolute; z-index: 9; /*top: 89px; this attribute changed for wp-admin margin problem */ margin-top: 89px; left: 0; display: none; }
#header #header-top #top-menu .dropdown-list.active > .menu-dropdown { display: block; }

#header .menu-dropdown nav { overflow: hidden; line-height: 30px; padding: 10px 0 5px;}
#header .menu-dropdown nav a { color: #fff; font-size: 12px; font-weight: 600; text-decoration: none; display: block; float: left; margin: 0 15px 0 0;}
#header .menu-dropdown nav a i { width: 0;  height: 0;  border-left: 3px solid #fff; border-bottom: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid transparent; float: left; margin: 10px 0px 0 0; float: left;}
#header .menu-dropdown nav a span { float: left; margin: 0 0 0 5px; }
#r-btn { display: none !important; }
#r-menu { display: none; visibility: hidden; height: 0; }

/*
* Homepage Content
*******************/
#homepage-content { margin: 30px 0 0 0; }
#homepage-content .box { padding: 20px; color: #fff; position: relative; display: block; background-size: cover !important; border-radius: 15px; }
#homepage-content .box h3 { margin: 5px 0 3px; opacity: .8; left: 0px; bottom: 0px; font-size: 26px; line-height: 30px; padding:3px 0 0 0;}
#homepage-content a.box h3, #homepage-content .no-link.box h3 { padding: 20px 0 0 14px; opacity: 1 }
#homepage-content a.box h3 span, #homepage-content .no-link.box h3 span {opacity: .8}
#homepage-content .box p { margin: 0; opacity: .8; }
#homepage-content .box .info-btn { background: url('images/detail-btn.png') no-repeat left top; text-align: center; display: block; height: 45px; width: 200px; position: absolute; bottom: 20px; left: 20px; color: #fff; text-decoration: none; font-weight: bold; line-height: 45px;}
#homepage-content .box .info-btn.big { background: url('images/big-detail-btn.png') no-repeat left top; width: 268px; }
#homepage-content .box .info-btn > span { -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; }
#homepage-content .box .info-btn:hover > span { opacity: 1; }

/* Left Area */
#homepage-content #left-area { width: 650px; float: left; position: relative;  }
#homepage-content #left-area #myCarousel { border: 1px solid #dfe1dc; border-radius: 15px; }
#homepage-content #left-area #myCarousel img {  }
#homepage-content #left-area #myCarousel .carousel-caption { z-index: 2; background: transparent; }
#homepage-content #left-area #slider-frame { background: url('images/slider-mask.png') no-repeat left top; width: 653px; height: 314px; position: absolute; top: 0; left: 0; z-index: 4; }
#homepage-content #left-area #myCarousel .carousel-caption h4 { color: #c0f6ff; font-size: 20px; text-transform: uppercase; margin: 3px 0 0 0; line-height: 22px;}
#homepage-content #left-area #myCarousel .carousel-indicators.bottom { bottom: 22px; right: 20px; top: auto; }
#homepage-content #left-area #myCarousel .item a {width: 100%; height: 312px; position: relative; display: block;}
#homepage-content #left-area #myCarousel .item a h3 { position: absolute; left: 20px; bottom: 8px; z-index: 6; color: #c0f6ff; font-size: 20px; margin: 0; opacity: 0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out;  }
#homepage-content #left-area #myCarousel .item.active a > h3 { opacity: 1; }
#homepage-content #left-area #yellow-box { background: url('images/yellow-box.png') no-repeat left top; width: 200px; height: 173px; float: left; }
#homepage-content #left-area #orange-box { background: url('images/orange-box.png') no-repeat left top; width: 355px; height: 173px; float: right; }
#homepage-content #left-area #orange-box > h3 { position: absolute; margin: 0; font-size: 20px; width:381px; height:47px; background: url('images/orange-box-w.png') no-repeat right bottom; }


/* Right Area */
#homepage-content #right-area { width: 320px; float: right;  position: relative;  }
#homepage-content #right-area #green-box { background: url('images/green-box.png') no-repeat left top; width: 280px; height: 155px; }
#homepage-content #right-area #green-box h3 { position: absolute; margin: 0; font-size: 20px; width:305px; height:47px; background: url('images/green-box-w.png') no-repeat right bottom; }
#homepage-content #right-area #blue-box { background: url('images/blue-box.png') no-repeat left top; width: 280px; height: 290px; position: relative; margin: 21px 0 0 0; }
#homepage-content #right-area #blue-box h3 { position: absolute; margin: 0; font-size: 20px; width:305px; height:47px; background: url('images/blue-box-w.png') no-repeat right bottom; }
#green-box-m { background: url('images/green-box.png') no-repeat left top; width: 280px; height: 155px; display: none !important; }
#m-area { display: none !important; }

/* Bottom Area */
#homepage-content #bottom-area { margin: 15px auto 0; }
#homepage-content #bottom-area .box { float: left; }
#homepage-content #bottom-area #blue-box-2 { background: url('images/blue-box-2.png') no-repeat left top; width: 200px; height: 173px; position: relative; margin-right: 10px; }
#homepage-content #bottom-area #green-box-2 { background: url('images/green-box-2.png') no-repeat left top; width: 200px; height: 173px; position: relative; margin-right: 10px; }
#homepage-content #bottom-area #purple-box { background: url('images/purple-box.png') no-repeat left top; width: 200px; height: 173px; position: relative; }
#homepage-content #bottom-area #purple-box h3 { position: absolute; margin: 0; font-size: 20px; width:226px; height:47px; background: url('images/purple-box-w.png') no-repeat right bottom; }
#homepage-content #bottom-area #green-box-3 { background: url('images/green-box-3.png') no-repeat left top; width: 200px; height: 173px; position: relative; margin-right: 10px; }

/*
* Single Page Content
*******************/
#single-page {  }

#single-page #breadcrumb { color: #525252; font-size: 14px; overflow: hidden; margin: 15px 0; }
#single-page #breadcrumb a { color: #525252; text-decoration: none; font-weight: 400;  }
#single-page #breadcrumb a.active { font-weight: bold; }
#single-page #breadcrumb span {  }

#single-page #page-cover { background: #a67d59; width: 100%; height: 150px; color: #fff; }
#single-page #page-cover h2 { font-size: 36px; font-weight: 400; margin: 58px 0 0; }

#single-page #single-content { background: #fff; border: 1px solid #ececec; border-radius: 10px; padding: 0 0 20px; overflow: hidden;}
#single-page #single-content #sidebar { background: url('images/sidebar-shadow.png') no-repeat right top; float: left; width: 310px; min-height: 800px; margin-right: 15px; }
#single-page #single-content #sidebar > h3 { height: 52px; margin: 0; font-size: 16px; color: #fff; padding: 0 20px; width: 236px; line-height: 54px; }

#single-page #single-content .article-area { float: right; width: 620px; padding: 45px 45px 0 0; color: #676767; font-size: 14px; }
#single-page #single-content .article-area > h2 { margin: 0 0 30px; font-size: 22px; line-height: 26px; }
#single-page #single-content .article-area > h3 { line-height: 32px; }
#single-page #single-content .article-area > .lead { font-size: 22px; font-weight: 400; line-height: 26px; }
#single-page #single-content .article-area > p { margin: 0 0 20px; }
.article-area a { color: #9c6f48; text-decoration: none; }
.article-area a:hover { text-decoration: underline; }
.article-area a:visited { }
#single-page #single-content .article-area > h4 { font-size: 22px; margin: 0 0 25px; }

#sidebar-sticky-wrapper { float: left; width: 310px; margin-right: 15px; }
#sidebar-sticky-wrapper.is-sticky h3 { border-radius: 0; }
#sidebar > h3 { -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; }

#sidebar .list-menu { font-size: 14px; margin: 5px 20px 0; overflow: hidden; width: 235px; font-weight: 500; }
#sidebar .list-menu a { color: #676767; padding: 10px 10px 7px; margin: 0; border-bottom: 1px solid #ececec; display: block; text-decoration: none; line-height: 20px; border-radius: 5px;}
#sidebar .list-menu { list-style-type: none;  }

#sidebar .list-menu ul { overflow: hidden; font-size: 14px; margin: 0; display: none; }
#sidebar .list-menu .active ul { display: block; }
#sidebar .list-menu ul li { display: block; }
#sidebar .list-menu a { display: block; overflow: hidden;}
#sidebar .list-menu a i { background: url('images/right-arrow.png') no-repeat left top; width: 10px; height: 10px; float: left; margin: 5px;}
#sidebar .list-menu li.active ul li.active a i {
  background: url('images/right-white-arrow.png') no-repeat left top;
}
#sidebar .list-menu a span { float: left; width: 190px;}
#sidebar.default .list-menu li.active li.active a { border-radius: 5px; }
#single-page #single-content #sidebar > h3 {  }

/* Default Style */
#single-page.default #page-cover { background: #a67d59 url('images/default-cover.png') no-repeat center top; width: 100%; background-position: center; background-size: cover; }
#single-page.default #single-content #sidebar > h3 { background: #9c6f48; }
#single-page.default #single-content .d-drop { background: #a67d59; }
#single-page.default #sidebar .list-menu li a { }
#single-page.default #sidebar .list-menu li.active > a { background: #9c6f48; color: #fff; }
#single-page.default #sidebar .list-menu li.active li.active a { background: rgba(156, 111, 72, 0.8); color: #fff; }
#single-page.default #sidebar .list-menu a:hover { color: #8d6d4a; }

/* Blue Style */
#single-page.blue #page-cover { background: #1275d3 url('images/blue-cover.png') no-repeat center top; width: 100%; background-position: center; background-size: cover; }
#single-page.blue #single-content #sidebar > h3 { background: #1275d3; }
#single-page.blue #single-content .d-drop { background: #1275d3; }
#single-page.blue #sidebar .list-menu li a { }
#single-page.blue #sidebar .list-menu li.active > a { background: #1275d3; color: #fff; }
#single-page.blue #sidebar .list-menu li.active li.active a { background: #1275d3; color: #fff; }
#single-page.blue #sidebar .list-menu a:hover { color: #1275d3; }

/* Yellow Style */
#single-page.yellow #page-cover { background: #fcb712; width: 100%; background-position: center; background-size: cover; }
#single-page.yellow #single-content #sidebar > h3 { background: #fcb712; }
#single-page.yellow #single-content .d-drop { background: #fcb712; }
#single-page.yellow #sidebar .list-menu li a { }
#single-page.yellow #sidebar .list-menu li.active > a { background: #f7f6f4; color: #fcb712; }
#single-page.yellow #sidebar .list-menu li.active li.active a { background: #fcb712; color: #fff; }
#single-page.yellow #sidebar .list-menu a:hover { color: #fcb712; }

/* Green Style */
#single-page.green #page-cover { background: #a7bc2d; width: 100%; background-position: center; background-size: cover; }
#single-page.green #single-content .d-drop { background: #a7bc2d; }
#single-page.green #single-content #sidebar > h3 { background: #a7bc2d; }
#single-page.green #sidebar .list-menu li a { }
#single-page.green #sidebar .list-menu li.active > a { background: #f7f6f4; color: #a7bc2d; }
#single-page.green #sidebar .list-menu li.active li.active a { background: #a7bc2d; color: #fff; }
#single-page.green #sidebar .list-menu a:hover { color: #a7bc2d; }

/* Orange Style */
#single-page.orange #page-cover { background: #fb5700; width: 100%; background-position: center; background-size: cover; }
#single-page.orange #single-content .d-drop { background: #fb5700; }
#single-page.orange #single-content #sidebar > h3 { background: #fb5700; }
#single-page.orange #sidebar .list-menu li a { }
#single-page.orange #sidebar .list-menu li.active > a { background: #f7f6f4; color: #fb5700; }
#single-page.orange #sidebar .list-menu li.active li.active a { background: #fb5700; color: #fff; }
#single-page.orange #sidebar .list-menu a:hover { color: #fb5700; }

/* Purple Style */
#single-page.purple #page-cover { background: #ae72b6 url('images/purple-cover.jpg') no-repeat center top; width: 100%; background-position: center; background-size: cover; }
#single-page.purple #single-content .d-drop { background: #ae72b6; }
#single-page.purple #single-content #sidebar > h3 { background: #ae72b6; }
#single-page.purple #sidebar .list-menu li a { }
#single-page.purple #sidebar .list-menu li.active > a { background: #ae72b6; color: #fff; }
#single-page.purple #sidebar .list-menu li.active li.active a { background: #ae72b6; color: #fff; }
#single-page.purple #sidebar .list-menu a:hover { color: #ae72b6; }

/* Light Blue Style */
#single-page.lightblue #page-cover { background: #1f9ce3; width: 100%; background-position: center; background-size: cover; }
#single-page.lightblue #single-content .d-drop { background: #1f9ce3; }
#single-page.lightblue #single-content #sidebar > h3 { background: #1f9ce3; }
#single-page.lightblue #sidebar .list-menu li a { }
#single-page.lightblue #sidebar .list-menu li.active > a { background: #1f9ce3; color: #fff; }
#single-page.lightblue #sidebar .list-menu li.active li.active a { background: #1f9ce3; color: #fff; }
#single-page.lightblue #sidebar .list-menu a:hover { color: #1f9ce3; }

/* Light Green Style */
#single-page.lightgreen #page-cover { background: #46b244; width: 100%; background-position: center; background-size: cover; }
#single-page.lightgreen #single-content .d-drop { background: #46b244; }
#single-page.lightgreen #single-content #sidebar > h3 { background: #46b244; }
#single-page.lightgreen #sidebar .list-menu li a { }
#single-page.lightgreen #sidebar .list-menu li.active > a { background: #46b244; color: #fff; }
#single-page.lightgreen #sidebar .list-menu li.active li.active a { background: #46b244; color: #fff; }
#single-page.lightgreen #sidebar .list-menu a:hover { color: #46b244; }

/* Turquoise Style */
#single-page.turquoise #page-cover { background: #0099cc; width: 100%; background-position: center; background-size: cover; }
#single-page.turquoise #single-content .d-drop { background: #0099cc; }
#single-page.turquoise #single-content #sidebar > h3 { background: #0099cc; }
#single-page.turquoise #sidebar .list-menu li.active > a { background: #0099cc; color: #fff; }
#single-page.turquoise #sidebar .list-menu li.active li.active a { background: #0099cc; color: #fff; }
#single-page.turquoise #sidebar .list-menu a:hover { color: #0099cc; }

/* Gray Style */
#single-page.gray #page-cover { background: #333333; width: 100%; background-position: center; background-size: cover; }
#single-page.gray #single-content .d-drop { background: #333333; }
#single-page.gray #single-content #sidebar > h3 { background: #333333; }
#single-page.gray #sidebar .list-menu li.active > a { background: #333333; color: #fff; }
#single-page.gray #sidebar .list-menu li.active li.active a { background: #333333; color: #fff; }
#single-page.gray #sidebar .list-menu a:hover { color: #333333; }

.social-link {width: 100%; overflow: hidden; margin: 25px 0 0 0; float: right;}
.post .social-link {
  width: auto;}
  .social-link a { background: url('images/footer-social.png') no-repeat left top; width: 33px; height: 33px; float: left; margin: 0 0 0 5px; }
  .social-link .fb-btn { background-position: 0 0; margin: 0 0 0 25px; }
  .social-link .tw-btn { background-position: -38px 0; }
  .social-link .gp-btn { background-position: -76px 0; }
  .social-link .yt-btn { background-position: -114px 0; }
  .social-link .it-btn { background-position: -154px 0; }
  .social-link .li-btn { background-position: -192px 0; }


  /*
  * Footer
  *******************/
  .ghost-footer { height: 120px; margin: 30px 0 0 0; }
  #footer { height: 140px; background-color: #fff; margin: 30px 0 0 0; border: 1px solid #dbdde0; }
  #footer #footer-logo { background: url('images/footer-logo.png') no-repeat left top; width: 70px; height: 44px; float: left; display: block; margin: 30px 0 0 0; }
  #footer #bottom-nav { float: left; margin: 43px 0 0 30px;  font-size: 12px;}
  #footer #bottom-nav a { float: left; color: #313131; margin: 0 15px 0 0; border-right: 1px solid #dadada; padding: 0 15px 0 0; text-decoration: none; }
  /* used :last-child instead of .last
  #footer #bottom-nav a.last { border-right: 0; } */
  #footer #bottom-nav a:last-child { border-right: 0; }
  #footer #footer-social { float: right; }
  #footer #footer-social a { background: #f5f5f5 url('images/social-set-2.png') no-repeat left top; width: 34px; height: 34px; float: left; margin: -9px 5px;}
  #footer #footer-social #fb { background-position: 0 0; }
  #footer #footer-social #tw { background-position: -39px 0; }
  #footer #footer-social #yt { background-position: -115px 0; }
  #footer #footer-social #ln { background-position: -150px 0; }
  #footer #footer-social #gp { background-position: -52px 0; }
  #footer #credits { float: right; margin: 47px 0 0 0; font-size: 12px;}
  #footer #credits span { float: left; border-right: 1px solid #dadada; padding: 0 10px 0 0; margin: -1px 10px 0 0; }
  #bottom-menu { position: fixed; left: 0; bottom: 0; width: 100%; height: 70px; z-index: 9;}
  #bottom-menu .rounded-bg { background: url('images/pull-bg.png') no-repeat left top; width: 227px; height: 36px; margin: -2px auto; overflow: hidden; }
  #bottom-menu #orange-btn { background: url('images/orange-btn.png') no-repeat left top; width: 44px; height: 44px; display: block; position: absolute; left: 50%; margin: -21px 0 0 -22px; }
  #bottom-menu #orange-btn.down { background-position: 0 -60px; }
  #bottom-menu #bottom-menu-inner { background: #1f222a; width: 100%; height: 100%; }
  #menu-boxes { margin: 50px 0 0 0; overflow: hidden; }
  #menu-boxes .menu-box { background: url('images/bottom-boxes.png') no-repeat left top; width: 117px; height: 87px; display: block; float: left; color: #fff; text-decoration: none; padding: 15px; font-size: 18px; line-height: 24px; margin: 0 21px 21px 0; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }
  #menu-boxes .menu-box.clr2 { background-position: -155px 0; }
  #menu-boxes .menu-box.clr3 { background-position: -308px 0; }
  #menu-boxes .menu-box.clr4 { background-position: -462px 0; }
  #menu-boxes .menu-box:hover { opacity: .8; }

  #menu-boxes.v2 .menu-box { background: url('images/bottom-boxes-2.png') no-repeat left top; }
  #menu-boxes.v2 .menu-box.clr2 { background-position: 0px 0; }
  #menu-boxes.v2 .menu-box.clr3 { background-position: -168px 0; }
  #menu-boxes.v2 .menu-box.clr4 { background-position: -334px 0; }
  #menu-boxes.v2 .menu-box.clr5 { background-position: -502px 0; }


  /*
  * Search Result
  *******************/
  .result-title { color: #676767; font-weight: normal; padding: 40px 50px; margin: 0; }
  .result-title > b { font-weight: bold; }
  .result-box { padding: 30px 50px; }
  .result-box:nth-child(2n) { background: #f9f9f9; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
  .result-box > p {  }
  .result-box > a { color: #676767; text-decoration: none; font-weight: 600; }


  /*
  * Press
  *******************/
  .pdf-icon { background: url('Upload/sayfa_gorseller/pdf-icon.png') no-repeat; width: 38px; height: 47px; float: left;display: inline-block; }
  .pdf-link { display: table-cell; padding: 0 0 0 15px; color: #666 !important; font-weight: bold; width: 465px;vertical-align: middle; height: 50px;}
  .pdf-link:hover, .pdf-link:active { color: #ccc; text-decoration: none; }
  .pdf-box { overflow: hidden; margin: 0 0 15px;  }


  /*
  * Image Boxes
  *******************/
  .image-w-box { overflow: hidden; }
  .image-w-box .image-w { float: left; width: 190px;}
  .image-w-box .image-info { float: left; margin: 0 0 0 15px; width: 415px; }
  .image-w-box .image-info h3 { font-size: 18px; margin: 0 0 5px; line-height: 24px; }
  .image-w-box .image-info p { font-size: 14px; }

  /*
  * Image Box
  *******************/
  .img-bx { width: 173px; float: left; margin: 0 50px 50px 0; position: relative; }
  .img-bx > img { display: block; position: absolute; top: 50%; left: 50%; margin: -15% 0 0 -43%; }

  .thumb-box { width: 173px; float: left; height: 150px; margin: 0 50px 70px 0; position: relative; }
  .thumb-box img { display: block;}

  .pdf-b.v2 { width: 173px; float: left; margin: 0 50px 20px 0; position: relative; min-height: 110px;}
  .pdf-b.v2 .pdf-b-image { border: none !important; }
  .pdf-b.v2 .pdf-b-image img { display: block; width: 173px% !important; }


  /*
  * PDF Boxes
  *******************/
  .pdf-b { width: 135px; float: left; min-height: 275px; margin: 0 20px 20px 0; padding: 0; }
  .pdf-b a { color: #676767 !important; }
  .pdf-b a:hover { font-weight: bold; }
  .pdf-b-image { display: block; margin: 0 auto; position: relative; border: 1px solid#f4f4f4;}
  .pdf-b-image .pdf-i { background: url('images/pdf-small.png') no-repeat left top; width: 18px; height: 22px; position: absolute; bottom: 0; right: 0; }
  .pdf-text { display: block; text-align: center; margin: 10px; text-decoration: none !important; }


  /*
  * Press Release
  *******************/
  .press-list-styled .ui-accordion-link { color: #676767; font-weight: bold; font-size: 16px; text-decoration: none; cursor: pointer; outline: none !important; border: 1px solid #eee; padding: 16px 16px 14px; border-radius: 10px; line-height: 22px; background: transparent url('images/collapse-arrow-2.png') no-repeat 99% 50% !important; margin: 15px 0 0 0;}
  .press-list-styled .ui-accordion-link:hover { text-decoration: none !important; }
  .press-list-styled { margin: 0 0 0 0; list-style: none; }
  .press-list-styled > li { padding: 0 !important; margin: 0; background: transparent !important;}
  /* .press-list-styled img { display: none; } */
  .press-list-styled li > div { margin: 10px 0 0 0; padding: 0;}
  .press-list-styled td { font-size: 14px; color: #333; text-align: left; width: 200px; line-height: 23px;}
  .press-list-styled td > a { color: #8d6d4a; font-weight: bold; }
  .press-list-styled .ui-accordion-content { margin: 20px; }


  /*
  * Default List
  *******************/
  .article-area ul { list-style: none; margin: 10px 0 0 0; }
  .article-area ul li { background: url('images/bullet-icon-1.png') no-repeat 0 4px; padding-left: 20px; }
  .article-area .brown-list li { background: url('images/bullet-icon-2.png') no-repeat 0 4px; padding-left: 20px; }
  .article-area ul li a { }
  .article-area ul li ul {  }
  .article-area hr { margin: 5px 0 10px; }
  .default-list { margin: 0; padding: 0; list-style: none; }
  .default-list li {  }
  .default-list li > div { padding: 0 !important; }
  .default-list li > div > ul { list-style: none; margin: 10px 20px; padding: 0; }
  .default-list li a { padding: 0 !important; outline: none !important; }

  /*
  * Date Post
  *******************/
  .center-image { display: block; margin: 10px auto; }
  .fancy-custom { padding: 0 !important; }
  .fancy-custom .fancybox-close { background: url('images/custom-close.png') no-repeat left top; top: 10px; right: 10px; width: 50px; height: 50px;}
  .fancy-custom .fancybox-skin { background: #a8805b; border-radius: 20px; padding: 10px !important;  }
  .fancy-custom .fancybox-inner { padding: 0 !important;}
  .fancy-custom .fancybox-outer { }
  .l-set { width: 40px; height: 303px; position: absolute; z-index: 9; left: -40px; top: 50px; }
  .l-set a { background: url('images/lightbox-set.png') no-repeat; width: 40px; display: block; }
  .l-set .pdf-btn { background-position: 0 0; height: 80px;  }
  .l-set .share-title { background: url('images/lightbox-set.png') 0 -103px; height: 81px;  margin: 15px 0 0 0;}
  .l-set .twitter-btn { background-position: 0 -184px; height: 40px;  }
  .l-set .facebook-btn { background-position: 0 -224px; height: 40px;  }
  .l-set .google-btn { background-position: 0 -264px; height: 40px;  }

  .cnt-box { float: left; width: 430px; margin: 10px 0 0 0; }
  .img-box { float: left; width: 180px; margin: 10px 10px 0 0; }
  .img-box img {  }
  .default-bar { padding: 10px; color: #6B6B6B; border-top: 1px solid #CACACA;}
  .default-bar .first-t { font-weight: bold; }
  .default-bar .second-t { text-transform: uppercase; }
  .default-bar-title { border: 1px solid #CACACA; margin: 20px 0 0 0; padding: 5px 10px; float: left; border-bottom: 0; color: #666; font-weight: normal; }

  #lang-bar #qtranslate-chooser { background: url('images/lang-bar.png') no-repeat left top; width: 73px; height: 23px; position: absolute; top: -1px; right: 0; }
  #lang-bar #qtranslate-chooser a, #lang-bar #qtranslate-chooser li { display: block; float: left; width: 35px; text-align: center; line-height: 24px; color: #666; font-size: 12px; text-decoration: none;}
  #lang-bar #qtranslate-chooser li.active a { font-weight: bold; }

  /* lang-bar changed to qtranslate-chooser
  #lang-bar { background: url('images/lang-bar.png') no-repeat left top; width: 73px; height: 23px; position: absolute; top: -1px; right: 0; }
  #lang-bar a { display: block; float: left; width: 35px; text-align: center; line-height: 24px; color: #666; font-size: 12px; text-decoration: none;}
  #lang-bar a.active { font-weight: bold; }
  */

  /*
  * 404
  *******************/
  .error-area { text-align: center; color: #676767; margin-top: 20px}
  .error-area #paper-plane { background: url('images/404-image.png') no-repeat right top; width: 647px; height: 263px; margin: 50px -45px 0 0; float: right;}
  .error-area h2 { color: #676767; font-size: 20px; line-height: 28px; font-weight: bold; margin-bottom: 20px;}
  .error-area h3 { font-size: 18px; font-weight: normal; line-height: 22px; margin: 0; }
  .error-area p { font-size: 18px; margin-bottom: 30px; }
  .error-area .orange-btn { background: #ff6b3a; text-decoration: none !important; padding: 15px 40px; display: block; width: 100px; margin: 20px auto; border-radius: 30px; color: #fff; font-weight: bold; margin-top: 0; }


  /*
  * Others
  *******************/
  .mansetDisLnk { position: absolute !important; top: 0 !important; left: 0 !important; height: 250px !important; width: 100% !important; z-index: 9 !important; }

  .iframe-area {  }
  .iframe-area .input-box { overflow: hidden; margin: 0 0 10px; }
  .iframe-area .input-box label {  }
  .iframe-area .input-box input { background: #f6f6f6; border: 1px solid #e1e1e1; padding: 15px; border-radius: 30px; width: 300px; }
  .iframe-area .login-stuff { width: 300px;  }
  .iframe-area  #login-btn { font-family: 'AvenirNext'; background: #ff6b3a; padding: 15px 60px; border: none; border-radius: 30px; color: #fff; font-weight: bold;  }
  .iframe-area .remember-link { color: #676767; text-decoration: underline; margin: 15px 0 0 0; }
  .member-tab { list-style: none; overflow: hidden; margin: 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 8px 10px; }
  .member-tab li { float: left; margin-right: 10px; overflow: hidden; }
  .member-tab li a { color: #676767; text-decoration: none; float: left; }
  .member-tab li .down-arrow { border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #ccc; float: right; margin: 7px 0 0 10px; }
  .member-tab li.sep { border-right: 1px solid #ccc; height: 20px; width: 0; }
  .shortCuts { list-style: none; overflow: hidden; margin: 10px 0; padding: 8px 0;  }
  .shortCuts a { float: left; color: #676767; border-right: 1px solid #ccc; height: 20px; margin: 0 5px; padding-right: 10px;}
  .shortCuts a:last-child { border-right: none; }


  #member-content { margin-left: 10px; }

  #member-content .select-box { float: left; margin-right: 15px; }
  #member-content .select-box select { width: 140px; }
  #member-content .xls-btn { float: left; font-family: 'AvenirNext'; background: #ff6b3a; padding: 15px 30px; border: none; border-radius: 30px; color: #fff; font-weight: bold; margin: 15px 0 0; }

  #member-content .title { font-size: 22px; line-height: 24px; margin: 0 0 20px; overflow: hidden; }
  #member-content .title span { float: left; }
  #member-content .title a { float: left; margin-left: 30px; font-size: 14px; color: #333; }
  #member-content .gridview { margin: 10px 0 0; }
  #member-content .gridview a { color: #333; }
  #member-content .gridview td { padding: 8px 15px; }
  #member-content .gridview tr { background: #fff; border: 1px solid #eeeeee; }
  #member-content .gridview tr td:last-child { border-left: 1px solid #eee; }
  #member-content .gridview tr:nth-child(2n) { background: #f6f6f6; }
  #member-content .gridview tbody th { background: #a67d59; color: #fff; border-right: 1px solid #ccc; padding: 5px; }
  #member-content .gridview .edit-icon { background: url('images/edit-icon.png') no-repeat 0 0; width: 17px; height: 18px; display: block; margin: 0 auto; display: block; }
  #member-content .controls input[type="submit"] { font-family: 'AvenirNext'; background: #ff6b3a; padding: 15px 30px; border: none; border-radius: 30px; color: #fff; font-weight: bold; margin: 0; outline: none;}
  #member-content .row { margin-left: 0 !important; }

  .sitemap-list { margin: 20px 40px 20px 0 !important; }
  .sitemap-list .sm-title { font-size: 18px; font-weight: bold; margin-left: -20px; background: transparent !important; }
  .sitemap-list li { background: url('images/bullet-icon-2.png') no-repeat 1px 2px !important; padding: 0 0 10px 22px; }
  .sitemap-list ul { margin: 0; }
  .sitemap-list ul ul { margin-left: 20px; }
  .sitemap-list ul li {  }
  .sitemap-list ul li ul { margin-left: 20px; }

  .d-drop { display: none; }
  .d-drop ul>li.active>ul {display: block;}

  .pdf-btn { background: url('Upload/sayfa_gorseller/pdf-icon.png') no-repeat; display: block; height: 50px; padding: 15px 0 0 50px; color: #676767 !important; font-size: 16px; }
  .article-area h5.v2 { margin: 20px 0; }


  .year-detail { position: relative; margin: 0 0 40px;}
  .point { background: url('images/brown-point.png') no-repeat left top; width: 17px; height: 17px; position: absolute; top: 0; left: -20px; }
  .accordion-detail { margin: 0px 0 0 20px !important; padding-left: 20px !important; position: relative; background: url('images/bg-border.png') repeat-y 7px 0;}
  .img-hold { float: left; width: 100px; height: 100px; display: block; margin: 0 0 0 20px;}
  .img-hold img { display: block; }
  .year-info p { /*width: 405px;*/ margin: 0 0 0 0; float: right; }
  .point-title { color: #a67d59; font-size: 20px; margin: 15px 20px; }

  #lang-btns #qtranslate-chooser { border-bottom: 1px solid #eee; padding: 0; height: 43px; margin:0; }
  #lang-btns #qtranslate-chooser li { list-style:none; float:left; }
  #lang-btns #qtranslate-chooser li a, #lang-btns #qtranslate-chooser li { width: 49%; display: block; text-align: center; color: #424241; height: 43px; text-decoration: none; line-height: 42px;}
  #lang-btns #qtranslate-chooser li a {width: 100%;}
  #lang-btns #qtranslate-chooser li a:hover { background: #A36F43; color: #fff; }
  #lang-btns #qtranslate-chooser li:first-child { border-right: 1px #eee solid; }

  /* lang-btns changed to qtranslate-chooser
  #lang-btns { border-bottom: 1px solid #eee; padding: 0; height: 43px; }
  #lang-btns > a { width: 149px; text-align: center; color: #424241; height: 43px; text-decoration: none; line-height: 42px;}
  #lang-btns > a:hover { background: #A36F43; color: #fff; }
  #lang-btns .sep { width: 1px; height: 43px; background: #eee; display: block; float: left; } */

  .c-table { font-weight: bold; border-radius: 0 !important; }
  .c-table thead { background: #a67d59; color: #fff; border-radius: 0 !important; }
  .c-table thead th { border-radius: 0 !important; }
  .c-table td { border-radius: 0 !important; }

  /*
  * EN Page
  *******************/
  .en-page {  }
  .en-page #header #header-top #top-menu .dropdown-list > a { padding: 0 7px !important; }
  .en-page #homepage-content .box h3 { margin: 0 0 3px !important; }
  .en-page #menu-boxes .menu-box { font-size: 14px; }

  .appbuton {
    display: inline-block;
    width: 90px;
  }
  /*@media only screen and (max-width : 768px)  {
  .appbuton {width: 25%;}
  }*/
  /*@media only screen and (max-width: 1024px) {
  #top-menu, #header #h-holder, #ctl00_pnlSearch {display: block!important;}
  #top-menu{position: absolute!important;}
  .dropdown-list{display: block!important;float: none!important;width: 100%!important;z-index: 99999!important;position: relative!important;}
  #header #header-top #top-menu .dropdown-list > a {width: 100%;float:none!important;height: 30px!important;line-height: 30px!important;}
  }*/
  .send-btn {float: right;cursor: pointer;}

  /* pagination */
  .pagination { text-align: center; }
  .pagination a, .pagination span { height: 20px; padding: 10px 10px 7px 10px; border-radius: 5px; color: #fff; }
  .pagination a, .pagination span { background: #9c6f48; }
  .pagination a:hover, .pagination span:hover{ background: rgba(156, 111, 72, 0.8); text-decoration:none; }

  /* blog */

  #single-page.default.blog #page-cover { background: #5ca884 url('images/blog-cover.png') no-repeat center top;}
  #single-page.default.blog #single-content #sidebar > h3 {background-color: #5ea986;}
  #single-page.default.blog #sidebar .list-menu li.active > a {background-color: #5ea986;}
  #sidebar.hidden-xs .widget {
    width: 234px;
    margin-bottom: 30px;
  }
  #sidebar.hidden-xs h4 {
    font-weight: 500;
  }
  #sidebar.hidden-xs .list-menu a span {width: auto;float: none;}
  #sidebar.hidden-xs .list-menu a span.badge {float: right;background: rgba(156, 111, 72, 0.8);}

  #sidebar.hidden-xs .widget .thumb-box .t-img img {
    display: block;
    border-radius: 5px;
    height: 60px;
    width: 60px;
  }
  #sidebar.hidden-xs .widget .thumb-box .t-img img[src="/upload/blog/noblogimage.png"] {
    padding: 22px;
    width: 16px;
    height: 16px;
  }
  #sidebar.hidden-xs .widget .thumb-box {
    display: block;
    overflow: hidden;
    color: #353535;
    line-height: 18px;
    width: 220px;
    margin: 0 0 20px;
    padding: 10px 0 20px 0;
    height: auto;
  }
  #sidebar.hidden-xs .widget .thumb-box .t-img {
    background: #5ea986;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 5px;
  }
  #sidebar.hidden-xs .widget .thumb-box .t-info {
    float: left;
    width: 139px;
    margin: 0 0 0 15px;
  }
  #sidebar.hidden-xs .widget .thumb-box .t-info .t-date {
    color: #229d93;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    display: block;
  }
  #sidebar.hidden-xs .widget .thumb-box .t-info .t-title {
    display: block;
    margin: 5px 0 0 0;
  }
  #sidebar.hidden-xs .styled {
    width: 99%;
    height: 40px;
    overflow: hidden;
    background: #5ea986 url(images/select-arrow-open.png) 98% center no-repeat;
    border-radius: 30px;
    margin: 10px 0;
  }
  #sidebar.hidden-xs .styled select {
    width: 112%;
    -webkit-appearance: none;
    color: #efefef;
    font-size: 16px;
    height: 45px;
    display: block;
    padding: 7px;
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    margin: -2px;
  }
  #sidebar.hidden-xs .styled select option {
    color: #000;
  }
  #sidebar.hidden-xs .widget .comment-box .c-info .c-name {
    color: #229d93;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }
  #sidebar.hidden-xs .widget .comment-box .c-info .c-comment {
    line-height: 18px;
    color: #525252;
    display: block;
  }
  #ctl00_ContentPlaceHolder1_TakipEt_upNewsLater {
    position: relative;
  }
  input.takipet {
    font-size: 16px;
    width: 211px;
    border-radius: 30px;
    border: 1px solid #ccc;
    height: 40px;
    padding: 0 10px;
    background: #5ea986;
    color: #efefef;
    line-height: 40px;
  }
  input.takipetbut {
    border: 0;
    position: absolute;
    background: transparent url(images/takipet-ico.png);
    width: 26px;
    height: 19px;
    text-indent: 50px;
    right: 22px;
    top: 10px;
  }
  .takipet::-webkit-input-placeholder {color: #efefef;}
  .takipet:-moz-placeholder {color: #efefef;}
  .takipet::-moz-placeholder {color: #efefef;}
  .takipet:-ms-input-placeholder {color: #efefef;}
  #blog-content .post {
    border-bottom: 1px solid #eee;
    padding: 0 0 40px;
    margin-bottom: 40px;
    opacity: 0;
  }

  /*Blog sayfası başlıklarının link rengi değişti.*/
  #blog-content h4.post-title a {
      color: rgb(103,103,103);
  }

  #blog-content h4.post-title a:hover {
      text-decoration: none;
  }

  .post .post-meta {
    overflow: hidden;
    margin: 10px 0;
  }
  .post .post-meta a {
    background: url('images/blog-icon.png') no-repeat left 50%;
    float: left;
    color: #7f7f7f;
    text-decoration: none;
    margin-right: 25px;
    padding: 0 0 0 25px;
    line-height: 18px;
  }
  .post .post-meta .p-time {
    background-position: 0 0;
  }
  .post .post-meta .p-comment {
    background-position: 0 -39px;
  }
  .post .post-meta .p-cat {
    background-position: 0 -79px;
  }
  .post .p-content img {
    margin: 0px 20px 20px 0;
  }
  .post .p-more {
    background: #5ea986;
    color: #fff;
    text-decoration: none;
    width: 145px;
    height: 40px;
    text-align: center;
    line-height: 42px;
    font-weight: bold;
    border-radius: 30px;
    font-size: 12px;
    margin: 30px 0 0;
    display: inline-block;
  }
  .form-area  {width: 70%;}
  .form-area input,.form-area textarea {width: 100%;margin: 10px 0;}
  .form-area .submit-area .submit-btn {
    background: #5ea986;
    color: #fff;
    font-weight: bold;
    float: right;
    border: 0;
    border-radius: 30px;
    width: 180px;
    height: 50px;
    text-align: center;
    display: block;
    cursor: pointer;
  }

  #searchform {
      margin: 0;
  }

  #blog-content .alignleft {
      float: left;
  }

  #blog-content .alignright {
      float: right;
  }

  #blog-content .social-link {
      margin: 0;
  }

  #respond h3#reply-title {
      font-size: 17.5px;
  }
