/* ---------------------------------------------------------- */
/* ------------------------ Waveform ------------------------ */
/* ---------------------------------------------------------- */
div.jp-audio {
    width: 770px;
    height: 100%;
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    position: relative;
}
div.jp-interface {
    position: relative;
    background-color: #ffffef;
    width: 100%;
}
div.jp-progress {
    position: absolute;
    overflow: hidden;
    background-color: #666;
    border: 1px solid #FAE793;
    border-bottom: 0px;
}
div.jp-audio div.jp-progress {
    top: 0px;
    height: 90px;
}
div.jp-audio div.jp-type-single div.jp-progress {
    left: 80px;
    width: 689px;
}
div.jp-seek-bar {
    background-color: #444;
    width: 0px;
    height: 100%;
    cursor: pointer;
}
div.jp-play-bar {
    background-image: url("/images/jplayer/playhead.png");
    background-position: right top;
    width: 0px;
    height: 100%;
    position: absolute;
}

/* ---------------------------------------------------------- */
/* ------------------------- Title -------------------------- */
/* ---------------------------------------------------------- */
div.jp-title {
    width: 771px;
    height: 100%;
    line-height: 22px;
    margin: 0;
    padding: 8px 0 1px 0;
    background-color: #FFFFEF;
    border: 0px;
    color: #555;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}

/* ---------------------------------------------------------- */
/* ------------------------ Buttons  ------------------------ */
/* ---------------------------------------------------------- */
div.jp-interface ul.jp-controls {
    height: 87px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #FAE793;
    border-left: 1px solid #FAE793;
    background-color: #FFFFEF;
    background-image: url("/images/jplayer/tlo_play.png");
    background-repeat: repeat-x;
}
div.jp-audio ul.jp-controls {
    width: 75px;
    padding: 3px 0px 0px 4px;
}
div.jp-interface ul.jp-controls a {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}
a.jp-play,
a.jp-pause {
    width: 75px;
    height: 75px;
}
a.jp-play {
    background: url("/images/jplayer/jplayer-buttons.png") 0 0 no-repeat;
}
a.jp-play:hover {
    background: url("/images/jplayer/jplayer-buttons.png") -75px 0 no-repeat;
}
a.jp-pause {
    background: url("/images/jplayer/jplayer-buttons.png") 0 -75px no-repeat;
    display: none;
}
a.jp-pause:hover {
    background: url("/images/jplayer/jplayer-buttons.png") -75px -75px no-repeat;
}

/* ---------------------------------------------------------- */
/* ------------------------- Timer -------------------------- */
/* ---------------------------------------------------------- */
div.jp-audio div.jp-time-holder {
    bottom: 0;
    color: #333333;
    font-family: "Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-style: oblique;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 81px;
}
div.jp-current-time,
div.jp-duration {
}
div.jp-current-time {
}
div.jp-duration {
}

/* ---------------------------------------------------------- */
/* ----------------------- DL Button ------------------------ */
/* ---------------------------------------------------------- */
div.jp-download {
    top: 113px;
    width: 769px;
	height: 21px;
    margin: 0;
    padding: 0;
    background-color: #FFFDD1;
    border: 1px solid #FAE793;
    font-weight: bold;
    text-align: right;
    font-size: 13px;
}

.hdsdtoggle {
    position: absolute; 
    top: 0px; 
    right: 0px; 
    z-index: 2000;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.dwnbtn {
    position: absolute; 
    bottom: 0px; 
    right: 0px; 
    z-index: 2000;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.dwn-icon {
    background: url("/images/icons/dl.png") 0 0 no-repeat;
}

.hd-icon {
    background: url("/images/icons/hd.png") 0 0 no-repeat;
}

.sd-icon {
    background: url("/images/icons/sd.png") 0 0 no-repeat;
}

/* ---------------------------------------------------------- */
/* ------------------------ Trash ------------------------ */
/* ---------------------------------------------------------- */
div.jp-jplayer audio,
div.jp-jplayer {
    width: 0px;
    height: 0px;
}
div.jp-jplayer {
    background-color: #000000;
}

.jp-no-solution {
    position: absolute;
    width: 390px;
    margin-left: -202px;
    left: 50%;
    top: 10px;
    padding: 5px;
    font-size: .8em;
    background-color: #eee;
    border: 2px solid #009be3;
    color: #000;
    display: none;
}
.jp-no-solution a {
    color: #000;
}
.jp-no-solution span {
    font-size: 1em;
    display: block;
    text-align: center;
    font-weight: bold;
}