/*

Updated: 09.04.2010

1. Main Body
2. Header
  2.1. Header Language Bar
3. Body
  3.1. Body Embed
    3.1.1. Body Embed Overlay
	3.1.2. Body Embed Container
4. Footer

*/


/*[1. Main Body ]*/
body {
    font-size: 14px;
    font-family: verdana;}

input {
    font-family: sans-serif;
}

a {
    text-decoration: underline;
    color: #000;}

img {
    border: 0 none;
}

.container {
    text-align: left;
    margin: 0 auto;
    max-width: 984px;
    min-width: 984px;
    clear: both;
    padding: 0;}

div.outer_menu {
    z-index: 8000;
    margin: 0px;
    background: #FAE793;
    padding: 0px;
    width: 984px;}
div.inner_menu {
    margin: 0px;
    background: #FFFDD1;
    padding: 8px;
    border: 0;
    color: #000;
    text-align: left;
    height: 19px;
    font-family: tahoma;}

div.outer_main {
    margin: 0px;
    background: #FAE793;
    margin-top: 10px;
    width: 984px;}
div.inner_main {
    margin: 0px;
    background: #fffef8;
    padding: 0px;
    border: 0;
    color: #000;
    text-align: left;
    font-family: verdana;}

/*[2. Header ]*/
a.menu:link, a.menu:visited, a.menu:active {
    text-decoration: none;
    font-size: 13px;
    font-weight: bolder;
    color: black;
    margin-left: 7px;
    margin-right: 7px;}
a.menu:hover {
    text-decoration: underline;}

.login {
    font-size: 12px;
    color: #777777;
    position: absolute;
    right: 20px;
    top: 6px;}

.przycisk {
    border: 1px solid #000000;
    font-weight: bolder;
    background-color: #fae793;
    color: #000000;
    font-size: 10px;
    font-family: verdana;}

/*[2.1. Header Language Bar ]*/
.lang img {
    float: right;
    margin-top: 5px;
    border: 0px;}

.lang, .lang ul {
    list-style: none;
    margin: 0;
    padding: 0;}

.lang {
    position: relative; }

.lang li {
    border: 1px solid #FAE793;
    float: left;
    width: 115px;
    position: relative;
    margin: 0px;
    padding: 0px;}

.lang li a, .lang li a:link, .lang li a:active, .lang li a:visited {
    font: bold 12px/20px Arial, Helvetica, sans-serif;
    /*background: #fffee5;*/
    color: #000;
    display: block;
    padding: 0 9px;
    text-decoration: none;}

.lang li a:hover {
    /*background: #ccc;*/
    color: #000;}

#lang-one li:hover a,
#lang-one li.sfHover a {
    /*background: #fffef8;*/
    color: #000;}

#lang-one li:hover ul a,
#lang-one li.sfHover ul a {
    /*background: #fffef8;*/
    color: #959595;}

#lang-one li:hover ul a:hover,
#lang-one li.sfHover ul a:hover {
    /*background: #ffffdf;*/
    color: #000;}

.lang ul {
    z-index:8000;
    background: #fffef8;
    border-bottom: 1px solid #FAE793;
    list-style: none;
    margin: 0;
    width: 115px;
    position: absolute;
    top: -999em;
}

.lang li:hover ul,
.lang li.sfHover ul {
    top: 20px;}
.lang ul li {
    border: 0;
    float: none;}

.lang ul a {
    border: 1px solid #FAE793;
    border-bottom: 0;}

.lang ul a:hover {
    /*background: #ccc;*/
    color: #000;}

/*[3. Body ]*/
#lrbox {
    position: relative;
    width: 984px;}

#lrbox .left {
    float: left;
    width: 477px;
    vertical-align: top;
    text-align: left;
	margin-left: 15px;}

#lrbox .right {
    float: right;
    width: 477px;
    vertical-align: top;
    text-align: left;
    margin-right: 15px;}

#lrbox .center {
    float: left;
    width: 954px;
    vertical-align: top;
    text-align: left;}

#lrbox .center_ad {
    float: left;
    width: 984px;
    vertical-align: top;
    text-align: left;
    margin-left: -15px;}

.bold {
    font-weight: bolder;
    line-height: 25px;}

.list {
    line-height: 23px;}

.list img {
    margin-left: 5px;
    margin-right: 3px;
    margin-bottom: -2px;}

.check  img {
    margin-right: 4px;
    margin-bottom: -3px;}

.slickbox {
    font-size: 12px;
    line-height: 18px;}

.tekst {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;}

.file_upload{
    font-size: 13px;
    font-weight: bold;}
	
.file_upload_remote{
    font-size: 13px;
    font-weight: bold;
	border-radius: 8px;
	border: 2px solid #FAE793;
	padding: 6px;
	color: grey;}

#files div {
    text-align: center;
    padding: 3px;}

#files input {
    border: 1px dotted #fef8ae;
    background: #b5100a;
    color: white;
    cursor: pointer;
    margin-left: 10px;}

#files {
    color: #000000;
    font-size: 11px;
    font-weight: bold;}

#fileQueue {
    position: relative;
}

/*[3.1. Body Embed ]*/
#basic-modal-content {
    display: none;}

/*[3.1.1. Body Embed Overlay ]*/
#simplemodal-overlay {
    background-color: #000;
    cursor: wait;}

/*[3.1.2. Body Embed Container ]*/
#simplemodal-container {
    height: 320px;
    width: 600px;
    color: #bbb;
    background-color: #333;
    border: 4px solid #444;
    padding: 12px;}
#simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color: #bbb;
    display: block;
    margin-bottom: 12px;
    padding: 4px 6px 6px;}
#simplemodal-container a {
    color: #ddd;}
#simplemodal-container a.modalCloseImg {
    background: url(../img/basic/x.png) no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    right: -16px;
    cursor: pointer;}
#simplemodal-container #basic-modal-content {
    padding: 8px;}

/*[4. Footer ]*/
a.abuse {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #CC0000;}

a.PPToS {
    font-size: 10px;
    font-weight: bolder;
    text-decoration: underline;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #000000;
    font-family: verdana;}

#bottom {
    vertical-align: top;
    text-align: center;
    margin: 10px 0px 5px 0px;}

.clear {
    clear: both;}

.codes input {
    border: 1px solid #999999;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 1.2em;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    width: 163px;
    height: 15px;}

.codes label {
    display: block;
    float: left;
    margin: 3px 6px 0 0;}

.image-info-view {
    padding: 5px 2px 0;}

.image-info-tab h2 {
    color: #CC0000;
    margin: 0.2em 0 0.2em 1.2em;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0.3em 0;
    padding: 0;
    text-align: left;}

.image-share input {
    width: 120px;
    float: right;}

.image-share font {
    line-height: 23px;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;}

.movie-share input {
    width: 150px;
    float: right;}

.movie-share font {
    line-height: 23px;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;}

.flagen {background:transparent url('/images/flags/us.gif') no-repeat 92% 5px; padding-right:25px;}
.flagde {background:transparent url('/images/flags/de.gif') no-repeat 92% 5px; padding-right:25px;}
.flagnl {background:transparent url('/images/flags/nl.gif') no-repeat 92% 5px; padding-right:25px;}
.flagfr {background:transparent url('/images/flags/fr.gif') no-repeat 92% 5px; padding-right:25px;}
.flaghu {background:transparent url('/images/flags/hu.gif') no-repeat 92% 5px; padding-right:25px;}
.flaglt {background:transparent url('/images/flags/lt.gif') no-repeat 92% 5px; padding-right:25px;}
.flagpl {background:transparent url('/images/flags/pl.gif') no-repeat 92% 5px; padding-right:25px;}
.flagpt {background:transparent url('/images/flags/pt.gif') no-repeat 92% 5px; padding-right:25px;}
.flagro {background:transparent url('/images/flags/ro.gif') no-repeat 92% 5px; padding-right:25px;}
.flagru {background:transparent url('/images/flags/ru.gif') no-repeat 92% 5px; padding-right:25px;}
.flages {background:transparent url('/images/flags/es.gif') no-repeat 92% 5px; padding-right:25px;}
.flagse {background:transparent url('/images/flags/se.gif') no-repeat 92% 5px; padding-right:25px;}
.flagtr {background:transparent url('/images/flags/tr.gif') no-repeat 92% 5px; padding-right:25px;}

table tr th.desc {
    background-image:url("/images/desc.gif");
    background-position:right center;
    background-repeat:no-repeat;
    cursor:pointer;
}

table tr th.asc {
    background-image:url("/images/asc.gif");
    background-position:right center;
    background-repeat:no-repeat;
    cursor:pointer;
}

table tr th.none {
    background-image:url("/images/bg.gif");
    background-position:right center;
    background-repeat:no-repeat;
    cursor:pointer;
}

.ui-tabs-nav {
    height:29px;
}

.info-notification, .success-notification, .warning-notification, .error-notification, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info-notification {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../images/info.png');
}
.success-notification {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning-notification {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../images/warning.png');
}
.error-notification {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}


.password-meter {
    position:relative;
    width: 180px;
    margin-left: 40px;
}
.password-meter-message {
    text-align: right;
    font-weight: bold;
    color: #676767;
}
.password-meter-bg, .password-meter-bar {
    height: 4px;
}
.password-meter-bg {
    top: 8px;
    background: #e0e0e0;
}

.password-meter-message-very-weak {
    color: #aa0033;
}
.password-meter-message-weak {
    color: #f5ac00;
}
.password-meter-message-good {
    color: #6699cc;
}
.password-meter-message-strong {
    color: #008000;
}

.password-meter-bg .password-meter-very-weak {
    background: #aa0033;
    width: 30px;
}
.password-meter-bg .password-meter-weak {
    background: #f5ac00;
    width: 60px;
}
.password-meter-bg .password-meter-good {
    background: #6699cc;
    width: 135px;
}
.password-meter-bg .password-meter-strong {
    background: #008000;
    width: 180px;
}

#signupform {
    font-family: 'Lucida Grande',sans-serif;
    width: 680px;
	margin: 0 auto;
}
#signupform input {
    font-size: 16px;
	font-weight:bolder;
    height: 22px;
    padding: 2px;
    width: 192px;
    border:1px solid #DDDDDD;
}
#signupform td.label {
    color:#666666;
    font-size:16px;
    font-weight:normal;
	padding-right: 8px;
    text-align:right;
	width: 150px;
}
#signupform td.field {
    width: 200px;
}
#signupform td.status {
    width: 330px;
}

#signupform td.checked {
    color:#666666;
    font-size:15px;
    font-weight:normal;
    text-align:right;
    background-image: url('../images/icons/accept.png');
    background-repeat: no-repeat;
    background-position: left center;
}
#signupform td.error {
    color:#666666;
    font-size:15px;
    font-weight:normal;
    text-align:left;
    background-image: url('../images/icons/delete.png');
    background-repeat: no-repeat;
    background-position: left center;
}

/*
#signupform input.error {
    border:1px solid red;
    background-color: #FFBABA;
}
#signupform input.valid {
    border:1px solid green;
    background-color: #ACE97C;
}
*/

#signupform label.error {
    margin-left: 25px;
    color:red;
    font-style:italic;
}

.notification {
    width: 400px;
    position: absolute;
    z-index:2;
    display:none;
    top:0;
    left:0;
}

.selected-node {
    background-color: #FFFDD1;
    border: 1px solid #FAE793;
}

.fwrap div.inline {
    float: left;
}

.fwrap div.clear-both {
    clear: both;
}

#uploadDropContainer div {
     display: inline-block
}


.uploadify-queue {
    margin-bottom: 1em;
}
.uploadify-queue-item {
    background-color: #FFFEE8;
    border: 2px solid #FAE793;
    border-radius: 3px;
    font: 11px Verdana,Geneva,sans-serif;
    margin: 5px auto;
    max-width: 810px;
    padding: 5px;
}

.too-large {
    background-color: #FFBABA;
}

.uploadify-error {
    background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel span {
    background: url("/uploadify/cancel.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: right;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}
.uploadify-queue-item.completed {
    background-color: #FFFEE8;
}
.uploadify-progress {
    background-color: #FFFFFF;
    border-color: #FAE793;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    width: 100%;
}
.uploadify-progress-bar {
    background-color: #BC2E27;
    height: 3px;
    width: 1px;
}

.html5_uploader {
    width: 827px;
    border: 2px solid #FFEC8B;
    border-radius: 10px 10px 10px 10px;
	background-color: white;
    display: inline-block;
    -webkit-transition: box-shadow 0.4s;
    -moz-transition: box-shadow 0.4s;
    -o-transition: box-shadow 0.4s;
    -ms-transition: box-shadow 0.4s;
    transition: box-shadow 0.4s;
}
.html5_uploader_container {
  /*  display: inline-block;*/
    padding: 15px 15px 15px 190px;
}
.html5_uploader_container_cloudicon {
    background: url("/images/cloud.png") no-repeat transparent;
    background-size: contain;
    display: inline-block;
    float: left;
    height: 106px;
    position: relative;
    width: 115px;
}
.html5_uploader_arrowicon_container {
    display: block;
    height: 70px;
    left: 50%;
    margin-left: -32px;
    overflow: hidden;
    position: absolute;
    top: 20%;
    width: 55px;
    z-index: 6;
}
.html5_uploader_arrowicon_arrow1 {
    background: url("/images/arrow_up.png") no-repeat transparent;
    background-size: contain;
    display: block;
    height: 45px;
    left: 10px;
    position: absolute;
    top: 9px;
    width: 45px;
}
.html5_uploader_arrowicon_arrow2 {
    background: url("/images/arrow_up.png") no-repeat transparent;
    background-size: contain;
    display: block;
    height: 45px;
    left: 10px;
    position: absolute;
    top: 70px;
    width: 45px;
}
.html5_uploader_container_description {
    display: inline-block;
    float: left;
    margin-top: 10px;
    padding: 0 0 0 20px;
    position: relative;
}
.html5_uploader_h1_a {
    color: #333333;
    font: 300 24px/24px helvetica,arial,sans-serif;
    position: absolute;
    top: 10px;
    width: 500px;
}
.html5_uploader_h1_b {
    color: #333333;
    font: 300 24px/24px helvetica,arial,sans-serif;
    position: absolute;
    top: 10px;
    width: 500px;
}
.html5_uploader_h2 {
    color: #666666;
    font: 14px/18px helvetica,arial,sans-serif;
    position: absolute;
    top: 38px;
    width: 500px;
}


/* ANIMATIONS */
.html5_uploader:hover .html5_uploader_arrowicon_arrow1 {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    top: -45px;
}

.html5_uploader:hover .html5_uploader_arrowicon_arrow2 {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    top: 9px;
}

.html5_uploader:hover {
    -webkit-box-shadow: inset 0 0 14px #FFEC8B;
    -moz-box-shadow: inset 0 0 14px #FFEC8B;
    -o-webkit-box-shadow: inset 0 0 14px #FFEC8B;
    -ms-moz-box-shadow: inset 0 0 14px #FFEC8B;
    box-shadow: inset 0 0 14px #FFEC8B;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.html5_uploader_h1_a {
    display: block;
}
.html5_uploader_h1_b {
    display: none;
}

.html5_uploader:hover .html5_uploader_h1_a {
    display: none;
}
.html5_uploader:hover .html5_uploader_h1_b {
    display: block;
}