/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2014 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Canada Type
 * License URL: http://www.fontspring.com/fflicense/canada-type
 *
 *
 */
@font-face {
    font-family: 'GibsonRegular';
    src: url('../fonts/Gibson-Regular-webfont.eot');
    src: url('../fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gibson-Regular-webfont.woff') format('woff'),
         url('../fonts/Gibson-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-Regular-webfont.svg#GibsonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GibsonLightRegular';
    src: url('../fonts/Gibson-Light-webfont.eot');
    src: url('../fonts/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gibson-Light-webfont.woff') format('woff'),
         url('../fonts/Gibson-Light-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-Light-webfont.svg#GibsonLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GibsonLightBold';
    src: url('../fonts/Gibson-SemiBold-webfont.eot');
    src: url('../fonts/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gibson-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Gibson-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-SemiBold-webfont.svg#GibsonLightBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GibsonItalic';
    src: url('../fonts/Gibson-Italic-webfont.eot');
    src: url('../fonts/Gibson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gibson-Italic-webfont.woff') format('woff'),
         url('../fonts/Gibson-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Gibson-Italic-webfont.svg#GibsonItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}