@charset "gb2312";
/* CSS Document */
em,i{font-style:normal}
.org{color:#ed9527}
.red{color:#e90000}
.focus_logoNavBg{background:#fff}
#fouse_foot,#fouse_foot a,#fouse_foot a:hover{color:#fff}
body {
	background: #B20000 url(../images/bodybg.jpg) repeat-x 0 37px;
	font-family: Tahoma, "宋体"
}
#header {
	height: 370px;
	background: url(../images/headbg30.jpg) no-repeat 50% 0;
}
#nav {
	background: url(../images/navbg.png) no-repeat;
	width: 972px;
	height: 49px;
	margin: 0 auto;
	position: relative !important;
}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	width: 132px;
	height: 46px;
	font: 14px/46px "\5b8b\4f53", sans-serif;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
#nav li a:hover {
	text-decoration: none;
}
#nav .active a {
	margin-top: -4px;
	padding-top: 4px;
	width: 154px;
	height: 50px;
	background: url(../images/bg-active.png) no-repeat;
	*position: relative;
}
#content{background:#fff;padding:11px 0 30px 0;margin-top: -4px;}
.ad930{width:930px;margin:0 auto}
.cutA{width:890px;margin:0 auto;text-align:left;padding-top:29px;}
.cutA h3{height:37px;}
.blockA{background:url(../images/bgy01.gif) repeat-y;width:890px;}
.blockA .t{background:url(../images/bg03.gif) no-repeat;height:27px;}
.blockA .b{background:url(../images/bg03.gif) no-repeat 0 -27px;height:12px;font-size:1px;overflow:hidden}
.blockA .boxA{margin:0 18px;}
.blockA .boxA h4{height:33px;line-height:33px;color:#e90000;font-weight:bold;font-size:14px}
.blockA .boxA ul{padding:2px 0}
.blockA .boxA li{line-height:24px;font-size:14px;background:url(../images/icon01.gif) no-repeat 0 12px;padding:0 0 0 12px;color:#333}
.blockA .boxA li p{font-size:12px;color:#666;padding:2px 0}
.blockA .boxA a{color:#039; text-decoration:underline}
.blockA .boxA a:hover{color:#d80100}
.blockA .boxA .txtA{margin:0 0 0 13px;}
.blockA .boxA .txtA dd{float:left;line-height:24px;}
.blockA .boxA .txtA dd.d1{width:215px;}
.blockA .boxA .txtA dd.d2{width:168px;}
.blockA .boxA .txtA dd.d3{width:161px;}
.blockA .boxA .txtA dd.d4{width:202px;}
.blockA .boxA .txtA dd.d5{width:95px;}
.blockA .boxA .txtA p{line-height:24px;font-size:14px;}
.blockA .boxAA li{background:url(../images/icon02.gif) no-repeat 0 12px;}
.blockB{width:860px;margin:10px auto 0;border:2px solid #e90000;padding:0 10px 42px;}
.blockB .in{line-height:18px;padding:5px;border:1px solid #bbb}
.blockB .textArea{width:847px;height:104px;border:1px solid #bbb;padding:5px;}
.blockB h4{background:url(../images/bg04.gif) no-repeat;width:501px;height:28px;margin:0 auto;padding:4px 0 0 0;text-align:center}
.blockB .txtA{padding:5px 0;text-align:center}
.blockB .txtA p{line-height:22px;}
.blockB .boxA{margin-top:10px;}
.blockB .boxA .box{border:1px solid #bbb;width:421px;padding:8px 0 28px;height:auto!important;height:198px; min-height:198px;}
.blockB .boxA .box h5{margin:0 10px;text-align:right;height:18px;line-height:18px;}
.blockB .boxA .box h5 span{float:left;font-size:14px;font-weight:bold;color:#333}
.blockB .boxA .box li{float:left;margin-top:15px;line-height:30px;font-size:14px;color:#333}
.blockB .boxA .box li.i1,.blockB .boxA .box li.i2,.blockB .boxA .box li.i3,.blockB .boxA .box li.i4{width:76px;text-align:right;margin-right:7px;display:inline}
.blockB .boxA .box li.i2{width:53px}
.blockB .boxA .box li.i3{width:73px}
.blockB .boxA .box li.i4{width:61px}
.blockB .boxB{margin-top:10px;}
.blockB .boxB h5{height:36px;line-height:36px;text-align:right}
.blockB .boxB h5 span{float:left;color:#333;font-weight:bold}
.blockB .boxC{margin-top:20px;font-size:14px;}
.blockB .boxC a,.blockB .boxC a:hover{color:#666}
.cutA{padding-top:20px}
.cutB .blockA{margin-top:20px;}
.cutB h3{height:30px;line-height:30px;background:url(../images/bgx01.gif) repeat-x 0 100%;text-align:right;padding:0 10px 0 0}
.cutB h3 span{float:left;}
.cutB .blockA .boxA li{font-size:12px}
.cutC{width:930px;margin:0 auto; position:relative}
.cutC .leftNav{position:absolute; left:0;top:1px;border:1px solid #d1c9c9; background:#f4f4f4; border-top:0; margin-top:-1px;width:256px; z-index:10; padding-bottom:3px}
.cutC .leftNav h2 {background:url(../images/title.gif) repeat-x; height:26px; line-height:26px; padding:0 20px; text-align:right}
.cutC .leftNav h2 span { float:left; background:url(../images/title_1.gif) no-repeat left center; padding-left:7px; color:#666; font-weight:bold}
.cutC .leftNav p {width:222px; margin:5px auto 4px; text-align:left;line-height:18px;}
.cutC .leftNav p a { margin:0 9px}
.cutC .leftNav .botLine { background:url(../images/bg.gif) repeat-x; height:4px; font-size:1px; overflow:hidden; margin-top:14px}