@charset"utf-8";body{background:url(images/headerbg.png) repeat-x #fff;margin:0 auto 0 auto;font-family:Verdana, Geneva, sans-serif;font-size:13px;}
img{border:0;}
h2{display:inline;font-size:1.8em;font-weight:normal;font-family:Georgia,"Times New Roman", Times, serif;}
h1{display:inline;font-size:1.6em;font-weight:normal;font-family:Georgia,"Times New Roman", Times, serif;}
*:focus{outline:none;}
A:link,A:active,A:visited{color:#000;text-decoration:none}
A:hover{color:#54652a;text-decoration:underline}
#layout{margin:0 auto 0 auto;width:100%;padding:0;}
#header{display:block;background-repeat:repeat-y;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -120px;width:100%;height:170px;float:left;text-align:left}
#headerleft{float:left}
#headerright{float:right;}
#search{width:716px;height:40px;margin-left:20px;margin-top:0px;float:left;}
#searchdiv{display:block;width:600px;height:40px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -290px;float:left;}
#searchbutton{width:95px;height:40px;float:left;}
.searchbuttonimg{display:block;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-600px -290px;width:95px;height:40px;padding:0;border:0;cursor:pointer}
#searchfieldouter{margin-left:5px;padding:2px;}
.searchfield{border:0;width:595px;font-size:1.8em}
#userlogin{float:right;height:140px;width:235px;margin-right:5px;margin-top:15px;text-align:right;font-size:0.9em}
.userloginbutton{border:1px solid #090;padding:3px}
#navbar{padding:10px;padding-top:10px;background-color:#3a5000;color:#e3f1be; border-bottom:1px solid #FFF;}
#navbar2{padding:5px;padding-left:10px;background-color:#3a5000;color:#e3f1be; font-size:0.8em}
#navbar a{color:#e3f1be;}
#navbar2 a{color:#e3f1be;}
#mainnav{float:left;font-size:1.2em;font-family:"Courier New", Courier, monospace;}
#usernav{float:right}
.clearboth{clear:both;}
.positive-karma{color:#090;}
.negative-karma{color:#C00;}
#content{margin-top:5px;margin-left:5px;margin-right:210px;min-width:700px;padding-top:10px;}
#rightbar{float:right;width:190px;margin-right:5px;display:inline;}
#rightbar div div{border:1px solid #060;padding:5px;margin-bottom:0;}
#rightbar div div .right{float:right;}
#rightbar div div .left{float:left;}
#rightbar div .head{background-color:#3a5000;color:#e3f1be;padding:5px}
#footer{margin-top:15px;margin-bottom:15px;text-align:center;font-size:0.9em;color:#999}
#footer a{color:#063;}
.errordiv{padding:5px;color:#900;display:inline}
.table2{border:1px solid #000;border-top:0;width:100%;border-left:0;border-right:0;margin-bottom:3px;}
.table2 th{border-top:0;border-bottom:1px solid #999;font-weight:normal;font-size:1.2em;font-family:Georgia,"Times New Roman", Times, serif;background-color:#FFF;}
.table2 td{border-top:0;border-bottom:1px solid #999;padding:8px}
.table3{border:1px solid #000;border-top:0;width:99%;border-left:0;border-right:0;margin-bottom:3px;}
.table3 th{border-top:0;border-bottom:1px solid #999;font-weight:normal;font-size:1.2em;font-family:Georgia,"Times New Roman", Times, serif;background-color:#FFF;}
.table3 td{border-top:0;border-bottom:1px solid #999;font-size:0.9em;padding:8px}
.table2 tr:hover,.table2 tr.hovered,.table3 tr:hover,.table3 tr.hovered{background-color:#EFF4D0}
.thleft{border-left:0;border-right:1px solid #999;text-align:left;}
.thright{border-right:0;}
.thnormal{border-right:1px solid #999;}
.tdleft{border-right:1px solid #999;text-align:left;font-size:0.9em;}
.tdright{text-align:center;width:5%;white-space:nowrap;font-size:0.8em}
.tdleft a{color:#000;}
.tdnormal{border-right:1px solid #999;text-align:center;width:5%;white-space:nowrap;font-size:0.8em}
.tdnormalcomment{border-right:1px solid #999;text-align:left;width:20%;white-space:normal;}
.tdseed{border-right:1px solid #999;text-align:center;width:5%;white-space:nowrap;color:#060;font-size:0.8em}
.tdleech{border-right:1px solid #999;text-align:center;width:5%;white-space:nowrap;color:#900;font-size:0.8em}
.tt-name{float:left;}
.tt-options{float:right;}
.tt-comment{display:inline;font-size:0.8em}
.tt-vup{display:inline;color:#090;font-size:0.8em}
.tt-vdown{display:inline;color:#900;font-size:0.8em}
.torrentinfo{font-size:0.9em;color:#666;float:left;display:inline;}
.dltorrent p{padding-top:6px;margin-left:5px;font-size:1.3em;font-family:Georgia,"Times New Roman", Times, serif;}
.dltorrent a{text-decoration:none}
.dltorrent img{float:left;margin-right:3px;}
.downloadarea{margin-right:3px;width:210px;float:left}
.downloadareabig{margin-right:3px;width:200px;float:left}
.greenish{color:#060;display:inline;}
.reddish{color:#900;display:inline;}
#chrleft{display:inline;}
.commentarea1{padding:5px;margin-bottom:5px;width:100%;background-color:#fafafa;}
.commentarea2{padding:5px;margin-bottom:5px;width:100%;background-color:#f0f0f0;}
.comment img{float:left;}
.commenttext{border-left:1px solid #999;margin-left:90px;min-height:70px;padding:10px;}
.commentuser{border-bottom:1px solid #999;}
.commentuser img{float:none;}
.commentuserleft{float:left;}
.commentuserright{float:right;}
.commentsmall{color:#999;font-size:0.8em;margin-bottom:8px;}
.commenthidden{display:none;}
.visible_div{display:block;}
.hidden_div{display:none;}
a.tt{position:relative;z-index:24;}
a.tt span{display:none;}
a.tt:hover{z-index:25;}
a.tt:hover span.tooltip{display:block;position:absolute;top:0px;left:0;padding:15px 0 0 0;width:200px;color:#3a5000;text-align:center;filter:alpha(opacity=90);KHTMLOpacity:0.90;MozOpacity:0.90;opacity:0.90;}
a.tt:hover span.tooltipa{display:block;position:absolute;top:100px;left:0;padding:15px 0 0 0;width:200px;color:#3a5000;text-align:center;filter:alpha(opacity=90);KHTMLOpacity:0.90;MozOpacity:0.90;opacity:0.90;}

a.tt:hover span.top{display:block;padding:30px 8px 0;background:url(images/bubble.gif) no-repeat top;}
a.tt:hover span.middle{display:block;padding:0 8px;background:url(images/bubble_filler.gif) repeat bottom;}
a.tt:hover span.bottom{display:block;padding:3px 8px 10px;color:#548912;background:url(images/bubble.gif) no-repeat bottom;}

.search_stat .active{font-size:11px;color:#FFF;background-color:#3a5000;border:1px solid #335EA8;display:inline;text-align:center;margin:2px;padding:5px}
.search_stat .disabled{font-size:11px;border:1px solid #CFCFCF;color:#CFCFCF;display:inline;text-align:center;margin:2px;padding:5px}
.search_stat P{font-size:14px;color:#666;border:0 solid #3a5000;display:inline;text-align:center;margin:2px;padding:5px}
.search_stat A{font-size:11px;color:#666;background-color:#FDFDFD;border:1px solid #3a5000;display:inline;text-align:center;margin:2px;padding:5px}
.search_stat A:Hover{color:#444;background-color:#FAFAFA;border:1px solid #003250}
.fadedtable{filter:alpha(opacity=30);KHTMLOpacity:0.30;MozOpacity:0.30;opacity:0.30;}
.vuser{display:inline;font-weight:bold;}
.vuser a{color:#060;}
.browsetotals{font-size:0.8em;color:#666;font-weight:normal;}
.browsesub{padding-left:20px;font-weight:bold;}
.querytext{text-decoration:underline;}
.na{font-weight:bold}
.cloud1{display:inline;font-size:2em;font-weight:bold;margin-right:10px;}
.cloud2{display:inline;font-size:1.6em;font-weight:bold;margin-right:10px;}
.cloud3{display:inline;font-size:1.5em;font-weight:bold;margin-right:10px;}
.cloud4{display:inline;font-size:1.5em;margin-right:10px;}
.cloud5{display:inline;font-size:1.3em;margin-right:10px;}
.cloud6{display:inline;font-size:1.2em;margin-right:10px;}
.cloud7{display:inline;font-size:1.1em;margin-right:10px;}
.cloud8{display:inline;font-size:1em;margin-right:10px;}
.torrentvoting{font-size:2.5em;font-family:Georgia,"Times New Roman", Times, serif;}
#feedback-good{font-size:0.6em;}
#feedback-bad{font-size:0.6em;}
#logo{margin-top:5px;margin-left:5px;width:696px;}
#logo p{color:#506126;font-weight:bold;margin-left:1px;font-size:0.8em;}
.labelheader{margin-left:17px;}
.fileline{line-height:20px;clear:left;}
.filelinesize{color:#666;font-weight:bold;display:inline;font-size:0.8em}
.headerinput{width:150px;}
.noresultstr{background:#FFFFFF;text-align:center;font-style:italic;}
.commenteroptions{font-size:0.8em;color:#666;display:inline;}
.normaltext{font-size:0.8em;color:#333;}
.normaltext a{color:#030;text-decoration:underline;}
.searchsmalltitles{font-size:0.8em;color:#090;display:inline;}
.hb0{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -0px;}
.hb1{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -10px;}
.hb2{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -21px;}
.hb3{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -32px;}
.hb4{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -43px;}
.hb5{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -54px;}
.hb6{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -65px;}
.hb7{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -76px;}
.hb8{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -87px;}
.hb9{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -98px;}
.hb10{margin:0 auto 0 auto;width:34px;height:10px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-0px -109px;}
/* .csprite_logo{display:block;width:390px;height:59px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-34px -40px;} */
.csprite_logo{display:block;width:460px;height:59px;background-repeat:no-repeat;background-image:url('/static/images/logo_new.png');}
.csprite_dl14{display:block;float:left;width:12px;height:12px;margin-right:5px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-786px -318px;}
.csprite_rssfeed{display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-783px -16px;}
.csprite_dltorrent{float:left;margin-right:3px;width:35px;height:35px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-709px -85px;}
.csprite_addtobm{float:left;margin-right:3px;width:35px;height:35px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-758px -85px;}
.csprite_addtofeed{float:left;margin-right:3px;width:35px;height:35px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-658px -85px;}
.csprite_vupbig{display:inline-block;margin-right:3px;width:79px;height:105px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-559px -15px;}
.csprite_vdownbig{display:inline-block;margin-right:3px;width:79px;height:107px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-468px -13px;}
.csprite_upatestats{display:inline-block;width:16px;height:16px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-783px -60px;}
.csprite_doc_dir{display:inline-block;width:34px;height:18px;margin-top:3px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-34px -0px;}
.csprite_doc_app{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-34px -18px;}
.csprite_doc_music{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-67px -0px;}
.csprite_doc_img{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-67px -18px;}
.csprite_doc_disk{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-100px -0px;}
.csprite_doc_doc{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-100px -18px;}
.csprite_doc_nfo{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-133px -0px;}
.csprite_doc_pdf{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-133px -18px;}
.csprite_doc_rar{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-166px -0px;}
.csprite_doc_sfv{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-166px -18px;}
.csprite_doc_unknown{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-199px -0px;}
.csprite_doc_url{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-199px -18px;}
.csprite_doc_video{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-232px -0px;}
.csprite_doc_zip{display:inline-block;width:32px;height:17px;background-repeat:no-repeat;background-image:url('images/healthbars/healthbars2.png');background-position:-232px -18px;}
.recentsearch{
	font-size:0.8em;
}
#nmsg {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    background:#eef2f7;
    border:2px solid #000;
    position:absolute;
    bottom:5px;
	left:5px;
    padding:8px;
	min-width:190px;
}
#nmsg img{
	border:0;
}
 /* for moz/opera and others*/
html>body #nmsg{position:fixed}
