@charset "UTF-8";
/* CSS Document */

.clear{clear:both;}
.left{float:Left;}
.Separa{height:60px;}
.MarginLeft{margin-left:23px;}
#Calculadoras input:focus{outline: none !important;}
#Calculadoras select:focus{outline: none !important;}


#Calculadoras{width:643px; height: 262px; padding:19px 19px 19px 0; background:url(../img/bg_calculadoras.png);font:12px Arial, Helvetica, sans-serif;}
#Calculadoras .Info{width:641px;margin-right:20px;}
#Calculadoras .MenuCalculadora{position:relative;margin: 0;}
#Calculadoras .MenuCalculadora img{position:absolute;top:-9px;left:10px;z-index:10;}
#Calculadoras .MenuCalculadora ul{list-style-type:none;background:#555;color:#fff;height:29px;padding-left:167px;width:474px;overflow: visible;}
#Calculadoras .MenuCalculadora ul li{float:left;font-size:12px;font-weight:bold;display:block;}
#Calculadoras .MenuCalculadora ul li.clear{float:none;padding:0;}
#Calculadoras .MenuCalculadora ul li.Active{background:url(../img/active_li.png) no-repeat bottom center;height: 39px;}
#Calculadoras .MenuCalculadora ul li span{line-height:29px;padding:0 17px;display:block;border-left:1px solid #959595;cursor:pointer;}
#Calculadoras .MenuCalculadora ul li span:hover{background:#444;}
#Calculadoras .MenuCalculadora ul li.Active span{background:#232323;cursor:default;}
#Calculadoras .MenuCalculadora ul li.Active span:hover{background:#000;}
#Calculadoras .MenuCalculadora ul li.BorderRight span{border-right:1px solid #959595;}
#Calculadoras .Patrocinador{margin:62px 40px 0 20px;width:107px;}
#Calculadoras #Logotipo{margin-top:38px;}
#Calculadoras form{font-weight:bold;width:473px;height: 223px;position:relative;}
#Calculadoras form div{width:225px;color:#2e2e2e;}
#Calculadoras form label{font-size:11px;margin-bottom:5px;margin-top:12px;display:block;}
#Calculadoras form input{background:#fff;border:1px solid #d6d6d6;color:#2e2e2e;width:216px;font-weight:bold;margin: 0;padding: 0 0 0 7px;font:bold 12px/27px Arial, Helvetica, sans-serif;height:27px;}
#Calculadoras form select{}
#Calculadoras form .EstiloSelect{margin:0;width: 223px;height: 27px;overflow: hidden;background:#fff  url(../img/flechas_select.png) no-repeat 196px 2px;border:1px solid #d6d6d6;}
#Calculadoras form .EstiloSelect select{background:transparent;width: 247px;padding: 0px 0px 2px 6px;font-size: 12px;font-weight:bold;height: 30px;border:none;-webkit-appearance: none;}
#Calculadoras form button{font-weight:bold;padding:9px 15px;margin: 0;background:#4f4f4f;color:#fff;border:none;cursor:pointer;position:absolute;right:0;bottom:0;border-radius:2px;z-index: 10;}
#Calculadoras form button:hover{background:#222;}
#Calculadoras form .ColumnaResultados{margin-left:23px;}
#Calculadoras form .Resultado input{background:#e5e5e5;line-height:29px;height:29px;border:none;}
#Calculadoras form .Fuente{font-size:10px;color:#2e2e2e;width:473px;position:absolute;bottom:0;}
#Calculadoras .Banner{padding-bottom:10px; width:300px;border-bottom: 1px solid #ccc;}

#Calculadoras form#Divisas .Resultado{margin-left:23px;}


#Calculadoras form#Hipotecas label{margin-bottom:4px;margin-top:10px;}
#Calculadoras form#HipotecasResultados .Resultado input{line-height:24px;height:24px;}
#Calculadoras form#HipotecasResultados label{margin-bottom:3px;margin-top:9px;}
#Calculadoras form .Fuente{width:390px;}

#DinamicosInversion .EstiloSelect{display:none;}
#DinamicosInversion label{color:#999;}
#MontoCredito, #SaldoSubcuenta{display:none;}

#Calculadoras iframe#DisplayCalculadoras{border:none;overflow:hidden;width:473px;height: 223px;position:relative;}
#Calculadoras iframe.dspCalculadoras{border:none;overflow:hidden;width:473px;height: 223px;position:relative;}

#isrfrm{font-weight:bold;width:473px;height: 223px;position:relative;}

body{margin:0;padding:0;}