@font-face {
    font-family: 'Avenir-Book';
    src: url('/fonts/Avenir/Avenir-Book.eot') format('embedded-opentype');
    src:
            url('/fonts/Avenir/Avenir-Book.woff') format('woff'),
            url('/fonts/Avenir/Avenir-Book.ttf')  format('truetype'),
            url('/fonts/Avenir/Avenir-Book.svg#AvenirNext-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.morado{
    background-color:#501ea4 !important;
    /*width: 230px;
    height: 90px;*/
    width: 325px;
    height: 235px;
    padding: 0.4em;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index:9999;
    background-image: none !important;
    display: none;
}

.cambiar {
    text-decoration: none;
    color: #fff;
    font: bold 13px sans-serif;
    cursor: pointer;
}

.minimizar {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font: bold 19px sans-serif;
    float: right;
}
.cajasx {
    width: 124px !important;
    float: left;
    padding-right: 5px;
}
.cajasxx {
    width: 315px !important;
    float: left;
    padding-right: 5px;
}

.tituloplayerfijohome {
    color: white;
    font: normal 12px/15px Avenir-Book;
    margin-top: 10px;
}