@charset "utf-8";

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
		.static_reklam_kutusu{ width:300px; position: fixed !important;top: 0px;z-index: 5000000000000000;left: 50%;margin-left: -150px !important;margin-top:70px;  }
	#category-list{display:none}
	#ustbar {top:0}
	
	.altsayfa_body #ustbar-form{ display:none;}
	#ustbar-form{ padding:0 10px 4px; width:224px;}
	#ustbar-form .search-query{ width:202px; }
	#ustbar-form .search-button{}
	
	#ustbar_wrap .head_bildirim{display:none;}
	#ustbar_wrap .head_bildirim > a{padding: 2px 10px 0 0;}
	#ustbar_wrap .head_bildirim.head_bildirim_mobil{display:block;}
	
	.altsayfa_body .navbar-nav .arama-form_mobilwrap{display:block;}

	.navbar .nav > li > a{ padding: 12px 5px;}
	.btn-ustara{display:none;}
	#user-menu {width: 100%;padding: 0 5px;}

	#left-frame{display:none;}
	#content{margin:0 0 0 0;}
	#main-wrap {width: 100%;margin: 50px auto 0;padding:0}
	/*.altsayfa_body #main-wrap {margin-top: 90px;}*/
	.entry-list > li .voting{visibility:visible}
	#main-footer-inner{width:100%;}
	#main-footer.main-footer-solframe #main-footer-inner{padding: 0}
	.giris_list .nav-tabs-altsayfa .tab-altsayfa{display:none}
	.giris_list .nav-tabs li>a {padding:10px 8px}
	
	.altsayfa_header_arkaplan .ustbar-altsayfa-inner{display:none}
	
	#sidebar{padding: 0 15px}
	
	.bigindex-list .ozel_list .baslik-info{ margin:0 0px 0 50px;}
	.bigindex-list .ozel_list .trend_list_no{display:none; width: 30px; font-size: 20px;}
	
	.bigindex-list .ozel_list .yeniler_list_saat{display:none; font-size: 11px;width: 30px;line-height: 16px;}
	
	#modal_login_form{}
	#modal_login_form .row{width: 99%;}
	
	#modal_login_form form{width: 99%}
	#modal_login_form form h4{}
	
	#modal_login_form .seperate{width:100%;height:1px;background:#999;float:left;margin:25px 0}
	
	#notification_wrap {max-width: 50%;bottom: 5px;right: 0;margin-left: 0;left:auto;}
	
	.profil-baslik-list{display:table-row;}
	.profil-baslik-list li{margin-left:23px;}
	.userpage .kapak_foto_alt h4{padding-left:135px}
	.userpage .profil_ozet{width:50%}
	.userpage .profil_ozet li{float:right;font-size: 11px;}
	.userpage .kapak_foto_alt h4{font-size:14px;}
	.userpage .kapak_foto_alt h4 small{font-size:62%;}
	.userpage .profil-baslik-list .baslik,
	.profil-baslik-list li.dahafazla{margin-left:5px}
	.takip_wrap{width:100%;}

	.profil_altinci_yetki{ float: left;width: 100%; margin: 5px 5px 5px 0;}
	.profil_altinci_yetki div{  float: left;}
	
	.table td{word-wrap: break-word;word-break: break-word;}
}
/* Tablet
------------------------- */
@media (min-width: 481px) and (max-width: 767px) {
		.static_reklam_kutusu{ width:300px; position: fixed !important;top: 0px;z-index: 5000000000000000;left: 50%;margin-left: -150px !important;margin-top:70px;  }
	#main-wrap {width: 100%;margin: 64px auto 0;padding:0}
	#ustbar-form{ padding:0 10px 4px; width:224px;}
	#ustbar-form .search-query{  }
	#ustbar-form .search-button{}
	#user-menu {width: 100%;padding: 0 5px;}

	#ustbar_wrap .head_bildirim{display:none;}
	#ustbar_wrap .head_bildirim.head_bildirim_mobil{display:block;}

	#left-frame{top:90px;width:265px;z-index:999; }
	#left-frame.scrolled{top:55px;}
	
	.altsayfa_header_arkaplan .ustbar-altsayfa-inner{display:none}
	
	#content{margin: 0 0 0 270px; }
	
	#main-footer-inner{width:100%;}
	#main-footer.main-footer-solframe #main-footer-inner{padding: 0 0 0 275px;}
	
	#sidebar{padding: 0 15px}
	
	.bigindex-list .ozel_list .baslik-info{ margin:0 0 0 110px;}
	.bigindex-list .ozel_list .trend_list_no{width: 50px; font-size: 20px;}
	
	.bigindex-list .ozel_list .yeniler_list_saat{font-size: 11px;width: 50px;line-height: 16px;}
	.bigindex-list .ozel_list .yeniler_list_saat strong{}
	.bigindex-list .ozel_list .yeniler_list_saat small{font-size: 9px;}

	#notification_wrap {max-width: 50%;bottom: 5px;right: 0;margin-left: 0;left:auto;}
	
	.table td{word-wrap: break-word;word-break: break-word;}
}
/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	#main-wrap {width: 100%;margin: 70px auto 0;padding:0}
	#ustbar-form{ padding:0 10px; width:250px;}
	#ustbar-form .search-query{ }
	#ustbar-form .search-button{ }
	
	#left-frame{top:90px;width:265px;z-index:999;}
	#left-frame.scrolled{top:85px;}
	#content{margin: 0 0 0 270px; }
	
	#sidebar{padding: 0 15px}
	
	.altsayfa_header_arkaplan #left-frame{top:180px;width:265px;z-index:999; }	
	.altsayfa_header_arkaplan #ustbar_wrap{width:100%; height:147px; display:block;top:23px;position:fixed;z-index:999;background-position: center center;}
	.altsayfa_header_arkaplan #ustbar{top:126px;background-color:rgba(241, 201, 12, 0.43);}
	.altsayfa_header_arkaplan #main-wrap {margin-top: 170px;}
	.altsayfa_header_arkaplan_scrolled .ustbar-altsayfa-inner{display:none}

	#main-footer-inner{width:100%;}
	#main-footer.main-footer-solframe #main-footer-inner{padding: 0 0 0 275px;}
}
/* Desktop
------------------------- */
@media (min-width: 980px) {
	#main-wrap {padding: 0 25px;margin-top: 80px;}
	#ustbar-form{ width:224px;}
	
	#right-container{margin-right: 300px;}
	.sagyok #right-container{margin-right: 0;}
	#right-container.userpage{margin-right: 0;}
	#sidebar{width:300px;margin: 10px -320px 0 10px;}
	#middle-block{width: 100%;}
	
	.giris_sag{ margin: 0 -520px 0 320px; width: 200px;padding:0 }
	.index_body .giris_sag,
	.index_body #sidebar{ margin-top: 45px; }
	
	.index-wrap {margin-right: 520px;}
	
	#left-frame{top:80px;width:265px;z-index:999; }
	#left-frame.scrolled{top:50px;}

	.altsayfa_header_arkaplan #left-frame{top:143px;width:265px;z-index:999; }	
	.altsayfa_header_arkaplan #ustbar_wrap{width:100%; height:100px; display:block;top:23px;position:fixed;z-index:999;background-position: top center;}
	.altsayfa_header_arkaplan #ustbar{top:80px;background-color:rgba(241, 201, 12, 0.13);}
	.altsayfa_header_arkaplan #main-wrap {margin-top: 127px;}
	/*.altsayfa_header_arkaplan_scrolled .ustbar-altsayfa-inner{display:none}*/
	
	.altsayfa_header_arkaplan_scrolled #left-frame{}	
	.altsayfa_header_arkaplan_scrolled #ustbar_wrap{width:100%; height:100px; display:block;top:-56px;position:fixed;z-index:999;background-position: top center;}
	.altsayfa_header_arkaplan_scrolled #ustbar{top:0px;background-color:rgba(241, 201, 12, 0.83);}
	.altsayfa_header_arkaplan_scrolled #main-wrap {}
	.altsayfa_header_arkaplan_scrolled .ustbar-altsayfa-inner{}
	
	#content{margin: 0 0 0 270px; }
	#main-footer.main-footer-solframe #main-footer-inner{padding: 0 0 0 275px;}
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	#main-wrap {width: 1200px;margin: 68px auto 0;padding:0}

	#category-list,
	#ustbar .navbar-inner,
	.ustbar-altsayfa-inner{width:1200px; margin: 0 auto;}
	#ustbar-form{ width:324px;}
}