/*tool_tips */
.tool_tips {
    left: 10px;
    top: 38px;
    width: 100%;
    /*display: none;*/
    position: absolute;
    z-index: 50;
    text-align: left;
    box-shadow: 0 3px 40px 0 rgba(89, 112, 128, 0.2);
    background: #fff; }
.tool_tips ul {
    border: 1px solid #dce2e6;
}
.tool_tips ul li {
    display: block;
    cursor: pointer;
    line-height: 40px;
    font-size: 13px;
    padding: 0 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
.tool_tips ul li.sugwiz {
    line-height: 20px;
}

.tool_tips ul li:before {
    content: "";
    background-image: url("//search.qip.ru/skin/2015/img/icons.svg");
    background-repeat: no-repeat;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle; }
.tool_tips ul li.request:before {
    content: "";
    background-position: 0 -142px;
    width: 16px;
    height: 16px; }
.tool_tips ul li.history:before {
    content: "";
    background-position: 0 -72px;
    width: 15px;
    height: 14px; }
.tool_tips ul li.sugwiz:before {
    background: none;
    margin-left: 0;
    width: 0;
    margin-right: 0;
}
.tool_tips ul li.selected {
    background-color: #f8f8f8;
}
.tool_tips ul li a {
    color: #c0c0c0; }
.tool_tips ul li a span {
    color: #333; }