@media screen and (min-width:1024px) {
main,.p-size,.breadcrumb,.breadcrumb2,.menu-top,.pre-footer,.panel-top,.main-nav,.menu-sec,.footer-top,.footer-main,.footer-bottom,.footer-sites{width:1000px}
section.article-left{width:670px;float:left}
section.video-left-gol{width:100%;float:left}
section.normal-left-gol{width:670px;float:left}
section.bottom-left-gol{width:670px;float:left}
section.gol-video-below-movie{width:670px;float:left}
aside{padding-top:20px}
.S013-next-prev img{display:block}
.gal-right a{float:left;display:block;width:50%;padding:0;padding-bottom:6px}
.gal-right a:nth-of-type(3n+2){padding-right:3px}
.gal-right a:nth-of-type(3n+3){padding-left:3px}
.gal-right a:nth-of-type(3n+1){width:100%;padding:0;padding-bottom:6px}
.gal-right a:nth-of-type(7){display:block}
.gol-video-movie-c{padding-top:10px;padding-bottom:10px;min-height:560px;background:url(../im/v-pageloader.gif) #161616 no-repeat center center;}

/* lista15-980-re */
.lista15-980-re{margin-bottom:20px;}
.li15-980{position:relative;margin-bottom:1px}
.li15-980-a{display:block;width:100%;height:360px}
.li15-980-img{width:980px;height:360px}
.li15-980-txt{width:340px;height:360px;position:absolute;left:auto;top:0;right:0;background:rgba(255,255,255,1);padding:20px;padding-right:10px;}
.li15-980-txt h2{color:#000000;font-family:'Roboto Condensed',Arial,sans-serif;font-size:30px;line-height:32px;font-weight:700;letter-spacing:-1px;margin-bottom:10px}
.li15-980-txt p{color:#000000;font-family:'Roboto',Arial,sans-serif;font-size:16px;line-height:19px;font-weight:400;}
.li15-980-oce{position:absolute;top:280px;right:240px;width:80px;height:60px;color:#ffffff;font-size:42px;line-height:56px;border-radius:6px;font-family:"Source Sans Pro",Arial,Helvetica;font-weight:700;letter-spacing:-2px;text-align:center}
.li15-980-a:hover{text-decoration:none}
.li15-980-a:hover img{opacity:0.85}
.li15-980-a:hover .li15-980-txt h2{color:#e44600}

.u-list-box .newsroom-hots div:nth-last-child(-n+2){display:block}
.u-list-box .newsroom-hots div:nth-last-child(-n+1){display:none}
.skl-promo-bar div.dg1,.skl-promo-bar div.dg2{display:block}
.skl-promo-bar div.sk5{display:none}

.guz-panel-game .guz-panel-1 .but-neu-black{
font-size:19px;font-weight:500;min-width:65px;height:36px;line-height:36px;padding-left:5px;padding-right:5px;font-family: 'Roboto Condensed',Arial,sans-serif;
background:#404040;color:#ffffff;border:1px solid #232323;text-shadow:1px 1px #232323;
background:-moz-linear-gradient(top, #757575 0%, #404040 50%, #757575 100%);
background:-webkit-linear-gradient(top, #757575 0%, #404040 50%, #757575 100%);
background:linear-gradient(to bottom, #757575 0%, #404040 50%, #757575 100%);}
.guz-panel-game .guz-panel-1 .but-neu-black:hover{background:#ffcc00;color:#000000;border:1px solid #ccaa20;text-decoration:none;box-shadow:none;text-shadow:none}

.s016-play-free{display:block}
.main-nav .mnvb{padding-left:12px;padding-right:12px}
}

@media screen and (min-width:1680px) {
main,.p-size,.breadcrumb,.breadcrumb2,.menu-top,.pre-footer,.panel-top,.main-nav,.menu-sec,.footer-top,.footer-main,.footer-bottom,.footer-sites{width:1300px}
section.article-left{width:980px;float:left}
section.video-left-gol{width:980px;float:left}
section.gol-video-below-movie{width:980px;float:left}
.game article{width:980px}
.game section{width:980px}
.a-list{width:960px}
aside{width:320px;float:right}
.space-resp-1{padding-left:20px;padding-right:20px}
/* menu top */
.top-message{width:100%;max-width:1300px;}
.menu-panel{width:100%;max-width:1300px;}
.menu-panel-c{max-width:1300px;}

/* panel-top */
.panel-top{width:1300px;margin-left:auto;margin-right:auto;}

/* main menu */
.main-nav li span{display:inline}
.main-nav .mnvb-more {display: none;}

/* menu sec */
.menu-sec mhide{display:inline}

/* top search */
.szc{width:1300px}

/* panel logowania */
.log-panel{width:1300px}

.guide-unit-tit-flag{display:none}

.u-list .perso-buttons-break{clear:none;display:block;width:20px;float:left;;height:20px}
.u-list .perso-dates .perso-buttons-break{clear:both;width:0}

/* lista uniwersalna */
.u-list{width: 980px;}
.u-list-wide{width:100%}
.u-list-screen .box-screen{width:33.333%}
.u-list-screen-wide .box-screen{width:25%}
.u-list .perso-c .but-neu{font-family: 'Roboto',Arial;font-size:16px}
.u-list .buttons .but-neu{font-family: 'Roboto',Arial;}
.u-list-box .lista-video-on-game{height:auto;}
.u-list-list .lista-mater-on-game p.extra-opis{display:block}
.u-list h1{font-size:46px;line-height:46px;margin-bottom:15px;letter-spacing:-2px}
.u-list-first h1{font-size:50px;line-height:50px;letter-spacing:-2px}
.u-list-dev .dev-left{width:50%;float:left;padding:0;padding-right:25px}
.u-list-dev .dev-right{width:50%;float:right;padding:0;padding-left:20px;padding-right:10px;border-left:1px solid #cccccc}
.u-list-dev .small-game-box{width:135px}
.u-list-dev .small-game-box-c>a.small-game-box:nth-last-child(2){display:block}
.u-list-dev .small-game-box-c>a.small-game-box:nth-last-child(3){display:block}

.u-list-box .lista-video-group .box-big{width:640px;height:400px;}
.u-list-box .lista-video-group .box-big img.pic{width:620px;height:349px;max-width:620px}
.u-list-box .lista-video-group .box-big2{width:480px;height:330px}
.u-list-box .lista-video-group .box-big2 img.pic{width:460px;height:259px}
.u-list-box .lista-video-group .box-mid{width:426.5px;height:290px;}
.u-list-box .lista-video-group .box-mid img.pic{width:407px;height:225px;max-width:407px}
.box-mid-hide{display:block}
.u-list .plat{max-width:100%}
.u-list-rankings .box .title{width:710px}

.u-list .buttons .plat-ser-c{width:800px}
.u-list .buttons .plat-ser-c2{float:none;width:100%}

.u-list-box .newsroom-hots div:nth-last-child(-n+1){display:block}

/* lista mozaika */
.lista-mozaika{padding-left:20px;}
.lista-mozaika .big-box{width:50%;float:left}
.lista-mozaika .big-box-wide{width:100%;}
.lista-mozaika .box1 img {height:247px}
.lista-mozaika .box3 img{max-height:105px;min-height:105px}

/* lista mozaika2 */
.lista-mozaika2 .box1{width:67%}
.lista-mozaika2 .box2{width:33%}
.lista-mozaika2 .box3{width:67%}
.lista-mozaika2 .box1 h5,.lista-mozaika2 .box3 h5{font-size:36px;line-height:36px}
.lista-mozaika2 .box p{font-family:'Roboto',Arial,sans-serif;font-size:14px;line-height:14px;}
.lista-mozaika2 .box2 h5{font-family:'Roboto Condensed',Arial,sans-serif;font-size:18px;line-height:18px;color:#ffffff;margin-bottom:3px;font-weight:400;}

/* release dates */
.u-list-date .lista .plat{width:250px;}
.u-list-date .lista .title{width:350px;padding-bottom:11px}


/* perso panele */
.ppanel .plat-pan2{width:180px;}
.ppanel .plat-pan5{width:180px;}
.ppanel-kat .but-neu{width:226px}

.u-list-wide .ppanel .plat-pan2{width:auto}
.u-list-wide .ppanel .plat-pan5{width:auto}
.u-list-wide .ppanel-kat .but-neu{width:200px}

/* GAME */
.game header{}
.word-txt .social-compact-15-1{float:left;width:268px}
.word-txt .social-compact-15-2{float:left}
.word-txt .social-compact-15-3{float:right}

.dok-cut .dok-height{height:1200px;overflow-y:hidden}
.S016-pegi{width:480px;float:left}
.S016-pegi img{width:80px;height:96px;margin-right:10px}


/* game data */
.game-data{width:320px;float:right;}
.game-box-c{margin-right:20px;float:left;margin-left:20px}
.game-data-col{width:100%;float:none}
.game-data-eng{width:698px;float:left;margin-left:0px}
.game article .game-data-eng p.lang{float:right;width:230px;}
.game-data-eng .game-data-col{padding-left:0px}
.game article .game-data p.tagi{margin-bottom:10px}
.game article .game-data-eng h2{font-size:36px;line-height:40px;padding-top:5px;padding-bottom:5px;margin-top:0px;background:rgba(255,255,255,0.9);padding-left:10px;width:auto}

/* game galeria */
.game-galeria{margin-left:20px;margin-bottom:10px}
.game-galeria .box{width:25%;padding-right:10px;padding-bottom:10px;float:left}
.game-galeria .box:nth-child(-n+9){display:block;width:20%;}
.game-galeria .box:nth-child(-n+4){display:block;width:25%;}


.guz-panel-guide{padding-left:300px;margin-left:0}
.guz-panel-guide .guz-panel-0{display:block;position:absolute;left:0;top:0;width:300px}
.guz-panel-guide .guz-panel-0-2{display:none}
.guz-panel-guide .guz-panel-1{padding-left:20px}
.guz-panel-guide .guz-panel-2{padding-left:20px}
.word-txt .guz-panel-guide h4{color:#cccccc;width:150px;padding:0;margin:0;font-size:24px;line-height:24px}
.word-txt .guz-panel-guide h4 span{font-weight:300;display:block;padding-top:8px;font-size:20px}
.word-txt .guz-panel-guide img{margin-right:10px}
.guz-panel-guide .guz-panel-break{clear:none}
.guz-panel-guide .guz-panel-0:hover img{opacity:0.8}
.guz-panel-guide .guz-panel-0:hover h4{color:#ffcc00}
.word-txt .grupa-panel-ulubione h1{padding-left:0;margin-left:0}

/* ocena */
.ocena-c{float:right;margin-left:15px;margin-bottom:10px}
.game article .ocena,.ocena{width:130px;height:120px;}
.ocena .title{font-family:'Roboto',Arial,sans-serif;font-size:16px;line-height:16px;padding-top:10px;height:26px}
.ocena .score{font-size:64px;line-height:68px;font-weight:700;letter-spacing:-2px;height:68px;letter-spacing:-2px}
.ocena .brak-oceny{font-family:'Roboto Condensed',Arial,sans-serif;font-size:24px;line-height:24px;font-weight:400;height:50px;letter-spacing:-1px;padding-top:15px}
.ocena .txt{font-family:'Roboto',Arial,sans-serif;font-size:16px;line-height:16px;padding-bottom:10px;height:26px}
.ocena .txt-brak-oceny{font-size:16px;line-height:16px;padding-bottom:10px;height:38px}
.ocena .ocen{display:none;font-size:32px;line-height:120px;letter-spacing:-1px}
a.rekomendacja2{width:180px;height:50px;display:block;float:right;margin-right:10px}
a.rekomendacja2 img{width:180px;height:50px}

.game article .game-data-eng .ocena-c{margin-right:0}

/* metka*/
.metka{height:29px;line-height:27px;font-size:15px}

/* movie */
.video-player-c{width:980px}
.video-player-c .video-player-15{margin-bottom:0}

/* moje gry info txt */
.moje-gry-info-txt .mgit-box{width:235px;height:215px;}


.hots8-full .box:nth-child(-n+8){width:25%}
.hots8-full .box:nth-child(-n+3){width:33.33%}
.hots8-full .box:nth-child(8){display:none}
.hots8-full .box:nth-child(-n+8) p{font-size:15px;line-height:17px;color:#ffffff;font-weight:500;padding:8px;}
.hots8-full .box:nth-child(-n+8) p span{display:block;max-height:34px;overflow:hidden}
.hots8-full .box:nth-child(-n+3) p{font-size:17px;line-height:18px;color:#ffffff;font-weight:500;padding:10px;}
.hots8-full .box:nth-child(-n+3) p span{display:block;max-height:none;overflow:visible}

.edi-top-frame-right{display:block}
.edi-top-frame{width:1300px;margin-left:auto;margin-right:auto;}
.edi-top-frame-left{float:left}
.edi-top-frame-right{display:block;float:left;height:367px;width:300px;background:#005582;border-left:1px solid #cecece;overflow:hidden}
.chg-czyt{margin-left:0}
.edi-prev-next{width:1340px}
.editorial-top-popular{padding:20px;padding-top:15px;overflow-y:auto;height:360px}
.editorial-top-popular a{color:#ffffff;display:block}
.editorial-top-popular h3{font-size:26px;line-height:26px;color:#ffffff;font-weight:400;letter-spacing:-1px;margin-bottom:5px;padding-left:5px}
.editorial-top-popular ul{padding-left:10px;padding-top:10px}
.editorial-top-popular li{color:#5d92ae;font-size:14px;line-height:16px;font-family:'Roboto',Arial,sans-serif;margin-bottom:7px}
.editorial-top-popular li a:hover{color:#ffcc00;text-decoration:none}

.newsroom-main-hot div.d1{position:absolute;bottom:0;right:0;width:340px;height:296px;max-height:296px;overflow:hidden}
.data-main-hot div.d1{height:367px;max-height:367px;width:325px}
.newsroom-main-hot div.d2{position:absolute;bottom:0;left:0;padding:20px;width:325px}
.newsroom-main-hot h2{text-align:left}
.newsroom-main-hot p{text-align:justify;padding-bottom:0;color:#cccccc}
.data-main-hot div.d1 p,.data-main-hot div.d1 h2{text-align:center}
.data-main-hot div.d1 h2{margin-bottom:15px}

header.edi-comic-header .edi-comic-logo{width:40%;float:left;margin-right:20px}
header.edi-comic-header h1{margin:0;margin-bottom:10px;margin-left:10px}
header.edi-comic-header p.comi-desc{margin:0;padding:0;margin-left:10px}


.eg-small-box-list{padding-top:15px;padding-left:20px;height:185px;overflow:hidden}
.skl-promo-bar div.sk5{display:block}

.s016-user-polecane a{display:inline-block;width:90px;margin-right:12px}
.s016-user-polecane a img{width:90px;height:90px;margin-bottom:8px}
.s016-user-polecane a p{font-family: 'Roboto',Arial,sans-serif;font-size:14px;color:#666666;line-height:15px;word-wrap:break-word;text-align:center;display:block;width:90px;height:30px;overflow:hidden}

.word-txt img.firma-logo{max-width:180px}
.newsroom-hots2 .box{width:calc(20% - 20px);}
.newsroom-hots2 .box:nth-of-type(5){display:block}
.newsroom-hots2-S012 .box{width:calc(33% - 20px);padding-right:0px}

.main-nav .mnvb{padding-left:16px;padding-right:16px}
}



/* ************ */

@media screen and (max-width:1023px) {
aside{width:100%;padding-left:5px;padding-right:5px;float:none}
.news-tagi{text-align:center}
.newsroom-tagi{display:none}
.aside-yes-no-1000 {display:none}
.a-list{width:680px;float:none;}
.game aside{float:none}
.pre-footer{width:100%}
.cross{display:none}
.cross-mobile-show{display:block}
.cross-100pcent{display:block}
.cross-top-games{display:block;padding:15px}
.cross-top-games .box{width:50%;padding:5px}
.cross-top-games h3{padding-left:5px;}
.cross-show-always{display:block;padding-left:20px}
.cross-full-width{width:100%;padding-right:10px}
.soc-16-newsroom{display:none}

/* panel-top */
.panel-top{height:70px}
.panel-top-wysoki{height:200px}
.ppanel-lista{height:146px}
.ppanel-lista-show{height:auto;}

.panel-top-szk{height:130px}
.panel-top-logo{width:230px;height:50px;position:absolute;top:10px;left:10px;background:url(../im/icons-15a.png);background-position:0 -380px;opacity:0.9}
.szk-but-mob{width:50px;height:50px;float:right;margin-right:10px;margin-top:10px;background:url(../im/icons-15a.png);background-position:-240px -380px;opacity:0.8;cursor:pointer}

.log-but-mob{width:50px;height:50px;float:right;margin-right:10px;margin-top:10px;background:url(../im/icons-15a.png);background-position:-360px -380px;opacity:0.8;cursor:pointer}
.log-but-mobb{width:50px;height:50px;float:right;margin-right:10px;margin-top:10px;background:url(../im/icons-15a.png);background-position:-420px -380px;opacity:0.8;cursor:pointer}
.log-but-mobc{width:50px;height:50px;float:right;margin-right:10px;margin-top:10px;background:url(../im/icons-15a.png);background-position:-480px -380px;opacity:0.8;cursor:pointer}

.men-but-mob:focus,.men-but-mob:hover,.szk-but-mob:focus,.szk-but-mob:hover,.log-but-mob:focus,.log-but-mob:hover,.log-but-mobb:focus,.log-but-mobb:hover,.log-but-mobc:focus,.log-but-mobc:hover{opacity:1}
.menu-top .iko3c{display:none}

/* JANUSZ START */
/* panel-top */
nav {min-height:0}
.men-but-mob{width:50px;height:50px;float:right;margin-right:10px;margin-top:10px;background:url(../im/icons-15a.png);background-position:-300px -380px;opacity:0.8;cursor:pointer}
.main-nav{height:0}
.menu-sec{display:none}
.menu-sec-exp {display:block} /* JANUSZ */
.main-nav-exp{height:auto}
.main-nav-exp .mnvb-more{display:none}
.isStuck .main-nav-exp .mnvb-more{display:block;}
.panel-top .isStuck{z-index:2147483647;right:0px;top:0px;background:url(../im/icons-15a.png);background-position:-540px -380px;opacity:0.8;}
/* JANUSZ .menu-sec{display:none} JANUSZ */
.menu-sec {width:initial} /* JANUSZ */
.menu-sec-mob{display:block}
.menu-top .ksywka-c{clear:both}
.main-nav {display:none}
.main-nav-exp {display:block}

/* JANUSZ STOP */

/* panel logowania */
.log-panel{width:100%}
.close-login-panel{display:none}

/* search top */
.szk{display:none}
.panel-top-szk .szk{display:block;bottom:10px;right:10px}
.qsearch-main a{padding:10px}

/* menu top */
.menu-top-as-bar{display:none}
.menu-top-as-panel{display:block}
.menu-top-c{display:none;display:block}
.menu-top-c-exp{display:block;height:auto}
.men-but-mob-c{display:none}
.main-nav *{-webkit-transition: none;	-moz-transition: none;	-o-transition: none;transition: none;}

.menu-top-c{height:auto}
.menu-top{height:auto}

.menu-top-mobi1{float:none;margin:0;padding:0;clear:both;padding-left:15px;background:#dbdbdb;border-bottom:1px solid #ffffff}
.menu-top .iko{margin:0;padding:0;width:30px;height:30px;float:left;margin-top:10px;margin-right:12px;margin-bottom:10px}
.menu-top .iko1{background:url(../im/icons-15a.png);background-position:0 -100px;opacity:0.8}
.menu-top .iko2{background:url(../im/icons-15a.png);background-position:-40px -100px;opacity:0.8}
.menu-top .iko2p{background:url(../im/icons-16.png);background-position:0px -25px;opacity:0.8;font-size:14px;line-height:30px;}
.menu-top .iko2ab{background:url(../im/icons-15a.png);background-position:-240px -140px;opacity:0.8}
.menu-top .iko3{background:url(../im/icons-15a.png);background-position:-80px -100px;opacity:0.8}
.menu-top .iko4{background:url(../im/icons-15a.png);background-position:-120px -100px;opacity:0.9}
.menu-top .iko5{background:url(../im/icons-15a.png);background-position:-160px -100px;opacity:0.9}
.menu-top .iko6{background:url(../im/icons-15a.png);background-position:-240px -100px;opacity:0.9}
.menu-top .iko7{background:url(../im/icons-15a.png);background-position:-200px -100px;opacity:0.9}
.menu-top .iko8{background:url(../im/icons-15a.png);background-position:-100px -60px;opacity:0.5;float:right;display:block}

.menu-top .link{font-size:14px;font-weight:400;display:block;height:30px;line-height:30px;}
.menu-top .label{background:#ffcc00;line-height:30px;height:30px}
.menu-top .label:hover{background:#900000;color:#ffffff}

.menu-top .data{font-size:16px;line-height:30px;height:30px;}
.menu-top .vip span{line-height:30px;height:30px}
.menu-top .iko-env{width:35px;height:25px;margin-top: 11px;}
.menu-top-mobi2{clear:both;float:none;}
.menu-top-mobi-clr{clear:both}
.menu-top .li-logowanie{display:none}
.menu-top .li-fb{display:none}
.menu-top .li-st{display:none}
.menu-top .li-rej{display:none}
.menu-top .ksywka{background:#cbe5f1;text-align:center;width:280px;max-width:280px;font-weight:600;line-height:30px;height:30px}
.log-but-small{width:100px;display:inline-block;margin-left:10px;font-size:14px;line-height:32px;height:32px;padding:0;margin-top:5px}
.log-but-small span{margin:0;margin-right:8px}

/* lista uniwersalna */
.u-list{width:100%;float:none}
.u-list-wide{width:100%;}
.u-list-box .box{margin-right:10px;width:calc(50% - 10px)}
.u-list-screen .box-screen{width:50%}
.u-list-screen-wide .box-screen{width:50%}
.u-list h1{font-size:32px;line-height:32px;letter-spacing:-1px;}
.u-list h2{font-size:20px;line-height:20px;letter-spacing:-1px;}
.u-list p{}
.u-list-dev p{font-size:15px;line-height:18px;}
.smc{width:320px;height:180px;}
.u-list .plat{max-width:365px}
.u-list-date .lista .plat{width:292px}

.s-list-releases{padding-left:10px;padding-right:10px;margin-left:20px;margin-right:20px;width:auto}
.s-list-releases .box{width:100%}
.s-list-releases .box p{width:84%}
.s-list-releases .box span{width:16%}

/* grupa panel */
.guz-panel-game{display:none}

.guz-panel-ajax{display:block}
.guz-panel-other .guz-panel-0{display:none}
.guz-panel-other .but-neu{font-family:'Roboto Condensed',Arial,sans-serif;font-size:16px;line-height:32px;height:32px;margin-right:10px;margin-bottom:10px;padding-left:8px;padding-right:8px;min-width:50px}
.guz-panel-other .guz-panel-0-2{display:block;text-align:left;padding-left:20px}
.guz-panel-other .guz-panel-break{clear:none}
.guz-panel-other .guz-panel-2{border-radius:0}
.guz-panel-guide{margin-left:20px}

.video-player-15{padding:0px}
.gpc-c300{padding-right:20px;padding-left:20px}
.game-data-eng{width:398px}

/* baner*/
.baner300x600{display:none}
.display-none2{display:none}

.bread-abo b{display:none}

/* lista aside 1*/
.lista-aside-1{width:100%}
.lista-aside-1 .box{height:84px;width:50%;float:left;display:block;position:relative;min-height:auto;margin-bottom:15px;padding-right:15px;overflow:hidden}
.lista-aside-1 .box2{font-size:14px;line-height:17px}
.lista-aside-1 .box img{display:block;position:absolute;clip:auto;width:150px;height:84px;left:0px;}
.lista-aside-1 .box p{margin:0;padding-left:160px;}
.lista-aside-1 .box3{min-height:0;height:42px}
.lista-aside-1 .box3 p{padding-left:0px;}
.lista-aside-1::after{content:"";display:block;clear:both}
.lista-aside-1 .box::after{content:"";display:block;clear:both}
.lista-aside-1 .box:hover{text-decoration:none;color:#0066cc;}
.lista-aside-1 .box:hover img{opacity:0.7}

.news-tem p{font-size:15px;line-height:17px;text-align:center}
.czytaj-hot-dla-desktop{display:none}
.newsroom-main-hot-c{display:block}

.mobile-hot-czyt-mobile{width:100%;display:block;border-bottom:1px solid #cccccc;position:relative}
.mobile-hot-czyt-mobile img{width:100%}
.mobile-hot-czyt-mobile p{background:rgba(0,0,0,0.8);text-align:center;padding:10px;color:#ffffff;font-family: 'Roboto condensed',Arial,sans-serif;font-size:24px;line-height:26px;position:absolute;bottom:20px;right:20px;max-width:300px;letter-spacing:-1px}
.mobile-hot-czyt-mobile:hover{text-decoration:none;color:#ffffff}


/* new release dates */
.daty-premier-2017 .box{padding-top:10px;padding-bottom:10px}
.daty-premier-2017 .box div{float:none;font-family:'Roboto',Arial,sans-serif;letter-spacing:0px;padding:0px}
.daty-premier-2017 .box div:nth-of-type(1){width:100%;font-size:16px;line-height:18px;color:#000000;padding-right:0px;text-align:left;font-weight:500;margin-bottom:5px}
.daty-premier-2017 .box div:nth-of-type(2){width:100%;font-size:16px;line-height:18px;color:#0066cc;padding-right:0px;margin-bottom:5px}
.daty-premier-2017 .box div:nth-of-type(2) i{color:#999999;font-style:normal;margin-left:5px;font-weight:300;float:right;font-size:14px}
.daty-premier-2017 .box div:nth-of-type(2) b{color:#ea723d;font-style:normal;margin-left:5px;font-weight:400;font-size:14px}
.daty-premier-2017 .box div:nth-of-type(3){width:40%;font-size:13px;line-height:17px;color:#333333;word-spacing:2px;padding-right:0px;float:left;text-align:right}
.daty-premier-2017 .box div:nth-of-type(4){width:60%;font-size:13px;line-height:17px;color:#00ae1d;float:left;text-align:right;padding-right:0px}

.daty-premier-2017 .box-sm{display:block;float:left;width:100%;border-top:1px dashed #cccccc;font-family:'Roboto',Arial,sans-serif;margin-top:7px}
.daty-premier-2017 .box-sm::after{content:"";display:block;clear:both}
.daty-premier-2017 .box-sm span{padding-top:7px;padding-bottom:0px;float:left}
.daty-premier-2017 .box-sm span:nth-of-type(1){width:50%;display:block;font-size:15px;line-height:17px;color:#000000;padding-right:0px;text-align:left}
.daty-premier-2017 .box-sm span:nth-of-type(2){display:none}
.daty-premier-2017 .box-sm span:nth-of-type(3){width:25%;display:block;font-size:13px;line-height:17px;color:#333333;word-spacing:2px;padding-right:0px;text-align:right}
.daty-premier-2017 .box-sm span:nth-of-type(4){width:25%;display:block;font-size:13px;line-height:17px;color:#00ae1d;text-align:right}

.newsroom-hots2 .box{width:calc(33.33% - 20px);}
.newsroom-hots2 .box:nth-of-type(4){display:none}

.game-box-c-eng{margin-left:10px}
.game-data-eng{width:calc(100% - 270px)}

.skl-promo-bar div.dg1,.skl-promo-bar div.dg2,.skl-promo-bar div.dg3,.skl-promo-bar div.dg4{display:none}
}

/* ************************ */

@media screen and (max-width:750px) {
/* lista aside 1*/
.lista-aside-1 .box{width:100%;padding-right:0}
.lista-aside-1 .box3{height:auto}
.skl-promo-bar div.sk5{display:none}
.newsroom-hots2{padding:10px;padding-right:0px;padding-bottom:0px}
.newsroom-hots2 .box{width:calc(50% - 10px);margin-right:10px}
.newsroom-hots2 .box:nth-of-type(4){display:block}
.newsroom-hots2 p{display:none}
.newsroom-hots2 .box h5{margin-bottom:10px}
.newsroom-hots2 .box img{margin-bottom:5px}
.ppanel-kat div.but-neu{display:none}
.ppanel-plat .passive{display:none}
.ppanel-plat .plat-pan-tit{display:none}
.ppanel-plat .plat-pan1, .ppanel-plat .plat-pan2, .ppanel-plat .plat-pan3, .ppanel-plat .plat-pan4, .ppanel-plat .plat-pan5{width:auto}
#per-but-3,#per-but-4{display:none}
.S008-menu #per-but-4{display:block}
yes750{display:block}
no750{display:none}
.mobile-hot-czyt-mobile p{background:rgba(0,0,0,0.8);text-align:center;padding:5px;color:#ffffff;font-family: 'Roboto',Arial,sans-serif;font-size:15px;line-height:16px;position:absolute;bottom:10px;right:10px;letter-spacing:0px;max-width:180px}
}
	
@media screen and (max-width:700px) {
#disqus_thread{margin-left:auto;margin-right:auto;margin-bottom:20px;padding-left:10px;padding-right:10px}

/* panel-top */
nav {min-height:0}
.men-but-mob{width:50px;height:50px;float:right;margin-right:10px;margin-top:10px;background:url(../im/icons-15a.png);background-position:-300px -380px;opacity:0.8;cursor:pointer}
.main-nav{height:0}
/* JANUSZ .menu-sec{display:none} */
.main-nav-exp{height:auto}
.main-nav-exp .mnvb-more{display:none}
.isStuck .main-nav-exp .mnvb-more{display:block;}
.panel-top .isStuck{z-index:2147483647;right:0px;top:0px;background:url(../im/icons-15a.png);background-position:-540px -380px;opacity:0.8;}
/* JANUSZ .menu-sec{display:none} */
.menu-sec-mob{display:block}
.menu-top .ksywka-c{clear:both}

/* lista uniwersalna */
.u-list h1{font-size:32px;line-height:34px;letter-spacing:-1px}
.u-list h2{font-size:20px;line-height:21px;letter-spacing:-1px}

.u-list-box .box{width:100%;height:auto;margin-right:0;height:auto}
.u-list-box .lista-hoty .box{height:auto}
.u-list-box .lista-news .box{width:100%;height:auto;margin-right:0}
.u-list-box .lista-gry .box {height:auto}
.u-list-box img.pic{width:60%;height:auto;float:left;margin-bottom:0}
.u-list-box .lista-video-group img.pic{width:100%;max-width:300px}
.u-list-box .lista p{display:none}
.u-list-list img.pic{max-width:30%}
.u-list-list h5{font-size:21px;line-height:22px;}
.u-list-list img.video{width:15%;position:absolute;top:10px;left:10px;max-width:50px;}
.u-list-box img.video {width: 20%;position: absolute;top: 15px;left: 15px;max-width: 50px;}
.u-list-list .lista-hoty .tit-hot-1{font-size:21px;line-height:22px}
.u-list-list .lista-hoty .tit-hot-2{font-size:17px;line-height:18px}
.u-list-box .lista-gry img.pic-small{margin-right:15px}
.u-list-list .lista-tvgry h5{font-size:21px;line-height:22px;}
.u-list-list .lista-tvgry .tit-hot-2{font-size:17px;line-height:18px}
.u-list-box .lista-gry h5{max-height:none;font-size:21px;line-height:22px;}
.u-list-box .lista-tvgry .box{height:auto}
.u-list-box .lista-tvgry h5{max-height:none}
.u-list-box .lista-tvgry .video-time{display:none}
.lista-video-on-game {display:none}
.lista-mozaika .box3 img{max-height:140px;min-height:140px}
.u-list-devs .lista a{width:50%;}
.u-list-dev .dev-top{display:none}
.u-list .plat{max-width:100%}

.u-list-box .lista-video-group .box{height:auto;margin-bottom:20px}
.u-list-box .lista-video-group .plat-movie{display:block;margin-bottom:10px}
.u-list-box .lista-video-group .opis-b{display:none;}
.u-list-box .lista-video-group .video-time{display:none}
.u-list-box .lista-video-group .play-active{position:relative;top:0;left:0;width:30%;margin-bottom:10px}

.u-list-rankings .box .number{width:15%}
.u-list-rankings .box .score{width:15%}
.u-list-rankings .box .title{width:70%}
.u-list-rankings .box .genre{display:none}

/* release dates */
.u-list-date .lista .plat{display:none}
.u-list-date .lista .mat{display:none}
.u-list-date .lista .title{display:inline-block;float:none;width:65%;font-size:20px}

.social-compact-15-1{margin-left:0px}
.social-compact-15-2{float:left;display:block;min-width:110px}
.social-compact-15-3{margin-bottom:16px}

/* GAME */
.game header{padding-top:10px}
.game header h1{padding-left:10px;padding-right:10px;font-size: 32px;    line-height: 34px;    letter-spacing: -1px;}
.game header h2{padding-left:10px;padding-right:10px;    font-size: 20px;    line-height: 21px;    letter-spacing: -1px;}
.game header p{padding-left:10px;padding-right:10px}

.S016wordcut{max-height:500px;overflow-y:hidden}
.S016wordcut-button-hide{display:block;margin-left:10px}
.game-data-col{width:100%;float:none}
.game-data{float:none;clear:both;width:calc(100% - 20px);padding-bottom:10px;margin-left:10px;margin-right:10px;padding-left:10px;padding-right:10px;margin-bottom:20px}
.game-box-c{float:none;margin-left:auto;margin-right:auto}

.S016-vid-pre-txt{position:absolute;bottom:0px;left:0px;margin-left:0px;margin-right:0px;padding:10px;padding-left:15px;border-radius:0px}


/* game galeria */
.game-galeria{margin-left:10px;margin-bottom:10px;margin-right:0px}
.game-galeria .box{width:25%;padding-right:10px;padding-bottom:10px;float:left}
.game-galeria .box:nth-child(-n+10){display:none}
.game-galeria .box:nth-child(-n+6){display:block;width:33.33%;}


/* group panel */
.guz-panel-2{padding-left:10px}
.guz-panel-ajax .guz-panel-0 img{display:none}
.guz-panel-ajax .guz-panel-0{padding-left:10px;padding-right:10px;padding-top:3px;padding-bottom:0}
.guz-panel-ajax .guz-panel-0 h4{display:none}
.guz-panel-other .guz-panel-1{padding-left:10px}
.guz-panel-other .guz-panel-0-2{padding-left:10px}
.guz-panel-guide{margin-left:10px;margin-right:10px}

/* ocena */
.ocena-c{float:right;margin-right:10px;margin-left:10px;margin-bottom:5px}
.game .ocena-c{margin-right:10px}
.game article .game-data-eng .ocena,.game article .ocena,.ocena{width:80px;height:60px;}
.game article .game-data-eng .ocena .title,.ocena .title{display:none}
.game article .game-data-eng .ocena .score,.ocena .score{font-family:'Roboto',Arial,sans-serif;font-size:42px;line-height:60px;font-weight:700;letter-spacing:-1px;height:60px}
.game article .game-data-eng .ocena .brak-oceny,.ocena .brak-oceny{font-family:'Roboto Condensed',Arial,sans-serif;font-size:22px;line-height:22px;font-weight:400;height:60px;letter-spacing:-1px;padding-top:8px}
.game article .game-data-eng .ocena .txt,.ocena .txt{display:none}
.ocena .txt-brak-oceny{display:none}
.ocena .ocen{display:none;font-size:22px;line-height:22px;letter-spacing:0px;height:60px;padding-top:8px}
.game article .game-data-eng .ocena .ocen{line-height:56px}
.edi-art-top .ocena-c {position: absolute;top: 10px;right: 0px;}

a.rekomendacja2{width:120px;height:33px;display:block;float:right}
a.rekomendacja2 img{width:120px;height:33px;}

.baner300x250-enc{display:none}
.social-score{float:none}
.social-16-thumbs{display:block;float:left;}
.social-16{height:auto;padding-left:15px;margin-bottom:10px}
.social-16-soc{float:left}
.g-ytsubscribe-c{float:left;}
.sfo-but-kom i{display:none}

.moje-gry-info-txt{padding:10px;padding-top:15px}
.moje-gry-info-txt .mgit-box{width:100%;height:auto;margin-right:0px;float:left;padding:15px;border:1px solid #cccccc;background:#ffffff;margin-bottom:15px}

.word-txt .cpg p.p1{font-size:28px;line-height:32px;font-weight:700;letter-spacing:-1px;margin-bottom:10px;padding-left:0;padding-right:0}
.word-txt .cpg p.p2{font-size:20px;line-height:23px;font-weight:400;padding-left:0;padding-right:0}

.hots8-full{padding-left:10px;padding-top:10px;padding-right:0px}
.hots8-full .box:nth-child(n){width:50%}
.hots8-full .box:nth-child(7){display:none}
.hots8-full .box:nth-child(8){display:none}
.hots8-full .box:nth-child(n) p{font-size:15px;line-height:15px;color:#ffffff;font-weight:400;padding:6px;}
.hots8-full .box:nth-child(n) p span{display:block;max-height:none;overflow:visible}

.edi-art-top-tit{display:none}
.S016-pegi{width:calc(100% - 20px);margin-left:10px;margin-right:10px}
.podobne-pegi{padding:0}
.s016-user-polecane{display:none}
.S016-facebook-likebox{display:none}
.game .lista-video-group{display:none}
.word-txt img.firma-logo{float:none;margin:20px;margin-left:auto;margin-right:auto;}
.guz-panel-eng{margin-left:10px;margin-right:10px;padding:10px}

}	

@media screen and (max-width:640px) {
.space-resp-1{padding-left:10px;padding-right:10px}
.space-resp-4{padding-left:10px;padding-right:10px}
.space-resp-5{padding:10px;padding-top:0px}
.S013po{text-align:center}
.S013po .gsbox110{display:inline-block;float:none;margin-left:5px;margin-right:5px}
.S013po-pub a.gsbox110{display:none}
.S013po-pub a:nth-of-type(1){display:inline-block}
.S013po-pub a:nth-of-type(2){display:inline-block}
.S013po-pub a:nth-of-type(3){display:inline-block}
.S013po-pub a:nth-of-type(4){display:inline-block}


aside{padding-left:0px;padding-right:0px}
.next-prev .np-center{display:none}
.slo-lista{padding:20px;-moz-column-count:2;-moz-column-gap:30px;-webkit-column-count:2;-webkit-column-gap:30px;column-count:2;column-gap:30px}
.slo-lista-solo{-moz-column-count:1;-moz-column-gap:0px;-webkit-column-count:1;-webkit-column-gap:0px;column-count:1;}
.S047-gaz .gaz-lo1{float:none}
.S047-gaz .gaz-lo2{display:none}
.news-tem{width:33.33%;}
.news-tem:nth-last-child(-n+2){display:none}
.skl-promo-bar div.sk4{display:none}
.S016-mobile-plus-minus .tx2{float:none;width:100%;min-height:0px;padding-left:0;margin-left:0px}
.S016-mobile-plus-minus .tx2:last-of-type{padding-left:0}

.gc-table100{width:100%;min-width:320px;background:#ffffff;margin-left:auto;margin-right:auto}
.table13-1{width:100%;min-width:320px;border:none;-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;margin:0;margin-bottom:15px}
.table13-1 th{display:none}
.table13-1 tr{border:#cccccc 1px solid;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;-moz-box-shadow: 0 1px 2px #d1d1d1;-webkit-box-shadow: 0 1px 2px #d1d1d1;box-shadow: 0 1px 2px #d1d1d1;}
.table13-1 td{display:block}
.table13-1 td:last-child,.table13-1 th:last-child{margin-bottom:10px}
.table13-1 tr:nth-of-type(even) td {background: #ffffff}
.table13-1 tr td:first-child{background:#dee8f0}
.table13-1 .td-small-logo{display:none}
.table13-1 .td-opis{width:auto}
.table13-1 .td-event p{display:inline-block;margin-right:10px}
.gc-table100-perso .spacer{display:block;width:0px}

.u-list a.rekomendacja-ocena{display:none}
.rekom-sign-S042{display:none}
#comp-premium-cnt{padding:10px;font-size:14px;line-height:18px}
#comp-premium-cnt img{display:none}
#comp-adblock-cnt{font-size:14px;line-height:18px}
no640{display:none}
}

/* ************************ */

@media screen and (max-width:480px) {
n480{display:none}
.no480{display:none}
y480{display:block}
.but-neu{font-family:'Roboto Condensed',Arial,sans-serif;}
.bread-but{font-family:'Roboto Condensed',Arial;}

.main-nav li,nav .isStuck .main-nav .fly-show,.main-nav .mob-show{width:33.33%;text-align:center}
.main-nav li span{margin-left:auto;margin-right:auto}
.menu-sec li{width:33.33%;text-align:center}

/* panel-top */
.panel-top{width:100%;height:60px}
.panel-top-szk{height:120px}
.panel-top-logo{width:140px;height:30px;position:absolute;top:5px;left:5px;background:url(../im/icons-15a.png);background-position:0 -440px;opacity:0.9;}
.szk-but-mob{margin-right:5px;margin-top:5px;}
.log-but-mob{margin-right:5px;margin-top:5px;}
.log-but-mobb{margin-right:5px;margin-top:5px;}
.log-but-mobc{margin-right:5px;margin-top:5px;}
.men-but-mob{margin-right:5px;margin-top:5px;}
nav .isStuck .main-nav .mnvb-home{display:block}
nav .isStuck .main-nav .mnvb-gol{display:none}
.isStuck .main-nav .mnvb-gol-c{display:none}
.ppanel-plat .plat-pan{margin-right:3px}

.log-panel-1{border:none}
.log-panel-2{width:290px;border:none}
.log-panel-3{width:290px;border:none}

.menu-top .iko{margin-right:8px;}
.menu-top .iko3c,.menu-top .ikoab{display:none}
.log-txt-mob{display:block;position:absolute;top:35px;left:5px;width:140px;height:21px;background:rgba(0,0,0,0.9);border-radius:3px;color:#ffffff;line-height:21px;font-size:14px;font-family:'Roboto Condensed',Arial,sans-serif;overflow:hidden;text-align:center}

/* lista uniwersalna */
.u-list header{padding:10px}
.u-list header p{padding-bottom:10px}
.u-list .perso-buttons{padding:10px;padding-bottom:5px;padding-right:0}
.u-list .buttons{padding:10px;padding-bottom:5px}
.u-list .box{padding-right:10px}
.u-list .lista{padding-left:10px}
.u-list .but-neu{margin-right:8px;padding-right:8px;padding-left:8px}
.u-list-box .box{width:100%;height:auto;margin-right:0;margin-bottom:15px}
.u-list-box .lista-news .box{width:100%;height:auto;margin-right:0;margin-bottom:10px}
.u-list-box .lista-hoty .box{height:auto}
.u-list-box img.pic{width:100%;height:auto;max-width:100%;float:none;margin-bottom:5px}
.u-list-list img.pic{max-width:50%;float:none;margin-bottom:10px}
.u-list-box .lista-video-group img.pic{max-width:100%}
.u-list-box .lista-gry .box {height:auto;}
.u-list-box .lista-tvgry .box{height:auto}
.u-list-box .lista-tvgry .video-time{display:none}
.u-list-screen .box-screen{width:100%}
.u-list-screen-wide .box-screen{width:100%}
.u-list-list .lista-mater-on-game img.pic{display:none}
.u-list-search .game-link{font-size:18px;line-height:20px;font-weight:400}
.u-list .plat{display:none}


.u-list-box .lista-video-group .plat-movie{display:block;margin-bottom:0px}
.u-list-box .lista-video-group .opis-b{display:none}
.u-list-box .lista-video-group .play-active{display:none}
.u-list-box .lista-video-group .video-time{display:none}
.u-list-devs .lista a{width:100%;}
.u-list-dev h3{text-align:center}
.smc{width:300px;height:169px;border:0;margin-bottom:3px;float:none;margin-left:auto;margin-right:Auto}

/* lista mozaika */
.lista-mozaika {padding-left: 15px;}
.lista-mozaika .box2{width:100%}
.lista-mozaika .box3{width:50%}
.lista-mozaika .box3 img{max-height:208px;}

/* release dates */
.u-list-date .lista .box{padding-right:0;min-height:37px}
.u-list-date .lista .kat{display:none}
.u-list-date .lista .day,.u-list-date .lista .day0{width:10%;font-size:16px;min-height:36px;height:auto;line-height:36px}
.u-list-date .lista .title{font-size:16px;width:90%;line-height:17px;padding-top:9px;padding-left:10px;letter-spacing:0;padding-bottom:5px}

.s-list-releases{padding-left:10px;padding-right:10px;margin-left:10px;margin-right:10px;width:auto}
.s-list-releases .box{width:100%}
.s-list-releases .box p{width:80%}
.s-list-releases .box span{width:20%}
.lista-mozaika .box0 p{font-size:18px;line-height:19px;position:relative;bottom:0px;left:0px;padding:10px;padding-left:15px;background:rgba(0,0,0,1);max-width:100%;text-align:left;color:#ffffff}

.u-list-list .lista-news .box{min-height:100px}
.u-list-list .lista-news .box a.pic-c{float:right;width:120px;}
.u-list-list .lista-news img.pic{
    display: block;
    position: absolute;
    clip: rect(0px,140px,90px,20px);
    width: 160px;
    height: 90px;
    left: -20px;
}
.u-list-list .lista-news p{display:none}
.u-list-list .lista-news h5{font-family: 'Roboto',Arial,sans-serif;font-weight:500;font-size:16px;line-height:20px;width:calc(100% - 130px);margin-bottom:0px}


/* perso panele */
.ppanel .plat-pan{width:auto}
.ppanel{padding-left:10px;padding-bottom:10px}
.ppanel a, .ppanel .passive{margin-right:3px}

.ppanel-kat span{display:none}
.ppanel-kat .but-neu{width:47%;padding-left:0;padding-right:0;font-size:16px}

.game .social-compact-15{padding-left:10px}
.grupa-panel-ulubione{margin-right:10px}

/* game */
.S016-vid-pre-txt{padding:10px}
.S016-vid-pre-txt p b{font-size:14px}
.S016-txtpod-2{display:none}

/* game galeria */
.game-galeria{margin-left:10px;margin-bottom:10px;margin-right:0}
.game-galeria .box{width:25%;padding-right:10px;padding-bottom:10px;float:left}
.game-galeria .box:nth-child(-n+10){display:none}
.game-galeria .box:nth-child(-n+4){display:block;width:50%;}
.podobne-pegi-1{display:none}
.podobne-pegi{margin-bottom:20px;}
.podobne-pegi h3{font-size: 24px;line-height: 26px;text-align:center}
.podobne-pegi h3 span{display:none}

/* lista mozaika2 */
.lista-mozaika2{padding:5px}
.lista-mozaika2 .box1{width:100%}
.lista-mozaika2 .box2{width:100%}
.lista-mozaika2 .box3{width:100%;}
.lista-mozaika2 .box div{position:absolute;bottom:0px;left:0px;background:rgba(0,0,0,0.7)}
.u-list .lista-mozaika2 .box{padding-right:5px}
.lista-mozaika2 .box1 div,.lista-mozaika2 .box2 div,.lista-mozaika2 .box3 div{padding:10px;}
.lista-mozaika2 .box1 h5,.lista-mozaika2 .box2 h5,.lista-mozaika2 .box3 h5{font-size:24px;line-height:24px;}
.lista-mozaika2 .box p{font-family:'Roboto',Arial,sans-serif;font-size:14px;line-height:14px;}

.cross-top-games{display:block;padding:10px;padding-top:20px}
.cross-top-games .box{width:100%;padding:0;padding-right:5px}
.cross-top-games h3{padding-left:0px;}

/* ankieta*/
.ankieta17{padding:10px;padding-left:10px;}
.ankieta17 h3{text-align:center;font-size:21px;line-height:23px;letter-spacing:0px;}
.ankieta17-num{font-size:14px;}
.ankieta17-txt{font-size:14px;}
.ankieta17-line{padding-bottom:10px;}

.S013-next-prev p{display:block}
.next-prev-long{padding-left:10px;padding-right:10px;margin-bottom:20px}

/* lista aside 1*/
.lista-aside-1 .box{height:auto;min-height:60px}
.lista-aside-1 .box img{width:100px;height:56px;left:0px;}
.lista-aside-1 .box p{padding-left:110px;}
.lista-aside-1 .box3{height:auto;min-height:0}
.lista-aside-1 .box3 p{padding-left:0px;}

.gal-right a{width:50%;}

.gal-right-tapety a:nth-of-type(3){display:none}

.space-resp-3{padding-left:10px;padding-right:0px}

.hots8-full .box:nth-child(n){width:100%}
.hots8-full .box:nth-child(7){display:none}
.hots8-full .box:nth-child(8){display:none}
.hots8-full .box:nth-child(n) p{font-size:16px;line-height:16px;color:#ffffff;font-weight:500;padding:10px;}
.hots8-full .box:nth-child(n) p span{display:block;max-height:none;overflow:visible}

.slo-lista{padding:20px;-moz-column-count:1;-moz-column-gap:0px;-webkit-column-count:1;-webkit-column-gap:0px;column-count:1;column-gap:0px}

.news-tem{width:33.33%;}
.newsroom-main-hot p{display:none}
.newsroom-main-hot h2{font-size:21px;line-height:22px;letter-spacing:-0.5px}
.skl-promo-bar{padding-left:0px;padding-right:0px}

.eg-small-box-list{display:none}

.S016-mobilne-link a h5{display:none}
.S016-mobilne-link a p{display:none}

.daty-premier-2017 .box{padding-left:10px;padding-right:10px}
.firmy-pl-wazne .box{width:calc(50% - 10px);}

.newsroom-hots2 .box h5{font-family:'Roboto',Arial,sans-serif;font-size:14px;line-height:17px;margin-bottom:10px;height:34px;overflow:hidden;font-weight:400;letter-spacing:0px}
.guz-panel-eng{margin-left:0px;margin-right:0px;padding:10px}
}

@media screen and (max-width:400px) {
.game article .podobne-pegi-1 a.small-game-box{width:33.3%;padding-right:10px}
.skl-promo-bar div.sk3{display:none}
}

@media screen and (max-width:320px) {
.ppanel-kat .but-neu{width:145px;font-size:14px}
}


/* screensize check */

@media screen and (max-width:299px) {
	#screensizecheck {display:none;width:1px;}
	/* BRAK lub resp */
}

@media screen and (min-width:300px) and (max-width:319px) {
	#screensizecheck {display:none;width:2px;}
	/* max 300 x 50 lub resp */
}

@media screen and (min-width:320px) and (max-width:479px) {
	#screensizecheck {display:none;width:3px;}
	/* max 320 x 50 lub resp */
}

@media screen and (min-width:480px) and (max-width:727px) {
	#screensizecheck {display:none;width:4px;}
	/* max 468 x 60 lub resp */
}

@media screen and (min-width:728px) and (max-width:767px) {
	#screensizecheck {display:none;width:5px;}
	/* max 728 x 90 lub resp */
}

@media screen and (min-width:768px) and (max-width:969px) {
	#screensizecheck {display:none;width:6px;}
	/* max 768 x 90 lub resp */
}

@media screen and (min-width:970px) and (max-width:1023px) {
	#screensizecheck {display:none;width:7px;}
	/* max 768 x 90 lub resp */
}

@media screen and (min-width:1024px) and (max-width:1679px) {
	#screensizecheck {display:none;width:8px;}
	/* max 768 x 90 lub resp */
}

@media screen and (min-width:1680px) and (max-width:1919px)  {
	#screensizecheck {display:none;width:9px;}
	/* max 970 x nnn lub resp */
}

@media screen and (min-width:1920px) {
	#screensizecheck {display:none;width:10px;}
	/* max 970 x nnn lub resp */
}
