/* ---- */
.sup-hot-2-2-3-3-3{display:none}
.ban-fp-970x200{width:1000px;height:200px;display:block;margin-left:auto;margin-right:auto;padding-top:15px;padding-bottom:10px;background:#ffffff;text-align:center}
.ban-fp-970x200-inner {display:block;width:970px;height:200px;margin-left:auto;margin-right:auto;}

.suphot2014-c{overflow:hidden}
.suphot2014-c a:hover{text-decoration:none}
.suphot2014-c *,.suphot2014-top,.suphot2014-top *,.suphot2014-menu,.suphot2014-menu *,.fp-games-boxes,.fp-games-boxes *{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-family:Roboto,Arial,Helvetica,sans-serif;}
.suphot2014,.suphot2014-top,.suphot2014-menu,.fp-games-boxes,.stpc{width:1000px;margin-left:auto;margin-right:auto;background:#ffffff}

.suphot2014{height:574px;position:relative;padding-bottom:10px}
.suphot2014 *{-webkit-font-smoothing: antialiased;}

.suphot2014-c h6{display:none}

/* super hot 2014 TOP */
.suphot2014-top{height:105px;position:relative;padding:10px;padding-left:5px;padding-right:5px;position:relative}
.sh14t-box{width:390px;float:left;height:90px;display:block;padding:10px;background:#f0f0f0;overflow:hidden;cursor:pointer}
.sh14t-box img{height:70px;width:120px;float:left;margin-right:10px}
.sh14t-box-cut{height:70px;overflow:hidden}
.sh14t-box .p1{font-weight:700;font-size:20px;color:#000000;line-height:20px;margin-bottom:2px;font-family:'Roboto Condensed',Arial,sans-serif;letter-spacing:-1px}
.sh14t-box .p2{font-weight:400;font-size:14px;color:#808080;line-height:16px;font-family:'Roboto Condensed',Arial,sans-serif;}

.sh14t-box1 a,.sh14t-box2 a{height:80px;overflow:hidden;display:block}

.sh14t-box1{width:34%;margin-right:1%}
.sh14t-box2{width:34%;margin-right:1%}
.sh14t-box3{width:30%;background:url(../im/fp-darmowe-back.png) #ff5400;padding-right:5px}
.sh14t-box3 .p1{color:#ffffff;text-align:center;margin-bottom:2px}
.sh14t-box3 img{margin-right:5px}
.sh14t-box3 .p1 span{font-size:30px;line-height:30px}
.sh14t-box3 .p2{color:#ffffff;text-align:center;font-size:13px;line-height:15px}
.sh14t-box a:hover{text-decoration:none}
.sh14t-box:hover{background:#ffc000}
.sh14t-box:hover .p2{color:#1a1a1a}
.sh14t-box3:hover{background:url(../im/fp-darmowe-back.png) #ff5400}

.sh14t-box-cut-v1 .p1{font-size:16px;line-height:16px;font-weight:700;letter-spacing:-0.5px;padding-bottom:2px;color:#0066cc}
.sh14t-box-cut-v1 .p2{color:#000000;font-style:italic;font-size:15px;line-height:16px}	
.sh14t-box-cut-v2 .p1{font-size:16px;line-height:19px;font-weight:700;letter-spacing:-0.5px;padding-bottom:2px;color:#0066cc}
.sh14t-box-cut-v2 .p2{font-weight: 700;font-size: 22px;color: #000000;line-height: 22px;margin-bottom: 2px;font-family:'Roboto Condensed',Arial,sans-serif;letter-spacing: -1px;}
.sh14t-box-cut-v3 .p1{font-size:16px;line-height:19px;font-weight:700;letter-spacing:-0.5px;padding-bottom:2px;color:#ff6600}
.sh14t-box-cut-v3 .p2{font-weight: 700;font-size: 22px;color: #000000;line-height: 22px;margin-bottom: 2px;font-family:'Roboto Condensed',Arial,sans-serif;letter-spacing: -1px;}


/* suphot2014-menu */
.suphot2014-menu{padding-bottom:2px;padding-top:2px}
.suphot2014-menu-left{float:left;padding-left:15px;}
.suphot2014-menu-left div{font-family:"Open Sans",Arial;font-size:14px;line-height:32px;height:30px;display:inline-block;margin-right:5px;cursor:pointer;color:#646464;padding-left:8px;padding-right:8px;font-weight:600;}
.suphot2014-menu-left .menu-left-act{color:#e03800;border-bottom:2px solid #e03800}
.suphot2014-menu-left div:hover{color:#0066cc;border-bottom:2px solid #0066cc}

.suphot2014-menu-right{float:right;padding-right:12px;height:30px}
.sh-bu-a{display:inline-block;width:30px;height:30px;background:url(/im/fp-sh-arr.png) no-repeat;margin-left:6px;cursor:pointer}
.sh-bu-al{background-position:-10px -310px}
.sh-bu-a1{background-position:-40px -310px}
.sh-bu-a2{background-position:-70px -310px}
.sh-bu-a3{background-position:-100px -310px}
.sh-bu-a4{background-position:-130px -310px}
.sh-bu-a5{background-position:-160px -310px}
.sh-bu-ar{background-position:-190px -310px}

.sh-bu-a1-act{background-position:-40px -340px}
.sh-bu-a2-act{background-position:-70px -340px}
.sh-bu-a3-act{background-position:-100px -340px}
.sh-bu-a4-act{background-position:-130px -340px}
.sh-bu-a5-act{background-position:-160px -340px}

.sh-bu-al:hover{background-position:-10px -370px}
.sh-bu-a1:hover,.sh-bu-a1-act:hover{background-position:-40px -370px}
.sh-bu-a2:hover,.sh-bu-a2-act:hover{background-position:-70px -370px}
.sh-bu-a3:hover,.sh-bu-a3-act:hover{background-position:-100px -370px}
.sh-bu-a4:hover,.sh-bu-a4-act:hover{background-position:-130px -370px}
.sh-bu-a5:hover,.sh-bu-a5-act:hover{background-position:-160px -370px}
.sh-bu-ar:hover{background-position:-190px -370px}


/* default darmowe gry */
.fp-dgc14{position:absolute;top:95px;right:6px;z-index:200;background:#ff5400;padding:0;margin:0;padding:10px;display:none}
.fp-dgc14-m h1,.fp-dgc14-m h1 a,.fp-dgc14 h1,.fp-dgc14 h1 a{font:bold 38px/38px Arial;color:#871607}
.fp-dgc14 h1{letter-spacing:-1px;padding-bottom:15px}
.fp-dgc14 h1 a:hover{text-decoration:underline;color:#ff4e00}
.fp-dg14{clear:both;min-height:76px}
.fp-dg14 a{display:block;min-height:76px}
.fp-dg14 img{width:100px;float:left;border:1px solid #c7c7c7;padding:4px;background:#ffffff}
.fp-dg14 h2{padding-left:120px;font:bold 14px Arial;color:#871607;padding-bottom:3px;padding-top:3px}
.fp-dg14 p{padding-left:120px;font-size:12px;color:#666666;font-family:Tahoma}
.fp-dg14 a:hover{text-decoration:none}
.fp-dg14 a:hover img{border:1px solid #ff4e00}
.fp-dg14 a:hover h2{color:#ff4e00;text-decoration:underline}
.fp-dg14 a:hover p{text-decoration:none;color:#666666}
.fp-dgt14:hover{opacity:0.7}

.fp-dgc14-m{width:300px;}
.fp-dgc14-m h1,.fp-dgc-m h1 a{background:#2b2b2b;color:#ffc000;text-align:center;border-radius:10px 10px 0 0}
.fp-dgc14-m h1{padding:10px;border-radius:10px 10px 0 0}
.fp-dgc14-m .gdryh{display:block}
.fp-dgc14-m .gdryh2{display:block;float:left}
.fp-dgc14-m .gdryh:hover,.fp-dgc-m .gdryh2:hover{opacity:0.7}

/*****************************************/

.shot-roll{position:absolute;width:5000px;height:604px;box-sizing:border-box;}
.shot-roll-trans {-moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; -webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
.shot-roll-c{width:5000px;height:604px;position:relative;box-sizing:border-box;}

.sh-pad{opacity:0.2;}
.sh-pad-over{opacity:0.4;}

.shot-roll-1{top:0px;left:0px;}
.shot-roll-1 .sh-pad1{opacity:1}
.shot-roll-2{top:0px;left:-1000px;}
.shot-roll-2 .sh-pad2{opacity:1}
.shot-roll-3{top:0px;left:-2000px;}
.shot-roll-3 .sh-pad3{opacity:1}
.shot-roll-4{top:0px;left:-3000px;}
.shot-roll-4 .sh-pad4{opacity:1}
.shot-roll-5{top:0px;left:-4000px;}
.shot-roll-5 .sh-pad5{opacity:1}


.sh-tapeta-jest .shot-roll-1{top:0px;left:0px;}
.sh-tapeta-jest .shot-roll-1 .sh-pad1{opacity:1}
.sh-tapeta-jest .shot-roll-2{top:0px;left:0px;}
.sh-tapeta-jest .shot-roll-2 .sh-pad2{opacity:1}
.sh-tapeta-jest .shot-roll-3{top:0px;left:0px;}
.sh-tapeta-jest .shot-roll-3 .sh-pad3{opacity:1}
.sh-tapeta-jest .shot-roll-4{top:0px;left:0px;}
.sh-tapeta-jest .shot-roll-4 .sh-pad4{opacity:1}
.sh-tapeta-jest .shot-roll-5{top:0px;left:0px;}
.sh-tapeta-jest .shot-roll-5 .sh-pad5{opacity:1}


/* hot all */


.sh-hot{box-sizing:border-box;border:4px solid #ffffff;position:relative;overflow:hidden}
.sh-hot img{width:100%;height:100%;display:block}
.sh-hot div{padding:10px;padding-bottom:15px;position:absolute;left:0px;bottom:0px;width:100%;box-sizing:border-box;background:#000000;padding-top:30px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.7) 100%);}
.sh-hot h4{color:#ffffff;cursor:pointer;text-align:center;margin-left:auto;margin-right:auto;text-shadow:rgba(0,0,0,0.8) 0 0 5px;font-family:'Roboto Condensed',Arial,sans-serif;}
.sh-hot h5{color:#ffffff;cursor:pointer;text-align:center;margin-left:auto;margin-right:auto;text-shadow:rgba(0,0,0,0.8) 0 0 5px;font-family:'Roboto Condensed',Arial,sans-serif;}
.sh-hot p{height:0;color:rgba(204,204,204,1);overflow:hidden;margin-left:auto;margin-right:auto;font-size:15px;line-height:19px;text-align:center;border-top:1px dotted rgba(255,255,255,0)}
.sh-hot:hover p{color:rgba(232,232,232,1);border-top:1px dotted rgba(255,255,255,0.5)}

.sh-hot .sh-hot-play{position:absolute;top:12px;right:10px;width:50px;height:50px}
.sh-hot4s .sh-hot-play,.sh-hot5s .sh-hot-play,.sh-hot6s .sh-hot-play,.sh-hot7s .sh-hot-play{width:25px;height:25px;top:8px;right:8px;}
.sh-hot8t .sh-hot-play,.sh-hot9t .sh-hot-play,.sh-hot10t .sh-hot-play,.sh-hot11t .sh-hot-play{width:25px;height:25px;top:8px;right:8px;opacity:1}

/* hot b */
.sh-hot1b{width:60%;height:60%;position:absolute;top:0%;left:0%}
.sh-hot1b h4{font-size:36px;line-height:36px;letter-spacing:-1px;max-width:620px;font-weight:700;}
.sh-hot-btxt h4{font-size:42px;line-height:42px;} 
.sh-hot1b h5{font-size:24px;line-height:26px;letter-spacing:-1px;max-width:620px;font-weight:400;padding-top:3px}
.sh-hot1b p{max-width:620px;}
.sh-hot1b:hover{background:#000000;}
.sh-hot1b:hover img{opacity:0.8;display: block;}
.sh-hot1b:hover p{height:83px;padding-top:10px;padding-bottom:20px;margin-top:10px;}

/* hot m */
.sh-hot2m{width:40%;height:40%;position:absolute;top:0%;left:60%}
.sh-hot3m{width:40%;height:40%;position:absolute;top:60%;left:40%}
.sh-hot3m h4,.sh-hot2m h4{font-size:24px;line-height:24px;letter-spacing:0;font-weight:700;max-width:400px;}
.sh-hot3m h5,.sh-hot2m h5{font-size:17px;line-height:17px;letter-spacing:0;font-weight:400;max-width:400px;padding-top:3px}
.sh-hot-btxt-m h4{font-size:28px;line-height:28px;} 
.sh-hot2m p,.sh-hot3m p{max-width:420px;font-size:15px;line-height:19px}

.sh-hot2m:hover,.sh-hot3m:hover{background:#000000;}
.sh-hot2m:hover img,.sh-hot3m:hover img{opacity:0.8;display: block;}

.sh-hot2m:hover p,.sh-hot3m:hover p{height:100px;padding-top:8px;padding-bottom:10px;margin-top:8px;border-top:1px dotted rgba(255,255,255,0.6);}

/* hot s */

.sh-hot4s{width:20%;height:20%;position:absolute;top:40%;left:80%;}
.sh-hot5s{width:20%;height:20%;position:absolute;top:60%;left:0%}
.sh-hot6s{width:20%;height:20%;position:absolute;top:80%;left:0%}
.sh-hot7s{width:20%;height:20%;position:absolute;top:80%;left:80%}

.sh-hot4s div,.sh-hot5s div,.sh-hot6s div,.sh-hot7s div{padding:5px;padding-bottom:8px}
.sh-hot4s h4,.sh-hot5s h4,.sh-hot6s h4,.sh-hot7s h4{font-size:18px;line-height:18px;letter-spacing:-0.5px;font-weight:400;max-width:180px;font-weight:400}
.sh-hot4s h5,.sh-hot5s h5,.sh-hot6s h5,.sh-hot7s h5{display:none}
.sh-hot4s p,.sh-hot5s p,.sh-hot6s p,.sh-hot7s p{display:none}

.sh-hot4s:hover,.sh-hot5s:hover,.sh-hot6s:hover,.sh-hot7s:hover{background:#000000;}
.sh-hot4s:hover img,.sh-hot5s:hover img,.sh-hot6s:hover img,.sh-hot7s:hover img{opacity:0.8;display: block;}

/* hot t */

.sh-hot8t,.sh-hot8sv{width:20%;height:20%;position:absolute;top:60%;left:20%}
.sh-hot9t,.sh-hot9sv{width:20%;height:20%;position:absolute;top:80%;left:20%}
.sh-hot10t,.sh-hot10sv{width:20%;height:20%;position:absolute;top:40%;left:60%}
.sh-hot11t,.sh-hot11sv{width:20%;height:20%;position:absolute;top:60%;left:80%}

.sh-hot8t,.sh-hot9t,.sh-hot10t,.sh-hot11t{background:#ffffff;cursor:pointer;text-decoration:none;}
.sh-hot8t img,.sh-hot9t img,.sh-hot10t img,.sh-hot11t img{opacity:0.25}
.sh-hot8t h4,.sh-hot9t h4,.sh-hot10t h4,.sh-hot11t h4{max-width:100%;text-shadow:rgba(255,255,255,0.8) 0 0 5px;color:#000000;text-align:center;margin-left:auto;margin-right:auto;padding-left:5px;padding-right:5px;font-family:'Roboto Condensed',Arial,sans-serif;font-weight:600;font-size:21px;line-height:22px;cursor:pointer;letter-spacing:-1px;margin-bottom:20px;margin-top:20px}
.sh-hot8t h5,.sh-hot9t h5,.sh-hot10t h5,.sh-hot11t h5{display:none}
.sh-hot8t p,.sh-hot9t p,.sh-hot10t p,.sh-hot11t p{display:none}
.sh-hot8t div,.sh-hot9t div,.sh-hot10t div,.sh-hot11t div{background:none;padding:0;height:100%;display:-ms-flexbox;-ms-flex-pack:center;-ms-flex-align:center;display:-moz-box;-moz-box-pack:center;-moz-box-align:center;display:-webkit-box;-webkit-box-pack:	center;-webkit-box-align:center;display:box;box-pack:center;box-align:center;}


.sh-hot8t:hover img,.sh-hot8sv:hover img,.sh-hot9t:hover img,.sh-hot9sv:hover img,.sh-hot10t:hover img,.sh-hot10sv:hover img,.sh-hot11t:hover img,.sh-hot11sv:hover img{opacity:0.1}



/* uklad sh-set1 */
.sh-set1 .sh-hot1b{position:absolute;top:0%;left:0%}


.sh-set1 .sh-hot2m{position:absolute;top:0%;left:60%}
.sh-set1 .sh-hot3m{position:absolute;top:60%;left:40%}


.sh-set1 .sh-hot4s{position:absolute;top:40%;left:80%}

.sh-set1 .sh-hot5s{position:absolute;top:60%;left:0%;}

.sh-set1 .sh-hot6s{position:absolute;top:80%;left:0%;}

.sh-set1 .sh-hot7s{position:absolute;top:80%;left:80%}


.sh-set1 .sh-hot8t,.sh-set1 .sh-hot8sv{position:absolute;top:60%;left:20%}
.sh-set1 .sh-hot9t,.sh-set1 .sh-hot9sv{position:absolute;top:80%;left:20%}
.sh-set1 .sh-hot10t,.sh-set1 .sh-hot10sv{position:absolute;top:40%;left:60%}
.sh-set1 .sh-hot11t,.sh-set1 .sh-hot11sv{position:absolute;top:60%;left:80%}



/* uklad sh-set2 */

.sh-set2 .sh-hot1b{position:absolute;top:0%;left:20%}


.sh-set2 .sh-hot2m{position:absolute;top:60%;left:0%;}
.sh-set2 .sh-hot3m{position:absolute;top:60%;left:60%}
.sh-set2 .sh-hot4s{position:absolute;top:40%;left:0%}
.sh-set2 .sh-hot5s{position:absolute;top:20%;left:0%}
.sh-set2 .sh-hot6s{position:absolute;top:60%;left:40%}
.sh-set2 .sh-hot7s{position:absolute;top:0%;left:80%;}

.sh-set2 .sh-hot8t,.sh-set2 .sh-hot8sv{position:absolute;top:0%;left:0%}
.sh-set2 .sh-hot9t,.sh-set2 .sh-hot9sv{position:absolute;top:80%;left:40%}
.sh-set2 .sh-hot10t,.sh-set2 .sh-hot10sv{position:absolute;top:20%;left:80%}
.sh-set2 .sh-hot11t,.sh-set2 .sh-hot11sv{position:absolute;top:40%;left:80%}



/* uklad sh-set3 */
.sh-set3 .sh-hot1b{position:absolute;top:20%;left:0%}
.sh-set3 .sh-hot2m{position:absolute;top:0%;left:60%}
.sh-set3 .sh-hot3m{position:absolute;top:40%;left:60%}
.sh-set3 .sh-hot4s{position:absolute;top:0%;left:0%}
.sh-set3 .sh-hot5s{position:absolute;top:0%;left:20%}
.sh-set3 .sh-hot6s{position:absolute;top:80%;left:0%}
.sh-set3 .sh-hot7s{position:absolute;top:80%;left:40%;}
	
.sh-set3 .sh-hot8t,.sh-set3 .sh-hot8sv{position:absolute;top:80%;left:20%}
.sh-set3 .sh-hot9t,.sh-set3 .sh-hot9sv{position:absolute;top:0%;left:40%}
.sh-set3 .sh-hot10t,.sh-set3 .sh-hot10sv{position:absolute;top:80%;left:60%}
.sh-set3 .sh-hot11t,.sh-set3 .sh-hot11sv{position:absolute;top:80%;left:80%}



/* uklad sh-set4 */
.sh-set4 .sh-hot1b{position:absolute;top:40%;left:0%}
.sh-set4 .sh-hot2m{position:absolute;top:0%;left:0%}
.sh-set4 .sh-hot3m{position:absolute;top:20%;left:60%}
.sh-set4 .sh-hot4s{position:absolute;top:0%;left:40%;}
.sh-set4 .sh-hot5s{position:absolute;top:0%;left:60%}
.sh-set4 .sh-hot6s{position:absolute;top:60%;left:80%}
.sh-set4 .sh-hot7s{position:absolute;top:80%;left:80%}
		
.sh-set4 .sh-hot8t,.sh-set4 .sh-hot8sv{position:absolute;top:20%;left:40%}
.sh-set4 .sh-hot9t,.sh-set4 .sh-hot9sv{position:absolute;top:0%;left:80%}
.sh-set4 .sh-hot10t,.sh-set4 .sh-hot10sv{position:absolute;top:80%;left:60%}
.sh-set4 .sh-hot11t,.sh-set4 .sh-hot11sv{position:absolute;top:60%;left:60%}


/* uklad sh-set5 */
.sh-set5 .sh-hot1b{position:absolute;top:0%;left:40%}
.sh-set5 .sh-hot2m{position:absolute;top:0%;left:0%}
.sh-set5 .sh-hot3m{position:absolute;top:60%;left:0%}
.sh-set5 .sh-hot4s{position:absolute;top:80%;left:40%;}
.sh-set5 .sh-hot5s{position:absolute;top:60%;left:40%}
.sh-set5 .sh-hot6s{position:absolute;top:60%;left:80%}
.sh-set5 .sh-hot7s{position:absolute;top:80%;left:80%}
			
.sh-set5 .sh-hot8t,.sh-set5 .sh-hot8sv{position:absolute;top:40%;left:20%}
.sh-set5 .sh-hot9t,.sh-set5 .sh-hot9sv{position:absolute;top:40%;left:0%}
.sh-set5 .sh-hot10t,.sh-set5 .sh-hot10sv{position:absolute;top:80%;left:60%}
.sh-set5 .sh-hot11t,.sh-set5 .sh-hot11sv{position:absolute;top:60%;left:60%}


/* arrows */
.sh-arr-r{width:1000px;height:604px;position:absolute;top:0px;left:1000px;z-index:101;cursor:pointer;position:relative;z-index:201}
.sh-arr-r-b{height:150px;width:120px;display:block;position:absolute;top:227px;left:0;background:url(/im/fp-sh-arr.png) no-repeat;background-position:0px 0px}
.sh-arr-r:hover .sh-arr-r-b{background-position:-120px 0px}

.sh-arr-l{width:1000px;height:604px;position:absolute;top:0px;left:-1000px;z-index:101;cursor:pointer;z-index:201}
.sh-arr-l-b{height:150px;width:120px;display:block;position:absolute;top:227px;right:0;background:url(/im/fp-sh-arr.png) no-repeat;background-position:0px -150px}
.sh-arr-l:hover .sh-arr-l-b{background-position:-120px -150px}

.sh-arr-s{}

/* slides */
.sh-pad{height:564px;width:1000px;border:1px solid #ffffff;box-sizing:border-box;position:absolute;background:#ffffff}
.sh-pad1{left:0px;top:0px}
.sh-pad2{left:1000px;top:0px}
.sh-pad3{left:2000px;top:0px}
.sh-pad4{left:3000px;top:0px}
.sh-pad5{left:4000px;top:0px}


.sh-tapeta-jest .sh-pad1{left:0px;top:0px}
.sh-tapeta-jest .sh-pad2{left:0px;top:0px}
.sh-tapeta-jest .sh-pad3{left:0px;top:0px}
.sh-tapeta-jest .sh-pad4{left:0px;top:0px}
.sh-tapeta-jest .sh-pad5{left:0px;top:0px}



/* fp-games-boxes  */

.fp-games-boxes{padding-left:10px;padding-bottom:5px;}
.fp-games-boxes *{-moz-transition: all 0.1s ease 0s; -o-transition: all 0.1s ease 0s; -webkit-transition: all 0.1s ease 0s; transition: all 0.1s ease 0s;}
.fp-games-box{height:215px;overflow:hidden}
.fp-g-sbox{float:left;display:block;width:105px;height:105px;padding:5px;overflow:hidden;position:relative;text-align:center;}
.fp-g-sbox img{width:96px;height:96px;opacity:1;}
.fp-g-sbox p{position:absolute;bottom:0;left:0;opacity:0;font-size:13px;line-height:15px;text-align:center;width:100%;padding:5px;color:#000000;padding-top:10px;border-bottom:3px solid #ffffff}
.fp-g-sbox p b{font-weight:600;max-height:60px;overflow:hidden;display:block}
.fp-g-sbox p span{display:block;color:#e03800;}
.fp-g-sbox p i{display:block;font-size:12px;font-style:normal;color:#0066cc}
.fp-g-sbox:hover img{opacity:0.1}
.fp-g-sbox:hover p{opacity:1;border-bottom:3px solid #e03800}


.fp-games-boxes-menu{padding-top:5px;margin-bottom:1px}
.fp-games-boxes-menu-l{float:left;padding-left:5px}
.fp-games-boxes-menu-r{float:right;margin-right:10px}
.fp-games-boxes-menu-l div,.fp-games-boxes-menu-r div{font-family:"Open Sans",Arial;font-size:14px;line-height:26px;height:26px;display:inline-block;margin-right:5px;cursor:pointer;color:#646464;padding-left:4px;padding-right:4px;font-weight:600;margin-bottom:2px}
.fp-games-boxes-menu .oglo{color:#00a008}
.fp-games-boxes-menu .act{color:#e03800;border-bottom:2px solid #e03800}
.fp-games-boxes-menu-l div:hover,.fp-games-boxes-menu-r div:hover{color:#0066cc;border-bottom:2px solid #0066cc}

.oglo-empty-txt{padding:20px;border:1px solid #00a008;margin-right:20px;margin-left:10px;color:#808080;margin-top:15px}
.oglo-empty-txt .p1{font-size:16px;line-height:21px;margin-bottom:8px}
.oglo-empty-txt .p2{font-size:14px;line-height:19px;margin-bottom:8px}
.oglo-empty-txt .p3{font-size:16px;line-height:21px;margin-bottom:8px;color:#00a008}
.oglo-empty-txt img{display:inline-block;vertical-align:middle}

/* 3 kol bottom */

.gc320,.gc320 *,.gc660,.gc660 *{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-family:"Open Sans",Arial,Helvetica,sans-serif;}
.g30-fp{padding:0;margin:0;width:320px;padding-left:20px;padding-top:10px}
.g20-fp{padding:0;margin:0;width:300px;padding-top:10px}





/* *************************************************************************************************** */

@media screen and (min-width:1680px)
/* najszersza */{

#screensizecheck {display:none;width:1px;}

.topc{width:1300px;background-size:1300px}
.gmc-c{width:1300px;}
.super-bot{width:1300px;}
.f-pge{width:750px;}
.gc{width:1300px}
.g30-fp{width:360px;padding-left:30px}
.suphot2014,.suphot2014-top,.suphot2014-menu,.fp-games-boxes,.stpc{width:1300px;margin-left:auto;margin-right:auto;background:#ffffff}
.suphot2014{height:745px;position:relative;}

.shot-roll{width:6500px;height:745px;box-sizing:border-box;}
.shot-roll-trans {-moz-transition: all 0.1s ease; -o-transition: all 0.1s ease; -webkit-transition: all 0.1s ease; transition: all 0.1s ease;}
.shot-roll-c{width:5500px;height:604px;position:relative;box-sizing:border-box;}

.sh-pad{opacity:0.2;}
.sh-pad-over{opacity:0.4;}

.shot-roll-1{top:0px;left:0px;}
.shot-roll-1 .sh-pad1{opacity:1}
.shot-roll-2{top:0px;left:-1300px;}
.shot-roll-2 .sh-pad2{opacity:1}
.shot-roll-3{top:0px;left:-2600px;}
.shot-roll-3 .sh-pad3{opacity:1}
.shot-roll-4{top:0px;left:-3900px;}
.shot-roll-4 .sh-pad4{opacity:1}
.shot-roll-5{top:0px;left:-5200px;}
.shot-roll-5 .sh-pad5{opacity:1}


.sh-arr-r{width:1100px;height:740px;position:absolute;top:0px;left:1300px;z-index:101;cursor:pointer;position:relative;z-index:201}
.sh-arr-r-b{height:150px;width:120px;display:block;position:absolute;top:227px;left:0;background:url(/im/fp-sh-arr.png) no-repeat;background-position:0px 0px}
.sh-arr-r:hover .sh-arr-r-b{background-position:-120px 0px}

.sh-arr-l{width:1100px;height:740px;position:absolute;top:0px;left:-1100px;z-index:101;cursor:pointer;z-index:201}
.sh-arr-l-b{height:150px;width:120px;display:block;position:absolute;top:227px;right:0;background:url(/im/fp-sh-arr.png) no-repeat;background-position:0px -150px}
.sh-arr-l:hover .sh-arr-l-b{background-position:-120px -150}

.sh-pad{height:734px;width:1300px;border:1px solid #ffffff;box-sizing:border-box;position:absolute;background:#ffffff}
.sh-pad1{left:0px;top:0px}
.sh-pad2{left:1300px;top:0px}
.sh-pad3{left:2600px;top:0px}
.sh-pad4{left:3900px;top:0px}
.sh-pad5{left:5200px;top:0px}

}

@media screen and (max-width:1023px){

.shot-roll-1 .sh-pad2{display:none;}
.shot-roll-1 .sh-pad3{display:none;}
.shot-roll-1 .sh-pad4{display:none;}
.shot-roll-1 .sh-pad5{display:none;}

.shot-roll-2 .sh-pad1{display:none;}
.shot-roll-2 .sh-pad3{display:none;}
.shot-roll-2 .sh-pad4{display:none;}
.shot-roll-2 .sh-pad5{display:none;}

.shot-roll-3 .sh-pad1{display:none;}
.shot-roll-3 .sh-pad2{display:none;}
.shot-roll-3 .sh-pad4{display:none;}
.shot-roll-3 .sh-pad5{display:none;}

.shot-roll-4 .sh-pad1{display:none;}
.shot-roll-4 .sh-pad2{display:none;}
.shot-roll-4 .sh-pad3{display:none;}
.shot-roll-4 .sh-pad5{display:none;}

.shot-roll-5 .sh-pad1{display:none;}
.shot-roll-5 .sh-pad2{display:none;}
.shot-roll-5 .sh-pad3{display:none;}
.shot-roll-5 .sh-pad4{display:none;}

.sh-arr-r,.sh-arr-l{display:none}

/* main page */

.no-mobile,.suphot2014-menu-left div.no-mobile{display:none}
.sup-hot-2-2-3-3-3{width:100%;display:block}
.suphot2014-c *,.suphot2014-top,.suphot2014-top *,.suphot2014-menu,.suphot2014-menu *,.fp-games-boxes,.fp-games-boxes *{font-family:'Roboto Condensed',Arial,sans-serif;}
.suphot2014,.suphot2014-top,.suphot2014-menu,.fp-games-boxes{width:100%;margin-left:auto;margin-right:auto;}
.ban-fp-970x200{display:none}

.sh14t-box3{display:none}	
.sh14t-box1{width:49%;margin-right:1%}
.sh14t-box2{width:49%;margin-right:1%}

.fp-games-boxes-menu-r{float:left}
.fp-games-box{height:auto}

/* col bot */
.gc{width:100%}
.gc660{width:100%;float:none}
.g30-fp{width:48%;margin-right:1%}
.gc320{width:60%;margin-left:30px}
.g20-fp{width:100%}
.lc8-hel{padding:20px}

.sh-hot8t .sh-hot-play,.sh-hot9t .sh-hot-play,.sh-hot10t .sh-hot-play,.sh-hot11t .sh-hot-play{display:block}
.suphot2014-menu-left div,.fp-games-boxes-menu-l div,.fp-games-boxes-menu-r div{.sh-hot4s:hover div,font-size:16px;line-height:30px;height:30px;white-space:nowrap;display:inline-block;margin-right:5px;cursor:pointer;color:#646464;padding-left:5px;padding-right:5px;font-weight:700;margin-bottom:2px}


/* SUPERHOT */

.suphot2014-c{overflow:visible;width:100%;position:relative}
.suphot2014{height:auto;position:relative}
.shot-roll{position:static;width:100%;height:auto;position:relative}
.shot-roll-c{width:100%;overflow:visible;height:auto;position:relative}
.sh-pad{width:100%;height:auto;position:relative}

.sh-hot div{padding:10px;padding-bottom:15px;position:absolute;left:0px;bottom:0px;width:100%;box-sizing:border-box;background:rgba(0,0,0,0.6)}
.sh-hot p{display:none}
.sh-hot8t img,.sh-hot9t img,.sh-hot10t img,.sh-hot11t img{opacity:1}
.sh-hot8t h4,.sh-hot9t h4,.sh-hot10t h4,.sh-hot11t h4{text-shadow:rgba(0,0,0,0.8) 0 0 5px;height:auto;color:#ffffff;text-align:center;margin-left:auto;margin-right:auto;padding:5px;overflow:hidden;font-weight:500;font-size:18px;line-height:110%;cursor:pointer;letter-spacing:0px;margin:0}
.sh-hot8t div,.sh-hot9t div,.sh-hot10t div,.sh-hot11t div{}


.sh-setx .sh-hot-sm div{height:auto;padding:5px;padding-bottom:10px;padding-top:10px}
.sh-setx .sh-hot-sm h4{font-size:18px;line-height:18px;font-weight:700;max-width:none;font-family:'Roboto Condensed',Arial,sans-serif;letter-spacing:0px;}
.sh-setx .sh-hot-sm h5{font-size:14px;line-height:14px;font-weight:400;max-width:none;font-family:'Roboto Condensed',Arial,sans-serif;letter-spacing:0px;}
.sh-setx .sh-hot-sm img{width:100%;height:auto}
.sh-setx .sh-hot-sm:hover img{opacity:1}
.sh-setx .sh-hot4s h5{display:block}

.sh-setx .sh-hot-sm img.sh-hot-play{position:absolute;top:12px;right:10px;width:40px;height:40px}

.sh-setx .sh-hot1b{position:absolute;top:0%;left:0%;width:50%;height:30%}
.sh-setx .sh-hot1b h4{font-size:22px;line-height:22px}
.sh-setx .sh-hot1b:hover{position:absolute;top:0%;left:0%;}

.sh-setx .sh-hot2m{position:absolute;top:0%;left:50%;width:50%;height:30%}
.sh-setx .sh-hot2m h4{font-size:22px;line-height:22px}
.sh-setx .sh-hot2m:hover{position:absolute;top:0%;left:50%}

.sh-setx .sh-hot3m{position:absolute;top:30%;left:0%;width:50%;height:30%}
.sh-setx .sh-hot3m h4{font-size:22px;line-height:22px}
.sh-setx .sh-hot3m:hover{position:absolute;top:30%;left:0%;}

.sh-setx .sh-hot4s{position:absolute;top:30%;left:50%;width:50%;height:30%}
.sh-setx .sh-hot4s h4{font-size:22px;line-height:22px}
.sh-setx .sh-hot4s:hover{position:absolute;top:30%;left:50%;}

.sh-setx .sh-hot5s{position:absolute;top:60%;left:0%;width:33%;height:20%}
.sh-setx .sh-hot5s h4{font-size:17px;line-height:17px}
.sh-setx .sh-hot5s:hover{position:absolute;top:60%;left:0%;}

.sh-setx .sh-hot6s{position:absolute;top:60%;left:33.3%;width:33%;height:20%}
.sh-setx .sh-hot6s h4{font-size:17px;line-height:17px}
.sh-setx .sh-hot6s:hover{position:absolute;top:60%;left:33.3%;}

.sh-setx .sh-hot7s{display:none}

.sh-setx .sh-hot8t,.sh-setx .sh-hot8sv{position:absolute;top:80%;left:0%;width:33%;height:20%}
.sh-setx .sh-hot8t h4,.sh-setx .sh-hot8sv h4{font-size:17px;line-height:17px}
.sh-setx .sh-hot8t h5,.sh-setx .sh-hot8sv h5{display:none}
.sh-setx .sh-hot8t:hover,.sh-setx .sh-hot8sv:hover{position:absolute;top:80%;left:0%;}

.sh-setx .sh-hot9t,.sh-setx .sh-hot9sv{position:absolute;top:80%;left:33.3%;width:33%;height:20%}
.sh-setx .sh-hot9t h4,.sh-setx .sh-hot9sv h4{font-size:17px;line-height:17px}
.sh-setx .sh-hot9t h5,.sh-setx .sh-hot9sv h5{display:none}
.sh-setx .sh-hot9t:hover,.sh-setx .sh-hot9sv:hover{position:absolute;top:80%;left:33.3%;}

.sh-setx .sh-hot10t,.sh-setx .sh-hot10sv{position:absolute;top:80%;left:66.6%;width:33%;height:20%}
.sh-setx .sh-hot10t h4,.sh-setx .sh-hot10sv h4{font-size:17px;line-height:17px}
.sh-setx .sh-hot10t h5,.sh-setx .sh-hot10sv h5{display:none}
.sh-setx .sh-hot10t:hover,.sh-setx .sh-hot10sv:hover{position:absolute;top:80%;left:66.6%;}

.sh-setx .sh-hot11t,.sh-setx .sh-hot11sv{position:absolute;top:60%;left:66.6%;width:33%;height:20%;display:block}
.sh-setx .sh-hot11t h4,.sh-setx .sh-hot11sv h4{font-size:17px;line-height:17px}
.sh-setx .sh-hot11t h5,.sh-setx .sh-hot11sv h5{display:none}
.sh-setx .sh-hot11t:hover,.sh-setx .sh-hot11sv:hover{position:absolute;top:60%;left:66.6%;}

}

@media screen and (max-width:640px){
.suphot2014-menu{display:none}
.suphot2014-top{display:none}
.sup-hot-2-2-3-3-3{display:none}
.suphot2014-menu-right{display:none}


.sh-setx .sh-hot-sm{width:50%;position:relative;top:0;left:0;display:block;height:auto;box-shadow:none;border:none;padding:10px;padding-bottom:5px;padding-top:5px;float:left}
.sh-setx .sh-hot-sm img{width:100%}
.sh-setx .sh-hot-sm:hover h5{display:none}
.sh-setx .sh-hot-sm p{display:none}
.sh-setx .sh-hot-sm div,.sh-setx .sh-hot-sm:hover div{background:rgba(0,0,0,0.8);padding:0;padding:0px;display:block;bottom:0px;left:0px;width:calc(100% - 15px);text-align:center;margin:10px;margin-bottom:5px;}
.sh-setx .sh-hot-sm:hover{position:relative;top:0;left:0;background:#ffffff;box-shadow:none;border:none}
.sh-setx .sh-hot-sm:hover img{opacity:1}
.sh-hot, .sh-hot img, .sh-hot h4, .sh-hot p, .sh-hot div{transition:none}
.sh14t-box1,.sh14t-box2{width:100%;margin-right:0;float:none;margin-bottom:5px}
.sh-setx .sh-hot-sm:nth-last-child(-n+7){display:none}
.sh-setx .sh-hot-sm:nth-last-child(-n+7){display:none}
.sh-setx .sh-hot-sm:nth-last-child(even){padding-left:5px}
.sh-setx .sh-hot-sm:nth-last-child(even) div{margin-left:5px}
.sh-setx .sh-hot-sm:nth-last-child(odd){padding-right:5px}
.sh-setx .sh-hot-sm:nth-last-child(odd) div{margin-right:5px}
.sh-setx .sh-hot-sm:nth-last-child(12){width:100%;padding-left:10px;padding-right:10px}
.sh-setx .sh-hot-sm h5{display:none}
.sh-setx .sh-hot-sm:nth-last-child(12) div{margin-left:10px;margin-right:10px;width: calc(100% - 20px)}
.sh-setx .sh-hot-sm img.sh-hot-play{right:15px}

.suphot2014-c h4,.suphot2014-c h5{display:none}
.suphot2014-c h6{display:block;font-family: 'Roboto',Arial,sans-serif;font-size: 15px;line-height: 17px;font-weight: 500;color:#ffffff;padding-top:4px;padding-bottom:5px;padding-left:3px;padding-right:3px}

}	

@media screen and (max-width:480px){
.suphot2014-c h6{font-size:13px;line-height:15px;font-weight:400;}
.suphot2014-c a:first-of-type h6{font-size:14px;line-height:16px;font-weight:500;padding-top:5px}
}