@charset "Shift_JIS";

/*ページ全体*/
body {
	font-size: 10pt;
	font-family: "Arial", "Helvetica", sans-serif;
	background: #FFF;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:link {
	color: #0066CC;
}

a:visited {
	color: #663399;
}

a:active {
	color: #FF3300;
}

a:hover {
	color: #FF3300;
}

/*コンテンツ全体コンテナ*/
#wrapper {
	background: #FFFFFF;
	margin: 0px auto; /*センタリング*/
	padding: 0px;
	height: auto;
	text-align:left; /*文字を左揃えに戻す*/
}

#header {
	height: 40px;
	margin: 0px;
	padding: 20px 20px 3px 20px;
	border-bottom: solid 1px #ccc;
	vertical-align: middle;
}
#header_inside{
	width: 840px;
}
.header_left{
	float: left;
	margin: 0px;
	padding: 0px;
}
.header_left_noframe{
	display: none;
	float: left;
	margin: 0px;
	padding: 0px;
}


.header_right{
	float: right;
	text-align: right;
	margin-top: 5px;
	padding: 0px;
	margin-right: 5px;
}
.senna_banner{
	float: right;
	margin-top: 5px;
	padding: 0px;
}
.form_input{
	width: 10em;
	height: 1em;
}

.form_button{
	vertical-align: text-bottom;
}

.form_select{
	width: 8em;
	height: 1.3em;
}
.caption{
	font-size: 10pt;
}

#under_header{
	text-align: right;
	padding: 5px 20px 10px 0px;
}

#main{
	width: 100%;
	margin: auto;
	text-align: center;
}
#main_noframe{
	display: none;
	width: 100%;
	margin: auto;
	text-align: center;
}

#main img, #main_noframe img{
	margin: 20px;
}


#contents{
	margin: 50px 100px 50px 100px;
	padding: 0px;
	line-height: 140%;
}


#footer_menu{
	text-align: center;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

.guide{
	width:100%;
	margin: 0px;
	padding: 10px 0px 5px 0px;
	border-bottom: solid 1px #ccc;
}

.service{
	margin: 0px;
	padding: 5px 0px 0px 0px;
}

.banner{
	margin: 0px;
	padding: 10px 0px 50px 0px;
}

.banner img{
	padding: 5px;
}

.condition{
	margin: 0px;
	padding: 20px 5px 5px 5px;
	text-align: center;
}

#footer{
	margin: 50px 0px 0px 0px;
	padding; 0px;
	height: 45px;
	width: 100%;
	height: 50px;
}

.footer_left{
	float: left;
	margin: 0px;
	padding: 10px 0px 5px 20px;
	width: 240px;
}

.footer_right{
	float: right;
	margin: 0px;
	padding: 10px 20px 5px 0px;
	width: 240px;
}

/*スマートホン*/
@media only screen and (max-width: 640px) {
	body { word-break: break-all; }
	#header_inside { width: 100%; }
	.header_left, #main { display: none; }
	.header_left_noframe, #main_noframe { display: block; }
	.header_left_noframe img { float: left; }
	.header_left_noframe a, #under_header a, .guide a { white-space: nowrap; }
	.form_select { width: auto; }
	.footer_left, .footer_right { width: 30%; }
}
