/*
-----------------------
** Color Combination **
-----------------------
white	 	#FFF
gray 		#ccc
blue		#0E212E
green		#0e8049
yellow		#FCE6BF	
*/

/*
-----------------------
** Animation Pulse **
-----------------------
*/

body {
	background-image:url(imgs/pattern19.png);	
}

.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}@-webkit-keyframes pulse{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes pulse{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}

.container-fluid {
	padding:0px;	
}

.no-padding {
	padding:0px !important;	
}

.container {
	padding:0px;	
}

.navbar {
	font-family:'Roboto' ,sans-serif;	
	margin:0px;	
}

a {
	transition:all ease 0.2s;	
}

a:hover {
	text-decoration:none;	
}

.navbar-header > .navbar-toggle {
	margin:0px;	
}

.navbar .navbar-collapse {
	margin:0px !important;
	padding:0px;	
}

.navbar  .navbar-nav {
	margin:0px;	
}

.thumbnail {
	border:none;
	margin:0px;
	transition:all ease 0.2s;	
}


/*
-----------------------
** Form **
-----------------------
*/

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  box-shadow: none !important;
  outline: 0 none;
}

.form-control,
.input-group .input-group-addon ,
.btn {
	border-radius:0px;	
	font-family:Roboto;
	font-size:16px;
}

.form-control.blue-border , 
input.blue-border {
	border:1px solid #0E212E;	
}

.form-control.green-border , 
input.green-border {
	border:1px solid #0e8049;	
}


.form-control.focus-blue-border:focus , 
input.focus-blue-border:focus {
	border-color:#0E212E;	
}

.form-control.focus-green-border:focus , 
input.focus-green-border:focus {
	border-color:#0e8049;	
}

.form-control.green-shadow:focus , 
input.focus-green-shadow:focus {
	box-shadow:1px 1px 7px rgba(14,128,73,0.30) !important;	
	border-color:#0e8049;
}

.form-control.focus-blue-shadow:focus , 
input.focus-blue-shadow:focus {
	box-shadow:1px 1px 7px rgba(14,33,46,0.30) !important;	
	border-color:#0E212E;
}

.input-group.blue > .input-group-addon {
	background:#0E212E;
	color:#FFFFFF;
	border:#0E212E 1px solid;
	position:relative;	
}

.input-group.blue > .form-control:focus ,
.input-group.blue > input:focus {
	border-color:#0E212E;	
}

.input-group.blue.shadow > .form-control:focus ,
.input-group.blue.shadow > input:focus
{
	box-shadow:1px 1px 7px rgba(14,33,46,0.30) !important;		
}

.input-group.green > .input-group-addon {
	background:#0e8049;
	color:#FFFFFF;
	border:#0e8049 1px solid;
	position:relative;	
}

.input-group.green > .form-control:focus ,
.input-group.green > input:focus {
	border-color:#0e8049;	
}

.input-group.green.shadow > .form-control:focus ,
.input-group.green.shadow > input:focus
{
	box-shadow:1px 1px 7px rgba(14,128,73,0.30) !important;		
}


center > .center-form {
	float:none;
}


.input-group label small {
	color:#888888 !important;
	display:none;	
}/** ./ form styling **/s
/*


-----------------------
** Buttons Syles **
-----------------------*/



.btn:focus , 
.btn:active {
	outline:0px none;	
}

.btn-blue-border {
	border:2px solid #193a51;	
	color:#193a51;
	background:none;
}

.btn-blue-border:hover,
.btn-blue-border:focus,
.btn-blue-border:active {
	background:#193a51;	
	color:rgba(255,255,255,1.00);
}


.btn-blue-border-invers {
	background:#0E212E;	
	color:rgba(255,255,255,1.00);
	border:2px solid #0E212E;
}

.btn-blue-border-invers:hover,
.btn-blue-border-invers:focus,
.btn-blue-border-invers:active {
	border:2px solid #0E212E;	
	color:#0E212E;
	background:none;
}

.btn-green-border {
	border:2px solid #0e8049;	
	color:#0E212E;
	background:none;
}

.btn-green-border:hover,
.btn-green-border:focus,
.btn-green-border:active {
	background:#0e8049;	
	color:rgba(255,255,255,1.00);
}


.btn-green-border-invers {
	background:#0e8049;	
	color:rgba(255,255,255,1.00);
	border:2px solid #0e8049;
}
.btn-green {
	background:#0e8049;	
	color:rgba(255,255,255,1.00);
	border:2px solid #0e8049;
}
.btn-green:hover,.btn-green:focus {
	color:rgba(255,255,255,1.00);
}

.btn-green-border-invers:hover,
.btn-green-border-invers:focus,
.btn-green-border-invers:active {
	border:2px solid #0e8049;	
	color:#0e8049;
	background:none;
}

.btn-default-border {
	border:2px solid #ccc;
	color:#333333;
	background:none;
}

.btn-default-border:hover ,
.btn-default-border:focus,
.btn-default-border:active {
	background:#CCCCCC;
	color:#000000;
	text-shadow:0px 1px 1px #FFFFFF;	
}

.btn-default-border-invers {
	background:#CCCCCC;
	color:#000000;
	text-shadow:0px 1px 1px #FFFFFF;
	border:2px solid #CCCCCC;	
}

.btn-default-border-invers:hover,
.btn-default-border-invers:active,
.btn-default-border-invers:focus {
	background:none;
	text-shadow:none;
	color:#333;
	border:2px solid #CCCCCC;	
}

.btn {
	transition:all ease 0.2s;	
} 

.custom-tab-btn {
	border:1px solid #0E212E;
	border-bottom:0px;
	border-top:5px solid #0E212E;
	color:#0E212E;
	font-weight:bold;
	padding:5px 20px;
	background:none;	
} 

.btn-shadow-green {
	background:#0e8049;
	border:2px solid #0e8049;
	color:#FFFFFF;
	box-shadow:rgba(14,128,73,0.70) 0px 3px 0px; 	
	transition:all ease 0.1s;
}

.btn-shadow-green:hover,
.btn-shadow-green:focus,
.btn-shadow-green:active {
	box-shadow:none;
	color:rgba(255,255,255,1.00);
	margin-top:3px;
}

.btn-shadow-blue {
	background:#0E212E;
	border:2px solid #0E212E;
	color:#FFFFFF;
	box-shadow:rgba(14,33,46,0.70) 0px 3px 0px; 	
	transition:all ease 0.1s;
}

.btn-shadow-blue:hover,
.btn-shadow-blue:focus,
.btn-shadow-blue:active {
	box-shadow:none;
	color:rgba(255,255,255,1.00);
	margin-top:3px;
}

/** Button styling **/

/*
-----------------------
** table styling **
-----------------------
*/

.table-green.x-header > thead  {
	background:#0e8049;
	color:#FFFFFF;	
}

.table-green.xy-header > thead ,
.table-green.xy-header > tbody > tr > td:first-child {
	background:#0e8049;
	color:#FFFFFF;	
}
.table-green.xy-header  thead th:first-child {
	background:#333333;	
}

.table-green.y-header > tbody > tr > td:first-child ,
.table-green.y-header  thead th:first-child {
	background:#0e8049;
	color:#FFFFFF;
}
 
table  thead  th ,
table  tbody  tr  td {
	text-align:center;
	padding:20px !important;	
}

.no-border  thead  th ,
.no-border  tbody  tr  td {
	border:none !important;
}

.table-blue.x-header > thead  {
	background:#0E212E;
	color:#FFFFFF;	
}

.table-blue.xy-header > thead ,
.table-blue.xy-header > tbody > tr > td:first-child {
	background:#0E212E;
	color:#FFFFFF;	
}
.table-blue.xy-header  thead th:first-child {
	background:#FCE6BF;
	color:#0E212E;	
}

.table-blue.y-header > tbody > tr > td:first-child ,
.table-blue.y-header  thead th:first-child {
	background:#0E212E;
	color:#FFFFFF;
}


/* Placeholder 
.form-control::-webkit-input-placeholder { 
    color:    #5cb85c;
	font-family:Roboto;
	font-weight:800;
}
.form-control:-moz-placeholder { 
   color:    #5cb85c;
   opacity:  1;
   font-family:Roboto;
	font-weight:800;
}
.form-control::-moz-placeholder {
   color:    #5cb85c;
   opacity:  1;
   font-family:Roboto;
	font-weight:800;
}
.form-control:-ms-input-placeholder {
   color:    #5cb85c;
   font-family:Roboto;
	font-weight:800;
}
.form-control:placeholder-shown { 
  color: #5cb85c;
}*/

.panel ,
.panel-heading {
	border-radius:0px;	
}

.panel {
	margin:10px 0px;	
}

.panel-success  {
	border:1px solid #0e8049;
}
.panel-success > .panel-heading {
	background:#0e8049;
	color:#FFFFFF;	
}

.panel-body-heading {
	font-family:Roboto;
	font-size:18px;
	color:#333;
	width:100%;
	display:block;
	margin-bottom:15px;
}

.panel-footer .form-group {
	line-height:20px;
	height:auto;
	display:block;	
}

.page-header {
	border:none;
	font-family:Roboto;
	padding:15px;
	margin:5px 0px 5px 0px;
	color:#0e8049;
	text-align:center;
	font-weight:300;
}

.page-header .header-icon:before {
	color:#0e8049;
	margin-right:15px;
	font-size:45px;
}

.page-header hr {
	border:1px solid #0e8049;	
	text-shadow:0px 1px 1px #000;
	margin-bottom:0px;
}


/*
-----------------------
** ALerts **
-----------------------*/

.alert {
	border-radius:0px;	
	float:left;
	width:100%;	
}

.alert .alert-badge {
	width:7%;
	height:100%;
	float:left;	
}

.alert .alert-badge .icon:before {
	font-size:36px;
	margin:0px;	
}

.alert-body {
	width:93%;
	float:left;
	height:100%;
	padding-left:10px;
	font-size:16px;	
}

.alert-body lable {
	width:100%;
	display:block;	
}

.alert-body p {
		
}

.alert.alert-info {
	background:rgba(183,231,255,1.00);
	text-shadow:rgba(255,255,255,1.00) 0px 1px 1px;	
}




/*
-----------------------
** Icons styling **
-----------------------*/
.menu-fa-icon {
	transition:all ease 0.2s;
}

.menu-fa-icon { /** use for ' bootstrap ' & 'fontawesome' icons ***/
	width:100%;
	text-align:center;
	margin:0px;
	padding:0px;
	height:20px;
	display:block;
	text-shadow:0px 1px 1px #000000;	
}

.navbar a:hover .menu-fa-icon ,
.navbar a:active .menu-fa-icon,
.navbar a:focus .menu-fa-icon {
	color:#FCE6BF;
	font-size:17px;	
}
/** ./Icons styling **/





