@charset "utf-8";
/* CSS Document */


.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.text-center {
	text-align:center;
}
.text-right {
	text-align:right;
}
.noP {
	padding:0;
}
.banners {
	width:100%;
	display:block;
	text-align:center;
	margin:10px 0;
}
h2 {
	font-size:24px;
	color:#193a51;
}

.model-bg {
	background:rgba(0,0,0,0.70);
	width:100%;
	height:100%;
	position:fixed;
	z-index:40;
	display:none;
}
.model-box {
	position:fixed;
	z-index:42;
	width:600px;
	min-height:200px;
	left:50%;
	margin-left:-300px;
	box-sizing:border-box;
	padding:5px;
	border:1px solid #0e8049;
	border-radius:5px;
	background:#FFFFFF;
	top:6%;
	display:none;
}
.model-box .heading {
	background:#193a51;
	text-align:center;
	width:100%;
	font-size:24px;
	color:#FFFFFF;
}
.model-box .model_body {
	min-height:120px;
	width:100%;
	display:block;
	padding:5px;
	font-size:18px;
}
.model-box .model_footer {
	width:100%;
	display:block;
}
/*
-----------------------
** TOP Header **
-----------------------
*/

.top-btn-sec {
	padding:10px;	
}



header .logo-sec {
	padding:10px 0 0 0;
	background:none;
	margin:0px;	
}

header .logo-sec img {
	width:330px;	
}
.top-header-btn-sec {
	padding:40px 0 15px 20px;		
}/** ./TOP Header **/

/*
-----------------------
** Navigation **
-----------------------
*/


.navbar {
	/*background:#0E212E;*/
	background:#193A51;
	border-radius:0px;
	box-sizing:border-box;
	
}	

.navbar a{
	text-shadow:rgba(0,0,0,1.00) 0px 1px 1px;
	padding-bottom:5px !important; 	
	color:#FFFFFF;
	border-left:1px solid rgba(255,255,255,0.1);
	border-right:1px solid rgba(0,0,0,0.2);
	min-width:100px;
	text-align:center;
	display:block;
}
.navbar-nav {
	border-right:1px solid rgba(255,255,255,0.1);
	width:100%;
}
.navbar-nav li:first-child a {
	border-left:none;	
}



.navbar a .menu-icon {
	color:#FFFFFF;	
	text-shadow:rgba(0,0,0,1.00) 0px 1px 1px;
	clear:both;
	width:100%;
	display:block;
	text-align:center;
	font-weight:300;
}

.navbar a .menu-icon {
	margin:0px;	
}



.navbar a:hover ,
.navbar a:active,
.navbar a:focus {
	background:#0e8049 !important;
	color:#FCE6BF;
}

.dropdown > .dropdown-menu > li > a {
	text-shadow:none;	
	text-align:left;
}

.dropdown > .dropdown-menu > li > a:hover ,
.dropdown > .dropdown-menu > li > a:active ,
.dropdown > .dropdown-menu > li > a:focus
{
	background:#0e8049 !important;
	color:#FCE6BF;
	outline:0px none;
	box-shadow:none;	
}

.open a {
	
}

/*** ./End Navigation ***/

/*
-----------------------
** Main Content **
-----------------------
*/

.wrapper {
	margin-top:15px;	
}

.main-content {
	padding:0px;
	height:auto;
	border:1px solid #ccc;
	padding:5px;
	background:rgba(255,255,255,1.00);
	width:840px;
	float:left;		
}

.sidebar-wrpper {
	width:310px;
	float:right;
}
.sidebar-wrpper .ads {
	width:100%;
	padding:0px 0 10px 0;
	text-align:center;
	float:left;
}
.sidebar-wrpper .buysell {
	padding:0px 0 10px 25px;
}

@media only screen and (max-width: 1237px) {
    /* For mobile phones: */
    .main-content {
        width: 100%;
    }
	.sidebar-wrpper {
		width:310px;
		clear:both;
		margin:10px auto;
		float:none;
	}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .main-content {
        width: 100%;
    }
	.sidebar-wrpper {
		width:100%;
		clear:both;
		margin:10px auto;
		float:none;
	}
	.tool-wrapper {
		width:50% !important;
	}
}

/*
-----------------------
** Tool BOx styling  **
-----------------------
*/

.search-results {
	width:97.5%; 
	border:2px solid #0e212e; 
	min-height:50px; 
	position:absolute; 
	top:60px; 
	border-radius:3px;
	background:#fff;
	font-size:18px;
	padding:5px;
	z-index:50;
	font-family:"Roboto",sans-serif;
	display:none;
	font-weight:300;
	overflow-y:scroll;
	max-height:250px;
	overflow: auto;
}
.search-results .match {
	width:47%;
	padding:5px;
	display:inline-block;
	box-sizing:border-box;
	
}
.search-results .match a {
	border:1px solid #ccc;
	text-decoration:none;
	display:block;
	padding:3px;
	color:#193A51;
	transition:none;
}
.search-results .match a strong {
	font-weight:400;
	text-decoration:underline;
}
.search-results .match a:hover {
	color:#0e8049;
	font-weight:400;
	border:1px solid #0e8049;
}
.search-results .match a:hover strong {
	text-decoration:none;
}

.icon-www:before {
	content : "www.";
}
.icon-google:before {
	content : "GOOGLE";
}
.icon-pr:before {
	content : "PR";
}
.icon-pa:before {
	content : "PA";
}
.icon-moz:before {
	content : "moz";
}
.icon-da:before {
	content : "DA";
}
.url-icon-rewrited:before {
	content : "a/name/page/1";
}

.icon-abc:before {
	content: "ABC";
}

.tool-wrapper {
	padding:0px 10px;
	min-height:170px;
	display:table;
	margin-bottom:15px;
}

.tool-wrapper a {
	width:100%;
	float:left;
	border:1px solid #CCCCCC;
	text-align:center;
	transition: all ease 0.2s;
	color:#193A51;	
	
}

.tool-wrapper a i, .tool-wrapper a .icon {
	font-size:70px;
	width:100%;
	display:block;
	min-height:100px;
	padding:10px;	
	transition:all ease 0.2s;
}

.tool-wrapper a i.fa {
	font-size:70px;
	padding-top:13px;
}
.tool-footer {
	text-align:center;
	background:#0e8049;
	padding:5px;
	/*box-shadow:0px -1px 2px rgba(184,184,184,1.00);*/	
	transition:all ease 0.2s;
	text-align:center;
	color:rgba(255,255,255,1.00);
	display:table-cell;
	height:50px;
	vertical-align:middle;
	width:300px;
}

.tool-wrapper a:hover{
	border:1px solid #9B9B9B;
	
	box-shadow:1px 1px 8px 1px #E4E2E2 inset;
}	
.tool-wrapper a:hover i, .tool-wrapper a:hover .icon {
	color:#0e8049;
}


/** ./Tool BOx styling  | ./Main Content  **/

/*
-----------------------
** Sidebar **
-----------------------
*/	


.sidebar-wrpper  .main-sidebar{
	width:100%;
	min-height:200px;
	background:#FFFFFF;
	border:1px solid #ccc;
	text-align:center;
	padding:5px;	
}/** ./ SIde bar **/

/*
-----------------------
** Sidebar **
-----------------------
*/


.footer-wrapper {
	margin-top:15px;
	min-height:250px;
	background:#0E212E;
	background-image:url(imgs/pattern191.png);
	padding-top:40px;
}
.footer ,
.footer a{
	color:#FFFFFF;
	font-family:Roboto;
	text-shadow:rgba(0,0,0,1.00) 0px 1px 1px;
}

.footer  .col-sm-3 {
	padding:0px;	
}

.footer ul {
	margin:0px;
	padding:0px;		
}
.footer ul li {
	list-style:none;
	margin-bottom:10px;		
}

.footer ul li a:hover {
	color:#FCE6BF;		
}

.footer-heading {
	letter-spacing:1px;
	word-spacing:4px;	
} /** ./ Footer **/

/*
-----------------------
** LOGIN PAGE **
-----------------------
*/

.login-page { /* MAin Content */
	background:rgba(247,247,247,1.00);	
}

.login-wrapper {
	min-height:20px;
	float:none !important;
	margin:0px auto;	
} /** ./login page **/


/*
-----------------------
** TextArea Cutom Tab Group Section **
-----------------------
*/
.tab-group {
	width:100%;
	min-height:20px;
	float:left;	
}
.tab-group textarea {
	border:1px solid #0E212E;	
}

.tab-group textarea:focus {
	border:1px solid #0E212E;
}

.tab-textareat-header-info {
	background:#0E212E;
	padding:5px 10px;
	float:left;
	font-size:12px;	
	color:#FFFFFF;
	border-radius:5px 5px 0px 0px;
	box-shadow:inset 0px 1px 5px rgba(42,42,42,1.00);
	margin-top:10px;
}

.tab-textareat-footer-info {
	background:#0E212E;
	padding:5px 10px;
	float:left;
	font-size:12px;	
	color:#FFFFFF;
	border-radius:0px 0px 5px 5px;
	box-shadow:inset 0px 1px 5px rgba(42,42,42,1.00);
}

.tab-textareat-footer-info-borderd {
	
	padding:10px;
	border-top:0px !important;
	float:left;
	background:rgba(255,255,255,1.00);
	background:none;
}

/** ./TextArea Cutom Tab Group Section **/

/*
-----------------------
** Single Tool Content Section **
-----------------------
*/

.tool-content {
	margin:20px 0px;
	width:100%;
	height:auto;
	float:left;	
	font-size:16px;
	font-family:Roboto;
	color:rgba(95,95,95,1.00);
	font-weight:300;
	line-height:25px;
	text-align:justify;
	padding:10px 20px;
}

.tool-content-heading {
	width:100%;
	display:block;
	font-size:18px;
	margin:10px 0px;
	color:#0E212E;
	font-weight:bold;
}/** Single Tool Content Section **/

.box-input-file {
	width:100%;
	min-height:20px;
	float:left;
	margin:10px 0px;
	padding:5px;
	position:relative;	
}
.box-input-file.or:before {
	content:"OR";
	margin-left:-10px;
	top:35%;
	font-size:18px;
	left:49.5%;
	width:20px;
	background:#FFFFFF;
	height:30px;
	line-height:30px;
	z-index:20;
	display:block;
	position:absolute;	
}

.box-input-file .box-wrapper:nth-child(1)  {
	min-height:40px;
	border-right:2px dashed rgba(200,200,200,1.00);		
}

.popover {
	border:1px solid #0e8049;	
}
.popover-title {
	background:#0e8049;
	color:#FFFFFF;	
}









