@font-face {
  font-family: 'yekan';
  src: url('../fonts/yekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/yekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'numbers';
  src: url('../fonts/numbers.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/numbers.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/numbers.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}

/* defaults */
th{background: #EAEAEA !important;}

.min-space .col-xs-1,
.min-space .col-xs-2,
.min-space .col-xs-3,
.min-space .col-xs-4,
.min-space .col-xs-5,
.min-space .col-xs-6,
.min-space .col-xs-7,
.min-space .col-xs-8,
.min-space .col-xs-9,
.min-space .col-xs-10,
.min-space .col-xs-11,
.min-space .col-xs-12,
.min-space .col-xs-35{
    padding-left: 10px;
    padding-right: 10px;
}
.min-space .row{
    margin-right: -10px;
    margin-left: -10px;
}
.col-xs-35{
    width: 29.1666665%;
    float: right;
    position: relative;
    min-height: 1px;
}
.pagination li a{
    color: #F36147;
}
.pagination li.active a{
    background-color: #F36147;
    border-color: #F36147;
}
.pagination li.active a:hover{
    background-color: #98370C;
    border-color: #98370C;
}

/* styles */
html,body{
    height: 100%;
}
body{
    font: 15px/30px Tahoma;
    background: #fff;
    color: #585858;
    padding: 0;
    margin: 0;
}
body.forms{
    background: #f2f6f7;
}
body,
a,
.btn,
.btn:hover,
button,
input.form-control{
    font: 15px numbers, yekan, Tahoma;
    line-height: 1.8;
}
a,
a:hover,
a:focus,
a:active{
    text-decoration: none;
}
.btn,
.btn:hover,
input{
    font-size: 14px;
}
a{
    color: #ee6123;
    transition: all .4s;
}
.btn{
    transition: all .4s;
}
a:focus,
a:active,
a:hover{
    color: #98370c;
    text-decoration: none;
}
label{
    font-weight: normal;
}
select.form-control{
    padding-top: 0;
    padding-bottom: 0;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-weight: bold;
}
h3{
    font-size: 20px;
}
.table td.nobg{
    background: none;
    border-width: 0;
}
.table.table-bordered{
    border: 0;
}
.txt-r{
    text-align: right;
}
.txt-l{
    text-align: left;
}
.txt-c{
    text-align: center;
}
.mgt-20{
    margin-top: 20px;
}

#wrapper{
    min-height: 100%;
    position: relative;
}
#content-wrapper{
    padding-bottom: 134px;
    background: #eee;
}
.width{
    width: 950px;
    margin: 0 auto;
    direction: rtl;
}
header{
    background: #fff;
    height: 215px;
    /*overflow: hidden;*/
    box-shadow: 0 0 3px #999;
    z-index: 1;
    position: relative;
}
header nav{
    background: #F36147;
    height: 50px;
    margin-bottom: 20px;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li{
    float: right;
    padding: 0 10px;
    position: relative;
}
header nav ul li.left{
    float: left;
}
header nav ul li:before{
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: 0;
    top: 10px;
    right: 0;
    border-right: 1px solid #F58470;
    border-left: 1px solid #F04628;
}
header nav ul li:first-child:before{
    border-right: 0;
}
header nav ul li.last:before{
    border-left: 0;
}
header nav ul li.left:before{
    border: none;
}
header nav ul li a,
header nav ul li > div{
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 10px;
    line-height: 40px;
    height: 50px;
    color: #fff;
    border: 5px solid transparent;
    transition: border-color .4s, color .4s;
}
header nav ul li.left div{
    position: relative;
}
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a:focus{
    color: #fff;
    border-bottom-color: #fff;
    border-top-color: #fff;
}
header nav ul li.left div:hover{
    border-bottom-color: #555 !important;
    border-top-color: #555 !important;
    color: #555;
}
#loginForm{
    opacity: 0;
    transition: opacity .4s, height 0s, padding 0s;
    background: #555;
    height: 0;
    border-radius: 15px;
    width: 310px;
    position: absolute;
    left: -20px;
    top: 45px;
    overflow: hidden;
    padding: 0;
}
#captcha{
    position: relative;
}
#captcha img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
}
.forms #captcha img{
    width: 102px;
    height: 34px;
    top: 3px;
    right: 3px;
    left: auto;
}
#captcha input{
    padding-left: 120px;
}
.forms #captcha input{
    padding-left: 12px;
    padding-right: 120px;
}
#loginForm .form-group{
    margin-bottom: 5px;
}
#loginForm input{
    height: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    border-width: 0;
}
#loginForm button{
    height: 40px;
    border: 0;
}
#loginForm .link{
    color: #fff;
    line-height: 20px;
}
#loginForm .link a{
    color: #F36147;
    display: inline-block;
    padding: 0;
    border: 0 !important;
    height: 20px;
}
#loginForm.signedUser > div{
    line-height: 45px;
    color: #fff;
    margin: 8px 0;
}
#loginForm.signedUser > div .btn{
    height: 35px !important;
    line-height: 30px !important;
    padding: 0 !important;
}
#loginForm.signedUser > div > i{
    float: right;
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 20px;
    font-size: 30px;
    text-align: center;
}
header nav ul li.left div:hover #loginForm{
    height: 180px;
    opacity: 1;
    padding: 15px;
}
header nav ul li.left div:hover #loginForm.signedUser{
    padding: 5px 15px;
    height: 155px;
}
.logo{
    height: 125px;
    width: 416px;
    background: url(../images/logo-main.png?new) no-repeat;
}
header .logo{
    float: left;
}
header .banners{
    height: 125px;
    width: 488px;
    float: right;
    text-align: right;
}
header .banners a{
    display: block;
    width: 468px;
    overflow: hidden;
    border-radius: 5px;
}
header .banners a:first-child{
    margin-bottom: 5px;
}

section.body{
    padding: 20px 0;
}
section.body.lightgray{
    background: #eee;
}
section.body.darkgray{
    background: #ccc;
}
section.body.stats{
    background: #844DC8;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
}
section.bxshd{
    box-shadow: inset 0 0 3px #666
}

article{
    text-align: center;
}
article .title{
    height: 50px;
    line-height: 40px;
    background: #F36147;
    display: inline-block;
    /*border: 5px solid #fff;*/
    margin-bottom: -10px;
    border-radius: 5px;
    padding: 0 20px;
    max-width: 100%;
    color: #fff;
    position: relative;
    z-index: 0;
}
article .in{
    border-top: 5px solid #F36147;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
    padding: 10px;
    text-align: right;
    position: relative;
    z-index: 1;
}
article .in.list{
    /*padding: 0;*/
}
article .in.list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
article .in.list ul li{
    border-bottom: 1px dashed #eee;
    line-height: 35px;
    padding: 0 30px 0 10px;
    position: relative;
}
article .in.list ul li:before{
    font-family: 'Glyphicons Halflings';
    content: "\e091";
    position: absolute;
    right: 5px;
}
article .in.list.list-ok ul li:before{
    content: "\e013";
    color: #5cb85c;
}
article .in.list ul li.ico-arrow:before{
    content: "\e091";
    color: #F36147;
}
article .in.list.list-orange ul li:before{
    color: #F36147;
}
article .in.list ul li:last-child{
    border-bottom: none;
}
article.green .title{
    background: #5cb85c;
}
article.green .in{
    border-top-color: #5cb85c;
}
article.green .in a{
    color: #5cb85c;
}
article.green .in a:hover{
    color: #38832C;
}
article.font-14 .list li a{
    font-size: 14px;
}
.signupBtn{
    font-size: 30px !important;
    height: 60px;
    line-height: 40px !important;
}

article .in.banner-240{
    text-align: center;
}
.banner-240 a{
    display: inline-block;
}

.sideMenu .in,
.sideMenu .in a{
    font-size: 13px;
}
article.ttl-r{
    text-align: right;
}
article.ttl-r .title{
    margin-right: 10px;
}

section.body.stats div a{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    background: #6D36B1;
}
section.body.stats div a:hover{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    background: #5B2D95;
}
.important{
    font-size: 50px;
}

footer{
    background: #fff;
    box-shadow: inset 0 1px 3px #999;
    padding: 30px 0 5px 0;
    text-align: center;
    height: 134px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    display: block;
    padding: 0 10px;
    margin: 0 10px;
    color: #999;
}

footer .copy{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}
footer .copy,
footer .copy a{
    color: #aaa;
    font-size: 12px;
}

.forms_container{
    position: relative;
}
.forms .leftBtn{
    position: absolute;
    left: -96px;
    top: 120px;
    transform: rotate(-90deg);
    border-radius: 5px 5px 0 0;
}
.forms .logo{
    height: 155px;
    margin: 0 auto;
}
.forms .width{
    width: 500px;
}
.forms section{
    padding: 40px 0;
}
.forms .footer{
    padding: 20px 0;
    color: #aaa;
    font-size: 12px;
}
.forms .footer a{
    color: #aaa;
    font-size: 12px;
}
.forms article .in{
    padding: 40px;
}
.forms form .form-group{
    margin-right: 0;
    margin-left: 0;
}
.forms .help-block,
.forms .help-block a{
    font-size: 12px;
}
.password-block{
    position: relative;
}
.password-block .forgot{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
}
.forms_container .error-message{
    display: inline-block;
    color: #C90E0E;
    font-size: 12px;
    padding-top: 10px;
}
.bigInputs .form-control{
    height: 43px;
}

#usersComment{
    height: 215px;
    overflow: hidden;
}
#usersComment .comment{
    background: #FEF5D3;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 14px;
}
#usersComment .comment:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #FEF5D3;
    top: -20px;
    right: 10px;
}
#usersComment .domain{
    direction: ltr;
    font-family: Arial;
    text-align: left;
    margin-top: 10px;
    color: #666;
    font-style: italic;
}

.preload *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}