@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

a, a:visited, a:hover, a:hover, a:focus{
    text-decoration: none;
    cursor:pointer;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: normal;
    margin: 0!important;
}

/* Footer */
footer{
    width:100%;
    float:left;
    padding:30px 0 20px 0;
    background: #b7c0cc; /* Old browsers */
    background: -moz-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c7d0cd), color-stop(100%, #b4becb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c7d0cd 0%, #b4becb 100%); /* IE10+ */
    background: linear-gradient(to right, #c7d0cd 0%, #b4becb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d0cd', endColorstr='#b4becb', GradientType=1 ); /* IE6-9 */
    overflow: hidden;
}

footer .container{
    float: left;
    width: 80%;
}
footer{
    padding:20px 0;
}
footer ul{
    list-style:none;
    float:left;
    padding:18px 0 0 0;
    margin:0
}
footer ul li{
   padding: 0 22px;
   display: inline-block;
   margin: 6px 0;
}

footer ul li a{
    color:#fff;
    font-size:15px;
}
footer ul li a:hover{
    color:#464646;
    text-decoration:none;
}
ul.socail-ftr{
    float:right;
    margin:0 20px 0 0;
    padding:0 0 0;
    height:60px;
}
ul.socail-ftr li{
    padding: 0 0 30px;
    height:60px;
    margin:0 0 0 30px;
}
ul.socail-ftr li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a:hover{
    opacity:0.8;
}
ul.socail-ftr li a.facebook{
    background: url('http://cdn-www.bluestacks.com/bs-images/facebook_circle1.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.twitter{
    background: url('http://cdn-www.bluestacks.com/bs-images/twitter-circle1.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr li a.googleplus{
    background: url('http://cdn-www.bluestacks.com/bs-images/google_circle1.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob{
    margin:0 auto;
    padding:50px 0 0;
    width:28%;
}
ul.socail-ftr-mob li{
    padding: 0 15px;
    list-style:none;
    display:inline-block;
}
ul.socail-ftr-mob li a{
    display:inline-block;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.facebook{
    background: url('../images/facebook_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.twitter{
    background: url('../images/twitter-circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}
ul.socail-ftr-mob li a.googleplus{
    background: url('../images/google_circle.png') no-repeat left top;
    height: 62px;
    width:62px;
}

@media (max-width: 1220px) {
    footer .container {
        text-align: center;
        width: 100%;
    }

    footer ul li a {
        font-size: 18px;
    }

    .socail-ftr{
        display:none;
    }
}

@media (max-width: 480px) {
    footer ul li {
        padding: 0px 16px;
    }

    footer ul li a {
        font-size: 15px;
    }
}
/* Footer */
