/* @file
 * This file is a custom file that loads all files. Each non-base layer
 * can be disabled.
 *
 * Do not name this file "STARTER.scss". This file should be named
 * THEMENAME.scss. If you used the drush command to generate this subtheme,
 * it should be named for you.
 *
 * This application file (THEMENAME.scss) is where all the partials are
 * imported.
 *
 * Theme styles are categorized using SMACSS standards. They utilize
 * categorization of styles into various categories. Those categories are the
 * following:
 *
 * - Base: CSS reset/normalize plus HTML element styling.
 * - Layout: Macro arrangement of a web page, including any grid systems.
 * - Modules: Dictate minor layout modules or reusable elements.
 * - States: Describe the appearance of a module in various states.
 * - Theme: Specific customizations for your subtheme.
 * For more information about this new Drupal css file standard, please review
 * the following:
 * - https://drupal.org/node/1887922
 * - http://smacss.com/
 */
@import url(//fonts.googleapis.com/css?family=Rokkitt:400,700);
meta.foundation-version {
  font-family: "/5.5.0/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 48em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:48.063em)/";
  width: 48.063em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:48.063em) and (max-width:60em)/";
  width: 48.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:60.063em)/";
  width: 60.063em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:60.063em) and (max-width:75em)/";
  width: 60.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:75.063em)/";
  width: 75.063em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:75.063em) and (max-width:120em)/";
  width: 75.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  background: #fff;
  color: #333;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none !important;
  visibility: hidden; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.625rem 1.25rem; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .small-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .small-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    width: 33.3333333333%;
    list-style: none; }
    .small-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .small-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .small-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    width: 16.6666666667%;
    list-style: none; }
    .small-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    width: 14.2857142857%;
    list-style: none; }
    .small-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .small-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    width: 11.1111111111%;
    list-style: none; }
    .small-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .small-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    width: 9.0909090909%;
    list-style: none; }
    .small-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    width: 8.3333333333%;
    list-style: none; }
    .small-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 48.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .medium-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .medium-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .medium-block-grid-3 > li {
    width: 33.3333333333%;
    list-style: none; }
    .medium-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .medium-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .medium-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .medium-block-grid-6 > li {
    width: 16.6666666667%;
    list-style: none; }
    .medium-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .medium-block-grid-7 > li {
    width: 14.2857142857%;
    list-style: none; }
    .medium-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .medium-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .medium-block-grid-9 > li {
    width: 11.1111111111%;
    list-style: none; }
    .medium-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .medium-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .medium-block-grid-11 > li {
    width: 9.0909090909%;
    list-style: none; }
    .medium-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .medium-block-grid-12 > li {
    width: 8.3333333333%;
    list-style: none; }
    .medium-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 60.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .large-block-grid-1 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .large-block-grid-2 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.3333333333%;
    list-style: none; }
    .large-block-grid-3 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .large-block-grid-4 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .large-block-grid-5 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.6666666667%;
    list-style: none; }
    .large-block-grid-6 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.2857142857%;
    list-style: none; }
    .large-block-grid-7 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .large-block-grid-8 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.1111111111%;
    list-style: none; }
    .large-block-grid-9 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .large-block-grid-10 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.0909090909%;
    list-style: none; }
    .large-block-grid-11 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.3333333333%;
    list-style: none; }
    .large-block-grid-12 > li:nth-of-type(1n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
.inline-list {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.375rem;
    display: block; }
    .inline-list > li > * {
      display: block; }

/* Foundation Joyride */
.joyride-list {
  display: none; }

/* Default styles for the container */
.joyride-tip-guide {
  display: none;
  position: absolute;
  background: #333333;
  color: #FFFFFF;
  z-index: 101;
  top: 0;
  left: 2.5%;
  font-family: inherit;
  font-weight: normal;
  width: 95%; }

.lt-ie9 .joyride-tip-guide {
  max-width: 800px;
  left: 50%;
  margin-left: -400px; }

.joyride-content-wrapper {
  width: 100%;
  padding: 1.125rem 1.25rem 1.5rem; }
  .joyride-content-wrapper .button {
    margin-bottom: 0 !important; }
  .joyride-content-wrapper .joyride-prev-tip {
    margin-right: 10px; }

/* Add a little css triangle pip, older browser just miss out on the fanciness of it */
.joyride-tip-guide .joyride-nub {
  display: block;
  position: absolute;
  left: 22px;
  width: 0;
  height: 0;
  border: 10px solid #333333; }
  .joyride-tip-guide .joyride-nub.top {
    border-top-style: solid;
    border-color: #333333;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    top: -20px; }
  .joyride-tip-guide .joyride-nub.bottom {
    border-bottom-style: solid;
    border-color: #333333 !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    bottom: -20px; }
  .joyride-tip-guide .joyride-nub.right {
    right: -20px; }
  .joyride-tip-guide .joyride-nub.left {
    left: -20px; }

/* Typography */
.joyride-tip-guide h1,
.joyride-tip-guide h2,
.joyride-tip-guide h3,
.joyride-tip-guide h4,
.joyride-tip-guide h5,
.joyride-tip-guide h6 {
  line-height: 1.25;
  margin: 0;
  font-weight: bold;
  color: #FFFFFF; }

.joyride-tip-guide p {
  margin: 0 0 1.125rem 0;
  font-size: 0.875rem;
  line-height: 1.3; }

.joyride-timer-indicator-wrap {
  width: 50px;
  height: 3px;
  border: solid 1px #555555;
  position: absolute;
  right: 1.0625rem;
  bottom: 1rem; }

.joyride-timer-indicator {
  display: block;
  width: 0;
  height: inherit;
  background: #666666; }

.joyride-close-tip {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #777777 !important;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  line-height: .5 !important; }
  .joyride-close-tip:hover, .joyride-close-tip:focus {
    color: #EEEEEE !important; }

.joyride-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  top: 0;
  left: 0;
  cursor: pointer; }

.joyride-expose-wrapper {
  background-color: #FFFFFF;
  position: absolute;
  border-radius: 3px;
  z-index: 102;
  box-shadow: 0 0 15px #FFFFFF; }

.joyride-expose-cover {
  background: transparent;
  border-radius: 3px;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0; }

/* Styles for screens that are at least 768px; */
@media only screen and (min-width: 48.063em) {
  .joyride-tip-guide {
    width: 300px;
    left: inherit; }
    .joyride-tip-guide .joyride-nub.bottom {
      border-color: #333333 !important;
      border-bottom-color: transparent !important;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      bottom: -20px; }
    .joyride-tip-guide .joyride-nub.right {
      border-color: #333333 !important;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      top: 22px;
      left: auto;
      right: -20px; }
    .joyride-tip-guide .joyride-nub.left {
      border-color: #333333 !important;
      border-top-color: transparent !important;
      border-left-color: transparent !important;
      border-bottom-color: transparent !important;
      top: 22px;
      left: -20px;
      right: auto; } }
#masthead {
  height: 50px;
  background: #181818; }
  #masthead .row {
    height: 50px;
    position: relative; }
  .scrolled #masthead {
    display: none; }

#banner {
  width: 150px;
  width: 125px;
  height: 170px;
  height: 141.75px;
  z-index: 999;
  position: absolute;
  top: 5px; }
  #banner a {
    width: 150px;
    width: 125px;
    height: 170px;
    height: 141.75px; }
  #banner img.unt-banner {
    width: 150px;
    width: 125px;
    height: 170px;
    height: 141.75px;
    margin-top: 0; }

#wordmark {
  width: 300px;
  height: 50px;
  margin-left: 140px;
  display: inline-block; }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    #wordmark {
      width: 225px; } }
  #wordmark img {
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    max-width: 300px; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      #wordmark img {
        margin-top: -12px; } }

#header {
  height: 80px;
  overflow: visible;
  -webkit-transition: 0.5s;
  -khtml-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

#site-name {
  margin: 0 0 0 124px; }
  .scrolled #site-name {
    margin: 0; }

#lettermark {
  float: left;
  display: none; }

#quickscrolled {
  display: none;
  -webkit-transition: 0.5s;
  -khtml-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0; }

#footer .footer-second h4,
#footer .footer-third h4,
#footer .footer-fourth h4 {
  margin-bottom: .75em; }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    #footer .footer-second h4,
    #footer .footer-third h4,
    #footer .footer-fourth h4 {
      margin-bottom: .75em; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    #footer .footer-second h4,
    #footer .footer-third h4,
    #footer .footer-fourth h4 {
      font-size: 13px; } }
#footer .footer-second ul.links:last-child,
#footer .footer-third ul.links:last-child,
#footer .footer-fourth ul.links:last-child {
  margin-bottom: 0px; }
#footer .footer-second ul.links li,
#footer .footer-third ul.links li,
#footer .footer-fourth ul.links li {
  display: block;
  border: none;
  line-height: 1.35em;
  margin-bottom: 1.15em; }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    #footer .footer-second ul.links li,
    #footer .footer-third ul.links li,
    #footer .footer-fourth ul.links li {
      margin-bottom: .85em; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    #footer .footer-second ul.links li,
    #footer .footer-third ul.links li,
    #footer .footer-fourth ul.links li {
      margin-bottom: .85em;
      line-height: 1.5em; } }
  #footer .footer-second ul.links li:last-child,
  #footer .footer-third ul.links li:last-child,
  #footer .footer-fourth ul.links li:last-child {
    margin-bottom: 0; }
#footer .footer-second ul.links a,
#footer .footer-third ul.links a,
#footer .footer-fourth ul.links a {
  display: inline; }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    #footer .footer-second ul.links a,
    #footer .footer-third ul.links a,
    #footer .footer-fourth ul.links a {
      font-size: 11px;
      line-height: 1.5em; } }

#quicklinks {
  float: right;
  height: 50px;
  top: inherit !important;
  right: inherit !important;
  bottom: inherit !important;
  left: inherit !important;
  position: inherit !important;
  -webkit-transform: none !important;
  -khtml-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important; }
  #quicklinks .block-menu-menu-quicklinks,
  #quicklinks .block-block-1 {
    display: block;
    float: left;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -2px;
    z-index: 999; }
  #quicklinks h2 {
    display: none; }
  #quicklinks:hover {
    background: transparent; }
  #quicklinks ul.menu {
    margin: 0;
    padding: 0;
    list-style: none; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      #quicklinks ul.menu {
        margin-top: 1px; } }
    #quicklinks ul.menu li {
      float: left;
      display: block;
      margin-bottom: 0; }
      #quicklinks ul.menu li::last-child {
        margin-right: 0; }
      #quicklinks ul.menu li a {
        text-transform: uppercase;
        color: #fff;
        font-family: "Montserrat", Verdana, sans-serif;
        line-height: 1em;
        text-decoration: none; }
        @media only screen and (min-width: 770px) and (max-width: 979px) {
          #quicklinks ul.menu li a {
            font-size: 9px;
            font-size: 0.5625em;
            font-size: 0.5625rem;
            padding: .4rem .25rem; } }
        @media only screen and (min-width: 980px) {
          #quicklinks ul.menu li a {
            font-size: 10px;
            font-size: 0.625em;
            font-size: 0.625rem;
            padding: .5rem; } }
        #quicklinks ul.menu li a:hover {
          background: #454545;
          text-decoration: none; }

#popular-links > a {
  margin-right: -.5rem; }
#popular-links a {
  font-size: 9px;
  font-size: 0.5625em;
  font-size: 0.5625rem;
  text-transform: uppercase;
  color: #fff;
  padding: .5em .25em .15em .25em;
  padding: .5rem .25rem .15rem .25rem;
  font-family: "Montserrat", Verdana, sans-serif; }
  @media only screen and (min-width: 980px) {
    #popular-links a {
      padding: .5em;
      padding: .5rem;
      font-size: 10px;
      font-size: 0.625em;
      font-size: 0.625rem; } }
  #popular-links a::after {
    content: "\f0d7";
    font-family: "FontAwesome";
    color: #fff;
    margin-left: 4px; }
  #popular-links a.open {
    background: #454545; }
#popular-links .f-dropdown.f-open-dropdown {
  top: 28px !important;
  background: rgba(17, 17, 17, 0.75);
  border: none;
  min-width: 109px;
  z-index: 999;
  left: 0px; }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    #popular-links .f-dropdown.f-open-dropdown {
      top: 24px !important; } }
  #popular-links .f-dropdown.f-open-dropdown::before, #popular-links .f-dropdown.f-open-dropdown::after {
    content: "";
    border: none;
    display: none; }
  #popular-links .f-dropdown.f-open-dropdown li:hover {
    background: #454545; }
  #popular-links .f-dropdown.f-open-dropdown a {
    color: #fff; }
    #popular-links .f-dropdown.f-open-dropdown a::after {
      content: ""; }
  #popular-links .f-dropdown.f-open-dropdown a:hover {
    background: transparent; }

@media only screen and (min-width: 770px) {
  #main-menu {
    float: left;
    display: block;
    height: 40px;
    padding-left: 122px;
    padding-top: 18px; } }
.scrolled #main-menu {
  padding-top: 8px;
  padding-left: 0; }
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  #main-menu {
    padding-top: 19px; } }
@media only screen and (min-width: 770px) and (max-width: 979px) {
  #main-menu {
    padding-top: 19px; } }
#main-menu ul.menu {
  display: inline-block; }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    #main-menu ul.menu {
      margin: 0 0 0 8px; }
      .front #main-menu ul.menu {
        margin: 0 0 0 15px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    #main-menu ul.menu {
      margin: 0 0 0 9px; }
      .front #main-menu ul.menu {
        margin: 0 0 0 8px; } }
  @media only screen and (min-width: 1200px) {
    #main-menu ul.menu {
      margin: 0 0 0 10px; }
      .front #main-menu ul.menu {
        margin: 0 0 0 5px; } }
  #main-menu ul.menu li {
    float: left;
    display: block;
    list-style: none;
    overflow: visible;
    margin-right: 1px;
    margin-bottom: 0; }
    #main-menu ul.menu li a {
      display: block;
      padding: 0 15px;
      color: #fff;
      line-height: 40px;
      position: relative;
      background: #006a31;
      background: transparent;
      text-decoration: none;
      -webkit-transition: 0.25s;
      -khtml-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s; }
      .scrolled #main-menu ul.menu li a {
        background: #00853e; }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        #main-menu ul.menu li a {
          padding: 0 7px;
          font-size: 13px;
          font-size: 0.8125em;
          font-size: 0.8125rem; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        #main-menu ul.menu li a {
          padding: 0 11px;
          font-size: 16px;
          font-size: 1em;
          font-size: 1rem; } }
      @media only screen and (min-width: 1200px) {
        #main-menu ul.menu li a {
          font-size: 18px;
          font-size: 1.125em;
          font-size: 1.125rem; } }
      #main-menu ul.menu li a:hover {
        background: #00853e;
        text-decoration: none; }
        .scrolled #main-menu ul.menu li a:hover {
          background: #006a31; }
      #main-menu ul.menu li a.active-trail {
        background: #00853e; }
        .scrolled #main-menu ul.menu li a.active-trail {
          background: #006a31; }
    #main-menu ul.menu li.home {
      text-indent: -9999px;
      position: relative; }
      #main-menu ul.menu li.home a {
        position: relative;
        display: block;
        line-height: 40px;
        width: 40px;
        height: 40px;
        background: transparent;
        -webkit-border-radius: 20px;
        -khtml-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
        font-size: 20px;
        font-size: 1.25em;
        font-size: 1.25rem; }
        #main-menu ul.menu li.home a::before {
          color: #fff;
          content: "\f015";
          font-family: "FontAwesome";
          position: absolute;
          left: 50%;
          top: 50%;
          bottom: auto;
          right: auto;
          -webkit-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -ms-transform: translateX(-50%) translateY(-50%);
          -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          text-indent: 0; }
        .scrolled #main-menu ul.menu li.home a {
          display: block;
          line-height: 30px;
          width: 30px;
          height: 30px;
          background: #00853e;
          -webkit-border-radius: 15px;
          -khtml-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          border-radius: 15px;
          font-size: 17px;
          font-size: 1.0625em;
          font-size: 1.0625rem; }
        @media only screen and (min-width: 980px) and (max-width: 1199px) {
          #main-menu ul.menu li.home a {
            font-size: 22px;
            font-size: 1.375em;
            font-size: 1.375rem; } }
        @media only screen and (min-width: 1200px) {
          #main-menu ul.menu li.home a {
            font-size: 24px;
            font-size: 1.5em;
            font-size: 1.5rem; }
            .scrolled #main-menu ul.menu li.home a {
              font-size: 18px;
              font-size: 1.125em;
              font-size: 1.125rem; } }
        #main-menu ul.menu li.home a:hover {
          background: #00853e; }
          .scrolled #main-menu ul.menu li.home a:hover {
            background: #006a31; }
    .front #main-menu ul.menu li.first {
      display: none; }

.landing-page #main-menu.main-menu.hide-for-small {
  display: none !important; }

.scrolled div[role="document"].page {
  padding-top: 130px; }
.scrolled header {
  position: fixed;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  z-index: 999;
  -webkit-transition: 0.5s;
  -khtml-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
.scrolled #masthead {
  height: 0px;
  display: none; }
  .scrolled #masthead img.scrolled {
    display: none; }
.scrolled #quicklinks {
  display: none; }
.scrolled #banner {
  display: none; }
.scrolled #wordmark {
  display: none; }
.scrolled #lettermark {
  height: 28px;
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .scrolled #lettermark img {
    width: 74px;
    height: 25px;
    margin: 0;
    padding: 0; }
.scrolled #header {
  height: 45px;
  -webkit-transition: 0.5s;
  -khtml-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
.scrolled #quickscrolled {
  display: block;
  float: right;
  height: 45px;
  width: 40px;
  position: relative;
  opacity: 1; }
  .scrolled #quickscrolled h2 {
    display: none; }
  .scrolled #quickscrolled ul {
    display: none; }
  .scrolled #quickscrolled::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "\f02e";
    font-family: "FontAwesome";
    color: #fff;
    font-weight: normal; }
  .scrolled #quickscrolled:hover {
    cursor: pointer;
    background: #006a31; }
@media only screen and (min-width: 770px) {
  .scrolled #main-menu {
    height: 30px; }
    .scrolled #main-menu a, .scrolled #main-menu a:link, .scrolled #main-menu a:active, .scrolled #main-menu a:visited {
      font-size: .8em;
      line-height: 30px; } }
.scrolled .landing-page #main-menu.main-menu.hide-for-small {
  display: none !important; }
.scrolled #popular-links {
  display: none; }

@media only screen and (max-width: 769px) {
  html {
    height: 100%; } }

main section#social-blocks {
  padding: 0; }

.joyride-content-wrapper p {
  margin-bottom: 0;
  font-family: "Montserrat", Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  font-size: 0.6875em;
  font-size: 0.6875rem;
  line-height: 1.75em; }

#home-flags {
  position: absolute;
  right: 1;
  right: 0;
  top: 225px;
  z-index: 999; }
  #home-flags .home-flag {
    height: 60px;
    background: url(../images/home-flag.png) left center no-repeat;
    display: block;
    padding: 0 15px 0 65px;
    color: #fff;
    text-decoration: none; }
    #home-flags .home-flag:hover {
      color: #fff;
      text-decoration: underline; }
  @media only screen and (max-width: 769px) {
    #home-flags {
      display: none; } }
  #home-flags p {
    margin: 0;
    padding: 0 0 2px 0;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    line-height: 1.15em; }

.front main.row {
  padding-top: 0; }
.front .wide-body {
  z-index: -1; }
.front #intro {
  text-align: center;
  position: relative;
  padding: 0;
  overflow: hidden; }
  .front #intro .btn-group .btn {
    margin-right: 5px; }
    .front #intro .btn-group .btn.btn2.light-gray a {
      background-color: rgba(17, 17, 17, 0.7); }
      .front #intro .btn-group .btn.btn2.light-gray a:hover {
        background-color: #fff; }
  .front #intro .intro-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 769px) {
      .front #intro .intro-wrapper {
        min-height: 350px;
        background: transparent; } }
  .front #intro .overlay {
    position: absolute;
    bottom: 30px; }
    @media only screen and (max-width: 769px) {
      .front #intro .overlay {
        bottom: 0; } }
  @media only screen and (max-width: 769px) {
    .front #intro {
      background: url(../images/unt-apply-vid-still.jpg) center center no-repeat;
      background-size: cover; } }
  @media only screen and (min-width: 770px) and (max-width: 979px) {
    .front #intro {
      height: 420px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    .front #intro {
      height: 565px; } }
  @media only screen and (min-width: 1200px) {
    .front #intro {
      height: 625px; } }
  @media only screen and (min-width: 1440px) {
    .front #intro {
      height: 685px; } }
  @media only screen and (min-width: 1650px) {
    .front #intro {
      height: 720px; } }
  @media only screen and (min-width: 1800px) {
    .front #intro {
      height: 800px; } }
  .front #intro h1.title,
  .front #intro h2.title {
    font-size: 32px;
    font-size: 2em;
    font-size: 2rem;
    margin: 0 0 .4em 0;
    color: #fff;
    text-shadow: 0 0 10px #000; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .front #intro h1.title,
      .front #intro h2.title {
        font-size: 42px;
        font-size: 2.625em;
        font-size: 2.625rem; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .front #intro h1.title,
      .front #intro h2.title {
        font-size: 52px;
        font-size: 3.25em;
        font-size: 3.25rem; } }
    @media only screen and (min-width: 1200px) {
      .front #intro h1.title,
      .front #intro h2.title {
        font-size: 64px;
        font-size: 4em;
        font-size: 4rem; } }
  .front #intro p.deck {
    font-size: 16px;
    font-size: 1em;
    font-size: 1rem;
    margin-bottom: 1.75em;
    font-weight: bold;
    line-height: 16px;
    color: #eee;
    text-shadow: 0 0 10px #000; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .front #intro p.deck {
        font-size: 18px;
        font-size: 1.125em;
        font-size: 1.125rem;
        line-height: 18px; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .front #intro p.deck {
        font-size: 22px;
        font-size: 1.375em;
        font-size: 1.375rem;
        line-height: 22px; } }
    @media only screen and (min-width: 1200px) {
      .front #intro p.deck {
        font-size: 26px;
        font-size: 1.625em;
        font-size: 1.625rem;
        line-height: 26px; } }
  .front #intro p.more-info {
    font-size: 13px;
    font-size: 0.8125em;
    font-size: 0.8125rem;
    line-height: 13px;
    font-style: italic;
    font-weight: bold;
    color: #eee;
    text-shadow: 0 0 10px #000;
    margin-bottom: 1em; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .front #intro p.more-info {
        font-size: 14px;
        font-size: 0.875em;
        font-size: 0.875rem;
        line-height: 14px; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .front #intro p.more-info {
        font-size: 16px;
        font-size: 1em;
        font-size: 1rem;
        line-height: 16px; } }
    @media only screen and (min-width: 1200px) {
      .front #intro p.more-info {
        font-size: 18px;
        font-size: 1.125em;
        font-size: 1.125rem;
        line-height: 18px; } }
  @media only screen and (max-width: 979px) {
    .front #intro .btn a {
      font-size: 11px;
      font-size: 0.6875em;
      font-size: 0.6875rem;
      padding: 8px 12px 6px 12px; } }
  @media only screen and (min-width: 980px) and (max-width: 1199px) {
    .front #intro .btn a {
      font-size: 12px;
      font-size: 0.75em;
      font-size: 0.75rem;
      padding: 10px 15px 8px 15px; } }
  .front #intro #bgvid {
    position: inherit;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #000 center center no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: initial;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    @media only screen and (max-width: 769px) {
      .front #intro #bgvid {
        display: none;
        width: 0px;
        height: 0px; } }
.front x-object-fit {
  position: inherit !important; }
.front #social-blocks {
  padding: 0.25%; }
  @media only screen and (max-width: 769px) {
    .front #social-blocks .row {
      padding-left: 0;
      margin-left: 0;
      padding-right: 0;
      margin-right: 0; } }
  .front #social-blocks .col.social-block {
    padding: 0;
    width: 24.5%;
    margin: 0.25%;
    -webkit-transition: 0.5s;
    -khtml-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none; }
    .front #social-blocks .col.social-block.shadow {
      -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 769px) {
      .front #social-blocks .col.social-block {
        width: 49%;
        margin: 0.5%; } }
    .front #social-blocks .col.social-block.lime {
      background: #72b844; }
      .front #social-blocks .col.social-block.lime:hover {
        background: #629e3a; }
    .front #social-blocks .col.social-block.green {
      background: #00853e; }
      .front #social-blocks .col.social-block.green:hover {
        background: #006c32; }
    .front #social-blocks .col.social-block.blue {
      background: #84b1cd; }
      .front #social-blocks .col.social-block.blue:hover {
        background: #4e8fb7; }
    .front #social-blocks .col.social-block.brown {
      background: #887a68; }
      .front #social-blocks .col.social-block.brown:hover {
        background: #6b6052; }
    .front #social-blocks .col.social-block:hover {
      text-decoration: none; }
    .front #social-blocks .col.social-block .overlay.center {
      display: block;
      height: auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 80%;
      margin: 0 auto;
      color: #fff; }
    .front #social-blocks .col.social-block .overlay.low {
      position: absolute;
      bottom: 15px;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      width: 100%;
      padding: 10px 0 10px 15px;
      font-size: 16px;
      font-size: 1em;
      font-size: 1rem;
      font-family: "Open Sans Condensed", sans-serif;
      -webkit-transition: 0.5s;
      -khtml-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .front #social-blocks .col.social-block .overlay.big {
      width: 60%;
      text-align: center;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 40px;
      font-size: 2.5em;
      font-size: 2.5rem; }
      @media only screen and (max-width: 1199px) {
        .front #social-blocks .col.social-block .overlay.big {
          width: 86%;
          font-size: 32px;
          font-size: 2em;
          font-size: 2rem;
          line-height: 1.25em; } }
      @media only screen and (max-width: 769px) {
        .front #social-blocks .col.social-block .overlay.big {
          font-size: 26px;
          font-size: 1.625em;
          font-size: 1.625rem; } }
    .front #social-blocks .col.social-block .overlay.tweet p {
      font-size: 22px;
      font-size: 1.375em;
      font-size: 1.375rem;
      color: #fff; }
      @media only screen and (max-width: 1199px) {
        .front #social-blocks .col.social-block .overlay.tweet p {
          font-size: 16px;
          font-size: 1em;
          font-size: 1rem;
          line-height: 1.5em; } }
      @media only screen and (max-width: 769px) {
        .front #social-blocks .col.social-block .overlay.tweet p {
          font-size: 13px;
          font-size: 0.8125em;
          font-size: 0.8125rem;
          line-height: 1.25rem;
          margin-bottom: .65rem; } }
    .front #social-blocks .col.social-block .overlay.tweet p.handle {
      font-weight: bold; }
    .front #social-blocks .col.social-block .overlay.tweet p::first-line {
      margin-left: 5px; }
    .front #social-blocks .col.social-block:hover .overlay {
      text-decoration: none; }
      .front #social-blocks .col.social-block:hover .overlay.low {
        background: rgba(0, 0, 0, 0.8); }
.front .social-block-wrapper {
  width: 100%;
  height: 100%; }
.front .homepage-news-text a {
  text-decoration: none; }
.front .homepage-news-text a:hover {
  text-decoration: underline; }
@media only screen and (max-width: 769px) {
  .front .homepage-news-text .btn a {
    margin-bottom: 5px; } }
.front #ctas {
  background: url(../images/11_374_summer_crowds_017A.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    .front #ctas {
      background-attachment: inherit; } }
  .front #ctas .search-wrapper {
    margin: 10px;
    overflow: hidden; }
    .front #ctas .search-wrapper .degrees .wrapper {
      padding: 1em; }
      @media only screen and (max-width: 769px) {
        .front #ctas .search-wrapper .degrees .wrapper {
          padding: 0; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        .front #ctas .search-wrapper .degrees .wrapper {
          padding-right: 10px; } }
      @media only screen and (min-width: 1200px) {
        .front #ctas .search-wrapper .degrees .wrapper {
          padding-right: 38px; } }
    .front #ctas .search-wrapper .degrees p {
      margin-bottom: 0; }
  .front #ctas .cta {
    text-align: center; }
    @media only screen and (max-width: 769px) {
      .front #ctas .cta.col {
        width: calc(100% - (10px * 2));
        margin: 0 10px 10px 10px; } }
    .front #ctas .cta .wrapper {
      padding: 1em; }
    .front #ctas .cta .btn a {
      font-size: 13px;
      font-size: 0.8125em;
      font-size: 0.8125rem; }
  .front #ctas .white-box {
    background: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
  .front #ctas p {
    color: #565656;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875em;
    font-size: 0.875rem;
    line-height: 22px; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      .front #ctas p {
        line-height: 22px;
        font-size: 13px;
        font-size: 0.8125em;
        font-size: 0.8125rem; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      .front #ctas p {
        line-height: 28px;
        font-size: 16px;
        font-size: 1em;
        font-size: 1rem; } }
    @media only screen and (min-width: 1200px) {
      .front #ctas p {
        line-height: 32px;
        font-size: 20px;
        font-size: 1.25em;
        font-size: 1.25rem; } }
    .front #ctas p .green {
      font-weight: bold;
      color: #00853e;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 22px;
      font-size: 1.375em;
      font-size: 1.375rem; }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        .front #ctas p .green {
          font-size: 28px;
          font-size: 1.75em;
          font-size: 1.75rem; } }
      @media only screen and (min-width: 1200px) {
        .front #ctas p .green {
          font-size: 32px;
          font-size: 2em;
          font-size: 2rem; } }
    .front #ctas p .lime {
      font-weight: bold;
      color: #72b844;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 18px;
      font-size: 1.125em;
      font-size: 1.125rem; }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        .front #ctas p .lime {
          font-size: 22px;
          font-size: 1.375em;
          font-size: 1.375rem; } }
      @media only screen and (min-width: 1200px) {
        .front #ctas p .lime {
          font-size: 24px;
          font-size: 1.5em;
          font-size: 1.5rem; } }
.front #calendar {
  padding: 7em 0 6em 0;
  background: url(../images/eagle-line.png) top center no-repeat;
  background-size: 800px; }
  @media only screen and (max-width: 769px) {
    .front #calendar {
      padding: 4em 0 0 0; } }
  .front #calendar .homepage-calendar-item {
    padding: 0 0 2em 0;
    overflow: hidden; }
  .front #calendar .homepage-calendar-date, .front #calendar .homepage-calendar-text {
    display: block;
    float: left; }
  .front #calendar .homepage-calendar-date {
    width: 15%;
    text-align: center; }
    .front #calendar .homepage-calendar-date .homepage-calendar-day {
      font-size: 22px;
      font-size: 1.375em;
      font-size: 1.375rem;
      font-weight: bold;
      color: #111111;
      line-height: 1em; }
      @media only screen and (min-width: 980px) {
        .front #calendar .homepage-calendar-date .homepage-calendar-day {
          font-size: 28px;
          font-size: 1.75em;
          font-size: 1.75rem; } }
    .front #calendar .homepage-calendar-date .homepage-calendar-month {
      font-size: 14px;
      font-size: 0.875em;
      font-size: 0.875rem;
      font-weight: bold;
      color: #787878;
      border-bottom: solid 5px #72b844;
      text-transform: uppercase;
      display: inline-block; }
      @media only screen and (min-width: 980px) {
        .front #calendar .homepage-calendar-date .homepage-calendar-month {
          font-size: 16px;
          font-size: 1em;
          font-size: 1rem;
          padding-bottom: 2px; } }
  .front #calendar .homepage-calendar-text {
    width: 85%; }
    .front #calendar .homepage-calendar-text .homepage-calendar-title {
      font-family: "Rokkitt", serif;
      color: #00853e;
      font-size: 26px;
      font-size: 1.625em;
      font-size: 1.625rem;
      line-height: .9em;
      padding-top: 1px; }
      .front #calendar .homepage-calendar-text .homepage-calendar-title a {
        color: #00853e;
        text-decoration: none; }
      .front #calendar .homepage-calendar-text .homepage-calendar-title a:hover {
        color: #111111;
        text-decoration: underline; }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        .front #calendar .homepage-calendar-text .homepage-calendar-title {
          font-size: 28px;
          font-size: 1.75em;
          font-size: 1.75rem; } }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        .front #calendar .homepage-calendar-text .homepage-calendar-title {
          font-size: 26px;
          font-size: 1.625em;
          font-size: 1.625rem; } }
      @media only screen and (min-width: 1200px) {
        .front #calendar .homepage-calendar-text .homepage-calendar-title {
          font-size: 32px;
          font-size: 2em;
          font-size: 2rem; } }
    .front #calendar .homepage-calendar-text .homepage-calendar-location, .front #calendar .homepage-calendar-text .homepage-calendar-time {
      font-size: 12px;
      font-size: 0.75em;
      font-size: 0.75rem;
      color: #888;
      font-style: italic;
      display: block;
      float: left;
      font-weight: bold; }
      @media only screen and (min-width: 770px) {
        .front #calendar .homepage-calendar-text .homepage-calendar-location, .front #calendar .homepage-calendar-text .homepage-calendar-time {
          font-size: 14px;
          font-size: 0.875em;
          font-size: 0.875rem; } }
    .front #calendar .homepage-calendar-text .homepage-calendar-location {
      margin-right: 10px; }
  @media only screen and (max-width: 769px) {
    .front #calendar .col-right {
      margin-top: -2em; } }

.degree-search .wrapper {
  padding: 1em 0; }
.degree-search p {
  margin-bottom: .5em; }
.degree-search form input {
  margin-bottom: 0; }
.degree-search form input[type="submit"] {
  background: #72b844;
  color: #fff;
  font-family: "Open Sans", Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border: none;
  height: 36px;
  padding: 0 15px;
  -webkit-transition: 0.25s;
  -khtml-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  @media only screen and (max-width: 769px) {
    .degree-search form input[type="submit"] {
      margin-bottom: 5px; } }
  @media only screen and (min-width: 1200px) {
    .degree-search form input[type="submit"] {
      height: 36px;
      padding: 0 15px; } }
  .degree-search form input[type="submit"]:hover {
    background: #00853e; }
.degree-search form input[type="text"].search-box {
  width: 100%;
  margin-bottom: 10px;
  display: block; }

.degree-form-button {
  display: inline-block; }
  .degree-form-button a {
    background: #72b844;
    color: #fff;
    font-family: "Open Sans", Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border: none;
    height: 36px;
    padding: 0 15px;
    display: inline-block;
    -webkit-transition: 0.25s;
    -khtml-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    line-height: 36px;
    text-decoration: none; }
    .degree-form-button a:hover {
      color: #fff;
      text-decoration: none;
      background-color: #00853e; }
    .degree-form-button a::after {
      content: "\f054";
      font-family: "FontAwesome";
      color: #fff;
      padding-left: 4px;
      font-size: .9em; }

#audience {
  text-align: center;
  overflow: hidden;
  position: relative;
  background: #00853e;
  background: #72b844;
  height: 60px; }
  @media only screen and (max-width: 769px) {
    #audience {
      display: none; } }
  #audience .box, #audience .row {
    height: 60px; }
  #audience ul.audience-nav {
    margin: 0 auto;
    height: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    #audience ul.audience-nav li {
      list-style: none;
      display: inline-block;
      margin: 0 -4px 0 0;
      font-family: "Montserrat", Verdana, sans-serif; }
    #audience ul.audience-nav a, #audience ul.audience-nav span {
      line-height: 40px;
      display: block;
      padding: 0 20px;
      color: #fff; }
      @media only screen and (min-width: 770px) and (max-width: 979px) {
        #audience ul.audience-nav a, #audience ul.audience-nav span {
          padding: 0 10px;
          font-size: 12px;
          font-size: 0.75em;
          font-size: 0.75rem; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        #audience ul.audience-nav a, #audience ul.audience-nav span {
          padding: 0 14px;
          font-size: 15px;
          font-size: 0.9375em;
          font-size: 0.9375rem; } }
      @media only screen and (min-width: 1200px) {
        #audience ul.audience-nav a, #audience ul.audience-nav span {
          padding: 0 20px;
          font-size: 16px;
          font-size: 1em;
          font-size: 1rem; } }
    #audience ul.audience-nav a {
      background: transparent;
      -webkit-transition: 0.25s;
      -khtml-transition: 0.25s;
      -moz-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      transition: 0.25s;
      text-decoration: none; }
    #audience ul.audience-nav a:hover {
      color: #fff;
      text-decoration: none;
      background: #00853e; }
    #audience ul.audience-nav span.info-for {
      color: #666;
      background: #fff; }

.current-students .bap-wrapper-overlay {
  background: rgba(17, 17, 17, 0.4); }
.current-students .node-page li {
  line-height: 1.25em;
  margin-bottom: .9em; }

#current-students-cta {
  background: rgba(0, 0, 0, 0.075); }
  @media only screen and (max-width: 769px) {
    #current-students-cta {
      padding: 2em 0 .5em 0; }
      #current-students-cta li {
        width: 50%; } }
  #current-students-cta h4.header-label {
    color: #fff;
    background: #609B69;
    padding: 8px 8px 10px 12px; }
  #current-students-cta .fs-links-cta {
    display: block;
    float: left;
    width: 50%;
    text-align: center; }
  #current-students-cta .fs-cta-image {
    display: block;
    text-align: center;
    background: #fff;
    margin: 0 10px 20px 10px; }
  #current-students-cta .views-row {
    background: #dedede;
    padding: 8px;
    margin: 0 0 10px; }
    #current-students-cta .views-row .inhouse-announcement {
      background: transparent;
      margin: 0;
      padding: 5px; }
      #current-students-cta .views-row .inhouse-announcement a, #current-students-cta .views-row .inhouse-announcement a:link, #current-students-cta .views-row .inhouse-announcement a:active, #current-students-cta .views-row .inhouse-announcement a:visited {
        text-decoration: underline; }
      #current-students-cta .views-row .inhouse-announcement a:active, #current-students-cta .views-row .inhouse-announcement a:hover {
        color: #111111; }
    #current-students-cta .views-row .inhouse-announcement-title {
      font-weight: bold; }

#current-students-promos h4 {
  margin-bottom: 2em; }
#current-students-promos h5 {
  color: #666; }
#current-students-promos .cta-button {
  position: inherit;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

#current-students-find,
#current-students-academics {
  color: #fff;
  background: #006c32; }
  #current-students-find h3,
  #current-students-academics h3 {
    color: #fff; }
  #current-students-find h4,
  #current-students-academics h4 {
    color: #fff;
    padding: 10px 15px;
    background: #43ac6a; }
  #current-students-find .notes,
  #current-students-academics .notes {
    color: #eee; }
  #current-students-find a,
  #current-students-academics a {
    color: #eee; }
  #current-students-find a:hover,
  #current-students-academics a:hover {
    color: #fff;
    text-decoration: underline; }

.date .date-display-single {
  color: #111111; }

#current-students-student-life {
  background-color: #eee; }
  #current-students-student-life h4 {
    color: #fff;
    padding: 10px 15px;
    background-color: #43AC6A; }

#current-students-student-support-services {
  background: url(../images/12_666_WoodsMcGuire0268A.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #current-students-student-support-services .section-wrapper {
    background: rgba(17, 17, 17, 0.65); }
  @media only screen and (max-width: 769px) {
    #current-students-student-support-services {
      background-attachment: inherit; } }

#student-life-organizations {
  background-color: #006a31;
  color: #fff;
  padding-bottom: 50px !important; }
  #student-life-organizations h3 {
    color: #fff; }

#student-life-live-eat-recreation {
  background: url(../images/16_334_UniversityDayGP1245A_NIK.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    #student-life-live-eat-recreation {
      background-attachment: inherit; } }
  #student-life-live-eat-recreation .section-wrapper {
    background: rgba(17, 17, 17, 0.65); }

#student-life-events-activities {
  background: url(../images/11_617_game_spirit_150.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    #student-life-events-activities {
      background: url(../images/11_617_game_spirit_150-mo.jpg) center center no-repeat;
      background-size: cover;
      background-attachment: inherit; } }
  #student-life-events-activities .section-wrapper {
    background: rgba(17, 17, 17, 0.65); }

#about-location {
  background: url(../images/us-map-cropped.jpg) center center no-repeat;
  background-size: cover; }

#about-governance {
  background: url(../images/10_395_Admin_Aerials_06-copy.jpg) center center no-repeat;
  background-size: cover; }
  #about-governance .section-wrapper {
    background: rgba(0, 106, 49, 0.9); }

#about-faculty {
  background: url(../images/Traditions_Stock_mc_0281.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    #about-faculty {
      background-attachment: inherit; } }
  #about-faculty .section-wrapper {
    background: rgba(17, 17, 17, 0.5); }

#about-sustainability {
  background: url(../images/11_turbines_finished_015.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    #about-sustainability {
      background-attachment: inherit; } }
  #about-sustainability .section-wrapper {
    background: rgba(17, 17, 17, 0.5); }
  #about-sustainability .overlay {
    padding-top: 22.5em; }
    @media only screen and (max-width: 769px) {
      #about-sustainability .overlay {
        padding-top: 12em; } }

#about-global {
  background: #e1f0d8; }

#about-diversity {
  background: #f6f6f6; }

#athletics-teams {
  background: url(../images/13_429_UNTIdahoFB180A.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    #athletics-teams {
      background-attachment: inherit; } }
  #athletics-teams .section-wrapper {
    height: 100%;
    padding: 6em 0;
    background: rgba(17, 17, 17, 0.4); }
    @media only screen and (max-width: 769px) {
      #athletics-teams .section-wrapper {
        padding: 2em 0; } }
  #athletics-teams .fa-ul li {
    margin-bottom: 0.75em; }
    #athletics-teams .fa-ul li p {
      font-weight: bold;
      margin-bottom: 2px; }
      @media only screen and (max-width: 769px) {
        #athletics-teams .fa-ul li p {
          margin-bottom: 5px; } }
  @media only screen and (max-width: 769px) {
    .list-right #athletics-teams .fa-ul {
      margin-bottom: 0; } }

.football-schedule {
  overflow-x: scroll; }
  .football-schedule th, .football-schedule td {
    line-height: 1rem; }
  @media only screen and (max-width: 769px) {
    .football-schedule td {
      padding: 0.25rem 0.45rem;
      font-size: 12px;
      font-size: 0.75em;
      font-size: 0.75rem; } }

.team-socials .team-social {
  margin: 0;
  padding: 2px;
  display: inline-block;
  line-height: 22px;
  width: 22px;
  height: 22px;
  background: #006a31;
  -webkit-border-radius: 11px;
  -khtml-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  border-radius: 11px; }
  @media only screen and (max-width: 769px) {
    .team-socials .team-social {
      margin-bottom: .75em;
      display: inline-block;
      line-height: 34px;
      width: 34px;
      height: 34px;
      background: #006a31;
      -webkit-border-radius: 17px;
      -khtml-border-radius: 17px;
      -moz-border-radius: 17px;
      -ms-border-radius: 17px;
      -o-border-radius: 17px;
      border-radius: 17px; } }
  .team-socials .team-social img {
    vertical-align: top; }
  .team-socials .team-social.facebook {
    background: #3b5998; }
  .team-socials .team-social.twitter {
    background: #55acee; }
  .team-socials .team-social.instagram {
    background: #3f729b; }
  .team-socials .team-social:hover {
    background: #006a31; }

#athletics-legacy {
  background: url(../images/15_715_Scrappy-Billboard088.jpg) center center no-repeat;
  background-size: cover; }
  #athletics-legacy .section-wrapper {
    background: rgba(0, 106, 49, 0.9); }

#alumni-friends-intro {
  padding: 3em 0 6em 0;
  background: url(../images/eagle-line.png) bottom center no-repeat; }
  @media only screen and (max-width: 769px) {
    #alumni-friends-intro {
      padding: 2em 0 4em 0; } }

#alumni-news ul[class*="block-grid-"],
#alumni-news ul.alumni-news-ctas {
  padding-top: 1em; }
  #alumni-news ul[class*="block-grid-"] > li,
  #alumni-news ul.alumni-news-ctas > li {
    padding-bottom: 0.625rem; }
  #alumni-news ul[class*="block-grid-"] a,
  #alumni-news ul.alumni-news-ctas a {
    color: #fff; }
    #alumni-news ul[class*="block-grid-"] a:hover,
    #alumni-news ul.alumni-news-ctas a:hover {
      color: #fff; }
@media only screen and (min-width: 770px) {
  #alumni-news .alumni-news-ctas {
    display: block;
    padding: 0;
    margin: 0 -0.625rem; }
    #alumni-news .alumni-news-ctas::after {
      clear: both;
      content: "";
      display: table; }
    #alumni-news .alumni-news-ctas > li {
      display: block;
      height: auto;
      float: left;
      padding: 0 0.625rem 1.25rem; }
    #alumni-news .alumni-news-ctas > li {
      width: 50%;
      padding: 0 0.625rem 1.25rem;
      list-style: none; }
      #alumni-news .alumni-news-ctas > li:nth-of-type(1n) {
        clear: none; }
      #alumni-news .alumni-news-ctas > li:nth-of-type(2n+1) {
        clear: both; } }

.alumni-cta {
  display: block;
  text-align: center;
  background: #00853e;
  color: #fff;
  font-weight: bold;
  font-size: 1.15em;
  padding: 1.25em 0;
  text-decoration: none; }
  .alumni-cta:hover {
    color: #fff;
    background: #72b844;
    text-decoration: none; }

#alumni-services {
  background: rgba(17, 17, 17, 0.075); }

#alumni-connect {
  background: rgba(17, 17, 17, 0.075); }
  #alumni-connect p {
    margin-bottom: 0; }

@media only screen and (max-width: 979px) {
  #parents-guide .list-left {
    margin-bottom: 0;
    padding-bottom: 0; }
    #parents-guide .list-left ul {
      margin-bottom: 0; }
  #parents-guide .list-right {
    margin-top: 0;
    padding-top: 0; }
    #parents-guide .list-right ul {
      margin-top: 0; } }

.parents-family section .col.large-12 p::last-child {
  margin-bottom: 0; }

.parents-guide-ctas {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 1px 0 0 -1px;
  padding: 0; }
  .parents-guide-ctas li {
    padding: 0; }
  .parents-guide-ctas .tab {
    flex: 1;
    text-align: center;
    display: block;
    padding: 12px 0;
    margin: 0 0 0 1px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    background: #00853e;
    font-family: "Montserrat", Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none; }
    .parents-guide-ctas .tab:hover {
      background: #72b844;
      text-decoration: none; }

#parents-degrees-majors {
  background-color: #006a31;
  color: #fff; }
  #parents-degrees-majors h3 {
    color: #fff; }
  #parents-degrees-majors h5 {
    color: #fff;
    padding: 10px 15px;
    background-color: #43AC6A; }
  #parents-degrees-majors a {
    color: #fff; }
  #parents-degrees-majors .cta-grid-block-wrapper li {
    padding-bottom: 0.625rem; }
    #parents-degrees-majors .cta-grid-block-wrapper li a {
      color: #fff;
      background: #72b844;
      padding: 15px 0;
      text-decoration: none;
      text-align: center;
      display: block;
      text-transform: uppercase;
      font-weight: bold; }
      #parents-degrees-majors .cta-grid-block-wrapper li a:hover {
        background: #005125; }
      @media only screen and (min-width: 980px) {
        #parents-degrees-majors .cta-grid-block-wrapper li a {
          padding: 20px 0; } }

#parents-student-rights {
  padding-bottom: 3em; }

#parents-health-safety {
  background: url(../images/09_547_chestut_exterior_003_a.jpg) bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #parents-health-safety h4 {
    color: #454545; }
  #parents-health-safety .parents-health-wrapper {
    padding: 3em 0;
    background: rgba(0, 106, 49, 0.9); }

#parents-housing {
  background: url(../images/15_362_RawlinsHall132B.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #parents-housing .parents-housing-wrapper {
    padding: 3em 0;
    background: rgba(255, 255, 255, 0.9); }
    @media only screen and (max-width: 769px) {
      #parents-housing .parents-housing-wrapper {
        padding: 2em 0; } }

#community-volunteer .notes {
  line-height: 1.35em;
  margin-top: 1em; }

#community-events-activities {
  color: #fff;
  background: url(../images/2015-star-party.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #community-events-activities a {
    color: #eee; }
    #community-events-activities a:hover {
      color: #fff; }
  #community-events-activities h3 {
    color: #fff; }
  #community-events-activities .notes {
    color: #eee; }

#community-youth {
  background: url(../images/14_366_mariachi-camp071.jpg) center center no-repeat;
  background-size: cover; }
  #community-youth .youth-wrapper {
    padding: 2em 0;
    background: rgba(255, 255, 255, 0.65); }
    @media only screen and (min-width: 770px) {
      #community-youth .youth-wrapper {
        padding: 3em 0; } }
  #community-youth img {
    margin: 0 0 1em 0; }
  #community-youth p {
    margin-bottom: .5em; }
  #community-youth .btn a {
    opacity: .75;
    margin-bottom: 2em; }
    #community-youth .btn a:hover {
      opacity: 1.0; }

.orbit-container .orbit-slides-container img {
  outline-style: solid;
  outline-width: 5px;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: -5px; }

#hero-features {
  padding: 6em 0 3em 0;
  background: #eee; }
  @media only screen and (max-width: 769px) {
    #hero-features {
      padding: 1em 0 2em 0; }
      #hero-features .box > .row > .col.large-12 {
        margin: 10px 0;
        padding: 10px 0;
        width: 100%; } }
  #hero-features #hero-feature-slides {
    position: relative; }
    #hero-features #hero-feature-slides .slide-wrapper {
      padding: 0 1em; }
      #hero-features #hero-feature-slides .slide-wrapper li {
        overflow: hidden;
        margin-bottom: 0px; }
      @media only screen and (max-width: 979px) {
        #hero-features #hero-feature-slides .slide-wrapper {
          padding: 0 1.5em; } }
    #hero-features #hero-feature-slides .hero-feature-image {
      display: block;
      width: 100%;
      float: none; }
      #hero-features #hero-feature-slides .hero-feature-image .img-wrapper {
        padding: 0 3em 0 0;
        padding: 0; }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        #hero-features #hero-feature-slides .hero-feature-image {
          float: left;
          width: 55%; } }
      @media only screen and (min-width: 1200px) {
        #hero-features #hero-feature-slides .hero-feature-image {
          float: left;
          width: 62.5%; } }
    #hero-features #hero-feature-slides .hero-feature-text {
      display: block;
      background: #454545;
      color: #fff;
      width: 100%;
      float: none; }
      #hero-features #hero-feature-slides .hero-feature-text h3 {
        color: #fff; }
        @media only screen and (min-width: 980px) and (max-width: 1199px) {
          #hero-features #hero-feature-slides .hero-feature-text h3 {
            font-size: 24px;
            font-size: 1.5em;
            font-size: 1.5rem;
            margin-bottom: .5em; } }
      #hero-features #hero-feature-slides .hero-feature-text p {
        color: #fff; }
        @media only screen and (min-width: 980px) and (max-width: 1199px) {
          #hero-features #hero-feature-slides .hero-feature-text p {
            font-size: 14px;
            font-size: 0.875em;
            font-size: 0.875rem;
            line-height: 22px;
            margin-bottom: 1em; } }
      @media only screen and (max-width: 979px) {
        #hero-features #hero-feature-slides .hero-feature-text {
          padding-top: 0.75em;
          padding-bottom: 2em; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        #hero-features #hero-feature-slides .hero-feature-text {
          float: left;
          width: 45%; } }
      @media only screen and (min-width: 1200px) {
        #hero-features #hero-feature-slides .hero-feature-text {
          float: left;
          width: 37.5%; } }
      @media only screen and (min-width: 980px) and (max-width: 1199px) {
        #hero-features #hero-feature-slides .hero-feature-text .btn a {
          font-size: 10px;
          font-size: 0.625em;
          font-size: 0.625rem;
          padding: 11px 12px 9px 12px; } }
    #hero-features #hero-feature-slides .slide-content {
      padding: 1em 1em 1em 2em;
      height: auto;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media only screen and (max-width: 979px) {
        #hero-features #hero-feature-slides .slide-content {
          top: inherit !important;
          right: inherit !important;
          bottom: inherit !important;
          left: inherit !important;
          position: inherit !important;
          -webkit-transform: none !important;
          -khtml-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -o-transform: none !important;
          transform: none !important;
          padding-bottom: 0; } }
      @media only screen and (max-width: 769px) {
        #hero-features #hero-feature-slides .slide-content {
          padding: 1em; } }
  #hero-features .orbit-bullets-container {
    padding-top: 1em; }
    #hero-features .orbit-bullets-container .orbit-bullets {
      margin-bottom: 0; }
      @media only screen and (max-width: 769px) {
        #hero-features .orbit-bullets-container .orbit-bullets {
          display: block; } }
  #hero-features .btn {
    margin-right: 10px; }
    #hero-features .btn a {
      font-size: 12px; }

#news-features {
  padding: 6em 0 5em 0; }
  @media only screen and (max-width: 769px) {
    #news-features {
      padding: 3em 0 2em 0; } }
  #news-features .views-row {
    padding: 0 0.25em; }
    @media only screen and (max-width: 769px) {
      #news-features .views-row {
        padding: 0; } }
  #news-features .orbit-bullets-container .orbit-bullets {
    margin-bottom: 0; }
  #news-features .btn {
    margin-right: 10px; }
    #news-features .btn a {
      font-size: 12px; }

.orbit-container .orbit-slides-container img {
  min-width: 100%; }

.faculty-staff main.row {
  padding: 0; }
.faculty-staff #fs-resources-header {
  width: 100%;
  padding: 10px 10px 12px 10px;
  background-color: #00853e;
  text-align: center; }
  .faculty-staff #fs-resources-header h2 {
    color: white;
    margin: 0em; }
.faculty-staff #fs-links {
  padding: 3em 0;
  background: #f1f1f2; }
  .faculty-staff #fs-links h4.header-label {
    color: #fff;
    background: #609B69;
    padding: 8px 8px 10px 12px; }
  .faculty-staff #fs-links .fs-links-cta {
    display: block;
    float: left;
    width: 50%;
    text-align: center; }
  .faculty-staff #fs-links .fs-cta-image {
    display: block;
    text-align: center;
    background: #fff;
    margin: 0 10px 20px 10px; }
  .faculty-staff #fs-links .views-row {
    background: #dedede;
    padding: 8px;
    margin: 0 0 10px; }
    .faculty-staff #fs-links .views-row .inhouse-announcement {
      background: transparent;
      margin: 0;
      padding: 5px; }
      .faculty-staff #fs-links .views-row .inhouse-announcement a, .faculty-staff #fs-links .views-row .inhouse-announcement a:link, .faculty-staff #fs-links .views-row .inhouse-announcement a:active, .faculty-staff #fs-links .views-row .inhouse-announcement a:visited {
        text-decoration: underline; }
      .faculty-staff #fs-links .views-row .inhouse-announcement a:active, .faculty-staff #fs-links .views-row .inhouse-announcement a:hover {
        color: #111111; }
    .faculty-staff #fs-links .views-row .inhouse-announcement-title {
      font-weight: bold; }
.faculty-staff h3.fs-section-header {
  text-align: center; }
.faculty-staff #fs-careers {
  color: #fff;
  background: url(../images/15_307_FinanceDivision_Staff027.jpg) center center no-repeat #00853e;
  background-size: cover; }
  .faculty-staff #fs-careers h3.fs-section-header {
    color: #fff; }
  .faculty-staff #fs-careers h4.header-label {
    color: #fff;
    background: #609B69;
    padding: 8px 8px 10px 12px; }
  .faculty-staff #fs-careers .careers-img img {
    min-width: 100%; }
  .faculty-staff #fs-careers .fs-links a, .faculty-staff #fs-careers .fs-links a:link, .faculty-staff #fs-careers .fs-links a:active, .faculty-staff #fs-careers .fs-links a:visited {
    color: #fff;
    text-decoration: none; }
  .faculty-staff #fs-careers .fs-links a:active, .faculty-staff #fs-careers .fs-links a:hover {
    text-decoration: underline; }
  .faculty-staff #fs-careers .btn {
    margin-bottom: 10px; }
.faculty-staff #fs-find-stuff .find-box h4 {
  padding: 8px;
  background: rgba(114, 184, 68, 0.25); }
.faculty-staff #fs-find-stuff .find-box li {
  line-height: 1.25em;
  margin-bottom: 1em; }
.faculty-staff #fs-find-stuff .find-box a, .faculty-staff #fs-find-stuff .find-box a:link, .faculty-staff #fs-find-stuff .find-box a:active, .faculty-staff #fs-find-stuff .find-box a:visited {
  color: #666;
  text-decoration: none; }
.faculty-staff #fs-find-stuff .find-box a:active, .faculty-staff #fs-find-stuff .find-box a:hover {
  color: #006a31;
  text-decoration: underline; }
@media only screen and (min-width: 980px) {
  .faculty-staff #fs-find-stuff .services-list {
    display: block;
    float: left;
    width: calc(33% - 36px); } }
@media only screen and (max-width: 979px) {
  .faculty-staff #fs-find-stuff .services-list {
    float: none;
    margin-top: 12px;
    margin-bottom: 0; } }
@media only screen and (max-width: 769px) {
  .faculty-staff #fs-feature-area .box.wide .row {
    width: 100%;
    margin: 0;
    padding: 0; } }
.faculty-staff #fs-feature-area.section-panel {
  padding: 0px; }
.faculty-staff #fs-feature-area img {
  width: 100%; }
.faculty-staff #fs-feeds {
  background: #C8C7C7; }
  .faculty-staff #fs-feeds .inhouse-news {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px; }
    .faculty-staff #fs-feeds .inhouse-news .inhouse-news-title {
      margin-top: -1px;
      color: #454545;
      line-height: 1.15em;
      font-family: "Rokkitt", serif;
      font-size: 20px;
      font-size: 1.25em;
      font-size: 1.25rem; }
    .faculty-staff #fs-feeds .inhouse-news .btn {
      margin-top: 10px; }
  .faculty-staff #fs-feeds h4 {
    margin-top: 0; }
  .faculty-staff #fs-feeds .inhouse-feed {
    background: #fff;
    margin: 0 0 5px 0;
    display: block;
    overflow: hidden; }
    .faculty-staff #fs-feeds .inhouse-feed .date {
      width: 50px;
      background: #e7e7e8;
      text-align: center;
      font-size: 20px;
      font-size: 1.25em;
      font-size: 1.25rem;
      padding: 5px;
      font-weight: bold;
      font-family: "Open Sans Condensed", sans-serif;
      float: left;
      line-height: 1.3em; }
    .faculty-staff #fs-feeds .inhouse-feed .content-wrapper {
      padding: 8px 10px 10px 10px;
      margin-left: 50px; }
    .faculty-staff #fs-feeds .inhouse-feed .title {
      color: #454545;
      line-height: .9em;
      margin-bottom: 5px;
      font-family: "Rokkitt", serif;
      font-size: 20px;
      font-size: 1.25em;
      font-size: 1.25rem; }
    .faculty-staff #fs-feeds .inhouse-feed .details {
      font-style: italic;
      color: #00853e;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 0;
      line-height: 1.35em; }
  .faculty-staff #fs-feeds .top-news .btn a {
    background: #72b844;
    border-color: #72b844; }
    .faculty-staff #fs-feeds .top-news .btn a:hover {
      background: #00853e;
      border-color: #00853e; }
.faculty-staff #fs-photos {
  background: #111111; }
  .faculty-staff #fs-photos ul#photo-gallery li img {
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: -3px; }
    .faculty-staff #fs-photos ul#photo-gallery li img:hover {
      outline-color: #fff; }
  .faculty-staff #fs-photos .view-inhouse-photos .views-row {
    padding: 5px;
    float: left; }
  .faculty-staff #fs-photos .clearing-blackout {
    z-index: 1000;
    padding: 3em 0;
    background: rgba(17, 17, 17, 0.9); }
  .faculty-staff #fs-photos .clearing-assembled .clearing-container a.clearing-close {
    color: #fff;
    text-decoration: none;
    border: solid 2px #fff;
    height: 30px;
    width: 30px;
    line-height: 20px;
    text-align: center; }
  .faculty-staff #fs-photos .clearing-assembled .clearing-container .visible-img {
    background: transparent; }
    .faculty-staff #fs-photos .clearing-assembled .clearing-container .visible-img img {
      padding: 3px;
      background: #fff; }
  .faculty-staff #fs-photos .clearing-assembled .clearing-container .carousel {
    background: transparent; }
  .faculty-staff #fs-photos .clearing-caption {
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    background: rgba(17, 17, 17, 0.5); }
    .faculty-staff #fs-photos .clearing-caption p {
      padding: 20px 30px; }

.inhouse-feed {
  background: #fff;
  margin: 0 0 5px 0;
  display: block;
  overflow: hidden; }
  .inhouse-feed .date {
    width: 50px;
    background: #e7e7e8;
    text-align: center;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    padding: 5px;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    float: left;
    line-height: 1.3em; }
  .inhouse-feed .content-wrapper {
    padding: 8px 10px 10px 10px;
    margin-left: 50px; }
  .inhouse-feed .title {
    color: #454545;
    line-height: .9em;
    margin-bottom: 5px;
    font-family: "Rokkitt", serif;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem; }
  .inhouse-feed .details {
    font-style: italic;
    color: #00853e;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.35em; }

.academics main.row {
  padding-top: 0; }

#academics-intro .degree-search {
  margin-bottom: 2em; }
  #academics-intro .degree-search p {
    color: #666;
    font-weight: bold;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem; }
    #academics-intro .degree-search p span.green {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 28px;
      font-size: 1.75em;
      font-size: 1.75rem;
      color: #00853e; }
  @media only screen and (max-width: 769px) {
    #academics-intro .degree-search input[type="submit"] {
      margin-bottom: 10px; } }
#academics-intro .academics-cta {
  text-align: center; }
  #academics-intro .academics-cta a {
    display: inline-block;
    font-family: "Montserrat", Verdana, sans-serif;
    color: #fff;
    font-size: 22px;
    font-size: 1.375em;
    font-size: 1.375rem;
    background: #00853e;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    line-height: 1em;
    padding: 17px 24px; }
    #academics-intro .academics-cta a:hover {
      text-decoration: none;
      background: #72b844; }
  #academics-intro .academics-cta p.cta-deck {
    font-size: 18px;
    font-size: 1.125em;
    font-size: 1.125rem;
    font-weight: bold;
    color: #2b2b2b;
    width: 85%;
    margin: 0 auto; }

#academics-library {
  background: url(../images/10_223_campus_tuesday_091bw.jpg) bottom center no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  @media only screen and (max-width: 769px) {
    #academics-library {
      background-attachment: inherit; } }
  #academics-library .academics-wrapper {
    padding: 3em 0;
    background-color: rgba(255, 255, 255, 0.15); }
    @media only screen and (max-width: 769px) {
      #academics-library .academics-wrapper {
        padding: 2em 0; } }
  #academics-library h3 {
    color: #454545; }
  #academics-library h5 {
    margin-bottom: 0.25em; }
  #academics-library p {
    margin-bottom: 0.5em; }
  #academics-library .btn {
    margin-bottom: 2em; }
    #academics-library .btn a {
      opacity: .75; }
      #academics-library .btn a:hover {
        opacity: 1.0; }

#academics-classes-registration {
  background-color: #72b844; }

div.alert {
  text-align: center; }
  div.alert.emergency {
    padding: 2em 0;
    background: rgba(255, 0, 0, 0.75); }
  div.alert.weather {
    padding: 2em 0;
    background: rgba(255, 255, 0, 0.75); }
  div.alert.notification {
    padding: 2em 0;
    background: rgba(132, 177, 205, 0.75); }

.alerts-manager main {
  padding-bottom: 6em; }
  .alerts-manager main caption {
    text-align: left; }
    .alerts-manager main caption h3 {
      margin-bottom: .5em; }
  .alerts-manager main table {
    width: 100%; }
.alerts-manager .alert p {
  display: inheri; }
  .alerts-manager .alert p::last-child {
    margin-bottom: 0; }
.alerts-manager th.Published {
  width: 125px; }
.alerts-manager th.Actions {
  width: 125px; }
.alerts-manager div.form-item.form-type-checkbox {
  display: block;
  float: left;
  margin: 0 10px 0 0; }
  .alerts-manager div.form-item.form-type-checkbox input {
    margin: 0; }
.alerts-manager fieldset#edit-select {
  padding: 0;
  border: none; }
  .alerts-manager fieldset#edit-select legend,
  .alerts-manager fieldset#edit-select legend span {
    display: none; }

.section-graduate-search main.row,
.section-undergrad-search main.row {
  padding-bottom: 50px; }
.section-graduate-search h1#page-title,
.section-undergrad-search h1#page-title {
  margin-bottom: .75em; }
.section-graduate-search .degree-search-copy,
.section-undergrad-search .degree-search-copy {
  color: #565656;
  font-size: 20px;
  font-size: 1.25em;
  font-size: 1.25rem;
  margin-bottom: .75em;
  display: block;
  font-weight: bold;
  line-height: 1.25em; }
  .section-graduate-search .degree-search-copy .number,
  .section-undergrad-search .degree-search-copy .number {
    color: #00853e;
    font-size: 32px;
    font-size: 2em;
    font-size: 2rem;
    font-family: "Open Sans Condensed", sans-serif; }
  .section-graduate-search .degree-search-copy .type,
  .section-undergrad-search .degree-search-copy .type {
    color: #72b844;
    font-size: 24px;
    font-size: 1.5em;
    font-size: 1.5rem;
    font-family: "Open Sans Condensed", sans-serif; }
.section-graduate-search .gsc-control-cse,
.section-undergrad-search .gsc-control-cse {
  border: none;
  padding: 1em 0;
  border-color: transparent; }
.section-graduate-search div.gsc-above-wrapper-area,
.section-undergrad-search div.gsc-above-wrapper-area {
  border: none; }
.section-graduate-search table.gsc-above-wrapper-area-container,
.section-undergrad-search table.gsc-above-wrapper-area-container {
  border: none; }
  .section-graduate-search table.gsc-above-wrapper-area-container tbody,
  .section-undergrad-search table.gsc-above-wrapper-area-container tbody {
    border: none; }
  .section-graduate-search table.gsc-above-wrapper-area-container td.gsc-result-info-container,
  .section-undergrad-search table.gsc-above-wrapper-area-container td.gsc-result-info-container {
    background: #efefef; }
.section-graduate-search .gsc-results.gsc-webResult,
.section-undergrad-search .gsc-results.gsc-webResult {
  width: 100%; }
.section-graduate-search .gsc-webResult.gsc-result,
.section-undergrad-search .gsc-webResult.gsc-result {
  border: none;
  background: #f6f6f6; }
  .section-graduate-search .gsc-webResult.gsc-result:hover,
  .section-undergrad-search .gsc-webResult.gsc-result:hover {
    border: none;
    background: #bbb; }
.section-graduate-search .gs-webResult.gs-result table.gsc-table-result,
.section-undergrad-search .gs-webResult.gs-result table.gsc-table-result {
  border: none;
  padding: 0;
  margin-bottom: 0;
  background: #f6f6f6; }
  .section-graduate-search .gs-webResult.gs-result table.gsc-table-result:hover,
  .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result:hover {
    background: #fff; }
  .section-graduate-search .gs-webResult.gs-result table.gsc-table-result tbody,
  .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result tbody {
    border: none; }
  .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close,
  .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close {
    padding: 1em; }
    .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close div.gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close div.gs-title.gsc-table-cell-thumbnail.gsc-thumbnail-left {
      margin-bottom: 5px; }
    .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title, .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:link, .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:active,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:link,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:active {
      color: #00853e;
      font-size: 1.15em; }
      .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title b, .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:link b, .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:active b,
      .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title b,
      .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:link b,
      .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:active b {
        color: #006a31;
        font-size: 1.15em; }
    .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:visited,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:visited {
      color: purple; }
      .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:visited b,
      .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:visited b {
        color: #006a31;
        font-size: 1.15em; }
    .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:hover, .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:focus,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:hover,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:focus {
      color: blue; }
      .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:hover b, .section-graduate-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:focus b,
      .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:hover b,
      .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:focus b {
        color: blue; }
  .section-graduate-search .gs-webResult.gs-result table.gsc-table-result .gsc-url-bottom,
  .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result .gsc-url-bottom {
    margin-top: 15px; }
    .section-graduate-search .gs-webResult.gs-result table.gsc-table-result .gsc-url-bottom a,
    .section-undergrad-search .gs-webResult.gs-result table.gsc-table-result .gsc-url-bottom a {
      font-weight: bold; }

.section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title b,
.section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:link b,
.section-undergrad-search .gs-webResult.gs-result table.gsc-table-result td.gsc-table-cell-snippet-close a.gs-title:active b {
  font-size: 1em;
  font-weight: bold; }

.gsc-cursor-box {
  margin-top: 1.5em; }

.gsc-results .gsc-cursor-box .gsc-cursor .gsc-cursor-page {
  width: 30px;
  height: 30px;
  background: #eee;
  text-align: center;
  display: inline-block;
  line-height: 31px;
  text-decoration: none;
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  margin-right: 5px; }
  .gsc-results .gsc-cursor-box .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page {
    color: #fff;
    background-color: #bbb; }
  .gsc-results .gsc-cursor-box .gsc-cursor .gsc-cursor-page:hover {
    background: #ccc; }

.fa-ul li {
  margin-bottom: 1em; }
  .fa-ul li p {
    margin-bottom: 5px;
    line-height: 1.25em; }
    .fa-ul li p a {
      text-decoration: none; }
    .fa-ul li p a.nested-link {
      text-decoration: underline; }
    .fa-ul li p a:hover {
      text-decoration: underline; }
  .fa-ul li .notes {
    font-size: .75em;
    line-height: 1.35em; }
    @media only screen and (max-width: 769px) {
      .fa-ul li .notes {
        font-size: 9px;
        font-size: .5625em;
        font-size: .6rem; } }
.fa-ul .fa-li {
  line-height: 1.4em; }

body.calendar {
  width: 100%; }

@media only screen and (max-width: 769px) {
  body {
    padding-top: 44px; } }

.news-img-left {
  display: block;
  float: left;
  margin: 0 2rem 1rem 0;
  max-width: 33%; }

.news-img-right {
  display: block;
  float: right;
  margin: 0 0 1rem 2rem;
  max-width: 33%; }

p#mobile-app-toggler {
  color: transparent;
  height: 40px;
  width: 40px;
  display: block;
  float: right;
  margin: 8px 10px 8px 5px;
  background: url(/sites/all/themes/unt_home/images/mobile-app-icon.png) center center no-repeat #eee;
  background-size: 40%; }

#mobile-app h5 {
  padding: 0;
  line-height: 59px;
  margin: 0 0 0 10px; }

h4.header-label {
  color: #fff;
  background: #609B69;
  padding: 8px 8px 10px 12px; }

.view-inhouse-announcements .views-row {
  background: #dedede;
  padding: 8px;
  margin: 0 0 10px; }
  .view-inhouse-announcements .views-row .inhouse-announcement {
    background: transparent;
    margin: 0;
    padding: 5px; }
    .view-inhouse-announcements .views-row .inhouse-announcement a, .view-inhouse-announcements .views-row .inhouse-announcement a:link, .view-inhouse-announcements .views-row .inhouse-announcement a:active, .view-inhouse-announcements .views-row .inhouse-announcement a:visited {
      text-decoration: underline; }
    .view-inhouse-announcements .views-row .inhouse-announcement a:active, .view-inhouse-announcements .views-row .inhouse-announcement a:hover {
      color: #111111; }
  .view-inhouse-announcements .views-row .inhouse-announcement-title {
    font-weight: bold; }

#top-brags {
  background: #fff; }
  #top-brags .top-brag {
    text-align: center; }
  #top-brags .brag-number {
    font-family: "Open Sans Condensed", sans-serif;
    color: #00853e;
    margin: 0 0 10px 0;
    font-size: 75px;
    font-size: 4.6875em;
    font-size: 4.6875rem;
    line-height: 100px;
    font-weight: bold; }
    @media only screen and (max-width: 769px) {
      #top-brags .brag-number {
        margin-bottom: 0; } }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      #top-brags .brag-number {
        font-size: 85px;
        font-size: 5.3125em;
        font-size: 5.3125rem;
        line-height: 100px; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      #top-brags .brag-number {
        font-size: 95px;
        font-size: 5.9375em;
        font-size: 5.9375rem;
        line-height: 115px;
        margin-bottom: .25em; } }
    @media only screen and (min-width: 1200px) {
      #top-brags .brag-number {
        font-size: 115px;
        font-size: 7.1875em;
        font-size: 7.1875rem;
        line-height: 100px;
        margin-bottom: .25em; } }
  #top-brags .brag-text {
    font-family: "Open Sans Condensed", sans-serif;
    color: #787878;
    font-size: 20px;
    font-size: 1.25em;
    font-size: 1.25rem;
    margin: 0 auto;
    font-weight: bold;
    line-height: 1.5em; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      #top-brags .brag-text {
        max-width: 100%; } }
    @media only screen and (min-width: 980px) and (max-width: 1199px) {
      #top-brags .brag-text {
        max-width: 75%; } }
    @media only screen and (min-width: 1200px) {
      #top-brags .brag-text {
        max-width: 65%; } }

.margin-kill {
  margin: 0; }

.eagle-line {
  width: 100%;
  text-align: center;
  padding: 3em 0;
  display: block; }

.larger-intro {
  color: #787878;
  font-size: 18px;
  font-size: 1.125em;
  font-size: 1.125rem;
  font-weight: bold; }

a.larger-button {
  display: inline-block;
  font-family: "Montserrat", Verdana, sans-serif;
  color: #fff;
  font-size: 22px;
  font-size: 1.375em;
  font-size: 1.375rem;
  background: #00853e;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 1em;
  padding: 17px 24px; }
  a.larger-button:hover {
    color: #fff;
    background: #72b844;
    text-decoration: none; }

#alt-page-title {
  background: #00853e;
  text-align: center;
  padding: 1em 0; }
  #alt-page-title h2 {
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.25em;
    font-size: 32px;
    font-size: 2em;
    font-size: 2rem; }
    @media only screen and (min-width: 770px) and (max-width: 979px) {
      #alt-page-title h2 {
        font-size: 38px;
        font-size: 2.375em;
        font-size: 2.375rem; } }
    @media only screen and (min-width: 980px) {
      #alt-page-title h2 {
        font-size: 42px;
        font-size: 2.625em;
        font-size: 2.625rem; } }

.pad-top {
  padding-top: 3em; }

.pad-bottom {
  padding-bottom: 3em; }

.col.section-intro {
  margin-bottom: 0;
  padding-bottom: 0; }
  .col.section-intro p:last-child {
    margin-bottom: 0; }

@media only screen and (max-width: 769px) {
  .col.list-left,
  .col.split-left {
    margin-bottom: 0;
    padding-bottom: 0; }
    .col.list-left ul,
    .col.split-left ul {
      margin-bottom: 0; }

  .col.list-middle,
  .col.split-middle {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
    .col.list-middle ul,
    .col.split-middle ul {
      margin-top: 0;
      margin-bottom: 0; }

  .col.list-right,
  .col.split-right {
    margin-top: 0;
    padding-top: 0; }
    .col.list-right h4.title,
    .col.split-right h4.title {
      margin-top: 2em; }
    .col.list-right ul,
    .col.split-right ul {
      margin-top: 0; } }
.dark-panel {
  color: #fff; }
  .dark-panel a {
    color: #eee; }
    .dark-panel a:hover {
      color: #fff; }
  .dark-panel h2, .dark-panel h3, .dark-panel h4, .dark-panel h5 {
    color: #fff; }
  .dark-panel .notes {
    color: #eee; }

table.gsc-search-box {
  border: none;
  background: transparent;
  margin: 0; }
  table.gsc-search-box tbody {
    border: none; }
  table.gsc-search-box td {
    padding: 0; }

.joyride-content-wrapper {
  background: #72b844; }

.joyride-tip-guide .joyride-nub.top {
  border-color: #72b844; }

.footer-main {
  padding-bottom: 3.25em; }
  @media only screen and (max-width: 769px) {
    .footer-main {
      padding-bottom: 10px; } }

.footer-first .footer-brand {
  margin-bottom: 30px; }
  @media only screen and (max-width: 769px) {
    .footer-first .footer-brand {
      margin-bottom: 15px; } }
.footer-first .btn {
  margin-bottom: 5px; }

/*# sourceMappingURL=unt_home.css.map */
