/***************************Site Map Generator*************************/

.colTitleSMG {
	font-size:14px;
	font-family:  Arial, "Univers 65";
	font-weight:bold;
	color:#000000;
}

.colOptionSMG{
	font-size:12px;
	font-family:  Arial, "Univers 45";
	font-weight:normal;
	color:#4C4C4C;
	padding-bottom:0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.row {
    clear: both;
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%;
}
.columnsm {
    float: left;
    margin-bottom: -8px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.columnOne {
    float: left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 220px;
}


.titleCol{
    background-color: #E4E4E4;
    background-image: none;
    background-origin: border-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-left: 15px;
}
.pral{
	padding-bottom: 10px;
	padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
a.smg, a.smg:link

{
	color:#000000;
	text-decoration:none;
}
a.smg:focus, a.smg:active
{
	text-decoration:underline!important;
}
a.smg:hover
{
	color:#DB0011;
	text-decoration:underline!important;
}
a.smg:visited{
	color:#950000;
	text-decoration:underline!important;
}
.content ul li
{
	color:#cc1414;
}
.contentStyle06 h3,
.contentStyle06 ul li
{
	
	color:#000000;      /*Added new code by Amit Wajge on 24 April 09*/
	text-decoration:none;/*Added new code by Amit Wajge on 24 April 09*/
}
.contentStyle06 h3,
.contentStyle06 ul li
{
  text-decoration:underline;
}


.contentStyle06 ul li
{
	line-height:16px;
	padding:0px 0px 0px 0px;
	background:none;
}
.content ul
{
	margin:6px 0 20px 0;
	padding:0;
}

a.smg img
{
	border:none;
}

.content ul li
{
	padding-left:11px;
	padding-bottom:0px;
	padding-top:3px;
	list-style:none;
	font-size:75%;
	background:url("../../images/hbmx_pws/background/contentStyle02_li_bg.gif") top left no-repeat;
}

.content
{
	margin-bottom:5px;
	padding:0px;

}
.contentStyle06
{
	padding:20px 0px 0px!important;
}
.contentStyle06 ul li
{
	/*color:#262121;*/
	color:#000000;      /*Added new code by Amit Wajge on 24 April 09*/
	text-decoration:none;/*Added new code by Amit Wajge on 24 April 09*/
}
.contentStyle06 ul
{
	margin-bottom:16px;
	padding-bottom:5px;
	background:url("../../images/hbmx_pws/background/contentStyle06_ul_seperator.gif") left bottom repeat-x;
}
.contentStyle06 ul.lastListSection
{
	background:none;
	padding-bottom:0px;
}

/***************************   VDPT1   *************************/

.FORM_V1 {
	position: static;
	width: auto;
	height: auto;	
	float: left;
	border-color: white;
	margin: 1px
}
.DIV_V1 {
	position: static;
	height: auto;
	width: auto;
	float: left;
	border-color: white;
	border-width: 0px;
	border-style: solid;  
	margin: 1px
} 
.DIV1_V1 {
	position: static;
	height: auto;
	width: auto;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin: 1px
} 
/*	overflow: visible;*/
.TABLE_V1 {    
	position: static;
	height: auto;
	width: auto;
	float: left;
	text-align:left;
/* 	text-indent: 5px; */ 
/*	border-color: white;
	border-width: 5px;
	border-style: solid;  */
  	border-collapse: collapse;	    	
  	border-spacing: 0px;
}    
/* padding-left: 5px     separate para Firefox, Opera; collapse para IE6.0 */
.TABLA_0 { 
	height: auto;
	width: auto;
	position: static;
	border-color: #EEEEEE;
	border-width: 1px;
	border-style: solid;
	text-align:left;
  	border-collapse: collapse;	    	/*separate para Firefox, Opera; collapse para IE6.0 */
  	border-spacing: 0em
 	/*float: left*/
}     
.TH0_V1 {
	color: #000000;
	font-family: Arial;
	font-weight: bold;	
	font-size: 14px;
	text-align: left;
	padding-top: 12px;
	padding-right: 1px;
	padding-bottom: 9px;
	padding-left: 20px; 	
	vertical-align: 10px;
	background-color: #DBDCDD;
} 
.TH_V1 {
	color: #000000;
	font-family: Arial;
	font-weight: bold;	
	font-size: 14px;
	text-align: left;
	padding-top: 12px;
	padding-bottom: 9px;
	padding-left: 20px; 	
	vertical-align: 10px;
	background-color: #DBDCDD;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 10px;
} 
.H1_V1 {
	position: static;	
	width: auto;
	height: auto;
	color: #666666; 
	font-family: Arial;
	font-weight: normal;
	font-size: 16px;
	text-align: left;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;	
	/*text-indent: 5px;	*/ 
	border-width: 0px;
	border-color: white;
	/*border-style: solid;*/
	margin: 0px	
}   
/*float: left*/
.H12_V1 {
	position: static;
	width: auto;
	height: auto;
	margin: 1px;
	border-color: #EEEEEE;
/*	border-width: 5px;
	border-color: white;	
	border-style: solid;*/
	text-indent: 5px		
}  
.H2_V1 {
	position: static;
	width: auto;
	height: auto;
	color: #666666; 
	border-width: 0px;
	border-color: white;
	font-family: Arial;
	font-weight: normal; 
	font-size: 14px;
	text-align: left;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;	
	border-width: 0px;
	border-color: white;	  
/*	border-style: solid;  */
/*	text-indent: 5px;	*/
	margin: 0px
}   
/*float: left*/
.TD0_V11 {  
	color: #4C4C4C;
	font-family: Arial;
	font-size: 12px;
	padding-top: 6px;
	background-color: #F0F0F0;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 20px;	

}          
.TD_V1 {           
	color: #FF0000;
	font-family: Arial;
	background-color: #F0F0F0;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;	
	word-spacing: 5px;
	margin-right: 10px;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px
}
.TD1_V1 { 
	color: #FF0000;
	font-family: Arial;
	background-color: #E4E4E4;
	font-size: 11px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;	
	word-spacing: 5px;
	margin-right: 10px;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px;
	
}
.TD01_V1 { 
	color: #4C4C4C;
	font-family: Arial;
	background-color: #E4E4E4;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 20px;	
	font-size: 12px
}  
.TR_V1 {
	position: static;
	width: auto;
	height: auto;
	border-color: #DBDCDD;
	border-width: 1px;
	border-style: solid;
	margin-top: 12px;
	margin-bottom: 9px;
	margin-right: 20px;
	margin-left: 0px;
	
}
.TR0{
	text-indent: 5px
}


/***************************   VDPT2, VDP3, VDPGL    *************************/

.DIV1 {
	position: static;
	height: auto;
	width: auto;
	float: left
}
   
.TH10 {
	color: #000000;
	font-family: Arial;
	font-weight: bold;	
	font-size: 14px;
	text-align: left;
	padding-top: 12px;
	padding-right: 1px;
	padding-bottom: 9px;
	padding-left: 20px; 	
	vertical-align: 10px;
	background-color: #DBDCDD;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 10px;	            
}
  
.TD0T_V1 {  
	color: #000000;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 20px;	
	word-spacing: 5px;
	margin-right: 10px;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	text-align: left;
	
}  
.TD0_V1 {  
	color: #4C4C4C;
	font-family: Arial;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 20px;	
	word-spacing: 5px;
	margin-right: 10px;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px;
	text-align: left;
}  
.TR0_V2 {  
	color: #4C4C4C;
	font-family: Arial;
	background-color: #F0F0F0;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 20px;	
	word-spacing: 5px;
	margin-right: 10px;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px
}  
.TR1_V2 {  
	color: #4C4C4C;
	font-family: Arial;
	background-color: #E4E4E4;
	font-size: 12px;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 20px;	
	word-spacing: 5px;
	margin-right: 10px;
	border-right-color: white;
	border-right-width: 1px;
	border-right-style: solid;
	padding-right: 5px
}


.TABLEVDP {     
	height: auto;
	width: auto;
	position: static;	
	text-align: center;
	background-position: center bottom;	 
	border-color: white;
	border-width: 0px;
	border-style: solid;
	border-collapse: collapse;      	/*	collapse   IE v6.0 & FireFox; separate Opera 	*/
    border-spacing: 0px;
        	
}

/***************************   ABSL    *************************/

/* Header area
---------------------------------------------------------------------------------------------- */
.headerArea {
	width:890px;
	}
.hsbcDivletLogo {
	height:52px;
	width:500px;
	}
.hsbcDivletLogo .hsbcDivletLogoImage {
	padding:10px 0 0 10px;
	float:left;
	width:auto;
	}
.hsbcDivletLogo .hsbcDivletLogoTagLine {
	float:left;
	vertical-align:middle;
	padding:25px 0 0 12px;
	font:bold 14px Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	color:#f00;
	}
.containerLogoArea {
	width:100%;
	height:62px;
	float:left;
	clear:left;
	/*border-bottom:5px solid #f00;*/
	}
.mapPageTitle {
	width:960px;
	height:45px;
	clear:both;
	}
.mapPageTitle h2 {
	padding:15px 0 0 20px;
	color:#f00;
	font-weight:bold;
	font-size:21px;
	}
.mapPageTitle h4 {
	margin-top:-25px;
	color:#f00;
	font-weight:normal;
	font-size:11px;
	float:right;
	}
.mapPageTitle h4 a {
	color:#f00;
	}
.headerNav {
	float:right;
	margin:25px 0 0 0;
	}
.languageNav {
	float:left;
	padding:0 10px 0 0;
	}
.closeNav {
	float:left;
	}
.languageNav a, .closeNav a {
	color:#F00;
	font-size:1.2em;
	}
/* end header area */


#bg {
	margin:0 auto;
	background: #fff;
	width:910px;
	height:650px;
	position: relative;
	}

#bg .map_canvas_home {
	position: absolute;
	left: 0px;
	top: 95px;
	width: 900px;
	height: 488px;
	z-index: 0; 
}

#wrap {
	width: 880px;
	height: 495px;
	position: relative;
	top: 0px;
	left: 0px;
}

/* Sidebar Results Styles */
#sidebar {
	float: left;
	width: 262px;
	height: 495px;
	border: 2px solid silver;
	margin-left: 0px;
	margin-top: 95px;
}* html #sidebar { margin-left: 0px; }
#sidebar span.t {
	display: block;
	width: 184px;
	height: 8px;
}
#search2 {
	background: #fff;
	width: 910px;
	height: 71px;
	position: absolute;
	top: 10px;
	left: 0px;
	border: 1px solid silver;
	z-index: 100;
	}
#map_wrapper {
	position: absolute;
	top: 95px;
	left: 272px;
	height: 500px;
	width: 668px;
	z-index: 0;
	}
.map_overlay {
	position: absolute;
	display: block;
	z-index: 10;
}
#map_overlay_top {
	top: 0;
	left: 0;
	width: 663px;
	height: 14px;
}
#map_overlay_right {
	top: 14px;
	right: 0px;
	width: 7px;
	height: 497px;
}* html .overview #map_overlay_right {
	right: -1px; 
}* html #map_wrapper1 #map_overlay_right {
	right: 0px; 					/* this aligns the print details page in JS, detailed nonJS page*/
}
#map_overlay_bottom {
	bottom: 0;
	left: 0;
	width: 663px;
	height: 13px;
}
#map_overlay_left {
	top: 14px;
	left: 0;
	width: 9px;
	height: 497px;
}
* html #map_wrapper1 #map_overlay_left {
	height: 492px;
}

#map_canvas, #mask {
	position: absolute;
	top: 0px;
	left: 5px;
	z-index: 0;
	width: 625px; 
	height: 488px; 
	border: 0px solid gray;
	background: #fff;
	padding: 5px;
}* html #map_canvas {
	width: 625px;
	height: 488px; 
}

#mask {
	z-index:5;
	width: 617px;
	height: 495px;
}
#mask img {
	margin-top: 33%;
	margin-left: 33%; 
} *:first-child+html  #mask img {
	margin-top: 80%;
	margin-left: 90%; 
}
div.landing #map_wrapper {
	height: 444px;
	top: 90px;
	left: 272px;
}
div.landing #map_wrapper img {
	margin-left: 0px;
}
div.landing #map_wrapper #map_overlay_right, 
div.landing #map_wrapper #map_overlay_left {
	height: 418px;
}

#addressform {
	margin: 6px 5px 0px 11px;
	float: left;
}* html #addressform { margin-left: 0px; }

#addressform table tbody tr td a {
	font-size:11px !important;
	margin-left:0px;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	}
#addressform table tbody tr td select{
	font-size:11px !important;
}
#addressform table tbody tr td.searchHints {
	font-size:11px !important;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important; 
	padding-top:10px;
	padding-left:70px;
	}
#addressform table tbody tr td.searchHints #filter_text{
}
#addressform .advancedTable {
	margin:2px 0 0 0;
	}

.col {
	width:210px;
	height:530px;
	margin:5px 0 0 1px !important;
	} 
.startPage {
	margin:5px 0 0 5px !important;
	}
.startPage a {
	font-size:16px !important;
	color: #000000 !important; 
	}
.mapText {
	width:630px;
	height:405px;
	margin:5px 0 0 13px !important;
	} 

#location_type
{
	border: solid 1px #CCCCCC!important;
	color: black;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size: 14px;
	width:150px;
	padding: 3px;
}
#button_search {
	background:none;
	color:#fff;
	font-size: 14px!important;
	}
#button_search_directions {
	background:url(../images/localTools/bg/bg_button_submit.gif) 0% 0% no-repeat;
	width:55px;
	height:19px;
	border:0;
	color:#FFF;
	margin:0;
	padding:0 0 0 0;
	text-align:center;
	font-weight:bold;
	font-size:.75em !important;
	}
#button_advanced_search {

	background:none;
	color:#fff;
	font-size: 14px;

	}

#results {
	margin-left: 0px;
	width: 262px;
	height: 480px;
	overflow-y: auto;
	overflow-x:hidden;
	border: 0;
}
#results ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#results li {
	border-bottom: 1px dotted #ccc;
	color: #000000;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size: 12px;
	text-align: left;	
	padding: 0;
	width: 262px;
}
#results li a {
	color: #000000;
	display: block;
	padding: 5px 20px 10px 40px;
	width: 200px;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size: 13px;
	text-decoration:none;
	background: url(../images/ccc/hexagonSmall.gif) no-repeat 2px 7px;
}

#results li a:hover,
#results li a:active,
#results li a:focus{
	border:none !important;
	cursor: pointer;
	outline: none !important;
	background: #E4E4E4 url(../images/ccc/hexagonSmall.gif) no-repeat 2px 7px;
}

#results li.selected, 
#results li.selected a{
	background: #f0f0f0;
	color: #4c4c4c !important;
	cursor: pointer;
	background: #E4E4E4 url(../images/ccc/hexagonSmall.gif) no-repeat 2px 7px;
}

#iconLegend {
	width:209px;
	height:91px;
	background:#FFF url(../images/localTools/bg/icon_legend.gif) top left repeat-x;
	margin: 0 0 0 1px;
	}
#iconLegend table {
	margin:3px 0 0 0;
	}
#iconLegend table tbody tr td {
	font-size:1.1em !important;
	font-weight:bold;
	padding:2px 5px 1px;
	vertical-align:middle;
	}
.popup {
	position:absolute;
	top:50px;
	left:656px;
	width:253px;
	z-index:999!important;
	}
.popup .content {
	width:250px;
	padding: 0 0 0 10px;
	margin-bottom: 5px;
	}
.popup .content p {
	font-size:11px !important;
	margin:0;
	padding:0;
	clear:both;
	}
.popup .row {
	width:250px;
	float:left;
	padding-top:0px;
	padding-bottom:0px;
	}
.popup .row input {
	clear:left;
	margin-right:2px;
	width:13px;
	}
.popup .row input,
.popup .row label {
	float:left;
	font-size:11px !important;
	line-height: 1.2em;
	padding-bottom: 10px;
	}
.popup .row label {
	width:220px;
	}

.popupTopBG {
	background:url(../images/localTools/bg/bg_advanced_search_top.gif) no-repeat top center;
	width:249px;
	}
.popupMiddleBG {
	background:url(../images/localTools/bg/bg_advanced_search_middle.gif) repeat-y center center;
	width:249px;
	}
.popupBottomBG {
	background:url(../images/localTools/bg/bg_advanced_search_bottom.gif) no-repeat bottom center;
	width:249px;
	clear:both;
	}
a#button_refine {
	float:right;
	cursor:pointer;
	margin-right:18px;
	width:116px!important;
	height:28px!important;
	text-decoration:none
	}
.closeAdvSearch {
	float:right;
	cursor:pointer;
	margin-right:20px;
	padding: 3px 2px 0 0;
	border:none;
	}
/* Info Window */
.direction_bg {
	background: url(../images/localTools/bg/driving_directions.gif) repeat-x scroll left top;
	bottom:10px;
	height:32px;
	margin:0 0 0 4px !important;
	padding:5px 0 0 10px !important;
	position:absolute;
	white-space:nowrap;
	width:241px;
	}
.direction_bg a.directions {
	color:#000000;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:13px !important;
	font-weight:bold;
	text-decoration:none;
	}
.direction_bg .redArrow {
	margin:3px 0 0 5px;
	}

.direction_bg span{
	float:left;
	margin-top:5px;
	}
.landmark_bg {
	background:url(../images/localTools/bg/bg_landmark.gif) top left repeat-x;
	margin: 0 0 2px 4px !important;
	padding:0 0 0 10px !important;
	width:241px;
	height:41px;
	}
.landmark{
	padding:8px 0 0 10px !important;
	vertical-align:top;
}
.landmark_bg span {
	color: #666;
	font-size:13px !important;
	margin:0 0 0 30px;
	line-height:1.75em  !important;	
	}
.branchPhoto {
	width:98px;
	height:64px;
	position:absolute;
	top:75px;
	left:145px;
	}
.info {
	position:absolute;
	cursor:default;
	width:261px;
	height:300px;
	}
.info .wrap {
	background: url(../images/localTools/infowindow/bg.gif) top left no-repeat;
	width:261px;
	height:307px;
	}

#details .content {
	width:258px;
	clear:both;
	}

.info .info_contents{
	width:258px;
	clear:both;
	overflow:auto;
	margin:2px 0 0 3px;
	padding-top:5px;
}

.info .textData {
	margin:0px 0px 0px 1px;
	font-size:13px  !important;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	}
.info .textAddress {
	font-size:11px  !important;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	}
.info .clear{
	clear:both;
	height:1px;
	}
.info .info_workhours{
	overflow:visible;
	width:250px;
	height:150px;
	clear:both;
	}
.info .info_workhours th {
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:13px  !important;
	font-weight:bold;
	text-align:center;
	}
.info .info_workhours table tr td {
	padding-bottom:5px;
	}
.info .info_workhours table tr td.redHours {
	color:#f00;
	}

.info .service_header { 
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:14px  !important;
	font-weight:bold;
	margin:0px 0px 2px 12px;
	} 
.info .info_workhours td {
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:12px  !important;
	padding:0 0 0 12px;
	}

.info .info_services{
	width:258px;
	/*height:185px;*/
	clear:both;
	}
.info .info_services ul.availableServices {
	margin:0 0 0 0;
	padding:0 0 0 15px;
	list-style:none;
	}
.info .info_services ul.availableServices li {
	background: url(../images/localTools/bg/bullet.gif) 2% 50% no-repeat;
	border-bottom:0px dotted #ccc;
	color:#464646;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:12px  !important;
	padding:0 0 0 15px;
	}
.toolTipLink {
	font-size:.70em  !important;
	}
.toolTip {
	background:url(../images/localTools/bg/bg_tool_tip.png) top left no-repeat;
	width:193px;
	height:44px;
	padding:8px 0 0 7px;
	}
.toolTip span {
	font-size:.75em  !important;
	}
.info .info_links {
	width:251px;
	height:56px;
	border-top:2px dotted #ccc;
	overflow:auto;
	}
.info .info_links a {
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:11px  !important;
	color:#F00;
	}
.info .closePrintIcon {
	width:70px;
	height:10px;
	float:right;
	cursor:pointer;
	margin:5px 5px 2px 0;
	clear:both;
	}
.info .closePrintIcon a {
	width:15px;
	padding:0 2px 0 5px;
	float:left;
	vertical-align: middle;
	}
.info .note, #details .note {
	font-size:11px  !important;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	background:url(../images/localTools/infowindow/note.gif) top left no-repeat;
	height:34px;
	padding:7px 30px 0 45px !important;
	color:#555555;
	margin-bottom: 3px;
}
.info .wrap {
	position: absolute;
	margin:0;
	padding:0;
	float:left;	
}
.info .tabRow {
	width:261px;
	height:34px;
	clear:both;
	margin:0;
	padding:0;
	float:left;	
	}
.info a.close {
	position: absolute;
	top: 5px;
	right: 0;
	float: left;
	display: block;
	overflow: hidden;
	width: 15px;
	height: 10px;
	background: url(../images/localTools/close_icon.gif) 5px 2px no-repeat;
	text-indent: -9999px;
	display: block;
	padding: 5px;
	margin: 0 5px 0 0;
	float: right;
	cursor: pointer;
	_cursor: hand;
	border: 2px;
	border-color: red;
}

.info .nav li.first {
	margin-left:5px;
	padding:0 0 0 0;
	}

.info .head h4, #details .head h4,
.info .head h4, .info .head h5, #details .head h5, 
span.hsbc_logo{
	margin:0 10px 0 10px;
	}

.address, .phone {
	margin-bottom:7px !important;
}

#text_content {
	margin: 5px 10px 0 5px;
	padding-left: 5px;
	height: 16px;
}
#text_content a, .print_link {
	font-size: 11px !important;
	font-family: "Arial";
	color: red;
	/*color: #000000 !important;*/
}

.info .head h4, #details .head h4 {
	font-size:14px  !important;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-weight:bold;
	margin-bottom:2px;
	}
.info .head h5, #details .head h5{
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:12px  !important;
	font-weight:normal;
	margin-right:0px;
	padding: 0 0 0 0;
	}

.info .phoneIcon {
	background:url(../images/localTools/infowindow/phone_icon.gif) top left no-repeat;
	padding:0 10px 0 10px;
	margin:3px 0 0 10px;
	}
.info .faxIcon {
	background:url(../images/localTools/infowindow/fax_icon.gif) top left no-repeat;
	padding:0 10px 0 10px;
	margin:3px 0 0 5px;
	}

.info_contents .strong h5 {
	font-weight:bold !important;
	}
/* Directions Page */

#directions_page {
	margin:0;
	padding:0;
	background:url(../images/localTools/bg/directions_back.gif) no-repeat;
	width:980px;
	height:695px;
	}
#place_info { 
	position:relative;
	top:25px;
	left:25px;
	width:925px; 
	height:116px;
	padding:0; 
	background: url(../images/localTools/bg/bg_location_directions.gif) no-repeat; 
	}
#details .col1 {
	width:390px;
	float:left;
	}
#details .col2 {
	width:185px;
	float:left;
	}
#details .col3 {
	width:160px;
	float:left;
	}
#details .col4 {
	width:160px;
	float:left;
	}
#details h1 {
	color:#ff0000;
	font-size:13px  !important;
	margin:5px 0 0 5px;
	padding:0;
	font-weight:bold;
	}
#details h4 {
	color:#000000;
	font-size:11px  !important;
	margin:5px 0 0 5px;
	padding:0;
	font-weight:bold;
	}
#details h5 {
	color:#000000;
	font-size:11px !important;
	font-weight:normal;
	margin:5px 0 0 5px;
	padding:0;
	}
#details ul {
	margin:0 0 0 0;
	padding:0 0 0 23px;
	list-style:none;
	}
#details ul li {
	background: url(../images/localTools/bg/bullet.gif) no-repeat scroll 2% 50%;
	border-bottom:0 dotted #CCCCCC;
	color:#464646;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size:13px !important;
	padding:0 0 0 15px;
	}
#directions {
 	position:absolute;
	top:290px;
	left:25px;
	width:300px; 
	height:507px;
	padding:0; 
	background: url(../images/localTools/bg/bg_direction_results.gif) no-repeat; 
	}
#directions .head h2 {
	color:#000000;
	font-weight:bold;
	margin:5px 0 0 5px;
	padding:0;
	}
#directions .head h5 {
	color:#000000;
	font-size:11px !important;
	font-weight:normal;
	margin:5px 0 0 5px;
	padding:0;
	}
form#differentLocation {
	margin:0 0 0 5px;
	}
#directions .head #text_content {
	color:#000000;
	font-size:13px !important;
	font-weight:normal;
	margin:5px 0 5px 5px;
	padding:5px 0;
	}
#directions #route {
	height:365px;
	overflow:auto;
	margin:0 5px 0 0;
	padding:0px 5px;
	}

#directions #route div {
	font-size:11px  !important;
	}
#directions #route table tbody tr td {
	font-size: 11px  !important;
}
#directions_page #map_wrapper {
	position: relative;
	display: block;
	top:0;
	left:0;
	width: 545px;
	height: 500px;
	float: left;
	margin-top: 7px;
	margin-left: 1px;
}
#directions_page #map_overlay_top {
	background-image: url('../images/localTools/rounded/map_overlay_top.gif'); 
}
#directions_page #map_overlay_right, 
#directions_page #map_overlay_left {
	height: 482px;
}
#directions_page #map_overlay_bottom {
	background: bottom url('../images/localTools/rounded/map_overlay_bottom.gif'); 
	width: 545px;
}
#directions_page #mask {
	width: 520px;
	height: 480px;
}
#directions .hr { border-bottom: 1px dotted #ccc; margin: 25px 5px 0px 0px; clear:left;}


#map_canvas, #mask {
	position: absolute;
	z-index: 0;
	width: 625px; 
	height: 488px; 
}


#imgDiv, #imgDiv div.imgWrap {
	height: 150px;
	width: 150px;
	border:medium !important;
	border-color:red;	
}* html #imgDiv, #imgDiv div.imgWrap {
	width: 118px;
}

#mask {
	z-index:5;
	width: 617px;
	height: 495px;
}
#mask img {
	margin-top: 33%;
	margin-left: 33%;
} *:first-child+html  #mask img {
	margin-top: 80%;
	margin-left: 90%; 
}

#directions_page #map_wrapper #mask{
	width:520px;
	height:500px;
}

#directions_page #directions .head #location{
	margin-left: 0px;
}



/* Non JS */

.nojs #sidebar #results {
	width:210px;
	height:523px;
	overflow:auto;
	}
#nav_box {
	float:left;
	width:212px;
	height:115px;
	background: bottom left url(../images/localTools/nonjs/bg_smallbox_nojs.gif) no-repeat;
	border:0;
	margin:23px 0 0 20px; 
	}
#map_wrapper_nojs {
	background: url(../images/localTools/nonjs/bg_details_nojs.gif) no-repeat;
	position:absolute;
	top:147px;
	left:20px;
	width:856px;
	height:406px;
	}
#map_wrapper_nojs form {
	margin:10px 0 0 10px;
	}
.navButton {
	background:url(../images/localTools/nonjs/bg_back_button.gif) 0% 0% no-repeat;
	width:160px;
	height:25px;
	border:0;
	margin:40px 0 0 25px !important;
	padding:5px 0 0 0 !important;
	text-align:center;
	}
#back_to_results {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:1.2em  !important;
	padding-top: 5px;
	}
#map_wrapper_nojs .info {
	width:285px;
	height:330px;
	overflow:auto;
	margin-top:3px;
	}
.additionalLinks {
	width:275px;
	height:75px;
	position:absolute;
	top:336px;
	left:10px;
	border-top:1px dotted #000;
	padding:3px 0 0 0 !important;
	}
.additionalLinks table tbody tr td {
	height:15px;
	}
.additionalLinks table tbody tr td a{
	font-size: 13px;
}
.mapPlacement {
	position:absolute;
	top:6px;
	left:310px;
	}

#map_wrapper_nojs h3{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 0px; 
}

#map_wrapper_nojs table{
	margin-left: 0px;
}

.adv_options_table{
	margin-left: 25px !important;
}

.advopttab{
	padding-left: 10px;
	font-size:16px !important;
	line-height:1.8em;
}
.print
{
	clear:both;
}

.print #map_wrapper_nojs {
	background: url(../images/localTools/nonjs/bg_details_nojs.gif) no-repeat;
	position:absolute;
	top:50px;
	left:20px;
	width:856px;
	height:406px;
	}

.print table{
	font-size: 10px  !important;
}

.nojs .direction_bg {
	position:relative;
	clear:both;
	}
#error_msg_nojs{
	padding-left:50px;
	padding-top:20px;
	font-size:10px;
	color:#FFFFFF;
}
#map_wrapper_nojs .print_info {
	width:285px;
	height:395px;
	overflow:auto;
	margin-top:5px;
	position: absolute;
	}
#infoMessages {
	background: url(../images/localTools/error.gif) no-repeat;/* scroll left top;*/
	color:#000000;
	float:left;
	font-family:"Arial";
	font-size:11px;
	font-weight:bold;
	margin:0 1px 0 11px;
	padding-left:20px;
	position:relative;
	top:8px;
}
#infoMessages img{
	display: inline;
}


.print .landmark_bg span {
color:#666666;
font-size:11px !important;
line-height:1.75em !important;
margin:0 0 0 30px;
}

.print .info .service_header {
font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
font-size:13px !important;
font-weight:bold;
margin:0 0 2px 10px;
}

.print .info .info_services ul.availableServices li {

background: url(../images/localTools/bg/bullet.gif) no-repeat scroll 2% 50%;
border-bottom:0 dotted #CCCCCC;
color:#464646;
font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
font-size:12px !important;
padding:0 0 0 15px;

}


/* Added from previous  */
.landing #sidebar {
	background: none;
	position: relative;
	margin-top: 13px;
	margin-left: 0px;
}* html .landing #sidebar { margin-left: 0px; }

.landing #sidebar #how {
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;	
	font-size: 11px;
	width:161px;
	height:155px;
	padding: 40px 15px 0;
}
* html .landing #sidebar #how {
	width:191px;
	height:155px;
	padding: 40px 0px 0;
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;	
}
.landing #sidebar #how p {
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
}* html .landing #sidebar #how p {padding: 0px 15px 0;}

.how_bg_es{
	background: url(../images/localTools/bg/es/bg_howtosearch.jpg) no-repeat;
}
.how_bg_en{
	background: url(../images/localTools/bg/en/bg_howtosearch.jpg) no-repeat;
}

.landing #sidebar #popular {
	width: 191px;
	height: 116px;
	padding: 0 15px;
}
.landing #sidebar #popular a {
	font-size: 11px;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	color: #000;
	text-decoration: none;
}
.landing #sidebar #popular a:hover {
	text-decoration: underline;
}
.landing #sidebar #popular .popularCol {
	float: left;
	width: 80px;
	padding-top: 45px;
} 

.popular_bg_es{
	margin-top: 20px;
	background: url(../images/localTools/bg/es/bg_popular.jpg) no-repeat;
}
.popular_bg_en{
	margin-top: 20px;
	background: url(../images/localTools/bg/en/bg_popular.jpg) no-repeat;
}

.landing #sidebar #city {
	margin-left: 4px;
	margin-top: 7px;
}

#searchInputLabel {
	font-weight: bold;
	padding: 3px 5px 0px 0px;
	float: left;
	margin:0;
	color: black;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size: 16px;
}

/* Extra definition for #searchInput was added in ie7.css */
#searchInput{
	top:15px;
	margin-right: 5px;
	margin-top: 0;
	padding-top: 7px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	color: #666666!important;
	font-size: 12px!important;
	font-family:Arial,Verdana, Helvetica!important;	
	background:  #cccccc url("../images/ccc/inputABSL_bg.gif") center center no-repeat;
	width:333px;
	height:24px;
}
#optionInput{
	width: 160px;
	border: 1px solid #ccc;
	border-top: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	margin-right:0px;
	padding: 3px 0px 0px 5px; 
	cursor: text;
	float: left;
	height: 23px;
	font-family: Arial, Helvetica, Sans-Serif, "Univers 45"!important;
	font-size: 12px;
}

/***************************Site Srearch*************************/

a.redBtn span.csButtonWrap
{
	padding-bottom: 9px;
}
.buttonSS {
	background:none;
	color:#fff;
	font-size: 14px;
}

.inputTextSS{
	margin-right: 5px;
	margin-top: 0px;
	padding-top: 7px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	color: #666666!important;
	font-size: 12px!important;
	font-family:Arial,Verdana, Helvetica!important;	
	background:  #cccccc url("../images/ccc/inputSS_bg.gif") center center no-repeat;
	width:333px;
	height:24px;
}

.searchtab
{
	padding-top:10px;
}

.searchGroups
{
	padding-top:5px;
}

.csForm,
.csMsgs-x
{
	vertical-align:8px;
	display:inline;
}

.csNext a{
	padding:0 12px 0 8px!important;
	background:url("../images/content/moreLink.gif") right center no-repeat;
}
.csPrev a{
	padding:0 8px 0 12px!important;
	background:url("../images/content/moreLinkBack.gif") left center no-repeat;
}

.linkTextSS,
.linkTextSS:visited{
	font-family:Arial,Helvetica,sans-serif;
	color:#000000!important;
	font-weight:bold;
	text-decoration:none;
	background:url("../images/content/lrg_red_arrow.gif") right bottom no-repeat;
	padding:0 12px 0 0;
	font-size:16px;
	display:inline-block;
	margin-bottom:15px;
}

.linkTextSS:hover,
.linkTextSS:focus,
.linkTextSS:active{
	text-decoration:underline;
	color:#DB0011!important;
}

.tableGralSS{
	width:700px;
	padding-left:0;
	margin:0;
}
.csTable{
	width:100%;
}

.csTableResults{
	border-bottom:24px solid #fff;
	background-color:#e4e4e4;
	padding:10px 15px;
}

.csTableonward{
	margin:10px 0;
}

.csTableResultsTd{
	padding:10px 15px;
}

.csTableResultsTd2{
	vertical-align:middle!important;
	text-align:right!important;
}

.csTableResultsList{
	padding-top:30px;
}
.csCellBorderBottom{
	border-bottom: #E2E2E2 1px solid;
}

.tdTitleSS{
	font-family:Arial,Helvetica,sans-serif;
	color:#000000;
	font-size: 24px;
	font-weight:normal;
	text-decoration:none;
	height:40px;
}

.tdGralTextSS{
	font-family: Arial,Helvetica,sans-serif;
	color:#000000!important;
	font-size: 12px;
	text-decoration:none;
	font-style: normal;
}


.csAct{
	font-family: Arial,Helvetica,sans-serif;
	color:#000000!important;
	font-size: 12px;
	text-decoration:none;
	font-style: normal;
	margin: 0 5px
}
.csOn{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	text-decoration:none;
	font-style: normal;
	color:#fff;
	float:left;
	line-height:18px;
	padding:0 4px;
	display:block;
	margin-right:15px;
	background-color:#db0011;
}

.tdDescTextSS{
	font-family:Arial,Verdana, Helvetica;
	color:#4C4C4C;
	font-size: 12px;
	font-weight:normal;
	text-decoration:none;
	padding:0 0 30px;
	display: block;
	line-height:18px!important;
}

.tdSugTextSS{
	font-family:Arial,Verdana, Helvetica;
	color:#DB0011;
	font-size: 16px;
	font-weight:normal;
	text-decoration:none;
	padding-top:40px;
}

.csTabToggle,
.scopeLinkSS,
.toolsLinkSS{
	font-family:Arial,Helvetica,sans-serif;
	color:#DB0011!important;
	font-size: 12px;
	font-weight:normal;
	text-decoration:none;
}

.csTabToggle:hover,
.scopeLinkSS:hover,
.toolsLinkSS:hover{
	text-decoration:underline;
	color:#DB0011;
}

.listSugTextSS{
	padding:0;
}
.linkSugTextSS{
	font-family:Arial,Verdana, Helvetica;
	color:#000000;
	font-size: 12px;
	font-weight:normal;
	text-decoration:none;
}

.linkSugTextSS:hover{
	text-decoration:underline;
	color:#000000;
}


.linkTextSelSS{
	font-family:Arial,Helvetica,sans-serif;
	color:#000000;
	font-size: 16px;
	font-weight:normal;
	text-decoration:none;
}

.linkTextSelSS:hover{
	color:#000000;
	text-decoration:none;
}

.separatorSS{
	font-family:Arial,Helvetica,sans-serif;
	color:#CCCCCC;
	font-size: 12px;
	font-weight:normal;
	text-decoration:none;
}


.csTableForm
{
	/*border: 1px solid #00cccc;*/
	margin:0 auto;
}
fieldset{

	margin:0px auto;
}
.tdTitleAdvSS{
	font-family:Arial,Verdana, Helvetica!important;
	color:#000000;
	font-size: 24px;
	font-weight:normal;
	text-decoration:none;
	vertical-align: top;
	margin: 0;
	padding: 0;
	height:24px!important;
}
.tdDescTextAdvSSBorder{
	font-family:Arial,Verdana, Helvetica;
	color:#000000;
	font-size: 12px!important;
	font-weight:normal;
	text-decoration:none;
	background-color:#EDEDED;
	text-align:center;
	border-left: 3px solid #FFFFFF;
	border-top: 3px solid #FFFFFF;
	height:33px;
}

.tdDescTextAdvSS{
	font-family:Arial,Verdana, Helvetica;
	color:#000000;
	font-size: 12px!important;
	font-weight:normal;
	text-decoration:none;
	background-color:#EDEDED;
	text-align:center;
	height:33px;
	vertical-align: middle;
}

.tdDescTextAdvSSLeft{
	border-left: 3px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}
.tdDescTextAdvSSRight{
	border-left: 1px solid #FFFFFF;
	border-right: 3px solid #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
}

.tdDescTextAdvSSBTop{
	border-top: 3px solid #FFFFFF;
	height:36px;
}

.tdDescTextAdvSS label{
	font-family:Arial,Verdana, Helvetica;
	color:#000000;
	font-size: 12px!important;
	font-weight:normal;
	text-decoration:none;
}
.csCellBorderBottomAdvSS{
	height:11px;
	font-size: 1px;
	margin: 0;
	padding: 0;
	border-bottom: #E2E2E2 1px solid;
}
.borderInfoAdvSS{
	border: 10px solid rgb(226, 226, 226);
	margin:0px auto;
	padding:0;
	width:553px;
}
.infoAdvSS{
	border: 3px solid #FFFFFF;
	margin:0 auto;
	width:553px;
	padding:5px!important;
}

.inputSelAdvSS{
	font-family:Arial,Verdana, Helvetica;
	font-weight:normal;
	font-size: 12px;
	text-align: left;
	color: #000000;
	width: 148px;
	height:20px;
}

.cellButtonAdvSS{
	padding-top: 12px;
	text-align: center;
}

/* css needed by code generated by jhx */

.csTextField{
	font-family:Arial,Verdana, Helvetica;
	font-weight:normal;
	font-size: 12px;
	text-align: left;
	color: #000000;
	height:20px;
}
.csField-short{
	font-family:Arial,Verdana, Helvetica;
	font-weight:normal;
	font-size: 12px;
	text-align: center;
	color: #000000;
	height:20px;
}

.csCalendarNoJs, .csChecks-h{
	padding:0;
	margin:0;
	text-align:center;
}
.csPagination a,
.csPagination a:visited,
.csNext a,
.csNext a:visited,
.csPrev a, 
.csPrev a:visited{
	font-style:normal;
	text-decoration:none;
	padding-right: 15px;
	font-weight:normal;
	font-family: Arial,Helvetica,sans-serif;
	color:#000000!important;
	font-size: 12px!important;
	font-style: normal;
	float:left;
	line-height:18px;
	padding:0 4px;
	display:block;
	margin-right:15px;
}

.csPagination a:hover,
.csPagination a:focus,
.csPagination a:active,
.csNext a:hover,
.csNext a:focus,
.csNext a:active,
.csPrev a:hover,
.csPrev a:focus,
.csPrev a:active
{
	font-style:normal;
	text-decoration:underline;
	color:#DB0011!important;
}


.csCol-3, .csPageNumbers, .csCols-3, .csPagination{
	padding: 0!important;
	margin: 0!important;
	text-align:right!important;
	float:right;
	}

/* added to hide the text*/  
.csHideForSR, .csShowTransactions, .csShowPage, .csCol-1, .csCol-2 {
	 display:none!important;
	 position:absolute!important;
	 left:-10000px!important;
	 overflow:hidden!important;
	 top:auto!important;
	 width:1px!important;
	 height:1px!important;
}

.csPanel, .csPanelTable{
	padding:0;
	margin:0;
}

ul.csNavList {
	/*padding: 10px 0 12px 0;*/
	padding-bottom: -15px;
}
li.csNavItem-0
{
	position:relative;
	width:auto;height:auto;
	padding:0;
	margin:0 5px 0 0;
	overflow:visible;
	list-style:none;
	z-index:0;
	text-align: left;
	background:url("../images/ccc/navPipeSS.gif") no-repeat 97% 1px transparent;
}

li.csNavItem-0 {float:left;white-space: nowrap;}

.csNavWrap {
	
	margin-left:0px;
	padding-left:0px;
	margin-right:12px;
	padding-right:5px;
	padding-bottom:8px;
}

li.csNavLast
{
	background:none;
}

.right{
	text-align: right;
}

.resultListLeft
{
	width:80%;
}

.resultListRight div
{
	text-align:right;
}

.csChecks-h label{
	padding-right:12px;
}

.scopeLinkSS,
.toolsLinkSS{
	padding-right:5px;
	padding-top:5px;
	margin:0 5px 0 0;
	text-align: left;
	background:url("../images/ccc/navPipeSS.gif") no-repeat right 5px transparent;
}

.buttonPrefSS
{
	background-color:#db0011;
	padding:5px;
	margin:15px 10px;
	font-family:Arial,Helvetica,sans-serif;
	color:#FFFFFF!important;
}