#grid
{
	width:960px;
	padding:0 0 0 10px;
	float:left;
	background-color:#fff;
}
#grid:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#genericPopupWin #grid
{
	background:#fff;
	width:720px;
	padding:0 30px;
}
body .grid
{
	position:relative;
	padding:0 20px 0 0;
}
body .grid,
body .productItem,
body .productRow,
body .contentItem,
body .contentRow,
body .contentIntro,
body .propositionRow,
body .bannerItem,
body .grid .back,
body #productNav,
body #productFooter,
body .grid .applyBox
{
	float:left;
}
body .grid .contentItem table,
body .grid .productItem table,
body .grid .back,
body #productNav,
body #productFooter,
body .grid .applyBox
{
	width:940px;
}
body .grid_24,
body .grid_24 .contentRow,
body .grid_24 .propositionRow
{
	width:960px;
}
body .grid_24
{
	padding:0 0 30px;
}
body .grid_1,
body .grid_1 .productItem,
body .grid_1 .productRow,
body .grid_1 .contentItem,
body .grid_1 .contentRow,
body .grid_1 .bannerItem,
body .grid_1 .contentItem table,
body .grid_1 .productItem table,
body .grid_1 .back,
body .grid_1 .applyBox
{
	width:20px;
}
body .grid_2,
body .grid_2 .productItem,
body .grid_2 .productRow,
body .grid_2 .contentItem,
body .grid_2 .contentRow,
body .grid_2 .bannerItem,
body .grid_2 .contentItem table,
body .grid_2 .productItem table,
body .grid_2 .back,
body .grid_2 .applyBox
{
	width:60px;
}
body .grid_3,
body .grid_3 .productItem,
body .grid_3 .productRow,
body .grid_3 .contentItem,
body .grid_3 .contentRow,
body .grid_3 .bannerItem,
body .grid_3 .contentItem table,
body .grid_3 .productItem table,
body .grid_3 .back,
body .grid_3 .applyBox
{
	width:100px;
}
body .grid_4,
body .grid_4 .productItem,
body .grid_4 .productRow,
body .grid_4 .contentItem,
body .grid_4 .contentRow,
body .grid_4 .bannerItem,
body .grid_4 .contentItem table,
body .grid_4 .productItem table,
body .grid_4 .back,
body .grid_4 .applyBox
{
	width:140px;
}
body .grid_5,
body .grid_5 .productItem,
body .grid_5 .productRow,
body .grid_5 .contentItem,
body .grid_5 .contentRow,
body .grid_5 .bannerItem,
body .grid_5 .contentItem table,
body .grid_5 .productItem table,
body .grid_5 .back,
body .grid_5 .applyBox
{
	width:180px;
}
body .grid_6,
body .grid_6 .productItem,
body .grid_6 .productRow,
body .grid_6 .contentItem,
body .grid_6 .contentRow,
body .grid_6 .bannerItem,
body .grid_6 .contentItem table,
body .grid_6 .productItem table,
body .grid_6 .back,
body .grid_6 .applyBox
{
	width:220px;
}
body .grid_7,
body .grid_7 .productItem,
body .grid_7 .productRow,
body .grid_7 .contentItem,
body .grid_7 .contentRow,
body .grid_7 .bannerItem,
body .grid_7 .contentItem table,
body .grid_7 .productItem table,
body .grid_7 .back,
body .grid_7 .applyBox
{
	width:260px;
}
body .grid_8,
body .grid_8 .productItem,
body .grid_8 .productRow,
body .grid_8 .contentItem,
body .grid_8 .contentRow,
body .grid_8 .bannerItem,
body .grid_8 .contentItem table,
body .grid_8 .productItem table,
body .grid_8 .back,
body .grid_8 .applyBox
{
	width:300px;
}
body .grid_9,
body .grid_9 .productItem,
body .grid_9 .productRow,
body .grid_9 .contentItem,
body .grid_9 .contentRow,
body .grid_9 .bannerItem,
body .grid_9 .contentItem table,
body .grid_9 .productItem table,
body .grid_9 .back,
body .grid_9 .applyBox
{
	width:340px;
}
body .grid_10,
body .grid_10 .productItem,
body .grid_10 .productRow,
body .grid_10 .contentItem,
body .grid_10 .contentRow,
body .grid_10 .bannerItem,
body .grid_10 .contentItem table,
body .grid_10 .productItem table,
body .grid_10 .back,
body .grid_10 .applyBox
{
	width:380px;
}
body .grid_11,
body .grid_11 .productItem,
body .grid_11 .productRow,
body .grid_11 .contentItem,
body .grid_11 .contentRow,
body .grid_11 .bannerItem,
body .grid_11 .contentItem table,
body .grid_11 .productItem table,
body .grid_11 .back,
body .grid_11 .applyBox
{
	width:420px;
}
body .grid_12,
body .grid_12 .productItem,
body .grid_12 .productRow,
body .grid_12 .contentItem,
body .grid_12 .contentRow,
body .grid_12 .bannerItem,
body .grid_12 .contentItem table,
body .grid_12 .productItem table,
body .grid_12 .back,
body .grid_12 .applyBox
{
	width:460px;
}
body .grid_13,
body .grid_13 .productItem,
body .grid_13 .productRow,
body .grid_13 .contentItem,
body .grid_13 .contentRow,
body .grid_13 .bannerItem,
body .grid_13 .contentItem table,
body .grid_13 .productItem table,
body .grid_13 .back,
body .grid_13 .applyBox
{
	width:500px;
}
body .grid_14,
body .grid_14 .productItem,
body .grid_14 .productRow,
body .grid_14 .contentItem,
body .grid_14 .contentRow,
body .grid_14 .bannerItem,
body .grid_14 .contentItem table,
body .grid_14 .productItem table,
body .grid_14 .back,
body .grid_14 .applyBox
{
	width:540px;
}
body .grid_15,
body .grid_15 .productItem,
body .grid_15 .productRow,
body .grid_15 .contentItem,
body .grid_15 .contentRow,
body .grid_15 .bannerItem,
body .grid_15 .contentItem table,
body .grid_15 .productItem table,
body .grid_15 .back,
body .grid_15 .applyBox
{
	width:580px;
}
body .grid_16,
body .grid_16 .productItem,
body .grid_16 .productRow,
body .grid_16 .contentItem,
body .grid_16 .contentRow,
body .grid_16 .bannerItem,
body .grid_16 .contentItem table,
body .grid_16 .productItem table,
body .grid_16 .back,
body .grid_16 .applyBox
{
	width:620px;
}
body .grid_17,
body .grid_17 .productItem,
body .grid_17 .productRow,
body .grid_17 .contentItem,
body .grid_17 .contentRow,
body .grid_17 .bannerItem,
body .grid_17 .contentItem table,
body .grid_17 .productItem table,
body .grid_17 .back,
body .grid_17 .applyBox
{
	width:660px;
}
body .grid_18,
body .grid_18 .productItem,
body .grid_18 .productRow,
body .grid_18 .contentItem,
body .grid_18 .contentRow,
body .grid_18 .bannerItem,
body .grid_18 .contentItem table,
body .grid_18 .productItem table,
body .grid_18 .back,
body .grid_18 .applyBox
{
	width:700px;
}
body .grid_19,
body .grid_19 .productItem,
body .grid_19 .productRow,
body .grid_19 .contentItem,
body .grid_19 .contentRow,
body .grid_19 .bannerItem,
body .grid_19 .contentItem table,
body .grid_19 .productItem table,
body .grid_19 .back,
body .grid_19 .applyBox
{
	width:740px;
}
body .grid_20,
body .grid_20 .productItem,
body .grid_20 .productRow,
body .grid_20 .contentItem,
body .grid_20 .contentRow,
body .grid_20 .bannerItem,
body .grid_20 .contentItem table,
body .grid_20 .productItem table,
body .grid_20 .back,
body .grid_20 .applyBox
{
	width:780px;
}
body .grid_21,
body .grid_21 .productItem,
body .grid_21 .productRow,
body .grid_21 .contentItem,
body .grid_21 .contentRow,
body .grid_21 .bannerItem,
body .grid_21 .contentItem table,
body .grid_21 .productItem table,
body .grid_21 .back,
body .grid_21 .applyBox
{
	width:820px;
}
body .grid_22,
body .grid_22 .productItem,
body .grid_22 .productRow,
body .grid_22 .contentItem,
body .grid_22 .contentRow,
body .grid_22 .bannerItem,
body .grid_22 .contentItem table,
body .grid_22 .productItem table,
body .grid_22 .back,
body .grid_22 .applyBox
{
	width:860px;
}
body .grid_23,
body .grid_23 .productItem,
body .grid_23 .productRow,
body .grid_23 .contentItem,
body .grid_23 .contentRow,
body .grid_23 .bannerItem,
body .grid_23 .contentItem table,
body .grid_23 .productItem table,
body .grid_23 .back,
body .grid_23 .applyBox
{
	width:900px;
}
body#genericPopupWin .grid_24,
body#genericPopupWin .grid .back,
body#genericPopupWin #productNav
{
	width:720px;
}
.jqmWindow .grid
{
	padding:0 10px 0 0;
}
.lightviewWide .grid_24
{
	padding:30px 15px 15px 25px;
	width:940px;
}
.lightviewDetails .grid_8
{
	width:540px;
	padding:0;
}