/***************************Grafica Intradia*************************/
/*Version 1.9*/

.tb_grafica{
	font-family: Arial;
	font-weight: bold;
	width:420px;
	height:150px;
}
.tb_grafica2{
	font-family: Arial;	
	font-weight: bold;
	width:200px;
}

.th_grafica{
	text-align:left;
	font-size:13px;
	font-weight: bold;
	vertical-align:middle;
}
.cborde {
	border-top: 1px solid #E9E1E5;
	font-size:12px;
}
.cb2 {
	vertical-align:middle;
	border-top: 1px solid #E9E1E5;
	font-size:12px;
	padding-left:5px;
	text-align:left;
	font-weight: bold;
}
.cb3 {
	vertical-align:middle;
	border-bottom: 1px solid #E9E1E5;
	border-top: 1px solid #E9E1E5;
	font-size:12px;
	padding-left:5px;
	text-align:left;
	font-weight: bold;
}

.cb2monto {
	vertical-align:middle;
	border-top: 1px solid #E9E1E5;
	font-size:12px;
	padding-right:10px;
	text-align:right;
	font-weight: bold;
	
}
.cb3monto {
	vertical-align:middle;
	border-bottom: 1px solid #E9E1E5;
	border-top: 1px solid #E9E1E5;
	font-size:12px;
	padding-right:10px;
	text-align:right;
	font-weight: bold;

}

.img_graf {
	padding-left: 8px;
}
.img_style {
	border:2px solid #B6A48E;
}
.td_prin{
	vertical-align:top;
}

/***************************Divisas y Metales*************************/
.vdp_thstyletitle{
	background-color:#dbdcdd;
	padding:4px 10px;
	font-size: 9px;
    line-height: 10px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
    outline: 0 none;
	text-align: left;
    vertical-align: baseline;
     border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.vdp_thstylelight{
	background-color:#f0f0f0;
	padding:4px 10px;
	font-size: 9px;
    line-height: 10px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
    outline: 0 none;
	text-align: left;
    vertical-align: baseline;
     border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.vdp_thstyledark{
	background-color:#e4e4e4;
	padding:4px 10px;
	font-size: 9px;
    line-height: 10px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
    outline: 0 none;
	text-align: left;
    vertical-align: baseline;
     border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}


.vdp_tdstylelight{
	background-color:#f0f0f0;
	padding:4px 10px;
	font-size: 9px;
    line-height: 10px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
    outline: 0 none;
	text-align: left;
    vertical-align: baseline;
     border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #4C4C4C;
}
.vdp_tdstyledark{
	background-color:#e4e4e4;
	padding:4px 10px;
	font-size: 9px;
    line-height: 10px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
    outline: 0 none;
	text-align: left;
    vertical-align: baseline;
     border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #4C4C4C;
}

/***************************Calculadora de divisas*************************/
.tableLTCD{
	border: 1px solid #D9D9D9;
	font-family: Arial;
	padding: 5px;
	width: 290px;
}

.thTitleLTCD {
	font-family: Arial;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	background: none repeat scroll 0 0 #F0F0F0;
	padding: 5px;
}

.num {
	background: none repeat scroll 0 0 #C8C8C8;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    float: left;
    font-size: 10px;
    text-align: center;
    width: 12px;
}

.tdEtiqLTCD {
font-family: Arial;
font-size: 12px;
color: #000000;
text-align: left;
background: none repeat scroll 0 0 #F0F0F0;
padding: 5px;
}

.tdButtonLTCD {
text-align: left;
background: none repeat scroll 0 0 #F0F0F0;
padding: 5px;
border-bottom:1px solid #D9D9D9; 
}
.inputLTCD{
font-family:Arial;
font-weight:normal;
font-size: 12px;
color: #000000;
text-align: left;
border: 1px solid #BEBEBE;
}
.selectLTCD{
font-family:Arial;
font-weight:normal;
font-size: 11px;
color: #000000;
text-align: left;
border-radius:2px;
border: 1px solid #BEBEBE;
}

.inputResEtiqLTCD{
font-family:Arial;
font-weight:bold;
font-size: 12px;
text-align: center;
color: #000000;
text-align: right;
}

.inputResLTCD{
border:0;
}
.TDCenter{
	margin:auto;
	text-align:center;
	width:28%;
}
/***************************Contactos*************************/
a:active,a:focus{
outline:0;
}

.contactoTable{
	background-color: #F0F0F0;
	border: solid #d3d3d3;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 600px;
}
.contactoTd{
	border: solid #d3d3d3;
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 1px;
	vertical-align:middle;
}

.leyenda
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align:center;
}

.etiquetas
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.campos
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	border: 1px solid #BEBEBE;
}
.descrip
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  text-align:center;
}

.titulo
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

.error
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #DB0011;
	text-decoration: none;
}
#air{ 
	line-height: 8px;
}
#air1{ 
	line-height: 20px;
}
#titleTableContacto{
	background-color: #E2E2E2;
	font-size:12px;
	text-align:center;
}
.insert{
	padding-left:5px;
}
.box{
	height:15px;
}
.sel{
	height:20px;
}

/***************************Link aplicaciones Externas y Logon Empresas*************************/
.errVisible {
		position:			absolute;
		color:				red;
		visibility:			visible;
		font-family: "Arial";
		font-size: 12px;
		font-weight: normal;
		margin: 0px;
		padding: 4px 10px;
		text-decoration: none;
	}
.hidden {
		position:			absolute;
		visibility:			hidden;
	}

.content_ext {
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: #000000;
	text-decoration: none;
}
.content_div {
	margin: 5px;
	padding: 5px;
	padding: 10px 10px;
}


.content_le {
	font-family: "Arial";
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: #000000;
	text-decoration: none;
}

.banca_internet
{
	margin-bottom:5px;
	margin-top:20px;
	padding:0px;
}
a.banca_logon, a:visited.banca_logon
{
	margin-left:5px;
	color:#ffffff;
	line-height:30px;
	background:url('../images/localTools/bck_logon.gif') no-repeat left;	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none; padding-left:20px; padding-right:8px; padding-top:10px; padding-bottom:10px
}

a:hover.banca_logon
{
	color:#ffffff;
	text-decoration:underline;
}
