body, html {
    min-width: 320px;
}
#msgMovil{
    display: none;
    height: 85%;
    left: 10%;  
    padding: 10px;
    position: absolute;
    top: 20%;
    width: 85%;
    z-index: 1002;
}
#innerPage {
    top: -10px;
}
div.msg_ie {
    background: url("/1/PA_esf-ca-app-content/content/inicio/archivos/info.png") no-repeat scroll 13px 12px white;
    border: 3px solid #F5DFA0;
    border-radius: 2px 2px 2px 2px;
    clear: both;
    font-size: 90%;
    margin: -10px 0 20px;
    min-height: 40px;
    padding: 10px 10px 10px 67px;
    width: 858px;
    margin: 0 auto;
}
body .grid {
    position: relative;
    top: 15px !important;
}

#innerPage {
    top: 0px !important;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.lnk {
    background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/link_bullet.png") no-repeat scroll left center transparent;
    color: #FF0000;
    font-size: 17px;
    font-weight: bold;
    padding: 0 20px 0 10px;
    text-decoration: none;
}
.b{
    font-weight: bold;
}
.c{
    text-align: center;
}
.f17{
    font-size: 17px;
}
.mb10{
    margin-bottom: 10px;
}
.br1{
    border-right: 1px solid #ccc;
}
.mr20{
    margin-right: 20px;
}
.ml20{
    margin-left: 20px;
}
.mr30{
    margin-right: 30px;
}
.ml30{
    margin-left: 30px;
}
body { 
/*background: url('/1/PA_esf-ca-app-content/content/inicio/imagenes/fondo3.jpg') no-repeat center center fixed;*/
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/fondo3.jpg") no-repeat scroll top right / cover transparent;
    background-position: 0px 30px;
} 
/*Back responsive*/
#top #mainTopWrapper {
    background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/bg_header.png") repeat-x scroll center bottom transparent;
    min-width: 980px;
    padding: 0 0 10px;
}
#top #mainTopUtility {
    background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/bg_header_dark_grey.gif") repeat-x scroll center bottom transparent;
}

#boxcontent {
    background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/bco_alpha.png");
    /*-moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);
    border: 1px solid #706E6D;*/
    font-size: 1.2em;
    height: 306px;
    line-height: 1.4em;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
    width: 738px;
    z-index: 1;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.8);
box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.8);
}
.login-container {
    margin: 0 auto;
    padding: 93px 0px;
    vertical-align: middle;
}
#fblnk{
    background: url('/1/PA_esf-ca-app-content/content/inicio/images/facebook.gif') no-repeat top; 
    cursor:pointer;
    height: 38px;
    margin: 0 19px 0 -11px;
    width: 38px;
    float: left;
}
#ytblnk{
    background: url('/1/PA_esf-ca-app-content/content/inicio/images/youtube.gif') no-repeat top; 
    cursor:pointer;
    height: 38px;
    width: 38px;
    float: left;
}
#ytblnk:hover, #fblnk:hover{
    background-position: bottom;
}
body{
height:100%;
}
 
#page-wrap{
width: 960px;
margin: auto;
height: auto;
min-height:100%;
}
 
#page-wrap:after{
width: 100%;
height:150px;
display:block;
clear:both;
}
 
#footer {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    height: 118px;
    margin: 5px auto 0;
    position: absolute;
    width: 100%;
}
.login-container .btn-red-login {
    background: none repeat scroll 0 0 #EE3424;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 17px;
    height: 48px;
    margin-top: 40px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
#welcome {
    color: #666666;
    font-size: 30px;
    padding: 30px 0 20px;
    text-align: center;
}
.col-login {
    /*border-right: 0 solid #CCCCCC;*/
    float: left;
    margin: 24px 0 0 auto;
    padding: 0px 18px;
    width: 45%;
}
#globalFooter {
    background-color: #626469;
    border-right: 0px solid #FFFFFF;
    float: none;
    height: 65px;
    margin: 0 auto;
    padding: 0 10px 0 20px;
    width: 940px;
}
ul#meta {
    background-color: #FFFFFF;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 12px 0 22px 10px;
    width: 960px;
}
#gris {
    background: none repeat scroll 0 0 #626469;
    width: 100%;
}
    @media only screen and (max-width: 480px){
        #top #mainTopWrapper {
        background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/bg_header.png") repeat-x scroll center bottom transparent;
        min-width: 50%;
        padding: 0;
        }
        #page-wrap:after {
        clear: both;
        display: block;
        height: 100%;
        width: 100%;
        }
        #page-wrap {
            height: auto;
            margin: auto;
            min-height: 100%;
            width: 100%;
        }

        .login-container {
            margin: 0 auto;
            padding: 20px;
            vertical-align: middle;
        }
        #boxcontent {
            background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/pixel_opc_85.png");
            font-size: 1.2em;
            height: 350px;
            line-height: 1.4em;
            margin: 0 auto;
            min-width: 35%;
            padding: 0;
            text-align: left;
            width: 100%;
            z-index: 1;
        }
        .col-login {
        border-right: 0 solid #CCCCCC;
        float: left;
        margin: 35px 0 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 94%;
        }

        #footer {
        background: none repeat scroll 0 0 blue;
        font-size: 13px;
        height: auto;
        margin: 5px auto 0;
        position: relative;
        width: 100%;
    }
        #globalFooter {
        background-color: #626469;
        border-right: 0 solid #626469;
        float: right;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    #globalFooter #supportLinks {
        clear: none;
        float: none;
        height: auto;
        padding: 13px 0 0;
        width: 100%;
    }
        #globalFooter #supportLinks li {
        float: none;
        font-size: 125%;
        line-height: 23px;
        margin-left: 45px;
        padding: 8px 30px 5px 35px;
    }
    ul#meta {
            display: none;
    }
    #top #mainTopUtilityRow, #top div#mainTopNavigation {
        /*background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/bg_header.gif") repeat-x scroll center bottom #626469;*/
        margin: 0 auto;
        position: relative;
        width: 100%;
        z-index: 10;
    }
    #welcome {
        color: #666666;
        font-size: 20px;
        font-weight: bolder;
        padding: 20px 0 0 9px;
    }
    .login-container .btn-red-login {
        background: none repeat scroll 0 0 #EE3424;
        border: medium none;
        border-radius: 5px 5px 5px 5px;
        color: #FFFFFF;
        display: block;
        float: right;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
        width: 100%;
    }
    .lnk {
        background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/link_bullet.png") no-repeat scroll left center transparent;
        color: #FF0000;
        font-size: 15px;
        font-weight: bold;
        padding: 0 4px 0 8px;
        text-decoration: none;
    }
}
@media only screen and (max-width: 780px){
        #top #mainTopWrapper {
        background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/bg_header.png") repeat-x scroll center bottom transparent;
        min-width: 50%;
        padding: 0;
        }
        #page-wrap:after {
        clear: both;
        display: block;
        height: 100%;
        width: 100%;
        }
        #page-wrap {
            height: auto;
            margin: auto;
            min-height: 100%;
            width: 100%;
        }

        .login-container {
            margin: 0 auto;
            padding: 20px;
            vertical-align: middle;
        }
        .btn-red-login {
            margin-top: 15px;
        }
        #boxcontent {
            background: url("/1/PA_esf-ca-app-content/content/inicio/imagenes/pixel_opc_85.png");
            font-size: 1.2em;
            height: 350px;
            line-height: 1.4em;
            margin: 0 auto;
            min-width: 35%;
            padding: 0;
            text-align: left;
            width: 100%;
            z-index: 1;
        }
        .col-login {
        border-right: 0 solid #CCCCCC;
        float: left;
        margin: 35px 0 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 94%;
        }

        #footer {
        background: none repeat scroll 0 0 blue;
        font-size: 13px;
        height: auto;
        margin: 5px auto 0;
        position: relative;
        width: 100%;
    }
        #globalFooter {
        background-color: #626469;
        border-right: 0 solid #626469;
        float: right;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 11%;
        width: 100%;
    }
    #globalFooter #supportLinks {
        clear: none;
        float: none;
        height: auto;
        padding: 13px 0 0;
        width: 100%;
    }
        #globalFooter #supportLinks li {
        float: none;
        font-size: 125%;
        line-height: 23px;
        margin-left: 45px;
        padding: 8px 30px 5px 35px;
    }
    ul#meta {
            display: none;
    }
    #top #mainTopUtilityRow, #top div#mainTopNavigation {
        margin: 0 auto;
        position: relative;
        width: 100%;
        z-index: 10;
    }
    #welcome {
        color: #666666;
        font-size: 20px;
        font-weight: bolder;
        padding: 20px 0 0 9px;
    }
}