h1 {
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:bold;
}
.header_center h2{
	font-size:18px;
	padding-top:3px;
	padding-left:5px;
 }
h2 {
	margin:0px;
	padding:0px;
	font-size:1em;
	font-weight:bold;
}
h3 {
	margin:0px;
	padding:0px;
	font-size:1em;
	font-weight:bold;
}

#container a{ text-decoration:none; }
#container a:link {  color:#0055a5; text-decoration: none; }
#container a:visited { color:#0055a5; text-decoration: none; }
#container a:hover { color: #0055a5; text-decoration: underline; }

.topic_block{
	border: 1px solid #CCCCCC;
	background-color: #eeeeee;
}
.topic_block h3{
	padding: 5px 5px 5px 10px;
	font-size:16px;
	color:#0076cc;
}
.topic_block img{
	vertical-align:middle;
}

/* SOFTWARE */
#software_block{
	float:left;
	width:968px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
#software_block_left{
	float:left;
	width: 483px;
	border-right: 1px solid #CCCCCC;
}
#software_block_right{
	float:left;
    margin-left: 8px;
    width: 475px;
}

.software_main_left{
	border: 1px solid #CCCCCC;
	background-color: #eeeeee;
}
.software_main_left img{
	vertical-align:middle;
}
.software_sponsor{
	float:left;
	background-color:#eef6f9;
}
.software_sponsor_pic{
	float:left;
	width:48px; 
	height:48px; 
	overflow:hidden;
}
.software_sponsor_topic{
	float:left; 
	width:395px;
}
.sponsor_text{
   color: #999999;
    font-size: 0.7rem;
    font-weight: normal;
}
.line {
    border-top: 1px dashed #CCCCCC;
    clear: both;
    font-size: 1px;
    height: 1px;
    margin: 10px 10px 10px 0px;
}
.description_short{
    color: #666666;
    font-family: Tahoma;
    font-size: 0.8rem;
    text-align: left;
}
.software_list{
	float:left;
}
.pic{
	float:left;
	width:100px; 
	height:100px; 
	overflow:hidden;
	position:relative;
}
.software_topic{
	float:left; 
	width:360px;
}
.firstpage_block {
    color: #333333;
    font-family: Tahoma;
    font-size: 0.8rem;
    text-align: left;
}
.topic_link{
    font-size: 16px;
}
.top_download{
    left: 0;
    position: absolute;
    top: 0;
}
.top_text{
    left: 7px;
    position: absolute;
    top: 5px;
	color:#FFFFFF;
	font-size:16px;
}
.zone_sponsor {
    background-color: #F1F1F1;
    border: 1px dotted #CCCCCC;
    color: #333333;
    float: left;
    font-family: tahoma;
    font-size: 12px;
    padding: 10px;
	width:958px;
	margin:2px 0;
}
.zone_sponsor a{
	font-size: 0.6rem;
}
.blueFont {
    color: #0066FF;
    font-family: Tahoma;
    font-size: 0.8rem;
    font-weight: bold;
}

/* SOFTWARE Categories Block */

.softwareCate
{
	padding-top:5px;
}

.softwareCate ul
{
	display:inline;
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.softwareCate ul li
{
	display:block;
	float:left;
	margin:3px 0px 0px 5px;
	padding:0px;
	border-right:1px dashed #CCC;
	width:187px;
	height:60px;
	overflow:hidden;
}

.softwareCate ul li a, .softwareCate ul li a:link, .softwareCate ul li a:visited
{
	display:block;
	margin-right:5px;
	padding:10px 5px 10px 10px;
	text-decoration: none;
	font-size: 0.8rem;
}

.softwareCate ul li a:hover
{
	padding:9px 4px 9px 9px;
	background-color:#c4e5f7;
	border:1px solid #96c6e0;
	text-decoration: none !important;
}

.softwareCate ul li a img
{
	vertical-align:middle;
}

/* NEWS */

#news_block{
	float:left;
	width:968px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
#news_last{
	float:left;
	width: 705px;
}
.news_last_left{
	width:350px; 
	float:left; 
	border-right: 1px solid #CCCCCC;
}
.news_last_right{
	float:right; 
}
.news_topic{
	float:left; 
	width:230px;
}
#news_recommend{
	float:right;
	width:256px;
}
.recommend_block{
	border: 1px solid #96c6e0;
	background-color: #c4e5f7;
}
.recommend_block h3{
	padding: 5px 5px 5px 10px;
	font-size:16px;
	color:#333333;
}
.recommend_block img{
	vertical-align:middle;
}
.news_recommend_detail{
	padding:10px;
	border-left: 1px solid #96c6e0;
	border-right: 1px solid #96c6e0;
	border-bottom: 1px solid #96c6e0;
	background-color: #eff6fa;
}
.news_pr_left{
	float:left;
	background: url('http://images.thaiware.com/header/news_pr_left.gif') no-repeat;	
	width:156px;
	height:42px;
	margin-top:10px;
}
.news_pr_center{
	float:left;
	background: url('http://images.thaiware.com/header/news_pr_center.gif') repeat-x;	
	width:775px;
	height:42px;
	margin-top:10px;
}
.news_pr_right{
	float:left;
	background: url('http://images.thaiware.com/header/news_pr_right.gif') no-repeat;	
	width:37px;
	height:42px;
	margin-top:10px;
}
.news_pr_left span{
	float:left;
	padding : 10px 0px 0px 10px;
	font-size: 0.9rem;
	color:#666666;
}
.news_pr_left img{
	vertical-align:middle;
}
.news_pr_center span{
	float:left;
	padding : 10px 0px 0px 10px;
}

/* REVIEW */
#review_block{
	float:left;
	width:968px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
#review_last{
	float:left;
	width: 705px;
}
.review_last_left{
	width:350px; 
	float:left; 
	border-right: 1px solid #CCCCCC;
}
.review_last_right{
	float:right; 
}
.review_topic{
	float:left; 
	width:230px;
}
#review_recommend{
	float:right;
	width:256px;
}
.review_recommend_detail{
	padding:10px;
	border-left: 1px solid #96c6e0;
	border-right: 1px solid #96c6e0;
	border-bottom: 1px solid #96c6e0;
	background-color: #eff6fa;
}

/* Activity */
#activity{
	float:left;
	width:728px;
}
#activity_block{
	float:left;
	width:726px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
#activity_pic{
	float:left;
	width:157px; 
	height:157px; 
	overflow:hidden;
	position:relative;
}
.block_detail{
	float: left;
    margin-left: 10px;
}
.block_bottomLeft {
	background:url('http://images.thaiware.com/curve/block_bottomLeft.gif') 0 100% no-repeat;
	background-color:#f2faff;
}
.block_bottomRight {
	background: url('http://images.thaiware.com/curve/block_bottomRight.gif') 100% 100% no-repeat;
}
.block_topLeft {
	background: url('http://images.thaiware.com/curve/block_topLeft.gif') 0 0 no-repeat;
}
.block_topRight {
	background: url('http://images.thaiware.com/curve/block_topRight.gif') 100% 0 no-repeat;
	padding:10px;
}

/* Software Premier*/
#software_premier{
	float:left; 
	margin-left:5px;
	width:247px;
}
.software_premier_detail{
	padding:10px;
	border-left: 1px solid #96c6e0;
	border-right: 1px solid #96c6e0;
	border-bottom: 1px solid #96c6e0;
	background-color: #eff6fa;
	height:252px;
	overflow:hidden;
}

/* Wallpaper */
#wallpaper{
    float: left;
    /*width: 599px;*/
	width: 485px;
	margin-right:5px;
}
#wallpaper_block{
	float:left;
	/*width:354px;*/
	width:473px;
	height: 456px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
}
#wallpaper_last{
	float: left;
    width: 300px;
}
.wallpaper_last_left{
	width:155px; 
	float:left; 
	text-align:center;
	min-width:155px;
}
.wallpaper_last_right{
	float:left; 
	width:150px; 
	/*margin-left:2px;*/
	text-align:center;
	min-width:150px;
}
.wallpaper_last_pic{
	width:120px; 
	overflow:hidden;
	margin: 0 auto;
}
#wallpaper_recommend{
	float: right;
    width: 262px;
}
.wallpaper_recommend_detail{
	padding:10px;
	border-left: 1px solid #96c6e0;
	border-right: 1px solid #96c6e0;
	border-bottom: 1px solid #96c6e0;
	background-color: #eff6fa;
	height:410px;
	overflow:hidden;
}
.wallpaper_recommend_pic{
	float:left;
	margin-left:7px;
	margin-right:7px;
}

/* Movie */
#movie{
    float: left;
    /*width: 376px;*/
	width: 490px;
}
#movie_block{
	float:left;
	/*width:354px;*/
	width:477px;
	height: 456px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	overflow:hidden;
}

/* TV */
#tv{
    float: left;
    /*width: 376px;*/
	width: 328px
}
#tv_block{
	float:left;
	/*width:354px;*/
	width:315px;
	height: 456px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 5px;
	overflow:hidden;
}
.tv_recommend_left{
	float:left;
}
.tv_recommend_right{
	float:left;
	margin-left:5px;
}

/* Shop */
#shop{
    float: left;
    width: 727px;
}
#shop_block{
	float:left;
	width:715px;
	height: 342px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
#shop_last{
	float: left;
    width: 449px;
}
.shop_last_left{
	width:145px; 
	float:left; 
	text-align:center;
	min-width:145px;
	height: 140px;
	overflow:hidden;
}
.shop_last_right{
	float:left; 
	width:145px; 
	margin-left:5px;
	text-align:center;
	min-width:145px;
	border-left: 1px dashed #CCCCCC;
	height: 140px;
	overflow:hidden;
}
#shop_recommend{
	float: right;
    width: 262px;
}
.shop_recommend_detail{
	padding:10px;
	border-left: 1px solid #96c6e0;
	border-right: 1px solid #96c6e0;
	border-bottom: 1px solid #96c6e0;
	background-color: #eff6fa;
	height:290px;
	overflow:hidden;
}
.shop_recommend_left{
	float:left;
}
.shop_recommend_right{
	float:left;
	margin-left:5px;
}
#facebook_block{
	float:left; 
	width: 235px; 
	height:323px;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #CCCCCC;
	overflow:hidden;
	padding-right:10px;
}
#dbd_block{
	float:left; 
	width: 235px; 
	height:64px;
	margin-left: 5px;
	margin-top: 5px;
	border: 1px solid #CCCCCC;
	overflow:hidden;
	padding-right:10px;
	text-align: center;
}


/* E-Market & Exclusive Program */
#market{
    float: left;
    width: 456px;
	margin-right:5px;
}
#market_block{
	float:left;
	width:444px;
	height: 322px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
.market_last_left{
	width:150px; 
	float:left; 
	text-align:center;
	min-width:150px;
	height: 150px;
	overflow:hidden;
}
.market_last_right{
	float:left; 
	width:145px; 
	margin-left:0px;
	text-align:center;
	min-width:145px;
	border-left: 1px dashed #CCCCCC;
	height: 150px;
	overflow:hidden;
}

#exclusive{
	float:left;
	width:266px;
}
#exclusive_block{
	float:left;
	width:265px;
	height: 341px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

#twitter_block{
	float:left; 
	width: 245px; 
	height:379px;
	margin-left: 5px;
	overflow:hidden;
	border: 1px solid #CCCCCC;
	background-color:#EEEEEE;
}

/* Sofware Free*/
#software_free_block{
	float:left;
	width:968px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 5px;
	overflow:hidden;
}
.software_free{
	float:left;
	width:135px;
	margin: 0 12px;
	overflow:hidden;
}

/* Dharma*/
#dharma{
    float: left;
    width: 602px;
}
#dharma_block{
	float:left;
	width:590px;
	height: 250px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
#zone_dharma {
	float:left;
	width:600px;
	height:292px;
	border:1px solid #CFCFCF;
	background-color:#F5D850;
}

#zone_dharma_detail {
	width:340px;
	height:auto;
	background-color:#FFFFFF;
	padding:5px;
}

#zone_dharma_detail ul {
	padding:0px;
	margin:0px;
}

#zone_dharma_detail ul li {
	list-style: none inside none;
	padding:1px 0px 1px 0px;
	margin-left:0px;
}

#zone_dharma_detail ul li a {
    background: url("http://images.thaiware.com/ico_candle.gif") no-repeat scroll 5px 50% transparent;
    display: block;
    padding-left:28px;
}

.dharma_font{    
	font-family: Tahoma;
    font-size: 0.9rem;
    font-weight: bold;
}
a.dharma_font{ text-decoration:none; }
a:link .dharma_font {  color:#FF9900; text-decoration: none; }
a:visited .dharma_font{ color:#FF9900; text-decoration: none; }
a:hover .dharma_font { color: #FF9900; text-decoration: underline; }

/* Poll */
#poll{
    float: left;
    width: 373px;
	margin-left:5px;
}
#poll_block{
	float:left;
	width:361px;
	height: 250px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
	background-color: #EFF6FA;
	overflow:hidden;
}

/* Webboard */
#webboard{
	float:left;
	width:745px;
}
#webboard_block{
	float:left;
	width:733px;
	height: 250px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
	overflow:hidden;
}
#webboard_block_left{
	float:left;
	width:465px;
	border-right:1px solid #CCCCCC;
	height:100%;
}
#webboard_block_right{
	float:left;
	width:255px;
	margin-left:10px;
}
/* Community */
.community{
	float:left;
	width:450px;
}
.community_detail{
	float:left;
	padding:5px;
	width: 443px;
}

/* Keyword */
#keyword {
    float: left;
    margin-left: 5px;
    width: 230px;
}
#keyword_block{
	float:left;
	width:218px;
	height: 250px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
	overflow:hidden;
}
/* Zone Tag Link */
#zone_tag {
    margin-left:5px;
	border: 1px solid #CFCFCF;
    width: 371px;
}
#zone_tag_detail {
	background: url("http://images.thaiware.com/bgKeyword.gif") no-repeat bottom center;
	 line-height: 25px;
}/*
#zone_tag_detail ul li a {
    background: url("http://images.thaiware.com/ico_arrowRight6.gif") no-repeat scroll 5px 50% transparent;
    display: block;
    padding-left:25px;
}
#zone_tag_detail ul li {
	list-style: none outside none;
	padding:1px 0px 1px 0px;
}*/
#zone_tag_detail a.top1,#zone_tag_detail a.top1:link,#zone_tag_detail a.top1:visited
{
	color:#074579;
	text-decoration: none;
	font-size:0.8em;
}
#zone_tag_detail a.top1:hover
{
	color:#14abff;
	text-decoration: underline;
	font-size:0.8em;
}
#zone_tag_detail a.top2,#zone_tag_detail a.top2:link,#zone_tag_detail a.top2:visited
{
	color:#074579;
	text-decoration: none;
	font-size:1em;
}
#zone_tag_detail a.top2:hover
{
	color:#14abff;
	text-decoration: underline;
	font-size:1em;
}
#zone_tag_detail a.top3,#zone_tag_detail a.top3:link,#zone_tag_detail a.top3:visited
{
	color:#074579;
	text-decoration: none;
	font-size:1.2em;
}
#zone_tag_detail a.top3:hover
{
	color:#14abff;
	text-decoration: underline;
	font-size:1.2em;
}
#zone_tag_detail a.top4,#zone_tag_detail a.top4:link,#zone_tag_detail a.top4:visited
{
	color:#074579;
	text-decoration: none;
	font-size:1.3em;
}
#zone_tag_detail a.top4:hover
{
	color:#14abff;
	text-decoration: underline;
	font-size:1.3em;
}
#zone_tag_header {
	width:239px;
	height:19px;
	background:url(http://images.thaiware.com/bgHeader_blue.gif) repeat-x;
	padding:5px 0px 5px 5px;
}

/* Mobile */

#mobile_block{
	float:left;
	width:968px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding: 7px 5px;
}
#mobile_last{
	float:left;
	width: 705px;
}
.mobile_last_left{
	width:350px; 
	float:left; 
	border-right: 1px solid #CCCCCC;
}
.mobile_last_right{
	float:right; 
}
.mobile_topic{
	float:left; 
	width:230px;
}
#mobile_recommend{
	float:right;
	width:256px;
}
.recommend_block{
	border: 1px solid #96c6e0;
	background-color: #c4e5f7;
}
.recommend_block h2{
	padding: 5px 5px 5px 10px;
	font-size:16px;
	color:#333333;
}
.recommend_block img{
	vertical-align:middle;
}
.mobile_recommend_detail{
	padding:10px;
	border-left: 1px solid #96c6e0;
	border-right: 1px solid #96c6e0;
	border-bottom: 1px solid #96c6e0;
	background-color: #eff6fa;
}
.mobile_pr_left{
	float:left;
	background: url('http://images.thaiware.com/header/news_pr_left.gif') no-repeat;	
	width:156px;
	height:42px;
	margin-top:5px;
}
.mobile_pr_center{
	float:left;
	background: url('http://images.thaiware.com/header/news_pr_center.gif') repeat-x;	
	width:500px;
	height:42px;
	margin-top:5px;
}
.mobile_pr_right{
	float:left;
	background: url('http://images.thaiware.com/header/news_pr_right.gif') no-repeat;	
	width:37px;
	height:42px;
	margin-top:5px;
}
.mobile_pr_left span{
	float:left;
	padding : 10px 0px 0px 10px;
	font-size:16px;
	color:#666666;
}
.mobile_pr_left img{
	vertical-align:middle;
}
.mobile_pr_center span{
	float:left;
	padding : 10px 0px 0px 10px;
}

/* Game */
#game{
    float: left;
    width: 728px;
}
#game_block {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: left;
    padding: 7px 5px;
    width: 716px;
	height: 422px;
}
#game_news_block{
	float: left;
    width: 449px;
}
#game_recommend{
	float:right;
	width:256px;
}
.game_recommend_detail{
	padding:10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #EEEEEE;
}

/* Tips & Trick */
#tips{
	float:left; 
	margin-left:5px;
	width:247px;
}
#tips_block{
	float:left;
	width: 245px;
	height: 435px;
	border: 1px solid #CCCCCC;
}
