/*html{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)!important;
}
html.colorful{
	-webkit-filter: initial!important;
	filter: initial!important;
}*/
.grayscale{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)!important;
}
h1 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: bold;
}

h2 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-weight: bold;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-weight: bold;
}

h4 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	font-weight: bold;
}

body {
	font-family: tahoma;
	margin: 0px 0px 20px 0px;
	/* background: #FFFFFF url('http://images.thaiware.com/bgMain.gif') top repeat-x; */
}

a {
	text-decoration: none;
}

a:link {
	color: #072E4E;
	text-decoration: none;
}

a:visited {
	color: #00429C;
	text-decoration: none;
}

a:hover {
	color: #14ABFF;
	text-decoration: underline;
}

form {
	margin: 0px;
}

#container {
	margin: 0px auto;
	width: 980px;
	font-size: 0.8rem;
}

.header_center img {
	vertical-align: middle;
	margin-right: 5px;
}

.header_bg_horizontal {
	height: 39px;
	color: #FFF;
}

.header_bg {
	height: 39px;
	background: url('http://images.thaiware.com/header/header_bg.gif') repeat-x 0px 5px;
	color: #FFF;
}

.header_bg_right {
	float: right;
	height: 39px;
	width: 2px;
	background: url('http://images.thaiware.com/header/header_bg_right.gif') no-repeat 0px 5px;
}

.header_left {
	float: left;
	height: 39px;
	width: 8px;
	background: url('http://images.thaiware.com/header/header.gif') no-repeat top left;
}

.header_center {
	float: left;
	background: url('http://images.thaiware.com/header/header_center.gif') repeat-x;
	height: 39px;
}

.header_right {
	float: left;
	height: 39px;
	width: 8px;
	background: url('http://images.thaiware.com/header/header.gif') no-repeat top right;
}

.header_center h1 {
	font-size: 18px;
	padding-top: 3px;
	padding-left: 5px;
}

/* FIX header มีบรรทัดเกิน กลายเป็นหลายบรรทัด */
.header_bg {
	height: auto;
	min-height: 39px;
	position: relative;
	background-position: left bottom;
}

.header_bg > div:nth-child(2) {
	float: none !important;
	position: relative;
	max-width: 720px;
	display: inline-block;
	background-color: #0073D8;
}

.header_bg h1,
.header_bg h2,
.header_bg h3,
.header_bg h4,
.header_bg h5 {
	line-height: 34px;
}

.header_bg h3 {
	font-size: 15px;
}

.header_bg h1 img,
.header_bg h2 img,
.header_bg h3 img,
.header_bg h4 img,
.header_bg h5 img,
.header_bg h6 img {
	position: absolute;
	left: 7px;
	top: 5px;
}

.header_bg .header_center {
	height: auto;
	min-height: 39px;
	padding-bottom: 5px;
	padding-left: 40px;
	float: none;
}

.header_bg .header_left {
	position: absolute;
	height: 100%;
	left: 0px;
	top: 0px;
}

.header_bg .header_right {
	position: absolute;
	height: 100%;
	right: 0px;
	top: 0px;
}

.header_bg .view_more {
	position: absolute;
	right: 0px;
	bottom: 10px;
}

.header_bg .header_bg_right {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

/* END FIX */

.view_more {
	float: right;
	padding-right: 10px;
	padding-top: 13px;
}

.view_more a {
	text-decoration: none;
}

.view_more a:link {
	color: #0055a5;
	text-decoration: none;
}

.view_more a:visited {
	color: #0055a5;
	text-decoration: none;
}

.view_more a:hover {
	color: #0055a5;
	text-decoration: underline;
}

.view_more img {
	vertical-align: middle;
}

.line_zoom {
	color: #0055A5;
	font-size: 15px;
}

#thaiwareADS_blockTop {
	width: 980px;
	text-align: center;
	margin-top: 20px;
	background-color: #333333;
	height: 100px;
}

.thaiwareHeader_block {
	width: 980px;
	height: 65px;
	margin-top: 5px;
}

.thaiwareHeader_logo_ori {
	width: 404px;
	height: 60px;
	background-image: url('http://images.thaiware.com/thaiwareLogo_original.gif');
	background-repeat: no-repeat;
	color: #FFF;
	margin: 0;
}

.thaiwareHeader_logo_ori a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
}

#thaiwareSearch_block {
	width: 980px;
	height: 64px;
	background-image: url('http://images.thaiware.com/top_bg_980.gif');
	background-color: #000;
}

.no_data {
	clear: both;
	float: left;
	width: auto;
	margin: 10px;
	padding: 10px;
	background-color: #FFE6E6;
	border: #FF0033 2px dashed;
	color: #FF0000;
	font-weight: bold;
	text-align: center;
}

/* Dotted Button Block */

#dottedButton_block {
	margin: 5px;
	padding: 10px;
	width: 509px;
	height: auto;
	border: #A2A2A2 1px dotted;
	text-align: center;
	font-size: 0.8rem;
	float: left;
}

.dottedButton_block_tab {
	margin: 5px;
	padding: 10px;
	width: 460px;
	height: auto;
	border: #A2A2A2 1px dotted;
	text-align: center;
	font-size: 0.8rem;
	float: left;
}

/*************************** MENU LEFT & RIGHT ZONE ***************************/
/* LEFT Side */

.thaiwareLeftContent_block {
	/*width:178px;*/
	width: 248px;
	height: auto;
	border: 1px solid #CFCFCF;
}

/* CENTER */

.thaiwareMainContent_block {
	width: 541px;
	height: auto;
	float: left;
	border: 1px solid #CFCFCF;
}

.thaiwareMainContent_block_sub {
	width: 541px;
	height: auto;
	float: left;
}

.thaiwareMainContent_block_data {
	width: 521px;
	height: auto;
	float: left;
}

/* RIGHT Side */

.thaiwareRightContent_block {
	width: 245px;
	height: auto;
	border: 1px solid #CFCFCF;
}

/* TOPIC HEADER */

.topicHeader_dark_blue980 {
	width: 975px;
	padding: 5px 0 5px 5px;
	height: 19px;
	background-image: url('http://images.thaiware.com/bgTopic_blue.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_light_blue {
	padding: 5px;
	height: 19px;
	background-image: url('http://images.thaiware.com/bgHeader_blue.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_light_blue301 {
	width: 291px;
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgHeader_blue.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_light_blue299 {
	width: 289px;
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgHeader_blue.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_light_blue595 {
	width: 595px;
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgHeader_blue.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_dark_blue {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_blue.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_yellow {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_yellow.gif');
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.topicHeader_black {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_black.gif');
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.topicHeader_pink {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_margenta.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_green {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_green.gif');
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.topicHeader_red {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_red.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_orange {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_orange.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_purple {
	height: 19px;
	padding: 5px;
	background-image: url('http://images.thaiware.com/bgTopic_purple.gif');
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}

.topicHeader_light_yellow {
	padding: 5px;
	height: 19px;
	background-image: url('http://images.thaiware.com/bgTopic_yellow_dharma.gif');
	font-size: 16px;
	font-weight: bold;
	color: #000;
}

.topicHeader_dark_blue h3, .topicHeader_light_blue h3 {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: bold;
}

/*FONT STYLE*/
.mediumFont {
	font-family: Tahoma;
	font-size: 0.9rem;
	font-weight: bold;
}

.empFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #FF0033;
}

.blueFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #0066FF;
}

.greenFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #339933;
}

.yellowFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #FFCC00;
}

.orangeFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #FF6600;
}

.grayFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #666666;
}

.pinkFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #FF0066;
}

.goldFont {
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: bold;
	color: #c60;
}

.requiredFont {
	font-weight: bold;
	color: #FF0033;
}

.showList h5 {
	border-bottom: 1px dotted #CFCFCF;
	font-weight: normal;
	background-image: url('http://images.thaiware.com/ico_arrowRight3.gif');
	background-repeat: no-repeat;
	padding: 1px 0px 1px 15px;
	margin: 0px;
	font-family: Tahoma;
	font-size: 0.8rem;
}

.directory h5 {
	font-weight: normal;
	background-image: url('http://images.thaiware.com/ico_arrowRight2.gif');
	background-repeat: no-repeat;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	font-family: Tahoma;
	font-size: 0.8rem;
}

.viewMore {
	float: right;
	text-align: right;
	font-size: 0.8rem;
	padding-top: 2px;
}

/* Submit Related Section */

.thaiwareBig_block {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	font-family: Tahoma;
	font-size: 0.8rem;
	color: #000000;
	position: relative;
}

/* Submit Related Section */

#submitCheckBox_block {
	width: auto;
	height: 35px;
	padding: 3px;
	background: #FFC6C6;
	border: 2px solid #FF0000;
	font-size: 0.8rem;
}

#submitError_block {
	margin: 10px 5px 10px 5px;
	padding: 5px;
	width: auto;
	height: auto;
	border: 3px solid #FF0000;
	font-size: 0.8rem;
	background-color: #FFFFFF;
	background-image: url('http://images.thaiware.com/bgCD_big.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

#submitError_block ul#submitError_list {
	margin: 0px;
	padding-left: 20px;
	list-style-image: url(http://images.thaiware.com/ico_arrowRight2.gif);
	list-style-position: outside;
	line-height: normal;
	font-size: 0.8rem;
}

/************************ Webpage Index **********************************/
#premiereDL_block {
	width: 486px;
	height: auto;
	float: left;
	border: 1px solid #CFCFCF;
	padding: 10px;
	background-color: #DCE6DB;
}

#premiereDL_block #screenshot_block {
	width: 120px;
	float: left;
	background-color: #DCE6DB;
	text-align: center;
}

#premiereDL_block #softwareDetail_block {
	width: 344px;
	float: left;
	border: #0066FF 1px dashed;
	padding: 10px;
	background-color: #FFFFFF;
}

#wallpaperToday_block {
	width: 209px;
	height: 234px;
	float: left;
	text-align: center;
	background-color: #FFCC33;
	margin: 0px 5px 0px 5px;
}

#akieArticle_block {
	width: 180px;
	height: auto;
	padding: 0px 0px 10px 0px;
	float: right;
	background-color: #000000;
	text-align: center;
}

#softwareListRight_sponsor_block {
	height: auto;
	background-color: #F0F0F0;
	background-image: url('http://images.thaiware.com/bgMouse_big.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

#softwareListRight_firstAid_block {
	height: auto;
	background-color: #F0F0F0;
	background-image: url('http://images.thaiware.com/bgPositive_big.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

#thaiwareTV_block {
	float: right;
	width: 299px;
	height: auto;
	border: 1px solid #CFCFCF;
	background-image: url('http://images.thaiware.com/bgTV_big.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

#thaiwareCommunity_block {
	float: left;
	width: 468px;
	height: auto;
	padding-bottom: 5px;
	background-color: #CCEEFF;
}

/* SUBMIT PROGRAM */
ul.remark_list {
	list-style-image: url(http://images.thaiware.com/ico_arrowRight9.gif);
	list-style-position: outside;
	line-height: normal;
	margin: 0px;
	padding: 10px 5px 10px 15px;
	border: 1px dotted #333333;
	background-color: #FFFFFF;
	background-image: url('http://images.thaiware.com/bgCD_big.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

ul.remark_list li {
	margin: 0px 0px 10px 10px;
}

/* Upload Form Section */

#uploadForm_container {
	margin: 10px 5px 10px 5px;
	height: auto;
	border: #0066FF 1px solid;
	font-family: tahoma;
	font-size: 0.8rem;
}

#uploadForm_container .uploadForm_colLeft {
	float: left;
	width: 150px;
	height: 40px;
	padding: 5px;
	text-align: left;
	background-color: #DBEBFD;
	border-right: 1px dotted #0099FF;
	border-bottom: 1px dotted #0099FF;
}

#uploadForm_container .uploadForm_colLeftPic {
	float: left;
	width: 150px;
	height: 40px;
	padding: 5px;
	text-align: left;
	background-color: #DBEBFD;
}

#uploadForm_container .uploadForm_colRightPic {
	float: left;
	width: 312px;
	height: 40px;
	padding: 4px;
	text-align: left;
	border-bottom: 1px dotted #0099FF;
	border-left: 1px dotted #0099FF;
	background-color: #FFF;
}

#uploadForm_container .uploadForm_colRight {
	float: left;
	width: 310px;
	height: 40px;
	padding: 5px;
	text-align: left;
	border-bottom: 1px dotted #0099FF;
	background-color: #FFF;
}

ul.remark_list_download {
	list-style-image: url(http://images.thaiware.com/ico_arrowRight9.gif);
	list-style-position: outside;
	line-height: normal;
	margin: 0px;
	padding: 10px 5px 10px 15px;
	background-color: #FFFFFF;
	background-image: url('http://images.thaiware.com/bgPositive_big.gif');
	background-repeat: no-repeat;
	background-position: bottom right;
}

ul.remark_list_download li {
	margin: 0px 0px 10px 10px;
}

ul.remark_list_project {
	list-style-image: url(http://images.thaiware.com/ico_arrowRight9.gif);
	list-style-position: outside;
	line-height: normal;
	margin: 0px;
	padding: 10px 5px 10px 15px;
	background-color: #FFFFFF;
}

ul.remark_list_project li {
	margin-left: 15px;
}

.directory h5 {
	font-weight: normal;
	background-image: url('http://images.thaiware.com/ico_arrowRight2.gif');
	background-repeat: no-repeat;
	padding: 0px 0px 0px 15px;
	margin: 0px;
	font-family: Tahoma;
	font-size: 0.8rem;
}

.product_showPage {
	clear: both;
	padding: 10px;
	background-color: #E6F7FF;
	border: 1px solid #0066FF;
}

/*FONT STYLE*/

.bigFont {
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
}

.mediumFont {
	font-family: Tahoma;
	font-size: 0.9rem;
	font-weight: bold;
}

#thaiwareFacebookConnect_block {
	clear: both;
	float: left;
	background-color: #EDF7FE;
	border: 1px #0066CC dashed;
	padding: 10px;
	margin: 5px;
	line-height: 1.5em;
	background-image: url('http://images.thaiware.com/ico_facebook_128.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* Search Paging */

.searchPaging_block {
	float: left;
	margin: 0px 0px 3px 0px;
	padding: 3px;
	width: 703px;
	height: auto;
	border: 1px solid #0099FF;
	background-color: #DBEBFD;
	font-size: 0.8rem;
}

.spacer_main, .spacer {
	height: 5px;
	font-family: Tahoma;
	font-size: 1px;
	display: block;
	clear: both;
}

/* block banner standard : width 980 px */
.block_banner {
	width: 980px;
	background-color: #FFF;
}

/******************* Navigator Main Menu *****************************/

#nav ul {
	width: 980px;
	margin: 0px;
	padding: 0px;
	height: 33px;
	font: bold 13px Tahoma;
	list-style-type: none;
	text-align: center; /*set to left, center, or right to align the menu as desired*/
	background: url(http://images.thaiware.com/mainmenu/top.gif) repeat-x top center;
	position: relative;
}

#nav ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
}

#nav ul li .sperator {
	float: left;
	display: block;
	border-right: 1px solid #bccad3;
	height: 28px;
}

#nav ul li a, #nav ul li a:link, #nav ul li a:visited, #nav ul li a:active {
	float: left;
	display: block;
	padding: 5px 10px 0px 10px;
	margin: 0px;
	height: 28px;
	text-decoration: none;
	color: #06C;
	background: url(http://images.thaiware.com/mainmenu/top.gif) repeat-x top center;
}

#nav ul li a:hover {
	color: #FFF;
	text-decoration: none;
	background: url(http://images.thaiware.com/mainmenu/top_over.gif) repeat-x top center;
}

#nav ul li a.arrow, #nav ul li a.arrow:link, #nav ul li a.arrow:visited, #nav ul li a.arrow:active {
	background: url(http://images.thaiware.com/mainmenu/topsub.gif) repeat-x top center;
}

#nav ul li a.arrow:hover, #nav ul li a.arrow_current, #nav ul li a.arrow_current:hover {
	color: #FFF;
	text-decoration: none;
	background: url(http://images.thaiware.com/mainmenu/topsub_over.gif) repeat-x top center;
}

#navsub {
	clear: left;
	width: 980px; /*width of 2nd level sub menus*/
	height: 34px; /*height of 2nd level sub menus. Set to largest's sub menu's height to avoid jittering.*/
	background: url(http://images.thaiware.com/mainmenu/sub.gif) no-repeat top center;
	position: relative;
}

#navsub .content {
	display: none;
}

#navsub .content ul {
	margin: 0px;
	padding: 0px;
}

#navsub .content ul li {
	display: inline;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

#navsub .content ul li a, #navsub .content ul li a:link, #navsub .content ul li a:visited, #navsub .content ul li a:active {
	float: left;
	display: block;
	margin-top: 2px;
	margin-right: 8px;
	padding: 4px 15px;
	color: #06C;
	text-decoration: none;
	background: url(http://images.thaiware.com/mainmenu/sub_link.gif) repeat-x top center;
	border: 1px solid #FFF;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

#navsub .content ul li a:hover {
	background: none;
	background-color: #ccedff;
	border: 1px solid #FFF;
	padding: 4px 15px;
	text-decoration: none;
}

#navsub .content ul li a img {
	vertical-align: middle;
}

/* START : Login Menu (header zone) */
#loginNavigation {
	width: 122px;
	height: 57px;
	margin: 0;
}

#loginNavigation li {
	list-style: none outside;
}

#loginNavigation li span {
	visibility: hidden;
}

#loginNavigation li a {
	display: block;
	height: 19px;
	background-repeat: no-repeat;
	text-decoration: none;
}

#loginNavigation li#loginNavigation_signin a {
	background-image: url(http://images.thaiware.com/login_zone_all.gif);
	background-position: 0px 0px;
	width: 122px;
}

#loginNavigation li#loginNavigation_signin a:hover {
	background-image: url(http://images.thaiware.com/login_zone_all.gif);
	background-position: -122px 0px;
	width: 122px;
}

#loginNavigation li#loginNavigation_signup a {
	background-image: url(http://images.thaiware.com/login_zone_all.gif);
	background-position: 0px -20px;
	width: 122px;
}

#loginNavigation li#loginNavigation_signup a:hover {
	background-image: url(http://images.thaiware.com/login_zone_all.gif);
	background-position: -122px -20px;
	width: 122px;
}

#loginNavigation li#loginNavigation_newsletter a {
	background-image: url(http://images.thaiware.com/login_zone_all.gif);
	background-position: 0px -39px;
	width: 122px;
}

#loginNavigation li#loginNavigation_newsletter a:hover {
	background-image: url(http://images.thaiware.com/login_zone_all.gif);
	background-position: -122px -39px;
	width: 122px;
}

/* END : Login Menu (header zone) */

/* START : FOOTER ZONE */
#footer_menu {
	margin: 10px 20px 0px 50px;
	text-align: left;
	line-height: 25px;
	color: #FFFFFF;
}

#footer_menu a {
	color: #FFFFFF;
	text-decoration: none;
}

#footer_menu a:link {
	color: #FFFFFF;
	text-decoration: none;
}

#footer_menu a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#footer_menu a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}

/* END : FOOTER ZONE */

/* TABLE HORIZONTAL*/
.tbl_horizontal {
	border: 1px solid #0099FF;
	background-color: #FFF;
	font-family: tahoma;
	font-size: 0.8rem;
}

.tbl_horizontal tr th {
	background-color: #DBEBFD;
	border-left: 1px dotted #0099FF;
	padding: 10px;
	text-align: center;
}

.tbl_horizontal tr td {
	border-left: 1px dotted #0099FF;
	border-top: 1px dotted #0099FF;
	padding: 5px;
}

.clear {
	clear: both;
}

img {
	border: 0px;
}

.webpage_width_main {
	width: 980px;
}

.webpage_width {
	width: 980px;
	height: 95px;
}

#thaiwareSearch_inputBlock {
	width: 540px;
	margin: 18px 0px 0px 30px;
}

#thaiwareSearch_input {
	font-family: Tahoma;
	font-size: 10pt;
	font-weight: bold;
	border: 5px solid rgb(0, 102, 204);
	padding: 1px 4px;
	width: 480px;
}

#thaiwareSearch_button {
	width: 70px;
	margin: 19px;
}

#ads_02 {
	width: 480px;
	height: 60px;
	background-color: #06F; /* delete after*/
}

/* Border Redius */

.border_redius_top {
	background: url(http://images.thaiware.com/border_redius_02.gif) no-repeat right top;
	background-color: #EEE;
}

.border_redius_top img {
	display: block
}

.border_redius_bottom {
	background: url(http://images.thaiware.com/border_redius_04.gif) no-repeat right bottom;
	background-color: #EEE;
}

.border_redius_bottom img {
	display: block
}

/***** Content Block *******/

/* Left : 2 block Content */
.thaiwareLeftContent_blockLarge {
	border: 1px solid #CFCFCF;
	height: auto;
	width: 245px;
}

/* Left : 3 block Content */
.thaiwareLeftContent_blockSmall {
	border: 1px solid #CFCFCF;
	height: auto;
	width: 175px;
}

.thaiwareRightContent_blockSmall {
	border: 1px solid #CFCFCF;
	height: auto;
	width: 248px;
}

/* Comment */
.showPage {
	background-color: #DBEBFD;
	border: 1px solid #0099FF;
	/*float: left;*/
	height: auto;
	margin: 0 0 3px;
	padding: 3px; /* width: 718px;*/
}

/***** MENU : Software Review *****/
#software_menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#software_menu ul li {
	padding-top: 0px;
	padding-bottom: 0px;
}

#software_menu ul li a {
	color: #072E4E;
	background: url(http://images.thaiware.com/ico_arrow3.gif) no-repeat 3px center;
	display: block;
	padding: 2px 0px;
	padding-left: 20px;
	text-decoration: none;
	border-bottom: 1px dotted #CFCFCF;
}

#software_menu ul li a:visited {
	color: #00429C;
}

#software_menu ul li a:hover {
	color: #14ABFF;
	background-color: #EBF7FE;
	text-decoration: underline;
}

/* Right Menu : Software */
#thaiwareTopDL_block {
	clear: both;
	height: auto;
	border: 1px solid #CFCFCF;
}

#topDownload h6 {
	clear: both;
	border-bottom: 1px dotted #CFCFCF;
	font-family: Tahoma;
	font-size: 0.8rem;
	font-weight: normal;
	padding: 1px;
	margin: 0px;
}

a.linkWhite {
	color: #FFFFFF;
	text-decoration: none;
}

a.linkWhite:link {
	color: #FFFFFF;
	text-decoration: none;
}

a.linkWhite:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a.linkWhite:hover {
	color: #FFFF00;
	text-decoration: underline;
}

/* Right Menu : Software */

.detail {
	/*font-size: 0.8rem;*/
	font-size: 16px;
	line-height: 17px;
        color:#333333;
}
.detail h2{
	font-size: 22px;
}
.detail h3{
	font-size: 19px;
}
.detail h4{
	font-size: 17px;
}
.top_logo {
	left: 0;
	position: absolute;
	top: 0;
}

blockquote {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.btn.btn-white {
	background-color: white;
	color: #444444;
	display: inline-block;
	text-align: center;
	border: 1px solid #CCCCCC !important;
	text-decoration: none;
	padding: 3px 8px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.btn.btn-white img {
	vertical-align: top;
	display: inline-block;
}

.btn.btn-white:hover,.btn.btn-white.active {
	background-color: #eeeeee;
}

.btn.btn-white:active,.btn.btn-white.active {
	box-shadow: inset 0 0 7px #ccc;
	-moz-box-shadow: inset 0 0 7px #ccc;
	-webkit-box-shadow: inset 0 0 7px #ccc;
}
/* Review & Tips Youtube video*/
#youtube {
	width: 325px;
	position: relative;
	border: 1px solid #ccc;
	height: 370px;
	overflow: hidden;
	background: #fff;
}

#youtube ul.ui-nav {
	position: absolute;
	top: 0;
	right: 0px;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 325px;
	height: 370px;
	overflow: auto;
	overflow-x: hidden;
}

#youtube ul.ui-nav li {
	padding: 1px 0;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 12px;
	color: #666;
	height: 88px;
}

#youtube ul.ui-nav li img {
	float: left;
	margin: 2px 5px;
	background: #fff;
	padding: 2px;
	border: 1px solid #eee;
}

#youtube ul.ui-nav li span {
	font-size: 12px;
	line-height: 18px;
	display: block;
	margin: 5px;
}

#youtube li.ui-nav-item a {
	display: block;
	height: 88px;
	text-decoration: none;
	color: #333;
	background: #fff;
	line-height: 2px;
	outline: none;
}

#youtube .line-item {
	border-bottom: 1px dashed #CCCCCC;
	clear: both;
	font-size: 1px;
	height: 1px;
}

#youtube li.ui-nav-item a:hover {
	background: #f2f2f2;
}

#youtube ul.ui-nav li.ui-tabs-selected a, #youtube ul.ui-nav li.ui-active a {
	background: #DCF1FF;
}

.hot_tags ul {
	display: inline;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.hot_tags ul li {
	display: block;
	float: left;
	margin: 3px 0px 0px 5px;
	padding: 0px;
	border-right: 1px dashed #CCC;
	height: 46px;
	overflow: hidden;
}

.hot_tags ul li img {
	vertical-align: middle;
}

.hot_tags ul li a, .hot_tags ul li a:link, .hot_tags ul li a:visited {
	display: block;
	margin-right: 5px;
	padding: 5px;
	text-decoration: none;
	font-size: 13px;
}

.btn-social {
	display: inline-block;
	line-height: 30px;
	color: white !important;
	text-align: center;
	margin-right: 5px;
	text-decoration: none !important;
}

.btn-social .count {
	display: inline-block;
	color: white;
	font-size: 12px;
	width: 35px;
}

.btn-social > i {
	padding: 5px;
}

.keyword_tag {
	float: right;
	margin: 0px 0px 5px 5px;
	padding: 5px;
	background-color: #FFF;
	border: 1px solid #CCC;
}

/* CATEGORY SELECTOR (FORM) */
.multi_category_selector_wrap .subcategory_input{
	display:none;
}
.multi_category_selector_wrap {
	padding-top:1px;
	float: left;
	width: 250px;
	margin-right: 5px;
	overflow-y:auto;
	max-height:250px;
}
.multi_category_selector_wrap .category_input a {
	display: block;
	text-decoration: none;
	color:#000;
	height: 15px;
	line-height: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	margin-top:-1px;
	background: #fff;
}
.multi_category_selector_wrap .category_input a.active{
	background:#eee;
}

.multi_category_selector_wrap .category_input a:hover {
	background:#eee;
}

.multi_category_selector_wrap .category_input div,
.multi_category_selector_wrap .category_input label {
	display: inline-block;
	z-index:10;
}
.ckeditor-imageSlider.swiper-container{
	width: 95% !important;
	max-width: 667px;
}

/*canvas panorama*/
.tw-canvas-panorama-view-block{
	margin: 0 auto;
	background-color: rgba(0,0,0,0.9);
	font-size: 0;
	position: relative;
}
.tw-canvas-panorama-view{
	width: 100%;
	cursor: -webkit-grab;
	cursor: grab;
}
.tw-panorama-circle{
	opacity: 0.6;
	background-color: rgba(218, 218, 218, 1);
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 14px;
	border-radius: 50%;
	border: 2px solid #666;
	pointer-events: none;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-o-pointer-events: none;
	transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	text-align: center;
	padding: 13px 10px;
	display: none;
}
.tw-canvas-panorama-view-block canvas{
	display: none;
}
.tw-canvas-panorama-view-block.active .tw-panorama-circle{
	opacity: 1;
	background-color: rgb(255, 255, 255);
}
.tw-canvas-panorama-view-loading {
	display: table;
	background: black;
	padding-bottom: 47%;
	width: 100%;
}
.fountainG-block{
	position:relative;
	width:144px;
	height:17px;
	margin:auto;
}
.fountainG{
	position:absolute;
	top:0;
	background-color:rgba(255,255,255,0.98);
	width:17px;
	height:17px;
	animation-name:bounce_fountainG;
	-o-animation-name:bounce_fountainG;
	-ms-animation-name:bounce_fountainG;
	-webkit-animation-name:bounce_fountainG;
	-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
	-o-animation-duration:1.5s;
	-ms-animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-direction:normal;
	-o-animation-direction:normal;
	-ms-animation-direction:normal;
	-webkit-animation-direction:normal;
	-moz-animation-direction:normal;
	transform:scale(.3);
	-o-transform:scale(.3);
	-ms-transform:scale(.3);
	-webkit-transform:scale(.3);
	-moz-transform:scale(.3);
	border-radius:11px;
	-o-border-radius:11px;
	-ms-border-radius:11px;
	-webkit-border-radius:11px;
	-moz-border-radius:11px;
}

.fountainG_1{
	left:0;
	animation-delay:0.6s;
	-o-animation-delay:0.6s;
	-ms-animation-delay:0.6s;
	-webkit-animation-delay:0.6s;
	-moz-animation-delay:0.6s;
}

.fountainG_2{
	left:18px;
	animation-delay:0.75s;
	-o-animation-delay:0.75s;
	-ms-animation-delay:0.75s;
	-webkit-animation-delay:0.75s;
	-moz-animation-delay:0.75s;
}

.fountainG_3{
	left:36px;
	animation-delay:0.9s;
	-o-animation-delay:0.9s;
	-ms-animation-delay:0.9s;
	-webkit-animation-delay:0.9s;
	-moz-animation-delay:0.9s;
}

.fountainG_4{
	left:54px;
	animation-delay:1.05s;
	-o-animation-delay:1.05s;
	-ms-animation-delay:1.05s;
	-webkit-animation-delay:1.05s;
	-moz-animation-delay:1.05s;
}

.fountainG_5{
	left:72px;
	animation-delay:1.2s;
	-o-animation-delay:1.2s;
	-ms-animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
	-moz-animation-delay:1.2s;
}

.fountainG_6{
	left:90px;
	animation-delay:1.35s;
	-o-animation-delay:1.35s;
	-ms-animation-delay:1.35s;
	-webkit-animation-delay:1.35s;
	-moz-animation-delay:1.35s;
}

.fountainG_7{
	left:108px;
	animation-delay:1.5s;
	-o-animation-delay:1.5s;
	-ms-animation-delay:1.5s;
	-webkit-animation-delay:1.5s;
	-moz-animation-delay:1.5s;
}

.fountainG_8{
	left:126px;
	animation-delay:1.64s;
	-o-animation-delay:1.64s;
	-ms-animation-delay:1.64s;
	-webkit-animation-delay:1.64s;
	-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
		transform:scale(1);
		background-color:rgba(255,255,255,0.97);
	}

	100%{
		transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
		-o-transform:scale(1);
		background-color:rgba(255,255,255,0.97);
	}

	100%{
		-o-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
		-ms-transform:scale(1);
		background-color:rgba(255,255,255,0.97);
	}

	100%{
		-ms-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
		-webkit-transform:scale(1);
		background-color:rgba(255,255,255,0.97);
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
		-moz-transform:scale(1);
		background-color:rgba(255,255,255,0.97);
	}

	100%{
		-moz-transform:scale(.3);
		background-color:rgb(0,0,0);
	}
}

/*NEWREQUEST ACTION*/
.action_type_Add input[type=checkbox],.action_type_Edit input[type=checkbox],.action_type_Del input[type=checkbox],.action_type_On input[type=checkbox],.action_type_Off input[type=checkbox]{
	vertical-align: top;
	margin-top: 2px;
	position: absolute;
	left: 4px;
}
label.action_type_Add,label.action_type_Edit,label.action_type_Del,label.action_type_On,label.action_type_Off{
	position: absolute;
	box-shadow: 0 0 5px #aaa;
	-webkit-box-shadow: 0 0 5px #aaa;
	-moz-box-shadow: 0 0 5px #aaa;
}
.action_type_Add,.action_type_Edit,.action_type_Del,.action_type_On,.action_type_Off
{
	padding:5px 10px;
	font-weight:bold;
	width:40px;
	margin:0 auto;
	left: 0;
	top:0;
	display: block;
	text-align: center;
	z-index: 3;
}
.action_type_Add
{
	background-color:#393;
	color:#FFF;
}

.action_type_Edit
{
	background-color:#09C;
	color:#FFF;
}

.action_type_Del
{
	background-color:#F30;
	color:#FFF;
}
.action_type_On
{
	background-color:#60C9E8;
	color:#FFF;
}
.action_type_Off
{
	background-color:#F3F;
	color:#FFF;
}

/*main search autocomplete*/
#main-search-autocomplete{
	max-height: calc(100vh - 250px);
	overflow-y: auto;
	font-size: 16px;
	padding: 0;
	background: white !important;
	width: 385px !important;
}
#main-search-autocomplete li a{
	display: block;
	text-decoration: none !important;
}
#main-search-autocomplete .ui-menu-divider{
	font-weight: bold !important;
	padding: 0 !important;
	border-top: 2px solid #ccc !important;
	margin: 0 !important;
}
#main-search-autocomplete .ui-state-focus, .ui-menu .ui-state-active{
	margin: 0 !important;
}
#main-search-autocomplete .ui-menu-item.ui-state-focus{
	border: 1px solid transparent;
	border-top: 1px dashed #ccc;
	background-color: #eee;
	font-weight: inherit;
	color: #444 !important;
	-webkit-transition: background-color 250ms;
	-moz-transition: background-color 250ms;
	-o-transition: background-color 250ms;
	transition: background-color 250ms;
}
#main-search-autocomplete .ui-menu-item{
	background: white;
	padding: 0 !important;
	font-size: 14px;
	color: #444 !important;
	border: 1px solid transparent;
	border-top: 1px dashed #ccc;
}
#main-search-autocomplete .ui-menu-item a{
	color: #444 !important;
	padding: 5px 7px;
	display:block;
	float:left;
	width:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#main-search-autocomplete .ui-menu-item a > table{
	width: 100%;
}
#main-search-autocomplete .ui-menu-item a > table td{
	text-align: left;
}
#main-search-autocomplete .ui-menu-item a > table td.list-name {
	position: relative;
}
#main-search-autocomplete .ui-menu-item a.no-image{
	padding: 8px 7px;
}
#main-search-autocomplete .ui-menu-item a .type{
	display: inline-block;
	color: #bbb;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 0;
}
#main-search-autocomplete .ui-menu-divider + .ui-menu-item, #main-search-autocomplete .ui-menu-item:first-child{
	border-top: 1px solid transparent !important;
}
#main-search-autocomplete .ui-menu-item-6{
	width: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	float: left;
	border: 1px solid transparent !important;
	text-align: center;
}
#main-search-autocomplete .ui-menu-item-12{
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block;
	float: left;
	border: 1px solid transparent !important;
	text-align: center;
}

table.main_header{
	margin-bottom: 10px;
}
table.main_header td:nth-of-type(1){
	vertical-align: top;
	border-left: 4px solid #4581bd;
	width: 30%;
}
table.main_header td:nth-of-type(2){
	vertical-align: middle;
	width: 70%;
}
table.main_header td:nth-of-type(1) h1{
	padding: 5px 10px;
	color: #0b58a7;
	font-weight: bolder;
	font-size: 18px;
}
table.main_header td:nth-of-type(2) > div{
	color:#333;
	line-height:1.4em;
	padding:10px;
	background-color: #e1f8ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
}
.tw-left-menu-cate .menu li a {
	text-shadow: none !important;
}
.tw-left-menu-cate .cate-menu.active a{
	background: #c7c7c7;
	text-decoration: none;
	color: black !important;
}
.image-zoomable{
	color: inherit !important;
}

.social-button{
	width: 100%;
	text-align: left;
	font-size: 16px;
	box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
	text-decoration: none !important;
	display: inline-block;
}
.social-icon i{
	font-size:14px;
}
.social-icon{
	float: left;
	position: absolute;
	padding: 8px 0;
	width: 35px;
	text-align: center;
}
.social-content{
	padding: 8px 10px;
	float: left;
	padding-left: 45px;
	width: 100%;
	box-sizing: border-box;
}
.mail-button{
	color: white !important;
	background: #6f6f6f;
}
.mail-button .social-content{
	background-color: #585858;
}
.mail-button .social-icon{
	background: #6f6f6f;
}
.googleplus-button{
	color: white !important;
	background: #D03E2C;
}
.googleplus-button .social-content{
	background-color: #B7200E;
}
.googleplus-button .social-icon{
	background: #D03E2C;
}
.facebook-button{
	color: white !important;
	background: #3B5997;
}
.facebook-button .social-content{
	background-color: #293C64;
}
.facebook-button .social-icon{
	background: #3B5997;
}
.social-button-block .social-process{
	color: red;
	font-size: 12px;
	text-align: left;
}
.social-button.disabled{
	cursor: default;
	pointer-events: none;
}
.social-button.loading{
	cursor: default;
	pointer-events: none;
}
.social-button.disabled,
.social-button.loading,
.social-button.disabled .social-content,
.social-button.disabled .social-icon,
.social-button.loading .social-content,
.social-button.loading .social-icon
{
	background-color: #ccc;
}
.social-button.loading i.fa{
	-webkit-animation: fa-spin 2s infinite linear !important;
	animation: fa-spin 2s infinite linear !important;
}
.social-button.loading i.fa:before{
	content: "\f110" !important;
}

.lazada-main-block{
	max-height: 120px;
	overflow: hidden;
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-ms-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
	transition: max-height 0.5s;
	margin: -5px;
	padding: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.lazada-main-block:not(.expanded):hover{
	background: aliceblue;
}
.lazada-main-block.expanded{
	max-height: 1080px;
}