/*JWPlayer ad control bar always show: Sometimes theres no volume control bar. (maybe when jw thinks its vpaid?) */
.jwplayer.jw-flag-ads-vpaid .jw-controlbar {
    display: block !important;
}

.video #overlay_welcome .jwplayer {
	opacity: 1;
	z-index: 1;
}
.section-article.legacy .article-section-header.article.video > .container  .badge {
	top: 90px;
	right:20px;
}
.article-section-header.article.video > .container {
	max-width: none;
}
@media screen and (max-width:1200px){.article-section-header.article.video > .container .badge{display:none;}
}

.hidden{display:none !important;}

.gallery-section-copy {z-index:10;}

.collections-article img {width:85px;height:85px;}

.fb-comments.fb_iframe_widget, .fb-comments.fb_iframe_widget span, .fb-comments.fb_iframe_widget iframe[style] { min-width: 100% !important;}
.fb-commentHolder{display:none;}

.article-meta-photo {width:50px;}

.ad.ad-bump-bottom {padding-bottom:40px;}
.ad.ad-bump-bottom-16 {padding-bottom:16px;}
/* changes side reel functionlity
 @media screen and (min-width: 768px) {
	.side-reel-content {
		overflow-y: visible;
		height:auto;
	}
	.side-reel.fixed {
		top: 0;
	}
	.article-container {overflow:visible;}
}
*/
 @media screen and (min-width: 1024px) {
    /* line 505, /Users/marcboogie/Sites/ttmb-frontend/tasting-table/src/sass/includes/_video.scss */
    .hero.video-single .video-copy .play-video .video-container {
      z-index: 20; } 
}
/* video detail page */

.article-section-header.article.video .video-container { visibility:hidden; }
.article-section-header.article.video .play-video .video-container { visibility:visible; }
.article-section-header.article.video:before, .article-section-header.article.video .hero-background:before {background: none;}
.video-block.active.play-video .video-play-button {display:none;}
/* print fixes */
@media print{
	*{transition:none!important}
	.around-the-web,.article-module.slideshow,.article-next-step,.article-next-step-small,.more-recommended, #wave_signup, footer, .tags, .badge, .global-header, .article-section-header.share-only {display:none !important;}
}
/* list video */
.video-inline {position:relative;margin-bottom: 10px;}
.video-inline .video-container {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 381px;
}
.video-inline svg:hover {
    fill: #ff004c;
    transition: all .25s;
}
.video-inline .video-play-button {    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;}
.video-inline .jwplayer, .video-inline .play-video h1, .video-inline .play-video p, .video-inline .play-video svg {
	display:none;
}
.video-inline.play-video .video-container .jwplayer {
    display: block;
    position: relative;
    opacity: 1;
    transition: opacity .25s;
    z-index: 10;
}
.video-inline.play-video .video-container {
	width: 100%;
	height: auto;
}	
/* zergnet right rail cut off */
.fixed .side-reel-content {
    min-height: 0;
}
/* share colors */
.article-header .article-footer {margin:0;}
/* START UNSUBSCRIBE PAGE LIFTED FROM style_v2.css */
#unsubnew-main label {
	margin:0px;
	padding:0px;
}
#unsubnew-main img{border-style:none;}
#unsubnew-main a{
	color:#00f;
	text-decoration:underline;
}
#unsubnew-main a:hover{text-decoration:none;}
#unsubnew-main form, #unsubnew-main fieldset {
	border-style:none;
	margin:0;
	padding:0;
}
#unsubnew-main input{
	font:100% Arial, Helvetica, sans-serif;
	outline:none;
	vertical-align:middle;
	text-indent:-9999px;
}

#unsubnew-main{
	margin:100px auto 0 auto;
	padding:0 0 35px;
	width:956px;
	background:white;
	color:#020202;
	font:17px/22px Georgia, serif;
}
#unsubnew-main .gray-holder{
	background:#e5e5e5;
	margin:0 0 36px;
	min-height:93px;
	padding:61px 37px 21px;
	position:relative;
}
#unsubnew-main .txt-before-go,
#unsubnew-main .txt-update-successfully{
	background:url(../images/usp-txt-before-go.png) no-repeat;
	height:74px;
	left:1px;
	margin:0;
	overflow:hidden;
	position:absolute;
	text-indent:-9999px;
	top:-45px;
	width:100%;
}
#unsubnew-main .txt-can-pause,
#unsubnew-main .txt-can-reduce,
#unsubnew-main .txt-can-unsubscribe,
#unsubnew-main .txt-paused,
#unsubnew-main .txt-connect{
	background:url(../images/usp-txt-can-pause.png) no-repeat -1px 0;
	height:19px;
	margin:0 0 11px !important;
	overflow:hidden;
	text-indent:-9999px;
}
#unsubnew-main .gray-holder p{margin:0;}
#unsubnew-main .form-pause{
	margin:0 0 47px !important;
	padding:22px 0 0 !important;
}
#unsubnew-main .form-pause p{margin:0 0 18px !important;}
#unsubnew-main .form-pause ul{
	font-size:16px;
	list-style:none;
	margin:0 0 18px;
	overflow:hidden;
	padding:0 0 0 2px;
}
#unsubnew-main .form-pause ul li{
	float:left;
	padding:0 10px 0 0;
	width:152px;
}
#unsubnew-main .form-pause .checkbox,
#unsubnew-main .form-reduce .checkbox,
#unsubnew-main .form-unsubscribe .checkbox{
	float:left;
	height:15px;
	margin:3px 6px 0 0;
	padding:0;
	vertical-align:top;
	width:15px;
}
#unsubnew-main .btn-pause,
#unsubnew-main .btn-confirm,
#unsubnew-main .btn-unsubscribe{
	background:url(../images/usp-btn-pause.png) no-repeat;
	border:none;
	font-size:0;
	height:31px;
	line-height:0;
	margin:0;
	padding:0;
	width:63px;
}
#unsubnew-main .btn-pause:hover,
#unsubnew-main .btn-confirm:hover,
#unsubnew-main .btn-unsubscribe:hover{cursor:pointer;}
#unsubnew-main .txt-can-reduce{background:url(../images/usp-txt-can-reduce.png) no-repeat -1px 0;}
#unsubnew-main .form-reduce{
	margin:0 0 10px;
	padding:19px 0 0;
}
#unsubnew-main .form-reduce .checkbox{margin:4px 6px 0 0;}
#unsubnew-main .form-reduce .row{
	margin:0 0 22px;
	overflow:hidden;
}
#unsubnew-main .form-reduce label{font-size:16px;}
#unsubnew-main .form-reduce .btn-confirm{
	background:url(../images/usp-btn-confirm.png) no-repeat;
	height:32px;
	width:80px;
}
#unsubnew-main .txt{padding:0 38px;}
#unsubnew-main .txt-can-unsubscribe{
	background:url(../images/usp-txt-can-unsubscribe.png) no-repeat;
	height:24px;
	margin:0 0 6px;
}
#unsubnew-main .txt p{margin:0;}
#unsubnew-main .form-unsubscribe{
	font-size:16px;
	margin:0 0 25px;
}
#unsubnew-main .form-unsubscribe ul{
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:19px 0 7px 1px;
	width:499px;
}
#unsubnew-main .form-unsubscribe ul li{
	float:left;
	margin:0 10px 0 0;
	overflow:hidden;
	padding:0 0 21px;
	width:152px;
}
#unsubnew-main .form-unsubscribe .checkbox{margin:3px 6px 0 0;}
#unsubnew-main .btn-unsubscribe{
	background:url(../images/usp-btn-unsubscribe.png) no-repeat;
	width:111px;
}
#unsubnew-main .note {
	font-size:14px;
	line-height:20px;
}

#unsubnew-main .txt-update-successfully{background:url(../images/usp-txt-update-successfully.png) no-repeat;}
#unsubnew-main .txt-paused{background:url(../images/usp-txt-paused.png) no-repeat;}
#unsubnew-main .social-place{padding:29px 38px 79px;}
#unsubnew-main .txt-connect{
	background:url(../images/usp-txt-connect.png) no-repeat;
	margin:0 0 27px;
}
#unsubnew-main .social-networks{
	list-style:none;
	margin:0 0 0 -2px;
	overflow:hidden;
	padding:0;
}
#unsubnew-main .social-networks li{
	float:left;
	margin:0 20px 0 0;
}
#unsubnew-main .social-networks li a{
	background:url(../images/usp-follow-list.png) no-repeat;
	float:left;
	height:119px;
	overflow:hidden;
	text-indent:-9999px;
	width:119px;
}
#unsubnew-main .social-networks li .mail{background-position:0 0;}
#unsubnew-main .social-networks li .like{background-position:0 -119px;}
#unsubnew-main .social-networks li .tweeter{background-position:0 -238px;}
#unsubnew-main .social-networks li .social1{background-position:0 -357px;}
#unsubnew-main .social-networks li .social2{background-position:0 -476px;}
/* END UNSUBSCRIBE PAGE LIFTED FROM style_v2.css */
/* START LOGIN PAGE LIFTED FROM style_v2.css */

#login {
	background: url('../images/column-bg-1.gif') repeat;
	width:665px;
	height:auto;
	clear:both;
	font-family: "Georgia", serif;
	text-align:left !important;
	margin: auto;
	}

	#inner-login {
	background: url('../images/TT-login.png') no-repeat;
	width:664px;
	height:412px;
	clear:both;
	font-family: "Georgia", serif;
	}
	
	#inner-login p {
	font-size:14px;
	font-weight:bold;
	padding: 128px 64px 0px 133px;
	}
	
	#inner-login p span {
	font-size:12px;
	font-weight:normal !important;
	}

#loginform {
	overflow:hidden;
	margin:0px !important;
	padding:10px 0px 10px 35px !important;
}

#loginform hr {
	height:1px;
	background:url(../images/blkdots.jpg) repeat-x;
	width:585px;
	border:none !important;
	padding:0px !important;
	margin:5px 0px 0px 10px !important;
	}
	

#loginform li {
	list-style:none; 
	padding:10px 0px 10px 0px;
	width:295px;
	}
	
#loginform li .fieldbox-grey {
	background:transparent url(../images/login-field.jpg) no-repeat top left; 
	float:left; 
	height:36px; 
	border-style: none !important;
	width:280px;
}

#loginform li .fieldbox-grey input {
	padding:10px; 
	font-size:14px;
	font-family: 'verdana', sans-serif;
	width:280px;
	border-style: none !important;
	background-color: transparent !important;
}


#login .forgetpassword {
	padding: 0 !important;
	margin:0 !important;
	font-size:10px;
	font-family:'verdana', sans-serif;
	text-align:right;
	
} 

#login .forgetpassword a, #login .forgetpassword a:hover {
	padding: 0 !important;
	margin:0 !important;
	font-size:10px;
	font-family:'verdana', sans-serif;
	text-align:right;
	color:grey;
	
} 
.floatleft {
    float: left;
}

#submitbutton {
	/* background:#BE1E2D; */ 
	/* color:#fff;  */
	cursor:pointer;
	padding:5px 10px; 
	/*
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	*/
	width:78px;
	height:44px;
	font-size:16px;
	border: none !important;
	margin:10px 0px 0px 42px;
	background:url(../images/submit-btn.jpg) no-repeat; 
	}

#cancelbutton {
	/* background:#BE1E2D; */ 
	/* color:#fff;  */
	cursor:pointer;
	padding:5px 10px; 
	/*
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	*/
	width:78px;
	height:44px;
	font-size:16px;
	border: none !important;
	margin:10px 0px 0px 6px;
	background:url(../images/cancel-btn.jpg) no-repeat;
	}

#loginbutton {
	cursor:pointer;
	padding:5px 10px; 
	width:78px;
	height:44px;
	font-size:16px;
	border: none !important;
	margin:0px 0px 0px 10px;
	background:url(../images/tt-login-btn.gif) no-repeat; 
	float:right;
	}
	
/* START LOGIN PAGE LIFTED FROM style_v2.css */
/* START MANAGE PAGE LIFTED FROM style_v2.css */
#welcomepg {
	background: url('../images/column-bg-1.gif') repeat;
	width:665px;
	height:auto;
	margin:20px auto 40px auto !important;
	clear:both;
	font-family: "Georgia", serif;
	text-align:left !important;
	}
	
	/* PAGE HEADERS */
	#welcomepg .top {
	background: url('../images/top-bg2.png') no-repeat;
	width:664px;
	height:102px;
	}
	

	#welcomepg .top-update {/*update profile header */ 
	background: url('../images/top-bg-update.png') no-repeat;
	width:664px;
	height:102px;
	}
	
	#welcomepg .top-confirm {/*confirmation header */
	background: url('../images/top-bg-confirm.png') no-repeat;
	width:664px;
	height:102px;
	}
	
	#welcomepg .top-tellus {/*tell us more header */
	background: url('../images/top-bg-tellus.png') no-repeat;
	width:664px;
	height:102px;
	}
	
	
	#welcomepg .mid {
	width:664px;
	height:auto;
	padding:20px 0px 12px 0px;
	background:url(../images/mid-bg2.png) repeat-y;
	}
	
	#welcomepg .bottom {
	width:664px;
	height:28px;
	background:url(../images/bottom-bg2.png) no-repeat;
	padding:0px 0px 0px 0px;
	}
	
	
	#welcomepg .mid p {
	font-size:14px;
	color:#333;
	font-family:'georgia', serif;
	text-align:justify;
	margin:0 auto;
	}
	
	/* CONFIRMATION PAGE SOCIAL NETWORK ELEMENTS */
	#welcomepg .mid .tweetfeeds {
	width:305px;
	height:80px;
	padding:0 0 0 10px;
	float:left;
	text-align:left;
	border-left:1px dotted #333;
	margin:0 0 20px 0;
	}
	
	#welcomepg .mid .tweetfeeds ul {
	height:100px;
	}
	
	#welcomepg .mid .tweetfeeds ul li {
	float:left;
	width:125px;
	padding:0;
	margin:0;
	border:none !important; 
	
	}
	
	#welcomepg .mid .tweetfeeds ul li a {
	text-decoration:none !important; 
	color:#333;
	
	}
	
	#welcomepg .mid .tweetfeeds ul li a:hover, 
	#welcomepg .mid .tweetfeeds ul li a:visited, 
	#welcomepg .mid .tweetfeeds ul l a:active {
	text-decoration:none !important; 
	color:#333 !important;
	}
	
	/* -- INVITE FORMS AND MESSAGE BOX -- */	
	#welcomepg .mid .wrap-invite {
	width:575px;
	margin:0 auto;
	}
	
	#welcomepg li .msgbox-sml {
	background:transparent url(../images/message-box.gif) no-repeat top left;
	float:left; 
	height:134px;
	width:252px;
	border-style: none !important;
	 
	}
	
	textarea.area {
	overflow:hidden;
	}

	#welcomepg li .msgbox-sml textarea {
	padding:10px; 
	font-size:14px;
	font-family: 'Verdana', sans-serif;
	border-style: none !important;
	background-color: transparent !important;	 
	}
	
	#headers-leftandright-col {
	margin:23px auto 0 auto;
	width:575px !important;
	}
	
	#welcomepg .header-left {
	font-size:14px;
	color:#a8253a;
	font-style: normal;
	border-bottom: #a8253a dotted 1px !important;
	font-weight: normal;
	}
	
	#welcomepg .header-right {
	font-size:14px;
	color:#a8253a;
	border-bottom: #a8253a dotted 1px !important;
	font-style: normal;

	font-weight: normal;
	}
	
	#welcomepg .header {
	font-size:14px;
	color:white;
	font-style: italic;
	font-weight: bold;
	}
	#account-bottom p.terms {
	font-size:12px;
	font-style:oblique !important;
	color:#333;
	}
	
	#account-bottom .errormsg {
	background:#A8253A;
	padding:6px 0 6px 6px;
	width:568px;
	color:white; 
	font-size: 12px;
	display:block;
	}
	
	#account-bottom .required {
	color:#a8253a;
	padding:10px 0 0 5px;
	font-size:14px;
	}
	
	
	/*-- Drop Down --*/
	
	.selectArea .center {
	background: url(../images/dropdown-bg2.gif) no-repeat;
	float: left;
	overflow: hidden;
	padding: 10px 0px 0px 10px;
	width: 198px;
	height: 23px;
	}
	
	.selectArea a.selectButton {
	background: url(../images/dropdown-arrow2.gif) no-repeat 100% 0px;
	border-style: none;
	height: 37px;
	width: 33px;
	position: absolute;
	
	}
	
	.selectArea {
	color: #333;
	font: normal normal normal 12px/15px Arial, Helvetica, sans-serif;
	margin-left: 1px;
	margin-top: 8px;
	}
	
	
	
	#inner-myAccount {
	/* background: url('../images/TT_manage.png') no-repeat; */
	width:664px;
	height:auto;
	clear:both;
	font-family: "Georgia", serif;
	text-align:center;
	padding:0px 0px 0px 0px ;
	}
	
	#inner-myAccount img.leader {
	padding:0px 0px 16px 0px;
	}
	
	#inner-myAccount p.choose-text {
	font-size:13px;
	width:575px;
	margin:0 auto;
	padding:10px 0px 0px 0px;
	color:#333;
	text-align:left;
	font-weight: bold;
	}
	
		#inner-myAccount p.red a:link, #inner-myAccount p.red a:hover {
		color:#8D0D1A;
		font-weight: bold;
		}

	#inner-myAccount p:first-child {
	font-size:13px;
	width:575px;
	margin:0 auto;
	color:#8d0d1a;
	padding-top:120px;
	}
	
		#account-left {
		width:185px;
		margin:10px 0px 0px 45px;
		float:left;
		text-align:left;
		/* border-right: #65642B dotted 1px !important; */
		}
		
		#account-left ul {
		color:#333;
		}
		
		#account-left ul li {
		padding:10px 0px 15px 0px;
		}
		
		#tellusmore {
		width:575px;
		margin:10px 0px 0px 45px;
		float:left;
		text-align:left;
		/* border-right: #65642B dotted 1px !important; */
		}
		
		#tellusmore .question {
		font-size:14px;
		color:#a8253a;
		margin:12px 0 3px 0;
		}
		
		 	
		#tellusmore ul {
		color:#333;
		}
		
		#tellusmore ul li {
		padding:0px 0px 6px 13px;
		font-size:14px;
		}
		
		
		
		
		/*
		#account-left .header {
		font-size:14px;
		color:white;
		background:#65642b;
		font-style: italic;
		padding:6px 0px 2px 6px;
		font-weight: bold;
		}
		*/
		
		#account-left p {
		padding-top:15px !important;
		color:#65642b !important;
		font-size:12px !important;
		border-bottom: #65642B dotted 1px !important;
		width:195px !important;
		font-weight:bold;	
		}
		
		#account-right {
		width:360px;
		float:right;
		margin:10px 45px 0px 0px;
		text-align:left;
		}
		
		#account-right p{
		width:342px !important;
		float:right;
		text-align:left;
		}
		
		#account-right p.italic {
		color:#65642B !important;
		font-size:12px !important;
		padding:15px 0px 0px 0px !important;
		font-style: italic !important;
		font-weight: bold !important;
		border-bottom: #65642B dotted 1px !important;
		width:358px;
		}
		
		#account-right ul li {
		color:#333;
		font-size:13px;
		padding:10px 0px 0px 0px;
		}
		
		#account-right ul li p {
		padding:0px 0px 15px 20px !important;
		font-size:12px !important;
		color:#58595B;
		}
		
		#account-top {
		width:575px;
		margin: auto;
		margin-top: 0px;
		margin-bottom: 20px;
		text-align:left;
		}
		
		#account-bottom {
		width:575px;
		margin:20px auto 5px auto;
		text-align:left;
		}
		
		#account-bottom p {
		font-size:11px;
		text-align:left;
		padding: 10px 0px;
		color:#8D0D1A;
		}
		
		a.goto:link, a.goto:hover, a.goto:visited, a.goto:active {
		font-style: italic !important;
		color:#8D0D1A !important;
		float:right;
		margin-right:47px;
		}
	
		.buttons {
		text-align:left !important;
		margin:0 0 0 35px;
		}
	
/* END MANAGE PAGE LIFTED FROM style_v2.css */


/*-- FORWARD PG --*/

#forward {
	background: url('../images/column-bg-1.gif') repeat;
	width:665px;
	height:auto;
	margin:20px auto 0px auto !important;
	clear:both;
	font-family: "Georgia", serif;
	text-align:left !important;
	}


	/* 
	FORWARD PG
	*/
	
	#inner-forward {
	/* background: url('../images/TT-forward.png') no-repeat; */
	width:664px;
	height:auto;
	clear:both;
	font-family: "Georgia", serif;
	}
	
	#inner-forward p {
	font-size:20px;
	font-weight:bold;
	margin:0 !important;
	}
	
	#inner-forward .top2 {
	background-color:transparent !important;
	background: url('../images/TT-forward-top.png') no-repeat;
	width:664px;
	height:98px;
	position:relative !important;
	padding:0px !important;
	
	}
	
	#inner-forward .icon-para {
	background-color:transparent !important;
	background: url('../images/TT-forward-icon-bg.png') no-repeat;
	width:664px;
	height:101px;
	position:relative !important;
	margin:0 !important;
	}
	
	#inner-forward .icon-para p {
	width:475px;
	position:relative !important;
	margin:0 0 0 125px !important;
	padding:0 !important;
	}
	
	
	#inner-forward .mid {
	background-color:transparent !important;
	background: url('../images/TT-mid-bg.png') repeat-y;
	width:664px;
	height:auto;
	position:relative !important;
	padding-bottom:10px !important;
	margin:0 !important;
	}

	#inner-forward .btm {
	background-color:transparent !important;
	background: url('../images/TT-btm-bg.png') no-repeat;
	width:664px;
	height:23px;
	position:relative !important;
	padding-bottom:6px !important;
	margin:0 !important;
	}/* end modifictaions 04-28-11*/
	
	
	
	
#forwardform {
	width:664px; 
	overflow:hidden;
	margin:0px 0px 0px 40px !important;
}

#forwardform hr {
	height:1px;
	background:url(../images/blkdots.jpg) repeat-x;
	width:585px;
	border:none !important;
	padding:0px !important;
	margin:10px 0px 0px 0px !important;
	}

#forwardform li {
	list-style:none; 
	padding-bottom:10px;
	}
	
.captcha
{
	list-style:none; 
	padding-top:10px;
	padding-left:1px;
}
.captcha_error
{
	color: red; 
}

/*-- FIELDBOXES FORWARD PAGE --*/
#forwardform li .fieldbox {
	background:transparent url(../images/input-box-long-orange.jpg) no-repeat top left; 
	float:left; 
	height:36px; 
	border-style: none !important;
	width:310px;
}

#forwardform li .fieldbox input {
	padding:10px; 
	font-size:14px;
	font-family: 'Verdana', sans-serif;
	width:280px;
	border-style: none !important;
	background-color: transparent !important;
}

#forwardform li .fieldbox-grey {
	background:transparent url(../images/input-box-long-grey.jpg) no-repeat top left; 
	float:left; 
	height:36px; 
	border-style: none !important;
	width:310px;
}

#forwardform li .fieldbox-grey input {
	padding:10px; 
	font-size:14px;
	font-family: 'Verdana', sans-serif;
	width:280px;
	border-style: none !important;
	background-color: transparent !important;
}


#forwardform li .fieldbox-short-orange {
	background:transparent url(../images/input-box-short-orange.jpg) no-repeat top left; 
	float:left; 
	height:36px; 
	border-style: none !important;
	margin-right:10px;
	width:160px;
}

#forwardform li .fieldbox-short-orange input {
	padding:10px; 
	font-size:14px;
	width:130px;
	font-family: 'Verdana', sans-serif;
	border-style: none !important;
	background-color: transparent !important;
}


#forwardform li .fieldbox-short-grey {
	background:transparent url(../images/input-box-short-grey.jpg) no-repeat top left; 
	float:left; 
	height:36px; 
	border-style: none !important;
	width:160px;
	margin-right:10px;
}

#forwardform li .fieldbox-short-grey input {
	padding:10px; 
	font-size:14px;
	width:130px;
	font-family: 'Verdana', sans-serif;
	border-style: none !important;
	background-color: transparent !important;
}

#forwardform li .msgbox {
	background:transparent url(../images/msgbox.jpg) no-repeat top left; 
	float:left; 
	height:101px;
	width:480px;
	border-style: none !important; 
}

#forwardform li .msgbox textarea {
	padding:10px; 
	font-size:14px;
	font-family: 'Verdana', sans-serif;
	border-style: none !important;
	background-color: transparent !important;	 
}
#forwardform  label {
    display: block;
    padding-bottom: 5px;
    margin-top: 10px;
}

#sendbutton {
	/* background:#BE1E2D; */ 
	/* color:#fff;  */
	cursor:pointer;
	padding:5px 10px; 
	/*
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	*/
	width:78px;
	height:44px;
	font-size:16px;
	border: none !important;
	margin:10px 0px 0px 42px;
	background:url(../images/sendbtn.jpg) no-repeat; 
	}	

.clear {
    clear: both;
}
/*-- END FIELDBOXES FORWARD PAGE --*/

/*-- START INVITE POPUP --*/

#invite-popup-heading h4 {
	position: absolute;
    left: 0;
    background: #FF004C;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 22px;
}

.new-popup-invite {
    display: block;
    width: 50%;
    background-color: white;
    -webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);transform: translate(-50%,-50%);
	z-index: 90;
	position: absolute;
    top: 50%;
    left: 50%;
}

.new-popup-invite .middle.new-mid span {
	    position: absolute;
    right: 0;
    top: 0px;
    background: black;
    color: white;
    padding: 13px 0px;
    width: 9%;
    text-align: center;
    z-index: 99;
}

.new-popup-invite .widetext.new-widetxt {
	padding-bottom: 30px;
}

.new-popup-invite .multipart-invite-email {
	width: 70%;
    margin: 0px auto 0px;
    padding-top: 50px;
}

.new-popup-invite table {
	border-collapse: separate !important;
    border-spacing: 7px !important;
}

.new-popup-invite table input {
    line-height: normal;
    height: 30px !important;
}

#invite-submit-button {
	text-align: center;
    width: 100%;
    padding: 16px 21px;
    display: block;
    font-weight: 600;
    box-shadow: 4px 4px rgba(0,0,0,.11);
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    font-size: 1.3rem;
    color: #fff;
    background: #ff004c;
    width: 23%;
    font-size: 16px;
    cursor: pointer !important;
    margin:0 auto !important;
}

#invite-submit-button a {color:white !important;}


.popup-dark {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 89;
    background-image: url('/v_2016/projects/2015/10_20_sweeps_hub/assets/images/transparent-blk-80.png');
    }

@media screen and (max-width: 480px) {
	.new-popup-invite table td {
		clear: both;
	    float: none;
	    display: block;
	}

	#invite-popup-heading h4 {
    position: absolute;
    left: 0;
    background: #FF004C;
    color: white;
    padding: 10px 0px;
    width: 91%;
    text-align: center;
    font-size: 15px;
    height: 35px;
}

.new-popup-invite {
    top: 50px;
    left:0px;
    width: 100%;
    background-color: white;
    position: absolute;
     -webkit-transform: none; 
    -ms-transform: none;
     transform: none; 
    z-index: 90;
	}	

.new-popup-invite .middle.new-mid span {
	position: absolute;
    right: 0;
    top: 0px;
    background: black;
    color: white;
    padding: 10px 6px;
    width: auto;
    text-align: center;
    z-index: 99;
    height: 35px;
	}

.new-popup-invite table input {
    line-height: normal;
    height: 30px !important;
    border: 0;
    background-color: #ededed;
    width: 100%;
    margin-bottom: 4px;
}

#invite-submit-button {width:45%;}

}
/*-- END INVITE POPUP --*/