/*********** Korrektur für Ankerlinks ***************/
*:target {
   position:relative;
   top:-130px;
   padding-top: 130px;
   margin-bottom: -130px;
}

div.breadcrumb-uni-bg, div.jumbotron-mobile-container, div.breadcrumb-page-container {
	position:relative;
	z-index:4;
}

.csc-textpic-caption {
	font-size: 10.5pt;
}

.content-box h3 {
	margin-top: 17pt;
}

.indent {
	margin-left: 35px;
} 

.content-box-uni-blau small {
    text-transform: uppercase;
}

.content-box-uni-orange small {
    text-transform: uppercase;
}

.content-box-uni-gelb small {
    text-transform: uppercase;
}

.content-slider-inner h3 {
    text-transform: uppercase;
}

/****************** xgx-Korrekturen ******************/
@media (min-width: 992px) {
.event-box.min-height {min-height:142px;}
}


/****************** Powermail Forms ******************/

/**
 * JS Form Validation
 */




/* Z-INDEX */
.formError { z-index: 990; }
.formError .formErrorContent { z-index: 991; }
.formError .formErrorArrow { z-index: 996; }
.formErrorInsideDialog.formError { z-index: 5000; }
.formErrorInsideDialog.formError .formErrorContent { z-index: 5001; }
.formErrorInsideDialog.formError .formErrorArrow { z-index: 5006; }

.inputContainer {
	position: relative;
	float: left;
}
.formError {
	font-family: Calibri, Arial, sans-serif;
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	cursor: pointer;
}
.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none
}
.formError .formErrorContent {
	width: 100%;
	position:relative;
	color: #fff;
	width: 150px;
	font-size: 11px;
	border: 2px solid #ddd;
	padding: 4px 10px 4px 10px;
	background: #e84e0e;
}
.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position: relative;
}
body[dir='rtl'] .formError .formErrorArrow,
body.rtl .formError .formErrorArrow {
	margin: -2px 13px 0 0;
}
.formError .formErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}
.formError .formErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	font-size: 0px;
	height: 1px;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
	background: #e84e0e;
}
.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}
.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}
.formError .formErrorArrow .line8 {
	width: 11px;
}
.formError .formErrorArrow .line7 {
	width: 9px;
}
.formError .formErrorArrow .line6 {
	width: 7px;
}
.formError .formErrorArrow .line5 {
	width: 5px;
}
.formError .formErrorArrow .line4 {
	width: 3px;
}
.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}
.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}
.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}

ul.parsley-errors-list {
	padding: 0;
}

li.parsley-required, li.parsley-custom-error-message {
	display: block;
	background-color: #e84e0e;
	color: white;
	padding: 2px 6px;	
}

/**************** GSA Suche *********************/
blockquote.g {
	font-size: inherit;
	color: inherit;
	line-height: inherit;
	margin: 0 0 24px 60px;
}

blockquote.g:before {
	content: none;
}

blockquote.g p {
	margin-left: 0;
}

p.g {
	margin: 0;
}

/********************** Powermail **********************/
ul.powermail_message_error { background-color: #e84e0e;color:white; padding:3px 14px; }
ul.powermail_message_error li {display:inline;}


/********************** Pagebrowser **********************/
span.browseLinks span.disabledLinkWrap {
    display: none;
}
/*
img {
	image-rendering: -moz-crisp-edges;        
	image-rendering:   -o-crisp-edges;         
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;  
}

img{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges; 
	image-rendering: -moz-crisp-edges; 
	image-rendering: -o-crisp-edges; 
	image-rendering: pixelated; 
	-ms-interpolation-mode: bicubic;
}*/