/*
Copyrights © Arb4Host Network
/*
Theme Name: StarNews
Description: Premium Multipurpose WordPress Theme
Theme URI: http://www.arb4host.net/sn
Author: Arb4Host Network
Author URI: http://www.arb4host.net
Version: 3.14
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* fix */
html { overflow-y: scroll; }
body { font: normal 14px/1.5 tahoma; color: #1A1A1A; }
body .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
i.fa.fa-android {
    font-size: 40px;
}
button, input, optgroup, select, textarea { font: normal 14px/24px tahoma !important; }
button, input, a, a:hover, a:active, a:focus { outline: none !important; }
a, a:hover, a:active, a:focus { text-decoration: none; }
a:hover, a:focus { color: #333333; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin: 0px; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; }
table { margin-bottom: 20px; }
th { text-align: right; }
/* fix bootstrap */
.tooltip { font: normal 13px/1.5 tahoma; }
.carousel { direction: ltr; }
.carousel-inner { direction: rtl; }
.carousel-control { z-index: 100; max-width: 60px; }
.carousel-control, .carousel-control a { color: #FFFFFF !important; }
.carousel-control .icon-prev::before, .carousel-control .icon-next::before { font-family: 'FontAwesome'; }
.carousel-control .icon-prev::before { content: '\f053'; }
.carousel-control .icon-next::before { content: '\f054'; }
.page-header { margin: 0px; }
.form-control, .btn { border-radius: 2px; }
.form-control { background: #F2F2F2; box-shadow: 0px 1px 2px rgba(0,0,0,0.075) inset; transition: 0.3s; }
.form-control:focus { background: #FFFFFF; }
.container, .container-fluid { padding-right: 20px; padding-left: 20px; }
.row { margin-right: -10px; margin-left: -10px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { padding-right: 10px !important; padding-left: 10px !important; }
.close { float: left; font-size: 20px !important; }
body.modal-open { padding: 0px !important; }
/* repeated */
.main-color, .main-color a { color: #FFFFFF; }
.main-color a:hover, a.main-color:hover { color: #FFFFFF; }
.thumb-wrap { position: relative; padding: 1px; border: 1px solid #CCCCCC; border-radius: 2px; }
.thumb-wrap img { display: block; width: 100%; height: auto; }
.smallfont { line-height: 20px; }
.read-more { display: inline-block !important; }
.video-wrapper { margin-right: auto; margin-left: auto; max-width: 728px; text-align: center; }
.widget .video-wrapper { max-width: none; }
.video-content { position: relative; overflow: hidden; margin-bottom: 20px; padding-bottom: 56.25%; padding-top: 30px; margin-right: auto; margin-left: auto; height: 0px; text-align: center; clear: both; }
.video-content iframe, .video-content object, .video-content embed, .video-content video { position: absolute; top: 0px; right: 0px; left: 0px; width: 100%; height: 100%; margin-right: auto; margin-left: auto; max-width: none; padding: 0px; border: none; }
.grey, .grey a { color: #777777 !important; }
.grey a:hover, a.grey:hover { color: #333333 !important; }
.silver, .silver a { color: #999999 !important; }
.silver a:hover, a.silver:hover { color: #555555 !important; }
.white, .white a { color: #EEEEEE !important; }
.white a:hover, a.white:hover { color: #FFFFFF !important; }
.says, .screen-reader-text { position: absolute !important; clip: rect(1px,1px,1px,1px); width: 1px; height: 1px; word-wrap: normal !important; overflow: hidden; }
.hidden { display: none; }
.shown { display: block !important; }
.invisible { visibility: hidden; }
.visible { visibility: visible !important; }
.pad { padding-top: 20px; padding-bottom: 20px; }
.mini-pad { padding-top: 10px; padding-bottom: 10px; }
.micro-pad { padding-top: 5px; padding-bottom: 5px; }
/* flex */
.flex { display: flex; }
.flex-inline { display: inline-flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-grow { flex: 1 1 auto; }
.flex-middle { align-items: center; }
.flex-start { align-items: flex-start; }
.flex-center { justify-content: center; }
.flex-space-between { justify-content: space-between; }
.flex-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
/* search form */
.search-form { position: relative; max-width: 500px; line-height: 1; }
.search-field { padding-left: 50px; }
.search-submit, .search-submit:hover, .search-submit:active, .search-submit:focus { position: absolute; top: 1px; bottom: 1px; left: 1px; width: 40px; margin: 0px; padding: 0px; background: transparent; box-shadow: none; }
.search-submit { border: none; border-right: 1px solid rgba(0,0,0,0.066); }
.search-submit i { font-size: 17px; color: #AAAAAA; transition: 0.2s; }
.search-submit:hover i { color: #666666; }
/* main */
#site { background: #FFFFFF; }
#site.container { padding: 0px !important; }
#main { position: relative; }
#main-wrapper { display: table; table-layout: fixed; width: 100%; }
#sidebar-header { margin-bottom: 20px; border-bottom: 1px solid #EEEEEE; }
#sidebar-above_footer { padding-top: 20px; border-top: 1px solid #EEEEEE; }
#sidebar-footer { padding-top: 20px; }
#sidebar-left { float: left; margin-right: 20px; padding-right: 20px; }
#sidebar-right { float: right; margin-left: 20px; padding-left: 20px; }
#content { position: relative; overflow: hidden; }
.site-content, .sidebar { z-index: 150; }
.site-content, .widget { margin-bottom: 20px; }
/* content */
.page-header { position: relative; border-bottom: 1px solid #EEEEEE; }
.page-header h1 { margin: 0px; padding-bottom: 5px; }
/* header */
.site-header { position: relative; margin-bottom: 20px; z-index: 200; }
.site-header .wrap.light, .wrap.light a { color: #FFFFFF; }
.site-header .logo { float: right; order: 1; z-index: 50; }
.site-header .search-form { float: left; width: 200px; margin-right: 20px; }
.site-header .lvl-1 { padding-top: 4px; padding-bottom: 4px; }
.site-header .lvl-1 > .wrap { position: relative; min-height: 36px; }
.site-header .social-links { float: left; margin-right: 20px; }
.site-header .social-links ul { flex-wrap: nowrap; }
.site-header .social-links li { margin-top: 0px; margin-bottom: 0px; width: auto; }
.wrap.light .search-field { background: rgba(0,0,0,0.4); border-color: transparent; box-shadow: none; }
.wrap.light .search-field { color: #FFFFFF; }
.wrap.light .search-field:focus { background: #FFFFFF; color: #333333;  }
.wrap.light .search-field::-webkit-input-placeholder { color: #BBBBBB; }
.wrap.light .search-field:-moz-placeholder { color: #BBBBBB; opacity: 1; }
.wrap.light .search-field::-moz-placeholder { color: #BBBBBB; opacity: 1; }
.wrap.light .search-field:-ms-input-placeholder { color: #BBBBBB; }
.wrap.light .search-field:placeholder-shown { color: #BBBBBB; }
.wrap.light .social-links li a { background-color: rgba(0,0,0,0.4); }
.wrap.light .social-links li a:hover { opacity: 1; }
.site-header .lvl-2 { background: #222222; }
.site-header .lvl-2, .site-header .lvl-2 a { color: #FFFFFF; }
/* main navigation */
.main-navigation i { margin-left: 4px; }
.main-navigation ul { margin: 0px; padding: 0px; list-style: none; }
.main-navigation li { position: relative; }
.main-navigation li a { position: relative; display: block; padding: 10px 20px; line-height: 20px; }
.main-navigation li span { display: inline-block; }
.main-navigation li:hover > a { color: #FFFFFF !important; }
.main-navigation li li a { color: #111111 !important; }
.main-navigation .menu > li { display: inline-block; margin-left: 0px; border-width: 0px; border-style: solid; border-left-width: 0px; border-color: rgba(255,255,255,0.1); }
.main-navigation .menu > li:last-child { border-left-width: 0px; margin-left: 0px; }
.main-navigation .menu > li { flex-grow: 1; }
.main-navigation .menu > li > a { flex-grow: 1; text-align: center; padding: 10px; }
.main-navigation .menu > li:hover { margin-top: -3px; }
.main-navigation .menu > li:hover > a { padding-top: 13px; background: #FFFFFF; color: #333333 !important; z-index: 200; }
.main-navigation .menu > li.current-menu-item > a, .main-navigation .menu > li.current-menu-ancestor > a, .main-navigation .menu > li.current-menu-parent > a, .main-navigation .menu > li.current-post-parent > a, .main-navigation .menu > li.current-post-ancestor > a, .main-navigation .menu > li.current-page-parent > a, .main-navigation .menu > li.current-page-parent > a {}
.main-navigation .nav-menu { display: none; position: absolute; top: 100%; right: -5px; width: 230px; padding-right: 5px; z-index: 150; }
.main-navigation li:hover > .nav-menu { display: block; }
.main-navigation .sub-menu { width: 220px; padding: 10px; background: #FFFFFF; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); z-index: 50; }
.main-navigation .sub-menu ul { position: absolute; top: -10px; right: 100%; display: none; }
.main-navigation .sub-menu li:hover > ul { display: block; }
.main-navigation .menu > li.menu-item-has-children > a::after, .main-navigation .sub-menu li.menu-item-has-children > a::after { position: relative; width: 5px; padding-right: 7px; font-family: 'FontAwesome'; font-size: 12px; line-height: 1; }
.main-navigation .menu > li.menu-item-has-children > a::after { content: "\f107"; }
.main-navigation .sub-menu li.menu-item-has-children > a::after { content: "\f104"; float: left; padding-top: 3px; }
.main-navigation ul > li.menu-item-has-menus.sfHover > a::before { content: ""; position: absolute; right: -webkit-calc(50% - 4px); right: calc(50% - 4px); top: 100%; border-style: solid; border-width: 4px; border-color: #070707 transparent transparent transparent; z-index: 300; display: none; }
/* menu posts */
.main-navigation li.menu-item-has-posts { position: static; }
.main-navigation li.menu-item-has-posts .nav-menu { right: 0px; left: 0px; width: 100%; padding-right: 0px; padding-left: 0px; background: #FFFFFF; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); }
.main-navigation li.menu-item-has-posts .nav-menu > .sub-menu::after { display: table; clear: both; content: ""; }
.main-navigation li.menu-item-has-posts .nav-menu > .sub-menu { position: static; width: 100%; box-shadow: none; }
.main-navigation li.menu-item-has-posts .nav-menu > .sub-menu > li { float: right; }
.main-navigation li.menu-item-has-posts .nav-menu > .sub-menu + .nav-posts { border-top: 1px solid #EEEEEE; }
.main-navigation .nav-posts { position: relative; margin-right: auto; margin-left: auto; padding: 10px; z-index: 30; }
.main-navigation .nav-posts li { float: right; width: 20%; padding: 10px; }
.main-navigation .nav-posts li .img-wrap { overflow: hidden; }
.main-navigation .nav-posts a { padding: 0px; }
.main-navigation .nav-posts img { width: 100% !important; height: auto; }
.main-navigation .nav-posts li:hover a { background: #EEEEEE !important; color: #333333 !important; }
.main-navigation .nav-posts a h3 { margin: 0px; padding: 10px; overflow: hidden; }
/* social links */
.social-links { text-align: center; }
.social-links ul { margin: 0px; padding: 0px; list-style: none; }
.social-links li { display: inline-block; margin: 1px; }
.social-links li a { display: block; min-width: 44px; padding: 0px 10px; background: #444444; border-radius: 2px; font-family: tahoma; font-size: 24px; line-height: 38px; text-align: center; color: #FFFFFF !important; }
.social-links li a:hover { opacity: 0.8; }
.widget .social-links li a { min-width: 60px; }
.social-links li.sl-facebook:hover a, .social-links li.sl-facebook > a { background-color: #4a6ea9; border-color: #4a6ea9; }
.social-links li.sl-twitter:hover a, .social-links li.sl-twitter > a { background-color: #32def4; border-color: #32def4; }
.social-links li.sl-google-plus:hover a, .social-links li.sl-google-plus > a { background-color: #e46044; border-color: #e46044; }
.social-links li.sl-youtube:hover a, .social-links li.sl-youtube > a { background-color: #e64a41; border-color: #e64a41; }
.social-links li.sl-linkedin:hover a, .social-links li.sl-linkedin > a { background-color: #0097bd; border-color: #0097bd; }
.social-links li.sl-tumblr:hover a, .social-links li.sl-tumblr > a { background-color: #395976; border-color: #395976; }
.social-links li.sl-pinterest:hover a, .social-links li.sl-pinterest > a { background-color: #d73532; border-color: #d73532; }
.social-links li.sl-instagram:hover a, .social-links li.sl-instagram > a { background-color: #a57d60; border-color: #a57d60; }
.social-links li.sl-rss:hover a, .social-links li.sl-rss > a { background-color: #f4b83f; border-color: #f4b83f; }
/* footer */
.site-footer { position: relative; background-color: #111111; z-index: 100;  }
.site-footer, .site-footer a, .site-footer .widget-title, .site-footer .widget-color { color: #999999 !important; }
.site-footer a:hover { color: #EEEEEE !important; }
.site-footer .footer-bar { padding-top: 8px; padding-bottom: 8px; background: rgba(0,0,0,0.7); }
.cr-text { float: right; margin-left: 40px; }
.footer-navigation { float: right; }
.footer-navigation i { margin-left: 4px; }
.footer-navigation ul { list-style: none; margin: 0px; padding: 0px; }
.footer-navigation ul li { float: right; position: relative; margin-left: 8px; padding-left: 12px; }
.footer-navigation ul li::after { position: absolute; top: 0px; left: 0px; content: "\2022"; font-size: 70%; }
.footer-navigation ul li:last-child { margin-left: 0px; padding-left: 0px; }
.footer-navigation ul li:last-child::after { content: ""; padding-left: 0px; }
.footer-navigation ul li a { display: inline-block; }
.footer-navigation ul ul { display: none; }
.des-text { float: left; }
/* top navigation */
.top-navigation { float: right; order: 1; }
.top-navigation i { margin-left: 4px; }
.top-navigation ul { list-style: none; margin: 0px; padding: 0px; }
.top-navigation ul li { float: right; position: relative; margin-left: 8px; padding-left: 12px; }
.top-navigation ul li::after { position: absolute; top: 0px; left: 0px; content: "\2022"; font-size: 70%; color: rgba(0,0,0,0.1); }
.top-navigation ul li:last-child { margin-left: 0px; padding-left: 0px; }
.top-navigation ul li:last-child::after { content: ""; padding-left: 0px; }
.top-navigation ul li a { display: inline-block; }
.top-navigation ul ul { display: none; }
/* mobile menu */
.slideout-panel { z-index: 1; }
.slideout-menu { position: fixed; top: 0px; bottom: 0px; left: 0px; width: 240px; overflow-y: auto; -webkit-overflow-scrolling: touch; display: none; }
.slideout-open, .slideout-open body, .slideout-open .slideout-panel { overflow: hidden; }
.slideout-open .slideout-menu { display: block; }
.toggle-button { float: left; margin-right: 20px; padding: 7px 12px; height: 38px; font-size: 26px !important; line-height: 36px; border: none; background: rgba(0,0,0,0.4); border-radius: 2px; display: none; color: #FFFFFF; z-index: 100; }
.toggle-button:hover, .toggle-button:focus, .toggle-button:active { outline: 0px; }
.mobile-menu { display: none; background: #222222; font-weight: normal; }
.mobile-menu, .mobile-menu a { color: #EEEEEE; }
.mobile-menu a:hover { color: #FFFFFF; }
.mobile-menu .search-form { padding: 20px; border-bottom: 1px solid rgba(0,0,0,0.1); color: #333333; }
.mobile-menu .search-form .search-field { width: 100%; line-height: 20px; }
.mobile-menu .search-form .search-submit { display: none; }
.mobile-menu .social-links { border-bottom: 1px solid rgba(0,0,0,0.1); text-align: center; padding: 15px 0px; }
.mobile-menu .social-links ul li { width: -webkit-calc(25% - 12px); width: calc(25% - 12px); margin-right: 6px; margin-left: 6px; }
.mobile-navigation i { margin-left: 4px; }
.mobile-navigation ul { margin: 0px; padding: 0px; list-style: none; }
.mobile-navigation ul li a { display: block; padding: 10px 20px; line-height: 24px; border-bottom: 1px solid rgba(0,0,0,0.1); }
.mobile-navigation ul ul li a { padding-right: 50px; background: rgba(0,0,0,0.05); }
/* archive */
.switch-display { position: absolute; top: 0px; bottom: 0px; left: 0px; }
.switch-display ul { margin: 0px; padding: 0px; list-style: none; }
.switch-display ul li { float: right; margin-right: 20px; }
.switch-display ul li:first-child { margin-right: 0px; }
.switch-display ul li a { display: block; width: 19px; height: 16px; background: url('img/switch-display.png'); opacity: 0.5; }
.switch-display ul li:hover a { opacity: 1; }
.switch-display ul li:nth-child(1) a { background-position: -78px 0px; }
.switch-display ul li:nth-child(2) a { background-position: -39px 0px; }
.switch-display ul li:nth-child(3) a { background-position: 0px 0px; }
.widget .switch-display { top: 5px; bottom: 5px; left: 5px; padding-right: 10px; padding-left: 10px; z-index: 80; }
.widget .switch-display ul li:nth-child(1) a { background-position: -78px -57px; }
.widget .switch-display ul li:nth-child(2) a { background-position: -39px -57px; }
.widget .switch-display ul li:nth-child(3) a { background-position: 0px -57px; }
/* posts loop */
.posts-wrap { border-right: 1px solid #EEEEEE; }
.posts-list .article { float: right; position: relative; width: 16.6666%; padding: 10px; border: 1px solid #EEEEEE; border-top-width: 0px; border-right-width: 0px; }
.posts-list .article .article-meta { position: absolute; bottom: 1px; left: 1px; padding: 2px 10px; background: #EEEEEE; color: #444444; }
.posts-list .article .article-meta .meta + .meta::before { content: "|"; font-size: 70%; margin-right: 10px; padding-left: 12px; }
.posts-list .article .article-meta .meta i { display: inline-block; margin-left: 6px; }
.posts-list .article .thumb-wrap { float: right; display: table-cell; max-width: 200px; margin-left: 20px; }
.posts-list .article .thumb-wrap:hover { border-color: #AAAAAA; }
.posts-list .article .entry-summary { display: table-cell; vertical-align: top; }
.posts-list .article .entry-title { margin-bottom: 10px; }
.posts-list .article .entry-title a { display: block; }
.archive-style-1 .posts-list .article { min-width: 100%; }
.archive-style-2 .posts-list .article { min-width: 215px; padding-bottom: 20px; }
.archive-style-2 .posts-list .article .thumb-wrap { float: none; display: block; width: 100%; margin: 0px; margin-bottom: 10px; max-width: none; }
.archive-style-3 .posts-list .article { min-width: 215px; }
.archive-style-3 .posts-list .article .thumb-wrap { float: none; display: block; width: 100%; margin: 0px; margin-bottom: 10px; max-width: none; }
.archive-style-3 .posts-list .article .entry-summary, .archive-style-3 .posts-list .article .article-meta { display: none; }
/* pagination */
.load-posts-btn, .loop-pagination { margin: 0px; text-align: center; }
.load-posts-btn a, .loop-pagination a { color: #333333 !important; }
.load-posts-btn a { font: normal 14px/1.7 'font10'; }
.loop-pagination a { display: inline-block; padding: 10px; background: #CCCCCC; }
.loop-pagination { text-align: center; }
.loop-pagination a { background: #EEEEEE; margin: 2px 0px; }
.loop-pagination a:hover { border-color: #ADADAD; }
.loop-pagination a, .loop-pagination span { display: inline-block; padding: 5px 15px; border: 1px solid #CCCCCC; border-radius: 2px; color: #333333; }
.loop-pagination span.current { font-weight: bold; }
/* singular */
.entry-image { position: relative; margin: 0px auto 20px auto; text-align: center; }
.entry-image .video-wrapper, .image-wrap img { border: 3px solid #DDDDDD; }
.entry-image .video-wrapper .video-content { margin-bottom: 0px !important; }
.entry-image.thumb-728x300 { max-width: 728px; }
.entry-image.thumb-728x300 img { max-height: 300px; }
.image-wrap { position: relative; margin-right: auto; margin-left: auto; }
.image-wrap img { display; block; width: 100%; height: auto; padding: 1px; }
.entry-caption { position: absolute; right: 10px; bottom: 10px; padding: 2px 15px; background: rgba(0,0,0,0.8); border-radius: 2px; color: #FFFFFF; z-index: 20; text-align: right; }
.entry-content { margin-top: 20px; margin-bottom: 20px; margin-right: auto; margin-left: auto; line-height: 1.7; text-align: justify; }
.post-source { font-size: smaller; }
/* gallery */
.gallery { margin-right: -10px; margin-left: -10px; }
.gallery::after { display: table; clear: both; content: ""; }
.gallery-item { display: inline-block; position: relative; margin-left: 10px; margin-right: 10px; margin-bottom: 20px; text-align: center; }
.gallery-item img { display: block; width: 100%; padding: 1px; border: 1px solid #DDDDDD; border-radius: 2px; }
.gallery-item a:hover img { border-color: #AAAAAA; }
.gallery-columns-1 .gallery-item { width: -webkit-calc(100% - 20px); width: calc(100% - 20px); min-width: 500px; }
.gallery-columns-2 .gallery-item { width: -webkit-calc(50% - 20px); width: calc(50% - 20px); min-width: 300px; }
.gallery-columns-3 .gallery-item { width: -webkit-calc(33.3333% - 20px); width: calc(33.3333% - 20px); min-width: 200px; }
.gallery-columns-4 .gallery-item { width: -webkit-calc(25% - 20px); width: calc(25% - 20px); min-width: 100px; }
.gallery-columns-5 .gallery-item { width: -webkit-calc(20% - 20px); width: calc(20% - 20px); min-width: 100px; }
.gallery-columns-6 .gallery-item { width: -webkit-calc(16.6666% - 20px); width: calc(16.6666% - 20px); min-width: 100px; }
.gallery-columns-7 .gallery-item { width: -webkit-calc(14.2857% - 20px); width: calc(14.2857% - 20px); min-width: 100px; }
.gallery-columns-8 .gallery-item { width: -webkit-calc(12.5% - 20px); width: calc(12.5% - 20px); min-width: 100px; }
.gallery-columns-9 .gallery-item { width: -webkit-calc(11.1111% - 20px); width: calc(11.1111% - 20px); min-width: 100px; }
.gallery-caption { bottom: 2px; right: 2px; margin-left: 2px; }
.wp-caption { position: relative; max-width: 100%; }
.wp-caption-text { position: absolute; right: 0px; bottom: 0px; padding: 2px 15px; background: rgba(0,0,0,0.8); color: #FFFFFF; z-index: 20; text-align: right; }
.gallery-item .wp-caption-text { right: 2px; bottom: 2px; padding: 2px 15px; }
/* contents */
.contents::after { display: table; clear: both; content: ""; }
.contents blockquote { clear: both; margin: 20px; padding: 20px; border: 1px dashed #DDDDDD; background: #F2F2F2; font: inherit; }
.contents blockquote p:last-of-type { margin: 0px; }
.contents img { max-width: 100%; height: auto; }
.contents iframe, .contents object, .contents embed, .contents video { max-width: 100%; }
.contents .aligncenter { display: block; margin-right: auto; margin-left: auto; }
.contents .alignleft { float: left; margin-right: 20px; }
.contents .alignright { float: right; margin-left: 20px; }
/* post meta */
.post-meta { margin-bottom: 20px; padding-top: 5px; padding-bottom: 5px; }
.post-meta i { margin-left: 6px; }
.meta-item { order: 10; display: inline-block; margin-left: 25px; }
/* post tags */
.post-tags { margin-bottom: 20px; }
.post-tags ul { list-style: none; margin: 0px; padding: 0px; }
.post-tags li { float: right; }
.post-tags li a { display: block; margin: 2px 0px 2px 4px; padding: 2px 8px; background: linear-gradient(to bottom, #F2F2F2, #EEEEEE); box-shadow: 0px 1px 1px #FFFFFF inset, 0px 1px 3px -1px #EEEEEE; border: 1px solid #DDDDDD; border-radius: 2px; color: #666666; }
.post-tags li a:hover { background: #FFFFFF; }
/* post & image navigation */
.post-navigation { margin-top: 10px; background: #F2F2F2; border: 1px solid #EEEEEE; }
.post-navigation a { display: table-cell; width: 50%; }
.post-navigation div { position: relative; }
.post-navigation h3 { margin-bottom: 0px; }
.post-navigation i { position: absolute; margin-top: -5px; width: 40px; height: 40px; font-size: 50px; }
.post-navigation i { color: #DDDDDD; }
.post-navigation .nav-links { display: table; width: 100%; }
.post-navigation .nav-links a { padding: 10px; }
.post-navigation a[rel="prev"], .image-navigation .nav-links a:nth-child(2) { text-align: left; }
.post-navigation a[rel="next"] + a[rel="prev"], .image-navigation .nav-links a + a { border-right: 1px solid #EEEEEE; }
.post-navigation a[rel="next"] div, .image-navigation .nav-links a div { padding-right: 50px; }
.post-navigation a[rel="next"] i, .image-navigation .nav-links a:first-child i { right: 10px; }
.post-navigation a[rel="prev"] div, .image-navigation .nav-links a:nth-child(2) div { padding-left: 50px; }
.post-navigation a[rel="prev"] i, .image-navigation .nav-links a:nth-child(2) i { left: 10px; }
.image-navigation i { margin-top: -14px; }
/* share buttons */
.share-buttons { position: relative; margin-bottom: 20px; height: 54px; padding: 10px; background: #F2F2F2; z-index: 300; }
.share-buttons .share-label::after { content: "شارك"; float: right; margin-left: 15px; font: normal 16px/32px 'font10'; }
.sticky-active .share-buttons { box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.5); z-index: 400; }
.sn_addthis.addthis_sharing_toolbox .at-share-btn { margin: 0px 0px 0px 4px !important; }
.sn_addthis.addthis_sharing_toolbox .at-share-btn .at-icon-wrapper { border-radius: 2px; text-align: center; }
.sn_addthis.addthis_sharing_toolbox .at_flat_counter { border-radius: 2px; }
.sn_addthis.addthis_sharing_toolbox .at_flat_counter::after { left: auto !important; right: -10px !important; border-width: 5px !important; border-color: transparent transparent transparent #EBEBEB !important; }
body.desktop .sn_addthis .at-share-btn.at-svc-whatsapp { display: none; }
body.mobile .sn_addthis .at-share-btn.at-svc-google_plusone_share { display: none; }
.sn_addthis .at-share-btn { width: auto; max-width: none !important; }
.sn_addthis .at-share-btn .at-icon-wrapper { width: 70px !important; }
.sn_sc_button { display: inline-block; vertical-align: top; margin-right: 10px; margin-left: 10px; }
.sn_facebook_like { padding-top: 6px; }
.sn_tweet { padding-top: 6px; }
.sn_plus { padding-top: 4px; }
/* short link */
.short-link { position: absolute; left: 10px; }
.short-link .form-control { display: inline-block; width: 130px; }
.short-link > label { vertical-align: middle; }
.short-link > label::before { margin-left: 10px; content: "رابط مختصر:"; }
/* author block */
.author-block h2 { margin-bottom: 10px; }
.author-block .user-avatar { float: right; padding: 1px; border: 3px solid #EEEEEE; border-radius: 2px; }
.author-block .user-avatar + .user-info { padding-right: 20px; }
.author-block .user-info { display: table-cell; vertical-align: top; }
.author-block .posts-count { display: inline-block; margin-right: 8px; padding: 2px 6px; background: #F2F2F2; border-radius: 2px; }
.author-links { margin-top: 20px; }
.author-links ul { list-style: none; margin: 0px; padding: 0px; }
.author-links ul li { float: right; position: relative; margin-left: 10px; }
.author-links ul li a { display: block; padding: 7px; min-width: 40px; background: #F2F2F2; box-shadow: 0px 0px 2px rgba(0,0,0,0.1) inset; border-radius: 4px; font-size: 16px; text-align: center; }
.author-buttons { margin-top: 20px; }
.author-buttons ul { list-style: none; margin: 0px; padding: 0px; }
.author-buttons ul li { float: right; position: relative; margin-left: 20px; }
/* breadcrumbs */
.sn-breadcrumbs { list-style: none; margin: 0px; padding: 0px; margin-bottom: 10px; }
.sn-breadcrumbs i { font-size: 18px; }
.sn-breadcrumbs li { float: right; margin-left: 7px; }
.sn-breadcrumbs li::after { content: "\f104"; margin-right: 7px; font-family: 'FontAwesome'; line-height: 1; color: #BBBBBB; }
.sn-breadcrumbs li:last-child::after { content: ""; }
.sn-breadcrumbs li a { display: inline-block; }
.sn-breadcrumbs .home-link { display: inline-block; text-indent: -9999px; }
/* widgets */
.widget-wrapper { margin-right: -10px; margin-left: -10px; overflow: hidden; }
.widget-wrapper .widget { float: right; margin: 0px 10px 20px 10px; }
.widget-wrapper .widget { width: -webkit-calc(100% - 20px); width: calc(100% - 20px); }
.widget-title { position: relative; margin: 0px; padding: 0px; z-index: 100; background: #F2F2F2; }
.widget-title, .widget .title-tabs { margin-bottom: 10px; }
.widget-title h3 { flex-grow: 1; position: relative; margin: 0px; }
.widget-title h3:not(.tab) { padding: 5px 20px; }
.widget-title h3.tab a { padding: 5px 10px; }
.widget-title, .widget-title a { color:#FFFFFF; }
.widget-color, .widget-color a { color: #FFFFFF; }
.cat-arrow { position: absolute; top: 0px; bottom: 0px; left: 0px; padding: 2px 12px; z-index: 80; }
.cat-arrow::before { content: "المزيد "; display: none; }
/* ads */
.sn_ad { margin-bottom: 20px; text-align: center; }
.widget .sn_ad { margin-bottom: 0px; }
.sn_ad img, .sn_ad iframe { max-width: 100%; }
.sn_ad img { height: auto; }
#ad_1, #ad_8 { margin: 0px; padding: 10px; }
#ad_2 { margin: 0px; margin-left: 20px; margin-right: 20px; white-space: nowrap; flex: 1; }
#ad_2 > div { line-height: 1; }
#ad_7 { float: right; margin: 0px; margin-right: 50px; }
#ad_13, #ad_14 { position: absolute; top: 10px; width: 180px; z-index: 400; }
#ad_13 { right: -190px; }
#ad_14 { left: -190px; }
#ad_16 { margin-top: 20px; }
#ad_19 { float: right; margin-left: 20px; margin-bottom: 10px; }
#ad_20 { float: left; margin-right: 20px; margin-bottom: 10px; }
/* urgent notes */
.urgent-news { background: #7D0202; border-top: 3px solid #330404; text-shadow: 1px 1px 0px rgba(0,0,0,0.4); z-index: 200; display: none; }
.urgent-news, .urgent-news a { color: #FFFFFF; }
.urgent-news a { display: inline-block; direction: ltr; text-decoration: underline; }
.urgent-news pre { margin: 0px; padding: 10px 20px; white-space: normal; font: normal 18px/1.7 'font10'; color: inherit; }
.urgent-news a.close-btn { position: absolute; bottom: 100%; left: 0px; display: inline-block; width: 50px; height: 40px; background: #111111; font: normal 28px/40px tahoma; text-align: center; text-decoration: none; }
/* comments */
#comments iframe { max-width: 100%; }
.comments-item { margin-bottom: 20px;}
.comments-item:last-child { margin-bottom: 0px;}
.comment-list, .comment-list ol { margin: 0px; padding: 0px; list-style: none; }
.comment-list { counter-reset: comments-counter; }
.comment-list .comment { position: relative; }
.comment-list .comment:before { content: "#" counter(comments-counter); counter-increment: comments-counter; position: absolute; top: 0px; right: -50px; width: 42px; padding: 4px 0px; background: #F2F2F2; font: italic 15px/1.5 tahoma; text-align: center; color: #888888; border-radius: 2px; z-index: 100; }
body.comments-avatars .comment:before { top: 50px; }
.comment-list .comment .comment { margin-right: 50px; }
.comment-list { padding-right: 50px; }
.comment-body { position: relative; margin-bottom: 20px; border: 1px solid #EEEEEE; }
.comment-body .reply a { display: inline-block; position: absolute; bottom: 0px; left: 0px; padding: 2px 15px; background: #F2F2F2; border-top: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE; }
.comment-content, .trackback .comment-body, .pingback .comment-body { padding: 20px; }
.comment-meta { padding: 5px 10px; background: #F2F2F2; border-bottom: 1px solid #EEEEEE; border-radius: 1px 1px 0px 0px; }
.comment-meta::after { display: table; clear: both; content: ""; }
.comment-meta .comment-author { float: right; }
.comment-meta .comment-metadata { float: left; margin-right: 20px; }
.comment-meta .edit-link { display: inline-block; margin-right: 30px; }
.comment-meta .comment-metadata, .comment-meta .comment-metadata a, .comment-body .reply a { color: #888888; }
.comment-meta .comment-metadata a:hover, .comment-body .reply a:hover { color: #444444; }
.comment-meta img { position: absolute; top: -1px; right: -51px; padding: 1px; border: 1px solid #EEEEEE; }
.comment-awaiting-moderation { float: right; margin: 0px; margin-right: 30px; }
.comment-list .comment.bypostauthor > .comment-body { background: #F3F8FE; }
.comment-list .comment.bypostauthor > .comment-body .comment-meta, .comment-list .comment.bypostauthor > .comment-body .reply a { background: #EAF0F2; }
.comment-list .comment.bypostauthor > .comment-body, .comment-list .comment.bypostauthor > .comment-body .comment-meta, .comment-list .comment.bypostauthor > .comment-body .reply a { border-color: #DDDDDD; }
.comment-list .comment.bypostauthor > .comment-body .fn::before { content: "\f058"; position: relative; display: inline-block; margin-left: 5px; font-family: 'FontAwesome'; font-weight: normal; line-height: 1; color: #5181e8; }
/* comments navigation */
.comment-navigation { margin-bottom: 20px; }
.comment-navigation::after { display: table; clear: both; content: ""; }
.comment-navigation a { float: right; display: block; padding: 4px 10px; background: #F2F2F2; border-radius: 2px; }
.comment-navigation .nav-next a { float: left; }
/* comment form */
.comment-form { margin-bottom: 20px; padding: 20px; border: 1px solid #EEEEEE; }
html.no-js .comment-form input, html.no-js .comment-form textarea { width: 100%; }
.comment-reply-title a { margin-right: 10px; }
html:not(.no-js) body:not(.logged-in) .comment-form .comment-notes, html:not(.no-js) body:not(.logged-in) .comment-form .comment-form-author, html:not(.no-js) body:not(.logged-in) .comment-form .comment-form-email, html:not(.no-js) body:not(.logged-in) .comment-form .form-submit { display: none; }
/* facebook comments */
.comments .fb_iframe_widget, .comments .fb_iframe_widget span, .comments .fb_iframe_widget span iframe[style] { min-width: 100% !important; width: 100% !important; }
/* social widgets */
.sn-box, .sn-button { position: relative; margin-bottom: 20px; z-index: 100; }
.sn-box:last-child, .sn-button:last-child { margin-bottom: 0px; }
.sn-button { margin-bottom: 20px; height: 44px; padding: 9px 60px 9px 9px; background: rgba(0,0,0,0.027); border: 1px solid rgba(0,0,0,0.066); text-align: center; }
.sn-button.sn-button-facebook { z-index: 150; }
.sn-button > i { position: absolute; top: 1px; bottom: 1px; right: 1px; width: 60px; font-size: 26px; line-height: 42px; text-align: center; color: #FFFFFF; }
.sn-button > i.fa-facebook { background-color: #4a6ea9; }
.sn-button > i.fa-twitter { background-color: #32def4; }
.sn-button > i.fa-google-plus { background-color: #e46044; }
/* posts widget */
.posts { margin: -2px 0px 0px -2px; }
.posts ul { margin: 0px; padding: 0px; list-style: none; counter-reset: posts-counter; }
.posts ul li { position: relative; counter-increment: posts-counter; }
.posts ul li:not(:empty)::before, .posts ul li:not(:empty) > a::before { content: counter(posts-counter); display: none; }
.posts ul li.item { float: right; width: 16.6666%; }
.posts ul li.item > a { position: relative; display: block; padding: 10px; background-size: cover; }
.posts ul li.item > a, .posts ul li.heading { border: 2px solid #FFFFFF; margin: 0px -2px -2px 0px; }
.posts ul li.item > a:hover { background-color: #EEEEEE; z-index: 40; }
.posts ul li.item > a::after { display: table; clear: both; content: ""; }
.posts ul li.item .title { margin-bottom: 0px; line-height: 25px; }
.posts ul li.has-video .thumb-wrap::before { content: "\f04b"; display: inline-block; position: absolute; top: 4px; right: 4px; padding: 0px 5px; font-family: 'FontAwesome'; background: #852222; color: #FFFFFF; opacity: 0.9; z-index: 10; }
.posts ul li .summary { padding: 10px; }
.posts ul li .summary p:last-child { margin-bottom: 0px; }
.posts.style1 ul li.item { min-width: 280px;  }
.posts.style1 ul li.item .thumb-wrap { float: right; display: table-cell; margin-left: 10px; width: 76px; }
.posts.style1 ul li.item .title { display: table-cell; }
.posts.style2 ul li.item { min-width: 280px; }
.posts.style2 ul li.item .thumb-wrap { float: right; display: table-cell; margin-left: 10px; width: 148px; }
.posts.style2 ul li.item .title { display: table-cell; }
.posts.style3 ul li.item { min-width: 160px; }
.posts.style3 ul li.item .thumb-wrap { margin-bottom: 10px; }
.posts.style4 ul li.item { min-width: 160px; }
.posts.style4 ul li.item > a { padding: 0px; border-color: #F2F2F2; z-index: 50; }
.posts.style4 ul li.item a:hover .thumb-wrap, .posts ul li.heading.style2 a:hover .thumb-wrap { opacity: 0.9; }
.posts.style4 ul li.item .thumb-wrap { padding: 0px; border: none; border-radius: 0px; }
.posts.style4 ul li.item .thumb-wrap + .title { position: absolute; right: 0px; bottom: 0px; left: 0px; padding: 10px; background: rgba(0,0,0,0.8); color: #FFFFFF; overflow: hidden; }
.posts.style4 ul li.item .thumb-wrap + .title + .post-items, .posts ul li.heading.style2 .thumb-wrap + .title + .post-items { position: absolute; top: 4px; left: 4px; color: #FFFFFF !important; }
.posts.style4 ul li.item .thumb-wrap + .title + .post-items .meta, .posts ul li.heading.style2 .thumb-wrap + .title + .post-items .meta { float: left; clear: both; margin-bottom: 2px; margin-left: 0px; padding: 2px 4px; opacity: 0.9; }
.posts.style4 ul li.item .thumb-wrap + .title + .post-items .meta::after, .posts ul li.heading.style2 .thumb-wrap + .title + .post-items .meta::after { display: none; }
.posts.style5 ul li.item { min-width: 100%; }
/* posts widget items */
.post-items { display: block; overflow: hidden; }
.post-items i { margin-left: 6px; }
.post-items .meta { float: right; position: relative; margin-left: 8px; padding-left: 12px; }
.post-items .meta::after { position: absolute; top: 0px; left: 0px; content: "\2022"; font-size: 70%; }
.post-items .meta:last-child { margin-left: 0px; padding-left: 0px; }
.post-items .meta:last-child::after { content: ""; }
/* posts widget heading */
.posts ul li.heading a { position: relative; display: block; }
.posts ul li.heading.style1 { padding: 10px; }
.posts ul li.heading.style1 .title { margin-bottom: 10px; }
.posts ul li.heading.style1 .thumb-wrap { float: right; display: table-cell; vertical-align: top; margin-left: 20px; max-width: 300px; }
.posts ul li.heading.style1 .summary { display: table-cell; vertical-align: top; padding: 0px !important; }
.posts ul li.heading.style1 .post-items { margin-bottom: 10px; }
.posts ul li.heading.style2 { width: 100%; }
.posts ul li.heading.style2 .thumb-wrap { padding: 0px; border: none; }
.posts ul li.heading.style2 .thumb-wrap + .title { margin-bottom: 0px; }
.posts ul li.heading.style2 .thumb-wrap + .title { position: absolute; right: 0px; bottom: 0px; left: 0px; margin-bottom: 0px; padding: 10px; background: rgba(0,0,0,0.8); color: #FFFFFF; }
/* ticker widget */
.ticker { padding: 5px 20px; }
.ticker .ticker-title { float: right; margin: -5px -20px -5px 20px; padding: 5px 20px; background: #7b1518; color: #FFFFFF !important; }
.ticker .ticker-wrap { overflow: hidden; white-space: nowrap; }
.ticker .item { display: inline-block; margin-left: 40px; width: -webkit-calc(100% - 40px); width: calc(100% - 40px); visibility: hidden; }
.ticker .title { margin-bottom: 0px; }
.ticker.style1 .ticker-wrap { direction: ltr; }
.ticker.style1 .js-marquee-wrapper { direction: rtl; }
.ticker.style1 .js-marquee .item { visibility: visible; width: auto; }
/* taxonomy list widgets */
.tax-list { margin: -2px 0px 0px -2px; }
.tax-list ul { margin: 0px; padding: 0px; list-style: none; }
.tax-list ul li { position: relative; float: right; border: 2px solid #FFFFFF; margin: 0px -2px -2px 0px; }
.tax-list.style1 ul li { width: 20%; min-width: 170px; border: 2px solid #FFFFFF; margin: 0px -2px -2px 0px; }
.tax-list.style2 ul li { flex-grow: 0; }
.tax-list ul li:hover { background: #EEEEEE; }
.tax-list ul li a { display: inline-block; padding: 5px 10px; }
.tax-list ul li h3 { margin-bottom: 0px; }
.tax-list ul li .count { display: inline-block; margin-left: 5px; padding: 2px 6px; }
/* video widget */
.widget_sn_video .video-content { margin-bottom: 0px; }
.widget_sn_video .video-post { position: relative; }
.widget_sn_video .video-post .thumb-wrap::before { content: ""; position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; background: url('img/play.png') center center no-repeat; }
.widget_sn_video .video-post h3.title { position: absolute; right: 2px; bottom: 2px; left: 2px; margin-bottom: 0px; padding: 5px 10px; background: rgba(0,0,0,0.8); color: #FFFFFF; overflow: hidden; }
/* widgets list widget */
.widget_sn_widgets_list { margin-bottom: 0px !important; }
/* tabs */
.title-tabs { margin: 0px; padding: 0px; list-style: none; text-align: center; z-index: 50; }
.title-tabs { padding-right: 4px; padding-left: 4px; }
.title-tabs li { float: right; position: relative; min-width: 100px; }
.title-tabs li a { color: #FFFFFF !important; }
.title-tabs li.ui-state-active { margin-top: 4px; }
.title-tabs li.ui-state-active a { padding-top: 1px; background: #FFFFFF; color: #333333 !important; border-radius: 2px 2px 0px 0px; }
/* widgets misc */
.widget_sn_posts_list .widget-content, .widget_sn_cat_posts .widget-content, .widget_sn_taxonomies .widget-content { overflow: hidden; }
.posts, .ticker, .tax-list ul li { background-color: #F2F2F2; }
#sidebar-footer .posts, #sidebar-footer .ticker, #sidebar-footer .tax-list ul li { background-color: rgba(0,0,0,0.2); }
#sidebar-footer .widget-title, #sidebar-footer .widget .widget-color { background-color: rgba(0,0,0,0.6) !important; }
#sidebar-footer .posts, #sidebar-footer .posts ul li.item > a, #sidebar-footer .posts ul li.heading, #sidebar-footer .tax-list ul li { border-color: rgba(0,0,0,0.1); }
#sidebar-footer .posts ul li.item > a:hover, #sidebar-footer .tax-list ul li:hover { background-color: rgba(0,0,0,0.05) !important; }
.widget_sn_widgets_list.ui-tabs .widget-wrapper .widget > .widget-title { display: none; }
.widget_sn_latest_posts .posts-wrap { border-top: 1px solid #EEEEEE; }
/* su */
.su-slider, .su-carousel, .mfp-counter { direction: ltr; }
.su-slider-slide-title { left: auto !important; right: 20px; }
/* misc */
a#scroll-top { display: block; position: fixed; right: 10px; bottom: 10px; padding: 5px; border-radius: 4px; color: #CCCCCC; z-index: 300; display: none; }
a#scroll-top i { font-size: 48px; }
a#scroll-top:hover { color: #777777; }
.gde-text { background: #F7F7F7; padding: 5px 20px; }
.fb_iframe_widget span { direction: ltr; }
/* temp */


.posts.style3 ul li.item .thumb-wrap + .title { max-height: 50px; overflow: hidden; }.
.posts.style2 ul li.item .thumb-wrap + .title { height: 88px; }
.posts{margin:0px;margin-left:-20px}.posts, .ticker, .tax-list ul li, .posts ul li.item>a:hover{background-color:transparent}.posts ul li.item > a, .posts ul
li.heading{margin:0px;margin-bottom:20px;margin-left:20px;border:0px}.posts ul li.item > a, .posts ul
li.heading.style1{padding:0px}.posts.style3 ul li.item, .posts.style4 ul
li.item{min-width:220px}.posts.style4 ul li.item .thumb-wrap+.title{padding-top:70px;background:linear-gradient(to bottom,transparent,rgba(0,0,0,0.9))}.share-buttons{background:#FFF;border-top:1px solid #EEE;border-bottom:1px solid #EEE}.short-link{margin-top:-1px}

body{
  background-color: #F2EFEA;
}
body #site{
  background-color: transparent !important;
}
body #main{
  background-color: #fff;
  padding-top: 20px;
  -webkit-box-shadow: 0 0px 6px #C2C2C2;
  box-shadow: 0 0px 6px #C2C2C2;
  border-radius: 3px;
} 

