.lva-wgt {display:none;}
.lva-icon-play { 
    z-index: 2;
    position:absolute;
    background:url('../img/play-image.png') no-repeat;
    height:60px;
    width:90px;
}
.lva-wgt-container, .lva-wgt-sidebar {width:300px;}
.lva-wgt-title {width:290px; margin:5px 0;}
.lva-wgt-sidebar {width:300px;}
.lva-wgt-sidebar ul {list-style-type:none;margin:0px;}
.lva-wgt-sidebar ul .lva-item {
    border-bottom: 2px solid #F2F2F2;
    height: 60px;
    margin-bottom: 2px;
}
.lva-wgt-sidebar ul .lva-item.noborder {border:0;}

.lva-wgt-sidebar ul li .lva-img img,
.lva-wgt-sidebar ul .lva-img {height:60px; width:90px;}
.lva-wgt-sidebar ul .lva-img {position: relative;}
.lva-wgt-sidebar ul li .lva-img img {border:0;}
.lva-wgt-sidebar ul li .lva-desc {
    display: block;
    height:60px;
    bottom:60px;
    left:90px;
    padding-left:5px;
    position:relative;
    width:204px;
    overflow:hidden;
}
.lva-wgt-sidebar ul li .lva-desc a {
    font-size: 13px;
    font-weight:bold;
    font-family:inherit; 
    color:#5F5F5F;
    line-height: 1.4em;    
    display: table-cell; 
    vertical-align: middle;
    text-decoration:none;  
}
.lva-wgt-sep {clear:both; height:15px; border:0}
.lva-wgt-sidebar ul .lva-item.active .lva-icon-play {background-image:url('../img/play-image_w.png');}
.lva-wgt-sidebar ul .lva-item.active .lva-desc a {color:#000;}

/* versione full width per col top */
.lva-wgt-page {padding-bottom: 15px;margin-bottom:5px;}
.lva-wgt-page ul {
		list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding-top:5px;
}
.lva-wgt-page h2 {
		font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0 6px 0 0;
    padding-top:5px;
    text-align: center;
}
.lva-wgt-page .lva-icon-play {
    margin:10px 0 0 20px;
}
.lva-wgt-page .active .lva-icon-play { background-image:url('../img/play-image_w.png'); }
.lva-wgt-page-item {
		float: left;
    font-size: 12px;
    line-height: 16px;
    width: 121px;
    padding-right:7px;
}
.lva-wgt-page-item:hover { cursor:pointer; }
.lva-wgt-page-item a {
	 color: #999999;
	 display: inline-block;
	 vertical-align: top;
}
.lva-wgt-page-item .lva-img {
		border: 3px solid #F2F2F2;
		display:block;
    height: 65px;
    margin: 0 0 7px;
    overflow: hidden;
    width: 116px;
    
}
.lva-wgt-page-item .lva-img img {width:100%;}
.lva-wgt-page-item .lva-desc {
		display: block;
    max-height: 50px;
    width: 116px;
    margin-bottom:4px;
    padding:0 2px 0 0;
}
.lva-wgt-page-item a {text-decoration:none;}
.lva-wgt-page-item.active a {color:#000;font-weight:normal;}
.lva-wgt-page-item.active .lva-img {border: 3px solid #E24B4F;}

@media only screen and (max-width:656px){ 
  .lva-wgt-page-item {width:99%;padding-right:0;line-height:17px;font-size:14px;}
  .lva-wgt-page-item a {width:98%; max-height:72px;overflow:hidden;}
  .lva-wgt-page-item .lva-img {float:left;margin:0 0 2px;}
  .lva-wgt-page-item .lva-desc {    
    display: table-cell;
    height: 66px;
    width: 330px;
    margin-bottom: 4px;
    margin-top: 3px;
    padding-left: 40px;
    padding-top: 3px;
    font-weight:bold;
  }
}
@media only screen and (max-width:479px){
  .lva-wgt-page-item {margin-bottom:6px;}
}