
#div-gpt-ad-1451468082953-0-oop, #div-gpt-ad-1451468082953-2{
	line-height:0px;
	font-size:0px;
}

/*meteolive*/
#div-gpt-ad-1455125358836-0-oop{
	line-height:0px;
	font-size:0px;
}

/*nomix*/
#div-gpt-ad-1454603731426-0-oop, #div-gpt-ad-1454603731426-2{
	line-height:0px;
	font-size:0px;
}
#div-gpt-ad-1454411202045-0-oop, #div-gpt-ad-1454411202045-2{
	line-height:0px;
	font-size:0px;
}

/*tuttoandroid*/
#div-gpt-ad-1456852561967-0-oop, #div-gpt-ad-1456852561967-2{
	line-height:0px;
	font-size:0px;
}

/*ricettepercucinare*/
#div-gpt-ad-1457109438583-0-oop, #div-gpt-ad-1457109438583-2{
	line-height:0px;
	font-size:0px;
}

/*popcorn*/
#div-gpt-ad-1454593910604-0-oop, #div-gpt-ad-1454593910604-2, #div-gpt-ad-1454593063745-0-oop, #div-gpt-ad-1454593063745-2
{
	line-height:0px;
	font-size:0px;
}

/*concorsipubblici*/
#div-gpt-ad-1454343089465-0-oop, #div-gpt-ad-1454343089465-2
{
	line-height:0px;
	font-size:0px;
}

/*scuolazoo*/
#div-gpt-ad-1455029591137-0-oop, #div-gpt-ad-1455029591137-2
{
	line-height:0px;
	font-size:0px;
}

/*donnaglamour*/
#div-gpt-ad-1454411202045-0-oop, #div-gpt-ad-1454411202045-2, #div-gpt-ad-1454598470738-0-oop, #div-gpt-ad-1454598470738-2

{
	line-height:0px;
	font-size:0px;
}


