/*
Theme Name: Search Engine Land
Theme URI: http://searchengineland.com
Authors: Michelle Robbins, Zane DeFazio
Author URI: http://twitter.com/MichelleRobbins, http://twitter.com/zanedefazio
Description: Main Search Engine Land theme
Version: 0.1
*/
/*
@font-face {
  font-family: 'Trade Gothic W01 Bold';
  src: url('fonts/TradeGothicLTCom-Bold.eot');
  src: url('fonts/TradeGothicLTCom-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/TradeGothicLTCom-Bold.woff') format('woff'),
       url('fonts/TradeGothicLTCom-Bold.ttf')  format('truetype'),
       url('fonts/TradeGothicLTCom-Bold.svg#07323e387d28f05602e8129f94889c32') format('svg');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Trade Gothic W01 Cn 18';
  src: url('fonts/TradeGothicLTCom-Cn18.eot');
  src: url('fonts/TradeGothicLTCom-Cn18.eot?#iefix') format('embedded-opentype'),
       url('fonts/TradeGothicLTCom-Cn18.woff') format('woff'),
       url('fonts/TradeGothicLTCom-Cn18.ttf')  format('truetype'),
       url('fonts/TradeGothicLTCom-Cn18.svg#15583f9881ca4f9e157dff5a10f014e4') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}
*/
.global-content-stream .stream-article .article-text h2 {
	float:none;
}
.header-full{margin-left:30px!important;}
.drop{margin-right:40px!important;}
.icon-sel-share-01 {
	background-image: url('img/icons/share-header.png') !important;
	width:24px;
	height:24px;
	display:block;
}

.icon-sel-share-01:hover {
	background-image: url('img/icons/share-header-blue.png') !important;
	width:24px;
	height:24px;
	display:block;
}

.icon-sel-email-01 {
	background-image: url('img/icons/email-header.png') !important;
	width:24px;
	height:21px;
	display:block;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}



.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: red;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

.twitter-tweet-rendered {
	margin-right: auto !important;
	margin-left: auto !important;
}

.fit-embeded {
	margin-bottom: 20px;
}
/* Shadowbox */
#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}#sb-overlay{position:relative;height:100%;width:100%;}#sb-wrapper{position:absolute;visibility:hidden;width:100px;}#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}#sb-body{position:relative;height:100%;}#sb-body-inner{position:absolute;height:100%;width:100%;margin-top:30px;}#sb-player.html{height:100%;overflow:auto;}#sb-body img{border:none;}#sb-loading{position:relative;height:100%;}#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}#sb-loading-inner span{background:url(img/shadowbox/loading.gif) no-repeat;padding-left:34px;display:inline-block;}#sb-body,#sb-loading{background-color:#060606;}#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}#sb-title,#sb-title-inner{height:26px;line-height:26px;}#sb-title-inner{font-size:16px;}#sb-info,#sb-info-inner{height:20px;line-height:20px;}#sb-info-inner{font-size:12px;}#sb-nav{float:right;height:24px;padding:2px 0;width:45%;}#sb-nav-close{float:right;width:25px;height:24px;display:block;margin: 5px 5px 5px 0px;background: url(img/shadowbox/close.png) 2px 0px no-repeat;cursor:pointer;}#sb-nav-next{background-image:url(img/shadowbox/next.png);}#sb-nav-previous{background-image:url(img/shadowbox/previous.png);}#sb-nav-play{background-image:url(img/shadowbox/play.png);}#sb-nav-pause{background-image:url(img/shadowbox/pause.png);}#sb-counter{float:left;width:45%;}#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}#sb-counter a.sb-counter-current{text-decoration:underline;}div.sb-message{font-size:12px;padding:10px;text-align:center;}div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}

/* alerts */
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}.alert .alert-link{font-weight:bold}.alert>p,.alert>ul{margin-bottom:0}.alert>p+p{margin-top:5px}.alert-dismissable{padding-right:35px}.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}.alert-awards{background-color:#dff0d8;border-color:#d6e9c6;color:#3c763d}.alert-awards hr{border-top-color:#c9e2b3}.alert-awards .alert-link{color:#2b542c}.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#31708f}.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#8a6d3b}.alert-warning hr{border-top-color:#f7e1b5}.alert-warning .alert-link{color:#66512c}.alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#a94442}.alert-danger hr{border-top-color:#e4b9c0}.alert-danger .alert-link{color:#843534}


.subhead {font-weight: 300;}

.instagram-embed { margin: 0 auto; }

img.solutionsctr { width: 150px !important; }

.article-content img { padding: 0; }

.body-content li { font-size: 18px; }

.body-content li a, .body-content p a, .story-box li a, .story-box p a { color: #428BCA; text-decoration: underline; }
.body-content li a:hover, .body-content p a:hover, .story-box li a:hover, .story-box p a:hover { color: #428BCA; text-decoration: underline; }
.library-list li a:hover { color: #428BCA; }
#contentTabs li a, #contentTabs li a:hover, .pager li a, .pager li a:hover { text-decoration: none; }
.global-content-stream li a, .global-content-stream li a:hover {text-decoration: none;}
.body-content blockquote { margin-left: 36px; }
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}

h2.headline a:hover {text-decoration: underline !important;}
h2.headline a:visited {color: #a8a8a8 !important;}
.secondary.entries h3 {font-size: 18px !important;}
.about-author h3 {font-size: 18px !important;}
.featured-article a:hover {text-decoration: underline !important;}
footer.site-footer .subscribe .forms form .form-group .btn-default { width: 35% !important; }
footer.site-footer .subscribe .forms form .form-group input { width: 65% !important; }
form#nla .form-group { width: 65% !important; }
form#nla .btn-default { width: 35% !important; }

textarea:focus, input:focus {
    color: #000 !important;
}

input, select, textarea {
    color: #000 !important;
}

form .btn {
	background-color: #0093FF;
	border: medium none;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 10px;
	font-family: "Arial";
	padding: 5px 7px;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}

.insta-embeded {position: relative; padding-bottom: 105%; height: 0; overflow: hidden;} .insta-embeded iframe, .insta-embeded object, .insta-embeded embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#nativeAd { text-align: center; }
#nativeSpace { clear: all; }
#nativeAd hr { 
	margin-top: -10px;
	margin-bottom: 0px;
	border: 0;
	border-bottom: 1px solid #ccc;}
	
/* hide the ads */
@media only screen and (max-width: 480px) {
  #leaderboard { display: none; }
  #nativeAd { display: none; }
  #adSpacer { height: 20px; }
}

.content ul li, .content ol li { font-size: 18px; }

.has-border { border: 1px solid black !important; }

img.aligncenter {margin-left: auto !important; margin-right: auto !important;}

.story-box h1 {font-size: 50px !important;}

.story-box h2.subhead {font-size: 30px !important;}

.awards-box {text-align: center;}
a.awards {color: #fff !important; text-transform: uppercase;}
a.awards:hover {color: #000 !important;}
.btn-awards {
  color: #ffffff;
  background-color: #000;
 /* border-color: #4cae4c; */
  margin-right: 20px;
  margin-bottom: 20px;
}
.btn-awards:hover,
.btn-awards:focus,
.btn-awards:active,
.btn-awards.active,
.open .dropdown-toggle.btn-awards {
  color: #ffffff;
 /* background-color: #47a447; */
  background-color: #efefef;
  border-color: #ddd;
}
.btn-awards:active,
.btn-awards.active,
.open .dropdown-toggle.btn-awards {
  background-image: none;
}
.btn-awards.disabled,
.btn-awards[disabled],
fieldset[disabled] .btn-awards,
.btn-awards.disabled:hover,
.btn-awards[disabled]:hover,
fieldset[disabled] .btn-awards:hover,
.btn-awards.disabled:focus,
.btn-awards[disabled]:focus,
fieldset[disabled] .btn-awards:focus,
.btn-awards.disabled:active,
.btn-awards[disabled]:active,
fieldset[disabled] .btn-awards:active,
.btn-awards.disabled.active,
.btn-awards[disabled].active,
fieldset[disabled] .btn-awards.active {
  background-color: #0093ff;
  /*border-color: #4cae4c;*/
}

.sidebar-signup {
	padding: 10px !important; 
	margin-left: -8px; 
	font-weight: bold;
}

.sponsored-dateline p {
	color: #0093ff; 
	font-size: 18px;
}

.sponsored-dateline p a, a:visited {
	color: #0093ff; 
	font-size: 18px;
	text-decoration: none;
}

.stream-byline a {
	color: #000 !important; 
	font-weight: 400 !important;
	text-decoration: none;
}

.dmd-assets-btn {
	font-size: 12px !important;
	width: 300px;
	padding: 5px 0 !important;
}

.dmd-assets-btn:visited {
	color: #ffffff !important;
}

.right-rail .right-rail-content .events .btn,
.right-rail .right-rail-content .dmd .btn a:visited {
	color: #ffffff !important;
}

/* Smaller than standard 736 (devices and browsers) */
@media only screen and (max-width: 736px) {
	.phone-logo {
		position: absolute;
		z-index: 1 !important;
	}
	.nav-tabs {
		margin-top: 30px !important;
	}
	
	.article-content {
		margin-top: 30px !important;
	}
}
.body-content img { margin-bottom: 10px !important; }

.heading-awards {
	color: #000 !important;
}
.icon-snapchat-01 {
	background-image: url('/images/icons/snapchat-icon.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.icon-apple-01 {
	background-image: url('/images/icons/sel-apple.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.icon-android-01 {
	background-image: url('/images/icons/sel-android.png') !important;
	width:13px!important;
	height:13px!important;
	display:block;
}
.mb2{margin-bottom:12px!important}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    color: #999;
    right: 0;
    padding: 8px 10px;
    pointer-events: none;
}