.quicklist_boxSection {
	bottom: -100%;
	color: #212121;
	padding: 0px;
	position: fixed;
	right: 20px;
	width: 350px;
	z-index: 99999;
	opacity: 0;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.19);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.19);
}

.quicklist_box {
	
}
.border_btm{
	border-bottom: none;
	background-color: #eee; 
	color: #212121;
}
.quicklist_box .quicklist_box_head {
	padding:12px 10px;
	overflow: hidden;
}
.quicklist_box .quicklist_box_head h4 {
	float: left;
	font-size: 16px !important;
	font-weight: 500;
	margin: 2px 0 0 0;
}
.quicklist_box .quicklist_box_head a {
	color: #212121;
	margin-left: 18px;
}
.padding-top {
	padding-top: 2px;
}
.icon-minus2,
.icon-plus2 {
	font-size: 17px;
}
.quicklist_box .quicklist_box_head a span {
	color: #212121;
	font-size: 16px !important;
	font-weight: 500;
	padding: 0px 0 0 5px;
	text-decoration: none;
	margin-top: 2px;
	display: inline-block;
}
.quicklist_box_head .btn-group {

}
.quicklist_box_head .btn-group button{
	background: none;
	border: none;
	margin-left: 18px;
}
.quicklist_box_head .btn-group .icon-playicon {
	margin-left: 14px;
}
button.icon-save2 {
	margin-top: 0px;
}
.quicklist_box .close-danger {
	padding: 2px 0px;
	margin-left: 10px;
	width: 22px;
	border: 0 none;
	color: #fff;
	border-radius: 3px;
}
.quicklist_box .close-btn {
	background-color: #0066cd;
	padding: 0px 0px;
	margin-left: 10px;
	width: 20px;
	border: 0 none;
	color: #fff;
	border-radius: 3px;
}
.play-btn {
	padding: 3px 12px;
	margin-right: 5px;
}
.save-btn {
	line-height: 14px;
	margin:-3px 0 0 10px;
}
.my_quicklist {
	height: 325px;
	width: 100% !important;
}
.playlist_item {
	padding: 5px;
}
.quicklist_box .playlist-column{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #e3e4e5;
}
.quicklist_box .my_quicklist .playlist-column:nth-child(2n){
	background-color:none;
}
.nopadding{
	padding: 0px !important;
}
.quicklist_box .padding-right {
	padding-right: 30px !important;
}
.left-pad10{ padding: 0px 0px 0px 10px !important;}
.right-pad10{ padding: 0px 10px 0px 0px !important;}
.full-width{ width: 100%;}
.ovrflo-hden{ overflow: hidden !important;}
.color-white{ 
	background: #0066cd;
	border: 0 none;
	cursor: pointer;
	padding: 6px 5px;
	padding: 0;
	color: #fff !important;
	opacity: 1 !important;
}
.relative{ 
	position: relative;
}
.playlist-column .color-white{
	font-size: 16px !important;
	font-weight: normal;
}
.hide-show{
	display: none;
}
.quicklist_box .playlist-sction {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	width: 100% !important;
	border: solid #eee;
	border-width: 0 1px 1px 1px; 
}
.quicklist_box .playlist-sction .scrollable-area{
	width: 100%;
	height: 270px;
	overflow-y: auto;
}
.quicklist_box .playlist-sction .scrollable-area-wrapper .vscrollbar {
	height: 250px !important;
	right: 5px;
}
.scrollable-area-wrapper .hscroll-slider, 
.scrollable-area-wrapper .vscroll-slider {
	background-color: #212121 !important;
}
.quicklist_box .playlist-column {
	padding: 10px;
}
.quicklist_box .playlist-column .img-holder {
	width: 114px; 
	margin-right: 10px;	
	position: relative;
}
.quicklist_box .playlist-column .duration-holder {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 5px 3px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	text-align: right;

}
.quicklist_box .playlist-column span.video_duration {
	font-size: 12px;
	display: inline-block;
	color: #fff;
	line-height: normal;
}
.quicklist_box .playlist-column .img-holder .absolute-img {
	max-height: 100%;
}
.quicklist_box .playlist-column .img-holder img {
	width: 100%;
}
.quicklist_box .playlist-column .add-playlist-column {
	overflow: hidden;
	padding-right: 30px;
	position: relative;
}
.quicklist_box .playlist-column {
	position: relative;
}
.quicklist_box .playlist-column p {
	margin-bottom: 0;
	line-height: normal !important;
}
.quicklist_box .playlist-column span {
	line-height: normal !important;
	height: auto;
}
.quicklist_box .playlist-column p {
	font-size: 13px;
	font-weight: 500;
	line-height: normal !important;
	height: auto;
}
.quicklist_box .playlist-column p a {
	color: #212121;
}
.quicklist_box .playlist-column p.by {
	color: #757575;
	margin-top: 5px;
}
.quicklist_box .playlist-column p.by a{
	color: #06c;
}
.quicklist_box .playlist-column .icon-delete {
	position: absolute;
	top: -100px;
	right: 10px;
	background: none;
	border: none;
	color: #bfbfbf;
	font-size: 18px;
	opacity: 0;
}
.quicklist_box .playlist-column:hover .icon-delete {
	top: 16px;
	opacity: 1;
}
.save-play {
	padding: 3px 15px 2px !important;
}





