/*!
 * typeahead.js 0.8.2
 * https://github.com/twitter/typeahead
 * Copyright 2013 Twitter, Inc. and other contributors; Licensed MIT
 */
.twitter-typeahead {
	width: 100%;
}
.twitter-typeahead {
	position: relative !important;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.tt-query {
	position: relative !important;
	/* for unknown reasons, this fixes alignment issues in ie7 */
	*margin-top: -1px !important;
	vertical-align: top !important;
	background-color: transparent !important;
	/* ie6-8 doesn't fire hover and click events for transparent elements
	 for a workaround, use a 1x1 transparent gif */
	background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) !important;
}
.tt-hint {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	position: absolute !important;
	border-color: transparent !important;
	width: 100%;
	top: 0px !important;
	left: 0px !important;
	padding: 3px 12px;
	font-size: 14px !important;
	color: #666;
	border-radius: 6px;
}

.search-header .tt-hint{
	font-size: 18px;
	width: 765px;
	height: 20px;
	padding: 12px;
	padding-left: 18px;
	/*font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
	background-color: rgba(255,255,255,0.5);
	color:#aaa;
	padding-right:52px
}

.tt-dropdown-menu,
.tt-suggestions,
.tt-suggestion {
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 21px;
}
.tt-dropdown-menu {
	background-color: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	color: #000;
	display: none;
	font-size: 14px;
	left: 0;
	padding: 6px 0px;
	position: absolute;
	top: 34px;
	width: 100%;
	z-index: 99999;
}

.tt-suggestion .highlight{
	font-weight: normal !important
}


.search-header .tt-dropdown-menu {
	width: 800px; 
	left: 0px; 
	top: 50px; 
	font-size: 15px;
	padding: 5px 18px;
}
.search-header .tt-suggestion{ 
	padding:0px 0px; 
}
.tt-suggestion p{
	margin: 0px;
	font-weight: normal;
}
.tt-is-under-cursor{
	background-color: #eee;
	margin: auto 0px;
	padding: 0px 6px;
	color: #000 !important;
}


.tt-is-under-cursor-new{
	background-color: #eee;
	margin: auto 0px;
	padding: 0px 6px;
	color: #000 !important;
}
.tt-is-under-cursor, .tt-is-under-cursor .highlight { 
	color:#000 
}


.search-header .tt-is-under-cursor{
	margin: auto -18px;
	padding: 5px 18px;
}

.tt-dropdown-menu.tt-is-open {
	display: block;
}
.tt-dropdown-menu.tt-is-empty {
	display: none;
}
.tt-suggestion {
	display: block;
	white-space: nowrap;
	cursor: pointer;
	font-weight: bold;
	font-family: "Opan Sans",Arial;
	padding-left: 18px;
}
.tt-suggestion * {
	white-space: normal;
}