@charset "UTF-8";

.m-nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1000;
  transition: opacity .2s ease;
  opacity: 0;
  visibility: hidden;
}

.m-nav-overlay:before {
  display: block;
  position: absolute;
  right: 14px;
  top: 19px;
  content: "\f00d";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FontAwesome";
  font-size: 30px;
  color: #fffeff;
  line-height: 1;
}

[data-overlay="true"] .m-nav-overlay {
  opacity: .8;
  visibility: visible;
}

.m-main-nav,.m-user-nav,.m-coupons-nav {
  position: fixed;
  top: 0;
  height: 100%;
  min-width: 270px;
  width: 70%;
  background: #fff;
  z-index: 1001;
  overflow-y: scroll;
  transition: left .2s ease;
  left: -100%;
  box-sizing: border-box;
}

.lety_csstransforms .m-main-nav,.lety_csstransforms
.m-user-nav,.lety_csstransforms
.m-coupons-nav {
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  left: auto;
}

.m-main-nav *,.m-user-nav *,.m-coupons-nav * {
  box-sizing: border-box;
}

.m-main-nav .shops-list {
  list-style-type: none;
  margin: 0;
  padding: 0 15px 15px;
}

.m-main-nav .shops-list ul {
  list-style-type: none;
  margin: 0;
}

.m-main-nav .shops-list li,.m-main-nav .shops-list li.leaf {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.m-main-nav .shops-list li a,.m-main-nav .shops-list li.leaf a {
  padding: 10px 15px;
  display: block;
  position: relative;
  text-decoration: none !important;
  line-height: 1.2;
  border-radius: 2px;
}

.m-main-nav .shops-list li a span.count,.m-main-nav .shops-list li.leaf a span.count {
  color: #9c9c9c;
}

.m-main-nav .shops-list li a + ul,.m-main-nav .shops-list li.leaf a + ul {
  padding: 0 0 0 10px;
}

.m-main-nav .shops-list > li,.m-main-nav .shops-list > li.leaf {
  margin-bottom: 10px;
  list-style-image: none;
}

.m-main-nav .shops-list > li > a,.m-main-nav .shops-list > li.leaf > a {
  font-size: 14px;
  background: #3F9EDD;
  color: #fff;
}

.m-main-nav .shops-list > li > ul > li,.m-main-nav .shops-list > li.leaf > ul > li {
  list-style-image: none;
}

.m-main-nav .shops-list > li > ul > li > a,.m-main-nav .shops-list > li.leaf > ul > li > a {
  background: #F7F7F7;
  margin: 6px 0 6px;
}

.m-main-nav .shops-list > li > ul > li ul li,.m-main-nav .shops-list > li.leaf > ul > li ul li {
  margin-left: 25px;
}

.m-main-nav .shops-list > li > ul > li ul li a,.m-main-nav .shops-list > li.leaf > ul > li ul li a {
  padding-left: 0;
}

[data-current-nav="m-main-nav-open"] .m-main-nav {
  transition: left .2s ease;
  left: 0;
}

.lety_csstransforms [data-current-nav="m-main-nav-open"] .m-main-nav {
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: auto;
}

[data-current-nav="m-user-nav-open"] .m-user-nav {
  transition: left .2s ease;
  left: 0;
}

.lety_csstransforms [data-current-nav="m-user-nav-open"] .m-user-nav {
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: auto;
}

.m-user-nav .block-user-links {
  position: relative;
  padding: 0 15px 0 80px;
  height: 65px;
  background: #3498db;
  background: linear-gradient(to bottom, #3498db 0%, #1b7ab9 100%);
  color: #fff;
  margin: 0 -15px 15px;
}

.m-user-nav .block-user-links a {
  color: #fff;
}

.m-user-nav .block-user-links .user-picture {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 3px 3px -1px rgba(50, 50, 50, 0.39);
  border-radius: 100%;
}

.m-user-nav .block-user-links .user-picture img {
  display: block;
  max-width: 100%;
  border-radius: 100%;
}

.m-user-nav .block-user-links .user-name-wrap {
  position: relative;
  height: 36px;
  top: 50%;
  margin-top: -18px;
}

.lety_csstransforms .m-user-nav .block-user-links .user-name-wrap {
  margin-top: 0;
  height: auto;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  position: absolute;
}

.m-user-nav .block-user-links .user-name-wrap a {
  display: block;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: normal;
}

.m-user-nav .links-wrap {
  margin: 0 -11px;
}

.m-user-nav .user-menu-links ul li a {
  padding: 10px 15px;
}

.m-user-nav .user-menu-links ul li a.active {
  background: #f0f0f0;
}

.m-coupons-nav {
  padding: 15px;
}

[data-current-nav="m-coupons-nav-open"] .m-coupons-nav {
  transition: left .2s ease;
  left: 0;
}

.lety_csstransforms [data-current-nav="m-coupons-nav-open"] .m-coupons-nav {
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: auto;
}

.m-coupons-nav .filter-title {
  font-size: 14px;
  background: #3F9EDD;
  color: #fff;
  padding: 10px 15px;
  line-height: 1.2;
  margin: 0 0 10px;
  border-radius: 2px;
}

.m-coupons-nav .categories {
  margin: 0 0 15px;
}

.m-coupons-nav .categories li {
  list-style-image: none;
  padding: 0;
  background: #F7F7F7;
  margin: 6px 0 6px;
  font-size: 12px;
  border-radius: 2px;
  position: relative;
}

.m-coupons-nav .categories li a {
  display: block;
  padding: 6px 40px 6px 15px;
  text-decoration: none;
  font-size: 12px;
}

.m-coupons-nav .categories li .count {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}

.m-coupons-nav .categories li.active-element {
  background: #D3E6F7;
}

.m-user-trigger {
  height: 70px;
  box-sizing: border-box;
  padding: 10px;
  display: none;
  position: absolute;
  top: 0;
  right: 8px;
}

.m-user-trigger img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.m-nav-trigger {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 35px;
  height: 26px;
  margin-top: -13px;
  display: none;
  text-align: center;
}

.m-nav-trigger:before {
  display: inline-block;
  vertical-align: top;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "FontAwesome";
  content: "\f0c9";
  font-size: 30px;
  color: #2283C3;
  line-height: 1;
}

.m-coupons-trigger {
  display: none;
}

.m-search {
  position: relative;
  margin: 15px;
}

.m-search:after {
  display: table;
  content: '';
  width: 100%;
  height: 0;
}

.m-search input#edit-search {
  position: relative;
  width: 100%;
  padding: 0;
  text-indent: 12px;
  height: 38px;
  font-size: 16px;
  color: #686868;
  border: 1px solid #c0c0c0;
  box-shadow: inset 0 11px 11px -11px silver;
}

.m-search .form-submit {
  background: url("../../img/sprite-main.png?static=15_10_15") no-repeat scroll -173px -1959px transparent;
  border: 0 none;
  color: #ffffff;
  cursor: pointer;
  height: 21px;
  text-indent: -99999px;
  width: 21px;
  z-index: 102;
  position: absolute;
  right: 10px;
  top: 12px;
}

.owl-height {
  transition: height .2s ease;
  margin-bottom: 15px;
}

.owl-loaded {
  box-sizing: border-box;
  float: none;
  margin-left: 0;
}

.owl-loaded .owl-nav,.owl-loaded .owl-nav * {
  box-sizing: border-box;
}

.owl-loaded .owl-nav.disabled {
  display: none;
}

.owl-loaded .owl-dots {
  position: relative;
  text-align: center;
  max-width: 90%;
  margin: 0 auto 20px;
}

.owl-loaded .owl-dots.disabled {
  display: none;
}

.owl-loaded .owl-dots,.owl-loaded .owl-dots * {
  box-sizing: border-box;
}

.owl-loaded .owl-dots .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #00A8FF;
  transition: all .2s ease;
  cursor: pointer;
  background: #fff;
  margin: 2px 3px;
}

.owl-loaded .owl-dots .owl-dot.active {
  background: #00A8FF;
}

.owl-stage-outer {
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0, 0);
}

.owl-stage-outer .owl-stage {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}

.owl-stage-outer .owl-item {
  position: relative;
  float: left;
  text-align: center;
}

.owl-stage-outer .owl-item div.node-shop.node-teaser {
  margin: 0;
  right: auto;
}

.go-top {
  position: fixed;
  bottom: 45px;
  right: 20px;
  background: rgba(239, 238, 238, 0.81);
  cursor: pointer;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 100%;
  z-index: 100;
  width: 50px;
  height: 50px;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
}

.go-top:before {
  text-rendering: auto;
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  content: "";
  color: #000;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 26px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.go-top.hide {
  opacity: 1;
  visibility: visible;
}

#ps-send-link .form-item {
  margin-top: 5px;
  margin-bottom: 0;
}

.middle #block-shops-best-shops .shops-right-wrap {
  right: 0;
  margin-right: 0;
  margin-bottom: 1px;
}

.beforeTitle {
  display: none;
}

@media all and (max-width: 1280px) {
  .page-user .withdraw-user-form #edit-actions input {
    float: none;
  }

  .withdraw-user-form #edit-not-enough-money {
    float: none;
    margin-left: 0;
    width: auto;
  }

  .middle #block-shops-best-shops .shops-right-wrap {
    margin-right: 12px;
  }

  .excursion-wrapper .shops-content-wrap {
    margin-right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .excursion-wrapper .shops-content-wrap div.node-shop.node-teaser {
    right: auto;
    margin: 0 5px 5px;
  }
}

@media screen and (max-width: 1023px) {
  html {
    -webkit-text-size-adjust: 100%;
    height: auto;
  }

  .comment-form #edit-actions .form-submit,.webform-client-form #edit-actions .form-submit,.node-reviews-form #edit-actions .form-submit,.node-shop_review-form #edit-actions .form-submit,.cashback-pick-form .form-actions input {
    text-align: center;
    text-decoration: none;
    height: auto !important;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db 1%, #1b7aba 100%);
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: auto;
    margin: 0 auto;
    border-radius: 3px;
    line-height: normal !important;
    padding: 13px 20px;
    box-shadow: none;
    font-size: 16px;
    text-transform: lowercase;
    box-sizing: border-box;
    text-indent: 0;
  }

  .comment-form #edit-actions .form-submit:first-letter,.webform-client-form #edit-actions .form-submit:first-letter,.node-reviews-form #edit-actions .form-submit:first-letter,.node-shop_review-form #edit-actions .form-submit:first-letter,.cashback-pick-form .form-actions input:first-letter {
    text-transform: uppercase;
  }

  select {
    display: block;
    width: 100%;
    margin: 5px 0 10px;
  }

  input {
    box-sizing: border-box;
  }

  .page-baner {
    display: none;
  }

  .node-b_support_ticket-form #edit-support-ticket-type {
    width: 100% !important;
  }

  .ext-trans-page-view {
    overflow: visible;
  }

  .ext-trans-page-view .main-wrapper {
    padding-bottom: 0;
  }

  .ext-page-content-inner {
    font-size: 18px;
    margin: 50px auto;
  }

  .external-page .trans-time {
    margin-top: 30px;
  }

  body {
    max-width: 100%;
    width: auto !important;
    font-size: 13px;
    line-height: 1.3;
  }

  body[data-overlay="true"] {
    overflow: hidden;
  }

  select {
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
  }

  p {
    font-size: 13px;
    line-height: 1.3;
  }

  .wrap,.section-content,.bottom-bar-content .saw-products-nodes,.bottom-bar-content .favorite-products-nodes {
    max-width: none;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;
    float: none;
    box-sizing: border-box;
  }

  .middle .block-shops .shops-left-wrap {
    margin-left: -3%;
    position: relative;
    left: 1.3%;
  }

  div.node-shop.node-teaser {
    margin-left: 2.2%;
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  .region-header {
    width: auto;
    float: none;
  }

  .region-header .block-bissdata-user .section-content {
    padding: 0;
  }

  header {
    width: 100%;
  }

  #block-b-search-b-search {
    display: none;
  }

  .middle,.not-front .middle {
    padding-top: 70px;
  }

  .mail-not-verify .middle,.mail-not-verify .not-front .middle {
    padding-top: 110px;
  }

  .toolbar #block-extra-blocks-front-cashback-steps {
    -ms-background-position-y: 70px;
    background-position-y: 70px;
  }

  #block-reviews-reviews,#block-shops-shops-actions {
    background-image: none;
  }

  .paymant .paymant-block {
    margin-bottom: 12px;
  }

  .footer #block-block-4 {
    max-width: 430px;
  }

  .one-sidebar .content-wrapper {
    margin-left: 0;
    padding-left: 0;
    right: auto;
  }

  .one-sidebar .content-wrapper #messages {
    margin: -24px -15px 20px;
  }

  .before-footer {
    display: none;
  }

  .left-sidebar {
    display: none;
  }

  .logged-in #block-bissdata-user-user-links {
    display: none;
  }

  .m-user-trigger {
    display: block;
  }

  #m-coupons-trigger {
    display: block;
  }

  .block-bissdata-user .block-user-links .user-name-wrap {
    max-width: 115px;
  }

  .account-pane.shops {
    text-align: center;
    margin: 0 -30px 30px;
  }

  .page-shops main h1 {
    margin-left: 0;
  }

  .page-shops .sort-wrapper {
    margin-left: 0;
    margin-bottom: 0;
  }

  .page-shops .sort-wrapper ul {
    text-align: center;
  }

  .page-shops .sort-wrapper li {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  .page-shops .sort-wrapper a {
    display: inline-block;
    vertical-align: top;
    border-radius: 20px;
    padding: 9px 15px;
    border: 1px solid #EAEAEA;
    background: #F9F7F7;
    text-decoration: none !important;
    color: #000;
  }

  .page-shops .sort-wrapper a.active {
    color: #fff;
    background: #3498DB;
    border-color: #4690C1;
  }

  .page-shops .shops-wrapper {
    text-align: center;
  }

  .page-shops div.node-shop.node-teaser {
    margin-left: 0;
  }

  .page-shops.one-sidebar .content-wrapper {
    padding-left: 0;
  }

  #block-bissdata-main-menu .section-content {
    padding: 0;
  }

  .shop-content-right .shop-other-shop {
    padding: 0;
    margin: 0 0 30px;
  }

  .shop-content-right .shop-other-shop .shop-section-title {
    margin-left: 0;
  }

  .shop-content-right .shop-other-shop .shop-content-section-wrap {
    margin: 0 -30px;
    height: auto;
    overflow: visible;
  }

  .contacts-left {
    width: 50%;
  }

  .chrome-extension-wrap {
    display: none;
    visibility: hidden;
  }

  ol li,ol li.leaf {
    font-size: 13px;
    line-height: 1.4;
  }

  .ps-referals {
    width: auto;
  }

  .ps-referals .referral {
    width: 160px;
  }

  .middle #block-shops-shops-actions .section-content .content {
    margin: 0;
  }

  .page-shops main .region-content {
    margin-bottom: 20px !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .page-shops main .region-content #block-simpleseo-blocks-content-description {
    -webkit-order: 2;
    -webkit-flex-grow: 1;
    -ms-flex-order: 2;
    order: 2;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative !important;
    bottom: auto !important;
    float: none;
    clear: none;
  }

  .page-shops main .region-content #block-system-main {
    -webkit-order: 1;
    -webkit-flex-grow: 1;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .shops-content .coupons-cashback-block {
    margin: 0 auto 27px;
    position: relative;
    right: -10px;
  }

  .not-logged-in .item-list {
    text-align: right;
  }

  #block-reviews-reviews .reviews {
    margin-left: 0;
    padding: 0;
  }

  .node-reviews.node-teaser {
    float: none;
    width: auto;
    margin: 0 15px 15px;
    text-align: left;
  }

  .node-reviews.node-teaser .review-user {
    padding-top: 15px;
  }

  #block-shops-best-shops .content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #block-shops-best-shops .content .shops-right-wrap {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 3px;
  }

  .user-shops-wrapper {
    float: none;
    margin: 0 -30px;
  }

  header .logo-slogan {
    width: 115px;
    float: none;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    left: -15px;
  }

  #block-bissdata-main-menu {
    display: none;
  }

  .m-nav-trigger {
    display: block;
  }

  .page-user-partner-system .content-wrapper h3 {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }

  main .title-wrapper {
    padding-left: 13px;
  }

  .page-user .title-wrapper {
    text-align: center;
  }

  .ps-tell-friends {
    text-align: center;
    display: block;
  }

  .sort-wrapper ul {
    float: none;
    clear: none;
    overflow: hidden;
  }

  .wrapper {
    max-width: 100%;
    overflow: hidden;
  }

  .shop-content-right .shop-coupons {
    float: none;
  }

  .shop-content-right .shop-coupons:after {
    display: table;
    content: '';
    width: 100%;
    height: 0;
  }

  .coupons_discounts-page-content div.node-coupons-discounts {
    width: auto;
  }

  .coupons_discounts-page-content div.node-coupons-discounts .content {
    display: table;
    width: 100%;
  }

  .node-coupons-discounts.node-teaser .coupon-left {
    float: none;
    width: auto;
    display: table-cell;
    height: 99px;
    vertical-align: top;
  }

  .node-coupons-discounts.node-teaser .coupon-right {
    float: none;
    display: table-cell;
    vertical-align: top;
  }

  #coupons_discounts-wrapper .coupons_discounts-page-content {
    float: none;
  }

  .shop-content-right .field-type-image .field-items .field-item img {
    vertical-align: middle;
  }

  .shop-content-right .field-type-image .field-items .field-item a {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .coupons_discounts-page-content .subscribe-coupons {
    max-width: none;
    margin-right: 11px;
  }

  .coupons_discounts-page-content .subscribe-coupons > a {
    float: left;
  }

  .reviews {
    padding: 0 10px;
  }

  .region-header .block-bissdata-user {
    position: absolute;
    right: 15px;
    top: 3px;
  }

  #edit-field-phone,#edit-field-field-user-comment {
    float: none;
    width: auto;
    max-width: 640px;
  }

  #edit-field-phone:after,#edit-field-field-user-comment:after {
    display: table;
    content: '';
    width: 100%;
    height: 0;
  }

  input[type="checkbox"] + label {
    overflow: hidden;
    position: relative;
    padding-left: 25px;
  }

  input[type="checkbox"] + label span {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
  }

  .node-coupons-discounts.node-full .copy-wrapp {
    width: auto;
  }

  .node-coupons-discounts.node-full .coupons-content {
    width: auto;
    max-width: 897px;
  }

  .node-coupons-discounts.node-full .coupon-desc {
    box-sizing: border-box;
    width: 100%;
    height: auto;
  }

  .node-coupons-discounts.node-full .coupons-top {
    text-align: center;
  }

  .node-coupons-discounts.node-full .coupons-top .coupon-image,.node-coupons-discounts.node-full .coupons-top .promo-wrapper,.node-coupons-discounts.node-full .coupons-top .coupons_discounts-time {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  .node-coupons-discounts.node-full .coupons-top .coupons_discounts-time {
    text-align: left;
  }

  .node-coupons-discounts.node-full .coupons-top .coupon-image {
    position: relative;
  }

  .node-coupons-discounts.node-full .coupons-top .coupon-image .image {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
  }

  .node-coupons-discounts.node-full .coupons-top .coupon-image .image img {
    max-width: 100%;
  }

  .user-settings fieldset.settings-pane .description {
    font-size: 11px;
    line-height: 1.2;
  }

  .middle #block-shops-best-shops .section-content .content {
    margin: 0;
  }

  .notification-wrapper.notification {
    visibility: hidden;
    opacity: 0;
  }

  .one-sidebar .container .product-page {
    margin: 0;
    clear: none;
    float: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .page-user-favorite .nodes-pages {
    margin: 0;
    clear: none;
    float: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .page-user-favorite .nodes-pages .product-colum {
    margin-left: 10px;
    margin-right: 10px;
  }

  .page-user-favorite .nodes-pages .colum-empty {
    display: none;
  }

  .block-md-slider .section-content {
    padding: 0;
  }

  #b-search-result {
    display: none !important;
  }
}

@media all and (max-width: 986px) {
  .middle .block-shops .shops-left-wrap {
    left: auto;
  }
}

@media (max-width: 980px) {
  .middle #block-shops-best-shops .shops-right-wrap {
    position: relative;
    right: auto;
    bottom: auto;
  }

  .middle #block-shops-best-shops .section-content a.promote-shops-link {
    text-align: center;
    text-decoration: none;
    height: auto !important;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db 1%, #1b7aba 100%);
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: auto;
    margin: 0 auto;
    border-radius: 3px;
    line-height: normal !important;
    padding: 13px 20px;
    box-shadow: none;
    font-size: 16px;
    text-transform: lowercase;
    box-sizing: border-box;
    max-width: 260px;
  }

  .middle #block-shops-best-shops .section-content a.promote-shops-link:first-letter {
    text-transform: uppercase;
  }

  .middle #block-shops-best-shops .section-content a.promote-shops-link .shops-count,.middle #block-shops-best-shops .section-content a.promote-shops-link .promote-text {
    display: inline;
    padding: 0;
    background: none;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    vertical-align: middle;
    margin: 0 2px;
  }

  .middle #block-shops-best-shops .section-content a.promote-shops-link .shops-count {
    position: relative;
    top: 1px;
    margin-left: 5px;
  }

  .shops-reviews .see-more a,.front .block .see-more a,.see-more a {
    text-align: center;
    text-decoration: none;
    height: auto !important;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db 1%, #1b7aba 100%);
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: auto;
    margin: 0 auto;
    border-radius: 3px;
    line-height: normal !important;
    padding: 13px 20px;
    box-shadow: none;
    font-size: 16px;
    text-transform: lowercase;
    box-sizing: border-box;
  }

  .shops-reviews .see-more a:first-letter,.front .block .see-more a:first-letter,.see-more a:first-letter {
    text-transform: uppercase;
  }

  .page-user .form-actions input.form-submit,.withdraw-user-form #edit-actions input,.withdraw-user-form #edit-actions input {
    text-align: center;
    text-decoration: none;
    height: auto !important;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db 1%, #1b7aba 100%);
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: auto;
    margin: 0 auto;
    border-radius: 3px;
    line-height: normal !important;
    padding: 13px 20px;
    box-shadow: none;
    font-size: 16px;
    text-transform: lowercase;
    box-sizing: border-box;
  }

  .page-user .form-actions input.form-submit:first-letter,.withdraw-user-form #edit-actions input:first-letter,.withdraw-user-form #edit-actions input:first-letter {
    text-transform: uppercase;
  }

  .middle .block-shops .shops-left-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }

  .footer {
    overflow: hidden;
  }

  .footer .region-footer {
    height: auto;
    overflow: hidden;
  }

  .footer #block-block-4 {
    max-width: 100%;
    float: none;
    width: auto;
  }

  #block-menu-menu-about-menu,#block-block-17 {
    box-sizing: border-box;
    width: 100% !important;
    max-width: 50%;
    margin: 0 !important;
    padding: 0 20px 0 0;
  }

  .footer h3 {
    font-size: 21px;
    line-height: 1.3;
  }

  .faq-item .faq-item-inner {
    font-size: 13px;
    line-height: 1.3;
    color: #777;
  }

  .front .middle .block h2 {
    font-size: 29px;
    line-height: 1.3;
    padding: 0 0 20px;
  }

  .item-list .pager li.pager-current,.item-list .pager li.pager-item a {
    width: 29px;
    height: 29px;
    font-size: 16px;
    line-height: 30px;
  }

  .item-list .pager li.show-all a.show-all-label {
    font-size: 16px;
  }

  .balance-amount .withdraw-link.button {
    font: 14px/35px "Open Sans",sans-serif;
    border-radius: 3px;
    box-shadow: none;
    height: auto;
    padding: 14px 20px;
    line-height: normal;
  }

  #ps-send-link .form-submit,.ps-page-wrapper .copy-button {
    text-align: center;
    text-decoration: none;
    height: auto !important;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db 1%, #1b7aba 100%);
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: auto;
    margin: 0 auto;
    border-radius: 3px;
    line-height: normal !important;
    padding: 13px 20px;
    box-shadow: none;
    font-size: 16px;
    text-transform: lowercase;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 11px;
    position: relative;
    top: 1px;
  }

  #ps-send-link .form-submit:first-letter,.ps-page-wrapper .copy-button:first-letter {
    text-transform: uppercase;
  }

  .test-order-step-wrapper {
    display: none !important;
  }

  div.node-shop.node-teaser.test-shop .shops-teaser-wrap {
    position: relative;
  }

  div.node-shop.node-teaser.test-shop:before {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: url("../../img/testorder_bg.png?static=15_10_15") no-repeat scroll -225px -13px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  .page-node-15981793 .field-shop-link a.goto-shop {
    box-shadow: 0 0 12px #FFD66C;
    -webkit-animation-name: step-pulse;
    animation-name: step-pulse;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  #modal-content .get-premium-form .form-actions .form-submit {
    padding: 7px 20px 9px;
  }
}

@media all and (max-width: 980px) {
  [href$="kak-rabotaet"],[href$="extension-chrome"] {
    display: none !important;
  }

  .qtip {
    display: none !important;
  }
}

@media (max-width: 959px) {
  header {
    position: relative !important;
  }

  .middle,.not-front .middle {
    padding-top: 0;
  }

  .mail-not-verify .middle {
    padding-top: 0;
  }

  .mail-not-verify header {
    top: 0;
    margin-top: 0;
  }

  .mail-not-verify .email-status {
    position: relative !important;
  }

  #block-extra-blocks-front-cashback-steps {
    background-attachment: scroll;
    background-size: cover;
    background-position: center 0;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-title h1.text {
    font-size: 45px;
  }

  .middle .block-shops .shops-left-wrap {
    text-align: center;
  }

  .middle #block-shops-best-shops .shops-right-wrap {
    right: 0;
    position: relative;
    bottom: auto;
    margin-bottom: 20px;
  }

  .section-content > h2 {
    text-align: center;
    font: 300 30px/1.2 "Open Sans",sans-serif;
  }

  .guarantee .guarantee-stamp {
    background-size: cover;
    width: 108px;
    height: 108px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .region-after-footer {
    height: auto;
    padding-bottom: 15px;
    background: none;
    border-top: 1px dashed #A5A5A5;
  }

  .withdraw-user-form {
    width: auto;
  }

  .withdraw-user-form #edit-not-enough-money {
    margin: 25px 0 0 0;
  }

  .withdraw-user-form .field-type-text .form-item label,.withdraw-user-form .field-type-text .form-item .description,#edit-bank-card-name .label,#edit-bank-card-name .description {
    float: none !important;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    margin: 0 0 12px;
  }

  #edit-bank-card-name .label {
    margin: 20px 0 12px;
  }

  #edit-bank-card-name .description {
    margin-bottom: 0;
  }

  .withdraw-user-form .form-text,.withdraw-user-form .field-type-text .form-item-bank-card-first-name,.withdraw-user-form .field-type-text .form-item-bank-card-last-name {
    float: none !important;
    left: auto !important;
    top: auto !important;
    position: relative !important;
    max-width: 100%;
  }

  .withdraw-user-form .field-name-field-pte-sberbank .form-item label:before,.withdraw-user-form .field-type-text .form-item label:before,.withdraw-user-form .field-type-text .form-item-bank-card-first-name:before,.withdraw-user-form .field-type-text .form-item-bank-card-last-name:before {
    display: none !important;
  }

  .withdraw-user-form #edit-not-enough-money {
    max-width: 100%;
    width: auto;
  }

  .reviews-wrapper .reviews {
    float: none;
    width: auto;
  }

  .reviews .reviews-content {
    float: none;
    margin: 15px 0 0 0;
    width: auto;
  }

  .reviews-wrapper .reviews-text {
    float: none;
    width: auto;
  }

  .reviews-wrapper .reviews-text .title-reviews:after {
    background: none;
    border-bottom: 1px solid #ddd;
  }

  .reviews-wrapper .reviews-text.fixed {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }

  .partner-program .pp-block {
    width: auto;
  }

  .ps-referals {
    width: auto;
    text-align: left;
  }

  .ps-referals .referral {
    width: 20%;
  }

  .ps-referals.owl-loaded .owl-item .referral {
    width: auto;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }

  #node-16281496 {
    text-align: center;
  }

  #node-16281496 img {
    max-width: 100%;
    height: auto !important;
    margin: 20px auto !important;
    float: none !important;
    display: block;
  }

  .m-user-trigger {
    right: 0;
  }

  .page-user .excursion-wrapper .form-actions {
    margin: 20px 0  0 0;
  }

  .page-user .excursion-wrapper .form-actions:after {
    display: table;
    content: '';
    width: 100%;
    height: 0;
  }

  .page-user .excursion-wrapper .form-actions input.form-submit#edit-forward {
    float: right;
  }

  .page-user .excursion-wrapper .form-actions .back {
    margin: 18px 0 0 0;
  }
}

@media (max-width: 815px) {
  .block-bissdata-user-user-links {
    width: 307px;
    float: none;
    margin: 0 auto;
  }

  .item-list .reviews-tabs li {
    font-size: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .item-list .reviews-tabs li.current {
    padding-left: 20px;
    padding-right: 20px;
  }

  .faq-question {
    font-size: 17px;
    line-height: 1.1;
  }

  #modal-content .get-premium-form {
    width: 100%;
  }

  #modal-content .get-premium-form .form-title {
    background: none;
    border-bottom: 2px solid #8fbd40;
    font-size: 25px;
    line-height: 1.2;
    padding: 45px 0 20px;
  }

  #modal-content .get-premium-form .form-desc {
    width: 100%;
    font-size: 14px;
  }

  #modal-content .get-premium-form .form-desc:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 0 0 10px;
  }

  #modal-content .get-premium-form .form-actions {
    width: 100%;
  }
}

@media all and (max-width: 795px) {
  .balance-table,.user-withdraw,.user-bonus-codes,.user-reviews {
    margin: 15px 0 30px;
    border: 1px solid #EFEEEE;
    padding: 0;
    width: auto;
  }

  .balance-table thead,.user-withdraw thead,.user-bonus-codes thead,.user-reviews thead {
    display: none;
  }

  .balance-table,.user-withdraw,.user-bonus-codes,.user-reviews,.balance-table tr,.user-withdraw tr,.user-bonus-codes tr,.user-reviews tr,.balance-table td,.user-withdraw td,.user-bonus-codes td,.user-reviews td,.balance-table tbody,.user-withdraw tbody,.user-bonus-codes tbody,.user-reviews tbody {
    display: block !important;
    position: relative;
  }

  .balance-table tbody,.user-withdraw tbody,.user-bonus-codes tbody,.user-reviews tbody {
    background: #fff;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
  }

  .balance-table tbody tr,.user-withdraw tbody tr,.user-bonus-codes tbody tr,.user-reviews tbody tr {
    position: relative;
    padding: 18px 15px;
    border-top: none !important;
    border-bottom: 1px solid #EFEEEE !important;
  }

  .balance-table tbody tr:nth-child(2n+2),.user-withdraw tbody tr:nth-child(2n+2),.user-bonus-codes tbody tr:nth-child(2n+2),.user-reviews tbody tr:nth-child(2n+2) {
    background: #fffbf4;
  }

  .page-user .balance-table tbody tr.enrolled td.status,.page-user .balance-table tbody tr.approved td.status,.user-withdraw tbody tr.finished td.state {
    color: #81c784;
  }

  .page-user .balance-table tbody tr.enrolled td.status:before,.page-user .balance-table tbody tr.approved td.status:before,.user-withdraw tbody tr.finished td.state:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 16px;
    content: "";
  }

  .page-user .balance-table tbody tr.pending td.status,.user-withdraw tbody tr.pending td.state {
    color: #ffa000;
  }

  .page-user .balance-table tbody tr.pending td.status:before,.user-withdraw tbody tr.pending td.state:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 16px;
    content: "";
  }

  .page-user .balance-table tbody tr.declined td.status,.user-withdraw tbody tr.denied td.state {
    color: #EF5350;
  }

  .page-user .balance-table tbody tr.declined td.status:before,.user-withdraw tbody tr.denied td.state:before {
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 16px;
    content: "";
  }

  .page-user .balance-table tbody tr td.title {
    width: auto;
    padding: 0 0 5px 0;
  }

  .page-user .balance-table tbody tr td.title .title {
    font-weight: normal;
    font-size: 15px;
    line-height: 1.2;
    padding-right: 120px;
  }

  .page-user .balance-table tbody tr td.title .description {
    padding: 5px 0;
  }

  .page-user .balance-table tbody tr td.date {
    width: auto;
    font-size: 11px;
    font-weight: normal;
    color: #B3AFAF;
    padding: 0 0 0 20px;
  }

  .page-user .balance-table tbody tr td.status {
    position: absolute;
    left: 15px;
    bottom: 17px;
    padding: 0;
  }

  .page-user .balance-table tbody tr td.status .status-value,.page-user .balance-table tbody tr td.status .order-hint {
    display: none;
  }

  .page-user .balance-table tbody tr td.amount {
    position: absolute;
    right: 15px;
    top: 18px;
    width: 110px;
    color: #000;
    font-size: 15px;
    white-space: nowrap;
    text-align: right;
    padding: 0;
  }

  .page-user .balance-table tbody tr td.amount * {
    color: #000;
  }

  .page-user .balance-table tbody tr td.amount .currency {
    display: inline-block;
    font-size: 12px;
  }

  .user-withdraw tbody tr {
    min-height: 60px;
  }

  .user-withdraw tbody tr td.trexid {
    font-size: 15px;
    line-height: 1.3;
    padding: 0;
    margin: 0 0 10px;
  }

  .user-withdraw tbody tr td.amount {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 15px;
    line-height: 1.2;
    color: #000 !important;
    padding: 0;
  }

  .user-withdraw tbody tr td.state {
    position: absolute;
    top: 48px;
    left: 15px;
    padding: 0;
    font-size: 11px;
  }

  .user-withdraw tbody tr td.state:before {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }

  .user-withdraw tbody tr td.output_method {
    text-align: right;
    padding: 0 0 6px 100px;
    font-size: 12px;
  }

  .user-withdraw tbody tr td.output_method .output-method-value {
    margin-bottom: 3px;
    line-height: 1.2;
  }

  .user-withdraw tbody tr td.created {
    position: absolute;
    top: 70px;
    font-size: 11px;
    padding: 0;
    left: 15px;
  }

  .user-reviews tbody tr td:first-child {
    padding: 0 100px 0 0;
    font-weight: bold;
    font-size: 14px;
  }

  .user-reviews tbody tr td.review-text {
    padding: 10px 0;
    width: auto;
  }

  .user-reviews tbody tr td.review-text + td {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 11px;
    padding: 0;
  }

  .user-reviews tbody tr td[class*="review-status"] {
    padding: 0;
    font-size: 11px;
  }

  .go-top {
    display: block;
  }
}

@media (max-width: 795px) {
  .section-content {
    font-size: 13px;
  }

  header #logo {
    float: none;
    display: block;
  }

  .field-shop-link a.goto-shop {
    font-size: 16px;
    display: block;
    border-radius: 2px;
    box-shadow: none;
  }

  #block-system-main div.node-full {
    margin-top: -15px;
  }

  .shop-content-right {
    position: relative;
  }

  .shop-content-right .shop-link-wrap {
    position: absolute;
    left: 0;
    top: 225px;
    width: 100%;
  }

  .shop-content-right .shop-link-wrap,.shop-content-right .shop-link-wrap .field-shop-link {
    float: none;
  }

  .shop-content-right .field-type-image {
    float: none;
    margin: 0 auto 80px;
    width: auto;
    height: 215px;
  }

  .shop-content-right .title h1 {
    margin-right: 0;
    font-size: 20px;
    line-height: 1.2;
  }

  .shop-content-right .cashback-info-wrap {
    float: none;
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
  }

  .shop-content-right .cashback-info-wrap .cashback-info {
    display: block;
    margin-right: 0;
  }

  .shop-content-right .cashback-info-wrap * {
    float: none;
  }

  .shop-content-right .shops-content,.shop-content-right .shop-other-shop,.shop-content-right .field-type-text-with-summary {
    float: none;
    clear: none;
  }

  .shop-content-right .field-type-text-with-summary ul {
    padding-left: 0;
  }

  .shop-content-right .field-type-text-with-summary p,.shop-content-right .field-type-text-with-summary ul li {
    font-size: 13px;
    line-height: 1.4;
  }

  div.node-full .shop-content-right .title .favorite {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 20px;
  }

  div.node-full .shop-content-right .title .favorite:before {
    content: "\f006";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    font-size: 26px;
    color: #546E7A;
    line-height: 1;
    transition: color .2s ease;
  }

  div.node-full .shop-content-right .title .favorite.ico-active:before {
    content: "\f005";
    color: #F8D476;
  }

  div.node-full .shop-content-right .title .favorite span {
    display: none;
  }

  div.node-full .shop-content-right .rate-inner {
    position: absolute;
    top: -175px;
    left: 15px;
    z-index: 2;
  }

  div.node-full .shop-content-right .rate-inner .strike {
    float: right;
    padding: 14px 0 0 9px;
    font-size: 14px;
    line-height: 1;
  }

  div.node-full .shop-content-right .rate-inner .special {
    font-size: 26px;
  }

  div.node-full .shop-content-right .rate-inner .rate-suffix {
    display: none;
  }

  div.node-full .shop-content-right .rate-description {
    max-width: none;
    display: block;
    box-shadow: none;
  }

  div.node-full .shop-content-right .rate-description:before {
    display: none;
  }

  div.node-full .shop-content-right .cashback-description-title {
    font-weight: bold;
    margin: 20px 0 5px;
  }

  div.node-full .shop-content-right .cashback-description-content {
    padding-right: 0;
  }

  .shop-content-right .node-reviews {
    padding: 15px 17px 5px;
  }

  .node-shop_review-form #edit-actions {
    float: none;
    width: auto;
    text-align: center;
  }

  .node-shop_review-form #edit-actions .form-submit {
    display: inline-block;
    vertical-align: top;
    min-width: 260px;
    float: none;
  }

  .guest-review-text {
    text-align: center;
  }

  .edit-login-or.form-item.form-type-item {
    display: none;
  }

  #modalBackdrop {
    opacity: 1 !important;
    max-width: 100%;
  }

  #modalContent {
    max-width: 100%;
    overflow-y: scroll;
  }

  .login-popup-content .login-wrapper .social-login,.login-popup-content .login-wrapper .traditional-login {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    float: none;
    padding: 27px 15px 0;
  }

  .login-popup-content .login-wrapper .login-register-form .traditional-login {
    max-width: 100%;
    width: auto;
    float: none;
  }

  .login-popup-content .login-wrapper .login-register-form .form-wrapper {
    float: none;
  }

  .login-register-form .traditional-login {
    width: auto;
  }

  .login-register-form .form-item .ulogin-processed {
    margin-right: 0;
  }

  div.ctools-modal-content {
    padding: 40px 10px;
    position: relative;
    margin: 0 auto;
    max-width: 600px;
  }

  div.ctools-modal-content .modal-content,div.ctools-modal-content {
    box-sizing: border-box;
    width: 100% !important;
    left: 0 !important;
    max-width: 600px;
  }

  .authorization-box,.login-popup-content {
    width: auto;
  }

  #modal-content .form-actions .submit-login,.authorization-box .form-actions .submit-login,.page-page-error-403 .login-link a {
    margin-bottom: 20px;
  }

  .login-register-form.simple-register-form .login-header .title-text .login-title {
    font: 300 20px/32px 'Open Sans', sans-serif;
  }

  .modal-header a.close {
    top: 60px;
    right: 30px;
  }

  .login-register-form .form-item .ulogin-processed img {
    margin: 0 auto;
    display: block;
  }

  .login-register-form .form-item .ulogin-processed span {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 29%;
  }

  .login-register-form.trans-register-form .login-header .title-text .login-title {
    font: 300 20px/22px 'Open Sans', sans-serif;
  }

  .login-register-form.trans-register-form .login-header .title-text .login-description {
    font: 300 19px/21px 'Open Sans', sans-serif;
  }

  .page-user .excursion-wrapper {
    display: block;
    margin-right: 0;
  }

  .page-user .excursion-wrapper .step-description {
    font-size: 13px;
    line-height: 1.2;
  }

  .page-user .excursion-wrapper .steps-wrapper {
    padding: 30px 22px;
  }

  .page-user .excursion-wrapper .step-texts .icon {
    display: none;
  }

  .page-user .excursion-wrapper .excursion-masha {
    display: none;
  }

  .page-user .excursion-wrapper .bissdata-tabs-wrapper .bissdata-tabs li {
    padding: 15px 11px;
    border-radius: 0;
    margin: 0;
    height: auto;
  }

  .page-user .excursion-wrapper .bissdata-tabs-wrapper .bissdata-tabs li.current {
    padding: 15px 11px;
    margin: 0;
  }

  #user-excursion-form {
    display: block;
    margin-right: 0;
    box-sizing: border-box;
  }

  #user-excursion-form:before {
    display: none;
  }

  .excursion-wrapper .step-3 .step-description {
    margin-left: 0;
  }

  .page-user-partner-system .content-wrapper h3 {
    font-size: 19px;
    line-height: 1.2;
    text-align: center;
  }

  #ps-social-network .share-title,#ps-referal-link .ps-referal-link-title,#ps-send-link .send-link-title {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 15px;
  }

  #ps-social-network .sharethis-wrapper,#ps-referal-link .ps-referal-link {
    display: block;
    float: none;
    width: auto;
    margin: 0 0 15px;
  }

  .node-b_support_ticket-form #edit-support-ticket-type {
    width: 100% !important;
  }

  .support-container .form-item,.node-b_support_ticket-form .form-item,#edit-support-ticket-fields-where-is-cashback .form-type-textarea,form.node-b_support_ticket-form .field-type-text-with-summary .form-type-textarea,.user-settings fieldset.settings-pane .form-wrapper,.user-settings fieldset.settings-pane .form-item.form-type-textfield {
    float: none;
    margin: 0 0 20px;
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .user-settings fieldset.settings-pane .form-item input.form-text {
    box-sizing: border-box;
  }

  .block-md-slider {
    display: none;
  }

  .ps-statistics .field {
    margin-right: 0;
    display: block;
    width: auto;
  }

  .account-pane .title {
    font-size: 29px;
    line-height: 1.3;
  }

  #edit-field-phone,#edit-field-field-user-comment {
    max-width: none;
  }

  #edit-field-phone {
    clear: left;
  }

  .user-shops-wrapper {
    margin: 0 -15px;
  }

  .node-coupons-discounts.node-full .coupons-top {
    padding-left: 10px;
    padding-right: 10px;
  }

  .node-coupons-discounts.node-full .coupons-content {
    background: url(../../img/mfullcoupon.jpg) center 0 repeat;
    height: auto;
  }

  .node-coupons-discounts.node-full .coupons-content-wrapper {
    height: auto;
  }

  .account-pane.shops {
    margin: 0 -15px 30px;
  }

  .not-front .container,.container {
    margin-bottom: 0;
  }

  .not-front .middle,.middle {
    padding-bottom: 30px;
  }

  .front .middle {
    padding-bottom: 0;
  }

  .shop-content-section-wrap {
    margin-left: -15px;
    margin-right: -15px;
  }

  .rteindent1 {
    margin-left: 15px;
  }

  .comment .comment-icon,.node-reviews .review-icon {
    display: none;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-after {
    font-size: 25px;
  }

  .qtip {
    left: 10px !important;
  }
}

@media (max-width: 735px) {
  .section-content .section-content {
    padding: 0;
  }

  #block-block-31,#block-b-faq-faq,#block-block-69 {
    display: none;
  }

  .middle #block-shops-best-shops .shops-right-wrap {
    right: auto;
  }

  div.node-shop.node-teaser {
    margin-left: -3px;
    right: -7px;
  }

  .region-after-footer .copyright {
    width: auto;
  }

  .ps-tell-friends .ps-col,.ps-tell-friends .col-2,.ps-tell-friends .col-4 {
    width: 200px;
    margin-right: 0;
  }

  .ps-tell-friends {
    display: block;
    float: none;
  }

  .field-name-field-sex .form-radios {
    float: none;
    overflow: hidden;
  }

  .shops-content .coupons-cashback-block {
    display: none;
  }

  .page-shops .shops-wrapper .shops-content .shops-content-wrap {
    margin-right: -30px;
  }

  .rteindent2 {
    margin-left: 30px;
  }

  #block-b-search-b-search {
    padding-right: 58px;
  }

  .sticky-header {
    display: none !important;
  }

  #user-notification-settings,.support-tickets,.delivery-shops {
    display: block;
  }

  #user-notification-settings thead,.support-tickets thead,.delivery-shops thead {
    display: none;
  }

  #user-notification-settings tr,#user-notification-settings td,#user-notification-settings tbody,.support-tickets tr,.support-tickets td,.support-tickets tbody,.delivery-shops tr,.delivery-shops td,.delivery-shops tbody {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  #user-notification-settings tbody tr,.support-tickets tbody tr,.delivery-shops tbody tr {
    padding: 10px 0;
    border-bottom: none !important;
  }

  #user-notification-settings tbody tr td,.support-tickets tbody tr td,.delivery-shops tbody tr td {
    position: relative;
    display: block !important;
    width: auto !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #user-notification-settings tbody tr td:after,.support-tickets tbody tr td:after,.delivery-shops tbody tr td:after {
    display: table;
    content: '';
    width: 100%;
    clear: both;
  }

  #user-notification-settings tbody tr td:nth-child(2n+1),.support-tickets tbody tr td:nth-child(2n+1),.delivery-shops tbody tr td:nth-child(2n+1) {
    background: #F2F2F2;
  }

  #user-notification-settings tbody tr td .beforeTitle,.support-tickets tbody tr td .beforeTitle,.delivery-shops tbody tr td .beforeTitle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 15px 0 0 10px;
    height: 100%;
    color: #000;
    font-weight: bold;
    width: 100px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    line-height: 1.1;
    min-height: 50px;
  }

  #user-notification-settings tbody tr td:not(.empty),.support-tickets tbody tr td:not(.empty),.delivery-shops tbody tr td:not(.empty) {
    padding-left: 110px !important;
    min-height: 50px;
  }

  #user-notification-settings tbody tr td.payment,.support-tickets tbody tr td.payment,.delivery-shops tbody tr td.payment {
    min-height: 70px;
  }

  .all-notifications tbody,.all-notifications tr,.all-notifications td,.all-notifications {
    display: block !important;
  }

  .email-status {
    min-height: 55px;
  }

  .email-status .messages {
    background-position: 15px 50%;
  }

  .user-subscribe-wrapper .unsub-text {
    display: block;
    width: auto;
    margin: 0 0 10px;
  }

  .user-subscribe-wrapper .subscribe-content ul li a.renew,.user-subscribe-wrapper .subscribe-content ul li a.unsubscribe,.user-subscribe-wrapper .subscribe-content ul li a.suspend {
    float: none;
    margin: 0 10px 0 0;
    display: inline-block;
    padding: 5px 0;
  }

  .cashback-description {
    width: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cashback-description .cashback-description-content,.cashback-description .cashback-information {
    display: block;
    width: auto;
  }

  .cashback-description .cashback-description-content {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }

  .cashback-description .cashback-information {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin: 20px 0 0;
  }

  .cashback-description .cashback-information .cashback-time {
    margin-bottom: 0;
  }

  .shop-content-right .shop-other-shop .shop-content-section-wrap,.shop-content-right .shop-other-shop .shop-section-title {
    text-align: center;
  }

  .front .middle .block h2 {
    font-size: 30px;
    line-height: 1.1;
    padding-bottom: 20px;
  }

  div.node-blogs img {
    max-width: 100%;
    height: auto !important;
    margin: 20px 0 !important;
    float: none !important;
  }

  div.node-blogs .rteindent1 {
    margin-left: 0;
  }

  div.node-blogs .content .field-name-field-blog-image {
    float: none;
    margin: 0 0 20px;
    max-width: 100%;
  }

  div.node-blogs .content .field-name-field-blog-image img {
    max-width: 100%;
    height: auto;
  }

  .contacts-right {
    float: none;
    width: auto;
    margin: 0 0 50px;
  }

  .contacts-left {
    width: auto;
    float: none;
    margin: 0 0 20px;
  }

  .user-settings fieldset.settings-pane-password .form-item.form-type-password {
    display: block;
    width: auto;
    float: none;
    margin-right: 0;
  }

  .until-wrapper {
    font-size: 13px;
    padding: 15px 90px 15px 20px;
  }

  div.warning,.warning {
    margin: 20px 0;
  }

  .withdraw-table .title {
    font-size: 21px;
    line-height: 1.2;
  }

  .ext-page-content-inner {
    font-size: 14px;
    margin: 20px auto;
  }

  .ext-page-content-inner .text {
    margin-bottom: 10px;
  }

  .external-page .trans-time {
    margin-top: 20px;
  }

  .external-page .trans-time span {
    margin-top: 15px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    background-size: cover;
  }

  .bissdata-tabs-wrapper .bissdata-tabs li {
    margin: 0 0 10px;
    border-bottom: 1px solid #ddd;
    float: none;
    display: block;
    text-align: left;
  }

  .bissdata-tabs-wrapper .bissdata-tabs li.current {
    margin-bottom: 10px;
  }

  .bissdata-tabs-wrapper .bissdata-tabs li.sections {
    display: none !important;
  }

  .coupons_discounts-page-content div.node-coupons-discounts {
    width: auto;
  }

  .coupons_discounts-page-content div.node-coupons-discounts .content {
    display: block;
    background: #FFFBF4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }

  .node-coupons-discounts.node-teaser .coupon-left,.node-coupons-discounts.node-teaser .coupon-right {
    float: none;
    width: auto;
    display: block;
    height: auto;
    background: none;
    overflow: hidden;
  }

  .node-coupons-discounts.node-teaser .coupon-left {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
  }

  .node-coupons-discounts.node-teaser .coupon-right {
    background: #fff;
    padding: 20px 5px;
    text-align: center;
  }

  .node-coupons-discounts.node-teaser .coupon-title {
    width: auto;
    height: 90px;
  }

  .node-coupons-discounts.node-teaser .coupons-transition,.node-coupons-discounts.node-teaser .coupons_discounts-time {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0 15px 5px;
  }

  .node-coupons-discounts.node-teaser .show-promo {
    display: inline-block;
    vertical-align: top;
    padding-right: 177px;
  }

  .node-coupons-discounts.node-teaser .half-hide-promo {
    padding-right: 15px;
  }

  main .title-wrapper h1 {
    font-size: 21px;
    line-height: 1.2;
  }

  main .title-wrapper {
    padding-left: 0;
  }

  .coupons_discounts-page-content .subscribe-coupons {
    margin-right: 0;
    position: relative;
    padding-left: 123px;
  }

  .coupons_discounts-page-content .subscribe-coupons .subscribe-email,.coupons_discounts-page-content .subscribe-coupons .subscribe-title {
    float: none;
    width: auto;
    overflow: hidden;
    max-width: none;
  }

  .coupons_discounts-page-content .subscribe-coupons .subscribe-title {
    font-size: 18px;
    line-height: 1.2;
  }

  .coupons_discounts-page-content .subscribe-coupons .subscribe-email input {
    box-sizing: border-box;
    width: 100%;
  }

  .coupons_discounts-page-content .subscribe-coupons .subscribe-image {
    float: none;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .coupons_discounts-page-content .subscribe-coupons > a {
    margin: 12px 0 0 0;
    float: none;
  }

  .not-logged-in .block-bissdata-user {
    width: auto;
    min-width: inherit;
    text-align: right;
  }

  .not-logged-in .block-bissdata-user .item-list li a {
    padding: 0 10px;
    width: 40px;
    position: relative;
    text-align: center;
    border: none;
  }

  .not-logged-in .block-bissdata-user .item-list li a span {
    display: none;
  }

  .not-logged-in .block-bissdata-user .item-list li a:before {
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }

  .not-logged-in .block-bissdata-user .item-list li.login a {
    border-right: none;
  }

  .not-logged-in .block-bissdata-user .item-list li.first a:before {
    display: inline-block;
    vertical-align: top;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "FontAwesome";
    content: "\f090";
    font-size: 21px;
    color: #2283C3;
    position: absolute;
    top: 50%;
    margin-top: 1px;
  }

  .not-logged-in .block-bissdata-user .item-list li.last {
    display: none;
  }

  .page-user-favorite .nodes-pages {
    margin-left: 0;
    margin-right: 0;
  }

  .node-coupons-discounts.node-full {
    position: relative;
  }

  .node-coupons-discounts.node-full .coupons-top .coupon-image {
    display: block;
    margin: 0 auto 15px;
  }

  .node-coupons-discounts.node-full .coupons-top .coupons_discounts-time {
    position: absolute;
    right: 15px;
    top: 0;
  }

  .node-coupons-discounts.node-full .promo-wrapper {
    width: auto;
  }

  .node-coupons-discounts.node-full .promo-wrapper .promo-code-value {
    width: 320px;
    height: 42px;
    font-size: 21px;
  }

  .node-coupons-discounts.node-full .promo-wrapper .promo-code-value .value {
    height: 43px;
  }

  .node-coupons-discounts.node-full #copy-button .text {
    display: none;
  }

  .balance-amount {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 690px) {
  .coupons-cashback-block {
    height: auto;
    text-align: center;
    width: auto;
  }

  .coupons-cashback-block:after {
    display: table;
    content: '';
    width: 100%;
    height: 0;
  }

  .coupons-cashback-block .image {
    background: none;
    float: none;
    display: block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: #fff;
    height: auto;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 15px;
  }

  .coupons-cashback-block .image a {
    display: inline;
  }

  .coupons-cashback-block .text,.coupons-cashback-block .link {
    display: inline-block;
    vertical-align: middle;
    float: none;
    height: auto;
    margin: 0 10px 20px;
  }

  .excursion-wrapper form label {
    float: none;
    width: auto;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
  }

  .excursion-wrapper form .form-item input.form-text {
    width: 100%;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-steps-steps .step {
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin-right: 20px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-steps-steps .step span {
    line-height: 38px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-step .text {
    font-size: 25px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-title {
    padding-bottom: 20px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-title h1.text {
    font-size: 35px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-after {
    font-size: 25px;
  }

  .pl-range-wrapper {
    float: none;
    margin: 0 auto 50px;
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .pl-range-wrapper .pl-user-status,.pl-range-wrapper .pl-range {
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  .pl-range-wrapper .pl-range-bronze {
    display: none;
  }

  .pl-range-wrapper .status-badge:before {
    left: 0;
  }

  .account-premium-wrapper {
    float: none;
    margin: 0 auto;
  }

  .visibility-switch {
    display: block;
  }
}

@media all and (max-width: 690px) and (max-width: 545px) {
  .pl-range-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .pl-range-wrapper:after {
    display: none;
  }

  .pl-range-wrapper .pl-user-status {
    display: block;
  }

  .pl-range-wrapper .pl-range {
    display: none;
  }
}

@media (max-width: 495px) {
  .ps-page-wrapper .copy-button {
    display: block;
    text-align: center;
  }

  #ps-referal-link .ps-referal-link .form-item input {
    width: 100%;
    display: block;
    margin: 0 0 15px;
    max-width: 100%;
    box-sizing: border-box;
  }

  #ps-send-link .form-item {
    float: none;
    margin: 0;
    width: auto;
  }

  #ps-send-link .form-submit {
    display: block;
    text-align: center;
    float: none;
    width: 100%;
    font-size: 15px;
    max-width: none;
  }

  #ps-send-link .form-item-email .form-text {
    width: 100%;
    display: block;
    margin: 0 0 15px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .ps-statistics .field {
    float: none;
    width: auto;
    margin-right: 0;
    display: block;
  }

  .user-settings fieldset.settings-pane .form-item.form-type-password {
    width: 100%;
    margin-right: 0;
    box-sizing: border-box;
  }

  .contacts-details-left,.contacts-details-right {
    float: none;
    width: auto;
  }

  .ps-referals .referral {
    width: 26%;
  }

  .front .middle .block h2 {
    font-size: 26px;
  }

  .node-coupons-discounts.node-full {
    position: relative;
  }

  .node-coupons-discounts.node-full .coupons-top .promo-wrapper {
    display: block;
  }

  .node-coupons-discounts.node-full .coupons-top .promo-wrapper .promo-code-value {
    width: auto;
    margin: 0 auto;
    max-width: 90%;
  }

  .node-coupons-discounts.node-full .coupons-top .coupons_discounts-time {
    position: relative;
    float: none;
    margin: 0;
    right: auto;
    top: auto;
  }
}

@media all and (max-width: 480px) {
  .owl-loaded .owl-dots .owl-dot {
    width: 6px;
    height: 6px;
    margin: 2px;
  }
}

@media (max-width: 480px) {
  .login-register-form .form-item {
    padding-top: 20px;
  }

  #block-menu-menu-about-menu,#block-block-17 {
    max-width: none;
    margin-bottom: 20px;
    float: none;
  }

  .comment .review-user,.node-reviews .review-user {
    margin-bottom: 5px;
    text-indent: 0;
    margin-left: 62px;
  }

  .comment .review-time,.node-reviews .review-time {
    float: none;
    margin-top: 0;
    margin-bottom: 25px;
    font: 12px/1.2 'Open Sans',sans-serif;
  }

  .field-shop-link a.goto-shop {
    font-size: 14px;
    padding: 0 20px;
  }

  .block-bissdata-user .user-links {
    display: inline-block;
    vertical-align: top;
    margin-left: 0;
  }

  .user-pass-popup-content {
    max-width: 100%;
  }

  .user-pass-popup-content form {
    padding: 20px 15px;
  }

  #ps-social-network,#ps-send-link,#ps-banners,#ps-referal-link {
    display: block;
  }

  .page-user .tabs ul.tabs.primary li a {
    font-size: 0;
  }

  #jGrowl {
    margin-left: -240px;
  }

  #jGrowl .jGrowl-message {
    font: 300 14px/19px "Open Sans",sans-serif;
  }

  #jGrowl div.jGrowl-notification,#jGrowl div.jGrowl-closer {
    width: 230px;
    margin: 15px auto;
  }

  .one-sidebar div.node-teaser.node-product,div.node-teaser.node-product {
    margin: 0 auto 13px;
    float: none;
  }

  .user-shops-wrapper {
    float: none;
    text-align: center;
  }

  .form-managed-file .form-submit {
    display: block;
    margin-top: 10px;
    width: auto;
  }

  .field-name-field-sex .form-radios .form-item {
    float: none;
  }

  .user-settings fieldset.settings-pane .form-item label.option {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    width: auto;
    float: none;
  }

  .user-settings fieldset.settings-pane-password > legend .fieldset-legend {
    left: 0;
    padding-left: 17px;
    box-sizing: border-box;
    width: 100%;
  }

  .user-settings fieldset.settings-pane-password > legend .fieldset-legend .summary {
    right: 17px;
  }

  .page-user .withdraw-user-form #edit-actions input {
    box-sizing: border-box;
    width: 100%;
    display: block;
  }

  .withdraw-user-form .form-item {
    width: 100%;
  }

  .user-withdraw tbody td.amount {
    font-size: 18px;
    line-height: 1.2;
  }

  .page-user #bissdata-user-edit-form .form-actions {
    overflow: hidden;
  }

  .page-user #bissdata-user-edit-form .form-actions input.form-submit {
    margin: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  .footer-contacts {
    max-width: 100%;
  }

  .page-shops .sort-wrapper li {
    display: block;
    margin: 0 0 10px;
  }

  .page-shops .sort-wrapper li a,.page-shops .sort-wrapper li a.active {
    display: block;
  }

  .shop-content-right .field-type-image .field-items .field-item img {
    max-width: 150px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-steps {
    padding: 40px 0;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-steps-steps {
    display: none;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-step {
    bottom: 16px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-step .text {
    font-size: 20px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-title {
    padding-bottom: 10px;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-title h1.text {
    font-size: 25px;
    padding-bottom: 11px;
    text-transform: uppercase;
    line-height: 1.4;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-after {
    font-size: 17px;
    margin-top: 0;
  }

  #block-extra-blocks-front-cashback-steps .cb-front-after a.link-button {
    height: auto;
    margin: 0;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media all and (max-width: 447px) {
  .withdraw-user-form .form-item {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .sort-wrapper ul li {
    margin-bottom: 15px;
  }

  #block-shops-shops-actions .section-content {
    padding: 0 5px;
  }

  div.node-shop.node-teaser {
    margin-left: 0;
    right: 0;
    background: none;
    height: auto;
    display: block;
    width: auto;
    margin-bottom: 4px;
    border-radius: 2px;
    float: none;
  }

  div.node-shop.node-teaser .cashback-rate .default-rate {
    margin: 0 10px 0 0;
  }

  div.node-shop.node-teaser .shops-teaser-wrap {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.13);
  }

  div.node-shop.node-teaser .shop-title {
    height: auto;
    margin-bottom: 0;
  }

  div.node-shop.node-teaser .shop-title a {
    border-top: 1px dashed #E5E1DB;
    display: block;
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #FFFBF4;
  }

  div.node-shop.node-teaser .shop-image a {
    box-sizing: border-box;
    padding: 0;
  }

  div.node-shop.node-teaser .shop-image .shop-image-wrapper {
    background: #fff;
    display: block;
    line-height: 68px;
    margin: 0;
    position: relative;
    padding: 13px 0;
  }

  div.node-shop.node-teaser .shop-image .shop-image-wrapper img {
    vertical-align: middle;
    max-height: 100%;
  }

  div.node-shop.node-teaser .shop-image .shop-image-wrapper .shop-action,div.node-shop.node-teaser .shop-image .shop-image-wrapper .shop-exclusive {
    top: -4px;
    left: -4px;
  }

  div.node-shop.node-teaser .cashback-rate-info {
    background: #FFFBF4;
    padding-bottom: 15px;
  }

  .shops-wrapper .shops-content {
    margin-left: 0;
  }

  .user-shops-wrapper div.node-shop.node-teaser {
    margin-left: 0;
  }

  .page-shops .shops-wrapper .shops-content .shops-content-wrap {
    float: none;
    margin: 0;
  }

  .balance-amount > .field-type-text {
    float: none;
    margin: 0;
    display: block;
    overflow: hidden;
  }

  .balance-amount .withdraw-link {
    float: none !important;
  }

  #bonus-code-container form input.form-text {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
  }

  .page-user #bonus-code-container #edit-actions {
    float: none;
    overflow: hidden;
  }

  .page-user #bonus-code-container #edit-actions input {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  .page-user .balance-table tbody tr td.title .description {
    font-size: 11px;
  }

  .excursion-wrapper form .birthday .form-item {
    float: none;
    width: 100% !important;
    padding: 0;
    margin: 0 0 10px;
  }

  .excursion-wrapper form .field-name-field-sex .form-radios .form-item label.option {
    float: none;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px;
    height: 42px;
    line-height: 42px;
  }

  div.node-shop.node-teaser.test-shop {
    background: none !important;
  }

  div.node-shop.node-teaser.test-shop .shops-teaser-wrap {
    box-shadow: 0 0 12px #FFD66C;
    -webkit-animation-name: step-pulse;
    animation-name: step-pulse;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    -webkit-animation-play-state: running;
    animation-play-state: running;
  }

  div.node-shop.node-teaser.test-shop:before {
    display: none;
  }
}

@media (max-width: 400px) {

  .shop-content-right .title h1{
    font-size: 18px;
  }

  .user-settings fieldset.settings-pane .birthday .fieldset-wrapper .form-item-birthday-day,.user-settings fieldset.settings-pane .birthday .fieldset-wrapper .form-item-birthday-month,.user-settings fieldset.settings-pane .birthday .fieldset-wrapper .form-item-birthday-year {
    display: block;
    margin: 0 0 20px;
    float: none;
    width: 100%;
  }

  .withdraw-user-form .form-item {
    float: none;
    width: auto;
  }

  .page-user .withdraw-user-form #edit-actions input {
    font-size: 15px;
    width: 100%;
  }

  .ps-referals .referral {
    width: auto;
    display: block;
  }

  #modal-content .form-actions .submit-login {
    margin-right: 6px;
  }

  .shop-content-right .cashback-info-wrap .cashback-rate .rate-suffix {
    font-size: 13px;
    margin: 11px 0 0 5px;
  }

  .coupons_discounts-page-content .subscribe-coupons {
    padding-left: 115px;
  }

  .coupons_discounts-page-content .subscribe-coupons .subscribe-title {
    font-size: 16px;
  }

  .withdraw-user-form .form-item-amount {
    margin-right: 0;
  }

  .node-coupons-discounts.node-full .promo-wrapper .copy-wrapp .promo-code-value .value {
    max-width: 150px;
  }

  .node-coupons-discounts.node-full .coupons-top .coupon-adv-link span {
    font-size: 12px;
  }

  .excursion-wrapper .shops-content-wrap div.node-shop.node-teaser {
    right: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 5px;
  }

  .excursion-wrapper .shops-content-wrap div.node-shop.node-teaser .node-shop-wrapper {
    width: 100%;
    text-align: center;
    display: block;
    line-height: 63px;
  }

  .excursion-wrapper .shops-content-wrap div.node-shop.node-teaser .node-shop-wrapper img {
    display: inline-block;
    vertical-align: middle;
  }

  .excursion-wrapper .shops-content-wrap div.node-shop.node-teaser .favorite {
    width: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes step-pulse {
  0% {
    box-shadow: 0 0 15px #ffe045;
  }

  100% {
    box-shadow: 0 0 15px #ffa238;
  }
}

@keyframes step-pulse {
  0% {
    box-shadow: 0 0 15px #ffe045;
  }

  100% {
    box-shadow: 0 0 15px #ffa238;
  }
}
