.simple-nav > li { margin-bottom:12px; margin-right:0; }
.lg-slider-thumbs img { max-height:95px; }

.has-breaking .lg-slider-thumbs .cycle-pager-active { display:none; }

/*img width/height hard fixes*/
.thumbs-listing .thumb-image-wp .media-object { margin:0 auto; }
.thumbs-listing .thumb-image-wp { text-align:center; background:url('../images/placeholder-article.jpg') no-repeat center #ffffff; background-size:100%; background-color:#fff;  }

.article-listing-wp .default-article .article-img-wp { min-height:131px; max-height:131px; text-align:center; background:url('../images/placeholder-article.jpg') no-repeat center #ffffff; background-size:100%; }
.thumbs-listing .thumb-image-wp a,
.article-listing-wp .article-img-wp a { display:block; }
.thumbs-listing img.responsive,
.article-listing-wp .article-img-wp img.responsive { width:auto; max-width:233px; min-height:131px; max-height:131px; }

.team-members.thumbs-listing .thumb-image-wp { overflow:hidden; }
.thumbs-listing .thumb-image-wp.no-image { height:350px; }
.team-members.thumbs-listing img.responsive { display:inline; width:auto; max-width:inherit; min-height:350px; max-height:350px; margin:0 -100%; }

.submenu-content .default-article .article-img-wp,
.submenu-content .article-img-wp img.responsive { max-width:209px; min-height:118px; max-height:118px; }

/*.lg-slider-wp .tag-l { top:auto; bottom:114px; }
.lg-slider-thumbs .tag-m.tag-breaking { display:none; }*/
.lg-slide-content { /*max-height:114px;*/ }
.lg-slider-slide { max-height:415px; overflow:hidden; display:none; }
.sectionPage .lg-slider-slide { display:block; }

/*Realitea.net old styles*/
#mask {
    background: none repeat scroll 0 0 #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

#related-articles .article-img-wp { text-align:center; }
/*#related-articles img.responsive { min-height:131px; max-height:131px; }*/
.social-widgets-wrapper { margin:10px 0; }

.tagsPage .alfabeth-listing .tag_page.active:after { display:none; }
.tag { position:relative; }
.tag-submenu { position:absolute; bottom:-20px; right:0; display:none; }


/*modal bug*/
/*.modal-backdrop { z-index:99; }*/
.modal-h100 .modal-content { max-height:100%; overflow:hidden; }
.modal #tag_container { max-height:400px; overflow-y:auto; }
#tag_container span:hover a,
#tag_container a:hover { color:#fff; }


.bnr-widget .submenu { z-index:101; position:absolute; top:20px; left:0; }

.header-social { background:none; }
.header-social li + li { margin-left:8px; }

.video-js {
    display:block;
    height: 409px;
    position:relative;
}

/*#homepage-slider .cycle-slide .lg-slider-slide { height:415px; }
#homepage-slider .cycle-slide .lg-slide-img-wp { height:100%; text-align:center; }
#homepage-slider .cycle-slide img.responsive { z-index:11; position:relative; width:auto; height:100%; }
#homepage-slider .cycle-slide img.responsive-blur { width:100%; z-index:10; position:absolute; top:0; left:0;
-webkit-filter: blur(5px); -moz-filter: blur(5px); filter: blur(5px); }
#homepage-slider .cycle-slide .lg-slide-content { z-index:12; }*/

/*.site-content { width:auto; }*/
#sidebar { /*max-width:307px;*/width:361px; overflow-x:hidden; padding-right:7px; padding-left:18px; }
.adocean300x250 { /*width:300px !important;*/ height:auto !important; overflow:hidden; }

.article-listing-1wp .article-title a { display:block; max-height:55px; overflow:hidden; }

.nav-logo a { min-width:inherit; height:inherit; overflow:hidden; background:none; }
.nav-logo > a { min-width:42px; height:42px; overflow:hidden; background:url("../images/realitatea-icon.png") no-repeat 0 0; }

.main-article .intro-2 { margin-top:10px; }

.default-article .article-img-wp { min-height:97px; max-height:97px; text-align:center; background:url('../images/placeholder-article.jpg') no-repeat center #ffffff; background-size:100%; }
.default-article .article-img-wp img {  width:auto; max-width:173px; min-height:97px; max-height:97px; }
.default-article .article-content-wp { overflow:hidden; }
.default-article .article-title { height:55px; overflow:hidden; }

/*.tag-m .tag-video { font-size:18px; }*/

.has-breaking .breaking-news-title.lg-slide-title { font-size:36px; line-height:38px; }



.col-md-6 .section-header.border-top .section-title-m, .col-md-6 .section-header.border-top .section-title-s { max-height:55px; overflow-y:hidden;}

.videoTv .shows-list .nav-tabs>li { float:none; }
.videoTv .shows-list li.active a {
  background-color: #cc0000;
  color: #fff;
  text-decoration: none;
}

.fixed-admin-button { position:fixed; bottom:0; right:30px; padding:12px 20px; background-color:rgba(0,0,0,0.8); }
.fixed-admin-button a { font-size:15px; color:#fff; margin:0 8px; }

@media only screen and (min-width: 990px) and (max-width: 3000px) {
  .container {
    position:relative;
    max-width: 1080px;
    width:100%;
    padding:0;
  }
  .header-center { background-color:transparent; margin:-20px auto; padding:20px; }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  /*.site-content { width:100%; max-width:100%; }
  #sidebar { display:none; }*/
  .article-listing-wp .default-article .article-img-wp { min-height:160px; max-height:160px; }
  .thumbs-listing img.responsive, .article-listing-wp .article-img-wp img.responsive { min-height:160px; max-height:160px; max-width:100%; }

  .default-article .article-img-wp img { max-width:90%; }
  .header-center { margin:0 auto; }
}

  .jwplayer,
  #playerDKMyJaEjxLVd,
  #playerDKMyJaEjxLVd2{
    width: 100%!important;
  }

@media only screen and (max-width: 728px) {
  body { font-family:'Arial', sans-serif; !important; }
  div.site { overflow:hidden; }
  #mobile-nav-button { background-color:transparent; }
  #mobile-nav-button.active { background-color: #cc0000; }
  #search-toggle { background-color:transparent; }
  #search-toggle.active { background-color: #cc0000; }

  #main-nav .fa { line-height:42px; }
  .nav-search-wp { width:100%; }
  .lg-slide-content,
  .lg-slider-slide { max-height:inherit;  }

  /*.lg-slider-slide { padding-bottom:90px; }

  .lg-slide-content { position:absolute; left:0; bottom:0; height:90px; }*/

  .article-listing-wp .default-article .article-img-wp,
  .thumbs-listing img.responsive, 
  .article-listing-wp .article-img-wp img.responsive { overflow:hidden; }




  .main-article > *,
  .main-article iframe,
  .main-article object { max-width:100% !important; /*height: auto !important;*/ width: auto !important; }

  .main-article ins iframe { max-width:inherit !important; height:inherit !important; width:auto !important; }
}

@media only screen and (max-width: 400px) {
  .lg-slide-title { /*max-height:80px;*/ padding: 15px 20px; font-size:18px !important; line-height:20px !important; overflow:hidden; }
  #cycle-prev, #cycle-next { top:15%; }
  .article-listing-wp .default-article .article-img-wp,
  .thumbs-listing img.responsive, 
  .article-listing-wp .article-img-wp img.responsive { max-width:100%; max-height:160px; min-height:100%; height:160px; }

  .article-listing-wp .article-title,
  .default-article .article-title { height:auto; min-height:inherit; }

  /*big banner hide*/
  #shga_l, #shga_r, #shga_b { display:none; }
  body { margin-top:0 !important; }
  .main-article img { width:100% !important; height:auto!important; }
}

.main-article-gallery a { width:33.33%; height:113px; overflow:hidden; }

.submenu-content .tab-content .tab-pane { margin:12px 0 0; }
.submenu-content .default-article .article-title { margin-bottom:0; max-height:55px; height:auto; }
.submenu-content .default-article .show-time { color:#555; }


/**
 * ----------------------------------------------------------------------------------------
 * Margins & paddings
 * ----------------------------------------------------------------------------------------
 */
.margin-top-m {
  margin-top: 20px;
}
.margin-bottom-s {
  margin-bottom:10px !important;
}
.margin-bottom-none {
  margin-bottom:0 !important;
}
.padding-bottom-s {
  padding-bottom:10px !important;
}
.padding-bottom-none {
  padding-bottom:0 !important;
}


/*Galerie foto nav - article page*/
.gallery-nav { position:absolute; top:0; left:0; width:100%; height:100%; }
.gallery-nav a { display:block; height:100%; }
.gallery-nav i { position:absolute; top:50%; left:0; width:100%; margin-top:-16px; font-size:32px; text-align:center; color:white; }
.gallery-nav div { z-index:11; display:none; }
.gallery-nav div:hover { background-color:rgba(0,0,0,0.8); }
.article-image:hover .gallery-nav div { display:block; }

.gallery-nav .prevFoto { position:absolute; top:0; left:0; width:50px; height:100%; background-color:rgba(0,0,0,0.3); }
.gallery-nav .nextFoto { position:absolute; top:0; right:0; width:50px; height:100%; background-color:rgba(0,0,0,0.3); }

.article-image img { z-index:10; position:relative; }

/*landscape position*/
@media (min-width: 420px) and (max-width: 767px) {
.default-article.col-xs-12 { width:50%; }
}

@media (max-width:767px) {

    .article-listing-wp .article-img-wp img.responsive { max-width:100%; max-height:160px; min-height:131px; }
    .article-listing-wp.row { /*width:inherit;*/ /*margin-left:0; margin-right:0;*/ margin-bottom:0; }
    .site-content { padding-left:0; }

    #sidebar { padding-left:7px; padding-right:7px; display:block !important; width:100%; }
    #sidebar .sidebar-widget,
    #sidebar iframe,
    #sidebar > * { display:none !important;  }
    #sidebar .sidebar-widget.article-tabs-widget { display:block !important; }
}