/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Fonts
 * ----------------------------------------------------------------------------------------
 */
/*@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/regular/proximanova-regular-webfont.eot');
  src: url('../fonts/regular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/regular/proximanova-regular-webfont.woff') format('woff'), url('../fonts/regular/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/regular/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/bold/proximanova-bold-webfont.eot');
  src: url('../fonts/bold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bold/proximanova-bold-webfont.woff') format('woff'), url('../fonts/bold/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/bold/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
/**
 * ----------------------------------------------------------------------------------------
 * Reset
 * ----------------------------------------------------------------------------------------
 */
* {
  margin: 0;
  padding: 0;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-box-sizing,
.no-box-sizing:after,
.no-box-sizing:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #f1f1f1;
  /*font: 16px / 22.4px 'Open Sans', sans-serif;*/
  font: 16px / 22.4px 'Arial', sans-serif;
  color: #111;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  color: #111111;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #cc0000;
}
:focus {
  outline: 0;
}
/* Forms */
form {
  display: inline;
}
fieldset {
  border: 0;
}
legend {
  display: none;
}
/* Table */
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  font-size: 100%;
}
caption,
th,
td {
  vertical-align: top;
  text-align: left;
  font-weight: normal;
}
/* Content */
strong {
  font-weight: bold;
}
address {
  font-style: normal;
}
cite {
  font-style: normal;
}
q,
blockquote {
  quotes: none;
}
q:before,
q:after {
  content: '';
}
small,
big {
  font-size: 1em;
}
sup {
  font-size: 1em;
  vertical-align: top;
}
/* HTML5 */
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* Lists */
ul,
ol {
  list-style: none;
}

/*BLACK FRIDAY*/

/*.site{
  background-color: #000000;
}*/

/*BLACK FRIDAY END*/



/* Tools */
.hidden {
  display: block !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
.nobr {
  white-space: nowrap !important;
}
.wrap {
  white-space: normal !important;
}
.a-left {
  text-align: left !important;
}
.a-center {
  text-align: center !important;
}
.a-right {
  text-align: right !important;
}
.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.f-left,
.left,
.fleft {
  float: left !important;
}
.f-right,
.right,
.fright {
  float: right !important;
}
.f-none {
  float: none !important;
}
.fcenter {
  margin: 0 auto;
}
.f-fix {
  float: left;
  width: 100%;
}
.no-display {
  display: none;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-bg {
  background: none !important;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  clear: both;
}
hr {
  height: 0;
  margin: 20px 0;
  line-height: 0;
  border: none;
  border-top: 1px solid #e4e9ed;
}
hr.hr-01 {
  margin: 25px 0 25px;
}
img.alignright {
  margin: 0px 15px 15px 25px;
}
img.alignleft {
  margin: 0px 25px 15px 15px;
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}
.z-index-1 {
  z-index: 1;
}
.image-placeholder {
  display: block;
  padding: 20px;
  text-align: center;
}
.clearfix {
  width: 100%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
img.responsive {
  width: 100%;
  height: auto;
}
/**
 * ----------------------------------------------------------------------------------------
 * Margins & paddings
 * ----------------------------------------------------------------------------------------
 */
.padding-top-m {
  padding-top: 20px;
}
.margin-bottom-s {
  margin-bottom: 10px;
}
.margin-bottom-m {
  margin-bottom: 20px;
}
.margin-bottom-l {
  margin-bottom: 40px;
}
.margin-bottom-xl {
  margin-bottom: 60px;
}
/**
 * ----------------------------------------------------------------------------------------
 * Helper classes
 * ----------------------------------------------------------------------------------------
 */
.blink {
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
/**
 * ----------------------------------------------------------------------------------------
 * Typografy
 * ----------------------------------------------------------------------------------------
 */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  color: #333;
  letter-spacing: -1px;
}
@media only screen and (max-width: 529px) {
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
}
h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #333;
}
h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #333;
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #333;
}
.line-title {
  color: #333;
}
h3 em {
  font-weight: 300;
  font-style: normal;
}
p {
  font-size: 15px;
}
.note {
  font-size: 12px;
  line-height: 16px;
}
.section-title {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-title-s {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-title-m {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media only screen and (max-width: 529px) {
  .section-title-m {
    font-size: 24px;
    line-height: 24px;
  }
}
.section-title-border {
  padding-top: 22px;
  margin-bottom: 25px;
  border-top-width: 5px;
  border-top-style: solid;
}
/**
 * ----------------------------------------------------------------------------------------
 * Forms 
 * ----------------------------------------------------------------------------------------
 */
fieldset {
  padding: 0;
}
.input-text {
  width: 100%;
  padding: 10px 10px 8px;
  font-size: 13px;
  line-height: 13px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #e4e9ed;
}
.input-text:focus,
textarea:focus {
  border-color: #555;
}
.input-discount {
  font-size: 16px;
  line-height: 18px;
}
.input-inline {
  width: auto;
}
textarea {
  width: 100%;
  height: 80px;
  padding: 10px 10px 8px;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #e4e9ed;
}
/* sizes */
.input-sm {
  font-size: 12px;
  line-height: 12px;
  padding: 4px 6px 4px;
}
.input-xs {
  font-size: 11px;
  line-height: 11px;
  padding: 3px 5px 3px;
}
/* Validation
------------------------------------------------------------------*/
.validation-advice-container {
  font-size: 12px;
  color: red;
}
.validation-failed {
  border-color: red;
}
/* Floats
------------------------------------------------------------------*/
.form-list li {
  margin-bottom: 10px;
}
.form-list .fields:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.form-list .fields .field {
  float: left;
  width: 48%;
}
.form-list .fields .field:last-child {
  float: right;
}
.form-list label {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}
.form-list label.small {
  font-weight: 400;
  font-size: 13px;
}
.form-list .label-inline {
  padding-right: 5px;
}
.form-list label em {
  float: right;
}
.form-list select {
  width: 100%;
}
/* Login page
------------------------------------------------------------------*/
.recover-password-wp {
  padding: 20px;
  background-color: #111;
}
.recover-password-wp hr {
  border-color: #333;
}
.recover-password-wp h4,
.recover-password-wp h5 {
  color: #fff;
}
.recover-password-wp label {
  color: #fff;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Tags
 * ----------------------------------------------------------------------------------------
 */
.tag-m {
  z-index: 4;
  position: relative;
  background-color: red;
  color: #fff;
  font-size: 13px;
  letter-spacing: -1px;
  line-height: 30px !important;
  text-transform: none !important;
  font-weight: 700;
  display: inline-block;
  padding: 0 5px 0 9px;
  height: 30px;
  bottom: 0;
}
.tag-m:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  height: 0;
  width: 0;
  line-height: 0;
  border-style: solid;
  border-width: 30px 10px 0 0;
  border-color: red transparent transparent transparent;
}
.tag-l {
  z-index: 4;
  position: relative;
  background-color: red;
  color: #fff;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 50px !important;
  text-transform: none !important;
  font-weight: 700;
  display: inline-block;
  padding: 0 20px 0 25px;
  height: 50px;
  bottom: 0;
}
.tag-l:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -20px;
  height: 0;
  width: 0;
  line-height: 0;
  border-style: solid;
  border-width: 50px 20px 0 0;
  border-color: red transparent transparent transparent;
}
.tag-exclusive {
  background-color: red;
  color: #fff;
}
.tag-exclusive:after {
  border-color: red transparent transparent transparent;
}
.tag-breaking {
  background-color: #FFC400;
  color: #111;
}
.tag-breaking:after {
  border-color: #FFC400 transparent transparent transparent;
}
.tag-grey {
  background-color: #a7a7a7;
}
.tag-grey:after {
  border-color: #a7a7a7 transparent transparent transparent;
}
.tag-l.tag-video {
  font-size: 30px;
}
.tag-m.tag-video {
  font-size: 18px;
}
.tag-time {
  position: relative;
  display: inline-block;
  padding: 0 5px 0 9px;
  color: #fff;
  font-size: 11px;
  line-height: 25px;
  height: 25px;
  background-color: #111111;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: -1px;
}
.tag-time:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  height: 0;
  width: 0;
  line-height: 0;
  border-style: solid;
  border-width: 25px 10px 0 0;
  border-color: #111111 transparent transparent transparent;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}
/**
 * ----------------------------------------------------------------------------------------
 * Borders
 * ----------------------------------------------------------------------------------------
 */
.border-red {
  border-color: #cc0000;
}
.border-black {
  border-color: #111;
}
.border-yellow {
  border-color: #f39b13;
}
.border-blue {
  border-color: #3598dc;
}
.border-emerald {
  border-color: #19bd9b;
}
.border-orange {
  border-color: #e77e23;
}
.border-grey {
  border-color: #95a5a5;
}
.border-green {
  border-color: #27ae61;
}
.border-purple {
  border-color: #9b58b5;
}
/**
 * ----------------------------------------------------------------------------------------
 * Buttons - Boostrap buttons
 * ----------------------------------------------------------------------------------------
 */
.btn {
  border-radius: 2px;
  font-weight: 700;
}
/* colors */
.btn-primary {
  border-color: #cc0000;
  background-color: #cc0000;
}
.btn-primary:hover {
  border-color: #ff0000;
  background-color: #ff0000;
}
.btn-succes {
  background-color: green;
  border-color: green;
  color: #fff;
}
.btn-succes:hover {
  color: #fff;
  background-color: #009a00;
  border-color: #009a00;
}
.btn-info {
  background-color: #FFC400;
  border-color: #FFC400;
  color: #111;
}
.btn-info:hover {
  border-color: #ffd033;
  background-color: #ffd033;
  color: #111;
}
.btn-inverse {
  background-color: #fff;
  border-color: #fff;
  color: #111;
}
.btn-link {
  color: #111111;
}
.btn-link:hover {
  color: #cc0000;
}
.btn-facebook {
  background-color: #3d5999;
  border-color: #3d5999;
  color: #fff;
}
.btn-facebook:hover {
  color: #fff;
}
/* sizes */
.btn-lg {
  font-size: 16px;
}
/* layout */
/* state */
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Tables
 * ----------------------------------------------------------------------------------------
 */
.data-table {
  width: 100%;
  margin-bottom: 20px;
}
.data-table thead {
  color: #fff;
  background-color: #cc0000;
}
.data-table thead th {
  padding: 10px 14px 9px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.data-table tbody {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
.data-table tbody td {
  padding: 10px 14px 9px;
}
.data-table tbody .product-name {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  margin-bottom: 5px;
}
.data-table tbody .item-options {
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #888;
}
.data-table tfoot {
  background-color: #fafafa;
  padding: 10px 0;
  border: 1px solid #ddd;
}
.data-table tfoot td {
  padding: 2px 10px 1px;
}
.data-table tfoot tr.first td {
  padding-top: 15px;
}
.data-table tfoot tr.last {
  font-family: 'Open Sans', sans-serif;
}
.data-table tfoot tr.last td {
  padding-bottom: 15px;
}
/* Bootstrap overite
------------------------------------------------------------------*/
@media only screen and (max-width: 529px) {
  .container-fluid {
    padding: 0;
  }
}
@media only screen and (min-width: 728px) and (max-width: 1100px) {
  .container-fluid {
    padding: 0;
  }
}
@media only screen and (min-width: 990px) and (max-width: 3000px) {
  .container {
    width: 1060px;
  }
}
@media only screen and (min-width: 728px) and (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 0 14px !important;
  }
}
.row {
  margin-left: -7px;
  margin-right: -7px;
}
.container,
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding-right: 7px;
  padding-left: 7px;
}
.breadcrumb {
  background-color: transparent;
}
.media {
  margin-top: 0;
}
/* modal */
.modal {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
.modal-header {
  background-color: #111;
  color: #fff;
}
.modal-header .modal-title {
  color: #fff;
}
.modal-header .close {
  text-shadow: none;
  opacity: 1;
  color: #fff;
  font-size: 36px;
}
.modal-header .close:hover {
  color: #cc0000;
}
.modal-footer {
  background-color: #f1f1f1;
}
/* pagination */
.pagination > li > a,
.pagination > li > span {
  color: #111111;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #cc0000;
  border-color: #cc0000;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #cc0000;
}
/**
 * ----------------------------------------------------------------------------------------
 * General style
 * ----------------------------------------------------------------------------------------
 */
body.fixed-nav {
  padding-top: 42px;
}
.main-content-wp {
  position: relative;
  z-index: 100;
  background-color: #f1f1f1;
}
.site-content {
  display: table-cell;
  vertical-align: top;
  padding-left: 7px;
  width: 70%;
}
@media only screen and (max-width: 529px) {
  .site-content {
    padding-left: 0;
  }
}
@media only screen and (min-width: 990px) and (max-width: 3000px) {
  .site-content {
    /*width: 735px;*/
  
  }
}
.fill-gap {
  margin-left: -14px;
  margin-right: -14px;
}
.content-add-wp {
  margin-bottom: 12px;
}
/* content box */
.content-box-header {
  padding: 14px 20px;
  background-color: #111;
  color: #fff;
}
.content-box-header .section-title-s {
  margin: 0;
  color: #fff;
}
.content-box {
  padding: 20px;
  background-color: #fff;
}
.content-box-footer {
  padding: 20px;
  background-color: #ddd;
}
.content-box-blue {
  background-color: #3d5999;
}
.thumbs-listing-grid li {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e9ed;
}
.thumbs-listing-grid li:last-child {
  border-color: transparent;
}
.thumbs-listing-grid p {
  font-size: 12px;
  line-height: 18px;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//* Header
------------------------------------------------------------------*/
.top-add {
  padding-top: 30px;
  padding-bottom: 14px;
}
#masthead {
  background-color: #fff;
  padding: 14px 0;
}
#logo {
  z-index: 10;
  width: 283px;
  height: 70px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/logo.png") no-repeat 0 0;
  background-size: 255px;
  margin: 0 auto;
}
.header-secondary {
  padding-top: 3px;
}
/* Live icons
------------------------------------------------------------------*/
.header-widget .note {
  font-size: 11px;
  display: inline-block;
  margin-bottom: 10px;
}
.header-icons {
  padding-top: 8px;
  margin-bottom: 10px;
}
.header-icons li {
  float: left;
  font-size: 12px;
  line-height: 12px;
  margin-right: 10px;
}
.header-icons a:hover {
  text-decoration: none;
}
.header-icons .fa {
  color: #cc0000;
}
/* Curs Valutar
------------------------------------------------------------------*/
.header-dropdown {
  margin-bottom: 2px;
  margin-right: 0;
}
.header-dropdown.open .toogle {
  color: #cc0000;
  border-color: #cc0000;
}
.header-dropdown .toogle {
  display: inline-block;
  padding: 6px 7px;
  border: 1px solid transparent;
  font-size: 11px;
  line-height: 11px;
  cursor: pointer;
}
.header-dropdown .toogle .fa {
  font-size: 10px;
}
.header-dropdown .toogle:hover {
  color: #cc0000;
  border-color: #cc0000;
}
.header-dropdown .fa {
  margin-left: 2px;
}
.header-dropdown ul {
  display: inline-block;
  display: none;
  padding: 6.666666666666667px 10px;
  line-height: 20px;
  font-size: 11px;
  border: 1px solid #e4e9ed;
  background-color: #fff;
}
.header-dropdown .dropdown-menu {
  min-width: 120px;
}
/* Header links
------------------------------------------------------------------*/
.header-links {
  padding-top: 7px;
  margin-bottom: 7px;
}
.header-links li {
  float: left;
  padding-right: 10px;
  font-size: 12px;
  line-height: 12px;
  color: #111;
}
.header-links li:last-child {
  padding: 0;
}
.header-links a {
  color: #111;
}
.header-links a:hover {
  color: #cc0000;
  text-decoration: none;
}
/* Social
------------------------------------------------------------------*/
.header-social {
  /*width:130px;*/
    margin-top: 18px;
    /*margin-left: 20px;*/
    text-align: center;
}

.header-social-text{
  display:inline-block;font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    width: 100px;
    margin-left: 5px;
    vertical-align: top;
}

.header_icon_item{
  display: inline-block;
  margin: 5px auto;
  text-align: left;
}

.header-facebook {
  height:36px;
  width:36px;
  background: url("../images/header/realitatea_header_fb.png") no-repeat 0 0;
}
/* Search
------------------------------------------------------------------*/
.header-search form {
  position: relative;
  height: 40px;
  display: block;
}
.header-search form button {
  padding: 0 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  line-height: 30px;
  color: #cc0000;
  border: none;
  background-color: transparent;
}
.header-search .input-text {
  padding: 6px 10px;
  font-size: 12px;
  line-height: 12px;
  color: #999;
}
.header-search .input-text:focus {
  color: #111111;
}
/**
 * ----------------------------------------------------------------------------------------
 * Navigation
 * ----------------------------------------------------------------------------------------
 */
.stiky {
  position: fixed;
  z-index: 102;
  width: 100%;
}
#main-nav {
  position: relative;
  width: 100%;
  background-color: #000;
}
#main-nav a:hover {
  text-decoration: none;
}
.main-menu {
  margin-bottom: 0;
}
.main-menu > li {
  float: left;
  display: block;
}
.main-menu > li > a:first-child {
  position: relative;
  /*padding: 0 12px;*/
  /*padding: 0 7px;*/
  padding: 0 6px;
  line-height: 42px;
  height: 42px;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.main-menu > li > a:nth-child(9) { background-color:#cc0000 }
.main-menu > li > a:first-child:hover {
  color: #fff;
  background-color: #cc0000;
}
.main-menu > li.small-link > a:first-child {
  font-size: 12px;
  text-transform: none;
  border-left: 1px solid #333;
}
.main-menu > li.small-link:hover > a:before {
  color: #fff;
}
.main-menu > li.has-submenu:hover > a:first-child {
  color: #fff;
  background-color: #cc0000;
}
.main-menu > li.current > a:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  content: " ";
  text-indent: -9999px;
  overflow: hidden;
  border-bottom: 3px solid red;
}
.main-menu .small-link .fa {
  margin-right: 5px;
  font-size: 15px;
}
@media only screen and (max-width: 529px) {
  .main-menu .small-link .fa {
    margin-right: 0;
  }
}
.main-menu > li.has-submenu:hover .submenu-wp {
  display: block !important;
}
.live-tv-toogle {
  background-color: #cc0000;
  color: #fff;
}
/* Logo in nav
------------------------------------------------------------------*/
.nav-logo {
  line-height: 0;
}
.nav-logo a {
  width: auto;
  min-width: 42px;
  height: 42px;
  overflow: hidden;
  display: inline-block;
  background: url("../images/realitatea-icon.png") no-repeat 0 0;
}
@media only screen and (min-width: 200px) and (max-width: 1100px) {
  
}
@media only screen and (min-width: 200px) and (max-width: 1100px) and only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 200px) and (max-width: 1100px) and only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 200px) and (max-width: 1100px) and only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-width: 200px) and (max-width: 1100px) and only screen and (min-device-pixel-ratio: 1.5) {
  .nav-logo a {
    background-image: url("../images/realitatea-iconx2.png");
    background-size: 100%;
  }
}
.nav-logo a span {
  display: inline-block;
  padding-left: 26px;
}
/* Simple nav
------------------------------------------------------------------*/
.simple-nav {
  padding-top: 30px;
  padding-bottom: 30px;
}
.simple-nav li {
  float: left;
  width: 25%;
  padding-right: 20px;
}
.simple-nav a {
  display: inline-block;
  padding: 14px 20px 14px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #111111;
  border-left: 2px solid #ddd;
}
.simple-nav a:hover {
  color: #cc0000;
  border-color: #cc0000;
}
/* tabs
------------------------------------------------------------------*/
.submenu-wp {
  z-index: 10;
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #fff;
  border-bottom: 4px solid #000;
}
.submenu-content {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-tabs-main-nav {
  border: none;
  background-color: #f1f1f1;
  min-height: 250px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 0;
}
.nav-tabs-main-nav li {
  float: none;
  margin: 0;
  border-bottom: 1px solid #fff;
}
.nav-tabs-main-nav li:last-child {
  border-color: transparent;
}
.nav-tabs-main-nav li.active a,
.nav-tabs-main-nav li.active a:focus,
.nav-tabs-main-nav li.active a:hover {
  color: #fff;
  background-color: #cc0000;
  border: none;
  border-radius: 0;
}
.nav-tabs-main-nav li.active .fa {
  visibility: visible;
}
.nav-tabs-main-nav li a,
.nav-tabs-main-nav li a:focus {
  border: none;
  border-radius: 0;
  background-color: transparent;
  margin-right: 0;
  padding: 12px 16px;
  display: block;
  line-height: 14px;
  color: #111111;
}
.nav-tabs-main-nav li a .fa,
.nav-tabs-main-nav li a:focus .fa {
  visibility: hidden;
}
.nav-tabs-main-nav li a:hover,
.nav-tabs-main-nav li a:focus:hover {
  color: #fff;
  background-color: #cc0000;
  border-radius: 0;
}
.nav-tabs-main-nav li a:hover .fa,
.nav-tabs-main-nav li a:focus:hover .fa {
  visibility: visible;
}
.submenu-content .tabs-content {
  padding: 0;
}
.main-menu .dropdown-content {
  position: absolute;
  display: none;
}
/* Search
------------------------------------------------------------------*/
.nav-search-wp {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 300px;
  float: right;
}
.nav-search-wp form {
  position: relative;
  height: 40px;
  display: block;
}
.nav-search-wp form button {
  padding: 0 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 15px;
  line-height: 35px;
  color: #cc0000;
  border: none;
  background-color: transparent;
}
.nav-search-wp .input-text {
  padding: 8px 10px;
  font-size: 12px;
  line-height: 12px;
  color: #999;
}
.nav-search-wp .input-text:focus {
  color: #111111;
}
/* Mobile nav
------------------------------------------------------------------*/
.mobile-nav .fa:before {
  margin-right: 3px;
}
.mobile-nav ul {
  padding: 20px 0;
}
.mobile-nav ul a {
  display: block;
  padding: 16px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #111111;
}
.mobile-nav ul a:hover {
  color: #fff;
  background-color: #cc0000;
}
.mobile-small-nav {
  border-top: 1px solid #e4e9ed;
}
.mobile-small-nav li a {
  font-weight: 400;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//* Footer
------------------------------------------------------------------*/
#main-footer {
  padding: 40px 0;
  background-color: #fff;
  font-size: 14px;
  line-height: 16px;
}
#main-footer hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 529px) {
  #main-footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
#main-footer .links-listing li {
  width: 30%;
  display: inline-block;
  padding-right: 5px;
  line-height: 22px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 529px) {
  #main-footer .links-listing li {
    /*width: auto;*/
    width: 49%;
    padding: 5px 10px;
    margin-bottom: 0;
    line-height: 14px;
  }
  .footer-nav li { 
    line-height:24px !important;
    width:49%;
  }
}
#main-footer .links-listing a {
  color: #111111;
}
#main-footer .links-listing a:hover {
  color: #cc0000;
}
#main-footer .copy-wp {
  padding-top: 10px;
}
#main-footer .copy-wp span {
  display: inline-block;
  margin-right: 30px;
}
#main-footer .copy-wp li:first-child {
  padding: 0;
  border: none;
}
@media only screen and (max-width: 529px) {
  #main-footer .copy-wp li:first-child {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 20px;
  }
}
#main-footer .copy-wp li:last-child {
  border: none;
}
#main-footer .copy-wp li {
  width: auto;
  border-right: 1px solid #e4e9ed;
  padding: 0 14px;
}
#main-footer .order-wp a {
  margin-right: 10px;
}
@media only screen and (max-width: 529px) {
  #main-footer .order-wp span {
    padding-top: 10px;
    display: block;
  }
}
@media only screen and (max-width: 529px) {
  #main-footer .order-wp {
    padding: 0 17px;
  }
}
.alphabet-listing {
  text-transform: uppercase;
}
.alphabet-listing li {
  display: inline-block;
  font-size: 14px;
  padding-right: 3px;
}
.alphabet-listing span {
  font-weight: 700;
}
.alphabet-listing a {
  color: #111111;
}
.alphabet-listing a:hover {
  color: #cc0000;
}
.footer-nav li:first-child {
  padding-left: 0;
}
@media only screen and (max-width: 529px) {
  .footer-nav li:first-child {
    padding-left: 10px;
  }
}
.footer-nav li {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding: 0 6.666666666666667px;
}
@media only screen and (max-width: 529px) {
  .footer-nav li {
    padding-left: 10px;
  }
}
.footer-nav a {
  color: #111111;
}
.footer-nav a:hover {
  color: #cc0000;
}
.footer-subtitle {
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}
@media only screen and (max-width: 529px) {
  .footer-subtitle {
    padding-left: 10px;
    margin-bottom: 7px;
  }
}
.by {
  padding-top: 40px;
  display: inline-block;
  font-size: 12px;
  color: #111;
  text-align: right;
}
.by a {
  color: #111;
}
/* Partners
------------------------------------------------------------------*/
@media only screen and (max-width: 529px) {
  .vip-partners-wp {
    padding: 0 10px;
  }
}
.partner-logo {
  display: inline-block;
  height: 85px;
  width: 100px;
  text-indent: -99999px;
  overflow: hidden;
  background: url("../images/parteneri.png") no-repeat 0 0;
}
.publyo {
  width: 277px;
  margin-right: 20px;
}
.think-digital {
  width: 120px;
  margin-right: 20px;
  background-position: -328px 0;
}
/**
 * ----------------------------------------------------------------------------------------
 * Sidebar
 * ----------------------------------------------------------------------------------------
 */
#sidebar {
  width: 307px;
  display: table-cell;
  vertical-align: top;
  padding-right: 7px;
  padding-left: 18px;
}
#sidebar .btn-m-inverse,
#sidebar .btn-m {
  padding: 12px 15px;
}
#sidebar ol,
#sidebar ul {
  margin-bottom: 0;
}
/**
 * ----------------------------------------------------------------------------------------
 * Article styles
 * ----------------------------------------------------------------------------------------
 */
.default-article .article-img-wp {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.default-article .article-meta {
  position: absolute;
  line-height: 1px;
  bottom: 0;
  left: 0;
}
.default-article .article-content-wp {
  line-height: 16px;
}
.default-article .article-title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}
.default-article .article-title-sm {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 15px;
}
.big-article {
  position: relative;
  margin-bottom: 60px;
}
.big-article .article-content-wp {
  position: absolute;
  right: 7px;
  top: 0;
  height: 100%;
  padding: 40px;
  color: #fff;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.7);
}
.big-article .article-title {
  margin-bottom: 10px;
  display: block;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -1px;
  font-weight: 700;
}
.big-article p {
  line-height: 20px;
  margin-bottom: 20px;
}
.big-article a {
  color: #fff;
}
.big-article .btn {
  margin-bottom: 20px;
}
.big-article .note {
  display: block;
  font-size: 12px;
  color: #ddd;
}
/**
  * ----------------------------------------------------------------------------------------
  * Category article listing - listarea home de categorii
  * ----------------------------------------------------------------------------------------
  */
.category-column {
  margin-bottom: 20px;
}
.category-article-listing .default-article {
  margin-bottom: 16px;
}
@media only screen and (min-width: 990px) and (max-width: 3000px) {
  .category-article-listing .default-article {
    border-bottom: 1px solid #fff;
  }
}
.category-article-listing .default-article:last-child {
  border-color: transparent;
}
.category-article-listing .article-title {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  min-height: 48px;
}
/**
 * ----------------------------------------------------------------------------------------
 * Default listing
 * ----------------------------------------------------------------------------------------
 */
.article-listing-wp {
  margin-bottom: 0px;
}
.article-listing-wp .default-article {
  margin-bottom: 10px;
}
.article-listing-wp .article-title {
  min-height: 60px;
}
/**
 * ----------------------------------------------------------------------------------------
 * Main article
 * ----------------------------------------------------------------------------------------
 */
.main-article {
  background-color: #fff;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.main-article a {
  color: #cc0000;
}
.main-article a:hover {
  text-decoration: underline;
}
.main-article p,
.main-article h1,
.main-article h2,
.main-article h3,
.main-article h4,
.main-article h5,
.main-article h6 {
  padding: 10px 40px;
}
@media only screen and (max-width: 529px) {
  .main-article p,
  .main-article h1,
  .main-article h2,
  .main-article h3,
  .main-article h4,
  .main-article h5,
  .main-article h6 {
    padding: 10px 20px;
  }
}
.main-article h1,
.main-article h2 {
  font-size: 30px;
  line-height: 32px;
}
.main-article .intro {
  font-weight: 700;
}
.main-article .intro-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 21px;
  background-color: #111;
  color: #fff;
}
.main-article ul,
.main-article ol {
  margin-left: 20px;
  padding: 10px 40px;
  font-size: 14px;
  line-height: 18px;
  list-style-type: square;
}
.main-article ul li,
.main-article ol li {
  margin-bottom: 7px;
}
.main-article blockquote {
  border-color: #cc0000;
}
.article-image {
  position: relative;
  display: block;
  background-color: #111;
  text-align: center;
}
.article-image .image-caption {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ddd;
  font-size: 13px;
  line-height: 17px;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.6);
}
@media only screen and (max-width: 529px) {
  .article-image .image-caption {
    position: relative;
    font-size: 10px;
    line-height: 14px;
    padding: 5px 10px;
    background-color: #111111;
  }
}
/**
 * ----------------------------------------------------------------------------------------
 * Section header
 * ----------------------------------------------------------------------------------------
 */
.section-header-article .breadcrumb {
  margin-bottom: 20px;
}
.section-header-article h1 {
  margin-bottom: 20px;
}
.section-header-article .article-meta {
  font-size: 12px;
  line-height: 12px;
  color: #555;
  margin-bottom: 20px;
}
@media only screen and (max-width: 529px) {
  .section-header-article .article-meta {
    margin-bottom: 20px;
  }
}
.section-header-article .article-meta span {
  display: inline-block;
  padding-right: 10px;
}
@media only screen and (max-width: 529px) {
  .section-header-article .article-meta span {
    padding-bottom: 10px;
  }
}
.section-header-article .article-meta a {
  font-weight: 700;
  color: #777;
}
.section-header-article .article-meta a:hover {
  color: #cc0000;
}
.section-header.border-top {
  border-top: 5px solid #ddd;
}
.section-header.border-top .section-title-m,
.section-header.border-top .section-title-s {
  position: relative;
  margin-top: -5px;
}
/* Articol Controls
------------------------------------------------------------------*/
.main-article-controls {
  padding: 10px 20px 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e9ed;
}
@media only screen and (max-width: 529px) {
  .main-article-controls {
    text-align: center;
    padding: 10px 0;
  }
}
/* Article media gallery
------------------------------------------------------------------*/
.main-article-gallery {
  padding: 10px 40px;
}
.main-article-gallery .section-title-m {
  padding-left: 0;
}
.main-article-gallery a {
  margin-bottom: 13.333333333333334px;
}
@media only screen and (max-width: 529px) {
  .main-article-gallery {
    padding: 10px;
  }
}
/* Social Share
------------------------------------------------------------------*/
.share-btns {
  margin-bottom: 20px;
}
.share-btns .btn {
  /*padding: 10px 20px 9px 12px;*/

  color: #fff;
}
@media only screen and (max-width: 529px) {
  .share-btns .btn {
    margin-bottom: 10px;
  }
}
.share-btns .facebook-share {
  background-color: #306199;
}
.share-btns .twitter-share {
  background-color: #26c4f1;
}
.share-btns .linkedin-share {
  background-color: #007bb6;
}
.share-btns .google-share {
  background-color: #e93f2e;
}
.share-btns .email-share {
  background-color: #999999;
}
.share-btns .more-share {
  background-color: #ccc;
}
.share-btns .more-share.collapsed i:before {
  content: "\f067";
}
.share-btns .fa {
  font-size: 22px;
  line-height: .9;
  margin-right: 7px;
  vertical-align: middle;
}
.share-btns .collapse {
  margin-right: 10px;
}
.secondary-btns {
  padding-left: 10px;
}
.secondary-btns .fa {
  margin-right: 0px;
}
.bottom-social {
  margin-bottom: 40px;
}
.bottom-social a {
  font-weight: 700;
}
/**
 * ----------------------------------------------------------------------------------------
 * Row article listing
 * ----------------------------------------------------------------------------------------
 */
.row-article-listing-wp article {
  padding: 20px 0;
  border-bottom: 1px solid #e4e9ed;
}
.row-article-listing-wp article:last-child {
  border-color: transparent;
}
.row-article-listing-wp .row-article-listing-wp {
  margin-top: 14px;
  padding: 10px 7px 0 20px;
  background-color: #f8f8f8;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Homepage
 * ----------------------------------------------------------------------------------------
 */
/* Breaking News widget
------------------------------------------------------------------*/
.breaking-news-wp {
  margin-bottom: 20px;
  background-color: #FFC400;
}
.breaking-news-content {
  padding: 20px 40px;
  background-color: #FFC400;
}
.breaking-news-content .tag {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.breaking-news-content h1 {
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #111111;
  color: #111;
  font-size: 30px;
  line-height: 34px;
}
.breaking-news-content p {
  line-height: 20px;
  margin-bottom: 10px;
}
.breaking-news-content .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.breaking-news-media {
  padding: 0;
  text-align: center;
}
/* banner
------------------------------------------------------------------*/
.home-banner {
  position: relative;
  min-height: 510px;
  overflow: hidden;
  background-color: #111;
}
.home-banner.container-fluid {
  padding: 0;
}
.home-banner img {
  z-index: 5;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  /* IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  /* IE 5-7 */

  filter: alpha(opacity=30);
}
.home-banner .cycle-pager {
  z-index: 101;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.home-banner .cycle-pager span {
  width: 16px;
  height: 16px;
  margin: 5px;
  display: inline-block;
  zoom: 1;
  text-indent: -9999px;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
}
.home-banner .cycle-pager .cycle-pager-active {
  background-color: #cc0000;
}
.home-banner #prev,
.home-banner #next {
  z-index: 101;
  position: absolute;
  top: 42%;
  width: 64px;
  height: 64px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("../images/slider.png") no-repeat 0 0;
  opacity: 0.6;
}
.home-banner #prev:hover,
.home-banner #next:hover {
  opacity: 1;
}
.home-banner #prev {
  left: 10px;
}
.home-banner #next {
  right: 10px;
  background-position: -64px 0;
}
#home-slides {
  position: relative;
  width: 100%;
  display: block;
}
#home-slides .slide {
  width: 100%;
}
.banner-content-box {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  text-align: center;
  color: #fff;
  padding: 140px 100px 0;
}
.banner-content-box h1 {
  color: #fff;
  margin: 0 0 40px 0;
}
.banner-content-box h1 a {
  color: #fff;
}
.banner-content-box p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 40px;
}
.lg-slider-thumbs .thumb-wp {
  position: relative;
  display: block;
}
.lg-slider-thumbs .tag-m {
  position: absolute;
}
/* Minibanners
------------------------------------------------------------------*/
.section-title {
  text-align: center;
  margin-bottom: 30px;
}
.minibanners-wp {
  padding: 40px 0;
  background: #f5f7f9 url("../images/minibanner-wp.jpg") no-repeat 0 bottom;
}
.minibanner {
  transition: all .3s;
}
.minibanner h2,
.minibanner h3 {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #2d3e50;
  padding: 12px 17px;
}
.minibanner h2 a,
.minibanner h3 a {
  color: #fff;
}
.minibanner:hover {
  opacity: 0.9;
}
.minibanner img {
  width: 100%;
}
.home-services-wp {
  min-height: 280px;
  color: #fff;
  background-color: #2d3e50;
  padding: 80px 0;
  text-align: center;
}
.home-services-wp h2 {
  color: #fff;
  margin-bottom: 40px;
}
.home-services-wp h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 400;
  padding: 12px 0px;
  text-transform: none;
}
.home-services-wp h3 a {
  color: #fff;
}
.home-clients-wp {
  min-height: 280px;
  padding: 80px 0;
  text-align: center;
}
.home-clients-wp h2 {
  margin-bottom: 40px;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Content pages
 * ----------------------------------------------------------------------------------------
 */
.content-bg {
  background-color: #f5f7f9;
}
#main-content {
  background-color: #fff;
  position: relative;
  padding: 60px;
  margin-top: -60px;
  margin-bottom: 40px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
#main-content h1 {
  margin-bottom: 20px;
}
#main-content h2 {
  margin-bottom: 20px;
  color: #111111;
}
#main-content h3 {
  margin-bottom: 20px;
}
#main-content p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 20px;
  color: #2d3e50;
}
#main-content p:first-child {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}
#main-content ul {
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  list-style-type: circle;
  color: #111111;
}
#main-content ul li {
  margin-bottom: 8px;
}
.subpages-listing h2 {
  min-height: 40px;
  font-size: 16px;
  line-height: 17.6px;
}
.subpages-listing .subpage-image {
  display: block;
  margin-bottom: 10px;
}
.weather-image {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  background-color: #111;
}
.weather-image .weather-title {
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 10%;
  padding-left: 0;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
}
.weather-image img.responsive {
  opacity: .6;
}
.weather-image .weather-clouds {
  position: absolute;
  top: 22%;
  right: 10%;
}
.weather-image .wi {
  z-index: 10;
  font-size: 180px;
  line-height: 180px;
  color: #fff;
}
/**
 * ----------------------------------------------------------------------------------------
 * Echipa
 * ----------------------------------------------------------------------------------------
 */
.thumbs-listing > li {
  margin-bottom: 20px;
}
.thumbs-listing .thumb-image-wp {
  position: relative;
  display: block;
}
.thumbs-listing .thumb-image-wp .caption {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 20px;
  height: auto;
  font-size: 24px;
  line-height: 25px;
  color: #fff;
  font-weight: 400;
  letter-spacing: -1px;
}
.thumbs-listing .thumb-image-wp .caption-after {
  display: block;
  padding: 10px 12px;
  background-color: #111;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.thumbs-listing .thumb-image-wp:hover {
  text-decoration: none;
}
.thumbs-listing .thumb-image-wp:hover img {
  opacity: .9;
}
.thumbs-listing .thumb-image-wp:hover .caption-after {
  text-decoration: none;
  background-color: #cc0000;
}
.thumbs-listing .image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url("../images/image-overlay.png") repeat-x 0 bottom;
}
.thumbs-listing.small-listing .caption {
  padding: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
}
.max-width-320 {
  max-width: 320px;
}
.vertical-tabs li {
  display: block;
  border-bottom: 1px solid #e4e9ed;
}
.vertical-tabs li a,
.vertical-tabs li span {
  display: block;
  padding: 7px 10px;
  border-left: 3px solid #e4e9ed;
}
.vertical-tabs li a:hover,
.vertical-tabs li span:hover {
  border-color: #cc0000;
}
.vertical-tabs li.active {
  background-color: #cc0000;
  color: #fff;
}
.vertical-tabs li.active a,
.vertical-tabs li.active span {
  color: #fff;
  border-color: #cc0000;
}
.search-box {
  position: relative;
}
.search-box  .btn {
  position: absolute;
  top: 4px;
  right: 4px;
}
/**
 * ----------------------------------------------------------------------------------------
 * General responsive
 * ----------------------------------------------------------------------------------------
 */
@media only screen and (max-width: 529px) {
  .article-listing-wp,
  .bottom-social-options,
  .article-comments,
  .section-header-article {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
}
.sidebar-widget {
  margin-bottom: 12px;
}
.widget-title {
  display: block;
  padding-top: 18px;
  margin-bottom: 15px;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -1px;
  font-weight: 400;
}
.widget-title .btn {
  margin-top: 2px;
}
.widget-header {
  padding: 12px 14px;
  color: #fff;
  background-color: #111111;
}
.widget-header .widget-title {
  margin-bottom: 0;
  padding-top: 0;
  color: #fff;
  display: block;
  font-size: 19px;
  line-height: 19px;
  letter-spacing: -1px;
  font-weight: 700;
}
.widget-header .btn {
  margin-top: 0;
  margin-right: -14px;
}
.widget-header .btn:hover {
  color: #fff;
}
/* Social Widget
------------------------------------------------------------------*/
.social-widget {
  background-color: #fff;
  position: relative;
}
.social-title {
  position: relative;
  height: 100%;
  float: left;
  width: 160px;
  height: 90px;
  padding: 21px 4px 0 20px;
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  background-color: #297fb8;
}
.social-title:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: -20px;
  height: 0;
  width: 0;
  line-height: 0;
  border-style: solid;
  border-width: 90px 20px 0 0;
  border-color: #297fb8 transparent transparent transparent;
}
.social-listing {
  float: right;
  width: 108px;
  padding: 14px 10px 0 0;
}
.social-listing span {
  display: none;
}
.social-listing a {
  float: left;
  width: 32px;
  height: 32px;
  display: block;
  font-size: 32px;
}
.social-listing a:hover {
  opacity: .8;
  text-decoration: none;
}
.social-listing .fa-facebook-square {
  color: #3c5a99;
}
.social-listing .fa-twitter-square {
  color: #5b8ec8;
}
.social-listing .fa-youtube-square {
  color: #cd352e;
}
.social-listing .fa-pinterest-square {
  color: #c9232d;
}
.social-listing .fa-rss-square {
  color: #df9034;
}
.social-listing .fa-envelope-square {
  color: #1caae9;
}
/* Martor Ocular
------------------------------------------------------------------*/
.martor-ocular-widget {
  position: relative;
  padding: 20px;
  color: #fff;
  background-color: #f39b13;
}
.martor-ocular-widget i {
  display: block;
  width: 72px;
  height: 70px;
  position: absolute;
  top: 45px;
  right: 10px;
  font-size: 60px;
}
.martor-title {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
/* Live tv
------------------------------------------------------------------*/
.live-widget .widget-header {
  color: #fff;
  background-color: red;
}
.live-widget .widget-header .fa:before {
  margin-right: 5px;
}
.live-widget .widget-header .more {
  float: right;
  display: inline-block;
  margin-top: 7px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
}
.live-widget .widget-header .more:hover {
  color: #111111;
}
.live-widget .widget-links {
  background-color: #111111;
  color: #fff;
}
.live-widget .widget-links li {
  float: left;
  font-size: 14px;
  line-height: 14px;
  width: 25%;
  text-align: center;
}
.live-widget .widget-links a {
  padding: 10px 0px;
  display: block;
  color: #fff;
}
.live-widget .widget-links a:hover {
  background-color: red;
}
/* Top articole tabs
------------------------------------------------------------------*/
.tabs-wp {
  background-color: #fff;
}
.nav-tabs-default li {
  float: left;
  width: auto;
  padding: 12px 18px 14px;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #111111;
  border-top: 4px solid transparent;
  cursor: pointer;
}
.nav-tabs-default li.active {
  border-color: red;
  background-color: #fff;
  color: #111111;
  font-weight: 700;
}
.nav-tabs-default li.active a {
  color: #111111;
}
.nav-tabs-default a {
  color: #fff;
  border: none !important;
  margin: 0 !important;
  line-height: 14px !important;
}
.nav-tabs-sidebar li {
  width: 33.33%;
  padding: 12px 0 14px;
}
.latest-listing {
  padding: 10px 0;
}
.latest-listing li {
  border-bottom: 1px solid #f1f1f1;
}
.latest-listing li:last-child {
  border-color: transparent;
}
.latest-listing a {
  display: block;
  padding: 12px 14px;
  font-size: 13px;
  line-height: 15px;
  color: #111111;
  border-left: 4px solid transparent;
}
.latest-listing a:hover {
  color: #cc0000;
  border-color: red;
}
/* article-listing-widget
------------------------------------------------------------------*/
.sidebar-article-listing-wp {
  background-color: #fff;
}
.sidebar-article-listing-wp article {
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 16px;
}
.sidebar-article-listing-wp .media {
  margin-top: 0;
}
.sidebar-article-listing-wp .article-title {
  font-size: 13px;
  line-height: 16px;
  display: block;
  color: #111111;
  margin-bottom: 12px;
}
.sidebar-article-listing-wp .author-s {
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.sidebar-article-listing-wp .time-s {
  font-size: 11px;
  line-height: 11px;
  color: #999;
  display: block;
  margin-bottom: 5px;
}
/* Shows
------------------------------------------------------------------*/
.sidebar-shows-listing-wp {
  background-color: #fff;
  padding: 5px 0;
}
.sidebar-shows-listing-wp article {
  padding: 15px;
  border-bottom: 1px solid #f1f1f1;
  line-height: 16px;
}
.sidebar-shows-listing-wp article:last-child {
  border-color: transparent;
}
.sidebar-shows-listing-wp .show-img-wp {
  width: 80px;
  padding-right: 10px;
}
.sidebar-shows-listing-wp .show-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  color: #111111;
}
.sidebar-shows-listing-wp .show-title:hover {
  color: #cc0000;
}
.sidebar-shows-listing-wp .show-time {
  padding-left: 7px;
  font-size: 14px;
  display: block;
}
.show-meta {
  font-size: 14px;
  font-size: 11px;
}
/* Editoriale
------------------------------------------------------------------*/
.widget-title .pandoras-logo {
  margin-bottom: -8px;
}
.pandoras-logo {
  width: 127px;
  height: 28px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/pandoras.png") no-repeat 0 0;
}
.widget-title .voxpublica-logo {
  margin-bottom: -9px;
}
.voxpublica-logo {
  width: 134px;
  height: 35px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/voxpublica.png") no-repeat 0 0;
}

.widget-title .jurnalistii-logo {
  margin-bottom: -7px;
}
.jurnalistii-logo {
  width: 173px;
  height: 48px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/jurnalistii.png") no-repeat 0 0;
}


.widget-title .showbizreport-logo {
  margin-bottom: -4px;
}
.showbizreport-logo {
  width: 223px;
  height: 31px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/showbizreport.png") no-repeat 0 0;
}



.widget-title .eqynews-logo {
  margin-bottom: -4px;
}
.eqynews-logo {
  width: 223px;
  height: 41px;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/eqy.png") no-repeat 0 0;
}

/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Afiliate footer
 * ----------------------------------------------------------------------------------------
 */
.afiliate-wp {
  background-color: #1c1c1c;
  color: #fff;
}
.afiliate-wp article {
  line-height: 14px;
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (min-width: 990px) and (max-width: 3000px) {
  .afiliate-wp article {
    padding-bottom: 20px;
    border-bottom: 1px dotted #3e3e3e;
  }
}
.afiliate-wp a {
  color: #fff;
}
.afiliate-wp .article-title {
  font-size: 12px;
  line-height: 14px;
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  max-height: 68px;
  overflow: hidden;
}
.afiliate-wp .article-title:hover {
  color: red;
}
.afiliate-wp .article-meta {
  font-size: 12px;
  color: #999;
}
.afiliate-wp .aff-column:last-child {
  border: none;
}
.aff-article {
  padding: 0;
}
.aff-column {
  transition: all .2s;
  padding: 40px 20px 0;
  padding-bottom: 20px;
}
.aff-column:hover {
  background-color: #111111;
}
@media only screen and (min-width: 990px) and (max-width: 3000px) {
  .aff-column {
    border-right: 1px dotted #3e3e3e;
  }
}
.aff-column article:last-child {
  border-bottom: none;
}
.aff-title {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 20px;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Home banner slider
 * ----------------------------------------------------------------------------------------
 */
.lg-slider-wp {
  background-color: #f1f1f1;
  position: relative;
  padding-bottom: 30px;
}
.lg-slider-slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #cc0000;
}
.lg-slide-img-wp {
  display: block;
}
.lg-slide-content {
  color: #fff;
  background-color: #cc0000;
}
.lg-slide-content a {
  color: #fff;
}
@media only screen and (min-width: 767px) and (max-width: 3000px) {
  .lg-slide-content {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
.lg-slider-wp .tag-l {
  position: absolute;
  top: -50px;
  left: 0;
}
.lg-slide-title {
  float: left;
  padding: 25px 25px 25px 35px;
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  text-transform: none;
}
.breaking-news-title a {
  color: #FFC400;
}
.lg-slider-thumbs {
  padding: 10px 6px;
  background-color: #333;
}
.lg-slider-thumbs li {
  padding: 0 6px;
}
.lg-slider-thumbs li.cycle-pager-active img {
  border-color: red;
}
.lg-slider-thumbs img {
  border-top: 5px solid transparent;
  cursor: pointer;
}
.lg-slider-thumbs .thumb-title {
  font-size: 12px;
  line-height: 14px;
  color: #f8f8f8;
}
.external {
  position: static;
}
#cycle-prev,
#cycle-next {
  z-index: 100;
  position: absolute;
  top: 25%;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  opacity: .5;
}
#cycle-prev:hover,
#cycle-next:hover {
  opacity: 1;
}
@media only screen and (min-width: 728px) and (max-width: 1100px) {
  #cycle-prev,
  #cycle-next {
    top: 35%;
  }
}
@media only screen and (min-width: 990px) and (max-width: 3000px) {
  #cycle-prev,
  #cycle-next {
    top: 35%;
  }
}
#cycle-prev {
  left: 3%;
}
#cycle-next {
  right: 3%;
}
/* Cover ads
------------------------------------------------------------------*/
#cover-add {
  position: relative;
  height: 250px;
  text-align: center;
}
#cover-add div {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -640px;
  min-height: 500px;
  height: auto;
  width: 1280px;
  background-color: green;
  text-align: center;
}
#top-content-add {
  padding: 20px 0;
  text-align: center;
}
.content-add-wp {
  padding: 12px 0 0;
  text-align: center;
}
.article-ad {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* Breackpoints
------------------------------------------------------------------*/
/*@desktop-xl:  ~"only screen and (min-width: 1129px)";*//**
 * ----------------------------------------------------------------------------------------
 * Breadcrumb
 * ----------------------------------------------------------------------------------------
 */
.breadcrumb {
  padding: 0;
}
.site-content .breadcrumb {
  padding-top: 30px;
}
.breadcrumb {
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #999;
}
.breadcrumb .tag-m {
  margin-right: 7px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  display: inline-block;
  padding: 0 5px;
  color: #999;
}
.breadcrumb a:hover {
  color: #cc0000;
}
/* Comments module
------------------------------------------------------------------*/
.article-comments {
  margin-bottom: 0px;
}
.comment {
  margin-bottom: 10px;
}
.commentFrameLight {
  background-color: #fff;
  padding: 30px;
}
@media only screen and (max-width: 529px) {
  .commentFrameLight {
    padding: 20px;
  }
}
.commentImage {
  display: table-cell;
  width: 80px;
  vertical-align: top;
  padding-right: 30px;
}
@media only screen and (max-width: 529px) {
  .commentImage {
    width: 60px;
    padding-right: 10px;
  }
}
.commentContent {
  display: table-cell;
  vertical-align: top;
}
.commentHeader {
  margin-bottom: 10px;
}
.commentName {
  float: left;
  font-weight: 700;
}
@media only screen and (max-width: 529px) {
  .commentName {
    float: none;
  }
}
.commentDate {
  float: right;
  font-size: 12px;
  color: #777;
}
@media only screen and (max-width: 529px) {
  .commentDate {
    float: none;
  }
}
.commentBody {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 19px;
}
.reply {
  font-size: 12px;
  font-weight: 700;
}
.commentControls {
  padding-top: 10px;
}
.commentControls .btn-s {
  display: inline-block;
  position: relative;
  width: 29px;
  height: 29px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: #cc0000;
}
.commentControls .btn-s:first-child {
  background-color: #2ca526;
}
.commentControls .fa {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 10px;
}
.commentResponse {
  position: relative;
  padding-left: 30px;
}
.commentResponse .comment {
  margin-bottom: 0;
}
.commentResponse .commentFrameLight {
  background-color: #fafafa;
  border-top: 1px solid #f1f1f1;
}
.commentResponse:before {
  position: absolute;
  top: 7px;
  left: 15px;
  content: " ";
  font-size: 0;
  line-height: 0;
  display: block;
  width: 0;
  height: 100%;
  border-right: 1px dotted #999;
}
.btn-show-more {
  display: block;
  padding: 10px 10px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  font-weight: 700;
}
/* Comment form
------------------------------------------------------------------*/
.comment-form-wp {
  margin-bottom: 0px;
}
.comment-form-wp .note {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: #777;
}
.comment-form {
  margin-bottom: 20px;
  display: block;
  padding: 30px;
  background-color: #111;
}
.comment-form label {
  color: #fff;
}
/* Cookie bar
------------------------------------------------------------------*/
.cookie-info {
  display: none;
  background-color: #fff;
  padding: 7px 0;
  font-size: 13px;
}
.alfabeth-listing {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 14px;
}
.alfabeth-listing .tag_page {
  display: inline-block;
  padding: 10px;
}
.alfabeth-listing .tag_page:hover {
  background-color: #cc0000;
  color: #fff;
}
.alfabeth-listing .tag_page.active {
  position: relative;
  background-color: #cc0000;
  color: #fff;
  font-weight: 700;
}
.alfabeth-listing .tag_page.active:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #cc0000;
  border-width: 10px;
  margin-left: -10px;
}
.alfabeth-listing li {
  float: left;
  margin-right: 1px;
  cursor: pointer;
}
#tag_container {
  padding: 10px 0;
  font-size: 13px;
  line-height: 13px;
}
#tag_container span {
  display: block;
  padding: 10px;
  cursor: pointer;
  font-weight: 700;
}
#tag_container span:hover,
#tag_container span.active {
  background-color: #cc0000;
  color: #fff;
}
.videoTv div {
  padding: 0;
}
.videoTv .player-wp {
  background-color: #111;
  color: #fff;
}
.videoTv .shows-list {
  background-color: #111;
  color: #fff;
}
.videoTv .shows-list ul {
  height: 245px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.videoTv .shows-list li {
  margin: 0;
  border-bottom: 1px solid #fff;
}
.videoTv .shows-list li a {
  display: block;
  padding: 12px 14px;
  color: #fff;
}
.videoTv .shows-list li a:hover {
  background-color: #cc0000;
  color: #fff;
  text-decoration: none;
}
.video-caption {
  background-color: #111;
  color: #fff;
  padding: 7px;
}
.video-caption input {
  color: #777;
}

/* Shop
------------------------------------------------------------------*/

.shop-black-friday{
  border-radius: 10px; 
  border: solid 2px #fff; 
  padding: 10px; 
  width: 250px; 
  height: 150px; 
  display:inline-block; 
  margin:10px; 
  text-align: center; 
  vertical-align: top;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shop-black-friday:hover{
  background-color: #000;
}

.category-black-friday{
  width:100%;
  background-color:#f00;
  color:#fff;
  padding:30px;
  border-radius:5px;
  font-weight:700; 
  font-size:20px; 
  margin-bottom: 10px;
}

.a-black-friday{
  text-decoration: none;
  color:#333;
  font-weight: 800;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.a-black-friday:hover{
  color:#ddd;
  text-decoration: none;
}
