/* Eliz's tweaking for within lesson content */

/* "skipToContent" stuff makes screen-reader link work */

	.skipToContent {
		position: absolute;
		top: -1000px;
		left: -1000px;
		height: 1px;
		width: 1px;
		text-align: left;
		overflow: hidden;
	}
    
	a.skipToContent:active, 
	a.skipToContent:focus, 
	a.skipToContent:hover {
		left: 0; 
		top: 0;
		width: auto; 
		height: auto; 
		overflow: visible; 
	}


/* styling for screen-readers re: search box */

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* defining display of leaderboard ads */

@media screen and (min-width: 808px) {
    .display_wide_leaderboards {
        display:block !important;
    }
		
		.display_short_leaderboards,
		.display_tiny_leaderboards {
				display:none !important;
		}
}
 
@media screen and (min-width: 548px) and (max-width: 807px) {
		.display_short_leaderboards {
				display:block !important;
		}
		
		.display_wide_leaderboards,
		.display_tiny_leaderboards {
				display:none !important;
		}
}

@media screen and (max-width: 547px) {
    .display_tiny_leaderboards {
        display:block !important;
    }
 
    .display_short_leaderboards,
		.display_wide_leaderboards {
        display:none !important;
    }
}

/* displaying, hiding extra sidebars ads */

@media screen and (max-width: 1024px) {
		.sidebar_amazon,
		.sidebar_chegg {
				display:none !important;
		}
}

/* fixing mobile in-lesson WyzAnt widget's box */

@media screen and (max-width: 600px) {
		#WyzAntWidget,
		#contract_ad {
				max-width: 180px;
				margin-right: 15px;
		}
}

/* indenting YT sub-menu items */

.YT_mobile_submenu  li {
		padding-left: 15px;
}


/* defining "text" formatting */

.text {
	font-family: Arial, Helvetica, sans-serif;
}

/* defining "math" formatting to match convention */

.math {
	font-family: "Times New Roman", Times, serif;
	font-size: 110%;
}

/* defining math "question" and "answer" fonts */

.question {
	font-weight: bold;
	color: green;
}

.answer {
	font-weight: bold;
	color: purple;
}

/* defining "in-lesson ad boxes" header formatting */

.in-lesson-resp-ad-header {
	color: #898989;
	text-align: center;
	font-style: italic;
	font-size: 0.9em;
}

/* using old-style hyperlinks inside lessons */
.content a, .content a:link {
		color: blue;
		text-decoration: underline;
	}

.content a:visited {
		color: purple;
		text-decoration: underline;
	}
	
.content a:hover, .content a:active {
		color: red;
		text-decoration: underline;
	}

/* MathHelp.com Custom CSS */
#mh_lesson_display {
  text-align: center;
}
#mh_notice {
  text-align:center;
  margin-top:10px;
  width:100%;
}
#mh_notice p {
  padding:6px;
  font-style:italic;
}
#mh_notice a:link,
#mh_notice a:visited {
  color:#404040 !important;
  text-decoration:none !important;
}


/* to convert page-number links into buttons */
/* (copied from w3schools.com/lib/w3css) */

button{font:inherit;margin:0}optgroup{font-weight:bold}
button{overflow:visible}
button{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}

.w3-container:after{content:"";display:table;clear:both}
.w3-container{padding:0.01em 16px}
.w3-btn,.w3-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover,.w3-btn-block:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled{cursor:not-allowed;opacity:0.3}
.w3-btn.w3-disabled *,.w3-btn-block.w3-disabled{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn-block.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-btn-group .w3-btn{float:left}.w3-btn-block{width:100%}
.w3-btn-bar .w3-btn{box-shadow:none;background-color:inherit;color:inherit;float:left}.w3-btn-bar .w3-btn:hover{background-color:#ccc}

/* end of Eliz's tweaking, so far */