
/*
Theme Name:  OptikThemes - Parent Theme
Theme URI: http://www.cyberoptik.net
Description: Responsive Wordpress parent theme created by CyberOptik
Version: 3.0.3
Author: CyberOptik
Author URI: http://www.cyberoptik.net
*/



/*
 * STNDRD THEME
 * CUSTOMIZABLE CSS
 */



/* -----------------------------------------------------------------------------
 * TABLE OF CONTENTS:
 * -----------------------------------------------------------------------------
 *
 * 1 CSS IMPORTS
 *   1.1 FRAMEWORK
 *   1.2 MODULES
 *   1.3 STYLES
 *   1.4 FONTS
 *
 * 2 STRUCTURAL ELEMENTS
 *   2.1 UNIVERSAL STYLES
 *   2.2 UNIVERSAL THEME MODULES
 *   2.3 BORDER STYLES
 *
 * 3 CONTENT STYLES
 *   3.1 TEXT LINKS
 *   3.2 HEADINGS
 *   3.3 QUOTES
 *   3.4 DIVIDERS
 *   3.5 MEDIA MODULES & STYLES
 *   3.6 BUTTONS
 *   3.7 ICONS
 *   3.8 BOX STYLES
 *
 * 4 HEADER STYLES
 *   4.1 SCROLL BAR
 *   4.2 TOP BAR
 *   4.3 HEADER 
 *   4.4 NAV
 *
 * 5 BODY STYLES
 *   5.1 BANNER
 *   5.2 BREADCRUMBS
 *   5.3 PAGE TITLE
 *   5.4 BODY
 *   5.5 CONTENT
 *   5.6 SIDEBAR
 *
 * 6 TEMPLATE STYLES
 *   6.1 SIDEBAR LEFT
 *   6.2 SIDEBAR BOTH
 *   6.3 SECTIONS
 *   6.4 HOME
 *
 * 7 FOOTER STYLES
 *   7.1 FOOTER
 *   7.2 FOOTER NAV
 *   7.3 BOTTOM BAR
 *
 * 8 CUSTOM THEME STYLES
 *
 * ---------------------------------------------------------------------------*/





/******************************************************************************
 * * *  1 CSS IMPORTS  * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 ******************************************************************************/



/***  1.1 FRAMEWORK  ***/

@import url("stndrd/framework/css/stndrd.min.css");



/***  1.2 MODULES  ***/

/* Icons */
@import url("stndrd/icons/css/icons.min.css");

/* Main Menu */
@import url("stndrd/main-menu/main-menu.min.css");



/***  1.3 STYLES  ***/

/* Stndrd Styles */
@import url("stndrd/styles/stndrd-styles.min.css");


/***  1.4 FONTS  ***/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700,800");





/******************************************************************************
 * * *  2 STRUCTURAL ELEMENTS  * * * * * * * * * * * * * * * * * * * * * * * * 
 ******************************************************************************/


/***  2.1 UNIVERSAL STYLES  ***/

html {font-size: 13px;}

body {
  line-height: 1.6em;
  font-family: 'Open Sans', san-serif;
  color: #404040;
  background: white;
}

.theme-color {color: #8b2e8c;}

.theme-color-2 {color: #24007b;}



/***  2.2 UNIVERSAL THEME STYLES  ***/

.section-container {
  max-width: 1300px; /* Set the maximum width of the website */
  padding: 0 50px;
}

.section-centered {width: 80%;}

.pad-row > [class*="col-"] {padding: 1em 2.5%;}

.col-custom {
  display: block;
  width: 97.5%;
}

.col-fixed {width: 150px;}

@media screen and (max-width: 900px) {

.section-container {padding: 0 40px;}

.col-custom {width: 96%;}

}

@media screen and (max-width: 600px) {

.section-container {padding: 0 25px;}

.section-centered {width: 100%;}

}

@media screen and (max-width: 420px) {

.section-container {padding: 0 15px;}

}


/***  2.3 BORDER STYLES  ***/




/******************************************************************************
 * * *  3 CONTENT STYLES  * * * * * * * * * * * * * * * * * * * * * * * * * * *
 ******************************************************************************/



/***  3.1 TEXT LINKS  ***/

a {
  color: #5320d5;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #ae3eaf;
  text-decoration: underline;
}

.box-link {display: block;}

a.box-link, 
a.box-link:hover {text-decoration: none;}

[class*="col-"] .box-link + p {display: none;}



/***  3.2 HEADINGS  ***/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-weight: 600;
  color: black;
}

h1 {
  font-size: 2.5em;
	font-style: italic;
  color: #6b1e6c;
}

h2 {font-size: 1.6em;}

h3 {font-size: 1.25em;}

h4 {font-size: 1em;}

h5 {font-size: 0.9em;}

h6 {font-size: 0.8em;}

.content .alignleft + h1, 
.content .alignleft + h2, 
.content .alignleft + h3, 
.content .alignleft + h4, 
.content .alignleft + h5, 
.content .alignleft + h6, 
.content .alignright + h1, 
.content .alignright + h2, 
.content .alignright + h3, 
.content .alignright + h4, 
.content .alignright + h5, 
.content .alignright + h6 {margin-top: 0.6em;}

.section-title, 
.section-title-2 {
  padding: 7px 10px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #6b1e6c;
  color: white;
}

.section-title-2 {background: #24007b;}



/***  3.3 QUOTES  ***/

blockquote {
  padding: 5px 0 5px 15px;
  border-left: 5px solid black;
  margin-left: 2em;
  font-size: 1.4em;
  font-style: italic;
  font-weight: normal;
  font-weight: 300;
}



/***  3.4 DIVIDERS  ***/

hr {
    display: block;
	  width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px dotted gray;
    margin: 1em auto;
    padding: 0;
	clear: both;
}



/***  3.5 MEDIA MODULES & STYLES  ***/

/*  Images  */

.content a img {opacity: 0.9;}

.content a:hover img {opacity: 1;}

.content img.alignleft, 
.content img.alignright {max-width: 50%;}

@media screen and (max-width: 420px) {

.content img.alignleft, 
.content img.alignright {max-width: 100%;}

}

/*  Video  */

.video {max-width: 700px;} /* Sets the max width for HTML5, Youtube, and Vimeo Videos */

.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
  background-color: #418cbe; /* Sets HTML5 Video player theme color */
}



/***  3.6 BUTTONS  ***/

.button {
  padding: 0.4em 1.2em;
  border: 2px solid #23007b;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #23007b;
  font-weight: 600;
  color: white;
  webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button-empty, 
.button-empty .icon {
  background: none;
  color: #23007b;
}

.button:hover, 
.button-empty:hover {
  border-color: #6d1f6e;
  background: #6d1f6e;
  color: white;
}

.button .icon, 
.button:hover .icon
.button-empty:hover .icon {color: white;}



/***  3.7 ICONS  ***/

.icon {color: #8b2e8c;}

a .icon {
  color: #ae3eaf;
  webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

a:hover .icon {color: #191919;}

/*  Icon Backgrounds  */

.icon-bg {
  color: white;
  background-color: #8b2e8c;
}

a .icon-bg {
  color: #eee;
  background-color: #ae3eaf;
}

a:hover .icon-bg {
  color: white;
  background-color: #191919;
}

/*  Icon Borders  */

.icon-br {border-color: #8b2e8c;}

a .icon-br {border-color: #ae3eaf;}

a:hover .icon-br {border-color: #191919;}

/*  Icon Lists  */

[class*="list-icon"] li:before, 
li[class*="list-icon"]:before {color: #2ccbf9;}



/***  3.8 BOX STYLES  ***/


/* Feature Box */

.feature {
  padding: 40px 20px !important;
  background: #eee;
  text-align: center;
}

.feature h1, 
.feature h2, 
.feature h3, 
.feature h4, 
.feature h5, 
.feature h6 {margin: 0.4em 0;} 

.feature h1:first-child, 
.feature h2:first-child, 
.feature h3:first-child, 
.feature h4:first-child, 
.feature h5:first-child, 
.feature h6:first-child {margin-top: 0;} 

.feature h1:last-child, 
.feature h2:last-child, 
.feature h3:last-child, 
.feature h4:last-child, 
.feature h5:last-child, 
.feature h6:last-child {margin-bottom: 0;} 


/*  Icon Box  */

[class*="col-"][class*="icon-box"], 
[class*="icon-box"] [class*="col-"] {position: relative;}

[class*="icon-box"] h1, 
[class*="icon-box"] h2, 
[class*="icon-box"] h3, 
[class*="icon-box"] h4, 
[class*="icon-box"] h5, 
[class*="icon-box"] h6 {margin: 0;}

[class*="col-"].icon-box-left, 
.icon-box-left [class*="col-"] {
  padding-left: 3.5em;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.icon-box-left .icon {
  position: absolute;
  top: 0;
  left: 0;
}

[class*="col-"].icon-box-top, 
.icon-box-top [class*="col-"] {
  padding: 20px;
  border: 1px solid #d2d2d2;
  margin-top: 2.25em !important;
  margin-bottom: 1em !important;
  text-align: center;
}

.icon-box-top .icon, 
.icon-box-top a .icon {
  margin-top: -2em;
  background: white !important;
}

@media screen and (max-width: 900px) {

[class*="col-"].icon-box-top, 
.icon-box-top [class*="col-"] {margin-bottom: 3.5em !important;}

[class*="col-"].icon-box-top:last-child, 
.icon-box-top [class*="col-"]:last-child, 
[class*="tablet-col-"].icon-box-top, 
.icon-box-top [class*="tablet-col-"] {margin-bottom: 0.5em !important;}

}

@media screen and (max-width: 600px) {

[class*="col-"].icon-box-top, 
.icon-box-top [class*="col-"], 
[class*="tablet-col-"].icon-box-top, 
.icon-box-top [class*="tablet-col-"] {margin-bottom: 3.5em !important;}

[class*="col-"].icon-box-top:last-child, 
.icon-box-top [class*="col-"]:last-child, 
[class*="tablet-col-"].icon-box-top:last-child, 
.icon-box-top [class*="tablet-col-"]:last-child,
[class*="mobile-col-"].icon-box-top, 
.icon-box-top [class*="mobile-col-"] {margin-bottom: 0.5em !important;}

}

@media screen and (max-width: 420px) {

[class*="col-"].icon-box-top, 
.icon-box-top [class*="col-"], 
[class*="tablet-col-"].icon-box-top, 
.icon-box-top [class*="tablet-col-"], 
[class*="mobile-col-"].icon-box-top, 
.icon-box-top [class*="mobile-col-"] {margin-bottom: 3.5em !important;}

[class*="col-"].icon-box-top:last-child, 
.icon-box-top [class*="col-"]:last-child, 
[class*="tablet-col-"].icon-box-top:last-child, 
.icon-box-top [class*="tablet-col-"]:last-child, 
[class*="mobile-col-"].icon-box-top:last-child, 
.icon-box-top [class*="mobile-col-"]:last-child {margin-bottom: 0.5em !important;}

}


/* Call to Action Box */

.cta {
  padding: 25px;
  border: 1px solid #d2d2d2;
  background-color: rgba(244,244,244,0.86);
}

.cta p {margin: 0.5em auto;}

.cta p:first-child {margin-top: 0;}

.cta p:last-child {margin-bottom: 0;}

.cta h1, 
.cta h2, 
.cta h3 {margin: 0;}

@media screen and (min-width: 901px) {
	
.cta [class*="col-"] {vertical-align: middle;}

.cta [class*="col-"]:last-child {text-align: right;}

}



/******************************************************************************
 * * *  4 HEADER STYLES  * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 ******************************************************************************/



/***  4.1 SCROLL BAR  ***/

.scroll-bar {
  background: #7d287e;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
}

.scroll-logo-wrapper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.scroll-logo img {max-height: 60px;}



/***  4.2 TOP BAR  ***/

.top-bar {
  background: #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: inset 0 -30px 60px -30px rgba(0,0,0,0.25);
}

.top-bar h1, 
.top-bar h2, 
.top-bar h3, 
.top-bar h4, 
.top-bar h5, 
.top-bar h6 {margin: 0;}

.top-bar p {margin: 0;}

.top-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.top-bar li a {padding: 0 10px;}

.top-bar li:first-child a {padding-left: 0;}

.top-bar li:last-child a {padding-right: 0;}

.top-bar li ul {display: none;}



/***  4.3 HEADER  ***/

.header [class*="col-"] {
  vertical-align: middle;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.logo img {max-height: 48px;}

.header-buttons {margin-top: -1.8em;}

.header-buttons a .icon {
  font-size: 2em;
  color: #6b1e6c;
}

.header-buttons a:hover .icon {color: #23007b;}

.header-buttons a.active .icon {
  background: #23007b;
  color: white;
}

@media screen and (max-width: 1024px) {

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header [class*="col-"] {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.header .header-right {text-align: center;}

}

@media screen and (max-width: 900px) {

.header .logo-wrapper, 
.header .header-right {
  display: inline-block;
  width: 46%;
}

}

@media screen and (max-width: 600px) {

.header .logo-wrapper, 
.header .header-right {
  display: block;
  width: 96%;
}

.header .logo-wrapper {text-align: left;}

.header [class*="col-"]:last-child img {max-height: 46px;}

}



/***  4.4 NAV  ***/

.nav {
  background: #7d287e;
  text-align: left;
}

.nav .grid [class*="col-"] {vertical-align: middle;}

.search-bar {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1024px) {

.nav .grid, 
.nav [class*="col-"],
.search-bar {
  display: block;
  width: 100%;
  margin-left: 0;
}
}


/***  MAIN MENU  ***/

@media screen and (min-width: 1025px) {

.main-menu > ul > li > a {
  padding: 15px 15px;
  text-transform: uppercase;
  font-weight: normal;
  color: #efe5ef;
}

.main-menu > ul > li.menu-item-has-children > a {padding-right: 25px;}

.main-menu > ul > li.menu-item-has-children > a:after {
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  margin-top: -0.5em;
  margin-left: -20px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f107";
}

.scroll-bar .main-menu > ul > li.menu-item-has-children > a {padding-right: 15px;}

.scroll-bar .main-menu > ul > li.menu-item-has-children > a:after {display: none;}

.main-menu > ul > li.current-menu-item > a, 
.main-menu > ul > li.current-page-parent > a, 
.main-menu > ul > li.current-page-ancestor > a {
  background: #8b2e8c;
  color: white;
}

.main-menu > ul > li:hover > a {
  background: #6b206c;
  text-decoration: none;
  color: white;
}


/* Dropdown Menus */

.main-menu li > ul {background: #eee;}

.main-menu li ul a {
  padding: 10px 15px;
  color: #333;
}

.main-menu li ul li.current-page-ancestor > a, 
.main-menu li ul li.current-page-parent > a, 
.main-menu li ul li.current-menu-item > a {color: #5320d5;}

.main-menu li ul li > a:hover {
  text-decoration: none;
  color: #8b2e8c;
}

/* Nested Dropdowns */

.main-menu li ul li ul {
  top: 0;
  left: 100%;
}

.main-menu > ul > li:nth-last-child(2) ul li ul,
.main-menu > ul > li:last-child ul li ul, 
.main-menu > ul > li.reverse ul li ul {
  left: auto;
  right: 100%;
}

.main-menu-left > ul > li:nth-last-child(2) ul li ul,
.main-menu-left > ul > li:last-child ul li ul {
  left: 100%;
  right: auto;
}

/* Mobile Menu Elements */

.mobile-overlay {display: none;}

.menu-button {display: none;}

}



/***  MOBILE MENU  ***/

@media screen and (max-width: 1024px) {

/***  UNIVERSAL STYLES  ***/

.mobile-menu {background: #f6ebd7;}

.mobile-menu::-webkit-scrollbar {
  width: 10px;
  background: #f6ebd7;
}

.mobile-menu::-webkit-scrollbar-thumb {
  border: 0;
  background: #e7ddcb;
}

.mobile-menu h1, 
.mobile-menu h2, 
.mobile-menu h3, 
.mobile-menu h4 {margin-left: 20px;}

.mobile-menu > ul {margin-bottom: 2em;}

.mobile-menu li.menu-item-has-children:after {
  color: black;
  content: "\f107";
}

.mobile-menu li.menu-item-has-children.active:after {content: "\f106";}

.mobile-menu li a {
  display: block;
  padding: 10px 20px;
  color: #5320d5;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.mobile-menu li a .icon {
  color: #222;
  margin-right: 0.5em;
  font-size: 1.2em;
}

.mobile-menu li a:hover .icon {color: white;}

.mobile-menu li.current-menu-item > a {
  font-weight: bold;
  color: #5320d5;
}

.mobile-menu li a:hover {
  background: #903191;
  text-decoration: none;
  color: white;
}

/* Body Styles */

.mobile-menu-left .site-container, 
.mobile-menu-right .site-container {
  margin-left: 0;
  margin-right: 0;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* Subpage Menu */

.mobile-menu li > ul, 
.mobile-menu li > ul {background: rgba(0,0,0,0.07);}

/* Mobile Overlay */

.mobile-overlay {
  display: none;
  position: fixed;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
  display: none;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* Active Mobile Overlay */

body.mobile-menu-left .mobile-overlay.active, 
body.mobile-menu-right .mobile-overlay.active {
  display: block;
  visibility: visible;
  opacity: 1;
}



/***  MOBILE MENU ELMENTS  ***/

.menu-button.active {
  position: relative;
  z-index: 301;
}

.main-menu-left, 
.main-menu-right {display: none;}

}





/******************************************************************************
 * * *  5 BODY STYLES  * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 ******************************************************************************/



/***  5.1 BANNER  ***/

.banner {
  background: #222 center no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 2px 0 rgba(0,0,0,0.5), 0 0 14px rgba(0,0,0,0.3);
}

.banner-inner {
  padding-top: 25px;
  padding-bottom: 25px;
}

.banner .col-custom {vertical-align: middle;}

.banner h1, 
.banner h2, 
.banner h3, 
.banner h4, 
.banner h5, 
.banner h6 {
  margin: 0;
  text-shadow: 2px 3px 3px rgba(0,0,0,0.4);
  color: white;
}

.banner p, 
.banner ul, 
.banner .menu {
  margin: 0;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
  font-size: 1.1em;
  color: white;
  list-style: none;
}

.banner li {display: inline-block;}

.banner ul li a, 
.banner .menu li a {padding: 0 10px;}

.banner ul ul {display: none;}

.banner li a .icon, 
.banner .menu li a .icon {margin-right: 4px;}

.banner li a .social-icon, 
.banner .menu li a .social-icon {margin-right: 0;}



/***  5.2 BREADCRUMBS  ***/

.breadcrumbs {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background: #ddd;
}

.breadcrumbs span {}

.breadcrumbs ul {
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  margin: 0;
}

.breadcrumbs li a {padding: 0 10px;}

.breadcrumbs li:last-child {padding: 0 10px;}

.breadcrumbs li:after {content: '/';}

.breadcrumbs li:last-child:after {content: '';}

@media screen and (max-width: 600px) {

.breadcrumbs ul {display: block;}

}



/***  5.3 PAGE TITLE  ***/

.page-title {
  padding-top: 1em;
  padding-bottom: 1em;
  background: #eaeaea;
}

.page-title .col-custom {vertical-align: middle;}

.page-title h1, 
.page-title h2, 
.page-title h3, 
.page-title h4, 
.page-title h5, 
.page-title h6 {margin: 0;}

.page-title p, 
.page-title ul {
  margin: 0;
  font-size: 1.1em;
  list-style: none;
}

.page-title li {display: inline-block;}

.page-title ul li a {padding: 0 10px;}

.page-title ul ul {display: none;}

.page-title li a .icon {margin-right: 4px;}

.page-title li a .social-icon {margin-right: 0;}



/***  5.4 BODY  ***/

.main {
  padding-top: 30px;
  padding-bottom: 50px;
}



/***  5.5 CONTENT  ***/

.content {
  display: inline-block;
  width: calc(100% - 440px);
  padding-left: 25px;
  padding-right: 25px;
}

.content .section {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.content .section:first-child {margin-top: 0;}

.content .section:last-child {margin-bottom: 0;}

.content .row, 
.content .grid, 
.content .pad-row, 
.content .pad-grid, 
.content .fixed-row, 
.content .fixed-grid, 
.content .table-row, 
.content .table-grid {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content .row:first-child, 
.content .grid:first-child, 
.content .pad-row:first-child, 
.content .pad-grid:first-child, 
.content .fixed-row:first-child, 
.content .fixed-grid:first-child, 
.content .table-row:first-child, 
.content .table-grid:first-child {margin-top: -1em;}

.content .row:last-child, 
.content .grid:last-child, 
.content .pad-row:last-child, 
.content .pad-grid:last-child, 
.content .fixed-row:last-child, 
.content .fixed-grid:last-child, 
.content .table-row:last-child, 
.content .table-grid:last-child {margin-bottom: -1em;}

.content [class*="col-"] {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content .pad-grid [class*="col-"], 
.content .pad-row [class*="col-"] {
  margin-top: 0;
  margin-bottom: 0;
}

.content .alignleft {
  margin: 0 20px 1em 0;
  max-width: 50%;
}

.content .alignright {
  margin: 0 0 1em 20px;
  max-width: 50%;
}

@media screen and (max-width: 1024px) {

.content {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.content [class*="col-"] {margin-bottom: 1.5em;}

.content [class*="tablet-col-"] {margin-bottom: 0.5em;}

.content h1 .icon, 
.content h2 .icon, 
.content h3 .icon, 
.content h4 .icon, 
.content h5 .icon, 
.content h6 .icon {margin-right: 0.5em;}

}

@media screen and (max-width: 600px) {

.content [class*="col-"], 
.content [class*="tablet-col-"] {margin-bottom: 1.5em;}

.content [class*="mobile-col-"] {margin-bottom: 0.5em;}

.content h1 .icon, 
.content h2 .icon, 
.content h3 .icon, 
.content h4 .icon, 
.content h5 .icon, 
.content h6 .icon {margin-right: 0.25em;}

}

@media screen and (max-width: 420px) {

.content [class*="col-"], 
.content [class*="tablet-col-"], 
.content [class*="mobile-col-"]{margin-bottom: 1.5em;}

}

@media screen and (max-width: 420px) {

.content .alignleft, 
.content .alignright {
  float: none;
  display: block;
  max-width: 100%;
  margin: 1em 0;
  text-align: center;
}

.content .alignleft:first-child, 
.content .alignright:first-child {margin-top: 0;}

.content .alignleft:last-child, 
.content .alignright:last-child {margin-bottom: 0;}

}

.content .center, 
.content .centered, 
.content .aligncenter, 
.content .align-center {
  margin-top: 1em;
  margin-bottom: 1em;
}

.content .center:first-child, 
.content .centered:first-child, 
.content .aligncenter:first-child, 
.content .align-center:first-child {margin-top: 0;}

.content .center:last-child, 
.content .centered:last-child, 
.content .aligncenter:last-child, 
.content .align-center:last-child {margin-bottom: 0;}

.slider .round {
  overflow: visible !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}



/***  5.6 SIDEBAR  ***/

.sidebar {
  display: inline-block;
  width: 220px;
  font-size: 0.9em;
}

.sidebar-section {
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 1.5em 0;
  background: #f6ebd7;
}

.sidebar-section:first-child {margin-top: 0;}

.sidebar-section:last-child {margin-bottom: 0;}

.sidebar h3 {margin-bottom: 0.5;}

.sidebar ul {
  margin-left: 0;
  margin-right: 0;
}

.sidebar li {
  position: relative;
  display: block;
  padding: 0.25em 0;
  margin: 0;
  line-height: 1.5em;
}

.sidebar li ul li {font-size: 0.9em;}

.sidebar li ul li ul li {font-size: 1em;}

@media screen and (max-width: 1024px) {

.pad-row > [class*="col-"].sidebar, 
.pad-grid > [class*="col-"].sidebar,
.sidebar {
  display: block;
  width: 100%;
  margin-top: 3em;
}

.sidebar-both-left-sidebar {display: none !important;}

}

/* Sidebar Cols */

@media screen and (min-width: 1025px) {

.sidebar .col-custom {
  display: block;
  width: 97.5%;
  margin-bottom: 2em;
}

}

@media screen and (max-width: 1024px) {

.sidebar .col-custom {
  display: inline-block;
  width: 47.5%;
}

}

@media screen and (max-width: 900px) {

.sidebar .col-custom {
  display: inline-block;
  width: 46%;
}

}

@media screen and (max-width: 600px) {

.sidebar .col-custom {
  display: block;
  width: 96%;
}

}





/******************************************************************************
 * * *  6 PAGE TEMPLATE STYLES  * * * * * * * * * * * * * * * * * * * * * * * *
 ******************************************************************************/



/***  6.1 SIDEBAR LEFT  ***/

.sidebar-left .content {float: right;}

@media screen and (max-width: 900px) {

.sidebar-left .content {float: none;}

}



/***  6.2 SIDEBAR BOTH  ***/

.sidebar-both .sidebar:nth-child(2) {float: left;}

@media screen and (max-width: 900px) {

.sidebar-both .sidebar:nth-child(2) {float: none;}

}



/***  6.3 SECTIONS  ***/

.sections {
  padding-top: 0;
  padding-bottom: 0;
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 !important;
}



/***  6.4 HOME  ***/






/******************************************************************************
 * * *  7 FOOTER STYLES  * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 ******************************************************************************/


/***  7.1 FOOTER NAV  ***/


/***  7.2 FOOTER  ***/

.footer {
  padding-top: 3em;
  padding-bottom: 3em;
  background: #f6e7f6;
}

.footer [class*="col-"] {text-align: center;}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer li {
  padding: 5px 0;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 900px) {

.footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.footer [class*="col-"] {
  padding-top: 1em;
  padding-bottom: 1em;
}
}


/***  7.3 BOTTOM BAR  ***/

.bottom-bar {
  background: #7d287e;
  color: white;
  text-align: center;
}

.bottom-bar a {color: #dbccdb;}

.bottom-bar a:hover {color: white;}

.bottom-bar li a {display: inline-block;}

@media screen and (min-width: 601px) {

.bottom-bar li:after {
  display: inline-block;
  content: '|';
}

.bottom-bar li:last-child:after {content: '';}

}




/******************************************************************************
 * * *  8 CUSTOM THEME STYLES  * * * * * * * * * * * * * * * * * * * * * * * * 
 ******************************************************************************/



/***  INLINE MENU  ***/

.content .inline-menu li:after {
  display: inline-block;
  content: '|';
}

.content .inline-menu li:last-child:after {content: '';}

.content .inline-menu li a {padding: 0 10px;}



/***  SOCIAL BUTTONS  ***/

#share-buttons{padding-top: 20px;}
#share-buttons img {
width: 48px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
#share-buttons ul{list-style:none;}
#share-buttons li{display:inline;margin:0;padding:0;}
#share-buttons li span{font-size:18px;padding-right: 10px;s}
#share-buttons li a{margin:0;padding:0;}
#share-buttons li img{margin:0;padding:0;}




/***  MATH HELP COLUMN  ***/

.content-continues {
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
  color: #898989;
}

@media screen and (max-width: 600px) {
  
  .math-help-col {background: #eee;}
}



/***  LESSON INDEX  ***/

.lesson-index li {margin-bottom: 0.5em;}



/***  NO MARGIN ON MOBILE  ***/

.no-margin-on-mobile {margin-top: 0 !important;}


/*** FIXING IMAGE-SCROLLER BOX ***/

.img-scroller {overflow: auto;}

.img-scroller img {max-width: none;}

.img-scroller::-webkit-scrollbar {
width: 12px;
background: white;
}

.img-scroller::-webkit-scrollbar-thumb {
border: 4px solid white;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
background: #929292;
}

@media screen and (max-width: 900px) {

.img-scroller {margin-top: 0 !important;}

}


/*
 * END OF
 * STNDRD THEME
 * CUSTOMIZABLE CSS
 */
