html {font: 12px/18px Georgia, 'Times New Roman', serif;}
body {background: #e6ebee url(/media/pics/bg7.jpg) repeat-x top; min-width: 300px;}
.g-overflow-hidden {overflow: hidden;}
.wrapper {max-width: 1200px; margin: 0 auto;}
.wrapper__inner {background: #fff;}

b,strong, .b, .bold {font-weight: bold;}
i, em, .i, .italic {font-style: italic;}
sub {vertical-align: sub;}
sup {vertical-align: super;}
a[href*="#"] {text-decoration: none;}

.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.clearfloat {height: 0; display: block; overflow: hidden; clear: both;}
.clearfix:after {content: "."; clear: both; display: block; visibility: hidden; height: 0px;}

/* Placeholder  */
::-webkit-input-placeholder {color:#8d9598; font-style: italic;}
::-moz-placeholder {color:#8d9598; font-style: italic;}/* Firefox 19+ */
:-moz-placeholder {color:#8d9598; font-style: italic;}/* Firefox 18- */
:-ms-input-placeholder {color:#8d9598; font-style: italic;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder {color: transparent}
:focus:-moz-placeholder {color: transparent}
:focus:-ms-input-placeholder {color: transparent}

/* Служебные блоки для определения типа размера экрана */
.iscssmedia {position: fixed; z-index: -9999; width: 1px; height: 1px; left: 0; bottom: 0; display: none;}
.iscssmedia_desktop {display: block;}

/* Кнопка наверх */
.toplink {z-index: 2; position: fixed; bottom: 20px; width: 50px; height: 50px; cursor: pointer; background: url(/media/pics/toplink.png) no-repeat 0 -100px; display: none;}

/* Аудиоплеер */
.audioplayer{height: 22px;color: #a4a4a4;position: relative;z-index: 1; margin: 0 0 10px;}
.audioplayer-mini{width: 2.5em; /* 40 */margin: 0 auto;}
.audioplayer > div{position: absolute;}
.audioplayer-playpause{width: 2.5em; /* 40 */height: 100%;text-align: left;text-indent: -9999px;cursor: pointer;z-index: 2;top: 0;left: 0;}
.audioplayer-mini .audioplayer-playpause{width: 100%;}
.audioplayer-playpause:hover,.audioplayer-playpause:focus{color: #000;}
.audioplayer-playpause a{display: block;}
.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a{position: absolute; display: block; width: 18px; height: 18px; background: url(/media/pics/audio_player.png) no-repeat -15px -3px; float: left; margin: 3px 0 0;}
.audioplayer-playing .audioplayer-playpause a{position: absolute; display: block; width: 18px; height: 18px; background: url(/media/pics/audio_player.png) no-repeat -15px -21px; float: left; margin: 3px 0 0;}
.audioplayer-time{position: absolute; text-align: center;z-index: 2; top: 0; text-align: center; color: #a6a7a8; font-size: 0.9167rem; height: 18px; width: 90px; left: 18px; padding: 0 5px; line-height: 18px; margin: 3px 0 0;}
.audioplayer-time-duration{display: none;}
.audioplayer-novolume .audioplayer-time-duration{border-right: 0;right: 0;}
.audioplayer-bar{cursor: pointer; z-index: 1; left: 120px; display: block; width: 160px; height: 7px; background: url(/media/pics/audio_player.png) no-repeat -36px -45px; top: 9px;}
.audioplayer-bar:hover .audioplayer-bar-tooltip {display: block;}
.audioplayer-novolume .audioplayer-bar{right: 4.375em; /* 70 */}
.audioplayer-bar-loaded{width: 0; z-index: 1; display: block; height: 7px; background: url(/media/pics/audio_player.png) no-repeat -36px -63px; position: absolute;}
.audioplayer-bar-played{width: 0; z-index: 1; display: block; height: 7px; background: url(/media/pics/audio_player.png) no-repeat -36px -54px; position: absolute;}
.audioplayer-bar-point {display: block; width: 14px; height: 13px; background: url(/media/pics/audio_player.png) no-repeat 0 -6px; position: absolute; top: -3px; right: -7px;}
.audioplayer-volume{height: 100%; position: absolute; width: 24px; text-align: left; text-indent: -9999px; cursor: pointer; z-index: 2; top: 0; right: 0;}
.audioplayer-volume:hover,.audioplayer-volume:focus{color: #000;}
.audioplayer-volume-button{width: 100%;}
.audioplayer-volume-button a{display: block; position: relative; top: 5px; z-index: 1; display: block; width: 19px; height: 14px; background: url(/media/pics/audio_player.png) no-repeat -15px -53px; float: left;}
.audioplayer-mute .audioplayer-volume-button a {background-position: -15px -39px}
.audioplayer-volume-adjust{height: 68px; width: 22px; cursor: default; position: absolute;left: -4px; right: -1px;top: -9999px;background: #333d45;border-radius: 5px; border: 1px solid #333d45;}
.audioplayer-volume:not(:hover) .audioplayer-volume-adjust{opacity: 0;}
.audioplayer-volume:hover .audioplayer-volume-adjust{top: auto;bottom: 100%;}
.audioplayer-volume-adjust > div{width: 4px;height: 50px;background: url(/media/pics/audio_player.png) no-repeat 0 -20px;cursor: pointer;position: relative;z-index: 1;margin: auto 8px; top: 9px;}
.audioplayer-volume-adjust div div{width: 100%;height: 100%;position: absolute;bottom: 0;left: 0;background: url(/media/pics/audio_player.png) no-repeat -4px -20px;}
.audioplayer-novolume .audioplayer-volume{display: none;}
.audioplayer *,.audioplayer *:before,.audioplayer *:after{-webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;-moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;-ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;-o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;transition: color .25s ease, background-color .25s ease, opacity .5s ease;}
.audioplayer-bar .audioplayer-bar-tooltip {display: none; position: absolute; top: 11px; width: auto; height: auto; padding: 0 5px; background: #fff; text-align: center; color: #000; text-shadow: none; border: 1px solid #ccc;}

.upperpanel {height: 30px; background: #fff; overflow: hidden; border-bottom: 1px solid #dadde0;}
.upperpanel__inner {max-width: 1200px; margin: 0 auto;}
.upperpanel__inner a:hover {text-decoration: underline;}
.upperpanel__social {margin: 0; height: 30px; overflow: hidden; float: left;}
.upperpanel__socitem {display: block; height: 30px; width: 30px !important; margin: 0; border-right: 1px solid #dadde0; float: left; background: url(/media/pics/upperpanel_icons_30.png) no-repeat;}
.upperpanel__socitem_vk {background-position: 0 0; border-left: 1px solid #dadde0;}
.upperpanel__socitem_vk:hover {background-position: -30px 0;}
.upperpanel__socitem_ok {background-position: 0 -30px;}
.upperpanel__socitem_ok:hover {background-position: -30px -30px;}
.upperpanel__socitem_fb { background-position: 0 -60px;}
.upperpanel__socitem_fb:hover {background-position: -30px -60px;}
.upperpanel__socitem_tw {background-position: 0 -90px;}
.upperpanel__socitem_tw:hover {background-position: -30px -90px;}
.upperpanel__socitem_lj {background-position: 0 -120px;}
.upperpanel__socitem_lj:hover {background-position: -30px -120px;}
.upperpanel__socitem_youtube {background-position: 0 -150px;}
.upperpanel__socitem_youtube:hover {background-position: -30px -150px;}
.upperpanel__socitem_elitsy {background-position: 0 -180px;}
.upperpanel__socitem_elitsy:hover {background-position: -30px -180px;}
.upperpanel__socitem_rss {background-position: 0 -210px;}
.upperpanel__socitem_rss:hover {background-position: -30px -210px;}
.upperpanel__socitem_mail {background-position: 0 -240px;}
.upperpanel__socitem_mail:hover {background-position: -30px -240px;}
.upperpanel__socitem_telegram {background-position: 0 -271px;}
.upperpanel__socitem_telegram:hover {background-position: -30px -271px;}
.upperpanel__socitem_instagram {background-position: 0 -300px;}
.upperpanel__socitem_instagram:hover {background-position: -30px -300px;}
.upperpanel__markers {margin: 0; height: 30px; overflow: hidden; float: right;}
.upperpanel__marker {padding: 0 10px; margin: 0; float: right; line-height: 30px; color: #333; text-decoration: none; display: block; border-right: 1px solid #dadde0; border-left: 0;}
.upperpanel__marker_eng {border-left: 1px solid #dadde0; background: url(/media/pics/upperpanel_flags_30.png) no-repeat 10px 0; padding-left: 38px;}
.upperpanel__marker_srp {background: url(/media/pics/upperpanel_flags_30.png) no-repeat 10px -30px; padding-left: 38px;}
.upperpanel__marker_subscription {background: url(/media/pics/upperpanel_flags_30.png) no-repeat 9px -60px; border: 0; padding-left: 36px; border-left: 1px solid #dadde0;}
.upperpanel__marker_subscription:hover {background-position: 9px -90px;}

.header {display: block; height: 160px; position: relative; overflow: hidden; font-family: Helvetica, Arial, sans-serif;}
.header  a:hover {text-decoration: underline}
.header__logo {width: 453px; height: 116px; margin: 22px 0;}
.header__logo_rl {display: none; width: 420px; height: 85px; margin: 10px auto;}
.header__churches {display: block; top: 18px; left: 720px; width: 90px; height: auto; text-align: center; position: absolute; text-decoration: none; color: #333; font-size: 1.1667rem; line-height: 1.333rem; font-weight: bold;}
.header__calendar {display: block; width: 140px; height: auto; position: absolute; top: 18px; left: 525px; text-align: center; text-decoration: none; color: #333; font-size: 1.1667rem; line-height: 1.333rem; font-weight: bold;}
.header__calendar span {position: absolute; display: none; background: url(/media/pics/header_days2.png) no-repeat;}
.header__calendar-days {width: 40px; height: 30px; left: 48px; top: 18px;}
.header__calendar-months {width: 60px; height: 20px; left: 40px; top: 42px;}

.block-editors-pick {width: 300px; height: 120px; position: absolute; top: 18px; right: 0;}
.block-editors-pick__heading {position: absolute; width: 286px; height: 26px; text-align: right; color: #fff; top: 0; left: 0; background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, transparent 90%); font-size: 1rem; font-weight: bold; line-height: 26px; padding-right: 14px; text-decoration: none; border-radius: 3px 3px 0px 0px; -moz-border-radius: 3px 3px 0px 0px; -webkit-border-radius: 3px 3px 0px 0px;border: 0px solid #000000;}
.block-editors-pick__inner {display: block; width: 300px; height: 120px; overflow: hidden;border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 0px solid #000000;}
.block-editors-pick__items {display: block;}
.block-editors-pick__items li {display: block; width: 300px; height: 120px; float: left;}
.block-editors-pick__items a {display: block; width: 300px; height: 120px; overflow: hidden; position: relative; text-decoration: none;}
.block-editors-pick__items img {width: 300px; height: 120px; position: absolute; left: 0; top: 0;}
.block-editors-pick__buttons {width: 74px; height: 22px; position: absolute; left: 122px; top: 108px; display: block;}
.block-editors-pick__buttons span {display: block; width: 37px; height: 22px; position: absolute; top: 0; overflow: hidden; background-image: url(/media/pics/editors-pick_buttons.png); background-repeat: no-repeat; cursor: pointer;}
.block-editors-pick__buttons span:nth-child(1) {left: 0; background-position: 0 0;}
.block-editors-pick__buttons span:nth-child(1):hover {background-position: 0 -22px;}
.block-editors-pick__buttons span:nth-child(2) {right: 0; background-position: -37px 0;}
.block-editors-pick__buttons span:nth-child(2):hover {background-position: -37px -22px;}

/* Меню */
.block-mainmenu {}
.block-topmenu {min-height: 75px; clear: both; position: relative; font-family: Helvetica, Arial, sans-serif;}
.block-topmenu__items {display: block; height: 50px; padding-bottom: 25px; background: #003f3b url(/media/pics/menu_line.png) repeat-x bottom;
display: flex;
display: -moz-flex;
display: -o-flex;
display: -ms-flex;
display: -webkit-flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: center ;
}

.block-topmenu__item {height: 50px; text-align: center;
flex-grow: 1;
border-left: 1px solid #001f1d; border-right: 1px solid #005853;
}

.block-topmenu__item:first-child {border-left: 0;}
.block-topmenu__item:last-child {max-width: 150px; border: 0;}

.block-topmenu__medialink {letter-spacing: 1px; font-family: Helvetica, Arial, sans-serif; font-size: 1.0833rem; font-weight: bold; cursor: default; display: block; width: 150px; height: 50px; padding: 0; background: #b3564d url(/media/pics/menu_media2.png) no-repeat right top; color: #fff0d3; text-transform: uppercase; text-decoration: none; text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5); line-height: 52px; text-indent: 18px;}
.block-topmenu__medialink:hover {background-position: 0 -50px;}

.block-topmenu__link {position: relative; cursor: pointer; display: block; height: 50px; text-transform: uppercase;  text-align: center; line-height: 52px; color: #fff0d3; text-decoration: none; text-shadow: 0px 1px 3px rgba(0, 0, 0, 1); font-size: 1.0833rem; font-weight: bold;}
.block-topmenu__link_active, .block-topmenu__link:hover {background-color: #002927; color: #fff0d3;}
.block-topmenu__item:hover .block-topmenu__subitems {opacity: 1; visibility: visible;}

.block-topmenu__subitems {display: none; padding: 10px; position: relative; z-index: 4; position: absolute; left: 0; top: 50px; width: calc(100% - 20px); text-align: left;}
.block-topmenu__subitem {color: #525255; font-size: 1.0833rem; display: inline; line-height: 30px; white-space: nowrap; letter-spacing:0.5px;}
.block-topmenu__sublink {color: #fff; text-decoration: none; padding: 0 8px;}
.block-topmenu__sublink:hover {color: #fff0d3;}

.block-topmenu__item:last-child .block-topmenu__subitems {text-align: right;}
.block-topmenu__subwrap {display: block; background-color: #002927; width: 100%; position: absolute; top: 50px; z-index: 2; margin-top: 0;}
.block-topmenu__line {height: 25px; background: #432018 url(/media/pics/menu_line.png);}
.block-topmenu__item_active .block-topmenu__subitems {display: block;}
.block-topmenu_slide .block-topmenu__subitems {display: none;}

.block-topmenu__open {display: none; background: url(/media/pics/topmenu_open.gif); float: left; position: relative; cursor: pointer; height: 50px; width: 50px; margin-left: 20px;}
.block-topmenu-right {display: none;}

.block-topmenu-search {display: block; width: calc(100% - 180px); 
width: -moz-calc: calc(100% - 180px); 
width: -webkit-calc: calc(100% - 180px); 
width: -webkit-calc: calc(100% - 180px); 
float: right; margin-right: 20px;}
.block-topmenu-search__inner {margin: 10px 0; background: #fff;}
.block-topmenu-search form {background: #fff url(/media/pics/search_icon.png) no-repeat left 7px; display: block; padding-left: 20px; margin: 0 4% 0 2%;}
input.block-topmenu-search__input {width: 100%; border: 0; height: 30px; line-height: 30px; width: 100%; color: #8d9598; font-size: 13px;}

.block-topmenu-flags {float: right; padding-top: 10px;}
.block-topmenu-flags  img{height: 30px; width: 30px;}

.block-menu-responsive {display: none; background: #292a2f url(/media/pics/menu-adaptive_bg.png) repeat-y right top;}
.block-menu-responsive__socials {background: #1e1f22; padding: 0 5% 15px;}
.block-menu-responsive__socials:after {content: "."; clear: both; display: block; visibility: hidden; height: 0px;}
.block-menu-responsive__social {display: block; width: 22px; height: 20px; background: url(/media/pics/menu-adaptive_socials.png) no-repeat 0 0; float: left; margin-right: 15px; margin-top: 15px;}
.block-menu-responsive__social_vk {background-position: 0 0;}
.block-menu-responsive__social_fb {background-position: 0 -20px;}
.block-menu-responsive__social_twitter {background-position: 0 -40px;}
.block-menu-responsive__social_youtube {background-position: 0 -60px;}
.block-menu-responsive__social_elitsy {background-position: 0 -80px;}
.block-menu-responsive__social_rss {background-position: 0 -100px;}
.block-menu-responsive__social_ok {background-position: 0 -120px;}
.block-menu-responsive__social_lj {background-position: 0 -140px;}
.block-menu-responsive__social_tg {background-position: 0 -160px;}
.block-menu-responsive__social_ig {background-position: 0 -180px;}
.block-menu-responsive__social_mail {background-position: 0 -200px;}
.block-menu-responsive__items {display: block;}
.block-menu-responsive__item {display: block; background: #292a2f; font-size: 1.5em; line-height: 1.5em; color: #fff; border-top: 1px solid #212226; border-bottom: 1px solid #33353b; text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);}
.block-menu-responsive__item_separator {background: #1b1b20; height: 2em;}
.block-menu-responsive__link {text-decoration: none; display: block; color: #fff; padding: 0.5em 5%;}
.block-menu-responsive__subitems {display: block; background: #1b1b20;}
.block-menu-responsive__subitem {display: block; font-size: 18px; line-height: 1.5; height: auto; border-top: 1px solid #16161a; border-bottom: 1px solid #222228;}
.block-menu-responsive__sublink {text-decoration: none; display: block; color: #fff; padding: 0.5em 5% 0.5em 10%;}

.block-menu-responsive {position: fixed; top: 0; left: 0; background: none; width: 100%; overflow: auto; z-index: 99;}
.block-menu-responsive__inner {background: #292a2f url(/media/pics/menu-adaptive_bg.png) repeat-y right top; width: 75%; max-width: 350px; position: relative;}
.block-menu-responsive__overlay {display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: 0.5; cursor: default;}
.block-menu-responsive__close {position: fixed; top: 0; right: 15px; font-size: 50px; color: #fff; display: block; line-height: 1; height: 50px; cursor: pointer;}

/* Список широких анонсов */

.list-articles-wide {}
.block-left-index .list-articles-wide {margin-left: 20px; margin-right: 20px;}
.list-articles-wide__header {margin: 0 20px;}
.list-articles-wide__heading {color: #333; min-height: 20px; letter-spacing: -0.03em; padding: 0; font-size: 1.8333rem; font-weight: bold; background: url(/media/pics/publications_heading2.png) no-repeat left center; text-indent: 28px; margin-bottom: 20px; margin-right: 22px; float: left;}
.list-articles-wide__heading a {color: #333; text-decoration: none;}
.list-articles-wide__menu {display: block; line-height: 1; margin: 0 0 20px; position: relative; top: 6px; float: left;}
.list-articles-wide__menu li {display: inline; padding-right: 22px;}
.list-articles-wide__menu a {color: #007c5b; font-size: 1.1667rem; text-decoration: none; cursor: pointer;}
.list-articles-wide__menu:after {content: "."; clear: both; display: block; visibility: hidden; height: 0px;}
/*.list-articles-wide__items {float: none; clear: both; font: 1em/1.2em Arial, sans-serif; padding: 0 0 20px;}*/
.list-articles-wide__item {display: block; margin-bottom: 20px; min-height: 150px; position: relative; font: 1em/1.2em Arial, sans-serif; clear: both;}
.list-articles-wide__item_nopic {height: auto; min-height: 0; margin-left: 215px;}
.list-articles-wide__pic {display: block; width: 200px; height: 150px; float: left; overflow: hidden; margin-right: 15px; background: #f8f6ea; line-height: 150px; line-height: 14px; text-align: center;}
.list-articles-wide__piclink {display: table; width: 100%; height: 100%;}
.list-articles-wide__piclink span {display: table-cell; vertical-align: middle;}
.list-articles-wide__piclink img {max-width: 200px; max-height: 150px; height: auto; vertical-align: middle;}
.list-articles-wide__popup {display: none; background: url(/media/pics/publications_hover.png); width: 200px; height: 150px; position: absolute; top: 0; left: 0;}
.list-articles-wide__popuplink {display: block; position: absolute; width: 200px; height: 124px; top: 0; left: 0;}
.list-articles-wide__bottom {display: block; background: #fff; width: 200px; height: 26px; position: absolute; bottom: 0; left: 0; font-size: 0.8em;}
.list-articles-wide__bookmark {display: none; width: 60px; height: 25px; float: left; border: 1px solid #dadde0; border-top: 0; color: #333; text-align: center; vertical-align: top}
.list-articles-wide__bookmark span {display: inline-block; width: 8px; height: 25px; background: url(/media/pics/publications_icons.png) no-repeat 0 -26px;}
.list-articles-wide__bookmark:hover {background: #007c5b; border-color: #007c5b; color: #fff;}
.list-articles-wide__bookmark:hover span {background-position: 0 0;}
.list-articles-wide__review {font-size: 1.2em; display: inline-block; width: 98px; height: 25px; line-height: 26px; float: left; border: 1px solid #dadde0; border-top: 0; color: #333; text-align: center; vertical-align: top;}
.list-articles-wide__review span {display: inline-block; height: 25px; background: url(/media/pics/publications_icons.png) no-repeat 0 -78px; padding-left: 20px;}
.list-articles-wide__review:hover {background: #007c5b; border-color: #007c5b; color: #fff;}
.list-articles-wide__review:hover span {background-position: 0 -52px;}
.list-articles-wide__comments {font-size: 1.2em; display: inline-block; width: 99px; height: 25px; line-height: 26px; float: left; border-bottom: 1px solid #dadde0;  border-right: 1px solid #dadde0; color: #333; text-align: center; vertical-align: top;}
.list-articles-wide__comments span {display: inline-block; height: 25px; background: url(/media/pics/publications_icons.png) no-repeat 0 -130px; padding-left: 20px;}
.list-articles-wide__comments:hover {background: #007c5b; border-color: #007c5b; color: #fff;}
.list-articles-wide__comments:hover span {background-position: 0 -104px;}
.list-articles-wide__comments_disable {cursor: default;}
.list-articles-wide__comments_disable:hover {background: #fff; border-bottom: 1px solid #dadde0; border-right: 1px solid #dadde0;}
.list-articles-wide__label {display: block; width: 95px; padding: 5px; background: #007c5b; color: #fff; text-align: center; position: absolute; top: 10px; left: 0; text-decoration: none;}
.list-articles-wide__text {display: block; text-decoration: none; margin-left: 215px; font: 1.2em/1.4em Arial, sans-serif;}
.list-articles-wide__text:after {content: "."; clear: both; display: block; visibility: hidden; height: 0px;}
.list-articles-wide__top {display: block; color: #707a7e; line-height: 1; padding: 0 0 2px; line-height: 1.4em; text-align: left; float: none; font-size: 0.85em;}
.list-articles-wide__date {display: inline;}
.list-articles-wide__rating {display: inline; font-style: normal;}
.list-articles-wide__rating-item {padding: 0;}
.list-articles-wide__rating-qt {color: #707a7e;}
.list-articles-wide__separator {margin: 0 0.4em 2px; display: inline-block; background: #c4c6d3; height: 3px; width: 3px; overflow: hidden; color: #c4c6d3;}
.list-articles-wide__title {display: block; text-transform: uppercase; color: #333; font-weight: bold;}
.list-articles-wide__title a {text-decoration: none; color: #333;}
.list-articles-wide__subtitle {display: block; color: #333; font-weight: bold;}
.list-articles-wide__subtitle a {text-decoration: none; color: #333;}
.list-articles-wide__author {display: block; color: #007c5b; font-style: italic; font-weight: 500; margin: 0.2em 0 0;}
.list-articles-wide__author a {text-decoration: none; color: #007c5b;}
.list-articles-wide__short {display: block; color: #333; margin: 0.5em 0 0;}
.list-articles-wide__short a {text-decoration: none; color: #333;}
.list-articles-wide__nofind {padding: 40px 0; text-align: center; font-weight: bold;}
.list-articles-wide__item:hover .list-articles-wide__popup {display: block;}

/* Футер */
.block-footer {font-size: 1.0833rem; line-height: 18px; position: fixed; bottom: 0; width: 1200px; z-index: 9;}
.block-footer__arrow {display: block; width: 40px; height: 18px; background: url(/media/pics/footer_top.png) no-repeat left top; position: absolute; top: -18px; left: 50%; margin-left: -20px;}
.block-footer__arrow_show {background-position: 0 -18px;}
.block-footer__inner {display: none; background: #1b1b20; width: 1200px; height: 260px; overflow: hidden;}
.block-footer__info {float: left; width: 225px; margin-top: 40px; padding: 4px 0 0 20px;}
.block-footer__text {color: #ccc; margin: 0 0 14px;}
.block-footer__link {color: #007c5b; text-decoration: none;}
.block-footer__years {}
.block-footer__counters {text-align: right; width: 237px; margin-left: -10px;}
.block-footer__counters img {display: block; float: right; margin: 0 0 10px 10px}
.block-footer__menu {float: left; display: block; margin-top: 40px; padding: 0 30px; margin-left: 30px; width: 210px; height: 180px; border-left: 1px solid #323237;}
.block-footer__menu li {font-family: Arial, sans-serif; font-size: 1.0833rem; font-weight: bold; text-transform: uppercase; color: #fff; line-height: 30px;}
.block-footer__menu a {color: #fff; text-decoration: none;}
.block-footer__social {float: left; display: block; margin-top: 40px; padding: 0 0 0 30px; width: 290px; height: 180px; border-left: 1px solid #323237;}
.block-footer__title {font-family: Arial, sans-serif; font-size: 1rem; font-weight: bold; text-transform: uppercase; color: #fff; margin: 10px 0 28px; line-height: 1;}
.block-footer__social ul {display: block; float: left; margin-right: 30px;}
.block-footer__social li {font-size: 1.0833rem; color: #ccc; height: 16px; line-height: 1.333rem; margin: 0 0 12px;}
.block-footer__social a {color: #ccc; text-decoration: none; background: url(/media/pics/footer_social.png) no-repeat left top; padding-left: 25px; line-height: 1.333rem; height: 16px; display: inline-block;}
.block-footer__social a.block-footer__social-link_vk {background-position: 0 0;}
.block-footer__social a.block-footer__social-link_ok {background-position: 0 -16px;}
.block-footer__social a.block-footer__social-link_fb {background-position: 0 -32px;}
.block-footer__social a.block-footer__social-link_tw {background-position: 0 -48px;}
.block-footer__social a.block-footer__social-link_in {background-position: 0 -128px;}
.block-footer__social a.block-footer__social-link_lj {background-position: 0 -80px;}
.block-footer__social a.block-footer__social-link_yt {background-position: 0 -96px;}
.block-footer__social a.block-footer__social-link_el {background-position: 0 -112px;}
.block-footer__social a.block-footer__social-link_tg {background-position: 0 -144px;}
.block-footer__mailing {float: left; display: block; margin-top: 40px; padding: 0 20px 0 30px; width: 250px; height: 180px; border-left: 1px solid #323237;}
.block-footer__subscription {background: url(/media/pics/footer_input.png); width: 250px; height: 30px; margin: 0 0 20px;}
.block-footer__input {background: transparent; border: 0; height: 30px; line-height: 30px; color: #989898; font-size: 1.0833rem; width: 186px; padding: 0 12px; float: left;}
input[type="submit"].block-footer__submit {display: block; width: 40px; height: 30px; float: right; cursor: pointer; border: 0; margin: 0; background: none;}
.block-footer__links {display: block;}
.block-footer__links-item {color: #ccc; font-size: 1.0833rem; line-height: 1; display: block; margin: 0 0 8px;}
.block-footer__links-l {color: #ccc; text-decoration: none; background: url(/media/pics/footer_arrow.png) no-repeat left 2px; padding-left: 14px;}