/*
*{
	/* Universal reset */
	margin:0;
	padding:0;
}
*/
	/* Setting default text color, background and a font stack */

body{
	color:#444444;
	font-size:12px;
	background-color: #eeeeee;
	font-family: Arial, Helvetica, sans-serif;
}


.onlineWidget,.rpanel{
	
	/* Styling the widget and the sliding panel at once */
	
	background-color:#F9F9F9;
	border:2px solid #FFFFFF;
	height:25px;
	padding:4px 8px;
	position:relative;
	/* width:587px; */
	
	cursor:pointer;
	
	/* CSS3 rules for rounded corners, box and text shadows: */
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	
	-moz-box-shadow:0 0 3px #CCCCCC;
	-webkit-box-shadow:0 0 3px #CCCCCC;
	box-shadow:0 0 3px #CCCCCC;
	
	text-shadow:0 2px 0 white;
}

.onlineWidget:hover{
	background-color:#fcfcfc;
}

.onlineWidget:hover .arrow{
	/* Changing the background image for the green arrow on hover: */
	background-position:bottom center;
}

.count{
	/* The total number of people online div */
	
	color:#777777;
	float:left;
	font-size:26px;
	font-weight:bold;
	margin-top:-3px;
	text-align:center;
/*	width:30px;
*/
}

.rlabel{
	/* The online label */
	
	float:left;
	font-size:20px;
	font-weight:bold;
	color:grey;
	padding:2px 0 0 7px;
/*	text-transform:uppercase;*/
}

.rarrow{
	/* The green arrow on the right */
	
	background:url(img/arrow.png) no-repeat top center;
/*	background:url(../images/single-user-chat1.jpg) no-repeat top center;
*/	position:absolute;
	right:6px;
	
	width:25px;
	height:25px;
}

.rpanel{
	/* The slideout panel */
	
	position:absolute;
	cursor:default;
	
	width:250px;
	top:40px;
	left:0;
	height:auto;
	display:none;
	margin:-2px;
	z-index:1000;
}

.preloader{
	/* The rotating gif preloader image */
	display:block;
	margin:10px auto;
}

.geoRow{
	/* The div that contains each country */
	
	height:16px;
	overflow:hidden;
	padding:2px 0;
}

.flag{
	float:left;
	margin:0 4px;
}

.country, .people{
	float:left;
	font-size:10px;
	padding:0px;
}

.country{
	width:185px;
	overflow:hidden;
}

.people{
	font-weight:bold;
}

