#tabheader {
  float:left;
  width:100%;
  /* background:#DAE0D2 url("bg.gif") repeat-x bottom; */
  font-size:93%;
  line-height:normal;
  }
#tabheader ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#tabheader li {
  float:left;
  background:url("left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#tabheader a {
  float:left;
  display:block;
  background:url("right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#tabheader a {float:none;}
/* End IE5-Mac hack */
#tabheader a:hover {
  color:#333;
  }
#tabheader #current {
  background-image:url("left_on.gif");
  }
#tabheader #current a {
  background-image:url("right_on.gif");
  color:#333;
  padding-bottom:5px;
  }
  
#tabheader .current {
  background-image:url("left_on.gif");
  }
#tabheader .current a {
  background-image:url("right_on.gif");
  color:#333;
  padding-bottom:5px;
  }

/*** Nav bar styles ***/

ul.nav,
.nav ul{
/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}

ul.nav{
	display: table;
	//width:410px;
}
ul.nav>li{
	display: table-cell;
	/*position: relative;*/
	padding: 2px 6px;
}


ul.nav li>ul{
/*Make the sub list items invisible*/
	display: none;
	position: absolute;
	max-width: 40ex;
	margin-left: -6px;
	margin-top: 2px;
}

ul.nav li:hover>ul{
/*When hovered, make them appear*/
	display : block;
}

.nav ul li a{
/*Make the hyperlinks as a block element, sort of a hover effect*/
	display: block;
	padding: 2px 10px;
}

/*** Menu colors (customizable) ***/

ul.nav,
.nav ul,
.nav ul li a{
/*	background-color: #fff;
	color: #369;
*/
	background-color: #fff;
	color: #505050;
	z-index: 99;
}


/* menu list items */
.nav ul li a:hover{

	background-color: #eee;
	color: #505050;

}

ul.nav li:active,
.nav ul li a:active{
	background-color: #eee;
	color: #505050;



}

ul.nav,
.nav ul{
/*	border: 1px solid darkgrey overall border around dropdown list*/
/*	border: 1px solid darkgrey;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: -3px 3px 10px #ccc;
        -webkit-box-shadow: -3px 3px 10px #ccc;
        box-shadow: -3px 3px 10px #ccc;
*/

}

.nav a{
	text-decoration: none;
}

/* main menu items*/
ul.nav li:hover {
	background-color: #eee;
}
ul.nav li {
	background-color: #fff;
	margin:2px;
	/* font-size:10px; */
	border: 1px solid darkgrey;
        -moz-border-radius: 4px;
        border-radius: 4px;

        -moz-box-shadow: -3px 3px 10px #ccc;
        -webkit-box-shadow: -3px 3px 10px #ccc;
        box-shadow: -3px 3px 10px #ccc;


}
