@charset "Shift_JIS";
/*
-----------------------------------------------
www.suruga-ya.jp Base Styles

Author: Masayuki Shimizu (Act System Inc.)
Version: 1.0
----------------------------------------------- 


*//* styleReset
----------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-style: normal;
}

h1, p, address {
	color: #333333;
	font-style: normal;
	font-weight: normal;
}

img {
	border: none;
}

/* clearfix for modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* clearfix for IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

/* pageStructureCommon
----------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	background-image:url(../../media/bg.gif);
	background-color: #fafafa;
	color: #333333;
	text-align: center;
	font-family: MS UI Gothic, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka, sans-serif;
}

/*100604変更*/
#container {
	width: 900px;
	padding-top: 70px;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#container_ansin {
	width: 900px;
	padding-top: 30px;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#container_cart {
	width: 900px;
	padding-top: 30px;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}


#hoop {
	float: left;
	width: 700px;
}

.copeImg {
	display: block;
	clear: both;
}

#footer {
	width: 900px;
	height: 30px;
	border-top: 1px solid #666666;
	text-align: center;
	font-size: 0.75em;
	background-image: url(../../pics/atoo_minilogo.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 30px;
	padding-left: 0;
}

#footer2 {
	width: 900px;
	margin: 0 auto;
	text-align: right;
}

#blockBanner {
	position: absolute;
	top: 130px;
	margin: 0;
	height: 60px;
}

#blockBanner_supersale {
	position: absolute;
	top: 130px;
	margin: 0;
	height: 160px;
}
.AddBanner {
	position: absolute;
	height: 60px;
	top: 8px;
}
/*#blockSearch {
	position: absolute;
	top: 35px;
	margin-left: 300px;
	padding: 3px;
	background: #9999ff;
	line-height: 100%;
	font-size: 0.75em;
}*/
.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}

/* 検索窓
----------------------------------------------- */

#blockSearch {
	position: absolute;
	top: 35px;
	margin-left: 185px;
	padding: 4px;
	background: #9999ff;
	line-height: 100%;
	font-size: 0.75em;
	background: #9999ff;
	z-index:3;
	height: 24px;
}

#blockSearch input[type=text] {
	width: 137px;
}

#blockSearch .search {
	width:90px;
	margin-right:2px;
}

#blockSearch input#text {
	width:190px;
	margin-right:2px;
}

#blockSearch input#btn {
	width:60px;
	margin-right:2px;
}

#blockSearch a.skensaku {
	font-size:small;
	color:#FFFFFF;
}

#blockSearch #searchText {
	max-width: 160px;
}


/* ログイン状態
----------------------------------------------- */

#blockLogin {
	position: absolute;
	top: 30px;
	margin-left: 625px;
	width:290px;
	padding: 3px;
	line-height: 120%;
	font-size: 0.8em;
	z-index:2;
}

#blockLogin .name{
	display: block;
	float: left;
	margin-right: 15px;
}

#blockLogin .log{
	display: block;
	float: left;
	margin-top:10px;
	padding-left:10px;
	background-image:url(../../media/pt_red_s.gif);
	background-repeat:no-repeat;
	background-position:left center;
}

/* ログインフォームサイズ調整
----------------------------------------------- */
#mypage-login-form input {
	max-width: 240px;
}
#surugaya-mypage-login-form input { 
	max-width: 180px;
}



/* mainNav（上部メニュー）
----------------------------------------------- */
#mainNav {
	position: absolute;
	top: 81px;
	font-size: 0.75em;
}

#mainNav ul {
	list-style-type: none;
}
#mainNav span {
	color: #FFF;
}

/* subNav（上部メニュー下部）
----------------------------------------------- */
/* 送料表記バナー-----------------------------------
	background-image: url(../../pics/banner/soryo.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 52px;
	---------------------------------------------------*/
#subNav {
	position: absolute;
	display: block;
	top: 112px;
	width: 900px;
	color: #ffffff;
	text-align: center;
	font-size: 0.75em;
	z-index: 1;
	background-image: url(../../pics/no_cache/soryo.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 42px;
}

#subNav li {
	display: inline;
	padding-top: 2px;
	color: #ffffff;
	line-height: 1.1em;
}

#subNav2 {
	position: absolute;
	display: block;
	top: 112px;
	width: 900px;
	color: #ffffff;
	text-align: center;
	font-size: 0.75em;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#subNav2 li {
	display: inline;
	padding-top: 2px;
	color: #ffffff;
	line-height: 1.1em;
}
#subNav3 {
	position: absolute;
	display: block;
	top: 112px;
	width: 900px;
	text-align: center;
	font-size: 0.75em;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center bottom;
}
#subNav3 li {
	display: inline;
	padding-top: 2px;
	line-height: 1.1em;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {.mcfs{font-size:smaller;}}/*Safari3,Chrome*/
/* メイン領域
#main = type1.html
#main2 = type2.html
#main3 = type3.html
----------------------------------------------- */
#main {
	float: right;
	width: 540px;
}
#main2 {
	width: 740px;
	float: right;
}
#main3 {
	width: 900px;
}
#main4 {
	width: 800px;
}
#main5 {
	width: 740px;
}
#main p, #main2 p, #main3 p, #main4 p{
	line-height: 1.3em;
	font-size: 0.8125em;
}

/* #menu （ヘルプ・駿河屋広場）
----------------------------------------------- */

#menu {
	float: left;
	width: 150px;
	margin-top: 3px;
	margin-bottom: 3px;
	clear: left;
}
#menu .block {
	width: 147px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu.gif) repeat-x;
}
#menu .block2 {/*青枠なし*/
	width: 147px;
	margin-bottom: 10px;
	border: 1px solid #999999;
}
#menu .block_k {/*買取用*/
	width: 147px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu_k.gif) repeat-x;
}
#menu .block_ad {/*アダルト*/
	width: 147px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu_ad.gif) repeat-x;
}
#menu .block h2,
#menu .block2 h2,
#menu .block_k h2,
#menu .block_ad h2{
	padding-top: 6px;
	color: #ffffff;
	text-align: center;
	line-height: 100%;
	font-weight: bold;
	font-size: 0.9375em;
	margin-bottom: 6px;
}
#menu .block h3,
#menu .block_k h3,
#menu .block_ad h3{
	color: #000000;
	text-align: left;
	line-height: 100%;
	font-weight: 600;
	font-size: 75%;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	background-color: #FFFFCC;
	margin-right: 5px;
}
#menu .block ul,
#menu .block2 ul,
#menu .block_k ul,
#menu .block_ad ul {
	padding-top: 4px;
	margin-right: 0;
	padding-bottom: 4px;
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
#menu .block li,
#menu .block_ad li,
#menu .block2 li,
#menu .block_k li {
	font-size: 0.8125em;
	background-image: url(../../pics/yaji.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 6px;
}
#menu .block h2 a:link,
#menu .block2 h2 a:link,
#menu .block_k h2 a:link,
#menu .block_ad h2 a:link {
	color: #ffffff;
	text-decoration: none;
}

#menu .block h2 a:visited,
#menu .block2 h2 a:visited,
#menu .block_k h2 a:visited,
#menu .block_ad h2 a:visited {
	color: #ffffff;
	text-decoration: none;
}

#menu .block h2 a:hover,
#menu .block2 h2 a:hover,
#menu .block_k h2 a:hover,
#menu .block_ad h2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
#menu .block .leftmenu_genre {
	margin-top: -5px;
}
#menu .border_bottom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#menu .border_top {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
#menu .subtitle {
	font-size: 0.8125em;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 4px;
}

/* #menu内　新品・中古表示
----------------------------------------------- */

a.newold:link{ color:#0000FF;}
a.newold:visited{ color:#006600;}
a.newold:hover{ color:#FF00FF;}
a.newold:activ{ color:#ccccFF;}
#menu .block .newold {
font-size:0.75em;
}

/* #menu　書籍
----------------------------------------------- */

#menu .block hr.b,
#menu .block_ad hr.b {
background-color: #999999; 
color: #999999; 
border: none; 
height: 1px;
margin:0px;
padding:0px;
}
#menu .block ul.b,
#menu .block_ad ul.b {
margin-bottom:5px;
padding: 0 ;
}
#menu .block ul.b li ul,
#menu .block_ad ul.b li ul{
margin: 3px 0 0 0;
padding: 0;
list-style-type: none;
line-height:1em;
}
#menu .block ul.b li ul li,
#menu .block_ad ul.b li ul li {
background: url(../../pics/pt_dot.gif) no-repeat left center;
padding-left:8px;
font-size:90%;
}

/* #subMenu .block（トピックス）
----------------------------------------------- */
#subMenu {
	float: right;
	width: 184px;
}
#subMenu .block {
	width: 184px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu.gif) repeat-x;
}
#subMenu .block_ad {/*アダルト*/
	width: 184px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu_ad.gif) repeat-x;
}
#subMenu .block h2,
#subMenu .block_ad h2 {
	padding-top: 6px;
	color: #ffffff;
	text-align: center;
	font-size: 0.9375em;
	line-height: 100%;
	font-weight: bold;
}
#subMenu .block ul,
#subMenu .block_ad ul {
	margin-left: 8px;
	margin-right: 8px;
	margin-top:15px;
	text-align:left;
}
#subMenu .block li,
#subMenu .block_ad li {
	font-size: 0.8125em;
	line-height:130%;
	padding-top:4px;
	padding-bottom:4px;
}


/* #subMenu .block02（売上ランキング）
----------------------------------------------- */

#subMenu .block02 {
	width: 184px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu.gif) repeat-x;
	text-align: center;
}
#subMenu .block02_ad {/*アダルト*/
	width: 184px;
	margin-bottom: 10px;
	border: 1px solid #999999;
	background: url(../../media/bgMenu_ad.gif) repeat-x;
	text-align: center;
}
#subMenu .block02 img,
#subMenu .block02_ad img {
	margin-top: 8px;
	margin-bottom: 8px;
}
#subMenu .block02 h2,
#subMenu .block02_ad h2 {
	padding-top: 6px;
	color: #ffffff;
	text-align: center;
	font-size: 0.9375em;
	line-height: 100%;
	font-weight: bold;
}
#subMenu .block02 h3,
#subMenu .block02_ad h3 {
	margin-left: 5px;
	margin-top: 10px;
	color: #006633;
	font-size: 0.9375em;
}
#subMenu .block02 h3 .win ,
#subMenu .block02_ad h3 .win{
	color: #cc0000;
}
#subMenu .block02 ul,
#subMenu .block02_ad ul {
	margin-left: 20px;
	text-align: left;
}
#subMenu .block02 li,
#subMenu .block02_ad li {
	list-style: decimal;
	font-size: 0.75em;
	margin-left:2px;
	margin-top: 4px;
	margin-bottom: 4px;
}


/* ロゴ（左上ロゴ）
----------------------------------------------- */

#logo {
	position: absolute;
	top: 20px;
	width: 165px;
	height: 48px;
	text-indent: -9999px;
	z-index: 0;
}
#logo {
	background: url(../../media/bgLogo.gif) no-repeat;
}
#logo a {
	display: block;
	width: 165px;
	height: 48px;
	text-indent: -10000px;
	text-decoration: none;
}
#logo a:hover {
	background: url(../../media/bgLogo.gif) no-repeat;
}
#jadma_logo {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 400px;
}
#a-too_logo {
	height: 40px;
	width: 75px;
	float: right;
}

/* headings
----------------------------------------------- */
h1 {
	width: 900px;
	height: 125px;
	margin: 0 auto;
	padding-top: 5px;
	background: url(../../media/bgHeader.gif) no-repeat 0 10px;
	color: #000000;
	text-align: left;
	line-height: 100%;
	font-size: 0.75em;
}
h1#kaitori {
	background: url(../../media/bgHeader_k.gif) no-repeat 0 10px;
}
h1#adult {
	background: url(../../media/bgHeader_ad.gif) no-repeat 0 10px;
}
h1#cart {
	border-bottom: #1D5FA9 solid 3px;
	background: none;
	height: 83px;
}
h2 {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
}


/* （リンク設定）
----------------------------------------------- */
a:link {
	color: #0000ff;
}
a:visited {
	color: #663399;
	text-decoration: underline;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
}
#topicPath a:link {
	color: #333333;
	text-decoration: none;
}
#topicPath a:visited {
	color: #666666;
	text-decoration: none;
}
#topicPath a:hover {
	color: #333333;
	text-decoration: underline;
}
#footer a:link {
	color: #333333;
	text-decoration: none;
}

#footer a:visited {
	color: #666666;
	text-decoration: none;
}
#footer a:hover {
	color: #333333;
	text-decoration: underline;
}

#utility a:link {
	color: #333333;
	text-decoration: none;
}

#utility a:visited {
	color: #333333;
	text-decoration: none;
}

#utility a:hover {
	color: #333333;
}

#subNav a:link, #menu .block h2 a:link {
	color: #ffffff;
	text-decoration: none;
}

#subNav a:visited, #menu .block h2 a:visited {
	color: #dddddd;
	text-decoration: none;
}

#subNav a:hover, #menu .block h2 a:hover {
	color: #ffcccc;
}
#subNav2 a:link, #menu .block h2 a:link {
	color: #ffffff;
	text-decoration: none;
}

#subNav2 a:visited, #menu .block h2 a:visited {
	color: #dddddd;
	text-decoration: none;
}

#subNav2 a:hover, #menu .block h2 a:hover {
	color: #ffcccc;
}

#mainNav .tab02,#mainNav .tab02_2,
#mainNav .tab04,#mainNav .tab04_4{font-size: 10px;}

#mainNav .tab01, #mainNav .tab02, #mainNav .tab03, #mainNav .tab04, #mainNav .tab05, #mainNav .tab06, #mainNav .tab07, #mainNav .tab08, #mainNav .tab09, #mainNav .tab10, #mainNav .tab11, #mainNav a:hover, #mainNav .tab02 a:hover, #mainNav .tab03 a:hover, #mainNav .tab04 a:hover, #mainNav .tab05 a:hover, #mainNav .tab06 a:hover, #mainNav .tab07 a:hover, #mainNav .tab08 a:hover, #mainNav .tab09 a:hover, #mainNav .tab10 a:hover, #mainNav .tab11 a:hover, #mainNav .tab01ad, #mainNav .tab02ad, #mainNav .tab03ad, #mainNav .tab04ad, #mainNav .tab05ad, #mainNav .tab06ad, #mainNav .tab07ad, #mainNav .tab08ad, #mainNav .tab09ad, #mainNav .tab10ad, #mainNav .tab01ad a:hover, #mainNav .tab02ad a:hover, #mainNav .tab03ad a:hover, #mainNav .tab04ad a:hover, #mainNav .tab05ad a:hover, #mainNav .tab06ad a:hover, #mainNav .tab07ad a:hover, #mainNav .tab08ad a:hover, #mainNav .tab09ad a:hover, #mainNav .tab10ad a:hover,#mainNav .tab11ad,#mainNav .tab12,#mainNav .tab13{
	color: #333333 !important;
	text-decoration: none;
}

#mainNav .tab01_1, #mainNav .tab02_2, #mainNav .tab03_3, #mainNav .tab04_4, #mainNav .tab05_5, #mainNav .tab06_6, #mainNav .tab07_7, #mainNav .tab08_8, #mainNav .tab09_9, #mainNav .tab10_10, #mainNav .tab11_11, #mainNav .tab12_12, #mainNav .tab01_1 a:hover, #mainNav .tab02_2 a:hover, #mainNav .tab03_3 a:hover, #mainNav .tab04_4 a:hover, #mainNav .tab05_5 a:hover, #mainNav .tab06_6 a:hover, #mainNav .tab07_7 a:hover, #mainNav .tab08_8 a:hover, #mainNav .tab09_9 a:hover, #mainNav .tab10_10 a:hover, #mainNav .tab11_11 a:hover, #mainNav .tab12_12 a:hover, #mainNav .tab01_1ad, #mainNav .tab02_2ad, #mainNav .tab03_3ad, #mainNav .tab04_4ad, #mainNav .tab05_5ad, #mainNav .tab06_6ad, #mainNav .tab07_7ad, #mainNav .tab08_8ad, #mainNav .tab09_9ad, #mainNav .tab10_10ad, #mainNav .tab10_11ad, #mainNav .tab01_1ad a:hover, #mainNav .tab02_2ad a:hover, #mainNav .tab03_3ad a:hover, #mainNav .tab04_4ad a:hover, #mainNav .tab05_5ad a:hover, #mainNav .tab06_6ad a:hover, #mainNav .tab07_7ad a:hover, #mainNav .tab08_8ad a:hover, #mainNav .tab09_9ad a:hover, #mainNav .tab10_10ad a:hover, #mainNav .tab10_11ad a:hover, #mainNav .tab11ad a:hover, #mainNav .tab11_11ad a:hover, #mainNav .tab11_11ad, #mainNav .tab12 a:hover, #mainNav .tab13 a:hover{
	color: #ffffff !important;
}
/*.menu {
	background-image: url(../../pics/menu_bar.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-top: 2px;
	margin-bottom: 2px;
	height: 20px;
}*/
/* lists
----------------------------------------------- */
ul {
	margin: 0 0 1em 0;
	padding: 0;
}

.listCircle {
	list-style: circle;
}

.listCircle li {
	margin: 0 0 0.4em 15px;
	padding: 0;
	line-height: 1.3em;
	font-size: 0.8125em;
}

.listDisk {
	list-style: disc;
}

.listDisk li {
	margin: 0 0 0.4em 15px;
	padding: 0;
	line-height: 1.3em;
	font-size: 0.8125em;
}

.listSquare {
	list-style: square;
}

.listSquare li {
	margin: 0 0 0.4em 15px;
	padding: 0;
	line-height: 1.3em;
	font-size: 0.8125em;
}
.listDecimal {
	margin-left: 5px;
	list-style: decimal;
}
.listDecimal li {
	margin: 0 0 0.8em 19px;
	padding: 0;
	line-height: 1.3em;
	font-size: 0.8125em;
}
.listStyleNone {
	list-style: none;
}
.listStyleNone li {
	margin: 0 0 0.4em 0;
	padding: 0;
	line-height: 1.3em;
	font-size: 0.8125em;
}
#utility {
	position: absolute;
	top: 1px;
	width: 340px;
	margin-left: 555px;
	padding-left:5px;
	color: #333333;
	font-size: 0.75em;
	z-index: 1;
	background-color:#fafafa;
}
#utility li {
	display: inline;
	color: #ffffff;
}
#utility .icon00 {
	display: block;
	float: left;
	height: 18px;
	margin-right: 10px;
	padding: 2px 1px 10px 25px;
	background: url(../../media/icon00.gif) no-repeat;
}
#utility .icon01 {
	display: block;
	float: left;
	height: 18px;
	margin-right: 10px;
	padding: 2px 1px 10px 25px;
	background: url(../../media/icon01.gif) no-repeat;
}
#utility .icon02 {
	display: block;
	float: left;
	height: 18px;
	margin-right: 10px;
	padding: 2px 1px 10px 25px;
	background: url(../../media/icon02.gif) no-repeat;
}
#utility .icon03 {
	display: block;
	float: left;
	height: 18px;
	background: url(../../media/icon03.gif) no-repeat;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 10px;
	padding-left: 20px;
}
#cart_flow {
	position: absolute;
	top: 30px;
	width: 546px;
	margin-left: 354px;
	z-index: 1;
}


/* footer
----------------------------------------------- */
#footer ul {
	margin: 0 0 2px 0;
	list-style: none;
}
#footer li {
	display: inline;
}
.footer_bn {
	text-align: center;
	padding: 0px;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}

/* misc
----------------------------------------------- */
.skip {
	position: absolute;
	top: -10000px;
	width: 200px;
}
p {
	margin: 0 0 1em 0;
}
.print {
	display: none;
}

/*100604変更*/

#topicPath {
	position: absolute;
	top: 185px;
	width: 900px;
	margin-left: 0;
	padding-top: 1px;
	line-height: 100%;
	font-size: 0.75em;
	z-index: 1;
}

#topicPath_supersale {
	position: absolute;
	top: 290px;
	width: 480px;
	margin-left: 0;
	padding-top: 1px;
	line-height: 100%;
	font-size: 0.75em;
	z-index: 1;
}

#topicPath2 {
	position: absolute;
	top: 182px;
	width: 480px;
	margin-left: 0;
	padding-top: 1px;
	line-height: 100%;
	font-size: 0.75em;
	z-index: 1;
}

#topicPath_long {
	position: absolute;
	top: 182px;
	width: 650px;
	margin-left: 0;
	padding-top: 1px;
	line-height: 100%;
	font-size: 0.75em;
	z-index: 1;
}

.noscript {
	padding: 10px 0;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	font-size: 0.8125em;
}

hr {
	margin: 0px;
}

.productFontSize {
	font-size: 0.8125em;
}

/* mainNavi
----------------------------------------------- */

.tab01 {
	position: absolute;
	top: 0; 
	left: 0;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 11;
	line-height: 100%;
}
.tab01:hover {
	background-image: url(../../media/tab01b.gif);
	text-decoration: underline;
}
.tab01_1{
	position: absolute;
	top: 0; 
	left: 0;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02.gif);
	color: #ffffff;
	text-align: center;
	z-index: 11;
	line-height: 100%;
}
.tab02 {
	position: absolute;
	top: 0; 
	left: 70px;
	display: block;
	width: 93px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab03dvd.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 10;
	line-height: 100%;
}
.tab02:hover {
	background-image: url(../../media/tab03bdvd.gif);
	text-decoration: underline;
}
.tab02_2 {
	position: absolute;
	top: 0;
	left: 70px;
	display: block;
	width: 93px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab04dvd.gif);
	color: #ffffff;
	text-align: center;
	z-index: 12;
	line-height: 100%;
}
.tab03 {
	position: absolute;
	top: 0; 
	left: 155px;
	width: 63px;
	height: 17px;
	display: block;
	padding-top: 8px;
	background-image: url(../../media/tab01cd.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 9; 
	line-height: 100%;
}
.tab03:hover {
	background-image: url(../../media/tab01bcd.gif);
	text-decoration: underline;
}
.tab03_3{
	position: absolute;
	top: 0;
	left: 155px;
	display: block;
	width: 63px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02cd.gif);
	color: #ffffff;
	text-align: center;
	z-index: 13;
	line-height: 100%;
}
.tab04 {
	position: absolute;
	top: 0;
	left: 211px;
	display: block;
	width: 93px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab03hobby.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 8;
	line-height: 100%;
}
.tab04:hover {
	background-image: url(../../media/tab03bhobby.gif);
	text-decoration: underline;
}
.tab04_4{
	position: absolute;
	top: 0; 
	left: 210px;
	display: block;
	width: 93px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab04hobby.gif);
	color: #ffffff;
	text-align: center;
	z-index: 14; 
	line-height: 100%;
}
.tab05 {
	position: absolute;
	top: 0; 
	left: 295px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01.gif);
	color: black;
	text-decoration: none;
	text-align: center;
	z-index: 7; 
	line-height: 100%;
}
.tab05:hover {
	text-decoration: underline;
	background-image: url(../../media/tab01b.gif);
}
.tab05_5{
	position: absolute;
	display: block;
	z-index: 15; 
	text-align: center;
	padding-top: 8px;
	width: 78px;
	height: 17px;
	top: 0; 
	left: 295px;
	color: #ffffff;
	background-image: url(../../media/tab02.gif);
	line-height: 100%;
}
.tab06 {
	position: absolute;
	text-decoration: none;
	display: block;
	z-index: 6; 
	text-align: center;
	padding-top: 8px;
	background-image: url(../../media/tab01.gif);
	width: 78px;
	height: 17px;
	top: 0; 
	left: 365px;
	color: black;
	line-height: 100%;
}

.tab06:hover {
	background-image: url(../../media/tab01b.gif);
	text-decoration: underline;
}

.tab06_6 {
	position: absolute;
	top: 0; 
	left: 365px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02.gif);
	color: #ffffff;
	text-align: center;
	z-index: 16;
	line-height: 100%;
}

.tab07 {
	position: absolute;
	top: 0;
	left: 435px;
	color: black;
	display: block;
	text-align: center;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01.gif);
	text-decoration: none;
	z-index: 5;
	line-height: 100%;
}

.tab07:hover {
	background-image: url(../../media/tab01b.gif);
	text-decoration: underline;
}

.tab07_7 {
	position: absolute;
	top: 0;
	left: 435px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02.gif);
	color: #ffffff;
	text-align: center;
	z-index: 17;
	line-height: 100%;
}

.tab08 {
	position: absolute;
	top: 0;
	left: 505px;
	color: black;
	display: block;
	text-align: center;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01.gif);
	text-decoration: none;
	z-index: 4;
	line-height: 100%;
}

.tab08:hover {
	background-image: url(../../media/tab01b.gif);
	text-decoration: underline;
}

.tab08_8 {
	position: absolute;
	top: 0;
	left: 505px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02.gif);
	color: #ffffff;
	text-align: center;
	z-index: 18;
	line-height: 100%;
}.tab09 {
	position: absolute;
	top: 0;
	left: 575px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01.gif);
	text-align: center;
	text-decoration: none;
	color: black;
	z-index: 3;
	line-height: 100%;
}

.tab09:hover {
	text-decoration: underline;
	background-image: url(../../media/tab01b.gif);
}

.tab09_9{
	position: absolute;
	top: 0; 
	left: 575px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02.gif);
	color: #ffffff;
	text-align: center;
	z-index: 19;
	line-height: 100%;
}

.tab10 {
	position: absolute;
	display: block;
	top: 0;
	left: 770px;
	width: 133px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab03_k.gif);
	text-align: center;
	color: black;
	z-index: 0;
	text-decoration: none;
	line-height: 100%;
}

.tab10:hover {
	background-image: url(../../media/tab03b_k.gif);
	text-decoration: underline;
}

.tab10_10{
	position: absolute;
	display: block;
	top: 0; 
	left: 790px;
	width: 114px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab04_k.gif);
	color: #ffffff;
	z-index: 20;
	line-height: 100%;
}

.tab10_10k{
	position: absolute;
	display: block;
	top: 0; 
	left: 770px;
	width: 133px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab04k.gif);
	color: #ffffff;
	z-index: 20;
	line-height: 100%;
}

.tab11 {
	position: absolute;
	display: block;
	top: 0;
	left: 645px;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab01.gif);
	background-repeat:no-repeat;
	color: black;
	text-decoration: none;
	z-index: 2;
	line-height: 100%;
}

.tab11:hover {
	background-image:url(../../media/tab01b.gif);
	text-decoration: underline;
}

.tab11_11{
	position: absolute;
	display: block;
	top: 0;
	left: 645px;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab02.gif);
	background-repeat:no-repeat;
	color: ffffff;
	z-index: 20;
	line-height: 100%;
}

.tab12 {
	position: absolute;
	display: block;
	top: 0;
	left: 708px;
	width: 93px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab03hobby.gif);
	background-repeat:no-repeat;
	color: black;
	text-decoration: none;
	z-index: 1;
	line-height: 100%;
}
.tab12:hover {
	background-image: url(../../media/tab03bhobby.gif);
	text-decoration: underline;
}

.tab12_12{
	position: absolute;
	display: block;
	top: 0;
	left: 708px;
	width: 93px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab04hobby.gif);
	background-repeat:no-repeat;
	color: ffffff;
	z-index: 20;
	line-height: 100%;
}
.tab3ad{
	display: block;
	float: left;
	width: 90px;
	margin-top: 0;
	margin-right: 4px;
	margin-bottom: 0;
	padding: 0;
	border: solid 1px #990066;
	background-color: #fffeff;
	color: black;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.tab3ad:hover {
	background-color: #ccffff;
}

.tab4ad{
	float: left;
	width: 90px;
	margin-right: 4px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
	border:solid 1px #990066;
	background-color: #ff66ff;
	color: white;
	text-align: center;
	font-weight: bold;
}

a.tab_submenu{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
}

.tab_submenu:hover{
	color: #ffafaf;
}

.teika{
	color: blue;
	text-align: right;
}

.baika{
	color:red;
	text-align: right;
}

.urazi {
 	margin: 0;
	padding: 0;
	background-color: #afafff;
 }

/* mainNavi アダルト
----------------------------------------------- */

.tab01ad {
	position: absolute;
	top: 0; 
	left: 0;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 10;
	line-height: 100%;
}
.tab01ad:hover {
	background-image: url(../../media/tab01b_ad.gif);
	text-decoration: underline;
}
.tab01_1ad{
	position: absolute;
	top: 0; 
	left: 0;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 11;
	line-height: 100%;
}
.tab02ad {
	position: absolute;
	top: 0; 
	left: 70px;
	display: block;
	width: 118px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab03_ad.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 9;
	line-height: 100%;
}

.tab02ad:hover {
	background-image: url(../../media/tab03b_ad.gif);
	text-decoration: underline;
}

.tab02_2ad{
	position: absolute;
	top: 0;
	left: 70px;
	display: block;
	width: 118px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab04_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 12;
	line-height: 100%;
}

.tab03ad {
	position: absolute;
	top: 0; 
	left: 180px;
	width: 78px;
	height: 17px;
	display: block;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 8; 
	line-height: 100%;
}

.tab03ad:hover {
	background-image: url(../../media/tab01b_ad.gif);
	text-decoration: underline;
}

.tab03_3ad{
	position: absolute;
	top: 0;
	left: 180px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 13;
	line-height: 100%;
}

.tab04ad {
	position: absolute;
	top: 0; 
	left: 250px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	color: black;
	text-align: center;
	text-decoration: none;
	z-index: 7; 
	line-height: 100%;
}

.tab04ad:hover {
	background-image: url(../../media/tab01b_ad.gif);
	text-decoration: underline;
}

.tab04_4ad{
	position: absolute;
	top: 0; 
	left: 250px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 14; 
	line-height: 100%;
}

.tab05ad {
	position: absolute;
	top: 0; 
	left: 250px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	color: black;
	text-decoration: none;
	text-align: center;
	z-index: 6; 
	line-height: 100%;
}

.tab05ad:hover {
	text-decoration: underline;
	background-image: url(../../media/tab01b_ad.gif);
}

.tab05_5ad{
	position: absolute;
	display: block;
	z-index: 15; 
	text-align: center;
	padding-top: 8px;
	width: 78px;
	height: 17px;
	top: 0; 
	left: 250px;
	color: #ffffff;
	background-image: url(../../media/tab02_ad.gif);
	line-height: 100%;
}

.tab06ad {
	position: absolute;
	text-decoration: none;
	display: block;
	z-index: 5; 
	text-align: center;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	width: 78px;
	height: 17px;
	top: 0; 
	left: 320px;
	color: black;
	line-height: 100%;
}

.tab06ad:hover {
	background-image: url(../../media/tab01b_ad.gif);
	text-decoration: underline;
}

.tab06_6ad {
	position: absolute;
	top: 0; 
	left: 320px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 16;
	line-height: 100%;
}

.tab07ad {
	position: absolute;
	top: 0;
	left: 390px;
	color: black;
	display: block;
	text-align: center;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	text-decoration: none;
	z-index: 4;
	line-height: 100%;
}

.tab07ad:hover {
	background-image: url(../../media/tab01b_ad.gif);
	text-decoration: underline;
}

.tab07_7ad {
	position: absolute;
	top: 0;
	left: 390px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 17;
	line-height: 100%;
}

.tab08ad {
	position: absolute;
	top: 0;
	left: 460px;
	color: black;
	display: block;
	text-align: center;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	text-decoration: none;
	z-index: 3;
	line-height: 100%;
}

.tab08ad:hover {
	background-image: url(../../media/tab01b_ad.gif);
	text-decoration: underline;
}

.tab08_8ad {
	position: absolute;
	top: 0;
	left: 460px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 18;
	line-height: 100%;
}
.tab09ad {
	position: absolute;
	top: 0;
	left: 530px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab01_ad.gif);
	text-align: center;
	text-decoration: none;
	color: black;
	z-index: 2;
	line-height: 100%;
}

.tab09ad:hover {
	text-decoration: underline;
	background-image: url(../../media/tab01b_ad.gif);
}

.tab09_9ad{
	position: absolute;
	top: 0; 
	left: 530px;
	display: block;
	width: 78px;
	height: 17px;
	padding-top: 8px;
	background-image: url(../../media/tab02_ad.gif);
	color: #ffffff;
	text-align: center;
	z-index: 19;
	line-height: 100%;
}

.tab10ad {
	position: absolute;
	display: block;
	top: 0;
	left: 700px;
	width: 133px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab03_k.gif);
	background-repeat:no-repeat;
	color: black;
	text-decoration: none;
	z-index: 0;
	line-height: 100%;
}

.tab10ad:hover {
	background-image: url(../../media/tab03b_k.gif);
	text-decoration: underline;
}

.tab10_10ad{
	position: absolute;
	display: block;
	top: 0; 
	left: 700px;
	width: 133px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../media/tab04_k.gif);
	background-repeat:no-repeat;
	color: black;
	z-index:20;
	line-height: 100%;
}

.tab11ad {
	position: absolute;
	display: block;
	top: 0;
	left: 600px;
	width: 109px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../pics/tab07_ad.gif);
	background-repeat:no-repeat;
	color: black;
	text-decoration: none;
	z-index: 0;
	line-height: 100%;
}

.tab11ad:hover {
	background-image:url(../../pics/tab07b_ad.gif) ;
	text-decoration: underline;
}

.tab11_11ad{
	position: absolute;
	display: block;
	top: 0;
	left: 600px;
	width: 109px;
	height: 17px;
	padding-top: 8px;
	text-align: center;
	background-image: url(../../pics/tab07a_ad.gif);
	background-repeat:no-repeat;
	color: #ffffff;
	z-index: 20;
	line-height: 100%;
}

/* subNav_ad（アダルトメニュー下部）
----------------------------------------------- */
#subNav_ad {
	position: absolute;
	display: block;
	top: 127px;
	width: 900px;
	color: #ffffff;
	padding-top:3px;
	padding-bottom:4px;
	text-align: left;
	font-size: 0.85em;
	background-color:#ffccff;
}

#blockBanner_ad {
	position: absolute;
	text-align:center;
	width: 900px;
	top: 151px;
	margin: 0;
}
/* topicPath_no（広告無し）
----------------------------------------------- */
#topicPath_no a:link {
	color: #333333;
	text-decoration: none;
}

#topicPath_no a:visited {
	color: #666666;
	text-decoration: none;
}

#topicPath_no a:hover {
	color: #333333;
	text-decoration: underline;
}

#topicPath_no {
	position: absolute;
	top: 150px;
	margin-left: 0;
	padding-top: 1px;
	line-height: 100%;
	font-size: 0.75em;
	z-index: 1;
	width: 480px;
}/* タブバナーがない場合上下幅<内容>
----------------------------------------------- */
#container_no {
	width: 900px;
	margin: 0 auto;
	padding-top: 60px;
	text-align: left;
}

/* トップバナー画像
----------------------------------------------- */

img.sale_img {
	margin-bottom:5px;
}

.side_bn {
	margin-top:5px;
	margin-bottom:5px;
}

/* レトロゲーム　メーカー
----------------------------------------------- */
H3.komidasi{
	font-size:100%;
	font-weight:normal;
	text-align:center;
	height:150%;
	line-height:150%;
	background-color:#FFFFDF;
	color:#AAAA00;
	margin-top:0px;
	margin-bottom:0px;

}
.sidemidashi {
	font-size: 80%;
	color: #000000;
	background-color: #FFFFCC;
}

#header {
	clear: both;
	margin-right: auto;
	margin-left: auto;
	width: 900px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.brandList_plamo li {
	float:left;
	width: 126px;
}
.brandList_plamo {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.brandList_plamo dd {
	margin-bottom: 14px;
}
.brandList_plamo dt {
	margin: 0px;
	padding: 0px;
}
#brandList_box {
	font-size: 14px;
	margin-left: 10px;
	clear: both;
}
.qa_list h4 {
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka−等幅", Osaka-mono, monospace;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: #FC6;
	padding-bottom: 2px;
	width: 720px;
}
.toTop {
	text-align: right;
}
#kokuchi span {
	color: #F00;
	font-weight: bold;
}
#kokuchi_2 {
	text-align: right;
}
#tenpo_jyokyo span {
	color: #F00;
	font-weight: bold;
}#tenpo_jyokyo {
	background-color: #FF9;
	padding: 6px;
}
#topicPath_itemdetail {
	position: absolute;
	top: 180px;
	width: 900px;
	height:30px;
	margin-left: 0;
	padding-top: 1px;
	line-height: 100%;
	font-size: 0.75em;
	z-index: 1;
	background-image:url(../../pics/no_cache/okaiage.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.banner_space {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 180px;
	width: 540px;
}
.bn_m {
	height: 80px;
	width: 250px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.bn_l {
	height: 90px;
	width: 520px;
	margin-left: 10px;
	margin-bottom: 10px;
}
/* まとめ売りセール

----------------------------------------------- */
#matomeurinew {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-bottom: 10px;
	padding-left: 10px;
}
#matomeurinew .matomeuri_box {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	clear: both;
	float: left;
	padding-top: 3px;
}
#matomeurinew h2 {
	margin-right: auto;
	margin-left: auto;
}
#matomeurinew .tit {
	height: 23px;
	font-size: 16px;
	font-weight: bold;
	color:#FFFFFF;
	padding-top: 7px;
	padding-left: 10px;
	background-color: #FF6600;
	margin:0;
}
#matomeurinew .date {
	font-size: 12px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	background-color: #FFFF66;
	color: #333333;
	margin:0;
}
#matomeurinew dl {
	display: block;
	width: 520px;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-collapse: collapse; /* 枠線の表示方法 */
	border: 1px #FF6600 solid; 	
	margin-bottom: 3px;
	float: left;
}
#matomeurinew dt {
	font-size: 100%;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	margin-bottom: 5px;
}
#matomeurinew .pic {
	float: left;	
	padding-top: 8px;	
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#matomeurinew .btn {
	float: right;
	padding-top:20px;
	padding-right: 10px;
	padding-bottom: 2px;
}
#matomeurinew .rate {
	font-size: 12px;
	color: #FF0000;
	line-height: 120%;
	font-weight: bold;	
	float: left;
	display: block;
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right:8px;
}
#matomeurinew .genre {
	font-size: 12px;
	color: #333333;
	padding-top: 8px;		
	padding-bottom: 2px;
	float: left;
	line-height: 120%;
	padding-left: 5px;
	display: block;
	width: 415px;
}
#matomeurinew .rate2 {
	font-size: 12px;
	color: #FF0000;
	line-height: 120%;
	font-weight: bold;	
	float: left;
	display: block;
	width: 150px;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right:10px;
}
#matomeurinew .genre2 {
	font-size: 12px;
	color: #333333;
	padding-top: 8px;		
	padding-bottom: 5px;
	float: left;
	line-height: 120%;
	padding-left: 5px;
	padding-right:5px;
	display: block;
	width: 230px;
}
#matomeurinew .btn2 {
	float: right;
	padding-right: 10px;

}

/* まとめ売りセール（天地サイズ縮小版）
----------------------------------------------- */

#matomeuribn {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-bottom: 10px;
	padding-left: 10px;
}

#matomeuribn .matomeuri_box {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	clear: both;
	float: left;
	padding-top: 3px;
}

#matomeuribn h2 {
	margin-top:10px;
	margin-bottom:5px;
	margin-right: auto;
	margin-left: auto;
}

#matomeuribn .tit {
	height: 18px;
	font-size: 14px;
	font-weight: bold;
	color:#FFFFFF;
	padding-top: 7px;
	padding-left: 10px;
	background-color: #FF6600;
	margin:0;
}

#matomeuribn .date {
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align:center;
	background-color: #FFFF66;
	color: #333333;
	margin-bottom:3px;
}
#matomeuribn dl {
	display: block;
	width: 520px;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-collapse: collapse; /* 枠線の表示方法 */
	border: 1px #FF6600 solid; 	
	margin-bottom: 3px;
	float: left;
}
#matomeuribn dt {
	font-size: 100%;
	padding-bottom: 2px;
	border-bottom-width: 1px;
	margin-bottom: 0px;
}

#matomeuribn .pic {
	float: left;	
	padding-top: 8px;	
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#matomeuribn .rate {
	font-size: 12px;
	color: #FF0000;
	line-height: 120%;
	font-weight: bold;	
	float: left;
	display: block;
	width: 150px;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right:10px;
}
#matomeuribn .genre {
	font-size: 12px;
	color: #333333;
	padding-top: 8px;		
	padding-bottom: 5px;
	float: left;
	line-height: 120%;
	padding-left: 5px;
	padding-right:5px;
	display: block;
	width: 230px;
}
#matomeuribn .pcrate {
	font-size: 12px;
	color: #FF0000;
	line-height: 120%;
	font-weight: bold;	
	float: left;
	display: block;
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right:8px;
}

#matomeuribn .pcgenre {
	font-size: 12px;
	color: #333333;
	padding-top: 8px;		
	padding-bottom: 2px;
	float: left;
	line-height: 120%;
	padding-left: 5px;
	display: block;
	width: 415px;
}

#matomeuribn .btn {
	float: right;
	padding-right: 10px;
}

/* BEGIN No38 */
#utility.reverse {
    margin-left: 700px;
    padding: 0;
    width: 200px;
	margin-top: 3px;
}
#utility.reverse li{
	float:right;
	letter-spacing: 0.08em;
}
#utility.reverse li a{
	color: #666;
}
#utility.reverse .atoo {
	width: 68px;
}
#utility.reverse .vertical-line {
	color: #BBB;
	width: 19px;
	text-align: center;
}

#blockMyPage {
	margin-left: 608px;
	padding: 0px;
	position: absolute;
	top: 35px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
#blockMyPage span {
	letter-spacing: 0.08em;
}
#blockMyPage .user-icon {
	background: url("../../media/user.png") no-repeat;
	width: 9px;
	height: 15px;
	float: left;
	margin-right:5px;
}
#blockMyPage .header-mypage-text {
	color: #006ac4;
	letter-spacing: 0.08em;
}
#blockMyPage .logout {
	color: #000000;
}
#blockMyPage.nologin {
	font-weight: 700;
	top: 45px;
	margin-left: 630px;
}

#blockCart {
	margin-left: 725px;
	padding: 0px;
	position: absolute;
	top: 28px;
	width: 160px;
	height: 35px;
	padding: 3px 6px;
	border: 1px solid #dedede;
	border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}
#blockCart > div,
#blockCart .cart-wrapper > * {
	float: left;
}
#blockCart .cart-wrapper .cart-img {
	background-image: url("../../media/cart.png");
	width: 32px;
	height: 28px;
	margin: 3px 0 3px 3px;
}
#blockCart .cart-wrapper .cart-number {
	color: #FF8C00;
    display: block;
    font-family: arial;
    font-size: 11px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    width: 36px;
	text-decoration: none;
	height:29px;
}
#blockCart .cart-text {
	margin: 10px 0;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 0.16em;
	width: 54px;
	text-align: center;
}
#blockCart .price-text {
	margin: 10px 0;
	font-weight: 700;
	font-size: 14px;
	width: 68px;
	text-align: center;
}
#blockCart .price-text {
	color: #ff0000;
}
#blockCart .vertical-line {
	width: 1px;
	height: 30px;
	border-left: 1px solid #ccc;
	margin-top: 3px;
}
/* END No38 */

.related_items .related-product-item {
	float: left;
	width: 16%;
	margin: 0 2px;
	color: #333333;
	font-size: 12px;
}
.related-product-item .related-product-content .kishu-text,
.related-product-item .related-product-content .title-wrapper {
	overflow: hidden;
	width: 95%;
}
.related-product-item .related-product-content .kishu-text {
	height: 12px;
}
.related-product-item .related-product-content .title-wrapper {
	height: 50px;
}
.related-product-item .related-product-content .title-wrapper a {
	color: #0E83CD;
	word-break: break-all;
	height: 100%;
	display: block;
}
.related-product-item .related-product-content .final-price {
	color: #F70307;
}
.related-product-item .related-product-content .before-discount-price {
	text-decoration: line-through;
}

.onepress-block {
	width: 48%;
	margin: 1em 5px;
	display: inline-block;
}
.banner-ads-block {
	text-align: center;
	margin-bottom: 10px;
}
