@charset "Shift_JIS";
/*
-----------------------------------------------
www.suruga-ya.jp IE Win Hack Styles

Author: Masayuki Shimizu (Act System Inc.)
Version: 1.0
----------------------------------------------- */


/* hacksIeWin
----------------------------------------------- */
* html #logo a {
    text-indent /**/: 0;
    height /**/: 48px;
    padding-top /**/: 48px;
    overflow /**/: hidden;
}

* html h1 {
	height: 130px;
}

* html #mainNav {
	top: 81px;
}

* html #footer {
	height: 47px;
}

* html #utility .icon01, * html #utility .icon02, * html #utility .icon03 {
	height: 37px;
}

* html address {
	margin-top: 5px;
}