@charset "euc-jp";

/* reset style
----------------------------------------------- */

body, div, dl, dt, dd, ul, ol, li, h2, h3, h4, h5, h6, pre, form, 
fieldset, input, textarea, p, blockquote, th, td{
    margin: 0; 
    padding: 0;
}
ol, ul{
    list-style:none;
}
fieldset, img{
	border:0;
	margin: 0px;
	padding: 0px;
}
caption, th{
    text-align: left;
}
address, caption, cite, code, dfn, em, th, var{
    font-style: normal; 
    font-weight: normal;
}

/*
-----------------------------------------------

layout.cgi css

----------------------------------------------- */




/* cgi h2,h3
----------------------------------------------- */

h2.shohin{
	margin-left:5px;
	margin-bottom:2px;
	clear:both;
}
h2.cd{
	padding-left:25px;
	background-image:url("/pics/cd2.gif");
	background-repeat:no-repeat;
}

h2.dvd{
	padding-left:25px;
	background-image:url("/pics/dvd2.gif");
	background-repeat:no-repeat;
}

h2.toreka{
	padding-left:25px;
	background-image:url("/pics/toreka2.gif");
	background-repeat:no-repeat;
}

h2.figure{
	padding-left:25px;
	background-image:url("/pics/fg2.gif");
	background-repeat:no-repeat;
}

h2.tvgame{
	padding-left:25px;
	background-image:url("/pics/gamet.gif");
	background-repeat:no-repeat;
}
h2.portablegame{
	padding-left:25px;
	background-image:url("/pics/gamep.gif");
	background-repeat:no-repeat;
}

h2.pc{
	padding-left:25px;
	background-image:url("/pics/pc2.gif");
	background-repeat:no-repeat;
}

h2.book{
	padding-left:25px;
	background-image:url("/pics/book.gif");
	background-repeat:no-repeat;
}

h3.shohin{
	font-size:13px;
	padding-left:5px;
	font-weight:normal;
	width:98%;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	margin-bottom:5px;
}

/* cgi sreview
----------------------------------------------- */

div.sreview{
	overflow:auto;
	height:2.5em;
	padding-bottom:5px;
	}
div.sreview:hover{
	overflow:visible;
	height:auto;
	}
	
/* old style
----------------------------------------------- */
	
SPAN.chuko{
	color:#ff6600;
}

SPAN.shinpin{
	color:#009900;
}

SPAN.yoyaku{
	color:#ff1493;
}

TABLE.ichi{
	width:98%;
	height:145px;
	font-size:13px;
	margin-top:3px;
	border-style:dashed;
	border-width:1px;
	border-color:#FFE000;
}

TABLE.ichi{
	width:98%;
	height:145px;
	font-size:13px;
	margin-top:3px;
	border-style:dashed;
	border-width:1px;
	border-color:#FFE000;
}


/* base style
----------------------------------------------- */

.item_price {
	text-align: right;
	margin: 0px;
	padding: 0px;
}
.red {
	color: #F00;
}
.strike {
	font-weight: normal;
	text-decoration: line-through;
}
.new_item {
	color: #009900;
	font-weight: normal;
}
.used_item {
	font-weight: normal;
	color: #ff6600;
}
.pre_item {
	font-weight: normal;
	color: #ff1493;
}
.item_flame {
	width: 98%;
	clear: both;
	font-size: 13px;
}
.item_flame ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	clear: both;
}
.item25 {
	float: left;
	width: 25%;
}


/* item S
----------------------------------------------- */
.itemBox_s {
	width: 98%;
	clear: both;
	margin: 0px;
	padding: 0px;
}
.itemBox_s h2 {
	width: 98px;
	height: 25px;
	margin-bottom: 10px;
	padding: 0px;
}
.itemDetail_s h3 {
	font-size: 13px;
}
.itemImg_s {
	width: 120px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.itemDetail_s {
	width: 400px;
	font-size: 16px;
	padding-left:3px;
	vertical-align: top;
	float: right;
}
.item_explanation {
	margin: 0px;
	padding: 0px;
}


/* item SS
----------------------------------------------- */
.sreview{
	overflow:auto;
	height:2.5em;
	padding-bottom:5px;
}	
.sreview:hover{
	overflow:visible;
	height:auto;
}
.itemBox_ss {
	width: 98%;
	clear: both;
	padding-top: 10px;
	margin: 0px;
}
.itemImg_ss {
	width: 90px;
	text-align: center;
	vertical-align: top;
	float: left;
}
.itemDetail_ss {
	font-size: 15px;
	vertical-align: top;
	float: right;
	width: 430px;
}
.itemDetail_ss h3 {
	font-size: 13px;
}


/* ichiosi item
----------------------------------------------- */

.ichiosi {
	border: 1px dashed #0055ff;
	clear: both;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
}
.ichiosi dt {
	width: 120px;
	float: left;
	text-align: center;
}
.ichiosi_half {
	width:48%;
	border: 1px dashed #0055ff;
	height: 120px;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 4px;
	padding-left: 4px;
}
.ichiosi_half dt {
	width: 70px;
	float: left;
	text-align: center;
}
.ichiosi_half dd {
	width: 180px;
	float: right;
}




#toreka_topics {
	width: 530px;
	padding-left: 10px;
	list-style-type: none;
	font-size: 85%;
	line-height: 200%;
	list-style-position: inside;
	list-style-image: url(../pics/zassi/pt_red.gif);
}
.to_ichiran {
	text-align: right;
	padding: 3px;
	width: 168px;
	clear: both;
	margin: 5px;
	font-size: 75%;
}
