@charset "Shift_JIS";

hr {
	border:#003399 1px solid;
}
.side_bn_top {
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
}

.side_bn {
	margin-bottom: 5px;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
}

#menu p span {
	font-size: 60%;
}
.clearfix:after {
	content: ""; 
	display: block; 
	clear: both;
}

#rss_icons {
	text-align: right;
	margin-right: 4px;
}
.ichiosi dt {
	width: 120px;
	float: left;
	text-align: center;
}
.osirase {
	background-color: #FFC;
	font-size: 13px;
}
