/* promotion-content */
.promotion-content {
  background:#18364e;
  color:#fff;
}
.promotion-content h4 {
  margin:-30px 0 30px;
  text-transform:uppercase;
  font-size:3rem;
  line-height:30px;
  color:#fc7438;
}
.promotion-content h4 a {
  color:#fc7438;
}
.promotion-content .view-content {
  margin:0 0 0 -35px;
}
.promotion-content .views-row {
  float:left;
  width:33.3333%;
}
.promotion-content .views-row-1 {
  width:100%;
}
.promotion-content .views-row-inner {
  position:relative;
  margin:0 0 0 35px;
  padding:35px 0 0;
  border-top:1px solid #5a81a0;
  overflow:hidden;
}
.promotion-content .views-row-1 .views-row-inner {
  margin-bottom:35px;
  padding:0;
  border:none;
}
.promotion-content .views-field-field-cover-media {
  float:left;
  width:50%;
  margin:0 15px 0 0;
}
.promotion-content .views-row-1 .views-field-field-cover-media {
  width:300px;
  margin:0 35px 0 0;
}
.promotion-content .info {
  margin:0 0 0 50%;
  padding:0 0 0 15px;
}
.promotion-content .views-row-1 .info {
  margin:0 0 0 300px;
  padding:0 0 0 35px;
}
.promotion-content .views-field-title {
  margin:0 0 5px;
  font-size:1.5rem;
  line-height:16px;
  font-weight:bold;
}
.promotion-content .views-row-1 .views-field-title {
  margin:0 0 10px;
  font-size:4.4rem;
  line-height:48px;
}

@media screen and (max-width:969px) {
  .promotion-content h4 {
    margin:-20px 0 30px;
  }
  .promotion-content .views-row-1 .views-field-field-cover-media {
    float:left;
    width:50%;
    margin:0;
  }
  .promotion-content .views-row-1 .views-field-field-cover-media .field-content {
    margin:0 20px 0 0;
  }
  .promotion-content .views-row-1 .info {
    margin:0 0 0 50%;
    padding:0;
  }
  .promotion-content .views-row-1 .views-field-title {
    font-size:3.2rem;
    line-height:34px;
  }
  .promotion-content .views-field-field-cover-media {
    float:none;
    width:auto;
    margin:0 0 15px;
  }
  .promotion-content .info {
    margin:0;
    padding:0;
  }
}

@media screen and (max-width:700px) {
  .promotion-content h4 {
    margin:-20px 0 20px;
  }
  .promotion-content .views-row-1 .views-row-inner {
    margin-bottom:30px;
  }
  .promotion-content .views-row-1 .views-field-title {
    font-size:2.5rem;
    line-height:25px;
  }
}

@media screen and (max-width:600px) {
  .promotion-content h4 {
    margin:-20px 0 20px;
  }
  .promotion-content .view-content {
    margin:0;
  }
  .promotion-content .views-row {
    width:100%;
    margin:0 0 20px;
  }
  .promotion-content .views-row-last {
    margin:0;
  }
  .promotion-content .views-row-inner {
    margin:0;
    padding:0;
    border:0;
    overflow:visible;
  }
  .promotion-content .views-row-1 .views-row-inner {
    margin:0;
  }
  .promotion-content .views-field-field-cover-media {
    margin:0 0 12px;
  }
  .promotion-content .views-row-1 .views-field-field-cover-media {
    float:none;
    width:auto;
    margin:0 -20px 12px;
  }
  .promotion-content .views-row-1 .views-field-field-cover-media .field-content {
    margin:0;
  }
  .promotion-content .views-row-1 .info {
    margin:0;
  }
  .promotion-content .views-row-1 .views-field-title {
    margin:0 0 5px;
    font-size:2rem;
    line-height:22px;
  }
}

@media screen and (max-width:530px) {
  .promotion-content h4 {
    font-size: 2rem;
    line-height: 20px;
  }
}

@media screen and (max-width:420px) {
  .promotion-content h4 {
    margin:0 0 20px;
  }
}