/* Covers & Social */
.newspaper-list {
  margin:0 0 0 -35px;
}
.newspaper-list .cover-teaser {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.cover-teaser .inner {
  position:relative;
  margin:0 0 35px 35px;
  text-align:center;
}
.cover-teaser .cover {
  margin:0 0 12px;
  padding:15px;
  line-height:0;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
}
body:not(.touch) .cover-teaser .inner:hover .cover {
  box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
}
.cover-teaser .name {
  font-size:1.6rem;
  font-weight:bold;
  text-overflow:ellipsis;
  overflow:hidden;
}
.cover-teaser a {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#fff;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  text-indent:-9999px;
  overflow:hidden;
}
.covers-social .empty {
  text-align:center;
  margin:0 0 35px;
}

@media screen and (max-width:969px) {
  .newspaper-list .cover-teaser {
    width: 33.3333%;
  }
  .covers-social .cover-teaser {
    width: 50%;
  }
}

@media screen and (max-width:600px) {
  .newspaper-list .cover-teaser {
    width: 50%;
  }
  .cover-teaser .cover {
    padding: 8px;
  }
}

@media screen and (max-width:420px) {
  .newspaper-list {
    margin: 0 0 20px -20px;
    text-align: center;
  }
  .newspaper-list .cover-teaser {
    width: auto;
  }
  .cover-teaser .inner {
    margin: 0 0 20px 20px;
  }
  .cover-teaser .name {
    font-size: 1.4rem;
    line-height: 16px;
  }
}
