/* Main articles */
.home-main {
  padding:30px;
}
.home-main .view-content {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 0 0 -15px;
}
.home-main .views-row {
  float:left;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:25%;
}
.home-main .views-row-1 {
  width:100%;
}
.home-main .views-row-inner {
  position:relative;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  margin:0 0 15px 15px;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
}
body:not(.touch) .home-main .views-row-inner:hover {
  box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
}
.home-main .views-row:not(.views-row-1) .views-row-inner {
  padding:15px 15px 40px;
}
.home-main .views-row:not(.views-row-1) .views-field-field-cover-media {
  margin:-15px -15px 15px;
}
.home-main .labeled:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  margin:0;
  opacity:1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.home-main .views-row-1 .views-field-field-cover-media:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  margin:0;
  opacity:1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.home-main .views-row-1 .views-field-disqus-comment-count {
  position:absolute;
  top:25px;
  right:25px;
  z-index:3;
  float:none;
  padding:0;
}
.home-main .with-related .views-field-disqus-comment-count {
  right:25%;
  padding:0 12px 0 0;
}
.expandable-social {
  display:inline-block;
  margin:0 7px 0 0;
}
.expandable-social .share-icon {
  float:left;
  width:40px;
  height:40px;
  border:1px solid rgba(255, 255, 255, 0.2);
  border-radius:3px;
  text-indent:-9999px;
  overflow:hidden;
  background:#e1e6eb url(../../images/sprite.svg) -345px -94px no-repeat;
  background-color:rgba(0, 0, 0, 0.5);
}
.expandable-social:hover .share-icon {
  display:none;
}
.expandable-social .social {
  display:none;
}
.expandable-social:hover .social {
  display:block;
}
.home-main .views-row-1 .comments-counter {
  position:relative;
  display:inline-block;
  vertical-align:top;
  height:24px;
  padding:8px 12px 8px 42px;
  border:1px solid rgba(255, 255, 255, 0.2);
  border-radius:3px;
  font-size:1.8rem;
  line-height:24px;
  background-color:rgba(0, 0, 0, 0.5);
  color:#fff;
}
.home-main .views-row-1 .comments-counter:before {
  top:11px;
  left:13px;
  width:17px;
  height:17px;
  background:url(../../images/sprite.svg) -362px -188px no-repeat;
}
.home-main .views-row-1 .info {
  position:absolute;
  bottom:0;
  left:0;
  right:180px;
  z-index:2;
  padding:25px;
  color:#fff;
}
.home-main .with-related .info {
  right:25%;
}
.home-main .breaking-label {
  display:none;
}
.home-main .views-field-title {
  margin:0 0 10px;
  font-size:2rem;
  line-height:20px;
  font-weight:bold;
  color:#2f2f2f;
}
.home-main .views-row-1 .views-field-title {
  margin:0 0 12px;
  font-size:6rem;
  line-height:60px;
  letter-spacing:-1px;
  color:#fff;
}
.home-main .views-row-1 .views-field-body {
  margin:0 0 15px;
  font-size:1.6rem;
  line-height:22px;
  color:#fff;
}
.home-main .views-row-1 .views-field-field-main-category {
  float:left;
    margin:0 5px 0 0;
    font-size:1.2rem;
    line-height:13px;
    font-family:'Roboto Slab',serif;
  color:#b0beca;
}
.home-main .bottom-info {
  margin:0 15px;
}
.home-main .breaking-frame span {
  left:15px;
}
.home-main .views-row-1 .breaking-frame span {
  left:25px;
  padding:8px 12px;
  font-size:2rem;
  line-height:24px;
}
.home-main .views-field-field-article-label {
  position:relative;
  z-index:1;
  height:21px;
  margin:-53px 0 30px;
}
.home-main .views-row-1 .views-field-field-article-label {
  height:auto;
  margin:0;
}
.home-main .label:not(.breaking-label) {
  display:inline-block;
  max-width:calc(100% - 42px);
  border-top:2px solid #fc7438;
  border-bottom:2px solid #fc7438;
  font-size:1.2rem;
  line-height:17px;
  font-weight:bold;
  color:#fff;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.home-main .views-row-1 .label:not(.breaking-label) {
  max-width:none;
  margin:0 0 15px;
  font-size:2rem;
  line-height:28px;
}
.home-main .promo-related {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  z-index:3;
  width:calc(25% - 12px);
  background:#000;
  background-color:rgba(0, 0, 0, 0.35);
  overflow:hidden;
}
.promo-related .related-inner {
  padding:30px;
}
.promo-related h5 {
  font-size:1.4rem;
  text-transform:uppercase;
  font-weight:normal;
  color:#aad8ef;
}
.promo-related .view-content {
  display:block;
  margin:0;
  color:#fff;
}
.promo-related .views-row {
  display:block;
  float:none;
  width:auto;
  border-top:1px solid rgba(176, 190, 202, 0.4);
}
.promo-related .views-row-1 {
  border:0;
}
.home-main .views-row-1 .promo-related .views-row-inner {
  margin:0;
  padding:20px 0;
  background:none;
  box-shadow:0 0 0 #000;
  overflow:hidden;
}
body:not(.touch ) .home-main .promo-related .views-row-inner:hover {
  box-shadow:0 0 0 #000;
}
.home-main .promo-related .views-field-title {
  margin:0 0 8px;
  font-size:1.8rem;
  line-height:18px;
  letter-spacing:0;
}
.home-main .ad {
  margin:0 -15px 0 0;
  width:calc(100% + 15px);
}
.home-main .ad .adunit {
  padding:15px 0 30px;
}

@media screen and (max-width:969px) {
  .home-main {
    padding:15px;
  }
  .home-main .views-row-1 .info {
    right:0;
    padding:20px;
  }
  .home-main .views-row-1 .label:not(.breaking-label) {
    margin:0 0 10px;
    font-size:1.7rem;
    line-height:21px;
  }
  .home-main .views-row-1 .views-field-title {
    font-size:5.5rem;
    line-height:55px;
  }
  .home-main .promo-related {
    display:none;
  }
  .home-main .views-row-1 .views-field-disqus-comment-count {
    top:20px;
  }
  .home-main .with-related .views-field-disqus-comment-count {
    right:20px;
    padding:0;
  }
  .home-main .views-row:not(.views-row-1) {
    width:50%;
  }
}

@media screen and (max-width:700px) {
  .home-main .views-row-1 .views-field-title {
    font-size:4.5rem;
    line-height:45px;
  }
  .home-main .views-row-1 .views-field-body {
    display:none;
  }
}

@media screen and (max-width:600px) {
  .home-main .views-row-1 .comments-counter {
    display:none;
  }
  .expandable-social {
    margin:0;
  }
  .home-main .views-row-1 .label:not(.breaking-label) {
    margin:0 0 6px;
    font-size:1.2rem;
    line-height:15px;
  }
  .home-main .views-row-1 .views-field-title {
    font-size:2.8rem;
    line-height:30px;
  }
  .home-main .views-field-title {
    font-size:1.6rem;
    line-height:18px;
  }
}

@media screen and (max-width:420px) {
  .home-main {
    padding:0 20px;
  }
  .home-main .view-content {
    margin:0;
  }
  .home-main .views-row:not(.views-row-1) {
    width:100%;
  }
  .home-main .views-row-1 {
    width:calc(100% + 100px);
    margin:0 -50px;
  }
  .home-main .views-row-inner {
    margin:0 0 20px;
  }
  .home-main .views-row-1 .views-field-disqus-comment-count,
  .home-main .with-related .views-field-disqus-comment-count {
    top:12px;
    right:42px;
  }
  .home-main .views-row-1 .info {
    padding:20px 50px;
  }
  .home-main .views-row-1 .views-field-disqus-comment-count .comments-counter {
    display:none;
  }
  .home-main .views-row-1 .views-field-title {
    font-size:2rem;
    line-height:22px;
  }
  .home-main .views-field-body {
    display:none;
  }
  .home-main .views-row:not(.views-row-1) .views-field-field-cover-media {
    margin-bottom:10px;
  }
  .home-main .views-field-title {
    margin:0;
  }
  .home-main .bottom-info {
    bottom:15px;
  }
  .home-main .ad {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
  .home-main .ad .adunit {
    padding:0 0 20px;
  }
  .home-more-promo {
    margin-bottom: -15px;
  }
}