.main {
  padding-top:0;
}
.main > .content {
  padding-bottom: 0;
}
h2 {
  margin: 0 0 35px;
  text-align: center;
  font-size: 4rem;
  line-height: 40px;
  text-transform: uppercase;
  color: #18364e;
}
.side-title h2 {
  margin: 0 0 10px;
  text-align: left;
}
h2 span {
  display: inline-block;
  border-bottom: 2px solid #b5c2cd;
}
.padded h3 > * {
  display:inline-block;
  border-bottom:2px solid #b5c2cd;
  -webkit-transition:0.3s border-color;
  transition:0.3s border-color;
}
body:not(.touch) .padded h3 a:hover {
  border-color:#fc7438;
}
.dark-gray h3 a {
  border-color:#fff;
}

/* Secondary articles */
.home-secondary.vertical-teaser .views-row {
  width:50%;
  clear:none;
}
.home-secondary.vertical-teaser .views-row:nth-child(3n+1) {
  clear:none;
}
.home-secondary.vertical-teaser .views-row:nth-child(2n+1) {
  clear:left;
}

.home-more-promo {
  margin-bottom: -35px;
}

@media screen and (max-width:969px) {
  h2 {
    text-align:left;
  }
  .padded h3 > * {
    border:0;
  }
  h4.small-title {
    margin:-15px 0 35px;
    font-size:2rem;
    line-height:24px;
  }
}

@media screen and (max-width:700px) {
  h2 {
    margin:0 0 30px;
    font-size:3.5rem;
    line-height:35px;
  }
  h4.small-title {
    margin:-15px 0 25px;
  }
}

@media screen and (max-width:600px) {
  h2 {
    display:none;
  }
  .home-secondary.vertical-teaser .views-row {
    float:none;
    width:100%;
    margin:0;
    border-top:1px solid #e1e1e1;
  }
  .home-secondary.vertical-teaser .views-row-inner {
    min-height:100px;
    margin:0;
    padding:17px 0;
    box-shadow:0 0 0 #fff;
  }
  .home-secondary.vertical-teaser .views-field-field-cover-media {
    position:absolute;
    top:17px;
    bottom:17px;
    left:0;
    width:100px;
    height:auto;
    margin:0 13px 0 0;
  }
  .home-secondary.vertical-teaser .info {
    margin:0 0 0 113px;
  }
  .home-secondary.vertical-teaser .views-field-title {
    margin:0 0 8px;
    font-size:1.8rem;
    line-height:22px;
  }
  .home-secondary.vertical-teaser .bottom-info {
    position:static;
  }
}

@media screen and (max-width:420px) {
  h4.small-title {
    margin:0 0 20px;
    font-size:1.6rem;
    line-height:18px;
  }
  .home-secondary.vertical-teaser .views-field-title {
    margin:0 0 8px;
    font-size:1.5rem;
    line-height:18px;
  }
}
