/* Hot topics */
.hot-topics {
  padding:4px;
  border-bottom:1px solid #e1e1e1;
}
.hot-topics .block-inner {
  background:#f1f1f1;
}
.hot-topics h4 {
  position:relative;
  float:left;
  padding:10px 14px;
  text-transform:uppercase;
  font-size:1.8rem;
  line-height:20px;
  background:#fc7438;
  color:#fff;
}
.hot-topics h4:after {
  content:'';
  position:absolute;
  top:0;
  right:-5px;
  border-top:20px solid transparent;
  border-bottom:20px solid transparent;
  border-left:5px solid #fc7438;
}
.hot-topics .terms {
  height:40px;
  margin:0 20px 0 107px;
  overflow:hidden;
}
.hot-topics .terms li {
  float:left;
  list-style:none;
  margin:0 0 0 60px;
  padding:10px 0;
  font-size:1.7rem;
  line-height:20px;
  font-weight:bold;
}
.hot-topics .terms li a {
  color:#133c5e;
}

@media screen and (max-width:969px) {
  .hot-topics h4 {
    font-size:1.6rem;
  }
  .hot-topics .terms li {
    margin:0 0 0 35px;
    font-size:1.4rem;
  }
}

@media screen and (max-width:650px) {
  .hot-topics {
    display:none;
  }
}
