/*** X. General ***/
* {
  margin:0;
  padding:0;
  -webkit-tap-highlight-color:transparent;
}
.clearfix {
  *zoom:1;
  display:block;
}
* html .clearfix {
  height:1%;
}
.clearfix:before,
.clearfix:after {
  content:'';
  display:table;
}
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}
ul.primary {
  white-space:normal;
  clear:both;
}
ul.primary li {
  display:inline-block;
  margin:3px 0 0;
}

/* Responsive Media */
img,
audio,
video {
  max-width:100%;
  height:auto !important;
}
iframe,
object,
embed {
  max-width:100%;
  border: 0;
}

/* Fonts */
@font-face {
  font-family:'Proxima Nova';
  font-weight:normal;
  src:url('../../fonts/ProximaNova-Regular.eot');
  src:url('....//fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Regular.woff') format('woff');
}
@font-face {
  font-family:'Proxima Nova';
  font-weight:normal;
  font-style:italic;
  src:url('../../fonts/ProximaNova-RegularItalic.eot');
  src:url('../../fonts/ProximaNova-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-RegularItalic.woff2') format('woff2'),
    url('../../fonts/ProximaNova-RegularItalic.woff') format('woff');
}
@font-face {
  font-family:'Proxima Nova';
  font-weight:bold;
  src:url('../../fonts/ProximaNova-Extrabold.eot');
  src:url('../../fonts/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-Extrabold.woff2') format('woff2'),
    url('../../fonts/ProximaNova-Extrabold.woff') format('woff');
}
@font-face {
  font-family:'Proxima Nova';
  font-weight:bold;
  font-style:italic;
  src:url('../../fonts/ProximaNova-ExtraboldItalic.eot');
  src:url('../../fonts/ProximaNova-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/ProximaNova-ExtraboldItalic.woff2') format('woff2'),
    url('../../fonts/ProximaNova-ExtraboldItalic.woff') format('woff');
}
@font-face {
  font-family:'Roboto Slab';
  font-weight:normal;
  src:url('../../fonts/RobotoSlab-Regular.eot');
  src:url('../../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
    url('../../fonts/RobotoSlab-Regular.woff') format('woff');
}
@font-face {
  font-family:'Roboto Slab';
  font-weight:bold;
  src:url('../../fonts/RobotoSlab-Bold.eot');
  src:url('../../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/RobotoSlab-Bold.woff2') format('woff2'),
    url('../../fonts/RobotoSlab-Bold.woff') format('woff');
}


/* Image helpers */
.custom-style {
  position:relative;
  overflow:hidden;
  width:100%;
}
.custom-style img {
  position:absolute;
  left:0;
  width:100%;
}
.square-style,
.blogger-default-style,
.small-square-style {
  padding-bottom:100%;
}
.full-width-style {
  padding-bottom:56.1905%;
}
.mini-teaser-style {
  padding-bottom:58.3333%;
}
.main-photo-style {
  padding-bottom:60.625%;
}
.article-thumb-style {
  padding-bottom:55.7895%;
}
.default-teaser-style {
  padding-bottom:65.3846%;
}
.gallery-teaser-style {
  padding-bottom:56.383%;
}
.main-photo-portrait-style {
  padding-bottom:125.9842%;
}
.big-square-style {
  padding-bottom:100%;
}

/*** 0. Basic layout ***/
html {
  font-size:62.5%;
}
body {
  font:14px/18px 'Proxima Nova',sans-serif;
  color:#22282c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*-webkit-transform:translate3d(0, 0, 0);*/
}
#page {
  position:relative;
  background:#ededed;
  overflow:hidden;
}
a {
  color:#22282c;
  text-decoration:none;
}
a img {
  border:0;
}

/* Header */
#header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:6;
  height:100px;
  background:#133c5e;
}
#header.active-search {
  box-shadow: 0 3px 7px -3px rgba(120, 138, 148, 0.3);
}
.scrolled #header {
  height:70px;
}
.logo-area {
  position:relative;
  float:left;
  padding:25px 12px;
  width:170px;
  height:50px;
  text-align:center;
  background:#fc7438;
}
.scrolled .logo-area {
  padding:10px 12px;
}
.active-search .logo-area {
  background:#fff;
}
.main-logo {
  display:block;
  max-width:140px;
  margin:0 auto;
  line-height:0;
}
.active-search .logo-area .white-logo {
  display:none;
}
.orange-logo {
  display:none;
}
.active-search .logo-area .orange-logo {
  display:inline;
}
.site-name {
  display:block;
  margin:3px 0 0;
  font-size:1.2rem;
  line-height:20px;
  letter-spacing:2px;
  font-weight:bold;
  color:#fff;
}
.active-search .site-name {
  color:#fc7438;
}
.burger-menu {
  display:none;
  padding:0 10px;
  text-align:left;
  color:#fff;
  cursor:pointer;
}
.burger-menu .icon {
  position:relative;
  display:block;
  float:left;
  width:32px;
  height:2px;
  margin:7px 10px 0 0;
  background:#fff;
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
}
.open-menu .burger-menu .icon {
  box-shadow:inset 16px 0 0 0 #fc7438, inset -16px 0 0 0 #fc7438;
}
.open-menu .active-search .burger-menu .icon {
  box-shadow:inset 16px 0 0 0 #fff, inset -16px 0 0 0 #fff;
}
.burger-menu .icon:before,
.burger-menu .icon:after {
  content:'';
  position:absolute;
  top:-6px;
  left:0;
  right:0;
  height:2px;
  background:#fff;
  -webkit-transition:top 0.3s -webkit-transform 0.2s 0.3s;
  transition:top 0.3s, transform 0.2s 0.3s;
}
.burger-menu .icon:after {
  top:6px;
}
body:not(.touch) .burger-menu:hover .icon:before {
  top:-8px;
}
body:not(.touch) .burger-menu:hover .icon:after {
  top:8px;
}
.open-menu .burger-menu .icon:before,
body:not(.touch) .open-menu .burger-menu .icon:before {
  top:-6px;
  -webkit-transform:rotate(45deg) translate(5px,5px);
  transform:rotate(45deg) translate(5px,5px);
}
.open-menu .burger-menu .icon:after,
body:not(.touch) .open-menu .burger-menu .icon:after {
  top:6px;
  -webkit-transform:rotate(-45deg) translate(3px,-4px);
  transform:rotate(-45deg) translate(3px,-4px);
}
.active-search .burger-menu {
  color:#fc7438;
}
.active-search .burger-menu .icon,
.active-search .burger-menu .icon:before,
.active-search .burger-menu .icon:after {
  background:#fc7438;
}
.open-menu .article-header .burger-menu .icon {
  box-shadow:inset 16px 0 0 0 #ffffff, inset -16px 0 0 0 #ffffff;
}
.main-header {
  position:relative;
  margin:0 0 0 194px;
}
.main-header .social {
  position:absolute;
  top:15px;
  left:18px;
}
.social {
  border-radius:3px;
  overflow:hidden;
}
.social li {
  float:left;
  list-style:none;
  margin:0 0 0 1px;
}
.social li:first-child {
  margin:0;
}
.social li a {
  display:block;
  width:48px;
  height:40px;
  text-indent:-9999px;
  overflow:hidden;
  background:#b0beca url(../../images/sprite.svg) -218px -58px no-repeat;
  -webkit-transition:0.3s background-color;
  transition:0.3s background-color;
}
.main-header .social li a {
  background-color:#5a81a0;
}
body:not(.touch) .social li a:hover {
  background-color:#2f2f2f;
}
body:not(.touch) .main-header .social li a:hover {
  background-color:#375f7f;
}
.social li.fb a {
  background-color: #3b5999;
}
.social li.tw a {
  background-position:-253px -58px;
  background-color: #55acee;
}
.social li.yt a {
  background-position:-298px -58px;
  background-color: #cd201f;
}
.social li.rss a {
  background-position:-105px -251px;
  background-color: #ff6600;
}
.social li.mail a {
  background-position:-338px -58px;
}
.social li.wa a {
  display:none;
  background-position:-414px -57px;
}
.mobile .social li.wa a {
  display:block;
}

.social.transparent {
  border:1px solid rgba(255, 255, 255, 0.2);
}
.social.transparent li {
  margin:0;
  border-left:1px solid rgba(255, 255, 255, 0.2);
}
.social.transparent li:first-child {
  border-left:0;
}
.social.transparent li a {
  background-color:rgba(0, 0, 0, 0.5);
}
body:not(.touch) .social.transparent li a:hover {
  background-color:#000;
}

.latest-quote {
  height:32px;
  margin:25px 240px 25px 232px;
}
.latest-quote .views-row {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-justify-content:center;
  justify-content:center;
  height:44px;
  margin:-12px 0;
  overflow:hidden;
}
.latest-quote a {
  display:inline-block;
  max-height:42px;
  font:1.5rem/20px 'Roboto Slab',serif;
  color:#fff;
  overflow:hidden;
  text-overflow:ellipsis;
}
.latest-quote .label {
  margin:0 8px 0 0;
  text-transform:uppercase;
  font-size:1.4rem;
  font-weight:bold;
  color:#fc7438;
  -webkit-transition:0.2s;
  transition:0.2s;
}
body:not(.touch) .latest-quote:hover .label {
  border-bottom:2px solid #fc7438;
  color:#fff;
}
.latest-quote .label:before {
  content:'';
  display:inline-block;
  margin:0 7px 0 0;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:8px solid #fc7438;
}

/* User menu */
.user-menu {
  position: absolute;
  top: 0;
  right: 95px;
  z-index: 1;
  padding: 6px 0;
}
.user-menu:hover {
  padding-left: 40px;
}
.user-menu__thumb {
  display: block;
  width: 56px;
  height: 56px;
  border: 1px solid #afbec9;
  border-radius: 50%;
  line-height: 0;
  overflow: hidden;
  cursor: pointer;
}
.user-menu__bubble {
  display: none;
  position: absolute;
  top: 70px;
  right: -20px;
  padding: 30px 0 30px 250px;
  background: #fff;
  box-shadow: 0 3px 80px rgba(158, 163, 180, 0.3);
}
.user-menu:hover .user-menu__bubble {
  display: block;
}
.user-menu__bubble:before {
  content: '';
  position: absolute;
  top: -11px;
  right: 38px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #12395b;
}
.user-menu__bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: 0 3px 80px rgba(158, 163, 180, 0.3);
}
.user-menu__welcome {
  position: absolute;
  top: 40px;
  left: 45px;
  z-index: 1;
  width: 160px;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.user-menu__username {
  display: block;
  font-size: 2.4rem;
  word-break: break-word;
}
.user-menu li {
  display: block;
  border-bottom: 1px solid #e1e1e1;
}
.user-menu li a {
  display: block;
  padding: 12px 100px 12px 30px;
  font-size: 2rem;
  line-height: 2.4rem;
  white-space: nowrap;
}
.user-menu li a:hover {
  background: #f7f6f4;
}
.user-menu__logout {
  position: absolute;
  left: 45px;
  bottom: 30px;
  z-index: 1;
  width: 135px;
  padding: 12px;
  border: 1px solid #0023ff;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #0023ff;
}

.search-box {
  position:absolute;
  top:20px;
  right:180px;
  /*-webkit-transition:0.5s;
  transition:0.5s;*/
}
.active-search .search-box {
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:2;
  padding:35px 25px 35px 45px;
  background:#fff;
}
.scrolled .active-search .search-box {
  padding-top:20px;
  padding-bottom:20px;
}
.search-box .form-item {
  margin:0;
  padding:0;
  background:none;
}
.element-invisible {
  display:none;
}
.search-box input[type="text"] {
  display:none;
}
.search-box input[type="text"]::selection {
  background:#fc7438;
  color:#fff;
}
.active-search .search-box input[type="text"] {
  display:block;
  float:left;
  width:calc(100% - 50px);
  margin:0 20px 0 0;
  font-size:2.4rem;
  line-height:30px;
  background:none;
  color:#254c6b;
}
.search-box input[type="submit"] {
  display:block;
  width:30px;
  height:30px;
  padding:0;
  border-radius:0;
  text-indent:-9999px;
  overflow:hidden;
  background:url(../../images/sprite.svg) -256px -102px no-repeat;
}
body:not(.touch) .search-box input[type="submit"]:hover {
  background-position:-164px 0;
}
.active-search .search-box input[type="submit"] {
  background-position:-285px -102px;
}
.active-search .search-box.close input[type="submit"] {
  background-position:-253px -131px;
}
body:not(.touch) .active-search .search-box.close input[type="submit"]:hover {
  background-position:-163px -27px;
}
.promo-teams {
  height:29px;
  margin:0 80px 0 0;
  padding:0 50px;
  overflow:hidden;
  text-align:center;
  background:#0a2a42;
}
.scrolled .promo-teams {
  height:0;
}
.promo-teams li {
  display:inline-block;
}
.promo-teams li a {
  display:block;
  padding:6px 10px 4px;
  font-size:1.3rem;
  line-height:19px;
  color:#fff;
}
body:not(.touch) .promo-teams li a:hover {
  background:#071c2d;
}
.teams-trigger {
  position:absolute;
  top:0;
  right:0;
  width:80px;
  background:#5a81a0;
  cursor:pointer;
}
.teams-trigger:before,
.teams-trigger:after {
  content:'';
  position:absolute;
  top:19px;
  left:50%;
  width:42px;
  height:34px;
  margin:0 0 0 -21px;
  background:url(../../images/sprite.svg) -225px -170px no-repeat;
}
.teams-trigger:after {
  background-position:-271px -170px;
  opacity:0;
}
.teams-trigger span {
  display:block;
  height:20px;
  margin:70px 0 0;
  padding:5px;
  text-align:center;
  font-size:1.3rem;
  line-height:20px;
  font-weight:bold;
  background:#325671;
  color:#fff;
  overflow:hidden;
}
.scrolled .teams-trigger span {
  height:0;
  padding:0 5px;
}
.teams-trigger span:after {
  content:'';
  display:inline-block;
  vertical-align:middle;
  width:10px;
  height:7px;
  margin:-2px 0 0 5px;
  background:url(../../images/sprite.svg) -316px -175px no-repeat;
}
.open-teams .teams-trigger {
  background:#fff;
}
.open-teams .teams-trigger:before {
  opacity:0;
}
.open-teams .teams-trigger:after {
  opacity:1;
}
.open-teams .teams-trigger span {
  background:#ebebeb;
  color:#254c6b;
}
.open-teams .teams-trigger span:after {
  background-position:-382px -193px;
}

/* Menu sidebar */
.menu-sidebar {
  position:fixed;
  top:100px;
  left:0;
  bottom:0;
  z-index:8;
  width:194px;
  background:#0a2a42;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
  -ms-transform:translate(0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -ms-transition:-ms-transform 0.8s;
  -webkit-transition:-webkit-transform 0.8s;
  transition:transform 0.8s;
}
.menu-sidebar.expanded {
  background:#071c2d;
}
.scrolled .menu-sidebar {
  top:70px;
}
.open-menu .menu-sidebar {
  -ms-transform:translate(0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}
ul.main-menu {
  margin:5px 5px 8px;
}
ul.main-menu li {
  position:relative;
  display:block;
  list-style:none;
  margin:0 0 5px;
}
.main-menu li a {
  display:block;
  padding:6px 18px 6px 13px;
  border:1px solid #234a68;
  font-weight:bold;
  overflow:hidden;
  text-overflow:ellipsis;
  color:#fff;
  cursor:pointer;
}
.expanded .main-menu li a {
  border-color:#0a2941;
}
.expanded .main-menu li a.selected {
  border-color:#5a81a0;
}
.main-menu li.expanded a {
  padding-right:41px;
}
body:not(.touch) .main-menu li:hover a {
  border-color:#214a6b;
  background:#133c5e;
}
body:not(.touch) .expanded .main-menu li:hover a {
  border-color:#0a2a42;
  background:#0a2a42;
}
.main-menu li.active a,
.main-menu li a.active,
body:not(.touch) .main-menu li.active:hover a,
.touch .main-menu li.active a {
  border:1px solid #a5b4c1;
}
.expanded .main-menu li.active a,
.expanded .main-menu li a.active,
body:not(.touch) .expanded .main-menu li a.selected:hover {
  border:1px solid #5a81a0;
}
.touch .main-menu li a {
  border-color:#254c6b;
}
.touch .expanded .main-menu li a {
  border-color:#0a2a42;
}

body:not(.touch) .main-menu li.expanded a:after {
  content:'';
  position:absolute;
  top:50%;
  right:6px;
  width:9px;
  height:12px;
  margin:-6px 0 0;
  background:url(../../images/sprite.svg) -341px -172px no-repeat;
}
body:not(.touch) .main-menu li.expanded:hover a:after,
body:not(.touch) .expanded .main-menu li.expanded:hover a:after,
.expanded .main-menu li a.selected:after,
.touch .main-menu li.expanded a:after {
  display:none;
}
.main-menu li.expanded span {
  position:absolute;
  top:1px;
  right:1px;
  bottom:1px;
  width:30px;
}
body:not(.touch) .main-menu li.expanded:hover span {
  background:#214a6b;
}
.touch .main-menu li.expanded span {
  background:#1a3b55;
}
.touch .expanded .main-menu li span {
  background:#183044;
}
body:not(.touch) .main-menu li.expanded span:hover {
  background:#b0beca;
}
body:not(.touch) .main-menu li.expanded:hover span:before,
.touch .main-menu li.expanded span:before,
body:not(.touch) .expanded .main-menu li.expanded:hover span:before,
.expanded .main-menu li .selected span:before {
  content:'';
  position:absolute;
  top:50%;
  left:50%;
  width:12px;
  height:12px;
  margin:-6px 0 0 -6px;
  background:url(../../images/sprite.svg) -121px -63px no-repeat;
}
body:not(.touch) .main-menu li.expanded span:hover:before,
body:not(.touch) .expanded .main-menu li.expanded span:hover:before {
  background:url(../../images/sprite.svg) -154px -63px no-repeat;
}
.extra-menu {
  margin:0 5px 25px;
}
.extra-menu li {
  display:block;
  margin:0 0 4px;
  text-transform:uppercase;
}
.extra-menu li a {
  display:block;
  padding:0 14px;
  font-size:1.3rem;
  line-height:16px;
  color:#b0beca;
}
.menu-sidebar .copy {
  margin:0 19px 20px;
  font-size:1.1rem;
  line-height:15px;
  text-transform:uppercase;
  color:#b0beca;
}
.pixual {
  display:block;
  max-width:120px;
  margin:0 15px 10px;
}

/* News sidebar */
.news-sidebar {
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  z-index:1;
  width:320px;
  background:#f8f8f8;
  box-shadow:1px 0 0 #e1e1e1;
  -ms-transform:translate(194px, 0);
  -ms-transform:translate3d(194px, 0, 0);
  -webkit-transform:translate3d(194px, 0, 0);
  transform:translate3d(194px, 0, 0);
  -ms-transition:-ms-transform 0.8s;
  -webkit-transition:-webkit-transform 0.8s;
  transition:transform 0.8s;
}
.scrolled .news-sidebar,
.live-scrolled .news-sidebar,
.article-scrolled .news-sidebar {
  top:70px;
}
.open-menu .news-sidebar {
  -ms-transform:translate(194px, 0);
  -ms-transform:translate3d(194px, 0, 0);
  -webkit-transform:translate3d(194px, 0, 0);
  transform:translate3d(194px, 0, 0);
}
.sidebar-tabs {
  position:relative;
  padding:12px;
  border-bottom:1px solid #e1e1e1;
}
.sidebar-tabs.loading:after {
  content:'';
  position:absolute;
  bottom:-1px;
  left:0;
  height:2px;
  background:#fc7438;
  -webkit-animation:loader 2s infinite;
  animation:loader 2s infinite;
}
@-webkit-keyframes loader {
  0% {
    left:0;
    right:100%;
  }
  50% {
    left:0;
    right:0;
  }
  100% {
    left:100%;
    right:0;
  }
}
@keyframes loader {
  0% {
    left:0;
    right:100%;
  }
  50% {
    left:0;
    right:0;
  }
  100% {
    left:100%;
    right:0;
  }
}
.sidebar-tabs ul {
  display:table;
  box-sizing:border-box;
  width:100%;
  border:1px solid #e1e1e1;
  border-radius:4px;
  text-align:center;
  background:#fff;
  overflow:hidden;
}
.sidebar-tabs li {
  display:table-cell;
  min-width:40px;
  margin:0;
  padding:7px 8px;
  border-left:1px solid #e1e1e1;
  font-size:1.2rem;
  font-weight:bold;
  text-transform:uppercase;
  cursor:pointer;
}
body:not(.touch) .sidebar-tabs li:not(.active):hover {
  background:#f8f8f8;
}
.sidebar-tabs li:first-child {
  border:0;
}
.sidebar-tabs li.active,
.open .sidebar-tabs li.active {
  background:#33393d;
  color:#fff;
}
.sidebar-content {
  position:absolute;
  top:59px;
  left:0;
  bottom:0;
  right:0;
  overflow-y:scroll;
  -webkit-overflow-scrolling:touch;
}
.news-sidebar-wrapper .close {
  display:none;
}
.latest-teaser .views-row {
  padding:2px;
  border-bottom:1px solid #e1e1e1;
}
.latest-teaser .views-row-inner {
  position:relative;
  padding:12px;
  overflow:hidden;
}
.latest-teaser .views-field-field-cover-media {
  position:relative;
  z-index:1;
  float:left;
  width:60px;
}
.latest-teaser .info {
  position:relative;
  z-index:1;
  margin:0 0 0 72px;
}
.views-field-field-article-label {
  color:#fc7438;
}
.latest-teaser .views-field-field-article-label .label {
  display:block;
}
.latest-teaser .views-field-title {
  margin:0 0 6px;
  line-height:15px;
  font-weight:bold;
}
.latest-teaser .views-field-field-main-category {
  float:left;
  margin:0 5px 0 0;
  font-size:1.2rem;
  line-height:13px;
  font-family:'Roboto Slab',serif;
  color:#5a81a0;
}
.latest-teaser .views-field-created {
  float:left;
}
.latest-teaser .breaking-frame {
  background:#f9ded2;
}
.latest-teaser .breaking-frame span {
  display:none;
}
.sidebar-content .adunit {
  padding:5px 0;
  border-bottom:1px solid #e1e1e1;
  text-align:center;
}
.sidebar-content .more {
  display:block;
  margin:10px 15px;
  padding:5px 10px;
  border:2px solid #e1e1e1;
  border-radius:4px;
  text-align:center;
  background:#fff;
  color:#33393d;
  -webkit-transition:0.3s;
  transition:0.3s;
}
body:not(.touch) .sidebar-content .more:hover {
  border-color:#2f2f2f;
  background:#2f2f2f;
  color:#fff;
}

/* Views */
.views-field-field-cover-media,
.views-field-field-gallery {
  position:relative;
  line-height:0;
  overflow:hidden;
}
.views-field-body {
  font-family:'Roboto Slab',serif;
  color:#878787;
}
.breaking-teaser .views-field-field-cover-media {
  z-index:1;
}
.breaking-teaser.views-row .views-field-field-cover-media:before {
    margin:-12% 0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,116,56,0)), color-stop(40%,rgba(252,116,56,0.59)), color-stop(99%,rgba(0,0,0,1)));
    background:-webkit-linear-gradient(top, rgba(252,116,56,0) 0%,rgba(252,116,56,0.59) 40%,rgba(0,0,0,1) 99%);
    background:linear-gradient(to bottom, rgba(252,116,56,0) 0%,rgba(252,116,56,0.59) 40%,rgba(0,0,0,1) 99%);
    opacity:0.7;
}
.views-field-disqus-comment-count .comments-counter {
  position:relative;
  float:right;
  margin:0 0 0 5px;
  padding:0 0 2px 20px;
  font-size:1.3rem;
  color:#878787;
}
.views-field-disqus-comment-count .comments-counter:before {
  content:'';
  position:absolute;
  top:1px;
  left:2px;
  width:14px;
  height:13px;
  background:url(../../images/sprite.svg) -350px -173px no-repeat;
}
.breaking-frame span {
  position:absolute;
  top:0;
  left:20px;
  z-index:2;
  display:inline-block;
  padding:4px 10px;
  font-weight:bold;
  text-transform:uppercase;
  background:#fc7438;
  color:#fff;
}
.bottom-info {
  position:absolute;
  bottom:18px;
  left:0;
  right:0;
  max-height:22px;
  margin:0 20px;
}
.bottom-info .views-field-field-main-category {
  float:left;
  margin:0 0 2px;
  font-size:1.2rem;
  line-height:13px;
  font-family:'Roboto Slab',serif;
  color:#5a81a0;
}
.bottom-info .views-field-field-main-category .field-content {
  margin:0 5px 0 0;
}
.bottom-info .views-field-field-main-category .field-content:empty {
  margin:0;
}
.bottom-info .views-field-created {
  float:left;
}
.views-field-created {
  font-size:1.2rem;
  line-height:16px;
}
.views-field-created em {
  font-style:normal;
}
.views-field-view-node a {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:2;
  background:#fff;
  opacity:0;
  text-indent:-9999px;
  overflow:hidden;
}

/* Pager */
.item-list .pager {
  margin:50px 0 0;
  text-align:center;
  clear:both;
}
.item-list .pager li {
  display:inline-block;
  width:66px;
  height:66px;
  margin:0 12px;
  padding:0;
  border-radius:4px;
  background:#f8f8f8 url(../../images/sprite.svg) 23px -189px no-repeat;
  text-indent:-9999px;
}
.item-list .pager li.pager-next {
  background-position:-23px -189px;
}
.item-list .pager li a {
  display:block;
  height:66px;
  border-radius:4px;
  background:#fff url(../../images/sprite.svg) 23px -87px no-repeat;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  -webkit-transition:0.3s background-color;
  transition:0.3s background-color;
}
.item-list .pager li.pager-next a {
  background-position:-23px -87px;
}
body:not(.touch) .item-list .pager li a:hover {
  background:#2f2f2f url(../../images/sprite.svg) 23px -137px no-repeat;
}
body:not(.touch) .item-list .pager li.pager-next a:hover {
  background-position:-23px -137px;
}
.pager li.pager-current {
  display:none;
}

/* More link */
.more-link {
  width:33.3333%;
  margin:0 auto -35px;
  text-align:center;
  clear:both;
}
.more-link a {
  display:block;
  margin:0 12px;
  padding:15px;
  border:2px solid #e1e1e1;
  border-radius:4px;
  font-size:1.8rem;
  background:#fff;
  color:#33393d;
  -webkit-transition:0.3s;
  transition:0.3s;
}
body:not(.touch) .more-link a:hover {
  border-color:#2f2f2f;
  background:#2f2f2f;
  color:#fff;
}

/* Main */
.external-wrapper {
  position:relative;
  top:100px;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  margin: 0 0 100px;
  -webkit-transition:-webkit-transform 0.8s;
  transition:transform 0.8s;
}
.scrolled .external-wrapper {
  top:70px;
}
.main-wrapper {
  max-width:1640px;
  margin:0 0 0 514px;
  padding:0 20px;
}
.main {
  max-width:1108px;
  margin:40px auto 50px;
  padding:69px 0 0;
  border:1px solid #e0e0e0;
  box-shadow:0 1px 1px -1px #e1e1e1;
  background:#fff;
}
.no-border .main {
  margin:0 auto;
  border:0;
  box-shadow:0 0 0 #000;
  background:none;
}
.content-header {
  margin:0 69px;
}
h1 {
  margin:0 0 70px;
  text-align:center;
  font-size:5rem;
  line-height:50px;
  letter-spacing:-1px;
  font-weight:bold;
}
.side-title h1 {
  text-align:left;
}
.tabbed h1 {
  margin-right:200px;
}
.tagged h1 span:before {
  content:'\201C';
  display:inline-block;
  color:#fc7438;
}
.tagged h1 span:after {
  content:'\201D';
  display:inline-block;
  color:#fc7438;
}
h1 span,
h2 a {
  display:inline-block;
  border-bottom:2px solid #b4c1cc;
}
body:not(.touch) h2 a {
  -webkit-transition:0.2s border-color;
  transition:0.2s border-color;
}
body:not(.touch) h2 a:hover {
  border-color:#fc7438;
}
.two-level h1 span {
  max-width:calc(100% - 30px);
  padding:4px 15px 0;
  background:#fc7438;
  color:#fff;
  overflow:hidden;
  text-overflow:ellipsis;
}
.content-header h2 {
  margin:0 0 70px;
  font-size:5rem;
  line-height:46px;
  font-weight:bold;
}
.two-level h2 {
  margin:0 0 10px;
  font-size:5rem;
  line-height:46px;
  font-weight:normal;
}
h4 {
  font-size:2rem;
  line-height:24px;
  font-weight:bold;
}
.sidebar-on .content-area {
  float:left;
  width:calc(100% - 335px);
}
.sidebar {
  float:right;
  width:300px;
  margin:0 0 0 35px;
}
.sidebar .block {
  margin:0 0 35px;
}
.sidebar .block:last-child {
  margin:0;
}
.footer {
  margin:0 0 30px;
  text-align:center;
  font-size:1.2rem;
  color:#9ea1a5;
}
.footer .logo {
  max-width:100px;
  margin:0 0 15px;
}
.container {
  max-width: 970px;
  margin: 0 auto;
}

/* Ad */
.ad {
  line-height:0;
  text-align: center;
}
.top-full .adunit,
.bottom-full .adunit {
  padding:45px 0px;
  text-align:center;
}
.top-full .block ~ .ad .adunit,
.no-border .top-full .ad.block:first-child .adunit,
.bottom-full .ad.block:first-child .adunit {
  padding-top:0;
}
.bottom-full .ad.block:first-child .adunit {
  margin-top:-25px;
}

/* Skinr */
.padded {
  padding:70px 69px;
}
.padded.top {
  padding-top:0;
}
.light-gray {
  background:#f8f8f8;
}
.dark-gray {
  background:#b0bec9;
}
.margin-bottom {
  margin:0 0 35px;
}

.padded h3 {
  margin:-35px 0 35px;
  font-size:4rem;
  line-height:40px;
  text-transform:uppercase;
  text-align:center;
  color:#18364e;
}
.padded h3 a {
  color:#18364e;
}
.dark-gray h3,
.dark-gray h3 a {
  color:#fff;
}

/* Overlays */
.overlay {
  position:fixed;
  top:100px;
  left:515px;
  right:0;
  bottom:0;
  z-index:4;
  width:calc(100% - 655px);
  padding:70px 70px 0;
  font-family:'Proxima Nova',sans-serif;
  background:#ebebeb;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
  -ms-transform:translate(100%, 0);
  -ms-transform:translate3d(100%,0,0);
  -webkit-transform:translate3d(100%,0,0);
  transform:translate3d(100%,0,0);
  -ms-transition:0.8s -ms-transform;
  -webkit-transition:0.8s -webkit-transform;
  transition:0.8s transform;
}
.scrolled .overlay {
  top:70px;
}
.overlay.open {
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -ms-transform:translate(0, 0);
  -ms-transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0,0,0);
}
.overlay-inner {
  max-width:970px;
  margin:0 auto 70px;
}
.overlay-wrapper .close {
  position:fixed;
  top:150px;
  right:40px;
  z-index:5;
  width:54px;
  height:54px;
  border:2px solid #ccc;
  border-radius:50%;
  text-indent:-9999px;
  background:#fff url(../../images/sprite.svg) -122px -153px no-repeat;
  overflow:hidden;
  cursor:pointer;
  opacity:0;
  visibility:hidden;
  -webkit-transition:0s 0.2s opacity, 0.2s background-color;
  transition:0s 0.2s opacity, 0.2s background-color;
}
body:not(.touch) .overlay-wrapper .close:hover {
  border-color:#fc7438;
  background-color:#fc7438;
  background-position:-166px -153px;
}
.scrolled .overlay-wrapper .close {
  top:110px;
}
.overlay-wrapper .open ~ .close,
.open-teams .teams-section ~ .close {
  opacity:1;
  visibility:visible;
}

/*** 35. Submenu ***/
.menu-overlay {
  left:0;
  z-index:7;
  width:calc(100% - 333px);
  margin:0;
  background:#071c2d;
  -ms-transform:translate(-100%, 0);
  -ms-transform:translate3d(-100%,0,0);
  -webkit-transform:translate3d(-100%,0,0);
  transform:translate3d(-100%,0,0);
}
.menu-overlay.open {
  -ms-transform:translate(193px, 0);
  -ms-transform:translate3d(193px,0,0);
  -webkit-transform:translate3d(193px,0,0);
  transform:translate3d(193px,0,0);
}
.main-link {
  margin:0 0 35px;
}
.main-link .cat {
  position:relative;
  display:inline-block;
  margin:0 0 18px;
  font-size:5rem;
  line-height:48px;
  font-weight:bold;
  color:#fc7438;
}
.main-link .cat:before {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  border-bottom:2px solid #b0beca;
  font-size:5rem;
  line-height:58px;
  font-weight:bold;
  color:#fff;
  -webkit-transition:width 0.5s;
  transition:width 0.5s;
}
.main-link .cat:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:0;
  border-bottom:2px solid #fc7438;
  -webkit-transition:width 0.5s;
  transition:width 0.5s;
}
body:not(.touch) .main-link .cat:hover:after {
  width:100%;
}
.menu-teaser .view-content {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 0 35px -35px;
  overflow:hidden;
}
.menu-teaser .views-row {
  float:left;
  width:25%;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.menu-teaser .views-row-inner {
  position:relative;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  margin:0 0 0 35px;
  padding:0 0 10px;
}
.menu-teaser .views-row-inner:before {
  content:'';
  position:absolute;
  top:0;
  left:-17px;
  height:100%;
  border-left:1px solid #254c6b;
}
.menu-teaser .views-row-1 .views-row-inner:before {
  display:none;
}
.menu-teaser .views-field-field-cover-media {
  margin:0 0 10px;
  background:#254c6b;
  isolation:isolate;
}
body:not(.touch) .menu-teaser .views-row-inner:hover img {
  mix-blend-mode:screen;
  background:#fff;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
.menu-teaser .views-field-title {
  margin:0 0 10px;
  font-size:1.5rem;
  line-height:16px;
  font-weight:bold;
  color:#fff;
}
body:not(.touch) .menu-teaser .views-row-inner:hover .views-field-title {
  color:#aad8ef;
}
.menu-teaser .views-field-created {
  color:#b0beca;
}
.submenu {
  margin:0 0 30px;
}
.submenu li {
  list-style:none;
  margin:0 0 15px;
}
.submenu li .subcat {
  position:relative;
  display:inline-block;
  font-size:4rem;
  line-height:40px;
  font-weight:bold;
  color:#fff;
}
.submenu li .subcat:before {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  border-bottom:2px solid #b0beca;
}
.submenu li .subcat:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:0;
  border-bottom:2px solid #fc7438;
  -webkit-transition:width 0.5s;
  transition:width 0.5s;
}
body:not(.touch) .submenu li .subcat:hover:after {
  width:100%;
}
.menu-overlay ~ .close {
  z-index:7;
  border-color:#b0beca;
  background-color:#071c2d;
  background-position:-383px -95px;
  -webkit-transition:0s 0.2s opacity, 0.2s background-color;
  transition:0s 0.2s opacity, 0.2s background-color;
}
body:not(.touch) .menu-overlay ~ .close:hover {
  background-position:-383px -135px;
}
.menu-overlay.open ~ .close {
  -webkit-transition:0s 0.8s opacity, 0.2s background-color;
  transition:0s 0.8s opacity, 0.2s background-color;
}

/*** 36. Open Menu ***/
.full.burger-menu {
  display:none;
  content:'';
  position:fixed;
  top:100px;
  left:194px;
  right:0;
  bottom:0;
  z-index:7;
  height:auto;
  background-color:rgba(176, 190, 202, 0.6);
}
.scrolled .full.burger-menu {
  top:70px;
}
.full.burger-menu:after {
  display:none;
  content:'';
  position:fixed;
  top:50%;
  left:50%;
  z-index:7;
  width:140px;
  height:140px;
  margin:-70px 0 0 27px;
  border-radius:10px;
  background:#fff url(../../images/sprite.svg) 24px 38px no-repeat;
  background-color:rgba(255, 255, 255, 0.6);
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  -webkit-transition:0.3s background-color;
  transition:0.3s background-color;
}
body:not(.touch) .full.burger-menu:hover:after {
  background-color:#fff;
}

/*** 39. Live sidebar ***/
.live-sidebar {
  padding:15px;
}
/* Options */
.options {
  border:1px solid #e1e1e1;
  border-radius:3px;
  background:#ededed;
}
.options .current {
  position:relative;
  padding:6px 40px 6px 12px;
  font-size:1.3rem;
  font-weight:bold;
  color:#2f2f2f;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  cursor:pointer;
}
.options .icon {
  position:absolute;
  top:50%;
  right:10px;
  display:block;
  float:left;
  width:16px;
  height:1px;
  margin:-1px 0 0;
  background:#333;
}
.options .icon:before,
.options .icon:after {
  content:'';
  position:absolute;
  top:-3px;
  left:0;
  right:0;
  height:1px;
  background:#333;
  -webkit-transition:top 0.3s, -webkit-transform 0.3s;
  transition:top 0.3s, transform 0.3s;
}
.options .icon:after {
  top:3px;
}
body:not(.touch) .options:hover .icon:before {
  top:-5px;
}
body:not(.touch) .options:hover .icon:after {
  top:5px;
}
.options.open {
  border-radius:0;
  background:#f8f8f8;
}
.options.open .current {
  padding:6px 43px 6px 15px;
}
.options.open .icon {
  right:13px;
  box-shadow:inset 8px 0 0 0 #f8f8f8, inset -8px 0 0 0 #f8f8f8;
}
.options.open .icon:before {
  top:-5px;
  -webkit-transform:rotate(45deg) translate(4px,4px);
  transform:rotate(45deg) translate(4px,4px);
}
.options.open .icon:after {
  top:5px;
  -webkit-transform:rotate(-45deg) translate(3px,-3px);
  transform:rotate(-45deg) translate(3px,-3px);
}
.options ul {
  height:0;
  background:#f8f8f8;
  overflow:hidden;
}
.options.open ul {
  height:auto;
}
.options li {
  border-top:1px solid #e1e1e1;
  padding:0 15px;
  font-size:1.8rem;
  line-height:24px;
  color:#254c6b;
  cursor:pointer;
}
body:not(.touch) .options li:hover {
  background:#fc7438;
  color:#fff;
}
.tabwrapper .tab-content {
  display:none;
}
.tabwrapper .tab-content.active {
  display:block;
}

.live-sidebar .options.top {
  margin:2px 0 20px;
  border:0;
  background:none;
}
.live-sidebar .top .current {
  padding:0;
  font-size:1.8rem;
  font-weight:normal;
}
.live-sidebar .top .current:after {
  content:'';
  display:inline-block;
  vertical-align:middle;
  width:10px;
  height:6px;
  margin:-3px 0 0 5px;
  background:url(../../images/sprite.svg) -393px -194px no-repeat;
}
.live-sidebar .top.open .current:after {
  background-position:-404px -194px;
}
.live-sidebar .top .options-list {
  margin:5px -15px 0;
}
.live-sidebar .options.bottom {
  margin:0 0 25px;
}
.live-sidebar .bottom.open {
  margin:0 -15px 25px;
  border-left:0;
  border-right:0;
}
.live-sidebar .league-container {
  margin:0 0 50px;
}
.live-sidebar .league-container:last-child {
  margin:0;
}
.live-sidebar .league {
  padding:8px 0;
  border-bottom:1px solid #e1e1e1;
  font-size:1.5rem;
  line-height:15px;
}
.live-sidebar .league .title {
  font-weight:bold;
  color:#5a81a0;
}
.live-sidebar .league .phase {
  color:#fc7438;
}
.live-sidebar .league .phase:before {
  content:'';
  display:inline-block;
  vertical-align:top;
  width:4px;
  height:4px;
  margin:5px 4px 0;
  border-radius:50%;
  background:#22282c;
}
.live-sidebar .match {
  position:relative;
  padding:14px 0;
  border-bottom:1px solid #e1e1e1;
}
.live-sidebar .opponent {
  float:left;
  width:calc(50% - 50px);
  color:#33393d;
}
.live-sidebar .opponent.right {
  text-align:right;
}
.live-sidebar .opponent .logo {
  display:inline-block;
  width:32px;
  height:32px;
  margin:0 0 6px;
  line-height:0;
}
.live-sidebar .opponent .name {
  margin:0 -20px 0 0;
  line-height:16px;
  font-weight:bold;
  overflow:hidden;
  text-overflow:ellipsis;
}
.live-sidebar .opponent.right .name {
  margin:0 0 0 -20px;
}
.live-sidebar .details {
  float:left;
  width:80px;
  margin:8px 10px 0;
  text-align:center;
  font-size:2rem;
  line-height:20px;
  color:#254c6b;
}
.live-sidebar .details .now {
  display:inline-block;
  vertical-align:middle;
  margin:-7px 0 7px;
  padding:3px 6px;
  border-radius:3px;
  background:#fc7438;
  color:#fff;
}
.live-sidebar .details .txt {
  font-size:2rem;
  color:#fc7438;
}
.live-sidebar .details .active.txt:after {
  content:'';
  display:inline-block;
  vertical-align:middle;
  width:10px;
  height:15px;
  margin:-3px 0 0 5px;
  background:url(../../images/sprite.svg) -370px -158px no-repeat;
}
.live-sidebar .details .status {
  display:block;
  font-size:1.2rem;
  line-height:15px;
  color:#254c6b;
}
.live-sidebar .match a {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  background:#fff;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  text-indent:-9999px;
  overflow:hidden;
}
.live-sidebar .empty {
  text-align:center;
}

/* Block Visibility */
.vtt,
.vtm,
.vttm {
  display:none;
}

/* Teams */
.teams-section {
  left:194px;
  width:calc(100% - 334px);
  height:calc(100% - 170px);
  -ms-transform:translate(0, -100%);
  -ms-transform:translate3d(0,-100%,0);
  -webkit-transform:translate3d(0,-100%,0);
  transform:translate3d(0,-100%,0);
  -ms-transition:0.8s -ms-transform, 0.8s height;
  -webkit-transition:0.8s -webkit-transform, 0.8s height;
  transition:0.8s transform, 0.8s height;
}
.open-teams .teams-section {
  -ms-transform:translate(0, 0);
  -ms-transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.scrolled .teams-section {
  height:calc(100% - 140px);
}

/* Mega Skin */
.mega-skin .main-wrapper {
  padding:0 181px;
}
.mega-skin .main {
  margin-top:0;
}
.skin-side {
  display:none;
  position:fixed;
  top:100px;
  z-index:1;
  min-width:180px;
  width:calc(50% - 812px);
  max-width: 444px;
  height:1000px;
  line-height:0;
  -webkit-transition:-webkit-transform 0.8s;
  transition: transform 0.8s;
}
.skin-side.active {
  display:block;
}
.scrolled .skin-side {
  top:70px;
}
.skin-side.left {
  text-align:right;
}
.mega-skin.no-border .skin-side.right {
  margin:0 0 0 -2px;
}
.mega-skin.no-border .main {
  background:#ededed;
}
.mega-skin.no-border .footer {
  margin:30px 0;
}
.mega-skin .blogger-main-header {
  margin:0;
  background:none;
}
.mega-skin .blogger-header {
  padding:0 0 20px;
  background:#ededed;
}
.mega-skin .blogger-info {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,28,45,1)), color-stop(100%,rgba(66,100,127,1)));
  background:-webkit-linear-gradient(top, rgba(7,28,45,1) 0%,rgba(66,100,127,1) 100%);
  background:linear-gradient(to bottom, rgba(7,28,45,1) 0%,rgba(66,100,127,1) 100%);
}
/* Backdrop */
.backdrop-skin {
  display:none;
}

/*** Black theme ***/
#page.black-theme {
  background:#2f2f2f;
}
.black-theme #header,
.black-theme .main-header .search-box {
  background:#2f2f2f;
}
.black-theme .search-box,
.black-theme .active-search .logo-area {
  background:#22282c;
}
.black-theme .search-box input[type="text"] {
  color:#fff;
}
.black-theme .promo-teams {
  border-bottom:1px solid #464646;
  background:#22282c;
}
.black-theme .menu-sidebar {
  background:#22282c;
}
.black-theme .main-menu li a {
  border-color:#33393d;
}
.black-theme .main-menu li.active a,
.black-theme .main-menu li a.active,
body:not(.touch) .black-theme .main-menu li.active:hover a {
  border-color:#a5b4c1;
}
body:not(.touch) .black-theme .main-menu li:hover a {
  border-color:#32383c;
  background:#2f363a;
}
body:not(.touch) .black-theme .main-menu li.expanded a:after {
  background-position:-327px -211px;
}
body:not(.touch) .black-theme .main-menu li.expanded:hover span {
  background:#444a4e;
}
body:not(.touch) .black-theme .main-menu li.expanded span:hover {
  background:#b0beca;
}
body:not(.touch) .black-theme .main-menu li.expanded span:hover:before {
  background-position:-187px -63px;
}
.black-theme .news-sidebar {
  background:#464646;
  box-shadow:1px 0 0 #636363;
}
/*.black-theme .main {
  background:#22282c;
}
.black-theme a {
  color:#fff;
}*/
.black-theme .sidebar-tabs {
  border-color:#636363;
}
.black-theme .sidebar-tabs ul {
  background:#33393d;
}
.black-theme .sidebar-tabs li {
  color:#fff;
}
.black-theme .sidebar-tabs li.active {
  background:#fff;
  color:#464646;
}
.black-theme .latest-teaser .views-row {
  border-color:#636363;
}
.black-theme .latest-teaser .views-field-title {
  color:#fff;
}
.black-theme .latest-teaser .breaking-teaser .views-field-title {
  color:#22282c;
}
.black-theme .latest-teaser .views-field-created {
  color:#9ea1a5;
}
.black-theme .live-sidebar .top .current {
  color:#fff;
}
.black-theme .live-sidebar .top .current:after {
  background-position:-316px -176px;
}
.black-theme .live-sidebar .top.open .current:after {
  background-position:-417px -194px;
}
.black-theme .live-sidebar .match,
.black-theme .live-sidebar .league {
  border-color:#636363;
}
.black-theme .live-sidebar .opponent,
.black-theme .live-sidebar .details,
.black-theme .live-sidebar .details .status {
  color:#fff;
}
.black-theme .article-header,
.black-theme .article-header .logo-area {
  background:#22282c;
}
.open-menu.black-theme .article-header .burger-menu .icon {
  box-shadow:inset 16px 0 0 0 #22282c, inset -16px 0 0 0 #22282c;
}
.black-theme .article-title,
.black-theme .reading-time .time {
  color:#fff;
}
.black-theme .reading-time .base {
  stroke:#fff;
}

@media screen and (min-width:1260px) and (max-width:1919px) {
  .mega-skin .main-logo {
    margin:-7px auto 15px;
  }
  .mega-skin.scrolled .main-logo {
    float:right;
    max-width:120px;
    margin:10px 0 0;
  }
  .mega-skin .site-name {
    display:none;
  }
  .mega-skin .burger-menu {
    display:inline-block;
  }
  .mega-skin .full.burger-menu {
    display:none;
  }
  .mega-skin.scrolled .logo-area .burger-menu {
    float:left;
    width:34px;
    margin:9px 12px 0 0;
    padding:8px 2px 0;
    font-size:1.2rem;
  }
  .mega-skin.scrolled .burger-menu .icon {
    margin:0 0 10px;
  }
  .mega-skin .menu-sidebar {
    -ms-transform:translate(-194px, 0);
    -ms-transform:translate3d(-194px, 0, 0);
    -webkit-transform:translate3d(-194px, 0, 0);
    transform:translate3d(-194px, 0, 0);
  }
  .open-menu .menu-sidebar {
    -ms-transform:translate(0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
  .mega-skin.open-menu.open-teams .teams-section {
    -ms-transform:translate(194px, 0);
    -ms-transform:translate3d(194px,0,0);
    -webkit-transform:translate3d(194px,0,0);
    transform:translate3d(194px,0,0);
  }
  .mega-skin.open-menu .full.burger-menu,
  .mega-skin.open-menu .full.burger-menu:after {
    display:block;
  }
  .mega-skin.open-menu .full.burger-menu:after {
    width:140px;
  }
  .mega-skin .news-sidebar {
    -ms-transform:translate(0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
  .open-menu .news-sidebar {
    -ms-transform:translate(194px, 0);
    -ms-transform:translate3d(194px, 0, 0);
    -webkit-transform:translate3d(194px, 0, 0);
    transform:translate3d(194px, 0, 0);
  }
  .mega-skin.open-menu .external-wrapper {
    -ms-transform:translate(194px, 0);
    -ms-transform:translate3d(194px, 0, 0);
    -webkit-transform:translate3d(194px, 0, 0);
    transform:translate3d(194px, 0, 0);
  }
  .mega-skin .main-wrapper,
  .mega-skin .full-width {
    margin-left:320px;
  }
  
  .mega-skin .overlay {
    width:calc(100% - 461px);
  }
  .mega-skin .overlay {
    left:321px;
  }
  .mega-skin.open-menu .overlay.open {
    -ms-transform:translate(194px, 0);
    -ms-transform:translate3d(194px,0,0);
    -webkit-transform:translate3d(194px,0,0);
    transform:translate3d(194px,0,0);
  }
  .mega-skin .menu-overlay {
    left:0;
    width:calc(100% - 334px);
  }
  .mega-skin .teams-section {
    left:0;
    width:calc(100% - 140px);
  }
  .mega-skin .calendar-section {
    left:311px;
    width:calc(100% - 461px);
  }
  .mega-skin .cover-controls li {
    left:335px;
  }
  .mega-skin .cover-controls li.next {
    left:auto;
  }
  .skin-side {
    width:calc(50% - 715px);
  }
  .mega-skin.open-menu .skin-side {
    -ms-transform:translate(194px,0);
    -ms-transform:translate3d(194px,0,0);
    -webkit-transform:translate3d(194px,0,0);
    transform:translate3d(194px,0,0);
  }
}

@media screen and (max-width:1679px) {
  .main-logo {
    margin:-7px auto 15px;
    margin-bottom: 10px;
  }
  .scrolled .main-logo {
    float:right;
    max-width:120px;
    margin:10px 0 0;
  }
  .site-name {
    display:none;
  }
  .burger-menu {
    display:inline-block;
  }
  .scrolled .burger-menu {
    float:left;
    width:34px;
    margin:9px 12px 0 0;
    padding:8px 2px 0;
    font-size:1.2rem;
  }
  .scrolled .burger-menu .icon {
    margin:0 0 10px;
  }
  .menu-sidebar {
    -ms-transform:translate(-194px, 0);
    -ms-transform:translate3d(-194px, 0, 0);
    -webkit-transform:translate3d(-194px, 0, 0);
    transform:translate3d(-194px, 0, 0);
  }
  .open-menu.open-teams .teams-section {
    -ms-transform:translate(194px,0);
    -ms-transform:translate3d(194px,0,0);
    -webkit-transform:translate3d(194px,0,0);
    transform:translate3d(194px,0,0);
  }
  .open-menu .full.burger-menu,
  .open-menu .full.burger-menu:after {
    display:block;
    width:auto;
    margin:0;
    padding:0;
  }
  .open-menu .full.burger-menu:after {
    width:140px;
  }
  .news-sidebar {
    -ms-transform:translate(0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
  }
  .open-menu .external-wrapper {
    -ms-transform:translate(194px, 0);
    -ms-transform:translate3d(194px, 0, 0);
    -webkit-transform:translate3d(194px, 0, 0);
    transform:translate3d(194px, 0, 0);
  }
  .main-wrapper,
  .full-width {
    margin-left:320px;
    padding:0;
  }
  
  .overlay {
    width:calc(100% - 461px);
  }
  .overlay {
    left:321px;
  }
  .open-menu .overlay.open {
    -ms-transform:translate(194px,0);
    -ms-transform:translate3d(194px,0,0);
    -webkit-transform:translate3d(194px,0,0);
    transform:translate3d(194px,0,0);
  }
  .menu-overlay {
    left:0;
    width:calc(100% - 334px);
  }
  .teams-section {
    left:0;
    width:calc(100% - 140px);
  }
  /*** 49. Skin ***/
  /* Backdrop */
  .backdrop-skin {
    position:relative;
    display:block;
    height:0;
    padding-bottom:250px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0 -60px;
    -webkit-transition:0.5s;
    transition:0.5s;
    cursor:pointer;
  }
  .backdrop-skin:after {
    content:'';
    position:absolute;
    right:7px;
    bottom:7px;
    width:29px;
    height:29px;
    border:1px solid #fff;
    border-radius:3px;
    background:url(../../images/sprite.svg) -32px -256px no-repeat;
    background-color:rgba(0, 0, 0, 0.1);
    opacity:1;
  }
  body:not(.touch) .backdrop-skin:hover:after {
    background:#fff url(../../images/sprite.svg) -54px -256px no-repeat;
  }
  .backdrop-skin.open:after {
    opacity:0;
  }
  .backdrop-skin.open {
    padding-bottom:73%;
    background-position:0 0;
  }
  .backdrop-skin .shrinked {
    position:absolute;
    width:100%;
    height:100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    opacity:1;
    -webkit-transition:opacity 0.2s 0.5s;
    transition:opacity 0.2s 0.5s;
  }
  .backdrop-skin .expanded {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:cover;
    opacity:0;
    -webkit-transition:opacity 0.2s 0.5s;
    transition:opacity 0.2s 0.5s;
  }
  .backdrop-skin.open .shrinked {
    opacity:0;
    -webkit-transition:opacity 0.2s;
    transition:opacity 0.2s;
  }
  .backdrop-skin.open .expanded {
    opacity:1;
  }
  .backdrop-skin a {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    background:#fff;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    text-indent:-9999px;
    overflow:hidden;
  }
  .backdrop-skin.open a {
    display:block;
  }
}

@media screen and (min-width:1280px) and (max-width:1420px),
(min-width:970px) and (max-width:1110px) {
  .main {
    margin-top:0;
    border-top:0;
  }
}

@media screen and (min-width:1260px) and (max-width:1679px) {
  .mega-skin #header.active-search {
    z-index:7;
  }
  .mega-skin .news-sidebar {
    right:0;
    bottom:auto;
    z-index:4;
    width:auto;
  }
  .mega-skin .news-sidebar-wrapper.open .news-sidebar {
    bottom:0;
  }
  .mega-skin .sidebar-tabs {
    z-index:1;
    padding:6px 12px;
    border:0;
    background:#fff;
    box-shadow:0 3px 7px -3px rgba(0, 0, 0, 0.3);
  }
  .mega-skin .sidebar-tabs ul {
    max-width:450px;
    margin:0 auto;
    border:0;
    border-radius:0;
  }
  .mega-skin .sidebar-tabs li {
    width:33.3333%;
    padding:5px 8px;
    font-size:1.4rem;
  }
  .mega-skin .sidebar-tabs li.active {
    background:none;
    color:#222827;
  }
  body:not(.touch) .mega-skin .sidebar-tabs li:hover {
    background:#f8f8f8;
    color:#222827;
  }
  .mega-skin .sidebar-content {
    display:none;
    top:40px;
    padding:50px 70px;
  }
  .mega-skin .open .sidebar-content {
    display:block;
  }
  .mega-skin .sidebar-inner {
    max-width:640px;
    margin:0 auto;
  }
  .mega-skin .news-sidebar-wrapper .close {
    position:fixed;
    top:180px;
    right:40px;
    z-index:6;
    width:54px;
    height:54px;
    border:2px solid #ccc;
    border-radius:50%;
    text-indent:-9999px;
    background:#fff url(../../images/sprite.svg) -122px -153px no-repeat;
    overflow:hidden;
    cursor:pointer;
  }
  .mega-skin .news-sidebar-wrapper.open .close {
    display:block;
  }
  .scrolled.mega-skin .news-sidebar-wrapper .close {
    top:150px;
  }
  
  .mega-skin .external-wrapper {
    top:140px;
  }
  .scrolled.mega-skin .external-wrapper {
    top:110px;
  }
  .mega-skin .main-wrapper,
  .mega-skin .full-width {
    margin-left:0;
  }
  .mega-skin .overlay {
    width:calc(100% - 140px);
  }
  .mega-skin .overlay {
    left:0;
  }
  .menu-overlay {
    width:calc(100% - 334px);
  }
  .open-menu.mega-skin .menu-overlay {
    left:0;
    width:calc(100% - 334px);
  }
  .mega-skin .calendar-section {
    left:0;
    width:calc(100% - 140px);
  }
  .mega-skin .cover-controls li {
    left:25px;
  }
  .mega-skin .article-banner.fixed {
    top:130px;
  }
  .skin-side {
    top: 140px;
  }
  .scrolled .skin-side {
    top: 110px;
  }
  
  .mega-skin .news-sidebar .latest-teaser .views-row {
    margin:0 0 24px;
    border:0;
    background:#fff;
    box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  }
  body:not(.touch) .mega-skin .news-sidebar .latest-teaser .views-row:hover {
    box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
  }
  .mega-skin .news-sidebar .latest-teaser .views-row-inner {
    min-height:110px;
    padding:15px;
  }
  .mega-skin .news-sidebar .latest-teaser .views-field-field-cover-media {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    max-width:140px;
    margin:0;
    overflow:hidden;
    text-align:center;
  }
  .mega-skin .news-sidebar .latest-teaser .views-field-field-cover-media .field-content {
    margin:0 -100px;
  }
  .mega-skin .news-sidebar .latest-teaser .views-field-field-cover-media div {
    height:100%;
    padding:0;
  }
  .mega-skin .news-sidebar .latest-teaser .views-field-field-cover-media img {
    position:static;
    height:100% !important;
    width:auto;
  }
  .mega-skin .news-sidebar .latest-teaser .info {
    margin:0 0 0 149px;
  }
  .mega-skin .news-sidebar .latest-teaser .views-field-title {
    margin:0 0 10px;
    font-size:3rem;
    line-height:34px;
  }
  .mega-skin .sidebar-content .adunit {
    margin:0 0 24px;
    padding:0;
    border:0;
  }
  .mega-skin .sidebar-content .more {
    margin:0;
    padding:10px;
  }

  /*** Black theme ***/
  .black-theme.mega-skin .sidebar-tabs,
  .black-theme .sidebar-tabs ul {
    background:#464646;
  }
  .black-theme.mega-skin .sidebar-tabs li.active {
    background:none;
    color:#fff;
  }
  .black-theme.mega-skin .open .sidebar-tabs li.active {
    background:#fff;
    color:#464646;
  }
  .black-theme.mega-skin .latest-teaser .views-field-title {
    color:#22282c;
  }
}

/*** 401 - 1279 (sidebar) ***/
@media screen and (min-width:421px) and (max-width:1279px) {
  /*** 38. Open sidebar ***/
  .news-sidebar .latest-teaser .views-row {
    margin:0 0 24px;
    border:0;
    background:#fff;
    box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  }
  body:not(.touch) .news-sidebar .latest-teaser .views-row:hover {
    box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
  }
  .news-sidebar .latest-teaser .views-row-inner {
    min-height:110px;
    padding:15px;
  }
  .news-sidebar .latest-teaser .views-field-field-cover-media {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100%;
    max-width:140px;
    margin:0;
    overflow:hidden;
    text-align:center;
  }
  .news-sidebar .latest-teaser .views-field-field-cover-media .field-content {
    margin:0 -100px;
  }
  .news-sidebar .latest-teaser .views-field-field-cover-media div {
    height:100%;
    padding:0;
  }
  .news-sidebar .latest-teaser .views-field-field-cover-media img {
    position:static;
    height:100% !important;
    width:auto;
  }
  .news-sidebar .latest-teaser .info {
    margin:0 0 0 149px;
  }
  .news-sidebar .latest-teaser .views-field-title {
    margin:0 0 10px;
    font-size:3rem;
    line-height:34px;
  }
  .sidebar-content .adunit {
    margin:0 0 24px;
    padding:0;
    border:0;
  }
  .sidebar-content .more {
    margin:0;
    padding:10px;
  }
}

/*** - 1279 (no menu, no sidebar) ***/
@media screen and (max-width:1279px) {
  #header.active-search {
    z-index:7;
  }
  .news-sidebar {
    right:0;
    bottom:auto;
    z-index:4;
    width:auto;
  }
  .news-sidebar-wrapper.open .news-sidebar {
    bottom:0;
  }
  .sidebar-tabs {
    z-index:1;
    padding:6px 12px;
    border:0;
    background:#fff;
    box-shadow:0 3px 7px -3px rgba(0, 0, 0, 0.3);
  }
  .sidebar-tabs ul {
    max-width:450px;
    margin:0 auto;
    border:0;
    border-radius:0;
  }
  .sidebar-tabs li {
    width:33.3333%;
    padding:5px 8px;
    font-size:1.4rem;
  }
  .sidebar-tabs li.active {
    background:none;
    color:#222827;
  }
  body:not(.touch) .sidebar-tabs li:hover {
    background:#f8f8f8;
    color:#222827;
  }
  .sidebar-content {
    display:none;
    top:40px;
    padding:50px 70px;
  }
  .open .sidebar-content {
    display:block;
  }
  .sidebar-inner {
    max-width:640px;
    margin:0 auto;
  }
  .news-sidebar-wrapper .close {
    position:fixed;
    top:180px;
    right:40px;
    z-index:6;
    width:54px;
    height:54px;
    border:2px solid #ccc;
    border-radius:50%;
    text-indent:-9999px;
    background:#fff url(../../images/sprite.svg) -122px -153px no-repeat;
    overflow:hidden;
    cursor:pointer;
  }
  .news-sidebar-wrapper.open .close {
    display:block;
  }
  .scrolled .news-sidebar-wrapper .close {
    top:150px;
  }
  .external-wrapper {
    top:140px;
  }
  .scrolled .external-wrapper {
    top:110px;
  }
  .main-wrapper,
  .full-width {
    margin-left:0;
  }
  .overlay {
    left:0;
    width:calc(100% - 140px);
  }
  .menu-overlay {
    width:calc(100% - 334px);
  }
  .open-menu .menu-overlay {
    left:0;
  }

  /*** Black theme ***/
  .black-theme .sidebar-tabs,
  .black-theme .sidebar-tabs ul {
    background:#464646;
  }
  .black-theme .sidebar-tabs li.active {
    background:none;
    color:#fff;
  }
  .black-theme .open .sidebar-tabs li.active {
    background:#fff;
    color:#464646;
  }
  .black-theme .latest-teaser .views-field-title {
    color:#22282c;
  }
}

@media screen and (max-width:1024px) {
  .hft,
  .hftm {
    display:none;
  }
  .vtt,
  .vttm {
    display:block;
  }
}

@media screen and (max-width:969px) {
    img, audio, video {
    width:100%;
  }
  .adunit img {
    width:auto;
  }
  /*** 0. Basic layout ***/
  #header,
  .scrolled #header {
    z-index:7;
    height:60px;
  }
  .scroll-down #header {
    display:none;
  }
  .scrolled .logo-area,
  .logo-area {
    padding:5px 12px;
  }
  .main-logo {
    float:right;
    max-width:120px;
    margin:11px 0 0;
  }
  .burger-menu {
    float:left;
    width:34px;
    margin:7px 12px 0 0;
    padding:10px 2px 0;
    font-size:1.2rem;
  }
  .burger-menu .icon {
    margin:0 0 10px;
  }
  .main-header .social {
    top:10px;
    left:12px;
  }
  .latest-quote,
  .promo-teams {
    display:none;
  }
  .search-box {
    top:15px;
    right:140px;
  }
  .active-search .search-box {
    padding:15px 25px 15px 30px;
  }
  .active-search .search-box input[type="text"] {
    font-size:2rem;
  }
  .teams-trigger {
    width:62px;
    height:60px;
  }
  .teams-trigger:before,
  .teams-trigger:after {
    top:10px;
  }
  .teams-trigger span {
    height:0;
    margin:0;
    padding:0;
    text-indent:-9999px;
    overflow:hidden;
  }
  .teams-trigger span:after {
    position:absolute;
    bottom:5px;
    left:50%;
    margin:0 0 0 -5px;
  }
  .user-menu {
    right: 75px;
  }
  .user-menu__thumb {
    width: 46px;
    height: 46px;
  }
  
  .full.burger-menu {
    top:60px;
  }
  .scroll-down .full.burger-menu {
    top:0;
  }
  .menu-sidebar {
    top:60px;
    z-index:9;
  }
  .scroll-down .menu-sidebar {
    top:0;
  }
  .news-sidebar,
  .scrolled .news-sidebar,
  .live-scrolled .news-sidebar,
  .article-scrolled .news-sidebar {
    top:60px;
    z-index:6;
  }
  .scroll-down .news-sidebar {
    top:0;
  }
  .sidebar-tabs {
    padding:4px;
  }
  .sidebar-tabs ul {
    max-width:none;
  }
  .sidebar-tabs li {
    padding:7px;
  }
  .scroll-down .sidebar-tabs li {
    padding:12px;
  }
  .sidebar-content {
    top:40px;
  }
  .scroll-down .sidebar-content {
    top:50px;
  }
  .external-wrapper,
  .scrolled .external-wrapper {
    top:0;
    margin-bottom: 0;
    padding-top:100px;
  }
  .open-menu .external-wrapper {
    -webkit-overflow-scrolling:auto;
  }
  .main {
    margin-top:0;
    padding:50px 0 0;
    border:0;
  }
  .content-header {
    margin:0 50px;
  }
  .padded {
    padding:50px;
  }
  .margin-bottom {
    margin:0 0 30px;
  }
  h1 {
    margin:0 0 50px;
    text-align:left;
    font-size:4.5rem;
    line-height:45px;
    letter-spacing:0;
  }
  .two-level h2 {
    font-size:4.5rem;
    line-height:45px;
  }
  .padded h3 {
    margin:-15px 0 35px;
    text-align:left;
  }
  .sidebar-on .content-area {
    float:none;
    width:auto;
  }
  .sidebar {
    float:none;
    width:auto;
    margin:50px 0 0;
  }

  .item-list .pager {
    margin:40px 0 0;
  }
  .more-link {
    width:50%;
    margin:0 auto -15px;
  }

  .overlay {
    width:calc(100% - 100px);
    padding:50px 50px 0;
  }
  .scroll-down .overlay {
    top:50px;
  }
  .overlay-inner {
    margin-bottom:50px;
  }
  .overlay-wrapper .close {
    top:122px;
    right:22px;
  }
  .scroll-down .overlay-wrapper .close {
    top:72px;
  }

  /*** 35. Submenu ***/
  .menu-overlay {
    top:60px;
    z-index:8;
    width:calc(100% - 334px);
    padding:50px 70px;
  }
  .menu-overlay ~ .close {
    top:82px;
    z-index:8;
  }
  .main-link .cat {
    font-size:4rem;
    line-height:40px;
  }
  .menu-teaser .views-row {
    width:50%;
  }
  .menu-teaser .views-row-3,
  .menu-teaser .views-row-4 {
    display:none;
  }
  .submenu li {
    margin:0 0 12px;
  }
  .submenu li .subcat {
    font-size:3rem;
    line-height:35px;
  }
  /*** 38. Hide sidebar ***/
  .news-sidebar-wrapper .close {
    top:122px;
    right:22px;
  }
  .scroll-down .news-sidebar-wrapper .close {
    top:72px;
  }

  .teams-section ~ .close {
    top:82px;
    z-index:6;
  }
  .teams-section {
    z-index:5;
    top:60px;
    height:calc(100% - 110px);
  }
  .open-teams .teams-section,
  .closing-teams .teams-section {
    z-index:6;
  }
}

@media screen and (max-width:700px) {
  /*** 0. Basic layout ***/
  h1 {
    margin:0 0 40px;
    font-size:4rem;
    line-height:40px;
  }
  .two-level h2 {
    font-size:4rem;
    line-height:40px;
  }
  .two-level h1 span {
    max-width:calc(100% - 20px);
    padding:5px 10px 1px;
  }
  .main {
    padding:40px 0 0;
  }
  .content-header {
    margin:0 40px;
  }
  .padded {
    padding:40px;
  }
  .margin-bottom {
    margin:0 0 25px;
  }
  .sidebar {
    margin:30px 0 0;
  }
  .sidebar .block {
    margin:0 0 25px;
  }
  .padded h3 {
    margin:-15px 0 25px;
    font-size:3.5rem;
    line-height:35px;
  }
  .more-link {
    margin:-5px auto -15px;
  }
  .overlay {
    width:calc(100% - 80px);
    padding:40px 40px 0;
  }
  .overlay-inner {
    margin-bottom:40px;
  }
  /*** 35. Submenu ***/
  .menu-overlay {
    width:calc(100% - 274px);
  }
  .main-link {
    margin:0 0 25px;
  }
  .main-link .cat {
    font-size:3.5rem;
    line-height:35px;
  }
  .menu-teaser .view-content {
    margin-bottom:0;
  }
  .submenu li .subcat {
    font-size:2.5rem;
    line-height:25px;
  }

  .teams-section {
    height:calc(100% - 90px);
  }
  /* Backdrop */
  .backdrop-skin {
    padding-bottom:150px;
  }
}

@media screen and (min-width:421px) and (max-width:650px) {
  .news-sidebar .latest-teaser .views-field-title {
    font-size:2.2rem;
    line-height:26px;
  }
}

@media screen and (max-width:600px) {
  /*** 0. Basic layout ***/
  #header,
  .scrolled #header {
    height:50px;
    background:#fc7438;
  }
  .scrolled .logo-area,
  .logo-area {
    width:158px;
    height:26px;
    padding:12px 15px;
  }
  .active-search .logo-area {
    display:none;
  }
  .main-logo {
    max-width:105px;
    margin:0;
  }
  .burger-menu {
    height:14px;
    margin:1px 15px 0 0;
    text-indent:-9999px;
    overflow:hidden;
  }
  .active-search .main-header {
    margin:0;
  }
  .main-header .social {
    display:none;
  }
  .search-box {
    top:10px;
    right:112px;
  }
  .active-search .search-box {
    padding:10px;
    height:30px;
  }
  .active-search .search-box input[type="text"] {
    font-size:1.8rem;
  }
  .search-box input[type="submit"] {
    background-position:-315px -102px;
  }
  .user-menu {
    padding: 4px 0;
    right: 60px;
  }
  .user-menu:hover {
    padding-left: 20px;
  }
  .user-menu__thumb {
    width: 40px;
    height: 40px;
  }
  .user-menu__bubble {
    top: 60px;
    right: -27px;
    padding: 20px 0;
  }
  .user-menu__bubble:after {
    display: none;
  }
  .user-menu__welcome {
    position: static;
    margin: 0 30px 10px;
  }
  .user-menu__logout {
    position: static;
    display: block;
    width: auto;
    margin: 20px 30px 0;
  }
   
  .teams-trigger {
    width:63px;
    height:63px;
    -webkit-transform:scale(0.8);
    -ms-transform:scale(0.8);
    transform:scale(0.8);
    -webkit-transform-origin:top right;
    -ms-transform-origin:top right;
    transform-origin:top right;
  }
  .teams-trigger:before,
  .teams-trigger:after {
    top:15px;
  }
  .teams-trigger span:after {
    display:none;
  }
  .full.burger-menu,
  .menu-sidebar {
    top:50px;
  }
  .news-sidebar,
  .scrolled .news-sidebar {
    top:50px;
  }
  .sidebar-tabs {
    padding:0;
  }
  .sidebar-tabs li {
    padding:6px;
    font-size:1.2rem;
  }
  .scroll-down .sidebar-tabs li {
    padding:12px 6px;
  }
  .sidebar-content {
    top:30px;
  }
  .scroll-down .sidebar-content {
    top:42px;
  }
  .external-wrapper {
    padding-top:80px;
  }
  h1 {
    font-size:3.2rem;
    line-height:32px;
  }
  .tabbed h1 {
    margin:0 0 20px;
  }
  .two-level h2 {
    font-size: 3.2rem;
    line-height: 32px;
  }
  .bottom-info .views-field-field-main-category {
    height: 14px;
    overflow: hidden;
  }

  .more-link {
    width:auto;
    margin:0 0 -15px;
  }
  .more-link a {
    margin:0;
  }

  .overlay {
    top:80px;
  }
  .scroll-down .overlay {
    top:42px;
  }
  .overlay-wrapper .close,
  .news-sidebar-wrapper .close {
    top:98px;
    right:18px;
  }
  .scroll-down .overlay-wrapper .close {
    top:60px;
  }
  /*** 35. Submenu ***/
  .menu-overlay {
    z-index:9;
    top:50px;
    width:calc(100% - 80px);
    margin:0;
  }
  .menu-overlay ~ .close {
    z-index:9;
    top:68px;
  }
  .open-menu .menu-overlay.open {
    -ms-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .main-link {
    margin:0;
  }
  .main-link .cat {
    font-size:3rem;
    line-height:35px;
  }
  .menu-teaser {
    display:none;
  }
  .submenu li .subcat {
    font-size:1.8rem;
    line-height:26px;
  }
  /*** 36. Open Menu ***/
  .open-menu .full.burger-menu:after {
    display:none;
  }
  /*** 38. Open sidebar ***/
  .sidebar-content {
    top:30px;
    padding:20px;
  }
  .news-sidebar-wrapper .close {
    top:98px;
  }
  .scroll-down .news-sidebar-wrapper .close {
    top:60px;
  }

  .teams-section {
    top:50px;
    height:calc(100% - 70px);
  }
  .teams-section ~ .close {
    top:68px;
  }
  /* Black theme*/
  .black-theme #header,
  .black-theme .main-header .search-box {
    background:#fc7438;
  }
  .black-theme.active-search .main-header .search-box {
    background:#fff;
  }
}

@media screen and (max-width:450px) {
  .hfm,
  .vtt {
    display:none;
  }
  .vtm,
  .hft {
    display:block;
  }
}

@media screen and (max-width:420px) {
  /*** 0. Basic layout ***/
  .sidebar-content .adunit {
    margin: 0 -20px;
    padding: 12px 0;
  }
  .main {
    margin:0 0 20px;
    padding:20px 0 0;
  }
  .content-header {
    margin:0 20px;
  }
  h1 {
    margin:0 0 20px;
    font-size:2.5rem;
    line-height:25px;
  }
  .two-level h2 {
    margin:0 0 5px;
    font-size:2.5rem;
    line-height:25px;
  }
  h4 {
    font-size:1.6rem;
    line-height:20px;
  }
  .footer {
    margin:0 0 20px;
  }
  .footer .logo {
    display:none;
  }
  .top-full .adunit,
  .bottom-full .adunit {
    padding:20px 0;
  }
  .padded {
    padding:20px;
  }
  .margin-bottom {
    margin:0 0 20px;
  }
  .padded h3 {
    margin:0 0 20px;
    font-size:2.5rem;
    line-height:25px;
  }
  .sidebar {
    margin:20px 0 0;
  }
  .sidebar .block {
    margin:0 0 20px;
  }
  .sidebar .adunit {
    margin:0 -20px;
    text-align:center;
  }

  .more-link {
    margin:0;
  }
  .more-link a {
    padding:10px;
    font-size:1.4rem;
    line-height:17px;
  }

  .overlay {
    width:calc(100% - 40px);
    padding:20px 20px 0;
  }
  .overlay-inner {
    margin-bottom:20px;
  }
  .overlay-wrapper .close,
  .news-sidebar-wrapper .close {
    -webkit-transform:scale(0.7);
    -ms-transform:scale(0.7);
    transform:scale(0.7);
    -webkit-transform-origin:top right;
    -ms-transform-origin:top right;
    transform-origin:top right;
  }

  .teams-section {
    height:calc(100% - 70px);
  }
  /*** 38. Open sidebar ***/
  .sidebar-content {
    padding:20px;
  }
  /* Backdrop */
  .backdrop-skin {
    padding-bottom:100px;
  }
}
