/* Mini teaser */
.mini-teaser .view-content {
  margin:0 0 0 -35px;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.mini-teaser .views-row {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  float:left;
  width:33.3333%;
  margin:0 0 35px;
}
.mini-teaser .views-row:nth-child(3n+1) {
  clear:left;
}
.mini-teaser .views-row-inner {
  position:relative;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  margin:0 0 0 35px;
  padding:20px 20px 50px;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
}
body:not(.touch) .mini-teaser .views-row-inner:hover {
  box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
}
.mini-teaser .views-field-field-cover-media {
  min-height:43px;
  margin:-20px -20px 15px;
}
.mini-teaser .views-field-field-main-category {
  margin:-43px 0 15px;
}
.mini-teaser .views-field-field-main-category .field-content {
  position:relative;
  z-index:3;
  display:inline-block;
  padding:2px 8px;
  font-size:2rem;
  line-height:24px;
  font-weight:bold;
  background:#fc7438;
  color:#fff;
}
.mini-teaser .views-field-field-main-category a {
  color:#fff;
}
.mini-teaser .views-field-disqus-comment-count .comments-counter {
  margin:3px 0 0;
}
.mini-teaser .views-field-title {
  font-size:2rem;
  line-height:22px;
  font-weight:bold;
}
.mini-teaser .views-field-created {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
}

.mini-teaser .views-field-field-image {
  position:relative;
  width:64px;
  height:64px;
  margin:-64px 0 10px;
  border-radius:50%;
  line-height:0;
  overflow:hidden;
}
.mini-teaser .views-field-field-image img {
  background:#fff;
}
.mini-teaser .views-field-name {
  margin:0 0 5px;
  line-height:16px;
  font-weight:bold;
  color:#fc7438;
}

@media screen and (max-width:969px) {
  .mini-teaser .views-row {
    width:50%;
  }
  .mini-teaser .views-row:nth-child(3n+1) {
    clear:none;
  }
  .mini-teaser .views-row-odd,
  .mini-teaser .views-row:nth-child(2n+1) {
    clear:left;
  }
}

@media screen and (max-width:530px) {
  .mini-teaser .view-content {
    margin:0;
  }
  .mini-teaser .views-row {
    float:none;
    width:100%;
    margin:0 0 20px;
  }
  .mini-teaser .views-row-inner {
    margin:0;
    padding:18px 18px 45px;
  }
  .mini-teaser .views-field-field-cover-media {
    margin:-18px -18px 15px;
  }
  .mini-teaser .views-field-field-main-category {
    margin:-41px 0 15px;
  }
  .mini-teaser .views-field-field-main-category .field-content {
    padding:3px 8px;
    font-size:1.6rem;
    line-height:20px;
  }
  .mini-teaser .views-field-disqus-comment-count .comments-counter {
    margin:0 0 0 5px;
  }
  .mini-teaser .views-field-title {
    font-size:1.6rem;
    line-height:18px;
  }
  .mini-teaser .views-field-created {
    left:18px;
    right:18px;
    bottom:16px;
  }
}