/*** 26. Newspapers ***/
.newspaper-filtering {
  margin:0 0 70px;
}
.calendar.options {
  float:left;
  width:auto;
  margin:0 15px 0 0;
}
.calendar.options .current {
  padding:16px 52px 16px 18px;
}
.calendar .icon {
  right:18px;
}
/* Calendar */
.calendar-section {
  position:fixed;
  top:100px;
  left:515px;
  z-index:5;
  width:calc(100% - 655px);
  height:0;
  padding:0 70px;
  background:rgba(33, 52, 67, 0.6);
  overflow:hidden;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
  -webkit-transition:0.5s padding, 0.5s height;
  transition:0.5s padding, 0.5s height;
}
.calendar-section.open {
  padding:70px;
  height:calc(100% - 240px);
  bottom:0;
}
.scrolled .calendar-section {
  top:70px;
}
.scrolled .calendar-section.open {
  height:calc(100% - 210px);
}
.calendar-inner {
  position:relative;
  max-width:539px;
  margin:0 auto;
}
.calendar-header {
  position:relative;
  padding:15px 72px;
  border-bottom:1px solid #ddd;
  text-align:center;
  background:#fff;
}
.calendar-controls li {
  position:absolute;
  top:10px;
  left:10px;
  display:block;
  width:50px;
  height:50px;
  border:1px solid #e6e6e6;
  border-radius:4px;
  text-indent:-9999px;
  background:#fff url(../../images/sprite.svg) 15px -95px no-repeat;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  overflow:hidden;
  cursor:pointer;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.calendar-controls li.next {
  left:auto;
  right:10px;
  background-position:-31px -95px;
}
.calendar-month {
  font-size:2rem;
  line-height:24px;
  text-transform:uppercase;
  color:#213443;
}
.calendar-year {
  font-weight:bold;
  color:#b0beca;
}
.calendar-container {
  padding:30px;
  border-top:1px solid #fff;
  text-align:center;
  background:#f8f8f8;
}
.fc-head {
  text-transform:uppercase;
  font-weight:bold;
  color:#fc7438;
  overflow:hidden;
}
.fc-head div {
  float:left;
  width:14.2857%;
  line-height:30px;
}
.fc-body {
  height:305px;
  border:1px solid #ddd;
}
.fc-four-rows .fc-body {
  height:244px;
}
.fc-six-rows .fc-body {
  height:366px;
}
.fc-body * {
  box-sizing:border-box;
}
.fc-row {
  height:20%;
  border-top:1px solid #ddd;
}
.fc-four-rows .fc-row {
  height:25%;
}
.fc-six-rows .fc-row {
  height:16.6666%;
}
.fc-row:first-child {
  border:0;
}
.fc-row > div {
  position:relative;
  float:left;
  width:14.2857%;
  height:100%;
  border-left:1px solid #ddd;
  background:#fff;
}
.fc-row > div:first-child {
  border:0;
}
.fc-row > div:empty {
  background:transparent;
}
.fc-row .fc-today {
  background:#fc7438;
}
.fc-row .fc-content {
  cursor:pointer;
}
.fc-date {
  display:block;
  margin:19px 0 0;
  font-size:2.2rem;
  line-height:24px;
  color:#5a81a0;
}
.fc-today .fc-date {
  color:#fff;
}
.fc-emptydate {
  display:none;
}
.fc-weekday,
.fc-content div {
  display:none;
}
.fc-content:after {
  content:'';
  position:absolute;
  left:50%;
  bottom:8px;
  width:6px;
  height:6px;
  margin:0 0 0 -3px;
  border-radius:50%;
  background:#fc7438;
}
body:not(.touch) .fc-content:hover:after {
  background:#5a81a0;
}
.fc-today.fc-content:after {
  background:#fff;
}
.calendar-content {
  position:absolute;
  top:100%;
  left:0;
  right:0;
  bottom:0;
  background:#f8f8f8;
  overflow:hidden;
  -webkit-transition:0.5s;
  transition:0.5s;
}
.selected-date {
  height:42px;
  padding:15px 20px;
  border-bottom:1px solid #ddd;
  line-height:14px;
  background:#fff;
  overflow:hidden;
}
.selected-date .day {
  float:left;
  margin:0 8px 0 0;
  font-size:5rem;
  line-height:43px;
  font-weight:bold;
  color:#fc7438;
}
.selected-date .month {
  display:block;
  font-size:2rem;
  line-height:24px;
  text-transform:uppercase;
  color:#213443;
}
.selected-date .year {
  font-weight:bold;
  color:#b0beca;
}
.calendar-links {
  position:absolute;
  top:72px;
  left:0;
  right:0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
}
.calendar-links a {
  display:block;
  padding:15px 20px;
  font-size:3rem;
  line-height:40px;
  border-top:1px solid #ddd;
  color:#5a81a0;
}
.calendar-links a.all {
  background:#eef4f7;
  color:#0a2a42;
}
body:not(.touch) .calendar-links a:hover {
  color:#fc7438;
}
.calendar-content-close {
  position:absolute;
  top:10px;
  right:10px;
  width:50px;
  height:50px;
  border:1px solid #e6e6e6;
  border-radius:4px;
  background:#fff url(../../images/sprite.svg) -124px -155px no-repeat;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  cursor:pointer;
}
.calendar-close {
  position:absolute;
  top:150px;
  right:40px;
  z-index:5;
  width:54px;
  height:54px;
  border:2px solid #ccc;
  border-radius:50%;
  text-indent:-9999px;
  background:url(../../images/sprite.svg) -78px -153px no-repeat;
  overflow:hidden;
  cursor:pointer;
  opacity:0;
  visibility:hidden;
  -webkit-transition:0s 0.2s opacity, 0.2s background-color;
  transition:0s 0.2s opacity, 0.2s background-color;
}
body:not(.touch) .calendar-close:hover {
  border-color:#fc7438;
  background-color:#fc7438;
  background-position:-166px -153px;
}
.scrolled .calendar-close {
  top:110px;
}
.open ~ .calendar-close {
  opacity:1;
  visibility:visible;
}

.newspaper-tabs {
  float:right;
  max-width:420px;
  border:2px solid #e1e1e1;
  border-radius:4px;
  background:#fff;
  overflow:hidden;
}
.newspaper-tabs ul {
  margin:0;
}
.newspaper-tabs ul li {
  float:left;
  list-style:none;
  margin:0;
  text-align:center;
}
.newspaper-tabs ul li:first-child a {
  border:0;
}
.newspaper-tabs ul a {
  display:block;
  padding:15px 20px;
  border-left:1px solid #e1e1e1;
  font-size:1.3rem;
  font-weight:bold;
  text-transform:uppercase;
}
body:not(.touch) .newspaper-tabs li a:not(.active):hover {
  background:#f8f8f8;
}
.newspaper-tabs li a.active {
  background:#33393d;
  color:#fff;
}

/*** 27. Newspaper ***/
.newspaper-inner .side-title {
  max-width:calc(100% - 230px);
}
.newspaper-inner .calendar.options {
  float:right;
  margin:-130px 0 0;
  background:#fff;
}
.newspaper-inner .tabwrapper {
  float:left;
  width:74.4468%;
  min-height:500px;
}
.full-cover {
  padding:20px;
  line-height:0;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  cursor:pointer;
}
.full-cover .container {
  position:relative;
  text-align:center;
}
body:not(.touch) .full-cover:hover .container:before {
  content:'';
  position:absolute;
  top:3px;
  right:3px;
  width:48px;
  height:48px;
  border:1px solid rgba(255, 255, 255, 0.2);
  border-radius:4px;
  background:url(../../images/sprite.svg) 10px -247px no-repeat;
  background-color:rgba(34, 40, 44, 0.8);
}
.newspaper-inner .tab-controls {
  margin:0 0 0 74.4468%;
}
.cover-thumbs ul {
  margin:0 0 0 35px;
}
.cover-thumbs li {
  position:relative;
  list-style:none;
  margin:0 0 35px;
  padding:10px;
  line-height:0;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  cursor:pointer;
}
body:not(.touch) .cover-thumbs li:hover:after,
.touch .cover-thumbs li:after {
  content:'';
  position:absolute;
  top:23px;
  right:23px;
  width:48px;
  height:48px;
  border-color:1px solid rgba(255, 255, 255, 0.2);
  border-radius:4px;
  background:url(../../images/sprite.svg) -197px -104px no-repeat;
  background-color:rgba(34, 40, 44, 0.8);
}
.cover-thumbs li.active:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  box-shadow:0 0 0 1px #b0beca;
}
.cover-controls li {
  position:fixed;
  top:50%;
  left:530px;
  z-index:4;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  margin:24px 0 0;
  border:1px solid #e6e6e6;
  border-radius:6px;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  overflow:hidden;
}
.cover-controls li.next {
  left:auto;
  right:25px;
}
.cover-controls li a {
  position:relative;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-align-items:center;
  align-items:center;
  -webkit-justify-content:center;
  -ms-justify-content:center;
  justify-content:center;
  height:36px;
  width:0;
  padding:15px 10px 15px 56px;
  text-align:center;
  font-size:1.6rem;
  line-height:18px;
  font-weight:bold;
  color:#2f2f2f;
  text-indent:-9999px;
  overflow:hidden;
}
.touch .cover-controls li a {
  display:block;
}
.cover-controls li.next a {
  padding:15px 56px 15px 10px;
}
body:not(.touch) .cover-controls li:hover a {
  width:auto;
  max-width:150px;
  min-width:100px;
  padding:15px 10px 15px 76px;
  text-indent:0;
}
body:not(.touch) .cover-controls li.next:hover a {
  padding:15px 76px 15px 10px;
}
.cover-controls li a:after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:66px;
  height:66px;
  background:url(../../images/sprite.svg) 23px -87px no-repeat;
}
body:not(.touch) .cover-controls li:hover a:after {
  border-right:1px solid #e6e6e6;
}
.cover-controls li.next a:after {
  left:auto;
  right:0;
  background-position:-23px -87px;
}
body:not(.touch) .cover-controls li.next:hover a:after {
  border-right:0;
  border-left:1px solid #e6e6e6;
}

@media screen and (max-width:1679px) {
  .calendar-section {
    left:321px;
    width:calc(100% - 461px);
  }
  .cover-controls li {
    left:345px;
  }
}

@media screen and (max-width:969px) {
  /*** 26. Newspapers ***/
  .calendar-section {
    top:100px;
    width:calc(100% - 100px);
    padding:0 50px;
  }
  .scroll-down .calendar-section {
    top:50px
  }
  .calendar-section.open {
    height:calc(100% - 200px);
    padding:50px;
  }
  .scroll-down .calendar-section.open {
    height:calc(100% - 150px);
  }
  .calendar-close {
    top:122px;
    right:22px;
  }
  .scroll-down .calendar-close {
    top:72px;
  }
  .newspaper-tabs ul a {
    padding:15px;
  }
  /*** 27. Newspaper ***/
  .newspaper-inner .calendar.options {
    margin-top:-110px;
  }
  .newspaper-inner .tabwrapper {
    float:none;
    width:auto;
    margin:0 -50px;
    min-height:900px;
  }
  .newspaper-inner .tabwrapper .tab-content {
    display:block;
  }
  .full-cover {
    padding:50px;
  }
  .cover-thumbs.tab-controls {
    display:none;
  }
}

@media screen and (max-width:1279px) {
  .calendar-section {
    left:0;
    width:calc(100% - 140px);
  }
  .cover-controls li {
    left:25px;
  }
}

@media screen and (max-width:750px) {
  /*** 26. Newspapers ***/
  .newspaper-filtering {
    margin:0 0 20px;
  }
  .calendar.options {
    float:none;
    margin:0 0 20px;
  }
  .newspaper-tabs {
    float:none;
    max-width:none;
  }
  .newspaper-tabs ul li {
    width:33.3333%;
  }
  .newspaper-tabs li a {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -ms-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    -ms-justify-content:center;
    justify-content:center;
    height:30px;
    padding:10px;
    line-height:15px;
  }
  /*** 27. Newspaper ***/
  .newspaper-inner .side-title {
    max-width:none;
  }
  .newspaper-inner .calendar.options {
    float:none;
    margin:0 0 20px;
  }
  .newspaper-inner .tabwrapper {
    min-height:700px;
  }
}

@media screen and (max-width:600px) {
  .calendar-close {
    top:98px;
    right:18px;
  }
  /*** 26. Newspapers ***/
  .calendar-section {
    top:80px;
    width:calc(100% - 80px);
    padding:0 40px;
  }
  .scroll-down .calendar-section {
    top:42px;
  }
  .calendar-section.open {
    height:calc(100% - 160px);
    padding:40px;
  }
  .scroll-down .calendar-section.open {
    height:calc(100% - 122px);
  }
  .scroll-down .calendar-close {
    top:60px;
  }
}

@media screen and (max-width:420px) {
  .calendar-close {
    -webkit-transform:scale(0.7);
    -ms-transform:scale(0.7);
    transform:scale(0.7);
    -webkit-transform-origin:top right;
    -ms-transform-origin:top right;
    transform-origin:top right;
  }
  /*** 26. Newspapers ***/
  .calendar.options .current {
    padding:6px 46px 6px 15px;
  }
  .calendar .icon {
    right:15px;
  }
  .calendar-section {
    width:calc(100% - 40px);
    padding:0 20px;
  }
  .calendar-section.open {
    height:calc(100% - 120px);
    padding:20px;
  }
  .scroll-down .calendar-section.open {
    height:calc(100% - 82px);
  }
  .calendar-inner {
    margin-top:58px;
  }
  .calendar-month {
    font-size:1.6rem;
  }
  .calendar-container {
    padding:10px 20px 20px;
  }
  .fc-body {
    height:250px;
  }
  .fc-four-rows .fc-body {
    height:200px;
  }
  .fc-six-rows .fc-body {
    height:300px;
  }
  .fc-date {
    margin:14px 0 0;
    font-size:1.8rem;
  }
  .fc-content:after {
    bottom:6px;
    width:4px;
    height:4px;
    margin:0 0 0 -2px;
  }
  .selected-date {
    height:32px;
    padding:15px 12px;
  }
  .selected-date .day {
    font-size:4rem;
    line-height:35px;
  }
  .selected-date .month {
    font-size:1.6rem;
    line-height:20px;
  }
  .selected-date .year {
    line-height:12px;
  }
  .calendar-links {
    top:62px;
  }
  .calendar-links a {
    padding:10px 12px;
    font-size:2rem;
    line-height:30px;
  }
  .calendar-content-close {
    top:5px;
    right:5px;
  }
  .newspaper-tabs li a {
    height:25px;
    font-size:1.2rem;
  }
  /*** 27. Newspaper ***/
  .newspaper-inner .tabwrapper {
    min-height:300px;
    margin:0 -20px;
  }
  .full-cover {
    margin-top:-20px;
    padding:20px;
    box-shadow:0 0 0 #fff;
  }
  .full-cover:first-child {
    margin-top:0;
  }
  .full-cover .container:before {
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    width:126px;
    height:126px;
    margin:-63px 0 0 -63px;
    border:1px solid rgba(255, 255, 255, 0.2);
    border-radius:5px;
    background:url(../images/touch.png) 50% 50% no-repeat;
    background-color:rgba(47, 47, 47, 0.8);
    opacity:0;
    -webkit-transition:opacity 0.4s;
    transition:opacity 0.4s;
  }
  .full-cover .with-icon:before {
    opacity:1;
  }
  .cover-controls li {
    left:10px;
    -webkit-transform:scale(0.75);
    -ms-transform:scale(0.75);
    transform:scale(0.75);
    -webkit-transform-origin:top left;
    -ms-transform-origin:top left;
    transform-origin:top left;
  }
  .cover-controls li.next {
    right:10px;
    -webkit-transform-origin:top right;
    -ms-transform-origin:top right;
    transform-origin:top right;
  }
}