/* Poll */
.body-poll {
  margin: 30px 0 0;
}
.poll-wrapper {
  position:relative;
  margin:0 0 0 35px;
  background:#fff;
  -webkit-flex:1;
  -ms-flexbox:1;
  flex:1;
}
.promo-poll h4 {
  margin:0 0 20px;
  padding:10px 18px;
  border-bottom:1px solid #e1e1e1;
  text-transform:uppercase;
  color:#fc7438;
}
.entity-pollim {
  padding:0 0 80px;
}
.entity-pollim .content {
  display: block;
  max-height: 340px;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.poll-title {
  margin:0 18px 25px;
  font-size:2rem;
  line-height:22px;
  font-weight:bold;
  color:#254c6b;
}
.field-type-choices .field-items {
  border-top:1px solid #e1e1e1;
}
.field-type-choices .choice-item {
  height:auto;
  border-bottom:1px solid #e1e1e1;
}
.field-type-choices .choice-data {
  width:auto;
  border:0;
}
.field-type-choices input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.field-type-choices .choice-data label {
  position:relative;
  float:none;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-align-items:center;
  -ms-align-items:center;
  align-items:center;
  width:auto;
  min-height:31px;
  padding:18px 18px 18px 70px;
  line-height:15px;
  font-family:'Roboto Slab',serif;
  font-weight:normal;
}
.choice-data label:before {
  content:'';
  position:absolute;
  top:18px;
  left:18px;
  width:29px;
  height:29px;
  border:1px solid #939ea7;
  border-radius:4px;
  background:#fff;
}
.choice-data input:checked ~ label:after {
  content:'';
  position:absolute;
  top:24px;
  left:24px;
  width:19px;
  height:19px;
  border-radius:4px;
  background:#fc7438;
}
.choice-data input:checked ~ label {
  background:#fc7438;
  color:#fff;
}
.field-type-choices .choice-votecount {
  display:none;
}
.voted .choice-data label:before,
.voted .choice-data label:after {
  display:none;
}
.voted .choice-data .choice-votecount {
  display:block;
  float:none;
  position:absolute;
  top:18px;
  left:18px;
  font-size:2rem;
  line-height:30px;
  font-weight:bold;
  color:#fc7438;
}
.voted input:checked ~ label .choice-votecount {
  color:#fff;
}
.field-type-choices .choice-percentage-bar {
  display:none;
}
.field-type-choices .choices-total-vote-count {
  position:absolute;
  left:0;
  right:0;
  bottom:30px;
  float:none;
  text-align:center;
  font-size:1.8rem;
  line-height:20px;
  color:#2f2f2f;
}
.promo-poll .message {
  display:none;
}

@media screen and (max-width: 969px) {
  .entity-pollim .content {
    max-height: none;
  }
}
