/* Picante */
.promo-picante {
  overflow:hidden;
}
.promo-picante .sliding-outer {
  margin:0 -70px;
}
.promo-picante .sliding-container {
  width:300%;
}
.picante-slider .views-row {
  float:left;
  width:33.3333%;
  margin:0;
}
.picante-slider .views-row-inner {
  position:relative;
  padding:5px 70px;
}
.picante-slider .views-field-field-cover-media {
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3)
}
.picante-slider .views-field-field-cover-media:before {
  content:'';
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  height:250px;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.picante-slider .info {
  position:absolute;
  left:70px;
  right:70px;
  bottom:5px;
  z-index:1;
  padding:25px;
  color:#fff;
}
.picante-slider .views-field-title {
  margin:0 0 25px;
  font-size:5.5rem;
  line-height:56px;
  letter-spacing:-1px;
  font-weight:bold;
}
.picante-slider .views-field-view-node a {
  top:5px;
  left:70px;
  right:70px;
  bottom:5px;
}
.picante-slider .views-field-nothing {
  position:absolute;
  right:95px;
  bottom:30px;
  z-index:2;
}
.promo-picante .slider-controls span {
  left:25px;
}
.promo-picante .slider-controls .next {
  left:auto;
  right:25px;
}

@media screen and (max-width:969px) {
  .promo-picante .sliding-outer {
    margin:0 -50px;
  }
  .promo-picante .slider-controls span {
    left:15px;
  }
  .promo-picante .slider-controls .next {
    left:auto;
    right:15px;
  }
  .picante-slider .views-row-inner {
    padding:5px 50px;
  }
  .picante-slider .info {
    left:50px;
    right:50px;
  }
  .picante-slider .views-field-nothing {
    right:75px;
  }
}

@media screen and (max-width:650px) {
  .picante-slider .views-field-title {
    margin:0 0 15px;
    font-size:4.5rem;
    line-height:45px;
  }
  .picante-slider .views-field-nothing {
    display:none;
  }
}

@media screen and (max-width:600px) {
  .promo-picante .sliding-outer {
    margin:0;
  }
  .promo-picante .sliding-container {
    width:auto;
  }
  .promo-picante .slider-controls,
  .promo-picante .slider-pager {
    display:none;
  }
  .picante-slider .views-row {
    float:none;
    width:100%;
    margin:0 0 20px;
  }
  .picante-slider .views-row-last {
    margin:0;
  }
  .picante-slider .views-row-inner {
    padding:0;
  }
  .picante-slider .info {
    left:0;
    right:0;
    bottom:0;
    padding:15px;
  }
  .picante-slider .views-field-title {
    margin:0 0 5px;
    font-size:1.8rem;
    line-height:20px;
  }
}
