/* Promo blogs */
.promo-blogs h3 {
  margin: 0 0 15px;
  font-size: 4rem;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}
.promo-blogs h3 a {
  color: #133c5e;
}
.promo-blogs .content {
  padding: 30px;
  background: #133c5e url(../../images/blogs_bg.png) 50% 50% no-repeat;
}
.promo-blogs .view-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin: 0 -11px 28px;
}
.promo-blogs .views-row {
  position: relative;
  -webkit-flex: 1 0 calc(25% - 22px);
  -ms-flex: 1 0 calc(25% - 22px);
  flex: 1 0 calc(25% - 22px);
  float: left;
  max-width: calc(25% - 22px);
  margin: 0 11px;
  padding: 0 0 15px;
  text-align: center;
  color: #fff;
}
.promo-blogs .views-field-field-image {
  max-width: 105px;
  margin: 0 auto;
}
.promo-blogs .views-field-name {
  margin: 0 0 6px;
  padding: 10px 0 0;
  border-top: 1px solid #fc7438;
  font-size: 2rem;
  line-height: 20px;
  font-weight: bold;
  color: #fc7438;
}
.promo-blogs .views-field-title {
  margin: 0 0 8px;
  font-size: 1.8rem;
  line-height: 22px;
}
.promo-blogs .views-field-created {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Roboto Slab',serif;
  color: #b0beca;
}
.promo-blogs .more-link {
  margin-bottom: 0;
}
.promo-blogs .more-link a {
  border: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 969px) {
  .promo-blogs .content {
    background-size: contain;
  }
  .promo-blogs .view-content {
    margin-bottom: 6px;
  }
  .promo-blogs .views-row {
    -webkit-flex: 1 0 calc(50% - 22px);
    -ms-flex: 1 0 calc(50% - 22px);
    flex: 1 0 calc(50% - 22px);
    max-width: calc(50% - 22px);
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 700px) {
  .promo-blogs h3 {
    margin-left: 40px;
    text-align: left;
    font-size: 3.5rem;
    line-height: 35px;
  }
}

@media screen and (max-width: 530px) {
  .promo-blogs .view-content {
    display: block;
  }
  .promo-blogs .views-row {
    float: none;
    max-width: none;
  }
}

@media screen and (max-width: 420px) {
  .promo-blogs h3 {
    margin: 0 0 10px 20px;
    font-size: 2.5rem;
    line-height: 25px;
  }
}
