.promo-politics h3 {
  margin: 6px 0 12px;
  font-size: 2.8rem;
  line-height: 22px;
}
.promo-politics h3 a {
  display: block;
  padding: 0 0 8px;
  color: #e74c3c;
}
.promo-politics .content {
  padding: 11px 0;
  background: #fae3b4;
}
.promo-politics .tab-controls {
  display: table;
  box-sizing: border-box;
  width: calc(100% - 16px);
  margin: 0 8px 11px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  text-align: center;
  background: #fff;
  overflow: hidden;
}
.promo-politics .tab-controls li {
  display: table-cell;
  margin: 0;
  padding: 7px 8px;
  border-left: 1px solid #e1e1e1;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.promo-politics .tab-controls li:first-child {
  border: 0;
}
.promo-politics li.active {
  background: #e74c3c;
  color: #fff;
}
.promo-politics .views-row {
  border-top: 1px solid #fff;
  border-bottom: 0;
}
.promo-politics .info {
  position: static;
}
.promo-politics .views-field-title {
  margin: 0 0 20px;
}
.promo-politics .views-field-field-main-category {
  display: none;
}
.promo-politics .views-field-created {
  position: absolute;
  bottom: 10px;
  left: 84px;
}
.promo-politics .more {
  display: block;
  margin: 0 12px;
  padding: 5px 10px;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  text-align: center;
  background: #fff;
  color: #33393d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body:not(.touch) .promo-politics .more:hover {
  border-color: #e74c3c;
  background: #e74c3c;
  color: #fff;
}

@media screen and (min-width:601px) and (max-width:969px) {
  .promo-politics .view-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .promo-politics .views-row {
    -webkit-flex: 1 0 calc(50% - 4px);
    -ms-flex: 1 0 calc(50% - 4px);
    flex: 1 0 calc(50% - 4px);
  }
}
