
/* Promo categories */
.home-promo-cat .view-content {
  margin:0 0 -35px -35px;
}
.home-promo-cat .views-row {
  float:left;
  width:33.3333%;
}
.home-promo-cat .promo-first {
  width:66.6666%;
}
.home-promo-cat .views-row-inner {
  position:relative;
  margin:0 0 35px 35px;
}
.promo-first .views-row-inner {
  width:auto;
  padding:18px 18px 45px;
  border:0;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
}
body:not(.touch) .promo-first .views-row-inner:hover {
  box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
}
.promo-first .views-field-field-cover-media {
  margin:-18px -18px 18px;
}
.promo-first .custom-style {
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition:-webkit-transform 0.3s;
  -ms-transition:-ms-transform 0.3s;
  transition:-webkit-transform 0.3s;
}
body:not(.touch) .promo-first .views-row-inner:hover .custom-style {
  -webkit-transform:scale(1.1);
  -ms-transform:scale(1.1);
  transform:scale(1.1);
}
.promo-first .views-field-field-cover-media:before {
  content:'';
  position:absolute;
  left:-18px;
  right:-18px;
  bottom:0;
  z-index:1;
  height:100%;
  max-height:220px;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.promo-first .info {
  position:relative;
}
.promo-first .bottom-info {
  margin:0 18px;
}
.promo-first .top-info {
  position:absolute;
  bottom:25px;
  left:2px;
  right:2px;
  z-index:1;
  color:#fff;
}
.promo-first .label:not(.breaking-label) {
  display:inline-block;
  max-width:100%;
  margin:0 0 5px;
  border-top:2px solid #fc7438;
  border-bottom:2px solid #fc7438;
  font-weight:bold;
  color:#fff;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.promo-first .breaking-label {
  display:none;
}
.promo-first .views-field-title {
  margin:0;
  font-size:4.4rem;
  line-height:48px;
  font-weight:bold;
}
.promo-first .views-field-body {
  margin:0;
}
.promo-secondary .views-row-inner {
  margin-bottom:0;
  padding:12px 0;
  border-top:1px solid #e1e1e1;
  overflow:hidden;
}
.promo-secondary.views-row-6 .views-row-inner {
  border-bottom:1px solid #e1e1e1;
  margin-bottom:35px;
}
.promo-secondary .views-field-field-cover-media {
  float:left;
  width:75px;
  overflow:hidden;
}
.promo-secondary .views-field-field-cover-media .field-content {
  margin:0 -27px;
}
.promo-secondary .info {
  margin:0 0 0 90px;
}
.promo-secondary .breaking-frame {
  display:none;
}
.promo-secondary .views-field-title {
  margin:0 0 2px;
  font-size:1.5rem;
  font-weight:bold;
}
.promo-secondary .views-field-body {
  display:none;
}
.promo-secondary .bottom-info {
  position:static;
  margin:0;
  max-height:none;
}
.promo-wrapper {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.promo-more {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.promo-more.views-row-7 {
  clear:left;
}

/* Bet */
.bet-block h3 {
  text-align:left;
  margin-right:400px;
}
.bet-block .content {
  position:relative;
}
.bet-list {
  position:absolute;
  top:-72px;
  right:0;
}
.bet-list li {
  float:left;
  list-style:none;
  margin:0 0 0 35px;
  font-size:2.4rem;
}
.bet-list li a {
  position:relative;
  text-transform:uppercase;
  color:#0a2a42;
}
body:not(.touch) .bet-list li a:hover {
  color:#fc7438;
}
.bet-list li a:before {
  content:'';
  display:inline-block;
  vertical-align:middle;
  width:31px;
  height:31px;
  margin:0 8px 0 0;
  border:1px solid #fc7438;
  border-radius:50%;
  background:url(../../images/sprite.svg) -140px -203px no-repeat;
}
.bet-list li.livescore a:before {
  background-position:-168px -203px;
}
.bet-list li a:after {
  content:'';
  position:absolute;
  border-bottom:2px solid #fc7438;
  left:41px;
  right:0;
  bottom:0;
}

@media screen and (max-width:969px) {
  .home-promo-cat .promo-first {
    float:none;
    width:100%;
  }
  .home-promo-cat .view-content {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
  }
  .t-vertical {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
  }
  .home-promo-cat .t-vertical {
    width:50%;
  }
  .home-promo-cat .t-vertical:nth-child(2n+1) {
    clear:left;
  }
  .promo-more.views-row-7 {
    clear:none;
  }
  .home-promo-cat .promo-secondary .views-row-inner {
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    padding: 0;
    border:0;
  }
  .home-promo-cat .t-vertical .views-row-inner {
    margin:0 0 35px 35px;
    padding:20px 20px 45px;
    box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  }
  .home-promo-cat .t-vertical:nth-last-child(-n+2) .views-row-inner {
    margin-bottom:0;
  }
  .home-promo-cat .promo-secondary .views-field-field-cover-media {
    float:none;
    width:auto;
  }
  .t-vertical .views-field-field-cover-media {
    margin:-20px -20px 18px;
  }
  .t-vertical .views-field-field-cover-media .field-content {
    margin:0;
  }
  .home-promo-cat .promo-secondary .info {
    margin:0;
  }
  .t-vertical .views-field-title {
    margin:0 0 10px;
    font-size:2rem;
    line-height:22px;
  }
  .t-vertical .views-field-body {
    display:block;
  }
  .home-promo-cat .promo-secondary .bottom-info {
    position:absolute;
    bottom:15px;
    left:20px;
    right:20px;
  }
}

@media screen and (max-width:700px) {
  .bet-list {
    position:static;
    margin:-5px 0 20px;
    overflow:hidden;
  }
  .bet-list li {
    margin:0;
  }
  .bet-list li.livescore {
    float:right;
  }
}

@media screen and (max-width:600px) {
  .home-promo-cat .t-vertical {
    float:none;
    width:100%;
    margin:0;
    border-top:1px solid #e1e1e1;
  }
  .home-promo-cat .t-vertical .views-row-inner {
    min-height:100px;
    margin:0;
    padding:17px 0;
    box-shadow:0 0 0 #fff;
  }
  .t-vertical.promo-teaser .views-row-inner {
    min-height:0;
  }
  .home-promo-cat .t-vertical .views-field-field-cover-media {
    position:absolute;
    top:17px;
    bottom:17px;
    left:0;
    width:100px;
    height:auto;
    margin:0 13px 0 0;
  }
  .home-promo-cat .t-vertical .info {
    margin:0 0 0 113px;
  }
  .promo-teaser.t-vertical .info {
    margin:0;
  }
  .t-vertical .views-field-title {
    margin:0 0 8px;
    font-size:1.8rem;
    line-height:22px;
  }
  .t-vertical .views-field-body {
    display:none;
  }
  .home-promo-cat .t-vertical .bottom-info {
    position:static;
  }
  .home-promo-cat .view-content {
    margin:0;
  }
  .home-promo-cat .promo-first {
    margin:0 0 20px;
  }
  .promo-first .views-row-inner {
    margin:0;
  }
  .promo-first .views-field-title {
    font-size:3rem;
    line-height:32px;
  }
  .home-promo-cat .t-vertical {
    float:none;
  }
  .home-promo-cat .views-row-2 {
    border:0;
  }
  .home-promo-cat .views-row-2 .views-row-inner {
    padding-top:0;
  }
  .home-promo-cat .views-row-last .views-row-inner {
    padding-bottom:0;
  }
  .home-promo-cat .views-row-2 .views-field-field-cover-media {
    top:0;
  }
  .home-promo-cat .views-row-last .views-field-field-cover-media {
    bottom:0;
  }
  .bet-list li {
    font-size:1.8rem;
  }
}

@media screen and (max-width:420px) {
  .t-vertical .views-field-title {
    margin:0 0 8px;
    font-size:1.5rem;
    line-height:18px;
  }
  .bet-list {
    margin:-5px 0 15px;
  }
  .bet-list li {
    font-size:1.6rem;
  }
  .promo-first .views-field-title {
    font-size:2rem;
    line-height:22px;
  }
  .promo-first .views-field-field-main-category {
    display:none;
  }
  .promo-first .views-row-inner {
    margin:0 -20px;
    padding:0;
  }
  .promo-first .info {
    position:static;
  }
  .promo-first .views-field-field-cover-media {
    margin:0;
  }
  .promo-first .top-info {
    bottom:38px;
    left:20px;
    right:20px;
  }
  .promo-first .views-field-disqus-comment-count .comments-counter {
    display:none;
  }
  .promo-first .views-field-body {
    display:none;
  }
  .promo-first .bottom-info {
    z-index:1;
    margin:0 20px;
    color:#fff;
  }
}