/* WebTV teaser */
.page-gallery h1 {
  color: #18364e;
}
.webtv-teaser .view-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 -35px -35px;
}
.webtv-teaser .views-row {
  position: relative;
  width: calc(33.3333% - 35px);
  margin: 0 0 35px 35px;
  font-size: 2rem;
  line-height: 22px;
  background: #0a2a42;
  color: #fff;
}
.webtv-teaser .views-row-1 {
  width: calc(100% - 370px);
  min-height: 350px;
}
.webtv-teaser .ad {
  width: 300px;
  margin: 0 0 35px 35px;
}
.webtv-teaser__thumb {
  display: block;
  padding-bottom: 46.4%;
  background-position: 50% 50%;
  background-size: cover;
}
.webtv-teaser__thumb--big {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.webtv-teaser__counter {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 12px 10px 38px;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0 0 1px rgba(255, 255, 255, 0.2);
}
.webtv-teaser__counter:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 12px;
  width: 40px;
  height: 35px;
  margin: -7px 0 0;
  background: url(../../images/sprite.svg) -143px -110px no-repeat;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.webtv-teaser__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 25px 25px;
  background: #0a2a42;
}
.webtv-teaser__title {
  padding: 20px 25px;
  font-weight: bold;
}
.webtv-teaser__title--big {
  margin: 0 0 8px;
  padding: 0;
  font-size: 3.6rem;
  line-height: 38px;
}
.webtv-teaser__summary {
  font-size: 1.4rem;
  line-height: 20px;
  font-family: 'Roboto Slab',serif;
}
.webtv-teaser__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
  opacity: 0;
  text-indent: -9999px;
  overflow: hidden;
}

/* Promo Gallery */
.promo-webtv {
  background: #0a2a42;
}
.promo-webtv h3 a {
  color: #fff;
}
.promo-webtv .view-content {
  position: relative;
  display: block;
  margin-bottom: 0;
}
.promo-webtv .views-row {
  width: auto;
  margin: 0 0 35px calc(66.6666% + 35px);
  background: #fff;
  color: #0a2a42;
}
.promo-webtv .views-row-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(66.6666% - 35px);
  height: 100%;
  margin: 0 0 0 35px;
}
.promo-webtv .webtv-teaser__info {
  background: #fff;
}
.promo-webtv .webtv-teaser__summary {
  color: #878787;
}

/* Related Gallery */
.related-gallery-block {
  margin-top: -70px;
  padding: 30px 69px 35px;
  background: #0a2a42;
  box-shadow: 1000px 0 0 0 #0a2a42, -1000px 0 0 0 #0a2a42;
}
.related-gallery-block h3 {
  max-width: 970px;
  margin: 0 auto 30px;
  font-size: 4rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: #fff;
}
.related-gallery-block .views-row {
  width: calc(33.3333% - 35px);
  background: #fff;
  color: #0a2a42;
}

@media screen and (max-width: 969px) {
  .promo-webtv .view-content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .webtv-teaser .views-row {
    width: calc(50% - 35px);
    margin: 0 0 35px 35px;
  }
  .webtv-teaser .views-row-1 {
    position: relative;
    width: 100%;
    height: 450px;
    min-height: none;
  }
  .webtv-teaser__thumb {
    padding-bottom: 60%;
  }
  .webtv-teaser__thumb--big {
    padding: 0;
  }

  /* Related Gallery */
  .related-gallery-block {
    margin-top: -50px;
    padding: 25px 50px 30px;
    box-shadow: 0 0;
  }
  .related-gallery-block h3 {
    margin: 0 0 25px;
    font-size: 3rem;
    line-height: 3rem;
  }
  .related-gallery-block .views-row {
    width: calc(50% - 35px);
    height: auto;
  }
  .related-gallery-block .views-row-3 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .related-gallery-block {
    margin-top: -40px;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 600px) {
  .webtv-teaser .view-content {
    display: block;
    margin: 0;
  }
  .webtv-teaser .views-row {
    width: auto;
    margin: 0 0 20px;
  }
  .webtv-teaser .views-row-1 {
    margin: 0 -40px 20px;
  }

  /* Related Gallery */
  .related-gallery-block {
    padding: 20px 40px;
  }
  .related-gallery-block .views-row-3 {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .webtv-teaser .views-row {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .webtv-teaser .views-row-1 {
    height: 350px;
    margin: 0 -20px 20px;
  }
  .webtv-teaser__info {
    padding: 15px 20px 20px;
  }
  .webtv-teaser__title {
    padding: 15px 20px;
  }
  .webtv-teaser__title--big {
    padding: 0;
    font-size: 3rem;
    line-height: 3.2rem;
  }

  /* Related Gallery */
  .related-gallery-block {
    margin-top: -20px;
    padding: 20px 20px 0;
    box-shadow: 0 0;
  }
  .related-gallery-block h3 {
    margin: 0 0 20px;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .related-gallery-block .views-row-1 {
    height: auto;
  }
}
