/* Skitso */
.sketch-poll {
  background:#33393d; 
}
.sketch-poll .content {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin:0 0 0 -35px;
}
.promo-sketch {
  float:left;
  width:66.6666%;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.promo-sketch .view {
  position:relative;
  -webkit-flex:1;
  -ms-flexbox:1;
  flex:1;
  margin:0 0 0 35px;
  padding:20px;
  background:#fff;
}
.promo-sketch .views-field-field-cover-media {
  margin:-20px -20px 15px;
}
.promo-sketch .views-field-title {
  margin:0 0 18px;
  font-size:2rem;
  line-height:22px;
  font-weight:bold;
  color:#fc7438;
}
.promo-sketch .views-field-body {
  margin:0 0 18px;
  font-size:1.6rem;
  line-height:20px;
  color:#22282c;
}
.promo-sketch .views-field-field-main-category {
  float:left;
  margin:0 5px 0 0;
  font-size:1.2rem;
  line-height:13px;
  font-family:'Roboto Slab',serif;
  color:#5a81a0;
}
/* Poll */
.promo-poll {
  float:left;
  width:33.3333%;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.promo-poll .content {
  display: block;
  margin: 0;
}

@media screen and (max-width:969px) {
  .promo-sketch,
  .promo-poll {
    float:none;
    display:block;
    width:100%;
  }
  .sketch-poll .content {
    margin:0;
  }
  .promo-sketch {
    margin:0 0 50px;
  }
  .promo-sketch .view,
  .poll-wrapper {
    margin:0;
  }
}

@media screen and (max-width:700px) {
  .promo-sketch {
    margin:0 0 40px;
  }
}

@media screen and (max-width:420px) {
  .promo-sketch {
    margin:0 0 20px;
  }
}
