/* Slider */
.sliding-outer {
  position:relative;
}
.sliding-container {
  -ms-transform:translate(0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  /*-webkit-transition:0.3s -webkit-transform;
  transition:0.3s transform;*/
}
ul.slider-pager {
  position:absolute;
  left:0;
  right:0;
  bottom:-60px;
  text-align:center;
}
ul.slider-pager li {
  display:inline-block;
  width:10px;
  height:10px;
  margin:0 2px 4px;
  padding:0;
  border-radius:50%;
  text-indent:-9999px;
  background:#2f2f2f;
  box-shadow:inset 0 0 0 5px #6e6e6e;
  overflow:hidden;
  cursor:pointer;
  -webkit-transition:box-shadow 0.3s ease;
  transition:box-shadow 0.3s ease;
}
body:not(.touch) .slider-pager li:hover,
.slider-pager li:focus {
  box-shadow:inset 0 0 0 5px #fff;
}
.slider-pager li.active {
  box-shadow:inset 0 0 0 1px #fff;
  background:#2f2f2f;
}
.slider-controls span {
  position:absolute;
  top:50%;
  left:-50px;
  z-index:2;
  width:66px;
  height:66px;
  margin:-34px 0 0;
  padding:0;
  border:1px solid #e6e6e6;
  border-radius:4px;
  text-indent:-9999px;
  background:#fff url(../../images/sprite.svg) 23px -87px no-repeat;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  -webkit-transition:0.3s background-color, 0.3s border-color;
  transition:0.3s background-color, 0.3s border-color;
  cursor:pointer;
}
.slider-controls .next {
  left:auto;
  right:-50px;
  background-position:-23px -87px;
}
body:not(.touch) .slider-controls span:hover {
  border-color:#fc7438;
  background:#fc7438 url(../../images/sprite.svg) 23px -137px no-repeat;
}
body:not(.touch) .slider-controls .next:hover {
  background-position:-23px -137px;
}
.slider-controls .disabled {
  display:none;
}
.sliding-outer .slider-pager {
  bottom:-35px;
  height:10px;
}
.sliding-outer .slider-pager li {
  background:#b4bdc5;
  box-shadow:inset 0 0 0 5px #b4bdc5;
  cursor:default;
}
body:not(.touch) .sliding-outer .slider-pager li:hover,
.bx-pager-item a:focus {
  box-shadow:inset 0 0 0 5px #233f56;
}
.sliding-outer .slider-pager li.active {
  box-shadow:inset 0 0 0 1px #233f56;
  background:#fff;
}

@media screen and (max-width:969px) {
  .sliding-outer .slider-controls span {
    left:-25px;
  }
  .sliding-outer .slider-controls .next {
    left:auto;
    right:-25px;
  }
  .sliding-outer .slider-pager {
    bottom:-25px;
  }
}

@media screen and (max-width:700px) {
  .sliding-outer .slider-pager {
    bottom:-22px;
  }
}
