.vertical-teaser .view-content {
  margin:0 0 0 -35px;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
.vertical-teaser .views-row {
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  float:left;
  width:33.3333%;
  margin:0 0 35px;
}
.vertical-teaser .views-row:nth-child(3n+1) {
  clear:left;
}
.vertical-teaser .views-row-inner {
  position:relative;
  -webkit-flex:1;
  -ms-flex:1;
  flex:1;
  margin:0 0 0 35px;
  padding:20px 20px 45px;
  background:#fff;
  box-shadow:0 0 7px rgba(120, 138, 148, 0.3);
  overflow:hidden;
}
body:not(.touch) .vertical-teaser .views-row-inner:hover {
  box-shadow:0 0 7px rgba(120, 138, 148, 0.6);
}
.vertical-teaser .views-field-field-cover-media {
  margin:-20px -20px 15px;
}
.vertical-teaser .labeled:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
  margin:0;
  opacity:1;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}
.vertical-teaser .views-field-disqus-comment-count .comments-counter {
  margin:52px 0 0 5px;
}
.promo-teaser .views-field-disqus-comment-count .comments-counter {
  margin:2px 0 0 5px;
}
.breaking-teaser.promo-teaser .views-field-disqus-comment-count .comments-counter {
  margin-top:37px;
}
.vertical-teaser .views-field-field-article-label {
  position:relative;
  z-index:1;
  height:21px;
  margin:-53px 0 30px;
}
.vertical-teaser.promo-teaser .views-field-field-article-label,
.vertical-teaser .promo-teaser .views-field-field-article-label {
  height:auto;
  margin:20px 0 10px;
}
.breaking-teaser.promo-teaser .breaking-label {
  display:block;
  margin:-21px 0 0;
  opacity:0;
  visibility:hidden;
}
.vertical-teaser .label:not(.breaking-label) {
  display:inline-block;
  max-width:calc(100% - 42px);
  border-top:2px solid #fc7438;
  border-bottom:2px solid #fc7438;
  font-size:1.2rem;
  line-height:17px;
  font-weight:bold;
  color:#fff;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.vertical-teaser.promo-teaser .label:not(.breaking-label),
.vertical-teaser .promo-teaser .label:not(.breaking-label) {
  color:#fc7438;
}
.vertical-teaser .breaking-label {
  display:none;
}
.vertical-teaser .views-field-title {
  margin:0 0 8px;
  font-size:2rem;
  line-height:22px;
  font-weight:bold;
}
.vertical-teaser .promo-title {
  padding:5px 0 0;
  font-size:3.2rem;
  line-height:34px;
  color:#254c6b;
  overflow:hidden;
  text-overflow:ellipsis;
}

@media screen and (max-width:969px) {
  .vertical-teaser .views-row {
    width:50%;
  }
  .vertical-teaser .views-row:nth-child(3n+1) {
    clear:none;
  }
  .vertical-teaser .views-row-odd,
  .vertical-teaser .views-row:nth-child(2n+1) {
    clear:left;
  }
}

@media screen and (max-width:600px) {
  .vertical-teaser .views-field-field-cover-media * {
    height:100%;
    padding:0;
  }
  .vertical-teaser .views-field-field-cover-media .field-content {
    display:block;
    margin:0 -100px;
    text-align:center;
  }
  .vertical-teaser .views-field-field-cover-media img {
    position:static;
    height:100% !important;
    max-width:none;
    width:auto;
  }
  .vertical-teaser .view-content {
    margin:0;
  }
  .vertical-teaser .views-row {
    float:none;
    width:100%;
    margin:0 0 20px;
  }
  .vertical-teaser .views-row-inner {
    margin:0;
    min-height:74px;
    padding:13px;
  }
  body:not(.touch) .vertical-teaser .views-row-inner:hover {
    box-shadow:0 0 0 #000;
  }
  .vertical-teaser .views-field-field-cover-media {
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100%;
    margin:0;
  }
  .vertical-teaser .info {
    margin:0 0 32px 100px;
  }
  .vertical-teaser .promo-teaser .info {
    margin:0;
  }
  .views-field-field-article-label {
    display:none;
  }
  .vertical-teaser .views-field-disqus-comment-count .comments-counter {
    margin:0 0 0 5px;
  }
  .vertical-teaser .views-field-title {
    font-size:1.6rem;
    line-height:18px;
  }
  .vertical-teaser .promo-title {
    font-size:2rem;
    line-height:22px;
  }
  .vertical-teaser .views-field-body {
    display:none;
  }
  .vertical-teaser .bottom-info {
    margin:0;
    left:113px;
    right:13px;
  }
}