.conversations {
    margin: 0;
    display: block;
    padding: 0 15px;
    list-style: none;
    background: #fff;
}

.emoji {
    height: 1.5em;
    width: 1.5em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.3em;
}

.conversations li a {
    color: #000;
    display: flex;
    padding: 15px 0;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    border-bottom: 1px solid #e4e4e4;
}

.conversations li .avatar {
    margin: 0;
    height: 50px;
    flex: 0 0 50px;
}

.conversations li div:nth-of-type(1) {
    flex: 3;
    overflow: hidden;
    padding-left: 10px;
}

.conversations li div:nth-of-type(2) {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.conversations li div:nth-of-type(1) h1, .conversations li div:nth-of-type(1) h2, .conversations li div:nth-of-type(1) span {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.conversations li div:nth-of-type(1) h1 {
    font-size: 14px;
    color: #000;
}

.conversations li div:nth-of-type(1) h2 {
    color: #000;
    margin: 3px 0;
    font-size: 12px;
    font-weight: 300;
}

.conversations li div:nth-of-type(1) span {
    font-size: 12px;
    color: #999;
}
.conversations li div:nth-of-type(1) span::before {
    font-size: 16px;
    margin: -2px 5px 0 0;
}
.conversations li div:nth-of-type(2) time {
    font-size: 12px;
    text-transform: uppercase;
}
.conversations li div:nth-of-type(2) .count {
    width: 16px;
    color: #fff;
    height: 16px;
    display: block;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    padding: 2px 0 0 0;
    background: #02b875;
    box-sizing: border-box;
}

.conversations li div:nth-of-type(2) .count.empty {
    display: none;
}

.conversation {
    height: 100%;
    display: flex;
    background: #fff;
    position: relative;
    flex-direction: column;
}

.conversation header {
    flex: 0 0 50px;
}

.conversation .messages-list {
    height: 300px;
    display: flex;
    overflow: auto;
    padding: 5px 0;
    flex-basis: 100%;
    background: #ebeff1;
    flex-direction: column-reverse;
}
.conversation .messages-list ol {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
}

.conversation .messages-list ol li {
    flex: 1;
    min-height: 0;
    display: flex;
    margin: 5px 0;
    box-sizing: border-box;
}

.conversation .messages-list ol li .bubble {
    display: flex;
    padding: 10px;
    max-width: 65%;
    border-radius: 3px;
    position: relative;
    align-items: stretch;
    justify-content: space-around;
    box-shadow: 0 0 1px 0 #cccccc;
}

.conversation .messages-list ol li.mine, .conversation .messages-list ol li.theirs {
    padding: 0 15px;
}

.conversation .messages-list ol li.mine {
    justify-content: flex-end;
}

.conversation .messages-list ol li .bubble.first-of-group::before {
    top: 0;
    width: 0;
    height: 0;
    content: "";
    position: absolute;
    border-style: solid;
}

.conversation .messages-list ol li.mine .bubble.first-of-group {
    border-top-left-radius: 0;
}

.conversation .messages-list ol li.mine .bubble.first-of-group::before {
    right: -8px;
    border-width: 10px 10px 0 0;
    border-color: #90a4ae transparent transparent transparent;
}

.conversation .messages-list ol li.theirs .bubble.first-of-group {
    border-top-left-radius: 0;
}

.conversation .messages-list ol li.theirs .bubble.first-of-group::before {
    left: -8px;
    border-width: 0 10px 10px 0;
    border-color: transparent #ffffff transparent transparent;
}

.conversation .messages-list ol li.mine .bubble {
    color: #fff;
    background: #90a4ae;
}

.conversation .messages-list ol li.theirs .bubble {
    background: #fff;
}

.conversation .messages-list ol li .bubble p {
    margin: 0;
    flex-basis: 90%;
    word-break: break-all;
}

.conversation .messages-list ol li .bubble.image {
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.conversation .messages-list ol li .bubble.image img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    border-radius: 3px;
}

.conversation .messages-list ol li .bubble time {
    margin: 3px 0 0 10px;
    font-size: 10px;
}

.conversation .messages-list ol li .bubble .status {
    width: 10px;
    display: flex;
    flex: 0 0 10px;
    margin: 0 0 0 5px;
}

.conversation .messages-list ol li .bubble time {
    width: 40px;
    flex: 0 0 40px;
}

.conversation .messages-list ol li .bubble .status::before, .conversation .messages-list ol li .bubble .status::after {
    font-size: 15px;
}

.conversation .messages-list ol li .bubble .status::after {
    margin-left: -10px;
}

.conversation .messages-list ol li .bubble .status.sended::before {
    color: #fff;
    content: "\e90a";
}

.conversation .messages-list ol li .bubble .status.received::before, .conversation .messages-list ol li .bubble .status.received::after {
    color: #fff;
    content: "\e90a";
}

.conversation .messages-list ol li .bubble .status.displayed::before, .conversation .messages-list ol li .bubble .status.displayed::after {
    color: #00eeff;
    content: "\e90a";
}

.conversation header {
    color: #fff;
    display: flex;
    padding: 0 15px;
    align-items: center;
    box-sizing: border-box;
}

.conversation header .userInfo {
    flex: 10;
    height: 100%;
    margin: 25px 0 0 10px;
}
.conversation header .userInfo h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.conversation header .avatar {
    margin: 0;
    height: 40px;
    flex: 0 0 40px;
    position: relative;
}

.conversation header .avatar span {
    bottom: 0;
    right: 2px;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #ccc;
    border: 1px solid #02b875;
}

.conversation header .avatar span.available {
    background-color: #01D889;
}

.conversation header .icons {
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.conversation header .icons::before {
    font-size: 30px;
}

.conversation header .icon-attach {
    transform: rotate(-125deg);
}

.conversation footer {
    height: 50px;
}
.conversation footer form {
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    border-top: 1px solid #ccc;
}

.conversation footer form p {
    margin: 0;
    padding: 0 10px;
    font-size: 12px;

}
.conversation footer form p span {
    color: #607d8b;
    cursor: pointer;
}
.conversation footer input[type=text] {
    flex-grow: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 25px;
    box-sizing: border-box;
}

.conversation footer input[type=submit] {
    border: none;
    outline: none;
    color: #02b875;
    padding: 0 20px;
    font-size: 26px;
    background: none;
    font-family: 'icons-font';
}

.conversation .messages-list ol li.message-item a {
    width: 100%;
    color: #fff;
    height: 72px;
    display: flex;
    align-items: center;
    background: #547281;
    text-decoration: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
}

.conversation .messages-list ol li.message-item figure {
    margin: 0;
    padding: 0;
    width: 72px;
    height: 72px;
    flex: 0 0 72px;
    background-size: cover;
    background-position: center;
}
.conversation .messages-list ol li.message-item div {
    overflow: hidden;
    margin: 0 0 0 10px;
}

.conversation .messages-list ol li.message-item div h2 ,.conversation .messages-list ol li.message-item div span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.conversation .messages-list ol li.message-item div h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 300;
}

.emptyChat {
    height: 100%;
    padding: 20px;
    text-align: center;
}
.emptyChat figure {
    padding: 0;
    width: 100%;
    height: 30%;
    margin: 20px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/emptyChat.png');
}
.emptyChat h1 {
    font-size: 16px;
    font-weight: 400;
}

