/* ToDo CleanUp: renombrar rules y unificarlas */
.wrapper {
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.drawer-toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.pure-toggle-label {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    color: #666;
    width: 40px;
    height: 40px;
    transition: all 400ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.pure-toggle-label:hover {
    color: #666;
}

.pure-toggle-label:hover .pure-toggle-icon,
.pure-toggle-label:hover .pure-toggle-icon:before,
.pure-toggle-label:hover .pure-toggle-icon:after {
    background-color: #666;
}

.pure-toggle-label:active {
    -webkit-tap-highlight-color: transparent;
}

.pure-toggle-label .pure-toggle-icon,
.pure-toggle-label .pure-toggle-icon::before,
.pure-toggle-label .pure-toggle-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 24px;
    cursor: pointer;
    background: #FFF;
    display: block;
    content: '';
    transition: all 500ms ease-in-out;
}
.pure-toggle-label .pure-toggle-icon {
    top: 50%;
    left: 10px;
}
.pure-toggle-label .pure-toggle-icon::before {
    top: 9px;
}

.pure-toggle-label .pure-toggle-icon::after {
    top: -9px;
}

.drawer {
    background-color: #fff;
    box-shadow: 0 0 5px 0 #000;
    position: absolute;
    top: 0;
    left: -230px;
    z-index: 100;
    height: 100%;
    will-change: transform;
    pointer-events: auto;
    width: 230px;

    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;

    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.container {
    box-sizing: border-box;
    padding-top: 60px;
}

.drawer-overlay {
    position: fixed;
    z-index: 80;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .54);
    transition: opacity .2s ease-in;
}

.drawer-toggle:checked ~ .drawer-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.drawer-toggle:checked ~ .drawer {
    left: 0;
}
