#root, .container {
    height: 100%;
}
.categories.slider {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow:row;
    overflow-x: scroll;
    overflow-y: hidden;
}
.categories.slider li {
    flex: 1;
    display: flex;
    font-size: 10px;
    padding: 10px 5px;
    min-width: 60px;
    list-style: none;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.categories.slider li a {
    color: #999;
    text-decoration: none;
}

.categories.slider li a::before {
    width: 50px;
    height: 50px;
    color: #607d8b;
    background: #fff;
    line-height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.categories.slider li span {
    color: #999;
    line-height: 1.3;
    text-decoration: none;
    display: block;
    overflow: hidden;
    height: 28px;
}

.categories.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories.list li {
    border-bottom: 1px solid #eee;
}
.categories.list li a {
    color: #999;
    text-decoration: none;
    background-color: #fff;
    display: block;
    padding: 9px 12px;
    line-height: 1.2;
    box-sizing: border-box;
}

.categories.list li a:focus {
    background: #ddeeff;
    outline: none;
}

.categories.list li a::before {
    content: inherit;
    width: 24px;
    color: #607d8b;
    position: absolute;
}

.categories.list li a span {
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0 0 32px;
}

.item-container,
.home-container,
.listing-container {
    margin-bottom: 60px;
}

.item {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    position: relative;
    margin: 12px;
}

.item-info {
    padding: 12px;
}

.item-price {
    margin: 0 0 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    z-index: 1;
    position: absolute;
    bottom: 16px;
    left: 10px;
}

.item-date,
.item-location {
    margin-bottom: 8px;
    color: #999;
    font-size: 12px;
    line-height: 1;
}
.item-date::before,
.item-location::before {
    margin-right: 4px;
    font-size: 16px;
}
.item-date::before,
.item-date span,
.item-location::before,
.item-location span {
    display: inline-block;
    vertical-align: middle;
}

.item-title {
    font-size: 16px;
    font-weight: normal;
    margin: 16px 0;
    padding: 0;
    word-break: break-word;
}
.item-description {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 16px;
    padding: 0;
    word-break: break-word;
}

.item-optionals {
    padding: 8px;
    list-style: none;
    background-color: #fff;
}

.item-optionals-item {
    padding: 5px 0;
    font-size: 12px;
}
.item-optionals-item:last-child {
    border-bottom: none;
}
.item-optionals-item span {
    color: #666;
    margin-right: 8px;
    width: 30%;
}
.item-optionals-item strong {
    border-bottom: 1px solid #eee;
    width: 66%;
}
.item-optionals-item span,
.item-optionals-item strong {
    display: inline-block;
}

.item-images {
    background: #ccc 50% 50%;
    padding-bottom: 75%;
    overflow: hidden;
    position: relative;
    display: block;
    background-size: cover;
}
.item-images img {
    margin-top: -75%;
    width: 100%;
}
.item-images-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .54);
    z-index: 1;
}
.item-images-counter::before {
    margin-right: 8px;
}

.item-publication {
    position: absolute;
    bottom: 6px;
    color: #FFF;
    z-index: 1;
    left: 10px;
    font-weight: 400;
}
.item-publication:first-letter{
    text-transform: uppercase;
}
.item-cta {
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);
}

.item-cta a {
    color: #fff;
    width: 100%;
    margin: 5px;
    height: 40px;
    display: block;
    line-height: 40px;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 1px solid #02b875;
    background-color: #02b875;
}


.item-cta a.phone {
    color: #02b875;
    background-color: #fff;
}

.contact-actions div {
    margin: 0 5px;
    display: flex;
    color: #ff7700;
    flex-basis: 33%;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-actions div::before {
    display: block;
}

.contact-actions div:last-child {
    color: #fff;
    background: #ff7700;
}
.contact-actions a {
    color: #fff;
    text-decoration: none;
}


.btn-submit {
     width: 100%;
 }

.link-text {
    color: #999;
    display: inherit;
    text-align: center;
    text-decoration: none;
}

ul.items {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
}
ul.items li.item .mdl-button {
    top: 5px;
    right: 5px;
    color: #ccc;
    font-size: 20px;
    position: absolute;
}
ul.items li.item .action-menu {
    top: 40px;
    right: 5px!important;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
ul.items li.item .action-menu .mdl-menu__item {
    margin: 0;
    padding: 5px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}
ul.items li.item .action-menu .mdl-menu__item:last-child {
    border: none;
}
ul.items li.item .visible {
    clip: auto;
    opacity: 1;
    z-index: 999;
    visibility: visible;
}
ul.items li.item .visible .mdl-menu__item {
    opacity: 1;
    z-index: 999;
    visibility: visible;
}
ul.items li.item {
    padding: 10px;
    background: #fff;
    margin: 5px 0 0 0;
    position: relative;
}
ul.items li.item a {
    display: flex;
    color: #000;
    text-decoration: none;
}
ul.items li.item figure {
    margin: 0 10px 0 0;
    flex: 1 0 0;
    width: 120px;
    height: 90px;
    background-position: center;
    background-size: cover;
    border: 1px solid #dedede;
}

ul.items li.item .data {
    flex: 3 0 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}
ul.items li.item .data span.date {
    color: #02b875;
    font-size: 12px;
}
ul.items li.item .data span.price {
    font-size: 20px;
}
ul.items li.item .data span.id {
    font-size: 12px;
    color: #999;
}
ul.items li.item .data h6 {
    margin: 0;
    color: #000;
    font-size: 14px;
    width: 64%;
    min-height: 48px;
    font-weight: 300;
}

/* POSTING */
.images-uploader {

}
.posting-thumbs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.posting-thumbs li {
    cursor: pointer;
    position: relative;
    width: 50%;
}
.posting-thumbs li small {
    display: none;
    position: absolute;
    background-color: #ccc;
    border-radius: 3px;
    padding: 8px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

@media only screen and (min-width: 320px) {
    .posting-thumbs li {
        width: 33.33%;
    }
}
@media only screen and (min-width: 480px) {
    .posting-thumbs li {
        width: 25%;
    }
}
@media only screen and (min-width: 640px) {
    .posting-thumbs li {
        width: 20%;
    }
}

.posting-thumbs-empty li {
    width: 100%;
}
.posting-thumbs-empty li span {
    padding-bottom: 170px;
}
.posting-thumbs-empty li span::before {
    font-size: 60px;
    color: #fff;
    border-radius: 50%;
    padding: 12px;
    background-color: #02b875;
    margin: 0 0 0 -42px;
    top: 20px;
}
.posting-thumbs-empty li small {
    display: block;
}

.posting-take-picture,
.posting-thumb {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 75%;
    background-color: #fff;
    border: 1px solid #ccc;
    background-position: 50% 50%;
    background-size: cover;
    color: #ddd;
    text-decoration: none;
}
.posting-take-picture {
    color: #02b875;
    background-color: #eee;
}
.posting-take-picture::before {
    position: absolute;
    font-size: 48px;
    margin: -24px 0 0 -24px;
    left: 50%;
    top: 50%;
}
.posting-thumbs-expand {
    background-color: #02b875;
    height: 8px;
    text-align: center;
}
.posting-input-file {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.posting-thumbs-expand::before {
    background-color: #02b875;
    color: #fff;
    border-radius: 0 50% 50% 0;
    padding: 4px;
}

.posting-step {
    border-bottom: 1px solid #eee;
    background-color: #fff;
    padding: 20px 10px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
    line-height: 1;
}

.posting-step:focus {
    background: #ddeeff;
}

.posting-step span {
    background: #999;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    display: inline-block;
    margin-right: 10px;
}

.posting .btn-submit {
    text-transform: none;
    font-size: 18px;
}
.wrapper-related {
    width: 89%;
    padding: 5px 20px;
    background-color: #eceff1;
}
.related-list {
    list-style: none;
    padding: 0;
}
.related-list li {
    width: 94%;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.related-list figure {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
}
.related-list .data {
    width: 75%;
    color: #000;
    font-size: 12px
}
.related-list .data h6 {
    margin: 0;
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    font-weight: 500;
}
.related-list .data .price {
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.item-image-gallery {
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.static-map {
    width: 100%;
}

span.msg-fav {
    top: 0;
    word-wrap: break-word;
    width: 168px;
    text-align: center;
}
span.msg-ads {
    top: 0;
    position: relative;
    width: 173px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.location-profile .icon-pin:before {
    font-size: 14px;
}

.content-edit {
    padding: 13px 16px;
    overflow: hidden;
}
.layer-edit {
    background-color: #FFF;
}
.layer-edit > header.header {
    box-shadow: none;
}

.fav-color {
    position: absolute;
    right: 5px;
    color: #02b875;
    z-index: 1;
    background-color: transparent;
    border: 0;
    bottom: 10px;
}
.image-gallery {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.image-gallery-content {
    position: relative;
}
.image-gallery-content .image-gallery-left-nav,
.image-gallery-content .image-gallery-right-nav {
    color: #fff;
    cursor: pointer;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 6em;
    line-height: 0;
    position: absolute;
    text-shadow: 0 2px 2px #222;
    top: 48%;
    transition: all .2s ease-out;
    z-index: 4;
}
@media (max-width: 768px) {
    .image-gallery-content .image-gallery-left-nav,
    .image-gallery-content .image-gallery-right-nav {
        font-size: 3.4em;
    }
}
@media (min-width: 768px) {
    .image-gallery-content .image-gallery-left-nav:hover,
    .image-gallery-content .image-gallery-right-nav:hover {
        color: #fff;
    }
}
.image-gallery-content .image-gallery-left-nav {
    left: 0;
}
.image-gallery-content .image-gallery-left-nav::before {
    content: '‹';
    padding: 50px 15px;
}
.image-gallery-content .image-gallery-right-nav {
    right: 0;
}
.image-gallery-content .image-gallery-right-nav::before {
    content: '›';
    padding: 50px 15px;
}

.image-gallery-slides {
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.image-gallery-slide {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.image-gallery-slide.center {
    position: relative;
}
.image-gallery-slide img {
    width: 100%;
}
.image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    transition: all .45s ease-out;
    white-space: normal;
}
@media (max-width: 768px) {
    .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px;
    }
}

.image-gallery-bullets {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
}
.image-gallery-bullets .image-gallery-bullet {
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #222;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
}
@media (max-width: 768px) {
    .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px;
    }
}
.image-gallery-bullets .image-gallery-bullet.active {
    background: #fff;
}

.image-gallery-thumbnails {
    background: #fff;
    overflow: hidden;
    padding-top: 5px;
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: all .45s ease-out;
    white-space: nowrap;
}

.image-gallery-thumbnail {
    display: table-cell;
    padding-right: 5px;
}
.image-gallery-thumbnail img {
    border: 4px solid transparent;
    transition: border .3s ease-out;
    vertical-align: middle;
    width: 100px;
}
@media (max-width: 768px) {
    .image-gallery-thumbnail img {
        border: 3px solid transparent;
        width: 75px;
    }
}
.image-gallery-thumbnail.active img {
    border: 4px solid #337ab7;
}
@media (max-width: 768px) {
    .image-gallery-thumbnail.active img {
        border: 3px solid #337ab7;
    }
}

.image-gallery-thumbnail-label {
    color: #222;
    font-size: 1em;
}
@media (max-width: 768px) {
    .image-gallery-thumbnail-label {
        font-size: .8em;
    }
}

.image-gallery-index {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    color: #fff;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    right: 0;
    z-index: 4;
}

.image-gallery-image {
    background-color: #fff;
}
.image-gallery-image img {
    vertical-align: top;
}

.login {
    padding: 12px;
}

.login .card {
    padding: 12px;
    margin-bottom: 12px;
    text-align: center;
}

.login-btn-fb {
    padding: 8px 15px;
    width: 100%;
}

.login-btn-fb::before {
    margin-right: 8px;
}
.add-favorite {
    position: absolute;
    display: flex;
    z-index: 1;
    right: 5px;
    bottom: 10px;
    color: #02b875;
    border: 0;
    background-color: transparent;
}
.item .add-favorite, .item .fav-color {
    top: 15px;
    bottom: inherit;
}


.item-images:after {
    position: absolute;
    width: 100%;
    height: 24%;
    content: ' ';
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5));
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.44)), color-stop(61%, rgba(255, 255, 255, 0.11)));
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5));
    bottom: 0;
}
.input-location {
    width: 68%;
    border: 0;
    padding: 8px;
    background-color: #FFF !important;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.55);
    font-size: 12px;
    top: 11% !important;
    left: 17% !important;
}

.error-map{
    position: fixed;
    z-index: 1;
    background-color: #ff4341;
    color: #FFF;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 13px;
}
.no-found {
    text-align: center;
    color: #607d8b;
    font-weight: 500;
}

.no-found p {
    font-size: 36px;
    margin: 0;
}

.no-found small {
    font-size: 18px;
}
.no-found .icon-exclamation:before{
    font-size: 100px;
    border: 10px solid #607d8b;
    border-radius: 50%;
    margin-bottom: 10px;
}
.errors {
    position: fixed;
    bottom: 0;
    background-color: #323232;
    width: 100%;
    min-height: 14px;
    color: #FFF;
    padding: 20px 24px;
    margin-bottom: 0;
    z-index: 50;
}
.errors li {
    line-height: 1.4;
}
