.single .nomargin .entry-content {
    clear: both;
}

.single .controlli {
    width: 100%;
}

.single .controlli-top {
    margin-bottom: 10px;
    max-height: 40px;
}

.single .controlli-top:before, .single .controlli-top:after {
    content: "";
    display: table;
}

.single .controlli-top:after {
    clear: both;
}

.single .controlli-top .controlli {
    width: auto;
    float: right;
}

.single .controlli-top .prev {
    padding: 0 20px;
}

.single .controlli-bottom {
    margin-bottom: 30px;
    display: inline-block;
}

.single .controllo {
    height: 36px;
    line-height: 36px;
    display: block;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 20px;
    float: left;
    background-color: #2da8c6;
    background-position: 50% 50%;
    margin-right: 3px;
    position: relative;
    transition: opacity 100ms ease-in-out;
    border-radius: 3px;
    transition: background 150ms ease-in-out;
}

.single .controlli .prev {
    float: left;
    color: #fff;
    padding: 0 20px 0 30px;
}

.single .controlli .next {
    color: #fff;
    margin: 0;
    padding: 0 48px 0 20px;
    background-position: 90% 50%;
    float: right;
}

.single .controlli .prev:hover, .single .controlli .next:hover {
    background-color: #25a0be;
    text-decoration: none;
}

.single .controlli .controllo.disabled {
    opacity: .3;
    cursor: default;
    background-color: #b3b3b3;
}

.single .controlli i.fa {
    position: absolute;
    top: 10px;
}

.single .controlli .prev i.fa {
    left: 10px;
}

.single .controlli .next i.fa {
    right: 10px;
}

.single .progress {
    float: right;
    color: #2da8c6;
    font-size: 36px;
    margin: 0 10px 0 0;
    min-width: 65px;
}

.single .progress span.step {
    position: relative;
    display: inline-block;
    min-width: 20px;
}

.single .progress span.totSteps {
    line-height: 32px;
    font-size: 18px;
    color: #bfaeb3;
    vertical-align: top;
    line-height: 29px;
}

.single-post-new article .swiper-container .gallery {
    margin-left: 0;
}

@media only screen and (max-width: 480px), only screen and (min-width: 780px) and (max-width: 880px) {
    .single .controlli-top .prev .label {
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    .single .mobile-only {
        display: none;
    }
}

